[2020-09-04 18:50] isuru18113 opened #7855 "Does exoplayer has a feature like bitrate converter for streaming mp3 file"
This is not an issue and I just ask this question to clarify my doubt. I just want to know, If I have stored a 320kbps mp3 in firebase cloud storage, Can I let the users **choose** the **bitrate** of the song (Either 64kbps, 128kbps, or 320kpbs) via **exoplayer**? Or should I have to store 3 different bitrates mp3 files in storage and stream them?

[2020-09-05 03:50] tpuserhp opened #7856 "Streaming one particular link gives flickering video and green screen after upgrading to exoplayer to 2.11.8"
When using exoplayer 2.10.8, I have no problem playing my streams from my app on the Android 10 (Lineage OS 1.7) Oneplus one device. But after upgrading my app to use exoplayer 2.11.8, I started getting video, green screen and pixelation when playing one particular stream. If I fall back to Android 9 of Lineage 1.6, the problem also disappear. I have other devices running Android, 7, Android 9 and

[2020-09-05 03:52] tpuserhp commented on #7856
[bugreport.txt.zip](https://github.com/google/ExoPlayer/files/5177512/bugreport.txt.zip)

[2020-09-05 03:58] tpuserhp commented on #7856
Sorry. Reopen the issue as it was closed by mistake

[2020-09-05 04:33] krackjack234 commented on #7719
Thanks for the clarifications.

[2020-09-05 04:33] krackjack234 commented on #7745
Hi, we are not able to reproduce this with vanilla exoplayer app. We will check more on this

[2020-09-05 12:12] marcbaechinger commented on #7848
Thanks for your question! Your understanding is correct.

Firstly, regarding #3327 and looping aside, if the user skips to the next window from an arbitrary position in the window, you would need #3327 in any case to have the player never re-buffer (given the media duration of a single window is not much smaller than max buffered duration).

Besides this and if I understand correctly, the key prob

[2020-09-05 16:34] hinditutorpoint opened #7857 "Screen rotation issue"
Dear sir
Facing screen rotation related issue if we flip horizontal or vertical the flip screen both playerview and controller view I want flip only player view
I trying with code
playerView.setRotationX(playerView.getRotationX+180f);

Sorry for any typo
Thanks for advance

[2020-09-06 04:02] zengcanxiang opened #7858 "how is it custom Extractor？"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/doc/

implementation 'com.google.android.exoplayer:exoplayer-core:2.11.8'

### [REQUIRED] Question
We added some extra bytes to the front of the mp4 file and renamed it.

When playing locally, I don’t want to decrypt the original file to the local first. Therefore, we intend to solve this problem by customizing Extractor and Da

[2020-09-06 06:19] giladna commented on #3752
hi @ppodgorski
you can find our solution for the media preview here:
https://github.com/kaltura/kaltura-player-android-samples/tree/master/AdvancedSamples/MediaPreviewSample

[2020-09-06 10:12] rrfrias commented on #7849
It does appear that the device's crypto module is failing a decrypt request. We can check with Asus since this is a vendor supplied module but the device is running an old build (android M - MMB29P.JP_P01M-V5.5.0-20160922). Even if they are able to root cause it, it is possible they might not roll out an update.

I do not have a similar device to reproduce. Can you see if this is a problem with th

[2020-09-06 21:13] ojw28 commented on #7793
It's hard to be certain, but in that case I would guess that this is most likely not related to custom ROMs.

[2020-09-06 22:30] tpuserhp commented on #7856
Deleted the bugreport from the previous comment area and resend it using email instead.

[2020-09-06 22:36] eric859 opened #7859 "Issue with tv catch-up"
### [REQUIRED] Issue description
Found an issue with tivimate/exoplayer.  Catch-up on live tv when going back less than 30 minutes results in buffering.  Using MX player works fine.  The problem only happens with built in exoplayer and it's consistent.  Is this a known issue?

### [REQUIRED] Reproduction steps
Easiest way is the find a live program that started less then 30 minutes ago and choose

[2020-09-07 03:52] donglp1810 commented on #7843
hi @christosts ,

I sent to dev.exoplayer@gmail.com a .aac file what get issue in my app. Please check it.

[2020-09-07 03:52] kamalloup commented on #7848
Hey @marcbaechinger! First of all, thanks for your thorough and very clear response. 🙇

True, I see how that would be necessary in most situations. In my question I have failed to say that I am working with videos that are between 30 and 60 seconds in length. This means that each video would be easily buffered in its entirety in a short amount of time. So, in my (very) specific case avoiding re-bu

[2020-09-07 05:22] sravan1213 commented on #5914
@ojw28 could you please confirm when above change will be part of the exo-release ?

[2020-09-07 06:33] Oziomajnr commented on #3987
bumping this issue

[2020-09-07 06:42] Oziomajnr commented on #3987
I think a solution to this would be to use https://developers.google.com/android/reference/com/google/android/gms/cast/framework/media/RemoteMediaClient#load(com.google.android.gms.cast.MediaLoadRequestData)

Which allows the option to set the autoPlay property when loading media items

[2020-09-07 07:53] christianfrank84 commented on #6348
Are there any new updates to this topic?

I've been experimenting now with the dev-v2 branch for a while and as the Modes 2 and 4 certainly help with performance. It for sure doesn't make the stream run flawlessly.

I've been testing Dash/Widevine Streams mainly with a Samsung Galaxy Tab 2 and with either Mode 2 or 4, I'd still need to cancel out the highest abr profile to achieve a somewhat accep

[2020-09-07 08:09] Oziomajnr commented on #3987
I fixed this with a fork of the cast player extension
I added an overloaded version of the queueLoad method that has an autoPlay argument

[code]

[2020-09-07 08:11] mseroczynski commented on #7836
Could you please confirm you've received additional info that I've sent few days ago..?

[2020-09-07 08:33] niteshfel opened #7860 "Can i prevent screen recording on exoplayer 2"
I have a query regarding security feature so can i prevent screen recording . like if any video is playing in my app using exoplayer then no can record screen using any screen recorders.  because these videos are paid type. so please suggest how can i do this.

[2020-09-07 08:35] christosts commented on #6348
We are targeting to release v2.12 soon (within September) and these APIs will be available for use, but as experimental. The API will allow enabling modes 2 and 4 separately for audio and video. If you upgrade to v2.12, you can opt-in to these modes in your app. Our internal evaluation shows that the overall best performance is achieved with mode 4 enabled on both audio and video.

Our future plan

[2020-09-07 09:54] christosts commented on #7808
If you are using the dev-v2 branch, can you try to enable the experimental mediaCodecOperationMode?

If you are not passing your own renderers factory, then you need to instantiate a `DefaultRenderersFactory`, set [experimentalSetAudioMediaCodecOperationMode](https://github.com/google/ExoPlayer/blob/61abe5951a421d563de034c3d14f1392b4303164/library/core/src/main/java/com/google/android/exoplayer2/D

[2020-09-07 10:01] changxiangzhong commented on #7808
@christosts Thanks for your reply. What you are asking is non-trivial for me. Currently we are using a quite old version. Then we need to migrate to the latest one first. I'll see what I can do.

[2020-09-07 10:09] EllingtonKirby opened #7861 "ExoPlayer unable to play videos recorded from device's camera"
### [REQUIRED] Issue description
I have built an ExoPlayer video player inside a RecyclerView adapter. I share a single instance of ExoPlayer for the adapter via the parent fragment, and create and prepare different media sources per item in the adapter. I use the default data sources and extractors, as follows
[code]

When I record a video using the camera, there are situations where the playback

[2020-09-07 10:54] christosts commented on #7850
@tonihei is this similar to #4727?

[2020-09-07 11:09] christosts commented on #7854
@ojw28 to prioritise this in the backlog

[2020-09-07 11:11] tonihei commented on #7850
#4727 is more about not being able to use `showMultiWindowTimeBar` with progressive media streams. This request is about showing markers for where the new window starts I believe.

I'll mark as an enhancement, but I don't think we get around doing this any time soon.

[2020-09-07 11:36] tonihei commented on #7793
Other ideas for things you could check:
 - Is Java 8 enabled on all libraries / modules directly or indirectly depending on ExoPlayer?
 - Do you use multidex? And if so, is it enabled for all relevant app variants?
 - Do you depend on ExoPlayer in gradle using `implementation`?

None of this may be related, but it's probably good to verify the build setup with regards to how resources are found an

[2020-09-07 12:20] christosts commented on #7855
What would be the purpose of choosing the bitrate? To download fewer bytes? ExoPlayer is a client-side library and can operate on content once the content arrives at the client device. If you want to change to bitrate of the hosted mp3 file in order to transfer less/more bytes, this needs to happen at the remote server, and that's outside ExoPlayer's functionalities.

For clarity, ExoPlayer has so

[2020-09-07 12:20] #7855 closed, assigned to christosts

[2020-09-07 12:29] christosts commented on #7843
Here is the output of `mediainfo` insepcting the provided `.aac` file

[code]

Note that the file is encoded at variable bit rate. It is best explained in [Why are some media files not seekable?](https://exoplayer.dev/troubleshooting.html#why-are-some-media-files-not-seekable) in the ExoPlayer's trouble shooting section. Please consider using a different media container (mp4 works best) or at leas

[2020-09-07 12:29] #7843 closed, assigned to christosts

[2020-09-07 12:33] ahmetberkinc opened #7862 "Progress bar customization in live HLS data"
I want to play live stream with HLS data on Exoplayer. I can access live stream data, but the timebar buffer range is limited to a certain time. In addition, when I stop the player, the live broadcast data continues to come in, so time moves towards negative after a while.
Could a method (similar to youtube live streaming feature) be provided with Exoplayer, such as starting or limiting the buffer

[2020-09-07 13:12] tonihei commented on #7554
@christianfrank84  I just verified the steps again and can't see a problem. Here is what I did:

1. Checked out ExoPlayer and changed to dev-v2 branch:
[code]
2. Created a new empty Android Studio project in `../Project`. The directory structure now looks like this (among others):
[code]
3. Modified `setting.gradle` to end with the following lines:
[code]
4. Ran gradle sync and now have all exopla

[2020-09-07 13:48] christosts commented on #7853
I can repro on the demo app from the dev-v2 branch, modified to match the code snippet's configuration. @AquilesCanta can you take a look?

[2020-09-07 14:22] ojw28 commented on #7854
Given the current scrub position is already shown to the left hand side, it's unclear what purpose a label on the scrub position itself would serve. Please could you clarify?

Note that thumbnails during scrubbing, such as those in YouTube, are typically provided out-of-band (e.g., as tiled images of thumbnails that the client can request separately to the main video) and in a way that's custom to

[2020-09-07 14:24] ojw28 commented on #5914
It will be in 2.12, which should be released very soon now (we were originally aiming for last week, and now for this week!)

[2020-09-07 14:31] christosts commented on #7856
The bug-report shows a similar problem reported in #7551 where the issue is coming from the software H264 decoder. May I ask a few questions to clarify where the problem may be:
- In your app, do you pass a custom component to ExoPlayer to prefer software decoders over hardware decoders, or is ExoPlayer using its default component to select which codec to use?
- Can you reproduce the issue when pl

[2020-09-07 14:49] ojw28 commented on #7850
To answer this question: By the time you have very specific UX requirements, you should really be building your own UI components rather than using the out-of-the-box ones that ExoPlayer provides. Nearly all of the bigger streaming apps do this, because it gives them control to make the UI look exactly how they want it to look. Note that you can easily fork the ExoPlayer components to provide a st

[2020-09-07 15:02] christosts commented on #7856
From the attached bug report, I see an error similar to #7551. The player has picked up the software decoder which then turns into an error state. I'd like to verify if it's a decoder issue. You mentioned that the content plays fine with ExoPlayer v2.10.8 but not with v2.11.8 on the specific device. I assume this happens on the ExoPlayer demo app too, not only on your app, right? If yes, can you p

[2020-09-07 16:31] kim-vde commented on #7857
I don't think there is any easy way to do that.

You could try to add an OrientationEventListener on your activity and dynamically move the controls around when the screen is rotated.

Maybe @ojw28 has a better idea?

[2020-09-07 17:08] kim-vde commented on #7858
It is not clear to me why you would have a custom extractor.

You could instead have a custom data source that would wrap another data source and read from the second byte of the file. Something like:

[code]

Would that work?

[2020-09-07 17:09] hinditutorpoint commented on #7857
Thanks for replay sir
I found easy method
1 surface type texture view
View mVideoView=playerView.getVideoSurfaceView()
mVideoView.setRotationX(mVideoView.getRotationX+180f);

[2020-09-07 17:16] #7857 closed, assigned to kim-vde

[2020-09-07 18:32] tpuserhp commented on #7856
Hi support. In my app, ExoPlayer using its default component to select which codec to use. I did try to specify DefaultRenderersFactory.EXTENSION_RENDERER_MODE_PREFER but the result was the same.  I did not install and try the ExoPlayer demo app. But I willl do that later.  I  just installed the app running  ExoPlayer 2.10.8 that the stream plays fine. I will send you the captured logrec.  It seem

[2020-09-07 19:29] hinditutorpoint opened #7863 "Switch player view surface type"
Hi sir how can switch playerview surface type programmatically dit not  find any setter method.
I want to like
If(Build.VERSION.SDK_INT >= Build.VERSION_CODES_N){
//surface view
}else{
//Texture view
}

[2020-09-07 19:44] hinditutorpoint commented on #7860
https://developer.android.com/reference/android/view/SurfaceView#setSecure(boolean)

[2020-09-07 19:47] marcbaechinger commented on #7848
well, I just tried to give an answer as clear and well formulated as the question. :)

Yes, you are right that there is only one queue which is built according to the periods to be played. And sorry I couldn't really help in the end as your conclusion is correct that this is not really possible right now.

Something came to my mind for your case of 30 second videos. It's a bit hacky and I haven't

[2020-09-07 22:28] tpuserhp commented on #7856
Hi support. I tried to run  the  ExoPlayer demo app using my link but failed. My link does not work with https. When I used http for my link, the app came back with clear text not allowed message. Nothing in the logrec showed the decoderInitialized message. Are there any changes I could make in the demo app to get the link I provided in my email working? Also, the doc I got from my app shows OMX.q

[2020-09-07 22:56] kamalloup commented on #7848
Thanks again @marcbaechinger! It's a good (albeit a bit hacky 😛 ) idea. I'll play around with it and see whether the result is any better than the two player swap option in regards to complexity / performance.

Really appreciate your time. I don't think there's a feature request coming out of this conversation, I honestly wouldn't know what change to recommend. I'll close the issue. 🙂

[2020-09-07 22:56] #7848 closed, assigned to marcbaechinger

[2020-09-08 01:04] #7731 closed, assigned to andrewlewis

[2020-09-08 04:37] davidvedvick opened #7864 "SilenceSkippingAudioProcessor - Improve support for skipping large periods of silence"
### Searched documentation and issues

I dug through the documentation, but I did not find anything beyond the JavaDoc referencing `SilenceSkippingAudioProcessor`.

### Question

What is the intent of `SilenceSkippingAudioProcessor`? Is it to skip small portions of silence, or is it intended to be used for long periods of silence (in the minutes range)? I was hoping to use it for skipping long per

[2020-09-08 06:21] mona-baharlou opened #7865 "ACodec: can't find wfdsink-exynos-enable"
When I play a video (the video format is .mp4) in ExoPlayer I get this error.

[code]

I thought that is my device problem( Samsung J7 Pro) but when I tried to play this video in KMPlayer it worked the same, and doesn't support that, but VLC Player had no problem with the video.

How can I play this codec in ExoPlayer?

[2020-09-08 07:07] rrfrias commented on #7836
We did get your information. Thanks. Would it be possible to share an app and repro steps so that we are testing it exactly as you are?

[2020-09-08 07:49] andrewlewis commented on #7864
The intended usage is to skip short periods of silence in speech (for example, to speed up playback of podcasts or audiobooks). It will be used automatically if you enable silence skipping via [PlaybackParameters](https://github.com/google/ExoPlayer/blob/0622afe/library/core/src/main/java/com/google/android/exoplayer2/PlaybackParameters.java#L68), or via `SimpleExoPlayer.setSkipSilenceEnabled` in

[2020-09-08 08:19] christosts commented on #7856
Yes, please follow the instructions described in [Fixing “Cleartext HTTP traffic not permitted” errors](https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors)

That indicates that the same decoder is used in both versions, therefore we cannot clearly point to an issue in the decoder. Please try with the demo app to verify the failure occurs with 2.11.8 but n

[2020-09-08 08:30] JeffMony opened #7866 "Fix the problem when video file in res/raw file can be played."
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2020-09-08 08:31] JeffMony commented on #7866
@ojw28 Could you check the feature?

[2020-09-08 08:35] TaruiTakashi commented on #7849
@rrfrias

[code]
I tested it in the video above.
The image was distorted for about 2 seconds from about 9 seconds after the movie started, but other parts could be played normally.

[code]
Also, when the above video was played, "Unable to instantiate decoder OMX.Intel.VideoDecoder.AVC.secure" was displayed.

We are not currently considering using L3.

[2020-09-08 08:39] JeffMony commented on #7866
Yes, I have checked it with many phones, such as Huawei/Vivo/Oppo/Mi Phone.

[2020-09-08 08:44] JeffMony commented on #7866
@ojw28
https://github.com/JeffMony/PlayerSDK/blob/master/files/exoplayer-rawtest.jpg
This is the patch

[2020-09-08 09:15] tonihei commented on #7848
This is practically speaking still a good option I think. Note that ExoPlayer supports downloading of adaptive media. See https://exoplayer.dev/downloading-media.html#downloading-and-playing-adaptive-streams.

I think you initial feature request is already covered by #3327. When we get around to implement #3327, we should make sure to prebuffer whatever period is "next" according to the "player.ne

[2020-09-08 09:32] kim-vde commented on #7859
It is difficult for us to provide support on this issue as it may as well be a bug in the Tivimate app.

Let's see what the Tivimate team answers on the [issue](https://www.reddit.com/r/TiviMate/comments/inqxpu/catchup_buffers_in_live_shows_rewound_less_than/) you reported to them. If the bug is indeed in ExoPlayer and we have more details, then we will be able to investigate.

[2020-09-08 09:42] kim-vde commented on #7860
See also [SimpleExoPlayer#setVideoSurfaceView](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#setVideoSurfaceView-android.view.SurfaceView-) and [PlayerView#getVideoSurfaceView](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html#getVideoSurfaceView--).

[2020-09-08 10:00] kim-vde commented on #7861
This error means that there is either a problem in the media file, or a problem in the extractor sniffing method.

Can you provide a test content that produces the error? I couldn't reproduce it myself. If you're unable to share the test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #7861". Please also update this issue to indicate you’ve done t

[2020-09-08 10:06] hinditutorpoint commented on #7863
Sir I am waiting

[2020-09-08 10:16] EllingtonKirby commented on #7861
Hi there, thank you for the update.

I can reproduce this with any media, there is no specific media that causes this.

It occurs by playing a video with ExoPlayer (any video), stopping playback, recording a video using CameraX, and then attempting to play the recorded video using ExoPlayer.

When using the device file explorer and exporting the recorded video, I have no issues playing it in anoth

[2020-09-08 10:57] kim-vde commented on #7863
You cannot do that because. The SurfaceView is initialized in the PlayerView constructor and its reference cannot be changed.

Maybe if you provide more details about your problem we can try to figure out an alternative solution.

[2020-09-08 11:05] kim-vde commented on #7865
I suspect it is device specific. Could you provide a test content and the complete stack trace? If you're unable to share the test content publicly, please send them to dev.exoplayer@gmail.com with subject "Issue #7865". Please also update this issue to indicate you’ve done this.

[2020-09-08 11:19] kim-vde commented on #7861
Sorry, but I am not sure I am following.

Does it work if you try to play a recorded video with the [demo app](https://github.com/google/ExoPlayer/tree/dev-v2/demos/main)?

[2020-09-08 11:20] mona-baharlou commented on #7865
@kim-vde , the VLC player in my Samsung device can play this video, but the ExoPlayer has problem with it

2020-09-08 15:43:13.681 13616-14635/com.myapp.tv I/System.out: (HTTPLog)-Static: isSBSettingEnabled false
2020-09-08 15:43:13.681 13616-14635/com.myapp.tv I/System.out: (HTTPLog)-Static: isSBSettingEnabled false
2020-09-08 15:43:13.685 13616-14511/com.myapp.tv I/ACodec: [OMX.Exynos.avc.dec] s

[2020-09-08 11:40] liadpaz commented on #7620
@marcbaechinger I could finally get the report, I hope its enough for you to help me.

[link](https://drive.google.com/file/d/14xL1wjhuSXABEh5ygSITjHmOX-GKvhuD/view?usp=sharing)

(I couldn't upload it to here for some reason)

[2020-09-08 11:48] EllingtonKirby commented on #7861
I am looking at the Demo application, how would I change the content that is being played?

[2020-09-08 11:52] kim-vde commented on #7866
Can you explain why you want the scheme to be "android.resource"? Can you use `RawResourceDataSource.buildRawResourceUri(R.raw.filename)` to build the URI?

[2020-09-08 12:13] kim-vde commented on #7865
The fact that VLC can play the video on the device doesn't mean it is not device specific. It could be using another codec (it could even be a software codec embedded in the VLC app). Searching a bit on the Internet, it seems that some Samsung devices are known to have issues with `OMX.Exynos.avc.dec` codec.

Have you tried playing the content on another device (I can try if you want if you send t

[2020-09-08 12:33] JeffMony commented on #7866
@ojw28
I use the android.resource schema for the following reason:
Android platform support android.resource schema, for example, http://androidxref.com/9.0.0_r3/xref/frameworks/base/core/java/android/content/ContentResolver.java#190
`
public static final String SCHEME_ANDROID_RESOURCE = "android.resource";

96    public final @Nullable InputStream openInputStream(@NonNull Uri uri)
997

[2020-09-08 12:34] JeffMony commented on #7866
@kim-vde The reason

[2020-09-08 12:59] ojw28 commented on #7866
This is equivalent to [Internal ref: b/162842184]. We should probably just make the changes documented in `#6` of the internal issue.

[2020-09-08 13:01] davidvedvick commented on #7864
Thanks for answering my question. I don't have an opinion about changing the implementation, but it would be helpful if the expected usage was documented or enforced during usage - perhaps an exception when a period of silence is longer than x time? I only say that because I spent the better part of the weekend attempting to use the processor in its current state - and someone who uses this librar

[2020-09-08 13:17] tpuserhp commented on #7856
Hi support. I managed to correct the cleartext issue from your doc and captured the Eventlogger message for the demo app running ExoPlayer 2.11.8:
09-08 06:25:27.932 D/EventLogger(15662): decoderInitialized [eventTime=2.27, mediaPos=0.00, window=0, period=0, video, c2.android.avc.decoder]
09-08 06:25:28.004 D/EventLogger(15662): decoderInitialized [eventTime=2.34, mediaPos=0.00, window=0, period=0

[2020-09-08 13:53] JeffMony commented on #7866
So , will you submit this change to ExoPlayer project ?

[2020-09-08 14:24] JeffMony opened #7868 "[New Feature]:Change the video volume when playing the video by adjusting the sound amplitude"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2020-09-08 14:24] JeffMony commented on #7868
Sonic can change the sound amplitude

[2020-09-08 14:25] JeffMony commented on #7868
@ojw28
Could you check it?

[2020-09-08 14:42] hinditutorpoint commented on #7863
As per your documention surface view better than texture view but you say that below n device not supported surface view that condition what be do

[2020-09-08 15:11] mseroczynski commented on #7836
I've sent you a mail with complete project and a small instruction. It instantly throws PlaybackException (or starts playing content on non problematic device). Hope you'll be able to reproduce this issue easier now. I’m eager to receive your feedback.

[2020-09-08 15:19] AquilesCanta commented on #7842
This issue is very similar to #5537. The first PMT in the provided segment only declares a video track, but following PMTs correctly declare the audio track:

[code]

I think the way to go here is to fix the media by removing the spurious PMT.

[2020-09-08 15:19] #7842 closed, assigned to AquilesCanta

[2020-09-08 15:29] AquilesCanta commented on #7862
Can you explain exactly what the suggested change is? Please specific observed and expected behavior. The reason I ask is that I'm not clear on whether the required change is in the Player interface, in the ExoPlayer UI module, or both.

[2020-09-08 15:49] eric859 commented on #7859
Is it possible to only update the version of exoplayer within Tivimate without updating tivimate?

[2020-09-08 16:26] kim-vde commented on #7866
Yes, it is work in progress.

[2020-09-08 18:08] Ste-RH opened #7869 "Adding support to provide 3D stereo information from the SEI via FPA (Frame Packing Arrangement)"
### [REQUIRED] Use case description
It is great that there is support for reading 3D stereo information (stereoscopic-3d-video-box-st3d), but is it planned to support the SEI FPA (Frame Packing Arrangement) method of extracting this information as well?

### Proposed solution
Adding support to extractors to pull FPA information from the SEI data would be simply wonderful :)

### Alternatives consi

[2020-09-08 19:46] changxiangzhong commented on #7808
@christosts It takes some effort to migrate to dev-v2, but I've achieved it. Regarding the option `OPERATION_MODE_ASYNCHRONOUS_DEDICATED_THREAD_ASYNCHRONOUS_QUEUEING`, here is my test case. The following screen shots indicates, we have a seek bar on top of the SurfaceView, on which video was rendered. The seek bar is **NOT** hooked with anything.
![20200908_212054_HDR](https://user-images.githubus

[2020-09-08 21:12] ojw28 commented on #7837
Thanks for the information. IPTV services applying connection limits sounds like something that's outside of our control. As an aside, it also doesn't sound particularly sensible, unless it's deliberately designed to stop you from doing what you're trying to do.

As above, I think we're doing the right thing at the ExoPlayer layer, so I think we can close this.

[2020-09-08 21:12] #7837 closed, assigned to ojw28

[2020-09-08 21:26] ojw28 commented on #7713
Did it occur with the HLS samples in the demo app, or only ones that you added yourself? I've tried repeatedly switching network during playback of the included HLS samples, and am unable to reproduce this problem.

[2020-09-08 21:30] ojw28 commented on #7701
I tried pushing the video linked in your post above to the SD card, and playing it in the ExoPlayer demo app by adding a  block like this to `media.exolist.json`:

[code]

playback worked fine for me. It's possible that this is a device specific issue, but as mentioned above there's really no reason that would cause the player to behave differently for streaming than for offline.

Marking as "need

[2020-09-08 21:32] ojw28 commented on #7461
Closing because there's nothing really actionable for us to do here.

[2020-09-08 21:32] #7461 closed, assigned to ojw28

[2020-09-08 21:37] #7643 closed, assigned to marcbaechinger

[2020-09-08 21:42] #7483 closed, assigned to ojw28

[2020-09-08 21:49] #7840 closed, assigned to marcbaechinger

[2020-09-08 22:32] rrfrias commented on #7720
It is difficult to investigate this issue without logs from the OS which will are included in a bugreport. Without knowing more about the specific failure, some options are falling back to L3 (security level) or a factory reset. There might be some changes in newer releases that might help, but this device is unlikely to get an update given it is still running android 8.0.0.

[2020-09-08 23:23] kamalloup commented on #7848
Thanks for following up @tonihei! I must have misunderstood the previous comment then. Good to know that pre-downloading is an option with adaptive media streams. Though, if it does require the `DownloadManager` and the corresponding download notification I am seeing in the example, then it might have some unwanted UX implications. I'll look into it further...

Yes, that should do it. If that's ho

[2020-09-09 00:33] amoizesmail commented on #7213
Hi @krackjack234,

We are encountering this issue also in version '2.10.1'

[2020-09-09 00:56] nani0490 opened #7870 "Possible memory leak in SampleQueue"
Hello

We have been using Exoplayer v2.6.1 on an Android 7.1.1 device.
The MediaSource we use is nothing but HLS and when left the stream to play (from customized third party UI) for more than 4 hours or so, the (3rd party) application crashes and sometimes the device runs into OutOfMemomy.

I did refer the previous bugs like  #1855, #1908, #1943, #5151, #6511, #6553, and none of them have solved

[2020-09-09 01:01] AquilesCanta commented on #7870
Is this a v2.6.1 issue? If so, please try reproducing on a newer version of ExoPlayer. We have fixed some leaks in the past, and 2.6.1 is pretty old.

[2020-09-09 01:04] #7727 closed, assigned to andrewlewis

[2020-09-09 01:04] #7648 closed, assigned to shasapo

[2020-09-09 01:38] androidWht opened #7871 "rtmp stream crash"
version:
    api 'com.google.android.exoplayer:exoplayer:2.11.7'
    api 'com.google.android.exoplayer:extension-rtmp:2.11.7'
    api 'com.google.android.exoplayer:extension-ima:2.11.7'
![1599614033(1)](https://user-images.githubusercontent.com/10459917/92544101-a0c11c00-f27f-11ea-8e82-ab212324f033.jpg)
Play RTMP on a weak network may crash and anr

[2020-09-09 03:24] trantrongkim98 opened #7872 "SimpleExoPlayer don't run prepare with HlsMediaSource"
### [DESCRIPTION] Issue description

i can start a MediaSource with .mp4 but i can't start with resource is m3u8

### [LOG] A full bug report captured from the device
[code]

### [version] :
- implementation 'com.google.android.exoplayer:exoplayer-core:2.11.5'
- implementation 'com.google.android.exoplayer:exoplayer-dash:2.11.5'
- implementation 'com.google.android.exoplayer:exoplayer-ui:2.11.5'
-

[2020-09-09 03:26] lsgfly opened #7873 "Support PMT updates with additional tracks in TS extractor"
#7455 # [REQUIRED] Issue description
I use the Exoplayer to play "https://d4licq9vet44p.cloudfront.net/hls-vod/dvr/ch1.20200909_0200.m3u8".
It is no sound.
I use media player to play the link. It is ok.

### [REQUIRED] Reproduction steps
using the exoplayer to play  play "https://d4licq9vet44p.cloudfront.net/hls-vod/dvr/ch1.20200909_0200.m3u8".

### [REQUIRED] Link to test content
It is the link:

[2020-09-09 03:52] zengcanxiang commented on #7858
@kim-vde This code is ok on some phones. However, the same video still throws MediaCodec error on some mobile phones. I thought it was a problem with the original video file, but when I played mp4, there was no problem.

phone type is mix2s ，
[code]

[2020-09-09 03:55] zengcanxiang commented on #7858
@kim-vde this is file
[1596375533958_30.zip](https://github.com/google/ExoPlayer/files/5192489/1596375533958_30.zip)

[2020-09-09 04:01] zengcanxiang commented on #7858
@kim-vde At the beginning, inputStream skipped bytes when I used it. The same is true. It can be rendered on some mobile phones. Will it be exoplayer some attributes that require model compatibility, let me open it?
[code]

[2020-09-09 06:10] Ninjouz commented on #7859
How can we help you have more debug info ?

I have the issue that I can reproduce easily on a Nvidia Shield 2017

[2020-09-09 06:17] nani0490 commented on #7870
Hello
Thanks for the update.
A lot of things were tied up and so we cannot update to the latest version.
Would it be possible to provide a list of commits or a patch that impacts HLS?

[2020-09-09 06:39] ahmetberkinc commented on #7862
The structure I want to apply is that the duration on the playerview is dynamically updated while the live stream is in progress and the time flows forward (not remaining constant). In addition, when the user stops the live stream, the current time on the player does not flow backwards. So I think the change must be in the Exoplayer UI and buffer features.
![Screenshot_51](https://user-images.gith

[2020-09-09 06:43] itboy87 commented on #7853
@christosts @AquilesCanta any workaround?

[2020-09-09 06:44] trantrongkim98 opened #7874 "why implementation with link don't work in when inplementation work with project"
### [REQUIRED] Searched documentation and issues
[code]

### [REQUIRED] Question
i don't start a video hls when i use link from repository github

### A full bug report captured from the device
- when i implemention with link
[code]

[2020-09-09 06:57] trantrongkim98 commented on #7874
I fixed it, i was use version 2.11.5 and it's wrong then i use version 2.11.1 and it work for me
and i was add `implementation fileTree(dir: "libs", include: ["*.jar"])`

[2020-09-09 06:57] #7874 closed, assigned to nobody

[2020-09-09 06:58] trantrongkim98 commented on #7872
i fixed it, my version 1.11.5 was wrong and i use 2.11.1 and `implementation fileTree(dir: "libs", include: ["*.jar"])`

[2020-09-09 06:58] #7872 closed, assigned to nobody

[2020-09-09 08:00] tonihei commented on #7848
The notifications are optional. If your app stays in foreground during the download process, you may as well use `DownloadManager` directly in a background thread of your app (i.e. without the service).

[2020-09-09 09:38] christosts commented on #7808
Good to see some improvement is made, but unfortunately not good enough.

Another idea to experiment: Depending on which ExoPlayer version your app is using, you may have access to [experimental_setRenderTimeLimitMs](https://github.com/google/ExoPlayer/blob/r2.10.0/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L403) which was available from v2.10 until

[2020-09-09 10:00] rrfrias commented on #7849
Is there more information about what caused the instantiation error. You can share the log with dev.exoplayer@gmail.com for us to look into it.

From the original bugreport that you shared with us, here are the error logs that preceded the CryptoException

[code]

Given that this device is still running android M, it is unlikely that ASUS is going to roll out an update. Some options are try tweaki

[2020-09-09 12:16] amirhasanovic commented on #7771
you were right, there were some issues on the server side of the project, but we got that fixed, and still we have some trouble when switching streams, longer waiting period, sometimes getting stuck in state idle, this primarily happens in faster switching.. could the issue be that we are only using one PlayerView?
Code that may be relevant from our ErrorPolicy:
[code]

[2020-09-09 15:38] andrewlewis commented on #7626
There seems to be a native crash from the software AAC decoder:

[code]

[2020-09-09 15:50] AquilesCanta commented on #7213
Checking whether I understand correctly: The issue is device and android version specific? In other words, only some devices have the issue, only in some specific Android versions?

[2020-09-09 15:53] devdivr commented on #3163
@tonihei You mentioned this feature should be part of v2.10 at https://github.com/google/ExoPlayer/issues/5538#issuecomment-467405790 but I can't find any related features on it.

Does it belong to current version or not?

[2020-09-09 16:07] tonihei commented on #3163
That was too optimistic unfortunately :(  The feature is mostly implemented (since 2.10) except for one detail that could prevent the player from loading new data in a playlist. Because of this, we haven't added the final API bit that would let you set the clipping points.

[2020-09-09 16:14] AquilesCanta commented on #7870
Unfortunately it's impossible for us to come up with a comprehensive list for you to try. You could take at the [release notes](https://github.com/google/ExoPlayer/blob/dev-v2/RELEASENOTES.md) in case you find anything that could impact your app.

My advise is that you try to reproduce the leakage using the dev branch and latest release using the demo app plus minimal changes to make it work. If t

[2020-09-09 16:14] #7870 closed, assigned to AquilesCanta

[2020-09-09 16:17] sanojlawrence commented on #7701
@ojw28 thanks for your guidance I was able to play mkv file and here is the https://github.com/squti/Exoplayer-Mkv-Sample

As of now you can close this.
And let me know one can exoplayer play mkv 10bits file? Because I was not able to play on honor 8 lite device on android 8.0.0 ver

[2020-09-09 16:24] bhaskarraj opened #7875 "Why exoplayer cannot stream PLS type streaming link?"
I have PLS streaming link which plays fine in other players. But exoplayer is not able to play such link. Test link:
[http://shoutcast.radyogrup.com:1020/listen.pls](url)

Does exoplayer not support of PLS type streaming? I am able to stream .m3u8 and other links except for that.

[2020-09-09 16:38] kim-vde commented on #7858
I am not sure I understand. Is the issue you are having about the 2 bytes you added to the file, or is it about the original file (without the added bytes)? I tried to play the original file (i.e. the file that you sent but without the 2 first bytes) on my phone and it works well. Or are you saying the original file does not play on some devices but plays on others?

Looking at the stacktrace, the

[2020-09-09 16:45] #7866 closed, assigned to kim-vde

[2020-09-09 16:50] kim-vde commented on #7859
This is very unlikely.

Well, I am afraid you would need to debug Tivimate app, understand what is going on and, if it is a bug in ExoPlayer, provide us with reproduction steps.

[2020-09-09 17:03] kim-vde commented on #7861
If you cannot reproduce the issue with the demo app, can you provide me an application where it can easily be reproduced? I need some easy reproduction steps to investigate.

Something else you can do is to debug `Sniffer.java` from package `com.google.android.exoplayer2.extractor.mp4` and check why `sniffFragmented` and `sniffUnfragmented` both return false (one of them should return true when tr

[2020-09-09 17:15] johnsky95 opened #7876 "HLS: Live TV Fails to Play [com.google.android.exoplayer2.ParserException: Cannot find sync byte. Most likely not a Transport Stream.]"
Playlist URL [https://t1.tvmak.com/tv/TVSHENJA.m3u8?aBtVmfe1F7]

You can see that HLS.js library is playing this playlist very well on
"https://tvmak.com/tvshenja"
while ExoPlayer, throws exception.

Is there any other way to load this kind of Playlist or ... ?

[code]

[2020-09-09 17:18] eric859 commented on #7859
I have contacted one of the Tivimate devs.  Here is his response

"Hello, Yes, it is a known issue. While playing catch-up on a live program, Xtream Codes doesn't allow to get stream data beyond the timestamp when the catchup stream was started and ExoPlayer goes to ENDED state upon reaching that timestamp. So, the app restarts the stream at those moments with potential buffering. I will investiga

[2020-09-09 17:21] kim-vde commented on #7863
Where did you see that `SurfaceView` is not supported before N?

[2020-09-09 17:26] stevemayhew opened #7877 "Multiple audio EXT-X-MEDIA with same language different format cause SampleQueueMappingException"
### Issue description
When an HLS playlist has multiple audio renditions with same language and different formats (example Stereo and Dolby Surround) ExoPlayer silently ignore one of the two (or, in the chunk-less prepare case, throws a SampleQueueMappingException.

Expected behavior is to show all the audio tracks, however The HLS metadata is not clear on how to make this work.

Note this issue i

[2020-09-09 17:30] kim-vde commented on #7868
I think this is a duplicate of #3349. Can you confirm @JeffMony ?

#7476 could also be of interest for you.

[2020-09-09 17:45] theboubougne opened #7878 "Exception on device Running Android 11"
Android 11 was released yesterday.
Some of my users who switched to Android 11 are experiencing exception when trying to stream audio content.
Switching to MediaPlayer framework allows them to play the files without any issue

Device Pixel 4XL on the official release of Android 11
Audio file:  https://dts.podtrac.com/redirect.mp3/dovetail.prxu.org/memory/9d4152c8-f5a4-4ea6-94c9-651ecf0babe3/themem

[2020-09-09 18:47] andrewlewis commented on #7626
Given that the error appears to come from code handling the AAC bitstream, I think we'll need at least a minimal part of the bitstream that reproduces the error to make progress. Is it possible to trim out the part of the audio stream that is passed to the decoder just before the error and attach that or email it to dev.exoplayer@gmail.com with subject "Issue #7626"?

Edit: actually we received th

[2020-09-09 19:20] andrewlewis commented on #7846
Hm, setting a timeout works for me in the demo app on the development branch, which should work the same. If I set a 1 ms media load timeout, all ad breaks time out.

Are you seeing this behavior with both preroll and midrolls? I wonder whether the delay introduced by the proxy is not sufficient to cause a timeout on midrolls because the ads actually load several seconds before the corresponding a

[2020-09-09 19:47] AGasztold opened #7879 "AudioSink$InitializationException after fast seeking in tunneling mode"
**Issue description**
This issue was detected in our app (during random seeking/track changing), but also reproduced in Exoplayer Demo (playback was freezed after rapid seeking at the end of the stream).

**Reproduction steps**
1. Start tunneling mode
2. Open VOD - DASH/Widevine video
3. Seek to the end of the stream -> and continue seeking for a while (playback state is changing through ENDED->BU

[2020-09-09 20:03] tosam144 opened #7880 "ProtocolException: Unexpected end of stream"
I am using `ExoPlayer` to stream mp3s using a foregroud service. While this works most of the time, I have some users that experience sudden stops of the streams. The problem is not that the Internet gets disconnected (that's verified). I was able to capture the following logcat from one live device where the problem is occuring:

[code]

Could you give me a hint of what is happening here?

[2020-09-09 21:58] Oziomajnr commented on #7846
Thank you, after setting ImaAdsLoader.DEBUG = true I can see that it is actually being thrown on v2.11.8, and I have attached the logs below. However, I cannot detect when this error is thrown so that I can take appropriate actions, the Ad Error listener that I had added above through

        `  adsLoader.adsLoader.addAdErrorListener(imaAdErrorListener)`

 Is attached to the Google ImaAdsLoader,

[2020-09-10 01:04] #7636 closed, assigned to marcbaechinger

[2020-09-10 04:51] Oziomajnr commented on #7846
Update: This is most likely an issue with the Google IMA ads loader, after analyzing the logs, I figured out it is reporting the Media load time out as an `AdEvent` of type `LOG` event so checking for the log event and the ads type I was able to determine when the media time out is thrown like this.

[code]

I am not sure if this is how it should work or if other events could have these properties

[2020-09-10 05:45] Ninjouz commented on #7859
Tivimate is using XC Api : https://github.com/Rubensigner/xtream-codes-decoded/blob/22eafe430d05f2337a709ddefb4d65df2c942bc6/wwwdir/streaming/timeshift.php

Seems like start and duration are required for timeshift. It builds a list of video files to send to the client.
Problem occurs when trying to watch an ongoing program from the start.
As the duration of the program is not complete, it will sen

[2020-09-10 07:05] luiscurini commented on #7860
I'm using this but with the built in screen recorder in Android 11, the audio can still be recorded. Is there a way to also prevent this?

[2020-09-10 08:31] manluo-MTK opened #7881 "MTK TV devices - PlayerActivity ANR after pressing menu button"
### [REQUIRED] Issue description
 EXOPLAYER Can't respond Direction/Enter etc key after press Menu key several times at playback page.
 exoplayer lose focus, and new 1*1 surface .  Does exoplayer do something when press menu button?

### [REQUIRED] Reproduction steps
•	Reproduction steps
1.open exoplayer
2.choose any video play
3.pause playback
4.press MENU button on RC or input "adb shell input k

[2020-09-10 08:38] manluo-MTK commented on #7881
if you need more information, please tell me.

[2020-09-10 08:42] changxiangzhong commented on #7808
@christosts, short version is - this is a great option. It works perfectly with our project. Please consider to keep this option in the future release.

I've followed your instruction - `experimental_setRenderTimeLimitMs(40)`, while building the `MediaCodecVideoRenderer` instance.

The result seems very very ~interesting~ compelling. We see way lesser **audio buffer underrun** in logcat. The trade

[2020-09-10 08:42] fonebinary opened #7882 "Re-prepare player when user triggers play via UI components with the player in an error state"
Hi,

I am facing an issue **transportControls.xxx()** not working after network error.

Please help me out

[2020-09-10 09:19] andrewlewis commented on #7846
I've mentioned this to the IMA SDK team in case it's not working as intended. Closing as the original problem seems to be addressed.

[2020-09-10 09:19] #7846 closed, assigned to andrewlewis

[2020-09-10 09:41] kim-vde commented on #7869
Thanks for suggesting this enhancement. As you are the first one to ask for it, we will probably not look into it in the near future. Feel free to make a pull request if you want the change to be added soon.

[2020-09-10 09:45] kim-vde commented on #7871
Could you provide reproduction steps together with a bug report, as suggested by our [template](https://github.com/google/ExoPlayer/blob/dev-v2/.github/ISSUE_TEMPLATE/bug.md)?

[2020-09-10 09:48] amoizesmail commented on #7213
Hi @krackjack234,
I already updated our Exoplayer library from 2.10.1 to 2.11.7

We are experiencing this issue in all our android devices.

ExoPlayer Library Versions: 2.11.7
Android app target sdk: Android 29

Affected devices:
Samsung Galaxy S8 - Android 9
Samsung A80 - Android 10
Pixel 2 - Android 9, 10
Xiaomi Mi 8 - Android 10

[2020-09-10 10:49] kim-vde commented on #7873
The audio is not played because the first PMT table does not contain any audio track. I don't know if it is allowed though.

I'll assign to @AquilesCanta who probably knows the answer.

[2020-09-10 11:00] kim-vde commented on #7875
Duplicate of #1947.

[2020-09-10 11:00] #7875 closed, assigned to kim-vde

[2020-09-10 11:06] kim-vde commented on #7876
I get an error ERR_CONNECTION_REFUSED when trying to open the link. Could you please fix this or send the HLS manifest directly? If you're unable to share the test content publicly, please send it to dev.exoplayer@gmail.com using subject "Issue #7876". Please also update this issue to indicate you’ve done this.

Something you can do to see if the error comes from your code is to try to play the fi

[2020-09-10 12:29] marcbaechinger commented on #7882
I think we need some more info to help you with this. Like what do you mean with `transportControls.xxx` not working anymore.

At a first sight it may be that there was a playback error because the network was not working and you need to make the player prepare again? You should see a stack trace or similar in you log in this case.

I assume you are using the `MediaSessionConnector` with ExoPlayer

[2020-09-10 13:17] johnsky95 commented on #7876
Here you have the file
https://gofile.io/d/0e6ZVC

This file gets updated on every download request, which contains different segments.

[2020-09-10 13:22] luohaohaha opened #7883 "How to get raw output data from a rtmp url"
I use rtmpdatasource to play，I want to process raw data,so setvideoencoderoutputbufferrenderer，but not called. How can we handle the live data stream?

Sorry for bad english

[2020-09-10 13:32] kim-vde commented on #7878
I tried to play the file with a Pixel 2 XL (with Android 11 and ExoPlayer 2.11.7) but I couldn't reproduce the error.

From the stacktrack, the error is thrown in line 145 of `SilenceSkippingAudioProcessor` because the encoding is equal to `Format.NO_VALUE` (which is equal to -1). But when I play the file on my device, the encoding is `ENCODING_PCM_16BIT`.

I will assign the issue to @andrewlewis

[2020-09-10 13:37] andrewlewis commented on #7878
I wasn't able to reproduce this either, testing on Pixel 4 XL running RP1A.200720.009 (the official Android 11 build listed [here](https://source.android.com/setup/start/build-numbers)) using the ExoPlayer demo version 2.11.7. (I also tried enabling speed adjustment and silence skipping but that didn't make a difference.)

Do you have any custom components in your application, or can you think of

[2020-09-10 15:23] angitha-das opened #7884 "Exoplayer's PlayerNotificationManager not handling focus. Audio getting mixed up."
Hi,

The SimpleExoPlayer is what I use in my application. I have placed the play/pause button in my XML layout file, i.e I am not using PlayerControlView. I need to show a notification when audio is played. I am using the below method.

[code]
I have initialized my player initializePlayer() method as given below. I had referred the issues section and from the answer got a link to modify code with

[2020-09-10 15:44] angitha-das commented on #7884
Updated relevant information and code blocks used.

[2020-09-10 15:59] kim-vde commented on #7879
It could be the same problem as in #4448. They both happen when recreating the AudioTrack, they both have error message "E/AudioTrack: Could not get audio output for session..." and they both happen on Android 8.

[2020-09-10 16:14] kim-vde commented on #7880
You should check the server requests and responses to understand what is happening. One possibility would be that the length indicated in the response "Content-Length" is larger than the length of the actual data in the response.

[2020-09-10 16:25] kim-vde commented on #7883
I am afraid I don't understand what the question is.

What do you mean by "so setvideoencoderoutputbufferrenderer，but not called"?

How is the raw data like? Is it PCM audio data inside a container format? Maybe you could send an example file so that I can check. If you're unable to the test content publicly, please send it to dev.exoplayer@gmail.com using subject "Issue #7883". Please also update

[2020-09-10 17:21] AquilesCanta commented on #7793
Hi @chhatrasal09, can you think of any way we can follow up on this? I think you are in a better position than we are to diagnose this issue, but if you have any line of work we may follow on our side, we are happy to assist.

[2020-09-10 18:31] longquangpham90 opened #7885 "I want play video with subtitle offline, but i can not run"
### [REQUIRED] Question
We can not play subtitle offline local device Sony XZ Premium
Application is run file video offline, but can not run with subtitle
Can you support
This is logcat report
### A full bug report captured from the device

[code]

[2020-09-10 18:40] theboubougne commented on #7878
I cannot reproduce it either but I got at least 20 users reporting this issue. They cannot play ANY file with this version of EXOPlayer while this works fine on my device. Switching to Mediaplayer framework fixes the issue for them.
The app has been using EXOPlayer for a couple of years without any issue playing millions of files every day. This just started on the day of the official Android rele

[2020-09-10 19:50] tosam144 commented on #7880
OK, so I have added the `EventLogger` as `AnalyticsListener`. Within `onLoadStarted`, `onLoadError`, `onLoadCanceled` and `onLoadCompleted` I can see the property `Content-Length` within the `LoadEventInfo` object. But what do you mean with the actual data in the response? Where do I find this info?

And: If indeed the two lengths were to be different, what exactly does that mean and what is the f

[2020-09-10 20:07] AquilesCanta commented on #7794
When you say "serve non HD ..." you mean to the user, is that correct (not a server-side decision)? In other words, your manifest has both HD and non-HD content, and you can render the non-HD one when output constraints are not met for HD. If my interpretation is correct, then you should track #4825, which tracks enhancing ExoPlayer by preventing it from adapting to qualities where DRM constraints

[2020-09-10 20:31] theboubougne commented on #7878
I finally managed to reproduce the issue
If I enable a custom renderer like this

[code]

The AudioProcessor downMixAudioProcessor::onConfigure() method is properly called and channels, samplerate, ... are properly set.

so I don't understand what's causing this

[2020-09-10 21:41] AquilesCanta commented on #7873
As @kimvde points out, the media is malformed. I will check whether MediaPlayer successfully plays the audio and I'll add a workaround for this if MediaPlayer effectively plays the media.

[2020-09-10 22:37] kamalloup commented on #7848
True, thanks @tonihei!
In the meantime I've been suggested an alternative approach:

- Do not use `REPEAT_ONE`.
- Listen for the playback end event for the currently playing video.
- Once the event is received: seek back to current window start.

This basically implements repeat one "manually" while allowing the player to pre-cache the next item in the playlist. Will consider this option together

[2020-09-11 01:58] rishun-fsi opened #7886 "Playback can get stuck buffering in tunneling mode"
[REQUIRED] Issue description

I have to change the following default values inside `DefaultLoadControl` for some reasons.

[code]
 --------
When I play a video in tunneling mode, the playback stays stalled on `STATE_BUFFERING`, but the playback without tunneling mode works well.
I guess a difference is that `hasOutputBuffer()` always returns false in tunneling mode.

Is there a way I can avoid the

[2020-09-11 02:16] luohaohaha commented on #7883
Code like this.
Are there other ways to get raw data?
[code]

[2020-09-11 05:09] gokulkalagara commented on #7384
the client did not share the bug report, so I'm closing the issue

[2020-09-11 05:09] #7384 closed, assigned to gokulkalagara

[2020-09-11 06:37] PratimMallick commented on #7794
Thanks @AquilesCanta for the solution. Would wait for @rrfrias to get back if there is any other way to know this, as we would like to show a logo based on this to the user on a page which is before the playback

[2020-09-11 07:09] nirazv opened #7887 "Document how to pre-cache media or a portion of it"
Its very difficult to find tutorials for caching data using ExoPlayer2.X.X however Exoplayer does provided the official documentation of [CacheUtil.cache](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/cache/CacheUtil.html) class, but its not easy enough to do so?.. Please include tutorial for making cache request in ExoPlayer in your official website  https://exoplayer

[2020-09-11 07:49] tosam144 opened #7888 "ExoPlayer suddenly stops in the middle of streaming"
My users complain about sudden stops of `ExoPlayer` while mp3s are played. There is no loss of Internet connection. I have attached the logcat with `EventLogger` enabled. Could you take a look at it to see if there is something unexpected happening? Thanks!
[mount_zion_eventlogger.txt](https://github.com/google/ExoPlayer/files/5213158/mount_zion_eventlogger.txt)

[2020-09-11 09:35] sumitmattawynk commented on #7017
This issue is sort out,
There is some issue where the calls to exoplayer is going in loop, in the previous version it has handled by exoplayer, but in the new version there seems to be a raise condition which caused this,

[2020-09-11 09:35] #7017 closed, assigned to AquilesCanta

[2020-09-11 10:07] chladto1 opened #7889 "Unable to play midrolls"
### [REQUIRED] Issue description
When _timeOffset_ atribute in VMAP has non zero milliseconds and ads server does not return ad, next ads will not be played any more.

### [REQUIRED] Reproduction steps
Use VMAP below and seek between two midrolls.

### [REQUIRED] Link to test content
[https://devs.origin.cdn.cra.cz/ima/zenexoupdate.xml](https://devs.origin.cdn.cra.cz/ima/zenexoupdate.xml)

### [RE

[2020-09-11 10:36] marcbaechinger commented on #7884
I don't think using a notification should make any difference.

I can play a song with for example Spotify and then the demo app player is paused. When I start playback in the notification of the demo app,  ExoPlayer requests the audio focus again, Spotify pauses and ExoPlayer resumes playback. I can switch from one app to the other by using the controls in their notification.

You can verify whet

[2020-09-11 10:39] AGasztold commented on #7879
Hello, I am not 100% sure if both issues are the same. Issue #4448 occurred on Exoplayer 2.8.1. I have noticed this situation on 2.11.8 (only on Android 8, in tunneling mode), but I could not reproduce it on 2.9.3. Anyway, is it possible to make a workaround for that?

[2020-09-11 10:49] marcbaechinger commented on #7771
Not sure but I don't think this has to do with using a single `PlayerView` only. The player

Can you please start your app with the `EventLogger` attached like you have above. Then switch the channels a few times until you see the faulty behaviour and [capture a bug report](https://developer.android.com/studio/debug/bug-report) and upload here or send it to dev.exoplayer@gmail.com with subject "Is

[2020-09-11 10:50] andrewlewis commented on #7878
Could you clarify how you reproduced the issue in more detail, so I can replicate the same setup here? What is `downMixAudioProcessor`? If that's required to reproduce it please share the source code for it.

[2020-09-11 11:31] TaruiTakashi commented on #7849
@rrfrias

I have sent the bugreport to dev.exoplayer@gmail.com.

I will consider how to adjust the encoding options.

[2020-09-11 12:45] ojw28 commented on #5978
Closing since this will be released in 2.12 any day now!

[2020-09-11 12:45] #5978 closed, assigned to ojw28

[2020-09-11 12:48] krocard commented on #7879
It might not be the same root cause, but it is the same symptom of an AudioTrack init failing because an AudioTrack using the same resources was release recently (and it's resources probably not available yet).
There are two workarounds that ExoPlayer will soon support that should avoid this issue:
 - avoiding to release the AudioTrack on seek (this is currently experimental)
 - retrying to create

[2020-09-11 12:48] #7879 closed, assigned to krocard

[2020-09-11 12:53] AGasztold commented on #7879
Ok, I see. Thank you for your answer!

[2020-09-11 13:29] yoobi opened #7890 "Memory leak DefaultBandwidthMeter class"
# [REQUIRED] Issue description
From time to time when I use Exoplayer with ViewPager2 I'm getting a leak.

### [REQUIRED] Reproduction steps
I haven't found a pattern for this leak it is quite unpridactable. Most of the time this leak appear when I'm on the 1rst Frag and I switch to the 12th Frag.

### [REQUIRED] Link to test content
Here is my code:

**My Fragment**:
[code]
**My Layout**
[code]

[2020-09-11 13:53] kim-vde commented on #7881
I tried to reproduce on a phone and on an Android TV emulator but I couldn’t (I don’t have any TV to test).

Have you been able to reproduce on any other device? It could be a device specific issue.

Maybe @marcbaechinger will have move input on what might be causing this.

[2020-09-11 14:05] kim-vde commented on #7885
The `FileDataSource` does not find the file `/storage/emulated/0/Download/136614.vie.vtt`.

What happens if you execute `adb ls /storage/emulated/0/Download`? Does the file exist?

[2020-09-11 14:17] luiscurini opened #7891 "Problem with HLS and Chromecast."
### Issue description

Some HLS streams cannot be loaded by chromecast enabled devices. The devices try to load the stream but stop abruptly and doesn't trigger any callbacks to know what is producing the error.

I looked for issues here:
https://github.com/google/ExoPlayer
https://issuetracker.google.com/issues?q=componentid:190205%2B%20%20

### Reproduction steps

Clone https://github.com/google

[2020-09-11 14:26] theboubougne commented on #7878
Any Audio processor you add that way will cause the issue on Android 11. You just need to add a custom renderer to reproduce the issue. You can create a copy of the existing SilenceSkippingAudioProcessor class and use it instead of my downMixAudioProcessor  and you will get the issue

[2020-09-11 14:34] kim-vde commented on #7887
It would probably be helpful if you could explain your use case (maybe with a code sample) and what was unclear.

[2020-09-11 14:47] kim-vde commented on #7888
Marking this as a duplicate of #7880. Please re-open the issue and clarify if this is any different.

[2020-09-11 14:49] andrewlewis commented on #7889
Thanks for the report. There is a fix in review.

[2020-09-11 14:53] tosam144 commented on #7888
Yes, this is different because in this case, the Player stops without throwing an Exception. In #7880, an Exception is thrown. Not here but the stream is stopping also.

[2020-09-11 14:55] tosam144 commented on #7880
Please notice that #7888 is not a duplicate. In #7880, no error is thrown. Here, I am getting the ProtocolException (see logs).

[2020-09-11 15:00] kim-vde commented on #7886
Any chance you can try to reproduce the issue on another device to check whether this is a device specific bug?

[2020-09-11 15:04] andrewlewis commented on #7878
I modified the demo app on `dev-v2` to add a silence skipping audio processor with `MediaCodecAudioRenderer`, using the following snippet in place of the `PlayerActivity` code to get a default renderers factory and it worked as expected (side note: the silence skipping audio processor needs to be used in an `AudioProcessorChain` to have the player position advance correctly but that isn't relevant

[2020-09-11 15:05] krocard commented on #7886
What Android TV model are you using and which hardware decoder is in use? Please provide a bug report, even without a crash it can tell us a lot about the tunneling state.
Additionally, since we are working from home due to COVID, we have limited access to tunneling setup to reproduce and most tunneling issues are device specific, bug reports are even more usefull.
Thanks.

[2020-09-11 15:24] theboubougne commented on #7878
I used CustomRenderersFactory to add a new audioProcessor to the add audio Processor to the playback

public class CustomRenderersFactory extends DefaultRenderersFactory {

[code]

For some reasons it stopped working since Android 11. Your sample code works fine. Thanks
I know this isn't related to the main question but can you provide more details about what you mean by 'the silence skipping audi

[2020-09-11 15:30] theboubougne commented on #7878
Your sample fixes the crash BUT, my audio processor is ignored. Audio isn't processed anymore...

[2020-09-11 15:32] marcbaechinger commented on #7890
Very hard to say from a distance. A quick guess makes me think that you do probably not control how your ExoPlayerRecyclerView is destroyed. So I would remove the reference to the player from it eagerly:

[code]

That's what makes me think it's probably around there.
[code]

The listeners created in init have a reference to the `recyclerView` that has a reference to the player? Can you make sure t

[2020-09-11 15:33] andrewlewis commented on #7878
I'll try on 2.11.7 in case it's just a difference in the branches.

[2020-09-11 15:37] theboubougne commented on #7878
I know this isn't related to the main question but can you provide more details about what you mean by 'the silence skipping audio processor needs to be used in an AudioProcessorChain'?

[2020-09-11 15:39] yoobi commented on #7890
I've thought of this as well and I've tried to set my `videoSurfaceView.player` to null in the `releasePlayer` but it didn't change anything.

Oh you're right I haven't tried that out

[2020-09-11 15:39] marcbaechinger commented on #7891
Can you repro this on other devices as well? Like on a recent retail Chromecast or ATV device?

I think the Angel One HLS exceed capabilities of Nest Hub.

[2020-09-11 15:50] kim-vde commented on #7859
Thanks for investigating.

This doesn't seem to be an issue in ExoPlayer. I will close the issue for now. Please re-open if it turns out to be ExoPlayer related.

[2020-09-11 15:51] rs146 opened #7892 "Intermittent Playback OMX.brcm.video.hw.Decoder Error on Amazon FireTV with DASH/Playready content"
### [REQUIRED] Searched documentation and issues
I have had a look on the Issue tracker and StackOverflow - but to no avail.

### [REQUIRED] Question
We are finding that we get the following error intermittently on our production application on 1st generation Amazon fire sticks.
[code]

Please note - I cannot reproduce this error on the ExoPlayer demo application (that's why this has been raised a

[2020-09-11 15:51] #7859 closed, assigned to kim-vde

[2020-09-11 15:54] luiscurini commented on #7891
Yes, we were able to reproduce this with the following devices:

Nvidia Shield, Android 9. Chromecast version 1.47.216070
Philips Android TV (43PUS7304/12). Chromecast version 1.47.216070
Xioami Mi Box S. Can provide version later
Nexus Player. Can provide version later

[2020-09-11 16:14] kim-vde commented on #7860
Have you tried to add `android:allowAudioPlaybackCapture="false` to your manifest application tag?

[2020-09-11 16:16] yoobi commented on #7890
I'm pretty sure it's in the `onPlayerStateChanged` because when I remove it there is no more leak, I'm really uncertain that `        videoPlayer?.removeListener(playerListener)` is working, I've put a `Log` juste before and the `videoPlayer` is instantiated.

I'm sure that `releasePlayer()` is called when the Fragment goes into `onDestroyView()`
Could it be a false positive ?

[2020-09-11 16:20] kim-vde commented on #7876
Sorry but I get the same error with the new file. Can you send an example stream directly by email as indicated in my previous comment?

[2020-09-11 16:23] marcbaechinger commented on #7891
Yeah, I can confirm none of my Chromecast devices are able to play that stream. That is Nvidia, Chromecast Ultra and a Hub.

The stream does not seem to be very demanding actually so I'm not sure what the actual problem is:

[code]

I can't really help you in more detail I'm afraid as the stream does play well on ExoPlayer and I'm not enough of an expert for what's possible on different cast devic

[2020-09-11 16:39] kim-vde commented on #7883
As specified in the Javadoc, `setVideoDecoderOutputBufferRenderer` is intended for use only with extension renderers that accept `Renderer#MSG_SET_VIDEO_DECODER_OUTPUT_BUFFER_RENDERER`.

What you could do is to:
- Create a custom `Renderer` (probably by extending `BaseRenderer`). You might need to make this renderer implement `MediaClock` to speed things up if you don't need to get the frames at t

[2020-09-11 16:43] marcbaechinger commented on #7890
I think you are on the right track to look after references your app is having and nicely clean up all of these. I understand it's a view pager that creates and destroys objects an somehow a reference is leaked which after a few swipes gets obvious.

[2020-09-11 16:50] yoobi commented on #7890
I had a customLayoutManager that called `releasePlayer` when it was getting `detachedFromWindow` I've removed it to call `releasePlayer` in the `onDestroyView` of the fragment, I don't see anymore leaking.

I don't really understand why but it is working nicely now.

[2020-09-11 16:51] andrewlewis commented on #7878
That snippet is a no-op on 2.11.7 as `buildAudioSink` wasn't released there (it should work on the `dev-v2` branch though). Sorry for the confusion.

With your code on 2.11.7 the added `SilenceSkippingAudioProcessor` does work for me on an Android 11 build. It's strange you are seeing different behavior when we have the same setup. Could you provide the output of `adb shell getprop ro.build.finger

[2020-09-11 16:55] #7868 closed, assigned to kim-vde

[2020-09-11 17:00] ojw28 commented on #7860
See https://android-developers.googleblog.com/2019/07/capturing-audio-in-android-q.html for more details.

[2020-09-11 17:00] #7860 closed, assigned to kim-vde

[2020-09-11 17:05] ojw28 commented on #7880
"Unexpected end of stream" normally means that the server response indicated it will provide a certain number of bytes (specified in the `Content-Length` response header), but then closed the connection before providing that many bytes.

That's a server-side issue (i.e., it's either closing the connection when it shouldn't, or it's specifying the `Content-Length` header response incorrectly), not

[2020-09-11 17:05] #7880 closed, assigned to kim-vde

[2020-09-11 17:09] #7889 closed, assigned to andrewlewis

[2020-09-11 17:20] ojw28 commented on #7863
I think this recommendation is documented [here](https://exoplayer.dev/ui-components.html#choosing-a-surface-type).

As noted above, there isn't a setter to change the `PlayerView` surface type from code. You should use the `surface_type` attribute of `PlayerView` in your layout xml. You can do this by putting one version of your layout in your `layout` directory, and another in your `layout-v24`.

[2020-09-11 17:20] #7863 closed, assigned to kim-vde

[2020-09-11 17:22] ojw28 commented on #7862
This is a duplicate of https://github.com/google/ExoPlayer/issues/2213. For now, I'm afraid the recommendation is to implement your own player UI if you require this kind of functionality.

[2020-09-11 17:22] #7862 closed, assigned to AquilesCanta

[2020-09-11 17:25] theboubougne commented on #7878
This is the code of my AudioProcessor class. It returns the configuration and worked for a couple of years without any issue until Android 11

`public class DownMixAudioProcessor extends BaseAudioProcessor {
    private final static String TAG = LogHelper.makeLogTag("DownMixAudioProcessor");
    private int sampleRateHz;
    private int channelCount;
    private @C.PcmEncoding int encoding;
    pr

[2020-09-11 17:25] #7827 closed, assigned to marcbaechinger

[2020-09-11 17:29] #7813 closed, assigned to marcbaechinger

[2020-09-11 17:30] #7775 closed, assigned to marcbaechinger

[2020-09-11 17:31] #7890 closed, assigned to marcbaechinger

[2020-09-11 17:35] ojw28 commented on #7701
Some newer Android devices support 10-bit video, but most do not. Please take a look at [this page](https://source.android.com/devices/tech/display/hdr.html).

[2020-09-11 17:35] #7701 closed, assigned to ojw28

[2020-09-11 17:42] ojw28 commented on #7053
I agree this notification is most likely provided by the Cast SDK rather than ExoPlayer. Closing on that basis.

[2020-09-11 17:42] #7053 closed, assigned to AquilesCanta

[2020-09-11 18:03] hinditutorpoint commented on #7863
Thanks sir

[2020-09-11 18:18] eservicetv commented on #7827
ok thanks dear this I already solved it in the android manifest thanks anyway

[2020-09-11 18:23] Ninjouz commented on #7859
Question is why MX player is handling this correctly while Exoplayer doesn't ? @kim-vde

[2020-09-11 18:42] tosam144 commented on #7880
OK, thank you for the explanation!

[2020-09-11 19:11] mebhupendra commented on #3163
@tonihei is there any ETA for this feature to be available for end user?

[2020-09-11 19:11] hobsRKM opened #7893 "onNotificationPosted startForeground - Null pointer exception class name is null"
I have created a player service and started it in MainActivity.
When i play an audio and in onNotificationPosted when i try to startForground the application crashes with error

[code]
**Here is my setup**

[code]

**Service**
[code]

[2020-09-11 19:24] ojw28 commented on #7859
Note that ExoPlayer is a software library, not a consumer product. We have no way of knowing how Tivimate is using ExoPlayer in their application, and therefore it's impossible to say whether this is an ExoPlayer issue or an issue with the way Tivimate is using it.

As an end user, you should report the issue to the application developer. If the developers of the Tivimate app determine that it's a

[2020-09-11 19:26] johnsky95 commented on #7876
How can I create a Test File?
You asked for HLS File, I just published the manifest and wrote on my previous comment the link to download it.
The manifest is a regular MRU File which has "ts" segments.

Where do you get that CONNECTION REFUSED? I am pretty sure you can download the MRU8 File from the link I provided above

[2020-09-11 20:14] marcbaechinger commented on #7806
Thanks for the update. I close this issue. Please reopen if needed.

[2020-09-11 20:14] #7806 closed, assigned to marcbaechinger

[2020-09-11 20:55] Ninjouz commented on #7859
Sure thing, will try to ping him directly.
Thanks for your input

[2020-09-12 00:57] longquangpham90 commented on #7885
yes file is exist
we can read and open with File Manager, but EXOPlayer can not run

[2020-09-12 06:09] sajjadshahbazi opened #7895 "Allow editing Format in ProgressiveMediaSource"
I have several audio files with the same language in local storage. I Want to switch between audios in the DefaultTrackSelector without Override TrackGoups, But their format field is the same in the TrackGroups. how can I switch between TrackGoups?

[2020-09-12 07:58] hobsRKM commented on #7893
Had to start it on Oncreate

[2020-09-12 07:58] #7893 closed, assigned to marcbaechinger

[2020-09-12 08:11] itboy87 commented on #7853
@christosts @AquilesCanta any update?

[2020-09-12 08:50] rrfrias commented on #7849
Thanks for the bugreport. The UHD playback failure seems to originate from an OMX insufficient resource error. Given that the device is running an old release and chances for an update are unlikely, changing the encoding seems the only viable path forward. Let us know if there are any open questions, otherwise i will close this, in a few days.

[code]

[2020-09-12 12:10] hobsRKM opened #7896 "How to make the notification dismissable when using a foreground service"
I have implemented a foreground service which exoplayer supports and started it.
In playerState listner i used stopForeground(false)  after setplayerWhenReady(false).
No matter what I do I cannot dismiss the notification.

Tested on device ONE PLUS6T Android 10

**Here is the code for service:**
[code]
Here is how I am starting the foreground service

[code]

Here is the notification listener:

[c

[2020-09-12 12:30] johnsky95 commented on #7876
This is how the m3u8 file looks like
`#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:10
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-PLAYLIST-TYPE:VOD
#EXTINF:10.000000,
inc/tvmak0.ts
#EXTINF:5.080000,
inc/tvmak47.ts
#EXT-X-ENDLIST
`

The request to "ts" file which HLS.js library is sending
`https://t3.tvmak.com/tv/TVART47.ts`

As far as I can see, the Segment url does not point to a valid source [404 Not Found

[2020-09-12 14:16] nirazv commented on #7887
How to implement CacheUtil.cache()??

cache(DataSpec dataSpec, Cache cache, CacheKeyFactory cacheKeyFactory, CacheDataSource dataSource, byte[] buffer, PriorityTaskManager priorityTaskManager, int priority, CacheUtil.ProgressListener progressListener, AtomicBoolean isCanceled, boolean enableEOFException)

how to call this function can u please explain me entire guide to implement it in application

[2020-09-12 14:48] marcbaechinger commented on #7896
It's the intended behaviour that a user can not remove the notification as long as the notification is attached to a foreground service. You need to stop the service being in foreground when the player is paused. That allows the user to swipe away the notification. If the player is started again you put the service into foreground again.

Please refer to #7276 which explains how you can do that. P

[2020-09-12 15:24] marcbaechinger commented on #7896
Closing this issue for now. Please reopen if you think the question is not covered by other issues.

[2020-09-12 15:24] #7896 closed, assigned to marcbaechinger

[2020-09-12 15:43] marcbaechinger commented on #7887
You are correct that the Developer Guide does not cover this in detail. Thanks for raising this. I marked the issue as a 'documentation candidate' so we find ways to improve that.

For fixing this we should probably look into the three blog post about similar topics on Medium. Specifically, ["Pre-caching/Downloading progressive streams in ExoPlayer"](https://medium.com/google-exoplayer/pre-caching

[2020-09-12 15:51] andrewlewis commented on #7878
`DownMixAudioProcessor` is overriding `BaseAudioProcessor.isActive`, and if you are returning true there it is necessary that the preceding `onConfigure` call returned a valid format (not `AudioFormat.NOT_SET`). It looks like the implementation doesn't follow that contract, so the next audio processor, `SilenceSkippingAudioProcessor` if this is the only custom one, can get an invalid format as inp

[2020-09-12 16:11] marcbaechinger commented on #7839
Sorry for my late reply!

If you only want to download data temporarily it's probably easier to do this directly without using download manager. Using a `DownloadManager` with a LRU cache sounds like difficult to me.

We have a [blog post about how to pre-cache progressive streams](https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6). So if you

[2020-09-12 16:17] #7444 closed, assigned to marcbaechinger

[2020-09-12 17:38] theboubougne commented on #7878
Thanks a lot for this information.
This fixes the error on Android 11 however the audio effect is still not applied after I stopped overriding isActive. It still works fine on previous version of Android.
When debugging I can see that isActive is returning TRUE, until player state playWhenReady is changed to true.
After that onConfigure is called  with valid information and yet BaseAudioProcessor.

[2020-09-12 18:51] skkshoaib commented on #5660
Hi, This is still not published to release-v2 version but has been dev for 6 months. Any particular reason?

[2020-09-12 19:56] ojw28 commented on #5660
It will be released very soon, in 2.12.

[2020-09-12 20:12] tpuserhp commented on #7856
Hi support, sorry I reopen the issue because I have new eventlogger information to provide below.
I put in eventlogging in my own app and captured the follwoing events under ExoPlayer 2.10.8 and 2.11.8:

Results using ExoPlayer 2.10.8:

09-12 11:49:41.494 D/EventLogger(848): decoderInitialized [1.73, 0.00, window=0, period=0, video, OMX.qcom.video.decoder.avc]
09-12 11:49:41.951 D/EventLogger(848)

[2020-09-12 22:54] #1603 closed, assigned to AquilesCanta

[2020-09-12 22:55] #5107 closed, assigned to AquilesCanta

[2020-09-12 22:55] #7689 closed, assigned to andrewlewis

[2020-09-13 03:51] nirazv commented on #7887
thanks for raising my issue, it will be much helpful for me... However the blog you shared is also not covered the proper use case (Initialization) part..

I want preload some chunks of data for my upcoming vidoes and store it in cache so later i can use it without much delay..

[2020-09-13 05:28] dpriskorn opened #7897 "Do you support F-Droid inclusion?"

[2020-09-13 10:15] ojw28 commented on #7897
It's somewhat unclear what your question is, since ExoPlayer is a library, not an application. We do provide some demo applications, but these are intended for developers rather than for end users.

ExoPlayer is distributed under the [Apache License 2.0](https://github.com/google/ExoPlayer/blob/release-v2/LICENSE), so you can use it in ways permitted under that license. We don't take any specific

[2020-09-13 10:15] #7897 closed, assigned to ojw28

[2020-09-13 10:23] marcbaechinger commented on #7887
Sorry to hear. If you give me some specific hints what bits you have question about, I can probably help you some further here in the issue. You can also dig around here in old issues a bit as this question probably has been asked before already.

[2020-09-13 14:01] nirazv commented on #7887
i want proper documentation/implementation of using CacheUtil.cache class

I am using ExoPlayer with viewpager2 and want to make application just like tiktok so when i scroll down its goes to the next player and use different data source. For that i want to pre-download first 10sec of data(chunk) of the next video. so whenever user scrolls to next player the player should not wait for downloading/

[2020-09-13 16:19] theboubougne commented on #7878
BTW I switeched to v2.12 and the new and started using this:

SilenceSkippingAudioProcessor audioProcessor = new SilenceSkippingAudioProcessor();
audioProcessor.setEnabled(true);
RenderersFactory renderersFactory = new DefaultRenderersFactory(/* context= */ this) {
  protected AudioSink buildAudioSink(Context context, boolean enableFloatOutput, boolean enableAudioTrackPlaybackParams, boolean enabl

[2020-09-13 19:11] marcbaechinger commented on #7887
Ok, thanks. I think I understand now. Sorry for being slower than you expected. :) I already added the `documentation candidate` tag, so we are aware that needs some effort to document this more in-depth at times.

For your use case you need to do two things. First you need to make sure to use a `CacheDataSource` when creating the player. [You can find how to do that in the Developer Guide](https:

[2020-09-13 20:40] uberchilly opened #7898 "Visual bug with UI with StyledPlayerView"
### [REQUIRED] Issue description
Visual bug with rewind and fast forward buttons, description text not in the center, and button icons not white.

### [REQUIRED] Reproduction steps
Added StyledPlayerView to the layout like this
![image](https://user-images.githubusercontent.com/5727941/93028119-14618100-f612-11ea-955a-20eadf0f6ad0.png)

### [REQUIRED] Link to test content
Not applicable

### [REQU

[2020-09-14 02:15] manluo-MTK commented on #7881
hi kim-vde

- there are two case :
1.if press MENU, TV show customized menu UI, EXOplayer will  ok
2.if press MENU, TV don't has customized menu UI, EXOplayer will lose focus.

- different android vesrions also are  different.
1. android P, press once ok, press twice no-ok, press thrice ok, then always ok.
2.android Q,  press once ok, press twice no-ok, press thrice no-ok. then always no-ok.

- YE

[2020-09-14 07:12] luiscurini commented on #7891
I will post the issue in the tracker and see if they could help with it and keep this updated.

Thanks

[2020-09-14 08:55] andrewlewis commented on #7878
Please paste your updated `onConfigure` and `isActive` implementations here.  In the code you provided above, `onConfigure` is going to return `AudioFormat.NOT_SET` if the audio processor is configured twice with the same format, which I think is a bug:

[code]

[2020-09-14 09:01] ravisaini1990 opened #7899 "Exo player notification get collapsed in locked screen when other notification appears"
I am using the Exo player notification manager to show the notification for my audio player app. Here I am facing an issue that when I am on the locked screen and other application notification also coming so the player  in notification get collapsed, the action button get hidden as you can see in the attached image.

What I need -
I need Exo player notification manager to be in expanded form alwa

[2020-09-14 09:01] ravisaini1990 commented on #7899
[Collapsed_player](https://www.linkpicture.com/q/Exo.jpg)

[2020-09-14 09:38] nirazv commented on #7887
CacheUtil class removed from exoplayer 2.12.0??

https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/cache/CacheUtil.html

[2020-09-14 09:44] christosts commented on #7856
Hi @tpuserhp,

The difference in decoders indicates there is an issue with the `c2.android.avc.decoder` decoder on your device. I need to dig why ExoPlayer v2.10.8 and v2.11.8 pick up different decoders. I will try on an Android 10 test device myself, however, I kindly ask you to do the following steps:

- ExoPlayer v.2.12 was just released, can you please try with the latest ExoPlayer and let me

[2020-09-14 09:55] AquilesCanta commented on #7794
We have filed a bug for adding a relevant feature in the Android platform [Internal ref: b/168322023]. Note that this will be usable only on newer Android versions.

I think your use case is reasonable and I'll try to think of a workaround which works on earlier Android versions. I'm thinking of something like a locally hosted license response which we can feed to MediaDRM to check key status with

[2020-09-14 10:16] orcunkobal commented on #7831
Hi @marcbaechinger,

The new release (2.12.0) is published. I guess this issue didn't resolve yet. Because I refactored my music service to the new Playlist API but nothing changed. I'm just wondering, Will you update this issue in the next release?

[2020-09-14 10:18] marcbaechinger commented on #7887
In 2.12 this class has been replaced with `CacheWriter`. Sorry I didn't know that else I would have mentioned it. It has been release this weekend.

[code]

If you want to upgrade to 2.12 please look at the [CacheWriter](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CacheWriter.java) JavaDoc which seems to be more exhaus

[2020-09-14 10:26] marcbaechinger commented on #7899
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

The same applies to https://github.com/google/ExoPlayer/issues/7824. If you have solved the problem in #7824 you can close the issue.

[2020-09-14 10:32] marcbaechinger commented on #7831
I will look into this asap. I can not give you an ETA I'm afraid. I need to test the behaviour with Android Auto myself. I will update this issue as soon as we have news. I'm sorry to not have a better answer for you right now I'm afraid.

[2020-09-14 10:34] orcunkobal commented on #7831
Thank you for your quick response. I'll wait for your good news.

[2020-09-14 10:36] tonihei commented on #3163
We don't usually provide ETAs due to potentially changing priorities and to avoid disappointment (see above, where I did that and then the feature wasn't include the release!). I'll keep the issue posted once we have updates.

[2020-09-14 10:40] #7824 closed, assigned to marcbaechinger

[2020-09-14 10:41] ravisaini1990 commented on #7824
Fixed

[2020-09-14 10:47] ravisaini1990 commented on #7899
I closed the previous ticket, kindly provide me the solution for this ticket @marcbaechinger

[2020-09-14 10:55] kim-vde commented on #7888
I don't see any indication of what could have gone wrong in the logs so I can only guess.

I see the decoder used is `OMX.SEC.mp3.dec`. We already encountered issues due to this decoder in the past (e.g. see #4519). Could you try to exclude it in `MediaCodecUtil#applyWorkArounds()` and tell me if it fixes the problem? You can also use a `MediaCodecSelector` in the `DefaultRenderersFactory` to excl

[2020-09-14 11:11] marcbaechinger commented on #7899
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

I really ask for that information, specifically for a [bug report](https://developer.android.com/studio/debug/bug-report), because I need that information. A notification is placed by the OS and henc

[2020-09-14 11:28] AquilesCanta commented on #7853
Hi, we are looking into this. I'll post below once I have any updates. Thanks for your patience.

[2020-09-14 11:36] jonas-wilnerzon opened #7900 "How to use OkHttpClient with ExoPlayer and HlsMediaSource"
Hi,

I'm trying to use `OkHttpClient` with ExoPlayer and `HlsMediaSource`, but I keep getting this error:

`java.lang.AbstractMethodError: abstract method "com.google.android.exoplayer2.MediaItem com.google.android.exoplayer2.source.MediaSource.getMediaItem()"`

...when executing `player?.setMediaSource` in

[code]

I've tried different approaches setting the media source, such as
`player?.prepare

[2020-09-14 11:44] AquilesCanta commented on #7891
If I remember correctly, angel one is not playable because of an issue in the default receiver. It's possible to play angel one using a third party receiver app ([bitmovin](https://bitmovin.com/demos/stream-test?format=hls&manifest=https%3A%2F%2Fstorage.googleapis.com%2Fshaka-demo-assets%2Fangel-one-hls%2Fhls.m3u8)). This is something that I have reported to the cast team [Internal ref: b/14442185

[2020-09-14 11:52] luiscurini commented on #7891
I'm linking the issue here: https://issuetracker.google.com/issues/168413148

I tested the Angel One and our stream with bitmovin and it worked, but it'd be good to know why this is happening and if we could do something to our HLS streams so they work with the default receiver. Right now I can't see any errors that could help me to know this :(

[2020-09-14 12:05] #7900 closed, assigned to ojw28

[2020-09-14 12:21] christosts commented on #7856
Some further information:
- The test stream says the codec is `avc1.640029` which indicates the video is encoded with H264 high profile. Note that high-profile is not necessarily supported on Android devices, it's up to the specific device to support it, but not guaranteed for all Android certified devices (eg see [Supported formats](https://developer.android.com/guide/topics/media/media-formats))

[2020-09-14 12:21] #7856 closed, assigned to christosts

[2020-09-14 12:56] farnooa opened #7901 "Upgrading from 2.11.x to 2.12 questions"
Hello. I am upgrading from v2.11.x into v2.12 and there are so many deprecated methods. I could not find examples and I have searched the issues but since 2.12 is a fresh update, I did not expect much. I just want to know if my changes are the proper changes. That is all.

I have changed:
[code]
into:
[code]

I have changed:
[code]
into
[code]

For external subtitles, I have changed:
[code]
into:

[2020-09-14 13:11] marcbaechinger commented on #7901
That seems fine I think. It does not seem to compile they way you have it?

Actually, the use cases you are having seem to be supported by the new MediaItem now. We [documented how you can leverage the media item in the Developer Guide](https://exoplayer.dev/media-items.html).

[code]

For the [subtitle case you can to build a  media item](https://exoplayer.dev/media-items.html#sideloading-subtitl

[2020-09-14 13:29] #7808 closed, assigned to christosts

[2020-09-14 13:38] kim-vde commented on #7885
`FileDataSource` uses a `RandomAccessFile` to read the file (at least in the latest version of ExoPlayer). Can you debug and check what are the parameters passed to the constructor of `RandomAccessFile`? What version of ExoPlayer are you using?

[2020-09-14 13:48] ojw28 opened #7902 "CacheUtil removal not listed in release notes for 2.12"
This is a release notes omission. It's been replaced by `CacheWriter`. The non write utility methods are now supported directly on `Cache`. We will update the release notes shortly.

[2020-09-14 13:51] Stonos opened #7903 "DASH live stream does not play correctly on Android 11 emulator"
### [REQUIRED] Issue description
When trying to watch a DASH live stream on an Android 11 emulator the video appears to be playing too fast. Eventually, it reaches too close to the live edge which causes constant buffering since it plays faster than realtime.

You can see an example here:
https://drive.google.com/file/d/1l6E6dTVbE2rOfQc9XN05YuGH4p2Vn3lc

Notice how fast the seconds change, and how

[2020-09-14 13:54] marcbaechinger commented on #7887
We created an issue #7902 to mention replacement of `CacheUtil` by `CacheWriter/Cache`.

[2020-09-14 13:54] amirhasanovic commented on #7771
I have sent an email to the above address, hope to be hearing from you soon.

[2020-09-14 14:02] kim-vde commented on #7876
Do you mean to redirect the requests to another URL? I don't think so, no. You need to make sure that the HLS manifest is correct before passing it to ExoPlayer.

Yes. This is what ExoPlayer does for live content for example.

I am afraid I cannot help much if I don't have access to the test content. Have you tried to play it using our [demo app](https://github.com/google/ExoPlayer/tree/dev-v2/dem

[2020-09-14 14:15] marcbaechinger commented on #7771
I think this is not a complete bug report. It only contains the window manager parts of it?

This link describes how to [capture a bug report](https://developer.android.com/studio/debug/bug-report). Roughly you can do a

[code]

Can you check and probably send the email again with a full bug report?

[2020-09-14 14:17] kim-vde commented on #7881
I think the next step would be to test on a non-MTK TV to:
1. check whether it is MTK specific, and
2. if not, be able to debug the issue to see where it comes from.

I am afraid we don't have easy access to TV devices with the current WFH situation so it might take some time before we are able to test.

[2020-09-14 14:29] AquilesCanta commented on #7891
I'm sorry I can't be of more help to you, I don't have control over the default receiver. Let's hope the cast team looks into this some time soon.

[2020-09-14 15:10] farnooa commented on #7901
Thank you very much for the information, @marcbaechinger

[2020-09-14 15:10] #7901 closed

[2020-09-14 15:18] kim-vde commented on #7892
`omxError 0x80001003` means that no component with the specified name was found.

Are you using the same player instance when playing the stream for the second time? If not, do you release the first player before using the second one? It could be that the codec is still locked by the first player while the second player is trying to get it.

Do you have the same issue with another codec? You can t

[2020-09-14 15:25] #7767 closed, assigned to kim-vde

[2020-09-14 15:41] kim-vde commented on #7888
Another possibility: are you sure you are not releasing the player during playback? It could be useful to add a log line when calling player#release.

[2020-09-14 15:42] rs146 commented on #7892
Thank you for your reply - this is very helpful. I can confirm that we do not use the same player instance when playing the stream for the second time. I will have another look at the code - we do release the player before we start playback and this could be causing it.

[2020-09-14 16:38] icbaker commented on #7895
I'm afraid I don't quite understand what you're trying to do, and what you currently have working.

Is the question about distinguishing multiple tracks by their `Format` when they're all in the same language (so you can't use `Format#language`)?

It sounds like these audio tracks are all in individual files, rather than packaged into a container file? In that case, are using `MergingMediaSource`

[2020-09-14 16:41] nirazv commented on #7887
now I am closing this thread because my issue was solved with CacheWriter and also CacheUtil class is no longer available..

Thanks for helping me a lot...

[2020-09-14 16:43] marcbaechinger commented on #7887
Thanks for letting me know. I'm glad I was able to help.

I keep this open as we probably should document this in a bit more detail as it is an interesting use case.

[2020-09-14 17:26] icbaker commented on #7903
Thanks for the report, and the test content.

I can reproduce what you describe with a Nexus 5X emulator running Android 11. I also tried with a Pixel 4 emulator running Android 11 and see the same behaviour.

A Pixel 3 emulator running Android 10 doesn't behave the same (it seems to play at 'normal' speed and never catches up/rebuffers).

Assigning to @tonihei for further investigation.

[2020-09-14 17:32] AquilesCanta commented on #7873
I can confirm the media plays with audio on MediaPlayer. I'll add a workaround to fix this in ExoPlayer.

[2020-09-14 17:34] AquilesCanta commented on #7842
I will be adding a workaround for ExoPlayer to support streams with this kind of issues. Please track #7873.

[2020-09-14 17:35] AquilesCanta commented on #5537
I will be adding a workaround for ExoPlayer to support streams with this kind of issues. Please track #7873.

[2020-09-14 17:36] tpuserhp commented on #7856
Thanks support for your help. 2.12.0 does not help. Likely, there's not much you and I could do  for the enhancement introduced in  version 2.11 and higher that causes this issue.  For now, I just stick with 2.10.8 for my app. Thanks again.
Also, the suggested git command - git checkout r.2.10.8 - does not work. It does not match any files known to git.

[2020-09-14 18:02] christosts commented on #7856
Apologies, I mistyped the version string, the command is `git checkout r2.10.8`

[2020-09-14 18:06] farnooa opened #7904 "Is ProGuard no longer supported on 2.12+?"
I have tried creating a release with ProGuard enabled and it failed with 900+ warnings that are like the following:

[code]

The rest of the warnings are all `com.google.common.*` related.

This was not an issue before 2.12.0.  So, I wonder if ProGuard is no longer supported on 2.12+.

Thanks.

[2020-09-14 18:09] tpuserhp commented on #7856
Great. It works.!Thanks!!

[2020-09-14 18:12] mueller-ma opened #7905 "Cannot access class 'com.google.common.util.concurrent.ListenableFuture'. Check your module classpath for missing or conflicting dependencies"
### [REQUIRED] Issue description
I'm using work manager 2.4.0 and exoplayer 2.11.8 in an app: https://github.com/openhab/openhab-android/blob/master/mobile/build.gradle
When I want to bump the exoplayer version to 2.12.0 the build fails: `Cannot access class 'com.google.common.util.concurrent.ListenableFuture'. Check your module classpath for missing or conflicting dependencies` at `WorkManager#ge

[2020-09-14 19:32] menscikov opened #7906 "FFmpeg extension not building"
1. In the latest ExoPlayer version there is an error:
`More than one file was found with OS independent path 'lib/armeabi-v7a/libavcodec.so'.`

To get this error i'm building ExoPlayer with 3 extensions together (using the manuals provided with extensions) on my Mac:
1. AV1
2. VP9
3. FFmpeg

AV1 + VP9 is working OK, but after i compiling FFmpeg, i can't build the project anymore.

Maybe here is th

[2020-09-14 19:38] MartinKei commented on #7888
I have the same problem with an app using the `c2.android.mp3.decoder` decoder. A few days suddenly users have started to report problems when trying to stream an mp3 stream.

I couldn't pin-point anything specifically wrong, just noticed a few things:

- Problem does only occur on devices with Android > 8, works on my Android 8 OnePlus 3, but happens on my Android 10 test device
- Problem does on

[2020-09-14 19:58] menscikov commented on #7906
I resolved both problems:

1. For Gradle Plugin version 4.0 and above. Removed this code from **extensions/ffmpeg/build.gradle** file:
[code]

2. Changed `robolectricVersion = '4.4-SNAPSHOT'` to `robolectricVersion = '4.4'` in **constants.gradle** file.

[2020-09-14 20:51] ojw28 commented on #7906
Some of the other extensions have the line:
[code]
which is missing the FFmpeg `build.gradle`. Perhaps we should be adding that, rather than removing what's there. @AquilesCanta - Do you know about this?

`4.4-SNAPSHOT` works fine for me, even after invalidating caches. What repositories is your project using? Are you using `google()` and `jcenter()` as per the [README](https://exoplayer.dev/hello

[2020-09-14 21:16] jacklonas opened #7907 "Understanding the changes with deprecated onPlayerStateChanged"
I have checked the documentation and `onPlayerStateChanged` is now deprecated. The documentation suggests that I use `onPlaybackStateChanged` / `onPlayWhenReadyChanged` to replace `onPlayerStateChanged` Though, I cannot quite understand the difference.

I have a listener on my `SimpleExoPlayer` instance like the following

[code]
Also, on my app I control multiple players. So, I cache the `Player.

[2020-09-14 22:24] marcbaechinger commented on #7907
The context of the change is a design decision that we want to have callbacks consistently notify changes of a single property only. So for every getter like `getPlaybackState` there is a corresponding callback method `EventListener.onPlaybackStateChanged`.

So yeah, regarding 1)I think you are all set with changing the signature to `onPlaybackStateChanged`. If you were interested in the value of

[2020-09-14 22:37] jacklonas commented on #7907
Thanks a lot for the information and all the time you spent on writing the answer @marcbaechinger I really appreciate it. I do not listen to timeline changes on my code. I simply use `eventListener.onTimelineChanged()` to manually force refresh the time (duration) on the PlayerControlWidget. Will it make any difference if I use `Player.TIMELINE_CHANGE_REASON_SOURCE_UPDATE` as the reason as opposed

[2020-09-14 22:41] marcbaechinger commented on #7907
I this case you want to wait for `Player.TIMELINE_CHANGE_REASON_SOURCE_UPDATE` because the duration is only available after preparation. The player needs to read parts of the stream while preparing to get the actual duration and tells you with a `Player.TIMELINE_CHANGE_REASON_SOURCE_UPDATE` when done.

[2020-09-14 22:45] marcbaechinger commented on #7907
Actually I would just delegate all calls to the views. The PlayerControlView expects to be attached to a player and to receive all events. So if we ever change to what the view listens, you don't need to do anything.

[2020-09-14 22:47] jacklonas commented on #7907
Though, if the player is playing and I want to force refresh the duration using cached `eventListener.onTimelineChanged()` (I have a unique use case), I can use either of the reasons without issues?

[2020-09-15 00:50] theboubougne commented on #7878
Thanks a lot. This fixes my issue.
The difference is that Android 11 calls onConfigure multiple times compared to older version of android. If this normal then you can close this ticket, otherwise this might be worth investigating
Thanks!

[2020-09-15 01:04] #7758 closed, assigned to marcbaechinger

[2020-09-15 01:04] #7748 closed, assigned to andrewlewis

[2020-09-15 01:46] wangxuan217 opened #7908 "how do one mp4 file and two wav files,I hope the video is playing but the sound comes from the wav file"
How to add two audio tracks to all the way video, while ensuring audio switching and audio and video synchronization.

[2020-09-15 02:15] arlimm318 opened #7909 "Render final frame of MPEG-TS video"
This TS contains only one I frame，android Error while playing.
[bjws-20655436911.zip](https://github.com/google/ExoPlayer/files/5222085/bjws-20655436911.zip)

The error log：
09-15 10:07:06.325 6394-6394/com.google.android.exoplayer2.demo E/EventLogger: playerFailed [eventTime=4.32, mediaPos=0.00, window=0, period=0
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at c

[2020-09-15 05:59] eservicetv opened #7910 "How can I implement a search view in the application"
How can I implement a search view in the application and make it work?
![we4rgwreg](https://user-images.githubusercontent.com/70307516/93171419-6f24d680-f6ff-11ea-9144-4ebc5750c462.PNG)

[2020-09-15 06:19] itboy87 commented on #7853
Hi @AquilesCanta ok. Thanks.

[2020-09-15 06:55] DavidMihola opened #7911 "How to indicate/transmit absolute timestamp in DASH?"
### First, some background ###
In our TV app, users can watch the streams live as well as in "catchup" mode, i. e. most content is available as VOD for 7 days after it was aired. With all the content coming from actual TV channels, each piece of content has a _natural, absolute_ timestamp associated with it.
We are using this timestamp in a variety of ways, like:
* We always store the last positio

[2020-09-15 07:06] dilip-jaiswal opened #7912 "how to show scrubber at the end of Exoplayer DefaultTimeBar in live video streaming?"
I have implemented exoplayer videoview and it's working fine. but i am trying to show the DefaultTimeBar scrubber at the end of DefaultTimeBar in live video streaming, and also want to enable fast forward button after video preview (for live streaming case).

[2020-09-15 07:08] dilip-jaiswal opened #7913 "how to show scrubber at the end of Exoplayer DefaultTimeBar in live video streaming?"
I have implemented exoplayer videoview and it's working fine. but i am trying to show the DefaultTimeBar scrubber at the end of DefaultTimeBar in live video streaming, and also want to enable fast forward button after video preview (for live streaming case).

[2020-09-15 07:11] amirhasanovic commented on #7771
Yeah, i made a mistake, i sent the full report again, hope this one will clear the situation

[2020-09-15 07:23] menscikov commented on #7906
Hello,

Yes, i use both `google()` and `jcenter()`. Don't know why, but only "4.4" is working for me.

[2020-09-15 08:14] fluidsonic opened #7914 "License file is missing copyright owner"
Is the license actually valid without it?

https://github.com/google/ExoPlayer/blob/d2fa7b0217d069cda4d2588ad39e17f042093a28/LICENSE#L190

[2020-09-15 08:49] KgotsoK commented on #6265
This should be prioritized...

[2020-09-15 08:59] menscikov commented on #7906
I've tried this, not working. Only removing helps to fix this issue.

[2020-09-15 09:10] icbaker commented on #7908
It sounds like you might want [`MergingMediaSource`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/MergingMediaSource.html).

If that doesn't seem right, can you provide a bit more detail about exactly what you're trying to do: Do you have 3 separate files (2x audio + video) that you want to play simultaneously (with one or other of the audio selected), or is it somethin

[2020-09-15 09:17] icbaker commented on #7910
ExoPlayer only provides the library for actually playing media. Everything else in the app (e.g. browsing, searching) is not within the scope of this library or issue tracker.

We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow.

[2020-09-15 09:26] icbaker commented on #7911
Would you be able to provide examples of the HLS playlist that works with your existing logic and the DASH playlist that doesn't? You can email them to dev.exoplayer@gmail.com with subject "Issue #7911" (and let us know here you've sent them) if you don't want to post them publicly.

It's going to be much easier to fully understand the problem with concrete examples.

[2020-09-15 09:30] icbaker commented on #7912
Please provide more info. Some things that would be useful:
* Details of exactly what you've managed to get working so far (probably including screenshots)
* A clearer description of what you're aiming for.

[2020-09-15 09:30] icbaker commented on #7913
Duplicate of https://github.com/google/ExoPlayer/issues/7912

[2020-09-15 09:30] #7913 closed, assigned to nobody

[2020-09-15 09:42] dilip-jaiswal commented on #7912
Thanks for the reply.

Actually I have implemented exoplayer in my app for video streaming (VOD
and live streaming).
i am using DefaultTimeBar  view for video progress and its working fine in
VOD, but the problem is
that when playing live video DefaultTimeBar scrubber getting preview and
back that should not be. it should be constant.
I have attached two screenshots live.PNG and live1.PNG .

live.

[2020-09-15 09:43] icbaker commented on #7912
It doesn't look like GitHub attached the screenshots from your email to the issue.

Can you attach them directly in a new reply through the web UI?

[2020-09-15 09:47] dilip-jaiswal commented on #7913
i am using DefaultTimeBar  view for video progress and its working fine in VOD, but the problem is
that when playing live video DefaultTimeBar scrubber getting preview and back that should not be. it should be constant.
I have attached two screenshots live.PNG and live1.PNG .

live.png is what I am getting and live1.png is what I want.
Basically I want to show the DefaultTimeBar scrubber at the en

[2020-09-15 09:52] dilip-jaiswal commented on #7912
if you are not understanding my issues.
Please tell me how to manage the DefaultTimeBar view for live video
streaming. scrubber (thumb) should be shown at the end of DefaultTimeBar
view constantly.

On Tue, Sep 15, 2020 at 3:14 PM Ian Baker <notifications@github.com> wrote:

--

Thanks & Regards
Dilip Kumar

[2020-09-15 10:03] johnsky95 commented on #7876
Hi Kim-Vde.
Thanks for your reply.

Unfortunately the client has build the website and he wants me only to extract the html, find the .m3u8 source and play it on Android.

As I mentioned on my last comment, the ".m3u8" playlists points to some paths like "inc/tvmak47.ts, inc/tvmak48.ts, inc/tvmak{n...}.ts" but the correct url to that segment is "tv/tvmak{n..}.ts" instead of "inc/"

Is there any ot

[2020-09-15 10:07] #7876 closed, assigned to kim-vde

[2020-09-15 10:15] dilip-jaiswal commented on #7912
i am using DefaultTimeBar view for video progress and its working fine in VOD, but the problem is
that when playing live video DefaultTimeBar scrubber getting preview and back that should not be. it should be constant.
I have attached two screenshots live.PNG and live1.PNG .

live.png is what I am getting and live1.png is what I want.
Basically I want to show the DefaultTimeBar scrubber at the end

[2020-09-15 10:20] nirazv commented on #7887
i have successfully cache my first video using CacheWriter.cache method but How do i can store the current completed cache index in ExoDatabaseProvider and then retrieve it later?

My code is listed below:

[code]

[2020-09-15 10:24] icbaker commented on #7912
Thanks for the screenshots.

When playing live content the 'end' of the progress bar (i.e. right hand side) represents the live edge of the content, i.e. the current clock time. It's impossible for playback to ever reach this because there's always going to be some latency between the source of the content and your device. There also usually needs to be some content buffered (the pale grey line on

[2020-09-15 10:30] EllingtonKirby commented on #7861
Hi Kim! There are security issues around me sending you our sample app, so I am working on creating a sample app to reproduce the issue.

In the meantime, I have worked on debuging `Sniffer.java`

I set up some breakpoints in `ProgressiveMediaPeriod.java` and `Sniffer.java` during the `selectExtractor` process, and logged the three booleans returned by `sniffInternal`

[code]

It looks like the ex

[2020-09-15 10:51] icbaker commented on #7905
Ah sorry for this - there's a bit more detail about what's going on here in a blog by Gradle: https://blog.gradle.org/guava

There are a couple of options for you to fix this:
1. Add a dep from your module on Guava (this is how we resolved the same error in the exo-workmanager extension: https://github.com/google/ExoPlayer/commit/1f125425a829497c598fe4a173afb71395102fe3)
2. Use the missing-metadat

[2020-09-15 10:55] menscikov opened #7915 "MediaItem.Builder() doesn't contain StreamType in ExoPlayer 2.12.0"
Hello,

Until ExoPlayer 2.12.0 i used `MediaInfo.Builder()` where i could set media stream type, for example: `.setStreamType(MediaInfo.STREAM_TYPE_LIVE)` and then i passed all information to the `MediaQueueItem.Builder()` to cast video to Google Chromecast.

In the new ExoPlayer 2.12.0 version i have to use `MediaItem.Builder()` now. And it is impossible to set media stream type now.
Or maybe i'm

[2020-09-15 11:03] icbaker commented on #7904
Is it possible for you to use R8 instead of ProGuard?

ProGuard hasn't been the default since Android Studio 3.4: https://developer.android.com/studio/build/shrink-code

2.12.0 adds Guava as a dependency, which is why you won't have seen these errors before.

[2020-09-15 11:14] Stonos commented on #7296
I'm also facing the same issue, and I agree with @Muman that the easiest solution seems to be the removal of the call to `endCurrentSession` when calling `CastPlayer.release()`.

Is there any reason to keep the same instance of `CastPlayer`? Why not release the `CastPlayer` when the app goes in the background, and create a new `CastPlayer` instance when it comes to the foreground?

Using a foregro

[2020-09-15 11:16] tonihei commented on #7903
I can reproduce the issue and it seems to be caused by a malfunctioning `MediaCodec` version (`OMX.android.goldfish.h264.decoder`) that is part of the emulator system image. I'll try to file an issue internally to get this fixed [internal ref: b/168593698].

[2020-09-15 11:21] kim-vde commented on #7888
Could you check if you can reproduce on our [demo app](https://github.com/google/ExoPlayer/tree/dev-v2/demos/main) (if yes, please send the logs)? And also if it works if you exclude the decoder as suggested above?

[2020-09-15 11:25] menscikov commented on #7915
There is also a problem with `com.google.android.exoplayer2.MediaMetadata` class.
It's only accepting "title" now.

Earlier i used `com.google.android.gms.cast.MediaMetadata` class, and i could set "title", "subtitle", "image" and other options to metadata with `MediaInfo.Builder()`.

But now `MediaItem.Builder()` is only accepting `MediaMetadata` class from `com.google.android.exoplayer2`.

[2020-09-15 11:29] menscikov commented on #7915
Maybe it's better to leave `MediaQueueItem.Builder()` and make `CastPlayer.loadItem()` method not deprecated for Google Chromecast?

[2020-09-15 11:50] kim-vde commented on #7861
Thanks. I think this is gonna be much easier.

This is different from the original issue, right? If yes, please open another bug so that the discussion is easier to follow.

Does this occur only in repeat mode? Is the duration indicated in the UI correct?

Again, sharing the file which produces the issue and/or reproduction steps would really be helpful.

You could also debug `MediaCodecRenderer#f

[2020-09-15 11:59] marcbaechinger commented on #7915
You can pass a `MediaItemConverter` to the constructor of the `CastPlayer`. This lets you convert the `MediaItem` to a `MediaQueueItem` which is then sent to `RemoteMediaClient`.

If you want to transport custom data with the `MediaItem` you can do so by using `new MediaItem.Builder().setTag(object)`. This can be retrieved in the converter by using `mediaItem.playbackProperties.tag` and then conve

[2020-09-15 12:32] EllingtonKirby commented on #7861
No this is the same issue. The video playback fails (stays frozen on one frame), but the audio is there. We don't track duration in this screen, but the audio lasts the correct duration.

There is not a specific file that causes the issue, it occurs immediately after a video has been recorded using CameraX.

I debugged into `MediaCodecRenderer#feedInputBuffer` and the method was hit many times. Ho

[2020-09-15 12:44] icbaker commented on #7904
Ah actually I see a similar looking warning when using R8 (but it doesn't stop the build): `Missing class: java.lang.ClassValue`

I think the warnings are spurious (they relate to classes used by Guava only at compile time that aren't available in the Android runtime) - I'll look into tweaking our config to suppress them (which I hope will suppress them for ProGuard too).

[2020-09-15 13:24] ojw28 commented on #7914
The line being referenced is in a section called:

which is explaining how to apply the license to individual files through the repository. Note that changing this line would result in the previous paragraph explaining what to do no longer making sense.

So I think it's correct how it is. It's probably also an option to remove the appendix entirely, but I'm not sure about this, and in any case it'

[2020-09-15 13:24] #7914 closed, assigned to ojw28

[2020-09-15 13:35] dilip-jaiswal commented on #7912
I am using HLS and DASH streaming system.

you are saying that i am never going to see live1.png because there will always be some delay introduced by streaming/buffering the content.

But in YouTube live streaming it's always show scrubber at the end of progress bar (i.e. right hand side) and the progress bar also clickable and the user can preview the video using progress bar . can you suggest h

[2020-09-15 13:54] ojw28 commented on #7861
Is it possible that the new video file hasn't been fully written to disk by the time you're preparing the player? I.e., that it's a CameraX problem, or a problem with the assumptions you're making about use of that API? It seems like the most plausible explanation, particularly if the issue "resolves itself" shortly thereafter (I'm not sure if this is true).

[2020-09-15 14:13] icbaker commented on #7912
I checked a random YouTube live stream just now (NBC News) and the progress bar represents ~1.5 hours (seeking back to the far left shows -1:24:27):
<img src="https://user-images.githubusercontent.com/1279752/93219039-d3c54d00-f762-11ea-8c9e-018d907c114b.png" width="300px">

This means 30s is about ~0.5% of the playbar length.

Is it possible that the progress bar in your screenshot represents a m

[2020-09-15 14:49] BogdanLivadariu commented on #55
Does anyone know if widevine DRM works with the current implementation of this RTSP support ?

[2020-09-15 15:05] mueller-ma commented on #7905
I added the plugin from the blog post to the app. Thanks for this hint.

[2020-09-15 15:05] #7905 closed, assigned to icbaker

[2020-09-15 15:29] nirazv opened #7918 "How to store video cache index using ExoDatabaseProvider? and retrieve it later?"
Using CacheWriter.cache method i created video cache but How do i can store the current completed cache index in ExoDatabaseProvider and

How to retrieve it to play video in ExoPlayer?
please share some codes..

My Code for Creating/Downloading video and storing it in cache using [CacheWriter](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/cache/CacheWriter) class

[cod

[2020-09-15 15:44] icbaker commented on #7918
You can't store anything in `ExoDatabaseProvider`. It's an implementation of [SQLiteOpenHelper](https://developer.android.com/reference/android/database/sqlite/SQLiteOpenHelper) - i.e. it provides/helps you open a DB.

It's not clear from your code what you're trying to do.

You probably don't want to call `CacheWriter#cache()` directly - it's generally called by a `Downloader` implementation.

Ar

[2020-09-15 16:07] icbaker commented on #7909
I tried to reproduce with your provided file in the ExoPlayer demo app built from dev-v2 branch on a Pixel 3a XL running R. Playback seems to complete fine and I don't see any errors in logcat.

Can you provide the info requested in the issue template?
* Device name & OS version
* ExoPlayer version
* Full bugreport taken with `adb bugreport` and attached as a zip or emailed to dev.exoplayer@gmail.

[2020-09-15 16:20] icbaker commented on #7918
This issue looks like a duplicate of a question over here where @marcbaechinger was already helping you: https://github.com/google/ExoPlayer/issues/7887#issuecomment-692622184

I'll close this and let them help you out since they already have context of what you're trying to do.

[2020-09-15 16:20] #7918 closed, assigned to icbaker

[2020-09-15 16:23] marcbaechinger commented on #7887
For playback you need to create a `CachedDataSource` with the `SimpleCache` you used above. Please see the link to the Developer Guide from above.

[2020-09-15 16:57] tonihei commented on #7903
If you want, it seems you can workaround this problem for now by using one of the following options:
 - Remove the `HardwareDecoder=on` in `system-images/android-30/google_apis_playstore/x86/advancedFeatures.ini`
 - Launch emulator with `-feature -HardwareDecoder`

[2020-09-15 17:00] menscikov commented on #7915
Could you please give an example how to do that?
I can't understand how can i convert `MediaQueueItem` to `MediaItem` with all options, like "streamType" and `MediaMetadata` "title", "subtitle", "image"?
CastPlayer is accepting only `MediaItem` now in ExoPlayer 2.12.0 version.

`DefaultMediaItemConverter().toMediaItem` class doesn't allow to do this.

[2020-09-15 17:18] AquilesCanta commented on #7906
By chance, I made a [related simplification](https://github.com/google/ExoPlayer/commit/867d45ca62c962e6b266e4b3b61f6d824085f2d0) recently for other extensions but didn't submit the ffmpeg one. Thanks for reporting!

[2020-09-15 17:39] marcbaechinger commented on #7915
Sorry to not give you enough details. You are right it's confusing. Specifically because the conversion back which confused you is currently unused. Please accept my apologies of not being clear here.

On the bright side, this should make things easier for you. You said above that your app is building a `MediaQueueItem` with `MediaQueueItem.Builder()`. If you aim for doing this with the least poss

[2020-09-15 18:07] menscikov commented on #7915
Thank you very much for the explanation. It's working now!

[2020-09-15 19:14] nishantkp opened #7919 "Not able to play some DRM/Non-DRM content, while others play just fine -> 2.12.0"
### [REQUIRED] Issue description
I am having trouble playing some videos. Some VOD/Live DRM+Non-DRM works just fine, but some are not playing and throwing following error. Not sure whats wrong with it.

I have tried non-DRM with Demo app, but it is working there but the same piece of content is not playing on my end. I am not able to figure out issue. Can you please help me narrow it down?

### [R

[2020-09-15 19:46] Roland-1 opened #7920 "Caching and Streaming HLS playlists at the same time."
### [REQUIRED] Searched documentation and issues
Read the documentation in your developer website, but failed to find sufficient information regarding by question, https://exoplayer.dev/doc/reference/  as some docs aren't up to date.

### [REQUIRED] Question
Is it possible to simultaneously cache and stream HLS? I have just migrated from streaming .mp4 files to HLS and for mp4 i have used proxy ca

[2020-09-15 20:57] marcbaechinger commented on #7907
Sorry, I think I don't really understand what you mean with caching listeners. You pass the player to the `PlayerControlView` and the view registers itself as a listener.

Are you serving adaptive live audio streams? If not and you are using a progressive audio stream, the duration gets known when the `TIMELINE_CHANGE_REASON_SOURCE_UPDATE` arrives. After this the duration does not update anymore a

[2020-09-15 21:18] tosam144 commented on #7888
I am trying to implement the DefaultRenderersFactory to exclude `OMX.SEC.mp3.dec` but I am not sure how to implement that.  I have this:

[code]

What kind of `List<MediaCodecInfo>` do I return here so that the decoder gets excluded?

[2020-09-15 22:30] marcbaechinger commented on #7915
Cool. I'm glad it works :)

I close this issue for now. Please re-open if you have further questions. Happy to help!

[2020-09-15 22:30] #7915 closed, assigned to marcbaechinger

[2020-09-15 23:23] dwhea opened #7921 "Blank screen on HiKey960 50 Hz frame rate play/pause connected to 50/60Hz TV"
### [REQUIRED] Issue description
Observation: ExoPlayer demo app blank screen on play / pause when playing 50 Hz video frame rate content on HiKey960 connected to 50/60 Hz capable TV.
Expected: No black screen on play / pause

Details: The DisplayManagerService logs the behavior:

**On startup display mode is 60 Hz (modeId 6)**
09-15 05:03:47.802  2828  2848 I DisplayManagerService: Display device

[2020-09-16 00:42] rishun-fsi commented on #7886
I have sent you a bug report to mail, please check it.
Additionally, I am going to try to reproduce the issue on NexusPlayer or Bravia next week and provide you details of the test results.

[2020-09-16 01:04] #7753 closed, assigned to ojw28

[2020-09-16 02:03] 1nsun commented on #7898
Do you have theme for TextViews in your app? If so, can you share the theme definition? Thanks!

[2020-09-16 02:59] wangxuan217 commented on #7908
yes I have one mp4 file and two wav files,I hope the video is playing but the sound comes from the wav file,These two wav  files are similar to different tracks, The final rendering is that the video has no sound, and the sound comes from one of the two wavs.  like: test.mp4  test_m.wav  test_f.wav  @icbaker

[2020-09-16 03:16] arlimm318 commented on #7909
Device name & OS version: STB Based on the Hisilicon chip mv310,  android4.4.2
ExoPlayer version:dev-v2 2.11.7

The previous mistake was due to my negligence,Ignore the previous error.
[device-2020-09-16-110936.zip](https://github.com/google/ExoPlayer/files/5229407/device-2020-09-16-110936.zip)
Now there are no errors, but no images are displayed.I recorded the video and the log.

[2020-09-16 03:32] yangcheng opened #7924 "noticeable gap when play videos using ConcatenatingMediaSource"
### [REQUIRED] Issue description
When using ConcatenatingMediaSource to play 2 videos, there is a notable gap/jitter when load second video, the video seems skipping ~100-200ms, and sometimes there is flash over the screen.

When play the second video separately without a ConcatenatingMediaSource, the startup jitter is  still noticeable but shorter. There is no flash

### [REQUIRED] Reproduction s

[2020-09-16 05:25] noman-noor opened #7925 "How to delete single cached file"
I m using exo player v2.12.0, with offline support, i m using **SimpleCache** and Download manager for offline support. Now i need to delete single track from cache so that whenever user play with same url it should be download again from server

[2020-09-16 07:08] kartikdrag opened #7926 "Live video rewind issue"
When I play live video url (dash/hls) then seek bar is misbehaving. It mean I can't go back or seek to particular time period.

[2020-09-16 07:27] uberchilly commented on #7898
The only style that has this green color (which is called nature_interaction in the codebase)
is here
[code]
But these styles are not configured into the global theme they need to be set manually in XML like this
[code]
Global theme
[code]

That green color is also the color primary for the global theme.
If that theme is picked from there, what about the centering issue?

[2020-09-16 07:35] VeiZhang opened #7927 "AbstractMethodError crash exception"
### [REQUIRED] Issue description
Update Exo Player from v2.11.4 to v2.12.0, it crashed every time when playing a movie.

### [REQUIRED] Reproduction steps
Playing a movie.

### [REQUIRED] Link to test content
No special play link.

### [REQUIRED] A full bug report captured from the device
[code]
### [REQUIRED] Version of ExoPlayer being used
The latest.

### [REQUIRED] Device(s) and version(s) of

[2020-09-16 07:58] VeiZhang commented on #7927
I also try in exo player sample with use **mave library**, it also show these logs:
[code]

[2020-09-16 08:12] AnasMirza8630 opened #7928 "Got an Exception in H.264 video streaming"
### [REQUIRED] Issue description
I got an exception while I stream the H.264 video. this video is stuck and not reloading again.

### [REQUIRED] Reproduction steps
This is the Demo Streaming Url: rtmp://186.238.55.194/live/0
Please check and let me know what I am doing wrong. this URL is working in VLC media player but not in Exo Player

### [REQUIRED] Link to test content
Demo Streaming Url:rtmp:

[2020-09-16 08:22] kartikdrag commented on #7912
I have the same issue

[2020-09-16 08:42] icbaker commented on #7919
From the stack trace it looks like you're trying to open an empty file path.

FileNotFoundException generally includes the path in the message (like this example from #7885):
`java.io.FileNotFoundException: /storage/emulated/0/Download/136614.vie.vtt: open failed: ENOENT (No such file or directory)`

But in your log, there's nothing between those two colons before `open failed` (suggesting the pat

[2020-09-16 08:49] icbaker commented on #7920
Are you asking for a way to do this within ExoPlayer, or using a separate process?

It sounds like your MP4 solution worked outside ExoPlayer:

Setting up a cache server for HLS is certainly possible (that's basically how video streaming CDNs work), but it might not be as simple as for just MP4 files. That said, it doesn't sound like an ExoPlayer question so we can't really offer much more help wi

[2020-09-16 09:20] colorhaake opened #7929 "How to use ExoPlayer IMA Extension to display Ads only without content video?"
Hi there,

My requirement is we only want to display VAST ads on our android app but without content video.

I follow the [guide](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side) on the Google IMA SDK to use the ExoPlayer IMA extension

Without content video, so I tried to put an empty string in MediaSource

[code]

It will get the `MalformedURLException` exceptio

[2020-09-16 09:33] VeiZhang opened #7930 "Support XVID MPEG-4"
### [REQUIRED] Use case description
Can exo support video of XVID MPEG-4?

### Proposed solution
Amlogic, Android 7.1

When I play a movie with XVID, exo player logged `W/MatroskaExtractor: Unknown FourCC. Setting mimeType to video/x-unknown` https://github.com/google/ExoPlayer/blob/d2fa7b0217d069cda4d2588ad39e17f042093a28/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mkv

[2020-09-16 10:27] Roland-1 commented on #7920
Thanks for the response. Yes you got it right i was just passing local proxy uri to ExoPlayer for playback when using .mp4. I was wondering if i can achieve the same(simulations caching and playback) using ExoPlayer caching tools with HLS?

[2020-09-16 11:12] andrewlewis commented on #7929
Using AdMob is the right way to do this, per #3774, which you've already seen.

It might work to do a hack where you use a valid piece of content that's very short (perhaps `SilenceMediaSource`) but that is not recommended/supported. Creating a `ProgressiveMediaSource` with an empty URL doesn't have that behavior.

[2020-09-16 11:12] #7929 closed, assigned to andrewlewis

[2020-09-16 11:40] Usama75 opened #7932 "Exoplayer libraries are giving robolectric 4.4 snapshots failed to resolved"
![image](https://user-images.githubusercontent.com/17243892/93332358-2b36ec00-f83b-11ea-999e-985554c5bc33.png)
because of this gradle can't be build

[2020-09-16 12:15] mastermj94 opened #7933 "Extending ProgressiveMediaSource library classes"
I'd like to get the ProgressiveMediaSource as parent and add some custom functionality to it and i like to do it without editing the core so i tried to do this with implementing MediaSource interface and use instance of ProgressiveMediaSource to add it s functions here is my code:

[code]

So it work well when i use it in my code as single mediaSource with SimpleExoPlayer but when i want use it wi

[2020-09-16 13:23] EllingtonKirby commented on #7861
Yes, it is likely that this is a CameraX problem. I just wanted to raise it here to see if this was a known issue within ExoPlayer.

We are receiving the file from the "success" callback of the recording process, and then we pass it off to the player. So ideally that prevents any such race condition but perhaps there is an issue somewhere in the file writing (although when I manually download the

[2020-09-16 13:36] nishantkp commented on #7919
Hi @icbaker,

Figured out what was wrong, I was creating a `MediaItem.Subtitle` with empty subtitle url and passing it to `MediaItem`. Now I have just added a sanity check before creating a `List<MediaItem.Subtitle>` for subtitle url and it works just fine.

In previous version (2.11.8) I was creating a subtitle source with,

[code]

and was using `MergingMediaSource` to combine both the media and

[2020-09-16 14:28] #7919 closed, assigned to icbaker

[2020-09-16 14:29] ojw28 commented on #7932
We have fixed this directly on `release-v2`.

[2020-09-16 14:29] #7932 closed, assigned to nobody

[2020-09-16 14:31] ojw28 commented on #7906
We have fixed the robolectric issue directly on `release-v2`. We also have fixes for the FFmpeg problem, which will land shortly in `dev-v2` and go into a `2.12.1` release.

[2020-09-16 14:31] #7902 closed, assigned to ojw28

[2020-09-16 14:35] icbaker commented on #7930
Please provide the media sample you're using. Either attach it here or email it to dev.exoplayer@gmail.com with subject "Issue #7930".

[2020-09-16 15:12] icbaker commented on #7909
I agree no image is shown. I don't see any image when I play the .ts video file in VLC either.

For such a short video what image are you expecting to see?

[2020-09-16 15:18] arlimm318 commented on #7909
You can see the picture with FFPlay.
This TS file contains only frame I，I think I should see the decoded frame I.

[2020-09-16 15:26] icbaker commented on #7926
We need far more information to be able to help you.

Please copy/paste the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) and fill in **all** the required sections.

[2020-09-16 15:27] ojw28 commented on #7906
Actually, the FFmpeg fix can also go straight into `release-v2`, since it doesn't affect any of the pre-built modules that we distribute.

[2020-09-16 15:33] icbaker commented on #7927
[Previous issues](https://github.com/google/ExoPlayer/issues?q=abstractmethoderror+) have various suggestions to tweak your gradle config:

https://github.com/google/ExoPlayer/issues/7349#issuecomment-626103954:
[code]

https://github.com/google/ExoPlayer/issues/6801#issuecomment-569933539:
[code]

There are probably more ideas if you dig through the other issues in that search.

[2020-09-16 15:40] nirazv commented on #7887
How to catch Errors with onPlayerError with Player.EventListener Interface?

When Internet is not connected and i open ExoPlayer its not playing because it needs to be buffer alright at this point..
But when i reconnect the internet it will not auto start buffering?? How can i auto start buffering when internet is connected??

I am getting this error when Internet is not connected..

Error: com.go

[2020-09-16 15:48] icbaker commented on #7928
I'm unable to play the provided link in VLC.

When I play it in ExoPlayer dev-v2 it fails, and the logs suggests the MP3 track is invalid (your logs look similar):

[code]

[2020-09-16 15:53] marcbaechinger commented on #7771
Thanks! When looking into the bug report I can't really see playback of ExoPlayer I'm afraid. I'd expect at least [a line containing ExoPlayerLib](https://exoplayer.dev/listening-to-player-events.html#player-information) which is printed in INFO level. I can't find that line. It seems that the log starts at 15:29:19.011 and ends at 15:31:07.925 so it contains only about 1 and a half minute of logs

[2020-09-16 15:58] icbaker commented on #7933
`ProgressiveMediaSource` is `final`, you can't extend it. As you've said you've implemented `MediaSource` using a `ProgressiveMediaSource` instance as a delegate.

Can you provide more info about how you're constructing the `MergingMediaSource`, and what you mean exactly by this:

We can't really provide more help than that without more info. Please provide a [minimal reproducible example](https:/

[2020-09-16 16:02] kim-vde commented on #7888
Here is an example:
[code]

[2020-09-16 16:04] icbaker commented on #7908
Did you try `MergingMediaSource`?

If you did, and you're still seeing problems we can't really provide more help without more info. Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally. This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gm

[2020-09-16 16:04] tonihei commented on #7933
When forwarding to another `MediaSource` class, you are probably best off to extend `CompositeMediaSource<Void>` similar to how the deprecated [`ExtractorMediaSource`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/ExtractorMediaSource.java) is already delegating to `ProgressiveMediaSource`.

[2020-09-16 16:04] #7906 closed, assigned to AquilesCanta

[2020-09-16 16:05] icbaker commented on #7921
This seems like a question more for the manufacturers of the HiKey960 device - have you reached out them?

[2020-09-16 16:07] AnasMirza8630 commented on #7928
This is a local link and this is not working now but I checked before this was working on VLC. Could you please let me know why I got this exception. please check the video details in the below Image.
![processed](https://user-images.githubusercontent.com/58681009/93363256-9fd25080-f864-11ea-9f14-04534cc843c1.jpeg)

[2020-09-16 16:07] icbaker commented on #7920
Thanks for explaining - I'll pass this over to @marcbaechinger.

[2020-09-16 16:09] icbaker commented on #7928
The ExoPlayer logs suggest your MP3 (audio) track is invalid - so that's where I'd suggest you investigate.

Without access to the source media and a way to reproduce the problem we can't really help any further.

[2020-09-16 16:10] marcbaechinger commented on #7887
Your app can [monitor whether there is an internet connection](https://developer.android.com/training/monitoring-device-state/connectivity-status-type) or not.

This way you can detect when the network is coming back and then start the player.

You can not catch playback exceptions. Instead you can do what you correctly do already, which is listening for the player error and reprepare. Best is tha

[2020-09-16 16:10] icbaker commented on #7925
Did you try [`DownloadService#sendRemoveDownload()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/offline/DownloadService.html#sendRemoveDownload-android.content.Context-java.lang.Class-java.lang.String-boolean-)?

[2020-09-16 16:23] marcbaechinger commented on #7920
Unlike MP4 HLS is an adaptive stream. This means there are several qualities of video and/or audio streams defined in the manifest. The player then selects dynamically from these alternatives according to the estimated current bandwidth.

So the challenge you are having is that the player may choose different variants when playing again. This would mean that a) the variant cached before is not use

[2020-09-16 16:53] Roland-1 commented on #7920
Yeah i can confirm that HLS stream is adaptive, BTW its .m3u8 playlist file.  The main point for using HLS is that i want to optimize the start-up time of video. As the video is segmented to smaller chunks i assume that the load times will be quicker than ordinary .mp4 when streaming from server.

[2020-09-16 16:59] AnasMirza8630 commented on #7928
Thanks for the instant response @icbaker . Could you please check this url again. It's working now
rtmp://186.238.55.194/live/0

[2020-09-16 20:17] marcbaechinger commented on #7920
Well, the segmentation in chunks alone doesn't make startup quicker. Even for mp4 ExoPlayer loads chunks by using HTTP range requests. But because the HLS chunks are available in qualities lower than the quality of the mp4, the startup is probably quicker, if the bandwidth of a user is not optimal (obviously I assume your HLS stream offers tracks in lower qualities than the mp4).

Adaptive streams

[2020-09-16 21:16] dwhea commented on #7921
Do you have any pointers for how the platform determines if the mode switch is "lightweight and unlikely to be noticeable to the user"?

[2020-09-16 22:10] casolorz opened #7934 "Subtitle bottom padding broken on 2.12"
I don't know if this is an intended change or if it is a bug.
I updated from 2.11.8 to 2.12 and my subtitle bottom padding broke. I didn't actually have a value configured but I noticed with 2.12 the subtitles were all the way at the bottom. So I tried setting the padding using `videoView.subtitleView?.setBottomPaddingFraction(0.9f)` where `0.9f` is an exaggerated value to make sure it works, and

[2020-09-17 01:37] wangxuan217 commented on #7908
thanks,I try to use MergingMediaSource ,but my video(test.mp4) has two tracks,I can't make it mute, so I can't tell if the sound came from my wav file.I use this to
`MediaSource audiosource = new ProgressiveMediaSource.Factory(new FileDataSourceFactory()).createMediaSource(Uri.parse(videoModel.getAudio()));
MediaSource videoSource = new ProgressiveMediaSource.Factory(new FileDataSourceFactory()).c

[2020-09-17 02:16] yangcheng commented on #7924
I did some more testing, the issue is isolated with hevc, after I convert hevc to webm (similar quality and similar file size), there is no gap.

[2020-09-17 02:36] VeiZhang commented on #7930
@icbaker Thanks, because the play link is dynamic with token, I download the movie but it is incomplete.
It can play with vlc but can't work with exo because of something error.

This is zip file, please download and try
**https://we.tl/t-SLRXPZP1oP**

If u want complete video, I will try, since it is a big movie file.

[2020-09-17 06:02] noman-noor commented on #7925
yes i have tried both DownloadService#sendRemoveDownload() and DownloadService.removeDownlaod() but its still playing offline, it should not play offline after removing the downloads

[2020-09-17 06:17] colorhaake commented on #7929
`SilenceMediaSource` is a quick solution for what I want. Thanks for your advice

[2020-09-17 07:22] amirhasanovic commented on #7771
When I switch the channels normally (not in full screen, we have a list feature, like in an leanback app, where you can watch the livestream) there is never a unexpected end of stream, nor 404 exceptions. This is what confuses me, this behavior is only "available" when switching channels rapidly, and non-stop setting of the new stream between the two players. Here is the `EventLogger` which captur

[2020-09-17 07:25] VeiZhang commented on #7927
@icbaker Thnaks. It is so strange.

[2020-09-17 07:25] #7927 closed, assigned to icbaker

[2020-09-17 07:54] icbaker commented on #7934
This is actually working as intended - though I appreciate it might seem a bit strange.

Here's the reasoning/more technical detail:

`Cue` is a format-agnostic subtitle representation. The source data could be in many different formats, e.g. SubRip (.srt), TTML, WebVTT, CEA-608/708, etc.

Some of these formats either don't allow the vertical position to be specified or aren't clear what behaviour

[2020-09-17 07:54] #7934 closed, assigned to icbaker

[2020-09-17 08:04] icbaker commented on #7908
Have you tried [selecting](https://exoplayer.dev/track-selection.html) the audio track you want?

You can attach an `EventLogger` and it will print the tracks it can find to logcat, so you can check the audio file is being added as a track.

We can't really provide more help without more info. Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-examp

[2020-09-17 08:04] icbaker commented on #7925
We can't really provide more help without more info. Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally. This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com (with subject "Issue #7925").

[2020-09-17 08:55] icbaker commented on #7928
Thanks, that link plays video in VLC but the audio seems extremely muffled/distorted.

VLC also logs MP3-related errors (running with `-vvv`):

[code]

Since both VLC and ExoPlayer/MediaCodec agree your MP3 track is invalid, I think the problem is with your media and not with ExoPlayer. Producing valid media is outside the scope of this issue tracker - if you need more help on this subject you mig

[2020-09-17 08:55] #7928 closed, assigned to icbaker

[2020-09-17 09:00] icbaker commented on #7909
Thanks - I looked deeper into what's going on here.

When parsing MPEG-TS we use the start of the next frame as the trigger for calling `SampleQueue#sampleMetadata` call for the previous one:
https://github.com/google/ExoPlayer/blob/744c57c87d8308de1713246dc90ecb1a14083277/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/H264Reader.java#L466

We probably always fail to ou

[2020-09-17 09:20] arlimm318 commented on #7909
Thanks very much.
I look forward to the resolution of this problem.

[2020-09-17 09:58] icbaker commented on #7930
Xvid is just a way of encoding content to MPEG-4 Part 2 Advanced Simple Profile (ASP):

https://en.wikipedia.org/wiki/Xvid#Playing_Xvid_encoded_files

Only Simple Profile is required to be supported on Android, not ASP: https://source.android.com/compatibility/android-cdd#5_3_3_mpeg-4

The device I'm testing with (Pixel 3A XL on Android 11) doesn't seem able to play the file you provided due to ex

[2020-09-17 10:28] icbaker commented on #7921
We don't have the platform expertise to answer that I'm afraid.

[2020-09-17 11:24] Roland-1 commented on #7920
OK great, thank you for your help. I guess i'll continue using .mp4 and just do pre-caching.

[2020-09-17 11:42] marcbaechinger commented on #7771
The log shows three different errors. There is one single error regarding media codec which I leave aside. All the other errors are either a HTTP 404 or an 'unexpected end of stream'.

The 404 is generated as a result of an http connection which has been opened. The server accepts the connection receives a GET request and then delivers back a 404. From the point of view of the client this is worki

[2020-09-17 11:46] #7920 closed, assigned to marcbaechinger

[2020-09-17 11:58] kim-vde commented on #7924
I think there are some issues in the video sample timestamps of both files:
1. The ctts box has version 0 and has negative offsets, which is not allowed.
2. The composition timestamps seem incorrect. For example, some samples have a timestamp smaller than the timestamp of the key sample preceding it. This might be a consequence of 1.
3. The edit list media time does not correspond to a key sample.

[2020-09-17 13:48] tosam144 commented on #7888
Great thank you! I have implemented it this way. Once I have further issues, I will post logs here again. Thank you, @kim-vde !

[2020-09-17 13:48] #7888 closed, assigned to kim-vde

[2020-09-17 14:34] kim-vde commented on #7888
If it turns out that the cause of the issue is indeed the decoder, please notify us here so that we can implement a workaround.

[2020-09-17 14:38] kim-vde commented on #7861
I will mark this issue as "need more info" until you can confirm that it is a CameraX issue or until we have a way to reproduce.

[2020-09-17 14:48] Tolriq opened #7937 "2.12.0 change in extractor handling"
I'm heavily optimizing my application size via R8 and selection of the supported renderers and extractors to allow R8 to remove unused ones from final dex.

Since 2.12 despite still using :
[code]
and
[code]

All extractors are kept in final APK.

R8 gives the following reason:
[code]

Since APK size impact is huge it would be nice to see if this can be fixed.

[2020-09-17 16:15] icbaker commented on #7937
Can you provide instructions for me to reproduce what you're seeing?

A [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally. This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com (with subject "Issue #7937").

[2020-09-17 16:28] icbaker commented on #7937
You may also want to take a look at https://exoplayer.dev/shrinking.html which was updated for 2.12 in https://github.com/google/ExoPlayer/commit/314758c17c30c76bb93d53154eb6e65a5a05e4f8.

Specifically you can now pass the custom `ExtractorsFactory` to `SimpleExoPlayer` rather than `ProgressiveMediaSource`.

[2020-09-17 16:56] TacoTheDank opened #7939 "2.12.0 PlaybackParameters skipSilence disappeared?"
### [REQUIRED] Searched documentation and issues
I've looked in the 2.12.0 release notes, and looked through https://exoplayer.dev/.

### [REQUIRED] Question
Where did the skipSilence parameter in PlaybackParameters go? There's no documentation anywhere for this that I've found. It's just vanished.

I looked at https://github.com/google/ExoPlayer/issues/7864, and saw a related thing. Are we suppos

[2020-09-17 17:08] Tolriq commented on #7937
When passing no extractorFactory to ProgressiveMediaSource it use DefaultExtractorsFactory that does refer all extractors and will keep them.

I tried passing the extractors to SimplExoPlayer but the result is the same:
[code]

I'm using exactly what is described in the shrinking page and it worked until 2.12.
It this part of test suite?
R8 extract I give from ```-whyareyoukeeping class com.google

[2020-09-17 18:41] Tolriq commented on #7937
https://github.com/google/ExoPlayer/commit/bfe17aee3eac92f7e229ada361808d5ca826f7fd

So I guess it's known and fixed in dev. Should have a note in changelog for impacted people to wait for 12.1.

[2020-09-17 20:09] ghost opened #7940 "Missing duration while using FLAG_ENABLE_INDEX_SEEKING flag on some files"
### [REQUIRED] Issue description
For some of my MP3 files when using the new FLAG_ENABLE_INDEX_SEEKING flag I see no duration and seeking is not possible at all (greyed out seekbar). A few of my files are affected while the rest work with the flag without issues.

### [REQUIRED] Reproduction steps
Perform the following

[code]

If I skip the second line all files display the duration and allow see

[2020-09-17 20:22] ghost commented on #7937
I have also noticed that moving from 2.11.x into 2.12 caused my APK size to increase by around 220KB even though the app code remains the same. I am trying to provide a small sized player and this is not helping. I hope this issue gets solved. I am using R8.

[2020-09-17 22:48] sushantk commented on #3420
+1. Looking for segment level AES encryption support in DASH.

[2020-09-18 01:04] #7510 closed, assigned to AquilesCanta

[2020-09-18 01:55] yangcheng commented on #7924
thanks!

[2020-09-18 01:55] #7924 closed, assigned to kim-vde

[2020-09-18 03:33] VeiZhang commented on #7930
@icbaker Sorry, I got a problem with the video stream, its encoding changed , I can't try now,
But I will keep searching video stream and try with MimeTypes.VIDEO_MP4V.

You are right, exo can't work because it is partial file, I will send a complete video to u for testing if I can get.

Thanks for your help.

[2020-09-18 05:20] wangxuan217 commented on #7908
yes I do it, but viedo file has sound,I hope the sound come from my other wav file.or  How to mute  video file，my question like [https://github.com/google/ExoPlayer/issues/2990](url),I can't provide a minimal reproducible example now, because I need some time to do it. @icbaker  thanks icbaker

[2020-09-18 06:15] XiaoLongTX opened #7941 "durationUs error caused by different track timescale"
### [REQUIRED] Issue description
I have a video that contains two tracks. The timescale of one track is 1000, the timescale of the other track is 48000, and the movieTimescale is 1000. As a result, the video time I get is 48 times the real video time.

### [REQUIRED] Reproduction steps
This problem will inevitably occur when using ExoPlayer to play the video file I sent to dev.exoplayer@gmail.com.

[2020-09-18 06:23] XiaoLongTX commented on #7941
PR[#7923](https://github.com/google/ExoPlayer/pull/7923)
@kim-vde kim

[2020-09-18 08:29] icbaker commented on #7908
#2990 and #2200 seem to both be about playing multiple audio tracks simultaneously - while you're asking the opposite afaict (you want just the audio from the audio file, and not from the video).

This should be possible with `MergingMediaSource` and then using the track selection infrastructure to choose the the audio track from the audio file (and thus de-selecting the audio track from the video

[2020-09-18 08:54] y20k opened #7942 "[v2.12.0] preparing SimpleExoPlayer with local MP3 takes significantly longer"
### Issue description
I am using ExoPlayer in a podcast app. It plays back local MP3 files, which are often quite large. Since it is a podcast app, it saves the listening progress. It uses `seekTo` before starting playback, to enable users to continue listening where they stopped.

Prior to v2.12.0 `prepare`,  `seekTo` and `playWhenReady = true` and took 0.5 seconds on my test device. These steps

[2020-09-18 09:01] friskyliu opened #7943 "The video blocked when audio stop(The duration of audio track is less than video)?"
I played a video(mp4 format),  the audio track duration is 6 seconds and the video duration is 40 seconds.  When it is played to 6 seconds, the video will be blocked。

[2020-09-18 09:14] kim-vde commented on #7941
What subject did you use in your email? You should use "Issue #7941". Thanks.

[2020-09-18 10:11] wangxuan217 commented on #7908
ok  I won't use track selection until now, can you give me a example or code? thanks @icbaker

[2020-09-18 10:43] icbaker commented on #7908
You can find info under "Selecting specific tracks" here: https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html

[2020-09-18 11:04] icbaker commented on #7937
That commit you referenced is included in 2.12.0: https://github.com/google/ExoPlayer/commit/6290d093c19cd3145f14cf6025379918677859a5 There's no need to wait for 2.12.1 to pick up that code.

When you pass your customised `ExtractorsFactory` to `ProgressiveMediaSource.Factory`, are you also passing `ExtractorsFactory.EMPTY` to `SimpleExoPlayer.Builder`? As described [here](https://exoplayer.dev/sh

[2020-09-18 11:29] icbaker commented on #7939
Thanks for flagging that this isn't clearly documented. Yes the intention is to use `SimpleExoPlayer.setSkipSilenceEnabled` as you've said.

Info about this was added to the 'unreleased' section of the release notes back in March https://github.com/google/ExoPlayer/commit/f794a798520ef8cb0029666ee310af12e335b757

But it looks like it was removed again accidentally when prepping for the 2.12.0 rele

[2020-09-18 11:49] AquilesCanta commented on #7877
Hi Steve, apologies for the delay in looking into this. I took some extra time because  the problematic playlist (index-bug.m3u8) has an issue where the first stream in tag is followed by another STREAM-INF tag instead of a URL.

[code]

I removed the line locally and managed to reproduce the issue.

Regarding chunkless preparation I don't think we can do much about this type of playlists. The ide

[2020-09-18 12:22] stari4ek commented on #7837
It looks like I found the problem, when http connection lives longer than it's ExoPlayer instance.
I've reproduced it locally, when there is timeout for connection and `LoadErrorHandlingPolicy` grants retry.

In my case:

1. preparing with stream1
2. connection timeout. retries.
3. while retrying ExoPlayer instance is **released**.
4. Start playback with new Exoplayer instance for different stream

[2020-09-18 12:29] Manvendra-Jadon opened #7944 "Unable to add VideoAdPlayerCallback to ImaAdsLoader in latest version 2.12.0"
I am getting an error, where video force closes before playing mid-roll ad. Here is the stack trace for the same:
[code]
I tried upgrading ima extension to latest version, but i am unable to add callback, which is required on my end.

[2020-09-18 12:49] Tolriq commented on #7937
Ok so yes both changes are needed, should have a note in changelog as it's nowhere noticed there's this impacting change.

My second test was based on your previous comment

Due to https://github.com/google/ExoPlayer/issues/7525 I recreate the factory and the media source manually, hence the need to still pass the extractors there too. Doc talking just about DefaultMediaSourceFactory and only in S

[2020-09-18 12:51] andrewlewis commented on #7944
Please could you share the ad tag here or email it to `dev.exoplayer@gmail.com` with subject "#7944"? Thanks.

[2020-09-18 13:06] icbaker commented on #7943
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject "Issue #7943". Please also update this issue to indicate you’ve done this.

To de

[2020-09-18 15:05] nirazv commented on #7887
How to use ExoPlayer PlayerView with ViewPager2 using RecyclerView Adapter?

[2020-09-18 15:33] ragotiteb opened #7945 "Does Android support 'cbcs' scheme with ClearKey?"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/drm.html
In the table here, it is specified that Clearkey is supported from API 21 , but no detail on specifically "cenc" and "cbcs" schemes is found

### [REQUIRED] Question
I am trying to determine if it is possible to use ClearKey to play back contents encrypted with the cbcs scheme of common encryption. I have not been able

[2020-09-18 15:55] friskyliu commented on #7943
[ https://github.com/friskyliu/exoplayerbug7943.git ] is the demo for Issue #7943

Exoplayer version：2.12.0
Android version: Android 9.0

[2020-09-18 16:20] marcbaechinger commented on #7887
May I ask you to look into this existing issue? https://github.com/google/ExoPlayer/issues/867

[2020-09-18 16:38] icbaker commented on #7943
Thanks for the app link - I can repro the behaviour you describe when running your app.

However when playing the [same media](https://github.com/friskyliu/exoplayerbug7943/raw/master/app/src/main/assets/error.mp4) in the demo app at 2.12.0 it plays to the end of the video (i.e. I don't see the behaviour you describe).

So it looks like it's something about the way your app is integrating ExoPlaye

[2020-09-18 16:45] nirazv commented on #7887
yes but this solution (#867 ) is very hard to implement

[2020-09-18 17:57] Informatheus opened #7946 "How to get metadata information like artist, genre, etc?"
I analyzed the references but was only able to find the **title** and **url** in the Metadata object. In my project I need more info like genre and artist. There isnt a way to get more information? Thanks in advance.

[2020-09-19 02:26] TacoTheDank commented on #7939
It's ok. Thanks for fixing this! :)

[2020-09-19 03:46] nirazv opened #7947 "How to use ExoPlayer with ViewPager2 using RecyclerView Adapter?"
How to use ExoPlayer with ViewPager2 using RecyclerViewAdapter?
I have followed regular ViewHolder method but its very lagging.

I wanted to add tiktok like behaviour such as (Vertical/Horizontal swipe) by using ViewPager2 with RecyclerViewAdapter

but following code is very lagging because each time i am creating a new instance of SimpleExoPlayer and attaching it to different playerView.

Is ther

[2020-09-19 04:13] mastermj94 commented on #7933
Here is my MergingMediaSource:
[code]
And it works when I pass one by one to player.setMediaSource but when I pass mergeMedia like this code player dont work.
And in debug I set some break points in library classes and my MediaSourceDecorator had different behavior than ProgressiveMediaSource so I conclusion that my class doesn't call some methods in MergingMediaSource
@icbaker

[2020-09-19 04:56] friskyliu commented on #7943
It seems the code __setLoadControl__ caused the problem. After delete LoadControl, it plays to the end.

Is the params wrong when using LoadControl?

[code]

[2020-09-19 06:49] idragonpro opened #7948 "player getting stuck in mid of video"
Hi Team,
We need support for our existing exoplayer account.
We have been using your player for the last 3 years and faced no issues.
But now we have integrated IMASDK for In-stream ads and player is getting stuck in the middle of the video. 
And also there are many issues we are facing.
So, Plz contact us or forward this mail to the concerned department.
It is very difficult to find support for y

[2020-09-19 11:35] marcbaechinger commented on #7947
You need to reuse the player instance and attach the same instance to the views. This is quite an advanced topic which we can not support in a 1:1 manner. However, this issue tracker has some information about such a pattern you are asking for. Mostly kindly contributed by users who investigated that problem and then shared their knowledge with others. May I ask you to look into this existing issu

[2020-09-19 11:35] #7947 closed, assigned to marcbaechinger

[2020-09-19 11:46] marcbaechinger commented on #7946
The `MediaItem` needs to be built by yourself with a builder. There is currently no support to automatically include the metadata of the media in the media item. We released a [`MetadataRetriever`](https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/library/core/src/main/java/com/google/android/exoplayer2/MetadataRetriever.java) with 2.12 which allows to read metadata

[2020-09-19 18:19] marcbaechinger commented on #7948
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-09-20 01:28] #7940 closed, assigned to nobody

[2020-09-20 01:28] ghost opened #7949 "Missing duration while using FLAG_ENABLE_INDEX_SEEKING flag on some files"
### [REQUIRED] Issue description
For some of my MP3 files when using the new FLAG_ENABLE_INDEX_SEEKING flag I see no duration and seeking is not possible at all (greyed out seekbar). A few of my files are affected while the rest work with the flag without issues.

### [REQUIRED] Reproduction steps
Perform the following

[code]

If I skip the second line all files display the duration and allow see

[2020-09-20 09:50] ridanasif opened #7951 "How to synchronize an audio track with different speed than the main content track"
Hi. I am trying to make a video recording app. The speed of the video can be set while recording and a music track is played while recording ( much like TikTok). When the user hits the done button, I concat each videos and sets the playback parameters (speed) using OnTracksChanged listener. It works okay but I cannot sync the music to the concatenating media source. Here is what I have tried:

[co

[2020-09-20 15:26] Serkan-Karacelikler opened #7952 "Doesn't cache TS files"
Why doesn't it cache live streams with TS extension?
Nothing appears in the Progress bar.
Is it necessary to write a different code for publications with Ts extension?
The class I use for TS files: ExtractorsFactory

[code]

[2020-09-21 01:04] #7723 closed, assigned to ojw28

[2020-09-21 04:27] GongKuiJun opened #7953 "How to play drm file Using Raw Key"
I use "shaka-packager" to generate DRM video, Using Raw Key Like This:
packager input=h264_main_720p_3000.mp4,stream=video,output=h264_720p.mp4,drm_label=HD --enable_raw_key_encryption --keys label=HD:key_id=6d76f25cb17f5e16b8eaef6bbf582d8e:key=cb541084c99731aef4fff74500c12ead --mpd_output h264.mpd

I want to know how to play it through Exoplayer

[2020-09-21 08:10] WagesOfSin opened #7954 "Crash on Android 5.1 when try to release player"
### [REQUIRED] Issue description
Updated on the latest version 2.12.0 and I have crash on Android 5, Android 6 when I try to release the player. Don't have this crash on version 2.11.8. I can't reproduce this issue on your demo app.

### [REQUIRED] Reproduction steps
1) Open the app with player.
2) Release player.

### [REQUIRED] Link to test content
It doesn't mater

### [REQUIRED] A full bug rep

[2020-09-21 08:30] strangesource opened #7955 "With v2.12.0 playlist api, how do I know which source causes the onPlayerError"
### [REQUIRED] Searched documentation and issues
Looked at StackOverflow and other issues. Could not find anything related

### [REQUIRED] Question
I using the new playlist API provided with v2.12.0 and loading multiple `MediaItem`s into the player. One of the sources throws an `ExoPlaybackException` of `ExoPlaybackException.TYPE_SOURCE` type.

How do I know which media item this relates to?

###

[2020-09-21 08:44] rsmbovct opened #7956 "Player cannot enter midroll when the response of preroll is empty"
### [REQUIRED] Issue description
I am facing a problem that player is getting stuck in 3-4 seconds and it skips the midroll when the response of preroll is empty.

When I start the video with empty preroll, and jump the timeline before first midroll, the player stucks in BUFFERING state in some seconds, then skips the midroll and continues playing the video.

However, if I start the video with emp

[2020-09-21 08:48] wangxuan217 commented on #7908
thanks icbaker I'm glad to tell you that with your help I've achieved what I want.Thank you again for your help. @ @icbaker

[2020-09-21 08:51] #7908 closed, assigned to icbaker

[2020-09-21 08:58] icbaker commented on #7943
Ah good find. I tried swapping in some different values for `MAX_BUFFER_MS` in your app. I found:
* 50_000 allowed the video to play to completion reliably
* 15_000 allowed it to play a few times, but it would eventually get stuck

I was able to repro in the demo app by including your LoadControl and the repeat mode (it didn't repro without the repeat mode):
[code]

cc @tonihei who might also have

[2020-09-21 09:26] kim-vde commented on #7942
Thanks for reporting this issue. I will try to reproduce it. What should I write in the "Find Podcast" search bar to find https://atp.fm/rss and which podcast should I select?

[2020-09-21 09:30] ojw28 commented on #7837
I'm not really sure what logic you're using to confirm that the stack trace at the bottom of your post above is coming from the previous player instance.

It looks like there can be multiple `DefaultHlsPlaylistTracker:MediaPlaylist` threads owned by a single player, so I don't think the presence of two of them tells you anything about which player owns them. I did take a look at the code around wh

[2020-09-21 10:05] icbaker commented on #7933
Nothing you've posted jumps out as glaringly wrong. Without being able to reproduce the problem we can't help further.

[2020-09-21 10:27] Samrobbo commented on #7953
For information on playing DRM content with ExoPlayer, see https://exoplayer.dev/drm.html

There is also a vast amount of information on getting started with ExoPlayer at https://exoplayer.dev

Please look into this documentation, and reply on this issue if you are still having problems afterwards.

[2020-09-21 10:32] Samrobbo commented on #7954
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-09-21 10:35] mseroczynski commented on #7836
Could you kindly update us on the status of this issue? I'd like to know if this clarifies as a serious release blocker. Also, meanwhile I've verified that external library (PRESTOplay, which uses ExoPlayer) can correctly handle DRM license offline caching flow - is there anything that can be done to fix it in ExoPlayer itself?

[2020-09-21 10:58] wishy-viewlift opened #7957 "Logs for HTTP Connections?"
Is there a way I can get logs for network calls like downloading HLS segment or segment URLs ?

[2020-09-21 11:01] DavidMihola commented on #7911
Thank you very much and sorry for the late reply!

We found that the problem only exists for DASH playlists for (delayed, "catchup") VOD playback. For the live DASH streams we _do_ actually get a `windowsStartTimeMs` in the `Timeline.Window`. It looks like the only difference is that the live MPDs have the `availabilityStartTime` attribute set, but the VOD MPDs do not.

I have asked that the `avai

[2020-09-21 11:03] AquilesCanta commented on #7945
Please provide a link to the cbcs+clearkey encrypted stream. You can send it to dev.exoplayer@gmail.com using the subject "Issue #7945".

[2020-09-21 11:16] y20k commented on #7942
You can just paste the feed URL into the search box. That circumvents the search and will add the Podcast.

[2020-09-21 11:25] AquilesCanta commented on #7957
You can inject an [AnalyticsListener](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/AnalyticsListener.html) (like ExoPlayer's [EventLogger](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/util/EventLogger.java)) which has callbacks pertaining network requests, like [onLoadStarted](https://exoplayer.dev/doc/r

[2020-09-21 11:45] tosam144 opened #7958 "Notification bar is no longer responsive during playback upon loss of Internet"
I am streaming mp3 using Exoplayer. When the Internet connection is lost during playback, my Player UI works well because I have implmemented `preparePlayback`:

[code]

This works as expected. **My question now is: Is there a similar method for the notification?** At the moment, when Internet is lost during playback and comes back on, all my notification controls (play, pause, skip) are not longe

[2020-09-21 11:54] Tolriq commented on #7937
Posting here to avoid opening another issue for the moment.

But in 2.12.0 there's still a huge size increase due to keeping tons of DRM stuff that I do not use at all. Probably because of https://github.com/google/ExoPlayer/commit/e55b345595cd42c73dacbbba9706edbc7b07dc43

Is there a way to prevent that?

[2020-09-21 11:58] marcbaechinger commented on #7951
Synchronizing two player is quite difficult and I think it's not really required for your use case. I think instead of using two players you can merge the video media source and the audio media source into a single `MergingMediaSource`. You can then set this merged media source on a single player and select the proper audio track to be played.

[code]

With the above you get an additional audio tr

[2020-09-21 12:20] stari4ek commented on #7837
I'm 100% sure that callstack was from the "previous" ExoPlayer instance (technically, it's not exoplayer, but Loader thread it spawned). It's `DataSpec` with uri belonged to first media stream.
I do not think that ExoPlayer has issue here, and it's behavior looks valid. ExoPlayer cannot cancel  blocking `open` immediately, so thread is spinning while "old" ExoPlayer is released and new one created

[2020-09-21 12:41] marcbaechinger commented on #7958
Do you have a `PlaybackPreparer` registered with `PlayerNotificationManager.setPlaybackPreparer(PlaybackPreparer)`? If this is the case, then the [playback preparer will be called when the user hits the play button in the notification](https://github.com/google/ExoPlayer/blob/a15d01d36f8334293b6a1a19d6e66a77994bb696/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManage

[2020-09-21 12:43] XiaoLongTX commented on #7941
@kim-vde I hava resend mail with subject Issue #7941

[2020-09-21 12:52] ojw28 commented on #7911
As an aside, this is not correct. `presentationTimeOffset` is a relative difference between two timelines, where-as `#EXT-X-PROGRAM-DATE-TIME` is an absolute timestamp. They _may_ end up being equivalent in certain specific circumstances. I didn't spend long enough thinking about it to be sure exactly what these circumstances are, but it's probably required that the manifest only has a single `Per

[2020-09-21 12:53] marcbaechinger commented on #7955
I think in this case the field `ExoPlaybackException.mediaPeriodId` has a media period id assigned (it is not null). If so you can do something like this:

[code]

Please note, that the above assumes that you are having a 1:1 relationship between media items and windows in the timeline. This means you are not using a `ConcatenatingMediaSource`. In case you are only using the new API with `MediaIte

[2020-09-21 13:03] tonihei commented on #7955
You can also use `AnalyticsListener` and listen to `onPlayerError` which has an `EventTime` argument with a `windowIndex` field. This is essentially equivalent to the proposal above, but easier to read in code:
[code]

[2020-09-21 13:31] ojw28 commented on #7954
This is normally caused by some kind of build issue, rather than being a problem with the library. Forgetting to [enable Java 8 support](https://exoplayer.dev/hello-world.html#turn-on-java-8-support) is a common cause, so it's definitely worth checking this. It's also possible that you're using overly aggressive code stripping / Proguard configuration.

[2020-09-21 13:36] strangesource commented on #7955
Thanks a lot for the fast answers, this solves my problem. 🙂  🙇

[2020-09-21 14:00] WagesOfSin commented on #7954
Thank you for your answer @ojw28. But I provide log from debug version of my app. For this reason it can't be proguard configuration. Of cause I use Java 8 for my app :) I'll try to delete gradle cache. May be it helps...

[2020-09-21 14:31] YongtaoS commented on #3752
Looking forward to the support of DASH tiles thumbnail seeking in ExoPlayer as the native android-player.

[2020-09-21 15:03] marcbaechinger commented on #7955
Cool, thanks for letting us know. I'm closing this issue. Please re-open if you think it is needed.

[2020-09-21 15:03] #7955 closed, assigned to marcbaechinger

[2020-09-21 16:27] tonihei commented on #7943
Thanks for all the reproduction details - it looks as if this is a bug that got introduced as part of https://github.com/google/ExoPlayer/commit/652c2f9c188bf9d9d6e323ff5333e5026454a082. We'll provide a fix for that.

[2020-09-21 16:29] zubcoco opened #7959 "Update DownloadRequest metadata without transitioning download back to STATE_QUEUED"
Hello,

Is it possible to update DownloadRequest data (byte[]) after the first initialization?
I wanna store the bookmark and it will be updated after each playback.

I've tried to re-create a new DownloadRequest with all same parameters (except data who contains the new bookmark) but when I do that when my phone is offline, the state of the Download pass to STATE_QUEUED and I can't watch the vide

[2020-09-21 17:04] masensio opened #7960 "TTML: Support for styling reference in subtitles file"
**Use case description**
We have a media app which is using Exoplayer as player. It is used to reproduce some streaming videos with subtitles.
The media chunks are receiving with the `tts:origin` field in `styling` or in `region` region.
We have observed that sometimes the subtitles are shown correctly but other times they disappear.
We were researching about that curious behaviour of the subtitle

[2020-09-21 17:04] kim-vde commented on #7942
I am afraid I can't reproduce. Can you explain exactly how you measured the time (e.g. start and end times in the code)?

[2020-09-21 17:25] kim-vde commented on #7941
In the case of your file, the tracks duration are derived from the tkhd boxes. One track has duration 41906 while the other has duration 2010112. According to the specification, these durations are given in the timescale indicated in the mvhd box, which is 1000 in this case. The duration of the second file should therefore be updated in order for the file to be valid.

[2020-09-21 17:31] kim-vde commented on #7949
I get an error "ufile.io refused to connect" when trying to open the link you provided. Can you check the link or send the content directly by email to dev.exoplayer@gmail.com using subject "Issue #7949"? Please also update this issue to indicate you’ve done this.

[2020-09-21 18:52] tosam144 commented on #7958
Thank you @marcbaechinger, that was the method I was looking for. It is working now.

[2020-09-21 18:52] #7958 closed, assigned to marcbaechinger

[2020-09-21 19:51] ragotiteb commented on #7945
@AquilesCanta  done. Please let me know if more information is necessary

[2020-09-21 19:53] y20k commented on #7942
I used an external stop watch to measure the time it takes from tapping the play button until playback starts. The difference is striking - at least on my device (not in an emulator).

If you are not able to reproduce the issue using an actual (older?) phone, than I suspect there must be something wrong with my phone. In that case I apologize for stealing your time :-/

[2020-09-21 22:00] #7939 closed, assigned to marcbaechinger

[2020-09-22 01:14] ghost commented on #7949
@kim-vde Thanks for checking my issue out. The link works fine at my end. Though, here are three mirrors:

https://www36.zippyshare.com/v/SjSJHnha/file.html
http://ge.tt/2oRtMM73
http://www.filedropper.com/test_20504

Use either of the links. They are all the same file.

Regards.

[2020-09-22 09:09] ridanasif commented on #7951
Thank you for the reply but I don't understand why I need to select a track because I have mentioned that none of the video contains audio. It's just one music file and a definite number of videos. The only thing I am concerned about is changing the playback speed when each video clips changes, because each clips have different speed (0.5, 2.0, 3.0) . So is there gonna be a delay while applying pl

[2020-09-22 09:16] icbaker commented on #7960
You're right we don't fully support referential styling - that's tracked in #2953 as you've found.

We don't currently have any plans to work on this, but we'd accept high quality pull requests improving our TTML support. If someone looks at working on this they might need to make some architectural changes to `TtmlDecoder` - I'd be happy to discuss proposals before implementation if that would be

[2020-09-22 09:16] #7960 closed, assigned to icbaker

[2020-09-22 09:17] nirazv commented on #7887
How to create Single Instance of ExoPlayer and use it with Multiple PlayerViews?
I am googled a lot but no one had answered this question?

[2020-09-22 09:56] krackjack234 commented on #7213
Hi @amoizesmail , @AquilesCanta Yes this issue was mostly seen on Xiaomi Redmi devices for us. However we are not seeing this issue now in our player. Not sure why but it is working as expected with same exoplayer version. There are app side code and layout changes but we could not find any change which can impact the player.

[2020-09-22 10:13] krackjack234 opened #7961 "How to set mimetype using Exoplayer IMA extension"
### [REQUIRED] Searched documentation and issues

### [REQUIRED] How can we set the mimetype using exoplayer IMA extension
If we use the IMA Sdk directly, we can set the mime type using the below api:

[code]

However if we use IMA extension we are not able to use this feature.
We see the below code in exoplayer IMA extension to set mime types

[code]

Using the above method we cannot set a specif

[2020-09-22 10:14] kim-vde commented on #7942
No need to apologize :) Device specific issues are common and we try to find workarounds in ExoPlayer whenever possible.

My test phone is a Pixel 2 XL. I tried to flash it to Android 9 to see if it could be plateform related but I was again unable to reproduce. The podcast takes less than a second to start once I hit the play button.

It would be helpful if you could debug and narrow down what po

[2020-09-22 10:32] AquilesCanta commented on #7945
It would seem that Clearkey doesn't support CBC mode, according to [this code](https://android.googlesource.com/platform/frameworks/av/+/65842db06c2d77e53cc5ac61692160d844cc7d0a/drm/mediadrm/plugins/clearkey/CryptoPlugin.cpp#77). I will update the documentation to reflect this. @rrfrias, can you confirm this statement?

[2020-09-22 11:04] AquilesCanta commented on #7213
@amoizesmail, it seems your issue is not similar to this one, since it's not device specific. Please file a fresh issue including **all information requested in the issue template**.

@krackjack234, can you please clarify whether this is still a problem? It's not clear from:

[2020-09-22 11:07] kim-vde commented on #7942
Additional note: @christosts tried to reproduce on a OnePlus 3T but didn't notice any difference between 2.11.7 and 2.12.0.

[2020-09-22 11:13] marcbaechinger commented on #7951
Have you tried it? I think if selecting the track is the only issue, that should be doable. :)

You are correct that the speed for audio and video in a merging media source are the same.

I think the easiest is probably to mux video and audio together into a single file and then let ExoPlayer play that file. This can happen at recording time or you can do this on the server for example and do it o

[2020-09-22 12:53] marcbaechinger commented on #7952
Assuming that `dataSourceFactory` is  `CacheDataSource` I would assume that should work. let me know if it is a `CacheDataSource`. If it's not [you can refer to the dev guide](https://exoplayer.dev/customization.html#caching-data-loaded-from-the-network).

Aside: `ExtractorMediaSource` is pretty old and deprecated. I recommend updating to the latest version of ExoPlayer and use `ProgressiveMediaSo

[2020-09-22 12:58] tonihei commented on #7937
We've updated our guide page for shrinking (https://exoplayer.dev/shrinking.html) to explain that you also have to pass `ExtractorsFactory.EMPTY` to `SimpleExoPlayer.Builder` if you use `ProgressiveMediaSource` directly.

@Tolriq  What specifically causes a size increase of the "DRM stuff" and by how much? So far DRM configuration wasn't a cause for concern with regards to APK size.

[2020-09-22 13:04] ahmetberkinc opened #7962 "StyledPlayerView Custom Controller Support"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md

### [REQUIRED] Question
When I was in Exoplayer 2.11.4 version, I was able to replace the SimpleExoPlayerView controller with app: controller_layout_id via xml. I wanted to switch to SytledPlayerView structure with Exoplayer 2.12.0 version. But when I give my old controller over th

[2020-09-22 13:21] Tolriq commented on #7937
Thanks for the doc update and changelog note.

@tonihei the increase is about 80K and 500 methods between 2.11.8 and 2.12.0, the drm package goes from 2k to 24k and 27 methods to 191. I have not checked everything to find where all the diff but this one was very visible and I don't know if that part does not spread to more things outside of this package.

I've added ```.setDrmSessionManager(DrmSes

[2020-09-22 13:34] marcbaechinger commented on #7887
I think best is to open new issues for a new question. May I ask you to do that? It's mostly because it makes sense to have a single topic in one issue so people can find the information afterwards more easily. If you do so, please use the issue template so we don't have to ask back too often. Thank you.

[2020-09-22 13:43] changxiangzhong opened #7963 "How does exoplayer select an ABR track"
### [REQUIRED] Searched documentation and issues
Official document
ExoPlayer source code

### [REQUIRED] Question
Can I ask how does ExoPlayer determines which track to play in an ABR context? The highest ABR in our system is 1MB/s. But we found some of our foreign users' boxes are always choosing the lowest bitrate track. We are having conference calls with those guys, and there's no problem with

[2020-09-22 14:01] tonihei commented on #7937
Thanks for the explanations. If you want to have full control of what gets referenced by the player, you can also use the very long constructor of `SimpleExoPlayer.Builder` to pass in all the components you need (or the respective default). I guess passing in the dummy DRM session manager helps to prevent the issue? (Untested)

[2020-09-22 14:17] Tolriq commented on #7937
For the moment I can't really test due to https://github.com/google/ExoPlayer/issues/7525 I have yet to check the new playlist API and see if I can get rid of most of my hacks.

And I'm not sure the dummyDRM allows removal of everything.

Anyway this issue can be closed. If DRM is still an issue when / if I can migrate to the new playlist API I'll open another one.

[2020-09-22 14:41] tonihei commented on #7525
`DefaultDataSourceFactory` is just a thin wrapper creating other `DataSource` instances, so there should be no issue with creating multiple factories if needed.

Not sure about your exact use case, but you can also consider one of the following:
 - Use `ResolvingDataSource` to add additional loading steps based on the `DataSpec`. You could detect whatever you need from the `DataSpec` URL, custom h

[2020-09-22 14:41] tonihei commented on #7937
Thanks, I'll close this issue then.

[2020-09-22 14:41] #7937 closed, assigned to tonihei

[2020-09-22 14:49] nirazv commented on #7887
yes you can do to open an issue for m.

[2020-09-22 14:56] Tolriq commented on #7525
@tonihei  Ok so let me try to better explain the need that is.

The player can play media from many different sources and some of them can transcode the media on the fly.
The transcoding or not decision is made at the ```DataSource.open``` to avoid wasting server resources.
When transcoding some server for some media type and transcoded media can generate non seekable media via normal player seek

[2020-09-22 15:06] tonihei commented on #7525
`ResolvingDataSource` is essentially just an easy wrapper to intercept the `DataSpec` to the `DataSource`. If the actual information you need is only available afterwards, you would probably need to follow @AquilesCanta's advice and use a `DataSource.Factory` for each of your `DataSources` that has access to your tag object:

[code]

Aside: If you make the `tag` object mutable be aware that the lo

[2020-09-22 15:09] changxiangzhong commented on #7963
DefaultBandwidthMeter

[2020-09-22 15:09] #7963 closed, assigned to ojw28

[2020-09-22 15:11] Serkan-Karacelikler commented on #7952
Thanks.

[2020-09-22 15:11] #7952 closed, assigned to marcbaechinger

[2020-09-22 15:36] Tolriq commented on #7525
Thanks that's what I do, but the new playlist api is all about MediaItem directly no? Or I can use MediaSources directly and still use the new playlist api instead of concateningmediasource?

[2020-09-22 15:43] tonihei commented on #7525
Yes, you can. The `ExoPlayer` interface defines all relevant methods for that (e.g. `setMediaSource`, `addMediaSource` etc)

[2020-09-22 16:01] grosalex opened #7964 "onNotificationCancelled isn't called on api 30"
Hey,
I'm developping an audio app and "onNotificationCancelled" isn't called when targeting and android 11 devices or emulator when pausing soundtrack  and dismissing the player notification ? It's well called from android 4.4 to 10.
I've been looking for changes about that but found nothing sorry, so I'm asking here.

Regards,

[2020-09-22 16:05] nirazv opened #7965 "How to create Single Instance of ExoPlayer and use it with Multiple Different PlayerViews?"
Suppose if we have 6 fragment in our application named - FragmentOne, FragmentTwo, .....FragmentSix and each fragment has separate layouts attached to it with PlayerViewUI. Then in this scenario we want to create single instance of exoPlayer and attach the instance to the current displaying fragment/PlayerView and remove it when Fragment Changed/Removed.... and reattach it to new current fragment

[2020-09-22 16:13] andrewlewis commented on #7811
Sorry for being slow to reply.

The `configure` method on the audio processor will be called automatically so you just need to make sure the output sample rate has been set before it starts handling audio. Two things make this a bit tricky at the moment (and could probably be simplified): firstly the playback thread is using the pending output sample rate, but generally it would be set on the main

[2020-09-22 16:17] Tolriq commented on #7525
Ok thanks, closing this one too as there's no other way and factory are small :)

[2020-09-22 16:17] #7525 closed, assigned to AquilesCanta

[2020-09-22 16:42] kim-vde commented on #7949
The index seeker (enabled by `FLAG_ENABLE_INDEX_SEEKING`) updates the duration if it is incorrect or unset once the whole file has been parsed. You can see that, if you play the file and wait until you are close to the end, the duration will have appeared.

Before that, the duration is generally retrieved from the metadata provided in a Xing header, VBRI header or ID3 MLLT frame. As the file you p

[2020-09-22 16:47] ursurya commented on #7774
I will update in a day. Please don't close this issue

[2020-09-22 18:16] ghost commented on #7949
Thanks in advance for the update. Though, I do not get it. Would `FLAG_ENABLE_INDEX_SEEKING` allow me to provide an exact seek on the user moving the thumb on seekbar or do I have to wait for the file to be fully played before the user is enabled to do so?

[2020-09-22 22:43] raestrada95 opened #7966 "How to make 5.1 dolby digital audio works in chromecast from exoplayer"
### [REQUIRED] Searched documentation and issues
Look in the exoplayer documentation for an option that allows me to configure 6 ch as the preferred option

### [REQUIRED] Question
I hope someone can help me with this problem. When I use the shakaplayer demo (https://v2-4-7-dot-shaka-player-demo.appspot.com/demo/#build=uncompiled), and in Configuration-> Preferred audio channel count: (I put the o

[2020-09-23 00:48] benoitdion commented on #7683
hi @andrewlewis, do you have recommendations for how the encoding could be tweaked to minimize jumping to the next I-frame?

if audio isn't important, how would you recommend tweaking the decoder to drop frames at a consistent rate (e.g.: drop every 3 frames instead of jump to the next I-frame)?

[2020-09-23 01:04] #7802 closed, assigned to AquilesCanta

[2020-09-23 01:04] #7624 closed, assigned to Samrobbo

[2020-09-23 01:04] #7329 closed, assigned to AquilesCanta

[2020-09-23 03:16] nirazv commented on #7887
I do created a new issue look here #7965

[2020-09-23 04:21] greatktv opened #7967 "Playing MOV file but no sound"
### [REQUIRED] Issue description
Play a Mov url, there is video but no sound

### [REQUIRED] Reproduction steps
just use our own app to play the mov url

### [REQUIRED] Link to test content
http://shinemov.joyk.com.cn/free/647753.mov
http://shinemov.joyk.com.cn/free/900318.mov

### [REQUIRED] A full bug report captured from the device
just no sound

### [REQUIRED] Version of ExoPlayer being used
h

[2020-09-23 06:40] changxiangzhong opened #7969 "Sealmessly switch the video tracks ASAP"
### [REQUIRED] Searched documentation and issues
 - ExoPlayer official document
 - ExoPlayer source code
 - Question  #6630

### [REQUIRED] Question
Our requirement is just like #6630, and we have tried and experimented the solution provided by @tonihei - to customize the `AdaptiveTrackSelection::canSelectFormat()` method - it's a great idea.

We have one additional demand - ASAP. The issue is it

[2020-09-23 07:17] Artman12 opened #7970 "Custom DataSource: initialization of MKV file takes too long"
### [REQUIRED] Searched documentation and issues
MatroskaExtractor source code
Several issues

### [REQUIRED] Question
I have implemented custom `DataSource `to use with `ProgressiveMediaSource`.

[code]

When I try to open MKV file, the player calls `read(byte[] buf, int offset, int readLength)` function multiple times, passing `1` as `readLength`.

This results into minutes of initialization tim

[2020-09-23 08:32] Prateek-Kapoor opened #7971 "ExoPlayer PlayerView flickers in dragDown transition using Motion Layout"
### Documentation Referred
https://exoplayer.dev/ui-components.html

### The video flickers in PlayerView during drag down transition using motion layout.

### Description
My requirement is to dock/move the Exo Player view from the top and the bottom right (not ribbon, but what youtube used to do a few years back).

For achieving the scenario I am using MotionLayout providing required **dragDown**

[2020-09-23 09:17] kim-vde commented on #7949
The user will be able to seek before the file is completely parsed.

[2020-09-23 10:10] AndersonCrew opened #7972 "How can I move out My Custom Control PlayBack from PlayerView"
I have customized control playback, now I want to move out from PlayerView, how can I do that? Please help me!

[2020-09-23 10:13] AndersonCrew opened #7973 "How can I change ratio of PlayerView when show the video?"
I have a video with the ratio is 4:3 but I want to show a video with the ratio is 16:9, It's mean the video will be center of PlayerView, and the cover is the background of black color, how can I do that, please help me?

[2020-09-23 11:07] xiaochedexinyang1 opened #7974 "Synchronizing Playing Multiple Audio 2.12.0"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-09-23 11:19] DavidMihola opened #7975 "Start position of 0 always resolves to default position for live playbacks"
### [REQUIRED] Searched documentation and issues
Since the problem only appeared after updating from 2.11.8 to 2.12.0 I searched the recent issues for "seek" and "startPosition" but didn't find anything that seemed related.

### [REQUIRED] Question
In our TV app we offer users the possibility to watch the current program from the beginning, i. e. instead of simple live stream with a short live win

[2020-09-23 12:11] ghost commented on #7949
Sorry for iterating but will it be an exact seek or normal seek, in this case (my test file).

[2020-09-23 12:35] kim-vde commented on #7949
What do you mean by "normal seek"? Seeking will use the index seeker, which means that seeking will be precise. Indeed, the index will store all the samples that are at least 0.1 second apart.

[2020-09-23 12:42] PaulWoitaschek commented on #6521
@andrewlewis It seems you can close this issue now and update the issue that the media2 extension was published. :tada:

[2020-09-23 12:44] Samrobbo commented on #7962
Hi,
the TextTrackSelectionAdapter.init method has a checkNotNull on the subtitle button. Does your custom view have an image with an id of `exo_subtitle`?

[2020-09-23 12:46] Manvendra-Jadon commented on #7944
@andrewlewis Details sent through email(dev.exoplayer@gmail.com).

[2020-09-23 12:47] #6521 closed, assigned to jaewan-github

[2020-09-23 12:49] andrewlewis commented on #6521
Thanks. Just for reference, 02f8cdf1d9c277a38377bacd5f9e2b3cf7ca8041 was the first commit related to this.

[2020-09-23 13:26] AquilesCanta commented on #5012
Hi, apologies for not looking into this before. Can you please provide very clear repro steps for this issue? I don't think I have had issues with Listeners not working in the past, and I don't remember users reporting such issues either. Please don't forget to include a clear explanation of what the expected and observed behaviors are.

[2020-09-23 13:37] BucherTomas commented on #7766
Just to provide an update, we managed to purchase the very same device but could not reproduce the reported behavior. This both with the original and latest firmware.

As a side note, the device is L3 level only according to couple of "DRM info" apps, so the suggested advice would not likely have an impact.

I'm closing this as the issue is apparently not device model-dependent and no workarounds

[2020-09-23 13:37] #7766 closed, assigned to marcbaechinger

[2020-09-23 14:21] DavidMihola commented on #7911
@ojw28: Thanks for the clarification!

If I may add another question: Is there anything that would preclude one from including an `availabilityStartTime` in the MPD of a VOD stream? Or, conversely, is it best practice to always include the attribute, no matter what type of stream?

[2020-09-23 14:21] y20k commented on #7942
Okay. I will try to find a way. :+1:

It would be super, if you could leave this issue open for another week, because I have no free time at hand this week.

[2020-09-23 15:03] Samrobbo commented on #7965
This sort of question is more android development related, rather than a specific question about ExoPlayer. Therefore it is more suited to ask on stack overflow.

[This question on stack overflow](stackoverflow.com/q/9343241) may lead you in the right direction. I would suggest having the activity own the player, and the fragments access it through the activity.

[2020-09-23 15:03] #7965 closed, assigned to Samrobbo

[2020-09-23 15:18] nirazv commented on #7965
Its not like how we create singleton or pass data between fragments/Activities. I think you not understood my question properly.

Please reopen it but before read below..

In earlier version SimpleExoPlayer.Factory was the only method to create singleton of ExoPlayer. Now in the version of
2.12.0 its removed/deprecated now what next? consider following:

Creating multiple instance of simpleExoPlay