[2019-10-15 01:28] rickyManalo commented on #6539
For the video content, you can use any video. Our internal network can't be accessed outside so I don't think I can provide a test content.

My app before uses DownloadManager to download the videos to the Downloads folder of a device. After the download finishes, I save the local path of video so I can use it for the URI of the video if I need to play it. Everything works fine back then, ExoPlaye

[2019-10-15 05:00] ArcherEmiya05 commented on #6526
All I really got is non stop buffering when a VAST ad was used for a long period of time. Meaning it works fine if I clear data or cache the app or uninstall then reinstall which is really suspicious to think. If the ad will not work then that's it but if the ad works fine then after a long period of time stops working then that is something really disturbing. Even the sample Single Skippable Inli

[2019-10-15 05:04] imfondof commented on #6536
**Issue description：**
can't play mp4 with exoplayer 2.7.0

**Reproduction steps：**
here is my code :  https://github.com/Imfondof/exospecialdemo
(the mp4 url is http://filesystem1.bbtree.com/2019/10/11/cms/5673cc33-eeb8-440d-aeae-f30900b7b0fe.mp4)

**A full bug report captured from the device**
error:
E/LoadTask: Unexpected exception loading stream
java.lang.IllegalArgumentException
at com.google

[2019-10-15 06:15] rickyManalo commented on #6539
Hi, I kinda found a fix to my issue. Before I play a video again, I call `exoplayer.seekTo(0)`. But it kinda got some issue of it's own. Because I called `seekTo()` before replacing the video, it plays a bit of the start of the previous video first then plays the next video after.

[2019-10-15 06:16] lifawei opened #6546 "How to Clear Buffered Resources when HLS Switches Different Orbits"
How to Clear Buffered Resources when HLS Switches Different Orbits？I called Util.removeRange (mediaChunks, chunkIndex, mediaChunks.size ()) in the HlsSampleStreamWrapper.reevaluateBuffer () method, which triggers AudioTrack: Discontinuity detected [expected 55024000, got 15002666].

[2019-10-15 08:34] kim-vde commented on #6503
We will add your device (l5460) to the workaround list soon.

For the other devices, we don't have the resources to test them. Therefore, as they haven't been tested, we will add the devices that meet the following conditions:
1) The device can be uniquely identified from the model name;
2) There is already a device in the list in `codecNeedsSetOutputSurfaceWorkaround` with same brand and similar

[2019-10-15 09:51] Samrobbo commented on #6546
Please provide complete information as requested in the issue template. The issue template can be found here. If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

We won't be able to

[2019-10-15 09:54] tonihei commented on #6546
`reevaluteBuffer` is not yet supported in HLS. There is an enhancement to track this in #6322.

[2019-10-15 09:54] #6546 closed, assigned to Samrobbo

[2019-10-15 09:55] christosts commented on #6348
Just an update:

As mentioned in my [previous comment](https://github.com/google/ExoPlayer/issues/6348#issuecomment-540658093), when tested the 60fps 5.7Mbits widevine stream on a Galaxy S7, I can see ExoPlayer (not the surface) is dropping frames. I am working to address that. The fix will probably be inline with adding threads to handle rendering.

With regards to the 'glitches' in the news tick

[2019-10-15 09:56] tonihei commented on #6537
This is a duplicate of #6315 and #5658. Please see the explanations in there.

[2019-10-15 10:25] jmimohsin commented on #6530
Hi,

This is earning app and I can remove Ads, if there is something else I can do.

Thanks

[2019-10-15 10:29] ddicaro commented on #6503
Just to clarify, having the `android.os.Build.DEVICE` would be enough for you to add other devices, or there also have to be another device with same brand and similar marketing name in the list?

[2019-10-15 10:30] Samrobbo commented on #6537
We discussed this, and as there are 3 bugs now associated with this issue. We are looking into a workaround.

[2019-10-15 10:34] swastik52 opened #6547 "Custom Decoder Implement in Exoplayer"
How to implement a custom decoder in Exoplayer v2
----------------------------------------------------------------------

I have an encrypted video URL and also have a native decoder code to decode the video.
How to use my native decoder code in Exoplayer.

[2019-10-15 10:46] christosts commented on #6531
@jianlin00000 can you please provide a url to your m3u8? the zip file could not be read

@tipoc123 I have not been able to reproduce. I tried on multiple devices and Android versions. Have you tried on any other device apart from STB Geniatech 495x? Have you reproduced it on another device apart from STB Geniatech 495x? How many times do you need to go back and play again to see the issue happenin

[2019-10-15 11:21] tipoc123 commented on #6531
No, only on this device.

Two or more.

The main problem is that there are no errors or warnings in logs. I don't really know where to look.

[2019-10-15 12:19] kim-vde commented on #6503
There would need to be another device with same brand and similar marketing name, as those devices have not been tested. Having the Build.DEVICE would probably allow us to add more devices, as we would be able to uniquely identify them (using the Build.DEVICE and Build.MODEL).

[2019-10-15 13:03] xiaos opened #6548 "ExoPlayer re-render current frame when pause"
I am using exoplayer with surfaceTexture.

        SimpleExoPlayer exoPlayer = ExoPlayerFactory.newSimpleInstance(this, new DefaultTrackSelector());
        Surface surface = new Surface(surfaceTexture);

For each frame decoded, i will receive a callback in
public void onFrameAvailable(SurfaceTexture surfaceTexture) {
}

When i pause the player, i want to refresh my surfaceView with the current fr

[2019-10-15 13:55] tonihei commented on #5426
To further simplify updates to the shuffled order, we should also add a method like `int[] getShuffledIndices()` so that this array can be updated and then passed back to `new DefaultShuffleOrder(shuffledIndices)` if needed.

[2019-10-15 16:08] Samrobbo commented on #6547
I would recommend looking into the existing extensions that wrap native decoders.

For example [Flac decoders](https://github.com/google/ExoPlayer/tree/release-v2/extensions/flac/src)

[2019-10-15 16:57] marcbaechinger commented on #6544
For my pixel device with Q the lock screen shows the notification in the same way as it is displayed in the notification drawer.

So you can enable/disable buttons like [documented in the class level JavaDoc of the `PlayerNotificationManager`](https://github.com/google/ExoPlayer/blob/bef130ad17f11ab3997548653f2466e50bd6eb27/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificati

[2019-10-15 18:07] matheusbrandao commented on #6544
Yes, in my Moto Z Play the same thing that you reported happens. The lock screen shows the notification in the same way as it is displayed in the notification drawer.

However, testing on A8 appears these icons also as shown in the image. View resolving code `mediaSession.isActive = true` to `mediaSession.isActive = false`.

So these "extra icons" no longer appear on the lock screen.

[2019-10-15 18:10] matheusbrandao opened #6549 "Problem with playerNotificationManager.getCurrentLargeIcon in API 19"
As the image shows, trying to add a large icon to the playerNotificationManager, the app is showing a blue background.

Any suggestion?

![Screenshot_2019-10-15-14-50-27](https://user-images.githubusercontent.com/19668094/66857554-e8e79980-ef5d-11e9-83a4-9bec5b0351fb.png)

[2019-10-15 19:12] chitrang200889 opened #6550 "createMessage(PlayerMessage.Target target) gives multiple callback."
Our requirement is to have a callback at different time positions of the video duration.

Below is our method to set createMessage() with the callback.

        fun addCuePosition(cuePositionInMillisecond: Int) {
            simpleExoPlayer
                    .createMessage(PlayerMessage.Target { messageType, payload ->
                        HDialogue.log("payload = $payload")

[2019-10-15 19:18] marcbaechinger commented on #6545
Prior to API 21 MediaButton events are not delivered to the MediaSession.

Instead it is delivered as a key event (https://developer.android.com/guide/topics/media-apps/mediabuttons). In the demo app the key event arrives at the [dispatchKeyEvent](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L289) method which t

[2019-10-15 19:30] marcbaechinger commented on #6544
In case you are using the media session for lock screen only, you can try to disable the previous/next playback actions.

You can disable previous/next actions of the media session by _not_using a `QueueNavigator`. However, this may be not desired for other use cases you are having to solve with the MediaSession.

[2019-10-15 19:32] marcbaechinger commented on #6549
It appears to me the blue background is the default and the icon you are using has a transparent background.

Have you tried using an icon with an opaque background?

[2019-10-16 01:07] #6455 closed, assigned to icbaker

[2019-10-16 05:36] aazam-nouri commented on #6455
My problem was solved by sample code, Thanks to [tonihei ](https://github.com/tonihei)

[2019-10-16 07:26] Romantic-LiXuefeng opened #6551 "The stream which width/height are not aligned with VideoCapabilities.mWidthAlignment/VideoCapabilities.mHeightAlignment can't be played."
### [REQUIRED] Issue description
As described in #https://github.com/google/shaka-streamer/issues/36. If the HLS live output stream's resolution is 1129 * 480,  the player can't played it.
The decoder's capabilities are not support the width/height which not aligned with `VideoCapabilities.mWidthAlignment / VideoCapabilities.mHeightAlignment`.

[code]

Device info: MiBOX3_PRO, Xiaomi
[code]
[code]

[2019-10-16 08:14] zzzhc opened #6552 "IMA post-roll ad marker lost when video duration is less than audio duration"
### Issue description
We have some assets(dash stream) which's video duration is less than audio duration, and mediaPresentationDuration equals audio duration, for example, the audio duration is 5793364041us, video duration is 5793162375us, mediaPresentationDuration is 5793364ms.
In this case, the post-roll ad marker won't show.

### Reproduction steps
The asset content is protected by drm. I will

[2019-10-16 08:18] zzzhc commented on #6552
I'm confused with `availableEndTimeUs = Math.min(availableEndTimeUs, adaptationSetAvailableEndTimeUs);`.
`availableEndTimeUs = Math.max(availableEndTimeUs, adaptationSetAvailableEndTimeUs);` is better?

[2019-10-16 09:14] andrewlewis commented on #6548
`MediaCodec` doesn't provide a way to re-render the last frame (and even if ExoPlayer didn't treat seeking to the current position as a no-op, re-rendering the last frame can take a significant amount of time as the decoder will need to decode from the last keyframe to the current position).

If you have a setup for getting decoder output from the `SurfaceTexture` to a `SurfaceView`, I guess you m

[2019-10-16 10:03] marcbaechinger commented on #6496
What are you calling to make the player stutter/dropping frames? Can you share your systrace with me?

I understand with stuttering you are referring to the main thread being occupied too long, while frame drops are caused by something on the playback thread?

Some random ideas which come to mind:

- Switching a player from on surface to another and preparing the player with a new media source is

[2019-10-16 10:13] pnobbe opened #6553 "Possible memory leak on SampleQueue AllocationNode"
### Searched documentation and issues
https://github.com/google/ExoPlayer/issues/5151
https://github.com/google/ExoPlayer/issues/4539

Reopening this already discussed issue as I previous issues were closed due to insufficient evidence.

### Question

I am currently using ExoPlayer within a Fragment. A collection of these Fragments is displayed using ViewPager2 so the user can swipe between videos

[2019-10-16 10:21] marcbaechinger commented on #6550
I would say that using createMessage is the right thing for this use case. That works for me when trying this out:

[code]

This gives me the output below when using EventLogger:

[code]

I seek to the given position and the message is sent once at the correct time. This works as expected for me.

I think it is expected that the message is sent at the moment when the position defined is reached. T

[2019-10-16 10:22] ojw28 commented on #6553
I think `SampleQueue` (and the Java heap in general) is accounted for in the "Java" part of the graph, where-as the problem is the "others" part. If this is when using the emulator, then it's probably this emulator specific issue: https://issuetracker.google.com/142528714

[2019-10-16 10:30] pnobbe commented on #6553
I think you may be correct. I just tried replicating the issue on my phone and this was the result

![image](https://user-images.githubusercontent.com/8037254/66911374-acc14100-f010-11e9-8e48-c4e108c3ed95.png)

Looks much better. Guess I'm going to have to develop using my phone instead of the emulator then.

[2019-10-16 10:32] ojw28 commented on #6553
Yeah, it's quite unfortunate. I'd suggest following the issue mentioned above to track when it's fixed!

[2019-10-16 10:32] #6553 closed, assigned to ojw28

[2019-10-16 10:39] marcbaechinger commented on #6550
Marking as a bug as setting

[code]

produces the continuous delivery of the message while the player is on the same position in BUFFERING_STATE.

[2019-10-16 10:48] ojw28 commented on #6551
I think it's a property of H.264 itself that odd resolutions are not supported. In which case 1129 in not a valid width, and so it's correct that the decoder (or any decoder, for that matter) would not advertise support for it.

I think the problem here is just that the RESOLUTION tag in `hls.m3u8` is incorrect. The real width of the stream is 1130, as seen if you inspect the actual media using a

[2019-10-16 11:06] ojw28 commented on #6551
So this is an error in the source media. If it's your media then you should fix it [edit: I just saw your shaka bug. If they're responsible for generating `hls.m3u8` then it seems like a bug in their packager?].

I think we've seen the same issue before, so we might put a workaround into ExoPlayer that'll round odd H.264 resolutions up to the nearest even resolution. Note that this assumes the err

[2019-10-16 11:28] khannasaransh commented on #6168
We are also facing the same problem with exoplayer 2.10.5. We are also reusing the exoplayer instance which might be used for a video with different resolution.

[2019-10-16 12:35] jmimohsin commented on #6530
Hi,

[code]

[code]

Hope you know about this issue insufficientResource? This come once black screen start coming for one video then all video give this error.

[2019-10-16 12:44] ojw28 commented on #6543
This is a bit of a tricky one, which arises from the fact we don't guarantee API stability.

* For now, if a library uses ExoPlayer, it should bundle the version that it wants directly inside its aar, and do so _with an modified/obfuscated package name_. This way multiple libraries using different versions of ExoPlayer can co-exist alongside one another, and with a version used by the app code dir

[2019-10-16 12:44] #6543 closed, assigned to ojw28

[2019-10-16 12:47] ojw28 commented on #6541
Provided there exists a track with language `model.format.language`, I think `setPreferredTextLanguage(model.format.language)` should be sufficient. I don't understand what the line of code above that is doing; it looks a bit like it shouldn't be there?

If that's not working, please provide sample media for us to reproduce.

[2019-10-16 12:48] #6493 closed, assigned to ojw28

[2019-10-16 12:49] #6465 closed, assigned to ojw28

[2019-10-16 13:11] tonihei commented on #6550
I think this is triggered by our special handling for the start position. In all other cases, we only trigger an  event when the requested time actually passed (and not when it stays constant).

[2019-10-16 13:12] luna-vulpo commented on #6541
firstly I did not have ```newParams.setRendererDisabled(C.TRACK_TYPE_VIDEO, false)```
but read here: https://stackoverflow.com/a/51787632/1461568
that it should help. But not help at all.

Should I set or add something to enable rendering subtitle with exoplayer2?

(I will try to prepare such stream)

[2019-10-16 13:25] ojw28 commented on #6541
I tried using this sample in our demo app:
https://dash.akamaized.net/dash264/CTA/imsc1/IT1-20171027_dash.mpd

And confirmed that the following was sufficient to enable the captions:
[code]

This suggests there's either a problem with your media, or a problem with your application code. If you provide a test sample of media then we can check the former.

[2019-10-16 13:35] imbichitra opened #6554 "On which class NAL Unit is read from mp4 file and render it?"
On which class NAL Unit is read from mp4 file and render it?
-------------------------------------------------------------------------
I have an encrypted stream that i want to play with exoplayer but the problem is that exoplayer can't play the encrypted video file directly so if i got the position where the binary data is read from the stream then in that place i introduce my own decryption algo

[2019-10-16 13:56] Romantic-LiXuefeng commented on #6551
@ojw28 I use the Bento4 mp4info to dump the video_480p_2M_init.mp4.   It's  sample width is 1130, and display width is 1129.
`./mp4info --verbose video_480p_2M_init.mp4v`

[code]

[2019-10-16 14:05] xiaos commented on #6548
Thanks for your reply.
I am using exoplayer to output video stream to surfacetexture, rendered by openGL on surfaceView.
I am developing a video editor, allow user to add sticker on the video. user can move around the stiker on video.

When the video is playing, there is no problem, because every frame, the surfaceview will be redraw.
but when user pause the video, and want to move around the stic

[2019-10-16 15:01] luna-vulpo commented on #6541
I was tried you sample and I don't see any subtitles. So now I'm sure that is on my app side error.

I use: ```DefaultRenderersFactory(context)``` is it render subtitles on screen by default? or I should pass TextView or similar  to enable to render subtitles?

[2019-10-16 15:13] ojw28 commented on #6541
Are you using our `PlayerView` UI component?

It takes care of rendering the subtitles if you're using it. If you're not using it then you need to add something as a text output to the player (`player.addTextOutput`), which will receive the subtitles. You'll then need to render them. You can use `SubtitleView` for this, if you don't want to use the full `PlayerView. You can add a `SubtitleView` as

[2019-10-16 15:56] ArcherEmiya05 opened #6555 "AdsLoader.setPlayer crash"
### [REQUIRED] Searched documentation and issues
#5476 This is the only issue that I saw and no other SO question.

### [REQUIRED] Question
Is this issue already fix because I am still currently receiving some crash report on certain device.

### A full bug report captured from the device
Fatal Exception: java.lang.NullPointerException: Set player using adsLoader.setPlayer before preparing the pla

[2019-10-16 16:02] tyagi-priyam opened #6556 "I am trying to play a video captured by device camera in samsung galaxy J6 using exoplayer . But everytime decoder initialization is failing. When I tried with some other downloaded video then its working fine. I am not sure if it is a DRM issue or what. Would someone plz help me out?"
Exoplayer version : 2.7.2
Device : samsung galaxy j6
API Level : 26
OS : 8.0.0

[2019-10-16 16:05] christosts commented on #6530
The stack traces say that ExoPlayer could not initialize a decoder for playing an H264(AVC) video. In order to play video on any device, an app needs to obtain a video decoder from the system. However, some devices can allocate at most one instance of a decoder based on device/hardware specific issues. It appears that the device you are using has this constraint as well, and at the time the error

[2019-10-16 16:06] tyagi-priyam commented on #6556
2019-10-16 21:19:23.249 E: Codec reported err 0xffffec77, actionCode 0, while in state 3
2019-10-16 21:19:23.250 E: configure failed with err 0xffffec77, resetting...
2019-10-16 21:19:23.269 E: Playback error.
    com.google.android.exoplayer2.ExoPlaybackException
        at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.throwDecoderInitError(MediaCodecRenderer.java:420)
        at co

[2019-10-16 16:26] christosts commented on #6449
Just to clarify on the use cases:

The [LoadEventInfo](https://github.com/google/ExoPlayer/blob/44293e8f45fc62ff918001b4425c44d0ded5ffc9/library/core/src/main/java/com/google/android/exoplayer2/source/MediaSourceEventListener.java#L40) has two fields (elapsedRealtimeMs and loadDurationMs) that you can use to get download time. Is it not enough?

The LoadEventInfo also has the URI used, so you can

[2019-10-16 17:00] krackjack234 commented on #6543
Hi @ojw28, by "modified/obfuscated package name", do you mean all exoplayer classes have to be renamed to avoid namespace collision?

Also in case both the versions are same, what you mean by "(probably) that they pull it from the same place" ?

[2019-10-16 17:30] ojw28 commented on #6543
Yes. When the provider of the library produces their aar, they should include the ExoPlayer classes inside the aar with a different package name. This avoids collisions. I think it's probably fairly easy for a library developer to do this using proguard (or equivalent tool).

I'm less sure about this, but I was wondering what would happen in the case where you (i.e. app code) depend on ExoPlayer v

[2019-10-16 18:30] jmimohsin commented on #6530
If fails to allocate the decoder one time than there is no way to play video again? Because every video goes blank once one time issue come, no single video will play until we close the whole app and restart the app. It should be any way to restart the player?

[2019-10-16 18:39] matheusbrandao commented on #6549
Yeah, I tried to use an icon with opaque background. However, it refers to the background color that I will have to set.

Is #1E2022 standard on API 19 devices?

[2019-10-16 19:02] jmimohsin commented on #6530
I am uploading new beta version of my app 3.0 version right now. Just simple open video one by one page...after 5 to 6 video it will show blank screen and then coming back to previous videos all will be blank and no single video work until I restart app.

In logcat, I am able to see equal Init and release of exoplayer 2.5.2

New 3.0 Beta Version:- https://play.google.com/store/apps/details?id=code

[2019-10-16 21:39] luna-vulpo commented on #6541
nop. I use leanback for android tv. Very similar as in this example:
https://github.com/googlearchive/leanback-showcase

I will falow your advide. thx.

[2019-10-17 01:07] #6434 closed, assigned to AquilesCanta

[2019-10-17 01:16] hmawla commented on #6496
Yes, the stutter while scrolling is happening when I create a new instance of SimpleExoPlayer which is causing a huge load on the main thread, which I am not sure why.
This is the link of my Player Class: https://pastebin.com/fXvLxZB1
What I am currently doing is reusing the same instance in my recycler view while I am still in the same activity. Which is also causing load on the main thread.

[2019-10-17 06:05] getyoteamsolutions commented on #6515
Thanks @marcbaechinger
This code working fine and resolve my issue.

if (playerNotificationManager != null) {
  playerNotificationManager.setPlayer(null);
}
if (mediaSessionConnector != null) {
  mediaSessionConnector.setPlayer(null);
}

[2019-10-17 06:07] #6515 closed, assigned to marcbaechinger

[2019-10-17 06:42] krackjack234 commented on #6543
Thanks @ojw28

[2019-10-17 07:50] jmimohsin commented on #6530
If I use this player https://github.com/tcking/GiraffePlayer2 then this issue will not come?

[2019-10-17 09:05] #6541 closed, assigned to ojw28

[2019-10-17 09:54] Samrobbo commented on #6555
Hi,

Can I get some more information please? In particular:

- the device & version of Android.
- the exact version of ExoPlayer you are using.
- A full bug report, as mentioned [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
- The steps to reproduce, and how reproducible you found it to be.

[2019-10-17 10:09] andrewlewis commented on #6432
For now I'd like to repurpose this issue to track the problem that companion ads don't show when updating to target API 29.

I'm not sure it's worth supporting companion ads in the main ExoPlayer demo app given that the API is pretty simple. Also, in the medium/longer term it's quite likely that at least one of the IMA SDK sample apps will start using the ExoPlayer IMA extension (TBC though).

[2019-10-17 10:23] andrewlewis commented on #6548
I think it's possible to composite your stickers as part of the operation that copies the video frame to the surface view. The decoder's output frame remains unmodified in the SurfaceTexture if you do this. (As a side effect this also lets you make changes to the sticker position more responsive on lower frame rate videos.)

[2019-10-17 10:23] #6548 closed, assigned to andrewlewis

[2019-10-17 10:24] marcbaechinger commented on #6549
I figure you need to use an opaque icon if you want to have another background than the blue default on KitKat. It's unfortunate but I think there is no way around it.

To the best of my knowledge it works like this:

`NotificationCompat.Builder` has one setter only which takes a color: `setColor`. This color (let's assume I use red) is used as follows:

   a) without largeIcon and without a media

[2019-10-17 10:28] Deepak1202 commented on #6514
Thanks for the response @christosts,

- I can provide you the rtmp stream link, unfortunately the stream will get accessed locally to my network.
- Actually I have launched player with a rtmp stream and I don't do exit or anything which interrupts player. From the stream server only it gets stopped and starts again with the new video.
- I have tried with demo app it is having the same issue.
- I a

[2019-10-17 10:50] jzhoubupt commented on #6554
I'm afraid your question is not clear enough for people to help you.
Depends on your stream format, how it is being encrypted, if it is in HLS,or DASH, or a local file, or online mp4 the area to introduce your own decryption algorithm  is quite different.

Just share what i knows: there is class Aes128DataSource in the HLS module which use javax.crypto.Cipher to decrypt AES-128 encrypted stream pe

[2019-10-17 10:51] Samrobbo commented on #6556
Hi,

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issu

[2019-10-17 11:14] ojw28 commented on #6552
In this case, the post-roll ad marker won't show.

It's hard to be sure without seeing the DASH manifest, but it sounds as though this is not inter-operable DASH content according to the new [DASH-IF interoperability definition](https://dashif-documents.azurewebsites.net/DASH-IF-IOP/master/DASH-IF-IOP.html). In particular:

In the case you describe it sounds like the video representation falls int

[2019-10-17 11:15] jzhoubupt opened #6557 "DASH Support manifest extension using ept/dur information"
According to DASH IF IOP4.3 chapter 4.5.3.3 "Extended Segment Information" (https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf) the advanced client should parse the segment to calculate the next segment URL based on the "ept" and "dur" information from the segment boxes and avoid client fetches the MPD. Client only fetch MPD at startup, or when new Adaptation Set is selected, or if Segments or lost, or

[2019-10-17 11:16] #6551 closed, assigned to ojw28

[2019-10-17 11:29] tyagi-priyam commented on #6556
Let me explain once again!
Currently i am working on video editing functionality in Android app for which I am using exoplayer for playing locally saved videos on the editor screen. Video is playing successfully on most of the devices except some of devices like samsung j6 and samsung infinity. Exoplayer is throwing error after setting the media source. It seems like there is some problem with dec

[2019-10-17 11:35] tyagi-priyam commented on #6556
debugger screen on two occurrence

![Screenshot 2019-10-17 at 5 01 47 PM](https://user-images.githubusercontent.com/53256844/67005446-4287c980-f100-11e9-9ca3-efd208d9aa64.png)

![Screenshot 2019-10-17 at 5 02 11 PM](https://user-images.githubusercontent.com/53256844/67005484-54696c80-f100-11e9-832a-6d51d146f7f4.png)

[2019-10-17 12:02] imbichitra commented on #6554
Actually i have video file with 2 streams first one is encrypted video file(MP4) and second one is normal audio data, and i want to decrypt the video file and handover the decrypted video to the renderer.

[2019-10-17 12:18] ojw28 commented on #6552
On the UI side, I'm not sure why we don't display ad markers at all in the case where they're not within the window duration. @andrewlewis - Is there a reason for doing this, as opposed to still displaying the marker at the very end of the timeline?

[2019-10-17 14:21] xiaos commented on #6548
I am not sure if the frame still in SurfaceTexture or not.  When pause the video and touch/move the sticker, i will call the below method in custom GlSurfaceView.

public void update(){
 queueEvent(new Runnable() {
            @Override
            public void run() {
                surfaceTexture.updateTexImage();

                requestRender();
            }
        });
}

But the screen is b

[2019-10-17 14:24] christosts commented on #6531
@tipoc123, can you
- try on another device to see if the problem is device-specific?
- provide with logs and (even better) grab an [adb bug report](https://developer.android.com/studio/debug/bug-report) when the issue occurs? You can send those over email to dev.exoplayer@gmail.com with "#6531" as subject.

[2019-10-17 14:29] xiaos commented on #6548
Another way i can think of is using FBO, for each frame, render to fbo then to GlSurfaceView.

So when player is paused, i just using the FBO texture to render.  This should be working but just need an additional fbo texture.

[2019-10-17 14:54] christosts commented on #6514
From

and

from the player perspective, it looks like the stream is malformed. The audio timestamp goes back by 2464315 - 2264000 = 200315 ~= 200 seconds.

Can you check why the stream does that? Not sure the player can internally react to this.

[2019-10-17 15:54] christosts commented on #6530
I see on the logs that there are ads initializing ExoPlayer instances too. Does the beta have ads too? Did you try without ads to see if the problem is resolved, which would at least rules out that the problem is with ExoPlayer?

From our discussion so far, it looks like the problem is more related to the Ads SDK and not the direct use of the ExoPlayer directly. May I suggest that you address the

[2019-10-17 15:54] tipoc123 commented on #6531
Yes. It's a device-specific problem.

I've already attached the bugreport.txt above. You can see logs before '/data/anr/traces.txt'

[2019-10-17 16:02] tipoc123 commented on #6531
You can also see the next logcat (new logs):
[logcat.txt](https://github.com/google/ExoPlayer/files/3740224/logcat.txt)

[2019-10-17 18:39] ojw28 commented on #6557
I suspect DASH-IF might be removing the ability to expand the segment list based on in-segment information (i.e. no longer considering content that requires this client functionality as being interoperable). Their [new documentation](https://dashif-documents.azurewebsites.net/DASH-IF-IOP/master/DASH-IF-IOP.html#live-deployment-minimal-updates) doesn't appear to mention it as an option for minimizi

[2019-10-17 19:17] matheusbrandao commented on #6544
How could I disable the media session next action?

[2019-10-17 19:24] Hendriyawan opened #6558 "how do best partice make Music Player in Service with updatable UI ?"
how do best partice make Music Player in Service with updatable UI ?

[2019-10-17 20:01] HubKing commented on #1649
Not just subtitle, but I need this for audio, too. For example, popular players like VLC or MX Player have the ability to switch between multiple audio tracks (videos that have multiple audio tracks are not uncommon).

[2019-10-17 22:12] kqyang commented on #6551
@ojw28 I believe there is another bug in ExoPlayer.

The resolution in HLS master playlist is the "display" resolution. See https://tools.ietf.org/html/rfc8216#section-4.3.4.2.1:

      VIDEO attribute, then every alternative video Rendition MUST have
      an optimal display resolution matching the value of the RESOLUTION
      attribute.

The display resolution is not the same as frame resolutio

[2019-10-18 01:07] #6473 closed, assigned to tonihei

[2019-10-18 05:31] Samuel-Isirima opened #6559 "Render lag when seeking"
I am writing a project that requires me at some point to do some seeking in quick succession. Problem is that the video freezes all through the seek period or sometimes, renders a few screens and then freezes while the seekbar and current time text get updated correctly. I already tried this project on desktop, with java and javafx and it works perfectly, so I think it is a problem with exoplayer'

[2019-10-18 05:51] jianlin00000 commented on #6531
@christosts   I am sorry,the ts url of our m3u8  to public is encrypted. So I provide the ts file which is in the zip file.The zip file has two ts files of the m3u8,you can unzip the file to get the ts files,and play with the player and then analysis.

[2019-10-18 08:01] ojw28 commented on #6551
It's unfortunate that the HLS specification has defined it that way...

It's infeasible to implement this efficiently, since it would require downloading the start of every variant prior to the start of playback. The increased latency doesn't seem like an acceptable tradeoff, so I think it's better to leave things as they are now. Note that the commit referenced above should solve the problem in p

[2019-10-18 08:06] ojw28 commented on #6525
@OLIMUTH - There are [lots of existing issues about audio/mpeg-L2](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+%22audio%2Fmpeg-L2%22). As described in some of them, Android devices are not required to support this sample format. See our [supported formats page](https://exoplayer.dev/supported-formats.html#sample-formats) for more detail.

If you require support for this

[2019-10-18 08:06] #6525 closed, assigned to christosts

[2019-10-18 08:08] sandersaares commented on #6557
Ref https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/258

As far as I know, DASH-IF did not receive any feedback that this feature was actually used by any real world content, though I am not sure how extensive the survey was.

[2019-10-18 08:14] ojw28 commented on #6557
Thanks for the reference! I agree with your comments on that issue. From a client point of view, we don't want to have to implement multiple ways of doing the same thing, and in particular we'd rather avoid unnecessarily complicated functionality (which I think I'd classify this style of manifest extension as being :)).

@jzhoubupt - I'll leave this as open a low priority enhancement for now, for

[2019-10-18 08:18] ojw28 commented on #6533
It sounds like your `MediaDrmCallback` implementation just didn't implement provisioning correctly, and now you've fixed it so that it does? Your implementation is required to implement provisioning correctly.

The rules for when provisioning occurs are somewhat complicated, since they vary by device and Android version. On some devices provisioning wont ever be requested because they'll have been

[2019-10-18 09:07] kgrevehagen commented on #6533
This makes perfectly sense, thanks for explaining.
Since I never needed to do provisioning, I thought I could get away with implementing it, but I guess all implementations should have it in place.

[2019-10-18 09:07] #6533 closed, assigned to ojw28

[2019-10-18 09:25] Samrobbo commented on #6558
Hi,

It's quite unclear what you are asking, as you have not followed the question issue template [found here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

However, I advise you go to [the exoplayer site](https://exoplayer.dev), where there is plenty of information about making a music player. In particular, [this page](https://exoplayer.dev/troubleshoo

[2019-10-18 09:27] jzhoubupt commented on #6557
Thanks a lot for your feedback @ojw28 @sandersaares
I totally agree that using @r=-1 and fixed duration is more efficient and simpler way to achieve the same optimization.
I keep this open and track the latest update from DASH IF.
jzhou

[2019-10-18 09:27] Samrobbo commented on #6559
Hi

From the information you've provided, it's difficult for us to assist.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in th

[2019-10-18 09:31] Samrobbo commented on #6554
Hi,

If you have not yet looked into existing resources, our website with information can be found [here](https://exoplayer.dev), with our [Javadoc here](https://exoplayer.dev/doc/reference/).

If you've looked into these things, please can you fill out the question issue template, as shown [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md). This will gi

[2019-10-18 09:32] tonihei commented on #6559
Based on the information provided, it just looks as if your issue is caused by the fact that ExoPlayer loads the video over network and so every seek needs to load new data before playback can continue. Desktop players are likely to preload the entire video as the memory constraints are not as tight as on a phone and thus seeking will be very fast. You can start downloading the video before playba

[2019-10-18 09:37] Samrobbo commented on #6539
Hi,

From your comment, it appears that the original issue is no longer a problem.

For this new problem, filling out a new issue detailing what is happening will be the best way for you to get assistance. Please include a reference back to this issue.

Closing as issue fixed.

[2019-10-18 10:42] ChannVincent opened #6560 "Exoplayer cast implementation working on July 2019 but not working this month (October 2019) without changing any code, someone knows what happened?"
I have implemented exoplayer with exoplayer cast extension in july 2019 and everything worked fine in august 2019 for my clients :
https://github.com/google/ExoPlayer/tree/release-v2
https://github.com/google/ExoPlayer/tree/release-v2/extensions/

    dependencies {
      implementation 'com.google.android.exoplayer:exoplayer-dash:2.9.6'
      implementation 'com.google.android.exoplayer:extension

[2019-10-18 11:32] Samrobbo commented on #6536
Hi,

I've tested this in the current version, and it appears to be working as expected.

I advise you update your app to a newer version of ExoPlayer, as each update contains bug fixes and improvements.

In particular, it appears a possible fix for this was added in 2.9.3.

[2019-10-18 13:03] giladna opened #6561 "isPlaying API"
I have a question regarding isPlaying value while player is buffering.

Should it be expected to get isPlaying = false in this condition?

does it make sense to have value for suppress due to buffering?

  @IntDef({PLAYBACK_SUPPRESSION_REASON_NONE, PLAYBACK_SUPPRESSION_REASON_AUDIO_FOCUS_LOSS})

10x
Gilad

[2019-10-18 13:16] andrewlewis opened #6562 "Support seeking/rewinding in buffered data for progressive live streams"
### Use case description
Currently we don't support seeking within buffered data for progressive live streams. This is an enhancement to allow seeking within buffered data for these streams. Ideally this should work well with a back buffer specified via `LoadControl.getBackBufferDurationUs`, and allow seeking within new live media data loaded while the player is paused.

See also the old closed/lo

[2019-10-18 13:41] ArcherEmiya05 commented on #6555
- OPPO CPH1853 Android 8.1.0
- v2.9.6

`Fatal Exception: java.lang.NullPointerException: Set player using adsLoader.setPlayer before preparing the player.
       at c.h.b.b.y0.e.a(Assertions.java:5)
       at c.h.b.b.p0.a.a.a(ImaAdsLoader.java:25)
       at c.h.b.b.u0.j0.h.a(AdsMediaSource.java:10)
       at c.h.b.b.u0.j0.c.run(:4)
       at android.os.Handler.handleCallback(Handler.java:790)

[2019-10-18 13:52] andrewlewis commented on #6555
I'm not aware of any current issues with this API. You do need to call `ImaAdsloader.setPlayer` before preparing the player instance that's using the loader via its `AdsMediaSource`, as indicated by the error message. #5476 is about fixing the IMA demo app to do this as expected, rather than an issue with the library.

[2019-10-18 14:39] tonihei commented on #6561
Thanks for the suggestion. We considered this (and other variants thereof), but the playback suppression reason is essentially independent of the player state. You can lose audio focus and buffer at the same time and you can just lose focus but be ready for playback. Both may also change independently - one as a result of external changes (i.e. audio focus lost/regained) and one as a result of pla

[2019-10-18 16:49] #6537 closed, assigned to Samrobbo

[2019-10-18 16:54] AquilesCanta commented on #6560
Strange... Would you kindly try the dev version, just to check?

Can you check which receiver app id you are using?

[2019-10-18 17:01] AquilesCanta commented on #6560
@anjaneesh perhaps you can provide some insight here? What information could we use to diagnose what happened?

[2019-10-18 17:12] Samuel-Isirima commented on #6559
I'm playing an mp4 video file. I'm trying to seek randomly for a feature in my project, in quick succession.
[code]
This is what I get on the run Console.

I/art: Background sticky concurrent mark sweep GC freed 1977(82KB) AllocSpace objects, 0(0B) LOS objects, 0% free, 23MB/24MB, paused 993us total 199.149ms
I/art: Background partial concurrent mark sweep GC freed 6340(295KB) AllocSpace objects,

[2019-10-19 01:11] rickyManalo commented on #6539
But it still wasn't fixed as far as I'm concerned. I haven't gotten any help from your team yet. What I just did is a silly excuse of a work-around. I don't even feel good about what I did.

[2019-10-19 05:24] afmsohail opened #6563 "How to store live streams when playing?"
I'm developing a player which playing live streams. I want to put a record button( Record/ pause/ resume/ stop) on it. Behind the scene I want to store video/chunks when it playing if the Recording button state is RECORDING_MODE.  Its like camera recorder but on exoplayer. what player is playing. It doesn't matter if user getting lower quality for his bandwidth. the only thing I want is store the

[2019-10-19 05:27] #6563 closed, assigned to nobody

[2019-10-19 05:32] aisbd opened #6564 "How to store live streams when playing?"
I'm developing a player which playing live streams. I want to put a record button( Record/ pause/ resume/ stop) on it. Behind the scene I want to store video/chunks when it playing if the Recording button state is RECORDING_MODE. Its like camera recorder but on exoplayer. what player is playing. It doesn't matter if user getting lower quality for his bandwidth. the only thing I want is store the c

[2019-10-19 06:50] rickyManalo opened #6565 "What should be the ideal memory consumption of ExoPlayer when playing a certain video?"
### [REQUIRED] Searched documentation and issues
I Googled "ExoPlayer memory consumption/usage" already and nothing useful appeared.

### [REQUIRED] Question
I want to know what is the ideal memory usage when playing a 1.6GB video stream with a data rate of 2150kbps and a total bitrate of 2295kbps. A user said that they can't play multiple video streams on my app. I'm suspecting that it might just

[2019-10-19 07:08] MuthuKrishnanO commented on #6525
[REQUIRED] Searched documentation and issues

I Googled "ExoPlayer FFMPEG" .
[REQUIRED] Question and issues

I extension the FFMPEG decoder but it show the

remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (37/37), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 28 (delta 21), reused 28 (delta 21), pack-reused 0
Unpacking objects: 100% (28/28), done.
From ht

[2019-10-19 12:33] master255 commented on #3058
I found a way to set Audiosessionid to DefaultAudioSink in DefaultRenderersFactory, but then a bug occurs. There is a bug anyway. After playing mkv in 4k using ffmpeg audio decoder, an event arrives that wipes the audio session id. The correct audio session remains in MediaCodecAudioRenderer, but SimpleExoPlayer returns 0. For [example.](http://master255.org/res/%d0%a4%d0%b8%d0%bb%d1%8c%d0%bc%d1%8

[2019-10-19 12:40] master255 commented on #3058
And it’s very wrong to change the audio session. I would like to use one for the entire time using the player. This will reduce the load on the processor and increase the battery life. Is this fundamentally possible?

[2019-10-19 13:13] master255 commented on #3058
A temporary bug fix may be:
SimpleExoplayer.java 1345
add check:  || sessionId < 1
But this does not fix the generation of new audio sessions and the high processor load due to this. This is a very bad practice.

[2019-10-19 19:44] rlissner opened #6566 "Exoplayer doesn't run on Pixel Android 10 on emulator"
Before filing a bug:
-----------------------

When reporting a bug:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Issue description
Exoplayer downloaded yesterday.  Compi

[2019-10-20 03:18] T-10001 opened #6567 "What are the correct MimeTypes for each subtitle format?"
### [REQUIRED] Searched documentation and issues
Searched issues, https://exoplayer.dev/supported-formats.html#standalone-subtitle-formats and https://exoplayer.dev/media-sources.html#side-loading-a-subtitle-file

### [REQUIRED] Question
The table in https://exoplayer.dev/supported-formats.html#standalone-subtitle-formats lists the supported subtitle formats, but only the MimeTypes for 2 of the fo

[2019-10-21 01:14] imfondof commented on #6536
thank you very much!
and it appears a possible fix for this was added in 2.9.2, in a word , thanks!

but the current problem is that my old project can't play with exoplayer above 2.7.0.
I will try to update my project.

thanks!

[2019-10-21 05:25] gokulkalagara opened #6568 "Drm videos not playing in lollipop Widevine “cenc”"
### I'm getting this error.

**ExoPlayerImplInternal: Source error. com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 403**

ExoPlayerImpl: Init 7d4d5e1 [ExoPlayerLib/2.10.4] [generic_x86_64, Android SDK built for x86_64, unknown, 23]

Above Lollipop it's playing below they are not playing

[2019-10-21 06:15] weiyuefei opened #6569 "Why ExoPlayer send so many requests for a single segment?"
I have a Web server which handles requests to media files, e.g. m4s videos. When I use ExoPlayerLib/2.8.2 to access such a file, I can see lots of HTTP Requests (Range and No Range) in my server. The server can handle the requests, but I do not understand why ExoPlayer tries so many request to get a single file.  Here is part of my log file:
![15716242717910](https://user-images.githubusercontent.

[2019-10-21 07:20] imbichitra opened #6570 "Extend to support raw H264 video stream in ExoPlayer"
Hello,
As discussed in previous issue https://github.com/google/ExoPlayer/issues/3503
To work with raw H264 video stream one has to use Ac3Extractor and  make sniff return true and use  H264Reader instead of an Ac3Reader. I did the same but the problem is that when i create H264Reader it require 3 argument and the first argument is SeiReader ,actually i am not able to create an instance of SeiRead

[2019-10-21 08:14] andrewlewis commented on #6570
If you don't need CEA 608/708 support I think you can just pass an empty list to `SeiReader`'s constructor.

[2019-10-21 08:14] #6570 closed, assigned to andrewlewis

[2019-10-21 08:32] Samrobbo commented on #6536
Closing because this seems to be resolved.

[2019-10-21 08:32] #6536 closed, assigned to Samrobbo

[2019-10-21 08:37] Romantic-LiXuefeng commented on #6488
@AquilesCanta  As your said, [issuecomment](https://github.com/google/ExoPlayer/pull/2921#issuecomment-491047481)， whether there is no different to extract Sample from encrypted TS format  or clear TS format.

[2019-10-21 08:53] ojw28 commented on #6525
That looks like an issue compiling FFmpeg. This is most likely unrelated to ExoPlayer, and is probably a problem in your environment's setup or dependencies. I would suggest you read the [FFmpeg compilation guide](https://trac.ffmpeg.org/wiki/CompilationGuide). If you're unable to resolve this issue, you should seek help as suggested in the failure message:

[2019-10-21 08:54] imbichitra commented on #6570
I send an empty SeiReader now it work.
Thank you so much!

[2019-10-21 09:21] matamegger commented on #6348
There are no glitches in the stream itself. We have validated this many times.
Chrome reports a decoder underflow Quick chrome://media-internals

Also by observing the glitches closer and multiple times, one can see that they do not happen on the same position in the content.

[2019-10-21 10:53] ojw28 commented on #6566
This does not reproduce for me. I suspect that you've somehow got an old (e.g. pre-release) version of the emulator system image.

Please attach a bug report as requested in the issue template, which, among other things, would allow us to confirm exactly which version of the emulator system image you're using. It's not correct to state that there's no bug report, since you can capture one whenever

[2019-10-21 11:35] tonihei commented on #6539
Based on the information you provided, it sounds as if you are calling `player.prepare` with `resetPosition=false`. That's potentially why it starts at an unexpected position (or ends immediately) and seeking to zero helps.

[2019-10-21 11:57] tonihei commented on #6559
That still doesn't clarify whether you are playing a local file or over network :)

It would be helpful if you clarify your expectations too. If you are seeking to different positions every 300ms, what do you expect to see for video, or hear for audio? It may be that the seeks are currently overlapping and the player will only show a video frame for last received seek (under the assumption that th

[2019-10-21 12:25] ojw28 commented on #6564
This is not currently supported by the library itself. This is a duplicate of https://github.com/google/ExoPlayer/issues/3877.

[2019-10-21 12:25] #6564 closed, assigned to ojw28

[2019-10-21 12:26] ojw28 commented on #6567
The two that are documented because they're non-obvious. Aren't the others all obvious, from the [ones available](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/util/MimeTypes.html) (or if you just type `MimeTypes.` into Android Studio and then start typing for auto-completion)?

[2019-10-21 12:29] ojw28 commented on #6565
If you want to see what typical memory consumption is like, I suggest you try playing something in the ExoPlayer demo app and simply attach the Android Studio profiler.

It's unclear why you're looking for memory leaks without any evidence of there being one.

[2019-10-21 13:10] imbichitra commented on #6554
As discussed above https://github.com/google/ExoPlayer/issues/6554#issuecomment-543118468 i implement my own AES algorithm that's work fine but the problem is when i drag the seek bar to  forward the video for 10 second or press a button for backward the video 10 second it show below Error (The whole file is AEC encrypted along with header)
[code]

[2019-10-21 14:31] Samuel-Isirima commented on #6559
I am playing a local file from the raw folder.
I expect the video scene for the current position after each seek to render.

[2019-10-21 17:27] krocard commented on #6568
Which scheme is your Widervine CENC content using?
Widevine CENC; “cbcs”, “cbc1” and “cens” schemes are only supported on API 25 and above.

See https://exoplayer.dev/supported-devices.html

If you are using the Widevine CENC; "cenc" sheme, it should be supported on Lolipol. If not so, is the URL of the video public ? If so, could you post it here? Alternatively, email it to dev.exoplayer@gmail.co

[2019-10-21 18:19] AquilesCanta commented on #6568
My 2 cents: We shouldn't get to a 403 if the device is attempting to play a non supported drm scheme, since track selection should detect it beforehand. This is most likely an authentication issue with your app, but it's impossible to say due to lack of information. I'd suggest you provide all information required in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/

[2019-10-21 22:12] asmolich commented on #6569
different byte ranges

[2019-10-21 22:13] rlissner commented on #6566
Thank you for the very quick response.  I don't have adb installed, but
will do so tonight unless I hear from JWPlayer which is also not working.
It's not an old copy of the emulator.

Later I did hear from JWPlayer, they gave me a bunch of suggestions.

Whatever works, I will pass on.

Robert Lissner
4790 Caughlin Parkway PMB 519, Reno NV 89519
775-750-5537 call or text

On Mon, Oct 21, 2019 at 3

[2019-10-22 01:07] #6486 closed, assigned to kim-vde

[2019-10-22 01:09] rickyManalo commented on #6565
For research purposes, kinda like a bench mark. Ok, I'll try that.

[2019-10-22 04:44] gokulkalagara commented on #6568
thanks, @AquilesCanta, but I have a small doubt why it is playing in above lollipop devices

[2019-10-22 05:20] rickyManalo commented on #6539
Man, thanks @tonihei. It worked. After a week, finally got an answer without reasons about stuff not given to them.

[2019-10-22 05:20] #6539 closed, assigned to Samrobbo

[2019-10-22 05:23] tonihei commented on #6559
That probably doesn't work as such because if the seeking takes longer than your delay, the difference between seek and frame display will grow over time.

For example, imagine you issue a seek every 300ms and the seek takes 900ms to complete. Then you get:
time 0: seek (1)
time 0.3: seek (2)
time 0.6: seek (3)
time 0.9: seek (4), display (1)
time 1.2: seek (5),
time 1.5: seek (6)
time 1.8: seek (

[2019-10-22 08:39] marcbaechinger commented on #6544
The `QueueNavigator` has a method `getSupportedQueueNavigatorActions` which returns the actions supported by the queue navigator. If you are using the `TimelineQueueNavigator` it returns the following bitmask by default and if appropriate:

[code]

You can override `getSupportedQueueNavigatorActions` to return 0 to completely disable navigation and still provide the `MediaDescriptionCompat` object

[2019-10-22 09:11] hermasyp opened #6571 "Can't play widevine drm content with demo-cast app"
Hello Exoplayer team, I've been try to play widevine content by adding drm scheme and drm license url to the DemoUtil.java like this.

    samples.add(
        new Sample(
            "https://storage.googleapis.com/wvmedia/cenc/hevc/tears/tears.mpd",
            "Example DRM",
            MIME_TYPE_DASH,
            C.WIDEVINE_UUID,
            "https://proxy.uat.widevine.com/proxy?provider=widev

[2019-10-22 09:15] AquilesCanta commented on #6568
Under the assumption you are using the exact same code and configuration for all android versions, Is it possible that your server is not granting access to the lollipop UserAgent?

It's pretty easy to test this: When creating HttpDataSource.Factory you pass to HttpMediaDrmCallback that you inject in the DefaultDrmSessionManager, use the same user agent you are using in newer android versions. Thi

[2019-10-22 09:17] krocard commented on #6569
Request 1 is not directed to the same server (xx.mn instead of kk.mn)
Request 2 is for audio, not video.
Request 3, 4, 5 seems to be the same file.

[2019-10-22 09:17] krocard commented on #6569
This case seems to be using ProgressiveMediaSource. We normally make a single unbounded request (i.e. no range header) and hold the connection open. However if the user seeks or if the client needs to retry then we'd make an unbounded request starting from the offset we need, which is what the requests in this case look like.

There are some edge cases using ProgressiveMediaSource where we need ad

[2019-10-22 09:24] krocard commented on #6569
Can you tell us more about you testing? Did you seek before capturing those logs?
Also the logs seem to have been corrupted (eg ip address incomplete in some case and not other) can you confirm all those request are from the same client?

[2019-10-22 09:39] ojw28 commented on #6566
If you have a working version of Android Studio then by I'm pretty sure you do have adb installed. As far as I know Android Studio requires you to have an Android SDK installed (at least to do anything useful). And adb is part of the Android SDK (it should be under the `platform-tools` sub-directory).

[2019-10-22 10:11] AquilesCanta commented on #6571
Please try the dev branch and reach back.

[2019-10-22 10:21] hermasyp commented on #6571
hello @AquilesCanta , I try with dev-v2-r2.10.6. same result here. still can't play drm content

[2019-10-22 10:35] hermasyp commented on #6571
sorry, I changed into dev-v2 branch. and the sample works ! may I know when it will release ? @AquilesCanta

[2019-10-22 10:48] AquilesCanta commented on #6571
Not sure, I can't provide any timelines. Maybe @ojw28 can. The summary for this issue is:

If you need the cast extension to play DRM-protected content on 2.10.X, you should use the app id that appears in the [dev-branch's DefaultCastOptionsProvider](https://github.com/google/ExoPlayer/blob/dev-v2/extensions/cast/src/main/java/com/google/android/exoplayer2/ext/cast/DefaultCastOptionsProvider.java)

[2019-10-22 10:48] #6571 closed, assigned to AquilesCanta

[2019-10-22 11:35] gaberoganlingumi commented on #6168
Same problem:
[code]

[2019-10-22 12:04] MuthuKrishnanO commented on #6525
now add the FFmpeg command in terminal .it did not show this pervious message .but it shows the warning message.that  is any problem for Exoplayer extension.
[ffmpeg extension.txt](https://github.com/google/ExoPlayer/files/3755457/ffmpeg.extension.txt)

[2019-10-22 12:29] tipoc123 opened #6572 "Detect DTS changes"
### [REQUIRED] Searched documentation and issues
Search by keyword 'DTS'

### [REQUIRED] Question
How to detect changes in DTS (decoding time stamp)? The listener or something else.

I need this for my other issue https://github.com/google/ExoPlayer/issues/6421

[2019-10-22 12:29] Aastha-dev opened #6573 "Source Error in Some mp4 Video"
Some of the mp4 videos throws this error but other works fine.I have used latest version   implementation 'com.google.android.exoplayer:exoplayer:2.10.6'

2019-10-22 17:44:20.451 27768-28012/com.adwii.android E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor,

[2019-10-22 13:43] xiaos opened #6574 "Exoplayer play without time control."
I am develop video editing by exoplayer.  I need process all the video frames output by exoplayer.

The proess is like this:

exoplayer -> surfaceTexture -> onFrameAvaiable -> process frame ->  swap buffer on encoder's surface.

So i don't need exoplayer to play in real time, just need it output all the frame once decoded.

Is it possible in exoplayer? Thank you.

[2019-10-22 13:55] krocard commented on #6573
Could you please provide one of the video that fails to play?

Additionally are you sure your videos use the mp4  container ? A very common source of UnrecognizedInputFormatException is trying to play HLS content with a ProgressiveMediaSource.
Please take a look at our Troubleshooting guide on `unrecognized input format exception`: https://exoplayer.dev/troubleshooting.html#why-do-some-streams-fai

[2019-10-22 14:07] ojw28 commented on #6572
This is not something we support. As stated in the other issue, the use case seems very unusual. If you really do want to live stream a looping video, then there are multiple standard compliant ways of doing so, including:

* Using HLS with `EXT-X-DISCONTINUITY` tags to indicate where discontinuities are in the stream.
* Using DASH with multiple `Period` elements to indicate where discontinuities

[2019-10-22 14:07] #6572 closed, assigned to ojw28

[2019-10-22 14:57] krocard commented on #6556
This very much looks like a device specific failure. Code 0xffffec77 (-5001) is not defined in Android.

Searching around, I found similar errors:
https://github.com/google/ExoPlayer/issues/5516 and others, see https://github.com/google/ExoPlayer/search?q=0xffffec77&type=Issues
(ERROR_INSUFFICIENT_RESOURCE is 1100, but maybe Samsung has his own error code?)

This is most likely a case where the de

[2019-10-22 15:12] tipoc123 commented on #6572
But I just want to log current DTS (decoding timestamp) value. Do you know where I can find it?

[2019-10-22 15:14] szaboa commented on #6367
Any update on this? This would also help us.

[2019-10-22 15:31] clauskrogholm opened #6575 "Improve time stretching for music"
### [REQUIRED] Issue description
I recently downloaded the demo application, and I am experimenting with time stretching the playback of a local MP3 song on my Samsung Galaxy S10, by setting the PlaybackParams of the SimpleExoPlayer instance.

Even changing the speed by a relatively small amount (e.g. 1.25f) without changing the pitch makes the playback of the song sound awful (a bit hard to expla

[2019-10-22 15:33] clauskrogholm commented on #6575
Perhaps it should be noted that using the SuperpoweredSDK for time stretching the same songs works flawlessly, but I would like to be able to switch to using ExoPlayer in my app.

[2019-10-22 15:56] TheNavigateur opened #6576 "Need a callback for "on just before position discontinuity frame"?"
### Searched documentation and issues
https://exoplayer.dev/playlists.html

### Question
`onPositionDiscontinuity` is dispatched apparently after the first frame of the "next video" is already rendered. I am making a "playlist" of videos whose position on screen and size can change per video. The problem with waiting for the first frame of the next video is that I see the "next video" with the wro

[2019-10-22 15:59] tonihei commented on #6576
We are currently in the process of adding such an event. Marking as an enhancement to track that publicly.

[2019-10-22 17:48] krocard commented on #6575
I can too hear the wobbliness you are mentioning.

Time stretching is handled by the independent Sonic library:
https://medium.com/google-exoplayer/variable-speed-playback-with-exoplayer-e6e6a71e0343
https://github.com/waywardgeek/sonic

Sonic is optimized for speech and for speed higher then 2x, so some artifacts are expected on music at 1.25. We have not updated Sonic for quite some time, so it

[2019-10-22 17:52] krocard commented on #6575
We will use this issue to track a time stretching enhancement.

[2019-10-22 17:53] krocard commented on #6575
Note: updating Sonic might be enough.

[2019-10-22 17:55] clauskrogholm commented on #6575
First of all, thank you very much for the swift follow-up!

Is updating Sonic something I can do myself, or will that be part of an update to ExoPlayer?

Best regards,
Claus

[2019-10-22 22:24] jt64 commented on #4094
Unfortunately we do not control the PlayReady implementation on AndroidTV devices so are not able to diagnose this further. The OEM (Technicolor in this case) integrates PR on the device so this issue must be reported to them.

[2019-10-22 22:36] #4094 closed, assigned to fredgc

[2019-10-23 08:22] rickyManalo commented on #6565
Just want to share my observation. After about 10 minutes of playing a DASH H264 720p 8000kbps using the demo app, the total memory usage got an average of 99MB. Closing PlayerActivity just made the memory usage go down to 93MB (93.1MB to be exact).

On my app, after playing a 1080p 1.6GB video stream with a data rate of 2150kbps and a total bitrate of 2295kbps for 10 minutes as well, the total me

[2019-10-23 09:19] andrewlewis commented on #6548
I'd probably try not calling `updateTexImage` each time you need to update the output. I think it should only be called once per `onFrameAvailable` callback from the `SurfaceTexture`. Having called `updateTexImage` once you should be able to copy from the texture multiple times.

[2019-10-23 09:23] andrewlewis commented on #6574
#3978 has some information on subclassing the video renderer to prevent frames from getting dropped, to do this kind of batch processing.

[2019-10-23 09:23] #6574 closed, assigned to andrewlewis

[2019-10-23 09:28] krocard commented on #6575
Improving time stretching is currently not on our short to midterm roadmap.
Feel free to submit a pull request. https://github.com/google/ExoPlayer/library/core/src/main/java/com/google/android/exoplayer2/audio/Sonic.java needs to be updated with https://github.com/waywardgeek/sonic/blob/master/Sonic.java.

[2019-10-23 09:31] krocard commented on #6575
Note that this is not a trivial update, we have made a few modification to the Sonic.java after coping it from waywardgeek.

[2019-10-23 10:16] T-10001 commented on #6567
So
[code]
would be right?

[2019-10-23 10:16] TheNavigateur commented on #6576
Thank you. However, is it easy to do myself, for the time being, as I need it urgently? I have local exoplayer source code working in my project. I will attempt to do so anyway, so any advice would be appreciated

[2019-10-23 10:27] #6556 closed, assigned to krocard

[2019-10-23 10:57] GouravSna commented on #6203
Hi @ojw28 ,

I implemented `public void onPlaybackSuppressionReasonChanged(int playbackSuppressionReason)` in my app code and tried to see in which cases we will get the audio suppression. We did a phone call and picked the call then i could see that i did not get any suppression reason.

On the other hand, i tried keeping the logs in exoplayer demo app (v2.10.6) in `ExoPlayerImpl` in `setPlayWhen

[2019-10-23 10:58] Samrobbo commented on #6554
Hi,

If possible, can we have a lot more information on what is happening.

We need information about what media you are using, what code is causing the problem etc.

Please provide complete information as requested [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exopl

[2019-10-23 11:15] ojw28 commented on #6565
Thanks!

[2019-10-23 11:15] #6565 closed, assigned to ojw28

[2019-10-23 11:19] ojw28 commented on #6203
Did playback resume automatically after the call ended, or did it remain stopped? I'm not sure, but this may depend on which dialer app you're using.

We currently only notify playback suppression for the "resume automatically" case when `playWhenReady` remains true. For the permanently stopped case when `playWhenReady` is toggled to `false`, we do not currently propagate a reason. This is work th

[2019-10-23 11:39] GouravSna commented on #6203
Yes, the playback resumes automatically when call ends. I am using Nokia 6.1 Plus, it has stock android and i don't think that it uses any much modified dialer app.

You can see the following eventlogger logs

[code]

[2019-10-23 11:46] ojw28 commented on #6203
There's no `EventLogger` logging for playback suppression in `2.10.6` (see the [source code](https://github.com/google/ExoPlayer/blob/r2.10.6/library/core/src/main/java/com/google/android/exoplayer2/util/EventLogger.java)). There is logging added in the `dev-v2` branch (see the [source code](https://github.com/google/ExoPlayer/blob/36f8bd78f749dbc1745147c882b7a606a0a880fb/library/core/src/main/jav

[2019-10-23 11:49] ojw28 commented on #6567
Yes. I guess we should just explicitly list them all in our documentation regardless, to avoid doubt. We will do that. Thanks!

[2019-10-23 11:51] GouravSna commented on #6203
Thanks @ojw28 . I will check the code and `setAudioAttributes` code.

[2019-10-23 12:22] ojw28 commented on #6572
It's not something that we really intentionally expose anywhere. You might be able to inject a custom `TimestampAdjuster` into a `TsExtractor` to intercept (and possibly even correct) the timestamps. This is not something we can provide detailed guidance on however.

[2019-10-23 12:56] ArcherEmiya05 commented on #6555
So what exactly the issue with this I am calling it like this.

`if (adsLoader == null)
                adsLoader = new ImaAdsLoader(this.context, adsUri);`

            adsMediaSource = new AdsMediaSource(mediaSourceBuilder.getMediaSource(), mediaSourceBuilder.getDataSourceFactory(), adsLoader, playerView);

            playerView.setPlayer(player);
            adsLoader.setPlayer(player);

[2019-10-23 13:20] ArcherEmiya05 opened #6577 "ImaAdsLoader.java line 1433"
## [REQUIRED] Issue description
Still don't wanna be so sad and disappointed with all bug report that I made long time ago until now with this library and its stability issue :( All of a sudden got this error on one of my device when playing a video using ExoPlayer with IMA SDK. This never happens before though. I think it is pointing with WebView. Is IMA SDK using webview to show/load ads?

### [

[2019-10-23 13:27] andrewlewis commented on #6577
Yes, the IMA SDK uses WebView internally (as I understand it, its core functionality is implemented in JavaScript).

I will look into this and follow-up soon.

[2019-10-23 13:29] andrewlewis commented on #6577
Just a guess: are you using androidx.appcompat 1.1.0? If so maybe https://issuetracker.google.com/issues/141351441 is relevant.

[2019-10-23 13:32] ArcherEmiya05 commented on #6526
`
I/ExoPlayerImpl: Init 2644d68 [ExoPlayerLib/2.9.6] [m253, LG-K430, LGE, 23]
I/AudioManagerEx: AudioManagerEx created
I/WebViewFactory: Loading com.google.android.webview version 73.0.3683.90 (code 368309000)
I/cr_LibraryLoader: Time to load native libraries: 1 ms (timestamps 581-582)
I/chromium: [INFO:library_loader_hooks.cc(50)] Chromium logging enabled: level = 0, default verbosity = 0
I/cr_Li

[2019-10-23 13:35] ArcherEmiya05 commented on #6577
Yes yes 1.1.0

[2019-10-23 13:39] ArcherEmiya05 commented on #6577
The device I am using is just a clone which most likely a china refurbish software type, I am also facing issue when using a WebView with it as it does not come with WebView by default so app crash when trying to use it. But again and again I am wondering why I only get this crash today not from the very beginning? This SO might prove the problem with WebViews too with Lollipop
**[https://stackove

[2019-10-23 14:10] andrewlewis commented on #6577
I'd try downgrading to androidx.appcompat 1.0.0 if you have that option, based on the report in https://issuetracker.google.com/issues/141351441.

[2019-10-23 14:29] AquilesCanta commented on #6572
I think the better way would be injecting your own `PesReader` using `TsPayloadReader`.

I don't think the timestamp adjuster differentiates between PTS and DTS (could be wrong).

[2019-10-23 15:56] ArcherEmiya05 commented on #6577
Thank you for quick response now I am somehow still facing the error on this Lollipop device even downgrading my appcompat to 1.0.0

[2019-10-23 15:57] tonihei commented on #6576
You need to send this before the playbackInfo is updated [here](https://github.com/google/ExoPlayer/blob/41b3fc110178e9a5c969a0102c5b074189065273/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L730). No guarantees though about unexpected edge cases, we need to check that first.

[2019-10-23 16:12] ArcherEmiya05 commented on #6577
Just another supporting detail these is where the crash start on ExoPlayerManager.java:269
`adsLoader = new ImaAdsLoader(this.context, adsUri);`

[2019-10-24 01:08] #6450 closed, assigned to AquilesCanta

[2019-10-24 11:33] noamtamim commented on #5804
Widevine CAS is now GA and the integration docs are published:
- [Client](https://storage.cloud.google.com/wvdocs/Widevine_CAS_Device_Integration_Guide.pdf)
- [Server](https://storage.cloud.google.com/wvdocs/Widevine_CAS_Server_Integration_Guide.pdf)

Is there a plan to implement CAS support in ExoPlayer in the near future?

**EDIT:** access to these docs is restricted to CWIP licensees.

[2019-10-24 11:36] AquilesCanta commented on #5804
I don't have access to those docs. If you can grant that, that would be great. I will also try to contact widevine on my side.

[2019-10-24 11:43] noamtamim commented on #5804
Sorry, I was under the impression that they don't need authorization because the links are published in the public-facing page https://www.widevine.com/news.
I guess I can only access them because I'm logged in to my CWIP-enabled Google account. Unfortunately this means that I can't upload them here because it will probably violate the CWIP terms.
However, I'm pretty sure that since they put the l

[2019-10-24 12:23] matheusbrandao commented on #6544
This works to disable or enable features.

What I wanted was not to show the next and previous buttons. But it didn't go away with your suggestion.

[2019-10-24 14:25] andrewlewis commented on #6526
The logging in your previous comment looks okay (I don't think it indicates a problem).

I haven't heard about problems with the IMA SDK after a long period of use. One thing that might help track down what's going on is if you could set `ImaAdsLoader.DEBUG` to true then replicate the issue where playback gets stuck, run `adb bugreport` and send us the resulting bug report at `dev.exoplayer@gmail.

[2019-10-24 15:05] Samrobbo commented on #6554
Hi

To allow for seeking when using your own decryption algorithm, you need to support random access. After digging into this deeper, I believe your decryption algorithm may not account for this. Looking into [AesFlushingCipher](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/crypto/AesFlushingCipher.html) may assist your understanding.

The main reason I'm assuming this

[2019-10-24 16:10] tipoc123 commented on #6572
@AquilesCanta, thank you so much!

[2019-10-24 19:43] roundsmapp commented on #4924
I'm still working on this. The latest ExoPlayer version is 2.10.5. Is that correct?

[2019-10-25 00:16] xiaos opened #6579 "onTimelineChanged() called after the 2nd renderered"
I am using exoplayer with ConcatenatingMediaSource to play 2 videos, output to SurfaceTexture.
I found that when the onTimelineChanged() is called, the 2nd video is rendered already with 1 frame.
I am expecting onTimelineChanged() is called before any 2nd video frame rendered, any idae? thanks.

[2019-10-25 00:20] tonihei commented on #6579
The `onTimelineChanged` callback is issued when the media structure in the `Timeline` is updated. This is unrelated to the actual rendering process and more connected to the loading process. What are you trying to achieve with this callback? Maybe we can point out other callbacks that are better suited for what you are trying to do.

[2019-10-25 03:58] xiaos commented on #6579
thanks for yr reply.

i output the video to surfaceTexture.

in onFrameAvailable()

I will process each frame, but i need to know when the video changed, to get the new video size for my processing.

thanks!

[2019-10-25 09:26] BuiVanNam opened #6580 "Error: ExoPlaybackException OutOfMemoryError when play .mkv local file."
- ExoPlayer version: 2.10.6
- OS: android 9.0

Hi Dev team, I play file mkv from local (size 3840*2160 - 30s - 679MB), when play to 10s -> OutOfMemoryError

[code]

Please help me re-check and resolve this issue. Thanks so much!

[2019-10-25 10:36] luiscurini opened #6581 "Webvtt subtitles and embedded colouring."
Hi , I'm using exoplayer 2.10.6

Is there a way to enable embedded subtitle colouring in Webvtt subtitles? For example:

[code]

Bold, italics and underline Tags works but dynamic colouring doesn't.

[2019-10-25 11:40] loki666 opened #6582 "CastPlayer should report Shuffle is disabled"
### Use case description
When switching from ExoPlayer to CastPlayer, I have an UI inconstancy on the Shuffle state when ExoPlayer was shuffle enabled.
The UI is still reporting that CastPlayer queue is shuffled.

### Proposed solution
in CastPlayer::updateInternalState() add something like
`notificationsBatch.add(new ListenerNotificationTask(listener -> listener.onShuffleModeEnabledChanged(false)

[2019-10-25 12:31] AquilesCanta commented on #6582
I don't really see how this can happen.

CastPlayer doesn't currently support shuffle mode. Plus player control view seems to update the button state accordingly. The notification is not necessary because it should never change.

Can you state exactly what's going on? Perhaps provide a set of minimal changes to reproduce in the demo app?

[2019-10-25 12:41] ojw28 commented on #6552
Assigning to @andrewlewis for the UI question.

[2019-10-25 13:05] loki666 commented on #6582
maybe I should have added that I'm using the mediasession extension.
My UI is observing the MediaController shuffleMode.

When i switch from ExoPlayer (with shuffle enabled) to CastPlayer, the shuffleMode of the MediaController is not set to false, because CastPlayer doesn't report it through the onShuffleModeEnabledChanged() method

[2019-10-25 14:29] icbaker commented on #6581
Thanks for the report, I agree color (and font) styling doesn't seem to work in WebVTT currently.

Seems these are the relevant bits of the spec:
https://www.w3.org/TR/webvtt1/#default-text-color
https://www.w3.org/TR/webvtt1/#default-text-background

Marking this as an enhancement.

This is also tracked internally under issue 143200233.

[2019-10-25 14:46] luiscurini commented on #6581
Thanks!

I got the colouring working by embedding the styles into the webvtt file. So it'd be something like this:

[code]

But it would be a nice enhancement to support the default styles or give the possibility to provide a CSS file with the styles.

[2019-10-25 14:53] tonihei commented on #6582
Looks as if the shuffle mode (`mediaSessionCompat.setShuffleMode`) needs to be reset when changing player implementations.

[2019-10-25 15:32] STStudio opened #6583 "On Android 9.0+ Not Working!"
I tried (1.5.11 - 2.8.8) all versions not working.

Have any solution ?

Thanks.

[code]

[2019-10-25 18:43] ssenanayake opened #6584 "Are Amazon FireOS devices now supported in Google Exo ?"
### [REQUIRED] Searched documentation and issues
Looked in forums, and release notes. Just needing confirmation since Amazon is again planning on porting 2.10.6.
Google Exo 2.8.3 indicates "Improved compatibility with FireOS"

### [REQUIRED] Question
Are Amazon FireOS devices now supported in Google Exo ? Amazon hasn't ported Google Exo since 2.10.1 and the test FireOS devices that we tested Googl

[2019-10-26 03:10] learnyst opened #6585 "Exoplayer play offline files"
### [REQUIRED] Searched documentation and issues
Tell us where you’ve already looked for an answer to your question. It’s
important for us to know this so that we can improve our documentation.

_I have searched in exoplayer docs and also in stackoverflow. Also checked some of the issues raised_

### [REQUIRED] Question

_We are using DASH for adaptive streaming. Our users can download the DASH st

[2019-10-26 03:30] JiannaiJ opened #6586 "How can I use SPDIF Passthrough in exoplayer"
I read the issues #2148,  but I can't create this feature exactly.  My Android Projector support SPDIF Passthrough to amplifier, use Kodi player to verify this function. I need to force audio to pass through the SPDIF to the amplifier, not the HDMI.

  I've tried many ways, but I can't always achieve this function, and there is little information on the Internet.I hope someone can tell me how to i

[2019-10-26 10:50] GentianB opened #6587 "Subtitles are not shown with leanback extension enabled"
Hi,

i am using leanback-extension on exoplayer 2.10.5,

if i use exoplayer without leanback extensions dvbsub subtitles are shown,

when i use leancback extension, subtitles are not shown.

i search and found issue: #3985 and i followed that guide but with no success, seems i can not pass a valid **subtitleView** to the **LeanbackPlayAdaptor**.

is there any other way,
I see from the logs that cu

[2019-10-27 08:51] Hiwensen opened #6588 "Crash when using CacheDataSource"
### [REQUIRED] Issue description
Thanks for developing such a great app, I learned a lot from it.
But now I suffered a crash with it after using the `CacheDataSource` and related class

This is the code I use for adding cache for player:
[code]

### [REQUIRED] Reproduction steps
This is an occasional crash. I haven't reproduced this crash yet, but from the crashlytics of the fabric, more than 600

[2019-10-27 09:02] jakoss commented on #6583
Please define "not working". You don't call `_player.PlayWhenReady = true;` in your `Play()` method. So this will never play, on any android version

[2019-10-27 15:23] mrj976 opened #6589 "Simplify/allow selection of multiple renderers of the same type in DefaultTrackSelector."
I want play multi sound in same time(simultaneously) in exoplayer but it only play mediaSource1 and mediaSource2. I want play all mediaSources at the same time(simultaneously)

My code with exoplayer is:

     Uri uri1 = Uri.parse(videopath);
     Uri uri2 = Uri.parse(audio_a.getAbsolutePath());
     Uri uri3 = Uri.parse(audio_b.getAbsolutePath());
     Uri uri4 = Uri.parse(audio_c.getAbsolutePath

[2019-10-27 17:01] szaboa commented on #6320
I'd like to contribute on this if it's ok.

I've already parsed and applied the position attributes, commit:
https://github.com/szaboa/ExoPlayer/commit/579167743bd7677506c8fe7c318fc443f2fb6eb8

Regarding the overlapping issue, I am not sure what change is needed, a hint would be great. I was thinking about changing `com.google.android.exoplayer2.text.ssa.SsaSubtitle#getCues` or it is too late at t

[2019-10-28 08:49] GentianB commented on #6587
There was a problem with my subtitleView, after fixing it, the subtitle appeared.
anyway i think the above must be included by default on the leanback playadaptor.

[2019-10-28 08:49] #6587 closed, assigned to ojw28

[2019-10-28 09:30] luning-l opened #6590 "player local video failed!"
hi , we have this error while running local video  on android api 17,but on another android api 17 no problem. how can we fix it ?
thanks!

MediaCodec: Codec reported an error. (omx error 0x80001001, internalError -2147483648)
01-01 02:11:31.868 1494-1632/com.hdl.m3u8demo E/ExoPlayerImplInternal: Internal runtime error.
    java.lang.IllegalStateException
        at android.media.MediaCodec.queueI

[2019-10-28 09:42] MustafaBasim commented on #6587
hi @GentianB
can you please upload a full example of how you managed to show the subtitles, I simply couldn't pass the SubtitleView to the LeanbackPlayerAdapter class nor extend it, I did merge the subtitle source with the video source already.

If you want to see my code I did open an issue here [Subtitles are not displaying](https://github.com/android/tv-samples/issues/6)

thanks in advance

[2019-10-28 10:09] GentianB commented on #6587
you declare this inside activity_playback.xml

<com.google.android.exoplayer2.ui.SubtitleView
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/exo_subtitles"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:layout_gravity="bottom|center_horizontal"
    android:layout_marginBottom="32dp"
    android:layout_marginLeft="16

[2019-10-28 10:19] MustafaBasim commented on #6587
I did try that, but the LeanbackPlayerAdapter does not accept the fourth parameter ( subtitleView ) in its constructor, I'm using the 2.8.4 exoPlayer library, I did check the 2.10.5 and it also has the same issue.

I'm importing it from:
import com.google.android.exoplayer2.ext.leanback.LeanbackPlayerAdapter

[2019-10-28 10:25] GentianB commented on #6587
You should extend it like this inside LeanbackPlayeradaptor

public LeanbackPlayerAdapter(Context context, Player player, final int updatePeriodMs, SubtitleView subtitleView) {

    this.context = context;
    this.player = player;
    this.updatePeriodMs = updatePeriodMs;
    this.subtitleView = subtitleView;
    handler = new Handler();
    componentListener = new ComponentListener();

    contr

[2019-10-28 10:55] ojw28 commented on #6320
Reassigning to @icbaker for subtitles ownership. @szaboa - I think we could probably accept a pull request for all (or part) of this, depending on timeline.

[2019-10-28 11:00] tonihei commented on #6320
`Subtitle.getCues` can return multiple cues at the same time. So it should be possible to update the subtitle whenever the content or the number of cues changes. That means a single cues may occur in multiple subtitles if another cue is added or removed.

[2019-10-28 11:56] HQLIE2018 opened #6591 "When playing audio in AAC format, calling getDuration() does not get the total duration."
When playing AAC format audio, calling getDuration() does not get the total duration, and calling seekTo() is also invalid. The version is 2.9.4. How can I solve this problem?

[2019-10-28 12:23] marcbaechinger commented on #6544
Are you are saying that both, removing the ACTION_SKIP_ actions in the `MediaSessionConnector` and disabling the skipping in the `PlayerNotificationManager` did not remove the skip forward/backward buttons on the lockscreen?

For which device does it work and for which does it not work?

[2019-10-28 12:24] krocard commented on #6584
From: https://exoplayer.dev/supported-devices.html

[2019-10-28 12:25] marcbaechinger commented on #6498
Closing due to lack of activity.

[2019-10-28 12:25] #6498 closed, assigned to marcbaechinger

[2019-10-28 12:26] marcbaechinger commented on #6346
Closing due to  lack of activity. Please reopen if needed.

[2019-10-28 12:26] #6346 closed, assigned to marcbaechinger

[2019-10-28 12:29] marcbaechinger commented on #6328
Closing due to lack of activity.

[2019-10-28 12:29] #6328 closed, assigned to marcbaechinger

[2019-10-28 13:20] matheusbrandao commented on #6544
In fact what is happening:
- API 26 and below show no controls on the lock screen, only notifications.
- In API 28 shows the controls in the notifications and in addition another controller in the lock screen. This one from the lock screen I can't get out of. I am testing on a samsung A8. Through `MediaSessionConnector` I was only able to disable the buttons but not hide them.

Below are images as

[2019-10-28 15:38] andrewlewis commented on #6577
Please see https://issuetracker.google.com/issues/141351441#comment6. Is your app doing anything special with resources?

[2019-10-28 15:49] ArcherEmiya05 commented on #6577
What do you mean by anything special with resource?

[2019-10-28 15:51] ArcherEmiya05 commented on #6577
**UPDATED:** The apps works fine before but no idea why is it no longer playing and crash. Maybe because of updating some dependencies which I can't point out to what possible dependency that causing this issue until now. Before it never gets crash only now and still error with `String resource ID #0x2040003`
as far as I know this kind of error happens when you put `accidentally an int value like

[2019-10-28 18:31] krocard commented on #6584
It's hard for us to officially support it because we have no control over the underlying platform.

That said, we encourage developers to use our version if it works for them. The Amazon fork is basically identical except for 8 changes they patch on top (https://github.com/amzn/exoplayer-amazon-port/commits).
Those patches are features most apps do not need, or are non-functionial changes (e.g. "c

[2019-10-28 18:31] #6584 closed, assigned to krocard

[2019-10-29 07:50] MustafaBasim commented on #6587
thanks for your help @GentianB
I was extending the LeanbackPlayeradaptor itself, which was wrong
I extended the PlayerAdapter and added the needed code from your sample, it worked.

[2019-10-29 10:03] w4901 opened #6592 "Cannot play pure audio stream in flv format"

[2019-10-29 11:30] TheNavigateur commented on #6576
Hi tonihei! Before I insert code there, are you 100% sure, as it would seem "too late", as the first frame would already be drawn by the time of that code (in the case of a position discontinuity)?

[2019-10-29 12:01] tonihei commented on #6576
This callback would not be tied to the actual rendering. Actually, none of our callbacks are because they are delivered on a different thread, that's why there can't be any guarantee of how far rendering has advanced when a callback arrives.

The intention of this callback would just be to allow apps to know the position and state of a player before a discontinuity, so that it can be logged for an

[2019-10-29 12:40] TheNavigateur commented on #6576
Yes!

My video playlist has different video sizes and positions on screen per video.

The "callback" is for me to make the "switch layout" request _before_ the first frame of the next video is rendered, so that each video is always shown in its intended position and size. Currently, the first frame of the next video is rendering on the "current" layout, where it doesn't belong, and I cannot get an

[2019-10-29 13:10] tomislavturcic opened #6593 "AudioTrack: Discontinuity detected when switching from 44.1KHz/24bit to 16bit track"
###  Issue description
Using ConcatenatingMedia to play FLAC tracks, an issue appears when switching from 24bit to 16bit source. The 16bit source is overlayed with static and noise. The issue persists when switching to other 16bit sources. Static is gone once we switch to a 24bit source or reset the player.
This only happens for sources that have a sample rate of 44.1KHz.
During the static, follow

[2019-10-29 13:29] TheNavigateur commented on #6576
Hi @tonihei !

OK, so I have a `VideoFrameMetadataListener` with the `onVideoFrameAboutToBeRendered` method...

Do you have any idea how I would detect that this "video frame" is the "first frame of the next video"?

I can confirm that both the position discontinuity and "before player info update" happen after that first frame is already rendered (so too late).

I am able to edit the source code

[2019-10-29 14:25] rafakob commented on #4133
Hello!
Is there somewhere a work-in-progress branch? I'm implementing server side DAI for live DASH streams (multi period). When player is switching from advert period (non DRM) to content period (DRM Widevine) I can see a short buffering (around 1 sec).

Time is of the essence here and I'm wondering how I could fix that by myself. Could you give me possible solutions or point me into right direct

[2019-10-29 15:55] ArcherEmiya05 commented on #6555
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.app, PID: 1009
    java.lang.NullPointerException: Set player using adsLoader.setPlayer before preparing the player.
        at c.h.b.b.y0.e.a(Assertions.java:130)
        at c.h.b.b.p0.a.a.a(ImaAdsLoader.java:587)
        at c.h.b.b.u0.j0.h.a(AdsMediaSource.java:220)
        at c.h.b.b.u0.j0.c.run(lambda)
        at android.os.Handler.hand

[2019-10-29 17:15] hkim2013 opened #6594 "Player unable to play 720p & above MP4 files on API 19 devices"
### [REQUIRED] Issue description
I am unable to play 720px and 1080px MP4 files, but I can play everything else on the Android API 19 device. We are currently using Exoplayer v2.9.0, however we cannot update because the issue still persists in Exoplayer v2.10.6.

[code]

### [REQUIRED] Reproduction steps
1. Open this project
2. Run "demo" module on Android API 19 device / emulator
3. Play **Testin

[2019-10-29 17:47] andrewlewis commented on #6577
The bug I linked to says mentions that wrapping resources is not supported. I'm not sure exactly what this means but it sounds like the issue is caused by the app's behavior and can't be fixed in appcompat itself, so I suggest checking how your app handles resources.

As another datapoint, I wasn't able to reproduce this issue on an Android L emulator image using the demo app and with a dependency

[2019-10-29 17:57] tonihei commented on #6576
That's not part of this listener unfortunately. The easiest way I can see right now is to subclass `MediaCodecVideoRenderer` and overwrite `onStreamChanged` (don't forget to call super). This method gives you the streamOffset when a new stream starts (including the first one). You can inject your own renderer version by overwriting `DefaultRenderersFactory.buildVideoRenderers` and providing this f

[2019-10-29 18:03] szaboa commented on #6320
@tonihei

Let's say we have overlapping subtitles like this:
00:00:04 - 00:00:07 - "First subtitle"
00:00:05 - 00:00:08 - "Second subtitle"

cueTimes will be [4000000, 7000000, 5000000, 8000000]
cues will be ["First subtitle", EMPTY, "Second subtitle", EMPTY]

The first problem is that currently the `TextRenderer` after taking the first cue, it will wait until 7000000, because that will be returne

[2019-10-29 18:07] tonihei commented on #6320
The cues for your example should be:
cueTimes: [4000000, 50000000, 7000000, 8000000]
cues: [List("First subtitle"), List("First subtitle", "Second subtitle"), List("Second subtitle"), List()]

If you send the data in this format, the TextRender should be happy I think.

[2019-10-29 21:13] #6594 closed, assigned to andrewlewis

[2019-10-29 22:54] szaboa commented on #6320
Following the approach you described it seems to be working fine. I've created a pull request to make it easier to show the diffs.

What do you think about the proposed solution? It can be optimized?
I plan to write a couple of unit tests once we get a final solution.

[2019-10-30 02:51] Baaaaatz opened #6596 "Partial content gives me Response codes 503 and 502"
My server is returning me a partial content for our video streaming and every time i get the partial content it returns me an error but when I'm getting the plain video from sa files it plays but not as chunk. We want to achieve it as chunks. Thank you so much!

[2019-10-30 03:42] #6596 closed, assigned to nobody

[2019-10-30 04:59] GouravSna commented on #6429
With respect to the breaking changes, Is the latest ExoPlayer(2.10.6) compatible with IMA 3.16.0 ?

[2019-10-30 07:21] cle-bo commented on #6527
Hey @christosts thanks a lot! I followed the idea of treating the ads as regular content and that was a big step in the right direction I think.
But since I have to schedule 24 hours with clipped media sources and ads as regular media sources in a playlist I came to the conclusion that this is too static. So I tried to have two player and one player view. In one player, the content player, I play

[2019-10-30 08:12] andrewlewis commented on #6594
It's likely that the emulator doesn't support the video format you're trying to play. In particular, I think the official emulator only supports H.264/AVC Baseline profile before API 23. See also [Supported devices](https://exoplayer.dev/supported-devices.html).

If you can reproduce this on a real device and the video format is supported according to the [CDD](https://source.android.com/compatibi

[2019-10-30 09:20] TheNavigateur commented on #6576
Hi @tonihei !

Thanks, I will try this approach now.

I'm using OpenGL so the frame layout approach wouldn't work for my case.

I'll let you know how I get on.

[2019-10-30 09:36] Sathish-Kumar-Kanagaraj opened #6597 "How to implement a base player ,while leaving from the video screen like picture in picture with video title ,seek ,pause ,play and close options in it"
1)How to implement a mini-player like youtube while leaving from the main screen of the video, Need to be displayed with the video content, title, and other needed options in the base of home page.
2)I have used Picture in Picture Mode but it supports only in the latest version of the android device from oreo.
3)How to implement same like a youtube mini-player in the base view of home page

[2019-10-30 09:40] tonihei commented on #6320
Thanks for updating the pull request! @icbaker will have a look at the details I think.

[2019-10-30 10:17] tvanlaerhoven opened #6598 "Video freeze with OMX.amlogic.avc.decoder.awesome.secure codec"
### [REQUIRED] Searched documentation and issues
I checked previously closed issues concerning freezing video.
[#926](https://github.com/google/ExoPlayer/issues/926), [#678](https://github.com/google/ExoPlayer/issues/678)

### [REQUIRED] Question
Play-out of a Widevine drm-protected dash live stream on an Askey AndroidTV box freezes after a few seconds, audio continues. Disabling the OMX.amlogic.a

[2019-10-30 10:34] okycelt opened #6599 "Synchronize delayed subtitles stream with audio/video stream in MPEG-TS"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/
#6365

### [REQUIRED] Question
We were given a transport stream in which a subtitles elementary stream has PES timestamps several hours delayed from timestamps of a video elementary stream and an audio elementary stream. Because of that, ExoPlayer just throws the subtitle packets away. In theory, is there a way for us to adjus

[2019-10-30 10:50] muganda commented on #6524
In the end I asked my streaming service provider to change something about the format. All is well now.

[2019-10-30 10:59] ojw28 commented on #6524
Thanks for the update! I will mark this a low priority enhancement. In practice this means we'll probably ignore it until at least the point when someone else asks for it and is able to provide test content.

[2019-10-30 11:34] ojw28 commented on #6567
Fixed at https://exoplayer.dev/supported-formats.html.

[2019-10-30 11:34] #6567 closed, assigned to ojw28

[2019-10-30 11:41] tonihei commented on #6579
That sounds a bit like the problem described in #6576. Can you read through the discussion there to see if it helps?

[2019-10-30 13:00] udaisubramaniam opened #6600 "How can we check if the controller is visible?"
### Issue description
There's currently no way to check if the playback controls are visible or not. This seems to have been fixed in a past issue (https://github.com/google/ExoPlayer/issues/4385), however it's not there anymore. How can it be done now?

### Reproduction steps
No method present for checking control visibility.

### [REQUIRED] Version of ExoPlayer being used
2.7.3

### [REQUIRED] D

[2019-10-30 13:05] tonihei commented on #6600
The method is still there: https://github.com/google/ExoPlayer/blob/41b3fc110178e9a5c969a0102c5b074189065273/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java#L809

[2019-10-30 13:38] loki666 commented on #6582
looks good

[2019-10-30 13:52] andrewlewis commented on #6429
It is not compatible, I'm afraid.

We do have a pending change ready to go that will update the IMA extension to the latest version, but this also depends on a change in behavior of the JavaScript component of the IMA SDK that has not fully rolled out yet.

Sorry for the inconvenience. This only affects our usage because we rely on the preloading feature of the IMA SDK. Once the JavaScript change

[2019-10-30 13:59] udaisubramaniam commented on #6600
My bad, it was a versioning issue. I was on 2.7.3 on which this change wasn't there. Thanks for the help.

[2019-10-30 13:59] #6600 closed, assigned to tonihei

[2019-10-30 14:01] #6593 closed, assigned to nobody

[2019-10-30 14:01] tomislavturcic opened #6601 "Noise when playing FLAC content"
### Question
Initially this was opened as a bug [here](https://github.com/google/ExoPlayer/issues/6593), but after much further investigation, it appears to be an error on my client or server side.
Using ConcatenatingMedia and a MediaSources which are a mix of 16bit and 24bit music tracks, static and noise appear when switching from certain 24bit sources to 16bit sources. This happens when switchi

[2019-10-30 14:08] christosts commented on #6527
There are many possibilities that a two-players approach will **not** work (more details in this [issue](https://github.com/google/ExoPlayer/issues/1286#issuecomment-200854838)). In short, two players will try to acquire two sets of codecs from the system which is not guaranteed to work. I would not recommend it (more reasons explained below).

When you say that the concatenating media source solu

[2019-10-30 14:10] andrewlewis commented on #4924
As of today 2.10.6 has been released. You can check by looking at the [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md).

[2019-10-30 14:24] tonihei commented on #6527
This problem will also be simplified when the final version of #3163 is released. This will allow you to update the clipping dynamically:

start playback with:
[code]

as soon as you know the position of an ad break:
[code]
And once the ad is finished, you can remove the previous part of the playlist by calling
`ConcatenatingMediaSource.removeMediaSource(...)`.

The feature tracked by #3163 will a

[2019-10-30 14:27] hkim2013 commented on #6594
@andrewlewis thank you for still responding and providing the explanation. I read your other ticket responses and I double-checked as you suggested with a physical device, it worked as expected.

[2019-10-30 14:58] ebr11 opened #6602 "Video stutter/lag with DD+ 7.1 audio track on Shield"
### [REQUIRED] Issue description
When playing an item with a 7.1 DD+ (EAC3) audio track, the video lags and stutters badly.

### [REQUIRED] Reproduction steps
Play an item with a DD+ 7.1 audio track on the Nvidia Shield.  I will send a sample.

### [REQUIRED] Link to test content
Will send.

### [REQUIRED] A full bug report captured from the device
Will send.

### [REQUIRED] Version of ExoPlayer b

[2019-10-30 16:30] TheNavigateur commented on #6576
Hi @tonihei !

I've been struggling, but now things seem OK so far.

`onStreamChanged` is called too early to be used directly for my use case, in fact earlier than the frame even _before_ the first frame of the "next video", which means I can't even use it directly to set e.g. a boolean for "the next `onVideoFrameAboutToBeRendered `", etc.

However, it turns out a really simple approach is workin

[2019-10-30 16:58] tonihei commented on #6576
That's correct `onStreamChanged` will be called earlier. That's why you need to store the offset time from the parameter to make use of it.

That isn't strictly guaranteed for all cases. If we can keep the MediaCodec because the video format is compatible to the previous one, the presentation times will just continue to increase monotonically. That's why the onStreamChanged offset that tells you a

[2019-10-30 20:05] seanvi24 commented on #4133
Hello, Do you have a date estimate of when the update will be committed? Thank you.

[2019-10-30 23:13] bjitivo commented on #4352
This is caused by the fact that ExoPlayer calls into MediaCodec.setVideoScalingMode() directly from its OnFrameRenderedListener() callback.  The Android stagefright library has a bug where it holds a lock while calling back onFrameRenderedListener callbacks.  I believe it is a bug for any component to hold a lock while calling an arbitrarily registered listener because you cannot know whether that

[2019-10-30 23:18] stevemayhew commented on #4352
@tonihei I can do one better...   Here's the threads that are deadlocked (in our case, tunneling causes the issue, but in the general case it is calling back into `MediaCodec` from any listener.  Even though MediaCodec listeners are called with Hanlder that is on same thread that created `MediaCodec`,  `MediaCodec` is not reentrent from its handlers.)

I'll send a bug report, too big to post...  H

[2019-10-30 23:19] bjitivo commented on #4352
By the way here are the stack traces from which the above was deduced:

"ExoPlayerImplInternal:Handler" prio=5 tid=13 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x13b1c580 self=0x7e27d800
  | sysTid=5864 nice=-16 cgrp=default sched=0/0 handle=0x8e281970
  | state=S schedstat=( 0 0 0 ) utm=633 stm=174 core=3 HZ=100
  | stack=0x8e17e000-0x8e180000 stackSize=1042KB
  | held mutexes=
  ker

[2019-10-31 01:52] oliveroneill opened #6604 "onDownstreamFormatChanged vs onDecoderInputFormatChanged"
### [REQUIRED] Searched documentation and issues
Relevant issues: https://github.com/google/ExoPlayer/issues/4692 and https://github.com/google/ExoPlayer/issues/5956
Comments in these issues indicate that both onDownstreamFormatChanged and onDecoderInputFormatChanged should pick up track switches.

[Documentation on AnalyticsListener](https://exoplayer.dev/doc/reference/com/google/android/exoplaye

[2019-10-31 09:44] tonihei commented on #4352
That's a great find! I'll try to get this fixed in the platform code if possible [Done - Will be fixed in future Android releases]

To clarify for other readers - this bug only affects tunneled playbacks, so the majority of reported ANRs on player release won't be fixed by this.

[2019-10-31 10:17] TheNavigateur commented on #6576
Hi @tonihei !

Thanks for the information. Just trying to come up with a formula for converting `offsetTime` into a "non-zero" `presentationTime` to check (alongside 0 itself) to detect whether it's the "first frame of the next video".

Can you confirm that `presentationTimeUs` for the first frame is always either 0 or incrementing at exactly the same rate as `offsetTimeUs` (i.e. that it never sta

[2019-10-31 13:14] learnyst opened #6605 "Playing cenc mp4 in exoplayer"
When filing a question:
-----------------------
### [REQUIRED] Searched documentation and issues
I have read exoplayer docs and also searched in stackoverflow and issues

### [REQUIRED] Question
Can we play mp4 files encrypted with cenc in exoplayer? We have used mp4encrypt tool to encrypt mp4 files with method as "MPEG-CENC" and also with KID and KEY(https://www.bento4.com/documentation/mp4encryp

[2019-10-31 13:33] olmur commented on #1482
Does a workaround exist for this issue? I have the same problem on android 6 (api 23) video is rotated and stretched :(

[2019-10-31 13:56] herintsoaRazaf commented on #6601
I'm facing the same issue after an update of Exoplayer to 2.10.5 version.

[2019-10-31 14:26] tonihei commented on #6590
Please provide the full list of requested information when submitting bug reports.

From what you posted, it looks like a problem with the MediaCodec implementation on this device. Does it happen on a specific device only, or also on other devices running API 17?

[2019-10-31 14:37] tonihei commented on #6589
Multiple streams with the same type of media require multiple renderers to play them at the same time. By default, ExoPlayer's `DefaultRenderersFactory` provides one `MediaCodecAudioRenderer` and potentially some extension audio renderers. So it's actually surprising that two of the audio files play in parallel already.

You could in theory provide multiple `MediaCodecAudioRenderers` in a `Rendere

[2019-10-31 14:39] tonihei commented on #6586
I'm not sure I fully understand what kind of feature you are trying to implement here. Could you describe that in more details?

Assigning to @andrewlewis as he is likely to know more about this.

[2019-10-31 14:47] tonihei commented on #6585
There are multiple ways to filter the streams in a manifest:
1. Select the right track selection options in `DefaultTrackSelector`. You could set a maximum bitrate/resolution for example and also the `forceHighestSupportedBitrate` flag.
2. Filter the manifest using `StreamKey`s. That's what ExoPlayer's download module is doing. The stream keys are basically indices in the manifest that are allowed

[2019-10-31 14:50] tonihei commented on #6589
If your app is doing nothing else with ExoPlayer and all the files are local, you can also consider using [`SoundPool`](https://developer.android.com/reference/android/media/SoundPool.html) without any ExoPlayer integration.

[2019-10-31 15:00] tonihei commented on #6588
That's probably a duplicate of #6165. The fix will be part of our next release.

[2019-10-31 15:05] tonihei commented on #6580
That's 181 Mbps :)

ExoPlayer buffers up to a certain minimum buffer length by default irrespective of the memory usage. If you want ExoPlayer to stop buffering at the target memory usage, you can try to set `DefaultLoadControl.Builder.setPrioritizeTimeOverSizeThresholds(false)`.

[2019-10-31 15:06] tonihei commented on #6592
Please provide all the information requested in the issue template.

[2019-10-31 15:11] tonihei commented on #6597
Supporting Picture-in-Picture is more of a general Android development question unrelated to ExoPlayer. Have a look at [this documentation](https://developer.android.com/guide/topics/ui/picture-in-picture) for a start. It also has links on how to handle UI during PiP mode (including video UI). Also consider asking questions on further implementation details on StackOverflow or similar sites.

[2019-10-31 15:19] tonihei commented on #6576
OffsetTimeUs is the first presentationTimeUs of the next stream. There is no notion of incrementing timestamps involved here.

[2019-10-31 15:20] tonihei commented on #6604
That's a duplicate of #5956, in particular [this answer.](https://github.com/google/ExoPlayer/issues/5956#issuecomment-496540080)

(Note that `onVideoInputFormatChanged` is equivalent to `onDecoderInputFormatChanged`)

[2019-10-31 15:21] #6604 closed, assigned to tonihei

[2019-10-31 16:05] andrewlewis commented on #6601
I think this part is working as intended assuming you are playing audio in a .flac container file. `FlacExtractor` outputs PCM because of the way the file is structured. (`LibflacAudioRenderer` is needed for decoding FLAC without using a platform decoder where the audio comes from another container like Matroska.)

Looks like we need to switch to NDK 20, which also requires using c++_static not gn

[2019-10-31 16:47] TheNavigateur commented on #6576
Hi @tonihei !

For me, `offsetTimeUs` keeps increasing indefinitely, while `presentationTimeUs` resets to 0 (every video in my case), hence my question about increment rate.

Cheers,

N

[2019-10-31 16:53] tonihei commented on #6576
Yes, indeed. It seems we already subtract the stream offset from the presentation time before calling this method (sorry for the confusion). That means listening to the callback is enough and `offsetUs` is irrelevant for your case.

[2019-10-31 17:03] TheNavigateur commented on #6576
@tonihei OK so just to clarify, I can always rely on `presentationTimeUs` to be `0` for the first frame of any video in onVideoFrameAboutToBeRendered, and only in that case, regardless, correct?

[2019-10-31 17:12] learnyst commented on #6585
@tonihei thanks.

How can we play the dash stream from the local disk? can we give the file:// url directly to exoplayer? what is the correct way to play the downloaded dash stream?

[2019-10-31 17:21] harini113 opened #6606 "Latency Measurement for ExoPlayer"
When filing a question:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Searched documentation and issues
Searched https://github.com/google/ExoPlayer/issues to see if the

[2019-10-31 20:44] VenkateswaraRajuDatla opened #6607 "Exoplayer2 questions about the buffer, format switching."
Hi Developers,

1. Why is this value DEFAULT_MIN_DURATION_FOR_QUALITY_INCREASE_MS is 10000 ?
Link:
https://exoplayer.dev/doc/reference-v1/constant-values.html#com.google.android.exoplayer.chunk.FormatEvaluator.AdaptiveEvaluator.DEFAULT_MIN_DURATION_FOR_QUALITY_INCREASE_MS

2. What are the effects if we try to decrease the above value to very low in order to avoid the format switching delay (low to

[2019-10-31 20:57] oliveroneill commented on #6604
Thanks @tonihei. It's still not clear what their intended use-cases are. So if I only cared about video changes, then `onDownstreamFormatChanged` and `onDecoderInputFormatChanged` would be equivalent? Does that mean it's a bug that `onDecoderInputFormatChanged` doesn't pick up bitrate changes of the same resolution?

[2019-10-31 22:03] #6582 closed, assigned to AquilesCanta

[2019-11-01 01:07] #6519 closed, assigned to christosts

[2019-11-01 09:13] mrj976 commented on #6589
Thanks
I have 6 audio files
Can you send me an example?

[2019-11-01 09:16] mrj976 commented on #6589
I want play a video with 6 audio files
So I used ExoPlayer
Is there any other way to solve this problem?
Use another library

[2019-11-01 09:18] tonihei commented on #6576
That's right.

[2019-11-01 09:35] kgrevehagen opened #6608 "Decoder reuse from high to low bit depth audio"
### [REQUIRED] Issue description
When going from a track with high bit depth(e.g. 24 bit) to a track with lower bit depth(e.g. 16 bit), the decoder reuse logic actually reuses the codec, whereas I think it should not. I have noticed two different behaviors when doing this:
- It wont play the 16 bit track. I wasn't able to recreate these files for sharing here.
- Plays the 16 bit track, but sound h

[2019-11-01 10:08] antarikshc opened #6609 "No playback on older devices (Specific chipsets)"
### Issue description
**Playback failed on MT6753 devices**

Tested on:
Phone: Lenovo Vibe K4 Note (MT6753) API 23
Decoder: OMX.MTK.VIDEO.DECODER.AVC
Build.DEVICE: A7020a48
Build.MODEL: Lenovo A7020a48

Video's used:
https://storage.googleapis.com/wedupp-exo-bucket/demo.mp4
https://storage.googleapis.com/wedupp-exo-bucket/demo-baseline-3.mp4
https://storage.googleapis.com/wedupp-exo-bucket/demo-cl

[2019-11-01 11:14] xiaos commented on #6579
I have sovled it by using the onVideoFormatChange in Renderer.

[2019-11-01 13:48] chavabobby opened #6610 "How to catch error and display a dialogue box?"
In my play_live activity, I use hls source "http://localhost:1935/live/mylive/index.m3u8". When My streaming is down, I need to catch the error returned by exoplayer and  I want to display AlertDialog says "Link is Down." I am newbie. Can anyone help me here?

[2019-11-02 02:24] BuiVanNam commented on #6580
Thanks so much!

[2019-11-02 02:25] #6580 closed, assigned to tonihei

[2019-11-02 04:38] Slim1991 opened #6611 "What is the dummysurface?"
I want to use one player for 2 surfaceview/textureview for render one video in 2 views at the same time. I wandering the dummysurface may help somethings. I don't know. Anyone help me, pls.

[2019-11-02 06:44] dummy-amit opened #6612 "Unable to play hevc video on LG Q7 (lower end device)"
### [REQUIRED] Issue description
For hevc videos, exo player fails silently with error in log cat

### [REQUIRED] Reproduction steps
Create media source for above url and play it on this device.

### [REQUIRED] Link to test content
Video url --> https://d1104ewo8apaup.cloudfront.net/video/hevc-0/f82ea871847f635f8c25ddcd34786575rq6lpf9g.mp4

### [REQUIRED] A full bug report captured from the device

[2019-11-02 06:47] dummy-amit commented on #6612
[log.txt](https://github.com/google/ExoPlayer/files/3800201/log.txt)

Uploading log to see in proper formating

[2019-11-02 09:30] safdarkowda opened #6613 "audio bug in library 2.9.6"
Hi ,

I am working on exoplayer since 1 year,initially it was working fine ,but now ,
'com.google.android.exoplayer:exoplayer:2.9.6' is not supporting multiple audio detection,can you help.

the link has two audio ,only one is showing.

link=http://ooyalaqa.streaming.mediaservices.windows.net/a385162c-246d-418b-93b0-be08f2c28fe2/M1YnhyZTE6X6-QO5AmLg1f623BYEDioW.ism/Manifest(format=m3u8-aapl).m3u8

[2019-11-02 19:29] STStudio commented on #6583
**Because i use this in play button event, after loaded.
Play() method just named. Actually Prepare() right name.**

[code]

[2019-11-02 20:18] menscikov opened #6614 "Multiple audio tracks aren't displayed for HLS streams"
**Issue description**

Multiple audio tracks are not seen on ExoPlayer 2.10.6 for some HLS streams. TS streams are working fine.
The issue is tested on the demo project.

**Reproduction steps**

- Paste the link to the Demo project manifest to media.exolist.json;
- Play the media stream.

**Link to test content**

Link to the media e-mailed to ExoPlayer development team.

**Version of ExoPlayer be

[2019-11-02 20:35] menscikov commented on #6613
Just upgrade your ExoPlayer version to 2.10.0+ version.
This bug has been fixed there.

[2019-11-03 00:12] STStudio commented on #6583
Fixed my problem.
I added in AndroidManifest android:usesCleartextTraffic

`<application android:label="MyApp.Android" android:usesCleartextTraffic="true"></application>`

[2019-11-03 00:12] #6583 closed, assigned to ojw28

[2019-11-03 01:06] #6522 closed, assigned to christosts

[2019-11-03 04:08] safdarkowda commented on #6613
Thanks for the update,but can you please fixed the issue in 2.9.6 because if I updated to 2.10.0 the whole download and ui is changed and it won’t be possible to change customise from scratch again because I need to deliver the application in 3 days,it would be a great help. Appreciate your help and support,thanks safdar

Sent from my iPhone

[2019-11-03 10:34] #6610 closed, assigned to nobody

[2019-11-03 10:36] chavabobby opened #6615 "After 3 Buffers exoplayer stopping to retry?"
When my exoplayer gets 3 buffers it's not retrying instead stopping the player, I need to re-launch the activity again. Please help to fix this

[2019-11-04 09:37] tonihei commented on #6613
Yes, this has likely been fixed in 2.10.

Unfortunately, we won't back port bug fixes into older version, so please try to upgrade if possible.
Please have a look at the [Downloading page on our website](https://exoplayer.dev/downloading-media.html) to get started with the current version.

[2019-11-04 09:37] #6613 closed, assigned to tonihei

[2019-11-04 11:55] tomislavturcic commented on #6608
Same issue as the one reported here: https://github.com/google/ExoPlayer/issues/6601

[2019-11-04 13:44] cle-bo commented on #6527
thanks @tonihei , I will be keeping this in mind!
And @christosts as an update on the 2 player instances approach: To my understanding from the issue you linked there may be problems with certain devices and video formats when working with more than one player instance. Yet I am in total control of the devices the app is installed on (beelink gt1 mini, android sdk 25) and the videos that are being

[2019-11-04 15:56] Hiwensen commented on #6588
Thanks for your replay! @tonihei
This issue probably looks the same as #6165.
Is there an evaluation date for the next release to fix this issue?

[2019-11-04 16:56] ArcherEmiya05 commented on #6555
Okay gonna need to fix this one! I review the `ImaAdsLoader` class and at the line **587** there is the **Assertion checkNotNull on a player** so what I did is removed the `adsLoader.setPlayer(null)` in my `release()` function. While this remove the crashing completely I wonder why this `adsLoader.setPlayer(null)` is still included in the demo app `PlayerManager` class if calling this will cause t

[2019-11-04 17:27] Samrobbo commented on #6555
Hi ArcherEmiya05,

Have you verified whether using the newest version of ExoPlayer fixes this problem?

[2019-11-04 18:07] ojw28 commented on #6606
You can time startup latency (among other things) by adding an `AnalyticsListener` to your player. You can do this by calling `player.addAnalyticsListener`, and then override methods corresponding to events that you're interested in. For example `onPlayerStateChanged` looking for when `playbackState` transitions to `STATE_READY`.

`EventLogger` is an `AnalyticsListener` that we provide, which logs

[2019-11-04 18:09] ojw28 commented on #6612
Please can you try playing the video in our demo app on the affected device, and attach a bug report taken after experiencing the issue in that case? Alternatively, please attach an `EventListener` to the player inside your app, which will add additional logging to a bug report taken after experiencing the issue within your app. You can do this with:

[code]

As an aside, 2.9.6 is not the latest.

[2019-11-04 18:12] #6561 closed, assigned to tonihei

[2019-11-04 18:12] #6554 closed, assigned to Samrobbo

[2019-11-04 18:13] #6547 closed, assigned to Samrobbo

[2019-11-05 02:06] #6540 closed, assigned to Samrobbo

[2019-11-05 06:35] dummy-amit commented on #6612
Sorry about wrong release info @ojw28
I tried latest version 10.9.6 as well, same problem occured. Will follow steps given by you and will attach the required things today.
Thanks for quick response for the issue.

[2019-11-05 09:02] andrewlewis commented on #6611
This sounds the same as #4640. Generally ExoPlayer uses `MediaCodec` to render video to a single `Surface`. To get the decoder output visible in two views, I'd try passing a surface created from a `SurfaceTexture` to the player, and then copying from the texture to the output views using OpenGL. I don't think `DummySurface` helps with this, though some of the code in its helper class `EGLSurfaceTe

[2019-11-05 09:02] #6611 closed, assigned to andrewlewis

[2019-11-05 09:34] caprice opened #6616 "Is there a way to fetch current real timestamp of video frame when playing rtmp stream?"
As title mentioned, I intent to do some sync work when playing  rtmp stream, but there is no public api like getRtmpVideoTimestamp() or video frame listener to watch the real timestamp of current video frame.

[2019-11-05 09:40] ojw28 commented on #6599
If you know the offset then it's almost certainly possible to do something on the player side. In the very simplest case you could take ExoPlayer as source and hard-code the offset. I don't think this is something we can justify spending time helping to work out for you though, sorry. You should really just get the content provider to fix the content, which is presumably a requirement to play the

[2019-11-05 09:40] #6599 closed, assigned to ojw28

[2019-11-05 09:56] oleg4442 commented on #6482
@AquilesCanta, @anjaneesh Any updates on this "content not playing"?
I have the same issue with DASH

Url for clear DASH in cast-demo works:
https://storage.googleapis.com/wvmedia/clear/h264/tears/tears.mpd

But all others links accessible in public do not work:
e.g. from Exoplayer media.exolist.json and our own:
1) https://www.youtube.com/api/manifest/dash/id/bf5bb2419360daf1/source/youtube?as=fm

[2019-11-05 11:09] alxgord opened #6617 "Mix couple videos"
Can I receive two frames from two video and mix it in custom renderer?

[2019-11-05 13:00] tonihei commented on #6588
We don't usually give fixed dates for releases, but 2.11.0 is likely to come pretty soon (within weeks).

[2019-11-05 13:00] #6588 closed, assigned to tonihei

[2019-11-05 13:53] AquilesCanta commented on #6482
Also adding @mjmancuso in case he can assist.

[2019-11-05 14:05] christosts commented on #6527
@cle-bo it sounds like you have a very controlled environment. Please make sure to re-test anytime you change a parameter on your setup (video/audio formats, device firmware and/or android version).

Closing this as it seems the issue at hand has been answered.

[2019-11-05 14:06] #6527 closed, assigned to christosts

[2019-11-05 14:10] andrewlewis commented on #6617
If you don't need to video frame output to be perfectly synchronized, you could try having two players output to TextureViews then set the alpha on the top view, but I'm not sure if this gives the type of mixing you're after.

A more flexible approach would be to have two players, where each one is configured to output to its own `SurfaceTexture`. These off-screen textures can be used as external

[2019-11-05 14:10] #6617 closed, assigned to andrewlewis

[2019-11-05 14:16] andrewlewis commented on #6616
You could try setting a `VideoFrameMetadataListener` (see #5860 and possibly also the discussion in #6576) to get the presentation timestamp of the frame about to be rendered.

I'm not sure if RTMP has a special notion of video timestamp that is different though (if so, please provide some more details), and whether this can be used to achieve the 'sync work' you refer to.

[2019-11-05 14:27] andrewlewis commented on #6608
Duplicate of #6601

[2019-11-05 14:27] #6608 closed, assigned to andrewlewis

[2019-11-05 15:09] tonihei commented on #6589
The way I described above seems to work with the added complication of needing a custom `TrackSelector` implementation that links tracks to audio renderers.

Please note that the renderers are not actively synchronized to each other, so depending on your alignment requirements between these streams, this may be a problem. You will also need to select the video track in the track selector if you wa

[2019-11-05 15:13] tonihei commented on #6606
In the next release, there will also be a `PlaybackStatsListener` that returns `PlaybackStats` for each playback. And you will be able to query all kinds of metrics from there (e.g. `PlaybackStats.getTotalJoinTimeMs()`)

[2019-11-05 15:22] tonihei commented on #6607
1. That's a good guess only. It need to be low enough to allow switching up quickly if the conditions allow it, but it also needs to be big enough to ensure we don't run into rebuffers immediately, if upswitching turns out not to be sustainable.

2. See above. You may get more rebuffers and it's generally more risky.

3. Switching happens on the loading side of the buffer queue. That is, the decis

[2019-11-05 15:27] andrewlewis commented on #6609
The logging like:

[code]

suggests that the stream exceeds the device capabilities.

Please see the Android CDD to find out what minimum format support you can expect. [Here is the relevant section for H.264/AVC on Android M](https://source.android.com/compatibility/6.0/android-6.0-cdd.html#5_3_video_decoding).

[2019-11-05 15:27] #6609 closed, assigned to andrewlewis

[2019-11-05 15:38] lohrasbii opened #6618 "Error inflating class android.webkit.WebView after update to last version (2.10.6) on Lollipop"
I have an application that contains exoplayer and webviews.
After update to last version of exoplayer (2.10.6) , I am facing this error when try to start an activity that contains webview. Only in Lollipop.

[2019-11-05 15:42] tonihei commented on #6604
Please see the explanations in the linked answer above. The difference is relevant for muxed formats (like the ones you often get in HLS) where `onDownstreamFormatChanged` tells you about changes in the selected format on the input side (e.g. muxed audio/video), whereas `onDecoderInputFormatChanged` tells you about changes to the format handled on a decoder level (e.g. demuxed audio/video). For ca

[2019-11-05 15:46] tonihei commented on #6585
If you need to update the URLs, you should probably use the implementation described in point (3) above. You can basically build the `DashManifest` object yourself and then pass it to the player. If you want to parse the existing manifest first for easier construction of the new manifest, you can use the `DashManifestParser` to read it from the mpd file.

[2019-11-05 16:26] andrewlewis commented on #6615
There isn't enough information here for us to help. Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234",

[2019-11-05 16:28] andrewlewis commented on #6618
This might be the same underlying issue as #6577 (see also [this Stack Overflow question](https://stackoverflow.com/questions/41025200/android-view-inflateexception-error-inflating-class-android-webkit-webview)). Could you provide more information on exactly what the error is?

[2019-11-05 16:41] dummy-amit commented on #6612
[log.txt](https://github.com/google/ExoPlayer/files/3810124/log.txt)

I attached Event Logger in my app and generated this logcat report. Let me know if you need any more help in getting more data. @ojw28

[2019-11-05 17:56] VenkateswaraRajuDatla commented on #6607
Hi Tonihei,

Thank you so much for the quick response.

I have one more question.

Let's assume
buffer size is 16 sec, each video chunk is 2 sec, Current format is 720P, minDurationForQualityIncreaseMs is 10 sec, Already buffer have 6 video chunks of quality 720P.

Now based on above, the buffered started playing the chunks, at t=4 sec(at the end of 2nd video chunk) the controller detected the hig

[2019-11-05 18:11] ojw28 commented on #5973
@tonihei - Can this be closed as fixed?

[2019-11-05 18:37] tonihei commented on #5973
No, the second part about improving UI interactions isn't solved yet.

[2019-11-05 18:43] tonihei commented on #6607
If you have 16 seconds of video buffered and minDurationForQualityIncreaseMs is set to 10 seconds and the current bandwidth estimate is sufficient for switching up, then the next chunk will be loaded in the higher resolution.

[2019-11-05 21:35] cdarau commented on #3438
@elvirturan cross-fade means that the track that's ending is fading out simultaneously with the fading in of the track that's beginning, not sequentially

[2019-11-05 22:07] VenkateswaraRajuDatla commented on #6607
Got it and thank you.
Few more questions,

1. How to know the buffer size in exoplayer?

2. Also In my exoplayer project,
In the AdaptiveTrackSelection class, evaluateQueueSize(long playbackPositionUs, List<? extends MediaChunk> queue) method is never called.
 Do you have any idea when and where generally it is called?

Somehow I am experiencing a delay of 48 sec during format switching (in both c

[2019-11-06 02:18] weiyuefei commented on #6569
Sorry for the late response.  We change the live sources for testing and it didn't appear any longer.  Thus I think it is the source which cause this issue, so I will close this issue.

[2019-11-06 02:18] #6569 closed, assigned to krocard

[2019-11-06 03:12] chavabobby commented on #6615
When the connection is low, it starts buffering and plays when gets connected, after three consecutive buffers it's throwing the below error and stopping with the play button on the screen and the source is up all the time, issue is when network is low it starts buffering and it's not continuously trying or buffering. Please tell me a solution.

`E/ExoPlayerImplInternal: Source error.
    com.goog

[2019-11-06 03:45] Rvldo opened #6620 "ffmpeg using readme in documentation C compiler test failed."
Hello i'm using ExoPlayer for streaming, i found problem when play audio mpeg not support and i've browse and found that it because of ffmpeg and i found this readme

https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md
the readme says that it currently support NDK 15c

and I use NDK 20 but it says like this

arm-linux-androideabi-gcc is unable to create an executable fi

[2019-11-06 04:12] rlissner commented on #6566
Well I haven't been able to run adb, so I can only tell you this:
Exoplayer runs nicely on a Pixel 3
It only plays the audio portion of a video file on the 29.2.1 emulator on a
Pixel 3 XL.  There is no new emulator, and my Android Studio is completely
up to date.
Your documentation says that some 3rd party emulators might not work.  The
Pixel code if, of course, definitely Google and part of the S

[2019-11-06 09:27] andrewlewis commented on #6620
The ffmpeg extension lets you include software decoders in your app, so if you're using it then audio decoding capabilities generally doesn't have to depend on the capabilities of the Android version and device. If configured correctly and playing a format which the extension supports you should get the same capabilities back to Android Jelly Bean. For more information on what level of format supp

[2019-11-06 09:27] #6620 closed, assigned to andrewlewis

[2019-11-06 09:34] hans-de-clercq opened #6621 "CacheFileMetadataIndex does not delete rows in ExoPlayerCacheFileMetadata table after removing file from cache. Is this normal?"
### Issue description
I'm creating an app to play music with crossfade mixes. To play music in the background, I use a foreground service.

I use **ProgressiveDownloader** to download the next track in the background before preparing. To prepare the player, I use a **ProgressiveMediaSource.Factory** with a **CacheDataSourceFactory** and a **SimpleCache**.
This seems to work perfectly. When a track

[2019-11-06 09:41] tonihei commented on #6607
1. `player.getBufferedPosition` and `player.getTotalBufferedDuration` should help. The `AdaptiveTrackSelection` class gets this information as parameter in the method calls.

2. This method may not be executed if the `MediaSource` doesn't support it. If you are using HLS for example, this is currently not supported. See #6322 that tracks adding this feature.

[2019-11-06 11:12] Rvldo commented on #6620
Thank you for your reply, i really appreciate it.

[2019-11-06 11:17] ojw28 commented on #6566
We do care :). However there's currently nothing actionable for us to do here, since the issue doesn't reproduce for us and we don't have an `adb bugreport` to provide further information. Closing for now. Please provide the required information if you're able to do so in the future, and we can re-open it. Thanks!

[2019-11-06 11:17] #6566 closed, assigned to ojw28

[2019-11-06 12:30] tonihei commented on #6591
Please provide more detailed information as requested in the issue template. Especially example media and the expectations for the duration would be helpful to debug this any further.

[2019-11-06 16:31] kaiv2000 opened #6622 "HLS stream issue"
Next HLS stream play without video, only sound is playing, no picture, in VLC player it show picture with sound:
https://real-g2.sobor.net/hls-live/live/_definst_/liveevent/livestream.m3u8

[2019-11-06 17:53] harini113 commented on #6606
Is there an ETA for the next release?

[2019-11-07 02:06] #6449 closed, assigned to christosts

[2019-11-07 02:27] imbichitra opened #6623 "Where to find the NalUnit?"
Hi developer's ,
This is not a bug or issues but i want to know about Nal Units Actually i encrypted a mp4 video file where Nal headers are not encrypted only the data are encrypted and i also implement decryption logic which take encrypted  byte array chunks by chunk and decrepit it and after that I want to handover this decrypted byte array to renderer to play but i am unable to find the proper

[2019-11-07 03:31] abhishekredspace opened #6624 "Notification issues for Android 10 devices."
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/6416
https://github.com/google/ExoPlayer/commit/f08258e48d5240624283d787e7f34e0b22b4cd22
https://developer.android.com/about/versions/10/features#media-notifications

### [REQUIRED] Question
Question 1: I am using exoplayer version 2.10.7 to play an audio stream. When audio playback happens we do not show a

[2019-11-07 10:36] hungntv opened #6625 "When playing an HLS uri, I got null when calling player.currentTimeline.getWindow(,,).tag"
I use ExoPlayer version 2.10.0

And `player.currentTimeline.getWindow(windowIndex, window, true).tag` **always returns null**

[code]

How can I fix it?

Someone got the same problem like me:
[https://github.com/android/uamp/issues/253](https://github.com/android/uamp/issues/253)

HLS sample:
[https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8](https://bitdash-a.akamaihd.net/content/s

[2019-11-07 10:37] ojw28 commented on #6623
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/6554. If you want to continue that discussion, please do so there instead of creating a new issue. Thanks!

[2019-11-07 10:37] #6623 closed, assigned to ojw28

[2019-11-07 10:54] sravan1213 opened #6626 "Download data consumption is much higer for byte range request content's"
When we download content using byte range requests download consumption is showing 300mb for a 30 mb file. I found that in exoplayer request length is set -1 download requests, because of the server is sending entire content for each download request.

please check `readAndDiscard` function in `CacheUtil`.

Verified on [Test Asset](https://storage.googleapis.com/wvmedia/cenc/h264/tears/tears.mpd)

[2019-11-07 11:25] mrj976 commented on #6589
Thank you
I used your code but there is error in this section:

[code]

In above code ".Builder" is red and show this message: " Cannot resolve symbol 'Builder' "

what should I do?

[2019-11-07 11:26] mrj976 commented on #6589
Thank you
I used your code but there is error in this section:

[code]
In above code ".Builder" is red and show this message: " Cannot resolve symbol 'Builder' "

In my MediaSources:
mediasource1 is video file
mediasource2 , mediasource3 , mediasource4, mediasource5, mediasource6, mediasource7 are audio files

what should I do?

[2019-11-07 11:53] kbalana opened #6627 "IMA DAI AdEvents possibly corrupted by TrackSelector"
### [REQUIRED] Searched documentation and issues
Already have spoken with the DAI team. They've suggested that problem may lies on ExoPlayer's side, so here I am - https://groups.google.com/forum/#!topic/ima-sdk/WgitrZlD3T4

### [REQUIRED] Question
During implementation of DAI SDK I've stumbled upon on some strange behaviour. In our app, we use ExoPlayer with some additional components (like Track

[2019-11-07 12:10] tonihei commented on #6589
The builder is only available in the latest ExoPlayer version. You can use `ExoPlayerFactory` instead where you can set your own track selector and renderers factory.

[2019-11-07 12:13] ojw28 commented on #6626
I believe we already fixed this. What version are you using?

[2019-11-07 12:15] ojw28 commented on #6626
It was fixed in 2.10.2, as per the release notes. See https://github.com/google/ExoPlayer/issues/5927.

[2019-11-07 13:53] swastik52 opened #6628 "Where the byte buffer is given to the render to play video file?"
Hi Developer,

I want to know where the byte buffer is given to the render to play the video data.

[2019-11-07 15:34] guidofranceschini opened #6630 "Avoid rebuffering when modifying TrackSelector parameters"
### [REQUIRED] Use case description
I have an app using adaptive media, where in certain circumstances I want to reduce the bandwidth consumed by the video/audio.
I do so by setting new filtering criteria in the track selector, as follows:

            DefaultTrackSelector.Parameters currentParameters = ((DefaultTrackSelector) trackSelector).getParameters();
            DefaultTrackSelector.Parame

[2019-11-07 15:56] tonihei commented on #6630
That's a duplicate of #2250 and/or #5082 (somewhere in-between the two). You can implement a custom solution if you like by subclassing AdaptiveTrackSelection.canSelectFormat. In there you can filter out unwanted formats during playback.

[2019-11-07 15:56] #6630 closed, assigned to tonihei

[2019-11-07 16:23] sravan1213 commented on #6626
Sorry for the duplicate issue. I was checking on 2.9.6. Thanks for the update. Closing this.

[2019-11-07 16:23] #6626 closed, assigned to ojw28

[2019-11-07 17:22] ojw28 commented on #6612
It's worth noting that ExoPlayer is not failing silently. It's calling `EventListener.onPlayerError` to indicate that playback has failed.

Thanks for the log. The device doesn't support this video resolution for HEVC.

Because querying a codec's support for vertical video resolutions has historically not been that reliable, we have code that queries codec's support with the width and height swapp

[2019-11-07 19:38] kschults commented on #6155
@ojw28 I don't really know enough about media playback to try to figure this out myself. Is it possible to have this fix prioritized?

[2019-11-08 04:21] krackjack234 commented on #6168
Hi @ojw28  any update on this? Do we need to have only one instance of player at a time so prevent this issue happening?

[2019-11-08 08:04] oleg4442 commented on #6482
Hi Team. What is the status of this issue? I really need Cast+Widevine+Dash for my application. But even Clear Dash is not working.

[2019-11-08 08:35] thorito commented on #5786
Same problem!!

[2019-11-08 10:24] AquilesCanta commented on #5786
Hey @mjmancuso can you provide advise here?

[2019-11-08 10:27] AquilesCanta commented on #5786
By the way @drayan85, can you share the media you are using:
- Link to the main content (video  + audio)
- Link to sideloaded subtitles
?
You can send them to dev.exoplayer@gmail.com if you don't want to make them public.

[2019-11-08 11:27] drayan85 commented on #5786
@AquilesCanta , Sorry I have forgot to update here. The subtitle is working fine with below code;

[code]

`The problem was calling the place, we have to call after the player got initialised`

[code]

[2019-11-08 11:44] AquilesCanta commented on #5786
I'll try experimenting this and figuring out what the final API should look like from the Cast extension perspective.

[2019-11-08 12:12] khat33b opened #6631 "How to enable / disable Closed Captioning?"
### [REQUIRED] Searched documentation and issues
I have searched on the GitHub home page, the developer website, past issues and StackOverflow.

### [REQUIRED] Question
Please write the code on how to enable and disable closed captioning on the ExoPlayer developer website in a separate section. It is extremely difficult to figure out how to do it. Please do not direct me to the sample app as it is

[2019-11-08 15:39] andrewlewis commented on #6155
This is on our list of things to look at but I'm afraid we likely won't be able to get to it soon.

[2019-11-08 15:44] andrewlewis commented on #6628
There are multiple renderers, but as an example, we read into a `MediaCodec` input buffer in `MediaCodecRenderer` [here](https://github.com/google/ExoPlayer/blob/a3667de/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L1028).

[2019-11-08 15:44] #6628 closed, assigned to andrewlewis

[2019-11-09 02:06] #6560 closed, assigned to AquilesCanta, mjmancuso

[2019-11-09 05:27] dummy-amit commented on #6612
Yes, sorry about that, I forgot to put in error listener. It does notify me of this error. But still need better error message to fallback to avc url or something.

Does this mean I will not be able to play this hevc video in any way with exo player? Or any other player for that fact?
@ojw28

[2019-11-09 09:11] mrj976 commented on #6589
Thank you for your sample code and your help
I used exoplayer with 2.10.7 version and its latest version of exoplayer. but show this message: " Cannot resolve symbol 'Builder' " again.
` implementation 'com.google.android.exoplayer:exoplayer:2.10.7'
`
I solved this error with this code:
`Player = ExoPlayerFactory.newSimpleInstance(this, renderersFactory, trackSelector);`

with your code i can play

[2019-11-09 09:24] goustmk1 opened #6632 "Exoplayer support VTT and Subtitle srt at same aplication??"
Hello There
I'm new at Android Studio and also new to ExoPlayer and i have implement ExoPlayer to my app and for now it support only VTT or SRT with selecting proper mime.types

Question
Does ExoPlayer support both VTT and SRT at the same application (have multiple movies with srt and vtt combined).
And if support anyone point me to the right direction.

Thank you

[2019-11-09 17:16] ojw28 commented on #6612
I think this is correct for any player using the platform's HEVC decoder. It's possible that a player bundling its own video decoder might be able to play it, although since decoding would be purely in software in this case, performance and battery drain may be issues.

[2019-11-09 17:20] ojw28 commented on #6612
There are two things we should do here:
1. Disable the rotation check for this decoder on this device.
1. Make sure a clearer error is thrown in the case playback fails due to a renderer error, having selected a format that exceeds device capabilities.

[2019-11-09 23:08] kakali opened #6633 "Removing previously downloaded files after lib update"
Hi,
I have an app on the store with v. 2.8.0, and I wanted to update it with an update of exoplayer to 2.10.7. However, the videos downloaded with v.2.8.0 do not get removed in version 2.10.7 (so if the user has any videos downloaded, then upgrades, they won't be able to delete them any more). What should I do so they get removed? Probably I messed something up. Should I assign some specific reque

[2019-11-10 03:52] imbichitra commented on #6628
Hi developer i have similar problem i can't understand where to call the my own decryption logic the detail is given below.

Decryption function detail
--------------------------------
`native String decryptNalUnit(byte[] inputBuf,int inputNalSize,byte[] key);`
This is a native c call which has 3 parameter as described below.

- @inputBuf - This is the byte buffer where i pass encrypted byte data

[2019-11-10 10:10] ghost commented on #3327
Any news about this issue ?

[2019-11-10 14:52] giladna opened #6634 "DefaultLoadControl - Mismatch in Constructor and Builder behaviour"
### [REQUIRED] Issue description

I have a LoadControl Settings Object which enable the app to configure the LoadControl via Builder API.

The Issue is with the
      int minBufferAudioMs,
      int minBufferVideoMs

 public static final int DEFAULT_MIN_BUFFER_MS = 15000;
 public static final int DEFAULT_MAX_BUFFER_MS = 50000;

the Definition in the constructor is :
        /* minBufferAudioMs= */

[2019-11-11 00:09] AleksMx opened #6635 "ExoPlayer makes too many requests"
### Issue description
ExoPlayer 2.10.7 (also 2.9.6) make 3 requests to load video file from my node.js http server. For each request, the server returns the entire file.

1. First HTTP request: no range header    -    server return all video file
2. Second HTTP request: Range: bytes=2990762-    -    server return all video file
3. Third HTTP request: Range: bytes=44-    -    server return all vide

[2019-11-11 02:47] ybai001 opened #6636 "ExoPlayer does not support the latest DD+JOC signaling for DASH"
### [REQUIRED] Issue description
ExoPlayer does not support the latest DD+JOC signaling for DASH

### [REQUIRED] Reproduction steps
1. Play Dolby Atmos content: http://d9zmmjtv72w5o.cloudfront.net/OnDelKits_dev/DDP/Dolby_Digital_Plus_Online_Delivery_dev_portal/Test_Signals/muxed_streams/DASH/Live_MPD/ChID_voices_1280x720p_25fps_h264_6ch_640kbps_ddp_joc.mpd
2. MIME type AUDIO_E_AC3 is returned. (Sh

[2019-11-11 03:03] ojw28 commented on #6635
It's working as intended that the player makes three requests due to the order of the boxes in the MP4 file, which you can see with a tool like https://www.onlinemp4parser.com/.

1. The player starts loading from the beginning of the file.
1. The server needs to read the `moov` box, but it's located at the end of the file at byte offset 4279342, so the player makes a request from this position.
1.

[2019-11-11 03:03] #6635 closed, assigned to ojw28

[2019-11-11 04:10] ojw28 commented on #6614
Duplicate of https://github.com/google/ExoPlayer/issues/2014.

[2019-11-11 04:10] #6614 closed, assigned to ojw28

[2019-11-11 04:18] ojw28 commented on #6605
It's not really clear to me exactly what this question is asking. To use Widevine, I think the stream would need to contain a Widevine PSSH atom (or you'd at least need to provide one out of band). You'd presumably also need a license proxy.

[2019-11-11 04:38] ojw28 commented on #6627
`setRendererDisabled(C.TRACK_TYPE_TEXT, true)` isn't correct usage of the API. The first argument is supposed to be a renderer index, not a track type constant. The track type constant that you're using is coincidentally the index of the metadata renderer, and so you end up disabling the metadata renderer, which is why you no longer receive the events.

It's unclear why you would need to disable t

[2019-11-11 04:38] #6627 closed, assigned to ojw28

[2019-11-11 04:40] grahaisw opened #6637 "Can i build ffmpeg extension on Windows OS?"
If yes, where i can find the references of it?

Thank you.

[2019-11-11 04:52] ojw28 commented on #6634
This is intentional. Note that `DEFAULT_MIN_BUFFER_MS` is documented to say:

And `DEFAULT_MAX_BUFFER_MS` is documented to say:

If you call `setBufferDurationsMs` it's assumed that you know what you're doing, and so both are set to the same value.

I'm not sure what the issue is you're seeing where playback gets stuck, but I don't think it's related to the way you're setting up the `DefaultLoadCo

[2019-11-11 04:55] ojw28 commented on #6632
Yes, this is supported. When using `MergingMediaSource` as described [here](https://exoplayer.dev/media-sources.html#side-loading-a-subtitle-file), you can create and merge in as many subtitle `MediaSource`s as you like. As long as each one is created with the correct `Format`, then merging in multiple `MediaSource`s for both VTT and SRT subtitles should "just work".

[2019-11-11 04:55] #6632 closed, assigned to ojw28

[2019-11-11 05:02] ojw28 commented on #6631
I don't think this is an issue with enabling closed captioning. I think closed captioning is probably already enabled in this case. You can verify this by adding a text listener and logging something whenever it's invoked:

[code]

Assuming closed captioning is already enabled, the problem is that you don't have anything in your view hierarchy to actually display the enabled captions. When using E

[2019-11-11 05:06] ojw28 commented on #6625
What are you expecting to be returned? I think it's supposed to simply return whatever tag you set when building the `HlsMediaSource`:
[code]
If you don't call `setTag` then `null` always being returned is expected behaviour.

[2019-11-11 05:44] ojw28 commented on #6598
The secure codec likely uses a secure output path. Whether DRM content will play using a codec that does not use a secure output path will depend on the way in which the license policy is configured (specifically, whether a secure output path is indicated as a requirement in the policy).

This sounds like a device specific issue. If you have a relationship with the device manufacturer, please cont

[2019-11-11 06:00] andrewlewis commented on #6586
Assuming the S/PDIF device appears as a separate output audio device in `AudioDeviceInfo`, this may be a duplicate of enhancement #1993.

[2019-11-11 06:03] andrewlewis commented on #6637
Please see #3127, which suggests it should be possible using Windows PowerShell.

[2019-11-11 06:03] #6637 closed, assigned to andrewlewis

[2019-11-11 06:08] andrewlewis commented on #6615
Please see this [blog post about load error handling](https://medium.com/google-exoplayer/load-error-handling-in-exoplayer-488ab6908137). It sounds like you want to use a custom load error handling policy where you keep retrying indefinitely (the current default behavior propagates a player error after retrying three times).

[2019-11-11 06:08] #6615 closed, assigned to andrewlewis

[2019-11-11 06:27] shashank915 opened #6638 "Exo Player cannot play media urls with spaces in segments"
Below is my MPD file I am using to play in Exo player:
[d4a35346-bfa4-4ad8-9f09-a60333ce4f39-Excreatory System (Plants and Animals)_1.txt](https://github.com/google/ExoPlayer/files/3829910/d4a35346-bfa4-4ad8-9f09-a60333ce4f39-Excreatory.System.Plants.and.Animals._1.txt)

This works fine in Android Version 6+(Marshmellow) but the player is not able to fetch video segments in lower android versions(

[2019-11-11 06:29] Slim1991 commented on #6611
Can you give me some example codes, pls?

[2019-11-11 06:30] andrewlewis commented on #6475
@tipoc123 Sorry for the delay. Please could you provide a test stream we can use to reproduce this in the ExoPlayer demo app? It looks like the audio presentation timestamps in the stream don't match with what we'd expect them to be based on the amount of decoded audio, so are you sure the stream is valid?

[2019-11-11 06:33] andrewlewis commented on #6479
Using a VMAP ad tag with a postroll is the only way to do this with the IMA extension at the moment, I'm afraid. We always play plain VAST ad tags as prerolls. Last time we discussed this limitation we decided not to give flexibility to choose where to play the ad because VMAP ad tags already support this use case.

[2019-11-11 06:33] #6479 closed, assigned to andrewlewis

[2019-11-11 06:37] grahaisw commented on #6637
Thank you so much for your information.

[2019-11-11 06:38] andrewlewis commented on #6480
I'm not sure I understand what the bug is here, but you could try using `TYPE_ROTATION_VECTOR` in [`SphericalGLSurfaceView`](https://github.com/google/ExoPlayer/blob/656556b/library/ui/src/main/java/com/google/android/exoplayer2/ui/spherical/SphericalGLSurfaceView.java#L89) (on the dev-v2 branch) instead of `TYPE_GAME_ROTATION_VECTOR`. If that doesn't help, please could you describe in more detail

[2019-11-11 06:51] andrewlewis commented on #6408
It looks like the modifications will prevent the player being released when going into the background. (Side note: this is not good because you are holding onto resources that other apps might want to use, which can be problematic for the case of video decoders.) I guess what is happening is that the player receives a new output `Surface` when the app returns to the foreground, and at this point i

[2019-11-11 06:51] #6408 closed, assigned to andrewlewis

[2019-11-11 06:56] andrewlewis commented on #6611
I'm afraid we don't have any code ready to share for this, and we don't have resources to write sample code for such a specialized use case. The information in my previous comment should be enough to get started but you will need to do some research yourself. Sorry not to be more helpful.

[2019-11-11 07:24] giladna commented on #6634
@ojw28  thanks
It is customer stream I am not sure I can change the geo block definition
It is working from my end I will send logs and charles capture on the demo app

[2019-11-11 07:25] ojw28 commented on #6638
Preferably, you should avoid putting spaces in URLs. Spaces should be encoded as `%20`, as per https://github.com/google/ExoPlayer/issues/5983#issuecomment-527832552.

[2019-11-11 07:27] ojw28 commented on #6634
What GEO does the stream work in? We may be able to proxy.

[2019-11-11 07:28] ojw28 commented on #6638
Hm. We should possibly look at whether we should be doing this encoding automatically.

[2019-11-11 08:07] khat33b commented on #6587
I have done all the steps mentioned in Java and have gotten the subtitles to appear in the `onCues` method. The problem is declaring the `SubtitleView` in the layout. My `activity_player.xml` simply calls the fragment `PlaybackVideoFragment` which extends `VideoSupportFragment`  which has the layout files for the fragment.

[code]

Declaring a subtitle view even as a child does not work as the `ge

[2019-11-11 08:16] khat33b commented on #6631
@ojw28 Using the solution at that link got me the subtitles in `onCues`. But then I encountered a new problem which I have mentioned as a [comment there](https://github.com/google/ExoPlayer/issues/6587#issuecomment-552335877). Although that solves the problem of showing the subtitles, I also wanted was a way to enable and disable subtitles on a button press. Leanback already has a button `Playback

[2019-11-11 08:21] menscikov commented on #2014
Hi,

Did you tried to update the code for 2.10.7 version? It has been changed since 2.10.2.

Thank you.

[2019-11-11 08:41] MustafaBasim commented on #6587
hi, @khat33b
I managed to add the subtitleView in activity_playback.xml like so :

    <merge xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical">

    <TextureView
        android:id="@+id/texture_view"
        android:layout_width="match_parent"
        android:layout_height

[2019-11-11 09:18] khat33b commented on #6587
@MustafaBasim Thanks for your help. I figured it out. I had to override the `lb_playback_fragment.xml` file in my `res` folder. This is my modifed file:

[code]

[2019-11-11 10:58] guidofranceschini commented on #6630
Thanks for the prompt reply.
I am studying the code but I failed so far to implement your proposed approach.
Altering the behavior of  canSelectFormat is indeed a nice idea, but the hard part is how to dynamically instruct the TrackSelection object about how to alter that behavior. The TrackSelection object is associated to the DashChunkSource and apparently not available outside. It seems that I

[2019-11-11 11:10] bryandunbar commented on #3750
Has anybody successfully worked around this limitation?

[2019-11-11 12:12] idandamri opened #6639 "IMA ads playback in a recyclerview"
Hi,
I am using a SimpleExoPlayer with PlayerView under 'com.google.android.exoplayer:exoplayer:2.8.2'.
I am using it in other places in the app as well but never inside an item inside a recyclerview and maybe that should be used differently?
because for some reason I hear the volume, I see the ad buttons and the controllers but I don't see the video nor the ad video - it looks like an empty contai

[2019-11-11 12:29] marcbaechinger commented on #6639
It's hard to say what the problem is without any further information.

I think the easiest way is to set the player on the PlayerView when it is attached/detached from the recyclerview. You probably want to start playback only when it enters the visible area and pause playback when it leaves the visible area.

For this to work you need to track when your UI elements are created, added to the recyc

[2019-11-11 12:36] tonihei commented on #6630
You can set-up the `DefaultTrackSelector` with a `TrackSelection.Factory` in the constructor that returns your `AdaptiveTrackSelection` subclass.

Be mindful that `AdaptiveTrackSelection.canSelectFormat` is called on an internal playback thread and you need some form of message passing or synchronization to prevent threading issues.

[2019-11-11 12:45] idandamri commented on #6639
First of all thank you for your fast reply.
I agree about what you are saying. I don't care for now about the place of
the item (if it's visible or not). The thing is that it is the first item,
I am waiting for it to show the ad and video. It loaded the ad and start
playing but I am seeing the button for "learn more" and "skip" but not the
video. When the ad video is done (skipped or ended) the vi

[2019-11-11 12:51] marcbaechinger commented on #6624
Question 1:
The easiest and proper way to do that is to make your stream appear as not seekable. I think this is currently not the case. If the stream was not seekable, the action `PlaybackStateCompat.ACTION_SEEK_TO` would be omitted and the notification would not show the seekbar. Besides the notification, other problems may pop up with a stream which says it is seekable but actually it's not.

B

[2019-11-11 13:00] marcbaechinger commented on #6639
Are you using the IMA extension to show ads?

In any case, can you please take a bug report and upload it? I need to know what is going on in the player. Best would be to add an event logger, so I can see in the logs what is going on

[code]

[2019-11-11 13:00] tonihei commented on #6589
Yes, sorry, this will only be part of 2.11.0 (once released). Your alternative is correct.

As pointed out above, you also need to select the video track in the `TrackSelector` implementation. Search for a renderer index that supports `C.TRACK_TYPE_VIDEO` and find a track where `MimeTypes.isVideo` returns true, and then create a new `FixedTrackSelection` similar to what I've done with the audio tr

[2019-11-11 13:05] idandamri commented on #6639
I am actually.
I will do.

On Mon, Nov 11, 2019 at 3:00 PM Marc Baechinger <notifications@github.com>
wrote:

[2019-11-11 13:05] idandamri commented on #6639
how do I pull the bug report?

[2019-11-11 13:07] idandamri commented on #6639
2019-11-11 15:05:51.849 20906-20942/? E/chromium: [ERROR:tile_manager.cc(779)] WARNING: tile memory limits exceeded, some content may not draw

 I see it writes this error in the log, is it related?

[2019-11-11 13:10] kakali commented on #6633
Forgot to mention that the downloaded videos go through AesCipher. I can post code for the DownloaderConstructorHelper, if necessary.

[2019-11-11 13:14] AleksMx commented on #6635
Why does the player need to make a request from this position if this data is already in memory?

I think it`s a bug. The player must verify that this data has already been read and reuse it. I looked at the source code, but to the end I could not understand the architecture of the player, but in my opinion, this should take 3-4 lines of code.

However I can use **ffmpeg -movflags faststart** flag

[2019-11-11 13:25] marcbaechinger commented on #6639
To do a bug report just let the player do what it does wrong, then after it do a

adb bugreport

this creates a zip file which you can upload here.

That's probably quickest. Else there are other ways to capture a bugreport: https://developer.android.com/studio/debug/bug-report

[2019-11-11 13:25] marcbaechinger commented on #6639
2019-11-11 15:05:51.849 20906-20942/? E/chromium: [ERROR:tile_manager.cc(779)] WARNING: tile memory limits exceeded, some content may not draw

is probably related. That could be the webview used by IMA. Bugreport will tell. :)

[2019-11-11 13:43] idandamri commented on #6639
I am not able to extract the bug report. is there any other way?

[2019-11-11 14:28] idandamri commented on #6639
here is the bug report
[bugreport-2019-11-11-16-21-38.zip](https://github.com/google/ExoPlayer/files/3831742/bugreport-2019-11-11-16-21-38.zip)

[2019-11-11 17:25] marcbaechinger commented on #6639
Thanks for the bug report.

I think I'd recommend to move to the most recent ExoPlayer version (you are using 2.8.2). The new ExoPlayer IMA extension will use the most recent IMA Ad SDK. It seems to me that an outdated Ad SDK is causing troubles. Upgrading probably helps.

Are you sure ads play in your app without RecyclerView? It appears to me that the problem is not related to recyclerview.

The

[2019-11-11 21:40] ojw28 commented on #6635
It's not true that data is already in memory. The fact that the player made an unbounded request from the start of the file in the first request doesn't mean that it _actually loaded_ the entire file. It cancels the request having only consumed a small part of the response, because it's faster and more efficient to issue a new request for the data it needs from the end of the file. If you consider

[2019-11-12 01:03] amitks2015 opened #6640 "Allow different error handling based on track type"
Yesterday our video streaming app ran into an issue where ExoPlayer was throwing ParserException. It was obviously due the corrupt subtitles(WebVTT) coming along with the HLS content. But it's not a good experience to prevent users from watching video because of corrupt subtitle data.

My question is, in such cases, how can we let ExoPlayer continue playing the video and ignore the subtitle part?

[2019-11-12 05:07] giladna commented on #6634
Hi
I have sent more information via mail
It should work for India
Thanks

[2019-11-12 05:33] yamagata1037 opened #6641 "SeekPosition resolving issue"
`timeline.getPeriod(periodIndex, period)` at [ExoPlayerImplInternal.java#L1474](https://github.com/google/ExoPlayer/blob/bef130ad17f11ab3997548653f2466e50bd6eb27/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java#L1474) always gives an ArrayIndexOutOfBoundsException as `periodIndex == -1` at this point.
I think `timeline.getPeriodByUid(periodUid, period)` should be

[2019-11-12 07:20] giladna commented on #6631
@khat33b
you can debug the demo app in TrackSelectionDialog.java
you will have to investigate the behaviour of builder in the method createForTrackSelector.

[code]

[2019-11-12 08:21] idandamri commented on #6639
![image](https://user-images.githubusercontent.com/15670691/68654520-ca61c780-0536-11ea-96a0-94c3a8e4b829.png)

It does work well in other places in the app where it is not in a recyclerview.
I am using 2.8.2

On Mon, Nov 11, 2019 at 7:26 PM Marc Baechinger <notifications@github.com>
wrote:

[2019-11-12 08:44] oleg4442 commented on #6482
@mjmancuso, @AquilesCanta do you have anything?

[2019-11-12 10:02] tonihei commented on #6495
Sorry for the delayed reply.  I tried to play the stream, but I immediately get RTMP error -6, which is DNS_NOT_REACHABLE if I [read the code](https://github.com/ant-media/LibRtmp-Client-for-Android/blob/c361f5da14d3bf7ed1affb4ea0ff41b53ba9d41c/rtmp-client/src/main/java/net/butterflytv/rtmp_client/RtmpClient.java#L58) correctly. Can you check if the stream is still working?

[2019-11-12 11:02] marcbaechinger commented on #6641
Thanks! We will provide a fix soon.

Out of my personal curiosity: did you hit this with a live stream or a ConcatentatingMediaSource?

[2019-11-12 11:32] yamagata1037 commented on #6641
With a ConcatenatingMediaSource.

[2019-11-12 11:47] icbaker commented on #6640
Could you give a bit more information? A stack trace showing where the exception is coming from would be helpful so we can best advise how to avoid/handle it.

A sample stream demonstrating the problem would also be very useful. If you're unable to share it here, you can email it to dev.exoplayer@gmail.com with this issue number in the subject line.

[2019-11-12 12:37] idandamri commented on #6639
whenever I try using the 2.10.7 version the build gets stuck and I can't even get to the point of install!

[2019-11-12 13:27] #6577 closed, assigned to andrewlewis

[2019-11-12 13:41] tipoc123 commented on #6475
I've made dump http://stand.netup.tv/downloads/T4711.zip, but the problem is not reproduced on that dump. Also, you can see bugreport.txt above.

[2019-11-12 15:32] tipoc123 opened #6642 "Teletext"
### [REQUIRED] Issue description
Exoplayer doesn't show Teletext (application/cea-608).

### [REQUIRED] Reproduction steps
Play multicast.

Command:
[code]

### [REQUIRED] Link to test content
https://yadi.sk/d/sYH5XC-xZC1C7Q

### [REQUIRED] A full bug report captured from the device
[bugreport.txt.zip](https://github.com/google/ExoPlayer/files/3836852/bugreport.txt.zip)

### [REQUIRED] Version of

[2019-11-12 15:37] kschults commented on #6155
@andrewlewis Thanks for the follow-up. I get that this is probably low priority, but I'd definitely love to see it fixed.

[2019-11-12 15:43] tvanlaerhoven commented on #6598
Ok thanks, I'll notify the manufacturer.

[2019-11-12 15:43] #6598 closed, assigned to ojw28

[2019-11-12 15:53] ivan2311 opened #6643 "Can FLAC Extension play 96kHz/24bit track without downsampling?"
I'm using FLAC Extension to play .flac files and I have really basic ExoPlayer setup:
[code]

.flac files are playing ok, but when I look at the audio output it shows that audio signal can't go above the 24kHz, it always gets downsampled. For testing purposes I have a 96kHz/24bit .flac file that is just simple audio signal that goes from 1kHz to 32kHz and I'm checking audio output with [Audacity](

[2019-11-12 16:22] tvanlaerhoven opened #6644 "Buffering behaviour on pausing & resuming a live stream"
### [REQUIRED] Searched documentation and issues
I checked the documentation and existing related questions.

### [REQUIRED] Question
My intention is to add the ability to pause a live stream to our player. The stream could be paused for a predefined maximum time, after which play-out would resume from the buffer.

I configured ExoPlayer's LoadControl with a minBufferMs and maxBufferMs of, in this

[2019-11-12 17:35] AquilesCanta commented on #6622
This is a duplicate of #5537, except the PMT contains audio, but not video.

[code]

[2019-11-12 17:35] #6622 closed, assigned to AquilesCanta

[2019-11-12 18:05] abhishekredspace commented on #6624
Thanks for your reply.
1. That works now.
2. So even if I remove all the metadata related code, I still see the issue. So basically I removed.
[code]

[2019-11-12 18:27] abhishekredspace commented on #6624
Ok I think we need to call `invalidateMediaSessionMetadata` as well. Calling that when metadata is updated, does the trick. Not sure if that is the right solution though, but works as now.

[2019-11-12 23:48] amitks2015 commented on #6640
Thanks for your prompt response.
Here is the stack trace:
`<app package name> E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.ParserException: Expected WEBVTT. Got Z���>gYx��(ٓW�I��T��z���x{�"��������inRzs��;
        at com.google.android.exoplayer2.text.webvtt.WebvttParserUtil.validateWebvttHeaderLine(WebvttParserUtil.java:44)
        at com.google.android.exoplayer2.so

[2019-11-13 03:52] dingbinacm commented on #5988
Hi, I find I can't play a exo file, which is only cached partially.When offline, I play it in version2.10.5,it fails to recognize the format.

[2019-11-13 07:24] khat33b opened #6645 "Midroll ads not running when using IMA extension"
### [REQUIRED] Searched documentation and issues
I have searched on the GitHub home page, the developer website, past issues and StackOverflow.

### [REQUIRED] Question
I am using a custom implementation of ExoPlayer's IMA extension to display ads at custom intervals not specified by the Vast Tag as mentioned [here](https://stackoverflow.com/questions/49871348/how-to-show-ads-at-specific-points-us

[2019-11-13 10:19] kgrevehagen commented on #6608
@andrewlewis #6601 has three issues inside the task, and the one you are still investigating seems to be related to this issue, might actually be the exact one. But I believe I have found the cause of the problem and a potential fix. So maybe you can use this issue to track this exact issue?

A potential fix for this is to check for `codecMaxInputSize` inequality, not just bigger than.

In `MediaC

[2019-11-13 10:26] kgrevehagen commented on #6601
Look at [this comment](https://github.com/google/ExoPlayer/issues/6608#issuecomment-553336828) in #6608 for a potential cause and fix for the one you are still investigating.

[2019-11-13 11:38] ojw28 commented on #6175
Closing due to lack of follow up.

[2019-11-13 11:38] #6175 closed, assigned to ojw28

[2019-11-13 11:45] marcbaechinger commented on #6644
It seems like the player has fallen behind the live window before step 4. So when the player resumes, there is no way to load data to further maintain the buffer.

At 4 it then  just plays out the rest of the buffer (totalBufferedDuration is decreasing) and then when the buffer is empty it throws because it is behind the live window and can't continue loading data from where it wants to. The chunk

[2019-11-13 11:46] ojw28 commented on #6606
We don't commit to release schedules. It should be relatively soon though (well before the end of the year). Closing this question as answered.

[2019-11-13 11:46] #6606 closed, assigned to ojw28

[2019-11-13 11:46] #6625 closed, assigned to ojw28

[2019-11-13 11:48] #5768 closed, assigned to ojw28

[2019-11-13 11:51] ojw28 commented on #4514
Apologies we didn't get round to looking at this in a timely way. Unfortunately the link is no longer working. The bug report also seems to be missing logs spanning the point at which the failure occurred, which makes it hard to derive any useful information.

Closing this as not actionable, however if you're able to provide a working test stream, please respond here and we can endeavour to take a

[2019-11-13 11:51] #4514 closed, assigned to ojw28

[2019-11-13 11:56] ojw28 commented on #4341
Marking as a duplicate of https://github.com/google/ExoPlayer/issues/4352.

[2019-11-13 11:56] #4341 closed, assigned to ojw28

[2019-11-13 12:04] marcbaechinger commented on #6645
It's difficult to understand what happens from the information you are providing.

Where is the code living which you pasted above and what is the difference between what you are doing and the adsManager is doing?

Further, can you please capture a bug report and upload it here? Best is to add an EventLogger to your player so we can see what is going on in the player.

[2019-11-13 12:06] marcbaechinger commented on #6226
Closing due to lack of information and activity.

[2019-11-13 12:06] #6226 closed, assigned to marcbaechinger

[2019-11-13 12:08] marcbaechinger commented on #6430
Closing due to lack of activity and information.

[2019-11-13 12:08] #6430 closed, assigned to marcbaechinger

[2019-11-13 12:09] ojw28 commented on #5273
I'm not really sure what this question is asking. ExoPlayer has `Player.setRepeatMode` and `Player.setShuffleModeEnabled`, so you should wire up your button to those.

For UAMP questions, please ask on the [UAMP issue tracker](https://github.com/android/uamp/issues).

[2019-11-13 12:09] #5273 closed, assigned to nic0lette

[2019-11-13 12:11] #6357 closed, assigned to ojw28

[2019-11-13 12:12] #6550 closed, assigned to marcbaechinger

[2019-11-13 12:13] marcbaechinger commented on #6496
Closing for now. Please re-open if you have new insights.

[2019-11-13 12:13] #6496 closed, assigned to marcbaechinger

[2019-11-13 12:14] andrewlewis commented on #6608
I think the issue is probably that the audio sink is not reconfigured despite the PCM bit depth changing. When I was fixing this I uncovered another issue with draining audio processors which I'm looking into at the moment (this additional issue prevents this working even with a fix not to keep the codec).

[2019-11-13 12:14] andrewlewis commented on #6601
As mentioned in #6608: I think the issue is probably that the audio sink is not reconfigured despite the PCM bit depth changing. When I was fixing this I uncovered another issue with draining audio processors which I'm looking into at the moment (this additional issue prevents this working even with a fix not to keep the codec).

[2019-11-13 12:14] marcbaechinger commented on #6639
I'm pretty sure the build works once your code has been adjusted to possible API changes since 2.8.2.

[2019-11-13 13:09] SharanKumarReddyKambham commented on #6357
How can you close this issue without proper resolution though i provided the required info @marcbaechinger

[2019-11-13 13:28] khat33b commented on #6645
I have implemented my own `ImaAdsLoader`. I copied the original from the library, added a `adCuePoints` and wherever there is `adPlaybackState = new AdPlaybackState(getAdGroupTimesUs(adsManager.getAdCuePoints()));`,

I have replaced it with the above code. I have uploaded my custom loader, the log from EventLogger and the bug report.
[MyImaAdsLoader.txt](https://github.com/google/ExoPlayer/files/3

[2019-11-13 14:28] AquilesCanta commented on #6482
I think the issue here is that the problematic resources are not [CORS enabled](https://developers.google.com/cast/docs/chrome_sender/advanced#cors_requirements).

Please let me know if you think this is not right and I will reopen the issue.

[2019-11-13 14:44] tvanlaerhoven commented on #6644
When resuming, the player can keep on streaming for several minutes. I also see it continuing to buffer. So it's not just playing the buffer it has creating while paused, the buffer is still being filled after resuming.

Is the "live window" determined by the stream server's manifest, or can this be set client-side? The manifest indicates a timeShiftBufferDepth of PT30S.

In addition, I've set the

[2019-11-13 15:09] idandamri commented on #6639
Ok got it to build finally.

now we get the following error which is not from the code we write.

[code]

The problem is here:
    **java.lang.IllegalStateException: Set player using adsLoader.setPlayer before preparing the player.**

we caught it inside checkState function inside Assertions class which is not our code but exoplayers code.

any thoughts?

[2019-11-13 15:55] marcbaechinger commented on #6645
If you are not creating your own AdsLoader but you are using the ImaAdsLoader instead, then you are probably bound to the logic of the ImaAdsLoader. In general, it appears to me that playing non-IMA ad tags with the ImaAdsLoader could be risky, as you don't know what the ImaAdsLoader expects to find in the IMA specific tag.

If you are just setting more cuepoints then the ImaAdsLoader finds ads in

[2019-11-13 16:25] marcbaechinger commented on #6644
I guess after resuming, the player is very close to be behind the live window. It's kind of living on the edge :)

Like here:
[code]
My understanding is the following: Let's say the currentPosition is at -29000 (it's 29 seconds behind the live edge) and we have a full buffer of 29500, the buffered position results in being 500. If now downloading data is slower than real time for any reason (total

[2019-11-13 16:35] AquilesCanta commented on #6482
Apologies, I have just realized that @oleg4442's comment was unrelated to the original issue. Reopening to address the original report.

[2019-11-13 16:35] AquilesCanta commented on #6482
@MolchanovDmitry, I'm pinging the cast team to see whether they can assist, since the stream you provided is CORS enabled.

[2019-11-13 17:07] needz opened #6646 "Aspect ratio broken after switching between different resolution/aspect ratio videos"
When switching from 720x576 16:9 aspect video (aspect2.ts) to 720x576 4:3 aspect video (aspect3.ts), the 4:3 aspect video is stretched on the sides and cannot be scaled by playerView.setResizeMode. Afterwards, after switching to 1280x720 16:9 aspect video (aspect1.ts), then again to 4:3 aspect video, the aspect ratio is fixed on the 4:3 aspect video, but if we then switch to 720x576 16:9 aspect vi

[2019-11-13 17:51] kim-vde commented on #6643
I tried to reproduce on a Pixel 2 on Android 10 with a flac test file containing a sweep going from 1Hz to 96kHz sampled at 192kHz.

I first examined the PCM data outputted by the FLAC extractor using ExoPlayer `TeaAudioProcessor.java`. The frequency still goes to 96kHz, which means that the FLAC extension is not responsible for decreasing the frequency.

I then examined the frequency received by

[2019-11-13 18:35] theboubougne commented on #5718
Looks like the issue still exists with 2.10.7
I can reproduce it with the following stream: http://rogers-hls.leanstream.co/rogers/gra977.stream/playlist.m3u8

[2019-11-13 21:19] master255 opened #6647 "Out of memory playing high bitrate MKV"
Maybe Google doesn’t watch movies through its own media player?
Just replace link in demo app to:
[link removed]

and play more then 3 minutes.
I used:
releaseVersion = '2.10.7'
releaseVersionCode = 2010007

My device Galaxy S8+ Android 8.0.0. This is reproduced on all devices.
Files:
![123](https://user-images.githubusercontent.com/5380115/68804925-def7aa00-0673-11ea-8f16-b7de3e31132a.PNG)
![3333

[2019-11-13 22:26] ojw28 opened #6648 "Parse channel count and sample rate from ALAC initialization data, for robustness"
We do this for AAC [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/AtomParsers.java#L1118). Doing the same for ALAC will fix the issue that [this pull request](https://github.com/google/ExoPlayer/pull/6629) is attempting to work around.

[2019-11-14 00:44] brAzzi64 opened #6649 "Allow setting playback parameters for a future position (including media item transitions)"
Hi,

I'm using ConcatenatingMediaSource to play a sequence of videos, some of which need to be played at a different speed / pitch, while keeping a smooth playback.

The doc for Player#setPlaybackParams() states that "Playback parameters changes may cause the player to buffer.", so an approach that "monitors playback progress" and applies any updated params when necessary would not work well here.

[2019-11-14 02:06] #6573 closed, assigned to krocard

[2019-11-14 02:06] #6568 closed, assigned to AquilesCanta

[2019-11-14 02:06] #6559 closed, assigned to tonihei

[2019-11-14 07:45] giladna commented on #6634
@tonihei @ojw28

could you give it a look please?

[2019-11-14 09:06] harshmittal29 opened #6651 "PlayerNotificationManager not cancellable"
I am using PlayerNotificationManager and attaching it to Exoplayer.
I want to make the notification as cancellable when the video/audio is paused.

I am using stopForeground(false) when my video is paused but still the notification is non cancellable.

[code]

My minimum SDK is 16. I have also tried minimum SDK 21 but still does not works.
My Target SDK is 28.
I have checked quite a few forums but

[2019-11-14 10:25] khat33b commented on #6645
Oh, I didn't know that `ImaAdsLoader` was fine tuned for only IMA tags, I though it used the IMA SDK and could play well with any VAST tags. I used it because I didn't want to manually initialize and request ads and sync between the video player and ad player and thought the ImaAdsLoader would do all that stuff. I will try to implement my own loader.

[2019-11-14 10:37] krocard commented on #6643
To clarify, have  you observed a 32kHz signal on both the analog (on-device 3.5mm stereo jack) and the digital (USB) or just the digital interface?

[2019-11-14 10:39] marcbaechinger commented on #6651
I think you do not need your own event listener. You can remove your `onPlayerStateChanged` and just do:

[code]

[2019-11-14 13:16] swastik52 opened #6652 "Playing multiple video tracks in Exoplayer."
Hi Developer,

I have an mp4 container file that contains two video tack and an audio track in it. I have to play the two tracks side by side in two SimpleExoplayer instances how to do it by, passing the tracks to the corresponding instances for playing side by side.

[2019-11-14 14:11] icbaker commented on #6640
Thanks for the info!

Unfortunately I don't have a great answer for you.

You can modify the error handling behaviour by providing your own `LoadErrorHandlingPolicy` to the `HlsMediaSourceFactory`.

You can then disable the problematic track in your implementation of `getRetryDelayMsFor()`. You'd probably be best off extending `DefaultLoadErrorHandlingPolicy` and delegating all calls to that until

[2019-11-14 14:16] AquilesCanta commented on #6640
Skipping load errors was considered and discarded back when we designed the load error handling policy. I'll try to find out why and update this post.

[2019-11-14 14:25] icbaker commented on #6640
The load might not be malformed for this to still be useful - imagine your subtitle file is 404ing but you'd still like to play the video & audio. You'd need to know the track type to make that decision.

[2019-11-14 14:34] AquilesCanta commented on #6640
By malformed loads I mean anything that is not successful. ParserException, non-HTTP-200, etc. Updated the comment to avoid confusion.

[2019-11-14 15:00] kaiv2000 opened #6653 "RTMP stream not playing"
These RTMP streams cannot start to play, no error messages are showing in debugger:

rtmp://stream.triolan.net.ua:1935/cam32/stream
rtmp://stream.triolan.net.ua:1935/cam35/stream

Used extension 'com.google.android.exoplayer:extension-rtmp:2.10.7'

[2019-11-14 15:27] laurafuente opened #6654 "Problem playing video DASH+WV in a specific mobile phone"
Using the exoplayer demo application for version 2.10.4 in a concrete mobile phone I'm not able to play DASH+widevine video.

The information of the device it's the following:
Device name: Galaxy J7
Model number: SM-J700H
Android version: 6.0.1
Kernel version: 3.10.61-13202935
Build number: MMB29K_J700HXWU3BRC1

This it's the concrete asset used from exoplayer demo:
[code]

The error given by exop

[2019-11-14 15:30] giladna commented on #6634
@ojw28  media is expired
I will resend it

[2019-11-14 15:34] timusus opened #6655 "Custom Audio Processor"
### Searched documentation and issues

I've discovered some information about this in this issue tracker [Related Issue](https://github.com/google/ExoPlayer/issues/2659)

### Question

I'm trying to implement a custom AudioProcessor in order to apply equalizer effects to samples.

I've tried to modify the ChannelMappingAudioProcessor, but when I enable my AudioProcessor, playback stops working. It

[2019-11-14 18:16] jtimetraveler opened #6656 "Exo don't display video in android 10, NO_UNSUPPORTED_TYPE"
**Issue description**
I tried to implement Exo in my android project to stream some small videos from the server. It works perfectly for android sdk <29, but when I ran my app in android 10, it doesn't display any video. I used the demo app to check it and this has the same behavior. Both apps don't show any video in android sdk 29 but work perfectly in lower than 29. They show a black screen mean

[2019-11-14 23:40] ojw28 commented on #6656
This is an issue with the emulator, not with ExoPlayer. Please file your issue [here](https://issuetracker.google.com/issues/new?component=192727).

[2019-11-14 23:40] #6656 closed, assigned to ojw28

[2019-11-15 02:07] #6526 closed, assigned to andrewlewis

[2019-11-15 02:32] timusus commented on #6655
Oh sorry - I've figured it out.

The problem is that you must call setInputFormat() in configure() of the AudioProcessor, or queueInput() will not be called.

[2019-11-15 02:32] #6655 closed, assigned to nobody

[2019-11-15 04:32] ojw28 commented on #6639
The error message pretty clearly tells you what's wrong, doesn't it? I.e. Your code is creating an `AdsLoader` and is not calling `adsLoader.setPlayer` before preparing the player. So you should do that, to fix it. The demo app [does this here](https://github.com/google/ExoPlayer/blob/r2.10.7/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L572).

[2019-11-15 05:09] ojw28 commented on #6646
Please can you more clearly describe each of the three cases, what happens, and importantly, what you expect to happen? It's not clear from the description above. It's also unclear what you're passing to `PlayerView.setResizeMode`, and what you're trying to achieve.

[2019-11-15 05:32] ojw28 commented on #6647
The linked file is 70GB, and the server it's hosted on is so slow (at least from our office) that it would take over a day for us to download it. Do you have access to a faster server to host the content on, to help us reproduce what you're seeing?

Regarding the content itself: 70GB is pretty excessive for a movie. That's about 5x the bitrate that premium streaming services cap out at for 4K HDR.

[2019-11-15 07:17] needz commented on #6646
@ojw28, first of all, everything is happening with default aspect ratio in Exoplayer (without setting any PlayerView.setResizeMode) and switching happens without going back to the video list - I am just zapping through videos.

1) aspect3.ts transforms from 4:3 aspect to 16:9 format by stretching the picture from both sides, so the image is distorted. It must stay 4:3.
2) In this step going to 128

[2019-11-15 07:25] ojw28 commented on #6648
@ArtYemelianov - This is now fixed in the dev branch.

[2019-11-15 07:25] #6648 closed, assigned to ojw28

[2019-11-15 07:26] ojw28 commented on #4721
The last fix needed for this was submitted in https://github.com/google/ExoPlayer/commit/51711a0c97e6ed012356951591ef07135ef2a20b.

[2019-11-15 07:26] #4721 closed, assigned to AquilesCanta

[2019-11-15 07:28] #6641 closed, assigned to marcbaechinger

[2019-11-15 07:38] jakoss opened #6657 "PlayerNotificationManager not updating on fast consecutive actions"
### [REQUIRED] Issue description
I'm using ExoPlayer to play some HLS tracks. When i'm doing couple of fast actions (like tap 3-4 times Next button) by `mediaController` or in notification - the content i return in `PlayerNotificationManager.MediaDescriptionAdapter` doesn't get displayed. Notification displays one track previous to the one that is actually playing. So Changing playback this way pr

[2019-11-15 07:46] jakoss commented on #6657
On further investigation i found out that all methods in `MediaDescriptionAdapter` are getting called 3 times. This seems to mess with glide. But i don't know if it's relevant to the issue

[2019-11-15 08:38] ojw28 commented on #6646
Thanks! I can reproduce this. You're right - What's happening is that the two videos have the same resolution, but have different pixel aspect ratios. In `MediaCodecVideoRenderer` there's a new input format, but because the resolution is unchanged there's no format change on the output side of the decoder. This means that the new pixel aspect ratio isn't propagated correctly to the view, which mea

[2019-11-15 08:49] master255 commented on #6647
@ojw28 , This is a very fast server. Outgoing Internet speed 200Mbps. 4 core processor i7 8650U, SSD with 1700 Megabit outgoing speed. And he is busy only with the fact that he gives you this file.

The file size is large. Since it has a lot of different audio tracks. In general, this is a standard MKV file. Big bitrate. Yes. But this is 4k quality. Streaming services cut quality and their users c

[2019-11-15 09:26] ojw28 commented on #6647
This is not the case when requesting the file from where I am. Perhaps it's only fast within your own region. Not being able to obtain the file within a reasonable amount of time restricts our ability to reproduce this issue.

Nothing beyond ~1080p is perceptible to the human eye for a (normal sized) phone. Trying to play a 70GB 4K stream on a phone is already very excessive, let alone 8K. It's ne

[2019-11-15 09:29] Rvldo commented on #6620
Hello, @andrewlewis
I've try your solution above but still not working.. i see the codec in VLC for audio is MPEG Audio Layer 1/2 (mpga)

but another stream audio codec MPEG AAC (mp4a) is working well..

and i try to use android version 5 to stream MPEG Audio Layer 1/2 (mpga) using ExoPlayer, working well without FFmpeg extension..

i've tried your solution above but not working..

[2019-11-15 09:45] ArtYemelianov commented on #6648
@ojw28 , thanks for the quick response and fix. It was great!

I would like to ask when your team will the next version release? Perhaps do you have a plan to release?

[2019-11-15 10:05] Rvldo commented on #6620
i think my problem like this one..
https://github.com/google/ExoPlayer/issues/5204

you said that it working using the readme.
but i've tried many times not working.. i use the ExoPlayer Demo. and checkout to dev-v2
for NDK 20

[2019-11-15 10:16] JJSarrasin commented on #6648
@ArtYemelianov I'm following very close since a few weeks because I'm waitinng on a 2.11.0 feature. They've never been so closed. It should be a matter of day (or hours), but they sadly didn't want to communicate on release date.

[2019-11-15 10:37] marcbaechinger commented on #6652
Can you provide a bit more context on what you are trying to achieve?
Are you asking how you can keep two instances of ExoPlayer in A/V sync accurately to timestamps?

In general it feels that if you have these tracks in one file, you need to download it twice which does not seem to be efficient specfically if one video track is not used in one or the other player. So besides the A/V sync problem,

[2019-11-15 11:04] marcbaechinger commented on #6657
Thanks. I'l investigate whether I can repro this. I'll also check whether there are ways to reduce the number of calls on the description adapter some more.

In any case I'd recommend to not call Glide each time but have a cache for the bitmaps so that you can reuse it once you downloaded and scaled them. Please also see the java doc of the method for more details:

```Because the adapter may be c

[2019-11-15 11:18] jakoss commented on #6657
Thanks in advance for investigation.

I solved the glide multiple requests using coroutines and it does work fine
[code]

This way i create a `Deferred` job for every unique request that i pass to glide. Any consecutive requests are just waiting for that job to finish (by `await()`)

[2019-11-15 11:54] marcbaechinger commented on #6645
I see your point regarding reusing IMA for developer economics.

I think it make sense doing your own here, as it is more efficient if you don't need the IMA spcific parts. IMA is using a webview underneath and does vast/vmap parsing in JavaScript. This ads some memory requirements to your app. If you do this in Java/Kotlin you don't need to communicate with IMA under the hood. You also remove the

[2019-11-15 12:26] master255 commented on #6647
@ojw28 , And where does the phone? The bug indicates that it occurs on any device. My bug reproduces perfectly on a Sony 2019 TV with 4k screen. A telephone is like a demonstration that a more powerful device than a TV has the same problem. Because the phone is more powerful than the TV.
Right now, my phone is compressing a 70GB mkv file into a zip archive. Zip archiver works wonders. Compresses a

[2019-11-15 12:57] master255 commented on #6647
Yes. Russia is a harsh country :-)

[2019-11-15 13:02] master255 commented on #6647
@ojw28 , The file is ready. Unpack the packed file and test it over the network (WiFi 5G)
[link removed]

"More slow" server (2GB file):
[link removed]

I got exactly the same error just now, using this file.
If a 2 GB file is small, then I can send a 5 GB, 10 GB file..... To get the result.
My miracle phone is ready to generate :-)

[2019-11-15 13:06] marcbaechinger commented on #6657
Did this resolve the problem above or do you still manage to make the notification not update correctly?

[2019-11-15 13:13] jakoss commented on #6657
No, notification still have update issues. Sometimes meta will get updated, but bitmap won't (even if i call callback with proper bitmap)

[2019-11-15 14:01] Kamil-H opened #6658 "Getting notified about new playlist in ConcatenatingMediaSource"
### [REQUIRED] Searched documentation and issues
Official `ExoPlayer` documentation and source code of `ConcatenatingMediaSource`, `BaseMediaSource`, `MediaSourceEventListener` classes.

### [REQUIRED] Question
Is it possible to gets notified every time playlist (list of `MediaSource`) gets changed? I would like to get notified about every add, remove, move, clear operation. Generally, I would lik

[2019-11-15 14:31] marcbaechinger commented on #6658
Only a sliding window of the current timeline is synced to the media session queue. You can choose the size if you pass `maxQueueSize` to the constructor of the `TimelineQueueNavigator`. Having such a sliding window is recommended by the media framework though. So use that value wisely :)

Without the media session you can listen to the `EventListener.onTimelineChanged(timeline, reason) `callback.

[2019-11-15 15:20] ivan2311 commented on #6643
@kim-vde since you've tried this on your end and had no issues, a dig a little bit further into this problem and created even more simpler app that just plays sample .flac. And there was no issues, so it turns out it wasn't because of the ExoPlayer, but apparently something inside my app, which I'm still investigating.

@krocard I've observed on both interfaces.

@kim-vde @krocard Thanks for inves

[2019-11-15 15:44] Kamil-H commented on #6658
Thank you @marcbaechinger this works like a charm! Just one small fix to your code snippet for future readers:
`tags.add(currentTimeline.getWindow(windowIndex, window, true).tag);`
without `true` there is null instead of tag :)

[2019-11-15 16:08] luna-vulpo opened #6659 "How to force retry load chunk when server response is 415?"
From time to time I get 415 error on live stream. Like below. I want to retry load chunk till end of buffer or even delay playback.
How to achieve that?

[code]

[2019-11-15 16:10] marcbaechinger commented on #6658
Glad it works!

And oh, you've seen the future... :) The variant with the boolean is deprecated soon and should work as it does the same as with the flag.

See the dev-v2 branch: https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/Timeline.java#L744

I close the issue then. Please reopen if needed.

[2019-11-15 16:11] #6658 closed, assigned to marcbaechinger

[2019-11-15 16:20] marcbaechinger commented on #6659
Can you check whether [LoadErrorHandlingPolicy](https://github.com/google/ExoPlayer/blob/bef130ad17f11ab3997548653f2466e50bd6eb27/library/core/src/main/java/com/google/android/exoplayer2/upstream/LoadErrorHandlingPolicy.java) or it's default implementation [DefaultLoadErrorHandlingPolicy](https://github.com/google/ExoPlayer/blob/44293e8f45fc62ff918001b4425c44d0ded5ffc9/library/core/src/main/java/c

[2019-11-15 16:23] marcbaechinger commented on #6624
Cool. I'm closing for now. Please reopen if needed.

[2019-11-15 16:23] #6624 closed, assigned to marcbaechinger

[2019-11-15 16:24] marcbaechinger commented on #6549
Closing for now as I think this can be done with opaque icons for that API level. Please reopen if you think I'm wrong.

[2019-11-15 16:24] #6549 closed, assigned to marcbaechinger

[2019-11-15 16:48] marcbaechinger commented on #6544
I got my hand on a Samsung device to test. You are correct, there is no way to remove the buttons for navigating to the next/previous item.

According to my testing, that's a bug in the implementation of Samsung:

1) Notification: Not including prev/next actions in the notification
2) Media Session: Do not advertise ACTION_SKIP_TO_QUEUE_ITEM, ACTION_SKIP_TO_NEXT and ACTION_SKIP_TO_PREVIOUS
3) Medi

[2019-11-16 02:45] longxuewei opened #6660 "Black Screen Player.STATE_ENDED"
Black screen problem:
When my play completion status is: STATE_ENDED,
At this point, I press the Home button to return to the home page. When I return to this page again, the player changes from the last frame to a black screen. How can I solve this problem? I want to display the last frame when I return to the page! thanks

[2019-11-16 12:33] guidofranceschini commented on #6630
Thanks Tonihei for your kindness.
In the end I succeeded in implementing something working fine for my use case

[2019-11-16 17:56] krackjack234 opened #6661 "Random error saying unable to instantiate decoder"
[Question] Why does sometimes decoder initialisation fails?

[Description] We are using exoplayer in a fragment. When user selects an asset from the page, we create a new fragment and exoplayer instance and then the old fragment gets deleted. So for some time, there can be 2 exoplayer instance available in memory

We are seeing one issue on a phone having Android 9 and another on Android 6.
After

[2019-11-16 17:58] kayamy opened #6662 "Migrating cache keys to new format with SimpleCache"
This is the situation in brief:

We have some HLS audio content that was being loaded from a server looking like `https://objectstorage.com/versions/c82ed32e/1.ts`. We were using the default `SimpleCache` implementation. After inspecting the `SimpleCache` keyset, I found that it was using the full url as the cache key (e.g.`https://objectstorage.com/versions/c82ed32e/1.ts`)

We decided to move the