[2018-07-23 09:49] ojw28 commented on #4532
Can you derive an (approximate) percentage of playbacks that result in the crash on the affected devices? In particular, do you think this crash occurs for every playback on the affected devices, or sporadically?

You say you've been unable to reproduce the crash yourselves. Is this because you don't have one of the affected devices, or is it the case that you do have one of the affected devices,

[2018-07-23 09:58] fredduarte opened #4552 "Error while playing encrypted streams on S7 Edge : Error decrypting data: unspecified error"
### Issue description
We are having an issue with DASH playback of protected content with Widevine Modular DRM
when playing any of our streams on our customer app.

Whenever we play protected content with the DASH and DRM specs from above,
we get the following error message:
[code]

This issue is always happening with Samsung Galaxy S7 Edge (**SM-G935F**) running on Android 7.0.

### Reproduction

[2018-07-23 10:02] satyres commented on #4548
Thanks so much for your answer.
Can you tell me how to put it in MP4 container ?
by the way , ts file (from HLS streams) won't play using Exoplayer aswell (local file not stream)
Best regards

[2018-07-23 10:12] jschamburger commented on #4532
Unfortunately, I cannot derive a percentage of playbacks that result in the crash, but in the logs, I saw that not every playback leads to a crash on the affected devices.  For some users, I have seen several "zapping" events (= playback stop + playback start of another stream) before the crash occurred.

I haven't been able to reproduce the crash because I do not have an affected device. I'm tryi

[2018-07-23 10:12] AquilesCanta commented on #4549
Unfortunately, this is not something we support.

In terms of media composition, you should look at ClippingMediaSource, ConcatenatingMediaSource and MergingMediaSource. We don't support silence insertion. Our track architecture would not fit well in the described scenario. For example, for merging media sources, we enforce media period count matching. Finally, there are a few issues in this track

[2018-07-23 10:12] #4549 closed, assigned to AquilesCanta

[2018-07-23 10:31] zishanj opened #4553 "Error inflating class com.google.android.exoplayer2.ui.PlayerControlView"
In my activity layout I am using custom player like this:

[code]

and this is `layout_player` controller from above:

[code]

In my activity I am referencing this layout using `ButterKnife` like this:

[code]

But on some devices user have reported this random crash:

[code]

[2018-07-23 10:45] AndroidDeveloperLB commented on #4541
About audio-ducking, again, it's true that it's a good thing in general to use it, but it's irrelevant to the issue I'm describing. I'm talking about volume level, that since it's shared with navigation instructions, and since the user could change the volume level due to songs with different volume levels in them, it will affect the navigation instructions too.

About the ringtone, it is related

[2018-07-23 10:55] qeadsw opened #4554 "Cannot play RTSP and M3U8 format video!"
This is the address that provides the test.

rtsp://184.72.239.149/vod/mp4://BigBuckBunny_175k.mov
http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8

[2018-07-23 10:55] AndroidDeveloperLB commented on #4546
It's related to ExoPlayer, since it's a part of the API that the ExoPlayer provides, including the docs, which are from the fraemework, and used on ExoPlayer.

Can you please explain the meaning and the purpose of the flags I've used, then?
If it's not for calls and ringtones ([**USAGE_NOTIFICATION_RINGTONE** ](https://developer.android.com/reference/android/media/AudioAttributes.html#USAGE_NOTIFI

[2018-07-23 11:00] andrewlewis commented on #4546
Our docs are linking to the javadoc on the framework constants which you've found already.

Assuming your ringtones contain speech, those settings look fine to me, but you'll need to use them in your custom calling app not in a media playback app that isn't integrated into the telecom subsystem.

[2018-07-23 11:17] AndroidDeveloperLB commented on #4546
Again, the docs don't explain it well. Not sure that the linking works, but it's probably because I have compileSdk 28.

What are ringtones that contain speech? Those that tell who's the caller, using text-to-speech ?

Are there better flags to use in this case, that will work for ExoPlayer even if the current app isn't the current dialer?

It's too bad that even if I do need to replace the UI of

[2018-07-23 11:37] ojw28 commented on #2565
This should be supported in `dev-v2` as of https://github.com/google/ExoPlayer/commit/3c4b0aa11b9dbee8005d12def4b20cbd0d98b640

[2018-07-23 11:37] #2565 closed, assigned to AquilesCanta

[2018-07-23 12:20] BrainCrumbz commented on #4542
Have you got any preference on behaviour w.r.t. indices and overflows? We'd prefer a more *tolerant* approach, like the following:

1. when range is empty (i.e. beginning === end), no track is removed, no error is thrown, callback is invoked
1. when range is malformed (beginning > end), no track is removed, no error is thrown, callback is invoked
1. when range is partially out of bounds (beginning

[2018-07-23 12:37] tonihei commented on #4542
That's seems slightly too tolerant in my opinion. :)
1 . That's fine.
2./3./4. These should throw an `IndexOutOfBoundsException`.
In the end, calls to `mediaSource.removeMediaSourceRange(i, i+1)` should be exactly equivalent to calls to `mediaSource.removeMediaSource(i)`. You'll notice that the latter one throws if the index is out of bounds.

Also, as you said above, the method signature is simil

[2018-07-23 13:00] OMArikan commented on #4532
I know that exception since **1.5.8** version. In old ExoPlayer i changed **ASSERTIONS_ENABLED** to false to get rid of crash but now I'm using 2.8.2 and same problem still appeared on Samsung Devices with OS 7.0. **ASSERTIONS_ENABLED** is public static final in **ExoPlayerLibraryInfo** and can't modified this time cause I'm using 2.8.2 with gradle implementation.

Device model ratio is changing a

[2018-07-23 13:10] mkarthick92 opened #4555 "Build codecs string from SPS data when unavailable elsewhere"
Hi,
 We are facing issue in playing the URL, which was working fine
 but the audio and seek bar is working but the video is not working, below URL
"https://sprngpodmw.igolgi.net:8080/webdav/index/index.m3u8"
The video URL is some computer VLC player but not play the some one and face the same issue ..

The above URL is not getting played in any android version. Please send your suggestions to reso

[2018-07-23 13:16] LaddhaShubham commented on #4545
my means, I have two videos...one is upload from android and second is upload from ios and i downloaded both video from server url. but in my mac I saw that ios video get info shows "Color Profile: HD(1-1-1)" but for android video not get key of "Color Profile". that means ios do capture HD video and which is not supported by exoplayer.

This is of iOS video info:
![screen shot 2018-07-23 at 6 42

[2018-07-23 13:20] ojw28 commented on #4545
The issue template clearly defines what information we need to help. If you can provide the information requested in the template, we will help you to solve the problem.

[2018-07-23 13:27] LaddhaShubham commented on #4545
This player doesn't supports HD Videos. Check in your end.
I didn't get you. What kind of more info you need from me. let me know..

[2018-07-23 13:29] ojw28 commented on #4545
When you file an issue, the issue is pre-populated with a template that lists what information we need. I've also copied it below.

--------------------------------------------

When reporting a bug:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may

[2018-07-23 13:44] erdemguven commented on #4544
I don't see any problem in the code and can't repeat the issue.
Please provide the information asked in the issue template: https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE

[2018-07-23 14:16] ZohaibGhafoor commented on #4544
@erdemguven for example when i start 5 multiple downloads then in getForegroundNotification taskStates variable has 2 started downloads and 3 queued. but DEFAULT_MAX_SIMULTANEOUS_DOWNLOADS = 1. so it should download 1 media at a time not 2 .

[2018-07-23 14:29] erdemguven commented on #4544
How do you create DownloadManager? If you're using the DemoDownloadService code, it sets maxSimultaneousDownloads parameter to 2.

[2018-07-23 14:36] ZohaibGhafoor commented on #4544
@erdemguven no it isn't . yes i am using DemoDownloadService it sets to 1 not 2 . if it is 2 then can you please give me reference of file and line number.

[2018-07-23 14:39] ZohaibGhafoor commented on #4544
@erdemguven aaahhh ok got it it is defined in DemoApplication file. let me solve my issue and check Thankyou so much for help and solving my biggest problem.

[2018-07-23 14:47] BrainCrumbz commented on #4542
Cool. Ok for 1. -- 4.

About your doubt, well, here's a possible usage:

The caller wants to remove tracks from 0 to N-1, leave N untouched, then remove tracks from N+1 to the last. When implementation is "very" tolerant, caller can just pass those indices, without checking whether N points to the very first or very last item in playlist. So basically without checking N's position w.r.t. to bounds

[2018-07-23 14:52] tonihei commented on #4517
I tested you example file and also got an extremely high memory usage, especially around the 2:30 mark.

However, after looking deeper into your file, I'd conclude this is working as intended because this section has very large media samples and the player needs to buffer them according to its buffering policy. The effective bitrate of some of these samples is over 500 Mbps.

Note that the `Defaul

[2018-07-23 14:53] ojw28 commented on #4492
The actual crash should be fixed now. Please could you try `dev-v2` to see if your live stream still gets stuck (i.e. there's something else wrong), or whether the issue is now resolved?

[2018-07-23 14:59] ojw28 commented on #4482
1. You do need a foreground service. The notification alone is not sufficient.
1. `PlayerNotificationManager` has callbacks that it invokes when it starts and stops showing a notification. You can use these to put your service into (and out of) the foreground. There's an example of this [here](https://github.com/google/ExoPlayer/blob/io18/audio-app/src/main/java/com/google/android/exoplayer/audiod

[2018-07-23 14:59] #4482 closed, assigned to marcbaechinger

[2018-07-23 15:00] ojw28 commented on #4482
You may also find [this talk](https://www.youtube.com/watch?v=svdq1BWl4r8) helpful, which walks through much of the example I've linked to in my post above.

[2018-07-23 15:00] tonihei commented on #4542
Thanks for the explanation. Would still prefer to have the consistency with the other APIs as explained above. The example is also relatively easy to implement:
[code]

[2018-07-23 15:22] hezie100 opened #4558 "freeze frames on playing LIVE DASH ABR streams with the ExoPlayer"
I'd like to have more details on the ExoPlayer specifications, especially on LIVE (channels) DASH ABR streaming.
what's the supported video codec and audio codec ?
what's the required amount of Levels/ bit rates in manifest ?
what's the required chunk size for the segments ?
do I need to set any sliding window for the player to be able to seek in time or not ?
what's the setup required in order to

[2018-07-23 15:33] ojw28 commented on #4558
If you have a DASH live stream that's freezing, the best thing you can do is to properly full out our issue template, providing the stream, so that we can take a look.

We do not have any hard requirements on most of the specific questions that you pose.

[2018-07-23 16:06] andrewlewis commented on #4448
I was able to reproduce this using the demo app on NVIDIA/foster_e_hdd/foster:8.0.0/OPR6.170623.010/3019194_1174.8512:user/release-keys with the first sample you sent over, when switching from 'English, Surround sound' to 'Russian, Surround sound'. It looks like a platform issue so I've filed [internal: b/111744359] and will follow up with any updates.

[2018-07-23 16:07] andrewlewis commented on #4448
Note: tentatively marking as a platform bug, as I was able to reproduce this on a Nexus Player running Oreo too.

[2018-07-23 16:24] hezie100 commented on #4558
Hi
providing to you some downloaded chunk files of live stream and their related MPD manifest file will help to analyze, or do you need a LIVE URL to watch it on real time ?
thx

Hezi.

[2018-07-23 16:24] baconz commented on #4321
@ojw28 sorry, I missed that! I saw mentions of CEA-608 improvements in the 2.8.2, and didn't bother to check if they were _these_ improvements.

Let me know if I can further assist in testing, or if you have any questions about the content I posted.

[2018-07-23 16:39] AquilesCanta commented on #4551
@erdemguven, would you mind taking a look at this?

[2018-07-23 16:43] AquilesCanta commented on #4552
Please provide the sample stream, it might be useful. @paf-wv, could you take a look?

[2018-07-23 17:53] ojw28 commented on #4558
We need a way to reproduce the issue. So unless we can reproduce the issue with the files (seems unlikely), we'll need a live URL.

[2018-07-23 18:15] hezie100 commented on #4558
I need to pass to you a LINK to play LIVE DASH Stream but personally from one source IP to test.
the source IP of yours from which you'll test it will be opened on our Firewall and you'll get a one-time-URL
please provide to me your public source IP for which I need to enable HTTPS access to that link to test
Thx,

Hezi.

[2018-07-23 19:28] ojw28 commented on #4558
Please could you setup a non-restricted test stream. You can share a stream to `dev.exoplayer@gmail.com` if you don't want the URL to be visible here. If you're really concerned about protected your content beyond that, then it should be possible for you to feed your video pipeline is with a freely available video, such as [Big Buck Bunny](https://peach.blender.org/). We don't generally jump throu

[2018-07-23 22:57] BrainCrumbz commented on #4542
BTW, actual example from real code was from **1** to N-1, etc. (not from **0**). My bad.
Anyway, I digress.

[2018-07-24 03:25] duduniao opened #4559 "frame frozen appears when playing short video in loop mode"
### Issue description
use exo-player play a short video in loop mode, after about 20 time, frame frozen occurred.
below is the video:
https://vimeo.com/user87631413/review/281380616/9f0f3586bd

### Reproduction steps
play short video in loop mode, use the video i uploaded in ExoPlayer demo can reproduce.
https://vimeo.com/user87631413/review/281379544/f9af9bbd5a

### Link to test content
play shor

[2018-07-24 04:52] qeadsw commented on #4554
@aquilescanta @ojw28

[2018-07-24 06:08] StaticBR commented on #4510
@botaydotcom are there any news on this issue?

[2018-07-24 07:38] andrewlewis commented on #4546
I don't think so. You mentioned audio attributes with `CONTENT_TYPE_SPEECH` above, but for a ringtone sound effect this should probably be `CONTENT_TYPE_SONIFICATION` instead (I doubt it will make any difference to what happens when there's an incoming call, though).

[2018-07-24 08:34] vinayjoglekar opened #4562 "SelectionOverride parameters"
Hi,
I am completely confused between parameters given for **DefaultTrackSelector.SelectionOverride** method and `parametersBuilder.setSelectionOverride` method.

`DefaultTrackSelector.SelectionOverride override = new DefaultTrackSelector.SelectionOverride(int groupIndex, int... tracks);`

`DefaultTrackSelector.ParametersBuilder parametersBuilder = mDefaultTrackSelector.buildUponParameters();

[2018-07-24 08:44] ZohaibGhafoor opened #4563 "Add a way to force update DownloadService notification"
in Demo App how i can set or update Download Notification Large Icon Asynchronously when it retrive from server ?

[2018-07-24 09:11] andrewlewis commented on #4549
In addition to what @AquilesCanta said, here are some tips that might help setting this up. It's likely to end up being a lot of work, and we won't be able to provide much more detailed guidance at the moment I'm afraid.
- To work around the limitations with merging media with start/end times that don't match up, you could set up a separate player for the audio streams.
- Then you can synchronize

[2018-07-24 09:39] hezie100 commented on #4558
Hi
the stream itself is not restricted, only the access into it
so I can provide a clear stream that only yours source IP can access it - could you please provide to me your source IP and I'll provide to you the Link to the stream and token to put on the call ?
please update
thanks.

[2018-07-24 09:40] ojw28 commented on #4558
Providing specific IPs isn't practical for us, sorry.

[2018-07-24 09:46] AquilesCanta commented on #4562
Hi @vinayjoglekar, each method contains a bit of useful javadoc that might help narrow down questions. It's not the purpose of this issue tracker to document stuff. If we take out an improvement opportunity out of the questions, we'll update the javadocs, but we cannot provide a full blown tutorial here.

The [developer guide](https://google.github.io/ExoPlayer/guide.html) will probably clear some

[2018-07-24 09:46] #4562 closed, assigned to AquilesCanta

[2018-07-24 09:49] andrewlewis commented on #3623
@olenev The bug report from the Samsung SM-J120H linked above doesn't appear to include the original error. Please could you reproduce the issue and take the bug report immediately afterwards?

For the Nexus 5 issue it looks like the surface used by one of the decoders is not valid. There are also multiple players active at the same time. Please make sure your app is handling the surface lifecycle

[2018-07-24 09:51] konaire commented on #4517
Thank you for information. Now my app doesn't crash after changing `DefaultLoadControl`. But video still lags somewhere between 2:26 and 2:34 because of such high bitrate. So I will reconvert the video to fix this behavior.

[2018-07-24 09:53] erdemguven commented on #4563
DownloadNotificationUtil doesn't support setting large icon currently. You need build your notification yourself to set a large icon. What do you mean by setting asynchronously?

[2018-07-24 09:55] #4544 closed, assigned to erdemguven

[2018-07-24 09:56] #4536 closed, assigned to erdemguven

[2018-07-24 09:56] #4518 closed, assigned to erdemguven

[2018-07-24 09:59] #3640 closed, assigned to erdemguven

[2018-07-24 09:59] #3682 closed, assigned to erdemguven

[2018-07-24 09:59] hezie100 commented on #4558
ok
who owns please this email account ? dev.exoplayer@gmail.com
thanks.

[2018-07-24 10:03] ojw28 commented on #4553
It's quite hard to say what's causing this, particularly given you have a custom controller layout. Are you sure that exception is the root cause? I wouldn't be surprised if there's another "Caused by" exception after it, or else something in the logs before it, that gives the true root cause. Are you able to reproduce locally?

[2018-07-24 10:14] hezie100 commented on #4558
hi
any answer ?
thanks.

[2018-07-24 10:18] zishanj commented on #4553
I just investigated further and came to know that there was one image button which was not referenced correctly in the player layout. My bad! :)

[2018-07-24 10:18] #4553 closed, assigned to ojw28

[2018-07-24 10:31] ZohaibGhafoor commented on #4563
@erdemguven asynchronously means when getForegroundNotification show notification. then in getForegroundNotification method i also fetch bitmap from remote server when image bitmap comes back i need to update the notification large_icon or any other data to show on the notification.

[2018-07-24 10:33] vinayjoglekar commented on #4562
Thanks, @AquilesCanta

Can these methods be used to toggle between multiple subtitles tracks?

[code]

[code]

In above code, SUBTITLE_TRACK_GROUP_INDEX is 2 which is track group number from trackselector for subtitles and mCaptionsTrackIndex is index within rendererTrackGroups which needs to be selected.
The above code always selects first element from rendererTrackGroup array even if mCaptionsTr

[2018-07-24 10:38] AquilesCanta commented on #4554
The HLS stream seems to be working fine.
For RTSP support, see #55.

[2018-07-24 10:38] #4554 closed, assigned to AquilesCanta

[2018-07-24 10:53] AquilesCanta commented on #4559
Can you provide the video that reproduces the issue so we can try to reproduce ourselves?

[2018-07-24 10:55] BrainCrumbz commented on #4542
Hi there. Here's the initial PR proposed changes. Please have a look at that and feel free to comment or request changes.

Not sure about:

1. [message identifier constant](https://github.com/BrainCrumbz/ExoPlayer/blob/2c801ca2678016d5464caf214f45e6448f018756/library/core/src/main/java/com/google/android/exoplayer2/source/ConcatenatingMediaSource.java#L53) value and ordering

1. line length due to

[2018-07-24 10:57] herotha-sompom commented on #867
@dishantkawatra could you give that source code to me?

[2018-07-24 10:59] erdemguven commented on #4563
I think you need to create a new notification and replace the existing one using Service.startForeground() method or you can just wait until the next time getForegroundNotification is called and return the new notification.

[2018-07-24 12:26] kfrydel commented on #2469
I see the same issue on Mi Box + SHARP AQUOS TV. It is reproducible using ExoPlayer demo app (running on Mi Box) on following HLS asset (Sintel): https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8
You have to plug HDMI cable out from the Mi Box and then plugin it in back. The video get staled in few to dosen seconds. It is almost always reproducible when doing these steps.
ExoPlayer r

[2018-07-24 12:47] AquilesCanta commented on #4555
@tonihei, would you mind looking at this? The issue is only reproducible after a several loops of repeat mode, increasingly noticeable. It's caused by the audio track somehow drifting from the video. If you disable the audio, the issue does not reproduce. If you don't think it's related to repeat mode, just assign back to me.

[2018-07-24 12:53] AquilesCanta commented on #4559
@tonihei, would you mind looking at this? The issue is only reproducible after a several loops of repeat mode, increasingly noticeable. It's caused by the audio track somehow drifting from the video. If you disable the audio, the issue does not reproduce. If you don't think it's related to repeat mode, just assign back to me.

[2018-07-24 13:02] ValeryPonomarenko commented on #4468
@ojw28 we had the same issue on a Meizu Pro 7 phone (the device name is **PRO7S**). I added the device name inside the `codecNeedsSetOutputSurfaceWorkaround` method and now everything works well.

Could you add this device name too, please?

[2018-07-24 13:41] ojw28 commented on #4523
Closing due to lack of information. If you're able to provide the information in the issue template, please respond with it here and we'll re-open the issue.

[2018-07-24 13:41] #4523 closed, assigned to ojw28

[2018-07-24 13:52] EusebioMorell opened #4565 "Freeze when playing IMA ads with mid-roll"
### Issue description

When playing HLS live streams with IMA ads with pre-roll and mid-roll, ExoPlayer freezes at the beginning of the ad, in BUFFERING state. I expected the ad to be shown and the video to continue normally.

If calling 'seekTo' at the beginning, ExoPlayer manages to play the pre-roll ad, but it still freezes in the mid-roll ad.

I reproduced this on "demo-ima" app.

### Reproduc

[2018-07-24 14:00] ojw28 commented on #4558
Google owns it.

[2018-07-24 14:18] deniotokiari opened #4566 "ExoPlayer dash multistream support"
Does exoplayer supports multistreaming of few secured dash streams?
For example I have to implement screen with two or more video views with different streams.

[2018-07-24 14:24] AquilesCanta commented on #4565
@andrewlewis, would you mind having a look?

[2018-07-24 14:25] AquilesCanta commented on #4565
The HLS stream seems to work ok without ads.

[2018-07-24 17:02] dishantkawatra commented on #867
Sure, I give you code Tommorow

On Tue 24 Jul, 2018, 4:28 PM herotha-sompom, <notifications@github.com>
wrote:

[2018-07-24 17:10] botaydotcom commented on #4510
Unfortunately I haven't got the time to continue working on this yet. I'll spend time on this issue later this week.

[2018-07-24 17:43] armanhi opened #4567 "HLS Download selecting quality"
Hi, I'm trying to accomplish exactly what's described in issue https://github.com/google/ExoPlayer/issues/4177, but I haven't managed to do so even using an HlsDownloader to list qualities to the user.

Can you give me any hint on how it can be done?

Thanks!

[2018-07-24 18:59] letianxu opened #4568 "[Question] Can ExoMediaDrm.provideKeyResponse be called in different thread than playbackLooper thread?"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-07-24 19:58] AndroidDeveloperLB commented on #4546
That's too bad.
Can you please consider adding this, then?
Here:
https://issuetracker.google.com/issues/111785360

[2018-07-24 22:43] szaboa commented on #4306
@ojw28, It seems I am ready with this one, here is the pull request:

New one: https://github.com/google/ExoPlayer/pull/4582

~~https://github.com/google/ExoPlayer/pull/4569~~ Closed this, because the pull request was made from dev-2 and not a feature branch

[2018-07-25 01:39] herotha-sompom commented on #867
@dishantkawatra thanks for your help

[2018-07-25 03:28] zapjonny commented on #4073
FWIW
Version 7 looks like it might work EXT-X-DATERANGE
https://github.com/google/ExoPlayer/issues/3319
http://alexzambelli.com/blog/2016/05/04/understanding-hls-versions-and-client-compatibility/

[2018-07-25 03:49] vinayjoglekar opened #4570 "Subtitles Toggle"
I am using exoplayer 2.8.2.
[code]

[code]

In above code, SUBTITLE_TRACK_GROUP_INDEX is 2 which is track group number from trackselector for subtitles and mCaptionsTrackIndex is index within rendererTrackGroups which needs to be selected. The above code always shows english subtitles and not others in array.

[2018-07-25 05:55] peddisri opened #4571 "2 second buffering at video decoder causes frequent re-buffering"
### Issue description
Amazon's [4K Fire TV Gen3](https://www.amazon.com/dp/B01N32NCPM/ref=nav_timeline_asin?_encoding=UTF8&psc=1)  has a 2 second buffering at the input of video decoder. (HEVC and AVC). This results into substantial amount of frames being queued up at the input of decoder. This 2 second of  data in the video decoder pipeline is not accounted for when exoplayer decides it needs to

[2018-07-25 05:57] peddisri commented on #4571
Related issue: https://github.com/amzn/exoplayer-amazon-port/issues/42

[2018-07-25 07:09] jschamburger commented on #4532
@OMArikan Thanks for your input! It's good to know that the problem occurs for others as well.

[2018-07-25 08:00] szaboa commented on #4422
@ojw28 Does somebody already work on this?
If not, what would you say about the difficulty of this enhancement?

Based on a quick look to the code I would start like this:

Key-value pairs after the EXT-X-DEFINE tags needs to be saved from the master playlist, and when parsing the hls I would check if a line contains any of the key (in a correct form {$<key>}) and just replace it with the correspo

[2018-07-25 08:58] JofArnold commented on #4549
Thanks for the details. That makes sense.

My concern about running multiple concurrent media players was that I read there’s a limit to how many instances can run at the same time. Do you know if this is the case? I need to support back to 5.0 and I can imagine some devices of that era are quite memory limited, for instance.

Note the players do not (and in fact should not) interact with the read

[2018-07-25 09:04] erdemguven commented on #4567
Please take a look at this post: https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e

[2018-07-25 09:34] andrewlewis commented on #4549
Yes. However, this is generally more of a problem when using multiple video decoders where hardware-accelerated codecs are used (see also #1286), whereas audio decoding will use software codecs. There is a limit on the total amount of audio track buffer size that can be allocated by all players, but I expect you won't encounter this with just a few players.

[2018-07-25 09:42] AquilesCanta commented on #4568
ExoMediaDrm aims to provide an interface for implementing custom `MediaDrm`s other than the framework one. MediaDrm does not impose threading restrictions other than being called from a thread with a running Looper. I guess that to be safe, the thread should always be the same.

In practice, DefaultDrmSession calls it from the playback thread. I say this because you haven't clarified what you inte

[2018-07-25 09:42] #4568 closed, assigned to AquilesCanta

[2018-07-25 09:57] ojw28 commented on #4568
I think `MediaDrm` (and therefore `ExoMediaDrm`) allows method calls from any thread*, but is not synchronized (similar to something like `ArrayList`). So it's safe to call methods from multiple threads if and only if you implement adequate synchronization in your application code.

\* I couldn't find a documented requirement that the calling thread must have a running `Looper`, except specificall

[2018-07-25 10:00] ojw28 commented on #4422
That's a question for @AquilesCanta

[2018-07-25 10:00] AquilesCanta commented on #4570
Hi @vinayjoglekar, the issue tracker is not intended for general ExoPlayer Q&A, unfortunately. You'll have better luck in a general Q&A site like StackOverflow. Make sure you provide as much context (and examples) as possible in your questions in order to avoid luring people away with the required guesswork.

Looks weird to me that you are creating a SelectionOverride with a constant track group,

[2018-07-25 10:00] #4570 closed, assigned to AquilesCanta

[2018-07-25 10:01] AquilesCanta commented on #4422
Yes, I have been looking at it. I am currently working a different small feature for HLS, but will look into this right after.

[2018-07-25 10:10] ojw28 commented on #4532
@OMArikan Please can you provide some sample stack traces, so we can double check it's exactly the same issue.

[2018-07-25 10:24] szaboa commented on #4422
@AquilesCanta Got it!

[2018-07-25 11:31] armanhi commented on #4567
Oh, haven't seen it. Thank you very much!

[2018-07-25 11:31] #4567 closed, assigned to erdemguven

[2018-07-25 11:56] sandeepyohans commented on #867
@dishantkawatra  I am still waiting for your reply.

[2018-07-25 12:55] Lukaaaa opened #4572 "How to use transportControls.playFromUri"
I just want to start an audio live stream. How can this be achieved, i have tried:
``` transportControls.playFromUri(Uri.parse("http://mp3stream2.apasf.apa.at:8000/"), null) ```

and also implemented the method in UampPlaybackPreparer
[code]
onPrepareFromUri is never called and requested stream does not start.
Could you provide a short snipped/explanation how to play an audio livestream from stati

[2018-07-25 13:10] KarlGallagher commented on #4496
This is also reproducible on the Samsung Galaxy Tab S3 (Snapdragon 820)
Android 8.0

Happens with both L1 and L3 here.

[bugreport-2018-07-25-14-06-39.zip](https://github.com/google/ExoPlayer/files/2227992/bugreport-2018-07-25-14-06-39.zip)

I have also sent an example stream and Widevine license proxy to dev.exoplayer@gmail.com

[2018-07-25 13:13] tonihei commented on #4559
It seems the issue is somehow produced by having edit lists in the audio and video track of the file. The audio edit list is handled using gapless metadata and the video edit list is handled by the standard procedure of editing each sample timestamp. It seems this somehow causes the occasional audio underruns after some loop iterations. If I force disable the gapless info handling of edit lists (a

[2018-07-25 13:23] AquilesCanta commented on #4571
@ojw28, would you mind taking a look?

[2018-07-25 13:33] marcbaechinger commented on #4572
You are doing the right thing. The snippet you show should work.

If you've taken the code from UAMP, I think you may also have taken over `getSupportedPrepareActions()` which returns the actions the `UampPlaybackPreparer` supports. UAMP does not support all actions. So you may want to add the                     `PlaybackStateCompat.ACTION_PLAY_FROM_URI `to the method to make sure the connector c

[2018-07-25 13:55] tonihei commented on #4542
Added some comments to the PR. 1. has been addressed. 2. is probably irrelevant now and 3. can be done by us.

[2018-07-25 14:04] #4572 closed, assigned to marcbaechinger

[2018-07-25 14:08] Lukaaaa commented on #4572
@marcbaechinger yes, took the sample code from UAMP. Thx a lot it works (ACTION was missing in getSupportedPrepareActions) !! And this is the right way to play audio livestrem?

[2018-07-25 14:37] hezie100 commented on #4558
Hi
since we noticed some freeze frames, which parameters on ExoPlayer are related to the player buffer management ?
about the actual quality of video, the player has some video filters we can adjust ?
could you please share with a link to the video & audio set of parameters managed by the ExoPlayer ?
thx

Hezi.

[2018-07-25 15:03] ojw28 commented on #4558
Your problem is unlikely to be related to parameter configuration. It's more likely that your content doesn't correctly implement the DASH spec, for example.

We cannot help in an efficient way without a non-restricted test stream. The URL can be shared privately to `dev.exoplayer@gmail.com`, or publicly here. Unless we receive such a stream we'll have to close this, since there's nothing actionab

[2018-07-25 15:38] luckylook commented on #4522
Thanks, but I have another problem right now :/
when I stop playing I call player.stop() and then player.release().
player.stop() runs with no errors but when player.release() is called right after it works fine sometimes but other times the app gets stuck when the code reaches player.release()
No exception is Thrown and the app is frozen/stuck and I get this:
I/ExoPlayerImpl: Release 21ad691 [Exo

[2018-07-25 16:00] ojw28 opened #4573 "SCTE-35 metadata has incorrect timestamps"
This is reproducible using the sample provided [here](https://github.com/google/ExoPlayer/pull/4557#issuecomment-407729466).

From an initial look, it appears the samples are queued with incorrect timestamps in `SpliceInfoSectionReader.consume`. In particular because `getLastAdjustedTimestampUs` appears to return an unadjusted timestamp, rather than an adjusted one? It could be that simply fixing

[2018-07-25 16:13] letianxu commented on #4568
Thanks guys. We were experimenting feeding the license in different threads, that why

[2018-07-25 16:35] michaelizer opened #4574 "Logo Proposal"
Greetings,

I'm a graphic designer and I like contributing to open source projects. I would love to make a logo for yours, for free. Please let me know if you are interested, if yes I will ask you a few questions for the logo to fit great in your project.

Miguel Medina, michaelizer.
Best regards.

[2018-07-25 16:54] ojw28 commented on #4574
Closing as spam.

[2018-07-25 16:54] #4574 closed

[2018-07-25 17:02] ojw28 commented on #4571
Gen 3 FireTV is out of stock until August 25th in the UK. We've ordered one, so will take a look at this when it arrives. Alternatively, if you fancy sending one our way a little bit faster, feel free to get in touch ;).

[2018-07-25 17:07] szaboa commented on #4304
@ojw28
Can I work on this or it is already in progress?

[2018-07-25 17:17] ojw28 commented on #4304
Feel free to work on this! I think I'd envisage a new `PlayerView.setShowBuffering` method that takes an `IntDef` that can have three values (`SHOW_BUFFERING_NEVER` / `SHOW_BUFFERING_WHEN_PLAYING` / `SHOW_BUFFERING_ALWAYS`). You can then deprecate the old method and update it to call the new one in a way that maintains its current behavior:

[code]

Open to other approaches also.

[2018-07-25 17:25] SeanYouI commented on #4404
We're working on locking down our streams to prepare for release which means the live asset I provided will soon be inaccessible. This will likely happen within a few weeks. Is there any chance this will get looked at before then?

[2018-07-25 17:50] peddisri commented on #4571
Can you send your address to pii-ExoPlayer-core@amazon.com ? We'll check internally if we have spare devices to share.

[2018-07-25 18:03] peddisri commented on #4571
BTW, I wound't tag it as a device specific issue. Any device can choose to support a large buffering  at input port of video decoder (as the memory capacity of devices increase)

[2018-07-25 18:08] ojw28 commented on #4571
Email sent; thanks!

[2018-07-25 18:44] ojw28 commented on #4511
Got it. And given the choice of specifying the minimum bound in terms of resolution or bitrate, which would you prefer? We may add support for one (or both), although it'll likely be handled as a low priority request.

[2018-07-25 19:14] gregsanborn opened #4575 "skip over bad TS entry?"
Does ExoPlayer have a capability to skip over a bad TS entry and go on to the next one in an HLS playlist? Our iOS app skips over bad TS entry in HLS playlist but ExoPlayer retries to play the bad TS file multiple times.
I'm currently using ExoPlayer 2.6.0, on Android 5+.
Thanks,
Greg Sanborn

[2018-07-25 19:26] sravan1213 commented on #4511
Thanks for acknowledging.. i think resolution is already supported (setting video max size). Anyways.. I prefer bitrate over resolution.

[2018-07-25 19:35] ojw28 commented on #4511
Setting the video min size isn't though, right :)? Which I think is the resolution equivalent of setting the min bitrate.

[2018-07-25 21:56] OMArikan commented on #4532
@ojw28 I sent 3 sample stack traces files from crashlytics to dev.exoplayer@gmail.com with subject "Issue #4532". Also lately sent screen shot from Dashboard of Crashlytics to see only Samsung and OS 7.0

[2018-07-26 01:07] herotha-sompom commented on #867
@dishantkawatra do you send the source code to me yet?

[2018-07-26 02:41] sravan1213 commented on #4511
Ahhh.. got it. My bad.
Both approaches will solve my problem.

As we can have various bitrates for same resolution, it makes more sense to have resolution specific parameter.

Let me know if you have any thoughts on this :)

Thanks.

[2018-07-26 02:52] lminwang opened #4576 "A resource was acquired at attached stack trace but never released"
java.lang.Throwable: Explicit termination method 'close' not called
        at dalvik.system.CloseGuard.open(CloseGuard.java:180)
        at java.io.FileOutputStream.<init>(FileOutputStream.java:222)
        at java.io.FileOutputStream.<init>(FileOutputStream.java:169)
        at okio.Okio.sink(Okio.java:181)
        at okhttp3.internal.io.FileSystem$1.sink(FileSystem.java:49)
        at okhttp3.i

[2018-07-26 03:05] roundsmapp commented on #2659
Hello Andrew,

I'm sending attached a copy of the Logcat that I finally was able to generate. It's the problem of the audio being cut (sounds like scraping; very slow playing). The log is very long. The problem occured when the log was around line 8897 -> "D/io_stats: !@   8,0 r 8797272 381651912 w......".

It doesn't happen all the time, but randomly.

Thank you for the support.

________________

[2018-07-26 07:16] chetan8378 opened #4577 "App crashing exoplayer"
07-26 12:44:10.666 498-529/? E/InputDispatcher: channel '424fc288 com.pinnacle.karaoke/com.pinnacle.karaoke.activity.VideosFromSDCardActivity (server)' ~ Channel is unrecoverably broken and will be disposed!
07-26 12:44:10.666 498-529/? E/InputDispatcher: channel '425654e8 com.pinnacle.karaoke/com.pinnacle.karaoke.activity.VideoPlaybackActivity (server)' ~ Channel is unrecoverably broken and will

[2018-07-26 07:31] rohangoqii opened #4578 "Get the time we connect to a live stream"
How do I retrieve the time of the video that I connect to a live stream?

Let's say I connect to a live stream on two different devices, both have connected to the live stream at different times, one connects 20 sec into a stream the other 40 seconds into the stream. I want to be able to show the different time on each device(actual time into the video). How do I achieve this?

[2018-07-26 09:15] unext-wendong opened #4579 "QA: Any plan to add SAMPLE-AES support for HLS"
Thanks,
Wendong

[2018-07-26 09:44] hezie100 commented on #4558
Hi,
I had just sent to your email: dev.exoplayer@gmail.com, a DASH LIVE test stream
please confirm that you had received that email and that LIVE stream is accessible for you.
main issues detected:
issue with lips sync - video and audio are not in sync
freeze frames during playout
quality of video is poor

please update
thanks.

[2018-07-26 09:45] dolphylimitinf opened #4580 "exoplayer autoplay not working using exoPlayer.setPlayWhenReady(true)"
Hi, I am developing an android app, and for playing videos, I am using Ex-player. But I was stuck into a problem that exoplayer doesn't start on its own. I have to click the play button then only it starts. Using the below given code :

[code]

[2018-07-26 09:50] AquilesCanta commented on #4555
[Internal ref: b/111782123]. The video uses a profile that is not supported on Android:

[code]

I am going to use this issue to build the codecs string from SPS data.

@mkarthick92 Unfortunately there is no more we can do if the encoding is not supported by the underlying platform.

[2018-07-26 09:57] AquilesCanta commented on #4579
Unfortunately there are no plans to support it. The alternatives are full segment encryption and Widevine. Playready will be added soon.

EDIT: Note that both Widevine and Playready require Content Decryption Module support.

[2018-07-26 09:57] #4579 closed, assigned to AquilesCanta

[2018-07-26 10:01] AquilesCanta commented on #4576
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-07-26 10:01] #4576 closed, assigned to AquilesCanta

[2018-07-26 10:02] AquilesCanta commented on #4577
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-07-26 10:02] #4577 closed, assigned to AquilesCanta

[2018-07-26 10:20] szaboa commented on #4304
Thank you, I do not see any better approach at the moment.
Started to work on this, will do the PR once is done.

[2018-07-26 10:27] hezie100 commented on #4558
HI

any update ??
thanks.

[2018-07-26 10:39] KarlGallagher commented on #4496
@ojw28

Just a quick query...

I am given the impression from other discussions on this tracker that ExoPlayer based tests form part of the Android device certification process?

If so, is it worth considering adding a test for this specific use case (Widevine/720p/60fps)to the test lineup ?

[2018-07-26 10:41] unext-wendong commented on #4579
Thanks for the confirmation.

[2018-07-26 10:52] hezie100 commented on #4558
the stream sent is accessible for you ?

[2018-07-26 13:09] hezie100 commented on #4558
Hello
could someone give me an update please on that ?

[2018-07-26 14:50] andrewlewis commented on #2659
I didn't notice anything suspicious in the logs, or really anything related to media playback. In particular, there's no sign that the audio track is underrunning.

Could you try to reproduce the issue in the ExoPlayer demo app with the minimal changes required to use your audio processor? If you manage to do so please file a new issue and include the steps to reproduce along with a bug report, an

[2018-07-26 15:00] luckylook opened #4581 "Auto Adaptive bit-rate in Exoplayer stuck lowest resulotion"
hi
i am playing 2 formats
<Representation id="trickmodedzEAACif" bandwidth="2621440" codecs="avc1.4d4029" width="720" height="576" frameRate="1" sar="1:1" maxPlayoutRate="25"/>
<Representation id="trickmodedzGZmUmf" bandwidth="4823449" codecs="avc1.64002a" width="1920" height="1080" frameRate="1" sar="1:1" maxPlayoutRate="50"/>

and my player stuck in lowest resuloation all the time?? when i remov

[2018-07-26 15:11] AquilesCanta commented on #4575
Can you clarify what a bad TS entry is? If possible provide a stream and a sample logcat.

[2018-07-26 15:15] ojw28 commented on #4558
We do have other work to do alongside this issue. We'll update the issue when we take a look. Thanks.

[2018-07-26 15:25] AquilesCanta commented on #4580
Hi @dolphylimitinf, debugging apps falls out of the scope of this issue tracker. You'd be better off asking in StackOverflow, or another general Q&A.

Aside (please don't expand your question below), something i'd check is the state of the Player when you add an item. If it's in ENDED state, then when you add an item you should also seek to make sure it goes back to READY/BUFFERING.

In other word

[2018-07-26 15:25] #4580 closed, assigned to AquilesCanta

[2018-07-26 15:30] AquilesCanta commented on #4578
What kind of stream are you playing? I think the only way to achieve this is to provide timing metadata in your stream. In HLS, this can be achieved with EXT-X-PROGRAM-DATE-TIME. In DASH, I think the equivalent is roughly availabilityStartTimeMs.

If the media does not signal that 20 or 40, I don't see a way for the player to know. Please comment below if this is not what you meant and I'll reopen

[2018-07-26 15:30] #4578 closed, assigned to AquilesCanta

[2018-07-26 15:31] AquilesCanta commented on #4581
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-07-26 15:31] #4581 closed, assigned to AquilesCanta

[2018-07-26 15:35] AquilesCanta commented on #4566
I don't think ExoPlayer imposes any limitations in this sense. As far as I know, this depends on platform resource availability. The best way to know is to experiment around in, I think. You might encounter issues depending on the number of available decoders in the device.

[2018-07-26 15:35] #4566 closed, assigned to AquilesCanta

[2018-07-26 15:50] hezie100 commented on #4558
hi, thanks
But issue I have noticed is that the ExoPlayer is getting the DASH manifest, start from the lower level of bit rate configured but stay on that level, meaning that it is not tuned into the higher levels of bit rates listed on the DASH manifest.
what could be the reason that player is not moving between different levels of bit rate (listed on DASH manifest) and always stays on the same l

[2018-07-26 16:07] ojw28 commented on #4532
Thanks. If either of you manage to reproduce the issue locally, it would be very useful to know if it reproduces only with your release build (but not with your dev build), and whether enabling/disabling ProGuard makes a difference. I suspect this might be a strange VM/ProGuard issue, but that's just a guess.

[2018-07-26 17:24] ojw28 commented on #4558
I was able to access the test stream.

It does appear to be a little out of sync. I'm pretty confident this is an issue with the content itself, not with ExoPlayer. You will probably have to debug this on the content side.

I cannot reproduce this using our demo app. Playback starts in the lower quality and switches up to the higher quality after a short period of time.

Please try using the ExoPl

[2018-07-26 18:22] MateusZitelli opened #4583 "ClippedMediaSource ends sooner than expected when using REPEAT_MODE_ALL or ConcatenatingMediaSource"
### Issue description
Clipped video playback ends sooner than expected when repeat mode is Player.REPEAT_MODE_ALL or when it is combined with other clips using ConcatenatingMediaSource.

### Reproduction steps

#### Setup a simple ExoPlayer instance:

[code]

#### Logging player.currentPosition

[code]

##### With `Player.REPEAT_MODE_OFF` or `player.prepare(clippingMediaSource)`

PlayerPresenter:

[2018-07-26 19:38] spakanati123 opened #4584 "infinite buffer state for live content on low bandwidth conditions"
To fix buffering issues on Amazon fire stick models we customized the **DefaultHttpDataSource** so that in our custom class if connection open and read operation(complete chunk data) should finish in specified interval say 10 sec.
If not we will throw **HttpDataSourceException**, for vod it is working like as expected like if chunk does not download in 10sec retry mechanism applied for 3 times and

[2018-07-26 21:59] szaboa commented on #4304
@ojw28
Pull request here: https://github.com/google/ExoPlayer/pull/4585

[2018-07-27 01:08] changja88 opened #4586 "When app is crashed because of download or delete, app could not play download content."
When app is crashed because of download or delete, app could not play download content.
Before crash, everything works fine

[code]

[2018-07-27 06:10] AdamGrzybkowski commented on #4526
@ojw28 looks like this solution works fine, thanks :) You can close the issue

[2018-07-27 06:59] szaboa commented on #3938
I am going to look into this, lets see if I can add support for lrc.

[2018-07-27 08:44] #4526 closed, assigned to ojw28

[2018-07-27 09:13] ojw28 commented on #4584
Can you expand on why you need to do this. What happens if you don't, and why is it specific to Fire Stick? Is there a bug filed on the device somewhere that you can reference? Also, you might want to see if switching to our OkHttp extension solves the problem in a simpler and better way.

I don't think such logic exists in our code base. The difference you're seeing is probably that for live cont

[2018-07-27 10:30] AquilesCanta commented on #4586
The provided snippet contains a invalid response code with the server, which I strongly doubt has anything to do with downloading. Please provide all the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) and precise reproduction steps. If possible, in the demo app. We'll reopen once you include all requested information and post below

[2018-07-27 10:30] #4586 closed, assigned to AquilesCanta

[2018-07-27 10:37] davidmullis1983 opened #4587 "Should I Use PlayReady for Android TV?"
### Issue description
More of a question than an issue, so apologies if I'm in the wrong place for this. If I am, then I would appreciated being pointed in the right direction.
My question is about something in the DRM doc here:
https://google.github.io/ExoPlayer/drm.html
It seems to specifically point to PlayReady and the DRM encoding to be used for ExoPlayer on Android TV.
I have an Android TV/F

[2018-07-27 10:42] tonihei commented on #4583
Thanks for reporting! We'll provide a fix for that.

[2018-07-27 11:03] dylantran09 opened #4588 "FLAC audio - getCurrentPosition() return incorrect value which is increased by 2 seconds"
Hi,

I got issues with SimpleExoPlayer.getCurrentPosition() function when trying play high quality audio (FLAC type), it returns the value **increased by 2 seconds** when I tried to update the progress timer every second.

This caused the current time higher than song duration.

I tested on Android device:
Huawei Mate 10
OS: Android 8.0
Network: 4G

This does not happen on my other devices and MP4

[2018-07-27 11:16] AquilesCanta commented on #4587
Android devices are not required to support PlayReady. But Android TV devices are. There are no recommendations on what Platform to use on that page.

Because Android TVs are required to support it.

Hope this answers your questions.

[2018-07-27 11:16] #4587 closed, assigned to AquilesCanta

[2018-07-27 11:18] botaydotcom commented on #4588
Hi @dylantran09:
Could you provide us with some test media that you found this issue on? You can post a link here, or send it to dev.exoplayer@gmail.com using the subject "Issue #4588". Thank you very much.

[2018-07-27 11:22] bhjortsberg commented on #4492
Hi, yes the crash is fixed! However, the stream still gets stuck.

[2018-07-27 11:24] ojw28 commented on #4492
Ok. I'm not sure we can do much about that without a live test stream, given we're unable to reproduce with other streams we have. I couldn't see anything obviously wrong from the manifests provided.

[2018-07-27 11:29] davidmullis1983 commented on #4587
Hi. Thanks for the prompt reply.
So is my app required to support it? Or is there an advantage to using PlayReady over Widevine?

[2018-07-27 11:32] surbett1 opened #4589 "How to use ExoPlayer with TLS1.1?"
I am using ExoPlayer to streaming video in DASH format. If I display stream first time (app fresh install) everything works. But when I kill app and then turn on it again I receive this error:

"07-27 13:21:09.817 8925-9065/com.ftsgps.monarch E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to https://liveSt

[2018-07-27 11:33] AquilesCanta commented on #4587
No. Your app can use whatever content you wish, as long as it's supported by the platform. PlayReady happens to be supported on Android TV.

I don't have an answer for this unfortunately. Besides, it falls outside the scope of the issue tracker.

[2018-07-27 11:36] davidmullis1983 commented on #4587
Ok. That's pretty much what I wanted to know.
Thanks for your help.

[2018-07-27 11:40] bhjortsberg commented on #4492
Ok, I'll see if I can come arrange something.

[2018-07-27 11:56] VladTE opened #4590 "AES-128 key external from manifest (set the URI/IV on player/mediaSource for decryption)"
Hello,

I want to know if there is any way to set #EXT-X-KEY:METHOD=AES-128 params (URI and IV) outside the manifest file (for all the parts of the playlist). For now I am receiving an M3U8 file which contains the information for a playlist (master playlist, details below), but if someone finds a way to intercept that link, I think the encryption is not that useful anymore because all the data to

[2018-07-27 12:03] arazabishov opened #4591 "Wrapping AdMediaSource causes a runtime crash"
### Issue description
Placing instance of AdMediaSource within a composite media source like `ConcatenatingMediaSource` will cause a crash within `AdsMediaSource.prepareSourceInternal` in the `Assertions.checkArgument(isTopLevelSource)`. As far as I understand, the AdMediaSource is not supposed to be wrapped into another `MediaSource`, which seems counterintuitive to me. Documentation also doesn't

[2018-07-27 12:24] andrewlewis commented on #4591
#3750 tracks removing this limitation. I'll add a note to the class javadoc to document it.

[2018-07-27 12:24] #4591 closed, assigned to andrewlewis

[2018-07-27 13:11] motornyimaksym commented on #4285
@erdemguven It's not funny! Even MediaPlayer from Android SDK is able to play MIDI. I migrated to Exoplayer and now discovered that this new shiny thing is so dummy.

[2018-07-27 13:13] motornyimaksym opened #4592 "Feature request: MIDI support."
I want to be able to play MIDI files. Even MediaPlayer from standard Android SDK is able to do that.

[2018-07-27 13:22] arazabishov commented on #3750
+1

[2018-07-27 13:36] kgrevehagen commented on #3750
Would also love to get this feature!

[2018-07-27 14:42] dylantran09 commented on #4588
Hi ExoPlayer team,

Thanks for looking at my issue.

Please find the test media and video reproduction in google drive link
below:
FLAC content (1411 bitrate):
https://drive.google.com/open?id=12_EoMD0PJXC1ul1TBYPnF2nLHLJsUoFw
Video reproduce:
https://drive.google.com/open?id=1q2hoRnOFg6je87cEATOc2wgvDkYADSB_

When I tried to prepare then seekTo middle of the audio, it sometimes
return currentPosi

[2018-07-27 23:36] MateusZitelli commented on #4583
Great! Is there any time estimate for that fix? Also, if you could provide some guidance I am happy to try to solve it. Thanks for your attention.

[2018-07-28 01:36] MateusZitelli commented on #4583
Debugging ExoPlayer it seems like the next media period preparation finishes before the actual period playback. Then the next period playback starts when the preparation finishes, skipping the last ms of the first period. However, I am not sure how to proceed to fix it.

[2018-07-28 11:48] Tolriq opened #4593 "Player.EventListener proper nullability annotations."
Just converted some code to Kotlin and discovered that Player.EventListener does not have the proper nullability annotations.

Would be nice to have at least onTimelineChanged manifest annotated with @Nullable for easier conversion.

[2018-07-28 17:47] hanchen999 opened #4594 "Question about supporting HLS tags: EXT-X-SESSION-DATA"
As the title said, we want to fetch the EXT-X-SESSION-DATA information from HLS manifest. I want to know whether that is possible

[2018-07-29 17:54] drhill commented on #2856
This works fine now on the lastest Shield update.

[2018-07-29 17:54] #2856 closed, assigned to andrewlewis

[2018-07-30 06:45] AquilesCanta commented on #4590
Hi @VladTE,

I don't know of any spec-compliant alternatives. Without discussing whether the intended approach is an effective security measure, you can implement your own HlsPlaylistParser and inject the information yourself, as if it were part of the original playlist. Also possible, you can implement your own HlsPlaylistTracker to achieve the same effect. The only difference is that it's a more

[2018-07-30 06:45] #4590 closed, assigned to AquilesCanta

[2018-07-30 06:55] StaticBR commented on #4510
@botaydotcom die you habe time to look into this issue last week?

[2018-07-30 08:20] AquilesCanta commented on #4584
I strongly doubt it. We only blacklist 404 and 410s right now. For this to happen you'd need the server to take up to `60 / number of variants` seconds to return each 404 /410. Sounds unlikely to reproduce easily.

This is a gray area. I think we should only do it if simple to implement/maintain. The behavior would still require a 60+ seconds buffering period with the default values. Am I missing

[2018-07-30 08:34] andrewlewis commented on #4583
The fix should be pushed to the development branch soon.

[2018-07-30 08:34] hezie100 commented on #4558
Hi,
after the suggested adjustments, we can see now that ExoPlayer on our app code is playing the ABR profiles as expected, moving from one level of bit rate into another one - so it's OK - Thanks !
**now we still have an issue with the "freeze frames" while playing the VOD asset and the LIVE Stream** over Mpeg DASH - could you please advise which parameter settings we might being adjust on Player

[2018-07-30 09:55] AquilesCanta commented on #4594
Could you expand on the usecase? You can obtain the tags included in the master playlist via Player.EventListener#onTimelineChanged. This will let you access the playlist's tags, from which you can obtain the requested tag.

[2018-07-30 09:58] erdemguven commented on #4592
Related: #4285

[2018-07-30 10:06] hezie100 commented on #4558
Hi
do you have an update for me please on that remaining issue ?
thanks.

[2018-07-30 10:10] hanchen999 commented on #4594
Thank you for your response. Yep, I just figure out that case after I read the source code. I think we could close this issue now.

[2018-07-30 10:10] #4594 closed, assigned to AquilesCanta

[2018-07-30 11:18] harshitwynk opened #4596 "How to update buffer policy parameters during playback in LoadControl"
Hi

I have a use case where I'm having different buffer policy params (minBufferMs,maxBufferMs) for different network conditions.
Lets say for a 4G network I,m having minBufferMs = 30000 & maxBufferMs = 60000 . and for a 3G or lower network minBufferMs = 60000 & maxBufferMs = 300000.

So my question is we have to set the buffer policy params in LoadControl which we set while creating the ExoPlayer

[2018-07-30 11:36] AbdullahAyman opened #4597 "Recording livestream video loacaly as mp4 file"
Hello All,
### I would like to record a live stream video from exoplayer on spot (like recording a goal in a football match from live streaming url)
I am using exoPlayer as a video player in my application (works for mobile and TV platforms). while using the exoplayer in viewing the video I want to be able to click a button to start recording the played video till I stop the recording (without a p

[2018-07-30 12:58] AquilesCanta commented on #4589
This issue looks like a general question about Android development. We recommend asking such questions on Stack Overflow, and are unfortunately unable to answer them here. Please clarify if you don't agree.

[2018-07-30 12:58] #4589 closed, assigned to AquilesCanta

[2018-07-30 13:26] hezie100 commented on #4558
hi

any update please ??
thanks.

[2018-07-30 14:55] botaydotcom commented on #4510
Looked a bit into this, and I still couldn't find any problem here. I tested using a Nexus 6 (7.1.2) vs a Pixel 2 XL (8.1.0). In both cases, after the first video, the media codec is released and re-inited, and somehow on the Nexus 6, this leads to a brief (~0.5s) freezes, while on the Pixel 2 XL, this is mostly smooth (I still can find a very brief freeze though).
I don't know if this is the limi

[2018-07-30 15:48] hezie100 commented on #4558
Hi
could you please update on that matter ?
it's really urgent for us
thanks.

[2018-07-31 04:15] eneim opened #4598 "Extension MediaSession, MediaSessionConnector: wrong default constructor?"
This line should not use "null" in place of "PlaybackController" instance?

The doc says:

[code]

while the constructor is

[code]

[Please check this and the javadoc](https://github.com/google/ExoPlayer/blob/release-v2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java#L352)

[2018-07-31 07:10] #4550 closed, assigned to tonihei

[2018-07-31 07:57] AndroidDeveloperLB opened #4599 "Bug: unable to play mp4 files via URL ?"
I've found an mp4 file that I wanted to just test to play it:

http://file-examples.com/wp-content/uploads/2017/04/file_example_MP4_480_1_5MG.mp4

On the PC and on video player apps it plays fine, but when I try to play it using ExoPlayer, it fails, even though a sample mkv URL works fine for me:

https://www.sample-videos.com/video/mkv/720/big_buck_bunny_720p_2mb.mkv

Same goes for other mp4 urls

[2018-07-31 09:08] AquilesCanta commented on #4598
Note that API-wise the statement is correct. The constructor at the bottom does:

[code]

[2018-07-31 09:08] #4598 closed, assigned to marcbaechinger

[2018-07-31 09:17] hezie100 commented on #4558
hi
**we're still facing freeze frames while playing video, DASH vod and DASH Live**
it seems like the flow motions are corrupted
could you please advise what could be the reason for that and how should we fix that ?
thanks.

[2018-07-31 09:20] ojw28 commented on #4558
Please note that repeatedly spamming this issue does not lead to us looking at it more quickly. We will look at it when we have time to do so. Thanks.

[2018-07-31 09:29] hezie100 commented on #4558
OK
I understand - thank you.
if you need further tests on our DASH LIVE Stream test, please tell me and I'll activate it immediately.
thanks.

[2018-07-31 10:49] Khang-NT opened #4600 "SingleSampleMediaSource doesn't work"
### Issue description
I have list of audio + video streams with various quality. I created `SingleSampleMediaSource`s then merge them using `MergingMediaSource`,  it seems like not working.
But when I replace `SingleSampleMediaSource` with `ExtractorMediaSource`, then everything work fine. The reason I don't want to use `ExtractorMediaSource` is because `ExtractorMediaSource` establish connection

[2018-07-31 12:39] koral-- opened #4601 "Random false EOFException when playing MP4 from local file"
### Issue description
Sometimes playing local MP4 produces false `EOFException`. It happens randomly. First retry in `onPlayerError` always works around this issue. MP4s are produced by MediaCodec on the same device. They always have portrait aspect ratio and are no longer than 6.5 s.

Message printed to the logcat by ExoPlayer library:
[code]

Exception received in `onPlayerError`:
[code]

### Re

[2018-07-31 13:54] Aditya94A commented on #2092
Any updates on this? This should be bumped up.

The fact that AVI format is horribly outdated and nobody should use it is not going to deter our simple minded users! ~7% of the files that my users try to play every day are AVI. With 20k DAU, this is insane. I get at least one 1-star review everyday specifically about this.

[2018-07-31 13:55] AlexM0k commented on #3775
Here is a video of the flickering issue https://streamable.com/v7yvi

[2018-07-31 13:55] dishantkawatra commented on #867
Implement this dependecy

compile 'com.google.android.exoplayer:exoplayer-core:r2.4.3'

DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
TrackSelection.Factory videoTrackSelectionFactory = new
AdaptiveTrackSelection.Factory(bandwidthMeter);
TrackSelector trackSelector = new
DefaultTrackSelector(videoTrackSelectionFactory);
player = ExoPlayerFactory.newSimpleInstance(this, trackS

[2018-07-31 13:57] dishantkawatra commented on #867
<com.google.android.exoplayer2.ui.SimpleExoPlayerView
    android:id="@+id/player"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:resize_mode="fit"
    app:surface_type="texture_view"
    app:use_controller="false"/>

On Tue, Jul 31, 2018 at 7:25 PM Dishant Kawatra <dishu101@gmail.com> wrote:

[2018-07-31 14:53] ojw28 commented on #4558
As per my comment [all the way up at the top of this issue](https://github.com/google/ExoPlayer/issues/4558#issuecomment-407100309), we need you to fully complete the issue template.

I was unable to reproduce the freezing issue locally using the test stream provided. This suggests it may be a device specific issue (the issue template requests specific device information - which would help us debu

[2018-07-31 15:04] erdemguven commented on #4599
I have tried to play the mp4 sample you shared using ExoPlayer Demo app and it works fine.

One thing I noticed in the exception log is:
`Cleartext HTTP traffic to mirrors.standaloneinstaller.com not permitted`
Perhaps you need find a way to allow your app to work with not secure network connections if you want to play those streams.

Closing the issue as it isn't ExoPlayer related.

[2018-07-31 15:04] #4599 closed, assigned to erdemguven

[2018-07-31 15:19] fredduarte commented on #4552
Hi, @AquilesCanta @paf-wv .

In order to play one of our streams we have an authentication process
that needs to be done every time.
I will create an temp user for you to test.

Is there an email which i can send you a small list of steps
on how to play the stream?

[2018-07-31 15:29] AquilesCanta commented on #4552
dev.exoplayer@gmail.com

Thanks

[2018-07-31 16:22] AndroidDeveloperLB commented on #4599
It seems like a thing on Android P:
https://www.digicert.com/blog/android-p-will-default-https-connections-apps/

And indeed, when I ran it on Android 8.0, it works fine.
To me it seems a very drastic change, and changing the targetSdk to 27 doesn't help. It affects all apps.

Please update the library to support all kinds of urls.

Also, why close this issue? You didn't even allow me to answer be

[2018-07-31 16:32] paf-wv commented on #3517
Hi, clear content would be very helpful....
Our content guy took a look, his findings:
I inspected the above content, which is encrypted per Common Encryption v1 spec. There are two factors that may result in degrading in decryption performance.

(1) Every NAL unit is encrypted, including non-slice NALs. A subsample is created for every NAL unit, with NAL unit header in clear (five bytes) and othe

[2018-07-31 16:32] AndroidDeveloperLB commented on #4599
Since I think it's a too drastic decision, that even ExoPlayer library is affected and isn't ready to it, I've written about it here:
https://issuetracker.google.com/issues/112019040

[2018-07-31 16:47] chrisfillmore opened #4603 "Does ExoPlayer update duration of in-progress recordings?"
I am trying to understand ExoPlayer's behaviour when playing in-progress recordings. I have a ticket filed with Shaka team about support for playback of such content with an increasing `mediaPresentationDuration`: https://github.com/google/shaka-player/issues/1513 . Shaka does not support this at this time; it needs to know the duration at the start of playback, but it appears Exo is able to updat

[2018-07-31 17:23] ojw28 commented on #4599
I strongly suspect you are mistaken. Many thousands of existing apps would be broken on the P developer preview if this were the case. Which would create a lot of noise on the Android issue tracker. Which there isn't any of. I suggest you double check that you really set this correctly, and that the setting definitely propagated through to the apk you tested with.

This is completely dependent on

[2018-07-31 17:34] hezie100 commented on #4558
Hi,
thanks for your feedback
I have just sent to: dev.exoplayer@gmail.com,  both Test DASH links for you to reproduce the issue and an Issue template report.
please check and update
thanks again.

[2018-07-31 17:51] AndroidDeveloperLB commented on #4599
Odd. I've checked it before, and now it works fine on targetSdk 27.

OK, can you please show how to make it work fine on ExoPlayer, even if targetSdk is indeed 28?
And maybe add a function on ExoPlayer to allow http connections too?

I can see that the current repository of ExoPlayer targets API 27...
Why not 28? Android P will soon be officially out to all users ...

What's straightforward about

[2018-07-31 17:57] ojw28 commented on #4599
This is already explained if you follow the links in the page you referenced above (i.e. you need to add a network security configuration file). This is something you need to do at the application level.

I think that our target API level is unrelated to your app's target API level. Unless your target API level is lower than our one, I think. Why does this matter to you?

[2018-07-31 18:05] AndroidDeveloperLB commented on #4599
As I wrote, the docs aren't clear.
The only thing I've seen is this:
https://android-developers.googleblog.com/2018/04/protecting-users-with-tls-by-default-in.html?m=1

What should I do to allow a specific library (like ExoPlaer) to access http connections, for example?
Where do I put this weird new file?
Can I somehow allow the app to access all http connections?
Is it this:

      <base-config c

[2018-07-31 18:15] ojw28 commented on #4599
See https://issuetracker.google.com/issues/112019040

[2018-07-31 18:17] AndroidDeveloperLB commented on #4599
Yes thanks

[2018-07-31 18:18] AndroidDeveloperLB commented on #4599
But still, the sample project here should be updated to support this. If the sample can access a URL, it should support all URLs.

[2018-07-31 18:21] nbonamy opened #4604 "Format unsupported by ExoPlayer but supported in other players"
Hello,

I am trying to use ExoPlayer in my Android TV app (Custom Media Server Browser). Some of my test files have reported unsupported formats (namely DTS Audio) in ExoPlayer: I even hardcoded the stream URL in the ExoPlayer demo app and I have the same result.

My issue is that those files play fine in other players and most notably standard Android TV Videos app.

The demo app seems to have al

[2018-07-31 18:25] ojw28 commented on #4599
We will update the sample project one way or another when we update its target API level to 28, however the update will most likely remove all non-secure samples (and support for playing non-secure samples unless you edit the demo app to allow it).

Using non-secure connections is considered bad practice, and the industry is moving away from them (e.g. according to the page you referenced, iOS has

[2018-07-31 18:40] AndroidDeveloperLB commented on #4599
Imagine what would happen if Chrome would block such websites, unless the user sets a flag in the settings.
Seems very drastic change to me.
That's how it is on Android P.
What's so wrong with http? Isn't https used mainly for login, payment, and such.... If it's simple browsing (just reading, watching videos and looking at images), I don't see anything wrong with that.

Why do it on Android apps

[2018-07-31 19:29] ojw28 commented on #4599
Is it more likely that (a) many large companies are spending a lot of time and effort doing something that's a "bad thing", or (b) that you don't fully understand the topic? It's relatively easy to research this topic online (e.g. [by reading this](https://https.cio.gov/everything/)). It's also relatively easy to fully read documentation before claiming it doesn't answer your questions, as opposed

[2018-07-31 19:52] ojw28 commented on #4563
Do we want `DownloadService` sub-classes calling `startForeground` directly? It probably works, but it seems slightly error prone (e.g. I think they might have to make sure not to do this immediately after `DownloadService.stop` is called), and mildly inconvenient (e.g. they have to keep a copy of `foregroundNotificationId`, and probably the `taskStates` most recently passed to `getForegroundNotif

[2018-07-31 20:22] valdeci opened #4605 "Problem with DASH multi period."
I have a use case where the file xml/mpd (DASH) with multi-period don't have a start period neither the duration, this way the player run only the first period and is paused, and it's not run the period next. It's look like that the DashMediaSource don't know the way to concatenate the periods without start e/or duration.

Version: exoplayer-dash:2.8.2
MPD type is dinamic

Example of the mpd file,

[2018-07-31 20:32] ojw28 commented on #4605
I think it would be incorrect for a DASH client to start playing the second period in this case. ISO 23009-1 defines a period whose start time cannot be determined either by (a) `@start` being present on the period, or (b) `@duration` being present on the previous period and the previous period's start time being known, as an "Early Available Period".

An Early Available Period appears to be a spe

[2018-07-31 20:32] #4605 closed, assigned to nobody

[2018-07-31 21:37] cncb-gh commented on #2147
Sorry if this is the wrong place to ask this, but could you please explain how to do this in more detail to have the DTS-HD track play instead of just DTS?  Thanks.

[2018-07-31 22:26] jt64 commented on #4404
In the bugreport you provided, we see the following log lines that indicate what is happening when the failure occurs:

06-14 17:22:31.261   185 30261 W WVCdm   : CdmEngine::ExtractWidevinePssh: PSSH flags not zero
06-14 17:22:31.261   185 30261 I WVCdm   : CdmEngine::GenerateKeyRequest
06-14 17:22:31.262   185 30261 W WVCdm   : CdmSession::GenerateKeyRequest: init data absent

The PSSH flags are

[2018-07-31 22:28] mayankchhajed commented on #4496
@paf-wv - Do we have update on this ?
We are running into this same issue when playing back DASH/WV stream on our Arcadyan box running ExoPlayer 2.5.x

Seeing jitters especially on the CNN Ticker

[2018-07-31 22:53] ojw28 commented on #4510
The problem is that the `MediaCodec` is being released and re-initialized, which can be slow. In some cases this is unavoidable, however in the example provided here we really should be able to avoid it and ensure the transition is nice as smooth.

The reason we're re-initializing in this case is that `format.maxInputSize` is set for both items, and the second item has a larger max input size (fir

[2018-07-31 23:40] rrfrias commented on #4552
@fredduarte, are you seeing playback of this stream failing on devices other than the S7?

[2018-07-31 23:48] hp197 commented on #4552
@rrfrias not that we are aware of yet.
Maybe on the S8 or S9 (we couldn't verify).
We have verified with the S6 and that worked as expected.

Please also note that bug report is from a S7 Edge (while I dont think the edge option does make any difference).

[2018-08-01 00:15] rrfrias commented on #4552
Thanks for that information. Can you can send repro steps to dev.exoplayer@gmail.com?

[2018-08-01 03:51] YonathanLiang commented on #4030
hi, has this issue been addressed?

[2018-08-01 07:33] darkkillen commented on #4261
I have a similar problem. I try to mixing the audio prior to feeding it into a single AudioTrack instance. as #2200 but It's has a lot of work. Can you suggest any idea to achieve this?

[2018-08-01 09:00] hezie100 commented on #4558
Dear dev. ExoPlayer team,
could you please confirm reception of issue template and Clear DASH test links I had shared with dev.exoplayer@gmail.com ?
thanks a lot.

[2018-08-01 09:08] sixones commented on #4352
We are experiencing this issue in 2.7.1 as well, stacktrace from the Google Play Console, as you can see we call `SimpleExoPlayer.release`.

[code]

This looks to be only picked up now because of the changes to ANR's on the Google Play Console, rather than an issue in a new version of ExoPlayer v2 (at least from what we can tell).

[2018-08-01 09:16] erdemguven commented on #4596
duplicate #2804

[2018-08-01 09:16] #4596 closed, assigned to erdemguven

[2018-08-01 09:24] andrewlewis commented on #4558
We've received the email. It looks like it's missing a full bug report, so please provide that as requested above.

We'll update here when we get round to investigating further.

[2018-08-01 09:53] SystemRestored opened #4606 "Exo player mixed mimeadaptiveness cannot resolve"
I am currently using the exoplayer version 2.7.3
I am going to play an master m3u8 which contain two types of m3u8 one is avc type codec and another hevc. The problem is only the avc is playing if my master file contains two types m3u8.

if I play separately both plays.

I found mixedmimetype adaptiveness by using:
trackSelector = new DefaultTrackSelector(adaptiveTrackSelectionFactory);
trackSelec

[2018-08-01 10:17] SystemRestored commented on #4606
finally made it by:

trackSelector = new DefaultTrackSelector(adaptiveTrackSelectionFactory);
            DefaultTrackSelector.Parameters currentParameters = trackSelector.getParameters();
            // Build the resulting parameters.
            DefaultTrackSelector.Parameters newParameters = currentParameters
                    .buildUpon()
                    .setAllowMixedMimeAdaptiveness(tr

[2018-08-01 10:26] ronit-kadwane opened #4607 "java.lang.NoSuchMethodError: No direct method <init>(Lcom/google/android/exoplayer2/upstream/DefaultAllocator;IIJJ)V in class Lcom/google/android/exoplayer2/DefaultLoadControl"
I am developing react-native app using [react-native-track-player](https://github.com/react-native-kit/react-native-track-player) library, which is based on **ExoPlayer**.

Runtime error

[code]
code snippet from where error occurring
[code]
[here](https://github.com/react-native-kit/react-native-track-player/issues/236) is same issue posted but issue is open.

[2018-08-01 10:39] satyres opened #4608 "Problem with some HLS audio streams"
Hi ,
this stream : http://newcap-hls.leanstream.co/newcap/CJMOFM.stream/playlist.m3u8
works in VLC but not in Exoplayer .
Any explanation please ?

this is the error in the logcat :
UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtract

[2018-08-01 10:43] AquilesCanta commented on #4608
Please see https://google.github.io/ExoPlayer/faqs.html.

[2018-08-01 10:43] #4608 closed, assigned to AquilesCanta

[2018-08-01 10:58] erdemguven commented on #4600
You can't use SingleSampleMediaSource to load regular media files (mp4 and other). You should use ExtractorMediaSource.
If all the media is mp4 you can use Mp4Extractor.FACTORY with ExtractorMediaSource which might speed up start time.
@ojw28 Is there any other way to speed up ExtractorMediaSource if the format is known?

[2018-08-01 11:34] ojw28 commented on #4600
There are multiple proper adaptive streaming standards for this kind of thing (DASH, HLS and SmoothStreaming). I suggest you use one of them, if you want to do this properly, rather than attempting to hack together an ad-hoc solution.

[2018-08-01 12:00] andrewlewis commented on #4030
This isn't fixed yet I'm afraid. If I remember correctly, it only applies to the case of two empty ad breaks, one after the other.

[2018-08-01 12:03] YonathanLiang commented on #4030
i see, is there any chance that this issue is going to be work on in the near future?

[2018-08-01 12:05] andrewlewis commented on #4030
Yes, but maybe not for a while. Is this causing severe problems for your use case? It seems like it would be sufficient to ensure you aren't serving multiple empty ad breaks.

[2018-08-01 12:09] YonathanLiang commented on #4030
a bit, since we are using a third party ads provider that may or may not be serving ads, so we don't really have control over which ads will be served. sometimes all the ads will be filled and sometimes only some will be, it depends on said ads provider

[2018-08-01 13:26] ojw28 commented on #4573
This is fixed in `dev-v2`, and the fix will be included in `2.8.3`.

[2018-08-01 13:26] #4573 closed, assigned to AquilesCanta

[2018-08-01 13:26] #4535 closed, assigned to marcbaechinger

[2018-08-01 13:27] ojw28 commented on #4146
Closing due to lack of test content, unfortunately. Please let us know if you're able to provide the file again.

[2018-08-01 13:27] #4146 closed, assigned to botaydotcom

[2018-08-01 14:16] touseefbsb commented on #4237
any update on its progress? @andrewlewis

[2018-08-01 14:19] andrewlewis commented on #4237
No updates on this, I'm afraid. We're not currently planning to translate the other demo apps to Kotlin in the short term.

[2018-08-01 14:36] ojw28 commented on #4237
I thought Android Studio could automatically translate apps into Kotlin (although perhaps not in an optimal way).

[2018-08-01 16:40] andrewlewis commented on #4359
Closing as this turned out to be a problem with the input media.

[2018-08-01 16:40] #4359 closed, assigned to andrewlewis

[2018-08-01 16:48] Artemych commented on #4519
Hello!

I found the revision where it was broken [3c78dc22](https://github.com/google/ExoPlayer/commit/3c78dc22f6df82a3169bd558d5fe165ff468144e).

This is due to on some devices MediaCodec.BufferInfo.size is not equal to zero when (outputBufferInfo.flags & MediaCodec.BUFFER_FLAG_END_OF_STREAM) != 0.

[2018-08-01 17:12] ojw28 commented on #4519
Interesting find, but how does the last output buffer being non-empty result in the described behavior? The only thing I can think of is if the last buffer somehow spuriously contains the entire stream again, but perhaps I've misunderstood.

[2018-08-01 19:01] MateusZitelli commented on #4583
The commit did the job, thanks for the great work!

[2018-08-01 19:01] #4583 closed, assigned to tonihei

[2018-08-01 19:37] bhjortsberg commented on #4492
Hi, I have now created a live stream.
Available here:
*removed*
Conditions are not ideal but I'll try to keep the stream alive.

[2018-08-01 19:57] ojw28 commented on #4492
Using the latest `dev-v2` branch, I'm not able reproduce a permanent freeze. I do see a freeze for a few seconds at the end of the green/white striped part at 29:27, but it always recovers after a few seconds. I haven't worked out whether that's due to the content or not yet.

Could you describe exactly what you're seeing when you try and play this stream?

[2018-08-01 22:49] droidoit opened #4609 "Best way to insert a virtual freeze-frame into an ExoPlayer video?"
My overall usage of ExoPlayer is pretty simplistic, just playing back local videos, and I'm new to the library, and still coming to grips with how Sources/Timelines/Periods/etc all work together.

I'd like to insert a virtual freeze-frame into an arbitrary video on the Android device.

For example, say I just loaded in a 1 minute clip and I want to insert a 10 second freeze frame at the 30 second

[2018-08-02 06:00] andrewlewis commented on #2147
@cncb-gh Copy `MatroskaExtractor` and add in your logic for determining whether the content is DTS or DTS-HD. (Note: setting DTS-HD all the time will likely cause DTS streams to fail to play, so you'd need some way to distinguish between the formats if you want to support both.) Then, when building an `ExtractorMediaSource` pass in your own `ExtractorsFactory` that returns a new instance of your f

[2018-08-02 07:52] bhjortsberg commented on #4492
There is a new period when switching to and from the green/white stripe part. This stream works better and I can see what you are seeing that it freezes at 29:27, the period ends at 30:00. This freeze does not happen on 2.6.1 or in shaka-player.

[2018-08-02 08:15] Artemych commented on #4519
@ojw28 Do you need any logs or report?

[2018-08-02 09:08] ojw28 commented on #4519
Given you can reproduce the issue, I was hoping you could debug further and explain exactly what's happening. I doubt we'll be able to figure it out from the logs.

[2018-08-02 09:20] bhjortsberg commented on #4492
Sometimes it also freezes at 09:27 just before  green/white stripe preiod should start, sometimes you can see just millisecond stall. And sometimes it just works without problem. A timing issue?

[2018-08-02 09:23] keiththompson commented on #4535
Thanks! 🎉

[2018-08-02 10:06] AquilesCanta commented on #2394
This can now be solved by including the license server url in the manifest or, alternatively, injecting the server URL into the manifest through a custom playlist parser. We will keep working around per-MediaSource DRM so it's not a definitive solution, but it's a start.

[2018-08-02 10:13] AquilesCanta commented on #3435
Closing due to inactivity.

[2018-08-02 10:13] #3435 closed, assigned to AquilesCanta

[2018-08-02 12:06] ojw28 commented on #4492
I tried reproducing again with some additional logging this morning. Playback worked flawlessly for about half an hour. Now I'm seeing very frequent socket timeouts, which is making it difficult to test. Could you take a look and see if there's a problem?

For what it's worth, my suspicion is that there's something subtly wrong with the stream. The logging I've added is to look at the sample times

[2018-08-02 12:30] ojw28 commented on #4492
In addition to checking the socket timeout problem, is it possible for you to increase the size of the live window for the stream? It's quite frustrating getting to the point where the issue reproduces, and not being able to rewind to go over that point again because it's dropped off the back of the live window.

[2018-08-02 12:33] ojw28 commented on #4558
Also, is the issue device specific, or not? Can you reproduce it on other devices (e.g. a Pixel device, or a recent Samsung S device)?

[2018-08-02 12:38] adrianlazaro8 opened #4610 "Play Widevine DRM video through ExoPlayer"
I'm trying to play a video protected by DRM (Widevine) through ExoPlayer Android library. Currently, we are trying to play it through the code demo of that repository.

Our video request needs a token to be added. But I don't know where to add it. We have added it in *drm_key_request_properties*:

[code]

But it's not working. Any idea of what can be happening?

[2018-08-02 12:53] bhjortsberg commented on #4492
Yes, I can increase the live window. And I will try to make the connection more stable.

[2018-08-02 13:04] fredduarte commented on #4552
I've just sent the email with the steps. If you have any questions on it, let me know.

[2018-08-02 13:09] bhjortsberg commented on #4492
You should have 20min live window now (at least when it has been running for 20min). Segments will be available for 60min.

[2018-08-02 13:41] cncb-gh commented on #2147
@andrewlewis Thanks very much for your help.  Would it be feasible for there to be a "flag" for the MatroskaExtractor (set in DefaultExtractorsFactory.setMatroskaExtractorFlags()) to indicate that it is a DTS-HD track to avoid having to fork the MatroskaExtractor?

Also, is there a place to get general help with ExoPlayer?  I have not been able to locate a discussion board or something similar.

[2018-08-02 13:49] brozikcz commented on #4533
We have the same problem in our app when the subtitle track is not available (404 from the server).
We use dash / mpd playlist and it works fine until the user selects the unavailable subtitle.

ExoPlayer 2.8.1

[2018-08-02 18:22] victorraft commented on #3750
Hi @andrewlewis, sorry to bother again, but are there any updates on this one? It seems like a lot of people are interested.
I work for a big company and this is a really big deal for us. If this feature isn't going to be implemented soon I will have to apply the hard workaround you described above.

[2018-08-02 21:41] asanChina opened #4611 "UI - DefaultTimeBar accessibility issue"
DefaultTimeBar has problem with accessibility issue
check the screenshot I got https://photos.app.goo.gl/qMTmTDzyG2M2yL3HA.
I am using app "Accessibility Scanner" (developed by Google, you can download it from play store) to scan the UI element in the screen

[2018-08-02 22:26] drhill opened #4612 "Best way to handle a queue not known at the start of initial playback with callbacks between source loading"
I have multiple questions that are all mostly related for cleaning up my AndroidTV app.  I'm using Exoplayer 2 (a few weeks old) with the LeanbackPlayerAdapter and a PlaybackSupportFragment.  Mostly testing on Android O with multiple Nvidia Shield setups (and some Nexus Player but the performance on that device in the last 1.5+ years [prior to O and not fixed in it] is terrible as it needs to be r

[2018-08-02 23:43] kanthicn1 opened #4613 "Order of execution of listeners"
Hi,

I am using ExoPlayer 2.8.2 release and trying to implement a feature where I want to use the bandwidth measurement from the latest video segment download to influence the quality of the next segment. This is for Dash videos.
I have extended trackSelection to `CustomTrackSelection` object. But, the problem on several occasions, by the time the `DefaultDashChunkSource` calls `updateSelectedTrac

[2018-08-03 05:51] AndroidDeveloperLB opened #4614 "But: Possible issue when using support library 28"
When using this:

        implementation 'com.android.support:appcompat-v7:28.0.0-beta01'

You get this error in building:

![image](https://user-images.githubusercontent.com/5357526/43615174-211102c2-96bf-11e8-8d59-9417f4be3ec9.png)

You can ignore it though.
Attached sample project
[ExoPlayerTest.zip](https://github.com/google/ExoPlayer/files/2256145/ExoPlayerTest.zip)

[2018-08-03 06:54] andrewlewis commented on #4611
At the moment we're setting the `AccessibilityNodeInfo` class name to the custom view class name, but it looks like it needs to be the name of the most similar widget from the Android SDK or support library (probably `android.widget.SeekBar`). See also https://support.google.com/accessibility/android/answer/7661305.

[2018-08-03 07:27] andrewlewis commented on #3750
Still no updates I'm afraid. Understood that this is a desired feature. I'll take another look at how long this would take to implement soon, but please don't plan on it being addressed this quarter.

[2018-08-03 07:32] arazabishov commented on #3750
Thanks a bunch for that @andrewlewis. It is open source, so you shouldn't feel obligated to implement it. It is still nice to know that you guys can get it in at some point :)

[2018-08-03 11:19] harshmittal2810 commented on #4500
I am trying to play two clipping media source but that is not working properly.
Video is not playing next to last and seekbar also not behaving in that way. Help me out in this.

[2018-08-03 12:03] arishvarunmishra opened #4615 "How we can get the response header in Exoplayer."
Actual I am using Exoplayer v2  and on LA_Url request i have to read response header but did not find any way to achieve it.
Also need to acess every response header to stop the video at specific header value.
provide the solution.
While debugging i can access response using - //DataSource.connection.delegate.httpEngine.networkResponse.headers.namesAndValues;

[2018-08-03 12:28] OMArikan commented on #4532
I tried many times to reproduce issue locally with same devices but never catch. I don't believe it'd be related with my app ProGuard if it's not related with 3rd party SDKs such as Retrofit, okHttp, Fabric, Adjust.

[2018-08-03 14:24] erdemguven commented on #4601
I tried playing the file you provided in a loop on Pixel 2 but couldn't manage to repeat the issue. I don't know what else we can do about it.

[2018-08-03 15:13] erdemguven commented on #4603
You can easily try to play your stream using [ExoPlayer demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main). Let us know if it doesn't work as expected.

[2018-08-03 15:26] erdemguven commented on #4604
Please provide complete information and a test content as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-08-03 15:32] erdemguven commented on #4606
Please provide a test content.

@AquilesCanta could you take a look at this.

[2018-08-03 15:37] ojw28 commented on #4492
I think this issue occurs only when the DASH manifest is both multi-period and contains `EventStream` elements. We'll push a fix shortly, and would be grateful if you could verify on your end. Thanks!

[2018-08-03 15:48] erdemguven commented on #4607
I think this issue should be resolved on react-native-track-player side.

[2018-08-03 15:48] #4607 closed, assigned to erdemguven

[2018-08-03 15:53] erdemguven commented on #4609
@tonihei could you look at this?

[2018-08-03 15:54] ojw28 commented on #4603
Are you sure that's the right thing to do? My reading of the spec is that `mediaPresentationDuration` should be omitted until the point at which you can convert the manifest type to `static`. It's documented to be "the duration of the entire media presentation", and you don't know what that duration is until the recording is complete. I don't think it's valid to set it to the duration of the parti

[2018-08-03 15:59] koral-- commented on #4601
It reproduces randomly (sometimes few times in a row, sometimes never for 20 tries).
Direct reason of that EOFException is that `dataSpec.position` value is much larger (a few orders of magnitude) than file length in `FileDataSource#open()`. Maybe this is some hint.

[2018-08-03 16:05] ojw28 commented on #4492
In addition, I'm fairly confident that the `Event.presentationTime` values are incorrect in the test stream. As per the DASH spec they should be relative to the start of the period, however they appear to be absolute (i.e. relative to the start of the live stream). This may cause an eventual hang, even after the fix we'll be pushing. I'm not too sure about this though.

[2018-08-03 16:12] bhjortsberg commented on #4492
Nice! Yes, I'll be able to verify the fix.
You are probably right about the `Event.presentationTime`, thanks for pointing that out. I'll fix that on our side.

[2018-08-03 16:57] chrisfillmore commented on #4603
Reading from ISO/IEC 23009-1:2014(E), 5.3.1.2 Semantics, Table 3:

This attribute shall be present when neither the attribute MPD@minimumUpdatePeriod nor the Period@duration of the last Period are present.

Also in IOP 4.2, section 4.6.4 Transition Phase between Live and On-Demand

I agree with you. Thanks for the feedback!

[2018-08-03 16:57] #4603 closed, assigned to erdemguven

[2018-08-03 18:28] erdemguven commented on #4614
I think as the warning suggest you should just use the same version of the support library.

[2018-08-03 18:28] #4614 closed, assigned to erdemguven

[2018-08-03 19:14] AndroidDeveloperLB commented on #4614
Why close this issue?
Using a newer version of the support library is something that should be supported, always.
Especially if this is a library created by Google. Google should present an example to others, that we should always support future versions.
Saying that I should use older versions is like saying I shouldn't use Android P.

[2018-08-04 06:19] chetan8378 commented on #4577
Please check out with this log

08-04 11:48:54.327 1820-2820/com.pinnacle.karaoke E/omx_video: amvenc_avc open failed!set default instance number as 1,ret=-1,Permission denied(13)
08-04 11:48:54.327 1820-2820/com.pinnacle.karaoke E/OMXMaster: A component of name 'OMX.google.alac.decoder' already exists, ignoring this one.
08-04 11:48:54.467 130-239/? E/ion: ioctl c0144900 failed with code -1: Out

[2018-08-04 08:00] KarlGallagher opened #4616 "DASH: Add support for automatic gap and/or discontinuity jumping"
Hi,

As far as I can see the DASH-IOP does not explicitly define behavior with respect to gaps or discontinuities in a stream.

In practical terms however, a live stream that is fed from a lossy source (such as DVB linear broadcast) may experience gaps in the timeline from time to time.
Also in practical terms,when live streaming at a reasonable time length  (say 1 hour) transient network quality

[2018-08-05 20:42] marcovietovega opened #4617 "Http Headers and Subtitles in Cast Extension"
Hello,

This is not an issue, I saw in the cast demo that they are using a URL as contentID when creating the mediaitem.

[code]
But I want to know if there is a way to use http headers like in a httpdatasource, and how to add subtitles.

[2018-08-05 21:29] bhjortsberg commented on #4492
If I remove the `EventStream` element everything works fine.

[2018-08-06 04:52] akurni commented on #3829
Just found another similar issue with the above issue, @tonihei . I'll send the content and video capture of the issue by email. Here is the bug report dump.
[bugreport.txt.zip](https://github.com/google/ExoPlayer/files/2261180/bugreport.txt.zip)

When it freezes, the logcat shows

`08-06 11:12:47.734 5281-28546/id.lumio.videoplayer I/OMXClient: Using client-side OMX mux.
08-06 11:12:47.744 5281-2

[2018-08-06 06:53] StaticBR commented on #4510
@ojw28 Is there a way I can force the `format.maxInputSize` is set higher when initalizing the `MediaCodec `? Maybe there is somthing i can change within die Video, to force the Exo Player to do this?

Can you pin me down the Source Code location where exactly this is happening? So I can have a closer look?

Thanks.

[2018-08-06 08:27] ntohill95 opened #4618 "Saving Clipped Media Source"
I am having an issue when trying to save a video after using ClippingMediaSource. I want to be able to store the clip after it has been trimmed. Can this be done?

Is ClippingMediaSource simply only to playback a section of the MediaSource or can it be used to trim a clip?

[2018-08-06 08:41] erdemguven commented on #4612
@ojw28 could you look at this?

[2018-08-06 09:26] oxied commented on #3923
It may help somehow: https://github.com/google/ExoPlayer/issues/4546

```    player!!.audioAttributes = AudioAttributes.Builder().setFlags(C.FLAG_AUDIBILITY_ENFORCED).setUsage(C.USAGE_NOTIFICATION_RINGTONE).setContentType(C.CONTENT_TYPE_SPEECH).build()```

[2018-08-06 09:36] AquilesCanta commented on #4606
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-08-06 09:36] #4606 closed, assigned to AquilesCanta

[2018-08-06 09:49] ojw28 commented on #4614
It is supported. If you Google the issue you'll easily find instructions on how you can configure your app to use any version of the support library that's equal to or more recent than the one ExoPlayer is using. For example [the top StackOverflow issue](https://stackoverflow.com/questions/42374151/all-com-android-support-libraries-must-use-the-exact-same-version-specification). This is another ex

[2018-08-06 10:31] ojw28 commented on #4601
Possibly theories:

* Whatever's writing the file hasn't fully flushed the data to disk at the point when you attempt to play it back.
* The SD card is unreliable on the test device.

To try and test these theories, could you try side-loading the same file onto a different device, and seeing if the issue reproduces there.

Also, it's somewhat curious that the file is ~13MB, but only contains a few

[2018-08-06 10:38] andrewlewis commented on #4618
Could you elaborate on what you mean by saving/storing a video? As you say, `ClippingMediaSource` is intended for playing back part of another media source. If you want to cache the clip I think that should just work in the normal way with `CacheDataSource`.

[2018-08-06 10:40] ojw28 commented on #4612
1. Yes. Use `ConcatenatingMediaSource`. I'm not sure there's anything more to it than this?
1. I would expect chapter information to be handled outside of ExoPlayer (e.g. by application code seeking to the start of the chapter, assuming that's a common use case). You'd need to provide more information about your use case, and what problems you're encountering, for us to provide more specific advic

[2018-08-06 10:41] ntohill95 commented on #4618
I want to edit a video clip and save the new trimmed version to storage. Thank you for the quick response i will investigate CacheDataSource

[2018-08-06 10:42] andrewlewis commented on #4615
Does [`HttpDataSource.getResponseHeaders`](https://github.com/google/ExoPlayer/blob/ce55d1a/library/core/src/main/java/com/google/android/exoplayer2/upstream/HttpDataSource.java#L348) provide the information you need?

[2018-08-06 10:51] botaydotcom commented on #4476
This is done now.

[2018-08-06 10:51] #4476 closed, assigned to botaydotcom

[2018-08-06 10:52] andrewlewis commented on #4610
Do you need to include a type in the authorization header value? Do you see any logging about the HTTP response?

[2018-08-06 11:03] ojw28 commented on #4492
The ExoPlayer part of this issue is addressed by the change ref'd above. I'm not certain, but you may still encounter eventual freezing for as long as the presentation timestamps in the `EventStream` are incorrect. You should fix that on your side.

Thanks for the test stream; very helpful!

[2018-08-06 11:03] #4492 closed, assigned to ojw28

[2018-08-06 11:03] #4611 closed, assigned to andrewlewis

[2018-08-06 11:06] andrewlewis commented on #4618
I'm afraid ExoPlayer doesn't provide a way to save media streams to storage. For example, if you wanted to produce an MP3 file with the first thirty seconds removed, ExoPlayer does not support that. `CacheDataSource` will cache media in its own internal format, so it won't help with this.

[2018-08-06 11:06] #4618 closed, assigned to andrewlewis

[2018-08-06 11:09] koral-- commented on #4601
Thanks. I'll try side-loading that file.

ad theory 1.
MP4 is produced by `MediaCodec` and `MediaMuxer`. Before attempt to play back a file they are released synchronously (using their `release()` methods).

ad theory 2.
File is saved into internal storage and it happened on few different devices.

Regarding file size. It has ~10 Mb/s bitrate and 1 i-frame per second. It is camera recording, showi

[2018-08-06 11:14] ojw28 commented on #4601
I'm not sure if something went wrong with the recording, but the actual file only contains 5 frames of video (occupying only the first ~250K of the file), and has a media duration of ~101ms. So it definitely shouldn't end up being ~13MB.

[2018-08-06 11:51] ojw28 commented on #4510
It would probably work to override `MediaCodecVideoRenderer.getCodecMaxValues` to return a `CodecMaxValues` with a larger `maxInputSize` value, as an interim measure until we can do something on our side.

[2018-08-06 11:57] ojw28 commented on #4533
@brozikcz - It's unclear to me that the problem is the same. I think the failure mode is probably different for your case. Also, why are subtitle tracks declared in the manifest if they're not available?

[2018-08-06 12:14] ojw28 commented on #4612
For (3), it looks like this is discussed in https://github.com/google/ExoPlayer/issues/2147 as well. Basically someone needs to improve the MKV extractor so that it's able to detect DTSHD and output a `Format` with the correct mime type.

[2018-08-06 12:16] ojw28 commented on #2147
A flag sounds pretty hacky. We should just improve the extractor so that it's able to determine the mime type correctly (without any external input). Unless that's completely infeasible for some reason.

[2018-08-06 12:21] AquilesCanta commented on #4617
I am not aware of any way of doing this using the default receiver app. You could implement a custom app and add the custom message to retrieve the http headers.

Same. If you find a way of doing it with the default receiver app, please let us know and we'll add support for it.

It might be worth trying your luck [here](https://github.com/googlecast/CastReferencePlayer).

[2018-08-06 12:21] #4617 closed, assigned to AquilesCanta

[2018-08-06 12:26] ebr11 commented on #2147
That would be awesome because then we could remove our hack that supports this :).

[2018-08-06 12:49] cncb-gh opened #4619 "Embedded MKV Subtitles not displaying in Leanback/Android TV"
I have copied the Leanback demo app playback: https://github.com/googlesamples/androidtv-Leanback.  Playing the Kodi MKV sample files (https://kodi.wiki/view/Samples, #19 and 20 under #3 Codecs, Framerates and Subtitles), neither SRT nor PGS embedded subtitles will display in the player.  I have confirmed that these text tracks are being selected by default.  Is there something I am missing to get

[2018-08-06 13:01] bhjortsberg commented on #4492
I've verified the fix and it works! Thanks a lot!
Will this go into verion 2.8.3?

[2018-08-06 13:06] ojw28 commented on #4492
Yes, it has been cherry picked already: https://github.com/google/ExoPlayer/commit/e92d65533f8720793d186b81c4c50aedb7411395

[2018-08-06 13:27] #4593 closed, assigned to erdemguven

[2018-08-06 13:39] ojw28 commented on #966
Now supported in `dev-v2`.

[2018-08-06 15:08] botaydotcom commented on #4588
Couldn't find anything from this yet. @erdemguven: Please help me to take a look. Thank you.

[2018-08-06 15:12] ojw28 commented on #4548
Approximate seeking is now supported in the `dev-v2` branch, if you specify the `FLAG_ENABLE_CONSTANT_BITRATE_SEEKING` whe constructing an `AdtsExtractor`.

Advising on how to prepare content is beyond the scope of this issue tracker. Tools such as ffmpeg and mp4box probably help with this.

[2018-08-06 15:12] #4548 closed, assigned to botaydotcom

[2018-08-06 15:25] tonihei commented on #4615
FYI: getting the response headers through the normal callbacks is also
tracked by #4361.

On Mon, 6 Aug 2018, 11:43 Andrew Lewis, <notifications@github.com> wrote:

[2018-08-06 15:50] drhill commented on #4612
Over the weekend I changed all my logic to use mediasession and mediasession connector.  In the short term I decided against using ConcatenatingMediaSource because I wasn't sure how well switching refresh rates would be with that implementation.  I just made my own QueueNavigator that accessed my applications queue instead of Exoplayer's TimelineQueueNavigator.

For chapters just wasn't sure if th

[2018-08-06 15:50] #4612 closed, assigned to ojw28

[2018-08-06 18:23] rrfrias commented on #4552
We were able to play the test stream without issue on two versions of ExoPlayerV2.
- The first ExoPlayerV2 is a very old version (>1 year old)
- The second is a newer ExoPlayerV2 version pulled from github on June 18th. The stream on this version played for ~90 minutes without issue.

This might be an issue with that particular device rather than all versions of Samsung Galaxy S7 Edge? We can stil

[2018-08-06 20:12] arishvarunmishra commented on #4615
yes, but how to getting null using HttpDataSource.getResponseHeaders

On Mon, Aug 6, 2018 at 8:55 PM, tonihei <notifications@github.com> wrote:

--

*Thanks & RegardsVarun Mishra *

*Co No. :+919999191660*

*skype id: vvarun.mishra*

[2018-08-07 01:36] kingofswing opened #4620 "video dimmed when opened in bottomsheet fragment"
Before filing an issue:
-----------------------
I Have searched existing issues, including issues that are closed but no luck.

### Issue description
I managed to setup a recyclerview of video list, my plan is to preview the video in
a bottom sheet fragment after long-click an item in the recyclerview video list.  almost done
but the screen is dimmed when playing in bottomsheet fragment.

### Vers

[2018-08-07 04:08] islor opened #4621 "Question, is there a way to add widevine plugin to devices which has no support?"
Might not be related to Exoplayer, but you guys might be more familiar with this.
To elaborate, I have a set top box that is running android 4.4 but gets the UnsupportedDrmException.REASON_UNSUPPORTED_SCHEME error when playing a Widevine content with Exoplayer.

Is there a way to add the drm support on the app level? Or is this only possible through device/chipset manufacturers? It seems to be the

[2018-08-07 08:52] erdemguven commented on #4613
Why don't you use AdaptiveTrackSelection? It already selects tracks according to bandwidth measurement.

[2018-08-07 08:58] gerardiandrea opened #4622 "Player blocked after empty preroll"
Before filing an issue:
-----------------------
I Have searched existing issues, including issues that are closed but no luck.

When reporting a bug:
-----------------------
The bug occurs using the "extension-ima" library in case the call to the preroll returns an empty xml or goes into error

### Issue description
Using the extension-ima library for managing the dfp advertising, if the call to t

[2018-08-07 08:59] #3896 closed, assigned to erdemguven

[2018-08-07 09:02] andrewlewis commented on #4622
Please could you set `DEBUG` to true in `ImaAdsLoader` then reproduce the issue and send over the logcat output? We should be handling an empty preroll, though there's a bug where we don't handle two empty ad breaks in a row (#4030).

[2018-08-07 09:08] andrewlewis commented on #4621
The short answer is not at the moment, I'm afraid. In-app DRM is limited in the level of protection that can be provided anyway. I've heard that some other player SDKs provide content protection without dependencies on platform DRM support. @ojw28 may want to add more information.

[2018-08-07 09:08] #4621 closed, assigned to andrewlewis

[2018-08-07 09:13] gerardiandrea commented on #4622
I set the debug to true in ImaAdsLoader and I have attached the Logs that I report here again

08-07 10:52:34.179 30320-30320 W/IMASDK: Invalid internal message, ignoring. Please make sure the Google IMA SDK library is up to date. Message: gmsg://afma.google.com/activityMonitor?type=getPageSignals&sid=60443a9a-1ec8-4a0c-abc9-586d33488ec1&dt=1533631954167
08-07 10:52:34.189 30320-30320 D/IMASDK: Ad

[2018-08-07 09:13] andrewlewis commented on #4620
I haven't heard of screen appearing dimmed before. It might be worth checking your layout in the Android Studio layout inspector to see if there's a translucent view on top.

This sounds like an app issue, which would be beyond the scope of this issue tracker to investigate. If you can reproduce the issue on a non-customized build in the ExoPlayer demo app please provide a full bug report and we c

[2018-08-07 09:13] #4620 closed, assigned to andrewlewis

[2018-08-07 10:28] jzhoubupt opened #4623 "QA: how to add private DRM into ExoPlayer to play HLS encrypted stream?"
Hi,
This is a question instead of a issue report.
I'm evaluating using ExoPlayer SDK in product.
A typical feature is to play HLS encrypted stream with private DRM instead of using device Widevine or Playready.
This private DRM module provides:
1. license management
2. AES-128 decryption

The HLS encrypted  stream is standard AES-128 CBC mode which means the whole segment is encrypted and the decr

[2018-08-07 11:19] shushank22 opened #4624 "Not able to playback the MPEG TS content (Error : Media includes audio tracks, but none are playable by this device)"
### Issue description
When i am trying to playback the MPEG TS (.ts.mpg) file in Exo-Player, using the demo APP it shows me error "Media includes audio tracks, but none are playable by this device".
I am trying to play it on Android TV(720 P) API P emulator and Pixel XL API 28 emulator.

When I Play it on Samsung Galaxy s7, it gives me error "Media includes video tracks, but none are playable by t

[2018-08-07 13:35] andrewlewis commented on #4619
ExoPlayer handles this subtitle format, but see #3985 regarding getting subtitles to appear when using leanback.

[2018-08-07 13:35] #4619 closed, assigned to andrewlewis

[2018-08-07 15:55] koral-- commented on #4601
Thanks for that hint.
I haven't yet checked theories 1. and 2. but there is an explanation why file has ~13 MB and only ~250 KB of usable data.
Basically we are using the same output file path and `MediaMuxer` does not truncate it. So there might be a longer file produced in the past at the same path and new creation has overwritten only the first ~250 KB.

That is a bug on our side and we need to

[2018-08-07 19:26] ojw28 commented on #4615
You need to call `getResponseHeaders` whilst the connection is open (i.e. between `open` and `close`). This has been clarified in the Javadoc on our `dev-v2` branch.

[2018-08-07 19:42] ojw28 commented on #4601
I don't think there's enough evidence this is an ExoPlayer bug, so removing the label for now. It seems more likely to be an issue with the way the files are being written. In which case you will not be able to reproduce by side-loading, so definitely let us know if you manage to do that!

[2018-08-07 20:25] ojw28 commented on #4623
We don't provide any interfaces designed to support custom full-segment decryption. Your best bet would be to look at how AES-128 full segment decryption is supported in the HLS module, see if you can find a way to adapt it to your needs, and if you manage to get that working, think about how it might be possible to inject the custom pieces. If that can be done by adding some very minimal hooks th

[2018-08-07 20:54] cncb-gh commented on #2147
Hacky, yes, but maybe less hacky than everyone copying/forking the whole class just to change one thing?  And since this is low priority maybe a flag would be reasonable in the meantime until the extractor could be improved? Thanks.

[2018-08-08 06:47] qeadsw opened #4625 "2.8.3Where do upgrade logs look?"
What problems have been added or fixed?
There was no update to Bintray!

[2018-08-08 08:00] ojw28 commented on #4625
It's been updated now; thanks.

[2018-08-08 08:00] #4625 closed, assigned to ojw28

[2018-08-08 08:08] ojw28 commented on #4625
I'm not sure exactly where you're looking on Bintray, but if it's not updated you can find the release notes [here](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md).

[2018-08-08 09:19] keiththompson commented on #4535
I'm still getting this crash on r2.8.3.
From a Nexus 5x when playing ads:
[code]

[2018-08-08 09:23] ojw28 commented on #4535
The fix wasn't included in 2.8.3. It'll be part of 2.9.0.

[2018-08-08 09:53] andrewlewis commented on #4510
Sizing the input buffers with `min(format.maxInputSize * someFactor, estimatedMaxInputSize)` sounds fine. I guess it would be nicer to scale up the max input size only when the source is a concatenation, but I can't see an easy way to signal this at the moment.

[2018-08-08 10:23] robin2046 opened #4626 "IllegalClippingException when using ClippingMediaSource(LoopingMediaSource(limitedLoops))"
Tested on r2.8.2.
Following code will generate IllegalClippingException  when playing.

[code]

However, create looping media source with loop limit = INT_MAX will not generate the exception.
What is more, using LoopingMediaSource to wrap a ClippingMediaSource will also avoid this issue.

Is it a bug or some sort of limitation?

[2018-08-08 10:29] andrewlewis commented on #4626
The limitation is that `ClippingMediaSource` will only clip a single-period/window source, but looping results in a multi-period timeline. What result are you aiming for? In the code snippet you're trying to clip from zero to the end of the source, which is like not having a clip at all.

[2018-08-08 11:27] Sara-Tareq opened #4627 "ClippingMediaSource in CastPlayer"
I want to ask if there is a way to clip the stream running in the CastPlayer as it's shown in the normal player as clipped but when changing to CastPlayer it starts from a different position

[2018-08-08 12:00] satyres commented on #4548
Hi , Thanks ojw28 , so Seeking will be available in the next release ?
Thanks

[2018-08-08 12:01] ojw28 commented on #4548
It will be available in 2.9.0 (which may or may not be the next release, depending on whether there's a 2.8.4).

[2018-08-08 12:17] AquilesCanta commented on #4627
Have a look at the [MediaQueueItem.Builder docs](https://developers.google.com/android/reference/com/google/android/gms/cast/MediaQueueItem.Builder). Hopefully this addresses your issue.

[2018-08-08 12:17] #4627 closed, assigned to AquilesCanta

[2018-08-08 12:55] shushank22 commented on #4624
@andrewlewis @canatella @kiall @talklittle @jcable
Hi,
Can someone help me on this as this very urgent to me,
and I am not finding any solution of it,

Please guide me.

[2018-08-08 13:03] andrewlewis commented on #4624
It looks like these devices just don't have codecs for the given format. For example, it appears that the Samsung Galaxy S7 doesn't have an MPEG-2 video decoder.

Please read the [supported formats page](https://google.github.io/ExoPlayer/supported-formats.html) for more information.

[2018-08-08 13:03] #4624 closed, assigned to andrewlewis

[2018-08-08 13:14] shushank22 commented on #4624
@andrewlewis
So, If device/emulator doesn't support MPEG-2 video/audio decoder,
Is there any way we can play that content on Exo-Player with Android TV Emulator.

[2018-08-08 13:20] andrewlewis commented on #4624
I'm afraid not. The Android CDD strongly recommends including an MPEG-2 video decoder for Android TV devices from Android Marshmallow onwards, but it is not required.

[2018-08-08 13:48] andrewlewis commented on #4280
To fix this I think we need the IMA SDK to surface more information with adLoadErrors about exactly which ad/ad break is empty. I've filed [Internal: b/112349460] for this feature request and will update this issue when I have more information.

[2018-08-08 13:49] andrewlewis commented on #4030
To fix this I think we need the IMA SDK to surface more information with adLoadErrors about exactly which ad/ad break is empty. I've filed [Internal: b/112349460] for this feature request and will update this issue when I have more information.

[2018-08-08 13:51] andrewlewis commented on #4622
Please could you provide the full logcat, not just a snippet?

[2018-08-08 15:17] satyres commented on #4548
Thanks so much ojw28 for your time.
Have a nice day.
Best regards

[2018-08-08 15:41] gerardiandrea commented on #4622
These are the logs taken using an empty preroll and a midroll at 15 seconds
<details><summary>Logcat</summary>

[code]
</details>

[2018-08-08 16:00] daamumbai opened #4628 "multiple audio codecs in HLS manifest"
Hi,
Our manifest has multiple audio codecs. We tried using ExoPlayer v2.8.0 and it is trying to get only the first audio codec. If the first audio codec is not supported on the device, then there is audio mute issue. We expect, the second audio codec to be picked up and played. We are not seeing this issue with same manifest using MxPlayer.

Please note that below URL's are for illustration purpos

[2018-08-08 16:12] AquilesCanta commented on #4628
Do the streams include both audio streams? If not, why not fix the manifest to include only the muxed-in codecs?

If they do include both audio streams, then please see #2014. However, if they have different codecs, they should just work, so please provide a sample stream so we can have a look. We will reopen once the missing information is available below.

[2018-08-08 16:12] #4628 closed, assigned to AquilesCanta

[2018-08-08 16:28] andrewlewis commented on #4622
I have a possible fix in review for #4030 and #4280 which will likely address this. If you provide your ad tag I can verify, or feel free to wait for an update on those issues. Marking as a duplicate for now.

[2018-08-08 16:28] #4622 closed, assigned to andrewlewis

[2018-08-08 16:34] andrewlewis commented on #2147
@ebr11, @cncb-gh, @IanDBird, @drhill Any ideas if there's signaling in Matroska containers that distinguishes DTS and DTS-HD? The [codec ID](https://matroska.org/technical/specs/codecid/index.html) always seems to be A_DTS. The only way I'm aware of to address this properly is to start reading an audio sample and parse it to check which type of stream is in use, which is likely to be quite complic

[2018-08-08 17:05] gerardiandrea commented on #4622
you can try this ad tag

`https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/21690435817/rplym/test/test/video&cust_params=test%3D24&optout=false&programma=La prova del cuoco&genere=lifestyle&tipologia=Programmi Tv&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&url=[referrer_url]&description_url=[description_url]&correlator=1533033741271&vid_d=300&allcues=15000`

let me kno

[2018-08-08 17:25] ebr11 commented on #2147
Hi.  The codec is always the same but the codec_profile (as read by ffprobe or similar) will be different for the HD version(s).

[2018-08-08 18:08] ghost opened #4629 "Add Player.isPlaying()"
Hi there geniuses,

`Player.isPlayingAd()` is pretty hot and useful.

Could you geniuses add `Player.isPlaying()`? Because `Player.getPlaybackState()` doesn't know if it's playing or not.

I know you're all google's soldiers. So you must be very proud of `Player.isPlayingAd()`, right? But when you make some open source, could you geniuses temporarily forget about ads? And add that hotter `Player.i

[2018-08-08 19:15] cncb-gh commented on #2147
Sorry, I can't help other than to say that MediaInfo is able to identify the "profile" correctly so this might be some code to see how to do it: https://github.com/MediaArea/MediaInfo

[2018-08-08 19:38] koral-- commented on #4601
I could not reproduce that issue with sideloaded file (both valid or one with extra trailing bytes). However once (when playing malformed file attached few posts above) I've encountered this unhandled exception:
[code]
Does this one qualify as a bug?

[2018-08-08 22:15] koral-- commented on #4601
OK, it seems that I figured out the reason of the last one and it looks unrelated. So there is no issue in ExoPlayer library.

Thanks for your hints and sorry for wasting your time.

[2018-08-08 22:15] #4601 closed, assigned to erdemguven

[2018-08-09 00:53] robin2046 commented on #4626
Use limited clip still reproduces the error:

[code]

I understand that I may/should not use ClipSource to wrap a LoopSource, which does not sound correct as you said. But maybe throw a illegal argument exception is better because I don't know the limitation of ClipSource(can not clip multi-period timeline) before you explained it.

One more question, why ClipSource(LoopSource(ExtractSource, INT_M

[2018-08-09 02:48] daamumbai commented on #4628
Thanks so much for your reply. In our case, the ts contains all 3 streams i.e. 1 video, 2 audio (ec-3, AAC).
As per the case #2014, I understand that it is not officially supported and in order to support it then we need to go for "alternate renditions". I believe it is supported in HLSv4. We will proceed with that approach.

" I don't think it's officially supported in HLS to mux multiple streams

[2018-08-09 03:28] daamumbai commented on #4628
Another question.

As per the case the case #2014, "but in HLS the pid can change from one chunk to the next". Can you please give me real time example to understand how pid can change from one chunk to next in case of HLS?

[2018-08-09 07:40] andrewlewis commented on #4629
`player.getPlaybackState() == Player.STATE_READY && player.getPlayWhenReady()` tells you whether the player is playing. I'm not sure if it's worth providing an `isPlaying()` method that returns this. Could you describe your use case for this function? Thanks.

[2018-08-09 07:40] lindathomaslinda opened #4630 "merging multiple videos"
Hi, I am trying to merge multiple mp4 videos using mp4Parser but it is not succeed due to different sample rates. Is it possible using Exoplayer and how can I achieve it. Any guideline please.

[2018-08-09 07:56] hemmaty76 opened #4631 "Disable default subtitle #Question"
Hello All,
I'm using for showing subtitle the below code

[code]

But some link having default subtitle. example:
 `http://dl17.dl-center-all.com/mo/63/Rosy.2018.720p.WEB-DL.2CH.x265.HEVC.PSA-BLAXUP.ORG.mkv`

i do everything until the show my subtitle. but show default subtitle

 i test this code for multi subtitle
[code]
return null  in getCurrentMappedTrackInfo()

even show defult subtitle when

[2018-08-09 09:29] AquilesCanta commented on #4628
If there is a discontinuity tag, the program map table could change, as far as I can see. The issue with this is mapping the tracks from one chunk to the next. Specially if there is no metadata, like the language. Also, we consider that the demuxed approach is the way to go, since allows better signaling in the master plalyist, plus it saves the bandwidth of the non-selected tracks.

[2018-08-09 09:45] pjmdr11 commented on #3985
Can you provide an example. I am stuck in this as well

[2018-08-09 10:08] ojw28 commented on #4353
I think this was a transient issue. Closing.

[2018-08-09 10:08] #4353 closed, assigned to ojw28

[2018-08-09 10:15] andrewlewis commented on #4622
That ad tag plays correctly with the fix I have in review, so please look for an update on #4030 when this gets pushed to the development branch.

[2018-08-09 10:21] hafiz013 opened #4632 "SimpleExoPlayerView and SimpleExoPlayer play video blank screen when resume video"
### Issue description
Hi dear developer, I am using com.google.android.exoplayer:exoplayer:r2.5.1 which is play for video from internet (link url). The problem happen when i resume the video sometimes, exoplayer attach to simpleexoplayer view play blank video but run audio only.

### Reproduction steps
Describe how the issue can be reproduced, ideally using the ExoPlayer demo app.
1) When pause th

[2018-08-09 10:33] ojw28 commented on #4601
@tonihei - Might be worth taking a quick look at the stack trace above (just because I'm not sure it should ever be possible for IOOB to happen there).

[2018-08-09 12:51] AlexDundar opened #4633 "AdsMediaSource doesnt play ads when device connected to 3g, but it plays ads on wifi."
Hello, I am using the last version of exoplayer and ima extension in my app:

[code]

For implementing ads into my video i use the next code:

[code]

And it works well when device is connected to wifi. But after i change connection to 3g, ads doesnt load, i see only video without ads. How to resolve this problem? Thanks.

[2018-08-09 12:57] andrewlewis commented on #4633
If network connectivity is poor then ads may timeout or otherwise fail to load, in which case content will be played. You can try increasing the timeouts in [ImaAdsLoader.Builder](https://github.com/google/ExoPlayer/blob/ed18be4/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L128). If you set `ImaAdsLoader.DEBUG` to true and attach a bug report or logcat we sh

[2018-08-09 12:57] #4633 closed, assigned to andrewlewis

[2018-08-09 13:11] andrewlewis commented on #4626
What are you actually trying to accomplish here? There's probably a way to do it using concatenation and clipping but it's not clear what result you're aiming for. If the goal is to loop some content until a certain duration and you know the content's duration, you could do this by looping the entire content `floor(total duration / content duration)` times then concatenating the result with a clip

[2018-08-09 13:16] harshitwynk opened #4634 "Getting IndexOutOfBoundsException crash in SinglePeriodTimeline"
### Issue description
Production users of my app are getting following crash sometimes.
Following is the crash logs -:

       at com.google.android.exoplayer2.h.a.a(Assertions.java:68)
       at com.google.android.exoplayer2.source.y.a(SinglePeriodTimeline.java:186)
       at com.google.android.exoplayer2.source.h$b.a(ConcatenatingMediaSource.java:841)
       at com.google.android.exoplayer2.sour

[2018-08-09 13:17] andrewlewis commented on #4630
ExoPlayer doesn't support writing MP4 files so I'm not sure it can help with this, but there's not much information to go on. If you could describe what inputs you have and what output you're looking for in more detail that would be helpful.

[2018-08-09 13:18] andrewlewis commented on #4597
ExoPlayer doesn't support recording streams so you'd need to implement this in your app. It's outside the scope of this tracker to give detailed guidance on that I'm afraid.

[2018-08-09 13:18] #4597 closed, assigned to andrewlewis

[2018-08-09 15:09] andrewlewis commented on #3750
It would be great if anyone who would like to use this feature could email dev.exoplayer@gmail.com with subject "Issue #3750" and provide a bit more detail on their app and use case. Thanks!

[2018-08-09 15:30] ojw28 commented on #4634
Please can you de-obfuscate the stack trace.

[2018-08-09 16:36] andrewlewis commented on #4632
Please provide a full bug report as requested in the template, then we can investigate further. Thanks.

[2018-08-09 18:58] kanthicn1 commented on #4613
Fair enough @erdemguven . Sorry for not writing the complete problem. I don't want to use `AdaptiveTrackSelection` because I want to use my own track selection logic which doesn't quite agree with what `AdaptiveTrackSelection` is doing. Also, the `DefaultBandwidthMeter`, which is used by `AdaptiveTrackSelection`,  gives a  "SlidingPercentile" estimate of bandwidth while I want the last instantaneo

[2018-08-09 19:13] ojw28 commented on #4631
Your code is selecting the first track in the first track group. Isn't the problem just that this isn't the correct track? It's probably the track that's embedded in the mkv file, rather than the one you're merging with `MergingMediaSource`. You should be looking at what's actually in `trackGroups`, to find the right track and group index, and using those.

[2018-08-09 19:17] ojw28 commented on #4631
Note: To find your track in `trackGroups`, the easiest thing to do is probably to set the `id` (first argument of `createTextSampleFormat`) to something unique, and then look for that in `trackGroups`.

[2018-08-09 21:51] hemmaty76 commented on #4631
yes. because when use this code
`selector.clearSelectionOverrides();`
and even use from
[code]
again show default subtitle

i don't understand how get trackGroups from id.

i change my code this but show default subtitle

[code]
forgive me for weak language . I don't know much English :(

[2018-08-09 22:05] ojw28 commented on #4631
You're just not using the track selector API properly. Perhaps it would be easier if you were to look at what the ExoPlayer demo app does when you select between the different subtitles.

[2018-08-10 01:50] robin2046 commented on #4626
I use loop source to make the content playing for a limited loops.
Anyway, thanks a lot for your explanation. They are all clear to me now.
Really appreciate your great work.

[2018-08-10 02:39] dushicai opened #4635 "MPEG-TS Only image no voice but Mediaplayer work well"
General
ID                                       : 1 (0x1)
Complete name                            : D:\Storage\jmake\7036434.ts
Format                                   : MPEG-TS
File size                                : 87.7 MiB
Duration                                 : 3 min 47 s
Overall bit rate mode                    : Variable
Overall bit rate                         : 3 232 kb/s

Video

[2018-08-10 05:25] TarifHatoum opened #4636 "HLS not working with AAC audio"
Playing a url with HLS and AAC audio results in a crash as below:
**Reproduction steps:**
use the link : http://185.99.32.173:1935/dvr/test1.stream_aac/playlist.m3u8?DVR

**Source error:**
                                                                                 com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to http://185.99.32.173:1935/dvr/

[2018-08-10 05:36] harshitwynk commented on #4634
Please find below de-obfuscated stack trace.

[code]

[stacktrace1.txt](https://github.com/google/ExoPlayer/files/2276713/stacktrace1.txt)

[2018-08-10 05:54] harshitwynk opened #4637 "Getting NullPointerException in DefaultHlsPlaylistTracker"
### Issue description
Some users of my app on production are getting crash.
PFB the crash logs

[code]

[stacktrace2.txt](https://github.com/google/ExoPlayer/files/2276754/stacktrace2.txt)

### Version of ExoPlayer being used
Exoplayer version - 2.8.2

### Device(s) and version(s) of Android being used
Device-Redmi Note 4     Android-7.0
Device-Mi A1     Android-8.1.0

[Uploading stacktrace2.txt…]

[2018-08-10 09:19] ybai001 opened #4638 "One question about playing HLS stream with multi audio codecs"
Issue:
When playing a HLS stream with multi audio codecs (i.e. one AAC + one Dolby EAC3), ExoPlayer will take more time in startup process than those with only one audio track.  The startup time is calculated by ExoPlayer status from STATE_IDLE to STATE_READY. And the more audio tracks exist in HLS, the more obvious this issue is.
However, Apple devices don’t have this issue with the same HLS stre

[2018-08-10 10:03] fredduarte commented on #4552
Hi, again.
Thank you for looking into the issue for us, we really appreciate it.

First, yes it was happening on all versions of the S7 Edge, but, it was just this device.

We’ve continued looking into the issue and we’ve made a configuration change
in the Widevine license.

The issue was solved by changing the securityLevel from “HW_SECURE_ALL” to “SW_SECURE_CRYPTO” in the HD track type in the Wi

[2018-08-10 10:05] #4626 closed, assigned to andrewlewis

[2018-08-10 10:12] hafiz013 opened #4639 "how to show thumbnails"
Hai, may i know how to show thumbnail of video before can play and pause as show in attachment. For your information, i use PlayerView, SimpleExoPlayer and custom controller_layout.

Note: I do research some say use setDefaultArtwork but still not working.
than you.

![content rodeo tablet movies](https://user-images.githubusercontent.com/6707224/43952510-c0fee0d8-9cc8-11e8-8b62-31d6f9330a6f.png)

[2018-08-10 10:13] ttm-hoangcm commented on #2659
Hello @andrewlewis ,

Sorry to bother you, but can I separate all of a MPEG-DASH stream audio (5.1 surround sound *.mpd file) channels (including R, L, C, SL, SR, LFE channel) and independent control each channel volumes ? What do I need to do that?

Thank you very much.

[2018-08-10 10:15] jzhoubupt commented on #4623
Thanks a lot for your confirmation.
Will keep you update if get private DRM integration into ExoPlayer in a well modulized solution.

For this feature (full segment decryption) indeed there is security concern from the industry and i completely understand. However there are still lots of video streaming solution running on these private DRM systems on open devices so the market requirement for thi

[2018-08-10 10:15] hafiz013 commented on #4632
Problem solve when i use com.google.android.exoplayer:exoplayer:2.8.2, replace SimpleExoPlayerView with PlayerView and replace depreciate function ExtractorMediaSource with ExtractorMediaSource.Factory(dataSourceFactory).setExtractorsFactory
                (new DefaultExtractorsFactory()).createMediaSource(Uri.parse(pathVideo));

Please make it this issue survive as guideline to others.

[2018-08-10 10:23] #4623 closed, assigned to ojw28

[2018-08-10 12:26] ojw28 commented on #4632
It sounds like you resolved the problem just by updating to a more recent version, which is kind of a default thing to try. I don't think we need to explicitly document this.

[2018-08-10 12:26] #4632 closed, assigned to andrewlewis

[2018-08-10 12:26] AquilesCanta commented on #4638
Hi @ybai001, please have a look at our [medium post](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6) about HLS preparation. If this does not help, please provide a sample stream, so we can know what the stream looks like.

[2018-08-10 12:27] #4638 closed, assigned to AquilesCanta

[2018-08-10 12:41] AquilesCanta commented on #4636
Hi, I can successfully play the provided stream. Aside, the issue you are encountering does not seem to be ExoPlayer-related. It seems to be related to network issues. Please provide precise steps to reproduce in the demo app for us to take a look.

[2018-08-10 12:41] #4636 closed, assigned to AquilesCanta

[2018-08-10 13:45] AryaNyx opened #4640 "Show two player view with one stream in same time"
I need to transfer a exoplayer to a dialog and show it till dialog is showing and after dismiss remove it from dialog. i have done it with remove view from parent and add it to dialog view , but i need both in same time , for example i need to show video in main view with blur effect while dialog with same video is showing on screen. how can i do it , i don't want to add two player and request str

[2018-08-10 13:52] andrewlewis commented on #4640
I don't think the Android view system provides a way to show surface output in two views at the same time like this. It's possible to implement it yourself by passing the decoder a surface from a `SurfaceTexture` so it can render off-screen, then copying from there to two different output `SurfaceView`s using GLES. The blurring effect could also be applied as part of the copy shader for one of the

[2018-08-10 13:52] #4640 closed, assigned to andrewlewis

[2018-08-10 13:56] andrewlewis commented on #4639
Can you show an `ImageView` on top of your `PlayerView` with the bitmap you want to display, then hide it when you want to show the player view?

[2018-08-10 13:56] #4639 closed, assigned to andrewlewis

[2018-08-10 14:28] andrewlewis commented on #2659
@ttm-hoangcm Yes, it should be possible. Please read this thread from the start. It should provide enough information on how to implement your own audio processor that does this. @roundsmapp may also be willing to share their implementation.

This seems like quite a niche feature so we don't currently plan to add it to the core library. If someone can describe an important or popular use case that

[2018-08-10 14:30] andrewlewis commented on #4635
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-08-10 14:30] #4635 closed, assigned to andrewlewis

[2018-08-10 14:34] andrewlewis commented on #4637
The stack trace doesn't quite make sense: `resetInternal` doesn't call `prepareSourceInternal` on the given line for example. Please could you check the right proguard map is being applied? It looks like `DefaultHlsPlaylistTracker` is being released twice but that's not expected to happen.

[2018-08-10 16:38] koral-- opened #4641 "Random IndexOutOfBoundsExceptions from Timeline.EMPTY.getPeriod"
### Issue description
`IndexOutOfBoundsException` is sometimes thrown. It seems to not depend on file nor device.

[code]

### Reproduction steps
Exact steps unknown. Interaction with ExoPlayer consist of using `SimpleExoPlayer` with local MP4s and seeking. Issue occurs just after starting playback.

### Link to test content
Sent to dev.exoplayer@gmail.com

### Version of ExoPlayer being used
2.8.

[2018-08-10 16:39] koral-- commented on #4601
I was able to capture a bugreport with that IOOB, reported as #4641.

[2018-08-10 17:03] cncb-gh commented on #4476
Can this be extended to MPEG-TS or is it too different? Thanks.

[2018-08-10 17:05] ojw28 commented on #4476
It's already extended to TS.

[2018-08-10 17:07] cncb-gh commented on #4476
So, the newest build now supports seeking in TS?  Great!

[2018-08-10 17:08] ojw28 commented on #4476
The latest `dev-v2` branch does. This functionality will be in the `2.9.0` release.

[2018-08-10 18:08] ojw28 commented on #4542
We will get this merged relatively soon. Given there's a pull request already, I don't think we need to keep this issue open as well. Thanks!

[2018-08-10 18:08] #4542 closed, assigned to tonihei

[2018-08-10 18:37] harini113 opened #4642 "com.google.android.exoplayer2.upstream.DefaultAllocator.allocate"
Seeing the following failure with exoplayer 2.7.3 version on P. The logcat message is listed below. I saw this with 2.4 version and then was recommended to upgrade to 2.7.3 but still seeing this issue.

08-02 06:10:26.117  5205  5230 I aptmm_exoplaye: Starting a blocking GC Alloc
08-02 06:10:26.117  5205  5231 E LoadTask: OutOfMemory error loading stream
08-02 06:10:26.117  5205  5231 E LoadTask:

[2018-08-11 03:22] aromanelli opened #4643 "NotificationBroadcastReceiver not receiving notifications; ViewPager"
### Issue description
TL;DR Activity with a ViewPager, with ten-ish Fragments, most, but not all of them, each having an ExoPlayer, the later fragments will not have their notification play buttons work, while the first/earlier ones will.  Notification buttons always break after there's a gap in the ViewPager display hierarchy, of a fragment without an ExoPlayer in it.

Long Version:  I have an ac

[2018-08-11 05:15] kanthicn1 opened #4644 "Back buffer implementation"
In ExoPlayer 2.8.2, there are two new interfaces `retainBackBufferFromKeyframe` and `getBackBufferDurationUs`, which, according to the comments in `LoadControl.java` and my experiments, retain `getBackBufferDurationUs` worth of buffer *behind* the playback position. I implemented my own `LoadControl` and returned `100*1000*1000`us for the call `getBackBufferDurationUs`. But, when I seek back in my

[2018-08-11 11:32] msahil432 commented on #4519
I am also having same issue, when playing this audio file: https://freewavesamples.com/files/Yamaha-V50-Metalimba-C2.wav
Someone on other issue said that it might be fault of media file. So can we prevent that behaviour?

[2018-08-11 16:07] cncb-gh commented on #4476
Excellent.  Is there a release timeline posted somewhere? Many thanks to you, @botaydotcom, @andrewlewis, and anyone else working on this fantastic project!

[2018-08-12 14:31] luckylook opened #4645 "BlackScreen when onAudioUnderrun is called and Playback Exception"
Hi
i am playing Dash widevine video and after a while i get sometimes onAudioUnderrun  and  Playback Exception after that my screen turn to black?? why??
i am using : exoplayer:2.8.2 , Nexsus device For Android TV version 8.0.0 oreo

[2018-08-12 19:01] IanDBird commented on #2147
My understanding is that the container will not specify the profile used, and only the codec. Therefore the only reliable way to detect any DTS extension is to detect it from an audio sample.

[2018-08-13 02:31] robin2046 opened #4646 "Any plan to enable downloading SS/DASH/HLS into one single mp4 file?"
The newly added download manager feature can download and cache the streams on device storage. However, is it possible to provide the function to assemble them into a single mp4 file?

For example, I saw the RedditIsFun app can download the short video clip from https://v.redd.it (served as DASH) in a single mp4 file and then user can share the video clip easily. When I tried to use ExoPlayer to d

[2018-08-13 05:39] danha306 opened #4647 "Not able to add custom headers to offline DRM key request"
### Issue description
When requesting an offline Widevine key with our key provider (DRMToday) requires the header field "x-dt-custom-data" with associated information. I can find no way of doing that with the OfflineLicenseManager, as the "optionalKeyRequestParameters" seems to add the field to the body instead of the header. Packet sniffing with Charles shows that the "x-dt-custom-data" field is

[2018-08-13 05:41] danha306 commented on #4647
I accidentally pressed "post" instead of backspace... I can't seem to delete this.

[2018-08-13 06:08] workspace commented on #4647
I recommend to set keyRequestProperties for [HttpMediaDrmCallback](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/drm/HttpMediaDrmCallback.java). If you  open [this lines](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/drm/DefaultDrmSession.java#L510-L516), you can find callb

[2018-08-13 06:26] gauravbarthwal opened #4648 "ABR is not working on Android version 4.4.2"
Hi There,

I am using ExoPlayer 2.8.2 and ABR is not working on Android 4.4.2. If video starts with lower bit rate then it keeps on playing on the same bitrate, but on the devices above Android version 5.0. Previously I was using ExoPlayer version 2.6.1, I could able to set minimum bitrate value but with 2.8.2 in AdaptiveTrackSelection.Factory parameter is been removed.

Any suggestion what would

[2018-08-13 06:28] danha306 commented on #4647
We use HttpMediaDrmCallback in other parts of the app and setting custom headers works fine there. The problem is that the [OfflineLicenseManager](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/drm/OfflineLicenseHelper.java) does use HttpMediaDrmCallback as well, but doesn't give me any possibility to set custom headers or modify the Ht

[2018-08-13 06:33] workspace commented on #4647
Use this [constructor](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/drm/OfflineLicenseHelper.java#L117). you can pass your own callback for OfflineLicenseHelper and it will work fine.

[2018-08-13 06:56] jaykk09 commented on #4347
I see the same problem only when playing Hi-Res 4K HEVC content.
[code]

[2018-08-13 07:01] danha306 commented on #4647
Thank you, that seems to have worked!

[2018-08-13 07:01] #4647 closed, assigned to nobody

[2018-08-13 07:16] jaykk09 commented on #4448
Saw this on a different hardware running 8.0.

In my case - I'm switching from playing content 1 that has different AudioTrack profile to another with a different profile

[code]

[2018-08-13 09:52] noamtamim opened #4649 "AnalyticsListener.onBandwidthEstimate() is not called"
### Issue description
I've started using the new `AnalyticsListener`, with the hope of replacing multiple metrics-collection listener with a single one. Everything seems to work fine, except that `onBandwidthEstimate()` is never called.

### Reproduction steps
Using the main demo app:
1. In ExoPlayer's `EventLogger`, find `onBandwidthEstimate()` and replace the first line from `// Do nothing.` to

[2018-08-13 10:16] AquilesCanta commented on #4575
Closing due to lack of activity.

[2018-08-13 10:16] #4575 closed, assigned to AquilesCanta

[2018-08-13 10:17] AquilesCanta commented on #4555
If the track is now detected as unsupported, then there is not much else we can do. Thanks for reporting.

[2018-08-13 10:17] #4555 closed, assigned to AquilesCanta

[2018-08-13 10:17] #3283 closed, assigned to AquilesCanta

[2018-08-13 10:24] AquilesCanta commented on #3790
Hi @okaymak, are there any updates on this? Please comment below and we will reopen.

[2018-08-13 10:24] #3790 closed, assigned to AquilesCanta

[2018-08-13 10:28] AquilesCanta commented on #2981
Please give the new LoadErrorHandlingPolicy a try and let us know if it suits your needs.

Thanks!

[2018-08-13 10:28] #2981 closed, assigned to AquilesCanta

[2018-08-13 10:29] AquilesCanta commented on #2844
Please have a look at LoadErrorHandlingPolicy and let us know if it suits your needs.

Thanks!

[2018-08-13 10:29] #2844 closed, assigned to AquilesCanta

[2018-08-13 10:32] AquilesCanta commented on #2929
Closing due to lack of required information. Please share again and we will reopen the issue.

[2018-08-13 10:32] #2929 closed, assigned to AquilesCanta

[2018-08-13 10:37] andrewlewis commented on #4646
Duplicate of #4540

[2018-08-13 10:37] #4646 closed, assigned to andrewlewis

[2018-08-13 10:46] andrewlewis commented on #4644
If you're playing video and using frame-exact seeking (the default), one possible explanation for the 1--2 second pause is that the video decoder is decoding from the previous keyframe and this is taking some time. If you're using a large keyframe interval the decoder may need to process a lot of data before it can render the frame at the requested seek position. If you see that input is queued to

[2018-08-13 10:46] #4644 closed, assigned to andrewlewis

[2018-08-13 10:50] andrewlewis commented on #4642
Please also provide a full bug report (`adb bugreport`) as requested in the issue template so we can investigate efficiently.

[2018-08-13 10:50] #4600 closed, assigned to ojw28

[2018-08-13 10:56] akurni commented on #4559
I think this problem is related to the issue i encountered #3829.

[2018-08-13 11:53] AndroidDeveloperLB opened #4650 "Question: is it possible to play a video while also downloading it to a file?"
This can be very important for caching, in case we wish to view the video again later.

[2018-08-13 12:39] userdimi opened #4651 "Question: How to detect if the given dash stream has subtitles?"
I want to display my subtitles buttons dynamically depends if a the dash stream has subtitles or not. How can I detect this inside the Exoplayer?

[2018-08-13 12:59] andrewlewis commented on #4645
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-08-13 13:29] AquilesCanta commented on #4015
Hi, @jboisjo, please provide the information requested in the comment above and we will reopen the issue.

[2018-08-13 13:29] #4015 closed, assigned to AquilesCanta

[2018-08-13 13:33] abhivinny commented on #2981
Thanks a lot. I will give it a try.

[2018-08-13 13:46] ojw28 commented on #4280
Please give the latest `dev-v2` branch a try, and let us know whether this is fixed. Thanks!

[2018-08-13 13:46] ojw28 commented on #4030
Please give the latest `dev-v2` branch a try, and let us know whether this is fixed. Thanks!

[2018-08-13 14:09] AndroidDeveloperLB opened #4652 "Request: add option to avoid having black content while loading, if shown something else before"
Suppose I view some video file, and then I want to view another video file.

At the moment of loading the new video file, I've noticed it shows a black content for a very short time (probably the caching mechanism from storage to RAM).

Please grant a way to prevent this, meaning to show the previous video on paused state (or just an image of it at this point) till the new one is played.

Maybe, s

[2018-08-13 14:19] kanthicn1 commented on #4644
This is a great tip for me. Thanks @andrewlewis. It would be great if you could tell me if there's a way I can see whether "input is queued to the video decoder immediately after seeking". Are there any callbacks or debug statements that I can look for?

[2018-08-13 17:09] dmitriisemeniuc opened #4653 "Exoplayer Buffer state freezes the UI"
How to avoid the freeze of UI while Exoplayer stays in Buffering state?

Please read my [full question](https://stackoverflow.com/questions/51731941/exoplayer-buffer-state-freezes-the-ui)

[2018-08-13 19:15] levz opened #4654 "CacheDataSourceFactory fails to start when offline and non-zero track is cached"
//Version
2.8.0

//Source code
Not provided, because the issue can be reproduced on ExoPlayer Demo app

//Description
There is a manifest with several video variants. I use HlsDownloadAction to download one of them (I provide rendition key with type 0 and manifest variant index).

Then I use CacheDataSourceFactory to playback the content.

If the device is online, then there is no problem. Content

[2018-08-13 19:16] victorraft commented on #3693
Hi, @andrewlewis
With the limitation of #3750 (not being able to insert AdsMediaSource inside ConcatenateMediaSource) I had to change my approach and tried to do something similar as @NesmaNasr did: playing a single preroll before my videos playlist, by making an AdsMediaSource with a ConcatenateMediaSource inside it, but now I'm facing this new limitation.
I believe I am left with no easy way of

[2018-08-13 19:21] paf-wv commented on #4552
We have not been able to repro internally. Closing.

[2018-08-13 19:21] #4552 closed, assigned to paf-wv

[2018-08-14 00:00] DeveloperMCD commented on #4194
"For HLS segment playback, ExoPlayer selects the Extractor by file extension. The original segments are mp3 files, whereas the recorded ones are saved with ts extension, therefore the message Cannot find sync byte. Most likely not a Transport Stream. You can either configure the recording software to use the original file extension, or implement your own HlsExtractorFactory, to choose the used ext

[2018-08-14 02:28] robindanielk commented on #4347
@setanallas  i guess you should release the player ....btw how did you  prepare your media source..? because i actually resolved by setting` prepare(mediaSource, true, true)` , though it is the default method. I had set false previously for my usecase...

[2018-08-14 02:59] DeveloperMCD commented on #4194
I tried modifying the .m3u8 to contain .mp4 fragments instead of a bunch of .ts files, but then I get a different error:

com.yusufcakmak.exoplayersample E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.ParserException: Skipping atom with length > 2147483647 (unsupported).
        at com.google.android.exoplayer2.extractor.mp4.FragmentedMp4Extractor.readAtomHeader(Fragmente

[2018-08-14 04:05] jemjov41 commented on #4347
@robindanielk thanks for your answer, i'm not release it because i wanted to play in full screen so the player not buffering from the start again.

but i think its device problem, im test it in zenfone GO before, but when im using emulator(AVD) or huawei cam-L21 thats crash not happen. so im just release the player in spesific device now

[2018-08-14 06:20] Soumyajit19 opened #4655 "mp4 media file is not playing with exoplayer 2.7.2 in fragment"
Exoplayer 2.7.2 is unable to play video from the below mentioned url:
https://www.dropbox.com/s/1zmwcwvbz207qp8/agility%20900%20mid%20jr%20-%20001%20---%20Expires%20on%2020-07-2022.mp4

My code snippet

        simpleExoPlayerView.requestFocus()
        val bandwidthMeter = DefaultBandwidthMeter()
        val videoTrackSelectionFactory = AdaptiveTrackSelection.Factory(bandwidthMeter)
        val t

[2018-08-14 07:58] ghost opened #4656 "C is what?"
Heelo Mr. PHDs,

Didn't you look in the mirror to evaluate your face? Couldn't see that you were pretty much arrogant? `C` is an arrogant class name, can't you see that? If you "design" a public api, don't name it `A`, or `B`. And don't name it `C`. That is an arrogant name.

For god sake, it's a public api. Rename it to `Constants` instead. You will look much less arrogant. Still. But much less.

[2018-08-14 08:00] shaiksalam1314 commented on #4134
Is this issue resolved? I am also facing problem with specific devices.

[2018-08-14 08:51] junaid24 opened #4657 "Subtitle rendering in Exoplayer"
I developed a basic video player using Exoplayer and added subtitle support to my player using the following code

`Format textFormat = Format.createTextSampleFormat(null, MimeTypes.APPLICATION_SUBRIP,
            null, Format.NO_VALUE, Format.NO_VALUE, "ar", null);
    Uri subtUri = Uri.parse(subtUrl);
    MediaSource subtitleSource = new SingleSampleMediaSource(subtUri,dataSourceFactory, textFor

[2018-08-14 09:03] #4629 closed, assigned to andrewlewis

[2018-08-14 09:05] ojw28 commented on #4584
@spakanati123 - Could you answer my questions above?

[2018-08-14 09:07] #4528 closed, assigned to ojw28

[2018-08-14 09:13] ojw28 commented on #3487
It should definitely be possible to re-use the same player instance. This is pretty trivial (just re-prepare it with the new source). Re-using the same `MediaDrm` session should be possible too, but you'll probably need to supply a custom `DrmSessionManager` to do this, which has a way of keeping the session alive as the player is re-prepared with the new source. I don't think re-using the same pl

[2018-08-14 09:13] #3487 closed, assigned to ojw28

[2018-08-14 09:15] ojw28 commented on #4516
Closing due to lack of clarification.

[2018-08-14 09:15] #4516 closed, assigned to ojw28

[2018-08-14 09:23] AquilesCanta commented on #4194
Hi @DeveloperMCD, please file a new issue including all information requested in the issue template. 3 lines of logcat are rarely enough to diagnose an issue. Thanks!

[2018-08-14 09:40] ojw28 commented on #3933
Some things you could try to help debug this:
1. Try hardcoding `MediaCodecVideoRenderer.shouldUseDummySurface` to return false. If the issue was introduced in 2.5.0, then it's possible that the changes we made around use of dummy surfaces introduced the delay.
1. Try reproducing the issue in the demo app. I don't think you need full zapping from one channel to another to measure what you're seein

[2018-08-14 09:40] ojw28 commented on #4412
Closing this for now, because it's unclear that there's anything actionable for us to do. Please reply here if you're able to be more concrete about the issue. Thanks!

[2018-08-14 09:40] #4412 closed, assigned to ojw28

[2018-08-14 09:55] ojw28 commented on #4493
This is a bug, but it's also unclear why you would modify `getBackBufferDurationUs` when playing progressive live streams, since seeking within such streams wont work either way.

[2018-08-14 10:03] hafiz013 commented on #4632
please open back this issue since it still persistent happen again but sometimes.

[2018-08-14 10:05] erdemguven commented on #4648
maxInitialBitrate parameter is removed from AdaptiveTrackSelection, do you mean that? In the latest version you can set it in DefaultBandwidthMeter.Builder.

I have tested ABR on a 4.1.1 device and it works fine. I'll try on a 4.4.2 device too.

[2018-08-14 10:12] ojw28 commented on #4304
This will be merged shortly. Let's use the pull request for tracking.

[2018-08-14 10:12] #4304 closed, assigned to ojw28

[2018-08-14 10:13] ojw28 commented on #4497
As per comment above, I'd suggest you contact the Oculus team about this, in the first instance.

[2018-08-14 10:13] #4497 closed, assigned to ojw28

[2018-08-14 10:20] ojw28 commented on #1502
You should probably not be retaining 9 players at once, regardless of how big their buffers are. Instead, you should look at ways of pre-caching the start of the videos that are likely to be swiped to, and using a single player instance. This will avoid any accidental contention between the players for other resources (e.g. hardware video codecs). @erdemguven can provide guidance on pre-caching, i

[2018-08-14 10:36] ttm-hoangcm opened #4658 "Does ExoPlayer has any support to crop video?"
I want to display just only a quarter screen of the stream video. Is it possible with ExoPlayer?

[2018-08-14 10:44] ojw28 commented on #4468
This should have been largely addressed in 2.8.3. Please let us know if you see further devices experiencing this issue using 2.8.3 or later (a list with occurrence counts, similar to the one above, would be great). Thanks!

[2018-08-14 10:51] ojw28 commented on #4539
Closing due to lack of actionable information. Please comment again here if you're able to provide a simpler test an reproduction steps.

[2018-08-14 10:51] #4539 closed, assigned to ojw28

[2018-08-14 12:04] levz commented on #4654
My mistake - did not use manifest parser when starting video offline, as explained in this article (which I somehow missed before):
https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e

I have added manifest parser when creating HlsMediaSource and it started to work:

[code]

Sorry for populating unnecessary issues.

[2018-08-14 12:04] #4654 closed, assigned to nobody

[2018-08-14 12:41] anril commented on #4616
[This example of controller](https://shaka-player-demo.appspot.com/docs/api/lib_media_gap_jumping_controller.js.html)  can help to solve the issue.

[2018-08-14 13:00] erdemguven commented on #4648
It works fine on 4.4.2 as well.

[2018-08-14 13:14] gauravbarthwal commented on #4648
@erdemguven I am testing it on Android STB which is 4.4.2 and on that device if the video starts playing on lower bitrate then it is not getting changed.

I have updated determineIdealSelectedIndex() in AdaptiveTrackSelection to play higher bitrate everytime.

[2018-08-14 13:35] markmckenna commented on #1502
This is from 2 years ago :) Thanks for the reply.

To follow up, we got this working pretty well, although it does run into resource contention issues on some devices, notably the Galaxy S* series (sort of ironic, really).  The small buffer doesn't really affect life under any normal network conditions; we did need to shift to using a TextureView to get the scrolling right.  We also ended up stori

[2018-08-14 13:46] erdemguven commented on #1502
You can easily precache progressive streams: https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

Unfortunately it isn't possible for adaptive streams currently.

[2018-08-14 13:51] markmckenna commented on #1502
Ah, ok. We basically only use adaptive streams, so that isn't a great
solution for us. My idea was to set up a local http service and host chunks
from there, but there are obviously DRM issues with that, and it's not
really that simple.

In any case, our basic problem is solved, so we're ok. Thanks!

On Tue, Aug 14, 2018, 10:47 Erdem Guven <notifications@github.com> wrote:

--
Mark McKenna
ANDROID

[2018-08-14 14:13] #1502 closed

[2018-08-14 14:42] ojw28 commented on #4351
I don't really understand the question. In any case it's unclear whether this is an ExoPlayer question, as oppose to a general question about Android development. We (ExoPlayer) provide a player that can render into a `Surface`, and a few UI components to go along with it. How you integrate those components into your app's UI is probably beyond the scope of this issue tracker.

[2018-08-14 14:42] #4351 closed, assigned to ojw28

[2018-08-14 14:59] ojw28 commented on #4347
@robindanielk - Is this issue occurring only on the one device? Are you able to reproduce on something like a Pixel or recent Galaxy S device, for example? I'm not convinced that the underlying platform isn't just in a bad state (you'd need to report this to the device manufacturer if so). A few additional notes:

* It doesn't look like the extensions are actually being used during the playbacks i

[2018-08-14 15:02] ojw28 commented on #4558
A full bug report was not provided. Closing due to lack of required information. Please reply here if/when you've provided one, and we'll take a look.

[2018-08-14 15:02] #4558 closed, assigned to ojw28

[2018-08-14 16:28] maxcollada opened #4659 "HLS adaptative bitrate video stuck on buffering state on ExoPlayer"
### Issue description
I have HLS ABR streams I am trying to play using ExoPlayer. The player initializes and displays video controls, with the debug overlay info displaying **playWhenReady=true** and **playBackState=buffering** and successfully displaying content's duration, but stays there and no playback happens.

### Reproduction steps
Load up the linked test content into ExoPlayer's demo app.

[2018-08-14 17:15] DeveloperMCD opened #4660 "AES encrypted m3u8 stream error: "Cannot find sync byte. Most likely not a Transport Stream.""
### Issue description
I have an M3U8 file, generated by FFMPEG (original source is an MP4 with AAC audio). It generates a series of .ts files: 720p_000.ts,  720p_001.ts, etc. I also add AES encryption. When I try to play the main .m3u8 file in exoplayer, it gives me an error.

NOTE: The file plays fine using hls.js, and it also plays in VLC, albeit with a bit of prodding (selecting the right Muxer

[2018-08-14 18:04] sneltyn opened #4661 "Adding m3u8 to ConcatenatingMediaSource stopped playback"
I use **ConcatenatingMediaSource** to play the video. After the first media **mp4** is added, the second carrier **m3u8** is added, and the Internet is disabled. I get the exception :

```HttpDataSourceException: It is impossible to connect to ...```

And the player stops the current playback of **mp4**.

How to ignore **m3u8** in case it fails to load it?

[2018-08-14 19:54] paulocoutinhox opened #4662 "How buffer works in ExoPlayer?"
Hi,

We need understand this behaviour in ExoPlayer to understand a problem in our server about file consumption.

So, when i set a mp3 file to play in ExoPlayer, how buffer works (ex: http://mysite.com/file.mp3)?

1 - The player download entire file before start play.
2 - The player download entire file while playing.
3 - The player download file but using current time + X (bytes/seconds/whatever

[2018-08-14 20:41] paf-wv commented on #3517
No updates at this point no further action can be taken. Please reopen once requested clear content is available.

[2018-08-14 20:41] #3517 closed, assigned to predaV, paf-wv

[2018-08-14 20:41] noamtamim commented on #4649
The same is true for other `AnalyticsListener` events. For example, `onViewportSizeChange()` and `onNetworkTypeChanged()`. For those two, `AnalyticsCollector` has `notifyViewportSizeChanged()` and `notifyNetworkTypeChanged()` respectively. These methods are currently only called from test code - they are probably meant to be called from an internal listener.

[2018-08-14 20:52] paf-wv commented on #4198
still waiting on device manufacturer.

[2018-08-14 23:23] rrfrias commented on #4329
We are trying to recreate a test with your license policy that Kyocera can use to investigate.

* rental_duration_seconds = length of video
* playback_duration_seconds = 124300
* license_duration_seconds = length of video?

Does this represent your policy (especially license_duration_seconds)? We will share it with you to confirm that you are able to repro. Also is it possible to call https://deve

[2018-08-15 05:29] ioKun commented on #55
@portizb don't sure where to ask. So ask here.
Have you started working on download service for RTSP?

[2018-08-15 05:59] tmizuguchi-bckk commented on #4329
@rrfrias As @BCjwhisenant mentioned before, we set the parameters as below:

We will let you know the result of the values "LicenseDurationRemaining" and "PlaybackDurationRemaining" soon.

[2018-08-15 07:30] rrfrias commented on #4329
@tmizuguchi-bckk i requested clarification because @BCjwhisenant seemed to mention setting the rental_duration_seconds to the video's duration rather than absoluteExpiration - currentTime (millisec)/1000

[2018-08-15 08:10] caominhhoang opened #4664 "Crop & display pieces of stream video in multiple view?"
I have a MPEG-DASH stream video with 5.1 audio, so I'm going to learn how to independent control each channel volume with ExoPlayer. However in parallel with that, I also need to crop the video screen into 4 pieces, and display each piece in a different view. I have not learned much about ExoPlayer and have no idea to do these things. Does anybody have some clues? Any advice and suggestions will b

[2018-08-15 09:57] andrewlewis commented on #4644
@AndroidRocks I don't think there's a way to verify this based on existing logging but you could add some logging in `MediaCodecVideoRenderer.skipOutputBuffer` or set a breakpoint there, and see whether it is hit immediately after requesting a seek (versus after the pause, in which case something else is going on).

[2018-08-15 10:29] tmizuguchi-bckk commented on #4329
@rrfrias it may be a terminology mismatching. @BCjwhisenant might mean playDuration is as "playable  period - how long the video is playable from the first play" than video duration.
@BCjwhisenant please correct me if I'm wrong.

[2018-08-15 14:10] jrw95 commented on #4329
@tmizuguchi-bckk  You are correct. My apologies for the terminology mismatch.

[2018-08-15 20:15] noamtamim opened #4665 "Allow app to turn off printing errors to logcat"
### Issue description
When there are playback errors, ExoPlayer sends them to logcat in addition to reporting via listeners:

[code]

I believe the player should not print to logcat. The app listens to `onPlayerError()` and it can decide to log these errors according to its own logic.

### Version of ExoPlayer being used
2.8.3

[2018-08-15 22:17] kanthicn1 commented on #4644
Thanks @andrewlewis . I added a debug and tracked this. Once the "seek is processed", i.e., my listeners have received the "onSeekProcessed" event, the debug statement from `skipOutputBuffer` starts. It is repeated several times and then the first frame is rendered very soon (< 20ms) after the last debug statement of `skipOutputBuffer` appears. So, what you said checks out that the player is spend

[2018-08-15 22:25] stari4ek opened #4666 "No tracks info received for TS in non-HLS mode"
This issue was introduced with changes made in commit: 4f57c46560006f188d6c8cf64aa3d7ffc003368c

Rolling back that changes on top of 8854aa415fbc39def3dfbd9c97d3a25812305999 fixes the problem.

I can reproduce the problem using next setup:
* https://play.google.com/store/apps/details?id=org.acestream.media.atv (provides local server which re-streams p2p content via http). Sorry for 3rd party app,

[2018-08-16 02:27] tmizuguchi-bckk commented on #4329
@rrfrias
I will send you actual values by query KeyStatus on the Kyocera device. Any other information would you need?

[2018-08-16 05:07] tmizuguchi-bckk commented on #4329
@rrfrias
We got values on the Kyocera X3 device as follows:

**What we requested**
license_duration_seconds = 7200
rental_duration_seconds = 7200
playback_duration_seconds = 7200

**returned from queryKeyStatus(byte[])**
   PersistAllowed: True
   PlayAllowed: True
   PlaybackDurationRemaining: 7198
   LicenseDurationRemaining: **0**
   RenewalServerUrl:
   RenewAllowed: False
   LicenseType: Offl

[2018-08-16 08:18] nicklasl commented on #4532
I just wanted to pitch in and say that we've seen this issue in our app as well. I've got nothing new that I can think of to add to this, will be sending some stack traces to the gmail address.
The crash occurs on a very small percent of the playbacks and we have not been able to reproduce it ourselves (all though we have not made much effort using the production/proguarded build).
These are the d

[2018-08-16 08:32] nicklasl commented on #4532
One thing, and I'm just spitballing here:
From my understanding, we have a similar UX as @jschamburger the user can switch streams using a viewpager, however we only use one fragment with one `PlayerView` and then we create a new instance of `SimpleExoPlayer` for each new stream, binding it to that single view.

What I wanted to conclude is that we could be releasing and creating new instances rap

[2018-08-16 08:41] andrewlewis commented on #4644
Assuming seeking is always to the same frame: whether you hit the network or not you always have to decode up to the frame-exact seek destination, so I'd expect seeking to take the same or longer time without a back buffer.

If the seek destination was not always the same frame in your experiment, that might explain the surprising result: the cost of the decoding step depends on how many frames ar

[2018-08-16 10:23] ojw28 commented on #4532
Interesting, although intuitively I wouldn't ever expect the design of the UI to result in a seemingly device specific assertion in this part of the player. As an initial step, what we'll do is add more information to the exception that's thrown (in the exception message). If this is a random VM/Proguard issue, then it's possible that doing this might just make the issue go away. If it doesn't go

[2018-08-16 11:15] amrakshay opened #4667 "RTSP Error - Frame Decoding"
I am using following settings in DVR
Bitrate - 128
Resolution - 640x480
FPS - 6

I am facing below RTSP Error
Error is shown in Red Text

![image 1](https://user-images.githubusercontent.com/19661888/44205353-b4b6f400-a173-11e8-98ad-01d87b231aba.png)
![image](https://user-images.githubusercontent.com/19661888/44205355-b4b6f400-a173-11e8-922b-174c73441000.png)
![error](https://user-images.githubuse

[2018-08-16 11:18] erdemguven commented on #4650
If you mean downloading a media using DownloadManager then yes, it's possible. It's recommended to not set FLAG_BLOCK_ON_CACHE on your player CacheDataSource so it isn't blocked in case it tries to play the same block the downloader downloads.

[2018-08-16 11:29] AndroidDeveloperLB commented on #4650
Maybe. Perhaps I will try to explain why I ask this:

I mean that supposed I have some URL that is directly to mp4 or mkv file, and I ask if it's possible to play the URL video while also saving it to a file.
It's not exactly like normal cache, because normal cache means it might automatically (or manually) be removed some time later, and I want full control of the file, to make it available for a

[2018-08-16 11:36] erdemguven commented on #4651
You can check the ExoPlayer demo app to see how the subtitle (text) button is displayed dynamically:
com.google.android.exoplayer2.demo.PlayerActivity#updateButtonVisibilities

[2018-08-16 11:48] erdemguven commented on #4652
If you use a playlist, this should be handled automatically. You can even use a dynamic playlist now:
https://medium.com/google-exoplayer/dynamic-playlists-with-exoplayer-6f53e54a56c0

[2018-08-16 11:53] qvk commented on #4468
Thanks! It might take a while to gather data with the 2.8.3 version though.

[2018-08-16 11:54] erdemguven commented on #4656
Thanks for your comment. We'll consider this in the future.

[2018-08-16 11:58] monxarat opened #4668 "How to create Two PlayerView in one Activity"
In my app, I want to create two PlayerView.
1. Play video
2. Play audio.

[2018-08-16 12:04] erdemguven commented on #4655
I tried the given video on ExoPlayer demo app 2.7.2 and it plays fine. Please try on different device.

[2018-08-16 12:13] #4656 closed, assigned to erdemguven

[2018-08-16 12:39] OMArikan commented on #4532
Not like @nicklasl and @jschamburger integrations I don't have any pager UI. SimpleExoPlayer implemented as demo app, releasing and preparing in each actions. Also I don't use PlayerView in my app, to customize everything I use my SurfaceView and custom controller with anchor methodology like 1.5.0 version. Letting us you know that maybe helps you to find out different thing.

Also we already reac

[2018-08-16 12:47] ojw28 commented on #4532
What percentage of your total active users is 630? Absolute numbers really don't tell us anything about how prevalent this issue is.

[2018-08-16 14:03] AndroidDeveloperLB commented on #4652
I don't use a playlist. Well at least not in the same sense of a video/audio playlist as on normal apps.

The thing is that there is a manual trigger (user presses on an item from a list) that will play a video that's related to what was chosen, repeatedly (same video).

It means something like master-view or gallery&preview: There is a list of thumbnails, and each of them will play a different vi

[2018-08-16 14:15] Ratnadeep22 commented on #4667
I am also getting the same error while trying to process on images by fetching it from CCTV camera with RTSP

[2018-08-16 15:12] tobiasguimaraes opened #4670 "ExoPlayer in recycler view codec error"
### Issue description
two video in sequnce on recycler view, the second player throws
`Decoder init failed: OMX.qcom.video.decoder.avc, Format(1, null, video/avc, -1, null, [3840, 2160, -1.0], [-1, -1])`

### Link to test content
https://s3.amazonaws.com/dev.static.status.life/posts/e4554cc39281061a764e5d2a46f39ed1534425707.mp4

### Version of ExoPlayer being used
2.8.3

### Device(s) and version(

[2018-08-16 15:41] marcbaechinger commented on #4670
Is this device capable of playing two video of the same format at the same time?

I recommend using only a single ExoPlayer instance and play only one video at the time.

[2018-08-16 15:44] ojw28 commented on #4510
This should be addressed for most cases in `dev-v2`, so please give that a try. The fix will be in the 2.9.0 release (for which we do not yet have a solid ETA).

[2018-08-16 15:44] #4510 closed, assigned to ojw28

[2018-08-16 15:56] StaticBR commented on #4510
@ojw28 Thank you very much. We will give it a try.

[2018-08-16 16:02] Soumyajit19 commented on #4655
I tried with different device still getting the same error. Please find the log.

com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor) could read the stream.
        at com.google.

[2018-08-16 16:17] ojw28 commented on #4493
Fixed in `dev-v2`.

[2018-08-16 16:17] #4493 closed, assigned to ojw28

[2018-08-16 16:26] erdemguven commented on #4649
I can confirm that on dev-v2 branch they work fine. Btw, onNetworkTypeChanged was removed and onViewportSizeChange was renamed to onSurfaceSizeChanged.

[2018-08-16 16:50] erdemguven commented on #4653
@ojw28 could you look at this?

[2018-08-16 16:59] ojw28 commented on #4653
This sounds like an application issue (and we don't generally have sufficient time to debug application code). I doubt anything ExoPlayer is doing is blocking the main thread. If your UI is freezing, you probably need to attach a debugger, or similar, and work out what the application's main thread is doing during that period.

[2018-08-16 16:59] #4653 closed, assigned to ojw28

[2018-08-16 16:59] ojw28 commented on #4653
If you're able to reproduce with our demo app, or can diagnose an actual issue with the library, then please do let us know.

[2018-08-16 17:12] erdemguven commented on #4657
If you're using PlayerView, it adds PlayerView.ComponentListener as text output using TextComponent.addTextOutput() in setPlayer().
When PlayerView.ComponentListener.onCues is called it calls subtitleView.onCues(cues).
Cue class has text field. You can translate it and create a new Cue object with the translation and pass to subtitleView.

[2018-08-16 17:23] erdemguven commented on #4664
Duplicate #4658

[2018-08-16 17:23] #4664 closed, assigned to erdemguven

[2018-08-16 17:30] erdemguven commented on #4658
ExoPlayer can draw video into any Surface. The surface is set by the application via SimpleExoPlayer setVideoTextureView or any setVideoSurface* methods. You can apply cropping or any other transformation on the surface.

[2018-08-16 17:42] erdemguven commented on #4659
@AquilesCanta could you look at this.

I can reproduce the issue. Also I tried to play the stream on VLC, although it starts playback, it stops after a few seconds.

[2018-08-16 18:10] AquilesCanta commented on #4659
This is not HLS compliant.

The master playlist points to a media playlist, which is fine. However, each segment url points to a new media playlist, while it should point to a media segment. Please clarify if I got something wrong and we will reopen the issue.

[2018-08-16 18:17] AquilesCanta commented on #4660
The key looks weird. From the spec:

_[AES_128] encryption uses 16-octet keys.  If the KEYFORMAT of an EXT-X-KEY tag is "identity", the Key file is a single packed array of 16 octets in binary format._

If the key is wrong then decryption will fail and the extractor input will not be container compliant. You should make sure that encryption follows the specification and that the decrypted content

[2018-08-16 18:17] #4660 closed, assigned to AquilesCanta

[2018-08-16 18:26] marcbaechinger commented on #4643
I think the problem is around having two instances of PlayerNotificationManager registering a broadcast receiver. You should try using a single PlayerNotificationManager only.

I'd also suggest to have only a single player instance for all fragments in the ViewPager.

That's a similar arrangement like for a RecyclerView. If you are using more than one instance of the player, you need to make sure

[2018-08-16 20:23] erdemguven commented on #4662
It's the third one. You might find this video helpful: https://youtu.be/jAZn-J1I8Eg?t=25m1s

[2018-08-16 20:34] erdemguven commented on #4668
This issue looks like a general question about Android development. We recommend asking such questions on Stack Overflow, and are unfortunately unable to answer them here.

[2018-08-16 20:34] #4668 closed, assigned to erdemguven

[2018-08-16 20:47] erdemguven commented on #4331
Please take a look at:
https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e

[2018-08-16 20:47] #4331 closed, assigned to erdemguven

[2018-08-16 20:49] ojw28 commented on #4665
This is a valid point, but on the flip side it's helpful for us to have some logging enabled by default, so that when less advanced developers file "playback doesn't work" type issues, there's something in the logs to go on.

We could leave the logging on by default and add a way of disabling it. Is it really important or worth it though? Is the logging causing any non-trivial issues for you? Than

[2018-08-16 20:49] erdemguven commented on #4613
@ojw28 could you look at this?

[2018-08-16 20:51] erdemguven commented on #4604
Closing due to inactivity.

[2018-08-16 20:51] #4604 closed, assigned to erdemguven

[2018-08-16 20:52] #4512 closed, assigned to erdemguven

[2018-08-16 20:55] erdemguven commented on #4465
As long as they use the same Cache object it should be fine.

[2018-08-16 20:55] #4465 closed, assigned to erdemguven

[2018-08-16 20:57] ojw28 commented on #4613
There is a guarantee, which is that the `TransferListener.onTransferEnd` call corresponding to a chunk will always be called before `TrackSelection.updateSelectedTrack` is called to pick the quality for the next chunk. Note that `DefaultBandwidthMeter` updates its bitrate estimate in `onTransferEnd`, and `AdaptiveTrackSelection` gets the bitrate estimate in `TrackSelection.updateSelectedTrack`. He

[2018-08-16 20:57] #4613 closed, assigned to ojw28

[2018-08-16 21:00] ojw28 commented on #4652
Does calling `PlayerView.setKeepContentOnPlayerReset(true)` do what you're looking for? I suspect that calling this on your `PlayerView` might just give you the behavior you're looking for.

The only case I'm aware of where you'd still expect to see black during loading is when playing DRM protected content, which I think is a platform limitation related to the way that the secure video path works

[2018-08-16 21:01] kanthicn1 commented on #4644
Thanks @andrewlewis. I can't guarantee that the seeks are to the same frame in both cases. But, from your answer what I take away is that my minimal sample set of 30 seeks is not making sure that "on an average the seeks are to the same location". I should probably execute many more seeks for the law of large numbers to kick in (and also make sure the video and throughput are the same to rule out

[2018-08-16 21:02] ojw28 commented on #4652
You can also use the `keep_content_on_player_reset` attribute, if the `PlayerView` is specified in a layout xml. See the [Javadoc](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html) for details.

[2018-08-16 21:03] kanthicn1 commented on #4613
Perfect. Thanks @ojw28 and @erdemguven.

[2018-08-16 21:14] maxcollada commented on #4659
@AquilesCanta To add a bit more, we can play this media using VLC, HLS players like those on the Apple TV and Roku platforms, and with some browser based players, it is ExoPlayer specifically we are having issues with. And after debugging the process using the source code, I can watch all of the Master Playlists being parsed correctly, with each of the ts segments also parsed. The difference with

[2018-08-16 21:19] aromanelli commented on #4643
I'll do a refactor and let you know how it turns out.

[2018-08-16 21:26] ojw28 commented on #4643
@marcbaechinger - I think all those suggestions are good, and have other important benefits. But as a separate point, I'm not sure I understand why this doesn't work correctly, and I wonder whether we could fix it regardless?

Intuitively I think I'd expect all registered receivers to get a broadcast triggered from any notification. Which would not result in correct behavior, but could possibly be

[2018-08-16 21:40] nikedlab opened #4671 "ParserException: Multiple Segment elements not supported"
Hello!
What, actually mean "ParserException: Multiple Segment elements not supported"?
The task what I try to implement is abnormal, but I try to find solution.
The aim is video streaming from NDK to java code. The file with some.mkv plased on SD card, in c++ code I read file by blocks (2048) and this block passed to Java code via JNI call. On Java side I want to collect received bytes to buffer a

[2018-08-16 21:46] DomainFlag opened #4672 "Unable to overwrite the exo_playback_control_view.xml for PlayerView when merging layout resources."
Here is my gradle properties:
[code]
I am using the 2.8.2v and the playback controller is located at the corresponding location: src/main/res/layout/exo_playback_control_view.xml

The issue is if I merging the layout resources then ExoPlayer can't find the resource(playback controller) but if I am not merging it works perfectly fine but main layout resource becomes less readable.

[2018-08-16 22:14] ojw28 commented on #4659
For what it's worth, playback works if you set `FLAG_IGNORE_AAC_STREAM` in `DefaultTsPayloadReaderFactory`. I didn't look further, but I'd guess the TS variants declare that they contain AAC streams, when they do not, and the player gets stuck trying to read some of those streams to determine their formats.

This theory could also explain why VLC defaults to playing with no sound on my Mac. It's s

[2018-08-16 22:31] ojw28 commented on #4671
It means that ExoPlayer's Matroska extractor has seen multiple segment elements. This is a violation of the [Matroska spec](https://matroska.org/technical/specs/index.html), which says:

The root problem is that you haven't implemented the `DataSource` interface correctly. In particular you're ignoring the `dataSpec` argument that's being passed to `open`, which contains, among other things, the o

[2018-08-16 22:41] paulocoutinhox commented on #4662
Thanks. This solve our doubt.

[2018-08-16 22:41] #4662 closed, assigned to erdemguven

[2018-08-16 22:54] maxcollada commented on #4659
@ojw28 That seems to be indeed the source of the problem we can play the content now. Of course more research is needed to spot the root issue exactly, but is an amazing find, thank you very much!

[2018-08-17 00:48] aromanelli commented on #4643
@marcbaechinger Regardless of how good/bad my beginners design was, please be mindful of the fact that ViewPager instantiates multiple fragments simultaneously, even though its only just showing one fragment on the screen/app at any one time.

So having just one player/notifier manager, while trying to make sure I'm only showing the video/notifications for the one visible fragment, may be problema

[2018-08-17 03:20] hafiz013 commented on #4639
ok note

[2018-08-17 03:25] hafiz013 opened #4673 "How to make playlist mp3"
Hi dear developer, how to make view mp3 list ( icon music, text name of music, time) in PlayerView? As far as I know, below there controller I can make custom through app:controller_layout_id but in the middle page i didn't know how to implement. Is it recycleview or what.
![music content -1](https://user-images.githubusercontent.com/6707224/44246326-407e5e00-a210-11e8-9ff5-bb8f85c52094.jpg)

[2018-08-17 06:25] jschamburger commented on #4532
For us, approximately 0.16% of the users had the crash, half of them on the Galaxy Tab A 10.1.

[2018-08-17 06:47] AndroidDeveloperLB commented on #4652
OK I will try it.
Say, if this doesn't work, will ViewAnimator work? Meaning having 2 PlayerViews, while one pauses as the other starts playing?
Is it ok to have multiple views for playing video?

[2018-08-17 06:58] noamtamim commented on #4665
Upon startup, we run a test (see #3835) that always causes ExoPlayer to fail (the failure error is what matters for the purpose of the test). We don't want this to be printed to the logcat because it looks like something bad has happened.
Further, it seems that some (all?) of the crash-reporting services also report logcat errors. This causes a lot of false positives in the reports.

So yes, an ab

[2018-08-17 07:05] andrewlewis commented on #4667
Are you using the RTSP support from #3854? It looks like the H.264 bitstream being fed to the decoder is not valid.

[2018-08-17 07:41] noamtamim commented on #4649
Thanks @erdemguven. Any chance of getting it fixed in the 2.8.x series as well (probably without the rename). Assuming there's going to be a 2.8.4, of course. The update from ExoPlayer 2.x to 2.y is typically breaking APIs and changing things that require extensive QA on our side.

Alternatively, if you can tell me how to capture `onViewportSizeChange` myself from a different source it will be gre

[2018-08-17 08:18] hafiz013 commented on #4301
question, how to get total time for each media source that play in exoplayer?

[2018-08-17 08:25] nikedlab commented on #4671
Unfortunately it's not up to me.. C++ logic should make some actions with video stream. I cannot explain what because I not familiar with it. On my side I should only collect bytes and play them

Ok. But DataSource need URI and I have not it.

After code modification video still not playing, only black screen
[code]

[2018-08-17 08:37] ojw28 commented on #4671
Hmm. You have a file path. If you have a file path, I don't really see why you can't just give that path to ExoPlayer in the form of a file uri.

That aside, the implementation still doesn't look correct. For example (but not limited to):

* Every call to `open` assumes that `inputStream` starts from the beginning of the file, however this is only true for the first call. If the `DataSource` is la

[2018-08-17 08:37] #4671 closed, assigned to nobody

[2018-08-17 09:11] KarlGallagher commented on #4496
Is there any available update on this ticket?

[2018-08-17 09:19] ram992 opened #4674 "Failed to open session: General DRM error"
Hello @ojw28, this is a question basically,

I am getting this error on almost all major devices and the cause of it is a bit confusing to me.

I use Modular DRM content and pass a drmSessionManager as shown in the demo app.
and also create a MediaDRM object like this
`mediaDrm = new MediaDrm(C.WIDEVINE_UUID);`
`securityLevel = mediaDrm.getPropertyString("securityLevel");`
to get the securityLevel

[2018-08-17 09:21] hariszukanovic commented on #3933
Thanx for pointers.
I will try to dedicate new time to this to produce some new info as soon as I can.

I am quite convinced that no other activities on main thread influence this behavior (significantly or globaly). Since I gave up on reusing the player object and I do re-instantiate it every time I do the zap, that actually gives me shorter zap time.

Just to confirm,
Is it correct to assume and

[2018-08-17 10:16] junaid24 commented on #4657
Thank you mate. I am getting it now.

[2018-08-17 10:42] #4030 closed, assigned to andrewlewis

[2018-08-17 10:42] #4280 closed, assigned to andrewlewis

[2018-08-17 11:02] ojw28 commented on #4532
Thanks. There's a Galaxy Tab A 10.1 in the office, so I'll try and get hold of it next week.

In the meantime, we've cherry-picked the more informative exception message into 2.8.4, which will be released soon. Once someone has captured a failure with this release, please share the message that you see! Note that the change will result in a slightly different stack trace (it'll be the same down to

[2018-08-17 11:06] marcbaechinger commented on #4643
@ojw28 I'll create a test fixture with multiple PlayerNotificationManager's to see what happens.

[2018-08-17 11:27] jschamburger commented on #4532
Hopefully you'll manage to reproduce it with this device - we got one as well (SM-T580) in the meantime, but weren't lucky so far.

[2018-08-17 14:15] #4657 closed, assigned to erdemguven

[2018-08-17 14:21] marcbaechinger commented on #4643
I'm not sure what actually happens in the application of @aromanelli. However, in my test ficture I found the following behaviour:

I created two sets of a SimpleExoPlayer, a PlayerView and a PlayerNotificationManager with the same notification channel but a different NOTIFICATION_ID. This results in two notifications are shown in the notification drawer. When using the buttons in the notification

[2018-08-17 15:18] igormisha opened #4676 "ClippingMediaSource is too much unprecise"
I try to play short piece of mp3 audio (44100 samples rate) with exoPlayer using it's ClippingMediaSource but it cuts the start of the piece for about 250 milliseconds, it's too much, is it possible to make it more precise?

I start exoplayer like this:

[code]

[2018-08-17 16:56] aromanelli commented on #4643
@marcbaechinger Concerning your last comment.  You've hit upon the issue I'm having, where the buttons in the notification only work for earlier instantiated/displayed fragments, and not later.  You could do fast flipping through fragments/pages, and get a fragment whose notification buttons would not work before, to start working, sometimes.

Also, please be aware, that if you use different NOTIF

[2018-08-17 17:50] OMArikan commented on #4532
@ojw28 since the releases of my app have exoPlayer 2.8.2;
645K Total Users
415K Samsung Users
189K Samsung 7.0 Users
650 Users faced with crash due to Assertions.checkArgument
Ratio of crash for that user specification : 0.34%
SM-G610F %43 of these devices

Also I realized this crash is not appearing on GA/Behavior/Crashes and Exceptions.

As soon as 2.8.4 will be released I'll update my app fast

[2018-08-17 23:14] casolorz opened #4677 "ReleaseSource causes NullPointerException"
I'm loading an m3u8 on ExoPlayer 2.8.2. When the user plays stop I call `releaseSource` on my `HlsMediaSource`. I create the `HlsMediaSource` like this ` new HlsMediaSource.Factory(defaultDataSourceFactory).createMediaSource(uri);`

I didn't have this problem when I used ExoPlayer 2.2.0 but MoPub updated to 2.8.2 so I was forced to update my code as well. What am I doing wrong? Should I not be cal

[2018-08-18 01:40] mdtuyen opened #4678 "Cannot open m3u8 url"
I can use Chrome to play that url but can't open with Exoplayer.
This is the log:

In chrome I don't need setup UserAgent or Referer. I don't know why Exoplayer can't open that.

[2018-08-18 10:31] robindanielk commented on #4347
@ojw28 ..hi ...this occured on all Himedia android STBs  ...but eventually after i had prepared mediasource like
`prepare(mediaSource, true, true)`  i have not seen any crashes for around a month... can you  explain what difference it makes ?

And the reason for releasing and preparing the player again is because this app needs to runs with schedule based on json received for  every hour. More lik

[2018-08-18 13:59] casolorz commented on #4677
Just realized my call to stop and release `SimpleExoPlayer` already does that and that is why there is a null for `initialPlaylistLoader`.

[2018-08-18 13:59] #4677 closed, assigned to nobody

[2018-08-18 16:48] fukemy opened #4679 "version 2.8.4 still not support RTSP?"
hello. I can not play rtsp url using hero and mediaType HSL.

[code]

here is the log output:

[code]

[2018-08-19 09:17] AndroidDeveloperLB commented on #4652
Seems it fixed the issue.
Still I wonder : would having ViewAnimator with 2 PlayerViews work ?

[2018-08-19 18:26] ojw28 commented on #4652
No idea, but it doesn't sound like as good of a solution. `PlayerView.setKeepContentOnPlayerReset(true)` is designed specifically for this purpose.

[2018-08-19 18:26] #4652 closed, assigned to erdemguven

[2018-08-19 18:29] ojw28 commented on #4676
MP3 isn't a good format choice if you need accurate seeking (clipping included). If you need accurate seeking then you should really consider using MP4 instead, which does a much better job of supporting sample accurate seeking. Do you see the same issue when using MP4?

[2018-08-19 18:29] ojw28 commented on #4679
ExoPlayer does not currently support RTSP. This enhancement is tracked by https://github.com/google/ExoPlayer/issues/55.

[2018-08-19 18:29] #4679 closed, assigned to ojw28

[2018-08-19 18:40] ojw28 commented on #4678
Please can you provide complete details of the problem, as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). I'm not able to reproduce the issue with the information provided.

[2018-08-19 18:41] ojw28 commented on #4674
Please can you provide complete details of the problem, as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). We'll then route the issue to Widevine for diagnosis.

[2018-08-19 18:45] ojw28 commented on #4674
If you're encoding/transcoding all of your content using the same pipeline, and if that pipeline is doing something wrong, then you'd probably expect all of your content to be affected. A good test might be to see whether you can reproduce the problem using the DRM protected sample content in the demo app. If not, but if you can reproduce with your content, that might suggest your content has an e

[2018-08-19 18:47] ojw28 commented on #4347
I'm not sure why that makes a difference. Are you sure it's not just a coincidence? In any case, I think we can close this, as it sounds like the problem is no longer occurring.

[2018-08-19 18:47] #4347 closed, assigned to ojw28

[2018-08-19 18:55] igormisha commented on #4676
I'll try with MP4 file and give you feedback but shouldn't mp3 play with presicion of one mp3 frame, which is typically 1152 samples length (my mp3 file's frames have exactly 1152 samples) and with sample rate of 44100 in worst case it should eat maximum 0.027 seconds but not 0.25 seconds.

[2018-08-19 19:12] ojw28 commented on #4676
The problem isn't the frame size, but the way in which MP3 files index their content (they don't do a particularly good job of it). It's worth noting that MP3 is considered obsolete even by those who created it ;).

Please try with MP4 files, since that will allow us to determine whether this is a result of the file format you're using, or whether there's more of a genuine issue. If you can reprod