[2018-09-12 11:32] spakanati123 commented on #4772
**this is the output from Kaltura Device Info app to check device DRM status info:**
[code]

I can see **NotProvisionedException** on Pixel 2 but on Pixel 1 and Pixel XL i can't see this exception.

**"Exception(openSession)": "android.media.NotProvisionedException: Failed to open session"**

[2018-09-12 12:34] kgrevehagen commented on #3438
@andrewlewis, I would also love to get this feature, both crossfade between media sources and fade in/out when play/pause is initiated.

I understand that this is not something you're working on at the moment, but I was wondering if you eventually are going to support it or if we need to implement it ourselves.

I'm also happy to help if you need some input from a user of the library.

Thanks in a

[2018-09-12 12:37] ojw28 commented on #4807
This question is outside the scope of this issue tracker, sorry.

[2018-09-12 12:37] #4807 closed, assigned to ojw28

[2018-09-12 12:41] ojw28 commented on #4800
I'm surprised this is happening on an S8. To investigate I think we'd need a simple demo project that reproduces the problem (and to which we can see the source code). Perhaps you could modify the ExoPlayer demo app to have a UI such as the one you describe. Would you be able to provide this? Thanks.

[2018-09-12 12:45] ojw28 commented on #4792
I appreciate the reproduction steps, but they're equivalent to us re-implementing everything you've done, and getting up to speed on libraries we may not have used before (e.g. Unity). That would probably take at least a week, and we simply don't have that amount of time to spend on a single issue. Please provide a sample app as source code that we can use to easily reproduce the problem, if you w

[2018-09-12 13:23] #4797 closed, assigned to ojw28

[2018-09-12 13:24] ojw28 commented on #4781
Closing due to lack of information.

[2018-09-12 13:24] #4781 closed, assigned to tonihei

[2018-09-12 13:24] #4775 closed, assigned to ojw28

[2018-09-12 14:08] andrewlewis commented on #4800
Just a suggestion based on the logging above: is there any case where the same `Surface` could be supplied to two players at the same time? That might result in an error.

[2018-09-12 14:17] billyjoker opened #4808 "Unable to playback the hls .v3.exo chunks downloaded [UnrecognizedInputFormatException]"
I am trying to playback offline dowloaded HLS. So, currently i have a dir with all the "xxx.v3.exo" chunks, and i followed this [guide](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95), but i have got this thrown exception:

[code]

I've turned off the wifi in order to force reproduce the offline content, with no success, any idea? Any help would be very appreciated.

Version

[2018-09-12 14:22] saipsa commented on #4637
I am also having this issue. I am using exoplayer 2.8.2. It didn't happen on earlier versions.

[2018-09-12 14:49] andrewlewis commented on #4637
@saipsa Please could you provide the stack trace for the exception?

[2018-09-12 15:01] #4774 closed, assigned to tonihei

[2018-09-12 15:01] #4661 closed, assigned to tonihei

[2018-09-12 15:02] #4533 closed, assigned to ojw28

[2018-09-12 15:02] #4185 closed, assigned to ojw28

[2018-09-12 15:26] ojw28 commented on #4808
It appears you are using `ExtractorMediaSource`, where-as for HLS you should be using `HlsMediaSource`.

[2018-09-12 15:26] #4808 closed, assigned to ojw28

[2018-09-12 15:28] #4771 closed, assigned to ojw28

[2018-09-12 15:30] #4791 closed, assigned to tonihei

[2018-09-12 15:31] ojw28 commented on #2025
Support has been added to 2.9.0.

[2018-09-12 15:31] #2025 closed, assigned to AquilesCanta

[2018-09-12 15:41] #4762 closed, assigned to ojw28

[2018-09-12 15:45] ojw28 commented on #4674
Closing because we never received a bug report for Moto Z (as far as I can see). For the Nokia preview build, it seems most likely that they haven't included Widevine in the preview build.

[2018-09-12 15:45] #4674 closed, assigned to ojw28

[2018-09-12 15:48] ojw28 commented on #4416
On reflection, I'm not sure if makes sense to use the latest version. There are legitimate reasons for wanting to use an older version. As @DKillWorld notes above, you can look at the release notes if you want to find the latest version. Or look on BinTray.

[2018-09-12 15:48] #4416 closed, assigned to ojw28

[2018-09-12 15:51] ojw28 commented on #4527
If you want to send us a pull request for this then you're still welcome, but I'm going to close this because we're not planning on ever looking at it ourselves.

[2018-09-12 15:51] #4527 closed, assigned to ojw28

[2018-09-12 16:00] cwilcox-mersive opened #4809 "Android and API version requirements for ExoPlayer v2"
I'm a Senior Software Engineer for Mersive Technologies. We are currently using ExoPlayer v1 for media playback in our Android-based hardware product. With the next revision of our product, we're running into a need to set the playback rate. My understanding is that this can be done via the StandaloneMediaClock for video playback, or via the MediaClock in AudioTrack (SetPlaybackParams). However, b

[2018-09-12 16:07] jazimm commented on #4779
Thanks Andrew. Any idea when that might be available?

[2018-09-12 16:11] armanhi commented on #4800
We'll work on the sample asap, then.

[2018-09-12 16:13] armanhi commented on #4800
Oh, and no, we have a single player instance. It's also worth noting both PlayerViews are in the XML and we don't handle Surfaces manually.

[2018-09-12 16:18] armanhi commented on #4800
One note we have seen on our tests: we've changed Fragment2 to a view (let's call it View1). If we remove Fragment1 and re-add it again AND remove View1 and re-add it again, it does work, despite not as smooth as we'd expect. It looks like it forces PlayerView re-creation, which fixes things.

[2018-09-12 16:19] ojw28 commented on #4809
Unless you're doing something unusual, the API level requirements are the same as V1 (i.e. API level 16 for audio/video playback).

[2018-09-12 16:19] #4809 closed, assigned to ojw28

[2018-09-12 16:43] andrewlewis commented on #4779
I checked in with the IMA team and they weren't aware of any recent changes that could affect this. They suggested checking whether the ad serving configuration changed.

There isn't much else I can do to investigate given that this isn't reproducible when building against sources for IMA internally. If something did indeed change in IMA's behavior it's likely this will just start working when the

[2018-09-12 18:31] armanhi commented on #4800
I've sent the sample project via email. I've also updated the devices affected: it turns out the problem was in S7, not S8. Sorry about that.

[2018-09-12 22:00] kevleyski commented on #4185
Thanks Olly

________________________________
From: ojw28 <notifications@github.com>
Sent: Wednesday, September 12, 2018 5:03 pm
To: google/ExoPlayer
Cc: Kevin Staunton-Lambert; Author
Subject: Re: [google/ExoPlayer] DASH - Clip playback at period end times (i.e. once period duration is reached) (#4185)

Closed #4185<https://github.com/google/ExoPlayer/issues/4185>.

—
You are receiving this becau

[2018-09-12 22:11] fredgc commented on #4772
Devices need to be provisioned with a DRM Certificate.  This DRM certificate is used by the license server to verify the device.  Previously, there was one DRM certificate on the device, so any application could provision for the whole device.
Now, each application, or origin, will have a separate DRM Certificate.  If you change the application package you should expect a new "needs provisioning"

[2018-09-13 02:02] LanderlYoung commented on #3375
Am I wrong? I was trying to see if MediaCodecRenderer is using the Asynchronous (callback) way.
Like this:
[code]

[2018-09-13 02:23] hunanqi commented on #4559
亲，我也遇到这种问题了，循环播放1天以上就卡在某一帧，请问这种处理方式有效吗。

[2018-09-13 02:44] keremkusmezer commented on #4799
Thank you for the brief explanation and detailed information regarding the topic. I guess with TrackSelector customization i can still try to enforce the higher resolutions to playback.

[2018-09-13 02:44] #4799 closed, assigned to ojw28

[2018-09-13 03:55] sidkasundra opened #4810 "Player not able to display ASS subtitle."
Actually this player provide support for ASS file but when i try to render in video at that time subtitle not shown.
So i want to confirm that When EXOplayer Actually start supporting ASS subtitle

[2018-09-13 06:15] rishun-fsi commented on #4806
Below is more information

Test content: SmoothStreaming / Super speed

ExoPlayer 2.8.4

I changed some codes in PlayerActivity class for testing.
I attached the PlayerActivity.java, please check it.
[PlayerActivity.zip](https://github.com/google/ExoPlayer/files/2377915/PlayerActivity.zip)

Test results:

1. BRAVIA 4K 2015 (Android 7.0)
Always plays well if tunnel mode off.
Most of the time does n

[2018-09-13 07:29] saschpe commented on #3735
Not yet, but I didn't forget about it

[2018-09-13 07:48] tonihei commented on #4559
@hunanqi Can you try the dev-v2 branch and check if your problem is fixed?

[2018-09-13 08:28] hunanqi commented on #4559
Hello, I'm testing FLAG_WORKAROUND_IGNORE_EDIT_LISTS to see if it works, and the four machines do the same thing. Bug appears every time. It will take at least one day to verify FLAG_WORKAROUND_IGNORE_EDIT_LISTS. I will tell you if there is any result.

[2018-09-13 09:45] ghost commented on #3375
How can you get source code of Hulu app? Decompilation?

[2018-09-13 10:45] ojw28 commented on #4810
You can answer this type of question by looking at the [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md):

In 2.5.0.

[2018-09-13 10:45] #4810 closed, assigned to ojw28

[2018-09-13 10:47] ojw28 commented on #4772
In that case, please could you look at why provisioning is failing in this case? Thanks

[2018-09-13 11:13] ojw28 commented on #4216
This issue has been locked as it was closed some time ago. But to answer your question, that can only really occur if something in the platform underneath us gets into a bad state.

[2018-09-13 11:13] tonihei commented on #4802
I just tried and added the following lines to our demo app:
[code]
This works fine and logs the message every time I play past the 5 second mark. Can you check what is different in your app? Especially whether the position is actually in milliseconds.

[2018-09-13 12:39] tonihei commented on #4463
@natez0r
If I understand you correctly, you want to report the position of the player and whether it's playing at regular 10ms intervals. What I meant is that it's possible to listen to events which change the state without loosing any information. For example, listen to `onPlayerStateChanged`, `onPositionDiscontinuity ` and `onTimelineChanged` (which may include a discontinuity) and possibly also

[2018-09-13 12:48] tonihei commented on #4463
We also decided to move forward with option 1 above, but without actual assertions for now.
 - This keeps the possibility of using ExoPlayer from a background thread.
 - Access to the player needs to happen on one thread only (i.e. no change to the current situation). Parallel access is too error-prone and we may introduce deadlocks into existing code when we start adding synchronized keywords for

[2018-09-13 12:49] abdurahmanadilovic commented on #4620
@kingofswing how did you resolve this issue? I have the same issue in my app

[2018-09-13 16:13] saipsa commented on #4637
@andrewlewis
[code]

[2018-09-13 16:23] andrewlewis commented on #4637
@saipsa Please make sure your app code isn't releasing the `MediaSource` (see also #3508).

[2018-09-13 16:48] fredgc commented on #4772
If you are trying to play the content using package "a.b.c", then you need to provision using package "a.b.c".  You cannot provision with package "x.y.z" and then play with "a.b.c".

[2018-09-13 16:55] ojw28 commented on #4772
I think the problem is simply that when the package is "a.b.c" (I assume this isn't the real package name), provisioning is failing. So the question is why.

[2018-09-13 17:04] ghost commented on #4802
For some reason, this started working after I forced the handler to and message to be created on the main thread. Unsure of why exactly that worked, since technically the UI should only be created on the main thread.

Also worth noting: PlayerMessage.Target is missing nullity parameters and Kotlin incorrectly assumes these fields will be non-null, which caused a crash since payload is null

[code]

[2018-09-13 17:04] #4802 closed, assigned to tonihei

[2018-09-13 17:15] fredgc commented on #4772
@spakanati123, can you verify that you are attempting playback from the same package that you used to provision?  If provisioning is failing, can you send us a logcat that covers the entire session -- i.e. start gathering logs before you attempt playback, and keep gathering logs until the provisioning fails.

[2018-09-13 17:30] fredgc commented on #4772
Also, make sure you provide the provisioning response to the same object/session that you used to generate the provisioning request.  State data is held in a session for that object, and it is not shared with other sessions -- this is by design to prevent replay attacks.

[2018-09-13 17:30] jazimm commented on #4779
Thanks Andrew, I'm still not seeing a post roll ad so I will wait and try the next release when available.

[2018-09-13 23:04] rrfrias commented on #4329
Sorry for the delay. Can you unzip and install this apk. The app will download a license and allow you to play back a single piece of content. The configuration should be set similar to your policy. It should also output query information in the logs. Can you confirm that you are able to reproduce the problem with this apk? Also do share the logs with dev.exoplayer@gmail.com

_09-13 22:21:19.462 2

[2018-09-14 02:24] ummerakbar45 opened #4811 "Enable/ disable captions"
Hi
How can I enable and disable captions
caption file is .srt and video format is hls and mp4.

[2018-09-14 02:31] ummerakbar45 opened #4812 "How to get current video index"
Hi
I feed  ConcatenatingMediaSource() to the player, it plays well but with few issue
1. Onclick previous button same video restarts instead of playing previous one.
2 When video ends and next video starts automatically, I am not able to find  current video index in any method.In ontrackchanged method, player.getCurrentWindowIndex does return only previous value. Please check code below and sugges

[2018-09-14 07:28] LanderlYoung commented on #3375
Got it. Sorry, I misunderstood you by thinking that Hulu's code is already merged to ExoPlayer.
Is there a PR for this? Thanks!

[2018-09-14 08:03] ghost commented on #3375
I see. We have our own player which isn't based on ExoPlayer.  I just want to collect some information about async mediacodec from Google. So I created this issue.  No PR for now.

[2018-09-14 09:00] ojw28 commented on #4812
This is by design unless you're near the start of the current video (I think it's within the first 3 seconds). This is fairly standard behavior for the back button. If you want something else you're able to build your own UI components that control the player in a different way.

You should call `getCurrentWindowIndex` from the `onPositionDiscontinuity` method instead, when `reason == DISCONTINUIT

[2018-09-14 09:00] #4812 closed, assigned to ojw28

[2018-09-14 09:02] ojw28 commented on #4811
The snippet of code doesn't appear to be related to the question. Closing because the question is unclear, but please read the [relevant part of our developer guide](https://google.github.io/ExoPlayer/guide.html#side-loading-a-subtitle-file) and also take a look at the demo app. There should be enough information in these resources for you to figure this out.

[2018-09-14 09:02] #4811 closed, assigned to ojw28

[2018-09-14 09:03] #4711 closed, assigned to ojw28

[2018-09-14 09:07] #4643 closed, assigned to marcbaechinger

[2018-09-14 09:14] ojw28 opened #4813 "PlayerNotificationManager should behave independently of when the player is set"
The UI generated by `PlayerNotificationManager` for a `Player` in a given state, should be independent of when the player was passed to `setPlayer`. This is currently not always the case. For example if the player is already in `STATE_IDLE` when `setPlayer` is called, no notification will be displayed.  However if the player were passed in some other state and later transitioned to `STATE_IDLE`, a

[2018-09-14 11:04] jaloveast1k opened #4814 "Internal runtime error while adding new source to ConcatenatingMediaSource"
So, I just updated from version
implementation 'com.google.android.exoplayer:exoplayer-core:2.8.1'
implementation 'com.google.android.exoplayer:exoplayer-hls:2.8.1'
to version
implementation 'com.google.android.exoplayer:exoplayer-core:2.8.4'
implementation 'com.google.android.exoplayer:exoplayer-hls:2.8.4'
And on most devices and emulators application started crashing, even tho it's still works f

[2018-09-14 11:11] ojw28 commented on #4814
Are you by any chance calling `releaseSource` on `HlsMediaSource` instances directly from application code? You shouldn't do that if so (see the `releaseSource` Javadoc).

[2018-09-14 11:13] ojw28 commented on #4814
Or `prepareSource` for that matter. In general you shouldn't be calling any methods directly on an `HlsMediaSource` instance (its methods are for use by the player).

[2018-09-14 11:20] jaloveast1k commented on #4814
Nope, I am not. Just creating those sources and feeding them to concatenatingMediaSource.
Like this:
[code]
The only release call I make is player.release(); once user is done with playing.
And in this particular case this is never happens.

First MediaSource doesn't cause a problem, it starts playing, everything is fine. But once I fetch next clips (1 or 2) and try to add them this exception occu

[2018-09-14 11:38] vinitkr28 opened #4815 "Exoplayer 'Forward', 'Rewind' programmatically"
I have exoplayer in my Android app and want to do 'Forward', 'Rewind' programmatically and these two buttons are not in the control view layout.

This two-button are outside exoplayer view, but in the screen and when user will click on "Forward" or "Rewind" it will work accordingly.

Some blogs given solution but all are for control view, for example:

`app:fastforward_increment="30000"`
`app:rewi

[2018-09-14 11:42] raihanabbas232 opened #4816 "Listener for Video output"
Hi, I am using ExoPlayer for a TV app which downloads the mp4 videos and plays them one after other like a playlist. I am setting the source of next video in on End event of the first video.
It has been observed that black screen appears during video playback with audio playing in the background.
Does ExoPlayer support any functionality which can allow us to monitor video output?
I am looking forw

[2018-09-14 11:46] vinitkr28 commented on #4815
Following is the screenshot of my app and 'Rewind', 'Forward' is outside the player view.
When user will click on 'Rewind' then track position will rewind to 10 or 5 second and for 'Forward' trackposition will forward to 10 or 5 second.

![capture](https://user-images.githubusercontent.com/12389479/45548310-79c2e180-b841-11e8-82c0-c471f2c983cf.JPG)

[2018-09-14 11:48] ojw28 commented on #4816
Closing due to lack of information.

[2018-09-14 11:48] #4816 closed, assigned to ojw28

[2018-09-14 12:01] ojw28 commented on #4814
@AquilesCanta - https://github.com/google/ExoPlayer/commit/f1fe1c40a625e3fd516fec29c53e978e5023ca6e broke the ability to call `createMediaSource` more than once on a `HlsMediaSource.Factory`. Please could you take a look?

@jaloveast1k - As a workaround you can create a new `HlsMediaSource.Factory` for each new instance of `HlsMediaSource` that you need to instantiate.

[2018-09-14 12:04] ojw28 commented on #4815
If you want to change the player position, you should be calling methods directly on the player (i.e. one of the `player.seekTo` methods.

[2018-09-14 13:22] tonihei commented on #4802
Thanks for noting the missing annotations! We'll add them to the PlayerMessage class.

[2018-09-14 15:33] spakanati123 commented on #4772
@fredgc we sent full bug report while raising the bug initially.
can u please check initial email sent to dev.exoplayer@gmail.com

[2018-09-14 16:04] bene25 opened #4817 "Does exoplayer detect if HDMI is UP on android TV?"
We have a problem with exoplayer playback at start after sleep mode. Our Android TV app are set as default on STB. When you launch STB it doesnt show you launcher, it shows you our App immediately with playing HLS video stream. For playing video we are using Exo Player version 2.6.1 with Exo Media wrapper version 4.1.0. Time by time we investigate black screen when STB wakes up after sleep - power

[2018-09-15 06:28] developer244 opened #4818 "Source Error and few others"
Hey, I'm creating an app to play m3u playlist, right now the app plays only TS files, the weird issue I'm having is: Exoplayer plays only some of the links, other links it just throws "Source Error" with the below code:
[code]
I have check the links and made sure they are right and working, what else could be the problem?

**Second:** on some of the streams that are working, they a bit laggy, I gu

[2018-09-15 14:38] ummerakbar45 opened #4819 "question"
Hi
q1.How can I enable and disable captions
     caption file is .srt and video format is hls and mp4.
q2. how to implement adaptive hls: video shoud switch between bitrates depends on internet speed.
q3. if internet connection gets disconnect, where to check that info

[2018-09-15 15:20] ojw28 commented on #4819
Between them, the demo app and developer guide should provide enough information to answer the first two questions. If it's still unclear, please direct general questions to StackOverflow. This issue tracker is primarily for reporting issues with the library.

The third question is a general Android development question, that a quick [Google search](https://www.google.co.uk/search?q=android+detect

[2018-09-15 15:20] #4819 closed, assigned to ojw28

[2018-09-15 17:00] ummerakbar45 commented on #4819
for adaptive I implemented this code but it is not working as expected

        DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(MediaPlayerActivity.this,
                Util.getUserAgent(MediaPlayerActivity.this, "videoApp"), bandwidthMeter);
// This is the MediaSource representing the media to be played.
        //url="http://qthttp.apple.com.edgesuite.net/1010qwoeiuryfg/sl.m

[2018-09-15 19:01] bounmed commented on #4690
@andrewlewis Any idea how to do that? i don't use AudioCapabilities
Can this do the trick:

[code]

[2018-09-15 23:38] DeveloperMCD opened #4820 "Decrypting Keyfile URI before it's used for AES decryption by the library"
Hi,
I'm trying to play back an HLS media playlist with Exoplayer2, but my use case seems to set me apart from at least 95% of developers who use Exoplayer. I can't include the actual AES key in the *.m3u8 file
(EXT-X-KEY:METHOD=AES-128,URI="http://website.com/aes.key")
I'm trying to encrypt this AES key with RSA encryption.

So the URI included in the media playlist doesn't lead to the final key,

[2018-09-16 00:10] fredgc commented on #4772
Please check that your code is only creating one provisioning request, and is processing the response from that request.  I see in the logs:
09-04 11:01:17.816 ... CdmEngine::GetProvisioningRequest
and shortly after a second request:
09-04 11:01:17.981 ... CdmEngine::GetProvisioningRequest
with the error about a replay attach here:
09-04 11:01:19.261 ... OEMCrypto_RewrapDeviceRSAKey fails with 32

[2018-09-16 10:00] sudhirs745 opened #4821 "How to implement offline save video in .exo format and only playable by my app(like youtube app)"
i am working on an android app which can download the video from server and store it in SD card in .exo format and plays it while the app is in offline mode. but i want the add one more functionality to my app.(like youtube app).

[2018-09-16 14:11] vovan888 commented on #2014
Simple fix from #2976 or MODE_SINGLE_PMT stopped working in recent versions, does anyone have a new fix ?

[2018-09-16 16:10] roundsmapp commented on #2659
@andrewlewis , After dozens and dozens of tests, literally, I've notices a weird behaviour, specific for the Galaxy S series. When the audio is started and just after another App is started, i.e., my audio App is played in background and the other App is in foreground, the audio will play smoothly continuously. This was tested during 45 min and there was no problem.

But, as soon as my audio App i

[2018-09-16 17:38] vovan888 commented on #2014
Answering to myself: reverting 3919843db27c78dc04ec498087182058393cced0 seems to have helped to bring back the old behavior.

[2018-09-16 17:58] thibseisel opened #4822 "getCurrentTag fails with IndexOutOfBoundException"
### Issue description
In the `Player.Listener.onTimelineChanged()` callback, I query for the current window tag by calling `player.getCurrentTag()`. In my use case, it fails with an `IndexOutOfBoundException`. When debuging into `ExoPlayerImpl.getCurrentTag()` ...

[code]

... I noticed that this could happen if `getCurrentWindowIndex == playbackInfo.timeline.getWindowCount()`, leading `playbackIn

[2018-09-16 18:17] ojw28 commented on #4818
The first issue is just a network timeout. The second and third issues are not described in sufficient detail for us to help.

[2018-09-16 18:28] ojw28 commented on #4817
We don't detect the HDMI status anywhere in the player, but it's somewhat unclear that we should need to. For video output ExoPlayer just outputs video to any valid `Surface`. It doesn't really need to care about HDMI. For audio output we're aware that playback can currently fail on an HDMI status change, but you should be seeing an obvious error propagated to `EventListener.onPlayerError` in that

[2018-09-16 18:30] ojw28 commented on #4820
Why? Is this any way spec compliant? Why don't you just serve the key file over https?

[2018-09-16 18:32] ojw28 commented on #4821
Please can you try and explain what you're trying to do more clearly? I don't understand the question.

[2018-09-16 23:36] DeveloperMCD commented on #4820
This requirement was added to our design for security reasons. Our idea is to protect a video by keeping it encrypted (we are using USB flash drives) and only one user's hardware can unencrypt that file -- which is needed to play back the video.

If I need to intercept the loading of the Keyfile to do something with it first (for example, un-encrypt it with the RSA private key), how do I do this w

[2018-09-17 07:05] hereisclient opened #4824 "DefaultTrackselector doesn't get subtitle information"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.

### Issue description
hi i'm using exoplayer very well by now.
but i found special issue while i was developing about subtitle
that issue is i can't get subtitle information from defaulttrackselector.

i checked onTracksChanged event:

here is the result

[EventLogger] onTracksChanged()[350

[2018-09-17 07:30] okycelt opened #4825 "DRM: Check key status before adapting to a different representation (API level 23+)"
### Issue description
We use Widevine DRM together with ExoPlayer. When we limit `allowed_track_types` on our Widevine proxy eg. to `SD_ONLY` and we try playing DASH containing some HD tracks, the playback fails with the following error when the player tries to adapt to an HD track.

[code]

The expected behaviour would be that player wouldn't switch to a video track it doesn't have a license for.

[2018-09-17 07:34] okycelt commented on #4786
I'm not sure that blacklisting is the right way to handle this.

Could the issue be related to the fact that the device is L3, not L1?

[2018-09-17 07:45] tonihei commented on #4822
Agree. That should definitely be a "greater or equal" sign. We'll fix that.

If you prepare the player with a new media source (step 4 in your reproduction steps), the timeline is unknown until the new media source tells the player its media structure. You'll notice that the timeline reported after calling prepare again is empty (and the timeline change reason is `TIMELINE_CHANGE_REASON_RESET`).

[2018-09-17 07:51] andrewlewis commented on #2659
@roundsmapp Is your app doing anything else while it's in the foreground? It might be worth removing everything except the player to see if that makes a difference.

If it's still reproducible after doing that, you could try acquiring a wake lock during playback. And perhaps also make sure your app has [audio focus](https://developer.android.com/guide/topics/media-apps/audio-focus). I don't think

[2018-09-17 08:55] glorinli opened #4826 "Will speed changing be more faster?"
I try to changing speed during playback, and it will took about 400-500 milliseconds before new speed applied, I hope that new speed can take effect as soon as possible (immediately for best), because I am developing an video editing app with ExoPlayer, and the speed changing should be instantly, or a separated music player cannot keep pace with the video.

[2018-09-17 08:59] andrewlewis commented on #4826
Note: discussion started in [this medium comment](https://medium.com/@glorinli/hello-andrew-i-try-to-make-the-setting-speed-action-taking-effect-faster-now-it-will-need-about-3beca915230e).

[2018-09-17 09:19] ojw28 commented on #4820
Are you trying to make this approach work cross-platform? And is there a reason you're not using CENC / Widevine, which I think would be the more standard way of doing this?

If you can't use Widevine and the design is specific for Android, then to follow your existing proposal, you'll need to:

* Make sure you have a clear way of distinguishing key file Uris from other Uris (e.g. special file ext

[2018-09-17 10:09] AntonAndev opened #4827 "ExoPlayer's bug with Proguard"
### Issue description
Currently in my project I use ExoPlayer r2.4.4. Half year ago I tried to upgrade to 2.6.2 and got many complains from users, app crashes on some devices, mostly TV boxes were affected, but some mobile devices too. My app has 100K users daily and is running on very different devices. Because I did not know a reason and I decided to return back to 2.4.4. In this case Firebase C

[2018-09-17 11:45] spakanati123 commented on #4772
@fredgc
Doing provisioning request is part of the Exo Player code.
Please refer DefaultDrmSession.java# openInternal()

[code]
  Please check the Exo player code of above to classes for further clarification on getting provision req url from framework media drm.

cc: @ojw28

[2018-09-17 11:56] sidkasundra commented on #4810
Actually It support ASS subtitle by using set TYPE Text as SSA but when i run the application it convert side-by-side to just single subtitle.
Please help me to figure out this problem.

[2018-09-17 12:09] semirzahirovic opened #4828 "Slow HLS stream download"
### Issue description
We have tested the downloading of HLS streams in our app. Although it works fine, time to download stream is huge. Is there an easy way to **reduce** download time?

On the server-side, everything is hosted on a Google Storage Bucket, served through Google Cloud CDN using HTTP/2 so the hosting should not be the bottleneck.
When doing a quick benchmark on desktop, the first do

[2018-09-17 12:22] ojw28 commented on #4810
That's a duplicate of https://github.com/google/ExoPlayer/issues/4725. Please use that issue for tracking.

[2018-09-17 12:34] ojw28 commented on #4772
@fredgc - Can you tell from the logs whether the provisioning requests were generated for different `MediaDrm` instances, or from the same instance?

* If both requests are generated by the the same `MediaDrm` instance, then that would probably be an ExoPlayer bug. We do have logic that's supposed to make sure only one provisioning request is ever in flight, however, and I can't spot much wrong wi

[2018-09-17 13:43] andrewlewis commented on #4828
#4253 may be related.

[2018-09-17 13:46] bene25 commented on #4817
We use this listener from [ExoMedia](https://github.com/brianwernick/ExoMedia) to catch errors, and there are no error:

[code]

[2018-09-17 13:50] andrewlewis commented on #4826
To summarize the discussion:
- There's currently no built-in way to apply new playback parameters immediately and seamlessly.
- Resetting `DefaultAudioSink` when getting new playback parameters will cause new parameters to take effect immediately rather than playing out audio at the old speed, but will introduce a discontinuity in audio.
- To get this to work seamlessly it would be necessary to ke

[2018-09-17 13:57] semirzahirovic commented on #4828
@andrewlewis thanks for suggestion. Not sure if it correlates to the issue you linked as this is reproducible by having the Cache folder empty and downloading only one stream.

[2018-09-17 14:45] ojw28 commented on #4772
Some further findings:

* I tried simulating the different `MediaDrm` instances sequence described in my second bullet point above, and provisioning worked as expected.
* I tried using the ExoPlayer 2.6.1 demo app on Pixel 2 running Android 9. Only a single provisioning request was made and provisioning worked as expected.

@spakanati123 - Are you certain you're using vanilla ExoPlayer 2.6.1, with

[2018-09-17 15:30] andrewlewis commented on #4828
I wonder whether the mobile device is relatively slow because the chunk downloads are serialized. #4273 is a feature requests for parallel chunk downloads. I guess one way to investigate this hypothesis would be to start multiple downloads concurrently and look at the total throughput.

[2018-09-17 15:53] ojw28 commented on #4824
The problem is that we don't handle `FourCC="DFXP"`. We expect `FourCC="TTML"`. It's easy to check for the `DFXP` too, so we'll do that.

[2018-09-17 15:56] AquilesCanta commented on #3370
Please try implementing your own LoadErrorHandlingPolicy (while adding your own back-off logic) and let us know if you run into any issues.

[2018-09-17 15:56] #3370 closed, assigned to AquilesCanta

[2018-09-17 16:42] andrewlewis commented on #4827
In v2 the package name changed to `com.google.android.exoplayer2` (with a 2 on the end), so, given the proguard configuration made a difference, I wonder whether the problem is not in your direct usage of ExoPlayer but in another of your app's dependencies which bundles ExoPlayer v1.

To make progress on this, could you ask the user with the H96 Pro+ device to take a bug report after reproducing t

[2018-09-17 17:58] sudhirs745 commented on #4821
I'm working on an android app which can download the video from server and store it in SD card. and plays it while the app is in offline mode. but i want the add one more functionality to my app. now the videos downloaded by app can be played by any video player in the device. But i want to restrict that functionality.so the videos downloaded by my app can only playable by my app(like youtube app)

[2018-09-17 18:00] ojw28 commented on #4828
* Can you be more specific about what device(s) you've tested this on?
* Are you writing to internal storage or an SD card, and does this make any difference? If the latter, have you tried with a different SD card? If I remember correctly, we've seen some other cases where it's turned out that the SD card is just incredibly slow to write to, so it would be helpful if you could check this.

If it's

[2018-09-17 18:12] ojw28 commented on #4825
For the time-being you need to ensure that you don't try and play a stream that's not going to be licensed. This is probably best done on the serving side, by serving a DASH manifest that does not include the tracks that aren't going to be playable.

More generally, I agree the client should not attempt to switch to a stream for which it does not have the necessary key, however:

* As far as I can

[2018-09-17 18:16] #4824 closed, assigned to ojw28

[2018-09-17 18:16] #4822 closed, assigned to tonihei

[2018-09-17 18:17] ojw28 commented on #4559
Are you checking using the latest `dev-v2` branch?

[2018-09-17 19:09] AntonAndev commented on #4827
Hello, I tried to comment "-keep class com.google.android.exoplayer.** {*;}" with Proguard enabled and sent new apk to the user, app doesn't crash... So I do not know what happened before.

[2018-09-17 19:23] #4827 closed, assigned to andrewlewis

[2018-09-17 19:24] gbirk opened #4829 "App being killed because of high CPU usage"
My app is being constantly killed after some time of playback. ExoPlayer is running within a foreground service. A WifiLock and a PowerLock are being held. I already confirmed using **adb shell dumpsys** that the service is marked as foreground and both locks are active. For the ExoPlayer setup I'm using a **DefaultLoadControl**, setting the buffer duration in MS to
**minBufferMs** as 2 * 60 * 100

[2018-09-17 19:42] ojw28 commented on #4135
Closing due to lack of required information.

[2018-09-17 19:42] #4135 closed, assigned to AquilesCanta

[2018-09-17 20:25] Angelk90 opened #4830 "Change time exo_rew and exo_ffwd"
### Issue description
Is there any way to change the time of exo_rew and exo_ffwd?

exo_rew allows you to go back 5 sec
exo_ffwd allows you to go ahead of 15 sec

### Version of ExoPlayer being used
`com.google.android.exoplayer:exoplayer:2.8.1
`
### Device(s) and version(s) of Android being used
Android 7

[2018-09-18 03:59] hunanqi commented on #4559
@tonihei  After verification, adding FLAG_WORKAROUND_IGNORE_EDIT_LISTS has solved bug。Dev-v2 branch is not used because it is too time-consuming to verify this problem.Thank you for your attention to this problem.

[2018-09-18 05:02] developer244 opened #4831 "Getting frame rates and bitrate of a stream"
Always when I try to get the frame rate and bitrate of a TS MPEG-TS stream i get -1 as a result.
Same method works fine on HLS
Any suggestions?

[2018-09-18 06:48] islor commented on #4765
@tonihei @paf-wv  Hi guys, any ideas on the first stream so far?

[2018-09-18 06:56] islor commented on #4765
For stream 2 we've fixed the NAL issue, but there looks to be another problem. Playback stops after seek is done, tested on the same device too. Sending you guys the new link in email. Is this still a stream issue?

[2018-09-18 07:08] andrewlewis commented on #4831
The value -1 is `Format.NO_VALUE`, and indicates that the frame rate and bitrate are unknown. The information is likely just not available in the container (unlike with HLS).

[2018-09-18 07:08] #4831 closed, assigned to andrewlewis

[2018-09-18 07:23] okycelt commented on #4825
We're not really in favour of this as it would quite complicate our server side solution.

Regarding making an initial track selection, would it ensure the behaviour we're trying to achieve, ie. avoid switching to streams with resolution higher than some specified threshold? We only need to limit the tracks by a _not higher than_ threshold so the player should always receive keys for the lowest re

[2018-09-18 07:38] andrewlewis commented on #4830
The `rewind_increment` and `fastforward_increment` attributes on `PlayerControlView` (and `PlayerView`) let you set the duration of the seek applied when tapping those buttons.

[2018-09-18 07:38] #4830 closed, assigned to andrewlewis

[2018-09-18 07:48] andrewlewis commented on #4829
Please could you take a full bug report (`adb bugreport`) and attach it here or send it to `dev.exoplayer@gmail.com`?

[2018-09-18 07:50] TadejZupancic opened #4834 "Clearkey multi session problem"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-09-18 07:51] ojw28 commented on #4757
Note: Upcoming Google software decoders are likely to start with the `c2.android.` prefix, rather than `OMX.google.`. So you should probably check for that case as well.

[2018-09-18 08:05] andrewlewis commented on #4829
Looks like the process is getting killed in [ActivityManagerService.java](https://android.googlesource.com/platform/frameworks/base/+/97995da6e1d40a053402cc120944e3738a18d1a0/services/core/java/com/android/server/am/ActivityManagerService.java#24367), but this should only happen for processes that have a state >= [`ActivityManager.PROCESS_STATE_HOME`](https://android.googlesource.com/platform/fram

[2018-09-18 08:07] ojw28 commented on #4825
If you can specify the selection you need in the form of a constraint, then a client side solution would work fine. For example something like:
[code]
If you want to disable HD streams, you'd probably use `width=1279` and `height=719` (although for that specific case you could just use `setMaxVideoSizeSd`, which fills in those values for you). There's also `setMaxVideoBitrate` if you want to const

[2018-09-18 08:08] andrewlewis commented on #4690
`com.google.android.exoplayer2.audio.AudioCapabilities.getCapabilities(context)` should work (these are different audio capabilities!). If you're connecting an audio receiver via HDMI this needs to be called while the receiver is connected.

[2018-09-18 08:14] okycelt commented on #4825
I'll give it a try, thank you!

[2018-09-18 08:18] tonihei commented on #4559
Reopening - The original issue is still not fixed :)

Just to summarize: We set the edit list as gapless information to the audio track instead of removing the samples. The gapless info is, however, only applied once in the renderer for the first iteration. For every subsequent loop iteration, the audio edit list is not applied. As the video edit list is still applied though, audio and video get f

[2018-09-18 08:25] semirzahirovic commented on #4828
@ojw28 Yeah, it is a dupe of #4273. We tried downloading in internal storage and SD card. Since there is a lot of segments, the download is slow. Tested on S7, S9, S9 plus, Pixel 2...

We are hoping that the parallel segment download feature will be implemented soon.

[2018-09-18 08:34] hunanqi commented on #4559
@tonihei  Is there any good solution to this problem?

[2018-09-18 08:36] tonihei commented on #4559
@hunanqi Working on it. We'll post updates here as soon as we have something.

[2018-09-18 08:46] andrewlewis commented on #4817
Do you get an `AudioManager.ACTION_HDMI_AUDIO_PLUG` event when the screen turns on in the case were output is blank? If not, do you receive this in the case where the output isn't blank? (If you don't already have a listener for this broadcast, ExoPlayer's `AudioCapabilitiesReceiver` shows how to register one.)

[2018-09-18 09:09] JuhDuh26 commented on #3535
I get this error on Android when switching videos after transferring the ExoPlayer from one parent view to another. Worryingly this breaks all instances of Exoplayer in my app and makes them display black screen, even though they are complete discreet instances with no connecting logic..

     Caused by: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: De

[2018-09-18 10:15] ojw28 opened #4835 "Make DefaultTrackSelector prefer more efficient video codecs (everything else being equal)"
If there are multiple video `TrackGroup`s that are roughly equivalent except for the codec used, `DefaultTrackSelector` should prefer to select the `TrackGroup` that uses the most efficient codec*.

* An exception would be if a less efficient codec appears to have a hardware decoder, where-as the more efficient codec does not.

[2018-09-18 10:24] rishun-fsi commented on #4806
Below is new information

I tested the demo app by enabling tunnel mode on. The playbackState never be changed to Player.STATE_ENDED, even though the video current position is over its duration.

Test content: SmoothStreaming / Super speed

ExoPlayer 2.8.4

STATE_ENDED

Test results:

BRAVIA 4K 2015 (Android 7.0)
Not working

AQUOS 4TC45AJ1 (Android 8.0.0)
Not working

HUAWEI TT01 (Android 7.0)
Wo

[2018-09-18 10:32] andrewlewis commented on #4806
The change in efe8f09f45fe7804e8c92089f744d717502f9019 should fix the issue of not transitioning to the ended state. Please could you try to reproduce using `dev-v2`?

[2018-09-18 10:53] blueslabs opened #4836 "VP9 ext crash from libvpx 1.7.0"
It seems libvpx 1.7.0 has more neon code added. There was error when I run config. By adding -mfloat-abi=softfp -mfpu=neon to cflag, I have managed to get the so file compiled. However, after the first frame is decoded, the sample app always crashes with:

com.google.android.exoplayer2.demo A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x10 in tid 18160 (Thread-1825)

My ExoPlayer version

[2018-09-18 11:00] ojw28 commented on #4828
Closing as duplicate.

[2018-09-18 11:00] #4828 closed, assigned to erdemguven

[2018-09-18 11:16] ojw28 commented on #4765
It seems highly likely to be an issue with the way you've implemented sample encryption. Have you managed to play the stream successfully using any other player, or any other platform?

[2018-09-18 11:19] rishun-fsi commented on #4806
Hi,
Thank you for your prompt response.
I have tested it with efe8f09 change, the ended state problem has been fixed.
But seek to a specific point problem still happens, please check it.

Thank you!

[2018-09-18 13:10] gbirk commented on #4829
I'll work on the logs and double check the service state when the app is being killed. Thanks!

[2018-09-18 14:07] bene25 commented on #4817
I have logged

[code]
and

[code]
But nothing at log, while black screen appeared.

We have exo player version  2.6.1 which was without EventLogger class. In our version we have made some locally modifications. And it takes some time to update version to the latest. I have tried to insert EventLogger manually but to much classes have to be added. Could you tell what methods you want to log and I w

[2018-09-18 14:17] ojw28 commented on #4817
Regarding logging, you could copy the `EventLogger` that was in the demo app in 2.6.1, [here](https://github.com/google/ExoPlayer/blob/r2.6.1/demos/main/src/main/java/com/google/android/exoplayer2/demo/EventLogger.java) and use that. You need to register it as multiple listener types, as shown [here](https://github.com/google/ExoPlayer/blob/r2.6.1/demos/main/src/main/java/com/google/android/exopla

[2018-09-18 14:39] vokal-suvajit commented on #4383
Check this [StackOverflow](https://stackoverflow.com/a/51285550/4768512) post. This solved this issue for me.

[2018-09-18 14:46] Sp4Rx commented on #4383
Check this [StackOverflow](https://stackoverflow.com/a/51285550/4768512) post. This solved the issue for me.

[2018-09-18 14:56] bene25 commented on #4817
Did it.
But ACTION_HDMI_AUDIO_PLUG requires API level 21, we have 17.

[2018-09-18 15:10] andrewlewis commented on #4817
I thought Android TV required API 21 (Lollipop) or later. Could you paste the output of `adb shell getprop ro.build.fingerprint`?

[2018-09-18 15:20] bene25 commented on #4817
rk31sdk/rk31sdk/rk31sdk:4.2.2/JDQ39/eng.root.20140122.105724:eng/test-keys

[2018-09-18 15:35] IanMcCabe commented on #4792
Hi @ojw28, I have emailed a link to dev.exoplayer@gmail.com which contains a Unity and Android project that displays more information and an example of the issue described above.

[2018-09-18 17:50] sergeich opened #4837 "Glitches with certain videos on Pixel 2"
### Issue description
I experience strange glitches on my Pixel 2 (and only Pixel 2) while playing the video with TextureView rendering.
Everything is ok with `surface_type="surface_view"`, but SurfaceView doesn't meet our needs.
Some of the videos is working as expected, some -- with glitches.
Tested on the demo app with the same result.

![Illustration](https://i.imgur.com/mNMLKTy.png)

### Repr

[2018-09-18 17:54] gbirk commented on #4829
Looks like you were right andrewlewis. There was a specific scenario where stopForeground() was being called, resulting on the app being killed when in BG. Closing this.

[2018-09-18 17:54] #4829 closed, assigned to andrewlewis

[2018-09-18 19:05] bounmed commented on #4690
This this what i got:
09-18 20:01:13.660  9742  9742 E Log audioCapabilities: : AudioCapabilities[maxChannelCount=2, supportedEncodings=[2, 5, 13]]
I got it from this code:
[code]

[2018-09-18 19:15] ojw28 commented on #4772
Our best guess is still that the application is doing something unusual here:

* It's hard to be sure, but the bug report you've provided suggests that non-ExoPlayer code in your app may be instantiating a `MediaDrm` and generating a provisioning request from it. Are you aware of any code that does this? Are you using ExoPlayer wrapped within inside a third party library that could be doing this?

[2018-09-18 20:49] DeveloperMCD commented on #4820
Here is what I have -- I'm getting an error when I try to access the local HTTP server. There must be something basic I'm doing wrong.

[code]
And here is the custom DataSource:

[code]

[2018-09-18 20:51] DeveloperMCD commented on #4820
Here is the error I got:

[code]

[2018-09-18 21:04] ojw28 commented on #4820
You seem to be specifying 10ms timeouts, and then timing out. You probably need significantly higher values. By default they're 8000ms.
[code]
Also:
* Making a new `DefaultBandwidthMeter` internally like this will break adaptive playback, if you're needing that. If you're not needing that then what you're doing looks fine, but you may as well pass `null`.
* It's generally more flexible if you pass

[2018-09-18 23:01] roundsmapp commented on #2659
I've tried the first scenario, i.e., removing everything except the player. There is no more buttons or any widget or a GUI. Still the problem persists.

I may try audio focus, but it doesn't make sense.

[2018-09-19 03:17] hereisclient opened #4838 "SmoothStreaming: Assume subtitles are not DRM'd in protected streams"
hi

### Issue description
i reported subtitle issue
https://github.com/google/ExoPlayer/issues/4824

above link is my old issue link.
i checked commit contents today and i checked if this issue was solved.
my opinion about my old issue is "YES" .
Trackselector gets subtitle information properly.

but  subtitle list is disable  because getTrackSupport function returns subtitleRendererCapabilities.F

[2018-09-19 05:09] rishun-fsi commented on #4803
Hi,
I still want to use setSpeed function on our application.
Here is one solution what I did.
I turn off the tunnel mode when setSpeed 2.0f, whereas, turn on the tunnel mode when setSpeed 1.0f.
I attached the demo app PlayerActivity which I changed some codes for testing(press pause key to change speed ).
[PlayerActivity.zip](https://github.com/google/ExoPlayer/files/2395489/PlayerActivity.zip)

[2018-09-19 07:48] andrewlewis commented on #4803
@rishun-fsi I expect the black screen when switching between tunneled and untunneled playback is unavoidable (they are different output paths). You could try using a `TextureView` instead of `SurfaceView` for output but I doubt that will work with tunneled mode.

[2018-09-19 11:48] Gian84 opened #4839 "CMAF and live delay optimization question"
I see that Exoplayer supports CMAF.
I would like to know if you have planned to implement the live delay optimization  concerning the “sub chunk”.
I mean to process the single chunk before the get request is completed.
For example to process 200ms in a chunk having a duration of 2s.

Thank you

[2018-09-19 11:57] mustafasevgi opened #4840 "Exoplayer ima extension does not play type="audio/mp3" ad url"
Hello,

Our vast url has different mime type  like "audio/mp3", "audio/mpeg".

If media file type="audio/mpeg", ad play normally. if media file type="audio/mp3", ad can not play and exoplayer throw excaption:

vast response:

[code]

When i replace vast xml response type="audio/mp3" to "audio/mpeg"  with charles tool, it can play.

What is the problem if type="audio/mp3"?

exoplayer version: 2.8.4

[2018-09-19 15:14] spakanati123 commented on #4772
I have tried to reproduce the issue on Exo player demo app but i can't see the issue on 2.6.1 as well on latest. We have plans to upgrade the Exo Player to 2.8.* so please lock the conversation as of now and we will try to get more info once we upgrade to latest Exo Player ver.
-Thanks for the support.

[2018-09-19 15:44] fredgc commented on #4772
OK. I'll mark this as closed. Please re-open if there is more on this issue that you need from us.

[2018-09-19 15:44] #4772 closed, assigned to fredgc, paf-wv

[2018-09-19 17:47] ojw28 commented on #4838
It looks like at least the audio and video are DRM'd. Are you referring only to the text streams? If so then I see your point, but it's unclear to me how the player should determine that the text streams are not DRM protected as well. The manifest structure looks a bit like:
[code]
Which we interpret as the `Protection` element applying to all of the `StreamIndex` elements, including the text one.

[2018-09-19 19:42] JeanCarlosChavarriaHughes commented on #3326
Hello @tonihei or @gbansal103 ,

Can you please confirm if the bug is still present in release 2.8.4 ?
I tested with the parameters mentioned above and with other set of values and achieved a good time reduction, but want to confirm if you this is a real bug that needs fixing.

## Commented Values:
DEFAULT_MIN_BUFFER_MS = 30000;
DEFAULT_MAX_BUFFER_MS = 60000;
DEFAULT_BUFFER_FOR_PLAYBACK_MS = 1000;

[2018-09-19 20:12] goffioul opened #4841 "Allow to (easily) disable audio pass-through in MediaCodecAudioRenderer"
I'm facing a scenario where I would like to disable the automatic audio pass-through in MediaCodecAudioRenderer without having to override a bunch of components. But it seems there's no flag that I can toggle to turn off this behavior.

My scenario is running the ExoPlayer demo app on a low-end set-top box running Android 7.1.2 (not Android TV). Playing video with AC3 content creates various probl

[2018-09-19 20:58] hereisclient commented on #4838
I don't know exactly about mss spec.
But my client gave me this url for test.

I didn't tell you whether manifest is the right format or not.

At first i'll check mss spec if i find anything, i'll send you with the
docment.
And i'll ask my client if this format is right.

Thank you for your efforts.

2018년 9월 20일 (목) 오전 2:48, ojw28 <notifications@github.com>님이 작성:

[2018-09-19 23:05] Angelk90 opened #4842 "Change the color of text and background and the subtitle font"
### Issue description
Is there a way to change the color of text and background and the subtitle font?
I tried on github, internet, stackoverflow, I could not find answers.

### Version of ExoPlayer being used
`com.google.android.exoplayer:exoplayer:2.8.1
`
### Device(s) and version(s) of Android being used
Android 7

[2018-09-20 01:37] zsmatyas commented on #4842
Isn't exoPlayer rendering with the font returned by the [CaptioningManager](https://developer.android.com/reference/android/view/accessibility/CaptioningManager) ? In that case, you can set the font in the device settings and it influences all applications at the same time.
Note: there are no setters for the device fonts, they are only adjustable from the settings.

If you do not want to use the d

[2018-09-20 05:17] tmizuguchi-bckk commented on #4329
@rrfrias Thank you for providing the test apk. Today we tested on the device and sent you a log fine and screenshot via email. Could you check on your mailbox?
The result is positive, the downloaded video succeeded playback.

[2018-09-20 05:17] tmizuguchi-bckk commented on #4329
Hi @rrfrias,
I tested on the device with your app. It succeeded to playback downloaded video with the app!
You may find a log text in the attachment. I also share the screenshot in this mail thread too.

Kind Regards,
Takuya Mizuguchi
Technical Manager
Brightcove Inc.
Level 17, 1 Margaret Street, Sydney NSW 2000

2018-09-20 10:30:07.978 23224-23224/? I/zygote64: Late-enabling -Xcheck:jni
2018-09-2

[2018-09-20 06:25] hafiz013 opened #4843 "How to seperate default time bar"
hi there, i am looking for default time bar separated even though i make media source ConcatenatingMediaSource. For example, like play music list supposed current bar show only time of current music play instead of combine them all together in on line timeba.

[2018-09-20 07:35] tonihei commented on #3326
@JeanCarlosChavarriaHughes I don't think that is related to the issue above. This issue is more about the difference in start up time between ExoPlayer v1 and v2. The values you changed should be the same in v1 and v2 in order to compare the performance.

[2018-09-20 07:41] andrewlewis commented on #4843
The default behavior is to show each song separately (one at a time). If you call `playerView.setShowMultiWindowTimeBar(true)` then the time bar will show the concatenation of the songs as if they were one long track, but see also #4727 for limitations of this.

[2018-09-20 07:41] #4843 closed, assigned to andrewlewis

[2018-09-20 07:49] andrewlewis commented on #4842
Yes, `PlayerView` will use the style/size from the `CaptioningManager` to initialize its `SubtitleView`'s output style. `SubtitleView` also has various methods for customizing how subtitles get rendered, including `setStyle` and `setFractionalTextSize`.

[2018-09-20 07:49] #4842 closed, assigned to andrewlewis

[2018-09-20 08:03] gbansal103 commented on #3326
agree with tonihei.

On Thu, Sep 20, 2018 at 1:06 PM tonihei <notifications@github.com> wrote:

--
Visit *TIMESPRIME.com
<https://www.timesprime.com/?utm_source=Promotion&utm_medium=Signature&utm_campaign=Email_TIL_Signature_130918>* 
to avail special 20% discount on annual subscription. Now pay Rs. 799 for
the first year to enjoy Gourmet Passport by Dineout, Gaana Plus, TOI Plus
and amazing benef

[2018-09-20 08:07] bene25 commented on #4817
Here is log with EventLogger.
First TEST2 appearing is black screen, second TEST2 appearing is working channel (switching to another channel)

[log.txt](https://github.com/google/ExoPlayer/files/2400316/log.txt)

[2018-09-20 10:54] karthick-rv opened #4844 "Cannot find Symbol class MediaPeriodId"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-09-20 11:18] andrewlewis commented on #4837
Do you find that particular video resolutions are broken while others work? The resolution of the first provided test stream is 448 by 252 pixels (height is not a multiple of 16, which can be problematic).

I've filed [internal: b/116190096] to ask the relevant team to take a look. Thanks.

[2018-09-20 11:21] andrewlewis commented on #4844
There's not much information to go on here, but you probably need to clean/gradle sync the project. Or maybe you have upgraded the library and need to modify your code.

Closing for now as the issue template hasn't been filled out. If you can clarify what the problem is we can reopen and take another look.

[2018-09-20 11:21] #4844 closed, assigned to andrewlewis

[2018-09-20 11:27] andrewlewis commented on #4840
The IMA SDK appears to support the following media MIME types:
- DASH: 'application/dash+xml'
- HLS: 'application/x-mpegURL'
- MP4: 'video/mp4'
- MPEG: 'video/mpeg'
- Ogg: 'video/ogg'
- 3GPP: 'video/3gpp'
- WebM: 'video/webm'
- MP3: 'audio/mpeg'
- MP4 audio: 'audio/mp4'

So you'll need to use one of those for IMA to recognize the format.

[2018-09-20 11:27] #4840 closed, assigned to andrewlewis

[2018-09-20 11:38] Angelk90 commented on #4842
@zsmatyas , @andrewlewis :
I use an app, which allows you to customize the subtitles, I realized that when I changed them, they were also changed those that were shown on exoplayer.

Here are some pictures of what you can do, that's what I would like to do.

![](https://i.imgur.com/AbcEqeM.jpg)

![](https://i.imgur.com/ystcYfB.jpg)

![](https://i.imgur.com/6ULt5Bn.jpg)

![](https://i.imgur.com/FdX

[2018-09-20 11:54] Karthick1058 commented on #4844
Error: Cannot Find symbol Class MediaPerioId  in Exoplayer Android Studio
How to solve this?
Need Help

[2018-09-20 12:04] andrewlewis commented on #4844
Where does the error occur? Could you provide the full build output?

[2018-09-20 12:19] ojw28 commented on #4839
We already do that.

[2018-09-20 12:19] #4839 closed, assigned to ojw28

[2018-09-20 12:22] ojw28 commented on #4839
By "that", I mean that we start consuming data as soon as we receive it, rather than waiting for the whole chunk request to complete. I doubt this makes much of a difference to live delay though.

[2018-09-20 12:47] Karthick1058 commented on #4844
![screenshot 32](https://user-images.githubusercontent.com/25077094/45819139-3ebd2400-bd01-11e8-9692-b803824a1354.png)
I have attached the screenshot here.
The error occurs in the highlighted area

[2018-09-20 15:06] BrainCrumbz commented on #2882
Hi all. Does anyone know how key-frame accurate seeking is reflected in `SeekParameters` "constants" ([ref.](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SeekParameters.html#field.summary))?

Which one should be passed to `setSeekParameters()` in order to achieve:

1. any frame accurate seeking
1. key-frame accurate seeking

?

TA

[2018-09-20 15:12] andrewlewis commented on #2882
@BrainCrumbz If you want to snap the seek position to the closest keyframe use `SeekParameters.CLOSEST_SYNC`. To see to a exact frame (the frame before the requested position, even if it's not a keyframe) use `SeekParameters.EXACT`.

[2018-09-20 15:40] davidn2013 opened #4845 "mpegts drop frames"
Hi All,

I have drop frames problem when play some mpegts file.  sometime player freeze a bit after that continue to play. this issue does not happen with the MXPLAYER.

- Content
http://103.27.236.141/mpegts.zip

- Version of ExoPlayer being used
2.8.2

- Device(s)  and version(s) of Android being used
Amlogic 905 and Android 7

- Adb log
09-20 23:02:00.261 5859-5859/com.google.android.exoplayer2

[2018-09-20 16:12] davidn2013 commented on #4845
Hi All,

I have drop frames problem when play some mpegts file.  sometime player freeze a bit after that continue to play. this issue does not happen with the MXPLAYER.

- Content

- Version of ExoPlayer being used
2.8.2

- Device(s)  and version(s) of Android being used
Amlogic 905 and Android 7

- Adb log
09-20 23:02:00.261 5859-5859/com.google.android.exoplayer2.demo D/EventLogger: loading [82.

[2018-09-20 16:14] bhupalreddykokkanti opened #4846 "Customize Quality selection Popup"
I am unable to customize quality selection popup. Could you please guide me how to do it. At least customize the quality selection text

[2018-09-20 16:38] andrewlewis commented on #4846
This issue looks like a general question about Android development. We recommend asking such questions on Stack Overflow, and are unfortunately unable to answer them here.

[2018-09-20 16:38] #4846 closed, assigned to andrewlewis

[2018-09-20 17:43] sergeich commented on #4837
Yes, most of the working videos has multiple of 16 height (1080, 720, 480). But some of them has resolution 640x360 and works too. `360 / 16 = 22.5`. So I don't know could it be the reason or not.

[2018-09-20 18:51] Angelk90 opened #4847 "exo_play and exo_pause do not support "?attr/selectableItemBackgroundBorderless""
### Issue description
I'm trying to add as background `"?attr/selectableItemBackgroundBorderless"`
But it does not seem to work, what could be the reason?

### Version of ExoPlayer being used
`com.google.android.exoplayer:exoplayer:2.8.1
`
### Device(s) and version(s) of Android being used
Android 7

[2018-09-21 01:28] roundsmapp commented on #2659
@andrewlewis , audio focus didn't work. It's really a weird behaviour. Everything works fine if it is in background (not talking about Android Services), but as soon as the App comes to front, it fails.

It looks like it's the way Galaxy S9 with Android 8.0 handles audio processing.

Any more clues?

[2018-09-21 07:51] hereisclient opened #4849 "subtitleview is not shown."
### Issue description
now i'm trying to show subtitle on my application.
but i can't see subtitle on exoplayer.
i guess my layout affects subtitle.
my layout is based on exoplayer demo app.
here is my layout and i just added SurfaceView in orignal layout.
and i added below java code.

    mIcsSurfaceView = (SurfaceView) findViewById(R.id.surface_ics);
    mIcsSurfaceView.setZOrderMediaOverlay(true

[2018-09-21 07:52] cinohub opened #4850 "Out of memory Exoplayer in Fragment inside Viewpager"
I have used Exoplayer to stream video online from internet. My player work inside fragmet inside viewpager. The crash happen when I played about 10 videos .
Here is my logcat :
`E/LoadTask: OutOfMemory error loading stream
    java.lang.OutOfMemoryError: Failed to allocate a 65548 byte allocation with 22600 free bytes and 22KB until OOM
        at com.android.okio.Segment.<init>(Segment.java:37)

[2018-09-21 07:58] KazumiHARADA opened #4851 "some playbacks are jumpy when it changes speed of playback"
### Issue description
Implementing a feature of slow and fast playback with Playback Parameters.class,
there are some videos which are very jumpy.
As a result of our comfirming, it seems to be occurred only with DRM protected contents.

### Reproduction steps
Please let you modify following class and json file on the ExoPlayer demo project.

ExoPlayer-release-v2/demos/main/src/main/java/com/google

[2018-09-21 08:38] andrewlewis commented on #4850
Are these playing at the same time in multiple players? Please check your app's code to make sure you're releasing players when they aren't needed.

[2018-09-21 08:48] bene25 commented on #4817
Hi guys. Any suggestions what could cause this problem?

[2018-09-21 09:00] andrewlewis commented on #4817
Could you file an issue with the OEM providing the device? It sounds like a device-specific issue and I don't think there's much we can do: it seems there's no error being surfaced to ExoPlayer, and I'm not aware of any APIs you can use to wait until HDMI output is initialized on API 17.

[2018-09-21 09:09] herintsoaRazaf opened #4852 "Can I use android.support.v7.util.ListUpdateCallback to update current playlist in ExoPlayer ?"
Hi,

I'm trying to reorder the current playlist from `ConcatenatingMediaSource mediaSources` instance. If we supposed that we have a `DiffUtil.DiffResult` instance between the current playlist and a new one, can we use the interface `android.support.v7.util.ListUpdateCallback` to apply the change to the current playlist like :
[code]
Is this callback implementation correct ?

I am interested only

[2018-09-21 09:34] BrainCrumbz opened #4853 "[Question] How to buffer multiple tracks from playlist?"
Before filing an issue:
-----------------------
- [✔] Search existing issues, including issues that are closed.
- [✔] Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- [✔] Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- [✔] This issue tracker is int

[2018-09-21 09:35] cinohub commented on #4850
Thanks for fast reply.
I play video when setUserVisibleHint() method fire. and pause video when onPause() fire.
Here is my code play and pause :
`
 private void pausePlayer() {

        if (player != null) {
            player.setPlayWhenReady(false);
            player.getPlaybackState();
        }
    }

    private void startPlayer() {
        if (player != null) {
            player.seekTo(0);

[2018-09-21 09:43] tonihei commented on #4853
This feature is already tracked by #3327. Unfortunately, we haven't made any progress in that direction, but please subscribe to that issue to get updates as soon as something happens.

And there is also no other way to do that currently. The only solution I can think of is using multiple players which all load one of the upcoming items and as soon as the user skips the current video, the surface

[2018-09-21 09:43] #4853 closed, assigned to tonihei

[2018-09-21 10:59] ojw28 commented on #4853
Out of interest, what kind of delay are you seeing? Given the files are local, it's likely more latency is coming from #2826 than #3327.

[2018-09-21 12:10] narasimharao11 opened #4854 "updating the models"
Epoxy attribute fields on a model cannot be changed once the model is added to a controller. Check that these fields are not updated, or that the assigned objects are not mutated, outside of the buildModels method. The only exception is if the change is made inside an Interceptor callback. Consider using an interceptor if you need to change a model after it is added to the controller and before it

[2018-09-21 12:16] #4854 closed, assigned to nobody

[2018-09-21 12:53] sajjadyousefnia opened #4855 "how to increase the simpleCache chunks space?"
By default, the space of simplecache is exactly 2MB, I want to increse it to more, how can I do it?? please help, thanks for your attention

[2018-09-21 13:28] erdemguven commented on #4855
Using `CacheDataSource(com.google.android.exoplayer2.upstream.cache.Cache, com.google.android.exoplayer2.upstream.DataSource, int, long)` constructor you can specify maxCacheFileSize.

[2018-09-21 13:28] #4855 closed, assigned to erdemguven

[2018-09-21 13:36] erdemguven commented on #4821
To encrypt cached media files (exo files) you need to use AesCipherDataSink and AesCipherDataSource to encrypt and decrypt while you create your CacheDataSource. For an example you can check com.google.android.exoplayer2.upstream.cache.CacheDataSourceTest2#buildCacheDataSource code.

[2018-09-21 13:36] #4821 closed, assigned to erdemguven

[2018-09-21 15:10] andrewlewis commented on #4850
You should probably be calling `player.release()` on any instances that aren't visible to the user. It may be better to have just one player instance for your app, and change its output view as needed.

[2018-09-21 15:16] andrewlewis commented on #4852
The overall approach looks fine. Were you running into issues with it? The `dev-v2` branch has range-based removal which will help simplify `removeInMediaSource` (see also #4542).

[2018-09-21 15:20] andrewlewis commented on #4849
I don't think `SurfaceView` can be made transparent. You should probably be using `TextureView` instead if you need this behavior.

Subtitles are shown with the ExoPlayer demo app, so using that as a starting point it should be possible to figure out which part of the changes you've made caused subtitles not to show up.

[2018-09-21 15:20] #4849 closed, assigned to andrewlewis

[2018-09-21 15:25] andrewlewis commented on #4851
I think we've seen issues before where playing protected content increased the time cost of decoding substantially compared to clear content, and could result in dropped frames. When playback is jumpy do you see the dropped frame counter labeled "db" at the top of the screen in the demo app increasing?

It would be useful to see logcat with logging from the demo app if you have it available. Thank

[2018-09-21 15:29] bene25 commented on #4817
While investigation, we found that after black screen video resumes itself after some time.
[video_resuming.txt](https://github.com/google/ExoPlayer/files/2405973/video_resuming.txt)

[2018-09-21 15:33] herintsoaRazaf commented on #4852
I just ask if some of you have already use this kind of implementation before to change the playlist on ExoPlayer.

[2018-09-21 15:34] roundsmapp commented on #2659
@andrewlewis , Wake lock has exactly the same behaviour.

[2018-09-21 15:38] andrewlewis commented on #4847
This issue looks like a general question about Android development. We recommend asking such questions on Stack Overflow, and are unfortunately unable to answer them here.

[2018-09-21 15:38] #4847 closed, assigned to andrewlewis

[2018-09-21 15:42] andrewlewis commented on #4842
If you're using `PlayerView` you should be able to use `findViewById(R.id.exo_subtitles)` to get the `SubtitleView` instance, then use the methods I mentioned above to customize rendering.

[2018-09-21 15:47] andrewlewis commented on #4841
You can force ExoPlayer not to use passthrough support advertised by the platform by passing `AudioCapabilities.DEFAULT_AUDIO_CAPABILITIES` (or `null`) when constructing `MediaCodecAudioRenderer`. Please try that and let me know if there are any issues.

As you've noted we should be checking the channel count. I'll use #4690 to track that. Thanks!

[2018-09-21 15:47] #4841 closed, assigned to andrewlewis

[2018-09-21 16:06] goffioul commented on #4841
But I'm not constructing `MediaCodecAudioRenderer`, `DefaultRenderersFactory` does. To implement your suggestion, I need to create my own renderers factory, override `buildAudioRenderers` and insert a (second) `MediaCodecAudioRenderer` in the returned array, making sure to take into account `extensionRendererMode`. Or is there an easier way?

[2018-09-21 16:24] andrewlewis commented on #4841
If you need extension renderers, that sounds right. If not you can get away with overriding the method and just returning a `MediaCodecAudioRenderer` (without calling the super implementation).

Note: if you're actually trying to play an AC3 stream using extension renderers I think you can simply set the factory to prefer extension renderers. They will be used in preference to MediaCodecAudioRende

[2018-09-21 16:26] BrainCrumbz commented on #4853
Thanks for quick replies.

Yes there's a very short buffering, but as the video hold contents that visually should flow from the current to another following, you can appreciate some "stuttering".

Based on our current ExoPlayer knowledge, I cannot say if it that's more due to buffering (#3327) or to decoder re-use (#2826).

[2018-09-21 16:32] andrewlewis commented on #4836
I think the errors that occur during configuration might not actually be problematic. What do you see if you just ignore the errors during configuration? I tried building with libvpx 1.7.0, ignoring the errors and playing a video with the vp9 extension and it worked.

[2018-09-21 16:33] goffioul commented on #4841
I need the extension renderers. The app is targeted at multiple devices, some of which have an AC3 decoder (or MP2 for that matters), others don't. The app should prefer to use the platform codecs when available; hence the suggestion to prefer the extension renderers is not really practical (or I'd need to make that setting platform-dependent). Thanks for the information anyway.

[2018-09-21 17:19] BrainCrumbz commented on #4853
BTW, isn't there a way to make use of something like `CacheUtil` and `CacheDataSourceFactory` as mentioned in blog post [Pre-caching/Downloading progressive streams in ExoPlayer](https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6)?

E.g. using some kind of pipeline like:

[code]

?

[2018-09-21 18:37] ojw28 commented on #4853
`CacheDataSource` reads from disk (it's a disk cache, not an in-memory cache). Given you're reading from disk anyway, it wont make things any faster. Most likely you just want #2826 fixing, which should save approx ~90ms of latency (although this varies significantly from device to device).

[2018-09-22 15:25] khizar1556 commented on #4406
@ojw28 can you please guide me what to do i am playing MKV file from local storage everything is fine but video is not seekable please help me how can i solve this

[2018-09-22 17:24] khizar1556 opened #4856 "Video is not seekable why?"
when i am trying to play HD videos resolution 1080 or above from my sd card video is started everything is fine but when i am seek forward it will play from start position why? if i am try to pay that uri to exo player demo application then timebar is disable can anyone please help me to sort out this problem

[2018-09-22 18:53] blueslabs commented on #4836
Thanks! Did a clean build, it works now. -mfloat-abi=softfp -mfpu=neon is actually only required for the current master, otherwise build can fail. 1.7.0 can build without this.

[2018-09-23 05:02] AlienAsRoger opened #4857 "DefaultLoadControl.Builder should allow to set backBufferDurationUs and retainBackBufferFromKeyframe"
### Issue description

`DefaultLoadControl.Builder` is final and public constructors are deprecated for `DefaultLoadControl` which forces to create a whole copy of `DefaultLoadControl` just to set `backBufferDurationUs` and `retainBackBufferFromKeyframe`

[DefaultLoadControl.Builder](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.Builder.html)

[De

[2018-09-23 10:38] CoXier opened #4858 "Different duration between MediaMetadataRetriever and ExoPlayer"
As title says, I use two ways to get duration of a video on Android Device.

[code]
Then I got `10031` milliseconds.

Then  I use ExoPlayer to get duration like this:

[code]
I got `9970` milliseconds.

[2018-09-23 13:27] khizar1556 commented on #4856
Anyone please help me what is wrong with hd files even 4k video playing well just when i use seekto then video starts from 0 mean to say its started again from start point seekto not working on HD video of local memory

[2018-09-23 13:28] khizar1556 commented on #4858
when i am trying to play HD videos resolution 1080 or above from my sd card video is started everything is fine but when i am seek forward it will play from start position why? if i am try to pay that uri to exo player demo application then timebar is disable can anyone please help me to sort out this problem

[2018-09-23 13:29] khizar1556 commented on #4856
@ojw28 @andrewlewis @AquilesCanta Can you please solve my problem or guide me what to do

[2018-09-23 13:37] CoXier commented on #4858
Why do you comment your question in this issue ?

[2018-09-23 13:42] khizar1556 commented on #4858
i thought you know about my question.No one is answering so i asked you this

[2018-09-23 15:17] #4836 closed, assigned to andrewlewis

[2018-09-23 17:45] ojw28 commented on #4842
If you're using `PlayerView` you can just use [`getSubtitleView`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html#getSubtitleView--) to get the `SubtitleView` instance ;).

[2018-09-24 07:05] jonahwh opened #4859 "Decoder init failed: OMX.qcom.video.decoder.avc on Nexus 7, Android 6.0.1"
### Issue description
Playback is failing on Nexus 7, Android 6.0.1 with the error:
Decoder init failed: OMX.qcom.video.decoder.avc

### Reproduction steps
1. Launch the Demo app
2. Attempt to play any of the following:
   * YouTube DASH: Google Glass (MP4,H264)
   * SmoothStreaming: Super speed
   * HLS: Apple 4x3 basic stream
   * Playlists: Cats -> Dogs
   * more, but that should be enough of a

[2018-09-24 07:12] jschamburger commented on #4532
Took a while for us to release the version with ExoPlayer 2.8.4, but now I have seen several occurrences of the crash. The values differ quite a bit - the length is sometimes 0, but quite often it is a large negative number:

[2018-09-24 07:13] andrewlewis commented on #4858
Please could email a link to the media to `dev.exoplayer@gmail.com`?

[2018-09-24 07:14] andrewlewis commented on #4856
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-09-24 08:09] BrainCrumbz commented on #2826
Is there any help we can provide in improving this aspect? Have you already thought about potential design changes, or already have an idea that we can try to implement? TA

[2018-09-24 09:49] ojw28 commented on #4532
This is definitely a platform/VM bug then. I don't think `array.length` can ever be negative if the VM is functioning correctly, right?

[2018-09-24 09:56] CoXier commented on #4858
Ok. FFmpeg returns as same duration as `ExoPlayer`. So I think there is a bug in  Android MediaMetadataRetriever.

[2018-09-24 10:05] ojw28 commented on #2826
Work is in progress. There's a [design proposal here](https://docs.google.com/document/d/1bR5KVn4fu_rPwPPbTAN8ZaWeQ8ehJHtDzCl3iR3AAVU/edit?usp=sharing). Feel free to post any comments you have. I don't think we need any help on the implementation side.

[2018-09-24 10:14] #4814 closed, assigned to AquilesCanta

[2018-09-24 10:18] andrewlewis commented on #4858
Please could you file an issue on the [Android issue tracker](https://source.android.com/setup/contribute/report-bugs)? Thanks!

[2018-09-24 10:18] #4858 closed, assigned to andrewlewis

[2018-09-24 10:25] ojw28 commented on #3644
It doesn't look like there's any better way of solving this problem than heuristic based charset detection, which is what libraries like ICU4J do. So we'll either need to take a dependency from ExoPlayer core to such a library, or implement our own charset detection, since it doesn't seem there's any support provided by Android platform APIs.

Taking a dependency isn't something we should do witho

[2018-09-24 10:26] #4439 closed, assigned to tonihei

[2018-09-24 10:26] tonihei commented on #4559
The issue should be solved now (with and without applying edit lists).

[2018-09-24 10:26] #4559 closed, assigned to andrewlewis

[2018-09-24 11:05] jschamburger commented on #4532
Correct. https://docs.oracle.com/javase/specs/jls/se7/html/jls-10.html#jls-10.7

[2018-09-24 11:33] Mariovc opened #4860 "Pause / stop a single download, not all (Offline)"
### Issue description
When downloading HLS / DASH videos for offline mode, can I stop a single download while having all the rest downloading?
I've found a similar issue "[Pause/Resume download with HlsDownloader or DashDownloader](https://github.com/google/ExoPlayer/issues/3907)" where the solution is stopping all downloads, using `stopDownloads` from `DownloadManager` class. But can I stop only

[2018-09-24 12:48] erdemguven commented on #4650
Content downloaded by DownloadManager isn't removed automatically if you use NoOpCacheEvictor while creating your Cache instance (which is recommended setup for normal offlining cases).

[2018-09-24 12:49] #4651 closed, assigned to erdemguven

[2018-09-24 12:58] erdemguven commented on #4655
The last link you shared still points to a html page not the video.

[2018-09-24 13:21] erdemguven commented on #4714
There is a code in DashDownloader which calculates the whole download size using manifest only (If the segment sizes are defined in it). The code is only called when the download is started but we can make it accessible without downloading. Still it would work only if manifest has the necessary information.

Also DashManifest.durationMs contains the total duration of the video but again only if th

[2018-09-24 13:25] erdemguven commented on #4860
It isn't possible currently. We'll consider supporting it.

[2018-09-24 14:37] #4834 closed, assigned to ojw28

[2018-09-24 14:37] #4857 closed, assigned to ojw28

[2018-09-24 17:14] khizar1556 commented on #4856
@andrewlewis here is link of the video in which when i open file using uri from local storage you can see in this video the video is running but seekbar is disabled
here is the link of the video
please see this video
[https://drive.google.com/file/d/0ByLOrcoj9o3UNk81aUxXWlNfLTQyTWc4Y05MYTRSUjVGN2xB/view?usp=sharing ](https://drive.google.com/file/d/0ByLOrcoj9o3UNk81aUxXWlNfLTQyTWc4Y05MYTRSUjVGN2xB

[2018-09-24 18:48] ebr11 opened #4861 ".TS streams never start"
Certain .ts streams (the ones we have are European TV) will appear to start to load in Exo but simply never start playing.  If the same stream is re-encoded as h264 and delivered via HLS it will play fine.

Samples:

https://drive.google.com/open?id=1oe4oX9W4JherAWEQ-pAyT_7pkfJxDBOB
https://drive.google.com/open?id=1lTmpEecci5KHiVEHhhgb_LQ1E574-nPB

[2018-09-24 19:05] AquilesCanta commented on #4861
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-09-24 19:28] ebr11 commented on #4861
### Issue description
Certain .ts streams (the ones we have are European TV) will appear to start to load in Exo but simply never start playing. If the same stream is re-encoded as h264 and delivered via HLS it will play fine.

### Reproduction steps
Attempt to play one of the included links in ExoPlayer

### Link to test content
https://drive.google.com/open?id=1oe4oX9W4JherAWEQ-pAyT_7pkfJxDBOB
h

[2018-09-24 19:32] AquilesCanta commented on #4861
Still missing the bugreport.

[2018-09-24 19:56] ebr11 commented on #4861
My device is failing to create one right now so I'll have to get back to you.  Just FYI no errors are thrown.  Playback simply never starts.  Thanks.

[2018-09-24 20:05] ebr11 commented on #4861
I did also just discover that, if I let the demo app sit long enough trying to load the stream, it does eventually throw an out of memory error.

`09-24 15:59:09.454 6019-6069/com.google.android.exoplayer2.demo E/LoadTask: OutOfMemory error loading stream
                                                                            java.lang.OutOfMemoryError: Failed to allocate a 65552 byte allocati

[2018-09-24 20:09] AquilesCanta commented on #4861
So I have just noticed that the two files use two different codecs. In the first case, it's possible that some of the devices don't have the required codecs. This can be confirmed by providing a **full bugreport** after playing the file in the demo app. For the second one, it's likely you'll find the answer in the [FAQ](https://google.github.io/ExoPlayer/faqs.html).

[2018-09-24 20:33] ebr11 commented on #4861
What are you seeing that is different?  As far as I can tell they are both H264 High profile with AC3 audio (both of which are supported by the device).

[2018-09-24 21:36] ebr11 commented on #4861
Also, the player reports seeing those codecs and that they are supported.

`09-24 15:58:22.637 6019-6019/com.google.android.exoplayer2.demo D/EventLogger: tracksChanged [1.29, 0.00, window=0, period=0,
09-24 15:58:22.637 6019-6019/com.google.android.exoplayer2.demo D/EventLogger:   Renderer:0 [
09-24 15:58:22.637 6019-6019/com.google.android.exoplayer2.demo D/EventLogger:     Group:0, adaptive_sup

[2018-09-24 22:35] SemihGk opened #4862 "[Question] Exposing Raw Manifest File."
I am quite new to ExoPlayer and so, I am sorry if the question is inappropriate.

Basically, I need to get a raw manifest file from Exoplayer. However, I could not find any way to reach it. The only place that I can access to the manifest at [onTimelineChanged](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onTimelineChanged-com.google.andr

[2018-09-25 08:46] peddisri commented on #4780
I think I found one issue. I have one URL where the way a presentation ends is by signalling inband via emsg box in fmp4 . I see that the player is detecting the end of presentation, but is trying to either retry, or after max retry is over, throw a DashManifestStaleException.
https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/D

[2018-09-25 08:55] ojw28 commented on #4532
For those encountering this issue: Do you have any native code in your app? It's one theory that:

[2018-09-25 09:37] jschamburger commented on #4532
We do not have any native code in the project.

[2018-09-25 09:47] hafiz013 commented on #4843
so in that case how to play next media source programmatically in stead of next button from controller.

[2018-09-25 09:49] hafiz013 opened #4863 "How to play next media source after enable mode shuffle programmactically"
hai there developer, how to play next media source (shuffle) after enable mode shuffle in programmatically in stead of depend on next btn from ui controller?

[2018-09-25 10:08] andrewlewis commented on #4843
Is this the same as #4863 or a different question? If you pass the player a concatenation it should advance automatically from one item to the next.

[2018-09-25 10:13] andrewlewis commented on #4856
Could you also provide the file `Ggg.MKV`? It's likely that cues are missing or incomplete due to the way the file was created. To investigate yourself, look at references to `SeekMap.Unseekable` in [MatroskaExtractor.java](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/extractor/mkv/MatroskaExtractor.java).

[2018-09-25 10:29] erdemguven commented on #4862
We don't keep the raw manifest file after it's parsed. (For DASH and SmoothStreaming) One way to keep manifest is providing it yourself to the MediaSource:

1. Download and store somewhere the manifest file.
1. Parse it using one of *ManifestParser classes.
1. Use DashMediaSource.Factory.createMediaSource(DashManifest) (or SmoothStreaming equivalent) to create your MediaSource.

[2018-09-25 10:29] #4862 closed, assigned to erdemguven

[2018-09-25 10:46] AquilesCanta commented on #4861
I think the first one is h.262. For the second one, have you read the [FAQ](https://google.github.io/ExoPlayer/faqs.html#why-do-some-mpeg-ts-files-fail-to-play) as suggested above?

[2018-09-25 10:52] khizar1556 commented on #4856
@andrewlewis Yes ofcourse here is video file named Ggg.MKV
[https://drive.google.com/file/d/1j0RoqFJpMksdLhfIhKbhTH0Y8Aaq6kaw/view?usp=sharing](https://drive.google.com/file/d/1j0RoqFJpMksdLhfIhKbhTH0Y8Aaq6kaw/view?usp=sharing)
download this file and change the file path according to your mobile directory

i will also investigate it but please help me to make it correct sir i will be thankfull to

[2018-09-25 11:48] andrewlewis commented on #4856
The cues do indeed appear to be missing. You will need to change how you produce the file to make it seekable (for example, if you remux using a tool like ffmpeg I think you'll find that cues get added to the file).

[2018-09-25 11:48] #4856 closed, assigned to andrewlewis

[2018-09-25 12:21] mseroczynski commented on #4519
It seems like I've encountered the exact same issue repeatedly on Samsung GT-I9515 4.4.2 and SM-G350 4.2.2

[2018-09-25 12:28] OMArikan commented on #4532
@ojw28 , I have just replied with new stacktraces to old e-mail with issue number.
Crash number is fewer than old but can't say crash ratio is decreased according to playing/crashes ratio.
And yes I have some native codes but they are just constants to keep secrets really secret :)

I'm totally agreed to you about device specific problem related with VM. However what if we could change `ASSERTIONS

[2018-09-25 13:26] bene25 commented on #4817
We made more tests, and added small 2 seconds delay, but nothing changes. Black screen still appear.
[black_screen_2.txt](https://github.com/google/ExoPlayer/files/2415399/black_screen_2.txt)

[2018-09-25 13:59] ebr11 commented on #4861
What is indicating the first one is mpeg2 to you?  This is the output from Exo for that video track:

`[X] Track:0, id=10355/6551, mimeType=video/avc, res=1280x720, supported=YES `

As for the FAQ, yes I've read it but can you please be more specific as to exactly what you are referring?

Also, are you saying the above behavior (just hanging until an OOM error is thrown) would be an indication of

[2018-09-25 14:21] erdemguven commented on #4859
I can not reproduce the issue. @jonahwh does it reproduce always for you? Even after reboot?

[2018-09-25 14:35] skk1364 opened #4864 "BehindLiveWindowException in HLs live stream exoplayer 2.4.8 ,ts count from server 10 and for 1 minute window length,but in web in flowplayer work correct."
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-09-25 14:44] skk1364 commented on #4864
BehindLiveWindowException in HLs live stream exoplayer 2.4.8 ,server sent ts count is 10,and time 1 minute,how to handle this error? with this server api flowplayer in web work correct.

com.google.android.exoplayer2.source.BehindLiveWindowException
        at com.google.android.exoplayer2.source.hls.HlsChunkSource.getNextChunk(HlsChunkSource.java:290)
        at com.google.android.exoplayer2.sour

[2018-09-25 15:15] tonihei commented on #4863
You can check for the next and previous window index using `player.getNextWindowIndex()` and `player.getPreviousWindowIndex()`. And then seek to this window using one of the `player.seekTo` methods.

To simplify such a use case, I'll mark that as an enhancement to add two methods `player.next()` and `player.previous()`.

[2018-09-25 15:20] andrewlewis commented on #4645
Closing due to inactivity.

[2018-09-25 15:20] #4645 closed, assigned to andrewlewis

[2018-09-25 15:20] andrewlewis commented on #4642
Closing due to inactivity.

[2018-09-25 15:20] #4642 closed, assigned to andrewlewis

[2018-09-25 15:23] #4637 closed, assigned to andrewlewis

[2018-09-25 15:26] andrewlewis commented on #4630
Closing due to inactivity.

[2018-09-25 15:26] #4630 closed, assigned to andrewlewis

[2018-09-25 15:27] andrewlewis commented on #4610
Closing due to inactivity.

[2018-09-25 15:27] #4610 closed, assigned to andrewlewis

[2018-09-25 15:27] #4360 closed, assigned to andrewlewis

[2018-09-25 15:42] puenktchen commented on #4861
The first link is false - the 576i file plays flawlessly. The link schould be https://drive.google.com/file/d/1qrpRSzZwf3SXxOVRelIOsxr7KsKrX11O/view?usp=drivesdk

[2018-09-25 15:43] jonahwh commented on #4859
Yeah. I just remembed that my device is rooted (I haven't used it in a long while), so perhaps that's interfering?

[2018-09-25 15:45] andrewlewis commented on #3623
Closing due to inactivity. If we need to investigate anything here further, please file a new issue and provide all the information requested in the issue template.

[2018-09-25 15:45] #3623 closed, assigned to andrewlewis

[2018-09-25 15:47] andrewlewis commented on #3323
Closing due to inactivity. Based on discussions with the IMA team, it's likely this was a CORS request. If you can still reproduce the problem please file a new issue and we'll take a look.

[2018-09-25 15:47] #3323 closed, assigned to andrewlewis

[2018-09-25 15:57] andrewlewis commented on #3774
Closing as AdMob is the recommended way to do this.

[2018-09-25 15:57] #3774 closed, assigned to andrewlewis

[2018-09-25 16:04] mustafasevgi opened #4865 "Exoplayer demo-ima app cookie problem"
Hello,

this my preJingle url: http://ad.reklamport.com/rpgetad.ashx?tt=t_fizyradyo_jingle_1x1&vast=1&country=TR&lang=EN&operator=operator

when i try to play this jingle at demo-ima app, i can not see cookie for uniq user like btguid. So Every event(firstQuartile,midpoint etc.) return different cookie(btguid).

Player does not accept Set-Cookie.

btguid is unique id for user.

exoplayer version:

[2018-09-25 16:26] andrewlewis commented on #4865
If this is a request to be able to set cookies on ad requests: reading https://groups.google.com/forum/#!topic/ima-sdk/9UQBKLjRbgg it sounds like the Android IMA SDK doesn't currently provide a way to do this.

You may get a more helpful answer if you post your question in the [IMA SDK forum](https://groups.google.com/forum/#!forum/ima-sdk). Thanks.

[2018-09-25 16:26] #4865 closed, assigned to andrewlewis

[2018-09-25 18:18] mustafasevgi commented on #4865
Thank you for quick answer @andrewlewis .

Can i intercept event request(start, firstQuartile, midpoint) with okhttp interceptor and add cookie values?

Thanks,

[2018-09-25 18:52] ebr11 commented on #4861
My apologies.  I must have copied the incorrect link.  Thanks, puenktchen.

[2018-09-25 19:02] khizar1556 commented on #4856
@andrewlewis sir i am trying too much can you please help me how to do it with ffmpeg i will thankfull to you if you help me please

[2018-09-25 19:25] stari4ek commented on #4666
Checked with current HEAD.
Works well. Thank you

[2018-09-25 20:01] stari4ek opened #4866 "TS video does not start"
* checked in demo on e86d5efb2147c1f99074311ee3852cca307823ad
* https://drive.google.com/file/d/1jyY7h7uCHfEifGVfEbVbrHZHOFkiSk--/view?usp=drivesdk
* plays well in desktop VLC

[code]

[code]

[2018-09-25 20:46] ojw28 commented on #4532
A question I'd ask about this, is how closely were you looking? If playback failed but the app didn't crash, would you have noticed?

[2018-09-25 20:53] khizar1556 commented on #4856
sir i run two files now one that is seekable and other is not seekable i debug it in this calss  MatroskaExtractor.java you give the refrence both are the same and both has the cues now what can i do  here ?

[2018-09-25 20:57] ojw28 commented on #4780
If the presentation end has been signalled in-band, then shouldn't any attempt to request the manifest result in a static manifest being received? In which case you'd never hit the code paths you reference. It sounds more likely that the server is not updating the manifest to be static, which I think it should do.

[2018-09-25 22:23] rrfrias commented on #4329
@tmizuguchi-bckk the license duration remaining in the logs you sent appear to be set as expected. We tried to set our policy based on your suggestions. I am not sure why we are seeing differences in behavior?

_2018-09-20 10:30:33.728 23224-23291/widevine.dexter D/DrmPlayer: queryKeyStatus at Request/Restore Keys: {PersistAllowed=True, PlayAllowed=True, PlaybackDurationRemaining=7200, LicenseDura

[2018-09-25 22:37] SemihGk commented on #4862
Thank you for your response, @erdemguven . If it was only for VOD content, your case would be adequate but we would have to implement continuous download support for LIVE contents. Also, there is a risk that it may break things for some unknown reason in case of implementing a custom manifest downloader in our app. So, it may not worth to go for it.

I have another thought. I noticed that the HTTP

[2018-09-25 23:59] mikulbhatt opened #4867 "Reuse secure decoder while moving from secured -> clear -> secure content"
We observe that the decoder deinit and reinit while moving from secured to plain content and plain to secure content.

Is there a way to signal exoplayer so we can avoid de-init and re-init of decoder and ask MediaCodecRenderer to reuse the secured decoder for clear content?

[2018-09-26 02:27] hafiz013 commented on #4863
the problem is like this, first what i did was player.seekTo(player.getNextWindowsIndex(), C.UNSET) yes it goes to random position of music if enable mode shuffle before call 'player.seekTo(player.getNextWindowsIndex(), C.UNSET) ' however, again when i click again that shuffle button make it crash because no more media source next windows. Note that I have shuffle button and for your information .

[2018-09-26 02:29] hafiz013 commented on #4843
different question.playerView.setShowMultiWindowTimeBar(false) make time bar separated media source even though already concatenation. thank for info.

[2018-09-26 02:46] dllabs opened #4868 "Extend isAtomic flag in ConcatanatingMediaSource to actually merge timelines"
Similar to [this issue](https://github.com/google/ExoPlayer/issues/2122), I need to display a playback position for audio files that represents the position relative to the entirety of a ConcatenatingMediaSource, rather than the position relative to a single window in the timeline.

The solution in the issue above is to use `setShowMultiWindowTimeBar` in `PlaybackControlView`. But I am not using `

[2018-09-26 06:42] KazumiHARADA commented on #4851
That's right. I've confirmed that "db" count had been increased when playback is jumpy.

Please take a look an attached text file which recorded logs with logcat.
[BigBuckBunny1.5xLog.txt](https://github.com/google/ExoPlayer/files/2418425/BigBuckBunny1.5xLog.txt)

[2018-09-26 06:51] derlucas opened #4869 "Player slows down, eventually stops after many loops"
### Issue description
I made a simple test app. The App only adds two h265 videos to a List and play them in a loop. I've tested URI to a remote server via http, and a version with downloading the files locally and playing them from there. Makes no difference.
After 300-400 track changes, the Player stops looping and the End of the second Video is show as still Image. After 200-300 track changes t

[2018-09-26 07:00] rrfrias commented on #4329
@tmizuguchi-bckk is it possible to give us a striped down version of your app (with test content?) that we can reproduce the problem with on a Kyocera device? Share with dev.exoplayer@gmail.com

[2018-09-26 07:35] tonihei commented on #4869
That is most likely a duplicate of #4559. Can you check if the problem is fixed with our dev branch? Or wait for the upcoming 2.9.0 release and check there.

Closing the issue for now. If the problem is still occuring even after the update to 2.9.0 or when using the dev branch, please feel free to reopen.

[2018-09-26 07:35] #4869 closed, assigned to tonihei

[2018-09-26 07:44] tonihei commented on #4868
That's indeed similar to #2122. Unfortunately, you can't do this right now, unless you create your own media source which merges all concatenated items together.

I'll mark this as an enhancement as `ConcatenatingMediaSource` should support this. We already have an `isAtomic` flag which indicates that the entire concatenation should be treated as one source when it comes to shuffling and repeating

[2018-09-26 07:47] tonihei commented on #4863
You need to check if `getNextWindowIndex()` is not `C.TIME_UNSET` first, before calling `seekTo`. We will add two methods to the player interface to skip to the next and previous item to make that easier.

[2018-09-26 07:47] andrewlewis commented on #4865
I'm not familiar with okhttp interceptors, but the requests will come from the `WebView` that the IMA SDK creates which uses the cronet network stack.

If it doesn't work another thing you could try would be to intercept loads via a `WebViewClient` (though this is a bit hacky, and you'd need to make sure it doesn't interfere with the IMA SDK's own interaction with the `WebView`).

[2018-09-26 08:52] derlucas commented on #4869
Thanks for the quick reply. I'm a little embarrassed i did not find the other Issues. I'll try FLAG_WORKAROUND_IGNORE_EDIT_LISTS and wait for the 2.9.0 release. Thanks!

[2018-09-26 09:22] gizmeondev opened #4870 "How to add CloudFront cookie in exoplayer. Always got 'com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 403'"
[code]
Hope this helps!

_Originally posted by @AquilesCanta in https://github.com/google/ExoPlayer/issues/3466#issuecomment-345010046_

**`**But this one not work for me**`**
//-----
[code]

**this is my sample code
can you please help me from out of this.**

[2018-09-26 09:57] erdemguven commented on #4864
Please provide complete information as requested in the issue template. I think you can just edit the first comment in this page.
If you’re able to provide complete information we’ll re-open the issue. Thanks!

[2018-09-26 09:57] #4864 closed, assigned to nobody

[2018-09-26 10:03] ojw28 commented on #4519
@mseroczynski -

* Could you confirm that these devices both use the `OMX.SEC.mp3.dec` decoder for MP3 playbacks? The names of the decoders used are printed in the logcat logging during playback (look in the logs for "OMX."), so it should be pretty easy to find out.
* If these devices do use `OMX.SEC.mp3.dec`, please test whether adding them to the workaround resolves the problem. If it does, plea

[2018-09-26 10:05] erdemguven commented on #4866
Reproducible with the latest development demo app.

[2018-09-26 10:07] erdemguven commented on #4870
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-09-26 10:46] mseroczynski commented on #4519
I'm sorry but I'm currently super busy (I'm overloaded with migrating many legacy apps to targetSdk=26 before November 1st) but for now I can confirm that downgrading to 2.7.3 fixed the problem.

[2018-09-26 11:38] saschpe commented on #3735
Porting to OkHttp is done, CLA is signed. I'll start a pull-request against `dev-v2`...

[2018-09-26 11:52] ojw28 commented on #3735
It might be worth revisiting how this works, given we now have `DataSource.getResponseHeaders`. It may well be possible to do it in a much more consistent way (e.g. similar to how ID3 metadata works) than was previously the case. And also directly in the core library, rather than as an extension.

Are streams in this use case always in a particular format (e.g. mp3?), or can they be in multiple fo

[2018-09-26 12:43] puenktchen commented on #4861
@ebr11 i guess @AquilesCanta wants to know if you've already tried this:

[2018-09-26 12:56] ebr11 commented on #4861
Thanks for ferreting that out.  I wonder how we're going to know one of those is the case and which one it is...

[2018-09-26 12:58] zwz-coding commented on #4559
@tonihei I also have the same issue. So, there are two solution for this issue now.
1. Use FLAG_WORKAROUND_IGNORE_EDIT_LISTS for workaround.
2. Use dev-v2 branch.
Am I correct?

[2018-09-26 13:15] tonihei commented on #4559
@KevinChiu2Note Yes, that's correct. Option 1 disables the edit lists, and Option 2 includes a bug fix handling this type of edit list correctly.

[2018-09-26 13:21] puenktchen commented on #4861
Only by try and error.
First start with FLAG_DETECT_ACCESS_UNITS because it doesn't lead to visual corruption. If it works okay with both problematic files, put out a new beta version of the so other european users can test it.
If it doesn't work for you, then try FLAG_ALLOW_NON_IDR_KEYFRAMES. Again if it's okay for you, put out a new beta app.
If you get mixed results from your own testing and yo

[2018-09-26 13:25] BrainCrumbz opened #4871 "SinglePeriodTimeline.getPeriod assertion fails when manipulating playlist"
Before filing an issue:
-----------------------
- [✔] Search existing issues, including issues that are closed.
- [✔] Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- [✔] Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- [✔] This issue tracker is int

[2018-09-26 13:27] ebr11 commented on #4861
Yeah, I understand.  My point is that all streams may not be like our samples and some may be one and others the other so we need a way for the app to figure it out (or know) on its own.

Anyway, we can take this discussion to our forums.

[2018-09-26 13:34] tonihei commented on #4871
I think that's a duplicate of #4634 and should no longer occur on the dev-v2 branch (and the upcoming 2.9.0 release).

[2018-09-26 13:41] erdemguven commented on #4862
Also one alternative is passing a custom DataSource.Factory wrapper to DashMediaSource.Factory for manifestDataSourceFactory parameter so you can listen all calls for reading manifest. Keep in ming the DataSource created by manifestDataSourceFactory may be also used for reading UtcTimingElement of manifest from server.

[2018-09-26 13:48] AquilesCanta commented on #4861
We have a pending line of work to automatically solve this issue. We suspect streams like these include metadata (typically SEI messages) which signals IDR-like behavior, which could be used to replace the FLAG_ALLOW_NON_IDR flag. We haven't manage to allocate time for this though. So, if you have time to do it, feel free to contribute. Either with a pull request, or with information to direct the

[2018-09-26 13:58] BrainCrumbz commented on #4871
If it can help, we'd just like to point out that this happens at the time when adding the third batch. It does not happen if we do not perform that step. And it does not happen if previously we don't move tracks around.

~~Are there instructions on how to try the dev-v2 branch?~~ Nevermind, here they are https://github.com/google/ExoPlayer/tree/dev-v2-r2.9.0#locally

Thanks for quick reply, BTW

[2018-09-26 14:12] tonihei commented on #4871
Yes, thanks for the reproduction steps. The issue was produced by changing the indices in the playlist before some events were reported which still had the old index. That totally messed up the event tracking. We prevented the whole issue from happening by switching to unique ids which are independent of the index in the playlist.

[2018-09-26 14:20] #4655 closed, assigned to erdemguven

[2018-09-26 14:21] #4650 closed, assigned to erdemguven

[2018-09-26 14:25] BrainCrumbz commented on #4871
Tried adding dev-v2-r2.9.0 locally to the project, and exception is gone. 💯

We also experienced a similar situation with following stacktrace:

[code]

Is that the same root cause, or should we open a new issue? (`MMPlaylistMediaSource` is a copy of the improved `ConcatenatingMediaSource` that we helped creating with PR #4564, the one with `removeMediaSourceRange` API).

[2018-09-26 14:25] AndroidDeveloperLB commented on #4650
Why close it?

Is there a way to download the content that's shown?

[2018-09-26 14:37] tonihei commented on #4871
Could be, but also maybe not. :)

Do I understand it correctly that you are using a ConcatenatingMediaSource with a LoopingMediaSource of a ExtractorMediaSource?
And is the LoopingMediaSource using a non-infinite loop count? If so, it was probably fixed by https://github.com/google/ExoPlayer/commit/656c2172ddf6feedeb0bf7b012329ad8342b6fa9.

[2018-09-26 15:19] erdemguven commented on #4650
Closed as I think I answered the question. Do you see a problem with the recommended solution?

[2018-09-26 15:34] ebr11 commented on #4861
Thanks AquilesCanta.

[2018-09-26 15:49] SemihGk commented on #4862
Thank you. Yes, you are right. That's how I started it so far. I passed a custom DataSource factory through with a custom TransferListener class. I am able to listen to the events. However, all variables and methods which provides a readable stream/connection are either private or protected. It seems I have to use a hacky-ish solution to get them because I cannot see any other option.

[2018-09-26 16:02] ojw28 commented on #4559
The `2.9.0` release that includes the bug fix is scheduled for this week, so the easier version of option (2) is to wait a couple of days and then update your dependency.

[2018-09-26 16:04] ebr11 commented on #4861
One more question if you don't mind...  Is there any way to set these flags on an DefaultHlsExtractorsFactory?  I can't seem to find one.

We are delivering these TS streams via HLS in order to seek them.

[2018-09-26 16:06] ojw28 commented on #4838
Did you receive any update from your client? Also, could you confirm that the video and audio are intentionally DRM protected in the provided sample, and that it's just the text stream that's not protected?

[2018-09-26 16:07] #4815 closed, assigned to ojw28

[2018-09-26 16:07] BrainCrumbz commented on #4871
In that mentioned scenario, we are using a ConcatenatingMediaSource. At some point, after playlist manipulation (add/ remove/ move), we add a LoopingMediaSource. That one is built out of a regular, single MediaSource, which in turn is created through the following snippet:

[code]

The loop **does** use an infinite loop count.

[2018-09-26 16:13] ojw28 commented on #4867
For your use case, does the secure content before and after the clear content use the same keys (e.g. is this like inserting a clear ad into a VOD stream)? Or would the second piece of secure content need a new license request?

[2018-09-26 16:38] mikulbhatt commented on #4867
@ojw28 yes they use the same key, yes its inserting a clear ad into a live stream, and the content of live stream has same key before and after the clear ad

[2018-09-26 16:58] erdemguven commented on #4862
Once you have custom DataSource (and a custom DataSource.Factory to create it) you can interfere all of the calls to the underlying real DataSource.
Also if in your case, there is no need for an extra access to server for UtcTimingElement then you can just use some existing classes. Something like this may work:
[code]

[2018-09-26 17:04] AquilesCanta commented on #4861
For the time being, you'll need to provide your own HlsExtractorFactory implementation, probably forking the existing one. Soon we will push a convenience constructor for adding these flags to the default implementation.

[2018-09-26 17:51] ebr11 commented on #4861
Okay, will do.  Thanks again.

[2018-09-26 20:13] ojw28 commented on #4519
Those devices appear to have different chipsets, so it doesn't appear to be exactly the same. I suspect a different decoder is used. I think we'll need more information to add workarounds for those, including `Util.MODEL` and `Util.DEVICE` for those devices, the name of the decoder being used, and whether applying a similar workaround to the one in the commit ref'd above fixes the problem. Please

[2018-09-26 20:58] SemihGk commented on #4862
I prefer not to override methods(especially the network calls) as much as I can just in case of a possible incompatibility issue when there is a new Exoplayer upgrade. Since this is a very simple feature, I do not want to make this too complicated. On the other hand, I finally got it working. I appreciate your support.

As for UTCTimingElement, it exists in our manifests and so there is no need to

[2018-09-26 23:31] rrfrias commented on #4496
Sorry for the delay. We are looking into this. While Widevine encrypted playback of 720p @ 60 fps should be supported, we do not have device compliance tests to verify this particular configuration, so YMMV. We are in the process of adding these tests.

[2018-09-26 23:37] gapl commented on #4468
We're seeing this issue since updating to v2.8.4, so it seems this issue is still present. We don't have a list of occurrence counts per device yet as we didn't have this problem with an older version of ExoPlayer, but we have quite a significant count of these Exceptions. On Fabric alone we can see around 10,000 to be exact. Following information is what I was able to extract from Fabric's logged

[2018-09-27 00:40] mikulbhatt commented on #4867
also since the drm key and license remain same in and out of AD playing secured content. I want to avoid refetching license keys everytime.

[2018-09-27 00:52] MateusZitelli opened #4872 "Green circle on bottom of 360 videos on Xiaomi Phones"
### Issue description

A green circle is showed on the bottom of **some** 360 videos samples in Xiaomi phones. The problem happens both in the ExoPlayer sample app and my custom 360 video player implementation. However, in the ExoPlayer demo app, if the video is played in the non-360 mode there is no artifacts. I also received multiple reports from users experiencing the same issue.

![device-2018

[2018-09-27 02:25] Romantic-LiXuefeng opened #4873 "player.getCurrentPosition() return value is negative when using ClippingMediaSource"
ExoPlayer version: v2.8.4
The sample code is :
[code]
 I use a ClippingMediaSource to split one video into two video at point 15s, then concatenate them.
 When the player begins to play the second video, I pressed home button, then resume to play, I find
 that the TimeBar's current position is negative.  The logs like this:
[code]

[2018-09-27 05:39] hereisclient commented on #4838
i'm so sorry to be late reply  because i was in vacation by yesterday.

i didn't any answer from my client about sample content. but i guess sample i was provided was not encrytped.  just that used url redirection. if this sample was encrypted,  before playing this , i must need customdata or somthing else.
and 3rd party player can easily play sample with subtitle.

but this is just only my opinio

[2018-09-27 06:25] elrufoelrufo opened #4874 "Question : Support for f4m streams"
Hello,

I was searching something to play **f4m** files with exoplayer but I didn't find. Please, could anyone let me know if would be possible? If not, do you have this extensión in mind for new releases?

Thanks!!!

[2018-09-27 07:46] BrainCrumbz commented on #2882
@ maintainers: would you consider a tiny PR over javadoc for those constants, to better clarify what each means? Not sure if e.g. *"seeking to the closest sync point"* fully clarifies that's a keyframe.

[2018-09-27 07:51] hafiz013 commented on #4863
awesome. please do so because easy to use. may I know when latest version will come out.

[2018-09-27 08:33] tonihei commented on #4871
Thanks! It seems that may still be a problem.

I think this is what's happening:
1. Player message queue: [doSomeWork]
2. ConcatenatingMediaSource.removeMediaSource is called -> a message is enqueued to remove the media source. New queue: [doSomeWork, removeMediaSource]
3. doSomeWork queues another doSomeWork for the next cycle. New queue: [removeMediaSource, doSomeWork]
4. removeMediaSource updat

[2018-09-27 08:49] erdemguven commented on #4874
Unfortunately we don't support it and there is no plan for it yet.

[2018-09-27 08:56] erdemguven commented on #4874
For future reference:
https://www.adobe.com/devnet/hds.html
http://flash.flowplayer.org/plugins/streaming/f4m.html

[2018-09-27 09:19] BrainCrumbz commented on #4871
Thanks for explanation, although now we got a little bit lost.

Q1: With respect to the error being described in detail at the top (IndexOutOfBoundsException from SinglePeriodTimeline.getPeriod), it seems to me that 2.9.0 would solve that. Is that right?

Q2: With respect to **the other error scenario** I mentioned afterwards (IllegalArgumentException from ExtractorMediaSource.createPeriod), is yo

[2018-09-27 09:22] tonihei commented on #4871
Yes, sorry. The issue reported at the top is fixed in 2.9.0.
The second issue reported [here](https://github.com/google/ExoPlayer/issues/4871#issuecomment-424735438) still persists and will be fixed. Fine to leave as it is. I already fixed it ;)

[2018-09-27 09:45] Romantic-LiXuefeng opened #4875 "Question: When these callbacks onTimelineChanged() or onPositionDiscontinuity() or onTracksChanged() is called?"
@ojw28  I find many issues about what things can cause a discontinuity or timeline changed or track changed ? Hope you can give more examples to explain when onTimelineChanged() or onPositionDiscontinuity() or onTracksChanged()? and what we can do in those callbacks? In my opinion ,it's not easy for the users to understand,but these informations is very important to use the ExoPlayer correctly. Th

[2018-09-27 10:07] Mono-Mobile opened #4876 "How to play live video HLS"
Hello, I have problem.

My app implement ExoPlayer and play video HLS in VOD it's work but when i use streaming video url .m3u8 it return error `Unable to connect to "stream-url"`

how to fix it.
thank you.

[2018-09-27 10:15] ummerakbar45 opened #4877 "IndexOutOfBoundsException in SinglePeriodTimeline.getWindow"
java.lang.IndexOutOfBoundsException:
  at com.google.android.exoplayer2.util.Assertions.checkIndex (Assertions.java:68)
  at com.google.android.exoplayer2.source.SinglePeriodTimeline.getWindow (SinglePeriodTimeline.java:151)
  at com.google.android.exoplayer2.source.ForwardingTimeline.getWindow (ForwardingTimeline.java:62)
  at com.google.android.exoplayer2.source.AbstractConcatenatedTimeline.getW

[2018-09-27 10:36] AquilesCanta commented on #4876
It would seem to me that the playlist contains the string "stream-url" where an actual url is expected. But I cannot help with the provided information.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-09-27 10:36] #4876 closed, assigned to AquilesCanta

[2018-09-27 12:58] efraimg opened #4878 "Question: why player must be released in onPause for SDK<=23"
I see in the demo app that for sdk <=23 player is released in onPause
why it can't be done in onStop? what had changed for SDK > 23?

[code]

[2018-09-27 13:26] ojw28 commented on #4875
The things that can cause these events are documented in the corresponding "reason" constants, [here](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Player.html). Note that you receive one of these constants when these methods are called. Specifically, look at the `DISCONTINUITY_REASON_*` and `TIMELINE_CHANGE_REASON_*` constants and their descriptions.

@tonihei has

[2018-09-27 13:26] #4875 closed, assigned to ojw28

[2018-09-27 15:22] ojw28 commented on #2882
The documentation is deliberately vague, because exactly what happens depends a bit on the type of media being played. For DASH and SmoothStreaming, chunk boundaries are the sync points. If a chunk contains an additional keyframe somewhere in the middle, that's not considered as a sync point. For regular MP4, sync points are keyframes. For fragmented MP4, sync points are fragment boundaries.

The

[2018-09-27 15:26] PDACN opened #4879 "How to add subtitles from Uri"
Hi,
I am using ExoPlayer r2.8.4 version,
but I don't know how and where add MediaSource for Subtitles in initializePlayer(),
I should take subtitles from an Uri (subtitles.vtt)

[2018-09-27 15:33] erdemguven commented on #4872
I couldn't reproduce the issue on a Redmi 5 plus with Android 7.1.2. I'll try to find a Redmi Note 4 or Xiaomi Mi Max.

I wonder if a similar issue occurs in non-360 mode if you set the surface_type to texture_view.

[2018-09-27 16:05] ShkurtiA opened #4880 "Is it possible to play one ExoPlayer instance at two PlayerView at the same time?"
### Task description
Show two views that play the same stream and are synchronized with each other

### What I have currently achieved so far
Create 2 instances of ExoPlayer  with the same stream Uri and for each of them I set the respective PlayerView, the issue with this solution is that there is a small difference(best case) between 2 videos being played

### Question
Is it possible to use only

[2018-09-27 16:17] AndroidDeveloperLB commented on #4650
@erdemguven I don't understand. I've tried to explain the question, but I didn't see a solution.
Do you want me to explain it more?
I want the player to also download the content into a file while playing, for long-time caching (because videos take a lot of bandwidth).

[2018-09-27 17:11] AquilesCanta commented on #4866
Please correct me if I am wrong, but the PMT declares an audio that does not present any elementary stream packets:

[code]

The stream does not seem to contain any packets with PID 4176, due to which ExoPlayer fails to prepare. Let me know if this is wrong and I'll have another look.

[2018-09-27 17:11] #4866 closed, assigned to AquilesCanta

[2018-09-27 17:17] #4871 closed, assigned to tonihei

[2018-09-27 18:12] MateusZitelli commented on #4872
The equirectangular video does not present any artifacts when played with surface_type set to texture_view.

[2018-09-27 18:55] ojw28 commented on #4792
I couldn't reproduce this using the pre-built, although performance seemed really bad in general. I get a whole bunch of errors when I try and build from source (I think I might need to downgrade my NDK or something).

It seems pretty unlikely this is really an ExoPlayer issue, as opposed to something in app code or the underlying platform, so marking as low priority for now, given the overhead th

[2018-09-27 18:57] ojw28 commented on #4792
@AquilesCanta - Might be worth spending 30 minutes or so on this, if it's easy for you to get up and running.

[2018-09-27 19:32] stari4ek commented on #4866
It looks really wrong.

I've checked this media against desktop VLC, mplayer and android's VLC, MXPlayer - all players play it without any problems.

I believe ExoPlayer should work better with "bad media" as other players do (and as general rule of thumb when you work with user's data).

Any chances to convert it to issue that playback can't start if one of declared stream is missing?

[2018-09-27 20:09] SeanYouI commented on #4404
We managed to update the PSSH box in a live asset to fix the issue. I no longer get the error about the PSSH flags not being 0 and the content now plays fine on 5.x.

[2018-09-27 20:45] paf-wv commented on #4404
Great @SeanYouI, we'll close this. please reopen or start a new case if you face further issues.

[2018-09-27 20:45] #4404 closed, assigned to SeanYouI

[2018-09-27 21:14] ronak2121 opened #4883 "Support for FLAC & Opus in ISO-BMFF/MP4 for MPEG DASH playback"
We tried out using Exoplayer 2.8.4 to play streams created from Ffmpeg's experimental support for storing FLAC & Opus audio in an ISO-BMFF container using MPEG DASH.

From the sample Exoplayer app, it looked like Exoplayer was able to parse the container, but it wasn't able to actually play the audio that was inside.

We tried this out in the Android Emulator.

If you need a test stream, you can u

[2018-09-27 21:27] igorgur commented on #4727
@tonihei Sorry for the delayed response. Yes, the workaround by wrapping each item in a `ClippingMediaSource` with the known duration worked, but I wouldn't say it's a convenient solution since not always the length could be accessible in advance.

[2018-09-27 22:16] hacker1024 opened #4885 "MediaSessionConnector.RatingCallback: No way to get the extras bundle"
### Issue description
There's no way to get an extras bundle in the `MediaSessionConnector`'s `RatingCallback`. I want to do this to rate items in the queue from my UI.

### Reproduction steps
The Android Support Library's `MediaSessionCompat.Callback` has two rating callback functions:
[code]

But the `MediaSessionConnector.RatingCallback` interface only has a function that takes the player and r

[2018-09-27 23:04] pedronveloso commented on #4883
+1

[2018-09-28 00:08] tmizuguchi-bckk commented on #4329
@rrfrias
Thank you for your comment. Yes, I succeeded playback the downloaded video with your test app on the Kyocera device and other Android 8.0 devices which have similar issue. Frankly, I'm not sure what your test app is doing to make this work, however, it appears from the logging that the LicenseDurationRemaining and the PlaybackDurationRemaining values are being set to nearly identical valu

[2018-09-28 00:34] kingofswing commented on #4620
When I test my app using the old HUAWEI P7 (bought in 2015.2), the video screen is sure dimmed , It seems due to the mask layer.  but several weeks ago I bought a new phone, which is VIVO Y71, it's an customized Android 8.1 phone, with 3GB memory and 32GB storage, when tested , it is surprised to me that the video is normal , not dimmed this time.

Sorry for the later reply.

[2018-09-28 01:58] iammasir opened #4887 "还有三天就放假了"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-09-28 02:37] Romantic-LiXuefeng commented on #4873
@ojw28 Did you already had the time to look into this issue? Is there anything I can do to support you?

[2018-09-28 03:28] linhai326 commented on #4650
i think @erdemguven gave you a very clear answer. You may want to check the exoplayer demo app and see how offline downloader work. The downloaded segments are saved on disk in a exoplayer cache format: it is persistent.

[2018-09-28 05:28] png6 opened #4888 "Updating TrackSelector w/o ExoPlayer recreation"
Is it possible to reset or update a `TrackSelector` without creating a new instance of `ExoPlayer`? Or perhaps a way to update a `DefaultTrackSelector`’s  `TrackSelection.Factory`?

I currently have a shared instance of ExoPlayer but have certain conditions prior to playback that may have a `DefaultTrackSelector` with specific implementation of the `TrackSelection.Factory`. It would be ideal if I

[2018-09-28 06:54] rrfrias commented on #4329
We were trying to follow your policy/recommendations from August 15. May be we misunderstood.

Let us retry with your app

[2018-09-28 07:13] sri-new commented on #4416
Yes, agree on the part about not needing to use the latest version. However, having the latest release number readily available in the README would benefit all who want to try out the library.

[2018-09-28 08:34] rgrk11 commented on #4451
My use case is to play some TS streams from tvheadend using Exoplayer. With r2.8.4, I was able to disable the redundant empty CEA-608 text track by enabling FLAG_OVERRIDE_CAPTION_DESCRIPTORS via DefaultExtractorsFactory, though I understand that it may not be a right way of using this flag.

Anyway, this trick no longer works for my use case after the above commit. From r.2.9.0 onwards, I may have

[2018-09-28 08:34] OMArikan commented on #4532
Why do you have AnalyticsListener or letting listen PAYER_STATE to developers ?
Changing it to false is on developers responsibility and they could handle all failures otherwise it's their problem not ExoPlayer.

Since 1.5.8 all events on EventLogger I'm sending to GoogleAnalytics and our bigData side to analysis problems and fixed some of them with our head-end side which are related with encoder

[2018-09-28 09:25] #4887 closed, assigned to nobody

[2018-09-28 09:26] AquilesCanta commented on #4887
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-09-28 09:32] rishun-fsi commented on #4806
Hi,
Have you reproduced this issue?
I have tested it with the new release ver.2.9.0, it still happens.
Could you help me to fix the problem?

Test content: SmoothStreaming / Super speed

ExoPlayer 2.9.0

I changed some codes in PlayerActivity class for testing.
I attached the PlayerActivity.java, please check it.
[PlayerActivity.zip](https://github.com/google/ExoPlayer/files/2427594/PlayerActivity

[2018-09-28 10:07] AquilesCanta commented on #4451
Hi @rgrk11,

Don't you just need your own ExtractorsFactory implementation?

[2018-09-28 10:16] erdemguven commented on #4873
Reproducible on the latest development branch.

[2018-09-28 10:17] erdemguven commented on #4877
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-09-28 10:17] #4877 closed, assigned to tonihei

[2018-09-28 10:24] mathemandy opened #4889 "Unable to initialize MediaDrm on KitKat emulator"
### Issue description
I am trying to integrate DRM into my app and it fails to instantiate on api 19 which is our lowest support device

### Reproduction steps

this is where i instantiate the player
[code]

then i build the drm.

[code]

### Version of ExoPlayer being used
  implementation 'com.google.android.exoplayer:exoplayer:2.8.1'

### Device(s) and version(s) of Android being used
Works fin

[2018-09-28 10:30] erdemguven commented on #4879
I guess you're using PlayerActivity from demo app code. At around line 447 mediaSource is set. There you can create your subtitle MediaSource and merge with video MediaSource, like described here:
https://google.github.io/ExoPlayer/guide.html#side-loading-a-subtitle-file

[2018-09-28 10:30] #4879 closed, assigned to erdemguven

[2018-09-28 10:42] erdemguven commented on #4878
Player is released on pause to free up the resources as soon as possible but as of api 24, Android supports multi window so your app can be paused but still visible (and can continue playing video). That's why after api 23 player is released on stop.
https://developer.android.com/guide/topics/ui/multi-window

[2018-09-28 10:42] #4878 closed, assigned to erdemguven

[2018-09-28 10:48] tonihei commented on #4877
Most likely, the issue is caused by one of two reasons:
1. You are accessing the player from multiple threads. (see e.g. #4278). If you switch to the latest 2.9.0 release, you should see warnings in the log if that happens.
2. A bug which happens when removing playlist elements (see e.g. #4871). That is also fixed in 2.9.0.

[2018-09-28 11:37] loki666 opened #4890 "shrink build fails"
### Issue description
when shrinking a build (not using proguard), the build fails

### Reproduction steps
using exoPlayer 2.9.0

add to build.gradle
[code]

### Version of ExoPlayer being used
2.9.0

### Device(s) and version(s) of Android being used
emulator API 26

### A full bug report captured from the device
[code]

[2018-09-28 12:58] ojw28 commented on #4878
If I remember correctly, there were also some internal changes to the Android platform that provided stronger guarantees around `onStop` being called in a timely way, which were put in place from API 24. This made it feasible to release resources in `onStop` rather than `onPause`, without risk that whatever is replacing the activity in the foreground is then unable to acquire them.

Context: The s

[2018-09-28 13:01] ojw28 commented on #4532
Sorry, but I don't understand what the post above is trying to say. Please try and rephrase if possible.

[2018-09-28 14:03] rgrk11 commented on #4451
Yes, you are right. I overlooked that one of the TsExtractor's constructors also accepts custom TsPayloadReaderFactory.

Nevertheless, I still think that maintaining such custom ExtractorFactory as well as HlsExtractorFactory would be inconvenient if I want to keep updating Exoplayer. It would be very helpful if Exoplayer can support this feature in a more convenient manner. Please re-consider, th

[2018-09-28 15:27] ojw28 commented on #4885
@hacker1024 , @marcbaechinger - The pull request looks fine, although I wonder whether we really need both methods in our `RatingCallback` interface:

* If the platform (or support library) calls exactly one of them each time an item is rated, how does it choose which one? Do we need both methods in our `RatingCallback` interface, or could we just have the one that takes the bundle, and use an emp

[2018-09-28 16:52] tonihei commented on #4873
Thanks for reporting. We'll provide a fix for this soon.

[2018-09-28 17:12] arukesari commented on #4680
Any updates on this? I am also facing similar issue. I followed the link : https://stackoverflow.com/questions/49871348/how-to-show-ads-at-specific-points-using-exoplayers-ima-extension

However it is not even playing  main content video.I also trying creating Media source containing preroll and main content using ConcatenatingMediaSource  and passed this source to AdsMediaSource
Player shows vide

[2018-09-28 20:29] AndroidDeveloperLB commented on #4650
@linhai326 You mean this:
https://github.com/google/ExoPlayer/issues/4650#issuecomment-413511224

Have you tried it? I don't even understand what he means, and whether or not he understood my question...

[2018-09-29 01:50] dllabs commented on #4868
Thanks.
While I await the enhancement, is it possible for me to simply turn off ExoPlayer's `MediaSessionCompat.setPlaybackState` (or equivalent) update of the playback position and/or timeline to the media session? That way I can do the update myself, as in the code above, without it conflicting with ExoPlayer's update.
I've browsed through the sourcecode but I can't see where you're doing that u

[2018-09-29 06:52] adapana commented on #867
@mpainenz

Can you provide code for this? I tried but could not manage to make it fully working.

[2018-09-29 08:58] shoyu666 opened #4891 "play video failed when switched between two page, some device"
version:2.6.0 or 2.9.0
device: only in  Xiaomi Redmi Note 4
  (i hava test same huawei device,it works fine)
step:
1: Activity A use SimpleExoPlayer(instance a) play video (play well )
2: jump to Activity B use SimpleExoPlayer(instance b )play video too
    in Activity A onPause (call setPlayWhenReady(false))
3:get exception
4:press back to Activity  A
  on Actiivty A  onResume call setPlayWhenRea

[2018-09-29 09:00] shoyu666 commented on #4891
more log

`09-29 16:59:38.926 20466-21074/xxxxxxx D/ACodec: [OMX.MTK.VIDEO.DECODER.AVC] Now Idle->Executing
09-29 16:59:38.931 20466-21074/xxxxxxx D/ACodec: [OMX.MTK.VIDEO.DECODER.AVC] submitting output meta buffer ID 13 for graphic buffer 0xda1049e0
09-29 16:59:38.934 20466-20466/xxxxxxx D/EventLogger:       [X] Track:0, id=1, mimeType=video/avc, res=1280x720, supported=YES
09-29 16:59:38.935 204

[2018-09-29 09:46] hacker1024 commented on #4885
I just [tested it](https://hastebin.com/toburazitu.kt), and calling `setRating(RatingCompat)` on the `MediaSessionCompat`'s transport controls will call the `onSetRating(RatingCompat)` function in the callback, and calling `setRating(RatingCompat, Bundle)` on the `MediaSessionCompat`'s transport controls will call the `onSetRating(RatingCompat, Bundle)` function in the callback.

This is possible,

[2018-09-29 10:17] zwz-coding commented on #4559
Hi men, I saw the 2.9.0 version was released today. But I still have a question, if I want to play the video in a loop by using the 2.9.0 exoplayer, do I need to keep using the flag FLAG_WORKAROUND_IGNORE_EDIT_LISTS?

[2018-09-29 13:04] sanketmthakare opened #4892 "Exoplayer in Recyclerview"
Can any one please help me in implementing Exoplayer with Recyclerview? Thank you

[2018-09-29 13:16] sanketmthakare commented on #867
@mpainenz Can you provide code for this? I tried but could not manage to make it fully working.

[2018-09-29 14:00] breewf commented on #4738
I have the same problem, but my player is used in the main thread. How did you solve it?

[2018-09-30 03:26] selimonline commented on #4348
Thanks everyone, It seems you have fixed all these issues on version 2.8.4. If still anyone having same issues, make sure you are using version 2.8.4. Exo is best for android 👍

Thanks again bro @ojw28

[2018-09-30 07:40] AndroidDeveloperLB commented on #4650
@linhai326 I've now tried to import the project, and it got this error

[code]

And I'm using the latest of the latest versions of the IDE, so should work well.
It works, but it has this error.

[2018-09-30 09:53] tangmingscau opened #4893 "How to cache more songs files, but do not bring the problem of memory soaring."
I have a requirement that I need to cache songs all at once. My current approach is to change some of the DefaultLoadControl parameters and change the minbufferus to 5min, but this brings a performance problem with memory soaring. I hope to implement a solution that caches more song files and only a few songs. The file is in memory and the rest is on the disk. Can you give me some advice?

[2018-09-30 11:13] AndroidDeveloperLB commented on #4650
I've tested the sample. I don't see any file in the app's folder, after playing various video files :

![image](https://user-images.githubusercontent.com/5357526/46256975-01a02100-c4bb-11e8-957f-196737a967e5.png)

[2018-10-01 05:44] gizmeondev commented on #4870
Hi Team,
   **I got the solution now its working.**

i dont know it can be gerneralize.
when we pass multiple cookie header, cloudfront will replace each one and take last one.

[code]

**So my solution is cookie header is set as a single value by appending three cookies separate with semicolon.**
[code]
_Thanks for your attention_

[2018-10-01 05:45] kimdohyung5 opened #4894 "Exoplayer returns the mp3 file's length incorrectly , but other players returns the correct length ."
### Issue description
Exoplayer returns the mp3 file's length incorrectly , but other players returns the correct length .
I made this very simple app for this test with "EventLogger" class attached.
I expected that the player returns the 3:03 length for this mp3 but it returns the length 04:18.
I think that there is something wrong going on.

### Reproduction steps
when you run this sample app, y

[2018-10-01 05:48] #4870 closed, assigned to AquilesCanta

[2018-10-01 06:38] ummerakbar45 commented on #4877
implementation 'com.google.android.exoplayer:exoplayer:2.9.0'
shows error
AAPT2 error: check logs for details

[2018-10-01 06:46] ummerakbar45 opened #4895 "java.lang.IndexOutOfBoundsException:"
Before filing an issue:
-----------------------
-
### Issue description
App is live,while testing we doesnt get any crush but on playstore there are number of bug report.
Issue is **java.lang.IndexOutOfBoundsException**

java.lang.IndexOutOfBoundsException:
  at com.google.android.exoplayer2.util.Assertions.checkIndex (Assertions.java:68)
  at com.google.android.exoplayer2.source.SinglePeriodTimel

[2018-10-01 06:47] ummerakbar45 commented on #4895
I try to use 2.9.0 version,but logcat shows not found issue

[2018-10-01 07:04] sanketmthakare commented on #867
How can i achieve this? Whenever i create instance in adapter constructor and reuse it, recycle view  row became blank.

[2018-10-01 07:34] andrewlewis commented on #4559
@KevinChiu2Note If you stop using the flag you shouldn't see the issue originally reported here, though to get gapless playback working perfectly the edit lists/durations in the container should be consistent and accurate.

[2018-10-01 08:00] tonihei commented on #4868
The update happens in [MediaSessionConnector.invalidateMediaSessionPlaybackState](https://github.com/google/ExoPlayer/blob/release-v2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java#L536). But I'm afraid it's not easy to turn off because the whole point of our mediasession extension is to manage media session updates automatically. Yo

[2018-10-01 08:03] tonihei commented on #4738
@breewf Please update to 2.9.0 and check if you see warning about using the player on the wrong thread. It may be that you created the player on a background thread instead of the main thread?

[2018-10-01 08:08] tonihei commented on #4895
Are you saying that you don't see the issue in 2.9.0 and it's therefore fixed?

[2018-10-01 08:18] peddisri commented on #4780
I don't think so. I'm trying to find if the spec mentions that explicitly or not.  My high level understanding from the spec is that,  a static MPD is primarily used for for a VIdeo-on-Demand, whereas Dynamic MPD is used for Live streaming, which can end, but not necessarily be streamed as VOD later. I've sent the sample content URL to the email id.

Section 4.5.2.1 says
"the event duration expres

[2018-10-01 08:32] ojw28 commented on #4780
Are you removing `@minimumUpdatePeriod` and finalizing the duration, as described by @juechemparathy further up? I can see the argument for that being sufficient to transition to the ended state (although given you're having to update the manifest to do this, it feels like it's easy to also change it to static).

It's definitely not sufficient to only signal with an in-band message IMO. Reopening

[2018-10-01 08:33] noamtamim commented on #4665
@ojw28 I believe this can be closed with the release of 2.9.0, right?

[2018-10-01 08:40] ojw28 commented on #4665
Believe so; thanks!

[2018-10-01 08:40] #4665 closed, assigned to tonihei

[2018-10-01 08:52] ojw28 commented on #4885
How often is it actually called? Seems negligible to me, unless it's called way more often than I think it's called.

Still, it seems like there are two variants end-to-end, so I guess we should just plumb it through as-is, rather than try and merge.

[2018-10-01 09:20] eneim opened #4896 "Question: can I download only a part of a progressive stream?"
This is a question, can be a feature request.

This is not limited to progressive stream, but I would like to start from there. Assuming I would like to preload 1/4 or the mp4 file only (so User can start playback immediately on demand, but the App doesn't need to download the whole video), how can I make this done with current Downloader mechanism? If it is not supported yet, do you have any idea

[2018-10-01 09:22] AquilesCanta commented on #4891
Please provide a bugreport as requested in the issue template.

[2018-10-01 09:23] erdemguven commented on #4888
I think you can have a custom TrackSelection.Factory which would let you configure which type of TrackSelection to return.

[2018-10-01 09:29] AquilesCanta commented on #4892
Hi @sanketmthakare, this question falls outside the scope of this issue tracker. I'd suggest you try your luck in a general Q&A, like stack overflow. Note that a quick search lead me to some useful material. Also do check out #867.

[2018-10-01 09:29] #4892 closed, assigned to AquilesCanta

[2018-10-01 09:33] ojw28 commented on #4880
There is now easy way to do this, unfortunately. This is primarily due to platform limitations (specifically, that a decoder can only output to one surface).

Note that your use case is slightly different to the one in the related issue you found. That issue was about playing different (albeit related) videos in a synchronized way. It sounds like you want to output the exact same video to two view

[2018-10-01 09:34] AquilesCanta commented on #4893
@erdemguven, this seems to be a task for downloads. Mind taking a look?

[2018-10-01 09:35] erdemguven commented on #4889
Please test the code on a real device and let us know the result:
https://google.github.io/ExoPlayer/faqs.html#does-exoplayer-support-emulators

[2018-10-01 09:50] AquilesCanta commented on #4870
Hi @gizmeondev, if the provided strings are valid credentials, you should consider invalidating any associated keys, since they have now been published.

[2018-10-01 09:52] erdemguven commented on #4890
I can not reproduce the issue on the ExoPlayer demo app. I copied your configuration to demos/main/build.gradle. The app builds and runs fine. If you can reproduce the issue on the demo app please let us know.

[2018-10-01 09:56] ummerakbar45 commented on #4895
@tonihei   When I try to use 2.9.0

error: 'true' is incompatible with attribute com.recipe.filmrise:show_buffering (attr) enum [always=1, never=0, when_playing=2] [weak].
Message{kind=ERROR, text=error: 'true' is incompatible with attribute com.recipe.filmrise:show_buffering (attr) enum [always=1, never=0, when_playing=2] [weak]., sources=[/home/ummer/AppliedAllProjects/videoapp/filmrise/src/main

[2018-10-01 09:57] erdemguven commented on #4896
It isn't possible to do with Downloader but for progressive streams only you can use CacheUtil.cache() methods. They get a DataSpec in which you can specify the range you can to download.
For an example:
https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

[2018-10-01 09:57] #4896 closed, assigned to erdemguven

[2018-10-01 10:09] tonihei commented on #4895
That's seems to be unrelated to ExoPlayer.

I'll close the issue under the assumption that the original error above is already fixed. If you have any indication that it isn't fixed, please reopen the issue.

[2018-10-01 10:09] #4895 closed, assigned to tonihei

[2018-10-01 10:21] ummerakbar45 commented on #4895
On using 2.9.0

@tonihei  error: no suitable method found for newSimpleInstance(DefaultRenderersFactory,DefaultTrackSelector,DefaultLoadControl)
method ExoPlayerFactory.newSimpleInstance(Context,TrackSelector,LoadControl) is not applicable
(argument mismatch; DefaultRenderersFactory cannot be converted to Context)
method ExoPlayerFactory.newSimpleInstance(Context,RenderersFactory,TrackSelector) is

[2018-10-01 10:30] ojw28 commented on #4890
It looks like your setup isn't properly handling default methods (e.g. DataSource.getResponseHeaders), which is a Java 8 feature. It might be a good idea to try updating Android Studio, the version of build tools that you're using etc. I suspect doing this will resolve the issue.

If you happen to be including ExoPlayer as source, please also see the [RELEASE NOTES](https://github.com/google/ExoPl

[2018-10-01 11:03] ojw28 commented on #4468
@gapl - I think we need better data (see e.g. the kind of data in the original post of this issue). In particular occurrence counts for each device (`Util.DEVICE` / `Util.MODEL`) are important.

[2018-10-01 11:13] eneim commented on #4896
@erdemguven Got it. Do you have any suggestion for non-Progressive stream (HLS/DASH, etc)?

[2018-10-01 11:52] loki666 commented on #4890
can't reproduce with the demo either...

I'm using an compiled dependancy using latest Android Studio and build tools.

I'll try include ExoPlayer a source dependancy

[2018-10-01 11:53] ojw28 commented on #4890
You really shouldn't need to include it as a source dependency. That's just making things more difficulty. What `buildToolsVersion` is specified in the gradle file of whatever you're building?

[2018-10-01 11:57] ojw28 commented on #4890
Actually, I think the important thing is probably the `com.android.tools.build:gradle` dependency you have. Not sure :).

[2018-10-01 12:24] loki666 commented on #4890
bah my project doesn't like to use ExoPlayer as source
something with annotation package (I've migrated to androidX)

[2018-10-01 12:34] loki666 commented on #4890
buildToolsVersion: '28.0.3'
classpath "com.android.tools.build:gradle:3.2.0"

adding
-dontwarn com.google.android.exoplayer2.upstream.DataSource
to my proguard-rules.pro fixed it

[2018-10-01 13:41] erdemguven commented on #4896
Unfortunately there is currently no way. #1497 tracks this feature.

[2018-10-01 15:11] AquilesCanta commented on #4861
Let me know if you run into any issues with this.

[2018-10-01 15:11] #4861 closed, assigned to AquilesCanta

[2018-10-01 18:43] ShkurtiA commented on #4880
Ok thanks for you valuable feedback. I am closing it for now and maybe in the future I will comeback here again with some results

[2018-10-01 18:43] #4880 closed, assigned to ojw28

[2018-10-01 19:36] #4885 closed, assigned to marcbaechinger

[2018-10-01 19:37] ojw28 commented on #4885
#4884 has been merged.

[2018-10-01 21:05] linhai326 commented on #4650
did you click the download icon on menu/play item screen? that will start the downloader and after you select the track, content will be saved to this folder.

[2018-10-01 21:40] AndroidDeveloperLB commented on #4650
@linhai326 There is no icon anywhere while playing a video.
See example:

![image](https://user-images.githubusercontent.com/5357526/46317473-c21d2600-c5db-11e8-9424-67a966702a19.png)

Again, what I asked, is download while playing a video, as you play it. Together.

It would be bad for 2 threads/processes to download the same video twice (once for playback and once into a file)

[2018-10-01 22:32] linhai326 commented on #4650
![img_20181001_153037](https://user-images.githubusercontent.com/19922136/46319520-2d8cd680-c58f-11e8-9c59-7f0e74a70b25.jpg)

[2018-10-01 22:33] linhai326 commented on #4650
If you need to do the streaming and downloading together, you need to impl this feature by yourself. Demo app's downloader can be a guide.
Actually, in real world, the usage cases can be more complicated if you have multiple adaptive tracks: just think about when bandwidth is low, do you still want to save the low quality of content the user streams? You might want to give the user  the best quali

[2018-10-02 01:11] gapl commented on #4468
We've since implemented the workaround by always returning `true` for `codecNeedsSetOutputSurfaceWorkaround(:)`. So sadly I cannot provide additional data without pushing out a version that would not work for some of our users.

[2018-10-02 07:15] AndroidDeveloperLB commented on #4650
@linhai326 About the screenshot, this is just for downloading. When I click on it, it doesn't play anything. Only downloads. I asked about playback that includes downloading.

About adaptive tracks, do you mean like on YouTube, that as you play, the quality might change?
We just want to show a video that will most likely be used later, so we want to save it.

My question was if it's possible. You

[2018-10-02 09:16] rishun-fsi opened #4897 "Is there any way to get an AndroidTV device Widevine Modular version?"
Hello,

I have a question about AndroidTV device Widevine Modular version.
Is it possible to get the Widevine Modular version by useing exoplayer api on the device?
If it is possible, could you tell me how to get it?

Thank you in advance.

[2018-10-02 11:45] erdemguven commented on #4650
@AndroidDeveloperLB If you create a SimpleCache and use it through a CacheDataSource whatever the user streams will be stored locally on the cache. While you create your SimpleCache instance, if you use a NoOpCacheEvictor, it won't remove anydata from cache automatically.

If you want to download the whole video not just the part user watches then you should use DownloadManager.

[2018-10-02 11:51] AndroidDeveloperLB commented on #4650
@erdemguven Using the way you wrote, when will the file be ready? Only after the user watched 100% of it? Or near the end of watching, as the buffer doesn't need anything more to download? Or does it continue to download even after stopped playing?

Does the way of using DownloadManager allows to play while downloading the same file, without using multiple connections ?

[2018-10-02 12:31] erdemguven commented on #4650
If you use DownloadManager, it will download the whole video. If you just plug in a cache to your normal playback, it only stores what has been read from server, so if user watches 10 minutes you have 10 minutes stored on the cache.

If you use DownloadManager, and the user tries to seek to a position not yet downloaded another connection to server is set up.

[2018-10-02 12:51] alexey-y commented on #4897
Hi,

Sort of... It depends what are u looking for. U can get "oemCryptoApiVersion":

String oemCryptoApiVersion = new MediaDrm(UUID.fromString("edef8ba9-79d6-4ace-a3c8-27dcd51d21ed")).getPropertyString("oemCryptoApiVersion");

The value u get is version of the API implemented by CDM "11".

If u are looking for actual version of CDM - i.e. "v5.0.0-android", this is something which is not exposed on

[2018-10-02 13:43] AndroidDeveloperLB commented on #4650
@erdemguven So if I want to play and download, and continue to download, I need to use DownloadManager, right? But how do I let ExoPlayer play the video from the file that's being downloaded, as it downloads?

About the cache solution, I think that if the user watched 10 minutes, the file might take a bit more than 10 minutes, no? It caches an extra few seconds for smoother playback, that will be

[2018-10-02 14:28] AquilesCanta commented on #4894
Thanks for filling the issue template.

It would seem to me that the Xing header contains wrong frameCount, from which the wrong duration is calculated. If you set the frame count in the file to 0, ExoPlayer actually estimates the right duration.

Also worth noting: Not all other players calculate it "correctly". Media info output:
[code]

Same duration is calculated by chrome when playing the fil

[2018-10-02 14:37] AquilesCanta commented on #4894
I'll add a flag to Mp3Extractor which you can enable on DefaultExtractorsFactory to ignore the Xing information. This way, using the default configuration, the duration should be estimated ~correctly.

A referenced to said commit will appear below.

[2018-10-02 14:48] AquilesCanta commented on #4894
After some discussion, we have decided that the way to go is to fix the media. Sorry for the inconvenience caused.

[2018-10-02 14:48] #4894 closed, assigned to AquilesCanta

[2018-10-02 15:15] tonihei commented on #4873
The commit above fixes the issue.

[2018-10-02 15:15] #4873 closed, assigned to tonihei

[2018-10-02 15:16] tonihei commented on #4863
The commit above added the requested methods.

[2018-10-02 15:16] #4863 closed, assigned to tonihei

[2018-10-02 15:17] bigahega opened #4898 "Detect loop/repeat but not media source change with ConcatenatingMediaSource"
Hello,

I am using multiple media sources to feed my `ConcatenatingMediaSource` and this media source is in constant repeat mode. As far as I have searched, using `onPositionDiscontinuity` you can detect repeats with it and also you can detect the media source switches of `ConcatenatingMediaSource` with that as well. However the argument `reason` in that method is `0` for both cases. So am I missi

[2018-10-02 15:22] erdemguven commented on #4650
https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95
https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e
In these blog posts you can find out how to play downloaded content.

Correct.

If the download is just started and the user wants to watch end of the video as the required data isn't available in the cache yet, the player starts reading it from server.

[2018-10-02 15:23] tonihei commented on #4898
The easiest way to distinguish between these two cases is to check if `player.getCurrentWindowIndex()` changed. If it didn't change, it's a repetition. If it changed, it moved to the next playlist item.

Note that this assumes all your playlist items have just one period. That should be true unless you are using multi-period DASH streams. In this case, you also need to check if the current period

[2018-10-02 16:57] tonihei commented on #4788
Thanks for demo (and sorry for the delay!). I now understand the issue and it seems indeed to be a bug in our code. We'll provide a fix for that soon.

[2018-10-02 17:56] MateusZitelli commented on #4872
Checking old users reports the issue was happening as far as ExoPlayer version r2.2.0, therefore it was not introduced recently.

[2018-10-02 21:45] ghexoplayerquestion opened #4899 "Gapless audio playback on multi-period DASH source"
### Issue description
I am playing a custom created MPEG-DASH manifest that includes multiple periods.  Each period contains a single FMP4 segment that was created from ffmpeg using the following command line:
`ffmpeg -i - -f segment -segment_attclocktime 1 -strftime 1 -c:a libfdk_aac -b:a 32k -segment_format mp4 -segment_format_options movflags=empty_moov+default_base_moof+frag_keyframe ~/test/%F

[2018-10-03 00:36] hacker1024 commented on #3859
Using JitPack downloads all the extensions, resulting in longer build times and a bigger APK file size.

[2018-10-03 00:58] roundsmapp commented on #2659
@andrewlewis , do you have any clues to the problem described above (last three comments)? Thanks

[2018-10-03 06:05] rishun-fsi commented on #4897
@alexey-y Thank for your response.
I tested on my device nexus player 8.0 as what you said.
Below is the result.
oemCryptoApiVersion = 11
widevine_cdm_version = v5.0.0-android

Also, I can get the follwing version = 1.0, could you tell me what the version is
String version = new MediaDrm(UUID.fromString("edef8ba9-79d6-4ace-a3c8-27dcd51d21ed")).getPropertyString(MediaDrm.PROPERTY_VERSION);

By the

[2018-10-03 07:08] andrewlewis commented on #2659
I can't think of anything I'm afraid. If you haven't tried it already, you could try taking the ExoPlayer demo app and seeing if you can reproduce the issue there with and without your audio processor, playing the same or different content.

[2018-10-03 07:37] andrewlewis commented on #3859
For general development and for doing releases where you care about APK size it's better to use a release version of the player. I think the JitPack option is only really suitable for testing changes on the development branch where you don't want to set up a source dependency on ExoPlayer.

[2018-10-03 08:17] szaboa commented on #4592
@erdemguven
How hard to do this in your opinion? I am hesitating whether to try to implement this or not :)
Edit. I see it is already assigned to you, so nevermind

[2018-10-03 08:39] ojw28 commented on #4899
Thanks for the interesting manifest. Things we found:

1. There's a bug in the buffered position reported by the player (during playback you may observe the buffering position show that all 5 periods are buffered, then incorrectly snap back to the period boundaries during playback). This is unrelated to what you're actually asking about, but we'll fix it :).
1. We're not clipping the samples that

[2018-10-03 09:39] rs146 opened #4901 "Find the content protection element of a DASH manifest"
Hi,

I've been trying find the content protection element of a DRM protected manifest. I wondered if that's possible. So far, I can see it's possible with [Smooth Streaming](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/smoothstreaming/manifest/SsManifest.ProtectionElement.html). Is there a way to get this in the `DashManifest`?

At the moment, I'm using a s

[2018-10-03 09:48] erdemguven commented on #4190
With ExoPlayer 2.9.0 a new surface type is added to PlayerView: spherical_view. This new surface type allows users to view 360º videos without a VR headset.
https://medium.com/google-exoplayer/playing-360-degree-videos-with-exoplayer-f3b48f8ea390

[2018-10-03 09:48] #4190 closed, assigned to erdemguven

[2018-10-03 10:05] BrainCrumbz opened #4902 "[Question] How to import custom AAR library which depends on ExoPlayer"
Before filing an issue:
-----------------------
- ✔️ Search existing issues, including issues that are closed.
- ✔️ Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- ✔️ Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- ✔️ This issue tracker is intende

[2018-10-03 10:07] peddisri commented on #4780
The manifest finalizes the duration by adding mediaPresenationDuration and the duration of the period. However, mininumUpdatePeriod is not removed.

The thing is the content does not belong to us. So we don't have control on how it should behave.

I'm referring to section 4.5 of https://dashif.org/docs/DASH-IF-IOP-v4.2-clean.htm  and it does not specify that that the type of mpd should be changed

[2018-10-03 10:30] ojw28 commented on #4780
We'll look into removing the assumption that the type should change from dynamic to static. It looks like removal of `@minimumUpdatePeriod` is required, so it's fairly likely that will remain a requirement for ExoPlayer.

It's the responsibility of the content provider to ensure producing compliant content.

[2018-10-03 11:02] AquilesCanta commented on #4902
I think our official recommendation is that any libraries that depend on ExoPlayer should include it as source and change the package name to prevent collisions. Other than that @ojw28, might be able to provide more guidance.

[2018-10-03 11:12] AquilesCanta commented on #4901
I think what you are looking for is in

DashManifest -> Period(s) -> AdaptationSet -> Representation -> Format -> DrmInitData (contains all Content protection elements that affects the given representation, or null if the representation is not encrypted).

Please let me know if this is what you need. If not, please clarify your use case so I may understand the requirement.

[2018-10-03 11:12] #4901 closed, assigned to AquilesCanta

[2018-10-03 11:56] ojw28 commented on #4890
I think it sounds a like a pro-guard or some other tool issue, in that case? I'm going to close this for now, since it's only a single report. It still seems possible something in your toolchain is out of date. If we get additional reports then we'll look at getting the proguard config to the library, so developers don't need to figure this out for themselves. Thanks for reporting how to fix it!

[2018-10-03 11:58] alexey-y commented on #4897
Hi again,

Unfortunately, it seems that Playready didn't expose these (or at least didn't document them) via the same API. See here: https://docs.microsoft.com/en-us/playready/specifications/playready-plugin-for-android-specification. The only attribute which is there seems to be "securityLevel"...

U can get some stuff directly from the keyRequest inside your MediaDrmCallback.executeKeyRequest -

[2018-10-03 12:36] ojw28 commented on #4867
A few problems we face here are from the point of view of implementing a general solution are:

1. Not knowing if the second secure period will use the same keys. In some cases that period might not even be present in the manifest at the point of transitioning into the clear period, so it's unclear whether we should hold the session open or not (and if we do, should we actively refresh the keys, a

[2018-10-03 13:35] tonihei commented on #4777
Closing as the pull request is already merged.

[2018-10-03 13:35] #4777 closed, assigned to tonihei

[2018-10-03 13:37] tonihei commented on #4463
Closing this issue because we settled on an implementation option, added documentation to reduce confusion, and added warnings if player is used from the wrong thread unintentionally.

[2018-10-03 13:37] #4463 closed, assigned to tonihei

[2018-10-03 15:07] Gian84 commented on #4839
Thanks so much for the explanation ojw28.
I had this doubt about Exoplayer optimizations because I was comparing Exoplayer with DASH IF Reference Client on the web (http://reference.dashif.org/dash.js/v2.9.0/samples/dash-if-reference-player/index.html) and if you try a live (Dynamic MPD for example) Low Latency content  you can see a difference of 8 seconds more or less.
I already have set Exoplay

[2018-10-03 15:43] ojw28 commented on #4800
Thanks for the demo app! I'm trying to get hold of a device to reproduce the issue.

[2018-10-03 15:47] ojw28 commented on #4800
Nexus 4 didn't get releases after 5.1.1. Could you check this?

[2018-10-03 15:51] bene25 commented on #2014
I confirm. Any ideas how to fix this in 2.8.4 version?

[2018-10-03 16:09] bene25 commented on #2014
Confirm it helps.
Remove code from HlsSampleStreamWrapper and HlsMediaChunk which was added in 3919843.

[2018-10-03 16:42] gabes-dev opened #4903 "Streaming issue in Arabic language. (Again)"
ExoPlayer is playing well in locale with English.
But it does not playing when locale changes from English to Arabic.
I tried with version 2.8.1 and 2.9.0
There is no feature for subtitle in my app.

It occurs an exception as follows:

[code]

[2018-10-03 16:45] tonihei commented on #4903
Can you please fill in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) and provide example media? Thanks!

[2018-10-03 16:51] linhai326 commented on #4839
did you set suggestedPresentationDelay tag in your manifest file? If not, Exoplayer will use a default 30 seconds for delay.

[2018-10-03 16:58] juechemparathy commented on #4780
@ojw28 - Much better. It wasn't a big deal for us as we have control over the content.
@peddisri - Thanks for bringing this up. 👍

[2018-10-03 17:07] gabes-dev commented on #4903
The issue [#585](https://github.com/google/ExoPlayer/issues/585#issue-91477495) is closed early.
ExoPlayer version that I tried are 2.8.1 and 2.9.0
It's playing well in device language with English. but it does not playing when change device language to Arabic. It occurs above exception.

Full source code

[code]

and in the TvExoPlayerActivity
[code]

[2018-10-03 17:11] ojw28 commented on #4903
We need to a link to some media that reproduces the problem to help with this.

[2018-10-03 18:12] gabes-dev commented on #4903
the media links are
http://eum.w9o.co/s/s.ts?3wMqWhNZ79l0HE5pvx9bo0TpRjpdW2wrm3r8hrYh+g3fqZuoD/MFbnWuXwc9OQZF_=EDIDJUT
http://eum.w9o.co/s/s.ts?3wMqWhNZ79l0HE5pvx9bo0TpRjpdW2wrm3r8hrYh+g3fqZuoD/MFbnWuXwc9OQZF_=IDIDJUT
http://eum.w9o.co/s/s.ts?3wMqWhNZ79l0HE5pvx9bo0TpRjpdW2wrm3r8hrYh+g3fqZuoD/MFbnWuXwc9OQZF_=QDIDJUT

Those are IPTV channels url.

[2018-10-03 18:35] ojw28 commented on #4903
Are they geo-restricted? They don't work for me.

[2018-10-03 18:41] ojw28 commented on #4903
Perhaps you could just dump some of one of the channels into a file and send us that, if it's easier.

[2018-10-03 18:45] ojw28 commented on #4888
Closing as answered.

[2018-10-03 18:45] #4888 closed, assigned to erdemguven

[2018-10-03 18:53] gabes-dev commented on #4903
Okay. I will send you dump file.

Regards.
Pieter

On Wed, Oct 3, 2018 at 11:42 AM ojw28 <notifications@github.com> wrote:

﻿D/ViewRootImpl@474cc0c[TVActivity]: ViewPostImeInputStage processPointer 0
D/ViewRootImpl@474cc0c[TVActivity]: ViewPostImeInputStage processPointer 1
D/AbsListView: onTouchUp() mTouchMode : 0
D/ViewRootImpl@474cc0c[TVActivity]: MSG_WINDOW_FOCUS_CHANGED 0
D/TextView: setTypef

[2018-10-03 19:09] ghexoplayerquestion commented on #4899
Thank you ojw28 for looking at this and the detailed response.  I will continue to look at the encoding to handle this better.

I was trimming the beginning and end of the segments to account for the encoder start-up delay (https://www2.iis.fraunhofer.de/AAC/gapless.html) but it looks like I was not calculating the trim values correctly.  I'll also look at using the MPEG Edit List to trim the segm

[2018-10-03 20:12] ojw28 commented on #4839
The good news is it's possible to get the latency down (see below). The bad news is that ExoPlayer just isn't designed with this in mind currently, so there are quite a few things that need doing (details to follow).

![lowlatency](https://user-images.githubusercontent.com/7881572/46436531-f534f600-c750-11e8-8e28-702deab34ead.png)

[2018-10-03 20:21] armanhi commented on #4800
Oh, the Nexus 4 is using LineageOS

[2018-10-03 20:22] armanhi commented on #4800
Oh, our Nexus 4 is using LineageOS

[2018-10-03 20:36] ghexoplayerquestion commented on #4899
Re: my last paragraph - I see if I get my media presentation to a single period I can use the ClippingMediaSource.  I wasn't using ClippingMediaSource because I was using the multiple periods to trim the segments.

[2018-10-03 20:42] ojw28 commented on #4839
Test media: https://vm2.dashif.org/livesim-chunked/chunkdur_1/ato_7/testpic4_8s/Manifest300.mpd

Note on the media: It lacks a `UtcTiming` element, which I think it really should have, particularly if it's going for low latency. In it's current form I think it relies on the client having a synchronized clock.

Notes on ExoPlayer: There are a whole bunch of things that ExoPlayer does that are not f

[2018-10-03 20:44] ojw28 opened #4904 "Improve support for low-latency DASH live streams"
This issue tracks allowing playback of DASH live streams with lower latency (i.e. closer to the live edge). It's spun out from #4839. See in particular: https://github.com/google/ExoPlayer/issues/4839#issuecomment-426784093 which lists some items, although I'm not promising they're all correct! The referenced patch may also be helpful as a guide.

[2018-10-03 20:44] ojw28 commented on #4839
Spun out #4904 to track making this better.

[2018-10-03 20:47] ojw28 commented on #4899
I still don't really understand what you're doing. Pretty much any DASH stream will segment AAC audio into multiple segments, and they wont ever put each segment in its own period or do anything special to deal with start-up delay and padding.

[2018-10-04 01:28] KazumiHARADA commented on #4851
Please let me know progress this issue.

[2018-10-04 02:49] kylemallory commented on #55
I saw 2.9.0 was released today, but no mention of RTSP support. Reading through the entire issue exchange here it sounds like there has been some significant progress on its development, though still missing a bit or two.  @tresvecesseis or @portizb  Would you mind providing any kind of status on this?  I'm mid-way through my third project needing low-latency (<300ms) playback, with this latest ne

[2018-10-04 04:22] jazimm commented on #4779
Hi Andrew, I have upgraded to v 2.9.0. Now when I attempt to load a vmap file using ImaAdsLoader.Builder.buildForAdsResponse(vmap_XML), I receive the same error. If I use a test vmap from Google the ad works so I would assume the ad tag in the vmap is incorrect but if I pass the same ad tag url into the ImaAdsLoader as a parameter instead of using the builder, the ad plays correctly. It also plays

[2018-10-04 04:34] peddisri commented on #4780
Unfortunately, as per the interopability guidelines , service of type 4.5 " MPD and Segment-based Live Service Offering" - there is no such requirement of removing "minimumUpdatePeriod".  On the contrary, it mandates it to be present.

[2018-10-04 06:41] BurakDurmus opened #4905 "Access currently playing HLS segment"
When grabbing an `HlsMediaPlaylist `with `getCurrentManifest()`  is it possible to obtain the HLS segment that is currently being played (for logging data)?

[2018-10-04 07:50] peddisri commented on #4780
I did minor changes and looks like we are not able to handle end of live stream.  Changes attached. (not sending pull request, since I'm not fully confident of the changes). This is just for discussion.
[patch.zip](https://github.com/google/ExoPlayer/files/2445350/patch.zip)

[2018-10-04 08:16] andrewlewis commented on #4851
The renderer is repeatedly dropping 50 frames. I think what you're seeing is that the renderer is repeatedly finding that it's far behind the player position, and to catch up it drops source frames up to the next keyframe. That keyframe then gets rendered, giving a jumpy appearance.

One possibility is that that decoding is just too slow on this device. You could try reducing the frame rate or res

[2018-10-04 08:42] andrewlewis commented on #4779
If I understand correctly, your ad tag now plays as expected when loading via an ad tag URL, but when you pass the XML contents via `buildForAdsResponse` it does not play. Let me know if that's wrong.

The ad tag received via email doesn't look like I'd expect -- I think it's actually a Word document. Could you double check and email the actual VMAP XML file as a raw text file if needed?

I wonder

[2018-10-04 09:07] AniLabXTeam opened #4906 "Concatenating and MergingMediaSource with subtitles not working as mentioned"
### Issue description
I have some not standart situation. I need to play video parts as one file from remote server with subtitles. This task can be done using Concatenating and MergingMediaSource. But, as devs say to me earlier - i need "split" subtitles for each part because ia have two parts of video and one vtt file for whole movie.
So, i write small code for splitting subs and correcting time

[2018-10-04 09:28] ummerakbar45 opened #4907 "Unable to upgrade sdk to 2.9.0"
### Issue description
On upgraded exoplayer from 2.8.2 to 2.9.0
I got this issue

Caused by: com.android.builder.dexing.DexArchiveBuilderException: Failed to process /home/ummer/.gradle/caches/transforms-1/files-1.1/exoplayer-ui-2.9.0.aar/195e46cdfaf40d95237361d93fc2e4ad/jars/classes.jar

### Reproduction steps
upgrade sdk to 2.9.0

### Link to test content

### Version of ExoPlayer being used
2.9

[2018-10-04 09:57] AquilesCanta commented on #4897
I'll close this issue under the assumption that this question is answered. In any case, I think it's more fitting for a general Android Q&A.

[2018-10-04 09:57] #4897 closed, assigned to AquilesCanta

[2018-10-04 10:04] BrainCrumbz commented on #4898
Just to drop our 2¢, we're working with local files being added to a `ConcatenatingMediaSource`: some of them are non-looping `MediaSource`, while some are `LoopingMediaSource`.

In order to detect track transitions within playlist, we register a `Player.EventListener` and react to `onTracksChanged` event. At that time we also read `player.getCurrentWindowIndex()` (as @tonihei mentioned), which by

[2018-10-04 10:08] tonihei commented on #4898
@BrainCrumbz You really should be using `onPositionDiscontinuity` for that case. `onTracksChanged ` is called when the selected tracks (i.e. which video or audio tracks are rendered) change. This often happens at period transitions (= position discontinuity), but may also happen if you disable/enable/select tracks in between.

[2018-10-04 10:12] Gian84 commented on #4839
It works perfectly! :)
Thanks so much for the clear patch.

Gian

[2018-10-04 10:21] AquilesCanta commented on #4907
I suspect this is related to the java version change. I guess you could confirm this by trying to upgrade to 2.8.4 instead of 2.9.0.

In any case, from release notes:

[code]

Please try adding:

[code]

Please let me know if this works for you.

[2018-10-04 10:36] BrainCrumbz commented on #4898
Thanks for pointing that out. Will have to double check this. At the moment we need to be notified also when playing track changes due to a seek operation, and with this method we can collect both scenarios in the same call. Don't recall whether `onPositionDiscontinuity` gets invoked in case of a seek as well (I think so), and with which `reason`.

[2018-10-04 10:40] ojw28 commented on #4780
We can't rely on the in-band message to determine whether the presentation has ended. You must be able to tell only from the manifest. Suppose the client hasn't requested any segments yet. If it can't tell that the presentation has ended from the manifest, it will likely try and request segments that don't exist.

If we inferred the presentation has ended only based on the existence of `mediaPrese

[2018-10-04 10:42] BrainCrumbz commented on #4902
Thanks for your reply. Do you mean that all modules seen when opening ExoPlayer own project in Android Studio should be imported in our custom library project?

When we open that, there are quite some of them. Given that currently we only depends on *core* and *ui* packages, should we just import only those two modules as source? Opening the project, those should correspond to `library-core` and `

[2018-10-04 10:47] AquilesCanta commented on #4905
No, this is not supported unfortunately. If you want to have a look at implementing this yourself, you might want to look into `HlsSampleStreamWrapper#readData`. There is one HlsSampleStreamWrapper per segment stream (for example, one for video and one for audio, if they are demuxed; or a single HlsSampleStreamWrapper if all content is muxed).

Each `HlsSampleStreamWrapper` may have in turn multip

[2018-10-04 10:47] #4905 closed, assigned to AquilesCanta

[2018-10-04 11:00] bigahega commented on #4898
@tonihei thank you for the advice, now I can track the window indices on discontinuity and detect if we came to the initial window using that.

[2018-10-04 11:03] tonihei commented on #4898
Glad to be of help :)

[2018-10-04 11:03] #4898 closed, assigned to tonihei

[2018-10-04 11:05] AquilesCanta commented on #4906
It would seem to me that you are using the same URI for each SingleSampleMediaSource. Can you check that is not the case?

[2018-10-04 11:10] ummerakbar45 commented on #4907
Yes when I upgraded to 2.9.0 .
steps I did
Current version 2.8.2
1. upgraded sdk  to version 2.9.0
2.    a*pp**:show_buffering="true"* was showing error changed true to
always as written below.
     <com.google.android.exoplayer2.ui.PlayerView
   android:layout_width="match_parent"
   android:layout_height="match_parent"
   android:id="@+id/exoPlayer"

   app:show_buffering="always"
   app:rewind_

[2018-10-04 11:31] ummerakbar45 commented on #4907
compileOptions {
    sourceCompatibility JavaVersion.VERSION_1_8
    targetCompatibility JavaVersion.VERSION_1_8
}

added gradle.build  file of app .

now it worked

On Thu, Oct 4, 2018 at 4:40 PM Umer Akbar <akbar@trialx.com> wrote:

[2018-10-04 11:32] ummerakbar45 commented on #4907
Thanks  for your help.
please check have I done it in right way.

On Thu, Oct 4, 2018 at 5:01 PM Umer Akbar <akbar@trialx.com> wrote:

[2018-10-04 11:49] AquilesCanta commented on #4907
Great. Thanks for reaching out.

[2018-10-04 11:49] #4907 closed, assigned to AquilesCanta

[2018-10-04 12:09] AniLabXTeam commented on #4906
It fixed problem. In code i have other block that merge subtitles for whole movie part so this var "leaked" into this code. Thank you!

[2018-10-04 12:09] #4906 closed, assigned to AquilesCanta

[2018-10-04 12:11] bigahega opened #4908 "Combining ClippingMediaSource and ConcatenatingMediaSource"
Hello again,

so I have `n` videos and `1` audio file that I am trying to play as a single media. First I tried concatenating these `n` videos using the `ConcatenatingMediaSource` and then merge that concatenated media source with the audio file using `MergingMediaSource`; however, apparently this is not a possible option due to bunch of internal stuff going on there.

Then I tried to clip the aud

[2018-10-04 12:27] BrainCrumbz commented on #4898
Yeah, so after repeating some tests we got back some more memories and thoughts.

When playing flows *naturally* from a playlist item to the next, the two events are basically the same for us. It's enough to detect the `DISCONTINUITY_REASON_PERIOD_TRANSITION` reason:

[code]

Things are different in other scenarios though. When users skips to another playlist item:

[code]

We could detect `onPosi

[2018-10-04 12:56] tonihei commented on #4898
That's working as intended. The DISCONTINUITY_REASON_SEEK is sent immediately after calling seek. The seekProcessed callback indicates that the internal player acknowledged the seek and all necessary state changes have been made. That's why you see that a little bit later.

DISCONTINUITY_REASON_SEEK_ADJUSTMENT is only used if the player needed to adjust the requested seek position. I guess that's

[2018-10-04 13:10] BrainCrumbz commented on #4898
Thanks for your example.
Just to stress that for us it's more a matter of timing, a question:

ignoring loops for the moment, upon a `DISCONTINUITY_REASON_SEEK` discontinuity, can we already consider the formerly playing track as "obsolete", i.e. not playing anymore? And hence can we remove it from playlist without any error, visible glitch or other issue?

Looking at reported window index upon th

[2018-10-04 13:16] tonihei commented on #4898
Yes, you can consider the previous item as obsolete at this point. Any playlist updates will be queued on the internal playback thread too and thus will be handled after the seek.

[2018-10-04 13:20] erdemguven commented on #4893
If the files are progressive stream (like mp3) you can precache or download them easily. Please look at this blog post:
https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

[2018-10-04 13:20] #4893 closed, assigned to erdemguven

[2018-10-04 14:09] tonihei commented on #4907
It seems the targetCompatility setting is needed regardless of how you include ExoPlayer. We'll update the release notes. There is no need to set the sourceCompatibility option if you don't want to build your own code with Java 8 features.

[2018-10-04 16:48] #4306 closed, assigned to ojw28

[2018-10-04 17:13] jazimm commented on #4779
Hi Andrew, the ad tag plays if I remove it from the vast file and pass it via the ImaAdsLoader constructor the pre roll ad plays. If I instead use the vmap file and pass it as a string via ImaAdsLoader.Builder.buildForAdsResponse, it does not play. The one I emailed you was just saved via word. I am testing using a local xml file saved in resources. This file does work when I use a test ad tag fro

[2018-10-04 17:25] ummerakbar45 opened #4909 "adaptive bitrate"
How can I check adaptive bitrate or resulation like youtube shows 144 , 240 etc.
I mean how can I check video changes bitrate.
I have hls videos but exoplayer start buffering without switching to low bitrate

[2018-10-04 20:52] ValeraC opened #4912 "merging many ClippingMediaSource"
### Issue description
I have video and audio(webm and ogg). I have to make next structure:
start video part -> "freeze frame(or one frame) part" -> finish video part and sync them all with audio, like this:
 (duration)
audio start == video start
audio finish == video finish
else audio will play for "one frame"

PROBLEM:
When "finish part" start playing audio starts from "start part". For example:

[2018-10-04 22:08] peddisri commented on #4780
Yeah and that's what I've tried to do in DefaultDashChunkSource i.e depend on mediaPresentationDuration to decide if the playback has ended or not. But for that I had to allow getNextChunk proceed to the part where it sets endofstream flag on the chunk by not forcing a manifest refresh when dynamicMediaPresentationEnded is set to true in PlayerEmsgHandler.

Although, to decide if this is the right

[2018-10-04 23:34] retameur opened #4913 "Sound stop after a while when looping"
### Issue description

Using ExoPlayer 2.8.2 to play a local .m4a sound file in repeat mode, the sound stop after a while (typically a couple of hours). If playing several files simultaneously, each file stop at a different time. No error is reported in neither the player event listener nor the media source event listener.

The error occurs with both `player.setRepeatMode(Player.REPEAT_MODE_ALL);`

[2018-10-05 01:22] jpearl opened #4914 "Support for Redundant Streams"
Is there any reason (historical or otherwise) that Exo can't or shouldn't support [redundant streams](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/StreamingMediaGuide/UsingHTTPLiveStreaming/UsingHTTPLiveStreaming.html#//apple_ref/doc/uid/TP40008332-CH102-SW22)?

It appears that track selection is done purely by bandwidth for adaptive bitrate

[2018-10-05 06:48] ummerakbar45 commented on #4907
Thank you
I commented sourcecompatibily it works well.
Is there any dependency of
targetCompatibility with lower devices.
I mean does it work on lower devices like it was working

On Thu 4 Oct, 2018, 7:40 PM tonihei, <notifications@github.com> wrote:

[2018-10-05 06:56] OMArikan commented on #4532
We can watch all of the error logs via AnalyticsListener and DefaultEventlistener. If a developer disables ASSERTIONS_ENABLED property from the code, he/she has to have the responsibility of the solution.

Since 1.5.8 version, i'm storing all of the EventLogger logs and checking. Since now wtih these logs we just learnt about some DRM and transcoding problems. For DRM problem we informed Google an

[2018-10-05 07:34] tonihei commented on #4907
Yes, it's working as before as long as we only use the Java 8 features listed here:
https://developer.android.com/studio/write/java8-support#supported_features

Adding the targetCompatibility to gradle tells the compiler to remove all Java 8 specific Java structures which allows to make the code executable on all Android devices.

[2018-10-05 07:40] bigahega commented on #4908
A little bit more insight about the issue:

Here is how we are using the `fixedMagic()`:
[code]

and here is the `otherMagic()` implementation:
[code]

Now check here:
[code]

If I give the videos first into the `MergingMediaSource`, the videos are fine but the audio restarts every time the video switches to the next; however if I give the audio first then the videos as arguments into the `Merging

[2018-10-05 07:43] andrewlewis commented on #4779
You have an ad tag that plays when loaded via URL but when passed to `buildForAdsResponse` it doesn't play correctly, right? If so, please send the ad tag XML document to `dev.exoplayer@gmail.com` (as a plain text document not a Word document -- I don't have a way to open the files emailed previously) and we'll take a look.

[2018-10-05 08:15] BrainCrumbz commented on #4902
Just a heads up: those two mentioned modules have been included (and renamed) in our library project. Furthermore, we edited our library module `res/values/attrs.xml` in order to add e.g. `AspectRatioFrameLayout` as `<declare-styleable>`, or `resize_mode` as `<attr>` given that we use those in client project layouts.

Beside that, we are still hitting the same error as above:

[code]

Is there any

[2018-10-05 10:33] HardikChauhanSA opened #4915 "Update shuffle order in unprepared ConcatenatingMediaSource."
Hello,

I have been implementing a shuffle feature for medial player app.

Recently i have found an issue like,
I have list A of a song and added it to media source.

Now i have shuffled list B and updated my media source according to the shuffled list.

The issue is after allocating new media source from shuffled list and when i play next song,
the next song is playing as per the sequence of list

[2018-10-05 11:54] tonihei commented on #4915
Could you please be a little more specific about what you are doing exactly? For example, provide a minimal example of what you do to make the problem occurs.

[2018-10-05 12:09] HardikChauhanSA commented on #4915
Yes sure i will explain.

I have a list of 5 songs, lets say List A - song1, song2, song3, song4, song5.
I have added all the songs streaming from server so I have created a data source with HlsMediaSource for all the songs. and my player is playing the song normally.

Now I have shuffled the list and assgined it to shuffled list lets say List S -  - song5, song3, song4, song1, song2.
Now what i h

[2018-10-05 12:26] tonihei commented on #4915
Did you call player.prepare(listS) to actually start playing the new media source. Or how do you switch from one to the other?

Generally, you should try to use `player.setShuffleModeEnabled` to turn shuffling on and off, especially if you are just randomly shuffling anyway.

[2018-10-05 12:38] HardikChauhanSA commented on #4915
At the time of shuffling, one song is already playing so i want to change the media source position while the current keeps playing and position of all the songs needs to be change.

Yes I have also used `player.setShuffleModeEnabled = true` but still this issue is coming.

[2018-10-05 12:44] tonihei commented on #4915
If you set `player.setShuffleModeEnabled = true`, the order definitely should be shuffled. Can you just do that without changing the playlist itself?

[2018-10-05 12:47] HardikChauhanSA commented on #4915
Okay, But i also want to show the shuffled list in the recyclerview which shows the list of songs.

Will get the shuffled list of urls go change the order of list in recyclerview also?

[2018-10-05 12:49] HardikChauhanSA commented on #4915
And also i dont think it will be possible cause we are trying to achieve the shuffle functionality same as Google Play app. To shuffle the song before playing the list so user can actually see the the shuffled list also.

[2018-10-05 12:50] tonihei commented on #4915
You can query the order by getting the timeline with `player.getCurrentTimeline` and then call `timeline.getNextWindowIndex(index, repeatMode, shuffleMode)` which tells you the next index depending on the repeat mode and shuffle mode.

[2018-10-05 12:54] tonihei commented on #4915
And if you want to shuffle yourself in advance and specifically set the shuffle order (instead of using a random one), you can use `concatenatingMediaSource.setShuffleOrder`. Would that solve your issue?

[2018-10-05 12:58] HardikChauhanSA commented on #4915
Okay. Let me try that, I will update here.

[2018-10-05 13:00] AquilesCanta commented on #4909
There are two questions here, I suppose:

I mean how can I check video changes bitrate.

Have a look at the DemoApp. When you play a video, at the top of the screen you will see a short text in white with black background. The code that backs this can be found in `DebugTextViewHelper#getVideoString`. Also relevant is `VideoListener#onVideoSizeChanged`.

Depends on the initial bitrate estimate that

[2018-10-05 13:00] #4909 closed, assigned to AquilesCanta

[2018-10-05 13:15] HardikChauhanSA commented on #4915
Hi,
I cant seem to find `concatenatingMediaSource.setShuffleOrder` this method.
I have imported class from here,
`import com.google.android.exoplayer2.source.ConcatenatingMediaSource`

There is not such method in class ConcatenatingMediaSource.java

[2018-10-05 13:23] AquilesCanta commented on #4914
You can always customize track selection to pick whichever track you want. Also worth checking out this [blogpost](https://medium.com/google-exoplayer/load-error-handling-in-exoplayer-488ab6908137) about load error handling. In the case of blacklisting, ExoPlayer may very well pick a redundant stream. If you think this is not the case, please fill the issue template.

[2018-10-05 13:23] #4914 closed, assigned to AquilesCanta

[2018-10-05 13:29] tonihei commented on #4915
It was added in 2.9.0. So maybe you need to update.

Looking more closely, it may also be quite difficult to provide the initial order because the ShuffleOrder class wasn't written with that use in mind. To simplify this, we should probably do the following:
1. Allow updating the shuffle order even if the media is not prepared yet (we currently force it to be empty).
2. Provide an constructor for

[2018-10-05 14:20] andrewlewis commented on #4913
I couldn't see any obvious issues with the media or in the bug report.

Please could you try to reproduce this in the ExoPlayer demo app, but modified to set repeat mode, and on a physical device rather than using the emulator? If you can reproduce it please send the bug report. If not, that suggests there's something wrong with the service (perhaps a leak or not holding locks required to keep the

[2018-10-05 14:20] AquilesCanta commented on #4912
I don't understand the problem here.

I think the best way to go is that you provide the sample media. I will then try the code you posted up here and reach back. If I notice anything weird, then we can diagnose as a bug. If I observe it's working as intended, then we can work on the issue description. Otherwise this consumes too much time doing guesswork.

[2018-10-05 14:24] AquilesCanta commented on #4912
One extra thing to check is that the ogg audio you are using is seekable. If you play the ogg audio alone, can you seek in it? If not, you'll have to add metadata to enable seeking in the file.

[2018-10-05 14:26] AquilesCanta commented on #4908
Is it possible that the audio file you are clipping is not seekable?

[2018-10-05 14:27] AquilesCanta commented on #4908
Please provide the media so we can have a look.

[2018-10-05 14:55] bigahega commented on #4908
Yes the audio file is definitely seekable, and I am not referring to a single audio file here. I have tried a good many different audio files and they are all seekable. For instance the following code works perfectly for the every audio file I have tried: (the player has the audio as `ExtractorMediaSource` in the following code)
[code]

[2018-10-05 16:31] andrewlewis commented on #4913
I think the issue here is that there's a discrepancy between the duration declared in the MP4 container metadata and the actual duration of audio after applying the iTunSMPB trimming for gapless playback. I think the actual duration is 18955260 us (this is the declared duration 19017142 us, which is the duration of audio before trimming, minus the duration of 2112 + 617 audio frames at 44.1 kHz, w

[2018-10-05 17:21] jazimm commented on #4779
Yes that's right Android. I will send you the xml. Thanks.

[2018-10-05 18:32] HardikChauhanSA commented on #4915
Though I have also found one more issue.

When i add media source at same position using,
`cMediaSource?.addMediaSource(i, hlsMediaSource)`

And `i` already has one media source, this is keep adding the new media sources and the size of media sources gets increased.

I have 10 song in list and i shuffled and re-shuffled it 10 times so after that my media sources size reaches to 100+.

[2018-10-05 18:59] tonihei commented on #4915
addMediaSource actually adds the media source and does not replace it.

On Fri, 5 Oct 2018, 19:34 HardikChauhanSA, <notifications@github.com> wrote:

[2018-10-05 19:22] HardikChauhanSA commented on #4915
okay. Is there any way to just replace the media source at specific index?

[2018-10-05 19:45] tonihei commented on #4915
You can just call removeMediaSource(i) and addMediaSource (i, newSource) to
replace the item at position i.

On Fri, 5 Oct 2018, 20:23 HardikChauhanSA, <notifications@github.com> wrote:

[2018-10-06 03:25] roundsmapp commented on #2659
@andrewlewis , the problem still exists with ExoPlayer plain demo app (without using custom audio processor), playing a short audio (less than 20 sec) in loop, ogg format. As said before, the audio file has 8 channels, the phone is a Samsung S9, Android 8.0.

[2018-10-06 09:14] HardikChauhanSA commented on #4915
Hello,

I have tried with the above solution, I am able to get some things fixed but found one more thing,
`player?.currentWindowIndex!!` exoplayer always returns 0.

How can i get the index of currently playing media source?

[2018-10-06 10:36] ummerakbar45 commented on #4909
Thanks for your reply please provide link for DebugTextViewHelper.
How can I convert 560kb/s to resulation , I mean what bit rate is equal to
144 , 240 and so on.
Is it possible , I add my own url in demo app and tested is bitrate
switching based on bandwidth, if yes please provide steps.

On Fri, Oct 5, 2018 at 6:31 PM Santiago Seifert <notifications@github.com>
wrote:

[2018-10-06 12:07] tonihei commented on #4915
player?.currentWindowIndex is the correct approach. If it returns 0, you
are probably still playing the first item in the list or you haven't
started playback yet.

On Sat, 6 Oct 2018, 10:16 HardikChauhanSA, <notifications@github.com> wrote:

[2018-10-06 16:48] gabes-dev commented on #4903
What do you want more? I am waiting fixing it from you.
If you want, I can share screen for this exception.

[2018-10-07 08:03] harris914 opened #4917 "Seeking in radio streams"
I'm working on ExoPlayer 2.6.0 for a Radio streaming app. Radio is playing is fine, but when i try to add seekTo for +/-30 seconds it always starts the streaming from 0. In the debug mode, player seeks to +30 seconds but as soon as setPlayWhenReady() is set it goes back to start from 0. It has been a long time i've been looking for this solution so decided to ask here. I will post my code here to

[2018-10-07 08:06] harris914 commented on #4917
**This is my code for +30 seconds implementation.**
ivForward.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                try {
                    if (exoPlayer != null && Constants.isMediaPlaying) {
                        exoPlayer.setPlayWhenReady(false);
                        Constants.isMediaPlaying = false;

[2018-10-07 19:12] ojw28 commented on #4903
I don't think we've received a file to reproduce this issue, so we're still waiting for that. Please send one to `dev.exoplayer@gmail.com` with "#4903" in the subject line.

[2018-10-07 19:13] ojw28 commented on #4917
Most likely you're trying to play a type of stream that doesn't support seeking. For live streams, you'll normally need them to be HLS or DASH with a well defined live window for seeking to work.

[2018-10-07 19:17] ojw28 commented on #4917
Note that it's technically possible to support backward seeking in progressive radio streams, if the client has already played the target seek position and if it caches the stream locally. However this is not something we support (or have any near term plans to support). Proper support for seeking in live streams can be provided by the broadcaster using HLS / DASH if they want to support this use