[2020-11-25 10:34] #8278 closed, assigned to AquilesCanta

[2020-11-25 10:48] belgianwaves commented on #8075
Like already mentioned, other (older) devices might have this problem, like is the case for the HTC Nexus 9

[2020-11-25 11:19] ojw28 commented on #8278
You probably need to add `android:usesCleartextTraffic="true"` to your manifest. Please see the [first troubleshooting item on this page](https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors).

[2020-11-25 11:34] andrewlewis commented on #8189
There is some relevant information in https://github.com/google/ExoPlayer/issues/1286#issuecomment-200854838. I'm afraid it's not as simple as a fixed number per device.

[2020-11-25 11:39] jlmari commented on #6930
Hello, I have a very similar issue that the one described by @menscikov .

Tested on latest exoplayer version (2.12.1). Reproducing a video with Xiaomi MiBox 3 (Android 9), it works great until home button pressed. Then the following exception is produced:

[code]

Also, in Android emulators and mobile phones Xiaomi Mi A3 (Android 10), Xiaomi Redmi Note 8 (Android 9), Xiaomi Mi Max (Android 7) and

[2020-11-25 12:16] Turalllb commented on #8277
I cannot do this yet, in version 2.12.0, there are significant changes in the work with drm.  I'll open the question a little later

[2020-11-25 12:16] #8277 closed, assigned to AquilesCanta

[2020-11-25 17:18] kim-vde commented on #8220
@alexey-rabets We won't be able to fix this in the near future because it is not trivial.

What you could do as a workaround is to implement your own `TimestampAdjuster` and to pass it to the `TsExtractor` in a custom `ExtractorsFactory`. You could then pass the `ExtractorsFactory` to the `SimpleExoPlayer` builder. In this timestamp adjuster, you could for example offset all the timestamps by a fi

[2020-11-25 18:16] sedubois opened #8279 "How do I keep playback going once the screen locks (but not when the user navigates to a different fragment/activity)?"
### Searched documentation and issues

- https://exoplayer.dev/troubleshooting.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded
- https://medium.com/google-exoplayer/playback-notifications-with-exoplayer-a2f1a18cf93b
- https://github.com/google/ExoPlayer/issues/7987
- I also asked help on StackOverflow: https://stackoverflow.com/q/64956508/4623987

### Question

Having ExoPlayer smooth

[2020-11-25 18:39] AquilesCanta commented on #6930
I am closing this issue because it is now almost impossible to follow and there seem to be two different and unrelated issues being reported:
- Issue with rotation on custom app in samsung devices.
- Issue with navigation (pressing the home button) in the ExoPlayer demo app in Xiaomi devices.

All of the reports have ignored the issue template and failed to include steps to reproduce the issue (in

[2020-11-25 18:39] #6930 closed, assigned to AquilesCanta

[2020-11-25 21:08] scooter1556 opened #8280 "Cast: Message exceeds maximum size"
### Use case description
If you initialise a large number of MediaItems using `setMediaItems()` on a `CastPlayer` it is possible to hit the `CastClient` maximum message size throwing an `IllegalArgumentException`.

`
CastClient: Message send failed. Message exceeds maximum size
`
`
java.lang.IllegalArgumentException: Message exceeds maximum size524288
`

### Proposed solution
Gracefully handle set

[2020-11-25 23:50] ryxryx opened #8281 "FireOS5 - ExoPlayerImplInternal: Renderer error"
### [REQUIRED] Issue description
Describe the issue in detail, including observed and expected behavior.
We are using official ExoPlayer (2.11.3) in our video player apps. The player works fine on Android 5.1.1 to up to the latest Android OS, and works fine on FireOS6 and above. But on FireOS 5, the playback stops during playing, especially when the player finishes playing an ad (DAI IMA), right a

[2020-11-26 02:04] #8130 closed, assigned to AquilesCanta

[2020-11-26 02:04] #8126 closed, assigned to ojw28

[2020-11-26 04:42] kyymeade opened #8282 "Video can't play on some devices"
[2020-11-26 12:14:40.427] [28176] [5120] [4] [MediaCodec] : [OMX.qcom.video.decoder.avc] setting surface generation to 28852225
[2020-11-26 12:14:40.427] [28176] [5121] [4] [ExtendedACodec] : [OMX.qcom.video.decoder.avc]configureCodec AMessage(what = 'conf', target = 1) = {
  Buffer csd-1 = {
    00000000:  00 00 00 01 68 e9 09 35  20                       ....h..5
  }
  string mime = "video/avc"

[2020-11-26 08:18] stari4ek opened #8283 "Rare failed assertions"
### [REQUIRED] Issue description
I'm getting some errors reported to crashlytics due failing assertions.
Here are 3 different issues, I can move them to separate issues if it makes sense and if any work will be made for them

#### DefaultAudioSink.getEncodingAndChannelConfigForPassthrough
[code]
[code]

### [REQUIRED] Reproduction steps
Callstacks are from automatic error reports and I can not rep

[2020-11-26 08:44] tuesda opened #8284 "Audio duration is not right"
When reporting a bug:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Issue description
when I play audio with url, found the duration is not right. Exoplayer returned dura

[2020-11-26 10:02] AquilesCanta commented on #8280
Thanks, I'll see if I can play around with this.

[2020-11-26 10:10] AquilesCanta commented on #8279
There's no official audio demo app yet. I'm sure you are already aware of [UAMP](https://github.com/android/uamp), though. It's not maintained by the ExoPlayer team, but it showcases solutions involved in the creation of an audio app, many of which are listed above. How would your proposal differ from UAMP?

[2020-11-26 10:32] deepaksmindiii opened #8285 "default track selection according to internet"
How we can implement default track selection according to internet speed?
If we have trackselectiondialog and if i want to select 1080p and my internet speed is slow then it will switch on default pixel track according to internet speed.
please explain it step by step.

[2020-11-26 10:48] sedubois commented on #8279
Thank you @AquilesCanta, I've never tried that demo. However this request is not specific to audio. Our app plays both audio and video and should support both, that is why we basically made it as a clone if the ExoPlayer main demo app.

If a video is being played, it should continue playback when screen is locked, just like with audio. (The only optimization would be, if there is a way to do so, t

[2020-11-26 11:28] AquilesCanta commented on #8275
Which list are you referring to?

Have you seen it occur in newer APIs?

My current impression is that this could be an issue which affected certain devices, but that has been fixed on newer versions by the device manufacturers. If this assessment is right, there's not much on the ExoPlayer side to do. If we contact the device manufacturers they'll probably say to us "this is something we've fixed

[2020-11-26 11:30] droidwithme commented on #8085
@andrewlewis
`/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header.
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:149)
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:48)

[2020-11-26 11:32] droidwithme opened #8286 "com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header."
@andrewlewis
`/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header.
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:149)
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:48)

[2020-11-26 11:33] andrewlewis commented on #8286
This isn't a valid way to play YouTube videos. See https://exoplayer.dev/troubleshooting.html#can-i-play-youtube-videos-directly-with-exoplayer.

[2020-11-26 11:33] #8286 closed, assigned to nobody

[2020-11-26 11:36] droidwithme commented on #8286
How can i get videos bandwidth wise e.g 240, 360 720 etc?

[2020-11-26 11:37] AquilesCanta commented on #8276
I think you are expected to pass a non-null context. The change that made the context argument non-null is titled "Make context non-optional for DefaultBandwidthMeter", so I think the compile error is working as intended.

If the question is why there's a null check inside, then the answer is to avoid breaking code without nullability annotation checks which were already passing null, hence the "b

[2020-11-26 11:37] #8276 closed, assigned to AquilesCanta

[2020-11-26 11:38] andrewlewis commented on #8286
@droidwithme We generally try to keep issues focused on one area where possible. If you have an additional issue/question, please file a new issue and provide the information requested in the new issue template (otherwise it's unlikely we will be able to help you). I will mark this one as off-topic. Thanks.

[2020-11-26 12:48] AquilesCanta commented on #8281
Hi @ryxryx, thank you very much for the high quality report. This doesn't seem to be an ExoPlayer issue, but rather an issue specific to FireOS 5.6 (and fixed later?). Unfortunately, we only provide best effort support for FireOS (as stated in https://exoplayer.dev/supported-devices.html), and any device specific issues should be directed to Amazon. I think we would be willing to accept high quali

[2020-11-26 12:48] #8281 closed, assigned to AquilesCanta

[2020-11-26 12:56] ghost commented on #8281
@AquilesCanta Hi! I catch this bug on emulator with Android 5.1. All times when I start start player.

11-26 15:59:35.691 4372-4409/com.umbrellait.interactive_informant E/SoftAVC: Decoder failed: -2
11-26 15:59:35.697 4372-4406/com.umbrellait.interactive_informant E/ACodec: [OMX.google.h264.decoder] ERROR(0x80001001)
11-26 15:59:35.698 4372-4406/com.umbrellait.interactive_informant E/ACodec: signa

[2020-11-26 13:02] AquilesCanta commented on #8281
@umbrellait-daniil-shtainmets What you are seeing is the same stacktrace, not the same bug. Please file a fresh issue including all information requested in the issue template.

EDIT: Also, make sure you read https://exoplayer.dev/supported-devices.html for info on emulators.

[2020-11-26 13:18] AquilesCanta commented on #8285
ExoPlayer does automatic track selection for you if you play a piece of adaptive media, like DASH or HLS. There's nothing you need to do. I don't understand the trackselectiondialog part, though. Perhaps you can clarify?

[2020-11-26 14:15] Achibana commented on #7531
Hi @AquilesCanta, we also find when BLWE happens player will stop internally which is ok, but this will cause the DrmSession released, then after application re-preparing the MediaSource, a new DrmSession is created and request a new license.
Is it possible to improve this part to avoid a new license request(like remain the DrmSession)? Since it's playing same stream and handling inside the player

[2020-11-26 16:34] atrope commented on #8239
Do you know when  we can expect a minor update?

We are waiting for this to release an update.

Thanks!

[2020-11-26 16:42] Jamesters opened #8287 "Change/disable subtitle track with ffmpeg enabled stops playback"
###  Issue description
If ffmpeg is enabled and currently being used for audio decoding, when you change or disable (or enable) subtitle tracks, playback stops, but it doesn't pause or stop the video (Exoplayer thinks it's still playing, but video & audio do not progress.

### Reproduction steps
This code from TrackSelectionDialogBuilder:
[code]
Causes the error if
`RendersFactory rendersFactory =

[2020-11-26 16:44] ojw28 commented on #8287
Duplicate of https://github.com/google/ExoPlayer/issues/8203

[2020-11-26 16:44] #8287 closed, assigned to ojw28

[2020-11-26 17:15] AquilesCanta commented on #7531
That's an interesting usecase. From my standpoint, your issue should be fixed as a consequence of avoiding the player from entering the error state, which causes resources to be released.

Now, for the time being you should prevent:
- That the DrmSessions are released by the SampleQueues when the sample queues are released.
- That the DrmSessionManager is released when the player goes into IDLE st

[2020-11-26 17:18] icbaker commented on #7531
[DRM session keep-alive](https://github.com/google/ExoPlayer/commit/316f8a88cdaeff2b1b5d219097b2739ef607b2c4) was first released in 2.12.0, so depends what you consider the "last" release :)

[2020-11-26 19:02] AquilesCanta commented on #8279
Ah, missed that part. Thanks for the clarification.

To get this out of the way, I don't think we will be adding background playback to ExoPlayer's main demo app since it's already more complex than many of our users would like. We have discussed the creation of new demo apps to show case other aspects of the library, but I don't think background playback with video was one of them. I don't know i

[2020-11-26 19:50] adrientetar commented on #7296
@AquilesCanta, I have a media view where you can swipe between different media files in a folder (video, photo, music), the current release() implementation force closing the session when the user swipes to a different file and the previous fragment is destroyed. Can we add a boolean parameter closeSession (default to true) in the release method?

[2020-11-27 02:29] junchenChow commented on #8275
**Thank you for your reply.**

The list in my app data, most of them are MP4 files.

 I think you are right with a high probability, I did not find this problem in the newer APIs. The bug statistics only has this problem on the 23-24 version. I also have this problem with the latest exoplayer version, but this problem is not found on the Android version above 24.

 I thought exoplayer was compatib

[2020-11-27 02:59] sneelavara commented on #1807
@ojw28 is there any plan to add full support for CEA-708. We have requirement to enable CEA-708. It would be helpful if this gets some priority.

@zsmatyas we have tried Sarnoff streams with #4595 changes. It works much better with that. But still there are many outstanding issues. We are happy to help in #4595 merge (and further improvement). Please let us know. Thanks.

[2020-11-27 05:10] HyowonHwang commented on #8276
@AquilesCanta

I meant to pass null context on my kotlin codes. But I couldn't do it by compile error.
I used to pass null value when `DefaultBandwidthMeter.Builder(null)`.

[2020-11-27 05:25] deepaksmindiii commented on #8285
Which method is called when exoplayer does automatic track selection, i mean how we notify on which pixel exoplayer change the track?

[2020-11-27 05:39] ChrisChing24 opened #8288 "play offline encryption hls video loading 3-5 seconds"
hello,I use exoplayer to play downloaded offline video,when i seek the position,the video buffering about 3-5 seconds.
how to reduce the buffering time?
exoplayer version:2.12.0
look forward to your reply.thanks

[2020-11-27 06:29] PeOS-China opened #8289 "first parameter of Clippingmediasource can only accept Mediasource type and not Concatenatingmediasource type?"
I use clipping media source (mediasource, 0, 3_ 000_ 000) create a clippingmediasource object. Mediasource is of mediasource type. Exoplayer can play normally, but use clippingmediasource (concatenatingmediasource, 0,3)_ 000_ 000), concatenatingmediasource is of concatenatingmediasource type, exoplayer cannot play. Whether the first parameter of clippingmediasource can only accept Mediasource type

[2020-11-27 07:32] Pisey-Nguon commented on #8126
## This is my Logcat type Verbose that I found with my device is Pixel 2XL

2020-11-27 14:27:14.755 17464-18480/ig.milio.android V/FA: Recording user engagement, ms: 8134
2020-11-27 14:27:14.758 17464-18480/ig.milio.android V/FA: Connecting to remote service
2020-11-27 14:27:14.759 17464-18480/ig.milio.android V/FA: Activity paused, time: 608402457
2020-11-27 14:27:14.766 17464-18479/ig.milio.andr

[2020-11-27 07:47] Pisey-Nguon commented on #8126
### This is my sample code that I use on my app.
I have been used on old version exoplayer that works correctly with the property player.retry() then after i update exoplayer v. 2.12.0 I found this problem as I say before.

 private fun playerListener(playerSource: SimpleExoPlayer) {
        playerSource.addListener(object : Player.EventListener {
            override fun onPlayerError(error: ExoP

[2020-11-27 08:33] ojw28 commented on #8126
The [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) is designed to request the information that we need to help you. Please can you provide all of the requested information? Else there's not much we can do to help, and this issue will remain closed. Thanks!

[2020-11-27 09:09] Achibana commented on #7531
Thanks @AquilesCanta , @icbaker. we tried the 2.11 and 2.12 and they are same, we also tried setting sessionKeepAlive in 2.12.0 and it doesn't work for this case, the session still released somehow.
And as the internal stop happens before the signal sent to application, so when we try to call DrmSessionManager.prepare it's too late since the internal stop has released the session.
We will keep try

[2020-11-27 09:39] AquilesCanta commented on #8276
Yes, unfortunately I think that's intended. Is there a reason not to pass a context as expected, aside from the potential extra plumbing required?

[2020-11-27 10:20] AquilesCanta commented on #7296
I would advise against the fragment owning the cast player. You might still want the fragment to use ExoPlayer and have ExoPlayer be released when swiping away from the fragment. But in your case, perhaps the CastPlayer should be owned by something that outlives the fragment (the activity? A service?).

I don't think we will go ahead with the change of not closing the cast connection on release un

[2020-11-27 10:27] AquilesCanta commented on #8285
Have a look at [`Player.getVideoComponent().addVideoListener(yourVideoListener)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.VideoComponent.html). [VideoListener](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/video/VideoListener.html) should get an [`onVideoSizeChanged`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/video/VideoL

[2020-11-27 10:27] #8285 closed, assigned to AquilesCanta

[2020-11-27 10:30] AquilesCanta commented on #8288
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-11-27 10:31] deepaksmindiii commented on #8285
Thankyou for commenting

[2020-11-27 10:46] sc941737 commented on #5417
So now that Kotlin Synthetics are getting deprecated (:c) and will no longer be in use past September 2021, we really need this ASAP!

[2020-11-27 10:48] AquilesCanta commented on #7531
I'm not sure I'm understanding correcty. You don't have to prepare the DrmSessionManager as a reaction to the error, but rather as a step parallel to playback start/stop. So the steps will happen in the following fashion:

1. The user want's to play live content.
2. You create the DrmSessionManager here. You also call prepare. I think it's safe that you do it on the main thread. The lifecycle of y

[2020-11-27 11:21] andrewlewis commented on #8239
The above commit on `dev-v2` should fix the issue. I think the minor release that will pick this up is planned for early December (but we can't commit to a schedule I'm afraid).

If you need this urgently you could try making the equivalent one-line bug fix in `ImaAdsLoader` as from that commit. You need to depend on sources to do that though.

[2020-11-27 11:21] #8239 closed, assigned to andrewlewis

[2020-11-27 12:58] chladto1 opened #8290 "Random crashes in IMA"
### Issue description
Could you please take a look at these logs? These are crashes from Firebase, we do not have any context but hopefully you will found some issue to fix.

### Reproduction steps
Unknown

### Link to test content
Unknown

### A full bug report captured from the device
**Crash 1**
[code]

**Crash 2**
[code]

### Version of ExoPlayer being used
2.11.8

### Device(s) and version(s)

[2020-11-27 13:05] chladto1 opened #8291 "Crash with Chromecast"
### Issue description
Could you please take a look at this log? This is crash from Firebase, we do not have any context but hopefully you will found some issue to fix.

### Reproduction steps
Unknown

### Link to test content
Unknown

### A full bug report captured from the device
[code]

### Version of ExoPlayer being used
2.11.8

### Device(s) and version(s) of Android being used
Honor 9 Lite, A

[2020-11-27 13:42] Stonos commented on #7296
I'm using my own version of `CastPlayer` where I have removed the call to `endCurrentSession` when calling `release` and restoring the session seems to be working mostly* fine (i.e. the `PlayerView` shows correctly the position/duration of the media that's being cast). Is there anything else that needs to be done?

*Sometimes I have to pause and & unpause the video in order for the position/durati

[2020-11-27 13:50] AquilesCanta commented on #7296
We need to rebuild the timeline and any other state that may be missing. Of course, we need to have the position/duration work correctly too.

[2020-11-27 13:56] andrewlewis commented on #8199
@Manvendra-Jadon If you enable logging (via `ImaAdsLoader.Builder.setDebugModeEnabled`, or by hardcoding `ImaAdsLoader.DEBUG = true` on old versions), you can see the IMA SDK logs:

[code]

when it tries to load the midroll. The midroll is there (at 00:14:17.056) and the postroll is there too, but the IMA SDK thinks they are not valid for playback. I'm afraid I'm not familiar enough with VAST/VMAP

[2020-11-27 13:56] #8199 closed, assigned to andrewlewis

[2020-11-27 14:05] andrewlewis commented on #8205
Sorry for the delay. I don't see any events from the IMA SDK relating to the second ad in the preroll ad pod, which is unexpected. I'll check the AdvancedExample to find out why it's working there, and then see if we can at least time out the ad loading to avoid playback getting stuck. Please let me know if you've found out anything else about what's going on since filing this.

[2020-11-27 14:06] AquilesCanta commented on #8282
Agreed the line:
`OMX.qcom.video.decoder.avc, Format(1, null, null, video/avc, null, -1, null, [3732, 1902, 25.0], [-1, -1])`
looks very weird. And that's definitely on the ExoPlayer side, so that's good news. I have checked whether ExoPlayer tries to configure the decoder with the wrong size (3732, 1902) before attempting the right size, but it doesn't seem to be the case, and the right size is b

[2020-11-27 14:06] Achibana commented on #7531
Hi @AquilesCanta, your understanding is correct and the proposal is working. thanks for the support.
It's still a little bit strange to add a prepare before playing the stream but anyway it works :)

[2020-11-27 14:10] AquilesCanta commented on #8283
Yes, I think it's better if we split this into two. I'll modify this issue to keep the `DefaultAudioSink.getEncodingAndChannelConfigForPassthrough` here, and you can file a fresh issue for the TS issue. Thanks for the report.

[2020-11-27 14:14] AquilesCanta commented on #8283
@krocard mind taking a look into this? I suspect this assertion failure is caused by `Assertions.checkNotNull(format.sampleMimeType)`. We should figure out under what circumstances that may happen. Or perhaps there's a better candidate cause for the assertion failure?

[2020-11-27 16:08] AquilesCanta commented on #8284
I don't know how QuickTime or VLC calculate the duration, but this file is an mp3 file with no duration metadata, so any provided duration is served on a best-effort basis. Just for the record, ffplay calculates a similar duration to ExoPlayer (Duration: 01:22:20.47), so I'm not 100% convinced this difference is caused by ExoPlayer doing something wrong, but rather using a constant bitrate approac

[2020-11-27 16:16] AquilesCanta commented on #8289
This is correct. You can only pass a "leaf" media source (DashMS, HlsMS, ProgressiveMs, etc).

Can you explain what the expected behavior of ClippingMediaSource(ConcatenatingMediaSource, ...) is? Perhaps we can find an alternative way of achieving the same?

[2020-11-27 16:31] AquilesCanta commented on #8291
I don't think we will be able to assist much with this amount of info. I've contacted a team that may be able to shed some light but I cannot make any promises.

[2020-11-28 16:24] ridanasif commented on #8189
I have setup the DashDownloader for caching dash streams. The problem is that the player only plays the lowest quality and it does not adapt the quality eventually after caching. What am I doing wrong? Please help.

[2020-11-28 17:14] menscikov opened #8292 "RequestProperty "Referer" not working with CronetDataSourceFactory"
**Issue description**
If i set "Referer" header using `new DefaultHttpDataSourceFactory()`, then everything works fine.
But if i set "Referer" using `new CronetDataSourceFactory()`, it's not working.

I'm setting "Referer" header with `getDefaultRequestProperties().set()`.

**Reproduction steps**
1. Open **demo** app in Android Studio;
2. Find **DemoUtil.java** class and go to the **getHttpDataSou

[2020-11-28 21:32] theli commented on #8261
Bug report provided via email. If there is any additional information needed, please let me know.

[2020-11-28 21:58] moneytoo opened #8293 "Subtitles can be cropped - why is SubtitleView inside AspectRatioFrameLayout?"
When I use ``styledPlayerView.setResizeMode(AspectRatioFrameLayout.RESIZE_MODE_ZOOM)``, it sizes video the way I want but it can also cause the subtitles to be cropped outside the screen.

I can fix that by taking out ``SubtitleView`` from ``AspectRatioFrameLayout`` and putting it just outside of it (in [exo_styled_player_view.xml](https://github.com/google/ExoPlayer/blob/r2.12.1/library/ui/src/ma

[2020-11-29 02:04] #8121 closed, assigned to ojw28

[2020-11-29 15:21] punitagoel2403 commented on #8093
I have made it better by moving the addview method from onScrollStateChanged to onPlayerStateChanged( ready state)

Still it was failing sometimes, so I added a handler, which keeps checking if video has started and the pointer for some reason didn't go to onPlayerStateChanged method.

It is lot better, as in if black screen appears and we scroll once and back then it gets displayed. But still it

[2020-11-29 15:45] Manvendra-Jadon commented on #8199
@andrewlewis Thanks.
Will notify our team to check the same.

[2020-11-30 01:54] PeOS-China commented on #8289
I need to link multiple videos into a video that can be played seamlessly. This video is a two-dimensional array composed of concatenatingmediasource. Multiple videos in the first dimension are played circularly and called player.next The second dimension video will be played when () player.next (), there will be a one second stuck delay. These videos are all local videos. The code is as follows:

[2020-11-30 02:27] hyl0376 commented on #8205
Thanks for your kind support. It works fine on exoplayer 2.11.4(which I have used before 2.12.1 update) so I guess it seems to be due to preloading ads.
I'll continue to dig into the problem, too, so let me know if there is anything new.

[2020-11-30 03:38] tuesda commented on #8284
@AquilesCanta Thanks for your response, I will close this issue.

[2020-11-30 03:38] #8284 closed, assigned to AquilesCanta

[2020-11-30 09:56] AquilesCanta commented on #8261
Hi, the provided bugreport doesn't include the stacktrace that you provided in the original post. Please provide a bugreport (captured by running `adb bugreport` on the command line) captured shortly after experiencing the described issue in the ExoPlayer demo app. In order to ensure that the bugreport is useful, please use the demo app and check that the bugreport contains the `ExoPlaybackExcepti

[2020-11-30 09:59] AquilesCanta commented on #8293
@icbaker, would you mind taking a look at this?

[2020-11-30 09:59] stari4ek opened #8295 "IllegalArgumentException from AacUtil.getSamplingFrequency"
Issue split from #8283

### [REQUIRED] Issue description
I'm getting this error reported to crashlytics:

[code]

[code]

### [REQUIRED] Reproduction steps
Callstacks are from automatic error reports and I can not reproduce them locally

### [REQUIRED] Link to test content
Errors are from automatic error reports and I do not own media

### [REQUIRED] A full bug report captured from the device
n/a

[2020-11-30 10:24] AquilesCanta commented on #8289
@tonihei, mind looking at this? I'm under the impression that it looks similar to [Internal ref: b/174093168]?

[2020-11-30 10:42] tonihei commented on #8289
@PeOS-China  Am I right in assuming that you want to merge all video of one lesson together as if they were one single video?
  - They will be played together seamlessly.
  - The total duration as shown in our default time bar UI will show the total duration all videos in one lesson.
  - When calling `player.next()` the player will start playing the next lesson.
  - Setting `REPEAT_MODE_ONE` will

[2020-11-30 10:42] AquilesCanta commented on #8275
In general, MediaPlayer being able to play something that ExoPlayer is not is able to play is a good starting point to fix the issue. In this specific case, not so much. Device manufacturers are able to modify the MediaPlayer implementation. It's possible that they know some quirk/bug in their codecs -that we don't- which they work around in their media player implementation. These quirks/bugs wer

[2020-11-30 10:42] czeall opened #8296 "The position of getcurrentposition after seekto of HLS resource is not accurate"
### [REQUIRED] Issue description
Recently, I have been working on time point related requirements,After the HLS resource seekto, the getcurrentposition location is not accurate，If the seek operation is not performed, the getcurrentposition position position is obtained normally。

I want to know how to accurately get the current playback position after the seek operation when playing HLS type resou

[2020-11-30 11:26] yoobi opened #8297 "How to display multiple download notifications ?"
### [REQUIRED] Searched documentation and issues
I've found this issue https://github.com/google/ExoPlayer/issues/4494 and this page https://exoplayer.dev/downloading-media.html#creating-a-downloadservice

### [REQUIRED] Question
I've got exactly the same question as the issue https://github.com/google/ExoPlayer/issues/4494 but I didn't get the answer, would you be so kind to details it a bit more

[2020-11-30 11:47] czeall commented on #8296
Premium Processing

[2020-11-30 13:53] sedubois commented on #8279
Thank you @AquilesCanta

Once again the request here has nothing specific to video or audio, and I would expect this to get reflected in the implementation. The ExoPlayer main demo already essentially does not distinguish much between audio and video, which I find a great strength. This is the primary reason why we were able to integrate it in our app and avoid the complexity of having separate co

[2020-11-30 14:14] AnassHmida opened #8298 "No download progress after Phone restart on exoplayer"
Good evening ,
I'm trying to fetch download progress by listening on the `DownloadManager` 's `ProgressListener`, everything works perfectly (Example i remove the internet connection then restore it ( either wifi or LTT )) and no problems show until i restart my phone while the download is going on.

Problem :
After my phone restarts and i launch the APP , the downloadService starts but the progre

[2020-11-30 14:48] theli commented on #8261
I did as suggested but I am not seeing this error in adb report. I can get it from logcat. When I play a file in demo app I get Playback Failed message and exception in logcat however it does not crash.

[2020-11-30 15:48] AquilesCanta commented on #8279
You need to create a service, like [UAMP](https://github.com/android/uamp) does. Otherwise, the system may choose to kill your app.

When you detect that the user navigates away from your fragment, you need to tell the component owning the player (which probably runs on the playback service) to pause or release the player. This step is unrelated to ExoPlayer and there is literature available in th

[2020-11-30 15:59] newtestpage opened #8299 "m3u8 link is not showing on demo app"
Hi
I tried to play this link on demo but it was unsuccessful . it plays in another player but it has problem with exoplayer .
"https://nrpus.bozztv.com/36bay2/gin/irib3-in/video.m3u8"

could you check it please ?
Thanks

[2020-11-30 16:05] sedubois commented on #8279
This is done already: https://github.com/sedubois/ExoPlayer/compare/release-v2...sedubois:background-playback#diff-9a0c7dc9f52200b2c99a7e7ba7bbd7770d2bcd467e8d23a1ff1fd96f534bd228R320

NB: when I comment out `releasePlayer()` in `onStop()`/`onPause()`, I can already observe that playback continues once the screen gets locked, so this confirms the service is running. (However it also continues play

[2020-11-30 16:13] dturner commented on #8279
I agree with @AquilesCanta. Move the responsibility of playback into a service, specifically a [`ForegroundService`](https://developer.android.com/guide/components/foreground-services), this is able to continue playing when the screen is locked.

Take a look at the `MusicService` class in UAMP for a reference implementation: https://github.com/android/uamp/blob/main/docs/FullGuide.md#musicservice

[2020-11-30 16:17] AquilesCanta commented on #8279
Yeah, I'm sorry I didn't have a look. Along the same lines, we cannot assist ExoPlayer users in general Android development practices. This is more related to Android Activity lifecycle than it is about ExoPlayer. If you have issues which relate specifically to ExoPlayer, or questions around the ExoPlayer API, we can help. Otherwise, please continue using Stack Overflow or other relevant projects

[2020-11-30 16:17] #8279 closed, assigned to AquilesCanta

[2020-11-30 16:48] christosts commented on #8230
We pushed commit [a8365c2](https://github.com/google/ExoPlayer/commit/a8365c2cca37917cb8aa4a2e9c0936b1cdada18e) on the dev-v2 branch. I'd appreciate if you can spend 5' testing this on your Nexus device.

[2020-11-30 16:50] christosts commented on #8295
@krocard  can you take a look?

[2020-11-30 16:53] christosts commented on #8297
@marcbaechinger can you take a look?

[2020-11-30 16:57] christosts commented on #8298
@marcbaechinger can you take a look?

[2020-11-30 17:04] marcbaechinger commented on #8189
I can't really tell what how you setup playback from the information you provide. I guess you should are using `streamKeys` which is what you should avoid. Make the player start with the lowest quality (or the quality you downloaded) for starting quickly with the cached data. The player should then adapt as soon as possible to what is possible with the actual bandwidth.

Please note, this is an ad

[2020-11-30 18:00] Ste-RH commented on #8230
I can report that the issue appears fixed running on my Nexus device 👍

(happy for you to close this one if you see fit)

[2020-11-30 18:03] christosts commented on #8230
Thank you for the assistance!

[2020-11-30 18:03] #8230 closed, assigned to christosts

[2020-11-30 18:27] jandresakis commented on #8297
You should take a look at the DownloadNotificationHelper class
https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/DownloadNotificationHelper.java

I just copied it to start and heavily modified it to fit the patterns I use but its a great starting point

[2020-11-30 18:39] icbaker commented on #8293
Thanks for the report - I can reproduce what you're seeing.

I don't know if this is WAI/expected :) It's honestly kinda tricky to reason about...

Some subtitles will have been carefully designed to line up exactly with in-video content (e.g. the translation for a sign, especially in anime), so they **need** to be transformed with the video like you're seeing (otherwise they won't be in the right

[2020-11-30 18:54] moneytoo commented on #8293
Thank you for the info.

One more thing that comes to my mind regarding different sizing of video view vs subtitle view are displays with cutouts. You may want (depending on the type of video of course) to expand video view across the whole screen but inset subtitle view to make sure it's always fully visible.

[2020-11-30 19:14] yoobi commented on #8297
Well I know how to create and customize a notification, my question is how can I make to show multiple notification ? The issue is with `Notification getForegroundNotification(@NonNull List<Download> downloads)`

[2020-11-30 19:20] jandresakis commented on #8297
I dont think you would want multiple notifications. You would be better off showing one notification with multiple progress bars using a custom view in the notification. Then you would just take into account the progress of each on going download and update the UI accordingly. That's just my opinion of course.

You could start here - https://developer.android.com/training/notify-user/custom-notifi

[2020-11-30 22:30] ojw28 commented on #1807
We don't have capacity to work on this any time soon. We would welcome high quality external contributions. In terms of what that means, I think we'd be looking for:

1. Small incremental changes that are relatively easy to reason about, and are amenable to careful code review
1. Test cases and/or content that (a) allow manual validation of the changes being made, and (b) can be used by tests

[2020-11-30 23:32] #8299 closed, assigned to christosts

[2020-12-01 01:33] czeall commented on #8296
In addition, after the seek operation of playing HLS resources, subtitles will not be consistent with video playback

[2020-12-01 01:37] PeOS-China commented on #8289
When calling player.next (), there will be one second stuck.The data structure I set for the player is as follows：
<img width="1313" alt="image" src="https://user-images.githubusercontent.com/8873336/100700226-eb15ed00-33d7-11eb-83a1-b2cea960e49c.png">

[2020-12-01 01:49] MenShengSeLang opened #8301 "Child threads will have problems releasing the player"
So whether can't release normally

SimpleExoPlayer: Player is accessed on the wrong thread. See https://exoplayer.dev/issues/player-accessed-on-wrong-thread
java.lang.IllegalStateException
at com.google.android.exoplayer2.SimpleExoPlayer.verifyApplicationThread(SimpleExoPlayer.java:1531)
at com.google.android.exoplayer2.SimpleExoPlayer.release(SimpleExoPlayer.java:1293)
at com.dueeeke.videoplayer.

[2020-12-01 01:58] ZhangHui0608 commented on #3751
Hi，have you implemented support for ape format ？could you provide a demo？ thanks

[2020-12-01 02:00] zdxhrjgc commented on #8301
多个播放器列表分页滑动释放会造成卡顿

[2020-12-01 02:01] MenShengSeLang commented on #8301
Multiple player list page slide releases can cause a lag

[2020-12-01 06:14] czeall commented on #8296
There may be an interval error of three to four seconds between the current playback position given by getcurrentposition and the actual playback position of the video after seek operation

[2020-12-01 09:47] nigelmegitt commented on #8293
@moneytoo There's provision for this kind of thing in IMSC: if present, the (optional) [`ittp:activeArea`](https://www.w3.org/TR/ttml-imsc1.2/#ittp-activeArea) attribute provides guidance to players about which parts of the rendering area actually contain subtitles. The same attribute is also included in [EBU-TT-D (PDF)](https://tech.ebu.ch/docs/tech/tech3380v1_0_1.pdf)

Normally with positioned s

[2020-12-01 10:02] tonihei commented on #8289
This is probably related to the fact that the player needs to load and decode the next media first. There is also #3327 that tracks improving this use case.

So in summary, I think you mentioned multiple work in progress enhancements that are tracked elsewhere:
 1. Support clipping of multi-period content (for example a ConcatenatingMediaSource): #6234
 2. Support merging multiple items to one pla

[2020-12-01 10:02] #8289 closed, assigned to tonihei

[2020-12-01 10:05] ridanasif commented on #8189
This is my code:
[code]

The video contains 5 streams ( 240p, 360p, 480p, 720p, 1080p). If I want to cache only the lowest quality, I should do it with StreamKeys, right? With this code, the video is always in the lowest quality and it does not seems to switch between the video qualities. Where did it go wrong? Please help. This is the only issue I have right now. If this gets solved, then everyth

[2020-12-01 11:44] marcbaechinger commented on #8297
I agree as a user I would probably prefer a single notification telling me about whats going on in one place. That may be an opinionated and personal view though.

Technically, when running your download service as a foreground service you need to return one notification from `Notification getForegroundNotification(List<Download> downloads)`. This notification is used for the foreground service to

[2020-12-01 11:50] christosts commented on #8301
Hi, it appears that your application has an issue releasing the player from a wrong thread, and you have found the documentation for this. It's not clear however what exactly is the issue you are facing. Can you please provide a more detailed explanation of the problem?

[2020-12-01 12:34] marcbaechinger commented on #8189
Yes, download with stream key, playback without. That seems about right in your code.

Look into the track selector to see what decision it takes. The code above seems to download and immediately start playback. Try to figure out what effects this has on the bandwidth meter's measurements (like how does it behave if you don't do the downloading or similar). I don't think I can help you in detail I

[2020-12-01 12:43] ridanasif commented on #8189
Thank you. But before using caching, the player did adapt progressively. Will research more about trackselectors. Regards.

[2020-12-01 13:26] Ste-RH opened #8304 "Is it possible to determine video bit depth (8 bit, 10 bit, etc) ?"
### [REQUIRED] Searched documentation and issues
I have hunted through ExoPlayer git issues, stack overflow and Android API documentation.

### [REQUIRED] Question
I am hunting for a way to determine the bit depth of a video either prior to, or during playback.  Is there anyway to determine if a video is 8-bit, 10bit, etc?

[2020-12-01 13:26] czeall commented on #8296
#EXTM3U
#EXT-X-ALLOW-CACHE:YES
#EXT-X-VERSION:3
#EXT-X-KEY:METHOD=AES-128,URI="key.txt",IV=0xe8513fff57d996636154d5dd14855127
#EXT-X-TARGETDURATION:10
#EXTINF:9.92,"417376"
2d5baeae9cb36adce422f50aaa75be33-000.ts?VideoId=20220966&Schema=cif&Speed=10&Type=video
#EXTINF:9.92,"397072"
2d5baeae9cb36adce422f50aaa75be33-001.ts?VideoId=20220966&Schema=cif&Speed=10&Type=video
#EXTINF:9.92,"395376"
2d5baea

[2020-12-01 13:56] Manvendra-Jadon opened #8305 "Some videos not playing on FireTV"
Some of the videos are not playing on FireTV. I am using the following FireStick: https://www.amazon.in/gp/product/B07ZZX5ZSW/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1

**Same video is playing fine on android simulator.**

Exception is thrown, here is the stack trace:

com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, vi

[2020-12-01 14:25] christosts commented on #8292
Update: I can verify this happens with ExoPlayer 2.12.1. Although the ExoPlayer sets the header, it seems that specifically the "Referer" header is not transmitted, while other custom headers are transmitted. I will need to investigate further, it seems that there is something happening later in the software stack.

[2020-12-01 15:46] christosts commented on #8305
This issue is similar to #7172

The video resolution seems to be 2K, which is probably outside the capabilities of the device

com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/avc, null, -1, null, [**2048, 1080**, 24.0], [-1, -1]), **format_supported=NO_EXCEEDS_CAPABILITIES**

The link to the FireTV page mentions that th

[2020-12-01 15:46] #8305 closed, assigned to christosts

[2020-12-01 16:13] Manvendra-Jadon commented on #8305
Thanks for the quick reply @christosts . I will convey the same to our team.

[2020-12-01 16:45] RichardDapice commented on #5935
Also facing this issue, did anyone have any luck in regards to a solution?

[2020-12-01 17:24] krocard commented on #8295
From the stack trace, the AAC packet has an invalid frequency index:
https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/library/common/src/main/java/com/google/android/exoplayer2/audio/AacUtil.java#L333-L350

The 4 bit frequency index should either be 15 (arbitrary, specified in the next 24 bits) or < 13 and correspond to the predefined frequency table.

A frequency

[2020-12-01 17:53] master255 commented on #8190
@google-oss-bot This is your module. You should test it, not me. If you are not interested, I can do nothing to help.
I switched to VLC. It has a better sound and a better picture.

[2020-12-01 18:47] Stonos commented on #8108
Hello, any updates on this?

Thanks!

[2020-12-01 19:09] krocard commented on #8283
An audioformat must always contain a `sampleMimeType`  as checked at the last line of:
https://github.com/google/ExoPlayer/blob/ffea2a64b30f40bb298a6f97b9a0ec828312c138/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L1445-L1453
is the new input format passed to `MediaCodecRenderer.onInputFormatChanged`
https://github.com/google/ExoPlayer/blob/be13805ce4e22231a

[2020-12-01 19:22] krocard commented on #8014
The workarounds have been merged.

[2020-12-01 19:22] #8014 closed, assigned to krocard

[2020-12-01 21:35] rrfrias commented on #8039
Thanks for the bugreport. It appear to be a problem with the SoC crypto library. This is a problem we are investigating. We would like your permission to share this bugreport with Qualcomm. Do let us know if you are willing to grant us permission.

[2020-12-01 21:45] baconz commented on #8039
@rrfrias yes, that is fine with me.

If we're getting Qualcomm involved, I'm assuming it might be a little while before there's a fix up. Would it make sense to move forward with a re-provisioning API in the mean time?

[2020-12-01 22:55] jt64 commented on #8175
Provisioning is installing a drm certificate from the provisioning certificate server. An app needs to provision before it is able to get licenses to play drm content. I see you are using ExoPlayer, so your app isn't directly using the mediadrm APIs. Olly is there a way for an app to force provisioning through ExoPlayer?

[2020-12-02 03:51] zdxhrjgc commented on #8301
因为这边viewpage2 存放多个播放器，翻页时播放器在主线程释放卡顿明显，子线程释放便会提示这个错误

[2020-12-02 03:51] MenShengSeLang commented on #8301
Because viewPage2 here holds multiple players, it is obvious that the player is releasing the clip in the main thread when the page is turned, and the release of the child thread will prompt this error，Would like to ask what is a better way to release

[2020-12-02 07:53] ZhangHui0608 opened #8306 "playing flac format audio，when play end，it can't callback onPositionDiscontinuity （r2.12.1）"

[2020-12-02 08:21] yoobi commented on #8297
Okay that's what I was going for but I wasn't sure it was the right solution. I was also thinking of using [group notification](https://developer.android.com/training/notify-user/group) with it

@jandresakis do you have an example of what you've done ?

[2020-12-02 09:04] czeall commented on #8296
Can anyone help with the problem?

[2020-12-02 09:48] kennykarnama opened #8307 "Failed to play manifest that has presentationTimeOffset And startNumber > 1"
When reporting a bug:
-----------------------

### [REQUIRED] Issue description
Hi, i tried to add presentationTimeOffset to my manifest and play it using demo application exoplayer. But it can't be played or sometimes it is playable but audio is out of sync.
As i suspect, may be there is something wrong with my manifest, i tried to play using dash.js. It was successfully played and the audio is s

[2020-12-02 10:39] tonihei commented on #8283
The track selection wouldn't select the audio renderer for a null sampleMimeType.
Regardless of that, it should be more robust to just return false from supportsFormat if the mimeType is null. WDYT?

[2020-12-02 11:35] fernandojoliveira commented on #771
Hi, any news regarding this feature of having multiple BaseURL on the manifest?
"If multiple BaseURL elements are available, the client may also check for alternative in-
stances of the same content that are hosted on a different server."

[2020-12-02 14:48] christosts commented on #8296
This is a case where need a piece of media to test with; we need a link to media that reproduces the issue. You mention that the media is not publicly available but we cannot investigate without them. Can you please prepare a sample that reproduces the issue and is accessible to us, and the email the link to dev.exoplayer@gmail.com with the subject "Issue #8296". If yes, please update this issue a

[2020-12-02 15:20] MattAshland commented on #3751
This is Matt Ashland, the author of Monkey's Audio.  Just know I would love to see Exo add APE support.  The APE SDK builds on Android, but doing it with ffmpeg would be great too.  Please write mail at monkeysaudio dot com if you want any help.  Thanks.

[2020-12-02 16:33] christosts commented on #8307
~~Quick update: I'm able to play the manifest with 2.12.1 but not 2.12.2. Investigating where there's a regression on DASH live streaming in 2.12.2.~~

~~@kennykarnama, in the meantime, can you verify the stream works for you in 2.12.1?~~

**[update]**
I probably hit false positives, the first few attempts on 2.12.1 worked fine and I assumed that's the case in general, but I'm also seeing playback

[2020-12-02 18:05] austinchristensen opened #8308 "CMAF Content No Longer Working on v2.12"
### Issue description
CMAF streams that worked on v2.11 of exoplayer no longer play on v2.12, giving the error: Caused by: com.google.android.exoplayer2.ParserException: Cannot find sync byte. Most likely not a Transport Stream.
Seems to be related to this issue: https://github.com/google/ExoPlayer/issues/8219
However, to us this seems to be a regression. We are having content that has been workin

[2020-12-02 19:28] christosts commented on #8307
The presentation time offset in the manifest is set to 780 seconds and each segment has a duration of 2 seconds. I modified ExoPlayer to ignore the presentation time offset and the player starts playback at 778 seconds, so I'm assuming (but have not verified yet) that the first segment's PTSes start at 778 seconds - startNumber is 390 in the manfiest.
Considering that segment duration is 2 seconds

[2020-12-02 19:29] jandresakis commented on #8297
Ive never used the group notification but that might be a nice approach.

The way I used their example kinda looks like this. Sorry but the app is not mine so I can't share specific implementation stuff:

here would be my custom notification helper
[code]

and then my service that extends from DownloadService uses it like this

[code]

In your case use which is probably close to mine I would do it

[2020-12-02 22:31] christosts commented on #8307
I may have made an off-by-one mistake here myself. If segment numbers start from 1, then segment 391 (and not 390) should start at 780 seconds ( `(780 / 2) + 1` because segment no 1 starts at 0 seconds)

[2020-12-03 02:04] #8166 closed, assigned to lcf87

[2020-12-03 02:04] #8136 closed, assigned to andrewlewis

[2020-12-03 02:09] czeall commented on #8296
The information has been supplemented and the HLS test media has been sent to the mailbox

[2020-12-03 02:51] kennykarnama commented on #8307
Hi @christosts, thanks for replying.

i tried to change the segment number start to become 391, but still the playback failed.
Also the issue was reproduced if i use bitmovin stream tester.

So, I tried to cross check if it is true that segment 391 occur at 780 seconds by looking on first segment timestamp creation until it reach 780 seconds, and found that it should be segment no 381

i tried to

[2020-12-03 03:11] czeall commented on #8296
This test uses ijkplayer (the bottom layer uses ffmpeg and ffplay) to play the video. The obtained time stamp of the current playback position corresponds to the actual playing position of the video. I hope this information can help solve the problem.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-12-03 05:06] GouravSna commented on #8196
Hi @kim-vde @AquilesCanta , Please let us know if we have any update on it.

[2020-12-03 07:30] mazWaz opened #8309 "Error inflating class on PlayerView"
### Issue description
Error inflating class on com.google.android.exoplayer2.ui.PlayerView

### [REQUIRED] Reproduction steps
Error layout viewdatabinding xml on playerview

### Link to test content
val decodedString: ByteArray = Base64.decode(it.data.substringAfter("base64,"), Base64.DEFAULT)
 val byteArrayDataSource = ByteArrayDataSource(decodedString)
val factory =DataSource.Factory { byteArray

[2020-12-03 09:18] Daktm opened #8310 "Play mp4 video get "Skipping atom with length > 2147483647" error."
[code]

[2020-12-03 09:19] Daktm commented on #8310
Exoplayer 2.12.1

[2020-12-03 09:42] AquilesCanta commented on #8291
Hi, the team in charge of MediaRouter was able to narrow down the possible causes of the issue, but mentioned that there is not much which is actionable on our side. Is it possible that the media router version that you are using is old? If so, they advised you try updating the library version.

Other than that, the ExoPlayer team is not able to help much here, since the issue is not even occurrin

[2020-12-03 09:42] #8291 closed, assigned to AquilesCanta

[2020-12-03 09:44] mazWaz commented on #8309
SOLVED
https://github.com/google/ExoPlayer/issues/5138#issuecomment-450807968

[2020-12-03 09:44] jianxiaobai999 opened #8311 "Play the HLS video"
How can I make the cache last while playing HLS video so I can play it smoothly

[2020-12-03 09:44] #8309 closed, assigned to ojw28

[2020-12-03 12:45] christosts commented on #8304
I don't think there's an easy way to reliably figure this out. The ultimate source of truth is in the media bitstream, but ExoPlayer does not go into that level of depth, and color depth information cannot be obtained from the platform (MediaCodec) reliably either.

There may be a few cases ExoPlayer can offer a hint based on the codec profile level, but this seems to be specific to the kind of me

[2020-12-03 12:53] christosts commented on #8308
@kim-vde can you take a look?

[2020-12-03 12:55] AquilesCanta commented on #8308
This is actually most likely an HLS issue. I can take a look.

[2020-12-03 12:58] christosts commented on #8310
Please provide complete information as requested in the issue template, specifically the information around test content. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", wh

[2020-12-03 13:17] AquilesCanta commented on #8308
The reason for this is that the mp4 files report brand iso9 which is not yet listed as supported.

I haven't checked yet what changed since 2.11, since it seems unlikely that we removed supported brands at any point. In any case, this will most likely be fixed in the next release. And a commit will appear here once we've pushed a fix to the dev-branch.

[2020-12-03 13:32] ojw28 commented on #8308
This seems identical to https://github.com/google/ExoPlayer/issues/8219. I'm not really sure I follow some of the comments on that issue. In particular:

It looks like we _did_ fall back according to extension in 2.11 ([here](https://github.com/google/ExoPlayer/blob/r2.11.0/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/DefaultHlsExtractorFactory.java#L181)), and that we no lon

[2020-12-03 14:06] Ste-RH commented on #8304
It will be user content, so absolutely anything under the sun that ExoPlayer supports!

[2020-12-03 14:56] christosts commented on #8307
If the segments have a duration of 2 seconds, then segment 381 should start at 760 seconds. I do see 760 that when testing with the latest manifest. However, when I override the startNumber to 391, playback works fine (tested with 2.12.2 on a Pixel 4). Can you please try again with startNumber set to 391 for both video and audio (assuming both tracks have a fixed 2 seconds duration). If that fails

[2020-12-03 15:12] apptrash opened #8312 "Support different #EXT-X-PROGRAM-DATE-TIME tags for different #EXT-X-DISCONTINUITY sections"
# Problem
There is a chance that HLS content provider may produce discontinuities in stream. For example, because the server was restarted. In this case, according to the standard (https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-08#section-4.4.4.3), there must be #EXT-X-DISCONTINUITY tag in manifest. As far as I can understand, exoplayer will try to correct the position using the PTS. In g

[2020-12-03 15:59] christosts commented on #8306
For general questions, we have a template issue that mentions the information we need. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Overall, I'm not sure why the onPositionDiscontinuity is expected. Can you provide more information? The issue template can help.

[2020-12-03 16:09] jgainfort commented on #8308
Thank you for taking a look!

Regrading iso9, the files we provided were made generically through encoding.com which alot of our clients use. That cmaf file plays everywhere for us except this one particular version of Exo. It would be a hard sell to say that we need to change our encoding just for this one particular version. 2.12 brought a fix that we needed in regards to DRM and clear contet ad

[2020-12-03 17:20] christosts commented on #8296
Hi @czeall,

Thank you for sending the content. I played the content with the ExoPlayer demo app, using versions 2.11.1 (which you mention in the issue description) and 2.12.2 (the latest version). In both cases, after a seek is performed, Player.getCurrentPosition() returned the exact position of the seek.

May I ask:
- Do you observe the issue when playing the content with the ExoPlayer demo app

[2020-12-03 17:31] alex3d commented on #8312
I don't think that's a good idea because it will confuse window/playlist position and duration with wall clock position/duration based on EXT-X-PROGRAM-DATE-TIME.
I suggest:
1) Ignore PTS diff on EXT-X-DISCONTINUITY (and probably any PTS diff that makes the current segment larger than the duration specified in EXTINF). It will make `currentPosition` consistent whether we have reached it with or wi

[2020-12-03 17:32] christosts commented on #8312
@AquilesCanta can you please evaluate this enhancement suggestion?

[2020-12-03 17:54] ojw28 commented on #8039
@baconz - Just to clarify, this would only be for convenience, right? Application code would still trigger the API manually, and its benefit is just that application developers wouldn't need to implement re-provisioning themselves. I don't think we want to start re-provisioning automatically in the library, because (a) I don't think we have a way of being certain that re-provisioning is the correc

[2020-12-03 18:00] ojw28 commented on #8108
It's quite tricky to implement automatic L3 fallback inside the player in a robust way, because in practice application code in apps that use ExoPlayer quite commonly queries the Widevine level and performs logic based on it prior to starting a playback. For example, some applications will send the Widevine level when requesting content from their backend, and their backend will then respond with

[2020-12-03 18:02] ojw28 commented on #8075
I'm not sure there's an easy solution to this, unfortunately, but let's consolidate the discussion in https://github.com/google/ExoPlayer/issues/8108. Closing this as a duplicate of that one. Thanks!

[2020-12-03 18:02] #8075 closed, assigned to ojw28

[2020-12-03 18:03] ojw28 commented on #7986
Discussion around automatic fallback to L3 is being consolidated in https://github.com/google/ExoPlayer/issues/8108. Please use that issue to discuss this further. Thanks!

[2020-12-03 18:18] icbaker commented on #8108
This is also why we can't really do automatic fallback even if an app opts-in (i.e. tells us they're not doing any logic based on querying the Widevine level outside ExoPlayer).

No we didn't come up with any short term solutions unfortunately.

[2020-12-03 18:32] ojw28 commented on #8196
Note: This only happens with manual track selection. It doesn't happen on adaptive track selections performed by the player during playback.

What you're seeing is the result of a platform limitation related to how secure video playback is implemented. In short, the implementation clears the `Surface` when the decoder is released. It doesn't appear to happen on a Pixel 4 XL running Android 11. I'm

[2020-12-03 22:44] nishantkp opened #8313 "How do I differentiate I-FRAME only tracks?"
### Question
I have a HLS manifest, which supposedly has 5 video tracks but ExoPlayer shows 8 video tracks.
There is a total of **5 variants** and **3 keyframes**. How do I differentiate between **variants** and **keyframes**? I am only interested in **variants** for video track selection.

### Link to test content
 This is the manifest file, it shows 5 variants and 3 keyframes, but when I play it

[2020-12-04 01:33] GouravSna commented on #8196
Thanks a lot @ojw28 😀

[2020-12-04 02:01] czeall commented on #8296
I found the same problem when using exoplayer demo.
I found this problem recently when I was making subtitle plug-in requirements. The main representation is that the audio and video content of the player does not match the current subtitle display. The main logic of the external subtitle module is to display the subtitles corresponding to the subtitle file queue index according to the getcurrentp

[2020-12-04 07:06] lys1737 opened #8314 "Try to playback HLS + TS widevine protected ， playback almost successful with local anomaly sometimes"
### [REQUIRED] Question
Describe your question in detail.
Use Exoplayer version 2.10 , try to playback HLS + TS widevine  protected ，audio AAC/AC3 decode success and playback success ， video H264  decode success but playback disturbed 。

 I set drmInitData  right and get license success。 Parse keyid 、iv and set into H264Reader，AdtsReader。I find SampleQueue get encrypt params like iv，clearSize=9，en

[2020-12-04 09:01] krocard commented on #8283
After discussion with @tonihei, we think that the issue is that the AC3 changed format during playback to a fscod 3. which should stop playback. Unfortunately this is not something that is supported and while it would be preferable to run the track selector again on such format change, this is not how the current format change architecture is designed.

The solution we are going for is to stop pla

[2020-12-04 09:11] DarrelAeturnum commented on #7333
Hi any alternative ways to do this ?

[2020-12-04 09:56] marcbaechinger commented on #7333
I think an alternative would be to create your own update action that you start when `Player.EventListener.onIsPlaying` reports that the player is playing and stop it when the callback reports that the player is paused. If you feel that having an additional action is redundant and too much, you can combine this with registering a `PlayerControlView.VisibilityListener` so you only do this when the

[2020-12-04 10:25] dmitrytavpeko opened #8315 "Playback error when trying to play video"
I try to play a video in the ExoPlayer demo application, but it does not start playing.
**Reprodution steps**:
1) open the video
 adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d https://filesamples.com/samples/video/mkv/sample_2560x1440.mkv

**Expected**: video is playing well
**Actual**: video is not started. An error message appears.

**Bugreport**: sent to email.
**Conten

[2020-12-04 10:37] matamegger commented on #8308
What was a quite strong argument in the other issue is IMO:

This meant to me that there are are 2 ways of fixing this "properly":
- Implementing support for `iso9` brand
- Do not fall back to an unrelated Extractor, but directly fail
- ([specific for my test streams] Correct the brand in the stream, as the `iso9` features are actually not needed)

Admit, I should have more emphasized that this ch

[2020-12-04 11:38] DarrelAeturnum commented on #7333
@marcbaechinger Thanks for that ! I found another alternative. I wrapped the PlayerControlView inside a LinearLayout and hide the visibility of the LinearLayout instead of the PlayerControlView .

[2020-12-04 12:13] ojw28 commented on #8196
The S20 I have was upgraded to Android 11, and still has the same behaviour unfortunately. Closing regardless as a platform limitation, as described above.

[2020-12-04 12:13] #8196 closed, assigned to ojw28

[2020-12-04 12:14] christosts commented on #8315
From the log (and the name of the test content) it looks like the video resolution is 2560x1440 (1440p). However, it appears that the device cannot handle this resolution. From the bug-report (this should appear on the logcat too):
[code]

Notice the video renderer reports that **supported=NO_EXCEEDS_CAPABILITIES**

I suggest to use a resolution that is supported by the device, or try on a device

[2020-12-04 12:14] #8315 closed, assigned to christosts

[2020-12-04 14:20] dmitrytavpeko commented on #8315
Thank you for the answer!
I've tried to play it in VLC player and it plays well. Do you have any future plans to handle such situations or is the ExoPlayer is not designed for this?

[2020-12-04 14:44] christosts commented on #8292
this seems to be related to cronet and not ExoPlayer directly [internal ref 174837576]

[2020-12-04 15:21] christosts commented on #8301
The player requires that all interactions with it happen on the same thread that the player was created. So, if you create the player instance on the main thread, then you need to interact with the player from the main thread.

If you are using multiple players, an alternative is to move all the interactions with the player to another Looper thread. But, you need to create the player instances on

[2020-12-04 15:21] #8301 closed, assigned to christosts

[2020-12-04 15:37] christosts commented on #8311
The question is not clear to me, especially what exactly you mean by `play it smoothly`. Can you please provide more information about the setup and the expected behavior? For questions, we have an issue template that can assist figuring out what to information to include. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md)

[2020-12-04 16:24] mickael-qobuz opened #8316 "MPEG DASH: Support of Flac on devices without Flac decoder"
I cannot make MPEG DASH working with Flac streams on devices that do not contains Flac Decoder (like devices with Android 6.1).
For example ExtractorsFactory cannot be passed to DashMediaSource as it can be passed to ProgressiveMediaSource, so including Flac extension has no real effect for MPEG DASH.

Did I misunderstand something or is it impossible yet to make Flac working with MPEG DASH on the

[2020-12-04 17:22] #8316 closed, assigned to nobody

[2020-12-04 17:23] mickael-qobuz commented on #8316
Using:
`DefaultRenderersFactory(applicationContext).apply {
    setExtensionRendererMode(DefaultRenderersFactory.EXTENSION_RENDERER_MODE_ON)
}`
seems to fix the problem.

[2020-12-04 18:14] baconz commented on #8039
@ojw28 for sure, it would have to manually triggered. I was just thinking it would be nice for the library to provide a convenient and standardized way to do it.

We don't do any offline licensing, and plan to reprovision whenever the user receives `DrmSessionException`, which it a big hammer, but it feels like it is worth it.

[2020-12-04 18:24] christosts commented on #8304
You may be able to get a hint with the following: set a `VideoFrameMetadataListener` on the player instance. This should raise a callback for each frame just before is sent to the screen. The callback contains among others, a Format argument (ExoPlayer's representation for media formats), and a MediaFormat (Android's MediaCodec format representation).

From format, you can inspect the Format.codec

[2020-12-04 18:24] #8304 closed, assigned to christosts

[2020-12-04 20:00] atrope opened #8317 "UnrecognizedInputFormatException only on Android"
Hi,
When trying to run the attached mp3 Exoplayer is unable to find an extractor to play it.

[code]

I Have already tried  to add ffmpeg

`2020-12-04 16:54:41.460 30591-30591/com.google.android.exoplayer2.demo I/DefaultRenderersFactory: Loaded FfmpegAudioRenderer.
`
But it fails before playing...

iOS SMPlayer and Browser audio tag are playing fine the file.
Other Mobile players as VLC also manag

[2020-12-04 20:51] apptrash commented on #8317
I'm not sure, but it seem like your file is damaged. `ffprobe` output:
[code]

[2020-12-04 20:53] griller29 commented on #7009
This issue is fixed in v6.7140 update.

[2020-12-04 20:56] apptrash commented on #8317
Try `ffmpeg -i gasolina.mp3 fixed.mp3`. It will work fine without ffmpeg extension.

[2020-12-04 21:57] atrope commented on #8317
@apptrash I was able to fix that, but why does other players can play without fixing the file and exoplayer can't?
I work with files uploaded by the user.. unfortunately, I can't run ffmpeg to all files.
Maybe I can "force" open as mp3?

[2020-12-04 21:59] apptrash commented on #8313
https://github.com/google/ExoPlayer/issues/474

Take a look at this ticket. Seems like there is no support for #EXT-X-I-FRAME-STREAM-INF tag.

And also look at this: https://github.com/google/ExoPlayer/pull/6270

[2020-12-04 22:04] AquilesCanta commented on #474
This is already fully supported.

I think this bug should have been marked as fixed since the last commit (2b1ec5c). Since then, fmp4 i-frame-only playback was broken, for which I filed #7512. #7512 has also been fixed recently.

[2020-12-04 22:04] #474 closed

[2020-12-04 22:05] AquilesCanta commented on #7512
The fix has been merged. Please reach back to us if you find any further issues with I-FRAME-ONLY variants playback.

[2020-12-04 22:05] #7512 closed, assigned to AquilesCanta

[2020-12-04 22:06] atrope commented on #8317
Exoplayer should be able to play without issues as other players also play it.

[2020-12-04 22:14] apptrash commented on #8317
You can set `audio/mp3` mime type to `MediaItem` but it won't change anything. `.mp3` extension does the same.

[2020-12-04 23:48] MartB opened #8318 "Audio codec switching mid stream with hdmi receiver passthrough produces error on GCWTV"
## Log excerpt (full `adb bugreport` sent via email)
[code]

**Device: Google Chromecast with GoogleTV**

## Sample file
I gathered the following audio-only sample (copyright issues), it switches from AC3 with 5.1 to stereo and back to 5.1
This is enough to freeze the player and prompt the above error when a receiver with passthrough is the audio output.

[sample.zip](https://github.com/google/Exo

[2020-12-05 05:17] sneelavara commented on #8318
@MartB this is different than #8178 . The AudioFlinger error -38 used to happen for us during switching Audio track to AC-3 from non-AC-3 tracks. Sometimes commercials are in stereo and content is in 5.1 channel AC-3. In such case transitioning from content to commercial used to hit this error too.

We found the retry logic from 7dfdde9 , discussed in #7042 is very helpful. The AudioInit failure r

[2020-12-05 09:57] Psychical commented on #8162
Any news?

[2020-12-05 10:58] MartB commented on #8318
@sneelavara Nice, thanks for your quick reply.
I must have totally missed this commit / issue while searching.

Good to know its a known issue, you describe the exact thing thats happening in my sample file.
You can close this at will if you want im not sure if any information i provided is useful for further investigation.

[2020-12-05 16:29] stevemayhew commented on #8318
@MartB I have a Denon receiver with an Android TV and assortment of other Android streamers, I can do a quick try with your stream, we have the fix @sneelavara mentioned back ported to release 2.11.

The fix deals with other unreported discontinuities just fine (we have a stream that goes AC3 to PCM and back). In our case it is HLS, so the change is technically illegal unless it is reported with a

[2020-12-05 22:52] MartB commented on #8318
@stevemayhew i switched to dev-v2 with https://github.com/google/ExoPlayer/commit/7dfdde9246b28ad977ebe712e485033ee688652d and the streams work fine now.
Not sure if its a "proper" fix but for now its enough.

Thanks for the offer though!

[2020-12-06 21:26] MartB commented on #8318
Okay sadly the new dev-v2 branch only works with compileSDK Version set to 30, which kinda crashes my app with a SIGSEGV randomly on api level 29 devices.

That did not happen on the old exoplayer, so im not quite sure whats going on here.
Is there any chance that someone backported this to 2.12?

[2020-12-07 02:03] czeall commented on #8296
Will my question continue to be discussed and resolved?

[2020-12-07 02:04] #8174 closed, assigned to lcf87

[2020-12-07 02:24] sneelavara commented on #8318
@MartB we did port 7dfdde9 to 2.11. Not explored 2.12 yet since we are still on 2.11. But the change 7dfdde9 appears simple and can be easily ported.

[2020-12-07 02:28] ppatlolla-turner commented on #8308
How soon there would be support for iso9 brand by the exoplayer? We are in the middle of updating exoplayer to the latest version(2.12.*).
We at WarnerMedia have a huge catalog of ISO BMFF files encoded using iso9 brand.

[2020-12-07 03:36] ogawa-ma opened #8319 "Crypto key not available occurs when playing Widevine DASH on a specific device"
The conversation in Issue #7356 was locked, I created a new Issue.

<br>

I am very sorry that I took so long. I have received permission to share the bugreport and repro steps with Sony, so please share it.

<br>

We have sent content with a license expiration date of `2020-06-01 00:00:00` to dev.exoplayer@gmail.com.
Please use this content.

Thanks in advance

[2020-12-07 03:47] TmRobust commented on #8275
I have same crash

[2020-12-07 06:55] ybai001 opened #8320 "Add preferred mime type(s) to DefaultTrackSelector parameters"
I'd like to implement a customized TrackSelector. My situations are

1. I don't want to change any code of ExoPlayer core library so that I'll not modify DefaultTrackSelector directly;
2. I know I can do some kinds of customization via setParameter API.

`trackSelector.setParameters(
    trackSelector
        .buildUponParameters()
        .setMaxVideoSizeSd()
        .setPreferredAudioLanguage("d

[2020-12-07 08:50] kim-vde commented on #8295
The frequency index is indeed invalid (see ISO 14496-3:2009 tables 1.13 and 1.18). I will change the exception thrown to a ParserException.

[2020-12-07 09:22] AquilesCanta commented on #8313
Hi, just a quick update, I've updated the referenced bugs to reflect that they have already been addressed (sorry for lagging behind on them!). So I-FRAME only variants are now fully supported. I'll leave the original question to @christosts.

[2020-12-07 09:24] icbaker commented on #8231
Closing due to inactivity - feel free to reply here if you need more info on this topic and we can re-open it, or please open a new issue for something different.

[2020-12-07 09:24] #8231 closed, assigned to icbaker

[2020-12-07 09:26] #8242 closed, assigned to icbaker

[2020-12-07 09:28] icbaker commented on #8234
I'm afraid questions about the behaviour of MediaCodec are outside the scope of this issue tracker (that component lies beneath the ExoPlayer library).

I'm going to close this question due to inactivity.

[2020-12-07 09:28] #8234 closed, assigned to icbaker

[2020-12-07 09:46] AquilesCanta commented on #8162
The media plays well for me on ExoPlayer, including the audio tracks. Are you saying that your device is not playing the audio track?

According to your log, the ffmpeg audio renderer should be playing it:

[code]

Have you tried playing your content on the ExoPlayer demo app?

[2020-12-07 09:51] AquilesCanta commented on #8308
We have added the brand check internally, which will probably make it in the next release (I assume 2.12.3). I cannot provide any timelines for that though.

[2020-12-07 10:00] Psychical commented on #8162
I see only 1 track, then I need to see at least 2... That's the problem. As you show it's just 1 track, but in my sample it have to be 2 tracks.

[2020-12-07 10:19] AquilesCanta commented on #8162
ExoPlayer doesn't currently support multiple multiplexed audio tracks in HLS. Adding support for that is tracked by #2014. If you do some research starting from #2014 and going into other issues that reference it, you will find people customizing ExoPlayer to make it work, but it will require some research on your side.

[2020-12-07 10:19] #8162 closed, assigned to AquilesCanta

[2020-12-07 10:22] kim-vde commented on #8271
I wouldn't add support for type `text` in ExoPlayer because this is the only issue reporting this (as far as I am aware of), I couldn't find anything about this type (in [here](https://cconcolato.github.io/mp4ra/codecs.html) for example) and because there is no apparent link between type `text` and `tx3g`.

Do not hesitate to open another issue if you find information about this type (e.g. other i

[2020-12-07 10:23] #8271 closed, assigned to icbaker

[2020-12-07 10:24] #8148 closed, assigned to kim-vde

[2020-12-07 10:25] #8233 closed, assigned to kim-vde

[2020-12-07 10:25] #8268 closed, assigned to kim-vde

[2020-12-07 11:15] andrewlewis commented on #8186
Supporting playback of ad tags where cue points are beyond the content duration is tracked by #5534.

[2020-12-07 11:15] #8186 closed, assigned to andrewlewis

[2020-12-07 11:37] christosts commented on #8315
I assume you mean you used VLC on the specific device. Can you please inspect the device logs to get a hint on what decoder VLC used? My guess is that VLC is playing the video with its bundled ffmpeg software decoders. If that's the case, ExoPlayer has an ffmpeg extension which currently supports audio, but in the dev branch there's incomplete support for [video](https://github.com/google/ExoPlaye

[2020-12-07 12:59] ojw28 commented on #8175
Providing an API for force provisioning is tracked by https://github.com/google/ExoPlayer/issues/8039.

[2020-12-07 12:59] #8175 closed, assigned to ojw28, jt64, TaruiTakashi

[2020-12-07 13:52] ojw28 commented on #8317
The file seems to be prefixed with a random string:
[code]
The actual valid part of the file starts at byte offset 139. It's almost as if some response headers from a web server have been incorrectly prefixed onto the front of the file.

@kim-vde - `Mp3Extractor` sniffs up to 32KB looking for valid MP3 data, after the ID3 header has been skipped if one is present. However, sniffing does not allow

[2020-12-07 15:00] ojw28 commented on #5952
This feature doesn't seem to have any industry traction, so I think we can go ahead and close the request.

[2020-12-07 15:00] #5952 closed, assigned to ojw28

[2020-12-07 15:23] mhdabbaghy opened #8321 "appending bytes to data source while playing audio"
Hi,
I'm trying to play a realtime voice with Exo player
data bytes comes from a Bluetooth device and the data length is unset
my problem is I didn't find any good doc or example to do that.
this is how I tried to solve the problem:
1- I create a ByteArray and filled it with headers (List<Byte> bytes = new ArrayList()
2- I create Uri from that array
3- create a data source and pass that array to it

[2020-12-07 16:05] yoobi opened #8322 "How tu update TrackSelector ?"
I'm trying to update my trackSelector to reveal what's really shown in the player.
First the user goes to the player with a video he downloaded previously, so my MediaSource is `DownloadHelper.createMediaSource` and my trackSelector is `DefaultTrackSelector(context)`
[code]
The user can delete the downloaded video without leaving the player screen, so I'm updating my `exoPlayer` by using
[code]

H

[2020-12-07 17:27] christosts commented on #8296
This is to confirm we have received the subtitle file and do see that subtitles become out-of-sync with audio/video. I will update the issue when I have more data to share.

[2020-12-07 17:38] cryinrain69 commented on #8262
Looks like I have the same error problem.
**Device**: Vsmart Star 3
**OS**: android 10 (API 29)
**ExoPlayer**: version 2.12.2
link video: [http://mdtv.mediatech.vn/upload/video/video.1605753884.5fb5dc1c48032.mp4](http://mdtv.mediatech.vn/upload/video/video.1605753884.5fb5dc1c48032.mp4)
That link working on android **Vsmart bee 3 (android 9)** device , but not working on android 10 (above device).

[2020-12-07 20:57] stari4ek opened #8323 "Crash: NPE in HlsChunkSource.onPlaylistError"
I'm seeing small amount of crashes with callstack:
[code]

It does not look like issue with stream itself, since all the time when this crash happens stream is being played quite a long time:
[code]

I do not have exact steps or stream itself. According to logs it happens out of the blue.
It looks like some race condition and

- ExoPlayer: 2.12.1
- Android version: 7,8,9
- Android devices: Amazon

[2020-12-07 21:48] kgrevehagen opened #8324 "Lazy load url for download"
In order for me to get a url for downloading content, I need to send a request with an id to our servers. When queuing many tracks for download, this does not work quite well(urls would expire, it would take too much time up front etc), so I need a system that lazily sends the said request when it is time to actually download each track.

I can't find an out-of-the-box solution to accomplish this.

[2020-12-07 23:05] a4x4kiwi commented on #8031
Hi Team, Does anyone need more information or samples to progress this. I can even allow access to a laptop with android studio on our multicast network.

[2020-12-07 23:05] atrope commented on #8317
IMHO this could be a decision per app, So i could choose how much i would like Exoplayer search for ID3 Header (as other players are doing by default and that's why they are able to play the file). Default could be 0 and we could set any number of byte offset we want.

[2020-12-08 10:10] MenShengSeLang opened #8325 "Multiple player surfaces will exceed the screen width"
The width of the callback on onSurfaceSizeChanged exceeds the screen，Is there a good solution?I am using com.google.android.exoplayer2.ui.PlayerView

[2020-12-08 10:15] Turalllb opened #8326 "MediaCodec.setOutputSurface"
We already know about this problem and there are quite a few already closed issues. The problem is that some devices do not support DummySurface. And you need to be careful when working with the PlayerLayerView, if you set it visibility to GONE while the player is running, then we will get the below exception. If we pause the video, we need to wait for an unknown time (about 2 seconds on android T

[2020-12-08 10:26] kim-vde commented on #8317
Duplicate of #5718.

[2020-12-08 10:29] kim-vde commented on #8317
I will close this issue as it is a duplicate. Improving handling of non-MP3 and non-ID3 bytes at the start of an MP3 file is in our list of improvements, but it is low priority for now because this type of files is uncommon.

[2020-12-08 10:29] #8317 closed, assigned to kim-vde

[2020-12-08 10:30] kim-vde commented on #5718
As mentioned in https://github.com/google/ExoPlayer/issues/8317#issuecomment-739931330, we should consider supporting parsing of ID3 data that is not at the start of the file.

[2020-12-08 10:32] AquilesCanta commented on #8031
I'm sorry for the delay on this. I have a number of urgent things to look into and this bug is not something easy to pin down. I will try to, at least, reproduce sometime soon but I cannot make promises. Any information that might help us understand how this looks like, or what might be causing it, any kind of debugging you might be able to do on your side, is more than welcome.

[2020-12-08 11:36] mhelder commented on #8229
@marcbaechinger I noticed `2.12.2` was released about a week ago and I had been kind of hoping that adding support for changing playback speed would be small enough to make it into the next minor/patch update. Unfortunately it didn't, which leads me to the following question(s):

Any chance you could provide an indication of whether adding support for changing playback speed is planned for a futur

[2020-12-08 11:37] #8326 closed, assigned to nobody

[2020-12-08 11:56] He12345678901 opened #8327 "ExoPlayer support in CMAF, CTE with http 1.1"

[2020-12-08 12:04] He12345678901 commented on #8327
Hi, the Exoplayer supports on DASH/ Low latency in live channels with CMAF/Chunk Transfer Encoding over HTTP 1.1 ? please specify which ExoPlayer versions already support that feature and which parameters involved in its customization for small chunks
thanks

[2020-12-08 12:10] GouravSna opened #8328 "IllegalStateException in DefaultDrmSession in ExoPlayer 2.12.2"
- Steps to reproduce:
1. In demo app, open Widevine DASH H264(MP4)
2. Open Secure(cenc)
3. Let the content start and then go to Background and come to forground.
4. Try this couple of time, till you see the following warning in adb logs,

[code]

- ExoPlayer version number : 2.12.2
- Android version : 10
- Android device : Moto G6 (India)

What I can think of that when we go in BG, drmSession is r

[2020-12-08 12:12] Turalllb opened #8329 "MediaCodec.setOutputSurface"
We already know about this problem and there are quite a few already closed issues. The problem is that some devices do not support DummySurface. And you need to be careful when working with the PlayerLayerView, if you set it visibility to GONE while the player is running, then we will get the below exception. If we pause the video, we need to wait for an unknown time (about 2 seconds on android T

[2020-12-08 12:18] Turalllb commented on #8329
I will give a couple of examples where this bug was discussed and steps were given to reproduce the problem: https://github.com/google/ExoPlayer/issues/6930     https://github.com/google/ExoPlayer/issues/677  https://github.com/google/ExoPlayer/issues/2703

[2020-12-08 12:37] Turalllb commented on #8329
I tried to check how it works on YouTube. After I pause, minimize the application and re-deploy, they ignore my user pause and apparently re-do exoplayer.prepare (mediaSource)

[2020-12-08 12:47] jiyewushen opened #8330 "local m3u8 play error"
version 2.12.2

when m3u8 file include absolutely path , but it may be added  `content://media/` (not `file://`)

[code]
m3u8 file
[code]

Error
[code]

[2020-12-08 12:50] marcbaechinger commented on #8229
We are working on this. I started the implementation in `MediaSessionConnector` and I noticed that the constant `PlaybackStateCompat.ACTON_SET_PLAYBACK_SPEED` is missing with media-1.2.0. I filed a bug internally as we want to have the implementation in `MediaSessionConnector` in the same way as for other playback actions. The constant has been added internally now (I think yesterday). With this w

[2020-12-08 14:21] mhelder commented on #8229
That's great news, and I appreciate the update and rough timeline 👍

I'll keep an eye on `dev-v2` too!

[2020-12-08 14:23] ckdrb7017 opened #8331 "exoplayer Unexpected SecurityException when loading local mp3"
When I select music using intent at first time, I can load and play the music. But after restarting my app, the exoplayer occurs this error when loading uri from database. I can't understand why Exoplayer can load at first time and can't load uri from my database. There is no issue about this, So I need your helps... I added this android:requestLegacyExternalStorage="true"  to manifest in applicat

[2020-12-08 14:59] #8331 closed, assigned to krocard

[2020-12-08 15:14] christosts commented on #8313
The keyframes tracks have a `format` that is flagged with `C.ROLE_FLAG_TRICK_PLAY`. To identify keyframe tracks, inspect the formats inside the `TrackGroup` and check if any for the Format's `roleFlags` contains `C.ROLE_FLAG_TRICK_PLAY`:

[code]

Alternatively, to keep only the video tracks, check that their formats are not flagged with `C.ROLE_FLAG_TRICK_PLAY`:

[code]

Closing this ticket, feel

[2020-12-08 15:14] #8313 closed, assigned to christosts

[2020-12-08 15:25] kareljuricka commented on #7009
After updated to v6.7140, it seems to me that problem is solved only for AVC (H.264) codec.

For **HEVC (H.265)** problem still occurs.

TV: BRAVIA_ATV3_4K_EU, ANDROID TV 9 (updated to v6.7140)

exo (release-v2, 107fed9b2):
H.265: https://www.youtube.com/watch?v=V28J-KIC6ys - **see artifacts appearing, BUG persists**
H.264: https://www.youtube.com/watch?v=lYwh2mDMW3w - no artifacts at all, thats O

[2020-12-08 16:22] austinchristensen commented on #8308
[CustomHlsExtractorFactory.java.zip](https://github.com/google/ExoPlayer/files/5660418/CustomHlsExtractorFactory.java.zip)

Here's what we came up if anyone wants to use it. We took the 2.12 DefaultHlsExtractorFactory and used pieces from the 2.11 version to get playback.

[2020-12-08 16:32] marcbaechinger commented on #8324
Sorry when not answering directly your other questions directly for now, just checking :

When you [create your subclass of a `DownloadService`](https://exoplayer.dev/downloading-media.html#creating-a-downloadservice) service that you need, you need to implement `getDownloadManager()`. If you construct your download manager you need to pass a `DataSource.Factory`. You can use a [`ResolvingDataSour

[2020-12-08 16:46] christosts commented on #8296
I tested the video with the subtitles and see that the subtitles get out of sync with the video only after a seek is performed. If a seek is not performed, the subtitles remain in sync with the content.

`seekTo()` and `getCurrentPosition()` are consistent. That is, after performing a `seekTo()` to time X, `getCurrentPosition()` returns X and the position advances as expected without any adjustmen

[2020-12-08 17:59] MartB opened #8332 "Roboelectric 4.5-SNAPSHOT does not exist (anymore?)"
https://github.com/google/ExoPlayer/blob/2980354510000406b71250368e54e4ab7d1cda1d/constants.gradle#L27

Should be 4.5-alpha-3 im not sure what happened to 4.5-SNAPSHOT but this breaks the build at the moment.

[2020-12-08 18:29] icbaker commented on #8332
`4.5-SNAPSHOT` is still the documented way to depend on bleeding-edge Robolectric:
https://github.com/robolectric/robolectric#using-snapshots

It still seems to be hosted here:
https://oss.sonatype.org/content/repositories/snapshots/org/robolectric/robolectric/4.5-SNAPSHOT/

It seems to still resolve for me - I tried restarting Android Studio and clearing caches, and everything still builds.

Can

[2020-12-08 18:36] MartB commented on #8332
I did not add the sonatype repo into my app build.gradle file, is this required?

I get `Failed to resolve: org.robolectric:robolectric:4.5-SNAPSHOT` while switching the build variant.
This is the error i get while building after switching the build variant to `release`.

### Additional details
Android studio version is: 4.1.1
Gradle (wrapper) is: 6.6.1

**Build log**
[code]

[2020-12-08 18:46] icbaker commented on #8332
I don't know actually - is it easy to try that and see if it resolves the problem?

I assume you're depending on `dev-v2` because `release-v2` currently depends on Robolectric 4.4 (non-snapshot):
https://github.com/google/ExoPlayer/blob/107fed9b2afc1e1edce95eee4a1fbc952377efd2/constants.gradle#L27

And so I'm also assuming you're depending on ExoPlayer-as-source.

Can you try building the demo app

[2020-12-08 18:54] MartB commented on #8332
Your assumptions are correct thats why i linked to the dev-2 branch commit.

For integrating exoplayer locally i used https://github.com/google/ExoPlayer/blob/dev-v2/README.md#locally

**Project build.gradle**
[code]

**Stripped down app build.gradle**
[code]

**settings.gradle**
[code]

### Demo compile test
Worked without any problems from within the exoplayer source repo.
Slightly puzzled here,

[2020-12-08 19:32] MartB commented on #8332
@icbaker edit mania from above is done. (I promise lol)
See my paragraph about manually adding the repository for my thoughts on the way to fix this "issue".

[2020-12-08 23:23] nandovelazquez opened #8333 "Getting wrong position value when using MediaSessionCompat.Callback.onSeekTo() with MediaSessionConnector"
Implementing the `MediaSession` and `MediaSessionConnector` on the ExoPlayer Demo and dictating the `fast-forward` command through Google Assistant, the returned value by `MediaSessionCompat.Callback.onSeekTo()` does not seem to be correct, it looks like it includes extra time.

I'm using the latest ExoPlayer version(2.12.2) and following the [MediaSessionExtension lab](https://developer.android.c

[2020-12-09 07:55] lys1737 commented on #8314
Latest progress after audio playback success。

To decode video ， I found clearSize is 9 for HLS + fMP4 and set nal type equal 1。
Use 'clearSize = 9 + 32' to decode NAL type 1 and 'clearSize = 32' to decode NAL type 5, It playback video almost successful in Android 11,  playback video almost successful in  Android 9 with few green screen （The picture is normal but color is green）。

It playback vide

[2020-12-09 08:28] kgrevehagen commented on #8324
In a "normal" scenario that would work, but I see now that I wasn't clear enough in my first question. When I ask my server for the url, I get the url back with information if it is progressive, dash, hls or whatever. If I use the `ResolvingDataSource`, I would have already had to decide this, but I can't until I get the response back from the server. This is why I couldn't use `ResolvingDataSourc

[2020-12-09 10:42] AquilesCanta commented on #8314
Hi, widevine in transport stream is not supported by ExoPlayer. The only protection scheme we support for transport stream is full segment encryption. For widevine support using transport stream segments in HLS, you should track #4021.

NOTE: Contributions on this area would be welcome.

[2020-12-09 10:42] #8314 closed, assigned to AquilesCanta

[2020-12-09 12:22] tonihei commented on #8320
It's always possible just to fork and replace `DefaultTrackSelector` and set your customized track selector in `SimpleExoPlayer.Builder.setTrackSelector`.

However, we usually advise against this because `DefaultTrackSelector` is quite complex and as soon as we start making further updates you'd need to constantly merge in our changes to keep your modifications. Instead it's much better if we coul

[2020-12-09 12:51] krocard commented on #8321
Note that ExoPlayer is not designed for realtime audio playback. It will introduce significant latency to your playback. Directly using `AudioTrack` will give you better latency.

How do you add it to the array? Java arrays can not be increased in size.
How do you increase remains? `bytesRemaining` is a private field of `ByteArrayDataSource`.

I don't believe `ByteArrayDataSource` is the right app

[2020-12-09 13:25] krocard commented on #8323
It seems one of the playlistUrl was null.
https://github.com/google/ExoPlayer/blob/be13805ce4e22231ae728d2710a2b8751ee5ad7c/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsChunkSource.java#L403-L409

@christosts @AquilesCanta any idea where this could come from? Additionally, in order for the exception to be raised early, maybe `HlsChunkSource` should check that all url are n

[2020-12-09 13:58] tonihei commented on #8321
This issue also sounds very similar to #8051 and it 's worth checking the implementation hints provided in there if you think ExoPlayer is a good choice compared to using AudioTrack directly.

[2020-12-09 15:00] nikola5ra opened #8334 "Decoder failed: OMX.amlogic.avc.decoder.awesome2"
We are facing an issue with live stream playback on Google Chromecast device running on Android 10.
On other devices we used for testing everything is working as expected.

- ExoPlayer version number: 2.12.1
- Android version: 10
- Android device: Google Chromecast, Kernel version 4.9.180

A full bug report captured from the device
-------------------------

[code]

[2020-12-09 15:14] mhdabbaghy commented on #8321
tnx @tonihei
I saw that but my problem didn't solve, I think his problem didn't solve too

[2020-12-09 15:38] KarlGallagher opened #8335 "ExoPlayer 2.12.x How to detect transitions between media periods"
Hello,

In earlier versions of ExoPlayer we are leveraging OnMediaPeriodCreated/Released from the AnalyticsListener interface to determine when the player transitions between media periods.  We use this to manage our SSAI solution so that transitioning into periods that contain ad meta data results in calls to our ad monitoring platform.

This is removed from the interface in 2.12.x

Is there any

[2020-12-09 16:06] krocard commented on #8325
I'm expecting that a surface can be partially/totally offscreen with a size exceeding the screen. Nevertheless in my limited experience with `PlayerView` it was not bigger than the screen.
Maybe @ojw28, would know how it can happen?

[2020-12-09 16:58] krocard commented on #8329
This is a known bug of some implementations of some platform video codecs. ExoPlayer can not fix it, only workaround it by releasing the codec and then re-initializing it instead of setting the outputSurface:
https://github.com/google/ExoPlayer/blob/be13805ce4e22231ae728d2710a2b8751ee5ad7c/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L515-L520

Unfort

[2020-12-09 17:07] krocard commented on #8325
@zdxhrjgc Could you explain what you mean by "multiple player surfaces"? Is your app showing multiple players?

It would be great if you could provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally. This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer

[2020-12-09 17:17] ojw28 commented on #8325
This can happen if you're using a non-standard resize mode (set by calling `PlayerView.setResizeMode`, or by using the `resize_mode` attribute in a layout file). If your application is doing this, then it's possible that what you're seeing is working as intended.

Note also that some devices run their UI layer at a lower resolution than the physical resolution of the display. This is typically the

[2020-12-09 17:19] krocard commented on #8330
@christosts (or @AquilesCanta) do you know if we support HLS manifest referencing local files?

[2020-12-09 17:22] ojw28 commented on #8327
Low latency DASH should be fully supported from `2.13.0`, which is scheduled to be released at some point in the first quarter of next year. The functionality should already be available in the `dev-v2` branch.

I don't really understand the question. However, `exoplayer.dev` page will be updated with documentation around low latency functionality when `2.13.0` is released.

[2020-12-09 17:22] #8327 closed, assigned to ojw28

[2020-12-09 17:25] krocard commented on #8335
@marcbaechinger, for context you removed `OnMediaPeriodCreated ` in https://github.com/google/ExoPlayer/commit/f81a353bf8bf58358517bd6b8bd780fd50f0517c.

[2020-12-09 17:44] AquilesCanta commented on #8330
It should just work, assuming the URIs are correct and the DataSource factory which the MediaSource is using supports the URIs' scheme. In this case, I'm inclined to think the URIs are not correct (as per the exception) but it's possible I'm missing something about content:// URLs which I haven't seen much of.

[2020-12-09 17:52] krocard commented on #8334
It is hard to help you without more information, most importantly the media being played and a bug report.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer

[2020-12-09 18:28] He12345678901 commented on #8327
thanks
it means that 2.13.0 release will support DASH Low latency with 'Chunk Transfer Encoding' (CTE) over HTTP 1.1 ?

[2020-12-09 18:45] Shivgupta1031 commented on #8032
Yes I Used The MediaItem Class And I m getting this same error please help me solve it

[2020-12-09 19:08] krocard commented on #8318
I believe that vlc does not use audio passthrough, it decodes the ac3 and plays pcm.  ExoPlayer on the other hand prefers passthrough as it is more power efficient and more format are usually supported.

I'm guessing the issue is that as audio tracks are released asynchronously by the framework, AC3 5.1 resources are not yet released when requesting an AC3 stereo audio track. 7dfdde9 should indeed

[2020-12-09 19:11] MartB commented on #8318
@krocard i set vlc to passthrough in the settings.
I dont know what it does internally but my receiver recognized the format correctly.

Yeah the commit is working fine for me.

[2020-12-09 19:25] krocard commented on #8318
Interesting, vlc may still decode it locally, or may not create a new audioTrack and assume the decoder can handle the format change or take more time to create the new audioTrack or also have retry mechanism. I don't think it is worth investigating though if the retry solves your issue.

Great, thanks for the confirming.

[2020-12-09 19:25] #8318 closed, assigned to krocard

[2020-12-09 19:26] Shreyansh1995 opened #8336 "M3u8 live streaming error: PlaylistStuckException"
I was trying to play Live Streaming m3u8 URL but not able to play for more than 40 seconds. It's throwing following error. Kindly look into this matter.

URL: https://aajtaklive-amd.akamaized.net//hls//live//2014416//aajtak//aajtaklive//aajtak_5//chunklist.m3u8

Platform Info:
Device: OnePlus GM1901 (OnePlus7)
Board: msmnile
Type&Tags: user (release-keys)
Android 10 SDK 29 (REL)
ABIs: arm64-v8a, a

[2020-12-10 01:14] ojw28 commented on #8327
Yes.

[2020-12-10 02:59] xiaoxiaoliu6 commented on #8336
https://aajtaklive-amd.akamaized.net//hls//live//2014416//aajtak//aajtaklive//aajtak_5//chunklist.m3u8
There is something wrong with this m3u8 file

[2020-12-10 03:35] stevemayhew commented on #8336
@Shreyansh1995  this is likely an issue with the origin server.  ExoPlayer reports this exception when the live playlist does not update within the required time.  In greater detail:

The player considers the following variables for detecting the playlist has updated:

1. The *Media Sequence Number* (MSN), is used to keep track of what segments have been removed from the live playlist, the origin

[2020-12-10 03:48] Shreyansh1995 commented on #8336
Hi @stevemayhew  thanks for the reply.
But the same link is working perfectly with mx player, x player and vlc player.
How to fix this issue in my app with same link. Any suggestion?

[2020-12-10 04:41] Shreyansh1995 commented on #8336
@xiaoxiaoliu6 but this url working fine in Mx player, VLC player and Xplayer. And i have many url which is working fine on other players but throwing exception in exoplayer

[2020-12-10 06:08] ybai001 commented on #8320
Hi, tonihei,

Thank you very much for this detailed answer. It's very helpful. Honestly, I have never anticipated that I can get so detailed answer.

The case of us is there are several audio tracks in the DASH manifest. There are encoded by AAC or Dolby AC-4 with different languages.

The requirements are
(1) If both AAC and AC-4 have some kind of languages, e.g. English, application always selec

[2020-12-10 06:15] xiaoxiaoliu6 commented on #8336
@Shreyansh1995 your url working not fine in vlc player for mac os

[2020-12-10 07:06] karamgharam commented on #8334
i have same issue and this full report this case i think when open too mush video in day  but on Huawei devices

[2020-12-10 08:04] MujammilAhamed commented on #8206
Any update on the issue

[2020-12-10 08:45] lazycatsoft opened #8337 "Format.frameRate for HLS"
Found a problem: For HLS streams, the Format.frameRate field is not detected (always -1, but correct work for MP4).
This data is required to implement autoframerate for correct inclusion of Display.Mode via preferredDisplayModeId.

Is it possible to expect correct filling of the Format.frameRate field for hls in the future?

[2020-12-10 09:03] nikola5ra commented on #8334
@krocard I have sent a full bug report on dev.exoplayer@gmail.com and the URL you can use for testing. Thanks!

[2020-12-10 09:05] ybai001 commented on #8320
Hi, tonihei,

I tried your proposal 1:

It can work!

But there is a block point: selectAudioTrack() needs to access "private" method getAdaptiveAudioTracks(). So that I have to change one line code in defaultTrackSelector. Is it possible for your team to change this method from "private" to "protected"?

BR,
Yanning

[2020-12-10 09:05] nikola5ra commented on #8334
@karamgharam In my case, it is happening after the power cycle of the device. Once playback failed if you try to restart playback everything is working fine.

[2020-12-10 09:13] karamgharam commented on #8334
@nikola5ra how can i restart playback ?

[2020-12-10 09:51] tonihei commented on #8320
(1) If both AAC and AC-4 have some kind of languages, e.g. English, application always select AC-4 audio track whatever the channel count/bitrate/sample rate are.
(2) If only AAC has some specific language track but AC-4 doesn't, AAC audio track will be selected.

Just to ensure I understand this requirement correctly: Your first criterium is the language. If the track's language matches your pref

[2020-12-10 10:07] nikola5ra commented on #8334
@karamgharam by restart I was meaning to start playback again.

[2020-12-10 10:23] Turalllb commented on #8329
@krocard  Please clarify if I understood you correctly. In such situations, you check if the device is included in your list of problem devices and if it is found there, then mediaKodec is released, if it is not in the list, but the device has problems, I will get this exception

[2020-12-10 10:27] walGy opened #8338 "No such property: libraryVariants for class: java.lang.String in settings.gradle"
As following your guide for locally adding modules to Android project, I completed

git clone https://github.com/google/ExoPlayer.git
cd ExoPlayer
git checkout release-v2

Now, after adding
gradle.ext.exoplayerRoot = 'path/to/exoplayer'
gradle.ext.exoplayerModulePrefix = 'exoplayer-'
apply from: new File(gradle.ext.exoplayerRoot, 'core_settings.gradle')

an error occured:

FAILURE: Build failed wi

[2020-12-10 11:02] Rulemylife opened #8339 "Ima extension high memory issue"
ExoPlayer Version : 2.12.2 , IMA extension : 2.12.2
I use IMA to play  vast advertises,  when I quite the app  and it becomes a background process, but the momery is still to high, above 100M. Even I called AdsLoader.release , player.release and playerView.setPlayer(null), it doesn't work.
Also I tested BasicSample of IMA SDK, it has the same problem. How could I decrease the app's memory when I q

[2020-12-10 12:29] icbaker commented on #8328
I can't reproduce this using the steps provided on 2.12.2 on a Pixel 3a XL running Android R. I back & foregrounded the demo app >10 times (home key to put it in background, then long-press home to bring up app switcher and tap demo app to bring it back to foreground)

What happens to playback when you see the warning in the logs?

-----

I did accidentally manage to trigger the warning a differen

[2020-12-10 12:37] GouravSna commented on #8328
Hi @icbaker , Thanks for trying hard to reproduce it finally.

I also don't see any issue with the playback but i was afraid if this is because of some potential issue which i am not aware of.

I can think of why you don't see in Pixel 3, it may be because of soc that it has. If device is capable enough to handle this DRM session acquisition in those frequent attempts then it is difficult to repro

[2020-12-10 15:31] ojw28 commented on #8272
Pretty obscure, but it seems this can be fixed by setting a transparent background on the popup, as per:

https://stackoverflow.com/questions/12232724/popupwindow-dismiss-when-clicked-outside

[2020-12-10 18:19] stevemayhew commented on #8336
@Shreyansh1995  The URL returns a 403 for me, so I can't really help you further, but check the updated conditions from my previous comment, if they are not met then ExoPlayer will throw the `PlaylistStuckException`.   The other players you mention may simply freeze in buffering state rather than throwing an exception.

The time is pretty generous,  assuming the playlist has `EXT-X-TARGETDURATION`

[2020-12-10 22:20] ChernyshovYuriy opened #8341 "Encountered more data after announced end of track"
Dear engineers,
There is one stream that confuses me when I try to use ExoPlayer to consume it:
[code]
It has intro, something like advertisement of their stream, of about 7 seconds long.
When I use ExoPlayer, set it in the media.exolist.json as another item in the:
[code]
It plays this intro only.
However, when I use VLC player, it continues after into to the real stream itself.
I am asking of he

[2020-12-11 01:41] ybai001 commented on #8320
Your understanding is fully correct.

Sorry for confusion. This request is from customer and I have no that kind of manifest in my hand. Just provided a "simple" version without "language" tags.

It works for us. And
1. I think the API could be
`setPreferredMimeType(String mimeType)`
2. Just want to double confirm: it is not format.containerMimeType (in my example manifest, it is "audio/mp4") and

[2020-12-11 02:04] #8210 closed, assigned to kim-vde

[2020-12-11 02:04] #8204 closed, assigned to marcbaechinger

[2020-12-11 02:46] ShengjieGeng commented on #8254
Sorry，I cannot give you the sample，because the App runs on special device and the special scene：
![image](https://user-images.githubusercontent.com/18364968/101855016-b35c3180-3b9d-11eb-97d2-a20f58d4d55f.png)

[2020-12-11 04:43] stevemayhew commented on #474
You issue repeated seeks to play reverse, you can stay paused (play when
ready set false).  Turn off sound and subtitles then select the iFrame
track with an override

On Fri, Jan 3, 2020 at 1:23 AM 2wchuang <notifications@github.com> wrote:

[2020-12-11 06:08] czeall commented on #8296
Hello, if you have repeated out of sync, you will understand the problem I described. The TS slicing files of HLS resources are automatically sliced and converted by the server. At present, because the same HLS resource files and subtitles are synchronized normally on the H5 side, it is also normal to test the playback synchronization with ijkplayer on the Android side. However, if the seek operat

[2020-12-11 08:27] ojw28 commented on #8336
The responses above are correct. `PlaylistStuckException` indicates an issue where the media playlist isn't being updated correctly on the server-side. As @stevemayhew points out, the time ExoPlayer allows for an update to occur is pretty generous.

I was able to play the stream without any issues for a couple of minutes, and was not able to reproduce the failure. Given the mixed outcomes above, i

[2020-12-11 08:27] #8336 closed, assigned to ojw28

[2020-12-11 08:31] ojw28 commented on #8337
The `Format.frameRate` field will be populated if the `FRAME-RATE` attribute is specified on the `EXT-X-STREAM-INF` tags in the HLS master playlist. This attribute is optional but recommended, as per the [HLS RFC](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-08):

[code]

There is no way for the player to efficiently determine the frame-rate of each variant if this information is not in

[2020-12-11 08:31] #8337 closed, assigned to ojw28

[2020-12-11 10:01] Lua12138 opened #8342 "How to get PCM audio stream ?"
Now I want to reprocess the played audio instead of outputting it directly.

Therefore, is there any way for me to obtain the decoded PCM audio stream (the input audio format is uncontrollable, but it is all supported by ExoPlayer, such as AAC/MP3, etc.)?

And ExoPlayer no longer continues to output audio.

[2020-12-11 10:48] andrewlewis commented on #8339
Thanks for the report. I think this is probably a memory leak tracked by [internal: b/170917904] and I will plan to update this issue when we have more information.

[2020-12-11 11:28] diegojarat opened #8343 "How can I change the Subtitle Font?"
How can I change the Subtitle Font in Exoplayer?

I'm using FlixApp which has Exoplayer. I'm don't have more knowledge about Android App Development. Please guide me on how can I do that?

[2020-12-11 11:34] kgrevehagen opened #8344 "Manifest for playback of downloaded content"
When streaming and downloading dash(or hls for that matter) I sideload the manifest instead of passing it a url which contains the manifest. This of course works because I always provide the manifest by fetching it from our servers first.

However, I'm having problems understanding how this should work when trying to play the downloaded content, because then I will not get the manifest from our se

[2020-12-11 12:03] icbaker commented on #8343
It's not obvious to me if you're asking from the perspective of a device user or an app developer (or content producer).

As a user on the device you can set a default font for all captions. This will be used if the content doesn't specify a font and the app checks the device default (the ExoPlayer UI components do by default, but it can be disabled and apps don't necessarily use our UI components

[2020-12-11 12:09] diegojarat commented on #8343
I'm a developer
My current code is this

[code]

Please guide me from here. What should I update from here?

[2020-12-11 12:13] icbaker commented on #8343
You can get the `SubtitleView` from `SimpleExoPlayerView#getSubtitleView()`.

[2020-12-11 12:13] #8343 closed, assigned to icbaker

[2020-12-11 15:32] vkoehler opened #8345 "Keep last frame of previous source when switching sources: Live DASH Widevine protected streams and L1 security level"
I use PlayerView.setKeepContentOnPlayerReset(true) option to keep last frame when switching between Live DASH Widevine protected streams.

Works as expected with Android Emulator API 29.

Doesn't work on below listed test devices. Black frame is shown when switching. Seems to be related to L1 security level used on test devices. When forcing test devices to L3 security level this option works as e

[2020-12-11 16:32] ojw28 commented on #8345
Although it's a slightly different case, the answer is the same as in https://github.com/google/ExoPlayer/issues/8196#issuecomment-738204570.

[2020-12-11 16:32] #8345 closed, assigned to nobody

[2020-12-11 22:01] CatchupTVnet opened #8346 "Playback stalls when playing broken H.264 stream"
Playback stalls at 22 seconds, when playing this particular stream that I sent to dev.exoplayer@gmail.com in both an Amlogic android device, and in Bluestacks android emulator under Windows.

When the same stream is opened in other players like VLC the first 22 s of the segment is played twice, but then the rest of the segment is played so playback does not stall.

FFMPEG log is found below:

ffmp

[2020-12-12 17:56] montezumba opened #8347 "Some audio tracks cannot be selected"
Hello,

In some cases not all audio tracks are visible or cannot be selected for some reason.
I sent a mail with an example that has 2 audio tracks (English, Russian) and 2 subtitles tracks (Hebrew, Russian). They are perfectly visible and selectable in VLC.

However, in ExoPlayer 2.12.2 I can only see 1 audio track (English) and 2 subtitle tracks (Hebrew and another one with unknown language)

He

[2020-12-13 10:31] ardjanb91 commented on #6168
I Have the same problem
I have exoplayer in a activity and it loads live stream channels (m3u8 and ts)
but when i try to open one of these link the player sets on pause by itself and gives me the error below
but when i click play the video starts playing but i plays for some seconds or minutes and it lags, stops for some seconds and resumes again after doing it a couple times, exoplayer does the s

[2020-12-13 14:02] pawaom opened #8348 "Video stops for a few seconds before playing the next video in concatenatingmediasource"
I have a list of 3 videos say a,b,c,

when playing the videos one after other, there is some delay of atleast 1 second or so, before playing the next video for example,
when video a, has played, and next video "b" has to start, it takes a few seconds then it plays.

can we avoid this delay.

Or is there a way to know when the next video has started to play,I wan to update the UI based on this,

I

[2020-12-13 21:28] a4x4kiwi commented on #8031
Thanks Aquiles. I continue to see this behaviour intermittently. I will try and get some logcats,. Unfortunately it can take some time to reproduce but I will do all I can.

[2020-12-13 23:46] SungsooLim commented on #8011
AndroidX media2 1.1.0 was release, and expect this issue is resolved in the next release of media2-extension.

[2020-12-13 23:46] #8011 closed, assigned to SungsooLim

[2020-12-14 04:43] sravan1213 opened #8349 "Weird behaviour when seek operation is performed while playing preroll ad."
Steps to Reproduce.

1. Play any video with preroll.
2. Seek when player is in ready state.  Please add following code in PlayerListener of demo app

[code]

Observe player goes into weird state. Ad gets skipped and play randomly along with content.

100% reproducible on latest version of exo-player.

I understand exoplayer doesn't support seek during ads, but there is already a warning for this.

[2020-12-14 05:48] georgi-neykov-hub commented on #8011
Thank you for the effort and support.

On Mon, Dec 14, 2020, 01:46 Sungsoo Lim <notifications@github.com> wrote:

[2020-12-14 08:08] tiaragizka opened #8350 "Offline license drm + ABR for streaming content "Crypto key not available""
1. How to use offline license drm + abr for streaming content ?

I've tried to use offline license for drm without abr and it worked, but when i try offline license to play drm source with abr, exo always tells me error "Crypto key not available", meanwhile when i try online license to play drm source with abr or without abr Player runs normally. is there anything else you need to do to play drm +

[2020-12-14 10:04] tonihei commented on #8320
In a similar case for languages we have two methods `setPreferredAudioLanguage(String)` and `setPreferredAudioLanguages(String...)`, which both end up in an `ImmutableList<String>` in the `Parameters` object (with one or many elements).  I think we can just do the same here. I'll mark as an enhancement for now. Are you thinking about providing a PR yourself or shall we implement this?

[2020-12-14 10:32] icbaker commented on #8332
Thanks for all the detailed investigation and findings!

I was able to reproduce by depending on a local ExoPlayer from an external gradle project (the demo case is different because it's in the same overall project).

I've made a change to our gradle config that I think should avoid apps needing to edit their own gradle configs. It worked in my local testing - would appreciate if you could also s

[2020-12-14 10:32] #8332 closed, assigned to icbaker

[2020-12-14 11:50] TaruiTakashi commented on #8176
@lcf87
How has the progress been since then?

[2020-12-14 12:25] walGy commented on #8338
After hours, i found the solution on my own: in my case , simply format all mentioned gradle files ( in my case, first for file ..\ExoPlayer\javadoc_library.gradle'  in and about 5 other ones, Android Studio will tell you..) and bring keyword 'android' outside the scope, like in your normal .gradle files.
For javadoc_library.gradle it will be:
android.libraryVariants.all...
 to
android{
libraryVar

[2020-12-14 12:25] #8338 closed, assigned to nobody

[2020-12-14 13:03] andrewlewis commented on #8158
@nishantkp I think you should be able to attach a listener via `ImaAdsLoader.Builder.setAdEventListener`.

For what it's worth, I think there are equivalents for almost all of the things you are trying to do, though:

You can query `player.isPlayingAd` after a position discontinuity event from the player and set volume accordingly.

If you seek before preparing the player, ads before the start pos

[2020-12-14 13:03] #8158 closed, assigned to andrewlewis

[2020-12-14 14:03] ojw28 commented on #8330
Agree that the URIs are probably not correct (as per the exception). If you're sure it's an ExoPlayer issue then I think we'd need concrete reproduction steps, in the form of a small sample project you can share on GitHub and detailed instructions for how to reproduce the issue with it.

[2020-12-14 16:27] krocard commented on #8329
Exactly. We have a list devices known to not support `setOutputSurface`. For them we use the inefficient workaround of destroying and recreating the codec.

If a device has this `setOutputSurface` issue, but is not on the list, the workanourd will not be used and this `IllegalArgumentException ` will be thrown.

If you could please answer the device you are observing the issue on, as well as it's

[2020-12-14 17:23] marcbaechinger commented on #8344
The [manifest is downloaded by the `SegmentDownloader` with a `CacheDataSource`](https://github.com/google/ExoPlayer/blob/8a0d52be4b5402af0987fc7d009bc49977c72b67/library/core/src/main/java/com/google/android/exoplayer2/offline/SegmentDownloader.java#L136) and is cached that way.

[2020-12-14 22:47] apptrash commented on #8312
Is there any progress on this task?

[2020-12-15 03:19] ybai001 commented on #8320
I hope your team can help to implement it since it will be more quickly to be merged. Thanks a lot in advance.

[2020-12-15 05:59] jiyewushen commented on #8330
everything do well, but why add "content://media/" at dataSpec , next  ContentDataSource open it , crash. Why "content://media"? not "File://"?
<img width="851" alt="135439" src="https://user-images.githubusercontent.com/16441451/102176795-1ec73b80-3edd-11eb-846b-7da905daa19e.png">

<img width="800" alt="134919" src="https://user-images.githubusercontent.com/16441451/102176614-be37fe80-3edc-11eb-9

[2020-12-15 06:36] jiyewushen commented on #8330
@ojw28 @krocard  @AquilesCanta
Fortunately, I finally found issue. it crash due to create  a wrong dataSpec.
<img width="800" alt="134919" src="https://user-images.githubusercontent.om/16441451/102179359-f130c100-3ee1-11eb-8359-c470b8c5c6ed.png">
<img width="851" alt="135439" src="https://user-images.githubusercontent.com/16441451/102179368-f5f57500-3ee1-11eb-901f-b6b41dcb0391.png">

`UriUtil.reso

[2020-12-15 10:29] AquilesCanta commented on #8312
Regarding discontinuities and PTS, ExoPlayer already handles that as you would expect it. If it doesn't you should file a fresh issue including all the info required in the issue template.

Regarding program-date-time:
Back when we implemented support for EXT-X-PROGRAM-DATE-TIME the explicit decision was made to drop all program-date-time tags after the first one. In order to change this now, beca

[2020-12-15 10:47] rickymohk commented on #8058
Has this fix been released? It doesn't crash the app but seems cause the thread to hang for a while.

[2020-12-15 13:30] yeyintkoko1788 commented on #5417
Any update on this issues??

[2020-12-15 14:45] krocard commented on #8341
`mediainfo` output for `http://stream.psychoradio.org:8000`:
[code]

As it is a radio, the mp3 file never ends, nor has a significant duration.

But when I run it with the demo app (`adb shell am start -a com.google.android.exoplayer.demo.action.VIEW_LIST     --es uri_0 http://stream.psychoradio.org:8000`), it also only plays the 10 first second. The length seems to be set as the beginning of the

[2020-12-15 14:52] ChernyshovYuriy commented on #8341
Thank you guys for the investigation. I wouldn't bring it to you if I couldn't able to play it by VLC, for example. And since VLC can handle this, I thought why ExoPlayer can't.

[2020-12-15 15:06] krocard commented on #8342
If I understand correctly you want to process the audio after the it has been decoded and before it is played:

For example: AAC --decoder--> PCM ----[your custom preprocessor]---> PCM ---[AudioTrack]--> Sound waves

ExoPlayer supports this. You need to implement a custom [AudioProcessor](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/a

[2020-12-15 15:07] krocard commented on #8342
Please reopen if this does not answer your question.

[2020-12-15 15:07] #8342 closed, assigned to krocard

[2020-12-15 15:11] andrewlewis commented on #8342
To add to Kevin's suggestion, you may want to consider using `TeeAudioProcessor` (see also #5416).

[2020-12-15 15:31] BucherTomas opened #8352 "Some nonlinear ads causing the player to stall"
While we are aware that mobile IMA SDK does not support nonlinear ads, we are experiencing issues with playback, if an ad server returns such ads. Observed with ExoPlayer 2.11.8 both in ExoPlayer demo app and our own app.

These steps can be used to reproduce the issue:
_1. Load the following VMAP https://devs.origin.cdn.cra.cz/ima/stuck/vmap.xml.
2. Skip the preroll or let it finish and seek imme

[2020-12-15 15:32] krocard commented on #8346
`mediaInfo` output:
[code]

I can reproduce the issue. No error is logged but playback stops after 22 seconds. Log at 22s:
[code]

There is something weird at the beginning though, the length of the window is negative:
[code]

@AquilesCanta, could you take a look at this MPEG-TS media. Even if we do not want to be support it, we might want to throw an exception or at least log when the length do n

[2020-12-15 16:02] space-pope opened #8353 "Maven unable to resolve 2.12.x exoplayer-core dependencies"
Gradle seems to have no problem downloading ExoPlayer, but I maintain a Java library that uses Maven for dependency management, and the following dependency:

[code]

produced the following error during `mvn compile` (or any other task that pulls dependencies):

[code]

I could see via bintray's web interface that the files are there, so I dug further. This appears to be related to the pom files g

[2020-12-15 16:10] krocard commented on #8348
`EventListener.onMediaItemTransition` is what you should override to change the title. Nevertheless, if this delay is due to ExoPlayer buffering the video, I believe it will be called before the first frame is rendered.

Without an example playlist, we can not confirm if this delay is due to video buffering.

During this delay, is ExoPlayer state `BUFFERING`? If so, your UI should show a spinner s

[2020-12-15 16:47] krocard commented on #8347
I can reproduce. Playing the HLS playlist will only show one audio track and incorrectly detect one subtitle format:
[code]
but playing directly the first item will show both audio tracks:
[code]

@christosts or @AquilesCanta how are the tracks retrieved in HLS?

The playlist (full version in email):
[code]

<details><summary>Format of the first item</summary>

[code]
</details>

[2020-12-15 16:48] christosts commented on #8296
At the moment, ExoPlayer does not handle the situation where the playlist does not reflect how the segments are actually sliced. Introducing such a mechanism would require a lot of changes that would make the player either fragile or slow down its performance. Please check if you can change this in the HLS side and properly create the HLS playlists.

[2020-12-15 16:48] #8296 closed, assigned to christosts

[2020-12-15 17:05] krocard commented on #8349
I have added the seek on STATE_READY in the demo app but the seek was ignored as expected:
[code]

Please provide the media with the prerolled media so we can reproduce and a bug report.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#

[2020-12-15 17:36] christosts commented on #8323
We inspected the code and saw there is a case where this may happen: if the playlist has a subtitles track but it does not include a URI for the subtitles. This would be in violation of the HLS spec, but the player at the moment does not raise an exception immediately. As a result, a null value may be inserted in the `playlistUrls`  array. We are going to fix this and it will be available to the d

[2020-12-16 02:04] #8236 closed, assigned to icbaker

[2020-12-16 02:07] sana69 commented on #8350
I also have the same problem when using abr + offline license doesn't work properly, exoplayer always tell me error **"crypto key not available"**

[2020-12-16 05:10] sravan1213 commented on #8349
Hi @krocard ,

Attached video and logs for reference. In the video you can observe first preroll is completed before second preroll started and video got stuck at 1st mid-roll.

Also attaching patch for seek logic.

Hope this helps
[issue_8349.zip](https://github.com/google/ExoPlayer/files/5700455/issue_8349.zip)

[2020-12-16 05:46] pawaom commented on #8348
The videos are from the SD card, not being downloaded, so I don't think it will be buffering

I have tried onMediaItemTransition ,  onTracksChanged, and onPositionDiscontinuity, Player.STATE_BUFFERING,Player.STATE_READY , but every time there is some delay.how do we manage this and syncronize

Is there a way to know when the  frame is rendered (example if user goes to next video from video a yo vi

[2020-12-16 08:41] krocard commented on #8348
Without better understanding where this delay comes from, it's difficult to help you further.

Could you please share the media you are trying to play and a bug report taken just after this media transition delay.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in t

[2020-12-16 08:44] krocard commented on #8348
It is probably unrelated to your issue, but we encourage developers to use `Player.addMediaItem` rather than the lower level `ConcatenatingMediaSource`.

[2020-12-16 08:53] Romantic-LiXuefeng opened #8354 "Question: The different meaning of the concept 'bypass', 'passthrough' and 'tunneling' in ExoPlayer"
When reading the source code of video render and audio render, I'm confused with the meaning of the concept 'bypass', 'passthrough' and 'tunneling'. Hope give some explain

-  What's the different between these?
- And what are their specific usage scenarios？

[2020-12-16 09:02] pawaom commented on #8348
I will try Player.addMediaItem and get back to you

[2020-12-16 09:51] krocard commented on #8349
Thank you, I managed to reproduce the issue.

The issue is due to `pendingOperationAcks` being incremented even if the seek is ignored. When the seek is ignored, an updatedPlaybcak info is sent with an `operationAcks` of 0.
https://github.com/google/ExoPlayer/blob/be13805ce4e22231ae728d2710a2b8751ee5ad7c/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L598-L607

This le

[2020-12-16 09:56] pawaom commented on #8348
the real problem is when we move from one video to another, there is a slight delay till the frame of the new video is rendered, If we can capture this change wen can manage the things that we want to do, can we capture this change.

[2020-12-16 10:00] krocard commented on #8354
audio passthrough and video tunneling are described in https://exoplayer.dev/glossary.html.

bypass is an internal concept of the MediaCodecRenderer and means that the MediaCodec decoding is not used aka bypassed. The sampleQueue buffers are directly played without being decoded by MediaCodec.

bypass mode is used for audio passthrough and audio offload.

[2020-12-16 10:00] #8354 closed, assigned to krocard

[2020-12-16 10:02] krocard commented on #8352
This might be a duplicate of #8349.

[2020-12-16 10:11] krocard commented on #8348
`VideoListener.onRenderedFirstFrame` could be a solution to you issue, but I'm really wondering what causes this delay. Video transitions should not be so long as to be visible to the user.
@ojw28 do you have an advice?

[2020-12-16 10:25] pawaom commented on #8348
thanks for the help VideoListener.onRenderedFirstFrame is helpful but still there is a delay of about 500ms similar to this issue

https://github.com/google/ExoPlayer/issues/2533

[2020-12-16 10:33] pawaom commented on #8348
can we render FirstFrame after a certain duration, so that we can manage these changes

[2020-12-16 10:44] stari4ek commented on #8323
Yeah, it could be provoked by network/loader error. Some of reports have
[code]
right before it,
some of them have network down/up nearby.

I do not have access to streams but I will try to reach users.
But this error happens with the same service, so it's very possible that this is media issue.

While pro-active reaction to HLS spec violation sounds as proper implementation, it makes ExoPlayer le

[2020-12-16 12:46] newtestpage opened #8355 "exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error (bug)"
Hi I tried to play an hls url with demo app . it works fine on high android version . but when I tested it with lower android version I got error .

android version 5 - 5.1
samsung galaxy core prime
exoplayer ver:2.12.0

tested link :"https://nrpus.bozztv.com/36bay2/gin/giniko_manoto1_700kb_36bay2/index.m3u8"

here is complete log :
[code]

[2020-12-16 14:56] Turalllb commented on #8329
@krocard   the problem device  Xiaomi Mi Box S, In the settings, the model is called MIBOX4

[2020-12-16 15:35] krocard commented on #8329
Do you also know the android version this issue is observed on?

[2020-12-16 15:39] Turalllb commented on #8329
in 9 android

[2020-12-16 15:41] Turalllb commented on #8329
You can give me a release branch and I will test it on this device

[2020-12-16 16:24] marcbaechinger commented on #8335
For identifying playback of ads I think you can use `AnalyticsListener.onPositionDiscontinuity(EventTime eventTime, @DiscontinuityReason int reason)`. There is a reason `Player.DISCONTINUITY_REASON_AD_INSERTION` of which the java doc says:

[code]

The `EventTime` object passed to the callback gives you more details, like the `MediaPeriodId` with the ads information, so it allows you to identify t

[2020-12-16 16:30] andrewlewis commented on #8290
Crash 1 should go away if you upgrade to 2.12 as we now silence the unexpected error from this case, but the root cause it uncertain: it seems we think an ad isn't playing when the IMA SDK notifies `stopAd`.

For crash 2 I'm making a fix to turn this unexpected case into a warning, which will go into the next release.

Thanks for reporting these issues. If you have any statistics on the relative f

[2020-12-16 22:31] apptrash commented on #8312
@AquilesCanta, Do you mean that it handles that like @alex3d suggested?

[2020-12-16 22:32] apptrash commented on #8312
@AquilesCanta, Do you mean that it handles that like @alex3d suggested?

[2020-12-17 00:35] sneelavara commented on #1807
@ojw28 I have sent the test stream links over developer email. Please have a look at them.
We are exploring the way to add unit test cases. If you have an inputs and/or pointers to look at, would be very helpful. Thanks.

[2020-12-17 02:05] #8248 closed, assigned to icbaker

[2020-12-17 07:45] CiNcH83 opened #8358 "2160p60 playback performance on slow CPU"
I just finished profiling 2160p60 playback on a slow Sony BRAVIA X900F using different SmartTubeNext/ExoPlayer versions with different MediaCodec operational modes (sync/async).

Device: Sony BRAVIA KD-65XF9005 (X900F)
SoC: MediaTek MT5891 ([MT5596](https://www.mediatek.com/products/digitaltv/mt5596))
CPU: 4X ARM Cortex A53 @ 1GHz
OS: Android TV 9 (Kernel 4.9.125)
Player: SmartTubeNext
Video: [The

[2020-12-17 08:38] krocard commented on #8329
I have created a branch on my fork for you to test over 2.12.2: https://github.com/krocard/ExoPlayer/tree/mi-box-s-set-surface-workaround. The fix is https://github.com/krocard/ExoPlayer/commit/e27732f5987eb2a32a722b1c75e9abed5d188349.

I believe the `DEVICE` value is [oneday](https://storage.googleapis.com/play_public/supported_devices.html#:~:text=MIBOX4). Looking at the [official list of androi

[2020-12-17 09:14] opgj123 opened #8360 "How can I convert the main video to another named video in the same group?(multiple angle)"
[code]
Set as above to play the video.

example m3u8 file
`#EXTM3U`
`#EXT-X-MEDIA:TYPE=VIDEO,GROUP-ID="200kbs",NAME="Angle1",AUTOSELECT=YES,DEFAULT=YES`
`#EXT-X-MEDIA:TYPE=VIDEO,GROUP-ID="200kbs",NAME="Angle2",AUTOSELECT=YES,DEFAULT=NO, URI="Angle2/200kbs/prog_index.m3u8"`
`#EXT-X-MEDIA:TYPE=VIDEO,GROUP-ID="500kbs",NAME="Angle1",AUTOSELECT=YES,DEFAULT=YES`
`#EXT-X-MEDIA:TYPE=VIDEO,GROUP-ID="500kbs

[2020-12-17 09:53] BucherTomas commented on #8352
That ticket states that it was caused by regression in 2.12.0, but we are still using 2.11.8. Also the same scenario works fine, if I remove those nonlinear adbreaks from the VMAP, so our issue does not seem to be tied exclusively to seeking. This is  supported by the fact that if I don't seek and the player reaches the first midroll normally, it stalls anyway,

Therefore it appears that some furt

[2020-12-17 10:49] nikulvaghani commented on #8262
@all
this will be solved by releasing your exoplayer.
you can write it in onDestory() if it is activity otherwise it will be in onDestroyView of fragment not in onDestroy.

//activity
    override fun onDestroy() {
        super.onDestroy()
        playerView.onPause()
        simpleExoPlayer?.release()
    }

//fragment
    override fun onDestroyView() {
        super.onDestroyView()
        play

[2020-12-17 10:50] krocard commented on #8283
@stari4ek do you have access to a sample to confirm that the workaround fixes the issue?

[2020-12-17 11:02] marcbaechinger commented on #8333
I understand you are dictating "Ok Google, fast forward" and this triggers the `MediaSessionCompat.Callback.onSeekTo()` instead of `MediaSessionCompat.Callback.onFastForward`. If that is the intended behaviour then the client (like Google Assistant that is processing the voice command) is calculating `currentPosition + fastFowardIncrement` and send this value by using `TransportControls.seekTo(pos

[2020-12-17 11:19] BucherTomas commented on #8290
I'll provide the details as we work with @chladto1 on the same projects.

The numbers are actually fairly low, approximately 0.15% of playback sessions are affected by these exceptions, but they are constantly present in the statistics.
So the issues are persistent, albeit with low frequency. However, we don't know how they affect the users. Whether it's without impact from their point of view and

[2020-12-17 11:20] zjamshidi opened #8361 "Exact seeking for mp3"
To be continued from issue #7355:
I updated the ExoPlayer to v2.12.2 and changed my code to:
[code]

seeking is too slow and still it's not accurate. @krocard would you please help me find out why?

[2020-12-17 11:41] Romantic-LiXuefeng opened #8362 "Video drop frames when Spurious audio timestamp (frame position mismatch) occurs at the beginning of the play and after the seek"
[code]
As the logs show, at the beginning of the playing, occurs `AudioTrack: Spurious audio timestamp` , and the video drops the frames. After then, the play becomes well.  I'm confused why cause the exception `AudioTrack: Spurious audio timestamp`.
And If I restart the TV, everything becomes well.  And can't reproduce this problem.

[2020-12-17 11:47] perracodex opened #8363 "Android 11 compatibility logcat error"
- ExoPlayer 2.12.2
- Android 11 (R)

In Android 11 the next error is shown in the logcat:

[code]

The problem is originated from the fact that in the ExoPlayer **MediaCodectVideoRenderer** class constructor, the context is resolved as the application one:

`this.context = context.getApplicationContext();`

Full logcat stacktrace:

[code]

[2020-12-17 11:48] Romantic-LiXuefeng commented on #8362
[http://ad.vod01.icntvcdn.com/media/new/2013/icntv2/media/newmedia/2.5M/2020/12/15/1608027242356_38de576c800d4f2d82_2d5M_20201215062115.ts](http://ad.vod01.icntvcdn.com/media/new/2013/icntv2/media/newmedia/2.5M/2020/12/15/1608027242356_38de576c800d4f2d82_2d5M_20201215062115.ts) . I use this video when this problem occurs. And I think this video is not a bad file.

[2020-12-17 11:51] christosts commented on #8323
Hi, commit [8da4eaa](https://github.com/google/ExoPlayer/commit/8da4eaa377e0c529c92aa9781480ed48f35006af) ignores subtitles that do not have a URI, but does not raise an exception in order to maintain playback. This is in the dev-v2 branch at the moment and will be available on a next release.

Closing the issue, feel free to re-open if the fix did not address the issue, or there are any other que

[2020-12-17 11:51] #8323 closed, assigned to christosts

[2020-12-17 12:12] karamgharam commented on #5993
any news about this ? @marcbaechinger

[2020-12-17 12:36] ojw28 commented on #8360
Duplicate of https://github.com/google/ExoPlayer/issues/2600

[2020-12-17 12:36] #8360 closed, assigned to ojw28

[2020-12-17 13:17] AndrzejRyl opened #8364 "Error ignored when using CastPlayer. No callbacks"
Hi I have a problem with CastPlayer. It's not Android/Device specific as this is a problem I have with implementation.

I have a bunch of links representing each of chapters in my Audiobook that I download at the startup of my audiobook player. Everything works fine at the start and I can easily listen to audiobook on Chromecast (with the help of CastPlayer and entire MediaSession family). The pro

[2020-12-17 13:40] khushank9 opened #8365 "Getting Unable to connect to License server error while playback"
**Problem Statement:**
While playback of Widevine encypted content which has a renewal policy attached by the widevine license server, Exoplayer throws "Unable to Connect to License server Error"

Reproduction Steps:

- Use the Exoplayer sample App and insert the URL's in the media.exolist.json file.
- Playback the content
- Since the License associated with the content is a renewable license whic

[2020-12-17 14:26] adrian-linca commented on #7954
I think this issue is caused by guava, it's been reported in related issues, but I'm adding my fix here too.
I'm forcing the latest guava library:
[code]

[2020-12-17 14:50] krocard commented on #8348
Is the listener called 500ms too late? Your device is maybe slowed significantly by the decoding start. Is it an old android device?

@pawaom without more information about what is causing the delay we can not help you further. Please provide us with the media files/streams you are trying to play and well as a bug report taken after the delay.

If you're unable to share [bug reports](https://devel

[2020-12-17 15:19] icbaker commented on #8365
The DRM license URL seems to return 403 for me - maybe it's geo-blocked?

Can you please provide a URL that will allow me to try and reproduce the problem.

[code]

[2020-12-17 16:30] khushank9 commented on #8365
Thanks @icbaker for checking the issue.
Can you please let me know which country you are trying to reproduce the issue so that i can make relevant settings  in the server.

[2020-12-17 16:48] tonihei commented on #8243
Sorry for the delay in answering your question, I didn't realize I was assigned to the issue.

`ProgressiveMediaSource` loads the data in chunks of a certain byte size before checking whether loading should continue. The default size of these chunks is 1 MB, so that's why we always load 1 MB even though it may be more than your configured max buffer duration in seconds.

If you want to check more

[2020-12-17 16:48] tonihei commented on #8170
Closing because the question was answered.

[2020-12-17 16:48] #8170 closed, assigned to tonihei

[2020-12-17 16:51] tonihei commented on #8352
@andrewlewis  Could you take a look at this? Sounds like we should handle this more gracefully.

[2020-12-17 16:58] tonihei commented on #8361
The flag is [documented](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/extractor/mp3/Mp3Extractor.html#FLAG_ENABLE_INDEX_SEEKING) that it should only be used if your file is small because it adds more initial computation before playback can start. That's probably why it appears to be slow.

To investigate why your seeking may still not be accurate, we'll probably need an exampl

[2020-12-17 17:14] icbaker commented on #8365
Please make them available to the US and UK.

[2020-12-17 17:16] masensio opened #8366 "Exoplayer app doesn´t reproduce VoD with tunneling"
I´m trying to reproduce with the exoplayer library (2.11.8 version) a 4K VoD content with the properties:
- Video Format: video/hevc - Decoder OMX.MTK.VIDEO.DECODER.HEVC.secure
- Audio Format: audio/mp4a-latm - Decoder OMX.google.aac.decoder
- widevine

- ExoPlayer version number: 2.11.8
- Android version: Android 9
- Android device: Sony Bravia 4K UR3

If Tunneling is disabled the video is correc

[2020-12-17 17:19] #8295 closed, assigned to kim-vde

[2020-12-17 17:59] tonihei commented on #8358
The new media codec operating modes are mostly targeted towards DRM protected playbacks. If the video you are playing is unprotected, it wouldn't be unsurprising you can't see a noticeable difference when testing on a single device.

Generally it sounds as if 2160@60fps is just too much for this device, especially if other things need to be done in the background (like loading media.).

@christost

[2020-12-17 18:10] tonihei commented on #8353
We added an internal dependency in 2.12.0 from `core` to `common` and `extractor`. In Gradle this should be resolved automatically as you noted. I'm not sure who's creating the pom files you are using here and whether it's expected that they contain dependency information. @ojw28 might know more about this.

[2020-12-17 18:17] ojw28 commented on #8353
I guess this is the same issue as @andrewlewis on the bintray-release project in https://github.com/novoda/bintray-release/issues/212. We might just solve it by migrating away from bintray-release, which we need to do anyway for other reasons.

[2020-12-17 18:32] tonihei commented on #8362
I can't reproduce the problem with the spurious audio timestamps on my device. And if the problem disappeared for you after restarting the TV it sounds as if the device was in some kind of bad state? @andrewlewis might know more about the reasons for this output.

Dropping frames is probably just a side effect of having problems with the AudioTrack position, because the audio track is driving the

[2020-12-17 18:36] tonihei commented on #8364
Thanks for reporting. It looks like the `CastPlayer` is just not reporting any errors at all. Not returning the error from `getPlaybackError` and `getPlayerError` is a side effect as there is no error to report.

 I'll mark this as a bug because if the remote playback fails and this is reported back to our `CastPlayer`, we should forward this to `onPlayerError`.

[2020-12-17 22:18] nandovelazquez commented on #8333
Hi @marcbaechinger, thanks for your help.

Steps to reproduce it:
- Open the ExoPlayer
- From the **Clear DASH** menu, select the video **HD(MP4, H264)**
- Being the playhead position in 0, dictate the voice command **"fast forward one minute"** through google assistant.
The expectation is that the new position should be 60000 and the playhead at the 1 minute on the progress bar.

Having the break

[2020-12-17 22:49] khushank9 commented on #8365
@icbaker requested country is added, can you please check the playback now.

[2020-12-17 23:32] linhai326 opened #8367 "Question: Is there any reason to keep "multiSession" flag in DefaultDrmSessionManager?"
It seems in recent versions of exoplayers, this flag is used only in DefaultDrmSessionManager.
Logically, no-key-rotation content is just a special version of key-rotation content (rotated with infinite interval time).
Is there any reason that we have to set this flag to be false when the content only requires single key-request?
what side effect will it have if we by default set it true and play

[2020-12-18 01:24] Romantic-LiXuefeng commented on #8362
[code]
As the log, at the time `12-17 18:42:55.553 `, the player is `READY`, but the video and audio aren't played.  So I think there may be not get the audio current position from `AudioTrack`,  and at the time `12-17 18:43:00.560  6388  6830 W AudioTrack: Spurious audio timestamp (frame position mismatch): 0, 36282669882, 36282671816, 5019000, 252928, 251904` ,get the audio current position is `

[2020-12-18 01:26] tiaragizka commented on #8350
@ojw28 i try sample offline license from exoplayer for play drm source + abr but same problem exo tell me error "crypto key not available"

[2020-12-18 01:34] opgj123 commented on #8360
Is the work in progress?

[2020-12-18 01:34] Romantic-LiXuefeng commented on #8362
```12-17 18:43:00.560 6388 6830 W AudioTrack: Spurious audio timestamp (frame position mismatch): 0, 36282669882, 36282671816, 5019000, 252928, 251904```
As the log the `getWrittenFrames()`, the `AudioTrack` has been written frame count is 251904.
[code]
But there isn't play any sound.
The problem occurs on TV device` Sony BRAVIA 4K U2`. As said above, Only when I unplug the power switch and resta

[2020-12-18 01:56] Romantic-LiXuefeng commented on #8362
[code]
And I filter the AudioFlinger logs.
`12-17 18:42:55.352  2324 11739 W AudioFlinger: createTrack_l(): mismatch between requested flags (00000008) and output flags (00000002)`  . I'm not clear what 's the meaning of this.

[2020-12-18 01:58] tiaragizka opened #8368 "Offline license drm + ABR for streaming content"
How to use offline license drm + abr for streaming content ?
I've tried to use offline license for drm without abr and it worked, but when i try offline license to play drm source with abr, exo always tells me error "Crypto key not available", meanwhile when i try online license to play drm source with abr or without abr Player runs normally. is there anything else you need to do to play drm + abr

[2020-12-18 02:10] Romantic-LiXuefeng commented on #8362
[code]
I'm not sure is there a way to set the audio output flag in `ExoPlayer` . Why `AUDIO_OUTPUT_FLAG_DEEP_BUFFER` the output flag is required ?

[2020-12-18 03:22] javaing opened #8369 "How to viewBinding of PlayerView's controller layout"
Using ViewBinding,
but I dont konw how to binding PlayerView's  custom controller layout

<com.google.android.exoplayer2.ui.PlayerView
                android:id="@+id/player_view"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                **app:controller_layout_id**="@layout/layout_player_mask"/>

onCreate()
binding = ActivityVideoRoo

[2020-12-18 04:00] javaing commented on #8369
I try this way , work for me now

[code]

[2020-12-18 08:25] ArunkarthickNallasamy commented on #8243
Thanks

[2020-12-18 09:11] kgrevehagen commented on #8344
I'm sorry if I was a bit vague, but I'm sideloading an embedded manifest, not the manifest url. So it is not downloaded by the `SegmentDownloader` in my case. I added functionality to `SegmentDownloader` to achieve this. But anyways, I think I got my answer, and that is that I then have to save my manifest if I later want to play it offline, so that I don't have to fetch my embedded manifest once

[2020-12-18 09:11] #8344 closed, assigned to marcbaechinger

[2020-12-18 09:14] vrayv opened #8370 "Embedded subrip titles are not visible past version 2.6.1"
Sub rip embedded subtitles are missing when playing videos with ExoPlayer library.

I noticed that this is working properly with version 2.6.1 but with the latest builds the functionality has been broken. I have been playing with the library code and determined
that the problem is with decoder not properly activating for a selected track.

Sending the example video in the mail.

[2020-12-18 10:16] AndrzejRyl commented on #8364
@tonihei thanks! Looking forward for this to be available 👍

[2020-12-18 12:22] CiNcH83 commented on #8358
Thanks for your response!

Yes. I am talking about the non-protected YouTube videos shared via their social media platform, see [The World in HDR in 4K](https://www.youtube.com/watch?v=tO01J-M3g0U).

Even though a quad ARM Cortex A53 is still a standard CPU for Android TV, running it at only 1GHz might indeed be a problem here. Plus the fact that the SoC is a MediaTek. I am not sure how good their

[2020-12-18 12:56] StasKorol commented on #7733
@marcbaechinger hi , is there any way to do that? Because I have the same requirement. I need fast forward and rewind buttons in compact notification.

[2020-12-18 13:00] SharanKumarReddyKambham opened #8372 "Unable to play widevine encrypted CMAF HLS stream"
Hi Team,

Playback is not happening when I play DRM+HLS+CMAF encrypted content.

The content is generated by shaka-packager with widevine encryption. I tried different types of protection schemes such as cenc,cbcs but none of them played and the player got stuck in the 'BUFFERING' state.

**Observation**

When I generate content with **cenc** the manifest shows

with **cbcs** it shows

 [Supported

[2020-12-18 14:36] stari4ek commented on #8283
Sorry, I do not have access to stream. Got report from crashlytics.

[2020-12-18 17:02] kingfisherphuoc commented on #8269
Hi, sorry for the delay. I found the issue. It's because of creating a new `SimpleExoPlayer`. It took around 200ms to create a player instance. I dont know why it took too long to do so. As a result, I created a player pool and reused them if needed.

[2020-12-18 17:13] tonihei commented on #8243
Closing the issue because the question was answered.

[2020-12-18 17:13] #8243 closed, assigned to tonihei

[2020-12-18 17:14] tonihei commented on #8051
Closing because the issue was answered and we can't provide further detailed advise on customized classes.

[2020-12-18 17:14] #8051 closed, assigned to tonihei

[2020-12-18 17:16] tonihei commented on #8368
Please don't file duplicate issues. Closing as duplicate of #8350.

[2020-12-18 17:16] #8368 closed, assigned to tonihei

[2020-12-18 17:17] tonihei commented on #8369
I'm not sure I understand your original problem, but glad you found a solution yourself. Closing this issue as I think there is nothing else for us to do here.

[2020-12-18 17:17] #8369 closed, assigned to tonihei

[2020-12-18 17:27] tonihei commented on #8372
Your attached logs show two DRM-protected playbacks with the demo app that seemed to have worked fine based on the EventLogger output.

If you want us to investigate further, it would be helpful if you could provide a test stream and/or logs that show the problem. In case you don't want to post the stream publicly, you can send an email to exoplayer.dev@gmail.com with "Issue #8372" in the subject

[2020-12-18 17:30] tonihei commented on #8366
This sounds like a device specific problem, but with the given information it's hard to tell what the cause of this problem is and whether there is something we can do about this. Could you provide us with an example stream and a full bugreport (taken with `adb bugreport`)? If you don't want to post this publicly, please send an email to exoplayer.dev@gmail.com with "Issue #8366" in the subject li

[2020-12-18 17:46] tonihei commented on #8355
This issue sounds similar to a problem with another older Samsung device that was previously reported internally and solved by a workaround (internal ref: b/114764047).

Could you try adding your device (`SM-G361F`) to the workaround method [here](
https://github.com/google/ExoPlayer/blob/be13805ce4e22231ae728d2710a2b8751ee5ad7c/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/M

[2020-12-18 17:49] tonihei commented on #8367
@AquilesCanta  Do you know if there is any downside in turning this flag on for content without key rotation.

[2020-12-18 17:52] tonihei commented on #8370
We didn't receive any email for this issue. Please make sure you put "Issue #8370" in the subject line of the email sent to exoplayer.dev@gmail.com. As this issue description doesn't contain much information so far, please also make sure to include all reproduction steps including example media that allows us to reproduce the problem. Thanks!

[2020-12-18 17:58] tonihei commented on #8363
Could you provide some context abut how and where you use the player? It sounds as if you are using it somewhere where the application isn't an "Activity or other visual Context" (maybe some kind of Service?), but it still tries to render video. It would be good to understand how we can reproduce the issue if needed. Otherwise it's hard to know whether this needs fixing and if yes, how it should b

[2020-12-18 18:00] tonihei commented on #8350
Please provide full reproduction steps that allow us to reproduce and understand the problem. From the current description it's a bit unclear what kind of media you use, what kind of license, how you store and use the offline licenses and what "using abr" means in this context.

[2020-12-18 18:26] perracodex commented on #8363
Hello, thanks for the quick response.

My implementation is executed 100% only in the UI thread, but notice that **this error is shown in the logcat even when running in the UI thread "whenever using an application context with the WindowsManager"**.
The error is new and was introduced in Android 11, hence the reason why doesn't appear with older android versions.

Debugging ExoPlayer I have found

[2020-12-18 19:18] ojw28 commented on #8363
Duplicate of https://github.com/google/ExoPlayer/issues/8246

[2020-12-18 19:18] #8363 closed, assigned to tonihei

[2020-12-18 19:30] Stonos opened #8373 "Widevine license request fails with HTTP 422 on a Xiaomi Redmi 9"
Our app plays Widevine-encrypted DASH streams using ExoPlayer 2.12.1. We have a few users that have reported playback issues, and most of them are using Xiaomi devices.

We managed to get a bugreport from a user that is experiencing issues with a Xiaomi Redmi 9 (galahad) running Android 10.
Here is the exception that occurs (I have sent the full bugreport via email):
[code]

It looks like the DRM

[2020-12-19 01:16] AlienAsRoger opened #8374 "MediaCodecRenderer bypass does not handle empty streams correctly"
In our code we had this part
[code]
which was working fine with ExoPlayer version 2.11.8

In order to launch standalone IMA preroll and then when it finishes launch another player which might not be ExoPlayer. So we relied on correct callback which is called

## Steps to reproduce

1. Modify `media.exolist.json`

[code]

2. Replace this part in the ExoPlayer Demo project

[code]

3. Select build v

[2020-12-19 05:51] pawaom opened #8375 "how to get getCurrentPosition with playbackControlView.setShowMultiWindowTimeBar(true); of the next video"
how can we get the current position of the second, third video with ConcatenatingMediaSource

I had a look at playerview, where the current position text is updated, I want to have a custom implementation of the seekbar and to display the current position text in a similar way.
[code]

an easier option would be to get currentWindowOffset directly, is it possible.

[2020-12-19 06:04] pawaom commented on #8348
the device has 2gb ram , is just a year old, I am not able to produce a bug report but this approach mentioned in

https://github.com/google/ExoPlayer/issues/2533#issuecomment-292556170

` Maybe if we were to report the presentation timestamp of the rendered frame via onRenderedFirstFrame, you'd be able to compare that against the current playback position.`

may be helpful, please consider this a

[2020-12-19 06:52] anupdey99 opened #8376 "Zooming problem with hls live stream"
When working with HLS streaming playerview is not zooming.
I use
[code]

Stream Event Logs

[code]

![Screenshot_1608360248](https://user-images.githubusercontent.com/17586034/102683052-4d545780-41f8-11eb-8996-ca83733445e4.png)

I tested with mp4 file, its zoom to fill the rectangle shape.
Need some help with this issue

[2020-12-19 07:37] vrayv commented on #8370
https://20.download.real-debrid.com/d/QUMAJXVVOKBHC/Greenland.2020.720p.AMZN.WEB-DL.DDP5.1.H.264-NTG.mkv

Here you go.

On Fri, Dec 18, 2020, 18:52 tonihei <notifications@github.com> wrote:

[2020-12-19 11:17] nbasbous opened #8377 "IllegalStateException: Call to playAd without appropriate call to loadAd first."
I got the following IllegalStateException
[code]
ExoPlayer version: 2.12.1
IMA SDK version: 3.21.0

[2020-12-19 16:09] AlienAsRoger opened #8378 "Setting BackBuffer to LoadControl as 10 minutes, breaks buffering. "Playback stuck buffering and not loading" is thrown"
## Steps to reproduce

1. Modify ExoPlayer Demo project for `PlayerActivity`
[code]

2. Add podcast mp3 files:
[code]

I think any podcast would be reproducible, but this is what we've used.

3. Start playback of those files and notice how buffering proceeds. Buffering stops at about half of the podcast and when player reaches this time it not longer proceed
4. Note: Also check with variable speed

[2020-12-19 16:15] Javsons opened #8379 "DownloadManager - maximum download speed;"
Hey, i cant find I can't find the answer anywhere, also in libs can't see anything.

Can i set max download speed when i use DownloadManager?

[2020-12-19 20:54] moneytoo opened #8380 "Order of moving controls from basicControls to extraControls in StyledPlayer"
### Use case description
I am customizing/adding controls to the `exo_basic_controls` of Styled Player. When there's not enough room, [StyledPlayerControlViewLayoutManager.onLayoutWidthChanged()](https://github.com/google/ExoPlayer/blob/r2.12.2/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerControlViewLayoutManager.java#L628-L692) moves controls to `exo_extra_controls`.
This

[2020-12-20 06:46] ItzNotABug opened #8381 "TimeoutException: MediaMetadataRetriever.finalize() timed out"
I've been getting a lot of `TimeoutException`s lately,\
the stack trace does not give much info. but the Log tab in `Crashlytics` hints at a specific flow as to when this crash occurs.

**Stack Trace:**
[code]
<br>

**Android Devices Affected:** LG, Motorola, Xiaomi, Asus
**Android Version Affected:** Android 7 (86%), Android 6 (10%), Android 5 (4%)
**ExoPlayer Library Version:** `2.12.1`

Attachi

[2020-12-20 23:24] ZacSweers opened #8382 "Please publish to MavenCentral or maven.google.com"
(Couldn't comment on #28)

JCenter has a long history of artifact integrity issues and we try to avoid it at all costs. I recognize that maven central's publishing process is sometimes considered more tedious, but this signing/verification process is part of why it's preferred.

https://blog.autsoft.hu/a-confusing-dependency/
https://twitter.com/jakewharton/status/1073102730443526144?lang=en

[2020-12-20 23:25] ZacSweers commented on #8382
Alternatively, publish to maven.google.com

[2020-12-20 23:32] ojw28 commented on #8382
Duplicate of https://github.com/google/ExoPlayer/issues/5246

[2020-12-20 23:32] #8382 closed, assigned to ojw28

[2020-12-20 23:35] ZacSweers commented on #5246
JCenter has a long history of artifact integrity issues and we try to avoid it at all costs. I recognize that maven central's publishing process is sometimes considered more tedious, but this signing/verification process is part of why it's preferred.

https://blog.autsoft.hu/a-confusing-dependency/
https://twitter.com/jakewharton/status/1073102730443526144?lang=en

Maven.google.com is another opt

[2020-12-20 23:52] ojw28 commented on #8380
The styled player UI components were designed by the UX team, who are aware of material guidelines. Note that your reference is specifically about app bars at the top of the application's UI. From a quick skim, this guidance doesn't seem to be part of the material page about app bars at the bottom of the UI, although in any case that's not really exactly what this is.

Closing, since these compone

[2020-12-20 23:52] #8380 closed, assigned to ojw28

[2020-12-21 00:25] ojw28 commented on #8341
This normally happens when a streaming provider has simply concatenated a fixed duration MP3 file and an MP3 live stream together. This is not really a valid thing to do. The fixed duration MP3 file specifies where the media data ends in its header. ExoPlayer does not attempt to play beyond this point because correctly formatted MP3 files can (and sometimes do) have non-media data concatenated ont

[2020-12-21 00:25] #8341 closed, assigned to marcbaechinger

[2020-12-21 01:10] ojw28 commented on #8348
I don't think this issue warrants further attention until sufficient information is provided to allow us to investigate it efficiently. Given the information has been requested repeatedly and not provided, I'll go ahead and close this on the assumption that it's not going to be provided. If you are able to provide it, please feel free to reply here with the requested information, and we'll reopen

[2020-12-21 01:10] #8348 closed, assigned to krocard

[2020-12-21 02:04] #8249 closed, assigned to icbaker

[2020-12-21 07:26] SharanKumarReddyKambham commented on #8372
Hi @tonihei I ve shared the test content via exoplayer.dev@gmail.com, please use that content to reproduce the issue,the content is generated using widevine test credentials.

We are testing the content in Realme and Nvidia shield devices.

[2020-12-21 08:38] aasitnikov opened #8383 "How to organize MediaSources/DataSources, when url has to first be resolved from external API"
In my application media items are represented by some integer content id (723141234 for example), and before playing it I need to query backend method, that converts this content id to an actual url, that contains media. One of the requirements is to be able to download and play media offline. What is the best practice to handle such case?

Currently I have this idea in mind:
1. Feed the player wi

[2020-12-21 09:29] tonihei commented on #8378
This is mostly working as intended. The reason is that a 10min back buffer will require large amounts of memory and the `DefaultLoadControl` stops loading further media once an upper memory limit is reached. That's why your playback is stuck and the error is thrown.

There are multiple ways to work around this problem for your particular case:
 - Reduce/Remove the back buffer and replace it by a `

[2020-12-21 09:51] #8349 closed, assigned to icbaker

[2020-12-21 09:58] tonihei commented on #8370
I can see the subtitles for both English and Dutch in this file if I select the respective tracks. Please also provide a clear description of what you are seeing and what you expect to see.

[2020-12-21 10:15] nicktz118 opened #8384 "Is it possible to get PCM float audio stream in AudioProcessor from the MP4 video?"
I have a similar scenario with #8342, but I would like to process the PCM Float audio stream in AudioPrcoessor. I follow Issue #6749 and set `enableFloatOutput` to true when I initialized the DefaultAudioSink. However, the callback `queueInput` in BaseAudioProcessor always return PCM 16 bit. It seems there is a statement that will make `useFloatOutput` to false in DefaultAudioSink. (Please see the

[2020-12-21 10:40] tonihei commented on #8372
Thanks for reporting! I can reproduce the issue.

My initial investigation shows that playback is stuck in a buffering state because the loading thread is indefinitely blocked on `timestampAdjuster.waitUntilInitialized()` in `HlsMediaChunk`.  Note that this only happens when you try to play past the discontinuity. For example seeking to a later position in the stream works just fine. Not sure if t

[2020-12-21 10:43] christosts commented on #8358
Thank you for your analysis.

I think the code sample is enabling the asynchronous mode only for the video rendering part, can you please try enabling for both audio and video? Eg

[code]
or for convenience
[code]

Also, it'd be useful to see the codecs used for the specific file (not sure which encoding of the video file is reaching your device). Will you be able to attach an `EventLogger` to the

[2020-12-21 10:44] icbaker commented on #8365
Still getting 403s from the license server.

[2020-12-21 10:58] tonihei commented on #8372
The root cause for getting stuck looks the same as in #6896. In this case it's audio track though and it's not the final segment, so may as well be unrelated.

[2020-12-21 11:13] ojw28 commented on #8330
I think the way that ExoPlayer is resolving the URI is correct. There's no way that the player can know that `/storage/emulated/0/Quark/Download/a0` is a file path, as opposed to a path relative to the base URI. Assuming it's relative to the base URI is correct and standard practice, as far as I'm aware.

If you want to specify file URIs in your m3u8 file then you should use absolute URIs like `fi

[2020-12-21 11:13] #8330 closed, assigned to christosts

[2020-12-21 11:27] ekremcet opened #8385 "How to access the decoded frame during playback ?"
Hi,

Sorry in advance if this a replicated question but I couldn't find the proper answer in existing issues.

I wanted to ask about how can we access the decoded frame during the playback? Any help is appreciated.

Thanks

[2020-12-21 12:33] ojw28 commented on #8381
It's clear from the stack trace that this issue is occurring in `android.media.MediaMetadataRetriever`, which isn't part of the ExoPlayer library. Please [file your issue on the Android platform instead](https://source.android.com/setup/contribute/report-bugs).

[2020-12-21 12:33] #8381 closed, assigned to ojw28

[2020-12-21 12:42] ojw28 commented on #8373
@jt64 - Are you able to shed any light on this? Is the `content-type` parameter mentioned by the DRM vendor part of the key request, and would this be indicative of an incorrect CDM implementation?

[2020-12-21 12:50] marcbaechinger commented on #8333
I was able to reproduce this behaviour with the demo app. I get the same data points like you get which means that Assistant seems to send the new position calculated wrongly. I can't see an apparent misbehavior on the `MediaSessionConnector/ExoPlayer` side though. Here is what I've done

1. Start playback in a foreground service.
2. Pause playback and seek to position 0
3. Run `adb shell dumpsys

[2020-12-21 13:18] skfaisal93 opened #8386 "Exoplayer with AWS CloudFront Signed Cookies"
I am using Cloudfront Signed Cookies to protect videos and I implemented it for browsers but I don't know how can I implement this with Exoplayer.

Can anyone share some example or piece of code. It will be really helpful.

[2020-12-21 13:56] marcbaechinger commented on #7733
The `PlayerNotificationManager` does not offer an API to change the buttons displayed in compact mode at this point.

You can subclass the `PlayerNotificationManager` and override [`getActionIndiciesForCompactView()`](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L1267). Please check the javadoc of the m

[2020-12-21 14:15] ojw28 commented on #8384
`DefaultAudioSink` will not use float output unless the source content is itself high resolution. Furthermore, we do not support audio processing when float output is switched on. As per the `enableFloatOutput` [Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/DefaultAudioSink.html#DefaultAudioSink-com.google.android.exoplayer2.audio.AudioCapabilities-com.google.and

[2020-12-21 14:44] AquilesCanta commented on #8367
The reason for the multiSession flag is that it's common for media to bring in keys for all elementary streams when issuing the key request for any of the elementary streams.

Example: both audio and video are signalled as protected. However, issuing a license request for the video keys will also bring in audio keys, so having a single DRM session in that scenario is enough. If we turned off multi

[2020-12-21 14:49] marcbaechinger commented on #8383
I agree that what you describe sounds like the best way to do it for caching. The upstream `HttpDataSource` is wrapped by a `ResolvingDataSource` that is again wrapped by a `CacheDataSource`.

`CacheDataSource` -> `ResolvingDataSource` -> `DefaultHttpDataSource/OkHttpDataSource`

Aside: If you want to use the `DownloadService` for downloading you need to override [`DownloadService.getDownloadManag

[2020-12-21 14:54] tiaragizka commented on #8350
@tonihei thanks your feedback
I built a player for Android TV, the sources I use are protected using DRM and I want to use an offline license. I currently store the key (offline license) in the local database and use it like the script below. From several existing sources, only sources that use adaptive bitrate (ABR) technology which is set from the server cannot be played and generate "Crypto key

[2020-12-21 15:53] marcbaechinger commented on #8379
There is no support for setting a download speed limit. You can look into the [workmanager extension](https://github.com/google/ExoPlayer/tree/8a0d52be4b5402af0987fc7d009bc49977c72b67/extensions/workmanager) which allows you to set some requirements for when downloads are resumed, but this is restricted to eg. avoiding downloading on metered network connections.

Throttling the network speed as a

[2020-12-21 16:09] marcbaechinger commented on #8322
I don't know what your method `HelperMediaSource.createMedia(context, mediaItem)` is doing, but it needs to make sure, that the media source you are going to create after removing the download does not filter the playlist of the `HlsMediaSource`.

My guess is that the filtering of the playlist is still in place when you create the HLS media source. The playlist is filtered by using `mediaItem.play

[2020-12-21 18:01] AquilesCanta commented on #8364
For reference, relevant: [Internal ref: b/124858880].

[2020-12-21 18:21] aasitnikov commented on #8383
Thanks 🙏

[2020-12-21 18:21] #8383 closed, assigned to marcbaechinger

[2020-12-21 18:43] vrayv commented on #8370
It seems the problem is default track selection. Build 2.6.1 automatically selects the track. What is the command to do it with the latest build?

[2020-12-21 18:49] ojw28 commented on #8385
Depending on your exact use case, you may find https://github.com/google/ExoPlayer/issues/6920 and https://github.com/google/ExoPlayer/issues/3105 useful. If not, I'd suggest you expand in more detail exactly what your use case is.

[2020-12-21 19:04] ojw28 commented on #8333
[Internal ref: b/176093999]

[2020-12-21 19:24] ojw28 commented on #8374
Thanks for reporting this, and for the detailed reproduction steps. Please do take care to include all of the requested information when filing future issues though! In this particular instance, including a bug report (or even logcat output) would have shown the root cause, which is unrelated to ads:

[code]

[2020-12-21 20:17] marcbaechinger commented on #8229
The change landed in dev-v2 and will be released with 2.13.0.

[2020-12-21 20:17] #8229 closed, assigned to marcbaechinger

[2020-12-21 20:20] marcbaechinger commented on #8251
Closing due to inactivity.

[2020-12-21 20:20] #8251 closed, assigned to marcbaechinger

[2020-12-21 20:24] marcbaechinger commented on #7851
Closing due to inactivity.

[2020-12-21 20:24] #7851 closed, assigned to marcbaechinger

[2020-12-21 20:27] marcbaechinger commented on #8188
Closing due to inactivity.

[2020-12-21 20:30] marcbaechinger commented on #8066
Closing due to inactivity.

[2020-12-21 20:30] #8066 closed, assigned to marcbaechinger

[2020-12-21 20:32] marcbaechinger commented on #8149
Closing due to inactivity.

[2020-12-21 20:32] #8149 closed, assigned to marcbaechinger

[2020-12-21 20:34] marcbaechinger commented on #7369
Closing due to inactivity.

[2020-12-21 20:34] #7369 closed, assigned to marcbaechinger

[2020-12-21 21:48] newtestpage commented on #8355
Hi . Thanks for your answer . But I am not sure is about just my device . I checked with android studio emulator also with android api 21 and it has the same problem .

[code]

[2020-12-21 21:51] ojw28 commented on #8355
The emulator is known to be broken prior to API level 23, as per our [supported devices page](https://exoplayer.dev/supported-devices.html).

[2020-12-21 21:52] ojw28 commented on #8355
Marking as needs more info again, since Toni's question above still needs answering.

[2020-12-22 00:18] ojw28 commented on #8374
This will be fixed shortly, and be eligible for the next minor release (although we don't have an ETA).

As you've noticed, passing a sufficiently large value as the `durationUs` argument when creating your `SilenceMediaSource` is a valid workaround. You should use the smallest value that fixes the issue, to avoid delaying the player transitioning to the ended state. The smallest value that fixes

[2020-12-22 00:29] AlienAsRoger commented on #8374
Thank you so much for such a quick response @ojw28 !

For further requests I'll include more logs from `EventLogger` as well.

[2020-12-22 02:04] #8250 closed, assigned to icbaker

[2020-12-22 02:16] nicktz118 commented on #8384
Thank you very much for your quick response @ojw28

[2020-12-22 07:48] CiNcH83 commented on #8358
Thanks @christosts for your response!

[Tried](https://github.com/yuliskov/SmartTubeNext/commit/a47738ffe77dc04f44c38649b3acf5bb6d9540f0), but didn't help. Heavy stuttering in the beginning due to continuously high CPU load. Lots of frames get dropped. CPU load stabilizes after several seconds. There are still spikes every few seconds which cause micro-stuttering (no frames get dropped anymore tho

[2020-12-22 09:17] lys1737 commented on #4021
According to https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/HLS_Sample_Encryption/Encryption/Encryption.html#//apple_ref/doc/uid/TP40012862-CH2-SW6， We try to Implement this feature。

The biggest adjustment is in H264Reader， Audio decryption successfully and playback
perfect， but video always has some flaws。Video playback smoothly and having mosaic appear occasiona

[2020-12-22 09:58] ekremcet commented on #8385
Hi @ojw28,

Thanks for the answer. I wanted to do some processing on the decoded frame before displaying it to the user so I think #6920 should work for my case.

[2020-12-22 10:16] sunhb opened #8387 "Offset and length audio files specified, unable to seek after playback"
The Audio dies after you call `seekTo(position)`

- Search existing issues: #4548, #1079, #5829, #2650 .....
- Website I have read:
    https://exoplayer.dev/customization.html#enabling-constant-bitrate-seeking

- ExoPlayer version: 2.12.0
- Android version: Android11 (RP1A.200720.009)
- Android device: Pixel 4 XL

- code of media source creation:
[code]

Media is contained in a file, so dataSpec

[2020-12-22 10:18] nicktz118 commented on #8384
Hi @ojw28, dose callback `queueInput` in BaseAudioProcessor allow operating the sample? I found it will be laggy when I was trying to transfer range 32767~-32768 to 1~-1. Is there a solution that could help me solve the problem? Thank you!

[2020-12-22 10:23] tonihei commented on #8370
It looks like there was a bug back in 2.6.1. that got fixed by the PR in #4480.

The file specifically specifies that the text track is **NOT** a default track that should be auto-selected. In 2.6.1 we accidentally parsed this information to set the `isForced` flag to `false` instead of the `isDefault` flag. So `isDefault` stayed at its initial value of `true` and we auto-selected the text track.

[2020-12-22 10:23] #8370 closed, assigned to tonihei

[2020-12-22 10:23] sunhb commented on #8387
Audio file has sent from mail.
fileName: `1461431`
offset position: `4096`
audio content length after offset: `47413829`

[2020-12-22 10:25] marcbaechinger commented on #8386
I do not really know the details of AWS CloudFront Signed Cookies. Assuming these are cookies like all others and these are name/value pairs that carry AWS specific signed values in HTTP headers of requests and responses (Set-Cookie and Cookie), this should probably just work with the standard cookie manager.

Please check the documentation of [java.net.CookieManager](https://developer.android.com

[2020-12-22 10:26] tonihei commented on #8350
@ojw28 Could you take a look? I'm not sure how offline licenses work exactly and what needs to be done to make them work correctly for adaptive playback.

[2020-12-22 11:46] christosts commented on #8358
Thank you for the information.

I took a closer look at your code sample and I see your renderer factory is also overriding `buildAudioRenderers()` and `buildVideoRenderers()`. The code is replacing the MediaCodec audio and video renderers with custom ones. However, the MediaCodec operation modes need to be passed down to the MediaCodecVideoRenderer and MediaCodecAudiorRenderer instances, and I th

[2020-12-22 13:42] amitav13 commented on #8374
I'm getting a similar stacktrace as well when trying to play these files through the ExoPlayer demo app:
https://temp-audio-bucket-1.s3.ap-south-1.amazonaws.com/Recording+1.wav
https://temp-audio-bucket-1.s3.ap-south-1.amazonaws.com/Recording+76.wav
`media.exolist.json`:
[code]

For reference, I've got the same files working as expected when streaming them through the VLC Android app. (https://pla

[2020-12-22 14:03] amitav13 opened #8388 "Wav file playback error"
Hi,
I'm unable to play back some `wav` files that I've recorded through my app. I've been able to record other files that I can play back though.

The files in question:
Can play:
https://temp-audio-bucket-1.s3.ap-south-1.amazonaws.com/Recording+80.wav

Can't play:
https://temp-audio-bucket-1.s3.ap-south-1.amazonaws.com/Recording+1.wav,
https://temp-audio-bucket-1.s3.ap-south-1.amazonaws.com/Recor

[2020-12-22 14:24] idokit365 opened #8389 "Which version is stable?"
Which version is stable if I need basic function only which can play local video and seek to ?
Which version is more stabled v1 and v2, and which sub version should I selecting ?
Thanks.

[2020-12-22 14:41] walGy opened #8390 "Failed resolution of: Lcom/google/android/exoplayer2/audio/SimpleDecoderAudioRenderer;"
I tried to include FFMPEG extension to my project and following README, I could create the needed .so libs from this step:
`./ndk-build.cmd NDK_PROJECT_PATH=$(pwd) APP_BUILD_SCRIPT=$(pwd)/Android.mk APP_ABI="armeabi-v7a arm64-v8a x86 x86_64" -j4` (I work with Windows Git bash)
In the last step including extension in app build.gradle, I got issue:
`Build command failed.
Error while executing proces

[2020-12-22 15:31] marcbaechinger commented on #8389
For ExoPlayer v2 there are two branches. The release branch and the dev-v2 branch.

The release branch has a version number 2.x.x assigned and we publish [RELEASENOTES](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md) that tell what new features and bug fixes are included. The [README](https://github.com/google/ExoPlayer/blob/release-v2/README.md) file of the project has a bann

[2020-12-22 16:07] AquilesCanta commented on #8390
A few notes:

1. Don't ignore the issue template when you file issues. It's designed to hasten the issue handling. In this case, we are missing the ExoPlayer version, and you mention the "README" file without pointing us to the README you are following.
2. Don't use a prebuilt AAR. It's highly likely that you run into hard-to-debug binary incompatibilities.
3. We don't support build on windows. Yo

[2020-12-22 17:15] kevinbtesar opened #8391 "Captions not working from M3U8 file, MIME TYPE eia608/1"
I'm on Android API Level 28 and I'm unable to get captions to work. It's MIME type is eia608. Here's the log output:

TextRenderer [
    Group:0, adaptive_supported=N/A [
        [X] Track:0, id=captions:CC1, mimeType=application/cea-608, language=en, supported=YES
    ]
 ]

And here's a URL pointing at an M3U8 file. Of course, the captions are embedded into the file itself.

https://dai2-playlist

[2020-12-22 18:16] navjotbedi commented on #8039
Any ETA by when we can have this enhancement?

[2020-12-22 18:22] icbaker commented on #8391
I can reproduce what you're seeing. The subtitles don't work with the first link, but they do with the second.

When debugging inside `Cea608Decoder` during playback of the non-working stream, it seems every time a cue 'completes' we determine it's empty, which results in nothing being shown:
https://github.com/google/ExoPlayer/blob/107fed9b2afc1e1edce95eee4a1fbc952377efd2/library/core/src/main/ja

[2020-12-22 18:35] kevinbtesar commented on #8391
@icbaker Hey, thanks for the quick reply! And at least you're seeing the same thing :D

Along with some other efforts, notably, I've also tried to introduce an HLS media source to see if that helped. It did not.
 HlsMediaSource hlsMediaSource =
          new HlsMediaSource.Factory(dataSourceFactory)
              .createMediaSource(MediaItem.fromUri("https://dai2-playlistserver.aws.syncbak.com/pla

[2020-12-22 20:30] walGy commented on #8390
I followed README from  [https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg](url) . I added Exoplayer locally before, as mentioned in README from Exoplayer itself and it worked. It was last week , I guess some of the latest versions (where can I get the exact version number?).
So I could follow steps from FFMPEG extension `Readme` until the last step. I guess up to here, there a

[2020-12-22 21:38] AquilesCanta commented on #8390
Yeah, it seems it's not building due to path issues with the building tools. The build is failing due to this:

[code]
It's impossible for the build to work without a compiler.

This is not something I can assist debugging since i don't have Windows available. The best advise I can give you is posting a question in a general Q&A site, like stack overflow, including as much context as you can. Plea

[2020-12-22 21:38] #8390 closed, assigned to AquilesCanta

[2020-12-22 22:15] skfaisal93 commented on #8386
Here is the solution. Please note that I am using a custom CNAME. you can use your CloudFront URL instead of "https://protected.example.com". Also, let me know if anybody needs help in creating a signature. Hope this solution will help others.

[code]

[2020-12-22 22:52] vrayv commented on #8370
thanks for clarification.

[2020-12-23 02:04] #8274 closed, assigned to AquilesCanta

[2020-12-23 02:04] #8240 closed, assigned to AquilesCanta

[2020-12-23 09:34] #8188 closed, assigned to marcbaechinger

[2020-12-23 10:17] Killometer opened #8392 "Unable to play multimedia resources on USB flash drive"
First of all, thank you.
   So here are my questions:
-- I tried to play the video from the USB flash drive, but it failed and nothing was displayed.

-- However, it can successfully play videos on Android internal storage.

--logcat shows some errors
![exoplayer_udisk_unable_play](https://user-images.githubusercontent.com/16235907/102986649-1fe71100-454c-11eb-968e-13d86b1fe703.png)

[2020-12-23 11:37] equeim opened #8393 "ExoPlayer doesn't check if AVC/HEVC profile/level are supported when playing media file directly"
It seems that ExoPlayer can only check if video profile/level is supported by decoder (as reported by MediaCodecInfo.getCapabilitiesForType) only when profile/level information is provided in DASH/HLS manifest.

The only exception is MPEG-TS extractor that can get profile/level information from AVC bitstream.

If that is not an intentional design decision, I would like to make a pull request that

[2020-12-23 13:17] ojw28 commented on #8393
I don't think there was ever an intentional decision _not_ to implement this. That said, the value of doing so seems smaller than for DASH/HLS. For DASH/HLS, it might be the difference between playback succeeding and failing, since variant streams may use different profiles/levels, and a subset may be supported. For progressive streams I would assume it's the difference between playback failing wi

[2020-12-23 14:03] #8389 closed, assigned to marcbaechinger

[2020-12-23 14:03] ojw28 commented on #8389
`2.12.2` is the latest (and therefore recommended) version.

[2020-12-23 14:20] equeim commented on #8393
The problem is that not all decoders fail with error in these cases. Some will "decode" frames, but show black screen or distorted image, for example. This makes it hard for application to appropriate action in these cases (which is especially important for things like ads when you would want to skip unsupported ad video and show actual content).

I suspect that it's decoders fault to not indicate

[2020-12-23 14:24] ojw28 commented on #8393
Thanks for the clarification! Perhaps send a pull request for AVC to get started, in that case, and follow up with the HEVC one separately :)?

[2020-12-23 14:25] equeim commented on #8393
That's what I plan to do!

[2020-12-23 14:52] ojw28 commented on #8388
Thanks for the high quality bug report! I think there are a couple of things going on here:

1. It looks like the two files that don't play correctly are malformed. Referring to [this page that describes the WAV specification](http://soundfile.sapp.org/doc/WaveFormat/), the `Subchunk2Size` field in the problematic files is set to `0`, which indicates there are zero samples to be played.
1. The `Nu

[2020-12-23 14:53] ojw28 commented on #8388
Closing as "bad media" for now. The `NullPointerException` is already tracked by https://github.com/google/ExoPlayer/issues/8374.

[2020-12-23 14:53] #8388 closed, assigned to ojw28

[2020-12-23 15:02] vrayv opened #8394 "Flickering single line of pixel with 800 px height content on Sony TV"
There is a known bug on some tv models explained here:

https://forums.plex.tv/t/playback-issue-sony-bravia-930e-flashing-artifacts-at-bottom-of-screen/230819/81

ExoPlayer seems to experience the same bug. I am doubtful its the problem with the exoplayer but rather with the TV itself (but those 2 might be connected because it seems sony uses exoplayer internaly).

The problem is happening when th

[2020-12-23 22:36] shlomivman opened #8395 "Exoplayer doesn't stream some of m3u8 links"
Hello everyone,
first of all, I am using the NEWEST demo sample (not edited at all).

I am trying to play an URL of m3u8 from a website,
the website link is https://www.mako.co.il/mako-vod-live-tv/VOD-6540b8dcb64fd31006.htm

There are 2 links that appear in the chrome dev network tab:
1) https://keshethlslive-i.akamaihd.net/hls/live/512033/CH2LIVE_HIGH/index.m3u8?hdnea=st%3D1608762442%7Eexp%3D1608

[2020-12-23 22:56] ojw28 commented on #8395
I also tried the links you provided on the website you provided, and they do not play for me. I see an HTTP 403 error (see the text in red on the right hand side of the screenshot below). This is the exact same error you're seeing from ExoPlayer.

![Screenshot 2020-12-23 at 22 53 29](https://user-images.githubusercontent.com/7881572/103042489-b24ddb80-4571-11eb-8a54-feb375599125.png)

So, it appea

[2020-12-23 22:56] #8395 closed, assigned to ojw28

[2020-12-23 22:59] ojw28 commented on #8392
If you think there's an issue here, you'll need to provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.

[2020-12-23 23:02] ojw28 commented on #8387
It's not clear how you are actually applying the offset and length in or before `FileDataSource`. This is the critical piece of information, since it's highly likely that this is just implemented incorrectly. If you have a custom `DataSource` implementation then you'll need to share it so that we can take a look at what might be wrong.

[2020-12-23 23:05] #8385 closed, assigned to ojw28

[2020-12-23 23:06] #8374 closed, assigned to ojw28

[2020-12-23 23:12] ojw28 commented on #8384
`ResamplingAudioProcessor` is an example of an `AudioProcessor` that operates on sample data, including potential resampling between different PCM formats. It's unclear what "laggy" means in this context, but that processor seems to perform fine.

It's really difficult to provide further guidance without any information about what your actual use case is. I think you'd need to provide a much more

[2020-12-23 23:20] ojw28 commented on #8350
Please read our [DRM documentation](https://exoplayer.dev/drm.html#offline-keys). In particular note:

This means that your license server must be configured to behave as in [case 1](https://exoplayer.dev/drm.html#case-1-license-server-responds-with-all-keys-for-the-content), where all of the keys needed for playback are returned in the license request, rather than just the key being requested.

N

[2020-12-23 23:31] ojw28 commented on #8177
There isn't an easy way to get this directly from the player. That said, the player gives you both the playback position, and the manifest (by calling `Player.getCurrentManifest`). It should be possible for you to work out which chunk in the manifest the playback position corresponds to.

Aside from the direct answer above, it's quite unclear whether what you're asking for is really what you need.

[2020-12-23 23:31] #8177 closed, assigned to ojw28

[2020-12-23 23:34] ojw28 commented on #8140
It's beyond the scope of this issue tracker for us to review large amounts of application code. The [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) supports offline playback, and is available as source code. I'd suggest you use that as a starting point.

[2020-12-23 23:34] #8140 closed, assigned to ojw28

[2020-12-23 23:36] #8111 closed, assigned to ojw28

[2020-12-23 23:48] shlomivman commented on #8395
Hi Oliver @ojw28 ,
First of all thanks for the quick answer,
I have a question you can easily answer,
In the demo project, where to setup the default agent?
is it in file PlayerManager?
private static final String USER_AGENT = "HERE";

or I have to set it up in other place?

and if I want to set some cookies to get the player work, how to do that? where exactly (in the demo project) I have to inse

[2020-12-24 00:00] ojw28 commented on #7881
I was unable to reproduce this on a couple of non-MTK TV boxes that I have available for testing, so it does appear to be device or MTK specific. I do not have an MTK TV box to test on.

In most cases where the `PlayerActivity` ends up hanging in this way, it's because a call to one of the underlying media components (probably `MediaCodec`) has hung. Bug reports normally include stack traces for a

[2020-12-24 00:04] ojw28 commented on #7657
Copy / pasting some random snippets of code from your app isn't going to help here. As per my comment above, the fact that you're seeing the error you're seeing indicates that the content the player is attempting to play has not been downloaded. You'll need to more thoroughly debug why this is the case.

[2020-12-24 00:04] #7657 closed, assigned to ojw28

[2020-12-24 00:09] ojw28 commented on #7606
Yes, cropping is expected if using `zoom`. It's unclear what you're trying to achieve, but perhaps you want to use `fill` instead.

[2020-12-24 00:09] #7606 closed, assigned to ojw28

[2020-12-24 00:10] ojw28 commented on #7591
Closing this because it's likely to be a device specific issue. Amazon have yet to respond on the issue ref'd above.

[2020-12-24 00:10] #7591 closed, assigned to ojw28

[2020-12-24 00:37] #8392 closed, assigned to ojw28

[2020-12-24 01:06] Killometer commented on #8392
OK. Thanks for your reply.

[2020-12-24 01:46] ojw28 commented on #7569
Closing because no information was provided. You need to fill out the template if you would like us to investigate an issue.

[2020-12-24 01:46] #7569 closed, assigned to ojw28

[2020-12-24 02:36] sunhb commented on #8387
Thanks your reply at first :)
One thing to note about this issue is that media can safely play without calling ``seek``
Here is how I apply offset and length.

[code]
This is the contents of the file, which means the offset is correct, as well as the fact that it can be played

![image](https://user-images.githubusercontent.com/6211116/103052145-5ddb4800-45d3-11eb-9753-bd1fb324328b.png)

[2020-12-24 08:14] Tupsi opened #8396 "opus 5.1 and 7.1 channel order is incorrect"
Describe how the issue can be reproduced, ideally using the ExoPlayer demo app
or a small sample app that you’re able to share as source code on GitHub. To
increase the chance of your issue getting attention, please also include:

- Clear reproduction steps including observed and expected behavior
1. Create a mkv with video and opus 5.1 or 7.1 audio
(I use ffmpeg, with the releveant audio part as

[2020-12-25 02:32] junchenChow commented on #8275
Sorry, there have been a lot of things recently, and I did not follow this reply.
Because it is a matter of online statistics, it is impossible to directly contact the user in question to provide equipment.
I can only judge by the version for the time being, the version <=24 will use mediaplayer to solve the problem.

Sorry for not providing you with more information, this problem can be closed.

[2020-12-25 02:51] sontn-fabbi opened #8398 "Question: is it possible to remain a video file what was downloaded and backup to Android."
Question: is it possible to remain a video file what was downloaded and backup to Android.

I have downloaded a video file with Exo Downloading media https://exoplayer.dev/downloading-media.html
My app has allowed backup.In manifests file: android:allowBackup="true"

Uninstall app, then re-install app. is it possible the above downloaded video file has remained and playing normally?

[2020-12-25 04:41] giangpham2811 opened #8399 "Im using Exoplayer version 2.12.1, is the any way to add a header to every single download request form specific URL ?"

[2020-12-25 10:22] Turalllb commented on #8329
@krocard, Hi,  sorry for taking too long.
Yes, I checked the Device value, it is oneday. Unfortunately, we do not have these MiBox 1,2,3 and mini devices.
I tested on MiBox s, it really stopped crashing.
Since my project uses version 2.11.7, and the transition to 2.12. + Due to changes in working with the drm is not very fast, I tested it on the 2.11.7 branch, adding your code. The screenshot show

[2020-12-25 12:27] amitav13 commented on #8388
Thanks, it was indeed the `Subchunk2Size` that was the issue.

Would you mind sharing what tools you used to debug this issue btw? We had tried to use all of the Android APIs available, and `ffmpeg` too to get to this root cause.