[2022-02-16 11:18] NikSatyr commented on #9978
I'd also like to point out that we need this metadata not only for the notification (so some tweaks to MediaDescriptionAdapter would not be enough), but for `AnalyticsListener` & some other parts. Thus we need to feed this correct metadata directly into the player / `MediaSession`

[2022-02-16 12:34] tmi111 opened #9981 "My FLV Live network delay causes me to play the screen is not up to date, how should I solve it ？"
My FLV Live network delay causes me to play the screen is not up to date, how should I solve it ？

[2022-02-16 15:38] NicolaVerbeeck commented on #6704
I did some investigation on building the seekMap using the data from mfra. We can extract durations and moof box offsets from there but the seekmap also requires the size of the moof atoms which is not encoded in the tfra atoms (unless I missed those). Creating a valid seekmap would thus involve getting the size for every moof atom referenced in the tfra. This requires a fully seekable input conce

[2022-02-16 22:58] AquilesCanta commented on #9933
Thanks for the report. We will only be fixing build_ffmpeg.sh, though. I don't think CMake is related to the failure, and we don't need to enforce a specific NDK version at gradle level.

A patch will appear below once this is pushed, when we'd appreciate you verify our fix satisfies your usecase.

[2022-02-16 23:39] ojw28 commented on #9873
@cineplex-projects - I don't think that you need the specified API to do that. I think you could implement what you need with a `DataSource` implementation that wraps the `HttpDataSource`. As an aside, what you're doing sounds quite strange. Why wouldn't you just put the extra string in a HTTP response header?

[2022-02-17 01:57] rrfrias commented on #9968
Internal ref: 220030530

[2022-02-17 03:47] ludoven opened #9982 "2.16.1 There is sound but no picture when playing video in rv40 encoding format"
Hello
I'm having an issue with version 2.16.1 of the player
When the played video is in rv40 encoding format, the player does not support this format,
When I use the Ffmpeg extension, I found that ExoPlayer removed FfmpegVideoRenderer in version 2.16.0,
I would like to know how can I use ExoPlayer to play a video encoded in rv40.
thanks

[2022-02-17 06:35] Colaman0 commented on #8046
I have the same need to update the playlist.
I try to call setMediaItems to replace the playlist but  it will interrupt playing short time.
Is there any progress now?

[2022-02-17 06:45] drayan85 commented on #9894
@christosts thanks for your help and please feel free to close this issue for now. If we face any I will open it again.

[2022-02-17 07:41] goffioul commented on #9933
The change in CMake version as I made in `extensions/ffmpeg/build.gradle` is indeed not necessary (but the others in `build_ffmpeg.sh` and the additional link flag in `extensions/ffmpeg/build.gradle` are; the specific NDK version was just specific to my dev setup). However there are a few things to consider when using an older CMake version:
1. you'll see a series of warning about using an old CMa

[2022-02-17 10:07] #9894 closed, assigned to christosts

[2022-02-17 10:11] icbaker commented on #9979
This is a bug in Android Studio's implementation of `URLConnection`: https://issuetracker.google.com/219572925

[2022-02-17 10:11] #9979 closed, assigned to icbaker

[2022-02-17 10:35] sagarNapps10x opened #9983 "Is this the right way to change to software decoder in Exoplayer"
_Originally posted by @brandoncodes in https://github.com/google/ExoPlayer/issues/3039#issuecomment-315129051_

[2022-02-17 12:21] icbaker commented on #9980
Please provide more information. How are you configuring the "cache limit to 500 mb"?

Note that `DefaultLoadControl` will aim to buffer a maximum of [50s](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html#DEFAULT_MAX_BUFFER_MS) and [131MB](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html#DEFAULT_VIDEO_BUFFER_SIZE) of

[2022-02-17 12:22] icbaker commented on #9981
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-02-17 12:30] icbaker commented on #9982
The `FfmpegVideoRenderer` has never been released, because it's not yet finished and ready for use in production. We 'removed' it in the 2.16.0 release (and all previous releases) in the sense that it exists on the dev-v2 branch, and we remove it when preparing a release branch. Implementing this is tracked by https://github.com/google/ExoPlayer/issues/2159.

If your device doesn't support the enc

[2022-02-17 12:30] #9982 closed, assigned to icbaker

[2022-02-17 12:36] icbaker commented on #9983
The [ffmpeg extension README](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md#using-the-module) has details about how to use [`@DefaultRenderersFactory.ExtensionRendererMode`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultRenderersFactory.ExtensionRendererMode.html).

If you need more information than is provided there, please ask specific

[2022-02-17 12:36] #9983 closed, assigned to icbaker

[2022-02-17 13:23] sagarNapps10x commented on #9983
I wanted to change the exo-player to use a software decoder

 so when I searched in the issue section I found this comment in this issue here https://github.com/google/ExoPlayer/issues/3039#issuecomment-315129051

in the comment, they have suggested changing the default renderers factory extension render mode to EXTENSION_RENDERER_MODE_PREFER

so I wanted to know is this the way to change software

[2022-02-17 14:10] icbaker commented on #9983
When you say 'software decoder' do you mean a decoder bundled with your app (i.e. not one provided by the platform) or do you mean any decoder implemented without hardware acceleration (i.e. both platform-provided decoders implemented only in software **and** all decoders bundled with your app)?

If it's the former, then the guidance I linked above is relevant and should give you the info you need

[2022-02-17 17:08] sagarNapps10x commented on #9983
I guess its the latter one

Its a requirement from our team side  like how this app : https://play.google.com/store/apps/details?id=com.playit.videoplayer&hl=en_IN&gl=US

they are changing decoders to software only in Android

[2022-02-17 18:26] arochevdev opened #9984 "How to set track selection overrides to specific media source in ConcatenatingMediaSource?"
In our application, we use ConcatenatingMediaSource for smooth transition between subsequent media streams. When first media stream is near the end, next one is added to ConcatenatingMediaSource so that it will be prepared by ExoPlayer.

We also use TrackSelectionOverrides API to override selection of tracks. TrackSelectionOverride are created for specific track groups and added to TrackSelectionO

[2022-02-17 20:34] ojw28 commented on #9984
A `TrackSelectionOverride` should only be applied if the media contains a `TrackGroup` equal to the one in the override.

I tried playing a playlist and setting a `TrackSelectionOverride` for a `TrackGroup` in the first playlist item, but was not able to reproduce the playback failure you're seeing when moving to the second item in the playlist. Please could you provide concrete reproduction steps

[2022-02-17 23:20] ojw28 commented on #6704
I don't think this is required. Perhaps you've concluded this having looked at the `ChunkIndex` class? That's an implementation of `SeekMap`, but I don't think there's anything forcing you to use it. Note also that it doesn't actually use the chunk sizes to implement the `SeekMap` interface, so it should be straightforward to create a similar implementation that omits them entirely.

[2022-02-18 04:50] kshailes94 opened #9985 "why dashdownloader does not download lower bitrate track when network is slow? if it does, how to check it?"

[2022-02-18 04:57] cy41 opened #9986 "How to use DownloadManager download range data"
## Background
In my project, I use ExoPlayer with version 2.11.8 .
In this version, I use CacheUtil cache some range data to improve first frame time.
sample code like this:
[code]

In this month, I upgrade ExoPlayer version to 2.15.0 .
The "CacheUtil" was removed, I replace it with "CacheWriter".
And In other withe, I found a high-level API "DownloadManager", but I don't know how to use it in my

[2022-02-18 07:00] NicolaVerbeeck commented on #6704
I see, thanks for the clarification!

[2022-02-18 10:06] #9922 closed, assigned to kim-vde

[2022-02-18 10:12] #9803 closed, assigned to kim-vde

[2022-02-18 10:13] #9901 closed, assigned to kim-vde

[2022-02-18 10:15] mecoFarid commented on #867
Why do you even call this "clean". I mean you are creating ExoPlayer instance multiple times. And what does "clean" really mean here?

[2022-02-18 10:21] mecoFarid commented on #867
Just to point out the pitfall here. https://github.com/nihk/videopager/blob/caf0f3c049d713cff8bba3e11798b3f99d62e606/exo/src/main/kotlin/com/exo/players/ExoAppPlayer.kt#L101. Why do you treat `prepare()` as a synchronous method. It is async method

[2022-02-18 11:15] NikSatyr commented on #9978
@icbaker sorry to bother you, but this blocks our development process. did you have a chance to take a look?

[2022-02-18 12:09] arochevdev commented on #9984
I managed to reproduce this with sample app when transitioning between two HlsMediaSources with the same URL. In real case, two streams have different URLs but their HLS manifests are the same and MPEG-TS segments have same tracks (sorry for not mentioning it originally).

https://github.com/arochevdev/exoplayer-assert-sample

What this sample does is:
1. Creates ConcatenatingMediaSource with sing

[2022-02-18 14:54] dujovski opened #9987 "MPEG1/2 not working on Samsung devices"
I'm having some problems with MPEG1/2 (H222/H262) video codec on Samsung devices. I try to run the video via the ExoPlayer, but I got an error that the codec is unsupported. On Huawei, Xiaomi devices, videos are working well, but not on Samsung devices. Here is the log provided by the demo application. I am using FFmpeg for some audio problems, but for video codecs, I don't find anything that will

[2022-02-18 15:10] icbaker commented on #9987
Android devices are not required to support the codecs you listed. The full list of supported codecs is here: https://developer.android.com/guide/topics/media/media-formats#core

It's likely that some of your devices do support these codecs, and others don't - this is expected. If you want your content to work across all android devices I suggest re-encoding it to a supported format.

#2159 tracks

[2022-02-18 15:10] #9987 closed, assigned to icbaker

[2022-02-18 17:20] ivostefanoff opened #9988 "Exoplayer 2.14.2 + Flussonic + HLS"
Hello,
I experienced randomly (after 2-3-4 hours of playback) drops of HLS streams made by Fllussonic with no  reason giver - just player stand  in IDLE due to some reason. Have somebody seen some similar issues?
Regards

[2022-02-18 18:59] LagradOst commented on #9980
(I think) He is referring to a CacheDataSource.setCache of a SimpleCache with LeastRecentlyUsedCacheEvictor of 500mb. Is this implementation of cache wrong to reduce buffering? Do exoplayer require additional calls to ensure that it can cache 500mb of video when paused?

[2022-02-18 22:35] benderzgreat opened #9989 "HLS stream freezes/crashes intermittently"
----------------------------------------------------------------------------------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue

Issues #5003 and then #5455 seem to be related to this issue, but not the exact behavior.

- Try playing problematic media in the demo app:
  http://exoplayer.dev/demo-application

[2022-02-19 22:39] nihk commented on #867
I'm not sure what you're asking. There's no treatment nor dependency on Player.prepare() being executed synchronously in that file.

[2022-02-20 17:06] laurentiu-git opened #9991 "What do I need to setup in order to get the genre from onMetadataChanged ?"
Hey guys, what do I need to setup in order to get the genre from `onMetdataChanged`, as shown in the below example
[code]

I have tried to the same configuration as in uamp sample, but I think I am missing something, I am able to access the genre value from `onMediaMetadataChanged` from ` Player.Listener`.

I am also using this part in my project

[code]

Also the property value is present if I tr

[2022-02-20 17:09] ojw28 commented on #9985
It's working as intended that ABR changes based on the available bandwidth are disabled for downloads.

It's not a requirement that downloads have to complete within a certain duration. One of the reasons that a user might want to download content (rather than streaming it) is so that they can then play the highest quality stream, despite not having the bandwidth to do so when streaming.

Note als

[2022-02-20 17:09] #9985 closed, assigned to ojw28

[2022-02-20 18:01] ojw28 commented on #9984
The playback failure you're encountering is already fixed in `dev-v2`. It was fixed by https://github.com/google/ExoPlayer/commit/8c90ba5db462ee0c1bfadd67a817092ee23af0eb. This will be included in `2.17`.

Whether your code does what you want after this fix, I'm not sure. What is the actual intention of your code? It appears to be trying to select an English subtitle, but if that's the case I thin

[2022-02-20 20:45] arochevdev commented on #9984
It possible that there is multiple subtitle tracks with the same language in the stream (e.g. subtitles and captions). While there is `setPreferredTextRoleFlags` alongside with `setPreferredTextLanguage`, there is no guarantee that role flags will be set (AFAIK ExoPlayer doesn't support them for HLS (please correct me if I'm wrong) and for DASH they are optional). In that case the only way to dist

[2022-02-21 05:59] lpv-1902 opened #9992 "Getting 403 on this specific stream"
Hi, this particular stream is getting a 403 response from Exoplayer. This is currently working on desktop browsers with HLS + M3U8 extension and Safari.

https://midas.fubo.tv/v1/master/6c9193257c0eed8ca3f1eabccc4444f9477500f1/production/v4/master.m3u8?ads._fw_station=832870001&ads._fw_vcid2=fuboTV%3A5baa553bbc95d34417f166ff&ads.fw_nw_id=393638&hdnts=ip%3D208.82.163.153~st%3D1645419479~exp%3D16455

[2022-02-21 06:31] kshailes94 commented on #9985
can it be enabled for downloads ?

[2022-02-21 09:28] ojw28 commented on #9985
No, this is not supported.

[2022-02-21 09:44] halilozel1903 commented on #8627
Can't it be done by naming the buttons?

Like this `android:contentDescription="volume button"`

[2022-02-21 10:20] arochevdev commented on #9984
Basically, the use case is two-fold:
1. We need to be able to select specific track based on user choice (e.g. selection in menu). This is currently done by selecting specific track using its TrackGroup and index.
2. Track selected by user needs to be saved (outside of scope of player), and then the track "closest" to it (ideally the same one if its is present) needs to be automatically selected w

[2022-02-21 13:27] ojw28 commented on #9984
If you're aware of any flagging mechanism in HLS master playlists that (a) maps onto ExoPlayer role flags, and (b) we don't have the necessary plumbing in place for, then please let us know and we can take a look at adding support.

It is true that role flags in DASH manifests are optional (I suspect the same is true for HLS as well), although of course if you control the content you can ensure th

[2022-02-21 13:27] #9984 closed, assigned to ojw28

[2022-02-21 16:37] dexter2019 commented on #9936
@marcbaechinger can you help please?

[2022-02-21 16:47] danielgliga3ss opened #9993 "Video stuttering after changing selected audio track with tunneling enabled"
If we try to change the selected audio track while the playback is paused, somehow the playback is resumed without changing PlayWhenReady state (playWhenReady is still false) but also not playing normally, the video is stuttering.
Please check this video: https://drive.google.com/file/d/1JmdOpIbZ59JAA_LzKRAvxlThXUB3bd_4/view?usp=sharing

Steps to reproduce the problem:
1. Pause the playback
2. Sel

[2022-02-21 17:46] denis-bezrukov commented on #9806
@christosts I'm continue investigating this issue and now I added a MediaCodecAdapter wrapper that wraps setOutputSurface/release calls and logs it (before, after, error)
Normally, I see the following logs (`[]` contains Player's identity hash):
[code]
But when the issue occurs, the logs are the following:
[code]
As you can see, hevc codec was released correctly, but then the audio codec didn't ev

[2022-02-21 17:57] denis-bezrukov commented on #9806
It seems it's an audio flush:
[code]

UPD: After few more tests it doesn't seem to be related to a specific mime type / codec instance, I see the same pattern across different codecs (audio/mp4a-latm, video/avc, video/hevc). That makes me thinking it's not a hardware issue, but probably an issue in platform code. Is [this](https://android.googlesource.com/platform/frameworks/av/+/refs/heads/marshm

[2022-02-21 21:23] adfwhitestar opened #9994 "Unable to Render Video on Window Subsystem for Android after running ffmpeg on file."
When running Exoplayer on Windows Subsystem for Android 1.8.32836.0 and 1.8.32837.0 (we have tried both) we are unable to render videos (Audio plays just fine) that are compressed and trancoded. We are using iOS's default UIImagePicker video compressor for Apple devices and one of Two Different Libraries from the Android Ecosystem for Android Devices, MP4Composer (https://github.com/MasayukiSuda/M

[2022-02-22 01:53] brunolcarlos commented on #6168
I have the same problem with the lates expo version, sometimes the video loads perfect and other times not

[2022-02-22 09:36] Kolyall commented on #9979
@icbaker why the issue is closed? It still reproduce.
ExoPlayer v2.16.1
[code]

[2022-02-22 09:45] schnaps1981 commented on #9979
@Kolyall that is no problem of exoplayer.

you can try to use okhttp datasource

1. you need import dependency
`"com.google.android.exoplayer:extension-okhttp:**xx.xx.xx (your exoplayer version)**"`

2. then
[code]
it works fine for me

[2022-02-22 09:59] CySlider opened #9995 "DVB-C: Negative presentation time for audio MPEG-L2/FFMPEG at start of tune"
Hi, this assumption, made in the comment of the code, seems to not be always correct:

[code]
https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/PesReader.java#L246

In our case, the DTS timestamp is bigger than a following PTS timestamp. This leads to negative presentation timestamps in the b

[2022-02-22 10:07] CySlider commented on #9995
If I would guess then something similar to this happens.
[code]
While the assumption made in the comment is true for the first DTS in the GOP, it is not for all following DTS, so maybe the issue is, that we are in the mid of a GOP when the process is started?

[2022-02-22 16:36] szaboa commented on #9715
@sriram-mohan did you figure it out? We are having the same issue.

[2022-02-22 18:21] Koster35 opened #9996 "FMP4 extractor can output metadata in the order if media contains v0 and v1 emsg atoms"
Hello! We are having a playback issue with our multi-period DASH livestreams. To summarize, when the ExoPlayer encounters small gaps between two periods in a DASH stream, the ExoPlayer throws an exception and playback stops.

**Example Stack-trace:**
[code]
**ExoPlayer Versions affected**
This issue affects all recent releases of the ExoPlayer starting with v2.12.0. I confirmed it also affects the

[2022-02-22 20:32] amandamang opened #9997 "Migrating to exoplayer2: error: resource string/exo_controls_shuffle_description"
I'm working on updating my Android app to use exoplayer2, updated all implementations to 2.16.1, including implementation "com.google.android.exoplayer:exoplayer-ui:2.16.1". Can't build because "Android resource linking failed error: resource string/exo_controls_shuffle_description not found."

[2022-02-22 22:25] benderzgreat commented on #9989
https://github.com/google/ExoPlayer/issues/1894
Seems to be somewhat related to this issue.

I did some more digging through the files and it seems like the error relates to either the:

OMX_IndexConfigCommonOutputCrop or OMX_IndexConfigStreamInterlaceFormat

When looking at the OMX IL, it appears the issue could have to do with interlacing.

4.2.49 OMX_STREAMINTERLACEFORMATTYPE: fig 4-7 (see atta

[2022-02-22 23:38] Muta-Jonathan commented on #8647
@ThibaultBee did u make it public

[2022-02-23 02:04] #9663 closed, assigned to marcbaechinger

[2022-02-23 05:08] santoshray opened #9998 "Exception in FragmentedMp4Extractor.java when streaming Playready3.0+ HEVC Content ( Video Protected and Audio Clear)"
**Issue Descri[ption**
Hi Exoplayer Team
The Bug being filed doesn't  seem to be present  in  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
We have consulted  Check the supported formats: https://exoplayer.dev/supported-formats.html .
It  mentions that Playready SL2000 is supported  in  Android TV . But even if we are testing Playready SL 3000  , the issue is independent of the DRM licen

[2022-02-23 10:41] #9960 closed, assigned to kim-vde

[2022-02-23 10:48] andrewlewis commented on #8968
@claincly Please could you take a look and make sure this is still on the roadmap?

[2022-02-23 10:51] andrewlewis commented on #8220
@alexey-rabets Is this still reproducible on the latest version? I think we may have added back a default stream offset which might work around this problem.

[2022-02-23 10:54] andrewlewis commented on #7695
Adding needs more info label as https://github.com/google/ExoPlayer/issues/7695#issuecomment-667919367 has a pending question.

[2022-02-23 11:09] christosts commented on #9997
There are now two strings, named `exo_controls_shuffle_on_description` and `exo_controls_shuffle_off_description` ([link to code](https://github.com/google/ExoPlayer/blob/r2.16.1/library/ui/src/main/res/values-en-rGB/strings.xml#L43-L44)). I see this change happened in release 2.11. I guess your app is referencing the old string directly and you need to update your code to reference the new string

[2022-02-23 11:09] #9997 closed, assigned to christosts

[2022-02-23 11:10] alexeyr15 commented on #8220
It looks like this issue is not reproducible anymore for my use case.

[2022-02-23 11:16] andrewlewis commented on #8220
Thanks. In that case I'll close this.

[2022-02-23 11:16] #8220 closed, assigned to kim-vde

[2022-02-23 11:18] christosts commented on #9995
@andrewlewis can you take a look? thanks

[2022-02-23 11:25] frontyard commented on #9946
Thank you for the response.

Using EXT-X-START is most likely a no go as it would require generating a custom playlist for each user since not every user might want to start the stream at the same offset. By default the offset needs to be zero as it's a live stream.

I will look into LiveConfiguration and watch #9122 one of which might solve my issue.

[2022-02-23 11:37] christosts commented on #9996
I can verify the issue occurs on 2.16.1 with the dash link provided. @ojw28 can you take a look from the DASH perspective? For reference, the commit in question (https://github.com/google/ExoPlayer/commit/a6be8eeb6bde76d253ccb8aebcd480f5ef1aa44c) was submitted to address #7690.

[2022-02-23 12:14] CySlider commented on #9995
We looked even closer to what the core issue is, and it turns out to be a bit different than we thought.

The audio in the stream is stamped 1 second ahead of the Video.

Since there are far more video packets than audio, nearly always the first DTS will be from an video packet.
Then the first audio packet hits which has a 1 second lower value, and the jump into negative territory happens.

We cur

[2022-02-23 12:19] CySlider commented on #9995
![grafik](https://user-images.githubusercontent.com/136510/155318067-2061b771-c84f-425e-bc9a-8fdcac8456ef.png)

This is our current fix attempt

[2022-02-23 14:11] Kolyall commented on #9979
"com.google.android.exoplayer:extension-okhttp:2.16.1"

[code]
Error:
[code]

[2022-02-23 14:22] icbaker commented on #9979
@Kolyall please file a new issue for the `ArrayIndexOutOfBoundsException` problem, with all the info requested in the issue template - in particular a link to a stream we can use to reproduce the issue.

[2022-02-23 14:29] Kolyall opened #9999 "ParserException after loadManifest"
"com.google.android.exoplayer:extension-okhttp:2.16.1"
[code]
Error:
[code]

[2022-02-23 14:30] Kolyall commented on #9999
Sometimes:
error is
[code]

[2022-02-23 14:31] Kolyall commented on #9999
Sometimes error is :
[code]

[2022-02-23 14:43] #2882 closed, assigned to ojw28

[2022-02-23 14:50] jonas-livesporttv commented on #2882
@ojw28 you closing this issue means that key-frame accurate seeking in HLS is possible now?

[2022-02-23 14:50] icbaker commented on #9999
Please provide a link to a stream (`dashManifestFileUrl ` in your example) that we can use to reproduce the issue (as requested in https://github.com/google/ExoPlayer/issues/9979#issuecomment-1048831726).

[2022-02-23 14:52] ojw28 commented on #2882
I believe support was added by @stevemayhew in the merged pull requests referenced above.

[2022-02-23 14:55] Kolyall commented on #9999
Closed issue was that I forgott add custom Interceptors

[2022-02-23 14:55] #9999 closed, assigned to icbaker

[2022-02-23 14:56] christosts commented on #9806
Thank you very much for the investigation.

MediaCodecAudioRenderer.onDisabled() will call MediaCodecRenderer.onDisabled() which will flush the MediaCodec.

Interesting. We knew already it was a flush but my first guess was that the MediaCodec instance for video would block rather than the audio one. There are cases for which instead of flushing, we release the codec instead, please see [here](htt

[2022-02-23 15:14] christosts commented on #9988
We are not aware of any issues with such particular streams. If you need assistance with a specific problem, please provide the information described on the issue template [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

I'm closing this issue for now, feel free to re-open if you need further assistance.

[2022-02-23 15:14] #9988 closed, assigned to christosts

[2022-02-23 15:15] Kolyall opened #10000 "NullPointerException: wrapped.getHeaderField(key) must not be null"
"com.google.android.exoplayer:extension-okhttp:2.16.1"
[code]

When I load mpd files with RxWorker all works fine.
But when I use CoroutineWorker
Error is:
[code]

[2022-02-23 15:15] #9784 closed, assigned to tonihei

[2022-02-23 15:20] icbaker commented on #10000
This is a duplicate of #9979 (which you've seen).

As explained there, this is a [bug in the implementation of `TrackedHttpURLConnection`](https://issuetracker.google.com/219572925). This class is provided by Android Studio - possibly when doing some sort of network profiling? Not sure - I assume it shouldn't be included in production apps (though I'm not sure). Regardless, it's not a bug in ExoPl

[2022-02-23 15:20] #10000 closed, assigned to icbaker

[2022-02-23 15:30] goffioul commented on #9933
I see the commit doesn't include the linker flag change. Didn't run into link error when compiling? If not, what NDK version, ffmpeg version and ffmpeg codecs did you test with? (in my case, using NDK 23 and ffmpeg's ac3 + mp3, I get an error at link time)

[2022-02-23 15:46] christosts commented on #9992
I'm getting an HTTP 504 when trying to open the content link from a Chrome or a command line http client like `curl` or `wget`. Often, these issues are related to setting a user agent in HTTP requests. If you are using the [demo app](https://exoplayer.dev/demo-application.html), you can quickly verify by calling `setUserAgent()` either on the `CronetDataSource.Factory` [here](https://github.com/go

[2022-02-23 15:46] #9992 closed, assigned to christosts

[2022-02-23 16:10] christosts commented on #9989
When I test the stream, I get an HTTP 405 (with the headers set). Are the headers still valid?

[2022-02-23 16:10] icbaker commented on #9980
There's two different concepts that it's important to understand here:
* buffering
* downloading/caching

ExoPlayer uses 'buffering' to refer to reading data into memory as part of a normal playback. The amount of data buffered is controlled by the `LoadControl`. As described above, the `DefaultLoadControl` will read up to 50s ahead of the playback position.

'Downloading' or 'caching' refers to p

[2022-02-23 16:17] benderzgreat commented on #9989
Sorry, it may have expired.

These should work

ca=eyJhbGciOiJIUzI1NiJ9.eyJwTVZQRCI6IlByb3h5TVZQRF9NYXNzaWxvbiIsIk1WUEQiOiJwYWMxMmVudGVycHJpc2VzIiwic3ViIjoiUGFjMTJTdHJlYW0iLCJpc3MiOiJQQUMxMiIsImlhdCI6MTY0NTYzMjY4OCwianRpIjoiMWQyZmE0ZDQ2NTkyM2QxODI0N2U5ZGZjODgxMjdjZTEiLCJleHAiOjE2NDYwNTI2ODh9.BX4KmMaaLNXvb56JuqzZqDKAdiEf4TcMHGSWU6W1wnc

p12sid=46b84af0-8f3e-11ec-b1e7-9d7fea75ce63

[2022-02-23 17:37] christosts commented on #9989
They don't work for me again. May I ask you share a code snippet how you're passing them? Our DataSource APIs accept headers in a key-value form and we can only set one `Cookie` header, so I concatenated the two values with `; ` (note the space after `;`)

[code]

and I also tried updating the stream's value for the `p12sid` parameter

[2022-02-23 17:49] benderzgreat commented on #9989
curl -H "Cookie: ca=eyJhbGciOiJIUzI1NiJ9.eyJwTVZQRCI6IlByb3h5TVZQRF9NYXNzaWxvbiIsIk1WUEQiOiJwYWMxMmVudGVycHJpc2VzIiwic3ViIjoiUGFjMTJTdHJlYW0iLCJpc3MiOiJQQUMxMiIsImlhdCI6MTY0NTYzMjY4OCwianRpIjoiMWQyZmE0ZDQ2NTkyM2QxODI0N2U5ZGZjODgxMjdjZTEiLCJleHAiOjE2NDYwNTI2ODh9.BX4KmMaaLNXvb56JuqzZqDKAdiEf4TcMHGSWU6W1wnc; p12sid=46b84af0-8f3e-11ec-b1e7-9d7fea75ce63" "https://p12n.pac-12.com/v1/master/b6988789cc420

[2022-02-23 17:57] benderzgreat commented on #9989
Also, I was able to find these messages I haven't seen before in the logs.

02-18 16:46:38.514 12286 12312 I chromium: [12286:12312:INFO:batching_media_log.cc(40)] MediaEvent: {"debug":"Audio buffer splice at PTS=868177329us. Trimmed tail of overlapped buffer (PTS=868170662us) by 14667us."}
02-18 16:46:46.539 12286 12312 I chromium: [12286:12312:INFO:batching_media_log.cc(40)] MediaEvent: {"debug"

[2022-02-23 17:59] christosts commented on #9989
This still returns HTTP 405 for me. Is the content geo-restricted?

[2022-02-23 18:07] benderzgreat commented on #9989
Yes, I will send a url to the dev email to get the manifest before the cdn.

[2022-02-23 20:21] CodeCubeNeo opened #10002 "Video player enhancements"
I would like to recommend some enhancements for this video player, that some other video players (like vlc) have. here are the enhancements in (my!) order of importance (first is most important):
- select/deselect/none audio tracks
- audio (and brightness) controls with swiping gestures (right half of the screen, up and down for lower/higher volume and the left half for lower/higher brightness)
-

[2022-02-23 21:22] ojw28 commented on #9996
Thanks for the detailed report! This isn't actually related to the manifest having multiple periods. The problem is caused by media segments that contain both version 0 and version 1 `emsg` atoms, which I think is true for the first video segment in the second period.

Version 0 `emsg` atoms are complicated because they contain presentation timestamps that are deltas relative to the timestamp of t

[2022-02-23 22:10] Koster35 commented on #9996
Thank you for the clear explanation @ojw28. I appreciate the details as I try to learn more about these different video specs.

I will pass along this information about the mixture of version 0 and version 1 `emsg` atoms to my team so we can investigate our DASH streams further.

[2022-02-23 22:18] ojw28 commented on #9996
It looks there are two types of metadata in the segment, where one is using v1 and the other v0. I don't think mixing the two is invalid. That said, it does seem a bit unusual. You'd probably want to use v0 atoms everywhere (if you need to support clients that don't support v1 atoms), or you'd want to use v1 atoms everywhere because they're easier for clients to handle (if supported)!

We will pus

[2022-02-23 22:52] #9018 closed, assigned to ojw28

[2022-02-23 22:54] ojw28 commented on #9018
This is fixed in 2.17.0, which will be released shortly.

[2022-02-23 23:35] stevemayhew commented on #8592
@davydovvladimir I've been testing this extensively on AmLogic based SOC's (this includes Google's own Chrome Cast / Goggle TV and TiVoStream) and it works perfectly (frames queued to the decoder `MediaCodec.queueInputBuffer()` are returned in 10s of ms to the render) see my logging above.

I have reproduced the delay with boxes that have Broadcom SOCs in them (Arris, others).  With these boxes it

[2022-02-24 03:30] hafiz013 opened #10004 "Exoplayer can't play the video after compress"
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2022-02-24 03:47] Muta-Jonathan opened #10005 "How to make exoplayer stream to a stream url server using hls?"
This is to mean, while my exoplayer is playing it is also be able to stream to a server that generates the playlist with .m3u8 or generate it itself
-------------------------
Currently, I have a TV app developed using exoplayer however have so far failed to implement such where it can support to stream to hls.....And this is being done using java

@Exoplayer is there a way I can do this using java

[2022-02-24 09:00] tibor-leo-safar-accedo commented on #9241
Hi @ojw28 , @christosts ,
Just have updated the exoPlayer in our project to v 2.16.1 and we see this EIT issue is still not handled.
Just a friendly reminder, in case this is panned to be addressed at all. Cheers.

[2022-02-24 09:43] Kolyall opened #10006 "DefaultDrmSession: DRM session error"
"com.google.android.exoplayer:extension-okhttp:2.16.1"
[code]
All works fine, but sometimes the error occurs:

[code]

[2022-02-24 09:46] Kolyall commented on #10006
And sometimes:
[code]

[2022-02-24 09:55] icbaker commented on #10006
`ResourceBusyException` suggests the device has reached its maximum number of concurrent DRM sessions. Are you trying to perform lots of DRM operations in parallel?

This limit is different on different devices and is shared across all applications (similar to video/audio decoders). Some debugging ideas (in both cases you don't need to use the same `MediaDrm` instance that ExoPlayer is using, just

[2022-02-24 11:57] dani3l3 commented on #9663
I don't have more info at the moment and I have been busy with higher business priorities... for now I postponed the upgrade and kept the old but working stuff.

[2022-02-24 12:37] ThibaultBee commented on #8647
@Muta-Jonathan. Yes, have a look at https://github.com/ThibaultBee/SrtPlayer.
But it is just a POC so I don't recommend to use it in production. It does not replace a proper implementation in ExoPlayer.

[2022-02-24 13:52] denis-bezrukov commented on #9806
@christosts

I updated my previous reply and it seems to be a general "codec" issue, since I see the same pattern (there is a `pre flush` but no `post flush`) for both audio and video codecs.

Just tried it (for both audio and video) and it does seem to work, on the other hand release process became too long:
[code]
As you can see the full release process took ~6s

I am also concerned that I will

[2022-02-24 15:02] ojw28 commented on #9232
Issues in the underlying platform should now be fixed.

[2022-02-24 15:02] #9232 closed, assigned to ojw28

[2022-02-24 15:55] christosts commented on #10004
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). For such problems we definitely need a link to the content to test and a bugreport obtained from the device after the error occurs.

If you're unable to share [bug reports](https://developer.android.co

[2022-02-24 17:11] #9916 closed, assigned to tonihei

[2022-02-24 20:29] adfwhitestar commented on #9994
Edit after further investigation I have found that the iOS device is sending in h265 not h264

[2022-02-25 07:09] Muta-Jonathan commented on #8647
Thanks, @ThibaultBee  though while testing the app a null pointer is thrown ....at the opening of the app

[2022-02-25 07:16] ThibaultBee commented on #8647
Hum, this is not the place for reporting bug for other project. Can you add an issue on SrtPlayer with a logcat please?

[2022-02-25 10:55] goffioul commented on #9933
For the record, the link error is still present in `2.17.0` with NDK 23.

[2022-02-25 14:24] chladto1 commented on #4825
@icbaker Could you please help us with the issue [described above](https://github.com/google/ExoPlayer/issues/4825#issuecomment-1037118598)? It would help us a lot. Thanks!

[2022-02-25 14:35] icbaker commented on #4825
@chladto1 If you require the enhancement tracked by this issue then I'm afraid there's no update since last month: https://github.com/google/ExoPlayer/issues/4825#issuecomment-1023250924

The recommendation above to restrict the streams yourself (either server-side or client-side) stands: https://github.com/google/ExoPlayer/issues/4825#issuecomment-422116376

If you believe what you're seeing is u

[2022-02-25 14:36] NikSatyr commented on #9978
any updates here?

[2022-02-25 15:01] SaurabhOfficial commented on #9968
@rrfrias any updates on this one?

[2022-02-25 17:57] stevemayhew commented on #6366
@andrewlewis and @ojw28 I've converted the pull request (#6407 ) to draft as I have a new team member working on this issue.  We want to simplify the logic to achieve this and make it a bit more bullet-proof (need to make sure it does not block moving from READY to BUFFERING state when needed).

The basic idea remains the same, add a `protected boolean hasOutputReady()` method to base `MediaCodecR

[2022-02-25 23:08] mateuszkwiecinski opened #10007 "Bumping to 2.17.0 fails the `CheckDuplicatesRunnable` task with `Duplicate class org.checkerframework.checker.`"
When trying to migrate ExoPlayer from 2.16.1 to [2.17.0](https://github.com/otwarty-wykop-mobilny/wykop-android/pull/201) I started observing a failure:
[code]

<details><summary>Full stacktrace</summary>

[code]

</details>

Here's failed [GA run](https://github.com/otwarty-wykop-mobilny/wykop-android/runs/5338216854?check_suite_focus=true), if needed. (running `./gradlew :app:assembleReleaseTest

[2022-02-25 23:59] JessHolle opened #10008 "How to: Override exo_styled_controls_play in a downstream Android library (not app)"
In trying to move to ExoPlayer 2.17.0 I discover that PlayerView is now deprecated in favor of StyledPlayerView.

Okay, so I switched all usages of PlayerView to StyledPlayerView in my code and layouts.  The app built and ran.  But the play/pause buttons were broken.

So I dug in and replaced the separate play and pause buttons with the combined play/pause button.  That button's logic is hardwired

[2022-02-27 03:18] zenom141 opened #10009 "Can we download separate audio and video link in a one video file?"
Hello,

I have separate links for audio and video files. I can play both audio and video by merging source. But how to download video and audio links in one file using exo? Can this be possible via exo or i have to use ffmpeg for merging?

thanks

[2022-02-27 16:03] 1mean opened #10010 "Only audio in black screen, no video in RecyclerView"
### description
use the latest Exoplayer2.17.0 in RecyclerView，some items play video normally，some items only have audio but no video on a black background area！！all other views of RecyclerView item are displayed correctly ,only the video play is wrong
### my code is :
- 1、init exoplayer in fun onStart() :
[code]
- 2、when scroll Recyclerview to PlayerView item :
[code]
- 3、when PlayerView scroll o

[2022-02-27 19:44] rrfrias commented on #9968
It looks like the device is issuing a malformed request. This is quite unusual. Is this a single device of family of devices (make/model) that are having problems?  Were they ever able to make a request/watch content (with any app)?

[2022-02-28 05:28] dino-saurabh commented on #9968
Yes the Issue started on that particular day itself, when other system Ids started facing the Issue, I will look for the devices and system-Ids which are facing the Issue right now 👀.

[2022-02-28 09:50] SaurabhOfficial commented on #9968
Few `Model-CPUBoard` pairs which started facing this Issue from 3rd Feb
1. GM1901-msmnile
2. GM1901-msmnile
3. M2012K11AI-aliothin
4. RMX1921-sdm710
5. M2102J20SI-bhima
6. M2101K6P-sweetin
7.  vivo1951-sdm710
8. HD1901-msmnile
9. GM1911-msmnile
10. M2101K6I-sweetin

Few system-Ids which are facing this issue, strange enough we started getting `widevine_system_id as 0` for a few devices from Feb 3

[2022-02-28 10:57] rrfrias commented on #9968
Are the model-CPUBoard and system IDs associated with each other? For example does line (3)  M2012K11AI-aliothin have system ID 20993

Was the provisioning request in https://github.com/google/ExoPlayer/issues/9968#issuecomment-1038655191 for system ID 11190?

[2022-02-28 11:01] SaurabhOfficial commented on #9968
Oh, actually no, they are not related that way, just the top 10 contributors of the error, I can get that info as well if required, system-Ids and corresponding model-cpuboard .

No, it was a random request which failed.

[2022-02-28 12:01] icbaker commented on #10007
I can confirm the problem in a different way:

An almost-empty new project with only the following gradle deps can access `org.checkerframework.checker.nullness.qual.MonotonicNonNull`, meaning compilation succeeds when importing that class.
[code]

Changing this back to 2.16.1 causes compilation to fail because `org.checkerframework.checker.nullness.qual.MonotonicNonNull` can't be found:

[code]

[2022-02-28 13:40] wishygupta opened #10012 "How can I get current live offset prior to version 2.12.0?"
I have been using version 2.11.8
And I saw that in version 2.12.0 `getCurrentLiveOffset()` was added to `BasePlayer`
Is there something similar or how can I get the value of current live off set versions prior to 2.12.0 ?

[2022-02-28 17:28] icbaker commented on #10007
I think my previous comment was going down the wrong track - I've hidden it.

I cloned the nextcloud project that linked to this issue: https://github.com/nextcloud/android/pull/9901

I was able to reproduce the error by upgrading to exoplayer 2.17.0 and running:
[code]

I then found https://github.com/android/android-test/issues/861 which links to https://github.com/google/Accessibility-Test-Fram

[2022-02-28 17:40] marcbaechinger commented on #10009
If I understand correctly, and the question is whether the download components of the library (`DownloadService` et al.) can be used to download a `MergingMediaSource`, then I think the answer is no, I'm afraid.

You would probably have to transcode the two streams into a single container (using ffmpeg or a similar tool) or into an adaptive stream with a playlist/manifest. The `Downloaders` provid

[2022-02-28 18:13] marcbaechinger commented on #10008
Thanks for reporting! Let me make sure I correctly understand what  you are trying to achieve:

Normally, an app depends on the `exoplayer-ui` module that defines the drawableRes ids for the icons in the `PlayerControleView` in `drawable.xml`. The app then can create it's own `drawable.xml` to override these icons with custom icons. I have done this for instance in the demo app like so and it seem

[2022-02-28 19:03] mateuszkwiecinski commented on #10007
Thanks @icbaker for a thorough research 🙏
I can confirm that enforcing exact version of `com.google.android.apps.common.testing.accessibility.framework` fixes the issue
[code]
but I think more appropriate fix would be to enforce exact version of the checker framework (to keep it sync between configurations (AFAIU that's the root cause of the issue)):
In my case, naively:
[code]

I'm going to close

[2022-02-28 19:03] #10007 closed, assigned to icbaker

[2022-02-28 21:14] JessHolle commented on #10008
So... live and learn.

I had created my own drawables of the same name in my library project -- and expected those to take priority over those in ExoPlayer since my library is the one that introduces the dependency on ExoPlayer.

That did not work.  But putting those drawables in the app did.

But the XML rename/redirect approach above works in the library project, so this satisfies my immediate n

[2022-02-28 22:06] marcbaechinger commented on #10010
Having a player in scrolling `RecyclerView` with a single or multiple players is an advanced topic for that we can't really provide you with support I'm afraid.

From what you report it looks like that the player is not released properly and then the number of available video decoder gets exceeded. Audio continues working with a software codec.

There is also #867 where people are discussion vario

[2022-02-28 22:06] #10010 closed, assigned to marcbaechinger

[2022-02-28 22:19] marcbaechinger commented on #10012
If there is the option to upgrade to a recent ExoPlayer version, this would a great way of getting `getCurrentLiveOffset()`.

If that's not possible then the last resort would be to look into the [implementation in BasePlayer](https://github.com/google/ExoPlayer/blob/release-v2/library/common/src/main/java/com/google/android/exoplayer2/BasePlayer.java#L352). I believe this is everything based on a

[2022-02-28 23:29] santoshray commented on #9998
Hi christosts ,
Can you please help check the issue  ?
If you need more information then let us know .

[2022-03-01 05:00] wishygupta commented on #10012
I did made some changes as per your suggestion however I am unsure what should be the alternative for `window.getCurrentUnixTimeMs()`

This is what I have added for version 2.11.8

`       fun BasePlayer.getLiveOffset(): Long {

        val timeline: Timeline = currentTimeline
        if (timeline.isEmpty) {
            return C.TIME_UNSET
        }
        val window = Timeline.Window()
        v

[2022-03-01 08:28] 1mean commented on #10010
Because I just learned Exoplayer，The problem is that I don't understand api，I solved the problem in this way
[code]
I read the introduce for this method `setPlayer(@Nullable Player player)`
[code]
Thanks

[2022-03-01 10:17] Xlcghs opened #10013 "Http headers - multiple value for the same header"
Hello,

I tried to add properties in the header of HTTP requests.
Do you have a way to add multiple values ​​for the same header ?
Example :
Header "Authorization" : value "value 1"
Header "Authorization" : value "value 2"

In the ExoPlayer code, you use "Map" so you can only have one value associated with a key (header).
Should the ExoPlayer code be changed to take this use case into account (Mul

[2022-03-01 11:02] wangxuan217 opened #10014 "Audio track switching screen freezes"
version 2.15.0

When I switch audio tracks, I find that the video screen freezes

[2022-03-01 11:22] marcbaechinger commented on #10014
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2022-03-01 11:45] marcbaechinger commented on #10013
Thanks for reporting!

I don't think we necessarily need a change in ExoPlayer for this. If I interpret the HTTP spec correctly you should be able to combine the values into a single field:

https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

[code]

So in case a header is defined by the spec as a `comma-separated` list of values,  you can express what you want in a single header field

[2022-03-01 13:02] Xlcghs commented on #10013
Thank you it's very clear

[2022-03-01 13:46] #10013 closed, assigned to marcbaechinger

[2022-03-01 13:54] marcbaechinger commented on #10012
If `getCurrentUnixTimeMs` has been added with 2.12 then this is not available in 2.11.8. You can't easily replace this because the unix time that this gives you is synchronized with the media origin server which is something you can't easily add. So I think the only suggestion here is to migrate to a recent version I'm afraid.

[2022-03-01 14:57] oggew2 opened #10015 "Disable downmixing?"
Exoplayer seems to be downmixing audio. Right now I am using JustPlayer (https://github.com/moneytoo/Player#readme) with a receiver capable of receiving EC3 and DTS (5.1 system). However, if any of those formats are played, the receiver only sees it as a "normal" Dobly digital on EC3 and shows that the stream only contains 2/0/.0. I have also tested the same media using kodi with forced passthroug

[2022-03-01 15:03] marcbaechinger commented on #9991
Sorry for my late response.

Where do you set the `genre`? If you set the genre in the `MediaItem` of ExoPlayer, then you need to make sure that it is copied into the `MediaMetadataCompat` object that is set to the media session. With `MediaSessionConnector` the app is responsible for doing that by providing a `TimelineQueueNavigator` that implements `getMediaDescription`.

If you are using UAMP t

[2022-03-01 15:11] #10012 closed, assigned to marcbaechinger

[2022-03-01 15:31] marcbaechinger commented on #9921
Sorry for my late response.

I think this is triggered by the the system that accesses your service to add a media resumption notification, so that a user can resume playback from the notification after your app has been stopped.

Please check the [documentation](https://developer.android.com/guide/topics/media/media-controls) about it also.

You can verify this by logging when the methods `onGetR

[2022-03-01 15:42] marcbaechinger commented on #9986
You are right that `CacheUtil` has been replaced with `CacheWriter` with 2.12.0 (see [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2120-2020-09-11)). As far as I know this is a drop-in replacement that offers the same API or at least the same functionality. Let me know if you see issues with that.

I think the partial preloading you are doing still needs to be

[2022-03-01 15:54] marcbaechinger commented on #9936
Seems like the expectation is wrong that the player only needs 100KB when it initially loads. You need to cache as much data as the player accesses to avoid the error, but this is not the goal of pre-caching?

Another thing you need to consider is that this source error happens after the first chunk of data has been read from the cache already. So it reads the first 100KB from cache and then reads

[2022-03-01 19:57] laurentiu-git commented on #9991
Hey, no worries thanks for your answer.

This is how I am providing the elements as `MediaDescription`, it is the same as on UAMP and I've added the genre line to check if the value is present there, which it is.
![image](https://user-images.githubusercontent.com/70561735/156237170-9b9898e9-da81-4708-ad8c-9f69e86e4943.png)

I am still missing something, but I am not sure what, since the value is p

[2022-03-02 12:04] zenom141 commented on #10009
Hello, yes u got it right. I have used ffmpeg to merge audio and video link. Thank you.

[2022-03-02 12:04] #10009 closed, assigned to marcbaechinger

[2022-03-02 13:37] dejanm opened #10016 "SingleSampleMediaSource Format.Builder bug"
SetId for Format Builder is used twice, meaning subtitleConfiguration.id is the only valid id that will be used.
Please resolve the problem in the following code:

format =
        new Format.Builder()
            **.setId(trackId)**
            .setSampleMimeType(firstNonNull(subtitleConfiguration.mimeType, MimeTypes.TEXT_UNKNOWN))
            .setLanguage(subtitleConfiguration.language)

[2022-03-02 14:04] y20k commented on #9921
Hi @marcbaechinger

THANK YOU. That was the problem. I investigated SO much time into this, but I failed to consider the media resumption notification. I am super grateful.

[2022-03-02 14:04] #9921 closed, assigned to marcbaechinger

[2022-03-02 15:14] icbaker commented on #10016
Thanks for flagging this - I'll deprecate `SingleSampleMediaSource.Factory#setTrackId` but change the logic in the constructor to still use its value if `SubtitleConfiguration#id` is `null`.

[2022-03-02 19:35] GouravSna opened #10017 "Crash on `MediaPeriodHolder` while doing track selection using `TrackSelectionOverrides.TrackSelectionOverride`"
Hi,

I have a question about Exo 2.16.1.

I want to select a specific track from a `TrackGroup` so I use renderer index. Then i get the `TrackGroup`.
Now to select a specific index, I use `selectedIndices` and passing it to `TrackSelectionOverrides.TrackSelectionOverride`

Then I call `parametersBuilder.setTrackSelectionOverrides(trackSelectionOverrides)` on `DefaultTrackSelector.ParametersBuilder

[2022-03-02 23:33] ojw28 commented on #10017
As per the issue you reference, the playback failure you're seeing has been fixed in 2.17.

Clearing the overrides when preparing another piece of media probably does avoid the bug when using 2.16, although if you use ExoPlayer's playlist functionality then you may still hit the bug and have no easy way to avoid it. The best way to avoid the bug is to upgrade to a version that contains the fix.

[2022-03-02 23:33] #10017 closed, assigned to ojw28

[2022-03-03 02:04] #9875 closed, assigned to christosts

[2022-03-03 08:24] gsnayma01 opened #10018 "Unable to access setUri method through Robolectric test runner"
Hi,

I am using ExoPlayer for my media app in AOSP code and I have used PlayerView in my layout file.

I am trying to write the Unit tests for my app but when I run the robolectric tests it gives android.view.InflateException on  PlayerView.
I am using Android 11 and ExoPlayer 2.16.1

**Error :**

[code]

#### build completed successfully (01:20 (mm:ss)) ####

[code]

And here is my XML

[code]

[2022-03-03 09:39] Xlcghs opened #10019 "VideoRenderer Freezes when playing a 60 fps stream"
Hello,

I am asking you following a freeze and macro block problem following the reading of a 60 fps stream under ExoPlayer.
The stream is in ExoPlayer Demo:

      {
        "name": "HD (MP4, H264, Widevine cenc)",
        "uri": "https://storage.googleapis.com/exoplayer-test-media-1/60fps/bbb-wv-1080/manifest.mpd",
        "drm_scheme": "widevine",
        "drm_license_uri": "https://proxy.uat.w

[2022-03-03 12:29] chris-sloan opened #10020 "Problem with `seekTo` inside `onMediaItemTransition`"
We're using the dynamic playlist features of exoplayer to insert some `MediaItem`s into an existing `prepare`d playlist in exoplayer. Being `prepare`d is important because the main content is DRM protected and we want to retain the drm session between protected and unprotected `MediaItem`s being played.

If a user seeks across a main content break, then we insert a number of (non DRM protected) it

[2022-03-03 12:44] jeonghyun-genesislab opened #10021 "After updating to Android 12, an ACodec: dequeueBuffer failed: NO_INIT(-19) error occurs."
- ExoPlayer version number = 2.16.1 , 2.17.0
- Android version = 12 , API 31
- Android device = Galaxy S10+

Hello.
I am making an app related to video.

Instead of downloading it first, save it locally and then play it.
As a test, I put the mp4 video into a raw file in Android Studio and play it first.

First, let's take a quick look at the logs.
Under normal circumstances, the onPlaybackStateCha

[2022-03-03 12:44] marcbaechinger commented on #10018
The error is thrown when static initialization of [`Timeline.EMPTY_MEDIA_ITEM`](https://github.com/google/ExoPlayer/blob/r2.16.1/library/common/src/main/java/com/google/android/exoplayer2/Timeline.java#L160) is attempted.

I'm pretty sure this is something related to what Robolectric does. I remember we has to use @DoNotInstrument for some of our androidx unit tests to hinder Robolectric to instru

[2022-03-03 13:33] barisahmet opened #10022 "VerifyError on api < 19"
I have upgraded ExoPlayer version of my application. I was using **2.13.3** without problem. After I updated it to **2.17.0**, 90% of my users with Android 4.x.x versions can't use my application because it throws VerifyError. Mostly Samsung devices. I have read changelogs but couldn't find any related changes. It may be a bug.

MinApi : 16

Here is the full stacktrace:

[code]

PlayerControlView

[2022-03-03 14:12] marcbaechinger commented on #10020
`onEvents(Player, Events)` provides the `Player` as an argument and makes the player accessible inside the callback as an argument. The reason for the `Player` being passed to only `onEvents` is that this is the last listener callback to be called when all other listener callbacks have been called. At this point you can be sure that no other listener callback method will manipulate the state of th

[2022-03-03 14:33] mdurokov opened #10023 "Custom controller layout not recognizing play and pause buttons."
Hi, I think there is a bug with the custom controller layout.

I tried to add a custom controller layout to StyledPlayerView on the demo app and it is loaded, but when I override the exo_play and exo_pause buttons they don't work.
Weird thing is that exo_ffwd and exo_rew work as expected (I didn't try others).

Player Activity contains StyledPlayerView

[code]

And this is exo_player_layout

[code

[2022-03-03 15:00] marcbaechinger commented on #10023
I think the `StyledPlayerView` is using `@id/exo_play_pause` rather than `@id/exo_play` and `@id/exo_pause`.

If you want to provide your custom layout you should use a single button with `@+id/exo_play_pause`. The styled control view does not hide/show one or the other of these buttons, but instead change the drawable of the icon. If you want to change these icons you can do so by adding a `drawa

[2022-03-03 15:14] marcbaechinger commented on #8213
The `ImaServerSideAdInsertionMediaSoruce.Factory` has been published with 2.17.0. The first release supports IMA streams for HLS/DASH VOD and HLS live.

https://exoplayer.dev/ad-insertion.html#ima-extension-1

[2022-03-03 15:14] #8213 closed, assigned to tonihei

[2022-03-03 15:28] marcbaechinger commented on #10022
I can not reproduce this with the demo app on on a Nexus 5 with API 19 (see below).

Can you try this with the [ExoPlayer demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main) on such a device and then when it crashes create a [bugreport](https://developer.android.com/studio/debug/bug-report) and upload here?

If you're unable to share bug reports or test content publicly, plea

[2022-03-03 16:53] chris-sloan commented on #10020
Hey Marc, thanks for the detailed response.

This makes sense.

I've been having a little play around with your suggestion, and I still see the problem. I've attached a sample of the output below and I can see that my output resembles yours up to the point of rendering the first frame. Is there anything that springs to mind that would prevent this from happening?

[code]

I'll keep looking and com

[2022-03-03 17:08] marcbaechinger commented on #10020
[code]

Looks like the `LoadControl` decides to not continue loading for some reasons.

(EDIT: the mediaPos is already at the position 222.47 you want to seek to, is this correct?)

When looking you may want to disable video, audio or text tracks to see whether this happens with some tracks disabled in the same way. If not, we have a data point where to dig.

[2022-03-03 19:27] stevemayhew commented on #8533
@davydovvladimir  Yes, these apple recommendations are pretty key to actually getting a stream to work in all players, there is also a tool `mediastreamvalidator` (MacOS only unfortunately) that we refer our origin server vendors to so they can test their streams.

Without this metadata the iFrame tracks would be subject to "chunk-full" prepare (See Santiago's [Chunkless Prepare](https://medium.co

[2022-03-04 08:39] mdurokov commented on #10023
That does the trick, thank you!
I didn't see it documented anywhere.
As a matter of fact, I did use PlayerView before and it worked with exo_play and exo_pause.

[2022-03-04 08:39] #10023 closed, assigned to marcbaechinger

[2022-03-04 11:47] krackjack234 opened #10024 "How to detect Widevine security level supported by the device"
**Question**

We wanted to check the drm capabilities of the device and what is the Drm security level it supports

We tried to read `android.media.MediaDrm.getMaxSecurityLevel()` but this always returns value 6 in both L1 and L3 use-cases.

Pls let us know what is the correct way to get the security level of the device.

We checked MediaDrm instance methods but could not find any.

We are using M

[2022-03-04 12:11] krackjack234 commented on #10024
Got the details

_mediaDrm.getPropertyString("securityLevel")_ returns L1/L3 as per the device capability.

We can close this ticket if this is the right way to get this data.

[2022-03-04 12:17] gsnayma01 commented on #10018
Currently I am using Robolectric version 4.1

[2022-03-04 12:18] gsnayma01 commented on #10018
I am using robolectric in AOSP code so I am yet to check with updated version of robolectric.

[2022-03-04 12:18] icbaker commented on #10024
[ah, my reply raced with your update - I'll post it anyway for completeness]

The value returned from `MediaDrm.getMaxSecurityLevel()` is only intended to be passed to `MediaDrm.openSession(int)` - not directly consumed/interpreted by an application. This is explained in [its javadoc](https://developer.android.com/reference/android/media/MediaDrm#getMaxSecurityLevel()):

As you can see from the [s

[2022-03-04 12:26] krackjack234 commented on #10024
Thanks @icbaker for the references

[2022-03-04 12:43] krackjack234 commented on #10024
@icbaker  may I ask a follow up question please?

We are using `MediaItem.DrmConfiguration` and adding it to `MediaItem.Builder` to create the media item.
In this context how can we use MediaDrm and set the securityLevel to L3 if needed?

[2022-03-04 12:46] icbaker commented on #10024
Can you provide more information about exactly what this means?

A complete (but concise) code snippet showing what you're trying to achieve and what currently doesn't work as expected would be helpful.

[2022-03-04 12:56] krackjack234 commented on #10024
hi @icbaker  we have streams which are having both L1 and L3 licenses, L1 being used for 720p and 1080p resolutions.
We wanted to force the drm security level to L3 and play the same stream so that it plays all tracks below 720p and does not switch to L1 ones

We referred below link to get a reference
 https://github.com/google/ExoPlayer/issues/7790

However, we are using below code snippet in our

[2022-03-04 14:13] icbaker commented on #10024
To use the code snippet from https://github.com/google/ExoPlayer/issues/7790#issuecomment-678473131 with `MediaItem` you will need to provide a custom `MediaSource.Factory` with a custom `DrmSessionManagerProvider` when constructing your player (as explained here: https://exoplayer.dev/drm.html#using-a-custom-drmsessionmanager). For example:

[code]

-----

Currently ExoPlayer will try and switch

[2022-03-04 14:42] narasimharao11 commented on #9952
Hi Team,

After updating the player to 2.16.0 from 2.11.2 we are having this issue.We are facing a blocker for this issue please reply back as soon as possible. We reproduced the same issue in exoplayer demo app 2.16.0 and attached the latest complete bug report.

[bugreport-2011i-SP1A.210812.003-2022-03-04-19-57-39.zip](https://github.com/google/ExoPlayer/files/8186587/bugreport-2011i-SP1A.210812

[2022-03-04 15:15] chris-sloan commented on #10020
Hi Marc, again thanks for the suggestions.

During my investigations today, I've discovered that there is a callback for `onFirstFrameRendered()` and when the seek is called from in there, works as expected. This is a good enough workaround for me just now until I have more time (sic) to be able to investigate further.

Closing for now. 👍

[2022-03-04 15:15] #10020 closed, assigned to marcbaechinger

[2022-03-04 20:34] zozo11299 commented on #9980
Thanks for feed back I found what I want

[2022-03-04 20:34] #9980 closed, assigned to icbaker

[2022-03-05 12:44] sam-git2021 opened #10025 "Player fails to decode audio when using HE-AACv2 with HLS stream"
The Issue:
-------------------------

I have some HLS streams which use HE-AACv2 (High-Efficiency AAC V2) as their audio codec.
When using ExoPlayer to play the content,
The audio is messed up and the video also interrupts a lot and loses many frames.
And I get this error:

[code]

I thought It's a device related issue, so I Enabled ffmpeg audio renderer to render the audio, I followed the ffmpeg

[2022-03-05 17:24] EricTerrell opened #10026 "Are there any current examples of playing audio in the background using a foreground service?"
I would like to experiment with updating my offline audio player (https://github.com/EricTerrell/EBTMusicPlayer) to use ExoPlayer.

Are there any examples or articles about how to use ExoPlayer with a foreground service? Having an article that shows how to set up the foreground service, notifications, etc. would avoid a lot of wasted time and frustration.

A codelab on this topic would be ideal!

[2022-03-06 07:40] imranbuet63 opened #10027 "Low Latency Live Media Load Error 404"
Hi, I am testing ExoPlayer 2.16.1 for low latency live dash streaming. I am hosting a stream at a server with FFmpeg.

1. I am noticing lots of 404 errors when I am hosting the stream with "-use_timeline 0" option of FFmpeg.These errors are generated when the player is trying to fetch the chunks at the live edge(server-side logs attached). It seems like it is trying to fetch ahead of time and fail

[2022-03-06 21:16] ojw28 commented on #10018
Closing this because as per @marcbaechinger above, this is something to do with Robolectric rather than being a problem with ExoPlayer. There have been [over 70 issues filed on the Robolectric issue tracker about `NoSuchMethodError`](https://github.com/robolectric/robolectric/issues?q=is%3Aissue+is%3Aopen+NoSuchMethodError), so it seems to be a common problem that developers face when using it.

[2022-03-06 21:16] #10018 closed, assigned to marcbaechinger

[2022-03-06 22:08] #9996 closed, assigned to ojw28

[2022-03-06 22:10] ojw28 commented on #9873
Closing because no use case or specific problem has been described in sufficient detail for us to understand why this feature would be required.

[2022-03-06 22:10] #9873 closed, assigned to ojw28

[2022-03-06 22:12] ojw28 commented on #9836
Closing because the issue template was not filled out, and because it's beyond the scope of this issue tracker to read through large amounts of your own application code. The issue template can be found here: https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=.

[2022-03-06 22:12] #9836 closed, assigned to ojw28

[2022-03-06 22:22] ojw28 commented on #9769
At the point where you need significant customization, you're really best off just implementing your own UI components (optionally, you can fork the ones that ExoPlayer provides as a starting point). This is suggested [here](https://exoplayer.dev/ui-components.html#further-customization), and is what the vast majority of major streaming apps that use ExoPlayer do.

It's simply not possible for our

[2022-03-06 22:22] #9769 closed, assigned to ojw28

[2022-03-06 23:18] abdelaziz-mahdy commented on #5097
i face the same problem in version 2.17.0

do i have to apply some values to get the video to seek correctly?

for the duration i used MediaMetadataRetriever to retrive it and it works correclty

but the video can not be seeked (every time i seek it just goes to the start)
also DefaultExtractorsFactory.setConstantBitrateSeekingEnabled(true) didnt work

meanwhile the video plays perfecty fine

my p

[2022-03-07 02:05] jeonghyun-genesislab commented on #10021
I'll log it for a smoother answer.

This is the screen where the log of the onPlaybackStateChanged listener is recorded.

If the video is played normally, the log is recorded as shown below.

2022-03-07 10:59:53.215 18264-18264/com.sample.test E/[PSE framework]: LOG > Player.STATE_BUFFERING
2022-03-07 10:59:53.349 18264-18264/com.sample.test E/[PSE framework]: LOG > Player.STATE_READY
2022-03-07 1

[2022-03-07 08:36] wingkingbobo opened #10028 "Support custom AudioManager flags when changing device volume"
I have my own volume control bar. I hope to call exoplayer Do not display the UI of the system when using the `exoPlayer.setDeviceVolume()` method.
The comments in the source code mention that it will let users decide whether to display the system UI. Will this function be provided, or is there any other way to set the system volume.

`com.google.android.exoplayer2.StreamVolumeManager`
[code]

[2022-03-07 08:44] Jean-Daniel opened #10029 "Styles Player settingsWindow override current window flags"
ExoPlayer: 2.17.0
Android: at least 7.1 but probably other versions too.

---

I have a full screen activity that is configured to hide status and navigation bar like this:

[code]

This activity contains a StyledPlayerView using default settings and `useController` and `controllerAutoShow` both set to `true`

When the Player setting button is clicked, it open the `settingsWindow` that does not re

[2022-03-07 09:02] zhangnin opened #10030 "JDK 11 Compilation issue"
Environment：
JDK 11
Studio  7.1.2
Gradle  gradle-7.2-bin.zip

This is a warning (这是一个警告：)
[Processor] Library 'C:\Users\Administrator\.gradle\caches\modules-2\files-2.1\com.google.android.exoplayer\exoplayer-ui\2.14.1\ba7feb79d652fc0593865e906e7a9a6d7d8d9442\exoplayer-ui-2.14.1.aar' contains references to both AndroidX and old support library. This seems like the library is partially migrated. Jet

[2022-03-07 09:51] ojw28 commented on #9605
This doesn't seem ideal. It looks like there are some other broken cases as well. For example, registering a long click listener doesn't work, regardless of whether there's a controller or not. I'm going to try and remove overriding of `onTouchEvent` to fix this.

[2022-03-07 09:52] ojw28 commented on #8627
This seems to be related to `StyledPlayerView` overriding `onTouchEvent`. It may be possible to fix it whilst fixing https://github.com/google/ExoPlayer/issues/9605 and https://github.com/google/ExoPlayer/issues/9861.

[2022-03-07 10:45] ZoubairDaddow opened #10031 "H96 Max + Flutter: Green bar down side of player"
Hello,
I use [better_player](https://pub.dev/packages/better_player) that depends on [exo_player](https://exoplayer.dev/) version 2.15.1 for android
and when try to use stream video with dimensions 1920 * 1080
the player display the stream as photo shown

![photo5848165472284031314](https://user-images.githubusercontent.com/32312290/157015888-8040830a-c5d9-4027-ab2a-f65e0c5ac552.jpg)

**Flutter do

[2022-03-07 11:06] ojw28 commented on #10028
I will mark this as a (low priority) feature request.

I don't think there's anything preventing you from calling `AudioManager` directly to adjust the volume, rather than calling `ExoPlayer.setDeviceVolume()`. In other words, I think you should be able to do what `StreamVolumeManager` does directly in your own application code, at which point you can specify whatever flags you like.

[2022-03-07 11:40] SaurabhOfficial commented on #9968
@rrfrias if you need any more info to narrow down the Issue let me know.

[2022-03-07 11:40] #10006 closed, assigned to icbaker

[2022-03-07 12:05] ojw28 commented on #10029
I agree this is a bug, but it's unclear to me how to fix this. If you have any ideas, please feel free to send a pull request. Thanks!

[2022-03-07 12:08] ojw28 commented on #10031
This is unlikely to be an ExoPlayer issue. It's likely to be a device specific issue, or an issue with `better_player`.

I suggest you build and install our [demo application](https://exoplayer.dev/demo-application.html) on the problematic device. If the issue reproduces in the demo app, the it's a device specific issue. If it does not, then it's probably an issue with `better_player`. Thanks!

[2022-03-07 13:48] #10016 closed, assigned to icbaker

[2022-03-07 14:42] srikar-samudrala commented on #7887
Hey @greyski / @isaacchiang-kkstream , currently I am using `HlsDownloader` for pre-caching `HLS` videos. Also for caching Dash videos, you can use [DashDownloader](https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/offline/DashDownloader.java)

[2022-03-07 14:50] icbaker commented on #9978
Sorry for the delay looking into this. Thanks for the repro project, it was really helpful and nice and simple.

This is a limitation of ExoPlayer: It's not currently possible to change the **item** metadata of a currently-playing `MediaItem` - because if you try and change the whole `MediaItem` it will result in the whole `MediaSource` being re-created, and playback will not be continuous. It's t

[2022-03-07 15:02] Xlcghs opened #10032 "Degradation of the reading of a 50 fps stream between 2.12 and 2.16"
Hello,

	After testing the 50 fps streams on version 2.14, we noticed some degradations
	of the stream playback.
	Indeed, we have activated the configs in rendererFactory below:
		RenderersFactory rendererFactory = new DefaultRenderersFactory(/* context= */ this)
		.setExtensionRendererMode(extensionRendererMode)
		  .experimentalSetAsynchronousBufferQueueingEnabled(true)
		  .experimentalSetForce

[2022-03-07 17:19] abdelaziz-mahdy commented on #5097
i converted the ts file to mkv file using ffmpeg
now everything works as expected
and the conversion takes maximum 5 sec using this command `ffmpeg -i "file.ts" -map 0 -c copy "file.mkv"`

[2022-03-07 17:40] ZoubairDaddow commented on #10031
Does exo_player have a plan to build package for flutter ?

[2022-03-07 18:22] JanuszChmiel opened #10033 "how to create exoplayer.jar with Exoplayer library only"
Dear advanced engineers from The powerful Google company,
I love Pascal programming language. So I Am using PPCJVM free pascal compiler which is capable to produce Java classes. As A result I need to have Exoplayer.jar prepared, which contain all classes related to Exoplayer library. Special complex command line is capable to generate Pascal header files for Exoplayer by using compiled .jar librar

[2022-03-07 18:22] ojw28 commented on #10031
No, we don't have a plan to do this.

[2022-03-07 19:18] ojw28 commented on #10033
If you only need the `jar` file for something in your tool-chain, for example a command line tool that generates Pascal header files, then you could try downloading the `aar` files from https://maven.google.com/web/index.html?q=exoplayer#com.google.android.exoplayer and then converting them to `jar` files that contain just the classes. There's some guidance on how to do this on StackOverflow [here

[2022-03-07 19:18] #10033 closed, assigned to ojw28

[2022-03-07 19:22] ojw28 commented on #10032
Are you playing live streams, or on-demand?

If you're playing live streams, then I think I can probably suggest what's going on (and a workaround for it). If you're playing on-demand streams, then please provide a same test stream, as well as details about specifically which devices are affected by the change in performance. Thanks!

[2022-03-07 19:41] AquilesCanta commented on #9933
I'll take another look. I was on holiday.

[2022-03-07 19:50] ojw28 commented on #10030
Is this warning actually causing a real problem? I think it can be safely ignored.

[2022-03-07 19:59] ojw28 commented on #10019
The device you're testing on may just not be performant enough to play HD 60fps Widevine protected content. If the device can't keep up, then video frames will be dropped. The stream works without any frame drops on a Galaxy S20, so it does seem that it depends on the performance of the device.

If the device is obviously too low-end to support this type of content (including if the device is an e

[2022-03-07 20:01] icbaker commented on #10030
I think this is a duplicate of https://github.com/google/ExoPlayer/issues/8580

[2022-03-07 20:04] ojw28 commented on #10030
Yes, that's the reason why the warning is output. Closing as duplicate because it looks like we've already confirmed that it's harmless and expected. Thanks!

[2022-03-07 20:04] #10030 closed, assigned to ojw28

[2022-03-07 20:56] Xlcghs commented on #10032
Thanks  for your quick return.
I play live stream content.

[2022-03-07 22:08] ojw28 commented on #10032
You can most likely workaround this problem by calling the following on `MediaItem.Builder` when creating a `MediaItem` to play:

[code]

The problem is also fixed by upgrading to 2.17, so that would be another option.

[2022-03-07 22:49] ojw28 commented on #10032
An alternative workaround for 2.16, which is probably easier than the `MediaItem` approach described above, is to do the following when creating the player:

[code]

[2022-03-08 02:04] #9943 closed, assigned to ojw28

[2022-03-08 02:04] #9942 closed, assigned to ojw28

[2022-03-08 09:31] yuzhidi opened #10034 "Difference between SingleSampleMediaSource and ProgressiveMediaSource"
Hi,
although [SingleSampleMediaSource](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/SingleSampleMediaSource.java)  annotate
[code]
[ProgressiveMediaSource](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/ProgressiveMediaSource.java) annotate
[code]
seems `Progr

[2022-03-08 10:18] ojw28 commented on #10034
* `SingleSampleMediaSource` loads data at the Uri as a single media sample, as per the documentation you've found. It's typically used for side-loaded subtitle files.
* `ProgressiveMediaSource` will parse multiple media samples out of a media container format (e.g., individual audio/video samples from an MP4 file).

We do have a plan to move side-loaded subtitles files to also use `ProgressiveMedi

[2022-03-08 11:15] christosts commented on #10019
We don't have a post, but this [comment on #9894](https://github.com/google/ExoPlayer/issues/9894#issuecomment-1034726822) has a code snippet how to enable the feature.

[2022-03-08 11:37] #10034 closed, assigned to ojw28

[2022-03-08 13:35] skogl opened #10035 "TS stream don't start playing automatically"
My issue is that I feel that some mpeg-ts streams don't start playing automatically. The stream source is terrestrial dvb-t2 so I imagine that there are some noise in the stream which makes it unable to start.

I have tested this in the demo player in version 2.16.1 and the issue can be resolved by just fast forward and then the stream starts playing again. I haven't found any similar issues to th

[2022-03-08 14:20] ojw28 commented on #10029
It looks like this is quite difficult to fix, and that it's a broader platform issue with UI components that are displayed using a different window. There's a long-open issue about the problem [here](https://issuetracker.google.com/issues/156065476), which has unfortunately not received much attention.

I did find one way of making it work, but it would rely on the application layer using the (now

[2022-03-08 16:59] ppodgorski opened #10036 "Remove final modifier from LeanbackPlayerAdapter class"
We want to apply some minor changes in one of LeanbackPlayerAdapter methods. Is there a possibility to remove a final modifier from LeanbackPlayerAdapter class so that we could subclass it?

[2022-03-08 19:27] dizruptr opened #10037 "Inconsistent subtitle functionality with MP4VTT via url streaming"
Hey all, I'm trying to enable subtitles within an Android app using ExoPlayer for our video playback. We have videos stored at a url in our CMS, and they are in mp4 file format with embedded vtt subtitles (could be missing some info here, I don't know codecs super well). The subtitles will load, but are consistently delayed 10-20 seconds, at which point all the subtitles leading up to that point w

[2022-03-08 20:43] ojw28 commented on #10037
The problem is that all of the subtitle sample data is appended right at the very end of the file (e.g., at ~20.2MB for the 2:30 video). When the player is streaming this file, it will only get access to the subtitle samples to display them at the point when it's loaded the file right to the end. This is when they suddenly appear. This is also why you'll see them appear more quickly if you seek to

[2022-03-08 20:43] #10037 closed, assigned to ojw28

[2022-03-08 20:44] ojw28 commented on #10037
By the way, if you want to see where the samples are placed, this is an excellent (free) tool:
https://gpac.github.io/mp4box.js/test/filereader.html

You can load one of your files, then go to "Sample View", and look at the `offset` column for different samples in different tracks. You'll find that for the `wvtt` track (which contains the subtitles), the `offset` are all right at the very end of t

[2022-03-08 21:47] rrfrias commented on #9968
For the devices you mentioned in https://github.com/google/ExoPlayer/issues/9968#issuecomment-1054076840, can you give us the number of provisioning failures and percentage of failures to overall attempts. You can send it to dev.exoplayer@gmail.com if you prefer.

[2022-03-08 22:39] rrfrias commented on #8039
@giovannyvelezalt a stacktrace from an android 12 device might be helpful. A bugreport from any android device would definitely be help us investigate this (I do understand that it is hard to access to devices that reproduce the problem)

[2022-03-08 23:25] dizruptr commented on #10037
@ojw28 This is so helpful, thank you so much! Do you happen to have a tool recommendation for embedding vtt into mp4 in a way that will allow me to control this? We've been using a Mac app called Subler but that doesn't seem to have support for interleaving.

[2022-03-09 01:24] rrfrias commented on #9707
Sorry, i lost track of this. Might it be possible to share an apk that reproduces the problem. We would like your permission to share the logcat you sent to dev.exoplayer@gmail.com with Sony. Let us know if you have any objections.

[2022-03-09 03:59] theboubougne opened #10038 "Failure to play opus files on v2.17.0. Works fine with previous version of EXOPlayer (IllegalStateException)"
Trying to play the following opus file fails on v2.17.0 with the following stack

      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleIoException(ExoPlayerImplInternal.java:640)
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:616)
        at android.os.Han

[2022-03-09 07:44] wangyan-i opened #10039 "Download from rtsp is non-supported ?"
Sometimes I want to record a live stream, and play it later. It is non-supported。

[2022-03-09 09:32] ojw28 commented on #10037
I don't I'm afraid. It might be worth looking at FFmpeg and MP4Box, but I don't know to what extent they support this.

One final thing:

[code]

The MIME type here is supposed to be the MIME type of the whole media file, so if it's set to anything it should be set to `VIDEO_MP4` (it's fine / better just to not set it for this case). You probably set it having read some of our documentation around

[2022-03-09 09:44] khushank opened #10040 "JIO Android STB : OutOfMemoryError for Exoplayer while content Playback"
### Issue Description
While Playing a DRM content on JIO Android TV STB , facing out of memory Error
[code]

###  Reproduction steps

- Play the DRM protected content.
- Observe the crash.

###Device Details
- ExoPlayer version number : 2.15.1
- Android version : 7.0
- Android device : JIO STB Version : MCM 3000

Attaching the Full Bug report for this issue.
[bugreport-NBD92G-2022-03-09-12-17-41.z

[2022-03-09 09:46] wangxuan217 opened #10041 "Multi-track control"
One of my video files contains two audio tracks, can I make these two audio tracks play at the same time, and I can arbitrarily control one of the audio tracks to mute to achieve the function of audio track switching, the reason is that I use the native audio track The method of switching will find that the screen will freeze when switching audio tracks

[2022-03-09 11:04] yoobi opened #10042 "Context.startForegroundService() did not then call Service.startForeground()"
I am getting firebase report with the following:
**Galaxy A6+**
[code]

**Moto e6**
[code]

**Huawai Y5 Lite**
[code]

- ExoPlayer version number: 2.16.1
- Android version: From Android 8 to Android 11 so far
- Android device: Samsung Galaxy A6+, Motorola moto e6, HUAWEI Y5 lite

I'm using `DownloadService` class as specified in the doc https://exoplayer.dev/downloading-media.html and in https://g

[2022-03-09 11:08] ojw28 commented on #10036
Making the class non-final effectively adds a bunch of extension points to our API surface. We don't want to add to our API surface without understanding why we're doing so. It may also be possible to do what you want with APIs that already exist.

Please could you provide details of the specific thing you're trying to do, and how you'd propose to implement it if this class were non-final? We can

[2022-03-09 11:31] ojw28 commented on #10042
I don't really understand what notification `getForegroundNotification` is returning in your code, so that might be something to look at.

Either way, the easiest way for us to help with this would be for you to provide a simple demo app project (ideally as a GitHub repository) that we can use to reproduce the problem. I suspect there's something wrong in your application code somewhere, but witho

[2022-03-09 11:32] ojw28 commented on #10041
This is not something that we support. Sorry!

[2022-03-09 11:32] #10041 closed, assigned to ojw28

[2022-03-09 11:33] ojw28 commented on #10039
This is not currently supported. This feature request is tracked in general by https://github.com/google/ExoPlayer/issues/3877.

[2022-03-09 11:33] #10039 closed, assigned to ojw28

[2022-03-09 11:35] yoobi commented on #10042
`getForegroundNotification` is showing only `Download` that have the `Download.STATE_DOWNLOADING` a bit like
https://github.com/google/ExoPlayer/blob/f1b37bc547e7194354fe31e240afa8a8fb0b5c6c/library/core/src/main/java/com/google/android/exoplayer2/ui/DownloadNotificationHelper.java#L97

I can create a special repository for this but I couldn't reproduce the issue myself so it's kind of hard to det

[2022-03-09 11:41] ojw28 commented on #10042
Isn't `getForegroundNotification` supposed to return a notification that will be used to transition the service into the foreground, rather than posting notifications directly? It can also post additional notifications directly if it wishes to do so, but it must always return one. I'm not hugely familiar with Kotlin, but I can't work out which notification your code is actually returning. I'm not

[2022-03-09 11:44] yoobi commented on #10042
Oh damn you're totally right during copying I missed a portion of code, I'm updating

[2022-03-09 11:55] ojw28 commented on #10042
The updated code looks more sensible!

I'm not sure what could be wrong, unfortunately. Using `DownloadService.startForeground` puts an extra into the intent that should cause the service to always call its own `startForeground` method, hence avoiding the crash. Is it possible you have code elsewhere in your app that also starts this service in the foreground, but creates the intent differently an

[2022-03-09 11:59] yoobi commented on #10042
Thank you for your thoughs, I'll triple-check that again and look for intent that could start the Service

[2022-03-09 12:04] Programmingtimes opened #10043 "how to use pinch to zoom function in exoplayer"
i have found a page which shares how to use pitch to zoom in exoplayer
https://medium.com/agile-freaks/exoplayer-pinch-to-zoom-functionality-bae397471c37
but issue is coding is in kotlin but my app and i know only java so can someone here help to transalte the code to java so i can use it in my project
basically i need to know how to use pinch to zoom fun in exoplayer but since its out of box ques

[2022-03-09 13:22] ppodgorski commented on #10036
Thanks for your reply! We want to override getDuration() method into something like this:
[code]

That is because we are experiencing long buffering on our live streams when user scrub to the end of the stream. I've sent url to test content to dev.exoplayer@gmail.com, so you will be able to reproduce the problem.
Reproduction steps:
1. Switch "uri" in media.exolist.json to our url and play
2. Scru

[2022-03-09 13:56] lazarflorian opened #10044 "TimedValueQueue.java line 113 com.google.android.exoplayer2.util.TimedValueQueue.poll"
We noticed several crashes in Firebase Crashlytics with the following stack trace:

[code]

Steps to reproduce: unknown
ADB bug report: cannot retrieve
Crashlytics log:
[ssue_62d46943cb4a76defccd37051efcc24b_crash_session_6206F34D01030001199C47BD6EAF7A06_DNE_0_v2.log](https://github.com/google/ExoPlayer/files/8215271/ssue_62d46943cb4a76defccd37051efcc24b_crash_session_6206F34D01030001199C47BD6EAF7

[2022-03-09 14:12] SaurabhOfficial commented on #9968
sure I will send it on the email.

[2022-03-09 14:36] dino-saurabh commented on #9968
Done

[2022-03-09 14:39] narasimharao11 commented on #9952
We have sent an email all the details.

[2022-03-09 15:23] icbaker commented on #10038
The line that's throwing the exception was introduced during the internal code review of PR https://github.com/google/ExoPlayer/pull/9864 and is part of https://github.com/google/ExoPlayer/commit/fe7e5b8181333683fda7869c3d9cffc0bdefcccb.

It's failing because it's finding a second Opus identification header in the file, which the spec (RFC7845) clearly forbids. The spec requires the ID header to b

[2022-03-09 16:27] theboubougne commented on #10038
Thanks that would be great!

On Wed, Mar 9, 2022 at 7:24 AM Ian Baker ***@***.***> wrote:

[2022-03-09 18:50] Stinger2198 opened #10046 "Video freezes wheen stream end"
- ExoPlayer version 2.17.0
- Android version 7
- Android device - Amazon Fire tv stick

When watching a video (streaming from the link), the video comes to the end of time but seconds continue to go further (for example, the video 30 seconds, when the video came to the end, the picture hangs, but the seconds continue to go 56/30) before updating the library, the OnPlayerStateChanged method from Pl

[2022-03-09 18:54] kvillnv opened #10048 "AudioTrackScore missing in r2.17.0"
Hello,

Updating from r2.16.1 to r2.17.0 , class `AudioTrackScore` has disappeared. It was not deprecated in previous versions.
I was using it to compare tracks. Is there a substitute or are we expected to do it custom now?
Please advise.
Thanks.

[2022-03-09 20:26] imranbuet63 commented on #10027
Hi, If there is any suggestion on how to debug it will be very helpful. I am just curious what is causing the player not to fetch the segments timely when I configure it with "-use_timeline 0".  Also, I wanted to know if there is no "availabilityTimeOffset" in the segment template what impact does it have on player decisions?

[2022-03-09 20:51] marcbaechinger commented on #10026
We don't have specific documentation for building a foreground service with ExoPlayer.

It is documented how to build a `MediaBrowserService` [on this page](https://developer.android.com/guide/topics/media-apps/audio-app/building-a-mediabrowserservice).

You can also look into [UAMP](https://github.com/android/uamp) which is the most comprehensive sample app that is using a `MediaBrowserService` w

[2022-03-09 21:10] marcbaechinger commented on #10005
Adaptive streaming with HLS is documented in our [Developer Guide](https://exoplayer.dev/hls.html).

If you have an app that is using ExoPlayer with other formats it should not be much different to use HLS. With ExoPlayer in its default configuration this is about using a URI pointing to HLS instead of for instance MP4.

You may want to check out [our demo app](https://github.com/google/ExoPlayer/

[2022-03-09 22:06] marcbaechinger commented on #10027
The `availabilityTimeOffset` tells the player when a segment is available for download on the server. If such a property is in the manifest the player assumes that a segment is available once

[code]

I don't think I'm in the position to explain you what ffmpeg is doing or what the options mean that you can pass to it I'm afraid.

The docs say that when you use `-use_timeline 1` then it will use a

[2022-03-10 01:36] baikimi opened #10049 "RTSP: One of more mandatory SDP fields are not set"
When filing a question:
-------------------------

Describe your question in detail.
use ExoPlayer play rtspUri，cant play，error is “One of more mandatory SDP fields are not set ”  **timing is null**

the rtsp url from camera is “rtsp://192.168.1.168/main”

the reason maybe is fromthe video from the camera ， how to solve it？if the reason is from the camera ， how to set the camera ？or other way to

[2022-03-10 02:04] #9954 closed, assigned to marcbaechinger

[2022-03-10 05:59] Stinger2198 commented on #10046
Exoplayer version 2.17.0 (last)

[2022-03-10 10:28] NicolasGodfather commented on #10049
I have the same issue. Why we can't ignore the field "timing"?  Why this field is necessary if in original sdp timing may not exist?

[2022-03-10 10:52] ojw28 commented on #10043
I will leave this open for a few weeks in case anyone wants to help, but since it's more just a request for help with your own application development, it's not within scope for what we have capacity to help with directly.

[2022-03-10 12:10] draganstojanov commented on #10023
It works. But, i have two sets of icons, one for vertical oriented video and other for horizontal oriented. Is there any way to programmatically override drawables?

[2022-03-10 13:14] maciejrozanski commented on #3877
Is there any plan to support the feature?

[2022-03-10 15:53] ziad-halabi9 commented on #6589
I had the same code suggested here in order to play multiple tracks at the same time. But now after updating to ExoPlayer 2.17, it stopped working. The following is the error I can see:

[code]
Any suggestions on what can be causing this and if there's a quick fix?

[2022-03-10 15:59] Brutalnung commented on #6589
Thanks

ในวันที่ พฤ. 10 มี.ค. 2022 10:54 น. ziad-halabi9 ***@***.***>
เขียนว่า:

[2022-03-10 16:00] Brutalnung commented on #6589
E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Unexpected runtime error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:624)
        at android.os.Handler.dispatchMessage(Handler.java:103)
        at android.os.Looper.loop(Looper.java:237)
        at android.os.HandlerThread.run(HandlerThread

[2022-03-10 16:00] Brutalnung commented on #6589
ขอคำชี้แจง

[2022-03-10 17:05] AquilesCanta commented on #9933
No. I tried it end to end and FFMPEG plays MP3 normally:

[code]

I managed to run into a CMake-related error on my linux setup, but this only manifests itself as an Android studio syncing issue. Updating the CMake version fixes the AndroidStudio issue (the error message is rather cryptic so I won't paste it).

I want to clarify something: In your original PR you propose:

[code]

But that would a

[2022-03-10 17:19] ziad-halabi9 opened #10050 "Playing simultaneous tracks with ExoPlayer 2.17"
I am trying to play multiple songs simultaneously while being able to control the volume of each track through the audioSinks. I had the code used in this [ticket](https://github.com/google/ExoPlayer/issues/6589). It was working fine until I updated to ExoPlayer 2.17. Playback started failing with the following stack trace:

[code]

The URLs here are just 4 mp3 tracks. I am trying to figure out wh

[2022-03-10 18:48] fkaduch opened #10051 "Failed to instantiate a FrameworkMediaDrm"
Hello,

I upgraded my Android TV app's Exoplayer to the latest version 2.17.1 and try to play back Widevine  DRM protected DASH content against our media server.
Code to initialize player is following:

       MediaItem mediaItem = new MediaItem.Builder()
                .setUri(inUri)
                .setMimeType(MimeTypes.APPLICATION_MPD)
                .setDrmConfiguration(

[2022-03-10 20:49] kvillnv commented on #9707
Yes you can share with Sony.
Were you able to identify the cause?

Since November, we made the PIP an "Experimental feature" that people can enable while being warned it is not compatible with all devices, so it does not look like a bug anymore.

Providing an APK right now is not possible. I can add it in backlog. We would have to write an app for this case, or we'll have to modify our app.
An APK

[2022-03-11 02:04] #9958 closed, assigned to giovannyvelezalt

[2022-03-11 03:33] metalg opened #10052 "HEVC adaptation issues when switching profiles"
i'm experiencing an issue in a device which reference board is the qualcomm sdm845 and confirmed the issue is reproducible in a Samsung s9 phone, both have the same hevc video decoder OMX.qcom.video.decoder.hevc and the secure version.

this is the log of the decoders.
[code]

when  playing the videos in this order in a playlist order: hvc1.2.4.L150.A0, hvc1.1.6.L150.90

Decoder is configured for

[2022-03-11 06:53] imranbuet63 commented on #10027
Hi, Thanks for the explanation. If I go with this setting does it comply with the low-latency dash standard? From my understanding, the point of a low latency dash is to make the chunks available as soon as they are ready. So even if a segment is not fully available the player should be able to fetch the chunks of this segment that are ready. Correct me if I am wrong. I could not get an answer why

[2022-03-11 07:26] sitthajaid77 opened #10053 "HLS with not relative segment URL will causing problem on Exo player2 or not ?"
I've 2 cases for serving HLS streaming to Exo player 2 would like to ask.

1. HLS serving with separated playlist and segment URL with different end point
![HLS_01](https://user-images.githubusercontent.com/22445538/157821608-d239c251-5a63-4266-8c26-6c1fbac1a112.png)

2. HLS with playlist and segment with the same endpoint(use relative path followed playlist source)
![HLS_02](https://user-images.g

[2022-03-11 08:04] Lohit-Huddar opened #10054 "Track fallback (track exclusion) is not working when segment request fails for HLS stream in exoplayer version 2.17.0 leading to video playback failure."
Exoplayer version: 2.17.0 (Source: https://github.com/google/ExoPlayer/releases/tag/r2.17.0)

If segment request fails with non 200 for content which is hosted on single CDN, track selection doesn't choose different track by blacklisting existing track and ends up in playback failure.

On checking further into getFallbackSelectionFor() of DefaultLoadErrorHandlingPolicy.java, is see fallbackOptions

[2022-03-11 08:33] GouravSna opened #10055 "Change Media with TextTracks on ExoPlayer v2.17.0 and v2.17.1"
Hi,

ExoPlayer Version: v2.17.0 and 2.17.1

I am having a single player instance, which I use to pass multiple medias. It helps me to do the change medias. I don't use ExoPlayer's Playlist feature.
On UI, I show a spinner having multiple test tracks including 'None'. None will disable the test tracks.

Let's suppose 1st media is playing back and it has 'None' and I disabled the text track's visibi

[2022-03-11 12:08] draganstojanov commented on #10008
Solution with overriding drawables works well. But, i have two sets of icons, one for vertical oriented video and other for horizontal oriented. Is there any way to programmatically override drawables?

@JessHolle said:

I think this would be the proper solution, but until it is  and if ever published, any ideas?

[2022-03-11 15:09] cy41 commented on #9986
Thanks for your reply!
My App is a auto play video app, like tiktok.
And it run on some low performance device; The device limits the maximum amount of writes the app can write to disk.
So my scenes is play current video, and preload next video a little data.
And this device limit app can not use Service.
I found DownloadManager has some great api to manage preload, but I don't know how to use it

[2022-03-11 15:28] wazerstar commented on #7560
An update to this?
This seems to effect tuners like https://www.silicondust.com are using for mpeg-ts, I have finally figured out that its exoplayer being the root cause!

Worth note that its randomly whenever it keeps getting in endless buffering state with black screen.

If any dev's need samle let us know :)

[2022-03-11 16:15] goffioul commented on #9933
I used 3.18, because that's the highest version I can see in `sdkmanager`. If cmake is not present in the system, the android gradle plugin will download it automatically according to the spec used in the gradle file. Ideally, you'd specify a newer version, but there was none listed by `sdkmanager`. Although I didn't explicitly try that scenario, I assumed that the build would fail if cmake was no

[2022-03-11 17:11] marcbaechinger commented on #9986
I don't understand how using the `DownloadManager` would help with the limited writes on disc on these devices. Under the hood, the `DownloadManager` is using `CahceWriter` as well. So directly using ther `CacheWriter` is not an issue I think.

[2022-03-11 17:39] marcbaechinger commented on #10027
I don't know I'm afraid. I don't have experience with FFmpeg for such things. After a quick search on the net I found this: https://dvb.org/wp-content/uploads/2020/03/Dash-LL.pdf

So it seems possible to do so, but as I expected, the setup is quite sophsiticated and I can not support you with this I'm afraid.

If you find that ExoPlayer behaves against expectations we can investigate this, but we

[2022-03-11 17:57] imranbuet63 commented on #10027
I checked the link you provided. Along with this and some other blogs that describe how to host live low latency dash with FFmpeg. It seems like my configuration is correct. I also verify the MPD with https://conformance.dashif.org/ Dash mpd checker and it passes all the requirements. If I want to debug the issue from the player's perspective could you provide some insight on what can be done to v

[2022-03-11 18:17] alveru opened #10056 "Is it possible to receive dispatch commands from Voice? I am migrating from 2.12.1 to 2.16.1"
Hi, I am migrating from library 2.12.1 to 2.16.1, I found out the ControlDispatcher was completely removed.

I was using the ControlDispatcher to intercept the voice commands for play/pause to send the appropriate Analytics tracking message. Now I am kind of lost how to detect and intercept the voice commands to track them, in fact, complete media session
commands stopped working because there is

[2022-03-11 18:50] marcbaechinger commented on #10054
When I uncomment 404 errors in `isEligibleForFallback()` as per your instruction in the email, then 404's are not eligible for a fallback.

I see a lot of load errors but all of these are 404.  So it looks to me that it is correct that no track fallback is applied when making 404 not eligible for fallback.

I then put back the 404's so that it would be eligible for fallback. I seek to 7:30 to avoi

[2022-03-11 19:21] marcbaechinger commented on #10056
Just to make sure and because you don't tell what you do with your `VoiceCommandsDispatcher`. This should work

[code]

When you are saying that you don't receive commands at all then I would put some log statements/break points in the `MediaSessionConnector` itself. Do this in the[ Callback at the end of the class](https://github.com/google/ExoPlayer/blob/release-v2/extensions/mediasession/src/ma

[2022-03-11 19:54] marcbaechinger commented on #10027
I would start digging in `DefaultDashChunkSource`. There are two methods `onChunkLoadCompleted` and `onChunkLoadError`. The 404 you see in your logs are reported to the error handler there.

The arithmetics with the `availabilityTimeOffsetUs` is done in `SegmentBase.getAvailableSegmentCount`. I suspect that in your case it return a number that includes segments that are currently not available. So

[2022-03-11 21:09] halizton opened #10057 "defaultAudioLink.flush causes OutOfMemory"
This is a follow up of the issue [8728](https://github.com/google/ExoPlayer/issues/8728)

We encounter the same issue in our application. The context is that we are a feed application where we may play several videos at the same time in the feed. We can also play full screen video from time to time. We try to keep reusing the players that have already been created.

There are several circumstances

[2022-03-11 23:38] alveru commented on #10056
hi @marcbaechinger , thanks for answering my question.

I was digesting the response, it clarified many things, so, what i did is i removed the ForwardingPlayer class and instead extended from MediaSessionCompat.Callback() and override onPause, onPlay and onSeek as the link you posted, and just added it as the callback, and now it seems to be working !!! 👍 🥇

the only difference that I see is that

[2022-03-12 07:45] NanyangTaiji opened #10058 "How to play side-by-side 3D video in 2D version with exoplayer?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-03-12 09:05] moradi-morteza commented on #3877
Hi, any news from this feature?

[2022-03-12 13:35] GlebPBanuba commented on #9966
Hi! any updates on this issue?

[2022-03-13 07:07] Zevsus opened #10060 "Fatal Exception: java.lang.NoClassDefFoundError: com.google.android.exoplayer2.l"
- ExoPlayer 2.17.0 - 2.17.1
- Android version 6.0
- Android device all
Hello! The application crashes when starting the initialization of the player:
mediaDataSourceFactory = buildDataSourceFactory();
            MediaSource.Factory mediaSourceFactory =
                    new DefaultMediaSourceFactory(mediaDataSourceFactory);
            RenderersFactory renderersFactory =
                    ((A

[2022-03-13 11:03] #10050 closed, assigned to ojw28

[2022-03-13 13:44] Zevsus commented on #10060
The reason turned out to be in the library com.google.apis:google-api-services-drive:v3-rev20220227-1.32.1 in the old version 20211107-1.32.1 everything works!

[2022-03-13 13:44] #10060 closed, assigned to ojw28

[2022-03-13 17:15] Tolriq opened #10061 "Make FfmpegAudioRenderer non final or allow custom format selection"
### [REQUIRED] Use case description
I have some users with mp3 device decoder that do not properly support gapless and they hear a glitch. Enabling mp3 in the ffmpeg decoder properly fix the issue (I'm already using ffmpeg for alac, flac ...).
The issue is that I'd want that to be optional for mp3 as it will consume more battery on most devices than using the device decoder.

Currently everything

[2022-03-13 17:58] ojw28 commented on #10040
The fact that the OutOfMemoryError occurs at the stack trace provided doesn't really tell you anything. The allocation being made is tiny, and the process has already consumed nearly all available heap space. This may have been done by ExoPlayer, or by something else entirely in your process.

You will most likely need to do some memory profiling to work out what's happening. [This documentation i

[2022-03-13 18:07] ojw28 commented on #10036
You can probably achieve the same thing using `ForwardingPlayer` to change the duration:

[code]

[2022-03-13 18:20] ojw28 commented on #10053
ExoPlayer will correctly handle both absolute and relative URLs in playlist files, and I would expect that performance would be similar in both cases, provided that the requests are fulfilled just as quickly. Obviously if scenario 1 incurs significantly increased latency when requesting data from the playlist gateway compared to the CDN, then that might affect performance, but whether that's the c

[2022-03-13 18:20] #10053 closed, assigned to ojw28

[2022-03-13 18:29] ojw28 commented on #10055
Is the text `TrackGroup` in the second piece of media equal to the text `TrackGroup` in the first piece of media? If so then it's working as intended that the override would continue to apply. If you don't want the override to continue to apply, then you should update the parameters to get rid of it when you switch to playing the second piece of media.

Regarding the demo app, we are currently upd

[2022-03-13 23:24] DavidFair opened #10062 "DefaultAudioSink: arguments out of range on specific content"
On random media setting PlaybackParameters has no effect, this was noticed in: https://github.com/jellyfin/jellyfin-androidtv/issues/1517
I've hit the limit of the debugger as there's something within the OS layer that I can't step into.
Looking around other developers have reported this exception was thrown when the buffer passed to `AudioTrack` was too small, but as the playback speed is half th

[2022-03-13 23:33] ojw28 commented on #10044
Looking at the [source code for `TimedValueQueue` on 2.16.1](https://github.com/google/ExoPlayer/blob/r2.16.1/library/common/src/main/java/com/google/android/exoplayer2/util/TimedValueQueue.java#L113), I can't see any way that the index (`first`) used on L113 can end up being as per the stack trace:
[code]
`first` is only assigned in a couple of places in the class, either to `0` or to `first = (f

[2022-03-13 23:47] ojw28 commented on #10052
It's definitely an approach to workaround the issue you face. Whether it's the optimal approach is tricky to say, but it should be noted that targeting the workaround based on codec name does not ensure that you only target a single codec "implementation". In practice SoC vendors will use the same name for many different implementations or variants of their codec, and it's likely that only specifi

[2022-03-14 00:09] ojw28 commented on #10052
I tested this on an Exynos based Galaxy S20 and saw strange behavior there as well (`OMX.Exynos.hevc.dec`). Playback continued without error, but after the transition the video was squashed into only the left side of the output surface, and the right side was solid green. On an older Exynos based Galaxy S8, the transition worked correctly.

[2022-03-14 00:18] ojw28 commented on #10025
VLC on my Macbook plays the file with exactly the same type of audio corruption (although Chrome is able to play it successfully). Are you sure there isn't something wrong with the encoding of the file itself, given VLC and ExoPlayer both seem to exhibit similar issues playing it back?

[2022-03-14 00:35] VincentJoshuaET opened #10063 "Why is PlayerView deprecated and we are advised to use StyledPlayerView?"
I only want the pause/play buttons and it would be great if I did not have to implement that myself.

Maybe you can add something such that we can show or hide the playback buttons programatically or by XML.

[2022-03-14 00:51] ojw28 commented on #10035
I think this happens when the first audio samples end up with negative timestamps. When this happens:

1. The current audio playback position is allowed to step backwards, due to [this workaround](https://github.com/google/ExoPlayer/blob/r2.17.1/library/core/src/main/java/com/google/android/exoplayer2/audio/MediaCodecAudioRenderer.java#L657).
2. In the video renderer, [this line](https://github.co

[2022-03-14 00:57] ojw28 commented on #10048
It looks like the closest equivalent is `DefaultTrackSelector.AudioTrackInfo`, but it's marked as private. Would you be able to do what you did previously if it were protected instead? I'd suggest you try depending on ExoPlayer as source, changing it to protected and trying it out, because it's probably quite difficult to reason about just by looking at the source code.

[2022-03-14 01:32] ojw28 commented on #10046
Please fully complete the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) if you want us to help with this issue. Please copy the issue template and fill it out inside this issue, rather than creating a new one. Thanks!

[2022-03-14 02:16] metalg commented on #10052
The video distortion, i mentioned was two behaviors, one was the  green on
top of the video (i could literally see the video through the green), and
the other was a comple scramble of the video. I'll post some screen shots
of those when I get back.

On Sun, Mar 13, 2022, 5:09 PM Oliver Woodman ***@***.***>
wrote:

[2022-03-14 03:34] JCarlosR opened #10064 "Right way to clear combined PlaybackStats without releasing the player"
I am not sure if this is a bug or I am using the `PlaybackStatsListener` incorrectly.

This is how I have been using `PlaybackStats` and `SimpleExoPlayer`.

First init ExoPlayer:

[code]

Then, each time I open a video I stop the player and then register an analytics listener if not set:
[code]

I add the listener after the stop because the `PlaybackStatsListener` class recommends doing it in idle

[2022-03-14 04:21] tpuserhp opened #10065 "Live streaming issue when using ExoPlayer version 2.17.0 and above"
I can stream a m3u8 link from my app when  using ExoPlayer 2.16.1 libraries,. But when using ExoPlayer 2.17.0 or 2.17.1 libraries, I don't see the streaming  from my app. I then use the  demo app of 2.12.3 version and can  see the streaming. for that link.  But when using the demo app of 2.17.0, I don't see the streaming.  I would appreciate if the support  could review and recommend actions that

[2022-03-14 04:32] tpuserhp commented on #10065
I have  emailed the link to support  for testing. Thanks.

[2022-03-14 06:03] GouravSna commented on #10055
**This is the first media, it has a default subtitle track,**

<img width="1069" alt="Screenshot 2022-03-14 at 11 09 45 AM" src="https://user-images.githubusercontent.com/38206744/158112382-22bbe91d-3ffb-41db-aa65-d6af12012078.png">

**After change media, for the next media (Different media),**

This also has a default subtitle track. "But **_I have not selected 'NONE' track in this case_**. So yo

[2022-03-14 06:12] KumarVelu opened #10066 "PlayerView inflation taking time and causing significant frame drops."
Hi,
Inflation of com.google.android.exoplayer2.ui.PlayerView takes close to 25 to 30 ms on an average.
And we are using exoplayer in viewpager, so every time user swipes the page, because of PlayerView inflation taking time, it is causing significant frame drops.

Is there any way this can optimised with some attributes / configuration (or) in any other way?

Edit : I am using texture_view as surf

[2022-03-14 06:15] sam-git2021 commented on #10025
There are some other non-android devices which play the same stream, it was working fine.
That's why I thought This could be an issue from the player.
Now I believe the issue comes from the stream itself, but the non-android device somehow ignores it and plays the stream with no corruption.

Thanks for your time.

[2022-03-14 06:15] #10025 closed, assigned to ojw28

[2022-03-14 07:46] wingkingbobo opened #10067 "RTSP crash caused by sprop-parameter-sets empty"
It looks like a crash caused by "sprop parameter sets" being empty.
It can be played with VLC.

version: v2.17.1

rtsp log:
[code]

crash log:
[code]

[2022-03-14 10:34] koreex opened #10068 "How to read SEI message from MP4 file or HLS stream"
I'm playing a local MP4 file in ExoPlayer. While playing it, I need to read SEI message from the file so I can get custom metadata that I put when creating the file. No need to parse SEI message. Just need to get byte data. I can parse that byte data in the application. Let me know the method

[2022-03-14 10:38] AquilesCanta commented on #9933
Unfortunately I don't have the bandwidth to fully investigate multiple combinations of setup params (example: avoiding a system-level CMake). I would rather address this in a case by case basis, unless impossible.

For what it's worth, in my Android Studio instance, CMake 3.22 is available.
![image](https://user-images.githubusercontent.com/8539544/158154594-79a74984-a21f-4835-a0a1-c9dc509181a9.pn

[2022-03-14 10:49] Lohit-Huddar commented on #10054
Thanks @marcbaechinger , that was really quick fix suggestion.
Adding all tracks did help and worked for me.
Wondering why all audio tracks were not selected by default track selector even though all tracks are of same language and encoded with different bitrate?

[2022-03-14 10:53] marcbaechinger commented on #10056
I don't think you should do your own `Callback`. With this you need to dispatch all the events yourself. If your `Callback` is receiving the calls, then the `MediaSessionConnector.Callback` should receive the same calls. There must be another issue with the integration that prevents it from working. Doing  your own callback is not a solution that is helpful for other users.

Look like you mix up t

[2022-03-14 11:26] icbaker commented on #10021
To summarise, if I understand the info correctly:
* You observe the issue on a Samsung Galaxy S10+ running Android 12.
* You don't observe the issue on a Samsung Galaxy Fold 3 running Android 12 or an LG V30 running Android Pie (9).

Based on this I'm marking this issue as device-specific - if it is truly Samsung-specific then you may well be better off reporting it directly to them.

Some follow-

[2022-03-14 11:43] icbaker commented on #10058
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-03-14 11:50] ojw28 commented on #10055
I don't think it's relevant, but in your code I don't think the `           trackSelectionOverridesBuilder.clearOverride(trackGroup);` line is doing anything, because you don't do anything with the builder.

That aside, it's very hard to help based on IDE screenshots. If you'd like us to take a look then please could you provide two pieces of media that can be used to reproduce the issue?

[2022-03-14 11:52] icbaker commented on #10061
I quickly experimented by extending `DecoderAudioRenderer` (the superclass of `FfmpegAudioRenderer`) and delegating to an `FfmpegAudioRenderer` instance (the decorator pattern). It's quite concise, and I think it gives you the customisation you need by allowing you to changing the implementation of `supportsFormatInternal(Format)`:

[code]

Can you let me know if that helps you implement what you

[2022-03-14 11:58] GouravSna commented on #10055
Sure Noted. Will take a look. thanks

Media 1
 http://cdnapi.kaltura.com/p/243342/sp/24334200/playManifest/entryId/0_uka1msg4/flavorIds/1_vqhfu6uy,1_80sohj7p/format/applehttp/protocol/http/a.m3u8

Media 2
http://d3rlna7iyyu8wu.cloudfront.net/skip_armstrong/skip_armstrong_multi_language_subs.m3u

[2022-03-14 12:11] ojw28 commented on #10055
The second link returns a 403 for me. Please could you take a bit of time and provide some instructions and media that definitely work? Each time we look at an issue and don't have the information we need, that's time we could be spending more efficiently working on something else. Thanks!

[2022-03-14 12:13] Tolriq commented on #10061
I tried that but in Kotlin this does not compile as exposing package private FfmpegAudioDecoder.

The decorator pattern at the Renderer level is what I do and it works, but it's a lot more to delegate. I wondered if there was the place for something more clean to better handle multiple decoders without going down the track selector road.

But I understand the API surface issue, so if there's nothi

[2022-03-14 12:14] icbaker commented on #10062
Have you tried reproducing on any other devices (e.g. a phone) to see if this is specific to the Sony Bravia TV you're using?

Please provide content we can use to try and reproduce the problem, and please provide the result of `adb bugreport` after reproducing the error in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html).

The exception message (`arguments out of range`) is d

[2022-03-14 12:21] GouravSna commented on #10055
In the 2nd media, in extension '8' is missing of m3u8. Sorry for that.

http://d3rlna7iyyu8wu.cloudfront.net/skip_armstrong/skip_armstrong_multi_language_subs.m3u8

I checked in demo app under playlist,

[code]

1. Selected 'None' text tracks for the 1st media.
2. Clicked on the next from UI button.
3. For the 2nd media, No text track is visible however default text track is present in the next me

[2022-03-14 12:41] ojw28 commented on #10055
[code]
In the demo app for current releases (e.g., 2.17), this is working as intended, because selecting "None" disables the renderer, and disabling the renderer is not tied to any specific `TrackGroups`.

I think your problem is probably to do with the way the new style selection overrides apply. Note that a new style override only specifies a single `TrackGroup`:
[code]
Note also that each of th

[2022-03-14 12:47] krackjack234 opened #10069 "How to start exoplayer with a lower bitrate even when network bandwidth is available"
Question
---------
We want to start player with a lower bitrate (say 600kbps) before it switches to a higher bitrate when configured abr mode or in fixed bitrate mode.

We want to achieve this to start player as soon as possible

We checked [this api](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultBandwidthMeter.Builder.html#setInitialBitrateEstimate(long)) but a

[2022-03-14 13:28] #10036 closed, assigned to ojw28

[2022-03-14 14:58] icbaker commented on #10063
Have you tried the following methods on `StyledPlayerView`?

* [`setShowFastForwardButton(boolean)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/StyledPlayerView.html#setShowFastForwardButton(boolean))
* [`setShowNextButton(boolean)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/StyledPlayerView.html#setShowNextButton(boolean))
* [`setShowPreviousBu

[2022-03-14 15:36] metalg commented on #10052
Video distortion on the second video.

On Sun, Mar 13, 2022, 7:16 PM German Li ***@***.***> wrote:

[2022-03-14 16:24] jeonghyun-genesislab commented on #10021
After playing the issue in the demo app, we sent the file and further explanation as requested.

[2022-03-14 16:32] Tolriq commented on #8594
Tested using ffmepg for mp3 gapless for the users who had issues and it seems that for some of them it still occurs.

Do I understand wrongly the explanation here that it's tied to the device codecs and it should work with ffmpeg or there's some other components involved?

[2022-03-14 16:50] icbaker commented on #10065
Thanks for the link. I tried it with the 2.17.1 [demo app](https://exoplayer.dev/demo-application.html) and observed that playback never started (player stayed in the buffering state forever). I observed the same behaviour on 2.17.0.

On the 2.16.1 demo app the playback starts successfully.

So something seems to have changed between 2.16.1 and 2.17.0. Over to @christosts to take a closer look at

[2022-03-14 16:53] alveru commented on #10056
Thanks for your reply.

1) so the callback  in the MediaSessionCompat should not be overriden?;  ok, so i removed it from the code to leave it as it was, and then I put a break in the function inside MediaSessionConnector.ComponentListener in the onPause function:

@Override
    public void onPause() {
     if (canDispatchPlaybackAction(PlaybackStateCompat.ACTION_PAUSE)) {    <---- Breakpoint here

[2022-03-14 16:57] krackjack234 opened #10070 "Exoplayer not starting playback after downloading DEFAULT_BUFFER_FOR_PLAYBACK_MS of data"
Question
======

We are trying to start MPD playback as soon as DEFAULT_BUFFER_FOR_PLAYBACK_MS of data is downloaded.
In our case, each mp4 segment is of 6s which means playback should start after downloading of 1 video segment as we have configured DEFAULT_BUFFER_FOR_PLAYBACK_MS as 1000ms

However, we see that the first frame is getting rendered after downloading 3-4 video segments even at a reso

[2022-03-14 16:59] icbaker commented on #10069
Have you tried using the setter you linked to? I think it should do what you want.

The wording of the javadoc means the value will be used when the bandwidth can't be estimated by measuring actual transfer rate (which is only possible after playback has started).

[2022-03-14 17:11] icbaker commented on #10070
I'm not sure the logs you've provided conclusively show that the library is **waiting** for 3-4 segments before starting playback. Segments will continue to be loaded in parallel while playback starts, so if your network connection is fast and your segments are small it's reasonable that many of them are downloaded and buffered while the player is starting to play the first segment (and before it'

[2022-03-14 17:20] #10024 closed, assigned to icbaker

[2022-03-14 17:25] icbaker commented on #10051
What version were you on before 2.17.1 (and did the same content work on that version)?

What device do you observe this failure on? If it's only on specific devices please provide the output of `adb bugreport` after reproducing the problem.

Can you try installing the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) and playing some of the widevine samples in there? Try those fro

[2022-03-14 17:46] jeonghyun-genesislab commented on #10021
[code]

Hope this helps a bit more.
I went to the official website and set the log.

Init 7b542f1 [ExoPlayerLib/2.16.1] [beyond2, SM-G975N, samsung, 31]

The log after this line is the situation where the video is not playing.

[2022-03-14 17:55] andrewlewis commented on #10068
I think the SEI data will be "combined" with the video data in the samples read by the video renderer for an MP4. If you're happy to parse the sample yourself then the quickest way to get at this is probably to subclass `MediaCodecVideoRenderer` and override `onQueueInputBuffer` (use a custom renderers factory to have the player use your renderer rather than the normal `MediaCodecVideoRenderer`).

[2022-03-14 17:55] #10068 closed, assigned to andrewlewis

[2022-03-14 18:02] ojw28 commented on #10052
I'm not sure if your response above was attempting to attach some screenshots, but if it was, it didn't work. Please respond in the GitHub UI, rather than email, in order to ensure that any attachments are indeed attached correctly.

[2022-03-14 18:06] weicui1 opened #10071 "Exoplayer Audio only supports on Android WearOS"
I tried playing downloaded item on a Samsung WearOS device.

The code worked well on phone. While on WearOs, I got such error logs:

03-14 12:53:57.131  6372  7084 D CCodec  : allocate(c2.android.aac.decoder)
03-14 12:53:57.136  6372  7084 I Codec2Client: Available Codec2 services: "default" "software"
03-14 12:53:57.139  6372  7084 I CCodec  : setting up 'default' as default (vendor) store
03-14

[2022-03-14 18:13] icbaker commented on #10061
Ah right, yeah I see my proposal won't work because the `FfmpegAudioDecoder` isn't public - sorry about that, I'll hide that reply.

Zooming out slightly: It sounds like you've got some files where the platform `MediaCodec` claims to be able to play them but then incorrectly handles the gapless metadata. And your proposed solution (if i'm understanding correctly) is to use the `FfmpegAudioRenderer

[2022-03-14 18:40] fkaduch commented on #10051
Hi Ian,

I was on version 2.12.1 and it did work.
The output on 2.17.1.is following:
1. on Sony TV it work, using the same approach as Exoplayer demo does.
2. on Android TV emulator it does not work , issuing the E/FrameworkMediaDrm error. However, this may be caused by lack of DRM support in the Android TV emulator.

thanks

[2022-03-14 18:41] krackjack234 commented on #10070
Hi @icbaker  I think we atleast figured out why the player was downloading 3-4 segments before first frame was getting rendered.

We used the below code to initialise player.

[code]
If we comment out the bandwidthMeter, the player then starts rendering just after downloading first frame which was our desired behavior.

Pls let us know if this observation makes sense.

[2022-03-14 18:44] krackjack234 commented on #10069
Hi @icbaker  if we use this setter method then our playback gets delayed and it starts only after downloading 3-4 segments as I mentioned in ticket https://github.com/google/ExoPlayer/issues/10070

Also one more observation we have. If we do not call release of the player and just call prepare to play 2nd content, then the initial bitrate passed is ignored and the 2nd content starts with a higher

[2022-03-14 19:09] krackjack234 commented on #10070
@icbaker  Here are one more log showing when the player is going to ready state. This is with code where we are calling
setInitialBitrateEstimate and adding the bandwidth meter

[code]

If we remove bandwidthMeter, then the player starts after downloading 1-2 segments as seen in below logs

[code]

[2022-03-14 19:29] ojw28 commented on #10032
Closing for now. You can still reply here if the suggestions above don't resolve the issue, and we will re-open the issue. Thanks!

[2022-03-14 19:40] Tolriq commented on #10061
Actually I use a RenderersFactory to reduce app size.

[code]
The problem is that it's in order, since I want ffmepg for Flac as lot of devices have issues I put it first, but then if I want to optionally enable mp3 from ffmpeg I need either the renderer or the trackselector thing. (Renderer is easier)

About gapless I think the issue is mostly https://github.com/google/ExoPlayer/issues/8594 but s

[2022-03-14 19:53] weicui1 commented on #10071
Seemingly can't use MediaCodecSelector.DEFAULT directly for WearOs.

Anyone ever had experience on using Exoplayer on  WearOS

[2022-03-14 20:42] metalg commented on #10052
![Screenshot_20220314-133613_ConcatenatingPlayer](https://user-images.githubusercontent.com/970206/158257732-48207fab-2f55-43c6-8b79-7d846f946e20.jpg)

sorry i didn't realize that the email attachment was not uploaded.

[2022-03-14 21:22] alveru commented on #10056
I reviewed again your second response, and changed the approach to use the ForwardingPlayer again, i extended the class, and I am passing this extended class to the MediaSessionConnector to receive the voice commands, and I am using the original ExoPlayer as parameter to the ForwardingPlayer, and i think is working 👍 , the override functions from the media session receive the actions and i can tra

[2022-03-14 21:45] alveru opened #10072 "Is there a direct replacement for constructor DefaultHttpDataSourceFactory(userAgent, bandwidthMeter) from 2.12.1 in 2.16.1?"
Hi, I am migrating from library 2.12.1 to 2.16.1, and it seems that constructor for DefaultHttpDataSourceFactory has been replaced for another constructor with fewer params.

My old code was:

 protected open fun createDashMediaSource(): MediaSource {
        val userAgent: String = VideoModule.getUserAgent()
        val httpDataSourceFactory = DefaultHttpDataSourceFactory(userAgent, bandwidthMete

[2022-03-15 00:54] ojw28 commented on #8627
Fixed in `dev-v2`. The fix will be included in 2.18.

[2022-03-15 00:54] #8627 closed, assigned to ojw28

[2022-03-15 00:54] ojw28 commented on #9605
Fixed in `dev-v2`. The fix will be included in 2.18.

[2022-03-15 00:54] #9605 closed, assigned to ojw28

[2022-03-15 00:54] ojw28 commented on #9861
Fixed in `dev-v2`. The fix will be included in 2.18.

[2022-03-15 00:54] #9861 closed, assigned to ojw28

[2022-03-15 01:06] #10071 closed, assigned to nobody

[2022-03-15 01:51] sridhard opened #10073 "Dynamic GOP for DASH"
Hi,

This is a query regarding exoplayer support:

For better video compression, commercial video encoders have started using per-shot encoding. In per-scene(or per-shot) encoding the video is encoded separately for each scene and the combined together. This gives the best quality video at lower bitrate.

When video is encoded with per-shot encoding, I frames are places at equal intervals within a

[2022-03-15 03:04] koreex commented on #10068
Thanks for your reply. I can parse NAL unit myself. What I need is to get SEI NAL unit in the hosting application from ExoPlayer. How can we use custom `RenderersFactory` in `ExoPlayer`?

[2022-03-15 04:55] Rudnev commented on #10035
I have the same issue, for example `buffer.timeUs` was 999999176000 and `currentPositionUs` was 1000000000000. What would be the best solution on the app side? I currently solved that with a background task that checks the `player.getCurrentPosition()` and calls `player.seekTo(0)` if the position is negative until the first frame has been rendered.

[2022-03-15 06:34] gurmeetsingh90 opened #10074 "java.io.IOException: javax.crypto.BadPaddingException while trying to play encrypted content in Exoplayer (2.14.2)."
E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:580)
        at android.os.Handler.dispatchMessage(Handler.java:102)
        at android.os.Looper.loop(Looper.java:223)
        at android.os.HandlerThread.run(HandlerThread.java:67)

[2022-03-15 07:32] sha3rawi33 opened #10075 "How to implement SSL pinning for the video stream?"
Some of my app users tried to capture the video source URL using HTTP proxy (MITM attack). which caused great loss to us.
is there a possible way to add 2 or 3 SSL certificates / or public keys to pin them and reject any other self-signed CA of 3rd party proxy apps?

it's so critical; hopefully someone can have a solution

[2022-03-15 08:07] krackjack234 commented on #10070
Updating with decoder init logs using exoplayer v2.14.1.

Without Bandwidth meter and setInitialBitrateEstimate call

[code]

With BandwithEstimator and setInitialBitrateEstimate set to 100kbps

[code]

Unfortunately it will be difficult for us to move to latest version as there are some more dependent components that we have to update.

Please let us know your thoughts about this @icbaker

[2022-03-15 08:08] goffioul commented on #9933
I tried again with unmodified `dev-v2` branch, but 2 things happened:
1. gradle downloads NDK `21.4.7075529` during the build, so you're actually _not_ using NDK 23 to compile the extension; this may be why you don't get any link error; if you force the NDK version in `extensions/ffmpeg/build.gradle`, you might then see it
2. build now fails, because CMake 3.21+ is not available when using the And

[2022-03-15 10:29] krackjack234 commented on #10070
@icbaker  we analysed little more and found that **any** of the below code changes are causing the 2.14.1 exoplayer to delay rendering of first frame. We checked this in 2.14.1 exoplayer demo app

[code]

`2.  trackSelectorParameters =
                         builder.setMaxVideoBitrate(1000).build();`

`3. trackSelectorParameters =
                       builder.setMaxVideoSizeSd().build();`

If

[2022-03-15 15:02] danielgliga3ss opened #10076 "MediaCodecRenderer$DecoderInitializationException exception on multiperiod Dash streams"
We are getting this exception when trying to startover multiperiod dash streams (clear->secure)
`java.lang.IllegalArgumentException
        at android.media.MediaCodec.native_configure(Native Method)
        at android.media.MediaCodec.configure(MediaCodec.java:2127)
        at android.media.MediaCodec.configure(MediaCodec.java:2043)
`
 and then
`E/MediaCodecVideoRenderer: Video codec error

[2022-03-15 15:31] Stinger2198 commented on #10046
Updated, please check.

[2022-03-15 16:38] andrewlewis commented on #10068
It's covered under https://exoplayer.dev/shrinking.html#specify-which-renderers-your-app-needs.

[2022-03-15 16:46] alveru commented on #10072
i found it, is setTransferListener(........) listener, i will close this ticket

[2022-03-15 16:46] #10072 closed, assigned to nobody

[2022-03-15 17:08] icbaker commented on #10073
ExoPlayer doesn't assume that I frames are equally distributed - the type of encoding you're describing should just work. I would recommend you try it, and if you find something doesn't work please file new specific issues with media we can use to reproduce and diagnose the problem.

[2022-03-15 17:08] #10073 closed, assigned to icbaker

[2022-03-15 17:11] icbaker commented on #10074
The error suggests your content is either encrypted incorrectly or you've misconfigured the HLS playlist with the wrong crypto algorithm or key info.

Do you have anything to indicate this is a bug in ExoPlayer?

[2022-03-15 17:14] icbaker commented on #10075
This isn't really an ExoPlayer question. If you're using the `DefaultHttpDataSource.Factory` (the default) then you can use Android's certificate pinning:
* https://developer.android.com/training/articles/security-ssl#Pinning (including a warning against doing this)
* https://developer.android.com/training/articles/security-config#CertificatePinning

If you're using a [different network stack](htt

[2022-03-15 17:14] #10075 closed, assigned to icbaker

[2022-03-15 17:21] icbaker commented on #10076
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/8696. The workaround for that is included in 2.17.0.

[2022-03-15 17:21] #10076 closed, assigned to icbaker

[2022-03-15 17:27] icbaker commented on #10051
I'm able to play widevine encrypted samples in the demo app on an API 30 Android TV emulator.

This doesn't sound like a problem with the ExoPlayer library - if you have device/emulator-specific problems I recommend you report them to the companies/teams responsible for those products.

[2022-03-15 17:27] #10051 closed, assigned to icbaker

[2022-03-15 17:28] icbaker commented on #10076
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/8696. The workaround for that is included in 2.17.0.

[2022-03-15 17:29] icbaker commented on #10061
I'm going to close this because we're not going to remove the final keyword from `FfmpegAudioRenderer` or add a specific predicate for format filtering.

[2022-03-15 17:29] #10061 closed, assigned to icbaker

[2022-03-15 17:46] icbaker commented on #10021
Are you able to reproduce the issue on a non-Samsung device? If it only reproduces on Samsung devices, it likely indicates this isn't related to the ExoPlayer library and you should instead report this to Samsung.

[2022-03-15 17:47] icbaker commented on #10021
The dumpstate provided over email is access-restricted and I cannot read it. I'm also not sure it's the same as the output of running `adb bugreport` (based on the file name). Please can you make sure you've captured a bug report as described here: https://developer.android.com/studio/debug/bug-report

[2022-03-15 19:14] rickeho opened #10077 "Honda Infotainment Compatability?"
I have a Honda Clarity, and am trying to run an app that uses ExoPlayer. Is it compatible with the Honda Infotainment system?
Thanks.

[2022-03-15 19:59] Tolriq commented on #10061
@icbaker what about the root gapless issue what do I need to ask from the user? Logs shows no difference between his device and mine during playback, so not sure what to report.

[2022-03-16 01:04] #9975 closed, assigned to icbaker

[2022-03-16 01:04] #9974 closed, assigned to icbaker

[2022-03-16 07:02] nickliwei1624 opened #10078 "FileDataSource RandomAccessFile throw FileNotFoundException although the file url exsits"
Hi,

I have got one issue like below, please help to check and give some suggestion. Thank you.
1. Android Version
   Android Q, TV
2. Exoplayer Version
   2.9.0
3. reproduction steps
   a. Burn the Android Q image on TV set.
   b. mount streams server on path "/mnt/runtime/default/emulated/0/media".
   c. input "ls /mnt/runtime/default/emulated/0/media" to list the content of the path, to ensure

[2022-03-16 07:19] nickliwei1624 commented on #10078
I have checked the source code, it's RandomAccessFile throw FileDataSourceException, like below. the dataSpec.uri.getPath() is "/sdcard/Alarms/3DMark_2003_In_8k_60Fps_Demo+AllTests_original.mkv", which was ensured exists, but why RandomAccessFile would throw FileDataSourceException?
[code]

[2022-03-16 07:39] jeonghyun-genesislab commented on #10021
Yes, that's right.
We captured the bug report by referring to the official documentation.
Except for the different name, the bug report format is the same as on the official website, but can't you read it?

I've also tested mine and company-supplied devices to make sure only Samsung devices are actually failing.

The result is as below.

Galaxy Note 10 (OS 9 // API 28) => No problem

Galaxy A6 (OS

[2022-03-16 09:34] GouravSna commented on #10055
Hi @ojw28 ,

I tried your suggestion to clear the overrides before loading the another media. However, I can see that `TrackSelectionParameters` does not have any overrides before loading the another media but still for the next media, I can see the same issue where the default track is not coming as 'Selected'.

This is how I am clearing the overrides,

[code]

I have applied your suggestion wher

[2022-03-16 14:00] claincly commented on #10067
It is failing as intended: we don't play H264 content when the `sprop-parameter-sets` is empty. The parameter set contains sps/pps for the decoder. That being said, you can try removing the checks for `sprop-parameter-sets` and see if it plays.

[2022-03-16 14:46] damikdk commented on #7789
Any updates guys?

[2022-03-16 14:48] skogl commented on #10035
Not sure if these points are meant as internal or not? Point 2 and 3 require knowledge of the renderers that I don't have so there is no way for me to go in there and make changes that I feel comfortable with. Point 1 looks promising enough but I'm not sure if there's a simple way of overriding the _ProgressiveMediaPeriod_ without having to make changes in the library itself? Is this also internal

[2022-03-16 16:22] arunkumartdr opened #10079 "Exoplayer Play From Http (non Https) Urls with Media Items or Media Source [ java ]"
I want to play videos from urls using http protocol inside exoplayer in android app using **JAVA**.

i had tried the below method in manifest
[code]
that does not work for me on minimumsdk 23.

I have tested in android v7.1 and android 11.

Later i had came to know that i have to use DefaultHttpFactory / OKhttp from [here][1]

But i cant get good samples or implementation over internet.

I had imp

[2022-03-16 16:33] Rudnev commented on #10035
@skogl I tested another workaround, it doesn't require background task management, but I also do not have enough knowledge of the rendering pipeline to validate this solution:
[code]
[code]
[code]
In my case it works (udp multicast), but it also looks ugly to me: Firstly I have no idea what the original workaround was made for, secondly I have no idea `buffer.timeUs` < 1_000_000_000_000L is this t

[2022-03-16 17:53] skogl commented on #10035
Thanks @Rudnev but this workaround does not work for me. Buffer position does not seem to be the issue for me but player position. I use your first workaround but modified it to only check if player's `currentPosition()` is a negative value, and if so I immediately to a `seekTo(0)` which kicks off playback.
I am not sure about the correlation of buffer vs position. Without knowing about your speci

[2022-03-16 18:02] wazerstar opened #10080 "Strange ghost trail stuttering"
[tivimate](https://play.google.com/store/apps/details?id=ar.tvplayer.tv&hl=da&gl=US) developer updated to latest exoplayer version from r2.16.1 -> r2.17.1

I'm doing a test version from him where he implemented the missing IDR for [mpeg-ts](https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play) streams in order to see if that fixed most playback issues which seems to fi

[2022-03-16 20:04] Rudnev commented on #10035
On the next line after player.play()? At first I wanted to bind to events, but getCurrentPosition() will return 0 for a while. And often the first event where it goes negative is the end of loading (max buffer size reached). So I run a task right after player.play(), it checks the position every 2 seconds, calls seekTo(0) if necessary, and then I cancel that task when the "rendered first frame" ev

[2022-03-17 02:18] sitthajaid77 commented on #10053
@ojw28 Thank you so much for your comment. At least, ExoPlayer can handle both scenarios whether 1 or 2. If you need to choose, which solution 1 or 2 you will implement ?

[2022-03-17 08:24] vyagrah opened #10081 "How to get played time from an HLS Radio Stream?"
I am using `exo_position` to show playback time to the user. But whenever I play HLS stream it shows weird values, even negative one. Also `exo_duration` which just shows 00:00 in case of normal stream (which is ok because I am using live radio stream), shows random time intervals in case of HLS stream.

<LinearLayout android:id="@id/exo_time"
    android:layout_width="wrap_content"
    android:la

[2022-03-17 12:39] Jean-Daniel commented on #10029
I did at least found out that I can easily workaround that issue by moving my "hide system bar" code into `onWindowFocusChanged(hasFocus: Boolean)` method.

The navigation still became visible while the popup is open, but it is automatically hidden when the popup is dismissed.

[2022-03-17 12:50] IcemarkUK opened #10082 "DASH Live stream - AdaptiveTrackSelection, DefaultBandwidthMeter, and isTransferAtFullNetworkSpeed"
I am tracking an issue with a DASH live stream where playback starts when the bandwidth is low ~1mbs and recovers over a few minutes but the playback quality doesn't reflect the new bandwidth.

The network recovers by ~1mbs every 30 seconds climbing up to 32mbs

However, the quality of the stream never climbs to its full quality, instead sticks at the lower end ~2mbs

While debugging this I have o

[2022-03-17 13:34] ojw28 commented on #10029
Just to check something: In cases where you're seeing the navigation remain visible _after_ the popup was dismissed (unless you do something proactive such as in your comment above), was that only on certain API levels? Specifically, does it only occur on level API level 29 and earlier? I _think_ the navigation probably does automatically hide itself again on API level 30 and above.

The implicati

[2022-03-17 13:57] Xlcghs commented on #10032
Hi,
Sorry for the late return.

We did some tests with the PlaybackSpeed configurations mentioned in your message.
But the problem is still there.

At startup, we had freezes and then the playback stabilizes.

FYI: this problem is not reproduced on version 2.12.3.

Do you have another way of correction ?

Can you please open this issue. Thank you

BR,

[2022-03-17 14:23] Stinger2198 opened #10083 "Bug with counting time Exoplayer 2.17.0"
ExoPlayer version 2.17.0
Android version 7
Android device - Amazon Fire tv stick
When watching a video (streaming from the link), the video comes to the end of time but seconds continue to go further (for example, the video 30 seconds, when the video came to the end, the picture hangs, but the seconds continue to go 56/30) before updating the library, the OnPlayerStateChanged method from Playereve

[2022-03-17 18:54] NG-Gaurav opened #10084 "Hls video take too much time if I download 5 video simultaneously."
if i only download 1 video than it take 2 minutes. but if i download 5 video simultaneously and after i pause 4 video than single same video take 8 minutes.

[2022-03-17 21:50] ale-groundcloud opened #10086 "Video flickering on small sized video player"
Exoplayer 2.17.0
Device: Galaxy tab A7 (SM-T500)
Android 11

When creating a small video player with an hls source the video flickers being stopped or playing. Tested the same behavior on a bigger version of the same view and didn't experience the issue.

I'm using jetpack compose to build a list and the cards contain a small videoplayer to show a preview of the videos, this breaks the UI complete

[2022-03-18 01:04] #9981 closed, assigned to icbaker

[2022-03-18 01:07] ojw28 commented on #10053
We develop a client side player and do not have extensive experience with server-side streaming architectures. So I don't think we're the right people to answer that question.

[2022-03-18 06:41] dreamwhigh opened #10087 "play the mp4 file failed casue of errorCode=ERROR_CODE_IO_READ_POSITION_OUT_OF_RANGE"
Base on the ExoPlayer demo (https://github.com/google/ExoPlayer), I replace the URI with the local file address ("/sdcard/DCIM/Camera/ExoPlayer_source.mp4") in media.exolist.json. The demo application prompts "Playback failed". I have parsed the metadata of the video source and found no abnormality. Please help to see why the exception is thrown. Thank you.

`[
  {
    "name": "Clear DASH",
    "s

[2022-03-18 07:28] chao9267 opened #10088 "How to imp FullScreen Play?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-03-18 09:03] Jean-Daniel commented on #10029
You're right. I did just test with a API 30 device, and it properly hide back the system bars when the setting window is closed.

[2022-03-18 10:17] Pecana opened #10089 "ffmpeg extensions compile error"
Hello, I used to compile the ffmpeg extensions with old version but now I am getting an erorr becasue the Android.mk is missing under
ExoPlayer/extensions/ffmpeg/src/main/jni/Android.mk
Where can i find it ?

Thank you

[2022-03-18 10:29] OneManMobile opened #10090 "Cache cannot be read in first app process for some older devices (Android 9-10)"
Hi

This is a bug that I believe should be reproducible given the setup information below.

So, the issue is that in the FIRST app process, when using ExoPlayer and a DownloadManager, there is a strange cache-read bug on some older devices. One of those devices is a Samsung S9, running Android 9. But also an older Nokia Android phone running Android 10 has the exact same bug.

The issue is in deta

[2022-03-18 14:07] ojw28 commented on #10083
This is likely due to an issue with the media where there's some samples that have timestamps beyond the end of the video track (e.g., metadata of text samples). If you want us to take a look, please provide us with a playable link to the media in question.

[2022-03-18 14:24] ojw28 commented on #10079
Starting with the [main demo app](https://github.com/google/ExoPlayer/tree/r2.17.1/demos/main) and adding `android:usesCleartextTraffic="true"` to the correct place in the Android manifest (i.e., [here](https://github.com/google/ExoPlayer/blob/r2.17.1/demos/main/src/main/AndroidManifest.xml#L38)) works fine for me. I also tried increasing the minimum SDK to 23, and it still worked fine.

If you do

[2022-03-18 14:34] ojw28 commented on #10077
ExoPlayer is compatible with Android devices, so if Honda publicly state that their infotainment system is running Android, and if it meets the version requirements outlined [here](https://exoplayer.dev/supported-devices.html), then that should be sufficient for ExoPlayer to work.

If Honda do not publicly state that their infotainment system is running Android, but it "appears to be Android", the

[2022-03-18 14:34] #10077 closed, assigned to ojw28

[2022-03-18 14:45] AquilesCanta commented on #10089
Can you clarify from which to which version are you transitioning?

[2022-03-18 16:11] ojw28 commented on #10087
The media is invalid because it contains a `meta` box that doesn't start with the mandatory `hdlr` box, as per the MP4 spec.

[2022-03-18 16:11] #10087 closed, assigned to ojw28

[2022-03-18 16:19] ojw28 commented on #10078
This doesn't really sound like an ExoPlayer issue, since the same issue would presumably occur if you were to try and read the file directly with `RandomAccessFile` in your own code, without using ExoPlayer at all. I suggest you confirm that this is the case, and generalize your question to ask on StackOverflow (or to file as a standard Android issue: https://source.android.com/setup/contribute/re

[2022-03-18 16:19] #10078 closed, assigned to ojw28

[2022-03-18 16:22] Pecana commented on #10089
H

Hello, I am compiling from the currentl  version  2.17.1

[2022-03-18 16:25] ojw28 commented on #10090
My first guess would be that there's some component you should have a single instance of, where you actually have more than one instance. That's what most often causes this type of issue. I'm not really sure what the code above does, since I've never used Koin.

If I were you I'd (a) explore this possibility, and (b) see if the issue reproduces using our demo app running on the same device. If it

[2022-03-18 16:31] marshallaf opened #10091 "Increase in MediaCodec TYPE_RENDERER errors in 2.16.1, only on Android 10"
After upgrading from Exoplayer 2.13.3 to 2.16.1, we are seeing a much higher incidence of various renderer errors, similar to the form pasted below.
[code]

Our devices are one of either:
- Android API 23, Qualcomm chipset
- Android API 29, NXP i.MX chipset

The increase in these errors only occurs on the API 29 devices, as seen in the chart below:
![Renderer errors by Android API and Exoplayer ve

[2022-03-18 16:34] ojw28 commented on #10086
If you want us to take a look at this, I'd suggest you provide a small sample app as source code that reproduces the issue.

[2022-03-18 16:46] ojw28 commented on #10084
This issue is too vague to be actionable. Please provide concrete reproduction steps. For example, a small patch to our demo app that would allow us to easily reproduce the issue.

[2022-03-18 16:48] AquilesCanta commented on #10089
Yeah, I'm not clear what's going on. I'm inclined to think it's an issue in the local setup. Android.mk has not been in use for a long time, since https://github.com/google/ExoPlayer/commit/19602ca4ca6dac92fa8aece86a7e48dccc97caa4. Please try following the build instructions on a fresh checkout and you can let us know what you observe.

[2022-03-18 17:27] Pecana commented on #10089
Hello, I followed the stpes and the compile successed but I guess it misses the steps to generate the .so files, now only the .a files are present, any idea ?

[2022-03-18 17:29] AquilesCanta commented on #10089
It's impossible to know with this amount of info. For your peace of mind, I'm able to compile normally, so I think you might find an error in your console output.

[2022-03-18 17:31] Pecana commented on #10089
Are you able to find the .so libraries file ?

[2022-03-18 17:33] Pecana commented on #10089
There is no error during compile, this is the last part of the log : https://pastebin.com/FL72ZpMi

here the full log : https://drive.google.com/file/d/1ITpCA2sY7VK5fHYNUShv85hOyxSCkhOi/view?usp=sharing

[2022-03-18 18:01] AquilesCanta commented on #10089
Ah sorry, I misread. This is expected, because .a files are intended for static linking, unlike .so files which are meant for dynamic linking. The gradle build will generate an libffmpeg_jni.so (or something like that) which statically links against those .a files, avoiding the need for additional .so files. You should be able to play files using ffmpeg normally.

I think there's no issue then?

[2022-03-18 18:09] Pecana commented on #10089
So can I just add the .a files into my "exo project" ? In the past rleases I used to copy the .so file also because looking at the FfmpegLibrary class it load libraries :
private static final LibraryLoader LOADER =
            new LibraryLoader("avutil", "swresample", "avresample", "avcodec", "ffmpeg");

[2022-03-18 18:25] AquilesCanta commented on #10089
No.

That's no longer necessary. As you can see the loader now only cares about ffmpegJNI. https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/src/main/java/com/google/android/exoplayer2/ext/ffmpeg/FfmpegLibrary.java#L35. You just need to follow the instructions in the readme, make sure decoder extensions are properly setup in your app and that's it.

[2022-03-18 18:25] #10089 closed, assigned to AquilesCanta

[2022-03-18 18:27] ale-groundcloud commented on #10086
will try to provide a demo project

[2022-03-18 18:42] Pecana commented on #10089
Ok, i will try to compile the whole project and check :-)

[2022-03-18 19:04] Pecana commented on #10089
I was able to get it finally :-)
After the spets reported into the readme i executed :
./gradlew :extension-ffmpeg:assembleRelease
So an AAR with the compiled libraries has been generated :-)

Thanks @AquilesCanta for your help and patience :-D

[2022-03-18 19:27] AquilesCanta commented on #10089
No problem, happy to help.

[2022-03-18 21:46] arunkumartdr opened #10092 "Adaptive Quality Selection and Track selecting UI in StyledPlayerView"
Hai , This is Feature request for Adaptive track (quality) selector for hls and dash.

Adaptive track selection and building a custom ui for track selection is a big problem for inexperienced peoples like me.

If it was provided by default many peoples headache is solved.

As far now thanks for giving the UI , function to change speed and audio selction in StyledPlayerView.

![image](https://user-

[2022-03-18 21:54] arunkumartdr commented on #10079
my api settings :

[code]

my  manifest :

[code]

my network security config :

[code]

sample mp4 file : http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4

sample hls file : https://d3rlna7iyyu8wu.cloudfront.net/skip_armstrong/skip_armstrong_stereo_subs.m3u8

[2022-03-19 02:17] arunkumartdr commented on #10079
This works for me with out any external library for HLS.

[code]

[2022-03-19 04:27] sitthajaid77 commented on #10053
@ojw28 Thank you for your answer, even please give me one more help. If I going with scenario 2, do you think Exoplayer can reduce the latency compared with scenario 1 or not. Because the client can re-use socket, right ?

[2022-03-19 12:50] krackjack234 commented on #10070
Hi @icbaker

after further analysis, we figured out that the player is making call for drm license late (after download 3-4 video segments) which is causing the delay. Here is a snapshot from Charles

![Screen Shot 2022-03-19 at 5 57 10 PM](https://user-images.githubusercontent.com/50735078/159121663-77602c79-2237-4ec6-b2dd-9b87b7a97fcd.png)

Here the drm license call is made 2 secs after download

[2022-03-19 14:53] arunkumartdr opened #10093 "Need Help in Adaptive Track Selection"
My code
[code]
Errors :

1 . Cannot resolve symbol 'Factory'

2 . Cannot resolve constructor 'Factory(com.google.android.exoplayer2.upstream.DefaultBandwidthMeter)'

3. Cannot resolve constructor 'DefaultTrackSelector(TrackSelection.Factory)'

4. Cannot resolve method 'buildUponParameters' in 'TrackSelector'

![image](https://user-images.githubusercontent.com/31769796/159125977-304d98a2-54d6-4411-

[2022-03-19 14:57] arunkumartdr commented on #10079
The above solution works for me and my friend , so i currently close the issue , reopen is you have any issue..

[2022-03-19 14:57] #10079 closed, assigned to ojw28

[2022-03-20 21:49] koreex commented on #10068
Thank you. It works

[2022-03-21 01:19] wazerstar opened #10094 "Need help tracking down black screen/endless spinning with mpeg-ts streams and keeps consuming bandwith"
So using TiVimate player that uses exoplayer with mpeg-ts streams can cause some blackscreen behavior I cannot figure out.

I got the developer to set the flags for non IDR in the code, so this should not be the issue?

The scenario here is I start the logcat, start the program and start watching and swapping channels until I'm being met with a blackScreen where it is in endless spinning, changing

[2022-03-21 05:41] UtsavG93 opened #10095 "Crash in android 6.0.1 Device"
I am getting crash on Firebase Crashalytics

Fatal Exception: java.lang.RuntimeException: Unable to create service com.musicplayer.playermusic.services.MusicPlayerService: android.content.res.Resources$NotFoundException: Resource ID #0x1120015
       at android.app.ActivityThread.handleCreateService(ActivityThread.java:3883)
       at android.app.ActivityThread.access$2100(ActivityThread.java:229)

[2022-03-21 07:52] palvaibhav89 commented on #5313
@ojw28 is this issue still open? Is there any fix for this on the way?

[2022-03-21 08:30] OneManMobile commented on #10090
Koin is a Service Locator Framework (light version dependency injection), and the "single<X>" means that it only creates one instance. I have not been able to log any double initialization of any of these components. They are all singletons.

Alternatively, I could have initialized it all in-order in a "Helper" class for the same result.

The reason I don't suspect the duplication of components is

[2022-03-21 09:40] Xlcghs opened #10096 "Duplicate : Degradation of the reading of a 50 fps stream between 2.12 and 2.16"
Hello,

This topic is a duplicate of the ticket https://github.com/google/ExoPlayer/issues/10032  that was closed. (I can't reopen the  https://github.com/google/ExoPlayer/issues/10032 ticket.)

I will close it as soon as the other one is open.

Thank you

BR,

[2022-03-21 11:19] icbaker commented on #10080
Does the issue reproduce in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html)?

[2022-03-21 11:39] icbaker commented on #10081
It's probably easier to discuss the behaviour of various `Player.getXXX` methods (in order to separate this issue from ExoPlayer's UI components, which I don't think are directly relevant to your question).

This section of the dev guide explains how the various position/duration numbers are reported for adaptive (e.g. HLS) live streams: https://exoplayer.dev/live-streaming.html#detecting-and-moni

[2022-03-21 11:39] #10081 closed, assigned to icbaker

[2022-03-21 11:50] icbaker commented on #10092
Are you asking us to build a UI like the one that you've screenshotted into `StyledPlayerView`? I think we're unlikely to do that, because I suspect most non-power users will be quite confused by being able to select multiple video tracks (of course we understand that what they're doing is selecting the tracks that the player is then allowed to switch between).

`StyledPlayerView` is designed to s

[2022-03-21 11:50] #10092 closed, assigned to icbaker

[2022-03-21 12:01] icbaker commented on #10093
`TrackSelection.Factory` and was renamed to `ExoTrackSelection.Factory` in https://github.com/google/ExoPlayer/commit/ec437350543fa43763b7ba74e0b43ec37a1ee224 which is included in version 2.13.0.

---

`buildUponParameters()` only exists on `DefaultTrackSelector` and not `TrackSelector`, so you should be able to fix this by changing your local to type `DefaultTrackSelector`:

[code]

[2022-03-21 12:01] #10093 closed, assigned to icbaker

[2022-03-21 12:12] icbaker commented on #10095
This doesn't look like an ExoPlayer issue, the crash is coming from deep within the platform and the [`Context.getSystemService(String)`](https://developer.android.com/reference/android/content/Context#getSystemService(java.lang.String)) method is clearly documented that:
1. [`Context.AUDIO_SERVICE`](https://developer.android.com/reference/android/content/Context#AUDIO_SERVICE) is a valid value to

[2022-03-21 12:12] #10095 closed, assigned to icbaker

[2022-03-21 12:13] icbaker commented on #10096
Duplicate of https://github.com/google/ExoPlayer/issues/10032

[2022-03-21 12:13] #10096 closed, assigned to icbaker

[2022-03-21 12:30] wazerstar commented on #10080
Yes to some degree, its not the entire picture but some of it being effected when using the demo

[2022-03-21 12:32] Stinger2198 commented on #10083
Hi!

[2022-03-21 12:32] Stinger2198 commented on #10083
This is my link for stream video - https://cdn.brid.tv/live/partners/7343/hd/443852.mp4

[2022-03-21 13:03] wazerstar commented on #10094
I think I got it reprodcued in exoplayer demo app..

First channel goes black infinity

[code]

Second channel goes green and then shows picture

[code]

[2022-03-21 13:36] krackjack234 commented on #10070
hi @icbaker  any thoughts on how we can ensure that the player is making the license call as soon as it parses the manifest and does not wait for the initial segments to download?

[2022-03-21 13:48] vyagrah commented on #10081
@icbaker I am new with exoplayer.

In my app **I am not using seeking feature** provided by exoplayer.

I noticed when I play normal stream `onTimelineChanged `called only one time, but with HLS streams it is called again and agian. I also noticed that `exo_position `gives same value as `player.getDuration()`.

I think if I can stop seeking feature on HLS stream `onTimelineChanged ` will not be ca

[2022-03-21 15:34] christosts commented on #10094
Can you please more detailed information so we can try to reproduce too? We have an [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) describing the information we need (link to content, device, os version, bugreport, etc).

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, plea

[2022-03-21 20:58] DavidFair commented on #10062
So I've reproduced it on a completely different make and model of TV (hence the delay):
Android version: 9
Android device: JVC LT-40CA890

Content: https://drive.google.com/file/d/1B67k_9rDGUIBgNPdFp2vSlJ_hiRMsfJC/view?usp=sharing
(I'm simply hosting with an Nginx docker instance locally: `docker run -p 8080:80 -v /tmp/repro.mkv:/usr/share/nginx/html/repro.mkv:ro nginx && adb shell am start -a com

[2022-03-21 21:37] xCatG opened #10097 "HLS: Is Multivariant Playlist loading sequentially by design?"
Hello, I have question about loading multivarant HLS playlist. We currently provide 5 different streams (1 audio, 4 video at different bit rates) served from different hosts, and when observing the loading in a profiler we can see the behavior of
- `ParsingLoadable` loads the master playlist (determined by inspecting the url)
- followed by loading audio track (since it's listed as the first sub pl

[2022-03-21 23:34] wazerstar commented on #10094
I have now sent an email [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com) with m3u file to test with

[2022-03-22 06:23] sdzshn3 opened #10098 "Source Error after using Network Inspector"
Android Studio Bumblebee | 2021.1.1 Patch 2
Build #AI-211.7628.21.2111.8193401, built on February 17, 2022
Runtime version: 11.0.11+9-b60-7590822 amd64
VM: OpenJDK 64-Bit Server VM by Oracle Corporation
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 3072M
Cores: 8
Registry: external.system.auto.import.disabled=true, ide.instant.shutdown=false
Non-Bundled Plugins: dev.polek.adbw

[2022-03-22 07:15] palvaibhav89 commented on #5313
@AquilesCanta Is there any hope to get this fixed?

[2022-03-22 08:34] vyagrah opened #10099 "How can we stop seeking feature of exoplayer when it is not required?"
In my app I have no use of seeking feature provided by exoplayer library.
(not using seekTo(), seeBack(), seekForward(), seekToNext(), ... meathods)

Is there any way to stop seeking?
Does doing that improve performance of our player?

[2022-03-22 10:13] icbaker commented on #10098
This is a duplicate of https://github.com/google/ExoPlayer/issues/9979 and the root cause is a bug in Android Studio: https://issuetracker.google.com/219572925

[2022-03-22 10:13] #10098 closed, assigned to icbaker

[2022-03-22 10:15] icbaker commented on #10099
The obvious answer seems to be: just don't call those methods?

I assume this is related to https://github.com/google/ExoPlayer/issues/10081 but I'm not quite clear on the exact details.

Could you please provide complete information to enable us to understand your question. We have a template for questions: https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md

[2022-03-22 10:24] ojw28 commented on #10090
Have you tried our demo app, and does the issue reproduce there?

[2022-03-22 10:26] #10043 closed, assigned to ojw28

[2022-03-22 10:42] AquilesCanta commented on #5313
Christos, from my comment above:

[2022-03-22 14:43] FangWW opened #10100 "Add InputStreamDataSource"
Does exoplayer have a byte stream accumulation playback API？

for example：
AudioTrack.write(@NonNull byte[] audioData, int offsetInBytes, int sizeInBytes)

[2022-03-22 14:49] vyagrah commented on #10099
That is true. It is related to #10081 . I don't understand which information you needed more.

As I said at #10081 , I noticed when I play normal stream `onTimelineChanged `called only one time, but with HLS streams it is called again and agian. I also noticed that exo_position gives same value as `player.getDuration()`.
(I am playing radio streams, some of which are HLS and some are NON HLS.)

I

[2022-03-22 15:04] Programmingtimes opened #10101 "translate a google document kotlin code to java"
can some one tell me how to write this kotlin code in java. https://medium.com/agile-freaks/exoplayer-pinch-to-zoom-functionality-bae397471c37
`Let’s start by defining a custom ScaleGestureListener
[code]
[code]
i would happy if someone help me in converting these codes to java as i dont know kotlin

[2022-03-22 17:08] krackjack234 opened #10102 "Video decoder is released when app is pushed to background"
Question
=======

We are seeing one issue with exoplayer v2.1.4.1 where exoplayer is playing audio but with black video for few secs when the app is brought to foreground from background

Steps
===

1. Start playing a video
2. Push app to background. App calls exoplayer api to pause player. It does not release the player
3. Bring app to foreground. App calls exoplayer api to play

Actual result: P

[2022-03-22 17:10] icbaker commented on #10070
I don't see the same behaviour in the demo app when playing the `Widevine DASH (MP4, H264) > HD (cenc)` sample. I see the following (I added the logging to the `open()` method of `DefaultHttpDataSource` (used for DRM requests) and `CronetDataSource` (used for content).

With no `BandwidthMeter` customization:

[code]

With the `BandwidthMeter` customized with an `initialBitrateEstimate = 100_000`:

[2022-03-22 17:12] icbaker commented on #10021
I cannot access it, the file is access restricted on Google Drive and I do not have access.

If you're unable to reproduce on non-Samsung devices then yes, I think it makes sense to report it to Samsung.

[2022-03-22 17:49] krackjack234 commented on #10070
Hi @icbaker  thanks for the response.

Apologies if the posts are not clear.

Our goal was to start mpd+widevine playback as soon as possible using exoplayer 2.14.1

As per the logs that we collected, we found that the time taken from DrmSessionAquired event to DrmKeysLoaded event is ~800ms-1200ms for our streams (1131ms as per the log below). This was the reason we saw a delay between the first f

[2022-03-22 18:07] krackjack234 commented on #10069
Closing this issue as its tracked as part of #10070

[2022-03-22 18:07] #10069 closed, assigned to icbaker

[2022-03-22 18:08] wazerstar opened #10103 "Cannot play mpg streams UnrecognizedInputFormatException"
Testing with

- ExoPlayer r2.17.1
- Android 11
- Nvidia Shield / Android Studio - Exoplayer demo app

[code]

Will sent further information to test with to email [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com) when this ticket has been created.

[2022-03-22 18:13] wazerstar commented on #10103
I have now sent an email [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com) with m3u file to test with

[2022-03-23 01:04] #7695 closed, assigned to andrewlewis, tonihei

[2022-03-23 01:33] jeonghyun-genesislab commented on #10021
exo dev
dev.exoplayer@gmail.com

Users can access Drive files and you have already added access to them.

What is still questionable
All other Samsung devices except OS 12 are fine.

I will put off the manufacturer issue first and ask one more question.

Currently I am using two ExoPlayers in my app.

There is a screen that shows the thumbnail image in view pager format and a screen that plays the

[2022-03-23 03:02] daniel-tapas opened #10104 "ANR during ExoPlayer build()"
- ExoPlayer version number
`2.16.0`
- Android version
11 ~ 12
- Android device
samsung, vivo

I receive report from Firebase crashlytics.
I called `ExoPlayerBuilder#build()` in `Fragment#onViewCreated()`.
How to fix it?
Thank you.

[code]

[2022-03-23 04:27] GouravSna opened #10105 "Contd.. Closed Change Media with TextTracks on ExoPlayer v2.17.0 and v2.17.1"
https://github.com/google/ExoPlayer/issues/10055 issue was closed hence opened a new one for the continuation.

Hi @ojw28 ,

I tried your suggestion to clear the overrides before loading the another media. However, I can see that `TrackSelectionParameters` does not have any overrides before loading the another media but still for the next media, I can see the same issue where the default track is

[2022-03-23 05:25] SaurabhOfficial opened #10106 "RoleFlag score calculation for RoleFlag == 0"
When filing a question:
-------------------------

Describe your question in detail.

I saw that exact matches are preferred only in case roleFlags are not equal to 0 in the defaultTrackSelector. 0 is treated as no preference in terms of roleFlags
[code]

but what if preferredRoleFlag as 0 is a preference that the user has registered? and wants all tracks without any roleFlags only.

I ran into th

[2022-03-23 05:29] #10101 closed, assigned to nobody

[2022-03-23 05:30] Programmingtimes commented on #10101
i have got another idea

[2022-03-23 07:15] vyagrah commented on #10081
I looked at this issue:
https://github.com/google/ExoPlayer/issues/2118#issuecomment-263536694
It says that to add support of seeking in DASH and SmoothStreaming, getCurrentPosition returns wrong values for HLS streams. :(

His code is working but only with those HLS streams which start playing from 00:00.
like this:
https://lmil.pc.cdn.bitgravity.com/lmil/live/aajtak_150k/chunklist_ao.m3u8

But c

[2022-03-23 07:17] krackjack234 commented on #10070
@icbaker  We checked exoplayer logs from 2.14.1 vanilla app with drm test urls (Widevine DASH (policy tests) - > HW secure crypto) present in the app

[code]
We see it took more than 1second from DrmSessionAquired (44:088) to DrmKeysLoaded (45:326). The license network call took ~400ms

![Screen Shot 2022-03-23 at 2 59 31 PM](https://user-images.githubusercontent.com/50735078/159699796-5cb87d01-25

[2022-03-23 07:29] CasperNiels commented on #8435
I hope this one hasn't been abandoned, to me the main benefit of ASS over basic SRT subtitles is the positioning, so I guess Margin L, R, V should be a priority.

[2022-03-23 07:40] palvaibhav89 commented on #5313
@christosts Hi, Do you need any info or data?

[2022-03-23 08:22] fixel99 commented on #8435
+1 to still really needing/wanting support for this

[2022-03-23 09:44] snachmsm opened #10107 "Support for bare RTP with H264"
I'm a bit lost with ExoPlayer support for bare RTP with H264. According to [DOC](https://exoplayer.dev/rtsp.html) there is a support for RTP/UDP with SDP, according to [THIS](https://github.com/google/ExoPlayer/issues/9104) issue - it's not... I've decided to give this player a try

So my SDP looks like below

[code]

There is a required `fmtp` field, profile/level/sps/pps are real ones, not hardc

[2022-03-23 17:57] shriyaapptware opened #10108 "Audio overlay on video with MergingMediaSource, controls not working after merging media source."
[code]
Previous code is pointing to   player.setMediaItems(mediaItems, /* resetPosition= */ !haveStartPosition);
but bound to use  player.addMediaSource(mergedSource); to merge the audio file over the video. DO we have other way to achieve this.

[2022-03-23 18:04] shriyaapptware commented on #10108
Seekbar and other controls like forward button, backward button, and subtitle buttons got disabled.

[2022-03-24 04:37] tuesda opened #10109 "How should I handle time consuming work in AudioProcessor.queueInput()?"
I customize a AudioProcessor for implementing loud norm feature. which invoke ffmpeg loudnorm audio filter with jni interface.
But ffmpeg filter take much time to run, which could block AudioTrack playing the audio. Is there any methods for it? Could I put `AudioProcessor.queueInput` and `AudioTrack` in different threads for playing smoothly?

[2022-03-24 06:31] tuesda commented on #10109
Sorry I make a mistake. `AudioTrack.write()` is not blocking. close this issue.

[2022-03-24 06:31] #10109 closed, assigned to nobody

[2022-03-24 09:16] danielgliga3ss commented on #9993
Any news on this issue?

[2022-03-24 11:03] claincly commented on #10107
We don't support side loading SDP at the moment, so yes, opening a SDP file (either local or remote) is not supported.

Can you explain why you need to side load this SDP? If you already can produce an RTP stream, it's likely you can get RTSP support with it.

[2022-03-24 12:04] MolchanovDmitry opened #10110 "HLS timeout"
How to specify timeout to load HLS manifest with ExoPlayer?

HLS manifest loading ignore option

[code]
applies only to tracks/chunks loading.

[2022-03-24 12:32] kaychyka17 commented on #10084
@NG-Gaurav can you please share your code how do you download HLS video? I already asked for help in issue #9583 but didn't get any useful answer. I try to download it but for some reason I get to small file.

[2022-03-24 13:24] ojw28 commented on #10106
I think that the track without the audio description role flag should be selected in this case. As you note, the role flag match score will evaluate to the same value for both tracks. However in that case the tracks are further compared, and part of that further comparison is to prefer tracks that don't have any role flags over those that do:

https://github.com/google/ExoPlayer/blob/r2.17.1/libra

[2022-03-24 13:26] ojw28 commented on #10105
Closing as a duplicate.

[2022-03-24 13:26] #10105 closed, assigned to ojw28

[2022-03-24 13:36] ojw28 commented on #10055
It's quite hard for us to help with this in an efficient way, because we don't have clear reproduction steps short of trying to reconstruct your code snippets inside of our own application. In order for us to help efficiently, I'd suggest you write a small patch to our demo app that allows the problem to be reproduced, and upload it so we can take a look.

[2022-03-24 13:39] ojw28 commented on #10083
I was not able to reproduce the issue with either of the videos, and neither seem to correspond to the video for which you initially reported the problem. Please could you double check. If you're sure one of these videos reproduces the issue, please:

1. Specify which one we should use (we don't need two)
2. Let us know what duration the UI is displaying, and at what duration playback actually fin

[2022-03-24 13:40] ojw28 commented on #10042
I don't think there's anything actionable for us here. Closing for now, but please let us know if you discover something. We'll also keep an eye out for other similar issues.

[2022-03-24 13:40] #10042 closed, assigned to ojw28

[2022-03-24 14:30] snachmsm commented on #10107
Well, looks like RTSP isn't an option in MCVideo ([3GPP TS 26.281](https://www.etsi.org/deliver/etsi_ts/126200_126299/126281/14.00.00_60/ts_126281v140000p.pdf)). I'm working on similar-based project (critical communication) and in future it will migrate to this standard, but for now I'm just using pure RTP with own custom control (instead of RTCP required by MCVideo). I just don't want to use prot

[2022-03-24 15:19] dino-saurabh commented on #10106
Got it, was using 2.16 for this media, will try it once with 2.17.1 👍🏼

@ojw28 I got one more question, why is that 0 has been excluded explicitly in the checks where we prefer exact matches over everything else? are there any caveats of doing so?

[2022-03-24 15:27] Stinger2198 commented on #10083
Hi @ojw28
1. I leave one video link - https://cdn.brid.tv/live/partners/7343/hd/443852.mp4
2. Playing finished 04:53/03:45
3. I am using ExoPlayer version 2.17.0
![Screenshot 2022-03-24 172721](https://user-images.githubusercontent.com/30195609/159951639-4f617490-b624-45a4-944a-162150061ec2.png)
0

[2022-03-24 15:29] Stinger2198 commented on #10083
I am tested on browser - working fine, but on fire stick i have this trouble.

[2022-03-24 16:11] ojw28 commented on #10106
The details of track selection are pretty subtle. There are a lot of parameters and interactions between them, as well as edge cases that need to be handled slightly differently. As a possibly relevant example, consider two tracks where one has no role flag and one has `ROLE_FLAG_MAIN`, and that the application doesn't specify a preference for any role flags. It's probably not right to prefer the

[2022-03-24 16:11] #10106 closed, assigned to ojw28

[2022-03-24 16:12] ojw28 commented on #10106
Closing this for now because I _think_ 2.17 probably behaves as you expect. Please do let us know if that's not the case though, with some media that we can use to reproduce. Thanks!

[2022-03-24 16:36] dino-saurabh commented on #10106
Sure will do Thanks !

[2022-03-24 16:55] dino-saurabh commented on #10106
One more question 👀, what about the scenario where the player is currently playing the Main track and the user wants to switch to the no-role flag track (just making this up, not really sure if there will be a scenario where both main and no-role flag tracks will be available for a single language), won't it be a bit buggy behavior not to switch the tracks even if the user explicitly told us to do

[2022-03-24 17:00] dino-saurabh commented on #10106
All 4 tests fail on the TextTrack Selection, Nothing fails related to the AudioTracks I am assuming hopefully, it's safe to do so on the AudioTrackScore 😅

[2022-03-24 17:06] ojw28 commented on #10106
I'm not really sure that _explicitly_ selecting "no role flags" makes a lot of sense as a use case. It's kind of like selecting "the undefined thing". Maybe track selection overrides would be a better way of doing that.

That aside, there are so many hypothetical cases in track selection that I think it probably makes sense to defer giving cases like this too much thought, until we see concrete ex

[2022-03-24 17:45] NG-Gaurav commented on #10084
Actual i was adding subtitles list with media item. so after removing it video download working fine now.

[2022-03-24 17:52] christosts commented on #9994
Apologies for the late response, I assume the issue can be closed.

[2022-03-24 17:52] #9994 closed, assigned to christosts

[2022-03-24 17:58] #10084 closed, assigned to ojw28

[2022-03-24 18:32] claincly commented on #10107
I don't think I fully understand. It seems you want to cross reference VLC behaviour with another player? In that case I wouldn't suggest spend too much time hacking ExoPlayer to support sideloading SDP. And if VLC plays with glitches, it's likely there's something wrong with the streaming server.

[2022-03-24 23:50] snachmsm commented on #10107
I want to stream to my public server side and during this stream some other client may request a copy of this data. So there might be multiple receivers in fact (separated ports used), but each user may be in one state only: Preview, Streamer or Receiver (so handles at most 1 stream at once). This works, but I'm occuring glitches like on screen.

I've noticed that every way of video quality verifi

[2022-03-25 01:04] #10004 closed, assigned to christosts

[2022-03-25 09:18] generlist opened #10111 "Do you provide #EXT-X-I-FRAMES-ONLY thumbnail preview function in HLS stream?"
Hello ~
I know HLS Play can provide preview thumbnails of The #EXT-X-I-FRAMES-ONLY playback.
Does exoPlayer currently support implementable functions for this tag?
When I asked a question a few years ago, I said that it was not supported, so I am asking again.

[2022-03-25 14:18] narasimharao11 opened #10112 "Getting Issue while selecting Lower Bitrate after updating the player to 2.17.1"
Hi Team,
We have recently updated the exoplayer version from 2.11.2 to 2.17.1. After updating the player we are facing issue with lower bitrate streams in track selection. We reproduced the issue in the demo app and attached the logs and complete bug report to it.

Steps to reproduce:
1. Open the demo application.
2. Select any hls content.
3. click on lowest bitrate available.

**Logs:**
[code]

[2022-03-25 14:32] christosts commented on #9993
I've been able to repro with the demo app (v2.17.1). We've seen issues with tunneling and being paused in the past. Probably, this is a duplicate of #5397. Such issues are coming from the layer's underneath the player. I'll check if there's an easy workaround we can do (or suggest) at the player level, but so far we have avoided to add workarounds (see conversation on #5397) and there is a high ch

[2022-03-25 14:56] doublex opened #10113 "Muted HE-AAC via HLS"
Playing audio HE-AAC v1, `mp4a.40.5`, AOT==5:

Works in ISO container, example: https://framespot.com/stuff/master.mp4
Fails in HLS container, example: https://framespot.com/stuff/master.m3u8

Video and audio tracks of both files should be binary identical - just different container.
Tested on: Android 7 and Android 11 (via `react-native-video`)

[2022-03-25 16:06] christosts commented on #9993
Update: Previous issues have pointed at AudioTrack advancing its position although the player is paused, so I quickly attempted to `pause()` the AudioTrack instance created after the track change, and also not flushing the old AudioTrack instance. Both of these do not fix the issue. At the moment, this appears to be a behavior the player cannot control.

I'm afraid my only advice is to avoid using

[2022-03-25 16:06] #9993 closed, assigned to christosts

[2022-03-25 16:08] christosts commented on #10019
We added documentation how to enable asynchronous buffer queueing on the customization pages of the player's website (will appear on the next release). Closing this issue.

[2022-03-25 16:08] #10019 closed, assigned to christosts

[2022-03-25 16:21] christosts commented on #9995
There is an issue when audio PTSed are ahead of audio, I'm marking this an enhancement , but unfortunately this is not something we have time to work in the near future.

In your solution, is your video in-sync with audio?

[2022-03-25 16:40] christosts commented on #9998
Apologies for the late response. I can repro with the demo app (r2.17.1) on a TV with Playready support.

@icbaker do you know if there is an issue with decrypting MP4 files directly (the content is not DASH nor HLS)?
@andrewlewis any thoughts on the FragmentedMp4Extractor?

[edit]
Stack trace error with 2.17.1
[code]

[2022-03-25 16:57] christosts commented on #10002
Just to confirm:

This is supported. The [demo app](https://exoplayer.dev/demo-application.html) for example demonstrates how to select specific audio tracks or none. There is documentation on [Track selection](https://exoplayer.dev/track-selection.html) too. Is there something that is not covered for your app needs?

[2022-03-25 17:20] claincly commented on #10107
Thanks for providing the context.

I doubt if ExoPlayer RTSP will ever support side loading RTP though - it requires some structural change.

I'll close this for now, please re-open if there are further questions.

[2022-03-25 17:20] #10107 closed, assigned to claincly

[2022-03-25 18:14] icbaker commented on #9998
The stack trace points to a problem with the fMP4 container, which is parsed before anything is passed to the PlayReady CDM for decryption.

Without analysing the files in detail I would suspect that the reason you only see the problem with the encrypted file is because the preparation process is creating an invalid fMP4 file.

The exception is happening when mdat atoms overlap:
https://github.com

[2022-03-25 18:56] christosts commented on #10065
I can verify the problem. I'll try to get a fix in next week.

Note to self: The loading thread is blocked on TimestampAdjuster.sharedInitializeOrWait() because the first HlsMediaChunk loaded is not a master timestamp source. In 2.16.1 on the other hand, the first chunk loaded is a master timestamp source. I need to check if a load re-ordering has happened between 2.16.1 and 2.17.1.

[2022-03-25 19:35] tpuserhp commented on #10065
Thanks for the issue investigation and the update!!!

[2022-03-27 09:26] DeepikaSharma5 commented on #8473
@ojw28 When are you going to give a solution for this?

[2022-03-27 18:35] GlebPBanuba commented on #9966
Hello!
What updates on this issue?

[2022-03-27 22:11] chladto1 opened #10114 "MediaDrm.KeyStatus.STATUS_PENDING"
We are trying to implement a case when we have stream secured by more DRM licenses and each has different requirements. Could you please help us? We do not know how to simulate `MediaDrm.KeyStatus.STATUS_PENDING`, so we have a few questions. What the status means? How we shout handle it if the content depends on it? Thanks

[2022-03-28 00:59] OxygenCobalt opened #10115 "Should a custom `AudioProcessor` implementation handle all possible encodings?"
I'm implementing my own `AudioProcessor` tailored to my app's uses in particular. I intend to provide this implementation to `MediaCodecAudioRenderer` and `LibflacAudioRenderer` when the `Player` instance is created.. However, after reading library implementations like [ResamplingAudioProcessor](https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/library/core/src/main

[2022-03-28 07:49] avidraghav opened #10116 "Bytes loaded inside onLoadCancelled() after attaching analyticsListener are not added to the total bytes calculated by onLoadStarted(), onLoadCompleted() and onLoadError() given that the media continues to play"
### ExoPlayer Version

2.14.0

### Devices that reproduce the issue

Samsung Galaxy A7 running Android 10 and other Android Devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

I wanted to get network bytes consumed while streaming videos with Exoplayer and I got my answer after finding this issue
https://github.com/go

[2022-03-28 08:00] danielgliga3ss commented on #9993
Thank you @christosts
We will check again with Technicolor.

[2022-03-28 08:45] CySlider commented on #9995
Initially all is in sync with this fix, yes, but we are facing lip sync issues that we do not yet understand after multiple hours of playback.

Until recently those were solved by switching but now we get reports that this issue even survives switching. We are still investigating this. But as a disclaimer, we have CC error issues and this could be a cause for the lipsync issues we face. It somewha

[2022-03-28 08:59] yin-haoran opened #10117 "keep incorrect scale last frame while set new video source"
PlayerView is RESIZE_MODE_ZOOM. when set new video source, last frame will become original ratio. Any ideas? thanks.

[2022-03-28 09:44] marcbaechinger commented on #10111
I think issue #8938 describes the current state.

If you have a stream with iframe only tracks then it is best to try out whether your stream is working. The referenced issue explains in more details how you can do this.

I'm closing this issue as a duplicate.

[2022-03-28 09:44] #10111 closed, assigned to marcbaechinger

[2022-03-28 09:56] marcbaechinger commented on #10112
The stack trace tells that there is a HTTP 403, so the player does not have access to this resource.

If you test out without obfuscation then you can find out yourself whether this is caused when loading media or playlist and talk to the system administrator of the server whether they can help you identify the failing resources.

I'm closing this issue as from the player perspective a 403 can not

[2022-03-28 09:56] #10112 closed, assigned to marcbaechinger

[2022-03-28 11:41] Xlcghs commented on #10032
Do you have any news please?
Can you guide me to solve this problem?

Thank you.

[2022-03-28 11:43] #8602 closed, assigned to christosts

[2022-03-28 12:32] yhg94 opened #10118 "Bugs while trying the switchTargetView method multiple times"
An error occurs when the switchTargetView method is called 20-40 times in a situation where there are 2 or multiple playerviews.
I want SwitchTargetView method executes without error no matter how many times I try.
The error log is attached.

[code]

The way I tried is to add the following inside the codecNeedsSetOutputSurfaceWorkaround method of the
MediaCodecVideoRenderer class:
[code]

As a res

[2022-03-28 13:06] yukihiro-m-play opened #10119 "Dash stream with BaseURL element after Period element fails to play"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

* Pixel3a running Android12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1.Play the attached media in the demo app.
A media is clear dash video include BaseUrl tag.

### Expected result

The media play successfully.

### Actual result

Playback failed

[2022-03-28 14:59] iAbanoubSamir commented on #3626
Anyone find a way to add DLNA?

[2022-03-28 15:28] MolchanovDmitry opened #10120 "Differentiate a manifest loading error from a track loading error"
When I'm throwing 404 error on hls manifest loading via fiddler:
`https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8`

I got:
1. one callback onTimelineChanged
2. null manifest
3. Error:
[code]

When I'm throwing 404 error on all of the tracks via fiddler:
[code]
1. one callback onTimelineChanged
2. null manifest
3. Error:
[code]

How to differe

[2022-03-28 15:58] icbaker commented on #10114
The [javadoc](https://developer.android.com/reference/android/media/MediaDrm.KeyStatus#STATUS_PENDING) says:

From that it seems clear that you should just wait for another invocation of your key status update listener?

[2022-03-28 16:16] marcbaechinger commented on #10119
I think the DASH spec defines a sequence of the elements that defines the order of the child elements as well. This would mean that the `BaseURL` element should appear before the `Period` element.

So as per title of your issue I think the issue is that the `BaseURL` in your manifest appears after the `Period` element.

Can you confirm it works when you put the `BaseURL` in the manifest according

[2022-03-28 17:31] christosts commented on #10065
The symptom seems to be related with **HLS chunkless preparation** which is enabled by default in the 2.17 release. To quickly fix the problem in 2.17, you may instantiate the player with an HLS media source that has chunkless preparation disabled:

[code]

I still need to check if there is a bug in chunkless preparation or this playlist is incompatible with the feature. I'll update this issue acc

[2022-03-28 19:08] tpuserhp commented on #10065
Thank you support for providing the quick fix which works very  well .  My app is now running release 2.17 with no problem from that playlist.  Much appreciated!!

[2022-03-28 20:30] marcbaechinger commented on #10120
I don't think you can differentiate load errors of master playlist and track playlist from the playback error.

I don't know what you are trying to achieve, but if it's about load errors you may want to look into the `LoadErrorHandingPolicy` or the `DefaultLoaderrorHandlingPolicy`. In case of a load error you can decide how to proceed, but also it [gives you more information about the load error](

[2022-03-28 20:36] marcbaechinger commented on #10120
Addendum: `AnalyticsListener.onLoadError` probably delivers the same information in an easier way than the `LoadErrorHandlingPolicy` if you only need the information about the load error and you don't want to change the load error handling policy behaviour. You can just add you `AnalyticsListener` and override the  method `onLoadCanceled(EventTime eventTime, LoadEventInfo loadEventInfo, MediaLoadD

[2022-03-28 20:43] marcbaechinger commented on #10116
I'm not sure the expectation is correct that the bytes reported by `onLoadCancelled` should be added somewhere. As far as I understand a load is started (`onLoadStarted`) and then it either is completed, cancelled or it fails. In each of these cases there is a callback like `onLoadCompleted`, `onLoadCanceled` or `onLoadError` that is called.

I think this [corresponds to the comment](https://githu

[2022-03-28 21:19] szaboa commented on #8435
No promises as have very limited time, but I'll try to look into the Margin L, R, V thingy on the weekend.

[2022-03-29 04:45] sadaqatdev opened #10122 "Duplicate class com.google.android.exoplayer2.ui.DownloadNotificationHelper found in modules jetified-exoplayer-core-2.17.0-runtime (com.google.android.exoplayer:exoplayer-core:2.17.0) and jetified-exoplayer-ui-2.15.1-runtime (com.google.android.exoplayer:exoplayer-ui:2.15.1)"
Duplicate class com.google.android.exoplayer2.ui.DownloadNotificationHelper found in modules jetified-exoplayer-core-2.17.0-runtime (com.google.android.exoplayer:exoplayer-core:2.17.0) and jetified-exoplayer-ui-2.15.1-runtime (com.google.android.exoplayer:exoplayer-ui:2.15.1)

[2022-03-29 07:26] krackjack234 commented on #10102
hi @christosts  any update on this?

[2022-03-29 08:15] avidraghav commented on #10116
Thanks for the reply, My doubt is, the media is streaming perfectly when bytes are being loaded through `onLoadCancelled()`.
The bytes are being loaded, the media is being played then why these bytes are not added to the bytes as calculated in `onLoadStarted(`), `onLoadCompleted(`)?

Some videos in my project are being played with `onLoadStarted()` being called followed by `onLoadCompleted()` thin

[2022-03-29 08:25] feikai2012 opened #10123 "MediaCodecVideoRenderer error video/avc, avc1.640033"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

vivo Y66L running Android 6.0.1

### Devices that do not reproduce the issue

mi 9 running android 11

### Reproducible in the demo app?

Yes

### Reproduction steps

Exoplayer Demo App for  build withDecoderExtensions Release

### Expected result

The media plays successfully

### Actual result
[code]
### Media

http://jhcache3.

[2022-03-29 08:45] feikai2012 commented on #10123
NoSupport [sizeAndRate.support, 3840x2160x-1.0] [OMX.google.h264.decoder, video/avc] [PD1621, vivo Y66, vivo, 23]

[2022-03-29 08:54] icbaker commented on #10122
From the error message it looks like you're depending (either directly or transitively) on `exoplayer-core-2.17.0` and `exoplayer-ui-2.15.1`, i.e. two different versions.

From the [README](https://github.com/google/ExoPlayer/blob/release-v2/README.md#1-add-exoplayer-module-dependencies):

If you want to dig into where these dependencies are coming from in your project you use Gradle's `dependenci