[2021-08-31 15:24] marcbaechinger commented on #9364
This error is thrown if the player requested the media playlist several times and the server responded with the same playlist for [`3.5 x targetDuration`](https://github.com/google/ExoPlayer/blob/r2.13.0/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/playlist/DefaultHlsPlaylistTracker.java#L714). The target duration of your stream is 11 seconds, so this means that the server re

[2021-08-31 15:27] marcbaechinger commented on #9351
Thanks!

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #9351", where "#9351" should be replaced with your

[2021-08-31 15:53] marcbaechinger commented on #8945
There is no way to do that out of the box I'm afraid.

I'm assuming you are using the `DownloadService` for downloading. So you have subclassed the `DownloadService` and implemented the `getDownloadManager()` method. The `DownloadManager` has a `addListener` method that allows you to register a listener that gets its `onDownloadsPausedChanged(DownloadManager downloadManager, boolean downloadsPause

[2021-08-31 16:03] #9303 closed, assigned to marcbaechinger

[2021-08-31 16:14] claincly commented on #9346
ExoPlayer should be able to play the URI. Could you try playing the RTSP link with our demo app? Just change any of the URIs in

https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/demos/main/src/main/assets/media.exolist.json

to your URI, and run the demo app.

My initial guess: have you set

[code]

in your `AndroidManifest.xml`?

[2021-08-31 16:18] kim-vde commented on #9349
The FLAC decoder seems to be missing some information (for example the min and max frame size) for some reason. This could be caused by the [stream info block](https://xiph.org/flac/format.html#metadata_block_streaminfo) being invalid.

Can you provide an example file that produces the issue? If you're unable to share a test content publicly, please send it to dev.exoplayer@gmail.com using subject

[2021-08-31 16:44] kim-vde commented on #9354
I am afraid I don't have sufficient information to help. It all depends on how you implemented your app. Is there an easy way to reproduce?

Can you also explain why you think this issue is ExoPlayer specific?

[2021-08-31 17:44] kim-vde commented on #9361
I tried to reproduce on a TV with a Chromecast using our [cast demo app](https://github.com/google/ExoPlayer/tree/r2.15.0/demos/cast) but I couldn't. The video plays for me (it is not rotated though). I have tried other videos and observed the same behaviour.

Can you try to reproduce with our demo app and, if you manage to do so, explain how you did exactly (for example, where to put line `Settin

[2021-08-31 18:07] icbaker commented on #9332
The video file provided has an invalid `colr` box. Its size is reported as 18 bytes, but it has `color_type=nclx` which, according to section 8.5.2.2 of ISO/IEC 14496-12:2012(E) means the expected box size is 19 bytes (8 bytes for size & type, then 11 bytes for the `colr` box content).

The 162 in the stack trace comes from the ancestor `stsd` box which has a size of 162 bytes.

The `nclc` box def

[2021-08-31 19:24] ArcherEmiya05 opened #9365 "Does IMA SDK depends on Google Play Services?"
ExoPlayer Core does not depend on Google Play Services, however we would like to know if IMA SDK does?

[2021-08-31 21:04] jrw95 opened #9366 "compileSdkVersion, targetSdkVersion and ExoPlayer Support for Android 11"
Hello,

I'm wondering if you could provide some details on ExoPlayer support for Android 11.

I looked through the release notes and see that there is a note for 2.11.0 that indicates support for Android 10 (setting the `compileSdkVersion` to 29). I couldn't find a note that indicated support for Android 11, however the `compileSdkVersion` has been set to 30 since r2.13.0, and the `targetSdkVersio

[2021-08-31 21:15] SAPierce2006 opened #9367 "Video Corruption Showing on FireTVs"
We have a production issue where our users started complaining about certain videos playing artifacted / corrupted on FireTVs, which is the primary device our customers use. Example videos are at the bottom.

* We're using h.264 High Profile Level 4 for our encoding.
* Not all videos are effected. Only certain videos in their video loop are impacted. Once a video is affected, it seems to stay affe

[2021-08-31 21:18] SreeniMannem commented on #9346
Yes @claincly, i have set `<uses-permission android:name="android.permission.INTERNET"/> ` permission in the `AndroidManifest.xml` file.

Somehow we are able to resolve the `ExoPlayerImplInternal: Caused by: java.net.ConnectException: failed to connect to /192.168.0.26 (port 5540) from /:: (port 46404): connect failed: ECONNREFUSED (Connection refused)`

BTW, i have cloned and run this code and pr

[2021-08-31 22:13] davidjmorin commented on #9232
I have the same issue on all videos that are h.265
Plays fine when first watching, then on next episode it is zoomed in and wrong aspect ratio.  Go back to home and chromecast restarts.

This is running through a Denon AVR

[2021-08-31 23:04] ojw28 commented on #9366
r2.14.2 should be fine. The `targetSdkVersion` was 28 for that release, but it was being held there due to a compatibility issue between Android Studio / Robolectric / Java 9. See [this line](https://github.com/google/ExoPlayer/blob/r2.14.2/constants.gradle#L20), which was referencing [this issue](https://issuetracker.google.com/issues/143232359). That issue had nothing to do with actual compatibi

[2021-08-31 23:04] #9366 closed, assigned to ojw28

[2021-08-31 23:35] 13steinj commented on #8435
@Weevild ASS isn't fully supported on Plex for android, ironically, because ExoPlayer doesn't support ASS yet, and Plex devs don't want to go through the effort themselves. It's actually quite silly because they could transcode the ASS subtitles to a different format rather than the entire video, but don't. Even when this issue is resolved on ExoPlayer's end it'll take some time for Plex to pull i

[2021-09-01 01:14] TuanGiang commented on #9361
--> cast demo app has error on my Chromecast TV. Here is error message: Failed to get Cast context, Try updating Google play services and restart the app. So I use demo-app (https://github.com/google/ExoPlayer/tree/r2.15.0/demos/main).

--> I add source code and apk for rotation feature (only rotation). Apk file name: rotation-debug.apk
[TvRotation.zip](https://github.com/google/ExoPlayer/files/70

[2021-09-01 01:30] ghost commented on #9330
@icbaker hi
i use this library to play video in my application: https://github.com/HamidrezaAmz/MagicalExoPlayer, it extended from your lib, and i have an issue is sometime my app crash when i tap to play video
this is my firebase log:
[code]

In my programmatically, i have calls `startPlayer()` in `onStart()` callback and `pausePlayer()` in `onStop()`
`andExoPlayerView.startPlayer()` `andExoPlaye

[2021-09-01 03:00] gemiren commented on #9364
Thanks very much for looking into the issue. It happens to me all the time. I'm using Exoplayer version 2.11.8.

[2021-09-01 03:03] Empressia commented on #9349
All the original music files that cause the problem cannot be provided because they are paid music files.
It has also not been successful in creating other files to reproduce.

----

### Additional information:

* After this problem occurs, a quick tap on the play/pause button in PlayerControlView 3-5 times seems to play normally.

* The problem also occurred with exoplayer 2.15.0.

[2021-09-01 03:15] Empressia opened #9368 "Suddenly jumps to the last position (flac file)."
### Summary

I have two silent FLAC files of about 20 seconds.
File.A : track number 1. file size 16,846 bytes.
File.B : track number 2. file size 16,846 bytes.
The other metadata is the same.

When I play File B, the exo_position TextView of PlayerControlView suddenly appears as "00:20".
File A can be played normally.

* Do I need a special way to play Flac files?

I can provide the two files in

[2021-09-01 05:58] waqasyousafy commented on #9354
Thank you for reply @kim-vde . I also have used it in another project's  activity . With same video sample when we press home button and then come back it shows black screen . If you think  that sample video can help you , I am sharing it with you now . this happens in just in lollipop version devices. I have tested in oppoA37f .

https://user-images.githubusercontent.com/22340353/131622821-587ab1

[2021-09-01 05:58] #9354 closed, assigned to kim-vde

[2021-09-01 06:49] ursurya commented on #9358
Hi Team,
Mailed our Stream URL and License URL  to dev.exoplayer@gmail.com with Subject "Issue 9358"
Thanks,

[2021-09-01 06:59] svyatoslavpavlov commented on #7831
We have same problem with radio app for android auto.
AAC streams works correct but HLS-stream shows notification after pause and clearing.

[2021-09-01 07:24] brozikcz commented on #771
Hi guys, I probably have one issue with multiple baseURL in the downloads / offline feature.
What URL is used to download chunks when the DASH playlist contains multiple URLs? Because when I try to play the downloaded content so the playback randomly doesn't work because
[code]
 randomly select URL but just one Is downloaded / cached.

 Or I'm overlooking something?

[2021-09-01 07:44] gemiren commented on #9364
Tried with the latest 2.15.0 version. It still always stops at 29 seconds.

[2021-09-01 07:47] liulei9385 commented on #9332
I don’t know what conversion was done to this video, because it's upload from other mobile phones

[2021-09-01 08:09] ojw28 commented on #9365
From [this thread](https://groups.google.com/g/ima-sdk/c/u2cSTqia8kA/m/bWpP3ueSBQAJ):

[2021-09-01 08:09] #9365 closed, assigned to ojw28

[2021-09-01 08:09] perracodex opened #9369 "Check if an error is caused by a Renderer"
In version 2.15.0 the **onPlayerError** signature has changed from:

`public void onPlayerError(ExoPlaybackException error)`

to:

`public void onPlayerError(PlaybackException error)`

With the older signature we could check if the error was caused by a renderer by querying the error type:

`if (error.type == ExoPlaybackException.TYPE_RENDERER)`

How can now be checked with **PlaybackException**?

[2021-09-01 08:13] #9341 closed, assigned to ojw28

[2021-09-01 08:14] Weevild commented on #8435
Not a shocker there, but one could only wish. I switched to emby because they support virtually every format that Plex doesn't (subtitle-wise), but to have native support would just be a relief knowing my media is supported regardless.

I think emby even does this too, guess they've got their hands full on that free content.

[2021-09-01 08:15] ojw28 commented on #9307
To clarify, have you solved this on your side by handling `NETWORK_TYPE_UNKNOWN` as an initial state? If so then I'll go ahead and close this (and the associated pull request). I'll keep the internal bug [Internal ref: b/190021699] open to possibly revisit the behavior.

[2021-09-01 08:29] brozikcz commented on #9307
Yes, I have a workaround in our implementation.

[2021-09-01 08:29] #9307 closed, assigned to ojw28

[2021-09-01 09:32] marcbaechinger commented on #9364
If your playlist has 3 segments each with a duration of 11 seconds and you say it stops after 29 seconds than the player gets probably the same playlist for each request.

Are you sure these requests from the player arrive at the server?

Can you check whether you have caching enabled which makes the `CacheDataSource` return the same playlist each time? If that's not the case can you try a differe

[2021-09-01 09:40] androaddict commented on #9340
@icbaker @christosts Any update one this ?

[2021-09-01 09:41] andrewlewis commented on #9362
Jcenter is being sunset but the last update said they'd continue serving packages (read-only): https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/ So I think this should be working using Jcenter.

I wonder if this is a temporary outage as all the `dl.bintray.com` artifact links I've been able to find are returning 'Forbidden!'. We have an internal tracking bug to repub

[2021-09-01 09:55] marcbaechinger opened #9370 "Make choice of BaseURL deterministic for downloaded DASH content"
When a DASH manifest has multiple base URLs that are load-balanced, the player randomly selects a base URL from a set of alternatives. When downloading a stream with such a manifest the `DashDownloader` always just chooses the first base URL from the list of available base URLs without a random selection.

However, when the same DASH manifest is being played with the player, the base URL is random

[2021-09-01 09:56] marcbaechinger commented on #771
Thanks for reporting. I created #9370 to track this. We need to have a way to make the choice of the base URL deterministic at download and playback time.

[2021-09-01 10:24] icbaker commented on #9330
This looks like a bug in `com.potyvideo.library.AndExoPlayerView`. It is [unconditionally calling `ExoPlaybackException#getSourceException`](https://github.com/HamidrezaAmz/MagicalExoPlayer/blob/17e1c70d118d4e5bff686ea19b7127c595fb4a89/library/src/main/java/com/potyvideo/library/AndExoPlayerView.kt#L113) without first checking if `ExoPlaybackException#type == TYPE_SOURCE`:

From the [ExoPlaybackEx

[2021-09-01 10:24] #9330 closed, assigned to icbaker

[2021-09-01 10:41] androaddict opened #9371 "Player Seekbar Time vs Video Time"
I have a simple Application with Exoplayer, Its a loaded with Live Streaming. My URL is https://cph-p2p-msl.akamaized.net/hls/live/2000341/test/master.m3u8

If I run the above URL in my player means, **Seekbar** never move up 2:00 Mints. So in this case I try to get **currentPosition** of the player it always same ways. Because it loaded again and again in between 2:00 mints.

so, If I want to get

[2021-09-01 10:41] ArcherEmiya05 commented on #9365
Then it is **optional/recommended** but **not required**, thanks you just give me the link of my old question 😄 which I can no longer find thus I ask it here again.

[2021-09-01 10:49] yoobi opened #9372 "Getting 403 response on downloaded media"
- ExoPlayer version number: 1.14.2
- Android version: Mostly Android 8, 9, 10 and 11
- Android device: 54% of samsung,  10% LGE and more

Hello, im my application user can download the media, I'm using DownloadService from your example to download the media (there are hls file) and then I read it though `DownloadHelper.createMediaSource(downloadRequest, dataSourceFactory)` from time to time I get

[2021-09-01 10:52] olgunkaya commented on #9362
Thanks Andrew. Unfortunately I am having the same response "Forbidden!" for me too. Obviously the readonly story by jcenter is seen just on paper. It would be great to have older releases, but can not determine your priorities. Just praying for the earliest to happen :)

[2021-09-01 10:53] ag2s20150909 commented on #9372
maybe you should set some http headers

[2021-09-01 10:55] yoobi commented on #9372
Could you develop a bit ?

[2021-09-01 10:58] ag2s20150909 commented on #9362
Use aliyun's mirror maven

maven {
      url 'https://maven.aliyun.com/repository/jcenter/'
    }

[2021-09-01 11:17] andrewlewis commented on #9362
We generally don't recommend using alternative repositories so I am going to hide the previous message (and this one).

[2021-09-01 11:28] ag2s20150909 opened #9373 "Support seeking in fragmented MP4s with multiple sidx boxes"
https://wiwi.video/videos/overview
https://video.ploud.jp/videos/overview
Some Peertube site video link end with ```fragmented.mp4```,Exoplayer can't play it correctly.

[code]

LOG:
[code]

[2021-09-01 11:29] icbaker commented on #9332
Since this is the only example we've seen so far of a file broken in this way I'm going to close this as working-as-intended.

If we see a significant number of files that are invalid in the same way then we'll consider adding a workaround to ExoPlayer to handle this broken-ness more gracefully, but until then we're going to stick to implementing the spec as it's defined.

[2021-09-01 11:41] andrewlewis commented on #9362
I just tried depending on 2.11.4 and it worked fine. The AAR was downloaded from `https://jcenter.bintray.com/com/google/android/exoplayer/exoplayer/2.11.4/exoplayer-2.11.4.aar`. How did you produce the URL from the original post?

[2021-09-01 11:46] icbaker commented on #9103
You could try using our VP9 extension to play these files. It won't work out of the box, as it's configured to only support VP9, but the underlying VPX library is capable of decoding VP8. I haven't tried this, and it may not work, but if you'd like to give it a go then I suggest you try roughly the following:
1. Modify `generate_libvpx_android_configs.sh` to remove `--disable-vp8` from this line:

[2021-09-01 11:50] icbaker commented on #9344
@andrewlewis can you take a look and see if there are any alternative approaches here that I've missed?

[2021-09-01 11:54] Pentaphon commented on #9103
I've notified the developer of an app whose users have been seeing this issue very often. Perhaps your suggestion will bear fruit on his end if he decides to give it a go.

[2021-09-01 12:10] olgunkaya commented on #9362
I tried the same way you did. I also tried with explanation given here https://mvnrepository.com/artifact/com.google.android.exoplayer/exoplayer/2.11.4

I can say I tried almost everything.

ftw, just now I got it working too.

[2021-09-01 12:10] #9362 closed, assigned to andrewlewis

[2021-09-01 12:21] AquilesCanta commented on #9369
The simple answer is: Use

[code]

But the better answer is use `error.errorCode` which provides a finer grained description of what the issue is.

[2021-09-01 12:21] #9369 closed, assigned to AquilesCanta

[2021-09-01 12:29] perracodex commented on #9369
Thank you for the answer.
I checked all the possible codes available for **error.errorCode**, but couldn't find any to be the equivalent for **TYPE_RENDERER**,
Should I assume that for all "renderer" errors the only solution would be as in your answer?

[2021-09-01 12:35] AquilesCanta commented on #9369
There is no equivalent of TYPE_RENDERER because knowing that an error happened in the renderer is deemed not useful. It just tells you it happened in the renderer. The cause could be a DRM issue, an AudioTrack issue, a decoder issue, or even something else. So knowing the type is not really a significant usecase. It would be more meaningful to know what you do if the error is of TYPE_RENDERER.

[2021-09-01 13:03] gemiren commented on #9364
You nailed it! I do have cache enabled. The m3u8 playlist continues to play once I turn off the caching.

Now, the question is how can I make the m3u8 playlist continue to play but still enable the caching? Is that possible?

[2021-09-01 13:50] marcbaechinger commented on #9364
That's a good question indeed, but I don't have a really good answer.

Basically I wonder what you want to achieve with caching with a live stream.

The only thing that comes to mind is that you want to cache the media segments so in case the user seeks backwards the segments can be read from the cache. I doubt a bit that this is worth the effort for live streams, but it's not on me to judge this.

[2021-09-01 14:45] marcbaechinger commented on #9372
You are receiving an HTTP 403 which means that the server refused to authorize the request.

You need to provide the authentication credentials that allows to request the resource. That's the same thing you are doing when playing back directly.

It's unclear what authentication the server expects, but it may be some HTTP request headers that you need to set like suggested above.

It's not much wha

[2021-09-01 14:54] yoobi commented on #9372
Yes but I don't get which parts needs internet since it is a downloaded media and is supposed to be available offline.

Maybe I have not explained clearly, I'm getting HTTP 403 on a downloaded media, I don't understand why internet is needed to view a media that is already on the phone.

[2021-09-01 15:05] marcbaechinger commented on #9372
The stack trace is coming out of a `ParsingLoadable.load` method.

I assume this is an HLS stream and the player tries to download a media playlist that is not cached. A common case when this can happen is that when the HLS stream has multiple renditions (for instance resolutions) and the adaptive playback chooses a a different rendition for playback than for download (see [DevGuide](https://exopl

[2021-09-01 15:13] marcbaechinger commented on #9371
I'm not sure what time is displayed in Mark1. I assume it's a wall clock time of the current position in a unusual format. So 11 would be the hour of the day of 11:16am.

I think the `Timeline.Window` has some properties than can help you calculating what you need:
[code]

You can find more details in the [JavaDoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.Window.h

[2021-09-01 15:22] claincly commented on #9346
There are two things here -

1. The player should be able to play your stream **without** sound. We currently don't have an RTP reader that handles G711 audio. But since we do have a H264 reader, the video should play.
2. The fail case is in your RTSP PLAY response's `Rtp-Info` header: `url=192.168.0.13/trackID=0;seq=1;rtptime=10000`. RTSP spec mandates the url field to be a URL, where yours is mi

[2021-09-01 15:23] claincly commented on #9345
Please track the issue using #9346. I am closing this for the time being.

[2021-09-01 15:23] #9345 closed, assigned to claincly

[2021-09-01 15:30] icbaker commented on #9348
Is this token passed to the license server as an HTTP request header?

You can control what headers are sent with the license & provision requests with [`HttpMediaDrmCallback#setKeyRequestProperty`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/HttpMediaDrmCallback.html#setKeyRequestProperty(java.lang.String,java.lang.String)). It should work to hold a reference to the `Htt

[2021-09-01 15:45] icbaker commented on #9360
Thanks for the clear & easy to follow repro steps.

I tried the provided app on both a Pixel 5 and a OnePlus AC2003 and wasn't able to reproduce the audio-only behaviour you see when playing the Widevine DASH (MP4, H264) > HD (cenc) sample. I observed audio and video in both video panes.

* Do you see the 'situation 2' behaviour on all the devices you've tried?
* What devices are those?
* Can you

[2021-09-01 15:52] qutub11 opened #9374 "exoplayer for kodi available ?"
how to install exoplayer in kodi ?

[2021-09-01 15:57] icbaker commented on #9358
Thanks for the media & license URL - I don't think you provided an ad tag URL though? So I don't think I can reproduce the exact setup you're seeing.

The logcat snippet provided and the behaviour described look like a possible duplicate of #8696 - but I'd like to see some more log output to confirm. I'm specifically looking for lines like this:
[code]

If you see those lines logged when you see t

[2021-09-01 16:00] claincly commented on #9284
Hello @jeffwconaway, I cannot see the email you sent, please maybe check if the address is correct?

And also please add the "needs triage" label after you send it, thanks!

[2021-09-01 16:01] claincly commented on #9259
I'm closing this as we don't have work planned for supporting MPEG2-TS atm, please feel free to open again.

[2021-09-01 16:01] #9259 closed, assigned to claincly

[2021-09-01 16:26] silvestr-palianchuk-dev opened #9375 "Midroll ads sometimes blocks the player and skips the ads"
FF-ing through the midroll ads sometimes blocks the player and skips the ads.

Tested on:
**Device:** Fire TV (Fire OS 5.2.7.8)
**ExoPlayer versions:** 2.14.0, 2.15.0

[code]

**How to reproduce:**
- Start playback
- FF until the midroll ad marker is reached
- do not discontinue the FF process yourself, but wait for it to stop on its own

**Expected result:**
The playback is stopped when midroll a

[2021-09-01 16:26] icbaker commented on #9094
I've done a bit more digging - I think the sample at the start of each of your segments (which contains an IDR frame) is missing the VPS/SPS/PPS NAL units. This data must either prefix **every** IDR frame (in the same sample) or be provided as initialization data (e.g. in an MP4 `hvcC` box). Your stream doesn't seem to provide this data in an initialization box, so we're expecting to see it prefix

[2021-09-01 16:56] kim-vde commented on #9278
I tried to play the stream provided in the first comment but it seems malformed. ExoPlayer fails to play it because the PES packets have an unexpected start code prefix. ffplay also fails to play the file.

I get an error when trying to open the links to Stream1 and Stream2 saying that the pages are potentially unsafe. Please share content using another way.

Could you clarify what you mean by "un

[2021-09-01 17:11] icbaker commented on #9334
Closing as I think the question has been answered.

[2021-09-01 17:11] #9334 closed, assigned to icbaker

[2021-09-01 17:12] kim-vde commented on #9363
Can you clarify exactly what you mean by "when the currently rendered bitrate changes"? Do you mean "when the current media file changes and it has a different average bitrate than the previous one"? Or "when the compressed bitrate of the video frame being renderered changes"? Or anything else?

[2021-09-01 17:26] marklynk commented on #9363
Basically we want to know when the player switches to a different rendition due to network bandwidth change and when it does, what is the bitrate of the video being rendered

[2021-09-01 17:52] javaboboApp commented on #9348
Thanks for the answer:
I am using   .**setDrmLicenseRequestHeaders**(requestHeader) and updating token before building each MediaItem, the token is passed in the header I just I am wondering if if possible that during playing the content (once playback has the license) it could request a new license, during playback, If this the case I guess i will have to customize as you propose  **HttpMediaDrmC

[2021-09-01 18:10] kim-vde commented on #9367
The error could have multiple sources:
- A bug in the decoder of the FireTV. Have you tried to play the problematic contents on other devices? If it works, then this might be the problem.
- The input stream that is invalid. Does the same content plays on other players (like VLC or ffplay for instance)? Do you see codec errors or warning in the logs indicating that the content is invalid?
- There i

[2021-09-01 19:55] kim-vde commented on #9368
Please provide the 2 FLAC files so that I can try to reproduce. If you're unable to share  test content publicly, please send it to dev.exoplayer@gmail.com using subject #9368. Please also update this issue to indicate you've done this.

[2021-09-01 20:20] kim-vde commented on #9373
I tried to play the URLs you provided on our [demo app](https://github.com/google/ExoPlayer/tree/r2.15.0/demos/main) and they play correctly for me. Can you try to play them with this app (you will need to add the URLs to [media.exolist.json](https://github.com/google/ExoPlayer/blob/r2.15.0/demos/main/src/main/assets/media.exolist.json))?

When you say that ExoPlayer can't play them correctly, wha

[2021-09-01 20:25] albino1 commented on #8435
@sixones what's needed from [szaboa's list](https://github.com/google/ExoPlayer/issues/8435#issuecomment-762449001) to get this working well enough to merge ASS support into Plex on Android devices?  If there's some obvious priority thing I think it would be beneficial for a lot of people if it gets tackled first.

[2021-09-01 20:33] kim-vde commented on #9374
I am not sure I understand the question. It sounds like this is might be a question for the Kodi team. If not, can you please provide more details?

[2021-09-01 20:46] SAPierce2006 commented on #9367
@kim-vde Thanks for responding!

The content plays fine on all devices, including the FireTVs that that it messes up on, but seemingly out of nowhere the device will start showing this error on a single video in a video loop of 8-15 videos, and the corruption will be there EVERY time the video plays.

It plays fine locally on other FireTVs and other AndroidTVs. It plays locally correctly on our co

[2021-09-01 21:10] kim-vde commented on #9375
I tried to reproduce the issue on our [demo app](https://github.com/google/ExoPlayer/tree/r2.15.0/demos/main) (content "IMA sample ad tags" > "VMAP pre-, mid- and post-rolls, single ads") but I couldn't. Could you try to reproduce on this app by adding your content to [media.exolist.json](https://github.com/google/ExoPlayer/blob/r2.15.0/demos/main/src/main/assets/media.exolist.json), and provide u

[2021-09-01 21:38] sixones commented on #8435
@albino1 Probably not the right place for this, but Plex on Android does support ASS subtitles without the styling already (be sure to set your subtitle burn option to only image formats). We are working on full ASS support with positioning, styling and animations at the moment. If we transcode them into another subtitle format they would end up being the same as the basic level of support which w

[2021-09-01 22:58] SreeniMannem commented on #9346
Hi @claincly, thanks for your tremendous support.
**Scenario 1**
i have removed the line **uri.getScheme() == null // Checks if the URI is a URL**
https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspTrackTiming.java#L89

After removing this, strange again new issue arrived.

Logs for reference:

[2021-09-01 23:55] gemiren commented on #9364
I'll disable the cache. Thanks very much for your help!

[2021-09-01 23:55] #9364 closed, assigned to marcbaechinger

[2021-09-02 01:04] #9260 closed, assigned to andrewlewis

[2021-09-02 01:11] albino1 commented on #8435
Thanks for the reply, makes perfect sense.  Appreciate everything you do!

[2021-09-02 02:34] TimchenKKBOX commented on #9360
Hi @icbaker ,
Thank your quick reply, I will provide the result of bugreport later with more testing devices.

Here are two devices and os versions we meet the problem

Device           | OS  |
--------------|:-----:|
AQUOS sense3 SHV45    | Android 9 |
Xperia 10 II(SOV43)    | Android 11 |

[2021-09-02 03:02] ag2s20150909 commented on #9373
The video will continue to skip to the next segment.

![test](https://user-images.githubusercontent.com/19373730/131844602-177d0700-9c45-4dbd-a84c-1850cc3bf592.png)

https://user-images.githubusercontent.com/19373730/131776035-f2a77f35-04a9-41f6-a715-197a85469f30.mp4

[2021-09-02 05:45] IamArmaan commented on #9227
Hi @christosts , have you checked this issue ? Please look into it.

[2021-09-02 07:43] icbaker commented on #9348
The DRM stack may refresh the license during playback, yes - the precise behaviour here likely depends on your license policy.

[2021-09-02 07:54] javaboboApp commented on #9348
@icbaker Ok clear, thanks very much for information :)

[2021-09-02 08:56] kim-vde commented on #9349
I am afraid it’s difficult to help you if we don’t have the content. Here are a few things that I would try if I were you:
- As I said in my previous comment, the audio decoder is complaining about some missing information from the FLAC stream info block so I would try to see if this box is present in the file and if it looks valid. You can for example use command `hexdump -C <file> | less` to ins

[2021-09-02 09:00] kim-vde commented on #9350
Thanks for reporting this. I just pushed the fix!

[2021-09-02 09:00] #9350 closed, assigned to kim-vde

[2021-09-02 09:03] claincly commented on #9346
Can you use scenario 1 and comment out line 511-519 of RtspMediaPeriod and see if it plays?

[2021-09-02 09:08] yoobi commented on #9372
Ok so here is my code:

[code]

And the Log I get is `E/DownloadRequest: [0.0.1]` `E/DownloadedMediaSource: [0.0.1]`
Is there something I'm missing? Could it be because of `setTrackSelector` ?

[2021-09-02 10:10] icbaker commented on #9360
Thanks for the bugreport. I had a look but I can't spot anything suspicious. Comparing to the log output I see on my Pixel 5 where video works in both panes. I also tried it in an emulated Pixel 2 running Android P (since your BR seems to be running a version of Android based on P), where it also worked:
* In all cases I see two DRM sessions being opened:
   * `WVCdm   : [cdm_engine.cpp(148):OpenS

[2021-09-02 10:12] Empressia commented on #9349
Thank you for the comment.

I'd like to try from what I can do.

I try this. It played successfully.
The following is the log.
("X" is a character for masks.)

[code]

I reset the player items and start to play the flac file, the problem probably occur 100%.
(I think the fact that I thought it wasn't 100% was because the following cases were mixed during the trial.)

Yes, buffering starts and play

[2021-09-02 10:14] Empressia commented on #9368
I sent it by e-mail. I have sent it twice, but it may have failed once.

[2021-09-02 10:50] TimchenKKBOX commented on #9360
We had tested on Pixel 5, it does not have the "Situation 2", and then compare the log between Pixel 5 and SHV45, but still did not find a hint or clue about the video black problem

After reviewed and traced codes, the renders are working well, it seems that one video render can not output to a dedicated surface.

[code]

[2021-09-02 10:53] #9348 closed, assigned to icbaker

[2021-09-02 10:55] Empressia commented on #9349
I erased the cover image and made it one, but the problem did not change.

[2021-09-02 11:16] waqasyousafy opened #9376 "Black screen appear on some videos when pause and resume the activity ."
I also have used it in another project's  activity . With same video sample when we press home button and then come back it shows black screen . If you think  that sample video can help you , I am sharing it with you now . this happens in just in lollipop version devices. I have tested in oppoA37f .

https://user-images.githubusercontent.com/22340353/131622821-587ab18a-a363-4c10-a0d7-a2b647db897d.

[2021-09-02 11:47] Empressia commented on #9349
I checked the first bytes of the file (I checked it using a binary editor.).

[code]

I don't know how to use demo apps and extensions, so it may take some time.

[2021-09-02 12:59] Empressia commented on #9349
how do i play flac file with content scheme on demo app...?

[2021-09-02 13:53] cdowless opened #9377 "Intercepting Controls / Detecting Transition at End of Playlist"
In my application, the player should move to another playlist once the last media item of the current playlist finishes playing / is skipped. There are two cases for this:

- On last media item in playlist, press Skip Next; then go to playlist A
- On last media item in playlist, auto-transition; then go to playlist A

Since Skip Next is disabled by default when the current media item is the last i

[2021-09-02 14:29] kim-vde commented on #9359
In your case, the extractor always extracts the samples in order of their byte offset. The reason it only extracts sample `m2_1` at the end is that, if it wasn’t doing that, it would need to reload the source multiple times, which is generally a time-consuming operation (for example, it can translate into opening a new network connection). Indeed, the extractor would need to
- Jump forward in the

[2021-09-02 14:44] kim-vde commented on #9349
You can just add the following sample to [media.exolist.json](https://github.com/google/ExoPlayer/blob/r2.15.0/demos/main/src/main/assets/media.exolist.json):
[code]

The issue you are having could also been related to a workaround we have in `MediaCodecUtil.java`:
https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/library/core/src/main/java/com/google/android/exopla

[2021-09-02 15:20] #9151 closed, assigned to claincly

[2021-09-02 15:27] #55 closed

[2021-09-02 15:32] shilangyu opened #9378 "DownloadRequest.toMediaItem always discards keySetId"
### Problem

The method is defined as follows:

https://github.com/google/ExoPlayer/blob/0ba317b1337eaa789f05dd6c5241246478a3d1e5/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadRequest.java#L225-L234

However, `MediaItem.Builder` constructs the `MediaItem` in the following way:

https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/library/comm

[2021-09-02 15:37] claincly commented on #9166
Hello @sachin-nextbase, sorry for the delayed response, have you solved the issue? Are you seeing the same behaviour in ExoPlayer v2.15?

[2021-09-02 16:11] jeonghyun-genesislab commented on #9177
Hello.

I am writing this post because I have a question about this issue.

I recently updated exoPlayer version to 2.15.0.

Fortunately, the video plays fine with no buffering.

Did you solve that issue?

[2021-09-02 16:22] kim-vde commented on #9361
Thank you for the extra information. I tried to reproduce on multiple devices but still couldn't:
- TV emulator (running Android 10): no green screen, rotation applied
- Chromecast/Pixel/Samsung phone (running Android 10): no green screen, no rotation applied.

Are you seeing this issue only on your Google TV, or on other devices as well (e.g. other TVs, phones, emulators ...)? Can you give us mor

[2021-09-02 17:02] SreeniMannem commented on #9346
Hi @claincly, We are able to see live video in player by commenting the line 511-519 of RtspMediaPeriod code.

All this happens after customizing the ExoPlayer library App.

I have included **ExoPlayerLib/2.15.0** in my App and it is not working. So to make it work like this in my App, do i need to make this as library and include in my App or do i need to make changes in the existing calling APIs

[2021-09-02 17:23] icbaker commented on #9361
I can reproduce the issue on a Chromecast with Google TV by modifying the demo app and enabling the permission as described in the in the original comment. I put this at the top of `PlayerActivity#onCreate()`:
[code]

Clear content plays sideways successfully, widevine encrypted content shows a green screen.

[2021-09-02 17:25] kim-vde commented on #9368
Thanks. Both files seem to play normally for me. Could you try playing them on our [demo app](https://github.com/google/ExoPlayer/tree/r2.15.0/demos/main) to see if you see the error there as well? You will need to add your media files to [media.exolist.json](https://github.com/google/ExoPlayer/blob/r2.15.0/demos/main/src/main/assets/media.exolist.json).

What happens then? Does playback ends dire

[2021-09-02 17:31] icbaker commented on #9361
A simpler way to repro is just to install the unmodified demo app and run the following in a terminal with adb connection to the chromecast:
[code]

Screen goes green

[code]

Video comes back

Screen is also green with 2 (upside down) and 3 (sideways the other way)

[2021-09-02 17:38] claincly commented on #9346
Sorry I don't understand, if you get it work, it's good then. I'm not sure about the part of "include in my app"?

I think what you mean is how can you keep using the latest version of ExoPlayer and still keep this change?

As an aside, we will be rolling out a patch to support this.

[2021-09-02 17:58] Samrobbo commented on #9177
There's not been anything specific to this issue investigated/fixed, but there's a good chance an engineer spotted the problem independently and fixed it. I'll close this, and feel free to create a new issue if you see the problem again.

[2021-09-02 17:58] #9177 closed, assigned to Samrobbo

[2021-09-02 18:01] stevemayhew commented on #9347
@marcbaechinger I've got the fix for this, writing up a pull request now.  I have the code change, just want to add test cases too.

[2021-09-02 18:18] kim-vde commented on #9373
Seeking in fragmented MP4 files with multiple `sidx` boxes is not currently supported in ExoPlayer. I will mark this issue as an enhancement. You can find more information in [this doc](https://docs.google.com/document/d/1NUheADYlqIVVPT8Ch5UbV8DJHLDoxMoOD_L8mvU8tTM).

[2021-09-02 19:19] SAPierce2006 commented on #9367
I was able to reproduce it locally just now. The static was on one video, and then it couldn't be reproduced again, by me rewinding to the previous video. I was plugged in and was able to capture the logs. The FireTV LogCat is small, and I wasn't able to get the beginning of the logs I don't think.

I also took logs from the same FireTV when it's playing a video correctly, and there are no errors,

[2021-09-02 21:16] SreeniMannem commented on #9346
_"include in my app"_ - means we have developed an app to stream RTSP and we are trying to use ExoPlayer in this to stream RTSP.

_"I think what you mean is how can you keep using the latest version of ExoPlayer and still keep this change?"_ - YES, you are correct. I wanted to check if there is a way to use latest ExoPlayer libraries and keep this change, so the stream works.

It's great to hear t

[2021-09-02 21:33] artroman opened #9379 "IllegalArgumentException on RSTP stream from ip-cam because of trailing space in RtpMap"
Exoplayer can't show stream from ip camera because of RtpMap header with trailing space. I don't know if it is a camera's firmware bug or it was made intentionally, but no change in camera settings removes that trailing space. Some players (e.g VLC) plays this steam correctly. I'm still using an ExoPlayer fork with RTSP support (before is was added to official repo), and nothing of them has such b

[2021-09-03 00:10] BrettyWhite opened #9381 "Debugging ERROR_CODE_IO_UNSPECIFIED"
Hello,

I am using version 2.15.0 and getting an `ERROR_CODE_IO_UNSPECIFIED` from a random mix of my users.

The stacktrace is as follows:
[code]

Some context: I am rotating through 2 instances of `SimpleExoPlayer` in an attempt to make a short sound loop longer. Not sure if that has anything to do with this error.

The media source is loaded  as follows:

[code]

   The players are instantiated

[2021-09-03 03:37] Empressia commented on #9349
i modify

[code]

to

[code]

and apply to my application.

Then the problem no longer occurs.

thank you.

[2021-09-03 03:42] Empressia commented on #9368
If repeat mode is enabled, it will immediately return to the beginning and play.
If repeat mode is disabled, the number of seconds is counted up. Like 00:20 -> 00:21 -> 00:22 ... .

------

This issue has been solved with the following changes.
https://github.com/google/ExoPlayer/issues/9349#issuecomment-912229412

[2021-09-03 04:25] ursurya commented on #9358
HI icbaker,
Thanks for your quick reply. We tried the solution mentioned above and it didn't worked.  We are also getting the err -22 like you mentioned above.Below are the details of Error Log, Ad tag and devices in which we are facing this issue

Devices:
OnePlus Nord Ac2001
Oppo RMX3242
Realme CPH2061

AdTag :
https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule

[2021-09-03 05:15] DipLimbani opened #9382 "Question about dynamically editing HLS streams"
How to changing m3u8 file dynamically during runtime means is it possible to edit .m3u8 file  runtime in exoplayer The scenario is as follows: lets say i have multiple .ts files ready to play in a sequence, for example 1.ts , 2.ts , 3.ts etc...  Now during run time, i want to change the order to 1.ts , 3.ts and only then 2.ts

[2021-09-03 05:37] Programmingtimes opened #9383 "how to play video exoplayer like youtube."
I have created an app called movie app, here i use exoplayer to play movies. when i click the play button it directly plays in the landscape but i would like it to play both in landscape and portrait-like youtube. wherein landscape we will see the only video in full screen when the user turns to portrait user can see details like movie description , similar movies  including video play in portait

[2021-09-03 05:41] Programmingtimes opened #9384 "How to play set of videos after pressing next"
i would like  to play set of video like episode and it should play automatically after ep 1 get over is it possible

[2021-09-03 05:45] yuantang opened #9385 "ExoPlayer sometimes returns negative duration for an mp3 file"
ExoPlayer sometimes returns negative duration for an mp3 file

[2021-09-03 08:25] icbaker commented on #9358
Thanks for the ad tag, I can reproduce the problem in the ExoPlayer demo app on a OnePlus AC2003.

With `MediaItem.Builder#setDrmSessionForClearPeriods(false)` I see the failure when transitioning from content into the first mid-roll ad.

With `MediaItem.Builder#setDrmSessionForClearPeriods(true)` I see the failure at the end of the pre-roll ad when transitioning into content.

I suspect (haven't

[2021-09-03 08:27] icbaker commented on #9358
Duplicate of #8696

[2021-09-03 08:27] #9358 closed, assigned to icbaker

[2021-09-03 08:40] claincly commented on #9346
We don't have a rigid timeline for this, but I suspect it'll be out soon.

I would think forking ExoPlayer will be the easiest option. And since this is more of a git-usage issue rather than an ExoPlayer issue, I'll close it for now. Feel free to re-open if you have further questions!

[2021-09-03 08:40] #9346 closed, assigned to claincly

[2021-09-03 08:48] ag2s20150909 commented on #9383
playerView.setControllerOnFullScreenModeChangedListener(this::requestFull);

https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerView.java#L943

[2021-09-03 09:23] kim-vde commented on #9376
Note: this bug is a continuation of #9354.

Can you try to reproduce on our [demo app](https://github.com/google/ExoPlayer/tree/r2.15.0/demos/main)?

You said the issue is only present in Lollipop. Have you tried on lower and higher API levels? Was the issue not present then?

[2021-09-03 09:43] waqasyousafy commented on #9376
That was closed so I have no choice to further discuss it . So , I have tested on other devices not reproduced . I have tested video it shows black screen for short time and then time is increasing on black.

https://user-images.githubusercontent.com/22340353/131990376-cf41db2e-1b10-4796-ab0e-d081b9e4d1b4.mp4

[2021-09-03 09:44] kim-vde commented on #9377
Which version of ExoPlayer are you using?

On the latest version, you could try to:
- Wrap your player in a [`ForwardingPlayer`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ForwardingPlayer.html).
- Override `isCommandAvailable` and `getAvailableCommands` so that commands `COMMAND_SEEK_TO_NEXT_WINDOW` and `COMMAND_SEEK_TO_NEXT` are always available. This should enable the nex

[2021-09-03 10:02] marcbaechinger commented on #9384
Sounds like the playlist API is what you want to read about in the DevGuide: https://exoplayer.dev/playlists.html

[2021-09-03 10:06] claincly commented on #9379
Will be patched soon.

[2021-09-03 10:09] Programmingtimes commented on #9384
thanks for the reply. yeah, I have read that. I am new to this android dev. my videos source are also coming from api
https://raw.githubusercontent.com/windowschares/charles/main/1/all_movies.json
json file but they are seperated I dont know how to add them in cluter

[2021-09-03 10:10] Programmingtimes commented on #9383
is this directly code or I am suppose to declare anything in video player activity ?

[2021-09-03 10:17] kim-vde commented on #9381
Can you provide a [bug report]((https://developer.android.com/studio/debug/bug-report)) to see if there is more info in the logs? If you're unable to share bug reports publicly, please send them to dev.exoplayer@gmail.com using subject #9381. Please also update this issue to indicate you've done this.

Ideally you should also provide us with clear reproduction steps. Otherwise it is difficult to d

[2021-09-03 10:28] icbaker commented on #9378
Or should `DownloadRequest` have a `drmUuid` field?

[2021-09-03 10:34] marcbaechinger commented on #9363
Sounds like [`AnalyticsListener.onVideoInputFormatChanged()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/AnalyticsListener.html#onVideoInputFormatChanged(com.google.android.exoplayer2.analytics.AnalyticsListener.EventTime,com.google.android.exoplayer2.Format,com.google.android.exoplayer2.decoder.DecoderReuseEvaluation)) is what you are looking for. The `AnalyticsLi

[2021-09-03 10:40] kim-vde commented on #9383
If my understanding of the question is correct, this is a general Android question and not an ExoPlayer question. You should read [this page](https://developer.android.com/training/multiscreen/screensizes#alternative-layouts).

If this is ExoPlayer specific, please provide more details and explain why you think it is ExoPlayer specific.

[2021-09-03 10:41] kim-vde commented on #9385
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-09-03 10:44] marcbaechinger commented on #9384
You just parse the JSON file and then for each JSON object you create a `MediaItem`:

(untested code to demostrate the approach)

[code]

[2021-09-03 10:45] Programmingtimes commented on #9383
Thanks for the reply. yeah, I think your asking this because of my recent question ?

[2021-09-03 10:49] Programmingtimes commented on #9383
if not. I can explain why this is exoplayer related because, if user rotate screen the exoplayer have to convert to portait mode like youtube android app. as per my guess i dont think thats on android side it must be on exoplayer side. there must be some function to control the screen rotation
exoplayer in portait in youtube
https://cdn.vox-cdn.com/thumbor/A1x0joPH-IL6rs0oiIi95WBC4iA=/1400x1050/fi

[2021-09-03 10:52] Programmingtimes commented on #9384
[code]
this is the code I have in my video player activity where "URL" get the file from JSON

[2021-09-03 11:09] kim-vde commented on #9361
I have reported the issue to the Sabrina team (internal ref: b/198749708). We will keep you updated when they get back to us.

[2021-09-03 11:27] BrettyWhite commented on #9381
Thanks for responding @kim-vde. I am in the process of trying to collect better logs for this. We had never seen this issue when testing internally, and it's popping up randomly across a small sample of testers in a closed beta. I recently released a small update to collect more logs when this happens and will update this/you as soon as they start rolling in.

As a side note, The only time I ever

[2021-09-03 12:11] #9371 closed, assigned to marcbaechinger

[2021-09-03 13:10] marcbaechinger commented on #9384
Yes, instead use

[code]

I think the answer to the question how to play multiple media items in a playlist is answered with the snippet above and the link to the Playlist page in the DevGuide.

I can not give you 1:1 support for developing your app I'm afraid.  I leave this issue open for a while so other can answer your questions.

[2021-09-03 13:36] Programmingtimes commented on #9384
Thank you for answering my query very patiently. no, I dont want one and one support to develop entire app. unfortuantly i have not found the exact direction for how they do have make single exoplayer to play multiple video . and I do my best in try and fix . thankyou for support  marcbaechinger. will workaround with the code and idea that you gave

[2021-09-03 15:26] #9238 closed, assigned to kim-vde

[2021-09-03 17:12] kim-vde commented on #9368
I will close this issue as the problem is already being tracked by #9349.

[2021-09-03 17:12] #9368 closed, assigned to kim-vde

[2021-09-03 17:39] kim-vde commented on #9383
I still think it is Android related. You want a different layout when the user rotates their phone to landscape mode, right? You can do that by following the page I linked above, and then link the ExoPlayer player to the PlayerView/SurfaceView/something else that you will have added to your layouts.

[2021-09-03 18:51] cdowless commented on #9377
I'm on the latest version - will give this a try. Thanks for the help!

I currently have it working with the somewhat hacky "turn on repeat to keep the seek to next command available", but will likely replace with your recommendation as this seems cleaner / more stable.

[2021-09-03 18:51] #9377 closed, assigned to kim-vde

[2021-09-04 06:12] mugika9 commented on #7789
Is it currently possible to properly play vp8/vp9 video that have transparency with libvpx extension? I've try it  but did not work and wondering if the problem lies on my implementation or it just currently not possible.

[2021-09-04 16:36] dantebarba commented on #9232
Same issue but not using AVR. CCwGtv connected to a Samsung TV and a Samsung soundbar via bluetooth. Playing HEVC 1080p 23 fps 1.8 Mpbs, audio MP3 Stereo.

It only happens sometimes using Plex though.

[2021-09-05 00:03] BrettyWhite commented on #9381
Upon further review it seems to be an issue with the caching:

[code]

[code]

[code]

[2021-09-05 00:07] BrettyWhite commented on #9381
Additional context:

I'm trying to pre-cache before instantiating `SimpleExoPlayer` by doing this:

[code]

And then when i create the `SimpleExoPlayer` Instance, i create my media source like this:

[code]

Edit: Additional Info

It seems the users this happens to have slower internet. It happens across Android versions

[2021-09-05 02:30] TuanGiang commented on #9361
@kim-vde, @icbaker thanks you.

[2021-09-05 14:16] Programmingtimes opened #9387 "How to make exoplayer resume to exact position after player released"
I have successfully finished my app. I would like to add continue watching feature. where if a person watching a movie and stopped it at 50:00 Minutes and after some time if they start the app they could able to resume from that position . is it possible to implement that feature using exoplayer. I know we need to store session but  I have not implement login feature so is it possible to store the

[2021-09-06 04:08] VeiZhang opened #9388 "Video can't playback without exception"
When reporting a bug:
-------------------------
**Video can't playback without error exception, and no picture but sometimes audio can work or not.**

[code]

I send u the test by email `dev.exoplayer@gmail.com`

- ExoPlayer version number
2.14.0

- Android version
Android7.1

- Android device
Amlogic905X

[2021-09-06 06:52] okycelt opened #9389 "[Cast] Can live content start playing at live edge when cast session is already active?"
If live playback starts on device (starts correctly at live edge) and then switches to cast, it keeps playing in the correct position (more or less at the live edge). However, if live playback starts when cast session is already active it always starts at 0 (beginning of the live window, not at the live edge).

Is there a way to make live content start playing at the live edge when cast session is

[2021-09-06 08:35] spirgiuz opened #9390 "onPlayerError from 403 when playing HLS event playlist near live on r2.15.0"
Hi,

On release r2.15.0 I've noticed that onPlayerError isn't called when a 403 HTTP error occurs when playing an HLS event playlist near the end. I was using r2.14.2 and r 2.13.3 before and both worked fine, problems started from r2.15.0. I was wondering if there's a new Listener I'm supposed to be using to catch 403 errors in r2.15.0 or is this a bug? To test, I start playback then invalidate th

[2021-09-06 09:19] ojw28 commented on #9387
It should be as simple as querying the player's playback position when playback stops, storing it somewhere, and seeking some new instance of the player to that position when playback is resumed.

How to store a piece of application state sounds like a general Android development question. [This page seems like a good starting point to learn about this](https://developer.android.com/guide/topics/d

[2021-09-06 09:19] #9387 closed, assigned to ojw28

[2021-09-06 09:42] johnquinn-syn opened #9391 "TTML: Captions - Support for style tts:textOutline"
Searching
  https://github.com/google/ExoPlayer/labels/enhancement
and
https://github.com/google/ExoPlayer/pulls
I cannot see "outline" or "textOutline" mentioned.

### TTML: Support for tts:textOutline
The https://exoplayer.dev/dash.html indicates support for ISO/IEC 14496-30 which in turn references https://www.w3.org/TR/ttml1/#style-attribute-textOutline.
This is missing from  TtmlDecoder parse

[2021-09-06 09:58] ojw28 commented on #9378
Adding a `drmUuid` field to `DownloadRequest` (or passing it via `toMediaItem`) is quite a narrow solution to the problem. It's the minimal additional data that we could add so that `MediaItem` builds a usable `DrmConfiguration` internally, but it's not necessarily sufficient. If the use case ever involves potentially having to refresh the DRM keys at playback, then it's also going to be necessary

[2021-09-06 10:24] IamArmaan commented on #9227
Hi @christosts , thanks for cooperate . I have resolved this issue to add `app:surface_type="texture_view"` in exoplayer layout file .

[2021-09-06 10:25] #9227 closed, assigned to christosts

[2021-09-06 11:28] #9384 closed, assigned to marcbaechinger

[2021-09-06 11:53] ojw28 commented on #9364
I think the general answer to this would be for us to implement https://github.com/google/ExoPlayer/issues/4188. If the server is doing the right thing, it will probably be setting cache control headers to tell the player that the media playlist should not be cached (at least for as long as the stream is live). Using these would allow the player to "do the right thing", rather than requiring the d

[2021-09-06 12:02] ojw28 commented on #9370
As discussed, an alternative (and more flexible) solution would be to ensure that regardless of which BaseURL is selected, the cache key(s) always end up being the same.

This approach would generalize to caching for regular playbacks (i.e., if a different BaseURL is selected when the user plays a stream that has been played before, we still want to use the cached segments where possible), and and

[2021-09-06 12:12] ojw28 commented on #9382
At the point where you're wanting to dynamically edit the order of a sequence of files for playback, you should probably not be using HLS. You could instead add the individual TS files to the player directly, using ExoPlayer's [playlist support](https://exoplayer.dev/playlists.html). You could then use `moveMediaItem` to perform reordering.

[2021-09-06 12:12] #9382 closed, assigned to ojw28

[2021-09-06 12:22] guymclean commented on #9256
@andrewlewis has there been any further progress made on this issue? Thanks

[2021-09-06 12:43] fpitters commented on #9193
Probably not related. We are seeing a weird crash after bumping to 2.14.2 (from 2.13.2) with a close stacktrace

[code]
The incidence is low, few ~5 out of 25K a day and not device specific, happening across all brands. Although Huawei devices have 40% of the share.

Let me know if you have any comment or insight.

[2021-09-06 12:52] icbaker commented on #9193
@fpitters Can you please file a new issue?

[2021-09-06 13:02] fpitters opened #9392 "IllegalStateException when releasing DefaultDrmSession"
We are seeing a weird crash (on Firebase Crashlytics) after bumping to **2.14.2** (from 2.13.2) with the following stacktrace:

[code]
We haven't been able to reproduce it locally.

The incidence is low, few ~5 out of 25K a day and not device specific, happening across all brands. Although Huawei devices have 40% of the share.

We use Dash with Widevine encryption.

I thought this issue was relate

[2021-09-06 13:08] icbaker commented on #8391
Apologies for the big delay here. I just tried to reproduce this on both dev-v2 and 2.12.2 and subtitles are visible to me with this link provided in the original comment:

https://dai2-playlistserver.aws.syncbak.com/playlist/18533680/master.m3u8?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkdyYXkyMDE2MDgyOSJ9.eyJtaWQiOiIxODUzMzY4MCIsIm1kNSI6Ijg2MTZhMDgxMGU0MjViNmZjMjE0YjcxZmM3N2ViMjU

[2021-09-06 13:19] icbaker commented on #9296
Closing due to inactivity.

[2021-09-06 13:19] #9296 closed, assigned to icbaker

[2021-09-06 13:22] SreeniMannem opened #9393 "Unable to get RTSP audio stream for PCMA"
Hi Team, i am using ExoPlayer 2.15.0 version to stream RTSP using ip camera. My Ip camera is having below configurations

Video: **a=rtpmap:96 H264/90000**
Audio: **a=rtpmap:8 PCMA/8000/1**

I am able to get Video but Audio is missing from the output stream. This is a known issue it seems, from @claincly comment for one of my question. [Reference](https://github.com/google/ExoPlayer/issues/9346#is

[2021-09-06 13:35] ojw28 commented on #9311
You should probably report this issue to Rockchip, since it sounds like a specific problem with the device.

[2021-09-06 13:35] #9311 closed, assigned to ojw28

[2021-09-06 13:35] andrewlewis commented on #7617
There is the global setting `external_surround_sound_enabled` which we currently check in `AudioCapabilities`. The should at least cover certain devices where an option is available to the user.

As/when other new APIs are available for querying this we can use them but I don't think there's anything actionable left on our side for this so I will close the issue.

[2021-09-06 13:35] #7617 closed, assigned to andrewlewis

[2021-09-06 13:36] andrewlewis commented on #9263
I'm going to mark this as a duplicate for now as I don't think any more action is needed until that other bug is fixed (at which point we can confirm that this is addressed).

[2021-09-06 13:36] andrewlewis commented on #9263
Duplicate of #9256

[2021-09-06 13:36] #9263 closed, assigned to andrewlewis

[2021-09-06 13:39] #9156 closed, assigned to marcbaechinger

[2021-09-06 13:41] #9148 closed, assigned to marcbaechinger

[2021-09-06 13:42] #9076 closed, assigned to ojw28

[2021-09-06 13:45] #8574 closed, assigned to marcbaechinger

[2021-09-06 13:46] #8913 closed, assigned to christosts

[2021-09-06 13:47] ojw28 commented on #6259
This is not currently supported, I'm afraid.

[2021-09-06 13:47] #6259 closed, assigned to ojw28

[2021-09-06 13:50] ojw28 commented on #7507
I think it's clear that you want a way of retrieving the URLs corresponding to the selected tracks. What you haven't explained is _why_ you need to do this, which is important when evaluating this request. It's not something that we currently support, and without a clear motivating use case we're unlikely to add support for it.

[2021-09-06 14:00] ojw28 commented on #7959
I implemented an optimization that avoided going back to the queued state at one point (https://github.com/google/ExoPlayer/commit/f6928c0ef9a196fa0f6d298937ec207f4b1d3447), but had to roll the change back (https://github.com/google/ExoPlayer/commit/7cf0620231c01c4bdcb8dfbcfb0ae4c7f50d9642) because it caused crashes with the following stack trace:

[code]

Fixing this issue would probably be a cas

[2021-09-06 14:05] claincly commented on #9393
In RTSP/RTP, a bitstream is split into UDP-packet sized chunks, and sent through the network in RTP packets. The chunks are usually smaller than 1500 bytes.

You can only use ffmpeg to render the reconstructed bitstream. In ExoPlayer the `RtpPayloadReaders` demux the incoming RTP packet and reconstructing the bitstream. So what's missing is an `RtpPayloadReader` that handles PCMA RTP packets, usin

[2021-09-06 14:06] ojw28 commented on #9360
@rrfrias - Please take a look. Thanks!

[2021-09-06 14:32] #9383 closed, assigned to kim-vde

[2021-09-06 14:32] ojw28 commented on #9286
* Does the issue reproduce if you disable audio focus handling (i.e., pass `false` rather than `true` to `player.setAudioAttributes`)?
* Does the issue reproduce if you remove the call to `setHandleAudioBecomingNoisy(true)`?
* Do other well known music services also stop when you pay by NFC on the affected device? For example Spotify, or a local equivalent?

[2021-09-06 14:35] ojw28 commented on #9289
Is this failing on a specific device or set of devices? It feels like the device probably has a broken SQL implementation, in which case I'm not sure there's a whole lot we can do (I would also expect other applications to also be intermittently failing with similar problems).

[2021-09-06 14:40] ojw28 commented on #9289
Note that ExoPlayer's code is clearly obtaining a writable database at the point where this issue occurs, so I think we're doing the right thing (i.e., we would not expect to see `attempt to write a readonly database`):

https://github.com/google/ExoPlayer/blob/r2.15.0/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CachedContentIndex.java#L880

If you have your own `Databa

[2021-09-06 14:41] Programmingtimes opened #9394 "How to stream m3u8 file with exoplayer"
Hi,
I have created a video streamingapp. I would like to add live tv to it (its personal app so I will be using it for my personal use only ).

**https://wowzaprod270-i.akamaihd.net/hls/live/1007388/e7a2aac8/e7a2aac8_1_1872000/chunklist.m3u8**

my rest of video source is coming from an Api powered by retrofit (json file) all the video files are .Mp4 format.
My doubt is how to implement m3u8 code w

[2021-09-06 14:42] #9277 closed, assigned to ojw28

[2021-09-06 14:46] ojw28 commented on #9069
Closing as a duplicate of https://github.com/google/ExoPlayer/issues/6956, based on the comment above.

[2021-09-06 14:46] #9069 closed, assigned to ojw28

[2021-09-06 14:48] ojw28 commented on #9033
There's some fairly good guidance on how to make an app compatible with Android Auto in [this issue](https://github.com/google/ExoPlayer/issues/8561). I'd suggest you use that as a starting point.

[2021-09-06 14:48] #9033 closed, assigned to ojw28

[2021-09-06 14:48] goffioul opened #9395 "Possible to use FLAG_ALLOW_NON_IDR_KEYFRAMES with DefaultMediaSourceFactory for HLS?"
I'm porting code from 2.11, which used to set `FLAG_ALLOW_NON_IDR_KEYFRAMES` flag for both HLS and progressive media sources. I'm trying to translate that into the new `MediaItem` system. In particular, whether it's possible to use `DefaultMediaSourceFactory`.

AFAIK, I could provide a reconfigured `DefaultExtractorsFactory` to `DefaultMediaSourceFactory` constructor to cover the progress media. B

[2021-09-06 15:18] mobile-pablo commented on #9286
I dont know answer to first, 2 questions becouse I dont own payment machine. In my app I have audio focus and audio atributtes. I dont remember same error with other apps like Spotify (today I checked in Store)

[2021-09-06 17:45] ojw28 commented on #9024
It actually looks pretty awkward to support this until our minimum API version has increased to 21. Until then, it's not possible for us to do:
[code]
because the 4-arg constructor in the super class only exists on API level 21 and higher. I think the implication is that we'd have to either (a) duplicate a _lot_ of initialization code in the 3-arg and 4-arg constructors, or (b) call an initializat

[2021-09-06 17:55] #9237 closed, assigned to marcbaechinger

[2021-09-06 17:56] #9235 closed, assigned to marcbaechinger

[2021-09-06 17:56] #9208 closed, assigned to marcbaechinger

[2021-09-06 17:57] ojw28 commented on #8770
Closing due to lack of information.

[2021-09-06 17:57] #8770 closed, assigned to lcf87

[2021-09-06 18:00] ojw28 commented on #8226
ExoPlayer does not expose the underlying MPEG-2 PTS timestamps. Without a clear motivating use case, this isn't a feature we'll be adding support for. Closing this for now because no use case has been stated.

[2021-09-06 18:00] #8226 closed, assigned to AquilesCanta

[2021-09-06 18:53] ojw28 commented on #9286
Do you know whether your application process is being killed when music stops? Searching Google for "Xiaomi Redmi Note music stops", there are quite a lot of reports of various different cases where music apps are killed when they shouldn't be on devices running MIUI. Searching "MIUI aggressive battery optimization" and "MIUI aggressive RAM optimization" turns up some more information, and some ti

[2021-09-06 18:58] mobile-pablo commented on #9286
I just was playing song's from my app in grocery store and music player stopped

[2021-09-06 19:04] ojw28 commented on #9394
I'm not sure what version of ExoPlayer you're using, but `ExtractorMediaSource` was deprecated a long time ago, and was entirely removed two major releases ago.

I'd suggest that you should first update to the latest version. In recent versions, playing an HLS stream (which typically has the m3u8 file extension) is normally no different to playing any other file. How to do so is documented in our

[2021-09-06 19:04] #9394 closed, assigned to ojw28

[2021-09-06 19:33] ekindino commented on #9254
I think the original regex was supposed to parse the ";timeout=X" part at the end which some devices use. The current regex returns the timeout parameter as a part of the session id causing a mismatch and the timeout parameter is not parsed at all.

As an example "parseSessionHeader" function with the "headerValue" "45266830;timeout=5" returns "sessionId" as  "45266830;timeout=5" where it should b

[2021-09-06 21:05] ojw28 commented on #9058
The issue seems to be fixed on Pixel running Android 12. I'm following up to try and understand what the fix was, and whether it will be deployed to Android 11 devices (for those devices that are not updated quickly, or will have Android 11 as their final major release).

[2021-09-06 21:46] ojw28 commented on #9002
This issue was fixed in Android 12, by https://android-review.googlesource.com/c/platform/frameworks/base/+/1758029/. We'll add a try/catch for Android 11 devices that don't get patched. We'll return `true` from the catch block (i.e., assume network capability is validated), which is what we return from the method on API levels below 24 anyway.

[2021-09-06 21:54] ojw28 commented on #9011
Closing because there's not a lot we can do to investigate further without access to the stream.

[2021-09-06 21:54] #9011 closed, assigned to claincly

[2021-09-06 22:04] ojw28 commented on #9206
For what it's worth, I'm not convinced that your base assumptions are valid. In particular:

I don't think this is how Android works. If Android kills anything, it kills your entire process (which, unless you've done something special, includes both your service and your UI).

[2021-09-06 22:12] ojw28 commented on #9340
We do not expose this information directly in a particularly raw format. HLS playlists are really intended for consumption by the player, and I would not expect application code to need such direct access. Depending on exactly what you need to do this for, it's possible that we expose a more processed form of some of the data you're interested in.

So, why do you need to do this? What feature are

[2021-09-06 22:23] ojw28 commented on #8881
I think we can close this as "sufficiently obscure" that we don't need to provide support directly in the library. As you've noted, it's pretty easy for you to implement your own version that works with both views for your specific case.

[2021-09-06 22:23] #8881 closed, assigned to ojw28

[2021-09-06 22:32] ojw28 commented on #8761
If you control the serving side, then this would normally be done by extracting thumbnails on the serving side (e.g., when the video is uploaded or ingested) and then serving them as regular images (rather than videos).

If you don't control the serving side, then I think https://github.com/google/ExoPlayer/issues/3609 is tracking fixing this properly. Depending on what kind of media you're playin

[2021-09-06 22:32] #8761 closed, assigned to lcf87

[2021-09-06 23:25] #8945 closed, assigned to marcbaechinger

[2021-09-07 01:04] #9276 closed, assigned to claincly

[2021-09-07 06:31] fourofspades commented on #9206
It's kind of hard to work out what was actually going on. Android 12 allowed me to swipe away the media notifications (but same code on older Android z they are persistent).

In the end, I didn't use the UI control, I changed to a imageview where I change the icons manually, all my problems have disappeared.

This one probably now falls into the "no audio player sample code" issue, where we can se

[2021-09-07 06:36] Jaydipnathani opened #9396 "Error rendererFormat : Format(1, null, null, video/avc, avc1.640028, -1, null, [1920, 1080, 30.0], [-1, -1])"
After using this my issue was resolve when I test in debug mode. But when I did App release, the issue started coming back to my user so the issue not resolve.

A version of ExoPlayer being used  2.14.1

I have an issue with ...
***Device Name:-***

**Samsung**

- Galaxy J1(2016)  -  Android : 5.1.1
- Galaxy A20 - Android : 11
- Galaxy A20e - Android : 11
- Galaxy J6+ - Android : 10
- Galaxy A10 -

[2021-09-07 09:08] androaddict commented on #9340
@ojw28  I want to find the Ads while Live streaming using Exoplayer Android

[2021-09-07 09:09] androaddict commented on #9340
@ojw28  I want to find the Ads while Live streaming in exoplayer android

[2021-09-07 09:12] ojw28 commented on #9284
This is assuming that `StreamKey.groupIndex` and `StreamKey.trackIndex` are the same as the index of the `TrackGroup` and the index of the track within it. This is not always the case, because a `StreamKey` identifies a stream rather than a track. The distinction is more obvious when you have muxed audio/video streams in HLS. In this case there are two tracks contained within a single stream, so t

[2021-09-07 10:51] kim-vde commented on #9367
Just to be sure I understand, are you testing on the different devices with the *exact same content*?

My understanding is that the same content plays fine on other devices and most of the time on FireTVs, but that it sometimes fails on FireTVs? And that, when it fails on FireTVs, it automatically gets resolved after some time (still for the same content). Is that correct?

Could you clarify what

[2021-09-07 10:51] deeteeh opened #9397 "How to get companion ads' height and width?"
I want to get height and width of companion ads but every time app crashes. adEvent.getAd() returning ad but it crashes when I start null checking adEvent.getAd().getCompanionAds()

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: <package_name>, PID: 3117
    java.lang.NullPointerException: Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()' on a null object refe

[2021-09-07 11:00] kim-vde commented on #9349
I have added the fix to ExoPlayer. It should be in the next minor release.

[2021-09-07 11:00] #9349 closed, assigned to kim-vde

[2021-09-07 11:46] changxiangzhong opened #9398 "The return of MediaDrmCallback::executeKeyRequest should be @Nonnull?"
In our project, we inherited and customized `MediaDrmCallback::executeKeyRequest()` function to add our own magic, such as tokens, to talk to our DRM server.
In our existing implementation, it returns **NULL** in case of timeout exception. I've gone through the function `DefaultDrmSession::MediaDrmCallback::executeKeyRequest()`, my understanding is

- Under no circumstances, should `MediaDrmCallba

[2021-09-07 11:50] ojw28 commented on #8346
Given the media is malformed, I don't think it's worth investigating this in any detail. We should fix the negative window length though (by setting it to `TIME_UNSET` instead). I'll make that change and then close this.

[2021-09-07 11:54] jesro opened #9399 "Extract Subtitle from Video and set in TrackSelection dialog"
I have app which recieve video in C.TYPE_DASH DashChunkSource, C.TYPE_SS, C.TYPE_HLS HlsMediaSource, C.TYPE_OTHER  DefaultDataSource, ProgressiveMediaSource types. i find it by using Util.inferContentType(videoURI.lastPathSegment)

I need to extract subtitle language from videoURI and set it into trackSelector parameter
 like below:  (if i receive english language subtitle from videoURI, i need to

[2021-09-07 12:02] kim-vde commented on #9381
The stack traces suggest that there is a network timeout when trying to get the response code from the server. The error is thrown by the underlying network stack (in this case, OkHttp).

Given this, the issue is probably with the network connection or the server (and therefore not with ExoPlayer). You should try to figure out why the server is slow. You can also try to increase the timeout, but i

[2021-09-07 12:33] andrewlewis commented on #9397
Are you using the ExoPlayer IMA extension? If so, that only supports client-side ad insertion but [`Ad.getCompanionAds()`](https://developers.google.com/interactive-media-ads/docs/sdks/android/dai/api/reference/com/google/ads/interactivemedia/v3/api/Ad.html?hl=el#getCompanionAds()) is documented as only for when using DAI, so I don't think this method will be useful. (It probably shouldn't throw f

[2021-09-07 12:33] #9397 closed, assigned to andrewlewis

[2021-09-07 12:35] SreeniMannem commented on #9393
Thanks @claincly for your detailed explanation. For the time being, i will try with the above mentioned implementation.

[2021-09-07 13:16] deeteeh commented on #9397
Hi Andrew, thanks for the response.

Yes, I am using Exoplayer Ima extension. Actually our ad server returns different ad with different companion ad size, so I wanted to get the ad size from the current loaded ad and then set the slot's size.
Is there any way to get companion ad data from the loaded ad response?

[2021-09-07 13:18] BrettyWhite commented on #9381
Thanks @kim-vde. After reviewing that link I will take a look at Cronet and talk with our CDN about QUIC to see if that improves anything at all. Seeing as this does not look to be an ExoPlayer issue I will close it. Thank you again for your help.

[2021-09-07 13:23] andrewlewis commented on #9397
I don't know of a way to do that (as far as I know users of companion ads generally know the sizes up front because they are standardized or they generated the ad tag themselves). Could you ask on the IMA SDK forum I linked to above and reply here with a link so others can benefit from the answer?

[2021-09-07 13:37] deeteeh commented on #9397
Posted the question on IMA SDK forum.

link-> [https://groups.google.com/g/ima-sdk/c/ccoWV9pDwFQ/m/4AAN39G1BwAJ](https://groups.google.com/g/ima-sdk/c/ccoWV9pDwFQ/m/4AAN39G1BwAJ)

[2021-09-07 13:38] ojw28 commented on #9390
If the issue is as described, then it's definitely a bug. Are you able to provide a stream that we can reproduce with somehow?

[2021-09-07 14:16] ojw28 commented on #9087
Thanks for reporting this. There's a small bug detecting string termination if (a) UTF-16 is used, and (b) the string starts at an non-even offset in the ID3 data. We'll push a fix.

[2021-09-07 14:22] anup-geeky commented on #6168
Below code work for me
[code]

[2021-09-07 14:23] spirgiuz commented on #9390
@ojw28 sorry, I am not able to provide an example stream.

[2021-09-07 14:24] goffioul opened #9400 "Fail to play RTSP stream from live555 with static payload type"
Trying to play a RTSP stream from live555 (not recent, I admit) fails with the following exception:
[code]

The logs of the RTSP dialog is as follows:
[code]

The exception is generated here: https://github.com/google/ExoPlayer/blob/release-v2/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/MediaDescription.java#L200
which refers to RTSP specs: https://datatracker.ietf.org/doc

[2021-09-07 14:29] ojw28 commented on #8952
@stevemayhew - Do you plan on sending a pull request for the first issue (as per my comment above)? Thanks!

[2021-09-07 14:37] ojw28 commented on #8836
@kim-vde and @christosts (not sure who): Is this something that we support now? If so, could we provide a code snippet and close this? Thanks!

[2021-09-07 14:39] kim-vde commented on #9376
I have tried to reproduce on the demo app with a Nexus 5 running Android 5.1.1 (Lollipop). I can indeed see a black screen when the app is moved to the background and then back to the foreground. I observed this for every video I have tried.

I am not sure it is a bug though. When you move the app to the background, [`PlayerActivity.onPause`](https://github.com/google/ExoPlayer/blob/r2.15.0/demos/

[2021-09-07 15:12] benlancaster commented on #9284
Interesting, we'll investigate and report back. If that's the case, I'll go ahead and close this issue. Thanks loads for taking the time to explain it so well, @ojw28.

[2021-09-07 15:12] claincly commented on #9400
We only support AVC at the moment, and it's not statically assigned.

RTP payload type 33 is assigned to MP2T, which we don't support.

So yes, it is an ExoPlayer limitation.

[2021-09-07 15:23] icbaker commented on #9398
All ExoPlayer API surfaces are non-null by default (i.e. if there's no annotation, then everything is assumed to be non-null). This is achieved via the `package-info.java` files ([drm package example](https://github.com/google/ExoPlayer/blob/release-v2/library/common/src/main/java/com/google/android/exoplayer2/drm/package-info.java)) by annotating the whole package with [`@NonNullApi`](https://git

[2021-09-07 15:23] #9398 closed, assigned to icbaker

[2021-09-07 15:35] kim-vde commented on #8836
Yes.

To disable seekbar scrubbing, you can make command `COMMAND_SEEK_IN_CURRENT_WINDOW` unavailable by wrapping the player passed to the `(Styled)PlayerView` in a `ForwardingPlayer`:

[code]

[2021-09-07 15:36] #8836 closed, assigned to christosts

[2021-09-07 15:49] changxiangzhong commented on #9398
@icbaker Thanks for you reply. We don't see any warning regarding the null return. We would respected the warning if it was there.
![image](https://user-images.githubusercontent.com/5352145/132374357-583613af-a161-4722-b457-0036bad03763.png)

[2021-09-07 15:50] stevemayhew commented on #8952
@ojw28 I've got it without the boolean now, I'm adding that and testing with it.  I've been slowed down fixing some bugs with live playback that came from the `MaskingMediaPeriod` changes to support IMA/playlists,  [Pull 9386](https://github.com/google/ExoPlayer/pull/9386) fixes issue #9347 is already in our source base, I'm writing a test case to show the bug now, after that I'll submit this one.

[2021-09-07 16:17] andrewlewis commented on #9397
Thanks for posting that.

Just for the record, I've also submitted a fix in the IMA SDK for the `NullPointerException` to avoid the crash, but this won't help with what you are trying to do as this method returns an empty list for non-DAI use cases.

[2021-09-07 16:37] icbaker commented on #9398
Thanks for the extra details - I tried implementing `MediaDrmCallback` in a new Android Studio project that depends on ExoPlayer via a maven artefact (rather than the test I did before, which modified a class inside the project).

I also don't see a warning when returning `null` from `executeKeyRequest`.

I **do** see warnings when passing `null` to other methods that are implicitly @NonNull (mark

[2021-09-07 16:48] AquilesCanta commented on #9381
I took a quick look at `DefaultHttpDataSource` and I don't see how a java.net.SocketTimeoutException in `DefaulHttpDataSource::open->HttpURLConnection::getResponseCode` can throw a `HttpDataSourceException` with error code IO_UNSPECIFIED. I am assuming that the relevant block of code is the catch that calls `HttpDataSourceException.createForIOException` [here](https://github.com/google/ExoPlayer/b

[2021-09-07 17:00] BrettyWhite commented on #9381
@AquilesCanta is your question directed towards my implementation, or to someone else? Just trying to clarify

[2021-09-07 17:00] goffioul commented on #9210
MP2T payload type. See https://github.com/google/ExoPlayer/issues/9400.

[2021-09-07 17:09] AquilesCanta commented on #9381
It's directed towards you. ExoPlayer shouldn't use ERROR_CODE_IO_UNSPECIFIED for a SocketTimeoutException, so that's a bug. However, after checking the implementation, I don't see how that's possible. I was hoping you could clarify for me how this is happening. Perhaps I'm misinterpreting the stacktrace, or you depend on ExoPlayer via code and introduced changes to DefaultHttpDataSource, etc.

[2021-09-07 17:19] BrettyWhite commented on #9381
@AquilesCanta I think its due to the flow.

Basically what I had was:

1. Sound player is initialized
    1a. if sound is `CacheDataSource` cache, then start the player
    1b. if not, then download the sound first, continue.
2. Cache the audio file. This is done here:

[code]

At this point if for some reason this step fails, I believe it was then hitting the `recover` block which tried to init t

[2021-09-07 19:19] ojw28 commented on #9195
`AesFlushingCipher` provides methods for encrypting data in the same way as when using `AesCipherDataSink` and `AesCipherDataSource. You can look at the source code for `AesCipherDataSink` to see how the content is encrypted using this class prior to being written to disk.

If you want to encrypt some clear files, you'll need to read them (using `FileDataSource` or just the standard Android APIs f

[2021-09-07 19:19] #9195 closed, assigned to marcbaechinger

[2021-09-07 19:21] #9374 closed, assigned to kim-vde

[2021-09-07 19:22] #9273 closed, assigned to ojw28

[2021-09-07 19:30] ojw28 commented on #8321
As @krocard notes above, using `AudioTrack` directly is probably a better way of implementing this. From the little information provided, it seems unlikely that ExoPlayer is the right API to be using.

[2021-09-07 19:30] #8321 closed, assigned to krocard

[2021-09-07 19:31] #9111 closed, assigned to ojw28

[2021-09-07 19:31] #9087 closed, assigned to ojw28

[2021-09-07 19:32] ojw28 commented on #9024
The change referenced above makes use of `defStyleAttr`. Closing on the assumption that the 4-arg constructor isn't important, but please let us know by replying here if it is.

[2021-09-07 19:32] #9024 closed, assigned to ojw28

[2021-09-07 19:32] #8346 closed, assigned to ojw28

[2021-09-07 19:33] #9002 closed, assigned to ojw28

[2021-09-07 20:28] ojw28 commented on #9399
Once the manifest has been loaded by the player, you can query the available tracks using `Player.getCurrentTrackGroups`. You can also listen to `EventListener.onTracksChanged` to be notified when the tracks become known.

Once you have the `TrackGroupArray`, iterate through the `TrackGroups`, and the formats within each `TrackGroup`. Once you find the one corresponding to text, you should find th

[2021-09-07 20:34] ojw28 commented on #9395
If you need this level of customization then I think you'll still need to build `HlsMediaSource` instances yourself (rather than using the `MediaItem` based APIs).

@marcbaechinger - I wonder whether we should add a `getDelegateMediaSourceFactory(String mimeType)` method to `DefaultMediaSourceFactory`, to allow applications to retrieve (and configure) the factories being delegated to.

[2021-09-07 21:32] ojw28 commented on #9058
Android 11 devices with modular system components (https://source.android.com/devices/architecture/modular-system) should be receiving an update that fixes the issue this month (the fix is in the `com.android.media.swcodec` module). It's also possible that OEMs may update Android 11 devices via their OTA mechanism. So, the fix is available and Android 11 devices are being updated. Exactly when may

[2021-09-07 21:32] #9058 closed, assigned to ojw28

[2021-09-07 21:32] rrfrias commented on #9360
I do not see any obvious issues in the bugreport. I have checked and we do not have either of those devices in-house. I would like to work with Sony and Sharp to see if they can reproduce the problem. Do i have your permission to share the bugreport with them?

[2021-09-07 21:51] ojw28 commented on #6657
I think we've probably fixed this to the extent that it's no longer an issue in practice.

[2021-09-07 21:51] #6657 closed, assigned to marcbaechinger

[2021-09-07 21:59] ojw28 commented on #8785
I think you ran into the same point of confusion as I addressed in https://github.com/google/ExoPlayer/issues/9284#issuecomment-914134734. We'll make a change to more clearly document that the indices in `StreamKey` cannot generally be derived directly from track indices, so as to make this clearer going forward.

[2021-09-07 21:59] #8785 closed, assigned to marcbaechinger

[2021-09-07 22:38] ojw28 commented on #8034
`OfflineLicenseHelper` is really intended for VOD download use cases. Trying to use it for streaming with key rotation is not something we support. It sounds like a very fragile approach.

Note that, depending on how much key reuse you need, you may find `DefaultDrmSessionManager.Builder.setSessionKeepaliveMs` useful.

[2021-09-07 22:38] #8034 closed, assigned to AquilesCanta

[2021-09-07 22:42] timusus commented on #9058
Thanks for following up, much appreciated.

[2021-09-07 22:54] ojw28 commented on #7759
Closing because we have no plan to support this. Developers are free to fork our UI components if they require very specific customizations.

[2021-09-07 22:54] #7759 closed, assigned to marcbaechinger

[2021-09-08 01:58] rrfrias commented on #8037
@nishantkp can you try to repro and capture a dumpstate. I have tried on a number of Samsung devices S21 (android 11) and S20 but not been able to reproduce. Samsung unable to reproduce either (seeing failure that indicates that their VPN is not configured for Canada). Share the dumpstate log with dev.exoplayer@gmail.com and github# in the subject. Thanks!

Steps :
0. Reproduce the issue.
1. Dial

[2021-09-08 03:17] TimchenKKBOX commented on #9360
Sure, you could share the log to OEM partner

[2021-09-08 03:18] TimchenKKBOX commented on #9360
I will update the below result to ticket

Device System Version Normal Result
AQUOS sense3 SHV45 Android 9.0 X There is a Player output audio only,
another output the video & audio normally
Pixel 5 Android 11
(RQ3A.210805.001.A1) O Both players can play normally, audio and video are
sync
Pixel 3a Android 12 O Both players can play normally, audio and video are
sync
Samsung Galaty Note20 Android 11

[2021-09-08 03:25] TimchenKKBOX commented on #9360
Update the testing result, @rrfrias  you might take some devices as below to test

Device           | OS  | Work | Result
--------------|:-----:|:-----:|:-----:|
AQUOS sense3 SHV45 | Android 9 | X | There is a Player output audio only, another output the video & audio normally |
Pixel 5 | Android 11(RQ3A.210805.001.A1) | O | Both players can play normally, audio and video are sync |
Pixel 3a | And

[2021-09-08 04:21] SaurabhOfficial commented on #8906
@ojw28 what could be other possible ways to not allow negative seek position across all Media Types ?
is there a possibility that assertions might break a lot of code based on current exo-player ?

[2021-09-08 05:16] SAPierce2006 commented on #9367
Yes.

No. Sometimes it resolves with a restart, but not always. Over the weekend I saw on a FireTV that it happened and then all FireTV applications could no longer play any videos. Youtube, Hulu, Netflix, Amazon Prime, Our app - all of them would freeze the moment they would try to play any video.

This seems to me to point strongly to a decoder bug.

Sure - Our application plays videos on a loop

[2021-09-08 05:28] goffioul commented on #9400
I found out #9210 afterwards, does it make sense to keep this issue separate?

[2021-09-08 06:26] dino-saurabh commented on #8906
@ojw28 apart from assertions what could be possible ways to not allowing negative seek for various media types?

[2021-09-08 07:26] seventhmoon commented on #9181
WorkManager `2.7.0-beta01`is released.

https://developer.android.com/jetpack/androidx/releases/work#2.7.0-beta01

[2021-09-08 08:06] olgunkaya opened #9401 "Receiving events for content after ad insertion"
Hi,

I am updating the progress bar following receiving the Player's READY state event. But with ad insertion, I suppose this event **only** thrown once the preroll video ready and not after skipping the ad.

How can I receive an event or detect the actual content is being played following the ad skipping action ?

exoplayer version we are on : 2.11.4 we are using the ima-extension not manual ad i

[2021-09-08 08:45] claincly commented on #9400
Please close it and use the format tracker, if you don't have further question on this, thanks!

[2021-09-08 08:48] goffioul commented on #9400
Duplicate of #9210

[2021-09-08 08:49] #9400 closed, assigned to claincly

[2021-09-08 09:13] soldierinwhite opened #9402 "Add support for preferred video role flags"
### Use case description
Some manifests can include alternative video tracks for example for sign language interpretation of the same video. The manifest parser is able to parse the roles included on these representations and is accessible via `format.roleFlags`. A client should be able to give a preferred role flag for video from those defined in `C.java` to the track selector in the same way pre

[2021-09-08 09:24] kim-vde commented on #9367
This means that the decoding will be slower. But if the problem doesn't reproduce with the new decoder, then we can be more confident that this is a bug in the original decoder.

Which decoder was used by default? I will check if we already have bugs reported for this decoder.

[2021-09-08 09:26] marcbaechinger commented on #9395
Yes, marked as enhancement.

@goffioul As mentioned above you can't do this out of the box with the current `DefaultMediaSourceFactory`. You have two options to solve this:

1) Build the `HlsMediaSource` yourself by using the  `HlsMediaSource.Factory` and the use `set/addMediaSource` instead.

2) Create your own `MediaSourceFactory` and inject it when building the player with `Builder.setMediaSour

[2021-09-08 09:45] JuzTosS commented on #9024
The case we faced is having your own inheritor of PlayerView with predefined parameters (surface type in our case).

We solved it with composition, but this has a drawback of adding additional layer to the hierarchy.
(`OurPlayerClass` extends `FrameLayout` and inflates xml with `PlayerView` in it)

[2021-09-08 10:34] #9379 closed, assigned to claincly

[2021-09-08 11:15] goffioul opened #9403 "Cannot use relative path for exoplayerRoot"
I'm using ExoPlayer 2.15.0 as local dependency, with gradle 7.1.1. My `settings.gradle` contains the following:
[code]

This leads to build error due to missing dependencies. It turns out that the `projectDir` of the ExoPlayer modules do not have the expected path. E.g., I added this debug line in `settings.gradle`:
[code]

which prints
[code]

Note the duplicate parts in the path. AFAICS, this co

[2021-09-08 11:27] GouravSna opened #9404 "Inconsistency of download total size"
Hi,

I was checking the download functionality in ExoPlayer demo app.
I saw that the total size reported by Exo seems inconsistent and at the initial downloading.

You can see the following logcat. I kept the logs. Image attached.

Can you please help me about this inconsistency.

**Exo Version:** v2.15.0
**Device:** Moto G6, Redmi Note 4
**Media:** In demo app, HLS -> Apple master playlist advanc

[2021-09-08 11:29] icbaker commented on #9403
At first glance this looks similar to #8927 which I thought I fixed in https://github.com/google/ExoPlayer/commit/73f28d482937c83409410abe9b8ff33a18a5424f (and was [cherry-picked](https://github.com/google/ExoPlayer/commit/617267bfcf20c500fb4a3cfdff7104e4d88261a7) into 2.14.1).

[2021-09-08 11:52] MathiasOhrstrom opened #9405 "Lost control animation but seekbar animation is still enabled"
We use `StyledPlayerControlView` that previously had a fade animation that now seems to have been removed but the delay to hide `StyledPlayerControlView` is still there, and the Y-translation on the seekbar is still present (which was not easy to remove #9072). So now the seekbar go behind other views before the whole `StyledPlayerControlView` goes away

We updated from `2.12.3` to `2.15.0`

https

[2021-09-08 11:59] BejanCorneliu opened #9406 "Watermark"
Hello there

Can you please tell me how can i add watermark on current video running in exoplayer?

Thanks

[2021-09-08 12:09] andrewlewis commented on #9406
Does the watermark just consist of an image? If so it should work just to show it in an image view on top of the player view. If you need more control over composition (for example, showing the watermark only over certain frames) then the [GL demo](https://github.com/google/ExoPlayer/tree/r2.15.0/demos/gl) shows how to composite an image with frames using a GL shader and output to a `GLSurfaceView

[2021-09-08 12:33] SAPierce2006 commented on #9367
OMX.MTK.VIDEO.DECODER.AVC

[2021-09-08 12:34] goffioul commented on #9403
Something's odd indeed. The same setup in `settings.gradle` with ExoPlayer 2.11 used to be fine.

[2021-09-08 12:48] tasmiya-tabassum opened #9407 "Crash in Android 7 lenovo devices, while releasing the player"
App is crashing while releasing the player,

- Device - Android 7 Lenevo devices
- Version of library consumed in the app - 2.14.1
- Below is the crash report captured by Firebase,

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.view.Surface.release()' on a null object reference
       at com.google.android.exoplayer2.SimpleExoPlayer.setVideoOutputI

[2021-09-08 12:57] kim-vde commented on #9367
Just an idea, but could it be that the device does not support the video resolution (as in #7172)?

I couldn't find a bug describing a similar issue with OMX.MTK.VIDEO.DECODER.AVC.

[2021-09-08 13:25] SAPierce2006 commented on #9367
Is this decoder potentially on other devices? Should I remove it everywhere I see this coder, or only on FireTV?

[2021-09-08 14:20] an-ghinid commented on #8435
@sixones is there an issue open on your github to track that? Very keen on avoiding ASS transcoding as it's the only thing keeping me from running PMS entirely on my NAS rather than on my Shield TV (and would keep me paying for Plex Pass for the hardware acceleration support that allows this)

[2021-09-08 14:47] icbaker commented on #9403
Thanks for the report, I reproduced the problem as follows:

1. Create a new Android Studio project located at `/path/to/outer/project`.
2. `cd /path/to/outer/project && git clone https://github.com/google/ExoPlayer.git` (so now ExoPlayer is rooted at `/path/to/outer/project/ExoPlayer`)
3. Modify `/path/to/outer/project/settings.gradle`:
[code]
------

Yep, I agree this is the root of the problem

[2021-09-08 14:53] goffioul commented on #9403
For the record, I also have the impression that the unexpected behavior may come from the fact that the gradle plugin is applied during execution of `settings.gradle`, and not a regular `build.gradle`. The context in which the `file` method is executed might not be what one expect.

[2021-09-08 15:11] ryanheise opened #9408 "Apply best seeking strategy for MP3"
ExoPlayer provides options to enable index-based seeking and constant bitrate seeking, but in order to choose an appropriate strategy for some arbitrary media file (e.g. an arbitrary URL not under the control of the app developer), it would be necessary to first know whether the file has a precise or approximate seek table, or in the absence of any seek table, whether it is encoded with a VBR. How

[2021-09-08 15:28] icbaker commented on #9391
Thanks for the request.

This looks like it might be slightly fiddly to implement, because ExoPlayer relies on [styling spans](https://developer.android.com/guide/topics/text/spans) to represent text styling inside [`Cue`](https://github.com/google/ExoPlayer/blob/release-v2/library/common/src/main/java/com/google/android/exoplayer2/text/Cue.java) objects. Unfortunately I can't see a platform-provi

[2021-09-08 15:30] ojw28 commented on #8919
Regarding the two questions above, I suggest you try for yourself. E.g., the `Player` interface defines various seeking methods, including ones that you should be able to use to seek ahead to the next portion of HLS when you're currently playing one of the MP4 files (`seekToNextWindow` is probably the method that you want, or `next` if on an older ExoPlayer release).

[2021-09-08 15:30] #8919 closed, assigned to christosts

[2021-09-08 15:31] ojw28 commented on #8973
Yes please. Note that this is unlikely to be an ExoPlayer issue. It's probably an issue with the Cast receiver app. If you provide the stream so that we can reproduce, then we can ask the relevant team to take a look.

[2021-09-08 15:45] ojw28 commented on #8946
When playback fails, the player transitions to `STATE_IDLE`. It's necessary to re-prepare the player to get it back into `STATE_READY`, so that it can play the next item. So the call to `prepare()` is both necessary and expected. Hence, I think everything is working as intended here. The one thing I did spot is that the documentation for `STATE_IDLE` is incorrect, and has been since playlist suppo

[2021-09-08 15:45] #8946 closed, assigned to krocard

[2021-09-08 15:54] nigelmegitt commented on #9391
It may be possible to simulate something approaching the desired presentation of text outline by using a small shadow, if there's adequate control over both the "hardness" of the shadow edge and the size of the shadow.

[2021-09-08 16:02] ojw28 commented on #8584
Closing because this did not reproduce with the ExoPlayer demo app, and so sounds like a Flutter integration problem rather than a problem with ExoPlayer.

[2021-09-08 16:02] #8584 closed, assigned to marcbaechinger

[2021-09-08 16:04] ojw28 commented on #5752
This is most likely just a performance limitation of the devices in question. Closing for now.

[2021-09-08 16:04] #5752 closed, assigned to andrewlewis

[2021-09-08 16:07] icbaker commented on #9135
Sorry for the lack of follow-up - I took another look at this on Monday but it seems the stream is no longer active (it returns 404 errors).

Would it be possible to provide a permanently available stream? I'll try to take another look when I get some available time.

[2021-09-08 16:12] ojw28 commented on #9407
I think, although am not 100% certain, that this was fixed by https://github.com/google/ExoPlayer/commit/ab416f41ac33339670f412beb442e5a7f14e4063, which is in the 2.15.0 release. Closing on that assumption. Please let us know if you still see a crash of this kind after upgrading to 2.15.0 or later. Thanks!

[2021-09-08 16:12] #9407 closed, assigned to ojw28

[2021-09-08 16:23] ojw28 commented on #9404
HLS doesn't provide a mechanism to easily determine how large a download will be. This is because it's not generally possible to know how large each of the media segments is in bytes, prior to actually requesting it*. The download percentage is therefore an estimate (and is documented as such), which means that your `totalSize` calculation also produces an estimate rather than an exact value. You

[2021-09-08 16:26] acass91 commented on #9312
I sent an email to dev.exoplayer@gmail.com with the content. After further investigation, I agree that the timestamps in the source content are incorrect. I implemented a workaround to avoid feeding the bad PTS values to the adjuster. Do you think this is viable?

[code]

[2021-09-08 16:32] ojw28 commented on #9402
Would you expect this logic for audio and text as well, because we don't enforce the part in bold for those at the moment. We should probably make sure all three work in the same way, else it's going to be pretty confusing for someone who's using more than one of them.

[2021-09-08 16:45] #9403 closed, assigned to icbaker

[2021-09-08 16:45] ojw28 commented on #9405
Judging by how it looks, I suspect that you're applying some customizations to your `StyledPlayerControlView`, either in code or in layout xml.

I think whatever you've customized is probably incompatible with some changes that we've made between `2.12.3` and `2.15.0`. If you're overriding one of ExoPlayer's layout files, a good next step would be for you to look at how ExoPlayer's equivalent layo

[2021-09-08 16:47] kim-vde commented on #9367
Yes.

Everywhere I would say.

Note that it is still possible that the input file is invalid or that the bug comes from FireTV software (and therefore that there is no problem with the decoder). It is a bit suspicious that we never had any similar issue reported (that I am aware of). You should report this to the FireTV team.

[2021-09-08 18:21] SAPierce2006 commented on #9367
I'm using the software decoder `OMX.google.h264.decoder`, and I haven't seen the static / corruption yet, but I'm seeing dropped frames on some videos. Sometimes it stops happening on the videos, other times it continues to repeat. What do you recommend I do to try and resolve this lag with the software decoder?

[code]
[code]

I'm also seeing this in the logs a lot:
[code]

[2021-09-08 18:22] SAPierce2006 commented on #9367
Every time we open the app, we have a very slow process running in the background that verifies the checksums of each of the videos.

[2021-09-08 18:58] SreeniMannem opened #9409 "Unable to gain existing stream (RTSP) once internet is OFF and reconnects immediately."
Hi Team,

I am using ExoPlayer 2.15.0 version to stream RTSP using ip camera.

I am able to stream through RTSP to Android app.

If something happens in between while streaming, like here 2 scenarios to observe.

1. **If internet connection is OFF and back to ON immediately**, then the stream stops and displays last frame and its not streaming further.
2. **If RTSP server or IP Camera, went DOWN a

[2021-09-09 06:00] VeiZhang commented on #9388
In addition, android player works well. I don't know how to check what's the wrong.

[2021-09-09 06:56] soldierinwhite commented on #9402
I didn't know that, but in my opinion that would be best. Since exoplayer parses different tags in DASH adaptation sets to one scheme of flags, you will often see adaptation sets with an accessibility tag that gets one flag, and a role tag that gets another flag. An exoplayer client might just be interested in the accessibility for instance, say `ROLE_FLAG_SIGN`, so then a role flag like `ROLE_FLA

[2021-09-09 10:15] krocard commented on #9319
This is a relatively contrived use case. Clipping media source doesn't cut a resource at an exact pcm frame, which perfect gapless playback would need. ExoPlayer supports gapless playback, but the amount to clip needs to be small and present in the container, not the media source.

In general a player that would not introduce a ramp down and up on transitions would result in an audible glitch as t

[2021-09-09 10:30] ojw28 commented on #9402
To clarify, our current logic for audio and text does not require perfect matching. It does a bit-wise AND between the requested flags and the flags defined by the media track, and counts the number of set bits in the result. A track with a higher count is preferred to a track with a lower one. Suppose the requested flags are `X` and `Y`:

* If there are tracks that declare `X` and `Y`, they will

[2021-09-09 10:33] olgunkaya opened #9410 "IMA Learn More and Skip Ad buttons rendered incorrect"
hi,

We have our react-native app integrated with react-native-video where it utilize exo player. The Learn More and Skip Ad buttons rendered out of container when device rotated to landscape mode. Same app works fine with emulator.
Emulator : Pixel 2 API 28 OS Version: Android 9
Real Device : Redmi Note 8 Pro OS Version: Android 11

![WhatsApp Image 2021-09-09 at 12 54 17](https://user-images.git

[2021-09-09 10:42] ojw28 commented on #9367
I would suggest you file an issue on [Amazon's issue tracker](https://github.com/amzn/exoplayer-amazon-port/issues/) to try and get to the bottom of this. Falling back to software decoding is a good diagnostic test, but it's probably not going to be a great solution in production. Particularly if you're playing high resolution content, you'll most likely observe that the software decoder cannot ke

[2021-09-09 10:46] icbaker commented on #9392
The stack trace provided indicates that a `PreacquiredSessionReference` is trying to release an underlying `DefaultDrmSession` that's already fully released (`referenceCount == 0`).

I've spent some time studying the code in `DefaultDrmSessionManager` and I haven't come up with a sequence of operations that would allow this to happen. Every `PreacquiredSessionReference` instance 'holds' a single r

[2021-09-09 10:59] strangesource opened #9411 "Audio out of sync when seeking in HLS source"
## Description
When playing back an HLS stream and seeking directly to the end of the stream, audio is out of sync and continues playing for severals seconds.
This started happening after updating from ExoPlayer `2.12.3` to `2.13.3` and is also reproducible in the latest `2.15.0`.

## Steps to reproduce
1. Load HLS stream `https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8` into the d

[2021-09-09 11:07] Yahui-Li commented on #9319
See, I want to merge a sequence of video resources and a single audio resource. For example, I have three video fragments each duration is 10 sec and an audio fragment that duration is 30 sec. Now I want to merge those resources together but I can't because the ConcatenatingMediaSource of videos had different period count with the audio MediaSource, so I cut the audio to three pieces then concaten

[2021-09-09 11:17] ojw28 commented on #9401
Have you read our [documentation on player events](https://exoplayer.dev/listening-to-player-events.html)? I think it probably covers this. Note specifically the section on playlist transitions.

[2021-09-09 11:19] #9313 closed, assigned to ojw28

[2021-09-09 11:22] #9331 closed, assigned to icbaker

[2021-09-09 11:23] ojw28 commented on #9340
The right way to do this is to ensure that the streams have appropriate metadata baked into them for this, as was discussed in https://github.com/google/ExoPlayer/issues/9313. If you're using some kind of media playlist level metadata, then you'll need to provide a sample stream so that we can understand exactly how ads are marked in the content.

As an aside, this is the third (or possibly fourth

[2021-09-09 11:31] olgunkaya commented on #9401
Well tbh, I read this and checked that MediaItem class as well. But couldn't find a proper way to understand getDuration returns the duration of actual content's duration.

[2021-09-09 11:37] ojw28 commented on #9401
Am I right in thinking that you're interested in detecting when playback transitions from one item to another (e.g., because an ad ends or is skipped). In which case I think the relevant documentation is:

I'm unclear why duration was relevant, since that doesn't seem to be part of your initial question. It's also unclear on what kind of ad insertion you're doing, which may be relevant to someone

[2021-09-09 11:40] olgunkaya commented on #9401
You are actually correct. I will close this one and dig more. Let me handle the  Exo 101 first and come here with more detailed question. Thanks for the help. The ad insertion is done through ima extension.

[2021-09-09 11:40] #9401 closed, assigned to ojw28

[2021-09-09 11:40] soldierinwhite commented on #9402
Thanks for the clarification. In that case I prefer the current logic, you should keep the same for video as well. That is much better than what I envisaged. I guess the only use case this does not cater for is when a specific track I am looking for is identified by more than one flag, but I am not interested in other tracks that only have some of the flags. But that seems like an edge case that i

[2021-09-09 11:47] ojw28 commented on #9401
No worries.

For duration, note that the player has both `getContentDuration()` and `getDuration()`. Similarly for position, the player has both `getContentPosition()` and `getCurrentPosition()`. These will normally return the same values as one another, but when you're playing an ad, the `getContent[...]` methods will give the values for the underlying content being played (i.e., not the ad) wher

[2021-09-09 11:57] olgunkaya commented on #9401
Thanks for this much detailed explanation :) I found my silly bug. Actually the bug inherited from the forked library :) it's not a bug there in the original repo but when I got it into my business and add/update some ad insertion logic it becomes a silly bug caused by me :)

Below code called when state changed to READY. loadVideoStarted property set and event triggered back to react native conte

[2021-09-09 12:03] ojw28 commented on #9402
Thanks! There is one small change I'd propose for the existing logic, which is to boost the "exact match" case so that tracks whose flags match exactly are preferred over tracks that also declare additional flags, in the case that both are present.

[2021-09-09 12:05] soldierinwhite commented on #9402
That sounds like a great improvement.

[2021-09-09 12:08] #9404 closed, assigned to ojw28

[2021-09-09 12:11] ojw28 commented on #9312
I think it would probably break other usages of the adjuster (e.g., when the timestamp adjuster is used to determine the duration of a TS stream, it's going to be fed timestamps that are separated by approximately the duration of the content).

I think we should probably just do nothing and mark down as a case of bad media.

[2021-09-09 12:13] claincly commented on #9409
tl;dr
For either case, you'll have to set up the RTSP link again. The easiest way will be to use a brand new `RtspMediaSource`.

For 1, I'll take a closer look.
For 2, the server is stateful, if it's down, you have to set up again no matter what.

[2021-09-09 12:40] deepanshu-hh opened #9412 "Why Media controls not visible in Media Session Controller in Android 11? (v -2.14.0)"
Media control buttons are visible on Expanded notification but not visible on closed notification and on lock screen.

- ExoPlayer version number - 2.14.0
- Android version - 11
- Android device - Google Pixel 3

Here is my code of PlayerNotificationManager and MediaSessionConnector:

[code]

![lock_screen](https://user-images.githubusercontent.com/76508575/132687348-db1785c0-ce4f-42b9-9450-72a341

[2021-09-09 12:57] AquilesCanta commented on #9381
It's not clear to me there's something actionable for us here. I was not able to find either in ExoPlayer code or in the user's description the source of the IO_UNSPECIFIED error code. If you have more precise indication on where the origin of the `ERROR_CODE_IO_UNSPECIFIED` is, please comment below and I'll reopen the issue.

[2021-09-09 12:57] #9381 closed, assigned to AquilesCanta

[2021-09-09 13:04] ojw28 commented on #9206
Ok. Let's close this as a duplicate of #5854. We do understand that creating audio apps is proving troublesome for developers, in absence of a sample.

[2021-09-09 13:04] #9206 closed, assigned to marcbaechinger

[2021-09-09 13:55] icbaker commented on #9398
Turns out this isn't an Android Studio bug, it's a problem in the way ExoPlayer splits packages across different AARs. This is only a temporary state, so everything should be sorted in future. More info in https://issuetracker.google.com/199161212.

[2021-09-09 15:17] SAPierce2006 commented on #9367
I'll do that.

We are encoding our videos using ffmpeg. I kind of implicitly assumed that ffmpeg properly handles encoding. Is that not necessarily the case? What would be the best way to check?

[2021-09-09 16:14] acass91 commented on #9312
If I am only working with bad live streams, in which case the duration is unknown, would this still break other usages of the adjuster?

[2021-09-09 16:28] ojw28 commented on #9312
I'm not sure to be honest. If you choose to make this modification locally, then I think you'll just have to put it through a sufficient level of QA to be confident that it's safe.

[2021-09-09 16:31] ojw28 commented on #9367
If you're using FFmpeg and not enabling any esoteric features, then you can probably be reasonably confident that it'll be doing the right thing (just because it's widely used and relatively hardened as a result).

[2021-09-09 16:51] christosts commented on #9257
Thanks for filing the issue with details. Before we add a check in the code, I'd like to understand more of the context under which you observe this error. I cannot see a straightforward path for the PlaybackStatsListener to reach that state, and there may be another bug hidden somewhere in there.

Have you managed to reproduce locally? Or, do you have any indications under what use-case this erro

[2021-09-09 16:57] krocard commented on #9319
You should use a `MergingMediaSource` to merge
 - the audio source
 -  a `ConcatenatingMediaSource` of the video sources.

[2021-09-09 17:02] krocard commented on #9319
@marcbaechinger Can you confirm if this is correct? `MergingMediaSource` has a restriction that each source should have the same number of periods, so I'm not sure it's compatible with `ConcatenatingMediaSource`.

[2021-09-09 17:31] ScottPierce commented on #9367
We've been using 2 commands:
[code]

Because of some solvable corruption we've been seeing on FireTV, we've recently swapped to encode all new videos with
[code]

Is `-profile:v high` an esoteric feature? I've definitely seen more people using CRF, which is why we swapped to it. The reason we actually chose to use profile high instead of crf is because of the firetv video codec support which suppo

[2021-09-09 17:39] #9370 closed, assigned to marcbaechinger

[2021-09-09 17:39] greyski commented on #9257
(from the same team as @shashachu)

We have not been able to reproduce locally and have set `keepHistory` to `false` for all our instances of `PlaybackStatsListener` since reporting to resolve the issue. e.g. `PlaybackStatsListener(false, null)`

From our breadcrumbs we see 2 things:

- 1 or more videos may be playing on-screen at once
- 2 or more instances of ExoPlayer may be present in memory

W

[2021-09-09 17:41] ojw28 commented on #9284
Closing this on the assumption it's an app issue as described, but please let us know if not. Doing so here is fine as long as the issue isn't locked (it doesn't matter that it's closed; we can re-open it if needed).

We updated the `StreamKey` documentation to try and make it a little clearer in the commit referenced above.

[2021-09-09 17:41] #9284 closed, assigned to ojw28

[2021-09-10 02:42] rrfrias commented on #9360
Thanks for that information. Following up with device makers. Internal ref# 199200429 (sony), 199460998 (sharp) and 199461166 (samsung)

[2021-09-10 04:42] ekindino opened #9416 "RTSP session header parser can't parse timeout parameter"
The fix for the issue #9254 disregards the timeout parameter that mat be present in session descriptors.

The previous SESSION_HEADER_PATTERN  regex was supposed to parse the ";timeout=X" part at the end which some devices use. The current regex returns the timeout parameter as a part of the session id causing a mismatch on the next request and the timeout parameter is not being parsed at all.

As

[2021-09-10 09:52] marcbaechinger commented on #9412
That works for me when I try it. On API 30 (Android 11) I see the media controls (play/pause, previous, next) on the mini player as well as on the notification on the lock screen.

Have you tried doing that when you not explicitely hide the buttons like in you sample code above?

From your snippet above:

[code]

It's worth trying when you leave these calls away, or you set true (default) instead.

[2021-09-10 10:10] marcbaechinger commented on #9319
Yes, I can confirm that [`MergingMediaSource.createPeriod()`](https://github.com/google/ExoPlayer/blob/0ba317b1337eaa789f05dd6c5241246478a3d1e5/library/core/src/main/java/com/google/android/exoplayer2/source/MergingMediaSource.java#L199) expects that all sources have the same number of periods.

[2021-09-10 10:45] deepanshu-hh commented on #9412
I am using custom action receiver and if I set these values to true then button overrides my custom action receiver which I doesn't want.

[code]

[2021-09-10 10:59] christosts commented on #9257
Does this mean the same PlaybackStatsListener instance may be attached to two players playing at the same time? (more related to point 1 above)

[2021-09-10 12:07] claincly commented on #9416
Able to repro, will be fixed soon.

[2021-09-10 14:12] #8906 closed, assigned to christosts

[2021-09-10 14:13] ojw28 commented on #8906
This should be fixed by the commit above, which constrains the seek position after it's resolved to a period position, for which negative values really are always invalid.

[2021-09-10 16:40] bhupikagautam opened #9417 "Map HLS manifest tags to a point in playback time"
I am working with the timed metadata and to access the #EXT-X-DATERANGE tag I get the manifest in the onTimelineChanged Listener using  getCurrentManifest(), from the manifest obtained I am able to get the tags list and extract the required tags.
Is there a mechanism to map the tags in this list to the point in the playback time that they correspond to?

I tried the getCurrentPosition() but it doe

[2021-09-10 17:29] stevemayhew commented on #8696
@icbaker We have seen something similar to this issue on both Broadcom and AmLogic streamer platforms.   Happy to help if we can.   For us the issue happens when moving from trick-play tracks (which, in this case, are not encrypted) to regular widevine encrypted tracks, the screen flashes to black for a frame before resuming playback.   The hack we added that "fixes" it is to comment out the reset

[2021-09-12 13:56] 3-BodyCoding commented on #9396
This is because the avc1 encoded video of ffmpeg does not start the file header. I hope exoplayer can support it.

[2021-09-12 23:38] dan-ryan opened #9418 "Null reference crash when using databinding with a custom layout xml"
Our app has been using this library for years, and I've recently updated it to the latest version (2.15.0). This has caused an "Attempt to invoke virtual method 'android.content.res.Resources android.view.View.getResources()' on a null object reference" crash on one of our screens when loading it. Has something changed in the library that I need to change? Or is it a bug?

I tested on 2.13.3, and

[2021-09-13 01:40] ybai001 commented on #9359
Sorry for late response.
Thanks for your detailed answer. It's truly out of my anticipation.

[2021-09-13 01:40] #9359 closed, assigned to kim-vde

[2021-09-13 02:42] hnv248 opened #9419 "Set request header does not work when uses Cronet"
I set 'Referer' header for httpDataSourceFactory which uses CronetDataSource but It does not work.
When I set 'Referer' header for httpDataSourceFactory which uses DefaultHttpDataSource, it works.

[2021-09-13 06:31] waqasyousafy commented on #9376
I have produced this in my application with not releasing the player in activity . In your case you point is valid that player is releasing on pause and taking time to reinitialize the player. But I am afraid that player is not releasing in pause state then it also showing same behavior with backscreen increasing in time duration if you do it continuously .

[2021-09-13 06:47] tdc-w opened #9420 "Switch multiple GLSurfaceViews smoothly without flicker"
I'm trying to switch videos using two ExoPlayers and two GLSurfaceViews.
Each GLSurfaceView is linked with ExoPlayer.VideoComponent.setVideoSurface().
FrameLayout is defined in the layout, and two GLSurfaceViews are switched to containerView by addView/removeView in the code.

The problem here is that when addView, a black screen is displayed for a moment and flickers.
AddView is executed when the

[2021-09-13 09:56] ojw28 commented on #9419
Duplicate of https://github.com/google/ExoPlayer/issues/8292.

[2021-09-13 09:56] #9419 closed, assigned to ojw28

[2021-09-13 10:11] electrodragon opened #9422 "ExoPlayerFactory not found"
In Android Studio 4.1 My Project was working fine, but when i upgraded to arctic fox, now this thing is not found?
Whats the solution or any alternative?

exact line which has error:
`exoPlayer = ExoPlayerFactory.newSimpleInstance(context, renderersFactory, trackSelectors)`

[2021-09-13 10:21] #9416 closed, assigned to claincly

[2021-09-13 10:54] andrewlewis commented on #9406
Closing on the assumption that the answer above helped.

[2021-09-13 10:54] #9406 closed, assigned to andrewlewis

[2021-09-13 10:57] andrewlewis commented on #6475
@stevemayhew Did you discover anything from the extra logging? Thanks.

[2021-09-13 11:03] icbaker commented on #8696
@stevemayhew Just to clarify: Do you just see a 'black flash' or a complete playback failure?

I agree the 'black flash' issue is similar, but this issue is specifically tracking a playback failure when switching a surface between codecs. The 'black flash' is tracked by https://github.com/google/ExoPlayer/issues/8842.

We ended up basically doing the same in https://github.com/google/ExoPlayer/com

[2021-09-13 11:48] electrodragon commented on #9422
Finally found the solution:
ExoPlayerFactory was removed in version 2.14 so we have to use something like the following.

SimpleExoPlayer.Builder(context, renderesFactory).addTrackSelectors(trackSelectors).build()

[2021-09-13 11:48] #9422 closed, assigned to ojw28

[2021-09-13 12:28] #9198 closed, assigned to andrewlewis

[2021-09-13 12:49] andrewlewis commented on #9344
I don't think there are any alternative approaches that work at the moment -- you'd need to work around the problem by splitting the ad tag as suggested above, or find a way to join the content pieces into one period. https://github.com/google/ExoPlayer/issues/3693 tracks removing the limitation that the content media source may only have one period.

[2021-09-13 12:49] #9344 closed, assigned to andrewlewis

[2021-09-13 13:07] Yahui-Li commented on #9319
So, What's the most appropriate way to solve this? I really need help.

[2021-09-13 14:07] krocard commented on #9319
Thanks for the confirmation @marcbaechinger. So it seems my suggestion to concatenate the videos and then merge them with the audio will not work due to the difference in period.
@marcbaechinger, given this limitation, what would be the best way to play multiple videos with continuous audio?

[2021-09-13 14:27] colorhaake opened #9423 "AdTagLoader: Internal error in stopAd when receiving AdEventType.LOADED event, then playing the VAST Ads"
ExoPlayer and IMA version: 2.15.0

# Issue description
I try to play the VAST video ads by using the ExoPlayer IMA extension but will receive this error
[code]
# Reproduction steps
1. setup ExoPlayer, Ads and event listener
[code]
2. play ads video when receiving the `AdEventType.LOADED` event,
[code]

I found the error coming from `Handler(Looper.getMainLooper()).post`. If I call  `videoPlayer.pl

[2021-09-13 15:42] Samrobbo commented on #9418
What version were you on where it worked fine?

This isn't really an ExoPlayer issue, it's more of a general Android one.

I would recommend you go through all the view ID's that you are using, and check they still exist/match up. If needed, you can add a `+`, as you have with some IDs, to ensure they are created.

Otherwise, I would ask on stack overflow/google.

I'll leave this open for a little

[2021-09-13 15:54] marcbaechinger commented on #9389
I can confirm the behaviour you are describing.

When the stream is first played in ExoPlayer, playback is started at the default position (`C.TIME_UNSET`). This default position is resolved to an actual position in the live window by the media source (`HlsMediaSource` or `DashMediaSource`). This includes downloading the manifest (in case of DASH) or the master and media playlist (in case of HLS)

[2021-09-13 16:07] marcbaechinger commented on #9412
Have you considered using different names than the default?

If you don't want your custom actions to be overriden, then you should try using different names like `ACTION_CUSTOM_PLAY` instead of `ACTION_PLAY`. Then override `PlayerNotificationManager.getActionIndicesForCompactView` to tell the player which custom actions to use for the compact view (the actions that are displayed when the notifica

[2021-09-13 19:34] Weevild opened #9424 "H.264 High 10 profile support"
### [REQUIRED] Use case description

Hi, so if I didn't somehow miraculously miss an already open request about this I was wondering: Would it be possible to implement support for 10-bit on the x264 codec? An exemplary justification is the wide use of the standard when it comes to medium such as animated shows (anime, cartoons etc.) which still very much favors the codec, and on this codec's quali

[2021-09-13 21:24] moneytoo commented on #9133
I'm experiencing similar video issues when attempting to play local HEVC content on the very same device (oneday) with tunneling enabled. Running ExoPlayer 2.15.0, device is also at its latest stable update.

[2021-09-13 21:29] dan-ryan commented on #9418
"What version were you on where it worked fine?"
v2.9.6 was working fine. Fairly sure v2.11.8 was also working; I'll double-check later.

"I would recommend you go through all the view ID's that you are using, and check they still exist/match up. If needed, you can add a +, as you have with some IDs, to ensure they are created."
Alright, I will check them out.

[2021-09-14 02:21] dan-ryan commented on #9418
Solved the issue. I needed to now set `app:controller_layout_id` and `app:player_layout_id` in the XML.

[2021-09-14 02:21] #9418 closed, assigned to Samrobbo

[2021-09-14 05:20] deepanshu-hh commented on #9412
No, I am using my own constant variables, not exoplayer constants (ACTION_PLAY, ACTION_PAUSE etc.), I think variables names are same coincidentally. Now, what to do, please try to explain me by small piece of code.

[2021-09-14 06:26] deepanshu-hh commented on #9412
overriding PlayerNotificationManager class and method PlayerNotificationManager.getActionIndicesForCompactView solves my problem, thanks a lot...
[code]

[2021-09-14 06:26] #9412 closed, assigned to marcbaechinger

[2021-09-14 10:12] #6784 closed, assigned to marcbaechinger

[2021-09-14 10:30] marcbaechinger commented on #9319
I don't think that there is currently a solution for this with ExoPlayer media source composition for the reasons given above. I marked this issue as an enhancement. We need to look into this and see how we can provide a solution for this. We see several approaches how we can make this work, but I can't give you a concrete timeline for when that will happen I'm afraid.

An option to have this work

[2021-09-14 10:40] mobile-pablo commented on #9286
Have someone checked for similar issue with nfc device?

[2021-09-14 12:28] strangesource opened #9425 "Is there a way to prevent `DownloadHelper` from downloading a segment on instantiation for HLS sources"
When creating a `DownloadHelper` for an `HLS` source using the `forMediaItem` methods, preparing the download helper will download the first segment from the variant playlist.
This is non - ideal for users on metered networks where data is very expensive.

I tracked this down and it seems to originate from preparing a `HlsMediaPeriod`  which needs a chunk to determine the format of the tracks (as

[2021-09-14 14:54] Samrobbo commented on #9420
@andrewlewis You were the assignee of #9248, do you have any thoughts/suggestions?

[2021-09-14 15:19] usopphammer commented on #9375
I work with Silvestr on the same project. Our ad URL has been changed and with the new URL there are no errors in exoplayer demo and our app for now. The bug can be closed. I will reopen it if the issue appears again.

[2021-09-14 15:24] #9375 closed, assigned to kim-vde

[2021-09-14 15:47] Samrobbo commented on #9424
It's likely that ExoPlayer already supports this, as long as the device has a MediaCodec component that supports it. We don't have an extension that bundles a H.264 software decoder currently.

[2021-09-14 18:17] Weevild commented on #9424
Do you reckon that the Nvidia Shield TV has said component? If so then something might be wrong on my end but it's infamous for supporting almost all and every codecs/formats etc.

[2021-09-14 21:06] jesro commented on #9399
I checked with Player.EventListener.onTracksChanged i get Formats array from TrackGroupsArray

[code]

In playlist i have
`#EXT-X-MEDIA:TYPE=SUBTITLES,GROUP-ID="subs",NAME="English",DEFAULT=YES,AUTOSELECT=YES,FORCED=NO,LANGUAGE="eng",URI="hdntl=exp=1631727001~acl=%2f*~data=hdntl~hmac=XXXXXXXXXXXXXX/playlistcaptions-cc-0.m3u8"`

If multiple subtitle language comes, how to find the one which video p

[2021-09-15 05:59] ursurya opened #9426 "Exoplayer Custom Live Seekbar with Program duration"
Hi Team,

We had a requirement to show  Live Seek bar with  Current playing Program duration while playing a LIVE content instead of complete available DVR Window. Our Streams had 2 hour DVR window. For example, if current playing program started at 11 am and ends at 11.30 am and user opens app at 11.10 am, We need to show the seek bar with 30 min window though the stream had 2 hour DVR with progr

[2021-09-15 06:01] lizuojing opened #9427 "DefaultBandwidthMeter$ConnectivityActionReceiver time consuming"
hi:
      action&ReceiveClass :
android.net.conn.CONNECTIVITY_CHANGE&com.google.android.exoplayer2.upstream.DefaultBandwidthMeter$ConnectivityActionReceiver.

exoplayer verison infomation:
    implementation "com.google.android.exoplayer:exoplayer-core:2.12.2"
    implementation "com.google.android.exoplayer:exoplayer-ui:2.12.2"
    implementation "com.google.android.exoplayer:exoplayer-hls:2.12.2

[2021-09-15 06:54] vidicunt opened #9428 "RTSP bagic authentication exception"
I'm trying to connect to a C210 Tapo TP-LINK camera but I'm getting an exception. VLC works fine.

[code]

This is the camera: `rtsp://google:exoplayer@tommyzat.go.ro:554/stream1`

[2021-09-15 08:43] cedricxperi opened #9429 "Mime Type for DTS:X streams should be "vnd.dts.uhd;profile=p2""
As mentioned in one of the comments in the following pull requests, https://github.com/google/ExoPlayer/pull/9162, the correct mimetype for streams with "dtsx" should be "vnd.dts.uhd;profile=p2" instead of "vnd.dts.uhd". This is defined in https://www.iana.org/assignments/media-types/audio/vnd.dts.uhd

[2021-09-15 11:44] nibblis commented on #9428
response from camera contains "-"
`WWW-Authenticate header Digest realm="TP-Link IP-Camera", nonce="3b3bcc47802955f801a4c753506c1d35"`

need to change regex WWW_AUTHENTICATION_HEADER_DIGEST_PATTERN in [RtspMessageUtil](https://github.com/google/ExoPlayer/blob/release-v2/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMessageUtil.java), add "-"

[2021-09-15 13:20] nibblis opened #9430 "Change ATTRIBUTE_PATTERN in SessionDescriptionParser"
Can you change [SessionDescriptionParser](https://github.com/google/ExoPlayer/blob/release-v2/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/SessionDescriptionParser.java)?

I would like to change:
`ATTRIBUTE_PATTERN = Pattern.compile("([0-9A-Za-z-]+)(?::(.*))?");`
to
`ATTRIBUTE_PATTERN = Pattern.compile("([0-9A-Za-z-_]+)(?::(.*))?");`
add `_`

The problem is that my camera's

[2021-09-15 14:19] tanishq14developer opened #9431 "I am unable to play the video"
E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor) could read the stream.
        at com.google.android.exoplayer2.source.ExtractorMedi

[2021-09-15 15:41] claincly commented on #9428
WIll be fixed soon

[2021-09-15 19:40] tanishq14developer commented on #9431
2021-09-10 06:23:14.816 8898-9368/com.example.mytv2 E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:580)
        at android.os.Handler.dispatchMessage(Handler.java:102)
        at android.os.Looper.loop(Looper.java:223)
        at an

[2021-09-15 22:18] ojw28 commented on #9431
`https://youtu.be/MMdQ-gWBNZE` is a link to a web page, not a media file. Please see [Can I play YouTube videos directly with ExoPlayer](https://exoplayer.dev/troubleshooting.html#can-i-play-youtube-videos-directly-with-exoplayer).

[2021-09-15 22:18] #9431 closed, assigned to ojw28

[2021-09-16 02:32] J6ey opened #9432 "Filter out forced subtitle tracks from StyledPlayerControlView text track selector"
I have DASH video files containing closed captions links within the mpd file, so I'm not manually adding subtitles. Some video assets have Forced language captions that I don't want to show in the player (which is showing up twice). For example, French, German, and Spanish forced should be excluded in options user can select:

French (Parisian) (Forced)
German (Germany) (Forced)
Spanish (Castilian

[2021-09-16 03:39] 3-BodyCoding opened #9433 "The video playback is black"
- ExoPlayer  2.15.0
- Android 10
- Xiaomi K30

https://user-images.githubusercontent.com/15881869/133545223-4f40b656-ff1b-46f7-8918-48389c21c051.mp4

The video picture is black, only sound。But it can play normally on other players

Log information：
[code]

[2021-09-16 07:02] marcqtan opened #9434 "How to deploy locally modified library to JitPack"
Hello, I've fork this library and modified it in my local. I've follow the instructions from https://github.com/google/ExoPlayer/blob/release-v2/README.md **(LOCALLY PART)**
and it's working fine.

Since it is working fine, I've now pushed it to my dev branch so it will be available in jitpack.

After pushing, I've added the dependency using
`implementation 'com.github.marcqtan:ExoPlayer:exoplayer

[2021-09-16 07:51] lazarflorian commented on #9317
I've also tested with the same stream on ExoPlayer Demo using v2.15.0 and the issue still reproduces.

[2021-09-16 09:25] pratimag1289 opened #9435 "MediaDrmStateException: Failed to handle key response: General DRM error"
Hi,

I am using Exoplayer to play Widevine DRM content for offline content playing. I have below params set for my widevine policy for test purpose:
[code]

The content play well until 10 minutes(playback_duration_seconds) after downloaded. Post that if i play, Exoplayer lib is trying to make license request. The license POST call is success but get below failure:
[code]

Questions:
1. Reason for

[2021-09-16 10:28] deepanshu-hh opened #9436 "NPE in 'android.media.session.ISession.getController()'"
I've noticed this log in my crashlytics:

[code]

When trying create Audio notification style within my AudioService (an Android Service which plays audio files).

I'm building that notification in this way:

[code]

I'm not being able to replicate it because in every test I do I can play audios and notification is visible (and AudioService has been created successfully).

What's wrong in my code?

[2021-09-16 11:22] Samrobbo commented on #9424
[The specs listed on the nvidia site](www.nvidia.com/en-gb/shield/specs/) mention support for H.264, but nothing about the 10-bit codec specifically. I would ask on their forums and see what you get back.

[2021-09-16 12:46] christosts commented on #9390
We performed a similar test to the one you described ("the server starts responding with 403") and spotted a bug. We submitted a fix  (see linked commit above) which is already pushed to the dev-v2 branch and will be included in the upcoming 2.15.1 minor release.

I'll close this issue for now, feel free to re-open if the fix did not fully address the issues you're observing.

[2021-09-16 12:46] #9390 closed, assigned to christosts

[2021-09-16 13:13] Samrobbo commented on #9436
@SungsooLim Hey, this is related to Session, can you take a look, or pass it on to the correct person? Thanks.

[2021-09-16 14:32] Samrobbo commented on #9434
This sounds like a `JitPack' issue, and not at all related to the development or use of ExoPlayer as a library.

I recommend you ask this question on StackOverflow, or potentially on a `JitPack` based help forum.

[2021-09-16 14:32] #9434 closed, assigned to Samrobbo

[2021-09-16 14:35] Samrobbo commented on #9427
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2021-09-16 17:09] NimaTajfar opened #9437 "How change the code in demo app to read json file from external server instead of Assets folder?"
Hi,
I use demo app within Exoplayer version 2.15.0 (latest release). Loading an external exolist.json file with deep links is not work with Google TV SDK 31 (at least with Emulator and but when i do same process and switch to Android TV SDK 28 it works please note local assets folder works in both versions (even Google TV SDK 31) . if i need to do make any other changes in Android.Manifest file in

[2021-09-16 19:31] meh111 opened #9438 "Opportunity for passing IcyDecoder encoding as argument"
Looking into IcyDecoder class, two hardcoder charset decoders:
`private final CharsetDecoder utf8Decoder;
  private final CharsetDecoder iso88591Decoder;`

please, provide customization for charset. I know many icecast streams that use other encodings. like this http://176.65.38.3:8000/blagovest provides metadata in windows-1251

[2021-09-16 19:41] ojw28 commented on #9438
I wonder if this should be handled similarly to https://github.com/google/ExoPlayer/issues/6753

[2021-09-16 19:42] tanishq14developer opened #9439 "How can I play video from local files in ExoPlayer i android ??"
Please help...please provide me sample code and i have implemented stackoverflow answers it doesn't work

[2021-09-16 19:53] meh111 commented on #9438
iso88591Decoder doesn't always throw CharacterCodingException. For example, it provides wrong decoded string from windows-1251 encoded bytes. So another try at the end won't work

[2021-09-16 21:02] ojw28 commented on #9437
Passing a URI to a `exolist.json` file when starting the demo app, [as documented here](https://exoplayer.dev/demo-application.html#2-loading-an-external-exolistjson-file), should just work. If you want to edit the code to do this directly, you'll need to edit `SampleChooserActivity.onCreate`. The `uris` variable in that method is the list of URIs that get loaded.

Server certificates and DNS issu

[2021-09-17 00:13] NimaTajfar commented on #9437
@ojw28 Thanks for respond, i started emulator (Android TV SDK 31) but when i run adb command i get this error:                                                                               ```
Starting: Intent { act=com.android.action.VIEW dat=mydomai. }
Error: Activity not started, unable to resolve Intent { act=com.android.action.VIEW dat=mydomain.. flg=0x10000000 }
[code]

[2021-09-17 01:04] #9301 closed, assigned to ojw28

[2021-09-17 02:58] niuyaweiqq opened #9440 "Regarding the issue of playback freeze, please help."
May I ask if there is a method that can help the playback freeze, the network factor is definitely the main problem, but I want to know whether setting something can be helpful to solve the freeze, if so, I hope you can give me a hint, thank you again .

[2021-09-17 03:01] NimaTajfar opened #9441 "Loading an external exolist.json file not work with emulator Google TV SDK 31 but it works with Android TV SDK 28"
Hi,
I use demo app within Exoplayer version 2.15.0 (latest release).  Loading an external exolist.json file with deep links is not work with Google TV SDK 31 (at least with Emulator and but when i do same process and switch to Android TV SDK 28 it works please note local assets folder works in both versions (even Google TV SDK 31) . if i need to do make any other changes in Android.Manifest file i

[2021-09-17 05:46] neeluagrawal04 opened #9442 "Auto Adaptive Streaming of video bit-rate in Exoplayer (Stuck in lowest resolution) using drm"
Using DRM supported urls in .mpd format streaming of video in auto mode willl stuck in low quality resolution
- ExoPlayer version number: 2.14.0
- Android version: all version
- Android device:all device

[2021-09-17 05:55] yoobi commented on #9372
Any idea? or do you need more info ?

[2021-09-17 07:35] ojw28 commented on #9437
Perhaps you figured it out, but I think there's actually a mistake in the document I linked to. It should be using `android.intent.action.VIEW` rather than `com.android.action.VIEW`. I'll get that updated.

[2021-09-17 07:59] Tolriq opened #9443 "How to optimize / handle large playlist and single thread Exoplayer approach"
I'm trying to optimize playback start when dealing with large playlists to avoid the delay of filling the playlist.

The basic solution to play 200 items starting at position 2 is:
Add the first 2 items.
Start playing the 2nd item.
Add the next items.

Unfortunately this is not as simple as that due the single threaded / messaging approach of Exoplayer.
The start playing is not instant as it might

[2021-09-17 09:30] ojw28 commented on #9441
Duplicate of https://github.com/google/ExoPlayer/issues/9437. Please don't file new issues to continue an existing discussion. Thanks.

[2021-09-17 09:30] #9441 closed, assigned to ojw28

[2021-09-17 10:11] icbaker commented on #9438
I think there's some overlap between this and the heuristic charset detection for SubRip subtitles discussion in https://github.com/google/ExoPlayer/issues/3644#issuecomment-423931864.

In both cases I suppose there are two situations:
1. The app knows what charset to use and can pass it in directly.
2. The app wants to enable heuristic detection (and all the additional deps that implies).

It see

[2021-09-17 10:41] icbaker commented on #9432
I think it's important to separate the player's track selection logic from what tracks are shown in a UI track selector.

`TrackSelector#setParameters` is all about customising the player's logic (i.e. what track(s) the player will choose to actually play).

When you pick a specific track in the track selection UI, the `TrackSelector` is updated to reflect this preference, and cause the player to

[2021-09-17 11:57] vaibhav4utt opened #9444 "Can I play YouTube video in ExoPlayer Android TV"
Can I play YouTube video in ExoPlayer Android TV.

[2021-09-17 12:43] waqasyousafy commented on #9376
any reply????

[2021-09-17 12:49] tanishq14developer commented on #9439
please help

[2021-09-17 13:05] claincly commented on #9430
Support for special characters is added in RFC4566, while we implemented RFC2327.

There will be a patch soon.

[2021-09-17 13:31] icbaker commented on #9444
Please see https://exoplayer.dev/troubleshooting.html#can-i-play-youtube-videos-directly-with-exoplayer

[2021-09-17 13:31] #9444 closed, assigned to icbaker

[2021-09-17 13:51] icbaker commented on #9442
Please provide media links and DRM license info we can use to reproduce the problem in the ExoPlayer demo app.

Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-09-17 14:16] icbaker commented on #9435
As far as I understand the meaning of these fields, what you're seeing is working-as-intended. The license allows playback for 900s from when it's created (`rental_duration_seconds`) and 600s from when playback starts (`playback_duration_seconds`).

These look like Widevine license policy questions, rather than ExoPlayer. If you're a Widevine partner I suggest you get support via https://www.widev

[2021-09-17 14:16] #9435 closed, assigned to icbaker

[2021-09-17 14:17] icbaker commented on #9440
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2021-09-17 14:21] icbaker commented on #9439
These instructions walk through playing a video: https://exoplayer.dev/hello-world.html

For `videoUri` you can use something like `file:///path/to/your/file` to play a local file.

You may also need to handle requesting permission to local files on the device: https://developer.android.com/training/data-storage

Our demo app supports playback of local files so you can look at that for more sample

[2021-09-17 14:21] #9439 closed, assigned to icbaker

[2021-09-17 14:26] icbaker commented on #9429
Assigning to @kim-vde as the reviewer of #9163 where this MIME type was added to `MimeTypes.java` (merged in https://github.com/google/ExoPlayer/commit/8e29e76b517157decf3a5993cbc32ffc759173ca).

CC @ProtoScott as the author of #9163 and #9162 and @krocard who pointed out the `profile=p2` thing in #9162.

[2021-09-17 15:29] NimaTajfar commented on #9441
@ojw28  This is not duplicate issue #9437. I achieve to run external server now with Android TV SDK 28 , i am reporting there is a problem with EXoplayer and Google TV SDK 31 NOT work with external server and emulator at least,

[2021-09-17 15:34] ojw28 commented on #9441
It's so closely related that it's basically part of the same discussion. If you create a new issue then it may be routed to a completely different person, which is not efficient if the new issue is about loading an external exolist.json file, and you're already talking to someone about loading an external exolist.json file.

[2021-09-17 15:38] ojw28 commented on #9437
From https://github.com/google/ExoPlayer/issues/9441, it's stated that the intent does not work on the Google TV SDK 31 emulator. We will take a look.

[2021-09-17 15:52] ojw28 commented on #9437
Please could you provide some more precise reproduction steps for the Google TV issue? I don't see any TV emulator images for SDK 31, so I'm a little on how to reproduce what you're doing. Thanks!

[2021-09-17 17:00] pratimag1289 commented on #9435
@icbaker thanks a lot for confirming that its an expected behavior and marking it as a question.

I want to know after  ```rental_duration_seconds``` and ```playback_duration_seconds``` expiry, does exoplayer lib allow to manually renew license? if yes then how?

Are there any specific exception Exoplayer throws when this duration expires?

[2021-09-17 17:29] #9385 closed, assigned to kim-vde

[2021-09-17 20:21] NimaTajfar commented on #9437
@ojw28

1. just upate your Android studio to the latest stable version or which is Install Android Studio Arctfic Fox 2020.3.1 patch 2
2. from sdk manager , install Android 12.0 (S) Google TV X86 image
3. run the demo app on Google TV SDK 31 emulator
4. execute this command adb shell am start -a android.intent.action.VIEW
-d your.domain/exolist.json
Result : it DOESNT load and there is a toast (me

[2021-09-18 03:43] ducanh3005 opened #9445 "How to cache dash in exoplayer"
i tried caching hls video and it works fine however when using dash video it doesn't work. Can you guide me?

[2021-09-18 09:14] RexSuper opened #9446 "DataSourceException.POSITION_OUT_OF_RANGE，AAC decoder returned error 0x0005, substituting silence"
我现在遇到了一个困难的问题，播放器播放歌曲突然没有声音了，切歌之后可以恢复，详细报错如下，请问如何解决呢。
核心报错是

I have encountered a difficult problem. The player suddenly has no sound when playing songs. It can be recovered after cutting songs. The detailed error reports are as follows. How can I solve it.
The core error is

1.AAC decoder returned error 0x0005, substituting silence
2.AAC decoder returned error 0x4004, substituting silence
3.upstr

[2021-09-18 09:26] RexSuper commented on #9446
<img width="1001" alt="image" src="https://user-images.githubusercontent.com/38449675/133884081-aa68c5b4-26b8-4d47-b25d-64560e7d7098.png">

[2021-09-18 17:55] NimaTajfar opened #9447 "Exoplayer is unable to load some of HLS urls But Safari on Mac could load them!"
Hi , Please try these 2 url which works with Safari Macos and loaded with Safari but not with Exoplayer ,
 i tried latest version of Exoplayer 2.15.0 and it didn't load the stream. here is the url:

https://ss.90minlive.online/live/tv3-l/playlist.m3u8

just open above HLS url with emulator or tv with demo app.

[code]

[2021-09-18 18:07] NimaTajfar commented on #9437
@ojw28 I read document and google that but didnt find anything about this question also as another related question (different subject)  about loading external server , i am curious to know after executing this command:
[code]
after above command  if i exit the app or power off android devices then the list disapear which is not appropriate and intended. i mean if i want to permanently run externa

[2021-09-19 01:43] Zoom-Adr opened #9448 "add custom user-agent in exolist json"
how to use custom header user-agent in exolist json?

      {
        "name": "Sample",
        "logo_uri": "http://logourl.com",
        "uri": "streamurl.m3u8"
        "custom_agent": "myuseragent"
      },

[2021-09-19 11:07] ojw28 commented on #9447
Please see [this troubleshooting entry](https://exoplayer.dev/troubleshooting.html#fixing-sslhandshakeexception-and-certpathvalidatorexception-errors).

[2021-09-19 11:07] #9447 closed, assigned to ojw28

[2021-09-19 11:19] ojw28 commented on #9437
It would be helpful to know the exact `adb shell` command you're running (including the actual URI that you're using). I have not been able to reproduce the problem so far.

The demo app is intended to be just that; a relatively simple demonstration app that both the library developers and application developers can use for testing purposes and to get some idea of ExoPlayer's capabilities. It's no

[2021-09-19 11:21] ojw28 commented on #9448
This is not supported by the demo app. If you want to change it in code, [you can do so here](https://github.com/google/ExoPlayer/blob/r2.15.0/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoUtil.java#L64).

[2021-09-19 11:21] #9448 closed, assigned to ojw28

[2021-09-19 13:30] ZeroOneZeroR opened #9449 "Support progressive forward seeking (without flushing the decoder)"
Suppose my current player position is 100ms. Now I want to seek to 150ms. As 150ms is slightly greater than 100ms, we don't need to seek to previous sync frame and come to current seek position. We can just step forward the decoder. I think this will be useful in smooth and fast forward seeking. Is this possible in this player? If it is not possible directly, how can I achieve this? Any thoughts w

[2021-09-19 15:14] omouren opened #9450 "MediaCodecVideoRenderer: Video codec error"
Possible duplicate of : https://github.com/google/ExoPlayer/issues/9116

I have this error on my Pixel 5, I can only view 1 second of the video and the app is crashing.
Same app works great on my Pixel 3
App source code : https://github.com/fpvout/DigiView-Android

[code]

- ExoPlayer version number : 2.13.3 (but also on 2.15.0)
- Android version : 11
- Android device : Google Pixel 5

[2021-09-19 16:55] AleAmla987 opened #9451 "How can I detect incoming calls to pause and resume audio?"
How can I detect incoming calls to pause and resume audio?

[2021-09-19 18:10] moneytoo opened #9452 "Capitalize first letter of a text in track selector menu items"
This is how the audio selector of `StyledPlayerView` looks like in two languages (English and Czech):

![languages](https://user-images.githubusercontent.com/1071643/133937946-74be1518-4d19-4935-b4eb-a1743d296766.png)

In Czech (and other languages probably as well), the language name (`angličtina`) is in all lower case characters. But because of the use in this menu, I think the first letter shou

[2021-09-19 18:13] moneytoo commented on #9451
AudioFocus solves that: https://medium.com/google-exoplayer/easy-audio-focus-with-exoplayer-a2dcbbe4640e

[2021-09-20 00:16] aemre opened #9453 "onAdsManagerLoaded callback never triggered"
I want to access adsmanager object like:
@Override
    public void onAdsManagerLoaded(AdsManagerLoadedEvent adsManagerLoadedEvent) {
        //HERE
    }

but this cb never called.
Why this callback never triggered? How can I access adsManager object ?

[2021-09-20 02:55] J6ey commented on #9432
The first one, however, the subtitles are retrieved during Widevine playback, e.g., one of the subtitles that needs to be filtered, shown here is labeled **German (Germany) (Forced)**.

![image](https://user-images.githubusercontent.com/13736507/133952729-866d1329-c7f7-4e2e-9a80-d503d0e60458.png)

I've been using
``DefaultTrackSelector trackSelector = new DefaultTrackSelector(this, new AdaptiveTra

[2021-09-20 03:01] AleAmla987 commented on #9451
thank you help me

[2021-09-20 03:01] #9451 closed, assigned to nobody

[2021-09-20 03:03] AleAmla987 opened #9454 "How to cache only part of the audio"
I have 10 audiobooks in a list and each one is 10mb in size, I would like to cache 1mb of each audio to play it immediately, is it possible?

[2021-09-20 06:12] gkj17 commented on #9356
I think Exoplayer can not read my stream by URL which is encrypted by AES 128.
Like https://video.buycar5.cn/20200912/oeIANyhC/index.m3u8.

Here is detail information in m3u8:

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:6
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-KEY:METHOD=AES-128,URI="https://ts1.yuyuangewh.com:9999/20200912/oeIANyhC/1000kb/hls/key.key"
#BYTERANGE:3.2,
4
#EXTIN

[2021-09-20 06:14] cinohub commented on #9356
Yeah, I know. I did not found the answer

[2021-09-20 06:29] gkj17 commented on #9356
@duongnv1996 , https://github.com/Stars-One/M3u8Downloader, This is a feasible approach, but I don't know how to apply it in exo

[2021-09-20 07:41] gkj17 opened #9455 "some m3u8 video cannot play"
I think the solution is about the VI.  Because some video haven't IV , and if IV is empty, maybe it shoule be  replace with somwhat 0?

<details>
  <summary>Here is detail information of m3u8</summary>

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:6
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-KEY:METHOD=AES-128,URI="https://ts1.yuyuangewh.com:9999/20200912/oeIANyhC/1000kb/hls/key.key

[2021-09-20 07:51] neeluagrawal04 commented on #9442
sample url with the license info is shared on the provided mail id

[2021-09-20 08:33] icbaker commented on #9442
Thanks for the stream details - however I'm unsure what do with the base64 (?) string provided for the DRM info. I was expecting a license server URI that I could pass to [`MediaItem.Builder#setDrmLicenseUri(String)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.Builder.html#setDrmLicenseUri(java.lang.String)).

Could you please explain how you use this string to con

[2021-09-20 08:49] christosts commented on #9257
We added a check in `maybeUpdateMediaTimeHistory` to avoid the error - see the linked commit above. We haven't been able to repro locally to verify under what circumstances this error can be raised. Per my comment above, avoid using the same listener instance on two players in parallel (in case that happens).

Closing the issue as a fix is submitted. Thanks.

[2021-09-20 08:49] #9257 closed, assigned to christosts

[2021-09-20 09:29] johnquinn-syn commented on #9391
Thank you for investigating. I don't think we have the right expertise in this area to offer a fix. Is something that Nigel suggests doable?

[2021-09-20 09:34] nigelmegitt commented on #9391
My expertise is in the format and rendering requirements, not the specific implementation of ExoPlayer, so this may be way off, but I wonder if the shadow attributes in [TextAppearanceSpan](https://developer.android.com/reference/android/text/style/TextAppearanceSpan) could be helpful.

[2021-09-20 10:01] icbaker commented on #9432
This isn't a UI component. From the screenshot it looks like you're using `StyledPlayerView` and `StyledPlayerControlView` from ExoPlayer's UI library - is that correct?

------

Thanks for the stream. The DRM license doesn't seem to work [1], but I think that's OK because I can still see all the track info for the text tracks without it.

----

I think there are two separate things going on here:

[2021-09-20 11:12] ojw28 commented on #9367
I wouldn't say so, no.

I think the next step is for Amazon to investigate your issue. If you've filed an issue somewhere that's publicly visible, could you please add a link to it here? Thanks!

[2021-09-20 12:25] neeluagrawal04 commented on #9442
Thanks for a quick response. Replied on a separate mail thread for your reference and provided the details in the same.

[2021-09-20 13:33] christosts commented on #9429
The fix will be included in the upcoming 2.15.1 release.

[2021-09-20 13:33] #9429 closed, assigned to kim-vde

[2021-09-20 13:35] christosts commented on #9428
The fix will be included in the upcoming 2.15.1 release.

[2021-09-20 13:35] #9428 closed, assigned to claincly

[2021-09-20 14:45] tonihei commented on #9122
This feature request has come up for the second time now, so it's probably best to mark this as an enhancement. See https://github.com/google/ExoPlayer/issues/8218#issuecomment-810243392 for the proposed API.

[2021-09-20 14:51] broscr opened #9456 "PlayerNotificationManager notification background color not changing"
I created PlayerNotificationManager. But background color of the notifications does not change .It's just the color changed of the icons.

<a href="https://ibb.co/42CzpqV"><img src="https://i.ibb.co/42CzpqV/Screenshot-1632149398.png" alt="Screenshot-1632149398" border="0"></a>

[code]

[2021-09-20 15:45] kim-vde commented on #9376
You should probably release the player when the app goes to the background so that it doesn't hold resources that might be needed by other apps (like we do for the demo app).

[2021-09-20 16:15] kim-vde commented on #9278
Closing due to inactivity.

[2021-09-20 16:15] #9278 closed, assigned to kim-vde

[2021-09-20 16:38] raphaelnew commented on #9166
@claincly  I have same exact issue but with local video files, exactly started with **2.14.1** and still appearing on **2.15**, using ConcatenatingMediaSource (1st video, 2nd different video, **3rd same as 1st not playing**...Player.STATE_BUFFERING).

[2021-09-20 17:47] #9454 closed, assigned to ojw28

[2021-09-20 18:05] SreeniMannem opened #9457 "Will ExoPlayer supports playing RTSP stream in the background"
Hi Team,

I am using ExoPlayer 2.15.0 version to stream RTSP using ip camera.

I am able to stream through RTSP to Android app.

When the App pushed to background, it is unable to get stream from IP Camera and hence YouTube not receiving any stream from my app.

Could you please let me know, will it supports streaming while app in the background. If Yes, please help me how to achieve this.

Thank

[2021-09-20 18:13] Mkurbanov commented on #6166
it's working. just add DefaultHttpDataSource.Factory to DownloadManager. like this code:
[code]

[2021-09-20 18:18] kschults commented on #6166
@Mkurbanov That solution is fine if you only need a single header that's the same for all downloads. If you need a different header per-download, this won't work.

[2021-09-20 21:09] ojw28 commented on #9455
Closing as a duplicate of https://github.com/google/ExoPlayer/issues/9356.

[2021-09-20 21:11] tfrysinger commented on #7887
@usmanrana07 - you can use the DataSpec argument to request only an initial amount, i.e. here is what I am doing:

In my onCreate():
[code]
In my preLoadMedia() method:
[code]

My problem is that while this does seem to use the same cache directory as when the video is buffered cached directly when asked to play (i.e. not a 'preLoad'), Exoplayer doesn't seem to recognize that this same uri is in t

[2021-09-20 21:13] ojw28 commented on #9455
Reopening this... I think we're supposed to use the media sequence number in this case, as per [the RFC](https://datatracker.ietf.org/doc/html/rfc8216#section-5.2). If you'd like us to look at this, please provide a working test stream. The link (https://video.buycar5.cn/20200912/oeIANyhC/index.m3u8) provided in https://github.com/google/ExoPlayer/issues/9356 is not accessible from the UK.

[2021-09-20 21:15] ojw28 commented on #9455
Since the individual segments do seem to be accessible, it might be possible to replicate the issue without a working test stream, by side-loading the m3u8 information provided above as a local file. @christosts - Is this something you could take a look at?

[2021-09-20 21:16] ojw28 commented on #9356
@gkj17 - We'll track your issue separately in https://github.com/google/ExoPlayer/issues/9455. If the issue is that the IV is omitted, then it's different to this one, since the IV is not omitted in this case.

I will go ahead and close this issue because complete information that would allow us to reproduce the problem, including an accessible test stream, was not provided.

[2021-09-20 21:16] #9356 closed, assigned to ojw28

[2021-09-20 21:19] wazerstar commented on #5491
Seems that @EricBerendsen responded having no problems with others using his code.

https://github.com/EricBerendsen/dvbinspector/issues/19

[2021-09-20 21:32] greyski commented on #7887
@tfrysinger Just to clarify: This works for MP4, not ABR (HLS/DASH) video sources correct?

[2021-09-20 22:16] tfrysinger commented on #7887
I actually don't know - I've only tried it using mp4. Probably someone from the Exoplayer team needs to weigh in here. I think the only difference between those is which DataSource type you use, right? Can't you wrap both types into a CacheDataSource?

[2021-09-20 23:54] cedricxperi commented on #9429
Thanks to all. Looking forward to this fix.

[2021-09-21 01:04] #9309 closed, assigned to icbaker

[2021-09-21 01:04] #9288 closed, assigned to claincly

[2021-09-21 05:41] gkj17 commented on #9455
I don't know why. I can't access the URL through the web in China either (probably because the certificate has expired). However, I can get the responseBody with the code, which is the specific message given above,

[2021-09-21 05:43] gkj17 commented on #9455
I have tried several player kernels, and in the end only the Ali Play kernel can play this URL (although the URL may have an expired certificate).
I have tried [exo](https://github.com/google/ExoPlayer), [jk](https://github.com/bilibili/ijkplayer), [ali](https://github.com/alibaba/CicadaPlayer)(successfully).

[2021-09-21 08:03] marcqtan opened #9458 "MediaMetaData returns null values if player is set to Player.REPEAT_MODE_ONE"
- ExoPlayer version number: 2.15.0
- Android version: OS 10
- Android device: Samsung a35

I am playing a local mp3 and to get its information,I've override onMediaMetadataChanged to get the title information like below:

[code]
At first run, It's successfully showing the title of the currently playing item, but when I set the player.repeatmode to REPEAT_MODE_ONE and right after player goes back t

[2021-09-21 08:25] icbaker commented on #9442
Thank you - I'm able to play the video with the information provided.

I noticed that there are 3 video representations in the DASH manifest with 3 different resolutions but the same bitrate:
[code]

And the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) reports the same info via its [debug logging](https://exoplayer.dev/debug-logging.html):
[code]

I downloaded a couple of segm

[2021-09-21 08:25] #9442 closed, assigned to icbaker

[2021-09-21 11:01] brozikcz commented on #771
Hi, it's me again...
Another question about this feature.

I probably don't understand correctly how it works with multiple `AdaptationSet` in MPD (DASH). Because the instance of `BaseUrlExclusionList` is the same for all `AdaptationSets` (video / audio) and when the video failed on one location the `DefaultDashChunkSource` add location (one `BaseUrl`) into blacklist

[code]

but this will be appl

[2021-09-21 11:20] marcbaechinger commented on #771
If there is a load error with the current base URL, all base URLs with the same priority or service location are excluded. The next time a base URL needs to be selected, the selection only considers the base URLs that are not yet excluded.

For your example this means, if there are only two base URLs, then only one base URL can be excluded. If after this, another load error for audio segments occu

[2021-09-21 12:16] brozikcz commented on #771
Heh, thank you. I tried the build from dev-v2 and that fixed my issue.

[2021-09-21 13:07] sam-m3 opened #9459 "custom implemented FfmpegVideoRenderer crashes with YUV12 on some devices"
The Issue:
-------------------------

I have an HLS stream which is played by android tv devices, stb devices and also mobile devices;
One of the formats of the video streams is `video/mpeg2` which is not supported by new android phones.
As a workaround I implemented an `FfmpegVideoRenderer` and `FfmpegVideoDecoder` based on #7132 pull request.

I have two issues with it;

#### First:
 The softwar

[2021-09-21 13:12] SuryaChundawat opened #9460 "About resolution selection."
In case of auto resolution, How to know which resolution is selected . In attached image it shows auto 720p. so here my question is how to get auto is running on 720 p. i take this picture from youtube for better explaining my question.

![image](https://user-images.githubusercontent.com/21680499/134176240-6c563f95-227a-4352-a7ca-209040138de9.png)

[2021-09-21 13:59] AleksaDjordjevic97 opened #9461 "Video won't start programmatically"
Video won't start when calling the start() function programmatically. It wont pause also. I want to apply those functions on my custom button outside the View, without using the MediaController.

[2021-09-21 16:04] rohitninawe opened #9463 "DASH Manifest with H265 (hevc) codec does not work"
# Bug
Player throws an error when the Dash manifest includes H265.

Affected manifest: https://travelxp.s.llnwi.net/watch1/6130b8c5c66ce2ff85d3f069/manifest_v1.mpd
Affected Models:
- [Oppo A7](https://www.gsmarena.com/oppo_a7-9394.php)
- [Moto G5S Plus](https://www.gsmarena.com/motorola_moto_g5s_plus-8699.php)

It has HEVC codec adaptation first and H264 codec adaptation second in the DASH manifes

[2021-09-21 17:39] ezflutter opened #9464 "Enable Audio Offload to Minimize Battery Usage"
I cannot find "DefaultRenderersFactory.setEnableAudioOffload" and "ExoPlayer.experimentalSetOffloadSchedulingEnabled" for more details on how to enable audio offload for exoplayer.

https://exoplayer.dev/battery-consumption.html

- ExoPlayer version number:  2.15.0
- Android version:  11
- Android device:  Samsung A32

[2021-09-22 05:15] marcqtan commented on #9458
It's working fine in v2.14.2..

[2021-09-22 06:42] prashantchothani commented on #9463
It has HEVC codec adaptation first and H264 codec adaptation second in the DASH manifest. Ideally if the device is not supporting HEVC, it should have played H264.

[2021-09-22 07:19] rohitninawe commented on #9463
Correct, that should be the expected behavior but seems like it failed to do so.

[2021-09-22 09:22] claincly commented on #9166
Please be more specific. Are you playing back local video files, or are you streaming files "local" to the RTSP server?

Using CancatenatingMediaSource, are all three videos RTSP? Does each of the video play?

[2021-09-22 10:12] arunkumartdr opened #9466 "[Solved] Play Clearkey Encrypted DASH with Single KEY and KID (no key rotation / key server)"
How i Encode the video and play with Html5 : [Encode Guide by Dash Industry Forum ](https://github.com/Dash-Industry-Forum/dash.js/wiki/Generate-MPEG-DASH-content-encrypted-with-MPEG-CENC-ClearKey)

The Dash File Looks like:

[code]

To decrypt the video We have to Convert hex key to base64:
[code]

I Would like to provide the a sample clearkey encrypted file for testing: [https://media.axprod.net

[2021-09-22 10:33] arunkumartdr commented on #9466
Look at this too : https://github.com/google/ExoPlayer/issues/7120

[2021-09-22 10:40] dcvz commented on #9303
@marcbaechinger any insight on the efforts to allow this again? Being able to do this would be great for us.

[2021-09-22 10:55] RexSuper commented on #9446
![image](https://user-images.githubusercontent.com/38449675/134331512-e45f81a0-7cc7-4d40-afaa-86cc3eac87ce.png)

[2021-09-22 10:56] RexSuper commented on #9446
![5b45918483d05eda12f9a653789b9d3a](https://user-images.githubusercontent.com/38449675/134331610-33873080-8806-4e8a-9a69-0334344bc92f.png)

[2021-09-22 11:04] marcbaechinger commented on #9303
Have you noticed the commit above? This is on `dev-v2` already and will be released soon.

[2021-09-22 11:08] mpivchev opened #9467 "How to make a custom notification action compact?"
Since there's also no way I found to provide my own `Intent` for the default actions, like play/pause and so on, I ended up creating custom actions via `PlayerNotificationManager.CustomActionReceiver`:

[code]

...but there is no way to make this action appear in the compact notification.

In the documentation it's said that `getActionIndicesForCompactView` can be overridden so I can customize whi

[2021-09-22 11:22] dcvz commented on #9303
Ah, must've missed it! Glad to hear! If I may ask (knowing estimates are approximate), is soon expected to be days or weeks?

[2021-09-22 11:25] billyjoker commented on #8913
Is it a good idea to reduce a bit the DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS ? I mean, not at the beginning but when during the playback is needed a rebuffering

[2021-09-22 11:26] marcbaechinger commented on #9467
I think this is a duplicate of #9303. Can you check whether this issue helps in your case? If not please re-open.

[2021-09-22 11:26] #9467 closed, assigned to marcbaechinger

[2021-09-22 11:30] marcbaechinger commented on #9303
I think 2.15.1 will be released this or next week.

[2021-09-22 11:45] RexSuper commented on #9446
经过分析，这个问题核心是下载的时候产生了DataSourceException.POSITION_OUT_OF_RANGE
这和之前的"Response code: 416"非常类似，但是之前有OnPlayError的回调，我们下层还可以做回调处理。这次的bug没有。
EOFException
28849:09-18 09:34:38.892 E/EventLogger( 2336):       at com.google.android.exoplayer2.source.j.a(SampleDataQueue.java:191)

请问我该如何处理这种情况呢？

After analysis, the core of this problem is that datasourceexception.position is generated during downloading_ O

[2021-09-22 12:01] arunkumartdr commented on #9466
Guys Here i found the solution :

[code]

[2021-09-22 12:01] #9466 closed, assigned to icbaker

[2021-09-22 12:05] andrewlewis commented on #9453
When using the IMA extension there isn't currently a way to access this; see also the discussion in #9097.

Please also check #8158 for ways to do things without relying on accessing the `AdsManager` directly. What do you need the ads manager for?

[2021-09-22 12:13] krocard commented on #9446
@kim-vde could you take a look at this EOF handling of MP4 extractor. Is this expected (for example the file is truncated) or is some handling missing.

@RexSuper Could you please share the problematic mp4?
If you're unable to share the test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#1234" is replaced with your issue number). Please

[2021-09-22 12:15] krocard commented on #9459
@ojw28 what is the status of the `FfmpegVideoRenderer` ? Are there known issues or progress compare to the pull request?

[2021-09-22 12:19] krocard commented on #9443
@marcbaechinger are significant delay expected for large playlist?

@Tolriq as a workaround, add an item to the playlist on each `Player.Listener.onMediaItemTransition` callback. It is called every time the current item has finished playing.

[2021-09-22 12:25] krocard commented on #9449
I don't believe this is currently supported by ExoPlayer. It would need to special case a transition that doesn't go over a sync frame.
@andrewlewis do you think such optimisation would be worth tracking?

[2021-09-22 12:56] claincly commented on #9457
Please provide more details.

I'm not sure what you are trying to do:

Is ExoPlayer not receiving packets from the camera?

Please specify how you are using ExoPlayer + YouTube, it all seems unclear.

[2021-09-22 12:59] #9393 closed, assigned to claincly

[2021-09-22 13:00] claincly commented on #9393
I'm closing this issue for now, please feel free to re-open if you have further questions.

[2021-09-22 13:05] icbaker commented on #9435
It's probably better to check you have enough license duration before starting playback, e.g. with `OfflineLicenseHelper#getLicenseDurationRemainingSec`.

You can renew an offline license using `OfflineLicenseHelper#renewLicense`.

[2021-09-22 13:23] krocard commented on #9461
There are many reason that the "video won't start" when `play()` is called:
 - play was not actually called when your button was pressed
 - prepare was not called
 - the content could not be downloaded
 - the content could not be decoded

It is not possible for us to help you with the information provided. Please take a look at our demo application and our [minimal example](https://exoplayer.dev/h

[2021-09-22 13:28] krocard commented on #9461
I assumed in my previous answer that you meant `play` when you wrote `start` as ExoPlayer has no `start` method. Could you clarify what `start` method your app is calling.

[2021-09-22 13:39] krocard commented on #9464
I'm not sure why you could not find them. Github search bar finds them for me. Here are direct links:
 - [`DefaultRenderersFactory.setEnableAudioOffload`](https://github.com/google/ExoPlayer/blob/r2.15.0/library/core/src/main/java/com/google/android/exoplayer2/DefaultRenderersFactory.java#L240-L257)
 - [`ExoPlayer.experimentalSetOffloadSchedulingEnabled`](https://github.com/google/ExoPlayer/blob/r

[2021-09-22 13:39] #9464 closed, assigned to krocard

[2021-09-22 15:10] Tolriq commented on #9443
I need to queue before to be able to have gapless transition and show the playlist to the users + delaying too much means that I need to have some proper mechanism to handle user interaction during the playlist filling like stopping or starting a new queue.

Many uses cases that are problematic to handle properly.

Once the codecs are initialized a very small delay is enough to have the song start

[2021-09-22 15:39] mpivchev opened #9468 "Invalidating the notification does not refresh custom actions"
I have the following implementation of `PlayerNotificationManager.CustomActionReceiver`

[code]

The problem is my `actions` arrive late. Not only that, we would like to support updating the custom actions in runtime. Sadly this doesn't seem possible when calling `PlayerNotificationManager.invalidate()`. `createCustomActions()` never gets called again after calling `invalidate()`. This call seems

[2021-09-22 15:45] krocard commented on #9443
You don't have to push the next item to play, this would indeed break gapless playback and ExoPlayer ability to buffer over item transition.

Push the N first items (for example 5) before starting playback. Then on each `Player.Listener.onMediaItemTransition` add an item. That will make sure ExoPlayer always knows the next N items to play.

[2021-09-22 15:48] PavelGP opened #9469 "Question about a manifest Redirection(301 http status)"
Question:
During the playback ExoPlyaer periodically performs manifest requests. So I set a manifest URL "A" to ExoPlyaer and ExoPlyaer makes a request and get a new manifest URL B  after the redirection(URL "A" returns URL "B" with 301 http status). And this happens every time when the player is trying to request manifest. Player uses URL "A "and get URL "B" and only then it get a manifest follow

[2021-09-22 15:49] Tolriq commented on #9443
@krocard

And how to you handle user cancelling the queue and starting another one while queuing is occurring? You need to implement a complex queue manager on top of everything.
How do you handle the user that want to reorder the queue if the items are not there yet? Duplicate all the queue handling on your own side?

Please don't close as this is certainly not a solution but a very ugly and limi

[2021-09-22 16:22] MohitDixit opened #9470 "exo_playback_control_view: Error inflating class ImageButton"
Hi Team,

I am getting these firebase crashlytics issues in exoplayer version 2.10.5 is this known issue?

I am using   <com.google.android.exoplayer2.ui.PlayerView in my xml file.

P.S. I am working on upgrade on latest version but is it breaking due to latest version changes? As it was pretty stable back then.
Logs:
Fatal Exception: java.lang.RuntimeException
Error inflating class com.google.and

[2021-09-22 16:44] krocard commented on #9443
Presumably keeping just the next item in the playlist should not be too complex (playlist has the current and next item). Change it if your app's queue first item changes.

[2021-09-22 16:48] krocard commented on #9443
Could you characterize that delay? How long are we talking about <100ms or over that.

Some ideas:
 - Are you using `addMediaItem(MediaItem)` to add each item one by one (lots of RPC) or using `addMediaItems(List<MediaItem>)` to add all MediaItem in one call.
 - Have you tried to use Android Studio's profiler to check what is slowing down the playlist insertion? Maybe the hot spot is in your code.

[2021-09-22 17:01] Tolriq commented on #9443
That means handling the whole queue system and reordering, shuffle, repeat and everything on the app side, completely defeating the ExoPlayer playlist stuff.

As described in a previous message I'm talking about couple of seconds for 100 items. Profiler is broken for me on AS Bumblebee. I should try systrace by adb if I can't fix that one.

I'm using the single ```addMediaSource``` as I had memory

[2021-09-22 19:24] arunkumartdr commented on #9460
hai ,can  you please help me to implement quality selector(java).
Thanks.

[2021-09-22 20:09] arunkumartdr opened #9471 "Help Needed to Implement DASH / HLS Quality Selector With UI(xml)"
HAI , I would like to implement Quality Selector like this:
![image](https://user-images.githubusercontent.com/31769796/134412168-a285f46f-216d-4fc1-8628-8de0f09730d1.png)

I have tried this: (JAVA)
[code]

But i have to implement a ui to choose and change quality (like above image).

Note:
- This Question May Found Duplicate , But i dont get a perfect solution.
- If found a good Working Implement

[2021-09-23 00:53] emveepee opened #9472 "h262 support codec tag"
Is there a way to modify the codec tag support for h262 files in software without changing the core library?  A user has provided several video samples from the US with CableCard mpeg2video that have  0x80 in the codec_tag.   Exoplayer default does not detect video or flag a warning that video isn't support by the player.  Video will  play  if I hard-code  this in DefaultTsPayloadReaderFactory

[c

[2021-09-23 01:04] #9323 closed, assigned to icbaker

[2021-09-23 02:51] RexSuper commented on #9446
https://user-images.githubusercontent.com/38449675/134447944-e9339516-c799-4816-8aeb-1af603cc0f37.mp4

This is the MP4 that has a problem, but it is not a necessary problem. Therefore, it is very difficult for me to analyze this problem now. I need your help. Even if it is not solved, let me know that the wrong callback has a way to resume playback. Thank you very much

[2021-09-23 05:53] ursurya commented on #9426
Hi Team,

Can you please help on how to achieve this
Thanks,

[2021-09-23 06:58] gfslx999 opened #9473 "How do I get the currently displayed subtitle content without showing it on the video."
I have a need,  how do I get the currently displayed subtitle content without showing it on the video.
Would you please help me? Thank you

[2021-09-23 07:11] ghost commented on #9142
@icbaker hi, whether this issue can fixed soon?

[2021-09-23 08:32] icbaker commented on #9473
Add a `Player.Listener` using [`Player#addListener`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#addListener(com.google.android.exoplayer2.Player.Listener)) and implement the [`onTextOutput`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/text/TextOutput.html#onCues(java.util.List)) method.

That method will be called every time the cues "on scr

[2021-09-23 08:56] Pentaphon commented on #9142
Do you think there's any way for Exoplayer to "take over" in case an OEM has a buggy decoder (that they might never end up fixing due to short Android update commitments) in order to ensure proper playback across all devices? It seems to me that Google/AOSP/etc has an incentive to come up with a solution for these bad OEM practices since the end user is just going to "blame Android" instead of the

[2021-09-23 09:19] ghost opened #9474 "com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/dolby-vision, hev1.08.04, -1, null, [1920, 1080, 29.978088], [-1, -1]), format_supported=NO_EXCEEDS_CAPABILITIES"
ExoPlayer version number 2.15.0
Android version 10, 11
Android device:
- Emulator: 720 x 1600, api 29 (Android 10), RAM size 1536
- Vivo V2027 Android: 10 RAM: 4G
- Oppo A73 Android: 11
---------
- I try use ExoPlayer to play video, some video work find, some get an error:
`com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, vide

[2021-09-23 09:21] icbaker commented on #9142
There are 3 interlinked issues here:
1. `c2.android.vp8.decoder` doesn't support videos with odd resolutions. It declares this correctly (i.e. if you ask it whether it supports a video of 1280x719 then it will say "no"). This is tracked by:
   *  #9103
2. Codecs sometimes say "no we don't support that resolution" when in fact playing the video works fine. This is in fact the case for the `c2.qti.v

[2021-09-23 09:22] icbaker commented on #9142
@baonq-2356 We have no plans to resolve this issue soon. As explained in various comments above it has no real-world effect on whether an odd-dimensioned VP8 video is playable on a device or not, it only changes the logging and is therefore not considered high priority.

[2021-09-23 09:48] icbaker commented on #9474
Please can you try on 2.15.1? This might be resolved by https://github.com/google/ExoPlayer/commit/54418eb644ac3b0330a1ad6154a5a9417a83207e

[2021-09-23 10:09] marcqtan commented on #9458
Hello any updates on this? Thanks! @marcbaechinger

[2021-09-23 10:46] krocard commented on #9460
Assuming you are using the default track selector, use `player.getCurrentTrackSelection()`. Here is a example:
[code]
Having multiple video track group is unlikely though.

Does that answer your question?

[2021-09-23 10:54] andrewlewis commented on #9449
Yes, I think it's fine to track though I'm not sure about prioritization (so I will mark it as low priority for the time being). I didn't spot an existing enhancement request for this.

[2021-09-23 11:02] arunkumartdr commented on #9460
Here , i think you are providing a way to get current resolution used by the player.
But,
I would like to implement the quality selector with UI  also.
Ex : youtube

![image](https://user-images.githubusercontent.com/31769796/134496153-67224a35-00b5-4870-8ee8-2c1f6bbe0ada.png)

See this question raised by me here: https://github.com/google/ExoPlayer/issues/9471

[2021-09-23 12:11] sam-m3 commented on #9459
@ojw28 @krocard
I managed to solve the first issue.
changing the `while(height--)` from the `ffmpeg-jni.cc`, line `448` to `while(--height)` solved the issue, even though the last pixel line from the bottom is distorted a little bit, but supporting video/mpeg2 format for mobile devices makes up for it xD.

The second issue still remains, If you could help me with that one, I'll be really thankful.

[2021-09-23 13:08] andrewlewis commented on #9420
Do you have both views in the layout at the same time (both added and visible) with one on top of the other? And you hide the one on top after you receive `onRenderedFirstFrame`? I'd be surprised if you see a flash in that case. Do you see the same behavior if you use `SurfaceView` directly instead of `GLSurfaceView`?

[2021-09-23 14:04] AleAmla987 opened #9475 "I am playing an audio from a 1 minute url, how can I get an event or verify that it already plays 30 seconds?"
I am playing an audio from a 1 minute url, how can I get an event or verify that it already plays 30 seconds?

[2021-09-23 14:13] KostyaLyapochkin opened #9476 "E/MediaCodecVideoRenderer: Video codec error"
Hello. I've stuck with this error. Full description:

[code]
Shortly speaking, A VideoService holds my player inside to support background playing that is when an application is in the background. When the application goes to the background mode ad must play. When player intents to change source in the background mode I have this error. I think that it can be similar with this issue https://github

[2021-09-23 14:47] icbaker commented on #9476
Thanks for the repro project. I tried it on a Pixel 5 and backgrounded the app a few times during both ad and content playback and didn't see any failures.

Are there more specific repro steps I should be taking?

What device(s) do you see this problem on?

Could you capture an `adb bugreport` immediately after reproducing and either upload it here or send to dev.exoplayer@gmail.com using a subjec

[2021-09-23 15:07] KostyaLyapochkin commented on #9476
@icbaker Oh, sorry I've forgotten to specify list of devices. Pixels and Android Emulators work perfectly as usual but I have this issue on  Pixel 2 XL( Android 10), Xiaomi Redmi note 7 Pro 10 (Android 10), Galaxy Tab S2 SM-T810 (Android 7), Galaxy S8 (Android 9).

[bugreport-2021-09-23-18-05-08.zip](https://github.com/google/ExoPlayer/files/7218769/bugreport-2021-09-23-18-05-08.zip)

I can record

[2021-09-23 15:27] icbaker commented on #9476
That would be really helpful, just so i can understand exactly when the failure happens.

Thanks!

[2021-09-23 16:56] icbaker commented on #9473
Also [`Player#getCurrentCues()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getCurrentCues()).

[2021-09-23 18:43] krocard commented on #9443
I just tried playing a 500 item playlist in the demo app and playback started instantly. It would be very helpful to have a profiling or a way to reproduce.

[2021-09-23 19:16] hedbert1 commented on #9232
Greetings-
Any update on this?  There are many people on the Plex Forum waiting for any positive movement.

[2021-09-23 19:36] WizardCornelius commented on #9232
I can produce this 100% reliably on demand (every single next episode button press on plex app on the chromecast) if you'd like me to provide any data? It plays with the top left quarter of the image 'zoomed in' filling the screen, and sometimes crashes and reboots on exiting the episode, not often  though.

Happy to carry out troubleshooting if it will assist. Just lmk what you would like me to d

[2021-09-23 21:49] greyski commented on #9257
Thank you, we'll add an assert for this.

[2021-09-24 01:04] #9342 closed, assigned to icbaker

[2021-09-24 01:04] #9339 closed, assigned to icbaker

[2021-09-24 01:04] #9325 closed, assigned to icbaker

[2021-09-24 05:26] tdc-w commented on #9420
Since surfaceView1 is removed at the timing of onRenderedFirstFrame, I think that both surfaceView1 and surfaceView2 will be added to containerView until onRenderedFirstFrame is called.
However, it is unknown which surfaceView is displayed in the foreground at this time.

![Untitled Diagram drawio](https://user-images.githubusercontent.com/38201241/134622688-e4ec5727-3cf1-41b9-b7f7-808dfbd0201b.pn

[2021-09-24 06:27] KostyaLyapochkin commented on #9476
https://user-images.githubusercontent.com/36475116/134628258-0c849107-54b2-45f0-93c5-8474f0af1dc6.mp4

[2021-09-24 07:28] Tolriq commented on #9443
I've made a lot of tests and it seems to happen a lot more when using addMediaSources than addMediaItems but that it's in fact not 100% :(
I'll need to do more tests on real devices and release builds to be sure it's a real issue then I'll provide systrace.

[2021-09-24 08:40] andrewlewis commented on #9420
I don't follow why you'd need to remove `surfaceView1` in that picture. If you have view 2 on top of view 1 and you've received `onRenderedFirstFrame` for view 1, I'd expect there not to be a flash when hiding view 2.

[2021-09-24 10:30] marcbaechinger commented on #8218
Closing as duplicate of #9122

[2021-09-24 10:30] #8218 closed, assigned to marcbaechinger

[2021-09-24 13:54] ojw28 commented on #9459
Unfortunately, I think this is an Android platform limitation that's described on [this page](https://source.android.com/devices/graphics/arch-sh):

`FfmpegVideoDecoder` (and similar video decoder extensions) connect the CPU renderer, and once that's happened it's not then possible to connect a platform video decoder to the `Surface`. You'd need to somehow destroy the `Surface` and create a new in

[2021-09-24 13:54] #9459 closed, assigned to ojw28

[2021-09-24 14:02] #9473 closed, assigned to icbaker

[2021-09-24 14:33] ojw28 commented on #9458
@Samrobbo - I think the condition [here](https://github.com/google/ExoPlayer/blob/r2.15.0/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L1270) probably needs to be:

[code]

else `staticMetadata` doesn't get correctly merged into `newMediaMetadata` in the case that `newMediaMetadata` has been updated by the code block above, but `staticMetadata` is unchanged. It would

[2021-09-24 15:38] christosts commented on #9455
I used the playlist from the issue description locally and tested with the player's demo app at 2.15.1 and was able to play the content.

What error should have I been seeing?

PS The player raised an error after it played the content because it could not refresh the playlist, which was because the playlist file was stored locally.

[2021-09-24 15:56] Programmingtimes opened #9478 "How to add subtitle to exoplayer"
I am using exoplayer for my application . my video URL is coming from json file and I would like to add subtitle for the video . which is in srt format . can you guys help me how  to add subtitle to my exoplayer

My exoplayer code : using exoplayer version : **implementation 'com.google.android.exoplayer:exoplayer:2.14.1'**

[code]
Json file :https://raw.githubusercontent.com/windowschares/charles

[2021-09-24 16:12] icbaker commented on #9478
You need to parse the JSON yourself, ExoPlayer can't help you with that.

Once you have a subtitle URI that you know is SubRip (.srt) then you can create a `MediaItem.Subtitle` object (MIME Type is [`MimeTypes.APPLICATION_SUBRIP`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/util/MimeTypes.html#APPLICATION_SUBRIP)) and pass it to `MediaItem.Builder#setSubtitles`. If you want i

[2021-09-24 17:17] christosts commented on #9425
The player can prepare HLS media sources without downloading the first segment by doing a _chunkless preparation_ (related [blog post](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6)). I assume you may have seen this feature already because you mentioned there is no CODECS attribute present on the variant: chunkless preparation needs CODECS and it won't make a difference i

[2021-09-24 18:16] dino-saurabh opened #9479 "IndexOutOfBoundException at HlsChunkSource.getNextSegmentHolder"
1. We are getting IndexOutOfBoundException at https://github.com/google/ExoPlayer/blob/release-v2/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsChunkSource.java#L470
2. Possibly due to this `==` check at https://github.com/google/ExoPlayer/blob/release-v2/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsChunkSource.java#L463
3. is this a deliberate `==`

[2021-09-24 18:18] dino-saurabh commented on #9479
^^ @nmtiwari-hs @vinodkputta

[2021-09-24 20:40] bmmiller commented on #9232
Chiming in to say I see this same issue without an AVR as well as odd skipping behavior. Overall poor experience and been this way for months now 😑

[2021-09-24 21:31] greyski opened #9480 "Version 2.15.0 of ExoPlayer injects MediaBrowserService intent into manifest"
We've updated our version of ExoPlayer from `2.14.2` to `2.15.0` and we saw a change in our app's generated manifest. Our manifest now contains:

[code]

This happened immediately after we upgraded our ExoPlayer version and wanted to confirm this is expected behavior?

I assume one of ExoPlayer's dependencies requires to declare this intent in the app's manifest? If so, do we know why?

[2021-09-24 21:36] navjotbedi commented on #9442
@icbaker I work along with @neeluagrawal04 and thank you for sharing the issue. We are facing one more issue with DRM.

Issue: While playing the above online video, DRM License URL is making a new network call every time the video is played. This is costing us a number of licenses generation.

Expectation: DRM License URL should provide the license one time (till 30days) as we have configured the

[2021-09-24 23:35] greyski commented on #9480
I found the root cause, it was [the dependency upgrade](https://github.com/google/ExoPlayer/commit/dea52048cb4678711726ea512964224eb9b10206) of androidx:media from [1.2.1 ](https://android.googlesource.com/platform/frameworks/support/+/e2bbff9c767da61a875a84527e2cd643422b149b/media/media/src/main/AndroidManifest.xml) to [1.3.1](https://android.googlesource.com/platform/frameworks/support/+/25f9f76

[2021-09-25 00:05] greyski commented on #9480
[Related commit](https://android.googlesource.com/platform/frameworks/support/+/9cce1d644a9138e911d04b26cf91bb92ee975b6b%5E%21/media/media/src/main/AndroidManifest.xml) and [PR](https://android-review.googlesource.com/c/platform/frameworks/support/+/1411627). Not sure if there's anything you can do; I don't believe you can `tools:node="remove"` an `intent` placed in `queries`.

[2021-09-25 12:37] kmrinmoy07 opened #9481 "Notification gets automatically hidden sometime in Android 11"
I am trying to show the music player's notification using PlayerNotificationManager but the notification is automatically getting hidden under some condition (may be when there is lots of other notifications) even when audio is being played. But the notification gets shown again when the state of the player gets changed, for example if I pause the audio the notification reappears on its own. Also

[2021-09-25 14:14] Zoom-Adr opened #9482 "unable to play content"
can someone advise why unable to play?
other clearkey works but not this.

thanks in advanced.

       {
          "name": "test",
          "logo_uri": "https://ignore.me",
          "uri": "https://linear01-playback.sooka.my/CH3/masterCH3.mpd",
          "drm_scheme": "clearkey",
          "drm_license_url": "https://run.mocky.io/v3/194563d2-e077-4816-9b0a-d2743f76e256"
       },

[2021-09-25 14:27] inattv777 opened #9483 "SSL certificate pinning"
**Is SSL certificate pinning possible?**

[2021-09-25 17:02] sproctor opened #9484 "Poor RTSP playback with Axis cameras"
I'm attempting to switch from the branch at https://github.com/portizb/ExoPlayer to 2.15.1. The portizb branch works fairly well.

2.15.1 spams my logs with unexpected packet messages for the first 30 seconds or so, then they're pretty rare after. https://gist.github.com/sproctor/2d12b39f62359b373d61f39d184d46f1

The stream starts off a bit distorted and after about 10 seconds, looks good. Occasio

[2021-09-26 07:40] ghoulhyk opened #9485 "how to avoid "Player is accessed on the wrong thread." in aidl"
I start a service on child process mode to play music, in order to keep playing when app be killed by system. And I use aidl to communicate between main app and ExoPlayer in child process.
`new SimpleExoPlayer.Builder(context).setLooper(Looper.myLooper()).build();`
this is how i instantiate the ExoPlayer, but it warning me "Player is accessed on the wrong thread."
So how can i  instantiate the Exo