[2018-04-27 09:01] ojw28 commented on #4189
Does this have anything to do with subtitles, or does the issue occur regardless or whether they're added or not? Please provide a clear description of the problem. Thanks!

[2018-04-27 09:05] AquilesCanta commented on #4014
Something you can try is implementing your own MergingMediaSource. The issue now is that `CompositeSequenceableLoader` tries to keep buffer approximately aligned. This is pointless in this scenario where the server is releasing content as it becomes available. In this case you pretty much want to buffer as much as you can (might need fine-tuning, but you can start with this approach). Also, it mig

[2018-04-27 09:45] ArchOrn commented on #4159
After some tests with the full length movies I have to handle, it works now, even with the local DRM handling.
Thank you for your support and your awesome work to provide us this library.

Cheers!

[2018-04-27 09:45] #4159 closed, assigned to erdemguven

[2018-04-27 10:41] workspace commented on #2643
I tried to integrate new offline feature with locally imported ExoPlayer. Do you have any plan to improve download speed? The average download speed is measured as 1MB(or lower) per second. Dash Downloader's implementation is designed to receive chunks sequentially so that downloads are slow even if the internet speed is fast. Although simultaneous downloads are possible (currently set to 4 in con

[2018-04-27 11:10] ojw28 commented on #4167
The only playback I can see in the bugreport looks like it proceeded successfully. The log snippet does not appear in the bugreport. Are you sure you attached the right one, and generated it immediately after seeing the issue?

[2018-04-27 11:12] ojw28 commented on #4167
Edit: The log snippet is in the bugreport after all. I can't see any playback failure though. What do you actually observe happening? Have you made any modifications to the demo app other than adding the sample?

[2018-04-27 11:18] tuesda commented on #4166
Thanks for your reply!
Is there a api for checking if the device  can seamless switching?
We don't find ANR issues for now.

[2018-04-27 11:23] tuesda commented on #4166
Is better dispatching a buffer state for devices like Redmi Note 4 when switching surfaces, rather than frame block while audio is normal playing.

Thanks

[2018-04-27 13:21] ChangSurrey opened #4190 "Can ExoPlayer support 360 DASH video?"
I can see there is a GVR extension but it seems to be about spatial audio rather than video support?

Also when I tried to stream a 360 video using the demo application, it didn't recognise its 360 format and just played it as is.

Is there any way to tell the demo app whether a video is 360 or not?

[2018-04-27 13:28] ojw28 commented on #4190
@erdemguven is working on this.

[2018-04-27 13:30] ChangSurrey commented on #4190
Thanks @ojw28 , so are you implying it is currently not supported?

@erdemguven can I ask what's the rough timeline that you're planning for this feature?

[2018-04-27 13:34] ojw28 commented on #4190
I think it's probably possible using [`VrVideoView`](https://developers.google.com/vr/reference/android/com/google/vr/sdk/widgets/video/VrVideoView) in the GVR SDK, which wraps a customized ExoPlayer instance. If that's sufficient for your needs, then great.

A shortcoming with that approach is that you can't probably control the ExoPlayer instance. What we'd rather have is a view component that y

[2018-04-27 15:05] starchey commented on #4188
I just realized this is happening because I'm using CacheDataSourceFactory, which serves no purpose for our live stream (I just had the code in place for all video plays). If I setup my media source as follows, the issue goes away:

`videoSource = new HlsMediaSource.Factory(mediaDataSourceFactory)
                    .createMediaSource(Uri.parse(url), mainHandler, eventLogger);`

I was running int

[2018-04-27 16:05] AquilesCanta commented on #4188
If the media playlist gets cached, then PlaylistStuckException would mean ExoPlayer is working as intended. After seeing no changes in a live playlist, the player assumes there is an issue server-side. @erdemguven, is there an issue tracking the use of HTTP response headers to control what can be cached? If not, we can use this. Otherwise, this can be closed I think.

[2018-04-27 16:17] ghost opened #4191 "Text Track not available in track info"
I recently upgraded to 2.7.3, from 2.6.1, and noticed that setting a track override seems to have changed.  I was able to accomplish this on 2.6.1 using the following code to enable the text track, CEA-608 in TS:

[code]

When looking at the track info, I noticed that it only shows video and audio tracks available.  I decided to load it up in the  Exoplayer demo project and when looking at the exa

[2018-04-27 16:25] derekw0311 commented on #4014
Thank you for your thorough explanation and the investigation for the buffering issue I had. Yes, we can close this.

[2018-04-27 16:37] kvillnv commented on #2643
@erdemguven thanks for the post on Medium.

-Any updates about Live stream download?
If I'm not mistaken, it is going to be handled by this class: ProgressiveDownloader.java ? it seems method download() is not yet fully implemented to prepare downloaders for the next non yet existing segments.

-And could you define "Progressive Stream"? are you referring to a live Streaming with segments that do

[2018-04-27 18:28] asos-pengjiang commented on #4167
No, I just added the video URL in the play list ( I have sent to `dev.exoplayer@gmail.com`), and try to play with it. The demo app is from the branch `release-v2` commit https://github.com/google/ExoPlayer/commit/4b531dcc5211ef9cb1c2adea5c12642f549c4c78.

The video can be played, but there is no audio playback. In the demo app, it also doesn't show the audio label.

[2018-04-28 00:01] cool-benson commented on #4171
Yes, I believe you're right, I've changed my video size to power of 2(i.e. 1024*512), and the problem is solved. I'll definitely apply `SurfaceTexture.getTransformMatrix` just in case. Thanks!

[2018-04-28 06:17] ojw28 commented on #4179
If you're seeing 503 errors then you already know what the issue is (i.e. your server providing a "Service Unavailable" response code). If the chunk were corrupt then you'd see a different failure (e.g. in ExoPlayer's `Extractor` or `Renderer` components).

[2018-04-28 06:17] #4179 closed, assigned to ojw28

[2018-04-28 06:29] ojw28 commented on #4167
Ah, I see the problem now, thanks! @AquilesCanta - Seems `TsExtractor` is not seeing the audio track (even when playing a single segment using `ExtractorMediaSource`).

[2018-04-28 06:35] ojw28 commented on #4171
Just in case it's not clear (I'm pretty sure it is; but no harm in making sure): You can use any video size. You just need to apply the transform matrix to crop away any padding that was added to get the buffer up to being a whole number of blocks.

[2018-04-28 06:35] #4171 closed, assigned to ojw28

[2018-04-28 06:36] ojw28 commented on #4158
Closing due to lack of required information.

[2018-04-28 06:36] #4158 closed, assigned to botaydotcom

[2018-04-28 06:45] ojw28 commented on #4191
To clarify, are you saying that:

* You can successfully select the text track in the ExoPlayer demo app, both in 2.6.1 and 2.7.3
* In your app specifically, the override logic you have isn't working for 2.7.3

If so, that sounds strange. Can you hook up an `EventLogger` in your app (see `PlayerActivity` in the demo app for an example of what to register it to), and share what it outputs to logcat

[2018-04-28 07:02] ojw28 commented on #4181
The Javadoc for the classes/interfaces that you need to implement should be your reference in the first instance.

[2018-04-28 07:02] #4181 closed, assigned to ojw28

[2018-04-28 12:54] ojw28 commented on #4125
You need to find out why the license server is issuing a 415 response, and resolve that, whether that's by adding a HTTP header to the key request, or by some other means. I don't think there's anything particularly Widevine or ExoPlayer specific about this, it's simply about figuring out why your license server isn't happy with the requests, and resolving that.

[2018-04-28 14:57] ojw28 commented on #3923
Thanks! I'm able to reproduce the issue. I suspect it's a bug in the underlying platform, which isn't something we can do much about, unfortunately, except report it so that it gets fixed in future releases. I'll check whether it reproduces on Android P, and file an issue on the Audio team if it does.

[2018-04-28 19:43] workspace commented on #4027
@ojw28
I'm not fully familiar with Widevine, is not Android's Drm module having a maximum number of drm sessions? One of my customers was still experiencing an exception that drm had expired and could not resolve it. I informed the customer that the device was broken. (It plays well on the mobile chrome browser.) Can you check if there is a related problem?

[2018-04-29 10:49] siddhism opened #4192 "Parse Error while streaming m3u8 files from livestream.com"
### Issue description

### Reproduction steps
Hello, we have following *.m3u8 file from livestream.com for playing VOD.

[code]

Here is the stack trace when we try to play it with exoplayer. For negative values the regex is not matching which is causing the issue.

[code]

### Link to test content
Sent to email.

Although issue  [4066](https://github.com/google/ExoPlayer/issues/4066) is similar.

[2018-04-29 13:27] ojw28 commented on #4192
The content provider should fix their bad media.

[2018-04-29 13:27] #4192 closed, assigned to ojw28

[2018-04-30 08:38] na-in-lee commented on #4189
Thank you for your answer.

Look at the source below.
 - https://github.com/na-in-lee/exo-player2-custom

Put ima ads on the source, it will not play. (Actually FATAL EXCEPTION)
Except for the ad, the video and subtitles come out well.

[2018-04-30 10:38] #4014 closed, assigned to AquilesCanta

[2018-04-30 11:02] AquilesCanta commented on #4192
You can always implement your own playlist parser to work around this, if needed.

[2018-04-30 12:24] FirdousNath commented on #3953
any progress ??

[2018-04-30 12:41] AquilesCanta commented on #4167
Hi, the issue here is that the first PMT in the segment contains only video:

[code]

After that, the next PMT declares an audio stream. So the fix for this is to remove the first PMT in the stream.

[2018-04-30 12:41] #4167 closed, assigned to AquilesCanta

[2018-04-30 13:19] asos-pengjiang commented on #4167
@AquilesCanta the video can be played on iOS successfully with sound stream detected. With the same video, if I use HLS tool (version 3) to create m3u8 play list, it can also detect the audio stream. Do you think maybe `TsExtractor` only handle the version 3? I sent another video URL, just in case.

[2018-04-30 13:27] AquilesCanta commented on #4167
It's not about the HLS versioning. The [HLS spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23) actually hints there should be a single PMT.

I appreciate other players might handle this correctly, but you could maybe fork TS extractor to better handle your case. I just don't see an elegant solution for working around this, and with every workaround for bad media we add, our HLS

[2018-04-30 14:56] AquilesCanta commented on #4184
The issue here is that only the first segment contains an IDR frame. You should fix the content by including an IDR frame at the start of each segment, as requested by the [spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23):

You can also work around this by creating your own HLS Extractor factory and passing in FLAG_ALLOW_NON_IDR_KEYFRAMES.

[2018-04-30 14:56] #4184 closed, assigned to AquilesCanta

[2018-04-30 15:43] ghost commented on #4191
I seem to have found the culprit, myself.  I called `setAllowChunklessPreparation(true)` and clearly I didn't read the documentation enough to realize that captions need to be declared in the master playlist and id3 is not supported.

[Reference](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6) for future users

[2018-04-30 15:43] #4191 closed, assigned to ojw28

[2018-04-30 15:47] AquilesCanta commented on #4191
Good news is that ID3 in chunkless preparation is going to be made available in the dev branch in the next push. Closed caption should still be declared by the master playlist.

[2018-04-30 17:52] CodyDunlap opened #4193 "Add support for AndroidKeystore Symmetric Keys with AESCipherDataSource and AESCipherDataSink"
I'm attempting to implement offline playback, using ExoPlayer 2 CacheDataSource with an AesCipherDataSource and an AesCipherDataSink. The content is stored offline in a service that runs in the background. Currently the only way I have found to provide a key is by generating it myself using SecureRandom and providing the bytes to the AesCipherDataSink constructor. In order to securely and dynamica

[2018-04-30 18:18] AquilesCanta commented on #4187
This is indeed a regression. A fix will be provided in the next push.

[2018-04-30 18:59] jaranflaath commented on #4187
Looking forward to the fix :)

[2018-04-30 19:14] AquilesCanta commented on #4193
@erdemguven, would you mind taking a look at this?

[2018-04-30 19:25] joshdvir opened #4194 "Issue playing a HLS stream"
Hi,

I found a weird issue might be a bug in the HLS.

### Issue description
I have a stream that I'm recording using the Nimble server and when I use the stream HLS endpoint directly it works, the stream is played no problem, but when I used the recording stream, it also produces a HLS file the stream is not been played.

### Reproduction steps
I managed to reproduce it using the demo application

[2018-04-30 19:31] ldelossa opened #4195 "[Question] Parsing ID3 timestamp and exposing to application"
Hello,

I'm attempting to create a software clock in an android device which needs to display the timestamp from metadata within the ID3 tag. We need a way to parse hls segments and the ID3 information which holds the source timestamp and then make this data available to some class responsible for displaying an on screen clock.

Is this functionality available to me? I do not mind digging into the

[2018-04-30 19:57] tony1960 opened #4196 "ExoPlayer crashes reading FLAC with Source error. UnrecognizedInputFormatException"
Before filing an issue:

### Issue description
This app reads FLAC files from archive.org. It is unable to.
ExoPlayer2 crashes with Source error:
    com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsEx

[2018-05-01 09:24] AquilesCanta commented on #4195
If your player has a metadata renderer, and the ID3 track is selected (in general, the default track selector does it by default, but you should check), then you can get the id3 data from all metadata outputs you've set. This is showcased in the demo app. If you play the HLS stream titled "Apple 16x9 basic stream", you will get logcat output similar to the following, which is a representation of a

[2018-05-01 09:24] #4195 closed, assigned to AquilesCanta

[2018-05-01 09:42] AquilesCanta commented on #4194
For HLS segment playback, ExoPlayer selects the Extractor by file extension. The original segments are mp3 files, whereas the recorded ones are saved with ts extension, therefore the message `Cannot find sync byte. Most likely not a Transport Stream.` You can either configure the recording software to use the original file extension, or implement your own HlsExtractorFactory, to choose the used ex

[2018-05-01 09:42] #4194 closed, assigned to AquilesCanta

[2018-05-01 09:48] AquilesCanta commented on #4196
http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-einws works because it points to an audio file, whereas https://archive.org/details/hb2015-11-06/hb2015-11-0616bitmatrix_t01.flac points to an HTML file. Please clarify below if I am missing anything and I will reopen the issue.

[2018-05-01 09:49] AquilesCanta commented on #4160
Closing due to lack of activity.

[2018-05-01 09:49] #4160 closed, assigned to AquilesCanta

[2018-05-01 09:52] AquilesCanta commented on #4149
Closing due to lack of activity.

[2018-05-01 09:52] #4149 closed, assigned to AquilesCanta

[2018-05-01 11:27] ojw28 commented on #2643
@erdemguven is out on holiday at the moment. To answer your questions:

No, sorry

This is not correct. ProgressDownloader is just for any regular media file (i.e. not DASH, SmoothStreaming or HLS). For example an mp3 file.

[2018-05-01 14:07] ojw28 commented on #3923
Confirmed this is still reproducible on Android P. Filed a bug with the Android media team [Internal ref: b/78930229]

[2018-05-01 15:26] tony1960 commented on #4196
Santiago,
I don't know if wish the replay to by via email or girhub I can modify,
THe Problem is I am trying to srape FLAC audio file from the achieve.org
page (allowed) I used the .flace subfix to do this. So Here is a another
url which does point to FLAC  that fails in the same way

view-source:
https://ia801309.us.archive.org/27/items/hb2015-11-06/hb2015-11-0616bitmatrix_t05.flac

Thanks and Ch

[2018-05-01 16:25] AquilesCanta commented on #4196
I will update this issue once I take a look.

[2018-05-01 16:51] petersamokhin opened #4197 "Seeking in M4V file"
Hello. I have big `M4V` file that made by concatenating of init part and a many chunks of `M4V` video from source `MPEG-DASH` broadcast. This file is ok, I can play it by any player on my mac, or get metadata by `ffmpeg`, etc. `ExoPlayer` can play this video too.

But duration recognized incorrectly. And I can't seek in video.

I thought that if I change the necessary part of file, all will be ok.

[2018-05-01 17:16] AquilesCanta commented on #4197
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-05-01 17:16] #4197 closed, assigned to AquilesCanta

[2018-05-01 17:46] ojw28 commented on #4197
ExoPlayer uses the sidx box for seeking in FMP4. The sidx box doesn't just contain the duration. It provides a time->byte mapping for every segment in the file, which tells the player the byte offset from which it should request data when a seek is performed to a specified time.

For DASH streams, the manifest may provide an equivalent index (by listing each of the segments along with their durati

[2018-05-01 20:35] stellabei opened #4198 "After LG G5 security update, WV secure DASH video only plays half screen (half screen black)"
### Issue description
After LG G5 security patch February 1, 2018, when try to play a secure WV Dash content (SD or HD), the play screen is covered by a half screen black stripe. It only happens with secure content, non-secure video works.

### Reproduction steps
1. Have a LG G5 with February 1 security update
2. Play any secure Dash content in the Exoplayer demo app
3. Right after it starts the p

[2018-05-01 20:49] kanthicn1 opened #4199 "Dash encoding question"
I searched on all questions and couldn't find this question definitively answered although it is discussed [here]([https://github.com/google/ExoPlayer/issues/605]).

Does ExoPlayer support playing streams self-initialized dash segments (which are segments which don't contain an initialization segment but, the encoder has added all related encoding information in each segment)?

[2018-05-02 04:48] robindanielk commented on #3127
@Crossady...Hi, I am new to Android Ndk..Can you kindly help me with the procedure to add ffmpeg in windows!!

[2018-05-02 06:28] ojw28 commented on #4199
Do you mean using avc3 rather than avc1? I'm fairly sure at least one major provider uses avc3 with ExoPlayer, and so I'm confident we do support that. However the best way to check would be to transcode a sample stream and test it, since the devil is in the detail.

[2018-05-02 06:33] ojw28 commented on #4199
I'm pretty sure we also support avc1 where the moov is placed at the start of each segment, rather than in an initialization segment. But as above, give it a try and see!

[2018-05-02 06:33] #4199 closed, assigned to ojw28

[2018-05-02 06:37] ojw28 commented on #4198
@wvpaf - Please could you follow up with LG about this? Thanks!

[2018-05-02 09:02] atkGit commented on #2953
Hi Can any one post how to load a TTML subtitle file in EXO

[2018-05-02 09:55] AquilesCanta commented on #2953
@atkGit, [our guide](https://google.github.io/ExoPlayer/guide.html) provides useful information. Look for the section "Side-loading a subtitle file".

[2018-05-02 10:09] Peter59403 commented on #4027
After two weeks LG returned the device. They replaced the motherboard again, and the issue has been resolved. The 'NO RPMB' message is gone from the bootloader, and DRM content works.

The first time the motherboard was replaced by phone repair company Teleplan, which handles LG warranty. This was just a few weeks within the two year warranty (I had the boot loop issue).

When I contacted LG with

[2018-05-02 13:19] tspvivek opened #4200 "Error in playing RTMP Stream"
### Issue description
When tried playing a particular RTMP stream using the ExoPlayer Demo App,  i am getting RtmpIOException.

### Reproduction steps
Use the exoplayer demo app and in the media.exolist.json add this rtmp url rtmp://mbcmediaserver.mbcradio.tv/bestfm/livestream

In my case, I have added the RTMP url under HLS section in the media.exolist.json file.

### Link to test content
rtmp://

[2018-05-02 13:41] m-scheepers commented on #4086
I will request @marcinOz to provide further information to this ticket;

The manifests received from the streaming server appear to be gzipped; something happens while parsing the gzipped manifest which causes this error.

When we decode the manifest ourselves first and pass it to the player then it appears to work fine. We implemented it is a temporary workaround but don't consider this to be som

[2018-05-02 15:42] kvillnv commented on #2643
ok, thanks @ojw28

@KiminRyu Maybe that can help you: I had the same download issue, it was extremly slow, and actually it was not related to the DashDownloader or the connection speed! I just replaced my external storage by a faster one and I just downloaded 1GB in 4min

[2018-05-02 16:42] workspace commented on #2643
@kvillnv
Thank you for answer. I also dig up a lot about this issue, but it seems like our media cdn is a little slow. Have you ever done a remove action? This is separate from the network, and the manifest I'm using for testing has about 2,000 to 3,000 chunks. As Cache erased the chunks one by one, it took quite a while to delete them. I hope it will improve in this part as well.

[2018-05-02 20:33] jboisjo commented on #4139
We are having the same issue!

[2018-05-02 20:54] elnurvl commented on #4031
@tonihei , I am trying to implement your solution to customize the event which is responsiple for showing playback controls. Unfortunately it is not working. Because `controller` variable is private and I cannot access it in my own `PlayerView`. I cannot use `super` either, because it checks for `MotionEvent.ACTION_DOWN` implicitly as you said. What I need is to fire the event when a user single t

[2018-05-03 01:05] jboisjo commented on #4139
In older version of exo, we didn't have this issue. And also, when we remove the audio track in AudioRenderer, everything works well but there's no sound ofc.

[2018-05-03 01:53] andrewlewis commented on #3803
Apparently the maximum bitrate for DTS MA is 24.5 Mbit/s, which I think would require a buffer size of about 800 KB for our usual buffer duration of 250 ms (we currently request about 300 KB).

[2018-05-03 09:34] tonihei commented on #4031
You can change the visibility of the controller with `showController()` and `hideController()` and you can listen to its visibility with `setControllerVisibilityListener`. That means you don't actually need access to the `controller` variable to achieve your custom `onTouchEvent` handling.

To confirm that it's actually working, I tried to implement what you are trying to do with the following cod

[2018-05-03 10:28] kimnamcham commented on #3682
@xiaoyepadzhang Can your code precache success with other format video like mp4?
If yes,can you share me your code, thanks?

[2018-05-03 11:37] ZohaibGhafoor opened #4201 "what protection or security DownloadManager use ?"
Does ExoPlayer use any encryption for Progressive or Adaptive downloads. or the content can be play by any other parties or can i play downloaded content with other player? if not can we use any encryption method to secure content. Please explain me anyone.

[2018-05-03 12:44] AquilesCanta commented on #4201
ExoPlayer [supports](https://google.github.io/ExoPlayer/supported-formats.html) a number of DRM methods.

Depends on the protection scheme. Some schemes are more secure than others. This depends on how hard it is to access the keys used to decrypt the content. The demo app has samples with widevine and playready protection. ExoPlayer also supports AES full segment encryption. Let me know if you ha

[2018-05-03 14:30] ZohaibGhafoor commented on #4201
how can i use widevine and playready protection on my content please can you guide me step by step . Is it free or a paid service? or if you can share any complete guide link on from start to end tutorial from getting widevine and playready encryption key etc.

[2018-05-03 14:47] AquilesCanta commented on #4201
I think I misunderstood the initial question. There is some useful information [here](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95) but I am not sure it covers encrpytion. @erdemguven will be able to help better than I.

[2018-05-03 15:06] AquilesCanta commented on #4201
I deleted my first reply as it was more misleading than anything else.

[2018-05-03 15:32] chrisfillmore opened #4202 "How does Exo calculate the live edge?"
I'm troubleshooting an issue with a live stream which doesn't play in Shaka player. See https://github.com/google/shaka-player/issues/1430 for analysis.

This manifest:
https://dfwlive-sponsored.secure.footprint.net/Content/DASH.abre/Live/channel(ECTV-2819.dfw.480.mobile)/manifest.mpd

plays in Exo, but not in Shaka. It also doesn't play on Roku.

On inspection, it appears that the segments descri

[2018-05-03 16:15] andrewlewis commented on #4201
If you are trying to have the cached data be stored encrypted, you could try using [AesCipherDataSource](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/crypto/AesCipherDataSource.java) and [AesCipherDataSink](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/cr

[2018-05-03 16:44] elnurvl commented on #4031
Thank you! Exactly what I was looking for.

[2018-05-03 17:55] akhorevich opened #4203 "How can i detect audio stream if track is already playing?"
I have in Activity an Exoplayer, and when I reopened it - the track is already playing. How can I detect it and continue current track? I tried to use exoPlayer.getCurrentWindowIndex()

`@Override
        public void onTracksChanged(TrackGroupArray trackGroups, TrackSelectionArray trackSelections) {
            Log.i(TAG,"onTracksChanged");
            Toast.makeText(PageActivity.this, "onTracksCh

[2018-05-03 18:10] linhai326 commented on #4203
onTracksChanged will give you trackSelections. And you can iterate this TrackSelectionArray  and find audio track using format.sampleMimeType.

[2018-05-03 18:32] linhai326 commented on #4202
According to document, if neither SegmentTimeline nor period duration is available, it will be true:

"
  /**
   * Returns the number of segments in the index, or {@link #INDEX_UNBOUNDED}.
   * <p>
   * An unbounded index occurs if a dynamic manifest uses SegmentTemplate elements without a
   * SegmentTimeline element, and if the period duration is not yet known. In this case the caller
   * must

[2018-05-03 18:32] linhai326 commented on #4202
btw, your manifest link seems not working: i got 404 error.

[2018-05-03 19:33] DWinnicki commented on #4139
I have the same issue.

[2018-05-03 19:50] chrisfillmore commented on #4202
The stream was restarted, and works now in both players.

Thanks for pointing out the documentation -- I hadn't seen that.

[2018-05-04 00:56] ojw28 commented on #4139
If you can reproduce this issue then you can probably work out where the issue was introduced fairly easily (by trying different releases, and, ideally, by binary searching within the changes that went into the affected release). That would help diagnose the problem.

[2018-05-04 01:01] ojw28 commented on #4203
Please could you clarify exactly what the question is. Are you trying to resume playback from the position where you left off (i.e. trying to restore the position of the player) or are you trying to ensure the same tracks are selected (i.e. if there are multiple audio tracks and the user has selected one in a particular language, restoring that)?

Please also take a look at `PlayerActivity` in the

[2018-05-04 01:11] ojw28 commented on #4202
In this case I'm pretty sure we just look at what media is actually there (i.e. declared in the timeline) and then start playback from the end (minus the amount we want to be able to buffer).

We only rely on knowing the current time for cases where it's necessary to do so. IIRC this can be necessary when SegmentTemplate is used instead of SegmentTimeline. Even in this case, we'll use a UTCTiming

[2018-05-04 01:11] #4202 closed, assigned to ojw28

[2018-05-04 04:04] andrewlewis commented on #4120
This looks like it should work. Does your `onAdError` callback never get called? Do you see any other errors (e.g., from the player's event listener)?

[2018-05-04 04:15] andrewlewis commented on #4143
@Veeyikpong Is your proposed fix working? I tried integrating it into the demo app and found that the issue was still reproducible.

[2018-05-04 04:19] andrewlewis commented on #3142
@brAzzi64 There will be a way to provide a custom implementation of the playback parameters audio processors next time we push the dev branch, which is likely to be over the next week or so. This issue will be updated automatically when that happens. Thanks for your patience!

[2018-05-04 06:19] akhorevich commented on #4203
I create a demostrating video
https://drive.google.com/open?id=1CvRvdyZ5NXITFWZbc7ZU8HF-8SH0axZT

[2018-05-04 09:11] #4031 closed, assigned to tonihei

[2018-05-04 11:08] kirankaushal opened #4204 "com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to https://59fb16.entrypoint.cloud.wowza.com/app-e4ef/ngrp:ba46c471_all/playlist.m3u8"
Hello all,
 I am using Exo Player library to play HSL type video.But getting below error.I am able to playback on wowza server but not on Exo player

[code]

[2018-05-04 11:25] FD- commented on #4204
java.security.cert.CertificateException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

Could be because you use a self-signed certificate for your server. It definitely doesn't look like an issue of ExoPlayer.

[2018-05-04 11:28] kirankaushal commented on #4204
That url is provided by wowza cloud .Do u have an idea about url generation in wowza cloud

[2018-05-04 12:08] chrisfillmore commented on #4202
@ojw28 Thanks for the info :)

[2018-05-04 14:01] tbertschi commented on #4125
In case it helps, I add a somehow similar issue, and it apparently helped to base64-encode and JSON wrap the widevine license request before sending it to the Nagra SSP server:

Content-Type: application/json
{ "challenge": "<base64 encoded widevine binary license request>" }

[2018-05-04 14:17] luckylook commented on #4125
Can i ask you
Where i can find the challenge for all devices?
Thx

בתאריך יום ו׳, 4 במאי 2018, 17:02, מאת tbertschi ‏<notifications@github.com

[2018-05-04 14:24] tbertschi commented on #4125
Not sure what you mean. All I'm saying is that google CDM returns a license request in binary format, and that, to push it as an HTTPS request to SSP server, you first need to base64 encode that binary request, and encapsulate it in JSON: {"challenge":"Tm90IGEgcmVhbCBsaWNlbnNlIHJlcXVlc3Q="}, then use that as payload of your http challenge request.

What do you mean by challenge for all devices? Yo

[2018-05-04 14:35] luckylook commented on #4125
i talked with nagra support and they told me that i need to achieve a
challenge license per device then send Post request
header authorization token that i have
challenge in the body(i dont know from where i can generate that)
and header application/json
my respone will be a license
 to play the video in the exoPlayer

בתאריך יום ו׳, 4 במאי 2018, 17:25, מאת tbertschi ‏<notifications@github.com

[2018-05-04 14:39] jboisjo commented on #4139
It's clearly a Player's DRM issue. Player shows first frame instead of showing the display when the player is running and not ready to play.

[2018-05-04 16:41] tonihei commented on #4053
Closing due to inactivity.

[2018-05-04 16:41] #4053 closed, assigned to tonihei

[2018-05-04 16:42] tonihei commented on #4067
If you like us to look further, please provide concrete reproduction steps and sample media.

[2018-05-04 16:43] tonihei commented on #4068
Closing due to inactivity.

[2018-05-04 16:43] #4068 closed, assigned to tonihei

[2018-05-04 22:17] ojw28 commented on #4204
Agreed this is not an ExoPlayer issue. There's a lot of information about this issue online, if you just search for "Trust anchor for certification path not found".

[2018-05-04 22:17] #4204 closed, assigned to ojw28

[2018-05-05 00:38] ojw28 commented on #4139
As above, please help us to help you by trying to work out where the issue was reproduced. Restating the problem does not help with this. Thanks!

[2018-05-05 00:51] ojw28 commented on #4203
Sorry, the issue is still not clear from the video.

[2018-05-05 00:54] getashok2003 opened #4205 "Android strictmode error- java.lang.Throwable: Explicit termination method 'close' not called"
Sting TV android box
Android version - 7.0
Scenario - OTT content playback
Always seeing this -YES
Exopalyer version - r2.4.1

[code]

[2018-05-05 04:17] kimnamcham opened #4206 "How to decrease buffer when start playback and increase after"
I want decrease buffer when start playback for start video after 1-2 second, but not working. It's my code:

[code]

In other hand, how to set buffer after playback state ready ??

[2018-05-05 08:37] akhorevich commented on #4203
I need to continue an audio track when I reopened an activity if it already was started earlier.

1. I open activity with player and click Play button

2. I go back to previous activity (track is already playing)

3. When I opening again activity with ExoPlayer - I want to detect playing track and continue it in Seekbar and etc.

Sorry, English isn't my native language

[2018-05-05 12:33] Shardul7 opened #4207 "Allow changing DefaultTimeBar colors (e.g. played_color) programmatically"

[2018-05-05 14:35] sn32247 opened #4208 "Just buffer one track in exo audio source list"
I add multiple tracks to exo audio source but I want to buffer just the track that is playing. How can I do this?

[2018-05-05 20:02] lonelyowlz opened #4209 "Seeking accurately with mp3 files"
Hi, I currently writing an mp3 player app. No streaming just playing the local storage files. I want to be able to seek accurately. From the documentation and from some of the issues, I learned that mp3 does not support exact seeking. I cannot force the users to convert their mp3 library to mp4. So, I am looking for another solution. On this issue:

https://github.com/google/ExoPlayer/issues/3233

[2018-05-05 20:42] ojw28 commented on #4208
Please provide your question in more detail. "I add multiple tracks to exo audio source" is not a detailed enough description for us to understand what you're doing.

[2018-05-05 20:44] ojw28 commented on #4209
This is just not something we support, sorry. Is the existing best-effort support actually not good enough for your application?

[2018-05-05 20:47] ojw28 commented on #4207
It doesn't look like we support this currently. Marking as an enhancement.

It would be relatively straightforward to add the necessary setter method(s) to support programmatic color changes, and we will accept a high quality pull request that adds this functionality to our `dev-v2` branch. Please feel free to provide one if you need support for this.

[2018-05-05 20:49] ojw28 commented on #4203
Between step 2 and 3, is playback still happening, or not? If it is still happening then you must still have an `ExoPlayer` instance somewhere. When re-entering the activity you'd just need to bind your UI to that existing player instance.

[2018-05-05 20:50] ojw28 commented on #4027
This seems to be confirmed as an LG device issue, based on what @Peter59403 says above. I'm going to close this issue, since there's nothing we can do about this in ExoPlayer.

[2018-05-05 20:50] #4027 closed, assigned to nobody

[2018-05-05 21:52] lonelyowlz commented on #4209
Hi ojw28 and thanks for the reply. Can you point me in the right direction to developing your theoretical idea?

By best-effort support do you mean using the default ExtractorMediaSource which internally uses the MP3Extractor?

[2018-05-05 22:39] ojw28 commented on #4209
Correct.

You'd probably need to modify (or modify a fork of) `Mp3Extractor` to consume the whole stream up front, build an accurate `SeekMap` from the data, output that, start reading back from the start of the stream again, and from that point operate as normal. We're not able to provide more detailed guidance than this, since this is not something we support. Good luck!

[2018-05-05 22:39] #4209 closed

[2018-05-06 02:47] brunolens34 opened #4210 "RemoveListener does not work sometimes"
-----------------------
### Issue description
We have reconnect function in our app, it means when the streamServer is invalid, it goes to next playback url.
We detect on  **onPlayerError(ExoPlaybackException error)**  whether streamServer is alive, or NOT.
Before going to next playback url, we release the player surely.

if (player != null) {
            player.removeListener(playerEventListener)

[2018-05-06 04:58] akhorevich commented on #4203
Yes, its already playing between step and 3. Maybe I need to do ExoPlayer like a Singelton or something like it to have access from every activity without re-createating ExoPlayer?

[2018-05-06 05:52] sn32247 commented on #4208
I pass list of audios to exo but when exo play an audio it buffers current track plus next track. but I don't want buffer next track. how can I control this?

[2018-05-06 06:03] ojw28 commented on #4208
I think you should just not pass the player the next track if you don't want it to be buffered.

[2018-05-06 06:08] ojw28 commented on #4203
Yes, exactly that! If you're also intending to allow background playback, you should probably also have an Android Service, if you don't have one already.

[2018-05-06 13:00] sn32247 opened #4211 "exo_play ImageButton Visibility not work"
when state is Player.STATE_ENDED ,whay exo_pause ImageButton is visible and exo_paly ImageButton  is gone .
i want change it but not work

[2018-05-06 13:06] ErezNe commented on #3675
Hi ,
I enable once more tunnel mode on 2.5.4 version but this time the content was not encrypted ,With this configuration I have no problem to seek but I notice with a new issue:
Some times while enable the video tunnel and try to play the un-encrypted content I can not see and hear video and audio ! I just see black screen although the video is streaming.
Do you familiar with such an issue on ver

[2018-05-06 14:56] luckylook commented on #4125
hi
i did what you told me now i get license on executePost and i return the
license byte[]
and i get that

05-06 17:53:30.451 28080-28122/com.example.administrator.myapplication
E/ExoPlayerImplInternal: Playback error.

                    com.google.android.exoplayer2.ExoPlaybackException

                        at
com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.feedInputBuffer(Media

[2018-05-06 15:59] ojw28 commented on #4211
What version are you using? I'm fairly confident this is fixed as of `2.7.0`, and that it's the same issue as https://github.com/google/ExoPlayer/issues/3689.

[2018-05-06 16:00] #4211 closed, assigned to ojw28

[2018-05-06 16:04] ojw28 commented on #4210
It's very hard to see how a [one line method](https://github.com/google/ExoPlayer/blob/r2.7.3/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L149) could be broken. I think it's more likely that something else is going on, and that this is a bug in your application code.

If you discover something concrete that indicates otherwise, please reply here with proper concrete

[2018-05-06 16:04] #4210 closed, assigned to ojw28

[2018-05-06 16:34] ojw28 commented on #4205
I think this is a bug in the platform network stack, similar to [this one](https://github.com/square/okhttp/issues/2487) (the platform network stack uses OkHttp for its implementation).

If it's not causing any visible problem then I think it's safe to ignore the strict mode violation. You could also choose to use our [OkHttp extension](https://github.com/google/ExoPlayer/tree/release-v2/extension

[2018-05-06 16:34] #4205 closed, assigned to ojw28

[2018-05-06 16:35] #4208 closed, assigned to ojw28

[2018-05-06 16:39] #4203 closed, assigned to ojw28

[2018-05-06 16:41] ojw28 commented on #4125
Judging from `Caused by: android.media.MediaCodec$CryptoException:
Required output protections are not active`, I'd guess the device doesn't support a secure output path, and the license configuration requires one. In other words, the security requirement specified in the license is more stringent than the device is able to support. Hence playback failure is expected.

[2018-05-06 16:45] isabsent opened #4212 "Playback from InputStream comes back [enhancement]."
I have read [#1086](https://github.com/google/ExoPlayer/issues/1086) and I have some arguments for the direct support of playback from `InputStream`.

If you need to play video file from an encrypted container there is no alternative for playback by means of InputStream since you can't copy this video file to disk before playback because it is a privacy breaking.

To implement a playback from `Inp

[2018-05-06 17:08] ojw28 commented on #4212
If this is what you want to do then you can implement an ExoPlayer `DataSource` that does this. You don't need direct support from the library to achieve your goal.

Whether this is true depends on what type of encryption you're using. If you use a type that supports random access, like `AES/CTR/NoPadding`, then you can use `RandomAccessFile` and decrypt on the fly as it's read. We actually suppor

[2018-05-06 17:36] isabsent commented on #4212
Thanks, I will try. Can you give me some example of  `ExoPlayer` usage  with an `InputStream` enveloped into appropriate `DataSource` (without encryption)?

[2018-05-06 17:42] ojw28 commented on #4212
[`AssetDataSource`](https://github.com/google/ExoPlayer/blob/r2.7.3/library/core/src/main/java/com/google/android/exoplayer2/upstream/AssetDataSource.java) is an example of a `DataSource` implementation that reads from an underlying `InputStream`, although what's different there is that we're able to make some assumptions about how the `InputStream` behaves beyond what's guaranteed by the `InputSt

[2018-05-07 00:35] andrewlewis commented on #4189
Based on the [added code in PlayerManager](https://github.com/na-in-lee/exo-player2-custom/blob/master/demos/ima/src/main/java/com/google/android/exoplayer2/imademo/PlayerManager.java#L101), it looks like you're trying to insert ads with a content media source that's a concatenation. This is not supported at the moment. Adding support is tracked by #3693.

For now, you could try working around thi

[2018-05-07 00:35] #4189 closed, assigned to andrewlewis

[2018-05-07 00:59] andrewlewis commented on #3879
@fpittersacc Does the suggestion above make sense? Is it possible that your app releases the `ImaAdsLoader` right after it releases the player? Thanks!

[2018-05-07 02:38] kimnamcham commented on #4206
Anyone help ?

[2018-05-07 03:35] donpec opened #4213 "Can't play multiple audio tracks with Nimble Streamer server - HLS"
### Issue description
I have a Nimble Streamer server setup playing fine with HLS Live Streaming, the problem comes with playing VOD HLS using multiple audio tracks. Note: Using this m3u8 on other players like Roku is fine.

### Reproduction steps
My m3u8:
#EXTM3U
#EXT-X-VERSION:3
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="a1",LANGUAGE="es",NAME="Stereo",DEFAULT="YES",URI="VideoFile.mp4_audiochunk.m3u8?nim

[2018-05-07 04:53] isabsent commented on #4149
**@petersamokhin:** I have the same requirement - to play media from encrypted container (local or cloud). Do you have any progress with your task?

**P.S.:**

 Я подозреваю, что нужно реализовать свой `ContentProvider`, который по указанному Вами `Uri` позволит `ExoPlayer` найти источник ваших media-байтов и отдать их на воспроизведение плееру. Но я не уверен, что найдя этот источник байтов, `Exo

[2018-05-07 05:05] isabsent commented on #4149
**@AquilesCanta:** Is it possible to play media from `InputStream` if I can't provide an `Uri` for the method `public Uri getUri()` of your `DataSource`  `interface` because the source of my `InputStream` is a file on a file system inside of encrypted container and such file has no `Uri` in common sense?

[2018-05-07 06:36] petersamokhin commented on #4149
@isabsent you can use your own wrapper of ExoPlayer's `FileDataSource`, and your wrapper can work as proxy — not simple reading, but reading and decryption before providing bytes to the ExoPlayer.

---

Напишите свой враппер над `FileDataSource` или каким-то другим более удобным. У меня была схожая проблема — файлы не были зашифрованы, но суть была похожая: просто так взять и передать файл ExoPlay

[2018-05-07 06:52] isabsent commented on #4149
**@petersamokhin:** Can you share the code of `public int read(byte[] buffer, int offset, int size) ` and initialization of playback with this `InputStreamDataSource`?

    public class InputStreamDataSource implements DataSource{
        private InputStream is;
        private long fileLength;
        private boolean opened;

        @Override
        public long open(DataSpec dataSpec) throws IO

[2018-05-07 06:59] sunit-poddar-zz opened #4214 "Exoplayer's app:surface_type="texture_view" in xml not working"
I want to rotate video in exoplayer for which I explicitly gave `texture_view` instead of exoplayer's by default `surface_view` in xml but only the audio plays and the player view is blacked out. The media files are present locally on the device (mostly .mp4 files).

Here's my code in xml:
`<com.google.android.exoplayer2.ui.SimpleExoPlayerView`
`android:id="@+id/playerView"`
`android:layout_width=

[2018-05-07 07:04] petersamokhin commented on #4149
@isabsent I don't made `InputStreamDataSource` and have no implementation of this.

[2018-05-07 07:12] isabsent commented on #4149
**@petersamokhin:**

Я понимаю и делал все это для `MediaPlayer` (Начиная c `API 23` [он уже принимает](https://medium.com/@jacks205/implementing-your-own-android-mediadatasource-e67adb070731) `InputStream` через соответствующую обёртку `InputStreamDataSource extends MediaDataSource`). Просто хотел по-быстрому воспользоваться вашим кодом чтобы проверить свои подозрения насчет:

[2018-05-07 07:27] satyasivaprasad commented on #3449
The issue has still existed in the latest version(2.7.3)
I am using HTC M9, when I play the audio file from the RAW folder using exoplayer the last word is chopped.

This happens only when I change audio manager mode to "MODE_IN_COMMUNICATION"
audioManager.setMode(AudioManager.MODE_IN_COMMUNICATION);
And other modes like MODE_IN_CALL or MODE_NORMAL audio is playing fine(means without cut)

[2018-05-07 08:01] luckylook commented on #4125
thanks Ojw28 and tbertschi
now its work on my Huawei device but i cant play it on my OnePlus 5T do you
have any idea?

2018-05-06 19:41 GMT+03:00 ojw28 <notifications@github.com>:

[2018-05-07 08:40] isabsent commented on #4212
This is my custom `InputStreamDataSource`:

    public class InputStreamDataSource implements DataSource {
        private InputStream inputStream;
        private long bytesRemaining;
        private boolean opened;

        @Override
        public long open(DataSpec dataSpec) throws IOException {
            try {
                File mediaFile = new File(Environment.getExternalStorageDirectory

[2018-05-07 09:06] croedel commented on #3596
Just adding some points to stress the high business relevance of this ticket:

The non working color schema BT.601 PAL is the **standard color schema for SD Live streams**. This means, that this bug causes all SD Live streams with Widevine DRM encryption to fail on Pixel2.
The workaround (i.e. changing the color schema) for Live streams unfortunately is **not** a simple setting within the transcod

[2018-05-07 09:11] sn32247 opened #4215 "Disable exo_prev imageview in first track of list"
when start playing (first) track of AudioList ,whay exo_prev ImageButton is Enable?
i want change it but not work.
 version=2.7.3

[2018-05-07 09:38] petersamokhin commented on #4197
@ojw28 I need to save and play big video parts (250-300mb and more), but converting video by ffmpeg or by something else takes too much time.

But all players that I tried to use on my mac (include usual Google Chrome) can play and seek these videos normally. Android's `MediaPlayer` or simple `VideoView` also can't seek these videos.

You told about `time->byte` mapping. How can I add this mapping

[2018-05-07 10:31] VitalyVPinchuk commented on #4196
Hello everybody!
I tried to reproduce mentioned above issue but had no problem playing the media https://ia801309.us.archive.org/27/items/hb2015-11-06/hb2015-11-0616bitmatrix_t05.flac

Probably you are building the demo without flac extension or the extension itself wasn't compiled properly using NDK.

[2018-05-07 13:19] AquilesCanta commented on #4206
I don't see anything obviously wrong with the LoadControl arguments. Might make sense to try [chunkless preparation](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6).

[2018-05-07 13:23] AquilesCanta commented on #4206
A further tweak could be implementing an AdaptiveTrackSelectionFactory that always picks the lowest quality, so that the initial segment load is as quick as possible. Let me know if these approaches address your issue.

[2018-05-07 13:52] isabsent commented on #4212
Ok, I have found all answers by myself :) I suppose it will useful for others. The solution is:

    public class InputStreamDataSource implements DataSource {
        private Context context;
        private DataSpec dataSpec;
        private InputStream inputStream;
        private long bytesRemaining;
        private boolean opened;

        public InputStreamDataSource(Context context, DataSpe

[2018-05-07 13:59] pals-ric opened #4216 "ExoPlayerImplInternal: Internal runtime error"
05-07 19:28:34.697 31757-31999/com.ideacellular.digitalvideo E/ExoPlayerImplInternal: Internal runtime error.
                                                                                      java.lang.IllegalStateException
                                                                                          at android.media.MediaCodec.native_dequeueInputBuffer(Native Method)

[2018-05-07 14:04] pals-ric commented on #4216
hi
I have added last working solution `https://github.com/google/ExoPlayer/issues/3032`    for draggable panel landscape mode so I am getting this error in simple exo player please help me out with this.

[2018-05-07 14:09] ojw28 commented on #4212
Glad you've got something working. Just taking a quick look at your code: If you want this to work with any `InputStream` then you should be careful not to make assumptions that aren't guaranteed by the `InputStream` interface. For example your code is assuming `InputStream.skip` will skip the full requested amount, which is not guaranteed by the interface (but may be true for specific implementat

[2018-05-07 14:09] #4212 closed, assigned to ojw28

[2018-05-07 14:17] ojw28 commented on #4125
Not all devices support a secure output path, which I suspect is what your license is specifying. To enable playback on such devices, most streaming providers will make lower resolutions of their content available without specifying the need for a secure output path in the license. You can query on device whether a secure output path is provided by obtaining a `DefaultDrmSessionManager`, then doin

[2018-05-07 14:19] isabsent commented on #4212
Thanks for clarification. `InputStream` properties and behaviour are under my control because it is produced by our native cryptographic libraries and will skip exactly the needed number of bytes.

As I understand `getUri()` is necessary to reopen `InputStream` if it has no `random access` to data (to `rewind` or find `moov atom` if it placed at the end of file)? Am I right?

[2018-05-07 14:33] andrewlewis commented on #4114
[Internal reference: b/77574091]

[2018-05-07 14:34] andrewlewis commented on #4140
[Internal reference: b/78006594]

[2018-05-07 14:53] ojw28 commented on #4212
Random access to data is achieved by closing a `DataSource` and re-opening it at the desired position.

`getUri()` is used by consumers who need to know about redirects (i.e. when the actual content is being read from a `Uri` different to the one in the request that was passed to `open()`. I doubt this is relevant to your case; you should simply pass back the same `Uri` as was in the request (as i

[2018-05-07 14:57] ojw28 commented on #4215
It's enabled because tapping it seeks the user back to the start of the (first) track. If you don't like the behavior of our standard UI components, you should implement your own (possibly using the ones we provide as a starting point).

[2018-05-07 14:57] #4215 closed, assigned to ojw28

[2018-05-07 15:00] ojw28 commented on #3596
@jefftinker - My understanding is this is fixed for Pixel in P. Could you confirm this is correct? Thanks.

[2018-05-07 15:04] ojw28 commented on #4149
@isabsent resolved their issue. See https://github.com/google/ExoPlayer/issues/4212.

[2018-05-07 15:08] naseer commented on #3596
If the transfer for such clips can somehow be spoofed to `Recommendation ITU-R BT.470-2 System M | gamma 2.2`, that should also help resolve this problem until a proper fix is available to you.

[2018-05-07 15:08] ojw28 commented on #4197
By building a proper `sidx` box at the start of the file. Alternatively by creating a DASH manifest that lists the downloaded segments, and treating it as DASH content. The second of these options is probably the easier of the two.

[2018-05-07 15:28] petersamokhin commented on #4197
@ojw28 I can't affect DASH manifest :(
Can you tell me, please,

why (if ALL files must containt proper `sidx` container) duration of the entire video is displayed as value from first `sidx` box?

And what is the proper `sidx` box for ExoPlayer?

 I'm asking this because many other players can play and seek this video — which means that my video's `sidx` boxes are proper for them and I need to ada

[2018-05-07 15:42] ojw28 commented on #4197
As already explained above, the DASH manifest is clearly providing indexing functionality by listing all of the segments and their durations. You're throwing this information away, and not replacing it with anything else, when you concatenate the segments. A `sidx` box that would allow seeking in ExoPlayer would contain equivalent information (i.e. would have an entry for each segment, its time/du

[2018-05-07 15:53] andrewlewis commented on #4206
Not sure if this is relevant, but it's also possible to make your own `LoadControl` that's similar to `DefaultLoadControl` but that allows you to set the buffer for playback after rebuffer duration after instantiating your load control. (Note that load control is used from the playback thread so you'll likely need to have some kind of synchronization if you do this.)

[2018-05-07 16:15] kevleyski commented on #4185
Any further thoughts on this/things I might try out?

[2018-05-07 16:18] ojw28 commented on #4185
You could have a stab at fixing it in the DASH module, if you feel sufficiently motivated! As above, any solution should also avoid request segments that will not be played due to clipping as a result of the specified period duration.

[2018-05-07 17:34] donpec commented on #4213
Thanks @ojw28, I bold that at the description error on purpose.

If this is playing fine using a web player and a Roku Device, Do you have any suggestion on how can I modified my Nimble Streamer server settings in order to add this Sync Byte with this audioOnly tracks? Or what's Exoplayer requirements or the theory behind this error.

Could you help me pointing me at any direction in order to make

[2018-05-07 17:40] ojw28 commented on #4056
Fixed in 301bb3ada44c2115819eb43582d8287a35d3fcad

[2018-05-07 17:40] #4056 closed, assigned to marcbaechinger

[2018-05-07 17:43] #4165 closed, assigned to andrewlewis

[2018-05-07 17:44] #4187 closed, assigned to AquilesCanta

[2018-05-07 17:44] #2527 closed, assigned to botaydotcom

[2018-05-07 17:45] #4182 closed, assigned to AquilesCanta

[2018-05-07 17:45] #3142 closed, assigned to andrewlewis

[2018-05-07 17:46] ojw28 commented on #4057
(1) is implemented as described in my response above. We've not done (2), and this is likely to be considered low priority.

[2018-05-07 17:47] ojw28 commented on #3915
Track selections are now preserved in the demo app.

[2018-05-07 17:47] #3915 closed, assigned to ojw28

[2018-05-07 17:49] ojw28 commented on #4016
I believe this can be marked as fixed (@AquilesCanta - Please re-open if there's more to do)

[2018-05-07 17:49] #4016 closed, assigned to AquilesCanta

[2018-05-07 20:54] joaquim-verges opened #4217 "Question on achieving a low latency HLS live stream"
I'm using Exoplayer to play HLS live streams with a 30 sec window and 2 second segments, and I'am trying to optimize for low latency.

Everything works great using all the default settings for `LoadControl` and the default `HlsExtractorFactory`, with playback starting 3 segments before the end of the window as expected.

The issue i'm seeing is when I'm on a good connection, I often get into a ver

[2018-05-07 22:16] AlienAsRoger commented on #3774
Any updates here?

I have this log for same integration, but what I would expect is that `AdEventType.COMPLETED` would be called after Ad has finished, instead of `AdEventType.PAUSED`
[code]

[2018-05-08 05:01] pallavirichhariya22 commented on #4216
can anybody suggest me solution.

[2018-05-08 07:04] pals-ric commented on #3623
even i am getting some issue like this
https://stackoverflow.com/questions/50226250/java-lang-illegalstateexception-at-android-media-mediacodec-native-queueinputbuf?noredirect=1#comment87471939_50226250

[2018-05-08 08:36] luckylook commented on #4125
ok..
i can't mail them for 20,000 devices...
security on Huawei is :L3 and also on OnePlues5T
maybe is the video decryption?

2018-05-07 17:17 GMT+03:00 ojw28 <notifications@github.com>:

[2018-05-08 08:52] tonihei commented on #4216
Can you please provide the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) for us to take a look?

From the error you posted, I guess this is happening after you left the activity with ExoPlayer? The system media codec sometimes fails to stop in such cases.

[2018-05-08 09:32] tonihei commented on #4214
I tried to reproduce your problem by using the exact same properties for the `PlayerView` in our demo app (except for your custom controller layout). And in `onPlayerStateChanged`, I added the following code:
[code]

This works fine with the latest ExoPlayer version. Could you please provide more detailed reproduction steps in our demo app? Or try our latest version to see if that problem still pe

[2018-05-08 09:40] pals-ric commented on #4216
i have added below code in onconfiguration change

     View playerView = videoPlayerFragment.getView();
                    frameLayout= (FrameLayout) findViewById(R.id.drag_view);
                    frameLayout.removeView(playerView);
                    draggablePanel.addView(playerView, playerView.getLayoutParams());

because of this code some view is removing . I am not able to identify whic

[2018-05-08 09:50] tonihei commented on #4217
Can you provide us with a link to your test stream to ensure we can reproduce the issue?

I tested another HLS live stream and manually set the start position to a few seconds to the end of the window. This also causes some buffering as soon as I reach the end of the  window. However, this is clearly caused by running out of media as the playlist update and prebuffering of the next segment doesn't

[2018-05-08 10:14] tonihei commented on #4216
This seems unrelated, or least it's unclear what causes the error.

Again, can you please provide clear reproduction steps (ideally in our demo app)? Otherwise, it's not possible for us to understand what's going on and to investigate.

[2018-05-08 10:20] pals-ric commented on #4216
i tried this solution in my code

https://www.google.com/url?q=https://github.com/pedrovgs/DraggablePanel/issues/78&sa=D&source=hangouts&ust=1525861209276000&usg=AFQjCNEz_McjriPWiBDAL0uY0ZmtcbBvcA

last working solution i have one thierd party exoplayer which is running fine with this solution but for my player video is not comming while rotation .

[2018-05-08 10:35] pals-ric commented on #4216
only subtitles are running video went somewhere

[2018-05-08 10:38] pals-ric commented on #4216
i am getting everything running only video is not appearing

[2018-05-08 10:56] tonihei commented on #4216
We can't help you debug issues with DraggablePanel or generic Android developement. That's something you need to bring up with them or ask on StackOverflow or similar.

If you want us to look into a specific ExoPlayer issue, please make sure to boil it down to its source as much as possible such that we can actually reproduce it.

[2018-05-08 11:44] petersamokhin commented on #4197
@ojw28 `sidx` box [specifications](http://www.etsi.org/deliver/etsi_ts/126200_126299/126244/10.02.00_60/ts_126244v100200p.pdf):

[code]

ExoPlayer's [`FragmentedMp4Extractor.parseSidx`](https://github.com/google/ExoPlayer/blob/000f3f23056aae30a98ac74fb30e484844548b3e/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/FragmentedMp4Extractor.java#L1036) is this code, translated t

[2018-05-08 11:51] srinivasstpl opened #4221 "OutOfMemoryError {ExoPlayerImplInternal:Handler}"
Google Analytics reflects that one particular device Huawei DUK-L09 Honor 8 Pro keeps encountering this issue. Unfortunately, the only information I get regarding this is `OutOfMemoryError {ExoPlayerImplInternal:Handler}`

[2018-05-08 12:18] tonihei commented on #4221
This device seems to have 4 or 6 GB of RAM. So, it's definitely not a low-end device which may have issues buffering media with ExoPlayer. Note that the maximum we aim to keep in the buffer at the moment is around 16MB only.

Is there any other indication as to what may happen on this device? For example, do you know what media item the device was playing? Or whether your app may allocate memory f

[2018-05-08 12:18] pals-ric commented on #4216
what view i should remove according to `https://github.com/pedrovgs/DraggablePanel/issues/78` solution for now i am removing whole layout so some surface view and compont listener is getting removed along with that .

[2018-05-08 12:24] tonihei commented on #4216
As I said, please file any issues you have with DraggablePanel on their site.

Closing as this doesn't seem to be an ExoPlayer problem.

[2018-05-08 12:24] #4216 closed, assigned to tonihei

[2018-05-08 13:03] sunit-poddar-zz commented on #4214
Thanks for replying @tonihei. I'm trying to make a video editing application and using `ConcatenatingMediaSource` for multiple videos one after the other. I've done the same thing as suggested by you on the overridden function `onPlayerStateChanged` and changed the playerView's visibility to View.Visible.

For rotation, I'm performing `playerView.setRotation(90)` on the overridden function `onPosi

[2018-05-08 13:14] tonihei commented on #4214
That sounds as if the problem lies somewhere in your app ;) Can you figure how this fresh demo app is different from your actual app? Maybe some method isn't called or in an unexpected order.

[2018-05-08 14:38] kvillnv commented on #2643
@ojw28 @erdemguven is there any way to limit the bandwidth in the download service?
If I need to play a stream while I am downloading, on small connections it might be an issue.

@KiminRyu yes I have done remove actions, it is not instantaneous but it's not that long.

[2018-05-08 14:44] garethfenn opened #4224 "Transport stream playback failure"
### Issue description
Exoplayer fails to playback TS stream captured from UK terrestrial feed. The stream itself was captured by enabling a debug record option in the Google LiveTV app; a single track in a TS container. Other players are able to cope OK.

### Reproduction steps
adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d http://.../17540_1525450653159_2926.ts

### Link t

[2018-05-08 15:05] ErezNe opened #4225 "Video issue with tunnel mode enable"
Hi ,
I enable on the fly  tunnel mode on 2.5.4 version with HEVC content over DASH without
 DRM  encrypted ,
 while enable the video tunnel and try to play the  content I can not  see  video but only  hear audio  !

I trace logs via logcat   and can see The issue happened at ExoPlayerImplInternal
The following is the detail information.

• up layer create video instance for tunnel mode and destroy

[2018-05-08 15:32] sunit-poddar-zz commented on #4214
Only the gradle dependencies are different in the two applications (demo and my original project).

I've created a new demo activity inside my project only for playing a video file present locally but the resultant is same. I've also tried by replacing`SimpleExoPlayerView` with TextureView and provided it to SimpleExoPlayer by

`TextureView textureView = (TextureView) findViewById(R.id.textureView

[2018-05-08 15:56] ojw28 commented on #4225
Duplicate of https://github.com/google/ExoPlayer/issues/3675.

[2018-05-08 15:56] #4225 closed, assigned to ojw28

[2018-05-08 15:57] ojw28 commented on #3675
The tunneled output path is mostly the responsibility of the device manufacturer. I'd suggest reporting the issue to Technicolor/Synaptics.

[2018-05-08 16:21] AquilesCanta commented on #4213
I cannot do much without looking at the content (which was skipped; the master playlist's content is not enough). However, #4194 might be relevant: Check that the file extension of the segments in the media playlist matches the actual container format. In this case, the extension is probably .ts while the file is, for example, an mp3 audio file.

[2018-05-08 16:24] AquilesCanta commented on #4016
Please let us know if you run into any issues with ID3 while using chunkless preparation.

[2018-05-08 18:20] tony1960 commented on #4196
Hello:
For this  I 'called out' the url. To me, there appears to be no naming error, but please take a look/

 Here is what I am doing:
dataSourceFactory = new DefaultDataSourceFactory(parent, "Hobos");

                extractorsFactory = new DefaultExtractorsFactory();
                mainHandler = new Handler();
                mediaSource = new
                        ExtractorMediaSource.Fact

[2018-05-08 20:48] VitalyVPinchuk commented on #4196
I don't see anything wrong with your code, sorry.
So either you have a wrong string to Uri.parse() or flac extension isn't loaded.

[2018-05-08 20:53] shaklokan opened #4226 "Check if audio file is CBR or VBR (question)"
Hello and thanks for this awesome project. I would like to know if ExoPlayer has an accessible function to check if an audio file is CBR or VBR?

Thank you.

[2018-05-08 22:14] botaydotcom commented on #4196
@tony1960: From your debug log, it says:
None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor) could read the stream.
There's no mention of FlacExtractor in this list. This means you haven't built your project correctly to use the FLAC extension, and s

[2018-05-08 22:20] paf-wv commented on #4198
I have reached out to our LG contacts, but I am not sure how successful we will be, but we will try.

[2018-05-09 01:31] tony1960 commented on #4196
Hi,
Ok, Thank you very much. I guess it is fine to close. BTW would easier to download mp3 audio files.

[2018-05-09 06:38] tspvivek commented on #4200
@AquilesCanta  Hi Santiago, Do i need to provide any more details that could help you?

[2018-05-09 07:52] kimnamcham commented on #4206
Thanks i will try it

[2018-05-09 07:52] srinivasstpl commented on #4221
Thanks for the prompt response, I am certainly considering the aspect wherein no memory is left for ExoPlayer. For the content that ExoPlayer is playing, it's an mp4 video. Is it possible that if the video resolution that's being supplied to ExoPlayer is far more than the device's screen resolution, this issue may occur?

[2018-05-09 08:07] tonihei commented on #4221
What video resolution are we talking about? By default, ExoPlayer tries to buffer at least 15 seconds worth of media (irrespective of the 16MB mentioned above). So for very high res videos, this may easily exceed 16 MB.
Not sure how easy you can test this, but there is an option in our `DefaultLoadControl` that lets you prefer the size threshold over the time threshold (i.e. set `prioritizeTimeOve

[2018-05-09 08:13] tonihei commented on #4214
What I mean is that your problem sounds as if `playerView.setVisibility(View.VISIBLE);` is either not called at all or called before the player view is available (and ready to be set visible). Or there is another call which sets the visibility to `View.GONE`.

From what you say, it seems it's actually not an ExoPlayer problem (because your code works in your and our demo app) but rather a generic

[2018-05-09 08:41] atkGit commented on #2953
Hi Santiago ,
Thanks a lot . We tried and it is working now  for external subtitle file (.xml - IMSC1 format) . Is there any way we can load the  subtitles embedded in .fmp4/.mp4 containers as well ?

Thanks
Ambika

[2018-05-09 11:04] Waleedasim opened #4227 "how to play online mp4 video in exoplayer"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-05-09 11:07] Waleedasim commented on #3848
how to play mp4 video online

[2018-05-09 11:08] tonihei commented on #4227
Please have a look at our [developer guide](https://google.github.io/ExoPlayer/guide.html) to get started. The guide explains how to integrate ExoPlayer and how to load and play media.

[2018-05-09 11:08] #4227 closed, assigned to tonihei

[2018-05-09 11:11] ened opened #4228 "MOV containing PCM - playback speed too high [reopened] [question]"
I would like to re-open the issue here, rgd. incorrect MOV file playback when the audio stream contains PCM 16 LE raw audio.

https://github.com/google/ExoPlayer/issues/1592

The issue appears when a Android phone connects Dash Cams or IP Cameras, downloads the recordings and tries to play them. The issue is present throughout multiple chipsets and manufacturers.

To followup with the original iss

[2018-05-09 12:21] prilaga opened #4229 "Sound button"
Please add the sound on/off button to the player.
I can't find this UI element on `R.layout.exo_playback_control_view`
Thanks.

[2018-05-09 13:27] tonihei commented on #4224
I'm able to reproduce your problem. Our TsExtractor loops forever trying to find a payload reader. @AquilesCanta can you take a look?

[2018-05-09 13:51] petersamokhin commented on #4197
@ojw28 and still I think that error is in ExoPlayer's logic...

I learned your code (specially [`FragmentedMp4Extractor.parseSidx`](https://github.com/google/ExoPlayer/blob/000f3f23056aae30a98ac74fb30e484844548b3e/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/FragmentedMp4Extractor.java#L1036)), and I can tell now:

1. `earliest_presentation_time` == `t="213067"` from DASH

[2018-05-09 14:40] garethfenn commented on #4224
Thanks. Looking into the TsExtractor, I was able to play back the stream by skipping over the second audio PID (6606) esinfo in the PMT. Unfortunately Google LiveTV only captures the one audio PID and doesn't modify the PMT accordingly. I'm not sure how this works for ATSC...

Are there any plans to support TS streams such as this?

[2018-05-09 14:46] ojw28 commented on #4197
We expect a single sidx at the start of the file that contains references to every segment (i.e. reference_count should equal the number of segments).

Think of a book index as an analogous structure. A book index is in one place, indexes the whole book, and tells you where everything is. Would that index be useful if instead it were scattered throughout the whole book, with a single entry in each

[2018-05-09 14:49] ojw28 commented on #4197
If you want to look at an example what what we expect from a FMP4 file, try inspecting [this stream](https://www.google.com/url?q=https://storage.googleapis.com/exoplayer-test-media-1/gen-3/screens/dash-vod-single-segment/video-avc-baseline-480.mp4&usg=AFQjCNHjnNzWr0KgtfyOTJqK3rDDcHNERA).

[2018-05-09 14:56] tonihei commented on #4228
It still looks like the media is broken. The raw audio actually has a sample rate of 16 kHz while the headers claim its 32 kHz (see the ffmpeg output in #1592). When I override the sample rate to be 16 kHz, everything works as expected.

Note: I derived the actual sample rate from the Mp4 sample table. The chunks have 1024 bytes, meaning 512 samples with 16 bit. The timestamp difference between th

[2018-05-09 15:44] ojw28 commented on #2953
If it's a format we support then it should "just work". When you try playing a sample stream in our demo app, do you see a "Text" button and does it allow enabling the track? If you don't see that then you'll have to provide some sample media, and it'll likely be a feature request to support whatever format you're using.

[2018-05-09 15:44] ojw28 commented on #2953
Also, this is off topic (this issue was closed a long time ago). Please file a new issue.

[2018-05-09 16:06] tonihei commented on #4229
We are currently not planning to add such a button to our UI. However, you can provide your own control view by providing a exo_player_control_view.xml as explained [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerControlView.html). In there you can an extra element for toggling audio on and off.
Note that we also recently added a [TrackSelectionView](h

[2018-05-09 16:21] luckylook commented on #4125
thank you very much,the video was encrypted too strongly we reduce it
little bit and now everything ok.
you can close the topic.

בתאריך יום ג׳, 8 במאי 2018, 11:36, מאת zion aronov ‏<aronovzion@gmail.com>:

[2018-05-09 17:08] petersamokhin commented on #4197
@ojw28 thanks for response! Your example stream contains not `sidx` boxes :(

You told:

And your parser:

[code]

`firstInt` == `referenced_size` as far as I understand?

For example, I have ~3500 `.m4v` files (each ~66-67 kB size and 1001 ms duration). If I simply concatenate all these files, result file will be playable, but not seekable for ExoPlayer. Each file contain one `sidx` box (`[28..72

[2018-05-09 17:33] AquilesCanta commented on #4200
Sorry for the delay, but I cannot debug the issue just yet. Will try to do next week. There is nothing obvious I can point out, so I will just try to manually diagnose the issue. Feel free to give it a try, if you have some time.

[2018-05-09 17:42] shaklokan commented on #4226
Thanks for the info tonihei. I am starting an audio editing app. One example where I require the CBR vs VBR is cutting. ExoPlayer has a problem with the positioning of VBR audio files. So I cannot provide a proper start point and end point. So I am thinking I should check the audio file and see if it is VBR and I tell the user that it is not supported.

[2018-05-09 17:44] ojw28 commented on #4197
It contains a single `sidx` box that references all of the segments, which is what we need for FMP4 to be seekable. Anything involving multiple `sidx` boxes distributed throughout the content is not what we need.

[2018-05-09 18:38] joaquim-verges commented on #4217
Thank you for the prompt reply @tonihei! That makes much more sense now, didn't think of reducing the `bufferForPlaybackAfterRebufferMs` value, it does help getting better latency on good connections.

I'll play with the right value to balance between latency and good experience for slower connections.

I'm also thinking of subclassing `DefaultLoadControl` to increase the `bufferForPlaybackAfterRe

[2018-05-09 19:16] johndevthings opened #4230 "Cancel a sent message created by createMessage()"
Hi, how do I cancel a created message. Here is my code to create the message:

    myPlayer.createMessage( new PlayerMessage.Target() {
    @Override public void handleMessage(int messageType, Object object)
    {
        // do stuff
    }
    }).setPosition(position).send();

I tried looking for something in the documentation without luck.

Thanks for your time.

Edit: I have tried getting a refe

[2018-05-09 20:30] kvillnv commented on #2643
It seems that when the cache becomes voluminous it becomes slower to start playback:
(I only downloaded Dash streams, with only 1 audio and 1 video representation)
When I have for example 2 medias or less already downloaded in the cache, I play one of them, it starts instantly, no problem.
But when I have more, my player shows a black screen for a few seconds before starting. The more medias in ca

[2018-05-09 20:55] workspace commented on #2643
@kvillnv How about follow [this](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoApplication.java#L138) way to initiate CacheDataSourceFactory? It is from the latest release(2.8.0)'s demo application. It works fine even I downloaded more than 20 dash streams. uhmm...and I think you will get SimpleCache Error(it should be singleton

[2018-05-09 20:59] andrewlewis commented on #4143
This is likely to be a duplicate of #4140, which seems to be an IMA bug: in both cases, ads are skipped after resuming the ads manager while in a midroll.

Marking as a duplicate for now, but we can reopen if this turned out to be different once that issue is fixed.

[2018-05-09 20:59] #4143 closed, assigned to andrewlewis

[2018-05-09 22:59] #4229 closed, assigned to tonihei

[2018-05-09 23:06] ojw28 commented on #2371
Let's use #2250 to track this.

[2018-05-09 23:06] #2371 closed, assigned to ojw28

[2018-05-09 23:08] ojw28 commented on #2662
I don't think we're going to support this, sorry. You can most likely achieve what you need without any direct support in ExoPlayer (e.g. by keeping track of your custom `DataSource` instances and releasing them when you release the player).

[2018-05-09 23:08] #2662 closed, assigned to ojw28

[2018-05-09 23:12] ojw28 commented on #2677
I don't think we need both this issue and https://github.com/google/ExoPlayer/issues/2484 open at once. Marking as duplicate.

[2018-05-09 23:12] #2677 closed, assigned to ojw28

[2018-05-09 23:14] ojw28 commented on #3744
I took a quick look at this a few weeks ago and it looked pretty sensible. I didn't spot anything obviously problematic. Having said that, I wasn't able to spend too long on it due to time constraints. Sorry to not be more helpful!

[2018-05-09 23:14] #3744 closed, assigned to ojw28

[2018-05-09 23:17] #3945 closed, assigned to ojw28

[2018-05-09 23:21] ojw28 commented on #3726
I don't think we're going to spend any time fixing this. The logged warning was removed from the platform in newer releases, and in older versions it seems it's considered harmless.

You can also avoid the issue by using one of our two network stack extensions (the OkHttp extension and the Cronet extension). It's probably a good idea to use one of those regardless, so you're using the same network

[2018-05-09 23:21] #3726 closed, assigned to ojw28

[2018-05-09 23:21] ojw28 commented on #466
Now tracked by https://github.com/google/ExoPlayer/issues/3735.

[2018-05-09 23:26] ojw28 commented on #4163
Closing due to lack of information.

[2018-05-09 23:26] #4163 closed, assigned to ojw28

[2018-05-09 23:28] ojw28 commented on #3787
Closing due to lack of information.

[2018-05-09 23:28] #3787 closed, assigned to ojw28

[2018-05-09 23:29] ojw28 commented on #3453
A fix was merged for this. We may flip the default to not calling sync() at some point in the future, based on experimental results.

[2018-05-09 23:29] #3453 closed, assigned to ojw28

[2018-05-10 00:27] #4176 closed, assigned to ojw28

[2018-05-10 00:27] chariotsystems commented on #3726
Thank you for all your help here.

On Thu, May 10, 2018 at 9:21 AM, ojw28 <notifications@github.com> wrote:

[2018-05-10 01:05] ojw28 commented on #3412
We do not support this currently, I'm afraid.

[2018-05-10 01:06] #3809 closed, assigned to AquilesCanta

[2018-05-10 01:06] #4051 closed, assigned to tonihei

[2018-05-10 01:07] #3992 closed, assigned to botaydotcom

[2018-05-10 01:25] ojw28 commented on #3741
Closing this because it transpired the issue was DRM related rather than being an issue with  `SimpleExoPlayerView`. As above, the only way I can think of fixing it is for us to resolve #2826.

[2018-05-10 01:25] #3741 closed, assigned to ojw28

[2018-05-10 02:39] tony1960 commented on #4196
Hi,
Ok, Thank you very much. I guess it is fine to close. BTW would easier to download mp3 audio files.

[2018-05-10 02:39] #4196 closed, assigned to AquilesCanta

[2018-05-10 02:51] kinhdang opened #4231 "Get an issue while using ima ads (may be special exception)"
Dear all !

We use exoplayer 2.7.1, and it works properly. but recent we get an issue with log file detail follow, may be this issue is exception specialy, we only post here, if any knows, please share idea how to improved.

THanks.

ANDROID_VERSION=4.2.2
BRAND=rk31sdk
PHONE_MODEL=IPTV1
CUSTOM_DATA=
STACK_TRACE=java.lang.NullPointerException
at com.google.android.exoplayer2.ext.ima.ImaAdsLoader.lo

[2018-05-10 03:31] andrewlewis commented on #4231
If `loadAd` were called after releasing the ads manager that could cause this, but that is unexpected. Do you have steps to reproduce the issue or any other information about the circumstances under which the crash occurred?

[2018-05-10 03:36] kinhdang commented on #4231
Thanks andrewlewis !

unfortunately, this issue we got by end user when they using our app, we will monitor more this case, and report in here.

Many thanks.

[2018-05-10 03:36] #4231 closed, assigned to andrewlewis

[2018-05-10 03:53] donpec commented on #4213
Thanks Aquiles, in fact the original file is an mp4 file but the Nimble Streamer is doing a mp4 transmuxing to HLS using .ts chunks, so if I force the extension at the Exoplayer (EXTENSION_EXTRA) and pass the value "mp4", "ts" or anything but "m3u8" this error is shown:
 E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the av

[2018-05-10 07:00] khat33b opened #4232 "Add custom IMA ad cue points"
Right now, the IMA extension only takes cue points from the VAST URL. A method should be added in the extension which allows developers to add custom cue points and show the same ad from the URL at user defined positions.

[2018-05-10 08:19] ZohaibGhafoor opened #4233 "How to pass custom data to DownloadService Notification?"
how to pass title text or bigimage custom data from activity or fragment to DownloadManager / DownloadService to show in Notification ?

[2018-05-10 09:17] lwasylkowski opened #4234 "Checker Framework dependency leaked"
### Issue description
ExoPlayer 2.8.0 (core) includes transitive dependency on checker framework

[code]

### Reproduction steps
Include Exoplayer 2.8.0. Issue became apparent to us when Lint complained:
[code]

### Version of ExoPlayer being used
2.8.0

[2018-05-10 09:44] botaydotcom commented on #4230
Hi @johndevthings :
I don't think there's an easy way (if any way) to remove the message. @tonihei maybe able to answer that better.
AFAIK, `myPlayerMessage.markAsProcessed();` is not designed for this purpose. It is to be called by the message `Sender` (in most cases, the internal player), rather than application code.

A way to workaround this, if the message you send is a customer message and y

[2018-05-10 10:24] ened commented on #4228
@tonihei OK, so it's bad media.

A few things then:

- VLC, Android standard MediaPlayer and ffmpeg support playback without issues here, the pcm_s16le component on ffmpeg seems to handle it just fine in fact. As ExoPlayer already tries to work with the PCM audio in `DefaultAudioSink`, would this be a welcome additional layer of compatibility?
- The media files are generated by the thousands at th

[2018-05-10 11:24] sergejsha opened #4235 "Repackaging of PlayerNotificationManager"
Currently `PlayerNotificationManager` is packaged as a part of `core-ui` module. The fact is that `PlayerNotificationManager` is used inside a media service implementation, which is not a ui-module by its nature and which does not use any other `core-ui` classes either. Current packaging forces me to include whole player UI into my service library module, although only `PlayerNotificationManager`

[2018-05-10 14:13] johndevthings commented on #4230
So, you mean I should go ahead and do setPlayload(STATICVALUE).send(). I was hoping I would not have to do that. I really appreciate the information, though.

[2018-05-10 14:47] VitalyVPinchuk commented on #4200
Hi everyone,
I tried to play the media and failed too. I think given link is not valid and RTMP extension fails to connect through RtmpClient with exit code -3 or -4.
Please try this one: rtmp://184.72.239.149/vod/mp4:bigbuckbunny_1500.mp4 though I'm not sure that it is real RTMP format.

[2018-05-10 15:13] botaydotcom commented on #4230
Yeah, that's the only solution I can come up with for now. Maybe we should add an API for making this task easier. Over to @tonihei to see if that's something we should do in a future release.

[2018-05-10 15:18] jboisjo commented on #4139
this has been resolved in 2.8.0 :D :D

good job !

[2018-05-10 15:25] kvillnv commented on #2643
@KiminRyu thank you, problem solved by reviewing my SimpleCache

[2018-05-10 16:41] AquilesCanta commented on #4213
Hi @donpec, no need to force a specific extension. EXTENSION_EXTRA is just used to choose the media source, which in this case needs to be HlsMediaSource, which was correctly chosen initially. The extension which I was referring to was the segment extension in the media playlists. To check this, have a look at any of the media playlists in the master playlist provided above. For example (you'll ne

[2018-05-10 17:08] botaydotcom commented on #4015
@jboisjo:
Could you please set-up a minimal project to show this problem, together with the URL of the content that you tried this on? If you don't wish to post these publicly, please email them to dev.exoplayer@gmail.com using a subject in the format "Issue #4015". That will help a lot in debugging/analyzing this issue. Thank you very much.

[2018-05-10 18:14] satyres opened #4236 "Exoplayer does not play all HLS streams"
Hi , Most of the time exoplayer works pretty fine with HLS streams
but this one is working well on VLC but this streams won't work
http://cldwz.radioinblu.it//HLS/RadioInBlu/webradiolive/chunklist.m3u8
Any explanation please ?
Regards

[2018-05-10 18:25] touseefbsb opened #4237 "Provide Kotlin versions of the demo apps"
I am not sure whether this is the best kind of question to ask, but I am actually very new to android development but with this io18 conference I am sure of 1 thing that **kotlin and jetpack** are the future of android development, and they seem really powerful and exciting. I checked the io18 branch with the demos and those apps seem to be in **java**, ofcourse there are still more than 50 percen

[2018-05-10 18:51] satyres commented on #4236
I'm sorry i found the bug it's in my app!
regards

[2018-05-10 18:51] #4236 closed, assigned to nobody

[2018-05-10 21:36] skyler-b opened #4238 "Dismiss/Pause notification when the track has ended"
### Issue description
I am displaying a notification for my player when the app is backgrounded. When the video ends, the state of the notification does not update (apart from the counter ending).

For my use case, I'd like to just cancel the notification, but I could also see a case for leaving it, but moving it to a 'paused' state (enabling the play button, instead of pause).

I attempted to can

[2018-05-11 00:37] karyogamy opened #4239 "Live HLS stream buffers from incorrect start time"
### Issue description

Hi, I've just updated ExoPlayer from 2.7.3 to 2.8.0 and discovered some live hls streams cause the player to constantly buffer and never start playback. Specifically, live hls streams that have duration of a couple minutes or longer.

When playing these streams, the player seems to load the stream from the start rather than the live edge or the current seek position. Perhaps

[2018-05-11 01:57] Khaos116 opened #4240 "Can't get audio duration"
get duration is -9223372036854775807
Audio url:
http://dev.storage.singworld.net/3/34/83215_LOW_20180324124008_0.aac

use mediaplayer is ok

[2018-05-11 03:23] ojw28 commented on #4235
It's in the UI module because it uses drawables and strings that are part of the UI module.

[2018-05-11 04:28] ojw28 commented on #4238
I think that your solution of posting the call to `setPlayer(null)` will work reliably without the 1000ms delay. Just posting with zero delay should be sufficient. This is because I don't think it's really a race condition as such. I think everything is on a single thread, that it's just an ordering problem, and that posting the call will get the operations into the correct order.

In terms of mak

[2018-05-11 04:39] tspvivek commented on #4200
@VitalyVPinchuk Hi, Thanks for trying out this issue. But this audio url is valid and its playing well in the [FFmpeg Media Player](https://github.com/wseemann/FFmpegMediaPlayer) . And also it plays if you open the [MBC Radio](http://www.mbcradio.tv/sites/all/themes/mbcradiotv/templates/bestfm.html) in Iphone Safari.

[2018-05-11 05:01] #4139 closed, assigned to botaydotcom

[2018-05-11 05:46] joaquim-verges commented on #4217
Just wanted to post an update for my buffering issue. I was lucky enough to meet @AquilesCanta from your team at Google I/O, and after inspecting a stream that reproduced the issue, he pointed out that I had an incorrect `#EXT-X-TARGETDURATION` of 5 seconds, while my segments are only 2 seconds.

This was causing exoplayer to only load new segments every 5 seconds, which I believe was the main cau

[2018-05-11 07:19] na-in-lee opened #4241 "Clipping of HLS streams from non-keyframe position starts with audio only"
### Issue description
If i seekto() and midroll ad skip, the audio and video syncs are not right in ExoPlayer2.6.1.

It is okay if i do not video seekto() or skip the midroll ad.
if i video seekto() and skip the midroll ad, the video is frozen while the audio is playing for 3 seconds.

### Reproduction steps

Test: play start > show preroll > skip preroll > play video(2sec) > move timebar(seekto(0

[2018-05-11 08:46] ened commented on #4228
- So far was not able to get the FFmpeg solution to work. I used the `pcm_s16le` decoder component but was not successful, yet.
- As a workaround, I could decipher the header and then configure ExoPlayer, but how to do this on a single file? I know about `com.google.android.exoplayer2.audio.AudioAttributes`, IMO the best place to configure the audio parameters. However, it might need to be extende

[2018-05-11 08:49] sergejsha commented on #4235
Ah, you are right. How about restructuring it a bit, allowing separate usage of remote/service UI? Simplest option would be `exoplayer-ui -> exoplayer-service-ui`. Current users of `exoplayer-ui` won't see any difference. At the same time audio players with own UI could reference just `exoplayer-service-ui` module. I could also prepare a merge request for it if you would trust it.

[2018-05-11 09:34] VitalyVPinchuk commented on #4200
Hi,
But still, I think it's not the issue of ExoPlayer. RTMP extension depends on RTMP-Client, which doesn't play this media offhand. Probably you should ask there (https://github.com/ant-media/LibRtmp-Client-for-Android).

[2018-05-11 10:31] tonihei commented on #4234
We added the dependency to checkerframework for static code analysis and also needed to provide lint exclusions for our library. See [here ](https://github.com/google/ExoPlayer/blob/release-v2/library/core/build.gradle#L47) and [here](https://github.com/google/ExoPlayer/blob/release-v2/checker-framework-lint.xml).

Unfortunately, it seems that these lint exclusions are not propagated when using th

[2018-05-11 11:01] tspvivek commented on #4200
@VitalyVPinchuk  Thanks for the information. I have opened a issue in LibRtmp.  [Error in playing RTMP Audio Stream](https://github.com/ant-media/LibRtmp-Client-for-Android/issues/65)

[2018-05-11 11:10] tonihei commented on #4230
Indeed, we currently don't have method to cancel a message once sent.
However, this is easy to implement and I'll mark it as an enhancement for one of our next releases.

In the meantime, you can easily implement a similar solution (as @botaydotcom already pointed out) by checking whether a boolean variable in your message handler is still true. And then you can set it to false to 'cancel' the mes

[2018-05-11 13:18] lwasylkowski commented on #4234
I see, thanks for the quick response. I later realised that this probably is intentional on all fronts, even if it looks like a strange design choice for Checker Framework to not have a separate artifact for annotations.

Would it make sense to e.g. strip checker annotations from the resulting jar for the release builds?

[2018-05-11 13:21] tonihei commented on #4234
I tried exactly that this morning by using gradle's `compileOnly` instead of `implementation`. This basically removes the dependency for all users of our library. Haven't been able to verify it actually helps yet.

[2018-05-11 13:25] lwasylkowski commented on #4234
`compileOnly` should work, actually. I was just writing that excluding the checker framework dependency fixes things as well (`{ exclude group: 'org.checkerframework' }`), and this is the same thing but on the other side.

The only thing is that if ExoPlayer ever uses anything else from Checker Framework than annotations this will break the library at runtime, since afaik only (?) annotations, eve

[2018-05-11 13:28] tonihei commented on #4234
Yes, I arrived at the same conclusion. We don't plan to ship anything else than their annotations, so hopefully this should be fine.

[2018-05-11 13:34] tonihei commented on #4226
"ExoPlayer has a problem with the positioning of VBR audio files" - Can you explain what you mean by that? If you'd like to play only a part of the media, you can use a `ClippingMediaSource` which lets you specifiy the start and end position (irrespective of the underlying format).

If you'd like to actually edit the files, I think you probably need much more information than just a constant bitra

[2018-05-11 13:38] AquilesCanta commented on #4217
Great news, Joaquim! Nice meeting you. Feel free to reach out if you run into any more issues.

[2018-05-11 13:57] tonihei commented on #4217
Closing the issue then, as it seems the question was solved.

[2018-05-11 13:57] #4217 closed, assigned to tonihei

[2018-05-11 13:58] erdemguven commented on #4233
DownloadService/Manager doesn't create a notification itself. You need to create a subclass of DownloadService and implement the getForegroundNotification method. From that method you can return any notification you want to be showed.

Please look at
https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoDownloadService.java#L53
as an ex

[2018-05-11 13:58] #4233 closed, assigned to erdemguven

[2018-05-11 14:02] ojw28 commented on #4235
Your suggestion would work on a technical level, but it seems a little arbitrary in that it's optimal only for apps using the particular set of UI components that you're using. I could imagine someone else reporting an issue saying they're using only `PlaybackControlView`, and complaining that they have a transient dependency on `exoplayer-service-ui` that contains a class they don't need :).

I d

[2018-05-11 14:03] #4235 closed, assigned to ojw28

[2018-05-11 14:08] #4201 closed, assigned to erdemguven

[2018-05-11 15:27] erdemguven commented on #4193
I'll look into this.

[2018-05-11 15:34] erdemguven commented on #4190
It's probably best to use VrVideoView for now. We might improve it so you can configure the player or create our own widget which is similar to VrVideoView so you can switch to our widget when it's ready.

[2018-05-11 15:41] sunit-poddar-zz commented on #4214
I know there's some issue with my project itself. I've mentioned in my question above that the app works perfectly with `surface_view`. When I'm changing surface_type to `texture_view`, I see a blacked out playerview with audio playing.

Please note that I've not changed anything else in the code but I see 2 different exoplayer behaviors with different surface_view types. With the exact same code

[2018-05-11 15:59] erdemguven commented on #2643
If I need to play a stream while I am downloading, on small connections it might be an issue.

@kvillnv, please look at PriorityTaskManager. If you create a PriorityTaskManager and use it with your DefaultLoadControl and DownloadManager (you should pass it DownloaderConstructorHelper and use it while contructing DownloadManager), it will make downloads pause while player is buffering.

Closing thi

[2018-05-11 15:59] #2643 closed, assigned to erdemguven

[2018-05-11 16:10] garethfenn commented on #4224
A correction to the previous comment: Google Live TV app **does** record all audio tracks. In this case, the secondary audio track is audio description that is not always present (>20% of BBC content has AD) . I've recorded streams where it's mute but still getting some packets, and other times where there's nothing at all. (As was the case in the stream provided)

This behaviour appears to preven

[2018-05-11 16:19] skyler-b commented on #4238
You're right, simply `post()`ing it works too, as you said, it must just be the order that the listeners are executed in.

[2018-05-11 16:44] tonihei commented on #4226
ClippingMediaSource should provide exact clipping. Please give it a try.

[2018-05-11 16:59] stellabei commented on #4198
@paf-wv @wvpaf
This problem is actually more serious than just a "cosmetic" black tag. If you let it play for a while/rotates it exits the player, sometimes the phone reboots. Clearly is causing a crash in the linux level as well. Please let LG contacts know.

[2018-05-11 20:31] andrewlewis commented on #4226
Variable bitrate MP3s don't support accurate seeking in general, unless you build a time-to-byte mapping by reading the whole stream (see #4209). If the media is short it's probably viable to download it and build the mapping, but we don't provide built-in support for this at the moment. You could also try decoding or transcoding the stream to another format that does support exact seeking.

[2018-05-11 23:28] ojw28 commented on #3537
We were able to confirm with the Pixel team that decoding 10-bit hevc is not enabled on Pixel 1, and that this is a known property of the device rather than a bug.

[2018-05-11 23:28] #3537 closed, assigned to andrewlewis

[2018-05-12 01:49] shaklokan commented on #4226
Thanks andrew. Yeah I am trying to dodge VBRs all together by making the user pick CBR audio files **only**. I thought maybe Exoplayer had a way to figure them out. I just started programming. So I think the mapping you are talking about is out of my league.

Does Exoplayer support this or it needs to be written?

[2018-05-12 04:53] donpec commented on #4213
Thanks for you reply AquilesCanta, I downloaded a segment and is a .ts fragment. Tested in VLC and all were playable.

Check this output from web player:

http://127.0.0.1:8081/VideoFile.2.smil/VideoFile.mp4-v_80_0.ts?nimblesessionid=3479721&wmsAuthSign=c2VydmVyX3RpbWU9MDUvMTIvMjAxOCAwNDo0NTozNCBBTSZoYXNoX3ZhbHVlPStLVnZNdHdBOG16elZCL1FmM05yOEE9PSZ2YWxpZG1pbnV0ZXM9MzYw

If I download the file it sa

[2018-05-12 09:34] kunal52 opened #4245 "Suppose i am downloading a video file. How to play this file while downloading in Exoplayer."
I am downloading a file into the phone I directly give the URI of the File but it through **E/LoadTask: Unexpected exception loading stream** How to do this or is this any way to pause the buffering of exoplayer while some data download.

[2018-05-12 18:02] #2843 closed, assigned to ojw28

[2018-05-12 18:03] ojw28 commented on #2843
We've added `PlayerView.setKeepContentOnPlayerReset` for this.

[2018-05-12 18:03] #4207 closed, assigned to ojw28

[2018-05-12 18:13] needz commented on #2843
@ojw28, just out of interest: if you switch the app to another stream/video and the next stream is being buffered for a long time, the previous picture will stay frozen during this buffering time. Do you think it would be handy to add some kind of timeout, after which you could reset the previous picture to black?

[2018-05-13 01:08] AquilesCanta commented on #4213
That URL points to localhost, @donpec. Ideally, please provide a public master playlist URL to dev.exoplayer@gmail.com so I can take a look at the content. The fact that has .ts extension (as pointed out in my comment above) does not mean it is actually a TS. Instead, it could be a playable mp3 (despite the extension).

[2018-05-13 01:10] donpec commented on #4213
let me send you the link to your email, I edited the server IP to 127.0.0.1. Thanks AquilesCanta.

[2018-05-13 01:35] AquilesCanta commented on #4213
Unfortunately I don't have access to the provided e-mail account right now. Will do early next week and will take a look. However, do make sure that changing the configuration of the server to use .aac instead of .ts for the audio segments does not fix the issue. This is my first guess of what's going on.

EDIT: Also, probing the segment with mediainfo would help.

[2018-05-13 17:16] kristurek opened #4246 "Error MtkOmxVdec: [0xb7b888b0] Input picture is over MAX, [0xb7b888b0] Insert PTS error"
### Issue description
ExoPlayer crash when i try play stream IPTV on FireStick TV.
On other devices like Samsung S6 Egde, Nexus 4, Samsung Galaxy Tab works perfect.

On lower resolution sample everything work ok, but on higher resolution (full hd) player crash after 2-5 seconds.

Maybe somebody know where can I increase MAX input size for picture (MtkOmxVdec: [0xb7b888b0] Input picture is over MAX

[2018-05-13 19:17] marcovietovega opened #4247 "Play files from google drive with ProgressiveDownload or Dash"
This is more a question than an issue. I'm trying to play video or audio files directly from my google drive account. I'm using the google drive rest API to get the download link (webContentLink), but I keep getting this error "ExoPlayerImplInternal: Source error". I'm following the example that was made in the presentation in #io18 "Building feature-rich media apps with ExoPlayer", to use the pro

[2018-05-14 00:32] AquilesCanta commented on #4247
Make sure that whatever your URL is pointing to is actually a media file. This is most likely not an ExoPlayer issue, but rather a source issue. Unfortunately, we cannot provide anymore assistance without the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-05-14 00:32] #4247 closed, assigned to nobody

[2018-05-14 05:15] AndroidDeveloperLB opened #4248 "Can't import"
I get this:

![image](https://user-images.githubusercontent.com/5357526/39979412-ee72d08e-574e-11e8-86cf-4d65b404170e.png)

Attached IDE log file.
[idea.log](https://github.com/google/ExoPlayer/files/1999428/idea.log)

[2018-05-14 06:25] lwasylkowski commented on #4234
Thanks for quick fix! @ojw28 I'm curious, is the reference to checker framework in proguard (`-dontwarn org.checkerframework.**`) still required in ExoPlayer? I see it's not removed in the fixes commit

[2018-05-14 06:41] AdamGrzybkowski opened #4249 "ExoPlayer set up with Rtmp extension leaks memory when closing the activity with playerView"
### Issue description
LeakCanary detects a leak when closing activity with PlayerView.

I'm using the ExoPlayer with Rtmp extensions to display the live stream. When the url is invalid (there is no live stream there) the leak occurs.

This is how the releasePlayer method looks like
[code]

![screenshot_20180514-081829](https://user-images.githubusercontent.com/12660801/39981425-d7a85e26-5750-11e8-

[2018-05-14 07:05] rd7773 opened #4250 "Playing locally stored MPEG-CENC encrypted mp4 file"
Is it possible to play MPEG-CENC encrypted mp4 files that are locally stored by initialising player with actual decryption key, instead of drm url and key-id. We intent to encrypt our content on our own without any DRM and then do its playback by giving the actual decryption key to the player.

[2018-05-14 08:42] tonihei commented on #4234
Yes, it still seems to be required.

[2018-05-14 08:42] tonihei commented on #4234
Also closing this issue, as it seems to be fixed now.

[2018-05-14 08:42] #4234 closed, assigned to tonihei

[2018-05-14 08:58] tonihei commented on #4226
That's not something we support, sorry. I guess you can use the ffmpeg library which supports decoding and encoding for many formats, and use the transcoded constant bitrate format in ExoPlayer.

[2018-05-14 09:04] tonihei commented on #4214
Unfortunately, we can't help you to debug an issue with your project if it's not an ExoPlayer problem.
I would encourage you to find the difference between your demo app and the actual project to figure out at which point the problem occurs.

Closing the issue for now, but feel free to reopen if it turns out ExoPlayer related after all.

[2018-05-14 09:04] #4214 closed, assigned to tonihei

[2018-05-14 09:32] akkbo commented on #3965
@alineayres
@erdemguven show how to play download content at https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95
https://gist.githubusercontent.com/erdemguven/01e029f170fdad47d032628c1a0bdcf7/raw/9ca99bf2b1270b888b142bc6bdfb2dad48029f7d/Playing%20downloaded%20content.java

[2018-05-14 09:57] tonihei commented on #4237
That's certainly something we should look into. Marked as an enhancement until we have some viable Kotlin demo.

[2018-05-14 10:05] nimdokai opened #4251 "Error "SurfaceUtils: Failed to connect to surface"
### Issue description
While playing any content. Going into multi-window cause error: "SurfaceUtils: Failed to connect to surface 0xc73e8008, err -19". As a result player is not starting to play content.

### Reproduction steps
Preconditions:
- activity with player is set to screenOrientation="sensorLandscape"
- device in portrait position

Steps:
1. Start content
2. trigger multi-window
3. apps a

[2018-05-14 10:53] botaydotcom commented on #4134
@PedroMT:
Could you also provide the name of the decoder used in that device, so we can target this workaround more specifically. The name is provided as the name param for the `codecNeedsSetOutputSurfaceWorkaround` method.

[2018-05-14 11:39] touseefbsb commented on #4237
@tonihei  thankyou I appreciate it :)

[2018-05-14 11:42] tonihei commented on #4240
That's a duplicate of #3004.

Getting the duration of this file requires to load the entire file first. If you wait a while until the entire file played through, you'll be able to get the final duration.

[2018-05-14 11:42] #4240 closed, assigned to tonihei

[2018-05-14 12:38] tonihei commented on #4241
Thanks for filing the issue. Could you please provide us with an ad tag to reproduce the issue? You can also send the link to dev.exoplayer@gmail.com if you don't want to post it publicly.

[2018-05-14 13:12] erdemguven commented on #4245
You can play the content while downloading. It's hard to say something about your problem without more information. Please provide the info requested in the issue template, which can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-05-14 13:12] #4245 closed, assigned to erdemguven

[2018-05-14 13:18] marcovietovega commented on #4247
I understand. Thanks for the answer. It would be great if some kind of integration with google drive were made.

[2018-05-14 13:45] tonihei commented on #4080
Looking at the issue, I think it's actually a duplicate of #2824 (just that here it's blue instead of transparent).

Besides that, it's certainly unfortunate to combine the embedded background style with the system window style. Your pull request looks like it solves the issue, but I'll wait for @ojw28 to take a look. He's currently unavailable, so this may take some weeks.

[2018-05-14 13:55] tonihei commented on #4247
Using the `webContentLink` doesn't work because it is the link to a web page. Have you tried using the download version explained [here](https://developers.google.com/drive/v3/web/manage-downloads)?

[2018-05-14 15:37] kvillnv opened #4253 "Reduce cache initialization and operation times"
Hi,
I am working on Nvidia Shield, with and external USB 3 storage, the storage is set as "This device's storage", the apps data is moved to the storage.
I am downloading DASH streams, using DownloadService and DownloadManager.

There is performance issue because of the quantity of files generated by exoplayer Downloaders.

After having downloaded a few GB of data, I now have thousands of .exo fil

[2018-05-14 17:04] PedroMT commented on #4134
@botaydotcom
Just checked, the decoder is: "OMX.MTK.VIDEO.DECODER.AVC".

[2018-05-14 17:38] erdemguven commented on #4253
Which directory do you use for downloading? If you use the dir returned by Context.getExternalFilesDir(), I think it shouldn't be indexed by the system.

[2018-05-14 18:00] smw1218 commented on #4234
Any idea when this might make it into a release? I'm getting a dex error from this dependency and can't upgrade to 2.8.0:

Dex: Error converting bytecode to dex:
Cause: Dex cannot parse version 52 byte code.
This is caused by library dependencies that have been compiled using Java 8 or above.
If you are using the 'java' gradle plugin in a library submodule add
targetCompatibility = '1.7'
sourceCom

[2018-05-14 18:14] kvillnv commented on #4253
Yes, I am using Context.getExternalFilesDir(null), just like in the demo.

Now I am thinking about creating a new folder for each media, this should help the file system. But I will lose the ability to make multiple downloads, because it forces me to instantiate a new download manager everytime.
It seems the download manager is made to work in only one folder for all simultaneous downloads.
But do

[2018-05-14 18:24] Jogan opened #4254 "HLS Streams Loading Significantly Slower on 2.8.0"
### Issue description
After migrating from 2.6.0  to the latest version 2.8.0, I noticed a significant increase in load times for my HLS streams. I am talking greater than 20 secs. The streams eventually load with no errors present in the logs. On 2.6.0 my streams were loading in ~1 sec or less.  Reverting back to the commit before migrating resolves issue. Another note, once the stream loads its

[2018-05-14 18:53] tuhin10 opened #4255 "How to get the shuffled play queue after enabling the shuffle mode."
After enabling the shuffle mode in SimpleExoPlayer (player.setShuffleModeEnabled(true)) how can I get the modified list?

[2018-05-14 18:59] tuhin10 opened #4256 "Not able to clear notification while playback is paused for audio playback."
### Issue description
Not able to clear notification while playback is paused for audio playback. Even setting the  playerNotificationManager.setOngoing(false); is also not working.

### Reproduction steps
Use the audio app
https://github.com/google/ExoPlayer/tree/io18

### Link to test content
https://github.com/google/ExoPlayer/tree/io18

### Version of ExoPlayer being used
v2.8.0

### Device(s)

[2018-05-14 19:36] marcbaechinger commented on #4256
The sample audio app deploys a stop button to remove the notification. This is a simpler approach than the one you want to do.

The reason for which you can't remove the notification is because it is attached to the service which runs in foreground. If you want to achieve the behaviour you are describing you need to do the following:

1. Add a listener to the player instance in your service.
2. Li

[2018-05-14 19:58] BetweenTwoBits commented on #4080
Thanks for the reply. It does appear to be a duplicate of part 2 of that issue.

[2018-05-14 20:11] andrewlewis commented on #4228
When the audio track is rechunked in `AtomParsers`, it seems that a lot of WAV data in the file is skipped over, which is leading to the clicks. This may be a bug in the rechunking or sample table parsing code, or the file may be invalid yet handled correctly by some other players.

[2018-05-14 20:24] goffioul commented on #4022
Hi @AquilesCanta, I have a Rockchip-based device running 7.1.2 (NHG47K) and I'm having the same problem: the ExoPlayer demo produces the same backtrace when playing the CBC1 or CBCS samples (the error occurs about 10 seconds after playback starts). I'm also using ExoPlayer 2.7.0. Are you positive these sample should work, and the problem is likely on the platform-side?

[2018-05-14 20:48] tuhin10 commented on #4256
Thanks @marcbaechinger. My bad, did not realized that its working fine now.

[2018-05-15 00:29] zagzy commented on #91
@botaydotcom great, that you have updated textureView.
Guys, what about rotation on SurfaceView? Any ideas?

[2018-05-15 01:17] na-in-lee commented on #4241
I uploaded the original xml file.
check below xml files.

https://github.com/na-in-lee/sample

1. VMAP file
 - vmap_ex.xml
 : custom path line5, 12, 20

2. Vast file (vamp tag)
- google_jtbcmp4.xml

[2018-05-15 02:12] vimsliu opened #4258 "exoplayer error storeMetaDataInBuffers failed w/ err -1010 when using local server"
cannot stream local server where an external server can be streamed (mp4 video file) using exoplayer. Using the normal videoview + local server socket it was able to play(mp4 only, but the app needs to support other video file formats like avi,flac,flv,etc, thus needs the **exoplayer**).

below are the error stacktrace and the code used.

**error stacktrace:**
05-15 09:53:56.259 17955-18089/com.al

[2018-05-15 05:10] DKillWorld commented on #4256
Then, If we pause playback for some minutes with stopforeground(false) in event listener, then our service is killable by system till we again start playback and startforeground is triggered back? Correct me if I am wrong.

[2018-05-15 06:12] FirdousNath commented on #3953
kindly update !

[2018-05-15 07:19] DKillWorld commented on #4256
Off topic Tip- The notification returns back automatically after few mins when the app is cleared from memory.
Probably because we return Start_sticky in onstartcommand. Just replace it with Start_non_sticky and it will not returnback.

[2018-05-15 07:39] na-in-lee commented on #3764
[2 ads - just linear vast not vmap midroll]
When the user presses the home button (background)  during play first ad, the player automatically paused, user screen turned on (foreground), The player shows only the first ad and goes to the content(without play the second ad)
Ad skins also become skip ad and change 1/2 to 2/2 while the first ad is playing.

When will it be fixed?

[2018-05-15 07:42] andrewlewis commented on #3764
@na-in-lee This issue tracks starting ads in the paused state, whereas your issue (ads skipped after resuming the app) is more similar to #4140. Please could you post your ad tag on that issue so we can reproduce the issue and follow up with the IMA team? Thanks.

[2018-05-15 07:49] na-in-lee commented on #4140
#3764 comment
[2 ads - just linear vast not vmap midroll]

When the user presses the home button (background) during play first ad, the player automatically paused, user screen turned on (foreground), The player shows only the first ad and goes to the content(without play the second ad)
Ad skins also become skip ad and change 1/2 to 2/2 while the first ad is playing.

Test Ad URL
- http://api.jtbc

[2018-05-15 08:01] andrewlewis commented on #4255
You can query the sequence of windows using [`Timeline.getNextWindowIndex`](https://github.com/google/ExoPlayer/blob/d4a03d3/library/core/src/main/java/com/google/android/exoplayer2/Timeline.java#L537), which takes the current window index (`Player.getCurrentWindowIndex`) and the repeat/shuffle modes.

[2018-05-15 08:01] #4255 closed, assigned to andrewlewis

[2018-05-15 08:07] andrewlewis commented on #4255
In case it's useful, you can also provide your own `ShuffleOrder` implementation when creating a `ConcatenatingMediaSource`, which might give you an easier way to manipulate and access the ordering. @tonihei will be able to comment on the best approach.

[2018-05-15 08:23] andrewlewis commented on #4258
The server is refusing the request: `java.net.ConnectException: failed to connect to localhost/127.0.0.1 (port 9990) after 8000ms: isConnected failed: ECONNREFUSED (Connection refused)`. Is your setup exactly the same when using `VideoView` versus ExoPlayer? Are you trying to access localhost on your desktop from the emulator? If so [this Stack Overflow question](https://stackoverflow.com/question

[2018-05-15 08:25] botaydotcom commented on #4134
This change will be pushed to the dev branch in the next few days.

[2018-05-15 08:25] #4134 closed, assigned to botaydotcom

[2018-05-15 08:28] FD- commented on #4258
It might be necessary to flush the output stream after sending the header.

[2018-05-15 08:29] tonihei commented on #4255
Yes, @andrewlewis already pointed to the right options. You can query the current order with `Timeline.get(Next|Previous|First|Last)WindowIndex` and if you want to customize the shuffling, please provide your own `ShuffleOrder`. This also allows you to decide things like where new items are inserted etc.

[2018-05-15 09:13] erdemguven commented on #4253
If the issue is the system is scanning too many files, even if you put each download to a different folder, the total number of files, won't be changed. If the issue is a single folder has to many files, than it might help.

You're right DownloadManager/Cache works with a single folder. If you want to use multiple folders then you need to create multiple DownloadManagers and Caches. Also for playb

[2018-05-15 09:45] AquilesCanta commented on #4248
Hi @AndroidDeveloperLB, I have not seen similar reports in the past. I am not sure this is an ExoPlayer issue. I see quite a lot of material around it in Stack Overflow and Github. Have you tried any of the workarounds suggested there?

Make sure you look at #2870 and #3708.

[2018-05-15 09:54] AquilesCanta commented on #4254
The best way for us to look quickly into this is to provide sample content. Although if this does not happen in the Demo app, it might be hard to diagnose. Also, if you could pinpoint a specific ExoPlayer version upgrade, that'd be really helpful as well. The main suspect is 2.8 (so could you try 2.7.3?).

If you don't want your content to be disclosed, you can send a link to dev.exoplayer@gmail.c

[2018-05-15 10:12] AquilesCanta commented on #4250
I think the closest scheme we support is _Clear key_. It is worth noting that this has API level restrictions. We do not have support for in-library subsample decryption though, and it is currently not in our roadmap. You could try implementing your own renderer (potentially wrapping the existing ones) that decrypts samples before committing for decoding.

[2018-05-15 10:13] #4250 closed, assigned to AquilesCanta

[2018-05-15 10:14] AquilesCanta commented on #4250
Relevant: #378.

[2018-05-15 10:27] AquilesCanta commented on #4022
Hi @goffioul, could you open a new issue including all the info required in the template? I don't think it's actually the same issue but rather a device-specific one.

[2018-05-15 10:57] AquilesCanta commented on #4254
It seems highly likely that the root cause is the same as #4239.

[2018-05-15 11:21] goffioul commented on #4022
@AquilesCanta I got feedback from the OEM (and Rockchip) that the CBC1 and CBCS sample streams require Widevine L1, and the device I'm testing with only supports Widevine L3. Can you confirm that these samples actually require L1?

[2018-05-15 11:23] Waleedasim commented on #3907
@pmunizferreira can you please tell me how you successfully download hls videos my mobile got hanged when onProgress called. here is my email address please contact
waleedasim08@gmail.com

[2018-05-15 11:24] Waleedasim commented on #3907
@erdemguven i am stuck at hls downloading your blog is not enough kindly tell me proper way for download video in mobile storage any working code example would be grate full but dont give me a link for demo app its too complicated

[2018-05-15 11:35] andrewlewis commented on #3359
This is actually the same as #4228, for which we should have a fix soon.

[2018-05-15 11:35] #3359 closed, assigned to andrewlewis

[2018-05-15 12:20] kvillnv commented on #4253
@erdemguven ,

If we cannot reduce the number of files and if creating multiple folders won't help the system, I believe it could at least help the SimpleCache and the player launch faster.

Yesterday I did try the .nomedia file, but in the cache folder and in order to avoid to have it deleted before android indexation, I created it each time I start y service and each time I initiate my cache, bu

[2018-05-15 13:05] erdemguven commented on #4253
Perhaps you can easy try if multi folder improves sdcard issue by manually moving files to different folders.

[2018-05-15 13:11] erdemguven commented on #3907
@Waleedasim sorry there isn't a simple hls download example currently. I'll write another post for downloading adaptive streams soon.

[2018-05-15 13:18] Waleedasim commented on #3907
Kindly do it as soon as possible really appreciate your efforts

On Tue, 15 May 2018 6:12 pm Erdem Guven, <notifications@github.com> wrote:

[2018-05-15 13:18] Waleedasim commented on #3907
Thank you for response :)

On Tue, 15 May 2018 6:17 pm Waleed Asim, <waleedasim08@gmail.com> wrote:

[2018-05-15 13:42] tonihei commented on #4241
Seeking behind the ad + skipping works fine for me in our latest version with the described VMAP setup.
The problem may actually be related to the content media file. Can you provide us with an example of the content HLS playlist?

[2018-05-15 13:44] kvillnv commented on #4253
And about SimpleCache, is there a way to generate an index for each media? so that the SimpleCache instance won't have to seek in all the cache

Are the methods getKeys() and getCachedSpans(key) what I need?

For my use case, is that SimpleCache instance appropriated?
SimpleCache(downloadDirectory, NoOpCacheEvictor())

about the .nomedia file: I retested in the parent folder, it does not help the

[2018-05-15 13:57] richardbmx opened #4259 "Hello, I would like to create a new icon for your app :-) Free!!!"
Hello I am a graphic designer and I would like to collaborate on your project with the creation of a new icon that is more modern and personal for your app, without any cost, if you are interested you can write me what are the main functions of the app so I can take an inspiration and create your icon ... greetings.

[2018-05-15 14:19] Jogan commented on #4254
@AquilesCanta I actually went back and tried replicating with our streams in the demo player and the same problem DOES exist also in the demo player (when using our stream). I'll shoot an email to dev.exoplayer@gmail.com to debug the issue. When I get some time I'll try reverting to 2.7.3. Thank you!

[2018-05-15 14:20] AquilesCanta commented on #4254
Just check whether your media playlists have an EXT-X-PROGRAM-DATE-TIME tag. If so, the fix will be pushed soon.

[2018-05-15 15:15] andrewlewis commented on #4259
Thanks for the offer, but we'll keep our current icon for now.

[2018-05-15 15:15] #4259 closed, assigned to andrewlewis

[2018-05-15 15:25] andrewlewis commented on #4237
@touseefbsb https://github.com/google/ExoPlayer/pull/4257 has Kotlin versions of the io18 demo apps.

[2018-05-16 01:19] vimsliu commented on #4258
Hi thank you for replying :)
@FD-  I tried adding flush after sending out the headers but the error is still the same
@andrewlewis Yes, it is the same setup with using the videoview, and it is run on the actual device.
Note: the server is created through the device using the server socket so using localhost/127.0.0.1 works, its just that only videoview was able to run, while exoplayer was not.

[2018-05-16 01:22] touseefbsb commented on #4237
@andrewlewis  thanks a lot, will have a look at them, but I still think all samples of exo player , being also in kotlin would be very useful. :)

[2018-05-16 01:41] na-in-lee commented on #4241
Thanks for the answer.

1. http://api.jtbc.joins.com/news/NV10193538
2. Use "file" value (json parsing)
 - link has expired time about 3hours.
 ex)"file":"http://jtbcvod.fvod.skcdn.com/newsvod/F159283ABCAD91E93212DD7752EE9C2C695052F6387B5EFE6228A97AF21DB6BE072232BEDA54866AC138551899D05FACCF782DF2BD97F2CEA54655E36B18893523642AE5C116B9BF9A5561EFF4F83A4A/playlist.m3u8"

[2018-05-16 04:09] shoumo680 opened #4261 "Synchronizing Playing Multiple Audio"
Hello, @ojw28

### Issue description
I want to use ExoPlayer broadcast six audio, I use the #2855, the difference is I use HlsMediaSource, although it can run, but has a chance to play out of sync, more obvious after seekTo. Ts fragment is 10 seconds at the beginning, change to 4 seconds, less incidence of the problem. I have reference #4014  #4051, but couldn't find a solution.

Thanks in advance

[2018-05-16 07:32] Khaos116 commented on #4240
thanks @tonihei

[2018-05-16 07:55] akwolf commented on #4261
i have the same problem ,if i donn't drag the seekBar forward the progress the player work perfect,when i drag the seekBar forward then  audio's playing order gets confusing.i struggled for serial days and attempt many ways, Don't know what the problem is?Eagerly awaiting your reply,thks!
Here's what I did.

**1、i create a RenderersFactory implements DefaultRenderersFactory and my own MediaCodecAu

[2018-05-16 08:21] FD- opened #4262 "Null passed to onPlayerError"
I'm occasionally seeing null being passed to `Player.EventListener`'s `onPlayerError()` callback.

### Issue description
I'm occasionally seeing null being passed to `Player.EventListener`'s `onPlayerError()` callback.
The listener is registered on a `SimpleExoPlayer` instance via the `addListener()` method.
The documentation doesn't say anything about the meaning of no exception being passed to t

[2018-05-16 08:29] FD- opened #4263 "TrackSelectionView.setTrackNameProvider() should call updateViews()"
I'm setting a custom `TrackNameProvider` for a `TrackSelectionView`.
However, I'm using the `TrackSelectionView.getDialog()` method to instantiate the view, so I can only call the `setTrackNameProvider()` method after the views have already been populated from the default `TrackNameProvider`.

As the `setTrackNameProvider()` does not update the views, the call does not have any effects until any o

[2018-05-16 08:46] andrewlewis commented on #4262
This sounds strange. There doesn't seem to be a code path in the library that can cause null to be passed to the event listener (it's always a caught exception instance or a new wrapper around it, passed in [ExoPlayerImplInternal](https://github.com/google/ExoPlayer/blob/6dc6f79/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java#L341)). Did you see this in the demo

[2018-05-16 09:25] AquilesCanta commented on #4022
I don't think they require L1. It might be better for you to follow up with them than with us, considering it's a device specific issue (not much we can do, usually).

[2018-05-16 10:06] andrewlewis commented on #4258
- Could you confirm that your server never sees the request from ExoPlayer?
- You could see if the Android Studio [network profiler](https://developer.android.com/studio/profile/network-profiler) shows the requests in the two setups, then see what's different about them (I haven't tried this with requests to localhost traffic before but I expect they will show up).

[2018-05-16 10:19] goffioul commented on #4022
Thanks. I'm following with them, but I was looking for an alternate way to verify their claim (which is I need to use another chipset as that one has no support for L1).

[2018-05-16 12:19] FD- commented on #4262
I did not observe it in the demo app (I did not test it there), but I am sure I'm not calling the listener myself.

This is from the logcat:

    05-15 22:49:08.255 30590-30590/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.myapp, PID: 30590
    java.lang.NullPointerException: Attempt to read from field 'int com.google.android.exoplayer2.ExoPlaybackException.type' on a null object refe

[2018-05-16 12:28] AquilesCanta commented on #4262
Is it not possible that your implementation of onPlayerError is calling isBehindLiveWindow with null or that isBehindLiveWindow is doing something different than what the demo app does?

[2018-05-16 12:33] FD- commented on #4262
I'm calling `isBehindLiveWindow()` with the `ExoPlaybackException` passed to `onPlayerException()`. `isBehindLiveWindow()` works like the one from the demo:

    public static boolean isBehindLiveWindow(ExoPlaybackException e) {
        if (e == null) return false; // Added as workaround for discussed issue

        if (e.type != ExoPlaybackException.TYPE_SOURCE) {
            return false;

[2018-05-16 13:28] botaydotcom commented on #1808
This is finished and will be pushed to the dev branch within the next few days.

[2018-05-16 16:05] tonihei commented on #4241
I was able to reproduce your problem now. It's actually unrelated to ads loading and was caused by starting to play the HLS stream from a non-keyframe position. We are going to provide a fix soon.

[2018-05-16 17:02] botaydotcom commented on #91
It's unfortunately not possible to do from application level (including from within ExoPlayer library) with `SurfaceView`. Please refer to @ojw28's comments in this thread.

If you use `SurfaceView` on L+, it should be applied automatically at platform level (note that there are a few issues with software decoders on L).
If you need to support `SurfaceView` on pre-L, one option is to detect if `un

[2018-05-16 17:02] #91 closed

[2018-05-16 17:04] botaydotcom commented on #3375
@ragotiteb
I have an implementation finished, but we have some discussions internally on pros and cons of this approach. Due to I/O, we haven't been able to give this more attention. Now that I/O is over, I think we will have update on this soon.

[2018-05-16 20:35] AndroidDeveloperLB commented on #4248
Why is there any issue at all? Why can't I just import it into Android Studio and that's it?
I tried to update everything in the gradle files, and still got this issue.
I've now also tried what's offered there, and didn't get it to work.

Can you please apply the needed changes that you think are missing, so that this won't require extra steps?
Also, I've now cloned this one:
https://github.com/go

[2018-05-17 01:34] na-in-lee commented on #4140
I Fixed issue.

#4153 apply. then Added code below.

File : ImaAdsLoader.java
 private void handleAdEvent(AdEvent adEvent) {
        Ad ad = adEvent.getAd();

        switch (adEvent.getType()) {
            case LOADED:
                // The ad position is not always accurate when using preloading. See [Internal: b/62613240].
                if(imaPausedContent == true) return;    <--- added cod

[2018-05-17 01:54] na-in-lee commented on #3764
I Fixed issue.

#4153 fixes applied. then Added code below.

File : ImaAdsLoader.java

    private void handleAdEvent(AdEvent adEvent) {
            Ad ad = adEvent.getAd();
            switch (adEvent.getType()) {
                case LOADED:
                    // The ad position is not always accurate when using preloading. See [Internal: b/62613240].
                    if(imaPausedContent ==

[2018-05-17 05:53] robin2046 opened #4264 "Allow registration of custom codecs in MimeTypes class"
When I am trying to adding new codec, I have to copy all the source code of mp4/ts extractor just to modify a bit of it.
And what is more, since I cannot modify MimeTypes class, I have to fork ExoPlayer instead of just have a simple dependency on it as a library.

So, is it possible to have extension hooks in extractors and functions like MimeTypes.getMediaMimeType() to ease this pain in future?

[2018-05-17 06:20] na-in-lee opened #4265 "IMA vast InLine ad 'Learn More' button is not visible."
### Issue description
IMA ad play 'Learn More'  button is not visible.

### Reproduction steps
hls file
vast InLine ad

### Link to test content
(vast InLine ad sample)
https://github.com/na-in-lee/sample/blob/master/more1.xml

### Version of ExoPlayer being used
exoplayer 2.6.1
build config : demo

### Device(s) and version(s) of Android being used
device name : Galaxy S8
android version: 8.1

[2018-05-17 08:13] tonihei commented on #3829
I played the file looping for multiple days without any problems. So I'm afraid it's almost impossible to reproduce and without further hints there is unfortunately nothing we can do about it.

Closing for now for this reason. If you have any further information that might help, feel free to reopen the issue.

[2018-05-17 08:13] #3829 closed, assigned to tonihei

[2018-05-17 08:14] tonihei commented on #4067
Closing due to lack of information.

[2018-05-17 08:14] #4067 closed, assigned to tonihei

[2018-05-17 08:59] hahafamilia opened #4266 "The player has stopped playing the first frame of the video."
Before filing an issue:
-----------------------
This issue is probably related to https://github.com/google/ExoPlayer/issues/3110
the resolution of the content is 1920 * 1080.

When reporting a bug:
-----------------------

### Issue description
Player rendering first  frame. And it stops.
The logcat shows the log associated with the codec.

### Reproduction steps
Describe how the issue can be rep

[2018-05-17 09:08] andrewlewis commented on #4264
Is this for a standard/widely used format, or is it for a custom codec? If it's the former, we can probably just add support, or feel free to send a PR and we'll take a look. If it's the latter, this seems like a very specialized use case and I'm not sure we can justify the work and extra complexity to make every extractor extensible for this.

Could you elaborate on what customizations you needed

[2018-05-17 09:10] hahafamilia commented on #4266
When the player fails to play in this way, no Exception is raised.
I will receive the events below.
`Player.DefaultEvenetListener::onPlayerError,
VideoRendererEventListener, AudioRendererEventListener
Attaches RendererEventListener to the player's debug listener.`

If I can receive an Exception, I can take the appropriate action.
How can I receive an exception?

[2018-05-17 10:02] VictorPurMar opened #4267 "MediaCodec error in Huawey Nexus after May 5, security update"
### Issue description

The MediaCodec failed to start in HUAWEY NEXUS P6 when trying to reproduce a hls video.
Is working in other devices.

Actually it was working also in this device ( Android 8.1 ) , but start crashing after the May 5 , 2018 security update.

The issue disappear after a factory reset.
 Probably there was an error installing the update... but i'm worried for the future users. Fa

[2018-05-17 10:19] AquilesCanta commented on #4261
Hello, there are two issues to solve for synchronizing multiple audio tracks:
- The first is ensuring that HlsMediaSources are outputting the samples so that synchronization works as intended. This depends a lot on what media looks like. If it is VOD, it might just work. But I suppose it makes sense to solve the next item first.
- The second is actually rendering them in sync. @andrewlewis suggest

[2018-05-17 10:26] AquilesCanta commented on #4262
@FD-, are you able to reproduce locally? As Andrew mentioned, it does not seem there is a codepath that calls onPlayerError with null. If you can reproduce, it'd be great to get a stacktrace at the point at which the message gets sent (shouldn't be that hard in debug mode + a few breakpoints).

[2018-05-17 12:13] shoumo680 commented on #4261
Yes, I'm doing the same thing to @akwolf .

I updated it to 2.8.0 version .

 **From here onwards, things should probably be done by a shared audio sink** ----Is it all Renderer shared an AudioSink?but DefaultAudioSink method handleBuffer line 615 throw  exception.

**Wait until you have samples to render for everyone of the renderers.
Mix everything into a single buffer.
Output this single buffer

[2018-05-17 12:24] andrewlewis commented on #4261
The solution to rendering that @AquilesCanta outlined sounds right:
- You should have one "master" audio renderer provide the media clock, and this should have a `DefaultAudioSink` for playing audio. This master renderer also needs to care of mixing together its own audio stream with the streams from all the other renderers.
- One way to do that is to pass it a custom mixing `AudioProcessor` which

[2018-05-17 13:08] shoumo680 commented on #4261
I will try your proposal.

  It seems that the getPositionUs of the Renderer other than the main Renderer is not called.
  This is the log record that I actively call getPositionUs .

   **seekTo before**
   `getPositionUs: MediaCodecAudioRenderer@a4a1332---getPositionUs---1319488
    getPositionUs: MediaCodecAudioRenderer@fe64401---getPositionUs---1300075
    getPositionUs: MediaCodecAudioRendere

[2018-05-17 13:31] petersamokhin opened #4268 "Exception while seeking video"
### Issue description
In another issue was the problem with `sidx` boxes after concatenation of a lot of files into one big video. Based on @ojw28 's answers I made my file great. But video still not seekable for ExoPlayer.

---
Your example [video](https://www.google.com/url?q=https://storage.googleapis.com/exoplayer-test-media-1/gen-3/screens/dash-vod-single-segment/video-avc-baseline-480.mp4&us

[2018-05-17 13:43] AquilesCanta commented on #4248
I just tried

git clone https://github.com/google/ExoPlayer.git
cd ExoPlayer
git checkout --track  remotes/origin/io18

And then opened the build.gradle file from android studio (I am running 3.0.1), and was able to run the video app without any issues. As suggested above, this is most likely a local issue. I am pretty sure that you'll find a fix in one of the referred issues, or in Stack Overflow

[2018-05-17 13:43] #4248 closed, assigned to AquilesCanta

[2018-05-17 13:52] AndroidDeveloperLB commented on #4248
@AquilesCanta Why close the issue?
And it's not just a local issue. It failed on both my PC at home and at the office.
BTW, 3.0.1 is not the latest one. Not even in stable release (which is 3.1.2)

[2018-05-17 13:55] AquilesCanta commented on #4248
What happens if you go through the steps I commented above?

[2018-05-17 14:44] andrewlewis commented on #4261
The player will only poll `getPositionUs` on the `Renderer` that's providing the media clock. It looks like the positions are close. If you're looking for finer synchronization than a few hundred milliseconds then I think you need to take the mixing approach described above.

Could you give more detail on what is actually going wrong? Do you hear audio from completely different parts of the stream

[2018-05-17 15:08] FD- commented on #4262
I was able to reproduce it, and have now gathered more detailed logs. The necessary steps seem to be to play a live HLS stream and disconnect and reconnect the Wifi connection. Please note the app did not crash with an NPE every time, it likely depends on a certain timing. I added the same stream to the demo app, but could not get it to crash, so it's likely something specific to my app.

These ar

[2018-05-17 15:24] andrewlewis commented on #4262
Thanks for the information. Each time we notify a listener we access `playbackError`, but this is set to null if `prepare` or `stop(true)` is called, so I think this bug can be triggered if one of those is called from an event listener.

[2018-05-17 17:08] AndroidDeveloperLB commented on #4248
@AquilesCanta You did as I did, so I will try again:
I've now cloned the exact URL you've provided, and opened this version of the IDE:
Android Studio 3.2 Canary 14
Build #AI-181.4668.68.32.4763614, built on May 4, 2018
JRE: 1.8.0_152-release-1136-b03 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Still doesn't build. I get this:

![image](https://user-images.githubusercon

[2018-05-17 17:19] AquilesCanta commented on #4248
Hi,

The steps I shared above are for importing the io18 demo (it checks out the demo branch with `git checkout --track remotes/origin/io18`).

Something must be wrong with the importing steps used before capturing the second image (if you intended to import the io demo). It is complaining about the cast extension but the io18 demo does not have any reference to the cast extension, so AS must be t

[2018-05-17 17:31] AndroidDeveloperLB commented on #4248
@AquilesCanta Can you please try it?

[2018-05-17 18:57] AquilesCanta commented on #4248
@AndroidDeveloperLB, I did try the steps I listed above and managed to import the demo without any issues.

[2018-05-17 22:29] AndroidDeveloperLB commented on #4248
@AquilesCanta OK I still can't do it, so reported about this here as this is probably a gradle/IDE bug:
https://issuetracker.google.com/issues/79936232

[2018-05-18 01:27] ened commented on #4228
Let me know if you need any more sample files. I should be able to get 1440p, 1080p, 720p files in 30 and 60FPS.

[2018-05-18 04:32] shoumo680 commented on #4261
Play the audio of six different instrument, seekTo after one or two audio probability not synchronous,again seekTo will synchronized. the Ts the length of the reduced to 4 seconds will reduce the probability.The use of Hls will appear this problem, and with ExtractorMediaSource Mp3 does not appear.

[2018-05-18 05:54] robin2046 commented on #4264
Thanks for your reply. I can copy and modify the mp4/ts extractor to add my extension. It is acceptable since I am adding unofficial modification to those famous containers.

However, methods like getMediaMimeType() and getAudioMediaMimeType() is widely used in other modules like HLS/SS/DASH, which I don't want to copy and modify them just for adding a new MIME type string.

My intention is just t

[2018-05-18 07:03] hafiz013 commented on #1745
dear @GeoffLedak , I submit already news issue your library combine with recycle view which you can reffer to this [link](https://github.com/GeoffLedak/ExoplayerFullscreen/issues/1). Please advice what should do or if you could do some tutorial on how to do exoplayer fullscreen (landscape mode when enlarge while shrink in portrait mode) in recycleview (container). thank you.

Note: Those who try t

[2018-05-18 07:04] hafiz013 commented on #1745
@HydraChen , I also attach file full zip on how to create exoplayer in recycleview in that link above

[2018-05-18 07:35] srinivasstpl commented on #4221
Apologies for the delayed response, I finally received the stacktrace of the aforementioned issue in the Google Play Console:

[code]

I hope this can help diagnose the issue further.

[2018-05-18 08:10] tonihei commented on #4221
That's unfortunately not helpful for an OOM because the point where the system eventually is out of memory is most of the time independent from the cause of excessive memory usage.

To reproduce the issue, it would be helpful if
 - You can confirm it really only occurs for Huawei Honor 8 phones. That would speak for a device specific issue.
 - Provide us with an example of a media file which cause

[2018-05-18 08:49] AquilesCanta commented on #4248
I am sorry you are running into this. Restarting and clearing caches sometimes helps with these issues. Keep in mind however, that the second image contains a reference to the cast extension, but the io demo does not depend on it, so that something that should be fixed by running a clean instance of Android Studio.

[2018-05-18 09:20] ChristianKleineidam opened #4270 "When a fragment gets recreated and the new fragment wants to play a video it shows the freezed last frame of the previous video"
For my app I want to play videos in a fragment. Whenever I want to play a new video I want to create a new fragment.
In Android versions lower than API Level 26 (Android 8), the first time I play the video everything goes well. If I however want to replay the video it doesn't work correctly, the sound plays but the video shows the last frame that was played in the previous video in a freezed fashi

[2018-05-18 09:49] Waleedasim commented on #3955
@pranit can you please guide me how to download hls videos for offline view your help would be appreciated. further I try from @erdemguven blog but its not helped me

[2018-05-18 10:16] ghost opened #4271 "Geo Restricted Video Url not recognised: com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header."
My Video ulr is georestricted:

  com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header.
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:148)
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:48)
        at com.google.an

[2018-05-18 10:35] andrewlewis commented on #4271
Can you provide the playlist, so we can see if this is an ExoPlayer issue or a problem with the stream?

There are some [other issues](https://github.com/google/ExoPlayer/search?q=%22Input+does+not+start+with+the+%23EXTM3U+header.%22&type=Issues) mentioning that error message which may be helpful.

[2018-05-18 10:42] ghost commented on #4141
Is it a close issue?

[2018-05-18 12:35] infernal221 opened #4272 "Getting BehindLiveWindowException in between the play."
Player with multi-bitrate initializes and then it selects one bitrate with index and start segment and player plays. But in some time from the selected bitrate from the index new segment is not getting called. We receive below exception. IT happens with live streams HLS. Exoplayer version is 2.6.1.

com.google.android.exoplayer2.source.BehindLiveWindowException
        at com.google.android.exopla

[2018-05-18 13:03] AquilesCanta commented on #4272
I don't understand what the issue here is. Also, could you explicitly point out how this differs from existing BehindLiveWindowException issues?

[2018-05-18 14:23] #4262 closed, assigned to andrewlewis

[2018-05-18 14:24] #4263 closed, assigned to andrewlewis

[2018-05-18 14:25] andrewlewis commented on #1808
Fixed in 972304f16b0f5aba21439785b4c9e2b831e364f6.

[2018-05-18 14:27] andrewlewis commented on #4239
Pretty sure this is fixed but @AquilesCanta can reopen it if not.

[2018-05-18 14:27] #4239 closed, assigned to AquilesCanta

[2018-05-18 14:27] #4254 closed, assigned to AquilesCanta

[2018-05-18 14:28] #4228 closed, assigned to andrewlewis, tonihei

[2018-05-18 14:28] #4230 closed

[2018-05-18 14:31] #4238 closed, assigned to tonihei

[2018-05-18 18:22] kvillnv commented on #4253
Multiple folders is the solution to this bug.
The android system/bin/sdcard process stopped taking all my device's resources, and the performance has improved when having a lot of data.
Now that I store one media per folder, when I want to play a video from one of my folders,  the Cache instance and the player initialization are instantaneous, even just after boot and force kill/relaunch.

@erdemg

[2018-05-18 18:22] ragotiteb commented on #3375
@botaydotcom thanks for the update, look forward to hearing news on your end (been giving it a shot myself, and i now acknowledge some more on the challenges in making this work right, hehehe)

[2018-05-18 19:02] workspace opened #4273 "Improve speed of DASH/HLS/SS downloads"
I have implemented Offline Playback using DownloadService of 2.8.0, but there are some things that should be improved. When user downloads a 50-minute video using Dash, thousands of chunks are downloaded. Sometimes it takes about 30 minutes(700MB) on gigabyte wifi(But it has many reasons to explain. e.g media service status). Currently DownloadService supports downloading several videos at the sam

[2018-05-18 19:27] jknobel opened #4274 "Can't load HLS streams with MP4 without mvex atom"
### Issue description
We have a device that records video and writes mp4 files with a duration of 4 seconds, every 4 seconds into a folder. We then use an HLS stream to allow a user to view the last 24 hours of footage to review. It's not a live-stream (you can't view what's happening now... new items are not added to the playlist), but it's also not produced/finalized content either which is why

[2018-05-18 20:29] astinus-1 commented on #3517
On a Nexus 6 (Shamu) with Android N, I was able to play in portrait mode (video and audio) for more than a minute, landscape mode for 5 minutes, then forced the device to only play the 1080p track, and let it continue to play through the end of the 23 minute video. No issues in playback for Android N on Nexus 6.

Issue originally reported regarding playback on L devices, so flashed Nexus 6 back to

[2018-05-19 00:08] ened commented on #4228
@andrewlewis @tonihei , Exo Player Team:  Thank you so much. I successfully tested the latest revision from git. Very happy. 🎉

[2018-05-19 06:44] ghost commented on #4271
Sure, here is the URL: http://80.82.70.138:8088/live/starsports1gr/playlist.m3u8?id=31776&wowzasessionid=3366108294&pk=1eb7a09031dcaee935957fe956a3948ea18e43925ac3cb2d97f12e760e1ffbb0

Only avail form Bangladesh and working from my browser html5 Player not in exoplayer

[2018-05-19 08:44] vimsliu commented on #4258
ok I will try and let you know later..

[2018-05-19 22:24] stari4ek opened #4275 "Missing audio track in HLS"
### Issue description
ExoPlayer identifies only 1 audio track for HLS which uses TS chunks with 2 audio tracks.
2 tracks are identified when TS chunk is played directly

**HLS:**
[code]
**TS:**
[code]

### Reproduction steps

1. start local test web server to serve HLS and it's chunks (all in provided archive).
2. local server is available from emulator on 10.0.2.2
2. Update `media.exolist.json`:

[2018-05-20 20:49] erdemguven commented on #4273
Thanks for your suggestion, we'll look into this. In the meantime, you can create separate DownloadActions for different tracks and/or different periods you want to download, to make them downloaded in parallel.

[2018-05-20 21:02] erdemguven commented on #4253
Thanks for investigating this. I'll look into this and decide to use either a solution similar to what you have done or modifying SimpleCache to place each media under a separate folder.

Sorry, I just noticed, I forgot to recommend another way to reduce the number of exo files. You can increase maxCacheFileSize when you create CacheDataSource. By default it's 2MB so downloaded media is divided to

[2018-05-20 21:59] workspace commented on #4273
I already allow user 4 simultaneous downloads. Create separate downloadActions for each track looks nice solution, however, it is hard to show correct download progress of whole video, or to validate if it is playable...  anyway, thank you for your response :)

[2018-05-21 02:02] fcapinho opened #4276 "onPlayerStateChanged is not consistent for multiple listeners"
### Issue description
State updates from `Player.EventListener.onPlayerStateChanged()` may be inconsistent between multiple listeners added with `Player.addListener()`. This happens when one of the listeners callbacks changes the `Player` state.

For example, if a listener call `Player.stop()` when receiving a `Player.STATE_ENDED` state update, all succeeding listeners will receive a `Player.STATE

[2018-05-21 07:09] gvidda commented on #4106
I just wanted to get back regarding this issue (for historys sake if someone reads this and have the same problem) that this was ultimately solved for us in the backend/packager. The "bad media" subtitles worked in webplayers, but it was better to package it according to an EBU standard (like ojw28 described above).

[2018-05-21 07:50] AquilesCanta commented on #4239
Please let us know if you still run into this issue with the current dev branch.

[2018-05-21 07:50] AquilesCanta commented on #4254
Please let us know if you still run into this issue with the current dev branch.

[2018-05-21 08:18] AquilesCanta commented on #4275
This is a duplicate of #2014.

[2018-05-21 08:18] #4275 closed, assigned to AquilesCanta

[2018-05-21 10:54] tonihei commented on #4276
We are aware of this issue and already have plans to fix this. Marking as bug until it's fixed.

[2018-05-21 10:57] andrewlewis commented on #4271
Could you post the actual contents of that file?

[2018-05-21 11:03] andrewlewis commented on #4261
@AquilesCanta It sounds like the problem is worse with longer HLS chunks. Any ideas what could be going on here?

[2018-05-21 13:00] AntonAFA commented on #3835
Hello team. As was previously discussed on this thread, we made some sort of workaround test, that checks and gather potentially codec problematic devices. Those in order to report you and make exoplayer better.
The workaround is pretty straight forward (as referenced here by @noamtamim https://github.com/kaltura/playkit-android/blob/2e58d94c0c9e2b962e9f31699f1f1c2b07d80790/playkit/src/main/java/c

[2018-05-21 13:09] AquilesCanta commented on #4274
Please have a look at [this spec section](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-3.3):

[code]

According to this the described media is not spec compliant. Let me know if I am missing anything here.

[2018-05-21 13:09] #4274 closed, assigned to AquilesCanta

[2018-05-21 14:00] laurafuente opened #4277 "SimpleExoPlayer.seekTo is ignore if it is called before ExoPlayer.STATE_READY is set"
If I called the method SimpleExoPlayer.seekTo before the player has reached the status ExoPlayer.STATE_READY becuase it is preparing, this called is ignore and the video starts at 0 position.

So if I called this method when player is ready it shown the first frame of the video and then it changes to the selected position.

I'm using exoplayer 2.4.4 and I can reproduce this issue at for examplesam

[2018-05-21 14:09] andrewlewis commented on #4234
The fix will be in 2.8.1 (hopefully later this week).

[2018-05-21 14:32] erdemguven commented on #4246
For MP4s we normally set the max input size based on the size of the largest sample in the container so it should work fine.

Given you are using the Amazon port and it's an Amazon device, you might ask it on the Amazon port issue tracker: https://github.com/amzn/exoplayer-amazon-port/issues/new

[2018-05-21 14:32] #4246 closed, assigned to erdemguven

[2018-05-21 14:56] andrewlewis commented on #4267
- Please could you take a bug report just after seeing the error? The one provided doesn't include logging just before the stack trace was output.
- "Probably there was an error installing the update" -- did you see some other error while installing the update?
- Did this happen while trying to play DRM-protected content? Or does it seem to affect all video playbacks?

[2018-05-21 15:03] andrewlewis commented on #4266
@CHOJUIL Is the issue that the player is in the ready state but the position just stays at zero? If not, please clarify what you see and what you expect to see.

Please could you also provide a full bug report captured with `adb bugreport`? Are you decoding the AC-3 audio track using the FFmpeg extension or via encoded audio passthrough? Can you reproduce this on other devices, or in the ExoPlayer

[2018-05-21 15:27] tonihei commented on #3835
I tried using your test code and the assets (mp4+mp4+init data) and also get `workaroundRequired = true` for a device which should not need the workaround.
Could it be that all devices are labelled as needing the workaround with this approach? Or am I missing something?

[2018-05-21 15:30] andrewlewis commented on #4270
A few things stand out (though not all may be relevant to the reported issue):
1. When creating the `ExtractorMediaSource.Factory` you can just pass a `new DefaultDataSourceFactory` then pass `RawResourceDataSource.buildRawResourceUri(raw_res_id)` to `createMediaSource`. You don't need to call `open` or create a `DataSpec`.
1. `SimpleExoPlayer` can take care of handling the surface lifecycle for y

[2018-05-21 15:53] andrewlewis commented on #4268
I think the time to byte is wrong: when I added some logging to output the atom name, size and its position in the stream, after seeking I get:

[code]

The last line indicates that we tried to read an atom header and size but actually read some other data.

Could you check your segment indices and make sure the chunk offsets are correct?

[2018-05-21 16:24] andrewlewis commented on #4265
I can reproduce this with the HTML5 SDK too. It may be an issue with the IMA SDK or a problem with the ad tag.

[2018-05-21 16:35] Khang-NT commented on #3972
`DynamicConcatenatingMediaSource` is deprecated from `2.8.0`. @tonihei, Does it support "lazy preparing" now?

[2018-05-21 16:48] andrewlewis commented on #3774
I followed up with the IMA team about this. They recommended using the [Google Mobile Ads SDK for Android](https://developers.google.com/admob/android/quick-start) to play video ads without a content video.

Regarding the workaround mentioned above, it may be the case that IMA is pausing playback of the ad because the content position/duration returned from `getContentProgress` is unset as the ad

[2018-05-21 16:50] tonihei commented on #3972
Not yet, sorry. It has just been merged with the existing `ConcatenatingMediaSource` because they had an almost identical feature set.

[2018-05-21 16:55] andrewlewis commented on #4265
It looks like the end of the ClickThrough URL in the ad tag has been truncated (it ends "%E"). If I remove this the "Learn more" link appears. (Thanks to the IMA team for spotting this!)

[2018-05-21 16:55] #4265 closed, assigned to andrewlewis

[2018-05-21 17:37] jknobel commented on #4274
@AquilesCanta Right, the files are not fMP4s. Can HLS work with non-fragmented MP4 files? It does work perfectly fine on all the apple platforms and these streams are already used in released apps for iOS, so trying to get it to work without modifications for Android.

[2018-05-21 17:45] AquilesCanta commented on #4274
This is not supported out of the box, unfortunately. I suppose you could implement your own HlsExtractorFactory and create an Mp4Extractor instead of a FragmentedMp4Extractor. The problem with this is timestamp adjustment. To achieve it, you might be able to create a wrapper around the existing extractor to handle timestmaps in a similar fashion to what the fragmented one does. Also, you might be

[2018-05-21 21:16] ChristianKleineidam commented on #4270
I integrated points 2/3/4 and while it simplified the code, the problem still exists in the same way:

public class VideoFragment extends Fragment{
    private Context mContext;
    private SimpleExoPlayer mPlayer;
    private SurfaceView mSurfaceView;

    @Override
    public View onCreateView(LayoutInflater inflater, ViewGroup container,
                             Bundle savedInstanceState) {

[2018-05-22 04:54] kishido05 opened #4278 "Allow specifying a Looper when instantiating ExoPlayer"
### Issue description
`java.lang.IndexOutOfBoundsException` on Timeline.getWindow

We're using SimpleExoPlayer to playback audio on our app. We didn't have any problems on our initial launch with the integration. However, when we upgrade the target SDK version to 27 (previously it was 25), then we started getting crashes. Also note that we were using version 2.7.3 of Exoplayer on our previous vers

[2018-05-22 07:29] AlawnXu opened #4279 "Play h265 video coding, ACS3 audio encoding video without sound."
Play h265 video coding, ACS3 audio encoding video without sound. Trouble help to solve it, thank you!

[2018-05-22 08:05] MajDroid opened #4280 "IMA Extension PODs with empty positions in the middle"
### Issue description
IMA Extension when dealing with a POD (pre-roll/mid-roll) with fixed size (like 4) and one or more of the positions in the middle happen to be empty.
As soon as IMA Extension spots an empty position (AdEvent LOG), it decides to mark the rest of the unplayed ads with error as seen in method handleAdGroupLoadError:

        for (int i = 0; i < adGroup.count; i++) {

[2018-05-22 08:11] AntonAFA commented on #3835
No, we label device as needed workaround only when we get ```MediaCodecRenderer.DecoderInitializationException```. Probably there might be additional reasons for getting thes exception. And thats what I am trying to figure out. On which device did you run the test?

[2018-05-22 08:25] andrewlewis commented on #4270
Do you need to create a new player each time `onCreateView` is called, or can you just have one player (created in your activity) and call `setVideoSurfaceView` each time you make a new fragment, to output to the new fragment? (This won't work if you're trying to play more than one video at once, though.)

Please try passing `RawResourceDataSource.buildRawResourceUri(raw_res_id)` to `createMediaSo

[2018-05-22 08:28] andrewlewis commented on #4280
Please could you provide your ad tag (here or via email to `dev.exoplayer@gmail.com`)?

[2018-05-22 08:48] andrewlewis commented on #4232
It's possible to specify cue points and ad media yourself by implementing a custom `AdsLoader`, but the code in `ImaAdsLoader` expects ads loaded by IMA to be the only ads in the player timeline.

[2018-05-22 08:49] MajDroid commented on #4280
Unfortunately i do not have a publicly available ad tag for your to test.

Just to clarify what i mean with an empty position, it's an AdEvent LOG as follows:
onAdEvent: LOG
    adEvent: AdEvent[type=LOG, ad=null, adData={type: adLoadError, errorCode: 1009, errorMessage: The response does not contain any valid ads.}]

[2018-05-22 09:18] tonihei commented on #4278
The stack trace of this crash looks really unusual. It doesn't really point a valid order of methods. Do you have any more details about what happened at the time this exception occurred?

One thing worth checking is that you only access the player from one single thread (the one you called newSimpleInstance on). But that's just a guess because we've seen problems in the past where this caused pro

[2018-05-22 09:21] VictorPurMar commented on #4267
Please could you take a bug report just after seeing the error?
Sorry... i can't reproduce it again. I reinstall the so (fabric reset) and the error seems repaired.

did you see some other error while installing the update?
No the updating was apparently normal.

Did this happen while trying to play DRM-protected content?
Nope, its an open hls video.

Thanks again.

[2018-05-22 09:26] tonihei commented on #3835
I used a Nexus 6P and got a DecoderInitializationException as well. I fear that the workaround test doesn't cover the real thing because it does never switches (or sets) surfaces and probably fails for other reasons.

[2018-05-22 09:30] AntonAFA commented on #3835
What was the cause fot this ```DecoderInitializationException```? Can you suggest some more convinient way of doing  that test? Maybe, ad some "setSurface" block?

[2018-05-22 10:47] tonihei commented on #3835
After looking into this in more detail, I think setting the surface shouldn't be necessary because the DummySurface is still created (as you don't set a surface at all). It just wouldn't catch devices which only have problems with switching surfaces but that's probably fine for the first try.

However, it seems the test content is too small. The reason is fails for me is "Unsupported WxH = (32)x(3

[2018-05-22 12:32] AntonAFA commented on #3835
Unfortunately we have no device that is run in to this size issue. Is it possible to ask you test this content, and tell if it`s good enough?
https://github.com/kaltura/playkit-android/tree/surfacetest-fix/playkit/src/main/assets/DRMTest

[2018-05-22 13:07] BraveEvidence opened #4282 "Exoplayer Brighness"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-05-22 13:08] BraveEvidence opened #4283 "ExoPlayer brighness"
How to increase Exoplayer brightness?

[2018-05-22 14:16] garethfenn commented on #4224
After some investigation, it would appear that Exoplayer waits indefinitely in the prepare state until it receives at least one sample for each track referenced in the PMT. I've added a hack to progress from prepare after a timeout with a subset of all PMT referenced tracks which works well. But if the AD track only becomes active after prepare, it's never available for selection.

[2018-05-22 15:07] tonihei commented on #3835
Your new sample works for me (i.e. it reports as not needing the workaround), but only if I replace the `fakeDrmCallback` with a real one (e.g. `HttpMediaDrmCallback` with "https://proxy.uat.widevine.com/proxy?provider=widevine_test").

[2018-05-22 16:29] kvillnv commented on #4253
@erdemguven I followed your recommendation and changed the maxCacheFileSize to 20MB for testing, but it seems it cannot help because of my source's segment size:
-My source has short segments of 2.5MB. When I set the maxCacheFileSize to 20MB the downloader does not build files bigger than 2.5MB.
-It only works in the other way: If I set the SIZE to 1MB, all my downloaded files will be 1MB instead

[2018-05-22 17:29] xdeop opened #4284 "Cannot extend PlayerControlView"
Unable to extend the PlayerControlView class to create a custom control view as all the variables in the PlayerControlView class are private instead of protected.

I'd just would like to limit the timeBar's time-shifting to the minimum between the live stream's time-shifting and the show's starting time. For it, the updateProgress method should be overridden to add the limitation but when creating

[2018-05-22 19:30] Jogan commented on #4254
@AquilesCanta issue resolved in 2.8.1 release. Thanks!

[2018-05-22 21:09] karyogamy commented on #4239
Works flawlessly now on 2.8.1. Thank you.

[2018-05-22 21:17] AquilesCanta commented on #4254
Thanks for the confirmation!

[2018-05-22 21:26] AquilesCanta commented on #4239
Thanks for confirming!

[2018-05-22 22:20] jt64 commented on #3596
Yes this issue has been fixed in P.

[2018-05-22 22:21] jt64 commented on #3596
@ojw28 can you close this?

[2018-05-23 00:59] skywalkerdude opened #4285 "Unable to play MIDI files"
I am trying to play a MIDI file using ExoPlayer, but it doesn't seem to be working:

[code]
I understand that MIDI files may not be supported at the moment, but is there any plans to add support? If not, do you have any tips on how to write that functionality myself? It seems to work when I use the native Android MediaPlayer

[2018-05-23 03:16] kishido05 commented on #4278
@tonihei as of the moment we don't have any other info besides that as we can't replicate the crash on all of our test devices.

I'm going to take a look at the how we access the player. I'm quite sure we only do it on a single thread though.

And one more thing, I've said that the issue didn't occur when we were using SDK version 25 and Exoplayer version 2.7.3, but it seems I was mistaken, we jus

[2018-05-23 05:31] khat33b commented on #4232
It's possible to write a custom `AdsLoader ` but that would negate the whole point of using the IMA extension.

[2018-05-23 06:54] xiaopao2014 opened #4286 "LoopingMediaSource cause rebuffering everytime"
### Issue description
In some case ,we want to play video looply.
When we use MediaPlayer , it's easy by "setLooping(isLooping)"
As i know, in EXOPlayer, we could use LoopingMediaSource or setRepeatMode.
But we found a problem that it will cause the video rebuffering when it play looply.
Is there any way that we could play a video looply without rebuffering.
Thanks for yout help.

### Reproduction

[2018-05-23 07:25] noamtamim commented on #3835
@tonihei the problem is that at the time the test runs, we don't have a license URL that will respond correctly. Are you saying that when you set this proxy URL the response it provides (which is obviously not a valid license response) is good enough? What if I'll be offline at the time of testing?
More importantly, the idea for the fakeDrmCallback with a delay of 10 seconds is making sure the lic

[2018-05-23 07:58] #3596 closed, assigned to jefftinker

[2018-05-23 08:01] tonihei commented on #4286
Could you please provide example media such that we can reproduce the problem?

[2018-05-23 08:12] xiaopao2014 commented on #4286
http://res.mrsphone.com/video/2018/04/28/r_2576788/1/av_2576788_01.mp4
we use mp4 video file.

[2018-05-23 08:38] tonihei commented on #4286
The file loops perfectly fine for me in our demo app. Both with the repeat mode and the LoopingMediaSource.

I added
[code]
to `media.exolist.json` and set `player.setRepeatMode(Player.REPEAT_MODE_ONE)` in `PlayerActivity.java`.

Can you try to reproduce the issue in our demo app and tell us what else you changed to see if there is another reason for the buffering?

[2018-05-23 08:45] erdemguven commented on #4253
Unfortunately, there is no way to combine segments in to a single file.
Small exo files are probably the audio track. Also if your video segments are 2.5MB, there must be two exo file per segment when maxCacheFileSize is 2MB: 1 2MB file and 1 0.5MB file. So increasing the maxCacheFileSize to > 3MB still helps slightly.

[2018-05-23 08:50] xiaopao2014 commented on #4286
Um, there must be some misunderstanding. By my side, both repeat mode and LoopingMediaSource could loop play that video. But as we check the http reqeust by fiddler or charles tool, we could found that when exoplayer loop play, it would request the video url everytime.
On the other side, we check the Media Player , it works fine, even if we loop play ,it just request that video url for one time.
S

[2018-05-23 08:53] xiaopao2014 commented on #4286
![5227f943-3442-49ce-9de1-9223b9a42fa6](https://user-images.githubusercontent.com/7996455/40414008-ccec6314-5ea9-11e8-9e49-ad0c44024a30.JPG)

This is the fiddler history. We have test that in ExoPlay Demo , it works the same

[2018-05-23 09:08] tonihei commented on #4286
Yes, that's correct. We reload the media when looping. The reason is that we keep only a certain amount of media in the buffer and delete the buffer behind the playing position. So at the time we reach the end of the video, we need to load the video again. Note that this may not be necessary for such a short video as in your example, but it's needed for longer videos to prevent excessive memory us

[2018-05-23 09:21] xiaopao2014 commented on #4286
Yes, using cache almost fits that.Thanks!

[2018-05-23 09:21] #4286 closed, assigned to tonihei

[2018-05-23 09:37] Gian84 commented on #4094
Hi jt64,
we have tried to save the drm session id and then release the drm session (and / or other similar solutions), but our code changes and tests have not solved the bug.
Any news form your side?

Thanks,
Gianmaria

[2018-05-23 10:09] billyjoker opened #4287 "withMaxVideoBitrate does not exists anymore"
Hi, i've just updated to Exoplayer 2.8.0 and i get that the method from trackselector `withMaxVideoBitrate `does not exists, what is the alternative to this one?

Occurrs the same with `withPreferredAudioLanguage `and `MappingTrackSelector.SelectionOverride`

[code]

Thanks!!

[2018-05-23 10:16] botaydotcom commented on #4287
Hi @billyjoker,
I think in 2.8.0, you can use `DefaultTrackSelector.ParametersBuilder` for these functionalities.
The example in the doc was:
[code]
Please check out our demo app for further details.

[2018-05-23 10:16] #4287 closed, assigned to botaydotcom

[2018-05-23 12:03] MegatronKing opened #4288 "getCurrentPosition() returns a minus value"
### Issue description
getCurrentPosition() returns a minus value.

### Reproduction steps
Step 1: Play a radio url.
Step 2: Print position and duration every 100ms.
Step 3: position value sometime negative sometime positive.

### Link to test content
https://hlspproduction-alexa-primary.mountain.siriusxm.com/r/sessionid/6459F5A320B21B7182C262E33424924961fdf547-8a57-cc9c-ad8-a625692d692dafehowardst

[2018-05-23 12:16] tonihei commented on #3835
The `fakeDrmCallback` doesn't work because the player just waits for 10 seconds and then issues an IllegalArgumentException because the key response is null.

To get a valid Widevine license (which allows to setup the secure surface), you either need the online license request or you manage to obtain an offline license which never expires.
Alternatively, [thanks to @AquilesCanta for pointing this

[2018-05-23 12:16] Sybergoth opened #4289 "HLS freezes every second on poor connection"
### Issue description
I have a project where I stream HLS videos to an android app.
The videos are created with ffmpeg, h264, aac encoded and then segmented to TS segments.

Example of the index of the hls videos:

[code]
I have a recyclerview which contains a number of such videos, but always only a single player is playing.
The code in the android app (kotlin) which runs the videos:

[code]

The

[2018-05-23 12:41] AquilesCanta commented on #4289
Are you releasing players that are not currently playing? It would be good to trace network usage from the app, and compare it with the brower's usage.

[2018-05-23 12:45] AlirezaGhanbarinia opened #4290 "set local address for cache file"
Hi
I want to know is it possible to set the address manually for saving the cache file? If no, how can we access the address of the cached video file programmatically?

[2018-05-23 12:47] ChristianKleineidam commented on #4270
Thanks, passing `RawResourceDataSource.buildRawResourceUri(raw_res_id)` worked.
I found the bug via StackOverflow. It seems that calling `.replace()` instead of `.add()` for the fragment change solved the issue.

[2018-05-23 12:47] #4270 closed, assigned to andrewlewis

[2018-05-23 13:07] kvillnv commented on #4253
Alright, thanks for your help @erdemguven.
In a next release, it would be great to make editable the maxCacheSize of the buildCacheDataSource of the DownloaderConstructorHelper.
And also use one folder per media.

[2018-05-23 13:44] noamtamim commented on #3835
- I considered a license that never expires (I can create such a thing in our DRM server), but this license is still bound to the device that created the request -- so it's not something I can hold as an asset
- ClearKey would be nice, but I'm pretty sure it's only supported from Android 7.1 and up. We need to support 4.3.
- I don't need the license request to succeed, because I don't really inten

[2018-05-23 14:00] erdemguven commented on #4290
It's not advised to directly access to cache files. Instead you should use a CacheDataSource to read the data.

If you still want to access to the files (at your own risk):
Cached data is split into multiple cache files. File names are generated automatically.
You can find these files using:
[code]

[2018-05-23 14:00] #4290 closed, assigned to erdemguven

[2018-05-23 14:04] erdemguven commented on #4282
Duplicate of #4283

[2018-05-23 14:04] #4282 closed, assigned to erdemguven

[2018-05-23 14:06] erdemguven commented on #4283
Duplicate of #2450

[2018-05-23 14:06] #4283 closed, assigned to erdemguven

[2018-05-23 14:47] tonihei commented on #3835
The problem is that the player never reaches the READY state in such a setup. Instead, after 10 seconds waiting, it gets the wrong key request answers and fails with a DrmSessionException. If I understand you correctly, that's what you wanted. Waiting for the READY state is then probably not the right way to "pass" the test.

When you say the number of problematic devices is huge - how do you dete

[2018-05-23 15:52] kinhdang opened #4291 "error when play hls in STB MXQ"
Dear all !

We use Exoplayer 2.8.0 with STB device :

- MXQ2 (U2+) :
- System version : 6.0.1
- Quad-Core 64-bit Cortex-A53 / Pental-Core Mali-450
- {http://mxqsmart.com}

to play HLS stream, Sometime it has an error in PlayerEventListener, and i attached log file here, anyone knows this case, Please share idea how to fix ?
Thanks.
05-23 15:33:09.304 7372-7926/com.unoipbox.stb E/ExoPlayerImplInter

[2018-05-23 16:05] AquilesCanta commented on #4291
There are [quite a few related issues](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+BehindLiveWIndowException) in the issue tracker. The demo app handles the issue correctly so I don't think the stack overflow error you encounter is a library issue, but rather an endless recursive call in the app. If you have evidence pointing at this being an ExoPlayer issue, please fill

[2018-05-23 16:05] #4291 closed, assigned to AquilesCanta

[2018-05-23 16:45] kinhdang commented on #4291
Thanks AquilesCanta ,

Maybe this exception raise after have buffering streaming.

[2018-05-23 18:50] izderadicka opened #4292 "MediaSessionConnector - metadata for Samsung"
### Issue description
I use `TimelineQueueNavigator`  with  my media application on Samsung phones.
Queue get `MediaDescriptionCompat` from queue and maps it to `MediaMetadataCompat` which is then set in `MediaSession`.
The main infomartion about media item is its title - now comes interesting part - connector maps description title into `MEDIA_KEY_DISPLAY_TITLE`  key,  but Samsung (in lock and AO

[2018-05-24 01:40] na-in-lee commented on #4241
Thanks.

I confirmed and applied your commit. (https://github.com/google/ExoPlayer/commit/7b855e45e60a2932105c1ffbf091c937cf3b7679)

update version : 2.6.1 -> 2.8.1-rc

Close the issue.

[2018-05-24 01:40] #4241 closed, assigned to tonihei

[2018-05-24 05:23] huangwei-dlb opened #4293 "Is there some callback to notify N loop has been completed in a LoopingMediaSource?"
I tried to look into the source code of LoopingMediaSource but it does not seem to provide such capability.
Player state change callbacks cannot fulfill this requirement either.

[2018-05-24 06:58] giladna commented on #4053
@tonihei

you may use vpn to India for this please

[2018-05-24 08:14] tonihei commented on #4293
Please have a look at `EventListener.onPositionDiscontinuity`. This method is called every time there is a discontinuity in the natural progress of the media. Most importantly, this also happens when transitioning to the next loop iteration. There is a `reason` parameter which should be set to `DISCONTINUITY_REASON_PERIOD_TRANSITION`. If you'd like to wait for N iterations, you can do the counting

[2018-05-24 08:31] Sybergoth commented on #4289
I really had another undesired player in the background.
Fixed it and now the streaming is better. Thank you!

[2018-05-24 08:31] #4289 closed, assigned to AquilesCanta

[2018-05-24 09:19] huangwei-dlb commented on #4293
@tonihei, Thanks a lot for this information. The event works exactly as you mentioned.
However, it cannot help on my problem. Actually, I am trying to calculate the frame rate of the video. It normally not available from the video format information. So I put some statistics mechanism in the renderer, that is to count how many frames has been rendered since beginning. The statistic FPS sometimes h

[2018-05-24 09:42] mateuszbm opened #4294 "Exoplayer and Rtp Multicast support"
Hi,
I'm trying to integrate Rtp support from this pullrequest(https://github.com/google/ExoPlayer/pull/3244) into newest ExoPlayer version. I created necessary files and copy paste code in existing ones.
Everytihing seems to work good, project compile without any errors but when I'm trying to play video nothing happen.

Debug log code:
I/ExoPlayerImpl: Init 8e1481f [ExoPlayerLib/2.8.1] [p212, MAG4

[2018-05-24 09:59] AlirezaGhanbarinia commented on #4290
thank you
I accessed the files. but why the file format is .exo? the url  i have set to player, is a mp4 file.

and another question, what are the problems we are going to confront ? since you said it has high risk.

[2018-05-24 10:24] tonihei commented on #4293
Did you check `Format.frameRate`? This value may already contain the value you are looking for.
Besides that, you should probably check the presentation timestamps of the frames in the renderer to know when (or rather in which interval) frames are rendered. For example, if you're using a MediaCodecRenderer you can listen to `onProcessedOutputBuffer(presentationTimeUs)` for this. Note that the pres

[2018-05-24 10:33] vimsliu commented on #4258
I am sorry for late reply as i am busy with other project also, but it seems i cannot see the network profile that the android studio have. It only has the android profiler and i cannot see the information inside the network that is being processd

[2018-05-24 10:45] erdemguven commented on #4290
It's the internal file format to store a span of cached data. Currently it contains only the cached data but this can change. If it changes your code may become broken.

[2018-05-24 12:38] andrewlewis commented on #4258
Are you using Android Studio 3.0 or later?

[2018-05-24 12:43] h3clikejava opened #4295 "java.lang.NullPointerException"
at com.google.android.exoplayer2.source.ExtractorMediaSource.notifySourceInfoRefreshed (ExtractorMediaSource.java:381)
  at com.google.android.exoplayer2.source.ExtractorMediaSource.onSourceInfoRefreshed (ExtractorMediaSource.java:372)
  at com.google.android.exoplayer2.source.ExtractorMediaPeriod.maybeFinishPrepare (ExtractorMediaPeriod.java:625)
  at com.google.android.exoplayer2.source.Extracto

[2018-05-24 12:44] AlirezaGhanbarinia commented on #4290
well thaks again.
Is it possible to download the file when playing the streaming file from url Simultaneously?

[2018-05-24 12:46] Prateek218 opened #4296 "Android ui Hangs on every launch"
Hi,
I'm using exoplayer in my application and the problem I faced on every launch and the first video to be played after playing the first video on every launch the UI of android phone hangs and I'm not able to find what is the issue behind this. Simply, when I launch the app first time and play any video first time after launch and when I pause the video the UI hangs and after playing first video

[2018-05-24 17:17] DKillWorld commented on #4292
This happenes on certain more devices I tested with. Certainly needs some quick fix.

[2018-05-24 23:06] jkellysbgtv opened #4297 "Unable to play AdTag"
### Issue description
Ad tag url never plays, throws NPE from player. This ad works fine in the VAST inspector and works in older versions of exoplayer with IMA extension (2.5.2).

### Reproduction steps
Use test content link below in Exoplayer IMA demo.

### Link to test content
https://a.teads.tv/vast/backfill/86147?userAgent=[USERAGENT]&playerWidth=[WIDTH]&playerHeight=[HEIGHT]&userId=[DEVICEID

[2018-05-25 01:44] huangwei-dlb commented on #4293
Yes I always check Format.frameRate, however, it is NO_VALUE most of the times.
I will try to check the presentation timestamps as you suggested.
Thank you very much.

[2018-05-25 03:20] vimsliu commented on #4258
hi and yes 3.1.12 and here are the results using android profiler, it seems both videoview and exoplayer shows similar result on the network part.. it just that the videoview plays the video streamed locally in android (local server) while exoplayer does not.. when trying external server (video from live server) then both player plays with the network having 128 kb/s+

[2018-05-25 03:20] vimsliu commented on #4258
video view
![videoview](https://user-images.githubusercontent.com/39286922/40524543-9e517ee4-600d-11e8-823b-e224a6f4d366.PNG)

exoplayer
![exoplayer](https://user-images.githubusercontent.com/39286922/40524544-9edf8d10-600d-11e8-9e74-56bcdd7e6d14.PNG)

[2018-05-25 03:57] bizkitj opened #4298 "Can not resolve symbol 'PlayerNotificationManager'"
### Issue description
Android Studio 3.1

[code]

`        classpath 'com.android.tools.build:gradle:3.1.2'
`

While I am trying to create
`        PlayerNotificationManager playerNotificationManager = new PlayerNotificationManager();`

Android Studio is telling me
`Can not resolve symbol 'PlayerNotificationManager'`

What I have done:
1: Invalidate Caches / Restart
2: Clean Rebuild
No luck.

Am I

[2018-05-25 07:09] rd7773 commented on #3815
@huttarl @moagrius First of all thanks to both of you for sharing the way.
@moagrius I have a similar requirement where we need to play a mpeg-cenc ecrypted video which is locally stored on phone but the encryption is done at server end using ffmpeg with encryption scheme cenc-aes-ctr and it seems ffmpeg internally uses 8 byte random iv while encrypting which is written to the senc box of mp4. I a

[2018-05-25 08:05] andrewlewis commented on #4258
If you can see network connections from ExoPlayer in the profiler, can you see if there's evidence of the 'connection refused' error? I'd expect there to be some differences in the network requests from the working vs broken cases.

[2018-05-25 08:30] andrewlewis commented on #4297
I can't reproduce this in the main demo app or the IMA demo app. The logging from the attached bug report shows this is actually using 2.7.3: `ExoPlayerImpl: Init 9c5c831 [ExoPlayerLib/2.7.3] [generic_x86, Android SDK built for x86, Google, 26]` not 2.8.1, and the line numbers in `PlayerManager.java` look wrong -- have you made any changes to this file?

<details><summary>Stack trace</summary>

[c

[2018-05-25 11:03] bizkitj commented on #4298
Sigh,....
apperently, I need to use 2.8.0 stated in the release readme.

[2018-05-25 11:03] #4298 closed, assigned to nobody

[2018-05-25 11:04] AquilesCanta commented on #4224
If the PMT references a track that has no PES packets, then the stream will get stuck in preparation. This is not something we plan to support as it's currently considered to be bad media. The best way to work around it is probably forking the extractor to give up waiting after some time (usually TV standards set some maximum packet interval, so that should help).

[2018-05-25 11:04] #4224 closed, assigned to AquilesCanta

[2018-05-25 12:41] ccf1018 opened #4299 "HLS + Widevine"
Where to get a HLS + Windvine Test link to verify it?
I can not find it after a long time searching. Could someone help?

[2018-05-25 12:45] AquilesCanta commented on #4299
Unfortunately, we do not have any HLS + Widevine samples we can disclose, and this is out of the scope of this issue tracker. If you do find a public sample, please let us know and we'll add it to our demo app.

[2018-05-25 12:45] #4299 closed, assigned to AquilesCanta

[2018-05-25 12:56] AquilesCanta commented on #4213
Hi @donpec, the e-mail is not in our inbox. Please send the link to dev.exoplayer@gmail.com, and make sure you use the subject "Issue #4213". I will reopen the issue once you update this thread confirming you have sent an e-mail containing the link.

[2018-05-25 12:56] #4213 closed, assigned to AquilesCanta

[2018-05-25 13:09] Anton111111 opened #4300 "How to use IMA extension without autoplay?"
Hi!
I want to show ads without autoplay enabled. For example if i remove     `player.setPlayWhenReady(true);` in the example:
https://github.com/google/ExoPlayer/blob/2b55c91af0afd1f50f689adb1046f1cf78c887f6/demos/ima/src/main/java/com/google/android/exoplayer2/imademo/PlayerManager.java#L98

I don't see ad.
How to start show ad only when user click on play button ?

[2018-05-25 13:40] Anton111111 commented on #4300
Simple start demo from branch
https://github.com/Anton111111/ExoPlayer/blob/autoplay/demos/ima/src/main/java/com/google/android/exoplayer2/imademo/PlayerManager.java
to reproduce this problem.

[2018-05-25 14:52] kingofswing opened #4301 "Can Exoplayer record the time played of every file in playlist?"
### Issue description
Actually It's a question in mind for several days after searched issues for the answer but with no luck. It's about statistics of playlist. What I want is to record the video name, video duration , time played ( normal transition to the next one or press next button ) and save to backend.

I'm new to Exoplayer , and hope to use Exoplayer to do the job, any help or clue would

[2018-05-25 15:18] Anton111111 commented on #4300
Also if i set player.setPlayWhenReady(false);  how in example above i see in log the following Error:

[code]

[2018-05-25 15:46] tonihei commented on #4301
ExoPlayer offers a number of listeners to get this kind of information - e.g. `Player.EventListener` or the more detailed `AnalyticsListener`. You can listen to `onPositionDiscontinuity` events to calculate the time played, and listen to `onTimelineChanged` to retrieve the duration as soon as known (or check `player.getCurrentDuration()`. You can also set and get a custom tag for each `MediaSource

[2018-05-25 17:56] ChristianKleineidam commented on #2843
Can you be more specific about how `PlayerView.setKeepContentOnPlayerReset` is supposed to be used? How can I call it after creating a `SimpleExoPlayer`? It seems I can't call it directly and there also isn't a `getPlayerView` function.

I'm using a SurfaceView, is the feature still available to me?

[2018-05-25 18:16] jkellysbgtv commented on #4297
Yes, I added an EventListener in PlayerManager.java to log errors when I was attempting to solve this issue myself.  Interesting that it's an older version of the player, as I just pulled down the Exoplayer repo fresh to write this ticket.

I pulled the repo again and the only change I have made is to change the adTagUrl in the strings.xml to the test content I posted. The ad is still not playing

[2018-05-25 21:39] moagrius commented on #3815
i'm not a crypto expert but, as far as i know, you have to have the IV for any decryption operation.  a quick google says that cenc-aes-ctr is basically the same thing as aes-ctr.  sorry, i can't help much beyond that.

[2018-05-26 06:56] H1-N1 opened #4302 "implement exoplayer (deprecated code )"
Hi !
im using the code below to implement exoplayer
but is deprecated !
how can i fixe it to play iptv link
test link :
http://iptv.ndasat.com:88/live/550290029873347/550290029873347/68.ts
thx
[code]

[2018-05-26 09:24] kingofswing commented on #4301
Thanks for your quick reply, @tonihei , I’ll learn to how to make use of  these 2 listeners .

[2018-05-26 13:07] sajjadjaved01 commented on #4302
Take a look 🙂👍

[code]

[2018-05-27 06:45] noamtamim commented on #3835
Hi @tonihei,
We don't ever expect the player to be READY. However, we **do** expect that if it failed with `DecoderInitializationException`, it will be because of the `DummySurface` issue:

[code]

Putting it all together, I suspect that the only reason for the huge amount of false positives is the video size. Am I right?

BTW, in the released version we **did** move the `player.release()` call ou

[2018-05-27 10:23] ChristianKleineidam opened #4303 "Dealing with the shutter"
ExoPlayer2 frequently shows a black shutter for a few milliseconds while the default media player doesn't. Given that the shutter only shows for a few milliseconds it's not easy to know exactly when it appears.

I think it would be great if there would be a function at ExoPlayer.EventListener whenever the shutter gets activated or disactivated.

If I understand the current behavior right, when I c

[2018-05-27 10:51] ghost commented on #3375
Hulu's async mediacodec solution has already been released on production.

[2018-05-27 14:08] Gidex opened #4304 "Add option to show buffering view when setPlayWhenReady=false"
private void updateBuffering() {
    if (bufferingView != null) {
      boolean showBufferingSpinner =
          showBuffering
              && player != null
              && player.getPlaybackState() == Player.STATE_BUFFERING
              && `player.getPlayWhenReady();`
      bufferingView.setVisibility(showBufferingSpinner ? View.VISIBLE : View.GONE);
    }
  }

I think PlayerView.getPlayWhenR

[2018-05-27 14:47] AquilesCanta commented on #2843
Hi @ChristianKleineidam, your player view is part of your view hierarchy. To get it you can look at the demo app:

`playerView = findViewById(R.id.player_view);`

and then you can call it there.

Yes, it should be independent of the surface type, I think.

[2018-05-27 20:22] ChristianKleineidam commented on #2843
If I call `playerView = findViewById(R.id.player_view);` that doesn't find anything and given that the only view I have defined in my xml files is my SurfaceView it also doesn't seem surprising that it doesn't find anything.

Yet the shutter does still seem to be displayed over my SurfaceView.

[2018-05-27 20:33] erdemguven commented on #4277
Please see #2197 and let us know if it solves your issue.

[2018-05-27 20:43] erdemguven commented on #4279
Do you mean AC3? Android devices are not required to support AC3, and many devices do not do so. See the "Sample Formats" section of [this page](https://google.github.io/ExoPlayer/supported-formats.html) for mode details.

[2018-05-27 20:43] #4279 closed, assigned to erdemguven

[2018-05-27 21:41] erdemguven commented on #4296
Have you tried this on ExoPlayer Demo app and/or on different devices?

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-05-27 22:07] erdemguven commented on #4302
Although you use some deprecated code, I can confirm that it works. Please refer to the javadoc of the deprecated code to learn what to use instead.

[2018-05-27 22:07] #4302 closed, assigned to erdemguven

[2018-05-28 01:17] H1-N1 opened #4305 "the player keep playing the old video audio"
hi
sorry for my bad english im not a native speaker.
i face issues with exoplayer when i play multiple video on the same player !
when i play different url stream the player keep playing the old video audio in background with the new video !

[code]

[2018-05-28 02:11] vimsliu commented on #4258
it just logged this from  logcat:

05-28 10:04:14.460 20659-20677/com.alco.encryptedvideoplayer E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to http://localhost:9990/
        at com.google.android.exoplayer2.upstream.DefaultHttpDataSource.open(DefaultHttpDataSource.java:194)
        at com.google.android

[2018-05-28 05:08] rd7773 commented on #3815
@moagrius i used ffmpeg command for encryption as below
`ffmpeg -i cleanVideo.mp4 -vcodec copy -acodec copy -encryption_scheme cenc-aes-ctr -encryption_key 76a6c65c5ea762046bd749a2e632ccbb -encryption_kid a7e61c373e219033c21091fa607bf3b8 encryptedVideo.mp4`
We didn't pass any IV, ffmpeg writes random 8 bytes iv to senc box of mp4.
AFAIK CENC encrypts samples in between and not the whole file so we

[2018-05-28 08:07] ghost opened #4306 "SRT subs position tags"
**### Issue description**
It doesn't recognize the position of the subtitles. I don't know if its possible just ignore and not show the tag, or position in the correct place.

### Link to test content
![Image of subs](http://images2.imagebam.com/f2/a4/9f/6c5c3d878070534.jpg)

### Version of ExoPlayer being used
Plex android app embedded.

[2018-05-28 10:17] rakesharyais opened #4307 "API to get the Buffer lenghth"
### Issue description
I am using getBufferedPosition() to get the buffer length .
The value returned by this API is  is too high when i seek. The value is around 1456324 ms
Is this the right API to get the buffer length ? or is Someother calculation is required

### Version of ExoPlayer being used
Exoplayer version is 2.8.1 and even we have the same issue in 2.7.1

### Device(s) and version(s) of

[2018-05-28 11:24] getashok2003 opened #4309 "HLS live frequent stuck and some time does not recover"
Sting TV android box
Android version - 7.0
Scenario - HLS live content play
Always seeing this -YES
Exoplayer version - r2.8.1

**Use case-** tune to HLS live content
**Expected behavior-** Video should keep playing
**Actual behavior-** Frequent video stuck are seen, some time video did not recover,
**Initial observation-**
onLoadCompleted response -looks like download of bitrate .m3u8 file is not

[2018-05-28 12:48] SikanderZeb commented on #2643
@erdemguven is there any support to download and offline play protected DRM content? I've been trying the Exoplayer2 recent demo.  Added my urls to the assets, but on download I got  `This demo app does not support downloading protected content`. However I made some changes in the example and managed to download videos, but when I try to play the downloaded videos, the player shows video duration,

[2018-05-28 12:57] ojw28 commented on #4268
Closing because the media is still not correct. Helping with media creation is beyond the scope of this issue tracker.

[2018-05-28 12:57] #4268 closed, assigned to andrewlewis

[2018-05-28 13:24] tonihei commented on #4307
getBuffered**Position**() returns the position in the media up to which the player has buffered data. You probably want to subtract getCurrentPosition() to the get the length of the current buffer.

Note that we are also planning to add an API to do this directly (which also works correctly for prebuffering in playlists). This is most likely part of the next release.

[2018-05-28 15:02] arushijain45 opened #4310 "Proguard for r2.0.1"
I am using exo player version r2.0.1 but getting following error:
Warning:Exception while processing task java.io.IOException: Can't write [/.../build/intermediates/transforms/proguard/user/release/jars/3/1f/main.jar] (Can't read [/home/pw/.android/build-cache/19b040b601e1ecad3e7b1996c52b38484ce7ffc8/output/jars/classes.jar(;;;;;;**.class)] (Duplicate zip entry [com/google/android/exoplayer2/l.cla