[2021-05-27 16:19] claincly commented on #8941
Thanks for the detailed comment. Can you try printing out the received bytes in `handleRtspMessageLine()`,  after every `dataInputStream.readByte()`? My suspicion is your camera (RTSP server) did not insert a CRLF (`\r\n`) at the end of the message body, although it should (not necessarily a must).

[2021-05-27 16:19] AquilesCanta commented on #8212
The reason for which we are not bringing in the Timeline from the receiver is that the Cast default receiver does not behave reliably, so that we can guarantee a consistent state across all senders and the receiver. I've recently revisited this, but I haven't been able to make progress. If you have some time to invest in this, I encourage you to send a pull request. It will be more than welcome.

[2021-05-27 16:22] jruesga opened #8990 "IllegalStateException caused by android.media.MediaCodec.native_dequeueXXX"
We are observing several IllegalStateException caused by `android.media.MediaCodec.native_dequeueOutputBuffer` and `android.media.MediaCodec.native_dequeueInputBuffer` in several different devices/manufacturers (mainly Samsung, LG and Motorola), but they are all present in mostly each devices/manufacturers). We have been observed them in VOD and Live content, as VSF and VPF and with ExoPlayer 2.10

[2021-05-27 16:45] stevemayhew commented on #8989
Thanks Ian, that's exactly what I guessed.  So OpenJDK11 or Oracle JDK11 (for mac folks) are required.   IntelliJ idea makes this the default runtime and bundles it now,  Android Studio does not, but easy enough to change.

BTW, might want to mention it in the README,  I can add a little to it for basic command line developers if that would be welcome.   Basically simple how to build from top-leve

[2021-05-27 16:45] christosts commented on #8954
The MediaCodecRenderers are calling MediaCodec methods synchronously on the playback thread. If this is the root cause of the problem then I can think of two ways working around it:
1. increasing the buffer in audio track
2. Use a custom MediaCodecAdapter that defers MediaCodec.release() to another thread. You need to pass a custom MediaCodecAdapter.Factory in MediaCodecAudioRenderer constructor w

[2021-05-27 16:56] EduardAblekimov commented on #8941
I am pretty confident that it doesn't have CRLF at the end.

But for additional information, I logged the bytes I am receiving. There are 700 bytes, but I will include last 10 of them.
`114 111 108 58 118 105 100 101 111 10`. There is LF, but no CR.

Probably have to use `dataInputStream.read()` instead and then also check for -1 as EOF signal besides checking for CRLF

[2021-05-27 17:13] christosts commented on #8913
Some background (copied from this [comment](https://github.com/google/ExoPlayer/issues/8671#issuecomment-790381298)):

Starting playback at `17000` as your snippet above, it did take time on my tests (2-4 seconds to start playback). The file that we received is compressed quite well, which as a result does not have frequent key frames (to reduce file size). The player needs to perform 2 HTTP reque

[2021-05-27 17:23] icbaker commented on #8988
Thanks for the link to the test content. Unfortunately when I try and play it I get an HTTP 500 error from your license server:
[code]

We currently expect that `codecs` field in the manifest to contain `stpp.ttml.im1t` (yours contains `dfxp`).

I'm struggling to find information on the difference - and so I'm not sure what ExoPlayer should do with a track with `codecs="dfxp"` - can we just treat

[2021-05-27 18:03] ojw28 commented on #8776
This should be fixed by the commit referenced above. We'll get it into 2.14.1.

[2021-05-27 18:03] ojw28 commented on #8985
This should be fixed by the commit referenced above. We'll get it into 2.14.1.

[2021-05-27 20:06] EduardAblekimov commented on #8941
I advanced a little bit, changed DESCRIBE parser so it splits by LF instead of CRLF, but now it crashes on `SessionDescription.Builder.build()`, because there is no session name. Now, I am not particularly good with RTSP, so I can't tell if this parameter is really mandatory, but just for the sake of testing, I am sending you the DESCRIBE lines I am receiving.

[code]

[2021-05-27 20:25] youi-support-team opened #8991 "ExoPlayerImplInternal: Renderer error"
This issue seems to be specific to Android Samsung A10 mobile phones. This occurs on an app that has ExoPlayer integrated but I have found the same crash to occur in the ExoPlayer Demo App whenever I try to play UHD content. Originally found in version 2.11.7 but reproduced in 2.14.0. Whenever the player is supposed to be instantiated it will crash with this message in the logs:

[code]

I know th

[2021-05-28 01:04] #8886 closed, assigned to kim-vde

[2021-05-28 06:25] vkoehler commented on #8988
DFXP is actually the first version of TTML -> TTML1. I'm not sure what is the difference to the newer TTML format, but here you can find the specification:
https://www.w3.org/TR/ttml1/#profiles

I found an old issue regarding DFXP support for SmoothStreaming. So it seems that ExoPlayer supports this TTML profile in SmoothStreaming streams: #4824.

The problem of the test content is that it's only

[2021-05-28 08:25] kirin233x commented on #8986
Thanks for your reply. Many tests have shown that CODEC is the main factor affecting CMA occupancy.  If you use hard coding, you may use this part of memory.
Next I'm going to use the soft decoding capabilities provided in ExoPlayer to do video parsing and take a look at the CMA memory footprint.  Thanks.

[2021-05-28 09:45] zhhach123 commented on #8867
private void createNewPlayer() {
        LogUtils.e("MusicService", "createNewPlayer");
        DefaultBandwidthMeter defaultBandwidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory();
        TrackSelector trackSelector =
                new DefaultTrackSelector(videoTrackSelectionFactory);
        RenderersFactor

[2021-05-28 11:04] abayomiAkanji commented on #8473
I had a similar issue on Native development (Kotlin, not Flutter).

For some reasons, calling `videoView.player?.release()` before initializing `videoView.player = SimpleExoPlayer.Builder(context).build()` fixed the issue (despite releasing resources in the `onDestroy` and `onDestroyView` of the Activity and Fragment respectively.

The implementation seems to check if a `player` exists and release

[2021-05-28 14:54] joehy commented on #6168
same issue here ,Does anyone have any update on this?
Failed to initialize decoder: OMX.qcom.video.decoder.mpeg4

[2021-05-28 15:31] benyaminbeyzaie commented on #8473
I have similar issue with samsung A50

[2021-05-28 17:10] lwld commented on #8261
We also noticed an issue with flac on some customer devices with decoder `OMX.qti.audio.decoder.flac`.
Probably the same problem, otherwise let me know to create a new ticket.

We managed to reproduce it on a Sony Xperia XZ1. ExoPlayer cosistently fails with a `com.google.android.exoplayer2.ExoPlaybackException`, caused by `com.google.android.exoplayer2.mediacodec.MediaCodecDecoderException` when

[2021-05-28 17:49] cncb-gh commented on #6225
Does this change in 2.14.0 have anything to do with this?

`Allow fall back from DTS-HD to DTS when playing via passthrough.`

[2021-05-28 17:50] troys-code opened #8992 "Video plays with a green bar below the bottom of the video"
Video URI: https://mobile-plugins-demo-files.s3.eu-central-1.amazonaws.com/mp4/pad.mp4

### Expected behaviour

Video plays with no green bars shown.
For example, like this in Chrome - see [Screenshot_chrome](https://user-images.githubusercontent.com/13446008/120022802-373f9400-bfed-11eb-8903-f2ceb0bfb9b7.jpg).

### Actual behaviour

Video plays with a green bar below the bottom of the video.
See

[2021-05-29 11:03] kirin233x commented on #8986
After many trials.  I found that one of the major factors affecting CMA memory requests was passing in KEY_MAX_WIDTH and KEY_MAX_HEIGHT when setting the mediaCode.

About these two attributes, the introduction on the official website is that：
Specify both KEY_MAX_WIDTH and KEY_MAX_HEIGHT to enable adaptive playback (seamless resolution change) for a video decoder that supports it (MediaCodecInfo.C

[2021-05-29 17:56] ThorAsgardDev opened #8993 "Make FrameworkMediaDrm more easy to customize"
### [REQUIRED] Use case description
I'm trying to play a very exotic drm protected smoothstreaming format. To play correctly this format, I need to customize the initData used in the "getKeyRequest" method of the FrameworkMediaDrm class.
To solve this problem, I had to copy the entire FrameworkMediaDrm class content to a another "CustomFrameworkMediaDrm" class to modify the code.

The entire copy

[2021-05-29 19:22] warren-bank opened #8994 "[r2.14.0, rtsp library] setting repeat mode causes fatal error, resulting in force close"
<details>
  <summary>logcat errors:</summary>

[code]
</details>

- - - -

__quick trace through code to find cause:__

* method: [RtpDataLoadable.setTimestamp](https://github.com/google/ExoPlayer/blob/r2.14.0/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtpDataLoadable.java#L109)
[code]
* method: [RtpDataLoadable.load](https://github.com/google/ExoPlayer/blob/r2.14.0/libra

[2021-05-30 13:40] khsuzan opened #8995 "Notification not showing on real devices but showing in emulator"
I am using the builder class to show the notification when playing audio but its showing in the emulator but not showing `on` real devices

[code]

What I am missing or am I not going correct!

[2021-05-31 01:04] #8887 closed, assigned to kim-vde

[2021-05-31 06:36] avilliwesley opened #8996 "Dolby Vision videos can not be extracted correctly"
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-05-31 07:13] avilliwesley commented on #8996
- Clear reproduction steps including observed and expected behavior

1.Push Dolby Vision videos to device;
2.Open Photos to play Dolby Vision videos;
3.Dolby Vision Profile 8 and Profile 9 will not be played sometimes.
OBSERVED RESULTS: Profile 8 or Profile 9 video can not be played.
EXPECTED RESULTS:Profile 8 and Profile 9 can be played.

- Output of running "adb bugreport" in the console shortly

[2021-05-31 07:18] avilliwesley commented on #8996
We created a case to google:  179633366, and google reply:
As Photos relies on the Explayer to support the video playback, it is not able to support the video format until they are supported by Exoplayer. Please feel free to open the issue to Exoplayer(github). The new format will be supported in Photos once it is available in Exoplayer.

[2021-05-31 07:37] avilliwesley commented on #8996
[bugreport-LenovoYT-K606F-RKQ1.201022.002-2021-02-08-01-59-18.zip](https://github.com/google/ExoPlayer/files/6568488/bugreport-LenovoYT-K606F-RKQ1.201022.002-2021-02-08-01-59-18.zip)

[2021-05-31 07:38] avilliwesley commented on #8996
https://user-images.githubusercontent.com/26531833/120158014-39d8fe00-c226-11eb-9cb7-6773dd088358.mp4

[2021-05-31 07:53] krishnarama opened #8997 "Smooth Streaming: Peak bit rate field is empty but average bit rate field has the bitrate value"
Hi, we are trying to retrieve peak and average bit rates separately when they exist in the stream. When playing smooth streaming content we are receiving peak bit rate as empty and average bit rate field with valid value. However, as per the manifest and SS protocol there is no avg bandwidth/bitrate field but only Bitrate is present.

**Steps to reproduce:**
Use the exoplayer sample app and play t

[2021-05-31 09:30] isaacchiang-kkstream opened #8998 "Can't player WideVine DRM streaming on OS 11"
## Question
I'm trying to player CGMS_NEVER(disable analog) protected MPEG-DASH streaming, but get `android.media.MediaCodec$CryptoException: Required output protections are not active` error message. I'm testing with the android TV (ADT-3, android 11), and the output only support HDMI. If DRM server only request the CGMS_NONE which means don't care analog, the streaming can play well without any

[2021-05-31 14:48] Tolriq commented on #8946
@krocard Anything more needed?

[2021-05-31 15:04] mmk909 opened #8999 "HttpDataSource$InvalidResponseCodeException: Response code: 403"
[code]

[2021-05-31 17:39] marcbaechinger commented on #8999
Please refer to other sites on the net to find out what HTTP 403 is: https://en.wikipedia.org/wiki/HTTP_403

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplaye

[2021-05-31 17:50] marcbaechinger commented on #8995
Do you think it may be a difference in API versions when you compare this on real device and emulator?

Please check that you are comparing device and emulator with the same OS version. If you still see a difference, please let us know detailed information about what device/OS and emulator/OS you are using. You need to provide more information and context than the snippet above.

If you still thin

[2021-05-31 17:54] marcbaechinger commented on #8991
Can you provide us with a sample uri to the content so we can look into this?

[2021-05-31 18:09] marcbaechinger commented on #8986
That's what I meant when I say that the Format which ExoPlayer reports determines the amount of memory reserved by the codec. If the maximum resolution is higher the codec needs to reserve more memory even if that is not used when a smaller resolution is chosen by the adaptive algorithm.

It may be that media player sets another maximum cap than ExoPlayer for the video. Then the codec internally r

[2021-05-31 20:00] rajinikanth0602 commented on #8898
@tonihei I am facing an issue with 2.14.0 related to blocking the formats using `canSelectFormat`.

Our test hls video has `256p`, `640p`, `1280p` and `1920p` (Url : https://cph-msl.akamaized.net/hls/live/2000341/test/master.m3u8), I am trying to achieve the seamless trackselection with custom adaptive track selection class overriding `canSelectFormat` and `evaluateQueueSize`.

In case of Adaptive

[2021-05-31 23:22] tanhan opened #9000 "Adaptive Streaming Problem with my MPD Schema"
Hi,

Player only plays one video profile and adaptive streaming (switching to other profiles) does not work with manifest below. What might be the reason?

[code]

[2021-06-01 01:04] #8895 closed, assigned to icbaker

[2021-06-01 02:59] Michael-Lee-CN commented on #8999
After some study, I found it was caused by using out-dated cached content for m3u8 content is Simple Cache, ie the playlist with access control params for each url, in a scenario that if all medias within m3u8 list is not totally cached, then next time will reuse url in the cached m3u8 file, which could be out-dated and cause 403 error, so is there a way to not caching .m3u8 list but still caching

[2021-06-01 06:02] rajinikanth0602 opened #9001 "canSelectFormat is not working as expected in 2.14.0"
I am facing an issue with 2.14.0 related to blocking the formats using `canSelectFormat`.

Our test hls video has `256p`, `640p`, `1280p` and `1920p` (Url : https://cph-msl.akamaized.net/hls/live/2000341/test/master.m3u8), I am trying to achieve the seamless trackselection with custom adaptive track selection class overriding `canSelectFormat` and `evaluateQueueSize`.

In case of Adaptive selectio

[2021-06-01 06:51] claincly commented on #8994
Hello there, can you also post the RTSP messages? You can print the messages by following this simple step
https://github.com/google/ExoPlayer/pull/3854#issuecomment-841167938

[2021-06-01 07:05] sruditsky commented on #8954
@icbaker @krocard @christosts

Just to exclude the possibility that this problem is specific to our device I tested this on a 4K FireTv stick and observed exactly the same issue. Unfortunately FireTv does not seem to support EAC-3 and I cannot find any "public domain" AC-3 stream, so I only could test this with a proprietary AC-3 stream.

I looked a little deeper in what is going on and wanted to

[2021-06-01 07:05] dilip-jaiswal commented on #8973
what do you mean by problematic media? do you want the URL that is am trying to play and cast?
it's .m3u8 extension URL i.e. not casting to receiver device.

video is not playing in cast receiver device. and on the sender device getting like No media selected on click of cast button.

[2021-06-01 07:59] #8999 closed, assigned to marcbaechinger

[2021-06-01 08:00] mmk909 commented on #8999
solved by customizing source code

[2021-06-01 08:48] icbaker commented on #8993
The ExoPlayer DRM classes are already pretty complicated and sometimes hard to reason about imo - introducing more points where classes can be overridden will make this worse, so I'm inclined to try and find an alternative approach than making `FrameworkMediaDrm` non-final.

Are you able to make the same customisations by mutating the `List<SchemeData>` passed to `getKeyRequest()` instead? Then yo

[2021-06-01 09:14] claincly commented on #8941
So there are two things:

1. According to the byte you posted, the last three chars are `'e'`, `'o'`, and a LF `'\n'` (that match the DESCRIBE response you posted in the second comment), indeed the receiver will freeze if it's constantly looking for CRLF. I'll see what we can do on our side.

2. The SDP (RFC2327) requires a session name (under a `s=` tag). I can see that the tool attribute in the

[2021-06-01 09:19] icbaker commented on #8988
Ah sorry I wasn't clear - I understand that DFXP is another name for TTML - but my question is really around the DASH spec and the `codecs` attribute of the `AdaptiatonSet` node in the XML.

I tried playing the clear manifest you provided (thanks!) with both the [Shaka player demo](https://shaka-player-demo.appspot.com/demo/#build=uncompiled) and [dash.js](https://reference.dashif.org/dash.js/v3.2

[2021-06-01 09:22] claincly commented on #8941
Another thing that pops to my mind,

You said in one of the comments that you received over 700 bytes, but the Content-Length header you posted is only 303 bytes long. Are they the same media?

[2021-06-01 09:57] icbaker commented on #8998
Can you please provide links to manifests with both CGMS_NEVER and CGMS_NONE so that we can reproduce the problem and also see the working content?

This is just a guess, but I wonder if CGMS_NEVER prevents PCM (i.e. decoded) audio from passing over HDMI, but passing through DRM'd encoded audio won't work either because the receiving device won't be able to decrypt it. That would explain why disab

[2021-06-01 09:59] EduardAblekimov commented on #8941
I was wrong, it equals to content length.

I don't have an exact access to the server, since my server is my client's camera, but i notified my client about it. meanwhile, I will probably drop the session name or assign some  arbitrary value

[2021-06-01 10:28] isaacchiang-kkstream commented on #8998
Hi @icbaker

Thanks for your reply. The links to manifest as below:
`https://s3-ap-northeast-1.amazonaws.com/smt-theater/theater/exoplayer/drm/1540806115_dash.mpd`
In my test, I always use this manifest. Only switch the setting of DRM license server (CGMS_NEVER <=> CGMS_NONE).
I'm not sure, is that limitation depends on streaming itself? My understanding is the streaming will request DRM limitatio

[2021-06-01 10:29] andrewlewis commented on #8990
If you can reproduce some of these exceptions reliably, please share a minimal reproducible sample and then we can share it with the relevant device OEMs so they can figure out what's going on.

I had a look through the provide logcat/bug reports. Unfortunately the error logging is not very helpful but a few things stood out:
- In all cases the codecs string is for H.264/AVC High profile (`avc1.64

[2021-06-01 10:33] andrewlewis commented on #8997
Are you certain the value in the manifest is a peak bitrate and if so could you give a reference for this? Looking at the SS specification linked [here](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-sstr/8383f27f-7efe-4c60-832a-387274457251), I see "Bitrate (variable): The average bandwidth that is consumed by the track, in bits per second (bps)." so the current behavior seems co

[2021-06-01 11:01] marcbaechinger commented on #8992
I can repro this only with the ExoPlayer GL demo app on a real device (Pixel/Android 10 and Pixel 4/Android S). With emulators (Pixel XL/API 30 and Galaxy Nexus/API 30) the video is rendered correctly with the ExoPlayer GL demo app as well as with the normal demo app.

Can you confirm you are seeing this on the GL demo app only?

I think we need to look into this anyways and see why the ExoPlayer

[2021-06-01 11:12] marcbaechinger commented on #8987
I think the problem is that some devices do not let you instantiate multiple decoder instances of the same type. Like your experiment confirms, playing a second video in parallel that requires the same decoder instance makes the app break.

Looks like you need to do that to avoid a crash on some devices? While I appreciate that you probably do not want this it is required to avoid the crash in the

[2021-06-01 11:38] yoobi opened #9002 "ACCESS_NETWORK_STATE crash 2.13.3"
I'm getting report from Crashlytics that some user are having crashes the stacktrace is as shown below:

[code]

[code]

[code]

My manifest permission::
[code]

The crash happened on
- ExoPlayer: 2.13.3
- Android version: 11
- Android device: Samsung Galaxy S20 FE 5G
- Rooted: no

[2021-06-01 11:41] ojw28 commented on #8986
I'm a bit confused by this issue.

@kirin521 - Is your use case to play _non-adaptive_ content? If so, are the values passed using `KEY_MAX_HEIGHT` and `KEY_MAX_WIDTH` the same values as those passed using `KEY_HEIGHT` and `KEY_WIDTH`, and is that alone sufficient to cause additional memory to be allocated?

If that's the case then we should consider _not_ setting `KEY_MAX_HEIGHT` and `KEY_MAX_WID

[2021-06-01 11:50] kirin233x commented on #8986
Hi, thank you for your attention.  Yes, the KEY_HEIGHT/WIDTH passed to mediaCodec in ExoPlayer is currently set to the same value as the KEY_MAX_HEIGHT/WIDTH.  I'm going to take those two values out, and I don't see any playback problems, and the video cache and all that stuff is working, right.

It is difficult to grab the CMA memory on traditional devices. The problem was a CMA exception on the

[2021-06-01 12:03] DharamMaz opened #9003 "Exoplayer playback error(com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors could read the stream) while trying to play mp4 video"
Hi ,we are trying to play mp4 video with exoplayer (version 2.14.0 and 2.12.2) and getting below exoplayer error only on single device SamSung S9 (Android 10). While its playing fine on other devices with same or other android versions.

**Error: E/ExoPlayerImplInternal: Playback error
com.google.android.exoplayer2.ExoPlaybackException: Source error**
at com.google.android.exoplayer2.ExoPlayerImpl

[2021-06-01 12:12] andrewlewis commented on #9003
Normally `UnrecognizedInputFormatException`s are not device-specific, as the extractors are part of ExoPlayer. Maybe a different stream is being served to this device, or there's a problem with what data is being loaded.

Do you see the same error when [playing the same stream in the demo app](https://exoplayer.dev/demo-application.html)? Is so, please also provide a link to the media that you are

[2021-06-01 12:21] vkoehler commented on #8988
mimeType of these subtitles in the manifest is application/mp4. According to DASH-IF-IOP it's Timed Text with ISO BMFF encapsulation. Indeed these files can be parsed with an mp4 parser. You can see mdat boxes containing the actual TTML-XML:
![image](https://user-images.githubusercontent.com/68728774/120322351-9b5fa200-c2e4-11eb-88f8-f20652202a6d.png)

[2021-06-01 12:21] andrewlewis commented on #9002
Do you have any other parts of the stack trace message apart from what's included above? In particular I was wondering if there is a line starting like `AndroidRuntime: Caused by: java.lang.SecurityException:`. [Internal: b/155549446] looks similar.

[2021-06-01 12:23] yoobi commented on #9002
Yes Indeed, i thought it was irrelevant as it wasn't on exoplayer library, I'll update my post. The order I display in my post is the same order I get from Crashlytics

[2021-06-01 12:41] Turalllb commented on #8987
@marcbaechinger,

We use a self-written adsdk, not a third-party solution, and yes, it's bad that this is a separate player, but I know why this decision was made.

Yes, I do not want the release of the player and I just catch an exception, wait for the ad to end and do prepare () on a new one. As a result, I am not a release player. I guessed before that after I realized that on some devices ther

[2021-06-01 12:59] icbaker commented on #8867
It looks like you're trying to use the FLAC extension, based on this line (since `DefaultRenderersFactory.EXTENSION_RENDERER_MODE_ON = 1`):
[code]

Have you built & depended on the FLAC extension as described here?
https://github.com/google/ExoPlayer/tree/release-v2/extensions/flac

You'll need something like `implementation project(':exoplayer-decoder-flac')` in the dependencies section of your `

[2021-06-01 13:14] icbaker commented on #8998
Sorry I should have been more clear that I need to be able to play the content, so I also need the DRM license URL.
If you don't want to post that here you can send it to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

Is it possible to configure two different

[2021-06-01 15:00] menscikov commented on #8292
@christosts

Thank you for writing about the fix. But they made a mistake. They wrote header name as "Refere", without "r", that's why it's not working anyway.

`
public void testCustomReferer() throws Exception {
TestUrlRequestCallback callback = new TestUrlRequestCallback();
String refererName = "Refere";
String refererValue = "Referer-Value";
UrlRequest.Builder builder = mTestFramework.mCronetE

[2021-06-01 15:13] icbaker commented on #8292
Good spot - I've commented on the commit pointing that out.

[2021-06-01 15:18] Danstahrg commented on #8292
The typo was fixed in https://crrev.com/c/2887329.

[2021-06-01 15:54] ThorAsgardDev commented on #8993
Unfortunately the customization is too specific, so I will keep the FrameworkMediaDrm copy.
Thanks for your support.

[2021-06-01 16:22] ojw28 commented on #8261
It looks like we're already aware that this particular decoder doesn't work well on older devices:

https://github.com/google/ExoPlayer/blob/r2.14.0/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java#L583

If you're seeing errors where this decoder is being used on older devices, that implies the device doesn't have another FLAC decoder that can be used instead

[2021-06-01 16:42] icbaker commented on #8988
The [DASH-IF-IOP v3.0](https://dashif.org/docs/DASH-IF-IOP-v3.0.pdf#page=117) doc mentions:

And it doesn't seem to mention `dfxp` anywhere as far as I can see.

I found that MP4Box also doesn't recognise the `dfxp` box type in these MP4 files when extracting the content (it does extract the content successfully):
[code]
----

So I agree that the files are MP4 and contain valid TTML, but I'm not c

[2021-06-01 17:15] andrewlewis commented on #6225
292700e93beb9cf0d635948817b00f1b0ae4d4fd doesn't directly address this (`MatroskaExtractor` still doesn't create a DTS-HD track).

[2021-06-01 18:56] ipichkov opened #9004 "HLS Widevine key rotation does not work in case media playlist has multiple init segments (EXT-X-MAP HLS tags)"
In case HLS media playlist contains multiple init segments (when Widevine key rotation is enabled), keyId from the first segment is being used for all segments, even for those coming after subsequent EXT-X-KEY/EXT-X-MAP HLS tags:

[code]

This triggers Widevine CDM decrypt error after a new init segment gets fetched and attempted to be used as player continues reusing FragmentedMp4Extractor instan

[2021-06-01 19:00] ojw28 commented on #8986
@christosts - This seems like a `MediaCodec` question to follow up with the framework team about, probably using an internal bug.

It's unclear why memory allocation would be higher. It might be a platform specific issue, but there may also be a legitimate reason why the underlying implementation would need to do that (e.g., having to allocate a larger number of buffers in anticipation of possible

[2021-06-02 00:14] mpalczew opened #9005 "SurfaceHolder callback throws when using SimpleExoPlayer from a background thread"
This is related to
https://github.com/google/ExoPlayer/issues/8843

I create an exo player instance like this.

[code]

later I add some media items and set the surface
[code]
I also tried just setting the surfaceView, but that gives the same results.

when detached from window
[code]

Then I see a stack traces, e.g.
[code]

From the previous bug it looks like because the window of the Surface vie

[2021-06-02 00:19] warren-bank commented on #8994
I must be slow.. that doesn't look simple to me :frowning_face:

[Here](https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/blob/v2.0.22/android-studio-project/ExoPlayer-AirPlay-Receiver/src/main/java/com/github/warren_bank/exoplayer_airplay_receiver/exoplayer2/PlayerManager.java#L997) is where the `RtspMediaSource` is initialized. The following code removes all of the app's complexi

[2021-06-02 05:18] isaacchiang-kkstream commented on #8998
@icbaker
Sorry I didn't understand what you mean before. I have sent a letter to the designated mailbox with the location of the DRM license server, and how to use the parameters. Thank you for your assistance.

[2021-06-02 05:35] warren-bank commented on #8994
[code]

* I made a minimal barebones app to run the code in the previous comment, and (to my surprise) it works correctly
  - [code](https://github.com/warren-bank/Android-ExoPlayer-demos/blob/r2.14.0.000/4-rtsp-barebones/src/main/java/com/google/android/exoplayer2/rtspdemo/MainActivity.java#L89)
  - [apk](https://github.com/warren-bank/Android-ExoPlayer-demos/releases/tag/r2.14.0.000)
* so I need

[2021-06-02 07:47] andrewlewis commented on #9005
Have you tried using the player from the main thread as suggested at https://exoplayer.dev/hello-world.html#a-note-on-threading? If that's not feasible for your use case, it would be interesting to have more details on why you need `video player thread`.

Based on the stack trace the `SurfaceHolder` callbacks are arriving on the main thread but `SimpleExoPlayer` expects all callbacks to use your b

[2021-06-02 08:17] HyowonHwang opened #9006 "Question for AsynchronousBufferQueueing"
Hi

I've recently met a log of codec exception like below.
Firstly, do you have any estimated reasons for this?

[code]

Then I've found that `ExoPlayer` supports features of async queueing,  when using `MediaCodecRenderer` like `experimentalSetAsynchronousBufferQueueingEnabled` or `experimentalSetSynchronizeCodecInteractionsWithQueueingEnabled`

I just think that the features could be helpful to

[2021-06-02 09:07] claincly commented on #8994
Sorry I meant the instructions to add the logs to see the actual exchanged RTSP messages.

To start, could you try plugging your link to any of RTSP links in
https://github.com/google/ExoPlayer/blob/d5d78238773d6dc53b54849ca10d845a4421284c/demos/main/src/main/assets/media.exolist.json
(just change any one uri, to "rtsp://..."), build the demo app, and see if it plays?

I can verify the link `rtsp:

[2021-06-02 09:11] icbaker commented on #8842
This is fixed by the commits referenced above - i'm hoping to include them in the 2.14.1 release.

[2021-06-02 09:11] #8842 closed, assigned to icbaker

[2021-06-02 09:17] warren-bank commented on #8994
Well..
* the barebones app (above) proves that the RTSP library works..
* the weird thing is.. I'm walking through my app with the debugger and everything looks good.. but
  - the PlayerView is black (though the progress/seek bar shows the correct length of the video)
  - the same logcat error occurs
  - ExoPlayer times out and forces closed
* the only difference between the two (that I can think

[2021-06-02 09:35] claincly commented on #8994
Could you try building the player with a `MediaSource.Factory` instead of constructing a media source directly?

I.e., build your player using

[code]

And call `player.setMediaItems()` to set your `MediaItem`.

[2021-06-02 09:38] warren-bank commented on #8994
yep..
* that's exactly what the problem is

this does work:
* play an HLS video
* add the RTSP video to the queue
* click next (HLS -> RTSP)
* can prev/next back and forth between the two

this does __not__ work:
* play the RTSP video
  - because doing so causes the flow (using pseudo code):
    * playWhenReady(false)
    * await concatenatingMediaSource.clear()
    * await concatenatingMediaSourc

[2021-06-02 09:41] warren-bank commented on #8994
that flow must prevent `dataLoadable.load()` from getting called

I don't know the internals, but when playWhenReady(true) is called and the RTSP stream begins to play.. it hasn't been called.. and results in a NullPointerException (as described above)

However, when the RTSP MediaSource is in a concatenatingMediaSource that's already playing (ie: playWhenReady is true) and it becomes the active i

[2021-06-02 09:45] warren-bank commented on #8994
I'll make a version of the barebones app to illustrate this flow.. which should result in the same force close behavior. A tiny app would describe the problem better than I can with words..

[2021-06-02 09:48] tanhan commented on #9000
The reason was setting max bitrate :)

[2021-06-02 09:48] #9000 closed, assigned to andrewlewis

[2021-06-02 09:49] andrewlewis commented on #9006
Unfortunately there generally isn't much diagnostic information in the stack trace for exceptions thrown by `MediaCodec`. If you look at the logcat output just before `MediaCodec` throws or check in the kernel logs you can sometimes see a more descriptive error logged by a lower-level component. In the past when we've seen such errors the explanations included things like: the device running out o

[2021-06-02 09:49] minhkstn opened #9007 "How replace a frame by a bitmap file on TextureView before playout"
I created a TextureView to display ExoPlayer instance. The function `onSurfaceTextureUpdated` will be called whenever a new frame is available. In this function, I can access the frame in `bitmap` type from `textureView.getBitmap()` as follows

[code]

I want to modify the 100th frame in `getModifiedFrame(Bitmap bmp)` that returns another bitmap file, namely `modifiedFame` and ExoPlayer plays `mod

[2021-06-02 10:16] christosts commented on #8986
internal ref: b/189918386

[2021-06-02 10:25] icbaker commented on #9004
Have you configured multi-session DRM support as described here? https://exoplayer.dev/drm.html#key-rotation You shouldn't need a whole new `Extractor` when the keys change, only the `DrmSession` needs to be swapped out (while keeping the same `SampleQueue`, `Renderer` and `MediaCodec` etc). Without multi-session support enabled the same `DrmSession` is used even when the `drmInitData` changes - s

[2021-06-02 10:32] troys-code commented on #8992
I can confirm this only happens in the GL demo app.

We're using `ExoPlayer.setVideoSurface` to play videos inside a game engine, so I think Open GL rendering is required in our specific case.

[2021-06-02 10:44] christosts commented on #9006
As @andrewlewis mentioned, the provided stack trace is not providing enough information and we'd need more information from the logcat output.

Ii is not straightforward that the error you observe is fixed by operating MediaCodec in asynchronous mode. Can you share more information on this? Is this exception raised always when you play video with synchronous mode and does the asynchronous mode fix

[2021-06-02 10:44] aasitnikov commented on #8645
@marcbaechinger I have somewhat similar problem. In my app I have two components. First is "player", which accepts `MediaSources` with `CacheDataSource` in it. When this player is asked to play some new media, it fetches data via `HttpDataSource` and puts it in a `Cache`. Second is "downloader", which uses `Downloader` like `ProgressiveDownloader` or `HlsDownloader`, which require `CacheDataSource

[2021-06-02 10:50] avilliwesley commented on #8996
Hi，

I modified the logic of ` private static List<MediaCodecInfo> getDecoderInfos()`, and tested the dolby vision being played normally. The modified file will be uploaded:
[code]

[2021-06-02 10:54] avilliwesley commented on #8996
[MediaCodecVideoRenderer.txt](https://github.com/google/ExoPlayer/files/6583905/MediaCodecVideoRenderer.txt)

[2021-06-02 11:36] vkoehler commented on #8988
thanks, it's much clearer now. Not specified dfxp box is indeed strange.

I addressed both points to our content production team.

[2021-06-02 11:46] JiyongYang opened #9008 "Issue with wrap_content in ExoPlayerView. ExoPlayerView height remain 0 at run-time if it set to wrap_content"
[Condition]
 - video url only available

The title of this issue was on Stack Overflow but there was no answer.

I was trying to set exoplayers to recyclerview with multiple media source.

Automatic video playback takes up space appropriately. Also, if the height value is given as an absolute value, thumbnail can be seen through the "use_artwork" option even if no replay is made('But it's not fit

[2021-06-02 12:42] andrewlewis commented on #9005
Discussed with @icbaker he's kindly said he will document the limitation here.

I think it would also be feasible to "fix" this by posting back to the application thread when the surface callbacks are received on the main thread in `SimpleExoPlayer`. This is non-trivial as the call to remove the surface from the renderer needs to block the surface callback.

As per my previous message, for now I'd

[2021-06-02 12:53] andrewlewis commented on #9007
This use case is quite custom so I'm afraid we can't spend time giving detailed support. For what it's worth: I suspect that by the time `onSurfaceTextureUpdated` has been called it's too late to "intercept" the frame you want to replace (it may be shown to the user), and I'm also not sure that it's possible to render to the same texture as the codec. If you don't need perfect timing you could do

[2021-06-02 12:53] #9007 closed, assigned to andrewlewis

[2021-06-02 12:55] tdc-w commented on #2882
@stevemayhew

I have a similar issue.
Did this approach work?

[2021-06-02 13:21] kyrylzotov opened #9009 "RTMP playback error connection lost"
There is a problem with rtmp stream from mac camera.
During the stream it says error `-14` that is means connection lost.
But the same code is working with mobile stream.

Library version
2.14.0

 internalError [eventTime=105.48, mediaPos=0.00, window=0, period=0, loadError
      net.butterflytv.rtmp_client.RtmpClient$RtmpIOException: RTMP error: -14
        at net.butterflytv.rtmp_client.RtmpClie

[2021-06-02 13:22] kyrylzotov commented on #9009
And in VLC player that stream is playable

[2021-06-02 13:45] EduardAblekimov commented on #8941
@claincly There is one more thing. As you can see in my SDP, there is no `profile-level-id` in `fmtp` attribute, which is strictly required in exoplayer. Referring to RFC6184:
[code]
But even better solution would be to parse it from `sprop-parameter-sets`. If you decode my `sprop-parameter-sets` to hexa, you will get `67 4d 00 2a 96 35 40 f0 04 4f cb 37 01 01 01 02`, where `4d 00 2a` is actually

[2021-06-02 14:12] andrewlewis commented on #9008
If you are trying to set the height of the player view such that it matches the shape of the video but without actually loading the video I don't think there is a way to do that. You can `pause()` the player before preparing it if you want to load the media (and acquire resources for buffering and decoders) but not actually start playback. I'm not sure I follow the question though, so perhaps you

[2021-06-02 15:55] claincly commented on #8941
@k1llrogg Thanks for pointing out. Could you post another issue on the `profile-level-id` though, it is out of this issue's scope.

As for the CRLF line terminator thing, we are working on a solution.

[2021-06-02 16:55] khsuzan commented on #8995
Finally notification show up and that was a mistake to add a channel to the notification builder
My final code with fix are
[code]

[2021-06-02 16:55] #8995 closed, assigned to marcbaechinger

[2021-06-02 17:02] andrewlewis commented on #9009
I don't think there's enough information here for this to be actionable for us. ExoPlayer is surfacing an error from within librtmp so you could report it at https://github.com/ant-media/LibRtmp-Client-for-Android (and they will probably need some instructions to reproduce the issue).

[2021-06-02 17:02] #9009 closed, assigned to andrewlewis

[2021-06-02 17:11] EduardAblekimov opened #9010 "RTSP: Parsing profile and level from SPS"
### [REQUIRED] Use case description
My RTSP server's SDP doesn't provide `profile-level-id`. According to RFC, it is not mandatory parameter and it can be parsed from `sprop-parameter-sets` (SPS) instead

### Proposed solution
If `sprop-parameter-sets` takes the following value - `67 4d 00 2a 96 35 40 f0 04 4f cb 37 01 01 01 02`, then `profile-level-id` hexa string would be `4d002a`.

[2021-06-02 17:14] JiyongYang commented on #9008
Thank you. It really helped. I think calling `pause()` is way more effective than using other lib.

[2021-06-02 17:14] #9008 closed, assigned to andrewlewis

[2021-06-02 17:22] youi-support-team commented on #8991
It should happen for any kind of content but I can look into getting a uri where this happens.

[2021-06-02 17:23] andrewlewis commented on #9010
@claincly Please take a look. I'd guess we can use `AvcConfig.parse(...)` to get the required information.

[2021-06-02 17:28] EduardAblekimov opened #9011 "RTSP H.264 playback artifacts"
I have a camera that lies on my local network. It streams using RTSP, H.264 Main Profile. When I play from the camera, the video is not loaded properly, only the upper part of it.

In `SampleQueue.format(Format)`, format's codecs is `avc1.4d002a`, which is H.264 Main Profile.

Unfortunately I cannot share URI of the media source, since its located on my local network.

[Screencast of the issue](ht

[2021-06-02 17:41] warren-bank commented on #8994
Sorry, I crashed at about 4:30am..

Quick update:
* I did make a barebones version that uses all the same hocus-pocus as the real app
  - it still worked
* Next, I'm going to attack this from the other end
  - test the real app by removing random features one at a time until the RTSP stream plays without crashing
  - I'll report back what I find..
    * no idea right now what it could be
    * may

[2021-06-02 18:16] ipichkov commented on #9004
Yes, multi-session DRM support was enabled when reproducing the issue.

I can see that on key rotation (when subsequent EXT-X-KEY HLS tag gets handled) new DRM session is created with new KID as a result of adjusting upstream format in `HlsSampleQueue.getAdjustedUpstreamFormat` API, while the queued samples continue to use the CryptoData/KID from the previous EXT-X-KEY tag as HlsMediaChunk skips l

[2021-06-02 18:25] mpalczew commented on #9005
I'm using exo player in a recycler video, it plays loops short clips of a larger video to which I will navigate when that short clip is tapped. When I tried doing everything on the main thread scrolling was janky.

Got it, so this is expected, and will be documented.

Thanks I was wondering why posting back to the thread wasn't working. Will try this.  I think it's just a matter of using a countdo

[2021-06-02 18:45] andrewlewis commented on #8992
It looks like this is caused by not applying the transformation matrix from [`SurfaceTexture.getTransformMatrix`](https://developer.android.com/reference/android/graphics/SurfaceTexture#getTransformMatrix(float[])).

[2021-06-02 19:23] ipichkov commented on #9004
The asset info to reproduce the problem has been sent to dev.exoplayer@gmail.com

[2021-06-02 20:12] warren-bank commented on #8994
[Bam!](https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/commit/bbff6d3a59b990da63b3368595a6df7d5ef86ba3)

OK, so the problem was this line:
[code]

* initialize the player with this line, and RTSP stream immediately causes a fatal error force closing the entire app
* comment it out, and the RTSP stream plays properly
* while the RTSP stream is playing:
  - if "repeat mode" is chan

[2021-06-02 21:08] warren-bank commented on #8994
I made a very minimal app to demonstrate the error:
* [code](https://github.com/warren-bank/Android-ExoPlayer-demos/blob/r2.14.0.001/5-rtsp-barebones-issue-8994/src/main/java/com/google/android/exoplayer2/rtspdemo_8994/MainActivity.java#L100)
* [apk](https://github.com/warren-bank/Android-ExoPlayer-demos/releases/tag/r2.14.0.001)

[2021-06-02 22:14] ojw28 commented on #8994
@claincly - Note that `RtspMediaSource` needs to support creation of multiple `RtspMediaPeriod` instances, whose lifespans may overlap.

I think it might be a good idea to move toward a loading model like `ProgressiveMediaSource`, where the `MediaSource` doesn't load anything during preparation. Preparation completes immediately with a placeholder timeline. When a `ProgressiveMediaPeriod` is creat

[2021-06-03 00:11] HyowonHwang commented on #9006
@andrewlewis

As you mentioned, this exception seems not to happen normally and I logged `EventListener.onPlayerError`, found a lot of logs for this. I will try to get the log you said and share it.

@christosts

I have been only using  synchronous mode using playing video and not tried the asynchronous mode yet.
So, all exception are with  synchronous mode.

## Version of ExoPlayer being used
`2.

[2021-06-03 07:03] trycatchx commented on #2159
any updates here?

[2021-06-03 08:02] andrewlewis commented on #9001
Please could you provide a minimal patch to the demo app so that we can reproduce this?

[2021-06-03 10:23] claincly commented on #9011
The SPS -> profile level fix should be in GH very shortly.

You did hard code the profile-level-id right? Without the source it'd be immensely difficult for us to know what's causing the issue. If the profile-level-id is set correctly, there are two possibilities that struct me

1. (unlikely) You are using RTP/UDP and many packets are dropped. You can take a look at the log, do you see anything li

[2021-06-03 10:56] ojw28 commented on #8989
Android Studio bundles JDK 11 as of 4.2.

[2021-06-03 11:16] EduardAblekimov commented on #9011
These are my local changes:

I set session name in session description to some arbitrary value

I split SDP lines by LF, not by CRLF

Server doesn't send rtp-info in the PLAY response. Since its livestream, I just hardcode it:
`@Nullable String rtpInfoString = "url=rtsp://192.168.1.114/videoMain/video;seq=0;rtptime=0";`

Hardcoded `profile-level-id`:
[code]

No logs, packetSequenceNumber = expecte

[2021-06-03 13:03] icbaker commented on #9004
Thanks for the link to the media, I was able to reproduce the problem.

I will investigate further.

[2021-06-03 13:57] ipichkov commented on #9004
Thanks for confirming.

[2021-06-03 14:08] claincly commented on #9011
Thanks!

For hardcoding RTP-Info though, ExoPlayer doesn't require a RTP-Info header, what's the reason of hardcoding it, maybe to force the extractor start from sequence number 0 and timestamp 0? That is unnecessary IMO.

The RTSP stream plays in the end, so there's no problem in RTSP setup. If there's no lost/out-of-order packet, RTP reception seems to be doing a good job also.

Could you try us

[2021-06-03 14:10] #9010 closed, assigned to claincly

[2021-06-03 15:27] alexgomes09 opened #9012 "Allow setting audio volume on a per-MediaSource basis"
I am working on a project which requires me to mix multiple media sources. While **MergingMediaSource** is capable to do the merging but I would also need a way to control volume for each media source.

audiosource1 + audiosource2 = mergemediasource1 **(volume 1.0)**
audiosource3 + audiosource4 + audiosource5 = mergemediasource2 **(volume 0.5)**

mergemediasource1 + mergemediasource2 = concatenati

[2021-06-03 15:42] andrewlewis commented on #9012
This is not supported currently I'm afraid.

You can probably implement this behavior on the app side by listening for position discontinuities (or changes in the current window index/media item) and setting the player volume accordingly based on the window index, but this approach doesn't let you set the volume at the precise moment the new item's content starts playing.

To get it to work "perfe

[2021-06-03 15:49] wangzhe890703 opened #9013 "ExoPlayer throws ExoPlaybackException when a live video ends."
ExoPlayer throws **ExoPlaybackException** when a live video ends.
Attached an error log
`E/ExoPlayerImplInternal: Playback error com.google.android.exoplayer2.ExoPlaybackException: Source error at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:554) at android.os.Handler.dispatchMessage(Handler.java:102) at android.os.Looper.loop(Looper.java:223) at and

[2021-06-03 15:58] andrewlewis commented on #9013
It looks like the 'playlist stuck' case only happens if `#EXT-X-ENDLIST` isn't present, but it is there in the snapshot you provided. Are you sure it's being added to the playlist soon enough to avoid the player detecting a stuck playlist? See also: https://github.com/google/ExoPlayer/blob/6e8af81/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/playlist/DefaultHlsPlaylistTracker

[2021-06-03 16:04] wangzhe890703 commented on #9013
@andrewlewis Thanks for your response! Is there an explicit requirement from the ExoPlayer side to define "how fast" the end tag should be added to the playlist?

[2021-06-03 16:09] andrewlewis commented on #9013
Just reading the code I linked to above, it looks like the error condition requires that the playlist hasn't changed for 3.5 * the target duration (by default).

@christosts can maybe confirm/correct me on this or provide further information.

[2021-06-03 16:22] jiangyurong609 commented on #9013
@andrewlewis thanks for the quick response, what's the timeout threshold for player to report playlist stuck? server may not know the content ended until user tells so, or there can be networking issue during live stream, therefore it's very common  #EXT-X-ENDLIST could miss in the playlist for a long time, which could lead suboptimal playback experience. But I think player could handle this bette

[2021-06-03 17:37] artroman opened #9014 "RTSP: app crash because of duplicated header from ip-camera"
There is non-catchable app chash when opening RTSP link from ip camera because of duplicated RTSP key "framerate".

[code]

Corresponding RTSP response is:
[code]

Player initialization:
[code]

Stream URL is not public available. I can do nothing with the camera, I couldn't find option to remove duplicated header.
Is there any way to filter RTSP headers before creating MediaDescription? Maybe any

[2021-06-03 18:09] andrewlewis commented on #9013
3.5 * target duration by default (please see my previous message).

I think the component that's generating the HLS stream needs to handle this case, for example by filling in media segments if there's nothing from upstream. For what it's worth I don't think we've seen this issue reported commonly on this tracker.

If you need to handle this case differently in the player, you could try customizin

[2021-06-03 18:09] #9013 closed, assigned to andrewlewis

[2021-06-03 19:39] greyski opened #9015 "Partially downloading MP4 format DownloadService"
I was reading the [issue here](https://github.com/google/ExoPlayer/issues/1497) and just wanted to confirm that partial downloading of MP4 is not supported in `DownloadService` or via `SimpleCache` APIs.

What I want to do is download 500 bytes (or X bytes) of an MP4 file via the `DownloadService` and then consider that download "complete". Currently I've written:

Inside my `DownloadService` clas

[2021-06-03 21:56] EduardAblekimov commented on #9011
Hmm, it's crashing without my hardcoded value.

This is the piece of code where it crashes. `trackUrisWithTiming` is empty:
[code]

On emulator its the same problem, except the 'black' area is [now green](https://i.imgur.com/yZ2bxgJ.png). There is also this log:
[code]

On my samsung there is no such log, but it also doesn't use `OMX.google.h264.decoder`, but `OMX.qcom.video.decoder.avc`

[2021-06-04 01:03] #8907 closed, assigned to christosts

[2021-06-04 04:21] parcool opened #9016 "How to stop a hls player？"
[code]

it can't stop whatever i do. I can hear the sound when back pressed. why???

[2021-06-04 05:47] parcool commented on #9016
`exoPlayer = SimpleExoPlayer.Builder(context).build()` ran more than once.

[2021-06-04 05:47] #9016 closed, assigned to andrewlewis

[2021-06-04 06:06] deprecated-fun opened #9017 "com.google.android.exoplayer2.ExoPlaybackException Caused by: java.lang.IllegalStateException"
ExoPlayer throws ExoPlaybackException when tries to prepare video for playing
Attached an error log
[code]

The bug is reproducible consistently.

Steps to reproduce:

Shoot a video on camera inside an app
Give created file to fragment with exoplayer

Works fine on android 10 on Samsung Galaxy A51 and Huawei Y8p

ExoPlayer version number: 2.7.3
Android version: 11
Android device: Samsung Galaxy A3

[2021-06-04 06:24] nebyan opened #9018 "Disable Ima Sdk PlaybackSpeed"
Hello Exo Team
I am using the Exoplayer Ima Sdk. I am changing the playback speed of exoplayer within the application. When Ima ads start playing, it plays with the playbackspeed I set last. Can we make the ad content play with default playback speed(1.0).

Exoplayer Version Number : Any Version
Android Devices: Any Android devices

[2021-06-04 08:57] andrewlewis commented on #9017
We need more information to investigate this. Please reproduce the issue with the ExoPlayer demo app then capture a full bug report. If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#1234" is replaced with your issue number). Please also

[2021-06-04 10:01] Clement-Jean commented on #8978
I need to say thank you to you 🙏 I didn't try the test yet, but my seek problem is gone.

for the others who have this problem, please take a look at `DefaultHttpDataSource`, you can easily remove the connection part and adapt it to your encrypted datasource.

[2021-06-04 10:29] claincly commented on #9014
The SDP does look off, no? Setting frame rate to `0S` and `25`. I'll add the code to make the error surface a bit better. However, it wouldn't change the overall behaviour, because the semantics of this problem is also unclear: do you keep (for the same key) the first value, or the last, or some one in between? In your case, it probably makes more sense to keep "25", but there's no clear cut.

The

[2021-06-04 11:30] claincly commented on #9011
The `ACodec` log is expected, no big deal.

I would try,

- To make sure no packet is lost, print out the sequence numbers of the H264 packets on L113 of `RtpH264Reader`
- Dump the received media using tools like [openRTSP](http://www.live555.com/openRTSP/) and check if it plays on ExoPlayer
- Just for sure, check if the video plays nicely with VLC.
- Dump a few (~100) RTP packet contents as hex s

[2021-06-04 11:48] artroman commented on #9014
I expect HashMap-like behaviour: new value with the same key replaces the previous one, so the last header value is kept.

Library shouldn't crash app because of uncatched exception. I can't validate all headers of any stream. Error should be handled via error listener, player should stop playing media.

I will try later to add submodule with modifications instead of library dependency.

[2021-06-04 11:51] #8985 closed, assigned to ojw28

[2021-06-04 11:51] andrewlewis commented on #8996
It looks like the effect of the change is that we never use a decoder advertising support for `video/dolby-vision` and instead we use an H.265 or H.264 decoder for the profiles that have compatible base layers. That doesn't sound like the correct fix -- if there is a Dolby Vision decoder on the device there must be cases where we'd prefer to use it. Is the root cause of the problem that there is a

[2021-06-04 11:51] #8804 closed, assigned to ojw28

[2021-06-04 11:54] ojw28 commented on #8935
Closing because I don't think there's anything actionable for us. As above, this can likely be avoided by locating the `Cues` element toward the beginning of the file. It is _possible_ for a player to support playback without the `Cues` element, albeit with inefficient or no seeking support. This is not something we're looking to support though.

[2021-06-04 11:54] #8935 closed, assigned to ojw28

[2021-06-04 11:54] #8977 closed, assigned to ojw28

[2021-06-04 11:55] #8776 closed, assigned to ojw28

[2021-06-04 12:01] EduardAblekimov commented on #9011
Aight, will try!

Already tried, its playing nicely in VLC.

[2021-06-04 12:17] NG-Gaurav opened #9019 "why streamKeys list always empty so due to this all track download we just want. to download on single track."
Actually, we are not using trackSelectionDialog to select a track. so. we have three types of quality (High, Low, and Medium). so we want to download the video according to these qualities selection. if the user selects Low quality then only the low quilty track should download and for high high-quality track should download.
for. this we use the below code: -

[code]

here is my code. please help

[2021-06-04 12:18] ojw28 commented on #4115
Apologies that this didn't ever receive attention. We do respond to the vast majority of issues filed, but occasionally one slips through the cracks.

I took a quick (retrospective) look at whether we received a full bug report, and if we did I can't find one, so I don't think there's anything actionable for us to do here. It's also possible that this was a device specific issue, in which case my

[2021-06-04 12:18] #4115 closed, assigned to ojw28

[2021-06-04 12:31] ojw28 commented on #9019
This seems to be a question about your application code, rather than about ExoPlayer. If I were you, I'd try looking at exactly what calls your code is making on the `DownloadHelper` for a given quality (e.g., "High"), and contrast those with exactly what calls the demo app makes on the `DownloadHelper` when you use its track selection dialog to select the high quality track. The calls being made

[2021-06-04 13:24] NG-Gaurav commented on #9019
We are not using the track selection dialog. so without track selection dialog how to select video quality. tracks

[2021-06-04 13:38] NG-Gaurav commented on #9019
[code]
[code]
also try both but not working

[2021-06-04 15:37] ojw28 commented on #9019
I know that you're not using `TrackSelectionDialog` from the demo app. My point is that the demo app contains this class, and that it allows for tracks to be selected successfully. If your code based solution were to make the same sequence of calls to the `DownloadHelper` as the `TrackSelectionDialog` makes in the demo app, then your code based solution would achieve the same end result.

If your

[2021-06-04 16:22] #8992 closed, assigned to andrewlewis

[2021-06-04 16:22] ojw28 commented on #8992
This should be fixed by the commit referenced above.

[2021-06-04 16:58] EduardAblekimov commented on #9011
Every sequence number == last sequence number + 1, so i guess no lost packets.

Dumped received media via ffmpeg to .mp4 file by invoking that
`ffmpeg -i rtsp://admin:12345@192.168.1.114/videoMain -vcodec copy -acodec copy -f mp4 -y video.mp4`.
Put it into assets and did a playback from it - all good, picture perfect.

As mentioned earlier, yes, all good.

First ~50 packets were throwing `IndexOut

[2021-06-04 17:31] stevemayhew commented on #8991
@marcbaechinger  I think you'll find many issues like this with the same signature, however, since the cause for the IllegalStateException is the handler thread died or some other reason the codec is not Executing state down in AV framework, there may be **many** causes.

1. Issue #7520 - @icbaker  was looking at this, they did not specify the device
2. Issue #4136 - again, not specific device so

[2021-06-04 17:59] greyski commented on #9015
Just to update (I'm sure ExoPlayer devs know), but stopping a download is **not** a way to limit the size of downloads and prevents the ExoPlayer from invoking playback changes on media that were stopped mid-download.

[2021-06-04 18:18] greyski commented on #9015
Just saw [this response](https://github.com/google/ExoPlayer/issues/8780#issuecomment-811787949) in another related question that was closed.

Apologies for making a new issue, thought maybe MP4 could be different. Closing as [duplicate of referenced issue](https://github.com/google/ExoPlayer/issues/1497).

[2021-06-04 18:18] #9015 closed, assigned to ojw28

[2021-06-04 20:31] rajinikanth0602 commented on #9001
@andrewlewis Please check the patch and screen recording attached below.

STR :
* Open HLS -> Apple 4x3 basice stream (TS) video.
* Select 256x106 resolution.

In this case, I am blocking all the formats except 256p in `canSelectFormat()`, but the player doesn't select the 256p format till we manually seek the play position. (seeked at 00:59 secs in the attached video)

[0001-canSelectFormat-is-no

[2021-06-05 07:01] JiyongYang opened #9020 "FMQ error occurs when loading the Excoplayer multiple times in the Recycler view."
FMQ error occurs when loading the Excoplayer multiple times in the Recycler view.

It's okay to load Exoplayer less than two, but from the third, the following errors occur.
**_E/FMQ: grantorIdx must be less than 3_**

I wanted to solve this problem, but I don't know the exact cause, so I don't know what to do.

[VideoPlayerInsideRecyclerView](https://github.com/MostafaAnter/VideoPlayerInsideRecyc

[2021-06-05 10:25] CommanderRag opened #9021 "ExoPlayer sideloading subtitles not working"
I am trying to show subtitles from my .srt file in exoplayer but it does not work.
Do I need to use a seperate SubtitleView to get my subtitles to show up?
Is the subtitleView in the PlayerView is not enough?
I use PlayerView btw.

The exoplayer version I use is 2.14.0.

The addTextOutput method.
[code]

I also tried to implement to `TextOutput` but that did not work too.

The contents of my sampl

[2021-06-06 10:34] nassdk opened #9022 "com.google.android.exoplayer2.ExoPlaybackException: Source error"
Hello, dears! I'm new at exo player and in general in working with media, but i was searching for answer for my problem for 2 days already, so i decided to ask here.

I'm trying to play video from VKontakte (vk.com) and getting source error every time.

When i'm trying to play test video like https://storage.googleapis.com/exoplayer-test-media-0/BigBuckBunny_320x180.mp4 , video is playing.

Exampl

[2021-06-06 21:20] claincly commented on #9022
The link you posted does not resolve to a video file, but rather a webpage.

[2021-06-07 05:10] NG-Gaurav commented on #9019
one difference between the dome app and my code implementation is
my app redirecting below method
[code]

but demo app redirecting on overriding method

[code]
can please you give me an idea of why my app not redirecting on the above metod.

[2021-06-07 06:04] vkoehler commented on #8988
Our content production team confirmed an issue with multiple assets, that must be fixed. I agree, it doesn't make sense to handle this in the ExoPlayer. Thanks for support!

[2021-06-07 06:04] #8988 closed, assigned to icbaker

[2021-06-07 06:25] nassdk commented on #9022
So, can i get some workaround with that link, or it is impossible to resolve video?

[2021-06-07 07:07] jschamburger commented on #4115
Hi,
that's ok. I actually sent a bug report at the time (more than three years ago). :)
Don't worry about it though! I'm not working on the affected app anymore, but most likely the numbers decreased - otherwise someone would have revived the thread.
Thanks for the update and keep up the good work!

[2021-06-07 07:12] claincly commented on #9022
You have to make sure the link "points" to a media file. Like, if I click on the link, I can download the video directly.

Currently it points to a webpage that already contains a player. If you want to play this with ease, webview may be a better option.

[2021-06-07 07:13] claincly commented on #9021
Can you share the relevant media? It'd be hard to pinpoint the issue without it.

[2021-06-07 07:43] jfbn commented on #6168
We are using [react-native-video](https://github.com/react-native-video/react-native-video) in our React-Native project, which under the hood uses the Android ExoPlayer. I am seeing this issue more and more often. Sometimes it even happens during runtime and not just when trying to instantiate the player.

[2021-06-07 08:21] CommanderRag commented on #9021
The video is [https://www.youtube.com/watch?v=rUWxSEwctFU](url) which I downloaded using youtube-dl.

[2021-06-07 08:38] nassdk commented on #9022
Ohh(( Thanks for clarifying!

[2021-06-07 08:38] #9022 closed, assigned to claincly

[2021-06-07 09:26] jruesga commented on #8990
Sorry for the delayed response.

Unfortunately, we can only reproduce this error sporadically. We need to spent several hours or even days playing an asset to get into this error and there is no a common pattern of reproduction of the issue.

That could be the case in some devices (maybe the Shield Pro), but we were not able to reproduce it consistently in devices that have this issue. We are able

[2021-06-07 12:12] rbattaglin25 commented on #8891
Hello, @krocard. Can you help with the previous question?

I updated the poc with test compression audios for analysis.

[2021-06-07 12:55] ojw28 commented on #9020
It's impossible for us to help with so little information. It's unclear whether the single line of logging you've provided even corresponds to the issue you're actually seeing. Please properly fill in the [bug template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) if you'd like assistance with this issue. Please copy/paste it here, ra

[2021-06-07 13:54] ronak2121 commented on #8595
Hi @ojw28 or @christosts is there any update on this?

[2021-06-07 14:53] krishnarama commented on #8997
That's right. I have referred to an outdated protocol document. Apologize for the confusion. Closing the ticket.

[2021-06-07 14:53] #8997 closed, assigned to andrewlewis

[2021-06-07 15:30] ojw28 commented on #9019
Sorry, but I do not understand what your question is. Please clarify. Not that since this is an issue with application code rather than the ExoPlayer library itself, and since our demo app covers the functionality you're trying to implement, we can only dedicate a limited amount of time to this question.

Aside: It's probably also worth reading about [how to format code blocks when posting to GitH

[2021-06-07 15:44] ojw28 commented on #6189
This is a device specific issue. The device is 4+ years old, and discontinued. Realistically, we can't dedicate resources to investigating further on our side. Even if we were to root cause an issue in the underlying platform, it seems unlikely that it would be fixed. Hence closing this as obsolete.

[2021-06-07 15:44] #6189 closed, assigned to andrewlewis

[2021-06-07 15:44] ojw28 commented on #6711
This is a device specific issue. The device is 4+ years old, and discontinued. Realistically, we can't dedicate resources to investigating further on our side. Even if we were to root cause an issue in the underlying platform, it seems unlikely that it would be fixed. Hence closing this as obsolete.

[2021-06-07 15:44] #6711 closed, assigned to ojw28

[2021-06-07 15:47] #7347 closed, assigned to ojw28, christosts

[2021-06-07 15:49] ojw28 commented on #7491
Closing because this is (or was) a device specific issue, relating to a specific STB platform. It sounds like the correct path forward is (or was) to follow up with the STB manufacturer directly.

[2021-06-07 15:49] #7491 closed, assigned to ojw28

[2021-06-07 15:58] ojw28 commented on #8481
Is this a live stream? If so, then I wonder whether the difference between the two cases is having to wait for a key-frame in the stream? The first frame of any stream will always be a key-frame. It could be that in the second case you describe, the player receives data starting at the first frame, and so can start decoding immediately from that point. Conversely, it could be that in the first cas

[2021-06-07 16:02] ojw28 commented on #9018
We agree that ads should play at 1x speed, regardless of speed at which content is being played.

[2021-06-07 16:42] mpalczew commented on #9005
In case someone sees this and wants to implement callbacks the way I did.

[code]

Wrapping the surface holder with what I have here is working for me.  Of particular note, `DelegatingCallback` only implements `SufraceHolder.Callback` and not `Callback2`, because that's what exo implements.  Implementing `Callback2` and delegating those methods will not work.

[2021-06-07 17:53] JuzTosS opened #9024 "Can't apply defStyleAttr to PlayerView"
https://github.com/google/ExoPlayer/blob/9be5ece83fdca78556ff1ec82517ed8903036ccf/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java#L375

`defStyleAttr` is not passed to obtainStyledAttributes and a default style can't be applied to PlayerView.

[2021-06-07 19:25] greyski commented on #7887
Just wanted to bump that I would love to see this Caching setup documented somewhere.

Thank you!

[2021-06-07 21:20] jackmichalak commented on #8246
Would love to see this addressed. Following through the stack trace it appears (at a quick glance) that replacing `context.getApplicationContext()` with just `context` in a half dozen or so places would allow the user-supplied Context to be utilized. What am I missing that makes this tricky?

[2021-06-08 01:04] #8917 closed, assigned to Samrobbo

[2021-06-08 01:04] #8866 closed, assigned to icbaker

[2021-06-08 01:04] #8790 closed, assigned to ojw28

[2021-06-08 08:13] ivostefanoff opened #9025 "Cannot play continuously while source length is changing realtime"
Hello,
while playing continuously  size changing http source, the exoplayer stops where the buffer ends, but not continue further.
In other words - playing in time shifted offset is not possible - connection drops when buffer ends  even the source size  is already changed.
Is there solution of this problem? Keep alive? Resync http source?
Regards

[2021-06-08 08:45] claincly commented on #9024
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-06-08 08:56] JuzTosS commented on #9024
If you try to call the constructor with default style `PlayerView(context, attrs, defStyleAttr)` it won't be applied as it's not passed further when retrieving values.

I personally need it for the case to extend PlayerView and have a view that sets TextureView by default instead of SurfaceView. To solve this I can pass a style `defStyleAttr` with texture view as `surface_type=2`

So the fixed lin

[2021-06-08 08:58] andrewlewis commented on #9001
@christosts Please could you take a look? Thanks!

[2021-06-08 09:19] ojw28 commented on #9025
The player will continue to play indefinitely if the server does not indicate a fixed content length in one of the response headers, and if the server then serves a contiguous stream of media to the player.

Conversely, if the server is specifying a fixed content length in one of the response headers, then I think the player is doing the right thing in stopping once that length of content has been

[2021-06-08 10:36] ivostefanoff commented on #9025
Hello,
let me be more specific.
I need to play timesifted mpg file (or hls) which is contantly growing in time.
If now is 12:25 we have a recorded file from 12:00 till 12:25 and i want to seek to 12:24.
Of course the http will return whole segment from 12:00 to 12:25 and the player will seek to 12:24.
But after 1min (because buffered chunk till 12:26  is gone) the player reports event end of playb

[2021-06-08 10:56] ojw28 commented on #9025
Both DASH and HLS are designed to support moving live windows. ExoPlayer correctly handles both if the content is produced according to the relevant specification.

ExoPlayer also supports live streams using progressive formats that can be appended to (e.g., MPEG-TS and MP3), but seeking is not supported in this case. Playback is fixed to be at the live edge.

If you require a moving live window,

[2021-06-08 11:06] ivostefanoff commented on #9025
Okay, let be quite specific - DVR hls made from Flussonic , could be seek in this case from MAG322, but not from Exoplayer?
Here we have a perfect HLS with moving time window?
What should be the player init in this case?Progressive,hls....?

[2021-06-08 11:09] ojw28 commented on #9025
As above, if you have a specification compliant HLS stream with a moving window, then playback should just work. Many apps have successfully deployed this in production using ExoPlayer. If you have an HLS stream for which this is not working, you will have to provide us with access to a test stream so that we can debug the issue.

I don't really understand your question about player init. If you'r

[2021-06-08 11:43] ojw28 commented on #8246
I agree it's quite straightforward for the common case of video playback in a single activity. However, there are some complications for other cases. For example, it's quite easy to accidentally leak an activity context with the suggested approach, particularly for use cases where playback may transition between activities, or be detached from an activity altogether (e.g., for transitioning into b

[2021-06-08 12:36] ojw28 commented on #8246
As a short term fix, it looks like we can just replace use of `WindowManager.getDefaultDisplay` with `DisplayManager.getDisplay(DEFAULT_DISPLAY)`. This doesn't solve any of the potential problems around multiple displays, but it does remove the warning whilst avoiding both (a) the need for plumbing changes outside of `VideoFrameReleaseTimeHelper`, and (b) increased risk of accidental context leaks

[2021-06-08 13:02] inv3rse opened #9026 "[Cast] CastTimeline stays empty on reconnect"
The `CastTimeline` initially stays empty when reconnecting to a cast device even though it has an active `MediaQueueItem`.
Only after a state change (play / pause) will the timeline be populated.

How to reproduce:
1. Launch the sender app and cast something to a device.
2. Pause the content (not required but helps to avoid extra state changes from buffering etc.).
3. Completely restart the sender

[2021-06-08 13:35] AquilesCanta commented on #9026
This is something we've been looking into for some time.

The problem we have is that we cannot reliably get the entire timeline from a receiver. We might be able to get the number of items from it, but we might be missing other stuff like MediaItem info, duration, etc. We need support from the Cast SDK to do this properly [Internal tracker: b/182255537], and we don't currently have the resources

[2021-06-08 13:36] AquilesCanta commented on #9026
@marcbaechinger Assigning to you in the context of [Internal ref: b/182255537]. Hope that's ok.

[2021-06-08 13:37] chris-sloan opened #9027 "Is Exoplayer capable of handling VAST 4.1?"
We're looking to update our existing ads implementation and currently handle VAST Version 4.1 and VAST 2.0.

I can see that VAST 2.0 works when I pass url as the `ad_tag_uri` in the demo app, and I can see tha the samples given in the demo app are all VAST 3.  I don't have access to a url which will return me a VAST 4.1 file and so can't test this so easily.

Before I go through the manual process

[2021-06-08 13:46] andrewlewis commented on #9027
The IMA extension exposes VAST loading support from the IMA SDK (and I don't think we additional limitations), so please check their compatibility documentation: https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/compatibility

[2021-06-08 13:46] #9027 closed, assigned to andrewlewis

[2021-06-08 14:28] JiyongYang commented on #9020
The reason why I didn't attach another error phrase is that only that error phrase pops up as soon as I load the third Exoplayer by running the example above.

The error history below can be viewed directly from the error category in the Logcat by executing the "Instagram screen" in the example above.

[code]

I'd like to share more content, but the above is the entire error log I got.

[2021-06-08 14:58] ojw28 commented on #9020
Please properly fill in the [bug template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) if you'd like assistance with this issue. Please copy/paste it here, rather than opening a new issue. Thanks!

[2021-06-08 15:17] jackmichalak commented on #8246
Thank you very much for the additional context, that makes a lot of sense. I would be happy with the mentioned short-term fix.

[2021-06-08 15:19] JiyongYang commented on #9020
FMQ error occurs when loading the Excoplayer multiple times in the Recycler view.
It's okay to load Exoplayer less than two, but from the third, the following errors occur.
E/FMQ: grantorIdx must be less than 3

-------------------------

[Demo app link](https://github.com/MostafaAnter/VideoPlayerInsideRecyclerView)
- Reproduction Step
Load more than 3 Exoplayer in RecyclerView.

- observed errors

[2021-06-08 16:08] SUNYTYAGI opened #9028 "Unable to monitor network calls using android studio profiler in google exoplayer demo app"
Hi Team , I am following docs https://exoplayer.dev/demo-application.html to use google demo app. I played few HLS videos from already samples given. I am not able to see network calls using android studio profiler in debug mode.

PFA screenshot. Graph clearly showing network traffic but down we can Network profiler data unavailable.
![NetworkProfilierError](https://user-images.githubusercontent.c

[2021-06-08 16:26] claincly commented on #9028
As put [here](https://developer.android.com/studio/profile/network-profiler#network_connection_troubleshooting), the profiler only supports `HttpURLConnection` and `OkHttp`. You can try setting

https://github.com/google/ExoPlayer/blob/92e05bcd6608b48cc4d20974f55e6a9136274c33/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoUtil.java#L60
to false to use the profiler.

[2021-06-08 16:28] #9014 closed, assigned to claincly

[2021-06-08 16:28] #8941 closed, assigned to claincly

[2021-06-08 16:33] claincly commented on #8994
Fixed in 1ca0efd.

[2021-06-08 16:33] #8994 closed, assigned to claincly

[2021-06-08 17:17] SUNYTYAGI commented on #9028
Thanks @claincly for quick reply. I can see network calls now.

But I am getting playback error for below HLS sample. Although akamai player is able to play without any issue. I can also see response is 200.

Akamai(Working): [Link](http://players.akamai.com/players/hlsjs?streamUrl=https%3A%2F%2Fsouthcentralus1-mediad.svc.ms%2Ftransform%2Fvideomanifest%3Fprovider%3Dspo%26inputFormat%3Dmp4%26cs%3Df

[2021-06-08 21:03] nishantkp opened #9029 "Unable to show close-captions after clearing selection override"
I have closed captions in the Live DASH manifest.

I am trying following to enable and disable closed captions,

[code]

Here `Track` object contains render index, group index, track name, and a bunch of other metadata.

I am calling `selectTrack()` to set closed-captions and `clearTrackSelection()` method to clear that selection.
After clearing text track selection with `clearTrackSelection()`, I

[2021-06-09 02:27] electrodragon opened #9032 "ExoPlayer has dependencies that are only available via jcenter()"
I have included the ExoPlayer by placing it locally in my computer, it works fine if i add jcenter() in my repositories, but as it is going to shut down soon. so android studio is also suggesting to remove its usages, and when i remove i get these three errors.

[code]

[code]

[code]

I went to the dex maker site and add their maven sona type repo url
[code]
but the same error.

[2021-06-09 02:45] isaacchiang-kkstream commented on #8998
@icbaker

Are there any new discoveries? Can you reproduce this issue using the DRM server sent to you?

[2021-06-09 05:11] ghost opened #9033 "Exoplayer live stream in android auto."
Hello,
I want to know that how we can play customize exoplayer in android auto app. Also can we run HLS stream in exoplayer using android auto ? I have already developed mobile app using exoplayer and it is possible to customize it in mobile version but I didn't get any example or code in which we can use exoplayer in android auto or how to code it so that we can play live stream in android auto u

[2021-06-09 07:19] SUNYTYAGI commented on #9028
@claincly Above playback is throwing UnrecognizedInputFormatException. Akamai player is able to play this video. Is the codecs for this video is not supported?

com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (FlvExtractor, FlacExtractor, WavExtractor, FragmentedMp4Extractor, Mp4Extractor, AmrExtractor, PsExtractor, OggExtractor, TsExtractor,

[2021-06-09 07:19] ojw28 commented on #9029
Your two methods are not symmetric to one another:

1. `selectTrack` only sets the override. It does not enable the renderer
2. `clearTrackSelection` clears the override and disables the renderer

As a result, after you clear and then select, the renderer is still disabled.

You should delete the `builder.setRendererDisabled(track.getRenderIndex(), true);` line from your `clearTrackSelection` meth

[2021-06-09 07:19] #9029 closed, assigned to ojw28

[2021-06-09 07:29] ojw28 commented on #9032
You should just keep using `jcenter()` for now. These will be fixed by the time it's actually shut down:

1. We will probably just withdraw the `exoplayer-extension-gvr` module. It's been deprecated for quite a long time now
2. https://github.com/ant-media/LibRtmp-Client-for-Android/issues/96 tracks `net.butterflytv.utils:rtmp-client` being provided via maven central
3. `com.linkedin.dexmaker:dexm

[2021-06-09 07:39] claincly commented on #9028
My first guess is the link you play does not link to a actual manifest file, but rather some HTML.

Could you share the link you are playing?

[2021-06-09 09:11] #9032 closed, assigned to ojw28

[2021-06-09 09:34] iblh opened #9034 "Questions about FirstFrame render time"
Hello, the following content shows my exploration of the rendering time of the first frame. There are some questions about it, I would very much appreciate it if someone could reply to me or give me some suggestions.

The version of ExoPlayer I used is 2.14.0. I would like to figure out how the ExoPlayer calculates the first frame render time.
Therefore, I have added an analytics event listener to

[2021-06-09 09:54] SUNYTYAGI commented on #9028
@claincly  Actual HLS Index(master) Manifest File: Link[https://centralus1-mediad.svc.ms/transform/videomanifest?provider=spo&inputFormat=mov&cs=fFNQTw&docid=https%3A%2F%2Fprepsp-my.spoppe.com%3A443%2F_api%2Fv2.1%2Fdrives%2Fb%21dOF_w50SbECKUpMMRb8zJjrz-1AJHGNOg0aszfaU7rrvG4tZOHGHSJ7waGzq4h_R%2Fitems%2F01ZKMCYBBEFCMJ3F6CH5GJREXUSCJ3ZH43&cTag=%22c%3A%7B9D982824-C297-4C3F-9892-F49093BC9F9B%7D%2C2%22&

[2021-06-09 09:58] SUNYTYAGI commented on #9028
@claincly  Please also m3u8 HLS response of above link

https://raw.githubusercontent.com/SUNYTYAGI/files/master/Index_Response.m3u8

[2021-06-09 10:12] anandsingh2903 commented on #8950
Alright will try your suggested implementation and will get back to you.

[2021-06-09 10:22] claincly commented on #9028
Looking more closely to the log you posted, the player actually created a `ProgressiveMediaSource` (`at com.google.android.exoplayer2.source.ProgressiveMediaPeriod$ExtractingLoadable.load(ProgressiveMediaPeriod.java:1027`).

If you are using a MediaItem, please [set the MIME type](https://exoplayer.dev/media-items.html#handling-non-standard-file-extensions); if using demo app, please [add a MIME t

[2021-06-09 10:32] SUNYTYAGI commented on #9028
@claincly I am adding below sample like this. Is there anything need to add as all other were optional

![Entry](https://user-images.githubusercontent.com/15542772/121339428-16a40200-c93c-11eb-98d4-2abb006b7128.PNG)

{
        "name": "HLS CDN Testing: MeTA URL",
        "uri": "https://centralus1-mediad.svc.ms/transform/videomanifest?provider=spo&inputFormat=mp4&cs=fFNQTw&docid=https%3A%2F%2Fprep

[2021-06-09 10:34] claincly commented on #9034
Please don't mind my question, but `33524120` milliseconds is about nine and half hours, that does look like the time since boot?

[2021-06-09 10:40] claincly commented on #9028
You need
[code]

WIthout the m3u8 hint, ExoPlayer can't pick out this is an HLS link.

[2021-06-09 10:46] SUNYTYAGI commented on #9028
Thanks @claincly , it worked after adding attribute "extension": "m3u8"

[2021-06-09 10:46] #9028 closed, assigned to claincly

[2021-06-09 13:31] anandsingh2903 commented on #8950
This is working great....thanks

[2021-06-09 13:31] #8950 closed, assigned to marcbaechinger

[2021-06-09 13:34] GouravSna opened #9035 "How to pass `setMaxVideoBitrate` in new `SelectionOverride`"
My case is with **DASH** content.
**ExoPlayer Version:** v2.14.0 (No relation with version)
**On ExoPlayerDemo:** I did not try yet to reproduce due to complex changes required.

I am passing `setMaxVideoBitrate` on `DefaultTrackSelector.ParametersBuilder` while creating the `DefaultTrackSelector` and I can see that my video max Bitrate is limited to what I passed.

Then after it, I am creating my

[2021-06-09 16:12] icbaker commented on #8998
@rrfrias Could you take a look at this?

It seems that if an audio track is protected with a DRM policy that enforces protected output then it fails to play over HDMI on Android 11 but not 10. Did something change in the DRM/Widevine stack that might explain this?

[2021-06-09 16:17] ojw28 commented on #9035
A selection override will override any other constraints that you've specified. In other words, if you specify an override and if that override applies to the currently available tracks, then you will get exactly the tracks specified by the override. This is by design.

If you want to specify a selection override and if you also want to exclude tracks that exceed a particular bitrate, then you sho

[2021-06-09 16:17] #9035 closed, assigned to ojw28

[2021-06-09 16:17] grndvl1 opened #9036 "NoClassDefFoundError when creating AudioTrack"
Fails on the build()  using the example code from the site and adding it into my coroutine lifecycle call for onStart.  Called in the onViewCreated() of the fragment

        viewLifecycleOwner.lifecycleScope.launchWhenStarted {
            val player = SimpleExoPlayer.Builder(requireContext()).build()
            playerView.setPlayer(viewLifecycleOwner, player)

            val mediaItem = MediaI

[2021-06-09 17:01] apptrash opened #9037 "Provide ways to avoid projection for live streams in a playlist"
I'm using HLS event-playlists. There are always two MediaItem's in a playlist. I wish to have seamless transition, but sometimes ExoPlayer doesn't play next item from beginning (it skips around 6-30 seconds and start from this position).

What I do is:

[code]

Can you help me? Am i doing something wrong?

All of HLS playlists looks the same:
[code]

ExoPlayer version r2.14.0

[2021-06-09 18:36] guidofranceschini opened #9038 "PlayReady on Chromecast with Google TV fails if two key requests are in-flight at once"
Hello,

I need to protect DASH content with multiple keys, and unfortunately I have to use license servers that can return only one key at a time
Apparently, EXO is supposed to deal with this scenario (just setting drm_multi_session to true), and indeed I see that multiple, correct invocations to the License Server are generated, one for each key, and the license server consistently serves them.
H

[2021-06-09 21:06] umerov1999 opened #9039 "Ffmpeg exstension not build with ndk r22"
NDK r22 -The assembly occurs with the error Recompile with -FPIC on the ARMV8-A64, but Armv7 is going. NDK r21 collects everything without errors

Сборка происходит с ошибкой recompile with -FPIC на armv8-a64, но armv7 собирается. ndk21 собирает всё без ошибок

[2021-06-10 02:10] yyms3275 opened #9040 "Inquiries about streaming playback buffer time"
I want to optimize the start buffer time it takes to play a streaming video. Some videos can start quickly, but some videos take 5 to 7 seconds or more than 10 seconds to buffer. I want to know how to solve it. I use the code below

[code]

* I play combined video and sound media sources for streaming.

[code]

[2021-06-10 02:37] iblh commented on #9034
@claincly Thanks for your reply.  Actually, the `33524120` milliseconds is also a weird part of the results.  The time will be displayed in the console after I click the button (setMediaItem).
For instance, after I boot the app and click the button 5 times, the time I got is `[33500000, 34400000, 34300000, 33300000, 35200000]`. These numbers are not an increasing law, but more like the time it tak

[2021-06-10 03:55] AChep opened #9041 "Certain devices crash with an SQLiteCantOpenDatabaseException when attempting to init the cache"
[code]

- ExoPlayer version 2.13.2
- Android 9-10

It has happened on these devices:
- Samsung Galaxy A11
- Samsung Galaxy Tab A7
- Samsung Galaxy A21s
- Acer Liquid S1
- Samsung Galaxy Tab A
- Samsung Galaxy A31
- Samsung Galaxy A20s
- Samsung Galaxy A20e
- Samsung Galaxy Tab A (8.0", 2019)
- Orange Nola play
- Nokia 2.1
- Samsung Galaxy A9 (2018)
- Samsung Galaxy A51
- Samsung Galaxy J6+
- Samsu

[2021-06-10 05:09] fgl27 commented on #9040
why `16` in `DefaultAllocator`?

I don't think a small value here help, you are using a value that is far from the default value that is `65536` see https://exoplayer.dev/doc/reference/constant-values.html#com.google.android.exoplayer2.C.DEFAULT_BUFFER_SEGMENT_SIZE try to use the default here.

you don't need to call `setTrackSelector` if you aren't making changes to the `trackSelector`, as `Adapt

[2021-06-10 07:00] yyms3275 commented on #9040
Thank you for answer. I have modified the code as below. Still, the normal video loads quickly, while the video below loads too slowly. Is it because of the long play time? When opened in a browser, it starts quickly, but when loaded in exoPlayer, it takes a few seconds to load.

[code]

https://youtu.be/p2fxv3PAtLU

**The important thing is that I take the video and audio separately and put them

[2021-06-10 07:41] jaworskim opened #9042 "OkHttpDataSource - missing content subtitles after ADs error"
We are having an issue with loading subtitles during ad playback (subtitles for content, not for ads). ExoPlayer sometimes returns empty list of subtitle tracks for streams. Issue only happens after ad playback, if we disable the playback of ads, everything works correctly in the same video stream. We are using DASH protocol. Stream is DRM encrypted, but ads are not. Everything is using HTTPS. Iss

[2021-06-10 07:55] claincly commented on #9037
Not sure if I understand, if your playlist contains two media items, ExoPlayer will handle the transition for you, you don't have to manually do transition.

[2021-06-10 07:57] claincly commented on #9038
@icbaker I assume this is related to DRM, could you take a look?

[2021-06-10 08:01] claincly commented on #9042
The error does say Failure in SSL library, and Unable to connect right? I suspect it's something to do with the network. Can you reproduce it reliably?

[2021-06-10 08:59] icbaker commented on #9038
Thanks for providing the content over email. I played all 3 samples on a Chromecast with Google TV (I don't have a Fire TV Stick 2020) and didn't observe any playback errors, all 3 clips played to completion.

Without being able to reproduce the problem there's not much more I can do - if you're able to provide a widevine repro sample I can try that on a Pixel 3a XL.

[2021-06-10 09:09] jaworskim commented on #9042
Reproduction is reliable, around 50% rate. I've checked a few phone devices on the same network and error never happens on them, however we do know that error does happen on some real TV devices (customer reports about missing subtitles).

After SSL error happens on ADs, we would expect subtitles for content to work correctly in OkHttpDataSource. Like I've mentioned DefaultHttpDataSource does not

[2021-06-10 10:28] #8246 closed, assigned to ojw28

[2021-06-10 10:29] cmfcm opened #9043 "Switch Video Seamlessly"
I'm working on a project which need to switch video seamlessly, the basic requirements are:

I have some videos, e.g. 3 videos A, B and C, I need to switch among them seamlessly according to the user's input. I used `seektoDefaultPosition` to realize that easily.

However, another special requirement is after playing B or C , A must be played regardless of user's input, I've gone through the doc.

[2021-06-10 12:38] EduardAblekimov commented on #9011
@claincly Do you have any news on the topic? Is it in progress/on hold/low prio?

[2021-06-10 12:43] icbaker commented on #4100
The demo app now supports offline DRM playback (since https://github.com/google/ExoPlayer/commit/a5e6e3054dee5c3047bf958479f6bfd42cd9becc), so although we don't have any additional documentation there is at least an example there to follow.

There's also a small mention of offline playback here: https://exoplayer.dev/drm.html I'll leave this issue open to track adding some further information ther

[2021-06-10 12:45] icbaker commented on #8892
Closing because I think the question was answered and there's no immediate action planned here.

[2021-06-10 12:45] #8892 closed, assigned to icbaker

[2021-06-10 13:05] claincly commented on #9011
No updates at the moment, sorry.

On Thu, Jun 10, 2021 at 1:39 PM Eduard Ablekimov ***@***.***>
wrote:

[2021-06-10 13:46] javaboboApp opened #9044 "Transaction: live to vod"
Given a LIVE content that became VOD I would like to ask what is the best way to detect transaction live to vod.

Actually  what I am doing is override function:

1. onTimelineChanged(timeline: Timeline, reason: Int)

2. and checking if (reason == Player.TIMELINE_CHANGE_REASON_SOURCE_UPDATE) {.. //do stuff}

but I could have a handle calling itself and checking : if(player?.isCurrentWindowsDynamic

[2021-06-10 14:08] fgl27 commented on #9040
BTW `maxBufferMs` should be bigger then `minBufferMs` just look for the documentation and try to understand the description of it value, min is minimum possible max the maximum, the player will try to keep the buffer on that constrain between min and max.

You can't compare the way youtube site work with the way you are trying to play those links.

first youtube use an adaptive playback system, if

[2021-06-10 15:05] ojw28 commented on #9040
I would echo what @fgl27 has said above. If you care about minimizing latency then you really need to optimize everything related to content preparation and delivery. This includes using modern formats (e.g., DASH with FMP4), optimizing your encodes to give the best quality for the least bitrate, distributing your content over a CDN to ensure there's a copy located close to your users, and so on.

[2021-06-10 15:22] icbaker commented on #9043
* I'm not sure I **completely** understand your problem - I'll have a go at answering your questions but if it seems like I'm missing the point then it might be helpful for you to provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally. Then I'll be able to better understand exactly what

[2021-06-10 15:33] guidofranceschini commented on #9038
Thanks,
I worked to implement a change as simple as possible to provide you with a scenario for WV. In the end I hardcodied just a few strings within the code. And I got a surprise.
The good news is that EXO works fine with WV. This is sort of bad news for me since I have to fix my own code.
Yestarday I probably misread WV license server logs, under the bias that WV and PR behaved the same on the

[2021-06-10 15:40] icbaker commented on #9038
What devices have you reproduced the PlayReady failure on apart from the Fire TV Stick 2020? Are you able to test it on a [Chromecast with Google TV](https://store.google.com/gb/product/chromecast_google_tv) (the PlayReady-compatible device I have access to)?

I'm wondering if it's perhaps a device-specific problem.

[2021-06-10 15:42] claincly commented on #9044
Hi! Please provide complete information as requested in the question template. The template can be
found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Not sure what live content you are using, HLS, DASH?

[2021-06-10 17:08] javaboboApp commented on #9044
Content use DASH.
Type of content LIVE.

Target: Content Live become VOD, detect this change and update ui according state.

Current solution:

1. Detect current state every 500 ms (is content still live or is vod), using handle:

    handler.post(runnable, 500){
      if(player?.isCurrentWindowsDynamic()) { updateUiAccordinglive() }
      else {updateUiAccordingVod()}
      ....
      handler.pos

[2021-06-10 19:04] guidofranceschini commented on #9038
Next week I'll have access to another PR enabled Android device.
Wrt to chromecast ... how can I run EXO on it?

[2021-06-10 22:58] fgl27 commented on #8715
Can this be checked when possible please.

Thank you

[2021-06-11 01:16] #8934 closed, assigned to andrewlewis

[2021-06-11 01:30] stevemayhew commented on #8959
Slight update.  The latest `dev-v2` has playback stuck detection (stuck in buffering and not loading).  Great thing by the way for finding issues where un-reported discontinuity causes hangs.

Here's the steps to reproduce:

1. Play the sample VOD content I sent to the dev.exoplayer email (I just launch the View with the URL directly with
    `adb shell am start -n com.google.android.exoplayer2.de

[2021-06-11 02:37] charles-yinyu opened #9046 "Inaccurate EXTINF in m3u8 playlist leads to wrong clip position"
Media URL:
http://freevod.nf.migu.cn:8080/HvlmXE4s1sZ2lFLNrjmRI3Xac7sAHB3Bo0R1D6179Fv6iy1P0%2F3hONhDvJHW3%2BNGoooXTbtNkRh0q2u3NpmnhMp7sRQ9UN%2BFZVrHlLmbKSDnudrhzah0vusSi6omMOi49xkZntZgBLXrUV1dkjZQUEYJD0MV7ClZJ%2BKTDxskgRg2yUoX6Xiw1VdDnXchvv9x/600575Y9P8H044207.mp4.m3u8?msisdn=1ae26295-9758-49bc-9c27-c6db2f76cb48&spid=600906&sid=56887397529200&timestamp=20210531165722&encrypt=2dba5c8acd9430fa683b3a

[2021-06-11 08:18] icbaker commented on #9038
The [Chromecast with Google TV](https://en.wikipedia.org/wiki/Chromecast#Chromecast_with_Google_TV) runs Android (unlike previous generations of Chromecast), so you can enable developer options + USB debugging the same as any other Android device - and then install the demo app.

[2021-06-11 09:03] SUNYTYAGI opened #9047 "Google Exoplayer : HLS Redundant stream is not working"
Hi Team, I am using Google demo application(https://exoplayer.dev/demo-application.html) to test HLS redundant stream. It is not working as expected(playback failed)

![image](https://user-images.githubusercontent.com/15542772/121661141-87285b80-cac1-11eb-8d2a-40ff23d5960b.png)
HLS Redundant Docs: https://bitmovin.com/docs/player/faqs/how-can-i-utilize-the-cdn-fallback-feature-of-the-player

Sampl

[2021-06-11 09:29] claincly commented on #9046
I'm not sure I understand. It seems you have a wrong HLS playlist?

[2021-06-11 10:09] SUNYTYAGI commented on #9047
@christosts @claincly , I can see exo player version is 2.14.0 in demo application which seems to be latest. Now question is, does exoplayer support HLS redundant variants stream?

I can confirm, chrome extension and akamai player supports HLS redundant variants stream and working fine for above sample index manifest:

Chrome extension: chrome-extension://emnphkkblegpebimobpbekeedfgemhof/player.ht

[2021-06-11 10:10] claincly commented on #9042
Can you share some media for us to test with?

[2021-06-11 10:59] chris-sloan opened #9048 "Single main content media item with multiple content breaks containing multiple ads in each."
I'm trying to update our implementation of Exoplayer moving from manually handling VAST ads to using the IMA Extension, with MediaItems and a compiled playlist.

I'm having trouble playing midroll and postroll ads.
I've come across [this issue](https://github.com/google/ExoPlayer/issues/3694#issuecomment-365627568) from 2018 where it says there is little demand for handling VAST ads at specified p

[2021-06-11 12:37] ivostefanoff commented on #9025
In other words - is there any way for  refreshing(periodically) the media source periodically?
We are talking about, that while player is ready, the playing content was one thing and meanwile is has been changed to another and we need to refresh this?
Simple question

[2021-06-11 12:38] andrewlewis commented on #9034
I think you are seeing the number of milliseconds since the device (not app) booted, sampled at the time when ExoPlayer rendered the frame, which can depend on media loading time (longer loading => longer delay before the frame is rendered => more time elapsed since boot).

The TODO in the code snippet relates to the following detail: ExoPlayer (normally) schedules frames to be rendered a few mill

[2021-06-11 13:02] ojw28 commented on #9025
As above, DASH and HLS are explicitly designed to support this. If you have an HLS stream for which this is not working, you will have to provide us with access to a test stream so that we can debug the issue.

[2021-06-11 13:08] ojw28 commented on #9044
You shouldn't need to detect the current state periodically. Using `onTimelineChanged` sounds right to me. Inside that method, you should query the player to see if the specific state that you're interested in has changed. Something like:

[code]

[2021-06-11 13:20] ojw28 commented on #8807
It looks like we enforced the relationship as described above, so I think this can now be closed.

[2021-06-11 13:20] #8807 closed, assigned to tonihei

[2021-06-11 13:33] ojw28 commented on #1845
`StyledPlayerView` offers a fullscreen button. You can cause it to become visible and receive a callback when it's toggled, as follows:

[code]

As @qvk noted above, actually implementing the transition is better managed at the application layer, since the application developer has knowledge of the whole layout and knows exactly what type of fullscreen mode is desired (e.g., whether the system bar

[2021-06-11 13:33] #1845 closed, assigned to marcbaechinger

[2021-06-11 13:36] ojw28 commented on #1920
For non-technical reasons, this is not something we plan on doing. Sorry!

[2021-06-11 13:36] #1920 closed, assigned to ojw28

[2021-06-11 13:44] andrewlewis commented on #9048
There hasn't been any advancement on the request to load a VAST ad tag and specify where it should play within the content (they still just play as prerolls).

VMAP seems like a perfect fit for what you are describing. If there's a reason not to use it then perhaps you could give some details here, and we can take that into account for prioritization.

[2021-06-11 13:45] ojw28 commented on #5991
Closing as an obsolete device specific issue.

[2021-06-11 13:45] #5991 closed, assigned to ojw28

[2021-06-11 13:45] andrewlewis commented on #9048
Just to add: we do now support playing playlists of pieces of content where each one has an ad tag, which didn't used to be supported. That might give another way to do a workaround for this (you could split up the content into clips and then specify the VAST ad tags with each one) but it seems hacky.

[2021-06-11 14:07] apptrash commented on #9037
[code]

I deleted unnecessary lines `player.moveMediaItem(1, 0) / player.removeMediaItem(1)`
And it doesn't change anything. After transition new item position still != 0

[2021-06-11 14:08] apptrash commented on #9037
I'm adding new item when current item is ended (this is just a logic of an app). Maybe I should do it in some other place/callback?

[2021-06-11 14:22] apptrash commented on #9037
As you can see `Log.d()` print position **before** `player.addMediaItem(nextMediaItem)`. So I think that it's not a reason.

[2021-06-11 14:47] chris-sloan commented on #9048
Thanks @andrewlewis for the response.

I looked into VMAP but our app supports currently vast 2 and vast 4.1. It seems according to the VMAP docs over on [iab.com](https://www.iab.com/guidelines/vmap/) that VMAP only supports up to vast 3. Also we don't really know in advance what version of the VAST ad we're going to get, so need to be really dyanmic about it.

I've spent much of the day trying t

[2021-06-11 14:58] ppodgorski opened #9049 "DefaultTimeBar glitches in PlayerView"
Issue description
-------------------------
I'm observing DefaultTimeBar glitches during seeking in PlayerView (in StyledPlayerView everything works fine). The problem present since version 2.13.

Reproduction steps
-------------------------
Just launch any demo app with PlayerView eg. demo-gl

A full bug report captured from the device
-------------------------
https://user-images.githubuserconte

[2021-06-11 15:02] andrewlewis commented on #9048
Do you have a server that is capable of producing a VMAP ad tag? If so I would try just turning that on and see what happens, despite the documented version limitation. You could also ask at https://groups.google.com/g/ima-sdk as they are likely to have more expertise there.

It could be a bug but it's hard to say. If you debug this and find a root cause for playback being stuck please let us know

[2021-06-11 15:17] chris-sloan commented on #9048
No, and the content provider said they'll not support it in the future either. (I don't know why).

Good idea, will pursue this.

Will do. Thanks.

[2021-06-11 15:38] andrewlewis commented on #9048
Given your server can't produce VMAP this won't be much help but in case someone else finds this issue: I checked with the IMA developer relations team and they clarified that the IMA SDK VMAP handling is not limited to VAST 3 (it should also work with VAST 4). On the serving side, just as an example, it appears that Google Ad Manager supports this (search [this page](https://support.google.com/ad

[2021-06-11 16:06] christosts commented on #9006
As this was a question for AsynchronousBufferQueueing, the question was answered and I'closing the issue. If you need further assistance, feel free to re-open the issue or open another issue with different question.

Thanks

[2021-06-11 16:06] #9006 closed, assigned to christosts

[2021-06-11 16:25] chris-sloan commented on #9048
In actual fact, the one and only [open PR](https://github.com/InteractiveAdvertisingBureau/vmap/pull/1) for the VMAP spec is to add vast4 to the `templateType` which is where I thought my issue lay. Perhaps I should look more into actually compiling my own VMAP string.

Thanks for your time @andrewlewis. Closing now.

[2021-06-11 17:08] apptrash commented on #9037
[code]

There are a couple of logs from 'EventLogger': as you can see `mediaPos=28.52` and `reason=AUTO_TRANSITION`

[2021-06-11 17:37] christosts commented on #8947
Can you please check whether the content you have shared with us is still working?

[2021-06-11 18:16] christosts commented on #8471
Apologies for the delay, is the stream still working?

[2021-06-11 18:35] badrprojects commented on #8947
please check your inbox

[2021-06-11 19:05] ipichkov commented on #9004
Folks, please let me know if you need more info or there is any update you would like to share.

[2021-06-11 22:44] whoozle opened #9051 "2.13.0 possibly broke SimpleExoPlayer that is not running on the main thread."
It looks like 2.13.0 introduced a regression, if you're using separate HandlerThread for a player and SurfaceView in your app.
Exoplayer versions earlier than 2.13 were running in production on the millions of different devices without any problem like this.
I tested it on Nexus 5(M4B30Z) and Pixel 4(RQ3A.210605.005).

I'm building player as follows
[code]

player is using surface view:
[code]

an

[2021-06-11 22:58] whoozle commented on #9051
Apparently the problem is in that `AnalyticsCollector` calls `getCurrentWindowIndex` from arbitrary thread whichever caused an event

[2021-06-12 09:41] SUNYTYAGI commented on #9047
@christosts @claincly Requesting update on this.

[2021-06-12 13:32] h6ah4i opened #9052 "Infinite time blocking may occurs in MediaSessionService.onUpdateNotification()"
Hi. I am using ExoPlayer's Media2 integration and I found an issue with MediaSessionService.

Using a dedicated thread instead of the main thread for handling media session callbacks, `SessionPlayerConnecter` may be stuck in a certain situation.  (However, I am not sure that this is an ExoPlayer's bug, the Media2 library's bug, or just my fault.)

## Steps to reproduce the issue

1. Clone the foll

[2021-06-12 16:41] javaboboApp commented on #9044
ok clear thanks for the answer :)

[2021-06-12 18:10] #9044 closed, assigned to ojw28

[2021-06-13 07:12] rrfrias commented on #8998
It appears that the device cannot meet the analog output protection required by the license (CGMS_NEVER/disable analog). There were no changes related to the CGMS requirements specs between android 10 and 11 so it is possible that the differences in behavior that you are seeing are specific to that device. If a device cannot enforce analog output protection, the failure you are seeing is the right

[2021-06-13 08:51] andrewlewis commented on #9039
The [build instructions](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) work fine for me on Android NDK r22b (22.1.7171670) on Mac, testing decoding using FLAC via the FFmpeg extension in the ExoPlayer demo app, release 2.14.0.

Please try again using r22b on the latest release. If it still fails please provide the configuration/build logs from ffmpeg compilation.

[2021-06-13 21:44] montezumba commented on #6482
Hello,
Any news here?
Thanks

[2021-06-14 01:04] #8933 closed, assigned to Samrobbo, AquilesCanta

[2021-06-14 03:35] KazukiSugiyama107 opened #9053 ""Decoder init failed" occurs at video playback start"
#### Searched documentation and issues
・ExoPlayer Javadoc.
・ExoPlayer Issues

#### Question
The following error occurred during streaming playback.
Is there a problem with a particular device because it is a decoder problem?

[code]

* Version of ExoPlayer being used: 2.12.1
* Terminal where the error occurs: AGS2-W09
* Android version: Android 8.0.0

#### A full bug report captured from the devic

[2021-06-14 08:58] rrfrias commented on #8998
ExoPlayer does not have a way of being able to check the analog output protections capabilities before the errors occurs. Instead these are reported in the client capabilities in the license request for android 9/P onwards. Does this meet your needs?

[2021-06-14 09:09] icbaker commented on #9051
2.13.0 strictly enforces (by default) that `SimpleExoPlayer` is always accessed from the same thread - from the [Release Notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md):

`SimpleExoPlayer` has never supported being accessed by multiple threads, it just wasn't strictly enforced in the past. This means that before 2.13.0 you won't see these exceptions but instead you prob

[2021-06-14 09:09] #9051 closed, assigned to icbaker

[2021-06-14 10:29] AllwinJohnson commented on #6482
Any update on this issue?

[2021-06-14 10:52] AquilesCanta commented on #6482
Unfortunately, no. I will ping the internal bugs referenced above [b/144421854, b/124858880].

[2021-06-14 10:55] chris-sloan commented on #9048
I have worked on a reproducible sample to highlight what I was trying to do, which can be found [here](https://github.com/chris-sloan/ExoPlayer/tree/multiMediaItemsForAds).

Am I missing something?, because although I give each item an ad tag, the ad is not always played. I've given an ad tag to each chunk of content but can only see the first ad being played.

There are slight differences between

[2021-06-14 10:56] christosts commented on #8947
Thanks for sending the new content. I have tested the link with the demo app on 2.14.0 and playback fails with an error raised while downloading the content. On the stack trace you posted, you are using the OkHttp data source. I tested on the demo app with Cronet and the default HTTP datasource, and both failed but with a different error. I'm not 100% sure it's the same root cause, but I think it'

[2021-06-14 12:50] badrprojects commented on #8947
Unfortunately it's an android project for a client, I have no control over the backend.
I'll ask them if they can provide a server that supports Range requests.

[2021-06-14 13:13] andrewlewis commented on #9048
Hm, I think this could be due to the media IDs and ad tags matching, causing the player to keep just one ad playback state (so for the next item it looks like it has already been played). Please could you try passing a different `adsId` with each ad tag URI? See https://exoplayer.dev/ad-insertion.html for more information.

[2021-06-14 15:03] raghavtilak commented on #7620
@liadpaz hey, i am facing the same issue. Not able to load content uri. Did you find any solution?

**LOGS**
2021-06-14 20:03:53.742 16955-17316/com.raghav.videomerger E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:554)
        at a

[2021-06-14 16:09] chris-sloan commented on #9048
Hmm, that doesn't seem to have had an effect.
I've tried using both the uri string as the id and a id common for each pod of ads.

Also I'm now not sure that it would ever work as the same main content is played over and over if there are multiple ads per break. eg after the first midroll i see 30s - 60s content twice (as I have specified 2 ads per break).

[2021-06-14 16:26] christosts commented on #9001
I believe the AdaptiveTrackSelection is falling in this case [here](https://github.com/google/ExoPlayer/blob/r2.14.0/library/core/src/main/java/com/google/android/exoplayer2/trackselection/AdaptiveTrackSelection.java#L361-L365).

https://github.com/google/ExoPlayer/blob/92e05bcd6608b48cc4d20974f55e6a9136274c33/library/core/src/main/java/com/google/android/exoplayer2/trackselection/AdaptiveTrackSel

[2021-06-14 16:42] andrewlewis commented on #9048
Thanks for providing the sample code.

I tried removing the inner loop where the second ad tag for each content break is added and I saw what looks like the expected behavior (after each clip finishes an ad plays). This is working as expected because each iteration of the inner loop uses the same ads ID, so when the second item plays the ads are treated as already having played.

Currently it's no

[2021-06-14 17:07] christosts commented on #9047
ExoPlayer does not do anything specific to support failover, but it might work indirectly for specific cases:
- If the playlist defines multiple renditions with the same EXT-X-STREAM-INF, they should appear as available renditions to the track selection.
- Download failures are handled by the LoadErrorhandlingPolicy. By default, HTTP errors with response code 403, 404 410, 416, 500 or 503 block re

[2021-06-14 17:33] SUNYTYAGI commented on #9047
Hi @christosts , I have updated sample manifest file. I can confirm this sample is working fine in AV Player, Akamai Player & Chrome extension but playback is failing in exoplayer.

Sample Index Manifest: https://raw.githubusercontent.com/SUNYTYAGI/files/master/MobileTesting/Mux/index_redundant_stream.m3u8

Akamai Player(Working Link) : http://players.akamai.com/players/hlsjs?streamUrl=https%3A%2F

[2021-06-14 17:38] SUNYTYAGI opened #9054 "Google Exoplayer : HLS Redundant stream is not working (Issue #9047)"
Hi I am creating new issue , since i do not have access to re-open close issue (#9047)

Please check my last comment on the issue (#9047 )

https://github.com/google/ExoPlayer/issues/9047#issuecomment-860863669

[2021-06-14 17:39] SUNYTYAGI commented on #9054
+@christosts

[2021-06-14 17:39] badrprojects commented on #8947
Unfortunately they can't provide a server.

[2021-06-14 18:12] saurabharora90 commented on #8776
Hi @ojw28 . I spotted this issue in the changelog for 2.14.1 and realised that we have this issue as well (albeit not the top and hence not something I was actively looking into). Even we weren't using the `setDrmSessionForClearPeriods` flag but now I have enabled it. Looking at the fix and your comments, it seems like this flag should resolve the issue. Do you have any insights on why it didn't?

[2021-06-14 18:13] ojw28 commented on #9054
Closing as a duplicate of #9047 (which I will re-open).

[2021-06-14 18:13] #9054 closed, assigned to ojw28

[2021-06-14 18:22] ojw28 commented on #8776
@saurabharora90 - This issue was tracking a specific bug that would cause a ​`CodecException: Error 0xffffffff` to occur. However, `CodecException: Error 0xffffffff` is a  generic failure reported from the underlying platform, and so it's not the case that all such errors would be caused by the bug that this issue was tracking. There are likely other causes of the same generic failure, some of whi

[2021-06-14 18:32] ojw28 commented on #9047
As an aside, please don't ping issues like this. All it does is spam a large number of people. It's particularly unreasonable to ping an issue when you only filed it ~24 hours earlier, and when most of the time that elapsed in-between was during the weekend.

[2021-06-14 19:21] ojw28 commented on #8444
Closing because the information requested in the issue template, and in https://github.com/google/ExoPlayer/issues/8444#issuecomment-758126620, was not provided. Without the requested information it is not possible for us to efficiently investigate the issue.

[2021-06-14 19:21] #8444 closed, assigned to lcf87

[2021-06-14 19:24] ojw28 commented on #8413
I think the conclusion here is that:

* Speeds faster than 8x are not supported.
* Playing audio at faster than 8x probably doesn't make a whole lot of sense anyway, from a feature perspective. At a certain point it's better to disable the audio and/or pause the player and use seeking operations, depending on the exact use case.

[2021-06-14 19:24] #8413 closed, assigned to marcbaechinger

[2021-06-14 19:25] spencergriffin opened #9055 "How to use exoplayer in LazyColumn with Jetpack Compose?"
I am using exoplayer to play videos in a LazyColumn in Jetpack Compose. I have a single instance of the exoplayer, and use the LazyListState to play the top video when the list is scrolled. However, the scrolling is janky and I cannot achieve good performance.

I have created a minimal sample to reproduce this here: https://github.com/spencergriffin/exoplayer-compose

Is there something I am doing

[2021-06-14 19:26] ojw28 commented on #8876
@jaewan-github - Would you be able to provide some input on this question? Thanks!

[2021-06-14 19:28] #8481 closed, assigned to ojw28

[2021-06-14 19:29] #8297 closed, assigned to marcbaechinger

[2021-06-14 22:25] waltojac opened #9056 "trun from Text track is being associated with wrong TrackBundle when playing video with both a Video track and a Text track"
When attempting to play a fragmented .mp4 video that contains a Video track and a Text track (see mp4info screen grab below), the trun from the Text track is being added to the Video track causing an `"Invalid NAL length" ParserException` to be thrown. I believe this is caused by the fix added for [this issue](https://github.com/google/ExoPlayer/issues/4083) in `FragmentedMp4Extractor.java` on lin

[2021-06-15 03:10] barryyanggoing opened #9057 "how to get audiotrack when audio play"
how to get audiotrack when audio play

[2021-06-15 06:38] timusus opened #9058 "Choppy audio playback for some m4a's"
Hi ExoPlayer team,

I've had user reports of choppy audio for a couple of songs. They've sent me the tracks, which I'll attach here. Unfortunately they're extremely awful to listen to even without playback issues.

Easy to replicate. Listen to either song and you should notice the 'choppy' sound.

I can replicate the issue on my Pixel 5 running Android 11. I see the following in the logs:

[code]

[2021-06-15 07:20] iblh commented on #9034
@andrewlewis Thanks for your answer. I have attached my Android App([BoMediaPlayer.zip](https://github.com/google/ExoPlayer/files/6653557/BoMediaPlayer.zip)) so that you could run it for the test.

BTW, The `DecoderVideoRenderer` I mentioned is wrong, I did mean to `MediaCodecVideoRenderer`.

Apart from the above, could you introduce in detail which part of the code is used to calculate the render

[2021-06-15 08:14] ojw28 commented on #9056
I'm not really sure why we committed a workaround for the issue you refer to. I'm tempted just to revert it.

[2021-06-15 09:04] iblh commented on #9034
At present I found the logic is:
[code]
I didn't find when is the start time of SystemClock, if it is the time when the virtual machine starts as mentioned above, then this first frame rendered time will be very strange.
Because as far as I know, the first frame rendered time should be the time when the video is ready to play the first frame after the video is loaded, and irrelevant with the syste

[2021-06-15 09:06] ojw28 commented on #9056
That said, I'm also not sure what the text track in the attached file is. Have you found any player that will actually display the text track, and do you know how this file was created?

[2021-06-15 09:34] ojw28 commented on #9058
I'm not sure what's going wrong here, but I've filed an internal issue on those responsible for the AAC decoder to take an initial look [Internal ref: 191123693]. I'll provide an update when we hear back.

Heh :)

[2021-06-15 10:15] christosts commented on #8947
There are two things here:
1. I think the server is miss-behaving: it returns an HTTP 200 on a Range request, therefore it should transmit the entire file, but the player's HTTP client library receives fewer bytes. I did not debug this in detail.
2. In general, the advice is to have a server that supports Range requests with this kind of content: If the server does not support Range requests (and

[2021-06-15 10:15] #8947 closed, assigned to christosts

[2021-06-15 11:13] DarkAnakin opened #9059 "Concurrent buffer data loading implementation"
Hi,
I have a non critical issue when I try to play a video that the server take always more time to return a result than actual data duration.
As data buffered will always be consumed faster than the loading one, the player will need to rebuffer.

I use cronet extension as datasource with 6 fixed thread pool and need at least the video track use at least 2 concurrent thread to load  the data. How

[2021-06-15 11:24] apptrash commented on #9037
I've also notice next log on transition:
[code]

[2021-06-15 11:24] waltojac commented on #9056
Thanks for getting back so soon. Agreed, doesn't seem quite right. I am not interested in displaying the text track in a video player, it is just a way to associate metadata from our custom hardware with the video that we recorded. We store are going to store the data as JSON in the text track to be parsed later. This video was made by us using custom hardware.

[2021-06-15 12:02] ojw28 commented on #9004
There are a few things happening at the point of key rotation:

* The DRM init data (i.e., the PSSH box) changes. This occurs in both the media playlist (with a new data URI specified by an `EXT-X-KEY` tag) and in the FMP4 stream (embedded in the new initialization segment). ExoPlayer gives the DRM init data in the media playlist priority over that in the FMP4 stream. This is desirable, since it a

[2021-06-15 12:52] ojw28 commented on #9056
Got it. The workaround that introduced the problem you're seeing is:

The problem with it is that "only one track" is actually implemented as "only one track that we recognize", which is not quite the same thing. In your video there are two tracks, but we don't recognize the text track you're adding. To fix this we should either revert the workaround or plumb through the unrecognized tracks (or at

[2021-06-15 13:20] ojw28 commented on #9004
We'll get a fixed merged for this shortly.

@ipichkov - The way this media is setup seems sub-optimal, and possibly (although I'm not certain) in violation of the CMAF specification. In particular, I don't think you're supposed to put PSSH boxes in initialization segments ([this document relates to DASH, but heavily implies that this is required by the CMAF specification](https://dashif-documents.

[2021-06-15 16:07] devathul commented on #7560
@kim-vde  Just checking if it's possible to add this feature request?

[2021-06-15 16:10] Sasikumartech opened #9060 "With exoplayer demo app v2.13.2 tunneling mode enabled, Can't mute/unmute when audio is connected with Bt speaker"
In exoplayer demo app v2.13.2, we enabled video tunneling feature. And connected with BT speaker(Bose speaker).
While playing the video, AV is playing fine and audio is on bt speaker. But when I press the Mute button, It wont go for mute and getting the below prints from the android framework.

[code]

- Android version - Android Q

Note:
 - With out BT speaker the problem was not observed. Even t

[2021-06-15 16:26] apptrash commented on #9037
I've created sample application to reproduce this issue: https://github.com/apptrash/ExoBugSandbox

[2021-06-15 16:29] apptrash commented on #9037
I do think that it's a bug rather than question

[2021-06-15 16:30] apptrash commented on #9037
@claincly can you help me with this issue?

[2021-06-15 16:37] kim-vde commented on #7560
I am afraid we still don't have plans to work on this in the near future. What you can do is implement the fix in a pull request and we will look at it.

[2021-06-15 18:28] ipichkov commented on #9004
Thank you @ojw28 for the update. Unfortunately the asset packaging is outside of our control. I'm going to discuss this with Origin software vendor though to see if this is something the can address in the nearest future.

[2021-06-15 22:29] moneytoo opened #9061 "Unable to access items in popup menus of StyledPlayerView on older Android TV"
I use `StyledPlayerView` on Android TV devices. It's ok on Android TV 9.0 (like Xiaomi Mi Box S) but on older devices like Geniatech ATV598Max with Android TV 7.0, the items in popup menus (like subtitle languages or playback speed & audio) are inaccessible. No item can be selected using navigation keys.

Reproducible on Android TV emulators (API 24) as well.

Demo project: https://github.com/mone

[2021-06-16 00:00] rrfrias commented on #8319
The device (SOV34) launched in Oct, 2016. Sony might not be able to fix the issue because the product has been reached the end of product life already. Are you seeing this issue on a more recent device than Xperia XZ(OS:8.0.0)?

[2021-06-16 06:24] SUNYTYAGI commented on #9047
@christosts @ojw28  Could you please update on this ?

[2021-06-16 07:00] kingfisherphuoc opened #9062 "Huge dropped frames on a video comparing to MediaPlayer"
- ExoPlayer: 2.14.1
- Android 8.1
- Android device: Samsung J7 prime

I tried to play the video below locally with ExoPlayer. However, the video FPS is really bad. A lot of frames got dropped. I could reproduce this issue with the demo project (by putting the test file in the raw folder...). Do you have any suggestions to improve it? It worked pretty well with `MediaPlayer`, but I want some enhanc

[2021-06-16 07:45] pavhofman opened #9063 "Video rotation and scaling/cropping to fit fullscreen"
My goal is simple but I have been struggling with it for many days:

Live H264 RTSP feed from an IP camera of 1280 width x 720 height -> rotated by 90 degrees -> centred, scaled, cropped to fit portrait-mode 768 width x 1024 height display at fullscreen, no geometric distortion (same scale factor in both dimensions). That requires: resizing by factor 768/720 to fit the rotated width, rotating by 9

[2021-06-16 08:38] #9056 closed, assigned to ojw28

[2021-06-16 08:39] #9004 closed, assigned to ojw28

[2021-06-16 09:23] ponthamaya opened #9064 "Closed"
`

[2021-06-16 10:30] #9064 closed, assigned to ojw28

[2021-06-16 10:55] yoobi opened #9065 "[bug] getCodecCapabilities"
Hello, I'm getting error by Crashlytics, I couldn't reproduce this issue myself so I have only the stacktrace I'm getting from Crashlytics.
From my understanding it's trying to read a video mp4a but fails to do so
[code]
[code]
[code]
[code]

- ExoPlayer version number: 2.14.0
- Android version: 4.4.2
- Android device: alps M

[2021-06-16 12:22] y20k opened #9066 "MediaSessionConnector: Can onPause() be intercepted?"
I am developing a web radio player app. I am using [MediaSessionConnector.java ](https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java) to deal with MediaSession stuff. The UI of the app offers the following playback options: Play, Stop, Next station, Previous

[2021-06-16 12:50] claincly commented on #9037
I'll involve @christosts since it's related to HLS here. But one thing I wanted to make sure, are you able to reproduce the issue in our demo app? You can verify by adding an entry to
https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/demos/main/src/main/assets/media.exolist.json

The entry could look like

[code]

[2021-06-16 14:33] guidofranceschini commented on #9038
Hi again,
as promised, I made some tests using another playready enambled device (running AndroidTV 8.0)
Results are interesting: sometimes the multikey scenario works, sometimes it fails.
I have generated longer material, and created more complex manifest with several layers and 2, 3 or 4 keys.
For this new set of content also my FireTV behaves similarly,, i.e. it randomly plays or fails.
There s

[2021-06-16 15:04] apptrash commented on #9037
How can I add an entry to this repository? By using pull request?

[2021-06-16 15:05] apptrash commented on #9037
Of course, I will try to reproduce issue on demo app, but I don't think that it is possible to reproduce on it because there are some specific steps (like changing `playWhenReady` on `PLAYER_READY` event)

[2021-06-16 16:03] ongbh commented on #6168
Still having this problem.

ExoPlayer 2.13.3, oneplus 7. Logcat shown before.

[code]

[2021-06-16 16:19] marcbaechinger commented on #9066
There is a method `mediaSessionConnector.setControlDispatcher` to which you can pass a custom `ControlDispatcher` instance. You can just pass a `DefaultControlDeispatcher` of which you override the method `dispatchSetPlayWhenReady(Player player, boolean playWhenReady)`.

[2021-06-16 16:51] marcbaechinger commented on #7620
@raghavtilak Can you please open a new issue? I don't think its related because your stack trace shows a `FileNotFoundException`. If you file a new issue, please also add the URI that you tried to load and that produced the stack trace.

It seems to be a missing asset that you want to play and that is not found, so it's worth double checking the asset URI you are using and then mention it in the n

[2021-06-16 16:53] marcbaechinger commented on #8980
Closing due to inactivity.

[2021-06-16 16:53] #8980 closed, assigned to marcbaechinger

[2021-06-16 16:57] dmytropiriatenets opened #9067 "HLS Playlist with PlaylistType=Event cannot be loaded properly"
### **Preconditions**
To reproduce the issue it's required to have the `.m3u8` master playlist with a list of several media playlist (i.e., one of them is for subtitles, all others are to cover different bandwidth).
Further by `service` I mean the one which prepares the playlist by request, and which ExoPlayer communicates directly with

### **Description**
The issue happens with the HLS playlist

[2021-06-16 17:01] marcbaechinger commented on #8880
Sorry for my delayed response.

If this is still an issue, can you add some more details about you case? Are you using `MediaSessionConnector`?

I'm asking because as far as I can see, the `MediaSessionConnector` builds the `PlaybackStateCompat` with the value coming from `player.getCurrentPosition()` and I would expect that the `MediaSessionConnector` never sets a position that is negative.

Can

[2021-06-16 17:02] marcbaechinger commented on #8844
Closing due to inactivity.

[2021-06-16 17:02] #8844 closed, assigned to marcbaechinger

[2021-06-16 17:10] marcbaechinger commented on #9041
Can you reproroduce this with the ExoPlayer demo app as well?

If this happens only with your app can you add some details about the `DatabaseProvider` that you are using? Like where is the database supposed to be stored and does the app have permission to access it (eg. on external storage)?

[2021-06-16 17:39] AChep commented on #9041
I'm using the `ExoDatabaseProvider` with the default configuration. No, I'm unable to reproduce it and have never seen it on my test device.

[2021-06-16 19:10] y20k commented on #9066
I knew I was missing something obvious. Thank you!

[2021-06-16 19:10] #9066 closed, assigned to marcbaechinger

[2021-06-16 19:29] nishantkp commented on #8037
Hi @rrfrias,
any updates from Samsung on this codec issue?

[2021-06-16 21:36] rrfrias commented on #8037
Samsung is having some problems reproducing this issue. I just sent them additional instructions and logs yesterday. Will see if that helps.

[2021-06-16 23:46] zgzong opened #9068 "DASH Live key rotation handling implementation question."
DASH Live key rotation within a single period normally has following cases:
1. the PSSH is in the segment's MOOF only.
2. the PSSH is Manifest, init segment MOOV and segment's MOOF.

Currently, exoplayer com.google.android.exoplayer2.drm.DrmInitData createSessionCreationData() implementation will use the schemeData(PSSH) from manifest when manifest contains non-empty schemeData. If manifest doesn'

[2021-06-17 01:04] #8965 closed, assigned to krocard

[2021-06-17 01:04] #8936 closed, assigned to Samrobbo

[2021-06-17 01:04] #8772 closed, assigned to tonihei

[2021-06-17 03:11] Sasikumartech commented on #9060
Hi Team,

Any update on this issue?

[2021-06-17 05:40] jaewan-github commented on #8876
media2 intentionally disallows to modify media key behaviors, because too many users have complaint that their headsets behave unexpectedly rather than their manual says so. Could you tell me about the details about your customization? I'll have a look whether it can be the part of the common use case.

[2021-06-17 05:43] deprecated-fun commented on #9017
I could not reproduce the issue with the Exoplayer demo app. If it helps our project creates file and captures video with Camera View. Then the file is passed to Exoplayer to preview the footage.

[2021-06-17 06:40] LvJiangHua opened #9069 "mpg file with pcm audio track throw FfmpegAudioRenderer error"
**Question**
I am working on adding Exoplayer and it works fine. Just one of the videos throw FfmpegAudioRenderer error, it plays fine in VLC medial player

**EventLog**

[code]

**VLC Codec Information**

![微信截图_20210617143421](https://user-images.githubusercontent.com/86039937/122344254-2db8a480-cf79-11eb-8abe-2947df1f4072.png)

[2021-06-17 08:48] ishaq1994 commented on #8941
Hi ,
I 'm also facing the same issue , so what is the solution . please help !

[2021-06-17 08:52] charles-yinyu commented on #9046
HLS playlists aren't what we can control(.etc third party). Is there any way the player can rewrite the wrong startTimeUs like reading duration from ts segment instead of #EXTINFO.

[2021-06-17 09:20] ishaq1994 opened #9070 "Receiving DESCRIBE 401 when playing password protected RTSP content"
I am trying to access `rtsp://admin:admin12345@xx.xx.xx.211/Streaming/Channels/101`

I have created mediasource as shown below

[code]

[code]

### [REQUIRED] Use case description

### Proposed solution

### Alternatives considered

[2021-06-17 09:36] ojw28 commented on #9070
I suspect you need to update to version 2.14.1.

* If the issue still occurs with 2.14.1, please provide all of the information requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) (please copy/paste it here rather than opening a new issue), including a new stack trace showing the point at which the failure o

[2021-06-17 09:41] ojw28 commented on #9059
I don't understand the question. You seem to be saying that (a) the server cannot transfer media at faster than 1x speed, and (b) this means that the client will need to re-buffer. This is correct, and (b) is fundamentally unavoidable if (a) is true. If you wish to avoid re-buffering, you'll need to make it so that (a) is false. For example by re-encoding the content at a lower bitrate.

Please co

[2021-06-17 10:17] christosts commented on #8960
Thank you for pointing this, we will submit a fix soon

[2021-06-17 10:32] andrewlewis commented on #9017
Just a guess, but if you are using an output view to show media taken from more than one source (camera preview, ExoPlayer) I think there can be errors due to limitations around reusing surfaces. You could try using an output view that is just for ExoPlayer if this is the case.

If you could share a full bug report taken just after seeing the error that may possibly shed some light on the cause.

[2021-06-17 10:32] pavhofman commented on #9063
IIUC AspectRatioFrameLayout just limits size of output video surface based on aspect ratio. In my case of fullscreen the parameter ResizeMode.RESIZE_MODE_FILL should be used as it keeps the layout at screen size.

But I would like the codec to scale + crop using VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING (without rotation that should work correctly according to https://developer.android.com/ref

[2021-06-17 10:45] ishaq1994 commented on #9070
I tried after updating to 2.14.1 and received below exception, Please provide a successful example code of creating mediasource

E/AndroidRuntime: FATAL EXCEPTION: ExoPlayer:Playback
    Process: com.example.rtspplayer, PID: 29313
    java.lang.NullPointerException
        at com.google.android.exoplayer2.util.Assertions.checkNotNull(Assertions.java:154)
        at com.google.android.exoplayer2.so

[2021-06-17 11:27] claincly commented on #9070
Please add log to display the lines of the exchanged RTSP messages, thanks!

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMessageChannel.java#L226

and

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer

[2021-06-17 11:32] ammarasim opened #9071 "How to handle subtitles that exist across segment boundary?"
I'm facing a problem same as the one discussed here https://github.com/google/ExoPlayer/issues/7374. Looking at the https://github.com/google/ExoPlayer/issues/7374#issuecomment-628726695 it seems the problem is that stream is not according to DASH specs. However, same stream is working fine in other players like **bitmovin**. Meaning that these players are handling this case and displaying subtitl

[2021-06-17 11:35] pavhofman commented on #9063
Hm, setting VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING and  VIDEO_SCALING_MODE_SCALE_TO_FIT makes no visual difference. It just does not make any sense to me. Rotating a video and scaling while maintaining aspect seems to be an insurmountable problem...

[2021-06-17 12:20] DarkAnakin commented on #9059
Of course the issue should be resolve on the server side but I don't have any control on it. I try to play a live 4k content but if the link between the client and the server is not optimal the player need to re-buffer or play at lower resolution. After I have read the parallelize downloads implementation in the version 1.12 I have thinking that maybe I could solve my issue but I could not found h

[2021-06-17 12:23] MathiasOhrstrom opened #9072 "How to remove Y translation from DefaultTimeBar"
We use `StyledPlayerControlView` but have a problem with `DefaultTimeBar` having a different animation that the rest of the controls that fade in.

How can i remove the Y-translation animation on the `DefaultTimeBar`?

We are using ExoPlayer `2.12.3`
Example video:

https://user-images.githubusercontent.com/26031482/122393842-9aca3b00-cf75-11eb-8b03-b917b6b1275a.mov

[2021-06-17 12:38] ojw28 commented on #9059
Closing because it doesn't sound like a client issue.

[2021-06-17 12:38] #9059 closed, assigned to ojw28

[2021-06-17 12:54] icbaker commented on #9071
I believe the DASH spec includes this requirement for a reason: Imagine if segment N requires subtitle data from segment N-1, and you seek into segment N from segment N-2. The player shouldn't need to download segment N-1 at all, but if you need segment N-1 to correctly show the subtitles for segment N then you're stuck with either:
* Not showing the subtitles (current behaviour)
* Optimistically

[2021-06-17 12:54] #9071 closed, assigned to icbaker

[2021-06-17 13:08] ishaq1994 commented on #9070
How can I over ride this methods  Thanks

[2021-06-17 13:58] krocard commented on #9036
This might be the same issue as the internal issue b/161961414 and #8058 on Google Glass. At the time we concluded that it was an error of the JVM to try to load the class even though the SDK check should have prevented it.

It was nonetheless worked around in 2.12.1 (2020-10-23) in https://github.com/google/ExoPlayer/commit/230f4e5bb5c7e51ebceb645558adb833bd0db1a2 by making the class anonymous. M

[2021-06-17 16:18] icbaker commented on #9038
Thanks for the more detailed content - I tried the provided samples on the Chromecast with Google TV I have access to and didn't see any CryptoException failures.

I did see some other playback failures:

I intermittently saw:
[code]

And l also saw some errors that looked like MP4 extraction errors, as if the extractor tried to read too much data from the MP4 file (which generally means the MP4 f

[2021-06-17 16:46] hanlareum opened #9074 "question of AC3 volume level."
When using ffmpeg extension, the volume level of AC3 2channel and AC3 6channel is different.
How can I fix it?

[2021-06-17 17:17] claincly commented on #9070
I don't understand you question, but the simplest way is to add a `Log.e("RTSP", message);`  on the lines I mentioned in the previous comment.

The NPE looks like the RTSP response is missing a CSEQ header, which is illegal.

[2021-06-17 17:23] guidofranceschini commented on #9038
Actually, I had similar behavior with a STB running AndroidTV 8. It's unfortunate you cannot replicate :(
But I understand, if you cannot replicate, you can hardly help.
Thanks anyway

[2021-06-17 18:10] ojw28 commented on #9072
It doesn't look like it's easy to do this, I'm afraid.

It's an entirely reasonable request in isolation, but what we see is that developers who want to customize our UI components generally all want to do so in different ways. Hence whilst each request may be reasonable in isolation, it doesn't make sense for us to support them all (each request is only going to benefit a small number of develope

[2021-06-17 19:05] ojw28 commented on #9061
I can reproduce this on API level 25 and earlier (but not API level 26 and later).

[2021-06-17 19:22] ojw28 commented on #9069
Please provide complete information, as requested in the issue template. Including:

1. Access to the stream that reproduces the problem
2. A complete bug report captured shortly after encountering the problem. Of particular interest would be any logging containing the string `avcodec_send_packet`, which I think is output shortly before the failure

[2021-06-17 19:29] ojw28 commented on #9053
Unfortunately the point of failure doesn't seem to be included in the bug report. Did you capture it shortly after encountering the issue? If you didn't do this, please could you do it and send us the fresh bug report? If you did do this the first time, please could you capture logcat output at the point of failure, and provide us with that instead? Make sure to capture the failure and at least a

[2021-06-17 19:47] Miklesam opened #9075 "Ads: Support moving playback from one view/activity to another"
Hello, I am trying to find an example using a rather trivial case of screen rotation when playing an ad. But in the examples, the manifest contains:

android parameter: configChanges = "orientation", so when rotate, views does not recreating.

In my case, without android parameter: configChanges = "orientation". When I rotate the screen, I lose information about the advertisement.

https://user-im

[2021-06-17 21:58] ojw28 commented on #9074
ExoPlayer feeds the sample data through FFmpeg to decode it, and then feeds the decoded output to `AudioTrack` for playback. So the player is more or less just an intermediary here.

I'm somewhat unclear what you mean by "different", because the source content itself is different. Are you sure the source content has the same volume in both cases? For us to investigate further, you'll need to provi

[2021-06-17 22:06] grndvl1 commented on #9036
I am using 2.12.0.  I will see if I can upgrade to 2.12.1 but I tried upgrading 2.12.3 and project blows up due to deprecation, when that is the case I need to write a bunch of tickets and client does not like upgrading as they have to run through security checks for each and every library update along with code fixes for library changes

[2021-06-17 22:21] ojw28 commented on #9065
How many occurrences of this crash are you seeing? If you're seeing relatively low volume then I don't think it's worth spending time on this. It looks like the underlying platform is throwing an `IllegalArgumentException`, probably spuriously, but the device you've specified is running an 8 year old version of Android and seems unlikely to be in circulation in high numbers.

[2021-06-18 01:04] #8966 closed, assigned to AquilesCanta

[2021-06-18 03:15] KazukiSugiyama107 commented on #9053
Thank you for your confirmation!
We will check the acquisition status of the bug report and request the acquisition of the bug report again.

[2021-06-18 03:23] LvJiangHua commented on #9069
Thanks @ojw28  for the response.

- ExoPlayer 2.14.1
- Android 9.0

**stream of the video**

`https://pan.eastcmiot.com:10086/d/f/webapi/entry.cgi/mpg_pcm.mpg?api=SYNO.SynologyDrive.Files&method=download&version=2&files=%5B%22id%3A626224929144093690%22%5D&force_download=true&json_error=true&_dc=1623984919523`

**bug report**
[code]

`avcodec_send_packet: Invalid data found when processing input`

[2021-06-18 04:06] isaacdz opened #9076 "Override selectVideoTrack , but it keeps calling the initial track"
I'm trying to deploy a Random Forest Classier Model in Exoplayer using Weka API .
After each onLoadCompleted, I predict the best track to be downloaded next ,  as I was looking for the best implementation here , I went through 2 possible ways  .

-  SelectionOverride   inside  onLoadCompleted
[code]

- Extend DefaultTrackSelector and Override  selectVideoTrack
[code]

because of the stall Duration

[2021-06-18 07:28] zhhach123 commented on #8867
thanks,I have solved this problem.

[2021-06-18 07:28] #8867 closed, assigned to icbaker

[2021-06-18 07:42] zhhach123 opened #9077 "How can I play flac files which sample rate is 384kHz or 352.8kHz.Is there any functions to resample flac files."
Hi,
I have a android project using Exoplayer to play music.Now I have a project function to play DXD audio files.This audio files is flac files which format is 384kHz/24bit or 352.8kHz/24bit.Most of mobilephones do not support the sample rate.So,is there any solutions?
My solution is to resample these DXD files to 192kHz or 176.4kHz,then play them.Is there any functions to resample flac files in E

[2021-06-18 08:32] ojw28 commented on #9077
Have you tried using the FLAC extension? It looks like we removed any restriction on sample rate in [this commit](https://github.com/google/ExoPlayer/commit/67a748f47d6aa7973e5f2cb168907d55a266263b), which would suggest that playback might work from 2.11.2 and above.

If it doesn't please provide complete information as requested in our issue template, including reproduction steps.

[2021-06-18 08:39] ojw28 commented on #9076
If your goal is to implement an ABR algorithm for DASH and/or HLS then you'll need to implement a custom `TrackSelection`. As a starting point, I'd suggest you look at `AdaptiveTrackSelection` in the library, which is the built in ABR algorithm. The quality evaluation happens in `AdaptiveTrackSelection.updateSelectedTrack`. It may be easiest for you to start by forking `AdaptiveTrackSelection` and

[2021-06-18 08:52] ojw28 commented on #9075
The problem with your approach is that the views are all being recreated (because you're not using `configChanges = "orientation"`), but the player is not.

Hence you're effectively moving playback from one set of views to another. We don't support this for ad playbacks at the moment, unfortunately. It would be good for us to provide support, but this may also require changes in the IMA library, s

[2021-06-18 09:09] Miklesam commented on #9075
@ojw28 Thanks for your reply.

Do I understand correctly that when the player is recreated, the ad request will be repeated and the ad will start playing from the beginning?

Is it possible not to re-request the ad again and save the place where the ad stopped?

Thanks for the help!

[2021-06-18 09:18] krocard commented on #9036
The amount of depreciation is fairly minimal in 2.12.1, only `AdsMediaSource` was: https://github.com/google/ExoPlayer/compare/r2.12.0...r2.12.1.
I would suggest either backporting the fix or updating to 2.12.1.

[2021-06-18 09:19] krocard commented on #9036
Please reopen if this doesn't fix your issue.

[2021-06-18 09:19] #9036 closed, assigned to krocard

[2021-06-18 09:20] krocard commented on #9036
Could you please also comment which device is affected?

[2021-06-18 09:30] mickael-qobuz commented on #5993
Hi, do you plan to fix that issue? Would be great. Thank you.

[2021-06-18 09:31] UtsavG93 commented on #9058
i facing same issue POCO M2 Android 10
in ExoPlayer  #2.14.1.

the m4a files i have those from iTunes and then transferred them to an Android phone
[song_test.zip](https://github.com/google/ExoPlayer/files/6676097/song_test.zip)

[2021-06-18 09:58] ojw28 commented on #9069
Based on typing the error number (`16976906`) into Google, I think it's likely you're hitting this bug in FFmpeg: https://trac.ffmpeg.org/ticket/8428

It looks like [the fix](https://github.com/FFmpeg/FFmpeg/commit/9e0ddb5e80542d72059f9d817722a6e386ecc037#diff-2b6f2d8f27678b6fc51e65003636b90c015d44a583db15ccf0a8f8c34fa2cc06) made it into FFmpeg 4.3, where-as our [FFmpeg extension instructions](htt

[2021-06-18 11:37] jrocharodrigues commented on #8842
Just tested it and it works very well :) Thank you

[2021-06-18 12:19] yoobi commented on #9065
Yes you're right only a few users are affected by it and this bug seems to be only on Android 4. So I think we can discard this bug :)

[2021-06-18 12:19] #9065 closed, assigned to ojw28

[2021-06-18 13:00] krocard commented on #9060
[`AudioManager.adjustStreamVolume`](https://developer.android.com/reference/android/media/AudioManager#adjustStreamVolume(int,%20int,%20int)) will mute the music stream of the whole device. It will mute all other application too, and persist after the application is closed. This is identical to the user pressing the mute button on the remote/system ui.

It is highly unusual for an application to c

[2021-06-18 14:10] grndvl1 commented on #9036
We error on deprecation in our builds either you suppress or fix.  Client does not like to suppress.

[2021-06-18 14:36] inv3rse commented on #9026
I have looked a bit more into it, but it seems like with the workaround all the other info is also set appropriately.
The position and duration is correct, and the MediaItem is also there.

I can not see the internal tracker, so I might be missing something.
But since it looked fine to me I created a pull request.

[2021-06-18 14:44] grndvl1 commented on #6265
Yeah, I'm surprised there is no way to show a placeholder image then when prepare and play go, hide that image and show video.  Should be an option unless there is something blocking that from happening.  I will just wrap an image view and show hide when player is prepping.

[2021-06-18 15:17] julianD77 commented on #4188
The solution in our case was simply to do as detailed by @starchey above and not use a caching DataSource

[2021-06-18 16:32] ojw28 commented on #9057
Marking "needs more info" because insufficient information was provided to make it clear what's being asked.

[2021-06-18 17:06] ojw28 commented on #9053
Marking as `needs more info` until the updated bug report has been provided.

[2021-06-18 17:43] logituitrel opened #9079 "How to setAllowChunklessPreparation(true) in MediaSourceFactory"
We were earlier using ConcatinatingMediaSource to prepare our player.
While creating mediasource, we were using the following to enable chunkless preparation for HLS:
`HlsMediaSource.Factory(dataSourceFactory).setAllowChunklessPreparation(true);`

Now, we are moving to using MediaItems instead of mediasource to keep our app in line with latest releases of exo sample app. How can we enable chunkles

[2021-06-18 18:26] ojw28 commented on #8922
Hiding and displaying the system bars is handled by application code rather than by ExoPlayer, so it's somewhat unclear to what extent this is an ExoPlayer issue. If you'd like us to take a look at what's going on, please could you provide a simple GitHub project that we can clone to reproduce the issue? Thanks!

[2021-06-18 18:30] ojw28 commented on #9046
This doesn't seem like something that should fall on the client. Closing as `bad media`.

[2021-06-18 18:30] #9046 closed, assigned to christosts

[2021-06-19 00:01] poptong opened #9080 "RTSP: Specific stream does not play"
implementation 'com.google.android.exoplayer:exoplayer-core:2.14.1'
    implementation 'com.google.android.exoplayer:exoplayer-dash:2.14.1'
    implementation 'com.google.android.exoplayer:exoplayer-hls:2.14.1'
    implementation 'com.google.android.exoplayer:exoplayer-rtsp:2.14.1'

rtsp://live.wjmbc.co.kr/fm2

[code]

[2021-06-19 00:17] poptong opened #9081 "HLS stream does not start playback"
http://123.140.197.22/stream/2/play.m3u8

Does not jump from STATE_BUFFERING to STATE_READY

[2021-06-19 05:03] harishiyer0204 opened #9082 "Does Exoplayer download a chunk completely before processing (decoding) it ?"
Does Exoplayer download a chunk completely before processing (decrypting, decoding) it. Is there a way to override this and start decoding / playback before the chunk is completely downloaded. The content is an MPEG-DASH content with a 6 second chunk size.

I am on the latest version of Exoplayer. I am trying to improve the Video Start Time and hence this query. Also, will smaller chunk sizes impa

[2021-06-19 07:43] LvJiangHua commented on #9069
Hi @ojw28
I have tried FFmpeg 4.3/4.4,but the problem still exits.
The bug report is the same as before.
[code]

I think the problem is the same as #6956

[2021-06-19 09:00] ibrajix opened #9083 "How to queue songs with exoplayer"
How to Make Exoplayer Form a Queue From A list of songs
-------------------------

I am building a music player app.

In there, there are various segments:

All Songs - All songs from a user device
Playlist - All songs a user has added to playlist
Favourites - Songs a user has added as favorites/liked
Artistes Songs - All songs from an artiste

Right now, I have set up everything and I can play "A

[2021-06-19 09:17] asongkai commented on #6168
Can you please show the code how you do it?

[2021-06-19 11:15] chvp opened #9084 "Use `ControlDispatcher` for dispatching next/previous in media2 extension"
[The current implementation](https://github.com/google/ExoPlayer/blob/release-v2/extensions/media2/src/main/java/com/google/android/exoplayer2/ext/media2/PlayerWrapper.java#L238) calculates the previous position itself and uses `ControlDispatcher.seekTo` to seek to it. This is different from [the default behaviour in the mediasession extension](https://github.com/google/ExoPlayer/blob/bd54394391b0

[2021-06-19 12:35] menscikov commented on #8292
Hello again,

If i understood correctly, latest cronet-embedded library version is very old (2019 year), and according to this message, they no longer provide updates (https://groups.google.com/a/chromium.org/g/net-dev/c/RdMsMNLwSDw).
I have to use embedded version because Google Play Services are not available on all Android devices.
Could you tell me please where to get the latest version and ho

[2021-06-19 13:54] ojw28 opened #9085 "Cronet extension: `cronet-embedded` dependency is out of date"
The [Cronet extension README](https://github.com/google/ExoPlayer/tree/release-v2/extensions/cronet) contains instructions for using `cronet-embedded`, but the Cronet Embedded library hasn't been updated since 2019. Newer versions are available directly on Google Cloud Storage, [here](https://pantheon.corp.google.com/storage/browser/chromium-cronet?pageState=(%22StorageObjectListTable%22:(%22f%22:

[2021-06-19 13:58] ojw28 commented on #8292
@menscikov - Thanks for bringing this to our attention. I've filed https://github.com/google/ExoPlayer/issues/9085 to track this. As noted on that issue, it seems newer versions are available as binaries hosted on Google Cloud Storage. If `cronet-embedded` isn't going to receive future updates, then we'll need to figure out how to use those directly and update our instructions (in the meantime, yo

[2021-06-19 14:23] menscikov commented on #8292
@ojw28 - Thank you very much.

Actually i'm using Cronet at this moment only because some of my users can't watch videos on Wi-Fi connection with default ExoPlayer HttpDataSource and also with ExoPlayer OkHttp extension. On mobile connection it is working fine.

When i changed it to CronetDataSource, videos started to play without any problems on Wi-Fi and mobile connection for these users.
The st

[2021-06-19 14:30] ojw28 commented on #9082
No, it doesn't. Chunks are processed incrementally as they become available.

No, I wouldn't expect this to improve startup latency.

[2021-06-19 14:30] #9082 closed, assigned to ojw28

[2021-06-19 14:33] ojw28 commented on #9083
You can read about ExoPlayer's support for playlists [here](https://exoplayer.dev/playlists.html).

Beyond that, this doesn't sound like an ExoPlayer library question. It's the job of your application code to provide the correct set of media items, and doing this correctly does not fall within the scope of this issue tracker.

[2021-06-19 14:33] #9083 closed, assigned to ojw28

[2021-06-19 14:37] ojw28 commented on #9080
@claincly - Can we come up with a better behaviour for this case? It also came up in https://github.com/google/ExoPlayer/issues/9014. The "hashmap like behaviour" suggested at the bottom of that issue seemed reasonable to me, particularly if it allows playback to proceed for the problematic streams.

[2021-06-19 20:31] moneytoo opened #9086 ""Unclickable" zones in track selectors of StyledPlayerView"
Please see the screenshot of StyledPlayerView with opened audio track selector popup window (& layout bounds enabled). When there's at least one longer string (like "English, 5.1 surround sound" in this case), other shorter items do not span the full width and contain "unlickable" (meaning that click doesn't result in item selection) zone on the right.

![Screenshot_20210619-215902](https://user-i

[2021-06-20 05:24] Empressia opened #9087 "can not decode APICFrame picutreData (mimetype=image/png, encoding=UTF-16, description=Cover)"
### Problem

I extracted the APICFrame from an MP3 file and tried to decode it with BitmapFactory#decodeByteArray.
but it returns null.

### MP3 file information

MP3 files are updated by mutagen (version 1.45.1 python library),
For AICFrames, the encoding is UTF-16, MIMEType is image/png, and description is "Cover".

### APICFrame#toString()

It is dingy.

### Environment

* ExoPlayer version num

[2021-06-20 05:31] Empressia commented on #9087
I made a mistake, so I'll fix it.

[2021-06-20 05:38] Empressia commented on #9087
fix UTF-8 to UTF-16 (I didn't know how to fix the title...).

[2021-06-20 08:11] Empressia commented on #9087
I added test case to my fork repository.
https://github.com/Empressia/ExoPlayer/tree/dev-v2-issue-9087
https://github.com/Empressia/ExoPlayer/commit/b0f0415d2221126fcba996fdda3ebfe33b9d1e6d

* Test Result.

[2021-06-20 09:41] ishaq1994 commented on #9070
How can I add logs in read only file

[2021-06-20 10:48] javaboboApp opened #9088 "Possible bug in player"
Protocol used: DASH
Android version: 10
Emulator: Yes
Exoplayer demo app used? : Yes
DRM scheme: Widevine
Authentication HTTP headers: Bearer "token"

Steps:
1.Setup demo app with stream url, drm license, token.
2. Player start to play content correctly.
3. Once content finish STATE_ENDED never is called.

playWhenReady: true , playStateReady: ready, windows: 0.

More info via email.

[2021-06-20 11:29] ishaq1994 commented on #9070
E/RTSP: OPTIONS rtsp://10.10.10.244/Streaming/Channels/101 RTSP/1.0
    cseq: 0
    user-agent: ExoPlayerLib/2.14.1
E/RTSP: RTSP/1.0 200 OK
    Public: OPTIONS, DESCRIBE, PLAY, PAUSE, SETUP, TEARDOWN, SET_PARAMETER, GET_PARAMETER
    Date:  Sun, Jun 20 2021 15:43:53 GMT
E/AndroidRuntime: FATAL EXCEPTION: ExoPlayer:Playback
    Process: com.example.Nucleon, PID: 17181
    java.lang.NullPointerExcep

[2021-06-20 12:09] ishaq1994 commented on #9070
Hi please find the log attached below

[code]

[2021-06-20 19:34] claincly commented on #9070
The RTSP response is missing a CSEQ header, which, quoting from the RTSP spec:

Your server is not acting correctly.

[2021-06-21 00:55] nihk commented on #867
Here's a simple app showing how I've been doing it with ViewPager2:
https://github.com/nihk/exo-viewpager-fun

![demo](https://user-images.githubusercontent.com/10007101/122693982-f3196b00-d209-11eb-8549-6e3026363088.gif)

[2021-06-21 01:04] #8956 closed, assigned to andrewlewis

[2021-06-21 03:27] zhhach123 commented on #9077
Yes,I have using the Flac extension.The question is the function AudioTrack.getMinBufferSize() return -2.
`        if ( (sampleRateInHz < AudioFormat.SAMPLE_RATE_HZ_MIN) ||
                (sampleRateInHz > AudioFormat.SAMPLE_RATE_HZ_MAX) ) {
            loge("getMinBufferSize(): " + sampleRateInHz + " Hz is not a supported sample rate.");
            return ERROR_BAD_VALUE;
        }
`
AudioForma

[2021-06-21 04:32] DharamMaz commented on #9003
@andrewlewis we have tried the same video in demo app and its working fine. so we are checking now in our app.but could not understand why its throwing exception only on one single device while working fine on other devices?

[2021-06-21 05:47] ishaq1994 commented on #9070
Hi I am able to play same link in  windows VLC medial player , this is for testing purpose ,
is there any way I can bypass it for the time being ?

[2021-06-21 06:45] harishiyer0204 opened #9089 "Exoplayer loads more than 2 seconds data for bufferForPlaybackMs of 1 second, before start of playback. Why ?"
I understand that ExoPlayer does not wait for an entire chunk to download before starting playback. However, with chunk length being 4 seconds and "bufferForPlaybackMs" set to 1 second, it still loads more than 2 seconds of content before starting playback. What could be the reason for this?

[2021-06-21 07:50] andrewlewis commented on #9003
Does your app have any customized components (a custom data source or caching/downloading functionality for example)?

[2021-06-21 07:52] DharamMaz commented on #9003
yes, our app have caching/downloading functionality.

[2021-06-21 07:54] andrewlewis commented on #9003
It seems quite likely that that device's cache is in a bad state. You could try clearing the cache/storage and playing the video again (but it may be difficult to figure out what went wrong having done that!).

[2021-06-21 07:57] DharamMaz commented on #9003
but it happens while we are playing the video online or after the fresh install app.

[2021-06-21 08:22] claincly commented on #9070
Yes you should be able to.

Long story short, an RTSP request contains a cseq number, and the response carry the same sequence number, that's how the RTSP client knows which request corresponds to the incoming response.

You could try move the cSeq definition on `RtspClient:L299` to the otter class, and remove the line `RtspClient:L426` that checks for the cseq.

[2021-06-21 08:31] claincly commented on #9080
It's a different issue (#9014 is related to media description, while this is session description), but we can apply the same method. Will have a fix soon.

Note though, the user is playing ASF data format (from the SDP: `a=rtpmap:96 x-asf-pf/1000`), which we don't support right now. The stream won't play even with the fix.

[2021-06-21 08:37] VeiZhang opened #9090 "About dolby no sound"
When filing a question:
-------------------------

Dolby didn't have sound with Exo in android box "Allwinner", but media player can work well. I check the log info and I don't know how to fix.

[code]

I upload some video clips,
https://github.com/VeiZhang/Test/blob/703d442587847a813f6793aa0a48bcc08d8d2eeb/video/allwinner_dolby_no_sound.mp4
https://github.com/VeiZhang/Test/blob/703d442587847a813f

[2021-06-21 09:47] EduardAblekimov commented on #9011
Hey @claincly
I am curious if there is any work planned to do on the topic? Or maybe some ETA? Its important to me to make a decision internally.

Meanwhile I found something else, it might be connected, might not:
When I am starting playback, my app crashes in ~4 minutes with out of memory.
[Screenshot of Android Studio Monitor](https://i.imgur.com/2JcrfgE.png). Playback is started whenever CPU s

[2021-06-21 10:13] giladna opened #9091 "How does player inform about all available tracks when doing the transition from offline to online playback?"
Hi,

I am working on new feature for speeding up the playback join time.

I am using the offline manager to download the first chunks of some medias which I predict my app user will play.

In order to make the download size as little as possible I am downloading only one track, say the medium bitrate and preferred language, so my offline manifest will not have all tracks that actually available in

[2021-06-21 10:19] ivanzhang2 commented on #8999
how to customize?
server side response code or   exo source code ?

[2021-06-21 10:37] xshiwei commented on #3327
Any news about this issue ?

[2021-06-21 11:00] icbaker commented on #9088
When I play the content provided over email in the demo app I see the playback counter continue past the 2:26:03 'end time' and no `STATE_ENDED` event is logged from the `EventLogger`.

I removed the `EventStream` section of the manifest and now the playback stops at 2:26:03 and `STATE_ENDED` **is** logged.

The `presentationTime` and `presentationTimeOffset` values in the `EventStream` seem to be

[2021-06-21 11:00] #9088 closed, assigned to icbaker

[2021-06-21 11:13] icbaker commented on #9090
Audio works fine for me with both media files playing in the demo app on a Pixel 3a XL.

However both media files cause a lot of `EOFException` to be thrown, before eventually playback fails (example below). I suspect the MP4 files aren't valid.

I don't know what the cause of the audio problems on the device you're using are, but given that it doesn't reproduce on another device it seems likely t

[2021-06-21 11:13] #9090 closed, assigned to icbaker

[2021-06-21 12:01] DharamMaz commented on #9003
@andrewlewis thank you very much. our issue is resolve

[2021-06-21 12:02] andrewlewis commented on #9003
Thanks. I will close this. If you learned anything that might help other ExoPlayer users please do post a quick summary here!

[2021-06-21 12:02] #9003 closed, assigned to andrewlewis

[2021-06-21 12:14] claincly commented on #9011
Hey, thanks for asking.

We don't have a plan on this topic at the moment. I will take a look at the memory issue. Would you mind specifying what video format you are playing? H264 of what kind of bitrate/resolution?

[2021-06-21 12:16] EduardAblekimov commented on #9011
Same as I wrote above:

[code]

[2021-06-21 12:59] lwld commented on #5771
@ojw28 in 2.14.0, the `PlayerNotificationManager` constructors are deprecated and `PlayerNotificationManager.Builder` should be used instead. But when using the builder, it is not possible to override `getActions`. For now, it is still possible to use `PlayerNotificationManager` directly without the builder by using the deprecated constructor.

However this only works as long as these constructors

[2021-06-21 13:03] claincly commented on #9011
That does not look too bad, I tried to play some H264+AC3 video (~32Mbps) for a while and here's how the memory usage looked like, there are drops (GC) here and there. Not sure the memory issue is due to the video does not play properly?

<img width="1456" alt="Screen Shot 2021-06-21 at 2 00 54 PM" src="https://user-images.githubusercontent.com/84200018/122766422-6a4a1000-d299-11eb-8fd7-e93a99ba43

[2021-06-21 13:11] hot1sp opened #9092 "DASH Low Latency on ExoPlayer version 2.13.2 issue frame freeze"
Hi

We're testing the DASH Low Latency on ExoPlayer version 2.13.2 and encountering an issue of freeze frame during playback

The issue is being described as a freeze frame happens from time to time after tune to the LLC channel, which we can see in the player logs accordingly a Buffering message (freeze occurs) and after 1-2 seconds resume to Ready and continues playback:

[code]

The DASH LLC st

[2021-06-21 13:49] icbaker commented on #9092
I'm not completely clear of the problem you're describing. Do you see playback of the attached manifest start, progress and then pause briefly before continuing? Or are you asking about start-up latency - i.e. the time before the content starts playing at all? It's not obvious what you mean by 'tune to the LLC channel', since of course there's no 'tuning' into an RF signal going on :)

The provide

[2021-06-21 14:14] ojw28 commented on #9089
There's a certain amount of parallelism in the way this logic works. Once `bufferForPlaybackMs` of media has been downloaded, playback will start. But whilst playback is starting the player is continuing to download media, so depending on how quickly media is being downloaded, and on how quickly playback is able to start, there may be more media in the buffer by the time playback has actually star

[2021-06-21 14:50] grndvl1 opened #9093 "Dead Thread Crash Appears When Restarting App."
Handler (android.os.Handler) {7e02fd9} sending message to a Handler on a dead thread
    java.lang.IllegalStateException: Handler (android.os.Handler) {7e02fd9} sending message to a Handler on a dead thread
        at android.os.MessageQueue.enqueueMessage(MessageQueue.java:543)
        at android.os.Handler.enqueueMessage(Handler.java:643)
        at android.os.Handler.sendMessageAtTime(Handler.j

[2021-06-21 15:20] icbaker commented on #9079
I wonder if we could add a method to `DefaultMediaSourceFactory` that allows developers to provide per-`C.ContentType` custom `MediaSourceFactory` implementations. So then this would look something like:

[code]

This way you still get all the other logic provided by `DefaultMediaSourceFactory` around subtitles, ads, etc.

[2021-06-21 15:40] icbaker commented on #9093
Are you sure this is a crash? I believe that message is logged as a warning and shouldn't cause a crash:
https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/os/MessageQueue.java;l=562;drc=5d123b67756dffcfdebdb936ab2de2b29c799321

See the discussion in https://github.com/google/ExoPlayer/issues/426 for the same warning triggered by a different call-site (

[2021-06-21 15:46] krocard commented on #9036
Could you please comment which device is affected so we can guard against such issue in the future? Thanks

I understand your issue. We try to only have bug fixes in minor release but it is not always possible to fix bugs without tweaking some APIs.

[2021-06-21 16:13] grndvl1 commented on #9093
Sorry yeah it doesn't crash but nothing plays.  We are using a video for the start screen and this error occurs and nothing plays.  If I finish the app by hitting backbutton it will play properly on next restart.  But I think I have the solution and that is to not hang onto player but saved in the oncreateview() using the SimpleExoPlayer.Builder().build.  Instead in onResume() call and save it her

[2021-06-21 16:15] grndvl1 commented on #9036
Both the Google TV and FireTV

[2021-06-21 17:23] ojw28 commented on #9086
I've also noticed this, and spent half a day or so trying to figure out how to fix it without success. We'd definitely welcome a pull request to fix the issue, if you manage to figure it out. Marking as a bug for now.

[2021-06-21 17:29] ojw28 commented on #9077
Ah. I think what happens is that the FLAC extension can decode the audio fine, but the decoded PCM is still in the high sampling rate, which the underlying platform cannot handle.

As such, this type of audio is currently unsupported. You may be able to figure out a way to resample to a lower rate either in the FLAC extension, or using an `AudioProcessor`. Since it's a niche use case, it's unfortu

[2021-06-21 17:29] #9077 closed, assigned to ojw28

[2021-06-21 18:12] ojw28 commented on #9067
Thanks for the detailed report! We've been provided with another bug report that looks similar to this one, and can be fixed in the same way (although I don't think that's quite the right fix). It's hard to be completely certain that both issues are exactly the same, since you haven't provided a test stream for us to check with, but we can probably work under the assumption that they are. I'll upd

[2021-06-21 19:07] giladna opened #9094 "When changing video tracks in Live + Dash + DRM Widevine + HEVC Media the first 2 seconds frame are pixled"
I am playing live dash drm hevc media on the demo app
with the following bitrates:
 384000, 560000, 920000, 2200000, 4520000

when track selection is done manually I can see that the first frames are not fluent and pixels are shown

when I run this media on Android TV I do not see this issue on tracks selection but on mobile device it is happening.

when I perform track selection using the dialog

[2021-06-21 20:43] ojw28 commented on #9086
Actually, I have a fix for this. I'll merge it shortly.

[2021-06-21 20:57] ojw28 commented on #9041
How many occurrences of this issue are you actually seeing in production? If the volume of crashes is very low, then it's probably a platform issue related to some rarely occurring state, which would be much less worth investigating.

[2021-06-21 21:00] #9072 closed, assigned to ojw28

[2021-06-21 21:02] #8207 closed, assigned to marcbaechinger

[2021-06-21 21:04] #7529 closed, assigned to AquilesCanta

[2021-06-21 21:33] #9061 closed, assigned to ojw28

[2021-06-21 21:34] #8960 closed, assigned to christosts

[2021-06-21 21:57] #8982 closed, assigned to marcbaechinger

[2021-06-21 22:00] ojw28 commented on #8508
Closing as not actionable, given this is about a relatively old version and there's only an obfuscated stack trace to go on.

[2021-06-21 22:00] #8508 closed, assigned to marcbaechinger

[2021-06-21 22:08] ojw28 commented on #8298
I tried starting a download using the demo app, and then restarting the phone midway through a download. Our download notification continues to show progress correctly after restarting, which suggests things are working correctly.

It's unclear what version of ExoPlayer you're using, or exactly how you're listening to progress changes. If you'd like us to investigate, please file an issue that pro

[2021-06-21 22:08] #8298 closed, assigned to marcbaechinger

[2021-06-21 22:17] #6337 closed, assigned to AquilesCanta

[2021-06-21 22:17] ojw28 commented on #6337
Closing due to inactivity.

[2021-06-21 22:56] #9049 closed, assigned to ojw28

[2021-06-21 22:57] ojw28 commented on #9067
Closing on the assumption that the commit above fixes the issue, but please check and let us know if this is not the case. Thanks!

[2021-06-22 00:34] VeiZhang commented on #9090
@icbaker Yes, I try other device, it works well. So mostly it is related to software in device. But I am confuesd android media player in the same device works.

[2021-06-22 01:04] #8972 closed, assigned to ojw28

[2021-06-22 05:35] AChep commented on #9041
This does not happen frequently, the user has a chance of ~0.0007 to witness the crash by himself in 30 days.

[2021-06-22 06:34] strangesource opened #9095 "`Decoder init failed` error when transitioning from DRM protected content to clear content in a playlist"
## Description:

The following exception occurs when transitioning from a DRM protected media item to a clear media item in a playlist:

[code]
This can only be observed on specific devices. I reliably reproduced it on a `OnePlus AC2003` with Android 11  but customers of us reported it also on `Samsung S10` with Android 11.

Please find the [adb bugreport](https://github.com/google/ExoPlayer/files

[2021-06-22 07:23] shenbuqingyun opened #9096 "Support DTS in WAV"
Hello there, I have add ffmpeg extension, and --enable-decoder=ac3, --enable-decoder=dca.

And ExoPlayer does play AC3 correctly, but not a dts.

a wav song, with ffprobe  -show_format&-show_streams  info:
 "codec_name": "dts"
 "codec_long_name": "DCA (DTS Coherent Acoustics)"
 "profile": "DTS-ES"
 "channels": 7
 "filename": "new.wav"
 "format_name": "wav"
"format_long_name": "WAV / WAVE (Waveform

[2021-06-22 07:53] shenbuqingyun commented on #9096
https://www.dtshot.com/category/DTS/

it is a website, with dts song.

[2021-06-22 08:02] shenbuqingyun commented on #9096
when handle a dts wav song, FfmpegLibrary.java - getCodecName() will not get codec name audio/dts, but audio/raw, so getCodecName() will return null, it means will use MediaCodecAudioRenderer, not FfmpegAudioRenderer to handle this song.

it`s voice indeed is "sasasa".

If I change FfmpegLibrary.java - getCodecName() to return audio/dca compulsorily, ExoPlayer will play this song with error "Audio

[2021-06-22 09:05] icbaker commented on #9094
Thanks for providing the content over email, unfortunately I get a HTTP 403 when trying to play the stream. Is the stream geo-blocked? If so, please make it globally accessible.

[code]

[2021-06-22 09:19] #9086 closed, assigned to ojw28

[2021-06-22 09:19] #9067 closed, assigned to ojw28

[2021-06-22 09:27] icbaker commented on #9096
@kim-vde I think the root of this question is about `WavExtractor` supporting more than just PCM data.

[2021-06-22 09:47] hot1sp commented on #9092
Hi

We're talking about zapping to low latency live OTT DASH channel (which we have sent to you its manifest file) – do you see an issue with this manifest ?

After zapping to that OTT channel, it plays but is suffering from frequent freeze frames and then continue to play, and then again video frame freeze…and so on (during that freeze we can see buffering alerts on client log)

Can you advise on

[2021-06-22 09:48] shenbuqingyun commented on #9096
Yes, indeed.

for wav song， it`s default decoder name is pcm_s16le，but there are some other decoders like dts, WavExtractor can not read them correctly.

for a ac3, Exo have a Ac3Extractor to handle it, after add ffmpeg extension, ac3 will play correctly.

but not dts, There is not a Extractor for it.

currently, I can use ffmpg library to transfer a local dts song to ac3, and use ExoPlayer to pla

[2021-06-22 09:48] shenbuqingyun commented on #9096
Yes, indeed.

for a wav song， it`s default decoder is pcm_s16le，but there are some other decoders like dts, WavExtractor can not read them correctly.

for a ac3, Exo have a Ac3Extractor to handle it, after add ffmpeg extension, ac3 will play correctly.

but not dts, There is not a Extractor for it.

currently, I can use ffmpg library to transfer a local dts song to ac3, and use ExoPlayer to play i

[2021-06-22 10:03] Debayudh opened #9097 "How to add AdsLoadedListener in new ImaAdsLoader.Builder"
We are migrating our code from older version of exoplayer and working towards keeping the app code in line with the exo sample app.
Following is the code to add the adsloader in exo sample app:
`private AdsLoader getAdsLoader(MediaItem.AdsConfiguration adsConfiguration) {
    // The ads loader is reused for multiple playbacks, so that ad playback can resume.
    if (adsLoader == null) {
      adsL

[2021-06-22 10:19] dmytropiriatenets commented on #9067
Thanks @ojw28 , I'll try the fix as soon as possible and update you with the result!

[2021-06-22 10:29] icbaker commented on #9095
From the provided BR this looks like the same issue reported in #8696, in particular these lines:

[code]

The reporter there confirmed the following workaround works (providing the secure decoder is capable of decoding the clear content):

I will dupe this to that issue and follow up on that thread.

[2021-06-22 10:29] #9095 closed, assigned to icbaker

[2021-06-22 10:41] icbaker commented on #9097
`MediaItem` instances are converted to a `MediaSource` by a `MediaSourceFactory`. By default this is a `DefaultMediaSourceFactory`, which has a [`setAdsLoaderProvider()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/DefaultMediaSourceFactory.html#setAdsLoaderProvider(com.google.android.exoplayer2.source.DefaultMediaSourceFactory.AdsLoaderProvider)) method that allows yo

[2021-06-22 10:41] strangesource commented on #9095
Thanks for your response @icbaker.
`setDrmSessionForClearPeriods` does not work out of the box as the two `MediaItem`s use a different `DrmSessionManager`. When reusing the `DrmSessionManager` for the clear source it does work.

[2021-06-22 10:44] icbaker commented on #9095
FYI `DrmSessionManager` instances are re-used more often after 2.13.1 ([release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2131-2021-02-12)):

[2021-06-22 10:45] icbaker commented on #9093
Glad you resolved the problem!

[2021-06-22 10:45] #9093 closed, assigned to icbaker

[2021-06-22 10:47] strangesource commented on #9095
I did see that release note but I don't think this helps here as  the `MediaItem` is clear and there is no reason to actually use a `DrmSessionManager` at all. 🤔  But maybe I am missing something. (It did not work when quickly testing it in `release-v2`)

Edit: It does work when I configure both sources as DRM protected. Maybe that was the missing piece.

[2021-06-22 10:55] timusus commented on #3165
@tonihei yes, I understand that. Whart I don't follow is how the diff solves this problem. If you have time, a brief explanation of what's going on there would be super helpful. Edit: I see, the crux of it is the 'PeekDataSource'. I'll have another run at this, thanks.

[2021-06-22 10:55] Debayudh commented on #9097
@icbaker We are already calling setAdsLoaderProvider.
However, we need to provide an instance of ImaAdsLoader / exoplayer2.source.ads.AdsLoader inside that.
Currently, neither of the two have apis exposed for adding an AdsLoadedListener.

[2021-06-22 10:57] icbaker commented on #9095
Ah yeah, that's also a slightly sharp edge of the API: https://github.com/google/ExoPlayer/issues/8957

[2021-06-22 11:00] Debayudh commented on #9097
Also, imaAdsLoader.getAdsLoader() is always giving null, so cannot add the adsLoadedListener there.\

[2021-06-22 11:00] Debayudh commented on #9097
@andrewlewis  any suggestions?

[2021-06-22 11:31] guidofranceschini commented on #9038
Hi again,
I investigated further.
First of all, I realized that the test material I provided was corrupted. I am very sorry for that, now it is fixed.
Secondly, I performed tests using 2 different License Server implementations. I observed similar results when using either License Server, just to confirm that the problem originates at the client side,
Thirdly. I added logs here and there, and some

[2021-06-22 11:36] icbaker commented on #3165
The other key part of that commit is the `DefaultMediaSource` implementation (which GitHub hides in the diff by default because it's too large). Inside `PeekLoadable` this iterates through `candidateMediaSources` calling `canPrepareWithStream`, which peeks into the stream (as you say, with `PeekDataSource`) to determine if it looks like the right sort of byte sequence. Once it finds a compatible `

[2021-06-22 12:08] shenbuqingyun commented on #9096
Hello there,  again

Exoplayer may have a plan about to improve the relevant support of wav dts?

or is there anything I can do？

Thank you very much.

[2021-06-22 12:24] skogl commented on #9053
I get the same error message on some devices if I use wrong drm key for playback. Other devices give different message (something about secure input buffer).

[2021-06-22 13:46] giladna commented on #9094
@icbaker will UK will work for you?

vpn to Israel or India should also be working

10x

[2021-06-22 14:02] dani3l3 opened #9098 "MediaItem.mediaId ?"
Hi, I had logic which was working fine up to version 2.13 that was using player.getCurrentMediaItem().mediaId --> this was giving me the URL of the mediaitem. But in 2.14 it's always null/empty and my code started failing....

I had to rewrite my logic using player.getCurrentWindowIndex() instead.... something along the lines of what's suggested on https://github.com/google/ExoPlayer/issues/2328 (

[2021-06-22 14:10] icbaker commented on #9097
Thanks for clarifying the problem further.

Can you give a bit of context about what logic you have inside your `AdsLoadedListener#onAdsManagerLoaded(AdsManagerLoadedEvent)` implementation? It may be that you can get the same trigger by implementing [`AdsLoader.EventListener#onAdPlaybackState(AdPlaybackState)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/ads/AdsLoader.

[2021-06-22 14:22] Kolyall opened #9099 "MediaSourceFactory instances can't be re-used by multiple Player instances"
- ExoPlayer version number "com.google.android.exoplayer:exoplayer:2.14.1"

[code]

Error:
[code]

[2021-06-22 14:23] Kolyall commented on #9099
All works fine if:
click on playFirstButton
click on playSecondButton
click on stopButton
click on playFirstButton
click on playSecondButton

But error occurs if:
click on playFirstButton
click on stopButton
click on playFirstButton

[2021-06-22 14:50] Debayudh commented on #9097
@icbaker
We have a custom seekbar that we use separately, and to populate the ad cue points, we are using the
`adsManagerLoadedEvent.getAdsManager().getAdCuePoints()`

Also, could you guide us on how to add the AdsLoader.EventListener into ImaAdsLoader?
the builder.setAdEventListener() requires AdEvent.AdEventListener to be passed and not AdsLoader.EventListener.
(Note: we are not creating a media

[2021-06-22 14:55] icbaker commented on #9092
Are the freezes you see aligned with segment boundaries, or do they happen within segments?

From the information provided it sounds like the network connection between the device & the content server isn't fast enough to deliver the content without buffering? If that's the case then there's no changes you can make to ExoPlayer which will resolve the problem, you either need to speed up the networ

[2021-06-22 14:57] icbaker commented on #9098
This is the relevant release note (from the 2.14.0 release):

If you want the URI, can you just use [`MediaItem#playbackProperties#uri`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.PlaybackProperties.html#uri)?

[2021-06-22 15:30] icbaker commented on #9099
This line in the stack trace indicates something is interacting with the same `DefaultDrmSessionManager` instance from different 'playback' threads:
[code]
https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/core/src/main/java/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.java#L668

The playback thread is created inside the ExoPlayer library - the

[2021-06-22 15:33] icbaker commented on #9099
Another ExoPlayer change that might make this work (untested) is to null out the `playbackLooper` field in `DefaultDrmSessionManager#release()`. Since in the sequence above the player (and thus the `DefaultDrmSessionManager`) is fully released before being re-instantiated.

[2021-06-22 15:52] icbaker commented on #9094
Thanks, I got it working by VPNing to Israel.

I see the same decoder artefacts as in your screenshot when manually switching tracks - I'll take a closer look to understand what's going on.

[2021-06-22 16:27] icbaker commented on #9097
To get the cue points you should be able to implement [`Player.Listener#onTimelineChanged`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onTimelineChanged(com.google.android.exoplayer2.Timeline,int))* and iterate through the [`Periods`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.Period.html) of the timeline, using the `

[2021-06-22 16:31] krocard commented on #9036
Thank you. I hope you manage to update to 2.12.1 without deprecation warning.

[2021-06-22 16:37] chandangit89 opened #9101 "Regarding deprecated classes"
hlo sir...
As per documentation .......PlayerNotificationManager has been deprecated and replaced by PlayerNotificationManager.Builder and so many methods are not there in the class ...for example....playerNotificationManager.setplayer() is not there in builder classs.
so now it is very difficult to code with PlayerNotificationManager.Builder

will u please provide a demo where notification is man

[2021-06-22 16:49] icbaker commented on #9101
Only the constructors and static factory methods on `PlayerNotificationManager` are deprecated (in favour of the `PlayerNotificationManager.Builder`), [`PlayerNotificationManager#setPlayer`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerNotificationManager.html#setPlayer(com.google.android.exoplayer2.Player)) is not deprecated.

[2021-06-22 16:55] icbaker commented on #9101
Closing as I've answered the specific example from the original post - if there's other functionality you can't find a non-deprecated alternative for, please reply and I'll try and help.

[2021-06-22 16:55] #9101 closed, assigned to icbaker

[2021-06-22 17:35] giladna commented on #9094
@icbaker
I was sniffing the network and I have observation which I am not sure is related
I can see that by the time the track is switched then the time to download the chunk is > 1 sec and chunk size is bigger then the regular chunks
could this  affect on the live buffers which are not ready yet till chunk is fully downloaded?

[2021-06-22 18:20] moneytoo commented on #9061
Just confirming that after cherry picking, it works on both real device and emulator. Thank you!

[2021-06-22 18:25] moneytoo commented on #9086
Great! I tried the related changes and it works. Thank you!

[2021-06-22 20:22] dmytropiriatenets commented on #9067
@ojw28 I've done some testing with the latest release demo (which is version 2.14.0) and it looks to work fine.
However there's another thing, related to amazon port which we should use. We're still using version 2.12.1 in the app because of it.Is it possible for us to apply some similar fix (only on our side) for this behaviour. I can't see methods `loadPlaylistInternal` and `getRequestUriForPrim

[2021-06-22 22:36] MoffatMore commented on #8473
Anyone who have managed to resolve this issue?

[2021-06-23 01:04] #8981 closed, assigned to marcbaechinger

[2021-06-23 06:38] md84419 commented on #8473
As above, for me, upgrading the OS fixed the issue.

[2021-06-23 06:39] pavhofman commented on #9063
I guess a working way is like this:

- Setting `playerView.setResizeMode(AspectRatioFrameLayout.RESIZE_MODE_FILL)` to keep the `AspectRatioFrameLayout` (parent of the video player view) fullscreen
- Rotating the video by `MediaCodec`: `Format.rotationDegrees = 90` in Format.java - hard-coded for now, to be investigated how to set it properly outside of ExoPlayer source code.
- Non-uniform scaling

[2021-06-23 07:06] Kolyall commented on #9099
@icbaker as you suggested I made this:
Don't null out the player instance (you should definitely still release() it).

But after `exoplayer.release()`
`exoPlayer?.playbackState ` remains `Player.STATE_READY`
`exoPlayer?.currentMediaItem` is not `null`

How can I determinate that player was released?

[2021-06-23 07:49] icbaker commented on #9099
Sorry, when I made that suggestion I'd got mixed up between `DrmSessionManager` (which can be re-prepared after being released) and `Player` (which can't). So my suggestion to release it without nulling it out doesn't make any sense, because there's no way to re-prepare it. From the `Player#release()` javadoc:

I'll edit my comment above to remove that suggestion - I think that means your only wor

[2021-06-23 08:18] ashutoshgngwr commented on #8594
@krocard I am unable to reproduce the original issue (#7994) with ExoPlayer r2.14.1. I am playing the same sounds with the ExoPlayer demo (main) on Xiaomi Mi A3 running Android 11 (Security patch May 2021). What's happening?

[2021-06-23 08:27] icbaker commented on #9094
I haven't root caused the source of the artefacts yet, but I have noticed that the content doesn't seem to be DRM protected? I found I can still play it (with the same artefacts) with this JSON snippet in the demo app:

[code]

[2021-06-23 09:25] javicamarero opened #9102 "ParserException “Loaded playlist has unexpected type.”"
Hi,

I’m a developer trying to load a playlist, but I’m encountering a problem all the time, receiving a ParserException “Loaded playlist has unexpected type.” Every time. I’m writing an email due to I’ve not found a solution and I need to give you some credentials to reproduce it.

I’ve observed when I do the request by swagger or out of exoplayer y receive the tags on the "screenshot1", however

[2021-06-23 10:27] giladna commented on #9094
@icbaker  seems that you are right i do not see content protection in the manifest and it plays to me as well without the license

do you think it is related?

we see in the logs an issue with the Buffer can't be freed when switching it

how do you suggest to continue I think it is more related to HEVC behaviour?

[2021-06-23 10:30] Mr-Ramzan commented on #6504
I just finished a custom implementation of player controls (my own layout), by following the implementation of PlayerControllarView class. It is still easier to control and sync seek bar with playback than the mediaplayer.

[2021-06-23 10:43] guidofranceschini commented on #9038
I am trying to understand EXO code.
I have verified that both postKeyRequest and onKeyResponse are executed by the same thread, thus I cannot simply delay execution of postKeyRequest for key 2, but I really need to insert some logic to make sure that postKeyRequest is invoked after onKeyResponse for key 1 has been executed. Or maybe signal somehow that the postKeyRequest shall be performed again.

[2021-06-23 11:18] guidofranceschini commented on #9038
In the end I implemented a solution that apparently works fine,
Basically, I keep track of pending requests, and when a postKeyRequest is invoked I check whether there is a request still waiting for the response. If so, I "park" the current request, and resume it once the pending request is fulfilled.
I can share the code if you like.
Best regards

[2021-06-23 11:47] icbaker commented on #9038
Thanks for the detailed investigation. Just to make sure I understand what you've found, you reckon this sequence causes the problem (all on the same thread):
[code]

While this sequence is OK:
[code]

@jt64 Are you aware of PlayReady CDM implementations requiring that only a single key request is in-flight at once? Overlapping requests seem to cause problems.

As described above, the issue can be

[2021-06-23 12:35] hot1sp commented on #9092
Hi

Indeed we can see a significant improvement on the DASH Live low latency playback performance when connecting the client with the ExoPlayer into a high speed Internet link

Previously were connected with up to 100Mbps link on the Client, and issue of freeze frame observed – now with above 100Mbps link (potentially 200Mbps – 300Mbps) the playback is good, no freeze frame observed

1. Do you fam

[2021-06-23 13:28] #9080 closed, assigned to claincly

[2021-06-23 13:36] claincly commented on #9021
Have you tried putting the subtitle URI in a `MediaItem`, instead of creating a media source?

There's a `setSubtitles()` method in `MediaItem.Builder`

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/common/src/main/java/com/google/android/exoplayer2/MediaItem.java#L425

[2021-06-23 14:49] guidofranceschini commented on #9038
Exactly.
I worked on a higher granularity (postKeyRequest and onKeyResponse) but the issue is certainly at the mediaDrm.getKeyRequest / mediaDrm.provideKeyResponse level

[2021-06-23 14:51] icbaker commented on #9021
It's likely the subtitle track isn't being selected - it won't be selected by default unless you either set `MediaItem.Subtitle.selectionFlags = SELECTION_FLAG_DEFAULT` (and pass this to `MediaItem` rather than trying to construct the `MediaSource` yourself) or change the `TrackSelector` to select it by some other means. More info about track selection: https://exoplayer.dev/track-selection.html

[2021-06-23 16:19] giladna commented on #9094
@icbaker

I have shared another stream with DRM

I have compared 2.14.0 vs 2.14.1  and in 2.14.1 when switching between video tracks there is no black screen as it used to be till today and artefacts is seen
so i guess that behaviour in DRM in 2.14.0 is not observed while in 2.14.1 is observed.

hope this helps