[2018-05-28 15:55] Tolriq commented on #4278
@tonihei Just got the same crash after updating to 2.8.1 in prod (skipped 2.8.0) but previously no issue with 2.7.3, no target SDK change.

Same situation, can't reproduce very rare crash
[code]

[2018-05-28 16:35] tonihei commented on #4278
This stack trace is much better as it seems to point to a valid code position.

However, the call seems utterly impossible unless some form of parallel change is happening.
_ExoPlayerImpl.getCurrentPosition()_ does something like this:
[code]
The stack trace indicates we end up in the _else_ case and then call into an empty timeline, but that should have been caught by the _if_ condition.
Can you

[2018-05-28 16:51] Tolriq commented on #4278
Well reading the stack trace it seems your listener is listening on main thread independently of what unique thread we may work :)

Furthermore is there anywhere in the documentation anything stating that exoplayer creation + all calls needs to happens on the same thread ?

[2018-05-28 18:52] ggcarlosr opened #4311 "Need Logo?"
Brother so, I have opened this problem to propose a logo for your app, I am a graphic designer and I make free contributions to open source projects, if you are interested in accepting my contribution let me know your concerns and suggestions. Thank you.

[2018-05-28 18:53] #4311 closed

[2018-05-28 20:47] erdemguven commented on #2643
To be able to play offline DRM protected content you need to download licenses too. You can use OfflineLicenseHelper to download the licenses. There can be multiple licenses. To keep the demo app simple we didn't deliberately disabled downloading DRM content.
If this answer isn't enough please open a new issue with all information asked in the template.

[2018-05-28 21:30] AquilesCanta commented on #4309
We will need content that reproduces the issue to diagnose this. The test streams we have do not reproduce the issue. We will reopen the issue once sample content is provided.

[2018-05-28 21:30] #4309 closed, assigned to AquilesCanta

[2018-05-29 01:21] moagrius commented on #3815
sorry, i have no idea how you'd decrypt without knowing the iv.

[2018-05-29 03:10] shoumo680 commented on #4261
The encrypted HLS and the encrypted mp3 will be out of sync. Is this problem related to encryption?

[2018-05-29 03:16] xiaoyepadzhang commented on #3682
@erdemguven Seem that  now I can use the downloader to precache the master m3u8 file, right ?

[2018-05-29 03:43] #4288 closed, assigned to nobody

[2018-05-29 05:18] rd7773 commented on #4250
@AquilesCanta ok actually i used ffmpeg to encrypt the video with cenc-aes-ctr encryption scheme which encrypts samples in between not the whole file and writes the iv to senc box of mp4. What i would need to do is **parse the mp4, extract the iv and decrypt the individual samples** as not the whole file is encrypted. It would be helpful if you could suggest how to do that in Exoplayer if it suppo

[2018-05-29 05:29] anandsingh2903 opened #4313 "Can exoplayer play HLS video with MPGA audio format"
As i am trying to play a HLS m3u8 video via my local network. The video is running fine but the audio is not coming and as i have checked the audio format is MPGA with i guess exoplayer HLS stream doesn't support. So is there any way that i can play MPGA format audio with HLS video using Exoplayer. Also when i tired to play SPTS type of Stream then the data was coming from my local network and my

[2018-05-29 05:48] SikanderZeb commented on #4100
Any new update on this issue?

[2018-05-29 07:08] Anton111111 opened #4315 "Exception on press back button on Moto C"
### Issue description
I see issue on Moto C device. When i go out from activity with player i get exception.

### Reproduction steps
You can easy reproduce it with demo from this repository.

- Simple start demo (https://github.com/google/ExoPlayer/tree/release-v2/demos/main)
- start any video
- press back button

### Version of ExoPlayer being used
I see this error on 2.7.*, 2.8.0, 2.8.1 versions

[2018-05-29 07:30] Anton111111 commented on #4315
I created pull request to fix it:
https://github.com/google/ExoPlayer/pull/4316

[2018-05-29 08:00] tonihei commented on #4278
The documentation is here: http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html
First bullet point under "Threading Model". I agree that it's not that obvious and we should probably mention it in the Getting Started guide too.

As you pointed out, the stack trace above seems to call the listeners on the main thread. That means the player was created on the m

[2018-05-29 08:10] AquilesCanta commented on #4261
Not likely, no.

[2018-05-29 08:17] andrewlewis commented on #4258
In the case where the connection is refused, please check whether your HTTP server sees the request from the player.

If you select the requests in the network profiler can you see any difference in the request/response headers? See also [inspect network traffic](https://developer.android.com/studio/profile/network-profiler).

[2018-05-29 08:20] tonihei commented on #3835
Yes, that seems fine. I think I got quite confused that your example code set `workaroundRequired = false` when READY was reached which clearly wouldn't work.

And yes I agree, that to some extent the failures were due to the video size. Please note that there will be other DecoderInitialization failures for various reasons and you'll still need to check that the test fails for all devices of the

[2018-05-29 08:30] AquilesCanta commented on #4250
I have to warn you this might be a challenging task.

The container part is already supported. Although you might need to tweak a few parts, for example to add a protection scheme 4CC. Otherwise, the samples should be output correctly with their own encryption data. There should not be that much work required on the decryption data extraction side. However, it would be a bad idea to decrypt the sa

[2018-05-29 08:37] Tolriq commented on #4278
I confirm that part of the DOC is well hidden and recommended quite different than mandatory :)
Specially since it worked very well before 2.8.0 for my use case. I do manage the access properly in my code and there was no risks of sync issues.

Creating the player on mainthread + using threadhandler is quite common, specially since support library mediasession should be created on main thread :(

[2018-05-29 08:41] AquilesCanta commented on #4313
You need to determine whether the container format or the compression format is the issue. If the issue is the container, then a new extractor needs to be implemented. If the codec is the issue, then you could use the ffmpeg extension to play audio. The logcat is enough to tell whether the track was detected / supported.

You can look for something like this:

[code]

If no audio entry is availabl

[2018-05-29 08:41] #4313 closed, assigned to AquilesCanta

[2018-05-29 09:15] xiaoyepadzhang commented on #3682
@erdemguven Hi, when I click the download button in the exoplayer hls demo,  I find that I should choose the sub uri that in the master HlsList.  My question is that , Can I not choose the sub uri and it can auto choose the current uri  with adaptive bandwith.   And When I open the master hls again, It will play the cache video ,and not to adaptive the video again ?

[2018-05-29 09:24] erdemguven commented on #4285
It isn't supported and there is no plan to support it unfortunately. You can take a look at FlacDecoder or OpusDecoder which are extension audio decoders to write one for MIDI but be warned it isn't a simple thing.

[2018-05-29 09:24] #4285 closed, assigned to erdemguven

[2018-05-29 10:06] tonihei commented on #4278
As I said, this is not new and we always recommended to use one thread only. The problem only showed up because of our additional internal listener.

I see that it's potentially unwanted to use the main thread, but I think this can be solved by moving the ExoPlayerFactory call to your custom HandlerThread. Alternatively, we may provide an option for the ExoPlayerFactory to specify the Looper for a

[2018-05-29 10:12] vimsliu commented on #4258
Hi, it seems i cannot select any range in the network tab, although i was able to put some more log and find out that the connection refuse by peer happened in this loop:

[code]
 which was under startLocalServerSocket() function posted above.

I hope it helps.

Also here is a screenshot for exoplayer under memory tab:

![exoplayer](https://user-images.githubusercontent.com/39286922/40652775-cb80a

[2018-05-29 10:20] andrewlewis commented on #4258
If I understand correctly, the request from ExoPlayer is reaching your server, but the server is throwing an exception while writing a response. Could you track down exactly what's going wrong in your server code? You could also log the request body from VideoView vs ExoPlayer and see if there's something different.

I'll close this for now as I don't think we have enough evidence that there is an

[2018-05-29 10:20] #4258 closed, assigned to andrewlewis

[2018-05-29 10:36] Tolriq commented on #4278
It was **recommended** but with proper handling was working now it can't due to a change that is not clearly visible in the changelog. (Not saying that I'm right about how I did implement just that the change that render non recommended ways that could work to will not work at all for sure is not visible enough). I'm not native English speaker so don't take my words too hard :) And this could also

[2018-05-29 10:46] botaydotcom commented on #4295
I think this is probably a duplicate of #3968. In that issue (it seems it's from you as well), @ojw28 suggested that the cause for this was probably because your app was re-using `MediaSource` instances. This is not supported until 2.8.0. Therefore, one possible solution for you in this case is to try to upgrade your app to use ExoPlayer 2.8.0 and above.

[2018-05-29 10:46] #4295 closed, assigned to nobody

[2018-05-29 10:51] tonihei commented on #4278
Yes, "recommended" may be misleading in this case. The guide says "strongly recommended" though ;)

For the rest of the question:
 - ConcatenatingMediaSource is indeed thread-safe and its operations can be used from any thread without issues. This was part of the design from the beginning unlike the main player interface which was designed to be used from one thread only. That means, you shouldn't

[2018-05-29 11:00] botaydotcom commented on #4304
Hi @Gidex,
I think the idea is to only show buffering view when user is watching/focusing on the player. If `player.getPlayWhenReady()` is false, the player is paused, and buffering is only done in the background. This is something user probably doesn't care about.
Is this something that's causing problem in your use case? Could you please clarify the problem you are facing in more details?

[2018-05-29 11:03] Tolriq commented on #4278
I meant that since I created the player on MainThread the listener was called on mainthread.

But I did not do anything in it that could be non thread safe. Just that I had the events on the thread I wanted and it was nice.

Since your code needs to access the player the same way as my non thread safe call the looper will migrate your AnalyticsCollector code to that thread and fix the issue, but i

[2018-05-29 11:04] ojw28 commented on #4284
The `updateProgress` is pretty complicated. How would you override it, exactly? If your plan is to copy the whole implementation and then tweak a few lines, that's probably not the best idea, because if we were to ever make further modifications to the method your overriding copy wouldn't pick those changes up.

Do you mean maximum (i.e. some content from a previous show is available in the source

[2018-05-29 11:23] xdeop commented on #4284
I know is not the best solution but copying the PlayerControlView implementation is the ONLY possible way to override the updateProgress as there's no access to the parent's variables nor methods when extending from it (ex: LivePlayerControlView). I think that the PlayerControlView implementation should have protected variables and methods (also exposing the onScrubListener) to permit a progressba

[2018-05-29 11:53] ojw28 commented on #4284
Allowing sub-classes to arbitrarily use and override whatever they want isn't a good design choice. It might work in the short term, but will make upgrading from one version to the next really difficult if we ever change anything in the `PlayerControlView` implementation. So I think you need to either:

1. Fork `PlayerControlView`. It's not actually that bad to do this, in my opinion.
1. Come up w

[2018-05-29 12:05] NitinSharma639 opened #4317 "Listening on play back progress"
Hello

I want to check the progress every second . Is there any method to check the progress of the playing video. I want to perform action when video is 50 percent complete

[2018-05-29 12:15] tonihei commented on #4317
You can query `player.getCurrentPosition()` to check the progress. And divide it by `player.getDuration()` to get the relative progress. Note that the duration may be `C.TIME_UNSET` as long as it is not known yet.

If you want to perform an action at a specific point in time, please consider using ExoPlayer's message sending options. For example by doing something like this:
[code]
Please have a l

[2018-05-29 12:16] anandsingh2903 opened #4318 "HLS stucks when changing channel from server end directly."
I am playing HLS m3u8 in exoplayer 2 and the video is working fine but when i change the channel from remote on server end itself then server starts providing me TS of new channel but my player stucks on old channel TS at the point where channel was changed but when i seek forward a little bit then the player changes the channel and starts playing new channel video. i can't seem to figure out how

[2018-05-29 12:19] anandsingh2903 commented on #4313
How can i get this log about audio support as i am not getting any logs as shown above. Yes sometimes it give me something like unsupported video mime type but there's no logs for audio as such. do i need to implement something in EventLogger method.

[2018-05-29 12:24] AquilesCanta commented on #4313
The log attached above can be obtained by playing the media in the demo app.

[2018-05-29 12:26] AquilesCanta commented on #4318
Is the server introducing a discontinuity tag?

[2018-05-29 12:36] ojw28 commented on #3517
I think there must be a platform issue on L that's triggered by this content and/or the license configuration. Something like (a) the surface isn't being updated properly as each new frame is released to it, or (b) the CPU isn't being clocked at a high enough frequency to perform frame decryption at the required rate. Both of these potential causes would possibly "go away" when continually touchin

[2018-05-29 12:36] NitinSharma639 commented on #4317
Hello @tonihei

I am using SimpleExoplayer library version 2.6.0. To update I have to change a lot of code .Can you suggest some solution.

[2018-05-29 12:36] anandsingh2903 commented on #4318
No, i guess not. What value do i have to send through discontinuity tag?

[2018-05-29 12:46] tonihei commented on #4317
Unfortunately, this feature isn't available before 2.7.0.

You can try to listen to the progress yourself (for example, by checking the current position every 500ms or so) and then do something once the required position is reached.

Also, out of interest: What exactly makes you think that you'll to change a lot of code when upgrading? We usually try to keep as much of the API as possible when rel

[2018-05-29 12:53] AquilesCanta commented on #4318
No value is needed, the discontinuity tag is standalone. However, try to have the server include the discontinuity sequence number. This [post](https://medium.com/google-exoplayer/hls-playback-in-exoplayer-a33959a47be7) might provide useful pointers in general.

I'll close this thread now. Please fill the issue template if you run into any further issues, otherwise, I can only guess what's going o

[2018-05-29 12:53] #4318 closed, assigned to AquilesCanta

[2018-05-29 12:55] ojw28 commented on #4304
I can confirm the current behavior is intentional. Displaying a buffering spinner when the user intention isn't to start playback immediately feels like extra UI noise that doesn't provide the user with useful information. We could probably make the behavior configurable, but I'm not convinced it's important.

[2018-05-29 13:18] xdeop commented on #4284
I was looking for #2 approach.

As I'm running out of time in my development I haven't been able to think of a properly minimal set of protected vars and/or methods and just set all the ones I needed.

Thanks.

[2018-05-29 13:47] ojw28 commented on #4306
According to [this thread](https://forum.videohelp.com/threads/332300-How-to-position-a-subtitle-in-a-srt-file) positional tags like `{\an8}` aren't actually part of the SRT format, although some tools do appear to support such tags.

It's really hard for us to support subtitle formats that aren't properly specified, and in particular where undocumented additions have been made, as appears to be t

[2018-05-29 14:01] ojw28 commented on #4141
Pretty sure this is a duplicate of https://github.com/google/ExoPlayer/issues/4066.

[2018-05-29 14:07] ojw28 commented on #4264
We could probably look at adding some static methods to `MimeTypes` to allow injection of custom codec information?

[2018-05-29 14:25] tonihei commented on #4278
We'll reword some parts of the guide to make that more explicit. And we are adding support for setting a custom Looper to run all player commands and callbacks on. Marking this as an enhancement until this is done.

[2018-05-29 15:12] ojw28 commented on #4053
We really need non-georestricted test content to investigate issues efficiently. We shouldn't have to jump through hoops to help you with your issues. Thanks!

[2018-05-29 16:01] ojw28 commented on #4303
Is your use case playing only local files, and are you using the synchronous `MediaPlayer.prepare` from the UI thread? That's the only use case for which I think these comments make sense, since for all other cases you should be using `MediaPlayer.prepareAsync` or calling `MediaPlayer.prepare` on a background thread.

I don't think there's a way to block the UI thread whilst ExoPlayer prepares, wh

[2018-05-29 16:04] ojw28 commented on #4303
I think we already have this. Register a video listener (`SimpleExoPlayer.addVideoListener`) and implement `onRenderedFirstFrame`, which is called when the first frame is rendered and the shutter is hidden.

[2018-05-29 16:11] ojw28 commented on #2843
`setKeepContentOnPlayerReset` is a method defined on `PlayerView` If you're using `SurfaceView` directly then you're presumably implementing your own playback controls etc. You will also not be getting our shutter, since that's part of `PlayerView`, and so this issue is irrelevant to your use case.

If you're using `SurfaceView` and DRM protected content that requires a secure output path, then it

[2018-05-29 16:13] ojw28 commented on #4272
Closing due to lack of information.

[2018-05-29 16:13] #4272 closed, assigned to AquilesCanta

[2018-05-29 16:50] ojw28 commented on #4267
Did you try just rebooting the device (but not doing a full factory reset) after the update was installed and prior to factory resetting?

It seems most likely to me that the device got into a bad state (possibly as a result of the update, but most likely just by chance at around the same time), and that a normal reboot would have resolved the issue. If so then I'm not sure there's much for us to

[2018-05-29 16:53] Srinu-try opened #4319 "RTMP video only file playback issue with ExoPlayer2"
### Issue description

Hi All,

I am facing a playback issue in playing Video only RTMP stream using ExoPlayer2 RTMP extension.

I am streaming a video only file with FFMPEG using Wowza server (see the below command),

ffmpeg -i input.mp4 -c copy rtmp://WowzaServerIPADDRESS:1935/live/Cam

Exoplayer2 is failing to parse the AVC decoder SPS/PPS data and failed at "AvcConfig avcConfig = AvcConfig.par

[2018-05-29 17:22] alexandru-calinoiu opened #4320 "ConcatenatingMediaSource 403 issue on the second video"
### Issue description
I get 403 when playing HLS movies using ConcatenatingMediaSource.
The videos are served from Akamai, and that apparently requires some cookies to be stored.

I've tried this with `DefaultHttpDefaultDataSourceFactory` it worked for 1 video
I've also tried with `OkHttpDataSourceFactory` and https://github.com/franmontiel/PersistentCookieJar and that wored also

### Reproduction

[2018-05-29 18:17] #4256 closed, assigned to marcbaechinger

[2018-05-29 18:18] ojw28 commented on #4256
It sounds like this issue was resolved. I don't think we need issues to track modifications to the IO demo apps, although feel free to modify them to do this if you like :).

[2018-05-29 18:43] Gidex commented on #4304
As a user, I find it common for the user to use the buffering spinner to know when the player is ready to play. When watching and the player starts buffering, if the user pauses and the buffering spinner disappears, he may think the player is ready, but if the buffering spinner appears again when playing, it may seem confusing. In slow or unstable connections it is common for the user to pause to

[2018-05-29 20:02] zsmatyas opened #4321 "Cea608Decoder Span parameter Crash"
This line tends to crash quite often for live content:
https://github.com/google/ExoPlayer/blob/2b55c91af0afd1f50f689adb1046f1cf78c887f6/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java#L708

I had a pull request for handling the various styles in Cea608Decoders for ExoPlayer 1. For ExoPlayer 2, you have included many parts of that pull request, but you also re-

[2018-05-29 20:21] linhai326 commented on #4321
we saw the same issue and we had to add length checks in all setSpan() calls in cea608Decoder.java and cea708decoder.java

[2018-05-29 22:25] ojw28 commented on #4294
Please try asking the pull request authors directly on the pull request. We haven't really looked at that code in detail yet, and so are unable to answer questions about it here.

[2018-05-29 22:25] #4294 closed, assigned to ojw28

[2018-05-29 22:39] ChristianKleineidam commented on #4303
Yes, I'm playing local files. I use ExoPlayer because of it's capabilities for controlling the playback speed.

Till now it was my understanding that ExoPlayer needs to be attached to a view to know the size of video in which it's rendered. If that's not the case, for my use case it sounds like a good solution to prepare the ExoPlayer beforehand and only create the Fragment when it's ready.

If I

[2018-05-30 00:52] 0c6a183d opened #4322 "DashMediaSource.Factory setMinLoadableRetryCount - Unexpected results"
Hello.

When using the setMinLoadableRetryCount, I have noticed the following two behaviors and wanted to check if it was java or Exoplayer design or bugs.

1. When setting setMinLoadableRetryCount value 0 has no effect - the TCP connection is always retried twice - in effect, an 8000ms connect timeout (connectTimeoutMillis) always takes 16000ms to throw the exoplayer timeout source_error.

2. As

[2018-05-30 01:06] vimsliu commented on #4258
yes, but it is closing the connection while still sending the bytes... I will investigate this a little bit more. Thank you for your time.

[2018-05-30 02:52] DKillWorld opened #4323 "The playerview retains its instance on a device rotation"
### Issue description
The playerView retains its instance even after activity is finished by calling finish(). The new instance is created everytime in onCreate(). You can observe this behaviour by rotating screen as well. This happenes until app crashes with OOM error.

### Reproduction steps
Create playerView in XML, connect it with player instance in activity class. And rotate device or finish

[2018-05-30 05:17] Anton111111 commented on #4300
I think this issue is not question. I think status must be changed to bug.

[2018-05-30 05:48] getashok2003 opened #4324 "decoder init exception"
Sting TV android box
Android version - 7.0
Scenario - OTT content playback
Always seeing this -YES Andriod TV
Exoplayer version - r2.8.1

**stack trace**
E/ExoPlayerImplInternal:Playback error.
com.google.android.exoplayer2.ExoPlaybackException
at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.throwDecoderInitError(MediaCodecRenderer.java:441)
at com.google.android.exoplayer2.mediacod

[2018-05-30 07:57] ohenepee commented on #3353
Is this happening anytime soon since the latest release of AV1?

[2018-05-30 08:02] Tolriq commented on #4278
For the record I also got one

[code]

And this one is called on the right thread and since I'm calling stop if the gathering is made after the stop there's no way that there's a timeline change after that.
So maybe there's something else with the collector.

[2018-05-30 08:12] andrewlewis commented on #4300
#3764 may be related.

[2018-05-30 08:13] utack commented on #3353
Bitstream is not even frozen yet,no need to jump the waterpistol quite yet

[2018-05-30 08:17] alexandru-calinoiu commented on #4320
Managed to work around this issue by using a new instance of a DataSourceFactory for each MediaSource,

Note that I needed to overwrite the default cookie jar for each of the instance without a new cookiejar this did not worked.

[code]

[2018-05-30 08:17] #4320 closed, assigned to nobody

[2018-05-30 08:20] aktjkt opened #4325 "Rtmp url not playing in sample of exoplayer"
### Issue description
I wanted to create a rtmp player using ExoPlayer Demo application when i trying to play through wowza server its working fine but when trying to play through flash server its getting following error
E/ExoPlayerImplInternal: Source error.
    net.butterflytv.rtmp_client.RtmpClient$RtmpIOException
        at net.butterflytv.rtmp_client.RtmpClient.open(RtmpClient.java:56)

[2018-05-30 08:20] andrewlewis commented on #3353
I started looking into this, but am having trouble getting the build step to work: libaom is seems to cross-compile for the various Android architectures successfully using CMake, but then gradle complains that the compile commands JSON files were not actually generated and the build fails. If anyone has pointers to how to make this work that would be useful!

[2018-05-30 08:28] ohenepee commented on #3353
@andrewlewis I guess you can open an issue here https://bugs.chromium.org/p/aomedia/issues/list

[2018-05-30 08:41] tonihei commented on #4278
It's the same problem. The stack trace you show can only possibly happen when two concurrent modifications are happening.

[2018-05-30 08:43] ZohaibGhafoor opened #4326 "Cannot access com.google.android.exoplayer2.offline.DownloadManager.Listener"
whenever i call downloadTracker.addListner or downloadTracker.isDownloaded etc it gives me this error in my application.

Cannot access com.google.android.exoplayer2.offline.DownloadManager.Listener

[2018-05-30 09:01] Tolriq commented on #4278
Yes but all modifications are from the same thread this stop call occurs in my thread handler and your collector is also called in that handler thread and not in the main thread like the other stack trace, only thing that could make change on another thread would be something inside ExoPlayer.

And the app for sure does nothing after a stop in a short delay except clearing the playlist too.
So tha

[2018-05-30 09:06] andrewlewis commented on #4300
This is the same failure mode as #3764: we pause the ad immediately but IMA raises an error and forces us to start playing the content. Marking this as a duplicate of that issue. I've asked the IMA SDK team to take a look and will update that issue when I hear back. Thanks!

[2018-05-30 09:06] #4300 closed, assigned to andrewlewis

[2018-05-30 09:09] tonihei commented on #4278
There are two sources of events:
 - Those which are called because of something like `player.stop()` (see above's stack trace). In this case the listeners are notified on the same thread.
 - Those which are called because something in the player changed for other reasons. These callbacks are made on the thread the player was created on (because we assume that the player is only used from this thre

[2018-05-30 09:14] erdemguven commented on #4326
Is this an exception? If so please share the whole exception message.

[2018-05-30 09:20] Tolriq commented on #4278
Ok thanks, then the looper should be enough and the refactor not that big.

Will it be a 2.8.x or a 2.9 thing? The crash are rare but just to know what to answer to users that encounter them.

[2018-05-30 09:24] tonihei commented on #4278
Difficult to say. Depends on how many other changes we have.

Not sure how difficult it is to do in your code, but you might move the player creation to your custom handler thread in the meantime as this is equivalent to specifying the Looper at the time of creation.

[2018-05-30 09:31] Tolriq commented on #4278
Well the initialisation part date from very long time with MediaPlayer and Android 2.x ;) Seeing that you recommend to use main thread for player access, if I have to update / rewrite that part I'll go full main thread road to be safer. (I currently only do music but should add video at some point so better be clean).

The exoplayer part of my app is currently only used by about 8% of the users an

[2018-05-30 09:34] ZohaibGhafoor commented on #4326
@erdemguven i think not exception it gives me compile time error red line below downloadTracker.addListener. and whenever i try to hover my mouse on downloadTracker.addListener it shows me this error.

"Cannot access com.google.android.exoplayer2.offline.DownloadManager.Listener"

and whenever i try to compile it gives me this error

"error: cannot access DownloadManager
class file for com.google.

[2018-05-30 10:03] ojw28 commented on #4323
This sounds like an application bug to me. It's your responsibility to release each player instance, by calling `player.release()`, as well as any references that your application code holds to it, when the instance is no longer required. The issue does not reproduce in the demo app.

[2018-05-30 10:03] #4323 closed, assigned to ojw28

[2018-05-30 10:10] erdemguven commented on #4326
Please make sure you followed the "Adding ExoPlayer as a dependency" instructions in https://google.github.io/ExoPlayer/guide.html.

[2018-05-30 10:10] laurafuente commented on #4277
I've tried that fix but it's not working for me

[2018-05-30 10:14] erdemguven commented on #4277
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-05-30 10:14] andrewlewis commented on #4297
I tried to reproduce this again. I don't see a `NullPointerException` as reported here, but I do see that the ad media won't load, as none of ExoPlayer's extractors support it.

This is a regression from 2.5.3: since that release we started advertising support for video/mpeg streams to IMA, yet the URI we get from this ad tag can't be handled by any of ExoPlayer's extractors. If I remove that MIME

[2018-05-30 10:18] DKillWorld commented on #4323
I keep my player instance in Service, and I dont want it to be released on activity's ondestroy(). I just want my playerView reference to be cleared on activity rotation which is not happening right now.
I set playerView.setplayer(null) on activity ondestroy(). But its still not cleared from memory. I dont know why. Any suggestions??

[2018-05-30 10:21] botaydotcom commented on #4322
Hi @0c6a183d,
I think in our retry logic, we have a back-off timeout in milliseconds before retrying, which is calculated as:
[code]
Add 8000 millis from connectTimeoutMillis on top of that and you can arrive at the retry pattern you observed.
I think there is a minor issue with minLoadableRetryCount = 0, which leads to it always retry once. I'm not sure this is something we will need to fix thoug

[2018-05-30 10:30] ojw28 commented on #4323
I don't understand what "The playerView retains its instance" means. It sounds like your application code is leaking something. Whatever you're seeing more instances of in the heap after every device orientation, you should trace the path from those instances to a GC root, which will show you the reference chain that's causing the leak. You need to fix that.

We're not able to assist debugging you

[2018-05-30 11:21] dmazar opened #4327 "Invalid position reported when playing static stream with SegmentTemplate.startNumber > 1"
### Issue description
Player reports invalid position while playing static stream. Stream manifest is added below. Manifest is just exporting part of the larger stream and SegmentTemplate.startNumber is not 1.

### Reproduction steps
Unfortunately, stream is not available to the public, so it can not be reproduced by others. We can only post stream manifest, timeline build by the player and positi

[2018-05-30 13:47] ojw28 commented on #4325
Duplicate of https://github.com/google/ExoPlayer/issues/4200

[2018-05-30 13:47] #4325 closed, assigned to ojw28

[2018-05-30 13:48] ojw28 commented on #4200
Stack trace:

[code]

[2018-05-30 13:50] ojw28 commented on #4200
Tracking bugs on the LibRtmp side:
https://github.com/ant-media/LibRtmp-Client-for-Android/issues/65
https://github.com/ant-media/LibRtmp-Client-for-Android/issues/66

[2018-05-30 13:57] ronak2121 commented on #3971
I realized the problem was in ffmpeg. Fragmenting Audio should always be done in exact frame boundaries otherwise ffmpeg produces this weird behavior.

I’ll put up a test stream and verify that we can switch codecs between heaac and lc aac to be sure before closing this.

[2018-05-30 14:08] ojw28 commented on #4325
Please can you provide some sample RTMP streams that reproduce this issue?

[2018-05-30 14:09] ojw28 commented on #4200
I can't play `rtmp://mbcmediaserver.mbcradio.tv/bestfm/livestream` using anything, including VLC and the mentioned FFMpeg Media Player. Are you really sure it's valid? Can you play it using VLC? If it's geo-restricted, have you any idea to which country?

[2018-05-30 14:19] ojw28 commented on #4249
There are two parts to this issue:

1. The leak occurs because `RtmpClient.open` blocks forever when an attempt is made to connect to an invalid address, rather than failing. This is what stops the thread right at the top of the chain from exiting, and is the root cause. This is a bug in LibRtmp rather than ExoPlayer, which I've reported here: https://github.com/ant-media/LibRtmp-Client-for-Androi

[2018-05-30 14:21] jinfanzon opened #4328 "BehindLiveWindowException Exoplayer 2.8.1"
I'm using the latest Exoplayer library. And I'm not able to decrease the number of BehindLiveWindowExceptions thrown.

Our hls has 2 resolutions, and the .m3u8 file looks like:

`#EXTM3U
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=576600,RESOLUTION=640x480,FRAME-RATE=25,CODECS="avc1.64001e,mp4a.40.2"
256_258/index.m3u8?sessId=12579
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=700552,RESOLUTION=720x540,FR

[2018-05-30 14:22] tspvivek commented on #4200
@ojw28  Please try opening this  http://www.mbcradio.tv/sites/all/themes/mbcradiotv/templates/bestfm.html
 link in Iphone Safari browser and Press the play button. Its playing fine. I'm sure its not geo-restricted. My app is already playing this url using FFmpeg Media Player.

[2018-05-30 15:19] sergiomartinez4 opened #4329 "Offline Widevine rental license problem in Android 8.1"
### Issue description
We are experiencing a rental license issue on Android 8.1 on a specific device. It's the same issue described in https://github.com/google/ExoPlayer/issues/3112.
After making a successful Widevine rental license, the license duration remaining is broken, returning 0 all the times, regardless of the value you set when making the license request.

We were previously having this

[2018-05-30 16:03] moacir69 opened #4330 "android.media.MediaCodec field 'mNativeContext' is no longer declared in Android P"
Good afternoon,
In Android P devices like the Google Pixel 2, the _android.media.MediaCodec_ field _mNativeContext_ is no longer declared and accessible through _MediaCodec.getClass().getDeclaredField("mNativeContext")_. Can you please tell me how can this field now be accessed? Is it declared in another class?
Warm regards,

Moacir Correia e Silva

[2018-05-30 16:14] ojw28 commented on #4330
Application code shouldn't access internal platform components using reflection, and as of Android P the platform team are starting to enforce this. See [this blog post](https://android-developers.googleblog.com/2018/02/improving-stability-by-reducing-usage.html).

ExoPlayer doesn't access `mNativeContext` via reflection. If you're seeing this when using ExoPlayer then you're most likely using a c

[2018-05-30 16:14] #4330 closed, assigned to ojw28

[2018-05-30 16:19] moacir69 commented on #4330
OK, thank you for the quick reply.
Kind regards,

Moacir Correia e Silva

[2018-05-30 16:24] ojw28 commented on #4200
I was able to make a little more progress:

* VLC is only able to play the stream if I first [manually resolve the address](https://www.digwebinterface.com/?hostnames=mbcmediaserver.mbcradio.tv&type=&showcommand=on&useresolver=8.8.4.4&ns=all&nameservers=guy.ns.cloudflare.com) to `rtmp://202.123.27.133:1935/bestfm/livestream`, and then use that directly. I don't understand enough about DNS to under

[2018-05-30 18:05] jkellysbgtv commented on #4297
Thanks for looking into this, appreciate the help :)

[2018-05-30 20:35] ChristianKleineidam commented on #4303
I now changed my code to only create the fragment once the player is ready but it still flashes the black screen before playing the video.

As far as the listener goes, that listener doesn't tell me when the shutter starts getting shown.

[2018-05-30 21:28] ChristianKleineidam commented on #4303
When I try to log what I can log, I get:

	05-30 23:20:50.363 31214-31214/com.LearningLeaflets.BetterEar.English V/OurPlayer: PlayerStateChanged to 3 and playWhenReady true
	05-30 23:20:50.383 31214-32423/com.LearningLeaflets.BetterEar.English I/MediaCodec: [OMX.qcom.video.decoder.avc] setting surface generation to 31963186
	05-30 23:20:50.383 31214-32424/com.LearningLeaflets.BetterEar.English D/S

[2018-05-31 06:15] kishido05 commented on #4278
Just a quick update on my part. There was indeed a line of code accessing the SimpleExoPlayer that is running on a separate thread. I have updated that part and made sure every other access is indeed in the main thread. So far, the issue hasn't resurfaced 2 days in to our new version.

[2018-05-31 07:57] mangalpandey opened #4331 "How to play downloaded Hls stream in Exoplayer??"
### Issue description
I have download hls stream in device memory. But I am unable to play it.
### Code is
[code]
### Version of ExoPlayer being used
2.8.0

### Device(s) and version(s) of Android being used
Device(s) - Moto G 4G
Android API version - 27

[2018-05-31 08:42] botaydotcom commented on #4305
One immediate issue I can spot in your code is that you are always creating new player every time, and immediately assign it to your existing `exoPlayer` field.
[code]
When your `loading.execute()` is called, it's stopping the new instance, instead of the old one. To solve this, either try to stop/release the player instance before creating the new one, or reusing the old player instance to play a

[2018-05-31 08:42] #4305 closed, assigned to botaydotcom

[2018-05-31 08:43] rupiapps commented on #3359
works for me with 2.8.1
great work :+1:

[2018-05-31 09:06] botaydotcom commented on #4324
Hi @getashok2003,
I have done a quick search for other similar issues, and it's most likely a device-specific problem. Could you provide a full bug report, as requested in the issue template? Thank you.

[2018-05-31 09:49] botaydotcom commented on #4329
@paf-wv It seems the issue in #3112 is still happening on some devices. Could you please help to take a look? Thank you.

[2018-05-31 10:00] ojw28 commented on #4327
I suspect the manifest in incorrect. My guess would be that the two `presentationTimeOffset` values in the manifest are wrong. They're probably the same as in the original full stream manifest, where-as they should probably be adjusted by the duration of media prior to the start of the part that's being played. In other words, I think `presentationTimeOffset` should be adjusted by `(81974 * 2000)

[2018-05-31 10:07] ojw28 commented on #4327
Note: The actual correct value for `presentationTimeOffset` depends on what the original non-zero `presentationTimeOffset`values were for. It might be that the correct value to use is `8681 + 163948000`, or it might be that using `163948000` directly is the correct value. Without having access to the media it's not possible to say.

[2018-05-31 10:07] #4327 closed, assigned to ojw28

[2018-05-31 10:36] AquilesCanta commented on #4328
Hi @jinfanzon, there are [many issues](https://github.com/google/ExoPlayer/issues?q=is%3Aissue+BehindLiveWindowException) about BehindLiveWindow exceptions, and [some of them](https://github.com/google/ExoPlayer/issues/4009) include pointers on how to prevent it.

The logcat attached to the e-mail includes a PlaylistResetException which is an unrelated issue. It is thrown when the playlist tracker

[2018-05-31 10:36] #4328 closed, assigned to AquilesCanta

[2018-05-31 10:50] Khang-NT opened #4332 "EventListener isn't called in correct thread's looper"
### Issue description
The document of method `Player#addListener` said:

I did construct new SimpleExoPlayer instance within my own Looper (which is not `Looper.mainLooper()`). But when I call `prepare()` media source on main thread, `ExoPlayer` callback to all listeners within main thread instead of using my looper to dispatch the event.

I can see the method [`ExoPlayerImpl#updatePlaybackInfo`](

[2018-05-31 12:10] tonihei commented on #4332
That's more or less working as intended. ExoPlayer also requires you to call all methods on the thread the player was created on (or the main thread if it doesn't have a looper). See also the points under "threading model" here: http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html.

The documentation is not as clear as it should be, and based on the discussi

[2018-05-31 15:08] Anton111111 opened #4333 "Catch when media source is ended from ConcatenatingMediaSource"
This is a question.
For example i create ConcatenatingMediaSource and add into it 3 MediaSources. How can i catch that first mediasource is ended ?

[2018-05-31 15:09] ChristianKleineidam commented on #4303
I did create a minimal example to show that there's still a black screen showing when a new Fragment gets displayed:
https://github.com/ChristianKleineidam/VideoProblems

[2018-05-31 15:17] tonihei commented on #4333
Please have a look at [`EventListener.onPositionDiscontinuity`](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Player.EventListener.html).

[2018-05-31 22:43] 0c6a183d commented on #4322
Hi.

Thanks for the reply and information.

You have stated that there is a bug in minLoadableRetryCount that is effectively _doubling_ the HTTP timeout value set by the developer.

Are you saying it will _not_ be fixed, or that it is a low priority?

Thanks

[2018-05-31 23:22] franklink opened #4334 "Concatenating Media Source loses window index when custom request headers added to data source"
I have an app which uses ConcatenatingMediaSource for the player's media source. Everything has been working flawlessly until I recently started hosting shows from my own server which require an "Authorization" header to play or gain access. This seems to work fine on its face but what I've found is that the media sources array that is passed into the ConcatenatingMediaSource constructor are scram

[2018-06-01 02:33] imcloud opened #4335 "Why can't remove playview from its parent or call clearSurface in 2.8.1"
I called this after start play
[code]
### OR
[code]
then got this error
[code]

And,  first call player.stop() will no error  but lost player state

`qs1: what is this mean?`
`qs2: how can I switch surface and keep player state`

----

# UPDATE

[2018-06-01 06:04] DKillWorld commented on #4323
Strangely enough, I fixed issue with just setting intent flag to Reorder_Front when switching between activities, and no more than 1 playerView instance in memory heap.

[2018-06-01 07:31] andrewlewis commented on #4280
Without the ad tag it's difficult to see if this is a bug in the extension, in the IMA SDK or a problem with the ad tag.

Please could you look in the ad tag and the pods it links to and describe which specific files are empty/non-empty? Or, even better, download the ad tags, remove information you can't share and attach the result?

[2018-06-01 07:36] andrewlewis commented on #4232
Wouldn't it make more sense to add these cue points to the ad tag? It is possible to create an `ImaAdsLoader` using an ad tag provided by your app as a string using `ImaAdsLoader.Builder.buildForAdsResponse`, so perhaps you could try downloading the ad tag, inserting your extra ads and passing the result to that method.

[2018-06-01 07:39] andrewlewis commented on #4140
The IMA team is now investigating what sounds like the same issue. I'll update this if we get more information. Thanks for your patience.

[2018-06-01 07:54] dmazar commented on #4327
Thanks, it looks like you are right!

After adjusting presentationTimeOffset in overridden DashManifestParser by startNumber*duration, player can calculate correct position. Will do some more tests on different streams.

Thank you!

Edit:
It seems the correct fix for invalid manifest we are using is: presentationTimeOffset += (startNumber-1) * duration.

[2018-06-01 08:40] #4335 closed, assigned to nobody

[2018-06-01 09:28] OrenMe commented on #4140
@andrewlewis can you share a link to tracking bug for the issue if avilable?

[2018-06-01 09:33] andrewlewis commented on #4140
It's an internal bug but I'll keep this issue updated with anything relevant that comes up.

[2018-06-01 10:31] getashok2003 commented on #4324
### Reproduction steps
1. Sting android TV box was put overnight testing.
2. Next day play of any service like VOD, Live and Recorded did not work
3. In all case decoder throwDecoderInitError is seen.

### Link to test content-
Its not specific to content

### Version of ExoPlayer being used
2.8.1

### Device(s) and version(s) of Android being used
Sting android TV box by Technicolor -Android vers

[2018-06-01 12:27] tonihei commented on #4334
That sounds really odd. But the way you set the authorization headers looks right.

Are you sure that your server is actually serving the right media with these headers? We could take a closer look but would need a way to reproduce this. Can you provide us with example media and reproduction steps? If don't want to post that publicly, you can also send it to dev.exoplayer@gmail.com quoting "Issue

[2018-06-01 13:05] ojw28 commented on #4322
I think you're conflating a few things together:

* The HTTP timeout. I.e. For a particular connection attempt made by the network stack, how long will it wait before timing out.
* The minimum number of retries. I.e. If the network stack says it's failed to connect, what's the minimum number of times we'll attempt to retry.
* Back-off between retry attempts.

All three of these affect the total ti

[2018-06-01 13:05] #4322 closed, assigned to nobody

[2018-06-01 13:13] dmazar opened #4336 "Chunk download http 404 after changing video track few times"
### Issue description
Playing of live stream with timeShiftBufferDepth of 60 secs fails (chunk download http 404) after changing video track few times. The stream producer uses it's own in-house player and claims that everything is fine with the stream.

I have noticed that hacking the manifest on the ExoPlayer side by changing timeShiftBufferDepth to 30 secs eliminates the issue. I am suspecting

[2018-06-01 13:16] tonihei commented on #4336
Can you please provide us with example media to reproduce the issue? Or send it to dev.exoplayer@gmail.com with "Isse #4336" in the subject if you don't want to post it publicly.

[2018-06-01 13:41] 0c6a183d commented on #4322
@ojw28 - Thank you for your detailed reply. That has clarified things for me plus added some useful tips. Cheers.

[2018-06-01 14:56] ojw28 commented on #4303
The surface prior to anything having been drawn into it is the back screen. On further reflection it seems to me there's a bit of a chicken and egg problem: You normally need to make the `SurfaceView`/`TextureView` visible for it to create the underlying surface that you draw into, but you want to not make the view visible until after the surface contains the first frame. I'm not exactly sure how

[2018-06-01 15:11] dmazar commented on #4336
Email sent.

[2018-06-01 18:01] jinfanzon opened #4337 "RTMP - Player transitions to STATE_ENDED before stream ends"
Hi, I've recently implemented the RTMP exo player extension, and the stream is correct, but randomly  after a certain amount of time the screen freezes, with no exception being thrown. After adding some logs, I can see the the player listener **onPlayerStateChanged** is triggered with state ENDED. I'm appending a section of my code

This is how I initialize the player:

`

@Override

            p

[2018-06-01 18:13] jinfanzon commented on #4337
``

[2018-06-02 05:47] bizkitj opened #4338 "how to add player control ui in IO18 audio App demo."
Hello ExoTeam

Thank you for such a great tool.

I am very new to android development. Please bear with me if I say something or do something stupid.

While I am following IO18 on youtube, especially the audio app part, I realize one thing, how do you pros add player control UI into this app?

e.g, while user tap on the notification, back to the MainActivity, there is nothing there, it's an empty

[2018-06-02 10:31] jh3141 opened #4339 "precacheing standard HTTP content using OkHttp data source, can't play back offline"
Using exoplayer 2.8.1, testing on android SDK versions 19 and 23.

I construct a cache and data source factories using the following code:

[code]
I then precache standard HTTP audio content using the following code:
[code]
The callback is invoked with true, so this process seems to be completing correctly.  Following this, I disconnect from the network and attempt to play the cached content:
[cod

[2018-06-03 22:47] Angelk90 opened #4340 "Change User interface"
@ojw28 , @andrewlewis , @tonihei, @AquilesCanta, @erdemguven:
I would like to create a graphic like this:
https://drive.google.com/file/d/1Vg-C_LYVvCW9gqXpfGPB5Fg6h_ekAx29/view

It would be possible to change the ui of ExoPlayer, if so how can I put the central buttons in the video?
how can I add the split-screen thing, that if you click on the video on the right / left, can you go back in the vid

[2018-06-04 00:42] Angelk90 commented on #4340
@ojw28 , @andrewlewis , @tonihei, @AquilesCanta, @erdemguven:
I have done so for the moment, I have overwritten the file exo_playback_control_view.xml

Code:
[code]

I'm having problems with the split of the screen in two parts, to go back and forth,
Some advice?

P.s.
I have to make sure to boot ExoPlayer via an intent by passing the video url.
But I do not know how I can do it, is it possible to

[2018-06-04 01:39] tmizuguchi-bckk commented on #4329
Hi @paf-wv
Sorry for jumping in. I encountered the same issue and found the Widevine Modular DRM version is 1.0 on the device instead of v.5.1.0-android on other 8.1 devices which succeeded offline DRM playback. I'm not sure whether it affects to the issue or not, but FYI.

[2018-06-04 05:10] hixguru opened #4341 "ANR is occurring when releasing exoplayer only on V30 device"
### Issue description
Recently, ANR is occurring when releasing exoplayer only on V30 device.

### Reproduction steps
sorry. can not reproduce because there is no device.

### Link to test content
Provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please submit the issue, then email the link to
dev.exoplayer@gmail.com using a subject in the format "Issue #123

[2018-06-04 06:11] jmone1 commented on #3803
FYI - Nevcairiel has fixed this in the latest release of LAV - https://github.com/Nevcairiel/LAVFilters/issues/208#issuecomment-394095164

[2018-06-04 08:13] #4333 closed, assigned to tonihei

[2018-06-04 08:15] Anton111111 opened #4343 "Add option to automatically advance to the next playlist item if a playback error occurs"
I use ConcatenatingMediaSource for play 2 media sources.
I wonder can i play second media source if i get error on first ?
Now i get onPlayerError and player don't start play second media source.

[2018-06-04 08:21] tonihei commented on #4343
That's unfortunately not possible at the moment, but something that also came up internally a while ago. Marking as an enhancement to implement this.

As long as this doesn't exist officially, you can workaround the issue by listening for the error in `onPlayerError`, remove the failing item from the playlist with `concatenatingMediaSource.removeMediaSource` and then call `player.prepare` to resta

[2018-06-04 08:29] Anton111111 commented on #4343
@tonihei, thanks! it works for me.

[2018-06-04 08:49] Anton111111 opened #4344 "How to play next mediasource with ConcatenatingMediaSource"
I want add button next to play next media source from ConcatenatingMediaSource.
But i can't find any solution to start play next window. . How to do it?

[2018-06-04 08:55] tonihei commented on #4344
Please have a look in to how the [PlayerControlView of our UI module solves this](https://github.com/google/ExoPlayer/blob/2b55c91af0afd1f50f689adb1046f1cf78c887f6/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerControlView.java#L860).

[2018-06-04 09:27] ojw28 commented on #4340
This is something you'll need to figure out and implement yourself in your application code. The purpose of our standard `PlayerView` and `PlayerControlView` UI components is to provide a decent default UI to get you started, and to allow some degree of customization. If you need further customization you may have to implement your own UI components instead, which is what YouTube do (they use ExoP

[2018-06-04 09:27] #4340 closed, assigned to ojw28

[2018-06-04 09:38] ojw28 commented on #4339
Is the content you're caching bigger than 20MB? You've configured your cache to start evicting content once more than 20MB is cached, so if the content is larger than that then the start of the content will likely be evicted. You could test this theory by using `NoopCacheEvictor` instead.

What are you actually trying to build? If you're trying to build offline functionality then you should take a

[2018-06-04 09:42] ojw28 commented on #4310
It looks like there are probably two versions of ExoPlayer in your binary. I'd suggest taking a look at what's causing that.

[2018-06-04 10:08] ojw28 commented on #4319
The reproduction steps provided appear to be quite time consuming. Please can you provide more direct reproduction steps, such as an rtmp test stream that we can use to test this without having to spend time using FFmpeg / Wowza streaming engine ourselves? We really don't have sufficient time to do this kind of thing to debug non-widespread issues.

[2018-06-04 10:19] ojw28 commented on #4337
I found some simpler reproduction steps involving toggling airplane mode on and off again. This appears to be an issue in LibRtmp rather than ExoPlayer, which I've reported here: https://github.com/ant-media/LibRtmp-Client-for-Android/issues/69

[2018-06-04 10:38] sarabjit-rupaal commented on #4250
Surely [Exoplayer Supported formats](https://google.github.io/ExoPlayer/supported-formats.html) include support for standalone MP4 files.
Also, Exoplayer supports CENC scheme from API 19+.

What are the possibilities for achieving playback of CENC encrypted mp4 files?

If not CENC, does Exoplayer support playback of any other type of content Encryption for mp4 files ?

[2018-06-04 10:45] ojw28 commented on #4337
The only workaround I can think of, until the root cause is fixed in the dependency, is to listen for state changes to the ended state, and re-prepare the player when such a transition occurs.

[2018-06-04 10:53] AquilesCanta commented on #4250
If you are using a platform CDM, e.g. widevine, then not much is required. But you'll need to find out how to serve licenses.

You could use full-file AES encryption (this is used by HLS, for instance). The relevant class here is Aes128DataSource. I am not sure whether you might run into issues with seeking.

Keep in mind that application-level DRM implementations will most likely not be as secure

[2018-06-04 11:41] tonihei commented on #4336
I can basically confirm what you already said. The chunks at the beginning of the published 60 second window fail to load with HTTP 404 errors. But the chunks closer to the live edge work fine.

Can you check back with the publisher of the streams? If their in-house player plays fine, it probably only offers 30 seconds of live window or does not support seeking. For example, if they start showing

[2018-06-04 12:59] Angelk90 commented on #4340
@ojw28 : ok, last questions on the module.

- ExoPlayer, supports the ability to insert a title?
- If I have to call ExoPlayer via an intent, how should I do?

[2018-06-04 13:52] ojw28 commented on #4340
Both of these questions sound related to your application code, rather than the ExoPlayer library. The ExoPlayer library doesn't handle (or deal with) intents directly. It would be your application code doing that. Ditto for handling titles.

[2018-06-05 01:36] roundsmapp commented on #2659
@andrewlewis , back with another problem regarding the use of a customized ```ChannelMappingAudioProcessor``` . It started when I tested on Oreo. When playing the loop, it would cut the sound, like if it was processing it in a very slow speed. Even when adjusting the device volume (the own smartphone volume button), this would happen.

So, I decided to use Services/Notification/Foreground. Service

[2018-06-05 03:01] xiaopao2014 opened #4345 "How to listen loop play"
### Issue description
When use "setRepeatMode(Player.REPEAT_MODE_ONE);" or LoopingMediaSource,which makes play the video looply.
But is there any way which could callback when video repeat.
I hava found "onPositionDiscontinuity" would callback when video repeated,but it would call twice when repeat play once.

### Reproduction steps
setRepeatMode(Player.REPEAT_MODE_ONE);

### Version of ExoPlayer

[2018-06-05 03:07] xiaopao2014 commented on #4345
Ohh, my mistake,which is casued by "addListener" is called twice

[2018-06-05 03:07] #4345 closed, assigned to nobody

[2018-06-05 07:49] Vengat121 commented on #4343
Hi! I am beginner, I too have same issue, can you please elaborate that or give sample @tonihei or @Anton111111

[2018-06-05 07:57] andrewlewis commented on #2659
@roundsmapp For the `ArrayStoreException`: please make sure you're passing an `AudioProcessor[]` to the player, not a `ChannelMappingAudioProcessor[]`.

Regarding audio cutting out like processing is too slow: this doesn't sound like the kind of issue that would be fixed by moving the player into a service (though that's the right thing to do anyway if you need to play audio when your app isn't in

[2018-06-05 08:50] tonihei commented on #4343
@Vengat121 Which part of the explanation above would you like to have elaborated? ;)

It's basically:
 1. Add a listener to the player: `player.addListener(listener)`.
 2. Create the playlist with a `ConcateningMediaSource` and prepare the player with `player.prepare(mediaSource)`.
 2. Check for errors in `onPlayerError`.
 3. Remove the playlist item which caused the error with `concatenatingMedia

[2018-06-05 09:59] NitinSharma639 commented on #4317
Hello

I have update the sdk to 2.8.1 but the event is working on some version of android but not all versions of android.

[2018-06-05 10:04] dmazar commented on #4336
Thanks for looking into this.

Unfortunately, I do not have access to that in-house player and can not check how it loads segments in Wireshark. We have tried the same stream in Shaka player and it ends up with 404 error also, although it requires much more video track switches until the error.

About seeking: Our app uses ExoPlayer and our overlay controls. We are treating that stream as live str

[2018-06-05 10:10] tonihei commented on #4317
Could you please more details and reproduction steps such that we can help you to find the issue?

Specifically, which "event" are you talking about? And what exactly is only working on some versions of Android? And which versions of Android?

[2018-06-05 10:32] Vengat121 commented on #4343
I still unable to get, can you please solve it. Here is my full code is

    ImageButton playPause,lockScreen,unLock;
    SeekBar seekBar;
    TextView start,end;
    boolean isPlaying = false;
    boolean isLock = false;
    RelativeLayout controller;
    FrameLayout root;
//    boolean isLandscape = false;
    boolean isControllerShowing = true;
    private Handler mHandler;

    SimpleExoPlayer

[2018-06-05 10:38] Vengat121 commented on #4343
@tonihei

[2018-06-05 11:00] tonihei commented on #4343
Sorry, we can't debug your app in every detail. It's probably better to post such a question on StackOverflow or similar sites. I am also not sure this code is relevant for the issue posted above because it doesn't even use a playlist (i.e. ConcatenatingMediaSource).

[2018-06-05 11:10] ojw28 commented on #4326
This sounds like an issue with your local setup rather than a problem with the library. As an additional point to @erdemguven 's point above, please make sure you're using version 2.8.0 or later.

[2018-06-05 11:10] #4326 closed, assigned to erdemguven

[2018-06-05 12:36] NitinSharma639 commented on #4317
Deleted the comment . Thanks for answer . Now its working properly. I will ask If i have any question.

[2018-06-05 13:27] strikemansan opened #4346 "Control buttons moving issue"
I have a simple exo player view in my root frame layout. I changed height of player like wrap_content and set layout_gravity=center.

<FrameLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/root"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layout_gravity="center"
    android:focusable="true"
    android:keepS

[2018-06-05 13:36] ojw28 commented on #4346
I'm not sure exactly what you mean, but the view will resize when the video dimensions become known. The video dimensions are not known until the start of the video has been successfully requested, so this does not happen immediately.

I don't really see how you can avoid this. Perhaps you should be using a fixed height in `dip` rather than `wrap_content`?

[2018-06-05 13:43] strikemansan commented on #4346
@ojw28 you're right.
After change wrap_content to fixed size in dp, buttons are located where i need, but are there any other ways?

[2018-06-05 13:59] ojw28 commented on #4249
We've made some changes to ExoPlayer that will mitigate the leak. The `MediaPeriod` will still leak, which is unavoidable until the root cause is fixed in LibRtmp. However we now explicitly null references from that point, to allow GC of `ExoPlayerImplInternal`, the `Activity` and so on. This is a good thing to do from a robustness point of view, and may allow faster GC for some other use cases to

[2018-06-05 14:01] #4297 closed, assigned to andrewlewis

[2018-06-05 14:01] #4276 closed, assigned to tonihei

[2018-06-05 14:07] roundsmapp commented on #2659
The app is designed to be used (play the audio) only in foreground and I coded it to do so. It is working fine in versions prior to Oreo. So, by reading this page [https://developer.android.com/about/versions/oreo/background](url), I understood it would be better to use Services/Foreground on this newer version of Android.

So, if moving to foreground will not supposedly fix the audio cutting, whe

[2018-06-05 15:10] ojw28 commented on #4336
The fact that the stream is relying on the client and server having synchronized clocks is a fundamental problem. The manifest needs to include a `UTCTiming` timing element to allow the client to synchronize with the server's clock, however no such element is present. Alternatively, the manifest should use `SegmentList` instead of `SegmentTemplate`, in which case synchronized clocks aren't require

[2018-06-05 16:29] mojzis commented on #3220
This should actually be fixed in the current build of Xiaomi OS checkout the story how we were trying to figure out what was wrong :)
https://tech.showmax.com/2018/06/making-video-on-demand-work-for-everyone/

[2018-06-05 16:51] AdamGrzybkowski commented on #4249
Great @ojw28  thanks :)

[2018-06-05 16:54] ojw28 commented on #4080
The problem here is that we handle the text background color in different ways depending on where it came from:

1. If it's specified in the `CaptionStyleCompat` then it gets drawn by a `canvas.drawRoundRect` call in `SubtitlePainter`.
1. If it's embedded in the media then we use `BackgroundColorSpan` to specify the color. It gets drawn by a `layout.draw(canvas)` call in `SubtitlePainter`. Note th

[2018-06-05 16:57] BetweenTwoBits commented on #4080
Thank you for the detailed breakdown, that makes total sense. I'll put some work into this and edit my PR!

[2018-06-05 16:59] ojw28 commented on #4080
No worries, and thanks! Note that I think you can fix the issue by modifying `SubtitlePainter` only. If you're still finding yourself touching other classes then it's probably worth discussing further, since I don't think it's necessary to do so.

[2018-06-05 17:17] ojw28 commented on #4346
To clarify, the player controls are always at the bottom of the `SimpleExoPlayerView`. The `SimpleExoPlayerView` initially occupies the whole height of the parent `FrameLayout`, so you see the player controls at the bottom. The `SimpleExoPlayerView` resizes to occupy a smaller space when the aspect ratio of the video becomes known, so you see the player controls still at the bottom of the `SimpleE

[2018-06-05 17:17] #4346 closed, assigned to nobody

[2018-06-05 18:37] #4315 closed, assigned to botaydotcom

[2018-06-05 18:45] ojw28 commented on #4332
Threading requirements were clarified in https://github.com/google/ExoPlayer/commit/2813c0699fef8a2e4df5a37534401cbdaa8af572. We'll also update the developer guide.

In addition, we're planning a change that will allow you to specify a `Looper` when instantiating the player, which will add a little more flexibility. Follow https://github.com/google/ExoPlayer/issues/4278 for updates.

[2018-06-05 18:45] #4332 closed, assigned to tonihei

[2018-06-05 18:48] ojw28 commented on #3879
Closing due to lack of updates.

[2018-06-05 18:52] ojw28 commented on #3775
@jt64 - Did you hear from the manufacturer? Thanks.

[2018-06-05 18:52] #4301 closed, assigned to tonihei

[2018-06-05 19:36] ojw28 commented on #4321
The person who wrote this code no longer works on the project, however looking at the corresponding code review, it appears the intention is to handle the white-italic case, where two spans are used to apply a single style:

https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java#L383

The nextStyleIncrement ensures both

[2018-06-05 19:46] ojw28 commented on #4321
Do you have any good test content for demonstrating these issues?

[2018-06-05 20:34] zsmatyas commented on #4321
Most crashes were identified by just leaving a local live channel play overnight (any channel that should also be available in the Mountain View area).
I added checks for all setSpan() calls to check the indices for validity. I haven't seen any more crashes since then.

I usually test the code including all these changes as well: https://github.com/google/ExoPlayer/pull/4308 (and much more, but th

[2018-06-05 20:38] ojw28 commented on #4321
A further thought about this: It seems problematic that, if we were to do this, there's a way to return to "default color" whilst also changing to italic, but not otherwise (i.e. non-italic). It kind of suggests we should treat WHITE as "default color" too, although that is in itself slightly strange. Alternatively, we could make all 608 captions explicitly white. Hmm!

[2018-06-05 21:11] ojw28 commented on #4271
I tried requesting the URL through a proxy. It returned HTTP status code 200 (i.e. OK) but no data. The Content-Length header explicitly indicates a length of 0. Playback then fails with the error above. So I think the URL is just not serving any content.

[2018-06-05 21:11] #4271 closed, assigned to andrewlewis

[2018-06-05 21:12] ojw28 commented on #3998
Closing due to lack of updates (and the subtitles appearing to work correctly when we tried to reproduce).

[2018-06-05 21:12] #3998 closed, assigned to AquilesCanta

[2018-06-05 21:12] ojw28 commented on #4120
Closing due to lack of updates.

[2018-06-05 21:12] #4120 closed, assigned to andrewlewis

[2018-06-05 21:14] ojw28 commented on #3906
Should be fixed at the same time as https://github.com/google/ExoPlayer/issues/4321.

[2018-06-05 21:16] ojw28 commented on #4284
Unless you're going to propose a minimal set of extension points for us to add, there's nothing for us to do here. Closing for now. If you do come up with such a set, please send a pull request.

[2018-06-05 21:16] #4284 closed, assigned to ojw28

[2018-06-05 21:22] ojw28 commented on #3824
This is something an app could easily do itself using a view placed on top of the `PlayerView`, isn't it? Or by defining their own `exo_player_view.xml` containing an additional view. I don't think there's a strong case for the library providing direct support for this.

[2018-06-05 21:22] #3824 closed, assigned to AquilesCanta

[2018-06-05 21:26] ojw28 commented on #4086
Without a sample server response that causes this issue, or a way to get one, there's not a lot we can do to help. Closing for now. We'll re-open the issue if more information is provided.

[2018-06-05 21:26] #4086 closed, assigned to andrewlewis

[2018-06-05 21:26] ojw28 commented on #4138
Closing due to lack of requested information.

[2018-06-05 21:26] #4138 closed, assigned to andrewlewis

[2018-06-05 21:48] zsmatyas commented on #4321
You are right, the mid-row spans are using this nextStyleIncrement values I do not fully get yet. But as I see, at least the midrow spans are inside the preamble spans, aren't they?

**About Default color**: My original Pull request for ExoV1 handled white as "default color" everywhere. So instead of opening a new color span for white, I simply closed the previous color span. The ExoV2 caption han

[2018-06-05 21:50] zsmatyas commented on #3906
Note: this is also fixed in this pull request:
https://github.com/google/ExoPlayer/pull/4308/commits/5a6bb780bbc4b3681e186b635ef8b698800215c3#diff-83f8c19437ea277fb176fdd4055095baR765

[2018-06-05 22:08] paf-wv commented on #3517
ojw28@ sounds reasonable.
predaV@ any chance of you providing a clear sample of the encoded video so we can look into the differences of the content?

[2018-06-05 22:30] paf-wv commented on #4329
Hi @tmizuguchi-bckk
Thank you for your report. This is most definitely interesting. We will let our Android friends know about this Kyocera device has a possible issue. Have you been able to check more than one device? Do you know the value for; license_duration_seconds,  playback_duration_seconds and rental_duration_seconds sent in the license service?

[2018-06-05 22:41] ojw28 commented on #4135
@AquilesCanta - Did you have a chance to look at this?

[2018-06-05 22:44] ojw28 commented on #3149
@AquilesCanta - Can this be marked as fixed?

[2018-06-05 22:55] #4334 closed, assigned to tonihei

[2018-06-06 06:30] fpittersacc commented on #3879
@andrewlewis , sorry I've missed you questions.

Yes, we are releasing the player and the ImaAdsLoader at the same time on some situations, so it's the queued runnable running after ImaAdsLoader has been released.

We have included a `released` flag on ImaAdsLoader and we discard attach/detach callbacks if active. But maybe the right approach would be clearing queued runnables in the handler, not

[2018-06-06 08:29] #3149 closed, assigned to AquilesCanta

[2018-06-06 10:11] Vengat121 commented on #4343
Hi can you please say about 3rd & 4th point, how to do it @tonihei or @Anton111111

[2018-06-06 10:39] robindanielk opened #4347 "App Crashes with "A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 30427 (CodecLooper)" error!"
Hi ,
 I am using the latest exoplayer with ffmpeg support by adding the local dependencies as per the instructions.But after adding the library I am getting the above error and along with it i get a audioUnderRun error.
![asterissue](https://user-images.githubusercontent.com/25497676/41033215-5335170a-69a3-11e8-97f3-a6dc8af81efb.png)
And this is how i initialised my exoplayer,
`DefaultRenderersFac

[2018-06-06 10:41] ojw28 commented on #4347
Please provide a full bug report captured with `adb bugreport` shortly after encountering the issue. Your screenshot does not appear to show the problem mentioned in the title of this issue. Screenshots are also not particularly helpful (e.g. no way to do a text search on them).

[2018-06-06 10:52] ojw28 commented on #4338
This issue tracker is intended more for reporting issues with the library, rather than coding help. I'd suggest asking your question on StackOverflow. Sorry to not be more helpful, but we don't have sufficient time to answer this type of question.

[2018-06-06 10:52] #4338 closed, assigned to ojw28

[2018-06-06 11:44] Anton111111 commented on #4343
@Vengat121 , i do the following in onPlayerError

[code]

[2018-06-06 11:56] Vengat121 commented on #4343
Hi thanks for your reply, what should i do in removeMediaSource(exoPlayer.getCurrentWindowIndex()) method and where i should call second media source. can u please post your code brief @Anton111111

[2018-06-06 12:46] dmazar commented on #4336
Thanks. It looks like you are correct. I checked in Wireshark what ExoPlayer is picking up for the first segment in that test stream and it is the segment 14th segment (28 secs) before the last one. Calculate it with your instructions. Sounds good.

Although I'm still little bit confused with timings. Yesterday I found this doc:
https://dashif.org/wp-content/uploads/2016/12/DASH-IF-IOP-v4.0-clean.

[2018-06-06 12:46] #4336 closed, assigned to tonihei

[2018-06-06 13:26] andrewlewis commented on #4266
The stream provided via email plays fine in the demo app on a device that has no AC-3 decoder. I don't have access to the device you're using, but it seems likely that its AC-3 decoder is not working correctly. Please could you confirm this by trying to play the stream in the ExoPlayer demo app with the audio track disabled?

[2018-06-06 14:14] noamtamim commented on #3835
We have another report of a device that should be added to the DummySurface workaround -- the new Huawei Y3 (2018), an Android Go device: https://www.gsmarena.com/huawei_y3_(2018)-9196.php.

[2018-06-06 14:58] brinkkemper commented on #3879
I have a similar NPE appearing in our crashlogs. But it's on start() instead of resume.
Can't reproduce it either in our app.
[code]

[2018-06-06 15:01] andrewlewis commented on #3995
@boulaycote is there anything actionable for us here? If so, I'll reopen this issue.

It looks like the distortion is caused by packets getting dropped/reordered and the decoder concealing the decoding errors resulting from this. A possible fix would be to switch to a reliable protocol or use some other kind of error correction.

[2018-06-06 15:01] #3995 closed, assigned to andrewlewis

[2018-06-06 15:03] #4232 closed, assigned to andrewlewis

[2018-06-06 15:30] andrewlewis commented on #1611
It's been a while, but one way to address this finally would be to implement a more comprehensive `ErrorMessageProvider`, like the [one in the demo app](https://github.com/google/ExoPlayer/blob/b9aaf1e/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L705).

[2018-06-06 15:52] ojw28 commented on #272
As I understand it EBU-TT-D is a profile of TTML, and we support TTML. So I think we can mark this as fixed? If anyone thinks otherwise, please reply here and we'll re-open the issue.

Aside: It's likely we don't support all of the features allowed by the EBU-TT-D profile, but it's also likely that many of those features are never used in practice. It's also likely that the experience degrades in

[2018-06-06 15:52] #272 closed

[2018-06-06 15:52] jarrodoxical commented on #4123
Update: fixed by adding OMX.AMLOGIC.AVC.DECODER.AWESOME to the **codecNeedsSetOutputSurfaceWorkaround** function and forcing surfaceView.

FWIW: When experiencing this same green screen issue on another device [ExoPlayerLib/2.6.1] [OMX.allwinner.video.decoder.avc] [PNDP70M7BLK, PNDP70M7BLK, Pendo, API 25] we found that textureView fixed the first playback but needed a surfacemanager class to chang

[2018-06-06 15:55] #1745 closed, assigned to ojw28

[2018-06-06 16:13] ojw28 commented on #3598
Let's use https://github.com/google/ExoPlayer/issues/1845 to track implementing, and providing guidance on, seamless transitions to and from fullscreen.

[2018-06-06 16:13] #3598 closed, assigned to marcbaechinger

[2018-06-06 16:15] nigelmegitt commented on #272
Yes, but no. TTML is extensible, and EBU-TT-D defines some important extensions relative to TTML.

The logical conclusion of these two statements is that you don't know if you support all the features allowed by the EBU-TT-D profile. As a point of fact EBU-TT-D is probably the smallest profile of TTML that's in widespread use, and most of the features are likely to be used because someone else (i.

[2018-06-06 16:30] tonihei commented on #3835
Thanks for reporting! That really is a never-ending-story ;(
Do you have the Build.MODEL for that? It might be "CAG-L02" or "CAG-L22".

[2018-06-06 17:09] ojw28 commented on #272
Thanks for the additional information. Just to clarify, we are committed to doing a great job of supporting subtitles, particularly when there are compliance issues involved. We've resolved several specific shortcomings with our EBU-TT-D support recently (e.g. https://github.com/google/ExoPlayer/commit/24b16f34195070794bcd98db27d84e8dc716a3d2, https://github.com/google/ExoPlayer/commit/17abab455e5

[2018-06-06 17:14] boulaycote commented on #3995
@andrewlewis There is no packet loss on the laptop (checked with vlc). I don't understand why an android device is not able to display the same stream without issues. Or is vlc error correction better? Is it device performance? Network throughput of 10/100 too low?

[2018-06-06 17:20] andrewlewis commented on #2392
Assuming you're rendering video output to a `SurfaceTexture`, I think the right way to do this is to store the presentation timestamps at which format changes occur, then map the release time of each frame (`SurfaceTexture.getTimestamp()`), onto a presentation time (more info in #3471) and then use this presentation time to look up whether the format has changed. This should allow you to get perfe

[2018-06-06 17:20] #2392 closed, assigned to andrewlewis

[2018-06-06 17:22] andrewlewis commented on #3995
Unsure. I'd probably try dumping information on packets being read by ExoPlayer and compare this with what the laptop is receiving, to confirm that the corruption is definitely being caused by dropped or out-of-order packets.

[2018-06-06 17:26] boulaycote commented on #3995
Right. Weird thing is, the stream now is set at 19 mbps which is pretty high. Suggesting very high throughput, i-frame is still at 1 however. When I get back on the project, I'll come back here and report.

[2018-06-06 17:41] ojw28 commented on #3971
Thanks for the update! Closing for now, but if you discover there's still an issue please respond here and we'll re-open it.

[2018-06-06 17:41] #3971 closed, assigned to ojw28

[2018-06-06 17:46] ojw28 commented on #2054
Reassigning to @tonihei as this is (primarily) analytics related.

[2018-06-06 17:48] #4307 closed, assigned to tonihei

[2018-06-06 17:59] ojw28 commented on #3463
Documentation for offline license management is tracked by https://github.com/google/ExoPlayer/issues/4100.

[2018-06-06 17:59] #3463 closed, assigned to ojw28

[2018-06-06 18:08] AquilesCanta commented on #3995
We can probably do a lot to improve our support for lossy streams, but unfortunately we don't have the bandwidth to dedicate exclusively to this right now. Of course, any contributions are welcome. It might be worth seeing if we can learn anything from VLC.

[2018-06-06 18:10] #4292 closed, assigned to marcbaechinger

[2018-06-06 18:15] #4267 closed, assigned to andrewlewis

[2018-06-06 18:15] ojw28 commented on #4267
Closing due to lack of updates.

[2018-06-06 18:20] ojw28 commented on #2856
@sureshcnvidia - Any idea about this? Thanks!

[2018-06-06 18:22] ojw28 commented on #2638
Closing this as the feature request has never been justified by a particularly valid use case.

[2018-06-06 18:22] #2638 closed, assigned to AquilesCanta

[2018-06-06 20:20] #3412 closed, assigned to ojw28

[2018-06-06 20:21] selimonline opened #4348 "Some videos getting distorted..."
Problems :
=====================
few videos getting distorted at certain position
here is screenshot.....
https://image.prntscr.com/image/sp6cF6eXQQKwy21J9XkckA.png

Build.gradle
===============
[code]

(although I tried most latest versions). same issues always...

Activity code :
=================
[code]

Testing Device :
Samsung edge s7

Video Url :
https://oevo.com/exo/TFWsBEnXMgqncUxRxMmGlPAj

[2018-06-06 22:42] strikemansan opened #4349 "Play/Pause button icons after end of file reached"
Hi
I have simple exo player view which show video. After video end's play button showing pause icon. How i can refresh play button after end of video in my DefaultEventListener?

Thanks

[2018-06-06 22:51] ojw28 commented on #4123
Currently `codecNeedsSetOutputSurfaceWorkaround` disables two things: Use of `setOutputSurfaceV23` and use of `DummySurface`. Could you try a more targeted workaround, which is to revert your change to `codecNeedsSetOutputSurfaceWorkaround` and instead return false from `shouldUseDummySurface`. This will disable use of `DummySurface` but still allow `setOutputSurfaceV23` for seamless switching bet

[2018-06-06 22:52] ojw28 commented on #4349
We do this automatically as of 2.7.0, so it's likely you're using an older version. I'd suggest you update to a newer version to get this behavior.

[2018-06-06 23:07] strikemansan commented on #4349
@ojw28 Thanks for you reply

[2018-06-07 05:22] Vengat121 commented on #4343
@Anton111111  or @tonihei I got all except in removeMediaSouce method.. can you help me in that how to remove a media source

[2018-06-07 05:46] robindanielk commented on #4347
Hi, I am not able to reproduce the issue..it keeps occurring very randomly...i ll send the bug report asap!!

[2018-06-07 06:14] robindanielk commented on #4347
This is the bug report when "audioTrackUnderrun" occurs...occurs very random!!. ..but the not able to reproduce "A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 30427 (CodecLooper)" error!!
NOTE: I running this in android box for TV.
[bugRPT2.txt](https://github.com/google/ExoPlayer/files/2079129/bugRPT2.txt)

[2018-06-07 08:56] tonihei commented on #2054
That's relatively easy to implement. @ojw28's comment above is a little bit outdated as we made some changes to the media source event reporting.

The updated version is:
- The URL after redirection will be reported through `MediaSourceEventListener`'s callbacks (as above in `onLoadCompleted` and if applicable also in `onLoadCanceled` and `onLoadError` ).
- The URl will be a new additional field i

[2018-06-07 09:41] andrewlewis commented on #3879
@brinkkemper This suggests IMA is calling `loadAd` after we've called `adsManager.destroy()`. I'll need to investigate a bit further to see how that can happen. With the workaround in #4231 this shouldn't cause a crash any more.

@fpittersacc Using a flag should work. I'll plan to make a fix, either using a flag or by checking for queued attach messages in detach, and removing them if present. (Th

[2018-06-07 10:42] robindanielk commented on #4347
this is the bug report on the codec error !!
[codecBug.txt](https://github.com/google/ExoPlayer/files/2080050/codecBug.txt)

[2018-06-07 11:35] Vengat121 opened #4350 "I am getting problem in line removeMediaSource method if (player.getNextWindowIndex() != INDEX_UNSET && player.getCurrentWindowIndex() != INDEX_UNSET) { // Log.e("Can't play current window (" + player.getCurrentWindowIndex() + // "). Try start next."); videoSource1.removeMediaSource(player.getCurrentWindowIndex()); player.prepare(concatenatingMediaSource); return; }"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-06-07 18:54] #4350 closed, assigned to nobody

[2018-06-07 20:02] ojw28 commented on #3906
Apple's [16x9 test stream](https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8) doesn't seem to assume that midrow codes insert spaces. The stream includes captions that are fully italic. If we add space when we see a midrow code we end up starting each of these captions with a space, which I very much doubt is intended. There are no backspaces to undo

[2018-06-07 20:21] #4349 closed, assigned to ojw28

[2018-06-07 20:39] ojw28 commented on #3906
Looks like dash.js inserts a space (https://github.com/Dash-Industry-Forum/dash.js/issues/1906). Android's [ClosedCaptionRenderer](https://chromium.googlesource.com/android_tools/+/9e9b6169a098bc19986e44fbbf65e4c29031e4bd/sdk/sources/android-22/android/media/ClosedCaptionRenderer.java#662) does too. Does this imply the Apple test stream is incorrect in not following the midrow codes with backspace

[2018-06-07 20:49] strikemansan opened #4351 "Pause player after switch page in ViewPager"
Hi

I use simple exo player view as part of my recyclerView which contains video or photo.
My question: how i can stop video/recreate player after i switch page in PagerAdapter?

I used this in onPageChangedListener, but it doesn't always work

            _player.setPlayWhenReady(false);
            _player.getPlaybackState();

Thanks

[2018-06-07 21:40] roundsmapp commented on #2659
@andrewlewis , do you have any clue about why there is this audio cutting on Oreo, even when doing a volume change through the device buttons?

[2018-06-07 21:47] Balthazar2k4 commented on #3803
I can concur that Nevcairiel's fixes do work on PC.

[2018-06-07 22:56] zsmatyas commented on #3906
That is usually achieved by a Preamble code, not a mid-row code. You need to look for a "Sentence with a single _word_ in italic."
I tested dozens of live channels. The providers (over-the-air in the Mountain View area) do not seem to add a whitespace after a mid-row code, so the text looks strange on live channels. Note: an additional whitespace would not cause any trouble.

But please, check the

[2018-06-07 23:08] ojw28 commented on #3906
Yes, I've looked at those already, thanks. I'm pretty sure inserting the space is the right thing to do.

This does imply the Apple test stream is incorrect, as far as I can tell. They seem to be using mid-row code rather than preamble code. If you have a chance it would be good if you could take a quick look at that stream to see if you agree, and/or whether we have some other bug. The unwanted s

[2018-06-08 05:31] aarondib opened #4352 "ANR on player release"
### Issue description
According to log reports from users, after upgrade to r2.8.1 (from r2.6.1), on about 1% of app sessions we have ANR on SimpleExoPlayer.release().
Never seen this issue (reports) on versions <=r2.6.1.

### Reproduction steps
Play some stream and then call SimpleExoPlayer.release(), called in main thread.

### Link to test content
Unknown for a while.

### Version of ExoPlayer

[2018-06-08 06:14] workspace opened #4353 "Build error related with project's gradle"
### Issue description
Got build error messages
"exoplayer failed to resolve common",
"Could not find common.jar (android.arch.core:common:1.0.0)." when I try to build ExoPlayer

### Reproduction steps
Just clone ExoPlayer repository and try to build

### Version of ExoPlayer being used
dev-v2 branch commit sha : cad3de91c92d835e3a438b39897115e992478196
Android Studio 3.1.2

However, I found soluti

[2018-06-08 06:57] narasimharao11 opened #4354 "AdsMediaSource$ComponentListener.release()' on a null object reference"
I am getting com.google.android.exoplayer2.source.ads.AdsMediaSource$ComponentListener.release()' on a null object reference for some devices like

samsung,motorola,HTC and OnePlus --os versions(6 and 7)

using exoplayer version 2.7.1.

[code]

[2018-06-08 08:07] goroshevsky opened #4355 "Playback failed on Xiaomi Redmi 3s"
### Issue description
Stream playback is failed on Redmi 3s phone, but I tested the app on multiple another devices, and it's working fine. I just added in debug text of demo app info about loading of FFMpeg library and phone info. Extensions rendering is set as `MODE_PREFER` and I have set Ts extractor flag `FLAG_ALLOW_NON_IDR_KEYFRAMES`
![image](https://user-images.githubusercontent.com/7271359/

[2018-06-08 08:59] loki666 opened #4356 "MediaSessionConnector metadata update"
### Issue description
I don't know if the issue is in MediaSessionConnector or in https://github.com/googlesamples/android-media-controller,
But both disagree on the Metadata keys to use for the currently playing item.

`MediaSessionConnector::updateMediaSessionMetadata()` is using `MediaMetadataCompat.METADATA_KEY_DISPLAY_*` keys where the media controller app is looking for `MediaMetadataCompat.

[2018-06-08 09:10] andrewlewis commented on #4356
Please see #4292. As of two days ago we set both keys.

[2018-06-08 09:46] andrewlewis commented on #4352
- It would be useful to see a bug report so we can check what the playback thread is doing (it is responsible for notifying the thread waiting in `release` that resources have been returned to the system). If you have one, please could you attach it here or email it to `dev.exoplayer@gmail.com` with subject "Issue #4352"?
- Do you have any information on whether all devices are affected equally, o

[2018-06-08 09:49] AquilesCanta commented on #3727
Yes. You might run into device specific issues. Please let us know if that's the case (through a new issue including all information required in the issue template). If you think there is a specific aspect that is not supported, also let us know.

[2018-06-08 09:49] #3727 closed, assigned to AquilesCanta

[2018-06-08 09:54] AquilesCanta commented on #3790
Hi @okaymak, sorry for the delay on this. Two questions:

- Have you managed to make tunneling work on any other device?
- Have you tried contacting the manufacturer?

[2018-06-08 10:08] ojw28 commented on #4352
Agreed we need a full bug report (or at least the stack traces of all of the threads) to debug this.

[2018-06-08 10:15] loki666 commented on #4356
ok what about the other for the artist and the album ?

[2018-06-08 10:20] aarondib commented on #4352
1) Could this "bug report" be get from Google Play Console's ANR reports? And will it has enough data to analyze playback thread?

2) Looks like, all devices are affected equally. It will be more precise when more users install app update.

3) We did not added any new features when upgraded from 2.6.1 to 2.8.1.
No manual message sending.
But surface changing during playback had been added a long t

[2018-06-08 10:24] andrewlewis commented on #4356
Marc, could you comment any other relevant keys? Thanks!

[2018-06-08 12:34] anandsingh2903 opened #4357 "Does exoplayer support MPEGA audio format in HLS Stream? if not, how can i play MPEGA audio format in my HLS Stream (playlist.m3u8)"
I am playing a playlist.m3u8 HLS Stream using exoplayer and the video is working fine but the audio is not coming in the HLS and as i have checked the audio format of HLS Stream. I think it's MPEGA (MPEG layer 1/2/3 format). how can i play the audio of this format in HLS Stream in exoplayer.

[2018-06-08 12:38] anandsingh2903 commented on #4313
can't play the media in the demo app. i am changing the links of HLS apple stream to my link in json file. but then HLS option doesn't load in the demo app.

[2018-06-08 13:04] AquilesCanta commented on #4313
Does it show a toast saying it failed to load? If so, then you possibly have an extra/missing comma/bracket.

[2018-06-08 13:50] AquilesCanta commented on #4135
Hi @giladna, I am getting a 403 after trying several proxies in India (including Mumbai). Could you donwload and send to us the master playlist, one of the media playlists and a few segments from that playlist, along with the key? That would make debugging much easier. You could put it in a Google drive and send it to dev.exoplayer@gmail.com for us to see. Many thanks.

[2018-06-08 13:59] adesentenac commented on #4353
I'm having the same issue, apparently some google artifacts disappeared from jcenter (support-core-ui:27.1.1, play-services-base-license:12.0.0...)

[2018-06-08 15:30] andrewlewis commented on #3323
Is it possible that this is due to having a preflight request for CORS?

[2018-06-08 15:38] ojw28 commented on #4357
Duplicate of #4313

[2018-06-08 15:38] #4357 closed, assigned to AquilesCanta

[2018-06-08 16:20] 0c6a183d opened #4358 "Question - Exoplayer Privacy Policy"
Hi.

Is there a Privacy Policy that accompanies Exoplayer, or does it fall under the Google Privacy Policy?

Does Exoplayer feed back any usage information back to your Team or Google in general?

Thanks

[2018-06-08 17:29] jboisjo opened #4359 "AC3 Audio Dolby 5.1 issue (DASH)"
### Issue description
We are having issue with our device that can't read AC3 Dolby 5.1 audio

[code]

### Reproduction steps
I tried to set the AudioCapabilities to null

[code]

and it's working but we don't get Dolby 5.1 sound.

I found a solution that you guys did for the Nvidia Shield and we need to have the same work around for our specific Android device.

In the DefaultAudioSink class, the

[2018-06-08 19:03] aarondib commented on #4352
@andrewlewis sent you an e-mail with ANR bug reports from different devices.

[2018-06-08 21:29] ojw28 commented on #4356
@loki666 - Can you be specific about exactly which keys you're referring to (i.e. list them all), so we can make sure we don't miss any? Thanks!

[2018-06-08 22:42] villoren opened #4360 "[question] ffmpeg extension - pcm_mulaw support"
Hi,
I'm trying to play a file with an audio stream encoded as **pcm_mulaw** (container is **mp4**).

### Scenario
**ffprobe** outputs the following:
[code]

And since ffmpeg supports pcm_mulaw, I thought the **ffmpeg extension** would do the trick.
So I **built the extension using the following options:**
[code]

Then verified `FfmpegLibrary.isAvailable()` was `true`, and asked `DefaultRenderersFa

[2018-06-09 03:53] anandsingh2903 commented on #4313
Hi,

Asi played the HLS of my URL in demo App i am getting these in logs. and the audio is not coming.

06-09 09:20:44.187 828-1057/com.google.android.exoplayer2.demo W/VideoCapabilities: Unrecognized profile/level 1/32 for video/mp4v-es
    Unrecognized profile/level 32768/2 for video/mp4v-es
    Unrecognized profile/level 32768/64 for video/mp4v-es
06-09 09:20:44.193 828-1057/com.google.android.

[2018-06-09 05:38] shri-hari93 opened #4361 "Http request properties"
Im working on a project to collect the metrics of the exoplayer. For my metrics, I'm looking forward to extract the http request properties(http list in dash.js) when the player request for fragments. Is there any possible way in the current api to get what I am looking for?

[2018-06-09 05:39] shri-hari93 commented on #4361
Im working on a project to collect the metrics of the exoplayer. For my metrics, I'm looking forward to extract the http request properties(http list in dash.js) when the player request for fragments. Is there any possible way in the current api to get what I am looking for?

[2018-06-09 05:47] shri-hari93 commented on #4361
import com.google.android.exoplayer2.analytics.AnalyticsCollector.Factory; And could not import the following package from exoplayer. Is this known issue?

[2018-06-09 08:30] FD- commented on #4361
I believe one possibility would be to use the OkHttp extension. When creating the OkHttpClient to be passed to the OkHttpDataSourceFactory constructor, install an Interceptor. From within the Interceptor, you should be able to read the request header fields.

[2018-06-09 10:12] loki666 commented on #4356
[code]

[2018-06-09 10:18] needz opened #4362 "Broadcast of Intent ANR"
### Issue description
Since ExoPlayer version 2.8.* I am receiving a lot of ANRs in the Google Play Console.
`Broadcast of Intent { act=android.intent.action.TIME_TICK flg=0x50000014 (has extras) }`
Seems to have something in common with https://github.com/google/ExoPlayer/issues/4352 , because there are ANRs when releasing the player.

### Reproduction steps
I cannot reproduce it, seems like it d

[2018-06-09 11:23] anandsingh2903 opened #4363 "Is there any step by step tutorial to implement FFMPEG extension to play MPEGA audio in HLS?"
I want to play ac3 audio in HLS streaming in exoplayer. The sound is not coming. Does exoplayer support ac3 audio in HLS and is there any step by step tutorial to implement ffmpeg in exoplayer

[2018-06-09 12:25] AquilesCanta commented on #4313
The logs indicate the audio is AC-3. It is not that common to find devices with AC-3 decoding. Your best shot at supporting it is using the ffmpeg extension, I think. Follow [these instructions](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ffmpeg) to build it, and it should just work.

[2018-06-09 16:59] Angelk90 opened #4364 "Blob file support"
@ojw28 , @andrewlewis , @tonihei, @AquilesCanta, @erdemguven:
Hi, I wanted to know the blob files are supported?

[2018-06-09 18:45] AquilesCanta commented on #4361
All media sources -I guess you are interested in DASH- allow you to inject a DataSourceFactory. You can provide your own DataSource implementation which intercepts all requests. Please let me know if this does not cover your needs. Have a look at the [DefaultDashChunkSource](https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/Def

[2018-06-09 18:47] AquilesCanta commented on #4361
Also, maybe @tonihei can provide better advise.

[2018-06-09 18:59] AquilesCanta commented on #4363
Duplicate of #4357.

[2018-06-09 18:59] #4363 closed, assigned to AquilesCanta

[2018-06-10 08:26] noamtamim commented on #3835
The Build.MODEL is listed as "gobo", but I don't think it's a real value. The tested device was not yet released at the time (TAGS=dev-keys), so all the values look strange:
[code]

The device was released since, but I don't have anyone that can check on a production device.

The chipset is MT6737M -- the same as some other devices listed above.

[2018-06-10 08:27] noamtamim commented on #3835
@tonihei / others -- does Google have a database of all the certified Android devices, that contain everything from android.os.Build?

[2018-06-10 09:51] giladna commented on #4053
tested again this media and now it works ok

please close issue

[2018-06-10 18:12] loki666 commented on #4356
why did I close this ???

[2018-06-10 18:50] marryyoda opened #4366 "Logo Design"
Hi! I am graphic designer, if you want I can re-design a logo for your project.

Thank you! :)

[2018-06-10 19:00] #4366 closed

[2018-06-11 07:59] ojw28 commented on #4358
Google's open source projects are covered by the Google Privacy Policy.

ExoPlayer does not send any information back to Google. You can of course inspect the source code to verify this.

If you're using any of the extension modules then note that some of these depend on external libraries, and so you'd need to check on what those libraries do with respect to both of your questions, if this is a c

[2018-06-11 07:59] #4358 closed, assigned to ojw28

[2018-06-11 08:14] ojw28 commented on #4362
Let's mark this as a duplicate of #4352.

[2018-06-11 08:14] #4362 closed, assigned to nobody

[2018-06-11 08:20] ojw28 commented on #4352
Looking at the stack traces, it looks like `release` is blocked on the playback thread, which is typical for this kind of ANR. The playback thread is blocked on various different codec related platform calls (e.g. `MediaCodec.native_stop`), without a clear pattern.

We do see this kind of ANR happen occasionally on devices, when the underlying platform media server gets into a bad state. This is n

[2018-06-11 08:26] tonihei commented on #3835
Yes, that's officially available here: https://support.google.com/googleplay/answer/1727131?hl=en-GB That's where my suggestion above came from.

[2018-06-11 08:38] tonihei commented on #4361
You'll get some request details as a listener callback when you add an `AnalyticsListener` with `SimpleExoPlayer.addAnalyticsListener` and check for `onLoadStarted`, `onLoadCompleted`, `onLoadCanceled` and `onLoadError`. All these callback have a `LoadEventInfo` class containing the uri, byte range and post body of the request (in `DataSpec`).

However, I suppose you refer to the HTTP request head

[2018-06-11 09:07] shri-hari93 commented on #4361
Thanks for your help. I will explore this and really looking forward for the enhancement. To clarify @tonihei doubt of what I'm looking for: http://cdn.dashjs.org/latest/jsdoc/streaming_vo_metrics_HTTPRequest.js.html
The metrics similar to the members of the class listed in above link

[2018-06-11 09:09] tonihei commented on #4361
Thanks. I think we already have all of the information in this class available and just need to add the response headers.

[2018-06-11 09:58] anandsingh2903 opened #4367 "06-11 15:26:24.432 30788-30919/com.google.android.exoplayer2.demo W/VideoCapabilities: Unsupported mime video/mpeg2"
06-11 15:26:24.432 30788-30919/com.google.android.exoplayer2.demo W/VideoCapabilities: Unsupported mime video/mpeg2

I am getting this line in my logs of exoplayer. What does this mean that mpeg 2 is not supported by exoplayer?

[2018-06-11 10:09] andrewlewis commented on #4360
Please could you send a link to the MP4 stream you're trying to play to `dev.exoplayer@gmail.com` with the subject "Issue #4360"?

This requires a few small changes in the FFmpeg JNI wrapper code but should be straightforward to support.

[2018-06-11 13:29] ronak2121 commented on #3971
So I tested this again and we’re still seeing Not Seamless Adaptive Streaming. The fragment sizes are all the same at exactly 42 aac frames regardless of codec.

The sample rates and channel counts are also the same.

I’ll dig into the moof header in more detail soon.

[2018-06-11 13:30] kunaljathal commented on #4107
Thanks, this worked.

[2018-06-11 13:43] MajDroid commented on #4280
To summarize our ads setup, we serve the ads in VMAP (Ad Playlist), attached a sample for your reference.

In each Ad Pod (such as Preroll), DFP reserves 4 slots for ads as,  these slots might have ads or they might not, this is determined once the DFP receives a request.
So IMA requests each Ad, DFP determines whether that slot should return an ad or not.

Now IMA-Extension becomes unreliable and

[2018-06-11 14:02] aarondib commented on #4352
@ojw28 Thanks!

We have not seen any of ExoPlayer related ANR reports before. Even can't find any of them.
It appears in the last version which uses upgraded 2.8.1 version. The app is on beta stage currently and not looks like it's too much of them but comparable value with the others.
We'll put the app with 2.8.1 as a release and then inform you of the result ANR rate.

Do you have any ideas why

[2018-06-11 20:26] YuxSong opened #4368 "Rewinding issue when playing Encrypted Videos"
com.example.android.tvleanback E/LoadTask: Unexpected exception loading stream
    java.lang.IllegalStateException: Top bit not zero: -871305648
        at com.google.android.exoplayer2.util.ParsableByteArray.readUnsignedIntToInt(ParsableByteArray.java:388)
        at com.google.android.exoplayer2.extractor.mp4.Mp4Extractor.readSample(Mp4Extractor.java:474)
        at com.google.android.exoplayer2

[2018-06-11 20:27] benliuxie opened #4369 "IllegalStateException at dequeueOutputBuffer when transitioning from IMA ad to content"
### Issue description
IllegalStateException at dequeueOutputBuffer when transitioning from some IMA ad to content. And this only happens on some devices.

### Reproduction steps
Play DRM content with DemoApp. When IMA ad break completes content start to play 1 or 2 seconds with sound but video stays at last frame of AD. There is Internal runtime error IllegalStateException at android.media.MediaCo

[2018-06-11 21:17] AquilesCanta commented on #4368
Unfortunately, we don't have the bandwidth to debug this for you. It most likely depends on the way you are implementing encryption and decryption. If you are using Aes128DataSource, make sure decryption is correctly block-bounded and the initialization vector for the block is correctly set, otherwise the output will be wrong. Plus, if you are using CBC, seeking might get tricky. Spend some time c

[2018-06-11 21:17] #4368 closed, assigned to AquilesCanta

[2018-06-11 21:22] AquilesCanta commented on #4364
We don't have any DataSource implementation on top of Blob, but it should be possible for you to build your own. Have a look at existing implementations like ByteArrayDataSource, for example.

[2018-06-11 21:22] #4364 closed, assigned to AquilesCanta

[2018-06-11 21:23] AquilesCanta commented on #4367
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-06-11 21:23] #4367 closed, assigned to AquilesCanta

[2018-06-11 21:25] AquilesCanta commented on #4369
Before we take a look into this, please provide a full bugreport as obtained from `adb bugreport`.

[2018-06-12 06:40] anandsingh2903 commented on #4318
Ok, so i used discontinuity tag in my HLS stream and now when i am changing the channel, at first i am getting exception : Unable to connect to "hls_url" and then after 4-5 seconds channel changes in player also. then again i changed the channel and again same thing happened and when i changed the channel third time player gave me same error of unable to connect to hls url and then it gave same er

[2018-06-12 06:58] anandsingh2903 opened #4370 "Does demo exoplayer uses ffmpeg extension for AC3 audio by default or do i need to implement ffmpeg extension by myself in demo app."
Does demo exoplayer uses ffmpeg extension for AC3 audio by default or do i need to implement ffmpeg extension by myself in demo app.

[2018-06-12 08:29] andrewlewis commented on #4370
The demo app can use the ffmpeg extension. Please see the documentation for the [using extensions with the demo app](https://google.github.io/ExoPlayer/demo-application.html#including-extension-decoders).

[2018-06-12 08:29] #4370 closed, assigned to andrewlewis

[2018-06-12 08:35] andrewlewis commented on #4367
I think this logging is expected and doesn't indicate that MPEG 2 is not supported. (It may actually indicate that an MPEG-2 decoder is present, though I haven't verified this.) See where it's logged in [MediaCodecInfo.java](https://android.googlesource.com/platform/frameworks/base/+/master/media/java/android/media/MediaCodecInfo.java#1127).

[2018-06-12 08:43] anandsingh2903 commented on #4370
Yes demo app can use the ffmpeg extension but i am asking do i need to implement the extension manually or demo app uses the ffmpeg by default for unsupported audio codecs like if i am playing AC3 audio in HLS and the audio is not coming. So, demo app is using ffmpeg already or i have to write some code for ffmpeg seperately to play AC3 audio.

[2018-06-12 08:43] anandsingh2903 commented on #4367
Yes mpeg2 is working in exoplayer. Thanks guys.

[2018-06-12 08:47] andrewlewis commented on #4370
As described in the documentation linked above, the demo app won't use the ffmpeg extension unless the extension is built, the right build variant is used and the renderers are in the right order such that `FfmpegAudioRenderer` is used in preference to the audio renderers (if necessary). These don't involve writing code except possibly in the final step. If you haven't built the extension it won't

[2018-06-12 08:49] AquilesCanta commented on #4318
This is probably because the server makes the url unavailable for 4-5 seconds when changing the content. Although this should be very easy to test using curl.

[2018-06-12 08:50] anandsingh2903 commented on #4370
Alright thanks

[2018-06-12 08:54] anandsingh2903 commented on #4318
I think you are right. URL is not available for 4-5 seconds but what is happening when this error is coming again and again even after 4-5 sec and then playback fails?. what can be the possible reason of this happening

[2018-06-12 09:41] anandsingh2903 opened #4371 "Unable to build ffmpeg extension for exoplayer"
i have tried building ffmpeg extension for exoplayer and i can't seem to build it correctly. The documentation is confusing as to which command i have to execute in what scenario. Please can anyone explain me step by step to how to build ffmpeg extension. I already am using exoplayer compiled project.

[2018-06-12 12:50] anandsingh2903 commented on #4371
I am getting error while building FFMPEG extension that gcc is unable to create a executable file while executing below command:

./configure \
    --libdir=android-libs/armeabi-v7a \
    --arch=arm \
    --cpu=armv7-a \
    --cross-prefix="${NDK_PATH}/toolchains/arm-linux-androideabi-4.9/prebuilt/${HOST_PLATFORM}/bin/arm-linux-androideabi-" \
    --sysroot="${NDK_PATH}/platforms/android-9/arch-ar

[2018-06-12 13:02] AdamGrzybkowski commented on #4013
@Brianvdb Did you find a solution to somehow skip frames after buffering is done? I have a similar problem and the buffering increases the latency quite a lot when using slow network connection.

[2018-06-12 14:08] AquilesCanta commented on #4371
Hi @anandsingh2903, this falls outside the scope of this issue tracker. Please try a general Q&A site like stack overflow if you have any specific doubts.

[2018-06-12 14:08] #4371 closed, assigned to AquilesCanta

[2018-06-12 14:10] benliuxie commented on #4369
Thanks for responding so quickly. I could not run the command on Note 4 with Android 6 yesterday, please see the report from Nexus 6 with Android 7.1.1:
[bugreport-N6F27M-2018-06-12-10-05-28.zip](https://github.com/google/ExoPlayer/files/2094358/bugreport-N6F27M-2018-06-12-10-05-28.zip)

[2018-06-12 14:23] AquilesCanta commented on #4369
I think we'll also need to reproduce the issue. This will also allow us to reroute the problem easily if needed.

Can you provide the required tokens/request headers to reproduce in the demo app?

Thanks.

[2018-06-12 15:35] ojw28 commented on #4353
Is this related to https://twitter.com/bintray/status/1004974875851685888? And do we expect it to resolve itself, or will we actually need to submit a change to swap the repository order around?

[2018-06-12 17:37] benliuxie commented on #4369
Hi Santiago,

You can use the urls (same as I sent last time) to construct
content/ad mediaSource in PlayerActivity:

String videoUrl = "https://globaltvvideo.corusdigitaldev.com/globaltv/content/vod/Shaw_-_GlobalTV/950/859/1243315267743/1527533417_drm_24afd238-3ec3-4132-8d09-b096b88ad983.ism/.mpd";String adTagUrl = "https://pubads.g.doubleclick.net/gampad/ads?sz=320x240&output=xml_vmap1&impl=s&gd

[2018-06-12 17:43] benliuxie commented on #4369
I have sent the information by email. Its very easy to reproduce on the Global ad (Shade of Blue) and History Ad (Alone), almost 100% reproducible when transitioning to content from these ads. I thought it is related to the ads but I tried to limit the bit rate, or content-type this issue still happens, and error happens at beginning of content playback: with last frame of ad then black screen.

T

[2018-06-12 18:59] villoren commented on #4360
Thanks for looking into this @andrewlewis.
Sending an email shortly.

Also, if there's a way I could contribute, or at least try it out for my self in the meanwhile, I'd love to do so.
Going to start by looking at ffmpeg_jni.cc, which I'm yet not familiar with.

[2018-06-12 20:12] benliuxie commented on #4369
Pixel 1 randomly reboot when transitioning from these ads to content too. Sometimes playing a few video in couple of hours without problem but sometimes device reboots more frequently. I don't know if its related because there is different exception in the logs. I have attached bugreports for Pixel 1 and hope it helps.
[bugreport-sailfish-OPM1.171019.021-2018-06-12-15-57-38.zip](https://github.com

[2018-06-12 21:02] adesentenac commented on #4353
Yes, that seems related. It seems fixed now, I was able to build ExoPlayer from scratch again.
I'm not sure what's more reliable between google() and jcenter() to put first in build.gradle. I assume this kind of issue does not happen that often with jcenter().

[2018-06-12 23:42] andrewlewis commented on #4360
We'll push a change to `dev-v2` that adds support for mu-law and A-law PCM via the ffmpeg extension soon, but to fix this issue it will also be necessary to update the MP4 extractor (perhaps `AtomParsers.parseAudioSampleEntry`) to output the right PCM encoding for this track. So once this issue is updated with a reference to that commit, it would be useful if you could make a pull request for addi

[2018-06-13 07:22] Brianvdb commented on #4013
@AdamGrzybkowski No not yet. Let me know if you have a solution.

[2018-06-13 08:59] anandsingh2903 commented on #4318
Still can't fix this. channel is changing 3-4 times but after that it stucks on the same channel and freezes and then gives playback error

[2018-06-13 09:07] AquilesCanta commented on #4318
Try using a bigger minLoadableRetryCount (see HlsMediaSource.Factory#setMinLoadableRetryCount). The current default is 3. If you observe the number of times the channel changes increases with this number, let us know.

[2018-06-13 09:49] anandsingh2903 commented on #4318
ok so i tried increasing minLoadableRetryCount to 10 but now i observed that when i changed the channel it didn't change on player even once this time it got stucked on the first channel itself and i am getting data of new channel as my bandwidth is getting used but the player freezes on first channel until i seek forward or backward myself, then player plays new channel data.

[2018-06-13 09:50] anandsingh2903 commented on #4318
and this time, i didn't got any unable to connect exception.

[2018-06-13 10:59] unext-wendong opened #4372 "Enable software decoder extension to access platform DRM"
Would like to talk about one feature request after seeing the post [Android Exoplayer Issues and Features Discussion](https://groups.google.com/forum/#!topic/cwip-discuss/SbnhwHvX7Ik) on CWIP group posted by the Widevine Team.

This is not part of the inconsistence between ExoPlayer and other players, but simply a feature that we hope can be added to the default ExoPlayer implementation.

Almost a

[2018-06-13 11:13] anandsingh2903 commented on #4318
ok i tested it againby setting minLoadableRetryCount of 100 now,

when the channel changes player freezes and if i seek forward it starts playing new channel but if i don't seek forward and wait then after some random time like sometimes it takes 2 min and sometimes it took 12 sec and sometimes it took 4min to show the new channel and player starts playing and sometimes it just freezes and doesn't

[2018-06-13 11:56] kakadiyahardik opened #4373 "Pre-caching exoplayer"
### Issue description
I am using SimpleExoPlayer for playing video that store in the cloud. I want to cache beginning part (1 MB) of the video so it will play smoothly in starting without buffering. for pre-caching video, I am using CacheUtil.cache() method but it's not working and not giving any error (If i give caching size less than video size then it's not working but if give caching size grea

[2018-06-13 12:25] RezaMortazavi opened #4374 "Does ima extension available in exo version 1 ?"
I'm using exoplayer version 1 in my app:
`com.google.android.exoplayer:exoplayer:r1.5.9 `

for now i cant update it to V2..i wanted to add ima to player but it seems
the repository not available for that version.
how can i include interactive media ad to my player?
thanks

[2018-06-13 12:38] AquilesCanta commented on #4374
No, unfortunately the IMA extension is not available on V1, and we are no longer working on V1 enhancements either.

It's possibly going to be easier to migrate to V2 than doing this on V1. The only thing I can suggest is defining what your requirements are and try to follow what V2 currently does, minus things you don't need. Ad insertion in ExoPlayer relies heavily on playlists, which are not su

[2018-06-13 12:38] #4374 closed, assigned to AquilesCanta

[2018-06-13 13:31] andrewlewis commented on #4374
You could also look at integrating with the IMA SDK directly. There are two main ways to do this: custom ad playback, where you control the player that shows ads, and SDK-owned player, in which IMA will create its own player for ads. The latter option is a bit less work and is [documented here](https://developers.google.com/interactive-media-ads/docs/sdks/android/).

Using IMA in this way requires

[2018-06-13 13:58] noamtamim commented on #3835
Thanks @tonihei, I didn't know about this list. Regarding the device, they both use the same chipset, and the issue is there.

[2018-06-13 14:21] erdemguven commented on #4373
Could you share the URL for the video you want to cache?

[2018-06-13 14:27] tonihei commented on #3835
Do you also have the culprit decoder name? Forgot to ask about it.

[2018-06-13 17:51] mathemandy opened #4375 "Exoplayer plays new Playlist from the beginning instead of provided position"
### Issue description
I Implemented DynamicConcatenatingMediaSource in my project and have reached a bug where in the method ```exoPlayer.prepare(source);``` the songs starts  to play at the beginning of the playlist before ```   exoPlayer.seekTo(currentPosition, C.TIME_UNSET);``` is callled.
So this causes a UI bug on my app.

For ac already cached song, a user can hear the first song playing bef

[2018-06-13 18:13] AquilesCanta commented on #4375
Have you tried calling `seekTo` before calling `prepare`?

[2018-06-13 20:49] mathemandy commented on #4375
I just did that - The inverse is the result.
It seeks to the selected song and returns immediately to the first song on the list after ```prepare```

[2018-06-13 21:57] juechemparathy opened #4376 "[DASH]EmbeddedSamples getting ignored in case of multiple AdaptationSets"
Facing issue on processing metadata samples by MetadataRenderer for a stream with multiple AdaptionSets.

On preparing PrimarySampleStreams in DashMediaPeriod, we see only the last AdaptationSet is getting considered. Because of this selectEmbeddedSampleStreams is injecting EmptySampleStream which later cause to ignore all subsequent embedded samples by MetadatRenderer.

https://github.com/google/

[2018-06-13 22:02] hamadycisse commented on #3517
I am having the same stuttering issue (sometimes it even freezes for seconds) on the following devices when I use L1 . L3 security level works fine
 - LG G5 Android 6
   DRM Info:
"hdcpLevel" -> "Disconnected"
"maxHdcpLevel" -> "HDCP-2.2"
"version" -> "1.0"
**"systemId" -> "6518"**

 - Samsung S6 Android 7
"hdcpLevel" -> "HDCP-1.x"
"maxHdcpLevel" -> "Disconnected"
**"systemId" -> "6205"**
"version

[2018-06-14 03:08] ojw28 commented on #4376
Using separate AdaptationSets for different resolutions, as in the sample manifest, will prevent the client from switching from one resolution to another. This is because there's nothing in the manifest that indicates to the client that switching between the AdaptationSets is valid (e.g. they could contain completely different content). I doubt that's intentional, which suggests that one of the fo

[2018-06-14 03:32] ojw28 commented on #4352
That's (unfortunately!) strange, unless you were previously not calling `release` on the player. Is that possible? If not, then I think I would expect at least the odd ANR to be reported. Please do let us know what you discover.

[2018-06-14 03:58] ojw28 commented on #4372
@jefftinker from Widevine is probably the right person to respond (or reassign as appropriate).

[2018-06-14 04:10] ojw28 commented on #4375
I think the problem is with `initExo()`. In particular, if you have an existing player instance that's currently playing, then the call to `exoPlayer.prepare` will cause playback of the new source from `time=0`. This may happen so quickly that you hear the audio play for a brief period before the subsequent `exoPlayer.seekTo` call is processed to seek to the desired position.

I think you can fix

[2018-06-14 05:15] tmizuguchi-bckk commented on #4329
@paf-wv I tried another Android One phone (SHARP X1) and I didn't see this issue on the device (Widevine modular version is v5.1.0-android). So far Kyocera device is the only one having this issue. But again, 8.1.0 has not OTA released to many devices yet, so it is still unknown of the impact of this issue. We are contacting the license service to get the values.

[2018-06-14 06:07] kakadiyahardik commented on #4373
http://dgtg95nrexj6j.cloudfront.net/cd929ce8-3063-4b6b-b49d-14386961616e_120px.mp4
This is the video URL

[2018-06-14 06:17] ojw28 commented on #3906
My plan for this is to merge a one line change (equivalent to https://github.com/google/ExoPlayer/commit/5a6bb780bbc4b3681e186b635ef8b698800215c3#diff-83f8c19437ea277fb176fdd4055095baR765), so that we can close this issue ahead of fully merging all of that commit (which will take more work).

[2018-06-14 06:45] anandsingh2903 commented on #4318
I am not giving EXT-X-DISCONTINUITY-SEQUENCE tag in HLS. Playback stucks due to this?. Should i give EXT-X-DISCONTINUITY-SEQUENCE tag in HLS and at which point should i increment it. Can you please provide me a example or format or how show i insert discontinuity sequence tag

[2018-06-14 06:49] anandsingh2903 opened #4377 "FFMPEG extension didn't work for AC3 audio codec"
I have build the ffmpeg extension in demo app but the HLS which have AC3 audio codec still doesn't work. AC3 should be supported with FFMPEG extension right?. I have only build the exntension as shown in the instructions, do i need to something else also after building the extension? and how do i know that ffmpeg extension is now available to work after building. I can't see anything new in logs w

[2018-06-14 06:51] MKSMV opened #4378 "Poor sound quality"
### Issue description
Poor sound quality with the Exoplayer

### Reproduction steps
the issue can be reproduced, using the ExoPlayer demo app.

### Link to test content
https://files.fm/u/7c4sskwq

### Version of ExoPlayer being used
2.8.1

### Device(s) and version(s) of Android being used
Xiaomi redmi 3, xiaomi MI A1, samsung j7,
Huawei Honor 4C

[2018-06-14 07:14] jossypaul opened #4379 "PlayerNotificationManager: Support forced updates"
MediaDescriptionAdapter is getting updated when there is a change in playback state. Let's say I want to update MediaDescriptionAdapter at some point without any playback state change. Is it possible?

[2018-06-14 07:44] TusharGogna opened #4380 "SampleSource, MediaCodecAudioTrackRenderer, ExoPlayer.Factory etc are not Found"
### Issue description
My application is Live and was having an issue (IllegalStateException) [using version r1.5.1] which after reading several threads I realized that it was fixed in +2.x.x versions. So, I decided to migrate to the latest version.

I just migrated from version r1.5.1 to 2.7.0 and after that it is not able to find the following Classes and Methods:
Classes: SampleSource, MediaCode

[2018-06-14 08:14] gqq519 opened #4381 "Still need to load when dragging to buffer progress"
### Issue description

When I play online video, I drag to the buffered progress, but it will still load, and the buffer progress will stay where it was dragged, and then continue playing and buffering.

Running the Demo you provided also has this problem.
How can I solve this problem? thanks!

### Version of ExoPlayer being used
latest

### Device(s) and version(s) of Android being used
Samsung N

[2018-06-14 08:29] mathemandy commented on #4375
@ojw28  The initial Problem still persists  after trying your fix

[2018-06-14 08:45] AquilesCanta commented on #4318
I don't have enough information to help you with this. It depends on what the server does when changing channels. Something that might help would be providing a series of playlist snapshots with a few channel changes in between. Regarding the discontinuity sequence, the [hls specification](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23) provides a simple explanation.

[2018-06-14 08:58] AquilesCanta commented on #4377
Please see #4048.

[2018-06-14 08:58] #4377 closed, assigned to nobody

[2018-06-14 09:20] erdemguven commented on #4373
I tested your code and it works fine.

One thing I noticed is you create the simpleCache in your thread. If you're creating another one out of the thread, this might cause problems. You should have only one instance of SimpleCache per cache folder.

[2018-06-14 09:49] anandsingh2903 commented on #4318
Will get back to you after inserting discontinuity sequence and test the HLS.

[2018-06-14 10:00] AquilesCanta commented on #4318
In general, ExoPlayer works around it, but it is a good idea to add it anyway.

[2018-06-14 10:01] anandsingh2903 commented on #4048
Hi, i have also build ffmpeg extension in demo app for ac3 audio codec and i used COMMON_OPTIONS same as read me file with --enable-decoder=eac3 and --enable-decoder=ac3 and built the extension but the demo app still cannot play ac3 audio in HLS and i think that demo app is still using default audio codec renderer rather than Ffmpeg to decode audio even though demo app is using EXTENSION_MODE_PREF

[2018-06-14 10:36] anandsingh2903 commented on #4048
I am not getting Loaded FFMPEGAUDIORENDERER in my logcat that means that my ffmpegaudiorenderer is not loading properly in demo app but i had successfully built the ffmpeg extension in demo app without any issues. can't seem to understand what is the problem here.

[2018-06-14 11:03] anandsingh2903 commented on #4377
Hi, i have also build ffmpeg extension in demo app for ac3 audio codec and i used COMMON_OPTIONS same as read me file with --enable-decoder=eac3 and --enable-decoder=ac3 and built the extension but the demo app still cannot play ac3 audio in HLS and i think that demo app is still using default audio codec renderer rather than Ffmpeg to decode audio even though demo app is using EXTENSION_MODE_PREF

[2018-06-14 11:52] harshitwynk opened #4382 "What is the buffering policy for precaching next song with ConcatenatingMediaSource? Is there any api for customising that, lets say I want to prefetch next song as soon as current song is played 10 second."
I want to start precahing next song in ConcatenatingMediaSource when the current song is played 10 second(or any other duration).How can I achieve that?
By default exoplayer starts precahing when current song is near its end.
Moreover what is the precahing policy, like can I define how many segments to precache for next song?

[2018-06-14 12:09] tonihei commented on #4382
Unfortunately, that's currently not possible, and already tracked by #3327.

[2018-06-14 12:09] #4382 closed, assigned to tonihei

[2018-06-14 12:09] NitinSharma639 opened #4383 "Exoplayer not playing some videos on Android 4.4 and less."
Hello

I am developing one application in which I have used exoplayer . Some video are playing but some videos are not playing . All the videos are coming from same server . I found following logs.

[code]

[2018-06-14 12:21] kakadiyahardik commented on #4373
Can you send the code that you tested?
How to use cache after downloading because i am still not able to use the partially downloaded cache ( if i give cache size greater than the video in DataSpec then it's work)

### Here is my code for access cache in exoplayer

        dynamicConcatenatingMediaSource.addMediaSource(getVideoSource("video url"));
        player.prepare(dynamicConcatenatingMediaS

[2018-06-14 14:53] benliuxie commented on #4369
Limit the content bitrate and choose EXTENSION_RENDERER_MODE_ON seem to have fixed this issue. This is still under QA test so let us know if you have other suggestions.

Thanks,
Ben

[2018-06-14 14:53] #4369 closed, assigned to AquilesCanta

[2018-06-14 15:10] andrewlewis commented on #4369
Looking at the logcat, it's surprising that the exception is thrown about ten seconds after switching codecs. Maybe the stream is invalid ten seconds after the transition (there isn't much information to go on, so this is really a guess!).

Are you sure turning on extension renderers makes a difference? The formats mentioned in the logcat are VP8 + Vorbis and H.264 + AAC, so the only streams that

[2018-06-14 16:10] benliuxie commented on #4369
I have tried many settings, initially focusing on Ad/IMA since this happens only for some ads transitioning to content. I started looking into the content related settings yesterday. Lowering the max bit rate did make a difference. I found it is less easily to reproduce with some render setting change before trying the bit rate so this is a guess too. I turn it on just in case the core one failed

[2018-06-14 16:16] erdemguven commented on #4373
There are two issues:
1- You create a new SimpleCache in your DataSource Factory. It recommended to use only one instance for downloading and playback.
2- The structure of your mp4 file. It has its moov box at the end of the file. So if the end of the file is missing then we can't play it. If you cache the end of the file too then the file plays fine:
[code]
Another option is editing the file and

[2018-06-14 17:22] villoren commented on #4360
Thanks for the pointers Andrew, will do.

[2018-06-14 19:01] dzboot02 opened #4385 "No getController()"
Simply, how to get the controller from the PlayerView, the controller variable is there privately, but no way to access it.

[2018-06-14 20:23] chemparathy commented on #4376
@ojw28 - Thanks much for the quick response.
We will be updating the content to comply with 1 or 2. Thanks for the pointer.

[2018-06-14 20:23] juechemparathy commented on #4376
@ojw28 - Thanks much for the quick response.
We will be updating the content to comply with 1 or 2. Thanks for the pointer.

[2018-06-14 22:47] ojw28 commented on #4385
We could add a `getController` method if it makes sense to do so, but what's the use case that this would be needed for? Thanks!

[2018-06-14 22:48] #4376 closed, assigned to ojw28

[2018-06-14 22:55] ojw28 commented on #4375
In that case I think we need clearer reproduction steps. In particular, rather than providing snippets of code (which aren't that helpful, since it's unclear when each piece of code is invoked), please provide the sequence of calls made on the ExoPlayer instance that reproduce the problem.

I can't really see how this would happen unless you have a bug in your code that's causing `playWhenReady` t

[2018-06-14 23:03] ojw28 commented on #4383
This looks like an SSL / certificate problem unrelated to ExoPlayer. There's a lot of information about `javax.net.ssl.SSLHandshakeException` available online, so I'd suggest you take a look.

[2018-06-14 23:03] #4383 closed, assigned to ojw28

[2018-06-14 23:14] dzboot02 commented on #4385
Because of this:

[code]

Hide the controller when users pressed back button and the controller is visible. There is no way to access this method from the playerView. That's where I needed it, for me, maybe other things for other users.

[2018-06-15 01:16] ojw28 commented on #4385
That makes sense; thanks! I think we'd prefer to just expose a `PlayerView.isControllerVisible` method, or similar. Would that work for you?

[2018-06-15 06:24] dzboot02 commented on #4385
Not for me. When I encountered this problem, I just used ExoPlayer locally, and I changed it as I needed.
I don't know if this would be enough, people may need other things in the future, but you do what you have to do for your excellent library to work flawlessly :)

[2018-06-15 07:57] dolphylimitinf opened #4386 "mp4 buffering issue"
When I go back from current seek position it starts to download again but when I go forward from the current position everything works fine in case of mp4 mime type.

[2018-06-15 09:18] AquilesCanta commented on #4386
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-06-15 09:18] #4386 closed, assigned to nobody

[2018-06-15 21:07] ojw28 commented on #4380
ExoPlayer changed significantly between V1 and V2 (i.e. there were major architectural changes). That's why the package name changed. So it's not possible to update your dependency to V2 and have everything just continue to work.

It's quite old now, but [this blog post](https://medium.com/google-exoplayer/exoplayer-2-x-new-package-and-class-names-ef8e1d9ba96f) describes some of the changes that w

[2018-06-15 21:07] #4380 closed, assigned to nobody

[2018-06-15 23:07] KatieBarnett commented on #3750
I am keen on this too!

[2018-06-16 07:41] ghost opened #4387 "ExoPlayer not working with AndroidX?"
### Issue description
Compilation failed to complete:
`Program type already present: android.support.v4.app.INotificationSideChannel$Stub
Message{kind=ERROR, text=Program type already present: android.support.v4.app.INotificationSideChannel$Stub, sources=[Unknown source file], tool name=Optional.of(D8)}`

dependencies {
    testImplementation 'junit:junit:4.12'
    androidTestImplementation 'andro

[2018-06-16 12:01] TusharGogna commented on #4380
Oh alright, thanks for the time and link. I will look into it. So basically, it's going to be a painful process to migrate now.

[2018-06-17 08:55] noamtamim commented on #3835
No, sorry. I don't have the device itself with me.

[2018-06-17 11:18] darkjun99 opened #4388 "How to stop at a specific time?"
Hello.
I want to make my users watch a specific span repeatedly.
Now I implemented this with seekTo() and Handler().postDelayed methods.
What my code do is
seek to a start position, play a video, and stop after a specific time.
However, this approach is not reliable when users' internet connection is bad.
It usually stops early because of downloading, buffering, or something.
I want to know that i

[2018-06-18 08:33] sandeepyohans commented on #867
It's this very old issue which is still open. Is there a proper solution for using ExoPlayer is ListView or RecyclerView? A working sample would be great help for a beginner like me. @ojw28  @andrewlewis

[2018-06-18 08:40] andrewlewis commented on #4388
You can prepare the player with a `ClippingMediaSource` wrapping your content media source to play a portion of a stream between specified start/end points, and use `player.setRepeatMode(Player.REPEAT_MODE_ALL)` to loop the clip repeatedly.

[2018-06-18 08:40] #4388 closed, assigned to andrewlewis

[2018-06-18 09:54] ojw28 commented on #4387
Are you sure this is related to using ExoPlayer? People seem to encounter the error you refer to who are not using ExoPlayer. For example: https://github.com/material-components/material-components-android/issues/110. Does that help?

[2018-06-18 10:35] #3906 closed, assigned to AquilesCanta

[2018-06-18 10:35] #4264 closed, assigned to andrewlewis

[2018-06-18 11:00] ojw28 commented on #4381
This problem isn't really explained well enough for us to determine what you mean. Please could you provide more details and concrete reproduction steps.

If the problem is about re-buffering on seek, this should occur whenever you seek outside of the buffered region (including seeking backwards). If you seek within the buffered region then the buffer should be retained.

[2018-06-18 11:02] ojw28 commented on #4379
@marcbaechinger - Could we provide an `invalidate()` method on `PlayerNotificationManager` to allow forcing an update? I wonder whether we also need a similar API on any other components we have that allow the app to provide metadata?

[2018-06-18 11:31] ojw28 commented on #4385
I don't think we want to expose the whole controller through `PlayerView`. We'll add `isControllerVisible` for now, which should do what you need.

[2018-06-18 14:46] #4385 closed, assigned to ojw28

[2018-06-18 14:59] ojw28 commented on #4355
There should be some obvious logging that happens when playback fails, but I can't see any in the bug reports. Can you? If not, do you see useful logging in logcat when the failure occurs? In which case can you capture a snippet for us that shows the failure? We'd normally expect this logging to be in the bugreport, but it appears not to be present in this case.

[2018-06-18 16:11] laurencedawson opened #4389 "Is it possible to disable all notifications for a DownloadService?"
ExoPlayer v2.8.1

I'm currently trying to setup ExoPlayer to cache a few videos in the background using the DownloadService. However, when I extend DownloadService I'm still seeing progress updates for download. Is there a way to disable all updates as I handle these internally.

Thanks

[2018-06-19 06:33] prcaen commented on #4352
Hey,
We are using the `2.7.3` and we are facing the same issue.
So this is not specific to `2.8.X` version.

[2018-06-19 06:33] Akash1034 opened #4390 "M3u8 Not Playing after first ts segment."
Hi all,

I have been trying to play a m3u8 file with segments having byte ranges. The file works smoothly till end if no action is performed(pause/play). But when pausing and playing the file, it doesn't play or even when you seek the audio, it doesn't resumes. This is happening only in case of **audio**.

The issue can be reproduced by playing the file for more than 10 secs(each segment is 10 sec

[2018-06-19 08:34] andrewlewis commented on #3859
Until we get round to setting this up properly, [JitPack](https://jitpack.io/) may be useful as a quick way to get a snapshot of the development branch. It makes snapshot builds on demand.

To try this, I added `maven { url 'https://jitpack.io' }` to repositories then added a dependency on `implementation 'com.github.google:ExoPlayer:dev-v2-SNAPSHOT'`. (Note: when I tried this the first time the g

[2018-06-19 09:05] erdemguven commented on #4389
Displaying notification is necessary to keep the service alive if the app goes to background. I can add an option to disable it but you should call service.startForeground(...) yourself if you can to keep the service alive.

[2018-06-19 09:08] AquilesCanta commented on #4390
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-06-19 09:20] laurencedawson commented on #4389
That would be great thanks. I'm using it to pre cache videos so it's not
essential that all downloadeds are completed.

On Tue, 19 Jun 2018, 11:05 Erdem Guven, <notifications@github.com> wrote:

[2018-06-19 09:44] ghost commented on #4387
It seems ExoPlayer does not work with androidx packages. I decided not to use the androidx packages, no more problems

[2018-06-19 10:02] ojw28 commented on #4387
Perhaps some of the dependencies ExoPlayer has on the (old) support library don't mix well with the (new) androidx libraries. In which case this issue will be resolved by ExoPlayer migrating to use androidx dependencies.

[2018-06-19 10:08] koshtubh1095 commented on #4390
Hi @AquilesCanta ,

### Issue Description:

I have been trying to play a m3u8 file(audio) with segments having byte ranges. The file works smoothly till end if no action is performed(pause/play). But when pausing and playing the file, it doesn't play or even when you seek the audio, it doesn't resumes. This is happening only in case of audio which is m3u8 format. Sample audio M3u8 file has been at

[2018-06-19 10:11] andrewlewis commented on #4360
@villoren The commit referenced above has everything needed for this enhancement except for building the right `Format` in the extractor as described above. It would be great if you could send a PR for `dev-v2` to support this for `Mp4Extractor`, but if you're not planning to do this please let us know and we'll take a look at some point. Thanks!

As a side note, this should now work for WAV files

[2018-06-19 10:11] Angels-group opened #4392 "Get current playing audio track"
Hello!

I'm using ExoPlayer 2.8.1
My source (HLS) contain few audio tracks (3 russian (5.1, stereo, mono) and 3 english (5.1, stereo, mono). And few video tracks (FullHD, HD, SD, Eco, Low)

For example user still no change any track selection settings. So override = null, and audio tracks selected automatically (same as video tracks).

How can i find which audio track playing right now?
And how ca

[2018-06-19 10:25] andrewlewis commented on #4359
Passing `null` as the `AudioCapabilities` will mean that playback of AC-3 content will not be able to use encoded audio output (passthrough). So it will only work if the device has a decoder for the format, which is quite rare.

We currently set the channel configuration based on guidance in the [AudioFormat documentation](https://developer.android.com/reference/android/media/AudioFormat#channelPo

[2018-06-19 10:28] ghost commented on #4387
Thanks for answer!

[2018-06-19 10:28] #4387 closed, assigned to nobody

[2018-06-19 10:54] anandsingh2903 opened #4393 "How to put sliding gestures on player screen to control volume."
I want to put a feature in exoplayer which will enable the user to slide up on player screen to increase volume and slide down to decrease volume. how can i achieve that?.

[2018-06-19 10:57] andrewlewis commented on #4143
@Veeyikpong Do you still see this issue? There was a recent update to IMA's JavaScript component which may have fixed this issue. This update will be picked up automatically by clients when they load IMA (it doesn't require an updated IMA dependency). I can't verify if this is fixed because the ad tag provided via email doesn't work any more.

[2018-06-19 11:13] andrewlewis commented on #2416
It's been a while, but there's an updated firmware that addresses this issue in review at the moment [Internal bug b/35233870].

[2018-06-19 12:32] tonihei commented on #4393
That's a very generic Android question and better asked on sites like StackOverflow or similar.

For setting the volume - there's `SimpleExoPlayer.setVolume` (and also `.getVolume`) to achieve that.

[2018-06-19 12:39] tonihei commented on #4392
You'll receive an `onTracksChanged` event in your [`EventListener`](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Player.EventListener.html) which has a [`TrackSelectionArray`](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/TrackSelectionArray.html) as second argument. This track selection array contains a selection for

[2018-06-19 13:19] andrewlewis commented on #4140
A server-side fix for skipped midroll ads was recently rolled out to the IMA JavaScript code, but unfortunately this still seems to be reproducible. I've filed another issue to follow up (internal: b/110400963).

[2018-06-19 13:42] andrewlewis commented on #4354
The stack trace is strange: it looks like the `AdsMediaSource` has another `AdsMediaSource` as its child. Please could you share the code you're using to construct the media source?

[2018-06-19 14:13] ojw28 commented on #4348
This appears to be edit list related. I suspect the video falls under the

case in `AtomParsers`. What do we actually do in this case? Should we ignore the edit list, rather than doing whatever we're currently doing? Whatever we're currently doing appears to be what introduces the distortion.

[2018-06-19 14:29] andrewlewis commented on #4348
Ignoring edit lists for all tracks in this situation is probably preferable to the current behavior for most apps.

Until that is implemented, I suggest setting `DefaultExtractorsFactory.setMp4ExtractorFlags(FLAG_WORKAROUND_IGNORE_EDIT_LISTS)` on the extractors factory to ignore all edit lists. We are unlikely to implement support for prerolling media for edit lists any time soon.

[2018-06-19 14:38] EusebioMorell opened #4394 "Stuck in BUFFERING after changing quality."
### Issue description

Playing a specific HLS stream on the ExoPlayer demo app, the video freezes shortly after start, and player state gets stuck at BUFFERING, even if having > 30 seconds video buffer.

Expected behaviour should be not entering BUFFERING state, or just resuming playback, since video buffer is OK.

### Reproduction steps

I provided a link to the HLS master playlist that reproduce

[2018-06-19 14:49] AquilesCanta commented on #4394
We have an internal fix for a similar condition. Once we push to GitHub, a reference to the commit will appear here. Once it's available, please try to reproduce and let us know if it's still a problem. Thanks for reporting.

[2018-06-19 16:39] #4393 closed, assigned to tonihei

[2018-06-19 18:47] EusebioMorell commented on #4394
Thanks for the quick answer. I'm glad to help.

[2018-06-19 22:08] paf-wv commented on #4329
@tmizuguchi-bckk, any luck on the license duration values from the server?

[2018-06-19 22:19] paf-wv commented on #3517
the team has been able to repro on L MR1 builds but when the OS is upgraded to N or newer the issue goes away.

@predaV , any luck on the clear content so we can take a look?

[2018-06-20 00:45] jrw95 commented on #4329
@paf-wv   No answer yet. We have escalated from sending an email to opening a formal support ticket with our DRM license service.

[2018-06-20 02:12] thisd opened #4395 "Does ExoPlayer have full screen PlayerControl template for audio"
Hi, I wonder if ExoPlayer has an .xml template that supports audio or I need to create it myself. I am talking about the one available in audio players with the cover art covering 2/3 of the screen and playback controls (play, previous, next, shuffle, etc.) covering the rest. Something like this:

http://static.freemake.com/blog/wp-content/uploads/2013/11/Poweramp.png

Thank you.

Edit: I think I

[2018-06-20 07:05] guhongya opened #4396 "Demo Crashed"
### Issue description
Demo crashed when click download button in the fifth item of HLS group

[2018-06-20 08:26] tonihei commented on #4396
Yes, I can reproduce that. One of our assertions is violated here. @erdemguven Can you take a look?

[2018-06-20 12:57] aarondib commented on #4352
After the final release we do not see any valuable ANR growth. However, we saw it (ExoPlayer-related ANRs) in reports of Beta-versions. Probably, was caught "problematc" beta testers.

Also, during research we've found some specific devices on which changing Surface on-the-fly causes ANRs. Will open separate issue on this. Thanks!

[2018-06-20 13:16] aarondib opened #4397 "ANR on some devices when changing Surface during playback"
### Issue description
ANR on some devices after setting Surface during playback.

### Reproduction steps
During video playback set Surface to "null" and after creating new Surface set a new one. Video will not scaled correctly (small picture on the left-upper corner with the rest space in green). Then ANR on player.release().

### Link to test content
Any  video.

### Version of ExoPlayer being us

[2018-06-20 13:26] tonihei commented on #4397
Sounds like a problem similar to #4006 or #3724.

There is workaround filter which we can activate for these devices. See [here](https://github.com/google/ExoPlayer/blob/2b55c91af0afd1f50f689adb1046f1cf78c887f6/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1172).
For that, it would be great if you can tell use the decoder name which causes the problem

[2018-06-20 17:14] ojw28 commented on #3497
Support for this was added in https://github.com/google/ExoPlayer/commit/62ee13b11dcfaa504d9cab782662bcf8afcf7578.

[2018-06-20 17:14] #3497 closed, assigned to marcbaechinger

[2018-06-20 17:15] ojw28 commented on #4394
Please could you test with the fix ref'd above, which is now on our dev branch, and confirm whether or not it fixes the issue.

[2018-06-20 17:17] #4278 closed, assigned to tonihei

[2018-06-20 17:18] #4396 closed, assigned to erdemguven

[2018-06-20 20:23] AquilesCanta commented on #4378
Hi @IvanIvanov3, after some digging around we couldn't conclude the issue was related to ExoPlayer. Perhaps you can help with the diagnosis. I was able to reproduce the issue on a linux desktop, but not on MacOs.

How was the media produced? Anything might be worth mentioning?

Considering the name of the file, I assume it was produced on iPhone. It's possible that ios/macos do special handling of

[2018-06-20 21:01] marcbaechinger commented on #4379
invalidate() makes sense here and also for the MediaSessionConnector. Classic use case is when a bitmap which has been loaded asynchronously arrives the app wants to trigger an update.

[2018-06-21 05:01] changja88 opened #4398 "DefaultLoadControl looks not like working well"
Method "shouldContinueLoading" in DefalutLoadControl class does not work well.
I do not know why, but I guess bufferedDurationUs parameter has 10time bigger than it should have. Because of this issues, player I made can not maintain buffered size.

Thanks.

[2018-06-21 05:57] koshtubh1095 commented on #4390
Hey,

things are working fine now. We fixed this issue by removing the seekTo and setting player to ready as true while resuming the content after pause and its working fine now.
So probably this issue can be closed.

Thanks

[2018-06-21 06:03] workspace commented on #3393
@ojw28 I read commit's changes, however, I can't find anything to parse license server url from manifest (e.g. ms:pro(Azure Media Services's Widevine license url label)). Is it still developing?

[2018-06-21 06:33] workspace commented on #4253
@kvillnv Thank you for your tips. By the way, it is able to apply maxCacheSize to DownloaderConstructorHelper by inject custom CacheDataSinkFactory.

[2018-06-21 06:37] Akash1034 opened #4399 "M3u8 Not Playing after first ts segment."
**### Issue Description**:
I have been trying to play a m3u8 file(audio) with segments having byte ranges. The file works smoothly till end if no action is performed(pause/play). But when pausing and playing the file, it doesn't play or even when you seek the audio, it doesn't resumes. This is happening only in case of audio which is m3u8 format.

### **Reproduction steps**:
The issue can be repro

[2018-06-21 08:07] EusebioMorell commented on #4394
I'm testing the commit right now. Unfortunately, video still freezes. It behaves the same as I described.

[2018-06-21 08:20] tonihei commented on #4399
Duplicate of #4390. Please don't open new issues for the same problematic content.

[2018-06-21 08:21] tonihei commented on #4398
Can you give some more concrete examples and/or reproduction steps? That would hep to understand your issue.

[2018-06-21 08:24] tonihei commented on #4395
Our PlayerView is already able to display controls and cover art (if provided as metadata in the file). Did you try using that?

[2018-06-21 08:25] tonihei commented on #3972
Now available with the commit referenced above.

[2018-06-21 08:25] #3972 closed, assigned to tonihei

[2018-06-21 08:27] tonihei commented on #4221
Closing as we don't have any more info to go on. If you have additional information which would help to solve the issue, please reopen.

[2018-06-21 08:27] #4221 closed, assigned to tonihei

[2018-06-21 08:40] #4399 closed, assigned to tonihei

[2018-06-21 08:42] andrewlewis commented on #2659
By "audio cutting out", do you mean that the audio stops completely, or that it cuts out then resumes?

I don't think it's necessary to use a Service if you app only needs to play audio when it's the foreground activity.

[2018-06-21 08:44] AquilesCanta commented on #4399
Also, someone commented this was no longer an issue. Please update the referred issue if not the case. Having a look at the code now, I don't see that setPlayWhenReady(true) is being called. In any case, please close the other issue if this has been solved.

[2018-06-21 08:47] RicardoJiang opened #4400 "Download media playlist would crash"
### Issue description
when download hls media playlist videos in demo it will crash
FATAL EXCEPTION: main
                                                                                    Process: com.google.android.exoplayer2.demo, PID: 11416
                                                                                    java.lang.NullPointerException

[2018-06-21 08:48] tonihei commented on #4400
Duplicate of #4396. And already fixed.

[2018-06-21 08:48] #4400 closed, assigned to tonihei

[2018-06-21 08:59] AquilesCanta commented on #3393
We haven't implemented the parsing part yet. The manifest urls above seem to have expired, can we get a new one? Aside, it would be great to have some kind of specification for the license server url tags, if possible. Can you provide any of them? Thanks.

[2018-06-21 09:02] AquilesCanta commented on #3393
Note that at this point, the only required action is to populate the SchemeData in the manifest parser. You can override parseContentProtection and the DrmSessionManager should just pick it up.

[2018-06-21 09:06] AquilesCanta commented on #4135
Hi @giladna, any updates? Could you please provide a drive link containing a minimal reproducing playlist with segments? A playlist with a few segments should be enough.

[2018-06-21 09:07] changja88 commented on #4398
First, symptom I can see is that, because bufferedDurationUs parameter is too larger, shouldContinueLoading method always return false, it makes player can maintain buffer size.
For example, let's say min buffer is 5 sec. than while player should keep trying to maintain 5sec buffer size, but because shouldContinueLoading method always return false, player start getting buffer when player has nothi

[2018-06-21 09:32] tonihei commented on #4398
What you see on the time bar and what is passed to DefaultLoadControl should be exactly the same value. Can you provide us with an example media file where this happens and steps to reproduce in our demo app?

[2018-06-21 09:53] tonihei commented on #4398
One thing to keep in mind is also that the value passed to DefaultLoadControl is in microseconds - so the values naturally will be very large. Could that be the source of confusion?

[2018-06-21 10:12] changja88 commented on #4398
Yea. I can not remember exactly but I know that value is microsecond or nanosecond. What I wanna say is that that parameter is almost always much bigger than minBuffer size.

[2018-06-21 10:15] fusionseek opened #4401 "When will the "Skip Silence" feature be released?"
Dear Sir/Madam,

Glad to e-meet with you here.

Based on your response to this question, https://github.com/google/ExoPlayer/issues/2635 saying that the "Skip Silence" feature has been built to the dev-v2 branch, then I'd like to know, when will this feature be released? Is there a specific date?

Looking forward to your kind response.

Thank you very much for the support!

Best,
Raymond at Castbo

[2018-06-21 10:21] AquilesCanta commented on #4394
I am finding it really hard to reproduce.

Would it be possible for you to get a log of the HTTP requests done by the player along with a logcat for that same run? That would be a good starting point for me to diagnose the issue.

This is really strange to me, since the playlist pairs seem to match perfectly (including segments).

I couldn't find any misalignment between any of the media sequences

[2018-06-21 10:27] tonihei commented on #4401
It's already released.  As mentioned in #2635 you can turn it on with:
[code]

[2018-06-21 10:27] #4401 closed, assigned to tonihei

[2018-06-21 10:28] changja88 commented on #4398
My company does not providing video for free, so I can not give you video
info on Github.
So, I will give example video, in this email.
And video is applied streaming + HLS

Url :
http://laftelmediaservice.streaming.mediaservices.windows.net/c465ed8c-eb29-44a4-9f86-d85dea5a53de/TestVideo_360x240_30mb.ism/manifest(format=m3u8-aapl)
Token :
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1cm46bWljcm9zb2Z0Om

[2018-06-21 10:41] tonihei commented on #4398
I deleted your previous post because its contents were publicly visible. If you want to send us information privately, please send an email to dev.exoplayer@gmail.com and use "Issue #4398" as subject.

[2018-06-21 11:10] christianb commented on #4140
We also have the issue that our midroll ads stopping before they reache the end.
We are using the ExoPlayer:2.7.1, with Ima-Extension.

[2018-06-21 11:17] andrewlewis commented on #4140
@christianb Are you seeing that a midroll is skipped when the player is backgrounded while playing a previous midroll in the same ad group? If not it might be different from this issue, so please file a new issue and include the ad tag and steps to reproduce.

[2018-06-21 11:48] tonihei commented on #4398
I can't play the link you provided because I'm unsure how you add the access token. Can you give some details where to put it? Is it a HTTP request property or do I need to add it the url?

[2018-06-21 11:51] EusebioMorell commented on #4394
Attached a full Android Studio console logcat, and a shorter log with just the EventLogger messages (including HTTP requests): [logs-01.zip](https://github.com/google/ExoPlayer/files/2123400/logs-01.zip)

As you will see in the logs, I used a custom master playlist. I just removed most renditions from the original playlist, to increase the chances of requesting a "backup" stream.

My custom master

[2018-06-21 12:55] ronak2121 commented on #3971
So I debugged this some more.

In the HE-AACv2 fMP4 files, I'm seeing a 44100 sampling rate inside the moov atom (moov -> trak -> mdia -> mdhd atom & moov -> trak -> mdia -> minf -> stbl -> stsd -> mp4a atom), and 44100 inside of the timescale in the sidx atoms.

I see the defaultSampleDurations in the two moof atoms are 2048 for HE-AACv2 and 1024 for LC-AAC.  I'll find out more about why this is

[2018-06-21 12:55] RicardoJiang opened #4402 "how to get download progress and downloaded size in activity"
ExoPlayer v2.8.1

hello,I'm using DownloadService and DownloadManager to download hls videos,may I ask
how to get download progress and downloaded size in activitys,I can get these in Downloadservice,
but you used startService and not bindService ,so how to get these in activitys expect broadcast.

thanks

[2018-06-21 13:21] jrw95 commented on #4329
@paf-wv
We've received a response from our DRM license service:

[2018-06-21 14:04] erdemguven commented on #4402
If you keep a reference to your DownloadManager in a static field (like com.google.android.exoplayer2.demo.DemoApplication#downloadManager) then you can access it from your activity. You can use DownloadManager.getTaskState() or getAllTaskStates() method to get the progress information. Note, you should be accessing DownloadManager from the same thread as DownloadService which is the main (UI) thr

[2018-06-21 14:21] Manuiq opened #4403 "Suspicious null in method overload"
In overloaded `cache` method instead of passing `@Nullable AtomicBoolean isCanceled` argument this method just passes `null` next. So now modifying the AtomicBoolean doesn't cancel the caching.
https://github.com/google/ExoPlayer/blob/000f3f23056aae30a98ac74fb30e484844548b3e/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CacheUtil.java#L135

[2018-06-21 14:37] tonihei commented on #4403
That looks indeed suspicious. @erdemguven Can you take a look?

[2018-06-21 14:49] andrewlewis commented on #4403
My bad in a0b15595f45cb500d30017cd0d1fe0ac38d218e9. I'll make a fix to use the passed in flag. Thanks for reporting this.

[2018-06-21 15:03] AquilesCanta commented on #4394
I think that the backup playlists are not properly synchronized with the main ones.

This is what I did:
[code]

and

[code]

Then I got two segments that correspond to similar points in time.

index_1180_02829.ts  -> #EXT-X-PROGRAM-DATE-TIME:2018-06-21T23:46:57.968Z

and

index_1180_00428.ts -> #EXT-X-PROGRAM-DATE-TIME:2018-06-21T23:46:54.562Z

that should be around three seconds apart. Then I ob

[2018-06-21 15:03] #4394 closed, assigned to AquilesCanta

[2018-06-21 15:23] thisd commented on #4395
Thanks tonihei. It seems like I have originally though. Thanks for confirming, though.

[2018-06-21 15:23] #4395 closed, assigned to tonihei

[2018-06-21 16:16] roundsmapp commented on #2659
By "audio cutting" I mean the audio is not being played continuously, it's playing a fraction of a second, stopping a fraction of a second, playing again, stopping again and so on. Not smooth.

I've also noticed that, as far as I have tested, this problem seems to be affecting Samsung Galaxy S series only (since it's on testing phase, I have a limited number of devices I can try).

But I've tested

[2018-06-21 16:51] ayushjha1996 commented on #2707
We want to use rtp multicasting using exoplayer .
We ran the demo application of this dev-v2-rtp
but getting only black screen with event logger showing the player in buffering state . We used moto G2 device.

any help here to play simple rtp multicast streams using exoplayer

[2018-06-21 18:52] SeanYouI opened #4404 "Widevine DASH "Failed to get key request" on Android 5.x"
Widevine DASH "Failed to get key request" on Android 5.x

### Issue description
We have some live content that we're unable to get DRM license keys for on devices with Android 5.x. Everything works fine on Android 6 and up. I've tried putting a failing asset in the ExoPlayer demo and it fails in the same way. I've also tested the same failing asset with the Shaka player demo and the issue DOES NOT

[2018-06-21 21:52] harini113 opened #4405 "OOM issue caused at om.google.android.exoplayer2.upstream.DefaultAllocator.allocate(DefaultAllocator.java:102)"
When I try to play a 4K clip with exoplayer based V2 Release, I see the images are distorted and the logcat shows OOM memory/memory allocation errors. The clip is in /sdcard/Music. This happens only with certain 4K clips.

LoadTask: OutOfMemory error loading stream
06-15 05:26:22.500  7182  7207 E LoadTask: java.lang.OutOfMemoryError: Failed to allocate a 65552 byte allocation with 41576 free byte

[2018-06-22 02:39] workspace commented on #3393
https://backup-educastmedia.streaming.mediaservices.windows.net/e59257e1-ef8f-4556-a654-1bf3633f1f6d/video.ism/Manifest(format=mpd-time-csf)

But this locator url can be changed soon. So, I attached the content of manifest and brief summary for microsoft's xml tag

[Manifest(format=mpd-time-csf).zip](https://github.com/google/ExoPlayer/files/2125971/Manifest.format.mpd-time-csf.zip)

It contains l

[2018-06-22 03:06] changja88 commented on #4398
I made a sample video without drm.
Uri :
http://laftelmediaservice.streaming.mediaservices.windows.net/4843f7a7-e518-4d6b-8315-563fe0e49745/TestVideo_360x240_30mb.ism/manifest(format=m3u8-aapl)

Thanks
Have a nice day.

2018-06-21 20:49 GMT+09:00 tonihei <notifications@github.com>:

[2018-06-22 05:35] ayushjha0296 commented on #2707
@tresvecesseis  I want to do RTP multicasting using exoplayer .
I build dev-v2-rtp branch but when i try to receive RTP packets through 224.0.0.0 . I get black screen with event logger saying that player is in buffering state .
I am using Moto-g android device
Any help how to achieve simple RTP multicating using exoplayer

[2018-06-22 06:42] donny8chen opened #4406 "How to Switching between audio tracks of MPG file in exoplayer V2?"
I using exoplayer V2 in our project, and i have a issue as bellow:

How to Switching between audio tracks of MPG file in exoplayer V2?

Yes, I can switch audio tracks on MP4/MKV but MPG.

Cloud anyone let me know the key point or other ?

[2018-06-22 08:22] tonihei commented on #4406
Switching tracks works the same for all file types and formats. Can you explain in more detail what you did for MP4 and why the same doesn't work for MPG?

[2018-06-22 08:24] tonihei commented on #4405
Can you please send an example media file to dev.exoplayer@gmail.com with subject "Issue #4405"? This would allow us to reproduce the problem.

[2018-06-22 08:28] tonihei commented on #4398
I tested this file with our demo app and it plays perfectly fine. The buffered duration displayed in the UI exactly matches the values I get in `shouldContinueLoading`.

Could you try to play your file in our demo app and explain how exactly we can reproduce the problem?

[2018-06-22 09:39] ramkailash-mob-incedo opened #4407 "com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header."
com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header.
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:148)
        at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParser.parse(HlsPlaylistParser.java:48)
        at com.google.android.exoplayer2.upstream.ParsingL

[2018-06-22 10:15] ojw28 commented on #4407
There are multiple existing issues for this ([see here](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aissue+%22Input+does+not+start+with+the+%23EXTM3U+header%22+)).

Hard to say for sure without any of the information requested in the issue template, but closing on the assumption this is a duplicate of https://github.com/google/ExoPlayer/issues/4066.

[2018-06-22 10:15] #4407 closed, assigned to ojw28

[2018-06-22 10:37] ojw28 commented on #3971
Your question is already answered in https://github.com/google/ExoPlayer/issues/3971#issuecomment-371914123, isn't it?

[2018-06-22 10:41] getashok2003 opened #4408 "Crash reported pointing internal to player."
Android: 7.0
Android Build: 3.0.1
Manufacturer: Technicolor
Model: STING
Thread: Thread-892-1414
CrashReporter Key: b6cca6f9-594d-46e5-b72c-ca6aeec8ddef
Start Date: 2018-06-21T16:25:11.413Z
Date: 2018-06-21T16:38:23.324Z
This all are seen during HLS playback.
Exoplayer version -2.8.1
-------------------------1st crash --------------------------
java.lang.ArrayIndexOutOfBoundsException: length=10;

[2018-06-22 11:07] pstambrecht opened #4409 "Switching between AdaptiveTrackSelection and FixedTrackSelection"
Is it possible to switch from AdaptiveTrackSelection to FixedTrackSelection without player re-initialisation?

When I use AdaptiveTrackSelection I can not force higher video track (quality always depends on internet connection speed). When I use FixedTrackSelection adaptive quality selection not working (correctly). Does exist any TrackSelection which combines AdaptiveTrackSelection and FixedTrack

[2018-06-22 11:35] ronak2121 commented on #3971
I’d have to pull up the debugger and see which atom. Was hoping you already knew.

[2018-06-22 11:42] AquilesCanta commented on #3393
Even while using a token I am getting a 401 for the key requests using the provided token:

`keyRequestProperties.put("Authorization", String.format("Bearer=%s", "urn%3amicrosoft%3aazure%3amediaservices%3acontentkeyidentifier=b73aac96-9814-4eda-bd81-35a1dd767115&Audience=urn%3aeducast%3ausers&ExpiresOn=1529677294&Issuer=https%3a%2f%2feducast.pro&HMACSHA256=cyKkfWbZCU0n6Wt84ohrE8hMxHX1QAvyJroKjm66g

[2018-06-22 12:22] workspace commented on #3393
Did you get token from
`https://educast.com/api/v1/video/80/create_drm_token`
?
I think you tried to play with mismatching manifest and drm token because of my mistake. Can you follow below guideline to get valid manifest and drm token pair?
0. Target is our video which pk is 80
1. GET streaming_url from `https://educast.com/api/v1/video/80` response
2. You can get manifest url by appending some f

[2018-06-22 13:03] DM-Android2017 opened #4410 "4K Video of MP4 Format was not playing in the Exoplayer"
### Issue description
When try to play the 4k mp4 format video in the Exoplayer, it will play the audio alone and not the video it  shows the black screen.Is that exoplayer will play the video of 24fps alone?

### Reproduction steps
Just try to load the sample 4K Video (MP4 Format) in the Exoplayer

### Link to test content
http://osc.techaffinity.com/mobile/test/Honey%20Bees%2096fps%20In%204K%20(

[2018-06-22 13:20] tonihei commented on #4409
If you are using [`DefaultTrackSelector` ](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html), you can specify track selection overrides there (see the linked doc). If the override contains just one track, `DefaultTrackSelector` automatically creates a `FixedTrackSelection` for that. As soon as more than one track is allowed, it

[2018-06-22 13:23] tonihei commented on #4408
That most likely happened because the player was accessed from different threads simultaneously.

Please note that all player methods must be called from the same thread. This must be the thread you created the player on (or the main thread if that thread doesn't have a Looper). We also recently added an option for #4278 to specify your own Looper to use for player access.

[2018-06-22 13:42] tonihei commented on #4409
You can also look at #2250 and #2371 which are about the potential rebuffer that occurs when setting a new SelectionOverride. There is currently no easy way to get around that.

[2018-06-22 13:46] pstambrecht commented on #4409
@tonihei Thanks a lot for your answers. I'll try it.

[2018-06-22 13:46] tonihei commented on #4410
The file above doesn't work as it has a size of 0 bytes. Can you try to reupload the file or send it to dev.exoplayer@gmail.com with "Issue #4410" in the subject?

[2018-06-22 14:23] BetweenTwoBits opened #4412 "Closed Captions windowColor drawing inconsistencies"
### Issue description
Noticed that window color doesn't always render the same way depending on the caption type.

On a stream with ttml+xml captions, the windowColor(Green) draws like this:
![full_width_window_color](https://user-images.githubusercontent.com/3139045/41746583-13cfa6fe-7568-11e8-8f1f-8f0efabe65f1.png)

On a stream with cea-608 captions, the windowColor(Green) draws like this:
![sho

[2018-06-22 15:07] EusebioMorell commented on #4394
I'm not touching the track selection, actually.

To find out why it's choosing the backup stream first, i've just added some log messages in AdaptiveTrackSelection, SlidingPercentile and DefaultBandwidthMeter.

Here is the trace: [trace-01.zip](https://github.com/google/ExoPlayer/files/2128094/trace-01.zip).

I used my custom master playlist, as before:

    #EXTM3U
    #EXT-X-VERSION:3
    #EXT-X

[2018-06-22 15:18] AquilesCanta commented on #4394
The only possibility I can think of is that some urls are getting blacklisted. In any case, the issue with alignment is not something we can work around. It might make sense for you to make sure that track selections never pick a back up url that are known to have a different alignment. One way of achieving this would be providing your own track selection implementation or overriding the default t

[2018-06-22 15:31] tonihei commented on #4404
I can reproduce the problem on a Nexus 6. Forwarding to @paf-wv to take a look as it's a platform DRM error [Bugreport and media/drm url are in the email].

[2018-06-22 15:35] dishantkawatra commented on #867
Please download BeautyKingdom application then know how to exoplayer is
playing if you interested then reply me I will give you code

On Mon 18 Jun, 2018, 2:03 PM Sandeep Yohans, <notifications@github.com>
wrote:

[2018-06-22 16:32] ojw28 commented on #4412
The content is able to define the window region, so I think it's expected that the filled area might be different?

[2018-06-22 16:36] BetweenTwoBits commented on #4412
As I understand it, this content is missing all styling attributes. I am not sure if that is how the window region is defined, but I can take a look to ensure its not the content doing this.

[2018-06-22 16:39] hongfeih opened #4413 "DRM streams failed on Asus Zenfone2"
### Issue description
Got color bars when playing DRM streams on Asus Zenfone2

### Reproduction steps
Using the ExoPlayer demo app to play any DRM streams

### Link to test content
N/A

### Version of ExoPlayer being used
2.8.1

### Device(s) and version(s) of Android being used
Asus Zenfone2 (ASUS_Z00AD), Android 5.0

### A full bug report captured from the device
[asus_drm_failed.log](https://g

[2018-06-22 17:41] villoren commented on #4360
@andrewlewis Sorry, got caught by something else.
I'll do as soon as I can, even if you guys come up with a solution before, since I'm interested in learning the framework.

~~I saw this [pure-integer approach](http://www.speech.cs.cmu.edu/comp.speech/Section2/Q2.7.html) to get linear samples. Going to see how i can adapt it.~~
[Edit: handled by ffmpeg, for sure]

Gotcha, mp4 container, no wav.

[2018-06-22 18:24] harini113 commented on #4405
Done. Sent an email.

[2018-06-22 18:31] AntRemo commented on #4234
Hi

Can someone confirm if this been resolved in 2.8.3?

I am still receiving the error and implemented `-dontwarn org.checkerframework.**` to get around it. I believe this is safe :)

Thanks

[2018-06-22 22:17] smw1218 commented on #4234
I don't think there is a 2.8.3. The latest release in the releases section is 2.8.1 and the issue was resolved for me in that release.

[2018-06-23 15:06] Srinu-try commented on #4319
Hi,

Thanks for your response.

Finally, I got a public IP to stream the RTMP video.
You can stream the content and reproduce the issue using the below address,
rtmp://76.81.29.11:1935/live/Cam2

The stream restarts every 10 mins. During the restart, RTMP server is taking some time to connect with the RTMP clients.

Thanks,
Sri

[2018-06-23 15:26] frakc opened #4414 "Support crossfading"
If there is concatinatingmediasource i wonder if there is feature which does following:
player plays last 10 seconds of a track whth volume goes down to 0
and at same time next tack startswith volume which goes from 0 to current level, effectivly makeing 2 tracks sounds in same time at some point.
I did not notice mediasource with such option when i scroll though them and assume the only way is to

[2018-06-24 13:43] MKSMV commented on #4378
Hi, **@AquilesCanta**, thanks for your attention.
The video was recorded on an iPhone with a microphone.

I tried to play the video with the MediaPlayer and the sound remained as bad as before. Then I added an FFmpeg extension for AAC decoding - the sound became better, but not perfect. What's strange, the sound is perfect in Windows.

Most likely, the reason of bad sound is not the Exo. If you de

[2018-06-24 17:31] DKillWorld commented on #4414
What you want is cross-fade between mediasources. but there is no option for this yet.

[2018-06-25 01:46] donny8chen commented on #4406
Version：ExoPlayer V2 2.8.1
   Demo: ExoPlayer/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java

**This is a music video in mpeg2 format, I use the Android 6.0 SDK's android.media.MediaExtractor class to read all the track information and get the following tracks:**

1、{height=1080, width=1920, mime=**video/mpeg2**, durationUs=265831733, csd-0=java.nio.ByteArrayBuffer

[2018-06-25 01:51] donny8chen commented on #4406
@tonihei Thanks a lot for your answers.

**I use MediaInfo software to read the file format information as follows:**

General
Complete name                            : D:\StudioProjects2\ExoPlayer\50000445.mpg
Format                                   : MPEG-PS
File size                                : 272 MiB
Duration                                 : 4 min 25 s
Overall bit rate mode

[2018-06-25 02:02] donny8chen commented on #4406
I use DEMO to test, without modifying any code, only modify the **media.exolist.json** file in the assets directory, just add two video addresses, as follows:
{
         "name": "http BS18K63.mkv",
         "uri": "file:///storage/0E6AAFDD6AAFBFB7/song/BS18K63.mkv"
       },
       {
         "name": "file 50000445.mpg",
         "uri": "file:///storage/0E6AAFDD6AAFBFB7/song/50000445.mpg"
       }

[2018-06-25 02:43] Caij opened #4415 "video play stuck on some device"
Version: 3.8.1     （2.7.3 is no problem）
device： xiaomi note 3  android 7.1.1,    xiaomi 5sp android 7.0

source file:
https://github.com/Caij/OkHttpDownDemo/blob/master/00404Kfhjx07bvNox0Ev010f11001zyG0k01.mp4

problem video record：
https://github.com/Caij/OkHttpDownDemo/blob/master/Screenrecorder-2018-06-22-18-11-59-960.mp4
https://github.com/Caij/OkHttpDownDemo/blob/master/Screenrecorder-2018-0

[2018-06-25 05:43] sri-new opened #4416 "Replace 2.x.x with the actual latest version in docs"
Scouring the internet just to get the latest version is not really ideal while looking to add the library as a dependency.

[2018-06-25 06:33] MajDroid commented on #4280
@andrewlewis is my description in the last post sufficient? if there are more details that i can provide, please don't hesitate to ask

[2018-06-25 06:44] westlakestudent opened #4417 "com.google.android.exoplayer2.source.UnrecognizedInputFormatException"
hi：
i have got a problem from my users, they can not play video with exception below,
please help me, thanks very much!

"Url:http://stimg-bj.qbb6.com/2548665190_754c3ab942c2.mp4 LocalFile:/storage/emulated/0/.bt/files/2548665190_754c3ab942c2.mp4 FileMD5:null RemoteHost:stimg-bj.qbb6.com RemotePort:-1 Exception:type=0 renderIndex=-1 cause:com.google.android.exoplayer2.source.UnrecognizedInputForma

[2018-06-25 07:48] donny8chen commented on #4406
**There are two problems with playing MPG video:**
1、can not seek progess;
2、can not read all audio tracks;

I tried to track the code that reads the track information and found that this class (**com.google.android.exoplayer2.extractor.ts.PsExtractor**) reads it。

public final class PsExtractor implements Extractor {
  ...
  private boolean foundAllTracks;
  private boolean foundAudioTrack;
  pri

[2018-06-25 08:04] OrenMe commented on #3918
@erdemguven @ojw28 any update on the matter? does @giladna's solution possible? should we open a PR?

[2018-06-25 08:30] sandeepyohans commented on #867
@dishantkawatra Sure, will do that.

[2018-06-25 08:41] tonihei commented on #4406
Thanks. I understand your problem now and that looks indeed like a bug.

Can you send us the example file which causes the problems? If you don't want to post it publicly, feel free to send an email to dev.exoplayer@gmail.com with "Issue #4406" in the subject.

[2018-06-25 09:18] tonihei commented on #4405
The stream you sent by mail only has a resolution of 320x180 - which isn't 4K ;)
It also plays fine in our demo app without using any unusual amount of memory.

[2018-06-25 09:27] donny8chen commented on #4406
@tonihei Thanks a lot for your answers.

I have sent the file that caused the problem to dev.exoplayer@gmail.com, please check！！

[2018-06-25 10:00] ojw28 commented on #4416
I don't particularly want to have to update our documentation every time we do a release for this. So we can either:

1. Link to the release notes (or equivalent; anything that's naturally updated to show the latest version).
1. Find a way of filling it in automatically.

[2018-06-25 10:02] ojw28 commented on #4414
@andrewlewis - Feel free to dupe this if there's already a tracking issue (I couldn't find one).

[2018-06-25 10:05] satyasivaprasad opened #4418 "Not able to show video inside rounded rectangle layout"
I wanted to show video inside rounded rectangle view
Here is the code I am using to render PlayerView inside rounded rectangle view

 ` <com.skyline.widget.layout.RoundCornerLayout
        android:id="@+id/playerPanel"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        a

[2018-06-25 10:11] sri-new commented on #4416
Yes, that will be nice! Thanks!

[2018-06-25 10:20] murdly opened #4419 "ANR on Fire TV when changing surface holder"
### Issue description
ANR occurs when setting video surface holder to null after it got destroyed.

### Reproduction steps
Trigger replacing surface.

### Link to test content
Any video.

### Version of ExoPlayer being used
2.7.0, 2.7.2 and 2.8.1

### Device(s) and version(s) of Android being used
Fire TV 6.0.1.4-012, OS 6.2.1.3

Codec: OMX.amlogic.avc.decoder.awesome
Device: needle
Model: AFTN

#

[2018-06-25 10:43] sandeepyohans commented on #867
@dishantkawatra I checked the layout, looks nice. Seems you are displaying a list of thumbnails and on onClick event playing the video in new Activity. I had the thought of doing the same.
![screenshot_1529923322](https://user-images.githubusercontent.com/3971485/41845881-a6552b20-7892-11e8-8cfc-a408fc5fe119.png)

[2018-06-25 11:01] ojw28 commented on #4417
We're not detecting it as a valid MP4 (possibly because it's not). There is nothing we can do to debug this issue without having access to the problematic media file. Please mail the file to `dev.exoplayer@gmail.com` if you have it, with "#4417" in the subject line, and update this issue to say it's been sent.

If you're unable to provide the file then we'll probably have to close the issue. Thank

[2018-06-25 11:03] ronak2121 opened #4422 "HLS: Support variable substitution"
Hi,

We would like to reduce the size of our HLS manifests and there are really only two ways to do it:

Use relative paths
Use hls variable substitution

I was wondering if Exoplayer supports hls variable substitution and if not, if support can be added.

[2018-06-25 11:08] ojw28 commented on #4422
1. Pretty sure we support relative paths, in that we'll resolve paths against that of the media playlist URL, after any redirection. @AquilesCanta can confirm.
1. We don't support variable substitution. It looks like that was recently added to the HLS spec? We can use this issue to track adding support.

[2018-06-25 11:21] satyasivaprasad commented on #4418
Achieved this by adding the transparent view on top of PlayerView.
Here is the code

` <RelativeLayout
        android:id="@+id/playerPanel"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="@dimen/conversation_item_margin_left"
        android:layout_marginRight="@dimen/conversation_item_margin_left"
        android:layout_

[2018-06-25 11:21] #4418 closed, assigned to nobody

[2018-06-25 11:26] jemjov41 opened #4424 "addVideoListener in simpleExoPlayerView"
i got error while <pre>simpleExoPlayerView.setPlayer(simpleExoPlayer)</pre> its show me this error in logcat

<pre>
NoSuchMethodError: No virtual method addVideoListener(Lcom/google/android/exoplayer2/SimpleExoPlayer$VideoListener;)
</pre>
so i adding
<pre>
<code>
simpleExoPlayer.addVideoListener(new VideoListener() {
            @Override
            public void onVideoSizeChanged(int width, int

[2018-06-25 11:29] tonihei commented on #4406
Thanks, I can reproduce the problem and we will provide a fix for this soon.

[2018-06-25 11:37] #4409 closed, assigned to tonihei

[2018-06-25 11:45] tonihei commented on #4413
@hongfeih Could you try to capture a full [bugreport](https://developer.android.com/studio/debug/bug-report) and not just the log output?

@paf-wv Please take a look. It looks like a device issue where the device can't handle the change in resolution.

[2018-06-25 11:50] DKillWorld commented on #4416
Just look at the ReleaseNotes in root branch of project. It will reflect latest release with changelog.

[2018-06-25 11:59] DKillWorld commented on #4414
It would be helpful to have Crossfade object with as simple constructor as crossfade(boolean forcedCrossfade, long time).

forcedCrossfade - false if you dont want to fade between tracks when you are manually changing tracks (default).  true for opposite.
time - actual crossfade time for which both tracks should be played in.

[2018-06-25 12:23] ojw28 commented on #4319
The stream appears malformed to me, although I'm not sure whether there's something I'm missing. What I see when I attach a debugger is:

* First FLV tag has type `SCRIPTDATAOBJECT,` and is well formed (fine)
* Second FLV has type `VIDEODATA` (fine)
* In the `VIDEODATA` packet: `CodecId = 7` (AVC), `AVCPacketType = 0` (Avc Sequence Header), `CompositionTime = 0` (all fine)
* The remainder of the p

[2018-06-25 12:24] dnpawate opened #4425 "Gapless"
Hi

Need a simple confirmation
1. For lossy format say MP3 will android framework will take care of removing gaps between files
2. Do we need to design android player which will always skip last one second of MP3 songs
3. Do we need hardware support to achieve gapless playback
4. If we have long silence of 8 sec at end of file, who's responsibility to detect the silence android framework
5. Does o

[2018-06-25 12:52] ojw28 commented on #4319
* If I dump the stream to a file using `rtmpdump` and then try and play back that file, I do not see invalid data and the stream is able to play fine.
* If I dump the stream using LibRtmp and then try and play back that file, I do see invalid data and the failure occurs.

So it appears the stream is not malformed, but there's probably a bug in LibRtmp that means it's not being read correctly. I'll

[2018-06-25 12:59] ojw28 commented on #4419
A question before we merge the change: Does the ANR occur when switching between any surfaces, or only when `DummySurface` is used? Can you try returning false from `shouldUseDummySurface`, with the change to `codecNeedsSetOutputSurfaceWorkaround` reverted?

[2018-06-25 13:33] murdly commented on #4419
When `shouldUseDummySurface` is returning false the ANR doesn't occur.

[2018-06-25 16:36] botaydotcom commented on #4071
In this case, the media just doesn't have the correct headers (Xing/VBRI) to construct a correct seek map. ExoPlayer then assumes that the media file has constant bit rate, and falls back to use `ConstantBitrateSeeker`. However, in this case, this assumption is not correct (the file has variable bit-rate - VBR - frames), so the estimated duration (10:04) from ExoPlayer is wrong. The real duration

[2018-06-25 16:36] #4071 closed, assigned to botaydotcom

[2018-06-25 16:36] ojw28 commented on #4424
Please try adding the exact same code into our demo application's `PlayerActivity`, and running that. If everything works there, this seems like an issue with your application's build setup rather than an issue with the ExoPlayer library.

I wonder if your app is somehow pulling in multiple different versions of ExoPlayer.

[2018-06-25 16:48] botaydotcom commented on #4324
Closing the issue as the required info is not received.

[2018-06-25 16:48] #4324 closed, assigned to botaydotcom

[2018-06-25 16:55] hezie100 commented on #4125
Hi,
I'd like to have more details on the Exo player specifications, especially on LIVE (channels) DASH streaming.
what's the required video codec ?
what's the required amount of Levels/ bit rates in manifest ?
what's the required chunk size for the segments ?
do I need to set any sliding window for the player to be able to seek in time or not ?
what's the setup required in order to gain the maximu

[2018-06-25 17:07] Srinu-try commented on #4319
Hi,

Thanks for raising the issue with libRtmp.

Yes. LiRtmp library is causing the issue here. The output buffer data from libRtmp is missing last 13 bytes of SPS/PPS header data. Length of the data is shown as 43 bytes but libRtmp is providing only 30 bytes of data from the respective header. The rest of 13 bytes are filed from next Video Tag data header which is causing the issue.

[2018-06-25 17:12] harini113 commented on #4405
Hi Yes, while I agree its not a 4K clip but with the latest exoplayer lib used in my apk I am finding issue even with that. I am hoping for some kind of direction to debug this further. Is that possible or do you need anyfurther info on the code?

[2018-06-25 17:31] marcbaechinger commented on #4379
We've added a public invalidate() method to the PlayerNotificationManager which allows you to trigger an update of the notification. It's on the dev-v2 branch. Please take a look.

[2018-06-25 17:31] #4379 closed, assigned to marcbaechinger

[2018-06-25 17:35] marcbaechinger commented on #4356
We've added the interface MediaSessionConnector.MediaMetadataProvider which can be passed to the constructor of the MediaSessionConnector to provide custom metadata.

It's available in the dev-v2 branch.

[2018-06-25 17:35] #4356 closed, assigned to marcbaechinger

[2018-06-25 18:25] AquilesCanta commented on #4422
Correct.

Didn't know about variable substitution. Thanks!

[2018-06-25 20:54] ojw28 commented on #4419
My question probably wasn't precise enough. What I'm really interested in is whether `setOutputSurface` is broken on this device, or whether it's broken *only* when using `DummySurface`. The test I asked you to do was unfortunately not sufficient to disambiguate between the two, since your app might not ever be switching directly from one non-dummy surface to another. Can you test whether switchin

[2018-06-25 21:43] ojw28 commented on #3393
I believe this is now fully implemented. @AquilesCanta - Can we close it? Thanks!

[2018-06-25 21:48] AquilesCanta commented on #3393
Yes, apologies for not doing it before. @KiminRyu, please try it out and let us know if you run into any issues.

[2018-06-25 21:48] #3393 closed, assigned to AquilesCanta

[2018-06-25 22:00] #4403 closed, assigned to andrewlewis

[2018-06-26 01:36] westlakestudent commented on #4417
it's been sent. thank you very much

[2018-06-26 02:14] jemjov41 commented on #4424
im sorry its fully my fault im using version 2.5.2 and its not the new one so i update to the newest and its solve

thanks

[2018-06-26 02:21] #4424 closed, assigned to ojw28

[2018-06-26 04:11] robindanielk opened #4426 ""Audio Underrun " followed by "A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 30427 (CodecLooper)" error!!!"
Hi , I have been using the exoplayer setup  to stream video in android STB . Randomly i get the above errors and some times crashes. I have noticed that the error occurs before the start of media source and I use concatenating media sources. Attached the bug reports for both the cases.
[bugRPT2.txt](https://github.com/google/ExoPlayer/files/2135527/bugRPT2.txt)
[codecBug.txt](https://github.com/go

[2018-06-26 05:14] bhavna-nga opened #4427 "Device reboots while recording video"
### Issue description
I have used Exoplayer for recording videos. This is working fine for almost all the devices, but for a few of them (Samsung Galaxy S9+ being one of them) is experiencing reboot issue while the video is recorded. The device automatically restarts on its own. Since this is not an app-crash, this cannot be even recorded on Crashlytics. Had anyone faced the same issue - Any solut

[2018-06-26 05:28] a-v-ebrahimi opened #4428 "PlayerNotificationManager not displaying notification"
I am using code below to displaying play progress in notification bar and lock screen, it's working properly on all devices except Huawei Mate 10 Pro, which doesn't display notification **at all**:

[code]

Device : Huawei Mate 10 Pro
Device OS is Android 8.0.0

[2018-06-26 05:30] westlakestudent commented on #4417
is there any help?

[2018-06-26 06:42] samradhs opened #4429 "Exoplayer with youtube"
Hi,

I want to make a video player that can play videos both from my given urls and youtube. Is it possible to achieve it with exoplayer ?

Thanks,
Samradh

[2018-06-26 07:05] andrewlewis commented on #4429
The [YouTube Android Player API](https://developers.google.com/youtube/android/player/) is the official way to play YouTube videos as noted in #2160. You could try switching between your own player based on ExoPlayer and the YouTube Android Player API player depending on the type of video, but you can't use ExoPlayer for both.

[2018-06-26 07:05] #4429 closed, assigned to andrewlewis

[2018-06-26 07:17] andrewlewis commented on #4427
Could you clarify what you mean by "recording videos"? ExoPlayer doesn't support recording videos (only playback). If you are able to capture a bug report after the devices reboots that may have useful information. I suggest reporting this to Samsung directly.

I'll close this for now but if you find that the issue is related to ExoPlayer then please provide more information and I'll reopen it.

[2018-06-26 07:17] #4427 closed, assigned to andrewlewis

[2018-06-26 09:14] tonihei commented on #4405
Did you try playing the same file in our demo app on this device? If it plays fine in the demo app,  then it's probably an issue with your app.

[2018-06-26 09:24] komissarovdenis commented on #3923
@ojw28 hi, how about bug status? (Couldn't check it by myself, because it's internal one and hidden).
Thank you.

[2018-06-26 09:27] ojw28 commented on #3923
No update I'm afraid.

[2018-06-26 10:31] AndreyAsadchy opened #4430 "Errors when trying to download HLS using HlsDownloadAction or HlsDownloadHelper"
### Issue description
With **HlsDownloadAction** the error is:
[code]

And with **HlsDownloadHelper**:
[code]
### Reproduction steps
**HlsDownloadAction**:
[code]

**HlsDownloadHelper**:

[code]

startDownload method:
[code]

MediaDownloadService:
[code]
### Link to test content
Any playlist, for example:
https://vod171-ttvnw.akamaized.net/4a97f011b0afb89557ef_starladder5_28944057744_877673773/chu

[2018-06-26 10:33] murdly commented on #4419
I can confirm that switching between non-dummy surfaces works as expected.

I have also tested on several other Fire TV devices plus Android TV emulator and it works correctly when using `DummySurface`.

Is there anything else I could do?

[2018-06-26 10:45] erdemguven commented on #4430
"No deserializer found for:hls", when you create your DownloadManager, you need to pass HlsDownloadAction.DESERIALIZER as one the deserializers.

About HlsDownloadHelper exception, you need call getTrackGroups() before getDownloadAction().

[2018-06-26 10:46] chetan8378 opened #4431 "Cant able to play H265 format vidoes on ExoPlayer before marshmellow"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-06-26 10:58] andrewlewis commented on #4431
Please see [supported media formats](https://google.github.io/ExoPlayer/supported-formats.html) which links to the [page listing formats supported by the Android platform](https://developer.android.com/guide/topics/media/media-formats#core). H.265/HEVC decoding support has been required since Android 5.0 (Lollipop).

I'll close this for now, but if you think this is an ExoPlayer issue please provi

[2018-06-26 10:58] #4431 closed, assigned to andrewlewis

[2018-06-26 11:02] AndreyAsadchy commented on #4430
The problem was that i was passing ProgressiveDownloadAction.DESERIALIZER instead of HlsDownloadAction.DESERIALIZER, so it's working now. Thank you.

[2018-06-26 11:02] #4430 closed, assigned to erdemguven

[2018-06-26 11:16] zishanj opened #4432 "exo_play and seekbar related id's not getting reset after player.release()"
I am using ver 2.7. While playing the audio, if I `release` the player the play button with id `exo_play` and seekbar related id's `exo_position`, `exo_duration`, `exo_progress` does not get automatically reset. I was expecting them to change to `pause` and reset the values for seekbar related id's.

Is there any workaround to this?

[2018-06-26 12:14] makvasic opened #4433 "Support manually stopping/starting download when using DownloadService"
Is there any preferred way of doing pause and resume manually on active download?
I am looking at `DownloadManager.stopDownloads()` and `DownloadManager.startDownloads()` which seems to do that.
When `stopDownloads()` download is stopped and notification is removed which is OK,
when `startDownloads()` download is resumed but notification is nowhere to be seen.
Is that desired behavior?
I was expec

[2018-06-26 14:04] ojw28 commented on #4419
In that case can we use a more targeted workaround? It should work to change `shouldUseDummySurface` to:
[code]

And then implement the workaround in `codecNeedsDummySurfaceWorkaround`. That way, seamless switching between non-dummy surfaces will still be enabled on the device.

I suspect some other devices in `codecNeedsSetOutputSurfaceWorkaround` could probably be moved to apply only to dummy su

[2018-06-26 14:32] sergiomartinez4 commented on #4329
@paf-wv is the info provided by @BCjwhisenant what you need? Please let us know otherwise

[2018-06-26 14:51] murdly commented on #4419
Sounds good to me. Shall I create a PR with this change?

[2018-06-26 15:03] AniLabXTeam opened #4435 "MergingMediaSource with ConcatenatingMediaSource throws IllegalMergeException"
### Issue description
I'm using ConcatenatingMediaSource for two video parts concatenation. This parts is on server.
Sometimes, this "parts" has VTT subtitles. And if i try to merge conctatenated sources with SingleSampleMediaSource an prepare player i'l get IllegalMergeException.

How can i merge this sources?

### Reproduction steps
Here is my code that i use for merging sources
[code]
After pre

[2018-06-26 15:25] roundsmapp commented on #2659
@andrewlewis , any clues?

[2018-06-26 15:37] ojw28 commented on #4417
The video plays fine in the ExoPlayer demo app. If you're using an old version of ExoPlayer then I'd suggest you update to the latest version, in case a fix was made.