[2021-01-26 23:39] ojw28 commented on #8494
I assume that the DropBox API, one way or another, provides:

1. A mechanism for reading data.
2. The length of the data, which seems like it's available [here](https://dropbox.github.io/dropbox-sdk-java/api-docs/v2.1.x/com/dropbox/core/v2/files/FileMetadata.html#size).

Those are the two things that a `DataSource` implementation needs to do, so you just need to implement a `DataSource` that wraps

[2021-01-26 23:49] tfrysinger commented on #8494
Appreciate the input! I will give that a shot and see how it goes...

[2021-01-27 01:46] Kimiar commented on #8509
Buddy, thanks. You are really great!

[2021-01-27 02:04] #8376 closed, assigned to marcbaechinger

[2021-01-27 02:45] rrfrias commented on #8373
Probably not. But a factory reset might work. We are trying to figure out a less intrusive alternative.

[2021-01-27 04:59] linhai326 commented on #8495
video variant selection is based on the calculated downloading bitrate. You may want to print out the values from:
This listener will give you the current bitrate:
void onBandwidthSample(int elapsedMs, long bytes, long bitrate);

the bitrate here is the value used for video track selection.

[2021-01-27 05:27] Prateek-Kapoor commented on #8475
ojw28, any suggestions on this issue?

[2021-01-27 05:36] ekamsoftwares-india commented on #8502
Hi, we tested this URL in the demo of exoplayer, but it didn't worked there as well. Can you please advise ?

[2021-01-27 05:43] maverick-sahil commented on #8506
https://jiomeetstage.jiomeet.com/api/media/play/med-a2a5a11e-b798-4f55-bc83-bd213f5c7594?type=video/mp4

Update: Its working now after adding custom header defaultRequestProperties.set("Range", "bytes=0-") to DefaultHttpDataSourceFactory

[2021-01-27 07:21] AnandSaran opened #8511 "Offline protected DrM content not able to play . If initially Internet is on -> then turned off internet -> then i can play content"
[code]

[2021-01-27 07:23] sravan1213 commented on #8456
@andrewlewis I am able to reproduce on dev-v2 branch as well. Repro rate is 100%

Let me know if you need more details.
Make sure you select the side loaded subtitle is selected before mid roll hits.
And let the ad play as user is watching. Do not seek.

[2021-01-27 08:11] kpandroid commented on #8495
It seems that the current ABR algorithm can't support VBR with big difference of bitrate for the same resolution and can't determine the moment to switch lower. Look at the ABR algorithm of the hls.js - it's more complicated, may be some ideas would be userfull for exoplayer.
https://github.com/video-dev/hls.js/blob/master/src/controller/abr-controller.ts

[2021-01-27 08:54] marcbaechinger commented on #8506
Ok, glad it works. Not sure why you need to add a range header. I can not really help. When trying with the URL above I get a HTTP/200 with a json file saying it is actually a 404. The web player above can't play they file either, saying "This content is currently not available".

I'm closing this issue. Please re-open if you want to look me into this again and you think the URL should work.

[cod

[2021-01-27 08:54] #8506 closed, assigned to marcbaechinger

[2021-01-27 09:01] marcbaechinger commented on #8502
I'm getting a HTTP/404 with the URL above. Please make sure the media is accessible with the URL or provide another URL that provides the content.

Your initial report was about `Player is accessed on the wrong thread.`. This is not related to the content you are playing but about how you integrate ExoPlayer in your app. Can you please a bit more specific in what the expected and observed result i

[2021-01-27 09:04] #8511 closed, assigned to ojw28

[2021-01-27 09:04] AnandSaran commented on #8511
Fixed

[2021-01-27 10:22] Sidharth666 opened #8512 "Trouble integrating exoplayer with Nibiru VR Headset"
I'm playing a mp4 video in VR headset having Nibiru OS. The video is stored locally on the device and is able to play using exoplayer but is dropping frames big time and streaming is not smooth at all. While the default media player is able to play the video smoothly.

Here is the exoplayer implementation:
-------------------------
[code]
Android MediaPlayer implementation which is working well
--

[2021-01-27 11:04] chladto1 commented on #6168
Same issue on Huawei P30 Lite and ExoPlayer 2.11.8.
[code]

[2021-01-27 12:55] shiv-u opened #8513 "Player fails to resume playing the content after turning back the mobile data."
- URI to test content for reproduction - This issue is observed irrespective of the content.

- ExoPlayer version number - 2.12.1.

-  Steps to reproduce -
 1) Click on a video to play
 2) Turn off the mobile data
 3) The player will continue playing until it has finished playing the buffered content.
 4) Turn on the mobile data and clicking on the resume button fails to continue playing the video

[2021-01-27 14:28] marcbaechinger commented on #8500
Seems like that Samsung has implemented a mini player for Android 11 similar to what Pixel phones do.

We tested with a Samsung phone with Android 11 with the `PlayerNotificationManager` and a media session attached to the notification by calling `playerNotificationManager.setMediaSessionToken(mediaSession.getSessionToken())`. With that a mini player is added at the very top of the notification tr

[2021-01-27 14:34] ekamsoftwares-india commented on #8502
Hi, the URL is working. Kindly test it here: https://www.hlsplayer.net/

[2021-01-27 14:42] Consti10 opened #8514 "Higher decoding latency on Snapdragon devices compared to Exynos devices with h264"
Hello,
I made the observation that for devices in the same price range, Snapdragon-based decoders can have a much higher decoding latency than Exynos-based decoders. This is most noticable when decoding h264 streams with the value "pic_order_cnt_type" inside the SPS set to 0 instead of 2.
I am wondering if you have also observed this behaviour and if there is any fix for that ( I have already open

[2021-01-27 15:08] cohenItay opened #8515 "Exo keep on playing black screen and never stops when with postRoll"
Hi there,
I've downloaded the ExoPlayer sample project and tried to run this adTag:
https://pubads.g.doubleclick.net/gampad/ads?iu=/6870/ynet_mobile/ynet_iphone_preroll_health&description_url=https%3A%2F%2Fwww.ynet.co.il%2Fhome%2F0%2C7340%2CL-8%2C00.html&tfcd=0&npa=0&sz=480x360%7C480x361%7C640x480&cust_params=dcStage%3D4444&gdfp_req=1&output=xml_vmap1&vpi=1&unviewed_position_start=1&env=vp&impl=s&

[2021-01-27 16:06] marcbaechinger commented on #8513
I tried to repro this but I can't. It works as expected for me. I have the ExoPlayer demo app and the settings app in split screen side by side. Then I play a video in the demo app and in the network settings I disable 'Mobile data'. The mobile network icon in the status bar of the phone gets the cross added to indicate that the mobile network access is disabled. I see several stack traces like wh

[2021-01-27 16:33] marcbaechinger commented on #8515
I can repro that the postroll ad is not shown. I also see only one preroll.

Can you give us some information about what version of ExoPlayer you are using? We are constantly improving and extending IMA support so it may be relevant to know the exact version you are using.

@andrewlewis may I ask you to take a look?

[2021-01-27 16:48] marcbaechinger commented on #8502
Yeah, thanks. I get a HTTP/200 now. The stream does not play on ExoPlayer or the web player you pasted above. With each timeline update of the live stream the position negatively increases:

[code]

@christosts can you have a look please?

[2021-01-27 16:52] ekamsoftwares-india commented on #8502
@marcbaechinger  the link is playing in the web player. Please check the screenshot: http://prntscr.com/xpxn4g

[2021-01-27 17:12] marcbaechinger commented on #8502
Oh, yes. Sorry, it's audio only. Thanks for mentioning. :)

[2021-01-27 18:11] cohenItay commented on #8515
It happens in 2.12.2

Just tried it on 2.12.3 and it suddenly works :)

[2021-01-27 22:55] moneytoo opened #8516 "Specific mkv video fails with EOFException from SampleDataQueue.sampleData()"
Trying to play this short sample video https://samples.ffmpeg.org/Matroska/compressed/atlantis405-test.mkv with ExoPlayer, it fails with following:

[code]

[code]

The same video plays just fine in system `VideoView` (picture plays always, AC3 audio plays if there's platform decoder). I got same results on two different devices I have tested.

- ExoPlayer version number: 2.12.3
- Android version:

[2021-01-27 22:57] keco1249 commented on #8507
@marcbaechinger The device is a custom android device built on api level 24. Considering that there might be something configuration related or even at the OS level on our device is there any steps you suggest to help us debug? As for other formats I haven't been able to reproduce it using the DASH videos but the switching between resolutions is slightly different. When slowing down the network sp

[2021-01-28 02:03] vimal1695 commented on #8429
Due to customer privacy terms , i am unable to share you the uri.
Right now i always update status of download to complete only if the content length equal to downloaded length.
This is hard to reproduce and also same asset will be able to download without any issue. This happen randomly with any assets.
I will get source error if try to play incomplete download asset.

[2021-01-28 03:54] shiv-u commented on #8513
@marcbaechinger In my phone (Redmi K20 Pro) I can disable mobile data by swiping down tool bar, if you switch between settings app and demo while turning on the data the player is able to resume back but if you're able to turn of the network without switching to another activity the issue still persists.

[2021-01-28 05:42] deepanshu-hh commented on #8500
Here is the Extended class for PlayerNotificationManger:

[code]
Here where we are calling and notifying the Notification:

[code]

The given screenshot is working below Android 11 but Not in Android 11 as per issued mentioned:

![Screenshot_20210129-114217_Hubhopper~2](https://user-images.githubusercontent.com/76508575/106238944-cac3ac80-6227-11eb-8a1b-2eaf3492f70f.jpg)

And the given below Scree

[2021-01-28 06:39] linhai326 commented on #8495
"It seems that the current ABR algorithm can't support VBR with big difference of bitrate for the same resolution and can't determine the moment to switch lower."

EXOPlayer's bandwidth meter uses sliding window algorithm, which works good for us. In some cases, depending on your media segment size, you may need to adjust the weight (setSlidingWindowMaxWeight()) to get more accurate downloading bi

[2021-01-28 08:56] marcbaechinger commented on #8513
Thanks! I think you are resuming before mobile data actually is available as I described above. You need to wait a bit longer in this case. ExoPlayer can not connect before the OS has mobile data again.

I still think this is working correctly if mobile data is available. You need to wait a bit longer probably as explained above.

Please provide me with a bug report with the EventLoggeradded to yo

[2021-01-28 09:01] shiv-u commented on #8513
@marcbaechinger I've resolved the issue, I was missing  `playerView.setPlaybackPreparer(this);` in playeractivity. I should have looked into my code in depth before raising this issue, sorry for this inconvenience .

[2021-01-28 09:01] #8513 closed, assigned to marcbaechinger

[2021-01-28 12:16] xifengyekai commented on #8508
This exception was caused by monkey test. Logically, it was caused by stopping and releasing the player in the thread.We expect the player to stop and release correctly.
The exception has not been reproduced at present, and'"adb bugreport" cannot be executed, but there is a log when the exception occurs.
Test content and steps：1.adb push whitelist.txt /data/local/tmp/
2.adb shell monkey -s 500 -v-

[2021-01-28 13:35] ojw28 commented on #8510
The DASH specification does define this order. In general it defines quite specifically the order of elements in many places. The ordering is defined by the _XML syntax_ sections, which use `xs:sequence`, which is a way of specifying that child elements must appear in the defined order. Please refer to the DASH specification, https://www.w3schools.com/xml/el_sequence.asp and https://www.w3schools.

[2021-01-28 13:35] #8510 closed, assigned to ojw28

[2021-01-28 22:20] avhetman commented on #8510
That makes sense, I knew there had to be some semblance of order with all these elements. Appreciate your help @marcbaechinger and @ojw28

[2021-01-29 01:28] T-10001 opened #8517 "Generate release apk fails with error probably due to minify or proguard?"
- Clear reproduction steps including observed and expected behavior
-- Imported project from git in Android Studio
-- Switched to build variant `WithDecoderExtensionsRelease`  from `demo` module
-- Click on Build > Build Bundle(s) / Build APK(s) > Build APK(s)
-- Expected to have apk built but got the follow error:

[code]

- ExoPlayer version number
-- 2.12.3

[2021-01-29 05:02] vhly commented on #8319
Hi all,

I had spent long time to fix this exception,
and I collected some information for it.

First, some info for you:

1. If ClearKey DASH asset, Don't use LocalMediaDrmCallback, it's bad for some Android device, because Low level drm implement not support multi key response in one request;
2. When network change or dash sub video size change, the drm session manager need get video key again,

[2021-01-29 06:03] miniesahni1 opened #8518 "OutOfMemory errors on some device"
**Observed Behaviour**
We are experiencing fatal crashes due to OutOfMemory errors. Able to replicate issue on Samsung S20 Plus and OnePlus 6T.
On Samsung S20 Plus - Application crash
OnePlus 6T - Playback pause in between

**Reproduction steps**
We are trying to play two video tracks using MergingMediaSource
Steps:
1.Create MediaSource using MergingMediaSource(with two media).
2. Create two Video

[2021-01-29 07:18] GobuTranxit opened #8519 "How to find cache exist?"
I am using V2.12. **How can I find my file is cached or not?**
Kindly give me an instructions

[2021-01-29 09:22] karamgharam opened #8520 "cdn name"
i have multiple cdn
how can i get the name of cdn that player use it

[2021-01-29 09:24] karamgharam commented on #8520
@marcbaechinger

[2021-01-29 10:37] marcbaechinger commented on #8508
Thanks for the logs.

I think it will be difficult to diagnose. The stack trace is obfuscated so I think both the class name and the line number is hard to interpret.

We have a lot of changes in PlaybackInfoUpdate and how updates of the state are handled since 2.8.4. I'd actually recommend to upgrade to the most recent version. It's unlikely that we are going to do big analysis for 2.8.4.

[2021-01-29 10:41] marcbaechinger commented on #8514
Thanks for the info! Sounds like an interesting experiment you are doing. I think that filing a bug with qualcomm sounds like a good idea. These should be the experts to know what is going on there regarding the decoding when looking at this big and significant differences. Let's here what they say.

I leave this issue open in case someone from the community has deeper expertise and can give you s

[2021-01-29 12:04] marcbaechinger commented on #8516
I can repro this. There is a HTTP/416 just before the EOF. Seems like the range request can't be served. This needs some investigation.

[2021-01-29 12:09] marcbaechinger commented on #8519
Given you know the size of the file, you can find whether a given byte range of the file is cache by using the `isCached` of the cache object you are using:

[code]
The cache key is the uri or the key you specified for the file.

[2021-01-29 15:00] karamgharam commented on #8520
@andrewlewis

[2021-01-29 15:04] marcbaechinger commented on #8520
@karamgharam Please stop tagging people. Your issue is not being processed quicker if you do this. Contrary, chances are nice people are being prefered. Thanks!

[2021-01-29 15:46] moneytoo commented on #8516
My report is based on testing the file locally. This sample is just a 10 MB head cut. I'm going through some possibly obscure videos and reporting what videos are playable in VideoView but are failing in ExoPlayer.

[2021-01-29 16:11] marcbaechinger commented on #8516
ok, thanks for clarification. I think it's likely that the reason for why we try to do a range request that is exceeding the file size is related to the same root cause.

[2021-01-29 16:50] andrewlewis commented on #8514
If not doing it already you may want to set the [operating rate](https://developer.android.com/reference/android/media/MediaFormat#KEY_OPERATING_RATE) and [priority](https://developer.android.com/reference/android/media/MediaFormat#KEY_PRIORITY) on the decoder for this kind of testing.

[2021-01-29 16:50] marcbaechinger commented on #8518
The OOM happens when the player tries to allocate more memory in `SampleDataQueue.preAppend`. I think that is just when the player increases the size of the data buffer to buffer downloaded data for playback.

I see that the resolution of the video is pretty high and I don't know how you configured the buffering behavior of the player. So it may certainly be that loading two videos in parallel my

[2021-01-29 17:09] marcbaechinger commented on #8517
This runs fine for me. I think that's because I have a [Android Gradle plugin version that is higher than 3.4.0 and hence it uses R8](https://developer.android.com/studio/build/shrink-code) for minifiyng instead of proguard. The task that runs for me is

[code]
So if you want a quick fix for this you should upgrade your Gradle plugin.

I look into whether we want to make this work for older setups

[2021-01-29 17:55] Consti10 commented on #8514
I was already setting priority, but not setting the operating rate. Doesn't make a difference though.

[2021-01-29 18:09] marcbaechinger commented on #8520
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

I do not understand what you mean. Can you please clarify what you do in your code and what information you are missing? I suspect you are requesting a media file with HTTP with a given uri. What do

[2021-01-29 20:24] karamgharam commented on #8520
i have media url that have cdn i want to know which server that use from player @marcbaechinger
for example if i have url https://tt.cdn.com and this url mabe use frankfor server or tokyo there is way to know which one the player use

[2021-01-29 21:24] marcbaechinger commented on #8520
I'm not sure whether this is possible. Specifically because it is not clear how your CDN provider achieves this behavior. There can be several ways to do that like with over an internal DNS server or by a proxy configuration of the edge server of the CDN backend. If it's done on HTTP level then it could be a redirect that the player could be aware of. I doubt an efficient CDN implementation would

[2021-01-29 21:55] karamgharam commented on #8520
this is url https://geo.tent-cdn.com/out/u/Ahl_Alraya_S01_E04.mpd

[2021-01-30 00:04] tanhan commented on #8495
I suppose there is a need to update trackBitrate dynamically. Because at the time VBR creating big chunks the trackBitrate is much higher than the mpd is stating.

`protected boolean canSelectFormat(Format format, int trackBitrate, float playbackSpeed, long effectiveBitrate) {
    return Math.round(trackBitrate * playbackSpeed) <= effectiveBitrate;

  }`

[2021-01-30 09:13] vhow opened #8521 "DataSourceException.POSITION_OUT_OF_RANGE"
- issue
[code]
p.s.

1. The audio has been cached, `isCached` returns `true`

[code]

2. The `Cache` is created in this way

[code]

- ExoPlayer 2.11.7
- Android 8.0

[2021-01-30 09:30] simline commented on #8498
thanks, it is timeline problem...

[2021-01-30 09:30] #8498 closed, assigned to marcbaechinger

[2021-01-30 09:40] T-10001 commented on #8517
How to run the above commands in Windows 10? Also, isn't the Android Gradle plugin version 4.0.1 when cloning from the git repo?

[2021-01-30 10:11] T-10001 commented on #8517
Okay, it switches to r8 and works if I put `android.enableR8 = true` in `gradle.properties`.

[2021-01-30 17:10] niiitish opened #8522 "How to change audio track"
Can anyone please help me
I am playing a video (contain 2 Audio) from my internal storage but i can't change audio i searched everywhere but I can't find any solution for this i want to change track like VLC App

[2021-01-31 08:30] niiitish commented on #8501
hello sir i m  new in programming can you please tell me how to change audio track in my video player app i m playing video from internal or external storage i want change audio track just like vlc App i searched everywhere but i didn't get any solution please help me sir

[2021-01-31 20:45] marcbaechinger commented on #8520
This url does an HTTP redirect when the manifest is loaded. So if you are using `CronetDataSource.Factory` or `DefaultHttpDataSource.Factory` you could for instance set a transfer listener to the factory your app is using for loading the manifest. The DataSpec that is passed to the callbacks `onTransferStart` and `onTransferEnd` has the uri that is already resolved in case of a redirect. In `onTra

[2021-01-31 20:50] marcbaechinger commented on #8522
Does the Developer Guide help? There is a page about selecting tracks and it has a code snippet telling how to select a given language. That could be a good start. You can find this page here: https://exoplayer.dev/track-selection.html

[2021-01-31 21:00] marcbaechinger commented on #8407
Closing due to inactivity.

[2021-01-31 21:00] #8407 closed, assigned to marcbaechinger

[2021-01-31 21:01] marcbaechinger commented on #8398
Closing due to inactivity.

[2021-01-31 21:01] #8398 closed, assigned to marcbaechinger

[2021-01-31 21:02] marcbaechinger commented on #8322
Closing due to inactivity.

[2021-01-31 21:02] #8322 closed, assigned to marcbaechinger

[2021-01-31 21:03] marcbaechinger commented on #8379
Closing due to inactivity.

[2021-01-31 21:03] #8379 closed, assigned to marcbaechinger

[2021-01-31 21:16] niiitish commented on #8522
Tysm for your reply sir.
Sir can you please show some examples so i can understand easily

[2021-01-31 21:40] marcbaechinger commented on #8522
I suggest you use the `EventLogger`, so you can [see the audio tracks in the log](https://exoplayer.dev/debug-logging.html#media-tracks):

[code]

Once you know what language your tracks have, you can check the code snippet in the developer guide page I referenced above.

Please also do a bit of investigation yourself.

[2021-01-31 21:51] Xlcghs opened #8523 "Keep the same DRM Session for live zapping"
Hi,

I ask you following  the issue https://github.com/google/ExoPlayer/issues/7286

 ### _**Use**_ case
 User switch between protected content: content A -> content B -> content A

 ### _**Target**_
 I want to reuse the content's DRM session when the user switch between content A -> content B -> content A  for the purpose of optimizing the start-up time of the PlayBack

###  **_ExoPlayer Version_

[2021-02-01 04:03] Prateek-Kapoor commented on #8475
ojw28, I am stuck here any help will be highly appreciated. Thanks

[2021-02-01 05:45] deepanshu-hh commented on #8500
Is this issue track-able?? Can it can be solved in any other way??

Here I debugged on Google Pixel Now:

Working on Google Pixel android 11 but Not on Samsung G973F. Why this is not working on Samsung??

[2021-02-01 05:47] ruthwikkk opened #8524 "MediaCodecVideoRenderer on playing ClearKey DRM video"
I have implemented video playback using ClearKey DRM in my app. In most of the devices the video is playing smoothly but in some specific devices I'm getting `MediaCodecVideoRenderer` exception. On further investigation we found that in these devices the PlayerView uses `TextureView` for rendering rather than `SurfaceView`. I have read `TextureView` doesn't support playback for secure content [her

[2021-02-01 07:41] geeta4 commented on #8500
Exoplayer '2.11.3' also not showing Notification player on same device

[2021-02-01 08:13] geeta4 commented on #8500
google podcasts app also not showing its player notification

[2021-02-01 09:22] icbaker commented on #8521
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-02-01 09:45] nadiration opened #8525 "Somali language support"
### [REQUIRED] Use case description
The ExoPlayer lacks Somali language support. There are large number of Somali users and it would be great if you consider adding it.
### Proposed solution
I considered translating the strings and creating a PR for it but i don't think you accept such contributions.

[2021-02-01 10:52] marcbaechinger commented on #8500
@deepanshu-hh We have this issue that is tracking that for some apps `PlayerNotificationManager` does not display the notification on Samsung devices with Android 11. If you can achieve a tracking bug with Samsung that would be great, I can't help with that.

To investigate your problem I would start with **providing all information to your media session**. This is probably mostly about `sessionCo

[2021-02-01 10:52] icbaker commented on #8523
I can reproduce this by using the demo app, playing the `Playlists > Clear -> Enc -> Clear -> Enc -> Enc` sample and skipping through using the 'next track' button in the UI. The encrypted items are identical (so the keys should be the same and re-usable). I added extra logging to `DefaultDrmSession` to fire when a session is first acquired and when it's finally released (including logging `refere

[2021-02-01 10:52] marcbaechinger commented on #8500
@geeta4 Thanks for reporting. The problem is not related to a given version, so this should not make a difference.

[2021-02-01 12:48] ojw28 commented on #8516
Clipping the end off an MKV file does not generally result in a valid MKV file. So yes, that's the root cause.

[2021-02-01 12:48] #8516 closed, assigned to marcbaechinger

[2021-02-01 13:32] DashaBadanina opened #8526 "HLS Live Stream: artifacts of playback after adaptive track selection"
How to reproduce:
-------------------------

Issue can be reproduced, using the ExoPlayer demo app:

1. Play hls live stream playlist with interlaced and progressive tracks, like this
<img width="929" alt="Снимок экрана 2021-02-01 в 18 28 22" src="https://user-images.githubusercontent.com/14832039/106465247-87816c00-64bb-11eb-84fb-20d58cc8e1aa.png">

2. Waiting for adaptive selection track with hi

[2021-02-01 13:36] SharyRajpoot opened #8527 "How to disable the seek bar if video is live Stream."
I have an app where I am using ExoPlayer lib.
In this app, I have some content that is provided by a user and then played using the internet.
Now, this content can be varied like it may be a simple video or a live stream.

Now in the **Simple Video**, we need to move the video to a certain position with the help of seek bar and here we can say we need it and that's what a seek bar is for.
**Simple

[2021-02-01 14:07] Xlcghs commented on #8523
Thank-you for your prompt response
It works fine  with this customization.

On the other hand, if I use a single ExoPlayer instance for a live stream which contains multiple channels (without playlist), does this customization remain valid so that I reuse a key?

[2021-02-01 18:15] #8492 closed, assigned to andrewlewis

[2021-02-01 18:15] #8448 closed, assigned to andrewlewis

[2021-02-01 18:16] #8428 closed, assigned to andrewlewis

[2021-02-01 18:19] andrewlewis commented on #8091
@lcf87 Any thoughts on the question about the array copy above? I think this can be closed once you've taken a look.

[2021-02-01 18:19] #7344 closed, assigned to andrewlewis

[2021-02-01 18:20] #7832 closed, assigned to andrewlewis

[2021-02-01 18:32] Xlcghs opened #8528 "Force a maximum number of retrys in the get manifest case"
Hi,

Is it possible to customize the maximum number of retrys to load the manifest in an error case?
I saw the possibility to customize the minimum number  and the delay between two retrys with loadErrorHandlingPolicy:

[code]

however, I don't see the possibility of customizing the maximum number of retrys with this method.

Best Regards,

[2021-02-01 18:35] fpitters commented on #7344
Great! Thank you!

[2021-02-01 23:18] ojw28 commented on #8517
The warning is:
[code]
`Surface.setFrameRate` was added in API level 30, so I suspect your problem may be that you're using an API level 29 (or earlier) SDK.

That said, the best solution is just to use R8. As Marc notes, R8 has been the default for some time now. It's unclear why you're not seeing it used by default (perhaps you have quite an old version of Android Studio).

[2021-02-01 23:18] #8517 closed, assigned to marcbaechinger

[2021-02-02 02:27] rhonyabdullah opened #8529 "Program type already present: com.google.android.exoplayer2.core.R"
- ExoPlayer version: "2.11.4"
- Android Plugin: com.android.tools.build:gradle:3.5.4
- Kotlin 1.3.61

I'm building a project that using exoplayer as a **library module**, whenever i try to build release (minify, shrinkresource & proguard enabled) i got this error:

[code]

But if i remove exoplayer dependencies build release is just fine, any help to resolve this issue ?

This thread [issue](https

[2021-02-02 05:37] deepanshu-hh commented on #8500
Thanks @marcbaechinger for the fix, Now the Notification player is showing on Notification Tray, but there is an issue, Next button is disabled on Locked screen when I am using the given below Code:

[code]
But Previous button and Play/Pause button is Enabled.

[2021-02-02 06:37] geeta4 commented on #8500
@marcbaechinger  thanks for solution.

[2021-02-02 06:59] ekamsoftwares-india commented on #8502
@christosts any solution Sir. :)

[2021-02-02 06:59] moneytoo opened #8530 "No picture when playing Dolby Vision video (Unknown Dolby Vision level string)"
I'm unsuccessfully trying to play Dolby Vision videos that come from iPhone 11/12 devices (not necessarily the stock recorder app). When playing these two samples:

- iPhone 12: https://cdn.vox-cdn.com/uploads/chorus_asset/file/22023469/12_Pro_Max_IMG_0344.0.qt
- iPhone 11: https://drive.google.com/file/d/1cTRNwacsV-8J8PtcYNVDXBmGZF1SOynj

following is logged and video does not play (no picture at

[2021-02-02 08:17] karamgharam commented on #8520
thanks for help
this work to me

[code]

[2021-02-02 09:12] icbaker commented on #8526
Please can you provide a stream we can use to try and reproduce this issue?

Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-02-02 09:15] icbaker commented on #8527
You can determine if the current `Window` is live:
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.Window.html#isLive

And use that to decide to hide the scrubber:
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/DefaultTimeBar.html#hideScrubber--

[2021-02-02 09:26] icbaker commented on #8528
Can you add more detail about what you're trying to do?

It's possible that the `minimum` wording in that method name is slightly confusing. The [javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/LoadErrorHandlingPolicy.html#getMinimumLoadableRetryCount-int-) says:

i.e. if the load attempts fail more than this value then the error is propagated up the call-stack

[2021-02-02 09:31] icbaker commented on #8529
There isn't enough info here for us to help you resolve the problem.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1

[2021-02-02 09:35] Xlcghs commented on #8528
In fact, I will want to force an exact number of retrys otherwise the max number of retrys = the min number of retries.
I found a solution to force this behavior, below is an example to force an exact number of retrys to 2 :

          setLoadErrorHandlingPolicy(new DefaultLoadErrorHandlingPolicy() {
            @Override
            public int getMinimumLoadableRetryCount(int dataType) {

[2021-02-02 09:40] icbaker commented on #8528
Glad you solved the problem!

~FWIW I would expect just this to generally result in exactly 2 retries, so you may not need the extra logic in `getRetryDelayMsFor()`:~

Edit: My understanding was wrong about this, it depends on whether the errors are thrown during initial load or during playback.

[2021-02-02 09:40] #8528 closed, assigned to icbaker

[2021-02-02 09:41] krocard commented on #8530
For reference, the level is parsed by [this switch](https://github.com/google/ExoPlayer/blob/8a0d52be4b5402af0987fc7d009bc49977c72b67/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java#L1274-L1299).

[2021-02-02 09:43] andrewlewis commented on #8524
Just to clarify, I don't think we ever pick `TextureView` automatically -- it should be up to app code what kind of view to use. Generally I think we recommend using `SurfaceView` from Android N for all use cases.

As in, you see the exact same error with clearkey DRM content (and not with non-DRM content) even with `SurfaceView`? If so I think we need to triage this as a general DRM issue (not to

[2021-02-02 10:01] icbaker commented on #8503
We now log the error even when transforming it to end-of-stream: https://github.com/google/ExoPlayer/commit/ffc1b5bbef61494086bd95b14b58a3986a28e5d8

[2021-02-02 10:12] rhonyabdullah commented on #8529
I have gradle build scan for more log info. Here: [gradle scan result](https://scans.gradle.com/s/ffes6cj53hrz2).

[2021-02-02 10:20] marcbaechinger commented on #8520
Cool. Thanks. Please reopen if you need.

[2021-02-02 10:20] #8520 closed, assigned to marcbaechinger

[2021-02-02 10:26] marcbaechinger commented on #8500
@deepanshu-hh Hard to say with the information you are giving me.

What is in the queue and on what position are you in the timeline when this is the case?

What is the output of

adb shell dumpsys media_session

at the moment when this happens?

[2021-02-02 10:28] icbaker commented on #8529
Thanks for the build scan, unfortunately I don't see what could be causing the problem you're seeing.

The only suspicious part of the gradle scan is your dependency on `tv.danmaku.ijk.media:ijkplayer-exo:0.8.8` which depends on `com.google.android.exoplayer:exoplayer:r1.5.11`. This is getting auto-upgraded to 2.12.3 by Gradle:
[code]

This is **not** a compatible upgrade. ExoPlayer is generally n

[2021-02-02 10:47] kim-vde commented on #8530
Could you provide a bug report for the 2 following scenarios:
1.  Playing one of the videos with MediaPlayer/PlayerView.
2. Attempting to play it with ExoPlayer.

Note that:
- The Android platform doesn't have constants for levels > 9 (https://developer.android.com/reference/android/media/MediaCodecInfo.CodecProfileLevel) so we cannot just add the constants in the switch case mentioned above.
- Ha

[2021-02-02 10:48] ruthwikkk commented on #8524
The log I provided is from user's side so I think its not possible to collect the logs you requested.

I used the following code to check view type
`playerView.videoSurfaceView !is TextureView`
and result was `false` for devices facing playback issue.

One more information is to add is we requested the user to install [DRMInfo](https://play.google.com/store/apps/details?id=com.androidfung.drminfo&

[2021-02-02 10:51] andrewlewis commented on #8524
I think you need to use `SurfaceView` for playback to work with DRM. Can you reproduce this error when using `SurfaceView`?

[2021-02-02 10:56] ruthwikkk commented on #8524
Yes the issue is reproduced in `SurfaceView` also.
I tried to set the surface type as SurfaceView by
`app:surface_type="surface_view" `
and still the playback showed error.

[2021-02-02 11:04] andrewlewis commented on #8524
It sounds like you can reproduce this locally, so can you provide a bug report taken right after doing that?

Does the layout inspector show that a `SurfaceView` is really being used (not overridden elsewhere)?

[2021-02-02 11:13] marcbaechinger commented on #8500
@deepanshu-hh Please change the value to something higher to 1. I checked the java doc for you:

[code]

The second argument is the queue size that you want to have larger than one. That was a typo but proved that the code is working quite well. :) Sorry for that.

[2021-02-02 11:15] ojw28 commented on #8512
If the video plays fine on mobile phone devices, then this seems like an issue either with the device itself or with Nibiru OS. You'll need to report the issue to them.

[2021-02-02 11:16] ruthwikkk commented on #8524
Actually I don't have physical access to the device.
The error log we collected was by giving custom log build to user.
Is there any method to check the SurfaceView override programmatically so I can pull that data from user ?

[2021-02-02 11:20] andrewlewis commented on #8524
You could add code to log the type of the output view (just reusing the getter you called before `playerView.videoSurfaceView`).

If the user is able to provide the stack trace, can you ask them to run `adb logcat` and provide the logging for a few seconds just before the stack trace is logged too?

[2021-02-02 11:26] ruthwikkk commented on #8524
Okey I'll try, just give 24h to collect the details requested.

[2021-02-02 11:32] socnix-lab opened #8531 "Clearkey DRM content with secure video path."
Hi,

I managed to create a demo app that plays clearkey DRM content. Everything plays fine. However, I am wondering if it is possible to play the clearkey DRM content via the secure video path so it can not be recorded? E.g. When exoplayer is playing a Widevine DRM content, the recorder video shows black screen.

I am currently using the latest stable 2.12.3.

[2021-02-02 11:52] Duna commented on #8531
I have tried to encrypt the mp4 using ffmpeg or mp4box - and i am able to play with simple encryption key the encrypted file using ffplay

The main problem is I am not able to playback it via exoPlayer.

I used [drm.xml](https://drive.google.com/file/d/1JW9Y1fJQgszK5TWtH2V_L_6GXas-ARxQ/view?usp=sharing) when mp4box with command: MP4Box -crypt drm.xml legend.mp4 -out movie_encrypted.mp4
I used [the

[2021-02-02 11:55] Duna opened #8532 "Unable to play FFMPEG/MP4BOX AES_CTR encrypted mp4 files ClearKey"
I have successfully tried to encrypt an MP4 file using ffmpeg and mp4box - and I am able to play with simple encryption key AES_CTR the encrypted file using ffplay

The main problem is I am not able to playback it via exoPlayer.

I used [drm.xml](https://drive.google.com/file/d/1JW9Y1fJQgszK5TWtH2V_L_6GXas-ARxQ/view?usp=sharing) when mp4box with command:
`MP4Box -crypt drm.xml legend.mp4 -out movi

[2021-02-02 12:09] ojw28 commented on #8531
If you want to prevent recording then you can call [SurfaceView.setSecure(true)](https://developer.android.com/reference/android/view/SurfaceView#setSecure(boolean)) on the surface. If you're using one of ExoPlayer's player view UI components, then you can retrieve the surface to make this call like this:
[code]

Note that this is not quite the same as using the actual secure video path, which I d

[2021-02-02 12:25] socnix-lab commented on #8531
I am aware of FLAG_SECURE but it isn't the same as the same with secure video path.

Thank you for your reply. I just see a use case and wondering if it is configurable.

Another question, is there any online DRM license server that is recommended to work with exoplayer directly.

[2021-02-02 12:33] ojw28 commented on #8531
What use case do you see? If using the secure video path doesn't actually add any additional security, then it's unclear what you actually gain from it. If ClearKey provides sufficient protection for your use case, then you should just mark the surface as secure. If you need DRM suitable for high value content, then you should use Widevine instead.

[2021-02-02 13:01] deepanshu-hh commented on #8500
We are not using queue with ExoPlayer, we have the queue session separately only single episode is playing in the exoplayer at a time, is there is any way to use next or previous button, to change my queue item.

[2021-02-02 13:40] marcbaechinger commented on #8500
Seem like Samsung is using the information of the media session for this.

[2021-02-02 13:41] davydovvladimir opened #8533 "HLS I-frame only tracks detection"
Hi all,
I have found that #EXT-X-I-FRAME-STREAM-INF variants are not presented in track groups if CODECS and RESOLUTION attributes are missed.
Here is an example of master playlist:
[code]
This playlist can be found at following url: https://zabava-htvod.cdn.ngenix.net/hls/hd_2020_iskusstvennyy_intellekt__16_ar2_trailer/variant.m3u8
I hope it is accessible from any location but not sure.

In the c

[2021-02-02 13:52] deepanshu-hh commented on #8500
So, How to use PlaybackStateCompat and CustomActions for MediaSessionConnector

[2021-02-02 14:04] DashaBadanina commented on #8526
I have sent the stream to dev.exoplayer@gmail.com. Please don't forget to use the user agent to receive all tracks, like this
<img width="1185" alt="Снимок экрана 2021-02-02 в 18 43 38" src="https://user-images.githubusercontent.com/14832039/106610877-1ad4a300-6589-11eb-9a56-3884a9052f8c.png">
By the way, as I know, ExoPlayer can't play interlace track by default. So we had to fix our firmware and

[2021-02-02 15:34] icbaker commented on #8528
My expectation in the previous comment was wrong, it depends on whether the errors are thrown during initial load or during playback. I've edited it to reflect that - sorry for any confusion!

[2021-02-02 15:45] marcbaechinger commented on #8500
When testing we found that either of these approaches work:

1) Not using a media session at all result in a media style notification in the 'Alerting notification' part of the notification drawer.

2) Using it with a properly populated media session. This includes the populating playback state, metadata and the queue of the media session. This is what the MediaSessionConnector does if you provide

[2021-02-02 17:21] icbaker commented on #8532
Please provide media we can use to reproduce this issue.

Please either link it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-02-02 18:21] Duna commented on #8532
I executed the ffmpeg command to encrypt an mp4 file AES_CTR:
`ffmpeg -i legend.mp4 -vcodec copy -acodec copy -encryption_scheme cenc-aes-ctr -encryption_key 76a6c65c5ea762046bd749a2e632ccbb -encryption_kid a7e61c373e219033c21091fa607bf3b8 legend_encrypted.mp4`
The output file is [here](https://drive.google.com/file/d/1hL-Xuw1NZ2YbUwN0AQXy8qWxRgOPIAqB/view?usp=sharing)
The movie sound is playing w

[2021-02-02 18:26] Duna commented on #8531
Here it is the sourcecode of my class

[code]

[2021-02-02 18:28] Duna commented on #8532
Here it is the sourcecode of my class

[code]

[2021-02-02 21:16] moneytoo commented on #8530
Here are requested bug reports:

1. MediaPlayer: [bugreport-OnePlus7-QKQ1.190716.003-2021-02-02-22-02-18.MediaPlayer.zip](https://github.com/google/ExoPlayer/files/5914492/bugreport-OnePlus7-QKQ1.190716.003-2021-02-02-22-02-18.MediaPlayer.zip)
2. ExoPlayer: [bugreport-OnePlus7-QKQ1.190716.003-2021-02-02-22-08-39.ExoPlayer.zip](https://github.com/google/ExoPlayer/files/5914495/bugreport-OnePlus7-QK

[2021-02-02 23:05] socnix-lab commented on #8531
it increase the protection against rooted devices or scrcpy to mirror/record the screen. It is not a ideal solution as the API can still be hook to extract the key but avoiding the Widevine server(). Yes, i am lean toward to Widevide DRM based solution instead of clearkey. Thank your for your help

Please feel free to close this issue. Thank you very much.

[2021-02-03 02:04] #6874 closed, assigned to andrewlewis

[2021-02-03 04:56] miniesahni1 opened #8535 "Device Capability - Decoder init failed"
Observed Behaviour
We are experiencing decoder init exception when initialising decoder more than device capability

Reproduction steps
We are trying to play three video tracks using MergingMediaSource
Steps:
1. Create MediaSource using MergingMediaSource(with three media).
2. Create three Video renderers in overriden method “buildVideoRenderers” of DefaultRenderersFactory.
3. Create custom track

[2021-02-03 05:32] GobuTranxit opened #8536 "Cache writer clarification?"
Hi,

When we try multiple downloads using cache writer will process sequentially or parallelly?
It'll process like download manager right?

[2021-02-03 06:17] deepanshu-hh commented on #8500
If I remove both Media Session and Media Session Connector, is it work on my Samsung device on Android 11???
And how to populate media session??

[2021-02-03 06:19] moradi-morteza commented on #3877
Hi, any news from this feature?

[2021-02-03 09:12] happyong-ib opened #8537 "DASH playback start position is wrong under SegmentTemplate number mode"
Under Dash number mode, the playback starts from the begin of window, seems the suggestedPresentationDelay of manifest does not apply.
I use the dev-v2 branch 724ded167c973991eb58d49e3d0f2aa9be62ed2e (2021-01-26).

I also debug the code, please check the following code in DashMediaSource.java line 917,
      long liveStreamEndPositionInLastPeriodUs = currentEndTimeUs - C.msToUs(lastPeriod.startMs)

[2021-02-03 09:46] AnjelloNordija opened #8538 "DASH Live: DefaultDashChunkSource incorrectly assumes that a period of known duration declares all segments"
We have a leanback launcher which uses ExoPlayer. When pausing the live stream, we shift from the live stream to a timeshifted stream and then pause it. When the user presses resume, the time shifted stream resumes playback. This works fine with all our client video streams but with one particular client.

With this particular client, after the timeshifted stream is resumed, the player freezes at

[2021-02-03 13:43] ojw28 commented on #8537
In nearly all cases where we've received reports similar to this one, the problem was that the media being played did not conform to the DASH specification.

In any case, we need concrete reproduction steps to investigate this further. Please provide an accessible sample stream and reproduction steps for us to take a look.

[2021-02-03 17:14] christosts commented on #8502
I see the stream declares a video track without any video data, which the player cannot handle. The player cannot complete the media preparation because it's trying to read video data too. You can verify the existence of the video track by inspecting one of the `ts` files with `tsanalyze` or `dvbsnoop`.

Similar issues have been reported in #7469, #6112, #3712, #3158 with the difference that in th

[2021-02-03 19:00] gabrielittner commented on #5246
JCenter is getting shut down in May https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-03 19:33] ToxicBakery opened #8540 "jcenter shutdown May 1st"
[jCenter will be shutdown on May 1st](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/). ExoPlayer is currently still solely hosted here and will soon be unavailable. In the past, it was mentioned that [ExoPlayer would move to the Google repository "soon"](https://github.com/google/ExoPlayer/issues/5731#issuecomment-480184332) but that was well over a year ago now a

[2021-02-03 21:48] ojw28 commented on #5246
Yes, thanks for bringing this to our attention! We need to prioritize this migration.

[2021-02-03 21:50] ojw28 commented on #8540
Yes, thanks for bringing this to our attention! We need to prioritize this migration. Marking as a duplicate of https://github.com/google/ExoPlayer/issues/5246.

[2021-02-03 21:50] #8540 closed, assigned to ojw28

[2021-02-04 00:42] EliasDevSE opened #8542 "D/MediaCodecInfo: NoSupport [sizeAndRate.support, 1920x1080x-1.0]"
Currently trying to play HLS media that is not DRM protected is showing a lot of stutter and the playback is extremely choppy, I cannot give a test link because authentication headers need to be passed in order to get working playlist links.
The debug log shows the following

[code]

I'm guessing these are the 2 most important lines from the searches I have made

[code]

Is there no workaround for

[2021-02-04 01:20] sidferreira opened #8543 "ActionFileUpgradeUtil.upgradeAndDelete issues when upgrading from 2.9.3 to 2.11.4"
I've been trying to run the upgrades deeply based on the Demo app, but having a couple of differences that I need to handle:

- I have downloaded contents both in internal and external storages
- The downloads are in an unusual structure:
[code]

When I run the `DownloadUtil.upgradeActionFile` I'm keeping `/* deleteOnFailure= */ false,`, the method is called but things just doesn't happen.
I check

[2021-02-04 01:41] wazerstar commented on #8329
#

I have an Mibox 3, I can test with if needed you can also get control over it via remote if needed, not sure what I would be doing here to help out.

[2021-02-04 02:04] #8433 closed, assigned to icbaker

[2021-02-04 03:23] happyong-ib commented on #8537
Our test live stream is difficult to push to the public network, I can only provide one MPD for reference. Here it is single period with non-zero value for start@Period.
[t594_hd_long.zip](https://github.com/google/ExoPlayer/files/5922935/t594_hd_long.zip)

I also find one public dashif test streaming for testing,
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.h

[2021-02-04 03:35] rhonyabdullah commented on #8529
Hi,
Sorry late response, you right, existing dependency `tv.danmaku.ijk.media:ijkplayer-exo:0.8.8` still using exoplayer `r1.5.11`but actually not being used. Luckily that library is open source and i can resolved it by removing that dependency. Thanks.

[2021-02-04 03:35] #8529 closed, assigned to icbaker

[2021-02-04 05:31] sravan1213 commented on #8456
@andrewlewis were you able to reproduce this ??

[2021-02-04 05:35] apkelly opened #8544 "Jcenter will be shutdown on May 1st, can you migrate to mavenCentral?"
As per this article - https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Jcenter will be shutdown on May 1st 2021, can you please publish the exoplayer artefacts to mavenCentral()

Thanks.

[2021-02-04 06:15] SharyRajpoot commented on #8527
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/DefaultTimeBar.html#hideScrubber--

The methods you are pointing here are all PRIVATE and can not be accessible by class instance...

[2021-02-04 06:41] keqizwl opened #8545 "class AudioFocusManager function shouldAbandonAudioFocus logic error"
[code]
when player not gain the audio focus, why should it abandon?

[2021-02-04 08:38] sravan1213 commented on #8456
@andrewlewis I've done some debugging, when side-loaded subtitle is enabled,
`renderer.isEnded()` is always return false for text track causing this issue. I'm not able to figure out why is this happening.

[2021-02-04 09:21] davydovvladimir commented on #8533
Hi,
Is any additional info required?
Here is EventLogger output received on r2.12.3:

[code]

With my fix the output is following:
[code]

[2021-02-04 10:02] kim-vde commented on #8530
I just pushed a fix on branch dev-v2. It will be part of the next release (2.13.0).

Please open another bug if you encounter other issues. Thanks for reporting this one.

[2021-02-04 10:02] #8530 closed, assigned to kim-vde

[2021-02-04 10:02] andrewlewis commented on #8544
We're looking into migrating to GMaven (#5246).

[2021-02-04 10:02] #8544 closed, assigned to andrewlewis

[2021-02-04 10:02] andrewlewis commented on #8544
Duplicate of #5246

[2021-02-04 10:20] moneytoo commented on #8530
Amazing, thank you!

[2021-02-04 11:03] JcMinarro opened #8547 "Migrate from JCenter to MavenCentral"
[JFrog announced](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) yesterday that Bintray and JCenter repositories will be closed by May 1st.
You use JCenter to distribute your artifacts.
Are you planning to migrate to MavenCentral or Google repository?

[2021-02-04 11:07] andrewlewis commented on #8547
Yes, we are planning to migrate to GMaven.

[2021-02-04 11:07] andrewlewis commented on #8547
Duplicate of #5246

[2021-02-04 11:07] #8547 closed, assigned to andrewlewis

[2021-02-04 11:30] davydovvladimir commented on #8533
One more thing I forgot.
To test it on specified url: https://zabava-htvod.cdn.ngenix.net/hls/hd_2020_iskusstvennyy_intellekt__16_ar2_trailer/variant.m3u8
 you need to set UserAgent to:
`RT-STB-FW/1.0.822 (Hi3798MV200, STB122A) exoplayer/2.12.3`
Otherwise, you will see some video stub from telecom operator.

[2021-02-04 11:38] entibaldi opened #8548 "Library artifacts are published to jcenter only, which will close in 3 months"
### Use case description
Hello! Your library is published only to jcenter. Please consider publishing it also to mavenCentral, as jcenter is [shutting down in May](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/).

### Proposed solution
[Here](https://central.sonatype.org/pages/producers.html) is some info on how to publish artifacts to mavenCentral.

[2021-02-04 12:04] icbaker commented on #8548
Duplicate of #5246

[2021-02-04 12:04] #8548 closed, assigned to icbaker

[2021-02-04 12:25] icbaker commented on #8538
Please can you provide a manifest + instructions that we can use to reproduce the problem?

[2021-02-04 12:34] icbaker commented on #8542
There isn't enough info here for us to give you a concrete answer - we can't really tell you anything about your media without access to the stream.

If you play the stream in the [demo app](https://exoplayer.dev/demo-application.html) there might be more info logged that you can use to help understand what's going on.

If you want us to take a closer look, please either post the stream here or se

[2021-02-04 12:40] icbaker commented on #8545
Looks like this logic changed in https://github.com/google/ExoPlayer/commit/cc29798d9b7dec65785c1a93a2a186352c92ff6f in response to https://github.com/google/ExoPlayer/issues/7182.

@krocard can you comment on this?

[2021-02-04 12:44] icbaker commented on #8535
If your custom track selection logic is based on `DefaultTrackSelector` or `MappingTrackSelector` you can use the `MappedTrackInfo#getTrackSupport` to get a `@FormatSupport` IntDef which should have value `FORMAT_EXCEEDS_CAPABILITIES` if the track is beyond the capabilities of the renderer in question.

If you attach an [`EventLogger`](https://exoplayer.dev/debug-logging.html#media-tracks) this in

[2021-02-04 12:54] #5111 closed, assigned to tonihei

[2021-02-04 14:51] icbaker commented on #8427
The `setOutputSurface` workaround is now disabled in the GTS tests on the dev-v2 branch, so this device ought to now fail (I don't have a device to test with). Assigning back to @ojw28 to reach out to the OEM.

[2021-02-04 14:56] EliasDevSE commented on #8542
Unfortunately I am not allowed send the link, I can provide more info about the video.
![image](https://user-images.githubusercontent.com/49044625/106910300-c1e04880-6709-11eb-9e91-ec3696d4cdcf.png)
and these are the available tracks

[code]

playing the video on a fireTV stick or on the emulator or on a ROCK64 board running android TV 7.1 works flawlessly with the Android TV player demo and my co

[2021-02-04 15:10] krocard commented on #8545
`focusGain` is not whether the focus is currently held. It is a member that caches the type of audio focus request that should be done for the current audioAttributes. If it is not AUDIOFOCUS_GAIN, that means that ExoPlayer should not be holding the audio focus.

[2021-02-04 15:10] #8545 closed, assigned to krocard

[2021-02-04 15:15] ojw28 commented on #8545
@keqizwl - If you have a specific issue, please describe the problem in terms of the problematic behavior. For example by describing, with reproduction steps, a specific case in which audio focus is not held when you think that it should be.

[2021-02-04 15:30] #7266 closed, assigned to Samrobbo

[2021-02-04 15:30] #8422 closed, assigned to tonihei

[2021-02-04 15:31] #8393 closed, assigned to equeim

[2021-02-04 16:07] #8320 closed, assigned to tonihei

[2021-02-04 16:07] #8466 closed, assigned to icbaker

[2021-02-04 17:05] icbaker commented on #8532
Thanks for the file. It doesn't seem to contain a `pssh` box, meaning ExoPlayer doesn't know it's encrypted and so doesn't attempt to decrypt it.

I found this by analyzing it with MP4Box: https://gpac.github.io/mp4box.js/test/filereader.html

The result of this is that `newFormat.drmInitData == null` in `SampleQueue#onFormatResult`, meaning we never acquire a `DrmSession`.

Preparing valid media

[2021-02-04 17:21] icbaker commented on #8542
From the information given this doesn't sound like an ExoPlayer problem, it sounds possibly like a limitation of the mi stick device (since you say the stream plays fine on other devices).

I'm going to close this.

[2021-02-04 17:27] icbaker commented on #8527
Not sure I understand what you mean - the `hideScrubber` method is public, as-is the `DefaultTimeBar` class it's defined on.

For determining if the currently playing content is live, there's also more info here:
https://exoplayer.dev/troubleshooting.html#how-can-i-query-whether-the-stream-being-played-is-a-live-stream

[2021-02-04 17:45] icbaker commented on #8523
Not sure what you mean by 'channel' here. My suggestion will work so long as the `DrmSessionManager` instance remains unreleased. It will be released when a `MediaSource` is released. So if your use-case involves releasing media sources before acquiring a new one, then the reference count inside `DrmSessionManager` might drop to zero, causing it to release its cached sessions.

You can likely avoi

[2021-02-04 17:45] #8523 closed, assigned to icbaker

[2021-02-04 19:25] jjuandiaz opened #8549 "FFMPEG extension codec error"
ExoPlaybackException: MediaCodecVideoRenderer

first of all I use extension FFMPEG to reproduce Audio AC3 and it's works on emulator
but when I running on physical devices the application doesn't work .

When reporting a bug:
-------------------------

I attach files where found logcat here you search errors when I play stream video
and the class  where I programming this .
that all .

proyect dem

[2021-02-04 21:14] sidferreira commented on #8543
After digging more, I found out that there was customization when saving the ActionFile in our project. So in the test below: https://github.com/google/ExoPlayer/blob/8a0d52be4b5402af0987fc7d009bc49977c72b67/library/core/src/main/java/com/google/android/exoplayer2/offline/ActionFile.java#L128-L133 the `type` returns a value that doesn't match any of those here, having an EOF Exception when it trie

[2021-02-04 21:59] moneytoo commented on #8530
Just confirming that I'm able to play the videos with `dev-v2-r2.13.0` branch.

[2021-02-04 22:30] ojw28 opened #8550 "exoplayer-transformer:2.13.0 dependency is not yet available"
We are aware of this issue, and currently working to resolve it.

[2021-02-04 23:33] keqizwl commented on #8545
sorry，i misunderstand the code。

[2021-02-05 00:32] #8550 closed, assigned to ojw28

[2021-02-05 06:44] chathurangamt opened #8551 "I have created DRM .mpd file successfully using shaka-packager, how do i play it using exo player"

[2021-02-05 06:59] krocard commented on #8329
2.12.3 was released a few weeks ago. If the issue is still observed on it or a more recent version, please reopen the issue.

[2021-02-05 07:24] HungQB opened #8552 "ExoPlayerImplInternal: Playback error when Build MediaSource from ByteArrayDataSource"
I am trying to play an mp3 using ByteArray . as far as I found out in some forums #5571 .
Here's how I create a MediaSource .
[code]

But the exoplayer cannot play it with the following error :
![error](https://user-images.githubusercontent.com/73470210/107002272-9028b980-67bd-11eb-897c-c8029dda9c86.PNG)
I am still trying to find solutions. I have seen a similar problem, but still have no answer .

[2021-02-05 07:58] krocard commented on #8545
No worries, I got confused myself too by this code. I have renamed that member and a few others to clarify their meaning.

[2021-02-05 08:02] developerzjy commented on #3327
I have implemented the pre-caching function, this is my demo [https://github.com/developerzjy/ExoDemo](https://github.com/developerzjy/ExoDemo)

[2021-02-05 08:03] javaboboApp opened #8553 "Synchronization, sharing exoplayer buffer"
Hi all.
I would like to implement synchronization between two players.
Scenario: Player A broadcasts information to Player B so they both play the content at the same time.
I would like to know if it is possible to send part of the buffer (player A) to player B.
For this I would have to remove the buffer from player A, I have thought of trying to take the buffer from the cache since MediaCodecVide

[2021-02-05 08:57] Duna commented on #8532
Again I rebuilt the input and output files. I generated the encrypted file using mp4box using the following command line:
`MP4Box -crypt drm_file.xml legend.mp4 -out legend_enc.mp4`
The drm file looks like this:
[code]
I am able to play the file using the command:
`ffplay legend_enc.mp4 -decryption_key 63cb5f7184dd4b689a5c5ff11ee6a328`

When I am trying to play the file with ExoPlayer it seems the

[2021-02-05 09:24] icbaker commented on #8549
In the logcat snippet provided it looks like the video decoder crashes:

[code]

Unfortunately the `STREAM_URL` in the provided project doesn't resolve for me:

[code]

Without access to the stream it's very hard for us to investigate further. Please host it somewhere accessible and share it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should b

[2021-02-05 09:27] icbaker commented on #8551
https://exoplayer.dev/hello-world.html

https://exoplayer.dev/drm.html

[2021-02-05 09:27] #8551 closed, assigned to icbaker

[2021-02-05 09:40] icbaker commented on #8552
`ByteArrayDataSource` ignores the `DataSpec.uri` property, you can just pass `Uri.EMPTY` to the `DataSpec`. This is mentioned in the [second comment](https://github.com/google/ExoPlayer/issues/5571#issuecomment-468003394) of the issue you linked:

You shouldn't call `open()` on the `ByteArrayDataSource` - that will be done by the library when you start playback. This is also mentioned in the [same

[2021-02-05 09:46] icbaker commented on #8553
The general goal you're describing sounds pretty complicated. It's not something officially supported by ExoPlayer.

I'm not quite sure I understand exactly what you're proposing here. I'd urge you to avoid trying to make changes at the `Renderer` level, because there's a lot of complexity and subtlety in that code.

For us to be able to help you need to make your question much clearer & more spec

[2021-02-05 10:42] Duna commented on #8532
Following this example https://github.com/ruthwikkk/DRMOffline

[2021-02-05 11:11] deepanshu-hh commented on #8500
@marcbaechinger Thanks For helping.
Any ways we are using custom implementation of `TimelineQueueNavigator` overriden methods to enable/disable next/previous events and it helps for now.

[code]

[2021-02-05 11:11] #8500 closed, assigned to marcbaechinger

[2021-02-05 11:16] SharyRajpoot commented on #8527
`hideScrubber ` is what I actually want...you got it right and.
Also, they are showing it public in `DefaultTimeBar ` documentation BUT if you looked at actual code in android studio for this then it private there, so we can access it by class instance.

[2021-02-05 11:16] SharyRajpoot commented on #8527
`hideScrubber` is what I actually want...you got it right and.
Also, they are showing it public in `DefaultTimeBar` documentation BUT if you looked at actual code in android studio for this then it private there, so we can access it by class instance.

[2021-02-05 11:18] SharyRajpoot commented on #8527
`hideScrubber ` is what I actually want...you got it right and.
Also, they are showing it public in `DefaultTimeBar ` documentation BUT if you looked at actual code in android studio for this, then it's private there, so we can access it by class instance.

[2021-02-05 11:18] SharyRajpoot commented on #8527
`hideScrubber` is what I actually want...you got it right and.
Also, they are showing it public in `DefaultTimeBar` documentation BUT if you looked at actual code in android studio for this, then it's private there, so we can't access it by class instance.

[2021-02-05 11:25] icbaker commented on #8527
Glad you got it working - still not quite sure what you mean about it being private in the code, the `hideScrubber` method was added in https://github.com/google/ExoPlayer/commit/d162c07ecf8472dfab532a48bfa9d6a56bd73fc7, released in 2.11.5 and it's always been public afaict.

[2021-02-05 11:25] #8527 closed, assigned to icbaker

[2021-02-05 12:24] jjuandiaz commented on #8549
Sorry I forget that only work url in LAN

here new URL http://170.247.204.7:1935/test/discoveryTheater/playlist.m3u8

[2021-02-05 12:51] ghost opened #8554 "OfflineLicenseHelper.renewLicense() throw android.media.MediaDrm$MediaDrmStateException: Failed to get key request"
Hi, I'm currently trying to use the ExoPlayer offline feature into my app and I encounter an issue with License renewal.

ExoPlayer : 2.12.3

Android Version :
- Android 10
- Android 11

Android Device :
- OnePlus Nord (AC2003)
- OnePlus 5 (A5000)
- Huawei P30 Lite (MAR-LX1A)
- Emulator

DRM : Widevine L3

I use OfflineLicenseHelper to get the DRM License and it works fine. I'm able to successfull

[2021-02-05 14:20] jjuandiaz commented on #8549
Sorry I forget that only work url in LAN

here new URL http://0.0.0.0:1935/test//playlist.m3u8

[2021-02-05 15:01] icbaker commented on #8532
I can see the pssh box too in your latest linked file. And I agree it plays with your provided `ffplay` command (however the fact it also played the file without a pssh box suggests they're not using the same approach as ExoPlayer, so it's not a great comparison).

After looking deeper into this, I found that ExoPlayer's `Mp4Extractor` actually doesn't read pssh boxes. Currently we only read this

[2021-02-05 15:23] victorraft commented on #8213
Our company would very much appreciate if the Exo team implemented support for DAI!
We have lots of apps using DAI and just today we found errors in our DAI implementation that are causing a great deal of issues, and I guess this would not have happened if we had a reliable DAI implementation in the Exo SDK itself, so that's something I'd very much like to see in the future :)

[2021-02-05 15:38] #8531 closed, assigned to ojw28

[2021-02-05 15:58] davydovvladimir opened #8555 "Trick-play track selection"
Hi all,

Could you please suggest a proper way to implement switching to trick-play tracks?

I have searched and found one solution is to override canSelectFormat() method in AdaptiveTrackSelection.

But after this commit: https://github.com/zxzx74147/ExoPlayer/commit/2b1ec5cd850cf30f5331333dd004124866c8ebc3
it seems impossible because trick-play tracks are removing from track group for AdaptiveTr

[2021-02-05 16:01] icbaker commented on #8554
The DRM license policy determines whether an offline license can be renewed or not.

In this case, the policies governing the samples in the "Widevine DASH (policy test)" don't allow renewal, hence the failures. Meanwhile the policy governing the samples in "Widevine DASH (MP4, H264)" does allow renewal.

In general it doesn't really make sense to try and perform DRM operations like renewal on con

[2021-02-05 16:01] #8554 closed, assigned to icbaker

[2021-02-05 16:09] icbaker commented on #8555
That commit isn't in this repository. You perhaps mean this one: https://github.com/google/ExoPlayer/commit/bdc0db30fdddc3cbc01827acdf46b56dfc802bb5.

----

@tonihei PTAL

[2021-02-05 16:11] davydovvladimir commented on #8555
Yes, maybe. I just copied commit url from here: https://github.com/google/ExoPlayer/issues/474
But anyway current release and master branches have this code.

[2021-02-05 16:15] Duna commented on #8532
I am confirming that the file `legend_enc_frag.mp4` is playing now.
So a small bug remains in ExoPlayer drmInitData - is null even if pssh box is present in encoded mp4 videos.
Should I log a new issue, or someone will work on this already logged  issue?

[2021-02-05 16:20] icbaker commented on #8532
Glad you got your content playing!

I wouldn't say it's a bug. We just don't currently support reading pssh boxes from non-fragmented MP4 files.

You're welcome to file an issue requesting us to add support for this, but given that DRM is most commonly used for content streamed over DASH or HLS (which both use fragmented MP4), and how easy it seems to be to transform a non-fragmented progressive M

[2021-02-05 16:20] #8532 closed, assigned to icbaker

[2021-02-05 16:46] icbaker commented on #8549
The video in the TS files of your HLS stream is interlaced (MBAFF is a form of interlacing: https://en.wikipedia.org/wiki/Advanced_Video_Coding#Features):

[code]

When I play the stream on a Pixel 3a XL the video is garbled with lots of pink & green decoding artefacts - a symptom of not correctly de-interlacing interlaced content.

Android devices aren't required to support interlaced video in ge

[2021-02-05 16:46] #8549 closed, assigned to icbaker

[2021-02-05 17:23] icbaker commented on #8526
ExoPlayer doesn't do any special handling for interlaced content (and as you've said, lots of devices don't support it). We just pass the video samples down into MediaCodec.

If you're seeing glitches during adaptive switching between progressive and interlaced content, it may be due to the implementation of MediaCodec on your device - which is something you need to report to the device manufactur

[2021-02-05 17:23] #8526 closed, assigned to icbaker

[2021-02-05 19:03] lpuglia opened #8556 "Configure a proxy for the traffic"
Hello, thanks for the amazing library. I was wondering if it is possible to configure a proxy for the player.

I can easily setup a proxy for some `HttpURLConnection` I'm performing but now I would like to route the traffic of the player itself through the same proxy.

Any advice on the subject will be much appreciated.

[2021-02-05 19:20] cadalt commented on #8213
yes! support for dai!

[2021-02-05 20:20] Duna commented on #8532
I'll have a look into code, can you tell me the class involved? I didn't
developed for this project and do not want to spent too much time on
debugging it.

Thank you for your time

On Fri., Feb. 5, 2021, 18:20 Ian Baker, <notifications@github.com> wrote:

[2021-02-06 09:50] HungQB commented on #8552
Awesome, I fixed it at your suggestion. Thanks for your help !

[2021-02-06 09:50] #8552 closed, assigned to icbaker

[2021-02-06 11:03] SharyRajpoot commented on #8527
Oh, it's in version 2.11.5...
actually, I was using version 2.11.3 in which `hideScrubber` is a private method.
so I upgrade to the newer version and I got access to the `hideScrubber`. It did the work which I want but left with one more thing, as I can still able to seek or change the position of the video.
Even I have set the `isEnabled` to false still user can seek the video/live stream.

[2021-02-06 15:32] kpandroid opened #8557 "Slowmotion playback for 4k content on new Android TV Chromecast (codename Sabrina)"
- Clear reproduction steps including observed and expected behavior
 compile demo project and run the test 60fps DASH -> 4K(MP4, H264, Clear)

- URI to test content for reproduction
https://storage.googleapis.com/exoplayer-test-media-1/60fps/bbb-clear-2160/manifest.mpd

- ExoPlayer version number
2.13.0

- Android version
Android TV 10

- Android device
Chromecast

[2021-02-06 22:05] javaboboApp commented on #8553
Thanks for answering,
What I would like to do is sync two players.
Imagine that we have a video that is playing on one device (mobile 1) and we are playing the same content on another mobile (mobile 2). What I want to achieve is that the two contents are reproduced at the same time. I have managed to do it by sending the master's position (for example mobile 1) to mobile 2.

I would like to improv

[2021-02-06 22:17] TacoTheDank commented on #5246
Absolutely!

[2021-02-07 08:53] cohenItay opened #8558 "Layout orientation for app:controller_layout_id"
Just define a simple fragment / activity.

use:
[code]

while exo_player_controls_full_screen has orientations :
[code]

result: portrait is always used, event though when in landscape mode.

[2021-02-07 10:03] ghost opened #8559 "Possibility of customizing the entire layout file?"
Hi,
Is it not possible to customize the entire layout file? I don't want the player to be black when I have light theme. There seems to be no other questions asked about this other than customizing the control buttons. In my case, I want a complete redesign with the same controls but just with a light background.
Thanks.

[2021-02-07 12:54] pvishnyakov opened #8560 "Exoplayer 2.13.0 HLS playback is jerky, same stream played smooth in 2.12.3"
Hi.

I’m using Exoplayer in my streaming app for Android TV, I have Nvidia Shield Pro 2019 as testing device, Android TV v.9 installed.
After upgrading Exoplayer library to the latest version 2.13.0 I’ve noticed that HLS streams are not playing smoothly while same streams with same settings on the same device played smoothly with 2.12.3 and before.

I’ve tried different streams from different sour

[2021-02-07 18:00] Blatzar commented on #8559
https://levelup.gitconnected.com/customize-exoplayer-overlay-look-like-youtube-player-14fdd6d4583d
gives a good explanation how to override entire player UI :)

[2021-02-08 00:07] ojw28 commented on #8558
Perhaps the activity isn't being recreated because you have `android:configChanges="...orientation..."` in your manifest. See [this page](https://developer.android.com/guide/topics/resources/runtime-changes) for more information. It's also possible that you've misspelled `port`, although this is most likely just a typing error in your report.

The above tips aside, it's not possible for us to accu

[2021-02-08 00:08] ojw28 commented on #8559
Please also see https://exoplayer.dev/ui-components.html and the Javadoc for the UI components you're using, both of which provide additional documentation about this.

[2021-02-08 02:04] #8434 closed, assigned to andrewlewis

[2021-02-08 02:04] #8432 closed, assigned to andrewlewis

[2021-02-08 04:48] ghost opened #8561 "Integration of exoplayer in android auto (car play)."
Hello ,
I have one request to developer. I need to integrate exoplayer in android car play i.e. android auto. I need help whether exoplayer can be integrated in android auto ? any example will be helpful for developing android app for car using exoplayer.And also if we can do that then can we make custom design for car play using exoplayer's support. Thanks in advance.

[2021-02-08 05:33] ruthwikkk commented on #8524
[code]

log pulled from users device just before the exception. Please check @andrewlewis

[2021-02-08 06:10] SukritGupta17 opened #8562 "ExoPlayer requests an unwanted segment after quality switch"
### Description

Running some test content (HLS - 2 second segments) I've noticed that ExoPlayer downloads the first segment of a quality once again when it switches to a different quality after the initial start up quality.
When the video starts, ExoPlayer uses its DefaultBandwidthMeter to select a starting quality based on the network type, if the network is actually slower it will switch down t

[2021-02-08 08:44] vhow opened #8563 "How to remove LRU files from download cache?"
As the [doc](https://exoplayer.dev/downloading-media.html) says:

What is the recommend way to **remove least recently used cache** files from **download cache**?

[2021-02-08 09:38] tonihei commented on #8560
Thanks for reporting. We'll provide a fix for the problem.

[2021-02-08 10:11] icbaker commented on #8532
[`Mp4Extractor`](https://github.com/google/ExoPlayer/blob/dev-v2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp4/Mp4Extractor.java) is used for non-fragmented MP4s, [`FragmentedMp4Extractor`](https://github.com/google/ExoPlayer/blob/dev-v2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp4/FragmentedMp4Extractor.java) is used for fragmented ones

[2021-02-08 10:15] icbaker commented on #8553
ExoPlayer's cache & download components don't support sharing the files between different devices on the same network.

[2021-02-08 10:22] marcbaechinger commented on #8561
To create  media app for Android Auto you need basically provide two things: a way to let the user browse the media library and on the other hand, player controls that display the state of the player and allow sending commands to the player.

For browsing the media you create a [`MediaBrowserServiceCompat`](https://developer.android.com/guide/topics/media-apps/audio-app/building-a-mediabrowserserv

[2021-02-08 10:54] tonihei commented on #8555
You should be able to set an `SelectionOverride` with `DefaultTrackSelector.ParametersBuilder.setSelectionOverride`.
The trick play track is still there, so you can manually select it in this way. bdc0db3 just changed it so that the track isn't automatically included in an adaptive selection.

[2021-02-08 11:27] ghost commented on #8561
Hello,
Thanks for your detailed explanation. I go through your points one last question can we use exoplayer for live hls streaming in andorid car play (Android auto) ? and if so then how ? what is the exact way to do that ?

[2021-02-08 11:39] ekamsoftwares-india commented on #8502
Unfortunately, we do not have control on this m3u8 link. Is there any solution for this ?

[2021-02-08 11:54] marcbaechinger commented on #8536
The `CacheWriter` does use a single `CacheDataSource`. If you call the `cache` method on it, it opens the source and reads from it to fulfill the `DataSpec` that is passed to it in the constructor. In that sense the `CacheWriter` does load a block of data from a data source sequentially. The loaded data is stored in the cache that is associated to the `CacheDataSource` from which the `CacheWriter`

[2021-02-08 12:11] DrewsWaoo commented on #8538
We have a lab setup where I can give you access to a few test streams so you can reproduce the problem anytime you want.

I'll send the details to dev.exoplayer@gmail.com.

BR
Torben Drews

[2021-02-08 12:25] marcbaechinger commented on #8561
You can play any content just like in a normal local app including HLS live content. That works exactly the same by [using an `MediaItem`](https://exoplayer.dev/media-items.html) with an HLS uri or by directly [creating an HLS media source](https://exoplayer.dev/media-sources.html).

The player will run in the `MediaBrowserServiceCompat` and receive commands via media session that has been sent by

[2021-02-08 12:27] kim-vde commented on #8557
Could you explain more in detail what you observe or join a video showing how the content plays on the TV? A bug report would also be helpful. Thanks.

[2021-02-08 12:58] andrewlewis commented on #8524
I didn't notice any useful diagnostic info there (although I don't think there's any sign of unexpected codec error logging at all among the logging so possibly it wasn't taken right after seeing the error).

There isn't much else we can do to help I'm afraid. As mentioned above I'd recommend only using `SurfaceView`.

[2021-02-08 12:58] #8524 closed, assigned to andrewlewis

[2021-02-08 13:05] kim-vde commented on #8556
My understanding is that it should just work if you provide the proxy URI to the player (see #6024 and #2954)? If not, could you clarify what you are trying to do?

[2021-02-08 13:30] marcbaechinger commented on #8543
I do not assume that your last comment is saying that you fixed the problem. If you fixed your problem you can obviously ignore my following comments. :) Please close the issue in this case, if not, read ahead to see whether I can help.

Do I understand correctly that you have a `legacySegmented` stream that is not recognized as a such because the customization of the action file used a different

[2021-02-08 14:03] kpandroid commented on #8557
It's pretty easy - there are a lot of dropped video frames the parameter vfpo = -832000.

[2021-02-08 14:12] ruthwikkk commented on #8524
As I mentioned earlier I'm using `SurfaceView` for playback. I haven't applied any settings on that side but in some particular devices, somehow its falling back to `TextureView`, which causing the exception.

[2021-02-08 14:14] andrewlewis commented on #8524
I think any fallback to `TextureView` must be functionality that's in the app (as mentioned in my first comment).

[2021-02-08 14:25] kpandroid commented on #8557
[bugreport-sabrina_prod_stable-QTS2.200918.033-2021-02-08-15-17-55.zip](https://github.com/google/ExoPlayer/files/5944243/bugreport-sabrina_prod_stable-QTS2.200918.033-2021-02-08-15-17-55.zip)

[2021-02-08 15:23] zgzong opened #8564 "HLS stream stop playback after a while"
When play a long HLS Vod content ( 3-4 hours long), the playback stops after a while.

The issue lies in the way that exo-player determines the amount of available buffer for playback:
Playback buffer remaining is calculated as the total buffered time in the source from the start of playback (in content time as declared by metadata/hls playlist) minus the amount content time rendered at the render

[2021-02-08 19:31] victorraft opened #8565 "Need a way to decide if the Skip Button should be focused in real time, not when building ImaAdsLoader."
We have a TV application that has a video player that can transition between fullscreen and collapsed mode. We're using the IMA extension and we want the Ads Skip Button to be focused only when the player is in fullscreen mode, not when it's collapsed. The ImaAdsLoader.Builder().setFocusSkipButtonWhenAvailable()' cannot be used, because:

a) We need to be able to decide whether the button gets foc

[2021-02-08 19:45] sidferreira commented on #8543
Hey @marcbaechinger! So, your comments gave me some ideas and helped me to understand what was going on.
Just FYI, this code was developed by a 3rd party, 2 years ago, and we can't rely on them at this moment.

The said "multihls" type, is just a copy of `HlsDownloader` with two small tweaks. The code has `part` and `numParts` values that are used to parallelize the download. `numParts` is actuall

[2021-02-08 22:53] #8543 closed, assigned to marcbaechinger

[2021-02-09 01:13] ojw28 commented on #8564
Duplicate of https://github.com/google/ExoPlayer/issues/2233.

[2021-02-09 01:13] #8564 closed, assigned to ojw28

[2021-02-09 02:04] #8449 closed, assigned to lcf87

[2021-02-09 02:04] #8441 closed, assigned to lcf87

[2021-02-09 07:46] MagicUnderHood opened #8566 "Allow SingleSampleMediaSource not to block playback from starting"
**Description**

I am using exoplayer 2.11.4 and am adding multiple .srt subtitles to a video using SingleSampleMediaSource and MergingMediaSource.
When the video starts, the player always sends a request for the first subtitles from the list. If delay (timeout) is set on this request (I use Fiddler for this), then the player waits for a response and does not start playing. The player is in BUFFER

[2021-02-09 09:04] lpuglia commented on #8556
Hello, what do you mean by "provide the proxy URI to the player", how do you do that?

[2021-02-09 09:05] javaboboApp commented on #8553
ok thanks for letting me know, but do you have any recommendation about what would be the best way to archive this... any code to have a look?

[2021-02-09 09:12] sergju opened #8567 "One empty extra closed captions track with mime type eia608 always presented in HLS stream with ts chunks"
One empty extra closed captions track with mime type eia608 always presented in HLS stream with ts chunks.

It can be seen with ExoPlayer demo app as well.
For example link "Apple TS media playlist" I see only one "Unknown track"
but I can't see any closed caption track in m3u8 playlist and inside ts chunk

With link "Apple 16x9 basic stream" several tracks on languages and again - "Unknown track"

[2021-02-09 09:37] icbaker commented on #8553
I'm afraid it's not something we've ever tried to do - so we don't have any sample code.

[2021-02-09 09:48] z423821123 opened #8568 "Get few seconds black screen when switching to empty mid roll with DRM protected video"
[REQUIRED] Issue description
-------------------------
Playing DRM protected video in empty mid roll will appear about 1 seconds black screen. It's easy to reproduce in demo app.

[REQUIRED] Reproduction steps
-------------------------
1. Add this ads tag uri "https://vastsynthesizer.appspot.com/empty-midroll-2" info DRM protected video in demo app
[code]
2.Click HD(cenc)
![image](https://user-ima

[2021-02-09 12:51] llucax opened #8569 "Can't play short (sub-second) audio files if auto-play is disabled and it is played a while (1 or 2 seconds) after initialization"
# Steps to reproduce

1. `git clone https://github.com/google/ExoPlayer.git`
2. apply this patch:

[code]

3. Build and run
4. Click on `Bug Test` and then `Pop`
5. Observe the `rb:` value (`renderedOutputBufferCount`) on the second line at the top
6. Once it reaches 12 (for me is consistently around 1 or 2 seconds), click the **Play** button.

# Expected behavior

The sound can be heard.

# Actua

[2021-02-09 12:57] llucax commented on #8569
Comparing to longer, working sound files (like the example **Misc** -> **Google Play (MP3)**), `rb` reaches the value 13 while waiting for initialization, after `rb` is 13 hitting play also works.

[2021-02-09 12:59] llucax commented on #8569
Another strange thing is it works (it can be heard) if play is hit again after the sound was playing for the first time without emitting any sound.

[2021-02-09 13:09] andrewlewis commented on #8565
Please could you give some more details about the bugs referred to in (b) so I can report this to the IMA SDK team to get the focusing behavior fixed?

Separately, I think we can add `ImaAdsLoader.focusSkipButton` (calling through to `AdsManager` in the `AdTagLoader` in 2.13) to address this. The app can add an ad event listener via `ImaAdsLoader.Builder.setAdEventListener` then call the new metho

[2021-02-09 13:12] Stonos opened #8570 "Live stream that worked with 2.12 does not work with 2.13.0 when tunneling is enabled"
I'm in the process of updating from ExoPlayer v2.12.3 to v2.13.0, and during testing I discovered that a particular DASH live stream does not work when tunneling is enabled (it works fine with v2.12). More specifically, the stream starts playing, but after a few seconds the following exception is thrown:

[code]

When tunneling is disabled, the stream works.

I have sent a bugreport to dev.exoplay

[2021-02-09 13:19] AquilesCanta commented on #8372
Hi @SharanKumarReddyKambham, would you kindly provide us with a copy of llama_3_original.mp4? That way we can look into why the content is being generated with a strange structure. We are not yet convinced this is worth fixing in the ExoPlayer codebase. You can either post it here, or send it to dev.exoplayer@gmail.com. Discussed with @christosts and we agreed we would try to decide whether this c

[2021-02-09 13:29] andrewlewis commented on #8570
I think this is possibly (non-obviously) related to #8560. That apparently affects HLS streams that don't have program date time information and treats them as low latency live streams, at which point playback speed adjustment will be used, and speed adjustment is incompatible with tunneling causing the failure.

[2021-02-09 13:59] icbaker commented on #8566
I can reproduce what you're seeing on the dev-v2 branch. I modified `DefaultDataSource#read()` as below to simulate a slow load, then played the "Subtitles > WebVTT positioning" sample in the Demo app. Video playback is delayed until the subtitles are available:

[code]

This is happening because `SingleSampleMediaPeriod` reports its buffered position as 0 until loading is complete, then it report

[2021-02-09 15:02] janeriksamsonsen commented on #8570
We also see this problem with Dash live-stream and tunneling enabled.

[2021-02-09 15:11] Stonos commented on #8570
I think you're right. Calling `setLiveMaxPlaybackSpeed(1f)` solves the issue, but you obviously lose the new low-latency improvements.

Does this mean that we should disable speed adjust (as per above) when tunneling is enabled?

[2021-02-09 15:20] icbaker commented on #8567
The "unknown" 608 subtitle track you're seeing is always added if the HLS playlist contains TS content and doesn't specify `CLOSED-CAPTIONS=NONE` in the `EXT-X-STREAM-INF` tag.

`CLOSED-CAPTIONS` is an optional HLS attribute: https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.4.2

There's more info about why ExoPlayer conservatively assumes TS streams have a subtitle track

[2021-02-09 15:20] #8567 closed, assigned to icbaker

[2021-02-09 15:30] icbaker commented on #8568
I can't reproduce what you're seeing with a Pixel 3a XL.

However I suspect it might be related to switching between secure and clear decoders. Can you try adding `"drm_session_for_clear_content": true` to the same JSON snippet and see what happens?
[code]

More info: https://exoplayer.dev/drm.html#drm-sessions-for-clear-content

[2021-02-09 15:46] andrewlewis commented on #8570
I need to look at this in a bit more detail as it's not clear why speed adjustment isn't just becoming a no-op when tunneling is enabled (which is the expected behavior).

[2021-02-09 16:06] Stonos commented on #8570
I see, thanks!.

I have one more question: Is the automatic speed adjustment supposed to be enabled for all live streams or just for those that support low latency?

[2021-02-09 16:18] tonihei commented on #8570
It supposed to be enabled for live streams that define a target live offset in the media. This should be the case for most DASH and HLS live streams as they define the target offset either directly or in the spec.

[2021-02-09 16:30] christosts commented on #8502
Can you try to set the [DefaultTsPayloadReaderFactory.FLAG_IGNORE_H264_STREAM](https://github.com/google/ExoPlayer/blob/r2.12.3/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/DefaultTsPayloadReaderFactory.java) flag on a custom `HlsMediaSource.Factory` and set this custom media source to the player? For example, in the demo app's [PlayerActivitiy](https://github.com/goo

[2021-02-09 17:02] christosts commented on #8533
I will push a commit with this change, the issue should be auto-updated when the commit is pushed to the dev-v2 branch.

Thanks.

[2021-02-09 17:45] victorraft commented on #8565
When I use `setFocusSkipButtonWhenAvailable(true)` the following happens:
1 - the Ads WebView gets focused and displays a yellow border as soon as the preroll starts playing
2 - when the skip button becomes available the button gets the focus and the yellow border

I would appreciate if #1 did not happen, as this messes with my app's focus (it's a TV app so stealing the focus when we don't want it

[2021-02-09 17:58] andrewlewis commented on #8570
This actually isn't related to #8560, but it's just that apps are more likely to hit the bug (that setting playback parameters with tunneling doesn't work) now that playback speed adjustment is used 'automatically' for some streams.

#4803 tracks adding support for using video tunneling and speed adjustment together. Part of this involves calculating timestamps for audio buffers after the `SonicAu

[2021-02-09 18:14] ojw28 commented on #8570
That sounds like the right fix for now!

@tonihei - For live streaming, I'm assuming that the initial live offset is at least "sensible" in the case where playback speed adjustment needs to be disabled. A slightly more nuanced question is whether we'd calculate it differently at all if it's known that playback speed adjustment will be disabled. For example, if there's anything in the live streamin

[2021-02-09 18:19] tonihei commented on #8570
Playback tries to start exactly at the target live offset(which is used as the "default position" in the media model), so this should be fairly sensible already. As we need to load media before actual playback can start, the practical live offset with tunnelling enabled (and speed adjustment disabled) will be slightly larger than intended for this reason.

[2021-02-09 18:52] kpandroid commented on #8557
One more example that destroys the playback
http://sylvan.apple.com/Aerials/2x/Videos/DB_D008_C010_4K_HDR_HEVC.mov

[2021-02-09 18:55] andrewlewis commented on #8565
Thanks. I will plan to submit that fix soon and it should be included in the next release.

I also filed [Internal: b/179801842] to ask the IMA SDK to look into the unexpected focus stealing behavior.

[2021-02-09 23:42] moneytoo opened #8571 "Specific MPEG-TS video, getDuration returns TIME_UNSET"
When I play [LG Demo DolbyVision Trailer](https://drive.google.com/open?id=0BwxFVkl63-lEWmNWcGl4eVRWS2M) (from [kodi.wiki samples](https://kodi.wiki/view/Samples)), `SimpleExoPlayer.getDuration()` returns `C.TIME_UNSET`. This causes PlayerView to show video duration as 00:00 and prevents scrubbing.

Even though the filename ends with `.mkv`, it's a MPEG-TS container. (The same video is also shared

[2021-02-10 00:54] a4x4kiwi commented on #8031
@AquilesCanta I have another data point that may assist.

I have found that very occasionally, when first playing a stream after opening the app, the A-V will be out of sync.

Between tests I Force Stop the app and restart. Occasionally the first channel played will be out of sync, subsequent channel changes are OK.

If I exit playback and restart the stream, the A-V is in sync and plays correctly

[2021-02-10 01:28] ryanheise commented on #8569
Not sure if this is exactly the same, but I've noticed similar behaviour on regular-length audio files when using Android 11's media session resumption feature. This is a feature that allows an app to be automatically restarted/resurrected when someone presses the play button in a media notificaiton of an app that is no longer in memory. Typically in this scenario, the app wants to start playing a

[2021-02-10 03:14] z423821123 commented on #8568
Still reproduce in demo app when I adding `"drm_session_for_clear_content": true` to the JSON. I will email the attachment to `dev.exoplayer@gmail.com`

[2021-02-10 04:46] jesusve920 opened #8572 "By chance you will have a repository"
It worked thank yo very much for your support.
Here is the final class is some one needs it.
[code]

_Originally posted by @mhassanist in https://github.com/google/ExoPlayer/issues/3178#issuecomment-322772300_

[2021-02-10 06:09] pvishnyakov commented on #8560
Checked #8570, live playback speed workaround also worked for me:
[code]

[2021-02-10 07:14] SharanKumarReddyKambham commented on #8372
Hi @AquilesCanta ,i ve shared the content over mail,please check and update.

[2021-02-10 09:03] icbaker commented on #8538
Thanks that sounds useful - let us know when you've sent the details over.

[2021-02-10 09:48] MagicUnderHood commented on #8566
Thanks for your reply! I will wait for enhancement and try the suggested options.

[2021-02-10 10:13] AnandSaran opened #8573 "How to set 2 or more download manager Requirements"
I want to set Requirements.NETWORK and Requirements.DEVICE_STORAGE_NOT_LOW to the DownloadManager

But   downloadManager.setRequirements () accepting only one  Requirements.
Can any one tell me how add  2 or more download manager Requirements?

[2021-02-10 11:17] marcbaechinger commented on #8573
`Requirements.NETWORK` and `Requirements.DEVICE_STORAGE_NOT_LOW` are flags of type [`RequirementFlags`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/scheduler/Requirements.java#L40).

[code]

The `@IntDef` has the attribute `flag = true`, this means that you can combine them with a bitwise AND operation or an addition.

[code]

All th

[2021-02-10 11:17] #8573 closed, assigned to marcbaechinger

[2021-02-10 11:30] ekamsoftwares-india commented on #8502
Wow, it worked. Thank you so much. You made my day. :)

[2021-02-10 11:30] #8502 closed, assigned to christosts

[2021-02-10 11:40] kim-vde commented on #8556
My understanding is that you have a [proxy server](https://en.wikipedia.org/wiki/Proxy_server) that redirects the calls to retrieve the media contents and that you send your requests to this proxy server using the corresponding URI/URL.

Please provide more detail if this is not what you are trying to do.

[2021-02-10 11:43] #8572 closed, assigned to nobody

[2021-02-10 11:49] tpiDev commented on #8039
Hi,

In previous comment it has been mentioned that bug-report has been shared with _Qualcomm_. Is there any update on it?
Currently i am facing the same issue: **android.media.MediaDrm.error_neg_2000** with one of installed app on **Pixel 4XL** (latest Android 11 / RQ1A.210205.005).

As the application uninstall and install again does not help here (nor OS update), this issue might be really anno

[2021-02-10 12:11] kim-vde commented on #8569
Note: I could reproduce on a Samsung but not on a Pixel.

[2021-02-10 12:22] christosts commented on #8557
I tried with the 60fps H264 content. This video is encoded at 20Mbps and it looks like the device H264 decoder cannot decode fast enough this stream. The player logs indicate that too

[code]
The player attempts to play the file although the decoder reports it's beyond its capabilities as a best effort - sometimes decoders can perform better than their reported capabilities. What appears as 'slow

[2021-02-10 12:45] kim-vde commented on #8571
To be more efficient, ExoPlayer does not parse the whole media file before starting media. Instead, to compute the duration, it scans the last bytes of the media to get the last PCR value, then it scans the first bytes to have the first PCR value and finally it computes the duration based on the difference between the last and first PCR values (see [TsDurationReader.java](https://github.com/google

[2021-02-10 13:28] davydovvladimir commented on #8555
@tonihei
I have implemented switching by using SelectionOverride and it is working correct.
Thank you!

[2021-02-10 13:28] #8555 closed, assigned to tonihei

[2021-02-10 14:39] lpuglia commented on #8556
i know what a proxy server is and how to use it, i don't know how to tell exoplayer how to use it

[2021-02-10 14:44] moradi-morteza opened #8574 "save video to storage when streaming with exoplayer"
I am using ExoPlayer in android and steaming a [hls] video source.
now I want to save this video At the same time as it play on exoplayer.
 I do not want to use another thread or port or channel like FFMPEG,
because its create more than one connection to video source and use more internet Is there a way to do this? Thanks.

[2021-02-10 15:39] ojw28 commented on #8573
Don't flags need combining with a bitwise OR operation, rather than AND? I.e.,
[code]

[2021-02-10 17:07] vshivam opened #8575 "Use _only_ the media extractor."
Is it possible to re-use only the Mp4Extractor in place of Android's inbuilt media extractor ? My goal is to extract samples from a video file, pass them onto a decoder, the decoded output is then rendered onto a Surface. It's _like_ playing a video onto the Surface.

I have so far used the ExoPlayer to do the above by simply providing it a MediaItem and a Surface. It seems to work great and handl

[2021-02-10 17:19] kim-vde commented on #8575
What you could do is to use a `SimpleExoPlayer` with a custom `Renderer`. You could then directly use the samples passed to the renderer. That's what we did to implement the [Transformer](https://github.com/google/ExoPlayer/tree/release-v2/library/transformer) library. You should have a look at the following classes: [Transformer.java](https://github.com/google/ExoPlayer/blob/release-v2/library/tr

[2021-02-10 17:55] kim-vde commented on #8556
Here is some information that could help:
- ExoPlayer uses a [`DefaultHttpDataSource`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.html) by default, which in turn uses an `HttpURLConnection`. If you set up the proxy for `HttpURLConnection ` by configuring some global properties somewhere, then this approach should also work with ExoPlayer, as lo

[2021-02-10 18:53] lpuglia commented on #8556
Thanks, this is very helpful advice. Unfortunately I already tried to set up a global proxy for all the `HttpURLConnection` without any success, at this point I doubt it is possible to do. I can instantiate single proxied `HttpURLConnection` without problems though.

I think that the only way to allow ExoPlayer to use a proxy is to write my own extension of `HttpDataSource`. would that be enough t

[2021-02-10 19:33] ojw28 commented on #8537
@tonihei - The stream provided above works in 2.12, but not in 2.13. I think this must be related to changes made for low latency live streaming. I did a bit of digging and shared a possible fix for discussion.

[2021-02-10 20:16] ojw28 commented on #8537
@tonihei - I did a bit of digging and shared a possible fix for discussion.

[2021-02-10 20:50] moneytoo commented on #8571
Thank you for your detailed and exhausting answer. Suggested solution works.

[2021-02-10 20:50] #8571 closed, assigned to kim-vde

[2021-02-10 21:39] sruditsky opened #8576 "Problem with the way DefaultDrmSessionManager releases its references to DrmSession-s"
There are several situations in which it would be desirable to re-prepare ExoPlayer with a different media source while keeping the DrmSession from the previous prepare.
For example, there may be several different media sources which have the same DRM info or it is required to retry a failed playback.
In such cases not keeping the DrmSession would mean an extra license request, which takes time an

[2021-02-10 22:08] Duna commented on #8532
Just one more question: I am willing to use ffmpeg instead of mp4box
Is there an equivalent command line to add the pssh box to ffmpeg command line file encryption?
`MP4Box -crypt drm_file.xml legend.mp4 -frag 240000 -out legend_enc.mp4` - I am looking for the equivalent using ffmpeg

[2021-02-10 23:55] ojw28 commented on #8427
Reported to Xiaomi in [Internal ref: b/179940201]. Leaving this issue open for tracking.

[2021-02-11 08:02] fgl27 commented on #8041
Noting?  :confused:

[2021-02-11 08:02] fgl27 commented on #7998
Noting?  :confused:

[2021-02-11 09:51] kpandroid commented on #8557
@christosts setTunnelingEnabled(true) doesn't help at all - it seems it's DolbyVision HEVC and player just crashes with long error log. Generally my every 4K HEVC HDR test doesn't work. It's the same story again and again - huge amount of dropped frames. The most annoying thing during debugging is periodically WLAN disconnects (every 20 seconds!!!) - I understand that's not exoplayer problem...

[2021-02-11 09:55] karamgharam opened #8577 "Dash thumbnail's preview using exoplayer"
hello guys I need to load (retrieve)  thumbnail's images from this mpd URL
https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-tiled-thumbnails-numbered.ism/.mpd
what the best implementation to parse and load thumbnails from this URL
for seek bar thumbnail's  preview
version 2.12.2
thanks

[2021-02-11 10:08] asvoxl opened #8578 "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException"
Hello Guys,

I'm getting this error in exoplayer while playing videos in recycler view or pager like TikTok. This issue is random it comes in a very rare case, not all the time I'm getting this error.

`com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.Exynos.avc.dec, Format(1, null, null, video/avc, null, -1, null, [960, 720, 15.5

[2021-02-11 10:29] andrewlewis commented on #7998
Sorry for the delay. I will try to look at this again soon.

[2021-02-11 11:58] kim-vde commented on #8577
Duplicate of #7285.

I am afraid there is no easy way to do that in ExoPlayer at the moment. You could try to implement a custom video `Renderer` that retrieves thumbnails from the video samples and pass a custom `RenderersFactory` to a `SimpleExoPlayer` instance.

[2021-02-11 12:06] moneytoo commented on #8435
Is there any option/API to disable, customize or detect the styling? If an app sets custom `CaptionStyleCompat`, it now accepts all styling while the text color is now variable based on line from subtitle file. Also, how about when user uses platform `CaptioningManager` to customize subtitle look - again, text color is now variable. With static background/border colors and variable text color, the

[2021-02-11 12:29] icbaker commented on #8576
This is definitely a bug (introduced by me in https://github.com/google/ExoPlayer/commit/316f8a88cdaeff2b1b5d219097b2739ef607b2c4 - sorry!). By complete coincidence I actually spotted this on Tuesday when doing other work in `DefaultDrmSessionManager`, so I already have a fix in review.

However, assuming there's no other `prepare()` or `release()` calls on the manager that aren't shown in your co

[2021-02-11 12:56] kpandroid commented on #8557
one more small 4k hevc hdr example to test
https://user-images.githubusercontent.com/56880093/107639207-db851100-6c70-11eb-8136-8ab86debf609.mp4

[2021-02-11 13:50] marcbaechinger commented on #8563
I don't think there is an easy way to use the same `Cache` instance that you are using with a `DownloadManager` for normal caching with `CacheDataSource`. That's what the documentation means when it is saying 'download cache' (used for persistent offline media) as opposed to a 'temporary cache' utilized to facilitate seeking backwards and repetitive playback of the same media.

You probably can us

[2021-02-11 14:02] AlexDundar commented on #5417
Still no way to use databinding with exoplayer controls??

[2021-02-11 14:09] kim-vde commented on #8578
Can you try the potential solutions given in https://github.com/google/ExoPlayer/issues/6556#issuecomment-545003963 and see if it helps?

[2021-02-11 14:11] kim-vde commented on #8578
Can you provide:
- The whole stack trace (and more particularly the error code).
- The device on which you had this issue.
Thanks

[2021-02-11 14:18] tonihei commented on #8537
Thanks both!  @happyong-ib Your initial investigation exactly pinpointed the problem, sorry for the delay in addressing this.  We'll push a fix soon and release it as part of 2.13.1.

[2021-02-11 14:53] marcbaechinger commented on #8574
In general you can use a `CacheDataSource` for caching what is downloaded when playing media. This just stores the data in a a cache and if it is requested again, then it is served from the cache than from the network. This is fairly easy for progressive media. However, when using HLS this gets a bit more difficult I think.

Firstly, an HLS video consists of a (text) playlist and possible multiple

[2021-02-11 14:56] icbaker commented on #8568
Thanks for trying that - sorry it didn't work. I took a closer look and realised the `drm_session_for_clear_content` flag isn't properly propagated all the way down when using the `MediaItem` API. I've sent a change to fix that.

I determined I couldn't reproduce because the symptom is device specific - a colleague was able to reproduce with their Samsung device.

[2021-02-11 15:05] rbouqueau commented on #8532
@Duna No equivalent but you could also use GPAC to encode your content (they rely on FFmpeg's libraries). There are command-lines in the fox for MP4Box (https://github.com/gpac/gpac/wiki/mp4box-dash-opts) or the newer ```gpac``` executable (https://github.com/gpac/gpac/wiki/encryption-filters).

[2021-02-11 15:07] christosts commented on #8557
I've tried both the `mov` and `mp4` files on a ChromeCast device. They both have issues, but different ones.

The [mov](http://sylvan.apple.com/Aerials/2x/Videos/DB_D008_C010_4K_HDR_HEVC.mov) file is HEVC 4K Dolby Vision encoded at 8Mbps. For this video, the platform decoder is failing to decode and `MediaCodec` is throwing an error when ExoPlayer is calling `MediaCodec.dequeueOutputBuffer().`

Th

[2021-02-11 15:34] icbaker commented on #8435
@moneytoo Assuming you're using the ExoPlayer UI components, you can force the `SubtitleView` to ignore 'embedded' styles (i.e. those encoded in subtitle files) by calling [`subtitleView.setApplyEmbeddedStyles(false)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/SubtitleView.html#setApplyEmbeddedStyles(boolean)). You can get the `SubtitleView` from [`playerView.getSubtitle

[2021-02-11 15:49] kpandroid commented on #8557
@christosts according ffprobe the average bitrate of test.mp4 is about 7.4 Mbit.s - I'm sure it's pretty low bitrate for 4K HEVC HDR content. Moreover the problem exists for all hevc hdr videos, ever 1080p (with bitrate of few Mbit.s). Let me know if you need more examples. I'm pretty sure the the problem is device specific because the same hardware (amlogic line) is able to play all that videos o

[2021-02-11 18:07] christosts commented on #8557
Yes, that was my mistake, I misread the `mediainfo` output.

There is a recent update on the Chromecast that improves 4K video. Can you please report the firmware of the device?
https://support.google.com/chromecast/answer/7124014?hl=en&ref_topic=3447927

I noticed from the attached bug report that your device is on the recent Android build, but can you also report the firmware? There are instruct

[2021-02-11 18:32] kpandroid commented on #8557
@christosts I have the latest firmware (installed few days ago) - QTS2.200918.033.7115981

[2021-02-11 18:48] christosts commented on #8557
Can you please check the "Cast firmware version" as reported on the "How to check your firmware version" section? You should see something like `1.44.185164`

[2021-02-11 20:03] kpandroid commented on #8557
The cast version is 1.50.228700

[2021-02-11 21:52] marcbaechinger commented on #8577
Like kim-vde said this is not supported by ExoPlayer.

The manifest is parsed properly though and if you wanted you could extract the information about the sprites from the manifest, download the sprites and display it in your own UI. This is everything else than trivial though and we can't support you with that endeavor. It's pretty complicated and I haven't quickly found the specs tbh, so I don'

[2021-02-12 00:11] sruditsky commented on #8576
Thank you @icbaker.
Yes, we did implement a solution similar to one you have suggested and it seems to solve the problem.

As for the mechanism of re-using DefaultDrmSessionManager instances, is there any approximate date when it will be released?

[2021-02-12 06:30] ashirmehmood1996 commented on #5417
we should have an option to set the custom controller programmatically by now. Its 2021 already

[2021-02-12 08:54] lpuglia commented on #8556
@kim-vde Thank you very much for your suggestions, they put me on the right direction. I was finally able to make a `MediaSource` with a proxy connection. I struggled a lot with `HttpURLConnection` because on android it has limitations that are not present in a normal JVM. In particular the following global variables:
[code]

are ignored in android. I was also trying to use the `Proxy` class:
[cod

[2021-02-12 08:54] #8556 closed, assigned to kim-vde

[2021-02-12 09:36] jcblancomartinez commented on #6168
Hi @ojw28 @andrewlewis @icbaker @tonihei @AquilesCanta @krocard @sim0629 @Samrobbo @marcbaechinger @pedromassangocode,

This bug was reported on Jul 11, 2019 and I see little progress so far.

Alike other people in this thread, I'm getting the following exception in some devices when showing two or more instances of ExoPlayer in the same page within a Flutter app.

I'm using VideoPlayerController.

[2021-02-12 11:38] christosts commented on #8557
Thanks, my device has the same build and firmware.

So, now I'm facing the following: after a few cold reboots, the device started streaming the `mov` and `mp4` files flawlessly. At the moment, I cannot get a repro of the failing decoder for the Dolby Vision case. I had performed several cold reboots before already and had tried different TVs (and more than one HDMI outputs on each TV), and the de

[2021-02-12 13:53] apkelly opened #8580 "Replace support library classes with androidx, to allow jetifier to be removed."
### [REQUIRED] Use case description
Exoplayer still ships with Android support library references. I'd like a version that doesn't have these classes so that I can remove jetifier from my project and therefore reduce build times.

WARNING: [Processor] Library '/Users/andy/.gradle/caches/modules-2/files-2.1/com.google.android.exoplayer/exoplayer-ui/2.12.2/f12f560645024231ee5dc11f86a18098c268b1a2/ex

[2021-02-12 14:54] Nodrex opened #8581 "ExoPlayer FFmpeg extension Build doc update"
In build doc (https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg)
there is written that supported NDK is r20, as I know this version of NDk is deprecated, because there is r22 already.
So is this doc outdated and needs a refresh or we need to downgrade to deprecated r20  NDK to build FFmpeg extension ?

[2021-02-12 15:25] GustavoMoreiraPT commented on #7095
I am also facing the same issue when trying to use MediaCodec to decode audio and stream it through the SynthesisCallback from android.

`E/ACodec: [OMX.google.mp3.decoder] ERROR(0x80001001)
    signalError(omxError 0x80001001, internalError -2147483648)
E/MediaCodec: Codec reported err 0x80001001, actionCode 0, while in state 6
`

The code I have currently implemented works the majority of the ti

[2021-02-12 15:34] andrewlewis commented on #8580
According to https://developer.android.com/jetpack/androidx/migrate/class-mappings, `android.support.v4.media.session.MediaSessionCompat` did not get a new class name in AndroidX (probably because of compatibility requirements for cross-process communication for media sessions). I am checking with the Jetifier team and will post back here if/when we get more information.

[2021-02-12 16:43] ojw28 commented on #8560
The fix for this will be included in 2.13.1, at which point the workaround will become unnecessary.

[2021-02-12 16:44] ojw28 commented on #8565
The additional method has been added. Can this issue be closed now?

[2021-02-12 16:44] ojw28 commented on #4803
This will be fixed in 2.13.1.

[2021-02-12 16:45] ojw28 commented on #8570
This will be fixed in 2.13.1.

[2021-02-12 16:45] #8570 closed, assigned to andrewlewis

[2021-02-12 16:45] ojw28 commented on #4803
Please disregard my previous update.

[2021-02-12 16:49] ojw28 commented on #8570
The fix is https://github.com/google/ExoPlayer/commit/5e229b4f059b4df12e89905ec3e797b4fd30ac7b.

[2021-02-12 16:49] #8537 closed, assigned to tonihei

[2021-02-12 16:50] #8565 closed, assigned to andrewlewis

[2021-02-12 20:05] #8576 closed, assigned to icbaker

[2021-02-12 20:05] ojw28 commented on #8576
It will be released in `2.13.1`, which should happen very soon. Thanks!

[2021-02-12 22:42] barnhill commented on #5246
Any update on this?

[2021-02-13 00:11] EliasDevSE opened #8583 "Seekbar position not changing after video playback ends and seekbar is moved with dpad"
Hello, I have looked for this issue and could not find anything related.

When using the leanback demo from https://github.com/android/tv-samples I noticed that after the video finishes playback and then the seekbar is moved back these 2 issues happen:
1- The content starts playing if you press the center dpad button after seeking backwards but the seekbar stops tracking progress until the video e

[2021-02-13 09:44] likeconan opened #8584 "Black Screen with hls video when integration with flutter"
Describe how the issue can be reproduced, ideally using the ExoPlayer demo app
or a small sample app that you’re able to share as source code on GitHub. To
increase the chance of your issue getting attention, please also include:

### Environment:

Android Version 7.0
Huawei device
Exoplayer: 2.13.1
Flutter: 1.22.6

### Description
When I implement AndroidViewSurface with exoplayer, the playback w

[2021-02-13 12:09] kpandroid commented on #8557
@christosts

1. it doesn't help at all - few time cold rebooted, the same problems. About your assumption that the device can't handle 4k 60fps video - it should according the specs - https://store.google.com/us/product/chromecast_google_tv_specs?hl=en-US
Resolution Up to 4K HDR, 60 FPS
2.
[logcat.txt](https://github.com/google/ExoPlayer/files/5975609/logcat.txt)
[bugreport-sabrina_prod_stable-QTS

[2021-02-13 12:12] dejan2609 commented on #5246
Latest development: JFrog partially reversed their decision: they decided to serve artifacts via JCenter until **_February 1st 2022_** (but they will stop receiving new artifacts after March 31st 2021). https://www.infoq.com/news/2021/02/jfrog-jcenter-bintray-closure

[2021-02-13 14:24] barnhill commented on #5246
Let's be proactive and get ahead of this. As of May 1st dependency updates won't happen till moved

[2021-02-14 00:42] EliasDevSE commented on #8583
this is what was causing the issue

[code]

Removing the following code fixed the issue since the player was being reset after the video has ended

[code]

[2021-02-14 00:42] #8583 closed, assigned to ojw28

[2021-02-14 04:25] farzadno opened #8585 "SimpleExoPlayer.getAudioSessionId is Zero after change MediaItem (setMediaItem and prepare())"
Hello. I use exoplayer **2.13.1** in my app. after changes on [2.13.0 (2021-02-04)](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2130-2021-02-04) **Audio**, `SimpleExoPlayer.getAudioSessionId` is fix and return true SessionId. But after after change MediaItem, `getAudioSessionId` **return 0**.

[code]

[2021-02-14 14:31] badrazizi opened #8586 "ExoPlaybackException: Source error"
reported by multiple user on different device and android version sudden stop which happen completely random with mp4 stream at different time. When try to resume, video resume fine, but some time there no audio or get corrupted this error randomly happen with different stream source, which did not happen with the old version ( 2.8.3 ) after updating to version ( 2.12.2 ) more than a month ago, I

[2021-02-14 16:33] sam-m3 opened #8587 "In HLS, some URLs don't work on Exo but work just fine with VLC and MX player"
I am a newbie in Exo and HLS at all, but I have been given a task to create a streaming app; I used Exoplayer and faced some issues with some audio types and managed to solve it using ffmpeg extension.
My second biggest problem is that some channels output data in EvenLogger and nothing seems to be wrong, but it has no audio or video output.
Here is an EventLog of a channel that works fine, and on

[2021-02-14 19:23] darrinps opened #8588 "Views from exo_playback_control_view not working as before with new version of Exoplayer"
These versions work fine
[code]
These have the issue:
[code]
So, with the old versions, you could grab a button defined in exo_playback_control_view just by doing this in the Activity you used to display it:
[code]
With the new versions, that same code returns null.

To test this I ran the code with the old versions successfully, then changed the versions only in the build.gradle file...no code wa

[2021-02-14 19:44] ojw28 commented on #8585
Thanks for reporting this! There is indeed a problem where 0 is incorrectly, and we will fix this in a future release. In the meantime, you can rely on the (true) audio session ID not changing unless application code calls `SimpleExoPlayer.setAudioSessionId`. Hence you can work around the issue by querying it once immediately after the player has been create.

[2021-02-14 20:22] andrewlewis commented on #8041
I wasn't able to reproduce this issue on `NVIDIA/darcy/darcy:9/PPR1.180610.011/4079199_2513.0256:userdebug/release-keys`. I did the following:
- Added a linear layout and put another `StyledPlayerView` alongside the first one, and added a button that triggers a call to `switchTargetView` toggling between the two views.
- Removed calls to initialize/release the player in activity lifecycle methods

[2021-02-14 21:33] fgl27 commented on #8041
Yes you are wright, I can't reproduce this no more, with is odd as I test using 'switchTargetView' on the past and I was able...

I try to revert exoplayer back to 2020 october version and all works as expected, I can only assume something on the last update from NVIDIA fix it, they did update the device recently as the version device build **...4079199_2513.0256** has a Android security patch of

[2021-02-15 09:22] andrewlewis commented on #8041
Had a look at the green flickering issue too. I can repro that and just need to file a bug with Nvidia, then I will update #7998.

[2021-02-15 09:22] #8041 closed, assigned to andrewlewis

[2021-02-15 09:43] icbaker commented on #8039
@rrfrias Can you comment on @tpiDev's question?

[2021-02-15 10:01] andrewlewis commented on #7998
I can reproduce this and have filed a bug to ask Nvidia to take a look [Internal: b/180278815]. I will let you know if/when we hear an update.

[2021-02-15 10:29] AnjelloNordija commented on #8538
Once you receive the test URL from Torben, you need to add startTime and stopTime parameters to it. The startTime needs to be within the last 30 minutes, and in the Zulu format. So for instance if the current time is 20210215T102500Z, the URL could look like:

https://xxxxxxxxxx/manifest.mpd?token=xxxxxxxxxxxxxxxxxxxxxxxx&expires=1615967284&startTime=20210215T100500Z&stopTime=20210215T100600Z"

Th

[2021-02-15 11:06] christosts commented on #8557
Thank you for the new bug-report and logs, it is the same error I got with that video. I will forward them to the ChromeCast team.

This was my assumption from the first video, which was encoded with H264 at 60fps, 4K resolution at 20Mbps. I observed from the ExoPlayer perspective that the decoder did not decode fast enough. That does not mean the device cannot do 4K HDR 60fps in general, it could

[2021-02-15 11:10] andrewlewis commented on #8515
Sorry for the delay. I just tried playing this ad tag and saw two prerolls but no postroll. Based on your last message it sounds like it's working anyway so I will close this for now but please let us know if anything still needs fixing. Thanks!

[2021-02-15 11:10] #8515 closed, assigned to andrewlewis

[2021-02-15 11:12] kpandroid commented on #8557
@christosts I've ordered one more Chromecast Sabrina in order to check the idea that the current is just defect (I've also permanently wlan connection drops every 30 seconds). I'll let you know if it helps.

[2021-02-15 13:00] kim-vde commented on #8581
Thanks for reporting this.

Android NDK r20 is indeed [deprecated](https://developer.android.com/ndk/downloads/older_releases). I tested the extensions with r22 and it seems to be working. I will update the documentation.

[2021-02-15 14:53] fpitters opened #8590 "Access to playing Ad uris"
We haven't found any way to access playing Ad stream URL that are hold inside `AdPlaybackState.AdGroup`.

The urls are being reported as media source events (`onLoadStarted` or `onLoadCompleted`) but it's not possible to match them with Ad groups/indexes.

Is there anything we have missed?
Otherwise would it be possible to provide them through `Period` or some other API?

[2021-02-15 15:00] sam-m3 commented on #8448
@andrewlewis I am facing the same problem, and I cannot use `surface_view` because the video lags and thee playback gets way slower, using `texture_view` solved the lagging issue, but it messed up other videos color's.

[2021-02-15 15:07] sam-m3 commented on #8587
It is strange but I managed to solve that issue right after submitting the issue.
But as usual, other issues occured, now these channels are working fine on some devices, but on my emulator and some other devices, they only load one frame and after that it freezes.

I also checked #2939 but it didn't help.

Any recommendations?

*EDIT*
For those who faced the same issue and didn't manage to find t

[2021-02-15 16:13] andrewlewis commented on #8590
Edit: the information below doesn't help because `Period.adPlaybackState` is private.

They are in [`AdPlaybackState.AdGroup.uris`](https://github.com/google/ExoPlayer/blob/56feb96/library/common/src/main/java/com/google/android/exoplayer2/source/ads/AdPlaybackState.java#L52) (and as you are probably aware, you can get the `AdPlaybackState` from the `Timeline.Period`).

[2021-02-15 16:15] andrewlewis commented on #8590
Sorry, just saw that `adPlaybackState` is private in `Timeline.Period`.

[2021-02-15 16:16] andrewlewis commented on #8590
We could add a getter, but could you give some more details on your use case first? I'm not sure why apps would need this information. Thanks.

[2021-02-15 16:19] tonihei commented on #8590
The ad group and ad indices are reported for each event as part of `EventTime.mediaPeriodId.adGroupIndex/adIndexInAdGroup`.

[2021-02-15 16:22] andrewlewis commented on #8590
Good point, thanks Toni!

[2021-02-15 16:22] #8590 closed, assigned to andrewlewis

[2021-02-15 16:23] fpitters commented on #8590
Yep, sorry to say, only for tracking purpose :)

`EventTime.mediaPeriodId.adGroupIndex/adIndexInAdGroup.`

Thanks, I've missed that.

[2021-02-15 19:49] christosts commented on #8588
@ojw28 can you take a look?

[2021-02-15 21:13] ojw28 commented on #8588
If I were you, the first thing I would do is fix my ExoPlayer dependencies to all use the same version. You shouldn't be mixing different versions of ExoPlayer dependencies together. There's also no need to list `exoplayer-ui` and `exoplayer-dash` separately if you're depending on the monolithic `exoplayer` dependency, since that will already pull the UI and DASH modules in. See our [getting start

[2021-02-15 21:18] #8559 closed, assigned to ojw28

[2021-02-15 21:18] #8512 closed, assigned to ojw28

[2021-02-15 21:20] ojw28 commented on #8497
Unless you provide complete information as requested by the issue template, including clear reproduction steps (ideally in the form of a minimal sample project, that you can provide as source code via GitHub, and that reproduces the issue), then we are not in a position to help with this.

[2021-02-15 21:21] darrinps commented on #8588
Everything else is up to the very latest. Only these are behind and I can't
update these without it crashing as mentioned.

On Mon, Feb 15, 2021, 3:13 PM Oliver Woodman <notifications@github.com>
wrote:

[2021-02-15 21:21] #8483 closed, assigned to ojw28

[2021-02-15 21:22] darrinps commented on #8588
I'll try to get rid of the extra and do a clean rebuild and report back as
soon as I'm able.

On Mon, Feb 15, 2021, 3:20 PM D S <darrinps@gmail.com> wrote:

[2021-02-15 21:24] ojw28 commented on #8588
I don't really understand what that means. The dependencies you're listing don't make sense, as outlined above and in the link provided. If you're using the monolithic `exoplayer` module then you don't need to list the other two at all. Also, the latest version is `2.13.1`.

As stated above, if you're still able to reproduce this with correct dependencies, please provide a minimal reproducible exa

[2021-02-15 21:32] darrinps commented on #8588
It means all other libraries are up to date. The only ones that aren't are
the three listed.

I said that I will pull the other two and just use the one as you
mentioned, do a clean build, then report back what I find.

On Mon, Feb 15, 2021, 3:24 PM Oliver Woodman <notifications@github.com>
wrote:

[2021-02-15 21:46] ojw28 commented on #7881
The ANR doesn't appear to be in the ExoPlayer demo app's process. It looks like the ANR is occurring in `com.google.android.gms.unstable`. Closing, since this issue does not seem to be related to ExoPlayer.

[2021-02-15 21:46] #7881 closed, assigned to ojw28, kim-vde

[2021-02-15 22:03] ojw28 commented on #8478
I think this is an issue with the emulator. Provided it doesn't reproduce on a real Pixel 3 device, I don't think it's worth worrying about too much. You can report an issue with them emulator as described [here](https://developer.android.com/studio/report-bugs).

[2021-02-15 22:25] darrinps commented on #8588
That seems to work fine!

[2021-02-15 22:30] #8588 closed, assigned to ojw28

[2021-02-16 02:04] #8377 closed, assigned to andrewlewis

[2021-02-16 07:22] SmallYuuu opened #8591 "No audio output, but vlc work well."
Xiaomi Pad 4 Android O
com.google.android.exoplayer:exoplayer:2.13.1

This is my test url:
http://101.71.255.229:6610/zjhs/2/10067/index.m3u8?virtualDomain=zjhs.live_hls.zte.com&IASHttpSessionId=OTT3347520210215122103231147

Exoplayer can not output the audio when play this M3U8(video works well). And I also test VLC, it is no problem.

I find out the stream format. What should I do to play with a

[2021-02-16 07:40] moradi-morteza commented on #8574
thanks
in my case source is not a play list or multi track its just a single url that Exoplayer use it for play.
for example  :  http://38.99.146.185:7777/PMCMusic/PMCMusic_LR.m3u8

if I want to save and stream this video in same time when click a button, one way is :
play link with Exaplayer to see video - then use FFMPEG library to download that link.
in this case exoplayer play video and ffmpeg

[2021-02-16 08:49] z423821123 commented on #8568
Thanks for your support,But I tested 2.13.1 and it still getting black frame 1 seconds when the timeline approaches empty vast ad break, and I pass `"drm_session_for_clear_content": true` value to JSON haven't any help.

I assume that `AdsMediaSource` has update source information which is `AD_STATE_ERROR` `AdPlaybackState` via `maybeUpdateSourceInfo()`.

[code]
@icbaker @ojw28

[2021-02-16 08:55] SmallYuuu commented on #8591
It seem like MPEG Audio layer1/2 not support？

[2021-02-16 09:57] christosts commented on #8587
Hi,

I am assuming you are still testing with the ExoPlayer demo app in your second comment, right? In this case, we would need a link to the channel stream to inspect the stream. If you cannot share the link publicly, please send it via email at dev.exoplayer@gmail.com using the subject "Issue #8587". Please also update this issue to indicate you've done this.

[2021-02-16 10:25] christosts commented on #8591
To play this audio format, please try out the ffmpeg extension. [Here are the instructions](https://github.com/google/ExoPlayer/blob/r2.13.0/extensions/ffmpeg/README.md) how to use it. Also, make sure to specify the `mp3` decoder when building the native ffmpeg library.

Closing this issue for now, feel free to re-open if using ffmpeg did not work.

[2021-02-16 10:25] #8591 closed, assigned to christosts

[2021-02-16 11:08] davydovvladimir opened #8592 "Support renderer mode that only renders the first frame (for trick play)"
Hello dear developers!

First, let me explain  what I'm doing.
I'm trying to implement reverse trick mode by using I-Frames provided by #EXT-X-I-FRAME-STREAM-INF track.
The current algorithm is as follows:
1. Set playback to pause by player.setPlayWhenReady(false)
2. Select trick-play tracks by SelectionOverride.
3. Get current position by player.getCurrentPosition()
4. Set a new position reduced

[2021-02-16 11:14] icbaker commented on #8538
I'm afraid I can't provide the info requested by @DrewsWaoo over email - the stream needs to be accessible from any device to ensure everyone on the team is able to reproduce it as we all have different areas of expertise.

If you're unable to host the stream in a way we can access and that reproduces the problem then I'm afraid there's not much we can do to help.

[2021-02-16 11:22] andrewlewis commented on #8592
It is indeed the case that `MediaCodec`s generally require several frames to be queued before they output the first frame, even if (theoretically) there's enough information in the bitstream to output a frame immediately after it's queued. The way around this would be to queue end-of-stream after the I-frame to cause the decoder to output any pending data, but I don't think there's an easy way to

[2021-02-16 11:25] marcbaechinger commented on #8584
Describe how the issue can be reproduced, ideally using the ExoPlayer demo app
or a small sample app that you’re able to share as source code on GitHub.

We can't help you if this is a Flutter integration issue, but we are happy to look into the issue if it's due to the stream not working on ExoPlayer. For that purpose you should post the HLS uri so we can check what is going on. The information o

[2021-02-16 11:52] ojw28 commented on #8592
I think it's more likely that the delay is just a result of decoding up to the exact frame corresponding to the requested seek position. You might be able to speed things up by calling `ExoPlayer.setSeekParameters`, perhaps with `SeekParameters.CLOSEST_SYNC`, when entering trick play. The default is `EXACT`, and you should probably want to restore it when exiting trick play.

To what extent this w

[2021-02-16 11:58] ojw28 commented on #8592
Note that you can easily disambiguate between the potential issues @andrewlewis and I are suggesting by adding debugging to `MediaCodecVideoRenderer.processOutputBuffer`.

If you're not seeing any calls to this method until multiple frames have been queued, then that indicates the issue described by @andrewlewis where the codec needs multiple frames before it provides any output. Conversely, if yo

[2021-02-16 12:28] samuuh opened #8593 "Infinite buffering on newer ExoPlayer versions"
Hi,

We have an issue with more recent versions of exoplayer where stream starts buffering indefinitely on certain platforms. Stream does start properly when video track is changed manually though.

Issue is seen in Exoplayer versions 2.12.3 and 2.13.1. Same stream works with ExoPlayer version 2.9.3.

The issue happens at least on following emulator configurations in macOS:
Android 9.0 (Google API

[2021-02-16 12:52] likeconan commented on #8584
I tried with ExoPlayer demo directly, this issue is not happened with Android 7.0, I will prepare a flutter example in github, please wait a moment. Thanks

[2021-02-16 13:30] marcbaechinger commented on #8584
Thanks. If it works in the demo app we can probably not provide you with sufficient support I'm afraid. Best is probably to connect with the Flutter people.

You are saying that it happens related to be started/backgrounded/foregrounded so there is probably a problem with the integration rather than with ExoPlayer.

[2021-02-16 13:42] davydovvladimir commented on #8592
@andrewlewis @ojw28 thanks a lot for fast answer!
I have performed additional debugging as @ojw28 recommended.
MediaCodecVideoRenderer.processOutputBuffer is called with `isDecodeOnlyBuffer == true` when third  i-frame is queued.
Next call of this method is after fifth i-frame and with `isDecodeOnlyBuffer == false` immediately before onRenderedFirstFrame.
So, it looks like MediaCodec requires seve

[2021-02-16 13:50] adoudech opened #8594 "Gapless playback is not working"
**_Issue description_**

When trying to play a gapless playback between two MP3 files, a noticeable gap is detected between them.
The issue is also reproduced when using Exoplayer demo app with the `test.mp3` file already added in assets.
I added the following snippet to `PlayerActivity` in Exoplayer demo app L299 for test purpose => the issue is reproduced : a gap between the two media sources is

[2021-02-16 14:08] christosts commented on #8594
@krocard can you take a look?

[2021-02-16 14:17] ojw28 commented on #8592
Regarding the additional debugging you did: I don't think it's as simple as counting the number of frames queued before you see the first frame being dequeued. This is because the `MediaCodec` instance will be decoding asynchronously, so your observation that multiple frames are queued before you manage to dequeue a frame might just mean that you're queuing multiple frames quicker than the time th

[2021-02-16 14:46] badrazizi commented on #8586
I will continue testing without cache in case it's a cache issue, will report soon.

[2021-02-16 15:32] christosts commented on #8562
Using the playlist you provided, there are 'overlapping' downloads as intended.

The overlapping downloads are expected with the specific HLS playlist: when changing video tracks, the player will re-download the last segment of the previous track. For example, if at segment 19 the player decides to switch from 480p to 720p, it will download segment 18 for 720p as well. You should see overlapping d

[2021-02-16 15:32] #8562 closed, assigned to christosts

[2021-02-16 15:58] badrazizi commented on #8586
Cache or no cache same error, even upgrading to version 2.13.1 does not solve it.
device used for testing xiaomi mi a1 android 9 (android one).
I will try without okhttp and report back.

[2021-02-16 16:01] ronak2121 opened #8595 "MPEG DASH SGAI Ad Support"
When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
MPEG DASH is closing in on support for a new Ad Delivery Architecture called Server Guided Ad Insertion: https://dashif.org/docs/CR-Ad-Insertion-r8.pdf.

We are thinking of taking advantage of SGAI to drive ads from the server side, while providing a more dynamic a

[2021-02-16 16:03] guitarsforever opened #8596 "How do I enable Closed caption in Exoplayer when in Picture-in-picture mode?"
**Background:**

I already have exoplayer + PiP implemented in my Android application. The player supports Closed captions well when in Activity mode or Full-screen mode.

**Problem/Question**

When exoplayer/ activity is in PiP mode, the Closed Captions gets disabled automatically. I understand that for mobile the real-estate is very small in picture-in-picture mode to support CC. However, I want

[2021-02-16 16:16] andrewlewis commented on #8580
The jetifier owner said this warning is expected for apps that are completely migrated but run jetifier on code that references `android.support` still (like is the case for `MediaSessionCompat` as I mentioned in the previous comment). So unless there are other non-migrated support libraries in there you can ignore the warning.

[2021-02-16 16:16] #8580 closed, assigned to andrewlewis

[2021-02-16 17:02] someq commented on #8587
Hello! Same issue here.

Emailed you examples of working and freezing streams.

Reproduced in [tutorial app](https://developer.android.com/codelabs/exoplayer-intro#2) with replaced uri in PlayerActivity:

[code]

and following dependencies in player-lib build.gradle:

[code]

Also tried with exoplayer 2.12.0.

Starting both streams produces log:

[code]

It has some errors but I assume they do not

[2021-02-16 17:14] krocard commented on #8594
I can't reproduce on a Pixel 3 on Android 10. Here are my exact steps:
[code]

The file plays twice without any audible gap. I also tried to apply a similar change to yours (though test.mp3 is not in the demo asset, so I used a `file` URI):
[code]

Please follow those steps (preferably the first ones a they do not involve any code change) and attach a bug report if you still observe the issue.

[2021-02-16 17:35] badrazizi commented on #8586
same error.
when the error happen if I forward 1 second and then play then everything work as expected

[2021-02-16 17:49] adoudech commented on #8594
I'm still facing the issue after following your steps (the first ones) with my device Samsung galaxy s10.
I tested on emulator Pixel 3 Android 10, I still got the gap between the two test mp3 files.

[2021-02-16 17:55] adoudech commented on #8594
Please take a look at the attached file :

https://user-images.githubusercontent.com/79149103/108102105-65294a00-7088-11eb-912e-8e137070c1f1.mp4

[2021-02-16 18:32] marcbaechinger commented on #8574
When trying to download the playlist from http://38.99.146.185:7777/PMCMusic/PMCMusic_LR.m3u8 the connection times out.

If it is acceptable for you to restrict to a low quality variant then using a `CacheDataSource` works. That's probably the easiest way in that case.

[2021-02-16 21:49] moneytoo commented on #8596
CC work for me in PiP in latest ExoPlayer. I just tweak the size using setFractionalTextSize and it's quite usable then. (I'm not sure if I make anything special to achieve that.)

[2021-02-16 23:19] sidferreira opened #8597 "Help troubleshooting cache being ignored"
I'm currently stuck to version 2.11.4 of Exoplayer. I created a migration path from 2.9 to this version and the database seems to be upgraded properly.

Now, when I try to play the content, it seems to always pick the content from the internet, not loading if I'm offline.

The `mediaSource` is set based on
[code]

I'm unsure how to debug to find out what is wrong...

__EDIT 18 Feb__

I had a parti

[2021-02-17 00:20] likeconan commented on #8584
Oh... However maybe you can guide me how to programmatically fire some function kind of like resume? So that the issue is fixed by hack solution. Thanks a lot~

[2021-02-17 06:43] someq commented on #8587
UPD:
Setting flags `FLAG_ALLOW_NON_IDR_KEYFRAMES` and `FLAG_DETECT_ACCESS_UNITS` did not help.

Set them like this:

[code]

[2021-02-17 07:24] AnjelloNordija commented on #8538
Hi icbaker,

Torben has replied on mail with stream URLs with the security tokens disabled.

[2021-02-17 07:27] someq commented on #8587
UPD:
Restarted ffmpeg encoder after ~60-70 hrs uptime and it worked. Still not clear, what happened to the stream after that uptime, but it's not an ExoPlayer issue anymore.

[2021-02-17 09:34] davydovvladimir commented on #8592
I have checked this by limiting the amount of data downloaded by overriding DefaultLoadControl.shouldContinueLoading. If I stop downloading after sending three frames to the decoder, I see no calls of MediaCodecVideoRenderer.processOutputBuffer  at all with infinite wait.

I have checked it.  It really decreases delay between seeks from ~500ms to ~300ms.  So, I will override MediaCodecVideoRendere

[2021-02-17 09:44] icbaker commented on #8596
I'm not aware of anything special ExoPlayer is doing with subtitles + picture-in-picture - I would naively expect it to "just work".

As @moneytoo said you may need to change the text size, because it's often defined as a percentage of the viewport height, which might result in very small text in PiP mode. This can depend on your source subtitles - it's possible for them to set an absolute text si

[2021-02-17 09:55] tonihei commented on #6384
We decided to report non-fatal errors with more targeted callbacks corresponding to the area in which they occurred (for example `onAudioSinkError`, `onAudioCodecError` or `onVideoCodecError`. So no need for the generic non-fatal callback anymore.

The initially requested reporting of the non-fatal but unexpected audio timestamp discontinuities will be reported as `AudioSink.UnexpectedDiscontinuit

[2021-02-17 09:55] #6384 closed, assigned to tonihei

[2021-02-17 09:56] sergju opened #8598 "How to set subtitles bottom padding? Now subtitles show on screen very bottom."
How to set subtitles bottom padding? Now subtitles show on screen very bottom.
But I need to show it on some offset from bottom

[2021-02-17 09:59] krocard commented on #8594
I was able to reproduce on the emulator (pixel 3 Android 10). I have not yet traced the issue but I can hear underrun though that seem unrelated.
Longer gapless media do not exhibit the problem, so the issue could be cause/revealed by the short duration of this test media.

[2021-02-17 10:06] icbaker commented on #8538
Thanks - I'm able to reproduce the problem as follows:
1. Adjust the 'circular buffer' URL provided over email to ensure that the `startTime` parameter is less than 30mins in the past and `stopTime` is in the future.
1. Play the URL

The video & audio will freeze after a short period. The playback position continues to count up.

I noticed that when I start playback, the ExoPlayer demo app UI show

[2021-02-17 10:15] icbaker commented on #8598
If your subtitle content doesn't specify the vertical position of the subtitles and you're using ExoPlayer's UI components then you can use [`SubtitleView#setBottomPaddingFraction`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/SubtitleView.html#setBottomPaddingFraction(float)). This doesn't work if the subtitles already specify a vertical position.

Note that in WebVTT (and

[2021-02-17 10:15] #8598 closed, assigned to icbaker

[2021-02-17 10:55] GeoffreyMetais commented on #8594
I confirm this behavior with `test.mp3` and Exoplayer `r2.13.0`.

I clearly hear a gap with a Samsung Galaxy S8 (Android 9)

But no gap at all on Pixel 4a and galaxy S20+ (both Android 11)

[2021-02-17 12:35] icbaker commented on #8568
You're right - there's two different things interacting here and we only fixed one of them.

Specifically when the mid-roll is empty we still release and re-initialize the (secure) video decoder.

With `"drm_session_for_clear_content": false` you can see the secure decoder being released and replaced by an insecure video decoder for each non-empty midroll (10s and 30s). But at the empty one (12.2s

[2021-02-17 13:04] Sasikumartech opened #8599 "With exoplayer demo app v2.13.1 tunneling mode enabled, playback fails if unplug the HDMI"
In exoplayer demo app v2.13.1, we enabled video tunneling feature.
While playing the  video, if we unplug the HDMI then the playback get failed and it throws the below error and exception.

[code]

Is there any issue with tunneling mode?

[2021-02-17 14:33] adoudech commented on #8594
I upgraded my Samsung galaxy S10 to Android 11 and I cannot reproduce the issue => Gapless playback seems working on Android 11.
/!\ I still have the issue on Samsung galaxy s7 Android 7

[2021-02-17 14:52] Xlcghs opened #8600 "Switch problem between the adaptation-set videos"
Hi,

I have a problem with the switching  between two videos adaptation-set  with this stream provided by dash-if : https://dash.akamaized.net/dash264/TestCasesIOP33/adapatationSetSwitching/1/manifest.mpd
In fact, ExoPlayer fails to play the second adaptation set implicitly. The traces below show that the trackSelector does not select the tracks of the second video adptation-set  :

_D/EventLogger

[2021-02-17 16:58] christosts commented on #8595
@ojw28 will you be able to look at the proposed enhancement?

[2021-02-17 17:31] krocard commented on #8599
From the log, the issue comes from audio passthrough, not video tunneling.
Audio passthrough is invalidated on HDMI disconnection, this is a known limitation of ExoPlayer. The capability of the device are determined at construction and are not updated on external events (such as HDMI disconnection).

If an app wants to support this use-case, it should make use of [AudioCapabilitiesReceiver](https:

[2021-02-17 17:31] #8599 closed, assigned to krocard

[2021-02-17 17:53] sam-m3 commented on #8587
Hello @someq
Same happened with me; I observed that this only happens on my emulator, when I use the app on an android box or mobile, or any other real device, It works just fine.

Thanks @christosts for your reply, But as I mentioned This only happens on the emulator, So as long as my videos work on real devices, That is not a problem.

*Closing the issue*

[2021-02-17 17:53] #8587 closed, assigned to christosts

[2021-02-17 18:09] christosts commented on #8586
From the stack trace that is posted on the description of the issue, the error is raised from the Mp4Extractor, indicating that for some reason the bit stream is malformed. I tried playing the content with v2.13.0 on a device and did not see the error. Since you are seeing this error arbitrarily, it means that something corrupts the data in a non-deterministic manner, assuming you see the same err

[2021-02-17 19:53] christosts commented on #8593
I can verify it reproduces on Android emulator (tried a Pixel 3 with Android 9). Playback did not start on ExoPlayer r2.13.0 and r2.10.4 but it did play on r2.9.3.

So far, I see the player is frozen because MediaCodec does not return decoded samples, that is although the player is queueing samples for decoding, `MediaCodec.dequeueOutputBuffer()` keeps returning -1 (INFO_TRY_AGAIN_LATER).

One dif

[2021-02-17 23:22] guitarsforever commented on #8596
Thank you. This helped.

[2021-02-17 23:22] #8596 closed, assigned to icbaker

[2021-02-18 06:24] yijiaren1217 opened #8601 "Hello Guys, I'm getting this error in exoplayer while playing videos. Please help me out if anybody has faced this issue or has an idea about this. Thank you."
ExoPlayerImplInternal: Renderer error: index=1, type=audio, format=Format(2, null, null, audio/mpeg, null, -1, ```, [-1, -1, -1.0], [1, 32000]), rendererSupport=YES
    com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.ext.ffmpeg.FfmpegDecoderException: Unexpected decode error
        at com.google.android.exoplayer2.BaseRenderer.createRendererException(BaseRenderer

[2021-02-18 06:53] szaboa commented on #8435
I just want to note that I haven't forgotten about this, just need to find time to continue it :)
Updated the table above with the PrimaryColour support.

[2021-02-18 07:51] badrazizi commented on #8586
Happen with HTTPS/HTTP, I noticed the error happened when I use unstable internet (mobile data), but never happened with ADSL.
Will test the demo app

[2021-02-18 09:38] tonihei commented on #8600
The adaptation sets contain representations with different codecs. Because they are marked with the `"urn:mpeg:dash:adaptation-set-switching:2016"` property, both adaptation sets are merged together to one ExoPlayer `TrackGroup` as seen in your `EventLogger` snippet above. This theoretically allows switching between these tracks during playback.

The other relevant factor are the renderers that ne

[2021-02-18 09:56] samuuh commented on #8593
Thanks a ton for the quick reply!

I can confirm that video works on the 2.9.3 on the first playback; playback is started on lower bitrate video track and then changed to highest. However if playback is started again, the best quality is preselected (apparently bandwith or something is remembered from previous play) and playback will not start. Also I noticed that if I set any stream quality befor

[2021-02-18 10:12] tanhan commented on #8495
I made a workaround for this. It works mostly.

[code]

[2021-02-18 10:27] christosts commented on #8586
On your test with the demo app, please make sure to use HTTPS too.

[2021-02-18 10:30] motokazmin opened #8602 "Exoplayer works unstable when there are packet lost"
Hello. Before I need to explain a little about our environment  where we observe bug described below.
We are telecom company and provide our clients by tv content through multicast . Due to network issues users may suffer  from this. Therefore we use own recovery server to request lost packets. The scheme is the following:

![viprox](https://user-images.githubusercontent.com/29951880/108339265-45a

[2021-02-18 10:43] hyl0376 opened #8603 "IMA Extension : Ad's overlay not shown after skip the first one in double pre-rolls"
### [REQUIRED] Issue description
I tried to play the ad which has double pre-rolls(the first ad is skippable). When I skip the first ad, the overlay of the second ad is sometimes not shown. The overlay means some kind of 'Learn more', 'skip', ad timestamp, etc. It is not 100% reproduced but reproduced 1 out of 3. I've never reproduced this issue in IMA SDK AdvancedExample sample app. I've emailed

[2021-02-18 11:05] Xlcghs commented on #8600
Thank you for this explanation.
It is clear !

[2021-02-18 11:07] otopba commented on #7326
Same issue =/

[2021-02-18 12:24] tanhan opened #8604 "Is there a way to discard an ongoing chunk download and download lower bitrate chunk when it takes long time to download?"
Hi,

As you can see from Charles trace below, it takes 30 seconds to download 6 Mbit chunk when network speeds decrease dramatically. Is there a way to discard an ongoing chunk download when it takes long time to download and make the player to download lower bitrate chunks?

<img width="1813" alt="Screen Shot 2021-02-18 at 15 07 00" src="https://user-images.githubusercontent.com/2428616/108355010

[2021-02-18 12:28] kpandroid commented on #8604
+1 very interested in such feature. Like ABR hls.js does
https://github.com/video-dev/hls.js/blob/master/src/controller/abr-controller.ts#L200

[2021-02-18 12:57] tonihei commented on #4727
Updated the title to better reflect what this issue is tracking. Once progressive streams support full preparation they can be used with a fully atomic ConcatenatingMediaSource as tracked by #4868 instead of the current `multiWindowTimeBar` flag.

[2021-02-18 13:28] Yarrrrrrr opened #8605 "Problem with exoplayer bridge in Unity. Stuttering on high resolutions..."
Hey guys!
**We have an interesting stuff to investigate.**
The problem is with exoplayer bridge in Unity. The problem is that on Oculus Quest 2 it looses frames on 8K resolution videos 60 fps. It looks like stuttering on high resolutions/fps.
We have checked it on AVPro version 1.11.7 and 2.0.6. Also we have checked it on our own Exoplayer bridge. (They use exoplayer 2.12.1 and 2.8.4). Result is t

[2021-02-18 13:39] AmirRezaSobhdel commented on #3163
is it present in the new release?

[2021-02-18 14:04] ghost opened #8606 "Offline DRM : Is it possible to set a new DRM rather than renew the current ?"
Hi, I'm using ExoPlayer in my application and I want to add offline mode.

I encounter an issue with the DRM provider I use because he doesn't allow DRM renewal.

Currently I use the Exoplayer sample app model to do my tests.

I create a DownloadHelper with my media information and use the OfflineLicenseHelper.downloadLicense() in onPrepared callback method to get DRM and I set it to the Download

[2021-02-18 17:43] christosts commented on #8593
Some extra investigation: I think this is an issue when the software H264 decoder decodes the specific content, but I can't understand whether it's an incompatibility of a bug in the decoder. This may affect real devices too: I tested on a device and forced the player to pick up the software decoder and see the same behavior.

I believe it is unlikely that the problem will appear on a device becau

[2021-02-18 18:12] christosts commented on #8601
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-02-18 18:32] kpandroid commented on #8593
@christosts please check this place - I found that that sorting changes the codec (if two codecs are equal) order and sometimes the wrong codec is used

https://github.com/google/ExoPlayer/blob/4b1e0fa9fc643f96ab5bbf4cec9aa7a79e4bc789/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L378

[2021-02-18 18:54] christosts commented on #8603
@andrewlewis can you please take a look?

[2021-02-18 19:47] christosts commented on #8602
There are multiple parameters here so I'll need to ask a few questions in case I can offer any assistance. Because of your setup, I can probably only offer debugging advice since I cannot replicate your setup.

According to your diagram, the player is downloading the video from the vicproxik using TCP, but is that HTTP? Is your service receiving a UDP stream and re-packages it in some format than

[2021-02-19 07:03] davydovvladimir commented on #8533
Hello,

Do you have any progress with it?
Thanks.

[2021-02-19 07:08] samuuh commented on #8593
Content should be available for a good while.

[2021-02-19 07:16] kpandroid commented on #8542
@icbaker I found the solution for this device and may be the problem is more global! The problem line is here:

https://github.com/google/ExoPlayer/blob/4b1e0fa9fc643f96ab5bbf4cec9aa7a79e4bc789/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L378

the codec selector takes the first codec and there are two candidate for this device
OMX.amlogic.avc.decoder

[2021-02-19 08:25] kgrevehagen commented on #8452
Maybe not exactly what you want, but I solved it by just creating two instances of SimpleCache(with different paths which could be internal/external or whatever works best for you), create appropriate DataSources (with the different caches) and provide them on demand based on download location(which you can store locally for each file) for both the act of downloading and for playback.

This will b

[2021-02-19 08:37] amahouachi opened #8607 "[Question] Previous button is going to the beginning of the stream instead of the previous item in the playlist"
I am using the exoplayer to play live streams in a playlist.

The previous button instead of going to the previous item in the playlist, it returns to the beginning of the stream of the current item.

This happens when I let it play the stream for few seconds then click on the previous button.
In that case, I need to click twice on the previous button to have it switch to the previous item in the

[2021-02-19 09:03] badrazizi commented on #8586
never happened with demo app, I used both HTTPS/HTTP

[2021-02-19 10:17] marcbaechinger commented on #8607
This behaviour is defined by the `DefaultControlDispatcher`.  You can create a subclass of `DefaultControlDispatcher`, override `dispatchPrevious` and set the control dispatcher with `PlayerView.setControlDispatcher` or `StyledPlayerView.setControlDispatcher` respectively.

[2021-02-19 10:35] b0g8 commented on #3163
Which is the current status of this enhancement?

[2021-02-19 10:48] amahouachi commented on #8607
Works great thanks !

[code]

[2021-02-19 10:48] #8607 closed, assigned to marcbaechinger

[2021-02-19 11:29] christosts commented on #8593
For future reference, we have an feature in the roadmap to at least detect cases where the decoder is stuck and raise an error to unblock the app [internal ref b/168800589]

[2021-02-19 11:30] dulmandakh commented on #5246
Or publish to Jitpack https://jitpack.io

[2021-02-19 11:49] Tolriq commented on #8581
@kim-vde NDK 21 is the LTS version and should be used. NDK 22 have possible big size regressions and should be full tested against that.

[2021-02-19 12:11] christosts commented on #8542
@Eliasdevlb if you can reproduce using the demo app on the device, can you please grab all logs from the logcat and attach them to the issue (don't copy paste, just upload a text file) to help us verify which decoder was picked. Please, also specify which version of ExoPlayer you are using.

From the logs you shared
[code]
show that the ExoPlayer detects that `OMX.google.h264.decoder` cannot suppo

[2021-02-19 12:22] christosts commented on #8542
@kpandroid I can see you have posted a similar comment on #8593 but I'm not sure your comment applies to any of the two issues.  The logs originally reported in this ticket show that the hardware decoder was picked, not the software one.

For what it's worth

If in the decoders list *before* sorting, the hardware decoder is placed first, then the order between the two codecs is guaranteed to remai

[2021-02-19 12:32] christosts commented on #8593
@kpandroid You placed a similar issue on #8542 but I don't think the issue reported on either issues is traced to codec re-ordering.

In the issue reported here, I believe there is a bug in the software decoder which is triggered on the emulator and also on a device, if the device picks the software decoder (which is not the standard behavior of ExoPlayer).

As I wrote on #8542, if you're seeing t

[2021-02-19 12:48] motokazmin commented on #8602
Hello @christosts - I have collected logcat as you asked. Bellow are answers on your questions:
1. According to your diagram, the player is downloading the video from the vicproxik using TCP, but is that HTTP? - **yes it is HTTP stream**
2.  Is your service receiving a UDP stream and re-packages it in some format than can be delivered over HTTP? -  **udp payload is transmetted to  http one**
3. wh

[2021-02-19 12:52] waqasyousafy opened #8608 "start (slow or after) a while big mkv file and also buffering very slow as compare to other like xplayer and mxplayer why?"
I am playing the 3gb mkv file but it taking too much time to load the file also when i scroll horizontally to seek video it is buffering very slow . As see in mx and xplayer is my reference app they are not buffering too much .

How can i acheive that slow  buffering and mkv file start time reduction help me ???

[2021-02-19 13:27] AlinaRakhimova opened #8609 "Codec error in mp4 video playing"
I got an exception when I try to play mp4 video

**Version of ExoPlayer being used**
Version:2.11.4 (checked also on the last version)

**Device(s) and version(s) of Android being used**
Android_1080p_API_24 (Emulator)
Android_1080p_API_26 (Emulator)
Redmi 4X (Android 7.1.2)

**A full bug report captured from the device**
D/MediaCodecInfo: NoSupport [sizeAndRate.support, 1170x2532x30.0] [OMX.googl

[2021-02-19 13:33] christosts commented on #8605
We can't offer detailed assistance as we don't have a way to replicate your setup, but here are some high-level ideas that may help. First of all, I'm assuming your content is being decoded through MediaCodec. If not, then the remaining comment does not apply.

To address dropped frames/stuttering on high resolution/bitrate/frame rates, there are 2 features in 2.12.1 that we have tried in the past

[2021-02-19 13:58] christosts commented on #8608
You can customize the buffering threasholds by creating your own [DefaultLoadControl](https://github.com/google/ExoPlayer/blob/r2.13.1/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadControl.java) and passing it to the player. You can set the buffering thresholds for initial minimum buffer, minimum buffer after a rebuffer, and so on.

In at least 2.13, by default, the player wi

[2021-02-19 13:58] #8608 closed, assigned to christosts

[2021-02-19 14:09] christosts commented on #8609
The logs show the video is beyond the device's decoder capabilities

[code]

I can see the video is enoded with H264 with resolution 1170x2532 at 30.0 fps. The logs show that the software decoder (OMX.google.h264.decoder) definitely cannot decode this video.

[code]

I don't expect this video to play on the Android emulator since it has only the software decoder.

For the Redmi 4X, I cannot see in

[2021-02-19 14:11] #8609 closed, assigned to christosts

[2021-02-19 14:38] AlinaRakhimova commented on #8609
@christosts Look at this please.
Logs for Redmi:

[code]

[2021-02-19 14:38] EliasDevSE commented on #8542
@christosts The Exoplayer version being used is 2.11.7 (since this is the version in our current production app) I have set up the stream on the leanback showcase demo app and I've attached the full log below.
[leanback_showcase_logcat.txt](https://github.com/google/ExoPlayer/files/6010680/leanback_showcase_logcat.txt)
Let me see if I can find a way to send the exo team a sample video or URL.
For

[2021-02-19 14:45] inat-tv opened #8610 "Widevine drmTicket Request Header?"
Hello there. In some systems, header is sent to drm_license_uri address. I could not solve this in exoplayer. Is there a way to do this?

Dash Url
https://bitmovin-a.akamaihd.net/content/art-of-motion_drm/mpds/11331.mpd

drm_license_uri:
https://widevine-proxy.appspot.com/proxy

Request Header:
x-drm-message: ticket=hT4hL1iY1qBg3WNRfxsYskOdaSVIHy4y6T1FHyzU0zopsjH-wLiqh8WHrm5z2Z5dFCLsN7WLQ_3W7iBKqr

[2021-02-19 15:45] badrazizi commented on #8586
while i was testing found another error in latest release which cause infinite buffering
[code]

- Device Xiaomi MI A1 Android 9 (android one)
- Version 2.13.1

[2021-02-19 15:56] ojw28 commented on #8585
This is fixed in `dev-v2`, and will be included in `2.13.2`. Thanks for reporting!

[2021-02-19 15:56] #8585 closed, assigned to ojw28

[2021-02-19 16:21] MrTommy94 opened #8611 "PIP flickering"
Hi,
I'm implementing PIP feature following the android developer guide.
When animating I'm using a `SurfaceView` (I can't use a `TextureView` because I can't play HDR videos).
When I am in pip mode and i tap on the pip window in order to show the control player i notice a flickering: the SurfaceView has a strange behavior as shown below:

![2021-02-19 17 10 00](https://user-images.githubuserconten

[2021-02-19 16:22] christosts commented on #8606
There is a similar discussion on #8116, which however needed to store the keySetId after renewal, whereas, correct me if I'm wrong, the difference is that you need to download a new licence again. Other than that, you effectively need the new keySetId to replace the previous one in the database.

[This comment on #8116](https://github.com/google/ExoPlayer/issues/8116#issuecomment-720492638) should

[2021-02-19 16:29] christosts commented on #8542
@Eliasdevlb will you be able to play the specific content on the device using the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html#playing-your-own-content) and provide the logs produced from the demo app? The demo app logs show which decoder was used (no content links are logged). You can email the logs to dev.exoplayer@gmail.com with subject "Issue #8542" if you prefer to not att

[2021-02-19 16:48] EliasDevSE commented on #8542
Yes, I will provide them over this weekend and I'll do my best to include a test playlist link in the email if possible.

[2021-02-19 17:35] christosts commented on #8557
for reference [internal ref b/180720722]

[2021-02-19 18:33] christosts commented on #8593
for future reference [internal ref b/180725591]

[2021-02-19 18:43] christosts commented on #8609
The logs show the same, both H264 decoders in the device cannot decode this stream

[code]

ExoPlayer picks the `OMX.qcom.video.decoder.avc` which is the hardware decoder, as a best effort but it fails to decode the video. The video resolution for H264 is beyond the device's capabilities. Please try a lower resolution, or perhaps explore encoding with a different codec in case the device has bette

[2021-02-19 20:13] badrazizi commented on #8586
It's seems the issue in the load control, I run the video 6 times so far no error on version 2.12.2 without load control
[code]
will continue testing just to make sure

[2021-02-19 21:06] TacoTheDank commented on #5246
Exoplayer's too fancy for Jitpack ;)

[2021-02-20 08:17] hsicen opened #8612 "Sometimes play local mp4 file with unexpected runtime error"
Below is the logcat:
[code]

[2021-02-21 09:18] volser commented on #2159
any updates here?

[2021-02-21 09:20] SepidehAkbarinezhad opened #8613 "Firebase performance plugin FileNotFoundException when updating ExoPlayer to 2.13.1"
hi, I have exoplayer in my project and I decided to update it to the latest version.

 I am using these dependency  :

    implementation 'com.google.android.exoplayer:exoplayer-core:2.13.1'
    implementation 'com.google.android.exoplayer:exoplayer-dash:2.13.1'
    implementation 'com.google.android.exoplayer:exoplayer-ui:2.13.1'
    implementation 'com.google.android.exoplayer:extension-ima:2.13

[2021-02-21 13:38] ThisIsSadeghi commented on #8613
I had a similar issue, fixed by updating the [Firebase performance plugin](https://firebase.google.com/docs/perf-mon/get-started-android#add-perfmon-plugin).

[2021-02-21 14:32] giladna opened #8614 "NumberFormatException when parsing mpd file with image/jpeg content type and SegmentTemplate duration is not Long"
Hi,

I got a url to explore dash thumbnails
Once I tried running it via the demo app of r2.13.1 I got the NumberFormatException during manifest parsing.
I am using Galaxy s10e with Android10

In order to run it  I had to support http playback in the demo app
so I updated the Manifest.xml under application section I have added :
`android:networkSecurityConfig="@xml/network_security_config"`

and al

[2021-02-21 16:20] ojw28 commented on #8614
Specifying duration as a floating point value is against the specification, which defines it to be an unsigned integer:
[code]
You should request that the content owner fix their content to be compliant to the specification. Since we have not seen other reports of this issue, it seems likely to be an isolated case, and therefore there isn't a strong argument for a client side workaround. Closing o

[2021-02-21 16:20] #8614 closed, assigned to ojw28

[2021-02-21 16:22] ojw28 commented on #8611
Thanks for the clear reproduction steps. I was able to apply your patch to enable PIP mode. It doesn't reproduce across all devices for me though. I suspect that it's an issue that has been fixed in a recent Android release. Either Android 11 or Android 10 based on the data points below. If you have a data point for Android 10 then that would be helpful, to fill in the gap.

* S8 - Android 9 - Rep

[2021-02-21 17:57] szaboa commented on #8435
Initial PR for "FontSize" is here: #8615

[2021-02-21 19:04] badrazizi commented on #8586
With load control, it's happen more frequently.
code to reproduce it.
[code]
Without load control it's happen but very rare, and only happened with me while internet (mobile data) high ping and slow speed

[2021-02-21 19:39] moneytoo opened #8616 "Audio track "Auto" doesn't play after switching tracks back and forth (video w/ TrueHD 7.1)"
When I play video files that include TrueHD 7.1 audio tracks, the "Auto" audio track selection (in `StyledPlayerView`) often results in no audio playback (even though all individual audio tracks play just fine).

Sample files: [matrix-sample.mkv](http://brouken.com/tmp/matrix-sample.mkv) or [Dolby Cinema demo](https://we.tl/t-k73Ong0SYN)

[Project for demonstration](https://github.com/moneytoo/Exo

[2021-02-21 19:46] kpandroid commented on #8557
@christosts got one more Chromecast to test - the same picture.

[2021-02-21 23:12] ScottPierce commented on #4835
Any update on this?

[2021-02-22 02:04] #8489 closed, assigned to andrewlewis

[2021-02-22 04:02] EliasDevSE commented on #8542
Here is the Log from the exoplayer demo
[exoplayer_demo_log.txt](https://github.com/google/ExoPlayer/files/6019417/exoplayer_demo_log.txt)
I will also send an email later today containing a demo file.

[2021-02-22 07:18] hyl0376 commented on #8456
I also reproduced this issue in 2.13.1 demo app.
The weird thing is that 'https://storage.googleapis.com/exoplayer-test-media-1/webvtt/numeric-lines.vtt' works fine but 'https://bitdash-a.akamaihd.net/content/sintel/hls/subtitles_en.vtt' doesn't.
sample setting :
[code]
reproduction step :
1. pre-roll play
2. before mid-roll play (15s), click 'SELECT TRACKS' at the top left and select text track '

[2021-02-22 08:07] miniesahni1 opened #8617 "Audio Effect"
Observed Behaviour
I am using “setAuxEffectInfo” in Exoplayer to add an effect audio track. I am able to play audio with the effect but not able to save the audio with effect.

Question: Is it possible to also save the audio with the effect applied?

[2021-02-22 09:21] MrTommy94 commented on #8611
Thank you for your support.
I tried your workaround and for the moment it seems to works great without any kind of side effects.
It seems to work for every device (brand and Android version). I will update you if i find some problems.
Thanks again.

[2021-02-22 09:22] hyl0376 commented on #8603
When you click 'Learn more' or press home key to go background and come back to foreground and then press 'skip' of first ad, it is reproduced often or even the first ad is not skipped...

[2021-02-22 09:25] giladna commented on #8614
@ojw28 maybe this has to be re considered

since I can see it is working on DASH-IF player

10x
Gilad.

http://reference.dashif.org/dash.js/v2.9.3/samples/dash-if-reference-player/index.html

with this url and float duration  duration="634.566"

`http://dash.edgesuite.net/akamai/bbb_30fps/bbb_with_multiple_tiled_thumbnails.mpd`

[code]

[2021-02-22 09:49] ojw28 commented on #8614
A single example of an MPD that violates the DASH specification doesn't warrant adding workarounds into clients. The owner of the content should fix it to be specification compliant.

Another player being able to play the content isn't a strong argument either. By that argument, every player would be expected to handle every type of invalid content that every other player handles. If that were the

[2021-02-22 09:54] icbaker commented on #8610
You can set the DRM license request headers when building your `MediaItem`.

https://exoplayer.dev/media-items.html#protected-content

https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.Builder.html#setDrmLicenseRequestHeaders(java.util.Map)

[2021-02-22 09:54] #8610 closed

[2021-02-22 10:18] waqasyousafy commented on #8608
what value of defaultloadcontrol should i set?

[2021-02-22 10:18] tonihei commented on #8604
Yes, you can overwrite `TrackSelection.shouldCancelChunkLoad` (e.g. by extending `AdaptiveTrackSelection`) to trigger a cancellation of the current chunk load.

[2021-02-22 11:11] ojw28 commented on #8538
These manifests are unusual because they define a period with a known duration (the period duration is known due to the `mediaPresentationDuration` attribute on the `MPD` element), but to which segments are still being appended.

ExoPlayer doesn't appear to handle this case correctly. This is because `DefaultDashChunkSource` assumes that a period is complete if its duration is known:

https://gith

[2021-02-22 11:22] waqasyousafy commented on #8608
am trying to play another video it is playing fine in xplayer and mx player but in exo buffering and buffering , loading and loading but video not play.
i am getting this error : Decoder failed: OMX.Exynos.hevc.dec
on newly played video here is the link:
https://drive.google.com/file/d/1_WXMY2YWixBdEaDuLPdYk-IniPuBXeyw/view?usp=sharing

[2021-02-22 11:26] Samrobbo commented on #8612
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2021-02-22 11:39] waqasyousafy opened #8618 "Error on playing mkv large file error: Decoder failed: OMX.Exynos.hevc.dec"
I am playing to mkv large file in exoplayer but getting the error

 Decoder failed: OMX.Exynos.hevc.dec
here is the link of video i am playing :https://drive.google.com/file/d/1_WXMY2YWixBdEaDuLPdYk-IniPuBXeyw/view?usp=sharing
here is the codec screen short

![codec](https://user-images.githubusercontent.com/22340353/108710777-50403100-7536-11eb-9932-9a393a7e5848.png)

[2021-02-22 12:43] halaei opened #8619 "SimpleCache: Try and retain UID if platform deletes from cache directory"
I see that `SimpleCache` creates a uid file in its cache dir. Also it has its own database to keep the list of files that are actually cached. That makes me wonder if `SimpleCache` is really compatible with `context.getCacheDir()`. What will happen when the OS removes all/parts of the files in cache directory? Does android delete files all togheter or it may delete some of them, probably that uid

[2021-02-22 13:10] AnjelloNordija commented on #8538
@owj28,

Thanks for the feedback. Will this issue be fixed on a future release of ExoPlayer? If so, how far down the line will that be?

Best Regards,
Anjello

[2021-02-22 13:54] Samrobbo commented on #8613
Let us know if updating the firebase plugin, as recommended by ThisIsSadeghi, helps with your issue. Thanks!

[2021-02-22 14:38] DrewsWaoo commented on #8538
I don't know if it will be easy to omit the `mediaPresentationDuration` as the streaming platform is a commercial product and if I understand your answer correct the manifest comply the the DASH standard. Then it is not a bug with SLA - but instead a feature request to be able to remove a tag in order to make an open source player to work. It is not impossible - but I don't know what will be faste

[2021-02-22 14:47] icbaker commented on #8456
I can reproduce what you're seeing using the instructions in https://github.com/google/ExoPlayer/issues/8456#issuecomment-783149153.

I believe this happens because the subtitles aren't correctly 'ended' when transitioning into the ad period. I'm not sure exactly why that is yet, I'm going to investigate further. It's likely related to the fact that sideloaded subtitles generally don't work correc

[2021-02-22 14:56] ojw28 commented on #7326
There are a bunch of things that need fixing here:

1. The case where the entire stream is cached already but `SimpleCache` doesn't know the stream's length. This can happen in the edge case that a previous write attempt fails right at the very end, between having written the last byte to the cache and having established that there are no subsequent bytes. To correctly handle this case, `CacheData

[2021-02-22 16:37] SepidehAkbarinezhad commented on #8613
tnx to him , the solution worked for me too.

[2021-02-22 17:00] jrocharodrigues opened #8620 "Get Low-latency live streaming adjusted playback speed"
Hi,

Is it possible to get the current speed of the player (the on that the renderer is using?
I'm trying to get it in order to have some data to help in the adjustment of the stream parameters for Low-latency live streaming, but i couldn't find i way to observer it.
I've thought i could obtain it using the onPlaybackParametersChanged callback, but those values doesn't change even when the Default

[2021-02-22 17:11] Samrobbo commented on #8617
ExoPlayer is a playback library, so the effects are only applied as the audio is processed by the device. Therefore there is no way to save or store audio once it has been adjusted by ExoPlayer effects.

[2021-02-22 17:11] #8617 closed, assigned to Samrobbo

[2021-02-22 17:13] tonihei commented on #8620
We didn't add a callback for this under the assumption that the actual speed is an implementation detail.

Could you provide more details on the type of adjustment you are planning to understand if such a callback would be generally useful?

If you'd like to get some insights in the behavior of the algorithm during run time you could either add logging directly in `DefaultLivePlaybackSpeedControl`

[2021-02-22 17:29] icbaker commented on #8456
I can also reproduce the same problem without using ads, just by concatenating a clipped MergingMediaSource with subtitles and a ProgressiveMediaSource:

[code]

At 5 seconds the second video starts playing, but the subtitles continue to be rendered on top of it. This is unexpected. At the end of the second video, it seems to pause and the subtitles continue to render until the subtitles are compl

[2021-02-22 17:31] adoudech commented on #8594
@krocard Any updates on this issue please? Thanks for any suggestions/clues

[2021-02-22 17:38] Samrobbo commented on #8618
Hi

The access is denied for me to access that video. Please provide public access and let me know once you've done that.

If there is an issue with giving public access, you can email it to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2021-02-22 17:52] jrocharodrigues commented on #8620
Hi,
Thanks for the quick answer, i'll go with wrapper for now.

The use case here is to have some statistics on how often, and how, the adjusted speed changes to use that data to better configure the streaming server and/or the app and reduce that behaviour.

Me and my team are starting to experiment LL Live Streaming, to take it to production in near future, and at least in this stage this data s

[2021-02-22 17:58] #8613 closed, assigned to Samrobbo

[2021-02-22 18:15] nandovelazquez opened #8621 "Why getSelectedIndex in FixedTrackSelection is returning 0"
Hi,
In my application, I try to get the selected audio track by getting the TrackSelection first and then looking for its selected index. I noticed I was always getting 0 from `trackSelection.getSelectedIndex()` and I found that this is hardcoded only for the `FixedTrackSelection` class and not for the `AdaptiveTrackSelection` class.

Is there any particular reason for this? Is there another way t

[2021-02-23 02:04] #8499 closed, assigned to marcbaechinger

[2021-02-23 02:04] #8254 closed, assigned to icbaker

[2021-02-23 04:55] waqasyousafy commented on #8618
ok  https://drive.google.com/file/d/1_WXMY2YWixBdEaDuLPdYk-IniPuBXeyw/view?usp=sharing

[2021-02-23 05:53] KatieBarnett opened #8622 "Streaming one particular file gives glitched green & pink video"
I have on particular video that is not playing correctly when using Exoplayer 2.13.7 (I have also seen the same with version 2.11.7) on some devices.

Affected devices: Pixel 2 XL, Pixel 3 (both Android 11)
Working devices: Samsung S20 (Android 10)

The video is all distorted and green & pink. Other videos play correctly. The sound from the video is correct and undistorted.

I am not getting any '

[2021-02-23 06:36] nebyan opened #8623 "ExoPlayer Ima SDK Extension Offline Usage Stuck!!"
Issue Description

I try to use ima url before playing my media content with exoplayer. When the device is offline if I try to play the media with ima url the player stucks at buffer state. It never sends any log so I cannot continue to play media content.

Exoplayer Version Number : 2.13.1
Android Version: Android 9 - Android 10
Android Devices: Any Android devices

Thank You

[2021-02-23 09:08] andrewlewis commented on #8603
I can reproduce this. After a while the provided ad tag stopped providing a skippable first ad but I was able to see what looks like the same behavior using the sample "VMAP midroll ad pod at 5 s with 10 skippable ads". There seem to be a couple of issues:
- In some cases, the IMA SDK appears to think that the `loadAd` call hasn't been handled via `onLoaded`, even though it looks like the IMA exte

[2021-02-23 09:33] kgrevehagen opened #8624 "Force clear all downloads"
### [REQUIRED] Use case description
I want the possibility to remove all downloads in a single operation. What I mean by this is not the functionality that is there today where what is actually happening is that is loops through all downloads and removes them one by one, but rather something that force drops the download database(or all its entries) and deletes all the downloaded files on disk.

T

[2021-02-23 09:38] MrTommy94 commented on #8611
Hi,
after a session of tests on different devices we noticed that the problem is still present on some devices.

Devices:
- Xiaomi 9T, miui 12, Android 10
- Pixel 3 XL API 29 (Emulated)

Git diff:
[code]

https://user-images.githubusercontent.com/30128519/108824648-4106c500-75c2-11eb-8e8d-07570ec8dc3e.mov

[2021-02-23 10:43] christosts commented on #8597
@ojw28 can you take a look?

[2021-02-23 11:22] ojw28 commented on #8538
Yes, although I don't have a timeframe at the moment. The correct fix requires a bit of further thought.

The problem isn't that the player stops refreshing the manifest. Manifest refreshes are still happening. The problem is an implementation detail where some logic deeper in the player thinks that no further segments will be appended to the period. `type="dynamic|static"` isn't sufficient to det

[2021-02-23 12:08] Lua12138 commented on #8468
Thank you for your reply.
If I want to get NV21 data before rendering to Surface, and make some modifications before rendering, is there any suggestion?

[code]

[2021-02-23 12:46] tonihei commented on #8620
Thanks. Please let us know if you find something useful :) And also if you think it would be helpful to have a callback for this in the long term and not just for your debugging/tuning.

[2021-02-23 13:16] andrewlewis commented on #8468
You'd need to use `MediaCodec` in `ByteBuffer` mode then render to the surface yourself, or try rendering to a `Surface` created from a `SurfaceTexture` then read back so you can process the bitmap from the CPU (as described at the end of my previous comment).

[2021-02-23 13:24] jrocharodrigues commented on #8620
Ok, i'll leave some feedback in the future.

[2021-02-23 13:56] Samrobbo commented on #8618
Given that the content is pirated, I can't do much debugging. It's very likely that the pirated movie was recompressed with questionable codec settings, and that's whats causing the issue.

If you have another MKV file that is NOT pirated media and is exhibiting the same behaviour, we may be able to look into this more.

[2021-02-23 13:56] #8618 closed, assigned to Samrobbo

[2021-02-23 16:49] #8575 closed, assigned to kim-vde

[2021-02-23 18:53] MichealReed opened #8625 "DefaultBandwidthMeter never unregisters, which can lead to a crash with looped calls."
After continuously looping start/stops for reconnection when a stream goes down or connection is lost, I found a crash. It seems nothing ever unregisters the receiver registered in the code below, which eventually causes exoplayer to fill the android limit of 1,000. It may be worth taking another pass at the other DASH related stuff to ensure receivers are being unregistered.

https://github.com/g

[2021-02-23 18:58] christosts commented on #8542
Thank you for providing the logs @Eliasdevlb. I can see the player picked the hardware decoder

[code]

and the content contains a single track with resolution at 1920x1080. If it is similar content as the one you [posted above](https://github.com/google/ExoPlayer/issues/8542#issuecomment-773370381), then I assume is encoded at ~6Mbps with frame rate 29.97. From the information we have so far, it

[2021-02-23 19:04] christosts commented on #8557
I'm reporting from the Chromecast team:

Issue cannot be reproduced at the moment. The bugreport that you attached had a few network errors while playing the content.  The Chromecast team asked if it's possible to play the content locally from your device to eliminate the possibility of the error being related from the network errors. If the issue persists, please attach a new bugreport.

Thanks

[2021-02-23 19:06] christosts commented on #8533
I plan to commit the change this week. :)

[2021-02-23 19:31] natario1 opened #8626 "RTMP dependency is discontinued"
The RTMP extension is powered by https://github.com/ant-media/LibRtmp-Client-for-Android . It's not stated in README, but the library is [not maintained anymore](https://github.com/ant-media/LibRtmp-Client-for-Android/issues/94#issuecomment-779656022).

It still works, but you might want to look for alternative libraries.

[2021-02-23 19:50] christosts commented on #8586
From the information you have provided so far, it looks like the error appears on your app with mobile data and using the custom load control.

To narrow down the problem, can you please try using the following:
- the demo app, with no changes, using mobile data and ADSL
- the demo app, using your code snippet for building the LoadControl, on mobile data and ADSL. The demo app creates the player i

[2021-02-23 20:27] EliasDevSE commented on #8542
I will check out the experimental branch later this week and report back. I am still trying to provide a playlist link but it's a bit complicated.

[2021-02-24 02:49] ryxryx opened #8627 ""player control" component behaves differently between TalkBack (Accessibility) on and off"
Steps to reproduce
- Enable "TalkBack" on your Android device
- Run exoplayer demo app
- Go to play any video
- Tap on player area -> TalkBack says "show player controls"
- Activate it (by double tap or however you set up accessibility on your device) -> Player controls are shown
- While player controls are still shown, activate again -> video is paused
- While player controls are still shown, act

[2021-02-24 03:26] #6339 closed, assigned to ojw28

[2021-02-24 04:42] waqasyousafy commented on #8618
what is the solution bros other players are playing that media also is it recompressed with questionable codec settings.????

[2021-02-24 09:02] dendrocyte commented on #6168
I try your solution, then it work first video
When playback to the end, it will hit this exception
I use Exoplayer v2.12.1
Any solution?

[2021-02-24 09:55] elgsylvain85 commented on #7520
Hi,

I experienced the same error and after a whole day of debugging, I understood that the problem came from the video resource I was loading (in my case, the https request was subjected to basic authentication before returning the video) and like "VideoPlayerController.network (...)" launches the request in parameter in the hope that it directly returns a video resource then it crashes if it is

[2021-02-24 10:33] ojw28 opened #8628 "Provide thread safe way to modify custom SimpleCache evictor"
Filed in response to: https://github.com/google/ExoPlayer/pull/8589.

Most custom player components are used by ExoPlayer on the playback thread. To modify such components in a thread safe way, we suggest that developers should use ExoPlayer's message passing functionality (`ExoPlayer.createMessage`) to deliver changes on the playback thread.

For a custom `CacheEvictor` injected into `SimpleCache

[2021-02-24 10:41] ghost commented on #8606
Thanks for your answer, all these points are interesting and I will investigate them.

For the third point I confirm that it works as you said. I test it and it works fine, but I encountered a new issue due to a limitation in our side. The Manifest url is protected with a limited duration url. So I can renew the DRM using this method during few hours, but past a day I no longer be able to download

[2021-02-24 10:49] christosts commented on #8606
It looks like you have solved the initial problem, getting a new licence and updating the download in the database. Therefore I will close this ticket. If there's something is not working as expected with respect to the initial question, feel free to re-open this issue.

[2021-02-24 10:49] #8606 closed, assigned to christosts

[2021-02-24 11:56] christosts commented on #8608
this question was also asked in #8618, we cannot respond because the authenticity of the content seems questionable.

[2021-02-24 12:28] christosts commented on #8602
On the original graph, there is an interval of `~4 minutes` between labels `video freeze` and `restore video`. During that time, the player is probably buffering content. By default, the player would automatically start playback if at least 5 seconds of video is buffered. As I originally wrote, if the 200MB of memory were occupied by buffered content, for those 5 seconds of content needed, the vid

[2021-02-24 12:49] ojw28 commented on #7194
We made some fixes to `audioSessionId` handling in `2.13.0`, which largely resolved this issue. There is one remaining issue, which will be fixed in `2.13.2`, which is scheduled for release over the next week or two.

[2021-02-24 13:08] ojw28 commented on #8618
@waqasyousafy - If you're going to open issues on this issue tracker, _please_ start filling in the issue template properly. A one line issue description akin to "doesn't work" is not useful to anyone, and spams a relatively large number of people with a pointless email.

If content is not playing correctly, please fill out the [issue template](https://github.com/google/ExoPlayer/issues/new?assign

[2021-02-24 13:13] #8578 closed, assigned to kim-vde

[2021-02-24 13:13] #8577 closed, assigned to kim-vde

[2021-02-24 13:58] christosts commented on #8533
There is a regression while testing this change. Assume the following playlist sample, which has a video track and an I-Frame track, both without CODECS and RESOLUTION as per spec:

[code]

As the code is structured at the moment, with the suggested change, it would pick up only the I-Frame track and skip the first (video) track, which is also incorrect. It would require a bigger code change to fi

[2021-02-24 14:13] davydovvladimir commented on #8533
@christosts,
I didn't know about these recommendations.
Thanks.

[2021-02-24 18:47] okycelt opened #8629 "How to use Jetpack Compose with ExoPlayer?"
Hello,

Has somebody tried to use ExoPlayer with Jetpack Compose? If so, do you have any recommendations? I've tried to post a question for today's #TheAndroidShow but didn't get a reply. The only thing I found online is people recommending to wrap `PlayerView`, `SurfaceView` or `TextureView` in an `AndroidView` composable.

Thanks in advance

[2021-02-24 19:44] motokazmin commented on #8602
Hi @christosts
I have reproduced bug on exoplayer test app + udpxy + packets drop on mikrotik. Same behaviur. Now you can reproduce it easy. I will upload modified exoplayer demo project + executable udpxy service + modified media.exolist.json

[udpxy.zip](https://github.com/google/ExoPlayer/files/6038459/udpxy.zip)
.
Below is small howto 👍

1. Wrapper on udpxy
        demos/main/src/main/java/com

[2021-02-24 21:58] mars-byte opened #8630 "Failed to build FFmpeg extension"
I followed instructions https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md.  but I'm facing some issues:

`~/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi16-clang is unable to create an executable file.
C compiler test failed.
~/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang is unable to cr

[2021-02-24 22:33] inat-tv commented on #8610
Thanks. I guess as below in the demo application. How do we write these titles?

[code]

[2021-02-24 22:48] #8630 closed, assigned to ojw28

[2021-02-25 06:30] 0xb0ba commented on #8602
you can run udpxy in any convenient way, for example adb.
drop multicast packets for example iptables:
"iptables -A INPUT -i eth0 -d 225.0.0.0/8 -m statistic --mode random --probability 50 -j DROP"

scheme: network--multicast--drop--udpxy--http--player

[2021-02-25 09:25] kim-vde commented on #8581
Yes, you are right. It is better to use the latest LTS version because it is supported for longer (I don't know about the regressions in r22). I updated the guidelines.

[2021-02-25 09:25] #8581 closed, assigned to kim-vde

[2021-02-25 09:56] icbaker commented on #8610
I don't understand what question you're asking.

The demo app code you've quoted is related to handling offline DRM for downloaded content.

[2021-02-25 10:10] jianxiaobai999 opened #8631 "m3u8视频地址慢，可以开起多线程缓存吗？直到影片全部缓存完成"

[2021-02-25 10:47] jarnova opened #8632 "TextOutput onCues called multiple times with same cue text with segmented WebVTT subtitles"
Our stream provider recently changed the way the subtitles are segmented so that a subtitle segment length is the same as the video segment. So now one .vtt file contains subtitles for a 10 second period. Now there can be multiple subtitle segments that contain the same cue if the cue should be visible in 2 different segments.

Example .vtt segments:
**seg-38.vtt**
WEBVTT

28
00:05:47.160 --> 00:0

[2021-02-25 11:12] icbaker commented on #8632
I think this will work actually, because of the way TextOutput uses an empty List<Cue> to indicate 'breaks' between subtitles.

When seeing the subtitles on-screen, there's expected to be no visual difference between these call sequences:
[code]

[code]

If you want your `TextOutput` implementation to mimic this behaviour then it seems the right thing to do is only 'speak' subtitles when they're d

[2021-02-25 11:12] #8632 closed, assigned to icbaker

[2021-02-25 11:58] samuuh commented on #8593
Hi, I noticed that tags are now updated as "bug: in platform". Do you have any more information on this? Is there any way we can work around this? The content is playing if some conditions have been met. It is unclear to me what these conditions might be, all the tracks on that provided sample do seem work on the emulator after manual track change.

[2021-02-25 12:25] itsdani121 opened #8633 "How to stop ExoPlayer (in a RecyclerView) audio from playing after onStop method?"
I tried all StackOverflow answers and youtube solutions but cannot found anything suitable that's why I post my question in it.

I want to make an app like Instagram which I show images and video but the issue is

when I swipe up in recycler view all video play automatically not only single shown screen.
when I back pressed the button then only the last video stop with audio other videos(audio) st

[2021-02-25 12:36] Samrobbo commented on #8631
Hi,

Is it possible to give some more information? Ideally in English (don't worry if it's not perfect).

I saw you had pasted the issue template here. What we actually need is for you to fill it in, so answer the questions it asks and provide the information it says about.

The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2021-02-25 12:38] Samrobbo commented on #8621
The `FixedTrackSelection` class javadoc states `A {@link TrackSelection} consisting of a single track.`. Therefore `getSelectedIndex()` for that track selection will always return 0, because that's the only track index it knows about.

If you give me some more information about what you're trying to do, I can try to assist more.

[2021-02-25 13:46] ojw28 commented on #8621
`TrackSelection.getSelectedIndex` is not actually intended for application use. It's a method internal to the player that's used to control adaptive track selection. In `2.14` we'll be making it harder to access, for this reason.

If you want to query the selected track, use some combination of `TrackSelection.getFormat`, `TrackSelection.getTrackGroup`, `TrackSelection.getIndexInTrackGroup` and `T

[2021-02-25 13:54] jarnova commented on #8632
Thanks for the fast reply and explanation. Our subtitles are authored so that there is only one subtitle on screen at a time and they should be in a format that is readable by text-to-speech so there won't be those kind of cases that you mentioned in your examples.

I didn't notice at first that the method will be called with an empty array when there is a change from one subtitle to another so th

[2021-02-25 13:55] tonihei commented on #8628
I'n not sure I understand how this should pose a problem. Deadlocks between two mutexes are only a problem if two threads try to hold both mutexes together at the same time, but try to acquire them in a different order. The SimpleCache mutex and the evictor mutex are only acquired together by the code paths entering through the public SimpleCache methods. So as long as we always acquire the Simple