[2020-08-11 07:58] #7730 closed, assigned to andrewlewis

[2020-08-11 08:21] andrewlewis commented on #7736
Duplicate of #7363.

[2020-08-11 08:21] #7736 closed, assigned to andrewlewis

[2020-08-11 08:26] andrewlewis commented on #7727
Could you try the suggestions from item 3 in my previous comment, to try to work out why the duration is becoming set when it's initially unset? Or if you are looking for a quick fix, perhaps you could try switch to using an MPEG-TS container?

[2020-08-11 08:54] ojw28 commented on #6166
No

Although not directly what you're trying to achieve, I think a good first step would be to add `requestHeaders` to `MediaItem.PlaybackProperties`, and use them in the various `MediaSource` implementations for playback. It doesn't really make logical sense to support something for downloads and not for playback, so I think this should be done first even if you don't need it yourself.

Then for

[2020-08-11 09:55] ghost commented on #7640
@AquilesCanta doing the suggestion above
[code]

I still get the green screen 😞

[2020-08-11 10:05] AndersonCrew opened #7737 "How can I Play Video and Audio file in the same window?"
I have 2 files (Video and Audio), so I need to Playing both of them into same window?
Can anyone tell me how can I do this? Thanks!

[2020-08-11 13:51] xoancosmed commented on #7661
I'll try with a custom BandwidthMeter and with those simplifications. Thank you so much for the explanation @tonihei

[2020-08-11 14:04] andrewlewis commented on #7737
This is the same as #7736. Please don't file the exact same issue repeatedly as it wastes time. If you need more help I think you can reply on #7736.

[2020-08-11 14:04] #7737 closed, assigned to andrewlewis

[2020-08-11 15:33] kschults commented on #6166
Thanks for the info.

For future questions, is there a better way to ask, or is leaving them here the best place?

[2020-08-11 15:36] sanojlawrence commented on #7701
@ojw28  here is what i tried https://github.com/sanoj26692/pay/blob/master/player

here when i try to play from URL (hosted) i was able to play the file

[code]
But when i try to play the same file from SD card the video plays but i don't see any frames (picture) and attached the log below.
The issue is i can play file from `online` but the same file was not able to play in `offline` (from SD card

[2020-08-11 15:46] Mavrick102 commented on #7546
yo how did u get L1 CDM? can u send it to me via message and ill help u

[2020-08-11 16:00] ojw28 commented on #6166
Here is fine; thanks!

[2020-08-11 16:04] Mavrick102 commented on #6166
hey how did u extract l1 cdm?? can u send me it and the files for it please
and ill help u to get it working :)

On Tue, 11 Aug 2020 at 17:02, Oliver Woodman <notifications@github.com>
wrote:

[2020-08-11 16:05] Mavrick102 commented on #6166
can someone send me the L1 CDM via email and ill help with it

[2020-08-11 20:50] rrfrias commented on #7720
@ogawa-ma , there is not enough information for us to determine the root cause of this problem. The DrmSessionException in this case is a MediaDrmStateException. If you can cast and log [MediaStateException#getDiagnosticInfo](https://developer.android.com/reference/android/media/MediaDrm.MediaDrmStateException#getDiagnosticInfo()) that will narrow down the problem. The most useful logs are in the

[2020-08-11 22:41] jt64 commented on #7648
Based on the log message, the license response looks invalid. A network request is required to renew the license. Can you describe the steps your app is taking to do the license renewal? Also can you verify on the server that a valid renewal message was returned?

[2020-08-12 02:44] ren93 opened #7738 "How to read SEI from FLV format video?"
Hello,I want to read SEI while playing a flv video。

[2020-08-12 07:17] icbaker commented on #7738
This is the same as #7717. Please don't file the exact same issue repeatedly as it wastes time. If you need more help I think you can reply on #7717.

[2020-08-12 07:17] #7738 closed, assigned to nobody

[2020-08-12 07:22] ren93 commented on #7717
Sorry,I want to read SEI while playing a flv video,not hls video。

[2020-08-12 07:35] zengyunpeng opened #7739 "I can not play a mp4 file,while other mp4 file work fine"
i want to play a mp4 file,but it does not work,black screen and not voice ,while other work fine,this is my code and log ,sorry for my poor English

code:

        DataSource.Factory dataSourceFactory =
                new DefaultDataSourceFactory(mContext, Util.getUserAgent(mContext, mContext.getString(R.string.app_name)));
        MediaSource mediaSource =
                new DashMediaSource.Fac

[2020-08-12 07:40] JaredLees opened #7740 "TS video block to exclude special binaries"
To prevent the M3U8 video stream from being used by others, I added some special binaries to the TS video block. I wanted to use Exoplayer to exclude special binaries before playing them. How could I do that?

[2020-08-12 08:03] ghost opened #7741 "[OMX.qcom.video.decoder.avc] storeMetaDataInBuffers failed w/ err -1010"
I encountered an error while using [react-native-video](https://github.com/react-native-community/react-native-video), some videos can be played normally, some videos have errors

Is there any solution?

error message:

[code]

[2020-08-12 08:10] andrewlewis commented on #7740
By "added some special binaries" do you mean that the TS stream contains additional data that your app needs to throw away to get a valid stream (designed to make players without this functionality fail to play the stream)? Or something else? It's a bit unclear what you are asking, so I may have completely misunderstood the question.

If it is the former, the details will depend on how the extra d

[2020-08-12 08:19] JaredLees commented on #7740
Thank you. That's the first case you mentioned.

I want to add some special binaries at the beginning of the stream, if I don't customize, but want to rewrite some code in HlsDataSource to implement it. I want to know where is the entry point for reading TS data before each play, and I want to process the file at the entry point.

[2020-08-12 08:19] andrewlewis commented on #7739
It looks like this stream exceeds device capabilities:

[code]

2700 by 2400 pixels is large and doesn't look like a widely-used resolution (especially the height – this is higher than common 4k streams, which are 2160 pixels high). See also https://exoplayer.dev/supported-formats.html#sample-formats

[2020-08-12 08:19] #7739 closed, assigned to andrewlewis

[2020-08-12 08:24] JaredLees commented on #7740
After reading the source code of exoplayer and seeing the TsExtractor, can I do this operation for it in the Read method?

[2020-08-12 08:30] andrewlewis commented on #7740
If the only difference between the stream you are serving and a 'normal' (valid) MPEG-TS stream is that you always have some extra bytes at the start, you can probably do this by writing a custom `DataSource` that skips the first _n_ bytes. That would be straightforward and is format-agnostic.

If you are embedding the extra data somewhere else in a more complicated way that depends on the MPEG-TS

[2020-08-12 08:30] #7740 closed, assigned to andrewlewis

[2020-08-12 08:33] andrewlewis commented on #7741
This is a generic exception from the media framework. To be able to help we need more information, like a bug report captured via `adb bugreport` just after seeing the error. Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2020-08-12 08:36] JaredLees commented on #7740
I just want to confirm that There is no problem for me to do this at TsExtractor. Thanks for your reply and Suggestions!

[2020-08-12 09:32] marcbaechinger commented on #7733
To hide the navigation button it is sufficient to `setUseNavigationactions(false)`. This makes the previous/next button not appear anymore.

The seekbar is displayed by the system automatically when the duration of the media is set in the playback state of the notification. The `PlayerNotificationManager` already does this.

I'm not sure what the reason is to subclass the `PlayerNotificationManage

[2020-08-12 09:43] marcbaechinger commented on #7615
Difficult to diagnose why you only receive a `onPause`. You need to find out why no acton arrives from Assistant.

Can you do a

`adb shell dumpsys media_session`

while your app is running and ready to receive media session commands and a paste the output here?

You can also create your own `MediaControllerCompat` and connect to the media session that you are exposing with the `MediaSessionConnec

[2020-08-12 09:47] ravisaini1990 commented on #7733
I am using Mi A3 Android 10. The difference I am getting is that rewind and fast forward options are not coming by default on locked screen that's the reason I wanted to customize it for compact view actions.

Now not using custom actions for compact and have set
playerNotifManager?.setUseNavigationActions(false)
 playerNotifManager?.setUseNavigationActionsInCompactView(true)

But on a locked scre

[2020-08-12 09:59] marcbaechinger commented on #7733
I'm not sure how the vendor creates the controls on the lock screen. I guess they are doing something differently than normal Android. Vendors can change the lock screen to behave differently.

My guess is that they either just generally allow the play/pause button only. If that is true, then all other audio apps like YouTube Music or Spotify would also only have the play/pause button? Do you see

[2020-08-12 10:09] marcbaechinger commented on #7643
ExoPlayer is storing downloaded media data in an internal format which is not designed to be played by other players than ExoPlayer I'm afraid.

[2020-08-12 10:12] marcbaechinger commented on #7620
Best is [to capture a full bugreport](https://developer.android.com/studio/debug/bug-report) just after the problem occured. You can then upload the bug report here.

[2020-08-12 10:13] marcbaechinger commented on #7527
Closing due to inactivity.

[2020-08-12 10:13] #7527 closed, assigned to marcbaechinger

[2020-08-12 10:15] marcbaechinger commented on #7528
Closing due to inactivity. Please re-open as needed.

[2020-08-12 10:15] #7528 closed, assigned to marcbaechinger

[2020-08-12 10:19] ravisaini1990 commented on #7733
I am using Mi A3 Android 10. The difference I am getting is that rewind and fast forward options are not coming by default on locked screen that's the reason I wanted to customize it for compact view actions.

Now not using custom actions for compact and have set
playerNotifManager?.setUseNavigationActions(false)
 playerNotifManager?.setUseNavigationActionsInCompactView(true)

But on a locked scre

[2020-08-12 10:23] ravisaini1990 commented on #7733
Yes i could see the control for other apps, the similar behaviour I need So my player should have following controls -
Locked Screen - 3 action
Rewind, Play/Pause, Fast Forward
For expanded Player in the notification -
Rewind, Play/Pause, Fast Forward along with progress seekbar

Mentioning below the Output of requested command -

[code]

[2020-08-12 10:33] AquilesCanta commented on #7717
This is not supported out of the box by ExoPlayer and I don't think we can reasonably allocate time to address this use case.

I think the best advise I can give you is too fork [FlvExtractor](https://github.com/google/ExoPlayer/blob/dev-v2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/flv/FlvExtractor.java) to do the parsing manually, and then inject your FlvExtractor im

[2020-08-12 10:33] #7717 closed, assigned to AquilesCanta

[2020-08-12 10:37] AquilesCanta commented on #7740
I think, as @andrewlewis points out, it's better if you do it in the DataSource. After the open call and before the first read() call (maybe during open()). TsExtractor.read() will be invoked after sniffing. But sniffing will fail if there is a blob before the TS, which means you'll never reach the read call.

I think that's up to you, considering you are responsible of prepending the binary data.

[2020-08-12 11:24] marcbaechinger commented on #7733
Thanks! I assume the app with the package name you obfuscated is your app.
The output shows that that app exposed two media sessions:

[code]

These two session declare that different actions are supported for each of the session:

[code]

The first session has the bitmask `2360143` this includes all the actions which you are expecting while not including `ACTION_SKIP_PREVIOUS` and `ACTION_SKIP_NE

[2020-08-12 11:37] marcbaechinger commented on #7636
What is the type of the member variable `mTransportControlGlue` in your code? I think it should be

[code]

whereas the output you get

[code]

suggests, it is `PlaybackTransportControlGlue<MediaPlayerAdapter>`. Can you double check that you are using `PlaybackTransportControlGlue<LeanbackPlayerAdapte>`?

[2020-08-12 11:41] ogawa-ma commented on #7720
@rrfrias
Thank you for your reply.
This was the value I got from the MediaStateException＃getDiagnosticInfo
`android.media.MediaDrm.error_neg_2000 `

[2020-08-12 11:52] ravisaini1990 commented on #7733
Now after the same sequence as you told , here is the output - but still on locked screen i just see play/pause action alone

[code]

[2020-08-12 12:33] ravisaini1990 opened #7742 "Exo Player in notification using playerNotificationManager not showing rewind & fast forward in locked screen"
For locked screen, I need following -
1) Rewind  2) Play/pause 3) Fast-forward

and for expanded notification -
1) Rewind  2) Play/pause 3) Fast-forward 4) Progress seekbar

I am using following flags -
[code]

[2020-08-12 12:45] marcbaechinger commented on #7733
It seems to me that there are now 4 sessions from your app. Can you confirm? If so it is worth to bring the app in a state that it only exposes one single media session. This way we can rule out problems of the system using another session than we expect.

Can you please send me a screenshot of both, the notification in the notification drawer and the notification on the lock screen?

To clarify w

[2020-08-12 12:53] ravisaini1990 commented on #7733
https://ibb.co/SrQ2Rp3
In Image above is expanded view and below is the locked screen view in same image

@marcbaechinger

[2020-08-12 12:53] kuailedeadai opened #7743 "seek slow"
Hello, when I am testing the seek to drag the video, it takes a very long time for the gop long video file, but we compare mx player, they seek the same video file, fast and ready, does exoplayer have time to do it? Optimization, or any ideas can be shared? Thank you

[2020-08-12 13:09] andrewlewis commented on #7743
Does the information in #6794 help?

I noticed you mentioned 'gop long' -- do you mean the groups of pictures (GOPs) are long, so keyframes are sparse? If so I'd recommend producing streams with denser keyframes if you want seeking to be responsive (though of course that doesn't explain different behavior from ExoPlayer and MXPlayer on the same stream).

[2020-08-12 13:20] marcbaechinger commented on #7733
Ok, that's fine then. If you expand the notification on the lock screen you will have the rewind/fastforward buttons and the seekbar. That's what the `PlayerNotificationManager` provides. There is no support to make the rewind/fastforward buttons visible in compact mode yet. I mark this issue as an enhancement. It's not something we will start work on it immediately though, so I can't tell you whe

[2020-08-12 13:31] marcbaechinger commented on #7742
I'm not sure why you are opening a different issue for the thing we just discussed quite closely in #7733 I appreciate that `PlayerNotificationManager` is not doing exactly what you want, and marked issue #7733 as enhancement accordingly. If you think you get another engineer to act differently I doubt it.

Closing as duplicate of #7733

[2020-08-12 13:31] #7742 closed, assigned to marcbaechinger

[2020-08-12 13:45] giladna commented on #1497
@tonihei I would also suggest supporting scenario where app will want to download part of the stream but from specific position and not only from the start and give the duration that is requested to download as a parameter

[2020-08-12 14:13] ahmetberkinc opened #7744 "Getting subtitle list at HLS"
Hello, I'm playing HLS type video using exoplayer. I can access audio data via player's trackgroups and make assignments. Is it possible to see what subtitles are available in the video and make assignments by using setPreferredTextLanguage()?

[2020-08-12 17:53] ojw28 commented on #4057
This should be fixed by https://github.com/google/ExoPlayer/commit/5342576e734f6e47007a3a61e3ccfc45a211e70e.

[2020-08-12 17:53] #4057 closed, assigned to andrewlewis

[2020-08-12 18:06] AquilesCanta commented on #7640
At this point there is not much I can do, since this is an issue I cannot reproduce in an old version of an old device which I don't have. I can't really think of a workaround we could add in the library either. Perhaps someone in my team can think of something.

That being said, something I would try would be listening for `onRenderedFirstFrame` and, when that happens, you can recreate the surfac

[2020-08-12 18:14] krackjack234 commented on #7607
hi @christosts when you saw the video, was it the same stream as the one seen in the video recordings we shared?
We found that the issue is seen more when user is connected to mobile data and not wifi.

[2020-08-12 18:40] krackjack234 opened #7745 "When Exoplayer will throw BaseRenderer.createRendererException"
### [REQUIRED] Searched documentation and issues
Searched documentation and went through https://github.com/google/ExoPlayer/issues/7491 raised by us but we dont understand why this issue happens randomly on same device

### [REQUIRED] Question
When exoplayer throws BaseRenderer.createRendererException ?

### A full bug report captured from the device
We are seeing random errors on certain devices

[2020-08-12 19:04] MrtDolphin0128 opened #7746 "Australian Subtitle is not showing for livestream"
Subtitles are not visible for streaming videos.

[2020-08-12 22:58] msilucifer opened #7747 "Need help about pushing my code to repository"
I made a customized engine for Australian Subtitles in streaming mode.
I want to share this code but I am not sure how to push it.
When i try to push my code it says the following.

[code]

Waiting for your helps.
Best

[2020-08-13 00:20] zsmatyas commented on #7747
I think you need to fork your own copy of the exoplayer repository. You will have full access to that copy. Then you push the changes to that copy. After this in the stock exoplayer repository, you can create a pull request between the two.

[2020-08-13 01:04] #7628 closed, assigned to marcbaechinger

[2020-08-13 01:04] #7610 closed, assigned to jt64

[2020-08-13 01:04] #7587 closed, assigned to marcbaechinger

[2020-08-13 02:09] Daktm opened #7748 "Play local mp4 video get ArrayIndexOutOfBoundsException."
### [REQUIRED] Issue description
Play a local mp4 video sometime get a ArrayIndexOutOfBoundsException.

### [REQUIRED] Reproduction steps
Hard to reproduce.

### [REQUIRED] A full bug report captured from the device
[code]
### [REQUIRED] Version of ExoPlayer being used
Version 2.5.4

### [REQUIRED] Device(s) and version(s) of Android being used
Skyworth VR Headset. Android 7.1.2

[2020-08-13 02:47] kuailedeadai commented on #7743
Hello,'gop long' means'the groups of pictures (GOPs) are long'. I read the seek logic of exoplayer. After seek, I find the previous key frame timestamp and send it to the decoding buffer. When decoding, If the timestamp of the current buffer is less than the timestamp of the current position, BUFFER_FLAG_DECODE_ONLY will be set, and the decoding will proceed normally, but the video frame will not

[2020-08-13 07:55] msilucifer commented on #7747
Thanks, @zsmatyas .

But I need to push my code to one of new branches in Google's Exoplayer.
Not my repository.

And how did others create their branch in Exoplayer repository? I can't make mine there

Waiting for your helps.
Regards.

[2020-08-13 08:39] andrewlewis commented on #7746
Could you provide some details about how this is related to #7747 and #7749? We need the information requested in the [new issue template], so please fill that out.

Setting aside the lack of information about what the enhancement is, the pull request currently has a few issues that mean we couldn't merge it (for example, it commits native binaries into the core module, and seems to add a lot of d

[2020-08-13 08:49] andrewlewis commented on #7747
Forking and pushing changes to the fork sounds right as a way to share the code.

For contributing this to ExoPlayer please see #7746.

[2020-08-13 08:49] #7747 closed, assigned to andrewlewis

[2020-08-13 08:50] MrtDolphin0128 commented on #7746
It is for the case when we try to play UDP stream,
In this case subtitles are not showing.
Anyway i made custom engine to make Australian subtitles visible but I am not sure how to push my code to google repository.
Can you help me with this?
Best

[2020-08-13 08:56] andrewlewis commented on #7746
Please fill out the [new issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/feature_request.md). For example, it would be useful to know what specification the subtitles follow and/or what specific features are missing, and how libcce was built in your pull request.

[2020-08-13 09:02] MrtDolphin0128 commented on #7746
libcce is from https://github.com/CCExtractor/ccextractor .
I built .so files from it and used it in my customized engine.
So can you please help me to push my code?

[2020-08-13 09:37] andrewlewis commented on #7746
The first step is to fill out the [new issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/feature_request.md) as I've requested already twice. Please don't ignore this request this time. Make sure to include what specification the subtitles follow and/or what specific features are missing.

Then we will review the information and decide whether to add this f

[2020-08-13 10:04] icbaker commented on #7746
I think we need the info Andrew has requested from the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/feature_request.md) in order to properly evaluate the feature request.

I'm not quite sure what "Australian subtitles" are in terms of precise specs (as Andrew asked) but there's mention of that phrase in the Freelancer link in https://github.com/google

[2020-08-13 10:30] andrewlewis commented on #7743
Do you want to show those frames? If so, I think you can just set the seek parameters like `player.setSeekParameters(SeekParameters.PREVIOUS_SYNC);` to snap the seek point to the preceding keyframe.

Assuming your stream correctly marks which frames are keyframes, it's not in general possible to decode any given frame "directly". To decode a given frame, the decoder needs to be handle all input fr

[2020-08-13 10:30] #7743 closed, assigned to andrewlewis

[2020-08-13 10:37] andrewlewis commented on #7748
- Could you share a link to the stream you are trying to play ([see the new issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md#required-link-to-test-content))?
- I'd recommend testing with a more recent ExoPlayer version if possible.
- One possible explanation is that the stream is not valid. Does it play in other players without any errors being outp

[2020-08-13 11:11] andrewlewis commented on #7745
Please could you update the sharing settings for the bug report shared via drive, or attach it to an email to `dev.exoplayer@gmail.com`? At the moment I don't have permission to view it.

To answer the questions:
1. As soon as we get such an error from `MediaCodec` we post it back to the player error event listener. For underlying errors related to resource usage it's likely that `MediaCodec` will

[2020-08-13 11:14] andrewlewis commented on #7744
I think the short answer is yes. The text tracks should be visible in the track groups, and you can use constraint-based track selection APIs (track selector parameters) to specify a policy like `setPreferredTextLanguage`. If you try doing what you describe do you run into any issues?

[2020-08-13 11:17] MrtDolphin0128 commented on #7746
Can you just allow me to my code in a new branch of your repository?
I would be happy if my code can used for other dev guys who are interested in ExoPlayer.

[2020-08-13 11:19] krackjack234 commented on #7745
Hi @andrewlewis  you can check the bugreport here: https://drive.google.com/file/d/1M42Jet-5woRp7_0urOp5zKryHcptrVL2/view?usp=sharing

In #7491 we were having 2 players at same time, one was IMA default player (using VideoView) and another is exoplayer (for content playback). We fixed it on those platforms (mostly tvs) by having either the ima player or the exoplayer alive in the system but not bo

[2020-08-13 11:35] andrewlewis commented on #7745
The bug report doesn't seem to include `ExoPlaybackException`. Please could you share a bug report taken just after seeing the error so we can look at media framework logging just before it?

[2020-08-13 11:36] icbaker commented on #7746
No, we can't allow you to push un-reviewed code to a branch of the google/ExoPlayer repository.

Others can already use your code from the existing fork you've made: https://github.com/MrtDolphin0128/ExoPlayer/tree/AusSubtitle

The downside of this is that, since you've forked then customised the whole of ExoPlayer, anyone depending on this will only get updates to ExoPlayer when you pull them in.

[2020-08-13 11:40] icbaker commented on #7746
If you're able to confirm that this feature request is the same as DVB Teletext Subtitles then I can dupe this against https://github.com/google/ExoPlayer/issues/7220.

If not, please provide all the information we keep asking for to explain what "Australian subtitles" are, including links to specs/standards where appropriate.

[2020-08-13 11:45] msilucifer commented on #7747
Thanks for your help.

[2020-08-13 12:31] ahmetberkinc commented on #7744
I wanted to access audio and subtitle files in HLS data via streamurl and change audio and subtitle files using PopupMenu.
I did not have any problems with the audio files, but I had difficulty because I could not find enough resources for the subtitle process.
Then I made the necessary assignments by accessing and parsing trackgroups using trackSelector.getCurrentMappedTrackInfo().GetTrackGroups

[2020-08-13 12:39] andrewlewis commented on #7744
Glad you got it sorted. Thanks!

[2020-08-13 12:39] #7744 closed, assigned to andrewlewis

[2020-08-13 14:53] punitagoel2403 opened #7750 "Exoplayer black screen when scrolled through recyclerview"
I am using exoplayer in recyclerview. It loads well if I click on independent video from the list, but if I swipe and move to previous or next video  only audio is playing, and the video is black throughout the duration. Only first clicked video shows the display. It is surely not a loading problem, since I am using caching and even after caching it behaves same way.

Note: In rarest of occasions,

[2020-08-13 20:36] vikasgill commented on #7750
@punitagoel2403 What surface type are you using? Is it a SurfaceView or TextureView? Also, what Android version you are using?

[2020-08-13 22:29] jamescahall opened #7751 "IllegalStateException on Android P (9.X) when Other App Video Plays"
### [REQUIRED] Issue description

On Android P, specifically seen commonly on Android TVs (such as Sony and Jio) we are getting an IllegalStateException when the app enters the background during playback and playback is started in a different application (such as live TV app or YouTube).

### [REQUIRED] Reproduction steps

1) Launch app.
2) Play a video using ExoPlayer
3) Press TV button on remote

[2020-08-14 04:09] punitagoel2403 commented on #7750
@vikasgill I am not overriding any value. Just using the default basic structure. I am testing on Android 10.

[2020-08-14 06:01] punitagoel2403 commented on #7750
Thanks @vikasgill  for hinting it out. On further exploration, I understood, I had to set the player in method onViewAttachedToWindow rather than onBind, since I am using singleton player object. It is working fine now. Thanks once again. :)

[2020-08-14 07:12] MrtDolphin0128 commented on #7746
The following tickets are Related:

Open Enhancement: https://github.com/google/ExoPlayer/issues/5491 Support for DVB EBU Teletext subtitles
Open Enhancement: https://github.com/google/ExoPlayer/issues/7746 Australian Subtitle is not showing for livestream
Open: https://github.com/google/ExoPlayer/pull/7749 Aus subtitle
Closed: https://github.com/google/ExoPlayer/issues/7662 I can't play files fro

[2020-08-14 07:46] icbaker commented on #7746
Thanks for confirming this is the same functionality covered #7220 - I'll mark this one as a duplicate since that one is older and contains more technical info/details.

I've also added a comment to your PR, I suggest we keep any implementation-specific discussion (including whether to use CCExtractor) on the PR thread to avoid spamming #7220.

[2020-08-14 07:46] #7746 closed

[2020-08-14 08:13] ghost opened #7752 "Failed to resolve error with andriodx. Unable to even start exoplayer"
[Edited to remove issue template, which wasn't filled in.]

[2020-08-14 08:19] mkcdot opened #7753 "Playback of Clearkey key rotation content with live profile getting failed after playing for few seconds"
### Question
I am generating clearkey dash content with key rotation in live profile using shaka packager.
Shaka packager Command:
[code]

When I am playing the dash content on exoplayer, The playback fails after playing for few seconds.

### Additional information
I have configured license server with all required keys and exoplayer can get required key based on currently running segment.
I am al

[2020-08-14 08:52] MrtDolphin0128 commented on #7746
ExoPlayer supports almost all subtitles in the world but Australian Subtitles are not supported now.
So I  customized the ExoPlayer to support Australian Subtitles.

1. Introduction about CCExtrator

CCExtrator is a tool used to extract subtitles for TV recording videos.
https://github.com/CCExtractor/ccextractor
The core functionality is written in C.
And also CCExtrator can extract subtitles for

[2020-08-14 09:57] JaredLees opened #7754 "Reading the TsExtractor code and see its methods `sniff(ExtractorInput input)`， some problems"
Reading the TsExtractor code and see its methods `sniff(ExtractorInput input)`， some problems behind it：

[code]
I wonder why loops inside don't start with i =0 and end at buffer.length, but it's a complicated calculation. What is the principle? Thank you!

[2020-08-14 10:42] AquilesCanta commented on #7754
I suggest you have a look at ISO/IEC 13818-1 for some context on what a Transport stream looks like (packets are 188 bytes) and what the spec expects from the Transport Stream receiving end (e.g. synchronisation guidelines: try to find 5 consecutive packets). Also keep in mind that Transport stream is a stream to which clients need to synchronise, which means packet boundaries are not necessarily

[2020-08-14 10:42] #7754 closed, assigned to AquilesCanta

[2020-08-14 10:43] ChristianGiuseppe opened #7755 "How to use the ffmpeg extension within exoplayer ?"
Hi, I'm trying to use the FFmpeg extension inside exoplayer. I followed the [](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) guide below but it is not very clear to me how to go about using the extension. Could anyone help me?

[2020-08-14 10:49] JaredLees commented on #7754
thanks!

[2020-08-14 11:59] Daktm commented on #7748
this is my video
https://qvcdn.veervr.tv/vm0h3T4pXX0Zlag6WpqU6Q/hevc/d65ba3b1a643/2160p/index.mp4?sign=96330126b384b7c2ac0f219c234a8f2c&t=5f503200

[2020-08-14 12:44] andrewlewis commented on #7748
I get HTTP status code 403 when requesting that stream. It might be georestricted. Can you remove any restrictions that might cause requesting it to return status 403? Or share it in a different way?

[2020-08-14 12:46] andrewlewis commented on #7748
Never mind. I tried again and this time it loaded.

Could you give some more details about what I'd need to do to see the error?

[2020-08-14 12:52] andrewlewis commented on #7755
The [README](https://github.com/google/ExoPlayer/blob/3fd7d21/extensions/ffmpeg/README.md#using-the-extension) has a section on using the extension. Does that help? If not please could you give some more information about where you get stuck and what you've tried?

[2020-08-14 13:01] andrewlewis commented on #7753
The exception is not very informative here:

[code]

The only media framework logging that stood out was `I/MediaDrm: Drm event (4,0)`, but I'm not sure if that helps.

@ojw28 @AquilesCanta Please could you take a look? Thanks.

[2020-08-14 13:05] andrewlewis commented on #7752
I'm not aware of any issues with the build setup at the moment. There isn't enough information here for us to help. Can you share build/error logs, version information or anything else that might help us diagnose the issue?

[2020-08-14 13:09] Nelsun opened #7756 "Can't play specific stream"
Hi guys.

Have issue with this stream http://iptvenc5ks.tep.ch:8060/hls/18/18.m3u8
I hope it's not geo-blicked.
Have access to more than 400 streams, but have this issue on two of them only.

The tests are with
    releaseVersion = '2.11.7'
    releaseVersionCode = 2011007

Stream can't start becase TsExtractor didn't consume the data from PmtReader, becase PAT segments are comming too often .. or

[2020-08-14 13:13] andrewlewis commented on #7751
It is hard to say exactly what the cause of the error is without a full bug report (captured via `adb bugreport`) but it's possible that the media framework's resource manager has revoked the codec from your application, and that this is causing an error to be thrown when we try to release it.

It is important to `release()` the player if you are going into the background before the lifecycle meth

[2020-08-14 16:41] krackjack234 commented on #7745
Hi @andrewlewis  we have shared the logs to dev.exoplayer@gmail.com

[2020-08-14 16:58] letaochenyuja opened #7757 "Exoplayer not playing offline download after toggling wifi"
### [REQUIRED] Searched documentation and issues
To download the video, I followed the sample code here: https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/offline/HlsDownloader.html

### [REQUIRED] Question
If I start my app with wifi off, offline downloaded videos play fine.

I exit the video, then toggle wifi (on, then off),
I get a black screen when watching the same

[2020-08-14 18:07] letaochenyuja commented on #7757
Seems to be fixed when I set the PlaylistParserFactory
[code]

Not sure what this does but swag

[2020-08-14 18:07] #7757 closed, assigned to ojw28

[2020-08-14 19:08] isaranghi opened #7758 "Buffering Issues"
Hello,

I am using Exoplayer Version 2.11.4 in a Leanback (AndroidTV) application. My media source is ProgressiveMediaSource. The media is hosted on remote server. I have noticed that when I play the exact same source with Exoplayer, I see a lot of buffering issues (often player is stuck buffering the stream).... The same stream works perfectly fine on another player (I have tried VLC and Kodi's m

[2020-08-14 19:23] jamescahall commented on #7751
Hi Andrew,

Thank you for your feedback.  We are utilizing the player in a service instead of in an activity due to the need to allow for a floating player that can change based upon device orientation (windows vs. fullscreen) as well as support background audio playback so the lifecycle is somewhat different.  We are NOT calling releasePlayer and the intent is not to have to rebuffed the player u

[2020-08-15 12:22] AlexDundar opened #7759 "Adapting bar height for DefaultTimeBar when dragging/in focus"
I use `ExoPlayer `in my `Android `App and I try to customize player controls. All works fine, but I didn't find, how to change field `bar_height `for `DefaultTimeBar` for several states. For now I use it like the following:

[code]

And I see that scrubber size changes depending on focus state (it is what I want), but `bar_height` is always `4dp` and I can not find how to change it for state "in f

[2020-08-15 14:42] vhow opened #7760 "Can't set audio session ID"
Can you add a `setAudioSessionId` API like Android MediaPlayer?
https://developer.android.com/reference/android/media/MediaPlayer#setAudioSessionId(int)

[2020-08-15 16:53] michael-eddy opened #7761 "cannot play the dash video"
- i used the DashManifestParser create a dashManifest from mpd string.
- It is normal from the creation of the player to the loading of the mediaSource. The video cannot be played even if the auto-play attribute is set, and the pause icon displayed on the play button indicates that the video is "playing".
- But in fact the video did not play and there was no sound. Below is the detailed data of th

[2020-08-15 19:18] urboihotshot commented on #7752
![imagedesc](https://user-images.githubusercontent.com/58696605/90319872-bfa3eb00-df2b-11ea-90b9-29667eacc398.PNG)

Been trying for close to a month now, download different andriod studios and gradle. It keeps writing failed to resolve error after dowloading. It doesn't work for me at all. I use the latest andriod studio and andriodx. Please help

[2020-08-16 07:31] kunpark168 opened #7762 "I have a video and a audio . How can I play them at the same time"

[2020-08-16 10:44] tosam144 opened #7763 "Notification shows only play button"

[2020-08-16 16:21] #7763 closed, assigned to ojw28

[2020-08-16 17:53] ojw28 commented on #7701
Please just try playing directly in the ExoPlayer demo app, as per my recommendation above.

[2020-08-16 17:58] ojw28 commented on #7762
Duplicate of https://github.com/google/ExoPlayer/issues/7363.

[2020-08-16 17:58] #7762 closed, assigned to ojw28

[2020-08-16 18:22] ojw28 commented on #7757
Our [download documentation](https://exoplayer.dev/downloading-media.html#downloading-and-playing-adaptive-streams) explains how to do this properly. You should use `DownloadHelper.createMediaSource` to create a source for playback. As per the bottom of that page:

[2020-08-16 18:40] ojw28 commented on #7753
For us to investigate this further, I think you will need to provide a sample playable DASH stream that reproduces the issue.

[2020-08-16 19:02] Mr-Ramzan opened #7764 "Video Preview Gone When Given A shape to parent View"
No Relevant Question Asked here as I saw.

I Tried to give shape to the parent view to EXO Player view Video was playing before But After only Audio is I have left with. Controller show and work well.

Its Not Bug Or maybe it is but I haven't seen anything Relevant in Logs.

**I am Using Shape Of View Lib From Github**

**Sample project link to recreate Issue**
**https://drive.google.com/file/d/1D

[2020-08-16 20:08] sanojlawrence commented on #7701
@ojw28 As i mentioned earlier, i was not able to play video even while trying it in from demo app.
![Untitled](https://user-images.githubusercontent.com/7949017/90342931-c153d880-e029-11ea-9943-c9f75610e12f.png)

I added video file to assets folder and added `Uri` in `json` and when i try to play i see this on my mobile device.
![Screenshot_20200817-012443](https://user-images.githubusercontent.co

[2020-08-17 01:04] #7633 closed, assigned to marcbaechinger

[2020-08-17 05:09] mkcdot commented on #7753
I am running dash server on local network which is not accessible publicly.
I can share the content files generated during live-session. But when I play that pre-generated content, I get different error and playback stops.
`E/EventLogger: playerFailed [eventTime=168.73, mediaPos=1697.58, window=0, period=0
      com.google.android.exoplayer2.ExoPlaybackException: MediaCodecAudioRenderer error, ind

[2020-08-17 07:00] #7693 closed, assigned to kim-vde

[2020-08-17 07:01] #7630 closed, assigned to kim-vde

[2020-08-17 07:03] mkcdot commented on #7753
I forgot to add "drm_multi_session": true in sample entry of exoplayer when moving from single key to key rotation testing.
Now after adding that, playback with key rotation & live profile is also working without any glitch/failure (even when playback is seeked to any past timestamp).

Only problem now I have is initial delay when starting playback. It takes 10 seconds to start playback. Is this n

[2020-08-17 07:26] anandsingh2903 opened #7765 "PLAY ENCRYPTED HLS STREAM"
I am trying to play encrypted HLS stream and i am getting key url and IV in manifest but i want to use another key for decryption which i will provide to the player via code. I am using AesCipher class for providing the key and creating a data source but i am unable to integrate this data source with HLSDataSourceFactory and play the stream successfully.
HLSdatasource is not taking aes cipher data

[2020-08-17 07:30] Mr-Ramzan commented on #7764
@ojw28 Please Guide

[2020-08-17 07:40] andrewlewis commented on #7760
This already exists on the development branch ([here](https://github.com/google/ExoPlayer/blob/eee9b31/library/core/src/main/java/com/google/android/exoplayer2/SimpleExoPlayer.java#L868)) and should be included in the next release soon.

If you need this now, #6975 has instructions for setting the audio session ID on the audio sink directly.

[2020-08-17 07:40] #7760 closed, assigned to andrewlewis

[2020-08-17 07:45] andrewlewis commented on #7751
Could you try deselecting the video track when switching to the background audio use case? Retaining an audio decoder should be fine.

[2020-08-17 08:43] ziad-halabi9 commented on #7390
@rrfrias Thank you for your comment. Is there any update regarding this? Or at least, is there any foreseeable timeline for when a solution will be provided? Thanks!

[2020-08-17 08:43] ziad-halabi9 commented on #7390
@rrfrias Thank you for your comment. Is there any update regarding this? Or at least, is there any foreseeable timeline for when a solution will be provided? Thanks!

[2020-08-17 08:53] andrewlewis commented on #7764
Have you tried using `TextureView`? See also #5714 and https://exoplayer.dev/ui-components.html#choosing-a-surface-type.

[2020-08-17 08:57] Mr-Ramzan commented on #7764
@andrewlewis  Thanks For Quick Response  Yes I have tried all three types by default are provided in Exoplayer

I have also given a link to sample project in which you can see preview is not visible

[2020-08-17 09:11] Daktm commented on #7748
https://d1cwu1o9pcv4g6.cloudfront.net/vm0h3T4pXX0Zlag6WpqU6Q/hevc/d65ba3b1a643/2160p/index.mp4
You can use up link.

[2020-08-17 09:13] Daktm commented on #7748
Sometimes the video get stuck in the part of the video. Then throw ArrayIndexOutOfBoundsException error.

[2020-08-17 09:21] ojw28 commented on #7753
There's nothing that would be expected to cause a 10 second delay on the client side, no.

If you're unable to share a working test stream, then there's not much we can do to debug where the delay might be coming from.

[2020-08-17 09:39] ojw28 commented on #7701
It seems very unlikely that the behavior is different in this way between playing it via the network and offline. The parts of the player that could cause this difference don't know where the media is hosted, and so there's no plausible way that they can be affected by this.

It seems much more likely that you're actually trying to play a different file. In particular since the link you provide ha

[2020-08-17 09:42] BucherTomas opened #7766 "Black screen on Lenovo TB-8705F with DRM content"
### [REQUIRED] Searched documentation and issues
I searched through issues similar to what is described below.

### [REQUIRED] Question
This is largely a question of guesswork as we are unable to provide a log during the problem, but let me try anyway.

We have a report from an end-user that they are having issues with DRM content on a Lenovo TB-8075F device with Android 9 Pie. We don't have that

[2020-08-17 09:43] rockygao123 opened #7767 "seekTo not accurate when seeking in a long MP3 file"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2020-08-17 09:47] andrewlewis commented on #7764
I think this might be a limitation of the way the 'shape of view' library works. I had a quick look at its code and I'd guess the way it forces using a software layer may be problematic. I suggest asking for help at https://github.com/florent37/ShapeOfView/issues/73.

[2020-08-17 09:47] #7764 closed, assigned to andrewlewis

[2020-08-17 09:47] andrewlewis commented on #7764
Closing as this doesn't appear to be a problem with the way ExoPlayer works.

[2020-08-17 10:24] urboihotshot opened #7768 "Unable to import exoplayer with andriodx, always writing Failed to resolve error after downloading"
![imagedesc](https://user-images.githubusercontent.com/58696605/90386060-88405600-e073-11ea-877b-087e55d745f2.PNG)

[2020-08-17 10:24] urboihotshot opened #7769 "Unable to import exoplayer with andriodx, always writing Failed to resolve error after downloading"
![imagedesc](https://user-images.githubusercontent.com/58696605/90386060-88405600-e073-11ea-877b-087e55d745f2.PNG)
Pls what's the solution?

[2020-08-17 11:14] marcbaechinger commented on #7768
Closing as a duplicate of #7769

[2020-08-17 11:14] #7768 closed, assigned to marcbaechinger

[2020-08-17 11:15] marcbaechinger commented on #7769
Seems to me there is a typo in the package name?

`com.google.android.exoplayer`
vs.
`com.google.andriod.exoplayer`

[2020-08-17 11:17] marcbaechinger commented on #7767
Can you provide us with a URI to some test content so we can test with the media you are using?

Besides it would be helpful if you can add some code how we can reproduce the problem with that media or describe a bit more precisely how we can repro the problem.

[2020-08-17 11:40] urboihotshot commented on #7769
Thanks a lot @marcbaechinger. You are a life saver. Have been trying for close to a month now, not knowing my error is the spelling of android. I really appreciate. God bless

[2020-08-17 11:47] marcbaechinger commented on #7769
Glad I was able to help! I close this issue then.

[2020-08-17 11:47] #7769 closed, assigned to marcbaechinger

[2020-08-17 11:49] xufuji456 opened #7770 "parse Program Configuration Element (PCE) when parsing audio specific config (AAC)"
Hello, guys of developer. I found there is something wrong that Mp4Extractor parses the channel of AAC.
First, it parses channel is 2. Then parses aacAudioSpecificConfig, and the result of channel is 0. I Found FFmpeg when encountering channel is 0, it will parse the left of bits, which calls PCE(Program Configuration Element), to calculate the correct result of channel. The source code of FFmpeg

[2020-08-17 11:49] #2848 closed, assigned to tonihei

[2020-08-17 11:52] sanojlawrence commented on #7701
Those file name are different and its completely my fault and am sorry about it.
And those three file are just file bit rate/ sec (the file name show the detail of it).

Coming to the point if you visit this site you will come to know those list of sample `MKV matroska files` http://jell.yfish.us/

And why do i face issue while playing this file http://jell.yfish.us/media/jellyfish-3-mbps-hd-h264.

[2020-08-17 11:58] andrewlewis commented on #7752
Filed again in #7769 and answered there so closing this one.

[2020-08-17 11:58] #7752 closed, assigned to andrewlewis

[2020-08-17 12:03] ojw28 commented on #7582
@tonihei - What's the status of this issue?

[2020-08-17 12:50] AquilesCanta commented on #7756
I think the media is malformed. From the [spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-3.2):

[code]
That being said I don't really know why we don't remove the PAT reader after reading a PAT specifically in HLS. I suspect it's related to robustness so I'm not sure it's safe to remove. I'll put in place a check in order to avoid overwriting an existing PMT reader.

[2020-08-17 13:12] amirhasanovic opened #7771 "Switching between HLS streams without buffering"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/677
https://github.com/google/ExoPlayer/issues/3327

### [REQUIRED] Question
I'm currently working on a project that implements the usage of ExoPlayer in our Tv Application. Our only focus is on HLS streaming. Application has a list of channels that are shown and can be viewed in full screen. What are users

[2020-08-17 13:14] andrewlewis commented on #7745
There isn't much useful in the framework logging unfortunately:

[code]

Before this `libexynosv4l2: failed to ioctl: VIDIOC_DQBUF (22 - Invalid argument)` suggests the decoder is getting into a bad state. The device's DRM service is also getting killed somehow:

[code]

A NuPlayer instance was active just before this (`MediaPlayerService` logging), although maybe it was released in time. Please d

[2020-08-17 13:15] andrewlewis commented on #7748
Which part of the video? I've played it through a couple of times and tried seeking around and didn't see any errors in the extractor.

Can you reproduce this if you push the file locally and play it from the device rather than over the network?

[2020-08-17 13:52] krackjack234 commented on #7745
@andrewlewis  Do you mean to say having multiple instances of MediaPlayer/VideoView/Exoplayer can cause renderer to fail on some devices based on device limitations?

[2020-08-17 13:59] andrewlewis commented on #7745
The problem is having too many video decoders acquired at the same time. This is why it's important to ensure you release one player before trying to create another. See also #1286. If you reboot the device and play just this one stream in the ExoPlayer demo app do you see the same error?

[2020-08-17 15:22] marcbaechinger commented on #7758
Can you provide us with a URL to one of these streams so we can look into this?

[2020-08-17 15:47] rockygao123 commented on #7767
For a very long audio, I jump through seekto, and then I need to keep getting the current moment through the getCurrentPosition method, but in fact the moment obtained is not consistent with the moment of playback, and there is a delay

[2020-08-17 16:36] marcbaechinger commented on #7761
The `EOFException` tells that the streamed file ends before it is expected to end.

Can you just upload the mpd directly? I see there is a `build.xml` and `data.json` file inside the zip file but I can not extract it because it needs a pkzip which I do not have. Can you pack with another tool like standard unix zip?

[2020-08-17 16:37] marcbaechinger commented on #7765
@AquilesCanta Do you mind looking into this issue please?

[2020-08-17 16:42] marcbaechinger commented on #7766
As you say it could be a device specific problem. I don't have such a device for testing either. Having a bug report would be helpful to see what is happening. If you are in contact with the user you can probably ask for [doing a bug report](https://developer.android.com/studio/debug/bug-report)? Please also send the media to the dev email if you are sending a bug report.

[2020-08-17 16:53] fgl27 commented on #7771
That if added will be a nice featuring... And technically can almost happen take a look at this
https://www.youtube.com/watch?v=wiNH9I_HnGw&feature=youtu.be

On that video a `preview` is that small player that pop when those thumbnails are visible

In 5 seconds I change the stream without load a `preview` first and that is a process close of what you requested, when I do that it will download the

[2020-08-17 17:00] marcbaechinger commented on #7771
I assume, when you say HLS and 'changing TV channels' then you are talking about live streams. If this is the case I actually think the use case you are talking about is probably not super easy to implement without buffering or it requires two player instances. So you can start loading and preparing the second live stream while still playing the first one, once the second player transitions to 'ST

[2020-08-17 17:14] fgl27 commented on #7771
On my side of things not in relation to who open the issue...

Yes live stream, as they are live doesn't wort to have a list of `mediaSource` so I load them when the user click on it, as I wrote here:

5 seconds there is on the video I share...

So no need for two player just one and do the background thread I explain after.

[2020-08-17 17:16] fgl27 commented on #7771
Is technically a simple process in relation to use two players, I'm just a casual developer and can do it very simply so anyone can.

[2020-08-17 18:03] ojw28 commented on #7761
Please also refer to the comment I left on your other issue (https://github.com/google/ExoPlayer/issues/7687):

If your content doesn't work in _any_ player, then it's likely that your content is malformed. This issue tracker is for ExoPlayer issues, not with issues you have with whatever software you're using to generate your content. Hence, in addition to providing what Marc requests above, plea

[2020-08-17 18:25] marcbaechinger commented on #7767
I'm sorry but I think I'm still not sure whether I understand. How do you measure 'moment of playback' when you compare it with what you get from `getCurrentPosition()`?

If you can send me the url to your media **this would be very helpful**, so I get around looking for a 2 hour audio media for testing.

Can you please explain the issue with code like something below? Code is something which is e

[2020-08-17 20:13] marcbaechinger commented on #7759
Setting `app:bar_height="4dp"` with a `com.google.android.exoplayer2.ui.DefaultTimeBar` works fine as you say and I double checked. There is currently no way to change the `bar_height` depending on a give state like for the scrubber I'm afraid.

[2020-08-17 22:00] jamescahall commented on #7751
Hi Andrew,

Thank you for the input.  Disabling the video renderer upon entering the background appears to resolve the issue.

Thanks
James

[2020-08-17 22:00] #7751 closed, assigned to andrewlewis

[2020-08-17 22:53] marcbaechinger commented on #7770
You are right, we currently do not parse the Program Configuration Element.

If the [channel configuration is 0 (zero), an` UnsupportedOperationException` is thrown](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/util/CodecSpecificDataUtil.java#L365).

I think that is what would happen if I played the sample from the Drive-Url you paste

[2020-08-17 23:37] priscila225 opened #7772 "Exo IMA extension is not respecting user's preferences ads opt out (&rdid=)"
### Question
I had checked the User's preference before append the &rdid= for pubads url to pass to IMA extension. Somehow IMA is appending even we passing blank value or zeros 0000-0000-0000 for opt out case (is_lat=1)

This is easy to reproduce on sample too. I used the google sample checking isLimitAdTrackingEnabled before append or not this value. Check the results using charles to see the cal

[2020-08-18 00:53] cadalt commented on #7772
we are trying to respect California Consumer Privacy Act and not include the users rdid in the ad tag when the User has chosen to limit ad tracking, but no matter what we do it gets inserted

[2020-08-18 01:18] michael-eddy commented on #7761
thanks,the files is all here.
[mpd.zip](https://github.com/google/ExoPlayer/files/5087589/mpd.zip)
create by 7z

[2020-08-18 01:22] michael-eddy commented on #7761
the same code (mpd string) in win10,vlc player with uwp

[2020-08-18 02:11] mhr78 commented on #7772
^ Same here! Our company is trying to determine how this works since we can see rdid for is_lat=1 case and we tried everything on our side except run on google sample like you did. I can't find a solution for this IMA situation. Please let us know if you find it.

[2020-08-18 03:50] AndersonCrew opened #7773 "Please help me implement audio into playlist using ClippingMediaSource"
I have list of video, then I buildMediaSource by ConcatenatingMediaSource together
// These factories are used to construct two media sources below
        val dataSourceFactory : DataSource.Factory = DefaultDataSourceFactory(this, "ABC")
        val mediaSourceFactory = ProgressiveMediaSource.Factory(dataSourceFactory)

        val concatenatingMediaSource = ConcatenatingMediaSource()
        for

[2020-08-18 06:21] xufuji456 commented on #7770
OK, Thank  you.

[2020-08-18 08:31] krackjack234 commented on #7719
Hi @ojw28 our requirement is to play in ABR mode but with a max bitrate cap. So if the bitrate cap is 6mbps, we want ABR to
happen below 6mbps, i.e. player will select tracks which are below 6mbps bitrate

We are using _setMaxVideoBitrate_ to cap the max bitrate in ABR mode.  Is this the right way to achieve this?

Can we assume that for exoplayer, the BANDWIDTH value defined in manifest is used t

[2020-08-18 08:35] ursurya opened #7774 "IMA Ad getting skipped on Pause the Ad"
While Playing Midroll ads Using Exoplayer  IMA Extension in  Amazon FireTV App Using VMAP, Issue we face is,  when i tried to pause the Ad by calling "player.setPlayWhenReady(false)" the Ad got skipped . I am Using Midroll Optimized pod with 5 Ads. While first ad playing pause and play worked but when i press pause while second ad is playing it got skipped (i got AdEnded callback) and third ad sta

[2020-08-18 08:36] kunpark168 opened #7775 "How can I get current position realtime when ExoPlay are running?"
I do not find anything to the listener when my video is running? Please help me!

[2020-08-18 08:43] ursurya opened #7776 "Is it Possible to Skip Midroll Ad playing when Seeked / Resume the content beyond the Ad position"
Hi,
I want VMAP Midroll ad not to play when Resume or seek beyond the Ad position . Say, when i had Midroll Ad at 20th min and i seeked directly to 30th minute, the midroll Ad should not play. Currently the last midroll Ad plays .Can we control it ?

Also, is it possible to play the Midroll ad everytime i seek to the Ad position. Say, in the above scenario after Midroll ad played once at 20th min

[2020-08-18 08:49] andrewlewis commented on #7773
Please try `adjustPeriodTimeOffsets` added in 0a89d0e8c3b0fa1a5e211e72ef95d35a1c69b5b3, and see also #6103. This is currently on the `dev-v2` branch but will be in a release soon.

[2020-08-18 08:50] #7773 closed, assigned to andrewlewis

[2020-08-18 09:13] andrewlewis commented on #7774
Please could you check if this is reproducible on the most recent release 2.11.7? Quite a few IMA extension bugs were fixed after the release you're using.

[2020-08-18 09:23] andrewlewis commented on #7776
Regarding the behavior when seeking, I'm afraid this isn't possible as the IMA SDK dictates the policy on what ad plays after seeking (#4005 is an open enhancement about allowing control over what ad plays on seeking with `AdsMediaSource` but won't help here unless the IMA SDK add the feature -- and I don't think they have any plans to add this functionality per https://groups.google.com/d/msg/ima

[2020-08-18 09:23] #7776 closed, assigned to andrewlewis

[2020-08-18 09:34] Taranlayal10 opened #7777 "Enforce L3 Resolution - Black Screen issue"
Hi, @ojw28

I am writing this as a question in regards to my previously closed bug 7270. Where the given solution works fine on most devices but its not working on some Redimi Models.Since that issue is in locked state so I am unable to add comment on same thread.

**Original Issue**
While switching a video from portrait to landscape mode a blank black screen is visible for a sec before showing th

[2020-08-18 09:37] ursurya commented on #7774
Thanks @andrewlewis  for your quick response. As mentioned above i am trying it on amazon fire tv and Latest  amazon custom Exoplayer Version is 2.11.3 (com.amazon.android:exoplayer:2.11.3). I will check with Exoplayer Version 2.11.7 and will update

[2020-08-18 10:13] GouravSna opened #7778 "[Android-9 TV]Failed to initialize OMX.broadcom.video_decoder.secure"
Before filing a bug:
-----------------------
There are a lot of issue like this but we are facing this issue on a specific h/w.

### [REQUIRED] Question description
Decoder is not being acquired when the application comes to foreground even though we release the player in onPause()

### [REQUIRED] Reproduction steps

1. This issue on TV.
2. There is no recent apps button in TV so once if I press H

[2020-08-18 10:17] GouravSna commented on #7778
I have shared the adb logs over email. You can also see the no of decoders available in device. It is marked in RED text.

We have tried `renderersFactory.setEnableDecoderFallback` which allows the device to choose s/w decoders in case h/w decoder limit is reached then also, this h/w is not able to acquire the s/w decoder.
Why we thought to use this because if you see the list in adb logs, `OMX.br

[2020-08-18 10:43] abouda opened #7779 "OutOfMemory with local audio MP4 file"
### [REQUIRED] Issue description
OutOfMemory when trying to open a local audio-only file.
Streaming the same file over HLS works fine.
Using `setPrioritizeTimeOverSizeThresholds(false)` in the `DefaultLoadControl.Builder()` does not help. Doesn't seem to be buffering related.

[code]

### [REQUIRED] Reproduction steps
Issue also happens in ExoPlayer Demo app using `adb shell am start -a com.google

[2020-08-18 10:49] #7735 closed, assigned to ojw28

[2020-08-18 10:49] AquilesCanta commented on #7765
Hi @anandsingh2903, it's impossible for me to assist you with the given information. If you want us to help we will need to provide specific details of what you are expecting to happen, and what you are observing. I would advise not to paste a great amount of code here since we are rarely able to tell anything from the provided code. We need a precise description of what the problem is, and what s

[2020-08-18 11:07] marcbaechinger commented on #7778
The logs show that ExoPlayer is initialized twice. The first time the codec can be initialized, the second time it fails. The logs confirm that, the player is released in between.

`setEnableDecoderFallback` probably does not help if no software decoder is available for the secured content you want to play. So if that does not help it would not be a big surprise.

You said you are on TV and you ar

[2020-08-18 11:14] ojw28 commented on #7719
Yes, as long as you're actually passing the parameters back to the `TrackSelector` via `trackSelector.setParameters()`.

I think this is already answered by my previous comment:

[2020-08-18 11:14] #7719 closed, assigned to ojw28

[2020-08-18 11:16] marcbaechinger commented on #7767
Another note about the media. MP3 files with variable bitrate can't be seeked properly. If you want me to check this for you, please provide a uri to the media.

This can be worked around by setting `FLAG_ENABLE_INDEX_BASED_SEEKING` via `DefaultExtractorsFactory.setMp3ExtractorFlags`, but this requires building a time-to-byte mapping by scanning the media so can make seeking slow if the media is l

[2020-08-18 11:21] mkcdot commented on #7753
I have attached the dash content zip generated using shaka packager (with the command given in question).
[sintel_live_clearkey_keyrotation.zip](https://github.com/google/ExoPlayer/files/5090000/sintel_live_clearkey_keyrotation.zip)

[2020-08-18 11:23] GouravSna commented on #7778
Hi @marcbaechinger , I guess from `ExoPlayerImpl: Init 8280c78 [ExoPlayerLib/2.11.7]` this you are telling that player is initialized twice. Correct me if I am wrong.

This you are seeing because in onPause, we are releasing the player in onPause [onApplicationPaused](https://github.com/kaltura/playkit-android/blob/b369acb2776d7b081768def942d0765e21018524/playkit/src/main/java/com/kaltura/playkit/

[2020-08-18 11:35] marcbaechinger commented on #7775
There is the method 'Player.getCurrentPosition()' which gives the current position. You are correct that there is no listener on the player which calls your app repeatedly to report changes in the position.

There is `PlayerControlView.setProgressUpdateListener` to register a `ProgressUpdateListener`. It is called each time the UI has updated so you can sync with UI updates. The interval of callin

[2020-08-18 11:38] marcbaechinger commented on #7778
Can you try the same with `onStart` and `onStop` like the demo app does?

[2020-08-18 11:48] aureobeck commented on #7615
Greetings, thank you for the answer, after a few more investigation we've noticed the application was restarting playback before Exoplayer had the chance to perform the command. This was related to multi-window support introduced on API 23, therefore Google Assistant started calling `onPause` and pausing the playback. As [doc ](https://developer.android.com/guide/topics/ui/multi-window#lifecycle)

[2020-08-18 11:48] #7615 closed, assigned to marcbaechinger

[2020-08-18 11:52] marcbaechinger commented on #7777
I think the underlying reason of the problem have been nicely explained in #7270 and does not need further coverage.

I assume you already evaluated whether the `UnsupportedDrmException` is thrown which is caught by the snippet you pasted above. If this exception is not thrown, can you please give some more details on 'does not work on Redimi 4 & Redimi 4 Pro'. What exactly does not work? Do you g

[2020-08-18 12:01] marcbaechinger commented on #7779
I can't file the email you sent I'm afraid. Can you please check whether this went to dev.exoplayer@gmail.com?

[2020-08-18 12:09] ojw28 commented on #7753
As above, we need a working test stream. So in particular, we need an accessible license server that will respond with the necessary keys. It's not possible for us to tell you where the delay is coming from if we can't actually play the content in the same way as you're playing it. Ideally, please just provide a JSON snippet that we can put into the demo app's `exolist.json` file.

I did look at t

[2020-08-18 12:09] marcbaechinger commented on #7761
I can not extract that with standard unzip. I see what in the archive but it does not seem to include an mpd xml file:

[code]

To make it easy, you can probably upload the mpd file without compressing it? I think it should be very small so no need for zipping it. :)

[2020-08-18 12:14] michael-eddy commented on #7761
it's wired....or u can try remand the extension？
[rename this in json extension.log](https://github.com/google/ExoPlayer/files/5090286/rename.this.in.json.extension.log)
[rename this in mpd extension.log](https://github.com/google/ExoPlayer/files/5090288/rename.this.in.mpd.extension.log)

[2020-08-18 12:32] SharanKumarReddyKambham opened #7780 "Dash Stream struck on infinite buffering state after PTS reset"
###  Issue description
We configured a Dash stream from an encoder and feeding it to sample Exoplayer as a live stream while streaming if we restart the encoder, the stream freezes and is struck in buffer state, we observed the difference in Bufferpresentation time compared to the previous buffer presentation time. We've checked with the **replaceStream** by giving the difference of the buffer pre

[2020-08-18 12:37] anandsingh2903 commented on #7765
Hi @AquilesCanta , I have already gone through those issue trackers but they weren't of much help that's why i had to raise a new one. Let me tell you about the problem in detail :

I have playlist.m3u8 hosted which already contains info of AES key like Key URL and IV and all the stream TS files have been encrypted with that a key already. Now normally exoplayer already reads playlist.m3u8 and rea

[2020-08-18 12:53] Mr-Ramzan commented on #7764
@andrewlewis Thanks for pointing right direction I have resolved the issue

[2020-08-18 12:57] amirhasanovic commented on #7771
@marcbaechinger thanks for your reply, what exactly do you mean by switching surface between the two players? We are currently using PlayerView as a holder for the player.

[2020-08-18 13:07] AquilesCanta commented on #7765
This looks a lot like #6181.

[2020-08-18 13:18] anandsingh2903 commented on #7765
Yes, i am trying to achieve the same thing. But i am unable to understand how to implement this custom playlist parse, couldn't find any documentation or tutorial on it.

[2020-08-18 13:26] krackjack234 commented on #7719
@ojw28

If exoplayer is interpreting bandwidth as bitrate, then we are seeing one problem. We found that the bandwidth mentioned in manifest is actually not matching with the bitrate of the media segments.

So it is a problem in generating the manifest and we should continue to use bandwidth as bitrate or should we calculate actual bitrate from bandwidth?

[2020-08-18 13:46] ojw28 commented on #7719
As per the [HLS specification](https://datatracker.ietf.org/doc/rfc8216/), the `BANDWIDTH` tag specifies: "the peak segment bit rate of the Variant Stream". It's unclear how you've determined that "the bandwidth mentioned in manifest is actually not matching with the bitrate of the media segments", because you'd typically expect the bitrate of the segments to be variable, and as per the specificat

[2020-08-18 13:55] marcbaechinger commented on #7780
What do you mean with 'restart the encoder'? Do you encode something on the fly and then when you restart the encoder ExoPlayer starts to buffer when trying to read from that stream?

When looking into the log file I can observe a few things:

[code]
 The player is initialized and starts playback as expected.

[code]
The first mediaPos that is reported is **mediaPos=9005.00**

[code]

After initia

[2020-08-18 14:00] SharanKumarReddyKambham commented on #7780
The encoder which is serving the stream is restarted on the fly which makes the stream struck in buffering state, this problem occurred only after restarting the encoder.

[2020-08-18 14:15] AquilesCanta commented on #7765
I think that what I'd do if I were you would be wrapping [HlsPlaylistParser](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/playlist/HlsPlaylistParser) using an implementation that, given a media playlist, replaces the [`fullSegmentEncryptionKeyUri`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/playlist/HlsMediaPlaylist.Segment.html#ful

[2020-08-18 14:15] #7765 closed, assigned to AquilesCanta

[2020-08-18 14:18] GouravSna commented on #7778
Hi @marcbaechinger , Shared the logs over email where we called the methods in `onStart` and `onStop`

[2020-08-18 14:39] marcbaechinger commented on #7780
Ok. The calculation you are doing with your code inside the renderer does unveil some inconsistencies with the timestamps, if I understand you correctly. You also say it only happens when you restart the encoder. If that restart would be transparent in a sense that the file which is delivered looks just the same as without a restart everything would work fine I suspect. To what extend do you expec

[2020-08-18 15:04] marcbaechinger commented on #7778
Yes, same thing.  Hard to say something besides that it seems that the decoder is not available.
I can only guess. If you force stop your app and then start the app again, does this make a difference over backgrounding/foregrounding?

[2020-08-18 15:11] marcbaechinger commented on #7761
I wouldn't really know where the uri's come from to download something from this manifest:

[code]

I think it's a problem with the DASH manifest. I'm afraid but we can't really support you with generating valid DASH manifests. As a rule of thumb I'd try it with various player first, if it fails with either of this players, it's probably a problem with the manifest.

[2020-08-18 15:19] michael-eddy commented on #7761
here has the windows platform project.i got the mpd from here `https://github.com/xiaoyaocz/biliuwp/blob/master/BiliBili.UWP/Helper/PlayurlHelper.cs#L1101`, this progrem this playing the video with mpd model.
I came into contact with mpd files for the first time. Does each player have different requirements for the mpd format?

[2020-08-18 15:34] marcbaechinger commented on #7771
You can use the method `playerView.setPlayer(@Nullable Player player)` to set the player. The `PlayerView` then makes the surface attach to the new player. You can switch back and forth several players that way.

[2020-08-18 15:39] BucherTomas commented on #7766
Thank you. Unfortunately, asking the user to enable dev options on their Android and generate the report is not an option. That's why I was saying in advance that we will be unable to provide a meaningful log and was hoping that you might have run into this issue before, and have some idea or advice based on how the issue manifests.

[2020-08-18 15:44] tosam144 opened #7781 "Where to call Util.startForegroundService in PlayerActivity?"
Like in the exoplayer demo app (https://github.com/google/ExoPlayer), I have a PlayerActivity that plays mp3s. Now I want to start a foreground service so that the mp3 continues to play even though PlayerActivity is in the background (or even killed). I am aware of `Util.startForegroundService` but my 2 questions are:

1) Where in the code should I call this? In `onCreate` or in `onStart` of Playe

[2020-08-18 16:42] ojw28 commented on #7766
Given you're not enforcing hardware decryption in your license policy, you could try to force use of the Widevine L3 CDM, rather than any Widevine L1 CDM that might be present on the device. This may resolve the issue if it's related to the secure output path or Widevine L1 CDM integration on the device.

If you're using 2.10.6 then your code is presumably instantiating a `DefaultDrmSessionManager

[2020-08-18 17:26] andrewlewis commented on #7772
I understand from the IMA SDK team that the `is_lat` setting is enforced server-side.

[2020-08-18 17:27] BucherTomas commented on #7766
@ojw28 Thank you for the suggestion. I was thinking along these lines as well before I asked here, but then I thought that the successful test in mobile Chrome ruled this out.

From what I understand, Android devices will utilize even for browsers the most secure path available, therefore I thought the issue would manifest even in the browser if the CDM would be at fault.  Would you agree?

[2020-08-18 17:47] marcbaechinger commented on #7781
The intent you pass to `Util.startForegroundService(context, intent)` is the `Intent` which declares what service to start. It is passed to [`Context.startForegroundService()`](https://developer.android.com/reference/android/content/Context#startForegroundService(android.content.Intent)) or `Context.startService` according to the API level. Both methods define the intent as follows: _Intent: Ident

[2020-08-18 17:53] ojw28 commented on #7766
A browser implementation will have the ability to configure the security level, just as your app does with the code snippet above. So the CDM you're getting in Chrome is going to depend on how Chrome is implemented. [This documentation](https://developers.google.com/web/updates/2017/09/chrome-62-media-updates#widevine_l1) suggests to me that L1 playback in Chrome needs to be explicitly enabled wit

[2020-08-18 18:07] tosam144 commented on #7781
Thanks for the reply. So in my case, once the user clicks on the mp3, the PlayActivity is launched:

[code]

Now in my PlayerActivity, I set up the player in an `initializePlayer` method:

[code]
The onStart looks like this:

[code]

All of this works fine and the PlayerActivity opens with the standard buttons play, stop, pause etc. It works great. But once the user puts PlayerActivity in the back

[2020-08-18 18:44] marcbaechinger commented on #7781
So you first create the activity where you create the intent with the metadata pointing to `AudioPlayerService`. You pass that intent to `Util.startForegroundService` which starts your service and you can receive the intent there. In the service you will need then to create the player instance and prepare it with the media source according to the metadata. Everything that needs to survive the dest

[2020-08-18 20:52] #7389 closed, assigned to marcbaechinger

[2020-08-18 20:53] #7379 closed, assigned to marcbaechinger

[2020-08-19 01:04] #7627 closed, assigned to Samrobbo

[2020-08-19 01:06] rockygao123 commented on #7767
Sorry, but my audio file is locally recorded audio, not a url. The situation I encountered is that the normal playback of long audio is accurate through getcurrentposition, but after I use seekto to jump and then through getcurrentposition again, it is not accurate, until the playback is completed, the value of getcurrentposition will be obtained>getDuration

[2020-08-19 01:09] rockygao123 commented on #7767
I also get the current playback time based on the polling query getcurrentposition in the child thread, but as long as the audio is long, after repeated seekto, the time obtained by this interface is not accurate. The longer the audio, the greater the error.

[2020-08-19 04:46] SharanKumarReddyKambham commented on #7780
But is there any way to handle bufferpresentationtimeUs when it is not monotonically increased ?? Here in the case of encoder restart the bufferpts is resetting to 0.While in other players like vlc this case been handled and the stream continues to play.In Exoplayer the stream strucks in a buffering state.

[2020-08-19 05:15] Clement-Jean opened #7782 "Switch between video and view at given times"
I'm looking for a way to stop the video at, let's say 10s, pause the video switch to another view and when the user is finished with that view, start back the video display.

After looking at the dev website, I was wondering if this could be done with IMA ads but I guess it can't be done because I need indefinite time for the in-middle view.

Is there any way I can do this? Then is there a way to

[2020-08-19 06:10] Taranlayal10 commented on #7777
I am trying to get the same device on which this issue is coming to see if the exception is coming or not. Since this info was captured from the Mix Panel for live users. Please do not close or lock this conversation for the time being.

[2020-08-19 08:56] BucherTomas commented on #7766
Thank you. We will try to figure out a way how to distribute the L3-enforced app version to the user for a test.

I will close the ticket later if the test is successful. Otherwise I assume the ticket will be closed anyway due to inactivity if we won't manage to carry out the test in time.

[2020-08-19 09:56] Taranlayal10 commented on #7777
Yes getting the black screen on L3 Device same as L1 device.

I checked the above code and there is no exception thrown but black screen appears for almost 4-5 seconds when orientation is changed. I have also sent the bug report.

[2020-08-19 10:24] marcbaechinger commented on #7767
MP3 files with variable bitrate can't be seeked properly. If you want me to check this for you, please provide a uri to the media.

[2020-08-19 11:37] tonihei commented on #7582
It's tracking experimentation with the proposed improvement ideas only (see point 3 and 4 in my summary above). The two code improvements (points 1 and 2) are done with the referenced commits.

[2020-08-19 11:56] marcbaechinger commented on #7782
You can use ad markers for marking positions and fire player messages at the given playback positions to run your code:

[code]

The first argument is an array holding the positions on the timebar of the `PlayerControlView`. The second argument is an array of flags whether these markers should be shown or not.

You can customize the color of the markers by customizing the `player_control_view.xml`

[2020-08-19 12:22] ojw28 commented on #7780
Within a period, sample timestamps must be monotonically increasing. If your encoder needs to restart in a way that violates this requirement, the only specification compliant thing you can do is to end the current `Period` in the DASH manifest, and start a new one. You can read more about the DASH timing model [here](https://dashif-documents.azurewebsites.net/Guidelines-TimingModel/master/Guideli

[2020-08-19 12:22] #7780 closed, assigned to marcbaechinger

[2020-08-19 14:13] Clement-Jean commented on #7782
Thank you @marcbaechinger, very helpful.

Just one thing to add here, I needed to use activity.runOnUiThread in the lambda or I would have an error saying that you need to be in the same thread for changing the player and the view.

[2020-08-19 15:10] tosam144 commented on #7781
Thank you @marcbaechinger, that really helped. I have one more question here: Now I am calling `Util.startForegroundService` in the `onCreate` method of my PlayerActivity (as suggested by you). That works well. However, sometimes the user presses the back button. As a result, PlayerActivity gets destroyed and the player is detached from the PlayerView (which is correct). However, the foreground se

[2020-08-19 15:37] prostaferesi opened #7783 "No audio on multi-channel tracks on allwinner H6"
### [REQUIRED] Issue description
Exo can't reproduce audio in some circumstances on allwinner H6 android box. It seems this chip can't handle multichannel audio track. I also used ffmpeg audio renderer in order to understand if it was just codec issue. With VLC or ijkplayer the audio has no problem

### [REQUIRED] Reproduction steps
Build exoplayer demo (with or withouth ffmpeg extension support)

[2020-08-19 15:57] marcbaechinger commented on #7782
Oh, yes, sorry. I forgot to add the `setHandler(new Handler())` call. I added it to the snippet above. If you pass the handler, the message is executed on the thread on which the `Handler` has been created. Assuming you send the message on the UI thread this would do what you want.

[2020-08-19 16:30] marcbaechinger commented on #7781
You are right, when the service is already running you want just get the player from the service and not start the service again.

Simplest would probably be that the service has a static field `AudioPlayerService.player` to which the player is assigned once created and set to `null` when the service is destroyed again. You can then simply check in your activity's `onCreate` whether the field is n

[2020-08-19 20:26] dianamelga commented on #7680
@shayegan1988 Hi, I'm facing the same problem since I did the upgrade from 2.9.5 to 2.11.1, how did you solve that?

[2020-08-19 23:06] #6161 closed, assigned to marcbaechinger

[2020-08-20 02:56] rockygao123 commented on #7767
I have uploaded a long audio to the cloud disk, the link is as follows:
https://drive.google.com/file/d/1EWJ71C2GoE9KmTtXyWt6RU2CKvi89hmG/view?usp=sharing

[2020-08-20 02:57] niuyaweiqq commented on #6168
Are there any updates？

[2020-08-20 02:59] rockygao123 commented on #7767
Reproduction steps: frequently call the seekto interface, and then the audio playback time obtained through the getCurrentPosition interface is not very accurate. Until the playback is over, the time obtained through this interface has exceeded the audio duration obtained through the getDuration interface

[2020-08-20 03:00] rockygao123 commented on #7767
Reproduction steps: frequently call the seekto interface, and then the audio playback time obtained through the getCurrentPosition interface is not very accurate. Until the playback is over, the time obtained through this interface has exceeded the audio duration obtained through the getDuration interface

[2020-08-20 05:18] GouravSna commented on #7778
@marcbaechinger , will the system's bug report be helpful for you to see if the decoder was being released by the underlying framework or not in case when we go to background.
OR we need to ask the vendor to check it.

[2020-08-20 05:52] ursurya commented on #7774
Hi @andrewlewis , I tested with Exoplayer Version 2.11.7 in Android Mobile app and got different issue. Now,When "paused" on the first ad itself all the ads got skipped and showed content. I observed the below exception logged during  Ad Pause. Tested with the same Ad tag mentioned above

[code]

[2020-08-20 07:47] luiscurini opened #7785 "Is there a way to know if the downloaded files have been deleted?"
Hi,

We're using exoplayer for downloads but now we'd like to now if there's a way to check if the files downloaded for a specific video url are still present. This will allow us to show a warning that some files were deleted and allow the user to redownload or to delete the download and change the amount of space used by the download.  I tried to look in the documentation, stackoverflow and the i

[2020-08-20 08:22] Nelsun commented on #7756
Thanks all

[2020-08-20 08:22] #7756 closed, assigned to AquilesCanta

[2020-08-20 09:06] halilozel1903 commented on #7723
There is a hls type video in the app. I want to show subtitles and dubbing options in this video.

[2020-08-20 10:45] marcbaechinger commented on #7785
You can [query the `DownloadIndex`](https://exoplayer.dev/downloading-media.html#querying-downloads) for a given download by the id you defined for the `DownloadRequest`. If you are using a custom id, you should know what the id is, if you are not using a custom id, the default is just the video url. You can get the `DownloadIndex` from the `DownloadManager` you are using.

[code]

Alternatively y

[2020-08-20 10:53] luiscurini commented on #7785
Yeah but with this I would only get the status of the download. But for example if the download was completed, the user removes some .exo files for an specific video using a file manager. Is there a way to know about this?

[2020-08-20 11:07] AquilesCanta commented on #7614
Closing. Please feel free to comment below if you have further questions.

[2020-08-20 11:07] #7614 closed, assigned to AquilesCanta

[2020-08-20 11:29] AquilesCanta commented on #7510
Hi again. We still don't have the information to help with this. We usually need at least a media sample to reproduce the issue and a bugreport.

However, if the issue is limited to a specific device, this suggests the issue is not ExoPlayer-related and it's instead a device issue. If so, please try contacting the device manufacturer directly.

[2020-08-20 11:29] marcbaechinger commented on #7785
When you download media with the `DownloadManager` you can specify a `Cache` which is probably a `SimpleCache` instance for which you can define a directory where the files are stored. If you avoid using a directory like `context. getExternalCacheDir()` or `context. getCacheDir()`, it's unlikely that a user accidentally deletes the .exo files you've downloaded with the API.

If it's about the case

[2020-08-20 11:31] AquilesCanta commented on #7510
A quick look at the logcat shows that the device does not seem to support the given video format:

[code]

[2020-08-20 11:37] AquilesCanta commented on #7640
Please let me know if you managed to work out a solution using the info in the comment above.

I'll close this issue now. I'm happy to reopen if you comment below.

[2020-08-20 11:37] #7640 closed, assigned to AquilesCanta

[2020-08-20 11:41] AquilesCanta commented on #7309
Hi @DorisGM, this is already supported in the dev branch. Please check it out and reach back if you find any issues.

Please have a look at the new `LoadErrorHandlingPolicy` interface. You will notice that each load error is associated to a task id. By using that id, you can keep track of all errors associated to that id. For network errors, you can use indefinite retry. For others you can impleme

[2020-08-20 11:41] #7309 closed, assigned to AquilesCanta

[2020-08-20 12:08] GouravSna opened #7786 "Trust anchor for SSL certification path not found"
Before filing a question:
-----------------------
- Searched a lot. I am still debugging it.

### [REQUIRED] Question

I am sharing 2 contents over email.

For specific content, I am getting the following error.
1. Buggy Stage Content-1
2. Work Stage DRM Content-2

If you try to play the content No -1 with out Charles or anything. I will throw the following error. Now if you try to play the conten

[2020-08-20 12:10] GouravSna commented on #7786
Hi, I have shared the content over email.

[2020-08-20 12:27] luiscurini commented on #7785
Exactly, we're using `SimpleCache` with `getExternalFilesDirs`.

I though the same thing, the user shouldn't really delete these files. But I just wanted to know if maybe there was an option to check whether all the .exo files for a download were still available.

Thanks you!

[2020-08-20 13:58] AquilesCanta commented on #7017
Hi @sumitmattawynk, apologies for the delay here. Have you tried any newer versions of ExoPlayer? There is not enough info in this report for us to speculate on what might be causing this, specially considering this is an old version at this point. Are you still running into this issue? I'd suggest you update to a newer version and reach back if you are still encountering this issue.

[2020-08-20 14:30] marcbaechinger commented on #7785
Ok, cool! I'm closing this issue. Please reopen if you want something to add.

[2020-08-20 14:30] #7785 closed, assigned to marcbaechinger

[2020-08-20 15:59] marcbaechinger commented on #7786
Thanks! Below the error I see when trying the first media. This happens when the client tries to download the drm server license.

[code]

[code]

There is not timeout involved as you show in your stack trace.
I think that's because the SSL certificate of the server is not in a certification path up to a CA which is trusted by the device.

The second media responds with a json file telling me that

[2020-08-20 16:14] kim-vde commented on #7767
The fact that seeking is inaccurate in some MP3 files is a [known limitation](https://exoplayer.dev/troubleshooting.html#why-is-seeking-inaccurate-in-some-mp3-files).

The test content you provided contains a Xing header with 100 seek points, which means there is a seek point approximatively every 1 min 12 sec.

Your can try to set one of the following flags in [`DefaultExtractorsFactory#setMp3Ext

[2020-08-20 16:14] GouravSna commented on #7786
Hi @marcbaechinger , You are right, Even both the medias are having 3 different redirects. :)
But yes, when player does a http request to DRM server for license then it throws SSL exception only for 1st media.

Please try to play the medias in India VPN.
Sorry i am unable to digest this point " I think that's because the SSL certificate of the server is not in a certification path up to a CA which

[2020-08-20 17:23] Subuday opened #7787 "Determine required disk space size before downloading"
### [REQUIRED] Searched documentation and issues
https://stackoverflow.com/questions/58324072/detect-required-disk-space-for-exoplayer-offline-download
https://exoplayer.dev/downloading-media.html
https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DownloadTracker.java

### [REQUIRED] Question
I use HLS protocol and I need to determine th

[2020-08-20 18:44] PratimMallick opened #7788 "Dolby(EC3) not playing on androidTV when connected to bluetooth speaker"
###  Issue description
Trying to play ec3 content on Android TV os 9.0 via exoplayer demo app while connected to **Bluetooth speaker/headphone.** Getting **Playback failed** error

From the logs:
`AudioTrack-JNI: Error -38 initializing AudioTrack`
`android.media.AudioTrack: Error code -20 when initializing AudioTrack`

###  Reproduction steps
100% reproducible
Add the following to `media.exolist.j

[2020-08-20 21:25] marcbaechinger commented on #7786
Roughly the device can not verify the trustworthiness of the SSL certificate. It's probably a problem with the server configuration. Please see the [detailed explanation in the official Android documentation](https://developer.android.com/training/articles/security-ssl?hl=en#CommonProblems).

When I connect to the server that delivers the manifest I get openssl saying as below:

[code]

When I do

[2020-08-21 04:13] GouravSna commented on #7786
Thanks a lot for the help, @marcbaechinger
I am turning my head now to the server configuration.
:)

[2020-08-21 05:59] prostaferesi commented on #7783
update:

If I enable passthrough in android sound menu, the audio is ok.
I tried also to downmix manually(creating a new file) with ffmpeg from 6 channels to 2, and audio is ok.
Is there any way to downmix to stereo when these kind of issues occur?

[2020-08-21 07:56] MrtDolphin0128 commented on #7746
Hello.

I just want to pull my customized project for ExoPlayer to your Github project.
This is just a pull, and it won't affect your original ExoPlayer project.
Only a few developers who using the Australian channel and also interested in ExoPlayer will use my customized project.

WHY DON’T YOU ALLOW TO USE JNI CODE?

You are using JNI code like me too. A total of 5 modules in the extensions are

[2020-08-21 08:24] icbaker commented on #7746
This is just a pull, and it won't affect your original ExoPlayer project.
Only a few developers who using the Australian channel and also interested in ExoPlayer will use my customized project.

I don't understand this - your PR is against the dev-v2 branch where we actively develop ExoPlayer. If we accept your PR then your code will  be included in our 'original ExoPlayer project'. Note: This is

[2020-08-21 09:06] ursurya commented on #7774
Hi @andrewlewis  , Did you get a chance to look into the Exception Log shared above

[2020-08-21 11:46] marcbaechinger commented on #7786
Cool! I close this issue for now. Please re-open if you think we need to discuss some further.

[2020-08-21 11:46] #7786 closed, assigned to marcbaechinger

[2020-08-21 11:51] marcbaechinger commented on #7787
This is discussed in detail in #6347 . I'm closing this as a duplicate.

[2020-08-21 11:51] #7787 closed, assigned to marcbaechinger

[2020-08-21 12:41] marcbaechinger commented on #7782
I close this for now. Please re-open if you have any further question.

[2020-08-21 12:41] #7782 closed, assigned to marcbaechinger

[2020-08-21 12:58] ojw28 commented on #7761
Not really, although some players may support a different subset of features. For example, some players might not support multiple `Period` elements.

I think the manifest you're providing is just broken. As @marcbaechinger says, there aren't any URLs defined in the manifest above that tell the player where it should be loading segments from. Why are the `BaseURL` elements empty? How can the playe

[2020-08-21 12:58] #7761 closed, assigned to marcbaechinger

[2020-08-21 13:08] andrewlewis commented on #7788
From the bug report:

[code]

... means that the `AudioTrack` is failing to initialize for encoded audio output (`ENCODING_E_AC3`).

I suspect that the device is still reporting to the app that DD+ is supported via passthrough even though the actual output path is now via headphones. Can you detect the headphone connection event and restart the player with a new `AudioCapabilities` instance that d

[2020-08-21 14:50] jam-le opened #7789 "Support for transparent video"
When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### Playing Transparent Videos (with the transparency intact)
iPhones allow videos with transparent backgrou

[2020-08-21 14:52] punitagoel2403 commented on #7750
I am reopening this issue. I just noticed there is another problem occurring after resolving the previously stated issue.
The previous issue was resolved by setting the player in onViewAttachedToWindow before playing the video. This worked fine. But now another issue has arisen. The video on any item once played if scrolled back doesn't show on the same item.

For eg: I have 10 items in recyclervi

[2020-08-21 15:18] andrewlewis commented on #7783
From the emailed bug report, this is a 6 channel 48 kHz stream (in AAC format):

[code]

I'm a bit puzzled that playback of the 6 channel stream isn't working, as support for downmixing is required in the Android 9 compatibility definition [here](https://source.android.com/compatibility/9/android-9-cdd#5_5_1_raw_audio_playback). I think this should be reported to the device OEM as a bug in their i

[2020-08-21 15:18] #7783 closed, assigned to andrewlewis

[2020-08-21 16:01] andrewlewis commented on #7774
Based on the exception, the ad the IMA extension thinks is currently playing is different to the one the IMA SDK passes to `pauseAd`, which is unexpected.

I tried to reproduce this using the sample ad tag linked above on 2.11.7 but wasn't able to (I tried pausing and resuming several times during the preroll and also during the first and second ads in the midroll pod, but playback worked as expec

[2020-08-21 16:06] ojw28 commented on #7723
To reiterate the request above:

Without sample media and without a detailed description, it's not possible for us to help.

[2020-08-21 18:13] PratimMallick opened #7790 "Can we force to widevine level to L3 even for devices which are having L1 as well?(only if the key is L3)"
### [REQUIRED] Question
There are lot of devices which is L1 widevine security level. While playing contents encrypted with L3 keys, exoplayer choses to use L1 because that is the more preferred way of decrypting the content - since its h/w based.
But we have seen that there are certain issues like - `Failed to restore key`,  `Failed to get Key Request`, `Failed to handle provision response`, `DRM

[2020-08-21 20:14] marcbaechinger commented on #7790
In general I would use L1 for the reasons you have given above. Whether you can fallback to L3 for devices which do not work with L1, is a decision that depends on whether this is ok for the content owner. I can't give you a general recommendation.

I would indeed force only on a per device model basis. Probably it is only needed for certain formats/codecs on a given device, if you care about havi

[2020-08-21 20:24] iWillBeUnderYourBed commented on #7480
Sorry for not posting sooner, I don't get to work on the problem for now. Also thank you @ojw28 for the background info. I think that's the issue, I have really small videos and putting them in loop mode let the memory usage explode. I tweaked a few parameter, that helped, I can't post whcih ones for now, but I think this issue can be closed.

[2020-08-21 20:24] #7480 closed, assigned to ojw28

[2020-08-21 20:53] dburckh commented on #2092
Although it is not commonly used for streaming, it is still very common in trail cams, lower end dash cams and drones.  I don't know how many people I've told to install VLC over the years.

[2020-08-21 21:50] mytvpro commented on #2092
It's very common in archived video. Everything older is avi.

[2020-08-22 07:08] punitagoel2403 commented on #7750
Any updates?

[2020-08-22 10:17] xeinebiu opened #7792 "Handle invalid stream URI"
### [REQUIRED] Searched documentation and issues
**Stackoverflow**

### [REQUIRED] Question
Given a list of URI's which points to same video but different hosts and qualities, if 1 URI points to a video which may be have been deleted, EXO Player will break and only show black screen and **currentMappedTrackInfo** returns null.

I would like someone to help because I find to understand very hard th

[2020-08-22 10:42] tosam144 commented on #7781
Thank you @marcbaechinger, that worked perfectly. You may close the issue.

[2020-08-22 12:17] #7781 closed, assigned to marcbaechinger

[2020-08-22 18:53] chhatrasal09 opened #7793 "Caused by android.content.res.Resources$NotFoundException Resource ID #0x7f08015c"
I am getting a fatal crash on Crashlytics. The crashes are around 300-400 on every build.

I am using these dependencies in my project :
[code]

The crash logged on Crashlytics says **"Caused by android.content.res.Resources$NotFoundException Resource ID #0x7f08015c"**. When I tried to find out to the resource id I found out that the mentioned id is of @drawable/exo_controls_repeat_all and this fi

[2020-08-23 16:54] PratimMallick opened #7794 "How to detect the required output protections for playback with L1 widevine keys"
### [REQUIRED] Question
Getting `CryptoException: Required output protections are not active` error on trying to play UHD contents using exo player. These contents are protected by widevine keys which needs `L1 security level`,  `HDCP_2.2` and `analog_output_disable = true`. Both these criterions are met in this android 4k streaming box running on Android OS 9.0. I have been able to check both the

[2020-08-24 02:07] rockygao123 commented on #7767
Unfortunately, the previous problem cannot be optimized after the two parameters are set

[2020-08-24 03:43] root-ansh opened #7795 "Play video of a url that requires authentication"
### [REQUIRED] Searched documentation and issues
yes.

### [REQUIRED] Question
I am storing videos in an `S3` bucket which makes the urls in the form of say `https://www.abc.zyx/some_folder/video.mp4` These videos are protected by an authentication layer which requires sending access credentials with each request. Thus for the videos behind this auth layer, I am getting a `403 InvalidResponseCodeE

[2020-08-24 06:29] pratimagauns commented on #7384
Hi,
I also receive this issue for my app on Redmi Note 8 pro running video with Widevine DRM. I was waiting for resolution on this thread. I can share the required bug reports with you.

[2020-08-24 06:46] Taranlayal10 commented on #7777
Hi marcbaechinger

Hope You have received the bug report. Appreciate your quick response on this as this is impacting our release.

[2020-08-24 06:48] kunal-chauhan9 commented on #3750
Hi @andrewlewis , Thanks for enriching Exoplayer. It would be great to know by when will this feature be added.

Thanks.

[2020-08-24 08:15] suchoX opened #7796 "Have Both LeastRecentlyUsedCacheEvictor for Playback cache and NoOpCacheEvictor for downloads"
So I am working on an Audio Streaming app which allows the audio to be downloaded as well. Everything is going perfectly fine with NoOpCacheEvictor. But Cache size is increasing astronomically. I decided to use LeastRecentlyUsedCacheEvictor which will work with Cache size but will also probably remove downloaded audios as well.

Is there any way I can use both which will clear Cache automatically

[2020-08-24 08:54] vikasgill commented on #7750
@punitagoel2403 Could you please share what you are actually doing. I am in doubt you are setting the wrong surface instance.

[2020-08-24 09:33] hangker opened #7797 "How to solve the problem of too long preparation time for playing local combined audio"
[code]

[2020-08-24 10:07] marcbaechinger commented on #7792
Can you give some more details about what you are doing? Like are you using an adaptive media source (HLS, Dash)? How do you prepare the player? A code sample can help as well if you are new to the terminology. This way we have a better idea of what you are trying to achieve and how.

[2020-08-24 11:20] AquilesCanta commented on #7793
By build do you mean Android build? Is this device specific or it happens across all devices?

[2020-08-24 11:52] AquilesCanta commented on #7789
I think for this to work you'll need to use a decoder that supports alpha channel, plus a texture view.

I am not sure whether any of the platform decoders supports alpha channel though, but it's possible to know this through CodecCapabilities: https://developer.android.com/reference/android/media/MediaCodecInfo.CodecCapabilities#colorFormats. If you cannot find a video codecs with the desired col

[2020-08-24 11:53] AquilesCanta commented on #7789
Aside, a sample video would be welcome. It will help whoever tries to explore this line of work.

[2020-08-24 11:53] punitagoel2403 commented on #7750
I am using singleton class for Exoplayer, and independent playerview for each item in a recyclerview. I am setting the player to playerview in onViewAttachedToWindow based on current position.

Exoplayer.playVideo(false, null); // pauses the video, setPlayWhenReady(false)

holder.playerView.setPlayer(Exoplayer.getPlayer()); // set the player to current holder playerview

Exoplayer.playVideo(true,

[2020-08-24 12:02] xeinebiu commented on #7792
Thanks for trying to help @marcbaechinger

I am using the "**_DefaultTrackSelector(context)_**" and I prepare a list of URI`s to EXO which all of these URI`s are the same VIDEO, except that they are from different servers.

1. **Uri A** -> server.com/video.mp4
2. **Uri B** -> server.de/video_de.mp4
3. **Uri C** -> server.uk/video_uk.m3u8
4. More Uri's

If one of these URI returns an error instead

[2020-08-24 12:04] kim-vde commented on #7767
You should set one of the 2 flags, not both.

Setting flag `FLAG_ENABLE_INDEX_SEEKING` (I didn't test the other one) seems to work for me. Can you try the following with and without the flag:
- Seek to 1h 49 min (`player.seekTo(6540 * C.MILLIS_PER_SECOND)`).
- Call `player.setPlayWhenReady(true)`.
- Wait until playback reaches the end of the file.

You should observe that the time exceeds the dura

[2020-08-24 12:29] rockygao123 commented on #7767
![image](https://user-images.githubusercontent.com/26377223/91044796-726cfb00-e648-11ea-926d-fbad8f263f8e.png)
I tried these two parameters separately, but failed to solve the problem...

[2020-08-24 13:09] kim-vde commented on #7767
What about `FLAG_ENABLE_INDEX_SEEKING`? It is only available on the dev-v2 branch for now.

[2020-08-24 13:12] tonihei commented on #7405
It turned out our measurements did not test this change correctly and using a timeout does indeed help to prevent ANRs. We will include the timeout in our code as default.

[2020-08-24 13:15] ojw28 commented on #7790
Although closely related, it's important to decouple to license policy (i.e., the rules and required protection levels required for playback, which may be specified by the content provider) from the actual Widevine CDM implementation:

* If your license policy requires a level of protection that only a L1 Widevine CDM implementation will support, then obviously you need to use a L1 Widevine CDM im

[2020-08-24 13:15] #7790 closed, assigned to marcbaechinger

[2020-08-24 13:29] tonihei commented on #7405
I'll close this issue because the main issue is tracked by #4352 which will be updated once the change is out.

[2020-08-24 13:29] #7405 closed, assigned to tonihei, christosts

[2020-08-24 13:55] danisebastio opened #7799 "How to extract metadata from udp stream of a ts file"
Hi, i have an udp stream from which i'd like to extract metadata flow. I'm streaming a ts file from vlc media player.
I can stream but i can't receive metadata. I'm using the following code to extract metadata:

[code]

but i don't receive nothing, i need to receive metadata like: duration, in playback title, next and previous program etc...
how can i resolve this issue? Thank you!

[2020-08-24 14:42] AquilesCanta commented on #7794
Something I'm noticing in the bugreport is the following line:

`Renderer error: index=0, type=video, format=Format(video/hvc1/2, null, null, video/hevc, hvc1.2.4.L90.90, 919689, null, [854, 480, 23.976025], [-1, -1]), rendererSupport=NO_UNSUPPORTED_DRM`

which is rather suspicious because we shouldn't be trying to play the video track if DRM is unsupported.

You can try disabling the audio track

[2020-08-24 14:57] AquilesCanta commented on #7795
Seems to me you can use something along the lines of:

[code]

Please post below if you run into further issues and I'll reopen the issue.

[2020-08-24 14:57] #7795 closed, assigned to nobody

[2020-08-24 16:09] ajkiosd commented on #7767
How to test dev-v2 branch? perhaps it is not available in jcenter. I tried to compile the project but failed.

[2020-08-24 16:49] AquilesCanta commented on #7796
I'm not clear about the whole problem but is it an option for you to use two different caches: One for playback caching and one for downloading? The former uses LRU CacheEvictor, and the latter uses NoOpCacheEvictor.

If you want to use a single cache, you can implement your own evictor which does whatever you specifically want, like LRU for video streams, and no eviction for audio streams.

Can y

[2020-08-24 16:51] AquilesCanta commented on #7797
Impossible to know without:
- Sample stream that reproduces the issue.
- Expected behavior.
- Observed behavior.

Last two items, I presume, differing in the preparation duration.

[2020-08-24 16:53] AquilesCanta commented on #7799
You can obtain that from `Player.getDuration()`.

Where is that information available in the stream? Is it PSI or an ID3 track?

[2020-08-24 16:56] ojw28 commented on #7794
There was a bug where `rendererSupport=NO_UNSUPPORTED_DRM` was spuriously printed whenever playback of any DRM protected stream failed due to `CryptoException`. It will be fixed in 2.12 (the commit that fixed it is https://github.com/google/ExoPlayer/commit/283bed8cb2013be239a3ee9bed0fb2f3f5d2f8cb). So you should probably just disregard this.

[2020-08-24 17:20] priscila225 commented on #7772
Got it. Thank you Andrew! I'll close this question

[2020-08-24 17:20] #7772 closed, assigned to andrewlewis

[2020-08-24 19:02] ursurya commented on #7774
Thanks @andrewlewis . I debugged further based on your comment and exception and observed we are getting different AdMediaInfo object to pauseAd Method  When paused Ad.  When i Paused  the First position Ad of Midroll , received second Ad position related object to pauseAd Method and "imaAdMediaInfo" instance is holding current playing First Ad info. Why  are we getting AdMediaInfo object of Next

[2020-08-24 21:02] ojw28 commented on #7384
@pratimagauns - If you're able to capture a bug report shortly after encountering the issue, please share it with `dev.exoplayer@gmail.com` using the subject title "Issue #7384" and then update this issue to indicate that the bug report has been sent. If you could also indicate whether you're happy for us to share your bug report with Xiaomi when you respond here, that would also be useful, and th

[2020-08-25 01:04] #7659 closed, assigned to krocard

[2020-08-25 08:18] danisebastio commented on #7799
Thanks for your answer!
With Player.getDuration() i get this value -> -9223372036854775807
Where can I get metadata type? In vlc i can't see anything

[2020-08-25 08:24] #7797 closed, assigned to AquilesCanta

[2020-08-25 08:25] hangker commented on #7797
player.prepare   It takes 2-3 seconds to play  I need to play it in real time

[2020-08-25 08:59] christosts commented on #7551
Closing, issue has been addressed in Android framework, this is not an ExoPlayer issue (see internal b/163127030)

[2020-08-25 08:59] #7551 closed, assigned to christosts

[2020-08-25 10:45] PratimMallick commented on #7788
@andrewlewis Yes the audio output settings are set to `passthrough`. So there is no other way apart from detecting a bluetooth headset connection?

Also is it possible to decode ec3 in the device(if it supports) and pass the decoded stream to the speakers via BT?

[2020-08-25 10:51] christosts commented on #7607
In playbacks that worked fine, the test stream was the same with the video recordings you have shared.

During the short period of time that the playback was not working (due to incorrect device geo-location setup), the content was slightly different: the logo pop-up of the service in the beginning of the stream did not appear and the video jumped directly to the main content. Also the logo wasn't

[2020-08-25 11:54] kim-vde commented on #7767
You can:
- Pull the [code from Github](https://github.com/google/ExoPlayer/tree/dev-v2) and build it, OR
- Wait until version 2.12.0 of ExoPlayer (which will contain this functionality) is released. This should happen in the coming days.

[2020-08-25 13:51] AquilesCanta commented on #7799
That value is [C.TIME_UNSET](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getDuration--), which means that the duration of the transport stream is unknown. Hard to know the reason without a sample stream, could be that the server is not defining the resource's length, for instance.

I don't understand this. Can you very clearly explain what you are trying to achiev

[2020-08-25 13:53] PiotrMuciek commented on #7296
Any updates on this issue? I have similar problem while using ExoPlayer Cast extension. Playback on cast receiver should continue when sender app goes to background. If i release CastPlayer in onStop method playback on Cast receiver app stops.
It is not a desired situation and it does not follow [best practices ](https://developers.google.com/cast/docs/design_checklist/sender).

An easy solution w

[2020-08-25 14:37] PratimMallick commented on #7794
@AquilesCanta Please find the bugreport from exoplayer sample app

https://drive.google.com/file/d/1z_S8di8pT_7_NhW0aK7nuRWylgz1k12M/view?usp=sharing

Would you be able to tell how to detect if `analog_output` is present or not in the device from app?

[2020-08-25 16:09] MahmoudMabrok opened #7801 "Add latest version to README"

[2020-08-25 18:26] chhatrasal09 commented on #7793
- Yes build means each app version eg-1.0.0.
- some of the androids versions -
   22% - Android 9
   21% - Android 8
   18% - Android 10
   12% - Android 5
   20% - Android 6
- some of the devices
  - 28% - Xioami
      - 4% Redmi Note 4
      - 3% Redmi 7
      - 3% Redmi Note 5 Pro
      - 18% Other
  - 28% - Samsung
      - 6% Galaxy J2
      - 4% Galaxy J7
      - 2% Galaxy J8
      - 16% Othe

[2020-08-25 22:23] stevemayhew commented on #7329
@AquilesCanta This may be fixed by the fix for VTT format parsing from this:  https://github.com/google/ExoPlayer/pull/7184

The URI is not valid so I can't help verify if the pull request fixes this too.   The whole business of matching CODECs from variants to the Renditions (MEDIA) is a bit janky for HLS.

[2020-08-25 22:23] jt64 commented on #7720
@ogawa-ma Thank you for getting the diagnostic info. unfortunately there isn't enough detail in it to help us narrow down the problem further. Would it be possible to ask the user to capture a bugreport after the failure occurs by following [these instructions](https://developer.android.com/studio/debug/bug-report)?

[2020-08-25 22:41] jt64 commented on #7390
While we are looking into the slow drm calls across different devices and can improve this in future releases, realistically we won't be able to update all existing devices with any changes.  Your suggestions about changing the threading model by, as you said "putting these mediaDrm calls on another thread in DefaultDrmSession.java", seem to be the most likely way to resolve this in the short term

[2020-08-26 05:17] ajkiosd commented on #7767
thanks, I successfully build and test dev-v2 in my project using the readme section Locally.
I can confirm `seekTo` works accurately but `contentPosition` is still inaccurate
In my use case, i need `contentPosition` with an offset below 50ms

[2020-08-26 06:28] ridanasif opened #7802 "Exoplayer bad performance in RecyclerView"
Exoplayer keeps lagging in recyclerview and viewpager.

[2020-08-26 07:39] amirhasanovic commented on #7771
@marcbaechinger thanks, we used a creation of another player that would be used when switching channels, and it is working pretty ok, but we are experiencing issues with buffering:

setting of the player (inside Player.STATE_READY case of onPlayerStateChanged())-
[code]

setting of hls stream(source is HlsMediaSource) -
[code]

the issue: what we noticed is that without setting player.seekTo(0), t

[2020-08-26 08:07] danisebastio commented on #7799
I leave my stream code here:

class MoviePlayerActivity : AppCompatActivity(), View.OnClickListener,
    Player.EventListener, SeekBar.OnSeekBarChangeListener, MediaSourceFactory, MetadataOutput {

    private var controllerVisible: Boolean = false
    private var simpleExoPlayer: SimpleExoPlayer? = null
    //Create default UDP Datasource and mediasource
    private val dataSourceFactory =

[2020-08-26 09:05] yoobi opened #7803 "Change theme or UI element of TrackSelectionDialogBuilder"
### [REQUIRED] Searched documentation and issues
Stackoverflow and issues in this repo

### [REQUIRED] Question
I'd like to know if it's possible to change the theme of TrackSelectionDialogBuilder, because I can't find any method to do so.

How can I set a theme for my trackSelectionDialogBuilder?

Thanks

[2020-08-26 09:10] kim-vde commented on #7767
The current position cannot be 100% accurate because it is updated at regular intervals (~ every 10 ms) and because multiple threads are involved.

Can you provide some code to show exactly what you are trying to do and how you compute the error delta?

Note that, instead of using MP3s files with `FLAG_ENABLE_INDEX_SEEKING`, it would be more efficient to use another container format, like MP4 or M

[2020-08-26 10:09] AquilesCanta commented on #7329
Hi @jtreveset, can you check your request is fixed in the dev-v2 branch?

The provided URL is returning 404.

[2020-08-26 10:34] ajkiosd commented on #7767
fisrt of all,mp3 files previusly generated by ffmpeg using this options:
`ffmpeg -ss {0} -i ""{1}"" -t {2} -codec:a libmp3lame -q:a 5`

length of all files is about 5 minutes
it is impossible to regenerate files again. my app have an iOS version that using `AVAudioPlayer`. the logic of the app is exactly the same in iOS and Android versions. AVAudioPlayer has no problem at all.
two instances of pl

[2020-08-26 10:58] andrewlewis commented on #7789
To add to @AquilesCanta's suggestion about decoding via extensions, #2509 discusses rendering videos with an alpha channel using the vp9 extension. I think it's still the case that Android platform decoders don't support this.

[2020-08-26 11:39] jtreveset commented on #7329
Indeed, unfortunately, the original streams are now down. We will try to come up with a similar stream for testing. I'll let you know once I have more info.

[2020-08-26 11:45] mkcdot opened #7805 "Exoplayer playback fails after acquiring keys from license server"
### Question
I am using a third party drm (other than widevine, playready, FPS or clearkey).
When I play the dash content (encrypted with CENC for this drm) on exoplayer, content plays for 5-6 seconds. It acquires the license and keys are loaded. But playback fails after that with some decryption error:
`Caused by: android.media.MediaCodec$CryptoException: Decryption Error`.

### A full bug report

[2020-08-26 12:59] MostafaBalba opened #7806 "Disable HeadsUp Notifaication on High Priorty Notifications"
HeadsUp Notifaication  showsUP on High Priorty and high Priority set to Notifications and notification channel
making the prioity default or low isn't convienient also the HeadsUp Notifaication isnot convienient for music streaming

[2020-08-26 13:21] marcbaechinger commented on #7771
I think these are live streams so with seeking to 0 you are not seeking to the default position. For live streams the default position is somewhere close to the live edge, while 0 is at the beginning of the live window.

Assuming the player in the second code snippet has not been used, you override the default position with the `seekTo` call. So I would try this setting:

[code]
That makes the pla

[2020-08-26 13:37] AquilesCanta commented on #7801
Handing over to @ojw28 for context on this.

[2020-08-26 13:48] marcbaechinger commented on #7806
According to the [documentation about notifications](https://developer.android.com/guide/topics/ui/notifiers/notifications#Heads-up), heads up notification are shown for important notifications. The importance level of a notification [is defined by the notification channel](https://developer.android.com/training/notify-user/channels#importance).

By default the `PlayerNotificationManager` creates

[2020-08-26 14:21] ojw28 commented on #7801
@marcbaechinger - Looks like this is possible by putting https://img.shields.io/github/v/release/google/ExoPlayer.svg?label=latest somewhere in the page.

[2020-08-26 14:43] marcbaechinger commented on #7801
Done. This will show up in the release branch with the next release and in the dev-v2 branch with the next sync.

[2020-08-26 15:42] AquilesCanta commented on #7802
Not enough info to help here. Can you clearly explain what the issue is?

Aside, please take a look at existing issues in this issue tracker, like #867. If the issue you are observing is dropped frames, please try using a TextureView (if you are not already doing so).

[2020-08-26 15:59] AquilesCanta commented on #7805
I think you should contact the Content Decryption Module owner to assist on this, considering this is a decryption error raised by the CDM. There's no way for us to diagnose this. Is there any evidence pointing at this being an ExoPlayer issue?

The reason it plays for a few seconds might be related to the fact that most media streams have a leading group of clear samples, after which content is e

[2020-08-26 16:04] PratimMallick commented on #7788
@andrewlewis After detecting headphone connection and sending new capabilities that do not include Encoded format plays fine

[2020-08-26 16:22] kim-vde commented on #7767
I think there is a problem in how `contentPosition` is computed. When you set the `date` in `play()`, you assume that the content will start playing at that exact moment but that is not always true. The player could still be waiting until a sufficient amount of data is loaded before starting to play (this corresponds to state STATE_BUFFERING). You should listen to `AnalyticsCollector#onPlaybackSta

[2020-08-26 16:42] AquilesCanta commented on #7803
@tonihei, mind answering this?

[2020-08-26 16:51] yoobi commented on #7803
I've already made a PR, https://github.com/google/ExoPlayer/pull/7804

[2020-08-26 17:01] tonihei commented on #7803
Thanks, just reviewed it :)

[2020-08-26 17:42] ojw28 commented on #7728
Did you mean to reference a different issue?

[2020-08-26 17:44] ojw28 commented on #7624
Your HLS playlist is referencing a file called `enc.key`, but it doesn't appear that it exists on the server. Or at least, attempting to request it returns a HTTP 403 response. Playback of this stream does not work in VLC or Safari either, presumably for the same reason. I think you need to make sure that this file is present and that the player is able to request it.

[2020-08-26 18:04] andrewlewis commented on #7728
I've updated it (not sure where that came from). Thanks.

[2020-08-26 18:17] marcbaechinger commented on #7792
I think there are some difficulties involved with that approach. I wonder whether it makes sense to just use a single media source to prepare the player and then, when you hit an exception you can just prepare again with a fallback uri and a new media source.

The approach with the `MergingMediaSource` involves that all of the available child media sources are going to be prepared at preparation.

[2020-08-26 18:44] Turalllb opened #7807 "playbackLooper is null in @NonNullApi package"
![Снимок экрана 2020-08-26 в 21 11 55](https://user-images.githubusercontent.com/28982210/91342200-594c8180-e7e3-11ea-9892-e5c00905d12f.png)                                                                   https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/package-info.java
  Release 2.10.+ has no bug, release 2.11.7 has a bug.     Play st

[2020-08-26 19:08] changxiangzhong opened #7808 "AudioTrack Underrun optimization"
### [REQUIRED] Searched documentation and issues
ExoPlayer source code
MediaCodec API

### [REQUIRED] Question
We are trying to deploy our product on some low end devices (yes, really low). And we've been hit by *audio jank* issue. When it happens we could find one warning log like the following.
[code]
And We've checked the thread nice value of that process. Threads related to AV processing are l

[2020-08-26 19:52] amirhasanovic commented on #7771
@marcbaechinger  once again, thanks for the answer and sharing your knowledge. We switched to using `player.seekTo(C.TIME_UNSET)`, but the unwanted behavior still happens from time to time. We also tried changing the load control values that are passed to

[code]
Also, I forgot to mention, setting of the HlsMediaSource is done in the following way:
[code]

This is the log that i get when the strea

[2020-08-27 00:04] fmatosqg commented on #7808
Hi @changxiangzhong I don't think I can help you but maybe you can help me. Can you describe how your audio jank sounds like?

I get some feedback from users with live audio streams that may indirectly be related to this, do you know how I can reproduce this issue, is there a specific audio file (preferrably live, and audio only) / phone model combination you can share?

[2020-08-27 03:20] TakuSemba opened #7809 "Current buffer size is underestimated on BufferSizeAdaptiveTrackSelection."
### [REQUIRED] Issue description

I'm currently working on applying Buffer Based ABR on some contents using `BufferSizeAdaptiveTrackSelection`.
While doing so, I found the issue that it never goes to steady-state.

`BufferSizeAdaptiveTrackSelection` goes into steady-state phase when the player has enough buffer to play a track at `selectedIndex`which has selected at start-up phase (which is based

[2020-08-27 04:13] eservicetv opened #7810 "How do I remove the debug text at the top of the Demo app?"
hello how can i remove that text
![err](https://user-images.githubusercontent.com/70307516/91383412-79d80400-e802-11ea-9e8f-873e80ed04ea.png)

[2020-08-27 05:16] mkcdot commented on #7805
I also suspected the same, but was not sure. I will focus on CDM-side.
It will be helpful for me if I get more information on this error, like what can be the reasons for exoplayer to give this error. Is it due to improper decryption or improper content itself or exoplayer/media DRM server is unable to interact with CDM for decryption? Can I get more information from exoplayer regarding this error

[2020-08-27 07:38] kim-vde commented on #7267
I will close this issue as the corresponding pull request has been merged.

[2020-08-27 07:39] #7267 closed, assigned to kim-vde

[2020-08-27 07:42] ajkiosd commented on #7767
I changed my code a bit to set `date` when `STATE_READY` and this is the result in speed rate 2.0x:
[code]

in another test, I use a CBR version of the same file and this is results:
[code]

You can see CBR Version has accurate value but I am sure ExoPlayer does the wrong job in the VBR version.

[2020-08-27 07:50] changxiangzhong commented on #7808
@fmatosqg

The root cause (my understanding) of this issue is the execution block/method execution of `ExoPlayerImplInternal::doSomeWork()` scheduled on thread **ExoPlayerImplInternal:Handler** is not fast enough. It calls `MediaCodec.releaseOutputBuffer()` too late. Essentially, we are feeding the **sound card** too late/slow.

The *audio jank* issue sounds like a very short halt/gap within the s

[2020-08-27 08:08] suchoX commented on #7796
@AquilesCanta I think I solved It. I Never thought you can have different DataSource for different Media on the same Concatenating Media Source. I created two caches and two datasource using the two caches and based on download status I am adding the respective Datasource. Closing This issue.

[2020-08-27 08:08] #7796 closed, assigned to AquilesCanta

[2020-08-27 09:14] kuailedeadai commented on #7743
Hello, I found through the log that whenever I seek to a certain position, I search for the previous key frame in the seek index, but the timestamp of the parsed frame is not the closest, so when I find the time after the seek The poke is still smaller than the current position, I will directly look for the next key frame in the buffer, and through the test, the seek rate has doubled.

[2020-08-27 09:17] #7792 closed, assigned to marcbaechinger

[2020-08-27 09:52] SteUK opened #7811 "Custom audio processing (to buffer) with change to output samplerate"
### [REQUIRED] Searched documentation and issues
I have searched the github issues, stack overflow, and wider searches on google. I have also, naturally, looked at the relevant class documentation.

### [REQUIRED] Question
I am requiring custom implementation to silence audio output (to AudioTrack) and buffer up audio data for playback externally to ExoPlayer.  To achieve this I have used stock/st

[2020-08-27 10:01] AquilesCanta commented on #7810
That text is produced by the `DebugTextViewHelper`. I'm assuming you are forking the demo app, in which case you should just not use a `DebugTextViewHelper` in your activity. Please comment below if this does not solve your question and I'll reopen.

[2020-08-27 10:01] #7810 closed, assigned to AquilesCanta

[2020-08-27 10:15] AquilesCanta commented on #7805
The CDM is a black box to the player. Debugging any type of DRM issues is, more often than not, complex. ExoPlayer itself does not provide any tools, but you might be able to get some information from [Android MediaDrm](https://developer.android.com/reference/android/media/MediaDrm)'s callbacks. The best tool you have is pretty much in-app debugging and discarding options as you go. For example,
-

[2020-08-27 10:15] #7805 closed, assigned to AquilesCanta

[2020-08-27 10:15] andrewlewis commented on #7788
I'm not aware of another way to do this, I'm afraid.

If audio capabilities don't include the format but the device has a decoder that supports the format, ExoPlayer will use that decoder automatically (and play the decoder's output PCM over headphones).

It sounds like you've got a solution that works for now. I think we need to respect the audio capabilities that are passed in by the app at the

[2020-08-27 10:15] #7788 closed, assigned to andrewlewis

[2020-08-27 10:41] AquilesCanta commented on #7807
It seems like `getPlaybackLooper()` should be marked as Nullable. Is that the issue? If not, please clarify.

EDIT: We are not marking it as nullable but instead saving the playback looper reference which we always return. This should also address your usecase.

[2020-08-27 10:49] AquilesCanta commented on #7808
Assigning @christosts who is working on renderer pipeline optimizations.

[2020-08-27 10:52] AquilesCanta commented on #7809
Assigning @tonihei who experimented with `BufferSizeAdaptiveTrackSelection`.

[2020-08-27 10:53] andrewlewis commented on #7808
It may be worth trying increasing the `AudioTrack` buffer size (calculated in `DefaultAudioSink` around [here](https://github.com/google/ExoPlayer/blob/ad1dffc/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L1365), based on some [constants](https://github.com/google/ExoPlayer/blob/ad1dffc/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAu

[2020-08-27 11:04] marcbaechinger commented on #7771
Seems like there is a problem on the server side then. Are you controlling the server side? It seems like there are segments in the HLS playlist which do not exist on the server and result in a 404. It would make sense that the player remains in the buffering state as long as the player retries.

There is not much the player can do when hitting a 404 on the server for a segment thats declared in t

[2020-08-27 11:06] #7801 closed, assigned to marcbaechinger

[2020-08-27 11:34] Taranlayal10 commented on #7777
Any updates?

[2020-08-27 12:34] marcbaechinger commented on #7777
When looking into the bug report I can't find much about a playing ExoPlayer instance I'm afraid. I would expect to see at least a line for [when the player is created](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L105) and released. That line contains the token `ExoPlayerLib`. When search for this I can't find this

[2020-08-27 12:36] MostafaBalba commented on #7806
I know , but i want to make the importance high without heads up notification, low and default doesnot show heads up but they push notification down in notifications list which is inconvenient

[2020-08-27 12:56] Subuday opened #7812 "Pause download"
Before filing a feature request:
-----------------------
https://github.com/google/ExoPlayer/issues/4860

### [REQUIRED] Use case description
User should be able to pause downloading of one video. Currently supported only pause and resume all downloads. I have found a hack in whick I can set `DownloadService.sendSetStopReason()` and unset then. But when stop reason is set the notification is delet

[2020-08-27 12:58] ursurya commented on #7774
Hi @andrewlewis  Can you please help us on why are we getting different AdMediaInfo Object when pause ad. Pause and Play worked fine with Preroll ads .

[2020-08-27 13:02] #7603 closed, assigned to tonihei

[2020-08-27 13:04] tonihei commented on #7661
I'll close the issue because it looks as if the question was answered satisfactory.

[2020-08-27 13:04] #7661 closed, assigned to tonihei

[2020-08-27 13:04] #7671 closed, assigned to tonihei

[2020-08-27 13:05] tonihei commented on #7673
Closing, because we won't add this to our `TrackSelectionDialog`.

[2020-08-27 13:05] #7673 closed

[2020-08-27 13:05] tonihei commented on #7674
Closing under the assumption that the question was answered.

[2020-08-27 13:05] #7674 closed, assigned to tonihei

[2020-08-27 13:05] tonihei commented on #7684
Closing under the assumption that the question was answered.

[2020-08-27 13:05] #7684 closed, assigned to tonihei

[2020-08-27 13:06] tonihei commented on #7685
Closing under the assumption that the question was answered.

[2020-08-27 13:06] #7685 closed, assigned to tonihei

[2020-08-27 13:07] tonihei commented on #7699
Assigning to @AquilesCanta to have a look and comment on this.

[2020-08-27 13:11] tonihei commented on #6676
This requested enhancement was implemented by #6678, so closing this issue. If there is something left to implement, please file a new issue for tracking. Thanks!

[2020-08-27 13:11] #6676 closed, assigned to tonihei

[2020-08-27 13:20] tonihei commented on #6163
This has been partly addressed in the latest version (2.12.0) by adding a `onMediaItemTransition` callback that gets called for every change to the current `MediaItem`, including start-up and auto-repeat. There is a separate reason for REPEAT to easily distinguish this case.

Remaining work:
 - Separate reasons for seek within a window or to another window.
   - Won't be implemented because we wil

[2020-08-27 13:21] tonihei commented on #6065
Closing this issue again because the extra question was answered.

[2020-08-27 13:21] #6065 closed, assigned to AquilesCanta, tonihei

[2020-08-27 13:43] tatsuya25 opened #7813 "running the demo in pre 21 can not handle headphone physical pause/play button"
running the demo app in android 4.3 while connecting it with a headphone, pressing the puase/play button on the headphone doesn't do anything. while debugging the issuse i found that the headphone sends KEY_EVENT_HEADSETHOOK on pressing play/pause button which isnt captured by isHandledMediaKey.

### proposed solution:
in [**PlayerControlView**](https://github.com/google/ExoPlayer/blob/62092e66458

[2020-08-27 13:53] marcbaechinger commented on #7806
I think that is a platform behaviour we can not work around I'm afraid.

The documentation says that a reason for showing a heads up notification is the following: `The notification channel has high importance on devices running Android 8.0 (API level 26) and higher.`

So if you give the notification channel a high importance the system creates a heads up notification. I don't think there is a way

[2020-08-27 13:55] AquilesCanta commented on #7811
From a quick look at the [setOutputSampleRateHz's documentation](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/audio/SonicAudioProcessor.java#L140), it seems you also need to call configure(). The [tests](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/test/java/com/google/android/exoplayer2/audio/SonicAudioProcess

[2020-08-27 14:01] AquilesCanta commented on #7793
The only similar issue (#7380) report we have had in the past was from a device probably running a customized version of android. In this case, we have a widespread issue, which is new for us. Unfortunately I don't know we can assist with this. I think that we would have more similar reports if this was an ExoPlayer issue.

Did you manage te reproduce the issue on the APK that you used for the ana

[2020-08-27 14:03] AquilesCanta commented on #7699
You should track #7296, if that's what you are trying to do. If not, please clarify and I'll reopen.

[2020-08-27 14:03] #7699 closed, assigned to AquilesCanta

[2020-08-27 14:07] AquilesCanta commented on #7296
Sorry for the delay on this, I haven't been able to invest time in the cast extension lately, unfortunately.

The issue here is that the activity has ownership of the CastPlayer instance. In order for the ownership model to work well, my advise is that you move away from what the demo app is doing and use a foreground service instead. So, when the cast session starts, you can transition to a Servi

[2020-08-27 14:44] tonihei commented on #7803
PR got merged, so I'll close this issue.

[2020-08-27 14:44] #7803 closed, assigned to tonihei

[2020-08-27 14:45] #7807 closed, assigned to AquilesCanta

[2020-08-27 14:56] SteUK commented on #7811
Thanks for your response :)

Calling configure does indeed appear to fix the setting of the outputSamplerateHz.  Small side on this...how would I get the current inputSampleRate/channel/encoding that is passed in to 'configure' as a new AudioFormat?

The same problem persists (as when I was hard coding the 48000Hz output sample rate). The audio is not correct.  It appears to be pitched up and glit

[2020-08-27 15:18] tonihei commented on #7809
Thanks for reporting and experimenting with new algorithms!

I can see the issue as well and you already identified the root cause in the `HlsChunkSource`. Note that the problem only occurs if ALL of the following conditions are true:
 1. HLS stream with non-independent segments
 2. The bandwidth is sufficient to play the highest available bitrate.
 3. The `hysteresisBuffer` parameter is less than

[2020-08-27 15:18] #7809 closed, assigned to tonihei

[2020-08-27 15:36] AskMeCode opened #7815 "How i can setVolume Left and Right"
Hello all.

I need make app karaoke and i need to setVolume of each speaker left or right separated
like setVolume(float left,float right);
if possible how i can do that,

Thanks in advance

[2020-08-27 15:37] tonihei commented on #7809
Since you have to fork the code anyway, you can also introduce a new parameter `hlsChunkDuration` or similar and make sure to use `Math.max(hysteresisBuffer, hlsChunkDuration)` instead of `hysteresisBuffer `on the following line. This prevents unwanted side effects. You can then set the `hlsChunkDuration` to whatever value you need for your streams.
https://github.com/google/ExoPlayer/blob/e822196

[2020-08-27 15:50] AquilesCanta commented on #7794
Some useful information is available in #4825. I suggest you take a look at the [key status callbacks](https://developer.android.com/reference/android/media/MediaDrm.KeyStatus) to see if you can find any useful info on the usability of keys. Specifically [STATUS_OUTPUT_NOT_ALLOWED](https://developer.android.com/reference/android/media/MediaDrm.KeyStatus#STATUS_OUTPUT_NOT_ALLOWED) looks relevant. I

[2020-08-27 15:56] MostafaBalba commented on #7806
I am testing on api 26 and i am attaching a media session to it but notification sometimes gets pushed down (not alot ) using default importance for channel and notification priority high , i am just trying to simulate soundcloud and spotify notification behaviour they are always on top

[2020-08-27 15:56] ojw28 commented on #7793
It could also be that all of these crashes are coming from a customized version of Android, the same as in the other issue. Custom ROMs such as Lineage OS support [quite a lot](https://wiki.lineageos.org/devices/) of devices. Looking at the specific build fingerprints of the devices reporting these crashes should allow you to identify with some degree of accuracy whether they're running customized

[2020-08-27 16:02] MehulKSimform opened #7816 "VideoCapabilities: Unsupported profile 2 for video/mpeg2"
[code]

**Getting above error only when I open app first time and also screen became black while video is playing . After if I open video activity again then video is playing correctly and working as expected.**

[2020-08-27 16:46] marcbaechinger commented on #7813
Thanks for reporting. We will provide a fix for this and update this issue when it has landed.

[2020-08-27 16:47] SteUK commented on #7811
Bit of a U turn on the above.  Just noticed that my log in SonicAudioProcessor.configure fires twice now.  Once saying the output sample rate is 48000 (that I am setting, then again ~350ms later saying it is being set to 22050.

I am calling the set and configure right after I create the processor.  I have tried moving it to later in the chain (after I create MediaCodecAudioRenderer) but it makes

[2020-08-27 17:43] changxiangzhong commented on #7808
@andrewlewis Thank you so much for your instruction, that's really helpful. On a smoke test, we found that the smoothness of the playback gets improved **substantially** by 10X the default `AudioTrack::bufferSize`. Our use case is bit special - we are rendering the semi-transparent activity_layout on top of a Surface for playback purpose. So yeah, we have crappy devices and resource intensive requ

[2020-08-27 17:55] greyski opened #7817 "Updating the master HLS playlist to only contain a single variant shows significant performance improvements"
### [REQUIRED] Searched documentation and issues
I was reading [this blog post](https://medium.com/google-exoplayer/hls-playback-in-exoplayer-a33959a47be7), but it doesn't directly assess  the implications of having only one variant on the HLS playlist.

### [REQUIRED] Question
We recently experimented limiting the number of variants in the master HLS playlist and found perf (loading time) improve

[2020-08-27 17:55] eservicetv commented on #7810
I do not understand much but I would like to remove or hide it because it is annoying

[2020-08-27 18:02] ravisaini1990 opened #7818 "Clicking on player notification pause my media playback"
On Exo player, I am playing any audio media and if I click on the notification of the player. Current ongoing media get paused and vice versa if its in pause state.
Note: I am not clicking on play/pause icon, clicking outside anywhere on notification causing this random behavior.

[2020-08-27 19:58] hobsRKM opened #7819 "Playernotifcation Manager - Set IMPORTANCE HIGH not working"
I tried the exoplayer example form codelabs and implemented player notifications.

The notification icon in status bar is not shown, but displays in notification drawer as **other** categories with low importance.

Tried setting it to priority high still doesn't show up in Top status bar.

Here's the example code from google.

**playerNotificationManager.setPriority(NotificationCompat.PRIORITY_MAX

[2020-08-27 19:59] #7819 closed, assigned to nobody

[2020-08-27 20:00] hobsRKM opened #7820 "PlayerNotificationManager - Improve APIs for setting player notification priority"
**Note: Works fine on lower API < 29**

On android 10 api 29
I tried the exoplayer example form codelabs and implemented player notifications.

The notification icon in status bar is not shown, but displays in notification drawer as **other** categories with low importance.

Tried setting it to priority high still doesn't show up in Top status bar.

Here's the example code from google.

**playerNo

[2020-08-27 20:22] kurtdh opened #7821 "Dropped frames using AI enhanced upscaling on 60 fps content with an NVIDIA SHIELD"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2020-08-27 21:10] MostafaBalba commented on #7806
I found that spotify also gets pushed down on some cases so it depends on system

[2020-08-27 23:15] marcbaechinger commented on #7820
The value set with [setPriority(@Priority int priority)](https://github.com/google/ExoPlayer/blob/r2.11.8/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L888) has only effect on API 25 and lower.

For higher API levels, the importance of the notification is determined by the [importance level of notification channel](https://developer.android.com/training/

[2020-08-27 23:40] chhatrasal09 commented on #7793
- If there is an issue with the build then it should not run on my devices as well? But fortunately it works well on my device and on some devices that we use to test every build before release. So, I don't think this is an issue of build process.
- The resource id that I found from apk points to exo_controls_repeat_all.xml file which comes with exoplayer library and if the apk is not able to pack

[2020-08-28 01:04] #7572 closed, assigned to andrewlewis

[2020-08-28 01:38] TakuSemba commented on #7809
Thank you for the replay. I'll think about what we can do.

[2020-08-28 08:01] kurtdh commented on #7821
I figured out the problem. When you change the adjust for overscan option in the nvidia shield advanced display settings, and change it to anything other than the default max option, it causes these dropped frames when AI upscaling is enabled. Seeing as how it’s not an exoplayer specific issue, I will be closing this issue. Hopefully this helps somebody else.

[2020-08-28 08:01] #7821 closed, assigned to ojw28

[2020-08-28 08:05] andrewlewis commented on #7774
In `PlayerView` I hardcoded `controllerHideDuringAds = false` and set `DEFAULT_SHOW_TIMEOUT_MS = 0` so that the controller doesn't auto-hide once shown. Then I tried playing the ad tag 'VMAP pre-roll single ad, mid-roll optimized pod with 3 ads, post-roll single ad' and paused/resumed during ads but didn't see an exception.

It does sound plausible that there could be a bug where preloading causes

[2020-08-28 08:58] mkcdot commented on #7805
Thanks for the suggestions. I will look into that.

[2020-08-28 09:17] hobsRKM commented on #7820
I tried on an emulator on API 29 works perfect, But not sure why on the real device with Android 10 it goes to "Other" Category instead of important and hides the status icon. (device tested one plus 6t)

[2020-08-28 09:38] ghost opened #7822 "Exoplayer jumping of exo position when seek to some small seconds."
Hello,
I am developing an application where I am using exoplayer.I have some question regarding seek operation when I stream live in exoplayer.
First , when I get url for stream I get exo position and exo duration where exo duration is fix.where exo position is showing current play back time.Now when I seek suppose 10 sec back from live content in stream then exo position is some times seek to 10

[2020-08-28 10:00] marcbaechinger commented on #7820
Are you using your own notification channel?

[2020-08-28 10:14] marcbaechinger commented on #7817
Which variant does the player choose when you have 7 variants? Can it be that it takes a much higher quality than when you use just one variant?

Can you measure the latency from prepare to first frame rendered when you are only using the 1280 variant for example?

[2020-08-28 10:15] hobsRKM commented on #7820
Yes.
I created a channel with id 987 to test and passed the same id to PlayerNotifcation constructor.

Please let me know if it's correct.
[code]

[2020-08-28 10:32] rockman9x opened #7823 "Green screen when play video"
Hi ExoPlayer team,
We have a problem with newest version of ExoPlayer: 2.11.7. Player show green screen like picture below. Some device like OPPO-OPPO-A37fw, Xiaomi redmi note 4x, OPPO-OPPO-A33fw... are affected.  We try version 2.9.5 or lower version and it work without green screen.

**Version of ExoPlayer being used**
v2.11.7

**Device(s) and version(s) of Android being used**
OPPO-OPPO-A37fw -

[2020-08-28 10:33] marcbaechinger commented on #7818
When creating the `PlayerNotificationManager` you need to create a `MediaDescriptionAdapter`. The adapter has a method `getCurrentContentIntent`. When clicking on the notification (not on any buttons) this pending intent is fired. If you return `null` for the pending intent tapping the notification should have no effect.

Can you review your code to see what you pass as the pending intent for your

[2020-08-28 11:35] marcbaechinger commented on #7820
This seems to be correct yes.

Please allow me to make you aware that making media notifications of `IMPORTANCE_HIGH` is not recommended. The `PlayerNotificationManager` posts updates the notification quite often, for instance when a player status change happens. This causes the notification to be reposted for example when the user pauses playback, the player starts to buffer, a new song starts or

[2020-08-28 12:19] hobsRKM commented on #7820
OK thanks, will look into it.

It would be good if there was an additional argument to player notifications constructor to override the importance. Rather than creating a new channel.

[2020-08-28 12:48] ravisaini1990 commented on #7818
@marcbaechinger If I set createCurrentContentIntent return as null, on clicking of notification won't open my app. I have the following code written

[code]
------
[code]
Please suggest what should i do

[2020-08-28 13:05] marcbaechinger commented on #7818
So what happens is that when the user taps the notification, it launches your activity again. You need to make sure that this does not recreate the player or similar.

Please check [this documentation page](https://developer.android.com/training/notify-user/navigation) for more details.

[2020-08-28 13:40] winfred-wong commented on #5935
Getting the same error on Flutter.

[2020-08-28 14:58] marcbaechinger commented on #7820
Agreed that making the importance an argument possibly would make it easier and we should probably think about this.

I don't think this additional argument needs to be on the constructor though. The static factory methods would be a better place. Said this, there are many arguments already and adding another would add another static method. So we should probably think of replacing these with a bu

[2020-08-28 15:19] roundsmapp commented on #4924
I'm still fighting with this issue, not being able to release the App until it is solved. I'll make more tests on different devices. To be more productive, it'll help if you could give me a short list of which devices (smartphone models) you are able to do the test on your side, i.e., which brands/models, so I can try to find the same one here and see the behaviour.

Could you please provide such

[2020-08-28 15:31] christianfrank84 commented on #3859
Adding `maven { url 'https://jitpack.io' } `and `implementation 'com.github.google:ExoPlayer:dev-v2-SNAPSHOT' `doesn't seem to work any longer.

Building always results in an Error `Could not find com.github.google.ExoPlayer:exoplayer:dev-v2-SNAPSHOT.`

Is there any update to this dependency?

[2020-08-28 16:43] ravisaini1990 opened #7824 "Player small icon goes missing from status bar while player is playing"
I am facing this little strange issue that the small player icon from the status bar goes missing randomly, while my Exo player is on and playing.
Any suggestions about what I could do to solve it.

[2020-08-28 18:31] ojw28 commented on #7812
This is already supported by setting per-download stop reasons, as documented [here](https://exoplayer.dev/downloading-media.html#setting-and-clearing-download-stop-reasons).

[2020-08-28 18:31] #7812 closed, assigned to ojw28

[2020-08-28 18:38] ojw28 commented on #7816
I don't think all of the `Unsupported profile` logging is relevant.  The only relevant log line is:
[code]
which indicates that the device doesn't support the resolution (4K) of the video being played. It's possible that the player will select the track anyway, and that playback will succeed, if the device is under-reporting its true capabilities.

The information provided is not really sufficient

[2020-08-28 18:48] ojw28 commented on #7822
The playback position is the position within the live window of media that the server is making available to the player. When you see the playback position jump backwards by 4 seconds, that's because the server has removed 4 seconds of media from the start of the live window. It's probably added 4 seconds of new content to the end of the live window at the same time, effectively shifting the live

[2020-08-28 19:03] ojw28 commented on #7793
It's impossible to say without knowing how many users you have in total. In any case, I'm pretty sure Crashlytics should give you more information than just "Android 10". It probably gives you the name of the specific OS build running on the device, or the whole device fingerprint that includes this information. You can look at this information to confirm whether the devices are running custom ROM

[2020-08-28 19:05] #7818 closed, assigned to marcbaechinger

[2020-08-28 19:08] satyres opened #7825 "Is there a flag to bypass the Shoutcast Metadata?"
Hi
i've found the script you wrote to find the metadata is very slow and there are better way
i'm using a radio player, their script is very fast and reliable, after upgrading to the new Exoplayer they are forced to use your script which is  very slow and takes more than 10s to get the new metadata.
so i'm asking is their a way to bypass your script so i can use the older script of the radio playe

[2020-08-28 19:36] greyski commented on #7817
It should pick the first one variant to start with, and ramp up after a little bit.

It'd be difficult to measure that for an individual variant.

Perhaps the player ramps up to 1280 very quickly, and then stays at 1280.

[2020-08-28 20:02] marcbaechinger commented on #7817
I think the default bandwidth meter might start with a higher variant when eg. on WIFI.

Interesting would be to do the same experiment with a single variant ("either 360, 480, 640") and that variant is the 1280 variant. Agreed that this is a totally uneducated guess from my side, sorry about that. But when measuring first frame latency the quality of the variant looks like a significant factor at

[2020-08-28 20:13] ojw28 commented on #7825
Sorry, but it's impossible to understand what this means from the information provided. If there's a problem where ExoPlayer is slow to report Shoutcast metadata, please structure this issue as a bug report where you clearly describe what the problem is and how to reproduce it. Reproduction steps should be provided for the ExoPlayer demo app or some other publicly available code that we can look a

[2020-08-28 20:23] marcbaechinger commented on #7824
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2020-08-28 20:23] satyres commented on #7825
Hi
it's not a bug .
starting from the version 2.10.X you have added the shoutcast support which is very good by the way.
i was using an app called RadioDroid , this app has a very good script to find the shoutcast metadata and as soon as the song change it get's the new metadata.
but lately they have been forced to use the new Exploayer 2.10.X and they used your script to get the new metadata , bu

[2020-08-28 20:57] ojw28 commented on #7825
If it's taking 10 seconds to get metadata that it should be possible to get immediately, then it probably is a bug.

In what way have they been "forced" to do this, and how do you know that ExoPlayer 2.10 is the root cause of whatever the problem is that has caused metadata retrieval to be slower than it used to be? It sounds like you should report the issue to the application developer, rather th

[2020-08-28 21:02] dgrdinh opened #7826 "Android resource linking failed When Importing Exoplayer as CompileOnly in a Module"
When building a module that imports exoplayer as compile-only we are getting an error:

Execution failed for task ‘:xxxxx:verifyReleaseResources'.
com.android.builder.internal.aapt.v2.Aapt2Exception: Android resource linking failed
……..resource id/exo_play not found.

We are implementing ExoPlayer in a module that gets imported into an App.  The Module imports ExoPlayer using “compileOnly” like so

[2020-08-28 21:18] satyres commented on #7825
Thank you for your answer.
i'm sure it's not a bug it's working fine for Exoplayer ,
well i need to make more test to find out the problem can you tell me if there is a flag to turn off the metadata shoutcast in Exoplayer or how to override it  in order to find out the problem.
Thanks for your awesome work , really appreciate it
regards

[2020-08-28 21:53] ojw28 commented on #7825
If it's working fine in ExoPlayer then it's probably a bug in RadioDroid, so you should report the issue there.

There are a few different ways of disabling ICY metadata handling. For example, you can write a custom `DataSource` that rewrites each request to remove the `Icy-MetaData` request header. This will stop the server from sending ICY metadata back to the player. You can also edit `Progress

[2020-08-28 21:53] #7825 closed, assigned to ojw28

[2020-08-28 22:02] ojw28 commented on #7826
The documented use case for `compileOnly` is:

I would assume that your module code uses ExoPlayer at runtime, in which case I don't think declaring it as a `compileOnly` dependency is really a valid thing to try and do. Could you explain what your use case is that's leading you to try this?

As above, I think what you're trying to do probably isn't valid. If it is valid, then I think this would b

[2020-08-28 22:09] ojw28 commented on #7826
Looking at the Android specific documentation [here](https://developer.android.com/studio/build/dependencies), it says:

The modules you're declaring `compileOnly` dependencies on are AARs, so I think it's probably not supported for that reason? The reason it fails is related to resources, whose inclusion is one of the things that differentiates AARs from JARs, so that's also consistent with this

[2020-08-29 03:16] eservicetv opened #7827 "How can I make the login screen appear first?"
I would like to know how do I make the login screen (MainActivity.java) appear first

[2020-08-29 03:17] eservicetv commented on #7827
![fgejhde](https://user-images.githubusercontent.com/70307516/91627309-f7c81680-e98c-11ea-9dc1-1daa2b23cce7.PNG)

[2020-08-29 05:03] hobsRKM commented on #7824
@ravisaini1990 I had faced something related to this. See here #7820  it might be because of "Priority" settings.

[2020-08-29 05:07] isuru18113 opened #7828 "Can I use Arryalist as a playlist with concatenatingmediasource?"
Recently I am using Exoplayer for my new music player and Exoplayer is a great media player ever. I have build half of my app and now I'm trying to let the users play the next song or previous song. All the music data have stored in firebase and I am streaming mp3. Now I want to play the playlist which I stored as ArrayList in my database, Here is my ArrayList structure,
 **playlist**---   _arrray

[2020-08-29 19:52] marcbaechinger commented on #7828
If you construct the `ConcatenatingMediaSource` by passing the `lazyPreparation` flag set to true, you don't need to care much about the size of the playlist. The media sources will be prepared on demand only and does not cause a big overhead when the player is initially prepared.

[code]

If you set the `lazyPreparation` flag to true, adding all the sources is almost the same like adding them to

[2020-08-29 19:57] marcbaechinger commented on #7827
You need to configure your manifest accordingly. This is a general Android development question which we can not support in this issue tracker which is about questions and issues around the ExoPlayer library.  Look at the configuration of the `SampleChooserActivity` which has the category `android.intent.category.LAUNCHER`. For more details, please [refer to the Android documentation](https://deve

[2020-08-30 04:19] isuru18113 commented on #7828
Thank you very much for your quick response and your answer also very clear. My goal is to play an ArrayList which I stored in firestore. I cannot add one by one to my java class like above the SIMPLES example. What I'm trying is,
The user selects the artist -----> send to the song list(PLAYLIST)---------->When user click a song in the playlist it should be played and if he wants to skip the song

[2020-08-30 05:54] isuru18113 commented on #7828
@marcbaechinger Thank you very much. you are a lifesaver. It is working better than I expected. I have been trying to solve this for 2 days, but I could not do that. I have one more question with this,
I have set `app:use_artwork="false"` because I need to use custom artwork for songs. So how can I set to change the music image(musicimage) and music name(musicname) according to the song? since Arr

[2020-08-30 14:58] PratimMallick commented on #7794
The key status callbacks could be used only when the playback starts right? I need to know this. information before hand, so that if the device doesnot meet required output protection level(`L1 widevine,  HDCP 2.2 and analog_disable_output` in our case) , we would serve non HD content to such devices.

I am able to get info about widevine security level and HDCP level, but not able to get if `anal

[2020-08-30 16:41] punitagoel2403 opened #7829 "Exoplayer continues to run when app goes in background"
The player keeps playing the video, and audio is audible when the app goes in background by any means.
Is it expected behavior? If yes, what I need to do to stop playing it.

[2020-08-31 01:04] #7694 closed, assigned to tonihei

[2020-08-31 03:10] ghost commented on #7822
@ojw28 First of all thanks for your support.So as per this behaviour can we say that it's natural behaviour of HLS stream which we provide to exoplayer ? player has lots of capabilities to tackle with stream but as per server side implementation player behave like jumping from live window is it correct assumption ? just give me guidance about this.

[2020-08-31 05:51] ggnull35 commented on #7626
Is there any update for this case ? We are facing a similar issue (just duration is shorter) on OMX for AAC HE v2 decoding.

[2020-08-31 08:16] zjamshidi opened #7830 "Seeking issue on mp3 files"
Since my last issue (#7355) is closed, I'm opening a new issue. While we are waiting for the implementation on Release `2.12.0`, is there any workaround to make the seeking more accurate?

[2020-08-31 09:20] orcunkobal opened #7831 "Android Auto queue list refresh"
Hi,

[Preview 1](https://github.com/orcunkobal/test/blob/master/1.gif)
[Preview 2](https://github.com/orcunkobal/test/blob/master/2.gif)

We decided to support Android auto and it almost finished. But we have several problems. Our problem is happening on **live stream(HLS)** lists. Our music service accepts two types which are radios and podcasts. When the MainActivity was created it bound to the

[2020-08-31 09:32] dfdgsdfg commented on #7095
Any updates?

[2020-08-31 11:07] isuru18113 commented on #7828
Hello, I'm back again. I finally found a way to change my UI according to the song. It is really easy. [https://exoplayer.dev/playlists.html](url) As this site said, we have to set a media tag for the for each audio and UI can be updated using the `public void onPositionDiscontinuity(@Player.DiscontinuityReason int reason)`. Finally, I solved my issue. It was very easy to use. Thank you, Exoplayer

[2020-08-31 11:31] #7828 closed, assigned to marcbaechinger

[2020-08-31 12:37] christianfrank84 commented on #7554
For me the issue is still occuring.

It keeps looking for the `Exoplayer/common_library_config.gradle` within my project folder. Even tho Exoplayer is not located within my project root, but instead one folder above.

This is how I am referencing Exoplayer in my project.
`gradle.ext.exoplayerRoot = '../Exoplayer'
gradle.ext.exoplayerModulePrefix = 'exoplayer-'
apply from: new File(
        gradle.

[2020-08-31 14:09] marcbaechinger commented on #7831
I think the problem you are seeing is caused by the live stream that updates the timeline each time the live HLS playlist is fetched from the server. For live streams, the playlist needs to be fetched from the server periodically which causes a call to `onTimelineChanged` which makes the `MediaSessionConnector` update the queue of the media session. Apparently the Android Audio app does refresh to

[2020-08-31 14:14] marcbaechinger commented on #7829
If the player goes in background you need to[ release the player](https://exoplayer.dev/hello-world.html#releasing-the-player) and create a new one when the app comes to the foreground again.

Best is to look into the [lifecycle methods ot the `PlayerActivity`](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L233)

[2020-08-31 18:11] chladto1 opened #7832 "Stuck media playback with VPAID ads"
### [REQUIRED] Issue description
VPAID ads are not supported by IMA, but it look like, IMA is correctly sending event _CONTENT_RESUME_REQUESTED_, but the media playback is stuck anyway. Could you please fix it?

### [REQUIRED] Reproduction steps
Use the following VMAP as adTagUri.

### [REQUIRED] Link to test content
[https://devs.origin.cdn.cra.cz/ima/vpaidvmap.xml](https://devs.origin.cdn.cra.cz

[2020-08-31 20:47] ojw28 commented on #7830
It seems like the feature you need is part of `2.12.0`, so there's not really any way around that unless you want to (a) try and use the `dev-v2` branch rather than a stable release, or (b) try and back-port the changes yourself to whatever release you're using.

The good news is `2.12.0` is arriving very soon (tentatively targeted for this week), so you're probably best off just waiting.

[2020-08-31 20:47] #7830 closed, assigned to ojw28

[2020-08-31 21:20] ojw28 commented on #7822
Yes, that sounds correct.

[2020-08-31 21:20] #7822 closed, assigned to ojw28

[2020-09-01 02:43] goffioul opened #7833 "How to select closed caption track with DefaultTrackSelector?"
I'm using a `SimpleExoPlayer` instance with a `DefaultTrackSelector` to play a MPEG/TS stream. I'm trying to make the track selector to select a closed caption (cea608) track if present in the stream, using something like:
[code]
However, this doesn't work, because both `SeiReader` and `UserDataReader` create the text track with `Format.createTextSampleFormat`, which always end up setting `roleFla

[2020-09-01 07:02] zjamshidi commented on #7830
Thanks for your reply. I will wait for the release

[2020-09-01 08:23] orcunkobal commented on #7831
I use the latest version of ExoPlayer which is 2.11.8 and with it ConcatenatingMediaSource. I checked the EventLogger as you say. If my ConcatenatingMediaSource list has any HLS MediaSource in it EventLogger returned the TIMELINE_CHANGE_REASON_DYNAMIC(by the way it's always running. It stays calling even I stop the player) for onTimelineChanged. I think this happens only for HLS streams. Because w

[2020-09-01 08:27] meizhiping2019 opened #7834 "Exception thrown when playing ts file"
### [REQUIRED] Issue description
I refer to the answers #7310, #6862, but did not find the corresponding reason.
I Can't play the ts file, but it can be played normally in vlc.

### [REQUIRED] Reproduction steps
1. I downloaded the ts file uploaded by my platform
2. Copy the file to the assets file and use exoplayer for local playback
3. I get an error Loading finished before preparation is comple

[2020-09-01 08:46] punitagoel2403 commented on #7829
@marcbaechinger  Thank you :)

[2020-09-01 08:46] #7829 closed, assigned to marcbaechinger

[2020-09-01 09:26] josephusmv opened #7835 "4K H.264 AVC movie cannot be played by Exoplayer, but can play on MediaPlayer"
Hello,

I am trying to play a H.264 4K movie using exoplayer, but the video decoding process seems failed. The AAC is play out fine, but AVC shows black screen.
I was suspect that the device not support this video profile so I tried it using MediaPlay, but on which the video plays fine.
Per my understanding, the Exoplayer is using the same lower level MediaCodec as MediaPlay. And it seems just a w

[2020-09-01 11:13] mseroczynski opened #7836 ""LicenseDurationRemaining" has always 0 as value"
Device: LG V30 or more specifically LG-H930
ExoPlayer version: 2.11.8

Mentioned device downloads freshly generated Widevine license and instantly sees it as expired. Our other test devices behave 100% correctly with current implementation and I'm in a kind of a dead end (tried many license server configs) so I thought I'd ask here if there are any possible solutions. Other DRM protected apps (Spo

[2020-09-01 11:39] stari4ek opened #7837 "Tracking opened connections by ExoPlayer/OkHttp. Leaks."
### [REQUIRED] Searched documentation and issues
n/a

### [REQUIRED] Question
My app plays (mostly) live content (hls/ss/mpd/http progressive) using ExoPlayer.
When user switches to next media stream - new `MediaSource` is created and player is prepared with it.
I'm trying to limit number of opened overlapped connections when switching from one media stream to another one.
Next stream is unknown b

[2020-09-01 11:49] christosts commented on #7823
Hi @rockman9x

Does the issue occur when playing the content on the ExoPlayer demo app? If so, can you please share a link to your content for us to test, and also attach a bug report captured from your device(s) when the issue occurs?

If you cannot share the above in public, you can send those over email at dev.exoplayer@gmail.com with subject "Issue #7823".

[2020-09-01 11:53] christosts commented on #7832
@andrewlewis can you please take a look?

[2020-09-01 11:54] ojw28 commented on #7837
Why? It sounds a little unnecessary, and to be causing fairly significant problems that you could avoid simply by not trying to do this at all.

ExoPlayer will close the response body for any requests that are in flight (see `OkHttpDataSource` for the implementation), which I think is what we're supposed to do. This is done asynchronously, but should complete quickly under normal circumstances.

I

[2020-09-01 12:22] niteshfel opened #7838 "This video urls not playing in exoplayer video urls is mp4 and webm"
**video is webm**

https://r7---sn-gwpa-qxa6.googlevideo.com/videoplayback?expire=1598984263&ei=5ztOX_PGLpfj3LUP1-Sd0Aw&ip=157.37.179.34&id=o-AOffYPb4kBbZ2cU6tYnpE1GpRtHTtfhAYbzfG2GmIPzy&itag=243&aitags=133%2C134%2C135%2C136%2C137%2C160%2C242%2C243%2C244%2C247%2C248%2C278%2C298%2C299%2C302%2C303&source=yt_otf&requiressl=yes&mh=nz&mm=31%2C26&mn=sn-gwpa-qxa6%2Csn-cvh76nek&ms=au%2Conr&mv=m&mvi=7&pl=1

[2020-09-01 12:26] amankr opened #7839 "What is possible cause of this Crash ?"
###  Question
I have an application where a list of infinite short videos are played in a list ( similar to TikTok ).
To improve next video loading, I am using downloadManger with LRU cache.
The Exoplayer always plays video from this cache and downloadManager prefills it.
Videos are never removed by application code and depends on LRU cache to control unbounded increase in disk size.
skipped video

[2020-09-01 13:05] tonihei commented on #7833
To solve your problem, I think you should be able to use `setSelectUndeterminedTextLanguage(true)` to instruct the player to select a track without language information.

Besides that, your proposal seems to make sense on a logical level. @AquilesCanta Do you know whether TS streams define the default semantics of the text track somehow? For example, would it be valid to assume they have `C.ROLE_F

[2020-09-01 13:07] andrewlewis commented on #7832
Thanks for the report and for including the ad tag. A fix (to resume content immediately) is in review.

[2020-09-01 14:04] goffioul commented on #7833
@tonihei Would that also work if the stream contain both closed captions and a subtitle track with undefined language? Or if there's no closed captions at all, only a subtitle track with undefined language (in which case, I don't want that track to be selected)?

[2020-09-01 14:08] tonihei commented on #7833
I assumed you only have one unmarked track in the TS stream. If there are multiple tracks, how do know which one is the subtitle track and which is the closed caption one?

[2020-09-01 14:17] goffioul commented on #7833
Well, that's my problem. You can't guide track selection with `DefaultTrackSelector` in that case. You could use mimetype (as it'll be different), but it's not exposed in the track selector. Or you could use `roleFlags`, but it's not used/set.

At the moment, I have to resort to creating a custom `DefaultTrackSelector` and override `selectTextTrack` to return the wanted selection based on the mime

[2020-09-01 14:26] tonihei commented on #7833
Setting the role flag would be ideal to support your use case. To do that though, the stream needs to contain some metadata that tell ExoPlayer which role flag to use.

If you have multiple tracks that are already loaded, you can also override the selection directly by using `SelectionOverride` (see "Selecting specific tracks" in [this JavaDoc](https://exoplayer.dev/doc/reference/com/google/androi

[2020-09-01 14:36] christosts commented on #7834
Is the file expected to have audio? I hear no audio when playing the file with VLC (tested on Mac and Android) and when I inspect the file with `ffprobe` I get

[code]

[2020-09-01 15:17] christosts commented on #7835
Can you please provide the information mentioned in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). We'd need a link to your test content, the device that this is occurring (including Android version), what version of ExoPlayer you are using, and a bug report.

If you're unable to share bug reports or test content publicly, please send them

[2020-09-01 15:18] changxiangzhong commented on #4448
@andrewlewis What's the plan/status for this issue, can I ask what does it mean by *[Internal: b/122356421]*. Somewhere we can track the progress?

[2020-09-01 15:19] christosts commented on #7836
@ojw28 can you take a look?

[2020-09-01 15:44] christosts commented on #7838
Hi @niteshfel,

- The 1st and 3rd links return an HTTP 404. Are the links accessible?
- The 2nd link plays on a Pixel 4 device with the ExoPlayer demo app (and also plays on Chrome), but the stream does not have an audio track.

What kind of errors did you see, on which devices and ExoPlayer version?

[2020-09-01 15:45] andrewlewis commented on #4448
I'm afraid this is not a publicly visible issue, but there is no ongoing work tracked there so it is not really relevant any more.

@krocard What is the status of AudioTrack recovery? Do you think it will address this issue? Thanks.

[2020-09-01 15:46] kim-vde commented on #7767
Have you tried to set the date when the audio is advancing? Something like (sorry, this is Java code):

[code]
It gives me a much better precision.

[2020-09-01 16:08] andrewlewis commented on #7815
We don't support this directly, but please read #2659 for more information and guidance on implementing it via a custom `AudioProcessor`.

[2020-09-01 16:37] ojw28 commented on #7836
Re-routing to @rrfrias

[2020-09-01 19:10] eservicetv opened #7840 "How to hide the exoplayer status bar?"
hello my query is how can I hide status bar in exoplayer player.

[2020-09-01 21:24] tosam144 opened #7841 "Handle incoming calls when connected to car's bluetooth"
I am using this code to handle incoming calls:

        AudioAttributes audioAttributes = new AudioAttributes.Builder()
                .setUsage(C.USAGE_MEDIA)
                .setContentType(C.CONTENT_TYPE_SPEECH)
                .build();

This works as exepected. However, a user reported that **when connected to a car media system via bluetooth** to listen to mp3s and then he receives an incom

[2020-09-02 00:42] rrfrias commented on #7836
I will try and see if i can find a similar device to reproduce. Is it possible to send some instructions to reproduce this problem to  dev.exoplayer@gmail.com. A test app and some content will be helpful.

[2020-09-02 08:09] malamoonh opened #7842 "No sound from HLS stream"
Hey. I use SimpleExoPlayer in my streaming video application. I noticed that sometimes the stream has sound, and sometimes it doesn't. I inserted the Uri of the stream directly - there is sound, and if, for example, change the timing of the link literally for 1 second, there is no sound anymore. At the same time, for comparison, I downloaded the VLS player, there is always sound for the same links

[2020-09-02 08:21] stari4ek commented on #7837
Thank you for your prompt response.

There are IPTV services which apply connections limits/quota. It's hard to tell how exactly they count connections (opened sockets? requests rate?..), but without this "waiting" there is much higher chance to get `403 Forbidden` from such services when switching from one stream to another.

[2020-09-02 09:22] christosts commented on #7839
@marcbaechinger can you take a look?

[2020-09-02 09:42] donglp1810 opened #7843 "The rewind, fast forward button and total time is not shown when I playing a music in .acc extension"
ExoPlayer is work well almost files in my app. I only get issue with .acc file. It still can play well but the remind, fast forward button is disable, total time is not show.
I'm using ExoPlayer version: 2.11.8.
I'm looking forward your help

[2020-09-02 11:11] christosts commented on #7841
@andrewlewis will you be able to take look?

[2020-09-02 11:42] cf256 opened #7844 "TTML Subtitles disappear too quickly when there is a new segment"
### Issue description
When watching a DASH stream with subtitles, the subtitles can disappear too quickly after a new segment loads.

So lets say a stream has segmented subtitles and each segment is 1 minute.

`<p begin="00:00:55.000" end="00:01:05.000" region="speaker">This subtitle should last for 10s, but is stopped after 5s</p>`

Next segment would be something like:

`<p begin="00:01:15.000"

[2020-09-02 11:51] christosts commented on #7842
@AquilesCanta can you please take a look?

[2020-09-02 11:52] AquilesCanta commented on #7842
Hi @malamoonh, can you please provide both a link which plays with audio and one that plays without audio? I will need to reproduce the issue to help you.

[2020-09-02 12:01] goffioul commented on #7833
When `UserDataReader` or `SeiReader` creates the caption track, the role pretty much known and could at least contain `ROLE_FLAG_CAPTION`. Similarly when `DvbSubtitleReader` creates the track, the role could contain `ROLE_FLAG_SUBTITLE`.

[2020-09-02 12:09] christosts commented on #7843
Can you please provide us with a file to test? If you cannot attach the file publicly on this issue, please email it to dev.exoplayer@gmail.com with subject "Issue #7843", and then update the issue here.

You mention `acc` extension, did you mean `aac` instead?

[2020-09-02 12:14] andrewlewis commented on #7841
I'm not sure why the car bluetooth case is behaving differently. Could you give some more precise details on the state of the player when you see the unexpected behavior that playback doesn't resume? Is the player actually in `STATE_ENDED` or is it just not resuming automatically?

If you reproduce the issue then capture a bug report from the device via `adb bugreport`, ideally from the demo app o

[2020-09-02 12:17] AquilesCanta commented on #7809
My two cents: HLS media playlist define a [target duration](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.3.1) which you can use to

[2020-09-02 12:18] nigelmegitt commented on #7844
The reported behaviour looks correct, i.e. I do not believe it to be a bug.

If a subtitle occurs in more than one segment it needs to be duplicated in the subtitle document for each segment it appears in. This is because the DASH + MP4 rules for presenting subtitles limit the number of active subtitle documents to a maximum of 1; in the second segment, the new TTML document is active and the prev

[2020-09-02 12:26] malamoonh commented on #7842
I can't provide the link, as it contains a token, but I can provide the mpeg ts segment if it suits you

[2020-09-02 12:37] orcunkobal commented on #7831
By the way, I tried to your hacky solution but nothing changed.

[2020-09-02 12:38] orcunkobal commented on #7831
By the way, I tried your hacky solution but nothing changed. The refresh situation still continues even I disable to TimelineQueueNavigator.publishFloatingQueueWindow from TimelineQueueNavigator. Maybe, mediaSession.setQueue function does not relate to refreshing or I made a mistake somewhere.

[2020-09-02 13:09] kuailedeadai opened #7845 "4k video"
Hello, please tell me, when vpx decodes 4k video, it takes more than 100ms to decode a frame of video data. This will cause the audio and video synchronization module to discard the decoded video frames all the time. What are the optimization suggestions for this one? Looking forward to your answer, thank you

[2020-09-02 13:23] cf256 commented on #7844
Hi! Thanks for the reply. I'll check with our platform team. The reason I assumed it was an Exoplayer bug was that the subtitles appears to work in our other clients. iOS/Web etc.

[2020-09-02 13:23] #7844 closed, assigned to icbaker

[2020-09-02 13:31] ojw28 commented on #7844
@nigelmegitt is correct. The easiest way to reason about why your current media is invalid is to consider what happens if the user seeks to 61s. The player will request the segment starting at 60s, however this segment does not contain the subtitle that should be displayed. In other words, seeking doesn't work unless segments are self-contained. There's some more detail in https://github.com/googl

[2020-09-02 14:14] josephusmv commented on #7835
[REQUIRED] Issue description
Playing 4K video on a customerized TV device.

[REQUIRED] Reproduction steps
Could only be reproduced on my customers device, which is a Android 4.4 embedded TV box.

[REQUIRED] Link to test content
Unrelated.

[REQUIRED] A full bug report captured from the device
Please see my original attachment.

[REQUIRED] Version of ExoPlayer being used
r2.11.7

[REQUIRED] Device(

[2020-09-02 14:22] josephusmv commented on #2159
Is there any updates for this request?  I wish to try to do similar things now as the Exoplayer is not working in my target devices when playing 4K video(see my issue #7835 ). I understand that the HW decoder is far more powerful than SW's,  but the fact is that:
in most cases, we have to use SW solution with Exoplayer as some kind of POC purpose before we actually integrates our staffs with custo

[2020-09-02 14:30] marcbaechinger commented on #7831
That's good info, thanks.

I assume you are testing with an emulator, right? I'm actually not sure who is responsible for updating the UI of the HUD. I think it's the companion app on the phone which connects to the media session and triggers events. I wonder if this works the same way with the emulator.

There are three things which are updated in the media session by the `MediaSessionConnector`:

[2020-09-02 14:33] marcbaechinger commented on #7840
May I ask you to look into our [Developer Guide page about UI components](https://exoplayer.dev/ui-components.html) to see whether this helps?

If it does not help can you give us some more info on what you mean with 'status bar'? With status bar peop[le commonly refer to the status bar of the phone rather than of ExoPlayer. Can you please give some more details in case the dev guide does not help

[2020-09-02 14:54] ojw28 commented on #2159
We haven't made much progress beyond the update above, unfortunately. Doing it properly turned out to be quite a lot of work. Since this issue isn't considered high priority, it's being worked on on a best-effort basis, and we haven't managed to dedicate sufficient time to get something merged. We have made a small amount of progress since the previous update above:

1. Our FFmpeg patch got merged

[2020-09-02 15:29] AquilesCanta commented on #7833
From the description, it sounds to me like the problem is complex enough that the best solution is either writing your own `selectTextTrack` as mentioned, or using track selection overrides (as Toni mentioned). From my overall understanding, the constraints seem more "static", in which case a TrackSelector customisation approach seems like a better fit.

Regarding the suggestion:

It sounds to me

[2020-09-02 15:31] jaewan-github commented on #7841
It seems to be working as expected due to the audio focus.

Phone call cause permanent loss of audio focus, and ExoPlayer's default audio focus behavior follows the developer's guideline [responding to an audio focus change](https://developer.android.com/guide/topics/media-apps/audio-focus#audio-focus-change).

You can check the audio focus change history via dump of audio service with command
`ad

[2020-09-02 15:32] #7841 closed, assigned to andrewlewis

[2020-09-02 15:32] jaewan-github commented on #7841
Feel free to reopen if it's not your case.

[2020-09-02 15:33] AquilesCanta commented on #7842
I cannot guarantee it will be enough for me to help, but whatever helps us reproduce the issue and understand what the expected and observed behaviors are. Make sure you can reproduce the issue with the standalone TS file before sending it to us.

[2020-09-02 15:37] christosts commented on #7835
These issues are often specific to device and content, and in order for us to debug we need a sample of the failed content, details of the device (so we can test on a similar one if possible) and/or a [bug report](https://developer.android.com/studio/debug/bug-report) captured from the device (you have attached logs, but a bug report contains more information).

Please consider:
- sending us a sam

[2020-09-02 15:49] christosts commented on #7845
Can you please give us more info on your setup:
- apart from resolution, what is the bitrate of the video?
- what device is this happening on?
- when you say vpx, do you mean you are using ExoPlayer's [vp9 extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/vp9) or are you using ExoPlayer with the Android platform decoders only?

In principle, you might need to switch to a lo

[2020-09-02 15:51] tosam144 commented on #7841
I think the request audio focus will simply cause speech to be paused. Once the incoming call is over, audio will resume where it was (not stop completely). This works as expected most of the time. Just one user complained about the issue I described above.

I will run some tests using `EventLogger` and then upload the logs here.

[2020-09-02 16:07] goffioul commented on #7833
Sort of. Using the role flag was the next best option, as you can't control track selection using the mimetype with `DefaultTrackSelector`.

From your description, I see that I misunderstood the purpose of `roleFlags`, and it will never be set when playing a plain MPEG/TS stream (e.g. UDP multicast). So using a custom track selector is the only way to go.

For the record, I've encountered streams

[2020-09-02 16:15] AquilesCanta commented on #7833
That's correct (track overrides aside).

The current purpose is to describe the role of the content. For example, one track could contain just a translation of the audio (subtitle), while the other additionally include a description of the audio track (captions). Hope this is something you've seen around. I don't think the type of the text track inherently means one or the other. Specially conside

[2020-09-02 16:15] #7833 closed, assigned to AquilesCanta

[2020-09-02 16:17] jaewan-github commented on #7841
Could you also also upload bug report as well, which contains audio focus history and device version?

If full bug report isn't available, then please attach logcat, audio service dump (`adb shell dumpsys audio`), and device version/model (`adb shell getprop ro.build.fingerprint`). Detailed audio focus behavior changes over releases, so it's helpful to verify behavior across the platform version.

[2020-09-02 16:23] tosam144 commented on #7841
How can I get this info from a running device in the field? I am getting Logcat via `Runtime.getRuntime().exec(cmd)`.

[2020-09-02 18:48] eservicetv commented on #7840
I want exoplayer to fill the full screen

[2020-09-02 19:20] Oziomajnr opened #7846 "Exo ImaAdsLoader does not consider media load timeout"
### [REQUIRED] Issue description
When I set the media load time out on the Ima Ads loader, it does not time out when the request for ad media takes longer than the set time out instead it just doesn't load the add and does not throw any error. I am supposed to get an  `AdError.AdErrorCode.VAST_MEDIA_LOAD_TIMEOUT` on the ad error listener that I have attached to the AdsLoader. This is not the case

[2020-09-02 19:50] orcunkobal commented on #7831
I use android desktop head unit for testing. But tomorrow I'll start to testing the app on the real android auto device. Actually this situation isn't related about android auto it is related about something else.

Because, if I have any HLS live media source in playlist on timeline change always getting the TIMELINE_CHANGE_REASON_DYNAMIC value even I don't connect to the DHU. That's why the queue

[2020-09-02 20:02] coshri opened #7847 "get key request type for renewal"
I'm using with Widevine DRM and I implement the MediaDrmCallback interface.
now I need to get information about the request type ( specific,  if it is 'renewal' I need to add more information for server)

I see that android.media.MediaDrm.KeyRequest include [getRequestType](https://developer.android.com/reference/android/media/MediaDrm.KeyRequest#getRequestType()) methods for this.

why ExoMediaDr

[2020-09-02 21:19] chhatrasal09 commented on #7793
@ojw28
Here are the screenshots of all the possible places where we can get info about crashes.
<img width="417" alt="Screenshot 2020-08-29 at 5 24 04 AM" src="https://user-images.githubusercontent.com/21989289/92036921-9807ac00-ed8e-11ea-9298-5ea1cfa2af14.png">
<img width="417" alt="Screenshot 2020-08-29 at 5 23 42 AM" src="https://user-images.githubusercontent.com/21989289/92036943-a1911400-ed8e

[2020-09-02 21:56] marcbaechinger commented on #7840
You need to make the `PlayerView` take the entire space of your activity and then make the activity full screen. There are different options for doing that which are [documented in an Android Developer Guide](https://developer.android.com/training/system-ui/immersive).

[2020-09-03 01:08] kamalloup opened #7848 "Buffering behaviour with `ConcatenatingMediaSource` and `REPEAT_ONE`"
Hey everyone! 👋

I have a very specific use case I'm trying to support with `ExoPlayer`: a playlist of multiple videos where each video of the playlist is on loop and will keep playing until the playlist index is manually moved to the next item. I have quite easily achieved this with a `ConcatenatingMediaSource` combined with the player's `REPEAT_ONE` repeat mode, as outlined in this great article

[2020-09-03 01:57] kuailedeadai commented on #7845
Hello:
This is the video file details：
![image](https://user-images.githubusercontent.com/10614848/92062502-7678e580-edcb-11ea-8a61-f1d63a13435a.png)
Occurs on the Android 10 model configuration, this phone performs well
vpx refers to exoplayer's vpx extension program, which uses soft decoding

How do I switch to a lower resolution and/or bit rate?

thanks

[2020-09-03 02:12] I-m-SuperMan commented on #6168
Same issue on ExoPlayer v2.11.5.   In my case , I play WideVine medias.

I tried to change ExoPlayer  `PlayerView$surfaceType` to `SURFACE_TYPE_TEXTURE_VIEW` , and play widevine , also failed.

Error occurs:
`E SurfaceUtils: native window cannot handle protected buffers: the consumer should either be a hardware composer or support hardware protection`

I use `SurfaceView` instead of `TextureView`

[2020-09-03 02:25] donglp1810 commented on #7843
Yes, It's .aac file

Please get more detail in attached files: 1 file is good for .flac file, 1 file is issue for .acc file

![Screenshot_20200903-085856_Home IQ](https://user-images.githubusercontent.com/7262510/92064217-40396700-edc7-11ea-859b-9f637441f934.jpg)

![Screenshot_20200903-085913_Home IQ](https://user-images.githubusercontent.com/7262510/92064235-4a5b6580-edc7-11ea-8852-751dbca27d96.j

[2020-09-03 06:48] cf256 commented on #7844
Thanks for the explanation! We are following this up as a bug with the packager we use.

[2020-09-03 06:49] TaruiTakashi opened #7849 "CryptoException occurs when playing Widevine DASH on certain devices."
### Searched documentation and issues
・ExoPlayer Javadoc.
・ExoPlayer Issues

### Question
CryptoException occurs when playing Widevine DASH on certain devices.
Exception occurs only for P01MA terminals.
No error occurs for other terminals.
Why does it happen?

[code]
ExoPlayer version: r2.11.8

Device name: ASUS ZenPad S 8.0
Model number: P01MA
Model name: Z580CA
Android version: 6.0.1

### A full

[2020-09-03 08:46] Mavrick102 commented on #7845
did did u get that file decrypted please tell me how

[2020-09-03 08:51] barbuslex commented on #2092
+1 need support for AVI and DivX/XVID format

[2020-09-03 08:56] christosts commented on #7843
Hi @donglp1810.

In the comment above you have attached two screenshots (jpeg images) of your app when playing the media files, but we need the actual `.aac` file so that we can play it locally with the ExoPlayer demo app.

Can you please attach (or email) the `aac` file?

[2020-09-03 09:25] abhikommen commented on #7728
Hi , was anyone able to solve this?
Its a hard core requirement of what I'm working on right now so please suggest some way. 🥇

[2020-09-03 10:41] orcunkobal commented on #7831
Today, I tried on **Sony XAV-AX3005DB DHU**, and I got the same problem. I just wanted to give you and information.

[2020-09-03 11:13] malamoonh commented on #7842
We pass the playlist link to the player. If the difference in link timing is 1 second, the server returns the same segment, so I  can provide only 1 file. And if you start the downloaded segment, the sound is there. But in the player inside the application - there is sound in one case, in the other not. Perhaps the matter is in the sequential initialization of the video, and only then the sound on

[2020-09-03 11:22] andrewlewis commented on #7728
@abhishekengineer Could you describe in more detail exactly what you are trying to do?

[2020-09-03 11:52] christosts commented on #7845
So, the file is 4K encoded at 16.6Mb/s and you are using the software decoder. I can see how that can stretch the device's CPU.

I can think of different ideas:
1. Did you try without ExoPlayer's vp9 extension? Your device should be able to play VP9 directly. That may offer improved decoding performance. Note however, that different devices may have different decoders, so you might run to device-s

[2020-09-03 12:01] christosts commented on #7846
@andrewlewis can you take a look?

[2020-09-03 12:03] andrewlewis commented on #7846
Please could you try with 2.11.8? I think this was fixed in c0cd73f5fd983c2f5bea9ff090d23aef3e09d965.

[2020-09-03 12:04] andrewlewis commented on #7846
Likely the same as #7170.

[2020-09-03 12:10] ojw28 commented on #7847
I think the addition of `getRequestType` probably happened after we implemented `ExoMediaDrm.KeyRequest`, so this is just an omission. We can add it.

Note that `getRequestType` didn't exist in the platform until API level 23, and similarly, we'll only be able to make it work via `ExoMediaDrm.KeyRequest` from API level 23 onward. How do you plan to decide whether to attach your additional informat

[2020-09-03 13:40] christosts commented on #7849
I can see from the attached bug report that the device is starting an L1 WV session and then there are a few errors logged from the device's crypto module. @rrfrias can you please take a look? (content and bugreport have already been sent).

Note that in the bug-report one of ExoPlayer's logs mentions `NO_UNSUPPORTED_DRM` but there was a bug in ExoPlayer where this was misreported so this log migh

[2020-09-03 13:41] Oziomajnr commented on #7846
I just tried with 2.11.8 and it's still an issue. AdError.AdErrorCode.VAST_MEDIA_LOAD_TIMEOUT is still not thrown after a timeout and the player skips the ads after some time.

[2020-09-03 13:58] pawaom opened #7850 "Customize DefaultTimeBar to show period boundaries in time bar"
Can we Customize seekbar/DefaultTimeBar to show intervals with ConcatenatingMediaSource  showMultiWindowTimeBar

We have 3-4 videos which are played using `ConcatenatingMediaSource`  , we have enabled `showMultiWindowTimeBar`

can we show the interval when a video ends in the  seekbar/DefaultTimeBar

an example would be like this image,

![20200903_191850_rmedited](https://user-images.githubuserco

[2020-09-03 14:28] mhelder opened #7851 "Recommendations for handling downloads in multi-process app?"
### Searched documentation and issues
Apologies if this question has been asked before, but I could not find anything related (open or closed) in the issue list, nor does the [Downloading Media](https://exoplayer.dev/downloading-media.html) documentation provide any hints for multi-process apps.

### Question
An audio player app I'm working on is composed of two processes: the 'main' app process w

[2020-09-03 14:32] #7755 closed, assigned to andrewlewis

[2020-09-03 17:29] krocard commented on #4448
No it will not as it only tries to recover if the AudioTrack fails with the specific error DEAD_OBJECT that is return when it needs to be recreated. In this case, there is no error code indicating the track needs recreation. Plus here a delay needs to be introduced.

I have created [internal: b/167682058] to track the enhancement of retrying to create the AudioTrack after a short time if it fails

[2020-09-03 21:32] kschults commented on #6166
@ojw28 Perhaps there's another way to do this. I had initially tried to solve this problem in my client by using `HttpDataSourceFactory` with `defaultRequestProperties` set (as did @chanbbong), but it seemed like the broken link in that chain is that `DefaultDownloaderFactory` uses the same `CacheDataSourceFactory` for every download request.

I'm having trouble tracking how the `DataSourceFactory

[2020-09-04 02:02] ogawa-ma commented on #7720
sorry. You can't ask users to capture a bug report.

[2020-09-04 02:46] andisolo commented on #5887
we have the same problem! mark.

[2020-09-04 06:58] itboy87 opened #7853 "Buffer stuck after seeking"
### [REQUIRED] Issue description
Video plays fine without seeking but if seek then it keeps buffering and never plays. But if we seek again it from start then it will start playing again fine.

### [REQUIRED] Reproduction steps
use this URL `https://cdn-na-b2.nextstream.org/stream/0001/74caecc945501095109bc44c764697a6305c87949b2bc42f225e2e86efe82dcc/uwu.m3u8`
with header `Referer:https://kwik.cx/e

[2020-09-04 14:04] brunocaiado opened #7854 "Exoplayer Timebar scrub with Label"
Hey!

I have been developing an app using Exoplayer and I am in needs to put a label on the TimeBar Scrub.

I saw that Youtube has the Player Time Position moving the Scrub like we can see in the next image:

![image](https://user-images.githubusercontent.com/29310099/92247185-c2588700-eebe-11ea-920a-bf11c78c7392.png)

In parallel, I find out that Material Design Slider has something similar too.