[2018-02-08 07:31] pakerfeldt commented on #3813
Turns out `BaseRenderer.replaceStream` is final so that didn't help. Should we make it non-final or perhaps allow for accessing the offset by some other, more explicit, means?

[2018-02-08 07:45] andrewlewis commented on #3813
Does `BaseRenderer.onStreamChanged` work instead?

[2018-02-08 07:47] pakerfeldt commented on #3813
True, that should do it.

[2018-02-08 07:47] #3813 closed, assigned to andrewlewis

[2018-02-08 10:03] okaymak commented on #3807
I was talking about making sure that a 1920x1080 video being played through ExoPlayer does not get played inside a frame of 1280x720, because the device does not report it's physical display size correctly. This device still is on API 22, so `Display.Mode` is not available yet.

`DefaultTrackSelector.Parameter.withViewportSizeFromContext` returns 1280x720. When I use the system property `sys.displ

[2018-02-08 10:09] AquilesCanta commented on #3815
Thanks for your contribution!

[2018-02-08 10:09] #3815 closed, assigned to nobody

[2018-02-08 10:11] AquilesCanta commented on #3817
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-02-08 10:11] #3817 closed, assigned to nobody

[2018-02-08 10:15] andrewlewis commented on #3807
I think so: the `SurfaceView`'s buffers are 1920 * 1080.

Please could you provide the output of `adb shell getprop ro.build.fingerprint` (or even better, the output of `adb bugreport`)? We should probably check `sys.display-size` on this device too.

[2018-02-08 10:30] andrewlewis commented on #3807
See also #800.

[2018-02-08 10:32] giladna opened #3818 "Ended event is not fired if media vtt is identified by player as longer than video duration"
Hi,

In this HLS media
http://cdnapi.kaltura.com/p/1740481/sp/174048100/playManifest/entryId/1_jimvnyp9/flavorIds/1_gvcbf42g,1_tkn15li1,1_3f38gi0r,1_686ra1j7/format/applehttp/protocol/http/a.m3u8

You can notice in the manifest that the video duration is 3:52 and also the vtt SUBTITLES english file segmented to 3:52

for some reason the player identifies that the Subtitles VTT is longer than the v

[2018-02-08 10:46] okaymak commented on #3807
Output `adb shell getprop ro.build.fingerprint`:
```PHILIPS/QM16XE_F/QM16XE_F:5.1.1/LMY48N/0115243:user/release-keys```

I will send the bugreport output by email.

[2018-02-08 13:35] AquilesCanta commented on #3816
Thanks for reporting! Will push a fix soon.

[2018-02-08 13:59] wezley98 commented on #3584
Hi @andrewlewis, This is blocking us from updating our current implementation to exoplayer v2 from v1, is there any update on this issue please?

[2018-02-08 14:17] andrewlewis commented on #3584
We plan to push an update to the development branch that should fix this later this week, or early next week. Sorry for the delay.

[2018-02-08 15:03] andrewlewis commented on #3584
Please give the fix on `dev-v2` a try and let me know if you see any remaining problems related to empty midrolls. Thanks!

[2018-02-08 17:07] linhai326 commented on #3782
Hi @AquilesCanta , any update/findings on this issue?

[2018-02-08 18:32] arjun-redspace opened #3819 "Failure to download webvtt caption when seek operation performed."
**Stream Info:** Send to the email dev.exoplayer@gmail.com

When playing above stream with caption ON (MimeTypes.TEXT_VTT), performing seeking operation stalls the player. `onPlayerStateChanged` was observed for BUFFERING state when seek process started and upon completion READY state wasn't observed after downloading chunks (verified with Charles). This is not observed when caption is turned off.

[2018-02-08 18:33] ggabdol opened #3820 "Feature request for a getter method in MediaCodecInfo"
### Issue description
Feature request for a getter method in [com.google.android.exoplayer2.mediacodec.MediaCodecInfo](https://github.com/google/ExoPlayer/blob/deb9b301b2c7ef66fdd7d8a3e58298a79ba9c619/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecInfo.java#L73)
[code]
[Link to the member field](https://github.com/google/ExoPlayer/blob/deb9b301b2c7ef66fdd7d8a3e58298a

[2018-02-08 22:48] mwitchwilliams opened #3821 "setPlaybackSpeed( float ) implementation"
Trying to implement the _setPlaybackSpeed( float )_ method, but it appears it was never merged into ExoPlayer.
There is discussion at https://github.com/google/ExoPlayer/pull/2417 but this appears there may have been issues, and it's been close to a year.

Is there an alternative to this implementation?

[2018-02-09 02:52] eneim commented on #3498
@tonihei @ojw28 it is great to see that MediaSource can be reused. I still not see javadoc update for it in dev-v2. Do you plan it for 2.7.0 or it must be in the release after?

I have a couple question about this:

- What I need to do to *reset* the MediaSource so that it can be reuse right after. (with the latest update in dev-v2)
- Is ``ExoPlayer#prepare(MediaSource)`` an expensive operation? R

[2018-02-09 06:39] pals-ric opened #3822 "exoplayer version 2.3.1 video streaming goes to buffer State in every 2 seconds."
### My logcat

02-09 12:04:35.678 2539-3035/com.ideacellular.digitalvideo D/SoftwareRenderer: setting dataspace on output surface to #103
02-09 12:04:35.720 2539-2539/com.ideacellular.digitalvideo E/PlayerImplementation: STATE_READY:
02-09 12:04:35.720 2539-2539/com.ideacellular.digitalvideo D/VideoControllerView: hide
02-09 12:04:35.721 2539-2539/com.ideacellular.digitalvideo D/VideoControllerVie

[2018-02-09 07:02] pals-ric commented on #3822
Hi can  any1 suggest solution for this issue.

[2018-02-09 07:35] #3822 closed, assigned to nobody

[2018-02-09 08:22] andrewlewis commented on #3821
To change the playback speed, call `player.setPlaybackParameters` passing in a `PlaybackParameters` instance with the required speed.

There's also a [blog post with more information](https://medium.com/google-exoplayer/variable-speed-playback-with-exoplayer-e6e6a71e0343).

[2018-02-09 08:22] #3821 closed, assigned to andrewlewis

[2018-02-09 08:55] pals-ric opened #3823 "Exoplayer version 2.3.1 is going to buffering state in every 2, 3 seconds ."
### Logs

02-09 12:04:35.841 2539-2539/com.ideacellular.digitalvideo D/PlayerImplementation: focusChange: -1
02-09 12:04:35.913 2539-2539/com.ideacellular.digitalvideo E/PlayerImplementation: STATE_BUFFERING:
02-09 12:04:35.913 2539-2539/com.ideacellular.digitalvideo D/PlayerState: player buffering.....
02-09 12:04:35.914 2539-2539/com.ideacellular.digitalvideo D/VideoControllerView: show: 3000
02

[2018-02-09 09:09] tonihei commented on #3498
The current updates mentioned above are only one part of making MediaSource reusable. You should now be able to re-prepare with the same media source. However, we are still working on the possibility to reuse media source in parallel, e.g. adding them twice to a ConcatenatingMediaSource. That's also why we haven't updated the docs yet because we only do this after the feature is fully implemented

[2018-02-09 10:29] wezley98 commented on #3584
@andrewlewis tested with the IMA demo on dev-v2 unfortunately it's not working correctly.

[code]

We expect a 403 and no ad to play but the video content does not play and the player hangs. For testing you can you the following VAST tag.

[code]

[2018-02-09 10:39] andrewlewis commented on #3584
That error is different from the empty midroll case handled here, and is tracked in #3801.

[2018-02-09 11:06] AquilesCanta commented on #3823
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-02-09 11:06] #3823 closed, assigned to nobody

[2018-02-09 11:23] wezley98 commented on #3801
Another example:

[code]

We expect a 403 and no ad to play but the video content does not play and the player hangs. For testing you can use the following VAST tag.

[code]

[2018-02-09 11:24] wezley98 commented on #3584
@andrewlewis Thanks, I have updated the other ticket with my example.

[2018-02-09 12:20] AquilesCanta commented on #3819
The problem here is that the variant streams contain discontinuities, but the subtitle rendition stream does not. Due to this, ExoPlayer is blocked waiting for the timestamp adjuster to be initialized, but it never is because of described condition. The [HLS spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-6.3.3) states:

Arguably, the spec does not enforce discontinui

[2018-02-09 12:20] #3819 closed, assigned to AquilesCanta

[2018-02-09 13:30] kaemanspk commented on #3816
Thank you, so it means version 2.6.0 does not support CC on TS(transport stream).
When can we expect fix of this.

[2018-02-09 13:35] AquilesCanta commented on #3816
No. But this TS contains a specific provider id which was not being considered as 608.

On the next dev push and later release.

[2018-02-09 13:53] tonihei commented on #3796
Closing because issue is fixed on the dev branch.

[2018-02-09 13:53] #3796 closed, assigned to tonihei

[2018-02-09 14:09] AquilesCanta commented on #3393
Has anyone provided a sample manifest, as requested above?

[2018-02-09 14:22] AquilesCanta commented on #3814
Have you seen [this comment](https://github.com/google/ExoPlayer/issues/3160#issuecomment-339585240)? Could you try the proposed workaround and post the outcome below?

[2018-02-09 14:29] wezley98 opened #3824 "Add support for displaying video title in PlayerView"
### Issue description
When using Google Media Framework there was support to pass a video title to the player view, but this feature doesn't seem to exist in ExoPlayer v2, I have checked the javadocs couldn't see any reference to a video title https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/SimpleExoPlayerView.html

Is this something you would consider adding or a

[2018-02-09 14:34] AquilesCanta commented on #3824
Could you point me to the documentation for this particular piece of the API?

Could you also please clarify what the expected behavior for SimpleExoPlayerView video title would be?

[2018-02-09 14:39] AquilesCanta commented on #3819
Hi @arjun-redspace, I can confirm the discontinuity tag is spec-required to appear in every media playlist.

[2018-02-09 14:40] arjun-redspace commented on #3819
Thanks a lot for the detailed explanation, @AquilesCanta!

[2018-02-09 14:50] wezley98 commented on #3824
@AquilesCanta Thanks for replying,

This is the method sig: https://github.com/googleads/google-media-framework-android/blob/254e3574a550212acae3510bbbd02ccdb519801f/demo/src/main/java/com/google/googlemediaframeworkdemo/demo/adplayer/ImaPlayer.java#L362

You can see the video title in the screenshot here: https://github.com/googleads/google-media-framework-android

and instructions for use:
https

[2018-02-09 14:55] workspace commented on #3393
https://educastmedia.streaming.mediaservices.windows.net/ccfa9378-938f-4368-a7e2-f4705e220c4a/video.ism/Manifest(format=mpd-time-csf)

You can download it from link

[2018-02-09 15:10] AquilesCanta commented on #3824
Thanks for the resources. I'll propose it with the rest of the team as a PlayerView enhancement. In the meantime, you can extend PlayerView to add in a [similar way to what GMF does](https://github.com/googleads/google-media-framework-android/blob/master/googlemediaframework/src/main/java/com/google/android/libraries/mediaframework/layeredvideo/PlaybackControlLayer.java#L381).

[2018-02-09 15:14] bshellenberg opened #3825 "Application crash playing successive mp4s"
### Issue description
Question more than anything. I'm using exoplayer in a very simple manner. A video plays from local storage. When it finishes, it plays another and so on. What is happening is the application crashes when trying to play the third video. The oddity is if I toggle invisibility before preparing the new video, the crash does not occur. Question being, what happens internally when

[2018-02-09 15:31] Khang-NT commented on #3738
I guess the noise sound is only in MediaTek devices.

[2018-02-09 15:40] AquilesCanta commented on #3825
I cannot find anything obviously wrong in the provided resources. Can you reproduce the issue using a ConcatenatingMediaSource or DynamicConcatenatingMediaSource? Maybe use that approach instead of the current one?

[2018-02-09 16:03] enginebai opened #3826 "The player sends multiple duplicate requests"
## Expected behavior
Hi, we develop feed similar to Facebook or Instagram as a new feature in our app, the video will auto-play as the user scrolls the feed, the most visible item will resume the video and other items will pause.
Our video is DASH format and we use `ExoPlayer` in `RecyclerView` and use `OkHttp` as http client which also enables cache mechanism.

## Problem
The video plays normally

[2018-02-09 16:14] AquilesCanta commented on #3826
Just to clarify:

- The only caching mechanism being used is OkHttp's.
- Repeated URL access are generated by preparing a player, then releasing it, and the preparing a new one with the same content.
- The expected behavior is that only one HTTP request per URL is made, since later requests should be fulfilled by the cache.

Are these statements right? If so, this sounds more like something that s

[2018-02-09 19:10] clhols opened #3827 "Reason for buildDataSourceFactory in DemoApplication?"
In PlayerActivity there is a reference to DemoApplication where buildDataSourceFactory and buildHttpDataSourceFactory is implemented. Is there a reason for this?

If these two methods in PlayerActivity instead contained the default implementation and was protected, then the consuming app could extend PlayerActivity and override the two methods instead of modifying the Application class.

That woul

[2018-02-09 20:07] AquilesCanta commented on #3827
The reason behind this is that we have an internal implementation (and manifest) to override the used DataSource and add some small tweaks. Regarding marking them as protected, I don't think the demo app was conceived for being used as a dependency so I guess the straightforward approach would be downloading the source and modifying in-place, I am actually surprised it is not final. I will try to

[2018-02-10 02:17] #3795 closed, assigned to andrewlewis

[2018-02-10 06:28] yibeiliu opened #3828 "Provide a way to get title,singer,artist information with local mp3 or other container music file"
### Issue description
I'm trying to extract track information such as title , singer and an artist from the local mp3 file.
but  how can I get the information in 'onTracksChanged' callback?  or other callback?

Could you provide me with the information if such a thing is possible and how to do it?

Thank you!
### Version of ExoPlayer being used
2.6.1

[2018-02-10 08:32] gautama commented on #3816
Thank you, could you share the commit details. We would like to push a private fix to our deployment to fix customer dsat.

cc @kaemanspk

[2018-02-10 15:01] enginebai commented on #3826
@AquilesCanta Hi,
1. The only caching machanism is OkHttp's. We don't use any exoplayer builtin caching components.
2. `Repeated URL access ...`, sorry, I don't get it, could you explain more detail?
3. Yes, our problem is why there are so many duplicate requests in a short period of time and the caches seem to be not working.

[2018-02-10 15:16] enginebai commented on #3826
We create player pool (queue) containing multiple exoplayer instances used in feed, get from player pool and assign player to view holder when `onViewAttachedToWindow()`, stop player and retrun back to pool when `onViewDetachedFromWindow()`. I suspect that the player instance references are messed when  poping/pushing from queue. That is, in the begining, pool = (A, B, C) and after some scrolling,

[2018-02-10 20:59] clhols commented on #3827
I am not using the demo app as a dependency, but copied PlayerActivity and modified it. But I don't want PlayerActivity to ref the Application class in my app, so I have changed that. But when you release a new version of ExoPlayer with a modified version of PlayerActivity I either have to understand what has changed and merge it manually or I could extend PlayerActivity and have easier merges, bu

[2018-02-10 20:59] #3827 closed, assigned to AquilesCanta

[2018-02-12 02:15] mdtuyen commented on #3811
Hi @AquilesCanta,

Could you help me a sample for this case, please ?

[2018-02-12 05:01] akurni opened #3829 "Repeating single media causes the player to freeze on certain frame intermittently"
### Issue description
I tried to play one video in a loop by Setting play mode to REPEAT_MODE_ALL. After it runs for a while, it will freeze on the same frame intermittently.
`MessageQueue: Handler (com.google.android.exoplayer2.upstream.Loader$ReleaseTask) {426ebbe8} sending message to a Handler on a dead thread
                                                                         java.lang.Ru

[2018-02-12 05:45] fahime-ghasemi commented on #3721
@marcbaechinger I have a recyclerview that each items is a video. in this case, How can I prepare the player as early as possible ?  I think it's not possible in OnChildAttachStateChangeListener because if I prepare another video in this listener, what happen to current video playing?

[2018-02-12 06:42] akatt-dolby opened #3830 "AudioTrack getTimeStamp API usage in Exoplayer"
### Issue description
Usage of the AudioTrack getTimestamp API is not as per the Android AudioTrack API documentation.

### Reproduction steps
When using ExoPlayer demo app, add debug log in updateTimestamp from the class AudioTrackUtilV19.

### Link to API documentation
Below link is for your reference
https://developer.android.com/reference/android/media/AudioTrack.html#getTimestamp(android.medi

[2018-02-12 10:05] AquilesCanta commented on #3828
If this information is included in a metadata track like ID3, then you just need to add a `MetadataOutput` to `SimpleExoPlayer` or pass the output when creating the renderer if using `ExoPlayer` directly. The demo app has `EventLogger,` which implements `MetadataOutput`. You could use a similar approach for obtaining the metadata.

[2018-02-12 10:18] AquilesCanta commented on #3826
I suppose that calling prepare twice on A might generate duplicate GETs to whatever URL it is supposed to play, and similar for any subsequent requests for the media (like, say, media chunks in DASH). In any case, I don't think this is an ExoPlayer issue. If you find evidence suggesting otherwise post it below and we'll reopen the issue.

[2018-02-12 10:18] #3826 closed, assigned to nobody

[2018-02-12 10:28] edwinzap opened #3831 "DynamicConcatenatingMediaSource and RepeatMode off"
### Issue description
With a DynamicConcatenatingMediaSource, the RepeatMode = off doesn't work. After the last Window, it comes back to the first (next but its the same for previous)

### Reproduction steps
1) Create a DynamiConcatenatingMediaSource object
2) Add MediaSources
3) Set the player RepeatMode = OFF
4) Use a SimpleExoplayerView
5) Press the next button on the Playback Controller until

[2018-02-12 10:33] ojw28 commented on #3830
We spoke to the platform team about this once, and the conclusion was that our usage is fine, despite not being strictly as documented. They basically didn't want apps continuously polling the method within a tight loop (e.g. every frame, or every 10ms), at which point the inefficiency of the calls becomes significant.

Having said that, it's possible we may adjust how we call this method in futur

[2018-02-12 10:33] #3830 closed, assigned to ojw28

[2018-02-12 11:55] ojw28 commented on #3741
It's difficult to see how VoD vs Live would make any difference. At the layers we're talking about (i.e. the codec and the surface), there's no representation of whether something is live or not; it's just a sequence of frames.

* Are you *certain* the last frame of the previous video isn't all black, for cases in which you're still seeing the issue?
* Do you have any content protection on your st

[2018-02-12 11:58] ojw28 commented on #3762
The fix ref'd above should resolve this issue, and will be picked up in the next release. Please let us know if you're able to reproduce, either with the current `dev-v2` branch, or any future tagged release.

[2018-02-12 11:58] #3762 closed, assigned to erdemguven

[2018-02-12 13:36] ojw28 commented on #3808
That's not particularly strong evidence of a leak. What's the maximum number of player instances that you have alive (i.e. prepared but not released) at any one time? Maybe you just have too many instances alive simultaneously? Additional notes:

* If ExoPlayer is genuinely leaking memory, it should be possible for you to recreate the same leak without also using RecyclerView. If you can only repr

[2018-02-12 13:40] ojw28 commented on #3808
If you can reproduce the leak without your usage of RecyclerView, please let us know how. Thanks!

[2018-02-12 13:45] szkrisz21 opened #3832 "Set surfaceholder after start video"
Setting SurfaceHolder by 'SimpleExoPlayer.setVideoSurfaceHolder' after starting playback gives an error.
Calling mediaPlayer.setVideoSurfaceHolder(mVideoView.getHolder()) after start video. And when I stop it, the player remain in Player.STATE_READY. And when I try to 'prepare' it, the app hangs up. This is occurs only on Huawei P8 lite devices.

[2018-02-12 13:58] ojw28 commented on #3820
Seems reasonable that we could:

* Make the capabilities field public (although note it can be null in the passthrough case)
* Make a `MediaCodecInfo.getMaxSupportedInstances` method that returns the maximum supported instances, or some default (e.g. -1) if unknown.

[2018-02-12 14:22] ojw28 commented on #3818
The HLS media playlist [a.m3u8](http://cdnbakmi.kaltura.com/api_v3/index.php/service/caption_captionasset/action/serveWebVTT/captionAssetId/1_2fld3obp/ks/djJ8MTc0MDQ4MXyF7R2aVXtw-bAyLoWL-ccB1wrmoFiWlf8B9qvgXNZQwX-2s9mStHV0aVkjCeyLlsThCD-1UUTP_sZf8KG8AbJjwXcc5QOUOhDRLEEuK3ynW-S6PsYa7xRoleyz75qXM3hslv3T4SK5xrO3tlWFfD4luvRfGKqNI4OH4piFYWK96UgROzOs-yPiB45cNHAsdu2LANmes3WT2jINVPfrwJJqP6vNZ2xPpS7SLrK0od

[2018-02-12 14:22] #3818 closed, assigned to ojw28

[2018-02-12 14:23] tonihei commented on #3818
The [last VTT subtitle segment ](http://cdnbakmi.kaltura.com/api_v3/index.php/service/caption_captionasset/action/serveWebVTT/captionAssetId/1_2fld3obp/ks/djJ8MTc0MDQ4MXxMeLWBfVo41eSflrJyS3q654J9VhbAI0qhcOTCtMIMfKLljcjihD-NKAAfiHj6uR1kl58Bh7X935wDbepdOXEkJNApNBc51NSpZ4eGzG-Jn5ZRUTIKRd0mckG-lkys_2fFm-T6UZt5RRyh0DgZaUq3DPfel3t4tEL32_fsjMO8WAs9ZXU6yiNRzb0Y1sQ-K7J9Jhg2bqJCNkyoHeO6FIjcpmfwTEExJrDVd1zBg

[2018-02-12 14:32] tonihei commented on #3831
Tried to replicate what you describe here in the demo app, but it works perfectly fine for me.
- Especially point 6 is not possible to do because SimpleExoPlayerView disables the next button at the last item if repeat mode is off.

Could you please provide more details on what is not working and how to reproduce in the demo app?

[2018-02-12 14:49] AntonAndev opened #3834 "Problem with playing video after upgrading to 2.6.1 from 2.4.4 on some devices"
Hello, I use ExoPlayer 2.4.4 in app for a long time. 1 week ago I decided to upgrade to version 2.6.1. After release I get claims from users. Claims are about problem with playing video. Only first frame is rendered or grey box. Only audio is working normally.

Users who reported about problem with 1 star have following devices:
Redmi Note 4 (mido)
M8S_PRO_W
nexbox_a95x
g_eight
q201
Mi Max 2
Redmi

[2018-02-12 14:54] tonihei commented on #3834
We are not aware of such an issue yet and it's not possible to find the reason without some sample media to reproduce the problem. Could you provide a sample and reproduction steps here or by sending an email to dev.exoplayer@gmail.com?

[2018-02-12 15:10] andrewlewis commented on #3764
[Internal reference: b/73123339]

[2018-02-12 15:20] AntonAFA opened #3835 "MediaCodec initialisation fails."
### Issue description
On certain devices that use OMX.MTK.VIDEO.DECODER.AVC decoder, on DRM content ONLY we receive the below [error](#error).

### Reproduction steps
* Initialise SimpleExoPlayer
* Prepare MediaSource with drm.
* Note, that in prepare step, we are NOT attaching SimpleExoplayerView to view hierarchy, and
only doing so, after player state READY received.
* Get the crash, immediately

[2018-02-12 15:22] tonihei commented on #3829
I tried to reproduce your problem by leaving the test sample looping for about 10-15 minutes without noticeable problems.
- What exactly happens when you say your playback freezes? Does it skip samples or does playback stop entirely?
- Also, did you see this problem on this device only? Or is it reproducible on other devices as well?

The test log you sent doesn't show any suspicious entries and a

[2018-02-12 16:04] tonihei commented on #3832
Can you provide more details of the error you get as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE)?

[2018-02-12 16:13] AquilesCanta commented on #3792
Could you point us to the last ExoPlayer version on which you know this issue did not occur?

[2018-02-12 16:13] #3664 closed, assigned to andrewlewis

[2018-02-12 16:14] #3676 closed, assigned to andrewlewis

[2018-02-12 16:27] andrewlewis commented on #3687
@giladna IMA's `AdError` is provided as the cause of the notified error, so you can get the error code using `((AdError) error.getCause()).getErrorCode()`. I'll look at renaming the error callback.

[2018-02-12 16:27] axet commented on #3792
Nope. It seems #2309 only fixes for `decodeCommentFrame`, but left unchanged same code in `decodeGeobFrame`

It is not a regression recent 2.6.1 also fails.

[code]

[2018-02-12 16:35] andrewlewis commented on #3691
[Internal reference: b/18444194]

[2018-02-12 16:49] andrewlewis commented on #3718
Please could you set the `DEBUG` flag to true in `ImaAdsLoader`, reproduce the issue and send the output of `adb bugreport`? Then we can see when IMA is firing the events and check the device build, GMS and `WebView` versions.

[2018-02-12 17:02] andrewlewis commented on #3717
The postroll ad is listed before the midroll ad in the ad tag. The ads seem to play correctly if I swap the midroll and postroll.

Do you have any information about how common it is to include ad breaks out of order?

[2018-02-12 17:03] tonihei commented on #3835
Was able to reproduce your problem on a Moto C+. It seems the device has problems switching output surfaces and needs a workaround. This is similar to issues with other devices we had in the past (e.g. #3355, #3439).

Can you provide us with the Build.DEVICE names of Meizu M5C and Lenovo K4 to add them to our workaround?

[2018-02-12 17:20] andrewlewis commented on #3717
This is the same underlying issue as #3716 so I'll mark this as a duplicate. We can sort the ad group times to fix both issues.

[2018-02-12 17:20] #3717 closed, assigned to andrewlewis

[2018-02-12 18:20] satyres opened #3836 "Is Exoplayer available for IOS ?"
Hi , thank you for this awesome library.
is there a version for IOS please
Thank you

[2018-02-12 19:37] AntonAFA commented on #3835
As i see you already support something related to OMX.MTK codec in your workaround. Or you talking about some other workaround?
Will provide you with device info tomorrow.

[2018-02-13 06:50] workspace commented on #3393
Also, you can get Authorization header by using our service api. This dash source is the one of samples in my service. So it does not require any permission.

### Manifest url
https://educastmedia.streaming.mediaservices.windows.net/ccfa9378-938f-4368-a7e2-f4705e220c4a/video.ism/Manifest(format=mpd-time-csf)

### DRM optional header token Request url
POST https://educast.com/api/v1/video/80/create

[2018-02-13 07:06] szkrisz21 commented on #3832
- ExoPlayer version: any version of ExoPlayer after r2.4.4 With version r2.4.4 issue not appears on same device.
- Android version 6.0, EMUI 4.0.3
- Device Huawei P8 lite

Reproduce issue:

Important! Do not call mediaPlayer.setVideoSurfaceHolder(...) method before mediaPlayer.prepare(...)

.....
DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
SimpleExoPlayer mediaPlayer = ExoP

[2018-02-13 09:22] tonihei commented on #3835
Yes, the existing workaround checks decoder name and device name to be as restrictive as possible ([see here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1073)). That's why I need the device names of the devices where it doesn't work to add to this list.

[2018-02-13 10:48] damaniosif opened #3840 "Stack at buffering state when video ends and start again from udp stream"
Hi,
I try to play a udp stream with android using exoplayer. Stream plays well until the end of the video ans then it stacks to buffering state for about 30 seconds and then continues to play the stream. What could be cause this error or how i can solve this.

Thank you

[2018-02-13 11:09] szkrisz21 commented on #3832
Hi,
It seems like app die after surface destroyed if setVideoSurfaceHolder(...) called after prepare(...) method. When prepare(...) called before setVideoSurfaceHolder(...) then no error on surface destroyed.

[2018-02-13 11:39] AntonAFA commented on #3835
Here is the device names(same as appear in your Util.DEVICE)
Meizu M5C - M5c
Lenovo K4 Note -  A7010a48

Anyway, I tried to change the codecNeedsSetOutputSurfaceWorkaround(String name), so that Meizu M5c will be included in the list of workaround needed devices. The result was the same as in reported bug. Even if I force codecNeedsSetOutputSurfaceWorkaround always return true, it is still crashing

[2018-02-13 11:48] tonihei commented on #3832
This seems to be a duplicate of #3724. Tested with the current dev and a Huawei L8 Lite and it works fine. The fix (or rather workaround) for this device will be part of the next release.

[2018-02-13 11:48] #3832 closed, assigned to tonihei

[2018-02-13 11:56] tonihei commented on #3835
Yes, I added `"panell_s".equals(Util.DEVICE)` to the workaround list and this solved the issue for the Moto C+.

Were you able to test if it works for the Lenovo K4?

[2018-02-13 12:09] AntonAFA commented on #3835
First of all, that is good news, because one of the devices our customer reported on, was Moto C+. So I will check it with them.
I am testing it on Meizu. Unfortunately  I have no Lenovo K4 around me. As I mentioned above, even i force hardcoded codecNeedsSetOutputSurfaceWorkaround always return true and compile on Meizu it does not have any effect. Is there anything that I probably missing?

[2018-02-13 12:20] tonihei commented on #3835
Not if it's exactly the same issue.

Unfortunately, I don't have access to neither Meizu M5c nor Lenovo K4, so it's difficult to check what may cause it. Are the reproduction steps and the error message above the same for all three devices? Or is there something else?

[2018-02-13 12:30] AntonAFA commented on #3835
Yes, the flow is the same.
For the matter of fact, I even dont see that exoplayer enter this code block.
getCodecInfo always return null, so dummySurface never initialised.
[code]

[2018-02-13 12:32] AntonAFA commented on #3835
maybeInitCodec() always happened only after setSurface(Surface surface) was called two times
and the incoming Surface is always null.
Actually, onCodecInitialized(String name, long initializedTimestampMs,
      long initializationDurationMs) does not happen also.

[2018-02-13 14:33] hare989 commented on #3741
- I'm really uncertain about last frame of previous video. How could I get and see really last frame? Maybe setting simpleExoPlayerView.getVideoSurfaceView().setVisibility(View.GONE); would help as someone suggested on https://github.com/google/ExoPlayer/issues/2776.
But wouldn't that means, if the last frame is black, that it should occur on every device? Again, this issue is specific only for so

[2018-02-13 14:38] mmbahaa opened #3841 "Audio track position is unstable during initialization"
### Issue description
In MediaCodecAudioTrackRenderer getPositionUs, the audio position starts fine and progresses but after a fraction of a second playing, getCurrentPosition stays for 50 - 300ms not updated because the newCurrentPositionUs is smaller than currentPositionUs.

Can you please explain why this is happening? it seems related to the audio decoder warm up.
### Reproduction steps
1. Re-

[2018-02-13 15:10] AquilesCanta commented on #3340
Hi, we will be pushing support for this soon. If you have any sample content for DCA_SYNCWORD_CORE_LE and DCA_SYNCWORD_CORE_14B_BE, please send a copy to us. Thanks!

[2018-02-13 15:31] tonihei commented on #3835
Can you provide more details on why setSurface is called two times? It's usually only called once when you attach the UI.

[2018-02-13 15:34] tonihei commented on #3836
I'm afraid that's not something we support. iOS libraries need to be written in Objective-C and that's why our Java library can't be ported easily even if we were to replace all platform specific calls.

[2018-02-13 15:59] AntonAFA commented on #3835
setSurface was called twice because we used old exoplayer api where you was supposed to call player.setSurfaceView(null) before you apply new surface (in order to clean the previous one. Now you are doing it with player.clearVideoSurfaceView() so the surface can be removed by SurfaceHolder) I updated our api to be aligned with yours. Now setSurface() called only once. But the issue still there.

[2018-02-13 16:06] tonihei commented on #3841
Might be related to the way we access the audio timestamp internally (see #3830). Maybe @ojw28 can add some further explanation?

[2018-02-13 16:09] AntonAFA commented on #3835
Another thing that I see is that ```setOutputSurfaceV23(codec, surface);``` never happened.
surface is null, so ``` if (this.surface != surface) ``` will never enter the block where you actually apply the workaround.
From what I see the first time DummySurface created is in ```configureCodec(MediaCodecInfo codecInfo, MediaCodec codec, Format format,
      MediaCrypto crypto){
}```

with ```if (dum

[2018-02-13 16:21] tonihei commented on #3835
With the workaround in place, `dummySurface` should never be created. The creation in `configureCodec` is guarded by a call to `shouldInitCodec` which also checks whether this workaround is needed.

When exactly do you attach the UI? I added a listener to `onPlayerStateChanged` and when the playback state changes to `Player.STATE_READY` for the first time, the UI is attached. When doing this, the

[2018-02-13 16:23] ojw28 commented on #3782
This is an issue where we're not correctly keeping buffers with identical presentation timestamps in their original order. We will push a fix shortly.

[2018-02-13 16:29] tonihei commented on #3840
Can you please provide the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) for us to take a look? Especially a link to the media you're trying to play would be helpful to investigate why you are seeing this error.

[2018-02-13 17:53] linhai326 commented on #3782
that's a great news, Thanks!

[2018-02-13 18:06] abvaalgit opened #3843 "how to rotate video without losing current loaded data"
i am trying 3 months to create video player in exoplayer
everything is good but one thing
when i change portrait to landscape activity is created again and i lost previous  loaded data and gesture .
and  every thing continue from first and it is very bad Trouble for end user is not beautiful

[2018-02-13 18:55] ojw28 commented on #3741
Do your license policies require secure output path? If so then I don't think there's an easy workaround. As far as I've been able to work out, the surface is cleared when the codec is released if the secure output path is in use. I've never investigated why this is the case, but I suspect there's a sane reason, or else is a limitation of the secure output path on some architectures. The only way

[2018-02-13 20:05] AntonAFA commented on #3835
So in order to be maximum aligned with you I have moved to work on your demo application.
I want to be sure that we dont miss anything.
I did some small changes in player_activity.xml and PlayerActivity.java in order to reproduce issue on my device.
Changes I made: player_activity.xml ---> I comment out this block
[code]

and added this view instead:
[code]

This should simulate my parent view to

[2018-02-13 20:33] ebr11 opened #3845 "Video with HD audio (e.g. TrueHD) stuck buffering after seek"
### Issue description
The player will get stuck in the "Buffering" state after SimpleExoPlayer.seekTo().  This appears to be somehow related to the HD audio as switching the very same video item to a normal (AC3) audio track will no longer reproduce the problem.

The problem isn't 100% consistent but a few seeks will almost always "stick" the player and it will sometimes "unstick" if you seek seve

[2018-02-13 22:16] wvpaf commented on #3220
@JacksonFoo any luck?

[2018-02-13 22:22] wvpaf commented on #3775
While the video is helpful to understand the user impact the real useful information is in the ADB bugreport. If there is any chance to get that on a device with this issue that is what will be needed to dig in to this better.

[2018-02-13 22:34] zsmatyas commented on #3533
:repeat_one:

[2018-02-13 23:08] astinus-1 commented on #3517
Still getting a token error when attempting to repro:

I/HttpMediaDrmCallback( 4146): Response: {"correlationId":"302619ff-64ba-4350-ae4e-b7add61e397e","isException":true,"title":"com.theplatform.module.exception.ValidationException","description":"You must provide a valid token for authentication.","responseCode":422}

[2018-02-13 23:30] RamIndani commented on #3843
This is not really a bug, you should redirect your question to stackoverflow.

[2018-02-14 07:04] eneim commented on #3843
@abvaalgit There is no way to retain the Surface, but the playback state is possible. I have my own solution (under testing though). If you are interested in, I can share a bit.

[2018-02-14 07:28] WireCrazii commented on #3537
Still having this problem.

Galaxy tab s2 Android 7.0

[2018-02-14 08:40] andrewlewis commented on #3845
Please could you provide a clip from the test content (enough so that we can reproduce the issue in the demo app)? Thanks.

[2018-02-14 09:12] AntonAFA commented on #3835
It will be grate, if you add Meizu and Lenovo K4 devices to the list of excluded devices and push it on some side branch, that I can check if this fix apply for them. I am quite sure, that there is something that I am missing.

Here is the device names(same as appear in your Util.DEVICE)
Meizu M5C - M5c
Lenovo K4 Note - A7010a48

[2018-02-14 09:27] tonihei commented on #3835
Thanks a lot for this detailed analysis!  Not many people make this effort to help us debug a problem :)

It turns out that there is a difference I didn't know about (thanks to @ojw28 for pointing this out). The original fix for other devices (#3439) included some further changes to prevent the DummySurface from being instantiated. Please have a look at [this commit ](https://github.com/google/Exo

[2018-02-14 09:47] alexkombo opened #3846 "Failed to handle provision response: DRM vendor-defined error: -2976"
I have an app in production that plays dash audio with Widevine DRM protection. I've received numerous crash reports from devices that are unable to play the content with the following error:
**Fatal Exception: android.media.MediaDrm$MediaDrmStateException
Failed to handle provision response: DRM vendor-defined error: -2976**

Version of ExoPlayer being used
2.5.4

Device(s) and version(s) of Andr

[2018-02-14 10:00] pakerfeldt opened #3847 "Stream never reaches end with repeatMode"
### Issue description
I don't believe this is necessarily a bug with ExoPlayer but what I find is that our player does not loop when setting `repeatMode` to either `REPEAT_MODE_ONE` or `REPEAT_MODE_ALL`. In fact, `MediaCodecRenderer` never reaches `processEndOfStream()`. The player overshoots the duration of the video and keeps calling `drainOutputBuffer()` in the renderer where `outputIndex` sett

[2018-02-14 10:09] IanDBird commented on #3803
Just wanted to confirm that we (Plex) had seen this GHI and discussing how to best test the suggested changes.

[2018-02-14 10:25] tonihei commented on #3847
It's a little bit difficult to guess what's wrong with your code. But here are a few thoughts based on the things you reprorted:
- The difference between repeating and not repeating for the media streams is that the sample stream is marked as final if it's the last one. Streams marked as final just play to their last sample and playback ends as soon as all streams report that they have ended. When

[2018-02-14 10:36] pakerfeldt commented on #3847
Thank you. I will go through your comments and report back. A quick note though. I *do*  see `processEndOfStream()` being called in your reference app right before the stream starts over from the beginning. It sounds from your first comment that this should not be the case?

[2018-02-14 10:49] tonihei commented on #3847
I don't see this happening in our demo app and the current dev branch. Seems like a thing to investigate how you end up in there.

[2018-02-14 10:51] tonihei commented on #3843
Please have a look at our demo app where you can rotate the video without losing any data. The player is independent of the UI, so it is sufficient to keep the player instance around and not recreate it.

[2018-02-14 10:55] vishal105 opened #3848 "MP4 video not playing in exoplayer"
Hello,
I tried to play .mp4 video using exoplayer but I am getting this error

Here is my code code snippet

***************************************** Code snippet*************************************
 MediaSource videoSourceMp4 = new ExtractorMediaSource(
                    Uri.parse(videoURI),
                    dataSourceFactory, new DefaultExtractorsFactory(), mainHandler,

[2018-02-14 11:03] tonihei commented on #3848
Sounds as if your file is broken when it causes an end-of-file exception when trying to read it. If you want us to take a closer look, please provide an example file as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-02-14 11:08] tonihei commented on #3846
Sounds like an device-specific Widevine problem. I think it would be helpful if you can get hold on a full bugreport to simplify the debugging.

@wvpaf Can you take a look?

[2018-02-14 11:37] akurni commented on #3829
The issue can only be reproduced after playing it for at least 1 day.
I haven't tried it on another device, but will let you know. I'm trying to reproduce it again and will send you the updated log. The app itself didn't crash, background service still works, the only symptom is the video freezes and usually at the same position. Will update you soon with the new log once it happens again

[2018-02-14 12:04] pakerfeldt commented on #3847
I tried first with release-v2 and now dev-v2. The only change is adding `player.setRepeatMode(Player.REPEAT_MODE_ONE);` to line 313 in `PlayerActivity.java` (dev-v2). I tried with both `REPEAT_MODE_ONE` and `REPEAT_MODE_ALL`. My breakpoint in `processEndOfStream` triggers right before video loops.

[2018-02-14 12:17] zhanghuicuc commented on #3340
Sorry, I don't have such sample contents either.

[2018-02-14 12:45] pakerfeldt commented on #3847
Maybe I actually came across a bug after all. Not sure. Thanks to your guidance it became evident that our misc renderers is not allowing the stream to finish. We have two of them which doesn't really render anything. They exist for other purposes. They extend `BaseRenderer` and when ExoPlayer asks if they `hasReadStreamToEnd()` they answer `false`. It does not matter that our renderers override `

[2018-02-14 13:17] AntonAFA commented on #3835
Thanks for your solution. I made the changes you suggest and it seems to work both on Meizu M5c and Lenovo K4 Note.
For some reason it did not work on Moto C+ that we tested on. When I print it ```Util.DEVICE```, I could see that the name is slightly differ from the one you provide.
You told that it is  "panell_s" , but in my case the name was "panell_p". Probably there is some minor difference in

[2018-02-14 13:21] tonihei commented on #3847
Yes, you're right. processEndOfStream is still called (my debugger played tricks on me and didn't stop there even though it was called).

I'm glad you found the reason for the problem you're seeing. This behavior is expected because the player waits for all renderers to end. These other renderers could return true in hasReadStreamToEnd, especially if there are not reading anything.

[2018-02-14 13:23] pakerfeldt commented on #3847
Well, `hasReadStreamToEnd()` is final in `BaseRenderer` so I can't override it. However, I will implement our own base renderer for this purpose and avoid using `BaseRenderer`.

Will `render` still be called even if the renderer suggests we've reached end of stream? In that case I have another problem.

[2018-02-14 13:46] tonihei commented on #3835
Yes, there is also panell_d, panell_dl and panell_dp. Guess I better change it to include all devices starting with "panell" then.

We also discussed the same question - whether we should enable the workaround for certain API levels and decoders for all devices or something similar. Because we also don't know for sure how many devices out there have this problem. Using the chipset may be a good id

[2018-02-14 13:47] tonihei commented on #3847
There is also a `NoSampleRenderer` which can be used if your renderer is not supposed to read any samples. This class simplifies some of the issues you may have when you try to write a Renderer from scratch.

[2018-02-14 13:49] mmbahaa commented on #3841
@tonihei thanks for the update, I'd really appreciate @ojw28 input as this freeze causes failures in some of my unit tests.

[2018-02-14 13:50] spaul13 opened #3849 "Exoplayer Input"
I just want to know what exactly decoder takes as input only the I/P/B frames?

What I have seen exoplayer takes the videofile as input but while decoding using avcodec_decode, it takes a single frame to decode and then display. Am I correct?

Considering an encoded video stream, Can anyone please explain to me how an incoming P frame's dependency on I frame defined in the exoplayer module?

[2018-02-14 14:07] tonihei commented on #3849
This is handled by the decoder internally based on the order in which it receives the data. ExoPlayer just enqueues the input data to the encoder and then retrieves the decoded data in the output buffer (which is then used by the renderer to display the frame).

[2018-02-14 14:14] spaul13 commented on #3849
Thanks a lot for the reply. so we are giving a complete video file as input to the player. One little query remaining.

Suppose for a particular seek_position in the video playback, if it's a B frame then for decoder it requires the I and P frames to be decoded. Then exoplayer enqueues the B frame along with the I and P frames on which B frame is dependent to the decoder?

[2018-02-14 14:19] tonihei commented on #3849
Yes, it does. When seeking, the decoder receives data from the last sync point (i.e. the last I frame), but we only use the decoded output from the seek position to prevent displaying data from before the requested position.

[2018-02-14 14:33] andrewlewis commented on #3704
We get an ad load error "AdEvent: {errorMessage=The response does not contain any valid ads., errorCode=1009, type=adLoadError}" from IMA while loading the preroll ad. This is handled better on the latest development version and the player shouldn't get stuck (see #3584), but to get both ads to play I think you need to fix the ad tag so IMA loads a non-empty ad.

[2018-02-14 14:33] #3704 closed, assigned to andrewlewis

[2018-02-14 14:36] ebr11 commented on #3845
Link emailed.

Thanks!

[2018-02-14 14:42] andrewlewis commented on #3694
@giladna For this kind of suggestion it's best to ask in the IMA forum: https://groups.google.com/forum/#!forum/ima-sdk. Thanks!

Closing for now as there doesn't appear to be much demand for setting the position for VAST ads, and there's a workaround above.

[2018-02-14 14:42] #3694 closed, assigned to andrewlewis

[2018-02-14 15:06] andrewlewis commented on #3734
The HLS stream provided via email wouldn't load (I got a 403 error). Perhaps it is georestricted or has expired. I tried using a different live HLS stream and a preroll sample ad tag and the ad played as expected, then I was able to seek around the live window.

Please could you provide a content stream and ad tag we can use to reproduce the issue here? It would also be useful to have precise step

[2018-02-14 15:11] andrewlewis commented on #3692
This looks the same as #3704. I tried backgrounding and resuming and it worked as expected (though as noted on that issue, one of the ads seems to be empty).

[2018-02-14 15:11] #3692 closed, assigned to andrewlewis

[2018-02-14 15:24] andrewlewis commented on #3669
I tried to reproduce this using the ad tag and content provided via email but the ad groups seem to be empty and I only see a preroll and two midroll ad groups (no postroll). Please could you check the ad tag? Thanks.

[2018-02-14 15:40] AntonAFA commented on #3835
Thanks again.
I was thinking about possible solutions, and came to a little bit different possible approach. If you provide some sort of Settings API that can give application (me) ability to decide if I want this workaround or not for example: ```player.useDummySurfaceWorkaround(true)``` , I can catch this specific exception once and enable workaround for all previous sessions for this device. Th

[2018-02-14 17:16] jboisjo commented on #3382
Would be cool to have a live feature! Like right now it's fine when you know the duration of the video, but what if it's a livestream?

[2018-02-14 17:31] tonihei commented on #3835
This problem often results in the application not responding on these devices instead of an exception. Especially when switching between two real surfaces. That means we can't just always try first and enable the workaround as soon as it fails.

If you want to catch the exception and then set a flag in your app, you can still do so by overriding `shouldInitCodec` in `MediaCodecVideoRenderer` to di

[2018-02-14 17:38] Yadunath opened #3850 "Black screen Before video load"
While playing an m3u8 video through "hls" , video is taking more time to start.During this time a black overlay is seen until video starts.I tried to make surface view invisible, still when I am making surface view visible after playback started black screen is coming for a second.Is there any way to fix this

[2018-02-14 19:17] satyres commented on #3836
@tonihei  :+1:  thank you so much for your answer.
i hope there will be a version for IOS in the futur . it would be really nice.
Best regards

[2018-02-14 22:08] HennessyTennessy opened #3852 "ffmpeg extension"
Hi!
I am trying to add ffmpeg extension to my own ExoPlayer Project, but it seriously so hard to understand that "FFmpeg extension's Build instructions" for me...
For now I have Simple Android Project with this dependencies:

MainActivity class:

I know, that the extension is not provided via JCenter, and try to add this library to my Project,
but I dont understand absolutly how to build the exten

[2018-02-14 23:03] drhill commented on #3803
I have few Atmos tracks and no Atmos system to test with.  I never had drop outs on TrueHD tracks though, only DTS-MA tracks prior to upping the buffer size.

[2018-02-14 23:12] Balthazar2k4 commented on #3803
I had never had issues prior to a few of the new 4K BDs with much higher bitrate Atmos tracks.  These discs, while still within Atmos spec, are substantially higher bitrate (>50%) versus the average Atmos track found on BD.  As previously stated these discs play without issue on a UHD BD player and leads me to believe it could be an HDMI encapsulation problem due to the lack of documentation to Do

[2018-02-14 23:14] heccoder commented on #3803
I have tested and was able to reproduce the issue with Atmos tracks (with Atmos capable receiver) and HEVC 4K video via Plex on Nvidia Shield. It does happen with Kodi as well on Android TV.

[2018-02-15 06:43] VMAXSDK commented on #3718
Hi Andrew attaching adb bugreport as requested
[bugreport-2018-02-15-12-06-11.zip](https://github.com/google/ExoPlayer/files/1726620/bugreport-2018-02-15-12-06-11.zip)

[2018-02-15 08:39] IanDBird commented on #3803
It's worth noting that in Plex, we actually still use our own implementation of True HD passthrough, since official support was added only last month. We'll likely drop our version to adopt the one recently added. However, it does appear that we use a smaller buffer than the one add in https://github.com/google/ExoPlayer/commit/8e8e53c42d7a63ee5f6703d86902ebb102c10af5.

One question about the buff

[2018-02-15 08:53] andrewlewis commented on #3803
@IanDBird There was some discussion on #2960.

[2018-02-15 09:00] giladna commented on #3846
@tonihei
@ojw28

Think it can be great if ExoPlayer can add DeviceCapailities check for DRM  Supported devices

We have done such a thing

you can look at:

https://github.com/kaltura/playkit-android/blob/develop/playkit/src/main/java/com/kaltura/playkit/player/MediaSupport.java

the code is open source
[code]

[2018-02-15 09:06] andrewlewis commented on #3718
The bug report doesn't seem to include logging from `ImaAdsLoader`. Please follow the steps from the comment above to enable debug logging, reproduce the issue and then take the bug report. Thanks.

[2018-02-15 09:29] tonihei commented on #3852
Judging the screenshot, it seems you're trying to build the ffmpeg extension on Windows. Please correct me if I'm wrong here.

The instructions in our readme apply to Linux-based operating systems. As we are not officially supporting a Windows build, I unfortunately can't verify if and how the build works on there. Please also have a look at #3127 where this has been discussed.

Also, the `cd "<pa

[2018-02-15 09:49] ojw28 commented on #3533
Please feel free to send a pull request if you're in a rush for this change. Thanks.

[2018-02-15 09:54] tonihei commented on #3846
@giladna Did you have a look at [`DrmSessionManager.canAcquireSession`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/drm/DrmSessionManager.java#L36)and its [default implementation](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.java#L350)?

[2018-02-15 10:31] botaydotcom commented on #3843
I'm afraid there's not one easy and best way to do this.
- One way (you may call cheating) is what ExoPlayer's Demo app is doing, which is to retain the `Activity` on config change. This makes everything simpler at first, but if you UI is really complicated, and you have significant different UI between landscape & portrait mode, it's not easy to get everything right in  `onConfigurationChanged`.

[2018-02-15 11:12] pakerfeldt commented on #3847
Thanks. Appreciate the guidance!

[2018-02-15 11:12] #3847 closed, assigned to tonihei

[2018-02-15 12:55] HennessyTennessy commented on #3852
Hmm, ok. Thx for quick answer! But I think I need more help)
Yes, i did it on Windows. I read #3127, but dont understand why i should to use Powershell, when i can setup environment variable in Computer properties, or i did someting wrong...
Also, I am very new in NDK development, but know how to assembler release in Android Studio. Now, i have this file: extension-ffmpeg-release.aar. As i underta

[2018-02-15 12:58] eneim commented on #3843
@botaydotcom Good points about the MediaCodec. I think the ultimate goal is to reuse the setup without the need of warming it (the native codec) up again.

I do a search around and turn to this example (which is quite famous I suppose): [DoubleDecodeActivity.java](https://github.com/google/grafika/blob/master/app/src/main/java/com/android/grafika/DoubleDecodeActivity.java). Not have a deep investi

[2018-02-15 13:36] tonihei commented on #3852
The deprecated API warnings are harmless. And the duplicated class definitions may also not be a problem. Did you test actually using the extension to play a ffmpeg audio file?

As I said, I can't verify how the build works on Windows. So it may be true that setting the environment variables in the Computer properties is enough to compile the ffmpeg library.

[2018-02-15 13:56] botaydotcom commented on #3843
I didn't know that example before.

Anw, briefly read the code. What it does is reusing a `SurfaceTexture` on a `TextureView` (save it, then reattach the `SurfaceTexture` after rotation). I guess this works, but with a few limitations:
- It only works if you use `TextureView` instead of `SurfaceView`. Unfortunately `TextureView` is much less efficient as compared to `SurfaceView`, and I believe pl

[2018-02-15 15:02] HennessyTennessy commented on #3852
I tried to test it, but not sure, that i did it right)
I copied and included that file (extension-ffmpeg-release.aar) as library, to my own project
[code]
Then I edit code:
[code]
changed to:
[code]
Now my app **cant** play any films. Btw, without library app works good. Should i create .jar? May be it will be better than .aar?

[2018-02-15 15:30] tonihei commented on #3850
How do you check when the video starts? The best way to ensure the player started rendering the actual video is to add a video debug listener and listen for `onRenderedFirstFrame`.

[2018-02-15 15:36] tonihei commented on #3852
It's probably best to follow the build instructions in the ffmpeg readme file using either a Powershell or the WSL as proposed in #3127.

If the extension loaded successfully you should see a "Loaded FfmpegAudioRenderer" in the logcat.

[2018-02-15 16:04] AquilesCanta commented on #3852
An easy way to know whether .so/.a's (depends on the linking being used) are being correctly bundled in your apk is to check whether FfmpegLibrary.isAvailable() is returning true. If it returns false, it means that your apk does not have the native objects bundled in. Which in turn means you have not successfully compiled the native part.

At the end of the compilation process, all objects should

[2018-02-15 16:08] tonihei commented on #3834
I tried to reproduce using a Redmi Note 4 and the example stream you have sent via email. Plays perfectly fine for me in our demo app. Are you able to reproduce this problem in our demo app or only in your own app. If you can see it in the demo app, can you describe what you did to reproduce the bug?

[2018-02-15 16:32] cyrillrx commented on #3630
I tested on last commit in dev-v2 (f432b5211).
It works for me!

[2018-02-15 17:41] AntonAndev commented on #3834
I do not have device from this list :(

[2018-02-15 17:50] tonihei commented on #3834
I also only have the mentioned Redmi Note 4 and it works fine, so maybe it doesn't affect all of the devices in your list? Can you attempt to recreate the issue somehow?

As I guess, it might be related to #3835 or #3439 - but in these cases, we never saw that the first frame was rendered or the audio continued. So the guess might be completely wrong.

[2018-02-15 19:09] HennessyTennessy commented on #3852
I understood that u work on Linux, but say me pls is Android Studio on Linux diferent from Android Studio on Windows? I really dont know=/ If its not, whats happend if u build ffmpeg-extansion through Android Studio on Linux by Gradle?(screenshot ->) https://ibb.co/bGZUbS
Btw, i heard AquilesCanta, and tried to **build** this extansion (not create .aar file). But Gradle build finished with 1 error

[2018-02-15 20:35] tresvecesseis commented on #55
we have just make a pull request (#3854) for the inclusion of our RTSP implementation, please test it with your own RTSP sources

[2018-02-16 01:27] spaul13 opened #3855 "frame_id to particular bytes in video file mapping"
If I have the frame-id, I have seen I can convert it to a milisec scale, from where I have to start searching in the video file. probably (1000*frame_id)/64 will be the seek_position in the video file. what will be then the duration for seeking the frame? Can anyone please tell me is it true?

**I want to know how can I map the frame_id which I want to get from the video file to the bytes need to

[2018-02-16 06:01] nishannorunobi opened #3856 "Cant play encrypted video with clear_key drm scheme in Exoplayer2."
**logcat log:**
[code]
**Tools:**
1. ShakaPackager
2. ffmpeg
3. Exoplayer2
4. video file name : original.mp4
5. Ide: android studio
6. dev environment : windows
7. Tested Device : Emulator nexus5x and real device nexus5x
8. Encryption with clear_key scheme

**Steps**
step 01: converted the video to h264_baseline coded using ffmpeg with following command

[code]

step 02: encrypted video with shaka

[2018-02-16 06:43] nishannorunobi commented on #3856
Full logcat for above problem.
[new 2.txt](https://github.com/google/ExoPlayer/files/1730438/new.2.txt)

[2018-02-16 06:46] sachinGirish commented on #3848
@vishal105 Use recent lib

[2018-02-16 06:47] VMAXSDK commented on #3718
Hi Andrew,
We enabled the debug flag as below :

ImaSdkSettings settings=new ImaSdkSettings();
settings.setDebugMode(true);
ImaAdsLoader adsLoader = new ImaAdsLoader(context, Uri.parse(adTag),settings);

And after reproducing the issue we took the bug report from the "Take bug report" option available in Device Developer Option, attaching the same
[bugreport-2018-02-16-12-01-47.txt](https://github

[2018-02-16 08:13] vishal105 commented on #3848
I am using 2.6.1 lib.

[2018-02-16 08:55] andrewlewis commented on #3687
@giladna Have you seen `AdErrors` with the [`PLAY` type](https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/AdError.AdErrorType) while using the IMA extension? I'm open to renaming the callback, but I want to understand what non-loading errors are causing the confusion first. It seems a bit strange for an `AdsLoader` to sur

[2018-02-16 09:19] nishannorunobi commented on #3856
**What is your encoding type of the given issue https://github.com/google/ExoPlayer/issues/3201 ?**

From the issue : https://github.com/google/ExoPlayer/issues/3201
last comment quoted below:

base64 encoded key : MGEyNDdiMDc1MWNiZjFhODI3ZTJmZWRmYjg3NDc5YTI=
I used base64 encoder site with utf-8 : https://www.base64encode.org/

base64 encoded kid : OTEzNDE5NTE2OTZiNWUxYmEyMzI0MzllY2VjMWYxMmE=

**

[2018-02-16 09:57] giladna commented on #3846
@tonihei
Thanks!

The solution I suggest is static what makes it good for  launch time to get the device capabilty and the ability to decide if video playback in app can work from the first place on it or a specific feature

[2018-02-16 10:00] tonihei commented on #3855
Could you be more specific of what type of video file you are talking about?

Depending on the type, our Extractors have this mapping internally. For example, the Mp4Extractor keep a table of timestamps, bytes offsets and sizes [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/TrackSampleTable.java). However, this data

[2018-02-16 10:23] tonihei commented on #3852
It sounds as if the build of the native libraries never succeeded. Were you able to follow to build instructions in the readme file? And if yes how far? You need to do this in order to build the native code which can be used by the library later on.

[2018-02-16 10:24] ojw28 commented on #3856
The problem is that you're taking the key, treating it as a string, then trying to base64url encode it. It's not a string, but rather it's a 128 bit number, and you need to treat it as one when you do the encoding. As an example, if you have the key:
[code]
Then the equivalent byte[] in Java is:
[code]
You can then base64 encode the bytes without padding:
[code]
Which gives you:
[code]

Doing the

[2018-02-16 10:24] #3856 closed, assigned to ojw28

[2018-02-16 12:18] ojw28 commented on #3830
Note: The stuttering issue is tracked by https://github.com/google/ExoPlayer/issues/3841.

[2018-02-16 12:23] ojw28 commented on #3816
Fix is now available in the dev-v2 branch.

[2018-02-16 12:23] #3816 closed, assigned to AquilesCanta

[2018-02-16 12:23] #3807 closed, assigned to andrewlewis

[2018-02-16 12:23] #3340 closed, assigned to AquilesCanta

[2018-02-16 12:23] #3782 closed, assigned to AquilesCanta

[2018-02-16 12:23] #3792 closed, assigned to AquilesCanta

[2018-02-16 12:24] #3724 closed, assigned to ojw28

[2018-02-16 12:24] #3716 closed, assigned to andrewlewis

[2018-02-16 12:25] #3801 closed, assigned to andrewlewis

[2018-02-16 12:25] #3715 closed, assigned to andrewlewis

[2018-02-16 12:30] ojw28 commented on #3742
What is the source of the affected files? I'm erring on the side of closing this as working as intended. Unless it can be demonstrated that a popular SubRip tool is generating affected files, then I think the correct solution would be to fix whatever is creating these files so that they're in a sensible order (i.e. increasing with time).

In case you wanted to tinker yourself, the package you'd ne

[2018-02-16 12:31] #3747 closed, assigned to AquilesCanta

[2018-02-16 12:33] ojw28 commented on #3723
We've added the proguard config to ExoPlayer's IMA extension module. For some reason I was unable to reproduce the actual problem, and so was unable to verify that doing this removes the need for applications to add the proguard config themselves. Hopefully this is the case though!

[2018-02-16 12:33] #3723 closed, assigned to ojw28

[2018-02-16 12:36] #3630 closed, assigned to AquilesCanta

[2018-02-16 12:37] #3584 closed, assigned to andrewlewis

[2018-02-16 12:41] #1606 closed, assigned to ojw28

[2018-02-16 12:59] pwiniars opened #3857 "How to get advert duration and position?"
How can I get position of playing advert and it's total duration? I've set an AdEventListener and I need to send some analytics inside CONTENT_RESUME_REQUEST event. If there's no such possibility, could you consider adding such a feature?

ExoPlayer 2.6.1

[2018-02-16 13:00] andrewlewis commented on #3718
Looking at the logcat, the reporting events happen roughly at the expected times for the first two ad playbacks but are grouped for the third ad playback.

The log line "02-16 11:57:07.742 9713-9713/com.google.android.exoplayer2.imademo I/SDK_LOG:ima.managers.VastVideoAdsManager: Playback error: AdError 202: VAST media file duration differs from the VAST response duration by 105.31 seconds." befor

[2018-02-16 13:04] andrewlewis commented on #3857
Please see #3322.

That should provide a way to handle ad events. We can also consider providing an easier to use callback for ad-related events but it probably won't happen for a while.

[2018-02-16 13:04] #3857 closed, assigned to andrewlewis

[2018-02-16 13:06] abvaalgit opened #3858 "what is extension in exo demo app github project...and how can it work"

[2018-02-16 13:22] abvaalgit commented on #3843
thanks from all of you ...
you helped me a lot ,,,,
i will study demo app and my answer there
thanks all one by one

[2018-02-16 13:38] spaul13 commented on #3855
Thanks for the reply. Its an H.264 encoded MP4 file consists of I and P frames.

Suppose from the users' position, I calculate the frame_id needed to fetch, if my video stored in somewhere else. I need to fetch the bytes corresponding to the video store it on my android, then I call the Exoplayer.  For that reason, I want to know how that **mapping between frame_id and specific byte range [a,b] in

[2018-02-16 13:50] wezley98 opened #3859 "Allow dev-v2 to be pulled as gradle dependency eg SNAPSHOT"
### Issue description
Would it be possible to add the dev-v2 branch as a gradle dependency, eg upload the artifacts on each commit.

Something like this:
compile 'com.google.android.exoplayer:exoplayer:2.6.1-dev-v2'
or
compile 'com.google.android.exoplayer:exoplayer:2.6.1-SNAPSHOT'

This would make testing new fixes easier and allow us to use the latest fixes and features without having to wait fo

[2018-02-16 16:31] tonihei commented on #3836
Closing because question was answered.

[2018-02-16 16:31] #3836 closed, assigned to tonihei

[2018-02-16 16:45] tonihei commented on #3855
"if my video stored in somewhere else" - ExoPlayer allows you to specify various data sources to read from a file. Where is the file stored that you can't just load it as it is and seek to expected position? You also need to read the file to find the byte position of the frames, so there seems to be no way around this.

[2018-02-16 17:31] sharpaper commented on #3165
Is there alternatively another player for Android that can play any Internet audio stream? Perhaps VLC?

[2018-02-16 18:15] AquilesCanta commented on #3165
I am sure there are, but this probably falls outside the scope of this issue tracker.

[2018-02-16 18:36] zsmatyas opened #3860 "CEA608 - Dropped commands"
Starting at this line the code checks if a CEA608 control code was repeated:
https://github.com/google/ExoPlayer/blob/2b20780482a9c6b07416bcbf4de829532859d10a/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java#L339

The problem is that it does not take into account the timing of the received control codes. There are contents that use the same control code multiple

[2018-02-16 19:45] spaul13 commented on #3849
@tonihei, can you please tell me what exactly the **last sync point** is?
Did you want to imply the last time-stamped frame? But then why the last time-stamped frame be an I frame?

why only **last  I frame** it requires, it can be last I along with the previous P's on which the particular P frame is dependent on?

[2018-02-16 21:23] HennessyTennessy commented on #3852
I cant follow build instruction in the redmi file, because I failed with WSL installation, and dont want to install Ubuntu or something only for build ffmpeg((
I saw #3127, and didnt find any simple info for NDK building....

[2018-02-17 02:43] ened commented on #55
@tresvecesseis thank you for the PR! What is the preferred way to send you device compatibility feedback (perhaps by email)?

[2018-02-17 04:12] DeevD opened #3861 "Exo Player is can use chromecast??"
Can i use chromecast in exo player for android??

[2018-02-17 07:13] lldartsll commented on #3742
@ojw28
I don't know the source of the subtitles.
thank you for pointing me in the right direction.

**for any one having the same problem** what I did was skipping exoplayer SubtitleView entirely
(is it ok to post my workaround here?)

[2018-02-17 15:12] AlirezaGhanbarinia opened #3862 "Rotating Exoplayer"
I added exoplayer to my app.
I fixed the screen orientation to portrait for whole my app.
I need exoplayer to be rotated to landscape mode.

How can I handle this issue?
I just need to rotate the exo frame and not the whole fragment or activity.

[2018-02-17 20:50] tresvecesseis commented on #55
@ened an email will be ok, if there are problems, please attach the messages interchanged with the RTSP server, this patch will do the job:

[code]

[2018-02-18 11:42] eneim opened #3864 "(dev-v2, 2.7.0 candidate?!) Player seems to buffer the resource even without calling start (first time setPlayWhenReady set to true)."
I tried latest dev-v2 and notice the following log shown in console:

[code]

When trying to comment out the MyPlayer#play(), the log is as below

[code]

So we can see that the player will also be ready to play even the Client doesn't request to.

I suppose that Player will start buffering only when Player#setPlayWhenReady is called with 'true' (for at least once). I also doesn't see this on 2.6.

[2018-02-18 14:58] jarrodoxical commented on #3859
this would be nice.

[2018-02-18 16:14] ebr11 commented on #3845
Hi.  Were you able to reproduce the problem with my link?

[2018-02-18 17:34] ojw28 commented on #3864
ExoPlayer has always behaved this way. Buffering starts as soon as you call `prepare`. It's never been the case that `setPlayWhenReady(true)` is required for buffering to start.

[2018-02-18 17:34] #3864 closed, assigned to ojw28

[2018-02-18 17:37] ojw28 commented on #3858
ExoPlayer extensions are additional components, most of which have dependencies on external libraries. For example the OkHttp extension has a dependency on the OkHttp library, and allows you to use that network stack to request the media played by ExoPlayer.

Each extension has its own README file that gives instructions on how to use it, for example the OkHttp one [here](https://github.com/google

[2018-02-18 17:37] #3858 closed

[2018-02-19 02:57] priscila225 opened #3865 "ImaAdsLoader doesn't work with HLS content that uses EXT-X-PROGRAM-DATE-TIME"
I'm running the demo app for v2.6.1 and I hardcoded it to play this HLS video:  https://content.uplynk.com/babd2bd748ee47c48e0fb6b492245eb9.m3u8

I'm trying to use this google sample vmap: "VMAP - Pre-roll Single Ad, Mid-roll Standard Pod with 3 ads, Post-roll Single Ad"

When the playback starts I see that the prerolls doesn't play, instead I get the 3 midrolls where the preroll should be. Also I

[2018-02-19 07:46] VMAXSDK commented on #3718
We tried adding logs in ImaAdsLoader.getAdProgress(), found that the preroll and midroll ad are progressing properly but in case of postroll ad, the progress is random. Attaching the Logcat section logs from AndroidStudio.
[logcat_logs.txt](https://github.com/google/ExoPlayer/files/1735851/logcat_logs.txt)
Also we have set the static final DEBUG flag in ImaAdsLoader to true, attaching the BugRepor

[2018-02-19 12:55] belanagyb commented on #3517
Hi guys,

attached with a new token.

On Wed, Feb 14, 2018 at 1:09 AM, astinus-1 <notifications@github.com> wrote:

[2018-02-19 14:50] spaul13 commented on #3855
can you tell me how exoplayer fetches bytes from a TCP server as required (on-demand) and decode and display after converting into a frame-texture?
Actually, my video file is stored on the server and I have a simple TCP server code running on the server machine. All I need to do, fetch the video bytes as required as display it.

Can you (@tonihei ) please tell me how this can be achieved by specif

[2018-02-19 16:57] ojw28 commented on #3742
Feel free to post your solution here, although given no-one has filed a similar issue in the past 2 years, I doubt this is a widespread problem :). Closing for now.

[2018-02-19 16:57] #3742 closed, assigned to ojw28

[2018-02-19 17:24] kishan36 opened #3867 "HLS Trickplay EXT-X-I-FRAME-STREAM-INF"
I want get video frame image from HLS stream url. But I don't know how to get EXT-X-I-FRAME-STREAM-INF from hls url. Also I didn't found any specific code for it.I want to seek using trickplay.

[2018-02-19 20:02] lldartsll commented on #3742
so what i did was
1-adding [this library](https://github.com/halilozercan/BetterVideoPlayer) as a model
and using its CaptionView
2-in CaptionsView.java you have to replace the MediaPlayer with SimpleExoPlayer and you have to parse
`simpleExoPlayer.getCurrentPosition() / 1000` to int
3-now in your main project in exo_simple_playerview.xml add the following
`<com.halilibo.bettervideoplayer.subtitle

[2018-02-20 04:50] moagrius commented on #3815
Thanks for the nice words and the update!

[2018-02-20 13:23] noamtamim opened #3868 "[Request] Please publish the prebuilt demo app on GitHub releases"
This would be very useful when debugging ExoPlayer on some devices.

[2018-02-20 13:52] andrewlewis commented on #3861
@AquilesCanta has been working on a cast extension that makes it easier to use the Cast SDK with ExoPlayer. You can have a look at the code on [the development branch](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/cast) now. This will likely be included in the next release, at which point there will also be a post on our [blog](https://medium.com/google-exoplayer) describing how to us

[2018-02-20 13:52] #3861 closed, assigned to andrewlewis

[2018-02-20 15:23] DeevD commented on #3861
Thank you bro I love it :D

[2018-02-20 17:47] tamimattafi opened #3869 "Subtitles Support in ExoPlayer 2.6.1"
Hello, I'm Trying to achieve a video .mp4 streaming with .srt subtitles.. i was following the example on #2017 but it seems that it no longer works.
here's what i used :
`Format textFormat = Format.createTextSampleFormat(null, MimeTypes.APPLICATION_SUBRIP,
null, Format.NO_VALUE, Format.NO_VALUE, "en", null);
MediaSource textMediaSource = new SingleSampleMediaSource(srtUri, mediaDataSourceFactory,

[2018-02-20 17:51] FD- commented on #2643
Hi all,
I highly appreciate the effort you put into developing this great library, but I'm a bit confused on how to use the offline functionality:

- What is the difference between the CacheUtils and the *Downloader (eg HlsDownloader) approach?
- For the *Downloaders, how exactly can I pick a specific representation (eg stream quality) for download? A few lines of sample code would be great!

Than

[2018-02-20 18:10] andrewlewis commented on #3869
To merge SRT subtitles with `mediaSource` please try:

[code]

It's important that `srtUri` points to the actual SRT file to play (not a web page, for example).

[2018-02-20 18:22] tamimattafi commented on #3869
@andrewlewis Hello andrew! it works ! the subtiltes are appearing ! but there's a little problem :/

- First one , my subs Language is Arabic.. so the characters are tottaly weird  , they're something like **Triangles** and **Squares** and **???** stuff.. i think ExoPlayer doesn't support Arabic ?

- Second one , the text seems to appear too small, is there anyway to scale it ?
Thank you!

[2018-02-20 18:43] GauthierChan opened #3870 "First frame of the video not visible when onPlayerStateChanged(boolean playWhenReady, int playbackState) with playbackState equal to Player.STATE_READY is called"
### Issue description
onPlayerStateChanged(boolean playWhenReady, int playbackState) with playbackState equal to Player.STATE_READY is called but the first frame is not rendered and the play button doesn't start the video instantly.

### Reproduction steps
I created a test project here https://github.com/GauthierChan/ExoPlayerBlackBlink to reproduce the issue.
The issue is particularly visible whe

[2018-02-20 19:17] tamimattafi opened #3871 "Weird Arabic/Persian Subtitles Symbols"
Hello ! I'm trying to create a video player with **Subtitles**. Everything is set up and working correctly , except for one thing. My **Arabic** subtitles are not showing correctly as they should be. They look so weird with **symbols** and **stuff**.. Something like this :

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/Y5UWK.jpg

**Here's my ExoPlayer Setup with subtilt

[2018-02-21 03:27] calweaver opened #3872 "Multikey DRM - Allow restoring multiple keysets for offline playbacks"

[2018-02-21 03:46] calweaver commented on #3872
Hi Guys,

Been working on this issue for a week or so, hoping somebody can point me in the right direction.

We have sucessfully got Exoplayer playing back Widevine encrypted content with offline keys (ie using the offLicenseHelper and offlineLicenseKeySetid) when the video and audio stream both have the same key.

When we use different keys for the video and the audio stream we get the attached e

[2018-02-21 05:39] saiyamd commented on #3473
Hello, on i.MX6 platform, the same test is failing with below error.

"junit.framework.AssertionFailedError: Test timed out after 300000 ms."

My observation is, all the videos with adaptive playback play smoothly and at last the activity is getting stuck (the last frame of the video is stuck on screen) and the test is failing with this error. Can you suggest what could be the issue?

[2018-02-21 08:03] Aptyp630 opened #3873 "Can't play video with .m3u8 for several devices"
Hi.

1. I use Exo Player v1 in my app, and everything was good with playing video except last new devices with API 8.0 and higher. E.g. Sony XZ API 8.0, HTC U11. My file .m3u8 cannot play for those devices. There is only sound without picture. I've tried use Exo Player v2 passing my link with .m3u8 and there was the same issue for the same devices. Could you help me to understand what is it the pr

[2018-02-21 08:15] andrewlewis commented on #3873
We can't help unless you provide information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

Let's use this issue to track the m3u8/HLS issue in (1). Please file a separate issue for the MP4 seeking issue (2).

[2018-02-21 08:24] andrewlewis commented on #3473
@saiyamd Which specific test is failing? Is the decoder propagating the end of stream buffer correctly? If you file a new issue with the output of `adb bugreport` we can take a look.

[2018-02-21 08:26] andrewlewis commented on #3872
Please could you provide a full bug report as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE)?

[2018-02-21 08:33] andrewlewis commented on #3869
There's probably an issue with the encoding in the file. @AquilesCanta has kindly offered to take a look at that.

Even with the right encoding, RTL captions might not still render perfectly; see #2194.

Please have a look at `SubtitleView` for customizing the text size. If you're using `SimpleExoPlayerView` you can access this using `getSubtitleView`.

[2018-02-21 08:36] andrewlewis commented on #3871
As #3869 has the SRT file linked let's continue to use that issue to track this.

[2018-02-21 08:36] #3871 closed, assigned to andrewlewis

[2018-02-21 08:37] andrewlewis commented on #3859
We'll look into setting this up.

[2018-02-21 09:44] andrewlewis commented on #3870
By default `SimpleExoPlayerView` will show video frames in a `SurfaceView`. Because of the way `SurfaceView` works, if you set a non-opaque alpha value it will just show up as a black rectangle. So possibly what's going on is that the player really has rendered at a frame at the point when it becomes ready, but it gets shown as a black rectangle because the transition tries to make the `SurfaceVie

[2018-02-21 09:44] #3870 closed, assigned to andrewlewis

[2018-02-21 09:52] ojw28 commented on #3780
* Note that for the specific case where audio and video are encrypted with separate keys, you can enable support by setting `multiSession = true` when instantiating [DefaultDrmSessionManager](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.html#DefaultDrmSessionManager-java.util.UUID-com.google.android.exoplayer2.drm.ExoMediaDrm-com.googl

[2018-02-21 10:00] andrewlewis commented on #3867
#474 tracks adding support for HLS trick play but I don't think we're planning to implement this soon.

[2018-02-21 10:00] #3867 closed, assigned to andrewlewis

[2018-02-21 10:07] ojw28 commented on #3872
This is related to #3780, although keeping it as separate issue because this one relates specifically to offline. Some notes that should help clarify the current situation:

* The existing ExoPlayer implementation can already support multi-key content, both within and across adaptation sets, without the need to set `multiSession = true` when instantiating a `DefaultDrmSessionManager`, and for both

[2018-02-21 10:24] erdemguven commented on #2643
@FD- CacheUtils can be used to download any single content, ProgressiveDownloader uses it to download progressive streams. To download adaptive streams, you need to use Downloaders which handles multiple segments in the stream automatically. You can also use DownloadService for background downloads. DownloadService uses DownloadManager which handles multiple downloads and continue download when th

[2018-02-21 10:49] AquilesCanta commented on #3869
Hello @iToxicDeveloper, have you managed to successfully play the subtitles play with any player?

As @andrewlewis correctly points out, the encoding seems to be windows-1256 but ExoPlayer uses UTF-8 by default. Please try re-encoding your file (I managed to do it using iconv, on linux) and let us know if it works out correctly.

If you need to do this conversion client-side for your app, you migh

[2018-02-21 11:32] tamimattafi commented on #3869
Thank you so much @AquilesCanta and @andrewlewis 👍

[2018-02-21 11:40] michelecorrea3 opened #3874 "How to display ads of previous player"
Hi!

My app:
I have an app that consists of a screen with a list of players with ads. (I am using RecyclerView).
When the user scrolls the main screen and a video was playing, I display this video in a smaller player at the bottom of the screen (like youtube).

To display the smaller video, I create a new player and update it with content position of previous player.

My problem:
When the user scr

[2018-02-21 11:44] #3869 closed, assigned to AquilesCanta

[2018-02-21 11:47] andrewlewis commented on #3874
Are you definitely using exactly the same `ImaAdsLoader` instance when creating the `AdsMediaSource` that is played in the new player? It's also important that the old player is released before creating the new one. I think this should just work, as the situation is very similar to background/resuming a player while playing ads.

[2018-02-21 12:12] tonihei commented on #3852
I'd suggest to ask general NDK building questions on Stackoverflow or similar sites as this is beyond the scope of this issue tracker. You might also be able to ask @Crossady who seemed to have managed to build the extensions on Windows (#3127).

[2018-02-21 12:21] tonihei commented on #3855
Please have a look at our [developer guide](http://google.github.io/ExoPlayer/guide.html) for the steps to setup a player and load media. You can also check our [demo app](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L365). ExoPlayer takes care of all the server connections, which exact bytes to fetch, how to de

[2018-02-21 12:27] tonihei commented on #3849
Yes, that is what I was trying to say: Whenever we seek to a position, we start decoding from the last I frame (which I called sync point), decode all the following dependent frames until the position we actually seeked to.

Aside: We recently added s[eek parameters](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L243) allowi

[2018-02-21 12:29] #3789 closed, assigned to andrewlewis

[2018-02-21 12:30] andrewlewis commented on #3718
Is the incorrect ad progress equal to the duration of the content? Does the postroll ad actually play?

[2018-02-21 12:36] michelecorrea3 commented on #3874
It was the same ImaAdsLoader, but I wasn't releasing the old player before creating the new one. I released and it worked! Thank you so much :)

[2018-02-21 12:49] VMAXSDK commented on #3718
Please find the comment inline
Is the incorrect ad progress equal to the duration of the content?
=> yes
Does the postroll ad actually play?
=> yes, the postroll ad is getting played

[2018-02-21 13:09] andrewlewis commented on #3718
I tried to reproduce this but saw that the player position in the ad was returned as expected. Please could you try again on `dev-v2` and check you still see the same problem? Thanks.

[2018-02-21 13:10] andrewlewis commented on #3874
Glad to hear it works!

[2018-02-21 13:10] #3874 closed, assigned to andrewlewis

[2018-02-21 13:32] spaul13 commented on #3849
But suppose if I recently decoded the position, it should be in the decoder memory.
Suppose I have a **I1P2P3P4 I2P5P6P7** (I and P frames) suppose I just decoded P4 and then I enter into the next GOP and decode P7 from I2. If I again need frame_id P4 corresponding to I1 what I need to do start from I1? Although I have the decoded frame 4 for P4 in the memory stored.

Can u please tell me what dec

[2018-02-21 13:40] tonihei commented on #3849
We will indeed start decoding again from I1. In most cases, playback will just continue forward and thus it would be very wasteful to keep the decoded frames.

[2018-02-21 13:43] spaul13 commented on #3849
Just have a query in mind, does ijkplayer also do in the same fashion starting from I1 similarly like exoplayer?

can u tell me how to define the video buffer size for the decoder here?

[2018-02-21 13:50] tonihei commented on #3849
I'd suggest asking questions about ijkplayer on their page (looks like you already did that).

For detailed implementation questions, please also look at our code. This issue tracker is mostly for answering questions about how to use ExoPlayer. For general video playback questions, you are probably better off using Stackoverflow.

[2018-02-21 16:23] nilac8991 opened #3875 "ExoPlayer: Handle Socket Exception Timeout"
Hello, I was searching all over Google for an already answer but I think there's none of them.
There's a situation with an FM stream which in some cases it goes in Time out, my simple question, is there a way to handle this specific exception?

Thank you, and if more informations are needed I am right here :)

Edit. I already tried using the listener for the error events but it doesn't recognise i

[2018-02-21 16:54] bagage opened #3876 "Pause player after item change with ConcatenatingMediaSource"
### Issue description

While playing videos from a ConcatenatingMediaSource playlist, I would like the player to pause automatically at the start of a new item eg. not automatically playing it.

Using the demo application, I modified onPositionDiscontinuity function to detect current item change and pause the player:

[code]

While this code pauses the player, it does not clear the surface view us

[2018-02-21 17:06] andrewlewis commented on #3841
Just a quick update on this:

The short pause just after starting playback seems to be caused ExoPlayer's derived audio track position not increasing smoothly. For example, in one playback I saw the video renderer showing a frame for about 100 ms rather than the expected 33 ms because the player position did not increase for 100 ms. This was due to the internal audio track position going backwards

[2018-02-21 19:36] FD- opened #3877 "Downloading Live Streams"
As an addition to the newly introduced `Downloader`s for HLS, DASH and SS, it would be great if these were also able to download / cache live streams. This would allow to save excerpts from the stream for later playback, kind of like a recording functionality works for DVRs.

Given the flexible nature of the `Cache`, I would assume the main difference to the existing `SegmentDownloader`s would be

[2018-02-21 19:41] FD- commented on #2643
@erdemguven Thanks for the clarification! I managed to implement caching for HLS and DASH. For selecting a subset of available qualities I use HlsPlaylistParser and DashManifestParser to parse the manifests, then select qualities. For later only playing the cached qualities, I use custom parsers that filter the manifest using the copy() function. Works great!

One thing I'd love to see supported i

[2018-02-21 21:26] b77x opened #3878 "DefaultHttpDataSourceFactory RequestProperties does not allow setting "known" headers"
I found a method to change headers ExoPlayer sends using this code

[code]
This works just fine, however using a header like "ACCEPT_LANGUAGE" does not change anything when sending the request.

Why is this, and what can I do?

[2018-02-21 21:34] okaymak commented on #3790
Issue updated and bugreport sent by email.

[2018-02-21 22:15] jclova commented on #2882
Really hoping to see the seekTo() options for us to choose:
1. Accurate/slow seek
2. To nearest keyframe/fast seek.

[2018-02-21 22:18] ojw28 commented on #2882
This is supported for all media types except HLS in 2.7.0, which will be released shortly, via `ExoPlayer.setSeekParameters`.

[2018-02-21 22:22] ojw28 commented on #3878
Just to clarify, if you're specifying it as a string constant it should be "Accept-Language" rather than "ACCEPT_LANGUAGE", right?

[2018-02-21 22:56] mmbahaa commented on #3841
Thanks @andrewlewis  for the update. I also had the same assumption as you. When I was debugging this issue, this sudden change in time came down to audioTimestamp.nanoTime. Maybe the platform's getTimestamp is unstable during warmup? Smoothing position updates is a good idea, however, I'm wondering if this will be scalable to many devices because - as you said - the behaviour varies.
You probably

[2018-02-21 23:19] b77x commented on #3878
That was the issue, thank you.

[2018-02-21 23:19] #3878 closed, assigned to nobody

[2018-02-22 05:20] vinayjoglekar opened #3879 "void com.google.ads.interactivemedia.v3.api.AdsManager.resume() nullpointer exception"
Hi Team,
 When pre roll ad is playing and app goes in background and comes back in foreground, app crashes. Here is the stack trace.

`FATAL EXCEPTION: main Process:
PID: 22373 java.lang.NullPointerException: Attempt to invoke interface method 'void com.google.ads.interactivemedia.v3.api.AdsManager.resume()' on a null object reference at com.google.android.exoplayer2.ext.ima.ImaAdsLoader.attachPla

[2018-02-22 05:23] akurni commented on #3829
Here is the new bugreport when the frame freezes.

[bugreport.txt](https://github.com/google/ExoPlayer/files/1746691/bugreport.txt)

The app seems to be running normally, except the videoview.  When it freezes the video stops playing and it just stuck on the same frame.

[2018-02-22 07:00] VMAXSDK commented on #3718
Yes, it's working fine on dev-v2, but when we reported the issue it was from release -v2.

[2018-02-22 07:40] pi-andrei commented on #3780
Thanks for reply, multiple keys obtaining now works indeed.

[2018-02-22 08:49] andrewlewis commented on #3718
If it's fixed on `dev-v2` it should make it into the next release. Thanks.

[2018-02-22 08:49] #3718 closed, assigned to andrewlewis

[2018-02-22 09:03] andrewlewis commented on #3879
Which ExoPlayer version are you using? I can't see a path where we fail to load ads (meaning that the ads manager is null) but IMA has paused content, which would trigger this error. I can't reproduce this issue in the demo app.

If you can reproduce this issue please could you set the `DEBUG` constant in `ImaAdsLoader` to true, reproduce the issue, then take a bug report with `adb bugreport`? Tha

[2018-02-22 09:20] ankuradhikari08 commented on #3848
i also face same problem. is compatible_brands: isomiso2avc1mp41 creating any issue ??

[2018-02-22 09:23] tonihei commented on #3848
Just to iterate what I said above: Please send us an example media file and reproduction steps for the bug in our demo app to allow us to take a closer look.

[2018-02-22 10:45] andrewlewis commented on #3876
#3773 is related. The problem with using the event listener is that there is no way to ensure the request to pause in your event listener is handled while the first frame of the new playlist item is showing.

If stopping at approximately the right frame is fine, your solution of pausing the player on position discontinuity looks fine, but I think there's no guarantee that the video renderer will h

[2018-02-22 11:22] andrewlewis commented on #3875
Does this not get notified via `onPlayerError` in an `ExoPlaybackException` with `TYPE_SOURCE`?

If you want to get notifications about every load error without waiting for retrying, you can also set an event listener directly on the `ExtractorMediaSource` via `ExtractorMediaSource.Factory.createMediaSource(uri, eventHandler, eventListener)`.

[2018-02-22 11:24] tonihei commented on #3829
Unfortunately, the bug report still doesn't show any obvious error. There are some minor oddities which are most likely not relevant:
 - There are 4 loader thread for ExtractorMediaPeriods. Only one of them is active, the others may not have shut down completely from previous players.
- There are multiple activities in your app which use SimpleExoPlayerView, but there is only one player. Also unli

[2018-02-22 11:52] vinayjoglekar commented on #3879
I am using both exoplayer and IMAextension having version 2.6.1. I can''t really access ImaAdsLoader class as I am calling lib from gradle.

[2018-02-22 11:55] nilac8991 commented on #3875
No, it wasn't handled it just gave the exception but I will try the method you gave in a while and report back,
Thanks!

[2018-02-22 12:22] andrewlewis commented on #3879
When do you release the `ImaAdsLoader`? Is it possible that you're releasing it then preparing the player with an `AdsMediaSource` pointing to the released ads loader?

[2018-02-22 12:55] Toffor opened #3883 "Cache mp3 with encryption throws ParseException."
First of all thanks for this great library. I am using version 2.6.0 and tried to implement cache with encryption while listening media. I tried the example code in here https://github.com/google/ExoPlayer/issues/2467#issuecomment-281119679
And my code like below

[code]

And this is sample mp3
https://archive.org/download/Mp3Playlist_555/AaronNeville-CrazyLove.mp3

If i use okHttpDataSourceFactor

[2018-02-22 13:41] nilac8991 commented on #3875
Nope, @andrewlewis  I tried and it still crash :/  no events are displayed so the listener isn't mapping this exception or I am doing something wrong maybe...

[2018-02-22 13:53] ojw28 commented on #3875
A stack trace being logged does not indicate a crash (there is nothing in this issue that suggests your process is crashing). This type of error should definitely be reported to any listeners that you've registered on the player instance, via `Player.EventListener.onPlayerError`.

[2018-02-22 14:29] andrewlewis commented on #3862
If the goal is to rotate the video output only, you could use a `TextureView` (e.g., by setting `app:surface_type="texture_view"` if you're using `SimpleExoPlayerView`) and set a transform matrix using [`setTransform`](https://developer.android.com/reference/android/view/TextureView.html#setTransform(android.graphics.Matrix)). If you're trying to do something different please elaborate. Thanks!

[2018-02-22 14:49] andrewlewis commented on #3883
It looks a new `SimpleCache` is being created every time `createDataSource` is called, whereas the linked issue uses the same instance on each invocation.

[2018-02-22 14:53] danielgimenes opened #3884 "ExoPlayer slow when setting playback speed on some devices"
I've managed to use SimpleExoPlayer to play HLS streams successfully and implemented a working way of selecting different playback speeds (1.25x, 1.5x, etc) by setting PlaybackParameters on the player. But in some devices, when I select any playback speed different than 1x, the player starts to skip a lot of frames and audio becomes a little distorted.

On the ExoPlayer release notes of 2.6.0 it s

[2018-02-22 14:56] andrewlewis commented on #3884
Please see ["Why doesn’t setPlaybackParameters work properly on some devices?"](https://google.github.io/ExoPlayer/faqs.html#why-doesnt-setplaybackparameters-work-properly-on-some-devices) and also https://github.com/google/ExoPlayer/issues/26#issuecomment-296133260.

[2018-02-22 15:07] guraymumun94 opened #3885 "MP4 live stream video from server not playing but MP2 playing in exoplayer"
I want to play mp4 live stream videos from my server but i cant and there is no errors. At the same time i can play mp3 live stream videos from same server. I'm using exoplayer 2.7.0.
This is my code:

        BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory videoTrackSelectionFactory = new
        AdaptiveTrackSelection.Factory(bandwidthMeter);
        T

[2018-02-22 16:42] tamimattafi opened #3886 "Switch between subtitles - SingleSampleMediaSource (2.6.1)"
i have a dialog that changes the subtitles language. i want to be able to do that during the video . i tried to recreate the whole media source of the video but it restarts the video instantly.

- **Here's my subtitles SingleSampleMediaSource** : `textMediaSource = new SingleSampleMediaSource.Factory(dataSourceFactory)
                .createMediaSource(Uri.parse(getSelectedSub(getSubLanguage())),

[2018-02-22 17:08] bshellenberg commented on #3825
I awaited 2.7.0 to see if any changes would fix this issue, but to no avail. Text from adb logcat when playing a video that causes the crash:

02-22 08:49:46.357 W/ALooperRoster( 1340): ALooper::handler_id ALooperRoster::registerHandler 6
02-22 08:49:46.357 W/ALooperRoster( 1340): ALooper::handler_id ALooperRoster::registerHandler 7
02-22 08:49:46.367 W/OmxLogConf(  138): Can not read property med

[2018-02-22 17:10] bshellenberg commented on #3825
I asked about the hide/show since it seems that does something to perhaps reset a buffer or a state somewhere that stops this from happening. Again, the application is a simple one. Play (as an example) 10 video files stored locally on the device in succession, then repeat over and over. If the sequence of videos is 2 videos, it does not crash. If I add a third, it crashes. Platform bug perhaps? I

[2018-02-22 17:12] andrewlewis commented on #3825
Are you calling `exoplayer.release()` somewhere? It looks like something is leaking and causing memory to run out.

[2018-02-22 17:18] bshellenberg commented on #3825
only when the application is finished. is it necessary to do so even when the object remains in use?

[2018-02-22 17:23] andrewlewis commented on #3825
No. I thought you were making a new player but actually you're just re-preparing it with a new source which should be fine.

Can you reproduce the failure on any other devices?

[2018-02-22 17:25] andrewlewis commented on #3825
Also, please could you post a bug report taken just after reproducing the crash? bugreport1.zip doesn't seem to include the logging above.

[2018-02-22 17:44] bshellenberg commented on #3825
I just checked on another device, and it runs without error. So likely a platform issue. I will upload another bug report shortly.

[2018-02-22 17:56] bshellenberg commented on #3825
[bugreport2.zip](https://github.com/google/ExoPlayer/files/1748990/bugreport2.zip)

[2018-02-22 17:57] bshellenberg commented on #3825
Taken right after the crash.

[2018-02-22 19:02] danielgimenes commented on #3884
The release version worked perfectly.

Thank you for the quick response

[2018-02-22 20:26] ebr11 commented on #3845
I have discovered this problem may not be limited to HD audio as I have now seen other items get stuck in this condition.

[2018-02-22 21:29] noamtamim commented on #3835
Hi @tonihei and @ojw28, thank you for fixing this issue.
I want to express my concerns about the "device-specific workaround" approach.
What we did (I work with @AntonAFA) is the following:
- A customer has reported this issue on Moto C+ and Lenovo K4 Note
- We wanted to reproduce the issue locally, so we looked online for devices we can buy that have the same chipset as those devices (MT6737 and

[2018-02-23 02:04] rajab57 opened #3888 "Exception with ClippingMediaSource on encrypted HLS"
### Issue description
Exception for a clipped  HLS Video with AES-128 encryption.
When playing as a mediaSource, the video plays fine, but when clipped using ClippingMediaSource throws an exception
[code]
### Reproduction steps

MediaSource mediaSource = new ClippingMediaSource(mediaSources[0], 5000000, 25000000, true); Made this change in PlayerActivity.java in the Exoplayer demo app

### Version

[2018-02-23 04:15] aatish1989 opened #3889 "Wrong segment of video getting played in HLS."
**Issue Description :-**
I am using CacheDataSourceFactory for disk caching the video chunks. Intermittently I am seeing wrong video chunks are getting played. If I remove caching layer its working fine.

**Version of ExoPlayer being used:**
2.6.1

[2018-02-23 04:19] aatish1989 commented on #3889
Sometime I am playing same url in two different videos views. Can it be because of that?

[2018-02-23 05:37] Toffor commented on #3883
Thanks for response, i did simple cache final and deleted app from emulator.

`    private val simpleCache = SimpleCache(cacheDir(), cacheEvictor)
`
When ı run app, first i take this error.
-----------------------------------------------------------------------------------------------------
E/ExoPlayerImplInternal: Source error.

[2018-02-23 07:40] nilac8991 commented on #3875
Yeah sorry was intending exception not crash (Don't know why I wrote that), anyway I rewrote the entire service where the ExoPlayer instance was present and now everything works fine as it should so for sure I was doing something wrong.
Thanks for your help guys, really appreciated!

[2018-02-23 07:40] #3875 closed, assigned to andrewlewis

[2018-02-23 08:15] vishal105 opened #3890 "Encrypted video play"
How to play encrypted video in Exoplayer?

I used AES/ECB/Nopadding encryption
I tried below code for playing file

DATA SOURCE CODE

DataSource.Factory factory = new DataSource.Factory() {
            @Override
            public DataSource createDataSource() {
                DataSource dataSource = new EncryptedFileDataSource(finalCipher, new TransferListener<EncryptedFileDataSource>() {

[2018-02-23 08:23] #3884 closed, assigned to andrewlewis

[2018-02-23 11:29] vinoth56060 opened #3891 "Facing incorrect Duration with Exo Player player.getCurrentPosition function"
Hi Team,

We have an app where we use Exo Player Version: 1.5.12.

With the above mentioned player in order to get the exact duration of the content consumption we use player.getCurrentPosition function of the player.

Here we are facing issue with this function as at times we are getting random values from this function (for ex., 97391 seconds) instead of 30 seconds when user pause the video.

He

[2018-02-23 11:33] vishal105 commented on #3891
try to update player library and check it. it solved in 2.7.0 version.

[2018-02-23 11:40] quiKsilverItaly opened #3892 "Using .mp4 videos and .mp3 for HLS"
Hey there.
Sorry for my low level question, but I am just getting into the videoplayer subject.

After some research I decided to use Exoplayer for HLS on Android.
I am getting .mp4 and .mp3 files from web, which I want to stream as HLS.

As far I know I need to convert .mp4 to for example to .fmp4? Is that right? And does this even make sense? Thinking about it, it makes sense, when the backend p

[2018-02-23 13:04] vinoth56060 commented on #3891
I have checked the release notes for version 2.7.0 , but i couldn't find the solution for this issue in release notes, please highlight the solution for this issue if it is there in release notes or if anyone have any supporting doc related to this issue share the link.

[2018-02-23 14:40] vishal105 commented on #3891
Did you check in project?  try this https://github.com/vishal105/ExoPlayerSample

[2018-02-23 22:44] jclova opened #3894 "Does ExoPlayer have the OnSeekCompleteListener?"
MediaPlayer class has the OnSeekCompleteListener.

If not, I can work around it by checking the current position got updated or not after seeking.
For the cleanliness of my code, I was looking for the OnSeekCompleteListener but could not find it.

Does ExoPlayer not have the listener or I am just not finding it?

[2018-02-23 23:25] ghost commented on #3894
It's in Player.EventListener, there is a method called onSeekProcessed().

[2018-02-24 04:42] enginebai commented on #3826
## Expected behavior
Hi, we're still developing the same feature: feed as same as the above description, and to fix the multiple duplicate requests problem.

## Implementation
We initialize a player list with a fixed size (default = 4), when the user scrolls the feed, the callback `RecyclerView.onViewAttachedToWindow(FeedViewHolder holder)` is called, we perform the following tasks:

1. Try to get

[2018-02-24 04:45] enginebai commented on #3826
## Expected behavior
Hi, we're still developing the same feature: feed as same as the above description, and to fix the multiple duplicate requests problem.

## Implementation
We initialize a player list with a fixed size (default = 4), when the user scrolls the feed, the callback `RecyclerView.onViewAttachedToWindow(FeedViewHolder holder)` is called, we perform the following tasks:

1. Try to get

[2018-02-24 23:35] clhols opened #3895 "Exception when rewinding due to negative playback speed"
I am using the Live Channels Android TV app and ExoPlayer 2.7.0.

When I start playback of a recording and press the rewind button, I get the following error:

D/BaseTvInputService: Set playback speed to -2.0 and pitch 1.0
D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
    java.lang.IllegalArgumentException
        at com.google.android.exoplayer2.util.Assertions.checkA

[2018-02-25 05:18] guraymumun94 commented on #3885
Any suggestions?

[2018-02-25 10:52] saschpe opened #3896 "ExoPlayerImplInternal: Internal runtime error. in MediaCodec.native_dequeueInputBuffer"
### Issue description
[code]
### Link to test content
http://ice3.somafm.com/defcon-32-aac

### Version of ExoPlayer being used
2.6.1

### Device(s) and version(s) of Android being used
Emulator, API 27, x86.

### A full bug report captured from the device
[bugreport-sdk_gphone_x86-OSM1.180201.007-2018-02-25-11-50-10.zip](https://github.com/google/ExoPlayer/files/1755901/bugreport-sdk_gphone_x86-O

[2018-02-25 11:59] ojw28 commented on #3892
How to prepare media for delivery is a bit out of the scope of this issue tracker. Lots of information about preparing HLS content for delivery can be found [here](https://developer.apple.com/streaming/). Else, StackOverflow is probably a better place to ask this type of question.

[2018-02-25 11:59] #3892 closed, assigned to ojw28

[2018-02-25 13:07] ojw28 commented on #3895
ExoPlayer doesn't support negative playback speeds, so this is working as intended from the point of view of the library.

I'm a bit confused as to what you're doing. Are you taking the Live Channels source code and trying to update the version of ExoPlayer used? If so, it feels like this is an issue with how you've performed the update. I have a feeling Live Channels app uses a customized version

[2018-02-25 13:33] ojw28 commented on #3886
The solution is to merge all of the subtitle sources with a single `MergingMediaSource`, like the final line of code shown above. You should then be able to switch between them during playback.

The demo app's `TrackSelectionHelper` class demonstrates how to build a UI for switching between the tracks during playback. Programmatically you can switch during playback by calling
`DefaultTrackSelector

[2018-02-25 13:38] Tolriq commented on #3886
@ojw28 When using MergingMediaSource is there any access to the subtitles before selecting them?

[2018-02-25 16:01] Anmolk22 opened #3897 "MPD file not working"
It's not an issue but I am trying to figure out why the exoplayer is not able to stream using the MPD file when I am directly putting the link to the videofile it seems to be streaming. I've attached the attachment containg both the code I am using to stream as well as the sample mpd file.

When using the mpd file I am getting the below exception

`Source error.

[2018-02-25 16:35] tamimattafi commented on #3886
@ojw28 Thank you , I'm going to take a look on the demo app's files. let's assume that we have an .mkv video with an embedded subtitles file. is it possible to switch to other subtitle files from the `MergingMediaSource`? or just hide the embedded one and show up the custom ones from your `MediaSource`?

[2018-02-25 16:52] ojw28 commented on #3886
@iToxicDeveloper - If you have an MKV with embedded subtitles, and use MergingMediaSource to merge with external subtitles, then it will be possible to switch between all of the embedded and non-embedded subtitles. The only thing that's not easy to do is enable multiple tracks simultaneously.
@Tolriq - What do you mean by "access"? The track selector will tell you the track is available, but there

[2018-02-25 16:54] ojw28 commented on #3897
You should be using `DashMediaSource` instead of `ExtractorMediaSource` when playing DASH streams.

[2018-02-25 16:54] #3897 closed, assigned to ojw28

[2018-02-25 16:57] ojw28 commented on #3885
Without a link to some media that we can use to reproduce the issue, there is nothing we can do to help. Please provide one if you wish for us to help further. Thanks!

[2018-02-25 16:59] ojw28 commented on #3891
As you note, 1.5.12 is very old. If the issue is fixed in 2.7.0 then this is no longer an issue. I'm not sure exactly when the issue was fixed. If you're sufficiently motivated to find out, you could binary search of releases between 1.5.12 and 2.7.0 to find out.

[2018-02-25 16:59] #3891 closed, assigned to ojw28

[2018-02-25 17:16] ojw28 commented on #3888
This happens when the HLS media playlists contain a `EXT-X-PROGRAM-DATE-TIME`, and is a result of restrictions that `ClippingMediaSource` has around what type of content it's able to clip.

@andrewlewis - I wonder whether it would be possible to relax the `ClippingMediaSource` requirement that the single period needs to start at the beginning of its parent window? Also, should we set message on `I

[2018-02-25 17:19] ojw28 commented on #3889
We did fix a potential caching issue in `2.7.0`, so please try upgrading. Please also ensure you only have one `SimpleCache` instance pointing to a given cache directory. It's OK to have multiple `CacheDataSource` instances sharing the same `SimpleCache` instance, but it's not OK to have multiple `SimpleCache` instances accessing the same cache directory.

When trying out these suggestions, please

[2018-02-25 17:25] ojw28 commented on #3883
Please make sure you've erased the cache directory, since it may have incorrect data as a result of the previous bug in your code. The easiest way is probably to restart the emulator. Uninstalling may or may not have been sufficient, depending on where the cache directory was being placed on the device.

If you're still having issues then you'd probably be best off trying to start with our demo ap

[2018-02-25 17:25] #3883 closed, assigned to andrewlewis

[2018-02-25 17:39] Anmolk22 commented on #3897
@ojw28 Yes I've updated the code accordingly but I am getting the below mentioned error. Thanks for the quick reply I've checked with the samply urls from the explayer demos assets sample urls and it has started working. So, I think the issue is with the MPD file.

[code]

[2018-02-25 17:43] tamimattafi commented on #3886
@ojw28 Thank you so much for your time, I've been looking at `TrackSelectionHelper` class in the demo app, i also checked this question #2343.. but i haven't really seen something similar to `DefaultTrackSelector.setSelectionOverride`. could you please point me to a question or a simplified example on how can i use the `TrackSelector` to switch between my subtitles using my custom dialog. i know y

[2018-02-25 18:10] Tolriq commented on #3886
@ojw28 Well I'm not there yet but some subtitles will be transcoded from a source, so if by adding them to the MergingMediaSource it triggers an access when the video is started even if that track is not yet selected it will generate unwanted transcoding. Just want to be sure before going that road when adding video support.

[2018-02-25 18:20] ojw28 commented on #3897
Yes, that looks like a problem with the manifest.

[2018-02-25 18:21] FelixMittermeier opened #3898 "No sound on Android 5"
### Issue description
I want to play an audio file, which is stored on my server. It works just perfect on newer Android Versions like 7.1.2 etc., but on Android 5 there is absolutely no sound. Tried on different devices, but same issue.

### Reproduction steps
Code for playing audio file:
[code]
### Link to test content
https:/felix-mittermeier.de/storyban/voice/1.mp3

### Version of ExoPlayer be

[2018-02-25 19:06] ojw28 commented on #3886
@Tolriq - MergingMediaSource wont request the subtitle streams being merged unless they're actually selected, so you should be fine.
@iToxicDeveloper - The demo app's `TrackSelectionHelper` calls `setSelectionOverride` [here](https://github.com/google/ExoPlayer/blob/r2.7.0/demos/main/src/main/java/com/google/android/exoplayer2/demo/TrackSelectionHelper.java#L211), and it's this line of code execut

[2018-02-25 19:58] ojw28 commented on #3890
Ultimately, if whatever code you're using to load the media correctly implements ExoPlayer's `DataSource` interface, then content should/will play correctly. Your issue is probably with `EncryptedFileDataSource`, but since this isn't part of the ExoPlayer library it's not something we can really help with. You'll have to ask the author of that class for assistance.

The only type of encryption we

[2018-02-25 19:58] #3890 closed, assigned to nobody

[2018-02-25 20:25] ojw28 commented on #3835
We agree that the current approach isn't doing a good job of targeting all affected devices. Although on the plus side, it's likely that we're targeting the popular ones; there are probably quite a lot of devices that barely anyone is using.

An approach that targets the chipset would be preferable, but I'm not sure how to do that. I don't think there's anything suitable in [Build](https://develop

[2018-02-25 20:32] ojw28 commented on #3883
Restarting an emulator apparently doesn't wipe data. There's a wipe data option if you right click on the virtual device in the Android Virtual Device Manager section of Android Studio.

[2018-02-26 01:20] eneim opened #3899 "No config update for Formatter in DefaultTimeBar when config change?"
This is rather a question than a issue report, although if this is unexpected, it should be an issue.

As I see in the implementation of **DefaultTimeBar**, there is a **Formatter** in used, it is final, and initialized with default Locale. The concern is: when application's config change, this formatter is not updated, in fact, as it is a final member it will not be re-initialized on such event (

[2018-02-26 05:31] genxstylez commented on #3826
@AquilesCanta We continue to find problems stated above, can you help out? Thanks :)

[2018-02-26 07:08] Toffor commented on #3883
I fetched demo application and take a sample code from cache test and i found the problem. I debugged deeply and i discovered that i should provide a scratch space for AesChipperDataSink.

I change this code block with,

`        val aesCipherDataSink = AesCipherDataSink(secret, CacheDataSink(simpleCache, Long.MAX_VALUE))
`

this one

`val scratch = ByteArray(3897)
        val aesCipherDataSink =

[2018-02-26 07:51] sodiqOladeni opened #3901 "Update PlayerView document to warn about textureview needs hardware acceleration"
I need to display video in recyclerview so i used ToroPlayer which was built on  Exoplayer to play video in recyclerview, but the video is playing but it's not showing the video to the screen, i can only see blank and black screen playing sound. i have logged the issue in ToroPlayer repo and we have troubleshooted the issue together and we later concluded on the capability of Exoplayer on the devi

[2018-02-26 09:44] saiyamd opened #3902 "Multiple GTS tests failure on Freescale platform running Android 7.1.1"
### Issue description
I am running GTS test suite on Freescale i.MX6 (armeabi-v7a) based device running Android 7.1.1. In "GtsExoPlayerTestCases" module total 12 tests are failing out of 33 and for failed tests the reason is similar as described below.

[code]

### Reproduction steps
Running GTS_5.1_r2_4507047 from host and executing specific tests described as above.

### Link to test content
Def

[2018-02-26 09:49] saiyamd commented on #3445
Hello @ojw28, I am facing a similar issue, please check https://github.com/google/ExoPlayer/issues/3902. Is there any resolution for this? Our device is running Android 7.1.1 on Freescale i.MX6 platform.

[2018-02-26 10:27] guraymumun94 commented on #3885
Try this MP4 live stream link: [http://94.236.208.171:40668/udp/239.100.200.2:25000](http://94.236.208.171:40668/udp/239.100.200.2:25000)

[2018-02-26 10:51] noamtamim commented on #3835
Hi @ojw28,

From [what I found](https://stackoverflow.com/questions/35030050/how-to-detect-the-chipset-in-android-device), the best (read: least bad) source of the chipset id is `android.os.SystemProperties.get("ro.board.platform")` (a private API, which is why it's bad). For the Meizu M5c it gives me `mt6737m`.

I don't know why the extra "m"; probably a variant.

I'd read it into a static final

[2018-02-26 11:37] erdemguven commented on #3896
I couldn't download the linked media. Please email it to dev.exoplayer@gmail.com. Thanks.

[2018-02-26 12:32] erdemguven commented on #3898
Please try the latest code on dev-v2 branch and let us know if it makes any difference. I tried the test content with the latest code and it plays fine both on Android 5 device and emulator.

[2018-02-26 12:36] ojw28 commented on #3835
I requested an `android.os.Build.CHIPSET` constant, but I'm not sure whether the platform team will be keen on adding one [Internal ref: b/73874594].

We'll have a think about how we can do this better (not hugely keen on a private API, but it can be considered).

[2018-02-26 12:39] ArunkarthickNallasamy opened #3903 "How to add chapter markers?"
Hi,
 I would like to know how to add chapter markers on Exoplayer. The use case here is we will have a search in our app and search results will contain position of search text (Which will be location of search text from video) it has to be marked on exoplayer just like how we do for Ad's position. Any help?

[2018-02-26 12:42] erdemguven commented on #3899
I guess the same questions apply to PlayerControlView.

[2018-02-26 12:46] erdemguven commented on #3901
Please test your content using the latest ExoPlayer demo app on your device. If the issue continues, please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-02-26 12:54] saiyamd commented on #3473
@andrewlewis - Please check, issue created - https://github.com/google/ExoPlayer/issues/3902

[2018-02-26 12:57] FelixMittermeier commented on #3898
Sorry for asking, but how can I load code from development branch?

Tried it like this: `compile 'com.google.android.exoplayer:exoplayer:dev-v2-r2.7.0'` but this doesn't work.

Thanks for your answer.

[2018-02-26 13:30] ojw28 commented on #3902
It sounds like there are multiple issues with the underlying platform. It's the platform manufacturer's responsibility to ensure their platform passes GTS. Have you tried reporting these issues to the platform manufacturer?

[2018-02-26 13:33] erdemguven commented on #3898
Please follow these steps: [building exoplayer Locally](https://www.google.com/url?q=https://github.com/google/ExoPlayer/blob/release-v2/README.md%23locally&sa=D&source=hangouts&ust=1519738065224000&usg=AFQjCNFYO2hbiZ6JPTHoIdeeZw0L8X4OGA)

[2018-02-26 13:40] ojw28 commented on #3899
Activities are normally recreated if the locale changes, which makes this a non-issue. The app developer would have to explicitly disable activity recreation on locale change with `configChanges=locale` in their manifest for it to be a problem, which feels like something app developers wont (or shouldn't) be doing. The user would also have to change the device locale in the first place, which seem

[2018-02-26 13:40] #3899 closed, assigned to ojw28

[2018-02-26 13:52] saiyamd commented on #3902
Hi @ojw28,

On the same platform, other tests of H264 and HEVC are getting passed and we are observing issues in above tests only. Moreover what I have observed is the audio/video plays up to end and after that test, failure is reported.

We are also in touch with NXP and awaiting a response. Moreover, I have also seen a similar issue https://github.com/google/ExoPlayer/issues/3473 on NXP platform

[2018-02-26 13:52] ojw28 commented on #3885
That is not an MP4 live stream. It's MPEG-TS. The problem is that the stream doesn't contain proper IDR keyframes. You can enable support for this type of stream manually by making a `DefaultExtractorsFactory` instance and enabling non-idr-keyframe support on it:
[code]
Then pass this factory as an explicit argument when creating your `ExtractorMediaSource`. You can pass it through the now depreca

[2018-02-26 13:52] #3885 closed, assigned to ojw28

[2018-02-26 13:54] andrewlewis commented on #3903
You might be able to use [`PlayerControlView.setExtraAdGroupMarkers`](https://github.com/google/ExoPlayer/blob/fd10a3c/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerControlView.java#L405), although these are rendered exactly like the player's ad markers. If you need more flexibility, you could provide your own `TimeBar` implementation that can render multiple sets of markers and

[2018-02-26 13:57] ojw28 commented on #3902
The platform manufacturer needs to diagnose and fix these kind of issues, however if I had to guess I'd say:

1. The first issue is indicative of a platform API call hanging.
1. The second issue is indicative of the H265 decoder incorrectly discarding away buffers internally, probably when performing adaptive switches.
1. The fourth issue is indicative of an incorrect DRM implementation/integratio

[2018-02-26 13:58] ojw28 commented on #3445
Let's use #3902 to track issues with the Freescale platform, however ultimately it's up to the platform provider to investigate and fix these problems (or explain to us why they believe our test is doing something invalid, as opposed to the platform being broken).

[2018-02-26 13:58] #3445 closed, assigned to ojw28

[2018-02-26 14:53] clhols commented on #3895
Live Channels just shows a "surface" from the player of the app delivering the content. So it uses the ExoPlayer of my app (https://github.com/clhols/drchannels) when showing content.
I tried with ExoPlayer 2.6 and it just sets playback speed to 0.2 when Live Channels tries to do negative speed but it doesn't crash.
I will try to see if I can prevent Live Channels from allowing negative playback s

[2018-02-26 14:59] ojw28 commented on #3895
So if I understand correctly, this is a bug in your application code. You're calling `setPlaybackParameters` with a negative speed, which is not supported. I guess Live Channels is requesting a negative playback speed, but there's probably nothing forcing you to pass that negative speed through to the `ExoPlayer` instance. You could do something else, for example pause the player and then schedule

[2018-02-26 15:12] FelixMittermeier commented on #3898
I did it exactly the way described, but get always the same error:

Error:Unable to resolve dependency for ':app@releaseSdk/compileClasspath': Could not resolve project :exoplayer-library-core.

But if you say it is fixed with the latest code I believe you and wait for the next official release :)

[2018-02-26 15:14] ojw28 commented on #3898
2.7.0 is identical to the current dev branch currently, so it's either going to work for both or for neither.

@erdemguven - Can we try reproducing on a Galaxy S5 to make sure this doesn't reproduce for us?

[2018-02-26 15:16] ojw28 commented on #3898
Ignore the Galaxy S5 comment; I incorrectly combined "Android 5" and "Galaxy Alpha" :). Probably worth trying to reproduce on a Galaxy Alpha, if we have one.

[2018-02-26 15:18] FelixMittermeier commented on #3898
Oh okay, then it does not work, because I am already using latest 2.7.0 version.

[2018-02-26 15:46] erdemguven commented on #3898
The log you shared has "Init ExoPlayerLib/2.4.2" line, which I think means you use 2.4.2 not 2.7.0. Please make sure you use 2.7.0 release.

Also please try to play the media using the exoplayer demo app. Once the demo app is installed on the device, you can play your media using:
`adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d https://felix-mittermeier.de/storyban/voice/1.

[2018-02-26 15:52] JesusMartinAlonso commented on #2189
@tonihei Could you provide an example of this new feature with SimpleExoPlayer? I would like to add a timed event, but I don't know what argument pass to createMessage function (target argument), because I don't have access to video renderers.

This is how I'm creating my ExoPlayer in my Activity:
[code]

And I want to add a handler when test.mp4 video reach 1500ms. Something like that:

[code]

A

[2018-02-26 16:01] tonihei commented on #2189
@JesusMartinAlonso  You can provide your own message target in there to receive the message at the specified time (see interface [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/PlayerMessage.java#L29)).

For example:
[code]

[2018-02-26 16:09] FelixMittermeier commented on #3898
A bit strange why the log above shows the old version. I just cleaned the project, rebuild everything and startet again. Same behaviour, except the log contains the latest version number: (tested on Android 5 emulator - Android 7 emulator works just fine)

02-26 16:03:55.316 2965-2965/de.mittermeier.felix.storyban I/art: Rejecting re-init on previously-failed class java.lang.Class<com.google.andro

[2018-02-26 16:24] JesusMartinAlonso commented on #2189
Thank you for your super fast response @tonihei !! It works like a charm! :)

[2018-02-26 16:30] leeprohacker commented on #3700
try and it is working     :

_private void showProgressBarAndControlToggle(boolean isShow) {
        if (isShow) {
            progressBar.setVisibility(View.VISIBLE);
            imgPlay.setImageResource(0);
            imgPause.setImageResource(0);
        } else {
            progressBar.setVisibility(View.GONE);
            imgPlay.setImageResource(R.drawable.ic_play_arrow_black_64dp);

[2018-02-26 16:30] guraymumun94 commented on #3885
It's working. Thank you!

[2018-02-26 16:42] erdemguven commented on #3898
Have you tried the demo app?

Also note the emulators were broken prior to API level 23: http://google.github.io/ExoPlayer/faqs.html#does-exoplayer-support-emulators

So it's better to test on real devices.

[2018-02-26 17:08] erdemguven commented on #3898
I tested the demo app on Samsung Galaxy Alpha and plays fine your media.

[2018-02-26 17:18] jclova commented on #3894
Thank you so much.
I was using the older version of ExoPlayer so I could not find it.

[2018-02-26 17:18] #3894 closed, assigned to erdemguven

[2018-02-26 17:43] ojw28 commented on #3732
Closed due to lack of additional information.

[2018-02-26 17:43] #3732 closed, assigned to ojw28

[2018-02-26 17:44] ojw28 commented on #3660
Closed due to lack of information.

[2018-02-26 17:44] #3660 closed, assigned to ojw28

[2018-02-26 17:44] ojw28 commented on #3759
Closed due to lack of information.

[2018-02-26 17:44] #3759 closed, assigned to ojw28

[2018-02-26 17:45] #3649 closed, assigned to ojw28

[2018-02-26 17:46] ojw28 commented on #3760
Closing on the assumption this is an issue in application code.

[2018-02-26 17:46] #3760 closed, assigned to ojw28

[2018-02-26 17:49] ojw28 commented on #3806
Closing due to lack of information.

[2018-02-26 17:49] #3806 closed, assigned to erdemguven

[2018-02-26 17:50] ojw28 commented on #3831
Closing due to lack of information.

[2018-02-26 17:50] #3831 closed, assigned to tonihei

[2018-02-26 17:51] ojw28 commented on #3781
Closing as not supported.

[2018-02-26 17:51] #3781 closed, assigned to nobody

[2018-02-26 17:51] ojw28 commented on #3642
Closing due to lack of information.

[2018-02-26 17:51] #3642 closed, assigned to andrewlewis

[2018-02-26 17:53] ojw28 commented on #3684
Closing because the issue does not contain any clear reproduction steps, which means there's nothing actionable that we can do here. If you're able to provide such steps then please do so here, and we'll reopen the issue. Also note that 2.7.0 included a whole bunch of fixes for ExoPlayer's IMA integration, so it's worth trying to upgrade to see if the issue is fixed.

[2018-02-26 17:53] #3684 closed, assigned to andrewlewis

[2018-02-26 17:54] clhols commented on #3895
Ok, thanks for the info.

[2018-02-26 17:54] #3895 closed, assigned to ojw28

[2018-02-26 18:07] FelixMittermeier commented on #3898
Hmm, I don't get it. Just send my updated app to the Galaxy Alpha user with Android 5 and there is still the same problem. Is there any difference in code between the one in the demo app and the one posted above?

[2018-02-26 18:17] andrewlewis commented on #3898
Is there a full stack trace in logcat close to `E/ExoPlayerImplInternal: Source error`? It would be useful to see the cause of the exception.

[2018-02-26 18:18] AquilesCanta commented on #3828
Closing due to lack of activity.

[2018-02-26 18:18] #3828 closed, assigned to AquilesCanta

[2018-02-26 18:19] AquilesCanta commented on #2959
Closing due to lack of activity.

[2018-02-26 18:19] #2959 closed, assigned to AquilesCanta

[2018-02-26 18:19] ojw28 commented on #3650
Closing due to lack of information.

[2018-02-26 18:19] #3650 closed, assigned to erdemguven

[2018-02-26 18:20] ojw28 commented on #3681
Closing due to lack of information.

[2018-02-26 18:20] #3681 closed, assigned to ojw28

[2018-02-26 18:21] ojw28 commented on #3316
Closing as I'm not sure there's anything actionable for us to do here. Please report the issue to AmLogic. Thanks!

[2018-02-26 18:21] #3316 closed, assigned to andrewlewis

[2018-02-26 18:22] FelixMittermeier commented on #3898
Unfortunately no, it just shows this error multiple times:
`Rejecting re-init on previously-failed class java.lang.Class<com.google.android.exoplayer2.video.MediaCodecVideoRenderer$OnFrameRenderedListenerV23>`

[2018-02-26 18:25] andrewlewis commented on #3898
The 'Rejecting re-init' logging is expected and unrelated to this.

Please could you run `adb logcat`, reproduce the error, then attach the output here?

[2018-02-26 18:26] ojw28 commented on #3734
Closing due to lack of a working test stream. Note that we've fixed quite a lot of issues with our IMA ads integration in 2.7.0, so it's worth trying to upgrade to see if that fixes it. If you're still seeing the issue and are able to provide a working test stream and concrete reproduction steps, please reply here and we'll re-open the issue.

[2018-02-26 18:26] #3734 closed, assigned to andrewlewis

[2018-02-26 18:26] #3755 closed, assigned to botaydotcom

[2018-02-26 18:28] #3680 closed, assigned to ojw28

[2018-02-26 18:29] #3849 closed, assigned to tonihei

[2018-02-26 18:29] #3855 closed, assigned to tonihei

[2018-02-26 18:31] andrewlewis commented on #3483
Closing due to inactivity. Please try again on the latest release and file a new issue with the requested information if the issue is still reproducible there.

[2018-02-26 18:31] #3483 closed, assigned to andrewlewis

[2018-02-26 18:34] ojw28 commented on #3475
I don't think we were ever able to reproduce this, and it has not been reported by any other users. Closing.

[2018-02-26 18:34] #3475 closed, assigned to andrewlewis

[2018-02-26 18:39] ojw28 commented on #3868
This is a duplicate of https://github.com/google/ExoPlayer/issues/1920.

[2018-02-26 18:39] #3868 closed, assigned to andrewlewis

[2018-02-26 18:40] ojw28 commented on #2882
2.7.0 is now released, so this is now supported except for when playing HLS content.

[2018-02-26 18:40] RafaelMagalhaesN opened #3905 "After ExoPlayer updates can't increase buffer size on DefaultLoadControl"
### Issue description
I am having a problem while increasing the buffer size of my streaming. I did all the necessary settings, using the class "DefaultLoadControl" but after version 2.6.1, even changing to any value makes no difference.

### Reproduction steps
* I put the max_buffer and min_buffer settings in the "DefaultLoadControl"
* Run the application
* Still not increasing buffer size

### L

[2018-02-26 18:46] ojw28 commented on #2939
We've made changes to do a better job of rendering video when the decoder can't keep up. These changes were first made in 2.6.0. Playback will still be choppy though. If the video decoder is too slow, that's a fairly fundamental problem that will prevent smooth playback.

Closing this issue, since it appears to be stale at this point.

[2018-02-26 18:46] #2939 closed, assigned to AquilesCanta

[2018-02-26 18:47] rajab57 commented on #3888
@ojw28
Is there documentation what the restrictions are in the content that ClippingMediaSource can clip ?

[2018-02-26 18:48] rtray commented on #3558
@ojw28 - Sorry for the delay in response.  I don't have access to buganizer and topic 70485423.  If this is still relevant, I'll take a look if you send me a link or a clue how to get access.

[2018-02-26 18:50] ojw28 commented on #3888
As per the `ClippingMediaSource` documentation [here](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/ClippingMediaSource.html):

The problem is more that it's not obvious a `HlsMediaSource` will violate this requirement when the media playlists contain `EXT-X-PROGRAM-DATE-TIME`. It's pretty hard to document this kind of thing in a clear way. We'd be better of

[2018-02-26 19:01] ojw28 commented on #1735
To answer this (very old - sorry) question with respect to ExoPlayer V2:

* In V2 implementing a custom `TrackSelection` is the mechanism by which you can provide your own adaptive format selection algorithm.
* During loading, `TrackSelector.updateSelectedTrack` is already called at every point where changing the selected format would make any difference during loading. So I'm not sure there's any

[2018-02-26 19:01] #1735 closed, assigned to AquilesCanta

[2018-02-26 19:01] FelixMittermeier commented on #3898
The 'Rejecting re-init' logging doesn't appear when everything is working - just a side note.

I can't run `adb logcat` on Android 5, because I always get this error: `Failed to get bugreportz version: 'bugreportz -v' returned '/system/bin/sh: bugreportz: not found' (code 0).
If the device does not run Android 7.0 or above, try 'adb bugreport' instead.
`

[2018-02-26 19:02] ojw28 commented on #3834
Closing due to lack of actionable information.

[2018-02-26 19:02] #3834 closed, assigned to tonihei

[2018-02-26 19:02] jclova commented on #2882
Hooray!!
Thank you so much for making the ExoPlayer awesome!

On Feb 26, 2018 1:40 PM, "ojw28" <notifications@github.com> wrote:

[2018-02-26 19:04] zsmatyas opened #3906 "CEA608 Missing Whitespaces"
I see lots of content having captions seemingly missing space characters around italic words (when Mid-Row command is used):
"He saidHELLOimmediately. (where the word HELLO is italic in the caption)

The CEA608 Standard seems to be not too clear about handling of Mid-Row Commands. Some parts mention adding a white space when processing a code, but it is quite ambiguous:

**Part 7.4 Real-Time Scrol

[2018-02-26 19:13] ojw28 commented on #3592
I think this is most likely to be caused by the different audio output paths have different latencies. Since we need to synchronize the video to the audio, if the latency of the audio output path changes, it's correct that the video should adjust itself so that it's still in sync with audio playing through the new path.

@andrewlewis has been looking a bit at audio output path latency, so might be

[2018-02-26 19:20] ojw28 commented on #3606
Closing as per my comment above (i.e. I don't think the content even supports Widevine decryption). Preparing content for delivery falls outside the scope of this issue tracker.

[2018-02-26 19:20] #3606 closed, assigned to AquilesCanta

[2018-02-26 19:23] ojw28 commented on #3699
Closing because I don't think there's much we can do in ExoPlayer. This is a platform bug, and if there is a good workaround it's not going to be ExoPlayer specific.

[2018-02-26 19:23] #3699 closed, assigned to ojw28

[2018-02-26 19:26] ojw28 commented on #3457
Marking as `wontfix` for now on the assumption that the DASH-IF guidelines will be amended.

[2018-02-26 19:29] ojw28 commented on #3840
Closing due to lack of information.

[2018-02-26 19:29] #3840 closed, assigned to tonihei

[2018-02-26 19:30] ojw28 commented on #3800
Closing since we've not received a working test stream.

[2018-02-26 19:30] #3800 closed, assigned to AquilesCanta

[2018-02-26 19:31] Anmolk22 commented on #3897
@ojw28 Thanks you soo much for your help. Just found out the cause was with the MPD file. Used Shaka Packager and it started working like a charm.

Thanks !!!

[2018-02-26 19:33] ojw28 commented on #3788
Closing due to lack of further information.

[2018-02-26 19:33] #3788 closed, assigned to ojw28

[2018-02-26 19:45] ojw28 commented on #3477
It's also worth having a play around with [setZOrderMediaOverlay](
https://developer.android.com/reference/android/view/SurfaceView.html#setZOrderMediaOverlay(boolean)) and [setZOrderOnTop](
https://developer.android.com/reference/android/view/SurfaceView.html#setZOrderOnTop(boolean)) to see if those help at all.

Closing, since this isn't an ExoPlayer specific issue. It feels like a general platf

[2018-02-26 19:45] #3477 closed, assigned to andrewlewis

[2018-02-26 19:48] ojw28 commented on #3552
@andrewlewis - Did 2.7.0 fix this?

[2018-02-26 20:19] andrewlewis commented on #3552
Yes, I think this should be fixed.

[2018-02-26 20:19] #3552 closed, assigned to andrewlewis

[2018-02-27 02:37] pmunizferreira opened #3907 "Pause/Resume download with HlsDownloader or DashDownloader"
Hi, I'm using `exoplayer2.source.hls.offline.HlsDownloader` and `exoplayer2.source.dash.offline.DashDownloader` to download videos that will be played offline later. I do not need an instance of Exoplayer at this time, just Downloader classes.
Are there ways to pause and resume the download?

A simple code to start download (working fine):
[code]
I've also tried the `exoplayer2.upstream.CacheUtil`

[2018-02-27 02:53] mdtuyen commented on #2659
Hi, I found a solution, You can edit AudioTrack.java file to use setStereoVolume insteal setVolume.
However setStereoVolume have a bug: it not work on some  android version.

https://stackoverflow.com/questions/10462364/android-audiotrack-setstereovolume-not-working

[2018-02-27 06:44] ghost opened #3908 "Can't play the flac file with Exoplayer"
Hi All,

I used this library to play the music. But when I play the flac file, it can't play and fire the errors.

E/ExoPlayerImplInternal: Source error.                                          com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor,

[2018-02-27 07:47] ChinhQT opened #3909 "Can't play the flac file."
Hi All,

I used this library to play the music. But when I play the flac file, it can't play and fire the errors.

E/ExoPlayerImplInternal: Source error. com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor,

[2018-02-27 07:47] EvanHong1 opened #3910 "Downgrading support-v4, play-services-ads library version in ima-extension"
Hi,
I am trying to use extension-ima library 2.6.1 as dependency.
In the extension library, it has
com.android.support:support-v4 27.0.0 and
com.google.android.gms:play-services-ads 11.4.2 dependency.

But as I already have support-v4 23.4.0 and play-services-ads 8.4.0 dependency in my app,
conflict occurs. But I don't want to update library version in my app for now.

So I want to resolve this co

[2018-02-27 09:41] andrewlewis commented on #3910
Looks like play-services-ads 8.4.0 is from December 2015 so won't include preloading. We haven't done any testing on that version but if you only want preroll VAST ad playback you might be fine.

[2018-02-27 09:41] #3910 closed, assigned to andrewlewis

[2018-02-27 09:45] AquilesCanta commented on #3906
I don't have full grasp of the 608 spec, so please correct me if I am wrong. As I understand it, our implementation only supports Caption Mode (Text mode is unsupported).

I agree this is the case in Text mode. But I am not convinced that

won't break other captions that assume Caption mode. It would be great to receive some insight from someone experienced in 608.

[2018-02-27 10:06] erdemguven commented on #3898
I noticed on Android 5 "https:/felix..." (single slash) fails to play but Android 8 is fine with it. Can it be the problem? Please make sure you put double slashes after http(s).

[2018-02-27 10:19] erdemguven commented on #3905
How do you check the buffer size if increased or not? Please share the code you use to create DefaultLoadControl and check the buffer size.

[2018-02-27 10:21] AquilesCanta commented on #3826
Hi, I honestly appreciate the effort put in the issue description. But it is still not clear to me yet is why this is an ExoPlayer problem. Also, I am not sure how the OkHttp cache problem mentioned above is actually related.

Which player? A single player is sending multiple requests for the same chunk? Is it possible that more than one player is being prepared with the same media? Or alternative

[2018-02-27 10:26] erdemguven commented on #3908
Please make sure you have build and included [Flac extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/flac).

[2018-02-27 10:26] #3908 closed, assigned to erdemguven

[2018-02-27 10:29] erdemguven commented on #3909
Duplicate of #3908

[2018-02-27 10:29] #3909 closed, assigned to nobody

[2018-02-27 10:46] erdemguven commented on #3907
It's recommended to use recently released DownloadManager and DownloadService instead of Downloaders directly. DownloadManager has stopDownloads and startDownloads methods.

For Downloaders: You can interrupt the thread which the downloader or CacheUtil method is running:
`thread.interrupt();`
then the method will throw an InterruptedException. Next time you call the same method, it will continue

[2018-02-27 12:47] RafaelMagalhaesN commented on #3905
DefaultLoadControl (MainActivity.java):
[code]

EventLogger (BufferSize):
I check the size of the buffer through the EventLogger. In the logcat (search for: "onLoadCompleted") you can see the downloaded segments inside the .m3u8 file (https://stream.vagalume.fm/hls/14660048951600695455/aac.m3u8). After v2.6.1+, it always makes the three-segment buffer only. In v2.6.0, the same code (without params

[2018-02-27 14:27] tonihei commented on #3905
I tested your DefaultLoadControl parameters with the "HLS - Apple AAC media playlist" from our demo app (the stream you provided gives me a 404 error). In our current version it loads a lot more than 3 segments at a time. Can you check whether the current release version (2.7) still has this problem?

[2018-02-27 15:26] RafaelMagalhaesN commented on #3905
Yes, I checked the latest version (2.7.0) and the problem continues. Can you try another stream?

https://stream.vagalume.fm/hls/14619606471054026608/aac.m3u8 https://stream.vagalume.fm/hls/1499715905423293/aac.m3u8

To exemplify my problem:
(Version 2.7.0 | 2.6.1) The buffer size always starts from the segment position highlighted in yellow and downloads the other two in blue, keeping three segme

[2018-02-27 15:53] #3876 closed, assigned to andrewlewis

[2018-02-27 15:58] andrewlewis commented on #3865
The content media source has a window that is offset from zero, while the ad group times start from zero. This is not handled correctly in `Timeline` at the moment, which leads to the player identifying the wrong ad group to play.

We have a fix in review which will treat ad group times as relative to the window in `Timeline` (`ImaAdsLoader` already makes this assumption), so hopefully this will b

[2018-02-27 16:04] andrewlewis commented on #3525
Please could you try to reproduce this on the latest release 2.7.0? It includes several fixes for ad playback.

[2018-02-27 16:25] tonihei commented on #3905
The player only loads 3 segments because it's close to the live edge.

I think the actual problem is that your seek isn't handled because you call prepare after the seek. The second (optional) parameter of prepare is `resetPosition` which is true by default. That's why, the position is reset to the default.

To solve this, either pass false to `resetPosition` or seek after prepare.

[2018-02-27 17:23] RafaelMagalhaesN commented on #3905
Solved @tonihei 🎉🎉🎉 Tnks!!

[2018-02-27 17:23] #3905 closed, assigned to tonihei

[2018-02-27 18:08] tamimattafi commented on #3886
@ojw28  i implemented the layouts and class of TrackSelectionHelper, i called it on my class based on the demo app player initialization like this : `trackSelectionHelper = new TrackSelectionHelper(trackSelector, adaptiveTrackSelectionFactory); `, i think what's left is to call the .showSelectionDialog?, i passed the arguments to the constructor , but there's something i can't figure out which is

[2018-02-27 18:49] victorraft commented on #3750
Hi, @andrewlewis, are there any updates on this one? Any idea of when this functionality could be released?
Thanks!

[2018-02-27 18:59] victorraft opened #3911 "Update IMA dependency to v3.8.2"
Hi, I noticed that in the latest Exoplayer release (2.7.0) it still uses version 3.7.4 of the IMA SDK.
I tried to force an upgrade by defining a dependency on IMA 3.8.2 but I ran into trouble compiling. I was able to fix the compilation issues but then it just crashes when running.
It would be really helpful if you could update the IMA dependency to its latest version available. The company I work

[2018-02-27 20:42] KKXLC commented on #2882
@ojw28 i have noticed an strange thing while using exoplayer in our app. we load small video files of say 6min and seek to a particular player position. after that we run method to get actual player position after say 5000 ms or 3 sec then it returns with a value (timestamp) of the current player position and we also store the current time at which we fetched the current player position. now if we

[2018-02-27 21:47] wvpaf commented on #3220
closing due to inactivity. please open again if able to repro and provide a full adb bugreport.

[2018-02-27 21:47] #3220 closed, assigned to nobody

[2018-02-27 21:48] wvpaf commented on #3756
Any luck with the full adb bugreport?

[2018-02-27 21:50] wvpaf commented on #3517
Hi @astinus-1  can you attempt to repro again?

[2018-02-27 21:51] wvpaf commented on #3775
Any update on the full adb bugreport?

[2018-02-27 23:12] wvpaf commented on #3443
@zabirtech does this happen 100% of the time?

You can pull a ADB bugreport when it comes back and that might contain useful info.
However this device is pretty old and if the issue is in the chip sets most likely will not get addressed.

[2018-02-27 23:17] wvpaf commented on #3846
Hi @alexkombo the error indicates the device is having issue writing to the file system.
Any chance of getting an ADB Bugreport?

Also if you are asking for more/better functionality from exoplayer please create a new case so we can keep bugs and features separate.

thanks.

[2018-02-27 23:33] denizmveli commented on #3736
Any milestone planned for adding this?

[2018-02-28 00:17] zsmatyas commented on #3906
After having met this bug again and again, when live channels seems to miss a whitespace around single words in italic, I have checked the 608 spec multiple times. Unfortunately, I have only found implicit signs that the Mid-Row command also requires the whitespace to be added at the current location.

Sentences quoted above and:

 The decoder shall ignore the color selection designated in mid-row

[2018-02-28 03:24] pmunizferreira opened #3912 "How to instanciate player with local chunks downloaded by HlsDownloader/DashDownloader?"
Hi,
I first consulted you on [how to pause/resume downloads using exoplayer2.source.hls.offline.HlsDownloader and exoplayer2.source.dash.offline.DashDownloader](https://github.com/google/ExoPlayer/issues/3907) . I have done what you have recommended and it is working.
But... these dowloaders save all chunks in the `.exo` format. There is no `m3u8` file that groups the chuncks.

Now my problem is:

[2018-02-28 04:43] KKXLC commented on #2882
@ojw28 still facing problem in seeking accurately in Exoplayer. we are facing this problem of inaccurate seeking when ever we are trying to seek to a time or play the file from a particular time.
say if we start playing a media file *.mp4 (<15mb) to a particular point say "x".
if we play a file giving the player position from were it has to play that media it seeks to that position and stat playin

[2018-02-28 04:46] KKXLC opened #3913 "Seeking accuracy and error in version 2.7.0"
still facing problem in seeking accurately in Exoplayer. we are facing this problem of inaccurate seeking when ever we are trying to seek to a time or play the file from a particular time.
say if we start playing a media file *.mp4 (<15mb) to a particular point say "x".
if we play a file giving the player position from were it has to play that media it seeks to that position and stat playing but i

[2018-02-28 06:07] Zevsus opened #3914 "Full file download into the cache"
Good afternoon! How can I make a full file download into the cache while playing. To listen to the loss of the Internet. Thank you in advance!

[2018-02-28 08:55] FelixMittermeier commented on #3898
Yeah, this makes sense and is possible the solution for the problem, because now it's also working in the Android 5 emulator. I was not be able yet to test it on the Galaxy Alpha with Android 5, but I am quite sure it's working now. Thank you very much :)

If it is still not working as expected on the Alpha, I am going to reopen this issue.

[2018-02-28 08:55] #3898 closed, assigned to erdemguven

[2018-02-28 09:05] tonihei commented on #2882
@KKXLC Did you take into account that the player needs to rebuffer the media from the seek point? Could the "error" just be the buffer time?

[2018-02-28 09:10] KKXLC commented on #2882
we are calculating the buffer by tracking change of status of player and its like max 120 ms (some time its even as small as 20 ms and when the player is initialized first time then the buffer is high so we refresh to reduce the buffer value. we are adjusting it also but still the error remains the same.

[2018-02-28 09:47] andrewlewis commented on #2882
If I understand correctly, CT1 is the time at which you see the player position transition from BUFFERING to READY after the seek. I think the player position should indeed be advancing approximately linearly from that point, though there is a bug where the position may not quite be continuous during the first 500 ms of playback; see #3841 for more information. Do you really see "700 ms to 100 ms"

[2018-02-28 09:55] ojw28 commented on #2882
Can this discussion please be moved to https://github.com/google/ExoPlayer/issues/3913. It's not related to what this one is supposed to be tracking. Thanks.

[2018-02-28 10:08] KKXLC commented on #3913
@andrewlewis  its not typo but actually we see error ranging till 700 ms. yes CT 1 is current system time at which player has seeked to point x1 and ready to play.

and yes the stream has just audio in mp4 format.

previously also we were facing this problem then we spliced the big file of 100 minutes in small parts of 5 minutes so that file size becomes small and this lag is decreased . it had im

[2018-02-28 10:13] KKXLC commented on #3913
@andrewlewis and yes the stream has just audio in mp4 format. previously also we were facing this problem then we spliced the big file of 100 minutes in small parts of 5 minutes so that file size becomes small and this lag is decreased . it had improvement but still sometime error in AMPP(actual media player position) returns with error of 100s of ms when compared with IMPP (ideal media player pos

[2018-02-28 10:25] #3907 closed, assigned to erdemguven

[2018-02-28 10:40] erdemguven commented on #3912
You need to use a CacheDataSource and the same url to read files back from cache. CacheDataSource returns the data from cache if the file is caches/downloaded. You can create multiple CacheDataSource instances but create only one Cache object.

DownloadManager and Service are in the dev branch. Not sure when they will be in the release.

[2018-02-28 10:44] erdemguven commented on #3914
Please look at: https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

[2018-02-28 10:44] #3914 closed, assigned to erdemguven

[2018-02-28 10:45] TarifHatoum opened #3915 "Preserve track selection in the demo app on resume"
Issue description
After playing the video and then minimized the app and then maximized it the text track is will not show.

Steps to replicate the issue

Load the Demo app and select the video
Enable text track captions.
Play the video on any text tracks .
Minimize the app and wait for 20 min
Maximize the app and the video will continuous playing
Seek the video forward the caption will disappear

[2018-02-28 10:59] pals-ric opened #3916 "Exoplayer updation issue"
i am trying to update my player from version 1.5.12 to 2.6.1 , i am stuck to the supporting files of the player how they are dependent because all old supporting files got changed.
can any one tell which are the player dependent files i have to replace?

[2018-02-28 11:04] AntonAFA commented on #3835
Hey. After exo 2.7.0 was released I can see that issue I was reported about is solved for Meizu and Lenovo. So thank you!

As we talked before, there is quite a big chance that there are a lot of devices with same issue, that currently not handled in workaround.
What we want to do, is to have an ability to decide if device needs workaround or not.
For that, we run some dummy mediaSource with drm b

[2018-02-28 11:33] erdemguven commented on #3915
The demo app currently doesn't preserve the selected tracks on resume. So the selected text is deselected when maximized. We might implement a way to preserve the selection. Marking this issue as enhancement.

[2018-02-28 11:37] erdemguven commented on #3916
Which files are you asking about?

[2018-02-28 11:40] ojw28 commented on #3835
If you're able to devise a test that can identify affected devices, why not ship an update for your app that performs the test and logs back to your servers `Util.DEVICE`, `Util.MODEL`, `Util.MANUFACTURER` and whether the test passes or fails. Within a week you'd have a list of all device models that any significant portion of your user base are using, together with a failure percentage (which sho

[2018-02-28 11:49] TarifHatoum commented on #3915
Kindly can you provide us with an estimated time frame since it effect most users.

Thanks

[2018-02-28 12:02] erdemguven commented on #3915
Sorry, it isn't likely to be implemented soon. When it's done we'll update this issue.

[2018-02-28 12:23] tstaszak89 opened #3917 "HLS encrypted stream (AES 128 CBC) throws IllegalBlockSizeException"
### Issue description
IllegalBlockSizeException occurs while playing HLS encrypted stream (AES 128 CBC). It is plying correct for a few seconds, next at the end of decryption of single ts - exception occurs and playback is stopped.
According to HLS encryption specification (https://developer.apple.com/library/content/documentation/AudioVideo/Conceptual/HLS_Sample_Encryption/Encryption/Encryption.h

[2018-02-28 12:24] ojw28 commented on #3865
I think the new plan is to adjust `HlsMediaSource` so that the Timeline window and period are aligned for this type of media.

[2018-02-28 12:34] ojw28 commented on #3917
If you're specifying encryption method `AES-128` then I don't think your stream is compliant. According to the HLS RFC:
[code]

I think the documentation you've linked to is for encryption method `SAMPLE-AES`. We do not support this mode, as per our [supported formats page](http://google.github.io/ExoPlayer/supported-formats.html). We're unlikely to add support due to industry shifts toward common

[2018-02-28 12:46] pals-ric commented on #3916
exoplayer version 1.5.12 is dependent on , DashRendererBuilder,DemoPlayer, ExtractorRendererBuilder, HlsRendererBuilder ,SmoothStreamingRendererBuilder. but in new version as i can see these files replaced with other files so i am having trouble in identifying the exact replacement of these files.

[2018-02-28 12:55] ojw28 commented on #3889
Closing for now. Please let us know if you're still able to reproduce, in which case please provide concrete reproduction steps that we can use (without them there's not much we can do to help). Thanks!

[2018-02-28 12:55] #3889 closed, assigned to ojw28

[2018-02-28 13:07] erdemguven commented on #3916
This post can be helpful: https://medium.com/google-exoplayer/exoplayer-2-x-new-package-and-class-names-ef8e1d9ba96f

Also you can check v2 demo app to see how v2 is used.

[2018-02-28 13:25] AntonAFA commented on #3835
I believe that we are able to devise this sort of test. So we can collect the data about problematic devices(with assumption that ```DecoderInitializationException``` during media initialisation caused because of that specific bug and not some other scenario). As soon as we got the list of this devices, we will be glad to provide you with it.
But for now we just want to prevent potentially problem

[2018-02-28 13:29] pals-ric commented on #3916
that link i have already checked as well as the demo app but in demo app i am not able to identify the replacement of the above mentioned files  . demo link  for version
 2.6.1    https://github.com/google/ExoPlayer/blob/dev-v2/
my application is currently using below player files
https://github.com/google/ExoPlayer/tree/r1.5.12/demo/src/main/java/com/google/android/exoplayer/demo/player
so i want

[2018-02-28 13:32] tstaszak89 commented on #3917
Thank you for very quick answer.

After reading about AES-128 and SAMPLE-AES standards it looks like the stream that I described combines those standards. Entire ts file is encrypted (AES-128) without padding and final block is not encrypted (SAMPLE-AES). Now I need to implement this myself. Will the [ExoPlayer/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/Aes128DataSource.jav

[2018-02-28 13:40] ojw28 commented on #3835
I don't understand why ongoing maintenance is a concern given it should be possible for you to provide a list of devices pretty quickly, which would let us target the workaround properly and therefore remove the need for you to override the logic of when it applies.

[2018-02-28 13:51] giladna opened #3918 "ENDED event is not fired by ExoPlayer if seek after pause media"
Hi,
Observed on Demo app 2.7.0

We try to seek to END after selecting pause on this media  ( HLS - Apple 16x9) (This media is multi audio)

https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8

But Ended event is not fired

For (HLS -  ID3 Metadata)  media the ended is fired for same scenario when pause and then seek to END

http://devimages.apple.com/s

[2018-02-28 13:55] AntonAFA commented on #3835
It is true in case where our customer rollout release for 100% of the users within few couple of weeks. Which I can`t see happening. Some users will receive update sooner, some of them later. I expect that we gonna need to collect problematic devices for at least couple of exoplayer updates(hope I am wrong), until we can tell that most of them were detected and neutralised :).
If you think that ex

[2018-02-28 13:58] pals-ric commented on #3916
i am new to the code of exoplayer so i want to know the process of updation if anyone has done that help me to upgrade this library.

[2018-02-28 14:30] priscila225 commented on #3865
@andrewlewis @ojw28 sounds good, let me know when you have a fix on HlsMediaSource to test it. Thank you!

[2018-02-28 14:31] KKXLC commented on #3913
its not typo but actually we see error ranging till 700 ms. yes CT 1 is current system time at which player has seeked to point x1 and ready to play.
we are also tracking player state to check on buffer.
yes the stream has just audio in mp4 format.

previously also we were facing this problem then we spliced the big file of 100 minutes in small parts of 5 minutes so that file size becomes small an

[2018-02-28 14:42] mmbahaa opened #3919 "Force ExoPlayer to enter the buffering state"
How can I force ExoPlayer to enter the STATE_BUFFERING even if there's data that the renderers can render?

[2018-02-28 14:58] botaydotcom commented on #3375
Just to give some updates on this issue:
- I have tested async MediaCodec vs sync MediaCodec API. Normally, they have roughly similar CPU usage overall (I think async MediaCodec have slightly better stats, but not too different).
- In certain cases, async MediaCodec shows much better results. There was a test with which we have a Pixel 1 device, with CPU locked to a very low frequency (~ 0.5 GHz)

[2018-02-28 15:49] workspace commented on #3775
@wvpaf There is no chance to get bugreport from devices which have a problem because I don't have one. I look forward to someone who has a device related to this issue will upload bugreport...

[2018-02-28 16:09] andrewlewis commented on #3911
@victorraft Was the compilation issue an error like "More than one file was found with OS independent path [...]", or something else?

[2018-02-28 16:20] ojw28 commented on #3916
ExoPlayer 2 is quite different to ExoPlayer 1, with changes to the architecture and some of the core concepts. So the short answer is that it's not possible to upgrade by replacing things one by one. You need to understand how ExoPlayer 2 works (e.g. by looking at the demo app's usage) and go from there.

[2018-02-28 16:20] #3916 closed, assigned to erdemguven

[2018-02-28 16:24] jrocharodrigues opened #3920 "Getting The Body of an 403 response after an HttpDataSource.InvalidResponseCodeException"
Hi,

When playing DASH + widevine content, when acquiring the license for the content, in some situations the license server answers with a status code 403 and in the body it sends the reason for the that status (example: When the content is being played on another Device with the same login).

Since there are multiple reasons for the server to answer with 403, i need to parse the body to check th

[2018-02-28 16:54] #3669 closed, assigned to andrewlewis

[2018-02-28 17:25] botaydotcom commented on #3736
Hi @denizmveli,
Sorry for the late update. This is currently being worked on and will be pushed to dev branch in the next few days.

[2018-02-28 17:51] ojw28 commented on #3917
That's probably the best place to start, but I don't think we can spend time providing further guidance. For what it's worth, you'd really be better off just following the spec properly.

[2018-02-28 17:51] #3917 closed, assigned to ojw28

[2018-02-28 18:12] ojw28 commented on #3913
I don't really understand what the problem is.

This is incorrect. At time CT1 the player will start to buffer media from the newly specified seek position, possibly over the network depending on where your media is located. So playback wont start immediately, but will instead start some time later (CT1+bufferingTime). So at (CT1+t) you'd actually expect the playback position to be (x1+t-buffering

[2018-02-28 18:25] ojw28 commented on #3920
In another production system I've seen the license server will respond with a 200 in this case, with the reason for refusal in the body. You can then implement your own `MediaDrmCallback` that's like `HttpMediaDrmCallback`, but with some additional parsing of the response in `executeKeyRequest` that will parse any refusal reason from the response and, if there is one, throw a corresponding excepti

[2018-02-28 18:34] jrocharodrigues commented on #3920
Thanks for the answer @ojw28
That was the impression i had.
I Will proceed with a custom HttpDataSource implementation.

Brs

[2018-02-28 18:34] #3920 closed, assigned to ojw28

[2018-02-28 19:37] victorraft commented on #3911
@andrewlewis yes, exactly this kind of error.
The errors were gone after I added a few `exclude` lines in my build.gradle, like this:
[code]

Then, as I said before, it ran and crashed producing these logs:

`java.lang.IncompatibleClassChangeError: Found interface com.google.ads.interactivemedia.v3.api.ImaSdkSettings, but class was expected (declaration of 'com.google.ads.interactivemedia.v3.api.I

[2018-02-28 19:41] KKXLC commented on #3913
@ojw28 what you are saying is correct that at CT1+t the player should be at the x1+t-buffer time or say at CT1+t+buffer time the player would be at (x1+t).
but the problem is not that as we have already adjusted buffer time after monitoring the player state change and the buffer time varies every time you seek.
but what we are facing is that once we seek to (x1+t) position at (CT1+t) so we expect

[2018-02-28 20:46] sunnite-tsar opened #3922 "How to play the DASH+PlayReady streaming on my own CDN using the demo player?"
### Issue description
I edit the file 'media.exolist.json' in the demo app as following:
**********
        "name": "Super speed (PlayReady)",
        "uri": "http://playready.directtaps.net/smoothstreaming/SSWSS720H264PR/SuperSpeedway_720.ism",
        "drm_scheme": "playready"
 **********
replace uri using my own mpd or
**********
 "name": "WV: Secure SD & HD (MP4,H265)",
        "uri": "https:/

[2018-03-01 02:57] ghost commented on #3756
Hi @wvpaf, I'm still trying to reproduce it in my own android phone to generate a full adb bugreport.
The error mostly happens in our user's client. It could be in a special situation. But I can't force the normal user to do the "adb bugreport". I will send the bugreport to you as soon as I reproduce the issue.

[2018-03-01 03:27] ghost commented on #3375
Hi, @botaydotcom  Thanks for your information.
I've already implemented an async mediacodec solution. Here is a benchmark test result.
![sva-s8](https://user-images.githubusercontent.com/7996189/36825436-654e4554-1d42-11e8-8f33-23fc00de6f1f.png)

In some extreme situation, like 60 fps with high bitrate. My async solution shows better performance and stability on some device, especially on Samsung

[2018-03-01 06:02] ghost commented on #3756
Hi @ojw28 @wvpaf , I reproduced it. And already sent the bugreport to dev.exoplayer@gmail.com.

Topic: Bugreport for DRM vender –2967 Address: ycinfinity@hotmail.com

[2018-03-01 07:41] tstaszak89 commented on #3917
Ok, thank you very much for your time.

[2018-03-01 07:52] alexkombo commented on #3846
I did some tests with one of the devices that exhibited the error and all i get now is this:

[code]

[2018-03-01 09:00] mmbahaa commented on #3841
@andrewlewis are there any updates?

[2018-03-01 09:04] andrewlewis commented on #3841
We can resolve this issue by polling timestamps frequently when the AudioTrack is starting, then falling back to polling infrequently. That lets us notice the point when the position starts increasing. I have a prototype fix but it needs cleaning up, so hopefully we can push this to the development branch some time over the next few weeks. Thanks!

[2018-03-01 10:02] ojw28 commented on #3913
I think the problem is being described in a way that's more complicated than is necessary, which is making it pretty hard to follow what you're actually observing. Does your media have audio? If so is there any audible discontinuity during playback? Are you sure the player doesn't stop to re-buffer? If audio sounds smooth then it's difficult to see how we'd get that far out of sync with the realti

[2018-03-01 10:30] KKXLC commented on #3913
- yes the media has audio. its played from local file system.

- there is no discontinuity while playing . it plays in flow. we can hear the discontinuity if while playing we seek in the player: that is because the player buffers and state changes. one can hear a small click/silence.

- yes we land up that far and for reference i'm sharing the log in which we are printing actual player position (a

[2018-03-01 10:56] tonihei commented on #3810
Closing due to inactivity.

[2018-03-01 10:56] #3810 closed, assigned to tonihei

[2018-03-01 10:59] eneim commented on #3901
@erdemguven Hi there, I'm helping him on this issue. What I found may be interested: he uses TextureView for SimpleExoPlayerView, while having "hardwareAccelerated" set to false in Application's manifest. We know that TextureView requires hardwareAccelerated to be usable, so changing either the manifest or the Surface type solves the problem.

What I think is, as SimpleExoPlayerView (and now Playe

[2018-03-01 11:10] artemisia-absynthium commented on #1845
@GeoffLedak I tried your solution and it's great, but it has some issues.
* It has a strange behaviour when the app goes in background when the video is in fullscreen and returns to foreground, the video is gone and there's only an unstoppable ghost audio track.
* It needs to keep the phone awake while playing.
* If the enclosing `Activity` has an only portrait orientation, the resulting fullscree

[2018-03-01 11:15] vikas3121 commented on #3913
@KKXLC did you get any solution in this issue??
Please share it if you any solution, as I am also facing a similar issue.

@ojw28  This is the actual issue which I also observed in ExoPlayer.
Here is my Problem description:

I have a time **T1** at which I have to seek my my audio. Following is the code:

**player.seekTo(T1);**

When I have put a log in **onSeekProcessed()** and onPlayerStateChang

[2018-03-01 11:20] andrewlewis commented on #3913
Position discrepancies of less than about 130 milliseconds may be down to the audio track position not increasing perfectly linearly, tracked by #3841.

[2018-03-01 11:24] tonihei commented on #3913
@vikas3121 Just to emphasize it again. The difference of 193 ms you are seeing is most likely the time needed to rebuffer the media from the seek position. Can you make your measurements from onPlayerStateChanged to STATE_READY which is when the player finished buffering and starts playing?

[2018-03-01 11:31] andrewlewis commented on #3913
Yes. The audio track position non-linearity is only really relevant once you're measuring the point at which the player becomes ready correctly, and are compensating for any buffering that occurs (both in response to the seek and later on before you sample the position).

[2018-03-01 12:13] ojw28 commented on #3913
I think you're just not properly synchronizing with when playback _actually_ starts. Playback does not start instantly. `onSeekProcessed` isn't the point at which playback starts either. As @tonihei says, playback actually starting should be observed using `onPlayerStateChanged`.

[2018-03-01 15:44] wvpaf commented on #3517
@belanagyb  we did not see/get the attached token. Can you please resend/attach?
last email/token I can find is from jan 18.
thanks.

[2018-03-01 15:58] erdemguven commented on #3918
Please give more information. How do you seek to the end? On what devices did you try?

[2018-03-01 16:02] erdemguven commented on #3919
You can implement a custom LoadControl and return true from shouldContinueLoading() whenever you want the buffering to continue.

[2018-03-01 16:02] #3919 closed, assigned to erdemguven

[2018-03-01 16:26] erdemguven commented on #3922
Please provide a bug report using: adb bugreport

[2018-03-01 17:17] predaV commented on #3517
I sent it 10 days ago, but here it is again.

On Thu, Mar 1, 2018 at 5:44 PM, wvpaf <notifications@github.com> wrote:

[2018-03-01 17:21] andrewlewis commented on #3592
The platform audio track position can stall briefly when the audio routing changes, which is probably what's going on here. As part of fixing #3841 the duration of the freeze may be reduced, as we should poll the timestamp more frequently after `getTimestamp` returns false, so please follow that issue for updates.

[2018-03-01 17:21] #3592 closed, assigned to andrewlewis

[2018-03-01 18:36] wvpaf commented on #3846
@alexkombo any luck with an ADB Bugreport? that would be most helpful.

[2018-03-01 19:45] mr-thierry opened #3923 "ExoPlayer volume is reset after a phone call"
I'm using ExoPlayer 2.7.0 on my Nexus 6P with Android 8.1

I'm using SimpleExoPlayer to play a video. I set the volume to zero to mute it. If I receive a phone call while the video is playing, when the call is ended, the volume is back to 100%.

Note that SimpleExoPlayer still says that the volume is zero, but the sound is heard.

[2018-03-01 19:53] wvpaf commented on #3517
thanks got the attachment via email.

[2018-03-01 20:47] mmbahaa commented on #3919
I want to make the player get into BUFFERING state where it only passes when it has a specific amount of data, just like when shouldStartPlayback is called in the beginning but this time with rebuffering = true

[2018-03-01 21:45] giladna commented on #3918
@erdemguven

Hi,
I am using Nexus 5  Android 6

I select the media with multi audio then pause in demo app then seeking with scrubber to end of stream

you will see ENDED is not fired
only if you select play it will be fired
in hls media without multi audio seek to end will be ended with ended event

it happens also in other  multi audio streams we have

10x
GIlad.

[2018-03-01 23:29] ojw28 commented on #3919
As you've probably discovered, you can configure how much media is required to exit the buffering state using `shouldStartPlayback`. There is no way to force the player to re-enter the buffering state whilst the renderers can still render. That's just not something we support, sorry.

[2018-03-02 03:44] xiaxiaotong commented on #3922
I also have a problem，If may device palyReady，the exoPlayer  is supported Dash +playReady.

[2018-03-02 09:19] RuijiePan opened #3924 "smooth play"
I have many video need to play.As first video play 3000ms - 5000ms,then the second video play 2000ms - 4000ms, so I need to know the position current play and when first video play position more than 5000ms,I will seekto second video and set current time is 2000ms.It's useful but seekto need sometime to work.I want to know how can I do it can play the videos smoothly without seekto.Thanks

[2018-03-02 09:32] tonihei commented on #3924
Sounds as if you could use a [ClippingMediaSource](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/ClippingMediaSource.html) in a [concatenation](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/ConcatenatingMediaSource.html).

For example:
[code]

[2018-03-02 09:34] andrewlewis commented on #3825
This sounds like it might be a device-specific issue that Amlogic will need to investigate. Strangely bugreport2.zip also seems to be missing the error logging. If you see `E/ACodec ( 1340): dequeueBuffer failed.` output to logcat and then immediately take a bug report does that log line not appear in the logcat in the bug report?

[2018-03-02 10:00] andrewlewis commented on #3865
@priscila225 This should be fixed on the development branch. Please try it out and let us know if there are any further issues.

[2018-03-02 10:00] #3865 closed, assigned to andrewlewis

[2018-03-02 10:08] andrewlewis commented on #3888
@rajab57 38914f0 removes the restriction on clipping child sources that have an offset window and adds a message to clipping errors to make the error more obvious, and, in addition, in 4373e63fac9a845b04e4edf8df7393888d43a96b we've also changed HLS timelines so that the period and window both start from zero when first loading the stream. Please try this out on the development branch and let us kn

[2018-03-02 10:08] #3888 closed, assigned to andrewlewis

[2018-03-02 10:24] mmbahaa commented on #3919
Ok thanks for being that clear.

[2018-03-02 10:30] prilaga opened #3925 "seekbar"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-03-02 10:41] prilaga opened #3926 "DefaultTimeBar doesn't show the progress"
Hi, I have purpose to play video from different sources. From network (DASH) I see the progress of seekbar, but when the source is a file - not.
It happened on every time if I try to play from file. I tried different mp4 files.

Seems problem that player can't detect the total length of the video.
How to resolve this issue?

exoplayer v.2.7.0
sony z5, android 7.1.1

any video file can be used, jus

[2018-03-02 10:41] #3925 closed, assigned to nobody

[2018-03-02 11:01] erdemguven commented on #3926
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-03-02 11:06] ojw28 commented on #3922
Please see our [supported formats](http://google.github.io/ExoPlayer/supported-formats.html) page for information about what ExoPlayer supports. It's unclear what this issue is tracking. There doesn't seem to be a clear bug described, or a question that's clear enough for us to answer. Closing for now.

[2018-03-02 11:06] #3922 closed, assigned to erdemguven

[2018-03-02 11:07] prilaga commented on #3926
Hi @erdemguven , I updated the info. Please let me know if I something missed.

Also I able to get the length of the video by next way:

[code]

[2018-03-02 11:23] andrewlewis commented on #3911
Thanks for the information. I've followed up regarding the problematic version files [internal reference: b/74099519].

Having excluded them in the demo app build.gradle file I found that the extension worked as expected. Is it possible that you need to do a full rebuild of your project after changing the dependency? It may also be necessary to set `playServicesLibraryVersion = '11.8.0'` in consta

[2018-03-02 11:31] andrewlewis commented on #3750
No updates, I'm afraid. At the moment we aren't planning to look at this soon, but if anyone else is waiting for the feature please leave a comment so we can prioritize based on demand. Thanks!

[2018-03-02 12:18] erdemguven commented on #3918
It looks like there are couple of issues which prevents the transition to ENDED. One of them for this particular stream TextRenderer.isEnded() doesn't return true after the seek.

[2018-03-02 12:32] vikas3121 commented on #3913
@ojw28  I have performed several observations and following are stats:

I have used one mp4 file and log time are also saying something for the performance of this.

step 1: seeked player to say **x1= 5000** ms and noted the current time as CT1  called first time.

step 2: re seeked player after 3sec at CT2 called to point **x2=10000ms**.

step 3:monitored player state: printed CT2@Buffering,CT2@r

[2018-03-02 12:37] giladna commented on #3918
@erdemguven
do you consider it bad media?
if ended is not fired for the text  why playback position is not getting updated (this is what I would expect the ended is fired only on the next play click so it means that there is length mismatch between tracks?)

I think that video ended event should be the only event for video playback
do not see why there would be some more caption for ended video tr

[2018-03-02 13:53] ojw28 commented on #3913
I'm able to reproduce similar results, although I can't get a deviation any higher than ~100ms. I have no idea how you're able to get such a high deviation, although it could be a result of your app performing a lot of work on its main thread (see below).

As previously stated, I think you're just not properly synchronizing with when playback actually starts. `onPlayerStateChanged` reporting `STAT

[2018-03-02 14:13] PrathibhaKota opened #3927 "Green background is showing around the video when activity with simpleexoplayerview is paused and resumed again."
![device-2018-03-02-191233](https://user-images.githubusercontent.com/22744351/36902600-0f3fe310-1e51-11e8-939d-ec3274a54b75.png)

public class MainActivity extends AppCompatActivity {

    private PlayerView playerView;
    private SimpleExoPlayer player;
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.lay

[2018-03-02 14:13] #3924 closed, assigned to tonihei

[2018-03-02 14:14] RuijiePan commented on #3924
It's work, Thank!

[2018-03-02 14:33] erdemguven commented on #3926
The given mp4 file header doesn't contain the duration. ExoPlayer relays on the information provided in the header. You might try to re encode the file.

[2018-03-02 14:38] botaydotcom commented on #3736
Hi @denizmveli,
The  mentioned change has now been pushed to dev-v2. Please help me to test it and see if it can solve your issue. Thank you.

[2018-03-02 14:38] #3736 closed, assigned to botaydotcom

[2018-03-02 14:48] erdemguven commented on #3927
Duplicate of #2321

[2018-03-02 14:49] erdemguven commented on #3927
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-03-02 15:25] ojw28 commented on #3926
It's true that the duration is for some reason set to 0 in the sample file (it probably shouldn't be). However it should be possible for us to fill in the missing duration based on the `stbl` atom in order to handle this case.

[2018-03-02 15:43] prilaga commented on #3926
It will be great if ExoPlayer will be able to count the duration for files with empty/bad headers. In other case  developers need to recreate video file and only then pass to player.

[2018-03-02 16:51] cadalt commented on #3750
I'm a dev working for a major media corporation... this would be a great feature for us

[2018-03-02 18:40] priscila225 commented on #3865
@andrewlewis this is working fine for us. Thank you a lot! I confirmed using the sample with m3u8 links as well. Also the plan to have it on release, you have a date?

Just to know if we will wait too much to have the fix on final release.
I'll work for now with dev version! awesome

Thank you!

[2018-03-02 19:11] rajab57 commented on #3888
@andrewlewis Works !!
Thanks

[2018-03-02 19:29] abvaalgit opened #3928 "import com.google.android.exoplayer2.source.MediaSourceEventListener"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-03-02 19:34] abvaalgit opened #3929 ""com.google.android.exoplayer2.source.MediaSourceEventListener " and "com.google.android.exoplayer2.source.ads.AdsMediaSource" is not found in exoplayer:r2.5.4"
**"com.google.android.exoplayer2.source.MediaSourceEventListener ""**
and
**com.google.android.exoplayer2.source.ads.AdsMediaSource;**

is not found in exoplayer:_r2.5.4_
****
this class is used in#  demo app that core api is existed in app..but i using lib r2.5.4
and this class not found ..where is it gone ..and  must i do what...
what is version is using in demo app

[2018-03-02 19:37] #3928 closed

[2018-03-02 19:44] bshellenberg commented on #3825
[bugreport3.zip](https://github.com/google/ExoPlayer/files/1776373/bugreport3.zip)
Hopefully this is better.

[2018-03-03 10:00] 0x410c opened #3930 "Failed to resolve: com.google.android.exoplayer:exoplayer-core:r2.7.0"
Android studio 3.0
gradle version 4.1

Unable to resolve 2.7.0 dependencies?

[2018-03-03 10:04] 0x410c opened #3931 "PlaybackControlView disappears after a while"
[code]

Code in main activity

Main activity layout:

[code]

@layout/player_slider is the playbackcontrolview

[2018-03-03 12:46] Papirosnik opened #3932 "How to render video into off-screen buffer"
I'm wondering if it's possible to do at all.
I want to get decoded video frame and use it as OpenGL ES texture in a game, so I don't want it to be rendered into some 'ui' elements (SurfaceView, TextureView etc)

It seem a pair of Surface and SurfaceTexture would help me but it doesn't.
Here is a code snippet (I try to do this in Xamarin.Android but it doesn't matter, any advice for 'native' Androi

[2018-03-03 14:46] hariszukanovic opened #3933 "Zap duration worse on 2.7.0 compared to 2.4.4"
### Issue description
When performing a "zap", i.e. change between two live streams, starting from v2.5.0, we experience, on average, an unexplainably longer delay before the audio/video render actually begins.

I am not sure this is an actual bug, so I would like to start with asking for your advice in which direction to look for the cause of it...

With 2.4.4, testing different live samples, we

[2018-03-03 15:22] FD- commented on #3930
I'm not a project member, but according to the release notes, version names no longer contain the r.
`com.google.android.exoplayer:exoplayer-core:2.7.0` should work fine.

[2018-03-03 16:56] FD- opened #3934 "Pass DRM session id to MediaDrmCallback from DefaultDrmSession"
Hi,
I need to include the drm session id / scope in my key requests, so I am looking for a way to pass the session id from the `DrmSession` to the `MediaDrmCallback`.
As far as I understand the existing code, in order to implement that, I would have to:
* Create a custom `MediaDrmCallback`-like interface  that has the same methods as the existing one, except for the addition of a sessionId byte[]

[2018-03-03 17:13] FD- opened #3935 "Improve customisability of PlayerView"
I really appreciate we now have a non-final `PlayerView` class for subclassing! However, I'd love to see a minor improvement:

At the moment, subclasses are unable to override behaviour that occurs in reaction to (player) listener events, because the `PlayerView` doesn't directly implement those listeners but only via a private inner class (ComponentListener). This means subclasses cannot simply (

[2018-03-04 01:04] ram992 commented on #3927
@erdemguven, is this really an exo-player bug, cause I have been seeing the same issue, but with a blue background, that I have not used in my app at all.
And also the backGround appears on touching the empty surface that I pass to exoPlayer in the initializing phase of the Video, it won't happen afterwards.

[2018-03-04 02:10] admobwebmaster opened #3936 "Exoplayer keeps stopping my live stream"
Hello friends!
What is happening is the following while watching my live stream and after a few seconds he stops and I have to press the play again for him to continue.

Would I have some method for autoplay when I stop running my live stream?

I'm using version 2.7

Thank you!

[2018-03-04 05:39] jackjohnsonn opened #3937 "[question] Start an event in sync with playing a local video file"
### Issue description
Hi, I am developing an app to help children who suffer from autism with an experimental technique. I play a video file and at the same time in **sync**, I do a specific random timely event. I want the event that I am doing to be synced with the video by a very small margin. Another issue in here had the following code which I used:

[code]
[code]
I have tested it on a local m

[2018-03-04 07:45] ice459pp opened #3938 "Support LRC (LyRiCs) subtitle format"
Hi, everyone, recently,

I use Exoplayer play mp4 files and attach subtitle file with .srt extension file.

And I did it.

Now, I wanna play mp3 file and attach subtitle file with .lrc extension file.

I don't have any idea to attach .lrc subtitle file.

This is the [lrc definision](https://en.wikipedia.org/wiki/LRC_(file_format)).

I know the following code implementing side-loading subtitle and

[2018-03-04 07:48] ice459pp commented on #3938
The only stupid way I solve is convert the .lrc extension file to .srt extention file throught this [converter](https://toolslick.com/lrc-to-srt-converter)

[2018-03-04 11:05] noamtamim commented on #3835
Hi @ojw28. We (@kaltura) don't publish apps; we provide our customers with an open source player toolkit (https://github.com/kaltura/playkit-android) that uses ExoPlayer. Which is why we can't just push the workaround detection to an app - we have to wait until customers decide to update **their** app.
We will, however, do what you suggested. We will collect the workaround detection results on our

[2018-03-04 11:06] noamtamim commented on #3835
FWIW, here's the test code: https://github.com/kaltura/playkit-android/blob/2e58d94c0c9e2b962e9f31699f1f1c2b07d80790/playkit/src/main/java/com/kaltura/playkit/player/MediaCodecWorkaroundTest.java.

[2018-03-04 11:25] 0x410c commented on #3930
thanks brother. worked perfectly. i think they should change git readme.

[2018-03-04 11:32] ojw28 commented on #3930
Which readme? It looks like we've already removed all the "r"s from the readme.

[2018-03-04 11:32] #3930 closed, assigned to ojw28

[2018-03-04 11:36] ojw28 commented on #3931
Call `pb.setShowTimeoutMs(0)` if you don't want your controls to hide after a timeout.

[2018-03-04 11:36] #3931 closed, assigned to ojw28

[2018-03-04 11:36] ojw28 commented on #3936
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-03-04 11:36] #3936 closed, assigned to ojw28

[2018-03-04 11:45] ojw28 commented on #3935
Having `PlayerView` implement the listeners directly may confuse matters. We might end up with developers thinking they need to explicitly add their `PlayerView` instance as a listener to the player. It also adds lots of public methods to the class that developers should never be calling themselves.

Instead, how about we keep `ComponentListener`, but have it forward calls to protected methods in

[2018-03-04 11:48] ojw28 commented on #3934
Why does your `MediaDrmCallback` need the session id? Aren't session IDs just arbitrary values generated by the platform? And if so, why is knowing the value useful? What do you use it for, and if it's just for logging, why is it useful to log?

[2018-03-04 11:54] ojw28 commented on #3938
We don't support LRC. Marking this as an enhancement, but it will be considered low priority. The most likely way in which this will be implemented is if we receive an external contribution that adds support.

[2018-03-04 12:02] ojw28 commented on #3929
You're using a version that predates either of the APIs you're trying to use. Try using the latest version (2.7.0).

[2018-03-04 12:02] #3929 closed

[2018-03-04 12:07] gregkorossy opened #3939 "Failed to initialize dummy surface - java.lang.IllegalStateException: eglMakeCurrent failed"
I'm using ExoPlayer v2.7.0. My app changes `Player` instances about every 1 hour instead of changing media sources (technically the program should change every hour or so). This is due to the fact that some previous versions of the device it's running on have some issues with the kernel implementation and if a player is used for too long, it just crashes the whole system. However, the problem is n

[2018-03-04 15:05] kinhdang opened #3940 "Mediasource exception with IMA when playlist"
Dear all !

We have a little problems with playlist and ima.
- Create createAdsMediaSource with single stream mp4, working properly.
- Create MediaSource, muilti stream mp4 with ConcatenatingMediaSource, working properly.

But when createAdsMediaSource with muilti stream then we have an error follow, any one have the same, please help.

Thanks,

FATAL EXCEPTION: ExoPlayerImplInternal:Handler

[2018-03-04 15:10] andrewlewis commented on #3940
It's not possible to insert ads in multi-period timelines using the IMA extension at the moment. #3693 tracks the enhancement.

[2018-03-04 15:10] #3940 closed, assigned to andrewlewis

[2018-03-04 15:12] kinhdang commented on #3940
Thanks,

[2018-03-04 16:12] nerd-sj commented on #3886
Check out `updateButtonVisibilities` method in `PlayerActivity` in demo app. It shows how to find the rendererIndex.

    for (int i = 0; i < mappedTrackInfo.length; i++) {
      TrackGroupArray trackGroups = mappedTrackInfo.getTrackGroups(i);
      if (trackGroups.length != 0) {
        Button button = new Button(this);
        int label;
        switch (player.getRendererType(i)) {
          cas

[2018-03-04 16:48] FD- commented on #3934
I'm writing this for an existing server system, so I don't have insights into the processing of the session id on the server. If you don't consider this a requirement common enough, I'd hope to see a possibility to implement it without having to create so many custom classes that are mostly copy-pastes of default classes.

[2018-03-04 16:49] FD- commented on #3935
Sounds like a good idea!

[2018-03-04 16:50] nerd-sj opened #3941 "Add new subtitles on the fly"
### Issue description
Adding new subtitle to a video on the fly requires to remove media source(both track and earlier subtitle source) and add it again?

### Reproduction steps
I  added a subtitle to a video with filename (say Video1.mp4) by searching the folder for subtitle with same name(Video1.srt) . I added this subtitle while preparing media source first time by merging and adding them to a

[2018-03-04 17:00] ojw28 commented on #3934
Until we have a concrete use case that explains why the session id is useful, I don't think we can spend any time on this. It's feels just as likely at this stage that the server doesn't do anything useful with it. Does playback still work if you generate some other random id and send that instead :)?

If you find out why the server needs the session id, please let us know and we'll take another l

[2018-03-05 06:02] pals-ric commented on #3916
exoplayer version 1.5.12 is dependent on , DashRendererBuilder,DemoPlayer, ExtractorRendererBuilder, HlsRendererBuilder ,SmoothStreamingRendererBuilder. but in new version as i can see these files replaced with other files so i am having trouble in identifying the exact replacement of these files. can you help me to understand the dependancy of these files.

[2018-03-05 07:04] TarifHatoum commented on #3915
kindly when dis-selecting the video track and re-selecting it the caption is not working is there any turn around to make this work since it is an important feature. Best regards

[2018-03-05 08:55] Airforce327 commented on #3912
What about mediaSource, how to instanciate  MediaSource? any reply will be appreciated，Thanks!

[2018-03-05 09:43] PrathibhaKota commented on #3927
Link to test content:
http://www.sample-videos.com/video/mp4/480/big_buck_bunny_480p_2mb.mp4
In all the devices it is working fine but the issue happens only in specific devices like Coolpad Y83, Panasonic Eluga Ray X.
I have tried with .mpd url as below
http://demos.webmproject.org/dash/201410/vp9_glass/manifest_vp9_opus.mpd.
this green color background is not happening with the mpd url even for