[2018-10-07 19:17] #4917 closed, assigned to ojw28

[2018-10-08 06:15] xpleemoon opened #4918 "HLS aac audio stream cant play, player's state stays buffering"
### Issue description
I have HLS aac (HE-AACv2) streams and try to play using ExoPlayer. The player initializes and displays video controls, with the debug overlay info displaying playWhenReady=true and playBackState=buffering and successfully displaying content's duration, but stays there and no playback happens.

### Link to test content
content: [http://open.ls.qingting.fm/live/386/24k.m3u8](ht

[2018-10-08 07:49] andrewlewis commented on #2659
@roundsmapp It sounds like this isn't related to audio processing. Please could you file a new issue and include the media you're trying to play and a description of the steps to reproduce the issue in the demo app? Thanks.

[2018-10-08 07:59] BrainCrumbz commented on #4902
Hi there. Still no clue on how to successfully bundle ExoPlayer sources into our own library and share that as a local AAR file. For the moment we are tentatively distributing just our custom code through a local Maven repository on each dev machine, so the AAR does not need to include ExoPlayer classes. But it would be nice to know how to satisfy the initial need.
TA

[2018-10-08 10:51] ummerakbar45 opened #4919 "Why does not exoplayer pauses background music when video plays"
This is not issue but question
Why does not my video app stops background musics apps.
Wyink app is playing music, I want when I open my app and plays any video(on exoplayer 2.9.0) , song on wyink should pause, but this is not happening.

I did same test on wyink and youtube and when video plays on youtube, wyink paused video

[2018-10-08 11:05] AlexDundar opened #4920 "Ads dont play in Exoplayer with ImaAdsLoader"
I`m trying to play ads in my video. I have url (I obtain it from backend) for obtaining vast xml file. And i put it to adsLoader in my code:

But when I start my app there is no ads in my exo video player.  Prerolls are just skipped, midrolls and postrolls stop video (when their time has come) and i cannt resume video and cannt see ads, only with reloading screen.
 Sometimes I see error "1009, The

[2018-10-08 11:29] weizhizhanghao opened #4921 "#2256 have resolved"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-10-08 12:14] RsnRohith commented on #3923
Hi @ojw28 , any update on this bug ?

[2018-10-08 13:25] AlexDundar commented on #4920
Hm, I noticed that in all  `adEvent `objects in `AdEventListener ` in my example `adEvent.getAd().isLinear()` is always `false`, but in xml  `breakType="linear"` . Is there bug of `Exoplayer `of bug of `ImaAdsLoader`? Perhaps this is the reason of freezing video player when ads time has come?

[2018-10-08 15:59] RsnRohith commented on #3923
Hi @ojw28 , still experiencing this issue. Any update on this ?

[2018-10-08 16:17] harris914 commented on #4917
I'm using Shoutcast APIs for the radio streams. and according to the APIs. the streams are MP3(mpeg) or AAC. Now can you tell me does Exoplayer support these media types? and as far as i have searched, MPEG is Dash. Please correct me if i'm wrong.

[2018-10-08 17:48] TheJohnBowers commented on #4867
The PSSH data for key is unique per key, so if you get new unique PSSH data in the manifest that could be considered a manifest signal that the key has changed.  You could keep using the the secure decoder until you see an new unique PSSH element in the manifest.

In the second case I could see being unable to determine that a secure period would come in the future in that case I think you are rig

[2018-10-08 18:44] MateusZitelli commented on #4872
The bug is also happening with:
- Moto G (5S) Plus - Android 7.1.1

[2018-10-09 02:18] roundsmapp commented on #2659
@andrewlewis OK, I'll do it. Thank you so far for the support.

[2018-10-09 07:25] andrewlewis commented on #4920
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-09 07:46] Romantic-LiXuefeng commented on #4873
@tonihei  thanks! Hope to give me some information about how was this bug generated?

[2018-10-09 08:05] jankowskib opened #4922 "SCTE35 messages are not parsed in DASH manifest"
### Issue description
I have a live stream sends scte35 messages in DASH manifest, however they aren't parsed by EventMessage handler and sent to onMetadata() callback. As I can see in code ExoPlayer can parse these messages - SpliceCommand decoder is implemented.
Even I decode message manually I have a problem how to convert PTS time of the SCTE35 message to us time to sync messages with timeline

[2018-10-09 08:22] AlexDundar commented on #4920
@andrewlewis  Ok.
**Issue description and reproduction steps :** I start Activiy with ExoPlayerView for playing video wth VAST video ads. When time for ads has come, video freezes and player stops. I must to move player seekbar and press play\stop for watching video after this. Or I must to reload activity. If ad is preroll video doesnt start.
**Version of ExoPlayer being used:** 2.8.4 and 2.9.0.

[2018-10-09 08:43] Romantic-LiXuefeng commented on #4873
@ojw28   I find that  when the player plays the first clip video ,press home button, then resume to play,there is no this bug. Hope you give me some explanation.

[2018-10-09 08:57] PavelGP opened #4923 "Does ExoPlayer supports such kind of DASH streams?"
### Issue description
In demo app stream returns negative values for current position. Video is playing.

### Reproduction steps
Just setup provided stream to ExoPlayer demo app.
### Link to test content
Provided to dev.exoplayer@gmail.com

### Version of ExoPlayer being used
2.9.0, 2.8.1

### Device(s) and version(s) of Android being used
Nokia 8, Android 8.1

### A full bug report captured from

[2018-10-09 13:32] roundsmapp opened #4924 "Exoplayer failing when playing an 8 channel audio file in Android 8.0"
### Issue description
Exoplayer is failing when playing audio files, mp3 or ogg, with 8 channels, in Android 8.0, in some specific Samsung phones.

By "failing" I mean it plays the audio as if it was in very slow motion, not in a smooth way, in those specific devices.

It plays well in other devices tested so far, Samsung and other brands. It even plays well in a Samsung S7 with Android 8.0.

###

[2018-10-09 18:54] littlelitleStar opened #4925 "EXO PLAYER not playing some HD IPTV channels."
Hello everyone.

Im developing an app for IPTV, i have integrated EXO PLAYER , and its workin fine.
But i dont know why.

Some channels it doesnt play  ( usually those in HD )

Does anyone HAD this problem and knows how to fix it ?

[2018-10-09 19:23] littlelitleStar commented on #4925
how to implement (TSExtrator) to setup workaround flag in default constructor.
how to use FLAG_DETECT_ACCESS_UNITS and FLAG_ALLOW_NON_IDR_KEYFRAMES

[2018-10-09 21:19] ebr11 commented on #1807
Hi.  Has there been any further movement on this 708 support?

[2018-10-09 21:38] Danishbutt1122 commented on #4925
hello @psycomani  i also developing iptv app, and channles working fine on mobile but the issue is when i run app in android box, its just buffering.
in FAQ they said to add FLAGS but i dont know how to add flags
here is my code , to play and build mediasources

    `public void play(String url) {
        try {
            MediaSource mediaSource = buildMediaSource(Uri.parse(url));

            si

[2018-10-09 21:41] paf-wv commented on #4765
@islor, any luck getting an answer for @ojw28?
thanks

[2018-10-09 22:06] paf-wv commented on #4496
We have verification tests for this type of content for Android TV but not for mobile devices at this time. However we are coming up with some tests in the near future for mobile.

[2018-10-09 22:06] #4496 closed, assigned to jefftinker, paf-wv

[2018-10-09 22:14] roticv commented on #1807
Last I have looked 708 decoder is found: https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java

[2018-10-09 23:29] zsmatyas commented on #1807
@roticv That is for 608, not 708. I think there are a few pull requests pending for quite improved 608 and 708 support. Unfortunately, it seems they wont be merged in this form as reviewing them is quite difficult.

- 608 fixes and new features: https://github.com/google/ExoPlayer/pull/4900
- 708 fixes and new features: https://github.com/google/ExoPlayer/pull/4595

Reworking the pull requests int

[2018-10-10 02:05] byeze opened #4926 "Flutter - Can't play RTMP Source"
### Issue description
When trying to play RTMP Stream in Flutter, ExoPlayer throws Source error.

### Version of ExoPlayer being used
2.8.0

### Device(s) and version(s) of Android being used
Android 9

### A full bug report captured from the device
https://pastebin.com/grw8ZrDZ

[2018-10-10 05:57] Romantic-LiXuefeng opened #4927 "How to build .jar with the exoplayer module?"
I have a old  project which is developed with the ide Eclipse, The project just needs the hls,core,ui three libraries. How to build the .jar s? Hope to give me some help!
I use the least release branch V2.9.0

[2018-10-10 10:22] AlexDundar opened #4928 "ExoPlayer doesnt play one local mp4 file"
I tested on device Samsung galaxy s6 edge+. OS version is 7.0.
I have local mp4 file in `raw `folder. Here is the file: https://cdn.shanahanparker.bid/media/5/5/v55115125630675_141.mp4 and
it plays well from browser. But when I download it, put into `raw ` folder and play on `exoplayer ` I see only gray background instead of video and I hear sound of this video.

Here is my code for playing local

[2018-10-10 13:12] JamesXu20150314 opened #4929 "E/ExoPlayerImplInternal: Renderer error."
Hello,

I encounter an issue with ExoPlayer when I use "player.setVideoSurface(surface);", as follows:

[code]

Who knows why?

Thanks.

[2018-10-10 13:18] JamesXu20150314 commented on #4929
I also encounter this error：

[code]

[2018-10-10 15:26] cemrich commented on #4890
I have the same issue with the same buildTools and gradle version and an up to date Android Studio installation (3.2).

@loki666 s dontwarn directive fixed the build error, but causes the exo player instance to throw exceptions:

[code]

I am pretty sure the exceptions is caused by the shrinking but I cannot confirm right now, because I've hit the DEX limit. I will report back as soon as I find ou

[2018-10-10 17:53] retameur commented on #4913
I have been able to reproduce the bug with ExoPlayer Demo 2.8.4 (report sent by email). The playback stops after the same number of loops (which varies with each specific sound file) as in our app. Its 241 for the frogs.m4a file I've sent by email.

We have control over the media, but it is not a solution for us, as the same media are also used for iOS and the Web. And most of the current users ha

[2018-10-10 19:26] retameur commented on #4913
I have also tested with ExoPlayer demo 2.9.0 and the bug seems to be fixed now (if it still occurs, it is after way more loops). So problem solved.

Thanks for your help.

[2018-10-10 20:46] loki666 commented on #4890
I don't have this crash, but I'm not using FileDataSource

[2018-10-10 21:48] ojw28 commented on #4890
It seems more likely that the file uri is incorrect, given the stack trace.

[2018-10-10 22:09] ojw28 commented on #4926
We don't support RTMP unless using the [RTMP extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/rtmp), which I'm guessing the Flutter team are not using. So I think you probably need to report the issue to them rather than to us. They may consider it working as intended. Does Flutter claim to support RTMP?

Note that even when using the RTMP extension, there are some known i

[2018-10-10 22:11] ojw28 commented on #4921
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-10 22:11] #4921 closed, assigned to ojw28

[2018-10-10 22:14] ojw28 commented on #4919
Your app should be requesting audio focus, which I'm guessing it's not doing. Note that your app should also pause itself if it subsequently loses audio focus. We recently made managing audio focus when using ExoPlayer much easier. Read [this blog post](https://medium.com/google-exoplayer/easy-audio-focus-with-exoplayer-a2dcbbe4640e) for details.

[2018-10-10 22:29] ojw28 commented on #3923
As noted above, the issue is in the underlying platform, and isn't something we can do much about in ExoPlayer. We have a bug filed on the platform team, who will hopefully look at it for Android Q.

[2018-10-10 22:31] ojw28 commented on #4927
We don't support this. You really need to be using Android Studio and aars at this point.

[2018-10-10 22:31] #4927 closed, assigned to ojw28

[2018-10-10 22:39] ojw28 commented on #4917
We support seeking in on-demand MP3 and (to a limited extent) AAC files, but we do not support seeking in live MP3 or AAC streams.

MP3 is not the same as MPEG DASH.

https://en.wikipedia.org/wiki/Moving_Picture_Experts_Group
https://en.wikipedia.org/wiki/MP3
https://en.wikipedia.org/wiki/Dynamic_Adaptive_Streaming_over_HTTP

[2018-10-10 22:59] ojw28 commented on #4902
[Aside] I think the comment from @AquilesCanta above is about avoiding issues that can arise if your app ends up depending on multiple versions of ExoPlayer, due to transitive dependencies and the fact that we don't keep the API stable. So for example, if there's a library X that depends on ExoPlayer version 2.6, and your app depends on X and directly on ExoPlayer version 2.9, you can end up in a

[2018-10-10 23:10] ojw28 commented on #4929
The first error is exactly what the logs say:

If you want to pass a surface directly to the player, you need to make sure you're only passing a valid surface (and that you're removing it from the player when the surface is destroyed). As per the [Javadoc](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#setVideoSurface-android.view.Surface-):

[2018-10-10 23:24] Danishbutt1122 commented on #4929
@ojw28  #4925 check my issue... you did not answer my question sir :/

[2018-10-10 23:39] Danishbutt1122 commented on #4925
@ojw28 hello sir please slove that issue

[2018-10-10 23:45] hacker1024 opened #4931 "MediaSessionConnector: Having a RatingCompat in the extras will crash the system Bluetooth app"
### Issue description
This is actually an issue because of a bug in the AOSP Bluetooth app. It's not Exoplayer's fault, but it will need to be worked around anyway.

When a `RatingCompat` object is in a MediaDescriptionCompat for the playing song's queue item, [Exoplayer will copy the object into the MediaSession extras bundle.](https://github.com/google/ExoPlayer/blob/release-v2/extensions/medias

[2018-10-10 23:49] littlelitleStar commented on #4925
Does anyone gives a shit about these issues ,or you just fucking opened this fucking issues page. to fucking let people post here for no reason.

[2018-10-11 05:49] JamesXu20150314 opened #4932 "Is there any sample ExoPlayer + OpenGL for 360 video?"
Hello,

Who can share a sample ExoPlayer + OpenGL for 360 video?

Thanks.

[2018-10-11 06:52] userdimi opened #4933 "Exoplayer does not take the AdaptationSet with the highest bitrate on default"
I try to play this [DASH ](https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-multikey-cenc.ism/.mpd)File in the Exoplayer example app. When I start the video, the Exoplayer does not play the AdaptionSet with the highest bitrate.

Expected: AdaptationSet id=5 with maxBandwith 2223000 should be played on default
Actual: AdaptationSet id= 4 with maxBandwith 1018000 is playing on

[2018-10-11 07:23] supermoutant opened #4934 "如何知道视频是否在播放状态"
如标题所示如何知道视频处于播放状态。

[2018-10-11 08:11] BrainCrumbz commented on #4902
Thanks for explaining rationale behind source code inclusion. And yes, your assumptions on our case are correct. At the moment we feel we're ok with the local Maven repo setup (that post was one of our sources too), as it could also expand to a private shared Maven repo in the future.

The question in itself remains though, and it seems still related to the specific ExoPlayer scenario, not to a ge

[2018-10-11 08:15] tonihei commented on #4913
Yes, it was fixed by a change in 2.9.0 which prevents the problem you describe. Still, if you want perfect gapless playback of the looped file, you should try to ensure the duration exactly matches the content.

[2018-10-11 08:15] #4913 closed, assigned to andrewlewis

[2018-10-11 08:19] tonihei commented on #4873
The bug occurred because the player creates the element at which playback starts with a default position of zero until we know more. In your case, this default position was non-zero (because of the clipping) and we forgot to set the right offset at one point.

Not sure why you don't see the bug with the first video? I was able to reproduce the issue with the first and the second video in a concate

[2018-10-11 08:21] ojw28 commented on #4902
I'm not really sure I understand why the question isn't answered by one of the following two solutions:

1. Having your app depend on your library AAR via a local Maven repository, and pulling in ExoPlayer as a gradle dependency (this will happen automatically for the library, and you'll need to depend on it from your app if you also use ExoPlayer directly from app code). Which I think is what you

[2018-10-11 08:22] tonihei commented on #4932
There are some 360 videos in our demo app under the "360" header.
See here: [media.exolist.json](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json#L563)

[2018-10-11 08:22] #4932 closed, assigned to tonihei

[2018-10-11 08:26] tonihei commented on #4925
In order to help you with that we need more information about the actual problem. Please provide example media, used devices, ExoPlayer version and a bugreport as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-11 08:39] tonihei commented on #4931
I'm afraid there is not much we can actually do here. There is no way for ExoPlayer to know how other apps (including the Bluetooth app) use the data.

Do you have any suggestions on how this can be prevented? I guess the only way is not to set the rating in your app (unless you are sure the device includes the patch).

[2018-10-11 08:41] ojw28 commented on #4800
I got hold of a Galaxy S7, but it's running Android 8.0.0 and I can't reproduce the problem with it. I can't downgrade the device to 7.0, so still have no way to reproduce this.

[2018-10-11 09:00] hafiz013 opened #4935 "how to check current play video is finish"
hi dear developer, is there way to trace current video play is finish to play?

[2018-10-11 09:23] #4935 closed, assigned to tonihei

[2018-10-11 09:45] BrainCrumbz commented on #4902
Yes, we are doing solution nr. 1. We're not interested in third possibility ("Perhaps you want..."), that sound strange to me too.

It is not clear which steps to do in order to obtain solution nr. 2, in case it is needed. We tried and we failed: we tried adding ExoPlayer + our library as source modules in the same project in order to create a single AAR library (**without** the app) and when made

[2018-10-11 09:58] ojw28 commented on #4902
Isn't option 2 straightforward? Try checking out the whole of the ExoPlayer project as source and opening it as an Android Studio project. In the demo app's gradle file, replace
[code]
with
[code]
At that point I think you have a ready made example of the approach, where the app has an implementation dependency on a library module (called `library`), which in turn has api dependencies on ExoPlayer

[2018-10-11 09:58] #4902 closed, assigned to ojw28

[2018-10-11 10:10] tonihei commented on #4934
请检查`player.getPlaybackState`以查看播放器是否准备就绪（`Player.STATE_READY`）和`player.getPlayWhenReady`以查看播放器是否在准备好时自动开始播放。

[2018-10-11 10:23] BrainCrumbz commented on #4902
Thanks. I found (I think) the difference in what we're saying.

"Your" option 2 is one single AS project similar to those demo, listing source modules for client app, custom library and ExoPlayer. The client app depends on library and ExoPlayer modules as `implementation project(...)`.

"Our" option 2, at least the one we were aiming for, is with two AS projects. First project lists source modules

[2018-10-11 10:33] ojw28 commented on #4902
Heh, ok :). To the best of my knowledge you're supposed to go down the local Maven repository approach in that case.

[2018-10-11 11:13] deepbhavsar commented on #3953
I am facing same problem in MI device. any solution?

[2018-10-11 11:57] tonihei commented on #4935
Check if `player.getPlaybackState` is `Player.STATE_ENDED`. You can listen to state changes with `EventListener.onPlayerStateChanged`.

[2018-10-11 12:37] blood-mist opened #4936 "Is the default time bar focusable?"
I guess https://github.com/google/ExoPlayer/pull/2475#issuecomment-290684192 said this feature is enabled but making the Timebar focusable doesn't work.

[2018-10-11 12:46] andrewlewis commented on #4936
I think it should be focusable (e.g., in the demo app). Please could you provide some more details about what you did and what behavior was expected, so we can reproduce the problem here? Thanks.

[2018-10-11 12:56] blood-mist commented on #4936
Oops Sorry.. The default timebar is  not focusable from D-Pad  or I am not able to .. I replaced the default exo_playback_control_view with my own , the layout looks like this :
[code]
The default focus in on pause/play Button, When Pressing Up , I want the Timebar to get focuesd and to be able to drag the thumb for forward and rewind accordingly.

[2018-10-11 13:26] tonihei commented on #4918
I can reproduce the issue and it seems the HlsSampleStreamWrapper isn't finishing preparation because the H264Reader never reports its format. Given that this is supposed to be an audio-only stream, it's unclear to me where this H264 track is coming from. @AquilesCanta can you take a look? Even if this is bad media, I think it shouldn't continue buffering forever bur rather throw an exception at s

[2018-10-11 13:34] FirdousNath commented on #3953
I guess developers are no more active or interested in this issue :-1:

[2018-10-11 14:03] tonihei commented on #4922
Looks like we could set the mime type to be "application/x-scte35" instead of "application/x-emsg" based on the scheme id when parsing the format from the DASH manifest. This would decode the data as a TimeSignalCommand instead of a generic EventMessage. @ojw28 may know about whether this is a suitable approach.

To get some background: Why do you need to convert the PTS time yourself? When you re

[2018-10-11 14:05] tonihei commented on #4933
Please have a look at the [forceHighestSupportedBitrate](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.Parameters.html#forceHighestSupportedBitrate) parameter of the [DefaultTrackSelector](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html). Does that solve your

[2018-10-11 14:44] tonihei commented on #4923
This behaviour looks correct to me given the manifests you provided.

Note that if the current playback position falls behind the start of the current available window, ExoPlayer keeps playing the already loaded media but shows a negative position.

Also note that you always end up in this situation because the initial manifest you provide currently has 74 periods with very small durations. The in

[2018-10-11 14:56] andrewlewis commented on #4722
A quick update on this: the IMA SDK team has implemented a fix, so hopefully this will go out in an IMA release soon and then we can update the IMA extension's dependency on the SDK to pick it up.

[2018-10-11 15:22] tonihei commented on #4788
Closing because the issue is fixed by the commit above.

[2018-10-11 15:22] #4788 closed, assigned to tonihei

[2018-10-11 15:25] tonihei commented on #4787
Closing this issue due to lack of information. If you have something you can share, please reopen.

[2018-10-11 15:25] #4787 closed, assigned to tonihei

[2018-10-11 16:29] tonihei commented on #4786
Sorry for the late reply, I missed your answer.

If the device doesn't support L1, then this is probably the reason you can't play the stream with HD  resolutions. This actually means the we should automatically prevent playing encrypted HD streams on L3-only devices. However, this isn't true for all content and it's therefore difficult to do.

Can you tell us the values of `Build.DEVICE` and `Bui

[2018-10-11 17:05] ojw28 commented on #4933
The solution suggested above might select the highest bitrate stream, but it wont then allow adaptation to any of the lower quality streams in the other adaptation set

Why are there two video adaptation sets to start with? One of the goals of DASH is to allow seamless adaptation between representations, but this requires the manifest to indicate that such adaptation is possible. There are two way

[2018-10-11 17:17] marcosmagno opened #4937 "Play video from .exo files"
How can I play a video from multiple .exo files that I download on a mobile phone.
I have a list of 20 .exi files and an .exi file.

[2018-10-11 18:26] mustafasevgi opened #4938 "IMA SDK AdEventType.STARTED event is not always triggered"
Hello,

I try to play ad audio pre-roll jingle with hls stream. AdEventType.STARTED event is not always triggered on the AdEvent.AdEventListener.onAdEvent. So player play jingle(2-3 ms) and after skip media. You can see log below.

Logcat output:

[code]

Can you help please,
Thanks.

[2018-10-11 18:39] cckroets commented on #4484
Eventually every active library should be on androidx. Forcing apps to use jetifier should not be a long term solution. Can we leave this issue open until there is a release that uses androidx?

[2018-10-11 19:01] ojw28 commented on #4484
Feel free to file a new tracking issue if you feel one should exist (this one is quite noisy, and is only tangentially related). Note that the existence of a tracking issue isn't in itself going to make any difference to when we make the switch. I don't think we're aware of any reason to hurry, so unless we hear otherwise we'll probably switch naturally when we need a feature that didn't make it i

[2018-10-11 21:05] littlelitleStar commented on #4925
tonihei !

there is no info that i can give to you.
EXOPLAYER isnt playing some channels *mostly HD channels, I saw some problems like this and all answers were to add some FLAGS on EXO.

Flags are at this website https://google.github.io/ExoPlayer/faqs.html
on this section.
![image](https://user-images.githubusercontent.com/21010751/46833855-fe097580-cda9-11e8-9ee3-44d460fb551b.png)

But the prob

[2018-10-11 23:08] hacker1024 commented on #4931
Until the patch is merged into AOSP, [this bit of code](https://github.com/google/ExoPlayer/blob/r2.9.2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java#L733) should be removed.

[2018-10-12 05:35] ummerakbar45 opened #4939 "App crashes"
### Issue description
App crashes
### Reproduction steps
While testing we didn't get any such crash, but now app is live and on playstore crashes are related exoplayer

### Link to test content

### Version of ExoPlayer being used
2.9.0

### Device(s) and version(s) of Android being used
samsung, mi, moto etc
version 6+

### A full bug report captured from the device

java.lang.IndexOutOfBoundsExc

[2018-10-12 05:54] userdimi commented on #4933
@ojw28  Thank you  for your quick response. As you already suspected, I split the stream in two adaptation set for the security reasons, to play out SD or HD content depend if security requirements are met or not. I will take a look inside the document that you send me. I hope, I will find the solution for my problem there.

[2018-10-12 06:34] bigahega commented on #4908
Could you look into the issue that I have pointed out? @AquilesCanta

[2018-10-12 06:36] karma-sun opened #4940 "FFmpeg extension: Update build instructions to work with newer NDKs"
I strictly follow the readme to use the same command to build the FFmpeg extension,but got errors below:

GEN	libavutil/libavutil.version
GEN	libavresample/libavresample.version
GEN	libavcodec/libavcodec.version
CC	libavcodec/ac3_parser.o
CC	libavcodec/adts_parser.o
CC	libavcodec/allcodecs.o
CC	libavcodec/arm/fft_fixed_init_arm.o
In file included from ./libavutil/channel_layout.h:25:0,

[2018-10-12 06:55] ZohaibGhafoor commented on #4722
@andrewlewis thankyou so much to give us an update news. now we are waiting for fix update.

[2018-10-12 07:52] andrewlewis commented on #4938
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). In particular, please provide the ad tag you're trying to play here, or via email to dev.exoplayer@gmail.com.

[2018-10-12 08:17] AlexDundar opened #4941 "ExoPlayer freezes before playing midroll"
**Version of ExoPlayer being used:**  2.9.0
**Issue description:** I have ads with 2 prerolls, several midrolls and postroll. Here is the sample with vast xml: [ads_xml_with_freezing.txt](https://github.com/google/ExoPlayer/files/2472104/ads_xml_with_freezing.txt)
**Reproduction steps:** I open activity with ExoPlayerView, video starts, prerolls are skipped, in logs with debug mode I can see messa

[2018-10-12 08:45] tonihei commented on #4933
Just to add to that: even if you allow adaption between the sets, you may still see adaptation set 4 selected initially depending on the initial bandwidth estimate. If you always want to start in the highest quality immediately but keep the option open to switch down later if the bandwidth is not enough, you can override the initial bandwidth estimate in the `DefaultBandwidthMeter.Factory` instead

[2018-10-12 09:09] tonihei commented on #4931
I don't think that would solve the issue because the patch in AOSP doesn't end up automatically on all devices. That depends on the update policy of the device manufacturers.

As I said above, if you think you can detect the existence/non-existence of the patch in your app code, then you could just decide not to set the custom rating object. Also, there would be no point allowing developers to set

[2018-10-12 09:21] tonihei commented on #4925
As noted in the FAQ article you linked, you can use `setTsExtractorFlags` in the `DefaultExtractorsFactory`.
And you can set the extractors factory when creating your media source (e.g. with `ExtractorMediaSource.Factory.setExtractorsFactory`).

[2018-10-12 09:26] littlelitleStar commented on #4925
Can we contact in any other ways ( whatsapp or anything else) ?
I really dont get how to put this.

[2018-10-12 09:30] tonihei commented on #4931
We noticed that MediaMetadataCompat only uses the RatingCompat class on API level 18 and below. Can you check again which Android version you are testing on?

[2018-10-12 09:34] tonihei commented on #4925
In your code above:
[code]

[2018-10-12 09:36] psycomani commented on #4925
https://ufile.io/02ytz

Here it is my exoPlayer.java , CODE.
i dont have any default extractorfacotry

[2018-10-12 09:37] tonihei commented on #4937
These are not meant to be played directly. Please use a CacheDataSource with the same configuration (same uri etc.) as you used to save these files.

[2018-10-12 10:01] tonihei commented on #4925
Unfortunately, we don't have time to debug your code. Please try to set the extractor flags as in my post above.

[2018-10-12 10:08] tonihei commented on #4939
This is most likely because of parallel access to the player. Do you see warnings about that in the log?

[2018-10-12 10:15] littlelitleStar commented on #4925
oh., I thought you could do this.

[2018-10-12 10:15] tonihei commented on #4940
As noted in the [README of the ffmpeg extension](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md), only NDK versions up to 15c are currrently supported. We are aware of this issue but haven't fixed it yet.

[2018-10-12 10:16] tonihei commented on #4940
Marking as an enhancement until this is fixed.

[2018-10-12 10:52] andrewlewis commented on #4920
Closing this issue on the assumption we're now using #4941 to track it. If that's a separate issue please let me know and I'll reopen this one.

[2018-10-12 10:52] #4920 closed, assigned to andrewlewis

[2018-10-12 11:40] anandsingh2903 opened #4942 "Disable buffer in Exoplayer for HLS"
How can i disable buffer in Exoplayer for playing HLS.

[2018-10-12 11:42] tonihei commented on #4942
What do you mean by "disable buffer"? You need a buffer to play the media.

[2018-10-12 12:16] LightSun opened #4943 "Is there a way to seek frames precisely ?"
ExoPlayer Version: 2.9.0
Device:  nexus6p
---------------------------------------------------
i used exoplayer to play '.mp4' file. but seek has problems.
I want to seek frames precisely, is there a way to do it with exoplayer ?

[2018-10-12 12:21] tonihei commented on #4943
ExoPlayer does seek precisely except for formats which don't support exact seeking. See this [FAQ](https://google.github.io/ExoPlayer/faqs.html#why-are-some-media-files-not-seekable), and issues #328 and #3233.

[2018-10-12 12:22] anandsingh2903 commented on #4942
I am playing HLS stream it is playing fine in Exoplayer but when I change the channel the server starts throwing new channel HLS stream but my exoplayer gets stuck on previous video and doesn't start playing new HLS data stream.

[2018-10-12 12:24] anandsingh2903 commented on #4942
What should i do in this case. I can see Discontinuity detected log in Exoplayer logs but the playlist.m3u8 which is coming from the network has ex-discontinuity tag.

[2018-10-12 12:41] tonihei commented on #4942
I'm not an expert on how HLS playlists are supposed to look like in such a case. Maybe @AquilesCanta can advise further.

[2018-10-12 12:43] anandsingh2903 commented on #4942
Thanks. I can share the code with you if needed.

[2018-10-12 12:52] LightSun commented on #4943
@tonihei is there a sample code ?  i used exoplayer to play '.mp4' file. but seek has problems.

[2018-10-12 13:18] tonihei commented on #4943
Seeking in mp4 files should be pretty accurate. Please explain your problem in more detail with reproduction steps and example media.

[2018-10-12 13:58] ojw28 commented on #4908
@tonihei - I reckon this was probably broken by [Internal CL ref cr/192621719]. Although perhaps it didn't work before that, either :). Behavior of `ClippingMediaPeriod.ClippingSampleStream.readData` and `MergingMediaPeriod.readDiscontinuity` are probably both worth looking at for the case described.

[2018-10-12 14:56] tonihei commented on #4928
The file also fails to play in the browser and on two other devices. The failure is happening on a decoder level which indicates that the media itself is likely to be malformed.

[2018-10-12 16:29] ummerakbar45 commented on #4939
No I haven't check logs yet, I don't think it is called in parallelly.
Is there any method by which I can check if ExoPlayer is occupied .
On Fri 12 Oct, 2018, 3:39 PM tonihei, <notifications@github.com> wrote:

[2018-10-12 16:36] Dkoran opened #4944 "how to pass array of songs to exoplayer"
I wanted to implement eco player into my music streaming application, so I followed google iOS 18 exoplayer tutorials but when I pass array to the service the app crushes, I need help In solving the issue.

[2018-10-12 16:41] ojw28 commented on #4944
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-12 16:41] #4944 closed, assigned to nobody

[2018-10-12 18:29] alfonsoramosa commented on #3877
@ojw28 @andrewlewis
Any progress with dis enhancement or planned date to start working on it?

[2018-10-12 18:52] Faiyyaz opened #4945 "Disable forward seeking while enabling previous seek"
Hello,

Thank you for such an amazing library

Though i have requirement which i am not able to see in the current version. The requirement is suppose i have watched the video till 1 min so i can seek to 0 min and watch it again but i cant take it from 1 min to 2min i.e i want to disable seeking beyond the time user viewed the video. So please help me how can i achieve it. Since i m not able to ca

[2018-10-12 19:07] marcosmagno commented on #4937
@tonihei I'm sending these files to other phones (via D2D). I can not play this list of .exo files on other phones that are without internet access? D2D clients need to have access to the internet?

[2018-10-12 19:13] ojw28 commented on #4945
All seek calls on the player originate from application code or ExoPlayer's UI components. ExoPlayer's UI components generally have `setControlDispatcher` methods that you can use to set a component capable of intercepting and modifying calls to the player. So you can implement a class like this:
[code]
then create an instance, and pass it to any UI components you use. For example:
[code]
For any

[2018-10-12 19:33] littlelitleStar commented on #4925
Does anyone else , can give some HELP ?

[2018-10-12 21:34] littlelitleStar commented on #4925
Hello tonihei !!
I fixed that, i ADDED ALLOW_NON_IDR_FRAMES , AND its working.
but i have another problem.

It plays channels with PIXELS
![image](https://user-images.githubusercontent.com/21010751/46895121-5ce8f080-ce77-11e8-840b-8e8cd7aad2df.png)

Can we fix this ?

[2018-10-12 23:05] littlelitleStar opened #4946 "exoPlayer cant play mp2 audio."
Hello !

Im developing an app , and um using exoplayer.
I have puted my TV channels on tha app, and using exoplayer to play them.

But if channel is usin "aac" audio, it WORKs
when the audio is "mp2" , it doesnt work.
It plays just the VIDEO , without sound.

[2018-10-12 23:09] littlelitleStar commented on #4946
JUST FOUND THAT IS A PROBLEM IN THE DEVICE ,NOT ON EXO.

...................... CLOSED ............................

[2018-10-13 02:24] marcochin opened #4947 "ExoPlayer2 vs ExoPlayer2 Amazon Port"
There was a comment two years ago for another issue that the Amazon Port is not recommended due to quality issues that didn't look safe. I also saw in 2.8.3 release notes of the original ExoPlayer2 that there was FireOS compatibility improvements. Is this still the case today? Thanks.

[2018-10-13 03:54] LightSun commented on #4943
@tonihei thanks.i fixed. Sorry,  It is my reason.

[2018-10-13 04:34] Faiyyaz commented on #4945
Ok thanks a lot i will try this in some day and will get back to you

[2018-10-13 06:58] xinyang123123 opened #4948 "Improve parsing speed for large WebVTT files"
After selecting the specified subtitle, it will appear 5-10 seconds later, but the audio is still synchronized after the appearance. I use `TrackSelectionView` to switch the subtitle. The version number is `2.8.4`.

I am testing on Fire TV.

[2018-10-13 12:20] SystemRestored opened #4949 "VP9 extension"
Hello I am new in developing. Just wanted to ask, is there any way to compile the vp9 extension like the cast extension in existing application by simply adding implementation method in existing app? I didnot find any good tutorial on how to build or incorporate extensions of exoplayer in existing app. can any one help me?

[2018-10-13 12:37] SystemRestored commented on #4949
also I am getting this error while after adding

 gradle.ext.exoplayerRoot = 'exoplayerpathinmypc'
gradle.ext.exoplayerModulePrefix = 'exoplayer-'
apply from: new File(gradle.ext.exoplayerRoot, 'core_settings.gradle')

errors:  The modules ['exoplayer-extension-cronet', 'extension-cronet'] point to the same directory in the file system.
Each module must have a unique path.

The modules ['exoplayer

[2018-10-13 16:14] SystemRestored opened #4950 "Vp9 extension build failed"
cd ${VP9_EXT_PATH}/jni && \
./generate_libvpx_android_configs.sh "${NDK_PATH}"

used this command and I get the following error:
![errotvp9](https://user-images.githubusercontent.com/32890494/46907492-e6a8c480-cf30-11e8-820a-963590d6ab7a.png)

config building log with error
[config.log](https://github.com/google/ExoPlayer/files/2475620/config.log)

[2018-10-13 18:04] littlelitleStar opened #4951 "NON IDR frames VIDEOS playing with alot of PIXELS on exoplayer"
I had a problem that EXO player wasnt playing non IDR frames videos, but i fixed it by adding the "FLAG_ALLOW_NON_IDR_KEYFRAMES" FLAG.

Afer adding that, Channels are playing good. But then i saw that those NON IDR KEYFRAME channels , are playing good in MOBILE SCREEN, but in Android boxes and Emulators like bluestacks. Its playing the video with a lot of pixels. Like this PHOTO. taken from an exa

[2018-10-13 21:14] PaulWoitaschek commented on #1434
@AOrobator
Nope, building these so they can run on a CI / whatever build environment and constantly updating them is real pain.
Is just stopped updating the opus and flac extensions because exoplayer uses parts of the NDK which are not compatible with some specific NDK versions, and then jitpack doesn't build, and then ...

Long story short: Please @ojw28 concider publishing these extensions. Is t

[2018-10-13 23:53] hacker1024 commented on #4931
I'm 100% testing on Pie 9.0 (API 28).

The RatingCompat object if being forwarded from the queue item description into the MediaSession. It's still useful for developers to access the rating of queue items (which is what I'm doing), even if it isn't forwarded into the MediaSession.

[2018-10-14 01:15] littlelitleStar opened #4952 "EXOplayer fails to play channels on Android Versions from 4.2 to 5.0"
EXOplayer fails to play channels on Android Versions from 4.2 to 5.0
with logcat errors.

`10-14 01:07:58.011 3037-3198/com.example.danish.iptv E/OMXNodeInstance: OMX_GetExtensionIndex OMX.google.android.index.storeMetaDataInBuffers failed
10-14 01:07:58.011 3037-3198/com.example.danish.iptv E/ACodec: [OMX.google.h264.decoder] storeMetaDataInBuffers failed w/ err -2147483648
10-14 01:07:58.023 303

[2018-10-14 03:48] #4949 closed, assigned to nobody

[2018-10-14 03:48] #4950 closed, assigned to nobody

[2018-10-14 03:57] SystemRestored opened #4953 "vp9 x86 build issue not x32 on x86_64 system"
My system is ubuntu 18.04 lts X86_64

while building the vp9 extension, armeabi, armeabi-v7a, mips  build is ok but in x86 it failing
`# ../../libvpx/configure --force-target=x86-android-gcc --sdk-path=/media/subhanjan/Driver/linux-ndk --disable-sse2 --disable-sse3 --disable-ssse3 --disable-sse4_1 --disable-avx --disable-avx2 --enable-pic --disable-examples --disable-docs --enable-realtime-only --

[2018-10-14 11:21] thibseisel opened #4954 ""ParserException: searched too many bytes" with specific MP3 files"
### Issue description
When playing MP3 files located on the device's storage with `SimpleExoPlayer`, some will trigger a source error when played to completion:
[code]

At the time of writing, I reproduced the bug only with specific files (all tracks from the same album).
Are my files corrupted, or is this a real ExoPlayer issue ? It doesn't happen with ExoPlayer 2.8.4.

### Reproduction steps
1.

[2018-10-14 12:18] cemrich commented on #4890
You were right, my issue was related to loading subtitles and had nothing to do with proguard. I am sorry for causing confusion.

In the process of finding this out I made a minimal test app to reproduce the Proguard issue: https://github.com/cemrich/ExoTestApp-4890. You can edit https://github.com/cemrich/ExoTestApp-4890/blob/master/app/proguard-rules.pro and comment out the single line to provok

[2018-10-14 17:08] littlelitleStar commented on #4952
Anyone here,....................

[2018-10-15 03:09] hafiz013 opened #4955 "How to play video full screen in landscape even though set screen potrait mode"
hi dear developer, I am looking way for play video in landscape mode like (youtube) when click expand to view in full screen even though current page is set up in portrait mode (set in manifest). Below here sample code that i get :

`((ViewGroup) mExoPlayerView.getParent()).removeView(mExoPlayerView);

        LayoutInflater inflater = (LayoutInflater) context.getSystemService(Context.LAYOUT_INFLA

[2018-10-15 06:17] xinyang123123 commented on #4948
When my vtt subtitle file is about 4M, it takes 30 seconds to load.

[2018-10-15 06:36] anandsingh2903 opened #4956 "Reset Exoplayer when AudioTrack Discontinuity is detected"
How can I reset the exoplayer whenever there's a audio track Discontinuity detected.

[2018-10-15 07:13] ojw28 commented on #4947
I would suggest that you always try and use vanilla ExoPlayer first. We made some compatibility improvements in 2.8.3 that minimized the difference between plain ExoPlayer and the Amazon fork, therefore reducing the need for it.

It's pretty easy to see what's different between the two versions by looking at the changes Amazon patch on top, [here](https://github.com/amzn/exoplayer-amazon-port/comm

[2018-10-15 07:13] #4947 closed, assigned to ojw28

[2018-10-15 07:14] #4946 closed, assigned to ojw28

[2018-10-15 07:43] #4945 closed, assigned to ojw28

[2018-10-15 07:50] ojw28 commented on #4955
The correct way to do this is to rotate the activity into landscape when the user presses the button. This is what YouTube does. You can find some information on how to do it [here](https://stackoverflow.com/questions/18268218/change-screen-orientation-programmatically-using-a-button). Further questions about using that functionality should be sent to StackOverflow, since this is not ExoPlayer spe

[2018-10-15 07:50] #4955 closed, assigned to ojw28

[2018-10-15 07:51] #4943 closed, assigned to tonihei

[2018-10-15 07:54] ojw28 commented on #4948
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-15 08:11] #4852 closed, assigned to andrewlewis

[2018-10-15 08:12] ojw28 commented on #4649
We don't have any plans to back-port the fix, sorry.

[2018-10-15 08:12] #4649 closed, assigned to erdemguven

[2018-10-15 08:13] #4826 closed, assigned to andrewlewis

[2018-10-15 08:13] #4926 closed, assigned to ojw28

[2018-10-15 08:13] #4929 closed, assigned to ojw28

[2018-10-15 08:14] #4820 closed, assigned to ojw28

[2018-10-15 08:16] #4723 closed, assigned to AquilesCanta

[2018-10-15 08:16] #4712 closed, assigned to ojw28

[2018-10-15 08:18] ojw28 commented on #4818
Closing due to lack of information. Please properly fill out the issue template if you want us to look at these issues.

[2018-10-15 08:18] #4818 closed, assigned to ojw28

[2018-10-15 08:20] ojw28 commented on #4838
We probably need to assume subtitles are not protected. Marking as a bug.

[2018-10-15 08:26] ojw28 commented on #4532
Regarding `ASSERTIONS_ENABLED`: We only assert things that should always be true. In most cases disabling an assertion will result in a subsequent failure shortly thereafter, which is often much harder to debug (e.g. because it occurs on a different thread to where an API was originally misused). Hence it's clearly preferable to leave them enabled.

For the particular assertion being discussed her

[2018-10-15 08:38] AquilesCanta commented on #4909
Here is a link to [DebugTextViewHelper](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/DebugTextViewHelper.java). The resolution will be available in the video format if the manifest declares the resolution.

[2018-10-15 08:43] ojw28 commented on #4532
Actually, we're just going to remove the assertion in question. It's not a particularly useful one. What happens to playbacks on the affected devices once the assertion is removed, we don't really know.

[2018-10-15 08:46] noamtamim commented on #4649
@ojw28 thanks, I asked two months ago :-)
By now we'll soon upgrade to 2.9.x anyway, so we're good. Thanks again.

[2018-10-15 08:55] tonihei commented on #4939
You should see a warning which starts with "Player is accessed on the wrong thread". If you want to check in code which thread should be used, you can call `player.getApplicationLooper()` which returns the Looper of the thread on which all player calls must happen.

If you can't find this warning and all player access is happening on the correct thread, please try to provide further context of wha

[2018-10-15 09:01] tonihei commented on #4937
You don't need internet access to play the files, but you do need the original uri in the media source and data source setup. This ensures the Cache finds the correct file.
For example:
[code]

@erdemguven may be able to provide further hints.

[2018-10-15 10:25] ojw28 commented on #4532
Removal of the assertion will be in the next release.

[2018-10-15 10:25] #4532 closed, assigned to ojw28

[2018-10-15 10:32] AquilesCanta commented on #4918
Try using FLAG_IGNORE_H264_STREAM instead of FLAG_ALLOW_NON_IDR_KEYFRAMES.

It seems to me that the PMT declares a video stream (on PID 256) for which there are no TS packets.

[2018-10-15 10:32] #4918 closed, assigned to AquilesCanta

[2018-10-15 10:37] AquilesCanta commented on #4942
Can you provide a snapshot of a media playlist that includes a discontinuity along with its segments?

Once this is included, we will reopen the issue. We need to be able to reproduce ourselves to help you.

[2018-10-15 10:37] #4942 closed, assigned to AquilesCanta

[2018-10-15 10:57] Faiyyaz opened #4957 "Decoder init failed: OMX.qcom.video.decoder.avc on lg q6"
I have implemented exoplayer & i have provided the option of orientation toggle in the said app. But if i toggle it multiple times in a less time then i get the below error & video stops playing

E/ExoPlayerImplInternal: Playback error.
    com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init fa

[2018-10-15 12:44] anandsingh2903 opened #4958 "Unable to resolve dependency for exoplayer-library-core"
I have created a new project in latest android studio and when I am adding exoplayer locally as shown on github then I am getting unable to resolve dependency for exoplayer-library-core and same for HLS, UI, DASH

[2018-10-15 12:52] bigahega commented on #4908
Is there any workaround in your mind so that I can get this to work somehow? Basically I want to play a single audio file from `0` to `t` secs and `N` video files with a total duration of `t` secs.

[2018-10-15 13:33] tonihei commented on #4925
Second question is tracked by #4951. Closing this issue because the first question was answered.

[2018-10-15 13:33] #4925 closed, assigned to tonihei

[2018-10-15 13:37] ojw28 commented on #4780
This makes sense. I think more broadly we should probably:

1. Get rid of `EMSG_MEDIA_PRESENTATION_ENDED` and related methods/logic completely, and just handle those events using the regular `EMSG_MANIFEST_EXPIRED`. This simplifies your patch a little (e.g. `dynamicMediaPresentationEnded` goes away completely).
1. Have `DefaultDashChunkSource` set `endOfStream` based on whether the period duration

[2018-10-15 13:49] ojw28 commented on #4780
A proposed change that implements the above is here: https://github.com/google/ExoPlayer/commit/f70cc757cff567c0c51b90662d0c94cf4d430db2

Could you give that a try with the streams you have, and/or review it for sanity? For (3) I've not used `manifest.durationMs` (there's a TODO there to split the field), but you can edit just that line for testing purposes.

[2018-10-15 14:32] ojw28 commented on #4780
[Related internal refs: b/69703223, b/31426754, clipped live streams]

[2018-10-15 14:48] BrainCrumbz commented on #4898
Sorry to drag this further, but by any chance has *onTracksChanged* event behaviour changed between 2.8.2 and 2.9.0?
We're trying to upgrade to 2.9.0 and upon a seek from current track (e.g. index 0) to another one in playlist (e.g. index 2) we're seeing that event invoked twice, while in previous version it was once.

[2018-10-15 14:55] tonihei commented on #4898
@BrainCrumbz
Yes, it did change with [this commit.](https://github.com/google/ExoPlayer/commit/0fbe083d4ec81e4482f8cdbe6cb53f6bc6173ecb) The reason is that for a short period of time no tracks are selected at all because we seeked away from the current item and don't have enough about the new item yet to make an actual track selection. Eventually, this ensures that `player.getCurrentTrackGroups` a

[2018-10-15 14:58] tonihei commented on #4908
Can't reproduce with the latest dev branch, but it may have been fixed by [this commit.](https://github.com/google/ExoPlayer/commit/46731cdd1dc5ac940f95414ad28a18910431a644) Can you try the the dev-v2 branch to see if it still occurs? The underlying reason is probably a duplicate of #4873.

[2018-10-15 15:04] BrainCrumbz commented on #4898
Thanks for the real quick response. Well, it looks like we'll *have* to change our track change detection logic, move away from `onTracksChanged` and rely instead on `onPositionDiscontinuity`! Let's hope timing will not mess up things 😮 😉

[2018-10-15 15:15] tonihei commented on #4898
For what it's worth, I think the time you get by listening to `onPositionDiscontinuity` is a more accurate depiction of the transition (as already pointed out above) because it's the point where you logically switch to the new playlist item and all time spent waiting until the new item is ready should be considered part of the buffering for the new item. If you think that's not true for your use c

[2018-10-15 15:49] tonihei commented on #4931
That's strange, because if you look at the [code which sets the rating](https://android.googlesource.com/platform/frameworks/support/+/support-library-27.1.1/media-compat/java/android/support/v4/media/MediaMetadataCompat.java#827), the Bundle should not contain a RatingCompat object but a Rating object directly. Your stack trace however indicates that the bluetooth app fails because it can't read

[2018-10-15 17:07] AndreyAsadchy opened #4959 "Is it possible to download only specific .ts files of HLS playlist?"
For example this playlist:

`#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:13
#ID3-EQUIV-TDTG:2018-10-10T20:51:50
#EXT-X-PLAYLIST-TYPE:EVENT
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:12.500,
0.ts
#EXTINF:12.500,
1.ts
#EXTINF:12.500,
2.ts
#EXTINF:12.500,
3.ts
#EXTINF:12.500,
4.ts
#EXTINF:12.500,
5.ts
#EXTINF:12.500,
6.ts
#EXTINF:12.500,
7.ts
#EXTINF:12.500, ...
1786.ts
#EXTINF:6.500,
1787.ts
#EXT-X-ENDLIST

[2018-10-16 00:18] jrw95 opened #4960 "Will the ExoPlayer Cast Extension be updated to use play-services-cast-framework:16.0.2?"
### Question:
On behalf of our customer, is there a plan to update the ExoPlayer Cast extension to use this newer version of the Cast Sender framework?

### Issue description
A customer of ours has reported that some of their users are experiencing a bug that is apparently caused by an IllegalStateException thrown with play-services-cast-framework:16.0.1, in devices running Android 8.0 or greater.

[2018-10-16 01:59] marcochin commented on #4907
If you share common exoplayer library between different modules make sure they have the statement as well. We have android tv, android mobile, instant apps etc and had to put that in all 3 gradle files.

compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

[2018-10-16 05:25] anandsingh2903 opened #4961 "Exoplayer stucks at Discontinuity tag."
Exoplayer gets stuck at Discontinuity tag and then I had to seek forward or backward to play video.

[2018-10-16 06:54] xinyang123123 commented on #4948
### Issue description
When i try to load a subtitles which size over than 4M, the subtitles will show untill fully loaded. before loading successfully, there will no any signal shows subtitles is loading.
I tried in FireTV stick and FireTV ,there are 15-40 seconds loading time, and the subtitles shows correctly when loaded successfully.

### Reproduction steps
Open the video and select subtitle.

[2018-10-16 06:54] Faiyyaz opened #4962 "Player becomes null on orientation change"
Hi,

I have to show different layout for different orientation so i have created 2 layout files for the same but the issue is if i toggle orientation then the player is recreated rather using the old player object & it leads to Decoder init failed: OMX.qcom.video.decoder.avc error.

So please help me what to do in this case

[2018-10-16 09:07] vuongxuanhong opened #4963 "Cannot compile ffmpeg extension for exoplayer"
I tried to compile ffmpeg extension for exoplayer, but face to this problem

[code]
I open the log file and this is the error:

[code]
I execute the code in README of ffmpeg extension.

[code]

How can i solve this problem ? I do on Mac OS Mojave

[2018-10-16 09:43] #4962 closed, assigned to nobody

[2018-10-16 09:44] Faiyyaz commented on #4962
This has been solved by me :)

[2018-10-16 10:08] AquilesCanta commented on #4961
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-10-16 10:08] #4961 closed, assigned to AquilesCanta

[2018-10-16 11:37] bigahega commented on #4908
Tried the dev-v2 branch through Jitpack within our main project and I'm sure I'm not missing something out but the project doesn't compile and yields a good many `Type mismatch` errors during compile time regarding `Player!`-`ExoPlayer`.

I will try it in a fresh project when I have some more time, hope it is indeed fixed.

[2018-10-16 11:52] AquilesCanta commented on #4960
The next version will depend on 16.0.3. Thanks!

[2018-10-16 13:08] herintsoaRazaf opened #4964 "Why we have always the value of castPlayer.getCurrentTimeline().getWindowCount() <= 3 ?"
Hi,

I've tried to use the MediaSession extension and the Cast Extension together with the `CastMediaControlIntent.DEFAULT_MEDIA_RECEIVER_APPLICATION_ID` from the package `com.google.android.gms.cast` as the receiver application id. I notice strange behaviour with the method `castPlayer.getCurrentTimeline().getWindowCount()` which returns always a value less or equal than 3, even if I have a long

[2018-10-16 13:27] anandsingh2903 opened #4965 "HLS multiple audio stream, exoplayer shows black screen and doesn't play the video."
I am playing a live HLS stream in which I am getting multiple audio streams/tracks and the exoplayer log shows PesReader : unexpected start code prefix : 14027364

Screen is black and exoplayer is in buffering state but I can see that my player is receiving data because network speed is coming at 1 mbps.

How can i fix this.

[2018-10-16 13:28] andrewlewis commented on #4965
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-16 17:47] LuizEdgar opened #4966 "Unable to play 1080p videos on low end devices."
### Issue Description
Playing 1080p videos on **low end devices** won't work.

This error appears on logcat:
`Caused by: java.lang.IllegalStateException
        at android.media.MediaCodec.native_dequeueOutputBuffer(Native Method)
        at android.media.MediaCodec.dequeueOutputBuffer(MediaCodec.java:1033)`

*Complete error and logcat attached.

The bug appears on 1080p videos, but also on HLS vi

[2018-10-16 23:06] weizhaoj opened #4967 "Question on Release-2.7.0"
I checked below to understand the supported-format Exoplayer supported.
https://google.github.io/ExoPlayer/supported-formats.html

I have two question:
Q1: Does Exoplayer support MPEG-DASH? Please refer to below content.
http://amssamples.streaming.mediaservices.windows.net/683f7e47-bd83-4427-b0a3-26a6c4547782/BigBuckBunny.ism/manifest(format=mpd-time-csf)
Q2: In HLS, it says it doesn't support "S

[2018-10-16 23:26] weizhaoj commented on #4967
Below is the log when play a MPEG-DASH stream:
[code]

[2018-10-16 23:36] andrewlewis commented on #4967
For the first question please try using `DashMediaSource` instead of `ExtractorMediaSource`.

For the second question I think we only support AES-128 CBC mode but @AquilesCanta can confirm

[2018-10-16 23:40] andrewlewis commented on #4963
Which NDK version are you using? Currently we only support up to r15c. See also #4940.

[2018-10-16 23:44] andrewlewis commented on #4959
Support for partially downloading an adaptive stream is tracked by #1497.

[2018-10-16 23:44] #4959 closed, assigned to andrewlewis

[2018-10-16 23:46] andrewlewis commented on #4958
Are you following the steps [here](https://github.com/google/ExoPlayer#locally)? Do you see the modules appearing as part of the project?

[2018-10-16 23:48] andrewlewis commented on #4957
Closing on the assumption that this was the same as #4962. If not please file a new issue and include all the information requested in the [new issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-16 23:48] #4957 closed, assigned to nobody

[2018-10-16 23:51] MateusZitelli commented on #4872
Protruly B10S - The issue happens with Gear 360 videos - Android 7.1.1

[2018-10-16 23:52] andrewlewis commented on #4956
There isn't a way to listen for this event directly at the moment (you'd need a custom audio sink). Could you provide some more details about when you see the discontinuities and why the built-in behavior of resynchronizing is not sufficient? Thanks.

[2018-10-16 23:55] andrewlewis commented on #4954
Given that this seems to be a regression since 2.8.4 it might be a bug, but to investigate we need to be able to reproduce the issue. If you can find some minimal input that reproduces the issue and can be shared please send it to dev.exoplayer@gmail.com.

[2018-10-17 00:06] weizhaoj commented on #4967
@andrewlewis Could you suggest how to switch "ExtractorMediaSource" to "DashMediaSource"?
We download the src code package and change the media.exolist.json in demo/src/main/assets/ to include MPEG-DASH like below:

{
    "name": "Playready 2.x tests",
    "samples": [
      {
      "name": " CLEAR: Big Buck Bunny , H264 AAC 1080p, MPEG-DASH",
      "uri": "http://amssamples.streaming.mediaservice

[2018-10-17 00:07] andrewlewis commented on #4966
I think this is just a case of the decoders not being capable of decoding the input. Please consult the [Android CDD](https://source.android.com/compatibility/cdd) for information on the minimum requirements you can assume are met on all Android devices for a given platform version.

Looking at the logging from the Samsung device, `E/SPRDAVCDecoder(  183): [1920,1088] is out of range [1280, 1023],

[2018-10-17 00:07] #4966 closed, assigned to andrewlewis

[2018-10-17 00:09] andrewlewis commented on #4952
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-17 00:16] andrewlewis commented on #4951
Setting `FLAG_ALLOW_NON_IDR_KEYFRAMES` makes the player assume that all I-frames are synchronization points, but this assumption is not valid for all cases. This is probably an example of a stream where I-frames are not all synchronization points.

I think @AquilesCanta had a plan to handle some additional signaling for synchronization points via particular SEI NAL units, which might help, but it

[2018-10-17 00:19] andrewlewis commented on #4967
If you're using the `PlayerActivity` from the demo app, please try adding `"extension": "mpd"` alongside name and uri.

[2018-10-17 00:25] littlelitleStar commented on #4951
Can we figure out any solution about this ?

[2018-10-17 00:31] littlelitleStar commented on #4951
The Thing that drives me crazy is that , On my mobile PHONE ,is working perfectly..

But on Android Boxes and Emulators , You cant watch them ,, too many PIXELS. image is too bad

[2018-10-17 01:48] weizhaoj opened #4968 "PIFF AAC-LC playback failure"
Exoplayer Version: 2.7.0 Release.

Audio Encoding Settings : AAC-LC
Encryption Settings : PIFF Encryption AES128-CTR

looks Exoplayer get failed on "null object reference". Below is the full log.

[code]

[2018-10-17 02:28] Faiyyaz opened #4969 "Decoder init failed: OMX.qcom.video.decoder.avc on lg q6 for HD hls stream link"
### Issue description
When a user select an HD Track from trackselector then the video playing stops and the error given in the title come

### Reproduction steps
Try to play apple TS videos in demo app and select the highest quality which shows around 8mb size

### Link to test content
It occurs in demo app so the links are already with you

### Version of ExoPlayer being used
2.9.0

### Device(s

[2018-10-17 04:12] anandsingh2903 commented on #4965
#description of issue

When playing live HLS stream, my device is receiving data as network speed is shown of about 1Mbps, but the screen is black and exoplayer is in buffering state all along.

It is happening in demo app also.

Cannot provide you stream link as i am testing this locally.

#Logs from exoplayer

I am getting these logs continously in exoplayer.

`17.292 11865-11902/com.example.ana

[2018-10-17 04:13] anandsingh2903 commented on #4965
#description of issue

When playing live HLS stream, my device is receiving data as network speed is shown of about 1Mbps, but the screen is black and exoplayer is in buffering state all along.

It is happening in demo app also.

Cannot provide you stream link as i am testing this locally.

#Logs from exoplayer

I am getting these logs continously in exoplayer.

17.292 11865-11902/com.example.anan

[2018-10-17 04:14] anandsingh2903 commented on #4965
This is my MainActivity code

package com.example.anand.hlsapp;

import android.content.Context;
import android.net.Uri;
import android.os.Handler;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.ProgressBar;
import android.widget.Toast;

import com.google.android.exoplayer2.C;
import com.google.android.exoplayer2.DefaultLo

[2018-10-17 04:38] anandsingh2903 commented on #4958
Yes, i followed exact steps but i guess something went wrong. Created new project and implemented the library again. Now it's working.

[2018-10-17 04:39] anandsingh2903 commented on #4956
I think built in behavior is working correctly, it's just that maybe i am testing recorded feed and the player is getting stuck when the feed starts again from same loop. Now i am trying to test it on Live Feed. Will report if the issue exists in the live feed also.

[2018-10-17 05:03] anandsingh2903 commented on #4965
Will implementing HLSMasterPlaylist help in this, I am using HLS Live Stream with multiple audio streams i think.

[2018-10-17 05:03] #4958 closed, assigned to andrewlewis

[2018-10-17 05:03] #4956 closed, assigned to andrewlewis

[2018-10-17 07:02] Yourbadman opened #4970 "Support more formats in the Ogg container (e.g. Theora)"
[movie.ogg.zip](https://github.com/google/ExoPlayer/files/2486176/movie.ogg.zip)

Can't play this ogg file. OggExtrator.sniffInternal will return false,  so none of the available extrators.

[2018-10-17 07:06] Yourbadman commented on #4970
OggExtrator.java
if (!header.populate(input, true) || (header.type & 0x02) != 0x02) {
      return false;
}
will be return false;

but i can play this ogg file in Android MediaPlayer.

[2018-10-17 08:46] meenukrishnamurthy opened #4971 "Getting the resolution(1080p,430p etc) when a video is played in "AUTO" in quality"
Is there a way in which we can show the resolution when auto is selected in quality.I just want to show if auto is selected the resolution its selecting to play the video

[2018-10-17 08:46] AndroidDeveloperLB commented on #4650
@erdemguven Not sure I understand how to make it work. Do you have a sample, perhaps?

[2018-10-17 08:51] tonihei commented on #4971
Please add a `VideoListener` to `SimpleExoPlayer.addVideoListener`. The callback `onVideoSizeChanged` notifies you when the currently displayed size changes.

If you need the `Format` object of the selected quality, please add an `AnalyticsListener` and listen to `onDownStreamFormatChanged` which is similar but gives you the `Format` object and selection reason and other data.

[2018-10-17 09:23] meenukrishnamurthy commented on #4971
I am actually using an older fork.Have added exoplayer as library in my app.There is no analytics listener in it.I just want to know which track is being selected while playing Auto.My video format is HLS

[2018-10-17 09:30] tonihei commented on #4971
You can use `addVideoDebugListener` on older versions with the same callback.

Note that for HLS specifically, the `Format` reported in `onDownStreamFormatChanged` may include both video and audio if they are muxed together. In this case you'll only get the actual video size when listening to `onVideoSizeChanged`. Depends on what information you need.

[2018-10-17 09:31] AquilesCanta commented on #4951
I am not 100% sure that the SEI handling will help your issue, @psycomani. There is not much we can do about this, unfortunately. We don't have the time to properly investigate this right now.

[2018-10-17 09:33] AquilesCanta commented on #4951
Let's use #2841 to track handling of SEI recovery points. I cannot think of a solution for the device-specific decoding issue, though.

[2018-10-17 09:33] ojw28 commented on #4970
That's not what happens. It's returning false further down:
[code]
This is because we only support Vorbis, Opus and Flac inside the OGG (see our [supported formats page](http://google.github.io/ExoPlayer/supported-formats.html)). Where-as I think this particular file contains Theora video. Marking as an enhancement, but I doubt this will considered high priority.

[2018-10-17 10:39] AndroidDeveloperLB opened #4972 "Bug: unable to play videos anymore using direct URL ?!"
I have no idea what went wrong, but I remember it worked fine before.

What I've tried:
- playing multiple URLs, including both http and https ones.
- setting to targetSdk 27 (because of [this issue](https://github.com/google/ExoPlayer/issues/4599))
- adding the xml file as written [here ](https://developer.android.com/training/articles/security-config), but the IDE has put an error mark on the co

[2018-10-17 11:36] meenukrishnamurthy commented on #4971
thanks i used onVideoSizeChanged.Its working

[2018-10-17 11:36] #4971 closed, assigned to tonihei

[2018-10-17 11:39] anandsingh2903 commented on #4965
There's one more thing that i have found out about. The HLS Stream which player is getting is encrypted i think. Can this be also a reason that the player is unable to display the video or render it.

How can i decrypt it, how can i implement decryption.?

[2018-10-17 12:06] AndroidDeveloperLB commented on #4972
I've tried now to modify the "demo-ima" sample of the repository, to play just the video, without ads, and it also failed.

See here:

[ExoPlayer.zip](https://github.com/google/ExoPlayer/files/2487263/ExoPlayer.zip)

Also tried to make a minimal sample for playing a video using latest API, and failed:
[MyApplication4.zip](https://github.com/google/ExoPlayer/files/2487487/MyApplication4.zip)

[2018-10-17 12:19] ummerakbar45 opened #4973 "Null pointer exception when used extension ima"
### Issue description
Null pointer exception

### Reproduction steps
Added
  implementation 'com.google.android.exoplayer:extension-ima:2.9.0'

### Link to test content
No link available

### Version of ExoPlayer being used
implementation 'com.google.android.exoplayer:exoplayer:2.9.0'
    implementation 'com.google.android.exoplayer:extension-ima:2.9.0'

### Device(s) and version(s) of Android bei

[2018-10-17 13:40] AndroidDeveloperLB commented on #4972
Seems this might be an issue with the URLs I've tried, as I've found now a url that works fine:

https://archive.org/download/big_buck_bunny_201801/big_buck_bunny.mp4

Probably all were server issues.

But how can I try http URLs? I've tried as instructed, and it didn't accept to be built.

Here are some video URLs that are supposed to be fine:

     "http://mirrors.standaloneinstaller.com/video-s

[2018-10-17 13:50] AndroidDeveloperLB commented on #4972
Adding `android:usesCleartextTraffic="true"` into the manifest works fine.

But the instructions of `network-security-config` didn't work at all.

I wish I could know if it's possible to set it to work just for ExoPlayer, instead of the whole app.

[2018-10-17 13:50] #4972 closed, assigned to andrewlewis

[2018-10-17 14:21] andrewlewis commented on #4965
I'm afraid it's not practical for us to diagnose this without access to the stream you're trying to play. It does sound likely that it's encrypted, but I don't think we can provide guidance on what to do without more information. Closing for now as there isn't any sign that this is an ExoPlayer issue.

[2018-10-17 14:21] #4965 closed, assigned to andrewlewis

[2018-10-17 14:25] andrewlewis commented on #4969
Could you send a full bug report captured with `adb bugreport`?

[2018-10-17 16:16] BetweenTwoBits commented on #4973
Couple of questions on this.
- Are you calling `prepareSourceInternal` or `releaseSourceInternal` on the ads media source yourself? Currently if release is called before prepare is called (or finished presumably) you could probably cause this.

- Are you using `ImaAdsMediaSource`? If so, it has been deprecated in favor or using `AdsMediaSource` with `ImaAdsLoader`

Submitted a small PR https://git

[2018-10-17 16:58] ummerakbar45 commented on #4973
Yes I am using   below is my code
   imaAdsLoader = new ImaAdsLoader(this, Uri.parse(getResources().getString(R.string.ad_tag_url)));

           //Creating Video Content Media Source With Ads
           ImaAdsMediaSource contentMediaSourceWithAds = new ImaAdsMediaSource(
                   mergedSource,//Video Content Media Source
                   new DefaultDataSourceFactory(this,  Util.getUse

[2018-10-17 17:11] ummerakbar45 commented on #4973
changed code
 ImaAdsMediaSource to AdsMediaSource , but again got:

2018-10-17 16:56:05.514 10340-10626/? E/AndroidRuntime: FATAL EXCEPTION: ExoPlayerImplInternal:Handler
    Process: com.recipe.filmrise, PID: 10340
    java.lang.NullPointerException: Attempt to invoke virtual method 'void com.google.android.exoplayer2.source.ads.AdsMediaSource$ComponentListener.release()' on a null object referen

[2018-10-17 17:27] BetweenTwoBits commented on #4973
Have you seen this blog post? https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea

[2018-10-17 17:36] ummerakbar45 commented on #4973
yes I have seen that and did same.
code ftom blog:
MediaSource mediaSourceWithAds = new ImaAdsMediaSource(
      getContentMediaSource(),
      dataSourceFactory,
      imaAdsLoader,
      simpleExoPlayerView.getOverlayFrameLayout());
  simpleExoPlayer.seekTo(contentPosition);
  **simpleExoPlayer.prepare(mediaSource);**

why does he has used mediasource instead of mediaSourceWithAds
simpleExoPlaye

[2018-10-17 17:42] BetweenTwoBits commented on #4973
I'm guessing that is a typo. Within the ExoPlayer repo, take a look at the `ima` project within the demos package. In there you can find `PlayerManager` that should show you how to use the Ima Extension.

[2018-10-17 17:48] weizhaoj commented on #4967
@andrewlewis After we adding "extension": "mpd", the stream can be played successfully.
Thank you for your support.

[2018-10-17 17:49] weizhaoj commented on #4967
@AquilesCanta Can you help to confirm if AES-128-CTR scheme has been supported in HLS? Thanks.

[2018-10-17 17:52] ummerakbar45 commented on #4973
It is ok , this might be typo ,but I am using media source with ads .
Why does this exception is thrown.
This blog does not contain any information about preroll,midroll and
podsize.
Please tell me how can I fix this issue

On Wed 17 Oct, 2018, 11:13 PM Brandon Davis, <notifications@github.com>
wrote:

[2018-10-17 18:53] ojw28 commented on #4968
Please provide the information requested in the issue template. Specifically in this case a sample stream that we can reproduce the issue with.

[2018-10-17 18:56] ojw28 commented on #4967
The two possible methods in the HLS spec are `AES-128` and `SAMPLE-AES`. We support `AES-128` and do not support `SAMPLE-AES`.

Note that your question is ambiguous, since both of these methods use AES-128 CBC. `AES-128` (supported) applies AES-128 CBC to entire media segments. `SAMPLE-AES` (unsupported) applies AES-128 CBC to media samples within the segments.

[2018-10-17 18:56] #4967 closed, assigned to AquilesCanta

[2018-10-17 19:08] ojw28 commented on #4954
@andrewlewis - content is received to look at this now (in case you didn't notice :)).

[2018-10-17 19:12] ojw28 commented on #4933
I'm going to close this on the assumption that `urn:mpeg:dash:adaptation-set-switching:2016` is what you need to fix this. Please feel free to respond here if you found that was not the case.

[2018-10-17 19:12] #4933 closed, assigned to tonihei

[2018-10-17 19:14] ojw28 commented on #4903
@PieterMobile - Are you planning on providing us a file to reproduce the issue, as described above? There's nothing actionable for us to do here without one.

[2018-10-17 19:15] #4889 closed, assigned to erdemguven

[2018-10-17 19:18] srguduru commented on #4968
I have the same issue.
Here is the test stream details:

Link for the content:
https://playreadydata.blob.core.windows.net/asset-33c2dbff-5f5e-475b-904e-b13f1d5f7186/Taxi3_AACLC_154k.isma?sv=2012-02-12&sr=c&si=d46b2dd3-e9f6-40e9-8a57-f31dfff51bfa&sig=p740biwUqRSljucOrlqBwl0YSMJTE6%2FYCFD6UobCc5k%3D&se=2026-07-13T16%3A51%3A58Z

Encryption: PIFF Encryption AES128-CTR

[2018-10-17 19:50] ojw28 commented on #4968
The NullPointerException issue doesn't occur on 2.9.0. Playback still doesn't work, presumably because we're not decrypting the samples?

Please also see https://github.com/google/ExoPlayer/issues/1529#issuecomment-219322776.

[2018-10-17 19:50] #4919 closed, assigned to ojw28

[2018-10-17 19:51] #4891 closed, assigned to AquilesCanta

[2018-10-17 19:51] ojw28 commented on #4891
Closed due to lack of required information.

[2018-10-17 21:13] ojw28 commented on #4890
Thanks. I was able to reproduce a problem. It seems shrinking has a problem with default methods being called in implementing subclasses using `InterfaceName.super.methodName` syntax. We'll fix this one way or another (e.g. by not calling default methods like that, or by adjusting the library proguard file) for the next release.

[2018-10-17 22:20] littlelitleStar commented on #4969
Add the ALLOW NON IDR KEY FRAMES , and it should be fixed :3

[2018-10-17 22:21] littlelitleStar commented on #4951
@AquilesCanta Ithink its a problem of DECODING the image.

I dont know why but in Android BOXES , and EMULATORS its not working.

But in PHONES ( small screen ) , its working perfectly ?

[2018-10-17 22:28] littlelitleStar commented on #4952
I have sended it , and im waiting for any answer

[2018-10-17 23:05] TheJohnBowers commented on #4867
So what do you think about the idea of detecting the need for a new license by watching PSSH blocks and associating them with licenses?  As soon as a new one pops into the live window you could send the license request, but if there isn't a new one for a period because a) The period didn't have one at all or b) because it didn't change -- Then you would keep using the existing license until it exp

[2018-10-18 02:28] ummerakbar45 commented on #4973
Thanks it worked for me now, but problem is it shows ads when I pause video.
When I play recently watched movie (video starts from position ,where I have left it ), App crashes
How can I show midroll ads

[2018-10-18 02:41] vuongxuanhong commented on #4963
Currently I used version 18, i changed to ndk r15c, and it works. Thanks @andrewlewis

[2018-10-18 08:08] GongKuiJun opened #4976 "Exoplayer play udp stream"

[2018-10-18 09:30] AquilesCanta commented on #4951
Yes, I understand, but I don't have the bandwidth to investigate this, unfortunately. First, I'll try to implement support for SEI recovery points. After that, we can see whether ExoPlayer can do something about this.

[2018-10-18 09:31] AquilesCanta commented on #4951
Actually, I'll close this issue. Please track #2841 and once support is pushed, give it a try. If rendering is still not working correctly, please file a new issue including all the information in the issue template.

[2018-10-18 09:31] #4951 closed, assigned to AquilesCanta

[2018-10-18 10:09] Romantic-LiXuefeng opened #4977 "Why the ts video format can't get the duration?"
The ts url:
http://trnvd.cloud.ottcn.com/ts/20M/H265/2018/10/11/8ce88f1e63f74d4497ce380ebc4aacda_h26420000000aac256_1_20M.ts

[2018-10-18 10:30] ojw28 commented on #4867
I think this is one thing we're planning to do, except "as soon as a new one pops into the live window" is something more like "as soon as we start to buffer it" / "X seconds before we're going to play it".

[2018-10-18 13:06] ojw28 commented on #4973
@andrewlewis - Didn't really look at this, but as a tangential point we should probably fix the blog post :)

[2018-10-18 13:13] ummerakbar45 commented on #4973
How can I do request for ads manually.

On Thu 18 Oct, 2018, 6:37 PM ojw28, <notifications@github.com> wrote:

[2018-10-18 14:56] andrewlewis commented on #4973
I've updated the blog post -- thanks for pointing this out!

@ummerakbar45 Please could you provide a stack trace for the latest crash?

You can request ads manually before preparing the player by calling `ImaAdsLoader.requestAds`. (If that method isn't called, ads are requested when the player is attached to the ads loader.)

[2018-10-18 16:14] TrayEdge opened #4978 "Stream does not work for high profile video"
### Issue description
Stream does not start. Following error in logcat:
E/OMXNodeInstance: getExtensionIndex(0xb0d21260:google.h264.decoder, OMX.google.android.index.enableAndroidNativeBuffers) ERROR: UnsupportedIndex(0x8000101a)

E/OMXNodeInstance: setConfig(0xb0d21260:google.h264.decoder, ConfigPriority(0x6f800002)) ERROR: UnsupportedIndex(0x8000101a)

### Reproduction steps
Try to run stream wi

[2018-10-18 18:23] vixez opened #4979 "ExoPlayer lockscreen image"
Hello,

I'm using ExoPlayer in combination with PlayerNotificationManager. This all works fine, I can also set the album artwork in the notification.

However, when music is playing, the lockscreen background turns black. How can I set the album artwork as lockscreen image while music is playing? I can't seem to find anything about this.

Thanks!

[2018-10-18 18:29] linhai326 commented on #4978
emulator is using software decoder (google.h264.decoder, in this case)
For stream test, it is better to do it on device.

[2018-10-18 18:38] andrewlewis commented on #4978
I think the emulator's H.264/AVC decoder might only support the Baseline and Main profiles (and on early versions it didn't even support Main). Please try on a real device as @linhai326 suggests.

[2018-10-19 02:10] Romantic-LiXuefeng commented on #4977
I use the Android MediaPlayer which can get the duration. But the ExoPlayer only play at the edge of the end which can get the duration. Is there any function to get the ts format duration when the ts format video size is large.

[2018-10-19 02:46] Romantic-LiXuefeng commented on #4977
I test the ts url which can get duration .(this ts video's size is not large enough)  http://srcvd.cloud.ottcn.com/wuxi/newmedia/2018/09/13/4eec143a809246a8bfb56827ade504e4_H2644500000aac128.ts
I am confused whether the ts video format size cause this .

[2018-10-19 06:20] Romantic-LiXuefeng commented on #4977
I used the latest release version 2.9.0.

[2018-10-19 12:09] Faiyyaz opened #4982 "Showing trackselector as 360p ,480p, 720p etc"
### Issue description
I am using trackselector component in one of the app but i want to show the quality as 360p, 480p, 720p rather than the resolution

### Version of ExoPlayer being used
2.9.0

[2018-10-19 12:26] tonihei commented on #4982
You can use `TrackSelectionView.setTrackNameProvider` to set your own provider of track names. The custom track name provided can map the format values to whatever you like them to be. For your specific question, it's probably best to override DefaultTrackNameProvider and just replace `buildResolutionString`.

[2018-10-19 13:24] anandsingh2903 opened #4983 "How to know if exoplayer detects any EXT-DISCONTINUITY tag in HLS stream"
Is there a method which gets executed whenever exoplayer detects a ext-x-Discontinuity tag.

How can reset the player at the point where exoplayer detects ext-discontinuity tag.

[2018-10-19 14:41] Faiyyaz opened #4984 "Buffer lost when seeked to backward and on orientation change if handling it using 2 different layout"
### Issue description
Whenever i play a video in demo app and seek backwards then i lost all the buffered position till that time and it start buffering again. Also i have 2 layouts for different 1 for each orientation so if i toggle orientation and i release the player so cache is lost. And i m using HLS Stream. Is there a way to cache adaptive HLS strean?

### Reproduction steps
Play any video i

[2018-10-19 15:05] andrewlewis commented on #4845
When the player freezes, is it in the buffering state? Do you see the dropped frame counter in the demo app increasing?

The link to the media doesn't work at the moment, so could you provide a new link here or email it to dev.exoplayer@gmail.com? Thanks.

[2018-10-19 15:07] szaboa commented on #1583
@ojw28 @AquilesCanta

I intend to work on this, is it all right for you?

What I see after quickly checking the code that the image attribute from the header needs to be parsed, then I need to create a bitmap from the base64 string and just pass forward to the cue.

Am I missing something perhaps?

[2018-10-19 15:09] andrewlewis commented on #4850
Closing as this seems like an app issue with using too many players at the same time.

[2018-10-19 15:09] #4850 closed, assigned to andrewlewis

[2018-10-19 15:18] andrewlewis commented on #4952
I think this may be a case of trying to play a H.264/AVC Main profile stream with a decoder that doesn't support it. Support for Main profile was only mandatory from Android M.

Could you try to play the stream in the ExoPlayer demo app and take a full bug report captured via `adb bugreport` just after playback fails? This will include more logging which might help seeing exactly what is going wro

[2018-10-19 15:36] BrainCrumbz commented on #4853
Sorry to stretch further this (closed) thread, but when you said

are there any directions on how to perform such a switch? We're testing with the following sequence:

[code]

which works. But if we try not to release the first one, so to reuse it later on, it stops working: the display remains stuck on last frame from first player.

**EDIT**
It seems we're able to *not* release if we work with `s

[2018-10-19 15:41] harris914 commented on #4917
Can you please let me know how to program ExoPlayer to continue playback till buffered position if the internet gets turned off? For example, i have set 20 seconds to BUFFER BEFORE before actually starting the playback. Now if the buffered position is around 40 seconds and payback was around, say, 12 seconds and internet got turned off, now playback should continue till the buffered position i.e.

[2018-10-19 15:48] ojw28 commented on #4917
This was fixed in `2.7.0`.

[2018-10-19 15:58] harris914 commented on #4917
So you're saying i should move to 2.7.0 and this will work fine?

[2018-10-19 16:00] ojw28 commented on #4917
I'm saying moving to 2.7.0 will cause playback to continue till buffered position if the internet gets turned off (without you having to do anything special). Seeking in this type of stream remains unsupported as per my comment above.

[2018-10-19 16:23] harris914 commented on #4917
Yes i have tried it, it works even i turned off my internet. Can you please tell me on which parameter should i place my paramater for BEFORE BUFFER that user will enter and the boolean "prioritizeTimeOverSizeThresholds" should be true or false?

[2018-10-19 16:24] ojw28 commented on #4917
I don't really understand the question. If in doubt, just use the default values.

[2018-10-19 16:28] harris914 commented on #4917
In my application we have given user an option BUFFER BEFORE in seconds. This is basically pre-buffer before playing. So i user selects, say, 15 seconds buffer before value then player should load 15 seconds of stream before actually starting the playback. So where should i use this value in DefaultLoadControl constructor?

[2018-10-19 16:29] admobwebmaster opened #4985 "Improve movie loading!"
My exoplayer loads the videos very slow, all the time stopping to load the video.

how do I improve buffering and upload videos without too many uploads.

thank you

[2018-10-19 16:32] ojw28 commented on #4917
[code]

[2018-10-19 16:41] ojw28 commented on #4984
If you release the player then that's just what happens. This is working as intended.

You need to either handle the orientation change manually to avoid the activity recreation, or alternatively retain the player instance across the orientation change. Closing because this doesn't seem like an ExoPlayer problem. You have to do one of these things when using e.g. MediaPlayer as well.

[2018-10-19 16:41] #4984 closed, assigned to ojw28

[2018-10-19 16:52] harris914 commented on #4917
Also can you tell me how to keep a buffer while playing the stream? We have an option of BUFFER SIZE, which means when user selects selects a value for it, the player should keep a buffer of that much time while the playback is working. Any option for this in ExoPlayer?

[2018-10-19 16:53] andrewlewis commented on #4941
When the IMA SDK tries to load these ads, it seems to surface a different type of error from the ones that we handle at the moment. Please could you double-check your ad serving configuration and make sure you're serving ad media that is compatible with Android? That may be the quickest way to fix your issue.

We should handle these types of ad playback errors more gracefully but this will require

[2018-10-19 17:34] ojw28 commented on #4977
I tried the second test stream above with 2.9.0 in the demo app, and the duration is determined correctly. So I think you're mistaken.

[2018-10-19 17:35] ojw28 commented on #4985
This kind of bug report is completely unactionable by us, because it doesn't provide any useful information to help us reproduce the problem. Or even to determine whether the issue is client side or server side. Closing. If you want to file a new issue, please fill out the issue template properly.

[2018-10-19 17:35] #4985 closed, assigned to ojw28

[2018-10-19 17:55] andrewlewis commented on #4979
When you say the lockscreen background is turning black: does this mean that the background is not changing at all from the default lock screen that you see when nothing is playing, or does it look like the system is trying to show the album art but it's not loading properly? In the latter case a bug report may help (`adb bugreport`).

I think the album art should just show up so I'm not sure what

[2018-10-19 17:59] andrewlewis commented on #4976
It's not clear what the problem is. Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-19 17:59] #4976 closed, assigned to andrewlewis

[2018-10-19 20:51] andrewlewis commented on #4983
I don't think there's a callback for this at the moment, though it shouldn't be necessary to reset the player when reaching a discontinuity. Over to @AquilesCanta to confirm/deny.

[2018-10-19 20:59] andrewlewis commented on #4953
Please check your build tools/environment and NDK are set up correctly. I don't think this is an ExoPlayer issue so I recommend asking for help on a more general site like Stack Overflow.

[2018-10-19 20:59] #4953 closed, assigned to andrewlewis

[2018-10-20 00:51] andrewlewis commented on #4972
I don't think this can be set just for ExoPlayer if you're using standard HTTP stacks. It has to be at the app-level. It looks like you can do per domain configuration though, which might be useful.

[2018-10-20 01:10] andrewlewis commented on #4976
Following up on the email: it sounds like you are seeing error concealment artifacts when playing the UDP stream, which can happen if packets are dropped or reordered. To avoid this you need to make sure the video decoder receives a valid bitstream by making sure you feed it all the video frames in the right order. The easiest way to do that may be to switch to a reliable protocol instead of UDP.

[2018-10-20 03:06] anandsingh2903 commented on #4983
I get AudioTrack : Discontinuity Detected log in the exoplayer logs. Sometimes channel gets changed even though at that time also.. Audio changes immediately but the video changes after some seconds and sometimes player just gets stuck in buffering state even though when I seek forward or backward. Player starts playing changed video then.

[2018-10-20 06:04] AndroidDeveloperLB commented on #4972
@andrewlewis Is there an official way to check if it's http or https ?
Or would just checking the beginning of the URL (as string) suffice?

[2018-10-20 12:30] Khang-NT opened #4986 "NPE when remove child media source from (lazy) ConcatenatingMediaSource"
### Issue description, Reproduction steps
1. Create `ConcatenatingMediaSource` with `useLazyPreparation = true`
2. Add some child media source and play
3. Delete 1 child media source, exoplayer will crash if this media source still not prepared

### Link to test content
None

### Version of ExoPlayer being used
2.9.0

### Device(s) and version(s) of Android being used
Android 8.0

### Stacktrace
[

[2018-10-20 13:28] #4899 closed, assigned to ojw28

[2018-10-20 13:28] #3241 closed, assigned to andrewlewis

[2018-10-20 13:28] #4890 closed, assigned to ojw28

[2018-10-20 13:28] #4960 closed, assigned to AquilesCanta

[2018-10-20 21:50] andrewlewis commented on #4972
I'd check [`uri.getScheme`](https://developer.android.com/reference/android/net/Uri.html#getScheme()).

[2018-10-21 06:25] AndroidDeveloperLB commented on #4972
@andrewlewis Thank you. Good idea.

[2018-10-21 12:49] vixez commented on #4979
Well, turns out it isn't changing at all. I though it was black, but that was because the player notification was covering up the middle part of my default lockscreen background (it's a simple black background with a deer on it).

So the album art is not showing at all.

[2018-10-21 15:24] andrewlewis commented on #4979
Could you provide steps to reproduce the issue? In particular it would be useful to have the album art bitmap and  the code snippet used to set it. Do you see the same behavior on the emulator?

[2018-10-21 15:33] psedoykin commented on #3877
@ojw28 @andrewlewis
Hi, Do you have any news about the issue ?

[2018-10-21 17:38] png6 opened #4988 "PlayerNotificationManager with Service on Android O+"
I'm leveraging the the PlayerNotificationManager in a Service to implement background audio playback and I'm seeing an issue based on the Android O+ limitations. From what I understand, O+ devices should call `Context.startForegroundService()` to start the service and subsequently call `Service.startForeground()` with a notification to keep the service in the foreground so it's not killed.

For my

[2018-10-21 17:38] sunnyadityaa opened #4989 "Exo-player notification resets to default UI state"
### Issue description
Exo-player notification resets to default sometimes while changing audioTracks.
While changing audioTracks we are re-setting the player instance and removing the notification manager as well.
Expected behavior Exo player notification should retain the state set.

### Reproduction steps
1. Remove  navigation and stop action from notification
[code]
2. Play audio
3. Switch audi

[2018-10-21 19:46] andrewlewis commented on #3877
No updates I'm afraid. This is not part of our planned work for this quarter.

[2018-10-21 20:58] andrewlewis commented on #4954
It looks like the file has about 150 KB of non-MP3 data at the end. On 2.8.4 we handled the `ParserException` resulting from reaching it as non-fatal, then retried synchronization and hit the end of the stream, which was not treated as an error. On 2.9.0 the behavior changed to treat `ParserException` as a fatal exception, hence the error.

I'm not sure how common it is to have a lot of non-MP3 da

[2018-10-22 01:17] Romantic-LiXuefeng commented on #4977
This test stream can't get the duration. http://trnvd.cloud.ottcn.com/ts/20M/H265/2018/10/11/8ce88f1e63f74d4497ce380ebc4aacda_h26420000000aac256_1_20M.ts

[2018-10-22 07:54] tonihei commented on #4986
Thanks for reporting! Going to provide a fix for that.

[2018-10-22 08:23] vixez commented on #4979
This is the code I'm using.
The AudioController keeps track of the tracks that are playing for the main app UI, has nothing to do with the notifications/lockscreen, so not really relevant.

`
    @Override
    public void onCreate() {
    super.onCreate();

    //Player
    TrackSelection.Factory trackSelectionFactory = new AdaptiveTrackSelection.Factory();
    player = ExoPlayerFactory.newSimpleI

[2018-10-22 08:58] AlexDundar commented on #4941
@andrewlewis , thank you for your reply!

Our problem as we have also a WEB frontend, and ad server serves both for Android and Web (and website successfully plays all the ads types). So we’ll appreciate for this error handling bug to fixed ASAP or any recommendation/link how to separate Android&Web front ends in the ad server settings.

There is a lack of information, we have really have searched

[2018-10-22 09:16] ojw28 commented on #4917
`DefaultLoadControl.Builder` is pretty well documented:
[code]
Please [read the Javadoc](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.Builder.html) for more details.

[2018-10-22 09:28] ojw28 commented on #4954
I think we can tell from the `XingSeeker` where the end of the MP3 data is, in which case it's a bug that we're trying to read the 150 KB on the end. Ditto for any other `Seeker`s that give us this information. I fixed a similar issue for `WavExtractor` not too long ago.

[2018-10-22 09:51] mupm1 opened #4990 "export file(mp4 ,mp3) after download service completed"
i want export final file from stream cache or download service complete.is it impossible?
if that isn't impossible, can i download a media file with other downloader and play that when download in progress and file not complete?

thanks.

[2018-10-22 11:15] mupm1 opened #4991 "play video file when in download with other downloader"
i want save final stream file or downloaded file by download service. is it impossible?
if isn't impossible, can i play a video file when in downloading by other downloader Lib?

[2018-10-22 11:44] ojw28 commented on #4931
@hacker1024 - Any idea why you're seeing this on Pie given the code snippet linked to above? It seems pretty clear that `RatingCompat` is only written into the bundle on API level 18 and below?

[2018-10-22 12:13] bergmark opened #4992 "Problems using different key ids for video and audio"
We are testing a playlist that contains video and audio tracks that have different key IDs using our own DRM proxy.

Shaka Player makes one license request for each key ID, whereas ExoPlayer seems to do only one license request (which key ID/track it picks is inconsistent). ExoPlayer then fails with

[code]

We have previously used the same key id and security level 1 for audio and video, but ran

[2018-10-22 12:22] ojw28 commented on #4977
That link doesn't work for me. Please could you provide a working test stream? Alternatively please mail the file as an attachment to `dev.exoplayer@gmail.com`, and update this issue to say that you've done so. Thanks!

[2018-10-22 12:29] ojw28 commented on #1583
@szaboa - Feel free to give this a go!

Re your question, I'm not sure as we haven't had time to properly investigate, but what you describe sounds plausible! The main thing I'm not sure on is how the implementation will fit into the existing TTML code, which is relatively complex (e.g. `TtmlNode`). Figuring that out is probably the main challenge.

[2018-10-22 13:08] ojw28 commented on #4992
Have you read our [Drm page](http://google.github.io/ExoPlayer/drm.html)?

[2018-10-22 14:15] AquilesCanta commented on #4983
I cannot think of a way to do this using the public APIs, unfortunately. As @andrewlewis points out, this shouldn't be necessary unless there is a non-supported track change in the channels. We might be able to provide more assistance with a media sample with which we can reproduce ourselves. If you provide a media sample, we'll reopen the issue.

[2018-10-22 14:15] #4983 closed, assigned to AquilesCanta

[2018-10-22 14:15] bergmark commented on #4992
No i completely missed that page!

Thanks a lot, it looks promising. We have some more testing to do, I'll report back!

[2018-10-22 14:19] #4928 closed, assigned to tonihei

[2018-10-22 14:22] AquilesCanta commented on #4748
Sorry for the delay on this! Can you please provide a bugreport, as requested in the issue template?

[2018-10-22 14:24] AquilesCanta commented on #3814
Closing due to lack of activity.

[2018-10-22 14:24] #3814 closed, assigned to AquilesCanta

[2018-10-22 20:12] erdemguven commented on #4990
It isn't possible to export files from cache but you can use a custom DataSink with TeeDataSource to write the data to a file. You should handle cases where file end is streamed before the data preceding it.

If you externally download the file and try to play it during download, the file would be only played until the point where it was downloading when the playback started.

[2018-10-22 20:12] #4990 closed, assigned to erdemguven

[2018-10-22 20:12] erdemguven commented on #4991
Duplicate of #4990

[2018-10-22 20:12] #4991 closed, assigned to erdemguven

[2018-10-22 21:28] png6 commented on #4988
Okay, I resolved the issue and found some interesting gotchas I'd like to share.

- `PlayerNotificationManager.setNotificationListener()` needs to be called immediately after the manager instance is created since internally `PlayerNotificationManager.startOrUpdateNotification()` is called if there are changes to the notification. This is extra important if you intend to create a foreground service

[2018-10-23 05:34] volkansahin45 commented on #4748
I guess problem has solved with the 2.9.0 because I don't see the this error anymore. Thanks

[2018-10-23 05:34] #4748 closed, assigned to AquilesCanta

[2018-10-23 05:45] volkansahin45 opened #4994 "Cast demo app play dash video error"
### Issue description
When try to play dash video on cast it gives an error

### Reproduction steps
Connect cast device.
Click add button.
Add the dash video
Click Ok and close dialog.
Click Dash in the playlist.

### Version of ExoPlayer being used
2.9.0

### Device(s) and version(s) of Android being used
Samsung Galaxy S8 Plus Android 8.0.0

### A full bug report captured from the device
Sent vi

[2018-10-23 06:04] JanStoltman opened #4995 "Casting offline content"
Does ExoPlayer Cast extension support casting offline content? I've followed [this](https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e) example and now I would like to cast one of the downloaded streams to Chromecast.
Can this be done from ExoPlayer's level or do I have to implement some kind of local server so that receiver app can request segments from this server?

[2018-10-23 09:42] giladna opened #4997 "Generate Signed Demo APK Fails"
Hi,

in order to avoid errors thrown  during Signing APK process
"Failed to resolve: play-services-basement"

in this build.gradle file
https://github.com/google/ExoPlayer/blob/r2.9.0/build.gradle

It is required to  switch the order or the repositories in the buildscript and in the allprojects keys:

Working for me:

repositories {
        google()
        jcenter()
    }

BR
Gilad

[2018-10-23 09:59] AquilesCanta commented on #4995
This is correct. Note that this might not be possible with DRM-protected content.

[2018-10-23 09:59] #4995 closed, assigned to AquilesCanta

[2018-10-23 10:00] lfyppy opened #4998 "support http+ts ? and support codec?"
support http+ts ? and support codec?

[2018-10-23 10:11] GonziMalaga opened #4999 "CAN NOT COMPILE (Error: Could not find play-services-basement.aar )"
Hi, I have a problem when compiling, with this error:

[code]

It seems that is a problem from Google but maybe you know if there is any tip to avoid this message. One month ago it didn't appear.

[2018-10-23 10:14] tonihei commented on #4999
See #4997.

[2018-10-23 10:14] GonziMalaga commented on #4997
I have the same problem, but is not only when signing, is with building the APK.

I've openend another issue because I didn't see yours since I entered github one hour ago and didn't refresh it before creating the new issue.

[2018-10-23 10:15] GonziMalaga commented on #4999
Yes sorry, I've openend another issue because I didn't see the previous one since I entered github one hour ago and didn't refresh the page before creating the new issue.

[2018-10-23 10:18] tonihei commented on #4999
Seems to be same issue still. We also had a similar issue in the past: #4353

[2018-10-23 10:18] tonihei commented on #4999
Closing this one and using the other issue to track.

[2018-10-23 10:18] #4999 closed, assigned to tonihei

[2018-10-23 10:20] tonihei commented on #4997
We had the same problem in the past when it solved itself after a while, see #4353. Worth checking again tomorrow to see if it's only temporary.

[2018-10-23 10:29] GonziMalaga commented on #4997
Okk for me it works changing the order...
[code]
to this
[code]

[2018-10-23 11:46] ErezNe opened #5000 "Exoplayer crash when it switch between dynamic playlist to static playlist."
### Issue description
I have a feature on my app to play  Catchup and startover of programs from live channel
in order to support this features  I am saving on the backoffice platform rolling buffer  of X days
and to play the catchup I am sending to backoffice session with start_date and end_from the rolling buffer
for example
[code]

If I perform a StartOver\Catchup  with a endDate in the future,

[2018-10-23 11:52] ErezNe commented on #5000
[memory_exoplayer.txt](https://github.com/google/ExoPlayer/files/2505965/memory_exoplayer.txt)

attach memory_exoplayer.txt log file

[2018-10-23 12:19] ojw28 commented on #4997
We should probably do that in the pieces of documentation we have + our own gradle files, given this has happened again?

[2018-10-23 12:59] sankeertana opened #5001 "Full HD HLS streams are not playing in android exoplayer-v2"
Hello team,

         Exoplayer is not playing full hd hls streams, But I am able to play 720p Streams. Do I need to add some extra code for playing HD Streams of resolution 1920x1080.

[2018-10-23 13:51] abhishekredspace opened #5002 "Looking for HLS spec around livestream window size mentioned in one of the comment"
Hi, exoplayer team,
I followed the comments in https://github.com/google/ExoPlayer/issues/1074 and have opened a ticket with my backend team based on it.
Do you have any HLS spec to support this comment https://github.com/google/ExoPlayer/issues/1074#issuecomment-168541212

[2018-10-23 14:33] loredana2314 opened #5003 "Difference in video quality compared to mediaplayer"
### Issue description
Hello
We are using Exoplayer on our application. We have noticed that there is a difference on video quality between Exolplayer and Mediaplayer.
The picture quality is better on Mediaplayer and the video plays smoothly (the colors seem to be different). On the other hand, picture on Exoplayer is not so clear and video freezes time after time.
We are testing the same streams i

[2018-10-23 14:50] tonihei commented on #5003
Could be related to #4559 which was fixed in version 2.9.0. Can you try updating to see if it still occurs?
Besides that we would need example media to actually debug the problem. If you don't want to post it publicly, please send it to dev.exoplayer@gmail.com with "Issue #5003" in the subject.

[2018-10-23 14:57] bergmark commented on #4992
We managed to resolve everything by enabling `multiSession`, it also turned out we were using the wrong key for audio. Thanks again!

[2018-10-23 14:57] #4992 closed, assigned to nobody

[2018-10-23 16:08] harris914 commented on #4917
I faced a problem. That when the internet gets turned off, then as per our discussion the music plays for the buffered time now, but it does not resume when the internet is back on. Can you guide me how to do it?

[2018-10-23 17:04] erdemguven commented on #4998
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-10-23 17:04] #4998 closed, assigned to erdemguven

[2018-10-23 17:08] erdemguven commented on #5001
Have you tried another device? We disable tracks which are not playable by device.

If you still can't play the streams, please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-23 17:08] #5001 closed, assigned to erdemguven

[2018-10-23 18:39] TrayEdge commented on #4978
Thank you for recommendations.
Trying to run on NEXUS 5 with Android version 7.1.2, but have the following error:

E/OMX-VDEC-1080P: Extension: OMX.google.android.index.storeANWBufferInMetadata not implemented
E/OMX-VDEC-1080P: Extension: OMX.google.android.index.describeColorAspects not implemented
E/OMX-VDEC-1080P: Extension: OMX.google.android.index.describeHDRStaticInfo not implemented

E/OMXN

[2018-10-23 18:40] TrayEdge commented on #4978
Thank you for recommendations.
Trying to run on NEXUS 5 with Android version 7.1.2, but have the following error:

E/OMX-VDEC-1080P: Extension: OMX.google.android.index.storeANWBufferInMetadata not implemented
E/OMX-VDEC-1080P: Extension: OMX.google.android.index.describeColorAspects not implemented
E/OMX-VDEC-1080P: Extension: OMX.google.android.index.describeHDRStaticInfo not implemented

E/OMXN

[2018-10-23 19:06] paf-wv commented on #4765
@islor, assume the content was the issue and will close this case.
Please reopen if the issue reoccurs .

[2018-10-23 19:06] #4765 closed, assigned to paf-wv

[2018-10-23 19:23] andrewlewis commented on #4978
I think that logging is expected and doesn't indicate an issue. Could you attach a bug report so we can see what the actual error is?

[2018-10-23 22:08] sargeway commented on #4021
Hi All,

Any update here? The Widevine for HLS spec lists HLS+TS support included in Android N & O but it doesn't appear Exoplayer supports it. Does Exoplayer plan to add support or are you just settling on CMAF/fMP4?

[2018-10-24 00:02] mikulbhatt commented on #4867
yes, agreed! thats what we want @ojw28 . Let us know of any updates on this thread! thanks 👍

[2018-10-24 07:29] anhlevfx opened #5005 "IMA extension load midroll make exoplayer rewind"
Hello, My ads include a preroll and a midroll. Sometime, the midroll not show up and get logs
10-24 15:12:09.668 9451-9451/vn.com.sctv.sctvonlinetvos D/ads: play
10-24 15:12:15.917 9451-9451/vn.com.sctv.sctvonlinetvos D/ads: end
10-24 15:12:25.086 9451-9451/vn.com.sctv.sctvonlinetvos D/ads: end
10-24 15:12:25.437 9451-9451/vn.com.sctv.sctvonlinetvos D/ads: play

As you can see, first line is prero

[2018-10-24 09:50] AquilesCanta commented on #4021
There are no updates here, and it's not on our roadmap yet, unfortunately. By the way, what's the "Widevine for HLS spec "? Can you point me to it?

[2018-10-24 10:48] YukiMatsumura commented on #4433
When stopping the download with stopDownload(), I want to prevent the download from starting automatically even if the requirement is met.

Is there any way I could ...?

[2018-10-24 14:02] magnusvs opened #5006 "IMA-extension only plays 1 pre-roll from VMAP file"
### Issue description
We're trying to implement IMA for our app with the Exoplayer IMA-extension.

Simple ads are working as expected but the extension does seem to have some trouble loading multiple pre-rolls and post-rolls.

Our VMAP contains 5 pre-rolls and 1 bumper before to play before the content. 3 of the pre-rolls are broken. Similarly there are 5 post-rolls where 3 are broken.
This ad tag

[2018-10-24 14:22] Mariovc opened #5007 "DownloadManager stopDownloads being ignored sometimes"
### Issue description
When stopping downloads sometimes this action is being ignored. The downloads keep downloading.

### Reproduction steps
I couldn't reproduce it with the same steps, so its not 100% reproducible

### Link to test content

### Version of ExoPlayer being used
2.8.4

### Device(s) and version(s) of Android being used
Nexus 5 Android 6.0.1

I've seen some code was changed on `stop

[2018-10-24 14:48] vicpinm opened #5008 "Not seekable audio"
### Issue description
I'm trying to play this audio:

http://audios.esradio.fm/espana/18/10/23/tertulia-de-herrero-el-congreso-rechaza-suspender-la-venta-de-armas-a-arabia-saudi-129520.mp3

This audio is not seekable, as isCurrentWindowSeekable() returns false. I assume there is something wrong with this audio, but native MediaPlayer is able to perform seek with the same url.

### Link to test con

[2018-10-24 15:49] andrewlewis commented on #5005
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-10-24 16:18] m-franco opened #5009 "SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found."
I have exoplayer 2.9.0 and  i can't play a DRM content with this error.

In an older version of exoplayer the same content plays correctly.

I can't edit the code because the error happens in the locked classes of the library.

Any Help?

com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to https://_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

[2018-10-24 16:35] ojw28 commented on #5009
This is already covered by [existing issues](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+%22Trust+anchor+for+certification+path+not+found%22+).

[2018-10-24 16:35] #5009 closed, assigned to ojw28

[2018-10-24 16:41] ojw28 commented on #4917
If playback hasn't failed then it should resume when the internet is back on. Please provide concrete reproduction steps if you want us to take a look. If playback has failed then you need to re-prepare the player.

[2018-10-24 16:52] ojw28 commented on #5002
I'm not sure I understand the question. I don't think the specification dictates how long the live window should be. But it's always going to be the case that if the window is too short, players are going to have a harder time performing well.

[2018-10-24 16:52] #5002 closed, assigned to ojw28

[2018-10-24 17:02] ojw28 commented on #5008
Please see our [FAQs page](http://google.github.io/ExoPlayer/faqs.html#why-are-some-media-files-not-seekable).

[2018-10-24 17:02] #5008 closed, assigned to ojw28

[2018-10-24 17:53] #4986 closed, assigned to tonihei

[2018-10-24 17:53] #4997 closed, assigned to tonihei

[2018-10-24 17:53] #4954 closed, assigned to andrewlewis

[2018-10-24 19:15] sargeway commented on #4021
The spec predates this thread and my contacts on the Widevine team believed Exoplayer already had the HLS+Widevine/cbc+TS support as described in version 1: https://storage.googleapis.com/wvdocs/Widevine_DRM_HLS.pdf.

[2018-10-24 19:29] erdemguven commented on #5007
We fixed couple of issues but this wasn't one of them. It might still be fixed with the latest version so please try it.

[2018-10-24 20:20] loredana2314 commented on #5003
We tested with version 2.9.0 and the problem seems to continue.
We tested on Amlogic and Rock cheap STB were the problem seems to continue.
We also tested on Philips Android Tv and there is no problem.
An example media is also sent to you as requested.

[2018-10-24 20:30] szaboa commented on #1583
I think I am on the right track, the sub is already displayed. But need to research a bit the TTML specs, because I am not sure if image based subs can have regions, and also I would like to extend the TTML decoder unit test cases.

[2018-10-25 07:14] ummerakbar45 opened #5010 "Remove Learn More text"
### Issue description
Learn more navigates to specific url mentioned in VAST tag.
I want to remove/hide LEARN MORE text

### Reproduction steps
No steps

### Link to test content
No Data

### Version of ExoPlayer being used
IMA latest sdk
### Device(s) and version(s) of Android being used
in all version
### A full bug report captured from the device
How to remove/hide learn more text

[2018-10-25 08:59] AquilesCanta commented on #4021
Apologies, I misunderstood your previous comment. For the time being, our only support for CDM/DRM (Widevine, Playready) in HLS is with CMAF. For Transport Streams, only full segment encryption is supported.

[2018-10-25 09:40] lricardo commented on #4723
I have this problem with a stream from a CDN (akamai) with versions 2.8.0 and 2.9.0. Normally, the stream would play without further problem in 8 minutes (on Nexus 5X, API 27), meanwhile in other devices such as P20 and OnePlus 5T achieved 12 minutes until that error.

After a few days trying possible solutions that I found in the issue tracker, I decided to add the version release-v2 (at the date

[2018-10-25 10:16] AquilesCanta commented on #4723
Just in case this is not clear: BehindLiveWindowException (BLWE) is not a bug in the library. It shouldn't be device specific either. Please have a look at #1074 for an explanation on what the exception means. If this is not clear to you, let me know and I'll try to clarify further.

It might be the case that some changes we have made mitigate the occurence, but it's certainly not something we hav

[2018-10-25 10:28] lricardo commented on #4723
@AquilesCanta Thank you very much for your comment. It will be very helpful.

[2018-10-25 13:20] andrewlewis commented on #5010
I'm afraid this isn't currently supported by the IMA SDK. See also this [forum post](https://groups.google.com/d/msg/ima-sdk/thFbzMOjbKk/UmGj6PpyCwAJ).

[2018-10-25 13:20] #5010 closed, assigned to andrewlewis

[2018-10-25 15:45] lricardo commented on #4723
@AquilesCanta I'm repreparing it but it still stucks. How can I track the loading position? I have been looking to exoplayer documentation but I could not find any information about it. Thanks in advance.

[2018-10-25 15:55] AquilesCanta commented on #4723
Try using Player#getBufferedPosition. It's also a more conservative possibility to use the playback position (getCurrentPosition).

[2018-10-25 16:53] amirzandi opened #5011 "Improve support for low-latency HLS live streams"
We are creating a player to play HLS live streams on both iOS and Android devices. The problem is, when an iOS user opens the player, videos starts with not latency unlike EXOPLAYER on an Android device.
EXOPlayer is not synced with the stream server, iOS player is synced but there is a 15 seconds delay on Android EXOPlayer which means when the performer raise a hand, it displays timely on iOS AVN

[2018-10-25 16:54] opaquewarellc opened #5012 "setRemoteMediaClient() in CastPlayer class never gets call in some scenario"
### Issue description
The RemoteMediaClient Listeners never get initialize, if the Cast Session is started (user pressed & started the cast button) before the CastPlayer was instantiated.

### Reproduction steps
I have a media list view in a main activity and start the ExoPlayer in another activity. So user can optionally start the cast session before selecting which media to play, casting without

[2018-10-25 17:13] AquilesCanta commented on #5011
#4904 tracks latency improvement for DASH live streams. I guess we can use this issue to track the same in HLS. This is not an aspect we have worked explicitly on. Something that is worth checking is the position in the live window. Stream characteristics also affect how close to the live edge the player gets. What happens if you seek to the very live edge, for instance?

[2018-10-25 20:08] dmccartney commented on #4964
I hit this same issue. It looks like the timeline under the `CastPlayer` only maps to the handful of queue items that are returned in the latest `MediaStatus` report from the cast device (i.e. the `CastPlayerTimeline` doesn't know about the entire `MediaQueue` of items that were loaded).  This makes `CastPlayer` think with incorrect `windowIndex` values across the board.

I came up with (sad but s

[2018-10-25 20:42] AquilesCanta commented on #4964
Hi, I apologize for not looking into the reported issues in time. Right now our efforts are focused on writing our own receiver app which will solve most of the current CastPlayer shortcomings.

Thanks for your patience!

[2018-10-25 21:02] tprochazka commented on #3814
Sorry I missed your comment. It looks like a similar problem, but the author or this issue don't mention video freeze. I will try to use simpleExoPlayerView.getVideoSurfaceView().setVisibility(View.VISIBLE);

[2018-10-25 21:17] nyjalusc commented on #4989
Is there a workaround for this issue?

[2018-10-25 22:06] tprochazka commented on #3814
I updated to 2.9.0 and it looks that it works without any workaround. Thanks!

[2018-10-26 06:12] sunnyadityaa commented on #4989
We tried sending the large icon update to notification manager with a delay. Reduced the frequency with which we were getting this.

Another thing this is reproduced even with a simple play/pause toggle from notification.
What we are doing in pause/ play: we stop the foreground service and setOngoing() to false. To enable notification to be removed.
[code]
SetOngoing internally calls to invalidate

[2018-10-26 10:25] saiday opened #5013 "DownloadManager cannot specify custom CacheKeyFactory"
If I use `DownloadManager` for downloading, there is no way I can assign custom `CacheKeyFactory`.

Because `DownloadManager` heavily relies on `DownloaderConstructorHelper`.
`DownloaderConstructorHelper`'s `buildCacheDataSource()` which is `DownloaderManager` generated `Dwonloader` used to build as `Downloader` datasource, has no way to interrupt with custom `CacheKeyFactory`.

[code]
https://git

[2018-10-26 10:35] meenukrishnamurthy opened #5014 "Custom Ad integration"
Can we show custom ads in exoplayer i.e i have a video mp4 url which has to be shown as an ad.I have the position in ms where the ad has to be played.Is this achievable in exoplayer.If yes can u point me out to any samples implemented

[2018-10-26 12:19] tonihei commented on #5014
Please have a look at #4769 and #4680 where this question has been discussed already.

[2018-10-26 12:19] #5014 closed, assigned to tonihei

[2018-10-26 12:41] tonihei commented on #5003
I'm unfortunately getting 404s when trying to access the media you've sent. Can you check it's still valid?

[2018-10-26 14:18] saschpe commented on #3735
@ojw28 I'm fine simplifying the code and therefore prepared a pull as you proposed. I don't think the stream format is really fixed but ICY isn't exactly a standard. It's more established practice with a couple well-known headers and a couple more obscure ones ;-)

[2018-10-26 14:38] kaemanspk opened #5015 "TS stream has news ticker scrolling at bottom jittery(shaky)"
### Issue description
TS stream has news ticker scrolling at bottom jittery(shaky)

### Reproduction steps
video sample sent to dev mail
### Link to test content
video sample sent to dev mail

### Version of ExoPlayer being used
ExoPlayer-release-v2 (2.6.0)
### Device(s) and version(s) of Android being used
Amlogic s905x (MSQ Pro) ; Android 7.0.1

### A full bug report captured from the device
bug

[2018-10-26 16:04] ArezooNazer opened #5016 "How get list of subtitles and switch between them while video is playing in exoPlayer"
I'm using exoplayer for playing different stream types (hls, dash, smoothStream) and I want to switch between the unknown number of subtitles. It means that the number of subtitles depends on server response so how merge a list of subtitles? and how switch between them?

version of exoplayer : 2.9.0
my implementation repo : [https://github.com/ArezooNazer/AndroidVideoPlayer/blob/playerModule/playe

[2018-10-26 17:16] andrewlewis commented on #5006
This looks like another issue to do with handling empty ads: at least some of the ads in the preroll are empty, and our current behavior is to skip the whole ad group when this happens. Empty ad groups are difficult to handle in the IMA extension because we get very little information from the IMA SDK.

Is it possible to set up the ad serving so that the ad slots are not empty?

[2018-10-26 19:19] erdemguven commented on #5013
This has been fixed but not released yet unfortunately:
https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloaderConstructorHelper.java#L100

CacheKeyFactory is the right solution for your problem.

[2018-10-26 20:27] jrw95 opened #5017 "Problem playing multi-period Dash with redirects"
### Issue description
The manifest linked below has 7 periods, which correspond to the following:
Period 0: the 5-second preroll ad
Period 1: the first 10-second content block
Period 2: the first 5-second midroll ad
Period 3: the second 10-second content block
Period 4: the second 5-second midroll ad
Period 5: the third 10-second content block
Period 6: the 5-second postroll ad

The problem that o

[2018-10-26 21:12] n2lovell commented on #474
Just to report back, I finally got around to implementing this recently in the port (took ~1 week). Through to the sampleQueues it was pretty simple to implement, after that the HAL layer I used did the rest.

For a clarification as what I meant when I said seek. I think the closest approximation in Exo is changing the nextLoadPosition so that instead of loading the very next segment, instead load

[2018-10-27 01:24] menglinxiyi opened #5018 "unable to play hls stream"
We are creating a player to play HLS live streams(http://open.ls.qingting.fm/live/386/64k.m3u8),  I also try it on the demo, still can not play

[2018-10-27 03:13] menglinxiyi commented on #5018
and i check the log, there is no error!

[2018-10-27 23:09] hacker1024 commented on #4931
That's really weird... It looks like it is only written on 18 and below. However, the [stacktrace](https://hastebin.com/igucusahun.txt) I'm getting on Pie shows the RatingCompat object is still somehow making its way into the bundle.

I suppose the real bug is in the Android Support Library.
Is there some way to trace the RatingCompat object, and see which methods it's being passed to? That's the

[2018-10-28 08:15] harris914 commented on #4917
Thank you i was able to perform this functionality. During playback, if my device gets locked the playback stops. and as soon as i unlock the device it resumes. And it is a device specific issue as far as i have looked into. On Android MArshmallow device it stopped, but on Android 5.1 , Android Oreo and Android Pie it worked fine. Can you tell me how to overcome it?

[2018-10-28 11:59] jerrychong25 commented on #4997
Thanks @GonziMalaga, your solution works!

[2018-10-28 15:28] ojw28 commented on #4917
Please see [this FAQ](https://google.github.io/ExoPlayer/faqs.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded).

[2018-10-28 15:58] ojw28 commented on #4931
Do you think it's possible something else is parsing and then re-creating the bundle? For example [this code](https://android.googlesource.com/platform/frameworks/support/+/androidx-master-dev/media/src/main/java/android/support/v4/media/session/MediaControllerCompat.java?autodive=0%2F%2F#2388)?

[2018-10-28 16:23] ojw28 commented on #4988
@marcbaechinger or @andrewlewis are the right people to comment on this.

[2018-10-29 04:47] marcochin commented on #5018
I don't know if this is the same issue we're having, but we have multiple reports of customers who are also unable to play videos/ stuck in a long or infinite buffering states. We mainly use hls too. We can't reproduce it with any of the devices we have. Supposedly happening on both FireTV and AndroidTV. Just wanted to know if the exoplayer team has had any other similar reports? It's hard to prov

[2018-10-29 05:05] saiday commented on #5013
Thanks for pointing out the commit. Waiting for the release!

[2018-10-29 09:34] anhlevfx commented on #5005
### Issue description
I have VMAP file with pre-roll, mid-roll and post-roll. Use exoplayer-IMA extension, pre-roll play perfect in all cases, but when I seek video over mid-roll, if mid-roll not show up (empty ads maybe), player rewind video, start play from 00:00. If mid-roll show up, after ads end, video continue play normally. About post-roll if it not show up, exoplayer not call event STATE_E

[2018-10-29 10:14] magnusvs commented on #5006
If I've understood everything correct, the vmap file is set up with a rule of max number of pre-rolls for example and the slots that are sold will be filled and the other ones will be empty. So I don't think it is possible to eliminate empty ads.
The implementation on iOS and web works fine so they seem to handle this in some other way than skipping the whole group.

Currently when the whole group

[2018-10-29 10:32] lricardo commented on #4723
I should do that using onTimelineChanged callback or using a handler instead?

[2018-10-29 10:32] andrewlewis commented on #5006
The reason this is tricky is that our implementation preloads ads to avoid buffering when reaching an ad cue point, but when an ad is empty we get an event from IMA that doesn't tell us which particular ad index in which ad group fails to load.

I think the next step towards fixing this is to try replacing the code that marks the ad group as unplayable so it just marks the next ad as unplayable [h

[2018-10-29 10:55] AquilesCanta commented on #4723
`onTimelineChange` could be a good place to make these decisions, since it gets called whenever a new playlist snapshot is loaded. A new snapshot could be discarding old segments from the playlist, which is the cause of behind live window exceptions.

[2018-10-29 10:58] ojw28 commented on #5018
I think the problem is that the TS segments in the stream claim to have an H264 video stream, when this is not actually the case. ExoPlayer gets stuck in the buffering state because it's waiting to see the first pieces of data belonging to the declared stream (to determine its format), and this data never arrives. I don't think TS segments should declare a stream and then provide no data for it.

[2018-10-29 10:58] #5018 closed, assigned to nobody

[2018-10-29 11:12] andrewlewis commented on #5005
Could you send the ad tag URL to dev.exoplayer@gmail.com with subject "Issue #5005"?

[2018-10-29 11:48] anhlevfx commented on #5005
I sent you an email, please check it. Thank you.

[2018-10-29 12:17] anhlevfx opened #5019 "How to prevent and force focus to "skip button" manually use IMA extension"
### Issue description
In android TV. Video with ads use exoplayer-IMA extension version 2.8.4 have some codes to focus skip button on skippable ads. I have modified ima extension to can prevent focus or force focus skip button. Because our UX require that behavior. Everything work as I expected. But, when update to version 2.9.0, I can't do that.

### Reproduction steps
In version 2.9.0 don't have

[2018-10-29 12:31] andrewlewis commented on #5019
The IMA SDK takes care of focusing the skip button automatically on Android TV as of IMA SDK version 3.9.4.

At the moment it's not possible to customize the default behavior (focusing the button) because this needs to be set on [AdsRenderingSettings](https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/AdsRenderingSettings)

[2018-10-29 13:04] anhlevfx commented on #5019
Thanks you and waiting for your change. In my case, I have layout with a preview video (live tv) in top-right with about 60% width and 40% height of screen. 50% height below for list RowFragment, the list channel. When use press center button on D-pad video preview with resize full screen. But when user still focus to item in list channel and they don't press center button (they maybe press left/r

[2018-10-29 13:22] okycelt commented on #4786
The stb vendor managed to solve this even on an L3 by a firmware update. I'm closing the issue for now.

[2018-10-29 13:22] #4786 closed, assigned to tonihei

[2018-10-29 15:48] Mariovc commented on #5007
I upgraded to 2.9.0 and I didn't get this error.
Probably using `cancelDownload()` instead of directly use `thread.interrupt();` solved this.

[2018-10-29 15:48] #5007 closed, assigned to erdemguven

[2018-10-29 16:30] loredana2314 commented on #5003
Sorry about that, we sent you another email with other media.
Thank you for the support.

[2018-10-29 17:14] tonihei commented on #4908
Did you have a chance to verify it's working now? We'll also publish a 2.9.1. soon containing the fix above.

[2018-10-29 18:12] ojw28 commented on #5017
I think the manifest is malformed due to missing `@t` values in the periods that declare a `presentationTimeOffset`. I've attached a corrected manifest that appears to work fine.
[corrected.txt](https://github.com/google/ExoPlayer/files/2526509/corrected.txt)

[2018-10-29 18:12] #5017 closed, assigned to ojw28

[2018-10-29 18:14] ojw28 commented on #5016
Please take a look at our [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main), which has this functionality? The short section of the developer guide about track selection [here](http://google.github.io/ExoPlayer/guide.html#track-selection) should also give you an entry point into working out how to do this.

[2018-10-29 18:58] sergiomartinez4 commented on #5017
@ojw28 I think it's worth mentioning that the media plays in Shaka Player:
https://shaka-player-demo.appspot.com/demo/#asset=https://ssaiplayback.prod.boltdns.net/playback/once/v1/dash/live-timeline/clear/4800266849001/64b364f4-c077-46d8-a9c4-94c3633e82bf/9d16e610-068a-44ab-8042-980ea9409eb3/88a89cde-886f-46ab-ad7e-d7ec000c8a9f/manifest.mpd?bc_token=NWJmODFmMTlfMjA1Y2JiN2M1Zjc1YTJhYTZhZjFhYjk4Mzk1

[2018-10-29 19:22] ojw28 commented on #5017
Yes, I noticed that. However, either the stream is spec compliant or it's not. If it's not then there's little reason for us to spend time working around the issue, unless the issue is widespread in existing content, which we don't have evidence of at this point. It's also worth noting that, at least by my interpretation of the spec, Shaka is actually presenting media at the wrong time during the

[2018-10-29 19:28] ojw28 commented on #5017
By the way, the [DASH IF reference client](https://reference.dashif.org/dash.js/v2.9.1/samples/dash-if-reference-player/index.html) also gets stuck entering the first period I'm claiming to be broken (I didn't try with my adjusted manifest).

[2018-10-29 19:35] ojw28 commented on #5000
We need test content. Please also try with version 2.9.0.

[2018-10-29 20:00] ojw28 commented on #4853
Regarding the edit, I'm struggling to see how it would make a difference. It looks to me like the exact same thing ends up happening in both cases.

[2018-10-29 21:14] kgrevehagen commented on #4715
Hi @tonihei, now that 2.9.0 is out, I still see some issues with this. Could you link the commit that fixed this, just out of curiosity?

What I am seeing is that windowIndex is always 0, even though it fetches the next item in the ConcatenatingMediaSource(prefetching next item while playing current). Also, dataSpec is no longer null, but pretty much empty:
`DataSpec[GET , null, 0, 0, -1, null, 0]

[2018-10-29 21:18] jrw95 commented on #5017
@ojw28  I just tried the DASHIF reference player with your adjusted manifest, and it played all the way through.

[2018-10-29 22:11] andrew-norris opened #5020 "Keep already buffered data when seeking to another period"
### Issue description
I am trying to play multiple media streams in a `ConcatenatingMediaSource`. I can get the next tracks to buffer ahead of time. However when seeking within a track or to the next track, the buffered media is re-downloaded. We tracked this issue using Charles proxy and monitoring our network requests.

### Reproduction steps
 - Set up Charles Proxy to monitor network traffic.

[2018-10-30 05:04] hereisclient opened #5021 "getBitrateEstimate() works something wrong."
### Issue description
i'm developing my app using Exoplayer.
most of all. it worked fine.
but i want to show current bitrate on my player information.
So i used DefaultBandwidthMeter.
and i checked bitrate every 10 sec.

DefaultBandwidthMeter BANDWIDTH_METER = new DefaultBandwidthMeter();

class BitrateTask extends TimerTask {
    @Override
    public void run() {
      Log.d("COT", "send bitrate=

[2018-10-30 05:05] hacker1024 commented on #4931
No, that code only runs after a rating has been set on the MediaSession. The RatingCompat object is still in the bundle if this doesn't happen.

[2018-10-30 07:49] kgrevehagen commented on #4715
Turns out the `windowIndex` issue was my fault after all. When using `ConcatenatingMediaSource`, the `MediaSourceEventListener` needs to be added to that, and not each `MediaSource` inside it.
Am I correct in assuming this behaviour? Might just be me, but this could maybe be improved somehow in the documentation?

[2018-10-30 08:24] YunanChen commented on #4997
Thanks very much @GonziMalaga

[2018-10-30 09:21] tonihei commented on #4715
Yes, that's correct. You may also try to use `AnalyticsListener` which can be added to `SimpleExoPlayer` and gives you the load events together with window index and timeline information for more context.

[2018-10-30 09:26] tonihei commented on #5021
I think there is some confusion around the various bitrates here.

The logs look correct and sensible:
 - There is a video track with a variable bitrate around 3 Mbps ("video.avc.bitrateInKbps = 2584")
 - There is also an audio track with a bitrate of 95 kbps ("audio.mp4a.bitrateInKbps = 95")
 - And your bandwidth meter measured a network bitrate of around 34 Mbps ("send bitrate=34817456")

If tha

[2018-10-30 09:52] okycelt opened #5022 "Worse video quality on some devices in comparison with MediaPlayer"
### Issue description
We're using ExoPlayer to play UDP multicast streams and we've noticed that on some devices the video quality is 'worse' in comparison with MediaPlayer. It is noticeable especially when observing text. When playing the same stream using MediaPlayer the text seems sharper than using ExoPlayer.

From our tests, it seems ExoPlayer could only have this problem on boxes with 30Hz o

[2018-10-30 09:54] tonihei commented on #5020
That is probably working as intended.

Note that we can't keep arbitrary amounts of buffer in memory. That's why we only buffer a few seconds ahead as configured in the `LoadControl` (default is 50 seconds maximum).
- We also buffer ahead into the next playlist item if we already finished buffering the current one.
- The buffer is kept if you seek to a position within the current buffer (no matter

[2018-10-30 09:54] peddisri commented on #4780
The proposed change doesn't work. It goes into buffering at the end. The suggestions I gave earlier works. i.e
1. Don't retry manifest refresh if dynamicMediaPresentationEnded is set to true
https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/DashMediaSource.java#L737

else if (!dynamicMediaPresentationEnded
         && (expiredM

[2018-10-30 10:48] NazikSoft opened #5023 "Show live position on progress bar when player paused"

[2018-10-30 10:51] NazikSoft commented on #5023
Hi. How can I show live position on progress bar when I paused a player. Thanks

[2018-10-30 11:12] tonihei commented on #4922
Closing, as there wasn't any further input as to why this is needed. Please reopen if you can add new information.

[2018-10-30 11:12] #4922 closed, assigned to tonihei

[2018-10-30 11:12] tonihei commented on #4923
Closing because the question was answered.

[2018-10-30 11:12] #4923 closed, assigned to tonihei

[2018-10-30 11:13] tonihei commented on #4934
Closing, because question was answered.

[2018-10-30 11:13] #4934 closed, assigned to tonihei

[2018-10-30 11:15] tonihei commented on #4937
I guess the question was answered, so closing the issue. Please reopen if that's not the case.

[2018-10-30 11:15] #4937 closed, assigned to tonihei

[2018-10-30 11:18] hereisclient commented on #5021
i sent you test vod url serveral hours ago.
please could you test my url that i sent?

if bandwidth value from getBitrateEstimate() is correct or not.

[2018-10-30 11:18] tonihei commented on #4939
Closing as we didn't receive any further input.

[2018-10-30 11:18] #4939 closed, assigned to tonihei

[2018-10-30 11:18] tonihei commented on #4982
Closing because the question was answered. Feel free to reopen if not.

[2018-10-30 11:18] #4982 closed, assigned to tonihei

[2018-10-30 11:20] tonihei commented on #4931
You could try stepping through the code with the debugger to see if the calls from ExoPlayer are writing a RatingCompat?

[2018-10-30 12:03] tonihei commented on #5021
Checked your stream but everything works as I explained above.

[2018-10-30 12:22] tonihei commented on #5003
The media plays fine for me, although I used a new device.

Can you give some more details of what's wrong with the ExoPlayer playback?
- For example do both MediaPlayer and ExoPlayer use the same format? If not, it could be that you are just looking at different formats because both players made a different decision.
- Also, when the video "freezes", do you get droppedFrames notifications? You ca

[2018-10-30 12:33] Romantic-LiXuefeng opened #5024 "Synchronize starting of audio and video after seeking in MPEG-TS"
@ojw28  When the player seek with a Ts format, when the seek processed,  the audio track begins to  play for a while, but at this time the video is frozen at the first frame. Is there any way to improve the seek performance? This is reproducible with any ts format file.

[2018-10-30 13:33] SValence opened #5025 "Params of TrackOutput.ampleData(...) & TrackOutput.sampleMetadata(...) in Custom Extractor"
To achieve play surveillance camera video in ExoPlayer, I create two custom class respectively implements
class Extractor and Datasource.
For video:
When I receive video frame and put the data in ParsableByteArray, I can transmit the data through
[code]
the above code is execute in method: `read(...)` in the custom `Extractor`.
It is OK to play video.

`(Problem)` But, for audio, this method `read

[2018-10-30 13:34] ojw28 commented on #5022
Duplicate of #5003

[2018-10-30 13:34] #5022 closed, assigned to ojw28

[2018-10-30 13:36] ojw28 commented on #5003
We've had some reports about AmLogic (and possibly RockChip) STBs in the past. For example https://github.com/google/ExoPlayer/issues/953. They are likely device specific issues that need reporting to the manufacturer, rather than to us.

[2018-10-30 13:39] ojw28 commented on #5025
This question is outside the scope of this issue tracker, as it relates to custom components. I'll leave it open for a few weeks in case anyone can provide an answer though!

[2018-10-30 16:13] magnusvs commented on #5006
Thanks for the suggestion.
I've tried your solution and I think this leads to the pre-rolls and bumper is loaded and played correctly but then the player does not start the content. The last AdEvent is just an AD_PROGRESS.

I've also tried a similar approach:
[code]
This works sometimes, all pre-rolls and bumper is loaded and played. Post-rolls also works as expected. However it also sometimes fai

[2018-10-30 18:32] ojw28 commented on #4780
As per [this comment](https://github.com/google/ExoPlayer/issues/4780#issuecomment-429855489) and in particular the one that follows it, you need to edit the line for (3) to use `manifest.durationMs` to see correct behavior. Did you try that, or just patch the change in as it is?

[2018-10-30 20:31] Mastrom10 commented on #4997
Worked for me!!!

[2018-10-30 20:51] harini113 opened #5026 "Upgrade to V2.9.0 causes my apk to crash"
**"Error is: java.lang.RuntimeException: Constructor thew an exception. Class: com.qualcomm.aptmm_exoplayer.VideoTest
10-26 08:28:19.205  5161  5161 D AndroidRuntime: Shutting down VM
--------- beginning of crash
10-26 08:28:19.207  5161  5161 E AndroidRuntime: FATAL EXCEPTION: main
10-26 08:28:19.207  5161  5161 E AndroidRuntime: Process: com.qualcomm.aptmm_exoplayer, PID: 5161
10-26 08:28:19.207

[2018-10-30 22:55] abhishekredspace opened #5027 "Player does not recover from BehindLiveWindowException after preparing again."
### Issue description
I have followed https://github.com/google/ExoPlayer/issues/1074 completely and based on that I opened a ticket with my backend team.
I can assure you that in my case this is not the server side error. I have worked closely with the server team and I can definitely say video chunk files that are in the manifest are long lived and will only get deleted from the system after 24

[2018-10-30 23:50] adam-hurwitz opened #5028 "Can Exoplayer Stream mp3 Without Downloading File?"
# Issue
If a mp3 file is saved to the cloud, ie:Firebase Storage / Google Cloud Storage, can the file be streamed from Exoplayer without needing to download the full file size? If the mp3 can be streamed directly from Cloud Storage roughly what percentage of memory of the file is used in the transfer of the stream since the file itself is not being downloaded?

The objective is to avoid data trans

[2018-10-31 00:04] iamkurtgoz commented on #5026
as CommonsWare mentioned, for reference add this inside the android {...} closure in the build.gradle for your app module to resolve issue:

android {
...
  compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }
...
}

[2018-10-31 02:59] peddisri commented on #4780
Oh I forgot about that change. I'll do that today and retest. Sorry about that.

[2018-10-31 03:02] sangnguyen-it opened #5029 "Seekbar proccess change with webvtt"
Preview seekbar, seek to posion. I want to get content when seek bar change in webvtt, show image
getTextComponent().addTextOutput(new TextOutput() {
            @Override
            public void onCues(List<Cue> cues) {}

But. not sync between seetbar and simpleExoplayer for show image
Please help me.
Thanks you.

[2018-10-31 06:06] hereisclient commented on #5021
i just want to know  how i can estimate bitrate correctly.
you mean there is no solution to get right bitrate from test url by now?
i really want know how to get right bitrate from exoplayer.
but actually , getBitrateEstimate() function doesn't work well.

if you know the other way to get bitrate from exoplayer. please let me know about that.
this is a little important issue for me.

[2018-10-31 07:11] anhlevfx commented on #5005
Hello, Did you check my ad link? I have no idea how to resolve it. When mid-roll emit event end before play, I force it to end again and seek to current time. But, player continue rewind.

[2018-10-31 07:50] ErezNe commented on #5000
Hi
Please share with me on private your IP so I whitelist on my system which is geoblocking enable  and I will send you link to test content
Thx

[2018-10-31 08:26] loredana2314 commented on #5003
From our findings it looks like it is NOT a hardware/manufacturer issue. We also spoke to the device manufacture and they confirmed the same thing as below.

This are the results from our tests on the same device:
Default player plays the stream very well.
VLC player plays the the stream very well, same as default player.
MX Player plays the stream very well, same as default player.

Video plays s

[2018-10-31 08:44] tonihei commented on #5026
Did that solve your issue? It's probably a duplicate of #4907 if so.

[2018-10-31 08:44] #5026 closed, assigned to tonihei

[2018-10-31 08:48] tonihei commented on #5027
Have you tried calling `player.prepare(mediaSourceFactory, /*resetPosition*/ true, /*resetState*/ false);`?

If you don't reset the position, it will attempt start from the previous position again (which is still behind the live window).

[2018-10-31 09:01] tonihei commented on #5021
Which of the bitrates do you want to know?
- If it's the network bitrate, `BandwidthMeter.getBitrateEstimate()` gives the best estimate you can get from the player.
- If it's the average bitrate of the video or audio format, please listen to `AnalyticsListener.onDownstreamFormatChanged` to get the currently selected format. The Format contains a `bitrate` field which gives you the average bitrate

[2018-10-31 09:38] peddisri commented on #4780
Yes this works.

[2018-10-31 09:39] tonihei commented on #5003
There is also #926 and #678 which both sounds like the same problem. The conclusion on these issues was that it may be a device specific issue or may not occur with newer versions of ExoPlayer.

It's still a device-specific issue because it only happens on this device. However, given that the default player can play it fine, it seems we should be able to provide a workaround. Need to get hold of t

[2018-10-31 10:12] ojw28 commented on #5026
@tonihei - Can we update our documentation (e.g. dev guide / readme) to specify the need for the Java 8 compile options? Last I asked it didn't sound like it would be enabled by default any time soon.

[2018-10-31 10:30] ojw28 commented on #4780
Thanks for checking! I'll take a look at splitting the `isDynamic` flag as described above, so we can land a final version of this change.

[2018-10-31 10:33] vashisthumesh opened #5030 "how to get correct Duration time in exoplayer when url get changed in casting?"
i have implemented exo-player with chrome cast my problem is when i am changing URL after connecting to cast device i was getting incorrect duration time and the connected sign of the chrome cast not changing to show its connected some how URL is changed. Reproduction steps-

1.open app ,go to the video section and open it.
2.exo-player start with URL,now i am connecting cast with cast icon
3.cast

[2018-10-31 11:27] ojw28 commented on #5028
Yes. That's just what happens by default when you use ExoPlayer to play a stream.

You can configure this by instantiating your own [DefaultLoadControl](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html), which you can pass to `ExoPlayerFactory.newSimpleInstance` when building the player. You can also implement your own `LoadControl` from scratc

[2018-10-31 11:28] ojw28 commented on #5029
It's a little hard to parse your question, but I think this is a duplicate of #3480. Marking as such. Please let me know if I misunderstood.

[2018-10-31 11:28] #5029 closed, assigned to ojw28

[2018-10-31 11:34] ojw28 commented on #4078
@natez0r - Any idea what the status of this issue is at this point?

[2018-10-31 11:59] ojw28 commented on #5023
This should already happen for DASH / SS / HLS streams. For progressive live streams (e.g. MP3) this is not supported.

[2018-10-31 12:12] ojw28 commented on #5000
You'll need to find a way to provide a publicly accessible test stream, sorry.

[2018-10-31 13:39] sridhard commented on #5021
@tonihei

I also face issues in bitrate/bandwidth. I have implemented the onBandwidthSample of DefaultBandwidthMeter. The elapsedMs in this callback is coming very low. Actual network speed is 2-3 Mbps. But the bitrate in  onBandwidthSample is 20-30Mbps.

I have checked okHttpDataSource.java of exoplayer. In that I find that exoplayer is downloading the HTTP media synchronously as below:

@Overrid

[2018-10-31 13:45] tonihei commented on #5021
@sridhard That may be an issue and we were planning to look at the accuracy of our estimates in the near future. But I think it's unrelated to original question above.

[2018-10-31 13:56] martijn00 opened #5031 "Add util to convert Metadata into MediaMetadataCompat"
### Issue description
Currently it's hard to extract metadata information and using it in the `MediaSessionConnector`. To make it easier i would suggest to add a conversion util that converts `Metadata` into a `MediaMetadataCompat` which can already be converted into a `MediaDescriptionCompat`.

This way it could be used to updated metadata on notifications, lockscreen and cast.

### Reproduction

[2018-10-31 14:00] NazikSoft commented on #5023
I play a video stream (live tv), I guess it's HLS  stream. After pause, user play from last position, but I want show current live position on progressBar. Maybe I can get it from method player.seekToDefaultPosition()?

[2018-10-31 14:24] bene25 commented on #4817
Thanks for helping.
Problem resolved with ExoPlayer update to 2.8.4 and ExoMedia to 4.2.3

[2018-10-31 14:25] #4817 closed, assigned to andrewlewis

[2018-10-31 14:51] abhishekredspace commented on #5027
I have tried both the ways i.e.
`player.prepare(mediaSourceFactory.get(), true, false);`
`player.prepare(mediaSourceFactory.get(), true, true);`
but no luck.

[2018-10-31 15:24] abhishekredspace commented on #5027
Here is some more information:
I did some debug in the exoplayer code and found that in `ExoPlayerImplInternal.java` in the method `doSomeWork()`, `playingPeriodHolder` is `null` and hence I guess it is not recovering.

[code]

[2018-10-31 15:32] wangdaliu commented on #4660
@AquilesCanta  i also have this issue `Cannot find sync byte. Most likely not a Transport Stream` with https://d10xbpcmtwxcsn.cloudfront.net/HLS/SampleTrimmed.m3u8(H265). And I can open this in safari.

[2018-10-31 15:46] sridhard opened #5035 "Help required"
Hi,

I am able to successfully compile the exoplayer in android studio. I want to generate jar file so that I can use in other projects. I am not able to find any info regarding this.

Can you please tell how to  generate jar file?

[2018-10-31 16:08] acollazomayer opened #5036 "Exoplayer sets Content-Length header by default in license server call"
### Issue description
Im implementing DRM with exoplayer to a custom license server. This license server does not allow the Header `Content-Length` however, The Request to the license server is setting it by default. I have no control of the license server. How can I omit this header.

### Version of ExoPlayer being used
I am using 2.9.0

### Device(s) and version(s) of Android being used
Im using

[2018-10-31 16:22] tonihei commented on #5027
I just tried to test your stream, but it's no longer valid (I'm getting a 400 response code).

Also tested with another live HLS stream and it works well. I reduced the bandwidth, waited until a BehindLiveWindowException and then the player gets reprepared with `player.prepare(mediaSource, true, false);`. Can you try updating to the latest version to see if something if it's fixed? Maybe something

[2018-10-31 16:25] ojw28 commented on #5036
I'm not sure this is a valid thing for a server to do. Is it? I think the `Content-Length` field is filled in by the underlying network stack; and it's expected that all servers should support it.

[2018-10-31 17:07] natez0r commented on #4078
@ojw28 We are currently upgrading to exo 2.9 and okhttp 3.11, plan to have something testable by end of week where we can determine if this is fixed/mitigated

[2018-10-31 17:19] AquilesCanta commented on #5015
This does not seem to be ExoPlayer specific. We have reported the issue to the media framework team [internal ref: b/118755604]. We will update the issue once we hear back from them. I don't think we can do anything else on this, though.

[2018-10-31 17:44] abhishekredspace commented on #5027
I cannot update to latest at this moment as we are dealing with time-critical deadlines and we do not  have space for regression testing after the update. After I prepare(...), I see the player state is changing to Buffering but never gets to Ready state. So to be clear, below handling is working for you. Can you share the livestream which is working for you? Also if it is not much of a pain, is i

[2018-10-31 17:46] acollazomayer commented on #5036
@ojw28 The thing with the license servers we use is that they are very restricting. I make the same call to the license server form a DashJS drm implementation and its reproducing with no problem. When i make it with exoplayer I am getting an error code of 400 (Which in this case implies a mismatch in the headers. And the only difference between the two calls is the Content-Length Header

[2018-10-31 18:07] ojw28 commented on #5036
Right, but at some point there has to be a minimum level of support provided by the server.

You might be able to "fix" the problem on the client side by removing [this line](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java#L520), or possibly replacing it with a call to `setChunkedStreamingMode`. Beyond

[2018-10-31 18:51] acollazomayer commented on #5036
@ojw28 Thanks ojw28 I will try to do this. I found out that now i have to send to reproduce two times and then after that the license server is returning 200. Which is also wierd. However i can reproduce.

Thanks!!!

[2018-10-31 18:54] abhishekredspace commented on #5027
I am seeing in one case where it is working which is if I put a debug point at the `prepare` call. If I am in debug mode and this exception occurs, player does recover. Now I am thinking is there some thread issue?

[2018-10-31 20:14] abhishekredspace commented on #5027
I think the problem was at my end. I am able to make it work. Sorry and thanks for the help!!

[2018-10-31 20:14] #5027 closed, assigned to tonihei

[2018-11-01 02:11] hunanqi commented on #4559
Hi men,I saw the 2.9.0 version was released today.No use the flag FLAG_WORKAROUND_IGNORE_EDIT_LISTS，Circular execution(Initialization player ，Play 10 videos and release-> pause for a while.)A day later,frame frozen appears 。Appear in log，Media server died，Media server started，

[2018-11-01 02:31] hunanqi commented on #4559
Here is the complete log，https://raw.githubusercontent.com/hunanqi/Retrofit_Two/master/log.log ，The time should be，11-01 01:56:43.521。

[2018-11-01 03:08] hereisclient commented on #5021
oh i really got it what you're trying to say .

There is a lot of bitrate.

but my need is to get real bitrate during exoplay is playing somecontent not network bandwidth.
my goal is just like below log.

**2018-10-30 13:52:52.837 12865-13075/com.google.android.exoplayer2.demo I/MediaCodecLogger: com.google.android.exoplayer2.demo.HW.video.avc.bitrateInKbps = 1421
2018-10-30 13:52:52.941 12865-130

[2018-11-01 06:25] #5035 closed, assigned to nobody

[2018-11-01 06:35] sridhard opened #5038 "OkHttp: Exoplayer bitrate estimate is not accurate"
### Issue description
Exoplayer bitrate estimate is not accurate

### Reproduction steps
I have implemented the interface  onBandwidthSample of BandwidthMeter.EventListener and passed to DefaultBandwidthMeter as below:

[code]

Network speed is around 2-3Mbps. But the bitrate reported by onBandwidthSample is 20-30Mbps. This is because the elapsedMs is very low in the range of 30-100 ms.

I have in

[2018-11-01 07:21] andrewlewis commented on #4559
@hunanqi This looks like a device-specific issue that would need to be fixed by the OEM via a system update. The mediaserver dies due to a segmentation fault in libOMX.WMT.Video.Decoder.so.

[2018-11-01 07:33] nguyenvansang commented on #5029
@ojw28
thanks you.
You can help me.
Have Exoplayer support get all list<Cue> content Webvtt play video?
Because it get one Cue when TextOutput render play video.
I want to get all list content into SimpleExoPlayer.

Img 15
00:02:25.000 --> 00:02:35.000
trailer-secretsofthethreekingdoms-logo.jpg#xywh=1400,0,100,56

Img 16
00:02:35.000 --> 00:02:45.000
trailer-secretsofthethreekingdoms-logo.jpg#xywh

[2018-11-01 07:54] hunanqi commented on #4559
@andrewlewis   From logcat, there are several times that the following logs appear.
 LoadTask: OutOfMemory error loading stream
06-15 05:26:22.500 7182 7207 E LoadTask: java.lang.OutOfMemoryError: Failed to allocate a 65552 byte allocation with 41576 free bytes and 40KB until OOM, max allowed footprint 100663296, growth limit 100663296
06-15 05:26:22.500 7182 7207 E LoadTask: at com.google.android

[2018-11-01 08:05] andrewlewis commented on #4559
@hunanqi This doesn't seem related to the freeze frame issue tracked here, so please file a new issue and include all the information requested in the new issue template. The logging attached above doesn't seem to include an out of memory error, so please include a full bug report on the new issue, and provide steps to reproduce the problem if possible.

[2018-11-01 08:44] tonihei commented on #5038
For reference - that's a copy of this [post](https://github.com/google/ExoPlayer/issues/5021#issuecomment-434690544).

[2018-11-01 08:49] tonihei commented on #5038
As said on the other thread, there may be inaccuracies in the estimates during start-up. We need to investigate a bit further to know what needs to be done here. This may also be specific to OkHttpDataSource. I'll mark this issue as an enhancement until this is done.

As we may not get around to this soon, you can help us if you wish by providing measurements of the current time in onTransferIniti

[2018-11-01 08:53] sridhard commented on #5038
Hi,

I checked the code. In OkHttpDataSource.java, the http request is made synchronously. The transferStarted() is triggered once execute() is success. This means the the transferStarted() notification time is not correct and as a result the time difference between transferStarted() and transferEnded() is very low. I have added some debug logs when transferStarted() is called and when transferEnd

[2018-11-01 08:55] sridhard commented on #5038
@tonihei please review the code changes of the above function. I have tested with local HTTP server and also with the CDN. The code works fine.

If the code is OK I will raise a pull request

[2018-11-01 09:08] sridhard commented on #5038
@tonihei in failure case we need a better way to handle transferEnded(). In failure case we need to report failure status with transferEnded() so that the caller/listener dont consider this request as success and calculate bandwidth

[2018-11-01 09:09] tonihei commented on #5021
As I said above, for adaptive streaming, please listen to AnalyticsListener.onLoadStarted and/or AnalyticsListener.onLoadFinished to get information about the individual loaded chunks. This information includes the size and the media times of the chunk, so that you can calculate the bitrate from that.

[2018-11-01 09:52] tonihei commented on #5038
Thanks for the analysis. We still need to think about how to solve this properly. While I can see how the execute() call already seems to take the majority of the time, we should still distinguish between the time to open the connection and the time to load data (if possible). Also, the transferEnded call must happen in close(), that's just how the interface works at the moment.

How did you confi

[2018-11-01 10:00] sridhard commented on #5038
I am using react-native-video plugin to support video in react-native with exoplayer. Below is the function which build the OkHttpClient

[code]

As far as I know there is no caching. This I am confident because I uninstalled and reinstalled the app during testing. Also I have verified with different HLS urls.

[2018-11-01 10:11] sridhard commented on #5038
As per your comment "Also, the transferEnded call must happen in close(), that's just how the interface works at the moment"

Since the http is fetched in synchronous method, we need to call transferStarted() before execute(). After calling execute the request can fail or pass. If the request fails currently close() is not called, but we need to indicate transferEnded().

Any better way to solve t

[2018-11-01 10:14] tonihei commented on #5038
As far as I understand .execute() returns as soon as the response is ready (=connection is open). That doesn't mean that the entire stream has been loaded into memory. It still needs to be read using the byte stream obtained from the response.

Not sure how to improve the current situation yet. I think it needs some further analysis and testing to see what's happening.

[2018-11-01 10:35] wangdaliu opened #5039 "Cannot find sync byte. Most likely not a Transport Stream."
### Issue description
I have an M3U8 file, https://d10xbpcmtwxcsn.cloudfront.net/HLS/SampleTrimmed.m3u8. Generated by MediaConvert (AWS), and use H265 codecs. Also i can open it in safari.

### Link to test content
Can reproduce with this link
https://d10xbpcmtwxcsn.cloudfront.net/HLS/SampleTrimmed.m3u8

### Version of ExoPlayer being used
2.9.0

### Device(s) and version(s) of Android being used

[2018-11-01 10:46] sridhard commented on #5038
In OkHttp there are 2 ways to download a file. Synchronous and asynchronous. More info can be found at https://www.journaldev.com/13629/okhttp-android-example-tutorial

In synchronous method, once the execute() function returns the response will have some data. This means that it has downloaded the data from server. May be execute() will return after receiving the first chunk of data(I am not sure

[2018-11-01 11:57] tonihei commented on #5038
If you have the time to investigate, you could try to use the asynchronous callback to see if the timing is better? Otherwise this needs to wait a while until we get around to investigate this.

[2018-11-01 13:51] roundsmapp commented on #4924
Hello, @andrewlewis , any news about this issue?

[2018-11-01 15:47] harris914 commented on #4917
I created a foreground service as mentioned in the FAQ but still the problem persists in some devices. Wakelock is also necessary for it?

[2018-11-01 16:24] harini113 commented on #5026
Thanks Ojw28 and tonihei, The compile options did fix my issue. If you can
add it by default or add it to some documentation that would definitely
help.

Thanks

Sri

On Wed, Oct 31, 2018 at 3:12 AM ojw28 <notifications@github.com> wrote:

[2018-11-01 16:52] tonihei commented on #5026
We did both, see the commits referenced above.

[2018-11-01 17:38] loredana2314 commented on #5003
From the logs "decoderInitialized" is OMX.amlogic.avc.decoder.awesome for video and OMX.google.aac.decoder for the audio. As for the Build.DEVICE: stvm8 and  MODEL: Quad-Core Enjoy TV Box. Attached you will find some more logs from the device that we are interested in (the one that our customers have). You will also find system/etc/media_codecs.xml.
We will also send an email with a new valid medi

[2018-11-01 18:46] perracodex opened #5040 "Update time bar more frequently for short videos"
When playing a video the DefaultTimerBar updates the current seek position at 1 second intervals.
Is there any setting to set it at a smaller time precision, so the seekbar updates more smoothly for short videos?

[2018-11-01 19:29] ojw28 commented on #5040
Do you just mean the frequency with which the current position is updated during playback (i.e. nothing to do with the user seeking to a different position)?

If so then the frequency is controlled in `PlayerControlView.updateProgress` rather than `DefaultTimeBar`. It's a bit more complicated than once every second. For example it'll update more frequently if the playback speed is faster than 1x.

[2018-11-01 19:30] ojw28 commented on #4917
The FAQ already provides an answer to that question :).

[2018-11-01 19:38] perracodex commented on #5040
Yes this is exactly what I meant.
For long videos it looks fine, but for shorter videos of just a few seconds would be better to see a smoother update instead of a second to second big jump.

[2018-11-01 19:44] ojw28 commented on #5040
Thanks for confirming! We should probably do something like calculate what duration of elapsed time corresponds to 1dp of the screen, and incorporate that into the calculation. Doing this would also update the time bar more frequently on physically larger devices than on small ones, which also seems like a good idea.

I've already marked this as an enhancement, so we can use it for tracking.

[2018-11-01 21:06] fougere-mike commented on #3152
@ojw28 Any update on this? I'm updating my fork and hit the same issue again.

[2018-11-02 02:22] sridhard commented on #5038
Ok..I will try it next week.

[2018-11-02 02:36] nuoyan2 opened #5041 "Audio out of sync problem"
Thank you for sharing video is network video MP4 format set infinite loop setLooping(integer.max_value) loop playing for 2 hours is ok but if it is more than 8 hours there is an audio out-of-sync problem  My English is not good enough to use the translation software

[2018-11-02 07:27] keeponZhang opened #5042 "player.getCurrentPosition() incorrect,sometims return value is negative when play a short mp3 file"
OsVersion==4.4.4 PhoneVersion==SM-G7200
ExoPlayer version: v2.9.0
The sample code is :
`
		DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
		TrackSelection.Factory selectionFactory = new
                                                  AdaptiveTrackSelection.Factory(bandwidthMeter);
		TrackSelector trackSelector = new DefaultTrackSelector(selectionFactory);
		mCurrentPlayer =

[2018-11-02 07:28] #5042 closed, assigned to nobody

[2018-11-02 07:41] sangnguyen-it opened #5043 "Have Exoplayer support get all list content Webvtt ?"
Hi. Please help me
I using exoplayer version 4.7.1.
I add webvtt subtitle. I want to...
Get all webvtt list Cue when starting the player. I tried but don't success.

[code]
Not working, text render when play video. don't get all.

Thanks

[2018-11-02 07:44] sangnguyen-it opened #5044 "Have Exoplayer support get all list TextOutput when start play video?"
Hi. Please help me
I using exoplayer version 4.7.1.
I add webvtt subtitle. I want to...
Get all webvtt list Cue when starting the player. I tried but don't success.

[code]
Not working, text render when play video. don't get all.

[2018-11-02 07:44] #5044 closed, assigned to nobody

[2018-11-02 07:49] keeponZhang opened #5045 "player.getCurrentPosition() incorrect,sometims return value is negative when play a short mp3 file"
OsVersion==4.4.4 PhoneVersion==SM-G7200
ExoPlayer version: v2.9.0
The sample code is :
 ``DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter(); ``
 ``TrackSelection.Factory selectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);`` ``TrackSelector trackSelector = new DefaultTrackSelector(selectionFactory); ``
``mCurrentPlayer = ExoPlayerFactory.newSimpleInstance(TestAct

[2018-11-02 08:19] andrewlewis commented on #5041
Are you using ExoPlayer 2.9.0? #4559 may be relevant. Please attach the MP4 if you want us to investigate further.

[2018-11-02 08:22] nuoyan2 commented on #5041
是的 几个小时前找到了这个方法  ＃4559  现在已经不出现音频不同步问题了 感谢

[2018-11-02 08:23] nuoyan2 commented on #5041
Yes, I found this method a few hours ago, # 4559. Now there is no audio out-of-sync problem, thank you

[2018-11-02 08:23] #5041 closed, assigned to andrewlewis

[2018-11-02 09:22] rakki-cbe opened #5046 "Need support for IGMP protocol"

[2018-11-02 09:36] rakki-cbe commented on #5046
I used android api level 23
Exo- player version : 2.7.2
Our device supports multi casting

[2018-11-02 10:21] ojw28 commented on #5046
This is not a use case we support currently. Marking as an enhancement, but it will likely be considered low priority.

[2018-11-02 10:40] ojw28 commented on #5045
I don't see any negative timestamps in the content, so I think this must be related to `DefaultAudioSink` timing somehow?

[2018-11-02 10:52] ojw28 commented on #5043
We don't support getting hold of the full list. We output the cues at the points in time at which they're supposed to be rendered. Sorry!

[2018-11-02 10:52] #5043 closed, assigned to ojw28

[2018-11-02 10:54] ojw28 commented on #5036
Closing as I do not see this as an ExoPlayer issue.

[2018-11-02 10:54] #5036 closed, assigned to ojw28

[2018-11-02 11:11] AquilesCanta commented on #3152
Sorry, this fell off my radar. I'll see what I can do.

[2018-11-02 12:54] Sekhtech opened #5048 "onCustomAction in CustomActionReceiver is not getting called"
I am trying to have a notification bar for playing music using foreground service. To close the notification I want to use a custom "close" button. My code to create a playerNotificationManger is below..

[code]

Now, the close icon is shown on the notification bar but if I pressed, it does not do anything and "onCustomAction" is not also called. Even if I pass a pendingIntent while creating an Ac

[2018-11-02 16:06] ojw28 commented on #5039
This will be fixed in `2.9.1`.

[2018-11-02 16:06] #5039 closed, assigned to AquilesCanta

[2018-11-02 16:08] ojw28 commented on #5024
Using a more appropriate container format would resolve the issue. TS doesn't do a good job of supporting seeking. Marking this as an enhancement, but it will likely be treated as low priority.

[2018-11-02 22:22] mzj opened #5049 "Wrong current position after seeking multiple times (playback continues after duration)"
### Issue description
When playing longer mp3 files in demo player, after using seek bar multiple times, playback continues (with normal sound) even after the current time gets bigger than duration. Best reproduced on longer, local files.

Related to buffering because after using DefaultLoadControl with bigger min and max BufferMs time mismatch is reduced from ~10 seconds to max 5 seconds.

Openin

[2018-11-03 04:05] deRonbrown opened #5050 "Improve documentation on routing of volume key events to active MediaSession"
### Issue description
When playing content using the CastPlayer, the device's physical volume buttons should control the receiver device's volume. This behaves as expected when the CastPlayer is contained within an Activity. However, when the CastPlayer is contained within a Service (such as a MediaBrowserServiceCompat) the physical volume buttons change the sender device's media volume.

### Repr

[2018-11-03 04:21] dsv591 commented on #2014
Hi. Is there any progress on this?
With the amount of issues referenced and the popularity iptv services have acquired lately, I respectfully request the "low priority" tag on this is reconsidered

[2018-11-03 10:37] crook3 opened #5051 "Method getduration return TIME_UNSET value. I tried TsExtractor three modes."
This is Video info obtained by Exoplayer.

Format(1/256, null, video/avc, -1, null, [1920, 1080, -1.0], [-1, -1])
Format(1/8448, null, application/cea-608, -1, null, [-1, -1, -1.0], [-1, -1])
Format(1/257, null, audio/mp4a-latm, -1, und, [-1, -1, -1.0], [2, 48000])

Can any one help me , Thanks.

[2018-11-03 20:02] Denis55ka opened #5052 "FLAC: APP_STL gnustl_static is no longer supported"
I am trying to build a FLAC extension with the latest version of the NDK (18.1.5063045), it ends with an error:
/Users/user/Library/Android/sdk/ndk-bundle/build/core/add-application.mk:178: *** Android NDK: APP_STL gnustl_static is no longer supported. Please switch to either c++_static or c++_shared. See https://developer.android.com/ndk/guides/cpp-support.html for more information.    .  Stop.

[2018-11-03 21:09] Denis55ka commented on #5052
I found pull request #4882. This issue may be closed.

[2018-11-03 21:09] #5052 closed, assigned to nobody

[2018-11-04 06:59] ArezooNazer commented on #5016
I did this by the following code
[code]
the subtitle will be selected from the dialog by user.

[2018-11-04 14:56] itboy87 opened #5053 "setPlayWhenReady function crashing CastPlayer when calling it with value false and then true while player state buffering"
### Issue description
Player crash when video casting on chromecast and playstate is buffering then if we set CastPlayer.setPlayWhenReady(false) and then CastPlayer.setPlayWhenReady(true) in sequence. CastPlayer crash and cast stop working. According to crash first CastPlayer.setPlayWhenReady(false) was not committed which cause crash check logs below. I think it will be fixed if i will wait for p

[2018-11-04 15:05] itboy87 commented on #5053
i changed my code with this now its working fine
[code]
I added my own variable playWhenReady and changing it on pause, play and when playerstate change. Now its not crashing.

[2018-11-04 23:07] ojw28 commented on #5051
You may well find this issue can be resolved by updating to 2.9.0, if you're currently using an older version. That aside, this issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/Exo

[2018-11-04 23:07] #5051 closed, assigned to ojw28

[2018-11-04 23:10] ojw28 commented on #5049
I suspect this is the same as #2608, but @andrewlewis can confirm.

[2018-11-04 23:11] #5016 closed, assigned to ojw28

[2018-11-05 00:32] ojw28 commented on #4903
Regrettably, I'm closing because required information was not provided. If you're able to provide us with a file, please do so and we'll reopen the issue.

[2018-11-05 00:32] #4903 closed, assigned to ojw28

[2018-11-05 00:34] #5028 closed, assigned to ojw28

[2018-11-05 00:41] ojw28 commented on #4584
Closing due to lack of required information. If you're able to provide it, please do so here and we'll re-open the issue.

[2018-11-05 00:41] #4584 closed, assigned to ojw28

[2018-11-05 02:05] tmizuguchi-bckk commented on #4329
@rrfrias
would you have any further updates? More users have experienced the same issue on another device (Android One S4 w/ Android8.1) from the same manufacture Kyocera. Hope hearing from you soon.

[2018-11-05 03:06] hunanqi opened #5054 "A long cycle of playing 10 video cards in a frame."
### Issue description
A long cycle of playing 10 video cards in a frame.
The same equipment, some appear, some do not appear, I am not sure whether it does not appear
because the critical value was not measured. However, there are more than 1 bug devices.

The location of the video is U disk.

### Reproduction steps
1.Prepare 10 video screens.
2.set up REPEAT_MODE_ALL
3.Wait for more than 1 days.

[2018-11-05 08:32] ojw28 commented on #4883
@ronak2121 - I don't think the links you've provided work any more (or they're geo-restricted). Could you take a look? Thanks.

[2018-11-05 08:36] ojw28 commented on #3803
@andrewlewis - Can this be closed now?

[2018-11-05 08:37] #5019 closed, assigned to andrewlewis

[2018-11-05 08:41] ojw28 commented on #4790
If you control the server side then I'd suggest you upgrade to using FMP4 segments, and get all of the other benefits that brings at the same time. FMP4 segments have been supported in HLS for a while now.

For a local fix, you could try something like modifying `TsExtractor` to execute some flushing logic when `read` is about to return `RESULT_END_OF_INPUT`, where the flushing logic causes any pe

[2018-11-05 08:41] #4790 closed, assigned to ojw28

[2018-11-05 08:53] andrewlewis commented on #4119
ima-demo is intended to be very simple and doesn't fully implement saving the content position (it doesn't override `onSaveInstanceState` or otherwise persist the position). Please try using the main demo app.

[2018-11-05 08:53] #4119 closed, assigned to andrewlewis

[2018-11-05 09:09] andrewlewis commented on #3803
I think we can close this on the assumption that the buffer sizes were too small before 7ead310. I tested the change using high bitrate content in various encodings on Nexus Player and Nvidia Shield.

@Balthazar2k4, @IanDBird, @drhill, @hjtech If you see issues with underruns after including the fix above please provide some sample content and a bug report on a new issue and we'll take a look. Tha

[2018-11-05 09:09] #3803 closed, assigned to andrewlewis

[2018-11-05 09:47] ojw28 opened #5055 "SimpleExoPlayer: Cannot disable audio focus handling after enabling it"
I think there's a problem with the way this returns without doing anything:

https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/audio/AudioFocusManager.java#L145

It probably needs to reset some state, and abandon audio focus if it was previously held. I actually wonder whether just deleting this `if (null) { return }` will result in the ri

[2018-11-05 09:58] andrewlewis commented on #5049
It looks the same as that issue: the time-to-byte mapping we derive from a Xing header may be inexact. If load control causes the entire stream to be buffered from the start then we will derive an exact timestamp for every sample because we know the timestamp is zero at the start and the exact duration of every frame that gets loaded.

[2018-11-05 09:58] #5049 closed, assigned to andrewlewis

[2018-11-05 11:23] marcbaechinger commented on #4988
@png6 Sorry for the late response.

Yes, you are correct. You should call the PlayerNotificationManager.setNotificationListener just after you create the PlayerNotificationManager, or, more precisely, before you do setPlayer(player) which may trigger NotificationListener. onNotificationStarted(int, Notification) immediately.

Once you receive the onNotificationStarted(int, Notification) you can ca

[2018-11-05 11:28] AquilesCanta commented on #5054
Please provide a bugreport as requested in the issue template, I suspect the provided log is just a logcat.

I don't understand what

or

mean.

Not yet clear which device you are testing on. Have you also tried on other devices?

We will reopen the issue once the issue template is correctly filled and the requested clarifications addressed. Thanks!

[2018-11-05 11:28] #5054 closed, assigned to AquilesCanta

[2018-11-05 11:30] andrewlewis commented on #4988
Yes. There is an issue at the moment where if you call `PlayerNotificationManager.setNotificationListener` after `startOrUpdateNotification` has been called internally (which can happen as a result of setting a non-idle player or having the player trigger events) then you won't get `onNotificationStarted` because `isNotificationStarted` will have been set to true already.

I think it'd be fine to

[2018-11-05 11:50] andrewlewis commented on #4924
The most similar device I could get hold of was a Samsung Galaxy S9 `samsung/starltexx/starlte:8.0.0/R16NW/G960FXXU2BRGA:user/release-keys` and I couldn't reproduce the issue on there, but it appears to have a different chipset unfortunately. Can you reproduce the issue on any other devices?

Do you have the same issue when playing the media via MediaPlayer with `adb shell am start -a android.inte

[2018-11-05 12:08] andrewlewis commented on #4979
I tried to reproduce this by adding the provided image as a resource in the [io18 audio demo app](https://github.com/google/ExoPlayer/tree/io18) and setting the bitmap for the first sample to the new resource, but the image showed up as expected. Looking through your code snippet I didn't spot anything obviously wrong. Could you try using this demo app yourself and see whether the album art shows

[2018-11-05 12:10] andrewlewis commented on #4978
Closing due to inactivity.

[2018-11-05 12:10] #4978 closed, assigned to andrewlewis

[2018-11-05 12:11] andrewlewis commented on #4973
Closing due to inactivity.

[2018-11-05 12:11] #4973 closed, assigned to andrewlewis

[2018-11-05 12:12] andrewlewis commented on #4969
I don't think we've received a bug report so closing due to inactivity.

[2018-11-05 12:12] #4969 closed, assigned to andrewlewis

[2018-11-05 12:14] andrewlewis commented on #4952
I don't think we received a full bug report (just a snippet of logcat) so closing. Please send a full bug report and reply here if you want us to investigate further.

[2018-11-05 12:14] #4952 closed, assigned to andrewlewis

[2018-11-05 12:16] andrewlewis commented on #4845
Closing due to inactivity. If you want us to investigate please provide the requested information.

[2018-11-05 12:16] #4845 closed, assigned to andrewlewis

[2018-11-05 12:18] andrewlewis commented on #4938
I don't think we received further information or the ad tag, so closing. Please provide the requested information if you want us to investigate this.

[2018-11-05 12:18] #4938 closed, assigned to andrewlewis

[2018-11-05 12:54] dilonne opened #5056 "Failed to resolve: play-services-basement"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-11-05 12:57] hleh opened #5057 "Question about SCTE-35 stream not getting next chunk"
Hello,
I'm having a problem with Exoplayer and a specific SCTE-35 live DASH stream.

### Issue description
I'm developing a new feature which is using a new type of stream on our end. The stream is supposed to be identical to our other live DASH streams which work fine with Exoplayer, with the exception of having defined EventStream cue points. This stream is working with a dash-player on browsers

[2018-11-05 13:28] hunanqi commented on #5054
@AquilesCanta
mean:External hard disk for USB interface  and  frame frozen appears
I provided the logs for the entire device.There is no obvious error report.
I doubt it is related to 4559.
Sorry, no other equipment has been tried. My equipment is of the same type.

[2018-11-05 13:32] marcbaechinger commented on #4988
In any case it would be sufficient to have an ordinary service instead of the foreground service whilst not doing playback. This way the system can kill our service if we are not actually playing and resources become scarce. It might take some time to setup the service again, but it does not really hurt and is good citizenship. Actually, it might even make sense to  remove the service from the for

[2018-11-05 13:43] hunanqi commented on #5054
@AquilesCanta
Time of error occurrence：this logcat  11-03 20:43:45.054

[2018-11-05 14:10] andrewlewis commented on #5045
This is reproducible on ms01ltezh running JLS36C. The cause seems to be that the decoder outputs a final buffer with the end-of-stream flag set and timestamp 0. The default audio sink interprets this timestamp as a position discontinuity and adjusts its start media time, which in turn leads to the player position becoming negative. I'll see if there's a workaround to fix the erroneous output buffe

[2018-11-05 14:21] AquilesCanta commented on #5054
Please provide all elements requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). The bugreport, the tested device and the media to reproduce are missing.

[2018-11-05 14:22] AquilesCanta commented on #5054
Also, it's still not clear to me what the issue is. Can you clarify what the "expected behavior vs actual behavior" looks like?

[2018-11-05 15:02] AquilesCanta opened #5059 "HlsPlaylistTracker triggers a playlist load when getPlaylistSnapshot is called"

[2018-11-05 16:40] okycelt commented on #5003
Since our issue related to this topic was closed (#5022) and we also want this resolved, I'd like to share our observations here.

We're seeing basically the same symptoms as @loredanatosku. In MediaPlayer, the image quality is better (the image is sharper) and the playback is smoother. Whereas in ExoPlayer, the image is not that sharp and the video seems like it would have slightly lower frame ra

[2018-11-05 17:20] andrewlewis commented on #4681
Closing as playback of ad tags with empty ad groups is now working for the various test ad tags I've tried. There is a remaining issue with playback of ad tags where some ads within a non-empty ad group are empty: #5006.

[2018-11-05 17:20] #4681 closed, assigned to andrewlewis

[2018-11-05 17:26] andrewlewis commented on #3764
Testing with version 2.9.0 and IMA SDK 3.9.4 this seems to be fixed.

[2018-11-05 17:26] #3764 closed, assigned to andrewlewis

[2018-11-05 17:31] andrewlewis commented on #3449
Closing as I think the originally reported issue is fixed.

If you still see problems with output audio being truncated please file a separate issue and include all the information requested in the issue template.

[2018-11-05 17:31] #3449 closed, assigned to andrewlewis

[2018-11-05 18:34] andrewlewis commented on #5006
This is proving difficult to diagnose as there is a current issue with late event delivery when using the IMA SDK which reliably reproduces only when using debug mode and causes the player to get stuck [internal issue: b/117991305].

Using the potential fix above, so far I haven't been able to get the IMA SDK to 'acknowledge' playback of the non-empty ad after the first ad in the preroll ad group:

[2018-11-06 01:42] hunanqi commented on #5054
@AquilesCanta
adb bugreport  is need android 7.0  ，this devices  is 百视通 R1400-m  ，

[2018-11-06 01:46] hunanqi commented on #5054
@AquilesCanta  The similarity between these 2 questions is that the same steps are taken, and the results are the same when bug comes out.

[2018-11-06 03:10] hunanqi commented on #5054
@AquilesCanta   this bugreport is need android 7.0  this device is  百视通 r1400-m

[2018-11-06 07:58] fahime-ghasemi opened #5060 "the video that is recorded with android Camera2 doesn't play with exoplayer"
I added a fragment to android-Camera2Video that has an ExoPlayer to play video that is recorded.
At the end of stopRecordingVideo method, I passed the mNextVideoAbsolutePath variable to a new fragment to play it in exoplayer. but I got the following error.

2018-11-05 18:22:55.538 6128-6830/com.example.android.camera2video E/LoadTask: Unexpected exception loading stream
java.lang.IllegalStateExcep

[2018-11-06 10:41] AquilesCanta commented on #5060
This looks a lot like a malformed media issue. Can you please provide us with a sample to reproduce the issue? If the media is not being generated correctly there is not much else we can do to help.

We will reopen the issue once the media is provided.

[2018-11-06 10:41] #5060 closed, assigned to AquilesCanta

[2018-11-06 10:45] AquilesCanta commented on #5056
Please see #5047. Thanks!

[2018-11-06 10:45] #5056 closed, assigned to AquilesCanta

[2018-11-06 10:48] dilonne commented on #5056
Thanks

On Tue, Nov 6, 2018 at 12:45 Santiago Seifert <notifications@github.com>
wrote:

[2018-11-06 13:07] majidebrahimii opened #5061 "The problem is getting all the quality of the HLS and displaying the user in exoplayer"
I used the Google example for ExoPlayer 2.9.0 on the GitHub to get all the video quality but I could not use it and hit the error. I used the following code for this:
[code]
But the mappedTrackInfo has a null value. Help me!

[2018-11-06 13:47] AquilesCanta commented on #5061
Have a look at what the DemoApp does. It works well with the HLS samples.

Unfortunately this is not in the scope of this issue tracker. I suggest you try your luck in a general Q&A site, like stack overflow. If you think this is related to a bug in ExoPlayer, provide all the information required in the issue template.

[2018-11-06 13:47] #5061 closed, assigned to AquilesCanta

[2018-11-06 13:54] majidebrahimii commented on #5061
@AquilesCanta Yes Demo App  works well. But I wanted to know what my problem. What I did not like the Demo App. Yes, I asked on Stack overflow, but I did not receive an answer.
 thank you for your guidance.

[2018-11-06 14:12] AquilesCanta commented on #5061
Basically the question here is why

`MappingTrackSelector.MappedTrackInfo mappedTrackInfo = trackSelector.getCurrentMappedTrackInfo();`

Is returning null. My only suspicion is that you are calling this before the tracks are exposed by the player. But I don't know, since there is not enough information to understand what's going on. It should be easy to work out with a few breakpoints and logging.

[2018-11-06 14:16] AquilesCanta commented on #5057
I suspect that the SegmentTimeline is not being updated correctly for ExoPlayer to fetch the newer chunks.
@ojw28 mind having a look?

[2018-11-06 14:25] Kadanza opened #5062 "How create semicircle on double-tap gesture?"
I have application with exoplayer on Android. I have create youtube's double-tap gesture to jump 10 seconds forward or backward with animation! How create this semicircle on double tab with ripple effect?

![il0retw](https://user-images.githubusercontent.com/35968229/48070243-75cf9200-e1e8-11e8-9866-10ccdb49e36a.png)

https://zippy.gfycat.com/MessyTemptingDove.webm

Do you have example code with t

[2018-11-06 14:41] majidebrahimii commented on #5061
@AquilesCanta
All my Code, What do you think of the problem?

`public class MainActivity extends AppCompatActivity {

    private final String STATE_RESUME_WINDOW = "resumeWindow";
    private final String STATE_RESUME_POSITION = "resumePosition";
    private final String STATE_PLAYER_FULLSCREEN = "playerFullscreen";

    private PlayerView mExoPlayerView;
    private MediaSource mVideoSource;

[2018-11-06 15:27] Curwer-zz opened #5063 "Problem with codec re-initialization during HLS MP3 playback"
### Issue description
We use exoPlayer for audio playback, but we have a problem with where the audio codec gets released and just milliseconds later it initialized again. This creates a short but noticed "cut" in the audio. When looking in profiler we can tell that something is happening. i´ll attach a link to a screenshot of the profiler output.
This is what it looks like when we init the player

[2018-11-06 15:52] AquilesCanta commented on #3152
Would you be okay with having a TimestampAdjuster interface, with the current TimestampAdjuster becoming DefaultTimestampAdjuster? In practice, I think this means you'd have to fork TsExtractor only. Would this work for you?

[2018-11-06 17:40] DKillWorld opened #5064 "Media Service stops randomly"
### Issue description
I have an music playback app migrated to Exoplayer from Mediaplayer. Everything works fine, but the service stops abruptly and randomly. When returned to the activity, all exoplayer controls seems to be frozen and not working at all.

### Reproduction steps
Its random.

### Link to test content
I have screenshot of the bug report. I will email if you say so

### Version of Ex

[2018-11-06 17:42] DKillWorld commented on #5064
https://ibb.co/mM1WHq

This is a bug report from a device.

[2018-11-06 17:51] AquilesCanta commented on #5064
Hi @DKillWorld. Log images are rarely useful. Please provide a bug report as requested in the issue template:

log snippet is NOT sufficient. Please attach the captured bug report as a file.
If you don't wish to post it publicly, please submit the issue, then email the
bug report to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234".

**Make sure the stacktraces are not obfuscated

[2018-11-06 17:51] #5064 closed, assigned to AquilesCanta

[2018-11-06 17:52] AquilesCanta commented on #5062
We don't have any code samples for that, sorry. This is also out of the scope of this issue tracker.

[2018-11-06 17:52] #5062 closed, assigned to AquilesCanta

[2018-11-06 18:04] AquilesCanta commented on #3152
By the way, have you tried seeking in v2.9.0?

[2018-11-06 18:47] #4670 closed, assigned to marcbaechinger

[2018-11-06 19:03] marcbaechinger commented on #4989
Is there a reason why you are resetting the player and remove the NotificationManager?

The state is kept in the NotificationManager. So when you do something like

[code]

the state is stored in the NotifcationManager. As long as you keep that instance the stop and navigation buttons are not shown anymore.

When you then create a new NotificationManager, like your comment suggests, you need to re

[2018-11-06 19:18] marcbaechinger commented on #5031
From where do you extract that metadata?

[2018-11-06 19:24] kkuepper opened #5065 "TimelineQueueNavigator.getSupportedQueueNavigatorActions() ignores shuffle"
Currently getSupportedQueueNavigatorActions() does not take into account if shuffle is enabled or not. That leads to that ActionSkipToNext or ActionSkipToPrevious is disabled in wrong situations.

### Reproduction steps
- play a list of tracks
- enable shuffle
- skip to next track until you hit the latest item the list
-> ActionSkipToNext is disabled even though not all songs have been shuffled th

[2018-11-06 19:33] martijn00 commented on #5031
For example in https://github.com/martijn00/XamarinMediaManager/blob/vNext/MediaManager/Platforms/Android/Media/PlayerEventListener.cs#L56

[2018-11-06 20:56] fougere-mike commented on #3152
I would be fine with an interface, and I believe one of TsExtractor's constructors accepts either a `TimestampAdjuster` or `TimestampAdjusterProvider`, so that should work fine.

I wasn't aware anything around seeking mpeg2 had changed in v2.9.0, so I'll give it a shot and report back.

[2018-11-06 21:57] fougere-mike commented on #3152
Seeking appears to work quite well now. The only issue I have is that the duration isn't updated if the file is being played _while_ still being written (a "live" recording).

The TimestampAdjuster worked as expected though, which I think means I can stop using a fork, and just supply my own MediaSource that refreshes the duration.

[2018-11-06 22:41] tonihei commented on #5003
@loredanatosku @okycelt Thanks for the input. We'll try to get hold of a device to reproduce ourselves. And then check if there is an easy workaround we could enable for those devices.

[2018-11-06 22:59] png6 commented on #4988
@andrewlewis regarding,

I think I'm running into this scenario. If I lose network in app and I try to restart my service that houses the PlayerNotfiicationManager no notification starts because I assume it's in idle state and I won't get a callback with in the 5 second foreground rule. Is there a way to work around or should I fork the PlayerNotificationManager?