[2019-06-18 13:02] mathemandy commented on #6046
**UPDATE**
it turns out even with airplane mode off, and the appended symbol, i cant still get the lplayer to work. my downloads no longer work.

[code]
This is what the transfer listener is recording

[2019-06-18 15:10] marcbaechinger commented on #6057
Do you need to be aware of skip to next/previous in the app which has access to the `SimpleExoPlayer` instance or does it need to be reported to external client via `MediaControllerCompat.Callback`? From your comment above I understand it's the app (because the `MediaSession.Callback` would help which is in the app).

If it's the app, you can

1) add a listener by using `player.addListener(EventLi

[2019-06-18 15:21] marcbaechinger commented on #6046
Can you provide the code of your CacheKeyFactory?

[2019-06-18 15:34] marcbaechinger commented on #6051
When I use your HLS uri above in the demo app, no chronometer is displayed in the notification. This is working as intended as it is a live stream.

All HLS streams in the demo app are VOD. There are no HLS live streams in the demo app if I'm not mistaken.

The chronometer is not displayed for live streams.Your uri above points to a live stream, so no chronometer is displayed which is the correct

[2019-06-18 15:41] jukkagrao commented on #6051
Actually chronometer is displayed with icecast live streams and it indicates playing time of stream (how long user listens to stream). Why not show it with http live streams (hls) too? Some user might want to know duration of playing.

[2019-06-18 16:34] marcbaechinger commented on #6051
Each time the notification is updated the chronometer is started again:

[code]
The position of a live stream does not represent the time since the start of the playback, but the position within the window. For most live streams the window is a sliding window, so the chronometer would not show the duration of playback but the time within the current window. Once the notification is updated, the ti

[2019-06-18 16:45] jukkagrao commented on #6051
What is the window?

[2019-06-18 17:02] Kamil-H commented on #6057
Thank you @marcbaechinger for quick replay.
I need this data for statistics purpose. I would like to get to know how users use my app and eventually improve some part of content/app.
To be more specific, I'm using ExoPlayer in `MediaBrowserServiceCompat`, I have access to both `ExoPlayer` and `MediaControllerCompat.Callback`.
Currently I'm using something you also mentioned: `MediaControllerCompat

[2019-06-18 18:17] marcbaechinger commented on #6057
I think in this case it's best to register an `EventListener` with `player.addListener(eventListener)`.

The player will call `onPositionDiscontinuity(int reason)` and pass a reason. If it's a seek by the user (skip is a seek) the reason is `Player.DISCONTINUITY_REASON_SEEK`. If playback transitioned automatically the reason is `Player.DISCONTINUITY_REASON_PERIOD_TRANSITION`.

You may also want to

[2019-06-18 18:18] marcbaechinger commented on #6051
That's best explained in https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.html

[2019-06-18 18:31] marcbaechinger commented on #6020
When the `PlayerNotificationManager` receives the `ACTION_STOP` action, it calls `controlDispatcher.dispatchStop(player, /* reset= */ true)`. This resets the player, which means the position is reset to 0.

You can intercept this call by using your own `ControlDispatcher`. Something like this:

[code]

[2019-06-18 18:38] Kamil-H commented on #6057
I was able to play with `onPositionDiscontinuity(int reason)` a little bit and it seem like it will solve my problem.
Thank you!

[2019-06-18 18:45] marcbaechinger commented on #6057
Great to hear. I'm closing this issue. Please re-open if needed.

[2019-06-18 18:45] #6057 closed, assigned to marcbaechinger

[2019-06-18 18:45] Sulistyarif opened #6058 "Cant find prepare() method"
Somebody can tell me ?
Why i cant find method prepare() ?
After mediasource created, i must set player to prepare to mediasource, but i cant find prepare() method.

[2019-06-18 18:55] marcbaechinger commented on #6058
There is the `Player` interface and the `ExoPlayer` interface. The prepare methods are defined by the `ExoPlayer` interface (which extends the `Player` interface).

When you create a player with `ExoPlayerFactory` you get an instance of `SimpleExoPlayer` which implements the `ExoPlayer` interface and hence has two prepare methods:

[code]

Take a look in the [initializePlayer of the demo app ](htt

[2019-06-18 19:20] bkodirov opened #6059 "DRM error on Client side AD inserted Widevine protected DASH VOD stream"
Our player uses BuyDRM as a DRM service provider.
DRM server requires the player to send the certain token to fetch DRM license. Token has a TTL = 500 sec which is controlled by the DRM service provider as well.
Given: A player Playing AdsMediaSource (Stream which has pre-roll, mid-roll, post-roll)
During the transition from AdBreak to the actual content ExoPlayer acquires the license.
My MediaDrm

[2019-06-18 20:22] mathemandy commented on #6046
[code]

@marcbaechinger  here you go

[2019-06-19 02:03] #6059 closed, assigned to nobody

[2019-06-19 02:03] bkodirov commented on #6059
Implementation issue

[2019-06-19 03:24] Romantic-LiXuefeng opened #6060 "Why reused audio decoders can reduce the probability of frame drops when transitions occur?"
From [https://medium.com/google-exoplayer/improved-decoder-reuse-in-exoplayer-ef4c6d99591d](url)

I can't understand why Enabling audio decoders to be reused can reduce the probability of frame drops when transitions occur.

In my opinion, when transition occur in a playlist, if the next media video stream is't starting with key frame, the video decoder need to look for key frame, at the same time

[2019-06-19 04:14] nlgtuankiet commented on #6053
Turn out reset the device fix the problem. Thank for your time though

[2019-06-19 04:17] #6053 closed, assigned to marcbaechinger

[2019-06-19 06:40] andrewlewis commented on #5714
Thanks for the information. Closing as using `TextureView` instead of `SurfaceView` seems to work. See also [Choosing a surface type](https://exoplayer.dev/ui-components.html#choosing-a-surface-type).

[2019-06-19 06:40] #5714 closed, assigned to andrewlewis

[2019-06-19 06:44] andrewlewis commented on #5889
Closing due to lack of required information.

[2019-06-19 06:44] #5889 closed, assigned to andrewlewis

[2019-06-19 06:45] #5905 closed, assigned to andrewlewis

[2019-06-19 06:49] andrewlewis commented on #5925
Sorry for being slow to reply. The easiest way is probably via the player API: if `player.isPlayingAd()` returns true, you can get the ad group time via `player.getCurrentTimeline().getAdGroupTimeUs(player.getCurrentAdGroupIndex())`; a returned value of 0 means a preroll is playing, `C.TIME_END_OF_SOURCE` means a postroll is playing and any other value indicates a midroll.

[2019-06-19 06:57] andrewlewis commented on #5997
To clarify, does the audio take two seconds to switch modes after calling `setMode`, or is the proximity sensor event delayed by two seconds? If it's the former, does stopping and re-preparing the player when switching modes fix the issue?

I wonder if the problem is related to the audio track having buffered data at the moment of changing modes, so clearing the buffer might help and is a quick th

[2019-06-19 07:02] herudi opened #6061 "How to implement timing subtitle ?"
i have subtitle and video but not sync. how to implement timing subtitle like faster or slower  time subtitle ?

`00:00:05,000 --> 00:00:15,000
Test sub`

I will show subtitle in subtitleView like so :

`00:00:35,000 --> 00:00:45,000
Test sub`

how to implement timing subtitle ?
thanks for advanced :+1:

[2019-06-19 07:29] andrewlewis commented on #5997
Another thing that might be worth trying would be to set new `AudioAttributes` to switch to voice communication usage: `player.setAudioAttributes(new AudioAttributes.Builder().setUsage(C.USAGE_VOICE_COMMUNICATION).build())`. Before API 21 (Lollipop) this will be the same as setting the stream type to voice call.

[2019-06-19 07:59] marcbaechinger commented on #6061
If you want to sideload a subtitle file with a video media file you can do this by using a `MergingMediaSource`. [This is documented in the Developer Guide](https://exoplayer.dev/media-sources.html#side-loading-a-subtitle-file), so please take a look and see whether this helps.

I'm not sure what you mean with "faster or slower time subtitle". If the above is not helpful, please give me some more

[2019-06-19 07:59] baole commented on #5997
@andrewlewis it takes two seconds to switch modes after calling `setMode`. The audio is stored in the cloud. I will try with your suggested solution and get back with the result soon.

[2019-06-19 08:10] bhaskarraj opened #6062 "How do I pass License Url using MediaDrmCallback?"
I am using DefaultDrmSessionManager and passing a MediaDrmCallback to its parameter. The problem that I am facing is that I am not being able to pass the license URL using MediaDrmCallback.

My MedaiDrmCallback is:

[code]

My DefaultDrmSeesionManager is:
[code]

In MediaDrmCallback override method executeKeyRequest() I am returning Base64.decode(license, Base64.DEFAULT);.

The problem that I am f

[2019-06-19 08:19] herudi commented on #6061
i'm sorry.... i'm success to implement play video and subtitle with MergingMediaSource. but sometimes video and subtitle not sync time.
how to change subtitle time ?
for example
`00:00:05,000 --> 00:00:15,000`
to
`00:00:35,000 --> 00:00:45,000`

thanks for advanced... :+1:

[2019-06-19 08:28] ojw28 commented on #6060
Because releasing and re-instantiating an audio decoder when the transition occurs is extra work, which takes time, CPU cycles etc. Freeing those cycles up allows them to be used for video rendering, and in some cases this may be the difference between dropping frames or not dropping them.

[2019-06-19 08:28] #6060 closed, assigned to ojw28

[2019-06-19 09:41] marcbaechinger commented on #6062
Can you please take a bug report right after you tried to play a protected video?

[2019-06-19 09:44] nguyenhuy3588 opened #6063 "How to calculate RMS from streaming audio buffer"
Hi i've successfully streamed audio with ExoPlayer2 core library and HLS plugin, now i want to get the RMS feedback from audio data while ExoPlayer is streaming, i've implemented a custom renderer to receive audio buffer but can't see any params for RMS value, do we have this implemented by default? If yes, how can i use it?

Here i can get the buffer from my custom renderer:

![image](https://use

[2019-06-19 09:48] andrewlewis commented on #6063
Assuming getting RMS feedback means you want to calculate the root mean square energy of the PCM audio data (if not please clarify): a more convenient way to do this might be to implement a `TeeAudioProcessor.AudioBufferSink` and do the calculation in there. See #5268. If you don't also want to play the audio you can just set the player volume to zero.

[2019-06-19 10:06] arasan81 commented on #6015
Thanks @tonihei @ojw28 for the details. Now I understood why the bufferedDuration became negative. Let me also check the buffering behaviour with this source code change.

[2019-06-19 10:19] marcbaechinger commented on #6046
Sorry, I can't really follow what's going on.

Out of caution and to avoid any confusion I wanted to mention that you should completely uninstall the app when you are doing a change in the cache/key logic to make sure nothing remains from the last app installation/launch. Also I assume that you are using the latest ExoPlayer version as there have been many recent changes regarding caching.

The lo

[2019-06-19 10:27] #6015 closed, assigned to tonihei

[2019-06-19 10:34] nguyenhuy3588 commented on #6063
Thanks @andrewlewis , i have gone to this

![image](https://user-images.githubusercontent.com/16719961/59758530-50dfe900-92b8-11e9-94e4-7ab4068359e3.png)

I will calculate the rms and feedback to this issue after this.

[2019-06-19 10:43] bhaskarraj commented on #6062
This is the error log that I am getting:

[code]

[2019-06-19 11:11] marcbaechinger commented on #6061
Ah ok, I understand. :)
Sorry that's currently not possible easily. There is an enhancement #854 around this.
As of now I think you need to fix the subtitle files and change the timestamps in that file.

I'm closing as a duplicate referring to #854. Please re-open if you thing it needed.

[2019-06-19 11:11] #6061 closed, assigned to marcbaechinger

[2019-06-19 11:13] nguyenhuy3588 commented on #6063
Hi @andrewlewis , i have tried many times, but it seem like only the flush callback get called but not handleBuffer, here is my full setup code:

![image](https://user-images.githubusercontent.com/16719961/59760862-7f13f780-92bd-11e9-9297-1f0705f7b100.png)
![image](https://user-images.githubusercontent.com/16719961/59760907-8f2bd700-92bd-11e9-86e2-d8a4efa8964e.png)

Please help me if i'm wrong.

[2019-06-19 11:20] vindhyapratap commented on #5714
app:surface_type="texture_view" this worked for me for black screen issue thanks a lot

[2019-06-19 11:21] andrewlewis commented on #6063
Are you sure `handleBuffer` isn't being called? I think you need to read the bytes between `buffer.position()` and `buffer.limit()`, not between 0 and `buffer.position()`.

[2019-06-19 12:05] AniLabXTeam opened #6064 "Support for internal subtitles"
### Question
Does ExoPlayer supports internal subtitles (that included into video container)?

I can't find any relevant info about it.
For example, i have small mp4 video file with two integrated subtitle tracks- https://drive.google.com/file/d/1Ug-09BXe88VmgTeJ3_5Vf1ZcXkPRiUgH/view

On PC in VLC player, for example, i have ability to select subtitle track. But in exoplayer i can't find a way to

[2019-06-19 13:17] mathemandy commented on #6046
1. Thanks for your assistance. I was able to uninstall the app while testing as i also thought that might affect it.
2. I have also updated Exoplayer dependency to 2.10.1 in my project which is the latest.
3.  yes, the key results in what i want which you should see in the Log below

[code]

4. I added the logs in the way you requested.
5. i am adding the code for where i am accessing my cacheKey

[2019-06-19 14:33] marcbaechinger commented on #6064
Yes, this is supported.

When I play your media in the ExoPlayer demo app it shows me the following tracks:

[code]

To enable the English subtitle included in the media in the demo app I did:

[code]

There is a page about track selection in the developer website:
https://exoplayer.dev/track-selection.html

[2019-06-19 14:36] AquilesCanta commented on #6006
This should be fixed in the dev branch. Please give `maxAudioBitrate` a try and let me know if you run into any issues.

[2019-06-19 14:37] #6006 closed, assigned to AquilesCanta

[2019-06-19 14:37] AniLabXTeam commented on #6064
@marcbaechinger wow! Such easy solution. Thank you very much :)

[2019-06-19 14:37] #6064 closed, assigned to marcbaechinger

[2019-06-19 14:39] marcbaechinger commented on #6046
Fine. According to the logs it first loads from the network and then from the cache.
Isn't this what you are trying to achieve? Can you be a bit more specific on what behavior you expect and what you get?

[2019-06-19 14:40] nguyenhuy3588 commented on #6063
thanks @andrewlewis , i get it called now, trying to calculate rms, will feedback to us soon.

[2019-06-19 15:15] mathemandy commented on #6046
My issue is that the player doesnt play the item, its stuck in Buffering mode, thats the last state thats Logged.

I expect when i used a custom cachekey, the player plays the song

[2019-06-19 17:14] Rajeshr34 opened #6065 "Baby Step: Query String to sub m3u8 file"
Hello
In the below filler log (Proxy Log) i got below response.

`GET: http://example.com/And_Pictures_HD/And_Pictures_HD.m3u8?jt=w99HKZoqtszkcyKc=1560969436`

Response:
[code]

But Soon After ExoPlayer Tries to get first m3u8 file like this

GET:  http://example.com/And_Pictures_HD/And_Pictures_HD_400.m3u8

Response:
[code]

I would like to add same query String to the above url how can i do that

[2019-06-19 17:33] hubblec4 commented on #5338
Here is an overview about the Matroska features. It is not finished but maybe it helps to understand the Matroska features.
[Matroska-Playback](https://github.com/hubblec4/Matroska-Playback)

[2019-06-19 17:39] ojw28 commented on #6062
`Error decrypting data: requested key has not been loaded` means that the key required for decryption was not included in the license response. If you're playing multi-key content then please see [this documentation](https://exoplayer.dev/drm.html#multi-key-content). In particular, if your license server falls under Case 2 rather than Case 1, you will need to change the license server to behave as

[2019-06-19 17:52] #6031 closed, assigned to ojw28

[2019-06-19 17:53] #6041 closed, assigned to marcbaechinger

[2019-06-19 18:00] navluis commented on #6031
Thanks for the prompt response to this. Will give it a try!

[2019-06-19 18:00] #6019 closed, assigned to tonihei

[2019-06-19 18:16] AquilesCanta commented on #6065
This is a duplicate of #4501.

I can see two ways:
- The first (better) is fixing the content so that it includes the token in the master playlist's URLs.
- The second is injecting a custom DataSource using [HlsDataSourceFactory](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/HlsDataSourceFactory.html) that intercepts requests for segments and injects the token into t

[2019-06-19 18:41] CreeschYT opened #6066 "Video isn't playing (black screen) on Xiaomi mi A2"
### Issue description
I'm developing an m3u player which asks the user to choose an m3u file. The m3u urls are put in a ConcatenatingMediaSource the urls work fine on my Samsung S6 (Android 7.0, API 24) and I get no errors and on other Smartphones like (Samsung S4 mini and S6 edge) everything works fine. BUT on my Xiaomi Mi A2 when I choose an m3u file there is nothing, but a black screen. Nothing

[2019-06-19 18:49] rrfrias commented on #5681
The license service still seems inaccessible from the United States. Can you check?

[2019-06-19 19:01] AquilesCanta commented on #5982
Closing due to lack of activity.

[2019-06-19 19:01] #5982 closed, assigned to AquilesCanta

[2019-06-19 19:11] marcbaechinger commented on #6066
When targeting Android 9 (API 28 and higher) apps are not allowed to connect to clear text connections (non-https) anymore by default. So if you have your targetSdk set to 28, the `usesCleartextTraffic` attribute in your manifest defaults to true.

Please refer to this documentation:

https://developer.android.com/guide/topics/manifest/application-element#usesCleartextTraffic

"Indicates whether t

[2019-06-19 19:13] AleksandarKovachev commented on #6020
Perfect! This helped me a lot. Thank you!

[2019-06-19 19:13] #6020 closed, assigned to marcbaechinger

[2019-06-19 21:06] herudi commented on #6061
ok thanks :)

[2019-06-20 03:21] Romantic-LiXuefeng opened #6067 "How to add new strategy when to reselect the track manually?"
### [REQUIRED] Use case description
When manually switching the track,(e.g. 720p->1080p),  current implementation logic is flushing the already buffered data immediately and maybe destroy-reinit the decoder. It wastes the datas of old track which already buffered.  And the player's state becomes BUFFERING, if at this time, the network becomes bad, maybe player costs more time in BUFFERING state.

[2019-06-20 03:30] giladna commented on #5681
I am checking this

[2019-06-20 03:48] giladna commented on #5681
@rrfrias
@fredgc

attaching here a new license url, media url has not changed

        "drm_license_url": "https:\\/\\/udrm.kaltura.com\\/cenc\\/widevine\\/license?custom_data=eyJjYV9zeXN0ZW0iOiJodHRwczovL3Jlc3R2NC1hcy5vdHQua2FsdHVyYS5jb20vYXBpX3YzL3NlcnZpY2UvYXNzZXRGaWxlL2FjdGlvbi9nZXRDb250ZXh0P2tzPWRqSjhNekEyTlh4TWJVaDc2TC1wUDNWWGw4WmRtdnZDMHBYclJsbUNwMmVSWlRiQjBydnQ1a2luUVJUX2N2TGpYRjB5VVRmeEJ4

[2019-06-20 04:06] bhaskarraj commented on #6062
Does that mean the code in the app side is fine? I also tried by enabling `multisession` to true but I get the following bug:

[code]
And the video now doesn't even play for 9 secs. By evaluating two bugs what do you think might be the problem? Can it be server side or app side problem?

[2019-06-20 08:01] tonihei commented on #6067
That's a duplicate of #2250. But you can implement that yourself by extending `AdaptiveTrackSelection` and overriding `canSelectFormat`. In there, you could then limit the available formats dynamically based on the your constraints. Note that the method is called on the playback thread, so you need to do some kind of message passing or synchronization to make that work correctly.

[2019-06-20 08:02] #6067 closed, assigned to tonihei

[2019-06-20 08:08] tonihei commented on #6065
For the second issue, you can also use a `ResolvingDataSource` which is added in 2.10.2. That makes the implementation for such cases a lot easier.

[2019-06-20 09:27] ojw28 commented on #6062
I think there's probably something wrong with either the content or the license server response. Have you managed to successfully play this content in any other player or environment?

[2019-06-20 09:36] CreeschYT commented on #6066
Ok I added `android:usesCleartextTraffic="true"` to the manifest and it's working now.

[2019-06-20 09:36] #6066 closed, assigned to marcbaechinger

[2019-06-20 09:56] #6009 closed, assigned to tonihei

[2019-06-20 10:29] olenasol opened #6068 "Setting margins to standard UI components programmatically"
I am trying to set a bit different controls layout when player i in landscape than when it is in portrait. After some searching? I have found issue #4700, where it is stated that you  cannot change   controller_layout_id programmatically. But all I need is to change some margins, but margin on custom components is not changing too, when I set it in code. Is there a way to achieve this with standar

[2019-06-20 11:44] #6058 closed, assigned to marcbaechinger

[2019-06-20 11:48] HiJohn opened #6069 "Bug 2.10.1 com.google.android.exoplayer2.audio.AudioSink$InitializationException: AudioTrack init failed: 0, Config(44100, 12, 44100)"
### Issue description
play failed when run demo app

###  Reproduction steps
run demo app , open youtobe dash video , or anthers .
tips show : Playback failed

### Link to test content
JSON snippet :
[code]

###  A full bug report captured from the device
event log :

[exoplayerlog.txt](https://github.com/google/ExoPlayer/files/3310236/exoplayerlog.txt)

###  Version of ExoPlayer being used
 lates

[2019-06-20 11:49] ojw28 commented on #5845
Closing due to lack of follow up. To investigate further, I think we'd also need a full bug report captured shortly after experiencing the problem (captured with `adb bugreport`). Logcat output is not sufficient. You can email a bug report to `dev.exoplayer@gmail.com` if you'd rather not post it publicly.

If you're able to provide the required information, please do so and then respond here, and

[2019-06-20 11:49] #5845 closed, assigned to marcbaechinger

[2019-06-20 13:21] umangsaini commented on #6069
Similar to [#954](https://github.com/google/ExoPlayer/issues/954)
"adb shell dumpsys media.audio_flinger" may help.

[2019-06-20 13:49] HiJohn commented on #6069
[media_audio_flinger_log.txt](https://github.com/google/ExoPlayer/files/3310662/media_audio_flinger_log.txt)

[2019-06-20 14:07] umangsaini commented on #6069
There are no PIDs listed in "Clients:" section. It is odd that no application is using audio sink.
Please check if system sounds and audio is working correctly in other applications.

[2019-06-20 14:14] marcbaechinger commented on #6069
Can you take a full bug report just after the failure and upload it here? Like umangsaini is saying it might be a general problem with audio on that device.

[2019-06-20 15:06] bhaskarraj commented on #6062
I do not have much knowledge on the server end. I want to explain you the process of how we are doing the work. The steps are:
1. App gets the streaming link along with License Url
2. App makes another request to the server to get the license key for playing the content.
3. In the above code if you see inside executeKeyRequest I am returning `Base64.decode(license, Base64.DEFAULT);` in which the l

[2019-06-20 16:13] ojw28 commented on #6062
It's unclear where you want to pass it to. Nothing other than the `MediaDrmCallback` needs it. Please could you clarify what you think the problem is, exactly?

That aside, I still think the problem is with either the content or the license server response, and would again ask whether you've managed to successfully play this content in any other player or environment?

[2019-06-20 19:27] Saranginfotech opened #6070 "Exoplayer Trackselection issue Trackselection Dialog show but all track are disable mode.Not able to swich other language audio."
Exoplayer Trackselection issue Trackselection Dialog show but all track are disable mode.Not able to swich other language audio.
![Screenshot_2019-06-21-00-46-11-753_com videoplayer](https://user-images.githubusercontent.com/52050045/59875846-6db31400-93bf-11e9-9bfd-272b4287b83c.png)

[2019-06-20 20:25] marcbaechinger commented on #6070
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

We need a sample uri and a bugreport so we can look into your issue and help.

[2019-06-20 21:34] Felipaorfr opened #6071 "Error in ExoPlayerFactory.newSimpleInstance method (No static method newSimpleInstance) when running exoplayer locally"
I'm getting this error only when I'm running exoplayer locally with my project. If I import it from com.google.android.exoplayer:exoplayer-core:2.10.1 for instance, this doesn't happen.

The reason I'm trying to run locally it's because I'm getting this error in my project:

[code]

So I'm trying to run with the ffmpeg extension locally to see if it works. In my settings.gradle file I have:

[code

[2019-06-21 00:05] rrfrias commented on #5681
Thanks. We were able to test this once on a Pixel 3 XL before we ran into 404's. Can you check?

On the attempt that was successful, playback skipped to the four minute mark, played for about 30 seconds and kept looping back and playing from the 4 minute mark. We need to investigate this but at least were able to have content render.

Is it possible to email dev.exoplayer@gmail.com with a bugrepor

[2019-06-21 02:22] HiJohn commented on #6069
like umangsaini  said ,  system sounds and audio is not working correctly
i don`t know when this problem happened in this device, may be after upgrade os version from 8.0 to 9.0
[app_full_log.txt](https://github.com/google/ExoPlayer/files/3312764/app_full_log.txt)
thank you for reply

[2019-06-21 05:02] umangsaini commented on #6071
Library uses Java 8 features. Can you try adding following to your build.gradle to support Java 8

[code]

[2019-06-21 06:40] geeta4 opened #6072 "exoplayer is showing ads"
my production app is showing today yoga day ad while  i am just playing media from my app no ads from my app so how this is happening

[2019-06-21 07:15] ybai001 opened #6073 "Dolby Atmos can't be played on DD+ only device (Since v2.10.0)"
### [REQUIRED] Issue description
Play a Dolby Atmos content (DD+JOC) on a DD+ only device (e.g. LG G6, this device supports audio/eac3 but doesn't support audio/eac3-joc). There is no sound output. The ExoPlayer version should be v2.10.0 to v2.10.2. ExoPlayer v2.9.x has no problem.

**I have found the root cause and the proposed bug fix is provided. Please check below info.**

### [REQUIRED] Repro

[2019-06-21 07:31] andrewlewis commented on #6073
@ybai001 Thanks for reporting. Just had a quick look and I think this might be fixed already on the dev-v2 branch. See [MediaCodecAudioRenderer](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/audio/MediaCodecAudioRenderer.java#L360). If you have a minute to check that would be useful.

[2019-06-21 07:36] shailesh9898 commented on #6070
i am play local video

[2019-06-21 07:48] andrewlewis commented on #6073
There are a few commits for improving codec selection (e.g., 2347bd2c9901cb679979dd4b292c6b1ef18cd65c) that are still only on the development branch, and the commit that (I think!) fixed this bug is among them.

@ojw28 Shall I do a one-liner fix on dev-v2-2.10.2 (on GH only) as proposed above, if we don't want to bring in the codec selection changes in a point release?

[2019-06-21 07:49] marcbaechinger commented on #6072
ExoPlayer is not showing ads without developers using the IMA extension and having an ad tag installed.
I'm absolutely sure this is not possible without the app developer doing this.

[2019-06-21 07:57] ybai001 commented on #6073
Sure, I'll check it and feedback to you ASAP.

[2019-06-21 08:20] shailesh9898 opened #6074 "Exoplayer local video allowAdaptiveSelections audio show dialog but not able to switch audio to other track show in dialog."
Exoplayer allowAdaptiveSelections audio show dialog but not able to switch audio to other track show in dialog.

   if (mappedTrackInfo != null) {
                    //CharSequence title = ((Button) view).getText();
                    int rendererIndex = 1;
                    int rendererType = mappedTrackInfo.getRendererType(rendererIndex);
                    boolean allowAdaptiveSelections =

[2019-06-21 09:09] marcbaechinger commented on #6070
We still need the media to investigate this.
Can you please upload the media somewhere and provide a link to access it from there or download?

[2019-06-21 09:11] Romantic-LiXuefeng opened #6075 "Why not doing the renderer.render() parallelly in different threads?"
Described like the title, I found other players，the audio renderer and video renderer always work in different threads,  what's the advantages of this design?

1. In the `render()`, the audio decoder and video decoder init serially, it may wastes more time  to start the first frame.

2. If the audio need to transform(e.g. resample, modify channel count), the processors may cost more time, which ma

[2019-06-21 09:17] shailesh9898 commented on #6070
ok i will upload

[2019-06-21 09:37] ybai001 commented on #6073
@andrewlewis I tested the latest dev-v2 branch on LG G6 phone. Same as your thought, this issue is fixed. I think you can close this ticket. Thank you very much for your quick and clear response. Have a good weekdend.

[2019-06-21 09:37] #6073 closed, assigned to andrewlewis

[2019-06-21 09:41] shailesh9898 commented on #6070
https://drive.google.com/file/d/1sl05JKBPTHq6O9raF1pAkPu_N5Nlk503/view?usp=sharing

[2019-06-21 09:46] ojw28 commented on #5796
Generalized this issue to track running the renderers in parallel during playback, rather than just during decoder initialization.

[2019-06-21 09:46] ojw28 commented on #6075
Marking as a duplicate of https://github.com/google/ExoPlayer/issues/5796.

[2019-06-21 09:46] #6075 closed, assigned to ojw28

[2019-06-21 09:49] tanpuer opened #6076 "Cache-Control: no-cache"
I request some videos with http response: "Cache-Control: no-cache". I hope exoplayer will not cache this video using CacheDataSource, but it didn't. So should I custom another DataSource or modify some code?

[2019-06-21 10:02] geeta4 commented on #6072
i have used exoplayer like thsi:

[code]
but it is showing ads

[2019-06-21 10:03] nguyenhuy3588 commented on #6063
Hi, I have successfully calculated rms value from our ByteBuffer follow the code on [GeeksForGeeks](https://www.geeksforgeeks.org/program-to-calculate-root-mean-square/) and edit it to compatible with ByteBuffer, here the implementation:

![image](https://user-images.githubusercontent.com/16719961/59915260-6a16a000-9446-11e9-81db-1711f814a71f.png)

And full setup code as following @andrewlewis gui

[2019-06-21 10:03] #6063 closed, assigned to andrewlewis

[2019-06-21 10:52] andrewlewis commented on #6073
The commit referenced should match your suggestion and will go into 2.10.2. The existing fix on the development branch should make it into a later release that includes the more significant changes to decoder selection. Thanks!

[2019-06-21 10:56] andrewlewis commented on #6071
Just a side note about the `AudioCapabilities` and `VideoCapabilities` logging: I'm pretty sure that is expected 'log spam' and working as intended. However, the log line `System: A resource failed to call close.` may indicate an actual issue.

[2019-06-21 10:56] tanpuer commented on #6076
![image](https://user-images.githubusercontent.com/16443498/59918086-465b5600-9456-11e9-986b-460e58ed36eb.png)
Can i add a judgement before dataSink.write(buffer, offset, bytesRead) ?

[2019-06-21 11:00] giladna commented on #5681
@ojw28
@rrfrias

Issue is reproduced on our OnePlus6T
bug report was sent
Please try seems like it has expired.

        "drm_license_url": "https://udrm.kaltura.com/cenc/widevine/license?custom_data=eyJjYV9zeXN0ZW0iOiJodHRwczovL3Jlc3R2NC1hcy5vdHQua2FsdHVyYS5jb20vYXBpX3YzL3NlcnZpY2UvYXNzZXRGaWxlL2FjdGlvbi9nZXRDb250ZXh0P2tzPWRqSjhNekEyTlh3c2VTMFhmTU9LejFFcGYwZVdTbkFVZ2JpY1FzRzNQMzBzNU5nbG1UMy16d1Ix

[2019-06-21 11:48] lsgfly opened #6077 "The Exoplayer can not play the m3u8"

[2019-06-21 11:52] lsgfly commented on #6077
I use the Exoplayer to play the url　　　http://hbsh.chinashadt.com:2036/live/8.stream/chunklist_w693062733.m3u8 .
It can not be played successful, but no error occured.
But when I get the ts from m3u8 file, It can be played successful.

[2019-06-21 11:56] lsgfly commented on #6077
[REQUIRED] Issue description

I use the Exoplayer to play the url　　　http://hbsh.chinashadt.com:2036/live/8.stream/chunklist_w693062733.m3u8 .
It can not be played successful, but no error occured.
But when I get the ts from m3u8 file, It can be played successful.

[REQUIRED] Reproduction steps
play the url http://hbsh.chinashadt.com:2036/live/8.stream/chunklist_w693062733.m3u8 .

[REQUIRED] A full

[2019-06-21 12:06] umangsaini commented on #6072
It may depend on the content. The server can insert advertisement in HLS and DASH manifests. Ad-tracking and measurement will be a separate issue. If you are playing 3rd party content, they may have inserted server-side advertisement.

The ad should not be from IMA extension, as it is not enabled.

A detailed bug report will help. The issue template can be found [here](https://github.com/google/Ex

[2019-06-21 13:30] umangsaini commented on #6077
For Android 9.0 and above, you would have to add following line in <application> tag to your AndroidManifest.xml.

There is a warning shown when app is run on newer Android OS.

Refer to this documentation [link](https://developer.android.com/guide/topics/manifest/application-element#usesCleartextTraffic). HTTPS links will not face this issue.

[2019-06-21 13:55] marcbaechinger commented on #6076
Yes, do not wrap your data source with `CacheDataSource` for those streams you don't want to cache.

[2019-06-21 14:01] marcbaechinger commented on #6074
Let's stick with #6070.

[2019-06-21 14:01] #6074 closed, assigned to nobody

[2019-06-21 14:13] marcbaechinger commented on #6070
The audio tracks which can not select are in AC3 format which not supported by platform decoders. This is what the demo app gives you in the log when you play your media file:

[code]

If you want ac3 support you need to include the [ffmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) with your app.

[2019-06-21 14:17] shailesh9898 commented on #6070
can  you please explain how  to use ffmpeg extension

[2019-06-21 14:27] shailesh9898 commented on #6070
i am not understand you given link   ffmpeg extension

[2019-06-21 14:50] ojw28 commented on #6072
As @marcbaechinger says, we definitely don't insert ads unless you're explicitly using the IMA extension and specifying an ad tag. It's either your app code, or (more likely) the source that you're playing (e.g. due to server-side ad insertion, as suggested by @umangsaini).

[2019-06-21 14:50] #6072 closed, assigned to marcbaechinger

[2019-06-21 15:11] marcbaechinger commented on #6070
Sorry, I can't give you much more support upfront than what's on the [README of the extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg). Try to work through the README, I think it shouldn't be too difficult.

[2019-06-21 16:47] cpienovi commented on #5884
I'm facing the exact same issue as @voghDev and couldn't find any solution other than downgrading Gradle version

[2019-06-21 17:33] #5928 closed, assigned to andrewlewis

[2019-06-21 17:34] ojw28 commented on #5928
@foodpoison - Thanks very much for your help on this!

[2019-06-21 17:38] Felipaorfr commented on #6071
I already have the java 8 options in my build.gradle exactly like this.

[2019-06-21 17:46] ojw28 commented on #6071
Why are you using `compileOnly`? I think that's supposed to indicate that the dependency is only needed at compile time. If so it's not surprising that compilation succeeds (because exoplayer-library-core is used) but then the app crashes at runtime (because you've specified that you don't need the dependency at runtime).

You should be using `implementation` (probably) or `api` (possibly), instea

[2019-06-21 17:49] ojw28 commented on #5825
@splrs - Please could you respond to the clarification questions asked above? Thanks!

[2019-06-21 17:53] #6077 closed, assigned to marcbaechinger

[2019-06-21 17:55] #6027 closed, assigned to tonihei

[2019-06-21 17:59] Felipaorfr commented on #6071
If I use implementation or api, it gives this error

[code]
which I know what it means but was absolutely impossible to get rid of it. Any suggestions?

Here is the list of dependencies from my project, I have no idea what causes to crash with api or implementation.

[code]

[2019-06-21 18:00] ojw28 commented on #5853
According to https://github.com/segler-alex/RadioDroid/issues/482 the issue doesn't reproduce in the ExoPlayer demo app. Closing, since there's nothing actionable for us to do here.

[2019-06-21 18:00] #5853 closed, assigned to marcbaechinger

[2019-06-21 18:08] ojw28 commented on #6071
You're including two different versions of ExoPlayer. One version is pulled in as source code. A second version is pulled in as a transient dependency, since `saschpe.android:exoplayer2-ext-icy:1.0.1` pulls in `com.google.android.exoplayer:exoplayer-core:2.6.1`. This is not a valid thing to do.

Note that ExoPlayer 2.10.1 supports ICY metadata directly (see [this blog post](https://medium.com/goog

[2019-06-21 18:08] #6071 closed, assigned to marcbaechinger

[2019-06-21 18:10] #6070 closed, assigned to marcbaechinger

[2019-06-21 18:12] ojw28 commented on #5987
Closing due to lack of information.

[2019-06-21 18:12] #5987 closed, assigned to AquilesCanta

[2019-06-21 18:12] ojw28 commented on #5838
Closing due to lack of requested information.

[2019-06-21 18:12] #5838 closed, assigned to marcbaechinger

[2019-06-21 18:13] ojw28 commented on #5856
Can this be closed as a duplicate of #5582?

[2019-06-21 18:22] ojw28 commented on #4714
`DashManifest.durationMs` combined with the representation bitrates seems sufficient for this use case. Closing on this basis, but please feel free to comment or clarify if you're still stuck!

[2019-06-21 18:22] #4714 closed, assigned to erdemguven

[2019-06-21 18:42] #6024 closed, assigned to tonihei

[2019-06-21 18:55] ojw28 commented on #6016
This only happens when `exoplayerPublishEnabled = true` is set in the root `build.gradle`, and is due to https://github.com/novoda/bintray-release/issues/260. I don't think you need to worry about it. I'll flip the flag to false in the release branches to stop this from being visible to developers.

[2019-06-21 18:55] #6016 closed, assigned to tonihei

[2019-06-21 19:16] #4206 closed, assigned to AquilesCanta

[2019-06-21 22:00] gemiren commented on #6029
@ojw28, I don't know how to check whether there are any non-mp3 data prefixed on the front of the file. Below is the metadata I got from MediaInfo program:
[code]

Anyway, is it possible to allow to customize the `Mp3Extractor.MAX_SNIFF_BYTES` instead of a fixed value? Thanks.

[2019-06-21 22:22] dustinkerstein commented on #5935
Just figure I'd add that I am also seeing this same error somewhat randomly on my Pixel XL with a custom MediaCodec implementation. Subscribed.

[2019-06-21 22:49] ojw28 commented on #6029
This isn't really the right solution, given there's probably something else going on. Looking at the start of the file:

[code]

`49 44 33` is the start of the ID3 header (i.e. valid data for an MP3 file to contain). If I remove the preceding 42 bytes then the file plays fine. The obvious next thing to figure out is what the first 42 bytes are. I tried putting them through [this hex to ascii conve

[2019-06-21 23:06] ojw28 commented on #6029
I think it's much more likely that the content type is actually prefixed onto the file on the server, rather than the server putting it there when it constructs the response. This is probably just a case of malformed media.

[2019-06-21 23:24] #5985 closed, assigned to AquilesCanta

[2019-06-21 23:24] ojw28 commented on #5985
Closing due to lack of information.

[2019-06-21 23:26] ojw28 commented on #5486
Closing because we've decided to try and improve the existing Cast extension instead.

[2019-06-21 23:26] #5486 closed, assigned to AquilesCanta

[2019-06-21 23:33] #5814 closed, assigned to tonihei

[2019-06-21 23:54] ojw28 commented on #5749
It should also be possible for apps to do everything that they need in the case where they get subtitle/caption settings from somewhere other than `CaptioningManager` (e.g. for API levels prior to 19, where `CaptioningManager` doesn't exist, or for apps that store their users' preferences in the cloud to sync them across multiple platforms).

So I think `setPreferredTextLanguage` probably needs ge

[2019-06-21 23:58] ojw28 commented on #6029
Note: We will probably dupe this onto https://github.com/google/ExoPlayer/issues/5718.

[2019-06-21 23:59] ojw28 commented on #5950
Closing due to lack of follow up.

[2019-06-21 23:59] #5950 closed, assigned to ojw28

[2019-06-21 23:59] #5947 closed, assigned to marcbaechinger

[2019-06-22 00:00] ojw28 commented on #5941
Closing on the assumption `key_id` should be set.

[2019-06-22 00:00] #5941 closed, assigned to ojw28

[2019-06-22 00:34] ojw28 commented on #5916
Closing due to lack of importance & follow up.

[2019-06-22 00:34] #5916 closed, assigned to tonihei

[2019-06-22 02:22] JeffMony opened #6078 "Exoplayer anr during release player."
### [REQUIRED] Issue description
The exoplayer is doing release action, but anr is happening. This is very high probability.

### [REQUIRED] Reproduction steps
This is very high probability.

### [REQUIRED] Link to test content
Maybe some kind of execution is blocked by other things.
Cause the UI thread to wait

### [REQUIRED] A full bug report captured from the device
"main" prio=5 tid=1 Waiting

[2019-06-22 06:05] lsgfly opened #6079 "Exoplayer can not play http://hbsh.chinashadt.com:2036/live/8.stream/chunklist_w693062733.m3u8"
[REQUIRED] Issue description
I use the Exoplayer to play the url　　　http://hbsh.chinashadt.com:2036/live/8.stream/chunklist_w693062733.m3u8 .
It can not be played successful, but no error occured.
But when I get the ts from m3u8 file, It can be played successful.
other m3u8 can be played successful.

[REQUIRED] Reproduction steps
play the url http://hbsh.chinashadt.com:2036/live/8.stream/chunklist_

[2019-06-22 07:23] mohfa24 commented on #5362
Hi there . What about if I want to play a **local encrypted file** (**AES 128 , mp4**) ?
How do I change the code to do it ?

[2019-06-22 08:13] JiannaiJ opened #6080 "How to set audio pass-through(AC3/DTS/Dolby) ?"
### [REQUIRED] Searched documentation and issues
[https://github.com/google/ExoPlayer/issues/2148](url)

### [REQUIRED] Question
I've included the ffmpeg extension and enabled all support decoder, tv-box connect power amplifiers with HDMI.  I need to configure use pass-through or not, pass-through is preferred. I search some issues and test,but it is still impossible to achieve this function. It's

[2019-06-22 11:04] ojw28 commented on #6079
Isn't this the same root cause as https://github.com/google/ExoPlayer/issues/6077? Closing on the assumption this is a duplicate.

[2019-06-22 11:04] #6079 closed, assigned to nobody

[2019-06-22 13:09] tanpuer commented on #6076
@marcbaechinger I must always use CacheDataSource and later determine whether to cache according to Cache-Control in response header.

[2019-06-22 13:30] shailesh9898 opened #6081 "Exoplayer FFmpeg extension how to apply on Window not any solution."
Exoplayer FFmpeg extension how to apply on Window not any solution. Please Help me To solve this problem to support AC3 audio chanage

[2019-06-22 16:14] userdimi opened #6082 "How can I overwrite the video TrackGroup in the TrackGroupArray"
### [REQUIRED] Searched documentation and issues
Exoplayer Github project
Exoplayer Docs

### [REQUIRED] Question
In my video streaming app I want to implement a feature where the user can choose the streaming quality for the video. So I've implemented this with a TrackSelectionView like this:

[code]
This work pretty good. But the problem is, that I have some duplicated video tracks in my HLS mas

[2019-06-22 18:10] michelforget opened #6083 "Is ExoPlayer rendering tied to apparent Android TV resolution?"
### [REQUIRED] Use case description
On many Android TV devices, such as Sony Bravia 4K televisions, the only display resolution reported to the application is 1080/60.

If you play a 4k file, the ExoPlayer overlay shows "3840x2160" for video size, but it isn't clear if that is the output (displayed resolution) or if its the input (the resolution of the media file).

Does ExoPlayer render its outpu

[2019-06-23 15:08] ojw28 commented on #6029
Marking as a duplicate of #5718.

[2019-06-23 15:08] #6029 closed, assigned to ojw28

[2019-06-23 20:16] CreeschYT commented on #5973
umm. Excuse me, but why did you add the label low priority ?

[2019-06-24 01:59] raymondctc opened #6084 "Poor video quality after scaling up a small video with Skia renderer?"
It is found that video has poor quality on Skia renderer after scaling up on Android Pie, in which the default renderer is Skia.

The result is quite obvious, with OpenGL, video looks smoother

### Link to test content
Original video: https://img-9gag-fun.9cache.com/photo/aerBX7j_460svvp9.webm

With OpenGL:
---
![Screenshot_20190620-181601_9GAG](https://user-images.githubusercontent.com/13764117/5

[2019-06-24 06:03] voghDev commented on #5884
@ixfd64 could you please provide some extra information such as the versions of Gradle, gradle-wrapper, Android Studio you're using, so @marcbaechinger or anyone who is reviewing this can do a deeper research? :) thx

[2019-06-24 06:40] AlphaCircle commented on #5921
Hello Ojw28
Sorry, I been away for a while because of another urgent things. I have read the newest version of 2.10.1 and tested that, too. But the result is same; video with fps = 60 does not work.

Any progress or update about it?

[2019-06-24 08:01] andrewlewis commented on #6084
What device(s) do you see this behavior on? Is the app pictured using `TextureView`?

It sounds like the same issue as [issuetracker.google.com/124593215](https://issuetracker.google.com/124593215). If so, I think the best way forward is for you to provide information on that bug as there isn't a good way for us to fix this in ExoPlayer. Thanks.

[2019-06-24 08:04] andrewlewis commented on #6083
If you're using `SurfaceView` (which is the default if you're using `PlayerView`), it will render at full (4k) resolution even though the UI is rendered at 1080p. See also #800.

[2019-06-24 08:04] #6083 closed, assigned to andrewlewis

[2019-06-24 08:06] andrewlewis commented on #6081
Assuming you're looking for instructions for compiling the ffmpeg extension on Windows, please see #3127.

[2019-06-24 08:06] #6081 closed, assigned to andrewlewis

[2019-06-24 08:08] andrewlewis commented on #6080
Please see this [comment on issue 2832](https://github.com/google/ExoPlayer/issues/2832#issuecomment-301833679). Feel free to reply here if that doesn't address what you're trying to do and I'll reopen the issue.

[2019-06-24 08:08] #6080 closed, assigned to andrewlewis

[2019-06-24 08:12] andrewlewis commented on #6078
This looks similar to #4352 except that the blocking call is `MediaCodec.flush()`. If you can post a full bug report captured via `adb bugreport` that may give clues to what is going on (and there's a chance this is a device-specific issue we can work around). Otherwise, I suggest marking this issue as a duplicate.

[2019-06-24 08:13] hu374307261 opened #6085 "EXO报错"
Before filing a bug:
-----------------------
06-24 15:57:41.677 1686-1686/com.diandong.android.app W/SimpleExoPlayer: Player is accessed on the wrong thread. See https://google.github.io/ExoPlayer/faqs.html#what-do-player-is-accessed-on-the-wrong-thread-warnings-mean
    java.lang.IllegalStateException
        at com.google.android.exoplayer2.SimpleExoPlayer.verifyApplicationThread(SimpleExoPlayer

[2019-06-24 08:17] tonihei commented on #6083
We already have two callback for both sides of the process:
`onVideoSizeChanged` is called when the input media resolution is first set or is changed.
`onSurfaceSizeChanged` is called when the output surface resolution is first set or is changed.

[2019-06-24 08:29] andrewlewis commented on #6085
Please see https://exoplayer.dev/troubleshooting.html#what-do-player-is-accessed-on-the-wrong-thread-warnings-mean. (Unfortunately the URL changed but the correct URL is now used on the release branch.)

[2019-06-24 08:29] #6085 closed, assigned to andrewlewis

[2019-06-24 08:36] marcbaechinger commented on #6068
Why do you think you can't change margins on custom components? I can for instance change the margins of the `PlayerControlView` like this:

[code]

What layout change do you want to achieve on which component of the `PlayerView` or `PlayerControlView`?

[2019-06-24 10:00] Romantic-LiXuefeng opened #6086 "Why not separate feedInputBuffer() loop and drainOutputBuffer() loop into different threads?"
In my opinion, MediaCodec should be more efficient if dequeue/enqueue operations are concurrent.  I have searched the `MediaCodec` document, not sure `MediaCodec` whether support to operation in multi threads.  Hope you give some useful information.

[2019-06-24 10:56] raymondctc commented on #6084
Yes, `TextureView` is used.

Screenshot was taken from Samsung Galaxy Tab A, it's been tried on Xiaomi Mi 9 (Pie) and Nokia 7 Plus (Pie), similar result is obtained.

[2019-06-24 11:34] andrewlewis commented on #6084
I wonder whether `SurfaceView` is an option for your use case and wouldn't be affected by the same issue.

[2019-06-24 12:09] umangsaini commented on #6086
“[Threading model](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayer.html)” section of the ExoPlayer Javadoc throws light on the design.
There was a discussion on threading - #4463 . Quote from this issue by @natez0r

Essentially issuing codec operations from different threads may not be safe across all the devices.

[2019-06-24 12:10] ojw28 commented on #6083
Added `documentation candidate` label because we should add something to the [Choosing a surface type](https://exoplayer.dev/ui-components.html#choosing-a-surface-type) section of our dev guide to indicate that `SurfaceView` should be used to output 4K when the main UI is rendered at 1080p (e.g. on AndroidTV devices).

Asides:
1. We're not sure what actually gets reported via `onSurfaceSizeChanged

[2019-06-24 12:54] #6069 closed, assigned to nobody

[2019-06-24 14:28] umangsaini commented on #6082
You may consider giving controls like - Low (SD), Medium (HD), High (Full-HD). Exoplayer [Track Selector](https://exoplayer.dev/track-selection.html) will limit the quality. Use setMaxVideoSize(), setMaxVideoBitrate() etc. in DefaultTrackSelector to control the same.

You will not have to filter available tracks, or remove fallback tracks etc.

[2019-06-24 14:43] ojw28 commented on #6082
I don't really understand the question. You can and should do all sorting/filtering in your UI layer, which is under your control.

[2019-06-24 14:55] natez0r opened #6087 "Support EXT-X-GAP without jumping forward if audio is missing"
### [REQUIRED] Use case description
We are investigating how to support “playing” through gaps in HLS segment data in ExoPlayer.
We have a use case where we do not want to insert discontinuity tags and skip over gaps in certain streams because we’re aligning them with other concurrently playing streams. We’ve noticed that if we note the duration of the segment to be larger than the amount of data

[2019-06-24 15:59] ojw28 commented on #3969
@AquilesCanta - I'm not sure which way round, but can one out of this and #4130 be marked a duplicate of the other?

[2019-06-24 16:23] ojw28 commented on #3601
Please disregard the @google-oss-bot comment.

[2019-06-24 16:26] ojw28 commented on #5885
Please disregard the @google-oss-bot comment.

[2019-06-24 16:26] andrewlewis commented on #5626
Please disregard the above bot comment. Trying to reproduce this is on my list.

[2019-06-24 16:28] ojw28 commented on #5885
Closing this because it's likely just hitting device/player performance limits. We have some open issues for investigating ways of improving player performance (e.g. https://github.com/google/ExoPlayer/issues/5796), which you might be interested in tracking.

[2019-06-24 16:28] #5885 closed, assigned to ojw28

[2019-06-24 16:30] ojw28 commented on #5991
Please disregard the @google-oss-bot comment above.

[2019-06-24 16:36] ojw28 commented on #5865
Is this happening only with the specific device (Android 4.4 SOC: Allwinner Quad-core H3)? If so then it's likely a device specific issue, which you should report to the manufacturer.

[2019-06-24 16:36] sergiomartinez4 commented on #4329
Hi @rrfrias has there been any update on this? do you need more info from us?

[2019-06-24 16:39] ojw28 commented on #5902
Please disregard the comment from @google-oss-bot .

[2019-06-24 16:40] ojw28 commented on #5852
Please disregard the comment from @google-oss-bot .

[2019-06-24 16:43] ojw28 commented on #5946
@erdemguven - Please could you check the provided content?

[2019-06-24 16:45] ojw28 commented on #4924
Please ignore the comment from @google-oss-bot .

[2019-06-24 16:46] ojw28 commented on #4352
Please ignore the comment from @google-oss-bot

[2019-06-24 16:49] ojw28 commented on #2822
Closing as obsolete. Apologies that it got ignored, but it's old to the extent that it may well not be relevant at this point! Please file a new issue if this is still a problem.

You should only be calling `release` on the player once you're done with using it. So it doesn't sound right that you would be calling a release method before playing something. Perhaps that's the root issue here?

[2019-06-24 16:49] #2822 closed, assigned to ojw28

[2019-06-24 17:40] rrfrias commented on #5681
Thanks. We are able to reproduce and are investigating.

[2019-06-24 17:42] ojw28 commented on #3072
I'm going to close this as not reproducible. I tried playing the sample video provided on a Galaxy S8. I couldn't perceive any difference, and we don't see many (any?) other reports of this issue. On my Galaxy S8 the time to the first frame hitting the display was consistently under ~200ms total, which seems inconsistent with:

If you want us to take a more detailed look, I think the onus is on yo

[2019-06-24 17:42] #3072 closed, assigned to ojw28

[2019-06-24 18:17] sergiomartinez4 opened #6088 "Segments are skipped in HLS video with discontinuity tags"
### [REQUIRED] Content description
When playing an HLS video with Discontinuity tags, some of its segments are skipped.
It does not happen with all HLS videos with Discontinuity tags, but on the same time, the streams with such problems are able play successfully in both Safari and QuickTime.
The problem happens approximately at playhead position 1m 07s
I played the video using ExoPlayer Demo.

##

[2019-06-24 19:54] #6082 closed, assigned to ojw28

[2019-06-24 21:27] giladna commented on #5681
@rrfrias
issue mostly seems to occur on live + dash scenarios

though it might happen on vod + dash as well.

[2019-06-24 21:58] sergiomartinez4 commented on #6088
An important difference between the two streams, noted by a co-worker, is that one stream have segments with video only (no audio) and that's the one causing the issue.

[2019-06-24 22:05] ixfd64 commented on #5884
I'm using the following versions:

Android Studio 3.4
Gradle plug-in 2.3.3 (downgraded from latest)
Gradle 4.1 (downgraded from latest)

[2019-06-25 01:36] GerlanStanley opened #6089 "Disable log: "video render this buffer""
Is it possible to disable the message that constantly appears in logcat?

"I / ACodec: video render this buffer -1213007312 ok"

[2019-06-25 01:40] raymondctc commented on #6084
Oh, switching to `SurfaceView` can resolve the pixelated issue. Why it would be the case?

[2019-06-25 02:28] drayan85 commented on #4110
Any updates @AquilesCanta?

[2019-06-25 05:08] arasan81 commented on #6049
@AquilesCanta  @marcbaechinger  Please let me know if there is any update on this.

[2019-06-25 06:48] jakoss opened #6090 "AudioProcessor for ReplayGain"
### Use case description
I have bunch of HLS streams and i have to apply ReplayGain on them (it's value from REPLAYGAIN_TRACK_GAIN header, taken from source audio file). I'm using AAC and MP3 codecs.
I know that this header gets lost while HLS generating, but i'm able to get it from API, so my use case assume that i have stream to play and replaygain value in some variable.

### Proposed solution

[2019-06-25 07:05] jakoss commented on #6006
Version 2.10.2 seems to be working fine. Thanks

[2019-06-25 07:44] marcbaechinger commented on #6089
I don't think this log statement comes from ExoPlayer. ACodec seems to be a part of the media framework of Android. There is not much you can do on ExoPlayer side to avoid this statement.

[2019-06-25 09:44] AquilesCanta commented on #6088
If that's the case there is not much we can do in-library. The best suggestion I can give is that you fix the media, so that

as per [spec](https://tools.ietf.org/html/rfc8216#section-3). Please clarify if you think that ExoPlayer is doing something not compliant with the spec, and I will reopen.

[2019-06-25 10:14] AquilesCanta commented on #6088
The best thing you can do here is adding a silent audio track in the video only segments, unfortunately.

As per our [medium post](https://medium.com/google-exoplayer/hls-playback-in-exoplayer-a33959a47be7) (look for "Avoid structural changes in segments") about playing HLS content, ExoPlayer does not support track changes in the stream.

I'll mark this as a low priority enhancement. It's likely t

[2019-06-25 10:42] AquilesCanta commented on #4110
Hi @drayan85, the stream sent to us via e-mail with the subject "Issue #4110" seem to be working as intended. Both locally (played using ExoPlayer) and casted. Feel free to try them in the demo app. Could you please verify this? Post below if you encounter any issues, and I will reopen this.

[2019-06-25 10:42] #4110 closed, assigned to AquilesCanta

[2019-06-25 10:43] AquilesCanta commented on #4110
If you do encounter issues, don't forget to include precise repro steps, please. Thanks!

[2019-06-25 11:22] AquilesCanta commented on #6049
I don't have authorization to download the zip from drive. Can you ensure it's publicly downloadable?

We'll leave this as an enhancement and revisit when we do quarterly planning. After reading some of the provided material, it is not clear to me what the required work is. Seems as if the content was just a group on non-overlapping mp4 files. If you'd like to provide some context around what this

[2019-06-25 11:39] arasan81 commented on #6049
Hi Seifert,

Mmtp is actually based on MPEG-H standard. So we would like to know if
exoplayer supports MPEG-H standard.

Thanks,
Tamilarasan Durai

On Tue 25 Jun, 2019, 4:53 PM Santiago Seifert <notifications@github.com
wrote:

[2019-06-25 17:34] kumarkumar217 commented on #5870
Thanks. it is working fine for me.

[2019-06-25 18:06] sergiomartinez4 commented on #6088
Thanks for the prompt response @AquilesCanta  I'll communicate this to my team

[2019-06-25 18:24] Kelmatou commented on #6011
Yes I've read about that and I am already customizing the different layout elements.
But I cannot find how to make DefaultTimeBar corners rounded.
I've tried android:radius="10dp" but it doesn't change anything

[2019-06-25 18:38] kvillnv commented on #5989
Please see my previous messages. I am still postponing exoplayer update in my project.

[2019-06-26 01:16] AndrazP commented on #5887
Thanks @ojw28, that solved my problem.

Summary of how I fixed this ANR in custom MediaSource:
- Because  [prepareSourceInternal()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/CompositeMediaSource.html#prepareSourceInternal-com.google.android.exoplayer2.upstream.TransferListener-) in my case can block for more then ~5s, execute the work on a background thread.
- Make s

[2019-06-26 01:18] Romantic-LiXuefeng commented on #6086
@umangsaini  thanks! I have test some devices,  MediaCodec works fine. I am looking for Galaxy S5 to test.

[2019-06-26 06:26] geeta4 opened #6091 "does exoplayer rerequest the url when we set currentseekpos"
i prepepare mediasource and wile playing i change position of media and call setcurrentpos of sinpleexoplayer so it rerequest the url why it is happening if i already prepared mediasource and i knew it because we tracking the hits of url. the code i write it is as below:

[code]
and when i change position i call
[code]
when i call ablove line it rehit the url
ehit the
how can i resolve so it to st

[2019-06-26 06:54] mansurrrr opened #6092 "Is there a way to preload new mediasource without ConcatenatingMediaSource?"
### [REQUIRED] Searched documentation and issues
I'm already using `ConcatenatingMediaSource`

### [REQUIRED] Question
I want to preload new MediaSource without `ConcatenatingMediaSource`,
there is no callback for completion of current `MediaSource`.
`onPositionDiscontinuity` only works when next `MediaSource` starts.

1. Can I get a callback when the current video ends?
2. If not, Is there a way

[2019-06-26 08:38] marcbaechinger commented on #6091
If you seek to another position while playback and the player does not have the data available to play that position, then the player needs to download the data from the server.

If you want to download all the data beforehand you need to use a `CacheDataSource` and [download everything and then play the file offline](https://exoplayer.dev/downloading-media.html).

[2019-06-26 08:47] loki666 commented on #5891
I know this now closed, but I have an issue after updating to 2.10.2.

My music applications prepare the player with the latest playing queue when it starts, but now my "play" buttons (which uses the MediaControllerCompat.TransportControls) fails because the player is in READY state, so the onPlay() callback in MediaSessionConnector does nothing

this is because the setPlayWhenReady() has been rem

[2019-06-26 09:00] jakoss commented on #6092
As of 1 point - you can listen to `onPlayerStateChanged(boolean playWhenReady, int playbackState)` if `playbackState == STATE_ENDED`.

As of 2 - i think you could just create second player and start buffering in it, but i never tried this.

[2019-06-26 09:10] tonihei commented on #6092
Can you explain what you are trying to achieve exactly? What is it that prevents you from using ConcatenatingMediaSource? That might help to better understand what this is about and what alternatives ways there could be.

In case your goal is to pause the current video at the end without automatically continuing to the next video, this is a duplicate of #5660.

[2019-06-26 09:12] tonihei commented on #5891
@loki666 Could you please open a new issue to discuss this question/problem?

[2019-06-26 09:20] loki666 opened #6093 "MediaSession extension play() not resuming a player in READY state"
### [REQUIRED] Issue description
Using the mediasession extension, the play doesnt works if the player is in READY state.

### [REQUIRED] Reproduction steps
Prepare the player, and call TransportControls.play()
nothing is happening because the MediaSessionCompat.Callback.play() does nothing when the player is in READY state.
Same goes if you pause() a playing player. Pausing the player works, but

[2019-06-26 09:21] loki666 commented on #5891
#6093

[2019-06-26 09:29] tonihei commented on #6093
@marcbaechinger Can you take a look?

[2019-06-26 09:41] drayan85 commented on #4110
@AquilesCanta Now it is working with ExoPlayer v2.10.2. Thanks

[2019-06-26 10:43] geeta4 commented on #6091
if data is playing continously from url then it does not rehit that url in my tracking if while playing i set at specific position then it rehit that url again in my tracking. so please tell me the solution

[2019-06-26 11:08] pawaom opened #6094 "prevent notification from being canceled when exoplayer is paused"
Before filing a question:
-----------------------
this is the code I am using

[code]

and

[code]

What happens is if we pause the player the notification can be canceled , this is an gif to explain what happens

https://gifyu.com/image/E3DJ

**What I want is Prevent notification from being canceled even when player is paused**

how can this be done

[2019-06-26 13:50] pearleye opened #6095 "Is it possible to play MPEG-TS from sequential memory buffers rather than a complete file?"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/

### [REQUIRED] Question
Does expo player support playing a MPEG-TS from sequential memory buffers rather than a existing complete MPEG-TS file ?

### A full bug report captured from the device
NA

### Link to test content
NA

[2019-06-26 14:05] ojw28 commented on #6095
ExoPlayer supports streamed MPEG-TS (e.g. over a network), so there's no requirement to have a complete file in advance. If you're trying to stream data from a non-standard source (e.g. some memory buffers), then the right way to do that is to implement a custom `DataSource` that'll provide the data to the player.

[2019-06-26 14:42] emanresu98 opened #6096 "Track representation switchs in adaptive video"
I am trying to track the audio and video representations switch when playing an adaptive video with Exoplayer.  I used the code implemented in the logger to track the events:

[code]

The code allows me to print the list of the available tracks as you explained in the documentation:

<img width="899" alt="Screenshot 2019-06-26 at 16 07 49" src="https://user-images.githubusercontent.com/52248590/60

[2019-06-26 14:58] pearleye commented on #6095
Yes we will be receiving streamed data from a non-standard source (memory buffers), so do you know if there is an example available or anything very close to my requirement ?

[2019-06-26 15:02] ojw28 commented on #6095
I'm not aware of an example; it sounds like a niche case that's specific to your application. You'll need to look into implementing a custom `DataSource` for this.

[2019-06-26 15:05] marcbaechinger commented on #6093
Yep, that's wrong.  I'll provide a fix asap.

[2019-06-26 15:14] sliabot opened #6097 "IMA extension : Multiples ADS not played with empty VAST"
Hello everyone.
[bugreport-foster_e_hdd-OPR6.170623.010-2019-06-26-17-08-57.zip](https://github.com/google/ExoPlayer/files/3330745/bugreport-foster_e_hdd-OPR6.170623.010-2019-06-26-17-08-57.zip)

I'm working on an Android TV project where we need to integrate ads into Exoplayer. Those ads come from DFP server.

### Issue description
In our case, I always receive 3 preroll slots even if some are em

[2019-06-26 17:16] 17martix commented on #6094
You can prevent this by adding this code to your PlayerNotificationManager.NotificationListener():
`
@Override
public void onNotificationPosted(int notificationId, Notification notification, boolean ongoing) {
                        startForeground(notificationId,notification);
}
`

[2019-06-26 18:44] ojw28 commented on #6096
When you say that you're interested in when the selected format is changed by the player, are you interested in:

1. The player decides to start buffering the different format
1. The player actually starts playing the different format

(1) will happen before (2), assuming that the adaptive switch occurs without any re-buffering taking place. You can implement `onLoadStarted` to figure out when the

[2019-06-26 18:47] ojw28 commented on #6096
This doesn't happen. `onTracksChanged` is only called when the statically selected tracks (i.e. the ones that the player is allowed to switch between) change. Adding a `documentation candidate` label to this issue to better document this.

[2019-06-26 19:33] WassimErriha commented on #5861
Any comments about this ?

[2019-06-27 01:00] #5858 closed, assigned to marcbaechinger

[2019-06-27 03:17] ghost commented on #5978
What is the progress of this issue. the performance of our product offline download feature is extremely poor. because of  the low ts cdn, we need parallelize segment downloads to download more ts files in parallel.

[2019-06-27 04:20] minhbnt-1512 opened #6098 "How to measure HLS live stream latency"
Hello,
I'm working on a live stream application with Exoplayer v2.9.5. I need to calculate LiveStream Latency by System.currentTimeMillis() - the value of #EXT-X-PROGRAM-DATE-TIME tag in HlsMediaPlaylist. I had HlsMediaPlaylist but I can't get the value of #EXT-X-PROGRAM-DATE-TIME tag. Ex: 2010-02-19T14:54:23.031+08:00. Please tell me how to get the value of #EXT-X-PROGRAM-DATE-TIME tag by Exo lib

[2019-06-27 06:16] geeta4 commented on #6091
i dont want to download all the data beforehand if it is not happenening while continously playing why happening setting different seekpos what is the logic actually? while continoiuslly playing it also  dont download all the data beforehand.

[2019-06-27 06:37] minhbnt-1512 opened #6099 "How to measure HLS live stream latency"
### [REQUIRED] Searched documentation and issues
I haven't seen an answer in your documentation

### [REQUIRED] Question
Hello,
I'm working on a live stream application with Exoplayer v2.9.5. I need to calculate LiveStream Latency by `System.currentTimeMillis()` - the value of `#EXT-X-PROGRAM-DATE-TIME` tag in `HlsMediaPlaylist`. I had HlsMediaPlaylist object but I can't get the value of `#EXT-X-P

[2019-06-27 06:39] #6098 closed, assigned to nobody

[2019-06-27 08:53] pokerfacecmy opened #6100 "how can i get the video's progressListener ?"
i try do it like this:
[code]

but the result looks odd
`E/TAG: -9223372036854775807`

[2019-06-27 09:29] andrewlewis commented on #6097
Please see #5006. For now the best workaround we're aware of is to use optimized ad pods to prevent empty ads being served. We are actively working with the IMA SDK team on getting a robust way to know which particular ad failed to load.

[2019-06-27 09:31] andrewlewis commented on #6099
@AquilesCanta Please could you comment on the best way to do this?

[2019-06-27 10:51] andrewlewis commented on #6100
`getDuration` can return `C.TIME_UNSET`, which probably explains the negative value you are logging. #5352 has some more information about tracking progress.

[2019-06-27 10:51] #6100 closed, assigned to andrewlewis

[2019-06-27 10:59] andrewlewis commented on #6090
Audio processors apply after decoding so they operate on PCM data. You shouldn't need to worry about dealing with compressed data and the approach you're suggesting of multiplying the samples should work. One potential pitfall is that your audio processor will be used by `DefaultAudioSink` on the playback thread, which is probably not the same thread you use to extract headers.

Regarding using au

[2019-06-27 11:05] tonihei commented on #5660
Sending precise messages is most likely not feasible, because the main reason to do that is to pause at a specific frame-accurate timestamp. As we don't control the last few milliseconds before releasing the frame to the surface, this behavior needs to be implemented by actually holding back samples in the renderer.

This can still be implemented, e.g. by using renderer messages sent at an earlier

[2019-06-27 11:07] tipoc123 opened #6101 "Exoplayer shows only one audio track"
### [REQUIRED] Issue description
Exoplayer shows only one audio track: russian. VLC shows two audio tracks: russian and english.

Exoplayer's output:
[code]
ffmpeg's output:
[code]

### [REQUIRED] Reproduction steps
Play content.

### [REQUIRED] Link to test content
http://80.77.52.234:21013/hls/relay/adaptive/MZmxiZ4/index.m3u8

### [REQUIRED] A full bug report captured from the device
[bugreport

[2019-06-27 11:13] pokerfacecmy commented on #6100
sorry  i mean the video progress.
exp:
i have a 10s video and it's already played 3s
how can i get the 3s info.

English is  not my native language ，sorry about my grammar.

[2019-06-27 11:35] jakoss commented on #6090
The idea i'm looking at is one that i have `REPLAYGAIN_TRACK_GAIN` value out front - i don't have to extract headers from audio. So the thing i'll try to do is to create `AudioProcessor` that takes gain value as parameter. Then, for every track, i would create new `AudioProcessor` with gain value for that track. Does it seem possible?

Unfortunetely, relying on api 28 doesn't work for me.

[2019-06-27 12:28] jonkryl opened #6102 "Нет звука"
Нет звука. Использую демо приложение для проверки. Не работает только на некоторых устройствах.
![Screenshot_20190627-185949_ExoPlayer](https://user-images.githubusercontent.com/13360676/60266043-68028480-9911-11e9-95f5-01c2039a6e9a.jpg)
![IMG_20190627_192821_914](https://user-images.githubusercontent.com/13360676/60266170-b152d400-9911-11e9-934c-b8bf455929d9.jpg)
![IMG_20190627_192814_892](https:

[2019-06-27 12:32] jonkryl commented on #6102
`{
    "name": "Misc",
    "samples": [
      {
        "name": "Nashe Radio",
        "uri": "http://nashe1.hostingradio.ru/nashe-128.mp3"
      },
      {
        "name": "Nashe Radio2",
        "uri": "http://nashe1.hostingradio.ru/nashe20-128.mp3"
      },
      {
        "name": "Nashe Radio3",
        "uri": "http://nashe1.hostingradio.ru/nasheekt128.mp3"
      },
      {
        "name": "Na

[2019-06-27 12:36] catbaxter commented on #6102
Тебе надо добавить в манифест приложения (AndroidManifest.xml) строку, которая разрешает трафик через http:

[code]

[2019-06-27 12:45] jonkryl commented on #6102
Спасибо, это помогло. Но почему большая часть устройств работала без этого разрешения?

[2019-06-27 13:05] catbaxter commented on #6102
Это требование Android 9, что вся коммунникация идет через https, если http - то надо прописывать исключения ручками или ставить для всех разрешение в манифесте.

[2019-06-27 13:20] tonihei commented on #6102
The question seems to be answered now. It's also a duplicate of #6077.

[2019-06-27 13:20] #6102 closed, assigned to tonihei

[2019-06-27 13:43] giladna commented on #5681
@rrfrias  any update on this?
10x

[2019-06-27 13:53] andrewlewis commented on #6100
`player.getCurrentPosition()` should give you the player position in milliseconds.

[2019-06-27 14:38] AquilesCanta commented on #6099
Useful read #2930.

Regarding getting the current position from the epoch, as advertised by EXT-X-PROGRAM-DATE-TIME, you can use [Player.getCurrentPosition()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getCurrentPosition--). To get milliseconds since epoch you should add the current window's [windowStartTimeMs](https://exoplayer.dev/doc/reference/com/google/andro

[2019-06-27 14:38] #6099 closed, assigned to AquilesCanta

[2019-06-27 15:01] Stijak commented on #5978
This is really serious issue. For a bare 600MB (in 8000 chunks) player needs about 40 minutes to download (over 300 MBIT network)...
This is only 15%ish percent faster than action-file based implementation, and more then 10 times slower then our old custom download implementation on same medias...

[2019-06-27 16:49] Stijak commented on #4273
Hi @janeriksamsonsen
Did you do anything special in your implementation. We did clean implementation like in their Demo app, and exoplayer 2.10 only improved download speed for about 10%. 700MB video (8000 chunks) still takes 40 minutes over fast WI FI.
Also, what HTTP are you using. Our content provider is using HTTP/1.1 so with handshake improvements maybe HTTP/2 could be a little faster.
Hope #

[2019-06-27 18:35] janeriksamsonsen commented on #4273
@Stijak - We did not really do anything special to get the performance gain. The download speed has not changed for individual segments, but because the index writing in SimpleCache is so much better the overhead (CPU/IO-load between segments) is much lower, and hence the total download time is reduced multiple times. Are you by any chance downloading to SD-card (that will be a bit slower i guess)

[2019-06-27 18:54] jakoss commented on #6090
Ok, so i came up with this:
[code]
I create this AudioProcessor once and keep the reference to it. Then, for every track, i set gain value to the right value (or i deactivate it). Does this solution make sense?

It seems to be working fine (although for now only on PCM_16BIT). Could you look at it and advise on what i could do better? I'll do a PR once i'm done with it

EDIT: Is there a way to pas

[2019-06-27 18:57] janeriksamsonsen commented on #5978
@Stijak - just measured a download on my side:
Pixel 3 XL
100mbit connection
Around 8700 segments (video + audio + subtitle) where each segment is 2 seconds long.
Total downloaded: 4.2GB
Time to finish: 11 minutes

Your numbers sounds strange. Can you please share some details about your device and implementation?

I do however also see the need for parallelized downloads since ExoPlayer download

[2019-06-27 21:20] brAzzi64 opened #6103 "Adjust sample timestamps in MergingMediaPeriod for periods with different timestamp ranges"
Hi,

I have 3 video segments A, B, C with audio. I'd like to play them in sequence, while a different audio-only track plays seamlessly on top of the overall video (I want to discard the original audio of the video segments).

Is there a way to achieve this using ExoPlayer 2?

The documentation for MergingMediaSource states "The Timelines of the sources being merged must have the same number of pe

[2019-06-27 21:34] akavrt commented on #4273
I've tested download speed with v2.10 thoroughly and can confirm significant increase on devices with slow storage. Meizu M5 Note is one of our test devices where download speed with ExoPlayer 2.9 is painfully slow — it takes more than 40 minutes to load our 1.5 Gb test DASH asset on fast Wi-Fi while Samsung S8 loads same test asset in 4 minutes. With ExoPlayer 2.10 both devices load that asset in

[2019-06-28 01:14] nlgtuankiet opened #6104 "HLS support for OPUS"
### [REQUIRED] Use case description
Music streaming platform which supports adaptive bitrate streaming for poor network condition. While Opus performs exceptionally well at low bitrates, Opus inside HLS is not really a standardized payload

### Proposed solution
I don't have any

### Alternatives considered
.m4a format works well for us at > 128k, but at 64k (which is our target) it performs poorl

[2019-06-28 01:22] pokerfacecmy commented on #6100
`player.getCurrentPosition()`always return 0;

this is my code:
[code]

and this is my log:
[code]

[2019-06-28 03:42] GoingAI opened #6105 "MediaCodecRenderer.getOutputBuffer crash"
Don't crash if this exception occurs

![image](https://user-images.githubusercontent.com/9779970/60314513-71cdcb80-9995-11e9-8894-8ff24dff7d34.png)

**Device(s) and version(s)**
![image](https://user-images.githubusercontent.com/9779970/60315221-40a2ca80-9998-11e9-88ab-1522aef57de5.png)

[2019-06-28 05:01] georgi-neykov-hub opened #6106 "Why is `MediaSessionConnector.PlaybackController` gone in v2.10.0?"
### [REQUIRED] Searched documentation and issues
There isn't a single word about the API change, nothing for the `DefaultPlaybackController` removal or the modified `MediaSessionConnector` constructor. As a user jumping in from v2.6.x it's not a good experience at all. Understanding what's going on involves digging through the tags, or playing with the search to craft a meaningful query, which eve

[2019-06-28 06:37] star-andy commented on #5660
@tonihei
Thank you very much
I'm currently using what you called ```PlaybackState.STATE_ENDED```  To solve this problem
However, when the two MediaSource switch, can't make a better transition? Can we add a transition animation to make a better connection

[2019-06-28 06:55] janeriksamsonsen commented on #4273
Well, then it sounds like that the output stream buffer that DownloadManager is using to write segments is too small, or non-existent. But we can check that in the source code i guess.

[2019-06-28 08:37] ojw28 commented on #6106
`PlaybackController` was removed because it did pretty much the same thing as `ControlDispatcher`, and all other UI components were already using the latter. Some developers were having to implement the same thing twice as a result of this discrepancy, so we moved `MediaSessionConnector` over to use `ControlDispatcher` as well. You can probably use `MediaSessionConnector.setControlDispatcher` for

[2019-06-28 08:40] ojw28 commented on #6104
We don't have any plans (or see any particular demand) for this. This will likely remain true for as long as it's not part of the HLS specification. We support Opus carried in DASH adaptive streams, which may be a satisfactory alternative for you.

[2019-06-28 08:40] #6104 closed, assigned to nobody

[2019-06-28 08:43] ojw28 commented on #6101
Duplicate of https://github.com/google/ExoPlayer/issues/2014.

[2019-06-28 08:43] #6101 closed, assigned to ojw28

[2019-06-28 09:05] georgi-neykov-hub commented on #6106
@ojw28 , thank you for the quick answer. The annotation-based idea is close to what RxJava has adopted for experimental and beta features and works pretty well. I will stick to `ControlDispatcher` and migrate the current logic.
API stability is not a big deal for me as long as changes are well documented and there are some insights what is replacing missing methods/interfaces/...

I'm closing the

[2019-06-28 09:05] #6106 closed, assigned to ojw28

[2019-06-28 11:05] Stijak commented on #5978
Ok, thanks for feedback. Judging on your responses, on my test Galaxy S9+ speed should be high even on exoplayer 2.9, and yet, still slow, and there are no CPU bottlenecks or anything like that.

I even transferred DASH from CDN to my local macbook apache to eliminate eventual CDN problems with small chunks.
Ok, I guess I will keep looking and the problem is not in exoplayer, although I don't unde

[2019-06-28 11:14] wellbranding opened #6107 "Decoder init failed in viewpager"
We are receiving a bug, where Exoplayer does not load our MP4 files in the ViewPager after 5th attempt(it is predictable and occurs always). Here is crash log from ExoPlayer:

[code]

[2019-06-28 11:19] Stijak commented on #5978
It seems that significant portion is spent on request initialization...
And much smaller audio files are sometimes slower...

<img width="643" alt="Screen Shot 2019-06-28 at 1 10 38 PM" src="https://user-images.githubusercontent.com/7632704/60338620-c168c300-99a6-11e9-9816-e3f660000fc2.png">
<img width="411" alt="Screen Shot 2019-06-28 at 1 10 56 PM" src="https://user-images.githubusercontent.com/

[2019-06-28 20:28] greyski opened #6108 "[ExoPlayer version 2.10.2] Parent view click events are consumed by exoplayer"
We recently upgraded from exoplayer **2.8** to **2.10.2** and noticed not all of our Views hosting an  exoplayer were clickable. Looking at the source shows that in **2.10.2** `PlayerView` consumes all touch events upon it's surface:
[code]
Whereas in **2.8** it would still allow touch/click events to be propagated to it's parent container unless the controller was present:
[code]
Is this intended

[2019-06-28 20:31] #6108 closed, assigned to nobody

[2019-06-28 20:34] greyski opened #6109 "Parent View click events are consumed by PlayerView [2.10.2]"
### [REQUIRED] Searched documentation and issues
There was no mention of why click handling is being overridden by the `PlayerView` via `onTouchEvent`

### [REQUIRED] Question
We recently upgraded from exoplayer **2.8** to **2.10.2** and noticed not all of our Views hosting an exoplayer were clickable. Looking at the source shows that in **2.10.2** PlayerView consumes all touch events upon it's su

[2019-06-28 20:36] greyski commented on #6108
Moved to question: https://github.com/google/ExoPlayer/issues/6109

[2019-06-28 21:45] CreeschYT commented on #5973
Can you atleast give me a reason that this is low priority ?

[2019-06-29 09:51] CreeschYT opened #6110 "How to loop a video instead of playing the next video when the video ends ?"
###  Searched documentation and issues
I searched on StackOverflow, but found nothing

###  Question
I'm developing an m3u player which asks the user to choose an m3u file. The m3u urls are put in a ConcatenatingMediaSource the urls work fine. When the user presses 'Next' the next url should play which works. There are two timers one on the left and on the right. The one on the left counts. The on

[2019-06-30 06:27] kaiv2000 opened #6111 "Cannot play correctly flv stream - show only 1 image with no motion (mx player open this stream correctly)"
Exoplayer, version 2.10.2 - cannot open correctly flv streams - show only first frame of video stream without motion. MxPlayer open this stream correctly with motion.

Please test one of these streams:
http://62.122.205.205:8001/live_camera001.flv
http://62.122.205.205:8002/live_camera002.flv
http://62.122.205.205:8005/live_camera005.flv

[2019-06-30 06:31] kaiv2000 opened #6112 "Cannot open m3u8 stream"
Exoplayer v 2.10.2 cannot open m3u8 stream, error not showing in debugger and player continuosly trying to play this stream (Embedded Android video player open this stream correctly):
Example stream with this issue:
http://vps.guru.ua/hls/ratusha.m3u8

[2019-06-30 08:18] Navidhp opened #6113 "How To Handler Player On Incoming Call (Android Marshmallow)"
player (pause or play) is oky in onPause or onResume lifecycle activity but phone incoming call , answer and end call back to player i have this error , on another android version like oreo everything is oky but in android
Marshmallow have this problem
error :
[code]

[2019-06-30 12:28] marcbaechinger commented on #6107
How many ExoPlayer instances are hold by the view pager code after the 5th attempt?

Background of that queston is that, the app code needs to make sure that you don't have more ExoPlayer instances than instances of media codecs a device provides.

Can you please take a [bug report](https://developer.android.com/studio/debug/bug-report) right after the crash and upload it? You can also send it to

[2019-06-30 12:47] marcbaechinger commented on #6094
The notification is kept ongoing as long as the service is kept in foreground with the notification id, which the `PlayerNotificationManager` uses to post the playback notification. Whether the service is in foreground or not is defined by your app code. The player notification manager does not know about your service.

So not removing the service from the foreground when paused prevents the notif

[2019-06-30 12:55] marcbaechinger commented on #6109
I don't see a reason why these touch events should be consumed in case we no-op.

Marking as bug for now.

[2019-06-30 13:02] marcbaechinger commented on #6109
Looking at the change which introduced this, makes me think that we changed to the standard Android behaviour. The touch event is delegated to performClick which triggers OnClickListeners of the given view.

Can you check whether we also consume the click to which `performClick()` delegate the touch event?

[2019-06-30 13:10] marcbaechinger commented on #6091
What kind of media stream are you playing?

[2019-06-30 16:05] ojw28 commented on #6110
I don't really understand the issue. I think you're saying that you're seeing a live stream spuriously ending, which is presumably something that shouldn't happen. Isn't that the issue that should be fixed here?

As a workaround, you could try setting `player.setRepeatMode(Player. REPEAT_MODE_ONE)`. You should do this when you initially configure the player, not conditionally on seeing `STATE_ENDE

[2019-06-30 16:24] CreeschYT commented on #6110
Thank you for the reply,
Um, yeah so sometimes the streams are ending. I added a screenshot of what happens. I'm now going to try `player.setRepeatMode(Player. REPEAT_MODE_ONE)` in the `onPlayerStateChanged` Event
![Screenshot_20190630-181939](https://user-images.githubusercontent.com/49997316/60399428-5a910880-9b64-11e9-8910-dbd3bd2d4d06.png)

[2019-06-30 16:30] CreeschYT commented on #6110
Ok, player.setRepeatMode(Player. REPEAT_MODE_ONE) worked.

[2019-06-30 16:30] #6110 closed, assigned to ojw28

[2019-06-30 16:58] ojw28 commented on #6112
Similar to https://github.com/google/ExoPlayer/issues/3158, this stream declares an audio track that it does not actually contain. The media should be fixed to not declare this track.

If you know that the streams you're playing do not contain audio, then you can work around this problem by creating the `HlsMediaSource` using `FLAG_IGNORE_AAC_STREAM`, like:

[code]

[2019-06-30 16:58] #6112 closed, assigned to ojw28

[2019-06-30 23:08] ojw28 commented on #6100
It seems pretty likely that your code is just broken. If something as fundamental as position reporting were broken in the ExoPlayer library, we'd have more than one person telling us about it. It might be easier for you to debug if you log immediately after the call to `player.getCurrentPosition`, rather than inside some `Observable`/`Function`/`Consumer` stuff. It's unclear to me that you're act

[2019-06-30 23:11] ojw28 commented on #6100
Marking as an app issue for now.

[2019-07-01 08:04] szaboa commented on #5527
@ojw28
I'd like to solve this, if there is no ongoing work on this currently.

[2019-07-01 09:00] andrewlewis commented on #6113
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

In particular, it would be useful to have a full bug report captured using "adb bugreport" after reproducing the error. You can attach it here or email it to dev.exoplayer@gmail.com with subject "Iss

[2019-07-01 09:07] tonihei commented on #6109
We shouldn't consume the event if no controller is present. That part of the change was unintentional. Marking as bug again to fix that.

[2019-07-01 09:17] andrewlewis commented on #6090
Looks like it's along the right lines. A few things to note:

- Please make sure you are handling transitions from one track to the next correctly. From your sample code I'm not sure how you've done this but it may involve communicating from an app thread to the playback thread where the audio processor is used. There is also the question of how you ensure that the new gain is applied at the exact

[2019-07-01 09:27] andrewlewis commented on #6105
@imliujun A few questions:

1. Are you able to capture a bug report after this happens (`adb bugreport`) or have you only seen this via remote crash reports?
1. Is this error new in 2.10.2, or have you seen it with earlier ExoPlayer versions?
1. Are you using the renderers unmodified or have you patched the code at all?

This looks similar to a known issue pre-Android N [for internal reference: b/

[2019-07-01 10:04] andrewlewis commented on #6084
I think it's just a bug that affects `TextureView` on certain devices, but can be fixed via system update (I'm not sure what devices will receive updates or when, though).

See choosing a [surface type](https://exoplayer.dev/ui-components.html#choosing-a-surface-type) for background information on `SurfaceView` vs `TextureView`. Unless you need to call `TextureView.getBitmap`, `SurfaceView` can be

[2019-07-01 10:04] #6084 closed, assigned to andrewlewis

[2019-07-01 10:16] #5856 closed, assigned to marcbaechinger

[2019-07-01 10:18] tonihei commented on #5973
Actually, the logic mentioned above is already implemented. The underlying problem here is that progressive live streams are not marked as "dynamic". Marking as an enhancement instead.

Note that this is also related to #2668 where we try to improve the way to denote live streams in general.

The "low priority" label is used to mark issues which we not plan to address immediately. These are often

[2019-07-01 10:50] olenasol commented on #6068
Sorry if the question was unclear. I want to have slightly different controls layouts in landscape and portrait(to achieve this it is enough to change margins).I have tried out the snippet you have provided and it is working. However I am unable to set margin on exo_position and exo_progress in method onConfigurationChanged. To handle orientation changes I am using ConstrainLayoutStates.

[2019-07-01 10:54] peapea27566 opened #6114 "How to Exoplayer play video with sdcard path to Array?"
How to Exoplayer play video with sdcard path to Array?

  var path = (Environment.getExternalStorageDirectory().path + "/ads/")
        var directory = File(path)
        var url = directory.listFiles()

how to play video Exoplayer to url path help me !!

[2019-07-01 11:00] jianlin00000 commented on #5610
I faced the same problem,then I add below method before play resource to solve the problem:

`
public void handleSSLHandshake() {
        try {
            TrustManager[] trustAllCerts = new TrustManager[]{new X509TrustManager() {
                public X509Certificate[] getAcceptedIssuers() {
                    return new X509Certificate[0];
                }

                @Override

[2019-07-01 11:24] pearleye commented on #6095
@ojw28 Thanks, but could you share some reference where a custom DataSource has been implemented ?

[2019-07-01 11:26] ojw28 commented on #6095
It's a pretty simple API to implement. I'd suggest looking at the Javadoc of `DataSource`. You can also inspect the source code of all the implementations already in the library (e.g. `FileDataSource` might be a good one to look at). We don't have any documentation beyond that.

[2019-07-01 11:28] soorajdevs commented on #6095
Does the ExoPlayer support reading from camera device?
I wonder if we can use the player to directly read from the device which is generating the AV stream.

[2019-07-01 11:28] ojw28 commented on #5527
This is being worked on already, I think by @vavadhani or one of his colleagues. We expect support to be added soon.

[2019-07-01 11:32] ojw28 commented on #6095
No.

[2019-07-01 11:36] soorajdevs commented on #6095
Ok Thanks

[2019-07-01 11:56] szaboa commented on #5527
Alright, then I will search for something else :)

[2019-07-01 12:04] tonihei commented on #6103
The approach using `ClippingMediaSource` sounds feasible. To avoid noticeable clipping, you should ensure two things:
1. The duration of the clipping should exactly coincide with the end of an audio sample. The specified duration is in microseconds, so that should be possible. It should also be as close as possible to the corresponding video duration, so you'd need to know that in advance too.
2.

[2019-07-01 12:55] nshutov opened #6115 "How force use IOMX on Android 4.4 (how use flint in turbo jet engine)"
I want try to use IOMX instead MediaCodec. Its possible?
My device is android 4.4 amlogic cpu stb.

[2019-07-01 12:56] jakoss commented on #6090
Is there a way to handle transitions from one track to the next in safe manner? Right now i'm doing it like this:
[code]
I haven't notice any volume spikes in bad spots and (based on logging) change in gain is pretty much lined up with track transition.

Second point - is `configure` called between tracks in `ConcatenatingMediaSource`?

Third point - i'm aware that casting bytes like that is not p

[2019-07-01 13:04] andrewlewis commented on #6115
As you're probably aware, ExoPlayer's core library uses the public Java `MediaCodec` API rather than interfacing with OMX directly.

If you want to integrate with a different API (e.g., via the NDK) you can try to do that via a custom renderer implementation, but I'm afraid we don't have resources to provide support on that. Out of interest, what use case requires direct integration with OMX?

[2019-07-01 13:36] CreeschYT commented on #5973
Ok, thank you

[2019-07-01 13:40] andrewlewis commented on #6090
Thanks for the information.

I think ideally we'd extract replay gain metadata from each container format we support, store it in ExoPlayer's `Format` type, then pass this to the sink so it can reconfigure its audio processor at the point of the replay gain changing. This is similar to how trimming audio for gapless playback works. Unfortunately this is quite a substantial change compared to your

[2019-07-01 15:06] natez0r commented on #6087
just wanted to follow up on this to see if y'all had any questions/initial reactions to the proposal?

[2019-07-01 15:18] nshutov commented on #6115
No real use case, just experiment

Thanks for answer

[2019-07-01 15:18] #6115 closed, assigned to andrewlewis

[2019-07-01 15:56] AquilesCanta commented on #6087
This seems like a good fit for `EXT-X-GAP`, if I understand correctly. There three scenarios that may occur:

Scenario 1: Video and audio are demuxed, and an audio segment is missing.
Scenario 2: Video and audio are demuxed, and a video segment is missing.
Scenario 3: Video and audio are multiplexed, and a segment is missing.

Current behavior:
Scenario 1 and 3: An audio renderer discontinuity wil

[2019-07-01 17:04] brAzzi64 commented on #6103
Sounds good, thanks much for the pointers. I'll give this a try!

[2019-07-01 17:12] marcbaechinger commented on #6068
This snippet works for me:

[code]
I see in the Layout Inspector that the margins are applied and the view also shows with the margins applied.

Can you elaborate on what is not working? Did you check in the Layout Inspector whether the margins have been applied on the views?

[2019-07-01 19:44] alexeyr15 opened #6116 ""Unknown" audio track when using chunkless preparation"
### [REQUIRED] Issue description
ExoPlayer demo app displays "Unknown" audio track when using chunkless preparation.

### [REQUIRED] Reproduction steps
1. Open the provided test stream in ExoPlayer demo app
2. Select tracks -> Audio -> Audio track is displayed with correct language and type ("stereo")
3. Add `setAllowChunklessPreparation(true)` to `buildMediaSource` method for `HlsMediaSource`
4.

[2019-07-01 20:49] natez0r commented on #6087
I haven't tested to see the second scenario as I didn't have a demuxed stream, but that is the behavior I was hoping for.

Just to confirm: if you had a stream that did not have an audio track at all and we hit a gap, we'd still expect Scenario 2, correct?

One other thing to note is that the player behavior seemed to depend on the length of the gap in my testing. I think it may be different for d

[2019-07-02 01:01] #6004 closed, assigned to AquilesCanta

[2019-07-02 01:01] #5984 closed, assigned to AquilesCanta

[2019-07-02 01:01] #5983 closed, assigned to AquilesCanta

[2019-07-02 01:01] #5855 closed, assigned to ojw28

[2019-07-02 01:01] #5826 closed, assigned to ojw28

[2019-07-02 01:01] #5217 closed, assigned to brunoluizcs

[2019-07-02 01:01] #3442 closed, assigned to zabirtech

[2019-07-02 03:37] GoingAI commented on #6105
@andrewlewis
1. only seen this via remote crash reports
2. this error  in 2.10.2、2.10.1、2.9.6 and more
3. No code modified

**My usage：**
In the recyclerview, the video Item plays automatically when it is displayed, and uses DownloadManager

Used https://github.com/lipangit/JiaoZiVideoPlayer

Play the kernel code as:

[code]

[2019-07-02 05:17] ArcherEmiya05 commented on #5626
I will test it again with the same device LG K10 K430dsy since memory leaks happens on this device after implementing ads sdk.

[2019-07-02 06:02] schyau opened #6117 "Wrong progress is reported when using ConcatenatingMediaSource with playback speed that is not 1"
### Issue description
When using ConcatenatingMediaSource and playback speed is not 1, `player.getCurrentPosition()` reports the wrong value.  It happens when transitioning into the next audio.  It starts by first reporting a nonzero number at the start of audio, then repeating this same number until the real-life audio progress catches up to that number.  When that happens `getCurrentPosition` wi

[2019-07-02 07:26] Tumbler0809 opened #6118 "Audio focus is permanently lost"
### [REQUIRED] Use case description
I need a player that plays the video silently, it never holds the audio focus, just plays the video without sound.

[2019-07-02 08:12] tonihei commented on #6118
The audio focus is not requested unless you explicitly use `SimpleExoPlayer.setAudioAttributed` to set the audio attributes. Could that be the problem? If not, please describe the question in more details following the issue template.

[2019-07-02 08:36] jakoss commented on #6090
Ok, i think i know everything i need for now. I'll try to come back with PR when my solution will be ready. Thanks for the help!

[2019-07-02 08:36] #6090 closed, assigned to andrewlewis

[2019-07-02 09:06] andrewlewis commented on #6090
Ok. We are grateful for contributions, but please bear in mind that we can't commit to merging a PR in advance (we need to see how much complexity it would add, and probably also confirm there is demand for the feature to justify including it). Also, for this specific case I think we'd want the gain to be applied perfectly on the sample boundary as described in my previous comment, which may be di

[2019-07-02 10:41] AquilesCanta commented on #6087
I think that is the current behavior, yes. That is: the last video frame before the gap will be on screen while "playing" the gap.

[2019-07-02 13:42] paduy commented on #5647
How to fix this issue?

[2019-07-02 14:01] natez0r commented on #6087
Perfect, that's what we'd hope for.

I guess my biggest question going forward is whether or not this would be high priority enough for you to want to address it in house or should our team prepare a PR to address this and we can iterate with you on it?

[2019-07-02 14:15] QuaQuaAndroid opened #6120 "Audio not stopped when the Video stops"
I'm facing an issue in 360 video player, when I exit the Video, audio keeps playing even when I exit the App(until it gets cleared from Backend).

Releasing the player in onPause & onStop methods in Activity & Creating again in onStart & onResume.

Can some one help me out to solve this issue.?

[2019-07-02 16:15] andrewlewis commented on #5248
@ArvinChu Sorry for the delay. Please could you provide the media used to reproduce this, and also let us know the device/build (output by `adb shell getprop ro.build.fingerprint`)?

[2019-07-02 16:32] georgi-neykov-hub opened #6121 "`Play` Action from MediaSession not handled correctly after a `Pause` action"
### [REQUIRED] Issue description
MediaSessionConnector does not properly handle `play` commands from a MediaSession after a `pause` command has been handled.
If one looks at the `MediaSessionCompat.Callback.onPlay()` implementation inside `MediaSessionConnector`at [this line](https://github.com/google/ExoPlayer/blob/r2.10.2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/me

[2019-07-02 16:33] ojw28 commented on #6121
Duplicate of https://github.com/google/ExoPlayer/issues/6093

[2019-07-02 16:33] #6121 closed, assigned to ojw28

[2019-07-02 16:40] georgi-neykov-hub commented on #6093
@marcbaechinger , is it possible to just match the logic in [PlayerControlView#1232](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerControlView.java#L1232)? Or maybe, just call `controlDispatcher.dispatchSetPlayWhenReady(player, true)` if the current player's state is `Player.STATE_READY`?

[2019-07-02 16:51] #6111 closed, assigned to ojw28

[2019-07-02 16:51] #6109 closed, assigned to tonihei

[2019-07-02 16:52] #6093 closed, assigned to marcbaechinger

[2019-07-02 17:18] #6047 closed, assigned to marcbaechinger

[2019-07-02 18:31] maskedpatel opened #6122 "Decrypting data source question"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/downloading-media.html
Exoplayer github issues
stackoverflow
FileDataSource, CacheDataSource, AesCipherDataSource, Aes128DataSource, SimpleCache, relevant other abstract/base classes/interfaces
Olly's medium posts
Erdem's approach in https://github.com/google/ExoPlayer/issues/5193 was one of our main resources. This is pretty m

[2019-07-02 18:52] maskedpatel commented on #6122
Also should add, the error occurs on the following breakpointed line of Exoplayer's CacheDataSource.java file:
![Screen Shot 2019-07-02 at 11 46 00 AM](https://user-images.githubusercontent.com/7097316/60538263-1c5c2c00-9cbf-11e9-9741-5af305ce9284.png)
We tried debugging it ourselves for a while. It seems like the readPosition of CacheDataSource isnt being set properly by us. For an unencrypted ve

[2019-07-02 20:25] greyski opened #6123 "Set Surface type in exo_player_view.xml to allow all PlayerViews to inherit specified surface type [2.10.2]"
### [REQUIRED] Use case description
Related to https://github.com/google/ExoPlayer/issues/5387

The current problem we're running into is that `SurfaceView` is causing odd UI issues that we haven't found a solution for (videos from a previous `Fragment` visually overlapping/overdrawing videos on another `Fragment`), however we noticed that `TextureView` resolves the issue. We want to be able to sp

[2019-07-02 20:46] ojw28 commented on #6123
I don't understand how the proposal actually ensures what you want, which is

The developer could still just use the constructor that doesn't have the `surfaceType` argument, or pass a `surfaceType` value that's not the one you want to use. Please clarify.

[2019-07-02 21:54] greyski commented on #6123
@ojw28 Updated title and description, does this idea make sense?

[2019-07-02 22:20] fredgc commented on #5850
Our tester does see worse performance on the L3 for Android P compared to O.  This is a regression.  We have not isolated the cause, but we expect it to be the same general behavior on most Android L3 devices.  We will investigate root cause and possible fixes.

[2019-07-02 22:34] ojw28 commented on #6123
It looks like the request is now just to have a way of changing the default `surfaceType` value to `textureView`, so that all `PlayerViews` inflated by your app will use that default unless they explicitly specify otherwise. Exactly how that default is changed probably doesn't matter too much to you, as long as you have a way to change it. Is that correct?

I'm not sure we need a style for this. W

[2019-07-02 23:42] greyski commented on #6123
[code]
^That's the dream.

Apologies I misspoke regarding using `style`, but instead adding an attribute to `AspectRatioFrameLayout` that allows us to specify the default `surface_type` for the `PlayerView`.

Just to pitch the idea a bit more, I feel this makes sense because of how closely dependent the two UI objects are on each other (more-so Surface to `AspectRatioFrameLayout`). Here's a snippe

[2019-07-02 23:55] ojw28 commented on #6123
What's the value of plumbing it through `AspectRatioFrameLayout`? We could do that, but we could probably also just define a resource value that `PlayerView` reads directly. If that works, isn't it a much simpler way of doing pretty much the same thing?

[2019-07-03 00:18] greyski commented on #6123
Technically we already do have a value in `PlayerView` called `surface_type` that can be set to either `texture_view`, `surface_view`, or `none`. [See doc on PlayerView.](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html)

However, we are unable to utilize these attributes in the required `exo_player_view.xml` file as the structure uses the `<merge>` tag which, i

[2019-07-03 00:21] greyski commented on #6123
By only exposing this attribute at the `PlayerView` level it limits our ability to explicitly set the `surface_type` across ALL instances of `PlayerView` for our app. We would essentially have to do:
[code]
For every location we create a `PlayerView` in XML. It also becomes even MORE of a hassle if we want to dynamically create the `PlayerView` in code as the `surface_type` cannot be set at runtim

[2019-07-03 00:23] greyski commented on #6123
I agree that plumbing it into `AspectRatioFrameLayout` isn't exactly elegant, but it was the most immediate solution I noticed when looking at the inner-workings of the `PlayerView` source.

[2019-07-03 00:36] gracejang commented on #3327
Hello! Wondering if work has been started yet to support this?

[2019-07-03 03:17] eneim commented on #6123
@greyski If PlayerView to support default style via the 4th constructor parameter (which I think should be the way to solve this problem), you can define the style in your theme and PlayerView can automatically apply that.

Ref: https://developer.android.com/reference/android/content/res/Resources.Theme.html#obtainStyledAttributes(android.util.AttributeSet,%20int[],%20int,%20int)

For example this

[2019-07-03 04:54] eneim commented on #6123
@greyski Just find this [theme setup](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/res/values/styles.xml#L27) in demo app. Using this theme will automatically apply this ``surface_type`` to your PlayerView unless you set it again in layout xml.

[2019-07-03 06:28] giladna commented on #5910
@tonihei
Could you add more information in which version it was fixed?
Since in realm me 3 pro in May patch the issue is still there

[2019-07-03 08:06] tonihei commented on #5910
@giladna It'll only be fixed in patches with a datestamp >= 20190610. So that's going to be the next released beta version I think.

[2019-07-03 08:18] tonihei commented on #3327
Not yet, sorry. We'll keep this issue posted if we have any updates.

[2019-07-03 09:22] ojw28 commented on #6123
Yeah, it seems this "just works" already by setting `<item name="surface_type">texture_view</item>` in the style that your activities are using.

[2019-07-03 10:50] lion4509 opened #6124 "Support addition of tracks mid-stream"
### [REQUIRED] Searched documentation and issues
I already have searched on this pages but not found any similar question.

### [REQUIRED] Question
I am developing multicast player based on ExoPlayer version 2.10.1.
There are programs that are including DVS (Descriptive Video Service).
That means during playback an audio track could be added into the stream.
I thought onTrackChanged is called when

[2019-07-03 11:05] hubaoyu commented on #2159
strongly suggest support FfmpegAudioRenderer，because lots of device are not work perfectly on MediaCode。

[2019-07-03 12:14] annetube opened #6125 "Change stream quality without dialog"
### [REQUIRED] Searched documentation and issues
I already look on demodev site and code of TraselectionView

### [REQUIRED] Question
Hello, i would want to know how can i change manualy the quality of an adaptive stream without dialog, i looked about how the trackselectorview do, but its confusing to how the which var is been used...

I want to that for idealy select the desirred quality of the s

[2019-07-03 12:21] Jenjen1324 commented on #2014
@ojw28 The specific part of the HLS specification only applies to streams which provide a Master Playlist. Many Live-TV providers do not have that and thus serve muxed streams, which apple also supports.

As I and probably many others are not in control of the media served and this format is (in my opinion) used widely enough, I'd think the priority could be increased.

[2019-07-03 12:26] QuaQuaAndroid opened #6126 "Add VR button for the Player & Enable when clicked(for 360 videos)"
Enable VR mode for 360 videos

[2019-07-03 12:44] tonihei commented on #6120
Please provide all the requested information in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) for us to take a look. Thanks you.

[2019-07-03 14:17] tonihei commented on #6125
Please have a look at the [guide page for track selection](https://exoplayer.dev/track-selection.html) to see how specifying selection constraints works in general.

The track selection parameters also offer options to set the maximum bitrate or the maximum video size, which sounds like something you would need for your use case.

[2019-07-03 14:23] coveroid commented on #6125
Thanks for your answer, unfortunately it's not what I want, I already tried it, i don't want the maximum or minimum I would want the closest, I've already the algorithm (to choose the right one between the child tracks of the master) do that, what I miss, it's just select this track and play it (without dialog)

[2019-07-03 14:24] tonihei commented on #6126
It's unclear what this actually refers to. Our demo app already supports 360° videos and you can start playing your own by specifying the "spherical_stereo_mode" parameter in the sample list or providing an extra with the same name to the PlayerActivity.

If that question is about something else, please clarify.

[2019-07-03 15:57] tonihei commented on #6125
You should still be able to set the maximum bitrate. For example, if your user select "720p" from the UI, you can set the maximum to video height to 720, or if you worry about slightly different sizes, you could set it 800 or something like that. If you additionally want to prevent switching down automatically, you can also set the `forceHighestSupportedBitrate` option to `true`.

[2019-07-03 16:01] tonihei commented on #6114
Using `DefaultDataSource`, as described in our [Hello World example](https://exoplayer.dev/hello-world.html#preparing-the-player), already handles file URIs automatically.

[2019-07-03 16:03] tonihei commented on #6123
Am I right in assuming this question has been solved? Closing under this assumption. Feel free to reopen if that's not the case.

[2019-07-03 16:03] #6123 closed, assigned to ojw28

[2019-07-03 16:05] tonihei commented on #6124
Can you please fill out the required sections for the [content not playing template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md)? Especially reproduction steps, example media, devices, etc. are helpful to understand and reproduce the problem.

[2019-07-03 16:09] tonihei commented on #5883
Closing, because the question was answered in detail.

[2019-07-03 16:09] #5883 closed, assigned to tonihei

[2019-07-03 16:11] tonihei commented on #6010
Closing because the question was probably answered.

[2019-07-03 16:11] #6010 closed, assigned to tonihei

[2019-07-03 16:13] tonihei commented on #6011
Creating customized UI elements is out of scope for this issue tracker. It's best to ask such question on StackOverflow or similar sites. If you think that ExoPlayer can't supported a type of custom UI following the guidelines above, please let us know.

[2019-07-03 16:13] #6011 closed, assigned to tonihei

[2019-07-03 16:13] tonihei commented on #6013
Closing because the question was probably answered.

[2019-07-03 16:13] #6013 closed, assigned to tonihei

[2019-07-03 16:14] tonihei commented on #6028
Closing because the question was probably answered.

[2019-07-03 16:14] #6028 closed, assigned to tonihei

[2019-07-03 16:46] peapea27566 commented on #6114
you Have enough  a sample code for me

[2019-07-03 16:50] greyski commented on #6123
~Just closing the loop on this for other peeps reading this. In order to achieve this "theme" support for you need to add the `surface_type`s you want into your app's `attrs.xml` (copied from ExoPlayer demo app):~
If your app has it's themes in an isolated module that doesn't import the ExoPlayer library, you'll need to copy the attributes from the lib source (probably not a great idea, but it wor

[2019-07-03 16:57] tonihei commented on #6117
Thanks for reporting. I can reproduce in our demo app and will investigate.

[2019-07-03 17:02] ojw28 commented on #6123
When I tried this I was just able to do the second part directly. Are you sure the first part is necessary? Note that the demo app is also able to do this without having to do anything in `attrs.xml` (https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/res/values/styles.xml#L27).

[2019-07-03 17:14] greyski commented on #6123
@ojw28 Good catch, this is related to our own project's module structure (our app's base `styles.xml` are in a module that doesn't import the ExoPlayer library). I updated my above comment to reflect this.

[2019-07-03 19:51] kvillnv commented on #5730
We were able to confirm it was not an exoplayer bug.

[2019-07-03 19:51] #5730 closed, assigned to fredgc, kvillnv

[2019-07-03 22:16] coveroid commented on #6125
Thanks for your answer, I think, i understand how you see things but it
doesnt work like I would want to :

Video A 360 480 720
Video B  180, 520

Lets say user choose on video À the 480 version, and after he decides to
choose the video B, with what you suggest me (480 max +highest) ,he's gonna
get the video b on 180, and i would like he gets the closest one of 480 so
the 520 version of video B.

[2019-07-04 01:34] lion4509 commented on #6124
[REQUIRED] Content description
The content is multicast. It includes an audio track but another audio track is added during playback (DVS: Descriptive Video Service).

[REQUIRED] Link to test content
https://drive.google.com/open?id=1zy7-BlhgcVBdcI0Tlbo0FwC_Qo27kvO5
As I explained, extra audio track is added during playback at 4:45 but can not detect the audio track. I tested it also on ExoPlayer

[2019-07-04 07:15] RussMist commented on #5935
Also face with this error on Huawei 8X (android 9.0) with a MediaCodec decoder.

[2019-07-04 08:34] chanbbong opened #6127 "How do I download HLS file with cookies?"
I play HLS file with the cookie using getDefaultRequestProperties().
but If I download HLS file with cookies using DownloadManager, DownloadTracker, DownloadService, getDefaultRequestProperties, I will get 403 error.

`Failed to start download
    com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 403`

[2019-07-04 10:35] VladimirCores opened #6128 "Widevine DRM InvalidResponseCodeException: Response code: 404"
### Searched documentation and issues
I was looking to the ExoPlayer documentations and on GitHub's issues.

### Introduction
The problem occurs on a custom made device, which name I can't tell (and I can't tell you if it is certified or not), the device run Android 9, it's new stick device. ExoPlayer version 2.9.6. We play content with Widevine’s DRM solution and it works on every other "producti

[2019-07-04 10:59] kgrevehagen commented on #4188
@erdemguven Are there any progress or ETA on this? I'm very interested in getting this functionality.

[2019-07-04 11:02] kgrevehagen commented on #6076
@marcbaechinger Is this a duplicate of 4188? If yes, do you have any status or ETA on when this will be implemented?

[2019-07-04 11:39] kgrevehagen commented on #5399
@ojw28 Will DRM refactoring also fix #2394 and #5619 ?
Any news(or tickets or description) on the status of this refactoring project? I understand that you can't give any dates or anything, but e.g. will it happen this year or is that not doable at all?

Would love to know that so I can decide whether or not to try to implement a temp solution or if I should wait for you.

Thanks in advance!

[2019-07-04 11:57] tonihei commented on #5399
@kgrevehagen
Both issues will hopefully be addressed by the refactoring. We are actively working on it, but can't give any concrete release dates.

[2019-07-04 12:11] ojw28 commented on #6128
@rrfrias - Any idea why a provisioning request to `https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create?key=xxx` would 404? Is that the expected format for a provisioning URL obtained from `ProvisionRequest.getDefaultUrl()`?

Note that before the request is made, we'll append `&signedRequest=Util.fromUtf8Bytes(request.getData())`. The request will be a `POST` with an emp

[2019-07-04 12:23] AlinaVoronkovaEpam opened #6129 "ExoPlayer doesn't download DRM assets"
### Issue description
I updated ExoPlayer from 2.9.3 ver. to 2.10.2 ver.
Previously with ExoPlayer 2.9.3, I was able to download DRM content (DRM license is also downloaded to play DRM content).
After the update, no audio/video tracks for downloading is seen in TrackSelectionDialog.

### Reproduction steps
- Open demo app
- Put **Asset** to `media.exolist.json`
- Try to download the asset

#### Ob

[2019-07-04 12:36] tonihei commented on #6114
I already linked an example above.

[2019-07-04 12:48] tonihei commented on #6124
@AquilesCanta Can you look at the example and check if that's a valid use case? If so, we should probably mark as an enhancement.

[2019-07-04 13:09] tonihei commented on #6125
You can always switch quality after the stream has been created with setting an `SelectionOverride` to the `DefaultTrackSelector` parameters. But that will cause a reload at the current position and I assume you are looking for a way to immediately start with the correct formats.

There is an open enhancement for the option to filter formats dynamically without affecting playback (tracked by #5082

[2019-07-04 13:12] tipoc123 opened #6130 "HLS init segment loads are not reported to MediaSourceEventListener"
### [REQUIRED] Issue description
Exoplayer tries lo load chunk by url `/vod/78/video_78.mp4` instead of `video_78.mp4?expires=1562330914&md5=4LMrqMnsIj99n8grOu1C3w` (as stated in playlist) and as a result gets 403 Forbidden.

Also see the next difference (correct uri in onLoadStarted, incorrect - in DefaultHttpDataSource's open):
[code]

### [REQUIRED] Reproduction steps
Play content protected by

[2019-07-04 13:15] tonihei commented on #6127
I'm not entirely sure I understand the full issue, but I assume you are setting a cookie for the HTTP connection by using `DefaultHttpDataSource.Factory.setDefaultRequestProperty`.

This should work in the same way for downloading. You can specify the upstream (HTTP) data source factory  when creating the `DownloadManager` (as shown on [this page](https://exoplayer.dev/downloading-media.html#creat

[2019-07-04 13:17] tipoc123 commented on #6130
Example playlist (located at http://mw.iptv/vod/78/stream_1.m3u8?expires=1562330914&md5=cQ7YiHghCza6QB8ZZmWQFA):

[example_playlist.txt](https://github.com/google/ExoPlayer/files/3359402/example_playlist.txt).

Real file extension m3u8

[2019-07-04 13:17] VladimirCores commented on #6128
Hi @ojw28, thank you for the quick response. Of course, we include `&signedRequest=Util.fromUtf8Bytes(request.getData())` into the url, we use the same code as in the example app, if you need `equest.getData()` I will provide it for you. And as I said it works for Sony 4K TV (Android 7) without any modifications with Widevine and DASH.

[2019-07-04 13:18] noamtamim commented on #5804
Hi @AquilesCanta / @ojw28. Two months later, is there an ETA for Widevine CAS support?

[2019-07-04 13:35] QuaQuaAndroid commented on #6126
@tonihei : Thanks for the update. I'm playing 360 videos using "spherical_view".
All I need is to add a VR button to the Player, by clicking on it VR mode should be enabled to the User.
Can you please help me out with this requirement.?

[2019-07-04 13:38] VladimirCores commented on #6128
I would like to mention this comment on #4772 (Widevine provisioning failing on Android 9 Pixel 2 device) from @fredgc

from https://github.com/google/ExoPlayer/issues/4772#issuecomment-420814731

[2019-07-04 13:38] QuaQuaAndroid opened #6131 "How to add full screen mode button to ExoPlayer, by clicking it should enable full screen mode(change orientation like YouTube)"
How to add full screen mode button to ExoPlayer, by clicking it should enable full screen mode(change orientation like YouTube).
Portrait to Landscape and Vice-versa.

[2019-07-04 13:51] #6120 closed, assigned to tonihei

[2019-07-04 13:52] tonihei commented on #6129
I think there are two issues in the code above:

1.
[code]
This code downloads the track selected by default for the given renderer. That means, the bitrate check you do above doesn't make a difference at all. If you want to select a very specific track which is not based on the parameters, you need to set an `SelectionOverride` in the last parameter.

2. The default track selected by the code is

[2019-07-04 13:59] Hardyal-s opened #6132 "Error inflating class com.google.android.exoplayer2.ui.PlayerView"
### [REQUIRED] Issue description
Hello,

I am using following code:

Layout:

[code]

Kotlin code (Inside Fragment):

[code]
I am getting following error.

### [REQUIRED] Reproduction steps
Launch the app and open the selected fragment. Play the video, crash appears.

### [REQUIRED] Link to test content
URL: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4

### [RE

[2019-07-04 14:02] mathemandy commented on #6046
After several iterations and thoughts i noticed since it was an HLS file every segment requires it own key. Passing the same key used for downloading the file for the segments (which was what was happening earlier when i tried to set my custom cacheKey) made it loop on buffering.

I was able to solve this by making different keys for all the Segments as they had their own URI's

[2019-07-04 14:02] #6046 closed, assigned to marcbaechinger

[2019-07-04 14:25] tonihei commented on #6130
ExoPlayer is not actually removing any query parts. The load you are seeing is the load for initialization data as specified in the EXT-X-MAP tag:
[code]

What's wrong here is that the event listener receives the `onLoadStarted` for the following media chunk load already, although the initialization data is loaded first. The load for the initialization data doesn't issue any events at all. The mos

[2019-07-04 15:11] AlinaVoronkovaEpam commented on #6129
@tonihei many thanks for the quick answer! it works for me.

[2019-07-04 15:33] #6129 closed, assigned to tonihei

[2019-07-04 16:01] tonihei commented on #6132
Adding similar code to an example Kotlin project works fine for me. I'd suggest to rebuild your app and maybe also to invalidate Android Studio caches. That often helps for such problems.

[2019-07-04 16:12] tonihei commented on #6126
What do you mean by enabling it? A video with 360° looks rather strange if you don't use the spherical_view - so you always need to enable it by default for such videos.

There is the option to set different stereo modes (mono, top/bottom, left/right) as [shown in our demo app](https://github.com/google/ExoPlayer/blob/1ab402cf27ab3c52d671ef15b25a1cdde1fe84c8/demos/main/src/main/java/com/google/and

[2019-07-04 16:14] tonihei commented on #6131
Duplicate of #1845.  There unfortunately no easy way to implement such a button for all Android devices.

[2019-07-04 16:14] #6131 closed, assigned to tonihei

[2019-07-04 16:31] tonihei commented on #6122
It's slightly difficult to say what's happening without the option to step through the code.

Did you implement exactly the same code as in #5193? Including the AesCipherDataSink with the default buffer parameter?

[2019-07-04 18:37] kvillnv opened #6133 "CEA608 Closed Caption special characters are printed twice"
### [REQUIRED] Content description
Exoplayer has trouble with special characters in embeded CEA608 text track with Dash stream or .ts file.
Tested with exoplayer-demo with all default parameters.
**Issue:** Characters contained into exoplayer's `CEA608Decoder.SPECIAL_CHARACTER_SET` are printed in double
We are playing french content and observed the issue on all the Special characters we could tes

[2019-07-04 21:13] tipoc123 opened #6134 "Exoplayer doesn't play Widevine HLS (no errors, no callbacks, only black screen)"
### [REQUIRED] Issue description
Exoplayer doesn't play Widevine HLS content (Axinom DRM). It shows only a black screen.

There are no errors in logcat. None of drm callbacks (onDrmSessionAcquired, onDrmSessionManagerError, onDrmKeysRestored, onDrmKeysRemoved, onDrmKeysLoaded, onDrmSessionReleased) are called (only onLoadStarted and onLoadCompleted).

The same content as Widevine DASH works fine.

[2019-07-04 21:15] tipoc123 commented on #6134
I can send you mp4 files if you need it.

[2019-07-05 01:01] #6023 closed, assigned to marcbaechinger

[2019-07-05 02:02] chanbbong commented on #6127
I'm sorry. I was too dependent on demo.
I need to create flow to init DownloadManager after cookie is loaded.
thanks.

[2019-07-05 02:02] #6127 closed, assigned to tonihei

[2019-07-05 03:38] talhatariq commented on #6129
thanks for what

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Alina <notifications@github.com> Date: 04/07/2019  8:12 p.m.  (GMT+05:00) To: google/ExoPlayer <ExoPlayer@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [google/ExoPlayer] ExoPlayer doesn't download DRM assets (#6129)
@tonihei many thanks for the quick answer! it works

[2019-07-05 04:00] bhaskarraj commented on #6062
Thanks @ojw28 like you said earlier the problem was in the server section. Now it's working fine.

[2019-07-05 04:00] #6062 closed, assigned to ojw28

[2019-07-05 04:47] Hardyal-s commented on #6132
I got this crash in fabric crashlytics report from the production build which is live on Google play store. I don't have Pixel/Pixel 2 device to test this but i tried on Pixel 2 emulator and many other devices with android version 6,7,8,9. But i am not able to reproduce this crash at my end.

[2019-07-05 07:16] JJSarrasin opened #6135 "Using Android keystore with Widevine DRM"
### Searched documentation and issues
I've searched in the closed issues, documentation and in the source code / Google / Stackoverflow..

### Question
Our backend must use mutual authentication through a PKCS12 certificate. I'm doing this with the following lines of code. It's working great for all OkHttp requests (through retrofit)
`val isP12 = context.resources.openRawResource(R.raw.my_cert)

[2019-07-05 07:51] tonihei commented on #6132
That's hard to debug if it can't be reproduced. Is that an issue occurring often or just a rare incident? In any case, there is not much we can do and it also sounds like a generic Android problem with resource management rather than an ExoPlayer problem.

[2019-07-05 08:32] marcbaechinger commented on #6076
Closing this due to duplicate #4188

[2019-07-05 08:32] #6076 closed, assigned to marcbaechinger

[2019-07-05 08:33] marcbaechinger commented on #4188
Sorry, we don't have an ETA for this right now.

[2019-07-05 09:03] tonihei commented on #6133
Ça alors, c'est pas croyable :)

We'll provide a fix for that. The special control character gets repeated, but we don't check for repeated characters after handling it. So it's basically just a wrong execution order.

[2019-07-05 09:35] tonihei commented on #6117
We'll push a fix soon. It was basically a very severe rounding error.

[2019-07-05 09:46] GaureeshAnvekar opened #6136 "How does the decoding take place inside exoplayer?"
Is there a codec algorithm implemented inside exoplayer library? I need to access the decoded frames along with metadata like "syntax elements" for H264.

### [REQUIRED] Searched documentation and issues
I have already gone through the exoplayer official documentation. But scarce information is available.

### [REQUIRED] Question
I need to access the "Syntax elements" and decoded frames and perfor

[2019-07-05 10:06] waakobrian commented on #6023
Solved by allowing clear text traffic in manifest.

[code]

[2019-07-05 10:31] dbrain commented on #5902
I've been digging a bit. This seems to be occurring when `ImaAdsLoader.onPositionDiscontinuity` is called (via `ExoPlayerImpl.seekTo` `notifyListeners` call) before `ImaAdsLoader.onTimelineChanged`. In this scenario `ImaAdsLoader.onPositionDiscontinuity` tries to `getPeriod` from the `ImaAdsLoader.timeline` which is null throwing an exception and preventing other listeners receiving the `onPositio

[2019-07-05 10:50] tonihei commented on #5902
Seems related to #5831 which is also caused by seeking before the first ad event arrives.

[2019-07-05 10:56] tonihei commented on #6136
The decoding itself is forwarded to the Android platform `MediaCodec` classes.

If you are aiming to modify the decoded frames (e.g. to apply effects), please read the comments in this issue: https://github.com/google/ExoPlayer/issues/5860#issuecomment-491347115.

It's probably difficult to obtain the "syntax elements" though. What are you trying to achieve with that?

[2019-07-05 11:47] andrewlewis commented on #6136
Just a note about accessing syntax elements: although this is not really something we intend to support, you may find the utility methods in [`NalUnitUtil`](https://github.com/google/ExoPlayer/blob/e25b7d2/library/core/src/main/java/com/google/android/exoplayer2/util/NalUnitUtil.java) and/or [`ParsableNalUnitBitArray`](https://github.com/google/ExoPlayer/blob/e25b7d2148caabe0db75d541662eb99df3ed80

[2019-07-05 12:32] dbrain commented on #5902
Definitely seems related. The fix over there to change the order of listeners likely changed the behaviour for us in this scenario.

That being said the issue (NPE) presented itself in earlier versions, it just never effected the operation of the player in any noticeable way until 2.10.

I'll dig into it a bit more over the next few days. Unsure if our seek call on content resume is timed incorrec

[2019-07-05 12:52] tonihei commented on #6134
It sounds as if the key requests are not working for the Axinom servers for some reason. There are currently no callback events telling you that. This is tracked by #5399 and may be the reason why you don't see any events related to that.

If you can provide us with a working example (you can send it to dev.exoplayer@gmail.com), we can take a look and verify if that's the issue. Otherwise, you can

[2019-07-05 13:44] annetube commented on #6125
Tanks for your answer, i'm gonna finally mix your approach with mine. To do that i'm using the player listener when video is resize with a boolean. its probably not clear for you but the only thing missing is to be able to set this boolean  when a bitrate is selected from dialog :
but the onclick method always return me -1

I need this boolean on the player Activity, so i tried to override the int

[2019-07-05 14:14] tipoc123 commented on #6134
I've logged invokes of `executeKeyRequest` and `executeProvisionRequest` (methods in `HttpMediaDrmCallback`).
1) Widevine DASH - there are `executeKeyRequest` calls
2) Widevine HLS - there are NO `executeKeyRequest` calls

What else should I log?

[2019-07-05 14:24] tonihei commented on #6134
Looking at the provided HLS playlist, it seems to me that is does not contain any #EXT-X-KEY tag to define the initialization vector. You need to add this to support encryption.

[2019-07-05 14:27] tonihei commented on #6125
Is this still related to the original issue? I can't really follow what the problem actually is.

[2019-07-05 14:40] tipoc123 commented on #6134
You can see #EXT-X-KEY in `stream_0.m3u8` and `stream_1.m3u8` files.

[2019-07-05 14:43] coveroid commented on #6125
It's a bit related, the code I showed is the code of a onclick button from
my player activity.

I need to change the quality from the player activity not from
TrackSelectiondialog

I tried to implement the onclick interface of the TrackSelectiondialog
inside the player activity (on my onclick button)

But the int "which" of this interface implementation, return - 1, so when i
tried to switch to th

[2019-07-05 14:47] tonihei commented on #6134
Sorry, you're right. I was looking at the wrong place.

Could that be related to the issue in #6130? If the initialization segments don't load, the player will never reach the point where it tries to make the key requests.

[2019-07-05 14:48] tipoc123 commented on #6134
No, we've already resolved that issue :)

[2019-07-05 14:49] tipoc123 commented on #6130
Thanks! Now it's working.

[2019-07-05 14:50] tonihei commented on #6130
Great! I'll keep the issue open to fix the wrong reporting.

[2019-07-05 14:55] tonihei commented on #6135
You can specify a `MediaDrmCallback` when creating your `DefaultDrmSessionManager`. This callback allows you to execute the request however you want. You should probably use a `HttpMediaDrmCallback` and use your customized `DataSource` in there. That is assuming your special authentication is handled in a `DataSource`.

[2019-07-05 15:00] tonihei commented on #6134
Is it at all possible to get a publicly accessible example? There could be many issues which are difficult to see without actually stepping through the code ourselves.

[2019-07-05 15:03] tipoc123 commented on #6134
I've sent you an email.

[2019-07-05 15:05] tonihei commented on #6125
If that is the `TrackSelectionDialog` of our demo app, please have a look at [how we handle track selection during playback in there](https://github.com/google/ExoPlayer/blob/1ab402cf27ab3c52d671ef15b25a1cdde1fe84c8/demos/main/src/main/java/com/google/android/exoplayer2/demo/TrackSelectionDialog.java#L98).

The `which` argument is the button being clicked and `-1` is the value for `DialogInterface

[2019-07-05 15:06] kvillnv commented on #6133
Merci!

[2019-07-05 15:55] tipoc123 commented on #2014
It's not working for me. I'm using MODE_SINGLE_PMT in DefaultHlsExtractorFactory and removed code  from HlsSampleStreamWrapper (as stated in [3919843](https://github.com/google/ExoPlayer/commit/3919843db27c78dc04ec498087182058393cced0))

Logcat errors:
[code]
Additional info about my stream in https://github.com/google/ExoPlayer/issues/6101

Now I'm using sources of exoplayer 2.10.2

[2019-07-05 16:16] schyau commented on #6117
you are amazing!  thanks for the quick turnaround :)

[2019-07-05 16:19] tonihei commented on #6134
I managed to play both the provided DASH and HLS streams without any issues. In both cases I used the same drm configuration as discusses in the email thread. Given that it works fine in the ExoPlayer demo app, it's probably an app issue of some sort.

[2019-07-05 16:23] tipoc123 commented on #6134
OK. I'll try again later and give you an answer.

[2019-07-05 16:39] #6117 closed, assigned to tonihei

[2019-07-05 17:36] maskedpatel commented on #6122
Nope we didn't use data sinks yet. We wanted to implement just the data source portion initially since we are operating under multiple clients (web, ios, android) and their encryptors are already implemented.
The weird thing is that the decryption process works for smaller than 5 MB files (without cache fragmentation) which leads me to believe this is data sink independent. Anything greater than 5

[2019-07-05 17:40] tipoc123 commented on #6134
Now it's working. The problem was in our playlist.

[2019-07-05 17:40] #6134 closed, assigned to tonihei

[2019-07-06 11:16] dbrain commented on #5902
So I think the issue is `CONTENT_RESUME_REQUESTED` is sometimes firing near instantly (before `onTimelineChanged` has fired) which is triggering our `seekTo` and triggering `ImaAdsLoader.onPositionDiscontinuity()` before it has a timeline causing an NPE.

I'm pretty sure I can remove our code triggering the `seekTo`, which should prevent this issue for us. It was originally added as we showed some

[2019-07-06 13:29] wsw2435 opened #6137 "Facing issue of auto-switching segment (720p->360p) as adaptive streaming on DASH"
**Edit**: I tried for a few days already, I am curious that, am I using a wrong way to lead the video to drop as 240p? Since no matter how I modified the codes, it still doesn't work.
**Should I set Bandwidth Control to my player phone as 1Mbps by Router** as the testing way to lead my live video to 240p?

p.s. I am a beginner of app developing and video stream, I'd highly appreciate your kind gui

[2019-07-07 01:00] #6034 closed, assigned to tonihei

[2019-07-07 09:19] peapea27566 opened #6138 "ExoPlayer : Can play video error not foud flie !! if play video Error got to next video from array"
Help me plz

i can play video to Exoplayer  if video now play error  got play next video soon??
Video play list from Array  can play to SDCard

Can i Exoplayer

[2019-07-07 14:29] coveroid commented on #6125
Thanks for your support, I've been able to do what I wanted,

Le sam. 6 juil. 2019 à 00:36, tonihei <notifications@github.com> a écrit :

[2019-07-07 17:22] umangsaini commented on #6137
Can you try creating the player without DefaultLoadControl. You are using one of the deprecated constructors for the same, which may be causing the described ABR behavior.

[2019-07-07 17:40] wsw2435 commented on #6137
Thank you for your advice! I have tried the replacement of this deprecated DefaultLoadControl, however, it still cannot adopt the stream. Below is my replacement code, I would be so grateful if a suggestion or mistake pointing-out would be given for fixing it.

[code]

[2019-07-08 00:39] umangsaini commented on #6137
Use DEFAULT_BUFFER_SEGMENT_SIZE instead of DEFAULT_VIDEO_BUFFER_SIZE for the allocator.

`DefaultAllocator defaultAllocator = new DefaultAllocator(true, C.DEFAULT_BUFFER_SEGMENT_SIZE);`

You were giving very large value to the allocator at [link](https://github.com/MayurSolanki/AdaptiveStreamingExoplayer/blob/d02dd0a979ebcb087d90cf35962db8c57962b51c/app/src/main/java/com/adaptive/exoplayer/MainAct

[2019-07-08 01:29] lion4509 commented on #6124
@AquilesCanta Do you have any update on this?

[2019-07-08 02:24] wsw2435 commented on #6137
Thank you for your further suggestion! I changed the parameter for the allocator as you mentioned, however, the player still stuck at 720p no matter I use my router to limit the bandwidth of my player mobile as 300or500kbps. I am so helpless in this situation.

[2019-07-08 03:27] umangsaini commented on #6137
Can you also try without attaching your own LoadAllocator. Create player

`player = ExoPlayerFactory.newSimpleInstance(MainActivity.this, renderersFactory, trackSelector);`

Also try playing some other HLS. Example - [Apple Basic 4x3](https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_4x3/bipbop_4x3_variant.m3u8) (also part of Demo Player playlist)

Is the player going into buffer

[2019-07-08 04:40] jyiu-harmonicinc commented on #4904
Hi @ojw28

When playing CMAF close to live edge, segments will be downloaded when it's not complete.
Therefore, time to download whole segment is likely to be duration of segment.

This makes defaultDandwidthMeter underestimate bandwidth as it's estimation logic is (segment size) / (elapsed time), and eventually exoplayer will drop video quality.

Do you have any plan to implement bandwidth estima

[2019-07-08 08:19] tonihei commented on #6137
As @umangsaini alrady pointed out, it would be helpful to see the output of the EventLogger. Especially, the list of available track groups.

Your code setup looks more or less right as far as I can see. Please note that if you use default parameters for everything, you can often just leave out the configuration. For example the LoadControl parameter is not needed at all, because the default looks

[2019-07-08 08:20] Jenjen1324 commented on #2014
@tipoc123 I created a fork which supports this. It's based on release-v2 and doesn't require any special MODE_ etc.

It's on branch hls-multi-track: https://github.com/Jenjen1324/ExoPlayer/tree/hls-multi-track

[2019-07-08 08:21] tonihei commented on #4904
We'll look into supporting low-latency live streaming techniques soon. The problem you mention is one of things that need to be solved. We'll post this issue once we have better support for low-latency DASH streams.

[2019-07-08 08:26] #6125 closed, assigned to tonihei

[2019-07-08 08:47] tonihei commented on #6122
As far as I know, using the AesCipherDataSink is required to get that to work correctly. If you want to decrypt the file when reading, you also need to encrypt it in a consistent way when writing it to disk.

I'm slightly confused about the setup though, because you write that "encryptors are already implemented". Can you explain in more detail how you write the data to the cache?

[2019-07-08 08:57] JJSarrasin commented on #6135
Thanks tonihei for pointing the direction. I could use the OkHttpDataSourceFactory instead of the default one. Here is a quick example of DrmSessionManager generation for people who might be interested :

`private fun buildDrmSessionManagerV18(uuid: UUID, licenseUrl: String, multiSession: Boolean): DefaultDrmSessionManager<FrameworkMediaCrypto> {
        val licenseDataSourceFactory = OkHttpDataSo

[2019-07-08 08:57] #6135 closed, assigned to tonihei

[2019-07-08 09:06] bene25 commented on #2014
@tipoc123
1) TsExtractor.java
change
`int trackId = mode == MODE_HLS ? streamType : elementaryPid;
`
to
`int trackId = elementaryPid;`

2) DefaultHlsExtractorFactory.java
change
`muxedCaptionFormats = Collections.emptyList();`
to
[code]

3) HlsMediaChunk.java
change
`    output.init(uid, shouldSpliceIn, reusingExtractor);
`
to
`    output.init(uid, shouldSpliceIn);
`
4) HlsSampleStreamWrapper.java

[2019-07-08 09:21] EasonLiu09 opened #6139 "Exoplayer on android Q"
### [REQUIRED] Issue description
Play system music folder's file will cause exoplayer NotFindFileException [permission denied],
but I already granted the permission at runtime both read and write permission.

compileSdkVersion 29
targetSdkVersion 29

### [REQUIRED] Reproduction steps

Path that cause this problem : /storage/emulated/0/Music/[FileName]

`

    private fun play(path: String) {

[2019-07-08 09:31] tonihei commented on #6139
That's a duplicate of #6039. Android Q no longer allows direct access to random files.

[2019-07-08 09:31] #6139 closed, assigned to tonihei

[2019-07-08 09:36] EasonLiu09 commented on #6139
Thanks!!

[2019-07-08 11:59] sharish opened #6140 "DefaultDrmSessionManager and OfflineLicenseHelper does a DRM leak"
This is more of a code review than an issue where `FrameworkMediaDrm` getting initialized through static factory methods  does not have a way to release the MediaDrm.

https://github.com/google/ExoPlayer/blob/1ab402cf27ab3c52d671ef15b25a1cdde1fe84c8/library/core/src/main/java/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.java#L161

https://github.com/google/ExoPlayer/blob/1ab402cf27ab

[2019-07-08 12:01] ojw28 commented on #6140
Duplicate of https://github.com/google/ExoPlayer/issues/4721

[2019-07-08 12:01] #6140 closed, assigned to ojw28

[2019-07-08 12:06] ojw28 commented on #4721
@AquilesCanta - It would be good to get this fixed. See the issue duped above for a bit more information on why.

[2019-07-08 12:30] surajsau opened #6141 "Error code in android.media.MediaCodec$CodecException"
### [REQUIRED] Searched documentation and issues
I've tried figuring out the error code received from the native code :
[dequeueOutputBuffer](https://android.googlesource.com/platform/frameworks/av/+/jb-mr0-release/media/libstagefright/MediaCodec.cpp#261) which then calls [postAndAwaitResponse](https://android.googlesource.com/platform/frameworks/av/+/master/media/libstagefright/foundation/AMessag

[2019-07-08 12:57] tipoc123 commented on #2014
Thank you, guys.

I've tried this commit https://github.com/Jenjen1324/ExoPlayer/commit/f8d0f5e9ab8674d3c6d40044d9342bef0bdccddf . It's working.

[2019-07-08 12:58] andrewlewis commented on #6141
I could be wrong but I think the place to look for these error codes is [MediaErrors.h](https://android.googlesource.com/platform/frameworks/av/+/refs/heads/master/media/libstagefright/include/media/stagefright/MediaErrors.h) and the files it refers to. Unfortunately this looks like a generic unknown error. When seeing a codec exception, there is often some logging earlier in logcat that provides

[2019-07-08 13:41] ojw28 commented on #6138
Please completely fill out the [bug report](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) or [content not playing](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=content+not+playing%2C+needs+triage&template=content_not_playing.md&title=) template for us to take a look. Please post the filled out template below, rather

[2019-07-08 14:36] wsw2435 commented on #6137
[debugLog.txt](https://github.com/google/ExoPlayer/files/3368857/debugLog.txt)
Brothers, would you mind taking a look at my debug log? I tried but I don't know where is the bug. Btw, I saw that "Renderer:0 [       Group:0, **adaptive_supported=N/A**", is it related? Thank you.

Enviorment = LG V20 mobile, Android 8.0 (SDK26), 1mbps wifi

[2019-07-08 14:51] tonihei commented on #6137
That's the reason actually - The two formats don't seem to be in the same DASH adaptation set. That's why ExoPlayer can't switch between them.

[2019-07-08 15:31] wsw2435 commented on #6137
Is the issue caused by my setup of the DASH playback (mpd file)? here is the file.
[manifes.txt](https://github.com/google/ExoPlayer/files/3369103/manifes.txt)

[2019-07-08 16:04] #5397 closed, assigned to andrewlewis

[2019-07-08 16:23] tonihei commented on #6137
Yes, exactly. It has two adaptation sets for the video formats. You either need to put both representations into one adaptation set or specify the "urn:mpeg:dash:adaptation-set-switching:2016" property to specify the other adaptation set ids to allow switching.

[2019-07-08 16:34] satyres opened #6142 "Is it possible to convert TS files to MP3 using Exoplayer ?"
Hi
i've been looking for a solution to play local TS files but it seems not possible.
is there a way to convert an Audio TS file to MP3 using Exoplayer or any external library ?
Regards

[2019-07-08 16:34] wsw2435 commented on #6137
May I ask, where should I set this value? I am so confused after seeing a few posts on Google about DASH-IF.
p.s. i am using Wowza Stream Engine as my stream server, not using self-built server.

[2019-07-08 16:54] maskedpatel commented on #6122
Sure. We use the same underlying algorithm that the AesCipherDataSink uses in its cipher (AES, CTR, No padding) and the same libraries for encrypting the files.
On our android client we receive the URI for the remote encrypted file, then we use our overridden implementations of exoplayer's DownloadManager/DownloadService to retrieve the remote file via URI and store it into an instance of exoplaye

[2019-07-08 16:54] ojw28 commented on #6142
* ExoPlayer doesn't support transcoding from one format to another.
* ExoPlayer does support playback of TS files, although it's also necessary for the contained sample formats to be supported. Please see the [supported formats page](https://exoplayer.dev/supported-formats.html) for more information.

[2019-07-08 17:45] satyres commented on #6142
Thanks so much for your answer @ojw28
i have a TS file and i've tried to make play using Exoplayer but it doesn't work
but it works on VLC.
is there any way  FLAG or something i need to do to make it work ?
this is the logcat :

 com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header.
        at com.google.android.exoplayer2.source.hls.p

[2019-07-08 18:33] ojw28 commented on #6142
You need to use `ProgressiveMediaSource` to play a TS stream, not `HlsMediaSource`. Please note that you can simply add your TS stream to the demo app as per [these instructions](https://exoplayer.dev/demo-application.html), and then take a look at the code to see how it's done.

[2019-07-08 18:33] #6142 closed, assigned to ojw28

[2019-07-08 18:34] #6137 closed, assigned to tonihei

[2019-07-08 18:36] ojw28 commented on #6132
Closing because this does not appear to be an ExoPlayer problem.

[2019-07-08 18:36] #6132 closed, assigned to tonihei

[2019-07-08 18:39] #6114 closed, assigned to tonihei

[2019-07-08 18:39] #6095 closed, assigned to ojw28

[2019-07-08 18:44] #6133 closed, assigned to tonihei

[2019-07-08 18:54] satyres commented on #6142
Thanks @ojw28 .
it's not an online stream ,it's  local file that i want to play using Exoplayer.
do i need to use ProgressiveMediaSource ?
Regards

[2019-07-08 18:55] ojw28 commented on #6142
Yes

[2019-07-08 19:12] satyres commented on #6142
Excellent i' ve been able to play it using the 2.9.6 using ExtractorMediaSource
and it's working but i cannot jump from time to time and the total play time showing 00:00
but it's working fine
do i need to upgrade to 2.10.2 ?
Any way thanks so much.
Regards

[2019-07-08 19:25] AfanasievAnton opened #6143 "Correct order of tracks related events"
### [REQUIRED] Searched documentation and issues
Source code + Issues

### [REQUIRED] Question
Is there any possible scenario where onDownstreamFormatChanged() triggered before onTracksChanged() ? We are using exo 2.4.1 and we have some wrappers around this events. Also we kind of "rely" on the order this events dispatched (first onTracksChanged then onDownstreamFormatChanged)
Just want to know if

[2019-07-09 00:23] Sahil333 opened #6144 "TrackSelectionDialog shows all tracks as disabled when trying to download the clearkey protected content in demo app"
### [REQUIRED] Searched documentation and issues
I looked [here](https://exoplayer.dev/downloading-media.html) and followed this [issue](https://github.com/google/ExoPlayer/issues/2643) as well. In the issue someone [mentioned ](https://github.com/google/ExoPlayer/issues/2643#issuecomment-392518392) that he was able to download the content but I can't get it how.

### [REQUIRED] Question
I have be

[2019-07-09 01:00] #6025 closed, assigned to ojw28

[2019-07-09 04:06] wsw2435 opened #6145 "Is there a single API which provides information like this "HEVC 1080p 24fps 10Mbps""
### [REQUIRED] Searched documentation and issues
I searched something like DebugTextViewHelper, bitrate information getting by passing BandwidthMeter. However, it is quite bothered to embed a text view for below-mentioned parameters. So, I hope I could find a single tool to shows information like DebugTextViewHelper.

### [REQUIRED] Question
Is there a single API which provides information (encode

[2019-07-09 05:17] drayan85 opened #6146 "DownloadHelperTest Failed"
### [REQUIRED] Issue description
When I try to run ExoPlayer library core test cases keep failing

### [REQUIRED] Reproduction steps
When try to Run `DownloadHelperTest.java` is keep failing

### [REQUIRED] Link to test content
N/A

### [REQUIRED] A full bug report captured from the device
[code]

### [REQUIRED] Version of ExoPlayer being used
### 2.10.2 ###

### [REQUIRED] Device(s) and version(s

[2019-07-09 07:06] namnh-0652 commented on #5786
Any update on this, I have the same issue.

[2019-07-09 07:12] #6145 closed, assigned to nobody

[2019-07-09 07:14] wsw2435 opened #6147 "Is there a single API which provides information like this "HEVC 1080p 24fps 10Mbps"?"
**Searched**
I searched something like DebugTextViewHelper, bitrate information getting by passing BandwidthMeter. However, it is quite bothered to embed a text view for below-mentioned parameters as a beginner. So, I hope I could find a single tool to show information the way like DebugTextViewHelper.

**Question**
Is there a single API which provides information (encodec, resolution, fps, bitrat

[2019-07-09 07:23] ojw28 commented on #6078
Marking as a duplicate of #4352.

[2019-07-09 07:23] #6078 closed, assigned to andrewlewis

[2019-07-09 07:25] ojw28 commented on #6147
This is something you'd need to build yourself.

[2019-07-09 07:25] #6147 closed, assigned to ojw28

[2019-07-09 07:50] ojw28 commented on #6142
You should try 2.10.2. If it's still not working, you should track https://github.com/google/ExoPlayer/issues/5097 for further improvements.

[2019-07-09 08:04] tonihei commented on #6144
That's more or less a duplicate of #6129. You need to provide a DrmSessionManager to the DownloadHelper to be able to select protected formats.

[2019-07-09 08:04] #6144 closed, assigned to tonihei

[2019-07-09 08:08] tonihei commented on #6143
Yes, that is guaranteed for the start of the playback.

Note that further onTracksChanged and onDownstreamFormatChanged events can happen independently and in any order.

[2019-07-09 08:10] ojw28 commented on #6146
It passes for me. We also run these tests on every commit and as part of our release process. Could you share a bit more detail about how you're able to reproduce this?

Also, it looks impossible to me that [this line would throw a NPE](https://github.com/google/ExoPlayer/blob/r2.10.2/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadHelper.java#L918). I think that would mea

[2019-07-09 08:18] tonihei commented on #6146
Please also note though that we changed the Robolectric threading system substantially in our dev branch tests, so the tests running for every commit don't actually guarantee that they run in the release version as well.

[2019-07-09 08:23] VladimirCores commented on #6128
This is a soft reminder to our question. Thanks.

[2019-07-09 08:27] JonathanImperato opened #6148 "[CAST EXTENSION] Audio Streaming and Default Receiver App customization"
### [REQUIRED] Searched documentation and issues
I have been looking on Github, issue, demo app, Medium Articles and Offical Website docs.

### [REQUIRED] Question
Is it possible to choose an Image (or even a WebImage as for the logo) to display in the background while casting only audio content?

### A full bug report captured from the device
NONE

### Link to test content
NONE

[2019-07-09 08:54] drayan85 commented on #6146
It actually in the code base locally NPE is in the next line of code `pendingMediaPeriods.add(mediaPeriod);`

1) If I run the test cases one by one, all the test cases are passing successfully.

2) If I put `TimeUnit.SECONDS.sleep(5);` after the `prepareDownloadHelper(downloadHelper);` in each test suit, all test cases passes successfully.

[2019-07-09 09:01] ojw28 commented on #6146
Thanks! I think I see the problem now (the `MediaPreparer` constructor should initialize `pendingMediaPeriods` before it starts `mediaSourceThread`).

[2019-07-09 09:09] ojw28 commented on #6128
In my initial response I was asking @rrfrias to take a look at this. Burying this under three further posts on the issue likely confused things.

@rrfrias , @fredgc - Please could you respond to my question above? Thanks!

[2019-07-09 09:14] drayan85 commented on #6146
Thanks, @ojw28. I have shifted the `pendingMediaPeriods = new ArrayList<>()` initialization above the `mediaSourceThread.start()` in the `DownloadHelper.java` as below.

[code]

No all the test suits pass successfully.

[2019-07-09 09:16] ojw28 commented on #6146
Yes, we'll push a fix for this shortly. Thanks for the bug report!

[2019-07-09 09:31] okycelt opened #6149 "Start playing a live stream with a certain offset from the live edge"
### Searched documentation and issues
https://exoplayer.dev, #1268, #4187

### Question
Is there a possibility to seek from the live edge on prepare time in a live stream? Our use case is basically the same as in #1268, to resume a live content playback. Our current solution is based on #1268, we seek to `player.getDuration() - offset` on `Player.STATE_READY`. But this is not ideal. We'd like to a

[2019-07-09 09:42] Tumbler0809 commented on #6118
The SimpleExoPlayer.setAudioAttributed method is not called

AudioManager.isMusicActive() returns true when playing a mute video，I want it to return false，Because I don't use audio resources. I just want to play a video screen.

[2019-07-09 09:55] tonihei commented on #6118
This means that either something else in the system is playing audio, or the video actually contains  audio data and ExoPlayer is playing it.

If your video contains audio data and you just set the volume to zero, it would be better to turn off audio completely. There are two ways to do this:
1. [preferred] Remove the audio renderers by overriding `DefaultRenderersFactory.buildAudioRenderers` with

[2019-07-09 09:55] tonihei commented on #2568
Issue is solved on the dev-branch now. Closing.

[2019-07-09 09:55] #2568 closed, assigned to tonihei

[2019-07-09 10:00] Tumbler0809 commented on #6118
yes,the video actually contains audio data and ExoPlayer is playing it,I will try the method you provided, thank you

[2019-07-09 10:44] JonathanImperato commented on #5962
I have the same issue, may be caused by TS redirects? [NOTE: In my case the stream does not work with the dem app too, it works always on the android exoplayer but does not with the cast player]

[2019-07-09 10:56] ojw28 commented on #6149
By default we'll start playback at the offset specified in the content itself. You can override it with `builder.setLivePresentationDelayMs` though, where `builder` is a `DashMediaSource.Builder`, `HlsMediaSource.Builder` or `SsMediaSource.Builder`. Does that do what you need?

[2019-07-09 10:59] tipoc123 commented on #2014
Any suggestions?

[2019-07-09 11:00] #6146 closed, assigned to ojw28

[2019-07-09 11:00] #6143 closed, assigned to tonihei

[2019-07-09 11:02] ojw28 commented on #6148
I think you should be building a custom cast receiver for this kind of thing, which isn't really in the scope of this issue tracker. I'd suggest you start [here](https://codelabs.developers.google.com/codelabs/cast-receiver/#0).

[2019-07-09 11:05] JonathanImperato commented on #6148
I asked here because I saw that you can set some WebImage(s) when creating the MediaQueueItem with the MediaInfo...By the way I will have a look at it. Thanks anyway.

[2019-07-09 11:16] AquilesCanta commented on #5804
Not yet, sorry. I'd be interested in learning how you plan to use MediaCAS:

1. Do you know what codecs you'll be using?
2. Do you have protected content? How do you (plan to, if you don't have) produce protected content? Which parts of the stream are / will be encrypted?
3. How will you/do you stream protected content? OTT?

[2019-07-09 11:20] okycelt commented on #6149
Yes, that's exactly what we need. Thanks for a quick reply.

[2019-07-09 11:20] #6149 closed, assigned to ojw28

[2019-07-09 11:33] Sahil333 commented on #6144
@tonihei Thanks for the quick reply. It worked for me :D.

[2019-07-09 11:56] noamtamim commented on #5804
We need a solution to the following use case, which by my understanding is the point of [Widevine CAS](https://www.widevine.com/solutions/widevine-cas).

The potential customer already has a legacy CA-protected stream. It is broadcast to existing set-top-boxes using UDP multicast. As a legacy CA system, the stream has ECMs in it (so far, from their existing CA provider -- our Widevine-based ECMs w

[2019-07-09 12:11] ojw28 commented on #2277
Closing because it seems the simple case is supported, as per Yura's comment above. For more complicated cases, it's hard to predict what developers would want in order to provide a general solution. For those cases developers will likely need to implement their own UI components.

[2019-07-09 12:11] #2277 closed, assigned to ojw28

[2019-07-09 12:15] #2659 closed, assigned to andrewlewis

[2019-07-09 12:19] ojw28 commented on #2848
We now generate a better initial bitrate estimate based on the device's current network type and country, and also carry bitrate estimates over from one playback to the next by default. This should mitigate this issue in most cases. Should we close this issue?

[2019-07-09 12:22] ojw28 commented on #2885
Coming back to this issue: What's the actual use case? It seems quite odd that the same DASH manifest would include multiple DRM schemes (it seems less odd that the same DASH manifest would contain a mixture of clear and encrypted periods, where all encrypted periods use the same scheme).

[2019-07-09 12:23] tonihei commented on #2848
This enhancement seems to be specifically about mid-download cancellations to allow faster adaptation. That's something we might want to support in the future. I'll rename the issue title.

[2019-07-09 13:01] ojw28 commented on #4616
I think DASH-IF are moving toward forbidding gaps, because doing this greatly simplifies client implementations. It's true that there may be gaps in an incoming live feed, but the server should be capable of inserting some kind of placeholder media in such cases, rather than leaving gaps in the timeline.

[2019-07-09 13:03] ojw28 commented on #4616
For reference, please see [this doc](https://dashif-documents.azurewebsites.net/DASH-IF-IOP/pull/210/DASH-IF-IOP.html). In particular:

[2019-07-09 13:08] ojw28 opened #6152 "Live: Add option to keep on the live edge (e.g. after re-buffering"
### Use case description
For some live streams, it's preferable to avoid falling behind the live edge on buffering. This can be achieved by skipping ahead, or by adjusting the playback rate to slightly greater than 1x to catch up. It's possible to implement skipping ahead at the application layer, but it's a bit fiddly. We should provide a way for applications to configure the preferred behaviour

[2019-07-09 13:11] ojw28 commented on #4616
I've filed https://github.com/google/ExoPlayer/issues/6152 to track the second part of the original issue description.

[2019-07-09 13:11] #4616 closed, assigned to ojw28

[2019-07-09 13:18] tonihei commented on #6122
I just tried to reproduce the problem somehow, but everything works fine for me.

1. I encrypted the upstream http data source on the client. This is to simulate your server-side encryption.
[code]
`AesEncryptingDataSource` is a copy of AesCipherDataSink returning the encrypted data during read, instead of writing it somewhere. See below for details.

2. I created a cache read-only data source tha

[2019-07-09 13:23] Romadro opened #6153 "format.language returns und for unknown locales"
### Issue description
`format.language` returns "und" for unknown locales on Sony C6603, but on other devices at the same case `format.language` returns original value from "lang" attribute.

### Reproduction steps
Parse Dash manifest where `AdaptationSet` tag have "lang" attribute with "hello" value

### Link to test content
I have no public link

### Version of ExoPlayer being used
2.10.1

### D

[2019-07-09 15:09] jrw95 opened #6154 "Switching between encrypted and unencrypted content in the same stream - currently supported?"
### [REQUIRED] Searched documentation and issues
- Searched through the issues with `is:issue encrypted unencrypted` (to produce the broadest result)
- Looked through the [Developer Guide, Media Sources](https://exoplayer.dev/media-sources.html) - focused on Advanced Composition, but nothing discussed concatenating encrypted and unencrypted segments, just URIs.
- Google search of `ExoPlayer switch

[2019-07-09 15:13] ojw28 commented on #5011
Some interesting views on what Apple came up with:
https://mux.com/blog/the-community-gave-us-low-latency-live-streaming-then-apple-took-it-away/

[2019-07-09 16:16] kschults opened #6155 "HLS/MP3: SeekTo does not seek to exact location"
### [REQUIRED] Issue description
Calling `seekTo` when playing from an HLS playlist does not always seek to the exact location. After calling `seekTo`, playback appears to begin at the beginning of the playlist chunk containing the requested location. From the docs, it appears that exact seeking should be supported.

### [REQUIRED] Reproduction steps
1. Load the playlist into the sample player
1.

[2019-07-09 18:32] HaiderSaleem opened #6156 "can it play videos uploaded on firebase?"
i'm trying to play videos uploaded on firebase, by passing their url to player.

[2019-07-09 18:37] anjaneesh commented on #5962
+ Matt

Matt, can you please look into this?

On Tue, Jul 9, 2019 at 3:45 AM Jonathan Imperato <notifications@github.com>
wrote:

--

*•  **Anjaneesh Rayapati*
*•  *TAM - Cast Partner Engg
*•*
* arayapati@google.com <arayapati@google.com>*

[2019-07-09 20:32] marcbaechinger commented on #6156
Yes, if you have a url you can stream media from there.

Check the ExoPlayer developer website, where you can find how to [setup the player](https://exoplayer.dev/hello-world.html) with a `ProgressiveMediaSource`.

[2019-07-09 21:29] HaiderSaleem commented on #6156
i dont know what was happening before, i might be testing with youtube links.
its working perfectly now with exoplayer 2 imademo, thanks a lot for your time mate. 👍

[2019-07-09 21:30] #6156 closed, assigned to marcbaechinger

[2019-07-09 23:09] rrfrias commented on #6128
One might see 404's with a GET (rather than a POST) request or if the POST request is not well formed (incorrect key?)

This should result in a well formed provisioning request.

@DQvsRA, you have mentioned, this how it is implemented by the app. Can you capture the POST query string from the request and share the log here or email dev.exoplayer@gmail.com

[2019-07-10 00:06] greyski opened #6157 "Tracking the "loop" event in ExoPlayer, can this be included in the documentation?"
### [REQUIRED] Searched documentation and issues
I did not see any implementation of this check in the demo apps.

I noticed a previous question attempts to answer this: https://github.com/google/ExoPlayer/issues/3096

A more concrete question answers it here as well: https://github.com/google/ExoPlayer/issues/4802

### [REQUIRED] Question
Could we add documentation about the `DISCONTINUITY_REASON

[2019-07-10 01:00] #5930 closed, assigned to AquilesCanta

[2019-07-10 05:35] mofneko commented on #2885
To give one example, there is a video service that does not have a media file end point like TV.
The content contracted with the content provider of the video is different from the content protected by DRM, and as a result, multiple DRM schemes are delivered in one stream.

[2019-07-10 06:51] stefanmoro commented on #2394
@AquilesCanta Can you please give an example of where and what to insert into the (I assume) DASH manifest? If this works the way I understand it, it could probably be a workaround we can use until the refactoring you're working on is done.

Thanks
Stefan

[2019-07-10 07:58] ojw28 commented on #2885
I guess I just don't really see it as likely that the DRM scheme would actually be different, in practice. Isn't pretty much all protected content delivered to Android devices going to use Widevine? The majority of Android devices don't support PlayReady, and I've not heard of any major streaming providers using ClearKey (my understanding is that it doesn't offer the same level of protection).

[2019-07-10 08:06] eneim opened #6159 "Allow setting AdsLoader (and AdViewProvider) dynamically/on-demand."
### [REQUIRED] Use case description
The scenario is: I have a MediaSource that can be played in either list/background/full-screen and I would like to have ads content only in full-screen playback. The setup also require non-blocking playback, i.e I don't want to re-prepare the MediaSource at all.

Current implementation requires AdsLoader and AdViewProvider when constructing AdsMediaSource. If I

[2019-07-10 08:25] Mahndran opened #6160 "Cannot play live DASH video - Unable to instantiate decoder OMX.qcom.video.decoder.avc"
### [REQUIRED] Issue description
I am trying to play DASH Live stream. The video plays for sometime say 4 to 5 mins. Then player error occurs `Unable to instantiate decoder`

The video is 640x480 live DASH video.

### [REQUIRED] Version of ExoPlayer being used
Exo Player version: 2.10.2

### [REQUIRED] Device(s) and version(s) of Android being used
Emulator (API 28) and Oneplus 5 (API 28)

Log:

[

[2019-07-10 08:40] mofneko commented on #2885
I also understand the difference between clearkey and widevine protection levels.
In fact, works that do not have content protection specified in the contract between the content provider and our content broadcaster are trying to reduce costs in exchange for DRM protection levels.

[2019-07-10 09:18] tonihei commented on #6157
That's a duplicate of #4898.  Please have a look at this post specifically: https://github.com/google/ExoPlayer/issues/4898#issuecomment-427008090. The main trick is to check if the `player.getCurrentWindowIndex` is still the same as before.

Agree that can be documented in a better way, so marking as "documentation candidate".

[2019-07-10 09:18] #6157 closed, assigned to tonihei

[2019-07-10 10:01] AquilesCanta commented on #2394
@stefanmoro, see #3393. This feature should be available soon. Possibly in the next release.

[2019-07-10 12:00] VladimirCores commented on #6128
Hello @rrfrias. I've sent you an email with POST query. If you need anything else let me know.

[2019-07-10 12:32] Stijak commented on #5978
Update:
I repeated the same tests (local apache server) with dash samples from https://dash.itec.aau.at/dash-dataset/

I used red bull sample, since it was longest, and using same bitrate we aim for our content, and our production app for testing (so it would be apple to apple comparison), I was able to test 15 second segment size and 1 second segment size downloads.

**15 second segments** downlo

[2019-07-10 15:18] marcbaechinger opened #6161 "Top level playlist API for ExoPlayer"
This Request For Comments (RFC) describes the new Playlist API, which we are planning to introduce to ExoPlayer. Please find the [document on Google Drive](https://docs.google.com/document/d/11h0S91KI5TB3NNZUtsCzg0S7r6nyTnF_tDZZAtmY93g/edit) and leave your comments.

### [REQUIRED] Use case description

Currently the playlist functionality is implemented in `ConcatenatingMediaSource`. This proposa

[2019-07-10 15:28] coveroid opened #6162 "Question COOKIE Error 403"
### [REQUIRED] Searched documentation and issues
Tell us where you’ve already looked for an answer to your question. It’s
important for us to know this so that we can improve our documentation.

Docdev, Demo, Exo github stackoverflow

### [REQUIRED] Question

I've a problem to play a HLS link, im getting an error 403, i suspect a cookie problem. The weird thing is all is working well on demo, i tr

[2019-07-10 15:45] ojw28 commented on #5501
To clarify, is the idea here that we'd re-use `SeekParameters`, but that the parameters for clipping would be supplied separately to those that are set on the player (e.g. when constructing the `ClippingMediaSource`)? I don't think it would make sense to use the ones that are set on the player, particularly given they can be changed during playback.

As an extra question, can https://github.com/go

[2019-07-10 15:49] tonihei commented on #2347
Duplicate of #5501. The other enhancement tracks a more general feature which would solve this problem as well.

[2019-07-10 15:49] #2347 closed, assigned to andrewlewis

[2019-07-10 15:50] tonihei commented on #5501
Clarification sounds correct, also close the other issue.

[2019-07-10 15:52] ojw28 commented on #5534
@andrewlewis - What's the expected behaviour that this enhancement is tracking? Should the ad just not be played? I think the problem is identical to that described in https://github.com/google/ExoPlayer/issues/5067, however the proposed solutions are possibly different.

[2019-07-10 16:03] #5731 closed, assigned to andrewlewis

[2019-07-10 16:11] ojw28 commented on #5866
This seems more like something the Cast team should provide. @anjaneesh - Are there existing tutorials covering this?

[2019-07-10 16:32] andrewlewis commented on #5534
It would probably make most sense to discard any midrolls after the content length but play the postroll (if there is one) when playback reaches the end of the content. We should check that IMA expects the postroll to play after notifying it with `contentComplete`, even if there's an unplayed midroll before. This issue could be classed as a bug if one considers it valid to have midroll ads after t

[2019-07-10 16:34] ojw28 commented on #5952
I filed https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/345 to request clarification on `lmsg` with DASH-IF. It's unclear why it's really needed.

[2019-07-10 16:50] ojw28 commented on #6159
I think there are probably two things to address here:

1. Being able to replace the views that `ImaAdsLoader` is using (e.g. because playback switches from one `PlayerView` to another). It looks like this might be possible by calling `stop()` and then `start()` on the `ImaAdsLoader` instance, but I'm not sure if there are any side effects of doing that.
1. Being able to change the `AdsLoader` (ei

[2019-07-10 17:43] greyski opened #6163 "Provide more detailed discontinuity reasons"
### [REQUIRED] Use case description
Related to another issue #4898 specifically https://github.com/google/ExoPlayer/issues/4898#issuecomment-427008090

I've consolidated the source cited in the comment:
[code]

There are many cases where we do not have immediate access to the `Player` when we're implementing an `AnalyticsListener` for event tracking and it feels odd to have to hold a reference to

[2019-07-10 19:07] OmarBasem commented on #6160
I have the same issue. It plays for few times then does not play. I am using ExoPlayer in react-native-video package.

[2019-07-10 19:13] maskedpatel commented on #6122
Thanks for the descriptive response.
So the main difference between our encryption method and the AesEncryptingDataSource is that:
Given a file we generate an aes key and iv and encrypt the file. We then bundle the key, iv, and encrypted file and encrypt that entire bundle and send it out the client. The client will decrypt the bundle and then have access to the aes key, iv, and encrypted file whi

[2019-07-10 19:19] ojw28 commented on #6155
I cannot reproduce this. What are you looking at to determine (3)?

[2019-07-10 19:24] kschults commented on #6155
In the demo application, I'm seeing that the seekbar goes to ~4:30 (270757ms) when I drop it (I hardcoded the seekbar to use that number - this is replicating a seek based on chapter metadata), but then it jumps back to ~4:00 (240047ms) when playback resumes.

In my own app, I've verified the location where playback resumes by polling the current state of the player.

[2019-07-10 19:43] ojw28 commented on #6155
I do not observe this behavior with 2.9.4, 2.10.0 or the current dev branch, using the sample provided. The seek bar goes to 4:30, and then stays there. When playback resumes the seek bar goes to 4:31, 4:32 etc as expected.

[2019-07-10 20:02] kschults commented on #6155
That's really odd. I can consistently reproduce this using the most up-to-date version of the demo library. To expand my steps:

- I changed `PlayerActivity` L 333 to hardcode a list containing my playlist URI
- I changed `PlayerControlView` and inserted `positionMs = 270757;` as L 1013
- I launch the app, and select the first HLS track.
- Once playback starts, I drag the seekbar to anywhere in th

[2019-07-11 01:00] #6050 closed, assigned to marcbaechinger

[2019-07-11 01:00] #6044 closed, assigned to marcbaechinger

[2019-07-11 03:01] guodongAndroid opened #6164 "RTMP extension dependency: Dependent libraries not downloaded?"
依赖了 implementation 'com.google.android.exoplayer:extension-rtmp:2.9.6'
但是没有自动下载 rtmp的依赖库。
请问如何解决

[2019-07-11 06:10] tanpuer opened #6165 "CacacheDataSource read method stackoverflow"
I am using the latest version 2.10.2. But we encountered a new bug that only occurred in Android 8.0 and 8.1.
I never found this stackoverflow using exoplayer 2.9.6.

![1562825302126](https://user-images.githubusercontent.com/16443498/61026218-5dea8680-a3e5-11e9-8e9b-d061dc5a1b51.jpg)
![1562825401994](https://user-images.githubusercontent.com/16443498/61026337-9f7b3180-a3e5-11e9-825e-c3a4a2b8e5e6.

[2019-07-11 06:55] chanbbong opened #6166 "Allow specifying per-item request headers (for playback and downloads)"
I have different cookies for each video.
so each time new video is loaded, I set DownloadManager with new cookie.
```defaultHttpDataSourceFactory.getDefaultRequestProperties().set("Cookie", cookieValue);```
however, I can only download video for the first time.
I think DownloadService seems to call DownloadManager only when DownloadService is started for the first time.
How do I download video wit

[2019-07-11 07:49] Odysseos commented on #5887
I see this ANR in Google Play Console -> Vitals, and all I have for it is the stacktrace. What kind of information do you need and how I can get this information?

[2019-07-11 08:14] andrewlewis commented on #5887
The VM stack traces like the ones in your first comment would be helpful, but the problem is that there is no reference to 'ExoPlayerImplInternal:Handler', which is what would tell us what the playback thread is doing. Do you have any other traces visible for the same bug that do include this thread? Alternatively, if you can reproduce the issue locally, the output of `adb bugreport` would help.

[2019-07-11 08:45] tonihei commented on #6163
Actually, `AnalyticsListener` also does that for you and the `EventTime` passed to every event contains the current window index without requiring a `Player` reference.

Besides that, it's indeed worthwhile thinking about more detailed discontinuity reasons. As you pointed out, it's easy to distinguish between standard transition to a new window and repeating the same window. Similarly, listeners

[2019-07-11 09:26] OmarBasem opened #6167 "Unable to instantiate decoder OMX.qcom.video.decoder.avc"
### [REQUIRED] Issue description
Video fails to play giving that error:
errorException: "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.qcom.video.decoder.avc, Format(1, null, null, video/avc, null, -1, null, [1920, 1080, -1.0], [-1, -1])
errorString: "Unable to instantiate decoder OMX.qcom.video.decoder.avc"

If there is one vi

[2019-07-11 09:48] tonihei commented on #6122
The only notable diffference I can see is that ExoPlayer's AesFlushingCipher creates the IV using `ByteBuffer.allocate(16).putLong(nonce).putLong(counter).array()` where `nonce` is the same for all requests and `counter` is `dataSpec.absoluteStreamPosition / cipher.blockSize()`. In your example you always use the same IV irrespective of the absoluteStreamPosition. I'm no expert in how these cipher

[2019-07-11 09:49] OmarBasem opened #6168 "Unable to instantiate decoder OMX.qcom.video.decoder.avc"
[REQUIRED] Issue description
Video fails to play giving that error:
errorException: "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.qcom.video.decoder.avc, Format(1, null, null, video/avc, null, -1, null, [1920, 1080, -1.0], [-1, -1])
errorString: "Unable to instantiate decoder OMX.qcom.video.decoder.avc"

If there is one video

[2019-07-11 09:52] OmarBasem commented on #6168
What information is missing?

[2019-07-11 09:58] VladimirCores commented on #6128
And one more thing that might be usefull, we use `OkHttpDataSourceFactory` instead of `DefaultHttpDataSourceFactory`:
[code]

[2019-07-11 10:03] tonihei commented on #6168
Disregard the bot please. It's overly strict with formatting and the like.

[2019-07-11 11:26] akanksha-hegde opened #6169 "Skip segment and request next segment when 404 or 410 Exception occurs Exoplayer"
Im trying to run a broadcast stream. But in cast of broadcast, usually in between certain segments may not reach the player.

Currently I have defined an Error retry policy where in case of an error it will re-request 5 times. But after 5 times if the segment is still not available Player throws 404/410 error and stop.
Instead I want the player to skip that segment and request for next segment. Pl

[2019-07-11 11:35] coveroid commented on #6162
Find it! Difference between demo and my code was using a defaullttrackselector on demo (sso checking master link) and directlly accesing the "child" link on my code. Child link work with okHttpClient but not on demo.

For me its enought, im gonna use the default trackselector then

[2019-07-11 11:35] #6162 closed, assigned to nobody

[2019-07-11 12:15] ojw28 commented on #6155
I tried on a few different devices and this doesn't reproduce for me. A video would be useful just to see what you're seeing, however I'm not sure what we'll be able to do if we're still unable to reproduce!

[2019-07-11 13:18] tomislavturcic opened #6170 "Allow to ignore/skip items in a playlist"
I use ConcatenatingMediaSource to play a track list in ExoPlayer. Some of the media sources are downloaded files. At any point during playback, user can go into Offline mode where only downloaded tracks should be played.

Is it possible to somehow flag these downloaded media sources and make Exo skip non-flagged tracks? Or is the only solution to use concatenatingMediaSource.removeSource() and man

[2019-07-11 13:28] ojw28 commented on #6170
We don't provide this functionality currently. It's an interesting idea though, because:

* Some apps like to use ExoPlayer's playlist directly to underpin their user interface
* When going into offline mode, a developer may well just want to grey out non-playable items, rather than remove them competely

@tonihei - This seems like something we could look to provide support for at some point.

[2019-07-11 13:57] tonihei commented on #6170
There is also the enhancement tracked by #4343 which would allow to support this use case implicitly. The online sources would fail to load and would thus be skipped automatically.

More generally, we already support marking ad periods as "skipped" and the player just ignores them. A recent internal discussion about media structure shortcomings concluded that such a feature would be helpful for ge

[2019-07-11 13:57] kschults commented on #6155
Here's a gif of the screen recording, since GitHub doesn't allow mp4 attachments. It lost a little of the framerate in the conversion, but it still shows the issue. You an see where when I release the seekbar, it snaps to 4:31 as it calls `seekTo(270757)`, and then jump to 4:00 as playback changes to there.

If I pause the player before seeking, it stays at 4:31 until I hit play, at which point it

[2019-07-11 14:19] ojw28 commented on #6170
I think this is slightly different. In #4343 you'll only discover that a given item is unplayable when you try and play it (or shortly before when you start trying to buffer it). In the case described here the app might want to explicitly mark sources to be skipped, and have their UI be able to query ExoPlayer's playlist to know which items should be greyed out or displayed differently. A similar

[2019-07-11 14:29] tonihei commented on #6170
Yes, that's why it's not a duplicate, but a separate enhancement :)  I just wanted to point it out because both are slightly related.

[2019-07-11 14:34] tomislavturcic commented on #6170
Sorry to interject. But I have a follow-up question.

Is there any other way to handle Online / Offline changes? Or is the only way to remove MediaSources when going to Offline mode and then add them back when going to Online mode?

And secondly, in regards to adding these new features... How long does it take to add such enhancement to releases?

[2019-07-11 14:55] ojw28 commented on #6155
Hmm! Weird. I do not see that. Do you definitely see this across all devices? I tested on a Galaxy S8 and a Pixel 2 so far.

[2019-07-11 15:00] tonihei commented on #6170
I'm afraid we don't provide a good way to do that currently. So yes, removing and adding them back is the only workaround I can think of at the moment.

We don't usually give time estimates for our enhancements because it's sometime unclear how complicated they are, and what things we are working on. We'll post this issue with commit or other updates once we have them.

[2019-07-11 15:33] kschults commented on #6155
@ojw28 Sorry, I had thought from our QA team that it was happening across devices. I just double-checked with them, and it's more limited.

It's happening extremely frequently to myself and to our QA lead. We're both using Pixel 3 (9.0). One other QA person has experienced it on a Pixel 1 (9.0), but only infrequently. We don't have any Pixel devices on other versions, so we haven't been able to te

[2019-07-11 16:44] kschults commented on #6155
The QA team has also been able to reproduce it consistently on a Nokia 6 (8.1.0) and a Note 4 (6.0.1)

[2019-07-11 17:05] ericatfelix opened #6171 "Audio Playback seems to give me 1 frame at a time. Is there a way to get more?"
We are using custom audio processor to decode an mkv with 8 audio tracks. The queueInput method is called with samples.

Despite the fact that load control is set to:
	loadControlBuilder.setBufferDurationsMs(DefaultLoadControl.DEFAULT_MIN_BUFFER_MS*3,
				DefaultLoadControl.DEFAULT_MAX_BUFFER_MS*3,
				DefaultLoadControl.DEFAULT_BUFFER_FOR_PLAYBACK_MS*3,
			   DefaultLoadControl.DEFAULT_BUFFER_FOR

[2019-07-11 17:46] ojw28 commented on #5852
Is this issue still relevant, or did you manage to solve your problem? It sounds like an issue with your local environment.

[2019-07-11 17:52] ojw28 commented on #6167
Duplicate of #6168

[2019-07-11 17:52] #6167 closed, assigned to ojw28

[2019-07-11 17:53] ojw28 commented on #6165
Can you please provide something more complete than a heavily clipped screenshot? That doesn't look like a stack overflow to me. It looks like some number of recursive calls to `read`, which exit fine into `RandomAccessFile`.

[2019-07-11 18:03] ojw28 commented on #6164
This should just work (i.e. gradle should be pulling the dependent libraries in automatically). Please could you be more specific about what error you're seeing?

[2019-07-11 18:06] greyski commented on #6163
Oh cool, I did not know `EventTime` housed this information.

I agree with including more explicit `DiscontinuityReason`s.

Thanks for the continued fast response to these requests/questions!

[2019-07-11 18:49] ojw28 commented on #6154
I don't think HLS is designed for mixing FMP4 and TS segments into a single media playlist, as is the case here. The failure point happens when the player refreshes the media playlist and gets one that looks like this:

[code]

As per the HLS RFC, the `EXT-X-MAP` initialization data applies to every segment until the next `EXT-X-MAP`. So this media playlist is incorrectly attaching MP4 initializat

[2019-07-11 19:03] ojw28 commented on #6154
A few additional points:

1. You could probably come up with suitable initialization data for the TS segments, and add an `EXT-X-MAP` to point to that initialization data after the discontinuity. The spec defines TS initialization data to consist of a PAT followed by a PMT. I'm not actually certain whether we handle this, since I've never seen initialization data provided out-of-segment for TS, bu

[2019-07-11 19:13] #6154 closed, assigned to ojw28

[2019-07-11 23:39] brAzzi64 opened #6172 "Using ExoPlayer infra to download a segment of an .mp4 audio file"
Hi,

I'm trying to see if there's a way to use ExoPlayer infra (extractors / sample sources) to download only a specific segment of an .mp4 audio file from a server, having it hand me over  directly the final decoded samples.

I found this: https://github.com/google/ExoPlayer/issues/2130

And learned there about the "accept-ranges" header, and verified that my CDN returns "accept-ranges: bytes", t

[2019-07-12 01:00] #6033 closed, assigned to tonihei

[2019-07-12 01:31] guodongAndroid commented on #6164
The program can be compiled normally without errors.
The following method solved my problem.
[code]

gradle plugin version:
[code]

kotlin-gradle-plugin version:
[code]

[2019-07-12 02:18] tanpuer commented on #6165
start from RandomAccessFile, and then many number of recursive calls to read.

[code]

[2019-07-12 03:00] Romantic-LiXuefeng opened #6173 "Real-time preview of video frames, drop the B frame before decode."
### [REQUIRED] Question
I want to optimize the seek operation to real-time preview the video frame on the seekbar.
Now in the MetadataQueue, there is a flag(`BUFFER_FLAG_KEY_FRAME`) indicates the video packet is or not KEY_FRAME, I want to know the video packet whether is the B frame.
So I can drop the B frame before decode.

[2019-07-12 05:47] lion4509 commented on #6124
@tonihei Can you assign anyone to resolve this issue? Seems like @AquilesCanta has been absent.

[2019-07-12 06:33] akanksha-hegde commented on #6169
Can anyone help me out with this/

[2019-07-12 06:52] arasan81 commented on #6049
Looks MPU file format is not supported by Exo player. Hence closing the issue.

[2019-07-12 07:03] arasan81 opened #6174 "How to dynamically add bytes data to Exoplayer MediaSource to continue playing downloaded bytes seamlessly"
### [REQUIRED] Searched documentation and issues
Searched on stackoverflow.com and GitHub for Exoplayer repository. But I did not get the correct solution.

### [REQUIRED] Question
How to dynamically add media chunks to Exoplayers MediaSource to continue playing the downloaded chunks seamlessly?

I would like  to know if there is any way to load streaming bytes of a large video file ( small chunk

[2019-07-12 07:08] vlad-roid commented on #5489
This seems to be live since 2.10.0 but wasn't documented in the release notes. Why is that?

[2019-07-12 07:22] arasan81 commented on #6174
Please check the format now.

[2019-07-12 07:37] BelousAlex opened #6175 "Load all Clipping MediaSource parts"
Good day. I have a URL with mp4 video. I cut it using the ClippingMediaSource, how can I load all the parts at once, so that at any moment of the switch not to wait for buffering?

[2019-07-12 08:10] ojw28 commented on #6049
We're using this issue to track adding support as an enhancement (we have no plans to add support in the near term, but it's good to keep an issue open to track the request).

[2019-07-12 08:20] VladimirCores commented on #6128
### Update:
**I removed the OkHttpDataSourceFactory and use DefaultHttpDataSourceFactory instead:**
[code]
### And we have **different error**:
[code]

[2019-07-12 08:53] ojw28 commented on #6128
That looks like it would be impossible using the regular `HttpMediaDrmCallback` wrapping the regular `DefaultHttpDataSource.Factory`. That said, that error looks like it should be easier for you to debug. Attach a debugger and put some break points around `FrameworkMediaDrm.provideProvisionResponse()` to check that the response really is null there. If it's not null, something is wrong in the unde

[2019-07-12 09:56] VeiZhang opened #6176 "no sound when playing AC3 URL using ffmpeg extension"
### [REQUIRED] Content description
 My situation looks like https://github.com/google/ExoPlayer/issues/5788 .
 Test my stream with exo demo, **compile all support ffmpeg format and load ffmpeg extension successfully**. I am sure that FfmpegAudioRenderer works, but it still play no sound.
 **Another problem is that, if I don't add ffmpeg extension, it plays well but no sound. After I add ffmepg ext

[2019-07-12 10:45] tonihei opened #6177 "Public RFC: Bandwidth estimation analysis"
This Request For Comments (RFC) analyzes our current bandwidth estimation method and proposed options to improve it. Please find the [document on Google Drive](https://docs.google.com/document/d/1e3jVkZ6nxNWgCqTNibqV8uJcKo8d597XVl3nJkY7P8c) and leave your comments.

### [REQUIRED] Use case description
ExoPlayer's `DefaultBandwidthMeter` measures network bandwidth using samples obtained from data t

[2019-07-12 11:00] AquilesCanta commented on #6124
I'll look into this when I have some time. Thanks for your patience.

It's worth noting that ExoPlayer does not support the addition of tracks mid-stream, and it's unlikely that's changing any time soon. I'll check the content to make sure this is the case soon, though, but it's possible we won't be able to fix this in the short term.

[2019-07-12 12:49] AlinaVoronkovaEpam opened #6179 "ExoPlayer doesn't render 4:3 aspect ratio video properly with TextureView surface"
### Issue description
HLS 4:3 aspect ratio video is cropped when TextureView surface is used for some Android devices (find the list of devices below).

### Reproduction steps
- Open the demo app and add a test video that mentioned below
- Change `PlayerView` in `player_activity.xml` by setting `app:surface_type` as `texture_view`
[code]
- Launch the demo app
- Select the manifesting video 
- Play

[2019-07-12 13:55] ivan2311 opened #6180 "Implementing own AudioSink"
I would like to fix the **resampling** problem on Android, but still use `ExoPlayer` for playback. It seems to me that this could be fixed by avoiding using `DefaultAudioSink` implementation, that internally use `AudioTrack` for playback and have few `AudioProcessors` that can change sample rate of the output signal.
So, I need to implement my own `AudioSink` that wouldn't use `AudioTrack` or have

[2019-07-12 14:38] andrewlewis commented on #6180
It would be useful if you could provide some more details about what you're trying to do:
- What is the input audio format and what format do you want to output?
- What is the 'resampling problem'?
- Do you want to play out the audio in the end?

If the answer to the last question is yes, it would probably make sense to use `DefaultAudioSink` but customize its behavior as needed.

[2019-07-12 20:09] maxTanquerel commented on #6030
Any news on this ?

[2019-07-14 01:00] #5825 closed, assigned to tonihei

[2019-07-14 05:58] teddyla commented on #4352
Hey guys. we also facing mediacodec release or stop ANR.  logcat only this hints:
E/ACodec  (21715): signalError(omxError 0x80001009, internalError -2147483648)
69
E/MediaCodec(21715): Codec reported err 0x80001009, actionCode 0, while in state 9

@perracolabs did u mean call flush before stop & release could workaround?

[2019-07-14 06:47] 00hacktheworld00 opened #6181 "Playing encrypted HLS content with local AES Key"
Hi,
My issue is that I have an m3u8 url for an encrypted video.
It has a KEY inside the playlist but that is not valid url.

I need to use the KEY which I have saved locally on my device to decrypt and play the content.

I tried a lot of things like :
Custom Data Source
AES128DataSource
CipherDataStream

But not able to play it.

Everytime I get HttpDataSource$HttpDataSourceException or some other

[2019-07-14 14:20] #6164 closed, assigned to ojw28

[2019-07-14 15:33] #5527 closed, assigned to andrewlewis

[2019-07-14 16:49] ojw28 commented on #6153
@tonihei - IIRC you looked at language tag normalization recently. Could you take a look at this (it sounds OS version or device specific, but we have some Xperia Z devices to test on).