[2018-11-07 00:27] rrfrias commented on #4329
We have passed on the information to Kyocera. Will let you know when we hear back.

[2018-11-07 02:04] Romantic-LiXuefeng opened #5067 "Support changing ad break positions"
This is reproducible as below configured in the media.exolist.json.
{
     "name": "VMAP pre-, mid- and post-rolls, single ads",
      "uri": "http://192.168.75.251:8081/test/hls/multirate/multirate.m3u8",
        "ad_tag_uri": "https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_posit

[2018-11-07 02:33] tonihei commented on #5067
The midroll position is defined in the data of your ad tag uri (at 15 seconds in the example you provided).

If your question is related to configure the server to generate these ad tags, that goes beyond what we can answer here. I suppose the server should know the content duration before generating ad tags for it. @andrewlewis may be able to clarify if that's wrong.

If the problem is that you d

[2018-11-07 05:15] Romantic-LiXuefeng commented on #5067
@tonihei  This is my use case:
Our Ad server and content server is separate, the ad server can't get the content duration advance. the ad server only provide the pre_ad ,mid_ad,post_ad 's url and duration. Where to insert the mid_ad
is decided  by the player. But we can't new the AdPlaybackState if we don't known the mid_ad insert position.
This is my test code:
1.  I used a FixedAdsLoader that co

[2018-11-07 06:57] majidebrahimii commented on #5061
@AquilesCanta  The problem was solved, but now the list of qualities does not come up properly, and it's just Auto and None.

[2018-11-07 07:24] Romantic-LiXuefeng opened #5068 "When the playback transition from the mid ad to the content , the player drops frames continuously for a little while."
This is reproducible as below configured in the media.exolist.json.
####
{
   "name": "VMAP pre-, mid- and post-rolls, single ads",
   "uri": "http://n2.vod01.icntvcdn.com/newtv2/2016/11/01/hanzhan2/hanzhan2.m3u8",
   ""ad_tag_uri": "https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_

[2018-11-07 09:05] kimsh3933 opened #5069 "Question : I would like to find the way how to add parameters to chunk files(like .ts)"
Hello
I have to add parameter to chunk files(.ts and inner m3u8 files) because of server's condition.
However I cannot find the way how to add paramter to chunk files.
Could you please let me know the way?
Thanks.

main m3u8 file
http://~/file.m3u8?key=1234

in file.m3u8
- file1.m3u8  <- inner m3u8 file
  - chunk1.ts <- chunk file
- file2.m3u8 <- inner m3u8 file
  - chunk2.ts <- chunk file

[2018-11-07 09:45] DKillWorld commented on #5064
Thanks. I logged it myself and figured it out that new Android O background execution limits killed service after few minutes randomly.
Searching from hours but didnt got a solution yet.

[2018-11-07 09:50] andymishisha05 opened #5070 "turn on /off subtitle in exoplay leanback"
I am developing an Android app for TV using the Leanback library. I have an  video  with an srt subtitle from a URI. I am using ExoPlayer version 2.6.1 as used in this example app. I created my MediaSource using:
[code]
In my PlaybackTransportControlGlue, I have a PlaybackControlsRow.ClosedCaptioningAction. When this button is clicked, what do I write in the action dispatcher to toggle the closed

[2018-11-07 10:30] AquilesCanta commented on #3152
Can we close this issue then? If you end up running into any issues we can revisit this.

You can post below and we will reopen the issue.

[2018-11-07 10:30] #3152 closed, assigned to AquilesCanta

[2018-11-07 10:47] AquilesCanta commented on #5068
@andrewlewis mind having a look at this?

[2018-11-07 10:59] AquilesCanta commented on #5069
You could inject a custom DataSource (using [HlsDataSourceFactory](https://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/source/hls/HlsDataSourceFactory.html)) which intercepts the URL for DATA_TYPE_MEDIA and adds the parameters you need. Let me know if that works for you.

[2018-11-07 10:59] #5069 closed, assigned to AquilesCanta

[2018-11-07 12:00] andrewlewis commented on #5068
The midroll ad is at 15 seconds, so when transitioning from the midroll ad back to the content we effectively have to do a frame-exact seek to 15 seconds in the content. There is no keyframe at 15 seconds, so doing this seek involves decoding frames from the previous keyframe up to the requested position (about 5 seconds' worth of frames that are never shown). By the time those frames have been de

[2018-11-07 12:00] #5068 closed, assigned to andrewlewis

[2018-11-07 12:18] AquilesCanta commented on #5063
@ojw28 can you have a look at this in the context of codec reuse?

[2018-11-07 12:25] AquilesCanta commented on #5070
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

Specifically useful here:
+ A bugreport.
+ Media samples to reproduce the issue.

Please provide the missing information below and I'll reopen the issue.

[2018-11-07 12:25] #5070 closed, assigned to AquilesCanta

[2018-11-07 13:39] marcbaechinger commented on #4988
@png6 What would be the behaviour you have in mind when you fork?

As of now, when the player is in idle state, it is not prepared, which means the timeline is empty. So in this case there is no information available about the currently playing item, which is usually shown in the notification.

What you can do without a fork is to just create your own notification an call startForeground(int, Noti

[2018-11-07 14:33] lricardo commented on #4723
Hello again. Know that I have digested this a little bit and successfully solved the problem, I would like to thank you. That's solved! 😃

For those who are with doubts respecting to this:
* Tracking the buffering position is enough. You can log this value on `onTimelineChange` callback, using android logger. In my case, I set that the video should seek to the default position if the buffered posi

[2018-11-07 14:59] andymishisha05 opened #5071 "turn on /off subtitle in exoplay leanback"
I am developing an Android app for TV using the Leanback library. I have an video with an srt subtitle from a URI. I am using ExoPlayer version 2.6.1 as used in this example app. I created my MediaSource using:

private MediaSource onCreateMediaSource(Uri uri, Uri subtitleUri) {
    String userAgent = Util.getUserAgent(mContext, "ExoPlayerAdapter");
    MediaSource videoSource = new HlsMediaSource

[2018-11-07 15:50] AquilesCanta commented on #5071
Note that the [documentation](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/MappingTrackSelector.html#getCurrentMappedTrackInfo--) clarifies that a null value may be returned:

Make sure you are calling `getCurrentMappedTrackInfo` when a track selection is active. From the stack trace, I assume you are calling `getCurrentMappedTrackInfo` right after

[2018-11-07 15:50] #5071 closed, assigned to AquilesCanta

[2018-11-07 17:51] tonihei commented on #5067
Thanks for the clarification.

Using C.TIME_UNSET as the ad group position is probably not a good idea because we don't support that in the player. Also, we currently don't support changing the ad position dynamically. However, we are planning to add support for this soon anyway and we can use this issue to track this.

Besides that, you could try to wrap the content source in a another media sour

[2018-11-07 18:04] png6 commented on #4988
@marcbaechinger for the time being, the fork I did simply omits the check for when the player is in the idle state. The use case is that I have the requisite metadata to display and I don't want to not have a notification shown. A bit of an odd case but I may keep the fork since I would like to look into why there are flickering in the notification when action buttons are pressed.

In regards to u

[2018-11-07 18:19] #5065 closed, assigned to ojw28

[2018-11-07 18:19] #5055 closed, assigned to nic0lette

[2018-11-07 18:36] dougkeen opened #5072 "In MediaSessionConnector, why is Player.STATE_ENDED state (in Exoplayer) mapped to PlaybackStateCompat.STATE_PAUSED instead of PlaybackStateCompat.STATE_STOPPED"
The relevant code is in `MediaSessionConnector.java`:

[code]

It's unclear to me why `Player.STATE_ENDED` is mapped to `PlaybackStateCompat.STATE_PAUSED` instead of `PlaybackStateCompat.STATE_STOPPED`. I'd like to alter that mapping behavior in my own app, but unfortunately, this is a private method and the class itself is `final`, so I'm doubly prevented from making my own customizations.

[2018-11-07 19:40] nightwolf738 opened #5073 "Why does sample app dramatically change in every last one of releases?"
I know this is not an issue but this SDK is the hardest one to update. I have quitted updating the SDK since 1.5.9 because I always have guide with the sample app but it changes dramatically in each release.

It takes my whole day to update my code to avoid errors. Today I decided to update it once again to play Rtmp streams, but almost nothing resolved about exoplayer in my project. 😢

I wish I a

[2018-11-07 19:53] ojw28 commented on #5073
ExoPlayer 2 was a pretty big architectural change. I think it's more reasonable to consider it as a new API that was designed to replace the old one. This is reflected by the fact that the package name changed.

For ExoPlayer 2, we're trying to get better about breaking the API less frequently, particularly the parts of it that are used by the majority of use cases. We do still break things from t

[2018-11-07 19:53] #5073 closed, assigned to ojw28

[2018-11-07 20:25] ojw28 commented on #5063
I think there's a problem with the order in which you're doing things. Your code looks like it's:

1. Setting `playWhenReady = true`
1. Calling `prepare`
1. Calling `seekTo`

After step (2), playback will start as soon as it can from the default position, because that's what you asked for in step (1). Step (3) will then perform a seek. If the player prepares itself quickly enough then you may hear

[2018-11-07 20:32] ojw28 commented on #5065
This will be fixed in `2.9.1`.

[2018-11-07 20:32] ojw28 commented on #5055
This will be fixed in 2.9.1.

[2018-11-07 21:32] marcbaechinger commented on #5072
The reasoning behind this mapping is that with the MediaSession API, MediaControllerCompat.TransportControls.stop() in contrast to MediaControllerCompat.TransportControls.pause() implies that resources like codecs or the player itself can/should be freed. This is not the case for Player.STATE_ENDED.  If ExoPlayer is in the Player.STATE_ENDED seeking to a position somewhere before the end of the me

[2018-11-07 21:42] dougkeen commented on #5072
Ah, thanks for the explanation. You are correct, I need to detect the end of playback from a media controller (through a `MediaControllerCompat.Callback` listener).

[2018-11-07 23:18] mikulbhatt commented on #4867
@ojw28 any update on this, is it being prioritized? thanks.

[2018-11-08 00:55] kanthicn1 opened #5076 "Extract a frame from video"
Hello,

I am trying to do some video frame level manipulation of DASH/HLS video. I have tried this on entire video files offline where I get the frames using `ffmpeg`. Now, I want to try this online (frame rate) with ExoPlayer. I have searched extensively on how I could accomplish this. All options seem to direct towards creating a custom renderer with Open GL, apply a OpenGL shader/filter on the

[2018-11-08 01:14] Romantic-LiXuefeng commented on #5068
Why not the content frames before 15 seconds just decode, but not renderer.  Just like the seek operate in the HLS. @andrewlewis

[2018-11-08 01:40] tonihei commented on #5068
When doing seeks, we enter the buffering state (and stop the clock), that's why it doesn't happen there. Whereas for midrolls, we ideally like to continue playback smoothly and therefore continue running the clock (at the expense of risking dropped frames). Or to put it in another way: We only enter the buffering state and stop the clock if we don't have any buffer left. But if we have enough buff

[2018-11-08 02:56] Romantic-LiXuefeng commented on #5067
@tonihei  As you said, i custom a wrapper source to container the content media source.
####
 @Override
public void onSourceInfoRefreshed(MediaSource source, Timeline timeline, Object  manifest) {
       Assertions.checkArgument(timeline.getPeriodCount() == 1);
        long durationUs = timeline.getWindow(0,new Timeline.Window()).durationUs;
        if (durationUs != C.TIME_UNSET){
            Log

[2018-11-08 04:04] hunanqi commented on #5054
@AquilesCanta
bugreport
https://raw.githubusercontent.com/hunanqi/Retrofit_Two/master/bug.txt

and
device：百视通r1400-m

The similarity lies in the same steps, the same phenomenon.

[2018-11-08 04:26] tonihei commented on #5067
Not yet, sorry. This is an enhancement currently tracked by #4727.

[2018-11-08 05:35] Romantic-LiXuefeng commented on #5068
@tonihei @andrewlewis  Thanks for your replies.
I find that, after transitioning from the midroll ad back to the content ,then if doing seeks in the content, there also exist  drop frames.
This is reproducible using my supplied url.
####
D/EventLogger: seekStarted [45.01, 21.56, window=0, period=0]
D/EventLogger: positionDiscontinuity [45.01, 675.75, window=0, period=0, SEEK]
D/EventLogger: droppe

[2018-11-08 06:54] odiggity25 commented on #5048
@Sekhtech I was stuck on this too. I ended up copying the same format the exoplayer code uses to build the PendingIntents for the PlaybackActions and it worked. Here it is (Kotlin):

[code]

[2018-11-08 08:31] Curwer-zz commented on #5063
@ojw28
Thanks I changed our code to look like what you described.
But I think you missunderstood the problem we have.

It´s not that is a jump/lag in the begining of the stream. It happens at the end of every chunk, that is every 10 seconds.

I just confirmed that it´s still a problem after changing our code.

[2018-11-08 08:45] hunanqi commented on #5054
@AquilesCanta
[buq.txt](https://github.com/google/ExoPlayer/files/2560951/buq.txt)

this device is 百视通 R1400-m  4.2.1

The similarity lies in the same steps, the same phenomenon.

[2018-11-08 09:30] andrewlewis commented on #5076
Is the idea to play video in real time, processing each frame on the CPU (rather than the GPU with GLES)? This isn't a use case we support currently in ExoPlayer so it's not really in the scope of this issue tracker.

I expect copying and processing the decoded frames is going to be slow and inefficient. You might be able to get away with it if the video is low resolution/frame rate and the device

[2018-11-08 09:40] pals-ric opened #5077 "Subtitles are not getting disable"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-11-08 09:41] #5077 closed, assigned to nobody

[2018-11-08 09:43] andymishisha05 commented on #5071
can u give me example

[2018-11-08 09:53] hunanqi commented on #5054
@AquilesCanta

New

[log.log](https://github.com/google/ExoPlayer/files/2561186/log.log)
[buq.txt](https://github.com/google/ExoPlayer/files/2561187/buq.txt)

The following is the log after bug.

11-08 17:55:40.625 1005-2166/com.ttgg.newbox E/LoadTask: OutOfMemory error loading stream
    java.lang.OutOfMemoryError
        at com.google.android.exoplayer2.upstream.DefaultAllocator.allocate(Default

[2018-11-08 10:44] AquilesCanta commented on #5054
I cannot find the OutOfMemory stacktrace snippet in the provided log files.

A few thoughts:
- It's still not clear to me what the issue is. I assume, considering the stacktrace, that your app is crashing.
- Having 10 videos buffering at the same time might be cause enough for an out of memory exception. However, you mentioned that it takes more than a day to reproduce, so I am more inclined to th

[2018-11-08 10:57] martijn00 commented on #5031
This would probably help devs with https://github.com/google/ExoPlayer/blob/release-v2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/TimelineQueueEditor.java#L73 and https://github.com/google/ExoPlayer/blob/release-v2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java#L692

By providing a standard w

[2018-11-08 10:58] AquilesCanta commented on #5071
Have a look at what the [EventLogger](https://github.com/google/ExoPlayer/blob/fa9d7d5e3eb1a0bf5362d5c80b0c5b33a8b6151b/library/core/src/main/java/com/google/android/exoplayer2/util/EventLogger.java#L175) does in `onTracksChanged`.

[2018-11-08 11:11] nooooooooooob opened #5078 "ANR on clear the player of PlayerView"
here is ANR log
————————————————————————————————————————
"main" prio=5 tid=1 WAIT
  | group="main" sCount=1 dsCount=0 obj=0x41e3ae58 self=0x41e29850
  | sysTid=7095 nice=0 sched=0/0 cgrp=apps handle=1074819412
  | state=S schedstat=( 92592230727 45469543736 288528 ) utm=7999 stm=1260 core=0
  at java.lang.Object.wait(Native Method)
  - waiting on <0x42ebeaf8> (a com.google.android.exoplayer2.Playe

[2018-11-08 11:12] michalliu opened #5079 "contributing two personal extensions"
Sry, This is not an issue. cz i cant find a better place to publish.

1. exoplayer2-mediaplayer-extension
https://github.com/michalliu/exoplayer2-mediaplayer-extension
This extension provide consistent api with android stock mediaplayer backed by ExoPlayer in order to migrate existing code much easier, faster and safer. Since it's backed by exoplayer. It aslo supports adjusting playbackspeed, conc

[2018-11-08 11:41] hunanqi commented on #5054
@AquilesCanta
1.I cannot find the OutOfMemory stacktrace snippet in the provided log files.
It's because I stopped copying logs when I found bugs, and the logs came a few minutes after the bugs appeared.
2.my app is Normal, in addition to other normal video playback, including the main thread.
3.When I reduced the number of video to 4, there were still problems.
4.https://raw.githubusercontent.com

[2018-11-08 11:51] AquilesCanta commented on #5054
I think I would start by discarding a memory leak. I'll paste again my comment above:

[2018-11-08 12:45] ghost opened #5080 "(Gradle project sync failed) Failed to resolve: play-services-basement"
I am trying to complie ecoplayer using android studio. However, the log shows there are unsolved dependencies. The log information is shown as follow:

Failed to resolve: play-services-basement a href="openFile:D:/Android/AndroidProject/ExoPlayer/demos/cast/build.gradle" Open File /a

Failed to resolve: play-services-basement a href="openFile:D:/Android/AndroidProject/ExoPlayer/extensions/cast/bui

[2018-11-08 12:55] AquilesCanta commented on #5080
Duplicate of #5047.

[2018-11-08 12:55] #5080 closed, assigned to AquilesCanta

[2018-11-08 13:16] majidebrahimii opened #5081 "How get all quality urls from master m3u8 file in exoplayer for my custom download manger"
Hello.
How get all quality urls from master m3u8 file in exoplayer for my custom download manger?

[2018-11-08 13:18] ojw28 commented on #5063
I see. It looks like we think the format of each segment is different, due to the presence of an `com.apple.streaming.transportStreamTimestamp` ID3 tag in each segment with a different value. This ends up causing the decoder to be re-instantiated (or just flushed in the `dev-v2` branch, but that's still a problem).

In `dev-v2` we correctly see that we can re-use the decoder, but we're not disambi

[2018-11-08 16:06] AquilesCanta commented on #5078
Can you please provide a bugreport?

See the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-11-08 16:09] AquilesCanta commented on #5081
Have you had a look at this [medium post](https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e)?

Also, @erdemguven will be able to provide better assistance.

[2018-11-08 16:29] majidebrahimii commented on #5081
@AquilesCanta @erdemguven Yes, I've seen this post, but the result is not my opinion or I could not use it. I want to extract the qualities and links, and each one was chosen by the user download by my custom download manager(with queuing and stop and resume download).

[2018-11-08 23:27] kanthicn1 commented on #5076
Thanks a lot for your reply @andrewlewis . If I understand this correctly, you are saying my two options are (assuming I am not using vp9)
(a) Use `MediaCodec`s APIs for getting the raw video frames, manipulate it and queue it back ; But this will be CPU intensive and may work only for low res videos or very high end hardware
(b) Use the GLES to render my frames and somehow figure out how to encod

[2018-11-09 01:47] nooooooooooob commented on #5078
bugreport is sent by email

[2018-11-09 02:37] Romantic-LiXuefeng commented on #2826
@ojw28  I read the linked design proposal. It's so great. Is there a similar public design documents? If have, please give me the links. I am reading the ExoPlayer source code.Thanks!

[2018-11-09 09:38] PaulWoitaschek opened #5082 "Allow dynamic injected format filters in DefaultTrackSelector."
I have a dash manifest where I have the same video in different bitrates / resolutions and 2 aspect ratios:
16:9 and 4:3.
When I now attach exoplayer to a 16:9 surface, I it picks the 4:3 aspect ratio and renders the video distorted.
I expect exoplayer to select the appropriate aspect ratio.

Tested with ExoPlayer 2.9.0

[2018-11-09 09:42] andrewlewis commented on #5076
Yeah, I think option (b) is preferable if it works for the kind of processing you want to do. There are certainly apps that use this approach (decoding to an off-screen SurfaceTexture and applying a GLES pixel shader to the decoder output).

[2018-11-09 09:42] #5076 closed, assigned to andrewlewis

[2018-11-09 09:42] AquilesCanta commented on #5078
The provided file is not a bugreport. You can obtain one by running `adb bugreport` right after reproducing the issue on the device.

[2018-11-09 09:54] tonihei commented on #5082
That's an interesting proposal. Currently, if we select a single video track, we use the format with the highest pixel count, or if that's the same, the one with the highest bitrate. If we allow adaptive selection, we include as many formats as possible in the set of allowed formats. The actual selection then purely depends on network bandwidth.

I suppose we can add a config parameter to DefaultT

[2018-11-09 09:57] tonihei commented on #5082
Note that you can already do that manually by setting `SelectionOverride`s which only allow the tracks you like to be allowed.

[2018-11-09 10:00] PaulWoitaschek commented on #5082
Thanks for the quick reply. Yes, a config parameter to the `DefaultTrackSelector` would work for me!

[2018-11-09 10:07] PaulWoitaschek commented on #5082
How would I set a selection overwrite manually? When I create the `DefaultTrackSelector`, I don't know the tracks yet:

[code]

[2018-11-09 10:09] tonihei commented on #5082
Can you share an example DASH manifest with your values? It's not 100% clear how to apply this filter correctly given that the viewport size can have arbitrary dimensions. For example, do the 4:3 and 16:9 formats have the same bitrate?

[2018-11-09 10:11] PaulWoitaschek commented on #5082
Sure: https://gist.github.com/PaulWoitaschek/1fdd423799b8465b81e4757d4889f0cc

[2018-11-09 10:11] tonihei commented on #5082
You need to wait until the tracks are known (listen to `onTracksChanged`). I know that this is not ideal given that the player may already have selected to load a track you don't want to have.

[2018-11-09 10:19] PaulWoitaschek commented on #5082
Coudn't the parameters take a function where you could filter unwanted tracks?

[2018-11-09 10:40] tonihei commented on #5082
If you want to do something like that, you could override DefaultTrackSelector.selectVideoTrack, call the super method and then recreate the returned TrackSelection based on your additional constraints.

[2018-11-09 12:33] kozmabalazs opened #5083 "AesCipherDataSource unable to decrypt file."
### Issue description
I try to play encrypted audio content with ExoPlayer, but I am unable to figure out how AesCipherDataSource works. I copied the code from DefaultDataSource and I am wrapping DefaultHttpDataSource or FileDataSource with AesCipherDataSource to decode the stream. All the time I am getting UnrecognizedInputFormatException: None of the available extractors (...) could read the str

[2018-11-09 13:31] ojw28 commented on #2826
Thanks for the feedback! There aren't, but I think it's a good idea for us to try and publish more of our design documents externally. This was a bit of a trial run for doing that.

[2018-11-09 16:11] deRonbrown commented on #5050
I've determined the issue, and the cause is not due to a bug in ExoPlayer or the Cast extension. [This commit](https://github.com/deRonbrown/CastVolumeControlServiceTest/commit/0b2e037f96e4880e1063e2074b1ad8dd739def7a) in the [CastVolumeControlServiceTest](https://github.com/deRonbrown/CastVolumeControlServiceTest) fixes the issue.

After debugging and looking through the device's logs, I discover

[2018-11-09 17:41] AquilesCanta commented on #5050
I'll have a look. Thanks for doing the research!

[2018-11-09 17:41] keremkusmezer opened #5084 "Reverse Playback Support"
### Issue description
My application requires full reverse playback on media also i need a boomerang style video display in my application. Which in case requires a reverse playback therefore.

On IOS part i can implement that feature with ease because IOS AVPlayer support negative values on playback using Avplayer.rate parameter and it is a must have on my application.

### Reproduction steps
I h

[2018-11-09 20:24] hieplpwork opened #5087 "Player states when losing/gaining audio focus"
### Issue description
I am using built-in ExoPlayer audio focus support. My app UI is based on the Android-UniversalMusicPlayer which uses an animator to play the progress during playback. I want to receive Exoplayer states when the app audio focus is lost/gained in order to update the player progress bar accordingly. But it seems this feature has not been supported, or please let me know how to u

[2018-11-09 22:04] abhishekredspace opened #5088 "Exoplayer unable to play hls stream even after chunks getting downloaded."
### Issue description
I am facing an issue where I can see the TS chunks getting downloaded but the video playback does not start.

### Reproduction steps
Use the m3u8 which I sent to dev.exoplayer@gmail.com . I have sent a video link which demonstrates how to reproduce the issue.  I would like to point out that, the issue does not happen all the time so you might have to load a few times. I have

[2018-11-09 23:04] kevin-deep opened #5089 "How to inject a Renderer Array to SimpleExoPlayer object"
I use Exoplayer 2.9.0  and Audio 360
There are two renderers:

 val videoRenderer = MediaCodecVideoRenderer(mActivity, MediaCodecSelector.DEFAULT)
 val audioRenderer = OpusRenderer(mVideoHelper.audio360Sink)

I know how to inject it to an  Exoplayer Object:
val render = arrayOf(videoRenderer, audioRenderer)
Exoplyer exoPlayer = ExoPlayerFactory.newInstance(render ,DefaultTrackSelector())

However,

[2018-11-10 13:07] #5079 closed, assigned to AquilesCanta

[2018-11-10 16:43] AquilesCanta commented on #5083
So to sum up, seeking is not working. Is that the issue?

If so, I think you need to dig a little bit into how CTR mode works. My best guess is that you are using the initialization vector for the first block in a later block (the one you are seeking to). This is just a guess, but I think that is the most likely reason for your issue. I think you might have better luck asking in a general Q&A site

[2018-11-10 16:43] #5083 closed, assigned to AquilesCanta

[2018-11-10 16:45] AquilesCanta commented on #5084
Please see #2191.

[2018-11-10 16:45] #5084 closed, assigned to AquilesCanta

[2018-11-10 16:47] AquilesCanta commented on #5087
@nic0lette mind having a look at this? If this is not your area, please assign back to me!

[2018-11-10 16:57] AquilesCanta commented on #5088
Hi, have you tried a newer ExoPlayer version? The stream you've shared by e-mail works correctly for me on the dev branch.

Please let me know if you still have issues with the newer versions. If you do, please include a bugreport, as requested in the issue template.

We will reopen if needed.

[2018-11-10 17:01] AquilesCanta commented on #5089
Is your purpose only to inject specific renderers? If so, have you looked at methods like

[code]

which take a renderersFactory? Am I misunderstanding the question?

[2018-11-10 18:28] abhishekredspace commented on #5088
Thanks for your reply. I have not tried it on the newer version. At this moment, we cannot update to the latest version as we are close to our release and upgrading to the newer version would require complete regression testing.
I have sent the bug report as well. As I mentioned in the ticket description, the issue is not reproducible 100% times. So you might have to try a few times. If possible c

[2018-11-10 20:55] kevin-deep commented on #5089
RenderersFactory renderersFactory  does not extend renderers class. Can you make an example how to pass renderers to RenderersFactory?

Thanks,

[2018-11-10 22:15] majidebrahimii opened #5090 "How to play .ts video file from sdcard in exoplayer?"
I use Exoplayer 2.9.0, I want to show the .ts video file on the sdcard in the Exoplayer. How can this work?(I downloaded all segment of m3u8 and integrated them in one file)

[2018-11-11 16:40] sunnyadityaa commented on #4989
We want the notification to be removable when paused so we stop and start the foreground service accordingly. The player and NotificationManager is reset only if a new song is played. Not in the case of toggling the play pause button.

I will try and update with the suggested actions.

[2018-11-12 10:01] tonihei commented on #5082
I thought about your proposal again, but came to the conclusion that there is no clear way to support "onlyUseFormatsWithMatchingAspectRatio". The reason is that we currently only know the maximum viewport (not the current one) and only if provided by the user, that this viewport may have arbitrary dimensions not matching any of the available formats and that the viewport size may change without r

[2018-11-12 10:27] AquilesCanta commented on #5089
You'd need to implement RenderersFactory by doing something like:

[code]

Might be useful to look at the [abstract factory](https://en.wikipedia.org/wiki/Abstract_factory_pattern) design pattern. If you have any more questions along these lines, you'll have better results asking in a general Q&A site, like stack overflow.

[2018-11-12 10:27] #5089 closed, assigned to AquilesCanta

[2018-11-12 10:32] AquilesCanta commented on #5090
There is no difference with what you'd do for any other file, other than the permission requirement to read external storage. I'd suggest you add your file path to the demo app sample list, and go from there. Since the permission require runtime handling, that might be the harder bit. Remember that what you are trying to play is no longer HLS, but rather a progressive playback, so the media source

[2018-11-12 10:32] #5090 closed, assigned to AquilesCanta

[2018-11-12 10:36] ummerakbar45 opened #5091 "java.lang.IndexOutOfBoundsException:"
### Issue description
java.lang.IndexOutOfBoundsException:

### Reproduction steps
As such there is no way to reproduce the issue, we found this issue on playstore  crashes

### Link to test content
No Link available

### Version of ExoPlayer being used
  implementation 'com.google.android.exoplayer:exoplayer:2.9.0'

### Device(s) and version(s) of Android being used
Almost on all devices and on a

[2018-11-12 10:51] tonihei commented on #5091
Duplicate of #4939.

[2018-11-12 10:51] #5091 closed, assigned to tonihei

[2018-11-12 10:53] PaulWoitaschek opened #5092 "AudioFocus: Don't stop"
I use ExoPlayer 2.9.0.
I have a video that should always be playing on a loop. By default this video plays muted. When the player clicks button, he can toggle if it should be muted.

My audio attributes look like this:
[code]

When the user toggles the mute state, I update the volume and update my audio attributes:

[code]

However when the user now starts music, the video stops. Instead I need to

[2018-11-12 10:56] majidebrahimii commented on #5090
@AquilesCanta  I use ExtractorMediaSource and play a video but thumbnail seekbar and total time not showing when playing video.

[2018-11-12 11:00] PaulWoitaschek commented on #5092
My current workaround is to add a listener and if `plpayWhenReady` is false, to mute the player, tell exoplayer to not handle the focus, set it playing and tell it to handle the focus again.

[code]

[2018-11-12 11:26] tonihei commented on #5092
Not sure if it's related to #5055. Would be great if you can try to update to 2.9.1 and see if the problem still persists.

Otherwise, it would be helpful to get more detailed reproduction steps. I'm currently struggling to understand what's happening exactly and in what order. Please also provide the state of the player (playWhenReady and playbackState) at the time you call setAudioAttributes and

[2018-11-12 11:42] ojw28 commented on #5083
`AES/CTR/NoPadding` is used by `AesCipherDataSink` / `AesCipherDataSource` because blocks can be decrypted independently (i.e. there's no chaining from decoding one block to the next). So seeking should work when using that mode.

That said, there's not enough information provided for us to help with this issue. In particular it's unclear how you're actually producing the content ("using CipherOut

[2018-11-12 12:52] PaulWoitaschek commented on #5092
In 2.9.1 it's different, sorry for reporting with an outdated version.

My solution is now to update exoplayer to handle the audio-focus based on if it's muted or not:

[code]

And then mute in the listener (which updates the player to not handle autofocus) and continue playback:

[code]

I'm not sure if there is a better solution to support this, feel free to close if you don't think so.

[2018-11-12 12:53] ojw28 commented on #5072
We'll make a change to map `Player.STATE_ENDED` onto `PlaybackStateCompat.STATE_STOPPED`.

[2018-11-12 13:58] tonihei commented on #5092
Just checking I understand your question correctly:

- You have an endlessly looping video with a "mute" button to turn volume on and off.
- Current behaviour: Audio focus is handled by SimpleExoPlayer. So when some other app requests the focus, the player will pause (even if muted).
- Intended behaviour: If the player is already muted, continue playing even if the audio focus is lost. And if play

[2018-11-12 13:58] tonihei commented on #5087
Marking as enhancement because such a callback is currently missing (i.e. the player can silently switch state without letting the app know).

[2018-11-12 14:30] kozmabalazs commented on #5083
Thank you for your response.
@ojw28 I attached a small sample project with a method that encrypts a file and tries to play it with AesCipherDataSource.

**First problem:** As I said, decryption fails every time. I tried to copy the code from AesFlushingCipher to create my own IV and this way I was able to decrypt the stream. You can try yourself by switching lines 105 - 106 in CrypdedDefaultDataSo

[2018-11-12 14:54] majidebrahimii opened #5093 "How show all segments of one video from sdcard in one seekbar with total time of segments"
How show all segments of one video from sdcard in one seekbar whit total time of segments. I user ConcatenatingMediaSource but it play segment One after another but i want play all segments in one play. like when play from link hls. At first, I saved all the segments in a one file and showed exo player but could not get the all time, and the seekbar was hidden too.

[2018-11-12 15:33] tonihei commented on #5093
Please try the [multi-window timebar option](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerControlView.html#setShowMultiWindowTimeBar-boolean-) to enable this. Note however, that it doesn't work well with ExtractorMediaSources (see #4727).

[2018-11-12 15:42] ojw28 commented on #5093
For MPEG-TS you're probably going to be better off concatenating the files, as you were exploring in https://github.com/google/ExoPlayer/issues/5090.

[2018-11-12 18:07] ojw28 commented on #5083
I was able to make it work by changing the `encryptFile` method to:

[code]
and then using the normal `AesCipherDataSource` (i.e. switching lines 105-106 in `CryptedDefaultDataSource`).

So the problem was with how you were encrypting. It's easiest to use `CipherDataSink`, since `CipherDataSink` and `CipherDataSource` are designed to be used together.

If you want you can also set the `key` in the

[2018-11-12 19:19] shepiu opened #5094 "How to play DASH multicast chunks (.m4s) in Exoplayer."
### Issue description
We are receiving the .m4s chunk of the DASH(.mpd) media file from the multicast broadcaster using the UdpDataSource class but unable to play video(.m4s chunks) using DashMediaSource Factory.

Please let me know how to play .m4s chunks directly in Exoplayer?.

### Reproduction steps
Once we received the (.m4s) chunk and passed that chunk to DashMediaSource at that time Exoplay

[2018-11-12 19:26] majidebrahimii commented on #5093
@tonihei @ojw28  i use setShowMultiWindowTimeBar but seek bar and total time not correct. I initially decided to put all the segments in a file and play it(#5090 ), but it showed the total time zero and the seek bar was disabled(but MX Player play file very good). I decided to download the parts without altering and show that in this case, The exoplayer has a problem and the total time and seek ba

[2018-11-12 19:58] bexheti opened #5095 "IllegallStateException when playing DASH and HLS"
I am experiencing issues when playing H264 streams transported using DASH or HLS using ExoPlayer.
Searched for similar issues, but none of the proposed solutions/workarounds seem to work in my case.

### Issue description
When trying to play DASH or HLS streams I get an IllegalStateException at android MediaCodec.dequeueInputBuffer(Native Method).
I tried to blacklist the problematic decoder codec

[2018-11-12 20:17] AquilesCanta commented on #5079
Thanks a lot for this contibution! I'm sure someone will find this useful. We will keep this in mind in case someone asks for something similar.

[2018-11-12 21:42] ojw28 commented on #5090
The seek scrubber and total time should display as of 2.9.0 (but not earlier versions).

A two sentence issue description is almost by definition not sufficient for us to help you. Please provide complete information as is clearly requested in the issue template. For this particular issue a piece of sample media (i.e. the TS file after you've merged the chunks together) would help us to easily rep

[2018-11-12 21:43] ojw28 commented on #5093
Let's use #5090 to track doing this the right way.

[2018-11-12 21:43] #5093 closed, assigned to tonihei

[2018-11-12 21:45] ebr11 opened #5096 "nVidia Shield: HDR Mode not triggered for cropped content"
### Issue description
Videos that are HDR but have been cropped to non-full resolution (e.g. 2.35 aspect) are not triggering the HDR mode on the TV when played.  Items that are not cropped do turn on HDR properly.

### Reproduction steps
Play the following video on an HDR capable set.

### Link to test content
https://drive.google.com/file/d/1uQGkgw8fkkrMFyKQ4fl9aOvi6RuhLQHX/view

### Version of E

[2018-11-12 21:53] ebr11 opened #5097 "Improve MPEG-TS seeking support"
### Issue description
Not sure if this is a bug or incompatibility with a particular stream or other issue but seeking in a .TS file does not work in the new version.

### Reproduction steps
Play the following test content in the Demo app and the seek buttons will not be enabled.  When played in our app using Exo 2.9.1 any attempt to seek appears to try to do it but ends up just going back to the

[2018-11-12 22:29] jaganPeloton commented on #2600
Hello,

I have a similar use-case where I am defining alternative renditions (HLS spec https://tools.ietf.org/html/draft-pantos-http-live-streaming-20#section-4.3.4.2.1).

How can I use ExoPlayer on Android to select audio streams from a group - This is mainly to support multi-language audio over HLS streaming?

Thanks.

[2018-11-12 22:40] ojw28 commented on #5097
Increasing `TsDurationReader.DURATION_READ_PACKETS` fixes this. I tried 300 and that was enough. It's unclear how that value was chosen, and whether we should just increase it or do something more complicated. If we increase it, we probably need to increase `TsBinarySearchSeeker.TIMESTAMP_SEARCH_PACKETS` as well.

[2018-11-12 22:41] ojw28 commented on #5097
@botaydotcom - Was that value chosen to be an arbitrary value we thought was big enough? Or was there more logic to it than that :)?

[2018-11-12 23:09] ebr11 commented on #5097
Confirmed!

Thanks very much!

[2018-11-13 01:46] gongwen opened #5098 "Too many NetworkRequests filed"
java.lang.IllegalArgumentException
Too many NetworkRequests filed

--detail info
-use version com.google.android.exoplayer:exoplayer:2.8.2
-android version
![image](https://user-images.githubusercontent.com/7523615/48385304-e87cc800-e728-11e8-9059-5efa84f1647c.png)
-Weak network environment

Caused by:
--
5 java.lang.IllegalArgumentException:Too many NetworkRequests filed
6 android.os.Parcel.readE

[2018-11-13 02:56] AllenVork opened #5099 "ANR"
suspend all histogram:	Sum: 32.248ms 99% C.I. 3us-4856.319us Avg: 316.156us Max: 5225us
DALVIK THREADS (87):
"Signal Catcher" daemon prio=5 tid=3 Runnable
  | group="system" sCount=0 dsCount=0 obj=0x12c68940 self=0x7f9c897400
  | sysTid=13647 nice=0 cgrp=default sched=0/0 handle=0x7f9bdfc450
  | state=R schedstat=( 52628614 134385 84 ) utm=2 stm=3 core=5 HZ=100
  | stack=0x7f9bd02000-0x7f9bd04000

[2018-11-13 07:12] yy1415326206 opened #5100 "ExoPlayerImplInternal: Renderer error"
15:03:12.806 31903-18240/com.ydwx.yoyo E/ExoPlayerImplInternal: Renderer error.
    com.google.android.exoplayer2.ExoPlaybackException
        at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.throwDecoderInitError(MediaCodecRenderer.java:418)
        at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.maybeInitCodec(MediaCodecRenderer.java:405)
        at com.google.androi

[2018-11-13 07:12] yy1415326206 commented on #5100
version 2.6.0

[2018-11-13 07:25] ErezNe commented on #5000
Hi
Please send to my private email your private mail so I will share with you streaming link with catchup instruction

Thx
Erez

[2018-11-13 08:26] zhangabvc opened #5101 "The customer provides a ts stream, exoplayer can not play, but vlc can play normally, how to solve"
I uploaded the test stream to the URL, and you can download the ts stream from this website http://file.yiyuen.com/detail.html?id=884. I found that the order of the stream is to first output the audio data and then the video data, and then loop.
Who can know why?
![test-ts](https://user-images.githubusercontent.com/44994911/48400274-df0f5200-e760-11e8-9c8b-b036f5a07ccd.png)

[2018-11-13 08:30] kozmabalazs commented on #5083
Thank you @ojw28  for the explanation. So AesCipherDataSource is intended to be used only with files encrypted via AesCipherDataSink? It is not possible to use it with file encrypted by the server, probably in php?

[2018-11-13 09:13] tonihei commented on #5000
Please send the link to dev.exoplayer@gmail.com with "Issue #5000" in the subject.

[2018-11-13 09:28] tonihei commented on #5098
That looks to me as if you are starting the DownloadService too often and the system stops accepting the requests at some point. I'd suggest to add a log output to the method to see how often it's called.

Generally, I don't think this is an exception we should catch because the DownloadService would malfunction without letting you know.

@erdemguven May be able to add more details.

[2018-11-13 10:45] AquilesCanta commented on #2600
Multi-language HLS should just work. Try it on our demo app and let us know if you run into any issues.

[2018-11-13 10:49] AquilesCanta commented on #5078
We need to identify the device to do anything about it. I will be closing the issue until the missing information is provided.

[2018-11-13 10:49] #5078 closed, assigned to AquilesCanta

[2018-11-13 11:44] ojw28 commented on #5083
As long as your server encrypts in exactly the same way as `AesCipherDataSink` does, it should work fine. What you can't expect is to encrypt slightly differently and still have everything just work, for fairly obvious reasons :).

[2018-11-13 12:15] majidebrahimii commented on #5090
@ojw28 I use exoplayer 2.9.0 . Need special settings for displaying total time and Seek Bar? This link file is made from downloaded parts:

https://files.fm/f/2wjhpj6h

I play this file in MX Player and defualt player my phone without problem( Samsung Galaxy Note 3).
Tell me if you need to code. Thank you for your help.

[2018-11-13 12:16] ojw28 commented on #4780
It's interesting that section 4.4.3.1 describes `minimumUpdatePeriod` being removed when a live stream is terminated. I wonder if it's an omission that section 4.5 doesn't contain a similar clause. I'm still confused about how a client is supposed to know that the manifest isn't going to be changed (specifically the removal of content from the start of the window), if `minimumUpdatePeriod` has not

[2018-11-13 12:29] ojw28 commented on #4780
I've filed https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/213 to discuss whether `minimumUpdatePeriod` should be removed in this case.

[2018-11-13 12:29] gongwen commented on #5098
In class DownloadService.RequirementsHelper,Is there such a possibility? When the requirementsNotMet is called, the DownloadService will be started(context.startService). If the DownloadService is not alive at this time, RequirementsHelper.start will be called to add the network listener. At this time, the requirementsNotMet may be called again, forming a loop call, causing such a problem.

[2018-11-13 12:33] ojw28 commented on #5090
Your issue is a duplicate of #5097.

[2018-11-13 13:35] tonihei commented on #5098
@erdemguven Can you take a look?

[2018-11-13 14:51] tonihei commented on #5094
The error message indicates your manifest is malformed xml. Can you provide us with example media to investigate further?

[2018-11-13 16:01] tonihei commented on #5095
There is probably nothing we can do about that error. As you already pointed out, it's a device specific issue. We have a couple of workarounds for known device specific issues but none looks likely to apply in this case.

[2018-11-13 16:01] #5095 closed, assigned to tonihei

[2018-11-13 16:27] tonihei commented on #5099
That's most likely an issue with the device not handling surface switching properly.

To add the workaround to our code please let us know the BUILD.DEVICE and BUILD.MODEL values, as well as the used codec. This would also be part of the bugreport which we request for each reported issue.

[2018-11-13 16:43] tonihei commented on #5100
Please provide the full information requested in the [issue template.](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE)

[2018-11-13 17:55] hieplpwork commented on #5087
Hello,
Thanks for your consideration on this issue. Could I expect this feature
support in the next library version? If yes, do you have  a timeline for
the new version release?

Best Regards,
Hiep

On Mon, Nov 12, 2018 at 7:59 AM tonihei <notifications@github.com> wrote:

[2018-11-13 18:28] shepiu commented on #5094
I have mailed you a broadcaster from where I am receiving the .m4s, you can try it and let me know how to play those chunks in Exoplayer.

[2018-11-13 18:54] majidebrahimii commented on #5097
@ojw28 @ebr11 How use TsDurationReader.DURATION_READ_PACKETS and TsBinarySearchSeeker.TIMESTAMP_SEARCH_PACKETS for fix bug? Can you give me an example code?

[2018-11-13 19:15] ojw28 commented on #5087
It will be in the next release. We don't have a timeline.

[2018-11-13 19:16] ojw28 commented on #5087
Oh wait, sorry, I thought this was a different issue. Please disregard my statement above.

[2018-11-13 19:18] ebr11 commented on #5097
Hi.  As indicated above, just set those values to 300 instead of their current 200.

[2018-11-13 19:28] majidebrahimii commented on #5097
@ebr11 Hi. I use version 2.9.1 but unknown this line code:
` TsDurationReader.DURATION_READ_PACKETS = 300
`
 How did you do it?

[2018-11-13 19:29] ojw28 commented on #5097
@sarabellaa You need to have the ExoPlayer code checked out as source. There is no API that you can use to modify the values.

[2018-11-13 19:33] ojw28 commented on #5097
Things we should look at to fix this properly:
* Possibly increasing the values of `TsDurationReader.DURATION_READ_PACKETS` and `TsBinarySearchSeeker.TIMESTAMP_SEARCH_PACKETS`. We might want to look at the `PsExtractor` equivalents as well, although it's hard to determine that the existing values are unsuitable without seeing some sample media. This may only be an intermediate solution.
* Using a

[2018-11-13 19:33] majidebrahimii commented on #5097
@ojw28 Thankful. Yes, I saw it in Sample code and I was looking for access. Do not provide a new version that solved this problem?

[2018-11-13 19:34] ojw28 commented on #5097
A fix will be provided in a future release. We do not have a timeline for this at this point in time.

[2018-11-13 19:56] majidebrahimii commented on #5097
@ojw28 Thankful. I will wait for the new version and fix the problem.

[2018-11-13 20:10] ofuwape opened #5102 "How does downloading HLS m3u8 files work?"
This is a question about documentation.
I did not find this on the blog or in the developer guide. Is there documentation that explains how the m3u8 file is downloaded? Are the ts chunks downloaded in parallel? or sequentially?
Are the ts chunks merged after all downloaded chunks are successful?
Is there a possibility of having the option to select the maximum number of ts chunks that can be downl

[2018-11-14 01:47] yy1415326206 commented on #5100
I/ExoPlayerImpl: Init cb69fb2 [ExoPlayerLib/2.6.0] [o5ltechn, SM-G5500, samsung, 22]
11-14 09:46:26.081 18705-18705/com.ydwx.yoyo D/skia: --- SkImageDecoder::Factory returned null
11-14 09:46:26.086 18705-19059/com.ydwx.yoyo I/System.out: (HTTPLog)-Static: isSBSettingEnabled false
11-14 09:46:26.086 18705-19059/com.ydwx.yoyo I/System.out: KnoxVpnUidStorageknoxVpnSupported API value returned is fal

[2018-11-14 01:48] yy1415326206 commented on #5100
private void initPalyer() {
        BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory trackFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);
        TrackSelector trackSelector = new DefaultTrackSelector(trackFactory);
        mPlayer = ExoPlayerFactory.newSimpleInstance(mActivity, trackSelector);
        simpleExoPlayerView.setResizeMode(Aspec

[2018-11-14 08:21] Curwer-zz commented on #5063
@ojw28 Hi, any updates on this issue?

[2018-11-14 09:14] rakki-cbe commented on #2707
@tresvecesseis I used dev-v2-rtp-test branch  i too have the same problem.  I debug it, it  shows error in NokiaFastChannelChangeSource class ->open method fails on  dataSource.write(rtcpAppPacket, 0, rtcpAppPacket.length);

Error what i got is  destination address is null.

[2018-11-14 09:40] giladna opened #5103 "Apple HLS Sample is not playing - java.security.cert.CertPathValidatorException"
Hi,

I am running the demo app for version 2.9.0

I am using Pixel Device with Android 9 (28)

I am unable to play any media From The HLS Apple samples

(Using nexus 6 Android N (25)it is working fine)

This error is coming in logcat:
java.security.cert.CertPathValidatorException: OCSP response does not include a response for a certificate supplied in the OCSP request

I have found out that if I w

[2018-11-14 09:52] saiday commented on #5013
ExoPlayer 2.9.1 had been released, not including this patch unfortunately.
@erdemguven Do you have any chance to know when this patch will be released? I'm planning an app update depend on this.

Thank you.

[2018-11-14 09:59] tonihei commented on #5102
Did you read [this blog post ](https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e )by any chance? It explains how the HLS variants for downloading are selected.

The number of simultaneous downloads can be specified when creating the DownloadManager (default is 1, that is sequential downloads). All the chunks will be downloaded separately and not merged together.

[2018-11-14 10:05] tonihei commented on #5100
It seems the decoder on this device doesn't support the format:
11-14 09:46:26.206 18705-19058/com.ydwx.yoyo D/MediaCodecInfo: NoSupport [sizeAndRate.support, 1280x2768x-1.0] [OMX.Exynos.avc.dec, video/avc] [o5ltechn, SM-G5500, samsung, 22]

If you attach an EventLogger to ExoPlayer (`mPlayer.addAnalyticsListener(new EventLogger(trackSelector))`), you should hopefully see a line with the format wh

[2018-11-14 10:11] erdemguven commented on #5013
@ojw28 Is there a blocker for this change?

[2018-11-14 10:23] ojw28 commented on #5013
It wasn't included in 2.9.1 only because it looked like quite a big change for a minor release (and not sufficiently important). I can take a look at putting it in 2.9.2, but it'll probably be in 2.10.0 instead. There is no timeline for this release currently.

[2018-11-14 10:52] nishant-castleglobal commented on #4086
I am facing the same/similar issue when opening this media in exoplayer.

@marcinOz can you help me with the temporary workaround that you mentioned. Or any other way to fix this issue.

https://hive-moderation.akamaized.net/72853fea-73eb-4afe-a1f5-5da7af7d8768?__token__=exp=1542195775~hmac=a809c77c5ebdc22a1688b1a7c8dcd599e3ba4e731817bf380aeefc3131c0e9e8

[2018-11-14 11:02] saiday commented on #5013
@ojw28 thank you for clarification
I totally understand your release decision.

Here are my two cents, this patch is essential for custom cache key if using `DownloadManager`. I haven't found an alternative way to achieve the purpose.
Since `DownloadManager` is your newly recommended way to download streams ([Downloading Streams](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95

[2018-11-14 11:44] tonihei commented on #5094
Can you send an example of the manifest instead? I don't think I can run the server myself locally.

[2018-11-14 12:29] tonihei commented on #5101
There seem to be some issues with the m3u8 playlist file:
- As you provided it as a zip file, it's not updating automatically and thus I needed to add a #EXT-X-ENDLIST to be able to play it at all. (May not be an issue if it comes from an actual live stream)
- The playlist includes the same ts files twice. This is allowed, but needs a #EXT-DISCONTINUITY tag between them to work correctly.

@Aquile

[2018-11-14 12:49] tonihei commented on #5103
Can you provide more details about the source of the error? Where exactly in the ExoPlayer code does it occur?

Generally, it seems that's something an app should do itself (see [here](https://developer.android.com/training/articles/security-gms-provider)) to update the security provider. However, it also seems that not updating the security provider shouldn't lead to an exception.

I'm not sure w

[2018-11-14 13:10] ofuwape commented on #5102
@tonihei Thanks for the feedback. I see DEFAULT_MAX_SIMULTANEOUS_DOWNLOADS is 1 but that is when one is trying to download several different videos.
A single HLS m3u8 can contain multiple ".ts" chunks, so I am referring to the option to be able to download multiple chunks of 1 HLS file in parallel.

[2018-11-14 13:37] ofuwape commented on #5102
I am looking at the SegmentDownloader from the HlsDownloader class and it seems to be downloading segments sequentially:
<img width="740" alt="exoplayer_hlsdownloader_segmentdownloader" src="https://user-images.githubusercontent.com/7673320/48486054-6c49b980-e7e8-11e8-9e7c-e4b53d404711.png">

[2018-11-14 13:49] tonihei commented on #5102
I don't think there is such an option right now.

@erdemguven Do you reckon we should add one in the future and mark this as an enhancement? Or is there a good reason not to support this?

[2018-11-14 13:57] meenukrishnamurthy opened #5104 "Downloading hls offline video without using download action"
I am using the latest version of exoplayer and i want to implement offline download fucntionality.I have checked your example in the demo app.You have used download action for selecting which stream has to be downloaded(i.e 1080p or 480p etc).Can it be done in any other way as i dont wish to use download action.In the youtube app also the have not used download action i guess because i have not se

[2018-11-14 14:08] tonihei commented on #5104
Videos can also be cached while playing the video just by using CacheDataSource. What exactly is the problem with using DownloadAction?

[2018-11-14 16:36] BetweenTwoBits opened #5105 "AdsMediaSource isn't documented in the developer guide."
The developer guide has a wonderful section on [MediaSources](https://google.github.io/ExoPlayer/guide.html#mediasource), but doesn't mention the AdsMediaSource. Having docs around the benefits and use cases would be immensely useful.

[2018-11-14 16:58] tonihei commented on #5105
Good point. I'll mark this as an enhancement to add a section about ad playback in general.

[2018-11-14 18:50] sajjadyousefnia opened #5106 "playing instagram cache chunks"
I want to play instagram videocahce chunk files which have .exo format, how can i play them with cachedatasource in exoplayer?

[2018-11-14 22:31] ofuwape commented on #5102
@ojw28 any ideas?

[2018-11-14 22:46] giladna commented on #5103
@tonihei
It is reproduced easily on Pixel Emulator with API 28
select the HLS and one of the Apple streams you will see Playback failed error

this is the exception that is received without the code I shared

[code]

[2018-11-14 22:59] giladna commented on #5103
@tonihei
Any way in order to fix the issue the demo sample should add this code unless some other decision is taken

[2018-11-15 01:56] zhangabvc commented on #5101
The original is a live stream, I downloaded a ts stream, what you said is not a problem.
The live stream is http://45.248.164.201:80/AASTHA/index.m3u8

[2018-11-15 05:34] chakravarthidantu opened #5107 "MPEG-TS: Support Mpeg-4 Part-2 streams"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-11-15 06:16] chenwu80 opened #5108 "Exoplayer can not play some HLS video stream just only playback audio"
Issue description
I am facing an issue where my exoplayer can not playback H.264+AAC hls stream.It just has only sound track, can not be play video track.

Reproduction steps
Use the m3u8 Link [http://119.36.240.18:8099/HLStest/Indeltestvod/index.m3u8](url) to playback please.
Exoplayer just only play audio sound.But when I used PC/Android side tools such as VLC app, it can be playback correctly.

[2018-11-15 06:56] meenukrishnamurthy commented on #5104
There is no problem actuallu.I just wanted to know the use of downlaod action.What is the purpose of using it.

[2018-11-15 07:29] nicusorflorin commented on #1583
Will this allow IMSC subs to be rendered as well?

[2018-11-15 09:02] tonihei commented on #5106
That's a duplicate of #4937.

Given that the downloaded files are not from your app, you probably shouldn't play them anyway. They may also be encrypted.

[2018-11-15 09:02] #5106 closed, assigned to tonihei

[2018-11-15 09:33] tonihei commented on #5104
It's used to define what DownloadManager is supposed to do (e.g. download media, remove media, etc.). Please have a look at the demo app to see how it can be used.

[2018-11-15 11:03] goodibunakov opened #5109 "How to extends DefaultHlsExtractorFactory?"
Everywhere just write that it solves some problems with hls streams (https://github.com/google/ExoPlayer/issues/3712#issuecomment-357929794). But how to realize this? Can somebody show the example?

[2018-11-15 11:03] goodibunakov commented on #5109
https://github.com/google/ExoPlayer/issues/3712#issuecomment-357929794

[2018-11-15 11:32] shepiu commented on #5094
Hi team,
I have mailed you an manifest file along with the .m4s chunk URL, please have a look into it.

In our application, we are streaming the live channels using the MPEG-DASH streams. we are able to play DASH streams (.mpd) directly in Exoplayer using the DashMediaSource and DefaultDashChunkSource.Factory. Now we want to implement the multi-casting for DASH streams, for that we have implemente

[2018-11-15 12:39] SystemRestored opened #5110 "Required output protections are not active"
I am playing a widevine drm dash stream. In android 4.4 its working and in most other devices its not working.  In pie android 9.0 I observed the error code:

`[OMX.google.h264.decoder] setPortMode on output to DynamicANWBuffer failed w/ err -1010
   Required output protections are not active`

what's the meaning of this and how to solve it?

[2018-11-15 12:40] tonihei commented on #5109
You can't extend it because it's final. But if you'd like to reuse the functionality, consider wrapping it in a new HlsExtractorsFactory.

[2018-11-15 13:45] ErezNe commented on #5000
Hi
I sent the link to  dev.exoplayer@gmail.com  mail
Thx

[2018-11-15 14:27] freaksgit opened #5111 "Allow adaptive track groups for both audio and video (+allow mixed-sample-rate audio adaptation)"
Could you please tell, is there simple way to skip chunk on any exception.
For example, I have a DefaultDashChunkSource. There occured 404 http error when I was trying to load chunks. Can I skip the problem chunks and resume playing the stream?

[2018-11-15 14:30] tonihei commented on #5111
Generally, we already blacklist a format if it fails to load and try loading other formats instead. Can you describe your specific case in more detail?

[2018-11-15 15:49] MickeyBadBad opened #5112 "Playing Partly Encrypted File."
I find exoplayer can play fully aes encrypted mp4 file.
I implement the FileDataSource Class to play a partly encrypted mp4 file, the file size is like 100mb, head part is decrypted, head size is 5mb. my code can play the file now, but seeking time to the head part will trap in a dead loop (open read close) loop.
ExoPlayer Version: 2.7.1
Device: Mi 8
I think the problem is in try command in read f

[2018-11-15 16:06] tonihei commented on #5112
Your code looks roughly right, but please be aware that we can't debug any custom app code in detail. I'd suggest to step through with a debugger to see why your code stopping or doing weird things.

[2018-11-15 17:45] goodibunakov commented on #5109
@tonihei actually i'd like to see example of realizing this https://github.com/google/ExoPlayer/issues/4861#issuecomment-424700994.

[2018-11-15 17:50] tonihei commented on #5109
These flags can be set when creating the DefaultHlsExtractorFactory in the constructor. Does that help?

[2018-11-15 18:16] ofuwape commented on #5102
Closing the issue now. Found a similar open issue here: https://github.com/google/ExoPlayer/issues/4273

[2018-11-15 18:16] #5102 closed, assigned to erdemguven

[2018-11-15 18:44] goodibunakov commented on #5109
@tonihei sorry, but... Can you show a piece of code how to use this flags with HlsMediaSource?..

[2018-11-15 18:47] gamepro65 commented on #3918
As @erdemguven mentioned with TextRenderer I also noticed if using ClippingMediaSource while the player is playing it will continue playing and rendering captions past the clip end until it reads the last caption to finally trigger its isEnded flag.

[2018-11-15 22:09] ronak2121 commented on #4883
Apologies, I've updated the above links.

[2018-11-16 13:52] ojw28 commented on #4883
There are few things missing:

For FLAC:
1. We don't handle `codecs="fLaC"` in the DASH manifest
1. We don't handle the `fLaC` atom in the MP4 container

For Opus:
1. We don't handle the `Opus` or `dOps` atoms in the MP4 container

Adding in support for these is pretty easy, and gets both streams working. Note that for the streams to work, you either need a device that has platform decoders for FL

[2018-11-16 14:09] ojw28 commented on #4780
This should be fixed in `dev-v2`. We opted not to split `isDynamic` for now, but for DASH we've set it to the value that means end detection should work correctly. I would be grateful if someone could give the `dev-v2` branch a try and verify the fix. Thanks!

[2018-11-16 14:09] #4780 closed, assigned to ojw28

[2018-11-16 14:10] ojw28 commented on #5097
Fixed in `dev-v2`.

[2018-11-16 14:12] ojw28 commented on #5097
Actually, I'll leave this open to track further improvements as mentioned above. Also, it's still possible that we may not enable seeking for some high bitrate streams, if even the increased constants aren't sufficient.

[2018-11-16 14:12] #5072 closed, assigned to marcbaechinger

[2018-11-16 14:18] ofuwape commented on #4273
@erdemguven @ojw28 Any update on this feature?

[2018-11-16 16:50] arcalumis opened #5113 "cancel"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-11-16 17:07] #5113 closed, assigned to nobody

[2018-11-16 22:07] tao-qian commented on #3521
Running into the same issue when using ConcatenatingMediaSource. Solution suggested by @mikal-ustad doesn't seem to be an option because it requires modifying the ExoPlayer library code.

[2018-11-17 16:20] csshuai opened #5114 "Decoder init failed: OMX.qcom.video.decoder.vp8"
### Reproduction steps
Play: https://upload.wikimedia.org/wikipedia/commons/c/c0/Big_Buck_Bunny_4K.webm

### Version of ExoPlayer being used
2.9.1

### Device(s) and version(s) of Android being used
XIAOMI MI 4LTE android 6.0.1, API 23

### A full bug report captured from the device
[code]

[2018-11-17 18:54] surajm14 commented on #5108
Hi,  we are facing same problem,  MPEG 4 HD of resolution  1080p and 1920 cannot play in mobile,  720p plays fine.

We tried to set parameters in defaulttrackfactory by setvideosize to 1080, instead of default sdsize but it fails to take

[2018-11-18 10:44] freaksgit commented on #5111
In my case, an 404 http error occurs when loading an audio track (Dash streaming) when one or more audio chunks are needed. I decided to skip the missing chunks. As far as I understand, the Blacklist does not work as I need, it switches to another audio track, although it could just switch to another bitrate.

Questions: Is it possible to skip problem chunks? Is it possible to somehow configure th

[2018-11-19 00:55] michalliu commented on #5079
Thanks,the hevc soft decoding extension is working pretty good currently.We still have a few issues to resolve though still WIP.I'll publish my progress in this thread.
The mediaplayer extension is mature, we already use it at our production environment with billions of users.

[2018-11-19 08:45] goodibunakov commented on #5109
I try this DefaultHlsExtractorFactory defaultHlsExtractorFactory = new DefaultHlsExtractorFactory(FLAG_ALLOW_NON_IDR_KEYFRAMES); does not work....

[2018-11-19 09:51] AchibanaUkyo opened #5115 "OfflineLicenseHelper doesn't support customer drm callback anymore"
Hi, From the commit c661ed42de666cbd6043dc6d43acd24058b67e8a the mediaDrmCallback has been removed from the OfflineLicenseHelper newWidevineInstance and application can't access the callback created inside the OfflineLicenseHelper, then we can't send customer http header for the license request.
Anyone knows how to pass the specific header when requesting the offline license then?
Thanks

[2018-11-19 11:35] okycelt commented on #5003
@tonihei Have you made any progress regarding this? Thank you.

[2018-11-19 11:46] tonihei commented on #5003
No, sorry. Haven't got a device yet.

[2018-11-19 12:11] JokerLi opened #5116 "Why does PlayerControlView disappear in screen"
### Issue description
We embed ExoPlayer into our app, and play online videos, sometimes the PlayerControlView may disappear. we look for the reason by hierarchy viewer, and find out that the measuredWidth and measuredHeight of PlayerControlView are 0, but the visibility is VISIBLE. We tried to change many different version, but this problem always exist.

### Version of ExoPlayer being used
r2.5.

[2018-11-19 12:22] marcbaechinger commented on #5115
To add custom http headers for the license request you can use

[code]
The last parameter is a map of optional parameters used when doing the key request.

https://github.com/google/ExoPlayer/blob/f7ed789fc3841b2536f5629c6bb10f4cb4ee5130/library/core/src/main/java/com/google/android/exoplayer2/drm/OfflineLicenseHelper.java#L94

[2018-11-19 12:22] okycelt commented on #5003
@tonihei If you'd like, we would be willing to provide a test device for you. For free of course.

[2018-11-19 12:22] #5115 closed, assigned to marcbaechinger

[2018-11-19 12:31] ojw28 commented on #5115
I don't think that's quite the same thing, because those parameters go into the key request rather than being sent as HTTP headers.  You can still do what you need by using the `OfflineLicenseHelper` constructor directly, rather than the `newWidevineInstance` static method. For example:

[code]

[2018-11-19 12:40] goodibunakov commented on #5109
@tonihei May i use 2 flags for DefaultHlsExtractorFactory() constructor?

[2018-11-19 12:54] #5045 closed, assigned to andrewlewis

[2018-11-19 12:57] #4690 closed, assigned to andrewlewis

[2018-11-19 13:00] Eyliss opened #5117 "Player stops when in background in Android O and Pie"
### Issue description
My application uses Exoplayer for playing music streams and I have noticed that, after a while, the player stops running when the application is on background for Android Oreo and Pie. I have already migrate the implementation for starting the player service on foreground according the Android background execution limits.

Since I haven't experience the issue in the exoplayer

[2018-11-19 13:16] MNGsulochana opened #5118 "will you please share the entire code related to switching between multiple subtittle languages,I am new to Exoplayer"
will you please share the entire code related to switching between multiple subtittle languages,I am new to Exoplayer

[2018-11-19 13:45] andrewlewis commented on #4722
@ZohaibGhafoor Do you have a working ad tag for reproducing this issue? I am trying to verify that it's fixed with the latest IMA SDK 3.10.2 but the ad tag provided above no longer works.

[2018-11-19 13:53] tonihei commented on #5109
Yes, these flags can be combined using the `|` operator.

[2018-11-19 13:55] andrewlewis commented on #5005
@anhlevfx Sorry for the delay in looking at this. I tried the ad tag provided via email but it is now serving empty ad groups. Please could you check it and provide an updated ad tag if needed?

To speed things up, please could you also check whether your ad tag plays correctly (without rewinding after the midroll) in the ExoPlayer demo app? I wonder whether the added callbacks in your code might

[2018-11-19 13:55] ojw28 commented on #5108
This seems identical to #5107. Marking as a duplicate.

[2018-11-19 13:55] #5108 closed, assigned to AquilesCanta

[2018-11-19 13:56] ojw28 commented on #5107
Note - More test streams are in the ref'd issue (which may or may not be exactly the same issue - it's worth checking those ones too).

[2018-11-19 14:06] andrewlewis commented on #4140
Note: this is still reproducible using IMA SDK 3.10.2.

[2018-11-19 14:17] tonihei commented on #5107
Could be that the ref'd issue is different after all. This stream (#5107) apparently doesn't detect a video track at all, whereas the other one (#5108) detects a track but only shows a black screen.

[2018-11-19 14:19] AchibanaUkyo commented on #5115
Yes, thanks, that's doable:)
BTW, the optionalKeyRequestParameters is really ambiguous... I missunderstood is same with @marcbaechinger . even the playlist uses "drm_key_request_properties" but it's the http headers.

[2018-11-19 14:31] andrewlewis commented on #4779
This is still reproducible on IMA SDK 3.10.2 unfortunately.

Testing using the ad tag provided via email, I found that the preroll ad did play correctly if I inlined the VAST response from the first ad break in a `<vmap:VASTAdData>` element, but it didn't play if I left the ad tag URI there. So I think something is stopping the IMA SDK from handling the expected ad response.

@jazimm It's difficul

[2018-11-19 14:40] tonihei commented on #5094
I tried the provided manifest and it can be parsed fine. However, I wasn't able to play the streams because the content is encrypted. Can you provide a non-encrypted test stream or the DRM license for this one?

[2018-11-19 14:43] tonihei commented on #5111
I'm not sure I understand your problem correctly. "Another track" and "another bitrate" seem to be the same thing. If not, can you elaborate on your exact use case?

[2018-11-19 15:19] tonihei commented on #5003
Thanks for the offer, but that's probably too complicated. Would you reckon [this device](https://www.ebay.co.uk/itm/A95x-Amlogic-S905X-1GB-8GB-HDMI-4K-WiFi-Android-6-0-Internet-Media-Player-TV-BOX/382558430112?_trkparms=aid%3D555017%26algo%3DPL.CASSINI%26ao%3D1%26asc%3D55148%26meid%3D1fd30876722846f9800f1a9c9f83c66b%26pid%3D100505%26rk%3D1%26rkt%3D1%26%26itm%3D382558430112&_trksid=p2045573.c10050

[2018-11-19 15:25] tonihei commented on #5021
I assume the question was answered. Closing the issue, but feel free to reopen if needed.

[2018-11-19 15:25] #5021 closed, assigned to tonihei

[2018-11-19 15:27] tonihei commented on #5092
I'll close this issue under the assumption the question was answered. #5087 is still open to track adding a more suitable callback you can use to update the muted sate.

[2018-11-19 15:27] #5092 closed, assigned to tonihei

[2018-11-19 15:30] marcbaechinger commented on #5116
The PlayerControlView consists of nested LinearLayouts which all have a layout_height attribute of wrap_content. So it will have the height of the contents contained in the layouts.

When it disappears with a measuredHeight of 0, what's contained in the PlayerControlView when you look into the hierarchy viewer? Did you apply any customization of the content of the PlayerControlView?

[2018-11-19 15:31] abhishekredspace commented on #5088
Hi,
I have tested this on 2.9.1 version and I am able to reproduce it. Please reopen the ticket and have a look.
Consequently, I have updated the ticket description.

[2018-11-19 15:40] marcbaechinger commented on #5117
Seems like the system is killing your service. Do you find something in the logs when this happens?

Since Oreo you need to start the service with [Context.startForegroundService](https://developer.android.com/reference/android/content/Context#startForegroundService(android.content.Intent)) and then in the service call [Service.startForeground(int, android.app.Notification)](https://developer.andr

[2018-11-19 15:43] marcbaechinger commented on #5114
Are you seeing this on this very device only?

[2018-11-19 16:20] okycelt commented on #5003
Looking at the specs, I think it could be. The problematic box we use has the same specs.

[2018-11-19 16:23] Sylvain-interactive opened #5119 "Sensor Type in SphericalSurfaceView class"
Hi,
Would it be possible to choose the Sensor type between TYPE_GAME_ROTATION_VECTOR and TYPE_ROTATION_VECTOR or change the way it is selected in the SphericalSurfaceView class by checking if the TYPE_GAME_ROTATION_VECTOR is present in the device.

Because my device, a Samsung SM-T700 API 23 does not possess the  TYPE_GAME_ROTATION_VECTOR but your check "Util.SDK_INT >= 18 ? Sensor.TYPE_GAME_ROTAT

[2018-11-19 16:33] marcbaechinger commented on #5118
The demo app does this and has all the code for selecting tracks. It uses the TrackSelectionView to create a SelectionOverride in [TrackSelectionView.onTrackViewClicked](https://github.com/google/ExoPlayer/blob/afba6386d333b993777ba74a81d7d8c9d2f808f7/library/ui/src/main/java/com/google/android/exoplayer2/ui/TrackSelectionView.java#L298)

I'd suggest to add your stream containing text tracks to th

[2018-11-19 16:34] zapper64 opened #5120 "HLS/DASH streams only select a bitrate once, at the start. How do I get exoplayer to adapt during playback?"
Using exoplayer v2.9.1 on Android 8.0

I'm playing a wide range of live and fixed HLS and DASH streams over ethernet. Here's a synopsis of the exoplayer setup code:

    bandwidthMeter = new DefaultBandwidthMeter();
    mediaDataSourceFactory = new DefaultHttpDataSourceFactory(Util.getUserAgent(mActivity, "ottExoPlayer"), (TransferListener) bandwidthMeter);
    hlsMediaFactory = new HlsMediaSource

[2018-11-19 18:52] jinfanzon opened #5121 "Exoplayer Cast Extension live streaming end of buffer position"
### Issue description

I've built a player that streams live channels. So I've implemented the Cast extension, but I'm having a hard time to make the stream start at the end of the buffer position, since it is live stream.

Currentlty I'm starting from the beginning of the buffer, but I need to be the closest as I can to live:

`PendingResult result = mCastPlayer.loadItem(new MediaQueueItem.Builde

[2018-11-19 20:13] giladna commented on #5103
Any suggestion for this?
Do you consider the above code to sample app at least so it will play the HLS streams?

10x
Gilad

[2018-11-19 20:47] tonihei commented on #5103
Maybe. Currently investigating if that's supposed to happen.

On Mon, 19 Nov 2018, 20:14 Gilad Nadav <notifications@github.com wrote:

[2018-11-19 21:22] ghost commented on #4253
@erdemguven Any update for sub cache folders? PR?

[2018-11-20 03:02] marcochin opened #5122 "ExoPlayer 2.9.1 HLS videos in demo app do not play"
Open the demo module and the HLS videos from apple do not play.

Might be worth investigating. Works if you open m3u8 in Safari.

**Using:**
ExoPlayer 2.9.1 2009001, Google Pixel(Android 9.0), Nvidia Shield(Android 8.0)

Getting this error:
[code]

[2018-11-20 05:16] MuviDeveloper opened #5123 "Unable to Play offline Protected DRM content in Exoplayer 2"
### Issue description
I had gone through @erdemguven https://gist.github.com/erdemguven/8c5fb4d87f084456c81245f553ba3a2f and modified the changes according to that and was successful in downloading the DRM content but to play it still requires internet connection and when trying to download the licence key using OfflineLicenceHelper class it gives out 403 error.

"byte[] offlineLicenseKeySetId = o

[2018-11-20 05:35] hleh commented on #5057
It was brought to my attention that sometimes the stream is unavailable. If you are able to take a look, I can make a request to keep the stream available for a fixed period of time. Just let me know of the when.

[2018-11-20 06:04] goodibunakov commented on #5109
@tonihei i did:
`DefaultHlsExtractorFactory defaultHlsExtractorFactory = new DefaultHlsExtractorFactory(FLAG_DETECT_ACCESS_UNITS | FLAG_ALLOW_NON_IDR_KEYFRAMES);
Uri uri = Uri.parse(url);
        MediaSource mediaSource = new HlsMediaSource.Factory(dataSourceFactory)
                .setExtractorFactory(defaultHlsExtractorFactory)
                .setAllowChunklessPreparation(true)

[2018-11-20 07:28] shepiu commented on #5094
Okay, that is the problem which I am facing.
I am successfully able to play the manifest file as it doing the unicasting i.e we are directly initializing the Exoplayer with .mpd file URI but when I tried to play the (.m4s) chunks which I am receiving from the multicast address (224.100.0.1), It is giving me the above XmlPullParserException.

Here is the code how I am preparing the DashMediaSource

[2018-11-20 07:28] freaksgit commented on #5111
So, I have a videotrack and an audiotrack. Audiotrack exists in three different bitrates:

[code]

Player.DefaultEventListener.onPlayerError(e: ExoPlaybackException) is triggered on 404 HTTP error (chunk resource is not found) without switching to another bitrate...

I can switch to another bitrate manually, but I thought that it works such way out of the box.

[code]

I think my issue is in wrong

[2018-11-20 07:55] akhil7687 opened #5124 "Encrypted datasource from url"
Hi
I was trying to play encrypted video and found a solution which implements EncryptedFileDataSource and it works perfectly fine with files downloaded. However when my file is a url then it throws error com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors.

In the EncryptedFileDatasource i just changed the stream. instead of reading from file I h

[2018-11-20 09:19] tonihei commented on #5109
Looks like your device may just not support this format. It would be helpful to get the output of the EventLogger. Can you attach one with `player.addAnalyticsListener(new EventLogger(trackSelector));`?

[2018-11-20 09:22] Eyliss commented on #5117
We have already migrated the service implementation to the Android O background requirements, so it is done as you mentioned and you are right, it is the system which kills the service when the battery optimization is enabled.

However, we get complaints about the stream stops from time to time and, since I haven't been able to reproduce it in your demo, I was wondering if there was something else

[2018-11-20 09:26] tonihei commented on #5094
You probably need an ExtractorMediaSource to play the chunks directly as they are no longer a DASH stream when played on their own. Also, I suspect you still need to decrypt them as the manifest indicated that they are encrypted.

[2018-11-20 09:34] tonihei commented on #5111
Thanks for the example, I think I understand the problem now.

It looks as if the problem is that we create a fixed selection (with 1 track only) for audio if we already created an adaptive selection (with more than one track) for video. The automatic blacklisting only works when switching to another track in an adaptive selection. The second issue is that we are currently not creating adaptive se

[2018-11-20 09:36] tonihei commented on #5122
That's a duplicate of #5103 I think.

[2018-11-20 09:36] #5122 closed, assigned to tonihei

[2018-11-20 10:08] BrainCrumbz opened #5125 "[PR offer] Always call onCompletion in ConcatenatingMediaSource.moveMediaSource"
### Issue description
In `moveMediaSource` method in `ConcatenatingMediaSource` class, [at this line](https://github.com/google/ExoPlayer/blob/r2.9.0/library/core/src/main/java/com/google/android/exoplayer2/source/ConcatenatingMediaSource.java#L365), when there's actually no source to move (current and new index are the same), the `onCompletion` action is **not** invoked:

[code]

That is somehow

[2018-11-20 10:13] tonihei commented on #5125
Happy to accept that PR :)  It's definitely a bug and not meant to work like that. The ground truth to determine whether it's an API change or not should be how the method is documented, because that's the contract we are giving to the user of this method. Based on that it's not a breaking API change.

[2018-11-20 10:18] AquilesCanta commented on #5121
Hi @jinfanzon, If using the media item info start time or seeking do not work, there is not much else we can do.

The behavior depends on the default receiver which we do not control. FYI, we are currently working on a custom receiver which should fix most of the issues that the default receiver currently presents. We will release a medium post once it's ready to use.

[2018-11-20 10:18] #5121 closed, assigned to AquilesCanta

[2018-11-20 10:20] marcbaechinger commented on #5117
Do you find something in the logs when this happens?

[2018-11-20 10:30] marcbaechinger commented on #5117
Please can you have a look at this FAQ entry?

https://google.github.io/ExoPlayer/faqs.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded

If this does not help, can you please provide a bug report (taken right after the service has been interrupted) so we can look into the logs?

[2018-11-20 10:35] marcbaechinger commented on #5120
There have been some changes regarding the injection of the bandwidth meter for v2.9.1. It should actually be easier than before, but there is a change.

Can you please look into the Medium post "[Simplified bandwidth meter usage](https://medium.com/google-exoplayer/https-medium-com-google-exoplayer-simplified-bandwidth-meter-usage-17d8189f978b)" and see if this sheds some more light on your issue

[2018-11-20 11:02] Eyliss commented on #5117
My concern is that I haven't been able to reproduce the issue on my devices (Samsung 7 with Android O and Pixel 2 XL with Android P) but we get a lot of users complains about it since Android 8 was released.

Will take a look to WifiLock and WakeLock and will come back when the results.

Thank you so much.

[2018-11-20 11:27] tonihei commented on #5120
The code looks right though as far as I can see. Creating the BandwdithMeter and adding it as a listener to the data source is no longer needed (but harmless).

Have you considered that the adaptive changes don't take place immediately but only if we have a minimum buffer available to safely switch up? By default we need at least 10 seconds of buffered data before we try switching up.

Also worth

[2018-11-20 11:53] ZohaibGhafoor commented on #4722
@andrewlewis we refreshed the adtag url which provided above please check.

[2018-11-20 12:46] Romantic-LiXuefeng opened #5127 "Question: How to improve HLS seek performance?"
In the same network environment and the same HLS stream, I compared the time-consuming of using the Android MediaPlayer and ExoPlayer to perform the seek operation . The ExoPlayer always takes more time than MediaPlayer。But the ExoPlayer seek exactly than MediaPlayer.
Question：I hope you can explain the difference between the two players in performing the seek operation.
My current solution is as

[2018-11-20 12:53] JokerLi commented on #5116
There are TextViews, ImageButtons and ImageViews in this PlayerControlView. And we didn't apply any  customization of content.

[2018-11-20 13:47] tonihei commented on #5127
Have you tried setting the `SeekParameters` on the `Player` to `SeekParameters.CLOSEST_SYNC` or `SeekParameters.LAST_SYNC` to achieve the same behaviour as in MediaPlayer? The default is `SeekParameters.EXACT` which may take longer if you not seeking to a key frame.

[2018-11-20 15:29] mihaaxiell commented on #5063
Hi, this is the message I got in Android Studio every 10 sec
E/OMXNodeInstance: setConfig(1:google.mp3.decoder, ConfigPriority(0x6f800002)) ERROR: Undefined(0x80001001)
I/ACodec: codec does not support config priority (err -2147483648)

[2018-11-20 15:50] AchibanaUkyo commented on #5103
The Apple's stream even can't pass their own ATS setting. just the https certificate issue I think. Android P added more strict https certificate checking than previous version

[2018-11-20 15:55] tonihei commented on #5103
Yes, we also just figured out that the certificate response does not match. In addition to that, there is also a platform bug which leads to the error being thrown.

This means we won't add the requested ProviderInstaller call as it shouldn't be needed. The issue will be fixed as soon as either the certificate responses are fixed and/or the platform bug is fixed. As there is nothing we can do here

[2018-11-20 15:55] #5103 closed, assigned to tonihei

[2018-11-20 16:14] ojw28 commented on #5127
`SeekParameters` don't do anything for HLS. Supporting them is tracked by https://github.com/google/ExoPlayer/issues/2882. I'd suggest this is most likely a duplicate of that issue.

[2018-11-20 16:57] clickboxmobile commented on #4997
For me worked like this

[code]

[2018-11-20 17:56] freaksgit commented on #5111
Thanks for explanation. I'll wait for new release.
But now we will try to switch audiotrack manually when any HTTP error will occur.

[2018-11-20 18:55] shepiu commented on #5094
Thanks for the help and yes, URL is encrypted.

I have tried to play multicast chunks using ExtractorMediaSource but it's giving me the following exception.

Here is the code for how I have initialized ExtractorMediaSource.
Uri uri = Uri.parse("udp://@224.100.0.1:9050");
        new ExtractorMediaSource.Factory(buildDataSourceFactory(true))
                .createMediaSource(uri, handler, listener

[2018-11-21 01:12] Romantic-LiXuefeng commented on #5127
@ojw28 @tonihei Thanks. As @ojw28 said,the SeekParameters don't do anything for HLS.  I just to know whether my changes cause problems that I can't think of?  Hope you give some advices

[2018-11-21 02:06] whyvas opened #5128 "Question: Lowest latency multicast UDP over wifi settings"
I am trying to implement gesture based camera controls via a wireless tablet using gestures similar to google maps. I have a makito XCR video encoder sending multicast mpeg-ts video over UDP. What would be the best settings to achieve the lowest possible latency using exoplayer? I just need something that plays the bleeding edge over the buffer.
Previous posts mention that UDP wasn't a valid use c

[2018-11-21 02:12] nicoalurralde commented on #4592
Oh please, Id love some MIDI support

[2018-11-21 02:15] nicoalurralde commented on #4592
@szaboa can you give it a try? It's been a while

[2018-11-21 03:53] goodibunakov commented on #5109
`11-20 09:38:52.235 23124 23231 I VideoCapabilities: Unsupported profile 4 for video/mp4v-es

11-20 09:38:52.258 23124 23124 I SurfaceView: updateWindow -- OnPreDrawListener, mHaveFrame = true, this = android.view.SurfaceView{1bee49e V.E...... ........ 0,0-720,380}

11-20 09:38:52.269 23124 23237 I MediaCodec: [onMessageReceived]line:1610 [][what=kWhatInit][state 0][msg='AMessage(what = 'init', ta

[2018-11-21 05:08] goodibunakov commented on #5109
`11-21 12:02:32.386 21141 21141 E EventLogger: playerFailed [0.68, 0.00, window=0]

11-21 12:02:32.386 21141 21141 E EventLogger: com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.MTK.VIDEO.DECODER.AVC, Format(0, null, null, video/avc, avc1.4D0032, -1, null, [2688, 1520, -1.0], [-

[2018-11-21 08:40] michalliu commented on #5079
UPDATE: Great news, we have resolved most major problems of hevc soft decoding extension. The hevc extension works pretty good now. The issue status has been updated as following:

1. ~~playable but not smooth~~ (STATUS: DONE. due to  pts not correct set)
1. ~~video renderring is not correct sometimes when seeking is performed)~~ (STATUS: DONE. due to needs flush decoder when seek performed)
1. po

[2018-11-21 09:04] MuviDeveloper commented on #5123
Hi Please find the updated video url and License Url (* this license is only valid for 24 hours)

License url - https://wv.service.expressplay.com/hms/wv/rights/?ExpressPlayToken=BAAAABSMKaUAAABgjJOuprMPWJQ14_e8mpz4iGYjrxHusDeQdC3CtMu6HC25QYBPaGHDX02k2PoUycZTgG7vdTGAK1GVPYwtDT9zUBwQTGODKXfKZMwqpUFkGEKWgPEaNtsHw-hTZ8uEYhcNPsj-Izsy5VM1PnGe7HQ1TEngwZs

Video Url- https://d1gafjrnux9y1n.cloudfront.net

[2018-11-21 09:25] anhlevfx commented on #5005
Hi,

My partner set random return ad or empty when request, about 30% return ad.

When use exoplayer demo app, with video format stream is DASH, everything
work well, I don't see any error. But when try with HLS, have play preroll,
the ad play remain 1 second and stuck. I can't check midroll because
preroll stuck, VOD not play.

Vào Th 2, 19 thg 11, 2018 vào lúc 20:55 Andrew Lewis <
notification

[2018-11-21 09:49] andrewlewis commented on #5005
To summarize the cases that have been tried:
1. In the demo app, playback of the ad tag works correctly with a DASH stream.
2. In the demo app, playback of the ad tag did not work with an HLS stream. Please provide the URL of the HLS stream.
3. In your app, playback rewinds after the midroll. Please provide the URL of the stream.

One thing to note is that we don't support playback of midrolls in

[2018-11-21 10:12] andrewlewis commented on #4722
@ZohaibGhafoor This does seem to be fixed with IMA SDK 3.10.2. I'll plan to update this issue when we push the change to upgrade the dependency to the development branch, and it should make it into the next release.

If you need the fix urgently and are depending on ExoPlayer via sources you can update the relevant dependencies in `extensions/ima/build.gradle` to point to `com.google.ads.interacti

[2018-11-21 10:50] anhlevfx commented on #5005
Hello,

Thank you for response, but I’m not in the office right now, so tomorrow I will send you the link I tested.

I only play midroll for VOD (use HLS), not for live stream (use HLS too).

Sent from Mail for Windows 10

From: Andrew Lewis
Sent: Wednesday, November 21, 2018 4:50 PM
To: google/ExoPlayer
Cc: anhlevfx; Mention
Subject: Re: [google/ExoPlayer] IMA extension load midroll make exoplaye

[2018-11-21 11:02] tonihei commented on #5109
There should be more logging especially about tracks, state changes etc. Can you enable the INFO log level for the output? Or even better, provide a full bugreport (with "adb bugreport").

[2018-11-21 11:06] AchibanaUkyo commented on #5123
Just FYI I'm doing the similar integration and what I met is that the server may not support the offline license request:)

[2018-11-21 11:06] tonihei commented on #5100
I'll close the issue because the question was probably answered.

[2018-11-21 11:06] #5100 closed, assigned to tonihei

[2018-11-21 11:07] tonihei commented on #5104
I'll close the issue because the question was answered. Feel free to reopen if that's not the case.

[2018-11-21 11:07] #5104 closed, assigned to tonihei

[2018-11-21 11:09] tonihei commented on #5112
Closing for now. Feel free to reopen if you have find a specific problem we should look into.

[2018-11-21 11:09] #5112 closed, assigned to tonihei

[2018-11-21 11:09] marcbaechinger commented on #5128
I think UDP is a valid use case as there is a UdpDataSource in the ExoPlayer library.

There are two existing issues where latency is discussed:

https://github.com/google/ExoPlayer/issues/3995
https://github.com/google/ExoPlayer/issues/3995

[2018-11-21 11:25] goodibunakov commented on #5109
There was not any state changes as i think, playback does not start. We have "loading" and then onPlayerError.
Help me, where i have to enable INFO  log? Or how to provide a full bug report?..

[2018-11-21 11:32] tonihei commented on #5109
https://developer.android.com/studio/debug/bug-report

[2018-11-21 11:35] MuviDeveloper commented on #5123
Hi @AchibanaUkyo

Are you saying about the ExpressPlay Server? Currently we are using the JNI libraries and MarlinBB provided by ExpressPlay to download and play the protected DRM content and because of this the APK size has increased to 45-50 mb.

[2018-11-21 12:22] ojw28 commented on #4389
Closing as fixed.

[2018-11-21 12:22] #4389 closed, assigned to erdemguven

[2018-11-21 13:06] zapper64 commented on #5120
I've had quite a lot of diagnostics in this over the days. For example I know I can force it on to any specific track if I want to using code like this:
DefaultTrackSelector.ParametersBuilder pb = trackSelector.buildUponParameters();
pb.clearSelectionOverrides();
DefaultTrackSelector.SelectionOverride so = new DefaultTrackSelector.SelectionOverride(0, forcedIndex);
pb.setSelectionOverride(0, tga,

[2018-11-21 13:35] tonihei commented on #5120
It's difficult to find out what's wrong without knowing all the details. Can you please provide the requested output from the EventLogger, or even better, provide some example media so that we can check ourselves.

[2018-11-21 13:39] ojw28 commented on #5057
I think there are a few things not right with the way the manifest is updating:
1. `SegmentTemplate@presentationTimeOffset` values should not change across manifest updates. I think in this case they should probably be set to 0 (or omitted completely), given how the media is otherwise setup.
1. I think the manifest should have `SegmentTemplate@startNumber` attributes that do increment across manif

[2018-11-21 13:52] zapper64 commented on #5120
Unfortunately I can't share the streams as they are the property of the client, but we also tested with this 4K DASH url, which demonstrates the problem.
http://amssamples.streaming.mediaservices.windows.net/634cd01c-6822-4630-8444-8dd6279f94c6/CaminandesLlamaDrama4K.ism/manifest(format=mpd-time-csf)
Here's a log from my test app, which shows the available profiles and one and a bit times through

[2018-11-21 14:07] AchibanaUkyo commented on #5123
From the license server url it should be ExpressPlay then. Check with them how to support offline widevine license request (maybe in the token)?

[2018-11-21 15:02] tonihei commented on #5120
I just tested the stream above in our demo app and it adapts well to the available bandwidth. I'd suggest to compare the demo app code with your player setup again to see if there is a difference.

Also note that `onTracksChanged` is only called when the set of available tracks changed, not when the individual selected track changed. Maybe there's just a logging problem and the quality is in fact

[2018-11-21 15:54] zapper64 commented on #5120
Many thanks. You are correct, it is adapting. Where can I put my face?! :-)

[2018-11-21 15:56] tonihei commented on #5120
Glad it was that easy to solve. Closing the issue.

[2018-11-21 15:56] #5120 closed, assigned to marcbaechinger

[2018-11-21 18:38] juechemparathy opened #5129 "Intermittent widevine provision request failures(404)"
We are getting provisioning failures while playing a live stream which has clear ads and encrypted content together.

[code]

I tested on Exoplayer 2.9.0 and was able to reproduce on my pixel3. I believe it has something to do with the stream as it's not consistent and something is getting the player into a bad state where repeated provision requests are being made.
We are able to repro the same i

[2018-11-21 20:56] rs146 opened #5130 "Is it possible to play an IMA ad at a position in playback"
Hi,

I have a question regarding Google IMA ads. Is it possible to play an ad at a specific point in playback rather than the VMAP specifying when the ad should be played? I am thinking that AdRules can help in this regard but I'm not fully sure about that.

Thanks.

[2018-11-21 22:02] LowLevelSubmarine opened #5131 "MediaSource identification"
Is there a way of identifiying a MediaSource? Im trying to get the title of the current track as an example.
So I thought i could solve my problem by giving each queued MediaSource a specific id so that I can find the corrisponding track data (Title, Url , Image... ) internally with that id.
ConcatinatingMediaSource.getMediaSource(0) returns me the current media source (I assume that) but I cant f

[2018-11-21 22:13] LowLevelSubmarine commented on #5131
For others: U can use the tag of the current window to identify a track ;)

[2018-11-21 22:13] #5131 closed, assigned to ojw28

[2018-11-22 01:08] ojw28 commented on #5131
Yes. the `Factory` classes for the various `MediaSource`s have `setTag(Object)` methods that allow you to set an arbitrary tag object (you could even put the metadata directly into the tag object, if it makes sense for your use case). You can then retrieve the tag associated with the currently playing source by calling `getCurrentTag` on the player.

[2018-11-22 04:06] anhlevfx commented on #5005
Hi,

So weird, but today I test with same link (VOD not live stream HLS)
yesterday, everything in demo app work without error.
Rewind video after midroll only when midroll not show (I think midroll
empty and player start play midroll from 00:00, because emty ad, the player
continue play VOD but from 00:00, not from the current content position).

Here is the test link in our wowza for testing:
htt

[2018-11-22 04:28] goodibunakov commented on #5109
I hope this helps [bugreport-2018-11-22-11-12-54.txt](https://github.com/google/ExoPlayer/files/2606569/bugreport-2018-11-22-11-12-54.txt)

[2018-11-22 07:41] masday86 commented on #4305
i have same problem, when changing the url when the player loads the url, the old video sound will still run.
how to fix this

[2018-11-22 09:05] tonihei commented on #5131
One further note: Please be aware that the tag is only available in the `Timeline` or from `getCurrentTag` if the media has been prepared. That means right after calling `player.prepare` or after adding a new source to the `ConcatenatingMediaSource`, this will still return null. That's not optimal and we should be probably fix this in the future.

[2018-11-22 09:11] tonihei commented on #5109
That bug report doesn't contain the failing playback. Can you try to get one immediately after the error occured? And also with the EventLogger attached.

[2018-11-22 09:14] andrewlewis commented on #5130
The way the IMA SDK works requires ads to be played at the content positions specified in the ad tag I'm afraid.

One possible workaround is to download the ad tag in your app code and modify the document to change the ad positions as desired, then pass the modified ad tag via `ImaAdsLoader.Builder.buildForAdsResponse`. However, from a policy standpoint, I don't know whether ad servers permit this

[2018-11-22 09:14] #5130 closed, assigned to andrewlewis

[2018-11-22 09:57] marcbaechinger commented on #5129
Problems with key request in multi-period stream with clear/encrypted periods. Apparently root-caused by a server issue but probably worth to look into this more closely? Assigning.

[2018-11-22 10:05] zhangabvc opened #5132 "How to add ffmpeg module to exoplayer"
Exoplayer does not support some audio formats, such as mpga. Ffmpeg supports many audio formats if you add the ffmpeg module to exoplayer？

[2018-11-22 10:28] marcbaechinger commented on #5124
The UnrecognizedInputFormatException indicates that none of the extractors which are tried in the ExtractorMediaPeriod is able to recognize the type of the file.

As you say, you are simply moving from getting the InputStream from the file to getting it from the URL.
So given you are reading the same file from the uri than from the file system, it seems like the implementation reading from the uri

[2018-11-22 10:28] #5124 closed, assigned to marcbaechinger

[2018-11-22 11:18] hleh commented on #5057
Thank you for the info, I've forwarded it to our streaming unit.

[2018-11-22 11:41] ojw28 commented on #5124
The problem is probably that the code contains assumptions that read and skip calls on the underlying `InputStream` are satisfied in full. For example if you look at what `skipToPosition` method is doing, it ends up calling `mUpstream.skip(bytesToSkip)` once and assuming that the `InputStream` implementation skips forward by the full amount.

`InputStream` doesn't guarantee this (see the `InputStr

[2018-11-22 11:54] ojw28 commented on #5129
We're unable to reproduce - how frequently does it occur for you?

There's also insufficient information for us to diagnose the issue. You say it's a Widevine provisioning request failure, but that seems unlikely if it's periodic. Are you sure it's not a key request failure? If so, isn't the problem that `https://content.uplynk.com/wv` is returning a 404? Which would be an issue with whoever owns

[2018-11-22 12:02] akhil7687 commented on #5124
Thanks @ojw28 @marcbaechinger

I made a work around and using okhttp I am able to stream aes encrypted videos from url.
In case anybody interested here is the code https://gist.github.com/akhil7687/9ca0cc716268edc6b842a8d582037df1

[2018-11-22 12:15] ojw28 commented on #5129
It's also possible that https://github.com/google/ExoPlayer/commit/6e7b41512f7f7fd2910134a2dbe2621f68a36c84#diff-8361546ef273c43e4875a1317a77d0a7 fixes this issue, although I'm not sure I really understand how it occurs.

[2018-11-22 13:03] tuesda opened #5133 "Could support partial request with http header Range?"
For example to load a mp4 video with ExtractorMediaSource
setting http header "Range:bytes=0-65535" "Range:bytes=65536-131071" ...
like this we can load 65k every time which can preventing from loading from start when connect close at middle of video.

[2018-11-22 13:07] adrixgc opened #5134 "Question: How to know if QUIC was used or used fallback"
I am using the Cronet extension to play a video using QUIC and the OkHttp extension to use it in case QUIC cannot be used:

        OkHttpDataSourceFactory okHttpDataSourceFactory = new OkHttpDataSourceFactory(new OkHttpClient(), Util.getUserAgent(context, "ExoPlayerDemo"), bandwidthMeter);

        CronetEngine cronetEngine = new CronetEngine.Builder(context).enableQuic(true).build();
        ret

[2018-11-22 13:14] sujitkumarjha commented on #4030
have anyone found solution to this?

[2018-11-22 13:21] tonihei commented on #5134
The fallback data source factory is only used if the CronetEngine is unavailable. As you specifically provide a CronetEngine in the constructor, it's never used.

[2018-11-22 13:38] andrewlewis commented on #4030
@sujitkumarjha This issue should be fixed in release 2.9.1. Please file a new issue and provide all the information requested in the issue template if you still see the problem described here.

[2018-11-22 13:48] tonihei commented on #5134
Note that Cronet also falls back to traditional Http automatically if QUIC is not available. If you control the server, you should be able to find out what the server supports.

In case you want to know client-side which protocol is used, you could also fork CronetDataSource and check `UrlResponseInfo.getNegotiatedProtocol()` at the end of the `DataSource.open` call. Can you provide some informati

[2018-11-22 13:53] tonihei commented on #5133
We already do that as far as possible. See [here](https://github.com/google/ExoPlayer/blob/b5beb32618ac99adc58b537031a6f7c3dd761b9a/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java#L512).

[2018-11-22 13:55] ojw28 commented on #4883
Support added in the change above. Note that the underlying decoders still need to be present, as described in my response above.

[2018-11-22 13:55] #4883 closed, assigned to ojw28

[2018-11-22 14:35] adrixgc commented on #5134
I am trying to play a video of a server I don't own, let's call it, YouVideo ;)
I know the provider allows QUIC, but actually I have no knowledge if that was the protocol I used during the playback. I might "force" QUIC, but there are external problems that can cause QUIC to fail (e.g. UDP blocking). That is why it is very interesting to know which protocol was used during the playback.

[2018-11-22 14:40] marcbaechinger commented on #5132
There is an ffmpeg extension. The readme explains how you can build ffmpef and how to use the extension. Talke a look at it here:

https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg

[2018-11-22 14:40] #5132 closed, assigned to marcbaechinger

[2018-11-22 14:47] tonihei commented on #5134
If it's just for testing purposes, please consider forking CronetDataSource as described above.

[2018-11-22 15:20] adrixgc commented on #5134
Unfortunately, it is not for testing. It's for a real-world app and that use case is very demanded

[2018-11-22 15:41] tonihei commented on #5134
We can look into making this information available for Cronet and possibly for OkHttp as well.

[2018-11-22 15:45] ojw28 commented on #5134
Can you elaborate on what exactly is a very demanded feature? What end user feature would you actually implement with this functionality?

[2018-11-22 15:49] adrixgc commented on #5134
Can't say much, but the app is performing network traffic analysis of different video providers, therefore knowing the protocol used for the video playback is crucial

[2018-11-22 16:07] tonihei commented on #5134
Still sounds pretty niche. Anyway, it's easy to make available, so we can do that in our next release.

[2018-11-22 16:18] Angelk90 opened #5135 "Run an exoplayer with both mp4 and stream m3u8"
### Issue description
Is there a way to run an exoplayer with both mp4 and stream m3u8 videos?

I tried but I could not find a solution.

Video mp4: [here](https://www.w3schools.com/html/mov_bbb.mp4
)

Stream m3u8:  [here](https://live3-mediaset-it.akamaized.net/content/hls_clr_xo/live/channel(ch09)/Stream(02)/index.m3u8
)

This is the code I wrote with the mp4 videos works, but with m3u8, no.

I

[2018-11-22 17:27] marcbaechinger commented on #5135
Yes, ExoPlayer supports MP4 and HLS besides other formats (see [supported formats](https://google.github.io/ExoPlayer/supported-formats.html)).

You are on the right track already. You need to use an HLS media source factory to create an media source for HLS with which you can prepare the player.

Have a look into the demo app of this project (the demo app is on v.2.9.1 right now. I recommend to m

[2018-11-22 17:27] #5135 closed, assigned to marcbaechinger

[2018-11-22 18:27] ronak2121 commented on #4883
Just to respond to your questions. This is an upcoming standard from Xiph.org:

https://github.com/xiph/flac/blob/master/doc/isoflac.txt
https://www.opus-codec.org/docs/opus_in_isobmff.html
https://www.chromestatus.com/feature/5100845653819392
https://googlechrome.github.io/samples/media/opus-in-mp4-for-mse.html

[2018-11-22 18:39] juechemparathy commented on #5129
Thanks for taking a look.
Here is a provisioning request url (definitely not license server) which got us 404 - https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create?key=AIzaSyB-5OLKTx2iU5mko18DfdwK5611JIjbUhE&signedRequest=CloKTAgAEkgAAAACAAAQcSDIyBtI7_NXAfE1rgYAD5NxSbnr1QkX0gSGAXT7IQ3vobO4bwvMzIDb7q_0bcG-gfpxn84SDdJDCSvDggvx2EoSBIpmn-MaBAgAEgASICXTFJm8q2HvFWgfN5QhGgiu6G

[2018-11-22 19:53] levz opened #5136 "Removing downloaded cache takes very long time"
//Version
2.8.0

//Source code
Not provided - general question

//Description
I use SimpleCache to download HLS donwload streams as desribed in
https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95

And removal of these downloaded cache takes really long time. (Several hours for 1GB of data)
I suppose this is because of SimpleCache saving every chunk to a separate file and so it the

[2018-11-22 20:29] TheDiamondPicks opened #5137 "Issue playing PlayReady media"
### Issue description
I am developing a native Android application based upon a HBBTV app. It contains PlayReady protected content, which I would like to play. However, it contains an invalid KID (which I fixed by adding a dash), but even with that fixed, it throws a MissingSchemeDataException.

### Reproduction steps
I added the following to DashManifestParser#424:
`defaultKidStrings[i] = default

[2018-11-23 02:08] tuesda commented on #5133
@tonihei I seen this. but this range is determined by DataSpec's position and length, and length always be C.LENGTH_UNSET that means request  as much as possible, See [here](https://github.com/google/ExoPlayer/blob/b5beb32618ac99adc58b537031a6f7c3dd761b9a/library/core/src/main/java/com/google/android/exoplayer2/source/ExtractorMediaPeriod.java#L884)
If there is a max size for every request that wi

[2018-11-23 06:17] vinay-altbalaji commented on #4133
Randomly getting the error "Error decrypting data: requested key has not been loaded" using DefaultDrmSessionManager even after setting `multiSession=true.`
Exoplayer version 2.9.1

[code]

[2018-11-23 06:25] FreestyleDDCoder opened #5138 "Error inflating class com.google.android.exoplayer2.ui.PlayerView"
hi，i have one issues;
R.layout.activity_play:
![image](https://user-images.githubusercontent.com/24293211/48930197-dde0e080-ef29-11e8-89fc-123ce3f5da89.png)

version 2.9.0

just null activity with setContentView(R.layout.activity_play);

why?

[2018-11-23 06:27] FreestyleDDCoder commented on #5138
Process: com.example.exoplaytest, PID: 7050
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.exoplaytest/com.example.exoplaytest.PlayActivity}: android.view.InflateException: Binary XML file line #8: Binary XML file line #8: Error inflating class com.google.android.exoplayer2.ui.PlayerView
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.

[2018-11-23 08:05] eneim opened #5139 "show_buffering IntDef values are wrongly updated in a commit."
Long story short, I think this commit has made the IntDef wrong ...

[check this](https://github.com/google/ExoPlayer/commit/32bd69d4b273869056f384fa81e0c685d38a80ce)

Screenshot below:
- SHOW_BUFFERING_ALWAYS is changed from 1 to 2.
- SHOW_BUFFERING_WHEN_PLAYING is changed from 2 to 1.

<img width="1430" alt="screen shot 2018-11-23 at 17 02 23" src="https://user-images.githubusercontent.com/17762

[2018-11-23 08:27] adrixgc commented on #5134
That would be fantastic. Any candidate release date?

[2018-11-23 08:41] tonihei commented on #5139
Not sure this makes it wrong. The idea of IntDefs is to use constants instead of number literals when working with these states. So changing the numbers shouldn't make a difference. Can you explain why this is a problem for your code?

[2018-11-23 08:44] tonihei commented on #5133
I don't understand yet how this would make things better. For the situation you mentioned, when the connection failed during the load, we would set the DataSpec's position to the next load position and continue from there. So we won't load from the start again.

[2018-11-23 08:45] eneim commented on #5139
@tonihei Actually, the real issue is when you set this from xml layout with these enum: [link to attrs.xml](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/res/values/attrs.xml#L54), it will be recognized here: [link to PlayerView.java](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java#L357).

So se

[2018-11-23 08:54] tonihei commented on #5139
Ah, thanks for explaining. We'll fix that.

[2018-11-23 09:20] goodibunakov commented on #5109
I did:
`eventLogger = new EventLogger(defaultTrackSelector);
player.addAnalyticsListener(eventLogger);`

I get:
Logs [logs.txt](https://github.com/google/ExoPlayer/files/2610190/logs.txt)

XML
`<com.google.android.exoplayer2.ui.PlayerView
        android:id="@+id/video_view"
        android:layout_width="match_parent"
        android:layout_height="190dp"
        app:auto_show="false"
        app:

[2018-11-23 09:26] zhangabvc commented on #5132
I have tried unsuccessfully, what do I need to do after generating the library？

[2018-11-23 09:35] tonihei commented on #5109
The logs still don't tell anything new. But as said above, I suspect the device doesn't support the video resolution (2688x1520) and there is probably nothing we can do about that.

[2018-11-23 09:39] goodibunakov commented on #5109
Well, i took logs from Logcat. Why there does not shows what you need?

And may be we have to correct our m3u8 for success on this phone?

I also need to fix to not receive onPlayerError on other devices. I get it so often.

[2018-11-23 09:55] tonihei commented on #5109
We can't help you with content creation, but it's usually a good idea to have multiple formats (including low-res formats) such that all devices support at least one of them.

I was looking for the list of available formats and whether they are supported. This list should be reported when using the EventLogger. But it's not part of your logs.

[2018-11-23 09:58] goodibunakov commented on #5109
What should i do besides this: `eventLogger = new EventLogger(defaultTrackSelector); player.addAnalyticsListener(eventLogger);` ?

[2018-11-23 10:02] marcbaechinger commented on #5138
It's hard to say what is causing this with the information you are providing. I wonder if there is any other exception stack trace in the logs.

Did you customize the layout file of the PlayerView in some ways?

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you

[2018-11-23 10:10] tonihei commented on #5109
Have you done this before calling `player.prepare`? That could be a reason for not reporting everything.

[2018-11-23 10:14] goodibunakov commented on #5109
No, i did it after prepare...

[2018-11-23 10:33] marcbaechinger commented on #5132
Can you give some more details on what you did and what went wrong? If you have an error message or an stack trace while building/running the app this kind of information would be useful.

Basically you need to use the FfmpegAudioRenderer to play audio files with the ffmpeg extension. So you need to tell ExoPlayer to use that renderer.

There are several ways to set this up, as the [readme of the

[2018-11-23 11:39] marcbaechinger commented on #5137
If the kid is wrong in your manifest, wouldn't the best way to fix this be to fix it in the manifest?

I don't think this stream would work with any other DASH player, so I doubt it's worth changing ExoPlayer's manifest parser to fix it. I recommend fixing the manifest and then try playing the stream again. Currently ExoPlayer is complaining that your content is not PlayReady enabled.

Best would

[2018-11-23 11:56] goodibunakov commented on #5109
[logs.txt](https://github.com/google/ExoPlayer/files/2610638/logs.txt)

Now I did addAnalyticsListener after prepare.

[2018-11-23 12:50] #5139 closed, assigned to tonihei

[2018-11-23 12:50] #5125 closed, assigned to tonihei

[2018-11-23 13:45] goodibunakov commented on #5109
Tell me please, where i have to progressbar.setvisibility(VISIBLE) if internet is down during playback?
I tried to do this in onPlayerError but this method only works after a while.

[2018-11-23 14:39] abhishekredspace commented on #5088
Hi,
Any updates on this?

Thanks!

[2018-11-23 15:32] andrewlewis commented on #5005
@anhlevfx I tried the test link with the ad tag in the demo app and didn't see any rewinding behavior when seeking around, even when ads weren't filled.

Regarding showing a skip button: the IMA SDK will show a skip button only if the ad tag declares the ad as skippable. I don't think there's a way to force the skip button to be shown unfortunately.

I'll close this issue for now as the problem do

[2018-11-23 15:32] #5005 closed, assigned to andrewlewis

[2018-11-23 15:34] andrewlewis commented on #4722
a3c046983765b26688e8ac0e24a1539172594f7a updates the IMA SDK to 3.10.2.

[2018-11-23 15:34] #4722 closed, assigned to andrewlewis

[2018-11-23 16:13] anhlevfx commented on #5005
I got it. Thank you very much for your support.

Sent from Mail for Windows 10

From: Andrew Lewis
Sent: Friday, November 23, 2018 10:32 PM
To: google/ExoPlayer
Cc: anhlevfx; Mention
Subject: Re: [google/ExoPlayer] IMA extension load midroll make exoplayerrewind (#5005)

@anhlevfx I tried the test link with the ad tag in the demo app and didn't see any rewinding behavior when seeking around, even

[2018-11-23 17:14] ojw28 commented on #5119
If `TYPE_GAME_ROTATION_VECTOR` is optional and we're not implementing a fallback, I'd consider this a bug?

[2018-11-23 18:40] TheDiamondPicks commented on #5137
I am not in control of the manifest - ideally I would change it. The only other platform that I have been able to get it working on is the HBBTV app. At the end of the day if the media is completely unworkable I can probably find some Widevine stuff to use, which I know works in other players, however it requires significantly more API calls at it comes from a different provider - so not ideal.

[2018-11-23 18:57] ojw28 commented on #5137
It looks like the manifest is using `79f0049a-4098-8642-ab92-e65be0885f95` as the UUID for PlayReady. It seems this is the UUID for PlayReady V10, where-as original PlayReady has the UUID `9a04f079-9840-4286-ab92-e65be0885f95`. ExoPlayer currently only handles the latter.

I'm not even sure whether PlayReady V10 is supported at the platform level. I don't know what the difference is between the tw

[2018-11-23 19:15] ojw28 commented on #4133
@vinay-altbalaji That sounds like a content issue rather than anything related to this one. Marking off topic. Please file a new issue containing complete information as requested in the issue template if you wish for us to take a look. We cannot investigate your issues without test media and clear reproduction steps.

[2018-11-23 19:19] #5057 closed, assigned to ojw28

[2018-11-23 19:20] #5025 closed, assigned to ojw28

[2018-11-23 19:22] TheDiamondPicks commented on #5137
It kinda works. It doesn't throw any exceptions anymore, however there seems to be issues with the audio track:
https://pastebin.com/B75EhhhF
This means there is no audio. Additionally, video seems to be extremely 'stuttery' (if it plays at all), with a large green bar at the top. I can't screenshot it (or get a decent photo), but if it necessary, I can send one through.
Here's the ExoPlayer video

[2018-11-23 20:31] ojw28 commented on #4948
It takes about 3.5 seconds on a Galaxy S8. It looks like this is just how long it takes for our current implementation to parse the VTT file, which is pretty huge (over 127 thousand lines). If it needs to be downloaded as well, that will add additional delay.

I don't think we have any plans to process such files incrementally. It is probably possible to make the parsing code in `WebvttCueParser`

[2018-11-23 20:44] ojw28 commented on #4795
Closing as out of scope for this issue tracker.

[2018-11-23 20:44] #4795 closed, assigned to ojw28

[2018-11-23 20:45] ojw28 commented on #5023
Calling `seekToDefaultPosition` will seek the player to the live edge. I don't understand what it means to show the "current live position on progressBar". The current live position is by definition the far right of the progress bar.

[2018-11-23 20:49] ojw28 commented on #2083
Reassigning as this is likely to need a performance experiment.

[2018-11-23 20:52] ojw28 commented on #2722
Closing as we're not going to be able to allocate resources to look at this. The device is also over 6 years old at this point.

[2018-11-23 20:52] #2722 closed, assigned to ojw28

[2018-11-23 21:01] ojw28 commented on #3939
You can extend `MediaCodecVideoRenderer` and override `codecNeedsSetOutputSurfaceWorkaround` so that it returns false on affected devices. This should disable use of `DummySurface`. You'll need to inject your extended renderer when creating the player. Depending on which `ExoPlayerFactory` method you're using, you may need to extend `DefaultRenderersFactory` and override `buildVideoRenderers` to d

[2018-11-23 21:01] #3939 closed, assigned to ojw28

[2018-11-23 21:05] ojw28 commented on #4078
@natez0r Any update on this?

[2018-11-23 21:12] tonihei commented on #2083
It's already on the list of potential experiments. Although no experiment with Exoplayer can detect if such a setting makes network operators unhappy :). But the influence on buffer rate and battery usage would be interesting to see.

[2018-11-23 21:30] ojw28 commented on #4859
Rooting the device shouldn't in itself be a problem, provided you're not using a custom ROM, which I don't think you are. It looks like playback is failing because something else is holding the resources that ExoPlayer needs:

If I had to guess, I'd say [this app](https://play.google.com/store/apps/details?id=com.crazydog.blackviewer) is behaving badly on your device. You could try uninstalling it

[2018-11-23 21:33] ojw28 commented on #4931
@hacker1024 - Did you get any further with this?

[2018-11-23 21:41] ojw28 commented on #4825
@paf-wv - Could you comment on the question in my initial response to this issue (i.e. the second post in the thread)? Thanks.

[2018-11-23 21:42] #4851 closed, assigned to andrewlewis

[2018-11-23 21:46] ojw28 commented on #5127
Closing as a duplicate of #2882. Regarding the modification to `feedInputBuffer`, that doesn't look right at all. I suspect it will break things, most likely including causing visual corruption of output buffers in some cases. I also don't think it will make seek performance any faster.

[2018-11-23 21:46] #5127 closed, assigned to tonihei

[2018-11-23 21:47] ojw28 commented on #4912
Closing due to lack of follow up.

[2018-11-23 21:47] #4912 closed, assigned to AquilesCanta

[2018-11-23 21:52] ojw28 commented on #5096
@andrewlewis - I think we'll need to follow up with the platform team about this. I'm not sure how it's supposed to work?

[2018-11-23 21:54] ojw28 commented on #4915
What's the status of this issue?

[2018-11-23 22:22] ojw28 commented on #3193
I think this is a platform issue. It would need to be reported to (and most likely fixed by) Huawei directly. Closing as obsolete, since we're not going to be able to do anything about it in ExoPlayer.

[2018-11-23 22:22] #3193 closed, assigned to ojw28

[2018-11-23 22:25] ojw28 commented on #3468
I don't think Android officially supports interlaced H264 [internal ref: b/118755604], in which case what happens is pretty much going to be a best effort by the decoder being used. @andrewlewis can probably confirm.

[2018-11-23 22:31] ojw28 commented on #4505
Closing due to lack of clear reproduction steps / complete bug reports / follow up.

[2018-11-23 22:31] #4505 closed, assigned to AquilesCanta

[2018-11-23 22:35] ojw28 commented on #3401
This is a platform issue that would need to be reported to (and resolved by) the device manufacturer. Closing as obsolete.

[2018-11-23 22:35] #3401 closed, assigned to ojw28

[2018-11-23 23:30] ojw28 commented on #4079
As above, #1434 tracks distributing some extensions via jCenter.

I'm confused by the rest of this issue. Nexus 6 never received Android 7.1.2. Updates stopped at 7.1.1 according to https://developers.google.com/android/images#shamu. The linked video plays fine on a Nexus 6 I have running 7.1.1. There is no bug report provided, which would indicate both the build on the device and most likely the

[2018-11-23 23:30] #4079 closed, assigned to andrewlewis

[2018-11-23 23:44] ojw28 commented on #5137
I don't think there's anything more we can do to help without proper reproduction steps. There's no way for us to reproduce currently (I don't think we have any details of the license server, for example).

[2018-11-23 23:45] ojw28 commented on #4487
@paf-wv - Do you have an update on this issue? Thanks.

[2018-11-23 23:46] ojw28 commented on #4977
Closing due to lack of information.

[2018-11-23 23:46] #4977 closed, assigned to ojw28

[2018-11-23 23:47] ojw28 commented on #4422
Support was added in 2.9.0.

[2018-11-23 23:47] #4422 closed, assigned to AquilesCanta

[2018-11-23 23:56] ojw28 commented on #2524
Closing on the assumption that the issue was fixed in N.

[2018-11-23 23:56] #2524 closed, assigned to casajavi

[2018-11-24 00:14] ojw28 commented on #5114
4K VP8 is pretty unlikely to be supported on any device. It seems like quite an unrealistic scenario; I can't think of a good reason for using VP8 to encode at 4K?

If you were using the demo app you would have most likely seen `supported=NO_EXCEEDS_CAPABILITIES` in the logs, which is indicative of the media not being supported. The player would have then attempted to play the media anyway, just i

[2018-11-24 00:14] #5114 closed, assigned to marcbaechinger

[2018-11-24 00:48] ojw28 commented on #4750
Probably related to https://github.com/google/ExoPlayer/issues/5103

[2018-11-24 00:48] #4750 closed, assigned to AquilesCanta

[2018-11-24 16:05] chakravarthidantu commented on #5107
Do I have any update on this issue. We are eagerly waiting for your feedback.

[2018-11-24 19:52] TheDiamondPicks commented on #5137
Unfortunately, the videos have very short token times on them - so it would be difficult to be able to get you guys to reproduce it. Thanks for your help nevertheless.

[2018-11-24 19:52] #5137 closed, assigned to marcbaechinger

[2018-11-24 22:27] jonahwh commented on #4859
I'm actually the developer of that app. You're right, and here's what was happening:
• My app you linked above attempts to play two videos at once
• Older devices (such as the Nexus 7) can't handle playing more than one video at once (I found this out back in September)
• I was debugging this back in September, but I wasn't releasing the player when there was an error (oops), so exoplayer would si

[2018-11-24 22:27] #4859 closed, assigned to ojw28

[2018-11-25 15:18] tuesda commented on #5133
Yes, you are right! the issue that load from start again when connection fail may be caused by that I removing all headers of http including Range. Thanks a lot for your response which save my whole day.

[2018-11-25 18:27] gautama commented on #5015
Any updates here, or suggestions to improve performance.

[2018-11-26 01:51] Romantic-LiXuefeng opened #5141 "How to support Lazy Preparation in AdsMediaSource?"
With a live HLS stream,  If I configure multiple pre-roll ads, pre-load the content,when the pre-roll ads have played, there exists an exception that the ts does not exist in server or `BehindLiveWindowException`.

[2018-11-26 03:30] hacker1024 commented on #4931
I haven't got further, I've decided to just use booleans instead of RatingCompat objects.

I don't have an ExoPlayer dev setup. Maybe someone who does could try this?

[2018-11-26 06:09] meenukrishnamurthy opened #5142 "Playback of offline downloaded video"
Hi i would like to play the offline downloaded video from my local storage.I have followed the example given by you in the demo app.But i am not able to find a way to play the downloaded content.Could you please share an example.I am downloading a hls format video

[2018-11-26 09:35] tonihei commented on #4915
The commit above addressed [point 2](https://github.com/google/ExoPlayer/issues/4915#issuecomment-427366294), but point 1 still needs to be done.

[2018-11-26 09:40] #5133 closed, assigned to tonihei

[2018-11-26 09:41] Sathish-Kumar-Kanagaraj opened #5143 "How to switch between subtitles in my custom dialog i have used SingleSampleMediaSource"
I want to switch between subtitles in my custom dialog ,I have parsed single subtitle file using SingleSampleMediaSource but while switching between different subtitles how to handle it without restarting the video, where can i see the piece of code in demo app

[2018-11-26 10:54] AquilesCanta commented on #5107
It would seem to me that the video in [1] uses a stream type that we don't support. I'll mark as an enhancement and will have a look as soon as I have some time. @chakravarthidantu you are also welcome to send a pull request for adding support.

[1] http://vod.apsfl.co.in:8888/hls1/Teluguone/Seema_Simham/index.m3u8

[2018-11-26 11:04] andrewlewis commented on #3468
Yes. I don't think this is ExoPlayer-related. Whether interlacing is supported is likely to vary across devices/builds/codecs as you've noted, so if you have control over the encoding I'd avoid using interlacing.

[2018-11-26 11:04] #3468 closed, assigned to andrewlewis

[2018-11-26 11:09] chakravarthidantu commented on #5107
Even though the stream type is not supported, at least video track should appear right. If video track is rendered and exo player dont have support for that format, I can understand, but how to solve video track issue.

Do you have any solution to get video track to be rendered by exo player (even if playback fails).

[2018-11-26 11:10] acommoner commented on #3468
Alright. Thank you for the responses!

[2018-11-26 11:15] andrewlewis commented on #5142
Are you using ExoPlayer's downloading support as described in this [blog post](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95)? If so, the last section there describes how to play the stream: you play the original content URL used to download the content. The data source will load from the cache to read the downloaded data rather than going to the network.

[2018-11-26 11:28] AquilesCanta commented on #5107
We don't support as in ExoPlayer's TS extractor doesn't support. The video track is not detected by ExoPlayer, and implementing extraction of this type of track (for future reference [1]) might not be a trivial task. MP4-part 2 has some similarities with h263 (see #1603) on sample level, from what I've seen. But I don't know if extraction has any overlapping work to be done. I cannot look into thi

[2018-11-26 11:30] gerardiandrea opened #5145 "Audio Tracks FORMAT_EXCEEDS_CAPABILITIES"
### Issue description
Hi,
I'm implementing the audio track selection on my app using 'TrackSelectionView' as done in the demo app.
Everything works correctly except on some devices where the control to make the audio track selectable or not "trackInfo.getTrackSupport (rendererIndex, groupIndex, trackIndex)" returns me 2 (that is FORMAT_EXCEEDS_CAPABILITIES).

I specify that the default audio track

[2018-11-26 11:46] AquilesCanta commented on #5108
This stream works if you enable FLAG_ALLOW_NON_IDR_KEYFRAMES. You can do this by setting the flag when you create the DefaultHlsExtractorFactory. Something like:

[code]

Let me know if this does not work for you. Thanks!

[2018-11-26 12:04] ojw28 commented on #5129
@paf-wv - Any idea why the provisioning request above would result in a 404?

[2018-11-26 13:27] Sylvain-interactive commented on #5119
It is not a bug, I ask if it is possible to choose the type of sensor used by the SphericalSurfaceView, like choose the TYPE_ROTATION_VECTOR when the TYPE_GAME_ROTATION_VECTOR is not available in the device.

[2018-11-26 13:30] ojw28 commented on #5119
Why shouldn't the code just automatically fall back to `TYPE_ROTATION_VECTOR` if `TYPE_GAME_ROTATION_VECTOR` is not available? I don't understand why application code should need (or want) to choose.

[2018-11-26 13:37] svidata opened #5146 "Is it possible to use exoplayer to stream an encrypted video locally in android?"
So after I allow users to download videos to their devices I will encrypt the videos with AES, now the problem comes when I want to read the encrypted video file. As exoplayer is well known for streaming online is it possible to use exoplayer to stream encrypted videos offline?

[2018-11-26 14:44] NicoIM commented on #5119
TYPE_ROTATION_VECTOR is an exemple. On some of our devices the TYPE_GAME_ROTATION_VECTOR is not supported, we have to use another rotation vector.

We would like to be able to chose any type of rotation vector to use instead of the TYPE_GAME_ROTATION_VECTOR.

[2018-11-26 14:50] ojw28 commented on #5119
I'm not convinced there's a good use case for choosing an arbitrary type. There's probably always a correct type to be using, and it's probably `TYPE_GAME_ROTATION_VECTOR` if it exists, and `TYPE_ROTATION_VECTOR` otherwise. In which case the library should just do that for you. In practice are you actually going to want to set it to a different value, and if so, what's the use case for doing so?

[2018-11-26 14:51] giladna commented on #5103
@tonihei
I suggest to update demo app with different hls urls containing audio/text tracks selection ability

Gilad.

[2018-11-26 14:54] NicoIM commented on #5119
Yes that would be perfect.

The fact is in the SphericalSurfaceView the code that chose the rotation vector is:
`    int type = Util.SDK_INT >= 18 ? Sensor.TYPE_GAME_ROTATION_VECTOR : Sensor.TYPE_ROTATION_VECTOR;
`

It doesn't check if device supports it or not. It only check it's sdk version.

[2018-11-26 14:56] ojw28 commented on #5119
I assume `orientationSensor` ends up being null if the device doesn't support it?

[2018-11-26 15:01] Sylvain-interactive commented on #5119
yes it's null

[2018-11-26 17:09] natez0r commented on #4078
upgraded to 2.9.1, I tested locally with our throttling code removed and i was still getting socket timeouts on rapidly cancelled requests:

[code]

[2018-11-26 21:06] maxTanquerel opened #5148 "Subtiles Application CEA-608 with DASH, from outside of manifest"
### Issue description
I am trying to add subtitles to a dash media source. I get subtitle url from outside the manifest. Subtitles url will return a file that looks like this :

[code]

I try to load the subtitles url like this :

[code]

I can successfully see and select the track using the TrackSelection dialog provide by exoplayer. **But there is no subtitles display.** I checked in the Cea608D

[2018-11-26 23:05] stari4ek opened #5149 "NullPointerException in EventLogger.printMetadata"
I'm seeing rare `NullPointerException` inside metadata analytics processing:

[code]

From mapping:
[code]

So it crashes in one branch of callback propagation which does not have null-check guard

* using b77109148e500b1d0271aa97dd99fe808fd5474d
* no stream sample. I'm seeing it in crash reporting system

[2018-11-27 02:11] JokerLi commented on #5116
Nobody can solve this problem, so... i gived up. Thanks!

[2018-11-27 02:11] #5116 closed, assigned to marcbaechinger

[2018-11-27 03:46] goodibunakov opened #5150 "Use case: internet disappeared during playback"
Where i have to progressbar.setvisibility(VISIBLE) if internet disappeared during playback?
I tried to do this in onPlayerError but this method only works after a while.

[2018-11-27 04:27] songcream opened #5151 "Memory leak on SampleQueue AllocationNode"
I use exoPlayer to play local mp4 file in my app,and add about 10+ video files with looping mode ,but it crash after running 5 hours long. I made a heap dump in studio,it shows that SampleQueue$AllocationNode takes a lot memory,and it will increase more when app run longer
![360 17060221398853](https://user-images.githubusercontent.com/40887133/49058581-97e48f00-f23f-11e8-8ef3-e3fef83ec87d.png)

[2018-11-27 06:10] taimoorMalik opened #5152 "ExoPlayer zooming on full screen like xplayer?"
I'm currently facing a problem regarding full screen zoom i have working file the only issue is when i zoom the surface it don't zoom on the full screen and crop upper and lower area (landscape video player in portrait)

In exoplayer : https://drive.google.com/file/d/1TbJfuiIeZrEZMz9kfGGQqfaQkDcuHmRl/view?usp=sharing

In xplayer : https://drive.google.com/file/d/1m5aLz1x_EDcvtj6mVhYgm3gGF_n62cdw/v

[2018-11-27 07:07] avevanja opened #5153 "Out of memory when try play large video from assets"
[code]

[code]

[2018-11-27 07:15] kraizman commented on #4915
Hello, I have a question related to this topic. I have implemented ExoPlayer with `ConcatenatingMediaSource` and `DefaultShuffleOrder`. I also `player.shuffleModeEnabled = true`.
What is the correct way to get window index until `Player.STATE_READY`. For some reason, I always get `0` when checking `player.currentWindowIndex` in buffering state. Issue related only to the first preparation. When sta

[2018-11-27 07:35] kimsh3933 commented on #5069
Thanks for your advice. I modified DataSource.open method. I changed DataSpec's uri.

[2018-11-27 08:31] zhangabvc opened #5154 "Cannot compile ffmpeg extension for exoplayer"
System PLATFORM is Ubuntu 14.04.04 bit64.NDK version is 15b.Exoplayer Version is r2.9.0.
To perform according to this url https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg
But the compiler reports  errors.
How to modify to compile successfully?

......................................................................................................................................

[2018-11-27 08:33] songcream commented on #5151
In addition,this happens on android 5.1,but work right on andorid 7.1

[2018-11-27 08:51] andrewlewis commented on #5154
I see the same error.

Could you try adding `git checkout release/4.0` before the `./configure` command? That revision compiles correctly for me.

We should find out why this doesn't compile correctly with the NDK and get it fixed in FFmpeg, or update the ffmpeg extension README so that the command checks out a particular release (we already do this for some other extension dependencies).

[2018-11-27 08:52] tonihei commented on #4915
@kraizman The window index is still 0 while the timeline is still Timeline.EMPTY. It should be available with the first onTimelineChanged event. This is also similar to the comment [I made here](https://github.com/google/ExoPlayer/issues/5131#issuecomment-440960487) about the tag of the current window. I've opened #5155 to track this, but it's probably low priority for now.

[2018-11-27 09:03] andrewlewis commented on #5152
It should work if you set up your layout like in the demo app: have a `PlayerView` with width/height set to `match_parent` in the activity's `FrameLayout`, then call `playerView.setResizeMode(AspectRatioFrameLayout.RESIZE_MODE_ZOOM);` when you want to switch to zooming to fill the screen. This causes the video to zoom to fill the screen while remaining in the correct aspect ratio.

If that doesn't

[2018-11-27 09:03] #5152 closed, assigned to andrewlewis

[2018-11-27 09:04] tonihei opened #5155 "Timeline structure is only available after some delay."
The timeline is still Timeline.EMPTY while the MediaSource is preparing for the first time and also doesn't reflect playlist changes with ConcatenatingMediaSource immediately. This is problematic for various reasons:
1. It's against the usual ExoPlayer pattern of reflecting all changes immediately.
2. It requires listeners and UI components to handle special cases for Timeline.EMPTY and a short pe

[2018-11-27 09:19] taimoorMalik commented on #5152
Well when i set it to playerView.setResizeMode(AspectRatioFrameLayout.RESIZE_MODE_ZOOM); it zoomed video to fill screen automatically i want to stay as it is and when user pinch it will zoom accordingly.

[2018-11-27 09:23] kraizman commented on #4915
For player app this is crushual as you need to display which song is buffering. In case source is from internet it may take significant time to get it ready. So there will be no way to show what is going on to user.

[2018-11-27 09:29] PreviousTlx opened #5156 "I want to change Uri ,When I was playing .m3u8 file."
// I want to change uri to play other .m3u8 file when I was playing .m3u8 file.
                            bandwidthMeter = new DefaultBandwidthMeter();
                            videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);
                            trackSelector = new DefaultTrackSelector(videoTrackSelectionFactory);
                            player = Ex

[2018-11-27 09:29] andrewlewis commented on #5152
`PlayerView` doesn't support pinch to zoom I'm afraid. Maybe https://github.com/Manuiq/ZoomableTextureView will do what you need, or can be used as inspiration, though I haven't tried it.

[2018-11-27 09:30] taimoorMalik commented on #5152
i'm using it Zoomabletextureview, and zoom working but i want result as above screenshots!

[2018-11-27 09:31] andrewlewis commented on #5156
The server is returning HTTP status code 404 Not Found, so please check the URLs you're requesting.

[2018-11-27 09:31] #5156 closed, assigned to andrewlewis

[2018-11-27 09:33] andrewlewis commented on #5152
This doesn't seem to be an issue with the ExoPlayer library so we can't do much to help here. I suggest checking that the zoomable view is filling the parent (like the `PlayerView` in ExoPlayer's demo app) and debugging the layout using the layout inspector as suggested above.

[2018-11-27 09:34] PreviousTlx commented on #5156
I had check url,it was right .Because when i only play the change uri .It can work.However ,when i was change url.It not work.

[2018-11-27 09:35] taimoorMalik commented on #5152
ok thanks

[2018-11-27 09:40] andrewlewis commented on #5153
It looks like mmap may be trying to map the entire asset into memory (see [this stack overflow post](https://stackoverflow.com/questions/33897711/android-mmap-fails-with-out-of-memory)). `mmap(0,921858913) failed: Out of memory` suggests the asset is 900 MB. Would using [APK expansion files](https://developer.android.com/google/play/expansion-files) work for your use case?

[2018-11-27 09:47] PreviousTlx commented on #5156
Thanks .I had found my RxManager had a Bug.

[2018-11-27 09:57] andrewlewis commented on #5150
Currently we don't listen for network connectivity changes inside the player so you'll need to do this in your app. Please see the documentation on [managing network usage](https://developer.android.com/training/basics/network-ops/managing), and in particular the sections [Check a device's network connection](https://developer.android.com/training/basics/network-ops/managing#check-connection) and

[2018-11-27 10:14] zhangabvc commented on #5154
git checkout release/4.0
make -j4 && make install-libs && make clean
Only generate lib  for armeabi-v7a, there is no such lib for armeabi-v8a
only libavcodec.so libavresample.so libavutil.so
how to do?

![2](https://user-images.githubusercontent.com/44994911/49074670-1d803300-f270-11e8-84d7-bda7d3353b00.jpg)

[2018-11-27 10:15] tonihei commented on #4915
@kraizman As said above, you don't need to wait until the state is READY. The timeline (and the shuffled order) is available as soon as the first onTimelineChanged event arrives. This should happen within milliseconds after calling prepare.

[2018-11-27 11:32] alex-tilkin opened #5157 "Is DefaultLoadControl affects the Buffering of UdpDataSource?"
### Issue description
I'm streaming media over UDP from an application that runs on the same device as the Exo Player. For PoC purposes I run FFMPEG and ExoPlayer in the same application.

My goal is to terminate FFMPEG and to see the video freezes immediately (or black screen, doesn't matter).

However, I'm trying to modify the configuration of DefaultLoadControl but see no effect, meaning, the v

[2018-11-27 11:44] shaolinrabbi commented on #5157
I'm streaming media over UDP from an application that runs on the same device as the Exo Player. For PoC purposes I run FFMPEG and ExoPlayer in the same application.

My goal is to terminate FFMPEG and to see the video freezes immediately (or black screen, doesn't matter).

However, I'm trying to modify the configuration of DefaultLoadControl but see no effect, meaning, the video keeps streaming ~

[2018-11-27 12:19] xpouyat opened #5158 "Video corruption when playing a live DASH stream"
### Issue description
When playing a live DASH stream (coming from Azure Media Services), we see some corruption on the video. It does happen time to time, with some bitrates. To reproduce, it is needed to select a mid range bitrate and wait for a few minutes.

Please note that we don't experience such issue on PC (Edge/Chrome) using DASH, or iOS devices using HLS.

### Reproduction steps
It can b

[2018-11-27 12:33] andrewlewis commented on #5154
The instructions in the README generate binaries for armeabi-v7a, arm64-v8a and x86:

[code]

Is armeabi-v8a different from arm64-v8a? If you need binaries for additional libraries/architectures you'll need to modify the configure command accordingly.

[2018-11-27 13:15] MuviDeveloper commented on #5123
Please find the error log while trying to download licence token using offlineLicenseHelper class:

[code]

[2018-11-27 13:19] ojw28 commented on #5013
The change isn't a complete solution in any case, since it doesn't use the custom keys when removing the download, or when scanning the cache to see what's been downloaded.

[2018-11-27 14:40] kraizman commented on #4915
Oh, I didn't understand it this way. I will check this. Thanks for clarifications

[2018-11-27 15:33] urbanovichwork opened #5159 "Limit of ByteBuffer at queueInput (AudioProcessor)"
Hello!
I currently using ExoPlayer v2.7.3 and try to write custom AudioProcessor. For my processing method i should know exactly how much samples of audio i will get before queueInput send me this amount of data, but i can't understand the way it generates.
(I using MPEG-DASH streaming)

For ex.: If i play some video with two audio channels queueInput will return me 8192 bytes of data (4096 PCM16

[2018-11-27 16:24] andrewlewis commented on #5159
The input buffer's size is the size of the audio decoder output buffer written to the sink (if this is the first audio processor), or the size of output buffer from the preceding audio processor (otherwise). When using `MediaCodecAudioRenderer` I don't think there's a guarantee that the audio decoder output buffer will have a particular size.

Audio processors can consume the input partially or fu

[2018-11-27 16:25] ojw28 commented on #5148
What format is that subtitle file (beyond it being a JSON file)? I'm pretty sure it's not a format we support, in any case.

[2018-11-27 16:34] andrewlewis commented on #5159
To give a concrete example: let's say you want to process batches of 2048 samples (for example). You can make an internal buffer that's big enough to store up to 2047 samples, and then when you receive more input you can process anything that's in your internal buffer followed by anything that was input up to a multiple of 2048 samples, then store anything that remains in the internal buffer. When

[2018-11-27 16:48] ojw28 commented on #5145
The problem you could encounter is playback failure, if the user selects a format that genuinely isn't supported by the device.

It sounds like a case of these two devices under-reporting their true capabilities. If you're able to provide us with sample media that reproduces the issue, and ideally a bug report captured from one of the affected devices, then we can look at adding a workaround in Ex

[2018-11-27 16:52] adrixgc opened #5160 "Question: Fallback to TCP when QUIC is suddenly blocked"
I am using the Cronet ExoPlayer extension and I want to test the fallback from QUIC to TCP. For that, I am doing the 2 following cases:

1. With a **rooted** phone, when the playback is started with QUIC, I am blocking udp with the following instruction:
`iptables -A INPUT -p 17 --sport 443 -j REJECT`
That way, QUIC is blocked and it should fall back to TCP (same as YouTube native app is doing).

[2018-11-27 17:59] maxTanquerel commented on #5148
Thank you for your quick answer.

Backend guys told me it's CEA-608, can you give me an exemple of CEA-608 file that I can show them ?

[2018-11-27 18:59] ojw28 commented on #5148
It's definitely not CEA-608. Maybe it was derived from 608, but as far as I can tell that's just an arbitrary JSON format. Unless it's a known format, I wouldn't expect any player to handle it.

CEA-608 is a binary format embedded directly in the video bitstream. It can also be carried as a track in QuickTime files. I don't think there's such a thing as a standalone CEA-608 file.

[2018-11-27 19:27] #5119 closed, assigned to erdemguven

[2018-11-27 19:27] ojw28 commented on #5063
This should be fixed in the `dev-v2` branch.

[2018-11-27 19:27] #5063 closed, assigned to ojw28

[2018-11-27 19:28] ojw28 commented on #5059
Fixed in `dev-v2`.

[2018-11-27 19:28] #5059 closed, assigned to AquilesCanta

[2018-11-27 19:28] #4838 closed, assigned to ojw28

[2018-11-27 19:54] maxTanquerel commented on #5148
Ok, I see. What kind of format, can we use as standalone subtitle file ?

[2018-11-27 19:56] ojw28 commented on #5148
See the "Standalone Subtitle Formats" part of the [supported formats](http://google.github.io/ExoPlayer/supported-formats.html) page.

[2018-11-27 19:57] #5148 closed, assigned to ojw28

[2018-11-27 19:59] maxTanquerel commented on #5148
Thank you for your answers

[2018-11-27 21:08] ojw28 commented on #5143
You can add any number of subtitle `SingleSampleMediaSource`s to the `MergingMediaSource` that you pass to the player. So if you know where the subtitles are in advance, set them all up before starting playback, and pass them all into the `MergingMediaSource`. This will cause the player to list each one as an available track. This will cause a corresponding track for each of them to become availab

[2018-11-27 21:08] #5143 closed, assigned to ojw28

[2018-11-28 01:43] zhangabvc commented on #5154
arm64-v8a

[2018-11-28 06:46] Sathish-Kumar-Kanagaraj opened #5161 "I am getting an id:1/8219 in subtitle track list other than the tracks i given"
**Description**
      when i pass the hls url to stream video data along with that i am sending subtitle uri's using Merging Media source but unfortunately i am getting a **id:1/8219** added in that subtitle track list ,while i am choosing it the subtitle is getting disable.But i also written functionality to disable subtitle option using None Option along with that getting this id:1/8219 unknown

[2018-11-28 07:04] robindanielk opened #5162 "Getting " InvalidResponseCodeException" and "IllegalArgumentException" on MP4 playback!"
Hi, recently have been experiencing issues while playing MP4 files from server.
Below are the exceptions being thrown :

[code]
I have attached the medinfo for the file and atom information.
[movieInfo.txt](https://github.com/google/ExoPlayer/files/2623257/movieInfo.txt)
[mediaInfo2.txt](https://github.com/google/ExoPlayer/files/2623259/mediaInfo2.txt)

Would be really helpfuly if u guys could hel

[2018-11-28 07:47] HardikChauhanSA commented on #4915
Hi,

I have one question  like,

I want to create a media source which can play audio from HLS streaming and from the SDCARD or Internal Storage of user's phone.

I have tried creating a Concatenating media source with HLS and Extractor media sources but didn't work.

Any suggestions?

[2018-11-28 08:50] Romantic-LiXuefeng commented on #5141
@ojw28 Did you already had the time to look into this issue? Is there anything I can do to support you?

[2018-11-28 09:02] andrewlewis commented on #5141
What ExoPlayer version are you using? This may have been fixed by 81a9293072faabdd95f241f84b29e32217982ac9. What do you mean by pre-load the content?

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-11-28 09:10] jmimohsin opened #5163 "How to use use decode_mode, headers and secure_uri tags in Exoplayer?"
Hi,

Using latest version 2.9.1

Now I want to play a url which is playing in MxPlayer if we pass these tags else not playing. I want to use that tags in ExoPlayer too, If possible please let me know.

like this:-
[code]
Thanks.

[2018-11-28 09:22] zhangabvc commented on #5154
Successfully generated library for arm64v8 .
Library is placed here ExoPlayer-r2.9.0\extensions\ffmpeg\src\main\jni\ffmpeg\android-libs\arm64-v8a.
Library contains  libavcodec.so libavresample.so libavutil.so.
as follows:
DefaultRenderersFactory.java
  @Deprecated
  public DefaultRenderersFactory(
      Context context,
      @Nullable DrmSessionManager<FrameworkMediaCrypto> drmSessionManager,

[2018-11-28 09:24] kunal-altbalaji commented on #1649
Hi @ojw28 , I'm also facing same issue while adding the subtitle on the fly. I'm using ConcatenatingMediaSource with custom MediaDrmCallback. Now I want to add subtitles to the MediaSource on track change before making Widevine request. But my ConcatenatingMediaSource playlist contains MediaSource and not MergingMediaSource as I do not have .srt files at the time of ConcatenatingMediaSource creati

[2018-11-28 09:52] #5149 closed, assigned to andrewlewis

[2018-11-28 10:05] tonihei commented on #4915
@HardikChauhanSA This is off topic, please file a new issue with all the requires details.

[2018-11-28 10:43] surajm14 commented on #5108
Thanks Santiago and Oliver, We tried inserting the
FLAG_ALLOW_NON_IDR_KEYFRAMES, but getting errors, here is the code below,
please advice at earliest as we are stuck

Following is initializeplayer() method. It has all the code to
initialize exoplayer, load and play. I am able to play all the hls
streams with this code, but not able to play HLS HD live streams.

initializeplayer(){

            ba

[2018-11-28 11:18] AquilesCanta commented on #5108
From what I understand your issue is that
`DefaultHlsExtractorFactory defaultHlsExtractorFactory = new DefaultHlsExtractorFactory(DefaultTsPayloadReaderFactory.FLAG_ALLOW_NON_IDR_KEYFRAMES);` does not compile. Note that the DefaultHlsExtractorFactory constructor that takes the flags was added in 2.9.1.

If you don't want to upgrade your ExoPlayer version from 2.6.1 then you'll have to provide your

[2018-11-28 11:26] andrewlewis commented on #5163
For selection of software vs hardware decoders see #3039. For most use cases it's preferable to leave this up to the platform.

`DefaultHttpDataSourceFactory` allows for setting the user agent and custom HTTP headers (request properties) via its constructor and methods.

The current versions of ExoPlayer's provided UI components do not show the media URI.

[2018-11-28 11:26] #5163 closed, assigned to andrewlewis

[2018-11-28 11:33] andrewlewis commented on #5162
The `IllegalArgumentException` in `AtomParsers.parseStbl` indicates that the MP4 header data is not in the expected format. `InvalidResponseCodeException: Response code: 416` suggests that the player is requesting an invalid byte range from the server.

The media could be invalid, or at last not supported by ExoPlayer's MP4 extractor. To know for sure we'd need to have a copy of the MP4. If you pr

[2018-11-28 11:33] #5162 closed, assigned to andrewlewis

[2018-11-28 11:35] robindanielk commented on #5162
Hi..i ve added the mp4dump as well....not able to figure out where the content is bad

[mp4dump.txt](https://github.com/google/ExoPlayer/files/2624199/mp4dump.txt)

Hope this helps!!

[2018-11-28 11:35] ojw28 commented on #5136
Most of the overhead is caused by repeatedly updating the cache index on disk. We should batch up the updates instead, and/or come up with an on-disk representation that's more efficient to update.

[2018-11-28 11:38] andrewlewis commented on #5110
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

In particular it would be useful to have a full bug report output by `adb bugreport` to see what's going on. It looks weird that a software decoder is in use (`OMX.google.h264.decoder`) yet requires output protections.

[2018-11-28 11:46] andrewlewis commented on #5146
It sounds like you are encrypting the video yourself, and want to decrypt it in a streaming way (rather than decrypting the whole stream and passing the clear stream to ExoPlayer). Please have a look at `AesCipherDataSource`. Depending on how you encrypted the stream you may need to make a custom `DataSource` based on it.

[2018-11-28 11:46] #5146 closed, assigned to andrewlewis

[2018-11-28 11:52] andrewlewis commented on #5151
Is the screenshot showing ~ 35 MB of allocations in the sample queue? That doesn't seem excessive.

Can you reproduce this in the latest version of the ExoPlayer demo app by enabling looping mode and playing the 10 video file concatenation? If so please provide the streams you're trying to play and let us know what device(s) you see the crash on and we'll take a look. Thanks.

[2018-11-28 12:00] andrewlewis commented on #5162
We really need to see the MP4 or at least the whole moov box. You can attach it here or send it to `dev.exoplayer@gmail.com` with subject line "Issue #5162".

[2018-11-28 12:28] jmimohsin commented on #5163
Thanks for help, Video is working but now no sound. I use this one too:-
[code]

I am able to play video but sound is not coming now.

[2018-11-28 12:30] robindanielk commented on #5162
@andrewlewis  Hi..i ve mailed the mp4 file to ` dev.exoplayer@gmail.com` with subject line "Issue #5162".

[2018-11-28 13:05] andrewlewis commented on #5163
Hard to say what's the cause without more information but you can probably remove `DefaultRenderersFactory.EXTENSION_RENDERER_MODE_PREFER` (unless you really do want to use extensions, in which case you'll need to build them by following the instructions in the READMEs).

[2018-11-28 13:51] andrewlewis commented on #5162
The video track sample table contains more CTTS entry than we expect, which is causing the assertion failure. Do you know what specific program (and version number) was used to encode the file?

The file plays correctly after removing this assertion, so we might replace it with a logged warning.

[2018-11-28 14:04] andrewlewis commented on #5154
What was the error?

[2018-11-28 15:05] SystemRestored commented on #5110
The problem is the streams require L1 widevine drm and the device was L3.

[2018-11-28 15:07] xpouyat commented on #5158
Here is the logcat output when video is corrupted. We see EventLogger: droppedFrames and signalFlush events.

11-28 16:04:54.637 23725 23725 D EventLogger: timelineChanged [876.32, 502.16, window=0, period=0, periodCount=1, windowCount=1, reason=DYNAMIC
11-28 16:04:54.637 23725 23725 D EventLogger:   period [?]
11-28 16:04:54.637 23725 23725 D EventLogger:   window [536.00, true, true]
11-28 16:04

[2018-11-28 16:03] nicusorflorin commented on #4492
@ojw28 the crash is happening once more on 2.9.0, and it looks like the code for the crash fix is missing from the source codes, any updates to why it wasn't merged? was it generating another issue?

[2018-11-28 16:20] #5110 closed, assigned to andrewlewis

[2018-11-28 16:39] ojw28 commented on #4492
It looks like the changes are there to me. Can you be more specific.

[2018-11-28 16:44] nicusorflorin commented on #4492
@ojw28 this commit https://github.com/google/ExoPlayer/commit/7d4ac516e72233ebee63bc57fa4529c8b76c54d1 which as i understand from the previous comments, should fix the actual crash, on v2.9.0 this piece of code is missing

[2018-11-28 17:00] ojw28 commented on #4492
It looks like it was removed in a subsequent change. Looking at the subsequent change, this appears to have been deliberate, because it should no longer be necessary.

Whatever the crash is you're seeing, it's not the same as the one at the top of this issue, because the method that was crashing no longer exists. Please can you provide more complete information (i.e. the actual crash, and a manife

[2018-11-28 17:18] nicusorflorin commented on #4492
@ojw28 I changed the licenseUrl, i'm not allowed to actually give access to the video, sorry about that
[code]

[manifestCrash.txt](https://github.com/google/ExoPlayer/files/2625925/manifestCrash.txt)

[2018-11-28 17:29] jmimohsin commented on #5163
Thanks for help.

[2018-11-28 20:48] rajeshghosh1978 opened #5166 "Content failed after bitrate switch to HD in L3 device"
### Issue description
I am trying to play a content in L3 device. It played for the first few seconds with the lowest bitrate (SD) but it gets failed when tries to switch to higher bitrate i.e HD. Based on our DRM policy it should fail in L3 device. But why Exopayer tries to switch to an upper bitrate when it knows the device doesn't have those capacities.

### Reproduction steps
I can't share the

[2018-11-28 20:56] ojw28 commented on #4825
Ping @paf-wv / @jefftinker - Thanks.

[2018-11-28 21:03] ojw28 commented on #5166
I think the short answer is that ExoPlayer doesn't know. We know that the MediaDrm implementation is L3, but we don't know which of the loaded keys are usable for decryption. L3 doesn't always mean HD wont work. That's a property of your license policies rather than the MediaDrm implementation itself.

There's platform APIs we can use on API level 23 and above to find out which keys are usable, bu

[2018-11-28 21:03] #5166 closed, assigned to ojw28

[2018-11-28 21:35] rajeshghosh1978 commented on #5166
Thank you for your prompt response. I am able to play the content by restricting HD from app side using
trackSelector.setParameters(new DefaultTrackSelector.ParametersBuilder().setMaxVideoSize(1008,719));

[2018-11-29 00:01] marcochin opened #5167 "Calling setPlayWhenReady(false) while Player is in Player.STATE_ENDED will send another Player.STATE_ENDED to onPlayerStateChanged callback"
### Issue description
Calling `SimpleExoPlayer.setPlayWhenReady(false)` while the Player is in `Player.STATE_ENDED` state will trigger the `onPlayerStateChanged` callback again with another `Player.STATE_ENDED` state.
Is this intentional behavior?

### Reproduction steps
1) Let a video play to the end so it hits the Player.STATE_ENDED state.
2) Try to pause the video by calling SimpleExoPlayer.set

[2018-11-29 00:04] ojw28 commented on #4492
I don't think it's the same issue. Please file a new issue, filling out the template as much as is feasible (e.g., but not limited to, details of exactly how to reproduce the problem).

[2018-11-29 00:07] ojw28 commented on #5167
`onPlayerStateChanged` is documented as:

So yes it is correct, provided `playWhenReady` was previously set to true, because the value returned from `getPlayWhenReady` changes.

[2018-11-29 00:07] #5167 closed, assigned to ojw28

[2018-11-29 01:23] zhangabvc commented on #5154
This log 'Loaded FfmpegAudioRenderer.'  does not appear.
exoplayer cannot play Audio-mpg2  format.So add ffmpeg to support some audio format.

![999999](https://user-images.githubusercontent.com/44994911/49192894-09474d80-f3b8-11e8-916f-d04db5ecbe26.jpg)

[2018-11-29 01:27] NgWaiKong opened #5168 "the usage of CachedContentIndex"
What is the role of CachedContentIndex? Why do we still need to do a mapping of id and key in it? What bugs might there be if we don't do this mapping?

[2018-11-29 04:23] robindanielk commented on #5162
@andrewlewis .thanks for the information..but the content happens to be downloaded from internet so the specifics are unknown!!..**could you tell how the CTTS entry was extracted and removed?**
 ..because that would be helpful in clearing from our side..!!

[2018-11-29 06:46] ankitkhare opened #5169 "Getting IllegalStateException for Xiaomi devices, works when codecNeedsSetOutputSurfaceWorkaround set to true."
**Issue Description**

On Xiaomi devices getting IllegalStateException for XiaomiTv devices. Here is the stacktrace

[code]

**Steps to reproduce**
1. Play any video(in Exoplayer demo as well) and do backpress, you will get the exception.

**Device Info**

**Decoder Name                                     Manufacturer     Model             Api Level**
OMX.amlogic.avc.decoder.awesome    Xiaomi

[2018-11-29 07:20] danyangwu opened #5170 "it didn't work after I compiled the ffmpeg extension and depend on it"
### Issue description
I followed the instructions (https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) , compiled the FFMPEG extension,  depend on it(https://github.com/google/ExoPlayer#locally), setting the extensionRendererMode parameter of the DefaultRenderersFactory constructor to EXTENSION_RENDERER_MODE_ON, and build my demo project.  But it didn't work when I tried to play

[2018-11-29 08:16] andrewlewis commented on #5162
We'll push a change shortly that changes the assertion into a warning. This issue will be updated automatically to reference the commit.

[2018-11-29 08:19] andrewlewis commented on #5170
The extension can add support for decoding audio data encoded using various codecs, but it doesn't provide extractors for container formats like AVI I'm afraid.

[2018-11-29 08:19] #5170 closed, assigned to andrewlewis

[2018-11-29 08:26] danyangwu commented on #5170
What should I do to support decoding AVI?

[2018-11-29 08:41] andrewlewis commented on #5170
#2092 tracks this but it's (currently) low priority.

[2018-11-29 08:56] danyangwu commented on #2092
I would also like to see an ExoPlayer avi extractor implemented.

[2018-11-29 09:03] erdemguven commented on #5168
Normally you don't need to use CachedContentIndex directly. It is used by SimpleCache. Nothing happens if you don't use it directly :)

[2018-11-29 09:03] #5168 closed, assigned to erdemguven

[2018-11-29 09:47] okycelt commented on #5003
@tonihei Sorry to push, but do you have any estimate when approximately you're going to start working on this? Thanks again.

[2018-11-29 10:02] andrewlewis commented on #5154
I just followed the instructions from the README on an arm64-v8a device and loading the ffmpeg extension succeeded in the demo app. Could you go through the instructions again from the start (adding in `git checkout release/4.0` at the right point) and check you didn't miss a step? If it still doesn't work with your app please try with the demo app.

As a separate issue (once you've got the librar

[2018-11-29 10:17] zhangabvc commented on #5154
How to enables FFmpeg?

[2018-11-29 10:20] urbanovichwork commented on #5159
Thanks for advice, did it in this way and everything is good.

Actualy, i have one more question. Maybe you can help me with playing audio from ExoPlayer at specific AudioSource of Unity3D? Is it possible and maybe it covered somewhere?

[2018-11-29 10:25] andrewlewis commented on #5159
I don't think this is covered anywhere and I haven't tried it, but I think it's in theory possible to create a custom `AudioSink` implementation that outputs to a Unity audio source instead of writing to a platform `AudioTrack`. If you try this and manage to get it to work it would be cool if you could let us know here. Thanks!

[2018-11-29 10:25] #5159 closed, assigned to andrewlewis

[2018-11-29 10:34] dungnn1991 commented on #4519
I have exact same issue on Samsung SM-T231, GT-I9152, GT-P5220. Can we use "omx.google.mp3.decoder" to avoid this problem ?

[2018-11-29 10:47] ojw28 commented on #4519
@dungnn1991 - Please send a pull request to `dev-v2` that blacklists the problematic decoder on the affected devices (only), similar to https://github.com/google/ExoPlayer/commit/c3c309b8a826912808360a344443703ee878720e. Thanks!

[2018-11-29 11:24] NgWaiKong commented on #5168
Excuse me, is this CacheContentIndex for performance optimization? I see that I will store a copy of the file "cached_content_index.exi", which seems to be optimized for performance.

[2018-11-29 11:36] NgWaiKong opened #5171 "Normally you don't need to use CachedContentIndex directly. It is used by SimpleCache. Nothing happens if you don't use it directly :)"
_Originally posted by @erdemguven in https://github.com/google/ExoPlayer/issues/5168#issuecomment-442757296_

Excuse me, is this CacheContentIndex for performance optimization? I see that I will store a copy of the file "cached_content_index.exi", which seems to be optimized for performance.

[2018-11-29 11:42] andrewlewis commented on #5171
Please use the original issue for the continued discussion. I'll close this one as a duplicate of #5168.

[2018-11-29 11:42] #5171 closed, assigned to andrewlewis

[2018-11-29 12:04] andrewlewis commented on #5161
Are you sure this is a text track not a metadata track? Please could you play your stream with the demo app and provide the logcat output from `EventLogger` for `tracksChanged`, as this will show the IDs and formats of tracks?

[2018-11-29 12:10] bash-celik commented on #3750
@andrewlewis hi, any updates?

[2018-11-29 12:13] andrewlewis commented on #5162
One other thing to note about this issue: the `IllegalArgumentException` in `parseStbl` will be addressed by the commit once it gets pushed, but I'm not sure why the HTTP 416 error was appearing. If we were retrying parsing the stream after throwing, the range request should be valid. I also can't reproduce that part of this issue (I just see the exception parsing stbl then a playback failure afte

[2018-11-29 12:13] andrewlewis commented on #3750
@gengar3 No updates I'm afraid.

[2018-11-29 12:47] andrewlewis commented on #5154
1093aaf1853672ed5161fa21640dcb29f13c18bc adds the release version tag to the README, and the instructions now work for me in the demo app, so I'll close the issue. Please try following the instructions carefully with the demo app and reply here if you still have problems.

[2018-11-29 12:47] #5154 closed, assigned to andrewlewis

[2018-11-29 13:01] karandeep26 commented on #5142
I can't find equivalent of `DefaultDashChunkSource.Factory ` for hls media. Could you please help?

[2018-11-29 13:37] vorobyovda opened #5172 "The player returns an incorrect value for the current position when using ConcatenatingMediaSource and ExtractorMediaSource."
Hi

I'm running ExoPlayer 2.9.1 on Pixel 2 with Android 8.1.0

In this sample, I connected empty video fragments twice using ConcatenatingMediaSource and ExtractorMediaSource.
When we start the application, the logs show that, in the end of the first video, the player returns an incorrect value (slightly less than the current video position) for 1 second.
Here’s a link to the repository with the s

[2018-11-29 13:40] BrainCrumbz commented on #4707
Sorry to detour this issue, it might be somehow related though: is there an API to get the tag associated to a given `MediaSource`? After its creation, I mean. Something like `MediaSource#getTag()`.

We had a look at the docs but could not find any. Thanks

[2018-11-29 15:10] tonihei commented on #4707
That's currently not supported because of the way our MediaSources are designed. See [this comment](https://github.com/google/ExoPlayer/issues/4693#issuecomment-414377097).

[2018-11-29 16:31] BrainCrumbz commented on #4707
Thanks for reply. Just wondering: isn't tag Object stored somewhere inside the MediaSource, right after source is created (and thus before being added to a playlist or directly *prepare*-d on a player)?

[2018-11-29 16:43] tonihei commented on #4707
It is, but we could only add such a method for particular media source implementations which support it, not to the MediaSource interface.

[2018-11-29 17:43] BrainCrumbz opened #5173 "ACodec Error 0x80001000, internalError -2147483648, with two players"
Before filing an issue:
-----------------------
☑️  - Search existing issues, including issues that are closed.
☑️ - Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
☑️ - Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
☑️ - This issue tracker is intend

[2018-11-29 17:51] BrainCrumbz commented on #4707
Could you share which is that implementation? So maybe we can try a cast and if positive, extract the tag from that?

[2018-11-29 22:32] rajeshghosh1978 opened #5174 "Content failed after bitrate switch to HD with HDCP V 1.0"
### Issue description
We are trying to play a content with HDCP: 1.0 .Sometime, It played for the first few seconds in SD but it failed when it switches to HD, sometime it desn't play at all  (When it starts with HD directly). Though this is a valid scenario as our DRM policy is only allowed to play SD content with HDCP v1.0. But why Exopayer tries to switch to an upper bitrate when it knows the d

[2018-11-29 23:45] TroyStopera opened #5175 "[Question] Custom implementation for raw H.264 Annex B support"
#### Scenario
We are opening a web socket to our backend which is providing a raw H.264 stream. The backend is already splitting the stream into NAL units, so the messages we receive through the socket are already properly split at the NAL headers (0x00000001). What we are trying to do is create custom components that will enable ExoPlayer to play our stream.

#### What We've Tried
We did some res

[2018-11-30 02:11] zhangabvc commented on #5154
COMMON_OPTIONS="\
    --target-os=android \
    --disable-static \
    --enable-shared \
    --disable-doc \
    --disable-programs \
    --disable-everything \
    --disable-avdevice \
    --disable-avformat \
    --disable-swscale \
    --disable-postproc \
    --disable-avfilter \
    --disable-symver \
    --disable-swresample \
    --enable-avresample \
    --enable-decoder=vorbis \
    --ena

[2018-11-30 03:17] Romantic-LiXuefeng commented on #5141
I think fixed by 81a9293. Project forward the loading position may avoids `BehindLiveWindowException` . but there may exists the error ,the request ts segment has not exist in server.
For example, when a ts segment is in the process of being downloaded , and the network environment is poor at this time. Maybe the request ts segment has been deleted in server. The player will play failed. I think t

[2018-11-30 03:54] anhlevfx commented on #5005
Hello,
I discovered new problem with exoplayer, It's so urgent for my project so I
mail direct you.
I update to exoplayer 2.9.1 and when play some short VOD (under 10 mins)
exoplayer not fire event ended play. When play last second, it switch to
buffer state. I test with exoplayer demo 2.8.4 and same result.

Here is the link with this error:
http://vtsstr1.tv24.vn:1935/hbvd/_definist_/cache/vod5/

[2018-11-30 05:58] sravan1213 commented on #5123
@Muvidevlopers check whether you are adding following flag while generating express-play licence url.

generalFlags | A 4 byte hexadecimal string representing the license flags. Allowed values are as follows: ‘00000000’ – (default value) no persistence ‘00000001’ – persistent license
-- | --

https://www.intertrust.com/products/drm-system/developer/restapi/#widevine-license-token-request

[2018-11-30 06:02] Romantic-LiXuefeng commented on #5141
Using the buffered duration to project forward the loading position. There may still cause the `BehindLiveWindowException`.
Pre-load means that when the ad is playing and the `LoadControl` allows to load the next source.

Pre-load the living stream is not safe.  There is always the possibility of  an `BehindLiveWindowException` or a error that the request ts has been deleted in server.
So I think

[2018-11-30 06:20] tehokang commented on #4021
@AquilesCanta

Excuse me but I'm planning to do PlayReady for HLS, your explanation seems to be like ExoPlayer already support them. Could I know where I can see the specifications of ExoPlayer for PlayReady on HLS?
Thanks in advance,

[2018-11-30 06:20] tehokang commented on #4021
@AquilesCanta

Excuse me but I'm planning to do PlayReady for HLS, your explanation seems to be like ExoPlayer already support them. Could I know where I can see the specifications of ExoPlayer for PlayReady on HLS?
Thanks in advance,

[2018-11-30 07:39] zhangabvc opened #5176 "ffmpeg extension support for exoplayer."
xoplayer cannot play Audio-mpg2 format.So add ffmpeg to support some audio format.
To perform according to this url https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg
But cannot use ffmpeg.
do as follows:
COMMON_OPTIONS="
--target-os=android
--disable-static
--enable-shared
--disable-doc
--disable-programs
--disable-everything
--disable-avdevice
--disable-avformat
--disable-swsc

[2018-11-30 08:16] andrewlewis commented on #5176
Duplicate of #5154.

[2018-11-30 08:16] #5176 closed, assigned to nobody

[2018-11-30 08:19] andrewlewis commented on #5154
I'm afraid you'll need to do some debugging yourself as there's not enough information here for us to help.

You could set a breakpoint in the relevant `DefaultRenderersFactory` method and step through. If an exception gets thrown when loading the library you can inspect the details of the error to figure out what is going wrong.

Have you tried following the steps in the README with the demo app?

[2018-11-30 08:24] zhangabvc commented on #5176
yes.

Can help me solve it?

[2018-11-30 08:38] tonihei commented on #4707
This is getting slightly off-topic :)
Can you open a new issue explaining what you'd like to achieve and why you need to get the tag back from the media source? Maybe there is a better way to support that.

[2018-11-30 08:47] andrewlewis commented on #5141
Imagine we are starting to load the content while still playing the preroll. We project forwards the live edge of the content when choosing the loading position. If the segment at the projected load position is not available yet we don't try to load anything, and retry later. Once it is available we start buffering at this projected load position, which means that (assuming playback can continue l

[2018-11-30 09:00] andrewlewis commented on #5175
`packetStarted` sets the presentation timestamp for the next NAL unit started from `consume`. I don't think you get timing information in the Annex B bytestream, so you probably need to get frame timestamps from some other source (e.g., by assuming a constant frame rate). If you don't do this all the samples will end up with timestamp 0. If your stream doesn't have access unit delimiters you will

[2018-11-30 09:10] xpouyat commented on #5158
We have been able to mitigate the issue by disabling the “dynamic_sub_gop” feature in the Elemental live encoder.

[2018-11-30 09:31] andrewlewis commented on #5157
ExoPlayer isn't designed for ultra low latency so you probably won't be able to set up things so that the renderers are starved "immediately" when you disconnect the source, but I'd expect it to be possible to get less than 1.5 seconds' latency.

I'd probably try the following (in order):
- Reduce the packet size in `UdpDataSource`.
- If you have an audio stream try disabling it.
- Add logging whe

[2018-11-30 09:45] BrainCrumbz opened #5177 "[Question] Get tag for MediaSource beside current in a playlist"
We're trying to retrieve some metadata associated to `MediaSource`s found in a `ConcatenatingMediaSource` playlist.

Searching through past issues (#5131, #4707) and reference doc, we got that it is indeed possible to associate some `Object` as a tag when `MediaSource` is built, then it is possible to get the tag (from player) only for the currently playing item.

What we're looking for is to get

[2018-11-30 10:10] #5158 closed, assigned to andrewlewis

[2018-11-30 10:10] andrewlewis commented on #5158
Thanks for the information!

[2018-11-30 10:23] zhangabvc commented on #5154
[libs.zip](https://github.com/google/ExoPlayer/files/2632882/libs.zip)

add flags in code.

![7777](https://user-images.githubusercontent.com/44994911/49283429-ad221d80-f4cc-11e8-8549-af8177956ea1.jpg)

the Log only show "cyrus   : Loaded ffmpeg".

![5555555](https://user-images.githubusercontent.com/44994911/49283479-d04ccd00-f4cc-11e8-8353-41e7a4daccc5.jpg)

[abv1130-1.txt](https://github.com/go

[2018-11-30 10:28] BrainCrumbz commented on #5173
In repro project, please double check which clips are actually added to the playlist: they are specified at the bottom of `MainActivity`, where it says:

[code]

I'm not sure which clip is set in the ZIP archive that we sent you. Setting all of them to `R.raw.big_buck_bunny_1080p` should be enough to cause the issue on an appropriate device.

[2018-11-30 10:33] andrewlewis commented on #5154
Does the app have a dependency on the ffmpeg extension?

[2018-11-30 10:39] zhangabvc commented on #5154
I think yes.But I donot know Where is wrong

[2018-11-30 10:43] andrewlewis commented on #5154
It looks like loading `FfmegAudioRenderer` is throwing `ClassNotFoundException`. You need to make sure your app has a dependency on the ffmpeg extension module that you checked out at the start of the [build instructions](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg#build-instructions).

[2018-11-30 10:51] zhangabvc commented on #5154
The library is generated in linux. The project  Exoplayer is bulit in window.
Is the problem here?

![99](https://user-images.githubusercontent.com/44994911/49284784-98e01f80-f4d0-11e8-9d01-80abfd617b34.jpg)

[2018-11-30 10:55] andrewlewis commented on #5160
Did you enable HTTP/2 as well as QUIC? When I tried using your iptables command to block UDP, I found that playback continued with protocol `http/2+quic/39`. Anyway, I'm not sure how to check the fallback but maybe someone else can help, or you may get a better answer by posting this on a Cronet-related forum as it's not really related to the ExoPlayer library.

[2018-11-30 10:55] #5160 closed, assigned to andrewlewis

[2018-11-30 10:58] andrewlewis commented on #5154
Assuming you're using Android Studio: try typing `FfmpegAudioRenderer f;` then when it goes red press Alt+Enter, select to add a dependency on the extension, then delete the added line.

[2018-11-30 11:01] andrewlewis commented on #5169
Please could you provide a full bug report (`adb bugreport`) taken just after seeing the exception? I think this issue shouldn't happen from API 27 because device compatibility test suites have cover the functionality we're using. @ojw28 can confirm and recommend how to proceed.

[2018-11-30 11:02] zhangabvc commented on #5154
@andrewlewis

org.gradle.api.CircularReferenceException: Circular dependency between the following tasks:
:extension-ffmpeg:generateDebugRFile
+--- :extension-ffmpeg:generateDebugRFile (*)
\--- :library-core:generateDebugRFile
     +--- :extension-ffmpeg:generateDebugRFile (*)
     \--- :library-core:generateDebugRFile (*)

(*) - details omitted (listed previously)

	at org.gradle.execution.taskgr

[2018-11-30 11:06] AquilesCanta commented on #5005
Hi @anhlevfx, I couldn't reproduce the issue. When playback reaches the end, the player transitions to ENDED state. Although I did seek near the end, and also ran into some HTTP connection issues.

Please file a new issue, including all the information requested in the issue template.

[2018-11-30 11:39] andrewlewis commented on #5172
The MP4 you're trying to play seems to have one minute of video but only one second of audio. Could you try making the audio and video track durations match and seeing whether that fixes the issue?

[2018-11-30 11:39] #5172 closed, assigned to andrewlewis

[2018-11-30 11:48] andrewlewis commented on #5173
The provided bug report doesn't seem to include the errors pasted above, but it's likely this is caused by running out of codec-related resources. There's sometimes more logging before the codec actually throws that can help confirm that the issue is related to running out of resources. You can also just try playing one video then two concurrently and make sure the error happens only in the second

[2018-11-30 11:51] andrewlewis commented on #5174
Could you clarify how this differs from #5166?

[2018-11-30 11:52] andrewlewis commented on #5177
Assigning to Toni for `ConcatenatingMediaSource`.

[2018-11-30 12:04] andrewlewis commented on #5096
@ebr11 Could you give a bit more detail on how you are cropping the video?

[2018-11-30 12:06] BrainCrumbz commented on #5173
Why did you close the issue? We could provide more info, and make sure that the bug report includes the errors.

[2018-11-30 12:07] andrewlewis commented on #5173
I closed it because I think there's enough information for you to confirm that the issue is using multiple codecs concurrently. Happy to reopen if you need something else!

[2018-11-30 12:15] andrewlewis commented on #5096
Talked to @ojw28 and now I think I understand the question so please ignore the comment above.

[2018-11-30 12:16] andrewlewis commented on #5096
@sureshcnvidia: are you aware of any issues combining HDR surfaces with non-HDR content on Shield?

[2018-11-30 12:32] levz commented on #5136
Here is a workaround, until there is a better solution.

I ended with cloning a couple of classes to create a separate SimpleCache folders for each download.
I created clones of DownloadManager and DownloadService. (Could not override them, since they are final).

In MyDownloadManager I create a new helper with a new SimpleCache folder for each download.
And in task run() method, for remove action

[2018-11-30 14:02] BrainCrumbz commented on #5173
We just sent a new email, subject `RE: Issue #5173`, with updated repro project and bug report.

We double-checked project sources, they are using the same clip (1080p) to make error show up.
We increased bug report capacity to 4 Mb and took the report right after error showed up, just to be sure nothing was overflowing.
The stacktrace mentioned in GH issue is definitely visible in this bug report

[2018-11-30 14:27] andrewlewis commented on #5173
[code]

I'm fairly sure this confirms the codec couldn't acquire resources, likely due to using multiple decoders concurrently.

[2018-11-30 14:31] tonihei commented on #5177
Thanks for the clarification!

I think the API you are looking for is
`player.getCurrentTimeline().getWindow(itemIndex, new Window()).tag`.

Note that this is directly coupled to the media known to the player and it may not immediately reflect changes made in ConcatenatingMediaSource. I recently filed #5155 for this problem (see bullet point 4 in there).

Does that help? Or does the mentioned prob

[2018-11-30 14:46] BrainCrumbz commented on #5177
Uhm, not really helping. We're looking for the tag on MediaSources that are not necessarily playing at that moment, and might have already played, or have to be played yet.

This is what we were wondering in issue #4707 :

Isn't tag `Object` stored somewhere within the MediaSource, right when source is created?
And thus shouldn't it be already available somehow before being added to a playlist, an

[2018-11-30 14:59] BrainCrumbz commented on #5173
Thanks for quick reply.

We saw that the same device can work correctly with that sample project when clips have a lower resolution, and also when clips have same resolution but shorter duration.

Looking at logs with OMX constructors in those working cases, the device is able to create a second non-software video codec, so this should prove - once more - that device _can_ actually use at least tw

[2018-11-30 15:14] andrewlewis commented on #5173
#1286 notes the actual limitation may not be number of decoders.

1. From M there's an API to find out the maximum number of supported instances (see #1286) but if it returns a value >= 2 that only means that playback *may* succeed for the particular resolution used in the CTS test used to set the value. As you note, you come up with some heuristics based on API version, screen size, performance m

[2018-11-30 15:16] tonihei commented on #5177
The timeline is independent of the currently playing item. You can query any item at any time after it has been created.

I agree that is a valid use case. The problem is, however, that the tag is undefined for some cases where a media source consists of multiple windows (e.g. the ConcatenatingMediaSource).

We could add a method which returns the tag if it's available on the source. Given that th

[2018-11-30 15:23] BrainCrumbz commented on #5177
Given the mentioned issue you filed on Timeline being temporarily empty, and especially being that the tag seems **a lot** like something that is associated with the mediasource you attach it to, we'd say to go for your last option: adding the getter method.

By the way, client code should know if/when it is adding tags to sources it creates, and reasonably it should be able to handle cases where

[2018-11-30 16:18] BrainCrumbz commented on #5173
We're taking a set of clips in order to test that, and report results here.

In the meantime, it is not clear how should we pass `MediaCodecSelector.DEFAULT_WITH_FALLBACK` as a MediaCodec selector to our ExoPlayer instance. What's the hierarchy of classes that needs to be customized?

Commit description and issue seems not helpful on this topic. Basically we need to customize the way media codec a

[2018-11-30 16:34] andrewlewis commented on #5173
Yes.

[2018-11-30 16:44] BrainCrumbz commented on #5173
Tried building player with this bit of code, but nothing changed:

[code]

List of available decoders on device is:

[code]

Is that because there's no software decoder equivalent to *OMX.qcom.video.decoder.avc* ?

[2018-11-30 16:48] andrewlewis commented on #5173
`OMX.google.h264.decoder` is a software H.264/AVC decoder. Is the error being thrown after initializing the codec? Fallback only works if `MediaCodec` creation/configuration/starting fails. Stepping through `MediaCodecRenderer.maybeInitCodecWithFallback` should show whether we're falling back.

[2018-11-30 17:10] BrainCrumbz commented on #5173
We delayed a lot the moment when we seek on second player and cause the issue. From breakpoint, it seems that method is only invoked once at the very beginning. Then later on the error shows up, and it seems the same as usual. Is that what you mean with "thrown after initializing the codec"?

[code]

Otherwise please let us know how can we "show whether we're falling back". By debugging, `availabl

[2018-11-30 17:15] alexgerv commented on #5129
we are also seeing 404s on https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create, which prevents the devices from playing any Widevine content. We have a few devices in our labs that show the issue, but also production devices.

Example request: https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create?key=AIzaSyB-5OLKTx2iU5mko18DfdwK5611JIjbUhE&sign

[2018-11-30 17:29] andrewlewis commented on #5173
If the first time you see an error isn't during initialization of a codec then the fallback codec selector won't be useful unfortunately.

If you're happy with software decoding, you could try preemptively using the software decoder for the second playback?

[2018-11-30 17:33] BrainCrumbz commented on #5173
Thanks again for feedbacks.

In our real app, the two players will swap from time to time. But apart from that, how do we make it so that a player always uses software decoder? To the purpose of this test, it is enough we always return the software H.264/AVC decoder one.

After this point, we also have some more data regarding "At what point does the video get long enough that playback fails?".

[2018-11-30 17:44] andrewlewis commented on #5173
You can do this with a custom `MediaCodecSelector`, set up to return the relevant software decoder, if present. Software video decoding is relatively inefficient (especially wasting battery on mobile) so I'd investigate any alternatives before resorting to this. If there is any way to avoid using two players that is preferable.

[2018-11-30 17:59] TroyStopera commented on #5175
Thanks for the quick reply!

I have tried what you suggested. At the breakpoint, the timestamp appears to be accurate, and the size of the NAL unit is correct as well. Our stream doesn't have access unit delimiters so I set `detectAccessUnits` to true.

However, the video is still not playing. The `currentPosition` of the `ExoPlayer` instance is counting up correctly, but still only one frame is p

[2018-11-30 18:04] andrewlewis commented on #5175
In `MediaCodecRenderer.feedInputBuffer` you can check that the buffers are being queued to the decoder as expected, and in `MediaCodecVideoRenderer.processOutputBuffer` you can see how the output is being handled.

[2018-11-30 19:21] jandresakis commented on #5136
@levz I see the same issue and was hoping not to do what your talking about in your solution. Did you have to copy/refactor most of the SimpleCache and task logic or just pieces?

[2018-11-30 19:44] paf-wv commented on #5129
Hi there,
Thanks for reporting. According to the service's team the provisioning server accepts HTTP POSTs.
Could that be the cause of the 404s?

Adding client eng to this to verify.

[2018-12-01 11:32] majidebrahimii opened #5178 "Auto quality does not work properly"
I used the example and version 2.9.1. The selected auto quality is not properly selected and does not match the speed of the Internet. How to fix it, or how can I display the quality on other qualities.

[2018-12-01 14:45] MatzeOGH commented on #5153
I have the same issue.
The video file is around 1.5gb of size

[2018-12-01 15:26] Vitamin-B opened #5179 "[Question] How to customize responses to headset media buttons?"
Typically I would extend MediaSessionCompat.Callback() and put my logic in onMediaButtonEvent.
When I use setPlayer(), the callback is completely removed and an internal callback is put in place, which I cannot (find a way to) modify.
How can I do that or what is an alternative solution to overriding responses to media buttons using exoPlayer?

[2018-12-01 19:18] whyvas commented on #5128
Thanks for the quick response. Apologies for my lack of knowledge but here's my code:

[code]

But I get this error:
[code]
I can't seem to find any examples of the UdpDataSource, can anyone steer me in the right direction?

[2018-12-01 23:18] ojw28 commented on #5153
I don't think large video files should be bundled as assets; it doesn't feel like an appropriate distribution mechanism. APK expansion files might work as mentioned above. Hosting the video and having the app stream or download it would definitely work.

[2018-12-01 23:18] #5153 closed, assigned to andrewlewis

[2018-12-01 23:20] ojw28 commented on #5178
Closing because insufficient information has been provided. Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-12-01 23:20] #5178 closed, assigned to nobody

[2018-12-01 23:46] MatzeOGH commented on #5153
You are right. Moving the file out of the apk and accessing it via Uri solved the issue.

[2018-12-02 06:46] anhlevfx opened #5180 "Player not switch to ENDED state when finish play HLS VOD"
### Issue description
The exoplayer play some shorts HLS VOD (under 10 mins) from our wowza server stuck buffering at the end of stream. Normally, exoplayer will change state to ENDED when get #EXT-X-ENDLIST tag. But, it don't do that, it just switch to BUFFERRING mode and not fire ENDED event.

### Reproduction steps
Try play link I will send you to test. On demo app, I just write some code to li

[2018-12-02 07:59] teshlya opened #5181 "exoplayer scrolls in recyclerview incorrectly"
I use exoplayer in the recycler view. Everything works fine, but when I scroll, the exoplayer went beyond the screen, and then come back, the exoplayer call `onPlayerStateChanged - STATE_BUFFERING - STATE_READY` and the video shifting for a few seconds, although the exoplayer is paused. You understand me because I speak English badly?
https://drive.google.com/open?id=10ZvOtFT0k9VA4v3wPI8SC7EszdVg1

[2018-12-02 08:42] juechemparathy opened #5182 "Buffer is not filled as intended for Dash mpd with multiple periods"
https://gist.github.com/juechemparathy/ce40519847c5d4bc3451d5b5b680f5fc
Above mpd has each segment as ~4s periods and I see that at any point only 4s of buffer is loaded instead of accumulating till the HighWaterMark level set on LoadController.

Exoplayer version: 2.9.0
Stream info:
[code]
Live stream has 3 minutes of slate and 3 minutes of DRM content rolling.
Slate is represented as mulitple pe

[2018-12-02 09:52] #5109 closed, assigned to tonihei

[2018-12-02 09:53] goodibunakov commented on #5150
@andrewlewis Thanks!