[2016-12-28 00:17] lioun1729 opened #2266 "minDurationToRetainAfterDiscardMs in AdaptiveVideoTrackSelection"
[code]

In above comment, I wonder word 'significantly'

What is the precise standard about 'significantly' ?

Please help for this question, Thank you

[2016-12-28 06:16] lioun1729 commented on #2266
#

[2016-12-28 09:21] bleuf1sh opened #2267 "Support querying unadjusted frame timestamps in MediaCodecVideoRenderer"
**Description:**
In MediaCodecVideoRenderer.processOutputBuffer(), when starting to play a video from the beginning, the positionUs and bufferPresentationTimeUs no longer start from 0 (Exo2.0.4). Instead they start from 60000000 (Exo2.1.1).

**Reproduce:**
Make a class which extends MediaCodecVideoRenderer and print the values positionUs and bufferPresentationTimeUs. See that in Exo2.0.4 (and in V

[2016-12-28 09:35] andrewlewis commented on #2267
This was an intentional change to avoid having negative buffer timestamps when prerolling media for transitions into clipped periods (see [ClippingMediaSource](https://github.com/google/ExoPlayer/blob/f276eb2/library/src/main/java/com/google/android/exoplayer2/source/ClippingMediaSource.java) and [ClippingMediaPeriod](https://github.com/google/ExoPlayer/blob/f276eb2/library/src/main/java/com/googl

[2016-12-28 09:46] bleuf1sh commented on #2267
Our use case is to perform specific actions on the screen when rendering specific frames (time based).

[2016-12-28 09:52] PGSatrz commented on #2093
@botondbutuza , have you tested the same assets with same version if Exoplayer on devices having Android 5.0 or lower version.

Please share your feedback after running this test.
Please check "https://github.com/google/ExoPlayer/issues/2009" which is kind of similar issues which we are facing on Samsung devices having 6.0.1 version.

Also, please share the details of the "software info" of the de

[2016-12-28 10:19] andrewlewis commented on #2267
If you need a temporary workaround you can make `BaseRenderer.streamOffsetUs` visible to subclasses and subtract it from `positionUs` and `bufferPresentationTimeUs` to get the timestamp of the buffer read from the source.

Note: this won't work perfectly across period transitions if you're playing a playlist, but I doubt this applies because you would have seen output buffer timestamps that are no

[2016-12-28 10:23] bleuf1sh commented on #2267
@andrewlewis , thanks. Why do you say "temporary workaround" ? Does that mean that this streamOffset will be removed eventually?

If my use-case is to run code when a specific frame/time in the timeline is presented, what other options do I have? -Thanks!

[2016-12-28 10:43] andrewlewis commented on #2267
That workaround doesn't work correctly for playlists, as described above. We'd need to expose the offset or source buffer timestamps in a way that works for all sources to fix this properly.

You could poll the player's current position which should match the source, but maybe you need closer synchronization than that. Or you could implement a custom MediaSource/Renderer and feed samples through t

[2016-12-28 12:34] erenbakac commented on #949
@erdemguven i am looking forward to offline support. Any progress?

[2016-12-28 12:38] erdemguven commented on #420
@danrossi We're working on full DASH offlining solution but there isn't anything for downloading yet. I don't know when it'll be ready.

[2016-12-28 12:38] #420 closed

[2016-12-28 12:42] erdemguven commented on #949
@erenbakac it's going through code review. Should be committed in 1 or 2 weeks.

[2016-12-28 12:43] HungamaSurat commented on #1975
I am trying to play HLS audio here. I just checked with latest exoplayer sdk v2.1.1, but still I am facing issue with it. Below is link to testing version:
https://drive.google.com/file/d/0B-BQCZwMuQ81WmFNQzE3bjdxeEU/view?usp=sharing

And below is link to test HLS audio link, which I have integrated in demo:
http://hungcomiosta-vh.akamaihd.net/i/VideoS3/r/ms2/20673450/4/1235/Purza_,32001,64001,960

[2016-12-28 13:01] Waheed388 opened #2268 "Problem with ExoPlayer guide code and exoplayer version exoplayer:r2.1.1"
I trying to play server videos with links in my mobile app. I preferred to use exoplayer library over default videoView but the problem is [guide code](http://google.github.io/ExoPlayer/guide.html) is not helping me. If I use exo version :r2.1.1 then this constructor stop working

TrackSelector trackSelector =
                new DefaultTrackSelector(mainHandler, videoTrackSelectionFactory);

and

[2016-12-28 15:32] stari4ek opened #2269 "MediaCodecAudioRender always wins over FfmpegAudioRenderer"
* dev-v2, 163a3a7bb876d309f5d28cc62473f093802d8aea
* demo player with extensions
* ffmpeg with mp3 decoder
* MPEG-TS stream with audio/mpeg-L2
* nvidia shield

NVidia shield:
[code]

device decoder declares that it supports 1 channel only (btw, Philips, QM16XE_U, QM163E with OMX.MTK.AUDIO.DECODER.DSPMP1 does the same)

Please check `RendererCapabilities.supportsFormat`:
`MediaCodecAudioRender` ret

[2016-12-28 15:37] stari4ek commented on #2269
BTW, is it expected that decoders:
* OMX.Nvidia.mp2.decoder (nvidia shield)
* OMX.MTK.AUDIO.DECODER.DSPMP1 (philips)

returns `MediaCodecInfo.getMaxInputChannelCount()` == **1**?

No issues with audio playback on NVidia shield.

Should I create separate issue for it?

[2016-12-28 18:15] kiall commented on #726
@tresvecesseis did you ever manage to implement support out-of-tree for DVBSUB and other bitmap subtitles? If so, I'm very interested for use in in https://github.com/kiall/android-tvheadend.

@ojw28 is the exoplayer projects stance still that bitmap based subtitles won't be supported? This rules out a whole category of Android TV apps, where Satellite and Terrestrial content is grabbed and pushed

[2016-12-28 18:31] githubdoramon opened #2270 "Is it possible to play .amr files?"

[2016-12-28 23:53] ojw28 commented on #2259
Whether non-compliant media plays successfully often comes down to exactly how the player is implemented. In this case the reason ExoPlayer is looking in the `stsd` box in to determine the type of the track. The track type is also defined in the DASH manifest (`codecs="stpp"`), and so it's likely that the web players you mention get the track type from the manifest and don't bother looking in the

[2016-12-28 23:58] ojw28 commented on #726
@kiall - https://github.com/google/ExoPlayer/issues/179 is the right place to discuss bitmap based subtitles.

[2016-12-29 00:08] ojw28 commented on #2266
This question can be easily answered by going and looking at the [source code](https://github.com/google/ExoPlayer/blob/r2.1.1/library/src/main/java/com/google/android/exoplayer2/trackselection/AdaptiveVideoTrackSelection.java#L211). The whole class is only 250 lines long, and it's easy to see where the variable is used...

As an aside: It's not defined precisely because we don't want to guarantee

[2016-12-29 00:08] #2266 closed, assigned to nobody

[2016-12-29 00:16] ojw28 commented on #2240
- As it happens there's also `SimpleExoPlayer.setVideoDebugListener`, which receives changes in the video size as well. It's not really intended to be used this way, but you could probably use it to do what you want.
- I can't really think of a valid reason for setting the resize mode dynamically; it doesn't sound right. Can you explain what you're trying to achieve? If you really do need to do th

[2016-12-29 01:51] darktiny commented on #2240
@ojw28 What I need is `centerCrop` resize mode just like android's `ImageView`.

[2016-12-29 02:39] ojw28 commented on #2263
Good question! Subtitles are really complicated because they can be packaged in different units of granularity and with different ways of conveying timing information. Roughly speaking, an input buffer received by a subtitle decoder consists of a timestamp (`timeUs`) and the subtitle data to be decoded (`data`). There are four cases that can occur:

1. `data` contains all of the cues for the media

[2016-12-29 06:40] lioun1729 commented on #2266
@ojw28 Ok, I confused about that little.. but not now

Thank you for your comment

[2016-12-29 06:50] lioun1729 commented on #2268
The Demo App in Library is better than ExoPlayer guide page

[2016-12-29 07:09] biwoodfengs commented on #1456
I meet this issue too, and I compare with the normal video , finally I found that the issued video's format profile is 3.2 while the normal video's format is 3.1 , may sometimes there is a bug with this.

[2016-12-29 10:20] andrewlewis commented on #2270
No. ExoPlayer does support extraction of AMR tracks in ISO BMFF containers, though.

[2016-12-29 10:20] #2270 closed, assigned to nobody

[2016-12-29 11:03] tresvecesseis commented on #726
@kiall we are pretty busy doing new stuff on our heavily modified ExoPlayer so no time for this porting, but it should be very simple with the support provided by @AquilesCanta to add custom stream readers, you only have to move some classes around (move the DVB subs classes to your player) and provide a Custom TsPayloadReader, you will also need to port  https://github.com/google/ExoPlayer/pull/1

[2016-12-29 20:45] PaulWoitaschek opened #2272 "Callback multiple times"
I'm receiving callbacks always multiple times. When the playback is finished, there are two calls to `onPlayerStateChanged` with playbackState `STATE_ENDED`.
Also when seeking `onPositionDiscontinuity` is called twice.

Also when being in STATE_ENDED and calling `seekTo(0,0)` and `setPlayWhenReady(true)` another `onPlayerStateChanged` with playbackState `STATE_ENDED` arrives.

I have tested this w

[2016-12-29 22:24] ojw28 commented on #2272
The duplicate `onPositionDiscontinuity` calls are already fixed in the `dev-v2` branch by https://github.com/google/ExoPlayer/commit/4bb8793203ff280189d15849669304ebb138d814.

I cannot reproduce the other cases you mention. In the demo app `onPlayerStateChanged` events are logged to logcat with the tag EventLogger. I only see a single transition to `STATE_ENDED`, and no duplicate when subsequently

[2016-12-29 22:39] PaulWoitaschek commented on #2272
What you suspected was right. I was calling setPlayWhenReady(false) upon `StateEnded`.

Thanks for fixing :)

[2016-12-29 22:39] #2272 closed, assigned to nobody

[2016-12-30 14:14] bene25 commented on #2262
Any suggestion for this issue?

[2016-12-30 16:32] kiall commented on #2269
By default, exoplayer will prefer to use native rather than extension renderers.

You can pass a extensionRendererMode paramater to ExoPlayerFactory.newSimpleInstance() with a value of SimpleExoPlayer.EXTENSION_RENDERER_MODE_PREFER to have ExoPlayer prefer the extension..

[2016-12-30 20:46] stari4ek commented on #2269
This is expected behavior if both renderers are supported **equally**. For example both **FORMAT_HANDLED** or both **FORMAT_EXCEEDS_CAPABILITIES**

But in described situation we compare "fully supported" vs "lacking proper support" where "lacking proper support" wins

[2017-01-01 03:37] my19941001 opened #2274 "Only sound no picture, do not support MPEG-4?is there any way to solve it?"
*** PLEASE DO NOT IGNORE THIS ISSUE TEMPLATE ***

Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include ALL of the following, unless
you're certain that they're not useful for the particular issue being reported.

- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer

[2017-01-01 11:21] MizzleDK commented on #2274
So, maybe you should actually read the issue template and make use of it, rather than just leaving it there...

[2017-01-01 11:51] MizzleDK opened #2275 "“Internal runtime error” on certain PlayReady-protected assets"
I'm working on an app for Android TV devices, which uses ExoPlayer as the video player and I'm using Smooth Streaming video with PlayReady DRM. The app is capable of perform key requests, etc. without any issues and most of the content is playing. I'm currently using the demo app's video player component.

I am, however, experiencing issues with certain video assets. The following error log is vis

[2017-01-01 11:59] MizzleDK commented on #2275
It may be worth noting that whenever the SS manifest contains two StreamIndex elements of the audio type, it happens. If there's only one, it works as expected.

[2017-01-01 12:49] dreich opened #2276 "Background audio"
Hello! Thank you for ExoPlayer!

I read in issue of November that background audio was never a feature of ExoPlayer.
But I need it very much :). You know, my (not very unpopular) free android app "Orthodox radio" ([https://play.google.com/store/apps/details?id=ru.pravradio.andrey]) plays mp3 streams using standard MediaPlayer and doesn't use foreground service, but it works good and have good mark

[2017-01-01 15:12] b77x opened #2277 "Allow Animation for PlaybackControlView"
I want to be able to add animation to PlaybackControlView, however it looks like it is not possible,

I tried `simpleExoPlayerView.setAnimation(fadeOut)` but it does not work.

Is there another solution?

[2017-01-01 18:59] b77x opened #2278 "SeekBar id exo_progress accessibility"
On the demo app's exo_progress, android focusable is set to false. This makes it unable to be controlled without touch screen.

I created my own UI with facusable set true. When using touchscreen, the progress moves, however when using the keyboard arrows, the seekbar moves, but it gets updated again to the same position.

[2017-01-01 23:53] jcable commented on #2263
Thanks, that's really helpful. I'll have go at that. I didn't copy the SRT duration processing because I couldn't find it being used anywhere but that's obviously wrong and tied in with me not understanding the difference between timestamps in the subtitle structure and timestamps outside it.

I might be able to get somewhere now.

[2017-01-02 01:46] lawloretienne opened #2279 "Set still image on ExoPlayer"
Is it possible to set a still image with ExoPlayer?  So I am trying to do something similar to what the Vimeo app is doing.  If you have a video that is playing and you click the cast button to stream the video to a TV, the ExoPlayer switches to a still image, the audio on the phone doesn't play but the ProgressBar still updates and moves as the video is being streamed to a TV.

[2017-01-02 09:13] jcable commented on #2263
That was exactly the help I needed. It works nicely now. Of course the rendering needs implementing!

[2017-01-02 09:30] amspayam opened #2280 "adding a custom header to DefaultHttpDataSource"
Hi I'm new to ExoPlayer and want to add a http request header to my url for player but i didn't find any method to do it.
thanks.

[2017-01-02 12:26] PunitD commented on #2122
@ojw28 Sorry for troubling you again.
I was trying out the changes suggested by you in previous comment but unfortunately couldn't figure out a way to make single progress bar as extending over all windows(for 3 merged media sources).

Inside `updateProgress()` method of `PlaybackControlView` class.
Seekbar is updated using the `duration` and `position` values which are calculated like below:
[cod

[2017-01-02 16:15] AntonAFA opened #2282 "fast forward"
As i understood, Exoplayer does not support fast forward/rewind playback. Do you think to support it in the future?

[2017-01-02 16:53] ojw28 commented on #2278
It's deliberately not focusable. This is because the FF/RW buttons above it are focusable and can be used to seek more easily. TV devices often have controllers with physical FF/RW buttons, and these can also be used.

That said, we should definitely make sure it works correctly if it is made focusable, which isn't currently the case. We may also consider making it focusable by default if this mak

[2017-01-02 17:02] ojw28 commented on #2276
Using MediaPlayer without a foreground service is not advisable and will not work properly in certain circumstances. In particular, if the user launches another application and the OS decides to kill a process to free up resources (e.g. memory) for it, there's nothing stopping the OS from killing your process. A foreground services *is* the mechanism for applications to indicate to the OS that the

[2017-01-02 17:02] #2276 closed, assigned to nobody

[2017-01-02 17:03] ojw28 commented on #2274
Closing because none of the information requested in the issue template was provided.

[2017-01-02 17:03] #2274 closed, assigned to nobody

[2017-01-02 17:13] ojw28 commented on #2249
I think you're confusing two separate topics. Use of the EXT-X-DISCONTINUITY tag allows various properties of the media segments to change (e.g. the encoding parameters). It does not make it OK to reset the media sequence number to zero, which is something that should never happen. The spec says this about the media sequence number:

Marking this as a bug, but only because the exception isn't hand

[2017-01-02 17:20] ojw28 commented on #2235
This issue is a good example of why you should include all of the information requested in the issue template (e.g. test content, a full bug report, clear reproduction steps with the ExoPlayer demo app). There's not enough information here for us to help.

The log line referenced in the title of this issue is expected and hence not actually an error, despite the somewhat confusing fact that it's l

[2017-01-02 17:20] #2235 closed, assigned to nobody

[2017-01-02 17:21] ojw28 commented on #2263
Great; glad you're making progress!

[2017-01-02 17:21] #2263 closed, assigned to nobody

[2017-01-02 17:25] ojw28 commented on #2277
The view is made up of multiple elements, so it's not really clear from your description what you're trying to do. What kind of animation are you trying to add, and which parts of the view do you expect it to apply to?

If you're attempting to apply a simple fade in/out to all of the playback controls, then I can see that as something we should reasonably support. If you're trying to do something

[2017-01-02 17:30] ojw28 commented on #2279
It's definitely possible. There's no requirement that you use any of the UI components provided by the ExoPlayer library, which means you can be in complete control of the UI if you prefer. Are you referring specifically to the ability to display an image instead of the video in `SimpleExoPlayerView`? If so then will https://github.com/google/ExoPlayer/pull/2273 do what you need? Note that you'll

[2017-01-02 17:35] lawloretienne commented on #2279
Yes i'm in the middle of implementing the Cast SDK part, I would like to display an image instead of the video while the video is being Cast.  Looks like #2273 is an open issue, so at the moment is there no supported way of doing what I am looking for?

I also noticed that the Youtube app does something similar when you cast a video.

[2017-01-02 17:40] ojw28 commented on #2257
I don't think it is used for audio tracks in any default configuration. It's also not well suited to audio adaptation; and if audio adaptation is desired a different implementation would probably be preferable. Please clarify and point out the circumstances in which it is used for audio tracks if you think this is incorrect.

[2017-01-02 17:41] ojw28 commented on #1975
We moved HLS behavior to be in line with what we do for DASH/SmoothStreaming in V2. For DASH/SmoothStreaming we didn't ever adapt audio only playbacks by default, and so we moved HLS behavior to be in line with that.

It's somewhat unclear whether this should be considered a bug of enhancement, so I've marked with both labels for now.

[2017-01-02 17:48] ojw28 commented on #2279
We're likely to merge #2273 into the dev branch shortly.

To answer your question: There's no built-in support until that change is merged, but that doesn't mean there's no way of doing what you're trying to do. As per my previous response, you can implement your own player view and put whatever views and logic you want into it (this is what YouTube do). You can then use your view instead of `Simp

[2017-01-02 17:48] #2279 closed, assigned to nobody

[2017-01-02 17:48] ojw28 commented on #2268
We'll update the guide to fix this, thanks!

[2017-01-02 17:50] lawloretienne commented on #2279
Oh thats a good idea.  I'm already customizing `exo_playback_control_view.xml`.  And then i guess in order to not hear the audio i could just set the volume to 0.

[2017-01-02 17:59] ojw28 commented on #2279
The normal model for casting is that you send the media URL to the receiver application on the remote device and it streams the content directly. Hence the player on the mobile device should be completely stopped, and so you wouldn't need to mute the audio. You'd need to hook the player controls up to the cast SDK to have them control the remote device playback (which is something we'd like to mak

[2017-01-02 18:01] lawloretienne commented on #2279
So once the video is being cast, i would like to be able to play, pause, and move to a different point in the video by interacting with the progressbar, all while having some still image with no audio playing.

[2017-01-02 18:05] ojw28 opened #2283 "Make integration with cast SDK easier"
As per title, we should make it easier for applications to make use of ExoPlayer (for local playback) and the cast SDK (for remote playback) together. In particular, we should make it easier to attach ExoPlayer's UI components (e.g. PlaybackControlView/SimpleExoPlayerView) to a remote playback during casting.

[2017-01-02 18:08] ojw28 commented on #2279
You'll need to work out how to manually hook up the playback control UI to the cast SDK to do that. When you're casting in the normal model there is no local playback on the device, so the playback controls aren't just going to work.

I've filed https://github.com/google/ExoPlayer/issues/2283 to track supporting this more easily/directly.

[2017-01-02 18:12] lawloretienne commented on #2279
The codelabs shows how they handle casting
https://codelabs.developers.google.com/codelabs/cast-videos-android/#0
however it doesn't let you switch in and out of cast mode to continue playing locally where you left off, similar to how it works on YouTube and Vimeo.

[2017-01-02 18:15] ojw28 commented on #2269
I think there's a one line bug (we're forgetting to mask the value [here](https://github.com/google/ExoPlayer/blob/r2.1.1/library/src/main/java/com/google/android/exoplayer2/trackselection/MappingTrackSelector.java#L352)) that causes this. We'll push a fix shortly. Thanks!

[2017-01-02 18:17] ojw28 commented on #2260
Closing because the issue does not include the information requested in the issue template. Please file a new issue including all of the requested information if you want us to investigate further. Thanks!

[2017-01-02 18:17] #2260 closed, assigned to nobody

[2017-01-02 18:28] b77x commented on #2277
Thank you for taking the time to reply.

So here more details and what I achieved so far.

I want to make a simple fadein fadeout. I created a custom ui `exo_playback_control_view.xml`, and added different views. So I wanted to be able to fade-in, fade-out on all this, basically all the control elements.

So far I successfully implemented fadein, by listening for a visibility change and adding the

[2017-01-02 18:43] kiall opened #2284 "Ffmpeg and some other extension classes declared final"
The ffmpeg, opus and vp9 extension classes are declared final, preventing any extension of the classes. The flac extension is not declared final.

In my case, I was looking to add some logging around a few methods to help debug an AC3 audio issue, but couldn't (easily).

Is there any reason for these to be final?

[2017-01-02 19:08] ojw28 commented on #2122
You can use `ExoPlayer.getCurrentTimeline` to get the media `Timeline`. Once you have the `Timeline` you can query the number of windows and their properties (including duration). Hence you can iterate over the windows exposed by the timeline and add the durations. If it's possible that one of the pieces of media might have an unknown duration, you should take care to handle this case correctly. T

[2017-01-02 19:24] ojw28 commented on #2240
I don't think the approach in your pull request is the best way to achieve this. I have a feeling it might not always work properly, but I don't have any hard data confirming this yet.

In any case, if you're using `SimpleExoPlayer` and `SimpleExoPlayerView` in their default configuration (i.e. the video is being rendered to a `SurfaceView`), then you should use [`SimpleExoPlayer.setVideoScalingMo

[2017-01-02 19:24] stari4ek commented on #2269
@ojw28 , thank you

What about **MediaCodecInfo.getMaxInputChannelCount() == 1** from nvidia/mediatek MediaCodec? is it expected behavior?

[2017-01-02 19:26] ojw28 commented on #2269
I doubt it, particularly if you're seeing it work successfully with more channels. I suggest you report the issue directly to nVidia.

[2017-01-02 19:45] ojw28 commented on #2280
See https://github.com/google/ExoPlayer/issues/2166.

[2017-01-02 19:45] #2280 closed, assigned to nobody

[2017-01-02 19:52] amspayam commented on #2280
thanks for your response, i tried this soloution and it worked greate on android api level 21 and above but below that api level the library cant handle the response

[2017-01-02 19:53] stari4ek commented on #2269
With Nvidia it works with 2 channels pretty well.
But for Philips (with OMX.MTK.AUDIO.DECODER.DSPMP1) doesn't - stalled video. ffmpeg solves the issue

[2017-01-02 19:53] ojw28 commented on #949
To clarify in case there's any confusion here: As far as I know the thing being delivered in 1 or 2 weeks is the new DrmSessionManager that will support playback using an offline license, together with logic for acquiring/refreshing/releasing offline licenses. You shouldn't expect a comprehensive solution for offline (i.e. also downloading all of the necessary media chunks) to be provided within t

[2017-01-02 19:54] ojw28 commented on #2280
There is nothing we can do to help given such a vague statement, sorry.

[2017-01-02 20:17] b77x commented on #2277
Do you have any idea whether doing the fadein and fadeout is possible currently, and how? or will it need a change in the source.

[2017-01-02 20:30] ojw28 commented on #2277
It will need a source change.

[2017-01-02 20:45] dreich commented on #1167
I need this feature too.

[2017-01-02 20:51] ojw28 commented on #2234
This is an issue with the source content. The first media segment doesn't include any audio. In the second media segment this additional track belatedly "appears". The first media segment should include audio, even if it's silence. You should ask the Red5 people to fix this.

[2017-01-02 20:51] #2234 closed, assigned to nobody

[2017-01-02 20:54] ojw28 commented on #1167
Plans can change, but as of now we have no plan to support this feature.

[2017-01-02 21:03] dreich commented on #1167
ojw28, you may not implement directly this feature, but at least make API more accessible and convenient for developers to implement by themselves.

For example, some guy at
[http://stackoverflow.com/questions/40579478/android-exoplayer-live-audio-stream-vu-meter-audio-visualisation-and-recording](http://stackoverflow.com/questions/40579478/android-exoplayer-live-audio-stream-vu-meter-audio-visual

[2017-01-02 21:13] ojw28 commented on #2243
If you're not able to reproduce with the sample app (or a modification of it) then that would point toward an application specific issue, and I'm not sure there's much we can do to help. There's no reason inflating views from xml would result in different behavior compared to creating views in code. Please feel free to update this issue if you do find a way to modify the demo app that causes the i

[2017-01-02 21:21] ojw28 commented on #2262
You can't expect a response when you provide so little information. "Couldn't select audio track" doesn't explain what you're doing. You don't explain what happens when you try and use your previous approach with r2.1.1 (e.g. does it not compile, does playback fail, if so how etc). You have also provided pretty much none of the information requested in the issue template (e.g. a bug report, media

[2017-01-02 21:21] #2262 closed, assigned to nobody

[2017-01-02 21:36] ojw28 commented on #1167
V2 has the [same method](https://github.com/google/ExoPlayer/blob/r2.1.1/library/src/main/java/com/google/android/exoplayer2/audio/MediaCodecAudioRenderer.java#L312) and it looks to me like you can still override it, so I'm not sure the StackOverflow issue is particularly relevant.

Developers are free to fork part or all of ExoPlayer to implement what they need, where we don't provide a feature d

[2017-01-02 22:17] MizzleDK commented on #2265
Here's the unfiltered system logs:

[code]

[2017-01-02 23:51] WeiChungChang commented on #2191
Dear mehraf:

I guess your request is to playback all frames smoothly as andrewlewis's suggestion (2)

According to my previous experience it is possible to achieve it.
Previously I made this function by mediacodec:
https://developer.android.com/reference/android/media/MediaCodec.html

You could check the result at the link below:
original movie:
https://www.youtube.com/watch?v=gGaXMwQAEK8

The ne

[2017-01-03 03:41] danrossi commented on #949
There is no downloader. I'm trying to figure one out right now. I tried the cache system  which was a failure, but now trying to replicate the whole manifest parser downloader.

[2017-01-03 07:29] workspace commented on #1764
@wvpaf is there any detail from Samsung?? Approximately 70% of users in my service use samsung devices (in API >= 23) and they'd like to play video faster/slower. So, it is a quite serious problem for my service... Thanks!

[2017-01-03 11:21] aarondib commented on #2118
@ojw28, thank you!
However, why position is always starting from 40000 - 70000 ms, rather then 0 ms?
How can we get this starting offset to calculate real time position, as it was in v2.0.2?

[2017-01-03 12:13] ChernyshovYuriy commented on #949
@ojw28 , you are absolutely right, from client point of view of course.
Offline license is a small part of offline playback. In fact, it is not so hard to implement it based on the current version which is ExoPlayer 2.1.1.
Now, for those how are awaiting for this feature and do not have functionality of the offline playback, are you ready for a challenge to solve to keep downloaded manifest file (

[2017-01-03 12:38] ojw28 commented on #2284
Everything that's *not* final or private is effectively part of ExoPlayer's API, since it can then be overridden. Making everything non-final would hugely increase an already very large API surface area. This is problematic because (a) it adds things to the API that we really haven't given enough thought to, and (b) gives developers many different ways of doing the same thing rather than more stro

[2017-01-03 12:44] kiall commented on #2284
Editing the files directly is what I ended up doing, but I *think* I've since come across a case where I really do need to override a ffmpeg extension method.

For AC3 passthrough to work, we need to prevent FFmpeg from accepting the stream (Since it doesn't appear to support passthrough). When the system doesn't have a native AC3 decoder (like the nVidia Shield TV box), ffmpeg will always be cons

[2017-01-03 12:45] ojw28 commented on #2265
It looks like the Shield's PlayReady module can't allocate the memory it needs. I'm following up with nVidia.

[2017-01-03 13:01] ojw28 commented on #2284
I'm not exactly sure I follow this. Isn't the order of the renderers important? Can't you just swap them around to prefer one or the other?

[2017-01-03 13:03] ojw28 commented on #2284
Providing a different TrackSelector implementation is also one possible solution to this problem.

[2017-01-03 13:13] kiall commented on #2284
Swapping the order didn't help, once FFMpeg was included, all AC3 audio tracks on the Shield were handled by it rather than the MediaCodecAudioRenderer's passthrough decoder. Right now, MediaCodec is first, FFmpeg second[1].

I'm not sure a custom TrackSelector helps here, as even where there is exactly 1 audio track, an AC3 track, it's handled by FFMpeg and not passed though. We also already have

[2017-01-03 13:17] kiall commented on #2284
Also - I reckon we're straying into another issue here :) If you believe mediacodec passthrough should be selected over ffmpeg given the info above, I can open a new bug - and we can close this as won't fix due to API concerns.

[2017-01-03 13:58] MizzleDK commented on #2265
Thank you.

[2017-01-03 14:12] pilzflorian opened #2286 "SimpleExoPlayer.setVideoListener() causes rendering issues r2.1.1"
Setting SimpleExoPlayer.VideoListener() causes rendering issues (SimpleExoPlayerView does not show any frames). audio plays fine and even the VideoListener's are invoked properly. Am I missing something here?
Following code illustrates the problem.

[code]
Replacing setVideoListener() with setVideoDebugListener() solves the issue.
Tested on Nexus 9 running 7.0

[2017-01-03 14:54] ojw28 commented on #2286
SimpleExoPlayerView registers itself as the video listener, so when you set it you're replacing SimpleExoPlayerView as the listener. Hence SimpleExoPlayerView doesn't receive the events that it needs.

Why do you need to register a video listener when also using SimpleExoPlayerView?

[2017-01-03 15:46] ojw28 commented on #2241
We don't support adaptation between audio+video and audio only tracks, sorry. This is mainly because DASH and SmoothStreaming do not have the same kind of concept due to the fact that audio and video tracks are de-muxed. To support this kind of adaptation for HLS only would require our HLS implementation to deviate significantly from the code that we use for DASH and SmoothStreaming, and this is n

[2017-01-03 16:33] AntonAndev commented on #2241
Ok, thank you. I have an app for Android and for iOS. On iOS Apple requires to add "audio only" track to support low bandwidth. It is simply cheaper than encoding all TV channels to very low bitrate video version.

[2017-01-03 16:49] gpinigin commented on #2249
You are right, thank you for pointing out to this aspect.

It was the main intention.

[2017-01-03 16:57] ojw28 commented on #2241
I guess the reasoning behind my last paragraph is that it wouldn't even be necessary to encode the TV stream. You could just encode a thumbnail as a very low bitrate video track. Each segment could probably just have a single key-frame. That key-frame could even just be solid black. Seems like it would have been easier. Unfortunately it's just not how things are :). Oh well!

[2017-01-03 17:14] ojw28 commented on #2239
I think the ID3 data in the file is technically in violation of the ID3 spec. According to the spec a PRIV frame should look like:

[code]

However the file contains a PRIV frame that's completely empty apart from the header. Given the spec, I think there must always be at least one byte following the header (i.e. the $00 terminator on the owner identifier).

That aside, I think the parsing code w

[2017-01-03 17:30] AntonAndev commented on #2241
Thanks for the help :)

[2017-01-03 18:15] ojw28 commented on #2239
Actually, the parsing code handles the case of zero length private data fine.

I'm not sure it's worth spending time fixing this when it's only a single file that's been found to be affected. If you're aware of a tag editor that's being used to generate lots of these files then please let us know, and we'd consider a workaround.

For the affected user, you can advise them to simply upload their mp

[2017-01-03 18:15] #2239 closed, assigned to ojw28

[2017-01-03 19:38] ojw28 commented on #2268
I've fixed the first issue raised. The second appears to work fine for me. It's possible "this" isn't a `Context` in your code, in which case you'll need to tweak it slightly. In any case, it's trivial to look up what the constructor arguments should be in the [documentation](http://google.github.io/ExoPlayer/doc/reference/).

[2017-01-03 19:38] #2268 closed, assigned to nobody

[2017-01-03 21:02] ojw28 commented on #2264
Yup, we will do this. Thanks!

[2017-01-03 21:16] ojw28 commented on #2249
For the stack trace to occur as in this issue report, it looks like a required condition is:
[code]
And also that:
[code]
Else the method would have returned at [this line](https://github.com/google/ExoPlayer/blob/r2.1.1/library/src/main/java/com/google/android/exoplayer2/source/hls/playlist/HlsPlaylistTracker.java#L365).

Are you still able to reproduce the issue? If so, can you take a look and s

[2017-01-03 22:07] ojw28 commented on #2233
Whilst it might be common for older streams to use integer precision EXTINF durations, I doubt it's common at all for streams to use integer precision EXTINF durations and EXT-X-MEDIA tags, which is when this becomes a bigger issue for ExoPlayer.

[2017-01-03 22:12] ojw28 commented on #2048
Closing due to lack of information.

[2017-01-03 22:12] #2048 closed, assigned to AquilesCanta

[2017-01-03 22:47] wvpaf commented on #1764
Looks like S2 Tabs will get update in Feb/Mar, no word on S7.

[2017-01-03 23:14] jefftinker commented on #1864
The log file from your original report only contains error-level logging, we need to see the full content of the log including warnings and debug messages.  Can you collect another log that captures all levels of logging over the duration of playback?

[2017-01-04 01:18] darktiny commented on #2240
@ojw28 I have tried your advice, it doesn't work.

[code]

[2017-01-04 02:28] CreamF opened #2287 "Can support a slow-motion playing and fast action?"
*** PLEASE DO NOT IGNORE THIS ISSUE TEMPLATE ***

Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include ALL of the following, unless
you're certain that they're not useful for the particular issue being reported.

- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer

[2017-01-04 04:25] gpinigin commented on #2249
End tag is appended to the new playlist also. I think appending end tag is the only reason why `isNewerThan` returns `true`

Just for clarification – due streaming service malfunction in some rare cases client is being redirected from live HLS stream to static HLS VOD. VOD playlist doesn't contain any segments from the preceding playlist.

[2017-01-04 04:43] rahulkalamkar commented on #2260
It is related to your device

[2017-01-04 05:58] akhilesh006 commented on #1855
Hi @PerkmannM , I am also facing the same issue with Google Media Framwork, It is internally using Exo Player 1.5.7. Could you please help me if you have resolved the issue as I couldn't track.

[2017-01-04 09:21] ram992 commented on #2220
Hello any help on this one

[2017-01-04 09:27] aarondib opened #2289 "Getting real current time position in HLS live streaming"
In v2.1.1 `getCurrentPosition()` returns position in current window.
Here is the solution to get time that increases indefinitely: https://github.com/google/ExoPlayer/issues/2118

However, position is always starting from 40000 - 70000 ms, rather then from 0 ms.
Is there any way to get this starting offset to calculate real time position, like it was in v2.0.2?

[2017-01-04 10:13] marwanf1 commented on #1706
Hello, any updates on this issue?

If not, is there any reference on how to implement the remove part?

Thanks

[2017-01-04 10:38] ascmartins commented on #1706
@marwanf1 take a look at issue [#2097](https://github.com/google/ExoPlayer/issues/2097) and see if the [AppendingMediaSource.java](https://github.com/ascmartins/mucodes/blob/master/AppendingMediaSource.java) class can help you. In addition, to make this work for me I had to make the changes commented on  28 Nov 2016 (referred thread)

[2017-01-04 10:51] pilzflorian commented on #2286
Thank you so much for clarification, I will create my own SurfaceView and Controller instances.
I need the information for gathering QOS statistics.
I'll close this, thanks again for the quick response!

[2017-01-04 10:51] #2286 closed, assigned to nobody

[2017-01-04 10:55] ojw28 commented on #2286
You should use `setVideoDebugListener` to gather QOS statistics, and let the view use `setVideoListener`.

[2017-01-04 10:56] ojw28 commented on #2220
This is a question about building Android user interfaces. It's not particularly ExoPlayer specific, and falls outside the scope of this issue tracker. Sorry.

[2017-01-04 10:56] #2220 closed, assigned to nobody

[2017-01-04 12:32] b0g8 opened #2290 "IllegalStateException for playlists with media from the demo, in certain sequences"
For certain playlist contents, the error above appears 100% (once it did not appear, but maybe I did something different - I did tens of tests to simplify procedure to reproduce)
Tested on Samsung S3 international, current version from dev-v2: da9c10a1b4a2f5c79851501f0c66dfda5fd97351 .
The playlist content should be:
1.audio only
2. video only
3. audio only
4. video only

For example, add the foll

[2017-01-04 13:03] ojw28 commented on #2289
It's quite arbitrary to assume time=0 corresponds to when the user happened to join the playback. What are you actually trying to do? If you're just trying to show an increasing time in your UI and want it to start at 0, then (a) why is this useful, and (b) why don't you just take the first position queried after playback starts, and subtract that value from each position before displaying it?

[2017-01-04 13:05] ojw28 commented on #2287
There are lots of existing issues about this. Please search the issue tracker. See for example https://github.com/google/ExoPlayer/issues/1216. Thanks!

[2017-01-04 13:05] #2287 closed, assigned to nobody

[2017-01-04 13:16] m5314 opened #2291 "Can exoplayer handle https redirects to http?"
I got an error when i play this video.
"https://vod.cc.163.com/file/5856574fda67d358bafcb545.mp4"

[code]

[2017-01-04 13:19] dineshkumarkb opened #2292 "ExoPlayer throws load error while playing SmoothStreaming LIVE contents"
Description:

ExoPlayer keeps throwing "Load Error" while playing smooth streaming live contents.

Player Version : 1.5.12
URL used : http://telecolor.econcept.it/live/primarete.isml/manifest
Android OS : Android 5.1.1
Device : Samsung note 3

Steps to Reproduce:

1. Play any smooth streaming live URL
2. Validate the logs of onLoadError() method.
3. Player keeps throwing LoadError multiple times

[2017-01-04 13:31] adnanutayim commented on #1782
Hi There!
I am using the latest version of `JWPlayer` on `Android` and getting interrupted by `BLWEs` whenever I am running on a slow connection, which is forcing the app to crash.
From what I can understand, there's no way I can get the `ExoPlayer` instance out of the `JWplayer` so I can't handle the exception myself.
Is there a know walkaround for this issue?

[2017-01-04 13:44] ojw28 commented on #2291
It can, but you need to enable it yourself when creating the data source factory. Are you using `DefaultDataSourceFactory`? If so you'll need to:

1. Use the constructor that takes another `DataSource.Factory` as the third argument.
1. Pass a `DefaultHttpDataSourceFactory` as that third argument. When you create your instance of `DefaultHttpDataSourceFactory`, set `allowCrossProtocolRedirects` to

[2017-01-04 13:47] ojw28 commented on #2291
Although I don't think the issue you're seeing is due to a cross protocol redirect. It looks to me more likely that the server just isn't configured correctly, as per [this article](https://developer.android.com/training/articles/security-ssl.html#CommonProblems).

[2017-01-04 14:58] BubuKunz commented on #1706
AppendingMediaSource.java  is very helpfull, but exist one problem: in method appendSource you use method removeFirstMediaSource() if count of MediaSources bigger then 2. With this method nothing work. I tried to increase the max size of lists (up to 10) and items had been adding (during playing) successfully. But when i added 11-th item, it not played.  When i removed method removeFirstMediaSourc

[2017-01-04 15:00] ojw28 commented on #2240
What does "doesn't work" mean exactly? It should work. Setting `resizeMode` to `fit` should make the view the correct size at least. What are you seeing being drawn into the view if not cropped video?

[2017-01-04 15:05] ojw28 commented on #2265
This is a memory leak issue that nVidia have already identified and fixed. I believe the fix will be included in their next software update for Shield. Thanks!

[2017-01-04 15:20] darktiny commented on #2240
@ojw28 just video with black edges

[2017-01-04 15:20] ascmartins commented on #1706
Hi. Sorry no referring that, but I quit using the ```removeFirstMediaSource()``` method. I am using about 8000 videos/day and it works fine. I restart app at 00:00 each day, maybe you can do same thing if you need it run endlessly. I've been watching memory during play, it changes on each movie transaction, up or down according to video resolution. My app has been up and running for a week without

[2017-01-04 15:39] BubuKunz commented on #1706
Okay, i understand, thank you

[2017-01-04 16:45] ojw28 commented on #2292
The content is broken in the same way as described in https://github.com/google/ExoPlayer/issues/2101 and https://github.com/google/ExoPlayer/issues/1152. You should report the issue to the content producer, and ask them to fix it.

Having said that, we've seen this reported a few times now. We'll likely add a workaround to allow playback to proceed (you will still see a warning message logged eve

[2017-01-04 16:48] blackraven96 opened #2293 "ID3 metadata for mp3 stream does not work"
I don't have ID3 metadata with mp3 stream (for example http://stream.ouifm.fr/ouifm-high.mp3 ) with exoplayer 2.1.

It is possible to added it ?

thanks.

[2017-01-04 17:30] aarondib commented on #2289
@ojw28,
In our case, server provides access to a video archive at the specified time, depending on http request.
`"specified time" + getCurrentPosition()` gives users actual playback time. For example, when user selected playback from 10:00:00, instead playback timeline showing it started from 10:01:10.

Actually, (b) way is possible, if you think it is the most correct way?
Thanks!

[2017-01-04 20:08] ojw28 commented on #2290
This issue only occurs in a fairly niche set of circumstances. There definitely need to be multiple changes in the sets of renderers that are required throughout the playlist. We'll merge a fix sometime this week.

[2017-01-04 20:14] ojw28 commented on #2289
It doesn't sound like a great setup to be serving archived content in the guise of live streams in the first place. That aside, I'd suggest you go with (b).

[2017-01-04 20:14] #2289 closed, assigned to nobody

[2017-01-04 20:31] ojw28 commented on #2293
The stream doesn't contain ID3 metadata. There's ICY metadata in the response headers, but this is not something we support.

[2017-01-04 20:31] #2293 closed, assigned to nobody

[2017-01-04 20:34] #2291 closed, assigned to nobody

[2017-01-04 20:37] ojw28 commented on #2249
Our plan for handling this case is to create a new playlist consisting of the old playlist with the end tag appended (i.e. just treat the playback as though it's ended).

[2017-01-04 20:53] gspaiva opened #2294 "Unexpected exception loading stream MPEG-DASH video"
Hello everyone,

I'm trying to play a MPEG-DASH(http://yt-dash-mse-test.commondatastorage.googleapis.com/media/car-20120827-manifest.mpd) video on my app using the ExoPlayer v2 (2.1.1), and I'm getting this exceptions below.

[code]

And, this is my MainAcitivity class
`public class MainActivity extends AppCompatActivity {

    private Handler mainHandler;
    private DefaultBandwidthMeter bandwid

[2017-01-04 21:02] ojw28 commented on #2294
The content you're trying to play is buggy. It was generated at a time when we (and everyone else) only had draft versions of the DASH and MSE specs. I've been asking for it to be deleted, since it really doesn't serve as reference media at this point.

Closing since this is a content issue.

[2017-01-04 21:02] #2294 closed, assigned to nobody

[2017-01-04 22:25] gspaiva commented on #2294
Thanks for your answer, the video really was generating this issue, I take another video(https://bitmovin-a.akamaihd.net/content/playhouse-vr/mpds/105560.mpd) and it works !

[2017-01-04 22:49] #2265 closed, assigned to nobody

[2017-01-04 23:23] #2292 closed, assigned to nobody

[2017-01-04 23:23] #2278 closed, assigned to nobody

[2017-01-04 23:23] #2264 closed, assigned to ojw28

[2017-01-04 23:23] #2269 closed, assigned to nobody

[2017-01-04 23:24] #2252 closed, assigned to andrewlewis

[2017-01-04 23:24] #2249 closed, assigned to ojw28

[2017-01-04 23:29] ojw28 commented on #2284
I'm not sure I follow. I think you should put the MediaCodec based renderer first and always prefer passthrough if available. What issue are you facing when doing that?

[2017-01-04 23:33] ojw28 commented on #2248
Closing due to lack of information.

[2017-01-04 23:33] #2248 closed, assigned to nobody

[2017-01-04 23:34] ojw28 commented on #2257
Closing due to lack of information.

[2017-01-04 23:34] #2257 closed, assigned to nobody

[2017-01-04 23:35] linhai326 commented on #2254
we experienced the exactly same issue on Nexus Player. Any update?

[2017-01-04 23:35] ojw28 commented on #2073
Closing due to lack of information.

[2017-01-04 23:35] #2073 closed, assigned to nobody

[2017-01-05 05:22] cyberjaime45 opened #2295 "Unable to play M3U8 streams (Audio only)"
Exoplayer is unable to play m3u8 streams.
Stream: http://radios-ec.cdn.nedmedia.io/radios/ec-alfa.m3u8
If you guys have any input on this issue, please share it. @ojw28

[2017-01-05 05:52] hassanabidpk opened #2296 "ClippingMediaSource still referenced in Tests"
`ClippingMediaSource` has been removed from the release branch in commit https://github.com/google/ExoPlayer/commit/e65110e1ed06da1ab0b6dbbf252f7e49e4879ce8 but still referenced in `ExoPlayer/library/src/androidTest/java/com/google/android/exoplayer2/source/ClippingMediaSourceTest.java`. So test build is `failing` at the point.
- The version of ExoPlayer being used : ` V2`

I can also send pull re

[2017-01-05 06:24] dhakanparik opened #2298 "play youtube video in VrView with in my app"
I want to add youtube vrview button in my app. Tried lots of like viewgroup, webview, fragments, and many more. when i was trying to play video in both view, Only one video could play. Please help me. thanks in advance

[2017-01-05 08:39] MizzleDK commented on #2265
Awesome! Thanks a lot.

[2017-01-05 08:44] Behrouz-m commented on #1010
Hi. Please tell me how to set buffer size in the 2.x release?

[2017-01-05 11:08] kiall commented on #2284
With MediaCodec first, FFmpeg second and a FixedTrackSelection enforcing the choice of a AC3 track, FFmpeg is selected as the audio renderer, resulting in the AC3 track being transcoded to PCM.

Preferring passthrough doesn't seem to be possible, the ffmpeg audio renderer always wins for AC3 tracks (At least, on the nVidia Shield where there is no native AC3 decoder).

Digging around on GitHub, I'

[2017-01-05 12:27] ojw28 commented on #2284
I'm still not sure I follow this. Isn't a track selection renderer specific already? I'm not sure it makes sense to say you set a track selection and then after that a renderer was selected?

[2017-01-05 12:38] #2296 closed, assigned to nobody

[2017-01-05 12:46] ojw28 commented on #2298
This doesn't look like it's an ExoPlayer question.

[2017-01-05 12:46] #2298 closed, assigned to nobody

[2017-01-05 14:59] ojw28 commented on #2290
I *think* the change above fixes this, but please give `dev-v2` a try and confirm. Thanks!

[2017-01-05 14:59] #2290 closed, assigned to nobody

[2017-01-05 15:21] ojw28 commented on #2295
The stream doesn't play in VLC either, giving the following output:

[code]

I'm guessing the stream is faulty. It does play in Safari, so the audio is definitely in there somewhere. It's possible Safari is working around some issue with the stream. @AquilesCanta - Fancy digging further?

[2017-01-05 15:23] ojw28 commented on #2275
There's not a lot we can do to help here unless we're provided with the information requested in the issue template.

[2017-01-05 15:29] cyberjaime45 commented on #2295
The audio is there on Safari, Chrome, iTunes  and some HLS players found on the internet. However when it comes to Exoplayer, it simply won't play the audio. So there's definitely something going on here.

[2017-01-05 19:32] ojw28 commented on #2242
Does the issue reproduce using ExoPlayer's demo app, or just your own? Do you have other physical devices on which the app behaves correctly? We don't have a Xiaomi Mi Box to test on, but I'll try and get hold of one.

In the meantime, if you're seeing different behavior on Mi Box than on other devices, you should probably report the issue to Xiaomi as it's likely to be a device specific issue wit

[2017-01-05 20:29] boulaycote opened #2300 "Best way to have multiple devices play a single UDP/MPEG-TS stream in sync?"
I am using ExoPlayer 1.5.12, and willing to move to newer versions.

The video is a low bitrate (10mbits) 4K MP4. I am streaming a UDP/MPEG-TS stream. Every frame is a keyframe to prevent bleed and blocking. To make sure devices are synced, whenever one starts buffering, I reset the player making sure I have the latest data.

Here are the issues I am facing now:

- Resetting ExoPlayer causes a del

[2017-01-05 21:27] ojw28 commented on #2212
You should implement your own audio renderer and use it instead of `MediaCodecAudioRenderer` (or extend MediaCodecAudioRenderer if it's possible to adjust it to meet your use case).

If you're using `SimpleExoPlayer` then the way to pass a custom renderer is to extend `SimpleExoPlayer` and override `buildAudioRenderers` to add your own renderer rather than the ones that are added by default. If yo

[2017-01-05 21:27] #2212 closed, assigned to nobody

[2017-01-05 21:36] stari4ek opened #2301 "OOM when HLS playlist redirects (302) to non m3u resource (MPEG-TS )"
* checked with dev-v1, dev-v2
* demo player
* there're IPTV services which redirect to MPEG-TS with _302 Moved Temporarily_  to show user "contact help desk" kind of errors
* "Infinite" m3u parsing (`HlsPlaylistParser.parse`) with OOM in the end
* parser pushes garbage to the list (I've got 300k elements with 200Mb+ allocated)
[code]
* media.exolist.json with url, hprof + alloc dumps: https://driv

[2017-01-05 21:47] ojw28 commented on #2301
I doubt we'll be gracefully handling the transition to play the MPEG-TS stream any time soon, but we should figure out the data isn't an HLS playlist and bail out with an error, rather than consuming the stream until we OOM.

[2017-01-05 21:49] dcf82 opened #2302 "Compiling Flac extension and adding the APK in priv-app folder makes app to CRASH"
Hi dears friends,

I'm working on a personal application which integrates the Exoplayer 1.x, but the App is intended to be installed as a System App. I decided to add the Flac Codec extension by compiling the JNI libraries, compiling the project itself & generating a AAR library, so I added the final library to my personal project.

My proguard rules are the following:

# This prevents the names o

[2017-01-05 21:57] stari4ek commented on #2301
Proper Exception (with resolved url?) would be nice.
It will help to switch to proper MediaSource on player level, where source type is identified

[2017-01-05 22:01] ojw28 commented on #2302
It sounds like the apk is fine, given it's working when installed normally. Which would indicate that it's not a proguard issue. It's most likely that the native library just isn't being loaded successfully. If I were you, I'd start digging [here](http://stackoverflow.com/questions/20906445/unable-to-load-so-library-files-when-making-a-system-application), which looks like a similar issue.

[2017-01-05 22:01] #2302 closed, assigned to nobody

[2017-01-05 22:03] ojw28 commented on #2302
If you do a Google search for "android system app native library" there are a whole bunch of results that look related, also :).

[2017-01-05 22:12] ojw28 commented on #2301
It looks like it would be straightforward to include the resolved URL in the exception. The exception type will be some kind of "unexpected content" exception. Note that it wont tell you *what* the content is, only that it's *not* an HLS playlist. That should be sufficient though. You can try `ExtractorMediaSource` with the resolved URL. If you get an `UnrecognizedInputFormatException` when you tr

[2017-01-05 22:15] dcf82 commented on #2302
I really appreciate your feedback & thanks for your quick response. I will take a look and let you know.

[2017-01-05 22:31] giladna commented on #2257
Hi  Olly,

This is used in also in Audio Tracks
In case you have bitrates selection capability for audio quality

When I come to check the Auto bitrate for AUDIO
I get the instance of AdaptiveVideoTrackSelection

[2017-01-05 23:08] ojw28 commented on #2257
I'm not convinced that actually happens. There's another issue [here](https://github.com/google/ExoPlayer/issues/1975) that says, I think correctly, that audio isn't adaptive by default. If there are multiple audio tracks then current behavior is to pick one and stick with it. The default track selector only ever selects a fixed track for audio [here](https://github.com/google/ExoPlayer/blob/r2.1.

[2017-01-05 23:09] dcf82 commented on #2302
One interesting observation here is that after putting the APK into priv-app & if I run the app the library doesn't run, but If I override the current app installed from Android Studio (using the Same APK) the app runs successfully. Very strange!

[2017-01-06 04:13] lawloretienne commented on #2279
I figured out how to customize all this in my project
https://github.com/lawloretienne/Loop/blob/6338b2023ea71882e61d75a3a023764ca7426929/app/src/main/java/com/etiennelawlor/loop/fragments/VideoDetailsFragment.java

I have customized the ExoPlayer by overriding the `exo_playback_control_view.xml` and the `exo_simple_player_view.xml` file.  In the `exo_simple_player_view.xml` I added an `ImageView`

[2017-01-06 08:49] MizzleDK commented on #2275
If it helps, it works if I start the video stream with audio disabled. Once video is running, I'm able to enable the audio stream again, and it works without any problems from there on out.

[2017-01-06 11:52] ojw28 commented on #2279
Note that we've merged #2283 into the dev branch also.

[2017-01-06 14:54] jglanfield opened #2303 "Rewind not working with HLS streams that have no end tag"
If you load an audio-only live event stream, the playback begins at the 3rd segment from the end as expected. If you hit rewind, it will load the previous segment and play some of it then either stop or jump around. It's a bit confusing trying to narrow down exactly what is happening. I'm testing this on a stream that has .ts files with audio only. Unfortunately, I can't point you to this stream i

[2017-01-06 15:29] #2303 closed, assigned to nobody

[2017-01-06 20:10] dcf82 commented on #2302
Hi, I did a hello world sample app to isolate this issue but I'm seeing that the same issue comes up, is there a way you could give me some support, i can share the small project & donate some money for this support, if yes, please tell me the amount?

Thanks
David

[2017-01-06 20:13] dcf82 commented on #2302
This is an observation that I found during my testing:

// Log when the library is installed properly

drwxrwx--x 2 u0_a129 u0_a129 4096 2017-01-06 12:07 app_data
drwxrwx--x 2 u0_a129 u0_a129 4096 2017-01-06 12:07 app_dynamicIcons
drwxrwx--x 2 u0_a129 u0_a129 4096 2017-01-06 12:07 app_textures
drwxrwx--x 3 u0_a129 u0_a129 4096 2017-01-06 12:07 app_webview
drwxrwx--x 9 u0_a129 u0_a129 4096 2017-01-

[2017-01-07 03:21] TheCoinTosser commented on #423
I've created a StackOverflow post asking how exactly can I add that flag using an ExtractorMediaSource: http://stackoverflow.com/questions/41517440/exoplayer2-how-can-i-make-a-http-301-redirect-work

Could any of you please help me?

[2017-01-07 06:44] paulocoutinhox commented on #1539
It was implemented?

[2017-01-07 11:33] pieman64 commented on #55
Is anyone using ExoPlayer with rtsp streams?
With millions of cameras using rtsp I think it would be very useful for ExoPlayer.

[2017-01-07 11:50] tresvecesseis commented on #55
We have a rtsp, rtcp and rtp implementations for exoplayer but I don´t know if there is any interest from the maintainers in this code, we will only clean and submit the code if there is a request for them as we are a little overloaded right now

From: theCHARioT <notifications@github.com>
Reply-To: google/ExoPlayer <reply@reply.github.com>
Date: Saturday, 7 January 2017 at 12:33
To: google/ExoPla

[2017-01-07 12:35] kjeremy commented on #55
There is definitely interest.

On Jan 7, 2017 6:50 AM, "tresvecesseis" <notifications@github.com> wrote:

[2017-01-07 13:15] FabianTerhorst commented on #55
A good solution would be great.

[2017-01-07 13:37] pieman64 commented on #55
@ojw28 would you be interested in the implementations of rtsp, rtcp and rtp that @tresvecesseis has available? Perhaps with rtsp, probably being the most popular, being considered first.

[2017-01-07 13:38] FabianTerhorst commented on #55
@tresvecesseis you could also open source it as an module to use with exoplayer.

[2017-01-07 14:06] ram992 opened #2304 "Customizing the TrackSelectors"
Hello @ojw28

Is there a way to remove some tracks of DASH file from Default track adapter but make them available in Track Selection Helper class so the user can choose to override  the default ones.

Sorry for raising this as an issue as I could not find any other straight way of doing it basing on bitrate of the track. And I am on very tight schedule.

it would do me a lot of help if you can ev

[2017-01-07 20:15] tresvecesseis commented on #55
Our rtsp implementation could be submitted without much additional work (is just another datasource) but is focused on rtp streams, and rtp support is more problematic as it is a layered extractor that instantiate the extractor of the undelaying protocol and we will need to discuss if our approach is the optimal one, so to submit our rtsp datasource we need to know what transport protocols it will

[2017-01-07 21:15] chrisjenx commented on #55
@tresvecesseis I think in the first case, making it available would be great first step, then we can work on making it support more protocols, RTSP is the wrapper around RTP, that's the easy part. (It's actually very similar to HTTP commands).

[2017-01-08 14:38] sergeymild commented on #2242
i have that problem too on Nexus 6p
![226617552_15594240633121820944](https://cloud.githubusercontent.com/assets/3685209/21750642/dbcad3a2-d5c0-11e6-8c79-1a1b44017d93.jpg)

[2017-01-08 15:22] sheaam30 opened #2305 "SimpleExoPlayerView grainy/distorted when setting player"
I'm attempting to seamlessly switch video from 1 SimpleExoPlayerView to another.

In the first I am playing an HLS video:
[code]
I'm trying to keep the video in it's current state and swap the view that the player is using by calling `simpleExoPlayerView.setPlayer(exoPlayer)`. The video switches to play in the second view but it shows up as black/grainy initially and after a few seconds clears up.

[2017-01-08 15:35] Behrouz-m opened #2306 "setPlayWhenReady does not report duration for mp3 file"
Hi. when I use `setPlayWhenReady` for online mp3 preparation & play, It does not return duration for mp3 file in `STATE_READY` state.

I've attached ID3v2 tag to mp3 file that contains the correct duration but it seems that the player does not read the value.

I'm using the version r2.1.0 of Exoplayer

[2017-01-08 21:33] ojw28 commented on #2306
There's nothing we can do to investigate this unless you provide the information requested in the issue template (specifically in this case, a sample stream that reproduces the issue). We don't rely on ID3 metadata for the duration; we read or derive it from the actual media stream.

[2017-01-08 21:34] ojw28 commented on #2305
This is a duplicate of https://github.com/google/ExoPlayer/issues/2093.

[2017-01-08 21:34] #2305 closed, assigned to nobody

[2017-01-08 21:56] ojw28 commented on #2242
@sergeymild - I doubt it's the exact same issue. Either way, please provide sample content + a full bug report (i.e. the output of `adb bugreport` captured whilst reproducing the problem) if you want us to investigate. Thanks!

[2017-01-08 22:08] ojw28 commented on #2275
What would help is if you included the information requested in the issue template. Else we will close this issue as we have no way to reproduce it.

[2017-01-08 23:22] ankush38u opened #2307 "Reaches OOM"
Crashes on some devices with OutOfMemory while used internally by Firebase Ads.

Here is the stacktrace from crashlytics:

[code]

Happens on android 4,5,6 all, frequecy is around 12-15 in a month.

[2017-01-09 04:25] Behrouz-m commented on #2306
I've attached the samples.

[mp3 sample.zip](https://github.com/google/ExoPlayer/files/692700/mp3.sample.zip)

[2017-01-09 05:34] Fleker commented on #2295
Could be an issue with that specific stream. I've gotten other HLS streams to play in ExoPlayer.

[2017-01-09 07:26] ram992 commented on #2304
any help on this question

[2017-01-09 10:25] ojw28 commented on #2295
And since VLC also fails (and also plays nearly all other streams successfully).

[2017-01-09 10:27] ojw28 commented on #2307
The fact your app ran out or memory whilst using ExoPlayer doesn't in itself indicate an ExoPlayer issue. It's the sum of all memory used by your app that results in the OOM; the exact point at which the OOM occurs can be irrelevant, and your app is equally likely leaking memory elsewhere.

12-15 also sounds like. . .barely anything, although without a baseline (e.g. number of playbacks / installs

[2017-01-09 10:34] ojw28 commented on #2306
I'm struggling to work out what your issue is. The player indicates the duration correctly for me, and it also corrects reports the TLEN ID3 tag. When playing the sample in the demo app I see the following logged:

[code]

Where `1.17` is the duration derived from the actual media stream and `1389` is the duration in the ID3 metadata.

[2017-01-09 11:50] YounMario opened #2308 "How to add Youtube like FullScreen Mode"
I want add fullscreen mode like that Youtube did .
here is my step:
1.definded FragmentLayout as a PlayerView's (TextureView)  Container.
2.when click fullScreen button . remove PlayerView's parent. and add it to fullScreen Layout
3.add fullScreenLayout to root window

here is my fullscreen mode code:
` private void changeToFullScreenMode() {
        ViewGroup windowView = (ViewGroup) ContextUtil.

[2017-01-09 12:03] #2275 closed, assigned to nobody

[2017-01-09 12:36] AquilesCanta commented on #2295
The stream is not valid: The chunks(at least some of them, which I peeked) declare an H264 elementary stream but include no associated packets, including only the audio.

[2017-01-09 12:36] #2295 closed, assigned to AquilesCanta

[2017-01-09 12:56] #2166 closed, assigned to nobody

[2017-01-09 13:17] tresvecesseis commented on #55
I think there is a misunderstanding in what is RTSP and RTP, RTP is only one of the transport protocols that can be signalled by RTSP, and the problem with RTP is that it normally wraps another video container so we need to chain 2 extractors (there is no standard way to do this in ExoPlayer), and while we have posted patches in this github implementing RTP in the past, they were a quick hack prov

[2017-01-09 13:28] ojw28 commented on #55
We would consider taking something if it were implemented as an extension that doesn't require invasive changes to the core library. Structuring it as an extension would also allow you to depend on external libraries (that may have non-AOSP licenses attached to them). Note that all contributed source code would need to satisfy the CLA (i.e. you need to own copyright/IP), so dependencies on externa

[2017-01-09 13:37] tresvecesseis commented on #55
Yes, we have implemented RTSP support as a datasource, it is done inside our player not in the library so reimplementing as an extension is trivial, the problem resides in the RTP support, we could provide the RTSP datasource with TS transport support and later discuss the RTP extractor implementation. Are you ok with that?

[2017-01-09 14:08] Merseyside opened #2309 "Unexpected exception loading stream. MP3 track"
ExoPlayer 2.1.1 version.
Exception happens when mp3 track is going to play. Always with the same tracks.
99% of tracks play correct.
Why it happens and how i can fix this issue?

[code]

[2017-01-09 14:16] ojw28 commented on #2309
We most likely don't handle ID3 comment frames that contain no text properly. If you could send us the problematic file we'll take a look and push a fix. You can email the file to `dev.exoplayer@gmail.com`.

[2017-01-09 14:27] Merseyside commented on #2309
send files to you

[2017-01-09 14:36] AquilesCanta commented on #2175
Closing due to lack of required info. Assuming it is indeed a duplicate.

[2017-01-09 14:36] #2175 closed, assigned to AquilesCanta

[2017-01-09 15:22] ojw28 commented on #2309
- The SCNDL sample fails because we don't handle ID3 comment frames that contain no text properly.
- The other file appears to have a reasonably large chunk of data that doesn't look like MP3 start about 1MB into the file. Any idea what that is or where it came from? Have you tried running this file through an MP3 validator tool?

[2017-01-09 15:38] Merseyside commented on #2309
What i must do to set text in this file?
No, i didn't, I'm going to try now

Icheck another file  and found problems with data. Fixed it, now its ok. Thanks for your advice

[2017-01-09 16:04] ojw28 commented on #2309
We'll push a fix to correctly handle the SCNDL file to the `dev-v2` branch shortly. You could probably adjust the media to play without the fix by removing or editing the ID3 metadata.

[2017-01-09 16:21] Merseyside commented on #2309
i checked this with id3 editor,
I think it has metadata. I see this:
Version: ID3v1
Name: The Munsta
Artist: SCNDL
So metadata is correct, why it doesn't work?

[2017-01-09 17:01] AquilesCanta commented on #2041
I can't reproduce the issue in either version. Have you found out any more useful information? I have tried random adaptation in V2 and reducing network capabilities and manually adapting to lower bitrate variants in V1. If you have figured out the root cause or have some extra insight for us to look into, please share it.

[2017-01-09 17:09] ojw28 commented on #2240
`resizeMode` actually needs setting to `fill` rather than `fit`. I then see expected behavior on Pixel, but not on the emulator. Does it work for you?

[2017-01-09 19:27] akarekal-coursera commented on #26
Hi @ojw28 any update on the issue?
Thanks

[2017-01-09 19:29] anup1245 commented on #26
Hi @ojw28 @andrewlewis  any update on the issue?
Thanks

[2017-01-10 02:49] darktiny commented on #2240
@ojw28 it works, thanks for your help

[2017-01-10 06:07] Behrouz-m commented on #2306
thanks for the answer.
the value `1389` is calculated by Lame encoder according to `input num samples` . It seems that the value is based on `millisecond`.
So, what should I do to fix the problem ?

[2017-01-10 10:35] ojw28 commented on #2306
You haven't really explained what the problem is, since playback works fine. What's the actual issue you're encountering as a result of the duration values disagreeing by ~200ms?

If you need precise duration you should add an appropriate header to the MP3 (e.g. a VBRI header) or use a more appropriate container format (e.g. MP4).

[2017-01-10 10:35] #2306 closed, assigned to nobody

[2017-01-10 10:40] ojw28 commented on #2309
As per my comments above, there's an empty comment frame in the ID3 metadata. An ID3 editor isn't necessarily the best way to see exactly what data has been written into the file.

I tried using tagmp3.net to make the "Comment" field non-empty and was then able to play successfully. We'll push a fix to correctly handle empty comment frames in a sec, in any case.

[2017-01-10 10:53] #2309 closed, assigned to nobody

[2017-01-10 11:22] #2240 closed, assigned to nobody

[2017-01-10 11:59] nzala commented on #1539
can we control playback speed in ExoPlayer nw

[2017-01-10 12:38] nzala opened #2310 "can we control playback speed in ExoPlayer nw"
can we control playback speed in ExoPlayer nw

[2017-01-10 12:41] ojw28 commented on #2310
Please don't spam the issue tracker. This is a duplicate of #26.

[2017-01-10 12:41] #2310 closed, assigned to nobody

[2017-01-10 13:07] nzala commented on #2310
but i can find playback speed

[2017-01-10 17:55] Mr-Clam commented on #1787
As an encoder implementer, we don't think that this is an obscure feature.  For live events in particular, we have to cope with gaps or missing frames.  This can result in varying duration segments if the missing frames occur at the segment boundary.  Akamai require their qualified encoders to wait up to 30s per MPD update, and it seems the negative r value is the most efficient way to handle this

[2017-01-10 18:22] Mr-Clam opened #2311 "Playback fails due to integer overflow using large SegmentTemplate startNumber parameters"
We've encountered a playback failure due to the wrong size variable used for the startNumber attribute/$Number parameters in templates, per the following example from an MPD where startNumber="1480044110":
[code]

You might ask why we use such large numbers: we set startNumber to current timestamps according to Akamai qualification recommendations, which state:

We worked around this by subtractin

[2017-01-10 21:00] PaulWoitaschek commented on #2310
Sorry for the repeated request but it would be really helpful if you could update the referenced ticket with the updated schedule. @ojw28

[2017-01-11 02:55] CallBackMe commented on #26
@ojw28 @andrewlewis  any recent updates on this issue ?  thx !

[2017-01-11 05:06] Behrouz-m commented on #2306
The problem is the player do not report duration for lengthy mp3 files (more than about 10 sec) for low bandwidth networks (aka 20KByte/sec) even I've attached the ID3V2 tag that contains the length. What should I do to fix the duration report problem ? The player starts to play the mp3 with no duration while the player is still downloading the mp3 file.

[2017-01-11 06:33] jarnova commented on #2093
Any updates on this? Is there any ETA for a fix or is there some workaround for this issue. This is the only issue with ExoPlayer v2 that is blocking us from updating from v1 at the moment.

[2017-01-11 09:30] ojw28 commented on #2306
I don't think that would happen unless both (a) you're streaming and your server isn't including a content length header in the response, and (b) the mp3 doesn't include an appropriate header (e.g. a VBRI header) indicating duration. You can fix either issue to get duration reported correctly. Adding ID3 metadata isn't relevant to this problem.

[2017-01-11 09:35] Behrouz-m commented on #2306
thanks for the advice. I'm using Lame programmatically. Do you know which function of lame should I call to fix the issue ?

[2017-01-11 09:37] ojw28 commented on #2311
I'm not sure that's exactly what Akamai mean ("derived from" != "equal to"). What you've done sounds sensible (it seems preferable to keep doing that to ensure you don't run into similar issues with other players). We'll change the logic in ExoPlayer to handle this case also. Thanks.

[2017-01-11 10:46] mseroczynski commented on #2310
Maybe controlling playback speed of audio should be another issue (I think most of issuers just need to control audio playback speed yet still issues get referenced to "Change playback rate of video track" which - for me - is not very intuitive). And.. it's starting to be a bit awkward for me but kindly please update schedule for audio speed.

[2017-01-11 10:48] satyamub opened #2312 "Does any one in this group implement Exo player with Expressplay to play PDCF content"
Hi All,

I am trying to run a PDCF content (.mlv) file which is generated from Expressplay dashboard. We are using the test sdk of the Expressplay. We are using Media Source Type as "SINGLE _FILE". Still we can not able to play. It seems like, its creating a m3u8 playlist from the mlv but not able to play.

When we use the VideoView, it shows, that the m3u8 file is not found error.

Can you people

[2017-01-11 11:19] andrewlewis commented on #26
Sorry for the delay. This slipped from Q4 but we are working on it and plan to have something ready later this quarter.

Please continue to treat this as a rough estimate rather than a guaranteed deadline and thanks for your patience!

[2017-01-11 11:31] PaulWoitaschek commented on #26
@andrewlewis thanks. Do you focus on audio only (which is the majority of requests) or will this include video?

[2017-01-11 13:21] Merseyside commented on #2309
tnanks)

[2017-01-11 13:58] andrewlewis commented on #26
@PaulWoitaschek The enhancement is to be able to set the playback speed for audio before API 23 (it's already supported on Marshmallow and later, as mentioned in this thread). The audio renderer is used as the media clock, so changing the audio playback speed will have the effect of speeding up or slowing down video as well.

For video-only playback, you might be able implement your own speed adju

[2017-01-11 14:06] yanivlankry opened #2313 "Pre-Fetch viewing license for Widevine using sessionShare"
Team,
I’m trying to split license acquisition from content playing by getting the viewing license before the asset playing session begin and not as it is being handled today e.g. during asset playback. why? I need to be able to play assets when the devices have no network, so the license server is unreachable.

my purpose is, that the offline DRM session will get and store the viewing license befo

[2017-01-11 16:29] bkoruznjak commented on #1651
I have the somewhat the same issue. With the version r.2.1.1 and a jellybean device

E/ExoPlayerImplInternal: Source error.
                                                                                       com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: -1

[2017-01-11 16:50] ojw28 commented on #55
A self-contained DataSource extension sounds like the best thing to do initially, yes.

[2017-01-11 17:14] AntonAFA opened #2315 "MediaCryptoException during offline playback for the dash widevine video."
Hello guys. I am working with exoplayer2.1.1 version.
I am downloading dash widevine video. After the download, i am obtaining the keySetId and storing it locally. Also, i have custom implementation of the DrmSessionManager that knows how to open offline session and create MediaCrypto.

When i am playing this video in offline, and seeking a couple of times i got this kind of exception:

[code]

It

[2017-01-12 00:41] rustyshelf opened #2316 "ID3 Chapter Support"
I notice the 2.1.0 release added support for ID3 meta data which is great! There's an additional set of tags people use to describe chapter information in an MP3 file which would be really handy to have access to as well (more info here: http://id3.org/id3v2-chapters-1.0). These are reasonably common in podcasts and other long-form audio content.

[2017-01-12 02:26] yangwuan55 commented on #26
@andrewlewis You can refer to my code.I have already realized.[here](https://github.com/yangwuan55/ExoPlayer)

[2017-01-12 02:37] liauli opened #2317 "Video can't full screen completely"
I am currently using Exoplayer and got a problem, it seems this is an issue related to the aspect ration of the videos.
White line appeared on top of the screen while green line appeared on bottom of the screen. I only use basic code from Exoplayer's page. How to make the video full screen without these lines ?

Screenshot attached below.

Layout:
[code]

Activity: exactly the same with basic info

[2017-01-12 06:58] c3stream commented on #26
I hope the good solution.

[2017-01-12 12:06] bene25 opened #2319 "Memory leak in HlsMediaChunk"
Hello.
We have m3u8 file format such as:
[code]
Each EXT-X-STREAM-INF tag link to file like:
[code]
Large heap set to true.
After 2-3 hours of playing we have this video freeze and log is - [Log2.zip](https://github.com/google/ExoPlayer/files/701610/Log2.zip)

If we set large heap to false, then video freezes much faster and then we have out of memory exception.

[2017-01-12 12:13] AquilesCanta commented on #2319
Looks like a memory leak. I'll have a look.

[2017-01-12 12:40] ojw28 commented on #2316
It should be pretty easy to implement this yourself, if you (or anyone else) feels like sending us a pull request ;)...

[2017-01-12 13:32] AquilesCanta commented on #2319
By the way, next time please provide all the information required in the issue template. In this case, I am interested in the exoplayer version you are using. Have you reproduced the issue in the DemoApp? If so, would you kindly send a link to the stream to dev.exoplayer@gmail.com?

[2017-01-12 14:13] bene25 commented on #2319
Here is fresh log with memory large heap set to true.
[log_12.01_1.zip](https://github.com/google/ExoPlayer/files/701904/log_12.01_1.zip)

VERSION = "2.1.1";

Devices: Minix X7, Minix X8

No, I didn't try demo, but I will.

[2017-01-12 14:21] AquilesCanta commented on #2319
Thanks, I'll wait. If you manage to reproduce, please send the stream to the provided e-mail address.

[2017-01-12 16:13] ChernyshovYuriy opened #2320 "Determination between Live and VOD"
Hi team,

While [new feature](https://github.com/google/ExoPlayer/issues/87) is very cool, many applications depends on previous behaviour, when duration of Live stream is some kind of not in normal range, for instance -1.
Now, with this feature when user can seek within Live stream, what is a way to get know that stream is Live. We can not relay on -1 (or whatever value is) anymore.
Our Library h

[2017-01-12 20:21] ojw28 commented on #1787
It's not particularly viable to implement the whole DASH spec. It's also not a great way to invest time because it contains a long tail of features that are rarely used.

I don't think I fully understand the case you describe, because I don't see that missing frames would result in the segment duration changing. Every time you shorten the duration of a segment the player will move slightly closer

[2017-01-12 20:32] ojw28 commented on #1787
Note: I've also seen quite a few providers generating live stream MPDs that use only SegmentTemplate and so have a completely fixed segment duration. Which suggests this is not an insurmountable problem.

[2017-01-12 20:41] ojw28 commented on #2320
You can query this information from the player's timeline. The demo application does this [here](https://github.com/google/ExoPlayer/blob/r2.1.1/demo/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L430). Static means VOD. Dynamic means Live.

We should probably add an `ExoPlayer.isDynamic` method for convenience, so you don't have to query the timeline directly. I'll do this.

[2017-01-12 20:43] ChernyshovYuriy commented on #2320
Thanks guys for the support.

[2017-01-13 03:47] anup1245 opened #2321 "Background Media Playing (Surface turns green upon return)"
We want our app to continue playing in the background in audio mode, so onSurface destroyed callback, we called clearVideoSurface(); and upon returning set the surface in onSurfaceCreated player.setVideoSurface(holder.getSurface());
But the view becomes green in color.
Not releasing the player in onStop or onPause.

Using v2.1.1

Steps to reproduce : playvideo -> home button -> open the app again

[2017-01-13 04:24] Kexiliu opened #2322 "Read spatial audio metadata of a video (the metadata generated from "Spatial Media Metadata Injector")"
I'm trying to read spatial audio metadata of a video from exoplayer, and couldn't find a way to do so. The metadata is generated from "Spatial Media Metadata Injector" here: https://github.com/google/spatial-media/tree/master/spatialmedia

and the information injected should be like this:
https://github.com/google/spatial-media/blob/master/docs/spatial-audio-rfc.md

![screen shot 2017-01-13 at 12

[2017-01-13 05:21] jyh149129 opened #2323 "com.google.android.exoplayer2.source.BehindLiveWindowException(Audio Only,version:2.0.4)"
ExoPlayerImplInternal: Source error.
                                                              com.google.android.exoplayer2.source.BehindLiveWindowException
                                                                      at com.google.android.exoplayer2.source.hls.HlsChunkSource.getNextChunk(HlsChunkSource.java:267)
                                                                      a

[2017-01-13 09:43] AquilesCanta commented on #2323
See #1782. Please pay attention to the issue template next time.

[2017-01-13 09:43] #2323 closed, assigned to nobody

[2017-01-13 10:11] bene25 commented on #2319
It is reproduced on Minix X8, with demo app.
Here is log (log level - info) -
[13.01_log.zip](https://github.com/google/ExoPlayer/files/704019/13.01_log.zip)

Sound is playing, video is freezed for some time and then app crashed.

[2017-01-13 10:22] ojw28 commented on #2321
We'll take a look at this if you provide us with an easy way to reproduce. Please can you provide the exact changes you've made to the demo app either as a pull request, or as a change in a fork you've made of the project? That way we can see exactly what you've done and reproduce without any guesswork. Thanks!

[2017-01-13 10:30] ojw28 commented on #2322
This is not something we currently support. @dcower - Is that correct? What's the metadata generally used for? Would it be the audio renderer that needs it, if anyone, or is there value to exposing it all the way out to the user of the player?

[2017-01-13 10:48] AquilesCanta commented on #2319
Can you please send a link that reproduces the issue to dev.exoplayer@gmail.com? Don't forget to include the issue number in the subject.

[2017-01-13 11:17] cubatertech commented on #2319
Yes Exactly I face little bit like the same issue.
I'm using Toro lib for auto playback video in Recycler view. Its working fine.
But face issue when app goes to onPause state & again resume from there. Then only hearing voice not showing video. Toro inside using ExoPlayer. Please provide some tips. Thanks.

[2017-01-13 13:19] dreich opened #2324 "Minumum SDK version"
Hello, dear author!

Can you tell, what are minimal versions of SDK for two separate needs (two apps):
1) Playing HLS stream
2) Playing mp3 stream

I'm asking because I'd like to embrace as much people (and their old devices) as possible.
Thank you.

[2017-01-13 13:21] ojw28 commented on #2324
This is explained [here](https://google.github.io/ExoPlayer/supported-devices.html).

[2017-01-13 13:21] #2324 closed, assigned to nobody

[2017-01-13 13:28] dreich commented on #2324
I hope that compiling my project with "minSdkVersion 9" (thank you for this) I can use conditional statements to use MediaPlayer or ExoPlayer depending on device SDK version. If version < 16, use MediaPlayer, else use ExoPlayer.
Owing to the possible "minSdkVersion 9" I can embrace many old devices (<16) using MediaPlayer.
Am I right?

Thank you.

[2017-01-13 13:36] ojw28 commented on #2324
That's correct, yes. It's your decision of course, but is it worth the extra work to target the ~2% (and decreasing) fraction of Android devices that are still running < 16? See the distribution of Android devices [here](https://developer.android.com/about/dashboards/index.html).

[2017-01-13 13:40] dreich commented on #2324
Thank you for care.
In my app that is 5,6% of live people using the app :) and I don't want to abandon them.

[2017-01-13 14:13] blennerSilva commented on #1539
was it implemented yet?

[2017-01-13 14:15] blennerSilva opened #2325 "implement playback speed, how do I do that?"
guys I really need to implement playback speed on my app, I was hoping by now you guys would have already solved and added this featured.
is there any prediction of when this feature will be launched?

[2017-01-13 14:18] ojw28 commented on #2325
Please see #26.

[2017-01-13 14:18] #2325 closed, assigned to nobody

[2017-01-13 15:08] ojw28 commented on #2242
I was able to reproduce this. It appears to be a bug with the H264 decoder on Xiaomi devices (OMX.amlogic.avc.decoder.awesome), where the output format of the decoder has the wrong dimensions.

[2017-01-13 15:09] ojw28 commented on #2242
@agr111 - Is it possible for you to report this issue directly to Xiaomi? Thanks!

[2017-01-13 15:11] ojw28 commented on #2242
Actually, I have a contact route. I'll send it their way and see if they can provide an update. Thanks!

[2017-01-13 15:24] ashiagr commented on #2242
Awesome! Thank you.

[2017-01-13 15:32] ojw28 commented on #2004
Closing because a bug report was not provided.

[2017-01-13 15:32] #2004 closed, assigned to nobody

[2017-01-13 16:58] #2320 closed, assigned to nobody

[2017-01-13 17:00] ojw28 commented on #2312
Without any reproduction steps (e.g. a link to sample content that fails) we're not able to investigate the issue. Please file an issue with clear reproduction steps and test content if you want us to take a look.

[2017-01-13 17:00] #2312 closed, assigned to nobody

[2017-01-13 17:07] ojw28 commented on #2313
I don't think session sharing is the correct thing to be using. We recently pushed a helper class to make this easier to our dev branch, [here](https://github.com/google/ExoPlayer/blob/dev-v2/library/src/main/java/com/google/android/exoplayer2/drm/OfflineLicenseHelper.java). To acquire an offline license:

1. Create an instance of helper.
1. Call download on the helper (from a non-UI thread, since

[2017-01-13 17:14] #2029 closed, assigned to nobody

[2017-01-13 17:14] #1881 closed, assigned to AquilesCanta

[2017-01-13 17:14] ojw28 commented on #1881
Closing due to inactivity.

[2017-01-13 17:15] ojw28 commented on #1666
Closing due to inactivity.

[2017-01-13 17:15] #1666 closed, assigned to nobody

[2017-01-13 17:17] ojw28 commented on #864
I think it should be possible to query this from the player's Timeline in V2.

[2017-01-13 17:17] #864 closed

[2017-01-13 17:18] ojw28 commented on #2123
Closing due to inactivity.

[2017-01-13 17:18] #2123 closed, assigned to nobody

[2017-01-13 17:22] ojw28 commented on #1690
Closing because no bug reports have been provided.

[2017-01-13 17:22] #1690 closed, assigned to nobody

[2017-01-13 17:23] ojw28 commented on #1846
Closing due to inactivity, although it would be preferable if you could try the workarounds mentioned so that we can merge something back into the core library if possible. Please update this issue if you have a chance to do this. Thanks!

[2017-01-13 17:23] #1846 closed, assigned to nobody

[2017-01-13 17:28] #2311 closed, assigned to nobody

[2017-01-13 17:29] ojw28 commented on #2307
Closing because there's no evidence this is really an ExoPlayer leak.

[2017-01-13 17:29] #2307 closed, assigned to nobody

[2017-01-13 17:48] anup1245 commented on #2321
Hi @ojw28

The changes :
player_activity.xml we changed from SimpleExoPlayerView to Surface View
[code]
In Player activity :
onCreate method :
[code]
In SurfaceHolder.Callback:
[code]
And
[code]
Not releasing player in onPause or onStop

Steps to reproduce:
1) Youtube DASH -> Google Glass (MP4,H264)
2) Press Home Button
3) Recent Apps -> Select the app again
(It plays first time)

Again repeat the

[2017-01-13 18:08] ojw28 commented on #1913
Closing due to inactivity.

[2017-01-13 18:08] #1913 closed, assigned to pgrov

[2017-01-13 18:08] #1922 closed, assigned to nobody

[2017-01-13 18:10] ojw28 commented on #1669
Samsung tell me this is fixed in their Nougat update.

[2017-01-13 18:10] #1669 closed, assigned to nobody

[2017-01-13 18:24] ojw28 commented on #1554
This is most likely fixed in the latest V2 release, since we've made some fixes for AV sync that apply to the multi-audio HLS case. If the issue remains, please provide test content so that we can reproduce.

[2017-01-13 18:24] #1554 closed

[2017-01-13 18:25] ojw28 commented on #2020
Closing due to inactivity.

[2017-01-13 18:25] #2020 closed, assigned to AquilesCanta

[2017-01-13 18:27] m-scheepers commented on #1669
Thanks. Our customer is currently assessing update to Nougat. I assume issue is fixed then.

[2017-01-13 18:27] #1942 closed, assigned to ojw28

[2017-01-13 18:40] ojw28 commented on #1800
Closing since this issue isn't something we can fix in ExoPlayer; it would be up to the device manufacturer to provide a fix via a platform software update.

[2017-01-13 18:40] #1800 closed, assigned to nobody

[2017-01-13 18:45] ojw28 commented on #1860
We've pushed some much cleaner code for doing this to `dev-v2`, which can be found [here](https://github.com/google/ExoPlayer/blob/f194df114967e7f2a1dd42bd54d6a060b436dc2e/library/src/main/java/com/google/android/exoplayer2/drm/OfflineLicenseHelper.java#L190).

[2017-01-13 18:45] #1860 closed, assigned to nobody

[2017-01-13 18:47] #2201 closed, assigned to erdemguven

[2017-01-13 18:47] ojw28 commented on #2201
This was fixed by the change ref'd above.

[2017-01-13 18:52] ojw28 commented on #1705
I believe this is fixed now. You're able to pass your own `DashManifestParser` into the `DashMediaSource` constructor, and you can pass your own custom contentId to the `DashManifestParser` constructor. Even if you don't specify a custom contentId, I think we now end up using the content uri by default.

[2017-01-13 18:52] #1705 closed, assigned to nobody

[2017-01-13 18:53] ojw28 commented on #1544
This is fixed by the change ref'd above.

[2017-01-13 18:53] #1544 closed

[2017-01-13 18:57] #550 closed

[2017-01-13 18:57] #2301 closed, assigned to AquilesCanta

[2017-01-13 19:01] ojw28 commented on #744
Support has been merged to `dev-v2` in https://github.com/google/ExoPlayer/commit/28e117d25fb211b18a815b961135b78e7a18abdb.

[2017-01-13 19:01] #744 closed

[2017-01-13 19:04] ojw28 commented on #1412
We don't have any plans to optimize this in the near term, so I'm going to close this issue. Please see my other comments above.

[2017-01-13 19:04] #1412 closed

[2017-01-13 19:05] #1316 closed

[2017-01-13 19:06] #2321 closed, assigned to nobody

[2017-01-13 19:06] #1910 closed, assigned to wvpaf

[2017-01-13 19:06] ojw28 commented on #1910
Closing due to lack of activity.

[2017-01-13 19:12] ojw28 commented on #1940
There's not enough information provided in this issue for us to investigate. We'd likely need a full bug report captured from the device shortly after experiencing the problem. Please file a new issue if you're able to provide one. Thanks!

[2017-01-13 19:12] #1940 closed, assigned to AquilesCanta

[2017-01-13 20:00] Abilashinamdar commented on #949
Hi,
I'm able to play the file in offline in **ExoPlayer V2**.
I have made the changes in `StreamingDrmSessionManager.java` itself.

**Changes are as follows** :
1. Changed signature of the method `private void onKeyResponse(Object response)` to `private void onKeyResponse(Object response, boolean offline)`
1. Rather than sending the file manifest URI send stored file path to `PlayerActivity.java.`

[2017-01-13 20:36] AquilesCanta commented on #2319
After 5+ hours of playback, the heap hasn't gone over 50MB for most of my streams. So I will need a stream that reproduces the issue, or I will have to close the issue due to lack of information.

[2017-01-13 22:41] burix commented on #1808
Hi, is such a feature on the roadmap for the exoplayer?

[2017-01-14 13:00] belovolll opened #2328 "Get Current Uri MediaSource"
Hi!I have two media source uri.

When i call seekToDefaultPosition(pos), i got call onTracksChanged and onTimelineChanged callbacks.

But, i don't know how get current uri media source after call seekToDefaultPosition(pos).

My code snippet:

``DefaultBandwidthMeter bandwidthMeter2 = new DefaultBandwidthMeter();

        DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(this,

[2017-01-14 20:55] erdemguven commented on #1808
@burix, sorry, it isn't.

[2017-01-14 21:02] erdemguven commented on #949
This has been implemented in the change 9d5c750fe914cc7c51f8afa49bb113121352510f

[2017-01-14 21:02] #949 closed

[2017-01-14 21:04] erdemguven commented on #876
This has been implemented in the change 9d5c750

[2017-01-14 21:04] #876 closed

[2017-01-15 17:59] ram992 commented on #2304
Sorry for being rude but any help for this question

[2017-01-15 19:15] PaulWoitaschek opened #2330 "ExoPlayerImplInternal: NPE"
I received an exoplayer error which was quite hard to reproduce. I'll send the files separately via mail.

To reproduce the issue, follow these steps:
* Setup the two files as a concating media source like [here](https://github.com/PaulWoitaschek/MaterialAudiobookPlayer/blob/v2.9.3.3/audiobook/src/main/java/de/ph1b/audiobook/playback/MediaPlayer.kt#L262)
* Seek to 21:00 of the first track
* Play f

[2017-01-15 21:57] ojw28 commented on #2328
I'm a little unclear what you're after here. If you're passing the uris into the player, don't you already know what they are? You can query the index of the media currently being played using [ExoPlayer.getCurrentWindowIndex](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html#getCurrentWindowIndex--). Is that sufficient to resolve your question? Thanks!

[2017-01-15 22:00] ojw28 commented on #2330
It would be helpful if you could include all of the information requested in the issue template. For example a proper bug report and (more importantly in this case) the specific version of ExoPlayer that this reproduces with.

[2017-01-15 22:01] ojw28 commented on #2330
For the final paragraph: If you provide complete information and can demonstrate that particular issues affect more than a single media file, then we'll investigate and put fixes in place. Without the information requested in the issue template we're not able to do this.

[2017-01-15 22:04] ojw28 commented on #2317
We cannot investigate unless you provide the information requested in the issue template.

[2017-01-15 23:21] ojw28 commented on #2330
I can reproduce the problem. It's not helpful that both audio files include a text track that's approximately (not exactly) twice as long as the audio. This is why the content appears to have a duration of around 45 minutes when the actual audio is only about 22 minutes long. VLC also ends up with the duration being way too long for the same reason. This is also the reason why the player gets conf

[2017-01-16 03:12] liauli commented on #2317
Hi @ojw28, I have added another information. Please check it. Thanks!

[2017-01-16 04:27] belovolll commented on #2328
I thought there was a way to get the current url directly. And so it turns out that I need to store an array of uri separately and accessed by index.

[2017-01-16 04:45] liauli commented on #2317
I am sorry, I just found out that the green and white are from the background ( I forgot that I added background there). Which means the video is not fullscreen. How to make the video full screen ?

[2017-01-16 05:25] Naguchennai opened #2332 "STATE_ENDED not detected r2.1.1"
STATE_ENDED not detected. Video repeating , looping never stoped. if i remove " exoplayerview.setPlayer(exoplayer);" only audio playing not repeating

 ` BandwidthMeter defaultBandWidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory videoTrackSelectionFactory =
                new AdaptiveVideoTrackSelection.Factory(defaultBandWidthMeter);
        TrackSelector trackSelector =

[2017-01-16 07:46] wendong-li commented on #1688
@ojw28

Is the support for this feature under progress? I can see that the following recent changes in dev-v2:

e125ed7 Report tunneling support via RendererCapabilities API
cd42434 Plumbing to enable tunneling on AudioTrack from renderers

If so, is there a plan on when to complete the initial support?

Actually, we are also adding this feature internally in our organization as we thought the off

[2017-01-16 09:33] AquilesCanta commented on #1554
I didn't know there was an issue related to this, otherwise I would have added a reference. Do try the latest version and let us know if the issue persists. Unfortunately, this fix is not available in V1.

[2017-01-16 10:01] AquilesCanta commented on #2304
From what I understand, you want to avoid adapting into a specific subset of the available representations. Have you looked into the TrackSelector hierarchy? This is one of the things you can do with it. I'd also suggest trying stack overflow or a similar Q&A.

[2017-01-16 10:01] #2304 closed, assigned to nobody

[2017-01-16 10:06] replystreamingwidevine opened #2334 "CryptoException error during playback"
During playback of some content,  we get a CryptoException error after a couple of minutes of playback with some content (not all). We are experiencing this issue on specific devices like Samsung Tab S2 and Samsung Tab S. We are using version 1.5.9 version of Exoplayer

Here the log that we have for this CryptoException
[code]

Moreover, after such error, we see in the log that the device seems no

[2017-01-16 10:13] AquilesCanta commented on #2332
This is working as intended. As you mention, you are using a LoopingMediaSource, so the player doesn't end because the media goes on "_forever_".

Could you please clarify:

If you remove that line the player actually reaches ENDED state? Or it doesn't but the audio doesn't loop, as it would with the line.

[2017-01-16 10:21] PavelGP opened #2335 "Can't get subtitles language codes for DASH"
- ExoPlayer returns list with empty subtitles language codes.
- Using ExoPlayer demo app v.2.1.1 I could see the list of subtitles in menu item "Text" with empty language codes. The issue is not reproduced for ExoPlayer 1.5.7.
- I provide only manifests:
 for this manifest I COULD SEE subtitles language codes in demo app v.2.1.1

[code]

for this manifest I COULD NOT SEE subtitles language codes i

[2017-01-16 11:16] ojw28 commented on #2317
You can change the resize mode of `SimpleExoPlayerView` (see [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/SimpleExoPlayerView.html#setResizeMode-int-)). For example:
[code]
You can do the same in your layout file too, using:
[code]
See [here](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a#.1jf453366) for more details

[2017-01-16 11:16] #2317 closed, assigned to nobody

[2017-01-16 11:26] ojw28 commented on #2328
Yes, keeping the array yourself is the best way to do this.

[2017-01-16 11:26] #2328 closed, assigned to nobody

[2017-01-16 11:51] ojw28 commented on #1688
Yes, this is being worked on. As of the most recent commit `MediaCodecVideoRenderer` and both audio renderers are capable of tunneling.

To complete support we need to (a) check whether both audio + video renderers provide support for tunneling for the media being played, (b) generate an audio session ID for tunneling if they do (there's a static method in `C` to do this), and (c) propagate it to

[2017-01-16 12:00] ram992 commented on #2304
Hello @AquilesCanta I have solved it after reading the classes (cause I got some time) sorry for bugging you guys.
I am posting here the solution (it's very simple) you can refer it to any other person if needed.

 private static boolean isSupportedAdaptiveVideoTrack(Format format, String mimeType,
      int formatSupport, int requiredAdaptiveSupport, int maxVideoWidth, int maxVideoHeight) {
    r

[2017-01-16 14:14] Naguchennai commented on #2332
@AquilesCanta thank you my mistake

[2017-01-16 14:14] #2332 closed, assigned to nobody

[2017-01-16 14:16] bene25 commented on #2319
Ok. I am testing now. I will give you feedback asap.

[2017-01-16 14:32] rajyvan commented on #864
Ok nice ! ;)

[2017-01-16 14:52] PaulWoitaschek commented on #2330
Sorry for the incomplete report.
I tested it on Nexus 5x with Android 7.1.1 and ExoPlayer 2.1.1

[2017-01-16 15:35] SteUK opened #2336 "Invalidating bandwidth levels on DASH adaptation change"
Hi,

Not sure whether this is a 'how do I achieve this' question, or a feature request!

I am playing back a DASH stream with multiple adaptation sets (think multiple camera angles).  When I change stream, I want to minimise the delay before the new camera starts playing back.  Essentially I would like to ensure the lowest bitrated representation is streamed in and started.  What I am seeing on ad

[2017-01-16 15:41] ojw28 commented on #2330
We'll push a fix for the stack trace shortly, which will allow the user to advance to the next item without failure. We'll also push a fix for an issue that prevents backward seeking within the same item once in the "stuck buffering" state.

The stuck buffering state itself is due to the media containing an incorrect duration for the text track that's for some reason present. Not getting stuck in

[2017-01-16 15:57] botondbutuza commented on #2093
@jarnova We've reduced latency in switching between views by increasing the number of keyframes in our streams. If you have access to the streams, I'd suggest doing this.

[2017-01-16 17:07] botondbutuza opened #2337 "Clear all EventListeners"
More of a question than an issue - I have one or two event listeners set on a SimpleExoPlayer, and I was wondering if it would be possible to remove all of them with one utility method, instead of having to retain instances of the listeners.

[2017-01-16 20:34] PaulWoitaschek commented on #1299
I have a similar case but I'm not sure if this is not acutally a bug @ojw28
I'll send the file by mail.

ExoPlayer 2.1.1

[code]

[2017-01-16 22:24] ojw28 commented on #2058
FYI - We'll be pushing a change to `dev-v2` shortly that parses `Role` elements and sets `C.SELECTION_FLAG_DEFAULT` if the element looks like:
[code]
This is sufficient to cause the track to be selected by default by `DefaultTrackSelector`.

[2017-01-16 22:51] rustyshelf commented on #2316
@ojw28 Philip was kind enough to create a pull request with the changes I was talking about. Would love it if you could take a look and see if it's suitable for inclusion, we'd love for this to be part of ExoPlayer itself :)

[2017-01-16 22:58] ojw28 commented on #2316
Yeah, I was just looking. Looks good. I've added a few comments. Once addressed we'll get it merged.

[2017-01-16 23:31] ojw28 commented on #2337
This isn't supported, so you'll need to keep references to the instances so that you can pass them to the remove method. Having a method to clear all listeners may end up being more confusing than it is helpful, since components like `SimpleExoPlayerView` add themselves as listeners to the player, and it's quite likely that a developer calling such a method wont realize they're detaching the view

[2017-01-16 23:31] #2337 closed, assigned to nobody

[2017-01-17 01:04] zsmatyas commented on #1807
Any comments about your implementation plans? I have the 708 parser implemented, I would gladly contribute if our code changes can be aligned. (As my V1 parsing is not compatible with the current state of V2)

[2017-01-17 06:49] PavelGP commented on #2335
Could you please give us time estimate, when do you fix bug? We should know how to plan our time and  if we should make any workaround for current realization.

[2017-01-17 07:30] PunitD commented on #2330
@ojw28 #1874 issue happens only on particular set of devices when we try to play videos(in playlist) stored in local storage of device.

Also, it happens only when moving from 1st to 2nd track in playlist and not otherwise.

Any quick workaround like suggested by you in previous comment of always allowing media to play for stated duration can be implemented?
Any suggestions?

[2017-01-17 09:29] botondbutuza commented on #2337
That's a very good point, thank you for clarifying. :)

[2017-01-17 09:47] td6drummer opened #2338 "temp"
*** PLEASE DO NOT IGNORE THIS ISSUE TEMPLATE ***

Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include ALL of the following, unless
you're certain that they're not useful for the particular issue being reported.

- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer

[2017-01-17 09:48] #2338 closed, assigned to nobody

[2017-01-17 10:32] wendong-li commented on #1688
@ojw28

Thanks for sharing the information. I rebased my changes on the latest dev-v2.

I think my understanding on the changes needed is aligned with yours. Since video tunneling needs to work together with audio hw av sync, the decision to enable video tunneling needs to be done in a place where both renderers' information can be accessed. After the decision is made, one thing left is to signal

[2017-01-17 10:50] ojw28 commented on #1688
My current plan is to have a track selector make the decision (since it knows about the capabilities of each renderer). The selector effectively becomes more of a binder that decides (a) which tracks to select, and (b) what the corresponding renderer configuration should be when using the selection. I'm not completely sure it's the best approach, as opposed to something directly in ExoPlayerImplIn

[2017-01-17 10:51] ojw28 commented on #1807
We have some 708 code internally that hasn't been pushed to GitHub yet. @cdrolle - Can you make it happen? Thanks.

[2017-01-17 11:08] ojw28 commented on #1299
Exactly the same case (Xing header that's missing a table of content).

[2017-01-17 11:13] PaulWoitaschek commented on #1299
Is it helpful to post the ffmpeg output like this? That could make future reports easier to track for you.

[2017-01-17 11:17] ojw28 commented on #1299
Just providing the source media is best. That kind of output is normally not sufficient to debug an issue by itself, and if we have the source media we can run mediainfo/ffprobe etc on it ourselves if we need to. Thanks!

[2017-01-17 11:18] bobek opened #2339 "VP9 extension for armeabi-v7a fails"
Hello,

I am trying to build VP9 extension, but `libvpx` fails on `armeabi-v7a`. I am on Debian/sid with `android-ndk-r13b-linux-x86_64.zip`. I came across #1148 , which suggested that there could be issue with running 64b version of NDK. I have installed Debian stable 32b and digg `android-ndk-r10e-linux-x86.bin` from the Internet. The result is the same.

[code]
I had to remove `--disable-media`

[2017-01-17 13:47] ojw28 commented on #1789
The latest `dev-v2` branch should handle this issue properly in most circumstances. There may still be issues if there are discontinuities very close together and if high latency is experienced refreshing the HLS playlists.

[2017-01-17 13:47] #1789 closed, assigned to AquilesCanta

[2017-01-17 13:49] ojw28 commented on #2330
The failure is fixed in `dev-v2`. #1874 tracks not getting stuck in the buffering case, as described in more detail above.

Either way, a user isn't going to want to sit around for 20 minutes waiting for the next item to start. Fixing #1874 is quite technically difficult; it's not a quick workaround. We'll follow up on that issue in due course, but it's not going to be a quick thing.

[2017-01-17 13:49] #2330 closed, assigned to nobody

[2017-01-17 13:56] Abilashinamdar opened #2340 "Playing a particular resolution video in offline mode (DASH)"
My manifest(mpd) file contains multiple resolution videos(like 180p, 360p, 720 etc), i manually parsed the mpd file & downloaded all the video files and stored it in my Local Storage. When I play the video using this manifest file in offline mode, it is playing fine. Now I have deleted the 180p & 360p resolution files. Now when I try to play the video using the same **Manifest** file , it is not p

[2017-01-17 15:36] ojw28 commented on #2316
The change has been merged. I made some further changes in https://github.com/google/ExoPlayer/commit/5aff31c0615dd05cabb4a92b17d658aeff742da7 and https://github.com/google/ExoPlayer/commit/48099ee52eeaa871ddc9c65d2898790b8e35a728. These changes are completely untested as I don't have any media containing ID3 chapter information, so it's highly likely I've broken something. Please could you take a

[2017-01-17 15:50] ojw28 commented on #2316
Obvious bugs fixed in https://github.com/google/ExoPlayer/commit/c828d9b0bf13e430b442a4a0bf801fe7b6e808b5.

[2017-01-17 15:51] jmgirven commented on #1988
[ClippingMediaSource](https://github.com/google/ExoPlayer/blob/dev-v2/library/src/main/java/com/google/android/exoplayer2/source/ClippingMediaSource.java) is currently in the dev-v2 branch, so presumably will be available in future releases.

[2017-01-17 17:22] #1688 closed, assigned to ojw28

[2017-01-17 17:27] ojw28 commented on #2316
It would be cool to add support for MP4/M4A chapter metadata too, if you fancy giving it a go. It's probably just a matter of adding support in `extractor.mp4.MetadataUtil` to parse out the ID3 frames. I found some test media here: https://auphonic.com/blog/2013/07/03/chapter-marks-and-enhanced-podcasts/

[2017-01-17 17:44] ojw28 opened #2341 "Consider enabling A/V tunneling by default from some API level"
A/V tunneling is now supported on AndroidTV. We should consider whether we want to have it enabled by default from some API level.

[2017-01-17 18:19] SoroushDMA commented on #2058
Cool, thanks for letting me know.

[2017-01-17 18:27] gabbimark commented on #91
same issue here. my videos playback correcly using any web or android video player that i try. But when playing back using exoplayer the videos are flipped 90 degrees on some phones. Will this be fixed soon?

[2017-01-17 18:53] dcower commented on #2322
@ojw28 That's correct -- this is not currently supported in ExoPlayer.

The metadata is used to signal the presence of spatial (ambisonic) audio in 360 media. AFAIK it's only used to signal that for upload to YouTube/Facebook/etc.; i.e., it's used as an ingest/upload format.

There are a few options I see here:
1) Don't support it. Just use the channel count to determine if the media has spatial a

[2017-01-17 19:21] ojw28 commented on #1807
The change above adds what we've done so far, but it's not yet a complete solution. Some further work is needed on the MediaSource/Extraction side to expose the CEA-708 tracks so that they can be selected for rendering.

[2017-01-17 19:24] kdelanerolle commented on #26
@yangwuan55 your PR accepted and merged?

[2017-01-17 19:56] ChernyshovYuriy commented on #1782
Hi colleagues,

Not sure whether or not this is a right place to put my comments.
However, this exception occur with 100% of reproductivity when pause Live channel and resume it after a wild, about 10 - 15 minutes.
What happens is that ExoPlayer play out buffered chunks and then throw this exception.

The question is - is this behaviour going to be fixed / or tracked and will be fixed some time /

[2017-01-17 22:15] wvpaf commented on #1864
@teokw90 any update on the logs?

[2017-01-17 23:05] WeiChungChang commented on #2340
The problem seems to be that the manifest still contains the representations which include the deleted videos. When bit-rate switches, it may instruct the player to load a deleted video. I guess that is why the   **onLoadError** happens.
Maybe the fast way to test is manually remove the representations related to the deleted videos from MPD and see if it works.

[2017-01-17 23:15] skuppa opened #2342 "How to create MutliPeriod or MultiWindow Timeline from single media file?"
Is it possible to create MultiPeriod or MultiWindow Timeline from a single media file.

For example, if my media file is playing for 10 minutes then is it possible to create period/window for each 1 minute. It is like creating playlist from single media file consist of 10 playable windows.

Thanks,
-Kuppa

[2017-01-18 00:57] geekygecko commented on #2316
@ojw28 wow thanks for taking the time to go through my change. I really like the way you just used sub frames. I will give those changes a test with the files I am using. I am happy to try adding some tests? Would I just create another pull request for that?
One minor thing I noticed, are the subframes meant to be private as I can't access them?
https://github.com/google/ExoPlayer/blob/5aff31c0615

[2017-01-18 01:15] rustyshelf commented on #2316
I had assumed that chapters in M4A files that most podcasters use aren't in ID3 tags of any kind. I'm not even sure there's a specification for that format that's available? Maybe it would be best to track that in another issue and leave this one specific to MP3 ones?

Here's an example of an Enhanced AAC/M4A chaptered file: http://www.maccast.com/media/eMC20170113.m4a

vs an MP3 with ID3 chapters

[2017-01-18 01:22] satyan commented on #1988
Thanks for including this quickly.. It worked beautifully for my case.

[2017-01-18 02:01] wendong-li commented on #1688
@ojw28,  thanks for the changes and sharing the information.

The current approach i.e. using track selector, seems to be more efficient to me. Looking forward to the final design.

Seems this feature is almost complete, except the following change that I'm aware of:
\- Skip the output buffer processing in video renderer if tunneling is on

[2017-01-18 05:19] Abilashinamdar commented on #2340
That's what i don't want to remove any representations from the MPD, i want to play only existing files which are stored in my Local Storage. That any how it will works if i remove representations from the MPD but i don't want to touch the MPD.
Is there a way to configure the player to play only existing files? OR
Do we need to add any workaround code to make the player to play existing files?

[2017-01-18 06:12] Kexiliu commented on #2322
@ojw28 @dcower thank you both for answering my questions :) greatly appreciated!!

[2017-01-18 08:25] ojw28 commented on #1688
I'm not sure any special logic is required for skipping output buffer processing. In any case, the solution appears to work fine end-to-end as it is.

[2017-01-18 08:41] ojw28 commented on #2316
@rustyshelf - I think you're correct that MP4 files don't use ID3 tags, however the approach we've taken for MP4 metadata has been to convert it into the equivalent ID3 tags as far as is possible. It usually is possible since the metadata atoms in MP4 are in most cases equivalent to ID3 tags. See `extractor.mp4.MetadataUtil`. For chapter metadata, my guess is that the `chpl` atom is used, as defin

[2017-01-18 09:07] rustyshelf commented on #2316
@ojw28 oh interesting, thanks for the link to that spec, I'll take a look tomorrow and see if I can figure it out. Would be a great addition if it's as easy as it sounds.

[2017-01-18 10:28] ojw28 commented on #2342
I don't really see why you'd want to do this. If it's just to make the UI appear differently (i.e. as though the content consists of multiple pieces of media with << and >> skip buttons) then it seems more appropriate to customise the UI, not fake a structure for the media that's not really true.

[2017-01-18 11:29] ojw28 commented on #2316
That would be great, thanks!

[2017-01-18 14:34] DavidMihola opened #2343 "When to call setSelectionOverride?"
We are in the process of moving our app(s) to ExoPlayer 2 and I need to get a grip on how track selection works exactly (for HLS streams).

From looking at your demo app I learned to use `DefaultTrackSelector.setSelectionOverride()` - however, I have few questions:

* Is this the only/clearly preferred way of tuning the track selection (for HLS streams) or is there a way to "front load" the proces

[2017-01-18 14:43] ChernyshovYuriy opened #2344 "Live channel pause - resume functionality"
Dear colleagues,

I decided to file a separate issue regarding functionality of Pause and Resume Live channel. Behaviour is not consistent and could not be fit into [this issue](https://github.com/google/ExoPlayer/issues/1782) only.

Here are two links of the public streams provided by NASA (it is public):
http://nasatv-lh.akamaihd.net/i/NASA_101@319270/master.m3u8
http://nasatv-lh.akamaihd.net/i/

[2017-01-18 15:27] dobrusev opened #2345 "getCapabilitiesForType (Native) exception on Samsung Tab 3"
Hello guys,

Current I'm using exoplayer v2.0.1 and DASH with Widevine stream. Playback fails with

[code]
I remember that on v1.x of exoplayer I was able to bypass this issue with setting the security level of the DRM to L3.

I try to do it again but it looks like I don't do it write since I get this error.
Here is the code that I use now:

[code]

Do I set the securityLevel properly?
Am I on a r

[2017-01-18 15:34] ojw28 commented on #2343
It's helpful to distinguish between synchronous and asynchronous track selection. By synchronous I mean the tracks are selected on the playback thread prior to media being buffered. By asynchronous I mean a message is passed to the application thread and a selection is then passed back to the playback thread. With asynchronous selection there's a small "gap" during which the wrong selection is bei

[2017-01-18 15:49] halibegic opened #2346 "Full screen button inside custom controls"
Hi,

After setting **app:controller_layout_id="@layout/custom_controls"** attribute and using standard UI components (e.g. play, pause) I need to add full screen button. However I just can't seem to figure it out how to implement this with SimpleExoPlayerView, any help would be great.

[2017-01-18 15:51] ojw28 commented on #2346
Duplicate of #1845

[2017-01-18 15:51] #2346 closed, assigned to nobody

[2017-01-18 18:17] ojw28 commented on #2345
Please provide a full bug report. The issue template explicitly states that a snippet of logcat is not sufficient.

[2017-01-18 18:18] jmgirven opened #2347 "ClippingMediaSource: Provide easy way to set clipping start point to a keyframe"
I was testing the current dev-v2 branch of ExoPlayer and specifically the ClippingMediaSource functionality. I see in #1988 that @andrewlewis wrote:

Is there a utility function somewhere that, given a time in the video, calculates the nearest synchronization sample/key-frame? I would prefer to have seamless transitions than frame accurate start times.

[2017-01-18 18:22] andrewlewis commented on #2184
- Gapless playback should just work if the input media has the right metadata and you're using the default MediaCodecAudioRenderer (see this [blog post](https://medium.com/google-exoplayer/exoplayer-2-x-new-audio-features-cfb26c2883a#.rddn60fl6) for more information).
- For looping use LoopingMediaSource (see the [blog post on MediaSource composition](https://medium.com/google-exoplayer/exoplayer-

[2017-01-18 18:22] #2184 closed, assigned to andrewlewis

[2017-01-18 19:03] skuppa commented on #2342
Thank you for responding my question.

I am trying to index the big video with multiple chapters like DVD menu, and let user skip to next chapter or pick any chapter as per his needs.

[2017-01-18 20:05] ChernyshovYuriy opened #2348 "Manifest fetching while Live stream on Pause"
Dear colleagues,

I am wondering whether it is work as designed when channel manifest fetching while Live stream is on Pause?

To detect such behaviour I simple log callback "onTransferStart" on the listener assigned to "HttpDataSource" implementation.

Regards,

[2017-01-18 20:47] ojw28 commented on #2348
Yes, it is. Otherwise there's no way to track changes in the live window. If you really want the player to be torn down completely then you should stop (or release) the player and prepare it again when it's next required.

[2017-01-18 20:47] #2348 closed, assigned to nobody

[2017-01-19 07:31] DavidMihola commented on #2343
OK, we'll see how far we get with `Parameter`s first and try extending `DefaultTrackSelector` if we need to!

Thank you so much for your explanations!

[2017-01-19 08:17] DavidMihola commented on #2343
Oh, one additional question if you don't mind...

Does the following make sense - I mean from the viewpoint of ExoPlayer architecture, and assuming you know the structure of the HLS playlists you are playing:

[code]

and

[code]

Except for the fact that `HLSChunkSource` still starts with the first track because of `InitializationTrackSelection` it seems to work...

[2017-01-19 09:37] yangwuan55 commented on #26
@kdelanerolle I've tried,but they don't agree to add this feature.So can only exist in my library.

[2017-01-19 10:49] ojw28 commented on #26
Our position on this issue is pretty clear. We're actively working on this but it's not done yet. We had intended to provide support in Q4 2016 but this has now slipped to later in Q1 2017. Please treat this as a rough estimate rather than a guaranteed deadline. If you cannot wait for official support then there are various unofficial approaches referenced in this issue that you can take a look at

[2017-01-19 11:28] dobrusev commented on #2345
HI @ojw28

In our app we are playing DASH with Widevine DRM protection.
At some point we migrated to the new exoplayer v2 from 1.5.x.

The exception that we see is
`android.media.MediaCodecList.getCodecCapabilities(Native Method)`
which make the playback to fail.

From the research that I did I saw that other people report that they experiencing the same issue and this is actually a device manufac

[2017-01-19 11:31] ojw28 commented on #2345
As per the issue template, we require:

  file. A bug report can be captured using "adb bugreport". Output from "adb
  logcat" or a log snippet is not sufficient.

So please run "adb bugreport" shortly after reproducing the issue, and attach the resulting output to this issue (e.g. as a file).

[2017-01-19 11:40] dobrusev commented on #2345
apologies that I didn't read carefully the issue template.

Here is the bugreport
[bugreport.txt](https://github.com/google/ExoPlayer/files/716466/bugreport.txt)

[2017-01-19 12:47] AquilesCanta commented on #2319
After playing a encryption-clear stream for a day, I noticed the heap size was 80MB. I suspect using encrypted streams increases the leakage size. Good news is I have already found a cause for the issue for which I will soon push a fix. After that, please try reproducing again and let me know the outcome.

[2017-01-19 13:56] dreich commented on #1167
Please, tell, where in ExoPlayer I can hook and capture input buffer (for mp3 stream) and write it to file?

[2017-01-19 14:28] akavrt commented on #2254
@andrewlewis Do you have any plans to fixing this issue any time soon? I'm thinking about adding another 'workaround'-like temporary fix to MediaCodecRenderer based on decoder name which will affect only Nexus Player devices. The media samples that I sent to dev.exoplayer@gmail.com last month are still working.

[2017-01-19 14:29] ojw28 commented on #2335
This should be fixed on `dev-v2` as a side effect of https://github.com/google/ExoPlayer/commit/7f967f305718bc2c9ee679fdd7d014eccef0356b. There will be one further cleanup change, but that wont affect functionality.

[2017-01-19 14:29] #2335 closed, assigned to nobody

[2017-01-19 14:44] kdelanerolle commented on #26
@ojw28 Appreciate your quick response. It's good to hear that it's not written off totally but unfortunately it's not possible to even plan on it without having a committed timeline.
@yangwuan55 I am looking at your fork and it looks like you are bringing in your SonicMediaCodecAudioTrackRenderer for older (<23) API levels. Can you enlighten me the reason why this is needed?
Also, when I run your

[2017-01-19 15:10] ojw28 commented on #2254
@akavrt Are you in control of the encoding for these streams (or do you have a contact of someone who is)? Whilst I would expect most decoders to handle this case, it does seem that the video streams are invalid in that they appear to be mixing avc1 and avc3 together. One of the following should be true:

1. A stream should claim that it's avc1, include SPS/PPS units in the init segment and *not*

[2017-01-19 15:20] ojw28 commented on #26
@kdelanerolle We've indicated it's planned for later in Q1 2017. That is our provisional timeline. It's unclear what "committed" means. Timelines change frequently in many projects, including this one, for example if unforeseen technical issues arise during development or if higher priority issues come to light that need to be assigned resources. We try not to make promises for this reason. If you

[2017-01-19 15:23] bobek commented on #2339
I am able to compile on all platform with the following changes to `generate_libvpx_android_configs.sh`:

[code]

I have not tested yet if output works on `armeabi-v7a` or not.

[2017-01-19 15:36] akavrt commented on #2254
@ojw28 Thanks a lot for quick response!

Yes, to some extent. As I have mentioned in the e-mail, the guy from our CDN team told me that those assets were encrypted using Bento4's mp4encrypt tool. I will forward your clarifying comments to them for further investigation.

[2017-01-19 15:40] kdelanerolle commented on #26
@ojw28 Thanks for the response. I totally get why you are not making promises and timelines can slip. I am really looking forward to seeing this feature on ExoPlayer sooner rather than later. However, I also need to look for any fallback strategy in-case this feature doesn't make it in time (so that my own project doesn't slip it's timeline). So you are right on the money about provisioning my own

[2017-01-19 16:04] ojw28 commented on #2254
I think *not* in point (2) above should probably be *may optionally*. In which case your streams would likely be valid if they claimed to be avc3 rather than avc1. We'd still fail to play the content on Nexus Player if the streams claimed to be avc3, but I think it would become trivial for us to fix in that case. It still seems preferable to not include SPS/PPS in both places, however.

If you hav

[2017-01-19 16:29] akavrt commented on #2254
@ojw28 Thanks for your hint! I will report back as soon as new information becomes available.

[2017-01-19 19:52] GokhanArik opened #2349 "ExoPlayer with MediaBrowserServiceCompat compability"
Hi,

I read that ExoPlayer works well with `MediaBrowserServiceCompat`, but I'm having issues setting the player to the view.

My `ExoPlayer` instance is inside the `MediaBrowserServiceCompat` and I have to access this player inside the activity. Is there any way to use it without calling `setPlayer()` method or communicate with the activity?

[2017-01-20 01:22] rustyshelf commented on #2316
@ojw28 we spent some time looking into this it turns out that m4a files with chapters have a 'chap' LeafAtom (stored in a tref ContainerAtom) which points to the Track that contains the chapter list.

According to Apple's doc (https://developer.apple.com/library/content/documentation/QuickTime/QTFF/QTFFChap3/qtff3.html#//apple_ref/doc/uid/TP40000939-CH205-57863):

By wrangling the Mp4Extractor cod

[2017-01-20 03:48] wendong-li commented on #1688
I was referencing the CTS test case in MediaCodecTunneledPlayer.java for the usage of this feature. It suggests skipping the handling of video output buffer when tunneling is enabled.

Just checked the implementation of the native library, looks like when tunneling is on, empty buffer array would be returned from MediaCodec.getOutputBuffers() and dequeueOutputBuffer() would return TRY_AGAIN. That'

[2017-01-20 07:10] gongshoudao opened #2350 "Why MediaCodecVideoRenderer does not overridegetMediaClock() method?"
My video has not any audio track,only has video track.
So,
`rendererMediaClock==null`. in the ExoPlayerImplInternal.java
![image](https://cloud.githubusercontent.com/assets/4568329/22139503/57deccaa-df21-11e6-9815-f6bde072c456.png)

and

![image](https://cloud.githubusercontent.com/assets/4568329/22139549/a86bf792-df21-11e6-92e2-ad2fd2dc3ee8.png)

throw NullPointerException at about line 404~408.

[2017-01-20 07:59] #2350 closed, assigned to nobody

[2017-01-20 09:56] PaulWoitaschek commented on #26
Of cause timelines can slip but it would be great if we can get updates on the schedule rather 2 weeks before than 2 weeks after the due date.

[2017-01-20 10:49] peddisri commented on #2096
@ojw28 The sample HLS URls provided by Apple and included in the Exo samples itself does not contain the RESOLUTION attribute in master playlist.
https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_4x3/bipbop_4x3_variant.m3u8

In 1.x Exo, canReconfigureCodec API of MediaCodecVideoTrackRenderer used to only check for current format and new format mime types before it deciding if a rec

[2017-01-20 11:46] yanivlankry commented on #2313
sorry for the late response.
i'll look in to   it and update.
thank you for the guidance.
Yaniv

On 13 January 2017 at 19:07, ojw28 <notifications@github.com> wrote:

[2017-01-20 12:15] Abilashinamdar commented on #949
@edwinwong I took your changes and when i run the app, throwing "Media requires a DrmSessionManager" exception which is shown below

[code]

[2017-01-20 15:42] ojw28 commented on #2316
Interesting. We currently just expose the chapter data as a text track for that case. Which we probably shouldn't be doing!

[2017-01-20 15:46] davidmullis opened #2351 "ExoPlayer v2 m3u8 embedded subtitles"
Hello
I'm using ExoPlayer v2.1.1 (SimpleExoPlayer with SimpleExoPlayerView) in my AndroidTV app. I'm getting an m3u8, to stream HLS video, which works fine.
The m3u8 may also contain webvtt subtitles files. When it does, I can call simpleExoplayer.getCurrentTrackGroups() on simpleExoplayer.getCurrentTrackSelections() and see that the subtitle track is there, but I don't see subtitles displayed on

[2017-01-20 15:57] AquilesCanta commented on #2351
They should be being displayed. If you would kindly:

1. Play the stream in the demo app.
2. Make sure the text track is selected.
3. Make sure there are cues in the WEBVTT files.
4. See if the subtitles are displayed.

If subtitles are displayed, then you are forgetting something in your app. Most likely, the text track is not being selected.

If subtitles are not displayed, please send a link to

[2017-01-20 16:01] davidmullis commented on #2351
Hi quilesCanta
Thanks for the quick reply.
Before I do that, I think my issues that the track is not selected can you tell me how to set a texttrack to selected.
If that doesn't work then I'll go through the above steps.

[2017-01-20 16:56] davidmullis commented on #2351
Hi again,
I used the ExoPlayer sample app and it is displaying the subtitles, so you're right. It's definitely something I'm missing in my code.
Would you kindly explain the steps involved is setting the text track to selected?

[2017-01-20 18:06] AquilesCanta commented on #2351
Have a look at DemoApp for a precise guide on how to do it. It's not much code. [This medium post](https://medium.com/google-exoplayer/exoplayer-2-x-track-selection-2b62ff712cc9) might also shed some light on track selection. Unfortunately, the issue tracker is not a good place for stack exchanging.

[2017-01-20 18:06] #2351 closed, assigned to AquilesCanta

[2017-01-20 18:45] PaulWoitaschek opened #2352 "Building flac extension"
I closely followed your instrution on how to build the flac extension but at the last part it fails with missing
`libncurses.so.5`. How can I build the extension? I'm using the latest ExoPlayer version with an up-to-date Arch Linux
[code]

[2017-01-20 19:08] PaulWoitaschek commented on #2352
Apparently it is because exoplayer (or flac?) is using an outdated verison of libncurses.
I managed to fix that by installing `ncurses5-compat-libs` from the AUR repostiory.

Now it fails with an even more cryptic error. It would be so great if you could just upload the dependencies to maven.

[code]

[2017-01-20 19:44] #2319 closed, assigned to AquilesCanta

[2017-01-20 20:52] ojw28 commented on #2349
This doesn't sound like an ExoPlayer issue (I didn't even know what MediaBrowserServiceCompat was until I looked it up). I suggest you ask this question on StackOverflow.

[2017-01-20 20:52] #2349 closed, assigned to nobody

[2017-01-20 21:07] ojw28 commented on #2343
The factory (`adaptiveVideoTrackSelectionFactory`) passed to the `DefaultTrackSelector` constructor is really intended to build an adaptive track selection containing all of the tracks provided to it, not select only one of them. If you want a fixed track selection you should probably pass null as the argument, which will force `DefaultTrackSelector` to make the "best" fixed selection whilst respe

[2017-01-20 21:07] #2343 closed, assigned to nobody

[2017-01-20 21:22] ojw28 opened #2353 "HLS - Format adapts at start even when a fixed track selection is used"
See #2343. For HLS playback in V2 we always start playing out the first track in the master playlist, even if it's not present at all in the track selection. For example if the track selector has chosen a different track as a fixed track selection.

We should not start playing out the first track in the case that it's not present in the track selection at all. Aside from being confusing, it could

[2017-01-20 21:23] ojw28 commented on #2343
I've filed #2353 to track the final note above. We'll merge a change to use bitrate as a tie-breaker for fixed track selection early next week.

[2017-01-20 21:41] Duna commented on #2213
But the native IOS player has the upper explained implementation. If they did it, wasn't a good reason for Apple to take such decision in implementation? E.g. Currently when the live stream past segments is 15 min and the stream plays for 20min, when seek to the beginning the users are expecting to see min t-20, but actually is t-15.
The only valid reason in not implementing this feature is that i

[2017-01-20 21:44] ojw28 commented on #2096
I'm pretty sure there is a check somewhere in V1. The reason playbacks are able to avoid the codec re-instantiation in most cases is because HlsChunkSource hard-codes 1080p in the case that resolution tags were missing ([here](https://github.com/google/ExoPlayer/blob/r1.5.13/library/src/main/java/com/google/android/exoplayer/hls/HlsChunkSource.java#L646)). I think that approach is quite problemati

[2017-01-20 22:07] ojw28 commented on #2213
How to display the seek bar in these cases doesn't have a single right answer. There are different approaches, as noted here, and the one that's "best" is likely dependent on both the app, the nature of the streams being played and personal preference. "What Apple did" is not a ground truth for correctness. I suspect that a user will largely expect what they're used to from using other apps (or yo

[2017-01-21 13:44] Moussine89 opened #2354 "Player stops after a few minutes"
I have player working with a url stream from internet ,when i start the player it works fine but when i turn off the device screen a few minutes later (5 to 7 minutes) it stops and doesn't recover until i turn on the screen. I need your help .

Steps on the ExoPlayer demo :

1-I went to SmoothStreaming -> SuperSpeed -> the player start fine
2-I turn off the device screen
3-After a few minutes the

[2017-01-21 14:01] andrewlewis commented on #2354
Background/screen off playback has been discussed on this issue tracker several times before -- in future, please search for an answer in previous issues before filing a new one. In this case, I suggest reading #930, #1826, #2276 and #421.

[2017-01-21 14:01] #2354 closed, assigned to nobody

[2017-01-21 16:14] Moussine89 commented on #2354
Thanks a lot and forgive my ignorance im new here :)

[2017-01-21 23:06] pratikjk opened #2355 "Getting java.io.EOFException while streaming from a HLS media"
- Trying to stream from a HLS media. The audio and video renderers work fine but setting up a text renderer causes the exceptions and not playing of the stream with subtitles
-http://ajo.dev.reuters.tv/rest/v2/xato/playlist/assets/139287,140784,140847,140800,57445,127691,140785,127679,140855,127800,140799,127770,140803,139291/video.m3u8
 is the link I am trying to stream from. This fails to render

[2017-01-22 04:55] eneim opened #2356 "Large memory usage even after closing the App"
*** PLEASE DO NOT IGNORE THIS ISSUE TEMPLATE ***

- A description of the issue: this is more like a question. My app plays some Videos and I make 3 "heap dump" using Android Studio. The point is the dump after closing the App + manually trigger GC (by AS) still shows a huge mount of memory allocation, where "*.upstream.Allocation" instances present the most. I suppose to catch all place your "free

[2017-01-22 16:10] Merseyside opened #2357 "set equalizer"
Hello! I got following code to play mp3 tracks. What should i do to get audioSessionId correct? When i try with getAudioSessionId() and give result to equalizer constructor it says following:
RuntimeException: Cannot initialize effect engine for type: 0bed4300-ddd6-11db-8f34-0002a5d5c51b Error: -3.

My code:
[code]

[2017-01-23 01:59] workspace commented on #1764
@wvpaf @ojw28 Android Nougat Update for S7 solve this issue! I checked it, however, Galaxy Note 5, Galaxy S6 or other samsung devices seem to have the same issue yet. I guess...samsung will solve this issue with Nougat update for each devices.

[2017-01-23 09:05] jayachandrak opened #2358 "Exoplayer HLS ABR issue"
Issue: Player lag while playing the ABR stream
Player version; 2.1.1
CPU :Amlogic s805 mbox

Description:
I have sample HLS stream which has multiple bit rates

it got three bit rates where as individual streams are working fine and when we try to play the ABR observe the player lag and frame drop

I have tested the same stream with device default player and i confirm that it is playing with out a

[2017-01-23 09:06] bbincybbaby opened #2359 "Not able to certain stream .mp3 URLs with ExoPlayer"
I would like to create a music player using ExoPlayer. App working fine but certain urls like

[https://d33av21req61rl.cloudfront.net/track-files/636febce-7840-4d3f-9486-049c10afeb48.mp3](url)

not playing in Exoplayer. Error log provided below

[code]

[2017-01-23 09:20] andrewlewis commented on #2359
The file format can't be detected because the stream starts with an HTML fragment that looks like some kind of error from PHP.

[2017-01-23 09:27] ojw28 commented on #2357
The sample code you've provided lacks the very piece you're asking for help on (i.e. any handling of audioSessionId), which makes it quite difficult for us to help.

[2017-01-23 09:29] ojw28 commented on #2356
There isn't enough information here for us to help. Please provide detailed reproduction steps with the ExoPlayer demo app if you believe this to be an issue. If the elevated memory issue occurs only in your own app, it's likely an application specific problem (e.g. because you're not properly releasing the player) and you'll need to debug why that is yourself.

[2017-01-23 09:31] bbincybbaby commented on #2359
but
[https://d33av21req61rl.cloudfront.net/track-files/34ef163a-2389-461f-9c99-07806befc439.mp3](url)

this one works fine

[2017-01-23 09:36] andrewlewis commented on #2359
That stream starts with an ID3 tag, whereas the first one has what looks like an error message in an HTML fragment at the start.

The Mp3Extractor currently sniffs only as far as the (maximum) MPEG audio frame size before giving up. Is it possible that the server that provided the first file is misconfigured?

[2017-01-23 10:07] cr1944 opened #2360 "Can't get correct ts url with CacheDataSource when playing hls with a 302 status code"
- Condition:
1. a hls video url URL1( host is "A"), the response code is 302 and the location is the real m3u8 url URL2( host is "B")
2. the response is hls playlist, and the segment url is not absolute path, like this:

3. use DefaultDataSource or CacheDataSource to load the data.
- Result:
1. if I use DefaultDataSource:
[code]
the ParsingLoadable will use datasource's uri:
 `result = parser.pars

[2017-01-23 10:09] AquilesCanta commented on #2358
Could you please provide said stream to dev.exoplayer@gmail.com?

[2017-01-23 10:14] jayachandrak commented on #2358
Email sent to dev.exoplayer@gmail.com
Thanks

[2017-01-23 10:24] mchelnokov commented on #2254
@ojw28 Thanks for your replies.

We confirm that our streams are AVC1 and they don't contain SPS/PPS duplicates. The problem appears during adaptive reconfiguration only, no problems with any stream played alone. Obviously, the duplicates are generated by MediaCodecRenderer.feedInputBuffer:

https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/med

[2017-01-23 10:28] ojw28 commented on #2254
As per my response above, an avc1 stream should include SPS/PPS units in the init segment and *not* in the media segments. Your streams contain SPS/PPS in both the init segment *and* in the media segments, which is not correct.

The player prefixes the SPS/PPS from the init segment onto the media segment when an adaptive switch because that's the correct thing to do for avc1, because SPS/PPS is no

[2017-01-23 10:34] cr1944 commented on #2360
I have send a test url to dev.exoplayer@gmail.com

[2017-01-23 11:10] yqritc opened #2361 "Support CENC ClearKey"
Hi, I'm trying to figure out how to play dash content using clearkey.
It seems mediadrm in Android Framework support clearkey.
https://android.googlesource.com/platform/frameworks/av/+/master/drm/mediadrm/plugins/clearkey

I've found widvine and plyaready samples in demo application, but I couldn't find clearykey one.
ExoPlayer does not support clearkey?
If not, any plan to support in the future?

[2017-01-23 11:13] mseroczynski commented on #26
Exactly - to be honest I've never seen such 'wanted' feature on GitHub before. I guess lot of schedules depend on this issue so I'm truly hoping you'd be able to update frequently.

[2017-01-23 11:26] ojw28 opened #2362 "Support CEA-608 embedded in video representations in DASH"
As per title.

[2017-01-23 11:46] Behrouz-m opened #2363 "Unexpected exception for playing mp3 in Bluestacks emulator"
when I play mp3 files using http protocol in Bluestacks emulator I get following stack trace

[code]

sample files:
[sample.zip](https://github.com/google/ExoPlayer/files/723446/sample.zip)

[2017-01-23 11:48] ojw28 commented on #2363
Please see [this FAQ](https://google.github.io/ExoPlayer/faqs.html#does-exoplayer-support-emulators).

[2017-01-23 11:48] #2363 closed, assigned to nobody

[2017-01-23 11:57] Behrouz-m opened #2364 "Adding ID3 Length tag support"
Hi. I know Exoplayer does not rely on ID3 Length tag but it is very useful that you implement this feature as an option for developers. I have a web server that converts opus to wav and then wav to mp3 on the fly to support all devices that are connecting to it. The problem is Exoplayer does not read ID3 Length and the web server just does not know the length of the generated mp3. So, the mp3 file

[2017-01-23 12:08] ojw28 commented on #2364
This isn't something we'll be supporting. You can add support in your own fork if you really need it. I suspect there are much better ways you could set this up on the server side that would avoid this problem.

[2017-01-23 12:08] #2364 closed, assigned to nobody

[2017-01-23 12:17] PavelGP opened #2365 "SimpleExoPlayer getWindow(windowIndex, window) throws IndexOutOfBoundsException"
- A description of the issue:
Tried to play broken stream and found that ExoPLayer crashed. I have only Crashlytics bug report and my code. My code:
[code]
where **player** is SimpleExoPlayer class;
- A link to content: streams are under VPN, and when crash happened it was broken stream which did not play.
- The version of ExoPlayer being used: seems that this issue is related to ExoPLayer 2.1.1 a

[2017-01-23 13:15] ojw28 commented on #2365
If the timeline is empty any index you pass to `getWindow()` will result in an out of bounds exception. You should check whether the timeline is empty before you query it, by calling `Timeline.isEmpty`.

[2017-01-23 13:15] #2365 closed, assigned to nobody

[2017-01-23 13:45] Merseyside commented on #2357
[code]
this override method, where i try to get audioSessionId, but it always equals zero

[2017-01-23 14:24] ojw28 commented on #2357
That means it hasn't been set yet. You can use `player.setAudioDebugListener` to listen for the ID being set (the ID will be passed via `onAudioSessionId` when it is).

[2017-01-23 14:24] Merseyside commented on #2357
okay, i will try it. Thanks very muck

[2017-01-23 14:56] AquilesCanta commented on #2355
This is a duplicate of #2025. The quickest way to fix this is adding a .vtt extension to each media segment. We will also provide a fix for this for Webvtt tracks soon.

[2017-01-23 15:38] mchelnokov commented on #2254
Well, looks like right now we don't have a tool to dump NAL units from protected stream, so lets assume that the media segments have unexpected SPS/PPS info. The same unprotected streams don't cause the problem. There is some probability that encryption utility adds this excess info.
Just to curious, how the avc1 decoder receives SPS/PPS info when no adaptation switch occurs?
I just checked, the c

[2017-01-23 15:43] ojw28 commented on #2254
It's possible the encryption tool is adding them, yes. Unless you know otherwise, it's also possible that the original streams are avc3 and that the encryption tool is incorrectly transforming the avc3 box into an encv->avc1 box rather than an encv->avc3 box.

The initial SPS/PPS is passed in the `MediaFormat` that gets passed to `codec.configure` in `MediaCodecVideoRenderer.configureCodec` (and i

[2017-01-23 15:49] mchelnokov commented on #2254
Sure, our fragmentation/encryption process needs further examination.
As per providing SPS/PPS info from init segment in MediaCodecVideoRenderer.configureCodec, why then our excess SPS/PPS info from media segments doesn't cause the problem?

[2017-01-23 15:56] #2359 closed, assigned to andrewlewis

[2017-01-23 15:57] ojw28 commented on #2254
The excess SPS/PPS in the media segments are precisely what *is* causing the problem?

[2017-01-23 16:04] ojw28 commented on #2254
If you mean why doesn't failure occur right at the start of playback, when the decoder receives SPS/PPS via configureCodec and also at the start of the first media segment, then my guess would be that the SPS/PPS that's pushed in via configureCodec is submitted in a separate initialization buffer.

[2017-01-23 16:47] pratikjk commented on #2355
@AquilesCanta thanks for the response. The media we are trying to play is external to us and won't be possible to ask the provider to update their extension for each media segment.
Is there any easy fix that can be patched in ExoPlayer?

[2017-01-23 17:13] AquilesCanta commented on #2355
My best advice, if you can't modify the stream(by the way, this should be trivial for the producers), is to switch to Exoplayer V2. A fix will be available in the next push, as it's already available internally. If you can't wait until next push, in HlsMediaChunk (r2.1.1) you should change the

`
    if (lastPathSegment.endsWith(WEBVTT_FILE_EXTENSION)
        || lastPathSegment.endsWith(VTT_FILE_E

[2017-01-23 18:20] Merseyside commented on #2357
It works, thanks)

[2017-01-23 18:28] #2357 closed, assigned to nobody

[2017-01-24 00:01] SoroushDMA commented on #2058
Do you know what the ETA for this change is going to be?

[2017-01-24 00:05] ojw28 commented on #2058
The change is on `dev-v2` already, and is ref'd above. We don't have a good ETA of our next release as of now.

[2017-01-24 00:11] SoroushDMA commented on #2058
Thanks, I thought the changes are reflected in that branch's RELEASENOTES.md

[2017-01-24 06:16] bbincybbaby opened #2367 "Audio Focus and android.media.AUDIO_BECOMING_NOISY control in Exoplayer ?"
How to implement audio focus and audio becoming noisy in Exoplayer, which used only for streaming Audio ?

[2017-01-24 07:08] bbincybbaby commented on #755
@ojw28 can u explain it using code ?

[2017-01-24 09:02] github8866 opened #2368 "exoplayer-r2.1.1 error with shoutcast stream (Unable to connect to)"
Hello,
I have this problem :
Exoplayer-r2.1.1 with eclipse cant play shoutcast stream url while icecast server url work well
the return err:
01-24 11:46:57.508: E/ExoPlayerImplInternal(18585): com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to http://radio.108.pl:8004/;stream/1

full error log:

01-24 11:57:24.238: E/ExoPlayerImplInternal(20813): So

[2017-01-24 09:09] andrewlewis commented on #755
@bbincybbaby Since ae0ac55 we support re-setting the stream type at any time. If you're using SimpleExoPlayer, call [SimpleExoPlayer.setAudioStreamType](https://github.com/google/ExoPlayer/blob/270f68a/library/src/main/java/com/google/android/exoplayer2/SimpleExoPlayer.java#L300) passing in the `C.STREAM_TYPE_*` constant you want to use.

[2017-01-24 09:14] andrewlewis commented on #2368
The relevant error is `java.net.ProtocolException: Unexpected status line: ICY 200 OK`. See #890 and #1211. We don't directly support ICY but you can try using the [okhttp extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/okhttp).

[2017-01-24 09:14] #2368 closed, assigned to nobody

[2017-01-24 09:14] edgars-supe opened #2369 "Video jumps back when switching sources for the same media"
[bugreport-NPF26K-2017-01-24-11-02-28.zip](https://github.com/google/ExoPlayer/files/726271/bugreport-NPF26K-2017-01-24-11-02-28.zip)
Hello!
We've encountered an issue, wherein upon switching to a different media source, the player jumps back to the position of the last seekTo(). E.g., I'm watching a movie, skip 30 seconds ahead, after a while I decide to change the language, have to change stream

[2017-01-24 09:27] Natarajan92 commented on #2362
Hi ojw28,

As you marked it as enhancement , the updated version of Exo-Player will support embedded CEA-608 captions of video in Dash Streaming ?

According to Dash-IF-IOP document, we use to signal the CEA-608  in manifest file as follows

[code]

Will it display CC by using updated version of Exo-Player ?

[2017-01-24 10:17] erenbakac opened #2370 "Wrapped License"
Hi,

The license   we need to play contents comes within JSON format to my app. So i need to customize DefaultDrmSessionManager to handle json format. Is there any alternative way of handling license in a json response.

Shaka Player can cope with this situation .

https://github.com/google/shaka-player/blob/master/docs/tutorials/license-wrapping.md#wrapping-license-responses

[2017-01-24 10:46] ojw28 commented on #2370
You should implement your own `MediaDrmCallback` instead, which is one of the arguments passed when creating your `DefaultDrmSessionManager` instance. There are multiple ways in which you can implement the details. One option would be to do something like:

[code]

[2017-01-24 10:50] ojw28 commented on #2367
Handling of audio focus is pretty much independent of the player, as far as I know. You listen to the broadcast, and then call whatever methods you want to change the state of the player (e.g. pausing it, stopping it, or whatever logic you require) when a broadcast event is received.

This is exactly the same as what you'd do if you were using MediaPlayer or any other third party player, also, so

[2017-01-24 10:50] #2367 closed, assigned to nobody

[2017-01-24 10:54] ojw28 commented on #2362
That's the intention, yes. We're not promising to add support, but it's something we're actively looking at. This issue will be used to track any work in this area. If we do add support, it's likely that we will require the Accessibility element to be present in the AdaptationSet for CEA-608 to be enabled. It sounds like you're already adding it.

It would be preferable, although likely not requir

[2017-01-24 10:55] ojw28 commented on #2362
Specifically, the most useful thing for the client would be if you used values of the form:
[code]

[2017-01-24 11:13] Faved commented on #2009
Hi All,

I am just posting to see if there has been any further developments regarding this issue. I know wvpaf mentioned that there has been some "fixes" and how they will be applied is not known.

has anyone heard anything?

Many thanks

[2017-01-24 11:24] SteUK opened #2371 "Support seamless (non-immediate) switching between DASH adaptation sets"
Question!

I am using v 2.x releasve-v2.

Is there a flag I am missing that might allow seamless/no-break playback when changing adaptation set (using the method... trackselector -> setSelectionOverride).  Granted it would continue to play out the what has already been buffered before switching to the new data stream...

If not, is it even feasible?  I have been looking in reselectTracksInternal()

[2017-01-24 11:43] erenbakac commented on #2370
Thank you..

[2017-01-24 11:43] #2370 closed, assigned to nobody

[2017-01-24 12:44] github8866 commented on #2368
Thank you for fast reply,
I will check links you provided and I will update here

Regards

[2017-01-24 12:48] eneim commented on #2356
@ojw28 let me close this, as I could not give necessary info for now.

[2017-01-24 12:48] #2356 closed, assigned to nobody

[2017-01-24 15:18] ojw28 commented on #2371
This is not currently supported.

[2017-01-24 15:21] ojw28 commented on #2371
Out of interest, what's the actual use case for this? If the user is manually changing what they're trying to view via some UI, then it's in my opinion quite confusing for the actual switch to be delayed. If you're performing some kind of automatic adaptation, is the content in the two adaptation sets the same or different, and why is the switch necessary?

[2017-01-24 18:06] SteUK commented on #2371
It is for a VR application where it is felt user immersion is being stopped by the pause in (mainly) audio and visual.  In our case, think of each adaptation set as a scene camera.

Current thinking is that a delayed switch with continuation would be acceptable to the user as long as they are informed about the delay.  I am keen to go poking around to see if I can make ExoPlayer achieve this...if

[2017-01-24 20:45] #2355 closed, assigned to AquilesCanta

[2017-01-25 09:31] peddisri commented on #2096
I think we can just avoid setting the Max values when RESOLUTION field is missing. Platform decoders will allocate memory for the maximum supported resolution by default.

It's a trade off if the content provider has not set the RESOLUTION. To guarantee optimal memory usage, RESOLUTION must be provided, I agree.

[2017-01-25 09:40] replystreamingwidevine commented on #2334
Any news on this topic?
Many thanks in advance

[2017-01-25 09:48] Shyri commented on #2009
Hi again @wvpaf we are still facing this issue and it's blocking us very hard. It seems OEM hasn't release the fix yet... We are running all options here and it would be very useful for us if you can tell what the fix consists of. I mean what was the bug about and how did they fix it.

Thank you very much

[2017-01-25 11:17] ojw28 commented on #2096
I don't think that's correct. As I understand it decoders operate in two modes. Decoders that operate in "legacy" mode they allocate for (width,height) or (maxWidth,maxHeight) if specified, and playback *will* fail if those dimension are exceeded. This is why it's not valid to avoid setting the max values in such cases. Decoders that operate in "non-legacy" mode are able to dynamically re-allocate

[2017-01-25 12:02] erenbakac opened #2373 "Failed to handle key response: DRM vendor-defined error: -2952"
Hi,

I need some help. I am currently trying to  add  playing offline content   feature to my app. I get "**android.media.MediaDrm$MediaDrmStateException: Failed to handle key response: DRM vendor-defined error: -2952**" error while i am downloading the manifest
 using the code below .

HttpDataSource.Factory httpDataSourceFactory=buildHttpDataSourceFactory(mUserAgent,BANDWIDTH_METER);

HttpMediaD

[2017-01-25 12:40] ojw28 commented on #2373
Please provide the information requested in the issue template if you want us to look at this. We cannot investigate problems of this kind without complete information, including a full bug report (instructions on how to obtain one are in the issue template you clicked through when filing this issue).

[2017-01-25 12:49] barbarosalp commented on #2373
What is the error code -2952 for?

[2017-01-25 13:26] erenbakac commented on #2373
I uploaded bugreport.

[bugreport_offline.txt](https://github.com/google/ExoPlayer/files/729773/bugreport_offline.txt)

[2017-01-25 13:48] mlondon1 commented on #2009
Did you try using Level 3 security?

[2017-01-25 14:03] Duna opened #2374 "VP9 codec support NEON error"
I get You must enable NEON instructions error.
How should i do to avoid this?

[2017-01-25 14:12] superbderrick commented on #2211
see this repo.
https://github.com/googlevr/gvr-android-sdk
they provide similar component with exoplayer (sdk-simplevideowidget).

[2017-01-25 14:21] ojw28 commented on #2374
Did you look at this (top result for this error + VP9 on Google): https://groups.google.com/a/webmproject.org/forum/#!topic/codec-devel/B0UQTGK-4dc

[2017-01-25 14:31] permenko opened #2375 "Audio playing with interference (mp3, hls)"
- A description of the issue:

Audio playing with interference

- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.

put http://78.140.209.5:1935/muzis/_definst_/mp3:evx/hov/y0k/evxhovy0ki5w.mp3/playlist.m3u8 to HLS samples. play any from hls

- A link to content that reproduces the issue:

http://78.140.209.5:1935/muzis/_definst_/mp3:evx/hov/y0k/evxhovy0ki5w.m

[2017-01-25 14:39] ojw28 commented on #2375
The stream plays back with exactly the same interference in VLC as well, so I think this is likely to be an issue with the content.

[2017-01-25 14:39] #2375 closed, assigned to nobody

[2017-01-25 14:46] permenko commented on #2375
@ojw28 working well at https://developer.jwplayer.com/tools/stream-tester/ (Render Mode: Flash)
same stream working well on ios too

[2017-01-25 14:48] ojw28 commented on #2375
A 50% success rate doesn't exactly confirm the media is correct. Two players that do not share common code, failing in the same way, where they do not fail for other streams of the same type, still implies the media is more likely or not at fault.

The stream is now broken (times out), so we're unable to test further. If it can be made to work reliably then we may do a small amount of additional i

[2017-01-25 14:54] Shyri commented on #2009
Hi @mlondon1

Maybe I am wrong, but I think the devices don't really need to support level 3 if they already provide level 1.
Trying to force to level 3 on all devices listed on top (ones with exynos) will lead to this exception

[code]

also, according to this link http://www.programering.com/a/MDO1EjNwATQ.html L3 should be provided by the manufacturer, it makes sense not to provide L3 is they al

[2017-01-25 14:57] techguy2 opened #2376 "Video and audio keeps buffering on Android 5.1 and on Samsung Note video freezes but audio keeps playing only when Widevine DRM is used"
While Playing Widevine DRM protected video we are facing issue playing on Android 5.1. Video is playing fine on Android 7 and above.  We have tested with different Streaming Server to eliminate any issues with encoding. Same source file plays well on all version when DRM is not used. I have create a demo apk if you would to test on your device. Kindly share email address to provide the same.

Belo

[2017-01-25 14:59] ojw28 commented on #2009
As far as I know it should always be possible to force to L3, and L3 does not require manufacturer specific integration work. There were some ExoPlayer releases that didn't handle L3 provisioning correctly, but it should work with the latest 1.x and 2.x releases.

[2017-01-25 15:16] ojw28 commented on #2308
Duplicate of #1845.

[2017-01-25 15:16] #2308 closed, assigned to nobody

[2017-01-25 15:19] ojw28 commented on #2342
As above, I think you should implement this kind of thing in your own UI above the player. The timeline represents the structure of the media being played. Faking the structure of the media just because the default UI components use it isn't the right solution.

[2017-01-25 15:19] #2342 closed, assigned to nobody

[2017-01-25 15:29] ojw28 commented on #2336
Yes, it would cause re-buffering.

There's no trivial way to enable this, but you can do what you want with a bit of work:

- If you look at what the demo app does when it creates its `DefaultTrackSelector` instance, it passes an `AdaptiveVideoTrackSelection.Factory` as an argument to the constructor. Once the set of tracks has been chosen by the selector, it invokes this factory to build a `Track

[2017-01-25 15:29] #2336 closed, assigned to nobody

[2017-01-25 15:30] #2313 closed, assigned to nobody

[2017-01-25 15:32] ojw28 commented on #2282
We don't have plans to support FF/RW, no. We may decided to implement it for HLS/DASH specifically in the case that trick play streams are provided in the playlist/manifest, but we don't have any immediate plans.

[2017-01-25 15:32] #2282 closed, assigned to nobody

[2017-01-25 15:33] ojw28 commented on #2284
I'm planning to close this next week unless further clarification is provided.

[2017-01-25 15:36] ojw28 commented on #1864
Closing due to inactivity.

[2017-01-25 15:36] #1864 closed, assigned to wvpaf

[2017-01-25 15:58] mlondon1 commented on #2009
We worked around some of these Samsung CDM issues by using L3 security in Exoplayer 2.x with success on many Android devices.  We were having some device specific issues like you have above that were resolved by going this route.  Without it, we would be stuck as well.

[2017-01-25 15:59] Duna commented on #2374
Did your suggestion:
[code]
./generate_libvpx_android_configs.sh "${NDK_PATH}"
And get the same error:
[code]

[2017-01-25 16:21] Duna commented on #2339
Same error here: You must enable NEON instructions

[2017-01-25 17:15] wvpaf commented on #2334
@replystreamingwidevine please provide full bugreport, logcat, and a link to working and non working content.

thanks,

[2017-01-25 17:23] ojw28 commented on #2374
Duping to #2339

[2017-01-25 17:23] #2374 closed, assigned to nobody

[2017-01-25 17:24] ojw28 commented on #2339
Ping @vigneshvg ; Thanks.

[2017-01-25 19:28] vigneshvg commented on #2339
Yep, little swamped at the moment. This is in my radar. Will look into it shortly.

[2017-01-25 20:13] ojw28 commented on #2093
The change above makes V2 behave in the same way as V1 does. Which isn't ideal, as noted in my Nov 29th update to this issue above. It does at least remove any reason to not update from V1 to V2, since there is no longer anything that could be considered a regression here.

I'll go ahead and close this. Please give it a try on the dev-v2 branch. We're planning to cut a 2.2.0 release containing thi

[2017-01-25 20:13] #2093 closed, assigned to nobody

[2017-01-25 20:14] ojw28 commented on #2096
The change above sets the maximum resolution to something sensible when the variant resolutions are unknown. Please give it a try on the dev-v2 branch. We're planning to cut a 2.2.0 release containing this fix sometime next week.

[2017-01-25 20:14] #2096 closed, assigned to nobody

[2017-01-25 22:04] mopsalarm commented on #1874
I ran into (maybe) this bug myself today with this video: http://vid.pr0gramm.com/2017/01/21/8da9138fe27c1b97.mp4

ffmpeg tells me, that the audio ends at 19.45s, video already at 18.92. With the end of the video stream, exo player freezes and wont play the last half second of audio content. I could track it down to a blocking call in `ConditionVariable.block()` in `ExtractorMediaPeriod.load()`. M

[2017-01-26 00:32] doubleti opened #2377 "Switch video as HLS switch track quality"
Hello!
I want to add several video streams together and render only one of them at a given time. It's mean i have two quality of video with mp4 format, i want switch them as HLS switch quality.
Please help me how to do it ?
Thanks you!

[2017-01-26 10:02] yanivlankry commented on #2313
Hi,

1.    I updated my code to support local assets. I’d like to contribute my
work to the global effort.

2.    I have an abnormal behavior  - I keep getting offlineKey as null.
After digging in the code – I think I missed the part where the
offlineLicenseKeySetId is being updated.
the blockingKeyRequest is setting the offlineLicenseKeySetId to null
(marked in red), this triggers the doLicense t

[2017-01-26 10:52] replystreamingwidevine commented on #2334
Is there a private mail where we can send you the apk and all the information you need?

[2017-01-26 11:05] andrewlewis commented on #2334
@replystreamingwidevine Please send it to dev.exoplayer@gmail.com.

[2017-01-26 11:45] replystreamingwidevine commented on #2334
Info shared by mail. Thanks for the support

[2017-01-26 11:50] AquilesCanta commented on #2377
My suggestion is to try DASH, SS or HLS. If your files are entire presentations (i.e. not chunked), this is not supported. You would have to create your own media source, choose the URL based on available bandwidth, solve ranged requests and splicing, etc. Basically, you need to reinvent adaptive streaming. If you choose to go down this path, have a look at the existing adaptive media sources.

[2017-01-26 11:50] #2377 closed, assigned to nobody

[2017-01-26 12:35] kiall commented on #2284
Apologies, I've been busy with other things (the app is a side project, so finding the time can be hard!)

I'll re-open if the advice above doesn't solve the problem, once I manage to circle back to this issue.

Thanks again!

[2017-01-26 12:35] #2284 closed, assigned to nobody

[2017-01-26 12:42] Yrlec opened #2378 "NullPointerException when creating new SimpleExoPlayer"
For some users of our we're getting NullPointerException when trying to create a new SimpleExoPlayer.

We haven't been able to reproduce it locally but you can see more details here: http://crashes.to/s/c2d534cf144

The method that creates a new instance looks like this:

[code]

[2017-01-26 14:21] yanivlankry commented on #2313
it is working !!!!!

thank you for the guidance.

As I mentioned I added support for local files – how can I contribute my
work ?.

On 26 January 2017 at 12:02, Yaniv Lankry <lankry.yaniv@gmail.com> wrote:

[2017-01-26 17:17] Duna commented on #2339
Configured on OSX and Ubuntu and got the same error

[2017-01-27 02:56] ChernyshovYuriy commented on #2243
Hi.

I am able to reproduce this issue on sample app.
Fork is locating here: https://github.com/ChernyshovYuriy/ExoPlayer/tree/remove_add_video_view
Changes are in:
- PlayerActivity.java
- DefaultLoadControl.java
- player_activity.xml

Here is important precondition. In DefaultLoadControl (for simplicity) DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS is set to **30000** ms, which is completely leg

[2017-01-27 06:37] nzala commented on #1727
hw using @yangwuan55

[2017-01-27 06:48] nzala commented on #1539
@yangwuan55 hw use

[2017-01-27 09:17] tprochazka commented on #1942
If I understand add true as the last parameter of prepare should be enough?
I'm trying it on the latest version commit from dev-2 branch ant there is no change.
I still see one frame from previous video before new start playing.
It is necessary something else?

[2017-01-27 10:02] replystreamingwidevine opened #2380 "DecoderInitializationException for Asus P021"
When we play linear content on Asus P021 device. When we try to play a linear channel with DRM, we got a DecoderInitializationException. Below you can find the snippet of the Exception

More info:
a) The app is able to play successfully the VOD content.
b) And after playing one VOD content, when i retry to play again the linear content, it works correctly.
c) If i switch from foreground to backgro

[2017-01-27 13:05] dmitryLukNs opened #2381 "ArrayIndexOutOfBoundsException in HlsSampleStreamWrapper.finishedReadingChunk"
UPD
Hi guys. Updated issues in accordance with template.
Until recently, all was well.
Perhaps something has changed on the server and player started to give following error.
I have a link on HLS live stream, if I try to start video at this link, the player throws the error.
I use exoplayer v2.1.1.
Device Nexus 5, Android API 23(6.0.1)
This stream without any problems being played back on the IceP

[2017-01-27 13:35] shailesh2208 opened #2382 "How to display closed caption text on video?"
Hi,
I am using Exoplayer to play video that format is either m3u8 or mp4. These video Url is embedded with closed caption text. I want to display closed caption on during video playing.

How can we display closed caption text that is embedded with video url?

[2017-01-27 13:40] AquilesCanta commented on #2381
As requested in the issue template, please send the stream to dev.exoplayer@gmail.com. I suspect that the stream is dynamically adding a new track in the TS(you can easily notice this), though it is quite strange that the iOS player fails in this case. Please give the last release version a try, as there have been many changes. If my theory is correct, it should still fail, but it minimizes the ri

[2017-01-27 13:45] AquilesCanta commented on #2382
Play the URL stream in the demo app. Check whether the text track is being exposed. If so, you can select it from the drop-down list. Have a look at the demo app's code for a precise guide on how to achieve this in your own app.

If the text track is not exposed, then check with other players whether the media is correct. If other players do correctly play the stream, please file a new issue inclu

[2017-01-27 13:45] #2382 closed, assigned to nobody

[2017-01-27 14:04] AquilesCanta commented on #2381
If the new track happens to be SCTE 35 Splicing information, the bug will be fixed in the last release version.

[2017-01-27 16:06] Oleur opened #2383 "Video rendering on Surface"
Hi there!

I am trying to migrate my VR plugin based on ExoPlayer v1 to ExoPlayer v2, but I have an issue with the video rendering on an Android Surface.

I have a SurfaceTexture which represents a screen in a 3D world, but when I create a Surface from this SurfaceTexture (new Surface(surfaceTexture)) and pass it to ExoPlayer in order to render my video nothing appens. This works well with ExoPlay

[2017-01-27 23:22] wvpaf commented on #2334
@replystreamingwidevine, thank you for the logcat but can you please provide the ADB Bugreport. That would have more data.
thanks.

[2017-01-28 04:21] WeiChungChang opened #2384 "[Question] What's the purpose of priorityTaskManager & PriorityDataSource? How could I use it?"
Dear Developers:

What's the purpose of **priorityTaskManager**  & **PriorityDataSource**?

How could I use it?

I happen to see there two classes but it seems that they are not used for now.

Is there anyone know for which purpose it intends?

Thanks in advance!

[2017-01-28 19:32] Yonezpt opened #2385 "Video not resizing in ViewDragHelper when using SurfaceView"
I have been playing with the VDH from this tutorial, the last example where it imitates YouTube's mini player feature: http://flavienlaurent.com/blog/2013/08/28/each-navigation-drawer-hides-a-viewdraghelper/

And trying to implement the Exoplayer r2.1.1 by studying the available demo and the guide here: https://google.github.io/ExoPlayer/guide.html

Everything works perfectly, except when the vide

[2017-01-29 02:11] Yonezpt commented on #2385
And I just found out that if I set a TextureView to the player, the controls become invisible. They are still there and they work if I click on their positions, but the entire control structure is completely invisible. They show up correctly if I don't set anything via setVideoTextureView.

[2017-01-29 15:32] from-unknown opened #2386 "Exoplayer does not play MPEG-DASH + PlayReady contents."
### Description
I tried to play MPEG-DASH + PlayReady (actually it was a common encryption media - playready and widevine modular) contents and found that exoplayer could not play it.

### Reproduce link
Not available now - I will try to create one if needed.
Manifest file is nearly like this.
[Big Buck Bunny](http://demo.cf.castlabs.com/media/bbb_abr/Manifest_new.mpd)

### Device
Nexus player (6.

[2017-01-29 21:40] StuffyEst opened #2387 "Seeking in AES-128 Data Source doesn't work"
Issue is that seeking does not work on default Aes128DataSource (ExoPlayer version exoplayer:r2.1.1)

I looked at default implementation of ExoPlayer Aes128DataSource. It does not support reading from arbitary position. So I implemented my own CustomAes128DataSource that build upon ExoPlayers private Aes128DataSource that has a random access input stream underneath.

Everything works when playback

[2017-01-29 21:52] ojw28 commented on #2387
I'm not really sure what the issue you're facing actually is. `Aes128DataSource` is not part of the public API. It's package private to the HLS package and is not meant for use externally. Seeking specifically for HLS with AES-128 should work fine because the media is segmented into separate files.

Please clarify exactly what you're trying to do and why it's not working.

[2017-01-29 21:56] ojw28 commented on #2383
There's insufficient information provided here for us to efficiently investigate your issue. It sounds most likely to be a bug in application code. Please explain exactly how to reproduce the issue with the demo app, ideally by providing a patch, pull-request or link to a forked version of the demo app that reproduces the issue so that we can see exactly how you're creating and passing the surface

[2017-01-29 22:07] StuffyEst commented on #2387
The problem is that I have to feed in the encryptionKey and encryptionIV manually, because m3u8 file doesn't have #EXT-X-KEY.
So I took the package private Aes128DataSource and provided my own encryptionKey and encryptionIV to handle the decryption.

Everything works until I try to seek inside the SimpleExoPlayerView. The video output turns black, progress bar stops, play/pause button does nothing

[2017-01-29 22:08] ojw28 commented on #2378
I think `getContext()` in your application code (above) is returning `null`. You then end up passing `null` to `newSimpleInstance`, which results in a `NullPointedException` when that context is used during player construction.

I'm not certain when `getContext()` returns a null value, but you can start figuring this out [here](http://stackoverflow.com/questions/18154905/why-is-my-context-in-my-fr

[2017-01-29 22:08] #2378 closed, assigned to nobody

[2017-01-29 22:11] ojw28 commented on #2387
It's not possible to say where the problem is because there's insufficient information provided (including how we can easily reproduce the issue or details of the changes you've made). There are no known issues with regular HLS with AES-128 playbacks. If you're inserting the key/IV and instantiating the source correctly then I wouldn't expect issues with your approach either.

[2017-01-29 22:16] StuffyEst commented on #2387
I could extract the logic to a sample android project and share it privatly, if you had the time to look at it?

[2017-01-29 22:28] ojw28 commented on #2386
Thanks for reporting this. For the sample manifest I'd expect playback to work due to the presence of `cenc:pssh` elements. It shouldn't be necessary to look at the `mspr:pro` elements. According to [Microsoft's doc](https://www.google.co.uk/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjfrffjsujRAhUTOsAKHcbED-oQFggaMAA&url=http%3A%2F%2Fdownload.microsoft.com%2Fdownload%2F7%2F

[2017-01-29 22:32] ojw28 commented on #2387
It's unlikely we'll have time to look into this unless you're able to share a (smallish) patch to the demo app that reproduces the issue, along with sample content to reproduce the problem. It sounds likely to be an application specific issue rather than a problem with ExoPlayer.

I can't think of a reason why you shouldn't share a patch publicly. You can send links to the media to `dev.exoplayer@

[2017-01-29 22:42] ojw28 commented on #2384
If you were making a background service for downloading media, and also wanted to allow streaming of (different) media whilst downloads are in progress, then these components can be used to pause downloads whilst streaming is taking place so that the streaming playback can utilize all of the network. Describing this in detail isn't really possible in a concise way, but we plan to make use of these

[2017-01-29 22:42] #2384 closed, assigned to nobody

[2017-01-29 22:53] StuffyEst commented on #2387
Sent media url-s and very small android sample app to show the issue with default Aes128DataSource to dev.exoplayer@gmail.com
Android Studio 2.3 Beta 3, Android min API 19, compile API 25

[2017-01-29 22:59] ojw28 commented on #2243
It's not a sensible value to use unless you also change some of the other values defined there. By just changing that constant you're saying you want the player to maintain between `15s` (`minBufferUs`) and `30s` (`maxBufferUs`) of buffer, but that you don't want the player to actually start playing unless there's `30s` (`bufferForPlaybackAfterRebufferUs`) of media in the buffer. The player is doi

[2017-01-29 23:07] ojw28 commented on #2387
If you want us to look at this then please provide a small patch to our existing demo app, as opposed to a whole new demo app that we're not familiar with.

[2017-01-29 23:19] ojw28 commented on #2380
Please provide a full bug report. It would be helpful if you could stop filing issues without providing all of the information requested in the issue template. We're really not able to help with these issues without complete information, and having to respond to each one requesting it is not an efficient use of time.

[2017-01-29 23:23] ojw28 commented on #2376
It sounds from the issue description like this was a device specific issue that Samsung resolved in their Android 7 update for Note. If that's the case there's probably not much we can do to help, and you should advise affected users to take the Android 7 update for there device. Have I misunderstood, or does that sound right?

[2017-01-29 23:43] ojw28 commented on #2313
Contributions should be made in the form of pull requests (see [here](https://github.com/google/ExoPlayer/blob/release-v2/CONTRIBUTING.md)). It's unclear exactly what you want to contribute though, since I suspect the changes you made were in your application code rather than in the ExoPlayer library.

[2017-01-30 00:15] StuffyEst commented on #2387
I'm unable to even get the AES128 work in Demo application. I can't find a good place to swap out the DataSource to use. Is there a example to show how to add a custom datasource factory in Demo enviroment?

[2017-01-30 00:17] StuffyEst commented on #2387
I'll ask this in another way. I have a URL that points to .m3u8 with AES128 encryption. I have to provide the encryptionKey and encryptionIv manually. What is the correct approach to do so?

Edit: sent the closest representation that I could do to the demo app in a e-mail containing the patch. But this version throws

[code]

[2017-01-30 01:36] rustyshelf commented on #2316
@ojw28 any idea when this might end up in a production release? I'm new to ExoPlayer so don't really know how your release schedules etc work, but we are hoping to ship this library for the first time in our next app update. Naturally I'd prefer to ship a release version vs a development one.

[2017-01-30 02:01] Yonezpt commented on #2385
So this is becoming even bigger of a nightmare. If I set the textureview before setting the player, the player resize is gone, but the controls are visible

[code]

but if I do the same after setting the player then the player resizes correctly, but all the controls become invisible

[code]

I have no idea what is going on or how to fix this, there is nothing in the internet or in the issue tracke

[2017-01-30 03:19] from-unknown commented on #2386
Thank you for replying and information, now I understand more about this problem.
I checked manifest file and found that there is a no `cenc:pssh` element for PlayReady.

Currently I am using bento4 to make a MPEG-DASH file and generated file only have `mspr:pro` element and no `cenc:pssh` element for PlayReady.
I think bento4 should have a option to generate `cenc:pssh` element.
I'm going to chec

[2017-01-30 05:26] jayachandrak commented on #2358
Hi Team,

Any update on the same?

Thanks

[2017-01-30 05:27] Yonezpt commented on #2385
No one can help?

[2017-01-30 06:54] dmitryLukNs commented on #2381
I sent url on mail, but I think the life time it has already expired.
That's all I can provide
Because now with the video everything is OK the first link comes with audio format mp4a.40.2

[2017-01-30 10:46] Duna opened #2388 "Player freezes when playing dash SD + 2K + 4K"
When playing youtube dash that has SH and UDH the player starts with 640 SH video segments, after a while it switches to 2K and the video freezes at the first frame but the sound continue playing. Trying with extensions VP9 or without and the same result occurred.
Same thing happen when force only to 2K and 4K, when switches to 4K the video freezes and audio continue playing

[2017-01-30 10:48] replystreamingwidevine commented on #2334
Bugreport sent via mail
Thanks

[2017-01-30 11:05] shailesh2208 opened #2389 "How to remove defalut controler and add own controller"
How to remove default media controller and implement own custom media controller with ExoPlayer?

[2017-01-30 11:31] andrewlewis commented on #2347
There is no utility function in ExoPlayer to do this at the moment I'm afraid. It might be possible to provide an alternative mode in ClippingMediaSource that will snap to the start point to a keyframe. That would likely be the most efficient way to do this, as then it won't be necessary to have a separate loading step to find the keyframe. The duration of the period would only be set in the Timel

[2017-01-30 11:32] ojw28 commented on #2389
Please read [this blog post](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a#.bbjreh63z). Beyond that, this is something you'll need to figure out by yourself or seek help about on StackOverflow.

[2017-01-30 11:32] #2389 closed, assigned to nobody

[2017-01-30 11:32] ojw28 commented on #2388
Closing because the report does not include any of the information requested in the issue template. Please provide complete information as requested in the template if you want us to take a look.

[2017-01-30 11:32] #2388 closed, assigned to nobody

[2017-01-30 11:36] ojw28 commented on #2316
We're planning a release for some time this week.

[2017-01-30 11:59] ojw28 commented on #2386
If they don't have an option, you should probably request that they add one (they should probably be including both cenc:pssh and mspr:pro by default as suggested by Microsoft's doc for compatibility with both old and new players.

[2017-01-30 12:21] Duna commented on #2388
D/EventLogger: bandwidth [166.92, 2133554, 1.88, 9083784]
01-30 14:19:30.494 3167-3300/system_process W/System.err: java.io.FileNotFoundException: /sys/devices/system/cpu/cpu1/cpufreq/scaling_cur_freq: open failed: ENOENT (No such file or directory)
01-30 14:19:30.494 3167-3300/system_process W/System.err:     at libcore.io.IoBridge.open(IoBridge.java:456)
01-30 14:19:30.494 3167-3300/system_proce

[2017-01-30 12:27] Duna commented on #2388
- youtube link is (dash extracted from info file): https://www.youtube.com/watch?v=vlDzYIIOYmM
- Demo project used ExoPlayer version: latest release of v2 and v1, tried with and without extensions, .so compiled
- Android 6.0, ARM v7a

[2017-01-30 12:27] Duna commented on #2388
[ 9549.022434@1] codec:H.264 4k2k decoder mem resource 0x28000000 -- 0x2bd00000
<6>[ 9549.030554@1] codec:                   sysinfo: 2560x1440, rate = 0, param = 0x31
<6>[ 9549.041515@1] codec:
<6>[ 9549.041515@1] vh264_4k2k_init
<6>[ 9549.041733@1] codec:H264_4K2K: decinfo: 2560x1440 rate=3600
<6>[ 9549.048531@1] codec:loading firmware vh264_4k2k_mc_single to vdec ram  ok!
<6>[ 9549.056166@2] co

[2017-01-30 13:45] Duna opened #2390 "DASH player failed to switch video quality from SD<->2K<->4k"
The Demo application with my DASH 4K link start to play initially in SD mode and then tries to switch in 2k mode. When switching to 2K the aduio continue to play but the video freezes at the last frame of SD. The video freezes till the end. I used the app without extensions, with extensions I didn't get freeze but very low frame rate.

- DASH extracted from info file of: https://www.youtube.com/wa

[2017-01-30 14:03] Duna commented on #2390
D/EventLogger: bandwidth [166.92, 2133554, 1.88, 9083784]
01-30 14:19:30.494 3167-3300/system_process W/System.err: java.io.FileNotFoundException: /sys/devices/system/cpu/cpu1/cpufreq/scaling_cur_freq: open failed: ENOENT (No such file or directory)
01-30 14:19:30.494 3167-3300/system_process W/System.err: at libcore.io.IoBridge.open(IoBridge.java:456)
01-30 14:19:30.494 3167-3300/system_process W

[2017-01-30 14:04] usmanahmed951 opened #2391 "Two exoplayer simultaneously play issue"
I wanted to play one video in two simpleexoplayersviews in the same activity at the same time using two different exo players and the media source is created using ConcatenatingMediaSource because I wanted to concatenate two or more videos. When i play the video its runs ok on the first time on both players. but when i again play the same concatenatemediasource one player video stop or does not pl

[2017-01-30 14:07] ChernyshovYuriy commented on #2243
Thank you for such detailed clarification, it really helped me.
Still have one concern: Why re-add a view causing re-buffering?

[2017-01-30 14:15] Duna commented on #2390
On Pixel C is working well, is it x264/AVC linux codec issue, or ARM v7 processor issue?

[2017-01-30 14:47] andrewlewis commented on #2391
There are a few existing issues about playing multiple videos at once (e.g. #1286). Please search existing issues before filing a new one.

[2017-01-30 14:47] #2391 closed, assigned to nobody

[2017-01-30 15:22] ojw28 commented on #2390
- I don't think it's realistic to expect the software VP9 extension to be able to decode 2K or 4K in real time (depending on bit-rate), so I think a low frame-rate would be expected.
- When not using the extension I suspect it's a device specific issue, particularly since you say Pixel C is working well. You should report it to whoever provides the Android build on the device (typically the device

[2017-01-30 15:22] ojw28 commented on #2388
Tracked in #2390

[2017-01-30 15:26] ojw28 commented on #2243
Buffering is anything preventing the player from making progress. In the case of switching the view, the player may switch into a buffering state for a very short period of time until the first frame is dequeued from the newly acquired video decoder and rendered to the newly provided surface. There's usually no network re-buffer involved. Note there are other scenarios (apart from swapping the vie

[2017-01-30 15:26] #2243 closed, assigned to nobody

[2017-01-30 15:27] Duna commented on #2390
If we select from the beginning only 4K or 2K sources than the player works flawlessly.
The issue comes in the way the codec is reinitialized in case of video source quality switching.

[2017-01-30 15:28] ojw28 commented on #2390
It's most likely a device specific issue, as per my comment above. Please report it to whoever provides the Android build on the device.

[2017-01-30 15:36] michaelstrigy opened #2392 "exoplayer DASH segment change event too soon."
Hi,

I have a unity 3d VR app that is using exoplayer 2-1-1 project with a small modification to show VR videos on a surface of unity tat exoplayer writes to.

exoplayer gets DASH manifest and changes between formats of it.

my problem is that when exoplayer changes the video source (video format), unity needs to know at exactly that time, but when trying to overload "VideoRendererEventListener"s

[2017-01-30 16:35] ojw28 commented on #1942
Just passing true as the last argument to prepare should be sufficient. You can simulate something equivalent in the demo app by:

1. Changing the third argument to prepare be true in PlayerActivity.
1. Start playback of a piece of media.
1. Toggle device into airplane mode using pull down drawer. Wait for playback to fail.
1. Seek to a different position. Turn airplane mode off using pull down dr

[2017-01-30 17:02] aleian84 commented on #2265
Hi guys,
have you an update on this defect? When it will be released by nVidia?

Thanks!

[2017-01-30 17:07] ojw28 commented on #2265
We're not able to comment on the schedules of device manufacturers. Although according to the internet, the [answer is now](http://www.anandtech.com/show/11080/nvidia-releases-android-70-update-for-2015-shield-tv-adds-amazon-video-app).

[2017-01-30 17:13] #805 closed

[2017-01-30 17:13] #2344 closed, assigned to AquilesCanta

[2017-01-30 17:14] #2369 closed, assigned to AquilesCanta

[2017-01-30 17:46] ChernyshovYuriy commented on #2344
Thanks for fixing this.
Unfortunately, I can not provide any live channels for DASH.
Would be good, if you guys have some Live DASH examples, to test it as well because I am experiencing BehindLiveWindow exception when pause in and resume channel after a wild.

Thanks.

[2017-01-30 18:39] ojw28 commented on #2387
I took a look at this. I think your AES-128 logic is correct and working. It looks like the media (after removing the AES-128 encryption) violates this part of the HLS spec:

Out of the segments that I looked at, only the first one contains the PAT/PMT. This is why seeking to 0 (or anywhere within the first segment, so up to 10s) works, whilst seeking after 10s does not.

If you remove the AES-128

[2017-01-30 18:39] #2387 closed, assigned to nobody

[2017-01-30 19:02] ojw28 commented on #2381
I don't think it's likely to be SCTE-35 given: `length=3; index=3`. This indicates the number of sample queues has changed from 3 to 4. I think I'm right to say that we'd expect 4 queues for this media (audio, video, cea608, id3). Of these id3 is generated up front, video and cea608 are generated together when video is found, and audio is generated when audio is found. So I think the only consiste

[2017-01-30 19:04] ojw28 commented on #2381
Closing on the assumption the theory is correct, since working test content has not been provided.

[2017-01-30 19:04] #2381 closed, assigned to AquilesCanta

[2017-01-30 19:10] StuffyEst commented on #2387
Thank you very much :)
I guess with that being said, the issue is most likely a media one and Exo Player does not have a issue with seeking in AES128 HLS streams.

[2017-01-30 19:54] ojw28 commented on #1474
Fixed for WebVtt segments in: https://github.com/google/ExoPlayer/commit/497651c7b9b70ea4d84568506b88a9c682845fe6. https://github.com/google/ExoPlayer/issues/2025 tracks fixing this issue for other segment types.

[2017-01-30 19:54] #1474 closed

[2017-01-30 20:07] ojw28 commented on #2345
Thanks for the bug report. Does playback work if you simply comment out the `throw e` line [here](https://github.com/google/ExoPlayer/blob/r2.1.1/library/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java#L210)? I'm not really sure there's a better solution to this problem.

If this does allow playback to proceed, we can add a device + decoder specific workaround to suppres

[2017-01-30 20:09] ojw28 commented on #2242
[Internal ref: 34270647]

[2017-01-30 20:15] ojw28 commented on #2392
Could you explain why unity needs this (i.e. what it does with the event)? Thanks!

[2017-01-30 20:19] ojw28 commented on #2189
What format are the subtitles provided in? If they're in a standard subtitle format that we support, you can just use ExoPlayer's built in subtitle support.

[2017-01-30 20:23] ojw28 commented on #2026
Why not? I would expect this approach to work fine.

If the video and background audio have the same duration then you can merge them with MergingMediaSource. If they have different durations then this is not something we support. You could use a separate player instance for the background music.

[2017-01-30 20:43] ojw28 commented on #2385
What API level is the device you're testing on? I *think* `SurfaceView` should work correctly during the drag on Nougat, so one option you have is to use `SurfaceView` on Nougat+ and `TextureView` on earlier API versions. This will at least mean you transition over slowly as more devices get Nougat.

If I remember correctly, there's a workaround you can use on earlier API levels where you obtain t

[2017-01-30 20:44] ojw28 commented on #2385
It might be enough to use `surfaceView.getWidth()` and `surfaceView.getHeight()` for the width and height. Worth a try anyway.

[2017-01-30 20:53] Yonezpt commented on #2385
Ah, I see, so the scaling problem should be an API limitation. Haven't got Nougat yet, running the one just before that (MarshMallow, if I recall correctly). I had already tried the `setFixedSize` suggestion during drag, but the performance degrades a lot, making the dragging experience worse when compared to using TextureView instead.

I guess I'll take up on your other suggestion and target the

[2017-01-30 20:57] ojw28 commented on #2003
In the latest `dev-v2` branch you can set headers directly on the `DefaultHttpDataSourceFactory` that you're building in your code, like:

[code]

This feature will be available in `2.2.0` (scheduled for release this week) and above.

[2017-01-30 20:57] #2003 closed, assigned to nobody

[2017-01-30 20:57] #2241 closed, assigned to nobody

[2017-01-30 20:59] ojw28 commented on #2385
I think it's very unlikely you'll manage to swap the view type just for the drag in a way that's anywhere close to being seamless (i.e. I wouldn't spend too much time, if any, trying). You're best bet is probably TextureView before N and SurfaceView after N, if the `setFixedSize` hack doesn't work well enough.

[2017-01-30 21:00] ojw28 commented on #2341
It probably doesn't make sense to do this, since there are various use cases for which tunneling isn't flexible enough. Let's leave it with the application having to enable it for now.

[2017-01-30 21:00] #2341 closed, assigned to ojw28

[2017-01-30 21:01] Yonezpt commented on #2385
Alright, guess the safest bet, for now, is to target the surface/texture to the API like you said. Thanks a lot for helping out with this!

[2017-01-30 21:01] #2385 closed, assigned to nobody

[2017-01-30 21:02] ojw28 commented on #1983
I think this is a duplicate of #1764 (and should be fixed by the latest Samsung platform update).

[2017-01-30 21:02] #1983 closed, assigned to nobody

[2017-01-30 21:09] ojw28 commented on #2322
It sounds like this metadata is used for ingest/upload, and so I think option (1) (not supporting it) sounds fine. Closing.

[2017-01-30 21:09] #2322 closed, assigned to dcower

[2017-01-30 21:10] ojw28 commented on #2253
A solution for this issue was merged in https://github.com/google/ExoPlayer/pull/2318.

[2017-01-30 21:10] #2253 closed, assigned to nobody

[2017-01-30 21:15] ojw28 commented on #2300
@andrewlewis should be able to provide some high level advice on syncing ExoPlayer instances across devices, although it's not something we support directly and so beyond that is something you'll have to figure out for yourself.

Regarding the content itself:
- I wouldn't class 10Mbit/s as low bit-rate.
- It's slightly unclear whether you're playing MPEG-TS/UDP or an MP4. You'd probably want to be