[2018-06-26 15:37] #4417 closed, assigned to ojw28

[2018-06-26 15:42] ojw28 commented on #4432
Does it work if you call `stop()` and then `release()`?

[2018-06-26 15:44] ojw28 commented on #4419
Yes please :)!

[2018-06-26 15:47] tonihei commented on #4413
We will push a workaround which forces to use Widevine L3 on this device. Though not ideal, it helps to get around this issue.

[2018-06-26 16:06] andrewlewis commented on #2659
Perhaps this device is particularly slow and audio processing can't keep up. Do you see audio underruns in logcat when audio cuts out? You could test out a signed release build to see if that makes a difference (it probably won't make much difference on Oreo, though).

[2018-06-26 16:07] andrewlewis commented on #2659
If you attach a bug report taken just after audio was cutting out we can see if there's anything suspicious there.

[2018-06-26 16:23] jeanvcastro opened #4436 "Subtitle language always set to Unknown"
Subtitle languages ​​are always set to Unknown when running the demo project using other mp4 video sources (I have not tested other formats). When debugging, I noticed that the language is being decoded as "```", probably this is the cause of the problem. The subtitles work perfectly, the Exoplayer was very good in the last ones and this is the only problem that is preventing me from migrating fro

[2018-06-26 16:47] AquilesCanta commented on #4436
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-06-26 16:47] #4436 closed, assigned to AquilesCanta

[2018-06-26 17:12] harini113 commented on #4405
Will update this thread once I try it. Thanks

[2018-06-26 17:23] #4432 closed, assigned to ojw28

[2018-06-26 17:43] jeanimator commented on #4436
Tested in Demo App using this link: http://23.111.172.34:21500/movie/a@a.com.br/zzzz/2201.mp4
Version of ExoPlayer: 2.8.1
Device: Android Emulator with API 27

[2018-06-26 18:06] andrewlewis commented on #4426
Looking at the codec SIGABRT to start with, it looks like it's an issue with the H.264/AVC decoder output buffer size. There is a failing assertion

`frameworks/av/media/libstagefright/foundation/ABuffer.cpp:76 CHECK_LE( offset + size,mCapacity) failed: 3538944 vs. 3456000`

just after this capacity is set for video output buffers:

`ACodec  : [OMX.hisi.video.decoder.avc] Allocating 7 buffers from

[2018-06-26 18:19] andrewlewis commented on #4425
1. ExoPlayer supports playing MP3s gaplessly if they have the required encoder delay/padding metadata stored in iTunes-style ID3 metadata or in a Xing header. In recent versions of ExoPlayer the encoder delay/padding are stripped by ExoPlayer in `TrimmingAudioProcessor`, so we don't rely on the media framework for this. (The media framework does support removing the silent samples via format keys

[2018-06-26 19:14] paf-wv commented on #4329
Hi,
the info provide is the definitions of the settings but not the actual values for those settings which is what we requested.

[2018-06-26 19:30] jrw95 commented on #4329
@paf-wv
Hopefully this will help, apologies for the earlier confusion.

In an example test, the license delivery date was 2018-06-07 03:40:13 UTC
In the Customer Rights Token values for absoluteExpiration and playDuration were as follows:
"absoluteExpiration":"2018-06-07T15:00:00.054Z"
"playDuration":124300

In our rental testing, we set the rental period to the video's duration. On devices other

[2018-06-26 23:42] roundsmapp commented on #2659
I'm not sure I'll be able to produce the bug report so soon, unfortunately. I'm testing the app myself in different smartphones, but the Galaxy S testing is being done by a friend of mine who lives quite far from me. So, in his case, the test is being done without connecting the device to a PC (and he's not an IT guy).

[2018-06-27 04:08] robindanielk commented on #4426
Hi , I dont have the streams live currently , we just play from the files that are locally available.. but its very random ..thats the problem..!! And one more thing is that i took a log of the server from which those media sources are available and found that the time when the audiounderrun occurs , there seems to no log of the server at that  specific time.
Kindly explain  what do you mean by  "

[2018-06-27 04:56] dishantkawatra commented on #867
Hi,

ok i will update you with code how to play a video in next activity with
exoplayer.

Thanks
Dishant Kawatra
Android Developer

On Mon, Jun 25, 2018 at 4:13 PM Sandeep Yohans <notifications@github.com>
wrote:

[2018-06-27 07:06] aarondib opened #4437 "Using ExoPlayer's data sources in android.media.MediaPlayer"
Hi!

In standard MediaPlayer there is no option to change buffer size, so the idea is to use ExoPlayer's data source classes to be used with the android.media.MediaPlayer. It is for live streams mostly.
For example, saving data to a local file or RAM and then set this file/data in `mediaPlayer.setDatasource(fileDescriptior);`
Could you , please, advice the most suitable way for this implementation

[2018-06-27 07:22] andrewlewis commented on #4437
This is more a question about MediaPlayer, but I'll do my best to answer anyway.

It's probably possible to wrap an ExoPlayer `DataSource` in an `android.media.MediaDataSource` and pass that to `setDataSource`, but this is only available from Android M. Also, this isn't going to give you control over the buffer size unless you've implemented the buffer you want to control inside the `DataSource`,

[2018-06-27 07:22] #4437 closed, assigned to andrewlewis

[2018-06-27 07:31] andrewlewis commented on #4426
Based on the logging, the video's resolution is 2000 × 1152 but the video decoder is allocating output buffers that are too small. It's really just a guess, but I wonder whether the resolution given in the container is wrong.

There's not much information to go on here. It could be a device-specific bug in the video decoder, or it could be that the media is bad. We'd probably need to see the strea

[2018-06-27 07:36] andrewlewis commented on #4435
The exception is thrown due to merging a source that has two periods (the two videos being concatenated) with a source that has one period (the single sample containing subtitles).

This looks like a duplicate of #3812. One way to proceed would be to split up the subtitles into two parts, one corresponding to each video in the concatenation.

[2018-06-27 07:36] #4435 closed, assigned to andrewlewis

[2018-06-27 08:20] pi-andrei commented on #3752
Hello. Any update on this?
Can you maybe guide me, which classes I need to edit/create to make it work in some way?

[2018-06-27 08:49] erdemguven commented on #4433
Currently stopping/starting downloads manually while using DownloadService isn't supported. When you call stopDownloads() DownloadService is stopped as well. You need to restart the service to be able to see the notifications.
Even if you manually stop/start downloads, they can be started/stopped again automatically when the requirements are met or not.

[2018-06-27 08:52] #4402 closed, assigned to erdemguven

[2018-06-27 08:53] ChinhQT opened #4438 "Unable to instantiate codec 'OMX.qcom.video.decoder.avc'"
Hi Google,

I often meet this issue. You can't play any videos when having this problem. How to resolve this problem ? Thanks in advance.

06-27 14:55:15.576 5394-8423/app.video E/ACodec: Unable to instantiate codec 'OMX.qcom.video.decoder.avc' with err 0xfffffff4.
    signalError(omxError 0xfffffff4, internalError -12)
06-27 14:55:15.576 5394-8422/app.video E/MediaCodec: Codec reported err 0xffff

[2018-06-27 08:55] andrewlewis commented on #4438
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-06-27 08:55] #4438 closed, assigned to andrewlewis

[2018-06-27 08:56] #4373 closed, assigned to erdemguven

[2018-06-27 08:58] #4296 closed, assigned to erdemguven

[2018-06-27 08:59] andrewlewis commented on #4280
It looks sufficient to investigate though I probably won't get round to it for a while. Thanks for your patience.

[2018-06-27 08:59] #4277 closed, assigned to erdemguven

[2018-06-27 09:49] OfekRegev opened #4439 "ExoPlayerSimpleView updating not on the ui thread and crushing the app"
when the exoplayer is attached to the PlaybackControlView and the player is prepared and ready to play then when I'm calling player.setPlayWhenReady(true) not from the ui thread I get this crush -

        at android.view.ViewRootImpl.checkThread(ViewRootImpl.java:6817)
        at android.view.ViewRootImpl.requestLayout(ViewRootImpl.java:940)
        at android.view.View.requestLayout(View.java:18

[2018-06-27 10:00] andrewlewis commented on #4439
Discussed with @tonihei. We'll look at posting to the main thread for these callbacks. Thanks for reporting this!

[2018-06-27 10:04] robindanielk commented on #4426
Those streams i have are of 1080p but some videos are of different resolution as you have mentioned. Like the same 1080p video appears full screen or with aspect ratio fit. with black bars above and below . Is there a workaround around for this issue and also noticed the same issues on other devices of the STB.!!

[2018-06-27 10:09] AniLabXTeam commented on #4435
@andrewlewis so, there is no any way to merge this files together without sibtitles splitting? Even if duration of each part is known before concatenation (and using ClippingMediaSource) - merge will not work, because concatenating always create more than one peroid?

[2018-06-27 10:16] OfekRegev commented on #4439
I have updated my issue comment. this is happening when using PlaybackControlView, I'm using PlaybackControlView and not SimpleExoPlayerView. I don't know if it's happening on SimpleExoPlayerView either so it's for you to check it out too.
@andrewlewis

[2018-06-27 10:17] andrewlewis commented on #4439
This may actually need to be fixed in a different way (TBD).

Out of interest, would it be feasible for you to move all calls to the player onto your app's main thread? If this is difficult it would be useful to know why. Thanks.

[2018-06-27 10:19] chillsweet opened #4440 "How to create custom PlaybackControlView for VDO and Audio separately"
I implemented a custom exo_playback_control_view and exo_simple_player_view for VDO, It's work fine. Problem is I want to implemented other playback controller which is different from VDO (for other content like Audio).  I would like to know that how I can create another custom playback controller because I try to implemented like exo_playback_control_view_audio but SimleExoplayerView only point t

[2018-06-27 10:23] andrewlewis commented on #4435
Concatenation does always create more than one period. I think splitting the subtitles file is going to be the easiest way to fix this.

[2018-06-27 10:27] AniLabXTeam commented on #4435
@andrewlewis thank you for responce. It can lead to errors if some string from subtitles may show in end of first part and on start of second part? Or i need split this string too for exact timings?

Example. First parts duration 14:00. Subtitles has string that showing from 13:58 to 14:05. But this last five seconds in another period. So i need split it too?

[2018-06-27 10:33] robindanielk commented on #4426
**In the log cat the following take place before audioUnderrun ,**

06-27 15:59:11.617 23889-24964/com.example.ridsys_001.AsterTest I/MediaCodec: MediaCodec::setState == > mCrypto.clear
06-27 15:59:11.620 23889-24964/com.example.ridsys_001.AsterTest I/ACodec: [OMX.google.aac.decoder] Allocating 4 buffers of size 8192 on input port
    [OMX.google.aac.decoder] Allocating 4 buffers of size 32768 on

[2018-06-27 10:36] andrewlewis commented on #4435
Yes. That cue would need to be duplicated at the start of the second section, then the time ranges of the cues would need to be updated.

[2018-06-27 10:48] ojw28 commented on #4419
Thanks! One final question: The device in question here is Fire TV Gen 3, right (Build.MODEL = AFTN)?

Ref: https://developer.amazon.com/docs/fire-tv/identify-amazon-fire-tv-devices.html

[2018-06-27 10:54] murdly commented on #4419
Correct. I put it in the description :)

[2018-06-27 12:32] chetan8378 commented on #4431
Source error.                                                                       com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor, AmrExtractor) could read the stream.at com.

[2018-06-27 12:45] andrewlewis commented on #4431
The container format wasn't recognized. Please provide a link to the file you're trying to play and we can take a look.

[2018-06-27 12:58] OfekRegev commented on #4439
It's exactly what I did. but it's an error prone to do so because of 2 reasons -
1. It's much harder for me to know which method of the player will directly update the view and which not.
2. If I'm forgetting to do so anywhere in my code and it won't be found in the QA(which it's happening from time to time) even 1 call could crash my app.

as I see it it's much easier for you to manage the thread

[2018-06-27 16:53] tonihei commented on #4439
Thanks for the feedback. In the current version, we always require to access the player from one thread only (see [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html) (under "threading model") for a summary of our requirements).

From what you describe it seems your app should be using the main thread to make the call to `setPlayWhenReady`.

And, unf

[2018-06-27 17:23] pstambrecht opened #4443 "Adaptive track selection"
In class **DefaultTrackSelector** is method:

[code]

Why there is ` isSupported(formatSupport, false)` with _false_ ? It does not respect params settings.

[2018-06-27 17:31] ojw28 commented on #4443
Is this in relation to `setExceedRendererCapabilitiesIfNecessary`? The purpose of that parameter is not to completely disable capabilities checks. It's to enable trying to play _something_ in the case all available options are deemed to exceed capabilities, where that _something_ is the lowest quality stream that exceeds capabilities. That does not happen as part of trying to make an adaptive sele

[2018-06-27 17:50] paf-wv commented on #4413
@hongfeih have you been able to play back clear content of the same encode that was WV DRM protected?  Just trying to determine if it is a platform issue that fails on resolution change as @tonihei pointed out.
Also, I have asked for a rep to reach out to Asus for assistance.

[2018-06-27 18:07] pstambrecht commented on #4443
@ojw28 Yes, it is in relation to `setExceedRendererCapabilitiesIfNecessary` So am I right that it's a protection not to play unsupported streams? But when I change it to `true` it works fine. So this protection does not work properly.

[2018-06-27 18:15] ojw28 commented on #4443
The default is `exceedRendererCapabilitiesIfNecessary = true`, so changing it to true wont do anything. The parameter only has an effect if _all_ streams exceed renderer capabilities. In this case, if `exceedRendererCapabilitiesIfNecessary = true`, we'll try and play the lowest quality stream (i.e. the one that exceeds the capabilities by the least amount), in case the device has under-reported wh

[2018-06-27 18:20] pstambrecht commented on #4443
Ok, I understand this. But my question was why there is hardcoded `false`. Without any chance to change it.

[2018-06-27 18:22] pstambrecht commented on #4443
@ojw28 I think javadoc is fine. Maybe it's my fault :)

[2018-06-27 18:39] ojw28 commented on #4443
It could be better ;). I think I've answered the question (i.e. it's working as intended, the flag is used elsewhere). So will close this but endeavor to improve the Javadoc regardless.

[2018-06-27 18:39] #4443 closed, assigned to ojw28

[2018-06-27 18:45] ojw28 commented on #4413
Not sure if this is clear already, but since the output paths are different for non-secure and secure playbacks, I think it's possible for issues around resolution changes to only affect one path or the other (and I think we've seen this on other devices in the past).

[2018-06-28 02:53] robindanielk commented on #4426
"[OMX.hisi.video.decoder.avc] storeMetaDataInBuffers failed w/ err -2147483648"
The above line always appears before the Audio Underrun is triggered..Kindly help me with a workaround!

[2018-06-28 04:47] sandeepyohans commented on #867
Thanks @dishantkawatra, your help is much appreciated!

[2018-06-28 05:08] workspace commented on #4253
@erdemguven I found critical bug related with this issue. If user download more than 65535 files in external memory which is the maximum number of FAT32 format, new downloaded chunks overwrite existed chunks. In my case, the average size of chunk is 55KB, and the size of cache folder is around 3.74GB, 65535 * 55KB.

[2018-06-28 07:55] islor commented on #3752
I'd like to know if there's any way to do this now too (showing preview while seeking), please help. Thanks.

[2018-06-28 07:59] workspace commented on #3775
I tried to replicate this issue with sm-j730(Galaxy J7) which has same problem with sm-t580, however, it is not occured yet. Is there something to help with device before having problem?

[2018-06-28 08:26] andrewlewis commented on #4426
The storeMetaDataInBuffers log line from the media framework is almost certainly unrelated; I've seen this on other devices, and it's indicative of an internal error but there is fallback logic so it doesn't actually cause any failure.

For the codec crash issue, I think this is either a problem with the media (we'd need the stream to verify that), or it could be a bug in this device's decoder (in

[2018-06-28 08:26] #4426 closed, assigned to andrewlewis

[2018-06-28 08:29] andrewlewis commented on #4426
One other thing you might want to try as an experiment: you could try returning false from `MediaCodecUtil.isCodecUsableDecoder` for the codec named "OMX.hisi.video.decoder.avc". This may result in fallback to a working software decoder which doesn't exhibit the same issues. If this works, that suggests that the codec is broken and you should report this to the device manufacturer.

[2018-06-28 09:04] erdemguven commented on #4253
@KiminRyu, thanks for letting us know. It looks like we should definitely support multiple sub cache folders.

[2018-06-28 10:14] #4440 closed, assigned to andrewlewis

[2018-06-28 10:36] AquilesCanta commented on #4436
Hi @jeanimator, for some reason I received an e-mail with the required info but the comment is not available here.

I have looked at the media and the language defined in mdhd, as you point out,  is "```". I checked with MP4Box and it also states

Mediainfo on the other hand, reports English for both tracks. I don't know whether there is another source of information for the language, or it's just

[2018-06-28 12:44] #4390 closed, assigned to AquilesCanta

[2018-06-28 13:29] ThomasWilliamMarsh opened #4445 "exo_buffering is not showing when playWhenReady is false"
Hey guys,

when determining if the buffering logo should show, we have the following condition:

[code]

Why are we checking if playWhenReady is set to true? in the case of the video being paused, and the user scrubs the timeline to another point, the buffering logo is not showing, although it is buffering. Should we not remove this?

[2018-06-28 13:34] ZohaibGhafoor opened #4446 "How to get all downloaded media list ?"
i want to get all media media list in a fragment to play them offline in my app how to get all downloaded  media files ?

[2018-06-28 14:51] ojw28 commented on #4445
Duplicate of #4304

[2018-06-28 14:51] #4445 closed, assigned to ojw28

[2018-06-28 15:40] erdemguven commented on #4446
Currently there is no such a functionality. You need to store what has been downloaded, yourself.  Please see for an example about how to this:
https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DownloadTracker.java
Note, DownloadTracker isn't part of the main library but it's a part of the demo app.

[2018-06-28 16:43] kvillnv commented on #4253
@erdemguven I confirm multiple folders really helps a lot, so far performance and management is a lot better.
@KiminRyu maybe you can look into EXT4 format which supports 4 billion files.

[2018-06-28 16:46] ojw28 commented on #4436
Agreed this is working as intended. The file does include language, but it's hidden under `trak->udta->name`, which is not a normal place for the language, or even for a track name as far as I can tell.

[2018-06-28 22:49] chw0239 opened #4447 "Head orientation update is delayed when using GvrAudioProcessor"
I am using [GvrAudioProcessor](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ext/gvr/GvrAudioProcessor.html) to render a HLS audio stream. In order to update the head orientation, I've used the following code in onNewFrame (I am using GvrView.StereoRenderer):
[code]
It works, except that the head orientation update is delayed about 0.5s.
For example, when I turn the

[2018-06-29 04:38] harini113 commented on #4405
Yes the demo app works but with my app even with changes from 2.8.2 I hear audio but now on video it is just black screen. Iearlier had a routine setDisplay which used sendmessage to set the surface. Now with this apk deprecated, I am not sure how to proceed

Thanks

[2018-06-29 06:38] aarondib opened #4448 "Error on changing to/from some audio tracks after upgrade to Android 8"
### Issue description
After upgrade to official realease of Android 8 on Nvidia Shield TV 2017 switching to/from some audio tracks causes an error. Always worked flawless on all previous Android versions.
All tracks plays through audio passthrough to Pioneer AVR.
For example, switching from AC3 383 kb/s to AC3 484 kb/s audio track finished with error. Switching between AC3 383 kb/s tracks is ok.

[2018-06-29 06:56] Jvheaney opened #4449 "Android React-Native-Video/ExoPlayer "Unrecognized media format" - MP4"
### Issue description
I have react-native-video added to my react-native apps for both iOS and Android. Upon trying to stream video on demand (not livestream) from servers, I run into some issues:

These websites hosting MP4 videos will load fine in ExoPlayer:
[https://d23dyxeqlo5psv.cloudfront.net/big_buck_bunny.mp4](https://d23dyxeqlo5psv.cloudfront.net/big_buck_bunny.mp4)
[https://www.sample-vi

[2018-06-29 07:01] chetan8378 commented on #4431
Hello Andrewlewis,

Please download the video provided with the given link and provide solution for the same

https://drive.google.com/file/d/1sGmrzM1cKYL3lf6-HQ3GtHrvAvWpqap5/view?usp=sharing

when we tried to play this video with our application it shows below mention log cat error.

E/ACodec: [OMX.rk.video_decoder.hevc] storeMetaDataInBuffers failed w/ err -1010
01-01 08:36:29.811 148-542/? E/m

[2018-06-29 08:42] tonihei commented on #4405
That's seems totally unrelated to the OOM error above.

But in general, the deprecated methods should still work. You can try switching to the new `player.createMessage(...).send()` setup. Or if you just want to set the surface, please consider using `SimpleExoPlayer.setVideoSurface` or `.setVideoTextureView` or `.setVideoSurfaceView`.

[2018-06-29 09:00] andrewlewis commented on #4431
Your most recent comment suggests this isn't actually an `UnrecognizedInputFormatException`. If you want us to look into it, please file a new issue and provide all the information requested in the issue template.

[2018-06-29 09:07] chetan8378 opened #4450 "h 265 video not working on exoplayer"
Hello Andrewlewis,

Please download the video provided with the given link and provide solution for the same

https://drive.google.com/file/d/1sGmrzM1cKYL3lf6-HQ3GtHrvAvWpqap5/view?usp=sharing

when we tried to play this video with our application using ExoPlayer it shows below mention log cat error.

E/ACodec: [OMX.rk.video_decoder.hevc] storeMetaDataInBuffers failed w/ err -1010
01-01 08:36:29.8

[2018-06-29 09:26] andrewlewis commented on #4448
- By "switching" do you mean adding a track selection override that disables/re-enables the renderer, or an adaptive switch, or something else?
- If you just play the 484 kb/s track (without switching) does it work?
- Was this a regression after the system update, or did anything else change too (e.g., ExoPlayer version)?
- It would be useful to have a full bug report (`adb bugreport`) and a link

[2018-06-29 09:32] andrewlewis commented on #4449
When I try to access the streams from your server I get a certificate error. Are you using a self-signed certificate? Are you sure the server is configured correctly?

Please provide a bug report captured with `adb bugreport` just after seeing the error.

[2018-06-29 09:37] andrewlewis commented on #4449
When I download the stream from your server and push the file locally it plays fine. If you see an error about the certificate in logcat when trying to play the videos from your server, please read [Security with HTTPS and SSL](https://developer.android.com/training/articles/security-ssl#CommonProblems).

[2018-06-29 10:26] andrewlewis commented on #4447
Please could you try reducing the size of the `AudioTrack`'s buffer, and see if that resolves this? With the default buffer size, the maximum delay could be up to 750 ms. Lower buffer sizes can increase the chance of audio underruns, so you'll need to experiment.

Note: if you have sources checked out you can experiment with this by modifying the buffer size passed to `audioSink.configure` in `Med

[2018-06-29 10:29] Lingviston opened #4451 "ExoPlayer creates fake text track whenever HLS master playlist contains "subtitle" tag but no "closed captions" tag"
### Issue description
Whenever one tries to play an HLS video, which master playlist contains "subtitle" tag but no "closed captions" tag, he'll see an "unknown" or "1/8219" captions entry. Selection of this entry just does nothing, because it is fake. AFAIK ExoPlayer creates it to cover the CC608 captions scenario (see https://github.com/google/ExoPlayer/issues/2651), but it really confuses users

[2018-06-29 10:43] AquilesCanta commented on #4451
I doubt we'll change the default behavior on HLS captions at this point. The bright side is that there are a few things that can be done to prevent the spurious 608 track:

- **Simplest (probably best)**: Add CLOSED-CAPTIONS=NONE to your playlist variants.
- **Pure client-side change**: Implement your own HlsExtractorFactory which instantiates the DefaultTsPayloadReaderFactory by overriding the ca

[2018-06-29 10:43] #4451 closed, assigned to AquilesCanta

[2018-06-29 11:17] hongfeih commented on #4413
@paf-wv we've tried clear contents in exoplayer demo, all worked. And we saw playback of first 10 seconds clear content of that DRM protected stream.
@ojw28 I think you're right, Will try this, but no way to fix it instead of a workaround?

[2018-06-29 11:18] helloseyedjafari opened #4452 "SeekTo does not work in live mp3"
Whenever I try to play a live mp3 using default settings it plays just fine but the TimeBar and `seekTo ` method does not work.

so when I try to rewind to a few seconds ago the player just stops the playback and start buffering and playing right from the live edge again.

I pretty much tried every media source (ConcatinatingMediaSource, ExtractorMediaSource) and every way (creating a simple m3u8

[2018-06-29 12:27] andrewlewis commented on #4452
The short answer is that there is no easy way to get this to work client-side because whenever you reconnect to the server it's going to give the stream starting at the live edge. Even if you store the stream as it loads, so that old data is available, you won't have a time to byte mapping. That would also be needed to make the stream seekable.

If you have control over the stream, you should swit

[2018-06-29 12:27] #4452 closed, assigned to andrewlewis

[2018-06-29 12:33] ojw28 commented on #4410
Closing due to lack of information.

[2018-06-29 12:33] #4410 closed, assigned to tonihei

[2018-06-29 12:57] mrHerintsoaHasina commented on #4168
Hi, I have another problem when using the CastPlayer and you can test it with the cast demo app.
I choose 3 medias. I connect the app to the cast receiver after clicking the cast button in the action bar. I play the first media. When it is finished, the second media is played. When this second is finished, the third starts to be played but the UI shows the second media as played. I think this bug

[2018-06-29 13:42] halil-raso opened #4453 "How to dispaly subtitle"
I am developing a streaming app. I used for this purpose exoplayer2. I am using HLS streaming protocol. I need to show subtitle when streaming my videos. Everything goes well except subtitle. My player doesn't show the sample subtitle. My code is as following:

        uri = Uri.parse(url);
    videoSource = new HlsMediaSource.Factory(DATA_SOURCE_FACTORY).createMediaSource(uri);
    Uri uri1 = Uri

[2018-06-29 13:56] Lingviston commented on #4451
@AquilesCanta Unfortunately the first option is not an option for us.

About the second one: how in this case we can detect the streams, which do have CC608 captions but don't have them declared in HLS manifest?

[2018-06-29 14:06] andrewlewis commented on #4415
The video plays fine for me using a recent version. Could you elaborate on what you mean by the video being stuck? Could you describe what you saw, and what you expected to see?

It would also be useful to have a bug report from the device, captured with `adb bugreport`. Thanks!

[2018-06-29 14:13] Arayldan commented on #4359
I work with @jboisjo. I sent you an email with the bugreport.
Thanks!

[2018-06-29 14:15] dnpawate commented on #4425
Hi andrew,

Thank you for reply

1. each gapless applications in playstore will they use exoplayer or android media framework
2. even though gapless is enabled i see with most of the mp3 files do not skip silence
just not able to figure out, why there are no seamless gapless operations

[2018-06-29 14:24] AquilesCanta commented on #4451
Depends on the media. Does the transport stream signal the presence of closed captions in any way? One  way of doing this is using descriptors.

Without any signaling information, ExoPlayer cannot do much about it in its current state.

[2018-06-29 14:51] andrewlewis commented on #4425
1. They could be using either. I think ExoPlayer and the Android media framework support the same types of gapless metadata. Apps can also do something completely custom, of course.
2. You need to make sure the MP3s are authored with the correct metadata (an ID3 metadata comment or Xing header as mentioned above). If the metadata is present then gapless playback with `ConcatenatingMediaSource` sho

[2018-06-29 14:51] #4425 closed, assigned to andrewlewis

[2018-06-29 15:41] chw0239 commented on #4447
Thank you very much, I have tried modifying the buffer size to the minimum suggested in the code, and the delay was reduced significantly, it is now acceptable.
That's what I have done:
DefaultAudioSink.java
[code]

[2018-06-29 15:43] #4447 closed, assigned to andrewlewis

[2018-06-29 15:43] Lingviston commented on #4451
@AquilesCanta currently I'm interested only in HLS. I believe the only way to signal about the CC there is via some tags in master playlist? Or item playlists.

[2018-06-29 15:43] andrewlewis commented on #4447
Great. There is a greater risk of the audio track underrunning after this change, so please keep an eye out for that. Thanks!

[2018-06-29 16:11] AquilesCanta commented on #4451
I am not sure I understand the question.

You can signal stuff either in the playlists or in the media. Due to ExoPlayer limitations, if you want to use chunkless preparation (recommended), track information needs to be [signaled in the playlist](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.4.2).

If you can only signal it in the media, then you need traditional prep

[2018-06-29 16:31] ojw28 commented on #4398
Closing due to lack of information.

[2018-06-29 16:31] #4398 closed, assigned to tonihei

[2018-06-29 16:45] Lingviston commented on #4451
Ok, so if I use traditional preparation and CC tracks only being signalled in the media will it make ExoPlayer to not add this fake CC track item? Or it'll still be added but I'll have the way to detect it and remove from the list by myself?

[2018-06-29 17:45] Jvheaney commented on #4449
I think you may have hit it right on the nose. I am using self-signed certificates and I do see an error about the certificate in logcat. I'm reading up on the website you linked above and will try those steps for using myself as a CA.

Hopefully that solves it, I'll update with any progress I make; Thanks for the quick response!

[2018-06-29 17:55] Jvheaney commented on #4449
You know, doing some reading about this is actually making me second guess myself. I use LetsEncrypt, which I believe means it's signed by their CA? A lot of posts I am reading seem to suggest that LetsEncrypt should work for this sort of thing.

[2018-06-29 18:57] armanhi opened #4454 "SSL handshake error on cellular network"
### Issue description
We're trying to play a HLS content through https. It works when playing using Wi-FI, but not using a cellular network. It's important to say we're not getting a trust anchor error and I've tested the certificate at https://www.ssllabs.com/ssltest/analyze.html. I'm also sending it in the email.

### Reproduction steps
We just try to play the content using a DefaultDataSourceFa

[2018-06-29 20:01] abubalanandan commented on #4352
Hi,

I'm seeing the same ANR issue on both the release() method of the exoplayer and also the blockingSendMessages of the exoplayer. Am on exoplayer 2.2.0. Seeing that this issue has still not been resolved, is there good reason to update to the latest version and try? Also, any workarounds for this issue? I have attached stack traces for both issues.
[blockingSendMessages.txt](https://github.com/

[2018-06-29 20:04] marcochin opened #4455 "unexpected end of stream"
### Issue description
Getting an unexpected end of stream exception and not sure what the cause is. Have read from a different issue that this is

However, the stack trace is different. Any help would be appreciated!

[code]

### Version of ExoPlayer being used
Exoplayer 2.7.1

### Device(s) and version(s) of Android being used
Android TV Nexus Player 8.0
Android Google Pixel 8.1

[2018-06-29 22:26] ronak2121 commented on #3971
Hi,

So I made a new stream that now ensures the sample rates are always 44100, with the proper HE-AAC codec information and the proper defaultSampleDuration in the moof boxes.

However, Exoplayer still shows YES_NOT_SEAMLESS. Would you be able to help figure out why?

https://d1v9in513d8d86.cloudfront.net/adaptive-tests/master.m3u8

Ronak

[2018-06-30 09:37] aarondib commented on #4448
1. Yes, "switching" means setting specific audio track by setting track selection override.
[code]
2. If just play 448 kb/s right away, then there is error when switching to any other 384 kb/s track.

3. Nothing was changed, but Nvidia Shield TV upgraded to Android 8 (Firmware SW version 7.0.2).

4. Will prepare and send you a bug report and video sample.

[2018-06-30 19:37] paavalan opened #4456 "Exoplayer2 cannot load the VTT subtitles from HLS after SeekProcessed"
I am using Demo exoplayer app from Github . I am trying to play hls video from internet it has vvt subtitles. Video is getting played subtitles showing, but when i forward video then it is not displaying any subtitles.

Version of ExoPlayer being used
2.8.2

[2018-07-01 08:57] vickyponraj commented on #4428
Having the same Problem

[2018-07-01 11:20] a-v-ebrahimi commented on #4428
@vickyponraj
Found solution: add channelID

[2018-07-01 11:20] #4428 closed, assigned to nobody

[2018-07-01 21:52] AndroidDeveloperLB opened #4457 "What should be done if I want to use it inside live wallpaper?"
After all, it doesn't have views...
I want to put it and view it in various scaling methods, but for now I've found out only how to do it with the normal MediaPlayer, and it scales it by stretching, which isn't nice:
https://stackoverflow.com/q/50091878/878126

[2018-07-02 02:47] RubenSaucedo commented on #4453
Hi Halil-raso,

SimpleExoPlayerView has SubtitleView as child.
I have code the following on the demo-ima and it works:

[code]
I'va made some changes on the code based on the following question:
https://github.com/google/ExoPlayer/issues/2256
Take a look of it and also could help you.

[2018-07-02 04:57] chetan8378 commented on #4450
Please give suggestions

[2018-07-02 06:35] chetan8378 commented on #4450
While running on device below marshmellow getting this error

07-02 12:00:19.684 29404-29792/? E/ACodec: [OMX.MTK.VIDEO.DECODER.HEVC] configureCodec returning error 80000000
07-02 12:00:19.684 29404-29791/? E/MediaCodec: Codec reported an error. (omx error 0x80001001, internalError -2147483648)
07-02 12:00:19.685 29404-29443/? E/dalvikvm: Could not find class 'android.media.MediaCodec$CodecExcepti

[2018-07-02 06:41] Caij commented on #4415
the problem you can see I recorded video， You pay attention to the progress bar and screen.

https：//github.com/Caij/OkHttpDownDemo/blob/master/Screenrecorder-2018-06-22-18-11-59-960.mp4
https://github.com/Caij/OkHttpDownDemo/blob /master/Screenrecorder-2018-06-25-09-58-16-601%20-%20%E5%89%AF%E6%9C%AC.mp4

[2018-07-02 06:56] eneim commented on #4457
@AndroidDeveloperLB there is "resize_mode" in the attribute list of PlayerView, can you take a look?

[2018-07-02 07:00] AndroidDeveloperLB commented on #4457
Again, live wallpaper can't have a view. It doesn't even have a layout...

[2018-07-02 07:07] eneim commented on #4457
Ohh sorry I missed the point. I’m not familiar with Wallpaper, what do you use to render the Video? There is callback for Video size, can it be used to change that “render surface” size?

[2018-07-02 07:21] AndroidDeveloperLB commented on #4457
@eneim I don't know. I tried so many things, and all fail (crash or do nothing).
Here's a Github repository to play with, that I've made:
https://github.com/AndroidDeveloperLB/MovieLiveWallpaper

[2018-07-02 07:42] andrewlewis commented on #4457
The `SurfaceHolder` from the `WallpaperService.Engine` can be passed to ExoPlayer using `SimpleExoPlayer.setSurfaceHolder`. To keep the aspect ratio, please try `SimpleExoPlayer.setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING)`. Here's the [documentation](https://developer.android.com/reference/android/media/MediaCodec.html#VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING) for tha

[2018-07-02 07:42] #4457 closed, assigned to andrewlewis

[2018-07-02 07:52] AndroidDeveloperLB commented on #4457
Not all video files have 1:1 aspect ratio. In fact most of them don't.
Why don't the ExoPlayer have aspect ratio functions?
How come it can't support other aspect ratios? I'm confused. It doesn't make sense...

[2018-07-02 08:08] andrewlewis commented on #4457
The limitation is around the pixel aspect ratio, not the video aspect ratio. So the solution outlined above should work fine with a 1280×720 video (with square pixels!) for example, as long as you don't mind it being scaled up to the screen size with the edges cropped off.

[2018-07-02 08:44] ojw28 commented on #4456
Most likely the content is not correctly prepared. We can't do anything to help without having a link to the content that reproduces the issue.

[2018-07-02 08:46] ojw28 commented on #3971
That doesn't really mean anything. The audio renderer always reports that (we should probably change it).

[2018-07-02 08:51] andrewlewis commented on #4455
It looks like the end of the stream is being encountered right at the start of the file. Please could you provide a link to the stream you're trying to play?

[2018-07-02 08:58] andrewlewis commented on #4454
Does this affect all cellular networks, or just a particular network? It could be that the ISP is interfering with the connection.

[2018-07-02 09:05] andrewlewis commented on #4453
It looks like the MIME type in the first code snippet above is wrong (it should be `MimeTypes.TEXT_VTT` as in the second code snippet). Please try changing that and let us know if it's still broken.

[2018-07-02 09:09] andrewlewis commented on #4450
Please could you take a bug report with `adb bugreport` just after reproducing this error and attach it here or email it to `dev.exoplayer@gmail.com` with subject "Issue #4450"? Then we can see if there's any useful logging before the `DecoderInitializationException` is thrown.

[2018-07-02 09:12] andrewlewis commented on #4415
Is this just a case of the player pausing to buffer media, or is there something else going on? As requested in my previous comment, please attach a bug report captured with `adb bugreport`.

[2018-07-02 09:22] andrewlewis commented on #4449
I'd expect it to work fine with Let's Encrypt, but it looks like some "extra" configuration might be required compared to other platforms. Search for "android let's encrypt" or similar and you'll find issues like [this one](https://community.letsencrypt.org/t/lets-encrypt-cert-not-trusted-by-android/58867). Caveat: I'm not sure what the implications of the changes they're suggesting are so please

[2018-07-02 09:36] fusionseek opened #4458 "Abnormal display of the duration while using EXO Player"
Dear Sir/Madam,

I'm writing to inquire about some info regarding the EXO Player.

Our team keeps using EXO Player, which is in **v2.8** now. Recently, some problems have been found out from users' feedback. For some RSS feeds, while using EXO Player to play, the total time duration displayed is much longer than that on other players.

For example, this feed https://s3.castbox.fm/a3/44/b0/8ee87445

[2018-07-02 10:09] AquilesCanta commented on #4451
You'll need to:
1. Wait until a commit gets referenced below this comment and pick up that change.
2. Implement your own HlsExtractorFactory and use it to create your HlsMediaSource.
3. When creating your DefaultTsPayloadReaderFactory, pass an empty list but DO NOT enable FLAG_OVERRIDE_CAPTION_DESCRIPTORS.

This will not generate any 608 tracks, unless there is a closed captions descriptor in the

[2018-07-02 10:22] AndroidDeveloperLB commented on #4457
Pixel aspect ratio? I wasn't aware this even exists. Why would any OEM create one that is not 1:1 ? It would make things weirder otherwise.
Actually now that I think about it, there are many devices that have a horizontal density that's different from the vertical one.
So you mean that on this library, it will have issues with non 1:1 pixel aspect ratio?
I think there are quite a lot of them, no?

[2018-07-02 10:29] andrewlewis commented on #4457
The pixel aspect ratio refers to the video content (not the device screen). I'd be surprised if you need to worry about content with non-square pixels. If you control the content you can just make sure you don't set a non-1:1 pixel aspect ratio when encoding the video.

As noted in the documentation "The content is scaled, maintaining its aspect ratio, the whole surface area is used, content may b

[2018-07-02 10:33] AndroidDeveloperLB commented on #4457
There is even pixel aspect ratio in the video file? That's even weirder...
About the docs, do I have a function to change the scaling type though?
Meaning not just center-crop, as you've written (scale to fill entire view and allow to crop if needed), but others?

[2018-07-02 10:37] andrewlewis commented on #4457
You're limited to stretching and zoom/crop maintaining aspect ratio via the `MediaCodec` scaling modes when using a `Surface` without a layout.

To get more flexibility you'd need to copy from a video decoder output surface to the wallpaper surface using GLES, which is going to be more complicated. It's beyond the scope of this issue tracker to give more detailed guidance on that I'm afraid.

[2018-07-02 12:10] ronak2121 commented on #3971
Can you please change it? If you are sure adaption would be seamless now, then can we make this ticket be the one that fixes the sampling rate and codec reporting as well as adaptive mode?

[2018-07-02 12:23] botaydotcom commented on #4458
Haven't looked at this in details, but I guess the cause is similar to #4071.

[2018-07-02 14:57] BrainCrumbz commented on #3526
@siblum  as it could be helpful for future readers, could you also share links to looping MP4 sample files that are know to be working correctly? (of course, until you keep that AWS space around).

Thanks

[2018-07-02 16:20] tonihei commented on #4458
I can confirm what @botaydotcom already guessed. The file has a variable bitrate but doesn't contain seek headers.

[2018-07-02 16:26] joecizac opened #4459 "Next button to skip all looping videos and play the next MediaSource in a ConcatenatingMediaSource"
Hi,
I have my ConcatenatingMediaSource with looping and non-looping videos.
When I click the next button on a looping video, it moves to the next iteration of the loop and plays the same video again. So I have to press the loop 'n' times to actually move to the next video.
How can I achieve moving to the next MediaSource skipping the LoopingMediaSource

Below is my implementation:
[code]

[2018-07-02 16:51] tonihei commented on #4459
I assume you are using ExoPlayer's UI components and specifically [`PlayerControlView`](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerControlView.java).

Whenever you click next in this control view, the player seeks to the new playlist item. In your case, this is each single loop iteration, and only after that, the next video.

[2018-07-02 17:05] joecizac commented on #4459
Thanks @tonihei for the quick reply and the solution.
I was thinking that in the ConcatenatingMediaSource every source is considered as one whereas here even the subset of the LoopingMediaSource is counted as a source.
Anyways I am going with the second suggestion.
Thanks once again.

[2018-07-02 17:19] dkostyrev opened #4460 "Native crash on Asus Zenfone Go (ZB500KL)"
### Issue description
Exoplayer crashes when playing any video from cache.

### Reproduction steps
* Clone demo repository (https://github.com/google/ExoPlayer/tree/release-v2/demos/main)
* In `DemoApplication.java` replace `buildReadOnlyCacheDataSource` method with following method:
[code]

### Version of ExoPlayer being used
2.8.0, 2.8.1, 2.8.2

### Device(s) and version(s) of Android being used

[2018-07-02 17:33] dkostyrev commented on #4460
Fixed it by blacklisting device from `setOutputSurface` in
#4461

[2018-07-02 18:05] #4459 closed, assigned to tonihei

[2018-07-02 18:08] ojw28 commented on #4460
Did you try adding it to `codecNeedsDummySurfaceWorkaround` instead? It's preferable to use that workaround if it's sufficient.

[2018-07-02 18:08] #4458 closed, assigned to tonihei

[2018-07-02 21:42] christianb commented on #4140
@andrewlewis We could solve the problem. Was an issue on our side. We removed the Ad view too early. That made the Ad breaking before the end. Now everything works fine :)

[2018-07-03 05:17] chetan8378 commented on #4450
Please check attached bug report generated after reproducing this error also I have email the bug report to the given email id.
[BugReports.txt](https://github.com/google/ExoPlayer/files/2157729/BugReports.txt)

[2018-07-03 05:47] halil-raso commented on #4453
Hi @resid9406
Thank you for your help. I tried your code but it did not work either. Also I checked #2256 but for nothing...
what should I do in such case. It is important for me....

[2018-07-03 05:48] halil-raso commented on #4453
Hi @andrewlewis
Thanks for your help. I tried it also but for nothing.

[2018-07-03 06:35] halil-raso commented on #4453
@resid9406 @andrewlewis thank you so much now it is working perfectly.

[2018-07-03 06:35] #4453 closed, assigned to andrewlewis

[2018-07-03 07:33] halil-raso opened #4462 "Asking users questions: showing radio buttons over player"
Hi

I am developing an app that let users to watch videos. some of these videos is exam videos so I need to ask users to answer questions given in radio button, checkbox or text field and displayed over player.
Could anybody help me in
1- Showing such radiobutton and checkbox over player.
2- Get users' selections (what they selected from such checkbox and radiobuttons).

Thanks in advance.

[2018-07-03 07:36] andrewlewis commented on #4450
The logcat in the bug report only contains logging for a few seconds, and doesn't include a `DecoderInitializationException` unfortunately. Could you run `adb logcat`, reproduce the issue then attach the logging?

[2018-07-03 07:43] AndroidDeveloperLB commented on #4457
But the basic, most common ones of ImageView exist here too?
I'm talking about those (all keep aspect ratio) :
center-crop - fits to 100% of the container (the screen in this case), cropping on sides (top&bottom or left&right) when needed. Doesn't stretch anything. This means the content seems fine, but not all of it might be shown.
fit-center - stretch to fit width/height
center-inside - set as o

[2018-07-03 07:57] andrewlewis commented on #4457
Hm, I'm not sure where those options are available. Could you elaborate on where "here" is? I was thinking of `MediaCodec.setVideoScalingMode` which takes either `VIDEO_SCALING_MODE_SCALE_TO_FIT` or `VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING`.

[2018-07-03 07:59] chetan8378 commented on #4450
Please check attached bug report generated after reproducing this error and let me know if you need other details too.
[BugReports.txt](https://github.com/google/ExoPlayer/files/2158205/BugReports.txt)

[2018-07-03 08:02] AndroidDeveloperLB commented on #4457
Here, as in this repository. Of course the terms might be different, but the ideas are the same.
So VIDEO_SCALING_MODE_SCALE_TO_FIT  is fit-center ?
And VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING is center-crop?
What about center-inside ?

[2018-07-03 08:19] tonihei commented on #4462
That's more of a generic Android question. I'd suggest to ask that on StackOverflow or similar sites as this issue tracker is primarily for bugs, feature requests and ExoPlayer-specific questions.

[2018-07-03 08:19] #4462 closed, assigned to tonihei

[2018-07-03 08:25] andrewlewis commented on #4457
As far as I can see, unless you implement your own code for copying to the output surface using GLES you're going to be limited to the two scaling modes defined on `MediaCodec` (as noted above). They're documented [here](https://developer.android.com/reference/android/media/MediaCodec.html#VIDEO_SCALING_MODE_SCALE_TO_FIT).

[2018-07-03 08:29] andrewlewis commented on #4450
Thanks. The underlying issue is probably indicated by "D MtkOmxVdec: Unsupported Video Resolution (1920, 1080), MAX(1280, 736)".

This device is running Android K, and there was no requirement to include any H.265/HEVC decoder in that version (see the [Android K CDD](https://source.android.com/compatibility/4.4/android-4.4-cdd#section-5.1)). Even when the requirement was added in Android L, only A

[2018-07-03 08:29] #4450 closed, assigned to andrewlewis

[2018-07-03 08:38] AndroidDeveloperLB commented on #4457
Docs show as if those are the only scaling types. Which is the default?
I think you should consider other types. There are various video players (on Android and on PC) that offer more...

[2018-07-03 08:40] dkostyrev commented on #4460
Yes, adding device to `codecNeedsDummySurfaceWorkaround` is sufficient. I will update PR

[2018-07-03 08:48] tonihei opened #4463 "Invitation to comment: Player threading model"
The current threading model came up in multiple issues recently and we are considering options to improve the current situation. If someone feels strongly for/against a solution, please let us know.

In particular, if you are using ExoPlayer on a background thread we would be interested why you feel this is needed.

----

**Background**

The current player threading model requires that the player

[2018-07-03 08:48] andrewlewis commented on #4457
I think it stretches by default. The vast majority of apps can use ExoPlayer's `AspectRatioFrameLayout` which has more modes. The options are more limited in this specific case because you can't use a layout when implementing a live wallpaper.

[2018-07-03 08:55] AndroidDeveloperLB commented on #4457
That's too bad. Can you please consider adding them somehow, in a more general form?
The AspectRatioFrameLayout can use the general form.

[2018-07-03 09:04] andrewlewis commented on #4457
We will consider it, though it's unlikely to help you any time soon because it would probably require a change in the platform media framework.

[2018-07-03 09:24] AndroidDeveloperLB opened #4464 "Request: provide various video scaling types, even without being attached to a View"
As the title says...

[2018-07-03 09:24] AndroidDeveloperLB commented on #4457
ok thanks, and to make it more official, here's this request:
https://github.com/google/ExoPlayer/issues/4464

[2018-07-03 09:28] joecizac opened #4465 "SimpleCache: get download percentage against an URL and resume if not fully downloaded"
Hi,
I have cached videos using CacheDataSourceFactory.
Now I want to check whether the video was downloaded completely and also resume or restart the download if not completed.
How can I go about it? Please help me with this.

[2018-07-03 09:38] ojw28 commented on #4464
I don't think we're going to support this. It's a very specific use case (as an aside, playing video in a live wallpaper doesn't sound like a great idea from a battery drain perspective).

More importantly, there's no way we can easily support this without underlying platform support, and if the underlying platform support were there we'd have support "for free". So what you really need is `MediaC

[2018-07-03 09:38] #4464 closed, assigned to andrewlewis

[2018-07-03 09:41] tonihei commented on #4465
For a general guide to downloading content, I'd recommend reading [this blog post](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95).

If you downloaded data on the fly with a CacheDataSource, you should be able to query the status with `CacheUtil.getCached(new DataSpec(uri), cache, cachingCounters)`. And then check `cachingCounters.alreadyCachedBytes` and `cachingCounters.cont

[2018-07-03 09:50] AndroidDeveloperLB commented on #4464
Why close this?
You said you'd consider it ... :(

And why do you think it can't be in a live wallpaper?
Battery drain is the same as watching a video on a normal app, and it should pause when not being shown.
And, as you guys told me, not all scaling types are available in this case, which is why I've requested it here...

[2018-07-03 10:03] joecizac commented on #4465
Hey thanks for the quick reply.
Yup I referred [this](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95) and [this](https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6) to download the stream.
Yes, my cache is segmented and not a raw file cache.
Anyways I will check your solution.

Thanks once again.

[2018-07-03 10:28] ojw28 commented on #4464
Because you need this implemented in the platform, not in ExoPlayer. As above, your request is equivalent to requesting additional scaling mode functionality for `MediaCodec.setVideoScalingMode`, which is not an ExoPlayer component. So you need to file an issue on the Android issue tracker.

[2018-07-03 11:23] AndroidDeveloperLB commented on #4464
You mean this:
https://developer.android.com/reference/android/media/MediaPlayer.html#setVideoScalingMode(int)
?
Isn't there any workaround for ExoPlayer around this?

[2018-07-03 11:26] AndroidDeveloperLB commented on #4464
Anyway, here's the request:
https://issuetracker.google.com/issues/111096412

Please do consider adding it.

[2018-07-03 11:37] #2395 closed, assigned to marcbaechinger

[2018-07-03 11:37] #4029 closed, assigned to ojw28

[2018-07-03 11:38] ojw28 commented on #4321
This should be fixed by the change above, although we've yet to acquire test streams that allow us to thoroughly test the change. Please verify.

[2018-07-03 11:38] #4321 closed, assigned to ojw28

[2018-07-03 12:03] markmckenna commented on #4463
We have two use cases for a multithreaded player:
- Prepare playback on multiple streams in parallel, but then only start one of them, so the user got good performance no matter which they selected
- Protect player responsiveness from other developers blocking the main thread. We maintain a library that is integrated into applications controlled by other teams.  This means that app developers who

[2018-07-03 12:11] erdemguven commented on #342
DownloadManager can be used to download whole track to cache. There are some issues with downloading and playing the same content at the same time, like the downloaded data won't be available immediately for playback. Not ideal but I don't think there will be any better solution soon.

[2018-07-03 12:11] #342 closed

[2018-07-03 12:44] tonihei commented on #4463
@markmckenna Thanks for the feedback!

Just some initial thoughts:
 - Preparing multiple players on the same thread shouldn't be an issue because each gets its own playback thread anyway.
 - Keeping the player on a background thread to prevent interference from other sources sounds interesting. I suspect it's not strictly needed because all operations performed on the player are non-blocking and t

[2018-07-03 12:50] robindanielk commented on #4426
Hi , i tried the returning false for the codec and the player stuttered and crashed. And also i noted this behaviour of log before the app crashes and i am not able to catch the uncaught exception...Any guesses!!

Noticed AudioUndertrack and releasingBuffers() and finally crashed!
[1.txt](https://github.com/google/ExoPlayer/files/2159342/1.txt)

[2018-07-03 14:10] markmckenna commented on #4463
@tonihei all good points, thank you :)
* True that preparing several players on the same thread isn't really an issue.  That's something we can consider doing if/when we have to change what we've got.
* Avoiding blocking on main thread between app and library has more to do with our code and plugins, than it does with ExoPlayer directly.  Exo has never been the cause of blocking in my experience (

[2018-07-04 07:11] donny8chen commented on #4406
@tonihei Thanks a lot for your kind help!   this bug has been fixed，But still there are two problems：

Still that same MPG file，There are two problems with playing MPG video:
1、can not seek progess;
2、SimpleExoPlayer.getDuration()，This method returns 1 ;

 I use the Android 6.0 SDK's android.media.MediaExtractor class to read all the track information， each track, The durationUs is **265831733**:

[2018-07-04 08:13] tonihei commented on #4406
What's wrong with the duration? It's about 4 minutes and 25 seconds - the same as shown by the media info software you used above .

[2018-07-04 08:39] donny8chen commented on #4406
@tonihei Thanks a lot for your answers.

The problem is :
 I can get the total seconds  of any kind of video but MPG format with using EXO player .    **I found the exo always return the result  what is C.TIME_UNSET**.    The issue will lead EXO's Seek Function will not work.

Also I can get the real data if I using the android.media.MediaExtractor class under **Android 6.0 SDK.**

So as above des

[2018-07-04 10:13] taimoorMalik opened #4466 "ConcatenatingMediaSource"
Hello, how can i set title of the dynamic ConcatenatingMediaSource ? i can't fine setDisplayName with MediaSource its only available with SimpleMediaSource.
Regards

[2018-07-04 10:40] ojw28 commented on #4406
See [here](http://google.github.io/ExoPlayer/supported-formats.html#standalone-container-formats) for why PS streams are currently not seekable. @botaydotcom is currently looking at determining stream duration + enabling seeking for non-seek-friendly formats, so we might be able to fix this fairly soon.

[2018-07-04 10:57] tonihei commented on #4406
Closing because the bug is solved and I think @ojw28 kindly answered your follow up question.

[2018-07-04 10:57] #4406 closed, assigned to tonihei

[2018-07-04 11:09] tashariko opened #4467 "ConcatinatingMediaSource showing frame of last video on when skipped to next one..."
exoplayer is showin the frame of last video whenever im skipping in exoplayer playlist(ConcatinatingMediaSource). it shows it for sometimes then it shows the frame of second video...

[2018-07-04 11:12] tonihei commented on #4467
When you skip to the next playlist item it takes some time to load the video before we are able to show the first frame. Until then, the previously shown frame is still shown. What would you expect to happen?

[2018-07-04 11:16] tonihei commented on #4466
We do not support setting a title to a media source directly. But each MediaSource has a `tag` you can use to store additional information. For example `new ExtractorMediaSource.Builder(...).setTag(title).build()`. And then you can use `player.getCurrentTag()` to retrieve the title of the currently playing media source.

Aside: There is no such thing as a SimpleMediaSource. Not sure where you got

[2018-07-04 11:23] taimoorMalik commented on #4466
Hello thanks for reply i'm using exoplayer api 2.8.1 and it has SimpleMediaSource and its working fine if i play single video i can set title as well but i need to implement next and previous video functionality so trying to implement ConcatenatingMediaSource its working fine but i can't find a way to display title for each video on toolbar and if get the current tag how will i display it as Video

[2018-07-04 11:26] taimoorMalik commented on #4466
Following is my method which recieves urls and make ConcatenatingMediaSource

`    public void addMedia(String[] url)

    {
        MediaSource mediaSourcee;

        DefaultBandwidthMeter bandwidthMeterA      = new DefaultBandwidthMeter();
        DefaultDataSourceFactory dataSourceFactory = new DefaultDataSourceFactory(VideoViewActivity.this, Util.getUserAgent(VideoViewActivity.this, "demo"), b

[2018-07-04 11:30] tashariko commented on #4467
it should not show the last frame of previous video, i want to show black screen dere...

[2018-07-04 11:34] tashariko commented on #4467
btw...im changing the timeline by seekto() for skipping the video...

[2018-07-04 12:04] tonihei commented on #4466
There is no build-in way to display the title with our UI. I'd suggest asking this question on StackOverflow or similar sites as displaying text is a generic Android question.

[2018-07-04 12:08] tonihei commented on #4467
You could try removing the surface before calling seekTo() and adding it back after the seek. `SimpleExoPlayer` has `set/clearVideoTextureView` and `set/clearVideoSurfaceView` for that.

[2018-07-04 12:25] tashariko commented on #4467
there is clearVideoSurfaceView, dat one?...if i do that, then when to to make it visible again?...or on skipping it will automatically show the video surface for next video?

[2018-07-04 12:36] tonihei commented on #4467
Yes, that one. There is also setVideoSurfaceView to attach the surface to the player again.

[2018-07-04 12:37] tashariko commented on #4467
yeah..i am doing dat..but when to use setVideoSurfaceView? ...so that it will always show frame when next video starts?....

[2018-07-04 12:37] tonihei commented on #2054
Closing as the requested info is now part of the MediaSourceEventListener callbacks.

[2018-07-04 12:37] #2054 closed, assigned to tonihei

[2018-07-04 12:39] tashariko commented on #4467
i tried doing it in playbackstatechanged(), onRenderedFirstFrame(), onTimelineChanged() but not working properly...

[2018-07-04 12:41] tonihei commented on #4467
Could you try adding it back immediately after calling seekTo?
Alternatively, you can try onSeekProcessed.

On Wed, 4 Jul 2018 at 13:39 Puru Chauhan <notifications@github.com> wrote:

[2018-07-04 12:42] tashariko commented on #4467
yeah tried that..its not working..it is still showin the frame...

[2018-07-04 12:47] tashariko commented on #4467
By seekto() im movin to the next timeline...dat is triggering the frame thing...im not going to next video by next button, im goin from this onTimelineChanged() method...

[2018-07-04 12:48] qvk opened #4468 "setOutputSurface workaround needed for some more devices"
### Issue description
We're getting multiple records of `ExoPlaybackException` caused by `IllegalArgumentException` (sometimes `MediaCodec#CodecException`) when `MediaCodec#setOutputSurface` is called as seen in collected stacktraces. These happen when exiting the video activity, so I'm assuming `SimpleExoPlayer` sends a `MSG_SET_SURFACE` when `surfaceDestroyed` is invoked by the system, which eve

[2018-07-04 12:58] tonihei commented on #4467
Well, I tried clearing and adding the surface when pressing the next button and that works fine. I just did something like:
[code]

The `onTimelineChanged` method is totally unrelated to seeking or moving to the next item. You'll usually only get `onPositionDiscontinuity` for the seek and `onSeekProcessed` once the player acknowledged the seek. However, if you want to clear the surface before seek

[2018-07-04 13:25] qvk commented on #4468
Also, I'm not sure if this is feasible or already being done, but is it possible (or even useful) to avoid dispatching/handling `MSG_SET_SURFACE` when `ExoPlayer#release` has been called?

In the lifecycle event `onStop()`, we call `ExoPlayer#release` on the application main thread. `surfaceDestroyed` should also be called sometime around this (although I believe it's timing is not tied to the app

[2018-07-04 13:40] tashariko commented on #4467
i tried with clearVideoSurfaceView(), its not working with dat...any help in that?...i did this only...
` manager.getPlayer().clearVideoSurface()
skipFile(Player.REPEAT_MODE_OFF);
manager.getPlayer().setVideoSurfaceView((SurfaceView) exoPlayerVideoView.getVideoSurfaceView());`

[2018-07-04 13:44] tonihei commented on #4467
The code snippet you show contains a lot of custom app code. Unfortunately, we don't have enough resources to help you debug your app.

But in general this approach looks right and it worked perfectly fine when I tried this.

[2018-07-04 13:50] tashariko commented on #4467
how to use clearVideoTextureView()?...

[2018-07-04 13:50] #4467 closed, assigned to tonihei

[2018-07-04 15:07] basettoni89 opened #4469 "Removing downloads foreground notification shows whene download completed"
**ISSUE DESCRIPTION**

With ExoPlayer demo app I start to download an asset.
During download I kill the app, DownloadService continue working correctly and foreground notification with progress is shown.
When the download is completed the download notification disappear and then a "Removing downloads" foreground notification is shown.

If I try the above steps without killing the the app the "Remo

[2018-07-04 15:16] ojw28 commented on #4468
Addressing your second comment first, since it's easy to tick off:

I'm pretty sure this already happens. Which as an aside, implies that `surfaceDestroyed` is being called before `onStop` in cases where you're seeing this error.

[2018-07-04 15:39] ojw28 commented on #4468
Addressing your first comment:

We recently split the workaround you mention in two: `codecNeedsSetOutputSurfaceWorkaround` and `codecNeedsDummySurfaceSurfaceWorkaround`. It's better to use the latter if that's sufficient to fix the problem, since it still allows for seamless switching of playbacks from one valid surface to another.

Does your app ever switch the surface that it outputs too? If so

[2018-07-04 15:46] ojw28 commented on #4468
Note to self: It was suggested in #3835 that all devices that use MT6737 and MT6753 chipsets may be affected by this issue.

[2018-07-04 15:47] taimoorMalik commented on #4466
Well my question wasn't about how to display a text my question was how can i pass addition video info such as video name to mediaSource rather than only String array of urls.

[2018-07-04 15:48] ojw28 commented on #3835
Let's dupe this onto #4468, which is newer, but provides a more comprehensive list of (possibly) affected devices. We can use that for tracking.

I think we'll also go ahead and make `codecNeedsSetOutputSurfaceWorkaround` and `codecNeedsDummySurfaceSurfaceWorkaround` protected and non-static, as was suggested here.

[2018-07-04 15:48] #3835 closed, assigned to tonihei

[2018-07-04 16:14] tonihei commented on #4466
As I explained above, please you `setTag` and `getCurrentTag` for that.

[2018-07-04 16:16] taimoorMalik commented on #4466
Ok i will try, thanks for your time :)

On Wed, Jul 4, 2018, 9:14 PM tonihei <notifications@github.com> wrote:

[2018-07-04 16:29] tim4dev commented on #4466
Cannot resolve symbol 'Builder' :

`new ExtractorMediaSource.Builder`

@taimoorMalik if you find the answer first, please share it here;)

[2018-07-04 16:30] tonihei commented on #4466
@tim4dev It's actually `Factory` not `Builder`. My bad :(

[2018-07-04 16:51] ojw28 commented on #4468
@qvk - Is it possible for you to add a new column to this data that shows more specific Android build information? I'm not sure what data you have exactly. Build fingerprints (`Build.FINGERPRINT`) would be ideal. They look something like:
[code]
If you don't have that just the build name (`MRA58K`) would be helpful, albeit not to the same extent!

Some of the devices in your list appear to have pa

[2018-07-04 17:37] tim4dev commented on #4466
I'm new to using ExoPlayer. I use the example code for help.

I want to make a playlist of local files (and at the same time show what file name is currently playing). Here's how I do it:

[code]
However, there is no such method
`MediaSource.setTag`

[2018-07-04 18:22] tim4dev opened #4470 "ExoPlayer logo wanted [not a bug]"
Where can I get the ExoPlayer logo for use in `exo_controller:default_artwork`?
Icon `ic_launcher` is too small.

[2018-07-04 21:31] SeanYouI commented on #4404
I found out that the Shaka player demo plays content with L3 security level instead of L1. I thought I could force L3 as a temporary workaround for this since it has fixed some other DRM issues in the past for me but it turns out to not help in this case. Are there any plans to look at this issue or any updates? I haven't found a way to work around this.

[2018-07-05 03:17] taimoorMalik commented on #4466
Hello i were playing and displaying Video text with this code for single video
`  private ExoVideoView videoView;
    SimpleMediaSource mediaSource;
    String path = "file:///storage/emulated/0/Download/Sample.mkv";
    void PlayVideo(String path)
    {
        File file = new File(path);
        String strFileName = file.getName();
        mediaSource = new SimpleMediaSource(path);
        media

[2018-07-05 04:32] islor opened #4472 "Subtitles from single source Dash live stream not showing up"
### Issue description
I'm trying to play a dash live stream video on the demo app. It has video, multi audio and multi subtitles. The problem I'm facing is getting the subtitles to show up.

As I understand, the subtitles should come up on its own (or is there anything I should do for it to show up in the subtitle view?). I've tried side loading subtitles and have no issues with that.

I suspect t

[2018-07-05 05:12] abhishekgarg96 commented on #3872
how can we be able to play a clear key content by giving the key and keyid to the player for a particular source video url.

[2018-07-05 05:35] crossle opened #4473 "The video stuck only playback audio"
ExoPlayer 2.8.1
Device Galaxy s8+ 8.0
this video https://ufile.io/bw922 playback only have audio, the video stuck,only show one frame

[2018-07-05 07:36] noamtamim commented on #4468
@ojw28 I suggest tracking all the devices that need any type of ExoPlayer workaround in a wiki page, here on GitHub. Doesn't have to be a public-edit wiki.

[2018-07-05 07:51] kevleyski commented on #1574
Hi Olly, I’m planning to use xlinks for dynamic live dash ad replacement, can you please let me know where things are at vs period and representation substitution?

[2018-07-05 08:09] ojw28 commented on #1574
We do not support xlinks and have no immediate (i.e. 2018) plans to do so.

[2018-07-05 08:19] ojw28 commented on #4404
@paf-wv - Please take a look at this

[2018-07-05 08:31] tonihei commented on #4466
That looks like custom code around ExoPlayer (and we can't help you debug that).
Please look for the place where `ExtractorMediaSource.Factory` is used and set the tag there.

[2018-07-05 08:31] kevleyski commented on #1574
Ok no worries, plan B

[2018-07-05 09:42] tonihei commented on #4473
That file contains an edit list which crops the video from frame 3 to frame 256. Unfortunately, the key frames needed to decode the video are at frame 0 and frame 250. So what happens is that we play the audio only until we reach the time of the frame 250. And only then start displaying the last 16 frames in the video.

That's a duplicate of #1659. We are unlikely to support that any time soon. If

[2018-07-05 09:42] #4473 closed, assigned to tonihei

[2018-07-05 09:45] mrHerintsoaHasina opened #4474 "Add method getQueueItems() in CastPlayer class [New Feature]"
Hi, it would be useful if the CastPlayer class has a method getQueueItems() as following :

[code]

[2018-07-05 09:51] tonihei commented on #4472
Just checking: To display the subtitles you need to select the text track. If there is no default or forced track, you'd need to specify your selection constrains specifically. Please have look at[ `DefaultTrackSelector`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html) and its [parameters](https://google.github.io/ExoPlayer/d

[2018-07-05 09:53] tonihei commented on #4474
Please have a look at `CastPlayer.getItem(periodId)`. I think that should allow you to query all available queue items.

[2018-07-05 10:06] mrHerintsoaHasina commented on #4474
But how can we get the `periodId` of all the available queue items from the CastPlayer ?

[2018-07-05 10:14] tonihei commented on #4474
You can query the current `timeline` with `castPlayer.getCurrentTimeline()` or listen to updates with a `Player.EventListener` and wait for `onTimelineChanged(...)`.
In this timeline, you'll find as many periods as queue items. Check out `timeline.getPeriodCount()` and `timeline.getPeriod(periodIndex, new Period())`. The latter method gives you a `Period` object with further information about the

[2018-07-05 10:34] qvk commented on #4468
@ojw28 Thanks for the help!

I believe this is present in `dev-v2`; yes indeed that seems like a better way to divide the generic workaround.

No. I guess this means there isn't enough information to use the more targeted `codecNeedsDummySurfaceSurfaceWorkaround`  workaround for these devices.

Sorry, we currently don't have `Build.FINGERPRINT` or build name data. If you believe this information i

[2018-07-05 10:40] mrHerintsoaHasina commented on #4474
Thanks ! It is worked.

[2018-07-05 10:40] #4474 closed, assigned to tonihei

[2018-07-05 11:46] ojw28 commented on #4468
Assuming it's relatively straightforward for you to add this to the data that's being logged, it would be great if you could! Unsure about the build name (by itself), but providing the full fingerprints would be ideal.

Yes, I think doing that would be fine for that use case. Alternatively, it's probably significantly easier for you just to call `release()` on the player from whatever happens firs

[2018-07-05 13:03] giladna opened #4475 "Q- Is there a way to know if device can play HD stream without loading player"

[2018-07-05 13:56] tonihei commented on #4475
You can try instantiating a `MediaCodecRenderer` and then call `renderer.supportsFormat(format)`. And create `format` with one of the `Format.createVideoSampleFormat` methods filling the format data as close as possible to what you would actually get. Note that the return value of `supportsFormat` is a set of [flags.](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/R

[2018-07-05 15:56] ojw28 commented on #4468
Some initial findings:

* It's definitely not the case that all devices with certain chipsets fail. I've found devices that both work and don't work that are based on MT6735, for example.
* I'm not sure how useful `codecNeedsDummySurfaceWorkaround` really is. It seems like devices either (a) work for all cases, or (b) work for cases where the type of texture remains the same, or (c) don't work at

[2018-07-05 17:03] botaydotcom opened #4476 "Support reading stream duration and seeking for MPEG-PS streams."
Split from issue: #4406.

[2018-07-05 18:02] sapanda commented on #2600
Bumping up to see if this is possible yet in ExoPlayer 2.8.2. Thanks!

[2018-07-06 02:32] islor commented on #4472
Hi tonihei, thank you for the response. I've actually already set the preferred language with:
[code]
and the log you mentioned is showing that the correct track is selected:
![screen shot 2018-07-06 at 10 29 09 am](https://user-images.githubusercontent.com/40488504/42356884-9b7b39f6-8107-11e8-82a7-5b4a575970f6.png)

Would the issue be due to the CMFT package?

[2018-07-06 04:12] islor opened #4477 "[Question] Playback is failing on certain DASH streams with TTMLs (taken from DashIF site)"
### Issue description
I've copied the some dash stream urls from the [DashIF](http://reference.dashif.org/dash.js/v2.8.0/samples/dash-if-reference-player/index.html) demo site and put them into the demo app. The stream plays well until I select one of the TTML tracks, then it shows "Playback failed"
What is the issue here? Log shows the inputstream is causing the problem, but why is it playing wel

[2018-07-06 07:39] ssorttang opened #4478 "How to improve network speed(Wifi) when playback?"
Hi,
I try to exoplayer on Gvrf(GearVR Framework).
but, I found some network problem when playback.
Network speed(Wifi) is decreasing when playback(56mb bit rate media).
I also compare to android mediaplayer. but network speed being decrease when using exoplayer..

So, How can I improve this problem?
I used mqtt protocol with node.js server.

And media specification is
format : HEVC
bit rate : 56.0

[2018-07-06 08:09] tonihei commented on #4470
We currently don't have the logo publicly available. But we'll push it to https://github.com/google/ExoPlayer/blob/gh-pages/images/exoplayer-logo.png soon.

[2018-07-06 08:32] tonihei commented on #4472
Well, given that the text track is selected, I'd assume there is no issue reading the data from your media. Would it be possible to share some media where this problem occurs to dev.exoplayer@gmail.com with "Issue #4472" in the subject?

[2018-07-06 09:24] ojw28 commented on #4472
I saw a similar case once where the packager wasn't correctly setting the sample flags in the container. If you want to check this, try attaching a debugger to the point where `output.sampleMetadata` gets called in `FragmentedMp4Extractor`, and check what the value of `sampleFlags` is there. If it's always 0 then your content probably has the same issue. Note: `FragmentedMp4Extractor` instances ar

[2018-07-06 09:36] tonihei commented on #4477
Looks like the initialization chunk of the text track is malformed.
I looked at http://vm2.dashif.org/livesim/testpic_2s/sub_eng/init.mp4 and it has:
 - track_id=1 in moov -> mvex -> trex and
 - track_id=3 in moov -> trak -> tkhd.

ISO 14496-12 says for the track_id in the trex box that _"track_id identifies the track; this shall be the track ID of a track in the Movie Box"_. And for the trex box

[2018-07-06 10:02] drusak opened #4479 "Audio Stops playing after 1-2 seconds"
### Issue description
Some users of the app start complaining on playback problem. Audio stopped playing after 1-2 seconds of init playback. On some devices video working fine, but audio failing.
It started after upgrade ExoPlayer from 2.6.1 to 2.8.2

### Reproduction steps
I tried on my devices and it works fine.
We're using SimpleCache in implementation probably it may lead to such behavior.
So

[2018-07-06 10:03] islor commented on #4472
@tonihei I'm trying to get a sample stream, but most likely will be difficult to get one.

@ojw28 at your suggestion, I've added a log to check if I'll get to see the flag for text samples
`Log.w("TRACKMP4", track.format.sampleMimeType +" "+ sampleFlags);`
From what I saw, only video and audio samples are going through. It doesn't seem like the texts are going through here.
![screen shot 2018-07-0

[2018-07-06 10:22] tonihei commented on #4477
We'll post a workaround for the issue because it's quite easy to do.

For the second stream above, there is actually yet another problem when switching the track selection from an embedded text track to a primary text track. That is a bug in our DashMediaPeriod. Will provide a fix for that too.

[2018-07-06 13:35] #4449 closed, assigned to andrewlewis

[2018-07-06 13:36] ojw28 commented on #4419
Fix merged.

[2018-07-06 13:36] #4419 closed, assigned to ojw28

[2018-07-06 13:50] #4460 closed, assigned to tonihei

[2018-07-06 14:43] tonihei commented on #4479
The state changes in your log look like you are constantly calling `player.setPlayWhenReady(true);` and `player.setPlayWhenReady(false);` in a loop. Can you check where these calls are coming from? I guess that's the reason you are not seeing any progress.

[2018-07-06 14:47] drusak commented on #4479
thank you for the answer! I'll check it out.
Strange thing that on major devices it works pretty well.

[2018-07-06 15:25] tonihei commented on #4472
The issue might also be a duplicate of #4083. We are planning to push a fix for that soon.

[2018-07-06 15:41] tonihei commented on #4478
I'm not entirely sure what you mean by "network speed is decreasing". Do you mean that the file loads slowly? Given the high bitrate I think you need a very fast connection to play that over network.

[2018-07-06 17:21] ojw28 commented on #4472
You might like to see if the content plays using the very latest `dev-v2` branch (i.e. with https://github.com/google/ExoPlayer/commit/2c00be1aa3ee9ca5049ea094d231faa2570352ae, which is the workaround Toni mentions above). Note that if the content does now work, it is a content problem (and you should fix it), even though we now work around it in the player.

[2018-07-06 19:06] davidaronpf commented on #4456
Hello, I have the exact same issue.
The player loads the video and vtt subtitles from the m3u8 list linked in the hls. If I let the video play from the start, all vtt subtitle files are loaded correctly and presented in the video, but if I foward the video or skip some scenes, the subs don't load for that scene, neither for the entire rest of the video.
I too think that my content is not correctly

[2018-07-06 20:25] ojw28 commented on #4456
@davidaronpf -  The EXTINF values in your `por.m3u8` are not correct. In particular it specifies that the first segment is `81.221000` seconds long. Which looks like a stray 8, but even after you delete it I think the durations values are just off generally.

[2018-07-06 20:40] #4080 closed, assigned to ojw28

[2018-07-06 20:57] ojw28 commented on #4198
@paf-wv - Any update from LG? Thanks.

[2018-07-06 20:59] ojw28 commented on #4266
Closing due to lack of follow up.

[2018-07-06 20:59] #4266 closed, assigned to andrewlewis

[2018-07-06 21:00] ojw28 commented on #4354
Closing due to lack of information.

[2018-07-06 21:00] #4354 closed, assigned to andrewlewis

[2018-07-06 21:02] ojw28 commented on #4455
I think this issue probably is

An easy way to check would be to try playing the file locally, or from a different server. In any case, closing due to lack of follow-up information. If you're able to provide a stream that reproduces the issue, please respond here and we'll re-open it.

[2018-07-06 21:02] #4455 closed, assigned to andrewlewis

[2018-07-06 21:06] ojw28 commented on #4454
This doesn't sound like an ExoPlayer issue. The stream provided via email works over both WiFi and cellular for me, so it's likely an issue with the cellular network provider that you're using.

[2018-07-06 21:06] #4454 closed, assigned to andrewlewis

[2018-07-06 21:11] #4317 closed, assigned to tonihei

[2018-07-06 21:11] #4310 closed, assigned to ojw28

[2018-07-06 21:14] #4375 closed, assigned to AquilesCanta

[2018-07-06 21:14] ojw28 commented on #4375
Closing due to lack of clear reproduction steps.

[2018-07-06 21:18] davidaronpf commented on #4456
Hmm, I see. So EXTINF is supposed to just be the duration of the segment in seconds right?
First segment starts at 01:19.177 and ends at 01:21.221. The difference between that is 2.004, so that should be the EXTINF value for it?

Sorry if my questions are dumb, and thanks for the reply.

Edit:
I see that the segment is defined as 81 seconds long because that's the seconds from the start of the mov

[2018-07-06 21:21] ojw28 commented on #4470
Pushed. You should be able to retrieve the logo from the link above.

[2018-07-06 21:21] #4470 closed, assigned to tonihei

[2018-07-06 21:29] ojw28 commented on #4456
The summed total of all EXTINF values up to the start of a segment must equal the playback position at that segment. Note this mean the durations must include any gaps in which no subtitle is visible. I'd suggest you consult the [HLS RFC](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-02), look at [Apple's sample streams](https://developer.apple.com/streaming/examples/), and [other resour

[2018-07-06 21:49] davidaronpf commented on #4456
Now I understand. I'll try to fix the EXTINF then to something easier to deal, by splitting better the vtt parts (like 10 second chunks).
Thank you very much for all your help.

[2018-07-08 03:15] resmi opened #4481 "Inputs in configuring mediacodec from exoplayer application"
I need to configure the video mediacodec using configure() API with a MediaFormat for video, from an exoplayer application. This is to expose a codec control to the user, so that the user can enable/disable a feature that our codec component provides.

I want to use the exoplayer demo app and build upon it. Not seeing a configure API in the default APIs of MediaCodecVideoTrackRenderer.java which r

[2018-07-08 06:30] a-v-ebrahimi opened #4482 "Background playback and notification"
1) To keep audio playback alive in background, I need to start a foreground service or just displaying **PlayerNotificationManager** notification is enough and it puts my service in **whitelist** (see this for whitelist definition https://developer.android.com/about/versions/oreo/background)?
2) If I should start a foreground service, startForeground(id,notification) method needs a Notification. I

[2018-07-08 08:45] oseparovic opened #4483 "[Question] Custom parsing for dynamic dash manifest"
If the MPD I'm using has syntax errors based on the ISO/IEC definition is there a way to correct for it before it is loaded into the DashManifestParser? Can I perhaps supply a custom DashManifestParser?

The MPD I'm attempting to load supplies video+audio adaptations sets but they have the mime type in the id e.g. `id="video"` rather than something like `mimeType="video/mp2t"`. This results in `in

[2018-07-08 11:22] AndroidDeveloperLB opened #4484 "Bug: cannot work together with Android-x ?"
Suppose you take a completely new project on Android Studio canary/beta, that has Android-X instead of the support library.

And you add just these 2 lines of ExoPlayer:

    implementation 'com.google.android.exoplayer:exoplayer-core:2.8.1'
    implementation 'com.google.android.exoplayer:exoplayer-ui:2.8.1'

Then you get an error message as I've reported here:
https://issuetracker.google.com/iss

[2018-07-08 16:03] dzboot02 opened #4485 "Failed to resolve: play-services-ads bug"
On latest Android Studio, this error pops up when syncing gradle for ExoPlayer:

`Failed to resolve: play-services-ads`

It's probably a bug in Android Studio or Gradle plugin.
To solve it, you need to put `google()` first in both repositories lists of the project level gradle. I don't know how to use Github yet, so please fix this.

Thank you

[2018-07-08 19:26] RubenSaucedo commented on #4415
Caji, I have replicated the project and I cannot see what the error is.
Please attach the errors or a bug report to check it so I can take a look on it.

[2018-07-09 00:42] ssorttang commented on #4478
Sorry. My English is not good.
Actually, my application is doing communication with server every time.
So, I always checking network deviation between application and server.
But, Network deviation being increased after added Exoplayer. (eventhough not playback or loading)
I did change media player to Exoplayer. So I want know that problem's reason

[2018-07-09 01:41] Caij commented on #4415
This is user feedback, and I have not found this problem. That is not a network buffer, that is stuck.
So this problem is very difficult to check, only certain phones will have problems.

[2018-07-09 01:42] workspace commented on #4253
@kvillnv Do you have any plan to send PR about sub cache folders? or could you leave some details about your changes in solution? This bug causes a lot of problem for my customers. It will be really helpful. Thank you!

[2018-07-09 03:34] joecizac commented on #4465
Hey thanks it worked.
I misunderstood when you said "only works for simple files which are not chunk-based".
My file that I need to cache is a simple raw file and not chunk-based.
I thought you were referring to the cache which is segmented (not a whole file) when downloaded using CacheDataSourceFactory or DownloadService.

Another extended question is, whether the using  CacheDataSourceFactory an

[2018-07-09 06:24] Nefcanto opened #4486 "Make errors more human readable for debugging purposes"
I have an application that works just fine and plays videos. I copy/pasted ExoPlayer to a new app, of course with different design, different layout resources, different logic, etc., and all of a sudden I get a cryptic message and it fails playing the video.

The same URL would be played nicely on the old app. So whatever the error is, it's related to the new app. But error messages are so cryptic

[2018-07-09 08:05] lucianv opened #4487 "MediaCodec CryptoException: Operation not supported and CodecException when another video is playing in picture-in-picture"
Hi

We have encountered some decryption errors in our app while another video streaming app is running in picture-in-picture mode on Google Pixel 2 phone with Android Oreo 8.1. The application running in picture-in-picture mode is Netflix. Netflix needs Android 8.1 for the picture-in-picture mode feature. The errors can be reproduced using the ExoPlayer demo app version 2.8.2.

### Issue descripti

[2018-07-09 08:32] tonihei commented on #4465
@erdemguven: Can you comment on that?

[2018-07-09 08:44] botaydotcom commented on #4486
Hi @nefcanto,
It seems to me you are trying the app on an emulator? Did you try the old app on the same emulator as well? If possible, can you try to run this on a real device to see if you encounter the same problem?

In any case, in the brief log section you provided, there was no error log from ExoPlayer, so I don't think we can change anything from our error logs here. Both red lines you highl

[2018-07-09 08:46] botaydotcom commented on #4485
Hi @hiddeneyes02,
Thanks for reporting. This is already mentioned in ExoPlayer project's [README](https://github.com/google/ExoPlayer).

[2018-07-09 08:46] #4485 closed, assigned to nobody

[2018-07-09 08:49] botaydotcom commented on #4483
Hi @oseparovic,
Please make use of `DashMediaSource.Factory.setManifestParser()` for this.

[2018-07-09 08:49] #4483 closed, assigned to nobody

[2018-07-09 08:49] tonihei commented on #4478
Are you checking the time difference between app and server? If yes, I don't think that is ExoPlayer related. It's probably an issue in your app with how you measure the difference.

[2018-07-09 09:08] Nefcanto commented on #4486
Yeah, I'm trying to run it on emulator. But the other app also works on emulator and it works fine. I thought those logs are related to your library. Thank you for your feedback and clarification. But however, it would be very helpful if you _wrap the underlying problems and provide more meaningful messages_. That's possible. That's what we do for example for database errors. We wrap it, we get th

[2018-07-09 09:43] islor commented on #4472
Hi all, many thanks for the update and the workaround. I just managed to test the stream with it. Subtitles seem to be showing up fine now. From what I understand in the other thread, the issue is to do with track_id not being set correctly.

Do you foresee other issues coming up if my team decide to continue using this workaround rather than changing the stream?

[2018-07-09 09:47] tonihei commented on #4472
That depends on whether track_ids in other boxes of the stream also don't match and our code assumes they do. We added workarounds for two places where this might happen now, so you should be fine unless there is another case we don't know about yet.

[2018-07-09 09:48] tonihei commented on #4472
Closing because it seems to be solved.

[2018-07-09 09:48] #4472 closed, assigned to tonihei

[2018-07-09 09:54] botaydotcom commented on #4484
I think this is probably a duplicate of #4387. At the moment, the workaround seems to be avoid using the new AndroidX libraries if you need to use ExoPlayer. We will try to migrate to use AndroidX, but I have no idea about the timeline.

[2018-07-09 09:54] #4484 closed, assigned to ojw28

[2018-07-09 09:56] ojw28 commented on #4472
You may run into similar issues when using other players. If not now, perhaps in the future if a player you rely on receives an update that means it starts looking at the track id. ExoPlayer used to ignore track id, and later started looking at track id when we added support for playback of muxed FMP4 non-DASH playbacks. So if you'd been using ExoPlayer then, you would have experienced your conten

[2018-07-09 09:57] islor commented on #4477
The commit seems to have fixed the problem. Thanks!

[2018-07-09 10:02] botaydotcom commented on #4485
Hi @hiddeneyes02,
I think your issue is similar to: #4353. It seems in that case the other reporter found their issue to be resolved after a while, without any action from us. That seemed to be an issue with bintray.
We will monitor this issue to see if it pops up more often and see if we need to take any action.

[2018-07-09 10:05] erdemguven commented on #3682
@xiaoyepadzhang sorry for the late answer. For HLS downloading please see:
https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e

It isn't possible to use adaptive bitrate during download currently.

[2018-07-09 10:13] AndroidDeveloperLB commented on #4484
That's too bad.
Can you please keep this issue open till it gets fixed, then?
Maybe provide 2 branches for now? One for Android-X and one for support library?

[2018-07-09 10:14] botaydotcom commented on #4481
Hi @resmi,
Since you are using `MediaCodecVideoTrackRenderer`, are you using ExoPlayer V1? I think for V1, we are not adding anymore feature, so extending the class and adding this functionality yourself seems to be the correct choice, especially given `MediaCodecVideoTrackRenderer.configureCodec()` is designed as `protected` so that extended classes can add more functionalities as they want.

If

[2018-07-09 10:14] #4481 closed, assigned to nobody

[2018-07-09 10:27] erdemguven commented on #1497
For downloading DASH streams, please see:
https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e

Currently it isn't possible to download partially. Let's use this issue to track the implementation of this feature.

[2018-07-09 11:12] tonihei commented on #4083
Just to let you know: We pushed a workaround for this issue to ignore the track ids if there is only one track.

[2018-07-09 11:19] fpittersacc opened #4488 "NullPointerException when DownloadService is re-started by Android and action is NULL"
### Issue description
When DownloadService is re-launched by Android OS the intent passed on `onStartCommand` is NULL. Then a NPE is raised on DownloadService::230 -> `switch (intentAction) {`

As a temporary workaround you can protect the intent passed to DownloadService extending `onStartCommand` on your version of `DemoDownloadService`.

### Reproduction steps
Using ExoPlayer Demo:
1. Start a d

[2018-07-09 11:29] ojw28 commented on #4486
Not necessarily. It's only possible if the underlying platform provides enough information in whatever error it throws to us, such that we can map it onto something more meaningful. If the underlying platform just throws `IllegalStateException` with no explanation, then there's not much we can really do. It's unclear what error is thrown to us here, or what error we end up propagating to you (i.e.

[2018-07-09 12:09] aarondib commented on #4448
@andrewlewis
1. Do we need to run `adb bugreport` during the issue or right after the issue's happened?
2. Do you need all the files from report or only some specific?

[2018-07-09 13:49] andrewlewis commented on #4448
1. Right after reproducing the issue would be good. Thanks!
2. It would be easiest just to include the whole report, but some specific bits that may be useful are the system logs, kernel logs and dumpsys for the audio flinger.

[2018-07-09 14:27] andrewlewis commented on #4359
Thanks. I've followed up via email.

[2018-07-09 15:35] oseparovic commented on #4483
Great, thank you 👍

[2018-07-09 15:39] asheeshs opened #4489 "HLS audio only live stream, Audio stops playing after first set of chunks and then buffering indefinitely"
### Issue description
When played an HLS audio only live stream (will email the link), audio stops playing after few seconds and  then ExoPlayer goes into buffering state indefinitely with continuous callbacks to onTimelineChanged.
Also seeing a lot of "AudioTrack: Discontinuity detected [expected 6452760, got 528678]" messages in the logs.

### Reproduction steps

- In ExoPlayer demo app  (https:

[2018-07-09 17:49] paf-wv commented on #4198
Unfortunately, no updates.

[2018-07-09 18:02] stellabei commented on #4198
@paf-wv frequently when manufacturers upgrade to a new OS version, they got some kind of DRM problem. This LG G5 is one example, there was also a Motorola Droid Turbo 2 [https://github.com/google/ExoPlayer/issues/2648](url). Is there anything that can be done to improve this process? I know it is hard to manage communication with all the manufacturers, but maybe some kind of certification test nee

[2018-07-09 18:37] paf-wv commented on #4198
@stellabei
Understand about the OEM updates causing issues.
There is a suite of tests that they must pass however, with an open sourced platform things are not always in our control.

[2018-07-09 19:56] ojw28 commented on #4484
I tried to reproduce this using Android Studio 3.3 Canary 2, with everything up to date, and I was not able to reproduce. You should have the following in your `gradle.properties` file, which will automatically convert any libraries you're using that still use the old support library to use `androidx` instead, hence avoiding the compatibility problem:
[code]
There should also be the following in t

[2018-07-09 21:07] AndroidDeveloperLB commented on #4484
Those 2 lines weren't there for some reason.
How come?
Adding them has made it possible to use this sample project I've made.

[2018-07-09 21:14] ojw28 commented on #4484
I think some kinks were (or are) still being ironed out with Android Studio Beta/Canary (they're Beta/Canary for a reason, I guess!). So most likely the lines should have been added, but weren't.

Anyway, it's good to know it works (and to figure out how to deal with this!).

[2018-07-09 21:16] ojw28 commented on #4387
Turns out you can use libraries that use the (old) support library with the (new) androidx libraries. See [here](https://github.com/google/ExoPlayer/issues/4484#issuecomment-403600793) for details.

[2018-07-09 21:37] robl2e commented on #2843
In a related note, is it possible to keep the last frame after an orientation/configuration change? I've been trying to accomplish this but not sure it is possible since a the Surface/Texture view is recreated.

[2018-07-09 22:09] aarondib commented on #4448
@andrewlewis sent you a bug report and two sample videos.

The workaround is to disable audio renderer before switching audio track (settings track selection override) and then enable audio renderer after 100-500ms.
Timeout of 5-50ms could not be enough.

[2018-07-10 06:49] AndroidDeveloperLB commented on #4484
I suggest to put it in the main page or FAQ, or something.

[2018-07-10 07:16] ojw28 commented on #4484
Unless this ever becomes a problem with a stable version of Android Studio, I'm not sure that's necessary. We'll keep an eye on it though.

[2018-07-10 07:59] joecizac opened #4490 "IllegalStateException: Assertions.checkState When using same instance of SimpleCache"
Hi,
I am getting the exception
[code]
 when I'm trying to use the singleton instance of SimpleCache.
[code]

I am checking the cached data for a particular URL.
The below code works perfectly for the first time but following calls to this code throws the exception.
[code]

What am I doing wrong?? Please help.

[2018-07-10 08:06] Nefcanto commented on #4486
That's why I hate android and Google. Develop applications with Microsoft platform, and you understand what I mean. Errors are truly descriptive and guide developers towards solving them. Such a stupid platform Google has created. OK guys, thank you so much for clarification.

[2018-07-10 08:56] islor opened #4491 "Unable to change subtitle font size (Dash stream)"
### Issue description
I've been trying to change the subtitle font size with the following code, but it does not reflect accordingly.
`
      playerView.getSubtitleView().setApplyEmbeddedStyles(false);
      playerView.getSubtitleView().setApplyEmbeddedFontSizes(false);
      playerView.getSubtitleView().setStyle(new CaptionStyleCompat(Color.RED, Color.TRANSPARENT, Color.TRANSPARENT, CaptionStyleC

[2018-07-10 09:06] erdemguven commented on #4490
Probably, you're releasing your singleton instance of SimpleCache (using SimpleCache.release() method) at some point and then try to reuse it. That's why it's throwing that exception.

As you use a singleton, I think you can just remove the call to release(). Otherwise you need to recreate another SimpleCache instance after release() call.

[2018-07-10 09:06] #4490 closed, assigned to erdemguven

[2018-07-10 09:09] joecizac commented on #4490
Oh such a silly mistake.
Thank you so much

[2018-07-10 10:22] bhjortsberg opened #4492 "DASH Live stream stops playing multiperiod manifest"
### Issue description
Playing a DASH Live stream with multiperiods.
The player is stuck and stops playing when there is a new period. Sometimes the player continues after 30-60s and eventually the player also crashes with

[code]

Using an older version of ExoPlayer works fine (2.6.1).

### Reproduction steps
See the provided DASH media presentation

### Link to test content
Unfortunately no link

[2018-07-10 11:17] mkaflowski opened #4493 "seekToDefaultPosition() doesn't work on radio stream when getBackBufferDurationUs is overriden"
When I override getBackBufferDurationUs in DefaultLoadControl and use seekToDefaultPosition() on radio stream it doesn't go to live edge position but it goes to the beginning of buffer. Any seek methods give me the same results.

[2018-07-10 12:36] AquilesCanta commented on #2600
Still on the radar but not on the roadmap yet, unfortunately. Thanks for your patience!

[2018-07-10 13:33] ZohaibGhafoor opened #4494 "How to show Multiple Notifications Download Progress for Multiple Downloads ?"
i am using ExoPlayer demo Download. but when i start multiple download tasks they shows the progress of download in one download notification. So how i can show multiple notification progress for multiple downloads in demo app ?

[2018-07-10 13:37] AntonAFA opened #4495 "RandomTrackSelection"
### Issue description
Just a small question. Is there any need in RandomTrackSelection? I mean what is the use-case you thought about when create this object?

### Version of ExoPlayer being used
exoplayer 2.8.3

[2018-07-10 13:38] ojw28 commented on #4495
It's for testing purposes only.

[2018-07-10 13:38] #4495 closed, assigned to ojw28

[2018-07-10 13:45] erdemguven commented on #4494
From DemoDownloadService.getForegroundNotification() you can return whatever notification you want. This can be a notification for only one of the downloads too. You need to create other notifications manually for the other downloads.

[2018-07-10 13:45] #4494 closed, assigned to erdemguven

[2018-07-10 14:58] drusak commented on #4479
That was a very weird behavior in the app... So it is implementation issue. Thanks for pointing me in the  right direction

[2018-07-10 14:58] #4479 closed, assigned to tonihei

[2018-07-10 19:45] zachmanc opened #4496 "Dropped Frames on DASH Widevine 60fps dynamic MPDs"
### Issue description
DASH dynamic 60 fps widevine encrypted content drops frames when playing back on some devices. The same stream url is able to play successfully using chrome and other Android devices.

### Reproduction steps
Sample project attached to the bug report email. We tried setting the `MediaFormat.KEY_OPERATING_RATE` and that did not help. Default renderers also show the problem

Her

[2018-07-10 21:54] harini113 commented on #4405
I switched to createMessage with the following

PlayerMessage message =
_exoplayer.createMessage(_videoRenderer).setType(C.MSG_SET_SURFACE).setPayload(surface);

and when I play my clip the screen is black and errors out with status
being set to STATE_BUFFERING

On Fri, Jun 29, 2018 at 1:42 AM tonihei <notifications@github.com> wrote:

[2018-07-11 04:38] #4478 closed, assigned to tonihei

[2018-07-11 05:16] ssorttang opened #4497 "How to playback 4K media on Oculus Go?"
Hi,
I try to exoplayer on Gvrf(GearVR Framework).
And I tried playback 4K media.
But, that media wan't playback. I only can saw green screen in the Oculus Go.
I already playback this media which GearVR(Galaxy S8).
So, How can I playback on the Oculus Go?
I also tried using Samsung VR, Skybox Apps. but occurred same issue.

4K media specification is
Format : AVC
bit rate : 80.0mb
Frame rate : 30 FP

[2018-07-11 07:15] ghd3 opened #4498 "How change hls stream source on the fly?"
Hello.
My application use ExoPlayer for hls video playback. Sometimes, my stream source works bad (can throw http error or can have long response time), as result playback can stuck for a short time.

In order to overcome this problem my backend provides several instances of the same stream hosted on the different servers. The structure of those instances (playlists, chunk lists, chunks) are absol

[2018-07-11 07:35] CHNfred opened #4499 "AAC：when play a AAC format file，seekTo method can't be supported"
when play a AAC format file，after call seekTo method，however, play it again！

[2018-07-11 08:34] tonihei commented on #4405
Did you send the message with `message.send()`?

[2018-07-11 09:30] harshmittal2810 opened #4500 "Is this possible to get full duration in ConcatenatingMediaSource"
I have seen so many issues based on this but none of this working for me.
I have added multiple media source in ConcatenatingMediaSource.
When trying to use showmultitimebar also not working.
I want one seekbar for whole playlist and total playlist duration based on ConcatenatingMediaSource data.
Please help out on this.

[2018-07-11 09:35] botaydotcom commented on #4499
Currently we [don't support seeking](https://google.github.io/ExoPlayer/supported-formats.html) for ADTS (AAC), because it's not efficient to do so. We are looking into ways to do this, but unfortunately I can't provide any timeline when this will be done.

[2018-07-11 09:35] #4499 closed, assigned to nobody

[2018-07-11 09:47] AquilesCanta commented on #4489
I think the ID3 timestamps at the start of each segment are wrong. I got the first few:

2293397053
2293403636
2293409635
2293415635
2293421635
2293427635
2293433635
2293439635
2293445635
2293451635

which in seconds (the value is supposed to be a TS-PTS, a 90kHz clock) is:

25482.18
25482.26
25482.32
25482.39
25482.46
25482.52
25482.59
25482.66
25482.72
25482.79

The timestamps advance but not at

[2018-07-11 09:47] #4489 closed, assigned to AquilesCanta

[2018-07-11 10:42] asheeshs commented on #4489
Thanks @AquilesCanta  for the insight it's helpful. I have shared one more stream url with some additonal parameters (not sure if that will make any difference) for your feedback.

[2018-07-11 12:27] botaydotcom commented on #4500
I'm not sure about your specific setup, but I think your situation is most likely like this (correct me if I'm wrong):
- You have a `ConcatenatingMediaSource`, which consists of several `ExtractorMediaSource`.
- You turn on `showMultiWindowTimeBar`.
- You observe that the time bar is still not updated to show the whole timeline for the playlist.

We kind of know about the situation, but unfortunat

[2018-07-11 12:27] #4500 closed, assigned to tonihei

[2018-07-11 12:33] tonihei commented on #4344
Closing due to inactivity. If there are follow-up questions, feel free to reopen the issue.

[2018-07-11 12:33] #4344 closed, assigned to tonihei

[2018-07-11 12:33] tonihei commented on #4293
Closing due to inactivity. If there are follow-up questions, feel free to reopen the issue.

[2018-07-11 12:33] #4293 closed, assigned to tonihei

[2018-07-11 12:33] tonihei commented on #4392
Closing due to inactivity. If there are follow-up questions, feel free to reopen the issue.

[2018-07-11 12:35] tonihei commented on #4405
Closing for now, as we didn't receive any information for the original problem. Please reopen if you sent further information as requested.

[2018-07-11 12:35] #4405 closed, assigned to tonihei

[2018-07-11 12:36] tonihei commented on #4408
Closing for now as the question is answered and the discussion in #4463 is used to track changes regarding this problem.

[2018-07-11 12:36] #4408 closed, assigned to tonihei

[2018-07-11 12:38] #4392 closed, assigned to tonihei

[2018-07-11 12:39] tonihei commented on #4466
Closing because I think the question is answered.

[2018-07-11 12:39] #4466 closed, assigned to tonihei

[2018-07-11 12:40] tonihei commented on #4475
Closing because the question is answered. If there are follow-up questions, feel free to reopen.

[2018-07-11 12:40] #4475 closed, assigned to tonihei

[2018-07-11 12:41] tonihei commented on #4477
Closing because the second bug mentioned above (changing text tracks from embedded to primary) is also fixed now.

[2018-07-11 12:41] #4477 closed, assigned to tonihei

[2018-07-11 12:59] AkivaGit commented on #3297
I have the same problem, can't see the current bitrate, and it seems that the player doesn't play the highest bitrate available, even when connection is good. Please advise

[2018-07-11 14:21] andrewlewis commented on #2416
QC submitted a firmware fix for this bug in their video driver, so it should be fixed in any future system images.

[2018-07-11 14:21] #2416 closed, assigned to andrewlewis

[2018-07-11 15:17] SystemRestored opened #4501 "Adding parameter to m3u8 url to all ts"
I have a m3u8 which is suppose like this, http://domain/hls/video.m3u8?token=variable.  Now the thing is when exoplayer opens, the url passes as it is, however the ts files when fetched, doesnot contain token and also the aes key url when fetched doesnot contain the token.  Inside the m3u8, no files includes token so is there any way to add the token at the behind of eache ts and aes token?

[2018-07-11 16:52] harini113 commented on #4405
PlayerMessage message = _exoplayer.createMessage(_videoRenderer).setType(C.MSG_SET_SURFACE).setPayload(surface);
        PlayerMessage msg;
        boolean block = false;

        try {
             msg = message.send();
            block = message.blockUntilDelivered();
            Log.i(TAG, "block = " + block);

[2018-07-12 01:51] ronak2121 commented on #3971
Should I open a new issue for this? Please let me know.

[2018-07-12 05:05] Caij opened #4502 "Some videos cannot be played on a specific phone"
version : 2.8.2
device: oppo A1601 Android 5.1
url: http://gslb.miaopai.com/stream/JIHEFOTZY6YVDfqyNtMtNRBAerfiO5EZocqYIQ__.mp4?yx=&refer=weibo_app&Expires=1531373212&ssig=v4Toq%2B49LN&KID=unistore,vide

but on xiaomi 6 android 8.0 is success.

[logcat.txt](https://github.com/google/ExoPlayer/files/2187153/logcat.txt)

[2018-07-12 05:24] tmizuguchi-bckk commented on #4329
@paf-wv Would you have any update about this? Anything heard back from Kyocera?

[2018-07-12 06:31] chetan8378 commented on #4450
Thank you @andrewlewis for your cooperation's

[2018-07-12 06:55] SystemRestored opened #4503 "How to use okhttpclient in this code?"
**Hello, I am sharing my current exoplayer code. Just need a okhttpclient to intercept the media source and add   .addQueryParameter("apikey", "your-actual-api-key")   to pass this query in every url exoplayer plays.  help please**

    public class exoplayer extends AppCompatActivity implements VideoRendererEventListener {

    private static final String TAG = "exoplayer";
    private SimpleExoP

[2018-07-12 07:17] halil-raso opened #4504 "NullPointerException for getBackground() of defaultTimeBar"
Hi

I need to get background of the defaultTimeBar (player controller) of exoplayer. but it throws null pointer exception.

Thanks in advance.

[2018-07-12 07:27] halil-raso commented on #4504
I need background of defaulttimebar for setting color filter at runtime.

[2018-07-12 09:12] botaydotcom commented on #4504
Hi @halil-raso,

Could you provide more information as required by the template? This includes the version of ExoPlayer used, a bug report captured when you encountered this error, and steps to reproduce your issue.

From what is reported here, I can't know what NPE was produced?
- Was that calling `DefaultTimeBar.getBackground()` led to NPE from somewhere inside that method (I tried with the late

[2018-07-12 09:18] AquilesCanta commented on #4501
The right way would be to generate standalone playlists server side.

That being said, you could implement your own HlsPlaylistParser, and add them. Or implement your own HlsDataSourceFactory and add them when segments are requested. I think the safer way is to add them to the playlist parser. The latter way is a more ad hoc approach, although it should be considered as well, depending on how dyna

[2018-07-12 09:27] botaydotcom commented on #4503
Hi @subhanjankayet,
You can make use of [ExoPlayer's OkHttp extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/okhttp).
Replace:
[code]
With:
[code]
And you can do anything you want with the OkHttpClient.

[2018-07-12 09:27] #4503 closed, assigned to nobody

[2018-07-12 09:32] botaydotcom commented on #4502
Seems to be a duplicate of #3265.

[2018-07-12 09:32] #4502 closed, assigned to nobody

[2018-07-12 09:36] halil-raso commented on #4504
Hi @botaydotcom

First thanks for answer. I am using last version of the exoplayer. Actually I need to change color of player controller views' colors. I successfully changed the color of these views except defaulttimebar'color.
I could set attribute like app:played_color but what I need is setting such color at runtime. To achieve that I do the following:
`        ImageButton prevButton =findView

[2018-07-12 09:50] toby78 opened #4505 "Up to Android 5: bad quality with m3u8 with missing height/width"
### Issue description
Track selection with .m3u8 files fails on Android 5.0.2 and 6.0.1 devices, the lowest quality is shown independent of available bandwidth.

This is an ExoPlayer issue as the same streams works in Google Chrome browser on the same device.

Additional Info: Debugging DefaultTrackSelector shows height and width set to -1 for all Android Versions (both Android Versions with this

[2018-07-12 09:56] AquilesCanta commented on #4505
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-07-12 10:09] toby78 commented on #4505
Please re-open. Sample streams sent just now.

[2018-07-12 10:10] AquilesCanta commented on #4505
We need all the information requested in the issue template.

[2018-07-12 10:21] botaydotcom commented on #4493
Hi @mkaflowski,
Please provide more information as required by the issue template, including:
- Link to the test content.
- What version ExoPlayer is used.
- Steps to reproduce the issue.
That will help us to analyze this issue much faster. Thank you.

[2018-07-12 10:29] toby78 commented on #4505
Done

[2018-07-12 10:49] Caij commented on #3265
Can't solve this problem?

[2018-07-12 11:17] atif-afridi opened #4506 "App Crashes on specific samsung devices 4.4.2"
i am receiving the following crash on fabric with a user

Fatal Exception: java.lang.NoClassDefFoundError
net.butterflytv.rtmp_client.RtmpClient

Detailed report i got on fabric

[code]

[2018-07-12 13:43] botaydotcom commented on #4506
Hi @atif-afridi,
The class should be there if you have a dependency on rmtp-client, which I think is necessary for the code to compile anyway. This seems to be a problem with the app installation for that particular user. I don't think we can offer any help in this case.

[2018-07-12 13:43] #4506 closed, assigned to nobody

[2018-07-12 13:57] botaydotcom commented on #4504
Since you are calling `defaultTimeBar.getBackground().setColorFilter(getResources().getColor(MainActivity.mood), PorterDuff.Mode.SRC_IN);`, when `defaultTimeBar.getBackground()` returns null, so it produces an NPE. There is no problem here with ExoPlayer library.

`DefaultTimeBar` does not use a background drawable/color, but draw itself using a few custom `Painter`. You can check out the code for

[2018-07-12 13:57] #4504 closed, assigned to nobody

[2018-07-12 17:21] #4486 closed, assigned to nobody

[2018-07-12 19:04] ojw28 commented on #4492
@tonihei - The crash looks like a bug in `MediaPeriodQueueTracker`. I didn't get as far as reproducing, but my hypothesis is that:

1. There's an active period in the timeline.
1. The timeline updates and the period is removed. `updateMediaPeriodToNewTimeline` is called. `newPeriodIndex` is `INDEX_UNSET` for the removed period, and so the period entry is returned without being updated. Importantly

[2018-07-12 19:37] blessonabraham opened #4507 "Decrypting HLS Video Encryption Key!"
I have passed a m3u8 playlist url to Exoplayer, The url will return the manifest file after proper authentication. Then the Exoplayer requests for Decryption Key, The decryption key will be provided again after proper user authentication, Its all fine, But my problem is the video decryption key which receives can be seen with any network analysis tool like fiddler. So i thought about Encrypting th

[2018-07-12 20:39] ojw28 commented on #4507
Why don't you just use https?

[2018-07-13 03:26] blessonabraham commented on #4507
@ojw28 If my authorised user is a hacker, he can analyse his traffic even if its HTTPS. So by Encrypting the video decryption key, i can slow him down!
Please Help!

[2018-07-13 05:10] petermoser opened #4508 "HLS streams don't change quality"
### Issue description
When I'm playing HLS media using ExoPlayer it keeps getting stuck in the lowest resolution track in the m3u8 playlist although the bandwidth would allow playing it at the highest bitrate.
When playing the same .m3u8 file on a iOS device the track with the correct bitrates are selected.

This issue also happen when using the Demo App.

To mitigate the issue we are setting the

[2018-07-13 05:42] basisworldwide opened #4509 "DashDownloader Playback error"
Version of Exo: 2.7.3

Description

Attempting to playback an offline DASH using a stored widevine key. I'm able to complete all the pieces, and have a valid key and I see all the content being downloaded into the directory. However, when attempting playback i'm getting an error.

Sample Code:

//download method

      `  java.io.File downloadFolder = new java.io.File("/data/user/0/files/testt/");

[2018-07-13 06:09] rantianhua commented on #3953
Same problem on device:
Phone Model: vivo Y37A
Android Version: 5.0.2
vivo ROM: Funtouch OS_2.5

[2018-07-13 08:52] StaticBR opened #4510 "Noticalbe gaps between h264 video file playback"
### Issue description
I'm trying to play several h264 videos seamlessly in a playlist. Unfortunately some of our files produce noticable gaps (stutter) between the video files other video files don't. Currently I'm not albe to pinpoint the error, all have been created with the same converter settings. We have currently the presumption that this maybe has something to do with the length of the vide

[2018-07-13 09:08] botaydotcom commented on #4509
Hi @basisworldwide,
The error message points out that you are using `ExtractorMediaSource` for a DASH stream. Please use `DashMediaSource` for such case.

[2018-07-13 09:08] #4509 closed, assigned to botaydotcom

[2018-07-13 09:27] ojw28 commented on #3297
I can propagate the bit-rate through as part of a related change.

[2018-07-13 09:32] botaydotcom commented on #4508
Hi @petermoser,
I have tested using the stream you provided, and the reason here is most likely because your test content is too short. In the default `AdaptiveTrackSelection` implementation, most switch up/ switch down decision takes into account the existing buffer size. So in your two cases:
- When you don't set any initial bit-rate estimation, the initial bit-rate estimation is 1 Mbps, which i

[2018-07-13 09:32] #4508 closed, assigned to tonihei

[2018-07-13 09:46] bhjortsberg commented on #4492
It's possible that it can be something with the manifest, I can't see anything myself though. Attaching a sequence of manifest when the player get stuck. I think it's hard to get a working stream, but I can do a network capture if that would help.

I'm not sure if it get stuck when the old period (id: p_3_382868305) disappears from the manifest or when the new (id: p_3_382868325) is created.
Also

[2018-07-13 10:28] andrewlewis commented on #3100
Marking as a bug as it's allowed for decoders to support only tunneled playback.

[2018-07-13 11:02] sravan1213 opened #4511 "Support setMinVideoBitrate in Parameters ?"
I've a use case where I've to set minimum bitrate for video playback. I didn't find any such method in `DefaultTrackSelector.Parameters`.

Right now I am getting all available tracks and using `setSelectionOverride` with required video tracks. Curious is there any easy way to do it?

Thanks in advance.

[2018-07-13 11:15] szaboa commented on #4306
After a quick research, I got the same conclusion as mentioned above, those tags are not part of the SRT format. People started to borrow these tags from other places over time and step by step the players started to support them. These tags are taken from ASS (https://www.matroska.org/technical/specs/subtitles/ssa.html). I will try to add support for these ```\an``` tags, as my first contribution

[2018-07-13 12:12] botaydotcom commented on #4491
I have added the fix for this bug. It will be pushed to dev-v2 branch on the next few days. Please help us to verify the fix then.

[2018-07-13 12:12] #4491 closed, assigned to botaydotcom

[2018-07-13 13:32] davidaronpf commented on #4456
Hi again! I fixed the EXTINF and it worked. When I forward the video, the subtitles still show, which is great!

There's one problem though, that I don't know if it's not related: All subtitles play a second or more before they should, so they also end before they should too. For example, a subtitle that is supposed to play at 01:19 and end at 01:22, instead plays at 01:17 and ends at 01:20.
Do yo

[2018-07-13 13:37] ojw28 commented on #4456
You probably need to add a `X-TIMESTAMP-MAP` metadata header to each VTT file, as described in the [HLS RFC](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-02#section-3.5). Either that or your timing is just incorrect.

I'm going to close this. It's not an ExoPlayer issue, and we don't generally have enough cycles to help debug content. The Apple sample streams have correctly sync'd capti

[2018-07-13 13:37] #4456 closed, assigned to ojw28

[2018-07-13 14:37] ojw28 commented on #4306
That would be great! A few things to keep in mind to help us merge any changes with minimal effort:

1. I would not envisage you needing to change anything in `Cue`, `SubtitlePainter` or `SubtitleView` to achieve this. `Cue` already supports positioning that's hopefully flexible for what you need to do, and the UI classes already make use of it. If you find yourself needing to edit those classes,

[2018-07-13 15:41] petermoser commented on #4508
@botaydotcom thank you for your quick response!
Unfortunately all our videos are very short, they are usually between 10-30s in length, so we need to have a bit-rate adaption within seconds.

For faster track selection we are using the values:

[code]
Although we are setting these values, the bitrate is not adapted during playback of the video.
Are there any other values that we have to configure

[2018-07-13 15:56] tonihei commented on #4508
Just checking: have you passed the same bandwidth meter to the data source in HlsMediaSource?

[2018-07-13 16:05] petermoser commented on #4508
For testing I'm using the ExoPlayer Demo app, the only modification right now is the invocation of AdaptiveTrackSelection.Factory to increase the speed of the track selection (as described in previous message).

[2018-07-13 16:10] ojw28 commented on #4166
No, however:
* It's not available on any device where `Util.SDK_INT < 23`.
* You can look at `MediaCodecVideoRenderer.codecNeedsSetOutputSurfaceWorkaround` to see where we're disabling it on devices for wihch `Util.SDK_INT >= 23`.

You can do this by triggering a seek call on the player at the same time as you swap the surface (the seek call should occur immediately afterwards).

[2018-07-13 16:10] #4166 closed, assigned to ojw28

[2018-07-13 16:15] tonihei commented on #4508
Can't reproduce your problem. Just tested your stream with the parameter given above and it switches up fine after about 8.5 seconds.

[2018-07-13 16:18] ojw28 commented on #3971
Looking at this again, I think returning `ADAPTIVE_NOT_SEAMLESS` is correct. `RendererCapabilities.supportsFormat` is documented to say that the adaptive part of the returned value indicates:

Whether an audio adaptation will be completely seamless or not doesn't depend just on the mime type, but also on whether the sample rate or channel count changes. If the sample rate or channel count changes,

[2018-07-13 16:35] ojw28 commented on #4507
If you're really concerned about authorized users extracting the content then you need to use proper DRM with underlying platform support (on Android, you'd probably need to use Widevine).

I don't think there's much point in preventing the specific attack you describe, since there are other attacks such a user could do instead, some of which are probably easier. For example they could make a smal

[2018-07-13 16:35] #4507 closed, assigned to ojw28

[2018-07-13 16:41] petermoser commented on #4508
Interesting, @tonihei would you be able to give us some information on your test environment?

[2018-07-13 16:45] tonihei commented on #4508
I've been using a Nexus 6P in a good Wifi network. Could you please check whether your code ever reaches this line: https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultBandwidthMeter.java#L199

If not, then the bandwidth meter doesn't have enough information to provide a suitable estimate for the track selection. To reach thi

[2018-07-13 17:01] ronak2121 commented on #3971
Hey thanks for the reply.

Can you test to see why this particular stream is still not seamless adaption? It should have been, since I can confirm the defaultSampleDuration and the codec information is being read properly.

[2018-07-13 17:10] AquilesCanta commented on #4498
It kind of does if you provide all your alternative variants in the master playlist and the server returns 404/410 for any of them. ExoPlayer will blacklist them and switch to a different one. Latency increases will probably be observed as decreases in the bandwidth. More info on network errors below.

Is unrelated as far as I can see.

This could help, but depending on how the load balancing work

[2018-07-13 17:10] #4498 closed, assigned to AquilesCanta

[2018-07-13 17:41] basisworldwide opened #4512 "Offline playback still requires online connection"
//Version
2.7.3

//Description
So we have the logic to do the offline playback...but when i go offline after the download the playback fails...but if I'm connected it plays back without issue. This seems to be the demo code, and if I swap out the HttpDataSource with a DefaultDataSource i'm getting errors

//Sample Code Download
[code]

//Sample Code Offline Playback
[code]

[2018-07-13 17:42] petermoser commented on #4508
@tonihei, onTransferEnd is called, I attached the screenshot below. The bitrate is 2343113.
![image](https://user-images.githubusercontent.com/5367107/42705479-4b1fac86-8688-11e8-828a-01f0faaff513.png)

Right after that, getBitrateEstimate is called from AdaptiveTrackSelection::determineIdealSelectedIndex, see screenshot below:
![image](https://user-images.githubusercontent.com/5367107/42705691-fd

[2018-07-13 17:44] petermoser commented on #4508
@tonihei when debugging do you see the same? bitrateEstimate seems to be is back to the value of initialBitrateEstimate.

[2018-07-13 17:56] ojw28 commented on #4498
I thought you were supposed to just list all of the available options in the HLS master playlist to achieve this. For example:

[code]

ExoPlayer will automatically blacklist a stream for some period of time whenever it encounters an error, and therefore switch to the alternate.

[2018-07-13 18:06] ojw28 commented on #4511
Could you clarify what the use case is? Thanks!

[2018-07-13 18:11] ojw28 commented on #3971
We don't really have any more time to spend on this, given it's (so far) specific to you and your content, and also quite difficult to debug. I'm not aware of anyone else who has this issue.

[2018-07-13 18:13] ojw28 commented on #4497
We don't have an Oculus Go to test this. You'd probably be best off reporting it to the Oculus team.

[2018-07-13 18:14] #3879 closed, assigned to andrewlewis

[2018-07-13 18:16] ojw28 commented on #4339
Closing due to lack of activity.

[2018-07-13 18:16] #4339 closed, assigned to ojw28

[2018-07-13 18:17] ojw28 commented on #4355
Closing due to lack of activity.

[2018-07-13 18:17] #4355 closed, assigned to ojw28

[2018-07-13 18:19] ojw28 commented on #3640
@erdemguven - Can we see if we can reproduce this?

[2018-07-13 18:21] ojw28 commented on #4146
Hi. I think we can fix this fairly easily, but unfortunately the test content provided is no longer accessible. Please could you send it again?

[2018-07-13 18:22] ojw28 commented on #4381
Closing due to lack of activity.

[2018-07-13 18:22] #4381 closed, assigned to AquilesCanta

[2018-07-13 18:26] ojw28 commented on #4397
It looks like `p212` and `s905x018` are the `Build.DEVICE` values, so we can add those to the workaround. I'll do this as part of #4468.

[2018-07-13 18:26] #4397 closed, assigned to tonihei

[2018-07-13 18:40] AquilesCanta commented on #4508
The only option I see is that in both cases you are looking at different instances. Is that a possibility?

[2018-07-13 18:50] ojw28 commented on #4020
I'm not sure the files are ok. If you try and play the audio file in Chrome or VLC, you'll see that although the media plays, the seek bar is messed up. I didn't look too closely, but it appears the duration is incorrect, the timestamps don't start from zero, and the timestamps exceed the specified duration. Nevertheless the file played fine in ExoPlayer V2 for me, aside from the seek bar being me

[2018-07-13 18:50] #4020 closed, assigned to AquilesCanta

[2018-07-13 18:57] ojw28 commented on #4378
Closing for now because I don't think we can allocate any more time to spend on this.

[2018-07-13 18:57] #4378 closed, assigned to AquilesCanta

[2018-07-13 21:37] petermoser commented on #4508
Every single call to getBitrateEstimate returns 100000. That would explain why the tracks are not changing.

[2018-07-13 21:51] sravan1213 commented on #4511
In our application we show three options High, medium,low quality.

These options are distributed over 7 bitrates.

1080p and above High

720p to less than 1080p Medium

And less than 720p (480p, 360p, 180p) is low.

This can be done easily if we have setMinVideoBitrate in Parameters.

Hope I have clarified the use case.

Thanks,

[2018-07-13 22:13] basisworldwide commented on #4512
Same issue when doing the following:

[code]

[2018-07-13 22:33] Srinu-try commented on #4319
Hi,

Any update on the librtmp issue? I did not see any comments or updates from libRtmp team on this issue.

Thanks,
Sri

[2018-07-14 07:49] petersamokhin commented on #4020
So, thanks for answer in 4 months :) No longer relevant at this time.

[2018-07-14 21:02] szaboa commented on #4306
Sure thing!
Just started to working on it, I will do the pull-request once is done, thank you :)

[2018-07-15 03:34] FauziAmth commented on #4469
this is also happen as long as download service bound to activity/fragment. so "Removing downloads"  will also appear even when app not killed.

[2018-07-15 11:22] GustenB opened #4513 "Downloaded DASH fails after approx 1 min at offline playback with DRM"
I am working on an offline DASH playback with DRM feature and using ExoPlayer v2.7.3. The download procedure seems to be working fine. The selected representational keys which are chosen when downloading the DASH are stored and reused when the media is launched offline by means of FilteringDashManifestParser. The playback starts perfectly but suddenly fails after approx 1 min. Does anyone has a cl

[2018-07-15 11:24] AkivaGit commented on #3297
That would be really helpful, since now I can't even debug the bitrate.
Also if I try to use  trackSelector.getParameters().withForceLowestBitrate(true)
the player doesn't play anything, and I get onLoadCanceled.
In general, I'm trying to control the bitrate according to our needs by using
trackSelector.getParameters().withMaxVideoBitrate(), but can't make it to take higher bitrate.
Maybe to lower

[2018-07-15 12:51] pozharov opened #4514 "Error when try to play HLS stream"
### Issue description
Try to lauch HLS stream in the exoplayer demo app and get an error "Unable to instantiate decoder OMX.MTK.VIDEO.DECODER.AVC"

### Reproduction steps
Using ExoPlayer Demo:
1. Replace any HLS stream with my own (sent to dev.exoplayer@gmail.com)
2. Start player and get an error

### Link to test content
Sent to email

### Version of ExoPlayer being used
2.8.1

### Device(s) and

[2018-07-15 17:46] shri-hari93 opened #4515 "Bandwidth Listener"
@ojw28
Question:
I'm interested in tracking the bitrate periodically when I play my dash source in exo player.
What I'm currently doing to achieve this is, by creating a bandwidth listener class that implements BandwidthMeter.Eventlistener where I override the method onbandwidthsample method.
Then I create a bandwidthmeter object for the player with the bandwidthListener.

The problem that I'm fac

[2018-07-15 18:57] GustenB commented on #4513
Solved the issue. Changed build media source code to this:

        Log.e(LOG_TAG,"buildOfflineMediaSource uri: "+mediaUri);

        DataSource.Factory mediaDataSourceFactory = buildDataSourceFactory(true);

        List<RepresentationKey> representationKeyList = (List<RepresentationKey>) getOfflineStreamKeys(mediaUri);
        for(RepresentationKey representationKey : representationKeyList){

[2018-07-15 18:57] #4513 closed, assigned to nobody

[2018-07-15 20:13] shri-hari93 commented on #4361
@tonihei , as you said the members of the following class http://cdn.dashjs.org/latest/jsdoc/streaming_vo_metrics_HTTPRequest.js.html are already available in exoplayer library. Is it possible to extract these information in one of the event listener methods `onLoadCompleted`, `onLoadStarted` etc.

I checked the dataspec object returned from loadEventInfo, it doesn't really return the information

[2018-07-15 20:21] szaboa commented on #4306
@ojw28
I am about to extend ```com.google.android.exoplayer2.text.subrip.SubripDecoderTest```, but it seems all the tests are failing for me:

[code]

This is a known issue or what am I missing? :)

[2018-07-16 04:43] sravan1213 commented on #4515
@shri-hari93 Are you passing same BandwidthMeter in you dataSourceFactory ??

example -
 `dataSourceFactory = new OkHttpDataSourceFactory(builder.build(), Util.getUserAgent(context,""), bandwidthMeter);`

`adaptiveTrackSelection = new AdaptiveTrackSelection.Factory(bandwidthMeter)`,

[2018-07-16 06:21] pratikK017 opened #4516 "Passing Custom data to drm content"
Is there any way to add custom data for DRM content, If any can you please provide me some sample or reference links which will be useful for me. Thanks .

[2018-07-16 07:40] aarondib commented on #4397
@ojw28 that would be great, thanks!

[2018-07-16 07:54] ojw28 commented on #4306
That's an Android Studio bug, where it doesn't set the working directory properly. After you first try and run the tests (and they fail), you'll see it as the thing that's selected to run in the drop-down (by default near the top right of the Android Studio UI). Click the drop-down and select "Edit Configuration". You should see a "Working directory" configuration property for the tests. Click the

[2018-07-16 07:56] ojw28 commented on #4511
So to clarify, if the user selects "High" but has insufficient bandwidth for 1080p, you explicitly want to give the user re-buffering rather than having the player seamlessly adapt down to 720p until the bandwidth improves? And if so, why?

[2018-07-16 07:58] ojw28 commented on #4515
@sravan1213 is probably correct (you're probably not passing the same `BandwidthMeter` instance).

[2018-07-16 07:58] #4515 closed, assigned to nobody

[2018-07-16 07:59] SimonNumberTwo commented on #3526
Just found another issue related to mine. You can get the files from there https://github.com/google/ExoPlayer/issues/4510

Maybe @andrewlewis can add a link to the other issue.

[2018-07-16 08:11] ojw28 commented on #4501
The segment (and key) URLs are resolved against the base URL of the playlist as per RFC-3986. The query parameter specified in the base URL is not kept as part of this resolution. As mentioned above, the correct approach would be for your server to generate a playlist where the query parameter is copied into each of the contained URLs.

[2018-07-16 08:11] #4501 closed, assigned to nobody

[2018-07-16 08:13] ojw28 commented on #4508
It sounds very much like you have multiple instances of `BandwidthMeter` floating around, rather than using the same one everywhere. If you're certain that's not the case, please provide a minimal patch to the demo app that allows us to reproduce what you're seeing.

[2018-07-16 08:14] tonihei commented on #4508
You need to make sure you use the same BandwidthMeter as a listener for the DataSource.Factory and in the TrackSelection.Factory. It sounds as this isn't the case here.

[2018-07-16 08:24] tonihei commented on #4361
"Time at which request is sent" - that corresponds to the `elapsedRealtimeMs` parameter in the `LoadEventInfo` of `onLoadStarted`.
"The real time at which the request finished" - same value in the `onLoadCompleted` callback.
"The real time at which the first byte of the response was received" - For more detailed information on that, you need to add a `TransferListener` to the `DataSource` which ha

[2018-07-16 08:32] konaire opened #4517 "OOM crash while video is looped using LoopingMediaSource"
### Issue description
Experiencing a OOM crash in multiple devices when `MediaSource` is wrapped with `LoopingMediaSource`. Sometimes I got this exception even without looping the video. Application consumes a lot of memory after specific moment while playing the video. Then it crashes with OutOfMemoryException. I was able to reproduce this only with one video file. Maybe this video is corrupted i

[2018-07-16 08:47] ojw28 commented on #4516
What does it mean to "pass custom data to drm content"? Please clarify exactly what you're trying to do. Thanks!

[2018-07-16 08:49] ojw28 commented on #4487
@paf-wv - PTAL

[2018-07-16 08:51] sravan1213 commented on #4511
Yes, Because it is a user preference that video should be played in 1080p. I think it is a bad user experience if we do ABR even after user selecting 1080p.

[2018-07-16 09:21] ojw28 commented on #4511
Do you want ABR at all if the user selects an option? If not, you can use track selection overrides to select the specific track you want to play.

[2018-07-16 09:41] AquilesCanta commented on #2929
Sorry for leaving this unattended.

Have the test streams been sent? If not, please send them with the subject "Issue #2929". Thanks.

[2018-07-16 09:43] AquilesCanta commented on #2929
The streams are no longer available, can you share them with us again please?

[2018-07-16 09:49] sravan1213 commented on #4511
@ojw28 I need ABR on tracks within particular bitrate range. So, if user selects Medium ( we have three bitrate ladders 480p, 720p and 900p which fall under this ), ABR should apply on only these tracks. Even if the network is bad it should not fall below 480p and restrict to 900p even if the network is better.

Thanks,

[2018-07-16 12:56] erdemguven commented on #4512
Looks like the https://perksocial.com/splash/mpd.mpd stream is drm protected. To be able to play it offline you need an offline licence. You can use OfflineLicenseHelper.downloadLicense to get one and for offline playback use com.google.android.exoplayer2.drm.DefaultDrmSessionManager#setMode method.

[2018-07-16 14:16] basisworldwide commented on #4512
@erdemguven it is a protected stream. I am currently calling the downloadLicense and playing it back for playback. Even with that call I don't get any error it just hangs, and if I remove it completely it just hangs the same way and doesn't give an errors.

I can give the  code in full if that might help.

[code]

[2018-07-16 14:46] shri-hari93 commented on #4361
Thanks @tonihei  for your suggestion. Seems like I have my solution here.

However, I have small clarification on Transfer listener. I'm already using `DefaultBandwidthMeter `implemented with `bandwidthMeter.EventListener` in DataSource. Is it possible to implement Transfer listener along with it? I tried this but it didn't seem to work.

Moreover I could not override the `DefaultBandwidthMeter` s

[2018-07-16 14:49] tonihei commented on #4361
Good point. It's currently not possible to have multiple transfer listeners. However, we already changed the code to allow multiple transfer listeners per data source in the future. Will be in one of the next releases.

[2018-07-16 15:27] ojw28 commented on #4496
It looks like Chrome is using L3 to play the content. The following log line gets printed when it forces into L3 mode at the start of playback:
[code]

If we force ExoPlayer into L3 as well, using
[code]
then we see better performance, as in Chrome.

@paf-wv / @jefftinker - Why is L1 worse than L3 in terms of performance on Pixel 1? And is it generally true that this is the case?

[2018-07-16 15:50] petermoser commented on #4508
Yes, @tonihei that was the problem, we needed to pass BandwidthMeter as a listener to DataSource.Factory:

[code]

Thank you guys for the great support!

[2018-07-16 16:33] erdemguven commented on #4512
Please provide all of the information requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-07-16 17:20] basisworldwide commented on #4512
@erdemguven

### Issue description
When I already have a saved offline key, and saved content I get the timeline to show and no error messages but the content never plays. If I attempt to the use the same piece of content while still connected to the internet everything is playback fine. I'm not getting any errors related to the key or anything.

### Reproduction steps
Describe how the issue can b

[2018-07-16 17:46] basisworldwide commented on #4512
This is from logcat when playing back

###Logcat
07-16 10:42:36.639 6965-6965/com.blah.exotest I/InstantRun: starting instant run server: is main process
07-16 10:42:37.070 6965-6965/com.blah.exotest W/oplayer2exampl: Accessing hidden method Landroid/view/View;->computeFitSystemWindows(Landroid/graphics/Rect;Landroid/graphics/Rect;)Z (light greylist, reflection)
07-16 10:42:37.071 6965-6965/com.bl

[2018-07-16 18:47] paf-wv commented on #4198
Unfortunately, LG acknowledged the regression and state the device is end of life but they are revisiting to determine if they can produce an MR.  Will update if that happens.

[2018-07-16 20:02] GustenB opened #4518 "Downloading Dash with side loaded subtitle text tracks"
Hi!

When streaming online in our application we are side loading text tracks. In other words we are not using the text tracks which are declared in the manifest (this is stupid I know). As we are working on a dash download feature for offline view, I am wondering if there is solution to download the side loaded test tracks when downloading dash? How to handle the representation keys, as the filte

[2018-07-17 04:52] kimdohyung5 opened #4519 "Samsung devices: Local or networked mp3 file plays twice rather than ending"
Before filing an issue:
-----------------------

When reporting a bug:
-----------------------

### Issue description
When I Played the mp3 file, I didn't get  the result "Player.STATE_ENDED" right after the mp3 file was finished.
I think that It happened  in library version over 2.8.0 and not happened below 2.7.3
and I expected that it would have fixed in the version 2.8.2 but, It didn't happed.

[2018-07-17 06:58] StaticBR commented on #4510
@botaydotcom  Did you allready had the time to look into this issue? Is there anything I can do to support you?

[2018-07-17 07:06] TarifHatoum opened #4520 "how to chnage the HLS time of NDVR to UTC time ?"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-07-17 07:10] atif-afridi opened #4521 "Crash on Fabric : Fatal Exception: java.lang.NoClassDefFoundError net.butterflytv.rtmp_client.RtmpClient"
i have looked the issue on SO and the issues list of exoplayer but couldn't find yet.

i have received this crash recently on fabric for 4.4. , 4.3 and 4.4.4   OS

Crash Log :

Fatal Exception: java.lang.NoClassDefFoundError: net.butterflytv.rtmp_client.RtmpClient
       at com.google.android.exoplayer2.ext.rtmp.RtmpDataSource.open(RtmpDataSource.java:56)
       at com.google.android.exoplayer2.so

[2018-07-17 07:34] atif-afridi commented on #4506
Thanks for your response @botaydotcom  .. you mean i have to make the app installation again ? or what is the solution ?

[2018-07-17 08:20] luckylook opened #4522 "Exception while pause then play live exoplayer version 2.8.2"
Hi, I am getting this exception while I am trying to pause live video and then play it.
issue: I am playing live streaming then I click pause the video pauses (like regular behavior) then I wait about 15 sec and hit play the video plays about 10 sec and then I get exception below.
(Also, I noticed this first on version 2.7.3, I then upgraded to the latest version 2.8.2 and still the issue remains)

[2018-07-17 08:29] erdemguven commented on #4518
If you want to keep the subtitle in the cache as well, you can download the subtitle file using CacheUtil.cache(...) methods. I don't understand the problem with handling the representation keys.

[2018-07-17 09:02] duduniao opened #4523 "play video failed when switched between two page, sometimes"
devices: samsung galaxy s7 sm-g930s ,  lib version: 2.8.2

[code]

[2018-07-17 09:07] botaydotcom commented on #4506
I guess if you are offering support for that particular user, then you can ask them to try re-install the app.

[2018-07-17 09:08] botaydotcom commented on #4510
I think I can reproduce the issue on certain devices. Will try that see if I can find out the root cause.

[2018-07-17 09:51] erdemguven commented on #4512
Could you provide real test content url and licence url so I can test?

[2018-07-17 11:03] ojw28 commented on #4523
Please provide all of the information requested in the issue template. There's not much we can do to investigate this without clear reproduction steps and a proper bug report.

[2018-07-17 11:06] ojw28 commented on #4522
This is working as intended. The server is only making the content available for a short window of time. If you pause the player, it will fall behind this window and will no longer be able to request media from the playback position (it will still be able to play out what it has in its buffer when you resume, but it wont be able to request any more).

If you control the serving side, you should ma

[2018-07-17 11:06] #4522 closed, assigned to ojw28

[2018-07-17 11:07] ojw28 commented on #4522
Note also that upon receiving `BehindLiveWindowException`, you can implement logic in your application code to automatically resume playback from the live edge. The demo app does this in its `PlayerActivity` class (see `onPlayerError` and `isBehindLiveWindow` in that class for details).

[2018-07-17 11:07] ojw28 commented on #4520
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-07-17 11:08] #4520 closed, assigned to ojw28

[2018-07-17 11:09] ojw28 commented on #4521
Duplicate of https://github.com/google/ExoPlayer/issues/4506

[2018-07-17 11:09] #4521 closed, assigned to nobody

[2018-07-17 11:10] pscplayco opened #4524 "DASH - Position of Representation in MPD makes Exoplayer not read subtitles"
While testing subtitles on a DASH streaming with Exoplayer v1.5, I noticed the position of the Representation within the adaptation set in an MPD Manifest can lead Exoplayer to not be able to read subtitles. More specifically,

1) If Representation is set in the Manifest before the SegmentTemplate --> Exoplayer doesn't read subtitles.
2) If Representation is set after the SegmentTemplate --> Exopl

[2018-07-17 11:19] botaydotcom commented on #4521
"i have received this crash recently on fabric for 4.4. , 4.3 and 4.4.4 OS"

With this addition info, I think one probable reason is it may have something to do with multi-dex (if your app happens to use this).
I still don't think we can offer any help from ExoPlayer though.

[2018-07-17 11:21] GustenB commented on #4518
Thanks for your input, I guess this can help me?
https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6
or is there any other good example available?

[2018-07-17 11:21] ojw28 commented on #4524
My reading of the DASH specification is that only order (2) is valid. The syntax for adaptation sets is defined using `xs:sequence`, which I think means they need to be in the specified order (if present):

[code]

[2018-07-17 11:21] #4524 closed, assigned to nobody

[2018-07-17 11:25] qeadsw opened #4525 "Playing a MP4 file F.frameRate always return -1"
implements AnalyticsListener
onDecoderInputFormatChanged(EventTime eventTime, int type, Format format)
format.bitrate and format.frameRate always -1

My Version 2.8.2

[2018-07-17 11:34] ojw28 commented on #4519
I downloaded the test app but cannot reproduce. The mp3 file (duration 2:42) played, the ended event was triggered and the toast you've added was displayed as expected.

[2018-07-17 11:36] ojw28 commented on #4525
This information isn't always available for all stream types, and is documented to be `Format.NO_VALUE` (which equals -1) in such cases.

Specifically for HLS we're adding bitrate information soon. This is tracked by https://github.com/google/ExoPlayer/issues/3297. For regular MP4 files the information is just not available, sorry.

[2018-07-17 11:36] #4525 closed, assigned to nobody

[2018-07-17 11:46] qeadsw commented on #4525
Will it be supported in a later release ？

[2018-07-17 12:27] ojw28 commented on #4525
We don't have any plans to support this.

[2018-07-17 12:38] erdemguven commented on #4518
Unfortunately there is no other example we provide for that method but it should be fairly easy to use.

One other way of downloading single files is using ProgressiveDownloader, which uses CacheUtil.cache(). This way you can use DownloadManager/Server.

[2018-07-17 12:50] AkivaGit commented on #3297
Sorry for bothering you again, but I need some help with this.

I decided to customize TrackSelector so now I can log the auto-selected bitrate of the track, or can force to choose a track with desired bitrate.
1. What is the difference between AdaptiveVideoTrack and FixedVideoTrack, defined in the Trackselector?
2. What class or other object should I customize if I want to log the switching betwe

[2018-07-17 12:53] ojw28 commented on #3297
This issue is tracking propagating the bit-rate, not generally debugging application specific issues. Please file a new issue instead. Please also keep in mind statements like "player doesn't play anything" are not specific enough for us to help, so please try and be as specific as possible and provide concrete reproduction steps.

[2018-07-17 13:35] TarifHatoum commented on #4520
It is not an issue just clarify about how to set the DVR of hls as current time UTC for example if ndvr is10 min then 12:10:00 till 12:20:00 and ect
Just want to know how to set the utc time format for DVR HLS streaming.

Regards

Sent from my iPhone

On Jul 17, 2018, at 14:08, ojw28 <notifications@github.com<mailto:notifications@github.com>> wrote:

This issue is being closed because it does not

[2018-07-17 13:36] ojw28 commented on #4520
I don't understand what that means. @AquilesCanta - Do you?

[2018-07-17 13:49] AquilesCanta commented on #4520
Not sure if I understand, but have a look at [EXT-X-PROGRAM-DATE-TIME](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.2.6) and at Window#presentationStartTimeMs. Probably will provide what you need.

[2018-07-17 14:58] basisworldwide commented on #4512
@erdemguven I have just sent the information to dev.exoplayer@gmail.com

Please let me know if you need anything else

[2018-07-17 15:05] TarifHatoum commented on #4520
For example if i have DavR recorded for 2 hours the seek bar will be foe 2 hours but i want to display it with the real time recordeded such as if it was being recorded at 10:00:00 Am the seekbar i want to represent it by 10:00:00 as start time and end time as 12:00:00

Regards

Sent from my iPhone

On Jul 17, 2018, at 16:50, Santiago Seifert <notifications@github.com<mailto:notifications@github.c

[2018-07-17 15:16] AdamGrzybkowski opened #4526 "How to reduce increasing latency for RTMP live stream"
I'm having issues with increasing latency over time when playing RTMP stream.

The problem occurs only when the stream needs to be buffered during playback. Every time this happens the latency increases.

I'm aware this is not an issue with ExoPlayer itself, but maybe you could help me how to handle that?

I know that LoadControl is responsible for buffer strategy but in overall I would like to ge

[2018-07-17 16:22] erdemguven commented on #3640
I can't reproduce it. @mukundrd do you still see the problem?

[2018-07-17 16:58] paavalan opened #4527 "TrackSelectionView: Provide option to hide Unknown text tracks"
want to hide **Unknown** Track in subtitles.

![image](https://user-images.githubusercontent.com/8317058/42833033-b12da074-8a10-11e8-997e-8cf0b1a9baa8.png)

ExoPlayer : v2.8.2

[2018-07-17 19:15] ojw28 commented on #4527
You'd need to fork or enhance `TrackSelectionView` to support that. Please feel free to send us a pull request if you want to add this functionality.

[2018-07-17 19:22] atif-afridi commented on #4521
@botaydotcom yes i am using it in my app . so what are the precautions in that case ?

[2018-07-17 19:22] atif-afridi commented on #4506
@botaydotcom okay.. thanks for your words

[2018-07-17 19:52] AkivaGit opened #4528 "HLS - switching the bitrate during playback"
I understand that after an adaptive video track is chosen, with some initial bitrate value, the player will auto-adjust the bitrate to match the quality of internet connection.
Is it possible to force the player to switch to another bitrate according to user choice, and stay on it, or make the player go back to auto mode? I mean to do it DURING playback, not when starting playback.
(For when start

[2018-07-17 20:00] ojw28 commented on #3297
Bit-rate should be propagated in `dev-v2` now.

[2018-07-17 20:00] #3297 closed, assigned to ojw28

[2018-07-17 20:00] ojw28 commented on #3994
Implemented in `dev-v2`.

[2018-07-17 20:00] #3994 closed, assigned to botaydotcom

[2018-07-17 20:02] ojw28 commented on #4491
Fixed in `dev-v2`.

[2018-07-17 20:03] ojw28 commented on #4348
Fixed in `dev-v2`.

[2018-07-17 20:03] #4348 closed, assigned to andrewlewis

[2018-07-17 20:04] ojw28 commented on #4469
Fixed in `dev-v2`. As per discussion on the change, you shouldn't be binding to the download service (it would probably be a good idea to enforce this, which we may do at some point).

[2018-07-17 20:04] #4469 closed, assigned to erdemguven

[2018-07-17 20:04] ojw28 commented on #4488
Fixed in `dev-v2`.

[2018-07-17 20:04] #4488 closed, assigned to erdemguven

[2018-07-17 20:17] ojw28 commented on #1593
I don't think we're going to be spending time on this. It appears to be an isolated case, and as above, the server can pretty easily keep a stable order in the manifest.

[2018-07-17 20:17] #1593 closed

[2018-07-17 20:27] ojw28 commented on #4146
@CHOJUIL - Are you able to provide the test content again? If not we may have to close this issue, since we don't have any media with which to validate any fix.

[2018-07-17 20:37] ojw28 commented on #4519
Closing for now because everything seems to work fine. Please provide additional information here if you want us to look again, and we'll re-open.

[2018-07-17 22:17] paf-wv commented on #4487
we will need to reach out to QC and ask about some the decoder error that are in the logcat.

[2018-07-17 22:24] paf-wv commented on #4496
The team is looking into this now. There are other similar reports so reproducing it next steps for us internally.

[2018-07-18 02:27] kimdohyung5 commented on #4519
After I received your comment, I realized that I just tested the demo app only on the samsung device
which is samsung pad( Samsung GALAXY Tab 4 10.1 ) and model name is SM-T530.

I tested other devices such as LG Pad , Samsung mobile phone and many others but I didn't make the same
bug unfortunately.

I recorded the bug scene and attached below and attached the source code again.
I would be happy

[2018-07-18 08:09] luckylook commented on #4522
ok thx :)

[2018-07-18 08:55] botaydotcom commented on #4521
I don't have much experience with that either, but a quick [Google search](https://www.google.co.uk/search?q=Fatal+Exception%3A+java.lang.NoClassDefFoundError+multidex+lollipop) shows lots of people with similar crashes (maybe with different classes).
I think you will have more luck with this question on a site such as StackOverFlow.

[2018-07-18 09:13] qeadsw opened #4529 "I tried to monitor the online video rate, but there was no trigger."
I'm using version 2.8.2. Maybe I'm too stupid. Could you please help me modify it and send it to me completely? Thank you very much.
------------------------------------------------------------------------------------------------------------------------
    	DefaultBandwidthMeter.Builder builder = new DefaultBandwidthMeter.Builder();
        builder.setEventListener(new Handler(), new BandwidthMet

[2018-07-18 09:27] ojw28 commented on #4529
The code looks fine, but you may get very infrequent bit-rate updates (possibly only at the end of playback, depending on the type of source).

The bandwidth meter is really designed for adaptive playback cases (DASH, SmoothStreaming, HLS), where bit-rate measurements can actually be used for something useful in the player (i.e. adapting to a different quality stream). When doing a DASH/SS/HLS pla

[2018-07-18 09:29] ojw28 commented on #4528
You can use track selection overrides, as described in [this Javadoc](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html), however when an override is made the switch will be immediate and therefore require a short period of re-buffering.

I'm not sure if that's what you want (possibly you do if there's user input involved, since

[2018-07-18 09:30] erdemguven commented on #4512
I modified the demo app to download the license on startup and added your media to list of samples. I downloaded the media and put the device in airplane mode then started playback. Video plays fine on both real pixel 2 XL and emulator pixel XL.
Here is the patch:
https://gist.github.com/erdemguven/8c5fb4d87f084456c81245f553ba3a2f

[2018-07-18 09:31] ojw28 commented on #4526
If the approach you mention works, then I'd probably suggest doing that. ExoPlayer doesn't skip forward to the live edge automatically.

[2018-07-18 09:32] qeadsw commented on #4529
@ojw28

I want to get the video real-time network speed is there any relevant interface or method?

[2018-07-18 09:38] ojw28 commented on #4529
This isn't something we really support for non-adaptive playbacks. It's unclear what you'd actually do with that information.

[2018-07-18 09:42] ojw28 commented on #4519
That's really weird. Please could you provide the output of `adb bugreport` captured shortly after the point at which the looping occurs?

[2018-07-18 09:48] qeadsw commented on #4529
@ojw28

I want to know the real-time data flow when playing,
Is there a corresponding method?

In other words, I want to know the network resources of video in real time, and only for video.

[2018-07-18 09:52] ojw28 commented on #4413
We've forced this device to L3. Unfortunately I think that's the best we can do, unless Asus OTA the device.

[2018-07-18 09:52] #4413 closed, assigned to paf-wv

[2018-07-18 09:54] ojw28 commented on #4529
This question is already answered by my response above.

[2018-07-18 10:23] jemjov41 commented on #4347
i got the same issue is any one resolve this?

i get this error while doing something like change activity/show dialog without release the player while exoplayer stil buffering/render.
even when im pause the video this error still appear in random time.

note : i'm not release the player because i wanted to play in full screen mode

[2018-07-18 10:55] jemjov41 commented on #4460
i still got this error in same device but different model number mine is X00AD but it asus zenfone GO too

i got the error while click button to fullscreen mode or just swipe the view(im using recyclerview) without release the player.
any one can tell me how to avoid/handle this?

[2018-07-18 11:09] Mamietti opened #4530 "HDCP and Secure Path Supported in L3?"
I'm attempting to implement Widevine L3 into an Android phone, but whenever HDCP and Secure Path are needed, Exoplayer (withExtensionsDebug, version 2.8.0) tests fail after 12 seconds. These ones pass:
WV: HDCP not specified
WV: HDCP not required
WV: 30s licence duration(fails at ~30sec)

The documentation provided in my issue does not explicitly specify what is supported in L3, the Google documen

[2018-07-18 11:38] ojw28 commented on #4530
I can explicitly confirm this is working as intended.

[2018-07-18 11:38] #4530 closed, assigned to ojw28

[2018-07-18 12:09] #4529 closed, assigned to ojw28

[2018-07-18 12:26] junburg opened #4531 "EOFException, when I play mp4 file"
I am now creating a DataSource that can be decoded every 4096 bytes of video. So I implemented the following logic. The decryption logic has not yet been inserted. It was to see if the original video was driven from the following sources. However, the original video does not go back after coding as below.

I need to adjust the buffer size because I have to decode every 4096 bytes. yes, I'm using m

[2018-07-18 12:28] ojw28 commented on #4531
Debugging your own custom components is not within the scope of this issue tracker, sorry.

[2018-07-18 12:28] #4531 closed, assigned to ojw28

[2018-07-18 13:55] jschamburger opened #4532 "Crash in Assertions.checkArgument on Samsung Devices with Android 7.0"
### Issue description
Hi,
since updating the ExoPlayer from 2.4.4 to 2.8.1, we noticed a significant amount of crashes on Samsung Devices with Android 7.0. Unfortunately, we haven't been able to reproduce the crash ourselves - we are aware of the issue only due to Crashlytics reports.
Therefore, this bug report certainly lacks some information, but maybe you might have an idea (or somebody might h

[2018-07-18 14:30] ojw28 commented on #4532
That looks strange. It's also strange that we've not seen this reported by anyone else, unless it's somehow also specific to your application. Do you have any custom components that you're injecting into `ExoPlayer`, or are you using only components provided by the library?

[2018-07-18 16:25] aarondib commented on #4448
@andrewlewis any news on the issue?
I'd add, it happens both when Nvidia Shield TV connected through AVR or directly to TV (Sony Bravia).

[2018-07-18 19:00] basisworldwide commented on #4512
@erdemguven I just emailed the full source...the solution you provided I already had in place. I did swap out some of the data sources and got the first screen to show. However, I'm getting an internal error when trying to start playback.

The only thing I can think that could be preventing playback is i'm not passing any of the representation keys for what I wanted played back...but I would assum

[2018-07-18 19:28] ojw28 opened #4533 "ChunkSampleStream cannot handle empty chunks"
It assumes a source has at least one sample. If it doesn't and reports EOS immediately, this happens:

[code]

There are also some related edge cases to do with empty chunks:

* Should we report their formats to `downstreamFormatChanged` (probably yes, but we don't currently do this in all cases).
* Should we do this even if it's the very last chunk (probably yes).
* Should `discardBuffer` discard

[2018-07-18 23:53] kimdohyung5 commented on #4519
I captured the adb bugreport after looping occured.

[adbbugreport_2018_07_19.txt](https://github.com/google/ExoPlayer/files/2207690/adbbugreport_2018_07_19.txt)

[2018-07-19 08:19] jschamburger commented on #4532
Thanks for the quick answer! The fact that you haven't heard this from anyone else certainly points towards an issue in our application.

We are using a custom `DrmSessionManager`. In our application, rapid zapping between different streams (most of them DRM protected with the same init data) is crucial. Therefore, we have implemented a `DrmSessionManager` which uses a `DefaultDrmSessionManager` a

[2018-07-19 08:55] luckylook commented on #4522
how can i go back to live mode i trying to use player.seekTo(0) and that
return me to the start of the buffer when i hit pause

2018-07-17 14:07 GMT+03:00 ojw28 <notifications@github.com>:

[2018-07-19 09:55] keiththompson opened #4535 "PlayerNotificationManager behavior during ads."
What is the desired behavior of `PlayerNotificationManager` while advertisements are playing?

What I have mostly observed is that the notification doesn't display while ads are playing and then starts displaying once the main content begins.

However I have observed a crash while playing an ad on a Pixel C running Android 8.1.0.
I've observed this behavior with and without a media session token.

[2018-07-19 10:16] ojw28 commented on #4535
@marcbaechinger - Could you take a look?

[2018-07-19 10:32] shri-hari93 commented on #4361
@tonihei Thanks for the clarification. 👍

Regarding your suggested solution, I could able to get the information that I needed but the issue that I'm facing right now is that, I have to collect these metrics periodically when the load is completed and send it to metric server, since I'm listening to multiple event methods (`onLoadingStarted`, `onLoadingCompleted` and `onBytestransferred`) the vera

[2018-07-19 10:35] ojw28 commented on #4522
Use `seekToDefaultPosition` or `seekTo(C.TIME_UNSET)`.

[2018-07-19 10:44] ojw28 commented on #4519
Unfortunately the important bits are for some reason missing from the bug report. Could you instead try running `adb logcat > logcat.txt` (start the command when you start the first playback, and kill it at some point after the looping occurs), and providing the captured log? Thanks.

[2018-07-19 11:03] tonihei commented on #4361
I don't understand where the problem is with getting the callbacks immediately? Note that the TransferListener callbacks are called on the loading thread and AnalyticsListener callbacks on the main thread. Maybe that's the reason why you think there not called in sequential manner.

The media duration is often only known after the load finished. Please listen to updates in onTimelineChanged to che

[2018-07-19 11:31] ojw28 commented on #4532
Do you have any customizations to the allocator? Are you using the standard `DashMediaSource` without doing anything special to it, or do you have customizations in the source as well. If so, they would be the most likely culprit.

Could you also check whether the reports you're getting are from official Samsung builds (vs some random ROM that a few users have flashed onto their devices)? Some bui

[2018-07-19 11:46] qeadsw opened #4536 "Ask some questions about caching"
Can the file name and size be changed?    (0.0.1532000135393.v3.exo  2MB)
I set a password but it didn't work, and I could still play it on another player.

[2018-07-19 12:43] erdemguven commented on #4536
File names of cache files can not be changed. You can set the maximum cache file size while you create CacheDataSource.

We can look at the password problem, if you create a separate issue and providing all off the information asked on the issue template.

[2018-07-19 13:02] mkarthick92 opened #4537 "Exoplayer play with Using Retrofit"
Hi,
I am facing the issue is the video streaming url in exoplayer 2.1.0 they play the video only the android version 7 and 8 but not play the video in the android lower version like 6,5,4.4..
The HLS Stream method i get the video properly in the nougat and oreo based device but not able to get the video but the duration of the video is display but the video is not playing.
and my log cat is

the L

[2018-07-19 13:04] jschamburger commented on #4532
We have no customizations to the allocator and we are using the standard `DashMediaSource`:
`new DashMediaSource(uri, buildDataSourceFactory(false), new DashManifestParser(), new DefaultDashChunkSource.Factory(mediaDataSourceFactory), DEFAULT_MIN_LOADABLE_RETRY_COUNT, LIVE_PRESENTATION_DELAY_MS, mainHandler, eventLogger);`

The crash occurs only on Samsung devices with Android 7.0, but the ones I

[2018-07-19 14:35] ojw28 commented on #4537
`InvalidResponseCodeException: Response code: 400` is a "Bad Request" response from the server. You need to figure out why your server is responding in that way. It doesn't look like an ExoPlayer issue.

[2018-07-19 14:59] erdemguven commented on #4512
Did you try the demo app with my patch? Did it work for you?

[2018-07-19 15:17] basisworldwide commented on #4512
I did not try that yet because the flow was slightly different. I didn’t see if your version downloads the asset for offline if so I can give that a try today.

Also did that use version 2.7.3 or a different version?

Sent from my iPhone

[2018-07-19 15:25] erdemguven commented on #4512
I used latest development version of ExoPlayer. You might need to do modifications to make it work for 2.7.*

Btw, I tried your code. To make it work you need to use CacheDataSource for loading chunks too:
[code]
It works fine with this fix.

[2018-07-19 17:19] basisworldwide commented on #4512
It is still not working for me....I'm getting the following issue:

07-19 10:19:16.412 5134-5164/com.ayalus.exoplayer2example
E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.ParserException:
org.xmlpull.v1.XmlPullParserException: unterminated entity ref
(position:TEXT @3:458 in java.io.InputStreamReader@11d678b)
        at
com.google.android.exoplayer2.source.dash.manifest

[2018-07-19 18:44] tmm1 opened #4538 "Some h264 files will not render any video"
### Issue description

Some H264 videos (ones that use PAFF interlacing it appears), do not play in ExoPlayer on any device. Other players (like VLC) which also use MediaCodec are able to play these same videos.

`mediainfo` shows this about the affected files:

[code]

### Reproduction steps

Add https://s3.amazonaws.com/tmm1/uk-interlaced-h264.ts to `media.exolist.json` and try to play it.

###

[2018-07-20 00:09] baconz commented on #4321
@ojw28 I'm still able to reproduce this on 2.8.2.

Here's a simple 3-segment manifest that will repro:

https://static-us-east-2-fastly-a.www.philo.com/storage/cea608-exo-bug/manifest.mpd

My naive solution would be to check that `end > cueStyle.start` before the `setSpan`, but maybe somebody with deeper experience in the 608 code can come up with a correct solution.

[2018-07-20 01:10] kimdohyung5 commented on #4519
I logcated two files under one device with difference exo versions( v2.8.0 vs v2.7.3).
One file was logcated under v2.8.0 version and has the issue.
[logcat_issue_v2.8.0_2018_07_20.txt](https://github.com/google/ExoPlayer/files/2212121/logcat_issue_v2.8.0_2018_07_20.txt)

The other was logcated under v2.7.3 version , which works well.
[logcat_nonissue_v2.7.3_2018_07_20.txt](https://github.com/goog

[2018-07-20 03:18] cassiohoffmann opened #4539 "The memory is accumulated in one instance of "com.google.android.exoplayer2.source.SampleQueue"
### Problem description
Hello friends, I am using Exoplayer version 2.8.2 for a project in which the video is stored on tvbox a95x.
After some time of use, about 1 hour, the application stop respond and, analyzing the hprof memory dump , seems to have something wrong with the resource release process that I can not identify.
Each time you viewed a video, I create my player as follows:

playerListe

[2018-07-20 03:42] qeadsw opened #4540 "After an online mp4 cache is finished, how to export the cache file to a standard mp4 file."
If the cache is complete what if I export a standard video file?

[2018-07-20 04:38] mkarthick92 commented on #4537
Hi ojw28,
But the video url play in vlc player and also they play in android version 7 & 8 devices

[2018-07-20 06:15] qeadsw commented on #4540
Tracking this method is always 49 bytes less.  "CachedContent.getCachedBytesLength()"

[2018-07-20 08:07] AndroidDeveloperLB opened #4541 "Request: show in sample how to normalize volume of audio files"
As a user, one of the most annoying things when I play some music, is that some songs have very different volume levels than others, so I find myself often changing the volume level manually.

And if you use Google Maps while playing music, it gets even worse, because you might have the navigation speaks in very high/low volume as they both use the same volume type (that's why I requested a change

[2018-07-20 08:30] andrewlewis commented on #4541
Regarding music playback during navigation, the documentation on [audio focus](https://developer.android.com/guide/topics/media-apps/audio-focus) may help, especially the part about audio ducking.

I think the request to add normalization support is already addressed by #3349. The files need to be scanned to get information about how loud they are before we can normalize their audio levels. The sc

[2018-07-20 08:30] #4541 closed, assigned to andrewlewis

[2018-07-20 09:51] ojw28 commented on #4321
@baconz - The fix hasn't made it into a release yet, so that's expected. Thanks for the sample, that's really helpful. I can confirm that the failure does not occur with this sample in our `dev-v2` branch.

[2018-07-20 09:58] ojw28 commented on #4539
Is that showing around 15MB of buffer? That sounds expected to me. How do you know it's a leak and/or is accumulating? The post above doesn't seem to justify this claim.

[2018-07-20 10:00] AquilesCanta commented on #4505
No bugreport has been provided (the issue template explains how to obtain one). Also, a single one may not be enough. Try to provide a clear explanation of each run (one that works and one that doesn't **for the same stream**), with its corresponding bugreport.

However, I suspect this issue is more related to codec capabilities advertising than width and height.

If you think width and height are

[2018-07-20 10:34] ojw28 commented on #4537
That doesn't necessarily mean it's an ExoPlayer issue. Most likely you see that samples in our demo app do not have this issue, which suggests the issue is specific to the server you're requesting content from. Perhaps it's responding with 400 based on the user agent or something, and ExoPlayer is setting a user agent that the server is failing to handle on those API levels.

We can take a quick l

[2018-07-20 10:43] ojw28 commented on #4540
Our caching components are not designed for exporting video files, and we make no guarantee as to the format of the files on disk (e.g. we may write extra metadata into the files, and we may change the format over time). If you want this kind of functionality then you should implement your own code to download files.

[2018-07-20 10:43] #4540 closed, assigned to nobody

[2018-07-20 10:47] ojw28 commented on #4519
Are you using the standard ExoPlayer demo app? I'd expect logging from ExoPlayer's `EventLogger` component if so, but I don't see any. That's the logging I'm really interested in. Any idea why it's missing?

[2018-07-20 11:55] AndroidDeveloperLB commented on #4541
About audio focus, how is it related? Also, out of curiosity, could this be useful for apps that need to play an alternative ringtone while having an incoming call, by using the same volume type as of ringtones, and avoid having the real ringtone play?

There is no code or sample on the first link you've provided. Is it a hard thing to do?

I didn't ask for adding the feature. I asked for how to d

[2018-07-20 13:31] erdemguven commented on #4512
I tried your code on emulator (Pixel XL) and a real device (Nexus 6), and as far as I can see it works. Sorry, I don't think there's anything else we can do. You might want to try on real devices.

[2018-07-20 13:43] ojw28 commented on #4538
Please see: http://google.github.io/ExoPlayer/faqs.html#why-do-some-mpeg-ts-files-fail-to-play

[2018-07-20 13:46] cassiohoffmann commented on #4539
Hi, thanks for the feedback!
Before using the Exoplayer I used the Mediaplayer and the application was running for more than 24 hours uninterrupted but the Mediaplayer does not answer for other needs.
The prints shown above were collected from Eclipse Mat as a helper because I saw that this number only increases until the application stops responding in + - 1 hour
is there any more log I can pass

[2018-07-20 13:58] erdemguven commented on #4512
One small detail, I forgot to mention, is as the code you shared with us was missing the getDataSourceFactory() method I defined it as
[code]
Hope that helps.

[2018-07-20 15:00] ojw28 commented on #4539
It's hard to know what to make of the screenshot (I haven't used Eclipse Mat for a long time), but a single instance of `ExtractorMediaPeriod` consuming 9MB or 15MB or RAM doesn't sound unusual. I took a look at the attached hprof in Android Studio and I don't see anything to suggest there's excessive memory usage. Was that captured at the point where the issue occurs? If not, please capture one a

[2018-07-20 15:07] ojw28 commented on #4532
What do the percentages mean? Percentage of what? Thanks!

[2018-07-20 15:54] BrainCrumbz commented on #4414
It looks like this is a duplicate of #3438

[2018-07-20 15:58] andrewlewis commented on #4414
Duplicate of #3438

[2018-07-20 15:58] #4414 closed, assigned to andrewlewis

[2018-07-20 16:07] marcbaechinger commented on #4535
The preferred behaviour is that the notification is shown during ads, but playback control actions are not shown.

The crash you've seen is a abug and the fix is what you describe. We'll fix that. Thanks for reporting.

[2018-07-20 16:21] BrainCrumbz opened #4542 "[PR offer] Remove an index range in ConcatenatingMediaSource"
### Issue description
We found ourselves in need of removing a contiguous set of tracks (i.e. playlist items) from a `ConcatenatingMediaSource`. Basically that would result in extending its public API with two methods like:

[code]

Involved indices go from `fromIndex` (included) to `toIndex` (excluded), following same convention as e.g. `List<E>.subList()`.

We put together a working implementati

[2018-07-20 16:26] ojw28 commented on #4542
Sounds like something that would be useful. @tonihei - Any thoughts?

[2018-07-20 16:28] tonihei commented on #4542
Yes, definitely! PRs are always welcome. The general approach you describe sounds correct and such a method could be useful for other people as well.

[2018-07-20 16:39] tmm1 commented on #4538
Thanks for the pointer. I confirmed that this sample is missing IDR slices, and setting `FLAG_ALLOW_NON_IDR_KEYFRAMES` fixes the playback issue.

[2018-07-20 16:39] #4538 closed, assigned to ojw28

[2018-07-20 17:42] bragonya1992 opened #4543 "Abstract Method issue"
Hi there, i have an issue that i can't resolve, there is not information on internet about it.

I was using exoplayer v. 2.5.4, now i'm using exoplayer v.2.6.1 because leanback does not have support for 2.5.4 version, there is not problem with playback, but i have the follow issue

![screen shot 2018-07-20 at 11 35 53 am](https://user-images.githubusercontent.com/25595000/43016899-9fb78b2c-8c11-11

[2018-07-20 17:49] paf-wv commented on #4413
Asus confirmed no new OTAs.

[2018-07-20 19:37] cassiohoffmann commented on #4539
Hello, I followed your orientations and I monitored by AndoiStudio. see if it helps identify.
It seems that objects are being allocated but are not being released for some unknown reason
<img width="1399" alt="screen shot 2018-07-20 at 3 20 14 pm" src="https://user-images.githubusercontent.com/19987318/43021687-efd4b82c-8c3a-11e8-872a-bac22132aa4c.png">
[AndroidStudioDump.zip](https://github.com/g

[2018-07-20 20:29] #4543 closed, assigned to nobody

[2018-07-21 10:55] ZohaibGhafoor opened #4544 "Default Simultaneous Downloads bug."
in DownloadManager DEFAULT_MAX_SIMULTANEOUS_DOWNLOADS = 1; but when i start downloads multiple media like 6 or 7 it downloads 2 media same time not 1;

[2018-07-21 23:21] LaddhaShubham opened #4545 "ExoPlayer Video Blur issue"
Hi,

In exoplayer, I trying to play video but some videos work fine and some video gone blur.

I made videos application and in that i see all uploaded videos but when I upload video from my android device then video work fine but when i upload video from iOS device then video gone blur.
Can you please suggest where I have to change into code?

![img_2018](https://user-images.githubusercontent.com

[2018-07-22 10:46] AndroidDeveloperLB opened #4546 "Bug: unable to avoid interruption of audio by phone call"
I'm trying to have a behavior on an app that plays a video, to continue playing without interruptions (including audio), even if there is a phone call.

For this, I tried to use:

        player!!.audioAttributes = AudioAttributes.Builder().setFlags(C.FLAG_AUDIBILITY_ENFORCED).setUsage(C.USAGE_NOTIFICATION_RINGTONE).setContentType(C.CONTENT_TYPE_SPEECH).build()

But when the video plays, and I get

[2018-07-22 10:54] AndroidDeveloperLB commented on #4429
Interesting, but will it play ads of YouTube? Even if the video was created by the developer or something?

[2018-07-22 11:18] AndroidDeveloperLB commented on #4546
In case I just do something wrong in code, I decided to write about this here:

https://stackoverflow.com/q/51464531/878126

[2018-07-22 14:33] cassiohoffmann commented on #4539
Hi friend, I did a simulation using mediaplayer and the application keeps running for more than 1 day without interruptions. The purpose of the test is to try to help solve what may be causing the Exoplayer not to be running for that same time.
If you need more information, log or if you have any suggestions for me to apply in the test I am at your disposal. I really liked the exoplayer and I'm wi

[2018-07-22 15:50] RuijiePan opened #4547 "getWindowIndex() sometime is delay"
//Version
2.7.3

//Description
I'm using ClippingMediaSource and DynamicConcatenatingMediaSource to play multiple video clips, and i need to know the current index of window when onVideoSizeChanged callback, but i found sometime the index is not correct because onPositionDiscontinuity->DISCONTINUITY_REASON_PERIOD_TRANSITION is later than  onVideoSizeChanged.
so i getWindowIndex() is an un correct

[2018-07-22 18:02] satyres opened #4548 "Support seeking in AAC"
Hi , i've tried  to seek into AAC files but they won't
Please is there a way to let AAC file seekable.
Can you add this option in the futur ?
Thanks

[2018-07-22 19:46] paavalan commented on #4527
@ojw28 now i am hiding via

dialogPair.second.removeViewAt(4);

Sure. i will implement a function in TrackSelectionView  and send pull request

[2018-07-22 19:47] ojw28 commented on #4429
The uploader of the video sets whether that video is monetized (i.e. may display ads) or not.

[2018-07-22 19:48] ojw28 commented on #4538
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-07-22 19:49] ojw28 commented on #4545
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found here.

If you’re able to provide complete information as requested in the issue template, please do so below and we’ll re-open the issue. Thanks!

[2018-07-22 19:49] #4545 closed, assigned to ojw28

[2018-07-22 19:52] ojw28 commented on #4546
Can you please explain your use case (i.e. why do you want to do this)? Allowing an app to suppress the ringtone sounds like a bad idea to me (and I'd hope that it's not possible, at least without some kind of special permission).

[2018-07-22 19:53] ojw28 commented on #4537
Closing because we don't have a working test stream. Please respond here if you're able to provide one.

[2018-07-22 19:53] #4537 closed, assigned to ojw28

[2018-07-22 20:02] ojw28 commented on #4548
We may add approximate seeking using a constant bitrate assumption, at some point in the future.

That said, if you need seeking, you should really be using a container format that's better able to support it (e.g. MP4).

[2018-07-22 20:08] ojw28 commented on #4539
I'm not sure I understand how you reached that conclusion from the screenshot attached. It seems to show relatively stable memory usage.

Can you reproduce this issue using the ExoPlayer demo app, or a small modification of it that causes media to loop? If so then please can you share that patch with us, or else share some other way in which we can reproduce the issue. Right now there's not really

[2018-07-22 20:10] AndroidDeveloperLB commented on #4429
I didn't know this, but why would anyone wish to put ads? Do they get a cut of the revenues?

[2018-07-22 20:35] ojw28 commented on #4429
Yes. This is something you can pretty easily research yourself, for example [here](https://creatoracademy.youtube.com/page/course/channel-revenue?hl=en-GB).

[2018-07-22 20:40] cassiohoffmann commented on #4539
Hello, I have not yet come to an exact conclusion.
in the last test posted I made the exchange of the exoplayer by the mediaplayer and worked more than a 1 day without giving problem presented when I use the exoplayer. When I returned the exoplayer, it gave back trouble.
I will provide a simpler test for you to play in your test environment!

[2018-07-22 20:43] AndroidDeveloperLB commented on #4429
OK thank you

[2018-07-22 20:53] JofArnold opened #4549 "Support multiple tracks and at arbitrary insert points"
Hi. Just to confirm I dug through the code, issues, API and SO posts (caveat: my Java is weak) and I can't find if you support this feature.

I wish to make a video editing tool where I can insert video and audio at any point in time, trim video and audio, and layer multiple audio tracks (see sketch). This has to happen in realtime so ffmpeg isn't an option. This is fairly straightforward to do in

[2018-07-22 21:09] AndroidDeveloperLB commented on #4546
Why a bad idea? Apps can do so much more than this. Apps can even turn on Do-not-disturb, if the user grants them this permission. I don't see what's wrong here.

My use case is as I wrote. To show a video that will continue playing with audio, without having incoming calls interrupting.

For the app I was given to develop, I need to actually play a video (with sound) when there is an incoming cal

[2018-07-22 21:28] ojw28 commented on #4546
It's not something I'd want apps to be able to do, as a user. Just my personal opinion. At least with do-not-disturb mode, that would be reflected to the user in the notification bar.

That aside, I don't think it's possible to configure ExoPlayer (or MediaPlayer) in a way that it will cause it to suppress the ringtone. You may or may not be able to suppress the ringtone some other way via Android

[2018-07-22 21:53] AndroidDeveloperLB commented on #4546
First of all, just because you see something in the notification bar, you don't know which app did this.
If at all, it should have shown a notification of which app has changed it.
Just like what I think should be done for other cases.

But anyway, this is wrong to say "It's not something I'd want apps to be able to do, as a user". There are so many users out there, and you didn't see the app yet

[2018-07-23 00:26] kimdohyung5 commented on #4519
I didn't know you need that EventLogger.
I suppose that the ExoPlayer demo app has the EventLogger added.
so, I logged with ExoPlayer demo app.

Here is the logs.
one is adb log and the other is adb bugreport.
so I hope it helps the error would be gone.

[adb_bugreport.2018.07.23.txt](https://github.com/google/ExoPlayer/files/2217542/adb_bugreport.2018.07.23.txt)

[adb_logcat.2018.07.23.txt](https

[2018-07-23 00:36] cgarcia55 commented on #3985
could you upload an example, I tried to follow the instructions but without success

[2018-07-23 07:03] jschamburger commented on #4532
Sorry, should have mentioned that.

The percentages refer to the total number of crashes we had. We had ~500 crashes (~300 users) in the last 30 days, of which 100% were on Samsung devices with Android 7.0. Of those 500 crashes, 43% happened on the Galaxy Tab A etc.

[2018-07-23 07:41] BrainCrumbz commented on #4542
Great. Could you share some info on the testing side? We had no chance to look at that yet, it was an experimental implementation after all.

We noticed [ConcatenatingMediaSourceTest.java](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/test/java/com/google/android/exoplayer2/source/ConcatenatingMediaSourceTest.java) is quite a long one. Have you got any suggestion on what/whe

[2018-07-23 08:18] tonihei commented on #4542
Yes, tests would need to be added to this file. The file is already quite long as we added a lot of tests for standard and edge case scenarios. If you find that too confusing we can easily add the test ourselves.

[2018-07-23 08:24] andrewlewis commented on #4541
It seems like part of the issue is that music drowns out navigation sounds, and audio ducking could help with that, but this actually doesn't solve the main problem of navigation sounds being too loud/quiet having set the stream volume for the music. The ringtones question seems to be covered by #4546. Implementing support for audio focus handling is not very difficult, though it won't address you

[2018-07-23 08:28] tonihei commented on #4547
What you describe is basically working as intended. The reason is that these two event (onVideoSizeChanged and onPositionDiscontinuity) belong to different listeners and our listeners are not synchronized to each other for various reasons.

However, we recently added the `AnalyticsListener` class which combines all listeners we have in one place and gives additional information for each event (inc

[2018-07-23 08:40] andrewlewis commented on #4546
I'm not aware of a way to suppress the ringtone, though you might get a more authoritative answer on the AOSP issue tracker.

If your use case is to play a video when there's an incoming call, perhaps implementing a custom calling app would be better. This seems to be supported since Marshmallow: see [Build a calling app](https://developer.android.com/guide/topics/connectivity/telecom/selfManaged)

[2018-07-23 08:40] #4546 closed, assigned to andrewlewis

[2018-07-23 08:50] islor opened #4550 "How to get available seek range on a Dash live stream?"
I'm trying to get the seekable range for a live stream from the player.
Can someone point me to the right direction? Do I use getCurrentTimeline? If so, what should I do next?
I need the range because my team has already implemented our own control view for our generic video player. So we're not going to be using the PlayerControlView. I've seen it mentioned that this is implemented but can't seem

[2018-07-23 08:55] tonihei commented on #4550
Please have a look at the explanation of our media model [here](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Timeline.html).
In particular, the "window" should be the seekable range in the live stream. You can access the information about the relative position of the window to the period by using `window.positionInFirstPeriodUs` and `period.positionInWindowUs`. Pl

[2018-07-23 08:55] andrewlewis commented on #4541
As an aside: I think the suggestion of having a separate volume for navigation, which is part of the [issue you filed](https://issuetracker.google.com/issues/111408330), is not really going to help with the actual problem here. If that was added, users would still need to change volume when playing different unnormalized music sources in your app, and they'd also have the inconvenience of needing

[2018-07-23 08:59] AndroidDeveloperLB commented on #4546
Can you please check it out though? The docs seem to mean that it is possible?

I mean, what do the flags I used (in the first post) mean, if not that?

About building a calling app, I'm aware of this (and I've found a nice sample for it, [**here**](https://github.com/arekolek/simple-phone)), and suggested this solution too. It does replace the whole UI of the calls, and I think it's very cool, an

[2018-07-23 09:06] islor commented on #4550
@tonihei what's the difference between positionInFirstPeriodUs and positionInFirstPeriodMs? In particular, what does Us denote?

[2018-07-23 09:09] tonihei commented on #4550
Microseconds (typically "μs", but using Greek letters in code is of course a bit difficult, so "us")

[2018-07-23 09:11] ZumiKua opened #4551 "Is there any way to pass DataSpec flags to ExtractorMediaSource?"
DataSpec has a FLAG_ALLOW_CACHING_UNKNOWN_LENGTH flag and CacheDataSink will check this flag in its open method, but when using ExtractorMediaSource, DataSpec is created by ExtractorMediaSource and we can't change it's flags field, which results in we can't cache unkonwn length file while playing it with ExtractorMediaSource.
Currently, I'm creating a custom ForceUnknownCacheDataSource to override

[2018-07-23 09:12] AndroidDeveloperLB commented on #4541
How could audio-ducking help? I'm talking about volume. The volume I hear is very different between the navigation and the music, even though they are on the same volume type (audio source is media) .

The ringtone question isn't answered yet, as I don't get how to do it. I tried to use the available API which give clues that it's possible, but since it's not describing enough what the various fla

[2018-07-23 09:15] islor commented on #4550
Oh right, thanks! let me try out your suggestions

[2018-07-23 09:31] andrewlewis commented on #4541
If music continues playing uninterrupted at the same volume while directions play, the user may miss directions played "on top". Audio focus/ducking helps with that because it tells your app when to reduce the music volume (via `simpleExoPlayer.setVolume`), so you should implement support for it. But as you say, if the media volume is too loud/quiet this doesn't fully solve the problem.

I don't t

[2018-07-23 09:43] RuijiePan commented on #4547
It's work, thank you very much!

[2018-07-23 09:44] #4547 closed, assigned to tonihei

[2018-07-23 09:47] andrewlewis commented on #4546
I suspect your app's audio is automatically being ducked if you're using a build from API 26 onwards, though I'm not certain (you could see what happens on an earlier API version to check this, if you want).

A custom calling app seems like the right way to achieve the result you're aiming for. As it's not an ExoPlayer bug or feature request, we can't provide further guidance here I'm afraid.