[2020-06-14 11:51] #7489 closed, assigned to ojw28

[2020-06-14 11:53] ojw28 commented on #7461
I left my device running the video on loop for over 2 days and there's no sign of a memory leak. I think we need the additional information requested above to investigate this further.

[2020-06-14 12:19] gokulkalagara commented on #7444
Redmi Note 8 pro also getting frame drops while playing, please cross check why this happened

[2020-06-14 12:20] eneim opened #7498 "Support dynamic start and end positions in ClippingMediaSource"
### Question

I want to ask if it is possible to have/create a MediaSource that allow custom start/end position like the ClippingMediaSource, but those start/end position can be modified after constructing the MediaSource?

An imagined scenario is an App for video editing and user can set and edit trimming positions and can preview the video at the same time.

[2020-06-14 12:43] cle-bo opened #7499 "Exoplayer crashes/not able to reinitiate after playing a certain MP4 on Tanix TX6 TV Box"
### [REQUIRED] Issue description
The Exoplayer crashes and is not able to restart after playing a certain video file (see middleclip_nok.mp4 in demo app) on the Tanix TX6 TV Box (https://www.gearbest.com/tv-box/pp_009149785586.html?wid=1433363#goodsDetail).
The file that causes the problem can be played perfectly fine on another device I own, a Beelink GT1 (https://www.amazon.de/Beelink-Ultimate-A

[2020-06-14 13:10] ojw28 commented on #7491
It may well be the problem. You could simply be exceeding the capabilities of the device, in terms of what decoder components it's able to allocate at any one point in time.

Note that it's not necessary to have two players in order to implement ad-insertion use cases, as demonstrated by ExoPlayer's IMA extension. The two player approach has really quite significant downsides (higher device requir

[2020-06-14 13:12] mareiski commented on #7461
I captured the heap dump after the video was frozen. I also tried to capture it closer to the out of memory exception but there was an error that there is not enough memory on the device available to capture the heap dump.
I will send you the bug report as soon as possible.

[2020-06-14 14:49] High-calcium-tiger opened #7500 "how to work for tag EXT-X-DISCONTINUITY-SEQUENCE？"
as i konw， for EXT-X-DISCONTINUITY，The client MUST be prepared to reset its parser(s) and decoder(s) before playing a Media Segment that has an EXT-X-DISCONTINUITY tag applied to it, otherwise playback errors can occur.
for  EXT-X-DISCONTINUITY-SEQUENCE tag allows synchronization between different Renditions of the same Variant Stream or different Variant Streams that have EXT-X-DISCONTINUITY tags

[2020-06-14 14:58] keyboardr commented on #1993
FWIW, I was able to change how I do this in my app so that I don't need to fork the entirety of ExoPlayer anymore.
I made a copy of `DefaultAudioSink` (with the same package name as the original). My copy has three differences (besides renaming the class): it's not final, `audioTrack` is `protected`, and the `initialize(long)` method was modified so that the `AudioTrack` creation was extracted to

[2020-06-14 16:09] lejahmal opened #7501 "Dynamically add item to playlist with ConcatenatingMediaSource while playback is on the fly"
after read    https://github.com/google/ExoPlayer/issues/1706 and  https://exoplayer.dev/playlists.html
i have a code to dynamically produice a sequence of .mpd file . with this structure below.

[code]
in my contry bandwith of internet is extremly poor so i want to develop a live radio for this conditions my logic is to create a sequence of static .mpd and playback it with a small latence one by

[2020-06-14 22:17] ojw28 commented on #7500
It's very unclear what the question is here. Please could you try and phrase it more clearly? It's also unclear whether this is an ExoPlayer question, or a general question about HLS. If this is a general question about HLS, StackOverflow would be a better place to ask.

[2020-06-15 01:33] guangmingxiong9999 commented on #7493
use ijkPlayer can play @ojw28

[2020-06-15 06:20] Manasovo commented on #7248
Hi guys,

same situation and offer from our side. If your office is open now, we can deliver SONY Tv for free. Just let me know !

[2020-06-15 06:25] #7351 closed, assigned to tonihei

[2020-06-15 06:46] ghost opened #7502 "Use framework speed adjustment where possible (e.g., API 23+)"
I have used `ConcatenatingMediaSource` to play videos one by one. I am working on video editing app. There is speed changes feature also. I have set speed `0.5` for 1st video, then `1` for 2nd video and `4` for 3rd video. It is working fine when I play video from specific position using `player.seekTo(currentPosition, C.TIME_UNSET)`. But When play video one by one then its take time to change spee

[2020-06-15 07:25] ojw28 commented on #7248
Duplicating to https://github.com/google/ExoPlayer/issues/7009; there's no need for us to have two issues tracking this. Our office is still closed, and we do not have a date for it reopening.

[2020-06-15 07:25] #7248 closed, assigned to Samrobbo

[2020-06-15 07:25] ojw28 commented on #7009
See #7248 for an additional bug report, sample content etc.

[2020-06-15 07:31] andrewlewis commented on #7502
This report sounds the same as #6649. The underlying problem is that we speed up/slow down audio before writing it to the `AudioTrack`, but this means that on a speed change the track's buffer has to drain before the new speed takes effect.

As a hacky workaround for the short term, you could use a timed message (#2189) to set playback speed one second before the end of a track.

For #6649 the enh

[2020-06-15 07:50] ojw28 commented on #7493
It looks like the key URI is returning the wrong number of bytes (24, whereas I think 16 is expected because the key is supposed to be 128 bits). I suggest you take a look at that, and also get to the point where it plays correctly in VLC or Safari.

[2020-06-15 08:09] fpittersacc commented on #7494
Yes, I think it would be OK to skip. Thanks.

[2020-06-15 09:03] lejahmal commented on #7501
i finaly solved my problem by following this logic https://www.programmersought.com/article/5930505981/;jsessionid=7D464E9D6EA3D748929F9D529934912E

[2020-06-15 09:12] guangmingxiong9999 commented on #7493
I know Thanks

[2020-06-15 09:13] arlimm318 opened #7503 "Which version of the HLS protocol does the player support？"
The HLS protocol has been updated to version 8.
Which version of the HLS protocol does the ExoPlayer support？

[2020-06-15 10:51] gokulkalagara opened #7504 "Passing offline keys to drm session manager but sometimes it calling license server"
**While playing the online dash video with offline license**

[code]

**Exoplayer calling license server sometimes why this happened even offlineLicenseKeySetId exist**
I download license of URL and store to the database and getting licenses from DB to exist based on URL as per expiry time limit

[code]

What I have to do?

[2020-06-15 11:50] #7424 closed, assigned to marcbaechinger

[2020-06-15 12:03] manish-jet opened #7505 "Is SimpleExoPlayer Multiple Instances Allowed ?"
I want to play Video in list and need NextPlayer,ActivePlayer and Previous Player.

Is there any way to achieve lets suppose I am playing 1th position video and want 0th and 2nd Video Prepared .

I have wasted 2 days to achieve this using 3 player but not get success .Please let me know if it is possible .Thanks in advance

[2020-06-15 12:22] NerdAnonymous opened #7506 "about custom decryption"
How to customize the data source to achieve custom decryption？

[2020-06-15 12:41] johnsky95 opened #7507 "Retrieve current active sources"
### [REQUIRED] Searched documentation and issues
I have searched over stackoverflow and same on the issues on github for exo player.

### [REQUIRED] Question
How to receive current playing sources from the player, like: Video Url, Audio url, Subtitle Url etc.

I know some people say that, If you give the url to the player, why you do not save it. But the thing is that, I do not give to the player

[2020-06-15 12:50] fgl27 commented on #7505
Yes it is I have 5 working at the same time https://youtu.be/EASKYW3TiOQ?t=291 no problem on prepare one when others are playing as you can see.

Depend on the device HW slow devices may not be able to play more then two (even one maybe if is really old device), but that is a issue of the HW and not the player, so what I do is to use a hls playlist that has multiple resolution/bitrates and I block

[2020-06-15 14:28] andrewlewis commented on #7494
After 5a88e0bc1d37b8cd16f993ae51ebe17fa9358ab9 we should avoid crashing on assertion failure (instead we will discard remaining ads).

Aside: when testing using the provided ad tag, I didn't see problems with misconfigured timestamps for midrolls but instead I saw what looks like the issue reported in #7477: we first get an ad count of 3 ads, then this changes to 7 ads in the pod when the next ad

[2020-06-15 15:38] krackjack234 commented on #7491
hi @ojw28  in our case we are using a 3rd party Ad engine and player to play ads. Hence we cannot use exoplayer ima extension.

[2020-06-15 16:21] AquilesCanta commented on #7496
Downloading live streams is not supported by ExoPlayer. Please track #3877.

[2020-06-15 16:21] #7496 closed, assigned to AquilesCanta

[2020-06-15 16:24] AquilesCanta commented on #7498
@tonihei mind taking a look at this? I couldn't find any existing issues, so marking as enhancement.

[2020-06-15 16:26] AquilesCanta commented on #7501
Closing as per comment above.

[2020-06-15 16:26] #7501 closed, assigned to AquilesCanta

[2020-06-15 17:28] ojw28 commented on #7495
Do you really want to rotate the whole `PlayerView`? It sounds like a strange thing to want to do because it would presumably rotate the controls to an orientation other than that of the device.

If you just want to rotate the video then I think you should be looking for a solution that uses `TextureView.setTransform`. There's an example in `PlayerView` itself. Either way, it's probably best if yo

[2020-06-15 17:31] parthbhatti commented on #7482
Is this because of
holder.setIsRecyclable(false) or
Recyclerview.hasStableIds = true?

May be exo player is not releasing player successfully. I am preparing 10 players at a time

[2020-06-15 18:25] ojw28 commented on #7491
The IMA extension is just an example. It's possible to implement the `AdsLoader` interface to talk to a different ad provider. If the ad provider you're using doesn't provide you with sufficient flexibility for you to implement `AdsLoader`, or provide you with their own implementation of `AdsLoader`, then perhaps that should be a feature request to them.

[2020-06-15 19:30] andrewlewis commented on #7477
Thanks for the report. Filed [Internal: b/159042225] to ask the IMA SDK team to take a look and advise whether this is working as intended, and if so what the cause is.

[2020-06-15 19:32] andrewlewis commented on #7477
Regarding the potential solution, I'd expect it to work as long as the final/correct ad count is known before the player buffers to the end of the last ad in the ad pod, but without understanding what's going on in more detail I'm not sure that is guaranteed.

[2020-06-15 19:50] victorraft opened #7508 "Video with preroll stuck in BUFFERING state when resuming playback"
### [REQUIRED] Issue description
I'm having a bug which I think is related to prerolls/IMA, and I was able to reproduce it in the demo app.
It happens when I play a video that has a preroll, wait for the preroll to end, minimize the app by pressing the home button and then return to the app. The playback won't resume, as the player will get stuck in buffering forever.
The last exo related logs aft

[2020-06-15 20:00] AquilesCanta commented on #7503
We aim to always support the newest version. We try to add support for any new features while remaining backwards compatible.

If there's a specific feature for which you don't find support, please file a fresh issue for tracking its addition. It would also be important that you include sample media for us to take a look into adding a specific feature. Also relevant: #4073.

[2020-06-15 20:00] #7503 closed, assigned to AquilesCanta

[2020-06-15 20:04] AquilesCanta commented on #7504
@ojw28 mind providing some assistance here?

[2020-06-15 20:09] AquilesCanta commented on #7505
There's no specific limitation around keeping multiple Player instances alive. If you can provide specific information about what you are having issues with, we may be able to provide more assistance. You can provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) if you think you might be encountering an ExoPlayer issue.

Thanks @fgl27 for your contri

[2020-06-15 20:10] kartiknagarro commented on #7507
@johnsky95 You can use getCurrentWindowIndex() method on player object.

[2020-06-15 20:14] KartikMalik06 commented on #7507
@johnsky95  you can use `getCurrentWindowIndex()` method on player object.

[2020-06-15 20:18] AquilesCanta commented on #7506
There is [some material available](https://github.com/google/ExoPlayer/issues?q=is%3Aissue+custom+encryption) in this issue tracker about custom encryption (example: #2467). You could start by looking at the [AesCipherDataSource](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/crypto/AesCipherDataSource.java), and the [Aes128DataSou

[2020-06-15 20:18] #7506 closed, assigned to AquilesCanta

[2020-06-15 20:28] AquilesCanta commented on #7507
If you want to know which item in the playlist the Player is playing then please let me know, but because of

I suspect that you are playing adaptive media and you want to get the URLs which the player is consuming from. Depending on what you want to do with that URL, you can use [MediaSourceEventListener](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/MediaSourceEventLis

[2020-06-15 22:48] roundsmapp commented on #4924
This same problem is happening with the following smartphones:
- Samsung Galaxy Note 10
- Samsung Galaxy A6
- Samsung Galaxy S9+
- Motorola One

So, it is not a Samsung exclusive problem. Are you able to test in any of the above models?

[2020-06-16 01:46] arlimm318 commented on #7503
I'm Sorry.
But, I still have a question.
The  Tag  EXT-X-I-FRAME-STREAM-INF and EXT-X-I-FRAMES-ONLY Can  be supported?
They were defined in the HLS V4.
On 6/16/2020 04:01，Santiago Seifert<notifications@github.com> wrote：

Closed #7503.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-16 02:24] NerdAnonymous opened #7509 "Some questions about encryption and decryption"
This is the m3u8 file returned by the server：
[code]

note: #EXT-SECRET-KEY-INDEX and #EXT-SECRET-KEY are server-defined decryption fields used to decrypt the encrypted ts file stream of the server，I tried to modify HlsPlaylistParser to get the correct key and customize the datasource to decrypt, but it got an error

[code]

This is my custom decrypted file：

[code]

[2020-06-16 04:14] manish-jet commented on #7505
@fgl27 @AquilesCanta Thanks for your answer I am looking more closely in my code and let you know if any specific problem arise. For now I am closing this thread

[2020-06-16 05:21] ghost commented on #7495
Thanks for your response.
Actually, I am working on video editing app. There is video rotation functionality. So I want to rotate video to display use how it looks like. So Apply `90` rotation to `Playerview`. But If `GL filter` applied then rotation did not work. My problem is that how can I rotate video after `GL filter` applied.

[2020-06-16 06:20] manish-jet commented on #7505
@AquilesCanta  I am Using 3 Exoplayer in RecyclerView
1-ActivePlayer
2-FirstPlayer
3-SecondPlayer

Now when list scroll selected position will be ActivePlayer and I prepare pos+1(FirstPlayer) and Pos-1 (SecondPlayer) When scroll list up releasing ActivePlayer and Assign FirstPlayer To ActivePlayer also release second player and prepare both first and second player

for some video it is working fin

[2020-06-16 07:31] star-andy opened #7510 "rk3288 Can't play video"
[code]
[code]

Unable to play video on RK3288, other devices are working normally

![image](https://user-images.githubusercontent.com/15726024/84744571-09cd2680-afe6-11ea-8f5c-2eb60dbdc445.png)

[2020-06-16 07:57] manish-jet commented on #7505
Hello Team,

Thanks for response and support I found the problem .That problem was in my code not in exoplayer

[2020-06-16 07:57] #7505 closed, assigned to AquilesCanta

[2020-06-16 08:17] tonihei commented on #7498
That's a duplicate of #3163.

[2020-06-16 08:17] #7498 closed, assigned to tonihei

[2020-06-16 08:32] universegalaxy1112 commented on #3750
Any update? This is pretty essential, however, this is not solved yet for a long time.
We lost thousands of clients from the last couple of months and now we're going to put down Exoplayer if you don't have the update for this.
Hopefully, you can solve this within a few days.

Thanks.

[2020-06-16 08:54] andrewlewis commented on #3750
I'm working on it at the moment.

[2020-06-16 09:40] ojw28 commented on #7503
There is an open enhancement tracking supporting those tags (https://github.com/google/ExoPlayer/issues/474). It's generally a good idea to search the issue tracker, in case your question is already answered or your request is already tracked :).

[2020-06-16 09:41] icbaker commented on #7509
Drive by comment: Your `read()` method doesn't seem to actually do any reading? `buffer` is an output parameter you're expected to fill with data.
"buffer - The buffer into which the read data should be stored."
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DataSource.html#read-byte:A-int-int-

Should there be another line in there to call `upstream.read()` to actually

[2020-06-16 10:29] universegalaxy1112 commented on #3750
Hi, Andres, I tested IMA extension with test ad tags,
how can I get the real ad tags?

[2020-06-16 10:34] saschpe commented on #7433
I can confirm the crash with version 2.11.4

[code]

[2020-06-16 11:45] naruto2302 opened #7511 "Play 2 mono mp3 audio streams at the same time, Only 1 Audio was played at a time"
### [REQUIRED] Issue description
2 Instances were created for play 2 Mono-Channel Audio , but only 1 Audio was played.
I also try to play 2 Stereo-Channel Audio at the same time, and both were played correctly.

### [REQUIRED] Reproduction steps
Step 1: Init 2 SimpleExoplayer instances
Step 2: Generate ProgressiveMediaSource from 2 url below (2 Mono Audios stream)
Step 3: setPlayWhenReady(true) fo

[2020-06-16 14:06] andrewlewis commented on #7477
At the point of loading the first ad future ads in the pod may still be loading, and in general to total ad count is an estimate until the last ad in the pod loads.

I think it's safe just to remove the requirement that the ad count doesn't change as it looks like we discard buffered media periods as required to support this in `MediaPeriodQueue`. I will make a fix to do that.

[2020-06-16 14:13] ojw28 commented on #7495
Have you tried approaches based on `TextureView.setTransform` as suggested above?

[2020-06-16 14:26] andrewlewis commented on #7492
There seem to be two (likely related) issues to do with preloading and seeking:
1. After an ad pod coming up has preloaded, if the user seeks before it plays we get `pauseAd`/`stopAd` called for that ad pod. I think this is unexpected because `playAd` was never called for the ad.
1. If the user seeks back, the ad pod never loads again.

I've filed [Internal: b/159111848] to ask the IMA SDK team to

[2020-06-16 14:30] AquilesCanta commented on #7499
Have you tried playing the file in the ExoPlayer demo app? If the file plays on the problematic device using the ExoPlayer demo app, it's likely that there's something wrong in the app you are using to play the file. In general, unless you are testing a specific feature that's not available in the ExoPlayer demo app, please just use the ExoPlayer demo app to test and report playback issues.

If th

[2020-06-16 14:39] ojw28 commented on #4924
We'd already tested with a Galaxy S9 as noted above, which is supposed to be able to reproduce the problem according to https://github.com/google/ExoPlayer/issues/4924#issuecomment-574275500. I was also unable to reproduce this on a Samsung Galaxy S10 under normal circumstances.

Are you sure you're not doing anything that could be dramatically slowing down execution when reproducing this issue? F

[2020-06-16 14:47] andrewlewis commented on #7508
Thanks for reporting this. In the recent IMA SDK API changes VideoAdPlayer now has a `release` method that collides with `ImaAdsLoader`'s release method, which means that when ads complete we treat the `ImaAdsLoader` as having been released.

[2020-06-16 14:51] victorraft commented on #7508
@andrewlewis I know it's soon to ask, but are you able to tell if this is something that could be easily fixed, and maybe a possible ETA on when could we be seeing a release with this fix?
Just asking because we're waiting for the IMA update for months, and now that we got it this bug came with it... so it would be nice if I had any details I could share with my bosses.

[2020-06-16 15:01] andrewlewis commented on #7508
I think we will do a small release to pick up 5a88e0bc1d37b8cd16f993ae51ebe17fa9358ab9 and pending fixes for this issue, #7492 and #7477. It should happen soon assuming nothing major comes up in review, but we can't commit to a specific date. I know this upgrade has taken a while and thank you for your patience so far!

[2020-06-16 16:36] mareiski commented on #7461
Ok it happened again, but I couldn't take a bug report because of this exception:
Failed to get bugreportz version: 'bugreportz -v' returned '/system/bin/sh: bugreportz: not found' (code 0).
If the device does not run Android 7.0 or above, try 'adb bugreport' instead.

I only got a piece of the report in plain text. Any idea how to get the whole report?

[2020-06-16 16:58] ojw28 commented on #7461
What command are you using to try and capture the bug report? The suggestion to use `adb bugreport` is interesting, because that's what I'd suggest using to start with. Which suggests you're maybe using some other command?

[2020-06-16 17:20] AquilesCanta opened #7512 "Fix playback of I-FRAME only variants in Apple's advanced FMP4 stream"
To reproduce, simply play the "Apple master playlist advanced (FMP4)" sample from the demo app and select (using the track selection UI) an I-FRAME only track.

Note: I-FRAME only variants are only accessible through track selection overrides.

[2020-06-16 17:36] AquilesCanta commented on #7510
There is not enough information for us to help with this. Please provide all information requested in the issue template [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced wi

[2020-06-16 17:42] ojw28 commented on #7384
@gokulkalagara - We cannot make progress here until you respond to the question above.

[2020-06-16 17:43] ojw28 commented on #7504
As per our response to other issues filed by yourself, if you're going to file an issue, please properly fill in the issue template and provide us with proper reproduction steps. Ideally in the form of a minimal project on GitHub that demonstrates the issue. Ignoring this advice is an inefficient both your time, and ours.

From the information provided it's impossible to know whether this is simpl

[2020-06-16 17:58] johnsky95 commented on #7507
Thanks for your reply. Well it is not a playlist but a MergedMediaSource which has the same video but on different qualities. It also has subtitles as well the audio.

I wanted to know how to receive current video url, audio url and subtitle url which is automatically selected from Exo.

Thanks again.

[2020-06-16 17:59] johnsky95 commented on #7507
Thats work for a Playlist. But I am using a MergedMediaSource and I am playing same video, only with list of urls which are different qualities, different audios and subtitles.

Thank you.

[2020-06-16 18:07] mareiski commented on #7461
I tried adb bugreport but after this I get the exception above and then the whole report is printed into the terminal. If I use adb bugreport C:\Users\USERNAME\Documents I get the same exception and nothing else happens. I also checked that there is just one device.

[2020-06-16 18:10] ojw28 commented on #7461
I think it's normal that the report can be printed to the terminal on older devices. You can just redirect the output into a file (e.g., `adb bugreport > bugreport.txt`).

[2020-06-16 18:12] AquilesCanta commented on #7507
But if you are using a custom MediaSource (I'm assuming `MergedMediaSource` is a custom component unrelated to `MergingMediaSource`), then I think you are in the best position to decide how to surface this information, since at some point in your code, you should know which is the MediaSource you are obtaining samples from. Am I missing something?

[2020-06-16 18:14] mareiski commented on #7461
I also tried this, it's the same exception, and no textfile is created

[2020-06-16 18:15] ojw28 commented on #7461
If the whole report is printed into the terminal then it must be possible to redirect that into a file one way or another?

[2020-06-16 18:16] mareiski commented on #7461
Unfortunately the output is only printed into the terminal if i use just adb bugreport. If i use adb bugreport > bugreport.txt it doesn't print the report.

[2020-06-16 18:19] ojw28 commented on #7461
Hmm. If the output isn't appearing in `bugreport.txt` when you do that, that sounds like a problem with the terminal you're using, doesn't it? Does `command > output-file.txt` output redirection work in general in your terminal? It seems like this is something you'll need to figure out on your side somehow, in order to provide the report.

[2020-06-16 18:28] mareiski commented on #7461
Ah sorry, I found the file. I will take the report if the error occures again

[2020-06-16 18:55] gokulkalagara commented on #7444
@AquilesCanta please cross-check this almost 12 days is completed

[2020-06-16 19:04] gokulkalagara commented on #7504
### Issue description
I download licenses and store to the DB, for reusability
we are passing offline keys to DRM session manager but sometimes it calling license server.

### Reproduction steps
Exoplayer calling license server sometimes why this happened even offlineLicenseKeySetId exist
I download license of URL and store to the database and getting licenses from DB to exist based on URL as per

[2020-06-16 19:05] ojw28 commented on #7444
@gokulkalagara - Please can you start using this issue tracker appropriately:

* Stop spamming issues requesting updates.
* Stop using `@Person` to cause emails to be sent to issues that the person isn't assigned to or helping with. `@AquilesCanta` is not assigned this issue and has no involvement on it.
* Properly fill out our issue template when initially filing issues.

[2020-06-16 19:06] gokulkalagara commented on #7369
@AquilesCanta please cross-check I sent all details in the email

[2020-06-16 19:07] ojw28 commented on #7504
Marking as "need more info" due to lack of clear reproduction steps. It's not reasonable for you expect us to guess what you've done, try and recreate it, and then see if we can reproduce the issue? Please provide proper reproduction steps, or preferably a minimal project on GitHub that demonstrates the issue.

[2020-06-16 20:21] thealteria commented on #5417
any leads guys?

[2020-06-16 22:06] jt64 commented on #7440
ojw28, this looks like  a codec or exoplayer issue since it is selecting the wrong codec. Can you take a look?

[2020-06-16 22:12] ojw28 commented on #7440
I think there are two issues here:

* The original one, for which we still need a bug report. The correct decoder seems to be selected in the snippet of logging provided.
* Whatever issue @hpsoar is seeing, which is not described in enough detail. It could be that `OMX.hisi.video.decoder.avc` claims that it's unable to support video sizes under a particular resolution, but there's not enough infor

[2020-06-16 22:25] johnsky95 commented on #7507
It was a typo I am sorry. I am using the built one MergingMediaSource

[2020-06-17 01:29] star-andy commented on #7510
@AquilesCanta
Thank you very much for your answer
I tested mp4 on SDCard with the same problem，Demo doesn't work properly either
Below is the log file

[logcat.txt](https://github.com/google/ExoPlayer/files/4789847/logcat.txt)

[2020-06-17 03:07] sibghat777 commented on #7499
I am also facing this issue. any idea how to fix it?

[code]

[2020-06-17 03:09] roundsmapp commented on #4924
Answering your questions:
- There is no break point logging. I've done the test with the demo version of Exo Player. The only change that I made was to make it able to play a 8 channel audio file.
- The problem does occur without attaching the device to a computer.
- One of the main features of the app is the user ability to control 4 stereo channels (4 pairs = 8 different audios). Each of these 8

[2020-06-17 04:09] ghost commented on #7495
I didn't know how to use that, can please you explain me in detail that how can I use that in  `ExoPlayer GL demo` to rotate video?

[2020-06-17 07:23] wishy-viewlift opened #7513 "PlayerNotificationManager not showing notification for playing video on exoplayer?"
I have application which plays video and I want to show notification with player controls - play, pause, next, previous etc.
I tried using PlayerNotificationManager mentioned in the Medium Post
[PlayerNotificationManager](https://medium.com/google-exoplayer/playback-notifications-with-exoplayer-a2f1a18cf93b)
But the notification isn't visible. I assigned the player to notification manager after th

[2020-06-17 07:25] gokulkalagara commented on #7504
can we play an online dash video URL with offlineLicenseKeySetId?

[2020-06-17 07:26] gokulkalagara commented on #7444
I already filled it

[2020-06-17 07:28] gokulkalagara commented on #7384
What I have do? you already said that issue belongs phone, not for Exoplayer

[2020-06-17 07:33] chladto1 commented on #7161
Please try [this VMAP](https://devs.origin.cdn.cra.cz/ima/googlevmap.xml). It has static content, so the issue should be reproducible also on your side. The issue is not 100% reproducible, please try it more times.

[2020-06-17 08:50] gokulkalagara commented on #7504
### Reproduction Steps:

I have offline licenses for list dash video URLs
some of them use offline licenses to play. but DRM session manager calling license URL for playing some videos. why this happening?

### For Checking:
**I put empty text to defaultLicenseUrl**
HttpMediaDrmCallback httpMediaDrmCallback = new HttpMediaDrmCallback( "",true, factory);

some URLs are playing, some URL got an erro

[2020-06-17 10:48] wishy-viewlift opened #7514 "PlayerNotificationManager not showing notification for video"
I have application which plays video and I want to show notification with player controls - play, pause, next, previous etc.
I tried using PlayerNotificationManager mentioned in the Medium Post
PlayerNotificationManager
But the notification isn't visible. I assigned the player to notification manager after the player is initialised.

Checking on android API 29 and I am using SimpleExoPlayer for pl

[2020-06-17 10:52] AquilesCanta commented on #7507
Could you describe in detail what you are trying to achieve?

[2020-06-17 10:53] gokulkalagara commented on #7384
### Xiaomi Response
Identify whether the app crashes while using a particular app or under normal use circumstances.
If the issue is caused while using a particular app, please follow the below steps:

 1. Reboot the Device -Rebooting the device will close all the running apps & processes,

 2. Check for System Updates -Settings > About Phone > System Update > Check for Updates

 3. Check for App

[2020-06-17 10:57] #7513 closed, assigned to ojw28

[2020-06-17 11:46] marcbaechinger commented on #7433
@saschpe Do you have a full bug report for this?

[2020-06-17 11:57] marcbaechinger commented on #7514
With the code above you are saying that you have created a notification channel with the title `player not`. If such a notification channel does not exist, the system will not show the notification and I believe you would find something in the logs telling this (not sure though).

Can you double check  whether the notification channel 'player not' has been properly created?

If you find you need t

[2020-06-17 12:28] ojw28 commented on #7384
As already stated, we cannot make progress here until you respond to the question we asked you, which was:

[2020-06-17 12:49] andrewlewis commented on #7161
I tried reproducing it five times using my current development branch and playback didn't get stuck.

Please could you give more details steps to reproduce? If you install the development branch version of the demo app and play your ad tag using `adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d "https://storage.googleapis.com/exoplayer-test-media-1/mp4/frame-counter-one-hour.

[2020-06-17 12:53] wishy-viewlift commented on #7514
Notification Channel did not existed, that seemed to be the issue.

[2020-06-17 12:53] #7514 closed, assigned to marcbaechinger

[2020-06-17 12:57] saschpe commented on #7433
Apart from the trace? Not yet. I grabbed it straight from my crash reporting tool.

[2020-06-17 13:21] gokulkalagara commented on #7504
Event Logger File
[Log-File.txt](https://github.com/google/ExoPlayer/files/4792721/Log-File.txt)

[2020-06-17 13:37] kgrevehagen commented on #7390
Hi again!
After some more digging I found out that there are more calls that take a significant time before they return. All of these happen in `FrameworkMediaDrm.java`:

1.
[code]
Pixel 3: about 10-30 ms
LG G3: about 15-30 ms

2.
[code]
Pixel 3: about 200-350 ms
LG G3: about 100 ms

3.
[code]
Pixel 3: about 90 ms
LG G3: about 2000 ms

There might be more, but these are the ones I have seen so far

[2020-06-17 14:30] #7504 closed, assigned to ojw28

[2020-06-17 14:47] janvdt opened #7515 "Not playing full stream Android"
### Searched documentation and issues

Allready searched for it in the documentation and source code.

### Question
I am developing a Radio mobile application. It loads this stream:

https://nostalgiewafextra.ice.infomaniak.ch/nostalgiewafextra-128.mp3

But it only loads the Pre poll first 4 seconds the stream that comes after the ad is not played but it proceeds to the next track in the Player. T

[2020-06-17 14:48] axionnneeeel opened #7516 "Adding subtitle text right/left padding"
Hello.

Is there any possibility to add padding before and after subtitle text?

I succeeded changing the appearance using CaptionStyleCompat but can't find anything about adding padding to left or right.

[2020-06-17 14:48] #7515 closed, assigned to ojw28

[2020-06-17 16:56] johnsky95 commented on #7507
`    private fun play(
        videos: Array<Uri>,
        audios: Array<Uri>,
        subtitles: Array<Subtitle>
    ) {
        val dataSourceFactory = DefaultDataSourceFactory(
            context,
            "ExoPlayer"
        )
        val factory = ProgressiveMediaSource.Factory(dataSourceFactory)
        val sources = ArrayList<MediaSource>()

        videos.forEach { sources.add(factory.

[2020-06-18 03:29] hyl0376 opened #7518 "IMA post roll is not playing well"
### [REQUIRED] Issue description
In a demo app, playing post roll after the video ends looks abnormal.

### [REQUIRED] Reproduction steps
1. When video ends with no seeking action, post roll ad layer is not exposed. And then, set app to background (like press home button) and back to foreground, post roll is start at first position not the paused position.
2. When video ends with seeking action (s

[2020-06-18 04:03] custadian opened #7519 "Regarding 'setEnablePreloading' API"
### [REQUIRED] Searched documentation and issues
I had raised a question to IMA android SDK forum regarding this API.
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ima-sdk/vTiYV0NMzbY/DG3__PKvBwAJ

I got the answer from them that preloading works with single ads, VMAPs and Ad Rules.

### [REQUIRED] Question
Can you please tell me how ExoPlayer is handling this pre-roll w

[2020-06-18 05:50] jerryisbusy opened #7520 "Failed to play video: com.google.android.exoplayer2.ExoPlaybackException: java.lang.IllegalStateException"
Hello:
I have a video here: https://images2.bestjlb.com/video/jlbapp/5e09875981b2214e548f2eb09aac0e48/2020/06/v2jlboss.TRANSCODE-f98fdbe4fc2027cf4e873572b81eb531(3840x2160)(15534ms).mp4
(First time you visit this video in browser, you will have a error. Refreshing will solve this)

It can be played well from browser and VLC player.
But it cannot be played using ExoPlayer (version 2.11.4).
The exce

[2020-06-18 08:07] kgrevehagen commented on #6342
Thanks for clearing up. I'm using this logic now, and it works seamlessly :)

[2020-06-18 08:55] icbaker commented on #7516
I'm assuming you're using the ExoPlayer UI components (if you're using a custom way to display subtitles then you can presumably just change that directly).

This isn't possible using CaptionStyleCompat.

It is possible by mutating the Cue objects after they're parsed and before they're displayed. There's more information about doing that by subclassing `PlayerView` here: https://github.com/google

[2020-06-18 09:06] nigelmegitt commented on #7516
In [IMSC Text Profile](https://www.w3.org/TR/ttml-imsc1.1/#text-linePadding) and [EBU-TT-D](https://tech.ebu.ch/publications/tech3380) profile TTML subtitle files this padding can be specified using the `linePadding` attribute in the `urn:ebu:tt:style` namespace (often assigned the prefix `ebutts:`) - it would be a good improvement to ExoPlayer to support this; it is used by the BBC in its EBU-TT-

[2020-06-18 09:15] icbaker commented on #7516
Thanks for flagging @nigelmegitt - I filed a separate feature request ticket to track that: https://github.com/google/ExoPlayer/issues/7521

@axionnneeeel As @nigelmegitt indicates, you might also be able to achieve the padding effect by changing your source subtitles - if you control them. You can't use TTML's linePadding because we don't currently support it, but you could use whatever positioni

[2020-06-18 09:15] icbaker opened #7521 "TTML: Support linePadding attribute"
IMSC spec: https://www.w3.org/TR/ttml-imsc1.1/#text-linePadding

Mentioned here in https://github.com/google/ExoPlayer/issues/7516#issuecomment-645886878.

[2020-06-18 09:18] axionnneeeel commented on #7516
Unfortunately, i can't control the source subtitles. So, probably the only thing i can do it the thing you mentioned before.

[2020-06-18 09:34] ElegyD commented on #7267
https://github.com/cellar-wg/matroska-specification/pull/390 has been merged and work towards this issue can be started.

[2020-06-18 10:17] wishy-viewlift opened #7522 "PlayerNotificationManager not updating player on notification"
I have 2 players in my app. One is a mini player which is available through out app.
Other is a half page player. When the half page player is playing the mini player is dismissed.
I added PlayerNotificationManager it seems to working fine and good for the mini player.
But when I switch to half page player the last player instance in the notification is of the mini player.
Notification never updat

[2020-06-18 10:42] andrewlewis commented on #7519
The ExoPlayer IMA extension requires preloading to be enabled (it won't work without it). This allows us to avoid buffering at ad/content, content/ad and ad/ad transitions in almost all cases.

To try to address remaining questions from your IMA SDK forum post
- For an ad tag with a single preroll, once we have the ad URI we are able to start buffering the ad and the start of the content. The poin

[2020-06-18 10:42] #7519 closed, assigned to andrewlewis

[2020-06-18 11:34] ranjan000 opened #7523 "ConcatenatingMediaSource with Live stream, revival from behindlivewindow exception taking too long. Aproximately 7-10 seconds."
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2020-06-18 11:38] ranjan000 commented on #7523
The issue can be reproduced on any live stream. Pause the stream, wait to pass almost all window duration. Just play (no seek), it will cross the window and get the exception. After that standard procedure (calling prepare player). From this on revival takes 7-8 seconds depending upon the window duration.

[2020-06-18 12:30] niteshfel opened #7524 "com.google.android.exoplayer2.source.BehindLiveWindowException"
when i have stream HLS video then this error came and onPlayerError ExoPlaybackException i found this error so what is the solution of this error why this error came any reason ?

[2020-06-18 14:45] axionnneeeel commented on #7516
Hello @icbaker .

I tried your suggestion but i think I got a little misunderstood.

My windowColor is transparent so i don't want to edit cue box wide, i use a color only for backgroundColor. I just want to add some padding between text and backgroundColor edges. I think that the solution you mentioned is to add padding right/left for the window, not the background.

I also attached a image with

[2020-06-18 17:28] ojw28 commented on #7440
For the issue @hpsoar is seeing, I think the very low resolution (128x96) is probably below the minimum resolution supported by the hardware decoder. I think this means that very low resolution videos need to use L3 DRM (or no DRM) in practice.

[2020-06-18 17:46] brookmg commented on #7524
I am currently experiencing this error. Happens after playing one minute or less from the stream. A similar issue to this was locked to the contributors only since 2017.
[code]

[2020-06-18 18:31] Tolriq opened #7525 "Accessing active datasource in onPositionDiscontinuity"
### [REQUIRED] Searched documentation and issues

I did :)

### [REQUIRED] Question
I'm having an hard time to get the active datasource when the media change in a ```ConcatenatingMediaSource```.

I use a specific ```DataSourceFactory``` that extends ```HttpDataSource.BaseFactory``` and prepare the media in the ```open(dataSpec)```.
During this preparation the media can be transcoded or not and de

[2020-06-18 19:37] matanmarciano opened #7526 "Synchronize HLS/DASH live streaming between devices?"
Hello support:)

I want to get a synchronization cross two devices (ExoPlayer on each one) by playing HLS/DASH stream
I am also the server side owner so the video packager is in my own (I can set the segment duration and the number of segments as I want)

delay of 1sec it is good for me also but no more than that.

There was any suggestions?

[2020-06-18 22:35] AdamMTGreenberg commented on #4352
Any updates as to when this will be merged into the v2? Thanks.

[2020-06-18 23:02] ghosalmartin commented on #6168
using `texture_view` instead of `surface_view` fixed the issue for me. My usecase is within a react native world but am doing weird fullscreening with a fragment.

[2020-06-19 06:10] ghost opened #7527 "Player notification"
Hello,
I am new to exoplayer can any one help for full source code for custom player notification in exoplayer
I have used playernotificationmanager class with custom action buttons but I need to change position of play/pause button I need to take between 15 sec forward and 15 sec backward button can any one help me out there.
![Inked85257936-38cf1680-b484-11ea-84c5-74f8db28cccd_LI](https://user-i

[2020-06-19 07:55] gokulkalagara commented on #7384
I cant unable to understand. what question you have asked?
One of the developer, says to share the bug report to Xiaomi.
I share, they give some response. comment paste it above, its comment type as off-topic.
I missed it, could you please repeat your question?

[2020-06-19 08:13] wishy-viewlift opened #7528 "Play video's audio with bluetooth connected device?"
I need to know if this is feasible or not. My app plays video and the phone would be connected to bluetooth speaker.
Also I am using the PlayerNotification for displaying the video notification. Will the audio of the video be played on the bluetooth speaker and also the notification's buttons will be responsive to of bluetooth for play/pause?

[2020-06-19 09:20] phharley17 opened #7529 "Switch audio tracks before playback on ProgressiveMediaSource?"
### [REQUIRED] Searched documentation and issues:
Hi, this question is in regard of ProgressiveMediaSource/local media (ie. MKV with H264 video, AAC and AC3 audio) not for DASH/HLS/SS . Thanks to the documentation here: [Track Selection](https://exoplayer.dev/track-selection.html), I am able to chance the desired track before playback, by changing the language code using `setPreferredAudioLanguage

[2020-06-19 10:59] AquilesCanta commented on #7524
Please search in the issue tracker before reporting. There's is [plenty of material](https://github.com/google/ExoPlayer/issues?q=is%3Aissue+behindlivewindowexception) about BehindLiveWindowException. For example in #4723 you'll find an explanation of what it is and the issue has a contribution from a user who proposes a way of preventing BLWE from happening. Ultimately, you'll need to place a saf

[2020-06-19 10:59] #7524 closed, assigned to AquilesCanta

[2020-06-19 11:05] AquilesCanta opened #7531 "Integrate handling of BehindLiveWindowException to the library"
This issue tracks avoiding BLWE from being surfaced by the player. For example, by seeking into the window when the loading position falls behind the live window.

We currently leave BLWE handling to the application. In the demo app, we showcase this by re-preparing the MediaSource when BLWE happens.

[2020-06-19 11:11] AquilesCanta commented on #7523
I have just filed #7531 to track handling of BLWE in the library, but it's not a high priority task right now.

Regarding the excessive preparation time, I can imagine this is made worse by having to prepare a concatenating media source. The best suggestion I can give is to prevent BLWE from happening. #4723 provides some guidance on how to achieve that. Basically, whenever you observe the load po

[2020-06-19 11:14] icbaker commented on #7516
Ah right, I was giving instructions to pad the cue box away from the edge of the screen rather than pad the cue text away from the edge of the background box.

I don't think there's a way to achieve what you want. The background color is configured as part of the `TextPaint` that's passed to the `StaticLayout` here:
https://github.com/google/ExoPlayer/blob/6026b919a143ad870cfad3a9d84a260452ebc43b/

[2020-06-19 11:39] brookmg commented on #7524
Thanks, @AquilesCanta. I missed those.

[2020-06-19 11:42] AquilesCanta commented on #7524
No problem. Good luck.

[2020-06-19 12:10] mareiski commented on #7461
Did you receive the report?

[2020-06-19 12:13] axionnneeeel commented on #7516
I think now i have the answer.

Thanks @icbaker .

[2020-06-19 12:13] #7516 closed, assigned to icbaker

[2020-06-19 12:24] AquilesCanta commented on #7511
I cannot reproduce the issue. Put the following code in onCreate of a basic activity, and both files play simultaneously on version 2.11.4:

[code]

Can you clarify what the issue is?

[2020-06-19 12:48] ojw28 commented on #7461
Yes. I can't really see anything useful in it though, unfortunately.

Can you reproduce this problem on any other device? It's somewhat hard to justify spending a lot of time looking at this, if it's likely to be a device specific problem.

[2020-06-19 13:25] mareiski commented on #7461
Hmm ok no i could not reproduce it yet, but I will check it out again

[2020-06-19 14:57] AquilesCanta commented on #7522
I'm assuming you have checked you are correctly calling `playerNotificationManager.setPlayer ` when needed. We will need a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) to help with this, since it's not really clear this is not an application issue.

[2020-06-19 15:01] AquilesCanta commented on #7525
Why don't you assign a specific `DataSourceFactory` to each `MediaSource` so that each `DataSourceFactory` knows to which MediaSource they are assigned?

So when the media source calls `open(...)` for preparation (or whatever), you know which is the calling MediaSource, since the `DataSourceFactory` knows the corresponding `MediaSource`.

[2020-06-19 15:23] Tolriq commented on #7525
Isn't that highly inefficient to create a DefaultDataSourceFactory and my factory for every single items for very large playlists?

[2020-06-19 15:26] AquilesCanta commented on #7526
Unfortunately this is out of the scope of this issue tracker, and it's better suited for a general Q&A site, like stack overflow. A few general points:
- First try solving the problem of keeping a clock in sync distributed devices. This is a problem in itself and unrelated to media playback.
- I suggest you use [`EXT-X-PROGRAM-DATE-TIME`](https://tools.ietf.org/html/rfc8216#section-4.3.2.6)(HLS) o

[2020-06-19 15:26] #7526 closed, assigned to nobody

[2020-06-19 15:34] AquilesCanta commented on #7528
Yes. Should be pretty straightforward to check locally too.

I think yes, assuming you are correctly exposing a MediaSession for your player. @marcbaechinger to confirm.

[2020-06-19 15:41] AquilesCanta commented on #7529
I think we just need to debug why the `DefaultTrackSelector` is selecting something different than what you want to select. You always have the option of implementing your own `TrackSelector` which does exactly what you want (probably extending the Default one), but this is a use case that should be normally handled using built-in components.

Can you provide the problematic piece of media and pre

[2020-06-19 16:19] andrewlewis commented on #7518
Thanks for reporting this. There are two bugs here:
1. Postrolls now preload (since the recent API changes), but that means we need to trigger content complete when transitioning to the preloaded postroll.
1. On resuming from background during a postroll, the period duration is unset briefly (I think we no longer use the content duration from the ad playback state) so we think the ad has ended and

[2020-06-19 19:35] rrfrias commented on #7384
gokulkalagara, can i share the bugreport with Xiaomi, as well? I need you to say ok.

This is a device problem rather than an exoplayer issue. We can follow up with the Xiaomi engineers and find out whether there is a way to address this.

[2020-06-19 19:44] ojw28 commented on #7529
It would also be helpful if you could try playing the file in our demo app, after modifying it just to make your desired constraint based track selection (i.e., add selection code using `setPreferredAudioLanguage`). Then, capture and provide the logcat output during playback. It's quite useful for debugging (e.g., it will indicate to what extent the device supports each of the available tracks).

[2020-06-20 00:08] rrfrias commented on #7356
@ogawa-ma We would like to get Sony involved. Do i have your permission to share the bugreport and repro steps that you mentioned in the email with Sony? Also the license expiration date is 2020-06-18. Is it possible to extend it or share different content so that we/Sony can repro?

[2020-06-20 03:44] phharley17 commented on #7529
Hi, It is indeed selecting the track that I want to select. but it seems to be switching it after a few milliseconds later. I am guessing is the way I am doing it or because of the player event I am relying on. The media has h264 video, AAC audio and FLAC audio. I can get it to switch to the FLAC audio, it just plays a few milliseconds of the AAC audio and then switch to the FLAC audio. Very minim

[2020-06-20 06:29] gokulkalagara commented on #7384
ok you can share, this to Xiaomi

[2020-06-20 07:58] SoniKarsh opened #7532 "Generating mp4 video from ffmpeg command but generated mp4 could not be played in exo player."
Description
I am trying to conver array of bitmaps to video of mp4 and i have tried that using below ffmpeg command which is

val cmd2 = arrayOf(
"-y",
"-r",
"2",
"-f",
"image2",
"-i",
filesDir.toString() + File.separator + "%d.jpg",
newFilePath
)

But in some device it is able to generate video but video could not be played by exo player.

Expected behavior
I want to generate mp4 video and then w

[2020-06-20 08:12] amitsamal opened #7533 "Optimisation of ABR on exoplayer via Server & network assisted DASH"
### Searched documentation and issues

https://eprints.lancs.ac.uk/id/eprint/88536/1/print_version.pdf.
https://www.ibc.org/download?ac=1464

### Question

We are looking at enhancing our video playback experience on our app which is dominated by our android version. We use exoplayer 2.11.4 on our video streaming app and use DASH as the preferred format. We have almost covered all client side opti

[2020-06-21 04:49] niteshfel commented on #7524
Thanks

[2020-06-22 07:52] Taranlayal10 opened #7534 "Widevine Initial Bitrate"
Hi, @ojw28

I am writing this as a question in regards to a previously closed bug 6756. Where provided solution is not working for me. Since that issue is in locked state so I am unable to add comment on same thread.

**Original Issue**
How to ensure exoplayer starts with a specific bitrate #6756

**Already Reported Bug**
[issue.](https://github.com/google/ExoPlayer/issues/6756)

**ExoPlayer Versi

[2020-06-22 09:08] icbaker commented on #7520
I'm unable to access the media link provided - it 403s for me every time, even after refreshing.

[2020-06-22 09:28] icbaker commented on #7532
The error is telling you that your device is unable to decode the video: `rendererSupport=NO_EXCEEDS_CAPABILITIES`

It could be that the resolution is too high (1080 x 2157), you might want to try reducing the resolution and see if that enables playback. You may also want to try changing the video codec you're using, mp4v-es is a little less common than e.g. H.264 and you might find your device's

[2020-06-22 10:04] marcbaechinger commented on #7528
To receive media button events from eg. a bluetooth headset you need to have an active media session which delegates the events to the player. The easiest way to integrate the ExoPlayer with the media session is probably using the MediaSessionConnector from the [media session extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/mediasession).

From #5719:

The MediaSessionConn

[2020-06-22 10:10] icbaker commented on #7520
Ah the link works when I remove the trailing character.

[2020-06-22 10:36] skogl commented on #7469
Hi, thank you for explaining the situation.

I guess what you are suggesting sound reasonable. Do you have any suggestions of how this time measuring would be implmemented?

[2020-06-22 11:25] khushank9 opened #7535 "DASH Playready Content not playing on sample ExoPlayer for Android TV"
### Issue description
DASH content protected with Playready DRM is not playable via Sample Exoplayer App for Android TV device.

### Reproduction steps
Use the following Content and License URL's in media.exolist.json for playback.
**Please note that the similar content is Playable via Bitmovin for Edge browser that supports DASH+ Playready.**
###  Link to test content
[code]

### Bug report
Andro

[2020-06-22 11:33] marcbaechinger commented on #7527
Custom buttons are all placed after the buttons that are provided out of the box. So you can not really move the internal play/pause button between your custom buttons.

However, given you already managed to place custom button, it should be fairly easy to place another custom button in between you custom buttons and hide the built-in play/pause button:

[code]

Given you have custom buttons worki

[2020-06-22 11:43] ghost commented on #7527
@marcbaechinger  hi yes actually before your answer I tried that way and it is working fine but really thanks for your support it will be helpful to me.
Can you just tell me why there is no default time bar in notification ? like if we use mediabutton receiver then it is showing over there but for hls live streaming it is not showing even if I set use choronometer (true) ?

[2020-06-22 12:15] marcbaechinger commented on #7527
The timebar in the notification is shown by the system, if a duration is set in the `MediaMetadataCompat` object passed to the media session. For live streams [setting the duration is intentionally omitted](https://github.com/google/ExoPlayer/blob/release-v2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java#L1035).

The duration of a li

[2020-06-22 16:35] AquilesCanta commented on #7469
Using an in-band clock, like a PCR or PTS. Through that you can know how much time has passed in the stream's timebase. Once a certain in-stream amount of time has passed (2-5 seconds), and no packets with a PID have been found, you can assume no packets are present for that PID.

For the time threshold we should probably look at what the TV specifications (examples: ISDB, DVB, ATSC, etc) say. The

[2020-06-22 17:09] skogl commented on #7469
But that means that the start time for the stream will be to 2-5 seconds?

/ Linus

________________________________
From: Santiago Seifert <notifications@github.com>
Sent: Monday, June 22, 2020 6:35:35 PM
To: google/ExoPlayer <ExoPlayer@noreply.github.com>
Cc: skogl <linus.skoglund@live.se>; Author <author@noreply.github.com>
Subject: Re: [google/ExoPlayer] Allowing invalid AAC streams? (#7469)

[2020-06-22 17:12] skogl commented on #7469
~~But that means that the start time for the stream will be to 2-5 seconds?~~

I'll see what I can dig up regarding the thresholds.

[2020-06-22 19:12] ojw28 commented on #7533
This sounds like a research topic, and as such is too vague / broad for us to really provide much guidance on this issue tracker. It's not something that we've looked into in a lot of detail, and so we don't really have concrete experiences or findings to share either. Sorry!

[2020-06-22 19:12] #7533 closed, assigned to ojw28

[2020-06-22 23:46] rrfrias commented on #7384
Thanks @gokulkalagara . We are following up with Xiaomi. Will let you know when we have more information.

[2020-06-23 02:35] imcloud commented on #6792
another kotlin error

[code]

![image](https://user-images.githubusercontent.com/7680469/85354071-4e077c00-b53c-11ea-94dc-a780777b8fdd.png)

`info`  cannot be null type,

but, `TrackSelectorResult` allow array elements to be null

This can lead to exceptions in the kotlin language

[2020-06-23 09:00] icbaker commented on #7534
I could be wrong, but 1920 looks suspiciously like a horizontal resolution (i.e. 1920 x 1080), not a bitrate in bits-per-second, e.g. 8Mbps.

[`DefaultTrackSelector.ParametersBuilder#setMaxVideoBitrate(int)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.ParametersBuilder.html#setMaxVideoBitrate-int-) says "Maximum allowed video bitrate in bi

[2020-06-23 09:21] Taranlayal10 commented on #7534
My bad I was setting resolution instead of Bit rate value. It is resolved now, Thanks

[2020-06-23 09:21] #7534 closed, assigned to icbaker

[2020-06-23 09:41] phharley17 commented on #7529
I was able to get it resolved by kind-of extending `TrackSelector`. The track switching via `SelectionOverride` always work wonderfully. My specific case, and very specific I must say, desired random and programatically audio track selection before the player start rendering/playing and regardless of the audio codec. Currently it only seem to allow once `MappedTrackInfo` is not null or when the pl

[2020-06-23 14:28] andrewlewis commented on #5943
Yes, this is still reproducible at tip-of-tree.

If I play the content HLS stream without ads, seeking to 0 while paused leads to the player position jumping to 2 seconds. It seems likely that this is not directly related to ad insertion, but perhaps the extra delay due to loading ad tags makes the problem worse.

[2020-06-23 15:07] andrewlewis commented on #5943
The linked HLS stream is a VOD stream but `#EXT-X-PROGRAM-DATE-TIME` advances on successive requests. On seeking the value we derive for `startOfPlaylistInPeriodUs` in `HlsChunkSource` is non-zero and matches the amount by which the player position jumps forwards on seeking to zero. It looks like what is going on is that we end up mapping segments for the same piece of media to offset positions.

[2020-06-23 15:07] #5943 closed, assigned to andrewlewis

[2020-06-23 15:21] andrewlewis commented on #5929
@fpittersacc Any luck getting the new bug report?

[2020-06-23 15:21] #7212 closed, assigned to andrewlewis

[2020-06-23 15:21] #7345 closed, assigned to krocard

[2020-06-23 15:22] #7362 closed, assigned to ojw28

[2020-06-23 15:23] #7380 closed, assigned to ojw28

[2020-06-23 15:23] #7381 closed, assigned to krocard

[2020-06-23 15:27] andrewlewis commented on #6409
#4680 will likely solve this request once we get round to it (and even if it doesn't, it will likely provide a good starting point for doing what's described here), so I will close this.

[2020-06-23 15:27] #6409 closed, assigned to andrewlewis

[2020-06-23 15:46] ojw28 commented on #5507
This will be released in 2.11.6.

[2020-06-23 15:47] ojw28 commented on #7492
Fixed in the commits referenced above. This will be part of 2.11.6, which should be released today or tomorrow.

[2020-06-23 15:47] #7492 closed, assigned to andrewlewis

[2020-06-23 15:47] ojw28 commented on #7508
Fixed in the commits referenced above. This will be part of 2.11.6, which should be released today or tomorrow.

[2020-06-23 15:47] #7508 closed, assigned to andrewlewis

[2020-06-23 15:47] ojw28 commented on #7477
Fixed in the commits referenced above. This will be part of 2.11.6, which should be released today or tomorrow.

[2020-06-23 15:47] #7477 closed, assigned to andrewlewis

[2020-06-23 15:47] ojw28 commented on #7518
Fixed in the commits referenced above. This will be part of 2.11.6, which should be released today or tomorrow.

[2020-06-23 15:47] #7518 closed, assigned to andrewlewis

[2020-06-23 15:53] andrewlewis commented on #6891
Sorry for the delay answering. Replies below.

The problem is more that your custom `AdsLoader` implementation needs to know the cue points in order to produce an `AdPlaybackState`, but the cue points are only known once the content `ProgressiveMediaPeriod` has prepared to give you the format (which is where the ID3 info is available). The issue is that I don't think the content media period will

[2020-06-23 15:53] #6891 closed, assigned to andrewlewis

[2020-06-23 16:59] #7319 closed, assigned to Samrobbo

[2020-06-23 18:30] chrisfillmore opened #7536 "Add DATA_TYPE_* member to ParserException"
### [REQUIRED] Use case description
I would like to know what type of media was being parsed when a `ParserException` occurred. I am trying to map these exceptions to particular error codes in our application.

### Proposed solution
Add a new member `int dataType` to `ParserException`. The value will be one of the DATA_TYPE_* values defined in C.java.

### Alternatives considered
I'm not aware of

[2020-06-23 20:27] chrisfillmore commented on #7536
Hm I have a problem actually. Some methods, e.g. `Util.parseXsDateTime` throw `ParserException` but are called from both manifest parsers and media parsers. I could likely work around this by copying the exception at the point the parse is invoked, but it's not the prettiest solution.

Edit: Seems that `Util.parseXsDateTime` is the only place where the `dataType` is not clear. I have resolved on a

[2020-06-24 01:18] fmatosqg opened #7537 "WAKE_LOCK equivalent for mobile network"
I maintain a live radio streaming app (https://play.google.com/store/apps/details?id=com.deepend.sen) where lots of users complain about audio dropping. I improved as far as fixing all the problems I can reproduce, but we still get lots of reports that confirm we can still do better.

I recently stumbled on #6914 and found it interesting so I don't have to deal with wakelock logic by myself, on to

[2020-06-24 04:21] guangmingxiong9999 opened #7538 "Charles proxy question"
Hope m3u8 video use Charles proxy  can not get caught .Is there any way to solve it? thanks

[2020-06-24 07:29] 3ameration opened #7539 "Can I switch to VR mode view for 360 Videos?"
I am using exoplayer (version 2.10.4) to play 360 videos from web.

and I am using PlayerControlView to show the VR mode button, but how to make it work?

I mean I want the user to be able to switch between the normal 360 video view and VR mode

Please check the following photo to understand what I mean by VR mode

![1_BGErBq2M120VzieCyQtRHA](https://user-images.githubusercontent.com/12966689/8551

[2020-06-24 08:02] avalanchas commented on #6516
Hi Team, hi @google-oss-bot ;) Here's my long-overdue update on this. The fix has been released for about a month now, and I have not seen the crash even once since then. I will therefore conclude that this bug is indeed caused by multiple `DownloadManager`s existing and accessing the same resources at the same time

For anybody else coming across this I can only recommend
- check instance creatio

[2020-06-24 09:24] icbaker commented on #7537
The javadoc for [`WifiLock`](https://developer.android.com/reference/android/net/wifi/WifiManager.WifiLock) makes it sound like you don't need a lock to keep mobile data active:

StackOverflow agrees: https://stackoverflow.com/questions/13440433/android-wifilock-how-about-mobile-data-access-lock

Thanks for the streams, but if you're unable to reproduce the problem it seems unlikely we will be abl

[2020-06-24 09:26] icbaker commented on #7538
I'm afraid I don't really understand what you're asking.

We have an [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md) that lays out the information we need in order to best answer questions. Please copy/paste that into this issue, and fill in each headed section (and delete the explanatory text).

[2020-06-24 09:28] matanmarciano opened #7540 "Why seekTo() causes the buffered data to cleaned up?"
Hello,
I am playing an HLS live stream.
When I try to seek (using GUI) forward (a bit) the buffered data get lost and the player changes his state to BUFFERING and I need to wait a while for re-play.

How can I overcome this issue?

[2020-06-24 12:19] ladamek commented on #7161
Hi @andrewlewis , this should help to replicate the issue by following these steps and we have attached a video as well.

1. Watch pre-roll
2. After pre-roll, immediately seek somewhere after mid-roll 1 (and before mid-roll 2)
3. Let the video run into mid-roll 2
Mid-roll 2 won't launch and won't make a call as shown on the attached video. If we skip the seek and continue watching the whole conten

[2020-06-24 12:48] andrewlewis commented on #7161
@ladamek I checked out r2.11.6 which we just released, built the demo app with the extension variant then started playback for those streams using: `adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d "https://devs.origin.cdn.cra.cz:4433/prima/x/testbundle/testbundle.smil/manifest.mpd" --es ad_tag_uri "https://devs.origin.cdn.cra.cz/ima/googlevmapshort.xml"`, but found that the

[2020-06-24 13:27] JoshuaChewStar opened #7541 "Speed up offline download"
I have followed the latest demo and implemented the download functions. Everything works fine but the only problem is that the download is kind of slow, the file size of the content to be downloaded is normally around 8GB or more. I was wondering if there's any way I could speed up the downloads for now?

Thanks in advance.

[2020-06-24 14:00] icbaker commented on #7541
How slow is slow?

Is the media you're downloading a progressive file, or HLS/DASH/something else?

Are you seeing download speeds that are significantly lower than the bandwidth available between the device & the server (i.e. you're not just hitting bandwidth limits)?

[2020-06-24 14:10] tonihei commented on #7540
I can't see anything suspicious when playing an HLS live stream I have. Could you provide us with the stream and reproduction steps (in case it doesn't always reproduce)?

[2020-06-24 15:03] JoshuaChewStar commented on #7541
The media is a DASH type.

I'm not sure about the bandwidth tho, how can I check if the bandwidth has hit the limit?

The reason I mention it's slow is because previously my app was using the v2.9.0 version of exoplayer, the download speed of v2.9 was relatively faster

[2020-06-24 15:10] icbaker commented on #7541
What version are you on now? It's interesting that it seems to have got slower.

Given this is DASH I'm going to duplicate this against #5978 - the work happening there should improve download speed by downloading multiple chunks at once.

[2020-06-24 15:10] #7541 closed, assigned to icbaker

[2020-06-24 15:17] JoshuaChewStar commented on #7541
I'm using the v2.11.6 now.

Alright then, I'll check on #5978

Thank you so much

[2020-06-24 15:58] stevemayhew commented on #7512
@AquilesCanta what is happening is the `FragmentedMp4Extractor` is returning exiting the read() loop (returning `RESULT_END_OF_INPUT`), but `ExtractorInput.getPosition()` returns the length of the stream (like it is not fully read).

This makes the subrange [computed on HlsMediaChunk#L365](https://github.com/google/ExoPlayer/blob/1a5b304b1faf244ea91e2b2aca8ea241aa237dd1/library/hls/src/main/java/c

[2020-06-24 16:08] AquilesCanta commented on #7512
I'm still not clear how the nextLoadPosition is involved. I thought nextLoadPosition was relevant when there was an error while reading the media. The error I ran into when I tried the media was an end of input exception. But when I added a catch to ignore that exception, and treat the chunk as completed (In which case nextLoadPosition should not matter), playback still failed. Any PRs are welcome

[2020-06-24 16:22] stevemayhew commented on #7512
Well, nothing is ever really simple ;-).   I'm not clear on the history (looks very long back) on the comments on [line 355](https://github.com/google/ExoPlayer/blob/1a5b304b1faf244ea91e2b2aca8ea241aa237dd1/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsMediaChunk.java#L355) but it seems the range in the `dataSpec` is (was) being used to partially fetch segments this would s

[2020-06-24 16:55] fgl27 commented on #7540
Have you check `player.getTotalBufferedDuration()` before `seekto`?

Because this be a live stream is expected that the amount of time buffered be small, and maybe you are seeking to a position bigger than `getTotalBufferedDuration` maybe outside live window, it also can help to understand better if there is a issue.

[2020-06-24 17:51] ojw28 commented on #7535
For the Firestick, the server is returning an HTTP 500 response code, which means a generic internal server error occurred. Look in the logs for:
[code]
So you should investigate why that's happening in your license server. It's possible that the problem is caused by the Firestick creating a key request that the server can't parse, but I think you need to diagnose why the server is complaining bef

[2020-06-24 18:30] victorraft commented on #7508
I updated to 2.11.6 but I cannot compile my app because this method in ImaAdsLoader don't exist anymore: `public void addCallback(VideoAdPlayerCallback videoAdPlayerCallback)`.

I scanned through the source code but I'm failing to see where I'm supposed to register my VideoAdPlayerCallback. I specifically use the onPlay and onError callbacks.
Can you point me to what should I do to receive these c

[2020-06-24 19:56] andrewlewis commented on #7508
I moved those into an inner class which isn't visible (it wasn't really intentional to expose `VideoAdPlayer` in the first place, but this move was specifically to avoid the `release` method clashing).

Using `AdEventListener` may work too for `CONTENT_PAUSE_REQUESTED` (although I don't think you'll see that multiple times for ads in a pod), but `AD_BREAK_FETCH_ERROR` only notifies empty ad tags r

[2020-06-24 19:58] MostafaAnter commented on #677
Note, `TextureView` can only be used in a hardware accelerated window. When rendered in software, TextureView will draw nothing. so after   set surface type

    <com.google.android.exoplayer2.ui.PlayerView android:id="@+id/player_view"
     app:surface_type="texture_view"
     android:layout_width="match_parent"
     android:layout_height="match_parent"/>

you need to make sure that hardware acce

[2020-06-24 20:28] andrewlewis commented on #7539
Are you looking for an implementation of VR mode? If so I think the closest we ever had was [`GvrPlayerActivity`](https://github.com/google/ExoPlayer/blob/r2.10.8/extensions/gvr/src/main/java/com/google/android/exoplayer2/ext/gvr/GvrPlayerActivity.java), which used the GVR SDK, but that was removed in release 2.11.0 (it may still work in 2.10.8 though). As we aren't maintaining support for this us

[2020-06-24 20:28] #7539 closed, assigned to andrewlewis

[2020-06-24 23:47] fmatosqg commented on #7537
Thx for the stack overflow link, it was what I was looking for.

here's one comment from there

And thinking like an engineer, nobody said that I can keep my open connections going as long as there's battery and a cell tower nearby.

We have more than one type of problem for sure. My focus now is making sure the network is as reliable as possible, and we have enough docs for wifi but I still can't

[2020-06-24 23:47] #7537 closed, assigned to icbaker

[2020-06-25 01:42] meixililu commented on #7420
sorry,I want to play this pcm(http://res.mzxbkj.com/temp/3c37e8276a5fa206242139dbb8b4ec87.pcm) with exoplayer,but failed.

[2020-06-25 03:27] ghost commented on #7527
@marcbaechinger so it is clear that due to wild behaviour of timebar because of live window which is updated frequently we should not display timebar in notification area.is it correct understanding ? also it is not useful while showing for live streams?

[2020-06-25 05:51] niteshfel opened #7542 "com.google.android.exoplayer.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404"
com.google.android.exoplayer.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404

When i have play some video got this error occur this video is youtube video when is play on youtube is playing good on all video quality formats but when i play on exoplayer 2 then only two video quality format are playing 360p and 720p and other video format return error : com.google.android.ex

[2020-06-25 09:17] icbaker commented on #7542
We don't support playing YouTube videos on ExoPlayer: https://exoplayer.dev/troubleshooting.html#can-i-play-youtube-videos-directly-with-exoplayer

[2020-06-25 09:17] #7542 closed, assigned to nobody

[2020-06-25 09:39] SerkanKUL opened #7543 "inter-movie banner advertising"
I have android application, user is watching movie, exoplayer, I want full screen admob advertisement to appear every 5 minutes while watching movies...is it possible

[2020-06-25 10:58] HE-LU commented on #5417
Must have in 2020. We need this ASAP!

[2020-06-25 11:36] niteshfel commented on #7542
@icbaker  Yes i know exoplayer not playing youtube video via video id but  am plating with urls like hls,dash and other webm and mp4 urls then in some urls i found this error again and again .. so can guide me for this whats wrong with this

[2020-06-25 12:34] skogl commented on #7469
So I haven't been able to find any information about thresholds for finding tracks or anything similar, but I have implemented some code that tries to find PMT pids within a timeout and it seem to work ok. Currently I use the method from my previous posts where I create a dummy track after timeout and even though it works to play the stream I get a buffering delay that I can't find a reason for.
D

[2020-06-25 12:40] icbaker commented on #7542
Are these DASH/HLS/etc URLs derived from a YouTube ID and hosted on YouTube servers? If so, my answer above applies.

If not, it seems likely to be a server-side problem (since 404 indicates the requested resource could not be found) and you should probably talk whoever is hosting the content.

[2020-06-25 13:04] fpittersacc commented on #5929
@andrewlewis, sorry for the delay.

We have been checking on Huawei devices and latest 2.11.6 it's performing well on every case.

Thanks, closing!

[2020-06-25 13:04] #5929 closed, assigned to andrewlewis

[2020-06-25 13:06] fpittersacc commented on #7477
Thanks, I can confirm this is working as intended.

[2020-06-25 13:07] fpittersacc commented on #7494
Thanks, for checking.

I think the IMA Ad Uri has been changed and not providing the invalid Ad sequence anymore, and giving the sequence we were facing in https://github.com/google/ExoPlayer/issues/7477

Let me recheck using 2.11.6.

[2020-06-25 13:30] AquilesCanta commented on #7469
What I have in mind is a rework where the dense TsPayloadReaders implementations no longer create tracks in `createTracks`, but rather when they find format information about the tracks.
- Why dense? Dense tracks are video and audio tracks. For sparse tracks (metadata or text) it's not uncommon for TS streams not to have any packets for long periods of time. In which case it's ok to preemptively c

[2020-06-25 13:47] icbaker commented on #7543
Have you read this page about ad Insertion?
https://exoplayer.dev/ad-insertion.html

ExoPlayer has an extension to support client-side ad insertion using the [Interactive Media Ads (IMA) SDK](https://developers.google.com/interactive-media-ads) (with more details on the page linked above).

[2020-06-25 14:08] icbaker commented on #7543
You can probably also build your own integration with AdMob by using [`PlayerMessage#setPosition(long)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/PlayerMessage.html) to get a callback when playback reaches a certain position (i.e. you could send a message to yourself every 5 minutes of playback). You create PlayerMessages by calling `ExoPlayer#createMessage(PlayerMessage.T

[2020-06-25 18:21] changxiangzhong opened #7544 "Measure framerate and 99/90/50 percentiles in tunneling mode"
### [REQUIRED] Searched documentation and issues
- Official MediaCodec API
- ExoPlayer developer documents/javadoc
- ExoPlayer videos on Youbute
- ExoPlayer source code
- #4088

### [REQUIRED] Question
How to measure framerate, 99th/90th/50th percentiles of FPS on both tunneling and non-tunneling usecases. Ticket #4088 recommended to use the `releaseTimeNs` in the following segment to calculate fr

[2020-06-25 20:06] changxiangzhong commented on #7544
After digging a bit more into `DebugMediaCodecVideoRenderer` it seems like the method parameter `presentationTimeUs` indicates the actual buffer presentation time **both** with tunneling and w/o tunneling. Can you pls clarify this?
[code]

[2020-06-26 01:37] dryganets commented on #7310
My 5 cents:
`Loading finished before preparation is complete` usually happens for the cases when track atom hasn't been found in the MP4.

ExoPlayer has a very strict media parsing state machine as it is implemented according to the Apple's quicktime specification. If atom size is set to 0 it is treated as it lasts till the end of the file, so every atom after this one will be ignored.

If such an

[2020-06-26 05:31] parthbhatti commented on #7482
No solutions?
I am struggling with this issue for a month.

If there is a limit in Exo player instance why it's not releasing it in Recyclerview, It's working fine over fragments and Activities

[2020-06-26 07:05] niteshfel commented on #7542
Yes @icbaker  these DASH and HLS URls derived from youtube and i am broadcasting on youtube using RTMP and then playing these urls on exoplayer not with youtube id , we are got youtube all supported urls of these video like 144p,244p,340p,480p,720p...etc then play by urls (urls are dash or hls)

[2020-06-26 07:16] andrewlewis commented on #7170
Update: A fix has been submitted and we should be able to pick this up in the next IMA SDK release (not sure when that will be yet).

[2020-06-26 08:09] rokney opened #7545 "FFmpeg extension with avfilter"
Hi. I try to add avfilters to ffmpeg extension. All works for mp3, flac and other formats, that don't need extradata. But formats with it crashed: alac, aac, opus, vorbis.
[code]
The code above for initialize filters. With next i add frame to graph and read it. All other code use from demo (decoder)
[code]
As i understand all problems with extradata - what i need to do with it and filter will work

[2020-06-26 08:37] GouravSna opened #7546 "[Widevine][CDM][Device Specific] L1 content plays on L3 device (only on Redmi Note-4)"
Hi There,

Followed this: https://support.google.com/widevine/answer/6072714?hl=en

I have a question. We have a stream which has only L1 DRM license; is not playing on any L3 device except Redmi Note-4.
Means on Redmi Note-4, stream works which should not.

I am sharing the device info for the help to understand underlying DRM.

**Question** : I tried on Exoplayer demo with redmi note-4, it works

[2020-06-26 08:44] gokulkalagara opened #7547 "Frame drops in the exoplayer 2.11.6"
### [REQUIRED] Issue description
Continous frame drops in the Exoplayer and video gets stucks

droppedFrames [eventTime=11.21, mediaPos=3.60, window=0, period=0, 50]
droppedFrames [eventTime=28.00, mediaPos=20.40, window=0, period=0, 50]
droppedFrames [eventTime=30.40, mediaPos=22.81, window=0, period=0, 50]
droppedFrames [eventTime=38.46, mediaPos=30.85, window=0, period=0, 50]
droppedFrames [eve

[2020-06-26 08:48] nitinjain12 commented on #7170
Thank you @andrewlewis for your support.

[2020-06-26 09:22] icbaker commented on #7547
I can't access the URL provided in the email/APK. I get a 403 when I try and load it in my web browser, and when I  try and run the provided APK I get the same 403:

[code]

[2020-06-26 10:11] skogl commented on #7469
Interesting! I will do some test implementations and see how this works out.

Thanks again for your input.

[2020-06-26 10:23] gokulkalagara commented on #7547
Sorry, there is geo-restriction, for that reason you got 403 error, I will attach a new URL to your email that can access from anywhere.

[2020-06-26 10:27] Taranlayal10 opened #7548 "[Widevine] Duplicate Audio Tracks"
I am getting duplicate audio tracks in the stream, Where as in the ingestion audio track English is ingested once but on the player it is getting repeated thrice. I tried searching existing issues but could not find any one similar. If you already have issue reported kindly direct me to the same or help me in this one.

**Exo Player Version**
2.11.5

**Problem**

I am getting the duplicate Audio t

[2020-06-26 10:32] ojw28 commented on #7546
@jt64 - Please take a look.

[2020-06-26 10:37] ojw28 commented on #7482
There are quite a few existing issues discussing this problem, and also some sample solutions posted in those issues. For example: https://github.com/google/ExoPlayer/issues/867.

Have you given them a read? At a high level, yes, you should try and limit the number of instances you use. If only one video is playing at once, ideally you should limit the number of instances to 1.

[2020-06-26 10:53] stari4ek opened #7549 "Assertion crashes app for HLS from SampleQueue.discardUpstreamSampleMetadata"
### [REQUIRED] Issue description
I'm seeing uncaught exceptions in Crashlytics coming from ExoPlayer:
[code]

### [REQUIRED] Reproduction steps
Issue is observed via crashlytics on users devices. App does not request player to stop/cancel playback. Here are last messages right before assertion fails:
[code]

### [REQUIRED] Link to test content
not applicable

### [REQUIRED] A full bug report captu

[2020-06-26 11:02] krocard commented on #7544
Your question is very similar to #7100, please read my comment https://github.com/google/ExoPlayer/issues/7100#issuecomment-604939224 for more detail.
To summarize, it is not possible to reliably tell if a frame is dropped _in tunneling mode_ as there are no guaranty that ExoPlayer receives a callback for each frame rendered.

Nevertheless, more experiments are needed to judge the reliability of `

[2020-06-26 11:17] krocard commented on #7544
For non tunneling mode, onProcessedOutputBuffer will be significantly delayed, multiple calls can even be patched together, so the real time clock is unusable.

I would recommend to only use timestamps and ignore the system clock for tunneling mode. It should allow you to know if a frame was rendered. Even then, it might be unreliable depending on the tunneling implementation.
On the other hand, y

[2020-06-26 12:03] stari4ek opened #7550 "Local build fails due exoplayerSettingsDir"
### [REQUIRED] Issue description
Local build fails due changes introduced with 4138e28d626be428f5d84b77138f90006b233c08

### [REQUIRED] Reproduction steps
build exoplayer library locally (as part of the app project).
I have next project layout:
[code]

I have next settings in the project `settings.gradle`:
[code]

[code]

so it adds relative path to CWD of library and gets invalid one.
I was tryin

[2020-06-26 12:06] gokulkalagara commented on #7547
@icbaker I sent mail which contains sample-apk, dash URL, sample DRM implementations, event logger files, and device bug report. please cross-check if you need anything just ping me back

[2020-06-26 12:11] bluekyu opened #7551 "Codec 0x80000000 error happens using SW decoder"
### Issue description
When SW decoder is used, codec reported 0x80000000 error in 3 seconds after ready state.
(I overridded MediaCodecSelector to select SW decoder.)

However, on playing state, the error does not happen.

In exoplayer-log.txt attachment, player is on ready state,
[code]
after about 3 seconds, "Queue" timeout happens in CCodec.
[code]

Note that everything is okay when I used HW d

[2020-06-26 12:16] bluekyu commented on #7551
I guess that the error is caused by stuck of dequeueing output buffer.

The error message is on https://android.googlesource.com/platform/hardware/google/av/+/refs/heads/master/media/sfplugin/CCodec.cpp#1688
And 3 seconds deadline of queue is on https://android.googlesource.com/platform/hardware/google/av/+/refs/heads/master/media/sfplugin/CCodec.cpp#1705

[2020-06-26 12:27] dbrain opened #7552 "IMA extension: Playback ends before post roll completes"
### [REQUIRED] Issue description
When using the IMA extension on ad supported content with a post roll, the player frequently (>50% of the time from my guestimation) hits an ended state before the post roll has completed.

It also seems to not render the ad UI in the scenario where the ad will terminate before completion.

This was initially noticed in our application (iflix), we then dropped into

[2020-06-26 12:56] changxiangzhong commented on #7544
Can I ask who implements this? Chipset vendor or ODM/OEM providers? My bet is chipset vendor.
Here's some specs about the test env
- Our STB box is based upon Broadcom reference board banff
- We are using Smooth streaming with PlayReady DRM
- Tunneling is on
- The video streaming is 50 FPS

Here's the logic to record the time
[code]

Here's the snippet for print out.
[code]

And here's the result.

[2020-06-26 13:22] icbaker commented on #7547
Thanks for the new URL and updated APK.

When I run the provided APK on my Pixel 3A XL on Android 10 I don't see any `droppedFrame` events in logcat and the video looks smooth.

I can see the events in the BRs you've provided.

I'm going to mark this as 'device specific' and assign to @ojw28 to take a look.

[2020-06-26 13:25] icbaker commented on #7548
It's hard for us to help without access to the media that demonstrates the problem.

If you're unable to share test content publicly, please send it to dev.exoplayer@gmail.com using subject "Issue #7548". Please also update this issue to indicate you’ve done this.

[2020-06-26 13:28] gokulkalagara commented on #7547
Same issues raise in the
**ANOTHER DEVICE**
Redmi Note 9 Pro, OS: 10
Redmi Note 9 Pro Max, OS: 10
Redmi Note 8 Pro, OS: 9

**Event Logger File**
[livestrea-4677a-bbdbd23ef00cb92e-export (1) (1).xlsx](https://github.com/google/ExoPlayer/files/4837152/livestrea-4677a-bbdbd23ef00cb92e-export.1.1.xlsx)

There are frame drops please cross-check

After updating from Exoplayer from 2.11.2 to 2.11.6
Numbe

[2020-06-26 14:04] krocard commented on #7544
Probably chipset vendor, yes, but ODM/OEM could also have customized it.

If you only have only one/a few devices to support, then using the `onFrameRendered` callback is much more reliable as you can validate each hardware decoder/renderer behaviour.

Your result is indeed promising for your device. I would still not rely on `rt_time` for your analysis. A burst of CPU activity could delay those c

[2020-06-26 14:12] andrewlewis commented on #7552
I thought this was fixed by df10fdf773fae4715eed7593c04856b4fdc1e14f but then it wouldn't be reproducible on 2.11.6. I will take another look.

[2020-06-26 14:25] gokulkalagara commented on #7547
**Gradle dependencies**

    //exoplayer
    implementation 'com.google.android.exoplayer:exoplayer:2.11.6'
    implementation 'com.google.android.exoplayer:exoplayer-core:2.11.6'
    implementation 'com.google.android.exoplayer:exoplayer-dash:2.11.6'
    implementation 'com.google.android.exoplayer:exoplayer-hls:2.11.6'
    implementation 'com.google.android.exoplayer:exoplayer-ui:2.11.6'

[2020-06-26 15:41] christosts commented on #7551
Hi @bluekyu, thank you for reporting this. Can you please send us a bugreport obtained from the device right after the error is raised at dev.exoplayer@gmail.com, with subject "Issue #7551"? You can obtain the bugreport running `adb bugreport` from the command line (more info [here](https://developer.android.com/studio/debug/bug-report)).

[2020-06-26 18:52] changxiangzhong commented on #7544
All right, now I understand why you recommended `onFrameRendered()` over `onProcessedOutputBuffer()`. It's because of `onFrameRendered()` calls `onProcessedOutputBuffer()` asynchronously, like the following.
[code]

[2020-06-26 19:19] changxiangzhong commented on #7544
The result for other conditions have been attached as following. The result is too good to believe. Especially for the smooth streaming + tunneling on case

In our application, the MainActivity view is a semi transparent layer on top of the TvView, on which ExoPlayer outputs the video. There's a small animation in the MainActivity View. The animation has slowed down the video considerably - Both t

[2020-06-26 19:56] changxiangzhong commented on #7544
My final version is here. I've adjusted the printout format so that it's eye friendly while scrolling down the logs to find inconsistent numbers.

My personal feeling is this solution is quite promising. While playing 50 FPS resource with MainActivity animation playing, I could feel the glitch, and they are reflected in the log. (The next step is to check whether the time of visual glitch matches

[2020-06-26 20:41] changxiangzhong commented on #7544
### Test result
Very promising, I think this solution works.

### Test process
 - adb shell to STB box
 - type `date +"%T.%3N"` without pressing enter key
 - play video on the STB
 - press enter while encountering a visual glitch to record the time
 - check the logcat log at round that time and find whether there's a gap

### Test result
Glitching happens
[code]
Logs around that time. The frame ge

[2020-06-26 20:54] krocard commented on #7544
Adding the difference with the previous rt_time and pts makes the your log much more readable.
Looking at your result bellow (folded for readability):

<details>
<summary>Click to unfold the results posted previously appended with the delta with the previous line</summary>

[code]
Smooth streaming + tunneling on
[code]
Result for smooth streaming + tunneling off
[code]
Dash + tunneling off
[code]

[2020-06-26 21:09] krocard commented on #7100
@Cizor, changxiangzhong in #7544 has done some testing regarding the tunneling `onFrameRendered ` callback and it seems that the callback is reliable enough to detect frame drops, at least for their device.

I would encourage you to try the same methodology if possible to validate that it successfully detects drop frames for your devices.

[2020-06-27 07:43] NitinSharma639 opened #7553 "Exoplayer showing wrong orientation of some videos."
Hello team

I found one bug while playing some mp4 videos hosted on amazon. While the video is in portrait exoplayer always play it in landscape. I am not able to find any specific source to solve this issue. I can provide you the link as the link is private video. I am not able to share it here.

I am using following libraries.

 implementation "com.google.android.exoplayer:extension-mediasession

[2020-06-27 10:42] Miteshmakwana73 commented on #7446
@marcbaechinger sorry for late response but your last solution Is working for me thank you

[2020-06-27 10:42] #7446 closed, assigned to marcbaechinger

[2020-06-27 11:18] changxiangzhong commented on #7544
I've add more logs for different cases. The following is the script that I used to get the logs
[code]

There are four log files in the zip. Regarding the name convention
 - TvViewOverlaidByAnim - indicates there's an semi-transparent animation on top of the TvView, so much glitch is expected
 - TvViewOnly - indicates there's no animation, so less glitch is expected
 - Dash - Dash Adaptive bitrate

[2020-06-27 12:50] fgl27 opened #7554 "How to Locally build after commit "Move common gradle setup to a setting file"?"
After https://github.com/google/ExoPlayer/commit/4138e28d626be428f5d84b77138f90006b233c08 can't do local builds

To build locally I use https://github.com/google/ExoPlayer/tree/dev-v2#locally

And worked for a long time, after above commit I get a studio error `Could not read script '/home/fgl27/workspace/ExoPlayer/ExoPlayer/common_library_config.gradle' as it does not exist.`

That happens to all

[2020-06-27 12:56] fgl27 commented on #7554
So the problem is because I'm using this
`gradle.ext.exoplayerRoot = '../../ExoPlayer'`
that worked before but now needs to be modified
to
`gradle.ext.exoplayerRoot = "$rootDir/../../ExoPlayer"`

[2020-06-27 14:16] ojw28 commented on #7554
I think we should keep it so that relative paths work as well.

[2020-06-27 21:21] andrewlewis commented on #7544
An output buffer is counted as processed if it's dropped. Using the frame release time in nanoseconds (= the nanosecond time the frame will be presented) seems closest to what was requested in #4088, although frame timestamps (presentation times) will give very similar results.

There may be an edge case like a period transition where the duration of the first period was unexpectedly equal to its

[2020-06-28 06:09] guangmingxiong9999 commented on #7538
Now my m3u8 video can get caught use charles proxy.If have method can not get caught like ijkplayer.

[2020-06-28 06:27] matanmarciano opened #7555 "Playing HLS frame-accurate?"
I'm playing live HLS (which I have control on the server-side) and I'm trying to trigger events on the client-side on some predetermined timestamps (according to the HLS timeline).
If I'm working with  'SinglePeriodTimeline.windowStartTime + player.getCurrentPosition()', is it guaranteed to be deterministic and frame-accurate?
If so, is it also safe to use 'SinglePeriodTimeline.windowStartTime + p

[2020-06-28 07:38] bluekyu commented on #7551
Thank you for the reply! I sent a full bug report captured in Pixel 2.

[2020-06-28 10:41] kvmoondra opened #7557 "Does Exoplayer support with Hybrid Android App?"
Hello there,
Hope you are doing well.

With regards, we are developing a hybrid video news android app(from our app: we are going to distribute the hyperlocal video news feed to end-users, only video content).

For the above, we are looking to integrate Exoplayer and the technologies we are using to develop the Hybrid Android App are:
Ionic, Angular JS, Node JS & MySQL

**Does Exoplayer support wi

[2020-06-28 11:16] allen218 opened #7558 "The memory always increases until the app is out of memory error."
Before filing a bug:
-----------------------
I had searched a lot of the solution from stackOverflow or issues of this project and tried it, but I can't find any solutions to solve this memory problems.

When reporting a bug:
-----------------------
This problem always exists when I use this player and I have tried many methods, but It failed.

### [REQUIRED] Issue description
The code details fol

[2020-06-28 11:36] pawaom opened #7559 "please Include dispatchPrevious(Player player) in DefaultControlDispatcher in next release update"
The dev version V2 has this code

[code]

from this

https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/DefaultControlDispatcher.java

the release code for version r2.11.6 still doesn't have it

I have been waiting for the feature for the a few months now, I don't want to use the dev v2 version for my app (production) level

all I wan to do is

[2020-06-28 12:17] LSDsl opened #7560 "Automatically detect when FLAG_ALLOW_NON_IDR_KEYFRAMES and FLAG_DETECT_ACCESS_UNITS are needed in the TS extractor"
Demo app show buffering progress, length of video and show progress during play. But all this with black screen.

test file http://212.237.34.148/test.ts
test hls http://212.237.34.148/test2.m3u8

[2020-06-28 12:21] ojw28 commented on #7557
ExoPlayer is an Android library designed for native Android app development. We don't do anything special for other development platforms, such as Ionic. Whether Ionic supports ExoPlayer is a question you'll need to direct to the Ionic team.

[2020-06-28 12:21] #7557 closed, assigned to ojw28

[2020-06-28 12:25] ojw28 commented on #7559
Noted, but closing because it's not useful to have lots of issues just to track everything that's currently in the dev branch and hasn't made it to a release yet. This feature will not be included in future 2.11.X minor releases. It will be included in 2.12.X, which we're planning to release at some point in the next three months.

[2020-06-28 12:25] #7559 closed, assigned to ojw28

[2020-06-28 12:37] ojw28 commented on #7548
To add to @icbaker's response above, it seems most likely that the content you're playing has duplicate audio tracks, in which case this would be an issue with how you're creating the content rather than an issue with ExoPlayer.

[2020-06-28 13:59] eneim commented on #867
Hi all, remember [my proposal above](https://github.com/google/ExoPlayer/issues/867#issuecomment-481069839)? I have completed my implementation and here is an(other) article about how to use ExoPlayer in RecyclerView _in simple way_:

https://ene.im/2020/06/28/kohii-201-videos-in-recyclerview

- [x] Automatic playback.
- [x] Reuse a few PlayerView instances for all of your Videos.
- [x] Reuse ExoP

[2020-06-28 15:51] gokulkalagara commented on #7444
can I know the status

[2020-06-28 16:21] ojw28 commented on #7558
If this is happening with the emulator, then it's probably an emulator bug rather than a problem with ExoPlayer. Most likely https://issuetracker.google.com/142528714. If this is happening with a real device, please provide complete information as requested in the issue template (i.e. a full bug report, and the device being used).

As a final point, `onCreate` and `onStop` are not symmetric. You s

[2020-06-28 18:44] elkasvirElka commented on #3327
I was searching for this opportunity also. Does anybody have their custom implementation?

[2020-06-28 21:17] ojw28 commented on #7536
This seems similar to https://github.com/google/ExoPlayer/issues/7485. I.e., can't you get this using `AnalyticsListener.onLoadError`? It may be that the same error is passed to `onPlayerError(ExoPlaybackException exception)` later on, which is the point at which the error is deemed fatal, causing playback to fail. But using `AnalyticsListener.onLoadError` should be sufficient for analytics purpos

[2020-06-29 02:11] allen218 commented on #7558
@ojw28 OK, I‘ll try that at the real devices.

[2020-06-29 02:28] allen218 commented on #7558
You're right. The problem don't occur on the real devices.  I appreciate your help very much.

[2020-06-29 02:28] #7558 closed, assigned to ojw28

[2020-06-29 03:11] JoshuaChewStar commented on #7541
Hi just to update you guys about this issue.

It was my mistake and the download was actually quick, I overlooked and the file size during downloading for v2.9.0 was much more smaller.

My apologies, and thanks for helping me.

[2020-06-29 04:57] jigneshpandav commented on #5935
Any update on this?
Having the same issue

[2020-06-29 05:52] Taranlayal10 commented on #7548
I have raised the request with our customer / content owner and will share it with you once we have the agreement.

@ojw28 I understand your point but for the same widevine content on web application the bit movin player does not have this problem. Can you check at your end once I share the content so that we can be sure whether its content ingestion problem or not.

[2020-06-29 06:30] Taranlayal10 commented on #7548
I have shared the content details. Please check.

[2020-06-29 08:20] tonihei commented on #7550
That's a duplicate of #7554.

[2020-06-29 08:20] #7550 closed, assigned to tonihei

[2020-06-29 08:34] tonihei commented on #7549
This was a bug in the code after merging a PR and has been fixed since (I think by https://github.com/google/ExoPlayer/commit/7bc5fa855f774ce198e23a455fec751b7743486f).

[2020-06-29 08:34] #7549 closed, assigned to tonihei

[2020-06-29 08:56] skogl commented on #7469
So I have done some test implementations and it seem to work as expected!

Currently I have only implemented this lazy loading strategy for the audio readers which was quite simple since they where nicly structured using a state machine. I started doing the same change for the H26x readers but ran into problems since _consume_ immediately start using the precreated tracks for buffering. Also, I un

[2020-06-29 09:46] icbaker commented on #7548
Thanks for the link - unfortunately I'm unable to access the DASH manifest, the server returns me a 403 error. This happens from the ExoPlayer demo app and also when I try and download it directly in my browser.

[2020-06-29 09:47] icbaker commented on #7538
I'm afraid I still don't really understand the question or the problem.

It's likely you'll need to write a lot more than 2 sentences in order to provide enough information for us to help you.

Please take a look at the issue template to see the sort of information we need: https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md

[2020-06-29 09:49] perholgersson commented on #6348
@ojw28 any update on this?

[2020-06-29 10:10] andrewlewis commented on #7552
This appears to be fixed by eb9de7a120240d34f3cd40bacdffa5860dfa782a which will go into 2.11.7: on 2.11.6 I can repro the issue about 5/10 times, but with that fix I don't see the issue on 20 attempts.

[2020-06-29 10:34] Taranlayal10 commented on #7548
Thanks for checking. Yes I can see the sample app is throwing error in my case its not 403 rather it is  com.google.android.exoplayer2.ExoPlaybackException: android.media.MediaCodec$CryptoException: Required output protections are not active.

Please ensure to remove any force L3 settings. After removing below settings content gets played in sample app too
mediaDrm.setPropertyString("securityLevel

[2020-06-29 11:21] AquilesCanta commented on #7469
Ah right.

I think if you see a single packet for the PID, then it's ok to just create the track. I think that will be good enough. The reason I think this is that generally, problematic streams are generated by someone applying a subset of the filters in a TV tuner, and the result of this is that some PIDs are missing from the stream. So if you find a single packet for a given PID it's likely we

[2020-06-29 12:12] skogl commented on #7469
I hadn't planned on doing any changes in the sparse tracks but using the current implementation it would be inconclusive if I didn't change the video renderers as well. But you gave me another idea so I'll do some refactoring and see if it's possible to eliminate the need for change in all readers.

What I meant was, how can I tell if a track is dense or sparse? There isn't anything in the actual

[2020-06-29 12:18] marcbaechinger commented on #7527
Yes, for adaptive live streams, the floating live window is problematic for the timebar as it changes quickly.

It depends on the kind of live stream you are having. The JavaDoc of the [Timeline](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.html) class shows what different types to expect for adaptive streams. If your live stream has indefinite availability it would p

[2020-06-29 12:51] ghost commented on #7527
thanks marc... can we load following type of icon in exoplayer notification ? if so then can you give me specific size for this type of icons?
![Backward-15Secs-withtext@2x](https://user-images.githubusercontent.com/61005178/86007576-3ac14880-ba35-11ea-9340-6a59a64283fa.png)

[2020-06-29 13:05] kim-vde commented on #7553
As you cannot share it publicly, could you send the link to the test content to dev.exoplayer@gmail.com, using subject "Issue #7553"? This would help me understand what's going on. Please also update this issue to indicate you’ve done this.

The information in #3275 could also be useful.

[2020-06-29 13:13] NitinSharma639 commented on #7553
Hi I found the issue is in file the width of the file is greater than the height but when I download it the default player (Mac) is playing it as portrait. Exoplayer is correctly playing it. Thank you very much.

[2020-06-29 13:13] #7553 closed, assigned to kim-vde

[2020-06-29 13:41] ojw28 commented on #5978
This is fully implemented in `dev-v2`, and will be part of `2.12.0`. Please give it a try.

Note: Additional commit not ref'd above: https://github.com/google/ExoPlayer/commit/c9717f67ea7ccd647188210c83ec582e98e4c5c7

[2020-06-29 13:42] ojw28 commented on #6978
Ignore the commit referenced above; the commit referenced the wrong issue.

[2020-06-29 13:52] andrewlewis commented on #7552
@dbrain Please could you try reproducing this with r2.11.7 and let me know you can still get the same behavior? I will reopen this issue and take another look if so. Thanks!

[2020-06-29 13:52] #7552 closed, assigned to andrewlewis

[2020-06-29 14:21] icbaker commented on #7548
OK I've managed to access the DASH manifest (seems it's geo-blocked?).

It declares 2 audio `AdaptationSet` elements, one with `lang="eng"` and the other `lang="hin"`. The english one contains 3 `Representation` nodes (with 3 slightly different bandwidths) while the hindi one only has one:

[code]

It seems ExoPlayer is working as I'd expect here. You can see in the logcat it knows the 3 english a

[2020-06-29 14:38] kim-vde commented on #7555
**For listening**
You can use `player.getCurrentPosition()` to know whether the position required has been reached. This is not deterministic or frame-accurate though, as the position is recomputed approximately every 40 ms. The event will be fired when the frame is shown or very shortly after.

If you need more precision, you can use a `VideoFrameMetadataListener` (see [SimpleExoPlayer.setVideoFr

[2020-06-29 14:49] ojw28 commented on #7538
I think the question is whether it's possible to configure ExoPlayer so that its requests do not get intercepted by Charles Proxy. ExoPlayer doesn't know anything about Charles Proxy, and has no way of doing so, so I think the answer is no.

That said, depending on what you're trying to do, you might be asking the wrong question. It's possible that the question you should be asking is whether Char

[2020-06-29 15:31] kim-vde commented on #7560
It seems the problem comes from the TS file. This file has an H.264 video stream and an MP2 audio stream.

The video stream should be supported. I will investigate why this specific video is not played.

To play the audio stream, you should use the [FFMEG ExoPlayer extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) (see [Supported formats page](https://exoplayer.dev/

[2020-06-29 15:34] rajeshghosh1978 commented on #5935
@AquilesCanta: This is something that is not 100% reproducible with a single playback URL. So a sample URL doesn't help here. Can you expose some kind of API which will release any resources related to the MediaCodec, by calling this we could release all the codec resources even before starting a new playback session? Using this we can unblock customers to play the next content.

Since we are talk

[2020-06-29 15:41] AquilesCanta commented on #7560
You should check out the [FAQ: Why do some MPEG-TS files fail to play?](https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play).

[2020-06-29 15:47] kim-vde commented on #7560
This content has AUD NAL units but doesn't have IDR frames. Setting the flag FLAG_ALLOW_NON_IDR_KEYFRAMES fixes the issue (see [HlsMediaSource.Factory.setExtractorFactory()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/HlsMediaSource.Factory.html#setExtractorFactory-com.google.android.exoplayer2.source.hls.HlsExtractorFactory-) and [DefaultHlsExtractorsFactory](http

[2020-06-29 17:36] gokulkalagara commented on #7547
**SAMSUNG**
Model: SM-G615F, OS Version: 8.1.0
Model: SM-J810G, OS Version: 9

In this devices also

[2020-06-29 18:48] LSDsl commented on #7560
Not it work (with FLAG_ALLOW_NON_IDR_KEYFRAMES ). But may be better add some help info in logs in this situation? Ty

[2020-06-29 18:56] ojw28 commented on #7495
In the GL demo the rendering is done by `BitmapOverlayVideoProcessor`. The `a_position` and `a_texcoord` attributes define the positions of the vertices of the rectangle that ends up being drawn, and the texture coordinates that are mapped to each one, respectively. So I think you need to understand enough OpenGL to work out how that works, and then modify that code to render the video rotated.

A

[2020-06-29 18:56] #7495 closed, assigned to ojw28

[2020-06-29 19:07] ojw28 commented on #7560
@kim-vde @AquilesCanta - The flags might remain useful to force certain behaviours on, but would it be possible to do something more intelligent by default so that specifying the flags is required for fewer cases?

For example, I suspect that we could have a default behaviour where we start off detecting access units the expensive way, and switch to the cheap way as soon as we see an AUD in the st

[2020-06-29 19:23] ojw28 commented on #4924
I don't really know what to suggest here, unfortunately, since we're still unable to reproduce this locally. I think we'll probably just need to leave the issue open for a bit, in case some further information or additional reports are provided.

[2020-06-29 19:44] kvmoondra commented on #7557
Thanks for your response, Oliver. I have managed to speak to Ionic support and they referred me **Cordova ExoPlayer Plugin** , more info is provided in this link: https://ionicframework.com/docs/native/android-exoplayer

**However, they suggested us to recheck with Exoplayer team**, so, can you please check the link provided above & confirm whether that plugin will work with Exoplayer or not?

It

[2020-06-29 19:55] ojw28 commented on #7557
As in my previous response, we don't do anything special for other development platforms, such as Ionic.  If another development platform wishes to provide support for ExoPlayer, it's entirely the responsibility of that platform to implement and maintain an integration, or to provide sufficiently direct access such that you can build such an integration yourself.

Your link appears to link [to thi

[2020-06-29 20:22] LSDsl opened #7563 "No AC3 Sound on supported device"
One of my device support AC3 from box. But during play HLS there is no sound. Logs from player

[code]

[2020-06-29 20:42] LSDsl commented on #7563
[bugreport-NHG47L-2020-06-29-16-40-40.zip](https://github.com/google/ExoPlayer/files/4847920/bugreport-NHG47L-2020-06-29-16-40-40.zip)

[2020-06-30 03:27] dbrain commented on #7552
Thanks @andrewlewis, seems to be working a lot better.

Noticed a few little things, unsure if they are known issues/non-issues, but thought I'd mention to be annoying.

Demo app:
- If you seek far enough into content, e.g. 2 seconds left, it doesn't bother to snapback to midroll. Not sure if intentional.
- After playing until the end then leaving player seeing constant progress update logs. Seems

[2020-06-30 07:12] changxiangzhong commented on #7544
Thanks for your effort, both @andrewlewis and @krocard. Our test result seems very promising on our two HW platforms. And the result reflects the janky/laggy behavior correctly. Do you have the intention to add this feature? We are very willing to contribute it to the community.

[2020-06-30 07:38] biswarupdasgupta opened #7564 "Setting initial startup buffer size/time for Dash playback"
### [REQUIRED] Searched documentation and issues

### [REQUIRED]We have a question of how to set the initial buffer size/time for DASH playback.

We are using the below parameter, wanted a confirmation if this is enough. Our chunk size is 4s.

 /**
     * The default duration of media that must be buffered for playback to start or resume following a
     * user action such as a seek, in millisecon

[2020-06-30 07:49] andrewlewis commented on #7552
Thanks for the extra information!

This is a side effect of how postrolls got triggered originally (we triggered 'content complete' based on receiving a buffering even with the player position near the end). The IMA SDK now preloads postrolls so we may be able to get rid of this behavior, but I am skeptical about whether preloading of postrolls will continue to work as it does now indefinitely so

[2020-06-30 08:18] andrewlewis commented on #7545
Could you provide some more information on what the crash was (error message/logging/stack trace)? I'd have thought that the filter operates on decoder output (raw audio) so all formats would work the same.

I don't know much about avfilter I'm afraid, and this doesn't seem related to ExoPlayer so is probably out of scope for this issue tracker. You may have more luck asking on an FFmpeg mailing l

[2020-06-30 09:05] rokney commented on #7545
Hi. Thx for answer. Crash at this line
[code]
with
[code]
Anyway, thx for any help

[2020-06-30 10:32] matanmarciano commented on #7555
Tnx for answering @kim-vde ,
`onVideoFrameAboutToBeRendered` raised with `presentationTimeUs` that calculated by your internal logic and `releaseTimeNs` that is the current nano time.
so both of these values not really what I am looking for.

I need to start playing/seek to some point (triggered by server-side).
Maybe can I get the pts value (from the MPEG TS packet) of the current decoded/rendere

[2020-06-30 10:55] #7466 closed, assigned to andrewlewis

[2020-06-30 11:34] ojw28 commented on #7558
@allen218 - The issue I referenced above suggests that the problem might be fixed if using an API level 29 emulator. Would it be possible for you to give this a try? They may be able to backport the fix to earlier API level emulators if verified. Thanks!

[2020-06-30 11:39] #7447 closed, assigned to andrewlewis

[2020-06-30 11:51] krocard commented on #7544
Tunneling frame statistics is not on our short to mid term roadmap to add such feature, nevertheless we always gladly welcome pull requests.

It would be interesting if the change also updated existing non tunneling informations, like `DecoderCounter` in tunneling, especially `droppedBufferCount` was requested in #7100.
But even just a pull request of your current approach could help other ExoPlay

[2020-06-30 12:04] marcbaechinger commented on #7527
You can override the drawables used by the notification manager [as described in the class level JavaDoc](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L108). You can see how the resource names are mapped to the actual drawables in [values/drawables.xml](https://github.com/google/ExoPlayer/blob/release-v

[2020-06-30 12:21] kim-vde commented on #7560
I think it should indeed be feasible. I'll mark the issue as an enhancement to keep track of this improvement.

[2020-06-30 12:28] changxiangzhong commented on #7544
OK, got it. Will submit a pull request can we can start the talk there.

[2020-06-30 12:28] #7544 closed, assigned to krocard

[2020-06-30 12:30] marcbaechinger commented on #7420
Media sample data need to be in a container format that is supported by ExoPlayer. For PCM data this is commonly a WAV file. The file for which you pasted the link in your comment seems to be a file which just contains the raw PCM data.

There is a page around supported media files for Android which is helpful for ExoPlayer as well, because that's what the underlying codecs of the media framework

[2020-06-30 12:33] kim-vde commented on #7555
I am not sure I understand what you are trying to do.

You know the timestamp in advance, right?  Do you want to trigger an event when the playback has reached this timestamp? To which position do you want to seek? Why do you need frame accuracy?

[2020-06-30 12:58] kim-vde commented on #7563
Can you send the test content? If you're unable to share it publicly, please send it to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

Note that you can use the [ExoPlayer FFMEG extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg)

[2020-06-30 13:05] meixililu commented on #7420
Thank you.

[2020-06-30 13:05] #7420 closed, assigned to marcbaechinger

[2020-06-30 17:07] faith-murphy opened #7565 "Rename the language in ExoPlayer to be inclusive"
### [REQUIRED] Use case description
The language in the ExoPlayer code and documentation is non-inclusive. This is a request to update the code and comments to reflect the guidelines Google has laid out for writing inclusive documentation (https://developers.google.com/style/inclusive-documentation)

### Proposed solution
Rename the non-inclusive language in the ExoPlayer to be inclusive. For exam

[2020-06-30 17:42] andrewlewis commented on #7563
Just to add to Kim's suggestion: this device appears to have an ac3 decoder (`OMX.google.ac3.decoder`) and we try to use it, so it may be worth setting breakpoints to check whether `DefaultAudioSink.configure` is being called (to make sure we are setting up an `AudioTrack` based on a decoder output format) and then whether `DefaultAudioSink.handleBuffer` is being called (to see if the decoder is a

[2020-06-30 18:55] kmrinmoy07 opened #7566 "Correct implementation of Exoplayer to play audio from InputStream"
### [REQUIRED] Searched documentation and issues
I have searched the answer in the whole internet as I could but not getting any proper solution. I also saw the issues and I found one issue in which this is asked but I could follow it correctly to make my project work. It would be very good if you include in your docs.

### [REQUIRED] Question
I have some encrypted audio files downloaded and while

[2020-06-30 19:35] LSDsl commented on #7563
test link http://212.237.34.148/hls3.m3u8

@andrewlewis what I need to do?

[2020-06-30 19:48] LSDsl commented on #7563
configure and handleBuffer called.
![image](https://user-images.githubusercontent.com/1483011/86170393-bbf70900-bb23-11ea-89ab-885dda5056aa.png)

[2020-06-30 22:11] kvillnv opened #7567 "SimpleCache RAM consumption"
### Searched documentation and issues
Related: https://github.com/google/ExoPlayer/issues/4253

### Subject
* **Context:** Android P - Exoplayer 2.11.7 - Android TV devices with USB-C external hard drive
Right now I have just 90GB of files in my download folder. These are DASH streams downloaded with Exoplayer 2.11.7

* The more the download folder size increases the more the RAM consumption incre

[2020-07-01 05:53] GouravSna commented on #7546
Hi @jt64 , Please let me know if any more details required of this device.

[2020-07-01 10:10] Romantic-LiXuefeng commented on #5978
I have try to read the source code, it's complex. @ojw28 Could public the design docs about this?

[2020-07-01 10:14] AquilesCanta commented on #7564
As you point out, buffer for playback is `The duration of media that must be buffered for playback to start or resume following a user action such as a seek`. If you want to start playback after loading the first chunk then you should match this value and the duration of the first chunk, which is 4 seconds.

I don't understand the _id est_ part of the sentence. 1 seconds of audio and video are not

[2020-07-01 10:34] iamcharleych opened #7569 "AspectRatioFrameLayout.RESIZE_MODE not working in Android MotionLayout"

[2020-07-01 10:49] Gumio opened #7570 "get the hls media playlist info"
I want to get information on the media playlist when the player is trying to play the HLS.
Is there a better way to do this?

[2020-07-01 10:52] AquilesCanta commented on #7560
I think the DETECT_ACCESS_UNITS flag can be removed using the following rules:
- Assume one access unit per PES packet. I think there's only one exception to this rule: A single TS packet containing an entire PES packet. I seem to remember finding this rule in every TV standard (only H.264).
- Use SEI NAL units as access unit delimiters too.

Re allowing non-idr sync frames, the number of reported

[2020-07-01 11:17] ojw28 commented on #5978
We don't have a public design doc for this work; sorry.

[2020-07-01 11:54] dmkenza opened #7571 "High speed PlaybackParameters make sequence of short videos get stuck sometime"
# Issue description

I play sequence  of videos with high speed and sometime render just stopped, but play work I'm getting STATE_ENDED

I see stuck sometime when speed =  2

When speed >  3  I see only first video without changed.

For speed < 1 play normal without a freeze.

### Reproduction steps

I create small videos with ffmpeg from images (each 1s)
using this command
"-y -loop 1 -f image2 -

[2020-07-01 12:40] andrewlewis commented on #7563
[This forum page](https://forum.odroid.com/viewtopic.php?f=178&t=36999) suggests an Amlogic AC-3 decoder is broken: "I can see in media_codecs.xml that there is MediaCodec support for AC3 via OMX.amlogic.audio.decoder.ac3. However, when I try to use this codec to decode via the MediaCodec API I get buffers that contain all zeroes". Although the decoder has a different name, I wouldn't be surprised

[2020-07-01 12:58] kim-vde commented on #7565
Thanks for reporting this issue! We will start working on this in the near future.

[2020-07-01 13:21] kim-vde commented on #7566
Have you tried to use an [AesCipherDataSource](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/crypto/AesCipherDataSource.html)?

[2020-07-01 13:32] kmrinmoy07 commented on #7566
No, I have not tried it till now. Let me check it if I can implement it correctly. If you have any sample code I would request you to post it as it would ḥelp me a lot

[2020-07-01 13:38] JoshuaChewStar opened #7572 "VMAP ads tag with custom cue points"
I have 3 VMAP ads tag and all 3 has a "Preroll" value in it, I have to load these 3 ads into a video and treat them each as a preroll, midroll and postroll.

I tried to follow this example but turns out I can only use mp3/mp4 or other video format as the Uri instead of adTag
[stackoverflow](https://stackoverflow.com/questions/49871348/how-to-show-ads-at-specific-points-using-exoplayers-ima-extensi

[2020-07-01 13:58] LSDsl commented on #7563
` If you could verify that the decoder output is all-zero that would be helpful`
how I can do this?

[2020-07-01 14:48] ojw28 commented on #7567
Note: This is related to https://github.com/google/ExoPlayer/issues/5989.

[2020-07-01 14:49] ojw28 commented on #7567
Actually, it's unclear why this issue is different at all. It seems to be reporting the same thing. Marking as a duplicate.

[2020-07-01 15:36] kvillnv commented on #7567
@ojw28 you are right #5989 is related, but also old and exposes multiple issues that might be confusing. I suggest we close #5989 and keep this new ticket.

Otherwise, please consider looking into my new questions in this new ticket. Any information I don't have could help me take decisions regarding this situation.

Thanks.

[2020-07-01 15:39] #5989 closed, assigned to ojw28

[2020-07-01 15:39] ojw28 commented on #5989
Closing as suggested on https://github.com/google/ExoPlayer/issues/7567.

[2020-07-01 15:50] andrewlewis commented on #7563
I'd just edit the code to loop over the bytes in the input buffer passed to `DefaultAudioSink.handleBuffer` and check if they are all zero.

[2020-07-01 15:55] kmrinmoy07 commented on #7566
I have implemented this [class](https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/library/core/src/main/java/com/google/android/exoplayer2/upstream/crypto/AesCipherDataSource.java) in my project but I am unable to prepare the MediaSource for Exoplayer. Could you please help a little bit

[2020-07-01 16:03] andrewlewis commented on #7572
Can you download all the ad tags at the start and generate a new VMAP based on them yourself, then pass that to `ImaAdsLoader.Builder.buildForAdsResponse`? I think that might be the best way to do this (my only concern is that you need to request all those ads at the start, rather than requesting them just before playback reaches the cue points, but I'm not sure if that will be an issue for your u

[2020-07-01 16:35] paceraudio commented on #6348
@RichardDapice I found forcing certain devices to use L3 worked as well, however this used to be easy by using `drmSessionManager.setPropertyString("securityLevel", "L3")`. I am in the process of updating Exo to 2.11.3, and this method is gone, and I don't see any straightforward way to force L3.  @ojw28 It might be worth making this available again in a straightforward way?

[2020-07-01 16:55] andrewlewis commented on #7545
Is it possible that bufferOutSize is no longer the correct size to use after avfilter has applied? Or is it worth trying to filter after resampling? Beyond that I don't have any suggestions I'm afraid. Closing as this isn't in the scope we can provide support for.

[2020-07-01 16:55] #7545 closed, assigned to andrewlewis

[2020-07-01 17:11] matanmarciano commented on #7555
OK I will try to provide some deep explanation.
We have a live stream (HLS) of football (just for example:)).
there was a game clock/streaming clock (for most is 90min, 00:00:00 to 01:30:00).
When I launch the exoplayer with this stream, I located a few seconds back to the game clock..lets call to this "delay" as X.
I want to change (in real time) this X value..it means to be X ms back from the "g

[2020-07-01 17:35] greyski opened #7573 "Seekbar with TalkBack enabled is not focusable/controllable (not accessibility compliant)"
### [REQUIRED] Searched documentation and issues
I've searched around the repo & official ExoPlayer docs, and only found a StackOverflow QA which I wanted to discuss: https://stackoverflow.com/questions/41418291/exoplayer-seekbar-does-not-work-with-arrow-keys

### [REQUIRED] Question
Does ExoPlayer plan on supporting TalkBack for the seekbar?

If not, does the referenced StackOverflow post ring tr

[2020-07-01 18:50] ar-g opened #7574 "Draw interactive shapes on top of SphericalGLSurfaceView?"
### Searched documentation and issues
I've looked into `gldemo` and library srcs.

### Question
I have rather design question unrelated to ExoPlayer, I'm trying to draw several shapes on top of playing 360 video, these forms will change coordinates depending on sensor position, touch data and point in time.

What would be the best option?
- Pull `spherical` package from `library-ui` into my own pr

[2020-07-02 01:04] #7463 closed, assigned to andrewlewis

[2020-07-02 01:04] #7429 closed, assigned to marcbaechinger

[2020-07-02 01:04] #7388 closed, assigned to GouravSna

[2020-07-02 01:04] #7387 closed, assigned to marcbaechinger

[2020-07-02 01:04] #7218 closed, assigned to AquilesCanta

[2020-07-02 01:27] JoshuaChewStar commented on #7572
Hmm, sure I can try this out first, will let you know how's the outcome. Thanks!

[2020-07-02 06:16] kuailedeadai opened #7575 "Hello, the current PS format file, 0xBD audio data currently only supports AC3, but there are actually many other encodings, such as pcm_dvd, are there any distinguishing fields in the PS byte stream?"
Hello, the current PS format file, 0xBD audio data currently only supports AC3, but there are actually many other encodings, such as pcm_dvd, are there any distinguishing fields in the PS byte stream?

[2020-07-02 06:42] wishy-viewlift opened #7576 "Customize UI for player notification manager?"
I want to customize the UI for player notification. I want to move the image from right to left.
Is it possible ?

[2020-07-02 07:10] kim-vde commented on #7566
Could you send the logs that you get?

[2020-07-02 07:30] kgrevehagen opened #7577 "When is sound actually heard/outputted?"
### [REQUIRED] Searched documentation and issues
- Github, Stack Overflow, exoplayer.dev, ExoPlayer Javadoc
- https://exoplayer.dev/listening-to-player-events.html#player-state-changes

### [REQUIRED] Question
I did some testing in the sample app, to figure out when sound was actually heard/outputted. It seems to me that `onPlayerStateChanged()` with `STATE_READY` and/or `isPlaying()` callbacks ar

[2020-07-02 08:18] kim-vde commented on #7555
Ok, thanks for the clarifications. If I understand correctly, you want to seek to liveTime - X when a user starts playing the video.

I think you could use what you suggested originally. You might have a difference of a few frames, but not more.

[2020-07-02 08:46] kmrinmoy07 commented on #7566
Thanks for the comment, after few trials finally I am able to successfully implemented the `AesCipherDataSource` but I had to change my `encrypt` method too. The default [AesCipherDataSource](https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/library/core/src/main/java/com/google/android/exoplayer2/upstream/crypto/AesCipherDataSource.java) was only able to decrypt fi

[2020-07-02 09:05] finneapps commented on #5193
Can you recommend a way of creating the SECRET_KEY? I guess it is not optimal to just hardcode something random. I am thinking to either generate a key based on some installationID or use something from the jetpack security library.
I first tried
[code]
Then I could use the `keyAlias` as the secret key. But MasterKeys is deprecated and also requires API 23. Any recommendations here would be apprec

[2020-07-02 09:11] kim-vde commented on #7571
Can you explain what you mean when you said the video is getting stuck? Does the playback resume after some time?

Can you send a few of your small videos so that we can try to reproduce the problem? If you're unable to share test contents publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Plea

[2020-07-02 09:19] ojw28 commented on #7575
Duplicate of https://github.com/google/ExoPlayer/issues/6956.

[2020-07-02 09:19] #7575 closed, assigned to ojw28

[2020-07-02 09:40] ojw28 commented on #5193
I don't think this is an ExoPlayer specific question. It's a generic question about key management. We're not experts in this area and I imagine it's probably quite a complicated topic (e.g., where you store the key after you generate it is presumably also important). I think you'll find better resources elsewhere. A few Google searches for things like ("secret keys android") suggests there's quit

[2020-07-02 09:44] AquilesCanta commented on #7570
Please check out [Player.getCurrentManifest](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getCurrentManifest--). It should return an [HlsManifest](https://exoplayer.dev/doc/reference/index.html?com/google/android/exoplayer2/source/hls/HlsManifest.html) object. Hope this answers your question. Leaving open in case you have a follow up question. If not, please close

[2020-07-02 10:02] kim-vde commented on #7573
Hi,

I made a quick test with TalkBack (without external keyboard). What I observed is that, in the ExoPlayer demo app, the seek bar is indeed not focusable, but you can seek into the media by using the fast forward and rewind buttons. I observe the same behaviour in the Youtube app.

Is this improvement about making the seek bar focusable and navigable when an external keyboard is connected to th

[2020-07-02 10:32] kim-vde commented on #7566
Then I think you need to implement your own DataSource by extending the AesCipherDataSource.

[2020-07-02 10:39] kmrinmoy07 commented on #7566
Yes, I have already tried it. I did as done in this [comment#5083](https://github.com/google/ExoPlayer/issues/5083#issuecomment-437901562) but there is a issue in it.

[2020-07-02 11:08] matanmarciano commented on #7555
So actually it is not working..
Please follow the senario:

one activity with two Exoplayer instances.
when the activity is start I pull X value from server side.
I prepare the exo#1...play for a while and after a ~2min I prepare the exo#2..
now, I have two exo instances that plays the same stream but not located at the same position..
so I have some different thread that need to "fix" them to be

[2020-07-02 11:16] PratimMallick commented on #4571
Is this issue fixed @ojw28. Was facing something similar was playing 4k content on Firestick AFTMM using HEVC decoder
@peddisri Did you get any solution to this?

[2020-07-02 11:22] parth-paghadal opened #7578 "How to exclude a decoder?"
How can i set sw and hw decoder feature in my exoplayer app?

[2020-07-02 12:28] kim-vde commented on #7576
ExoPlayer uses the Android default notification template (see [notification anatomy](https://developer.android.com/guide/topics/ui/notifiers/notifications#Templates)) so it is not possible to move things around easily. You need to extend the `PlayerNotificationManager` to use a [custom notification layout](https://developer.android.com/training/notify-user/custom-notification#java).

[2020-07-02 12:44] kim-vde commented on #7566
Ok. This error means that the Mp3Extractor can't find the Mp3Frames. This is probably due to an error in the decryption process.

Do you get the same error when you are using the `AesCipherDataSource` together with the `AesCipherDataSink`?

I would try to debug to see what happens when you seek forward to a non-buffered position and to compare the bytes decrypted with the ones of the unencrypted f

[2020-07-02 12:47] kmrinmoy07 commented on #7566
**No**, with `AesCipherDataSink` there is no such error. Only with our own encrypt method the above said problem seems to occur

[2020-07-02 13:32] kim-vde commented on #7555
What you are trying to do is still not clear to me. My understanding is that you are trying to execute the following steps:
- Create one activity with 2 player instances
- Retrieve the value x = liveTime - delta at which to start from the server
- Prepare and start the first player instance from time x
- Wait for a while
- Prepare and start the second player instance from the current position of t

[2020-07-02 13:34] kim-vde commented on #7566
Then my guess would be that the decryption is not the exact opposite of the encryption, and therefore that the resulting MP3 file is corrupted.

[2020-07-02 13:46] LSDsl commented on #7563
Yes. they are all zero 😒

[2020-07-02 13:47] kmrinmoy07 commented on #7566
If I use my own encryption method as given [above](https://github.com/google/ExoPlayer/issues/7566#issuecomment-652876183) and implement the default `AesCipherDataSource` then yes it is correct that the decryption is not the exact opposite of the encryption. Alternatively, if I use a custom `AesCipherDataSource` with our own `AesFlushingCipher` mechanism then the above [problem](https://github.com

[2020-07-02 14:07] emilieroberts opened #7579 "The "buffer" variable of the processOutputBuffer in MediaCodecRenderer and MediaCodecVideoRenderer and MediaCodecAudioRenderer should be annotated @Nullable"
Sometimes the ByteBuffer buffer variable in ```processOutputBuffer``` of ```MediaCodecRenderer```/```MediaCodecVideoRenderer```/```MediaCodecAudioRenderer``` can be null. In Kotlin, this triggers a runtime error of:
```java.lang.IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter buffer```

I believe adding ```

[2020-07-02 14:12] kim-vde commented on #7578
Could you please provide more details about what you are trying to do? The [MediaCodec documentation](https://developer.android.com/reference/android/media/MediaCodec) might be relevant.

[2020-07-02 15:13] kim-vde commented on #7579
Thanks for reporting this.

Note that the buffer should not be null in most cases. Could you explain the use case for which it is null for you?

[2020-07-02 15:48] andrewlewis commented on #7574
I guess the things rendered on top of the video need to be synchronized with it in a frame-accurate way. That may be difficult with the second option, and I'm also not certain compositing another `SurfaceView` on top will work nicely across all devices.

So I'd go for the first option: fork the `SphericalGLSurfaceView` or at least its renderer, and modify the GL shader to show the shapes on top. I

[2020-07-02 15:48] #7574 closed, assigned to andrewlewis

[2020-07-02 16:13] andrewlewis commented on #7563
Given the device is not a certified Android device, I'm not sure we should block use of the decoder in `MediaCodec.isCodecUsableDecoder` (it may have other compatibility issues). The other report I linked to above is similarly not from a certified Android build. I'll plan to provide an update here if we hear back from Amlogic on the internal issue.

As mentioned above, investigating using the FFmp

[2020-07-02 16:13] #7563 closed, assigned to kim-vde

[2020-07-02 16:15] christosts commented on #6348
We plan to include this API as experimental (therefore subject to change) in 2.12. We cannot promise a date yet though.

[2020-07-02 17:04] greyski commented on #7573
No external keyboard, you've pretty much answered my question. If I'm summing this up correctly: The seekbar is not accessible on purpose and there is no plans on making it accessible, we utilize the fast forward and rewind buttons to support accessibility in regards to supporting seek actions.

If that's incorrect, feel free to update. Otherwise you've been very helpful, thank you!

[2020-07-02 17:04] #7573 closed, assigned to kim-vde

[2020-07-02 18:42] dwc18 opened #7580 "IndexOutOfBoundsException while doing com.google.android.exoplayer2.source.SampleDataQueue.readData(SampleDataQueue.java:309)"
### [REQUIRED] Issue description

During testing of the code which discards samples in HLS streams when upshifting to a higher resolution stream, I've been able to reliably reproduce the following crash:

2020-06-24 11:48:18.931 22859-22859/com.google.android.exoplayer2.demo E/EventLogger: playerFailed [eventTime=1324.15, mediaPos=557.73, window=0, period=0
      com.google.android.exoplayer2.ExoP

[2020-07-02 19:11] matanmarciano commented on #7555
OK many thanks for your answers.
I will take a look

[2020-07-02 19:11] #7555 closed, assigned to kim-vde

[2020-07-02 20:19] chinmay4github1987 opened #7581 "How to download the Videos Offline and play"
[No information provided]

[2020-07-02 23:05] dwc18 opened #7582 "Improvement ideas for evaluateQueueSize"
### [REQUIRED] Issue description
In testing of the code to discard samples on upshift, from this pull request: https://github.com/google/ExoPlayer/pull/7244 I've discovered what I believe are several issues with the implementation.

One of the issues is an exception that gets triggered due to an index out of bounds, which I filed in a separate bug: https://github.com/google/ExoPlayer/issues/7580

[2020-07-02 23:49] neuro79 opened #7583 "Audio fails using EXTENSION_RENDERER_MODE_PREFER when ffmpeg library doesn't support the codec."
### [REQUIRED] Issue description

Application running Exoplayer 2.11.7 with multiple audio renders (ffmpeg extension and default device renderer) and the option extension render mode = EXTENSION_RENDERER_MODE_PREFER. FFMPEG extension has been compiled using only opus, orbis and flac. When Exoplayer tries to reproduce a source using AAC codec the audio track selection fails and we don't have audio

[2020-07-03 03:33] parth-paghadal commented on #7578
4k video is laging

[2020-07-03 03:38] parth-paghadal commented on #7578
4K video is play with leg that's why i want to set hardware decoder so i think it can solve my problem.is it?

Here is my **MediaSorce**
val dataSourceFactory = DefaultDataSourceFactory(this,userAgent,bandwithMeter)
            val progressiveMediaSource = ProgressiveMediaSource.Factory(dataSourceFactory).createMediaSource(currentMedia?.path?.toUri())
            return MergingMediaSource(progress

[2020-07-03 04:09] amoizesmail opened #7584 "MP4 Videos Unable to Play - UnrecognizedInputFormatException: None of the available extractors"
### Issue description
We are integrating Exoplayer to our application and one of the features is to play an mp4 video stored in an S3 bucket. S3 bucket's permissions is already set to public to make our videos publicly available to the app without authentications. The videos are not playing the due the this exception **UnrecognizedInputFormatException**

### Reproduction steps
I used the [ExoPlaye

[2020-07-03 06:57] PratimMallick commented on #5795
Hi @ojw28 . This really makes sense to have and can greatly benefit any app using exoplayer. Additionally another thing which can be done is setting up both video and audio decoders in parallel instead of sequential as it is now.

When can we expect the release for pre warming of decoder to happen?

[2020-07-03 07:47] tonihei commented on #7580
Thanks for the detailed report. I believe this essentially a duplicate of #7549 and the problem was caused by a bug in #7244 that is already fixed on the dev-v2 branch by https://github.com/google/ExoPlayer/commit/7bc5fa855f774ce198e23a455fec751b7743486f.

[2020-07-03 07:47] #7580 closed, assigned to tonihei

[2020-07-03 07:48] tonihei commented on #7554
The issue should be fixed by the commit above, please let us know if it still occurs. Thanks!

[2020-07-03 07:48] #7554 closed, assigned to tonihei

[2020-07-03 08:05] Taranlayal10 opened #7586 "Offline Playback Support"
Before filing a question:

### [REQUIRED] Searched documentation and issues
I did find an issue similar to mine. But it was closed without any comments [https://github.com/google/ExoPlayer/issues/7300](url)

### [REQUIRED] Question
I am downloading the widevine content with a license URL from some third party library which appends an token with License URL for some duration(8 hours) and after that

[2020-07-03 08:18] ojw28 commented on #7581
Please see [the documentation](https://exoplayer.dev/downloading-media.html).

[2020-07-03 08:18] #7581 closed, assigned to ojw28

[2020-07-03 08:22] ducanh3005 opened #7587 "How to cache buffer from flv stream?"
Can you help to cache data source (buffer) of flv stream( record video of flv stream)
Thank you

[2020-07-03 08:45] Romantic-LiXuefeng opened #7588 "Add some limits on the background download threads while playing download thread is working"
### [REQUIRED] Question
According to the [https://github.com/google/ExoPlayer/issues/5978](https://github.com/google/ExoPlayer/issues/5978
),  This is fully implemented the parallelize segment downloads. So recently I have done some tests about this feature with the dev-v2 branch's demo. It's amazing work. When parallelize segment downloads, the network can remain more fully utilized. But I may ad

[2020-07-03 09:31] tonihei commented on #7582
Thanks a lot for the detailed analysis! Really helpful to get some additional thoughts on this topic :)

**ISSUE 1) `evaluateQueueSize`/`updateSelectedTrack` called at different times.**

From the point of view you describe it got even worse because we introduced a third method `shouldCancelChunkLoad` that is probably part of the same logic.

At least in our default implementation (with default pa

[2020-07-03 09:48] Gumio commented on #7570
@AquilesCanta
Thx for the reply.

I can certainly get Segments with that. But isn't it difficult to determine the request to the segment that you're about to play back?

The player would get the HlsMediaPlaylist and request an individual segment to play. I would like to get the segment information that is attempting to skip that request.

[2020-07-03 10:05] biswarupdasgupta commented on #7564
hi @AquilesCanta , the goal is for faster startup time. We wanted to use this configuration to start playback as soon as 1 independent decodable segment is downloaded by player. Since our chunk size is 4s and the DEFAULT_BUFFER_FOR_PLAYBACK_MS is 1s , what we understand is using this config we can make the player start playback after downloading the first audio and video segment.

Please correct m

[2020-07-03 10:06] Zeno-Zhou commented on #5804
Hi @ojw28  do you have some plan for the CAS support now? thanks.

[2020-07-03 10:16] kuailedeadai opened #7589 "AC3 content in MPEG-PS does not play properly"
Hello, I am expanding the mpeg-1 ps file, and the playback of audio and video is normal, but the audio data parsed by the existing mpeg-2 ps is almost a buzzing sound, and the trouble will be resolved as soon as possible. Thank you

[2020-07-03 10:19] kuailedeadai commented on #7589
The audio encoding format is ac-3

[2020-07-03 10:24] kim-vde commented on #7566
I think this is probably the best way to solve your problem if you cannot use another encryption method. What I was saying is that there is probably something wrong in the custom `AesCipherDataSource` you implemented, because it should work.
How do you configure your decoding cipher?

[2020-07-03 10:36] kim-vde commented on #7578
This will prefer the extension renderers, which use software decoders. What happens if you use `EXTENSION_RENDERER_MODE_OFF` instead? This is the default value so you do not need to call `defaultRenderersFactory.setExtensionRendererMode()`.

What is the format of your media?

[2020-07-03 10:54] AquilesCanta commented on #7570
Perhaps I'm misunderstanding. Do you want to skip the segment load? What do you intend to do with the information of the currently loading segment?

Aside, please have a look around the issue tracker. Similar questions have been asked in the past. For example, #2805, #4905.

[2020-07-03 10:58] AquilesCanta commented on #4905
For future readers, there are now ways of achieving this. For example, adding an [AnalyticsListener](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/AnalyticsListener.html) to the [player](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#addAnalyticsListener-com.google.android.exoplayer2.analytics.AnalyticsListener-). And listening

[2020-07-03 11:10] AquilesCanta commented on #7564
In that case I suggest you experiment with the different parameters in `DefaultLoadControl`. Specifically important are `bufferForPlaybackMs` and `bufferForPlaybackAfterRebufferMs`. In general, the smaller the values, the faster playback will transition to the READY state. But it's also more likely that it will transition to BUFFERING immediately afterwards. The unit for both parameters is millise

[2020-07-03 11:10] #7564 closed, assigned to AquilesCanta

[2020-07-03 11:23] ojw28 commented on #7566
To add some more detail to this thread:

When implementing encryption/decryption for media, it's quite important to use a cipher that supports random access. Otherwise, when the player needs to seek to the middle of the file, it's necessary to decrypt from the start of the file up to the point at which data is needed, which is obviously quite inefficient. ExoPlayer's built in components use `AES/C

[2020-07-03 11:52] ojw28 commented on #7564
To clarify, "chunk" and "segment" mean the same thing, and the duration is solely determined by the media. If your chunks/segments are 4s long, then the player will download 4s chunks/segments regardless of what value you're using.

The player does not need to download an entire chunk/segment before it can start playback. If `bufferForPlaybackMs` / `bufferForPlaybackAfterRebufferMs` are set to 1s

[2020-07-03 11:53] Ste-RH opened #7590 "Hooking up a MediaSource for specific subtitles when a video does not have them causes looping to fail after the 2nd play through"
### [REQUIRED] Issue description
Defining a subtitle media source of specific type/language (via createTextSampleFormat) causes a video to not loop a second time.  If I pass NULL into the 'sampleMimeType and 'language' the video will loop perfectly over and over and over again as it should do.

### [REQUIRED] Reproduction steps
I changed the demo code to loop and added the following video to media

[2020-07-03 11:55] ojw28 commented on #7588
Have you tried using `PriorityTaskManager` for this. It's not very obvious, but if you build your `DownloadManager` like this:

[code]

and set the **same** `PriorityTaskManager` instance on your player:

[code]

then downloads will automatically stop/start internally when the player starts/stops buffering. Notes:

* This will not be visible as the notification appearing and disappearing since thi

[2020-07-03 12:21] parth-paghadal commented on #7578
Thanks for your reply but after setting EXTENSION_RENDERER_MODE_OFF there no change

**Format of video is** Format(1, null, null, video/avc, null, -1, null, [3840, 2160, 23.975218], [-1, -1]) and
moreover i got error from simpleExoPlayer
com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.MTK.VIDEO.DECODER.AVC, Format(1, null, null,

[2020-07-03 12:37] kim-vde commented on #7584
The problem is that the major and compatible brands (in this case `isml` and `piff`) specified in the `ftyp` box are not listed as being supported in the code. If I bypass the brand check, the videos play properly.

I will investigate what these brands are and whether they can be added to the list of supported brands.

In the mean time, a possible workaround would be to use an `ExtractorsFactory`

[2020-07-03 13:09] PratimMallick opened #7591 "Amazon Firestick: Native Out of Memory error while playing 4k"
### [REQUIRED] Issue description
Player stops playing with out of memory in native while playing 4k content (DASH) on AFTMM firestick. This stream is encoded using h265, so it is using the hevc decoder. From the logs it looks like a native out of memory happened when GraphicBufferAllocator tried to allocate memory
[code]
### [REQUIRED] Reproduction steps
Play the 4k content using exo sample app. T

[2020-07-03 13:27] tonihei commented on #7577
I think your assumptions about what is happening are correct - @andrewlewis may be able to verify in more detail.

It's a known issue that the playback time (as dictated by the actual `AudioTrack` play position) isn't starting to move until shortly after the player state becomes `STATE_READY`. Unfortunately, there doesn't seem to be a way to know exactly when the `AudioTrack` starts outputting sou

[2020-07-03 13:51] icbaker commented on #7011
316f8a8 implements session keepalive inside the `DefaultDrmSessionManager`. By default sessions are kept for 5 minutes after the last 'release' - this can be customised with `DefaultDrmSessionManager.Builder#setSessionKeepaliveMs(long)`.

This is available on the dev-v2 branch - please try it out and let us know if you spot any problems!

[2020-07-03 13:51] ojw28 commented on #7567
Have you tried doing any debugging to work out where the RAM is being used? For example by using the [memory profiler](https://developer.android.com/studio/profile/memory-profiler)? Also, is this issue device specific, or specific to not-really-properly-certified Android TV box devices?

It would be useful if you could capture a [heap dump](https://developer.android.com/studio/profile/memory-profi

[2020-07-03 13:52] icbaker commented on #6725
316f8a8 implements session keepalive inside the `DefaultDrmSessionManager`. By default sessions are kept for 5 minutes after the last 'release' - this can be customised with `DefaultDrmSessionManager.Builder#setSessionKeepaliveMs(long)`. This is (more than!) enough to bridge the gap when seeking between DASH periods - so the session should now be re-used after the seek.

This is available on the d

[2020-07-03 13:52] #6725 closed, assigned to icbaker

[2020-07-03 13:52] #7011 closed, assigned to icbaker

[2020-07-03 13:55] icbaker commented on #4133
We haven't implemented key pre-fetching, but 316f8a8 implements session keepalive inside the DefaultDrmSessionManager. By default sessions are kept for 5 minutes after the last 'release' - this can be customised with DefaultDrmSessionManager.Builder#setSessionKeepaliveMs(long).

This is enough to bridge a clear ad-break, so if the content before and after the ad is encrypted with the same keys the

[2020-07-03 14:06] kim-vde commented on #7589
Hi,

Could you please explain in more details what the issue is:
- What do you mean by "mpeg-1 ps" and "mpeg-2 ps"? Are they media in the PS container format containing MP1 and MP2 elementary streams?
- What do you mean by "expanding the mpeg-1 ps"?
- Could you send a test content that has the buzzing sound? If you're unable to share test content publicly, please send it to dev.exoplayer@gmail.com

[2020-07-03 14:25] fgl27 commented on #7578
I don't know about the `DecoderInitializationException` but...

I had some related issue and it only solved when I used a custom `MediaCodecSelector`
https://github.com/fgl27/SmartTwitchTV/blob/master/apk/app/src/main/java/com/fgl27/twitch/BlackListMediaCodecSelector.java

how to use
https://github.com/fgl27/SmartTwitchTV/blob/master/apk/app/src/main/java/com/fgl27/twitch/PlayerActivity.java#L399

[2020-07-03 14:29] kim-vde commented on #7578
I tried to play the video on a Google Pixel device and on a Samsung device and it works for both. It might be a device-specific issue.

Could you try playing the test content on your device using the ExoPlayer [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main)?

[2020-07-03 14:59] Romantic-LiXuefeng commented on #7588
@ojw28 Thanks for your detail answer.  It helps.

[2020-07-03 14:59] #7588 closed, assigned to ojw28

[2020-07-03 15:08] kim-vde commented on #7578
I think this could be the same problem as in #6503.

Can you:
- Provide us the Build.DEVICE value for your device.
- Provide us the Build.MODEL value for your device.
- Try adding your device to [codecNeedsSetOutputSurfaceWorkaround()](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1557) to see if it fixe

[2020-07-03 16:03] fgl27 commented on #7578
On my case the reason SW decoder needed to be blocked is because some device have confusing decoder information.

For example I try to play a AVC his stream that is encoded with profile level 5.2, device SW decoder advertises max level 5.2 but HW only 5.1, on that case ExoPlayer uses the SW because it has the proper level and the video lags, when I force disable the SW decoder no lag, as the HW is

[2020-07-03 17:02] icbaker commented on #7590
I can't reproduce the problem. I added `player.setRepeatMode(Player.REPEAT_MODE_ALL);` here:
https://github.com/google/ExoPlayer/blob/6026b919a143ad870cfad3a9d84a260452ebc43b/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L386

I tried with both `REPEAT_MODE_ALL` and `REPEAT_MODE_ONE`.

I see the video play (with no visible subtitles, as expected). When it reaches

[2020-07-03 18:38] kim-vde commented on #7565
We plan to rename the occurrences of non-inclusive words gradually, starting with the comments and private fields. We will then proceed to renaming the public API (which needs more care, so it might come a bit later).

Note that we are not planning to rename the words that reference directly the terminology of the specifications that we are implementing.

[2020-07-03 18:59] ojw28 commented on #7583
This works fine for me in the demo app with 2.11.7. Playback plays with sound, using the `MediaCodec` based audio renderer.

This warning isn't related to the problem you're seeing, and can be safely ignored.

Is this issue device specific?  Either way, please try reproducing the problem with the 2.11.7 ExoPlayer Demo app, because it logs additional information that's useful for debugging. Please

[2020-07-03 19:57] Ste-RH commented on #7590
It is the end of the second play-through that then does not loop.

So let the mp4 play through once, loop, play again...it's at the end of that loop where it fails to loop again.

I originally came across this issue loading an HLS stream that did not include a subtitle track (I was told it did)...the MP4 shown is  just a quicker (shorter) was of reproducing the same issue.

[2020-07-04 10:31] vip644 opened #7592 "Length mismatch issue with FMP4/CMAF content"
Issue description:

Hi,
I am trying to generate a fmp4 CMAF DRM with the CBCS protection scheme using bento4 and trying to play on android exoplayer.

Here is the command I am using to generate the dash manifest
mp4dash --profiles=on-demand --mpd-name manifest.mpd --encryption-cenc-scheme=cbcs --encryption-args=“--global-option mpeg-cenc.piff-compatible:true” --encryption-key=<kid>:<k>:<iv>   --wi

[2020-07-04 11:50] samyuvan opened #7593 "Seekbar is not in sync with the actual progress is the content when speeding the audio"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2020-07-04 13:38] tosam144 opened #7594 "Notification not updated in foreground service"
### [REQUIRED] Issue description
I have a list of audio files (mp3) on which the user can click to start streaming over the internet. The click event is:

            Intent intent = new Intent(view.getContext(), AudioPlayerService.class);
            Bundle bundle = new Bundle();
            bundle.putParcelable(EXTRA_MEDIA_DATA, mMetaData);
            intent.putExtras(bundle);
            Util.

[2020-07-04 18:31] tosam144 commented on #7594
I solved it myself. The solution was to initialize the player in the onCreate and not in onStartCommand.

[2020-07-04 18:31] #7594 closed, assigned to ojw28

[2020-07-05 06:22] amoizesmail commented on #7584
Hi @kim-vde , what are the accepted brands? How can I bypass the brand check?
Looking forward to hear you soon on the adding of our videos' brand on the list of supported brands.

[2020-07-05 09:01] brabebhin opened #7596 "[Question]How to use MediaBrowserService with PlayerControlView"
### [REQUIRED] Searched documentation and issues
I have looked in this repository and the sample app, official documentation for ExoPlayer and UI components

### [REQUIRED] Question
I have created a media browser service which contains an instance of ExoPlayer. I want to hook up this ExoPlayer instance (which resides in the media browser service) to the PlayerControlView. But as far as I can tell,

[2020-07-05 09:13] ojw28 commented on #7593
Closing because no useful information was provided. Please properly fill out the issue template.

[2020-07-05 09:13] #7593 closed, assigned to ojw28

[2020-07-05 09:20] ojw28 commented on #7592
Looks like any `sampleCount` for which `sampleCount <= out.sampleCount` would be valid according to the spec, but we currently only handle `sampleCount == out.sampleCount` in `parseSaiz`.

It's probably worth looking at `parseSenc` at the same time, which has a similar check. I think what's valid is different for that box though. Possibly `sampleCount == out.sampleCount || sampleCount == 0`.

Over

[2020-07-05 10:51] kuailedeadai commented on #7589
Hello, I'm talking about the audio and video files of the PS container. MPEG1 PS and mepg2 PS are two different PS formats. At present, exoplayer only supports mepg2 PS. I have developed the MPEG 1 ps format. However, when testing the. Mpg file, I found the audio buzzing sound. Check the log. The file format belongs to mepg2 PS, and the audio encoding format belongs to AC-3. Here are the audio buz

[2020-07-05 14:33] dmkenza commented on #7571
It wasn't problem of exoplayer.

I had similar problem like in this
https://stackoverflow.com/questions/14185661/surfacetexture-onframeavailablelistener-stops-being-called

[2020-07-05 14:33] #7571 closed, assigned to kim-vde

[2020-07-05 16:16] PratimMallick commented on #7591
@ojw28 I also tried using tunneled decoder as per your article shared here https://medium.com/google-exoplayer/tunneled-video-playback-in-exoplayer-84f084a8094d. But I was still getting this same error in addition to getting lots of jitters on the app while playback. Could you also help me understand why the method mentioned in the abv post doesnot work on Firestick 4k?

[2020-07-05 18:50] dmkenza opened #7597 "Play multiply video files as one"
I use ConcatenatingMediaSource and videos, each 1s.
If I have high speed for smal video, video doesnt render.

Seekbar change sources very quickly and not be in time render.

What is this problem?

Sources play one by one. I want to play multiply video files as one file for my task.

How can this be achieved?

[2020-07-05 19:28] #7597 closed, assigned to nobody

[2020-07-05 21:01] changxiangzhong commented on #7100
@krocard I've found in the `DebugMediaCodecVideoRenderer::onProcessedOutputBuffer()` in *dev-v2* branch, there are some logic regarding frame drop detecting. Source code is as following. I think we can reuse and modify it to detect frame drops.
[code]

Essentially, this `DebugMediaCodecVideoRenderer` maintains a queue of PTS. After a *packet* has been pushed into the InputBuffer, its PTS would be

[2020-07-05 23:29] dbrain commented on #7552
@andrewlewis I've sent an email to `dev.exoplayer@...` with some additional logs/videos/charles logs of the midroll issue (plays for a few seconds with no ad UI then content continues). One of our testers seems to be able to consistently reproduce this, which is odd, as I'm struggling to make it happen to debug it properly. For context this is occurring when the player is dragged passed the cuepoi

[2020-07-06 01:58] amoizesmail commented on #7584
Hi @kim-vde,

We tried the suggested workaround, the using of `ExtractorsFactory` that contains `FragmentedMp4Extractor` only and the issue still persist.

[code]

**Logcat**

[code]

[2020-07-06 07:07] sundravel opened #7598 "Error inflating class com.google.android.exoplayer2.ui.PlayerView"
I am currently using latest version of ExoPlayer that is 2.10.5, i got the following exception on production environment

[code]

I'm not able to reproduce the bug, and i have made all changes required as per ExoPlayer Documentation. Can anyone let  me know, if this  is android resource management issue, or issue is from my implementation

[2020-07-06 07:39] YucelT94 opened #7599 "Support clipping in Downloaders"
Hi, I have an question: I played youtube videos and clipped them. But how can I save that ClippedVideos at my phone?

I found https://github.com/google/ExoPlayer/issues/4618 this issue but there must has a way to save them. Because we can download all stream with DownloadService's why can't we download a part of that stream.

[2020-07-06 08:22] kim-vde commented on #7584
Have you tried using the latest version of ExoPlayer (2.11.7)? The condition [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/ProgressiveMediaPeriod.java#L1078) should be true and the error message should not be printed.

[2020-07-06 08:46] Webix123 opened #7600 "FFmpeg Video not play in Exoplayer"
Hi,

I have one question, when I create video through FFMPEG and upload on our server then play online url in Exoplayer, at a time video not playing and show "Player.STATE_IDLE" status.

This is issue facing some device which have different Codec. what should I do?

Waiting for your reply.

Thanks,
Webix

[2020-07-06 08:56] Informatheus opened #7601 "Which is the "play" command?"
Sorry for the silly question but I looked in the documentation, in the references and in the demos and I couldn't find the command to be called to start the reproduction if the player.setPlayWhenReady () == false. How should I proceed?

[2020-07-06 09:12] tonihei commented on #7601
In the upcoming release there will be a method `player.play()` to make this more obvious. For now you should use `player.setPlayWhenReady(true)`. Is that what you are looking for? Please also see our [Getting started guide](https://exoplayer.dev/hello-world.html).

[2020-07-06 09:21] tonihei commented on #6065
Sorry for the delayed answer, I didn't realize you posted a reply!

The `ResolvingDataSource` needs to amend the `DataSpec` to do what you'd like to do:

[code]

There is no need to override `resolveReportedUri` unless you want to revert the operation for event reporting.

[2020-07-06 09:25] tonihei commented on #6294
@stetro. Do you have any updates for the investigations mentioned above?

[2020-07-06 09:25] tonihei commented on #7392
Closing, because the question was answered.

[2020-07-06 09:25] #7392 closed, assigned to tonihei

[2020-07-06 09:26] tonihei commented on #7401
Closing, because the question was answered.

[2020-07-06 09:26] #7401 closed, assigned to tonihei

[2020-07-06 09:29] tonihei commented on #7419
@tpiDev  Do you have any further input to the questions above?

[2020-07-06 09:30] stetro commented on #6294
Hi @tonihei Thanks for the reminder: Unfortunately we could not find any evidence with different view behavior on EMUI devices.

[2020-07-06 09:34] tonihei commented on #6294
Thanks!  In this case, I'll close this issue because there is nothing we can do about it. If anything new comes up, please feel free to reopen (or file a new issue).

[2020-07-06 09:34] #6294 closed, assigned to tonihei

[2020-07-06 09:37] stetro commented on #6294
But maybe for completeness: Since we constantly keep updating to the latest ExoPlayer release we see a decay of ANRs in our releases during the last couple months. Unfortunately I cannot pinpoint a specific release which might has fixed an issue here.

[2020-07-06 09:48] aureobeck commented on #7396
Greetings @marcbaechinger , we've noticed that on new version from Google app for Androidtv release on June 13 (4.2.0.314209501) this same issue was reintroduced: it's not calling any callbacks on MediaSessionConector's `DefaultMediaMetadataProvider` such as `onPause`, `onPlay`, `onSeekTo`.

On version 3.14.2.312211540 (May 20) of Google app it's still working as expected with Exoplayer 2.11.7

[2020-07-06 10:51] waseefakhtar commented on #6294
Did a new release solve the issue for you @stetro? We happen to have a similar ANR experienced only on `Huawei HUAWEI P smart+ 2019 (HWPOT-H)` using version 2.10.3. I'd like to know if a newer release solved it for you.

[2020-07-06 11:03] stetro commented on #6294
We are running 2.11.5 and we ware seeing only a couple of ANRs on those devices the last three months
![image](https://user-images.githubusercontent.com/805263/86586881-f3810d80-bf88-11ea-9aca-71413a17c520.png) Before it was like 100 cases per day per device type.

[2020-07-06 11:09] waseefakhtar commented on #6294
Looks promising! Will try updating it as well and report back how things go. Thanks!

[2020-07-06 11:44] kuailedeadai commented on #7589
Hello, have you received the email I sent you about the buzzing sound of mpeg-2 ps audio? Hope you can solve this problem as soon as possible, thank you

[2020-07-06 11:46] neuro79 commented on #7583
We  have tested the Exoplayer Demo app in the device and as you said it is working properly. We have been debugging our application to try to understand what is making the audio fail in our case and we found that the reason is the way we are managing the Subtitle enable/disable process.

We are using this code to disable subtitles:

           trackSelector.setParameters(trackSelector.buildUponPar

[2020-07-06 11:56] PratimMallick opened #7602 "Video Freeze and audio continues in tunneled playback of 4k content"
### [REQUIRED] Issue description
Video freezes at a random time and audio keeps playing while playing 4k content in tunneled mode. Our manifest has layers from 480p to 2160p with the peak bitrate of 25mbps

### [REQUIRED] Reproduction steps
Play a 4k content. Turn on tunnel mode from the mainActivity. After some time the video freezes and audio keeps playing. This happens particularly more often o

[2020-07-06 12:51] icbaker commented on #7590
Ah thanks - I'd misunderstood "loop a second time".

I can now reproduce. I can also reproduce the same behaviour without changing the repeat mode by seeking during the first playback.

I also noticed that at the end of the playback it doesn't fail/crash, the position keeps counting up beyond the end of the video suggesting it thinks there's still subtitle data to decoder.

I worked out it's relat

[2020-07-06 14:20] #7596 closed, assigned to ojw28

[2020-07-06 15:17] icbaker commented on #7532
Closing due to inactivity.

[2020-07-06 15:17] #7532 closed, assigned to icbaker

[2020-07-06 15:48] icbaker commented on #7590
This should now be fixed on dev-v2.

[2020-07-06 15:48] #7590 closed, assigned to icbaker

[2020-07-06 16:26] Taranlayal10 commented on #7548
Best possible way looks to add only one language based on its locale. Thanks for your time.

[2020-07-06 16:26] #7548 closed, assigned to icbaker

[2020-07-06 18:22] krocard commented on #7100
I agree that this should be an effective approach to detect missing frame.

[2020-07-06 18:35] ghost opened #7603 "How to get Video Duration, Video Resolution and Audio Channels"
Hello,

I am using ExoPlayer2 in my Leanback application along with leanback extension. What I am trying to achieve here is, once the video is ready, I would like to get the total duration of the video, video resolution (2160p, 1080p, 720p etc) and also the Audio Channel (7.1, 5.1, 2.0 etc).

I am using VideoPlayerGlue along with LeanbackPlayerAdapter. How can I achieve the above mentioned funcion

[2020-07-06 20:35] emilieroberts commented on #7579
I see this when running my [demo program](https://github.com/chromeos/video-decode-encode-demo) on Chrome OS. It does not seem to be null on the Android phones I have tested on.

I did not do a detailed analysis but I believe there are probably some extra configuration buffers or null buffers before the stream actually starts while the Chrome OS decoder spins up? (Just a guess).

In the app, I am

[2020-07-07 01:04] #7189 closed, assigned to ojw28

[2020-07-07 01:04] #7144 closed, assigned to ojw28

[2020-07-07 05:09] Taranlayal10 commented on #7586
Hi Guys, Appreciate any update on this.

[2020-07-07 07:42] PratimMallick commented on #7591
This issue comes almost always when there is a layer switch from 1440p to 2160p. Anything in particular happening when we are trying to use the same decoder profile?

[2020-07-07 07:49] kim-vde commented on #7591
Could you share the test content? If you're unable to share test content publicly, please send it to dev.exoplayer@gmail.com using a subject in the format "Issue #7591". Please also update this issue to indicate you’ve done this.

Did you simply play the content using the demo app, or did you modify the app?

[2020-07-07 08:11] PratimMallick commented on #7591
@kim-vde We are trying to provide a stream that can be played in all geo-location. No modification done to the app except for changing the cookie setting and User Agent value to match with ours.

The reproduction of the issue depends on the layer switches, so the best way is to seek the content multiple times and let the ABR kick in. Also having a reduced bandwidth would help

[2020-07-07 08:29] kim-vde commented on #7579
Thanks for the extra information!

[2020-07-07 08:46] kim-vde commented on #7578
If you want to exclude a codec, then I think using a `MediaCodecSelector` is the way to go. You can pass it using [`DefaultRenderersFactory.setMediaCodecSelector()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultRenderersFactory.html#setMediaCodecSelector-com.google.android.exoplayer2.mediacodec.MediaCodecSelector-) and then pass the `RenderersFactory` to the [`SimpleExo

[2020-07-07 08:54] kim-vde commented on #7589
Yes I received it. I will have a look.

[2020-07-07 10:38] biswarupdasgupta commented on #7564
Thanks for the clarifications

[2020-07-07 11:51] AquilesCanta commented on #7586
Apologies, I didn't notice I was assigned to this.

A full bug report means that you need to capture a bugreport and send it to us. You can capture a bug report using `adb bugreport`, and if you don't want to share the bugreport publicly, you can send it directly to us via dev.exoplayer@gmail.com.

- Are you downloading the license using the [OfflineLicenseHelper](https://exoplayer.dev/doc/referen

[2020-07-07 15:18] kim-vde commented on #7591
Test content has been sent to ExoPlayer email address.

[2020-07-07 15:27] tonihei commented on #7599
This is currently not possible because there is no `Downloader` implementation that applies the clipping. We may want to support this in the future though because `MediaItem` has clipping parameters. [Note `MediaItem` will only be part of 2.12.0+]. Marking as an enhancement.

[2020-07-07 15:34] PratimMallick commented on #7591
On further analysis of the issue, we pin pointed the Out of memory occuring whenever a switch is happening from 2160p to 1440p or from 1440p to 2160p. In our case both are using same decoder level and profile(**hvc1.1.6.H150.90**). Could this be causing anything unsual which is leading to the fatalerror at decoder level?

[2020-07-07 15:39] tonihei commented on #7600
Please provide all the information requested in the issue template (e.g. example media, reproduction steps, etc). Please also see the [list of supported formats](https://exoplayer.dev/supported-formats.html), if it is of any help.

[2020-07-07 16:51] kim-vde commented on #7592
Could you provide a test content so that I can test? If you're unable to share it publicly, please send it to dev.exoplayer@gmail.com using a subject in the format "Issue #7592". Please also update this issue to indicate you’ve done this.

[2020-07-07 16:55] tonihei commented on #7602
@andrewlewis  Do you mind taking an initial look to see if that sounds familiar? Feel free to reassign if it needs further investigation.

@PratimMallick  We likely can't do any investigation unless we have some media to test with. Does it also reproduce with any of the streams in our demo app?

[2020-07-07 16:58] tonihei commented on #7598
It sounds more like a generic Android problem or a problem with how you manage your views (include `PlayerView`) than an ExoPlayer specific problem. So you might be better off asking this question on Stack Overflow or similar sites as it is unlikely we can help unless we have more concrete reproduction steps. I'll mark with "need more info" for now. If you can't get anything specific, this issue w

[2020-07-07 22:13] stefanhh0 opened #7605 "Error playing m3u: Input does not start with the #EXTM3U header"
### Issue description
Playing an m3u radio audio stream using the Transistor app v4.0.1 (https://github.com/y20k/transistor)
fails due to an exo player failure.

Streaming address: http://www.ndr.de/resources/metadaten/audio/m3u/ndrkultur.m3u

Log:
[code]

### Reproduction steps
Try play http://www.ndr.de/resources/metadaten/audio/m3u/ndrkultur.m3u with org.y20k.transistor using ExoPlayerLib/2.11.

[2020-07-08 04:43] sundravel commented on #7598
okay thanks

[2020-07-08 06:14] Taranlayal10 commented on #7586
Hello

Are you downloading the license using the OfflineLicenseHelper?
  **I am using client SDK for downloading the content & license file.**
Are you sure the offlineLicenseKeySetId you are passing the the DrmSessionManager is correctly populated? Is it not null when you are trying to play the content offline?
  **Yes the offlineLicenseKeySetId is not null & it is correct**
Why is it stored in Ba

[2020-07-08 06:24] migtomace commented on #7598
Just a couple of suggestions, but maybe check your dependencies as well as your layout implementation in your XML.

[2020-07-08 06:37] sundravel commented on #7598
This is my layout implementation:
<com.google.android.exoplayer2.ui.PlayerView
        android:id="@+id/epvVirtualClass"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        app:show_buffering="always"/>

This are my dependencies
//ExoPlayer
    implementation "com.google.android.exoplayer:exoplayer-core:2.11.6"
    implementation "com.google.android.exo

[2020-07-08 07:37] tonihei commented on #7605
`m3u` playlists are not supported yet, see #4066.

[2020-07-08 07:37] #7605 closed, assigned to tonihei

[2020-07-08 07:46] migtomace commented on #7598
Those look fine. Do you get any errors before you deploy the application? I'm sure you have already tried this but sometimes with XML issues you just need to clean and rebuild. Other than that I'm sorry I can't help much without seeing more of the implementation.

[2020-07-08 07:54] sundravel commented on #7598
Thanks for the suggestion, no i did not get any errors before you deploy the application.

[2020-07-08 08:11] prashantj17 opened #7606 "Video gets crop from edges when set resize option to zoom"
Issue description
Video gets crop from edges when set resize option to zoom,full video must  be shown but only centre part of video is shown.

 Reproduction steps.
set the resize option to zoom for exoplayer in xml and play the video.

Version of ExoPlayer being used
2.7.3

Device(s) and version(s) of Android being used
OS Android 9 and Android 10 with Vivo y17, Samsung M30

[2020-07-08 08:20] migtomace commented on #7598
Here is also a reference to a past similar issue. https://github.com/google/ExoPlayer/issues/5138

[2020-07-08 08:23] ducanh3005 commented on #7587
Can you help me ? @marcbaechinger

[2020-07-08 08:45] sundravel commented on #7598
okay thanks will check it

[2020-07-08 10:01] #7308 closed, assigned to kim-vde

[2020-07-08 10:26] AquilesCanta commented on #7586
Then I think this is a server-side configuration issue. License server configuration should have an option to define the license duration. Are you sure that value is correctly set?

Please provide the bug report as requested in the issue template and in my previous comment.

[2020-07-08 10:38] Taranlayal10 commented on #7586
Yes the server-side configuration is correct. I have sent bug report on mail. Kindly check.

[2020-07-08 11:56] vip644 commented on #7592
I've sent you a mail regarding test content on dev.exoplayer@gmail.com with all the information related to it.

[2020-07-08 12:51] xibaca commented on #867
@eneim I just ran into your library right now - damn, it works like a charm! It truly "makes playback easy".
Thank so much for your work!

[2020-07-08 14:45] biswarupdasgupta opened #7607 "Random AVSync issues with exoplayer version 2.11.4 and above"
### [REQUIRED] Random AV sync issues seen with exoplayer version 2.11.4+

### [REQUIRED] Reproduction steps
Start player from a position > 0 (e.g startPosition as 10mins)
The issue is quite random and happens suddenly if player is started from a non-zero position. Once avsync is lost, player does not recover at all.

Here is a code snippet on how we are initialising player

[code]

### [REQUIRED]

[2020-07-08 15:01] fpittersacc commented on #7494
We don't have the invalid Ad setup available anymore.
It seems the crash is already fixed, so I don't think it will be an issue anymore.

Thanks for reviewing it.

[2020-07-08 15:01] #7494 closed, assigned to andrewlewis

[2020-07-08 16:36] kim-vde commented on #7592
Can you also send the DRM license URL (as in the [demo app samples](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json))?

[2020-07-08 16:37] kim-vde commented on #7589
I haven't had the time to look into the issue in details. This is probably going to take a few days or weeks.

If this is urgent, feel free to debug the code and submit a pull request.

[2020-07-08 17:38] PratimMallick commented on #7591
Looks like this is another case of using the `codecNeedsReconfigureWorkaround` for this model(AFTMM) and decoder OMX.MTK.VIDEO.DECODER.HEVC as we  need to `drain and reintialize` the codec to avoid OOM when switching between 1440 and 2160.
Another issue reported here which is similar - https://github.com/google/ExoPlayer/issues/5483

PLease suggest what is the correct way to properly handle this e

[2020-07-09 01:57] kuailedeadai commented on #7589
I have solved this problem. For dvd files, audio has a special header (4 bytes). For details, please refer to: http://stnsoft.com/DVD/ass-hdr.html

[2020-07-09 05:18] vip644 commented on #7592
Please check your mail box, I've sent the DRM license URL.

[2020-07-09 05:35] #7522 closed, assigned to AquilesCanta

[2020-07-09 06:51] #7589 closed, assigned to kim-vde

[2020-07-09 07:03] wishy-viewlift opened #7609 "Playing redirect URL"
There is a service provider which hosts videos for my client and have given us a redirect URL something like this
[Redirect URL](https://justice-avod.amagi.tv/vod?c=justiceAA-justiceonoavod&a=BM1145&redirect_path=https://justice-avod.amagi.tv/justiceAA-justiceonoavod/BM1145/playlist.m3u8)
How can I get this to be played?

In the logs I see the error
      `None of the available extractors (Matrosk

[2020-07-09 08:12] kim-vde commented on #7592
I don't have the length mismatch error with the fix I implemented but I have a DRM error. I seems there is something wrong with the response.

[code]

[2020-07-09 08:16] vip644 commented on #7592
Wait let me check the issue with the DRM, seems there some key mismatch. If this doesn't work then I'll provide you another content url.

[2020-07-09 08:28] vip644 commented on #7592
I've shared another Content url with license url which is giving me length mismatch error. Please check your mailbox.

[2020-07-09 08:35] kim-vde commented on #7592
I can't access the manifest URL.

[code]

[2020-07-09 09:15] gokulkalagara opened #7610 "offline videos getting java.lang.IllegalArgumentException: Failed to restore keys"
### [REQUIRED] Issue description
I got playback exception for offline video
com.google.android.exoplayer2.drm.DrmSession$DrmSessionException: java.lang.IllegalArgumentException: Failed to restore keys

### [REQUIRED] Reproduction steps
I downloaded the protected dash video while playing an offline video
I got this exception

### [REQUIRED] Version of ExoPlayer being used
Exoplayer 2.11.6

### [REQ

[2020-07-09 09:44] vip644 commented on #7592
You're getting ERR_CERT_AUTHORITY_INVALID because of the given IP Address doesn't contain any certificate over https. In this case please try to accept the self-signed certificate for the given IP Address.

[2020-07-09 10:23] vipinchouhan opened #7611 "exoplayer load little bit slow with the big video files that have (.mkv) format"
We have integrated exoplayer in one of my video player application for playing local video

**EXOPLAYER VERSION : 2.11.0**

we have observe that have MP4 play perfectly by forward and rewind video but when trying to play big MKV file then Exoplayer stuck initially when we start MKV video and **when forward and backward mkv video then player stuck for approximately 10 second then play the video**

[2020-07-09 18:29] sircara opened #7612 "Get pixelcount/video height/width from setTrackNameProvider"
Hi, I'm kinda new to Android and I'm implementing HLS streaming app. I was able to make a track selection dialog using TrackSelectionDialogBuilder but I don't want to show user track info like  height x width, 0.85mbps etc.

How to achieve this by using setTrackNameProvider?

So far i was able to get this.

![WhatsApp Image 2020-07-09 at 2 27 06 PM](https://user-images.githubusercontent.com/680788

[2020-07-09 21:28] kgrevehagen commented on #7390
Hi again.

I did even more research around this topic and I am pretty sure I have found the root cause of this. There's mainly two issues I see with the current DRM implementation when using clear lead.

1. **Slower startup time:** As briefly mentioned in the previous commit, we prepare, acquire and start fetching keys(`mediaDrm.getKeyRequest`) before starting playback. This is not necessary, beca

[2020-07-09 21:40] kgrevehagen opened #7613 "Seamless codec transition midstream"
### [REQUIRED] Searched documentation and issues
ExoPlayer Javadoc and code, exoplayer.dev, issue tracker, stack overflow.

### [REQUIRED] Question
As mentioned in #7390 I'm trying to initiate a play with a codec without crypto information to avoid an audible glitch because `mediaDrm` calls are blocking playback.
After fetching the keys I can create a new codec with crypto information set, but I'm

[2020-07-10 01:04] #7205 closed, assigned to ojw28

[2020-07-10 04:00] sircara commented on #7612
Solved the issue.

dialogBuild.setTrackNameProvider(format -> (format.height)+"P");

It will return all heights available in HLS.

[2020-07-10 04:00] #7612 closed, assigned to ojw28

[2020-07-10 05:09] Taranlayal10 commented on #7586
Hope you have received the bug report.

[2020-07-10 05:43] wywy4pm opened #7614 "The special url include ".m3u8" in the parameter, not in the path cannot play."
The url include ".m3u8" in the parameter, not in the path,then Util.inferContentType cannot return the C.TYPE_HLS,so the m3u8 url cannot use HlsMediaSource to play,the video cannot play.

[2020-07-10 05:45] wywy4pm commented on #7614
This type of address can play use vlc or mxplayer，so i hope exo can play so.

[2020-07-10 07:04] aureobeck opened #7615 "Google Assistant Voice Commands not working on AndroidTV"
### Searched documentation and issues
Official `ExoPlayer` documentation and source code of `MediaControllerCompat`, `MediaSessionConnector`, `MediaSession` classes.

### Question
We've noticed that on new version from Google app for Androidtv release on June 13 (4.2.0.314209501) is not calling any callbacks on `MediaSessionConector`'s `DefaultMediaMetadataProvider` such as `onPause`, `onPlay`, `o

[2020-07-10 08:12] kim-vde commented on #7592
I just pushed a fix on the dev-2 branch. Can you try it and tell me if you still have issues?

[2020-07-10 08:24] kuailedeadai opened #7616 "mts, m2ts format can not be played in exoplayer"
Hello, mts, m2ts format can not be played in exoplayer? May I ask when to integrate?

[2020-07-10 08:38] PratimMallick opened #7617 "How do detect optical cable(S/PDIF) using exoplayer?"
To determine whether to serve dolby or stereo content, out app needs to determine whether the device(androidTv or android box) is connected to a surround sound system or not.
This is possible when the sound system connects to the device via HDMI ARC by reading the `AudioCapabilities`. But this does not help when the sound system is connected via optical cable or S/PDIF. How do we detect if the out

[2020-07-10 13:26] AquilesCanta commented on #7614
If the extension is not part of the path, you'll have to manually indicate the type of media.

In the demo app this is done by adding an entry to the sample:
`"extension": "m3u8"`
in the media samples json file.

If you are trying to play the file in your own app then you just have to create an HlsMediaSource for your URL. `Util.inferContentType ` is just a best effort heuristic based on the file

[2020-07-10 13:29] AquilesCanta commented on #7616
It's impossible to assist you with this amount of information. MPEG-2 Transport Streams are supported by ExoPlayer. Please provide all the information requested in the issue template and we'll take a look. Issue template [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2020-07-10 13:34] #7170 closed, assigned to andrewlewis

[2020-07-10 15:20] zhanhuang opened #7618 "Buffer stalls without doing so for initial load and seeking"
### [REQUIRED] Searched documentation and issues
related question: https://github.com/google/ExoPlayer/issues/1344

### [REQUIRED] Question
I tried to implement the check described, which is just entering Buffering state with playWhenReady on.
However, this event is triggered on initial load and seek as well, which are not actual stalls.

Is there a way Exoplayer could emit events for this like AV

[2020-07-10 15:21] ojw28 commented on #7611
Please provide a piece of sample content that reproduces what you're seeing. Thanks.

[2020-07-10 15:23] ojw28 commented on #7609
Please see https://github.com/google/ExoPlayer/issues/7614.

[2020-07-10 15:23] #7609 closed, assigned to ojw28

[2020-07-12 04:02] vorishirne commented on #6168
Integrating exo with fluttter also gave same problem
[https://github.com/flutter/flutter/issues/61309](url)

But there it's possible upto 8 times, on some medium powered devices

[2020-07-12 17:53] matanmarciano opened #7619 "Can I play stream In a unit test?"
Hello,
After some research about using Exoplayer in a unit test, I found ExoPlayerTestRunner class.
But I'm not sure if this is actually what I need.

I need to run the exoplayer (in a unit test) and register as analytics listener to get notifications and pass/fail the unit test according to the notifications.

[2020-07-12 21:08] liadpaz opened #7620 "Content Uris"
How to correctly use content Uris as a source? Currently I am using the DefaultDataSourceFactory as a source, but after some time of playing it starts buffering and interrupting playback (I can't hear any buffering at any other local songs music player).

I've been searching for it all over the internet (Stackoverflow, GitHub and random sites).

[2020-07-13 01:04] #7500 closed, assigned to ojw28

[2020-07-13 04:57] jboylee commented on #4352
I also suffered from this issue. (No response at MediaCodec.flush)

After some tests, it wasn't clear, but the issue appeared after the setSurface call.
(When additionally reproduced, the following message was always output. **"E/OMX-VDEC-1080P: Error - could not remove ref, no match with any entry in list"**)

I was using SurfaceView to hand over the Surface, but as a test I used **TextureView**

[2020-07-13 05:01] vipinchouhan commented on #7611
Hello ojw28,

You can get issue by follow the below step ;

### **Step : ### 1**

Please download and install application from play store and application url is : https://play.google.com/store/apps/details?id=com.videoplayer.easylife4u in any of samsung device or other device.

### **Step : ### 2**

After that download  high resolution  MKV file of more than 500 MB

### **Step : ###  3**

Open app

[2020-07-13 07:00] wishy-viewlift opened #7621 "Unable to play redirect URL"
Checked in the demo application for the url

[Redirect URL](https://justice-avod.amagi.tv/vod?c=justiceAA-justiceonoavod&a=BM1145&redirect_path=https%3A%2F%2Fjustice-avod.amagi.tv%2FjusticeAA-justiceonoavod%2FBM1145%2Fplaylist.m3u8)

Used for redirection

   ` public HttpDataSource.Factory buildHttpDataSourceFactory() {
    return new DefaultHttpDataSourceFactory(userAgent, DefaultHttpDataSource.D

[2020-07-13 08:19] wishy-viewlift commented on #7621
After further debugging I found when the URL is converted to URI and we call getPath() method it returns `/vod` which is causing the issue. Now if we add a or condition in inferContentType on HLS case the video plays but that is a wrong approach.

So just wanted to know what change can I make to have this working?

[2020-07-13 08:29] tonihei commented on #7603
Have you tried `player.getDuration` and `player.getCurrentTrackSelections`? The `TrackSelections` contain a list of `Format` objects with resolution, audio channels etc.

[2020-07-13 08:36] tonihei commented on #7607
The bug report unfortunately doesn't contain anything useful to say what happened. I'll mark the issue with "need more info" to wait for a test stream. Otherwise it's hard to say what the issue might be and if we can do something about it.

[2020-07-13 08:37] wishy-viewlift commented on #7621
was able to fix by overriding the extension

[2020-07-13 08:37] #7621 closed, assigned to ojw28

[2020-07-13 08:40] tonihei commented on #7610
Offline license download isn't managed automatically by ExoPlayer yet. How do you download and restore the keys? It would be helpful to understand your setup in order to see potential problems.

@ojw28 Could you take a look?

[2020-07-13 09:06] tonihei commented on #7613
The issue with the audible glitch is caused by the blocking `mediaDrm` calls in the renderer as you correctly identified in  #7390. We have a pending improvement plan to move the entire DRM session acquisition to the `Loader` (that runs on its own thread), so that this does not occur anymore. Note that it not only affects clear lead playbacks, but also playlists where we change drm protections or

[2020-07-13 09:15] tonihei commented on #7615
That sounds more like an issue with the Google app instead of an ExoPlayer issue. Have you tried reporting this to them?

[2020-07-13 09:19] tonihei commented on #7617
@andrewlewis Do you know if there is way to detect that? Our `DefaultTrackSelector` doesn't take this into account at the moment, so if there were a reliable way to detect number of available output channels, we should also make this part of the default track selection (similar to how we automatically limit video resolution to the screen size).

[2020-07-13 09:24] ojw28 commented on #7611
Reproduction steps in your own app are not what we need. As per my previous request, please provide a piece of sample content that reproduces what you're seeing. Thanks.

[2020-07-13 09:25] tonihei commented on #7618
You could either try to detect that yourself or add a [`PlaybackStatsListener`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/PlaybackStatsListener.html) that returns a `PlaybackStats` object with [`getMeanRebufferCount`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/PlaybackStats.html#getMeanRebufferCount--) to retrieve the average numbe

[2020-07-13 09:34] tonihei commented on #7619
We recently improved our support for using ExoPlayer in Robolectric based unit tests. This replaces the `ExoPlayerTestRunner`, but will only be released in 2.12 (within the next few weeks).

You will then be able to do something like this:
[code]

[2020-07-13 09:38] tonihei commented on #7620
If it starts playing, I'd assume your content Uri is working correctly? If the Uri were wrong, it couldn't find the file and playback would never start.

If playback of local files starts buffering and stopping during playback, there may be problems in the media. Please provide an example file if you want us to have a look.

[2020-07-13 09:53] PratimMallick commented on #7591
Added the test content to the issue @kim-vde @ojw28

[2020-07-13 10:02] ojw28 commented on #7591
If this is happening only on an Amazon device, have you reported the issue to Amazon?

[2020-07-13 10:30] PratimMallick commented on #7591
We have been able to replicate this on amazon firestick consistently by ourselves and have reported to amazon already. But we have been seeing similar logs from field devices running on android too. They all are OS 7.1 and lesser and not playing any 4k content.

In our case this issue(on AFTMM) went away after removing 1440p layer from manifest. But want to know what is the real cause for this iss

[2020-07-13 10:31] tonihei commented on #7606
I'm not completely sure whether I understand the documentation correctly, but I think this is working as intended. The resize mode zoom increases the width or height of your video to fill your surface and thus some parts of the video will be cropped. @ojw28 may be able to confirm.

[2020-07-13 10:39] ojw28 commented on #7591
Is there a publicly visible issue filed somewhere that we can follow along on, and/or reference from this issue?

It seems most likely that this is an issue with the underlying SoC vendor's implementation (MediaTek in this case).

[2020-07-13 10:41] andrewlewis commented on #7617
Last time I tested this I found that the [HDMI audio plug intent](https://developer.android.com/reference/android/media/AudioManager#ACTION_HDMI_AUDIO_PLUG) was updated for optical connection too (that was on a Sony TV, I think). Which device are you using?

If that intent doesn't help, you could try using [registering an audio device callback](https://developer.android.com/reference/android/media

[2020-07-13 10:45] PratimMallick commented on #7617
I am testing this on TCL android tv (Os 9).

[2020-07-13 10:54] andrewlewis commented on #7617
@PratimMallick Please first check that the HDMI audio plug intent (which we already have a [helper](https://cs.opensource.google/exoplayer/ExoPlayer/+/release-v2:library/core/src/main/java/com/google/android/exoplayer2/audio/AudioCapabilitiesReceiver.java) for) doesn't expose the required information, and, if not, give the audio device callback approach mentioned in my previous comment a try. You

[2020-07-13 10:57] PratimMallick commented on #7591
Filed the bug with amazon here --> https://github.com/amzn/exoplayer-amazon-port/issues/105

[2020-07-13 10:57] tonihei commented on #7617
If the track selection is covered by the `supportsFormat` check then there is nothing we need to do in that regard I think.

[2020-07-13 11:00] ojw28 commented on #7591
Marking as a device specific issue until Amazon respond on amzn/exoplayer-amazon-port#105.

[2020-07-13 11:33] vipinchouhan commented on #7611
we got same issue after downloading exoplayer code on my local system from exoplayer git repository and play video from playlist that is mention in first image.

I have checked from JSON available in project for video that play under playlist section and found second video is MKV video.

When we play that video and skip video for approximately 1 minute then audio is coming but video not playing fo

[2020-07-13 11:49] matanmarciano commented on #7619
OK so until 2.12 release my use case is no possible?