[2021-07-27 22:21] rrfrias commented on #8319
@ogawa-ma, if you are able to reproduce this on a more recently released device, do open another tracker.

[2021-07-27 22:21] #8319 closed, assigned to ogawa-ma

[2021-07-28 01:04] #9116 closed, assigned to icbaker

[2021-07-28 01:04] #8909 closed, assigned to christosts

[2021-07-28 01:45] #9190 closed, assigned to christosts

[2021-07-28 01:46] wangxuan217 commented on #9190
I understand what you mean, I don’t know how to dynamically switch such operations, for example, you can switch between a mixed track and a single track, while it is playing.

[2021-07-28 03:01] rrfrias commented on #9220
From wv_failed_error.txt it appears that the content is encoded with more subsamples than the device can handle. In android 10 onwards, the maximum number of subsamples that a device can handle can be queried by the app. There is no way to tell for the devices you have listed. I assume it is 10 subsamples but it might be lower.

Try to modify content encoding parameters and see if that helps.

[co

[2021-07-28 03:30] Jaydipnathani commented on #9230
The same issue occurs in **ExoPlayer demo app**

 every time black screen and  Decoder init failed: when others video app is open.

 release and re-create player instances in your app accordingly? **YES**

[code]

**Same error in Exoplayer Demo App.**

https://user-images.githubusercontent.com/54942991/127268058-9244829d-df78-4e96-b403-0be92cbed4d5.mp4

[2021-07-28 04:31] ogawa-ma commented on #8319
@rrfrias
I'm sorry I was late.
It was not happening on devices newer than Xperia XZ (OS: 8.0.0).
I understood that Sony cannot resolve this issue as this product has already reached the end of its product life.
Thank you for your confirmation.

[2021-07-28 06:07] Jacko07 commented on #9228
please try to play this stream, it's easily reproduce.besides this stream seems to play well on google chrome by use extensions: Native HLS Playback
https://d46c0ebf9ef94053848fdd7b1f2f6b90.mediatailor.eu-central-1.amazonaws.com/v1/master/81bfcafb76f9c947b24574657a9ce7fe14ad75c0/live-prod/5c2d61e8-8be9-11eb-a7de-bacfe1f83627/0/master.m3u8?uid=97748f06-a7ae-42f5-947a-9b77118303dc&optout=0&vendor=ph

[2021-07-28 06:34] IamArmaan commented on #9227
Please check mail , I have sent bug reports on mail.

[2021-07-28 08:39] romainpiel commented on #9233
I've updated to 2.14.2 and it now works like a charm 🎉

[2021-07-28 09:20] claincly commented on #7004
RTSP support is added in ExoPlayer 2.14.

[2021-07-28 10:05] thibautperrin commented on #9109
Hello,
Thank you for your answer.

I tried using my own TsExtractor, but I had the feeling that TsExtractor was only for TS data, and the PMT is not TS but PSI data. Are you sure that I can parse the PMT by extending the TsExtractor ? I could try again.

When I will be notified that the PMT has change, I will be able to ask to the tuner to filter on a different set of PIDs based on the new PMT.

F

[2021-07-28 11:39] christosts commented on #9230
Thank you for the recording. I tried the same setup as your recording:
- ExoPlayer demo app starts
- Then switch to VideoLab
- Then go back to ExoPlayer demo app

but I did not observe the problem. I tried on a Pixel 4 device and a Samsung Galaxy S9 with Android 9. From your recording, I believe you are using a Samsung device (Exynos chip). I assume you have not modified the ExoPlayer demo app. Al

[2021-07-28 12:00] krocard commented on #9184
ExoPlayer doesn't support playing from a recording source, neither the camera, the mic or an HDMI input. The main goal of ExoPlayer it to play content received from an asynchronous source.
Supporting this could be possible by implementing a custom data source, but will be very complex due to the very different constraints between ExoPlayer and a sync media source.

Playing an HDMI source would mak

[2021-07-28 12:00] #9184 closed, assigned to Samrobbo

[2021-07-28 12:29] romainpiel commented on #9233
Actually I could reproduce it again with 2.14.2. I'm a bit unsure why this is happening but I've done some debugging in my app and in the demo app and I observed this:
- when calling `helper.getDownloadRequest()`, the download request is completely identical in my app and in the demo app. The url is the same and the stream keys are set to the highest quality "0.0.2"
- however all bitrates ts files

[2021-07-28 12:43] master255 commented on #9202
@marcbaechinger onAudioSessionIdChanged does not work. I checked in your demo.

[code]

[2021-07-28 13:37] Wiktorl4z opened #9234 "Snapshot in StyledPlayerView"
Question regarding making snapshot for ExoPlayer.
I am having same problem like in this topic:
https://github.com/google/ExoPlayer/issues/2993

I have used both solutions from @ojw28 https://github.com/google/ExoPlayer/issues/2993#issuecomment-310911567
Created sample project to show the code.

Solution first:

[code]
[code]

[code]

Full code: https://github.com/Wiktorl4z/ExoPlayerSnapshot/blob/t

[2021-07-28 14:05] romainpiel commented on #9233
Finally got to the bottom of this. I only had to do a fresh install of the app to fix the issue. Basically at some point the database stored the test stream download with an empty `streamKeys`. And as the `mergeRequest()` function in `DownloadManager` ignores the request stream keys when the database record has an empty stream keys, the resulting stream keys array was always empty. It's quite a ni

[2021-07-28 14:40] christosts commented on #9234
@ojw28 can you take a look?

[2021-07-28 14:55] christosts commented on #9228
I could not reproduce. I am testing on a Pixel 4. The stream played fined for 5+ minutes (2-3 attempts). Note, I am using the latest version which is 2.14.2 at the moment of writing this comment.

Does the issue occur to you on a specific device and/or older version of ExoPlayer?

[2021-07-28 15:05] christosts commented on #9227
@IamArmaan thank you for sending information, however it is incomplete. If you read the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) you'll see that we need a bug report captured with `adb bugreport` and a URL to test content for reproduction.

The logs that you have shared with us are not the output of running `adb bugreport` - please see [do

[2021-07-28 15:32] christosts commented on #9128
This is a duplicate of #9153 - please track that issue for updates.

[2021-07-28 15:32] #9128 closed, assigned to ojw28

[2021-07-28 18:38] christosts commented on #9232
I'm afraid I could not repro. I'm using a chromecast with GoogleTV connected to a Sony TV and using a Samsung Soundbar. My chromecast device has the same OS build as yours. Can you also check the device firmware (see [here](https://support.google.com/chromecast/answer/7124014?hl=en&ref_topic=3447927) how to check your device firmware version)?

The video was hard to play over the network (the devi

[2021-07-28 19:16] TechComputerServiceDunkerque commented on #9217
Hello, according to some developer, I am told to tell you that this comes from the h265 codec (1920x1080) 50FPS of exoplayer which has a slow decoder. In h264 format, no problem though. Do you think you know where the problem comes from because at vlc no problem with the h265 codec.

[2021-07-28 21:02] sixones commented on #9232
I will get hold of the device firmware information (another engineer has the device so I can't fetch this right now), the device ends up getting in a bad state after playing the file a few times with it getting noticeably worse over time.

The reports of HEVC working in r2.12.1 are from our users who have experienced the issue more frequently than we can replicate.

The size of the video should be

[2021-07-28 22:20] Fgabz commented on #9055
Hello @spencergriffin

Did you get any updates about this? Even with Compose 1.0 the scrolling is very slow, I'm feeling that I'll need to move back to Recyclerview to have better performance.

Also from what I've tested, using 1 exoplayer and 1 player per item didn't change that much the performance

If anyone have tips, it would be awesome!

[2021-07-29 04:32] Jaydipnathani commented on #9230
I have an issue with Samsung-J7 and Samsung-J5 device.

But My question is Why the issue comes only in the Exoplayer demo app. Why the issue does not come in the video lab ? Same Exoplayer use in both app.

I used the adb command but I did not understand the output of the command.
So Please help me how to fix this issue.

[code]

[2021-07-29 06:48] #9172 closed, assigned to marcbaechinger

[2021-07-29 06:49] #9154 closed, assigned to kim-vde

[2021-07-29 08:24] christosts commented on #9232
Note: we've had a similar report in #8557 with poor performance of HEVC on the same device but we were not able to reproduce internally either. We actually got some repros of the problem in #8557 on a specific device which, after a reboot, worked fine and never reproduced the issue.

[2021-07-29 09:31] ojw28 commented on #9233
I think this is working as intended. If there's already a download with a given ID, then adding a download with the same ID is additive. In other words, if the existing download has stream key A and the new request has stream key B, then the end result will be that stream keys A and B will be downloaded. It's also true that empty stream keys means "download everything". In your case, since the exi

[2021-07-29 09:31] #9233 closed, assigned to ojw28

[2021-07-29 09:34] jpark58 opened #9235 "Caching Policy"
Hello!

I was just wondering what is the best or recommended caching policy with exoplayer?

https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

Of course, I check above blog post. But, can you recommend how to manage caches? like how much chunk to be cached or how many seconds to be cached. I know this is pretty much up to the developer. But,

[2021-07-29 09:52] romainpiel opened #9236 "Add the ability to download a stream based on the bandwidth"
### [REQUIRED] Use case description
When downloading a stream using `DownloadHelper`, the default behaviour is to download the highest supported bitrate. While this is fine, it defeats a bit the point of using HLS or DASH. It would be great if it behaved like when streaming (ie. download the best stream for the current device bandwidth).

### Proposed solution
I had a look under the hood and the t

[2021-07-29 09:55] Avetri commented on #8938
Ok. Thanks.

[2021-07-29 10:15] #7654 closed, assigned to ojw28

[2021-07-29 10:16] #771 closed

[2021-07-29 10:30] justatipfromthedeadsequoiatree commented on #8473
This link might be useful, best of luck guys

https://stackoverflow.com/questions/58955831/flutter-video-player-dispose

[2021-07-29 10:30] christosts commented on #9230
I'm afraid I don't have access to the specific Samsung devices.

Running `adb shell dumpsys media.resource_manager` will output what process has acquired decoders. When I have the ExoPlayer demo app playing video on a Pixel 4 and run the command, it outputs something like this

[code]

This says that process `22696` has acquired the decoder `c2.qti.avc.decoder`. When I minimize the ExoPlayer demo

[2021-07-29 11:10] christosts commented on #9236
Have you checked the methods supported already by the [DownloadHelper](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/offline/DownloadHelper.html)? You may pass `DefaultTrackSelector.Parameters` in several methods in order to tune the track selection. I believe these give the flexibility already, either upfront or after the manifest is obtained (see the [demo app code](https://g

[2021-07-29 11:14] kim-vde commented on #9225
Hi,

Can you provide more information on this `chap` atom (e.g. link to specifications), and an example of content? If you're unable to share the test content publicly, please send it to dev.exoplayer@gmail.com using subject #9225. Please also update this issue to indicate you've done this.

We don't have the capacity to work on this at the moment but I have marked the issue as a low-priority enha

[2021-07-29 11:42] PawKanarek commented on #8039
Any update on this issue? We discovered 3 devices that are completely unable to play any DRM content on Android 11.

[2021-07-29 12:28] romainpiel commented on #9236
Thanks for the quick reply @christosts 🙌

Unfortunately, the `DefaultTrackSelector.Parameters` are not dynamic enough for my use-case. They allow to download a specific bitrate, or for a specific screen size but I'd like it to go a bit further by choosing the best bitrate for the current connectivity.

My use-case is as follow: I have a screen with several videos, one playing after the other. When

[2021-07-29 12:42] christosts commented on #9236
An idea:

If you follow the [link from the demo app](https://github.com/google/ExoPlayer/blob/r2.14.2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DownloadTracker.java#L247-L265) I shared above, this is the piece of code in the demo app to manually select tracks after the manifest is downloaded. There are APIs in the  DownloadHelper to help you set the track after the manifest is do

[2021-07-29 12:44] kim-vde commented on #9109
Yes, the `TsExtractor` contains a [`PmtReader`](https://github.com/google/ExoPlayer/blob/r2.14.2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/TsExtractor.java#L537) class that parses the metadata in this table.

[2021-07-29 12:47] romainpiel commented on #9236
Ah right, yes that makes sense 👍  I guess I'd need to do a bit of plumbing to make that work. Thanks for your help! Feel free to close this ticket if you feel like it doesn't make sense to add that to the library.

[2021-07-29 12:58] petoknm commented on #7567
@kvillnv @ojw28 Any progress on this?

[2021-07-29 13:03] brianschrameck commented on #8850
Can confirm that this is still a problem on 2.14.2. Any progress looking into this?

[2021-07-29 13:06] christosts commented on #9236
I'll close the issue for now but feel free to re-open if you try out the idea and does not work for your app as expected.

Note that:
- the download will still fetch a single resolution/bitrate
- you should tune how much of the reported bandwidth throughput can be used, e.g. might have to tune it of the player does other downloads in parallel, and ~definitely~ maybe pick tracks whose bitrate as sl

[2021-07-29 13:06] #9236 closed, assigned to christosts

[2021-07-29 13:44] danish241194 opened #9237 "Ad tag retrieval unblocking"
Currently if we add an AdTag Uri and Content Uri and then prepare and play as shown below
[code]
(using IMA)

player doesn't play content till ads are fetched, In my case i don't want player to wait for Ads as it increases ( time to display first frame) .Is there any way i can achieve this.

[2021-07-29 14:00] christosts commented on #8986
We communicated with the Android platform and they responded that is not the expected behavior with respect to memory allocation. The platform team is not aware of such behavior on devices, and it's possible that this may be root caused to vendor-specific implementation.

The suggestion we can offer is to reach out to the vendor (if possible) or keep the current customization on the ExoPlayer if t

[2021-07-29 14:00] #8986 closed, assigned to christosts

[2021-07-29 14:08] kirin233x commented on #8986
@christosts thanks for your reply. Currently I remove the KEY_MAX_WIDTH/HEIGHT attribute by using custom implementation. thanks again for your research. We will communicate with you later if you have any questions about this.

[2021-07-29 15:19] christosts commented on #9223
Correction: I made mistake in my [first response](https://github.com/google/ExoPlayer/issues/9223#issuecomment-886833907) that by default the buffer size is 12MB, the correct is 120MB. For 40mbits video, 120MB should accommodate ~24 seconds of video. The rest of my responses remain: please try to increase the target byte buffer to 200-300MB and/or reduce the target duration.

[2021-07-29 16:38] christosts commented on #8622
The non-working MP4 file contains interlaced video whereas the working MP4 is progressive. Android devices are not guaranteed to play interlaced video.

Duplicate of #3468.

[2021-07-29 16:38] #8622 closed, assigned to christosts

[2021-07-29 17:54] kvillnv commented on #7567
No. My project does not need it anymore, we switched to cloud recording.
I see you updated your ticket in the meantime. Indeed it wasn't the same issue.

[2021-07-29 17:54] #7567 closed, assigned to ojw28

[2021-07-29 19:00] gemiren opened #9238 "Wrong duration read from mp3 file"
The mp3 file linked here https://media.blubrry.com/melhoresdomundo/ia601509.us.archive.org/30/items/mdm600/mdm600.mp3 has duration 28:06:00. When played with ExoPlayer it returns duration 2:37:41. Is there a way to get the full duration?

- ExoPlayer version number: 2.11.8
- Android version: Android 11
- Android device: Pixel 3

[2021-07-29 19:03] javaboboApp commented on #9044
@ojw28  I would like to ask you if there is any way to find out faster if the current manifest is live or not.
Listen the event using the function onEvents(..) would help ?

[2021-07-29 21:59] moneytoo opened #9239 "DTS audio doesn't play using FFmpeg extension in 2.14.2"
After updating to ExoPlayer 2.14.2, I've noticed an issue with playback backed by the FFmpeg extension. I was able to play DTS audio just fine with 2.14.1 while it's no longer working on my device with 2.14.2.

I use the FFmpeg extension with SimpleExoPlayer enabled like this:

[code]

I can reproduce it with any media containing DTS (I didn't test much any other formats), including test video enc

[2021-07-30 01:04] #9136 closed, assigned to marcbaechinger

[2021-07-30 04:13] Jaydipnathani commented on #9230
My issue is not Resolve so please open this issue.

This is just for information. This is not the solution to my issue.

Video Lab Just one Example. This problem occurs with so many apps.

![Capture](https://user-images.githubusercontent.com/54942991/127598920-e4f2f219-fd43-401b-871f-339cc2cf43c0.PNG)

When I first open the Exoplayer demo app and open the video, video is played and minimize demo a

[2021-07-30 06:45] BaranovVO commented on #9081
I have the same issue.

There are several HLS sources. When I set them and call prepare(), the player state doesn't go to READY.

My code:

    private fun initExoPlayer() {
        val player = SimpleExoPlayer.Builder(this).build()
        player.addListener(object : Player.Listener {
            override fun onPlayerError(error: ExoPlaybackException) {
                super.onPlayerError(error)

[2021-07-30 08:42] marcbaechinger commented on #9237
I think if you are using an `adTagUri`, the ad tag from that URI is fetched first to check what ads are to be inserted. If there is a preroll ad, then the ad is loaded and played first. If there is no preroll add the ad media will be loaded as soon as it is required.

Can you give us some more details on what is in that ad tag and whether there is a pre-roll involved? Do you see that ExoPlayer is

[2021-07-30 08:53] marcbaechinger commented on #9237
Another note: If this is about a case where the ad tag is not properly loading, you [can set a timeout](https://github.com/google/ExoPlayer/blob/002ee4d/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L279).

[2021-07-30 09:19] christosts commented on #9239
@andrewlewis can you take a look?

[2021-07-30 09:45] Jaydipnathani opened #9240 "InitializationException: Decoder init failed:"
#9230

I can not find any solution so if you have any solution please help me out.

[2021-07-30 10:22] marcbaechinger commented on #9202
`onAudioSessionIdChanged` is only called if the audio ID actually is changed by the app by calling `SimpleExoPlayer.setAudioSessionId`. Please see also #8712.

If you want to know the audio session ID that is internally created you can do so just after building `SimpleExoPlayer`:

[code]

Does your app call `SimpleExoPlayer.setAudioSessionId` and you don't see the callback being called?

[2021-07-30 10:23] christosts commented on #9240
Closing this as a dupe of #9230. I will follow-up on #9230.

[2021-07-30 10:23] #9240 closed, assigned to christosts

[2021-07-30 10:25] christosts commented on #9238
I tested with r.2.14.2. I can verify that ExoPlayer returns a duration of 2:37:41. When I inspect the file with `mediainfo` or try to play with VLC, the returned duration is 28:06:00.

According to `mediainfo` the file is constant-bit-rate, encoded at 64Kbps and the size of the file is 772MB. I suspect the duration in VLC and `mediainfo` matches the calculation `file_size / bitrate`. ExoPlayer how

[2021-07-30 10:41] marcbaechinger commented on #9235
I think this is a question that can't be generally answered easily because it depends on configurable variables and the media.

The use case is to preload some data so that when the user skips to a given window the player can immediately start playing without buffering.

Assuming you are using the `DefaultLoadControl`. The `DefaultLoadControl.Builder` has a method `setBufferDurationMs` that has fo

[2021-07-30 10:58] bjoernharrer opened #9241 "Handling of DASH events / 23009-1 5th edition - timing compliant EMSG handling"
23009-1 5th edition - timing compliant EMSG handling
The handling of DASH events embeded in ISOBMFF emsg boxes is different between 23009-1 4th edition and 23009-1 5th edition.
In 23009-1 4th edition there is a restriction on the presentation of events that says: "presentation_time: provides the Media Presentation time of the event measured on the Movie timeline, in the timescale provided in the t

[2021-07-30 11:06] christosts commented on #9230
When you say

Can you please name exactly what combinations you tried and which one failed?

I need to point that video apps may acquire different decoders based on the video format played. Therefore, if a combination of apps work that does not mean that the specific apps are releasing the codecs properly. It might be that
- the apps acquire different decoders and there is not shortage of decoder

[2021-07-30 11:54] master255 opened #9242 "Can't play an mp4 file."
https://mega.nz/file/khNEGbAT#O1uKAMECAivkxxKuq_PQTszzXaQFRFHdin9rn3hRBtw

[2021-07-30 12:51] christosts commented on #9178
The mp3 file labelled "BAD" is a constant bit-rate MP3 file for which ExoPlayer estimates the duration with the calculation `file size / bitrate`. For files transferred over the network, the size is determined by the HTTP response headers sent by the server. The demo app, by default, will use the Cronet HTTP data source, for which the server returns gzip compressed content, and ExoPlayer's CronetD

[2021-07-30 12:51] #9178 closed, assigned to christosts

[2021-07-30 13:09] #9202 closed, assigned to marcbaechinger

[2021-07-30 13:55] andrewlewis commented on #9239
It looks like the detected audio capabilities include DTS passthrough output, but it seems very strange that that would be supported on a phone and indeed initializing the audio track for encoded DTS output (I think this is `0xb000000`) is failing:

[code]

[2021-07-30 14:14] christosts commented on #9242
The video of this file is encoded as mpeg2. ExoPlayer uses the platform decoders for video and this video codec is not supported on Android, please see the [Supported sample formats](https://exoplayer.dev/supported-formats.html#sample-formats) on ExoPlayer documentation, which further links to [Android supported formats](https://developer.android.com/guide/topics/media/media-formats#core) page. Th

[2021-07-30 14:14] #9242 closed, assigned to christosts

[2021-07-30 14:51] Yzuhou opened #9243 "Empty PID's Check"
Case description
We would like to have a feature that detects when an audio PID is empty. As it is right now if an audio PID is empty the video won't start. The solution we found is erasing those PID's in the content transmitted but we can't do this in every case because we don't have control over every video.

Proposed solution
Wait an audio PID for a certain amount of time and if it doesn't appe

[2021-07-30 16:06] master255 commented on #9242
@christosts That's too bad. You've been developing the player for so many years, and it still doesn't play mp4. This is ridiculous!

[2021-07-30 16:17] danish241194 commented on #9237
@marcbaechinger thanks for your response , As per your comment " the ad tag from that URI is fetched first to check what ads are to be inserted " here we don't want it to fetch it in the beginning as we are always having mid roll ads. Can we control this ad Tag fetch call , i mean to can we do it like fetch at some particular second of video content.

[2021-07-30 16:36] marcbaechinger commented on #9237
I don't think this is possible. The ad tag is always loaded first.

[2021-07-30 17:06] andrewlewis commented on #9237
Not sure if this is helpful, but there is a way to "preload" the ad tag independently of starting playback, see [`ImaAdsLoader.requestAds`](https://github.com/google/ExoPlayer/blob/002ee4d/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java). Maybe you can preload the ad tag before starting playback as a workaround.

[2021-07-30 17:57] clhols commented on #9181
Also an issue with the cast extension:
[code]

[2021-07-30 18:03] clhols commented on #9181
Forcing play-services-cast-framework:20.0.0 doesn't fix it:
[code]

[2021-07-30 20:57] ziad-halabi9 commented on #6575
Any updates here?

[2021-07-31 04:03] Jaydipnathani commented on #9230
Please explain to me how to use a decoder. You tell me how to know the decoder of video. and how to change the video decoder.

YES, It works but the problem is with the same decoder. so how to use another decoder.

The same version was used.

[2021-07-31 15:59] ShawnLin013 opened #9244 "Always throws the exception when setting the Surface that has already been released"
[code]

It would be great if check the `surface.isValid()` before the `surface.setFrameRate(frameRate, compatibility);`
[code]

ExoPlayer: 2.13.3
Android: 11

[2021-07-31 21:50] ojw28 commented on #9244
I don't understand the request here. The title says "always throw the exception" whereas the body of the issue says "check `surface.isValid()`".

What is it exactly that you're suggesting? Also, how are you providing the surface to the player? If you're doing this manually and if you're seeing this issue, then that may imply that you're incorrectly leaving the player holding a released surface, wh

[2021-07-31 22:25] ojw28 commented on #9044
The approach outlined above allows you to query whether the manifest is live immediately on each manifest update. So as soon as a manifest update occurs that indicates the manifest is no longer live, you should find out about that straight away.

[2021-07-31 22:46] ojw28 commented on #8850
I am looking at some other issues that 0d052e0 caused currently. Once I have a fix for those I'll see if it also fixes this issue at the same time.

[2021-08-01 03:09] ShawnLin013 commented on #9244
Hi @ojw28
We use a singleton ExoPlayer in RecyclerView and manual release the ViewHolder's Surface when surfaceDestroyed() called. As the following code:
[code]
Since the Surface has already been released. The exception always called when manual release the ViewHolder's Surface.
So my suggestion is that surface.isValid() should be called before the surface.setFrameRate(frameRate, compatibility); c

[2021-08-01 10:02] krocard commented on #6575
Sorry, this is a low priority item and will realistically not be addressed until a stronger need is identified.
Of course we are open to any pull request improving the situation.

[2021-08-01 10:16] stevemayhew commented on #8850
Thanks Oliver
 Do share the plan please, if it is to lock to video master and require the
time stamp master be first to respond to a DSN change it will work for
staggered A/V time stamp perfectly (very common for live to be transcoded
this way)

Pretty sure I provided a sample for this, if not ping me.

 I’m definitely getting pressure to fix this, but if you’re working on a
fix I’m grateful, and

[2021-08-01 13:22] ojw28 commented on #9244
I doubt you need to manually release a `Surface` when `surfaceDestroyed` is called. That said, if you really want to do this for some reason, why don't you swap the order of the calls so that you clear the surface from the player first? You shouldn't ever leave the player with an invalid surface, however temporarily, which is what you appear to be doing here.

[2021-08-01 13:36] ojw28 commented on #8850
I don't think we'll be requiring video to be first to respond. I think we'll just be fixing cases where playback remains blocked indefinitely.

[2021-08-01 16:14] stevemayhew commented on #8850
Issue #8952 is the issue I'm talking about.  Choosing audio master leads to this.  Perhaps we could give a setting to prefer one over the other and block non master from attempting to reset time stamps when the DSN changes

Non master attempt to reset time stamp on DSN change is what leads to the deadlock, because of the way `CompositeSequenceableLoader` moves the next load position

Reproduction

[2021-08-01 16:31] sannykhan3777 opened #9245 "com.google.android.exoplayer2.ExoPlaybackException: Source error"
**Unhandled Exception: PlatformException(VideoError, Video player had error com.google.android.exoplayer2.ExoPlaybackException: Source error, null, null)**

I am getting error when I play a .m3u8 video. Its basically a live news video.
I am using flutter 2.0.

**Dependencies Used :**
video_player: ^2.1.12
chewie: ^1.0.0

I tried many time but error persists.
When I play a video which has extension

[2021-08-01 19:27] colinbarr commented on #9114
I've also come across the same exception as shown above, and (at least in my case) it appears to be related to RTSP implementations not strictly adhering to [section 4.4.1 of RFC3640](https://datatracker.ietf.org/doc/html/rfc3640#section-4.4.1). I was attempting to stream from UniFi Protect, which looks to be running an embedded version of EvoStream Media Server.

From a packet capture, I can see

[2021-08-01 22:43] ojw28 commented on #8850
@stevemayhew - Aside from being introduced by the same commit, I don't think your issue is the same as this one, or the others that have been reported. Could we keep discussion in #8952?

[2021-08-02 01:04] #9152 closed, assigned to icbaker

[2021-08-02 01:04] #9126 closed, assigned to marcbaechinger

[2021-08-02 04:29] dzungvu commented on #5935
Facing same issue with exoplayer 2.13.2. Video was able to play but no audio.

08-02 10:14:19.655  4085  4085 I TRACK_HELPER: [Line: 13]init video quality with 2 video(s)
08-02 10:14:19.656  4085  4085 I TRACK_HELPER: [Line: 25]init audio quality with 1 audio(s)
08-02 10:14:19.657  4085  4085 I TRACK_HELPER: [Line: 17]init sub tracks with 0 sub(s)
08-02 10:14:19.658  4085  4085 D ANALYTICSLISTENER

[2021-08-02 05:28] BaranovVO commented on #9081
I've found my error. I used  C.POSITION_UNSET instead of  C.TIME_UNSET in seekTo(). But it worked with very older versions.

[2021-08-02 08:37] claincly commented on #9114
Thanks for providing the detail!

Handling the extra semicolon seems straightforward in this case. For now I don't think we have the intention for support all slightly erroneous RTSP servers. That said, please submit a PR if there are more people complaining about this specific issue.

[2021-08-02 09:16] andrewlewis commented on #9245
Please can you provide the full stack trace for the `ExoPlaybackException` including the cause of the source error? There's not enough information here to go on but if the URL's correct I'd guess the error may be [due to not using `https`](https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors).

You could also try playing the stream in the [ExoPlayer demo ap

[2021-08-02 09:33] Office-Murtaza opened #9246 "get callback which provide current playing state?"
we have custom seekbar. I am trying to find callback which provide current playing postion to update custom seekbar.

[2021-08-02 11:02] andrewlewis commented on #9245
The stream plays fine for me in the demo app if I enable cleartext traffic so I will close this issue as I don't think there is an ExoPlayer bug here. Please try [enabling cleartext traffic](https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors) and if that doesn't work report the issue to Flutter.

[2021-08-02 11:02] #9245 closed, assigned to andrewlewis

[2021-08-02 11:10] andrewlewis commented on #9246
There is no callback that's called when the player's position changes, but you can poll the player position periodically to update the UI, like [`StyledPlayerControlView`](https://github.com/google/ExoPlayer/blob/79f03df/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerControlView.java#L1436). See also #8680 and #3980.

For a callback when the playback state (idle, buffering,

[2021-08-02 11:10] #9246 closed, assigned to andrewlewis

[2021-08-02 11:20] andrewlewis commented on #9243
Kim, please could you add this to your list for consideration? Santiago already shared a document with a proposal that should address this called "Improving robustness around Transport Stream tracks" (let me/Santiago know if you need a link to it).

[2021-08-02 11:52] IamArmaan commented on #9227
I have checked on latest version also 2.14.2 and getting similar issue on device like moto e(7) plus (Android version 10) ,Moto G 10 (Android 11) ,One Plus 6 (Android10) I have sent bug report on mail dev.exoplayer@gmail.com , Please check.

[2021-08-02 12:01] christosts commented on #9230
I can think of two options
1. If you control the generation of content, you choose an encoding other than H264, e.g. use HEVC or VP9 video. The majority of devices support this encoding.
2.Try enabling decoder fallback on the ExoPlayer by calling [DefaultRenderersFactory. setEnableDecoderFallback(true)](https://github.com/google/ExoPlayer/blob/r2.14.2/library/core/src/main/java/com/google/android/

[2021-08-02 12:16] ojw28 commented on #9203
Whilst #9153 was a regression introduced by 6f8a8fb, this is not. The stream didn't play successfully even before that commit.

[2021-08-02 12:22] ojw28 commented on #9081
The stream declares an H.264 video track, but the track doesn't contain any content. It's similar to https://github.com/google/ExoPlayer/issues/6112#issuecomment-507051301, except that the track without content is video rather than audio. The content should be fixed to not declare this track.

If you know a stream that you're going to try and play has this specific problem, you can work around it

[2021-08-02 12:22] #9081 closed, assigned to ojw28

[2021-08-02 13:52] stevemayhew commented on #8952
Certainly @ojw28, sorry for the confusion, the off topic comments are still linked above.  And yes, from my read of #8850 the only similarity to this issue is the root cause is the same.

My questions for this issue remains the same:

1. Can you please share your plan?(hopefully it is close to what @AquilesCanta and I discussed above)
2. Is there anything else you need from me to recreate this iss

[2021-08-02 14:16] Yzuhou commented on #9243
Yes, if you could send me the link it would be very helpful.

Thanks!

[2021-08-02 15:09] ojw28 commented on #9203
I'm not sure exactly what's going on here, but I think the `EXT-X-DISCONTINUITY-SEQUENCE` tags in the media playlists are incorrect. In particular, the WebVTT subtitle playlist appears to have it set correctly, but the other playlists appear to have it incorrectly set to 0.

Weirdly the other playlists are of the following form in the master playlist:
[code]
When requesting `url_a` the `EXT-X-DISC

[2021-08-02 15:09] #9203 closed, assigned to ojw28

[2021-08-02 16:48] ojw28 commented on #9243
We sometimes see empty video PIDs as well (I assume this is why we have `FLAG_IGNORE_H264_STREAM`). If any solution could handle both cases, that would be great (although handling the audio case should be the priority).

[2021-08-02 18:24] #9153 closed, assigned to ojw28

[2021-08-02 18:24] #8850 closed, assigned to ojw28

[2021-08-02 18:25] ojw28 commented on #8850
I think this should be fixed by the commit referenced above. Please give it a try!

[2021-08-02 18:38] brianschrameck commented on #8850
Looks good here, thank you!

[2021-08-02 19:25] ojw28 commented on #8952
We've submitted https://github.com/google/ExoPlayer/commit/401361219432192622d7f0128f40d3770a9d136f to fix some other issues introduced by https://github.com/google/ExoPlayer/commit/6f8a8fbc1cf974617056edac6ee0068b175a6454. I don't think it does anything to address the issue here though.

What's happening in this case is that there are two segments (one audio, one video) that need to be loaded to

[2021-08-02 21:18] colinbarr commented on #9114
Thanks @claincly, I've submitted https://github.com/google/ExoPlayer/pull/9247!

[2021-08-03 00:54] user849651 commented on #867
Looking for some help. I've followed some of the suggestions here, specifically from @mpainenz, to come up with a solution. However, when the videos start playing, it briefly flashes a black screen and I'm not sure how to fix it. Would really appreciate any help.

Here is the relevant code from my RecyclerView's adapter class:

[code]

I don't think I'm doing anything out of the ordinary, so I'm w

[2021-08-03 01:05] user849651 opened #9248 "Video flashes black just before playing"
This problem seems to be related to https://github.com/google/ExoPlayer/issues/6996, which was unfortunately closed, so I can't reply. I'm using ExoPlayer in a RecyclerView, so things are a little complicated.

The way I have it working now is:

- Using only one ExoPlayer instance
- Creating a PlayerView during binding
- When the RecyclerView item comes into view, it prepares the player and attach

[2021-08-03 05:34] danish241194 commented on #9237
@marcbaechinger Are ads tag url and content url calls getting fired simultaneously ?

[2021-08-03 07:28] andrewlewis commented on #9237
`AdsMediaSource` prepares the content `MediaSource` at the same time as requesting the ad tag. However, the content media period isn't created until the ad tag has loaded, because media periods are always created in order and we don't whether we need to create a media period for a preroll ad until the ad tag has loaded. So if the content is progressive (like an MP4), it won't actually start loadin

[2021-08-03 09:38] kim-vde commented on #9243
Thanks @AquilesCanta for the proposal. I will add this to my todo list (not sure when I will have time to work on it though).

[2021-08-03 10:18] anas-incedo opened #9249 "Ads don't play on a specific (actual production) package name on Android, Android TV & Fire TV."
Hi,

I am getting the below error whenever I try to play ads on my Android, Android TV, and Amazon Fire TV app with a particular package name which is `tv.horseandcountry`. If I change the package name to anything other than the actual production package name, the ads play as expected. I can't change the package name because there are apps already Live on the respective app stores.

The result is

[2021-08-03 10:21] anas-incedo commented on #9249
Attaching bug report.
[bugreport-NS6281-2021-08-03-15-28-36.zip](https://github.com/google/ExoPlayer/files/6923341/bugreport-NS6281-2021-08-03-15-28-36.zip)

[2021-08-03 10:32] danish241194 commented on #9237
thanks @andrewlewis , wondering if we already have ad tag url's response (VAST)  as string , can we pass this thing directly to player so that it can directly use it and  doesn't have to fetch this same response from ad tag url.

[2021-08-03 10:55] andrewlewis commented on #9237
Yes, although it requires everything to be part of the ad tag (you can't have a VMAP ad tag that points to other ad tags). It should work to build a `data:` scheme URI and pass that as the ad tag URI -- see [this documentation](https://github.com/google/ExoPlayer/blob/d0dd33e/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L72-L79).

[2021-08-03 13:17] Wiktorl4z commented on #9234
TextureView has already implemented getBitmap function.
I didn't noticed that. This is correct answer for solution first:
[code]

[2021-08-03 13:17] #9234 closed, assigned to ojw28

[2021-08-03 14:42] andrewlewis commented on #9239
5e4cd1293eda0ca06afde2340ac1a274e06b0ec3 should fix this by making it so that we only use `AudioTrack.isDirectPlaybackSupported` on TV devices. Thanks for reporting the issue.

[2021-08-03 14:42] #9239 closed, assigned to andrewlewis

[2021-08-03 14:59] thibautperrin commented on #9109
Thank you !
I tested by copy-pasting TsExtractor into my code to adapt it and modify the PmtReader and it seems to work : When I detect a video stop, I restart it, and when the video start, the PMT is read, and if the PMT is not as expected, I change the PID list sent to the tuner.

However, it means that I have to copy-paste the totality of 3 exoplayers files, because `TsExtractor` is a final cla

[2021-08-03 15:32] cdongieux opened #9250 "DecoderInitializationException: AVC to HEVC switch issue on some devices"
Since ExoPlayer 2.13.X (including the last 2.14.2 release) there is an issue in DASH Live streams having both AVC and HEVC profiles in their manifests. The issue occurs when switching from one decoder to another (mostly AVC to HEVC), it is 100% reproducible with a minimal ExoPlayer integration:

[code]

According to Firebase Crashlytics where we upload our reports, this issue happens on Xiaomi, On

[2021-08-03 16:07] cdongieux commented on #9250
And here is a logcat showing the sample app launch followed by the `DecoderInitializationException` when switching from AVC to HEVC
[logcat_oppo_CPH2089.txt](https://github.com/google/ExoPlayer/files/6925534/logcat_oppo_CPH2089.txt)

Note the `E/SurfaceUtils: native window cannot handle protected buffers: the consumer should either be a hardware composer or support hardware protection` before the

[2021-08-03 16:13] icbaker commented on #9250
These lines in the logcat suggests to me this is a duplicate/same root cause as:
* https://github.com/google/ExoPlayer/issues/8696

[code]

[2021-08-03 16:17] morganch01 commented on #9137
Hi,

We've been following suggestion from @icbaker to customize MediaCodecAudioRenderer so that we can have access to the buffer, iv and keyId. So the basic flow and structure is like:
1) We implemented the ExoMediaDrm interface (say "CustomExoMediaDrm") -- for provisioning, license exchanging, and creating/closing session, it is backed by our own CDM; for createMediaCrypto() we are reusing the Fr

[2021-08-03 17:54] cdongieux commented on #9250
I'm not sure, because in my case there is a switch between 2 DRM-protected video tracks, there a no clear content involved.

[2021-08-03 20:50] morganch01 commented on #9137
I think I just figure out to how to fix the "CodecException: Error 0x80000000". I just need to don't pass the "MediaCrypto" parameter to the "MediaCodec" configuration.

Hitting other errors when try to queue the buffer, would provide follow up updates.

[2021-08-04 03:03] seventhmoon commented on #9181
@clhols this is not related to this bug (Exoplayer WorkManager Extension).
Have you submit the issue to [issuetracker](https://issuetracker.google.com/issues/new?component=190205&template=814901)?

[2021-08-04 06:09] Jaydipnathani commented on #9230
Hi, @christosts Thank you very much for the response. This is exactly what I was looking for. I will try to use a software decoder when the hardware decoder fails. Thanks

How to know the hardware decoder fails?

[2021-08-04 06:29] Jaydipnathani commented on #9230
Hi, @christosts Thank you very much for the response. This is exactly what I was looking for. I will try to use a software decoder when the hardware decoder fails. Thanks

 How to know the hardware decoder fails?

After using this my issue was resolve.
**DefaultRenderersFactory always returns software decoder?**

[code]

 Please Explain this condition.

I am not getting that which setExtensionRend

[2021-08-04 07:55] TimelessTyler opened #9251 "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed:"
[code]

[2021-08-04 07:59] icbaker commented on #9250
I suspect #8696 just has an incomplete/imprecise title, and that the problem is really related to switching **away** from a secure decoder (so it occurs both when switching from a secure to a clear decoder and from one secure decoder to another different one).

I'm going to close this as a duplicate and update the title of #8696.

[2021-08-04 07:59] #9250 closed, assigned to icbaker

[2021-08-04 08:01] icbaker commented on #9250
Quick question: When I repro'd #8696 using a OnePlus AC2003 I didn't see any problems on Android 10 but immediately repro'd on Android 11. Does your crash analytics suggest this problem happens only (or much more frequently) on Android 11 than Android 10?

[2021-08-04 08:04] rossbeazley opened #9252 "SmoothStream track (format) label metadata is not made available"
This is a bug very similar to https://github.com/google/ExoPlayer/issues/1095

When parsing smooth streams, the label that can appear on StreamIndex is not propogated to associated Format objects. Inclusion of the label will make presenting choices of captions, subtitles or audio tracks nicer to the user.

[This commit](https://github.com/google/ExoPlayer/commit/6ce1a2b1cdc23b135c8816dce04941c4689

[2021-08-04 08:06] BaranovVO opened #9254 "Invalid RTSP session header parser"
The lib version is 2.14.2.

The player can't parse a RTSP session header.

It looks like the regex SESSION_HEADER_PATTERN needs to be changed.

    override fun onResume() {
        super.onResume()
        exoPlayerView.apply {
            val trackSelectionFactory = AdaptiveTrackSelection.Factory()
            val trackSelector = DefaultTrackSelector(context, trackSelectionFactory)
            v

[2021-08-04 08:12] cdongieux commented on #9250
93% on Android 11, 5% on Android 10.

[2021-08-04 08:16] cdongieux commented on #9250
Note that on #8696 a trick was to use `setDrmSessionForClearPeriods(true)` but in my case it does not work as content is protected, so I have no workaround for this issue.

[2021-08-04 08:17] nadiration commented on #8525
@icbaker hey Google it's been 6 months any updates?

[2021-08-04 08:49] claincly commented on #9254
It's likely the server is not following the RTSP spce, to diagnose, please provide a log of RTSP messages.

Add logs at

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMessageChannel.java#L182

and

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rts

[2021-08-04 09:59] BaranovVO commented on #9254
[code]

[2021-08-04 10:29] Mighty-tech opened #9255 "Help me，After the player has paused, the time in the notification bar continues to add up！"

[2021-08-04 10:30] claincly commented on #9254
Will be fixed soon

[2021-08-04 10:31] guymclean opened #9256 "Video codec error when seeking file with encrypted audio stream"
We are encountering issues when trying to seek a video file, which is reproducible using the sample app. The video file in question has the audio stream encrypted (and the sample app doesn't actually recognise an audio stream). We have a use case that allows users to seek paused video frame by frame and so this is issue is critical for our app.

To reproduce the issue, use the video file supplied

[2021-08-04 11:53] christosts commented on #9230
The player will raise an error on the `AnalyticsListener.onPlayerError` callback and the passed `ExoPlaybackException` will contain a `MediaCodecRenderer.DecoderInitializationException`.  You can see that in the first stack trace you posted on the issue description. In your app, you should add an `AnalyticsListener` to the player and if `onPlayerError` is raised, you can inspect if it was the deco

[2021-08-04 12:07] sixones commented on #9232
After picking up the device myself I've been able to replicate the issue quite easily when connected to a full AVR that supports passthrough on the audio format I'm trying to play - originally when using a JBL soundbar I wasn't able to replicate but when switching to a Yamaha AVR the issue was happening straight away. Rebooting the device doesn't seem to make any difference.

In the logs, it looks

[2021-08-04 12:21] andrewlewis commented on #9255
I just tried modifying the demo app to use a [`PlayerNotificationManager`](https://github.com/google/ExoPlayer/blob/c7d34d7/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java) to show a notification and it worked fine (when pausing/resuming the position in the notification stopped/resumed advancing as expected).

There isn't enough information here for us to h

[2021-08-04 12:30] andrewlewis commented on #9249
I think the problem must be with the ad server or the IMA SDK itself -- ExoPlayer doesn't do any handling dependent on the package name that could explain this. I'd recommend reporting it on the [IMA SDK forum](https://groups.google.com/g/ima-sdk).

Had a quick look at the bug report anyway and I couldn't see anything obviously going wrong depending on the package name. You could try enabling debu

[2021-08-04 12:30] #9249 closed, assigned to andrewlewis

[2021-08-04 12:40] andrewlewis commented on #9249
I've filed [internal: b/195517075] to ask the IMA SDK team directly but I'd still recommend posting on their official forum.

[2021-08-04 18:30] stevemayhew commented on #8952
I'll have a look at 4013612 and add it to our testing.

This is exactly correct.  In the old design, the video always set the time so audio before that time is discarded.   The discard happens in the `SampleQueue` because the time is before the `startTimeUs` of the `SampleQueue`.  This block in `readSampleMetadata()`:

[code]

This happens on starting playback or a seek, easy of these of course re

[2021-08-04 18:35] andrewlewis commented on #9251
To look into codec failures like this we really need a full bug report captured via `adb bugreport` just after seeing the error, as that may include useful diagnostic information that may help track down the cause (and also tells us exact device and build). If there's something you don't want to post publicly please email the bug report to dev.exoplayer@gmail.com using a subject in the format "Iss

[2021-08-04 18:47] andrewlewis commented on #9252
I'll take a look at submitting a simple fix directly and let you know if I run into any issues. Thanks!

[2021-08-04 18:49] rossbeazley commented on #9252
👌

[2021-08-04 19:24] andrewlewis commented on #9248
When a new post becomes visible do you always have a thumbnail in memory ready to set as the bitmap? If so I expect it should be possible to make this work by showing the thumbnail image view on top of the player view and only hiding the thumbnail when you get the `onRenderedFirstFrame` event from the player.

If it sounds like I'm misunderstanding the problem, could you provide a screen recording

[2021-08-04 20:12] stevemayhew commented on #8952
I think you may be looking at the wrong demo URL, I sent a new pair to the developer mailing list.  There are no PROGRAM-DATE-TIME tags, basically the sample is 60 seconds of VOD.

Try with disabling chunkless prepare and turning off CC.   Basically the selection of timestamp master is left to chance depending on the first playlist to start load of a media chunk.   As you can see from the logs bel

[2021-08-04 20:43] srayhunter commented on #9210
### Requested format
Audio: g711 and opus.

[2021-08-04 21:26] shashachu opened #9257 "ArrayIndexOutOfBoundsException in guessMediaTimeBasedOnElapsedRealTime"
We recently started using `PlaybackStatsListener` in our app, and we're seeing low-medium volume crashes that we haven't been able to reproduce locally:

[code]

Examining the code, you can see how entering `maybeUpdateMediaTimeHistory` in a playback state other than `PLAYBACK_STATE_PLAYING` could lead to this crash:

[code]

I'm happy to put up a PR to make the code more robust, but I'm wondering

[2021-08-04 22:25] halizton commented on #9257
(from the same team as @shashachu)

Note that we have `keepHistory` set to be true as well in our code base.

`PlaybackStatsTracker(boolean keepHistory, EventTime startTime)`

[2021-08-05 02:13] Mighty-tech commented on #9255
Sorry, I'm using [uamp](https://github.com/android/uamp) For the open source project, there is a problem with his sample (after the player is suspended, the time of the notification bar continues to increase), The notification bar uses [playernotificationmanager]( https://github.com/google/ExoPlayer/blob/c7d34d7/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.ja

[2021-08-05 02:15] #9214 closed, assigned to marcbaechinger

[2021-08-05 02:17] yinshengpan commented on #9214
Equipment problem

[2021-08-05 04:14] makkhay commented on #8207
@marcbaechinger  How can I create a list of downloads from the downloadIndex ? [ DownloadIndex.getDownloads()](https://exoplayer.dev/downloading-media.html#querying-downloads) return DownloadCursor. I am trying to do something similar as well. Want to get the real-time progress percentage for the list of videos and show it inside Recyclerview.

[2021-08-05 07:48] chongieball opened #9258 "Can't play video with DRM in custom web receiver app cast"
I'm trying casting video with exoplayer cast to my web receiver app. In Exoplayer Default Receiver APP ID, video can play, but my custom receiver cant play. In CacTool, [ERROR] Detailed Error Code - 201. This is my receiver.js code

`context.getPlayerManager().setMessageInterceptor(
    cast.framework.messages.MessageType.LOAD,
    loadInterceptor);

function loadInterceptor(loadRequestData) {

[2021-08-05 08:03] andrewlewis commented on #9255
Have you reported this on the [UAMP issue tracker](https://github.com/android/uamp/issues)? Based on my testing, the player notification manager is working fine in the ExoPlayer demo app, so I think it should be reported to UAMP first.

[2021-08-05 08:03] #9255 closed, assigned to andrewlewis

[2021-08-05 08:05] andrewlewis commented on #9255
Marking as an app issue for now but feel free to reopen or file a new issue if you find evidence this is a problem with ExoPlayer components.

[2021-08-05 08:19] andrewlewis commented on #9258
Based on the [Cast error codes page](https://developers.google.com/cast/docs/web_receiver/error_codes), 201 is caused by network errors during license requests and the recommended solution is "Developer validates their license server". Given the default receiver works, I'd guess there is probably an issue with the way your custom receiver is setting up the request. Can you compare the license requ

[2021-08-05 08:46] Jaydipnathani commented on #9230
Thank you so much :+1: . After using this my issue was resolve.

One last question.
How to know software/hardware decoder use?

[2021-08-05 09:08] #8964 closed, assigned to andpodob

[2021-08-05 09:49] ojw28 commented on #8952
The difference is that this issue is dealing with demuxed audio and video segments, where-as #5024 is asking about audio and video muxed into a single TS stream. It may be that we can fix both issues in the same way, which is why I was referring to it as being similar. I think an ideal fix would probably have this property. However, it's not necessarily the case that a fix for this issue will defi

[2021-08-05 10:13] andrewlewis commented on #867
@user849651 Is this the same as #9248? If so let's keep the discussion there to avoid duplicated effort.

[2021-08-05 13:09] Cilenco opened #9259 "RTSP stream fails with onSessionTimelineRequestFailed"
I'm trying to access the following rtsp stream from my FritzBox

    rtsp://192.168.178.1:554/?avm=1&freq=338&bw=8&msys=dvbc&mtype=256qam&sr=6900&specinv=0&pids=0,16,17,18,20,100,110,120,121,122,125,130,131,950

It plays fine in VLC but ExoPlayer craches with an `IllegalStateException` (stacktrace below). From [this](https://github.com/google/ExoPlayer/issues/9070#issuecomment-863159561) question

[2021-08-05 13:34] nithinkumarnk88 opened #9260 "How to Hide seekbar in exoplayer leanback implementation"
Hi Team,
We have implemented a player in our application on Leanback using Exoplayer and for UI controls we have extended PlaybackSupportFragment.
We could not find a way, how to hide the seekbar for live tv content. We also extend PlaybackSeekDataProvider for seekbar data for non live content. But for live content we have a requirement to hide the seekbar.

Any suggestions will be of great help

[2021-08-05 14:03] Allan-Nava commented on #7891
Same problem with the old chromecast devices!

[2021-08-05 14:24] andrewlewis commented on #9260
From what I can tell this is about how app code integrates with `androidx.leanback`, not about the ExoPlayer `PlayerAdapter` for leanback, so I suggest [filing a bug in the androidx.leanback component](https://issuetracker.google.com/issues/new?component=460758&template=1422626). If that's not correct, could you give some more information on what change you'd expect to the `LeanbackPlayerAdapter`

[2021-08-05 14:30] apptrash commented on #9037
@marcbaechinger Everything works on version 2.14.2, thanks a lot!

[2021-08-05 14:30] #9037 closed, assigned to marcbaechinger

[2021-08-05 15:07] Kolyall opened #9261 "Some error with Drm on Samsung S9+"
The erron occurs if I try to play on Samsung SM-G965F, but on other devices all works fine
[code]
[code]

[2021-08-05 15:10] andrewlewis commented on #9261
It looks like your license server is returning HTTP status 404. Can you check your license server logs to see if there is diagnostic information there?

[2021-08-05 15:11] Kolyall commented on #9261
Ok, later will inform you, maybe it is server error

[2021-08-05 16:52] Kolyall opened #9262 "How to make more faster process of get all downloads?"
How to make more faster process of get all downloads?
[code]
If I do this:
[code]
Result in log:
[code]
10sec!!! Why so long?

[2021-08-05 17:00] Kolyall commented on #9262
And also when the fun `getAllDownloads()` is called, then instance of exoplayer is lagging

[2021-08-05 18:27] vinayaksoni opened #9263 "Exoplayer gets stuck after some time of streaming RTSP content from VLC"
Hi,

Device: Raspberry Pi 4
Android version: 11

I downloaded the tip of dev-v2 branch of Exoplayer to get the RTSP support. I created a demo app with it for playing RTSP content from VLC:

[code]

The RTSP stream plays fine for a minute but then stops with the following trace in the logcat:

[code]

Posting an issue for the first time so please let me know if any other info is needed.

[2021-08-05 19:54] user849651 commented on #9248
@andrewlewis

Yes, a thumbnail is always shown before the player is shown. I now use the following code to show the player `onPlaybackStateChanged`:

[code]

[2021-08-05 20:44] ghost commented on #8991
This is reproducible in the Exoplayer Demo App using a Samsung Galaxy A30 after a software update to version A305FDDS6BUD3. I ran an HLS stream for an extended period of time, but seems independent of the type of stream.

[2021-08-06 00:14] user849651 commented on #9248
@andrewlewis

Here is a video of what I'm experiencing. The green/red blocks simply show which item's video will be played. As you can see, there is a very brief black flash just before the video starts playing.

https://user-images.githubusercontent.com/30815862/128436800-d2153174-e768-4181-9fc0-19d9dec52efb.mp4

I've made some changes to my code in the hopes that it would've fixed it, but no luc

[2021-08-06 03:21] holoc285 opened #9264 "RTSP: stream does not play (blackscreen)"
implementation 'com.google.android.exoplayer:exoplayer:2.14.2'
implementation 'com.google.android.exoplayer:exoplayer-rtsp:2.14.2'

play: rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov
cannot play:  rtsp://113.163.157.230:9717/rtsph2641080p

Debug Log
2021-08-06 10:13:32.544 8410-8410/com.example.demo D/EventLogger: surfaceSize [eventTime=0.09, mediaPos=0.00, window=0, period=0,

[2021-08-06 04:05] HyowonHwang commented on #9220
@rrfrias Alright, I am trying to fix this like what you said. Thanks.

[2021-08-06 04:05] #9220 closed, assigned to HyowonHwang

[2021-08-06 06:40] #9251 closed, assigned to andrewlewis

[2021-08-06 06:42] #9222 closed, assigned to marcbaechinger

[2021-08-06 08:12] andrewlewis commented on #9263
To look into codec failures like this we really need a full bug report captured via `adb bugreport` just after seeing the error, as that may include useful diagnostic information that may help track down the cause (and also tells us exact device and build). If there's something you don't want to post publicly please email the bug report to dev.exoplayer@gmail.com using a subject in the format "Iss

[2021-08-06 08:18] Proxwian commented on #5534
Any updates yet?

[2021-08-06 08:20] Kolyall commented on #9261
@andrewlewis Why emulator (Android Studio) calls `MediaDrmCallback#executeKeyRequest`, but real device calls method `MediaDrmCallback#executeProvisionRequest`?

[2021-08-06 08:28] #9254 closed, assigned to claincly

[2021-08-06 08:34] claincly commented on #9259
The fmtp line

[code]

indicates the payload type 33, and it's format MP2T that we don't support at the moment. There is no way to solve this easily I'm afraid.

That aside, you are welcomed to implement RFC2250 as `RtpMp2tReader` to support it and submit to our codebase. For reference, there's a similar implementation [here](https://github.com/tresvecesseis/ExoPlayer/blob/dev-v2-rtsp/library/rtp/

[2021-08-06 08:35] andrewlewis commented on #9262
It might be helpful if you could add some more timing logging to `DefaultDownloadIndex.getDownloadForCurrentRow` so we can see what is going on during the 10 seconds. Also please could you confirm which version of the library you are using?

@marcbaechinger Marc, please could you take a look? I expect we need more information but I'm not sure what else would help diagnose this or whether it's work

[2021-08-06 08:36] claincly commented on #9264
FYI `rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov` plays on my end.

Please provide a log of RTSP messages.

Add logs at

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMessageChannel.java#L182

and

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f

[2021-08-06 08:41] andrewlewis commented on #9261
I'd guess it may already be provisioned but I'm not sure (and I wouldn't be surprised if DRM generally doesn't work on the emulator like it does on a real device). It also seems unrelated to the original issue filed here?

Assigning @icbaker in case he has anything to correct or add.

[2021-08-06 08:42] claincly commented on #9201
It's fixed in the new release.

https://github.com/google/ExoPlayer/commit/13ff72d86934070867dce1b1be2b7ab5f91f0bb7

[2021-08-06 08:42] #9201 closed, assigned to claincly

[2021-08-06 08:45] andrewlewis commented on #5534
No updates I'm afraid. I'd still recommend setting ad cue points based on the content duration (and keyframe positions) as suggested above.

[Edited to remove a potentially incorrect point about the failure mode changing as actually I don't think we will detect that we are waiting for an ad load so ad loading may not time out.]

[2021-08-06 08:57] icbaker commented on #9261
I think a) the emulator only supports widevine L3 and b) L3 doesn't require provisioning. But +1 to Andrew's general assumption that the emulator is probably not a good testing ground for DRM.

If you want to force L3 on a device that claims to support L1 (and so avoid the provisioning call) there's some instructions here: https://github.com/google/ExoPlayer/issues/8108#issuecomment-767618167

@rr

[2021-08-06 08:59] Kolyall commented on #9261
@andrewlewis I just override `MediaDrmCallback` by this issue https://github.com/google/ExoPlayer/issues/9216 and wrap license request at `executeProvisionRequest` and at `executeKeyRequest`. That's why  404 error occurs .
So to fix the original issue filed here, I don't overrider `executeProvisionRequest`, but overrride `executeKeyRequest`
So my `WrappedHttpMediaDrmCallback` looks like:
[code]

S

[2021-08-06 09:07] holoc285 commented on #9264
How can I override this methods to add logs. Thanks

[2021-08-06 09:10] claincly commented on #9264
You don't need to override it, adding one line of code `Log.d("RTSP", message)` to the pointed locations will be sufficient.

[2021-08-06 09:17] holoc285 commented on #9264
This methods is read-only. I can't modify.

[2021-08-06 09:19] Kolyall commented on #9262
Sorry, my bad
At each element I get `com.google.android.exoplayer2.drm.OfflineLicenseHelper#getLicenseDurationRemainingSec` that's why it's so long,
Thanks, have a nice day.

[2021-08-06 09:19] #9262 closed, assigned to andrewlewis

[2021-08-06 09:56] jiaoya commented on #9084
@chvp Excuse me: how did you solve it so that it won't jump back to the beginning of the track

[2021-08-06 09:58] christosts commented on #9230
You can get the name of decoder used by listening to the `AnalyticsListener.onVideoDecoderInitialized` event. How to tell whether that's a software or hardware decoder?

1. For devices with API 29+ (Android 10+), ExoPlayer uses the platform API `MediaCodecInfo.isHardwareAccelerated`. However, MediaCodecInfo instances are not directly propagated to the app, so if you want to have access to this inf

[2021-08-06 10:06] #9261 closed, assigned to icbaker

[2021-08-06 10:10] chvp commented on #9084
This issue was to make the opposite behaviour possible (and default). If you don't want this, you need to set a custom ControlDispatcher and override the `previous` call.

[2021-08-06 10:41] abrarahmadraza commented on #5193
@ojw28 and @erdemguven Thanks a lot for your responses.
- Since DownloadConstructorHelper was removed, the getCacheWriteDataSinkFactory(Cache cache) is not encrypting data, here's my current implementation.

[code]

- Is there any update regarding documentation on this issue, #6332?
- Is there a similar example code like yours above. For versions above r2.12.0

[2021-08-06 10:52] abrarahmadraza commented on #5193
@meenukrishnamurthy Hey Thanks for your question, that helped a lot.
- Did you upgrade the Exoplayer above 2.12.0, with this feature?

[2021-08-06 11:07] Kolyall opened #9265 "OfflineLicenseHelper.getLicenseDurationRemainingSec is too slow"
exoplayerVersion = '2.14.2'

  Device: SM-G935FD

  I need to get downloads list with licenses and their times (DurationRemaining) so I do this:
[code]

Log:

[code]

~550ms for each item

Why `com.google.android.exoplayer2.drm.OfflineLicenseHelper#getLicenseDurationRemainingSec` is so long process?
Maybe exist any faster method to get all downloads with their licenses DurationRemaining?

[2021-08-06 11:15] christosts commented on #9227
We have received one email about this issue but it does not contain a full bugreport (but only a copy of logcat logs) or a URL to the content.

Please obtain a full bug report (running `adb bugreport` - see [here](https://developer.android.com/studio/debug/bug-report)) from the device after the crash occurs and send the bug report and  the content URL so that we can test the same content on the Ex

[2021-08-06 11:20] Gvex95 opened #9266 "Subtitle multiline window spacing"
Hi, i am wondering is it possible to separate lines when there are more than one line drawn on screen.

Let me explain with example:

![example](https://user-images.githubusercontent.com/26479259/128502831-6f719cc9-ed35-4b72-9fde-eba2cb78f12a.jpg)

What i mean, is it possible to add spacing after first line like in picture?
What property is responding for handling this, if this is even possible.

[2021-08-06 11:35] andrewlewis commented on #9266
@Gvex95 What subtitle format are you using (e.g., TTML)?

@icbaker Please could you take a look? I was wondering if this might be a duplicate of #7632 but I guess it depends what the format is.

[2021-08-06 11:42] Gvex95 commented on #9266
Ttml and mp4 fragmented webvtt. But i was wondering if this is even possible to do, for all supported formats?
I am willing to except any little tricks and hacks you suggest if currently there is no proper way of doing this (for example exposing some method like `setMultiLineSpacing(float px)`

[2021-08-06 12:37] claincly commented on #9264
You can either

- Make ExoPlayer your local dependency (download the source code yourself)
- Or, a simpler option, run the app in emulator and use [wireshark](https://www.wireshark.org/) to grab the packets.

[2021-08-06 12:43] andrewlewis commented on #9256
Thanks for reporting this. I can reproduce it on Pixel 4a running S beta. It seems that just pausing then seeking back and waiting a few seconds is enough to trigger the error.

[2021-08-06 12:49] nigelmegitt commented on #9266
In TTML, set `tts:lineHeight` on a style applied to the `<p>` element to a larger number. It's very close to the CSS `line-height` property.

[2021-08-06 12:53] guymclean commented on #9256
Okay thanks for letting me know - at least it's easily reproducible. Please let me know if you are able to fix this issue. Cheers, Guy

________________________________
From: Andrew Lewis ***@***.***>
Sent: 06 August 2021 13:43
To: google/ExoPlayer ***@***.***>
Cc: Guy McLean ***@***.***>; Author ***@***.***>
Subject: Re: [google/ExoPlayer] Video codec error when seeking file with encrypted audio

[2021-08-06 14:06] guymclean commented on #9256
Many thanks Andrew - Please let me know as soon as you are able to resolve this issue as it is currently a critical bug in our production app.

[2021-08-06 14:40] Proxwian opened #9267 "Stuck at CONTENT_RESUME_REQUESTED preroll"
I'm currently working on adding IMA SDK and noticed, then sometimes after playing content video fired CONTENT_RESUME_REQUESTED AdEvent, and then player stuck at buffering state.

Sample log, when playback is continued after preroll
[code]

And then sample log, when playback is stuck
[code]

Sometimes I get AdErrorCode [name: VAST_LINEAR_ASSET_MISMATCH, number: 403], but it does not affects playbac

[2021-08-06 14:45] afsabhishek opened #9268 "Next button in notification not visible"
In Exoplayer, 2.14.2, while using PlayerNotificationManger ,

[code]

Notification is coming on notification tray. But Next button is not visible. Except next button everything is visible

How to do that ? or Is it bug ?

[2021-08-06 15:03] andrewlewis commented on #9256
Tracking bug [internal: b/173106189]. I'll plan to update this issue when that is updated.

[2021-08-06 15:36] andrewlewis commented on #9268
Marc, please could you take a look?

[2021-08-06 15:39] dino-saurabh commented on #8906
Hi @christosts @claincly can I take this up ?

[2021-08-06 16:13] icbaker commented on #9265
I experimented with this on a Pixel 5. I found `getLicenseDurationRemainingSec` was generally taking ~300ms, which, although faster than what you're seeing, still seems quite slow.

I added some logging in `DefaultDrmSession` and found there's a couple of major contributors to this slowness:
* [`android.os.MediaDrm#openSession`](https://developer.android.com/reference/android/media/MediaDrm#openSe

[2021-08-06 17:24] afsabhishek commented on #9268
@marcbaechinger Also could you please help me with Sample of Audio background service using playernotificationmanager and playing with uri

[2021-08-06 17:35] rbattaglin25 commented on #8891
We did the way 1 and didn't work. Do you have any suggest?

[2021-08-06 19:48] stevemayhew commented on #8952
That sounds good, thanks again for spending some time with this, lots of good ideas come from discussions like this.

BTW, I think there is a simple fix for this:

I've got a build of code that move the call to `sharedInitializeOrWait()` from `loadMedia()` to `prepareExtractor()`  after the initial `open()` this saves about 100ms off of channel change because the http requests for all streams are

[2021-08-06 20:31] fourofspades commented on #9206
Still struggling with this, I believe I am following all the items suggested so far.   One thing I have noticed, on Android 10 (and perhaps earlier), it's possible to swipe away the notification.   Thinking this might indicate a problem....  Edit, false alarm, notification was still there in the extended notification area below it

I think I'm going to have to throw in the towel on this, and hope

[2021-08-06 20:42] e-sonic commented on #9263
I have emailed it to you.

[2021-08-07 06:20] IamArmaan commented on #9227
I have shared full bug report , if anything else you want please let me know. Thanks.

[2021-08-07 06:56] patelakshay13890 opened #9269 "play RTMP URL"
How Can I play RTMP Url in ExoPlayer ??
I don't get latest example for RTMP in version r2.14.2...
So please help me out...

[2021-08-07 07:54] fourofspades commented on #9268
I think should be a high priority task. A trawl around GitHub projects using exoplayer, all of them have bugs when it comes to foreground service and notifications. Not found a single working example that wires up a function audio exoplayer, mediasesion and notification with a foreground audio service using a recent build of exoplayer.

[2021-08-07 09:57] afsabhishek commented on #9268
Yes @fourofspades , Not a single working example even in their demo , they don't have.

 @andrewlewis @marcbaechinger

[2021-08-07 19:55] yachana1 commented on #9165
Marc, please could you take a look?

[2021-08-07 21:36] icbaker commented on #9165
That toast in the demo app suggests your device doesn't support decoding MPEG-2 video: https://exoplayer.dev/troubleshooting.html#why-does-content-fail-to-play-but-no-error-is-surfaced

Android devices are not required to support MPEG-2 video: https://developer.android.com/guide/topics/media/media-formats#video-formats

Without a suitable video decoder, ExoPlayer won't be able to play the content.

[2021-08-07 21:36] #9165 closed, assigned to marcbaechinger

[2021-08-08 04:20] silo4 opened #9270 "[Question]how to play multiple mp4 videos gapless"
Hi, I'm using exoplayer 2.12.1.
I want to play multiple local videos gapless.My app runs on Android TV.
When my videos are all the same definitions(eg, all are 1080p mp4[h264] videos), they play gapless.
But when they are not the same def[eg, 1080p + 720p mp4 videos], it's not gapless. There is a black screen when begin playing the next.
All videos are mp4 (h264+aac) files and they are local files

[2021-08-08 19:43] moneytoo commented on #9239
@andrewlewis I'm still trying to make sense of what `AudioTrack.isDirectPlaybackSupported()` reports. I was about to ask people to run [simple test](https://github.com/moneytoo/DirectPlaybackTest) to understand the scope of this issue. However I realized that the incorrectly reported support of DTS is only one thing. I know that my device has at least AC3 and E-AC3 decoders so shouldn't these also

[2021-08-09 01:03] #9170 closed, assigned to marcbaechinger

[2021-08-09 05:39] Kolyall commented on #9265
1. "Maybe you could cache the expiration time somewhere."
Why exoplayer lib doesn't do that to avoid calling TEE every time for each cached element in DownloadManager? Just store LicenseDurationRemaining with success downloaded item.

[2021-08-09 07:03] Kolyall commented on #9265
2. "Aside: I noticed you seem to be using DownloadRequest.data to store the keySetId, but I think you should probably use DownloadRequest.keySetId for this."
`keySetId` is `null`
![Screenshot from 2021-08-09 09-59-45](https://user-images.githubusercontent.com/3495165/128670198-79a4d372-b7c4-4966-80dd-4109134d010e.png)

[2021-08-09 07:06] moneytoo commented on #6225
General DTS-HD detection is really only about presence of DTS extension substream sync word (`0x64582025`). We need to have access to up to 16383 + 4 bytes of data (max frame size + sync word of the second frame). We already have `DtsUtil.getDtsFrameSize()` helper for navigation to that second frame.

I'm already doing that in `MatroskaExtractor.writeSampleData()` to update mime type using `track.

[2021-08-09 07:09] jiaoya commented on #9084
thank you very much

Charlotte Van Petegem ***@***.***> 于2021年8月6日周五 下午6:10写道：

[2021-08-09 07:40] Gvex95 commented on #9266
Yes, but if i don't have control over my subtitles, is there any hack i can do to make this happen?
Like i saw for https://github.com/google/ExoPlayer/issues/7516

If it is not possible, i think it would be nice feature to add, if u agree.

Thanks guys :)

[2021-08-09 08:06] icbaker commented on #9266
#7632 tracks implementing support for TTML's `tts:lineHeight` property. I suspect that implementing that will require modifying `Cue` to add some sort of `lineHeight` field, and then implementing support for it in [`WebViewSubtitleOutput`](https://github.com/google/ExoPlayer/blob/r2.14.2/library/ui/src/main/java/com/google/android/exoplayer2/ui/WebViewSubtitleOutput.java) and [`CanvasSubtitleOutpu

[2021-08-09 08:06] #9266 closed, assigned to icbaker

[2021-08-09 08:08] andrewlewis commented on #9269
Please see the [RTMP extension readme](https://github.com/google/ExoPlayer/blob/1ee5151/extensions/rtmp/README.md#using-the-extension). If you have added a dependency from your app onto the RTMP extension then load a URL starting `rtmp://` it should just work.

[2021-08-09 08:08] #9269 closed, assigned to andrewlewis

[2021-08-09 08:20] ojw28 commented on #5193
@abrarahmadraza - I think the problem is where you're doing:

[code]

the fourth argument is supposed to be a `DataSource` for requesting from upstream, rather than one that writes to the cache. If you look at what happens in that constructor ([here](https://github.com/google/ExoPlayer/blob/r2.14.2/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadManager.java#L234)), you'll

[2021-08-09 08:28] Gvex95 commented on #9266
Thanks @icbaker for such a detailed explanation. Have a great day :)

[2021-08-09 08:44] andrewlewis commented on #9263
The logging about exceeding the timeout looks like [internal: b/173106189] and #9256:

[code]

I didn't spot anything else that looked related in the bug report.

[2021-08-09 08:47] andrewlewis commented on #9267
Please could you share the ad tag and content you are playing, so we can try to reproduce the problem? If there's something you don't want to post publicly please email the bug report to dev.exoplayer@gmail.com with subject "Issue #9267".

[2021-08-09 09:05] ojw28 commented on #8952
Sending a pull request for this sounds good to me.

Note that you'll probably need to start passing a boolean down through `feedDataToExtractor -> prepareExtraction` to make sure that the relocated block of code doesn't get executed when `maybeLoadInitData` is called (i.e., you'd pass false from `maybeLoadInitData` and true from `loadMedia`).

[2021-08-09 09:47] andrewlewis commented on #8751
Sorry for the late reply. Without the ability to get bug report (or presumably even see logcat) from the device I don't think this is actionable for us.

You could try contacting the device manufacturer and getting them to help set up a way to access device logs, and see if they have any suggestions on resolving the difference in performance between playback using ExoPlayer vs MediaPlayer. One pos

[2021-08-09 09:47] #8751 closed, assigned to andrewlewis

[2021-08-09 09:58] esam00 opened #9271 "How to add Blur effect to ExoPlayer?"
Referring to this [question](https://github.com/google/ExoPlayer/issues/3286) I was wondering if this still the case that ExoPlayer doesn't support such effect?
Is there any way to achieve this behavior with Exployer ?
<img width="415" alt="Screen Shot 2021-08-09 at 11 36 01 AM" src="https://user-images.githubusercontent.com/17669557/128688559-99f63cac-8049-4a6e-bfc0-039e96b45700.png">

[2021-08-09 10:23] claincly commented on #9271
I don't think the situation has changed.

[2021-08-09 10:27] claincly commented on #9270
You can try using the playlist API, so instead of creating the DataSources yourself, you can simply add the `MediaItems`.

[This doc may come in handy.](https://exoplayer.dev/playlists.html)

[2021-08-09 10:38] ojw28 commented on #9271
Closing as a duplicate of https://github.com/google/ExoPlayer/issues/3286 because the advice there is still correct.

[2021-08-09 10:38] #9271 closed, assigned to ojw28

[2021-08-09 10:38] EugeneDubovikov commented on #9210
Video: H.265 HEVC

[2021-08-09 10:51] krottv commented on #6168
The issue still happens on version 2.14.2. very often if I play 2 videos at the same time with unusual dimensions.

[2021-08-09 12:23] icbaker commented on #8696
Adding some more info from some brief investigations, and responding to @cdongieux's request for additional workaround suggestions in https://github.com/google/ExoPlayer/issues/9250#issuecomment-892462112:

I experimented with a couple of hacks in `MediaCodecVideoRenderer` and found they both resolve this issue. We'd like to understand exactly what's going wrong inside the framework before submitt

[2021-08-09 12:27] andrewlewis commented on #9239
Maybe the AC3/E-AC3 decoders are listed as `MediaCodec`s rather than being advertised as supported encodings for `AudioTrack`?

[2021-08-09 13:33] Kolyall commented on #9265
3. `setSessionKeepaliveMs(C.TIME_UNSET)` no affect , The same result ~470-530ms for each item :
[code]

[2021-08-09 14:46] Shantibhushan95 opened #9272 "Exoplayer v2 plugin for Unity"
Any updates regarding the following reference?

_Originally posted by @andrewlewis in https://github.com/google/ExoPlayer/issues/3785#issuecomment-362545078_

[2021-08-09 14:49] andrewlewis commented on #9272
Unfortunately we never found time to the GVR extension and it isn't a priority at the moment.

[2021-08-09 14:49] #9272 closed, assigned to andrewlewis

[2021-08-09 15:13] icbaker commented on #9094
Closing due to inactivity

[2021-08-09 15:18] andrewlewis commented on #9248
Are you waiting until `onRenderedFirstFrame` before hiding the thumbnail view on top of the player, as per my previous comment? Skimming through the code I didn't see a reference to that callback. It looks like you are adding the player view to the layout only once it's ready, but I think you it should be fine to keep it visible in the layout before then but with the thumbnail view positioned on t

[2021-08-09 15:20] ojw28 commented on #1611
This will be addressed by `PlaybackException.errorCode` in 2.15.

[2021-08-09 15:20] #1611 closed, assigned to andrewlewis

[2021-08-09 15:25] #9252 closed, assigned to andrewlewis

[2021-08-09 16:30] christosts commented on #9175
Thank you for reporting this.

`PlaybackStats.getMeanAudioFormatBitrate()` returns -1 (=> C.LENGTH_UNSET) because the player cannot derive accurate audio bitrate information from the HLS playlist.

According to the [HLS spec](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-4.4.6.2), bitrate information can be derived from the `BANDWIDTH` attribute of the `EXT-X-STREAM-INF

[2021-08-09 16:30] #9175 closed, assigned to christosts

[2021-08-09 16:45] christosts commented on #5067
Closing issue as it has been marked fixed in  08fb7bd. The commit will be included in release 2.15.0

[2021-08-09 16:45] #5067 closed, assigned to tonihei

[2021-08-09 17:03] icbaker commented on #9204
If creating a minimal reproducible example is tricky, and you'd be willing to share an (un-minified) APK that reproduces the problem, we may be able to learn something by digging around inside that. You can upload this somewhere and send the link to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this

[2021-08-09 21:01] vinayaksoni commented on #9263
Couple of more observations:
-  When I play the big buck bunny rtsp stream (rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov), it plays fine but when it ends, it throws the same error logs.

- I am able to play the same vlc rtsp stream of local webcam via VideoView but not via exoplayer. I understand they might different underneath the hood but thought of letting you know.

With Be

[2021-08-09 21:03] user849651 commented on #9248
I did try using `onRenderedFirstFrame` before, but it made no effect on the flashing. I'll try as you suggested re: "you it should be fine to keep it visible in the layout before then but with the thumbnail view positioned on top (in terms of z-order), then hide the thumbnail view after onRenderedFirstFrame" and get back.

[2021-08-09 21:08] tomtaila-wesayhi opened #9273 "Questions regarding caching and possible bugs."
Hey ExoPlayer Team!

I have a couple of things I'd like to understand about caching that maybe you can help with.

Observation A:
Suppose I have a .m3u8 file for some HLS stream with url == `someUrl`
Now imagine I stream that .m3u8 file via `exoPlayer.prepare(someUrl)`.
When that's stored into my Cache and then I call `downloadIndex.getDownload(someUrl)` I will get `null` which means that  the Dow

[2021-08-09 21:15] dan-ryan commented on #9204
Thanks, I just haven't had the time to look at this again. Death in the family...
An APK might be easier for me, so I could look at sending that off first when I have time.

[2021-08-10 01:53] silo4 commented on #9270
@claincly Hi, thank you for you reply. But I think they are same in the bottom.
I have tried it like this:
`player.addMediaItem(MediaItem.fromUri(
        Uri.parse(filePath2)));
    player.addMediaItem(MediaItem.fromUri(
        Uri.parse(filePath3)));
    player.addMediaItem(MediaItem.fromUri(
        Uri.parse(filePath4)));`

and the question also exists.

[2021-08-10 02:09] silo4 commented on #9270
As what it says here [https://medium.com/google-exoplayer/exoplayer-2-x-mediasource-composition-6c285fcbca1f](url)
at the part "Seamlessly playing a sequence of videos". I tried using ConcatenatingMediaSource, and replace the ExtractorMediaSource with ProgressiveMediaSource.  It doesn't solve the question either.
The code is like below:

`DataSource.Factory factory = new DefaultDataSourceFactory(t

[2021-08-10 06:29] mohitchauhan opened #9274 "While Playing hls ad player.getCurrentPosition() return content progress resulting IMA fire ad completion event"
- reproduction steps :-
Seeking beyond ad cuepoint this happens very frequently

Logs:-

[code]

As per logs its return content progress and ad duration, IMA fire all media events back to back.

- ExoPlayer releaseVersion = '2.14.0'
- -releaseVersionCode = 2014000

[index(1).m3u8.zip](https://github.com/google/ExoPlayer/files/6959422/index.1.m3u8.zip)

- Android version : 11
- Android device Pixel

[2021-08-10 06:35] Colaman0 opened #9275 "On Android 10 users can swipe to remove MediaStyle notification"
I use the PlayerNotificationManager to create notification and call startForeground, if the notification bar is not fully expanded, I can swipe to remove the notification,
but when i expanded notification such as show the seekbar,  i can't  swipe to remove.

is seem like i can't use MediaStyle and set MediaSession at the same time

This is the problem I found on Android 10.

[2021-08-10 06:36] Kolyall commented on #9265
@icbaker could you please answer for detailed questions?

[2021-08-10 08:35] Manish-Github-86 opened #9276 "current download zise is zero when download is in pause state and app got killed"
[code]

This method I am using to get the current download.
When the download is in progress then we are getting the current download size > 0
But when we start the download, move it to the pause state and killed the app. This time the current download size is zero. we are not able to resume the download.

Please let me know, it there any other option to get the current download object after the a

[2021-08-10 09:43] claincly commented on #9276
I'm not exactly sure what are you asking, is it

_How to get the item being downloaded, while the app is killed?_

Not sure what your code snippet trying to convey?

[2021-08-10 09:47] claincly commented on #9264
You can now use a factory method to enable logging.

See be19624a204682bee73008ffafe09dad397b8a9a

[2021-08-10 09:58] andrewlewis commented on #9263
This indeed seems similar to #9256 -- it seems that under some circumstances the decoder throws if there is no interaction with it for a few seconds, and I understand that this can happen with RTSP streams because we detect end of stream via timing out (because there is no explicit signal).

@claincly Please could you look into this as part of documenting the feature gap compared to MediaPlayer's

[2021-08-10 10:12] brozikcz opened #9277 "ExoPlayer doesn't respect the specific profile of the HEVC codec"
It seems to be broken the detection of the current format with these changes in this ticket #8393 https://github.com/google/ExoPlayer/blob/80332f7f1be7f0ea59440b4888560d228f405789/library/common/src/main/java/com/google/android/exoplayer2/util/CodecSpecificDataUtil.java#L114
The detection worked well in 2.12.* but doesn't work in 2.14.* version.

The issue is the video with the hev1 profile is det

[2021-08-10 13:54] Yzuhou opened #9278 "Support for PCR unsynchronized"
Problem:
We are having an issue where exoplayer cant reproduce a stream with fluidity with a PCR unsynchronized.We have other platforms that can reproduce streams with this issue well. It would be a very useful feature for the exoplayer.

Thanks in advance.

Link to the [Stream](http://networkbroadcastqnap.ddns.net:880/share.cgi?ssid=0stNhHC)

[2021-08-10 14:53] claincly commented on #9278
Forgive my ignorance, can you be more specific? I searched "fluidity with a PCR unsynchronized" and all the results are about covid.

If possible, please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.

[2021-08-10 15:34] claincly commented on #9277
I am not sure if I understand correctly.

Are you playing HLS/DASH or a local file? I don't understand what "current format" means. please clarify, thanks!

[2021-08-10 17:36] jpark58 opened #9280 "How to delete simplecache safely?"
Thank you in advance.
I always appreciate help from this community.

I was just wondering what would be the most safe way to delete an instance of SimpleCache?
What I am trying to implement is to delete all cached contents before the app is destroyed.

I called `SimpleCache.delete(dir, exoDatabaseProvider)` in `onDestroy()`. I know the `onDestroy()` is not always called.(Please let me know if you

[2021-08-10 18:24] maxxxbar commented on #9264
I have the same problem. Logs looks like this.

[code]

[2021-08-10 21:31] claincly commented on #9264
@maxxxbar You see the error is caused by the line
[code]
In the last message (PLAY response).

In fact, the `url` field needs to be something like `rtsp://113.163.157.230:9717/rtsph2641080p/track1` instead of `track1`, as required by the spec.

I know VLC does play it, but we don't have the bandwidth to support all quirky servers for now.

What you can try: remove the check for the URL at `RtspTra

[2021-08-10 22:11] rrfrias commented on #8691
Thanks @nbennink, we were able to reproduce with the apk you shared. We are investigating with Qualcomm.

[2021-08-11 01:02] ronak2121 commented on #1574
@kevleyski ?

[2021-08-11 01:04] #9186 closed, assigned to Samrobbo

[2021-08-11 02:19] HyowonHwang opened #9282 "HLS - When A/V are demuxed and video is disabled, video segments are still downloaded"
# Question
I have tried to disable video renderer to cut down usage of network to play audio only mode.
However, while playing hls contents that audio and video are demuxed into separate streams, it keep loading video data, even though I disabled video renderer.
On the other hand, it works well without loading video data when playing DASH contents.

I am not sure whether this is a limitation of im

[2021-08-11 02:32] silo4 commented on #9270
After my testing, it occurs on Android 4.4. It plays gapless on other android version (7.1.2/6.0/9.0).
But I don't know what the difference is.

[2021-08-11 06:27] wangxuan217 opened #9283 "How to make two players instance play at the same time"
I have a requirement that two player instances can play two audio files with the same duration at the same time, and I can arbitrarily switch one of them to play and the other to mute, similar to the original accompaniment switching in a song, so this requires that the two instances must play synchronously.

[2021-08-11 07:11] kevleyski commented on #1574
Plan b was lots of presentation offset manipulation
I've moved on from interstitial support for now so not looking at this right now, but it's likely to come back on my plate :-)
Anyhow nothing to add today

[2021-08-11 07:56] claincly commented on #9282
I may miss some context here, but I think it maybe better to limit network usage in the data loading stage. That is, don't throttle data loading by disabling the renderers.

If you are trying to set a limit on how much data to "pre-load", you could use a custom load control.

https://github.com/google/ExoPlayer/blob/80332f7f1be7f0ea59440b4888560d228f405789/library/core/src/main/java/com/google/and

[2021-08-11 08:13] claincly commented on #9283
I don't think there's a way to keep two players in sync at the moment.

You can reference #2659 and #5316 for possible work-around to solve your problem.

[2021-08-11 08:22] icbaker commented on #9270
What devices are you using for these cases? It's likely related to device-specific decoder behaviour.

Can you provide the exact media you're using to reproduce the problem? Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-08-11 08:47] benlancaster opened #9284 "Offline DASH `StreamKey` mismatch between `DownloadHelper` and `DashMediaSource`"
I've noticed that there is a mismatch between the track groups advertised by `DownloadHelper`, and those advertised by `DashMediaSource`.

Consider a single-period DASH VOD stream with the following tracks, as advertised by `DownloadHelper`:

- Period 0
  - TrackGroup 0: video tracks (6 representations)
  - TrackGroup 1: `application/cea-708` (embedded)
  - TrackGroup 2: `audio/eac3` (1 representa

[2021-08-11 09:26] ojw28 commented on #9282
@claincly - The idea here is that if audio and video are demuxed into separate streams, disabling video should cause the video segments to not be downloaded (therefore reducing bandwidth if playing with only the audio renderer enabled). This is happening for DASH, but not for HLS.

I think it's likely to be a limitation of the implementation, but it's probably worth looking at whether we can remov

[2021-08-11 09:50] ojw28 commented on #9280
There is no hook for executing code when your app is about to be destroyed. Note also that `Activity.onDestroy` is called when a single activity is destroyed, not when your app process is destroyed.

That aside, using `SimpleCache.delete` is the correct way to delete the content that may have been persisted by a `SimpleCache`. When you call this method, you should ensure that you don't hold a refe

[2021-08-11 09:50] #9280 closed, assigned to ojw28

[2021-08-11 09:51] dhaval-devstree opened #9285 "No Audio track selection after adding ffmpeg extension"
Initially, I have implemented a track selection dialog, and it's working fine. Then I facing with the '.ac3' audio codec with no sound play so I have followed the FFMPEG extension steps and added an extension in my app. Using FFMPEG extension .ac3 codec audio working fine but track selection is not allowed.

I have debugged everything, I am getting 2 tracks in video information but it's not showin

[2021-08-11 09:52] HyowonHwang commented on #9282
@claincly  I do customization of it, too. But  I didn't mean it and don't want to download video chunks when video renderer is disabled to use audio mode. Thanks.

@ojw28  What you said is what I meant. Could you share if you have any update of what you said , please?

[2021-08-11 11:10] icbaker commented on #9270
Android 4.4 (KitKat) is pretty old at this point, with only ~4% of devices running it. If this doesn't repro on any newer devices then I'm afraid it's unlikely we'll be able to dedicate much time to investigating - especially as this isn't a playback failure/crash.

[2021-08-11 11:18] brozikcz commented on #9277
Eh, sorry.

Yes, we use the DASH for streaming and the issue is the wrong detection profile from HEVC bitstream because the detection has a hardcoded `hvc1` profile and we use the `hev1`.

`SimpleExoPlayer.getVideoFormat()` returns wrong `codec` in `Format` object because the information of codec is extracted from bitstream / chunk but the `SimpleExoPlayer.currentTrackSelections.all()` returns rig

[2021-08-11 11:19] icbaker commented on #9265
The license may be renewed without DownloadManager being aware. If we cached this value it would be hard/impossible to ensure it always remained correct/fresh. As an app you have more context about your license behaviour & refresh logic, so you're more likely to be able to cache it correctly.

-----

The app is responsible for setting the fields in `DownloadRequest`, so if the keySetId is ending u

[2021-08-11 14:58] krocard commented on #8891
Can you share your change? Additionally, I would still recommend trying option 2 if you have access to the device first as it is a quick way to make sure increasing the buffer indeed fixes your issue.

[2021-08-11 15:21] mobile-pablo opened #9286 "NFC payment stops player"
I am using exoplayer in foreground service

Link : https://github.com/polonez-byte-112/Altas-Notas
ExoPlayer version: 2.14.2
Phone : Xiaomi Redmi Note 10 pro
Android version : 11 RKQ1.200826.002

- I was playing songs in foreground when I pay in Shop by NFC.
- Music Player stopped

[2021-08-11 15:24] mobile-pablo opened #9287 "Messenger Audio incorrectly stop Exoplayer"
I am using exoplayer in foreground service

Link : https://github.com/polonez-byte-112/Altas-Notas
ExoPlayer version: 2.14.2
Phone : Xiaomi Redmi Note 10 pro
Android version : 11 RKQ1.200826.002

I tried to record audio when ExoPlayer stopped ( correctly) but View was showing like its still playing. I need to pause and replay to get back to that state

[2021-08-11 16:32] ened commented on #9256
@andrewlewis did you find out something, yet?

[2021-08-11 19:32] rbattaglin25 commented on #8891
I updated the project https://github.com/rbattaglin25/poc_exoplayer.git with these changes. You can help us trying option 2, we don't know how to make this.

[2021-08-11 22:29] morganch01 commented on #9137
Hi,

Following the above approach, I am reaching to a point that able to play the audio, but the audio is stuttering.

Observation:

From the log, I saw that after each time we called queueInputBuffer() with the decrypted buffer, we got the following decoder errors:

2021-08-11 14:28:00.627 1172-9898 W/C2SoftAacDec: aacDecoder_DecodeFrame decoderErr = 0x4006  // there are also 0x4002, 0x4004, 0x40

[2021-08-12 01:06] wangxuan217 commented on #9283
ok  thanks claincly, I tried to find a solution to the problem.

[2021-08-12 06:02] happyBoys92 opened #9288 "MediaCodecVideoRenderer error"
ExoPlayer 2.14.0
- Android version 9
- Android device Xiaomi MI PAD 4 PLUS Android 8.1.0, API 27
[code]

[2021-08-12 06:29] wangxuan217 commented on #6589
Can I switch between the video track and the audio track?

[2021-08-12 07:01] vinayaksoni commented on #9263
So for this bug, we should wait until #9256 is resolved?

Please provide a link to this feature gap document whenever available.

[2021-08-12 08:46] claincly commented on #9284
Before I assign this issue, can you provide a link to the media?

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to
indicate you've done this.

[2021-08-12 08:57] claincly commented on #9288
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-08-12 08:59] claincly commented on #9286
This problem sounds like related to the lifecycle management, and is not specific to ExoPlayer.

In general, if the player goes in background you need to release the player and create a new one when the app comes to the foreground again.

Best is to look into the lifecycle methods ot the PlayerActivity of the demo app. This is the approach which does it right on all API levels.

Please take a look

[2021-08-12 09:01] claincly commented on #9287
Are you saying the video starts playing after you start recording audio?

Please rephrase your question, like what is "view", what "state" you are getting back to.

[2021-08-12 09:13] claincly commented on #9286
If you are using [foreground service](https://exoplayer.dev/troubleshooting.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded) and expect the playback to continue while the app is in the background, it could also be a audio focus issue.

Could you share details on how you are handling audio focus? If maybe helpful if you grab a bug report or logcat after reproducing the issue.

[2021-08-12 09:25] mobile-pablo commented on #9287
I am saying that mp3 stops playing when I start recording audio in messenger but PlayerView doesnt show its stopped

[2021-08-12 11:02] kim-vde commented on #9238
ExoPlayer computes the duration from the Xing header ([code](https://github.com/google/ExoPlayer/blob/r2.15.0/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp3/Mp3Extractor.java#L415)) and this duration (2:37:41) doesn't match the one computed from the assumption that your content has constant bitrate (28:06:00, which is computed from the file size and the bitrate, as @ch

[2021-08-12 11:34] kim-vde commented on #9109
I am afraid not.

tsPayloadReaders.put(TS_PAT_PID, new SectionReader(new PatReader()));

Instead of doing that, you can probably just keep the PatReader in the tsPayloadReaders map instead of removing it when the PAT has been parsed.

[2021-08-12 11:57] Kolyall commented on #9265
@icbaker
4. Why when the method `OfflineLicenseHelper#getLicenseDurationRemainingSec` is called then music playback lags?

[2021-08-12 12:40] arvkmr opened #9289 "CacheException: attempt to write a readonly database (code 1032)"
The issue is very intermittent and cannot be reproduced reliably however when it does start happening it happens until the session is stopped. The player will fail to download all the following files because of this error.

- ExoPlayer version number : 2.13.1
- Android version: 7.0

Here's the error that I see in the logs.

[code]

The way I am managing my cache keys is fairly simple, I just use t

[2021-08-12 13:57] krocard commented on #8891
Option 2 is copying `DefaultAudioSink.java` in your POC and changing `MIN_BUFFER_DURATION_US`  to `500_000`.

I looked at the option 1, there are several issues:

https://github.com/rbattaglin25/poc_exoplayer/blob/9b5698875fb5df831908c3f483115697a4872d2f/app/src/main/java/com/ebatuque/poc_ebatuque_android/AudioServiceExoPlayer.java#L63
`forwardingAudioSink.configure(format, bufferSize, outputChann

[2021-08-12 14:26] krocard commented on #8891
Thinking more about it, given that we want ExoPlayer to be a seamless upgrade over MediaPlayer, and that customizing the BufferSize requires expert knowledge as well fragile code. I believe we should align ExoPlayer to MediaPlayer.
I have prepared the internal cl [cl/390364027] to make such transition. Nevertheless it might not be immediately merged at we need to check for regressions.

[2021-08-12 16:31] mobile-pablo commented on #9286
Here class where I handle focus
https://github.com/polonez-byte-112/Altas-Notas/blob/master/app/src/main/java/com/company/altasnotas/services/BackgroundService.java

[2021-08-12 19:48] user849651 commented on #9248
@andrewlewis

I've implemented the changes you suggested, but `onRenderedFirstFrame` is never being called, and I'm not sure why.

Here are my changes:

[code]

Why wouldn't `onRenderedFirstFrame` be called?

[2021-08-12 21:31] fourofspades opened #9290 "setHandleAudioBecomingNoisy(true) regression in 2.15.0"
Updated exoplayer to 2.15.0 and noticed audio continued to play when Bluetooth device disconnects.

Is this a know regression, or is there some code I need to change?

[2021-08-13 01:39] wangxuan217 commented on #9283
I think this [https://github.com/google/ExoPlayer/issues/6589](url) to what I need, but not clear how he controls the switching between the audio track and the video track.

[2021-08-13 02:46] wangxuan217 opened #9291 "MergingMediaSource causes the video to loop until the audio is finished"
I have two files, a video file and an audio file, and I play them mixed in the following way

[code]
The duration of the video file is 15 s, and the duration of the audio file is 47 s. Now, through the above method, the picture will stop after the video is played, while the audio can continue to play. I hope that the video can be played in a loop until the audio is played.I would like to ask the e

[2021-08-13 04:13] sruditsky opened #9292 "Why ExoPlayer targetSdkVersion is 28?"
ExoPlayer's constant.gradle contains:

appTargetSdkVersion = 29
targetSdkVersion = 28 // TODO: Bump once b/143232359 is resolved. Also fix TODOs in UtilTest.

What is b/143232359?
Is there any know issue of using ExoPlayer in applications with targetSdkVersion > 28?

[2021-08-13 05:32] songqianglu commented on #9168
@ojw28 Thankyou very much! Under your help the problem has been resolved, thank you !

[2021-08-13 05:32] #9168 closed, assigned to ojw28

[2021-08-13 06:55] icbaker commented on #9292
`targetSdkVersion` has been changed to 30 in the 2.15.0 release: https://github.com/google/ExoPlayer/commit/bb2e0bc0ef0d4f9055980118e46b0203951657a6

This is a google-internal issue tracker link - in this case the issue it links is public and the TODO probably should have referenced the public URL instead: https://issuetracker.google.com/143232359

[2021-08-13 06:55] #9292 closed, assigned to icbaker

[2021-08-13 07:03] icbaker commented on #9265
There isn't enough information to understand exactly what behaviour you're seeing and try and understand why it might be happening. Please provide a minimal reproducible example (details above).

[2021-08-13 07:04] #9265 closed, assigned to icbaker

[2021-08-13 07:35] andrewlewis commented on #9248
Please could you try removing `playerView.setVisibility(View.VISIBLE);` and `playerView.setVisibility(View.GONE);`, so the player view is always `VISIBLE`? If your thumbnail view is on top I don't think they will be needed as when you don't want to show the player view it's already got the thumbnail on top. I suspect the reason the callback isn't happening may be that the player is using an off-sc

[2021-08-13 08:31] claincly commented on #9290
@krocard Will this be related to the recent audio buffer change?

[2021-08-13 08:53] krocard commented on #9290
@claincly I'm not sure which audio buffer change you are referencing. The one I mentioned yesterday is far from merged.
To @Samrobbo who implemented the audio becoming noisy. Has there been any changes in 2.15.0?

[2021-08-13 10:18] androidGhost opened #9293 "Does ExoPlayer support transparent video playback? Is is possible to set different playback speeds by specifying a time interval?"
Thanks Reply！

[2021-08-13 10:31] Samrobbo commented on #9290
There hasn't been any changes to audio becoming noisy since implementation, based on the history of the `AudioBecomingNoisyManager`.

@fourofspades Can we get some more information on your usecase? Ideally filling out as much of the issue template as you can, which is found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

If you're unable to share bug rep

[2021-08-13 10:35] fourofspades commented on #9290
Just done some more testing, and it's working now.  Will monitor the issue
and report back. It may have been a one off, or I managed to click play
with phone on my pocket somehow.

On Fri, 13 Aug 2021, 11:32 Sam Robinson, ***@***.***> wrote:

[2021-08-13 10:52] liangqiujuan opened #9294 "one mpeg-ts file will drop many frames when play, maybe the extactor of it's audio has some issue"
Hi,
when playing the local file diver1.ts, we can see the duration is 14s, but the real playing time is about 8s. Many frames is dropped   and the log will print like this: "Unexpected audio track timestamp discontinuity: expected 3248000, got 3536000".
   Even when I use  extension-ffmpeg the problem is also exist.

The file diver1.ts has a audio track with  mimeType  audio/mpeg-L2 and has a vide

[2021-08-13 11:11] #9290 closed, assigned to Samrobbo

[2021-08-13 12:17] orcunkobal opened #9295 "AAC SBR Source Error"
Hi,

I work on this stream link; http://yayin.zazuradio.com:4850/listen.pls?sid=1

I get an error like;
`
E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:554)
        at android.os.Handler.dispatchMessage(Handler.java:102)
        at

[2021-08-13 13:25] AquilesCanta commented on #9285
Back to @claincly for assignment to someone from the ExoPlayer team with ownership over track selection.

[2021-08-13 13:27] AquilesCanta commented on #9285
Also, @dhaval-devstree, please fill the issue template. Specifically useful here:
- bugreport.
- sample media with which we can reproduce the issue.

Please look at the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) if you would like to learn how to obtain a bugreport or share media with us.

[2021-08-13 13:44] claincly commented on #9295
The first link works fine on my side:

I did curl to get the actual link: http://yayin.zazuradio.com:4850/stream

[code]

Can you try with the actual streaming link, rather than the link to get the playlist?

[2021-08-13 13:52] claincly commented on #9294
VLC is also showing the duration of 14s, maybe it's what's intended?

Did repro on my side. The track selection view:

[code]
@kim-vde Could you take a look at this, is it with TS extractor, etc?

[2021-08-13 13:55] claincly commented on #9291
Hi I will try to create a demo. But in the meantime, you could try

Put video multiple times in a concatenate media source, like

[code]

And merge the video and audio using a `MergingMediaSource`.

[2021-08-13 14:01] claincly commented on #9293
Please provide more context.

- Transparent video playback: do you mean by the alpha in HEVC?

The way to set playback speed is by using `Player.setPlaybackParameters()`. `PlaybackParameters` sets contains the field of playback speed to set.

[2021-08-13 14:06] icbaker commented on #9295
ExoPlayer doesn't support `.pls` files:
* https://github.com/google/ExoPlayer/issues/1947
* https://github.com/google/ExoPlayer/issues/2051

Extracting the underlying stream link as @claincly did above is the recommended approach.

[2021-08-13 14:48] androidGhost commented on #9293
Thanks for your reply, the question I want to talk about is the same as the one below
https://github.com/google/ExoPlayer/issues/7789

[2021-08-13 15:41] claincly commented on #9293
Please refer to that issue for updates then, it's being open means we haven't added such support.

Please see [this comment](https://github.com/google/ExoPlayer/issues/7789#issuecomment-875559263) for more info.

I am closing this for now.

[2021-08-13 15:41] #9293 closed, assigned to claincly

[2021-08-13 19:51] user849651 opened #9296 "Slow to seek for HLS videos"
I use HLS videos with ExoPlayer. Segments are broken down into 6 seconds each.

My app has a feed of videos (in a RecyclerView). I've set it up such that when a video stops, it saves the position in a map and the player gets detached. However, if the user scrolls back up to view that same video, when I call `exoPlayer.seekTo(position)`, it usually takes a second or two for the video to start playi

[2021-08-13 21:17] user849651 opened #9297 "Get current position of an HLS video"
Oversight on my part

[2021-08-13 21:20] #9297 closed, assigned to nobody

[2021-08-14 11:41] liangqiujuan commented on #9294
Hi claincly,
I add some log in TsExtractor.java and can see the log print:
 3489  3546 D TsExtractor: sniff-,startposCandidate:0
	Line 95: 08-13 10:09:08.133  3489  3546 D TsExtractor: seek,timestampAdjustersCount:1
	Line 96: 08-13 10:09:08.133  3489  3546 D TsExtractor: seek,position:0
	Line 97: 08-13 10:09:08.133  3489  3546 D TsExtractor: tsPayloadReaders posiontion:0
	Line 98: 08-13 10:09:08.1

[2021-08-14 14:42] Yacine-Benali commented on #6168
"Failed to initialize decoder: OMX.Exynos.avc.dec" still happens with the mentionned code

[2021-08-15 02:52] root-ansh opened #9298 "Caching for videos whose url has headers"
## Describe your question in detail.

I have video urls of following format :
[code]

every time i have to play the video, a 3rd party library provides me with urls like these with new values for the headers, such that those headers will authenticate fetch requests and only allow video streaming for some limited hours . the base of the url remains same , but header values change.

So my question i

[2021-08-15 08:13] craftcreative commented on #9210
Audio: opus

[2021-08-15 15:45] root-ansh commented on #9298
the code [here](https://github.com/google/ExoPlayer/issues/8153) helped me find solution to my problem. thanks for this awesome library!

[2021-08-15 15:45] #9298 closed, assigned to ojw28

[2021-08-15 17:31] qoo8888 opened #9299 "play wowza server .m3u8 dvr live sometime no show video, sound only , play this live .mpd ver no problem,"
NVIDIA SHIELD
Android version : 9
exoplayer  2.14.2

play wowza server .m3u8 dvr live sometime no show video, sound only ,  play this live .mpd ver no problem,

aaa m3u8 link:
exo >>  no video , aac sound ok
mxplayer >> video ok , sound ok
pc html5 player >> video ok , sound ok

aaa mpd link:
exo >> video ok, aac sound ok

check MediaCodecVideoRenderer is empty?
please help,thanks

com.google.andr

[2021-08-15 17:40] qoo8888 commented on #9299
I have send video link to email,thanks

[2021-08-15 20:32] ooyellow58 opened #9300 "Support for playing mts, m2ts format video"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2021-08-16 01:38] silo4 commented on #9270
@icbaker Thank you for your reply. It just exists on 4.4 by my testing.  I know it's old version.
I would close this.
At the end, could you give me some suggestions or directions if I want to investigate it to avoid the black gap.

[2021-08-16 01:38] #9270 closed, assigned to icbaker

[2021-08-16 02:02] wangxuan217 commented on #9291
sorry , This doesn't seem to work, so I'm now getting a black screen and no audio output.My code is

[code]

[2021-08-16 06:48] dhaval-devstree commented on #9285
@AquilesCanta Sorry for the unformatted report. I have updated the bug report as per the issues template please check and help me with that issues.

[2021-08-16 07:33] ashishgupta2510 opened #9301 "Video & Audio out of sync #intermittently"
We intermittently get the video & Audio out of sync issue while playing the long live streams. While the audio keeps playing but video gets frozen for few seconds then it starts playing again from the next segment. This issue is very intermittent and hard to reproduce. We checked few of the threads on the same kind of issues [#4559](https://github.com/google/ExoPlayer/issues/4559) & [#3829](https:

[2021-08-16 08:02] andrewlewis commented on #9198
If you play a 4K video in the ExoPlayer demo app on this device (ensuring the highest resolution is selected using the track selection UI, if needed) do you see 4K resolution for the `SurfaceView`? AFAIK one place to look is the 'Allocated buffers' section at the end of the `dumpsys` output. If not, does it make a difference if you set a [`preferredDisplayModeId`](https://developer.android.com/ref

[2021-08-16 08:25] adityaroutandroid opened #9302 "How to get Proper AdprogressInfo using Exoplayer extension of IMA"
How I will get ad player current position when ad is playing. Am able to get ad duration but am not getting ad current position means that how much second being played. Am working on custom ad controller using exoplayer ima extension,  so I required this information. Please help.

[2021-08-16 08:43] andrewlewis commented on #9249
This is being addressed on https://groups.google.com/g/ima-sdk/c/IpqFjlRHVnw.

[2021-08-16 11:15] pavelperc commented on #9002
We also got this crash. It is an android 11 bug, look here: https://stackoverflow.com/questions/66652819/getting-security-exception-while-trying-to-fetch-networkcapabilities-on-android

Here is stack trace:
[code]
ExoPlayer version: 2.12.2

Seems like you need to wrap this line into try catch:
https://github.com/google/ExoPlayer/blob/r2.15.0/library/core/src/main/java/com/google/android/exoplayer2

[2021-08-16 12:06] ojw28 commented on #9277
Am I right in thinking that this is purely a reporting issue? In other words, playback and all player functionality works fine, and the only thing that's wrong is that the `Format.codec` field is set to `hvc1.1.6.L120.90` when you expect it to be set to `hev1.1.6.L120.90`?

If it is just a reporting issue, could you clarify why this is important to you? My understanding is that they're essentially

[2021-08-16 12:06] ojw28 commented on #9273
`DownloadManager` is implemented on top of ExoPlayer's caching layer (i.e., if you download something using `DownloadManager`, it writes the media data into a `Cache`). However, if you cache media directly into the `Cache` underneath `DownloadManager`, it's not the case that `DownloadManager` will notice and update its state to indicate the content is downloaded. That's by design.

Note also that

[2021-08-16 12:10] ojw28 commented on #9287
If the messenger app is acquiring transient audio focus, then this is working as intended. If this is the case, the messenger app is indicating that it's only going to need audio focus for a limited period, and will allow the app that was interrupted to automatically resume playback once it's done. The user intention that audio should be playing therefore still applies, and this is reflected in th

[2021-08-16 12:12] mobile-pablo commented on #9287
I dont think You understand. Focus works but View doesnt update that its paused

[2021-08-16 12:17] ojw28 commented on #9287
I don't think anything I wrote is inconsistent with that. The audio app will stop playback when the messenger app requests audio focus (which I think is what you mean by "focus works), but because it's only a request for transient audio focus, the audio app expects that it'll be able to continue playback automatically after an expected short period during which the messenger app is holding transie

[2021-08-16 12:44] brozikcz commented on #9277
I'm not sure how much it's important. The original ticket https://github.com/google/ExoPlayer/issues/8393#issuecomment-750320522 says something of the wrong detection of format and then the player shows "black screen or distorted image".

And the next thing is adaptive video selections and I'm not sure if the switching is compared just with `mimeType` or using the `codec` for the detection of the

[2021-08-16 12:48] ojw28 commented on #9085
`cronet-embedded` is being updated again. 92.4515.131 was published recently:

https://maven.google.com/web/index.html?q=cronet#org.chromium.net:cronet-embedded:92.4515.131

Closing since the issue is now resolved. Thanks!

[2021-08-16 12:48] #9085 closed, assigned to ojw28

[2021-08-16 13:18] bulkinav commented on #9267
@andrewlewis VAST files and content URLs sent to email. Please check it.

[2021-08-16 13:24] mobile-pablo commented on #9287
Thanks for explaining. I think We can close this issue.

[2021-08-16 13:28] ojw28 commented on #9287
Thanks!

[2021-08-16 13:28] #9287 closed, assigned to claincly

[2021-08-16 13:32] ojw28 commented on #9277
Unless you're seeing an actual playback issue that you know is caused by this, I think we can close this as a known quirk. If you are seeing an actual issue, it should be easy to validate whether this is the true root cause simply by changing the hardcoded value and seeing if it resolves any issue that you're seeing. If it does, please provide concrete reproduction steps here. Alternatively, if yo

[2021-08-16 14:01] ravisaini1990 opened #9303 "How can we override getActionIndicesForCompactView() of PlayerNotificationManager.Builder"
Please suggest the way to override getActionIndicesForCompactView() of PlayerNotificationManager using the builder, since the earlier way to extends PlayerNotificationManager is deprecated now.
ExoPlayer Version : 2.14.1

[2021-08-16 16:15] jeffwconaway commented on #9284
I attached a bug report and sent that to dev.exoplayer@gmail.com. Hopefully this will help.

[2021-08-16 16:24] ojw28 commented on #9301
The issue you describe doesn't sound particularly related to the other issues that you've referenced (although as an aside: one of them did get a fix, but it was in 2.9.0, so you'll already have the fix in the version you're using).

Unfortunately, without clearer reproduction steps, I don't think there's really much that we can do to help here. It could equally well be a server-side issue with th

[2021-08-16 16:26] ojw28 commented on #9302
Just calling `getCurrentPosition` on the player should give you the playback position within the ad. If you're interested in the position within the content (i.e., the position from which playback of the content will resume after the ad has finished playing), then you can call `getContentPosition`.

[2021-08-16 16:28] ojw28 commented on #9300
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/1488. Closing as such. If this is not a duplicate, please clarify below by providing additional information. Thanks!

[2021-08-16 16:28] #9300 closed, assigned to ojw28

[2021-08-16 16:31] LukasHohlSCM commented on #9154
The issue is specific to Android 8.0. It was introduced with this commit:
https://android.googlesource.com/platform/frameworks/av/+/afb43f76821e6a63e17e6484289a40430ada6978

It was later solved with this commit (not clear if by accident or on purpose):
https://android.googlesource.com/platform/frameworks/av/+/002e413a5a7460a32790ed08408085a6062f4054

We will solve it by adding "'rotation-degrees"

[2021-08-16 18:17] kim-vde commented on #9294
The "Unexpected audio track timestamp discontinuity" error occurs when an audio sample duration does not match the timestamp of the next sample. Imagine you have an audio sample with timestamp 0 and duration 1 second. You would expect the next sample to have timestamp 1 second. The `DefaultAudioSink` compares the actual and expected timestamp value, and logs this error if the delta between these v

[2021-08-16 20:43] qoo8888 opened #9304 "How to set drm_scheme and drm_license_uri in intent startActivity"
HI
exoplayer 2.14.2

eg
 am start -a com.google.android.exoplayer.demo.action.VIEW \
    -d https://storage.googleapis.com/wvmedia/cenc/h264/tears/tears.mpd \
    --es drm_scheme widevine \
    --es drm_license_uri https://proxy.uat.widevine.com/proxy?video_id=GTS_SW_SECURE_CRYPTO&provider=widevine_test

Intent intent = new Intent(getApplicationContext(), PlayerActivity.class);
intent.setAction(Pl

[2021-08-16 22:19] ojw28 commented on #9304
I suggest taking a look at [this code in the demo app](https://github.com/google/ExoPlayer/blob/r2.15.0/demos/main/src/main/java/com/google/android/exoplayer2/demo/IntentUtil.java#L200). You can also take a look at https://exoplayer.dev/demo-application.html.

[2021-08-16 23:24] mengli1986 opened #9305 "Unable to play xHE-AAC with "none of the extractors available""
Hi,
 It appears that the exoplayer couldn't play certain xHE-AAC encoded file, while the quicktime on MAC OS has no problem in playback. I always get "none of the extractor available" error as attached. The mp4 file I am trying to play is [here](https://drive.google.com/file/d/1iWK-Udk00HNjwP7Th2_dEKpVPe5PVEfs/view?usp=sharing)
![238592425_4442202549181687_5382136929717041406_n](https://user-image

[2021-08-17 01:04] #9199 closed, assigned to Samrobbo

[2021-08-17 02:29] ianvillamia commented on #8473
Any fixes for flutter? still not able to find a fix

[2021-08-17 03:19] VeiZhang commented on #9296
Same issue, is there any solution?

[2021-08-17 03:22] Adamantcheese opened #9306 "WAV extractor never calls attached AnalyticsListener's onAudioDecoderInitialized"
An attached AnalyticsListener to an ExoPlayer instance with a WAV file as an audio source will never call onAudioDecoderInitialized, but will call onAudioEnabled followed by onAudioDisabled in the lifecycle of the instance. Any other audio source will call onAudioEnabled, onAudioDecoderInitialized, and onAudioDisabled in the lifecycle of the instance.

- ExoPlayer version number: 2:15.0, but also

[2021-08-17 09:32] vaibhav-sharechat commented on #9221
Hi @marcbaechinger any update on this one ?

[2021-08-17 09:34] ojw28 commented on #9305
The information in the screenshot suggests that you've customized ExoPlayer by injecting only `Mp4Extractor`. The attached file is fragmented MP4, and so `FragmentedMp4Extractor` is required to play it.

The [demo app](https://exoplayer.dev/demo-application.html), which can make use of any of the extractor implementations, uses a `FragmentedMp4Extractor` for this content and is able to play the st

[2021-08-17 09:34] #9305 closed, assigned to ojw28

[2021-08-17 10:51] ojw28 commented on #9306
If the file contains PCM audio data then the player doesn't need to instantiate a decoder. The audio can be fed directly from the source file to the `AudioTrack` for output in this case.

[2021-08-17 10:51] #9306 closed, assigned to ojw28

[2021-08-17 10:52] #9304 closed, assigned to ojw28

[2021-08-17 15:24] Gerdorald commented on #6943
I have the same ID 257 (0x101) with Ac3 in .ts and also deal with a undesired Codec ID (129, but I'm looking for 6). I'm interested in the solution to this so please prioritize

[2021-08-17 15:30] user849651 commented on #9296
Still haven't found one myself. Hoping some here can chime in.

[2021-08-17 15:35] brozikcz opened #9307 "Broken recognize of the initial type of network"
It seems to be broken with https://github.com/google/ExoPlayer/commit/f8727b5e875e4e8e7abe3bfebd2c101dd41541aa commit.

The initial network type is broken in `DefaultBandwidthMeter` because the value from `getNetworkType` is `C.NETWORK_TYPE_UNKNOWN` after the first call.

[code]

[2021-08-17 15:59] ojw28 commented on #9307
It's a little bit ambiguous whether this is broken or working as intended. In the new version the network type is initially `NETWORK_TYPE_UNKNOWN` because it's determined asynchronously. Once it's determined, `onNetworkTypeChanged` is called on any registered listeners. The reason for the change is to allow for disambiguation between 4G and 5G NSA, which I think either has to be asynchronous, or i

[2021-08-17 16:26] brozikcz commented on #9307
I see, I'll rewrite our bandwidth provider impl.

[2021-08-17 17:30] rohitgarg20 commented on #8473
Getting the same issue in react-native also
[code]

[2021-08-17 17:32] rohitgarg20 opened #9309 "exoplayer is not playing some of the videos in react-native as"
In react-native i am using react-native-video to play the videos. But some of the videos are not getting played.

[code]
I am getting this error. It is not playing in some of the devices. Any help would be helpful

[2021-08-17 17:42] Manish-Github-86 opened #9310 "Download feature test cases"
I have implemented download feature of exoplayer into my app.
Now I am looking for its 100% code coverage of download feature.
Is there any article or GitHub link, where exoplayer has written test cases for download feature?

[2021-08-17 21:34] ooyellow58 commented on #1488
Can not belive that a feature was raised in 2016 and still has no been solved.

[2021-08-18 10:03] CPDdev commented on #9256
Hi @andrewlewis is there any additional information that we could provide to help? Do you have any update on this issue please?

[2021-08-18 10:10] andrewlewis commented on #9256
Reply from codec framework team: "This happens if the app is queueing in incomplete access unit. MediaCodec requires queuing whole access units per buffer (actually, whole frames) - and then pauses."

I haven't had time to look into why there are incomplete frames being queued for this stream yet.

[2021-08-18 10:53] sixones commented on #9232
After more investigating, looks like this only happens on AVR's that only support 30, 25, 24Hz modes for RGB 4:4:4 8-bit or YCbCr 4:4:4 8-bit. On my Yamaha AVR, it's possible to switch between Mode 1: 4K at 60Hz / 50Hz and Mode 2: 4K at 30Hz / 25Hz / 24 Hz (details here: https://manual.yamaha.com/av/18/rxv685/en-US/366848907.html). Putting the AVR into Mode 1, and HEVC playback is perfect, switchi

[2021-08-18 12:02] ojw28 commented on #9310
This is not something we've done, sorry.

[2021-08-18 12:02] #9310 closed, assigned to ojw28

[2021-08-18 13:11] marcbaechinger commented on #9303
I think this is not possible with the current state of the `PlayerNotificationManager`. There is a single constructor that is private so if you want to subclass `PlayerNotificationManager` you can't call any super constructor at all.

We need to provide a fix for this which probably makes the constructor protected as a first step. Further the `PlayerNotificationManager.Builder` needs some changes

[2021-08-18 13:15] marcbaechinger commented on #9221
Not yet I'm afraid.

Can you let me know how many percent of your users are affected by this?

[2021-08-18 13:32] yinshengpan opened #9311 "The screen keeps black when playing video on some devices"
#### Environment
* Exoplayer version:2.14.1
* Rockchip Rk3288 Android 8.1.0
#### Question:
When playing video on RK3288 device, the screen is always black. The video is only 8s, but it does not stop after 8s. The video keeps playing on a black screen, and the callback of the getContentPosition method is longer than the video duration. How to solve this problem, thank you.

#### Log:
[code]

#### F

[2021-08-18 14:43] e-sonic commented on #9263
Any update?

[2021-08-18 14:45] vinayaksoni commented on #9263
Any update on this?

[2021-08-18 14:48] adityaroutandroid commented on #9302
thanks @ojw28. Its working as expected.

[2021-08-18 14:48] #9302 closed, assigned to ojw28

[2021-08-18 14:49] andrewlewis commented on #9267
Had a look at the email but I don't think I have the information needed to reproduce this. I was hoping to load your ad tag in the ExoPlayer demo app with your content, but the email has the ad tag attached (rather than a usable URL for it) and says "we’re using MediaItem playlists with .setClipEndPositionMs(0L), then start playing content from MediaItem with content’s url.", which I'm not sure ho

[2021-08-18 14:51] vinayaksoni commented on #9229
Is UDP support expected in exoplayer soon?

[2021-08-18 14:56] shashwatsingh87 commented on #9229
@claincly Hi, Request you to please address the issue mentioned in the modified subject title of this open issue

[2021-08-18 17:08] marcbaechinger commented on #9275
Are you sure you are seeing this on Android 10? I'm a bit confused, because I see this behavior on Android 11 (API 30) and greater only if I'm not mistaken. However, I think the behavior is working as intended and caused by a change how the framework handles media style notification with media session tokens.

Since Android 11 (API 30) the framework creates a carousel with a mini player in the not

[2021-08-18 17:25] marcbaechinger commented on #9268
That should work. Can you give me some more details like where you are looking at the notification? There is a compact view that does not show all the buttons, but when it is in full view it does show the next button for me without complaints.

Can you make sure that

- the notification is fully expanded
- you are having more than a single media item in the playlist

If this is the case you should

[2021-08-18 18:14] andrewlewis commented on #9263
Yes, although the cause of that bug seems to be that an incomplete access unit is queued to the codec, so it could be explained by the stream being invalid or a bug in how access units are being parsed in ExoPlayer. It will take more investigation to figure that out.

This is work in progress and internal-only at the moment I'm afraid.

[2021-08-18 18:24] andrewlewis commented on #9232
I tried to reproduce this using a Yamaha RX-V377 as the A/V receiver. The behavior was strangely intermittent! On the first few (3?) attempts, there were loads of dropped frames and audio kept underrunning then the decoder threw as reported here. Then I tried the exact same setup again (I didn't change modes on the A/V receiver) and this time audio played back fine and video was smooth. In all cas

[2021-08-18 18:38] andrewlewis commented on #9232
[Internal: b/197126165] has another bug report taken just after reproducing the issue.

[2021-08-18 20:02] Blatzar commented on #9296
I'm pretty sure it's re-requesting the video when the view is bound again which adds some startup time, hence try adding a player cache

I couldn't find any simple guide online for cache so I'd just recommend looking at

https://github.com/jmir1/aniyomi/blob/8047ea29aa3de090a7c135f039c6fb9907e1c5fb/app/src/main/java/eu/kanade/tachiyomi/ui/player/PlayerActivity.kt#L230

and following mediaSourceFac

[2021-08-18 21:54] morganch01 commented on #9137
The above solution works and we are able to complete the custom widevine L3 integration to app.
Thanks a lot for the suggestions and support.
Closing this ticket.

[2021-08-18 21:54] #9137 closed, assigned to rrfrias

[2021-08-19 00:33] dan-ryan commented on #9204
Issue solved. Some old files from Guava from way back (before Android Studio) were in our project sitting and not being used. I deleted the lot, and that solved it! I've recently taken over the project hence why I didn't know about the files.

[2021-08-19 00:33] #9204 closed, assigned to icbaker

[2021-08-19 00:39] acass91 opened #9312 "What to do if PTS Wraparound Logic Yields a Negative Value"
[REQUIRED] Searched documentation and issues

This may be related to issue #8220, but I am unsure if the timestamps in that issue were referring to unadjusted frame presentation timestamps.

[REQUIRED] Question

For context, I'm using ExoPlayer 2.11.1, but I've ported the latest version of TimestampAdjuster into my project; I think I've seen the following with the 2.11.1 version of TimestampAdjust

[2021-08-19 02:38] Colaman0 commented on #9275
Thanks for your answer , The notification does run as you said

[2021-08-19 02:39] #9275 closed, assigned to marcbaechinger

[2021-08-19 03:05] androaddict opened #9313 "How to find Cue points are available inside the m3u8 file using exoplayer?"
I am using latest Exoplayer version. We have live streaming URL (m3u8) it contains Original video as well as Ads. The URL is working fine without any problem, Ad also playing fine without any problem. But I want to print the log like ad started whenever ad stated and also ad end log whenever ad closed. Is it possible in latest Exoplayer version(2.14.2) to print the ads events?

[2021-08-19 05:17] ashishgupta2510 commented on #9301
Please confirm what additional information is required to reproduce this issue.

[2021-08-19 06:27] liangqiujuan commented on #9294
Hi，kim-vde
Thanks for your analysis.
can you have a solution of this issue?

[2021-08-19 07:02] Jaydipnathani commented on #9230
After using this my issue was resolve when I test in debug mode. But when I did App release, the issue started coming back to my user so the issue not resolve.

A version of ExoPlayer being used  2.14.1

I have an issue with ...
***Device Name:-***

**Samsung**

- Galaxy J1(2016)  -  Android : 5.1.1
- Galaxy A20 - Android : 11
- Galaxy A20e - Android : 11
- Galaxy J6+ - Android : 10
- Galaxy A10 -

[2021-08-19 07:09] Jaydipnathani opened #9314 "InitializationException: Decoder init failed"
https://github.com/google/ExoPlayer/issues/9230#issuecomment-901661806

Please reopen this issue.

[2021-08-19 07:17] andrewlewis commented on #9232
I've asked the relevant team to take a look and will update here if/when we learn more. Thanks.

[2021-08-19 09:10] sixones commented on #9232
Thanks for the update, odd that I saw it fix by changing the AVR mode, sounds like that was random and it might randomly work rather than to do the AVR mode.

[2021-08-19 09:24] #9285 closed, assigned to claincly

[2021-08-19 09:31] ojw28 commented on #9312
I don't really follow how you'd end up in this situation unless the timestamps in the source content are incorrect. Please could you share some content that reproduces the issue, if you want us to take a closer look?

[2021-08-19 09:37] ojw28 commented on #9313
How are the ads marked in the stream? If they're marked using in-stream ID3 metadata then you can register to receive this metadata with:

[code]

If the ads are marked in some other way, you'll need to provide more information for us to help. Thanks!

[2021-08-19 09:45] ojw28 commented on #9311
Is this specific to the Rockchip device? Could you share the problematic media file with us? Thanks.

[2021-08-19 09:49] ojw28 commented on #9301
We would need clearer reproduction steps as noted above.

[2021-08-19 10:28] #9314 closed, assigned to nobody

[2021-08-19 11:19] androaddict commented on #9313
Thanks for replay @ojw28

We insert ads through SSAI(Server side Ad Insertion)

above the URL is sample for Live streaming URL. It contains Original content as well as Ads. I need to print the something whenever ads started & ended.

[2021-08-19 12:04] orcunkobal commented on #9295
http://yayin.zazuradio.com:4850/stream : Is it playing the latest exoplayer ?  @claincly

[2021-08-19 12:08] ojw28 commented on #9313
I don't see any ID3 metadata in the stream.

It's necessary for a SSAI solution to put markers of some kind into the stream so that clients can identify which parts of the stream are ads (if an ad is inserted in a completely seamless way on the server-side, it's obviously not possible for a client to determine where the ad is). I think you'll need to ask whoever's implementing the SSAI what marker

[2021-08-19 12:11] yoobi opened #9315 "OkHttpDataSource.open Fatal Exception: java.lang.NoSuchMethodError"
- ExoPlayer version number: 1.15.0
- com.google.android.exoplayer:extension-okhttp:2.14.2
- Android version: 11 & 5.1
- Android device: Samsung

I'm using okhttp:2.14.2 because since 2.15.0 the minimum SDK version requirement from 16 to 21 and I still need to support SDK version 19 to 21.

I get the folllowing log from crashlytics:

[code]

I don't have much more information as what url/video caus

[2021-08-19 12:23] ojw28 commented on #9315
It's not valid to mix and match ExoPlayer modules with different versions. In other words, 2.14.2 of the OkHttp extension module is not compatible with 2.15.0 of the core module.

We no longer officially support OkHttp prior to API level 21. Note that from December, OkHttp will stop back-porting even critical fixes to their releases that support earlier API levels ([as noted here](https://square.g

[2021-08-19 12:28] yoobi commented on #9315
Okay I wasn't sure it was because exoplayer version mismatch, I'll try your method and if it gets too difficult to maintain I'll make a flavor of my APK that will use 2.14.2 for 19 to 21 and 2.15.0 for version 22 and more.

Thank you for your quick answer

[2021-08-19 12:32] androaddict commented on #9313
Okay fine@ojw28. I will look at once again. As per discussion if any ID3 Meta data available in this stream means we can able to track the ad events(like start and end) right ??

[2021-08-19 12:33] ojw28 commented on #9313
If ID3 metadata were inserted into the stream at the start and end of each ad, then yes.

[2021-08-19 12:45] patelakshay13890 opened #9316 "Error while implement RTMP"
I have to used both lib as below but I am getting error as shown in image...
  implementation 'com.google.android.exoplayer:exoplayer:2.15.0'
    implementation 'com.google.android.exoplayer:extension-rtmp:2.15.0'
Please Help me out with sample example for latest Exo RTMP lib ??

![image](https://user-images.githubusercontent.com/6092323/130070238-c048bb74-3833-4c97-b108-1189f94124e0.png)

[2021-08-19 12:48] androaddict commented on #9313
Okay @ojw28 Thanks for the your valuable support. We will check and update you. Thanks lot

[2021-08-19 12:57] nazdream commented on #8473
Same error here
[code]

[2021-08-19 13:15] claincly commented on #9295
The link's down.

[2021-08-19 13:39] lazarflorian opened #9317 "Cannot play some multiperiod mpd with tunneling enabled"
**Steps to reproduce**:

1. Attempt playback of a multiperiod MPD in the ExoPlayer demo app (e.g. media URI = "https://dash.akamaized.net/dash264/TestCasesIOP33/multiplePeriods/2/manifest_multiple_Periods_Add_Remove_AdaptationSet.mpd")

**Expected result**: the playback works

**Actual result**: the playback no longer works (only a black screen is displayed); the only way to start the playback is

[2021-08-19 14:22] vinayaksoni commented on #9263
Any further information is needed for debugging?

Ah ok.

[2021-08-19 14:57] kim-vde commented on #9154
Ah, the issue was in the framework then, not in the codec. Interesting. I don't think we can work around this in ExoPlayer unfortunately.

[2021-08-19 17:19] user849651 commented on #9296
Tried implementing a cache, but it _still_ seems to be buffering when seeking videos, not sure why. Anyone have any ideas?

Cache singleton class:

[code]

Media source factory class:

[code]

And I use it like this:

[code]

[2021-08-19 17:21] user849651 commented on #9248
@andrewlewis

That seems to have fixed the issue, thanks!

Now I'm experience buffering issues when seeking, with caching enabled however: #9296

[2021-08-19 17:21] #9248 closed, assigned to andrewlewis

[2021-08-20 09:23] yinshengpan commented on #9311
Yes, and only on Rockchip Rk3288 Android 8.1.0, there is no problem on Rockchip Rk3288 Android 5.1

https://user-images.githubusercontent.com/24631086/130211509-95a012f4-005f-4603-9cca-831332100daa.mp4

[2021-08-20 09:30] kim-vde commented on #9294
Hi,

I have investigated the issue a bit more and the problem comes from the fact that some audio packets do not have an associated PTS. I am working on a fix in ExoPlayer to handle this case. It should be pushed to the repo in the following days.

[2021-08-20 10:27] Yahui-Li opened #9319 "Avoid audible glitch when clipping and re-concatenating a single audio source"
It works perfect when play a single .m4a file with ProgressiveMediaSource. But it seems not sealmess when play the same audio file with ClippingMediaSource and ConcatenatingMediaSource. For example

[code]

then you will heard that an obvious pause(maybe glitch?, I'm not sure) between two period. It's easy to reproduce

[2021-08-20 10:53] andrewlewis commented on #9256
From what I can tell, the last buffer queued to the codec before the exception is thrown is actually complete. I've asked for more information on the internal bug and will update here when we learn more.

[2021-08-20 13:43] olgunkaya opened #9320 "Listening to Ad Events"
Hi,

In my application's iOS version I am listening to the events defined here https://developers.google.com/interactive-media-ads/docs/sdks/ios/client-side/reference/Enums/IMAAdEventType

Can I listen to the same event using exoplayer-ima extension in Android too ? if so can you point me to a page for implementing it on my app's android version too ?

[2021-08-20 15:25] andrewlewis commented on #9320
This looks the same as #8795. If that doesn't answer the question please provide some more information about what is needed.

[2021-08-20 15:25] #9320 closed, assigned to andrewlewis

[2021-08-20 16:01] dway123 commented on #9303
Just curious: What was the change that broke or deprecated the previous way to extend `PlayerNotificationMaager`?

[2021-08-20 16:18] marcbaechinger commented on #9303
We first added a builder and deprecated public constructors in favor of a single private constructor with [this commit](https://github.com/google/ExoPlayer/commit/63ae8f541738b43d0deb271a758c14b0961def58). Later, this [commit](https://github.com/google/ExoPlayer/commit/a264a0a04f58aecdec662ac3af64263fb022939a) removed the deprectated constructors, so only the private constructor was left which pre

[2021-08-21 12:27] Clement-Jean opened #9321 "How to improve/make work this Datasource for encrypted file"
Using the previous version of the HttpDataSource, I made this DataSource for encrypted video. But recently I keep having some problems like:

- When using seekTo to another window in ConcatenatingMediaSource, I have an error saying that none of the extractors match my media (I checked an my media is valid)
- When seeking to further than the loaded part of the video, I have the same error

here is

[2021-08-21 16:33] patelakshay13890 opened #9322 "Error While Using RTMP Extension"
![image](https://user-images.githubusercontent.com/6092323/130328636-65216fcb-cf8e-4a59-a3ad-ad080c895d2d.png)
I am getting this error while Using extension rtmp...
How can I resolve this issue ?

[2021-08-21 17:09] minzbox commented on #9322
Add jcenter() to your project gradle file

[2021-08-21 17:17] patelakshay13890 commented on #9322
And please can you provide me a sample link for the RTMP example ?

[2021-08-22 04:12] AleAmla987 opened #9323 "Manually specifying Range HTTP header"
Hi there! I am building an application with a list of ogg audios and they weigh about 30mb each, I would like to know how I can add the header Range to it so that it loads faster. How can I make the rest of the audio on my list also load a maximum of seconds so that when I go from one audio to another it plays immediately.

[2021-08-22 13:42] #9295 closed, assigned to claincly

[2021-08-22 14:59] viggy96 commented on #8435
I don't understand how this is a 'low priority'. Proper SSA/ASS subtitle support is crucial to a video player.

[2021-08-22 18:24] giladna commented on #9094
@icbaker

Actually we got the customer comment last Friday as per their diagnose the stream is served correctly

I will share the information in direct mail to the team and the urls as well

hence there VPN to ISRAEL has to be used.

I have tested the stream again on exo v2.15.0 and I can see the same behaviour.

please take a look and see maybe there is a point that has to be considered

PS.
the

[2021-08-22 21:04] giladna commented on #9094
@ojw28

when changing the code on exo demo app

with the code you gave for dash media

[code]

we get the following exception

[code]

What is the suggested code for DASH?

[2021-08-23 01:04] #9224 closed

[2021-08-23 03:06] happyBoys92 commented on #9288
Hello, a activity is playing 4K video, and then open a new activity on this activity to play 4K video, and it will prompt an payer error

[2021-08-23 03:26] #9315 closed, assigned to ojw28

[2021-08-23 06:48] maxxxbar commented on #9264
This remove the error, but it doesn't play

[2021-08-23 09:03] claincly commented on #9264
Could you share some log messages?

[2021-08-23 12:20] zchwyng commented on #6168
Also having this issue with react-native-video, which uses ExoPlayer.

[2021-08-23 12:59] icbaker commented on #9296
There are two main reasons that seeking might be slow.

1. If the seek point is outside the buffered content, then data has to be read from the source. The speed of this depends on the speed of the underlying source. If it's a network then that's likely to be your network speed, if it's a local file (including a cache hit inside CacheDataSource) then it's related to speed of your local file system

[2021-08-23 13:04] claincly commented on #9288
It'd be helpful if you provide a link to your 4k video, thanks!

[2021-08-23 13:13] icbaker commented on #9299
I can reproduce the problem you're seeing the link provided over email.

Your HLS master playlist only declares the audio codec in the `CODECS` attribute:
[code]

The media is TS content with audio & video muxed together. The video codec must be provided too. From the [HLS spec](https://datatracker.ietf.org/doc/html/draft-pantos-http-live-streaming#section-4.3.4.2):

I edited the master playlist t

[2021-08-23 13:13] #9299 closed, assigned to icbaker

[2021-08-23 13:14] icbaker commented on #9309
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2021-08-23 14:38] user849651 commented on #9296
@icbaker

Thanks for the writeup, I'll give those suggestions a try!

re: point number two, key frames, would adding more key frames help here as well? What would the downsides be?

[2021-08-23 14:47] icbaker commented on #9296
Not sure I quite understand this - adding more frequent key frames will **only** help with decoder-related slowness (2), not source/loading related slowness (1). The obvious downside is that your encoded video will be larger for no/minimal increase in visual quality, because key frames are larger than B and P frames. In the extreme case of making every frame a key frame your video would be incredi

[2021-08-23 15:41] lwld commented on #5771
The suggested method doesn't work any more in 2.15.0. Since the constructors have become private, the class can't be extended.

We have a customized notification with default and custom actions, with the available actions toggled on or off depending on the played stream (live, video on demand) and playback state (some streams have cue points, the cue point buttons are only visible if there is a cu

[2021-08-23 15:49] marcbaechinger commented on #5771
Thanks for reporting. You are right, that this was broken in 2.15.0.

There is a fix for this on dev-v2: https://github.com/google/ExoPlayer/commit/2f09ecef53bed88cf16ca259d44266ebe0388f97

[2021-08-23 16:06] icbaker commented on #9316
Duplicate of https://github.com/google/ExoPlayer/issues/9322

[2021-08-23 16:06] #9316 closed, assigned to icbaker

[2021-08-23 16:11] icbaker commented on #9322
I agree with @minzbox, it looks like you're missing `jcenter()` in the `allprojects.repositories` section of your project-level `build.gradle` file. RTMP is currently only distributed on jcenter - they're working on hosting it elsewhere before jcenter shuts down: https://github.com/ant-media/LibRtmp-Client-for-Android/issues/96

[2021-08-23 16:11] #9322 closed, assigned to icbaker

[2021-08-23 16:55] icbaker commented on #9319
I've reproduced this in the [demo app](https://exoplayer.dev/demo-application.html) and can hear a playback glitch. I used the following JSON (which gets coverted to a playlist of 2 MediaItems, and this ends up being handled very similarly to `ClippingMediaSource` and `ConcatenatingMediaSource`):

[code]

@krocard can you take a look at what's happening here?

[2021-08-23 17:29] icbaker commented on #9321
I'm afraid we don't have the bandwidth to manually review code on this issue tracker.

You may want to take a look at this comment about the choice of cipher: https://github.com/google/ExoPlayer/issues/7566#issuecomment-653499103 I'm not a crypto expert, but I think the CBC scheme you're using might have the 'bad' property of always needing to be decrypted from the beginning?

One thought: Is the

[2021-08-23 17:36] icbaker commented on #9323
I'm afraid I don't really understand what you're asking.

If you're talking about the [HTTP `Range`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Range) header then ExoPlayer's 3 official HTTP datasources will all add this header when requesting data from a non-zero start position. You shouldn't need to do anything. If you see this not happening then please provide clear repro instruc

[2021-08-23 17:39] AleAmla987 commented on #9323
I apologize, I am Spanish-speaking and my English is not very good. I am creating an audio book app and testing with postman I discovered that if I add Range byte = 0-500 in the header the response is almost immediate, I would like to know if this is possible to use in the player so that the audio plays faster.

[2021-08-23 20:26] JRFrampton opened #9324 "WebVTT cue positioning issue"
Question about the intended behavior of WebVTT `line` values. Using `SubtitleView` there is a constant [DEFAULT_BOTTOM_PADDING_FRACTION](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/SubtitleView.java#L89) which describes the default behavior of `Cue`s that have `Cue#line` set to `Cue#DIMEN_UNSET`. This would allow cues with no positi

[2021-08-24 00:17] tidux commented on #9142
This is currently breaking WebM playback in browsers on the Galaxy S21 line.

[2021-08-24 01:04] #9197 closed, assigned to marcbaechinger

[2021-08-24 06:28] Clement-Jean commented on #9321
After checking the issue you linked, I found solution to the problem. The problem was in fact the use of CBC scheme.

Thank you for help!

[2021-08-24 07:07] HyowonHwang commented on #9282
@christosts  Could you please let me know if there is any further investment for this?

[2021-08-24 08:43] icbaker commented on #9324
https://github.com/google/ExoPlayer/issues/7934#issuecomment-694063859 has more info on this deliberate change, as well as some suggestions for how you can make the subtitles appear higher on the screen.

[2021-08-24 08:43] #9324 closed, assigned to icbaker

[2021-08-24 11:18] icbaker commented on #9321
Glad you got it working :)

[2021-08-24 11:18] #9321 closed, assigned to icbaker

[2021-08-24 11:29] AshishAccedo opened #9325 "is there any way to get information from player about stream that its Widevine L1, L2 or L3 or Clear?"
We are having a multiple backend configured streams for Widevine (L1/L2/L3) and Clear types

but is there any way to find the stream info that stream is L1 configured stream ?

[code]

I checked the logs where able to get the chunk level, codec, resolutions level of logs but no information related to the Stream type. Hence this information can be validate from backend team but at front end level n

[2021-08-24 12:09] Proxwian commented on #9267
After enabling debugMode, logcat looks like (player stucks at buffering state as usual):

[code]

Maybe problem is in using mediaItem's playlists to add multiple ad prerolls, as I wrote in email. Code for creating playlists looks like:

[code]

Anyway, why content playback is stuck, even if ad tag is not compatible? How I can skip ads loading to play content video next in playlist?

[2021-08-24 13:07] androaddict opened #9326 "How to Parse my m3u8 file in exoplayer"
I have a m3u8 URL and its a Live Streaming. so it will update frequently. So that I want to parse my m3u8 content. Mainly I focus on Particular tag from m3u8 file. so how to parse my m3u8

[2021-08-24 13:08] icbaker commented on #9142
@tidux: I think there's possibly been a slight misunderstanding. This issue is marked low priority because it's tracking a change to ExoPlayer that **only** affects logging before a playback failure, it won't have an effect on whether playback succeeds or not (see #9103 for more details).

[2021-08-24 13:13] AleAmla987 opened #9327 "can i add a header?"
I would like to add this header
Range bytes = 0-500

The goal is to load the audio faster, is it possible?

[2021-08-24 13:19] icbaker commented on #9327
Duplicate of #9323

[2021-08-24 13:19] #9327 closed, assigned to icbaker

[2021-08-24 13:20] kirkaDev opened #9328 "Сlick on ads does not work on Android TV (IMA)"
Working with smartphones and tablets when

 method of  EventListener invoked everything works well, the browser opens and the desired web page opens.

 _But when I run the same code on the Android TV devices_ (emulator or real device), then nothing happens.

1. In debug mode, I see that the condition for the  "case CLICKED"  is satisfied and I can't understand what's the matter.

The only differen

[2021-08-24 13:50] Pentaphon commented on #9142
It absolutely keeps playback from succeeding. Webms affected by this issue DO NOT play at all and a toast error simply appears.

![123141615-6d660d00-d40d-11eb-9121-cd2a8898ca7a](https://user-images.githubusercontent.com/49374058/130628556-5a93306d-fae6-475c-bb6d-ff2363d5b250.png)

[2021-08-24 18:05] JRFrampton commented on #9324
Thanks Ian. I got it resolved.

[2021-08-24 22:25] Weevild commented on #8435
What's the latest update? And would this progress and (hopefully) final integration of ass work with the Nvidia Shield TV?

[2021-08-25 01:09] zgzong opened #9329 "After upgrade to exoplayer 2.13.3, live playback speed became to variant speed."
After upgrade to exoplayer 2.13.x onwards, the live playback speed became variant speed between range [0.97, 1.03], even for normal non-low latency live stream.

- URI to test content for reproduction
https://livesim.dashif.org/livesim/mup_30/testpic_2s/Manifest.mpd"

- ExoPlayer version number
Tested with 2.13.3

- Android version
android 11

- Android device
Samsung SM-P610

Since the 2.13.0, ex

[2021-08-25 01:42] ghost opened #9330 "Fatal Exception: java.lang.IllegalStateException: onPlayerError()"
Hello guys, sorry cuz my question placed in not valid region, but i really need help.
I was implements this lib: https://github.com/HamidrezaAmz/MagicalExoPlayer to play video in my app. It extended from our lib. And i have a crash issue: https://github.com/HamidrezaAmz/MagicalExoPlayer/issues/63
Anyone can help me, pls!

[2021-08-25 01:44] androaddict opened #9331 "How to avoid delay read. onTimelineChanged() read my m3u8 in delay"
I am using latest version of Exoplayer. The onTimelineChanged() read my m3u8 in delay (delayed by 1mints)

[code]

[2021-08-25 06:17] liulei9385 opened #9332 "ArrayIndexOutOfBoundsException due to invalid colr atom"
**I'm play a simple mp4 file and cause those error below:**

[code]

I debug the AtomParsers.java the line 1203 method cause the problem.
![1629871704(1)](https://user-images.githubusercontent.com/8167763/130735683-0d996042-f264-4c2c-a4dd-f71ba7037597.jpg)

when I change parent data's position that make method pass then I can play video successfully.
**Is there any good way to avoid mistakes**

Th

[2021-08-25 08:21] icbaker commented on #8435
The table in the [comment above](https://github.com/google/ExoPlayer/issues/8435#issuecomment-762449001) has the latest status (it's been updated with PRs merged since then).

I don't see any reason this wouldn't work on Nvidia Shield.

[2021-08-25 09:21] andj207 opened #9333 "Fatal Exception: java.lang.IllegalArgumentException Receiver not registered: q2.a$b$b@43f7836"
My app use exoplayer to play video downloaded from the internet. Firebase Crashlytics recently reports many crashes (on Xiaomi, Realme, motorola,...) as below. I am using exoplayer version 2.14.2.

    Fatal Exception: java.lang.IllegalArgumentException Receiver not registered: q2.a$b$b@43f7836

    android.app.LoadedApk.forgetReceiverDispatcher (LoadedApk.java:1433)
    android.app.ContextImpl.un

[2021-08-25 09:35] andrewlewis commented on #9333
Please report `androidx.media2.player` issues on the AndroidX issue tracker: https://source.android.com/setup/contribute/report-bugs

Slightly off-topic: I'd recommend switching to using ExoPlayer directly instead of using the media2's MediaPlayer.

[2021-08-25 09:35] #9333 closed, assigned to andrewlewis

[2021-08-25 10:11] kim-vde commented on #9294
I have just pushed a fix to dev-v2. It will be part of the next minor release.

I'll close the issue as your problem should be fixed. Please open a new one if you still encounter issues.

[2021-08-25 10:11] #9294 closed, assigned to kim-vde

[2021-08-25 10:53] icbaker commented on #9323
I think we need more information to understand the details of what you're trying to achieve.

Some possibly relevant points (apologies if any of these are obvious):
* ExoPlayer will start playing content as soon as it receives enough bytes. The exact number of bytes needed to start playback depends on the structure of the file, but generally this means receiving all the metadata at the top of the

[2021-08-25 10:54] icbaker commented on #9325
The widevine level is generally defined by the license policy, not the content (unlike the codec and the resolution).

Can you give some more information about what you're trying to do with this information?

[2021-08-25 10:57] icbaker commented on #9326
From https://github.com/google/ExoPlayer/issues/9331 it looks like you've found the manifest info you need? I'm going to close this - please reply here  if you still need help, providing some more information about exactly what you're trying to achieve. It would also be helpful to provide a link to a playlist that we can look at to understand what you're working with. Please either link it here or

[2021-08-25 10:57] #9326 closed, assigned to icbaker

[2021-08-25 10:58] icbaker commented on #9331
Please provide a link to a playlist that we can look at to understand what you're working with.

Please either link it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-08-25 11:08] icbaker commented on #9328
Looks like [that's expected](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/android-tv):

-----

This is the ExoPlayer issue tracker, and ExoPlayer is open source, so you should be able to look at the source code for anything that's in scope for this issue tracker :) This looks like a question about the IMA SDK (which the ExoPlayer IMA extension depends on) - I s

[2021-08-25 11:10] icbaker commented on #9329
You can customise this behaviour as explained here: https://exoplayer.dev/live-streaming.html#configuring-live-playback-parameters

[2021-08-25 11:12] icbaker commented on #9330
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2021-08-25 11:32] icbaker commented on #9332
I can play the attached video successfully on 2.14.2 and it crashes with the same stack trace on 2.15.0 so I agree this looks like a regression.

@kim-vde can you take a look?

[2021-08-25 11:35] icbaker commented on #9332
Also @AquilesCanta FYI as the author of https://github.com/google/ExoPlayer/commit/ddc047c235c9d5e2d6816acc743ad319f65f39ac where this stack trace seems to originate.

[2021-08-25 12:58] icbaker commented on #9142
I'm not disputing the videos with odd dimensions don't play with the `c2.android.vp8.decoder` codec - I agree with that. I'm saying that the changes covered by this issue won't change that. If we implement the enhancement suggested by this issue then playback of these videos will **still** fail with this codec. The only difference will be that the format will be logged as `format_supported=NO_EXCE

[2021-08-25 13:09] SudoDios opened #9334 "RTMP Play"
[code]

get error

[code]

[2021-08-25 13:18] icbaker commented on #9334
The stack trace suggests the media might be invalid.

We'll need access to the media to diagnose further. Please either post a publicly accessible link here or send it to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-08-25 14:33] tibor-leo-safar-accedo opened #9335 "Issue with EMSG delivery as per latest dashif.org specifications"
Actual situation:
-------------------------
There is a DASH stream packager where the delivery of EMSG (EIT) messages is implemented as per latest defined by dashif.org documentation. (Page 13 -> 6.2)
https://dashif.org/docs/EventTimedMetadataProcessing-v1.0.2.pdf
These messages are not dispatched/delivered to the message listeners.

Longer explanation:
-------------------------
23009-1 5th editio

[2021-08-25 14:51] zgzong opened #9336 "How to change exoplayer to make default live start from 3 segments ago."
Since 2.13.0, exoplayer start support low latency, that affect where to start live playback.

Currently exoplayer logic is checking following in order:
1. if user defined liveConfiguration.targetOffsetMs, use it
2. if stream manifest defined serviceDescription, use its "latency target" value
3. if stream manifest defined suggestedPresentationDelay, use it
4. if non-above, use exoplayer default fal

[2021-08-25 15:36] jacknyc opened #9337 "PreCache HLS MediaSource"
Goal: We're attempting to precache hls audio streams with the goal of faster initial playback upon selection of a single stream.

References: We've looked at the prior ExoPlayer references including: https://github.com/google/ExoPlayer/issues/7887 and https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e

Initial Attempt:
We initially tried using the CacheWriter approach and

[2021-08-25 16:23] icbaker commented on #9335
I think this is a duplicate of #9241

[2021-08-25 16:23] #9335 closed, assigned to icbaker

[2021-08-25 16:37] kirkaDev commented on #9328
Thank you very much for the clarification, Ian.
Now everything became clear to me.

[2021-08-25 16:37] #9328 closed, assigned to icbaker

[2021-08-25 19:30] szaboa commented on #8435
I plan to continue with the contributions on this, just haven't had too much free time lately. Is there any preferred priority regarding the styling features?

[2021-08-25 19:45] stevemayhew commented on #8312
Santiago (@AquilesCanta) we have one origin vendor that is dealing with live playback restart following transcoder outages in this fashion, basically:

Is logically the same as:

So it's more then informational, the window duration / timeline and the `Chunk.startTimeUs` would be affected if we wanted to support seeking in this situation.

Note, with SOCU implementations these "gaps" would be recor

[2021-08-25 20:02] sQu1rr opened #9338 "Question about TimelineQueueNavigator and PlaybackPreparer method argument deprecations"
I am using classes that inherit from `TimelineQueueNavigator` and `MediaSessionConnector.PlaybackPreparer` to control the media playback in my music service. I have based my implementation on the UAMP code. I recently noticed that the methods that use `ControlDispatcher` are showing deprecation warnings. I am not entirely sure how I need to change my code to avoid these methods/warnings. It looks

[2021-08-25 20:09] Pentaphon commented on #9103
Have you done this?  A lot of people are coming to the Exoplayer issues page and blaming Exoplayer, which should be reason enough to raise the issue with them ASAP, I think?

[2021-08-25 20:10] stevemayhew commented on #8312
Note, in the live case (where transcoder stops for example do to an outage), if the origin server generates GAP tags this would result in far better UX, eg.

1. DISCONTINUITY / PDT Solution &mdash; player would get a stuck playlist error and retry (that would take 2.5 * EXT-X-TARGETDURATION seconds of buffering state before it is reported.  This would continue to until transcode restarts
1. GAP so

[2021-08-25 20:11] Pentaphon commented on #9142
if the issue is with an AOSP codec, why is this happening on some phones but not others? Isn't that basic part of AOSP just taken by OEMs and used as is? I doubt an OEM would mess with Google's codec implementation if they want their customers to have a consistent experience.

[2021-08-25 21:44] SudoDios commented on #9334
I'm using [Node Media server](https://github.com/illuspas/Node-Media-Server).
I tested all the software that played rtmp and the stream was done.
But it has problems with exoplayer.
So the problem is not the source

[2021-08-26 01:04] #9228 closed, assigned to christosts

[2021-08-26 07:49] AshishAccedo commented on #9325
Well the stream is which is getting received to the box is of type L1 widevine, however we have nothing much to do with this information or nothing needs to be handled on basis of it, as its only required for the validation and display purpose as of now that whatever the settings has been imposed for a stream from backed (different company) are correct or not.

because we are testing with multiple

[2021-08-26 07:56] AshishAccedo opened #9339 "Stream jittering/stuttering issue throughout the playback"
Hi , We are observing a stuttering issue throughout the playback on exoplayer for a L1 widevine stream specs of **4k** streams are as below:

tracks [eventTime=1.96, mediaPos=910.99, window=0, period=0
2021-08-25 12:23:58.658 29717-29717/com.google.android.exoplayer2.demo D/EventLogger:   MediaCodecVideoRenderer [
2021-08-25 12:23:58.658 29717-29717/com.google.android.exoplayer2.demo D/EventLogger

[2021-08-26 08:07] androaddict opened #9340 "How to detect ads in HLS live streams"
I want to get the below details from M3U8 file
1,#EXTM3U
2.#EXT-X-VERSION:
3.#EXTINF
4.#EXT-X-DISCONTINUITY
5.#EXT-X-PROGRAM-DATE-TIME
6.#EXT-X-DATERANGE

so I need to get the above details from m3u8. so plan to pharsing. How to do that ? Any default function available for exoplayer ?

[2021-08-26 08:08] icbaker commented on #9339
Can you let us know:
* What devices you're seeing this on
* do any devices you've tried play the stream smoothly?

Please also provide us with media (and DRM license info) we can use to reproduce the issue.

Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this i

[2021-08-26 08:12] janakasud commented on #9094
@giladna,

can't we add the FLAG like this?

[code]

 Just by editing the _DefaultMediaSourceFactory_ in the Demo app instead of replacing with _ProgressiveMediaSource.Factory_.

[2021-08-26 08:25] giladna commented on #9094
@janakasud

thanks for your tip

I could reproduce the exact issue with the same media and with the following code
so seems it is not the root cause

[code]

I got this error in logcat

[code]

[2021-08-26 09:01] liangqiujuan commented on #9294
Thank you. It resolve the issue.

[2021-08-26 09:06] GouravSna opened #9341 "Behaviour of `getMinimumLoadableRetryCount` in `DefaultLoadErrorHandlingPolicy`"
ExoPlayerVersion: v2.15.0

I am trying to give retry count for the http calls which Exo is doing internally (Be it manifest, Chunk/Segment, DRM).
For that, I have my class which extends to `DefaultLoadErrorHandlingPolicy` and I am overriding `getMinimumLoadableRetryCount` in order to achieve it.

**Question:** I can see that when i pass count 2 then LoadError is coming 3 times and then it gives So

[2021-08-26 09:16] SudoDios commented on #9334
It worked and was healthy when I streamed it along with the video.
But when only audio was streamed, there was a problem without video.
How do I configure audio only?

[2021-08-26 09:20] janakasud commented on #9094
how can we "logged the size of each sample being output by FragmentedMp4Extractor, as well as whether it thinks it's a key frame or not." ?

[2021-08-26 09:35] icbaker commented on #9094
The size & flags for each sample are available here:
https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp4/FragmentedMp4Extractor.java#L1417

A sample is a key frame if `flags & C.BUFFER_FLAG_KEY_FRAME != 0`.

[2021-08-26 09:42] tibor-leo-safar-accedo commented on #9241
Hi @ojw28,
Let me ask if this bug (or maybe feature) is part of any short or long term roadmap? Thank you!

[2021-08-26 10:08] icbaker commented on #9334
The media may be invalid (per the relevant spec) and still playable with some media players. When media doesn't meet its spec the result when playing it is [undefined behaviour](https://en.wikipedia.org/wiki/Undefined_behavior), so it's expected that some players will play it and others may not. I'm not saying the media is definitely invalid, it may be valid and there may be a bug in ExoPlayer, bu

[2021-08-26 10:17] icbaker commented on #9103
This is tracked by [internal b/197831521]. I'll leave this open while I wait for a response.

[2021-08-26 10:18] AquilesCanta commented on #9332
Is it also worth branching a github issue or internal bug for the correct assignment of an error code (instead of `ERROR_CODE_IO_UNSPECIFIED`)?

[2021-08-26 10:28] androaddict commented on #5665
@AfanasievAnton
I am also looking for same thing. I want to detect the ads and get the ad start time & ad end time. How to do that ? did you fix that?

[2021-08-26 10:32] icbaker commented on #9142
I'm not aware of any phones that are able to successfully play the video from #9103 with the `c2.android.vp8.decoder`. Some devices have alternative VP8 decoders, and so are able to successfully play the video using those, but then crash when they are manually ignored. This is what I saw with a Pixel 3a XL - with no modifications it played successfully using the `c2.qti.vp8.decoder`, but modifying

[2021-08-26 10:37] icbaker commented on #9332
@AquilesCanta Filed [internal b/197832624].

[2021-08-26 10:40] AquilesCanta commented on #8312
Over to @christosts who's now maintaining HLS.

[2021-08-26 11:05] HaXxanParhar commented on #8473
I'm using Exoplayer and PlayerView and sometimes the video does not load and I get this error. I'm sharing this so it might be helpful in debugging. I'm also caching the videos.

Exoplayer version: 2.14
Device: Huawei Honor 7C
OS: Android 8.0.0
CPU: Qualcomm Snapdragon 450
Video is loading from the server

Here is the complete stacktrace:

`15:58:12.821 24658-25268/com.drudotstech.petsjoinapp E/Me

[2021-08-26 11:18] SudoDios commented on #9334
I did this, but the problem was not solved

[2021-08-26 11:21] icbaker commented on #9334
We need to be able to reproduce the problem to investigate further.

[2021-08-26 12:49] Yahui-Li commented on #9319
Any progress?

[2021-08-26 13:16] icbaker commented on #9325
Are you interested in the widevine level required by the license or the implementation actually being used by the device?

A license policy can only require L3 but a device can decide to use an L1 implementation to decrypt it (I think this is quite common).

The implementation actually being used can be determined by calling [`MediaDrm#getSecurityLevel()`](https://developer.android.com/reference/a

[2021-08-26 14:01] SudoDios commented on #9334
How to setup rtmp with udp transport ??

[2021-08-26 14:07] icbaker commented on #9334
Looks like RTMP-over-UDP is known as RTMFP: https://en.wikipedia.org/wiki/Real-Time_Media_Flow_Protocol#Difference_between_RTMP_and_RTMFP

And it looks like the LibRtmp-Client-for-Android that ExoPlayer's RTMP extension depends on has some references to `rtmfp`: https://github.com/ant-media/LibRtmp-Client-for-Android/search?q=rtmfp

I'd suggest trying an `rtmfp://` URI and seeing what happens. If

[2021-08-26 14:37] SudoDios commented on #9334
Thanks !

[2021-08-26 14:48] marcbaechinger commented on #9337
The `CacheWriter` can be used to fill the cache with data that is downloaded from the `dataSpec` you are passing to the the `CacheWriter` constructor. This is straightforward for progressive streams that consist of a single file only and hence has a single `dataSpec` only.  You can cap the downloaded data by building a `DataSpec` that has an `endPosition`.

With HLS or addaptive streams in general

[2021-08-26 16:00] HappySinha opened #9342 "Video Rendering and praying bugs"
When I playing video then facing this errors. Anyone can help me

Performing hot reload...
Syncing files to device CPH2213...
Reloaded 0 libraries in 644ms.
I/OplusFeedbackInfo(32666): [sendFPSInfo:L334] mInputBufCnt = 0 fps, mOutputBufCnt = 0 fps, mRenderFrameCnt = 0 fps
I/OplusFeedbackInfo(32666): [sendFPSInfo:L334] mInputBufCnt = 0 fps, mOutputBufCnt = 0 fps, mRenderFrameCnt = 0 fps
I/OplusFeed

[2021-08-26 16:08] icbaker commented on #9342
Hi! Please provide complete information as requested in the issue template.

None of the logcat snippet provided looks like it's coming from ExoPlayer.

The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, ple

[2021-08-26 17:07] hotstone1993 opened #9343 "Play audio and video at the same time. (However, post-processing must be possible in the AudioProcessor)"
Hi

Currently, we are using two exoplayer instances to play audio and video at the same time.
(This audio was extracted from the video and then processed by our solution.
So, Audio is 5.1 channels and video is stereo)
However, of course, if i repeat seek, play, and pause, the synchronization will gradually become out of sync.
Therefore, I want to play audio and video files with one Exoplayer Insta

[2021-08-26 17:12] icbaker commented on #9343
Have you tried using MergingMediaSource?

[2021-08-26 17:15] tidux commented on #9142
Would it be possible to mandate decoder fallback to handle broken
hardware decoders?  IIRC this is how mpv does it on desktop.

https://github.com/mpv-player/mpv/blob/master/video/decode/vd_lavc.c

[2021-08-26 17:21] kim-vde commented on #9338
It depends on how you are using the `ControlDispatcher`. My understanding is that you are overriding callback methods (like `QueueNavigator.onSkipToPrevious`). Please provide more information if that is not correct.

* If you are not using the `controlDispatcher` parameter in your callback implementation, then you don't need to do anything. These parameters will be removed in a future release.
* I

[2021-08-26 17:33] hotstone1993 commented on #9343
Thank you for quick response.
I use MergingMediaSource and it works perfectly.
(It didn't work when I used MergingMediaSource in the past, but I guess I was used it wrong then.)

[2021-08-26 17:33] #9343 closed, assigned to icbaker

[2021-08-26 17:59] sQu1rr commented on #9338
I am not using the argument indeed. So no action is required then. It will be removed in the future release. Correct? Thanks for the prompt reply and the explanation for the `ForwardingPlayer`!

[2021-08-26 19:37] stevemayhew commented on #8938
@christosts  I thought i-Frame only was excluded by [this logic](https://github.com/google/ExoPlayer/blob/1d36083e2543dd4be9e9e38a8f08bee2a3a3d3da/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java#L1885)?

We are using a TrackSelectionParameter, `setPreferredTrickPlayOnly()`  the idea is this would include/remove trick-play tracks and disable audio,

[2021-08-27 01:04] #9225 closed, assigned to kim-vde

[2021-08-27 01:04] #9223 closed, assigned to christosts

[2021-08-27 02:54] jacknyc commented on #9337
@marcbaechinger Thanks.  That's really good advice.  Any other recommendations on speeding startup times for hls audio streams when the streams are random, but only a small number exist (can't use concatenating in this case).  I'm thinking about experimenting with minimum buffer durations.  Thanks.

[2021-08-27 07:36] rossbeazley commented on #7654
thanks for doing this, much appreaciated 🎉

[2021-08-27 08:07] kim-vde commented on #9338
Yes, that's right (probably in the next major release or the one after).

[2021-08-27 08:08] sQu1rr commented on #9338
OK, thanks a lot, @kim-vde ! I'm closing the issue

[2021-08-27 08:08] #9338 closed, assigned to kim-vde

[2021-08-27 10:13] saurabharora90 opened #9344 "Playlist with Ads - Wrap Playlist with 1 Ads Source."
I have 3 `MediaItem`(s) in a playlist and I would like to wrap them with 1 Ad Playlist, i.e. the pre-roll plays before the first media item, the mid-rolls plays through the first, second and third media item and the end-roll plays at the end of the third media item.

I had a look at the [documentation](https://exoplayer.dev/ad-insertion.html), and found that:

This customisation didn't work for us

[2021-08-27 10:18] KazukiSugiyama107 commented on #8691
@rrfrias
Thank you for confirmation.
In the current situation, we are able to prevent the occurrence of errors on pixel terminals.
When I converted the video file distributed here, I was able to prevent the occurrence of the event.

[2021-08-27 10:24] penmatsa opened #9345 "Exoplayer unable to show preview with RTSP url with format “rtsp://ip:port”"
Using exoplayer to connect to my ip  camera with RTSP url of format rtsp://ip:port.

Getting URL ParserException.

Please provide RTSP url format's supported by exo-player

[2021-08-27 11:40] lwld commented on #5771
Great, thanks for the update!

[2021-08-27 12:13] icbaker commented on #9094
Thanks for the new content over email. I see the same symptoms as before with both the DASH and HLS streams provided:
* On a OnePlus AC2003 using `OMX.qcom.video.decoder.hevc`: Decoder artefacts when joining the livestream and also when switching tracks
* On a Pixel 5 using `c2.qti.hevc.decoder` playback fails with decoder errors.
  * Hacking the demo app to ignore this decoder forces it to use `c

[2021-08-27 12:28] claincly commented on #9345
Please provide a log of RTSP messages.

The easiest way is to use the `RtspMediaSource.Factory` method `setDebugLoggingEnabled()`

And any logs you have.

[2021-08-27 12:52] icbaker commented on #9094
When using the `c2.android.hevc.decoder` I see the following logging when switching tracks sometimes. It may be relevant, but doesn't seem to always appear, and doesn't always correlate with pixelation (sometimes the logging appears with no pixelation, sometimes neither, sometimes both):

[code]

I think `0x3df` resolves to `IHEVCD_VUI_PARAMS_NOT_FOUND`:
* https://cs.android.com/android/platform/s

[2021-08-27 14:12] icbaker commented on #9094
FWIW I don't see the same `error in getVuiParams` when playing a known-good HEVC DASH stream with `c2.android.hevc.decoder` (Demo app's "Clear DASH -> HD (MP4, H265)").

[2021-08-27 14:36] icbaker commented on #9344
Sounds like your experience matched the documentation, right?

----

I believe this is also expected. From the [`AdsMediaSource` javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/ads/AdsMediaSource.html):

----

The easiest way seems to be to just 3 different ad tags? One with pre-roll + mid-roll attached to the first item, another with only mid-rolls attached to th

[2021-08-27 15:06] icbaker commented on #9094
I remain fairly convinced that the source of these decoder artefacts is related to your media. We haven't received similar reports from any other content providers - so it's either that your media is configured in a valid, but esoteric, way that's incompatible with ExoPlayer or your media is invalid.

If you want to dig further into this I suggest you compare what info is being passed to SampleQue

[2021-08-27 17:55] saurabharora90 commented on #9344
Ah Yes. I should have phrased that better. The behaviour was as per the documentation.

Yes as well

Unfortunately that's not feasible for us due to internal limitations. We would need to work with only one ad tag (cross platform support, analytics, and other reasons). Any other thoughts on how that could be achieved?

[2021-08-27 18:00] saurabharora90 commented on #9344
Currently we have our own integration of IMA using a video view on top of Exoplayer. That solves our use case. The hope was to migrate to Exoplayer's implementation to get all the benefits that `AdsMediaSource` provides.

[2021-08-27 18:59] SreeniMannem opened #9346 "Shall we play any kind of rtsp url by using this ExoPlayer?"
HI Team, I am using this ExoPlayer and try to load and play Rtsp content from different sources. Some of the Rtsp urls are playing properly. But some of the Urls are not playing throwing me **"Source error"**.

If we generate Rtsp url form Rtsp url generator app and/or from other streaming engine portal, it will be working as expected.

But if we generate url from real IP Camera like **rtsp://192.

[2021-08-27 23:10] stevemayhew opened #9347 "seekTo(0) followed by a TrackSelection jumps back to live point."
## Steps To Reproduce

Add this code to the demo `PlayerActivity`:

[code]

Run it sending the intent to the player:

[code]

## Issue Analysis
The `MaskingMediaPeriod` forces position back to live start when TrackSelection is triggered following a seek to 0.
I believe this issue is related to issue #7975, specifically the code that handles changing the position, source [here](https://github.com/g

[2021-08-27 23:56] arvkmr commented on #9289
@ojw28 Is there any additional information needed?

[2021-08-28 09:02] javaboboApp opened #9348 "Exoplayer expiration token"
When using dash protocol during a live/vod event and using drm (widevine):

During live event , could player request the license several times in one session?, problem is if token is expired it will not be able to use it.

[2021-08-28 10:23] Empressia opened #9349 "OMX.qti.audio.decoder.flac fails to decode some valid FLAC bitstreams"
### Summary

When I play some flac files (flac files are converted from wav by flac ver1.3.2).
The following log will be output and stopped. (not always)

[code]

* Why do I often get this error? Or why does this error often not occur?
* How can I avoid stopping?
* Could you give me some tips to solve please?

------------

### Similar problem ?
https://github.com/google/ExoPlayer/issues/8261

You

[2021-08-28 12:48] Empressia commented on #9349
flac file -> 48,000Hz / 24bit / stereo

[2021-08-28 12:59] fourofspades commented on #9206
@marcbaechinger  Still hugely struggling with this, going round and round in circles.   The best place I got to, was this:

source of audio foreground service:

https://pastebin.com/rV2QcGeH

It's not ideal, I can't retain a notification when the player is paused, which means users can't play/pause from the notification, but it does at least fix the unresponsive play button.

It's also weird that

[2021-08-28 13:07] moneytoo opened #9350 "Outdated javadoc line about tunneled playback"
https://github.com/google/ExoPlayer/blob/r2.15.0/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java#L159 contains outdated information ("_...enabled by passing an audio session ID..._") about tunneled playback, since a95b2ebb1d3125a4899c0dfe4a830077271ebca0.

[2021-08-28 17:57] Colaman0 opened #9351 "skipPre or skipnext not working after i click to fast"
I use exoplayer and MediaCompat.

When i call skipToNext or skipToPrevious too fast ,  then it will not working.

First i call  skipToNext or skipToPrevious too fast, then i call skipToPrevious  but it doesn't change the music , it seek to 0 prgress. and sometimes skipToNext  also not working , it seem like exoplayer accept wrong action.

When i change the music position too fast ,it will bufferin

[2021-08-29 07:14] ag2s20150909 opened #9352 "How to use CronetDataSource.Factory as CacheDataSource.Factory's UpstreamDataSourceFactory"
How to use CronetDataSource.Factory as CacheDataSource.Factory's UpstreamDataSourceFactory

[2021-08-29 17:25] OmidID commented on #6168
I have the same issue here.
I working on a TV app (Leanback) that happens sometimes and I need to restart the TV. Sometimes problems will disappear with force stops.

[code]

[2021-08-29 18:10] mmalisz commented on #9264
Hi @claincly,
I've created a PR that is more of a workaround than a fix, but to avoid removing the tests, it checks if the server response is contains a pre-defined string.

I've covered the `track1` case, and my own, where the response is `trackID=1`.

https://github.com/google/ExoPlayer/pull/9353

[2021-08-30 00:41] ronak2121 commented on #8636
Hi @ojw28 are there any updates on this item?

[2021-08-30 01:04] #9244 closed, assigned to ojw28

[2021-08-30 05:00] giladna commented on #9094
@icbaker  Thanks for taking the time for investigating and explaining your findings.

I will take your suggestion and will try to do the comparison you have suggested.

10x

Gilad.

[2021-08-30 05:06] GouravSna commented on #9341
Hi @ojw28 , Can you please help me on this.

[2021-08-30 05:32] waqasyousafy opened #9354 "Black Screen Appear when press home button and then come back also in pip mode."
I press home button and then brows the app at front getting black screen on some of specific videos . Also when going to picture in picture mode or floating window mode also black screen for infite time .
please help me I haved wasted alot of time with stackoverflow and other solutions.

also i have attached a recorded video of issue with discription

https://user-images.githubusercontent.com/2234

[2021-08-30 11:23] cosmo321 commented on #8435
No preference on priority, really. Glad to hear it's not forgotten. :)

[2021-08-30 15:55] Yzuhou commented on #9278
Sorry for the delay.
The wikipedia definition of PCR (Program Clock Reference): The PCR is a synchronization information of the receiver's 27 MHz clock necessary for the decoding of video, audio and data. It is periodically included in the transport packages.
Here are the streams with the issue. so you can play it and understand whats happening.
[Stream 1](https://rb.gy/hsuys7)
[Stream 2](https://

[2021-08-30 17:15] cinohub opened #9356 "How do I play HLS stream which encrypted by AES-128"
I got the URL m3u8 which encrypted by AES - 128 example :

[code]
from this m3u8 file, I can get key, IV param. I think chuck .ts URL was encrypted also. However, I have no idea about AES - 128 encryption.

Could you guys please help me to play this file by Exoplayer on an Android device?

Thank you

[2021-08-30 18:22] stevemayhew commented on #9347
Also noticed...  The position discontinuity caused by the `MaskingMediaPeriod` here:

[code]

Is propagated all the way to EPII `handlePlaybackInfo()` but does not get reported to `Player.onPositionDiscontinuity()` because of logic introduced in this commit dc4148d5

@marcbaechinger is there something I've missed here?

[2021-08-30 19:32] SreeniMannem commented on #9210
Will ExoPlayer supports below formats?
Video: H.265
Audio: PCMA

if not, how to stream with these formats?

[2021-08-30 22:52] bcdarius commented on #8333
@marcbaechinger Do you have any further updates here? Thanks

[2021-08-31 00:52] ag2s20150909 commented on #9352
Fixed by add setDefaultRequestProperties to a custom CacheDataSource.Factory

[2021-08-31 00:52] #9352 closed, assigned to nobody

[2021-08-31 01:09] Tumbler0809 opened #9357 "How to record RTSP streaming video By exoplayer"
Before filing a feature request:
-----------------------

When filing a feature request:
-----------------------
I use exoplayer to play RTSP streaming video, but I need to record while playing. What should I do.

[2021-08-31 06:43] ursurya opened #9358 "Decoder issue while playing MidRoll Ads with Exoplayer 2.14 in Android11"
HI Team,

We are getting below error when tried to play Our DRM Widevine Stream Url with Midroll Ads in Exoplayer 2.14. Player is showing this error when about to play the First Midroll Ad. We are having only Midroll ads. We are using Vmap xml to play Ads. Observed this issue so far only in Android 11  . We tried playing our stream Url with Exoplayer sample app and got same issue .
Due to this iss

[2021-08-31 08:41] ybai001 opened #9359 "Is there a better way to handle this kind of special MPEG-4 file playback issue?"
We meet a special MPEG-4 file playback issue. ( We will provide test file via email dev.exoplayer@gmail.com.) This MPEG-4 file includes four tracks, which are
- One normal H.264 video track (v)
- One normal AAC audio track (a)
- One metadata track (Have the same timescale and sample duration as AAC track) (m1)
- Another metadata track (One sample only and it is located at the end of MPEG-4 file.)

[2021-08-31 08:59] ojw28 commented on #9356
If you've got a valid HLS stream that uses `EXT-X-KEY:METHOD=AES-128` then ExoPlayer should just be able to play it, without you doing anything special. If you're not able to play the stream, I'd suggest:

1. Checking to see whether the stream plays successfully using another player (e.g., in Safari / on iOS / VLC). If it doesn't, that's an indication that your stream is not valid, and you'll need

[2021-08-31 09:23] cinohub commented on #9356
Thank @ojw28 ,
I play on ExoPlayer with URL and get the log error.
"Source Error 404"
I think Exoplayer can not read my stream by URL which is encrypted by AES 128.
Do you have any examples of play hls encryption, please help me?
Thank you again!

[2021-08-31 09:30] ojw28 commented on #9356
Please follow the steps suggested above.

[2021-08-31 09:38] pratikK017 commented on #8945
Is there any update in this. Please let me know. Also we are using latest exo player version i.e. 2.14.1.

[2021-08-31 10:03] ojw28 commented on #9329
@christosts @marcbaechinger - Could we reconsider the decision to enable variable playback speed for non-LL streams? I still don't think it's really expected, in general.

[2021-08-31 10:15] marcbaechinger commented on #8333
@bcdarius Can you let me know with which Google Search App on Android you tested with on which you see the problem? It should be fixed since version 12.18.6.

[2021-08-31 10:42] TimchenKKBOX opened #9360 "EXOPlayer can not play two widevine contents simultaneously"
✅  Ask general Android development questions on Stack Overflow
The same question [here](https://stackoverflow.com/questions/68725641/exoplayer-black-screen-when-playing-multiple-videos-at-the-same-time)

✅   https://github.com/google/ExoPlayer/issues?q=is%3Aissue
We did not find the same question

✅   Consult our developer website (https://exoplayer.dev/) and Javadoc
  (https://exoplayer.dev/doc/r

[2021-08-31 11:14] ojw28 commented on #9341
As per the documentation, `getMinimumLoadableRetryCount` returns a _minimum_ number of retries. The player may make more retry attempts than this. This approach is generally useful to allow the player to continue making additional retries for errors that may be recoverable, for as long as it's able to play out media that it had already buffered.

If you want to impose a maximum limit then I think

[2021-08-31 11:17] ojw28 commented on #8333
I think we can close this as fixed. However, please respond here if you still see the issue when using versions of the Google Search App that should have included the fix (i.e., >= 12.18.6).

[2021-08-31 11:17] #8333 closed, assigned to marcbaechinger

[2021-08-31 11:24] GouravSna commented on #9341
Sure. Thanks @ojw28
I will try it.

[2021-08-31 11:25] ojw28 commented on #9357
ExoPlayer is a playback library. I'm afraid we do not support recording use cases.

[2021-08-31 11:25] #9357 closed, assigned to ojw28

[2021-08-31 11:29] giladna commented on #9094
@icbaker

Regarding the  c2.android.* decoder.

Could you tell why this is happening there and how to workaround this without hacking the code? should we open issue for Android Platform?

If I apply the below code then I have the playback working (though audio is not playing the c2.android audio decoder seems  not to be working on my Pixel1/android 10 and there is only one decoder coming from Medi

[2021-08-31 11:37] TuanGiang opened #9361 "Green screen after changing device rotation"
Device: Chromecast with Google TV
Android OS:  Android TV 10.
Issue: widevine video turn to green after changing device rotation to portrait (landscape is OK)
Exoplayer version: 2.14.1
App: Exoplay-demo
Media: widevine secure media in media.exolist.json. Example:
 {
        "name": "HD (cenc)",
        "uri": "https://storage.googleapis.com/wvmedia/cenc/hevc/tears/tears.mpd",
        "drm_scheme":

[2021-08-31 12:56] olgunkaya opened #9362 "Unable to find old versions"
Hi,

I am trying to maintain a react-native project which has exoplayer dependency of 2.11.4 I tried some repositories in my build.gradle file but could not make it to find the required version.

in maven central there are only versions of 2.13.x, 2.14.x and 2.15.x. I tried jcenter ( https://dl.bintray.com/google/exoplayer/ )but it is also forbidden. How can I find this required version for my app

[2021-08-31 13:03] marklynk opened #9363 "Player event when rendered bitrate changes"
Hello,

Is there an event I can hook into to determine when the currently rendered bitrate changes? I saw you can calculate average bitrate
[code]
but did not find something for the current rendered bitrate. Thanks!

[2021-08-31 13:59] gemiren opened #9364 "M3u8 live streaming error: PlaylistStuckException"
I was trying to play a m3u8 URL (https://stream.ginnet.cloud/live0130lo-yfyo/_definst_/fm/playlist.m3u8) but not able to play for more than 30 seconds. It throws the following error:
[code]

[2021-08-31 14:13] marcbaechinger commented on #9351
Difficult to tell from your description alone. I assume you are using `MediaControllerCompat.TransportControll` to send your commands.

If you want to help me to look into this then I need some more information. The best thing would be the following:

1) Add `EventLogger` to the player with `player.setEventListener` (see [DevGuide](https://exoplayer.dev/listening-to-player-events.html#using-eventl

[2021-08-31 14:59] Weevild commented on #8435
It works but when using home media services such as Plex a transcode is always guaranteed, I'd assume this is because ASS isn't fully supported. Plex could probably do something about this at their end but that doesn't seem like an active inquiry.

[2021-08-31 15:02] penmatsa commented on #9345
Sorry for duplicate question.Need to resolve same issue as #9346.

Thank You

[2021-08-31 15:08] Colaman0 commented on #9351
Thanks for you reply.

1. If i change music position too fast ,such as click the seekbar too fast, it will buffer long time .  i don't know how to fix it.

2. I have been resolve the skip problem,  when i use DefaultControlDispatcher in exoplayer, it will check the position when i call  skipPre/Nextfunction. So i override function and call seekTo(0) before skipPre/Next function.