[2019-08-16 10:34] brozikcz commented on #5887
Hi,

we have the same issues on many devices but we cannot reproduce the issue in our QA.
The logs are from Google Play console. We use the 2.9.6 version of ExoPlayer.

`"main" tid=1 Waiting
"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x769ceb30 self=0x7477815c00
  | sysTid=12726 nice=-10 cgrp=default sched=0/0 handle=0x74fe065548
  | state=S schedstat=( 1259071897

[2019-08-16 10:44] AquilesCanta commented on #6276
I am sorry but I have close to no context to help you solve the issue.

Depending on your options and the type of media you are trying to play, I would consider caching an option. Try your luck in StackOverflow, or look for similar questions in this issue tracker and try to contact the OP. Measuring the bottleneck and optimizing that step is always an option, of course.

[2019-08-16 10:58] 3-BodyCoding commented on #6302
@tonihei I've seen the new API documentation. I think the new exoplayer playlist API is better than the current API. Now, using exoPlayer.prepare(ConcatenatingMediaSource), it's not a good idea to change the ConcatenatingMediaSource.
When is the new Api version updated? Thank you

[2019-08-16 11:19] tonihei commented on #6302
The update should happen as part of the next major release (2.11.0), but we don;t have exact dates yet.

[2019-08-16 13:42] shubhamvashisht opened #6305 "How to keep the minimumBufferMs short initially and later increase it"
How to keep the minimumBufferMs short initially so that track starts playing immediately and increase it later so that we have enough data in buffer to play if connection gets lost.

[2019-08-16 13:47] shubhamvashisht opened #6306 "How to check if chunkless preparation is enabled."
i looked in docs but could not find.
How to check whether the chunkless preparation is happening after setting ```allowChunklessPreparation()``` to true.

[2019-08-16 14:20] AquilesCanta commented on #6306
Assuming you are setting allowChunklessPreparation to true, chunkless preparation will occur if, and only if, the CODECS attribute in EXT-X-STREAM-INF tags is present.

There is no straightforward way of checking. If you really want to programmatically know whether chunkless preparation is happening, you can:
- Inject a custom HlsDataSourceFactory so as to inject a custom DataSource for C.DATA_TYP

[2019-08-16 14:20] #6306 closed, assigned to AquilesCanta

[2019-08-16 16:02] AlphaCircle commented on #6276
Hello AquilesCanta
Thanks for your interest in my issue, again and sorry to disturb you with an irrelevant question.  Anyway, it looks to me that the request of Range(Partial Content) of Http protocol is hard to do without re-connection due to the characteristics of "stateless" of Http.

Anyway, let me keep researching for the answer. Thanks again.

[2019-08-16 16:07] fgl27 commented on #6305
try to understand how [DefaultLoadControl](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html#DefaultLoadControl-com.google.android.exoplayer2.upstream.DefaultAllocator-int-int-int-int-int-int-boolean-int-boolean-) and [setBufferDurationsMs](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.Builder.html#setBufferDurationsMs-

[2019-08-16 22:09] shubhamvashisht commented on #6305
@fgl27 is there any obvious drawback of setting ```bufferForPlaybackMs``` lower , say 500(ms)?

[2019-08-16 23:21] fgl27 commented on #6305
Is something you need to test, depends on what you wanna to play and how reliable is the connection to it.

I have tested lower values and I don't see a noticeable difference from 100 to 1000 in relation to how fast it starts.

But I do notice a problem when it doesn't work when the buffer is to low, as the buffer is so small it may loop doing this when you first start playing something... Bufferi

[2019-08-17 01:00] #6228 closed, assigned to ojw28

[2019-08-17 03:28] nguyennhi263 opened #6307 "An audio bug occurred with really loud scratching noise when change speed"
I've managed to use SimpleExoPlayer to play HLS streams successfully and implemented a working way of selecting different playback speeds (1.25x, 1.5x, etc) by setting PlaybackParameters on the player. But in sometime, the sound scratch like a noise.
It's work fine with version r-2.8.3

[2019-08-17 07:02] shubhamvashisht commented on #6305
@fgl27 thank you for the quick response. it helped.

[2019-08-17 07:02] #6305 closed, assigned to nobody

[2019-08-17 08:33] sureshcnvidia commented on #5096
Well HDR mode comes everytime with latest (or even Exo v2.9.3) with below command:
adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d file://<file path> and it works all the time.

Am unsure what is the issue still. If possible please share more details and we would look into it.

[2019-08-17 10:32] rinav commented on #6295
Can we have a simpler sample for only downloads/offline caching with the recent changes in 2.10.4.
The documentation is not sufficient as it does not match with the sample demo app.

Also if there would be a official video or an article on this topic would be very helpful; similar to io18 demo (but now its deprecated) [IO2018 Demo](https://www.youtube.com/watch?v=svdq1BWl4r8&t=1175s)

[2019-08-18 00:14] ebr11 commented on #5096
Sorry I forgot to come back and update this.  The problem is that none of the surfaces behind the video can have a background color.  If it does, HDR will not trigger.  Once we removed all backgrounds, the fix works.

Thanks.

[2019-08-18 12:05] amjadmasri opened #6308 "ImaAdsLoader null pointer at ImaAdsLoader.stop when trying to call Player.removeListener"
### [REQUIRED] Issue description
on crashlytics an increasingly large number of the following exception are popping up

[code]

the code for stopping and destroying is as follows :
[code]

### [REQUIRED] Reproduction steps
it is unclear when and why the issue occurs so can't be reproduced by us for now
but it is normal behavior in our app to pause the player activity then show another activity
the

[2019-08-18 13:57] chaangliu opened #6309 "how to do range request?"
Hi, this question may be silly, I wanna ask how to do range request while loading an .mp4 video from server? Meaning that when start playing I only want to load a small part of the video and will load more when reaching the unloaded part, like youtube. I googled and searched the issues but did not find out a solution.
![image](https://user-images.githubusercontent.com/6789406/63225389-dec94900-c20

[2019-08-18 18:09] noamtamim commented on #5978
@ojw28 is this something you're currently working on? We're looking to move from our current download solution to ExoPlayer's built-in, and this is a serious blocker.

[2019-08-18 20:16] umangsaini commented on #6309
Please look at the [Customization](https://exoplayer.dev/customization.html) options for [Progressive](https://exoplayer.dev/progressive.html) playback in developer documentation.

You may customize parameters of Allocator used by **LoadControl** to set required buffering parameters. DefaultLoadControl has DEFAULT_MAX_BUFFER_MS set to 30000 i.e. maximum 30 seconds is buffered currently. Open Big B

[2019-08-19 03:56] chaangliu commented on #6309
this is exactly what I want; thank you for your kind reply!

[2019-08-19 03:56] #6309 closed, assigned to nobody

[2019-08-19 07:01] shubhamvashisht opened #6310 "hls stream has higher playback start time than progressive. Served from same CDN"
### [REQUIRED] Searched documentation and issues
I looked at stackoverflow for explainations, some blogs etc.

### [REQUIRED] Question
I have a hls stream (Audio) served from amazon cloudfront cdn, and same audio as .mp3 served from same cdn. In client side, exoplayer seem to take more time for HLS stream to start than the regular stream (mp3).
is this an expected scenario?
the difference in playb

[2019-08-19 08:13] andrewlewis commented on #6308
Looks like this happens if the ads loader's player is set to null before before `AdsLoader.start` runs on the main thread.

Update: actually this shouldn't be possible due to posting the start/stop runnables being serialized. I will investigate further.

[2019-08-19 08:39] tonihei commented on #5978
Unfortunately no progress yet. But acknowledged the renewed interest and we should probably take a look soon.

[2019-08-19 08:51] GouravSna opened #6311 "Audio/Video is not sync if Audio codec is EAC-3 on TCL Parcee Android TV with Amazon Fire Stick"
Again referring to the same issue https://github.com/google/ExoPlayer/issues/6213; so if the audio track will under run if we decrease the buffer size and eventually we will not be able to play the Dolby track then it is an issue which needs to be fixed. Right ?

[2019-08-19 08:56] andrewlewis commented on #6308
@amjadmasri It's not obvious how this can happen because it looks like `ImaAdsLoader.stop` would need to be called twice without a call to `ImaAdsLoader.start`. The other assignment of `ImaAdsLoader.player` in `start` has a null check.

Please could you check that the app isn't calling `ImaAdsLoader.stop` directly?

Do you see any failures of [this assertion](https://github.com/google/ExoPlayer/bl

[2019-08-19 08:58] andrewlewis commented on #6311
@GouravSna Let's continue discussion on #6213 to keep this in one place.

[2019-08-19 08:58] #6311 closed, assigned to andrewlewis

[2019-08-19 09:01] GouravSna commented on #6213
Thanks @andrewlewis for reconsideration.

 So if the audio track will under run if we decrease the buffer size and eventually we will not be able to play the Dolby track then it is an issue which needs to be fixed. Right ?

[2019-08-19 09:04] andrewlewis commented on #6213
Unfortunately there isn't much we can do about this: to work around the platform issue the only way to pause the audio track is to let it underrun, but this means that some audio plays out after pausing. It's probably worth noting that devices on newer versions of Android don't have this issue (and the same probably holds for FireOS).

If your bitrate is lower than the bitrate used for the default

[2019-08-19 09:04] #6213 closed, assigned to andrewlewis

[2019-08-19 09:12] AquilesCanta commented on #6295
Would you kindly point me to the documentation that does not match the Demo app? I can help with that, but I cannot write a tutorial on downloading, unfortunately.

@ojw28 will be able to tell whether 2.10.x-specific offline documentation exists.

[2019-08-19 09:18] AquilesCanta commented on #6310
Have you read this post: [faster HLS preparation](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6)? Are you using chunkless preparation?

Please provide sample content for both HLS and mp4 for us to look at.

It's worth noting that, at the very least, HLS will be an HTTP roundtrip (for the media playlist, 2 if there is a master playlist) slower than mp4 for starting playbac

[2019-08-19 09:20] tonihei commented on #6307
Thanks for reporting. Could you please provide all the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md)? Specifically, it would be very helpful to have an example stream and the device you tested on so that it's more likely that we can reproduce the issue.

[2019-08-19 09:32] amjadmasri commented on #6308
@andrewlewis thank you for your help
after checking the code and the crash reports
the app doesn't call `ImaAdsLoader.stop` directly
is there anything else that might be related that I can check if the app is calling wrong?

and we could only find this assertion failure in the reports , not sure if it is related
[code]

[2019-08-19 09:38] AlexDundar opened #6312 "Adding parameters for playing encrypted .m3u8 stream"
I have some encrypted (AES-128) `.m3u8` stream in my `Android` app and I want to play it in `ExoPlayer`. I have for this two variables:

    val secretKey = "a4cd9995a1aa91e1"
    val initVector = "0000000000000000"

As I read in docs https://tools.ietf.org/html/rfc8216#section-4.3.2.4 I need to add `URI` and `IV` parameters into source file. After adding I have the next one:

        #EXTM3U

[2019-08-19 09:39] RezaMortazavi opened #6313 "Ima Ad Skip Button Text"
How can i change the text of skip button in IMA ads?

[2019-08-19 09:41] tonihei commented on #6312
The URI parameter should be a URI and "data:text/plain;charset=utf-8,a4cd9995a1aa91e1" isn't one, so the error message is correct in saying that the URI is malformed.

[2019-08-19 09:45] tonihei commented on #6313
The skip button is provided by the IMA SDK and you need to [change the language in the IMA SDK settings](https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/ImaSdkSettings.html#setLanguage(java.lang.String)) to do that. The `ImaAdsLoader.Builder` in ExoPlayer allows you to set your own setting by calling `setImaSdkSettings`.

[2019-08-19 09:55] AlexDundar commented on #6312
Ok, what should it look like? How can I get it with only a variable secretKey?

[2019-08-19 10:15] shubhamvashisht commented on #6310
@AquilesCanta yes i have set allowChunklessPreparation to true.
Master playlist : http://d3d7iaj1xyzes9.cloudfront.net/6319159fe7e9ca4148d2ce3337dfd2d5b3484819-96.m3u8

Media playlist : http://d3d7iaj1xyzes9.cloudfront.net/6319159fe7e9ca4148d2ce3337dfd2d5b3484819-96-variant.m3u8

Mp3 url : http://d3d7iaj1xyzes9.cloudfront.net/6319159fe7e9ca4148d2ce3337dfd2d5b3484819-96.mp3

[2019-08-19 10:15] tonihei commented on #6312
Mmh, actually, ignore my previous comment. This should be a valid data URI. :)

[2019-08-19 10:21] andrewlewis commented on #6308
Is that assertion from `onTimelineChanged` still happening? I thought it was fixed as the first issue discussed in #5831.

[2019-08-19 10:32] tonihei commented on #6312
The actual issue in your case is that the key request is executed by a `HttpDataSource` and should actually use a `DataSchemeDataSource`.

Can you check what kind of `DataSource.Factory` you provide to the `HlsMediaSource.Factory`? It should either be a `DefaultDataSource.Factory` that is able to load both over network and from data URIs or you need to inject your own `HlsDataSourceFactory` that c

[2019-08-19 10:36] RezaMortazavi commented on #6313
Thanks..but in this way i can only set the language..i need to use custom text and font..i mean i need to access the button view..is there any way to do that?

[2019-08-19 10:42] tonihei commented on #6294
Could you try to set the same workarounds as used in #3724? That is set `codecNeedsSetOutputSurfaceWorkaround` to true?

[2019-08-19 10:43] andrewlewis commented on #6313
See also [this post from the IMA forum](https://groups.google.com/forum/#!searchin/ima-sdk/customize$20skip|sort:date/ima-sdk/c9Ed45PedFk/dErEDgndIQAJ). At least when that was written, customizing the UI elements was against policy. If you want to check whether this is still the case, you could post another message in that group.

[2019-08-19 10:44] tonihei commented on #6299
Does this result in any actual player error or is this just a log message you've seen?

[2019-08-19 10:48] zzzhc opened #6314 "postroll didn't end for some HLS stream"
### Issue description
We have some HLS streams which are converted from DASH. The last segment of the HLS streams may not contain video frames. ExoPlayer can play well in v2.9.6, but when we upgraded to v2.10.x, the postroll ad won't end, it is always in AD_PROGRESS state.

### [REQUIRED] Reproduction steps
demo repo: https://github.com/zzzhc/ExoPlayer, branch: stuck-at-end
the demo is based on im

[2019-08-19 10:50] tonihei commented on #6304
I'm not entirely sure what kind of timeout or delay you mean, but there are multiple ways to customize the loading behavior:
- `DefaultHttpDataSourceFactory` allows you to set a `connectTimeoutMillis` and a `readTimeoutMillis` for the connection and reading timeout respectively. You can your customized data source factory in the `MediaSource` builders.
- Every `MediaSource` builder allows you to s

[2019-08-19 11:12] amjadmasri commented on #6308
@andrewlewis  sorry about that , but apparently it never got fixed completely.
at that time it happened more than 5k times to thousands of users
for each of the  last three latest releases of our app it never happened more than  60 times for no more than 60 users. so it was missed while checking the reports and presumed fixed.

[2019-08-19 12:12] tonihei commented on #6314
Thanks for reporting. I can reproduce the issue and are currently investigating. Seems to be related to the fact that the ads are not loading and the ad load error is handled in an incorrect way.

[2019-08-19 12:29] AquilesCanta commented on #5619
As of [this commit](https://github.com/google/ExoPlayer/commit/6a122f4740ef5da4e23445309a20762da2f95639) (and a bit earlier too), this should be supported. Please give it a try and reach back if you encounter any issue.

Thanks for your patience! I expect DRM changes to be available in 2.11.0.

[2019-08-19 12:29] #5619 closed, assigned to AquilesCanta

[2019-08-19 12:29] dim4ikhot opened #6315 "MP3 stream stops playing after audio ad"
Hi,
I know that a similar question already was asked before([#5658](https://github.com/google/ExoPlayer/issues/5658)), but now it closed, but the issue is still exists. But in my case all the time I press PLAY, stream plays an audio ad and stops, so I cannot play the stream. I'm using the latest version of Exoplayer - 2.10.4. But the interesting thing is that this stream was working well with vers

[2019-08-19 13:13] #6313 closed, assigned to tonihei

[2019-08-19 13:16] RezaMortazavi opened #6316 "Ima Ads Callback Listener"
Can i notice when the ad is finished or skipped ?
Is there any callback listener for that?

[2019-08-19 14:23] tonihei commented on #6314
That's actually another bug in our dev branch that needs fixing unrelated to what's reported here.

The bug reported in this issue is HLS-specific and happens because we wait for stream information after the postroll which never arrives as the stream already finished loading.

[2019-08-19 14:38] rafal-kobylko opened #6317 "Please remove"
Duplicate

[2019-08-19 14:45] rafakob opened #6318 "Release codec resources hold by other apps"
### [REQUIRED] Searched documentation and issues
Topics: #5799, #6107, #5516, #5219

### [REQUIRED] Question
We've recently started to see increased rate of following error:
[code]
This occurs mostly on Huewei devices so we started to investigate there. I've came across above mentioned topics. It looks like a problem with releasing decoder resources, so I've looked at our code which is responsible

[2019-08-19 14:46] #6317 closed, assigned to nobody

[2019-08-19 14:49] tonihei commented on #6316
You can set an `AdEventListener` in `ImaAdsLoader.Builder`, which gets informed of ad related events.

[2019-08-19 15:33] tonihei commented on #6318
I can reproduce the issue. When I minimize the TED app it continues to play in the background and thus needs to hold onto the decoder instance.

There is unfortunately also no way to stop another app from using the decoders to play media. It seems to me though that TED should disable the video decoders when backgrounding the app. This would not only save battery life but would also allow you to pl

[2019-08-19 17:16] rafakob commented on #6318
Indeed, when TED is minimized the audio is playing in the background (it starts foreground service). I need to check how other popular apps behave.

As you said, when this error occurs we need to show user a detailed explanation what is a probable cause. Our customer support could also ask users if they have any other streaming app opened.

It's sad that a device like P20 Pro (recent flagship afte

[2019-08-19 17:32] sahujaunpuri commented on #867
Yes this code working perfectly.
I have need get data from firebase.
Anyone please guide me

[2019-08-19 20:35] peurpdapeurp opened #6319 "Question On Passing Streamed AAC ADTS Audio Frames through InputStream into ExoPlayer for Playback"
### [REQUIRED] Searched documentation and issues
1) I have looked at this previous related issue: https://github.com/google/ExoPlayer/issues/1086
2) I have looked at the ExoPlayer, and MediaSource pages in the Javadoc reference (https://exoplayer.dev/doc/reference/)
3) I have looked at the Home, Media sources, and Progressive Media Type pages of the ExoPlayer developer's guide (https://exoplayer.d

[2019-08-19 20:44] yoursunny commented on #6319
I have been working with @peurpdapeurp on his app. I want to add that, his eventual goal is to develop an audio streaming application that operates over an unreliable datagram network, using a custom datagram-based protocol. Therefore, he has to feed ADTS frames, several at a time, into the audio player; he cannot use the existing HTTP, HLS, or other TCP-based solutions. At current stage, he's try

[2019-08-19 20:46] XBigTK13X opened #6320 "SSA/ASS subtitles - Overlapping start/end times and position tag is not handled"
### Use case description
When playing videos files with SSA/ASS subtitle tracks, styled subtitles are mashed together with conversation. For example, many animated Japanese television shows have subtitles that float on screen to translate things that aren't part of speech. In ExoPlayer, this results in the subtitles flipping back and forth between conversation and the translated symbols. This lead

[2019-08-20 00:24] stevemayhew opened #6322 "Add support for upstream discard to HLS"
### Use case description
It is undesirable to leave poor quality buffered video samples in place when sufficient higher quality samples exist to replace them.

Two cases this can happen:
1. Adaptation in live playlists can leave substantial low quality data buffered, particularly in the channel change case where low bit rate initial selection facilitates rapid channel change.
2. When switching fro

[2019-08-20 06:02] rafakob commented on #6318
One more question @tonihei. Is there any other reason why this exception might be thrown?
[code]
Since this happening on production and we can't reproduce this (apart from this TED app scenario) I can't provide a bug report. **Is there anything else that we could check in our app?** Could we log some additional data when this exception happens? (I'm thinking about logging value of `MediaCodecInfo.

[2019-08-20 08:26] tonihei commented on #6318
Yes, there may be also be other reasons. This exception is always thrown when the decoder can't be initialized, so if it fails without another app using the decoder, you'll still get the same error.

[2019-08-20 08:27] tonihei commented on #6318
We also tried to reach out to the TED developers to make them aware of the issue.

[2019-08-20 08:28] vindhyapratap opened #6323 "How to setContentUrl in AdRequest for Contextual ads"
I want contextual ads but AdRequest of IMA Ads does not support to setContentUrl

Here is feature detail
https://support.google.com/admob/answer/6270563?hl=en

Thanks

[2019-08-20 08:28] tonihei commented on #6322
Thanks for filing the tracking issue. Can you let us know when #6321 is ready for review?

[2019-08-20 08:42] andrewlewis commented on #6323
Is this feature supported in the IMA SDK? The linked page relates to AdMob and `setContentUrl` is not part of [`AdsRequest`](https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/AdsRequest.html). If you could point to exactly what functionality needs to be exposed via `ImaAdsLoader` that would be useful. Thanks!

[2019-08-20 08:55] vindhyapratap commented on #6323
Actually , I want ads related to my content, i.e. contextually relevant ads. So is there any method in IMA Ads Loader to map my content or pass my content url so that google will serve ads relevant to my content as it does in Admob AdRequest.setContentUrl i.e. is in below link
https://support.google.com/admob/answer/6270563?hl=en

Thanks!

[2019-08-20 09:17] rafakob commented on #6318
Oddly enough on Huawei P20 Pro `getMaxSupportedInstances` returns `2` so in theory it should work. I've tested the "TED scenario" on Huawei P10 and it's working fine (it also returns `2` for max instances). Ehhh "The Android Dev" life...

[2019-08-20 09:48] stetro commented on #6294
Unfortunatly this would mean that we enable the workaround in our production environment since we cannot reproduce this issue on our local devices. And I think we should avoid this :see_no_evil:.
But we could try patching the Renderer and add the mentioned devices to try if this reduces this failure.

[2019-08-20 09:52] tonihei commented on #6294
To reproduce locally, can you try to switch surfaces
 1. from one surface to another (while playback is already running),
 2. from a surface to null (i.e. no surface)
 3. from null to to an actual surface.
If that workaround helps, at least one of these cases should fail consistently on these devices.

[2019-08-20 09:57] stetro commented on #6294
Great! Thanks for the fast reply! I will try to reproduce this on one of these devices :+1:

[2019-08-20 10:04] tonihei commented on #6315
As you pointed out, this stream has the same problem as the one in #5658 .

The content producer just glued together two mp3 files which are incompatible:
 1. The ad with a seek map for the first 9 seconds.
 2. The unseekable live stream.

To solve this issue, the stream should either provide a full XING seek map for the entire duration or shouldn't publish a seek map at all.

It used to "work" up

[2019-08-20 10:04] #6315 closed, assigned to tonihei

[2019-08-20 10:27] andrewlewis commented on #6318
`getMaxSupportedInstances` returning `2` does not provide a guarantee that playback will succeed, unfortunately -- please see also https://github.com/google/ExoPlayer/issues/1286#issuecomment-200854838.

[2019-08-20 10:31] andrewlewis commented on #6323
I'm not aware of a way to do this at the moment. Could you ask the IMA team directly at the [IMA SDK forum](https://groups.google.com/forum/#!forum/ima-sdk)? If they have suggestions it would be great if you could reply here and we can look at integrating those into the IMA extension. Thanks.

[2019-08-20 10:31] rafakob commented on #6318
Thank you, guys! I think I got everything I needed.

[2019-08-20 10:33] #6318 closed, assigned to tonihei

[2019-08-20 10:39] VeiZhang commented on #6304
@tonihei Thanks for your help. I found when playing error, exo player will retry to play more times, I want it retry once or don't retry.
Follow your help, I find the way, maybe it can. I will try.
[code]

**Thanks again**

[2019-08-20 11:30] zzzhc commented on #6314
agreed. postroll works well on the original DASH stream.
looks like it is caused by the last segment which doesn't contain valid video frame.
[code]

[2019-08-20 11:49] tonihei commented on #6304
Please have a look at `LoadErrorHandlingPolicy.getRetryDelayMsFor`. If you return `C.TIME_UNSET` from this method, it stops retrying. Otherwise, you can also specify the number of time to retry with `minimumLoadableRetryCount`.

[2019-08-20 12:41] abouda opened #6324 "PlayerNotificationManager icon state when player is in STATE_ENDED"
### [REQUIRED] Issue description
Using `com.google.android.exoplayer2.ui.PlayerNotificationManager`, when ExoPlayer's state changes to STATE_ENDED, the pause icon in the notification does not change to play. (It does change in the expanded notification).

### [REQUIRED] Reproduction steps
- Start playing a stream
- Wait for ExoPlayer to reach end (STATE_ENDED)
- Check the notification

### [REQUIR

[2019-08-20 14:11] stetro commented on #6294
I build a demo application to try these switches on a Pixel 3a and an Honor10. Turns out, app is not crashing on Honor10 but exoplayer is cycling buffers from a previous set surface into the video rendering. When setting codecNeedsSetOutputSurfaceWorkaround to true this issue is gone.

[2019-08-20 14:11] stetro commented on #6294
On Pixel3a, sm-t813, lg-h850 the app behaviour is as expected.
P20 had the same issues as Honor 10

[2019-08-20 15:13] stevemayhew commented on #6322
Will do, thank you for the input... Saving the first sample index in
HlsMediaChunk definitely looked like the simple road.  Agreed HLS is much
nastier with both muxed and demuxed tracks

On Tue, Aug 20, 2019 at 1:29 AM tonihei <notifications@github.com> wrote:

[2019-08-20 16:19] tonihei commented on #6320
I had a quick look at the library and from what I see it produces overlay images including the subtitles. Is that correct? I'm afraid that's not that easy to support in ExoPlayer, because you'd need some form of special renderer that draws the overlay. See #5860 for details around writing such a renderer. It would also require an extra surface and at least some extra layer in the UI module to actu

[2019-08-20 18:49] XBigTK13X commented on #6320
Thank you for the feedback. That points me in the right direction. I will try adding an alternative SSA renderer locally to the ExoPlayer source to see if that solves the problem for my project.

Here is a snippet from a subtitle file that renders incorrectly in the current ExoPlayer.

[code]

When drawn through a player using libass, it looks like this.
![correct-subtitle-render](https://user-ima

[2019-08-20 19:03] peurpdapeurp commented on #6319
Ah, I figured out that the reason I wasn't getting any audible playout and the Exoplayer was staying in STATE_BUFFERING was because I wasn't passing the ExoPlayer enough frames. I had only given it 64 ADTS frames, which wasn't enough for it to start actually playing things; once I started passing it more frames, it started playing the audio (after ~10000 - 20000 bytes of audio data).

[2019-08-20 19:03] #6319 closed, assigned to nobody

[2019-08-20 20:13] peurpdapeurp opened #6325 "Reducing the Minimum Amount of Audio Data passed into ExoPlayer for it to begin playing"
### [REQUIRED] Searched documentation and issues

1) I've looked at the DefaultLoadControl javadoc reference.
2) I've looked at the Customization page of the ExoPlayer developer guide (https://exoplayer.dev/customization.html).

### [REQUIRED] Question

I'm currently trying to play streamed AAC ADTS audio frames through the ExoPlayer, and running into the issue that I cannot play a short audio str

[2019-08-20 21:44] BetweenTwoBits commented on #4867
@tonihei any update on this issue?

[2019-08-20 21:47] mikulbhatt commented on #4867
Is this prioritized ?

[2019-08-21 01:56] VeiZhang commented on #6304
@tonihei Thanks

[2019-08-21 01:56] #6304 closed, assigned to tonihei

[2019-08-21 07:32] vindhyapratap commented on #6323
Thanks for you support!!! @andrewlewis

[2019-08-21 09:41] VeiZhang commented on #6288
@andrewlewis Sorry, I had followed your tips, copy `ChannelMappingAudioProcessor`, but I met problems:
[code]

I override DefaultRenderersFactory:
[code]

And there is some important questions, I still don't know how ChannelMappingAudioProcessor works. How to set or get current audio channel.

[2019-08-21 09:44] #6316 closed, assigned to tonihei

[2019-08-21 10:20] AquilesCanta commented on #4867
I am working on this.

Any content you can send to us would be valuable. If you don't want to make it public, please send it to dev.exoplayer@gmail.com. If you send an e-mail, please post a message below and I'll check it out.

[2019-08-21 10:48] DasJhaman opened #6326 "App show buffering is not working in exoplayer"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-08-21 11:55] tonihei commented on #6314
Thanks for confirming. There is general HLS related bug after playing a postroll ads that we are going to fix.

Unfortunately, your stream still won't work after this fix because the last segment doesn't contain video format data. This is quite unusual because HLS clients are usually assuming all tracks to be muxed into all segments to be able to start playback at any point. Is there a way for you

[2019-08-21 11:58] elvirturan commented on #3438
Crossfade between media sources in ConcatenatingMediaSource you can implement on your own, with method **onPositionDiscontinuity** and (**reason == Player.DISCONTINUITY_REASON_PERIOD_TRANSITION || reason == Player.DISCONTINUITY_REASON_SEEK**) you are getting info when track is changed, so then just get track duration and 10s (or whatever) before end with ''**post delayed**'' call another method (i

[2019-08-21 12:52] AlexDundar commented on #6312
@tonihei yes, here is my code for building media source:

[code]

For HlsMediaSource.Factory I provide okHttpDataSourceFactory (with okHttpClient for decrypting m3u8 stream from backend).

[2019-08-21 13:02] AlexDundar commented on #6312
And here is the `Interceptor` for `playerOkHttpClient` (in `okHttpDataSourceFactory`):

[code]

[2019-08-21 13:18] tonihei commented on #6312
That actually confirms what I wrote in https://github.com/google/ExoPlayer/issues/6312#issuecomment-522511378.  You need to use either a `DefaultDataSourceFactory` with your special `OkHttpDataSourceFactory` OR implement `HlsDataSourceFactory` interface and return different implementations depending on the type of media (i.e. your custom OkHttp one for everything and a `DataSchemeDataSource.Factor

[2019-08-21 13:23] harshmittal29 opened #6327 "Videos Not playing on pre-L devices"
I am trying to run the videos on pre-L emulator. But it is always throwing following exception
Exception on Android 4.1, 4.2, 4.3 :

Exception on Android 4.4

Does exoplayer support videos playing in pre-L devices?

[2019-08-21 13:47] tonihei commented on #6327
ExoPlayer supports devices from Jellybean onward. There are known issues with video playback on emulators though and you should test on a real device to verify. See https://exoplayer.dev/supported-devices.html (at the bottom under "Emulators")

[2019-08-21 13:53] tonihei commented on #5407
We fixed this issue with the two commits below.

[2019-08-21 13:53] #5407 closed, assigned to tonihei

[2019-08-21 14:00] harshmittal29 commented on #6327
Is javax.net.ssl.SSLException also part of Emulator or does it has to do TLS 1.2 enabling on Android 4.1?

[2019-08-21 14:09] tonihei commented on #6327
I don't know unfortunately. Please use a real device to verify before we can take a look.

[2019-08-21 14:10] thibseisel opened #6328 "How to simulate ExoPlayer in unit tests ?"
### [REQUIRED] Searched documentation and issues
- Test projects in ExoPlayer sources : `testutils` and `testutils_robolectric`.
- Issue #6267 - Request to publish `testutils` and `testutils_robolectric` as artifacts
- Issue #6161 - Design document of new playlist API for ExoPlayer

### [REQUIRED] Question
I am using ExoPlayer to play audio with a background service controlled via a Media Session.

[2019-08-21 14:19] peurpdapeurp commented on #6325
I was able to answer this question for myself by adding some breakpoints into the ExoPlayer source code.

The main thing causing issues for me was the selectExtractors function in ProgressiveMediaPeriod.java. What was happening was that it was trying to decide which extractor to use on the input data, and when it was checking the ADTS data using the MP3Extractor, that would stop the playing of an

[2019-08-21 14:29] tfcporciuncula commented on #5915
@tonihei We're facing an interesting (and different) situation where this issue became relevant again, so I thought I'd share it here.

We allow users to start a large number of downloads at once in a batch, but we have a good `maxParallelDownloads` limit. However, this limit is ignored in the prepare phase of the downloads, and in the end ExoPlayer tries to prepare all of the downloads at once wi

[2019-08-21 14:40] AlexDundar commented on #6312
@tonihei If I understand correctly, I already use the first option you wrote: in my code you can see:
[code]

And I make manipulations with response (stream bytes) in the `Interceptor `in my `OkHttpClient`. Maybe I’ve made a mistake somewhere and don’t understand where:( And nowhere is there an example of the implementation of this functionality, unfortunately

[2019-08-21 15:00] tonihei commented on #6312
You also need to use the `DefaultDataSourceFactory` in your `HlsMediaSource.Factory`, otherwise it doesn't have any effect.

[2019-08-21 15:03] tonihei commented on #6294
I tested the surface switches on a Mate 10 Pro (because that seems to get the most errors in your table above), but couldn't reproduce the problem nor any cycling buffers. There also shouldn't be any problems in theory because Android device specification now ensures the correct behavior on SDK versions 27+.

The cycling buffer issue you mentioned above is probably different from the setVideoSurfa

[2019-08-21 15:10] tonihei commented on #5915
Am I right in assuming that letting `DownloadManager` do the track selection would solve this issue automatically? Because it would only start the process if it doesn't exceed `maxParallelDownloads`.

Until that is implemented, there is probably not much we can do about this because it's your code calling the `DownloadHelper` for all downloads in parallel at the moment. If you think there is somet

[2019-08-21 15:24] tfcporciuncula commented on #5915
Yes, I believe you're right. So I think once this issue is resolved/implemented, we'd have that solved.

Yup, make sense. And I don't see any obvious improvement we could do on `DownloadHelper` right now :)

[2019-08-21 15:44] tonihei commented on #6325
Glad you solved your question :)

It's an interesting effect though because I don;t think our `DefaultExtractorFactory` follows any particular order to ensure the formats gets detected quickly. But I'm also not sure why this is important given that you need to read the rest of the stream in any case. can you explain what you are doing exactly and why the extractor selection needs to happen after 1

[2019-08-21 15:47] tonihei commented on #3738
I'm aware that this issue is quite old, so sorry for the delay. But it looks as if the FLAC extension doesn't work on these devices? This sounds odd given that the whole purpose of these extension decoders is to provide a consistent experience across all devices.

We should probably get hold of one of the devices to test what's happening.

@andrewlewis Are you aware of any similar issues with the

[2019-08-21 16:07] tonihei commented on #3927
Do you keep the player (including the decoders) while the app is minimized? Please release the player in onPause for API <= 23 or onStop for API > 23 similar to [how our demo app is doing that](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L232).

[2019-08-21 16:10] tonihei commented on #4123
Were you able to try the more targeted workaround as suggested by @ojw28 above?

[2019-08-21 16:16] tonihei commented on #4588
@andrewlewis That also sounds like a problem with FLAC extension. The position seems to to advance twice as fast as real-time on this device. Have you seen that before?

[2019-08-21 16:22] tonihei commented on #5243
Looks like the referenced Amazon bug will be fixed soon, so closing this issue as it's device specific and the device manufacturer addressed the issue.

[2019-08-21 16:22] #5243 closed, assigned to erdemguven

[2019-08-21 16:34] tonihei commented on #5946
I still can't access the file. Can you check the permissions again?

[2019-08-21 16:59] yoursunny commented on #6325
I have been working with @peurpdapeurp on his app. He's making a real-time streaming application, and one of the goals is to minimize latency. Think "digital police radio" kind of use case.
If `DefaultExtractorFactory` needs a lot of data to select an extractor, it would increase start-up delay perceived by the user. Given `AdtsExtractor::sniff` only needs four ADTS frames, ideally `DefaultExtract

[2019-08-21 17:52] mikulbhatt commented on #4867
@AquilesCanta you can use following profile as a test stream:
[code]

[2019-08-21 17:54] mikulbhatt commented on #4867
let me know if this stream is sufficient to reproduce the issue and validate your fixes. We can help you get streams with different scenarios! combination of secure/nonsecure content on live/vod streams

[2019-08-21 20:22] vanlooverenkoen commented on #5786
Having the same issue. How could we add srt files to a stream?

[2019-08-22 01:01] #6242 closed, assigned to marcbaechinger

[2019-08-22 01:01] #6186 closed, assigned to AquilesCanta

[2019-08-22 01:01] #3443 closed, assigned to fredgc

[2019-08-22 08:51] andrewlewis commented on #6288
I'll submit a fix for the `ArrayStoreException` but for now you can just change your implementation to return an `AudioProcessor` array with a `ChannelMappingAudioProcessor` in it (instead of a `ChannelMappingAudioProcessor` array) to avoid this.

`ChannelMappingAudioProcessor` will let you swap audio channels (e.g., switching left/right in a stereo stream) but it doesn't support changing volumes.

[2019-08-22 08:51] #6288 closed, assigned to andrewlewis

[2019-08-22 09:20] zzzhc commented on #6314
This kind of abnormal HLS stream is converted by a third-party SDK, we haven't found a way to fix it.
It works well in v2.9.6. I suppose some commits between v2.9.6 to v2.10.0 broken it. I have tried to find out which commit did the bad thing but failed,  the commit history is not linear, v2.10.0 dev branch is not based on v2.9.6 directly.

[2019-08-22 09:29] stetro commented on #6294
Thanks for your efforts and feedback!
I will upload my demonstration code and write another issue about the buffer cycling behaviour.
I will add the mentioned device list to the workaround list in our build and followup with results if this resolves our issue.

[2019-08-22 09:37] VeiZhang opened #6330 "getDuration return error time"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  #6241  #6238

### [REQUIRED] Issue description
Using ExoPlayer to play some videos, I found some of them get the wrong duration, always return -1, so I can't seek.

### [REQUIRED] Reproduction steps
Using the ExoPlayer demo app, replace `Cats -> Dogs` uri in `media.exolist.json` playlist with

[2019-08-22 10:33] andrewlewis commented on #6325
In `ProgressiveMediaPeriod` we try to sniff with each provided extractor in order, returning as soon as `sniff` returns true, so I think the intention was to have extractors where the sniff method is less likely to have a false positive higher up the list.

It's a bit of a hack, but I think one way to avoid reading the data during sniffing for your use case would be to make a custom extractor that

[2019-08-22 11:13] hvisser commented on #5006
Any updates on this? We are running into this problem for bumper ad tags before our midroll that are not always filled, which is causing the entire midroll to be skipped. Maybe there's a specific workaround that we can apply? We'd rather not turn off the bumper since other platforms do serve this correctly.

[2019-08-22 11:47] pearleye commented on #6299
It's just a log message we see as of now, not sure if it causing any side effect. So wanted to better understand this denial!

[2019-08-22 11:49] stetro opened #6331 "frame buffer cycling when switching between surfaces on certain devices"
### Issue description
Along with #6294 we discovered frame renderings on previous defined surfaces when changing the surface during playback. This happens on two of our test devices (Honor 10 and Huawei P20)

### Reproduction steps
Just run the test application https://github.com/stetro/exoplayer-test on one of the devices (maybe its also happending on mate 10 pro). And press the switch button to

[2019-08-22 12:25] andrewlewis commented on #5006
An upcoming IMA SDK version makes preloading (used by the ExoPlayer IMA extension) more robust, and based on my testing it will fix this issue. I can't give any guarantees about when this will be available I'm afraid (it is mostly out of our control), but I expect it will be during the next couple of months.

[2019-08-22 13:57] tfcporciuncula opened #6332 "Documentation request: security implications of working with .exo files"
### [REQUIRED] Use case description
Given our not super strict security requirements, we're trying to understand if allowing downloaded `.exo` files to be in the external storage system would be reasonable.

- It's clear it's not straightforward to play them outside the app where they were downloaded, but it'd be nice to understand in details what it takes to be able to do that, so it's easy to un

[2019-08-22 19:54] yoursunny commented on #6325
Yes, we made a custom `ExtractorsFactory` and it's sufficient for now.

I'd suggest ExoPlayer to provide a `SingleExtractorFactory`:

* Constructor accepts the type of an extractor.
* Wrap the extractor so that `sniff` returns true immediately.
* `createExtractors` returns instances of the wrapped extractor.

This would be beneficial to applications where the exact media type is already known.

[2019-08-23 06:06] harshmittal29 opened #6333 "Exoplayer - orientation changes handling"
Hi Exoplayer Team,

Exoplayer is amazing as it handles orientation changes very well from/to going to/from full screen mode.
I want to understand what does Exoplayer doing internally to do these changes so smoothly.

[2019-08-23 06:19] sravan1213 commented on #6333
@harshmittal29 This is done using android configChanges flag for activity.
`android:configChanges="orientation|screenSize"`

please refer https://developer.android.com/guide/topics/resources/runtime-changes for more info.

[2019-08-23 06:25] harshmittal29 commented on #6333
I understand the orientation.
What I want to understand is the player using some lifecycle on changing the orientation?
The reason is I want to have different UI for full screen vs small screen.

[2019-08-23 08:40] kgrevehagen opened #6334 "LoadErrorHandlingPolicy in DefaultDrmSession/DefaultDrmSessionManager"
### Use case description
I don't want to retry 4xx errors for the DRM license key requests, but 5xx errors I would like to retry with exponential backoff, just as it is already done inside `DefaultDrmSession`.

### Proposed solution
Inject a `LoadErrorHandlingPolicy` to `DefaultDrmSession` via `DefaultDrmSessionManager`, similarly to how `initialDrmRequestRetryCount` is added.

### Alternatives co

[2019-08-23 09:06] AlexDundar commented on #6312
@tonihei Ok, I made it.

[code]
OkHttpDataSourceFactory is the class from `com.google.android.exoplayer:extension-okhttp:2.10.3`.
And I removed method `replaceFirst` from my `OkHttpInterceptor` (you can see this class above).

But it doesnt work 😞 When I provide url with encrupted `.m3u8` stream, I see in logs (logger is wrote in `PlayerInterceptor`):
1) decrypted `.m3u8` stream that looks like
[c

[2019-08-23 09:09] GouravSna opened #6335 "Dash Audio track selection inconsistent"
We have 2 dash DRM streams with audio tracks.
As far as we know the default language that should be picked in dash is the first audio adaptation set.
In the following streams 1,2 we can see that the dash has Hindi as the first language in manifest
But in the first we can see in Charles that the Language that is playing in the demo app  is Hindi and in the second the language that is playing is Tel

[2019-08-23 09:15] tonihei commented on #6335
Thanks for filing the issue. As already indicated in the answer to your email, this may be related to your phone's system language setting. If it's set to Telugu, then this will be preferred independent of the order in the manifest. Can you verify if that's the case here?

[2019-08-23 09:17] GouravSna commented on #6335
No, The device language is English.

[2019-08-23 12:19] tonihei opened #6336 "Keep list of available formats when using HLS chunkful preparation."
### [REQUIRED] Use case description
When using HLS chunkful preparation or when using a media playlist directly, we need to load at least one of the segments to determine the available formats. However, we do this for every created MediaPeriod, which is wasteful because the formats are not supposed to change if the preparation completed once.

### Proposed solution
We should keep the list of track

[2019-08-23 12:19] tonihei commented on #6314
This change was introduced by commits handling how we insert post-rolls into the stream. We now try to load the stream again from behind the post-roll to the end of the stream (that's usually a no-op, because there is nothing between these two points). This allowed us to streamline some of the code around ad insertion and event management and it may prevent unnecessary decoder disabling/enabling.

[2019-08-23 12:25] AlexDundar commented on #6312
I made custom `HlsDataSourceFactory`  with using `DataSchemeDataSource` for `DATA_TYPE_DRM`:
[code]
And I provided it to `HlsMediaSource.Factory` :

[code]

But it was no effect, unfortunately. I obtained error
`com.google.android.exoplayer2.ParserException: Cannot find sync byte. Most likely not a Transport Stream.`

[2019-08-23 12:34] kgrevehagen opened #6337 "Force DRM license request"
### Use case description
In order to fetch a DRM license from our license server, I need to supply a short-lived security token.

When playing in a `ConcatenatingMediaSource`, the security token(which is retrieved along with other playback data when preparing a `MediaSource`) might have expired at the time the `DefaultDrmSession` tries to get the license key. In case of a 4xx error on the license

[2019-08-23 12:38] tonihei commented on #6320
The particular reasons why this goes wrong here are:
1. We don't expect overlapping subtitle times at the moment. We should detect that and and return all active subtitles for a given time so that they can all be displayed simultaneously.
2. We don't parse the position tag of the subtitles to place it at the right position.

Step 1 is more important to remove the strange flickering of subtitles. S

[2019-08-23 13:01] tonihei commented on #6337
There are some ways to avoid this problem from occurring I think:
- You can use a `ResolvingDataSource` to resolve your security token just in time for the license request. This way you don't load it in advance, but it can't expire either.
- You can turn on `lazyPreparation` in the `ConcatenatingMediaSource` (in the long constructor) to only prepare the MediaSource when they are actually needed. T

[2019-08-23 13:06] tonihei commented on #6312
Just to clarify: The original issue has been solved, right? The DRM keys can now be loaded from the data URI?

The other issue sounds like an issue with your decryption customization. We probably can't spent much time debugging your custom code, so it would be good to see if the setup works without your custom component.

[2019-08-23 13:20] AquilesCanta commented on #6337
Can't you generate the token at the moment MediaDrmCallback.executeKeyRequest is invoked?

Retrial of licence requests is being tracked by #6334.

[2019-08-23 13:21] AquilesCanta commented on #6334
This should be available in the next release. A commit reference will appear in this issue once the change is pushed to the dev-branch. Once that happens, please give it a try and reach back if you encounter any issues.

[2019-08-23 13:34] AlexDundar commented on #6312
@tonihei , thank you for your reply!

Maybe I wasn’t clear with the initial issue

1. Backend dev and me are building our own custom DRM with own licence server (not widevine or something else). And I didn’t have o problem of receiving the key from the Data URI (at this stage of development I can have them as open data (just copy/paste them) )
2. The initial problem was and still is that I cannot

[2019-08-23 14:40] tonihei commented on #6335
I'm able to reproduce the problem. But I needed to fake the user-agent because the stream doesn't load when using Android user agents.

The reason for this audio selection is that our `DefaultTrackSelector` prefers tracks with a higher bitrate if all other selection criteria are equal. Therefore we select Telugu with a bitrate of 64002 bps over Hindi with a bitrate of 64001 bps.

This doesn't make

[2019-08-23 14:58] AlexDundar commented on #6312
Maybe we are doing something wrong. I decrypt m3u8 and receive this
[code]
We also developing web-player, and it is enough to be able to play this segments , but EXO returns an error
`com.google.android.exoplayer2.ParserException: Cannot find sync byte. Most likely not a Transport Stream.`

That is why I thouht I should do forced injection of `#EXT-X-KEY` tag to this  file (to make EXO play it). B

[2019-08-23 15:08] GouravSna commented on #6335
- Thanks @tonihei

[2019-08-23 16:39] #6314 closed, assigned to tonihei

[2019-08-23 16:39] #5831 closed, assigned to tonihei

[2019-08-23 16:40] #6335 closed, assigned to tonihei

[2019-08-23 16:45] tonihei commented on #6333
As @sravan1213  pointed out, we are only using the "configChanges" flag to ensure our surfaces are kept in the demo app when changing orientation.

There is #1845 to track better documentation for general purpose switches to fullscreen. Please refer to that issue for details.

From Android 10 onward, there will also be the new SurfaceControl API that allows you to move an existing surface around (

[2019-08-23 16:59] tonihei commented on #6332
The files are not encrypted by default, so they just contain the plain media data. They may not be playable as they are, depending on which part of the data the file actually represents. But if someone puts some effort into piecing the right .exo files together, they should be able to play them.

Note that there is an option to encrypt files as explained [here](https://github.com/google/ExoPlayer/

[2019-08-23 17:11] tonihei commented on #6330
Some streams don't provide the duration or seek information in the header data and that's why we need to play to the end before knowing the actual duration.

The actual value of getDuration is `C.TIME_UNSET` as documented on the method.

[2019-08-23 17:11] #6330 closed, assigned to tonihei

[2019-08-23 17:12] tonihei commented on #6324
@marcbaechinger  Can you take a look?

[2019-08-23 17:17] tonihei commented on #6326
Just adding `app:show_buffering="always" ` works perfectly fine.

Can you check whether you haven't removed or changed the UI element with id `exo_buffering`?

[2019-08-24 23:04] devsarfo commented on #4319
Hi guys,

So i was facing same issue and a little research I did arrived at  HTTP/HTTPS issues so to fix it, use this attribute to your AndroidManifest.xml where you allow all http for all requests:

android:usesCleartextTraffic="true"

Eg.

<application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="

[2019-08-25 09:36] Random786 opened #6338 "Exoplayer HLS AES Segments Custom URI intercepting"
Hello team,  I had a HLS media Url

"**http://somedomian.name/channel/name_800.m3u8**"
it had a response output as shown below.  I need to add  some extra characters after **.key**. Before its play in exoplayer

Initially URI = **"https://tv.media.com/streams_live/chnnel_name_800-1566721726000.key"**

After i need to change like this = **"https://tv.media.com/streams_live/channel_name_800-15667217

[2019-08-25 16:33] ZhiJia-Zheng commented on #6201
Hey @tonihei thanks for your fix, after testing I still meet a problem:for a video asset, if purely play it in title page(not full screen) or in full screen directly, the seek position works well after pre-roll, but if play it in title page for a while, exit and then play it by full screen directly, the seek position will still be ignored, vice versa.

[2019-08-26 05:31] turastory opened #6339 "Provide instructions on local build for Gradle Kotlin DSL in README"
### [REQUIRED] Use case description
Gradle provides both way to write build script - Groovy, and Kotlin.
While both languages are perfectly fine to write typical build logic, they have different APIs in some cases.

To build locally in Kotlin, one should use `gradle.extra` - `ExtraPropertiesExtension`, which is not defined in the class definition of Gradle.

[code]

[code]

But Gradle instance **i

[2019-08-26 07:28] drayan85 commented on #5786
I am facing the same issue. anyone, resolves this issue?

[2019-08-26 08:16] drayan85 commented on #5786
@amjadmasri , I have followed as per [your posted link](https://developers.google.com/cast/docs/android_sender/media_tracks).

[code]

[code]

`D/TAG: Success with status code:0`

**But the subtitle is not working on the cast player.**
@AquilesCanta , @ojw28

[2019-08-26 09:02] AlinaVoronkovaEpam opened #6340 "PlayerView#onTouchEvent() should return false if useController is false"
### Issue description
In our app we do not use a player controller and disable it this way:
[code]
However, the touch event is consumed by the view.

### Reproduction steps
I'm not allowed to share the app code.
Please see the code snippet `com.google.android.exoplayer2.ui.PlayerView` (ExoPlayer ver. 2.10.2) below that demonstrate the touches are consumed by the view in any cases:
[code]

### Link

[2019-08-26 09:04] AlinaVoronkovaEpam commented on #6340
Please take a look at exactly the same issue https://github.com/google/ExoPlayer/issues/1923
Thanks.

[2019-08-26 09:49] kgrevehagen commented on #6337
As far as I've understood, the `ResolvingDataSource` will still resolve when it is pre-buffering media(as opposed to when I create the `DataSource`). Or have I misunderstood? This means that if I pause playback right after it has been resolved(but before `executeKeyRequest` has been called), I can resume playback after it has expired, and when the next media source starts playing, my token would h

[2019-08-26 12:57] kgrevehagen opened #6341 "Fetch DRM Keys during buffering"
### Searched documentation and issues
- [Developer Guide](https://exoplayer.dev/drm.html)
- [GitHub Issue Tracker](https://github.com/google/ExoPlayer/issues)
- [Medium](https://medium.com/google-exoplayer)

### Question
When playing DRM protected content we need to implement `MediaDrmCallback` and especially `executeKeyRequest()` to actually get the license key. This seems to be called when ExoPl

[2019-08-26 13:16] kgrevehagen opened #6342 "MediaSource reflected in MediaDrmCallback"
### Use case description
To my understanding, starting with version 2.11.0, `DrmSessionManager` will be injected into the `MediaSource`. To me, it makes perfect sense to reflect that in the `MediaDrmCallback` so we actually know what `MediaSource` we are making the key request to.

### Proposed solution
Somehow get the `MediaSource` into the parameter for `executeKeyRequest` in `MediaDrmCallback`.

[2019-08-26 17:23] mikulbhatt commented on #4867
Hi @AquilesCanta , is the stream provided here useful to you? let me know if you are looking for specific use case and i can try to get you a test stream for that.

[2019-08-26 18:47] alexeyr15 opened #6343 "Video stuttering after 15 minutes of playback"
### [REQUIRED] Issue description
Video is getting worse (not smooth) after about 15 minutes of playback on Nvidia Shield.

### [REQUIRED] Reproduction steps
1. Open the provided stream in the demo app on Nvidia Shield
2. Wait about 15 minutes
3. Video becomes not smooth, with dropped frames

### [REQUIRED] Link to test content
Provided by email

### [REQUIRED] A full bug report captured from the d

[2019-08-26 21:20] AnilPadi commented on #5935
It has been a long time and we are currently blocked on this issue. Any update, please?

[2019-08-27 00:43] ferglezt opened #6344 "Dash streaming interruptions"
Our application uses two instances of SimpleExoPlayer to support crossfading effect. While one player is playing a track, the other prepares the next so crossfade is available when the first track is finishing. However, we noticed some brief audio interruptions when player one starts to play and player two prepares. This is not a consistent behaviour among all devices, it only happens in certain H

[2019-08-27 01:00] #6252 closed, assigned to ojw28

[2019-08-27 08:17] davibe commented on #5448
Just to add some noise. I am testing HDR mode on Huawei devices like the P30 PRO. With the ExoPlayer demo (2.9.5), as well as my app, hdr works fine in landscape mode but it stops working as soon as i switch ti portrait. The colors become grayed out as if the display was not hdr capable.

[2019-08-27 08:42] marcbaechinger commented on #6340
Can you please trying to reproduce with the most recent version of the release-v2 branch? It appears to me that this has been fixed already in [PlayerView](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java#L1056):

[code]

Please let us know whether this solves your problem or we need to take a look.

[2019-08-27 08:45] marcbaechinger commented on #6341
We are working on some changes which will address this issue I think.
@AquilesCanta Can you please quickly comment with a bit more detail?

[2019-08-27 08:48] marcbaechinger commented on #6342
@AquilesCanta Can you please comment on this?

[2019-08-27 09:14] davibe opened #6345 "HDR playback freeze when surfaceview is attached too late on Huawei P30 PRO (also p20 and other huawei)"
I attach a patch that allows to reproduce the problem using the official demo of exoplayer 2.9.5.

I added a sample HDR content. When playing on Huawei P30 pro, wait 10 seconds so that the surfaceView is added. Only one frame will be displayed then the video playback freezes while audio goes on.

If you try to go back in the previous screen the app may become unresponsive and occasionally crash.

[2019-08-27 09:30] AquilesCanta commented on #6342
What information do you need in the MediaDrmCallback?

MediaSource is an exoplayer core functional component. I strongly doubt you intend to call MediaSource methods from MediaDrmCallback, so I suppose you want to downcast it to retrieve some information.

Considering MediaDrmCallback is such a lightweight component, I don't see any issue with creating one per MediaSource. Please clarify this bit

[2019-08-27 10:22] kgrevehagen commented on #6342
Your assumption is correct, I don't intend to call `MediaSource` methods from `MediaDrmCallback`, but instead retrieve information stored in them.

If you don't see it as a problem of creating one `MediaDrmCallback` per `MediaSource`, this won't be a problem after 2.11.0, I can then provide my `MediaDrmCallback` with whatever I want, and it is a one-to-one relationship between the two.
But, since

[2019-08-27 10:48] ojw28 commented on #4200
This should be fixed by https://github.com/google/ExoPlayer/pull/6303.

[2019-08-27 10:57] ojw28 commented on #5291
@unext-wendong - Is this issue device specific, or is it happening on all devices? If you could try and reproduce on a couple of recent flagship devices, that would be very helpful.

[2019-08-27 11:12] AquilesCanta commented on #6341
As @marcbaechinger points out. It's something we are working on. Thanks for your patience.

[2019-08-27 11:22] ojw28 commented on #6320
Note: I think (1) is a duplicate of #4725. Should we merge that issue and this one (carrying over any necessary information into whichever issue is kept open)?

[2019-08-27 11:28] unext-wendong commented on #5291
@ojw28
I was using a Huawei STB of a model similar as the following one.
https://consumer.huawei.com/jp/support/set-top-box/tt01/
https://www.androidtv-guide.com/pay-tv-provider/ntt-docomo-tv-terminal

Don't remember if I tried it on any other devices. Now you mention it, it could be related to the media framework of that device, if no one else sees the similar behavior on other devices.

Will try

[2019-08-27 12:29] ojw28 commented on #4319
I don't think that's related to this issue.

[2019-08-27 12:37] ojw28 commented on #6340
Yes, this was fixed in 2.10.3 as per the release notes (see also https://github.com/google/ExoPlayer/issues/6109).

[2019-08-27 12:37] #6340 closed, assigned to nobody

[2019-08-27 14:03] perracodex opened #6346 "Getting sometimes an ExoPlayerImplInternal: IllegalArgumentException"
### Issue description
Getting a playback error randomly and in very rare occasions. It happens right after our app finishes encoding a new video, and a new ExoPlayer instance is created to play it. There are no problem with the videos themselves, as trying a playback again will not produce any error.

In our flow we encode a video using the MediaCodec API. Then ensure the video is fully saved to f

[2019-08-27 14:30] ojw28 commented on #6297
If I remember correctly, labels weren't defined anywhere when we added support for them. Support was added by an external contribution: https://github.com/google/ExoPlayer/pull/2904, which turned into https://github.com/google/ExoPlayer/pull/4391.

Do you know where the `Label` node is defined? It doesn't seem to be defined in the schema you've linked to. The DASH-IF doc you've linked to defines i

[2019-08-27 16:42] ojw28 commented on #6324
I think `PlayerNotificationManager.getActionIndicesForCompactView` needs to use `isPlaying()` to decide which action to display, rather than `playWhenReady`.

[2019-08-27 18:43] ojw28 commented on #6284
This is interesting :). When considering this, we should think about the pros/cons of using the thermal status directly vs more user visible metrics like dropped frame count (and also the possibility of using a combination of the two).

Could this approach end up repeatedly switching back and forth between the highest and lower resolutions (i.e. in the case where the highest resolution is sufficie

[2019-08-27 22:35] fredgc commented on #5681
Widevine was able to reproduce the problem on Android 9, but when we upgraded to Android 10, the video played OK.  We did not see any DRM errors in the logs, or anything that indicates it is an encryption/decryption problem.   This looks like there is a problem with how this particular content is interacting with the Android 9 codec on Pixel 3.  The codec is different on Android 10.

@giladna, is

[2019-08-28 04:08] nikhilkawatra commented on #6277
Thanks for the response. We are getting this error on random assets .

Below are some of the additional logs from yesterday's instance

policy_engine.cpp(55):CanDecryptContent] PolicyEngine::CanDecryptContent Key '0FD1700388A24C55B48EBC269C37FA24' not in license.
2019-08-28 00:13:16.988 3056-7904/? E/WVCdm: Decrypt error result in session sid137 during encrypted block: 5
2019-08-28 00:13:16.990 42

[2019-08-28 08:10] marcbaechinger commented on #6346
I think you are probably right that this is a problem of using a codec simultaneously. Does this happen on any device or did you observer this only on the device you stated above?

Can you please create a full bug report so we can look into this?

[2019-08-28 08:12] marcbaechinger commented on #6331
Can you please capture a full bug report (adb bugreport) just after this happens so we can look into the full logs?

[2019-08-28 08:26] marcbaechinger commented on #6328
We are having a bunch of such tests in [ExoPlayerTest](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/test/java/com/google/android/exoplayer2/ExoPlayerTest.java).

It uses the ExoPlayerTestRunner from thes testutil module you are mentioning above. The test runner internally creates a [TestExoPlayer which extends from SimpleExoPlayer](https://github.com/google/ExoPlayer/blob/r

[2019-08-28 08:33] ojw28 commented on #4133
Useful background: https://exoplayer.dev/drm.html

This issue can occur where key rotation is present in the media, where the media consists of different quality streams with different keys, and when playing playlists containing DRM protected content.

The problem is that DRM keys are only requested at the point of playback. The solution will be to request them earlier (e.g. one option is to reque

[2019-08-28 08:33] ojw28 commented on #6341
Duplicating onto https://github.com/google/ExoPlayer/issues/4133, which I've clarified to be tracking all cases where we need to load different DRM keys during playback.

[2019-08-28 08:33] #6341 closed, assigned to AquilesCanta

[2019-08-28 08:36] marcbaechinger commented on #6344
Can you please do a bug report right after the interruptions? This is kind of hard to reproduce on our side so any information we can get is useful. The bugreport may help us.

I think your thoughts around DRM license make sense. Can you confirm that this does not happen with MP3 because there is no DRM involved? Also, do you have the chance to get the dash stream without DRM so you can test wheth

[2019-08-28 09:18] perracodex commented on #6346
I've sent a full bug report to dev.exoplayer@gmail.com
I could also see the issue in a Nexus 6 with 7.1, but only once, haven't been able to reproduce it anymore in such device.
In a Huawei P20-Lite with Pie seems to be more common.

Doing some test, if I delay the video playback to start around a couple of seconds after releasing the codec, then the problem doesn't seem to occur anymore. But, I c

[2019-08-28 09:28] stetro commented on #6331
Sure, I provided one by mail :+1:

[2019-08-28 09:35] marcbaechinger commented on #6346
Thanks! Can you check whether the exception is in the bug report you sent? If I search for IllegalArgumentException or native_setSurface I can't find an exception.

Is this taken on the Huawei device?

Bug Date: 2019-08-28 10:52:05
Device: <unknown>
Build: <unknown>
Build Date:
Uptime: 10:53:04 up 1 day, 20:51, 0 users, load average: 46.79, 46.95, 45.48

[2019-08-28 09:38] marcbaechinger commented on #6346
Oh, yes it's taken on a Huawei. Seems my tool is broken :)

Build: SNE-LX1 9.1.0.215(C432E4R1P1)
Build fingerprint: 'HUAWEI/SNE-LX1/HWSNE:9/HUAWEISNE-L21/215C432:user/release-keys'

[2019-08-28 09:47] perracodex commented on #6346
What would be the correct steps to ensure the exception gets included in
the report?
To generate the one l sent what l did is:  1) Encode video 2) release codec 3) ExoPlayer playback. Repeating this cycle till finally got the error again, which besides appearing in the Android Studio logcat, is also reported through the ExoPlayer.onPlayerError callback.
After the error, l used the adb tool to gene

[2019-08-28 10:15] marcbaechinger commented on #6331
Thanks! Seems like the hardware codec produces a problem. I'm not going to post contents publicly here from what you sent by email. But you can find the native exception of the hardware codec in your bug report at 08-28 11:25:50.535. This explains why the workaround of your app works, as with this you are using the software codec renderer.

Seems like a candidate for [the deviceNeedsSetOutputSurfa

[2019-08-28 10:31] matamegger opened #6348 "60 FPS Widevine DASH content stutters on some devices"
### Content description
60 FPS Widevine encrypted DASH streams stutter and/or have many dropped frames.
The (per email) provided content shows a live ticker at the bottom, where this stuttering and frame drops can be observed very well.

There are players like the NexPlayer (https://www.nexplayersdk.com/), which shows better performance on the same content and devices, therefore we rule out a weak

[2019-08-28 10:33] marcbaechinger commented on #6346
Hmmmm, that sounds about right and should work like this. Here's a doc about different ways, just for reference: https://developer.android.com/studio/debug/bug-report

The log which is included in your report starts only from 08-28 10:51:51.270 and goes to 08-28 10:53:17.392. Dumpstate says that the device is up since a day though: up 0 weeks, 1 day, 20 hours, 50 minutes. Not sure what is happenin

[2019-08-28 10:57] stetro commented on #6331
Yes I could solve the issue by activating the workaround on this device. Same applies to P20 `HWCLT`. We currently have the following additional workaround list in an upcoming release to try if this solves customers issues:

[code]

Do you need a p20 bugreport as well to add it to the workaround list?

[2019-08-28 11:38] matamegger commented on #771
Checking in on this feature request. How is the priority on this issue? Is it somewhere on your road map?

[2019-08-28 11:49] ojw28 commented on #6295
@rinav - Which documentation does not match with the sample demo app? Thanks.

[2019-08-28 11:54] perracodex commented on #6346
Sent a new bug report to dev.exoplayer@gmail.com

[2019-08-28 12:16] #6272 closed, assigned to ojw28

[2019-08-28 12:37] ojw28 commented on #6291
Could we update the title of this issue to track the proposal? Thanks!

[2019-08-28 12:45] noamtamim commented on #6291
I believe the title should be something like "make the license renewal failure non-fatal until the end of the license duration". But isn't the proposal different enough from the original request as to require a new ticket?

[2019-08-28 14:10] nishantkp opened #6349 "General DRM Error ~ 2000 : Failed to handle key response"
### Content description
I have an issue with playing live stream DRM content (Dash + Widevine).

All the other DRM content will play just fine, but when I try to play live stream with the same flow, ExoPlayer throws an error saying `Failed to handle key response: General DRM error (-2000)`

I am not sure what's wrong.

### Version of ExoPlayer being used
2.10.4

### Device(s) and version(s) of And

[2019-08-28 16:18] lifenautjoe commented on #6182
Why was this closed @ojw28 ? Still seeing an issue on my end with mp4 files. They're non playable if they're recorded with the device.

[2019-08-28 16:25] ojw28 commented on #6182
It's explained above why the issue is closed. I.e. The media is broken, and doesn't play correctly in other widely used video players either. The issue also doesn't clearly explain how to reproduce the problem, or how these videos were created, and we were unable to reproduce the problem.

If you're seeing the same or a similar problem, it's probably better if you file a new issue, filling in all

[2019-08-28 17:15] marcbaechinger commented on #6345
Can you please provide us with a full bug report taken right after the video freezes? With this we can check some more closely.

[2019-08-28 17:26] AquilesCanta commented on #6277
If you have any evidence pointing at this being an ExoPlayer issue, please file a new issue including all the information requested in the issue template (link in the comment above).

This suggests this is not an ExoPlayer issue. Plus, if the content is not changing in this 24 hours, it means the license server is changing its behavior. Sounds like a delay in the server when publishing the license

[2019-08-28 17:26] #6277 closed, assigned to AquilesCanta

[2019-08-28 18:18] marcbaechinger commented on #6346
Thanks for sending again!

I can't find much more information though. However, it seems to be an issue with the device specific media codec when setting the surface by MediaCodec.setOutputSurface.

You can try the [setOutputSurface workaround ](https://github.com/google/ExoPlayer/blob/85c10b02567b66ecfaaaacfd0ba9389b41bf919e/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodec

[2019-08-28 18:28] marcbaechinger commented on #6349
Can you provide us with the content url and drm properties so we can look into that?

I've investigated the bug report but it's reporting the native exception only:  Failed to handle key response: General DRM error (-2000)

I also think that the report is from the emulator. Best would be to have the content, if this is not possible, can you provide a bug report from a real device also.

[2019-08-28 20:14] kvillnv commented on #5989
@ojw28 @erdemguven @AquilesCanta

[2019-08-28 23:06] XBigTK13X commented on #6320
Note for anyone who finds this issue in the future. I tested out modifying ExoPlayer and a few other solutions. At the end of the day it was easier to use LibVLC since it already has libass support.

[2019-08-29 03:16] AlphaCircle opened #6350 "Volume gets larger even though 2 players run alternatively."
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2019-08-29 05:21] drayan85 opened #6351 "Chrome Cast Extension support for offline play ?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-08-29 06:31] xufuji456 opened #6352 "Add an AviExtractor"
description:
ExoPlayer can't play video of avi format, but Android system MediaPlayer can play.
It seems that MediaCodec support decode avi format.
When use ExoPlayer to play avi video, it throws an exception:

[code]

Proposed solution:
Add an AviExtractor to support parsing the container of avi video.

[2019-08-29 06:34] xufuji456 opened #6353 "can't play video of avi format"
description:
ExoPlayer can't play video of avi format, but Android system MediaPlayer can play.
It seems that MediaCodec support decode avi format.
When use ExoPlayer to play avi video, it throws an exception:
com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4E

[2019-08-29 09:23] marcbaechinger commented on #6353
Closing as duplicate of #6352

[2019-08-29 09:23] #6353 closed, assigned to marcbaechinger

[2019-08-29 09:33] marcbaechinger commented on #6351
In case you are using download and offline support provided by the ExoPlayer library, the uri of the media actually does not change. Instead, a `CacheDataSource` does provide the data for that uri from local storage instead as from the network in a transparent way.

To make a media file available for playback for a cast receiver app, the media file must be accessible over the network by a uri. Thi

[2019-08-29 09:35] NayaneshGupte opened #6354 "Espresso with exoplayer"
### [REQUIRED] Searched documentation and issues
Sample app of exoplayer doesn't have espresso testing use cases.

### [REQUIRED] Question
I have been looking for a way to set up espresso in the same screen where the exoplayer is also integrated but not able to find a way to do it. Is there any IdlingResource and rule to for espresso with exoplayer ?

### A full bug report captured from the device

[2019-08-29 09:40] marcbaechinger commented on #6350
Can you provide us with a test app which let's us reproduces this problem? Or if that is not possible, can you run through your reproduction steps and then take a bug report right after running through these steps?

In both cases it would be very helpful if you have the `EventLogger` set with `player.addListener`, so the player is logging to the console what is going on in detail.

[2019-08-29 09:42] ojw28 commented on #5989
Apologies for the lack of update on this issue. We are very busy at the moment, and have not had a chance to take an in depth look at this yet.

Please note that your personal top priorities my not always be aligned with the project's top priorities. Note also that we update issues when we have updates, so the lack of an update by definition means there is no update. There's no need to repeatedly

[2019-08-29 09:53] marcbaechinger commented on #6354
The ExoPlayer library does not provide dedicated support for Espresso.

I'm not too much into the details of Espresso but as far as I understand it should be possible to implement an `IdlingResource` which is for instance waiting for a given event passed to `Player.EventLogger` and then call `onTransitionToIdle`. For example if you want to play a video and when the state `Player.STATE_ENDED` is pa

[2019-08-29 09:57] marcbaechinger commented on #6339
Where would you expect developers using a Kotlin build script to look for this information?

[2019-08-29 09:59] NayaneshGupte commented on #6354
@marcbaechinger so does that mean performing test while player is in READY (Playing) state , espresso test can not continue ?

[2019-08-29 10:21] marcbaechinger commented on #6331
Ok, cool. Did you physically test with all of these devices and did you find that these are not working without the workaround?

I'd be great if, once you released your app, you could update this issue an confirm success for these devices, so we can see what devices to put in the list on our side.

[2019-08-29 10:23] stetro commented on #6331
We, unfortunately, only could test physically on Honor 10 and P20. Sure! I will let you know.

[2019-08-29 11:40] xufuji456 commented on #6352
@marcbaechinger  Thank you for your quick response. Please let me know, if you need any other info about this issue. Thanks again sincerely. Wish ExoPlayer will become more and more perfect the day after tomorrow.

[2019-08-29 11:48] stari4ek opened #6355 "Getting ExoPlaybackException->IllegalArgumentException during setVideoSurface(null)"
### [REQUIRED] Issue description
Getting error while releasing surface:
[code]
or
[code]

I'm not sure if it should be handled by the app, cause of integration specifics, or it can be workarounded with `MediaCodeVideoRenderer.codecNeedsSetOutputSurfaceWorkaround`.
In other cases decoder errors are wrapped to `MediaCodecVideoRenderer.VideoDecoderException` and it's easier to identify them and apply

[2019-08-29 12:00] ojw28 commented on #5681
If it's a codec problem then the best thing to do would be to get the unencrypted stream corresponding to one of the DRM protected streams that we know is affected. We can then verify it has the same issue, and then route that to the Android Media team (it'll probably need to be further routed to the system-on-chip vendor for diagnosis).

@giladna - Is it possible for you to obtain an unencrypted

[2019-08-29 12:17] star-andy opened #6356 "Attempt to invoke virtual method 'int java.io.InputStream.read(byte[], int, int)' on a null object reference"
hello
I play a video from raw and occasionally get errors
webview GONE   to TextureView  VISIBLE  ，You get the following error
![image](https://user-images.githubusercontent.com/15726024/63939337-a3e4d200-ca99-11e9-95e1-934882869cca.png)

![image](https://user-images.githubusercontent.com/15726024/63939273-7009ac80-ca99-11e9-8ba3-5b5bc2bd715a.png)
Android device   RK3288  7.1

[2019-08-29 12:25] SharanKumarReddyKambham opened #6357 "Unable to play route content,video freezes in first frame."
Hi,

I am trying to play a Route content in Sample Exoplayer, but the player freezes in the first frame and am getting error log like

[code]

Please help me out

[2019-08-29 13:15] itchenning opened #6358 "How to play several musics at the same time"
I want to create several player, but only one player can play.
Help me, thanks a lot!

Sample:
[code]

[2019-08-29 13:41] Shadkirill commented on #2213
When can I expect this important feature to be implemented?

[2019-08-29 13:42] marcbaechinger commented on #6357
Can you provide a link to content so we can test? In general it would be best if you can provide the information which is asked for in the template:

You can find the template here: https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md

[2019-08-29 14:19] marcbaechinger commented on #6356
I think you should move the entire creation of the data source into the factory. These 2 lines in you try-block which are above

`DataSource.Factory factory = ...`

should be inside the `createDataSource` method of the factory. Do not call `open` youself. This should be done by the media source on demand.

[2019-08-29 14:27] marcbaechinger commented on #6358
You are saying 'only one player can play'. This can happen if there are not enough media codec instances available. Each player requires an instance so these three players compete with each other.

There may be ways to make this work with software decoders which do not have the same restrictions like hardware decoders. Unfortunately the information you provide is not sufficient to verify that my g

[2019-08-29 14:46] ojw28 commented on #6310
As above, if you're playing an HLS master playlist then you have 3 round trips rather than 1, just because of how HLS works. The player needs to request the master playlist, then the media playlist, then the first segment, before it can play anything. In MP3 you just make a single request.

You should investigate how long those round trips are (e.g. look at network traffic), and whether they accou

[2019-08-29 14:54] dexterleng opened #6359 "Can I use ClippingMediaSource on a ConcatenatingMediaSource?"
I have an audiobook but it is split into multiple mp3 files arbitrarily:

[code]

The chapters in the audiobook are represented by the file and the offset in milliseconds the chapter starts on:

[code]

Is it possible to use ConcatenatingMediaSource to put multiple files together and them trim the start and end with ClippingMediaSource so that it represents a chapter? This will allow me to use Con

[2019-08-29 14:57] ojw28 commented on #6291
I don't mind either way, as long as there's one issue that clearly states what we're planning to do :). Please close this one and file a new one, if it's easier. Thanks!

[2019-08-29 15:23] marcbaechinger commented on #6359
Currently ClippingMediaSource supports only media sources with a single period. So the ConcatenatingMediaSource is not supported. See also #6234 around this topic.

I mark this issue as a duplicate and close. Please comment on the other issue or reopen if you think it's required.

[2019-08-29 15:23] #6359 closed, assigned to marcbaechinger

[2019-08-29 16:57] ojw28 commented on #2213
There is currently no ETA for this.

[2019-08-29 17:20] ojw28 commented on #6322
If I remember correctly, it's also nastier because there's no guarantee that segments are aligned across variants, or (in the case of TS) that they start with a keyframe.

[2019-08-29 17:54] ojw28 commented on #6325
We could also consider having `ProgressiveMediaPeriod` bypass sniffing in the case that the factory only provides one extractor. If we did that then I think implementing the required `ExtractorFactory` would just be a lambda, so there wouldn't be a need for the library to do it.

The downside of this approach is that the failure mode will be more obscure if the app provides a single extractor and

[2019-08-29 19:21] AquilesCanta commented on #6291
Updated the title. A commit will appear below once we submit one. In the meantime you can hard-code the constant, until we get a few free cycles to get this done.

[2019-08-29 20:07] stevemayhew commented on #6322
Probably best to restrict this to playlists that indicate `EXT-X-INDEPENDENT-SEGMENTS` then.

[2019-08-29 20:36] ojw28 commented on #6333
To expand on this a bit more:
* Our demo app uses `android:configChanges` as described above.
* On API level 23 and above, we have a trick in `MediaCodecVideoRenderer` that helps to handle orientation changes in a (mostly) seamless way even if the activity isn't handling the configuration change using `android:configChanges`. In this case the `Activity` gets recreated. The problem that arises is t

[2019-08-29 20:36] #6333 closed, assigned to tonihei

[2019-08-29 20:59] ojw28 commented on #5861
I'm curious how you would envisage "user is able to switch between different camera angles during playback" working in practice. To get it seamless you would either have to:

1. Not switch immediately. This can be confusing from a user perspective, because they've pressed a button and a couple of seconds later they can still be waiting for something to happen. I guess this can be mitigated to some

[2019-08-29 21:08] ojw28 commented on #6255
Yes, I observe this too.

[2019-08-29 21:29] ojw28 commented on #6346
Note that #6331 is also proposing adding this device to the `setOutputSurface` workaround.

[2019-08-29 21:31] ojw28 commented on #6331
Note that just adding `HWCOL` to the big list in `codecNeedsSetOutputSurfaceWorkaround` isn't going to do anything for the device for which you sent the bug report. The device has `SDK_INT == 27`, and the code block that contains the big list is only for `SDK_INT < 27`. You'll need to do it further up around where `dangal` and `HWEML` are handled for your change to be effective.

[2019-08-29 21:33] ojw28 commented on #6294
Can we duplicate this onto https://github.com/google/ExoPlayer/issues/6331? The symptoms may be different but it seems like the solution is going to be the same.

[2019-08-29 21:42] perracodex commented on #6346
The only concern is that the setOutputSurface workaround seems to be for devices with API < 27, and the Huawei P20 Lite test device were we can see this issue is running API 28.
On the other hand the issue happens rarely, sometimes not seen for hours even through constant testing to try to reproduce it, so making it more strange due to its lack of consistency.

[2019-08-29 21:56] WassimErriha commented on #5861
@ojw28
Yes, your first point is what I had in mind.
The idea is that the player will be switching at random between streams (angles) at a 10sec interval for instance. But at the same time, the user has the option to override the automatic selection. In this case a UI component can be shown during transition between track.

My initial though was to use a custom trackselector to achieve this, but as

[2019-08-30 00:15] ssenanayake commented on #6297
Please refer to section 3.9.2 ("Adaptation Set Labeling Options for Selection") of https://dashif.org/docs/DASH-IF-IOP-v4.2-clean.htm#_Toc511040753

"Label | 0 � N | See ISO/IEC 23009-1 [4], clause 5.3.7.2 Table 9. This element enables to provide a textual description of the content. This element should be used if content author expects that clients supports UI for selection. However, this element

[2019-08-30 00:31] fgl27 opened #6360 "HLS Live stream targetDurationUs is not always a ideal way to calculate time for next playlist load"
### [REQUIRED] Content description
This issue is related to https://github.com/google/ExoPlayer/issues/4217

I also have some content that result in the main issue described here https://github.com/google/ExoPlayer/issues/4217#issue-320953832

stead of just hardcode the value for **targetDurationUs** as is described there I did this:
https://github.com/fgl27/ExoPlayer/commit/8f298bb23fc7fc061702dd

[2019-08-30 01:01] #6263 closed, assigned to ojw28

[2019-08-30 02:07] AlphaCircle commented on #6350
Hello Marcbaechinger
Thanks for your quick response. I think the faster way is the latter option you have. Let me add the EventLogger to my program and get the log message and share that up with you. Let me get back to you soon.

[2019-08-30 03:42] fgl27 commented on #6360
Using player.getTotalBufferedDuration() I manage to understand how this issue is be produce.

we are playing a live stream that has as base this values

	#EXT-X-TARGETDURATION:6
	#EXTINF:4.166,live
	#EXTINF:2.000,live
	#EXTINF:1.084,live

the rule for **#EXT-X-TARGETDURATION** says that all Media Segments will be less or equal to defined value so is not a problem that the TARGETDURATION = 6 and EX

[2019-08-30 03:42] itchenning commented on #6358
Like these code below, if I replace Exoplayer  as MediaPlayer , it can work ,  it can play 3 rings at the same time.But use Exoplayer ,  it only play 1 ring. the ring is rondom choice.

     for (ringinfo in mMixInfo.ringList) {
            val player = ExoPlayerFactory.newSimpleInstance(this , DefaultTrackSelector())
            val defaultDataSourceFactory = DefaultDataSourceFactory(this , "audi

[2019-08-30 04:04] francois-cabrol opened #6361 "How do I access the current MediaSource from the DRM session?"
I am trying to implement Widevine DRM management in my ExoPlayer-based application. In the solution I use (based on DASH), each movie has its unique ID and the request I send to the license server has to contain the ID of the movie that I am trying to play.

I would then need the ID corresponding to my movie in the **DrmCallback.** Is there a way in **DrmCallback**, **DrmSession** or **DrmSessionM

[2019-08-30 07:05] juechemparathy opened #6362 "Black flash during bitrate switch from 30fps to 60fps"
### Issue description
Black flash happens on switching from lower bitrate on 30fps to higher bitrate on 60fps.

### Reproduction steps
1. Start playback with good bandwidth and a playlist with 30fps as lowest bitrate and 60fps highest streams.
2. Wait for few seconds to switch to highest bitrate.
Result: Black screen during the transition during bitrate switch

Link to test content - **Widevine-DR

[2019-08-30 07:16] drayan85 commented on #6351
@marcbaechinger Thanks

[2019-08-30 07:16] #6351 closed, assigned to marcbaechinger

[2019-08-30 07:47] stetro commented on #6331
Sure, I have just inherited the Renderer and my setup now looks like this:
[code]

[2019-08-30 07:49] stetro commented on #6294
May let us wait until we have verified ANR statistics with our upcoming release to ensure that this will help with the ANR issues. (~1.5 Weeks)

[2019-08-30 07:51] kgrevehagen commented on #6361
This is exactly what I proposed here: https://github.com/google/ExoPlayer/issues/6342

As far as I've understood, this will be fixed in 2.11.0, but only if you know the ID at the time of creating the `MediaSource`, since from version 2.11.0 you can send in the `DrmSessionManager` in the MediaSource(and then send in the same ID to a custom `MediaDrmCallback`).

Right now I have used a hacky workaro

[2019-08-30 08:21] perracodex commented on #6346
We are narrowing the cause of the issue. The latest findings:

When we are encoding a video we use a TextureView as a camera preview surface, which is the source of the frames being encoded.

In our flow, once the encoding ends, we stop the camera preview “**asynchronously**”, and at the same time we open a new Activity for the new encoded video playback.

It seems that if before opening the video

[2019-08-30 08:47] marcbaechinger commented on #6360
@AquilesCanta Can you please comment on this issue?

[2019-08-30 09:28] ojw28 commented on #6297
ISO/IEC 23009-1 [4], clause 5.3.7.2 Table 9 doesn't define `Label` though :(. Seems like an error in the DASH-IF document.

[2019-08-30 09:41] ojw28 commented on #6297
I filed https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/383 for clarification.

[2019-08-30 09:56] marcbaechinger commented on #6358
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2019-08-30 09:59] ojw28 commented on #6355
On first inspection, it appears this would be caused by `MediaCodecVideoRenderer` calling `setOutputSurface` with null. This appears to be impossible, however. There's only one call site and it's surround by a non-null check, [here](https://github.com/google/ExoPlayer/blob/e267550d95a72ba7261eddad6dea8f8ce379e8e8/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRendere

[2019-08-30 10:00] dexterleng commented on #6359
@marcbaechinger would it be possible to clip and then join them?

For example:

file01.mp3 is split into chapter1, chapter2 (first chunk),

file02.mp3 is split into chapter2 (second and last chunk), and chapter3.

I would then join the two chunks to form chapter 2.

[2019-08-30 10:30] gokulkalagara opened #6363 "Failed to handle key response: General DRM error (-2000)"
While playing in exo-player mpd video (DRM WIDEVINE + DASH)

ExoPlayerImplInternal: Playback error.
com.google.android.exoplayer2.drm.DrmSession$DrmSessionException: android.media.MediaDrm$MediaDrmStateException: Failed to handle key response: General DRM error

[2019-08-30 10:39] pawaom opened #6364 "Add asset for exo_controls_shuffle_off rather than applying transparency in code"
Before filing a question:
-----------------------
how to change color of Shuffle and Repeat Toggle button in exo_playback_control_view  when selected

The way to change color for Shuffle button is

[code]

when its clicked the transparency changes to 0.3f

But I want to change the color to White , when the button is selected

how can this be done

thanks in advance

[2019-08-30 10:45] pearleye opened #6365 "How to disable AV sync and allow Audio and video to free run independently?"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/

### [REQUIRED] Question
How to disable AV sync and allow Audio and video to free run independently?
We are using a custom video Data source which has DVB MPEG TS data.

### A full bug report captured from the device
NA

### Link to test content
NA

[2019-08-30 11:05] AquilesCanta commented on #6361
Marking as a duplicate of #6342.

[2019-08-30 11:05] #6361 closed, assigned to AquilesCanta

[2019-08-30 11:14] AquilesCanta commented on #6338
You can inject a custom [HlsDataSourceFactory](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/HlsDataSourceFactory.html) which returns a custom DataSource implementation for type C.DATA_TYPE_DRM which adds the token to the URIs when executing the key requests.

[2019-08-30 11:14] #6338 closed, assigned to AquilesCanta

[2019-08-30 11:15] gokulkalagara commented on #6349
I got the same issue?

[2019-08-30 11:20] star-andy commented on #6356
My personal reasons have been solved. Thank you very much

[2019-08-30 11:20] #6356 closed, assigned to marcbaechinger

[2019-08-30 13:21] AquilesCanta commented on #6337
I don't really see the issue.

Let's imagine you have a component with its own handler thread which is the TokenManager. Your media drm callback requests the token from the TokenManager each time it needs it.

If the TokenManager doesn't have a token or is renewing a token at the moment, the token request blocks the MediaDrmCallback from making the license request.

If the license request returns

[2019-08-30 14:19] marcbaechinger commented on #6363
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-08-30 14:47] marcbaechinger commented on #6364
The [logic to apply the transparency is in code](https://github.com/google/ExoPlayer/blob/85c10b02567b66ecfaaaacfd0ba9389b41bf919e/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerControlView.java#L819). You can not change this easily without changing the source code of PlayerControlView.

The style of the button is [defined in a style](https://github.com/google/ExoPlayer/blob/85c10

[2019-08-30 14:54] marcbaechinger commented on #6354
Being not an Espresso expert, I assume the espresso test runs on a thread which is similar to the main thread in the app. As ExoPlayer has it's own playback thread, the player will not block that main thread when doing playback. In fact I believe you need to make sure that your test does not end and hence stop ExoPlayer while the player is doing playback.

As far as I understand this is exactly wh

[2019-08-30 16:38] dexterleng commented on #6234
@brianchu have you tried clipping first before concatenating?

[2019-08-30 17:56] andrewlewis commented on #6365
Audio will play in real time (assuming you aren't using speed adjustment). The audio track position is used as the player position by default. To override this behavior you can subclass the audio renderer and return `null` from `getMediaClock`. Having done that you can rely on rendering based on wallclock time (but A/V sync may drift as the audio position may not advance perfectly linearly), or ha

[2019-08-30 18:11] mikulbhatt commented on #6362
@juechemparathy can you provide some test stream? also the stream you are trying is Widevine DRM protected DASH right? Do you observe similar behavior on HLS ? can you confirm on that?

[2019-08-30 18:15] AquilesCanta commented on #4867
Super useful. I've started looking into this, we should be able to push it to the dev branch relatively soon.

[2019-08-30 18:20] SafaAkbulut commented on #5980
I have same problem with my Xiaomi Mi Box Android TV App

[2019-08-30 18:22] mikulbhatt commented on #4867
Awesome!

[2019-08-30 18:49] juechemparathy commented on #6362
@mikulbhatt - I don't have an HLS test stream with same setup. Stream url has been emailed to dev.exoplayer@gmail.com

[2019-08-30 19:25] stevemayhew opened #6366 "Playback stalls forever in buffering with "Music Choice" content tunneling"
### Content description
The content is a stream generated from Music Choice channels (often found in cable broadcast).  What happens is playback stalls in buffering state, the video renderer is stalled (`Renderer.isReady()` reports false because the sample queue has been completely read) but no more video segments loads are kicked off (`LoadControl` does not request loading).

I've only reproduced

[2019-08-31 00:35] stevemayhew commented on #6366
The issue is caused by the stream, but it points out something worth considering in ExoPlayer's buffering state transitions algorithm...

Because the video frame rate is so low the first segment of video is loaded, decoded and buffered in the video MediaCodec, then the renderer is no longer isReady().  Falling out of the loop it would move the playhead forward enough to cause it to need to load mo

[2019-08-31 04:58] pratikbutani commented on #867
It will be more good if you provide your adapter class.

[2019-08-31 04:59] pratikbutani commented on #867
Did you get any solution? I am also stuck with Firestore Database. I wanted to load videos from Firestore Database.

[2019-08-31 05:08] pawaom commented on #6364
thanks for the reply, can this feature be added in future updates

[2019-08-31 06:38] marcovietovega opened #6367 "Option to set requirements for individual downloads"
### Use case description
I have a preference settings screen in my app, where I can enable or disable downloads with cellular data. But i'm trying to allow to start a single download using cellular network (even cellular downloads are disabled in settings), but all other downloads should not start or continue if the option in the settings does not allow it.

### Proposed solution
An option that al

[2019-08-31 08:29] sahujaunpuri commented on #867
I'm not store video etc on firebase.
I want just get url etc firebase database.

[2019-09-01 09:26] dexterleng opened #6368 "Custom derived values for timebar?"
Is there a way I can override some functions in PlayerControlView so that the timebar duration and progress are different? I have offsets in my mp3 files to denote start of a track. I have to calculate duration and progress relative to those offsets.

[2019-09-01 13:15] prashant-prajapati opened #6369 "Black Screen Video playback | Audio Playback working Fine | DRM Content | One plus Android 9"
A black screen is displaying while playing live stream DRM protected content of the low resolution. While High-resolution stream is working fine. No error logs and not crash.

[2019-09-01 17:44] prashant-prajapati commented on #5681
I'm also facing the same issue on OnePlus6. The high-resolution stream is working fine but low quality and medium quality stream creating the problem and showing black screen while audio is working fine. Any update on this.

[2019-09-01 19:55] azhar5678 commented on #6287
How and where to.increase the.buffer size so that video segments load
faster.

On Thu, Aug 29, 2019, 6:31 AM Google Open Source Bot <
notifications@github.com> wrote:

[2019-09-01 22:26] #4337 closed, assigned to ojw28

[2019-09-01 22:26] #4319 closed, assigned to ojw28

[2019-09-01 22:26] #4249 closed, assigned to ojw28

[2019-09-01 22:26] #4200 closed, assigned to ojw28

[2019-09-01 22:30] #6165 closed, assigned to ojw28

[2019-09-02 01:30] AlphaCircle commented on #6350
Hello Marcbaechinger
Sorry for late response. I've tested this or that case and try to build up a test apk for your easiness to this issue. During the preparation and test, I found one weird thing that the volume gets louder with a certain video clip (call A clip) and not with another (call B clip)

I tested Clip A and got the log file as attached and verified again the volume is strange. However,

[2019-09-02 05:49] stari4ek commented on #6355
[code]
[code]
One more a bit different, but with same steps. `setSurface(null)`
[code]

Stats for last month: _"This issue has 1477 non-fatals affecting 675 users"_. (MAU is ~30k)
It goes to playerFailed(), so no fatal crashes here.

It's hard to tell what exactly happens on device. Since it's TIF app, `onSetSurface(null)` is called when user leaves "Live TV"\"Live Channels". Also there is a chanc

[2019-09-02 08:38] szaboa commented on #5993
We would like to have the same functionality (be able to toggle internal storage and external storage). Any information about the status? Is this something planned?

[2019-09-02 08:56] tfcporciuncula commented on #5993
Here's my current reflection code for future reference, since it seems this might be useful for other people:

[code]

[2019-09-02 09:09] marcbaechinger commented on #6364
Which feature are you referring to? The things I explained above are already included?
What change do you suggest to be put in the next release?

[2019-09-02 10:33] AlphaHans opened #6370 "Widevine provisioning (China): Unable to connect to "googleapis.com""
### [REQUIRED] Question
When i use exoplayer to play a drm type video. I get some issues. why drm need to connect to "www.googleapis.com" this domin? I'm in China Mainland. I think is that our country network can't access to this domin, is any possible i can fix this?

### A full bug report captured from the device
[code]

[2019-09-02 10:36] ojw28 commented on #6370
@rrfrias - Please comment on how provisioning is supposed to work for devices in China. Thanks!

[2019-09-02 10:37] ojw28 commented on #6370
Ignore, since the original post author closed the issue.

[2019-09-02 10:43] tonihei commented on #6359
@dexterleng  That should be possible. However, note that the items are still treated separately in our UI for example. There is #4868 to improve support for this.

[2019-09-02 10:51] ojw28 commented on #6360
The HLS specification explicitly says that clients must do this, at least under some circumstances:

To me, this implies that segment durations probably shouldn't be less than one-half of the target duration either, where-as in the snippet above it seems that segment durations are much shorter.

[2019-09-02 11:50] ojw28 commented on #6287
There isn't a coherent problem description or anything actionable for us here (the last question seems unrelated). Closing.

[2019-09-02 11:50] #6287 closed, assigned to AquilesCanta

[2019-09-02 12:02] ojw28 commented on #6234
I think you can already do what you want to do. Suppose the mp4 is 10 seconds and you want to play for 56 seconds. Create a `MediaSource` for the mp4, which we'll call `A`, and do the following (this is pseudo-code only; it's not intended to actually compile):
[code]
Closing this issue on the assumption that the above works (please let us know if not). I know that @tonihei has some plans on making

[2019-09-02 12:07] ojw28 commented on #6368
It's not a final class, so in theory you can extend it and override methods.

Whether there's a method for the specific thing is that you want to do is a different question. It's somewhat unlikely; it's not possible for us to anticipate all of the types of customization that anyone would want to do. If you want to propose a method that you can override that'll enable what you need, please feel fre

[2019-09-02 12:07] #6368 closed, assigned to ojw28

[2019-09-02 12:19] ojw28 commented on #6352
Duplicate of https://github.com/google/ExoPlayer/issues/2092

[2019-09-02 12:19] #6352 closed, assigned to marcbaechinger

[2019-09-02 12:24] ojw28 commented on #6323
Closing for now because it sounds like the IMA SDK would need to be modified to support this. Please open a new issue if and when the underlying support is available for us to build on top of. Thanks!

[2019-09-02 12:24] #6323 closed, assigned to andrewlewis

[2019-09-02 12:36] ojw28 commented on #5861
Got it, thanks. This request is effectively a combination of https://github.com/google/ExoPlayer/issues/2600 (specifically for HLS) and https://github.com/google/ExoPlayer/issues/2250 (which is what you're requesting here). Hence I think we can close this as a duplicate, primarily of the second of these.

[2019-09-02 12:36] #5861 closed, assigned to AquilesCanta

[2019-09-02 12:46] ojw28 commented on #6364
@marcbaechinger - I think we should add an `exo_controls_shuffle_off` asset that has the transparency baked in. It's inconsistent that we're applying the transparency in code just for this case. We already have `exo_controls_repeat_off` for the equivalent repeat mode, for example.

As a separate point, we should also try and move the transparency in `setButtonEnabled` into a style or resource some

[2019-09-02 12:54] ojw28 commented on #6253
The referenced thread doesn't seem to contain enough information for us to do anything here. I'm going to close this on the assumption that the media is bad (i.e. contains an incorrect channel count in the container). We haven't seen this issue reported until now, so it's unlikely to be a widespread problem.

[2019-09-02 12:54] #6253 closed, assigned to ojw28

[2019-09-02 12:54] AquilesCanta commented on #6334
We still need to allow custom implementations.

[2019-09-02 13:20] andrewlewis commented on #3058
As this thread describes a possible workaround, I'm going to close the issue. If an enhancement is still needed in this area please file a new issue and describe the behavior you're looking for. Thanks.

[2019-09-02 13:27] andrewlewis commented on #4261
This thread describes a couple of possible ways to synchronize playing multiple separate audio streams but they are quite a lot of work. As this doesn't seem to be a popular use case I'm afraid we're not planning to support it, either by adding functionality to the player or by giving more guidance on how to implement it.

It sounds like there's also an issue that might be related to HLS but not e

[2019-09-02 13:27] #4261 closed, assigned to andrewlewis

[2019-09-02 13:49] andrewlewis commented on #4924
@roundsmapp Sorry for the delay. The bug report provided is from ExoPlayer 2.7.1 and does show some AudioTrack underruns. There was at least one fix around tracking the audio position while looping since that build, so please could you update to tip-of-tree and try to reproduce this in the ExoPlayer demo app? As some time has passed it would also be worth checking for system updates for the affect

[2019-09-02 13:55] Random786 opened #6372 "java.lang.AbstractMethodError (DataSource.addTransferListener)"
I am facing a issue with this code getting an error related to **java.lang.AbstractMethodError: abstract method "void com.google.android.exoplayer2.upstream.DataSource.addTransferListener(com.google.android.exoplayer2.upstream.TransferListener)"**

Previously i am using 2.8.1 Its working amazing without any error i upgraded to latest version in this i am facing this issue even i did not done any c

[2019-09-02 14:36] tonihei commented on #6234
I think there is no enhancement tracking "Clipping of multi-period content" as such. We have one to track changing the clipping position during playback (https://github.com/google/ExoPlayer/issues/3163), but this is only helpful for this case to adapt the clipping duration of the last loop to adjust for the total duration of the previous loops (if it was unknown before playback).

It would make se

[2019-09-02 14:38] ojw28 commented on #6372
As of 2.9.0 you need to enable Java 8, as per the [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md). See also the [developer guide](https://exoplayer.dev/hello-world.html), and in particular the need to add the following to the right place in your build.gradle file(s):
[code]

[2019-09-02 15:03] tonihei commented on #6320
Let's keep this issue as it is newer and has more details.

Another example ass file content is in https://github.com/google/ExoPlayer/issues/4725#issuecomment-415761851.

[2019-09-02 15:03] tonihei commented on #4725
Duplicate of #6320.

[2019-09-02 15:03] #4725 closed, assigned to ojw28

[2019-09-02 15:10] tonihei commented on #6338
Just to add to what @AquilesCanta already said: You should probably use a `ResolvingDataSource` (on its own or within a `HlsDataSourceFactory`) for this case to inject a custom `Resolver` that adds the token to the URI. This makes the implementation easier and less error-prone than implementing a full custom `DataSource`.

[2019-09-02 15:22] WassimErriha commented on #5861
I was intacipating a work around that I can implement in the meantime if this is not too much of a hassle.
Is this on the roadmap yet ?
Thanks for your time !

[2019-09-02 15:35] ojw28 commented on #5861
It's not prioritized as part of our current roadmap. It's also not possible for us to provide detailed guidance on this kind of workaround without it consuming an unreasonable amount of time, sorry.

[2019-09-02 15:39] WassimErriha commented on #5861
Thanks for your time anyway.

[2019-09-02 15:56] fgl27 commented on #6360
If  the below is a rule

exo should account for it and not expected they be bigger then half.

this:
https://github.com/google/ExoPlayer/blob/dev-v2/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/playlist/DefaultHlsPlaylistTracker.java#L657

is never be used on this issue I have checked is not a problem of empty/unchanged playlist.

The issue is that exo doesn't account that it

[2019-09-02 16:06] tonihei commented on #6284
We should use some form of hysteresis to prevent the scenario you describe. For example by only disabling the special mode once we reach THERMAL_STATUS_LIGHT or THERMAL_STATUS_MODERATE. Not sure how fast these states are supposed to change.

[2019-09-02 16:45] ojw28 commented on #6360
I'm not sure I understand your response. The HLS specification states:

The code you reference appears to do exactly that, in which case we're implementing the specification correctly. Conversely, you appear to be saying that we should implement something that's explicitly not what the HLS specification asks for. Please clarify.

[2019-09-02 17:05] fgl27 commented on #6360
from where you are reading those specification? share the link please.

tell me if this is also a " HLS specification"

if it is and is be used here so I guess yes, there is the chance that you load a playlist that has on it segments that they total time is less then **EXT-X-TARGETDURATION**, in that case the next playlist can't be load base on **EXT-X-TARGETDURATION** alone, because if that happe

[2019-09-02 17:16] ojw28 commented on #6360
The same specification that you've already linked to. [Section 6.3.4](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-6.3.4).

The specification is very clear about the minimum delay between playlist refreshes, and your proposal explicitly goes below them. It's unlikely that this is correct.

On further thought, I don't think this is correct. Provided the playback position

[2019-09-02 17:29] AquilesCanta commented on #4867
@mikulbhatt, do you think you can provide a VOD stream with at least one encrypted to clear and one clear to encrypted transition? That would ease the testing process.

[2019-09-02 17:42] andrewlewis commented on #4588
@dylantran09 Sorry for the delay. Could you confirm that the problem is that the player position is offset from the expected value after a seek? If so, I'm not able to reproduce this in the demo app (tried seeking to a variety of positions).

[2019-09-02 18:11] zachmanc commented on #4867
@AquilesCanta I have some VOD HLS widevine content if that would be helpful for you

[2019-09-02 18:20] ferglezt commented on #6344
- MP3 content plays without interruptions.
- Non licensed Dash content plays without interruptions aswell.

So I guess the problem is caused by how DRM keys are handled internally by Android. Even if I download a license with a different MediaDrmCallback, audio interruptions still happen.

[2019-09-02 18:38] AquilesCanta commented on #4867
That'd be useful too. We just need the clear/encrypted transitions.

[2019-09-02 18:45] TheJohnBowers commented on #4867
https://content.uplynk.com/054225d59be2454fabdca3e96912d847.mpd?prettydash=1&ad=cleardashnew

license URL - https://content.uplynk.com/wv

First Ad break at 1:43

[2019-09-02 18:58] fgl27 commented on #6360
No I'm not, I notice that the playback is as close to the edge as can be, the only thing I have change is that the default buffers are lower DEFAULT_BUFFER_FOR_PLAYBACK_MS and DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS are 1s.

When the **HlsMediaPlaylist** is called the total segment size is 28s, but it isn't starting on the first segment but 6s before the end.

With is odd as that is the **ta

[2019-09-02 19:57] AquilesCanta commented on #4867
Thanks!

[2019-09-02 20:03] fredgc commented on #5681
Prashant, can you share both the encrypted and the unencrypted stream that is causing problems?

[2019-09-02 22:36] juechemparathy commented on #6362
@marcbaechinger  - Let me know if you need any help on reproducing the black flash we see during the switch. Thanks.

[2019-09-03 02:47] Random786 commented on #6372
I already had Java 8 in my build.gradle file     the problem is something with this lines
[code]
in this 4 lines of codes getting error app closing..

[2019-09-03 04:58] thorbenprimke opened #6373 "Allow playlist items to specify a start position"
### [REQUIRED] Use case description
The use case for `initialSeekTime` is for creating / restoring a playlist or queue in which more than one item has an initial seek.
The initial seek is the time that the item was previously paused at. The reason for more than one is that the queue is re-arrangeable and thus an item with an initial seek from position 0 could be moved to position 1 and the item in

[2019-09-03 05:01] gokulkalagara commented on #6363
[code]

**DRMCallBack**

[code]

**Dash Media source**
[code]

[2019-09-03 05:46] Navidhp opened #6374 "how to switch dynamically between hls and dash in exoPlayer ?"
hi , we have several server streams. Some servers have HLS and some others have DASH. can I write switch between HLS and DASH dynamically when a movie is played with a player ?

[code]

[2019-09-03 06:20] supriyatambe131995 opened #6375 "detect m3u8 quality in exoplayer"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2019-09-03 06:57] juechemparathy commented on #4133
@AquilesCanta - This seems affecting our playback experience too. Please let me know if you need any help with test streams. Thanks.

[2019-09-03 06:58] andrewlewis commented on #6375
There isn't enough information here for us to help. Please give a through description of the feature you're looking for.

[2019-09-03 07:03] andrewlewis commented on #6373
@tonihei Please could you take a look at this?

[2019-09-03 07:49] AlphaHans commented on #6370
@ojw28 @rrfrias  pls help. thanks!

[2019-09-03 07:51] AlphaHans commented on #6370
I close this issus, because i think i don't describe this question clearly.  but i see your comment, i think you know what i'm saying

[2019-09-03 07:53] AlphaHans commented on #6370
Now i trying to build a mirror server in China Mainland.  but i'm worry about there are another connection to google domin.

[2019-09-03 07:54] AlphaHans commented on #6370
Is there any infomation about why i need to connect to  "https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create" ? I can do this in offline?

[2019-09-03 07:55] SharanKumarReddyKambham commented on #6357
**Content description:**

Hi,I am trying to play a Route content in Sample Exoplayer, but the player freezes in the first frame and the progress bar updates.I am playing this sample video without audio.I cant play either local file or the stream which is placed in local network.

**Link to test content:**
 We ve sent you through email.

**Version of ExoPlayer being used:**

We are using the Exopla

[2019-09-03 08:34] marcbaechinger commented on #5847
Closing due to inactivity.

[2019-09-03 08:34] #5847 closed, assigned to marcbaechinger

[2019-09-03 08:35] marcbaechinger commented on #5945
Closing due to inactivity.

[2019-09-03 08:35] #5945 closed, assigned to marcbaechinger

[2019-09-03 08:35] marcbaechinger commented on #5968
Closing due to inactivity.

[2019-09-03 08:35] #5968 closed, assigned to marcbaechinger

[2019-09-03 08:36] marcbaechinger commented on #6051
Closing due to inactivity.

[2019-09-03 08:36] #6051 closed, assigned to marcbaechinger

[2019-09-03 08:36] marcbaechinger commented on #6089
Closing due to inactivity.

[2019-09-03 08:36] #6089 closed, assigned to marcbaechinger

[2019-09-03 08:37] marcbaechinger commented on #6094
Closing due to inactivity.

[2019-09-03 08:37] #6094 closed, assigned to marcbaechinger

[2019-09-03 08:40] ojw28 commented on #6370
@rrfrias - Please comment on how provisioning is supposed to work for devices in China. Thanks!

[2019-09-03 08:44] ojw28 commented on #6372
* Please can you share your full `build.gradle` file for the module that experiences this issue?
* If you modify the ExoPlayer demo app to include the same lines of code, does that fail in the same way? If not, that would still point toward the way your application's build is configured.

[2019-09-03 08:47] ojw28 commented on #6374
You would have to re-prepare the player to switch from one to the other, which is not seamless. We do not support seamlessly switching between HLS and DASH.

[2019-09-03 08:47] #6374 closed, assigned to ojw28

[2019-09-03 08:49] ojw28 commented on #6369
We need you to fill out the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=content+not+playing%2C+needs+triage&template=content_not_playing.md&title=) completely to investigate this type of issue. Please do so (in this issue, rather than filing a new one).

[2019-09-03 08:55] AchibanaUkyo commented on #4133
@AquilesCanta Do you consider the key rotation stream which the pssh is only in segment? some encoder/packager won't put the pssh in mpd for live key rotation stream so you can't fetch license in the MediaSource. To be able to retrieve license earlier maybe trigger the license request after demuxing before rendering?

[2019-09-03 09:02] tonihei commented on #6373
We talked about this feature request recently and decided that we probably need a way to specify a start position for a playlist item that is not the first to be played [internal ref: b/138782031]

The approach you mention above of writing a `MediaSource` wrapper and a `Timeline` wrapper to override the `windowDefaultStartPositionUs` works to set the start position for all cases. However, this is

[2019-09-03 09:38] marcbaechinger commented on #6363
As the issue templates states, it would be very valuable if you could send us a link to the test content (along with the required DRM properties). If this is not possible for some reasons, can you please create a bug report right after the exception happened as well as some information on which devices and OS versions this has been observed.

You can find the issue template [here](https://github.c

[2019-09-03 09:53] marcbaechinger commented on #6362
Hey @juechemparathy Sorry I messed it up:
-> Token expired 353755 seconds ago

:( Sorry, can you send another url?

[2019-09-03 10:08] AquilesCanta commented on #4133
We are working on other DRM improvements at the moment, please be patient. A commit will appear below once we push something to the dev-branch.

[2019-09-03 10:11] AquilesCanta commented on #4133
@AchibanaUkyo That's what we intend to do.

[2019-09-03 10:15] #6363 closed, assigned to marcbaechinger

[2019-09-03 10:24] marcbaechinger commented on #6205
Closing due to inactivity.

[2019-09-03 10:24] #6205 closed, assigned to marcbaechinger

[2019-09-03 10:25] marcbaechinger commented on #6232
Is this still an issue or can we close this?

[2019-09-03 10:27] marcbaechinger commented on #6285
Sorry, I missed this issue.

This should work. Have you verified that the code with which you get text out of the intent is correct. Seems like duplicating thing to me:

[code]

[2019-09-03 11:01] saurabhdtu commented on #6375
using exoplayer 2.10.2
@andrewlewis  I am also facing problem regarding bandwidth and track adaptability. Here's the issue
I am  playing a m3u8 file using the following code
`
TrackSelector trackSelector = new DefaultTrackSelector(videoTrackSelectionFactory);
simpleExoPlayer = ExoPlayerFactory.newSimpleInstance(this);
hlsDataSource = new DefaultDataSourceFactory(this,
Util.getUserAgent(this, "Root

[2019-09-03 11:07] saurabhdtu opened #6376 "Track Selection not updating on change in network quality for m3u8 file"
using exoplayer 2.10.2
@andrewlewis I am also facing problem regarding bandwidth and track adaptability. Here's the issue
I am playing a m3u8 file using the following code
`TrackSelector trackSelector = new DefaultTrackSelector(videoTrackSelectionFactory); simpleExoPlayer = ExoPlayerFactory.newSimpleInstance(this); hlsDataSource = new DefaultDataSourceFactory(this, Util.getUserAgent(this, "Rooter"

[2019-09-03 11:10] marcbaechinger commented on #6357
Did you sent the content url to  dev.exoplayer@gmail.com? I can not find it in the inbox.
Please put "Issue 6357" into the subject of the email.

[2019-09-03 11:36] SharanKumarReddyKambham commented on #6357
I ve sent the content.Please check

On Tue, Sep 3, 2019 at 4:41 PM Marc Baechinger <notifications@github.com>
wrote:

--
Thanks & Regards

<http://www.gaiansolutions.com/>
Kambham Saran Kumar Reddy
MTS-II
o:  +91 40 23551112
m: +91 9738250978
w: www.gaiansolutions.com

[2019-09-03 11:51] andrewlewis commented on #5483
Did you find a workaround for this or diagnose any issues with the stream in the end?

[2019-09-03 11:52] #6249 closed, assigned to andrewlewis

[2019-09-03 11:53] #6365 closed, assigned to andrewlewis

[2019-09-03 11:58] andrewlewis commented on #6376
Duplicate of #6375

[2019-09-03 11:58] #6376 closed, assigned to andrewlewis

[2019-09-03 12:14] imfondof opened #6377 "已解决"

[2019-09-03 12:34] #6377 closed, assigned to nobody

[2019-09-03 13:17] namespace7 opened #6378 "Unable to launch the Application using exo player 2.10.0"
The application crashes every time i launch it on Android Q .

[2019-09-03 13:19] namespace7 commented on #6378
Logcat

   --------- beginning of crash
2019-09-03 18:38:29.672 25158-25158/com.namespace.av1test E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.namespace.av1test, PID: 25158
    java.lang.NoSuchMethodError: No static method metafactory(Ljava/lang/invoke/MethodHandles$Lookup;Ljava/lang/String;Ljava/lang/invoke/MethodType;Ljava/lang/invoke/MethodType;Ljava/lang/invoke/MethodHandle;Ljava/l

[2019-09-03 13:20] namespace7 commented on #6378
Code sample

public class videoStream extends AppCompatActivity {
    private PlayerView simpleExoPlayerView;
    private SimpleExoPlayer player;
    private View loading;
    private ImageButton changeQuality;
    private TrackGroupArray trackGroups;
    private TrackSelector trackSelector;
    private  MappingTrackSelector selector;
    private  TrackSelection.Factory videoTrackSelectionFactory;

[2019-09-03 13:21] namespace7 commented on #6378
the url contains the Dash stream.
suggestion will be appreciated

[2019-09-03 13:37] ojw28 commented on #6378
Have you enabled Java 8 in your `build.gradle` file? This has been a requirement since 2.9.0, as per the [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md).

[2019-09-03 13:48] namespace7 commented on #6378
enabling java 8 does the job , but only the sound is been played(no video).
I'm trying to test Av1 codec stream on android Q
as mentioned here
**https://medium.com/google-exoplayer/exoplayer-2-10-whats-new-15d344eaa8b9**

[2019-09-03 14:04] marcbaechinger commented on #6357
Thanks! I requested access.

[2019-09-03 14:10] AlphaHans commented on #6370
@rrfrias  pls , out project's deadline is coming.

[2019-09-03 14:27] marcbaechinger commented on #6285
The [class level java doc of the PlayerNotificationManager](https://github.com/google/ExoPlayer/blob/85c10b02567b66ecfaaaacfd0ba9389b41bf919e/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L72) explains, how you can hide/show buttons in the notification.

[2019-09-03 14:59] ojw28 commented on #6378
Please provide complete information if you want us to investigate the AV1 issue.

[2019-09-03 15:27] namespace7 commented on #6378
File:
[demo.zip](https://github.com/google/ExoPlayer/files/3570189/demo.zip)

What I'm trying to do?
This file contains the AV1 codec dash stream which I'm trying to play, in android Q emulator, using Exo Player library  version 2.10.0.
the application is only playing the audio(no video) from the stream file url.

does the file actually contains both audio as well as video ?
Well,yes . the file pl

[2019-09-03 15:42] ojw28 commented on #6378
I think the emulator doesn't include an AV1 decoder yet. Please try testing on a physical device.

[2019-09-03 17:55] rrfrias commented on #6370
Can you contact our partner engineering team ( https://www.widevine.com/contact then click support )? If you do not hear back, let me know.

[2019-09-03 18:12] Proxwian commented on #854
We really need that feature in exoplayer :c

[2019-09-03 21:48] juechemparathy commented on #6362
@marcbaechinger - Please find the test url here - `https://content-vmg.uplynk.com/event/071815f671914422991c2b17dfc91dd6.mpd?tc=1&exp=1567547393&rn=2331&ct=e&cid=071815f671914422991c2b17dfc91dd6&iph=b8b50fcc399d90a482ab2fffe366ebf42bf98a7abf58076d4481fe0a03dcce6b&ad.dnt=true&ad.m.appBundle=com.yahoo.mobile.client.android.example.yvideosdkdemo&ad.m.device=android-app&ad.m.session=H4KCKQM8&ad.r=vsdk

[2019-09-04 01:40] Ethan1983 commented on #6284
For an API consumer, it would be great if the usage can be made something similar to DefaultBandwidthMeter

https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultBandwidthMeter.html

[2019-09-04 03:12] Random786 commented on #6372
apply plugin: 'com.android.application'

android {
    compileSdkVersion 29
    buildToolsVersion "29.0.1"
    defaultConfig {
        applicationId "com.inapp.simplejio"
        minSdkVersion 16
        targetSdkVersion 29
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }
    buildTypes {
        release {

[2019-09-04 05:21] SharanKumarReddyKambham commented on #6357
@marcbaechinger Check now

[2019-09-04 05:21] abhishekBansal commented on #5983
I can reproduce this issue as well. Only for Android 6.0 and below.
Here is more info
I am trying to play an audio clip. Sending audio clip url to dev.exoplayer@gmail.com. Same audio clip plays for Android 7 and above devices.

Library versions
[code]

Device Details
Its reproducible on emulator running android 6 as well. Other then that it got reproduced on `LG-X230I` running Android 6.

Let me k

[2019-09-04 08:58] Flyktsodan commented on #6203
I agree that STATE_WAITING or getting a STATE_PAUSED from MediaSession is very important. Noticed it's tagged as an "enhancement" but feels more like a critical bugg.

Not only does the UX gets really strange here that the user will see the wrong position in the UI after a call (pausing the player resets it to the correct one). But in our case we also report the position to the backend. Meaning th

[2019-09-04 09:17] jakoss commented on #6203
@Flyktsodan we will face the exact same issue at some point when we will have to report playback events to backend service. Thanks for bringing that up

[2019-09-04 09:47] ibraizQazi commented on #4680
Any updates or guideline to implement a simple custom AdsLoader?

[2019-09-04 09:48] sharish opened #6381 "Vivo Z1 Pro - Frequent MediaCodec.CodecException.ERROR_RECLAIMED failure"
Searches:
-----------------------

1. [q=MediaCodec.CodecException](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=MediaCodec.CodecException) - No result

2. [q=0xffffffe0](https://github.com/google/ExoPlayer/issues?utf8=✓&q=0xffffffe0)

Issue #5649 - Not related
Issue #3896 - Stale
Issue #1036 & Issue #978 - Outdated

### [REQUIRED] Issue description

Facing MediaCodec.CodecException

[2019-09-04 09:52] andrewlewis commented on #4680
No updates I'm afraid.

[2019-09-04 09:55] nbourdin opened #6382 "ControlPlayerView above ViewPager with playerviews = Hide/Dismiss not working"
### [REQUIRED] Searched documentation and issues
I search in some stackoverflow and questions in the ExoPlayer repo.
I also browsed the ExoPlayer source code

### [REQUIRED] Question
Hello

For my project I have some architecture constraints :
My exoplayer version is 2.8.4

Activity code
[code]
Activity layout
[code]

Layout fragment in the viewpager
[code]

I also create the file exo_player_contr

[2019-09-04 09:59] ojw28 commented on #5983
It's because you have spaces in your URL (which is discouraged pretty much in all cases; if you want a separator you should use a dash). If you must have spaces in your URLs, you should encode them as `%20`. If you replace each space with `%20` in the link you provided then playback works fine in the demo app.

[2019-09-04 10:15] nguyenhuy3588 opened #6383 "Calculate RMS while streaming sometimes cause the audio to be corrupted"
Hi all, thanks for your helps, i successfully calculated RMS value for visualizing while streaming HLS audio in the previous post: [RMS calculate while streaming](https://github.com/google/ExoPlayer/issues/6063). With the previous solution, now i sometimes faces this issue when streaming audio, it look like calculating RMS in handleBuffer callback of TeeAudioProcessor make the streaming processing

[2019-09-04 11:28] AlphaHans commented on #6370
@rrfrias  i find this in widevine doc.

![image](https://user-images.githubusercontent.com/16743494/64250964-f6b30380-cf49-11e9-96b2-cdf219c59cfa.png)

https://storage.googleapis.com/wvdocs/Widevine_DRM_Partner_License_SDK.pdf

it's possiable for me to change  "googleapis.com" to "googleapis.cn"
.

[2019-09-04 11:43] abhishekBansal commented on #5983
Seems like that was the issue, thanks! Still wondering why it was not working only on Android 6 and below.

[2019-09-04 11:46] ojw28 commented on #5983
The most likely possibility is that the network stack implementation was changed to also handle non-escaped spaces in newer releases.

[2019-09-04 11:51] tonihei commented on #5983
See also #5334 for a similar issue

[2019-09-04 11:51] fguinet opened #6384 "Report non-fatal errors through callbacks and not just as logcat warning"
Hi,

in case of an Audio discontinuity detected (cf. DefaultAudioSink line 644 : _Log.e(TAG, "Discontinuity detected [expected_ ...) nothing is raised to the AnalyticsListener (such as for onPositionDiscontinuity).
Is it a bug, a new feature to be explored or simply as designed ?
I would be very happy to have this on a coming version to better track the audio discontinuity of some live streams.

B

[2019-09-04 11:58] andrewlewis commented on #6383
I think you'd need to copy the data out of the buffer to make this work, but I'm afraid we don't have time to give detailed guidance on this kind of niche use case.

[2019-09-04 11:58] #6383 closed, assigned to andrewlewis

[2019-09-04 12:13] root-ansh opened #6385 "Documentation error: setId3Output should be setMetadataOutput"
###  Searched documentation and issues
- [x] documentation
- [x] issues

###  Question
I am new to exoplayer and video streaming in general. I was following the basic docs [here](https://exoplayer.dev/hello-world.html#attaching-the-player-to-a-view), when i found this:

![image](https://user-images.githubusercontent.com/31290636/64253658-5a820000-cf3b-11e9-8d65-e7520914262d.png)

What is id3 meta

[2019-09-04 12:14] AlphaHans commented on #6370
i'm preparing to change exoplayer code, like this
[code]

[2019-09-04 12:22] ojw28 commented on #6385
It's a documentation error. It should say `setMetadataOutput`.

[2019-09-04 12:23] asolis90 commented on #5966
Any updates on this?

[2019-09-04 12:30] ojw28 commented on #6385
Sorry, I mean `addMetadataOutput` :).

[2019-09-04 12:31] root-ansh commented on #6385
Oh i get it. thanks, @ojw28 !

[2019-09-04 12:34] andrewlewis commented on #5966
Please see the latest comment on #5006. There's a new IMA SDK preloading API in the process of being launched, and once that's available we can integrate it into the IMA extension. I think it's very likely that will fix this if the problem relates to callbacks from IMA.

[2019-09-04 12:39] saurabhdtu commented on #6375
Any update on this?

[2019-09-04 12:47] root-ansh commented on #6385
fixed both names in prs #6386  and #6387

[2019-09-04 12:58] fpittersacc opened #6388 "IMA: Support midrolls in live streams"
We are testing Live Stream with Midrolls and it seems Exoplayer gets stuck on an invalid state when Ads Uri Requests contains Midrolls.

As mentioned here (https://github.com/google/ExoPlayer/issues/5005#issuecomment-440601762) it seems Midrolls are not supported by Exoplayer IMA extension.
Could you confirm it or if there is any plan to support it?

To reproduce it, use IMA Exo Demo and Ads Reque

[2019-09-04 13:01] #6385 closed, assigned to ojw28

[2019-09-04 13:05] officialsachinverma opened #6389 "How can I change default controller buttons programatically?"
The requirement is if I select a song it started playing and if I am selecting same song again it is paused. but I want the play/pause button in controller to get changed as well.
I am not able to find any way to do it.

[2019-09-04 13:55] abhishekBansal commented on #5983
Okay Thanks! Please close the issue as I don't seem to have that access.

[2019-09-04 15:00] marcbaechinger commented on #6362
Thanks @juechemparathy!

The stream is protected. I found a comment in the mpd telling me what license server url to use but it seems not to work with that. Did you play that stream with some special setup? Can you play it in the demo app by adding it to media.exolist.json?

[2019-09-04 15:34] ojw28 commented on #6384
@tonihei - Seems worth propagating to `AudioRendererEventListener` and `AnalyticsListener`?

[2019-09-04 15:35] ojw28 commented on #6389
This is not something we support. It's not possible for us to write off-the-shelf UI components that also support all arbitrary customizations that developers want to make. For this type of feature, you probably need to implement your own UI component. Feel free to fork the ones from the ExoPlayer library as a starting point.

[2019-09-04 15:35] #6389 closed, assigned to ojw28

[2019-09-04 15:59] tonihei commented on #6384
As far as I can see there are 3 reasons why such a discontinuity in `DefaultAudioSink` can happen:
1. A regular, expected discontinuity because something changed in the track selection, the media queue, or the media period reports a discontinuity in the source. This gets all handled in `ExoPlayerImplInternal` and gets reported as `onPositionDiscontinuity`. The `DefaultAudioSink` ends up with the `

[2019-09-04 16:12] fguinet commented on #6384
In think we are in the third case. We are playing a Live stream media and
there is sometimes a PCR shift at the packager level. Indeed this is an
issue from the packager we are using, but we would like to track that kind
of QoS issue and report them when they occur (analytics).
Does that make sense ?

Le mer. 4 sept. 2019 à 18:00, tonihei <notifications@github.com> a écrit :

[2019-09-04 16:19] mikulbhatt commented on #6362
Hi @marcbaechinger please use following config

[code]

[2019-09-04 17:14] rrfrias commented on #6370
Yes that is the correct URI.

[2019-09-04 18:17] jofth commented on #5313
Is #5313 still an open bug in release 2.10.3?

[2019-09-04 18:27] AquilesCanta commented on #5313
@jofth, the answer is yes.

For internal reference, IIRC [Internal ref: cr/252046149] fixes this issue and #6006.

[2019-09-04 18:33] jofth commented on #5313
Thanks @AquilesCanta - as we currently use audio only HLS adaptive streaming is there a planned release that will resolve this, and until then a suggested work around?

@AquilesCanta Our team's observation is that when using an HLS adaptive playlist that is audio only, if the default stream fails (404s for example) then ExoPlayer does not try the next stream in the playlist.

[2019-09-04 18:37] jjfster commented on #6283
REQUIRED] Content description

Playing a standard m3u8 in the sample app does not see the cues in the content.  I sniffed the embeds and found that the cc embed does not have TEXT as a string, but CEA-608.  I was able to generate menu items for the embedded streams by looking for this substring, but in one stream we use the cues never get set (the array is always empty).  This stream (which is som

[2019-09-05 01:01] #6275 closed, assigned to AquilesCanta

[2019-09-05 01:47] stevemayhew commented on #6366
@andrewlewis

I'm working with the HW vendor on this so stay tuned..  The bottom line is the player is stuck in buffering mode.  I believe this is because it has queued a huge number of frames to the video decoder (because the frame rate is so low) then the audio track stops accepting writes.

[code]

I'll keep you in the loop in this bug, my guess is what we could do is limit then number of un-re

[2019-09-05 06:46] cobookman commented on #6065
@tonihei, would the following be how to use ResolvingDataSource for injecting QueryStrings to video segments?

[code]

[2019-09-05 06:48] cobookman opened #6391 "ResolvingDataSource w/QueryString injection for video segments"
Would the following be how to use ResolvingDataSource for injecting QueryStrings to video segments? Particularily on adding token auth Query Strings without needing to generate a per-user manifest file.

Ref: https://github.com/google/ExoPlayer/issues/5779

[code]

[2019-09-05 08:24] alexeyr15 commented on #6343
Hi. Did you have the chance to look into this issue?

[2019-09-05 08:38] tonihei commented on #6384
That makes complete sense.

I just wonder if that case is any different from many other non-fatal warnings we have across our code base. Whenever we log something with the warning level, it means we recognized a problem but the problem is most likely non-fatal and we can just continue playback. But in all cases, it would we be good to report this to analytics systems if possible to know that an un

[2019-09-05 08:52] tonihei commented on #5923
Just re-asking the question above: Were you able to reproduce on a newer version of ExoPlayer? And is it always reproducible?

[2019-09-05 08:53] tonihei commented on #6122
Closing this issue now due to inactivity.

[2019-09-05 08:53] #6122 closed, assigned to tonihei

[2019-09-05 08:58] kgrevehagen opened #6392 "FlacExtractor vs LibflacAudioRenderer"
### [REQUIRED] Searched documentation and issues
GitHub issues, ExoPlayer dev site, Stack Overflow, ExoPlayer javadoc, Github extension flac README.

### [REQUIRED] Question
In the [ExoPlayer Flac Extension README.md](https://github.com/google/ExoPlayer/blob/release-v2/extensions/flac/README.md) under the headline [Using the extension](https://github.com/google/ExoPlayer/blob/release-v2/extensions

[2019-09-05 09:02] tonihei commented on #6204
You can use the same underlying cache for downloading and playback at the same time. So the best solution is to start the download to the cache and then start playback using the same cache in `CacheDataSource`. Have you tried that?

[2019-09-05 09:06] AquilesCanta commented on #6283
I don't think we have received any email. Please make sure the e-mail's subject is "Issue #6283". Please send it to dev.exoplayer@gmail.com.

[2019-09-05 09:19] gb103 opened #6393 "Video source skips in Concatenate media source"
### [REQUIRED] Content description
Trying to play multiple video clips using ConcatenatingMediaSource in LOOPING (although issue is without looping too), if the clip count is less than 3 then everything is fine but if it is more than 3 then 4th video always skips and go to first media source in the first iteration irrespective of total clip count (4 or 5 or 6) and then from 2nd iteration it become

[2019-09-05 09:30] pawaom opened #6394 "Add Seekbar in MediaStyle notifications for Android 10 devices"
Add Seekbar in MediaStyle notifications for Android 10 devices

While going through new features of android 10 I came across a feature of  Seekbar in MediaStyle notifications here:

https://developer.android.com/about/versions/10/features#media-notifications

please add this feature to Exoplayer notifications also

[2019-09-05 09:42] anandsingh2903 opened #6395 "Live HD channels not playing correctly"
I am trying to play live HD channels but the stream is not playing correctly.
Video is showing one frame and then after 1 or few milliseconds later just switches to another static frame.

I have also enabled FLAG_ALLOW_NON_IDR_KEYFRAMES but still facing this issue.

Here is the link of the stream : http://korbafiagi.mediantbroadband.com/live/ch5/playlist.m3u8

[2019-09-05 09:43] ojw28 commented on #6393
@tonihei - PTAL

[2019-09-05 09:44] gb103 commented on #6393
this is the function definition which I used for concatenateMediaSource,
 /**
   * @param mediaSources The {@link MediaSource}s to concatenate.
   * @param isAtomic Whether the concatenating media source will be treated as atomic,
   * @param useLazyPreparation Whether playlist items are prepared lazily. If false, all manifest
  public ConcatenatingMediaSource(boolean isAtomic, boolean useLazyPrep

[2019-09-05 09:51] Random786 commented on #6338
@tonihei Can you please show some sample code how it can be done thank you in advance

[2019-09-05 09:52] tonihei commented on #6299
I think that's just log spam and can be ignored.

[2019-09-05 09:52] #6299 closed, assigned to tonihei

[2019-09-05 09:53] tonihei commented on #6267
Code prepared for publication. I leave this issue open until we actually ensured it's available on jCenter

[2019-09-05 09:53] tonihei commented on #6325
Fixed by commit above.

[2019-09-05 09:53] #6325 closed, assigned to kim-vde

[2019-09-05 09:59] ojw28 commented on #6392
Playing media generally consists of:

1. Extracting individual samples from the media container (e.g. parsing AAC samples out of MP4)
1. Decoding the extracted samples (e.g. AAC -> Raw audio)
1. Rendering the decoded samples

In ExoPlayer the first step is performed by an `Extractor` and the second step is performed by a decoder, which is part of the `Renderer`.

FLAC is interesting because it can

[2019-09-05 09:59] tonihei commented on #6302
Closing because the question was answered

[2019-09-05 09:59] #6302 closed, assigned to tonihei

[2019-09-05 10:00] gb103 commented on #6393
One more thing which I observed, It is after some fix time or fix amount of data, at which it skips only in 1st iteration. can  it be anything with LoadControl ?

[2019-09-05 10:01] tonihei commented on #6393
Would it be possible to provide the files you are using for playback? We use the same basic set-up in our demo app and that's working fine.

[2019-09-05 10:03] tonihei commented on #6312
I don't think you can use `#EXT-X-KEY` to decrypt the entire stream. You'd need to use some form of custom `DataSource` to do the decryption when reading from the network.

[2019-09-05 10:03] #6312 closed, assigned to tonihei

[2019-09-05 10:28] AquilesCanta commented on #6360
I think there are two different topics in discussion here:
- Quick rebuffer after starting playback.
- Playlist reloading policy.

On the quick rebuffer topic:

ExoPlayer's default start position for live playback is 3 segments from the live edge. In your case, your last 3 segments' total duration is 6 seconds. The target duration is 6 seconds, so we won't reload the playlist for 6 seconds, time a

[2019-09-05 11:47] kgrevehagen opened #6396 "FLAC in mp4 typo in AtomParsers"
### [REQUIRED] Issue description
When trying to play FLAC in mp4, it goes through the `AtomParsers.java` and near the bottom in `parseAudioSampleEntry()` there is a check if `childAtomSize == Atom.TYPE_dfLa`. It seems like a typo and it should be `childAtomType == Atom.TYPE_dfLa` instead, just as all the others. This is where it sets the initializationData, so obviously this condition will never b

[2019-09-05 11:54] andrewlewis commented on #6396
Thanks for reporting! We will submit a fix.

[2019-09-05 12:24] ojw28 commented on #6391
Duplicate of https://github.com/google/ExoPlayer/issues/6065, which I've re-opened.

[2019-09-05 12:24] #6391 closed, assigned to ojw28

[2019-09-05 12:30] tonihei commented on #6328
The general approach should be as Marc described above. Please have a look at our `ExoPlayerTestRunner`/`ExoPlayerTest`/`ActionSchedule` classes to see how this can be done.

More specific comments:

This approach is using a real player. So all events are dispatched exactly the same way as in non-test cases.

There is no issue with using `ConcatenatingMediaSource` in a testing scenario or such a t

[2019-09-05 12:54] gowthamgts commented on #5854
@tonihei: any eta?

[2019-09-05 13:22] kgrevehagen opened #6397 "Flac in mp4 using DASH does not seem to work"
### [REQUIRED] Content description
FLAC in mp4 using DASH does not seem to work.
The same track in regular flac container works as it should.
I'm of course using the Mp4Extractor, and playing AAC in the same setup works flawlessly. I have tested with various configuration in regards to renderer, explained in the bug report section below.

### [REQUIRED] Link to test content
I can probably provide

[2019-09-05 13:30] ojw28 commented on #6397
We were previously provided with some FLAC in DASH content in https://github.com/google/ExoPlayer/issues/4883, and I'm pretty sure we had it working at the time. Unfortunately it appears the samples are no longer available.

[2019-09-05 13:32] tateisu opened #6398 "MediaCodecAudioRenderer use UnmodifiableCollection.addAll() if format is AUDIO_E_AC3_JOC"
### [REQUIRED] Issue description
If stream is AUDIO_E_AC3_JOC, MediaCodecAudioRenderer use UnmodifiableCollection.addAll() and it raises error because it's Unmodifiable.

### [REQUIRED] Reproduction steps
Playing media that contains "audio/eac3-joc" stream.

### [REQUIRED] Link to test content
Sorry, I'm considering to my boss about use of test data.
But I believe this bug can be detect in the cod

[2019-09-05 13:37] ojw28 commented on #6397
@ronak2121 - Do you have any DASH/FLAC test streams that are still available?
@kgrevehagen - We probably need test content. It seems at least possible that your segmentation of FLAC into samples to put inside of the MP4 container is non-spec compliant.

As a general point, you're making life really hard for yourself by using FLAC. Do you really *need* to use it? Doing what nearly everyone else doe

[2019-09-05 13:46] ojw28 commented on #6360
Agreed the policy about playlist reloading is clear. Given this, we should probably change our default start position to better handle cases where segments are significantly shorter than the target duration. For example:

1. Start at least 3 segments back from the live edge (this is the current rule)
1. Also start at least 2 (or 3?) target durations back from the live edge (this would be an additi

[2019-09-05 14:09] semuvex commented on #6349
I'm facing the same issue with Exoplayer version `2.10.0`. It's happening for live and VOD content.
Actual device is a `Nexus 5X` with OS version `8.1`.

[2019-09-05 14:36] tonihei commented on #5854
No progress, sorry. We'll keep this issue updated once we have something.

[2019-09-05 14:53] ojw28 commented on #6395
Please properly fill in the issue template.

[2019-09-05 14:54] ojw28 commented on #6388
I don't think so, but @andrewlewis can confirm. I think we see server side ad insertion as by far the more common option for live streams.

[2019-09-05 15:41] fgl27 commented on #6360
So I check and most stream I tested before the TS was 2s so the 6s issue comes from this edge position and target duration be equal, as when was a bigger TS I didn't notice the issue, but those TS size are rare.

This seems OK, maybe a simple check **if (3 segments size <= target durations) starting point = 3 segments size + target durations;**

Also check if there is that much segments in time if

[2019-09-05 15:43] AquilesCanta commented on #6360
We can change the default start duration to start from

[code]
Using 2 will keep the existing behavior for most users while reducing the risk of entering buffering state. If we want to use 3 * target duration we can just remove the old behavior.

Note @fgl27 that you should set the default start position in the playlist as suggested above . That way you can guarantee a consistent playback experien

[2019-09-05 16:28] fgl27 commented on #6360
That worked, **player.getTotalBufferedDuration()** is now oscillating from 5 to 12s, no rebuffers call, I can see the playlist update it 6s as expected, all is just fine.

:+1:

[2019-09-05 19:55] ajdelcimmuto opened #6399 "Cast player view not properly hooking up when casting from outside of the player activity"
### Issue description
We have an issue when you begin casting from the main activity, and kick into another activity for playback. The exoplayer view does not seem to connect to the controller. Playback does begin on the receiver. The fast forward and rewind buttons are grayed out and a play button is visible and white. The play button is also clickable but does not rotate to pause when clicked. W

[2019-09-05 20:37] stevemayhew commented on #6366
I believe this issue is similar to #1874, but with very different root cause.  The conditions to set this up are:

1. Device is in tunneling mode
2. There is a very low video frame rate
3. At some point writes become impotent on the paused audio track (return 0 bytes written)
4. Renderers are stopped for buffering between video frame renders (the buffered limit (as set by LoadControl) of video sam

[2019-09-06 04:08] SystemRestored opened #6401 "AspectRatioFrameLayout.RESIZE_MODE_FIT not working on smarttv with pie"
**[REQUIRED] Issue description**
The recent update in MI TV 4a pro 32 inch with android Pie, having issues with the aspectrationframelayout.resize_mode_fit, resize_mode_zoom.  Until previous version, it was working fine. The latest update given and now its not functioning at all.

**[REQUIRED] Reproduction steps**
On MI tv 4a pro use the exoplayer demo app with simple exoplayerview and aspectratio

[2019-09-06 05:31] gowthamgts commented on #5854
@tonihei: Sure thanks.

[2019-09-06 05:51] prakashblaster commented on #5920
Can you show me the code for playlist creation please.. mtariquekhan

[2019-09-06 06:04] zzzhc commented on #6314
@tonihei thank you for the fix.
I tested on branch dev-v2, the player will throw ParserException at the end.

in https://github.com/google/ExoPlayer/blob/dev-v2/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsSampleStreamWrapper.java#L236, loadingFinished is true, but prepared is false.  It works when I removed these lines.
[code]

my test code is https://github.com/zzzhc/Exo

[2019-09-06 07:45] andrewlewis commented on #6388
That's correct, they are not supported. (Prerolls should work with live streams, though.)

When resuming content after playing a midroll ad, where would you want playback to resume relative to the previously playing content position?

I will mark this as a low priority enhancement for now. Server-side ad insertion is probably a more popular option for this use case.

[2019-09-06 08:00] kgrevehagen commented on #6397
[Here](https://quc-test-source.s3.amazonaws.com/flac.mpd) is an example of a FLAC in mp4/DASH.

[2019-09-06 08:03] andrewlewis commented on #6366
I haven't had time to look at this properly yet, but I wonder if this happens because in tunneling mode we never get output buffers from the video codec so the condition [here](https://github.com/google/ExoPlayer/blob/fa69103/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L1310) will always be false, which means that the renderer can stop being ready if

[2019-09-06 08:27] kgrevehagen commented on #6397
Tested this in the ExoPlayer Sample app, and when I build the flac extension and set `DefaultRenderersFactory.EXTENSION_RENDERER_MODE_PREFER` on the `DefaultExtractorsFactory`, it gives me the following error:

[code]
which tells me that `decodeStreamMetadata()` fails in `FlacDecoder.java`.
[code]

I tried to set correct `FlacStreamMetaData` by doing this instead(don't know if this is correct or o

[2019-09-06 08:33] tonihei commented on #6314
Yes, that's expected and due to the missing video data in the last chunk. This should likely be fixed for all practical cases once #6336 is implemented.

[2019-09-06 09:16] AquilesCanta commented on #6360
Please clarify what specifically you tried for future reference.

[2019-09-06 09:21] danha306 opened #6402 "Audio only on some phones when playing Widevine DASH content with night mode activated"
### Issue description
On some phones no video streams are being shown when the phone is in "night mode" and Widevine protected DASH content is being played. The audio plays normally, but no video is showing. Disabling "night mode" causes the player to behave correctly with video being displayed. Playing content that is not protected by Widevine works as expected with "night mode" activated.

### R

[2019-09-06 09:26] AquilesCanta commented on #6399
I'll try to look into this soon. We are currently a bit complicated regarding cast development because of issues in our tooling. Please be patient. If you happen to debug the issue, please provide any information here.

[2019-09-06 09:31] Shipeng-Sun-Amlogic opened #6403 "Widevine Provision failed for Provsion 3.0 use OEM Certification"
Today i try test widevine provison 3.0 feature, it seem's can't work, the exoplayer report:
09-06 01:28:06.779  5582  5700 I System.out: amldebug executePost
https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create?key=AIzaSyB-5OLKTx2iU5mko18DfdwK5611JIjbUhE&signedRequest=CtkUCsoUCAMS-xMwggn3BgkqhkiG9w0BBwKgggnoMIIJ5AIBATEAMA8GCSqGSIb3DQEHAaACBACgggnIMIIEGjCCAwKgAwIBAgIRAPKh

[2019-09-06 09:45] ojw28 commented on #6397
I've figured out what's going on here. It's related to `Format.initializationData`, which is used to configure the decoder:

* Samsung's FLAC decoder (`OMX.SEC.flac.dec`) works fine with the provided stream. I.e. playback works on a Galaxy S8, without using the FLAC extension.
* Google's FLAC decoder (`OMX.google.flac.decoder`) requires the FLAC stream marker to be prefixed onto the initialization

[2019-09-06 09:53] andrewlewis commented on #6398
We'll submit a fix for this soon.

[2019-09-06 11:28] pawaom opened #6404 "Standard UI for front and back buttons in Notification and Lockscreen with player.hasNext() and player.hasPrevious()"
Standard UI for front and back buttons in Notification and Lockscreen with player.hasNext() and player.hasPrevious()

When we use player.hasNext() and player.hasPrevious() the following behavior is observed

when there is no further song for player.hasNext()

on the player it shows

![20190906_165441_rmedited](https://user-images.githubusercontent.com/28686824/64424636-381ced80-d0c7-11e9-8cd9-1d9c

[2019-09-06 11:29] andrewlewis commented on #6404
@marcbaechinger Please could you take a look?

[2019-09-06 12:53] raunakyadav opened #6405 "Allow discarding ad breaks"
### [REQUIRED] Searched documentation and issues
 Found it in a [comment](https://medium.com/@ashiqulislamshaon/will-it-be-possible-to-use-this-snippet-alongside-with-ima-extension-7df57b479e6f) in medium post

### [REQUIRED] Question
Is manual ad break supported by IMA extension? I am not receiving "AD_BREAK_READY" event if i make changes for it as mentioned [here](https://developers.google.com/i

[2019-09-06 12:56] ojw28 opened #6406 "Implement Java based FLAC extractor"
### [REQUIRED] Use case description
Allow playback of 'native' FLAC without requiring use of the FLAC extension on Android O MR1 and above. Starting from this version of Android, the platform shipped with a built in FLAC decoder that's accessible via `MediaCodec`.

### Proposed solution
* A Java based FLAC extractor in the core library. Unlike `FlacExtractor` in the FLAC extension, this implementa

[2019-09-06 12:57] andrewlewis commented on #6405
I'm afraid we don't support this. For VMAP we show ad break at the time given in the VMAP file and single VAST ads play as prerolls.

[2019-09-06 13:05] fgl27 commented on #6360
This https://github.com/fgl27/ExoPlayer/commit/698078fd23e36be43e99ac3805c606b48799ca67

targetDurationUs = 6s (default value from this particularly m3u8 list)
segments = 2s

Before the player started 6s from the live edge as segments was 2s we get the issue, now after https://github.com/fgl27/ExoPlayer/commit/698078fd23e36be43e99ac3805c606b48799ca67 starts at 12s and the issue described on post 1

[2019-09-06 13:22] ronak2121 commented on #6397
Hey sorry I’m not in the office and can’t get my test streams back up. I had previously generated the above FLAC streams using FFmpeg.

I’ll be in the office on Monday and can help then.

How are you generating them? @kgrevehagen

[2019-09-06 13:25] ojw28 commented on #6397
Thanks for responding. I think we've figured it out now as described above, so no worries!

[2019-09-06 14:04] AquilesCanta commented on #6360
Ok, a fix in the library will be available in the dev-branch soon. It may be slightly better because it aligns the start position to the start of a segment.

[2019-09-06 14:11] fgl27 commented on #6360
OK I check that when available.

[2019-09-06 19:30] stevemayhew commented on #6366
I thought so, but no... As long as the audio is close the tunneling code syncs it to the video ok.

And yes, what you say about tunneling is exactly correct.  Because libstagefight is syncing audio and handling all processing of the frames we stall forever unless audio is allowed to play.

I closed the old pull request and submitted a more cleaned up fix (pull request #6407)

I'm testing it on Fir

[2019-09-06 19:32] stevemayhew commented on #6366
This error could occur on any streams, the Music Choice (https://musicchoice.com, I know, this is a US thing...  I think Sky offers similar channels for you UK people ;-) ) streams just aggravate it much quicker.  I sent you a URL on my personal S3 bucket with a snippet of the channel.

[2019-09-06 22:07] HasanElHefnawy opened #6408 "audio & video are out of sync"
### [REQUIRED] Issue description
In the demo app "Exo IMA Demo", after making the code changes shown in attachments. While playing the video, when I press the "Home" button or "Recents" button in Navigation Bar, then go back to the app, I find the video frame before leaving the app is different from the video frame after returning to the app. In this case, if I resume the video, I get a frozen vid

[2019-09-07 01:29] pawaom commented on #6404
can we force to show the next button in the first case

[2019-09-08 07:34] ghost commented on #5978
what is the status of this issue?

[2019-09-08 12:05] chvp commented on #6204
I've tried that, but the Player and the DownloadService are in contention about who gets to write to the cache. Somehow the cache is also losing the cache information if I do this, because if I use `CacheUtil` to check the cached length for a file that returned that it was fully cached, after a while it reverts to 0 bytes downloaded and unknown content length.

[2019-09-09 05:35] SharanKumarReddyKambham commented on #6357
@marcbaechinger any update??

[2019-09-09 08:24] tonihei commented on #6204
The cache used for playback needs to be read-only for this case, so that they don't both try to write to the same cache. See #5867 for the same question.

I noted that our documentation doesn't mention how downloading and playback at the same time works. So marking as a documentation candidate to improve that.

[2019-09-09 08:30] chvp commented on #6204
I did try to make the playback cache read-only, but this still made both playback and caching download the same stream. It also didn't solve the issue where the cache entries seemingly disappeared.

[2019-09-09 08:42] tonihei commented on #6204
What type of `MediaSource` are you using? I need to try again myself to see how this works to figure out what may be wrong here.

Are you using the `NoOpCacheEvictor` to ensure cache entries are not deleted?

[2019-09-09 08:42] root-ansh opened #6409 "Changing ad source in runtime (Exoplayer IMA extension)"
### [REQUIRED] Searched documentation and issues
Yes

### [REQUIRED] Question
is There a way to change Ad source XML  while the ad is running? For eg, if i created an ad source before the actual playback (using  `Uri adXMLUri =Uri.parse(AD_XML_URL)`, `imaAdsLoader = new ImaAdsLoader(this,adXMLUri )` and  `AdsMediaSource adsMediaSource = new AdsMediaSource( mediaSource, dataSourceFactory, imaAdsLoa

[2019-09-09 08:45] chvp commented on #6204
I'm using `ProgressiveMediaSource`'s. Might be important that for technical reasons I can't serve byte ranges on the server side.

Even if I use the `NoOpCacheEvictor` the entries dissappear as well.

[2019-09-09 08:58] andrewlewis commented on #6403
@shipeng-sun Please provide a full bug report captured with `adb bugreport` just after the error. If you don't want to post it here you can email it to `dev.exoplayer@gmail.com`.

[2019-09-09 09:04] andrewlewis commented on #6401
Can you reproduce this on any other devices? Is only DRM playback affected?

[2019-09-09 09:06] andrewlewis commented on #6402
Have you contacted the OxygenOS developers about this? It sounds like a limitation in how they've implemented night mode.

There probably isn't much we can do here, and this doesn't sound like an ExoPlayer issue.

[2019-09-09 10:46] danha306 commented on #6402
We have not yet contaced the OxygenOS developers since we were not sure if the issue was with their OS or ExoPlayer. However if you believe the issue lies with them we'll contact them as soon as possible.

[2019-09-09 12:22] andrewlewis commented on #6402
I think it's likely that the problem is further down the stack than ExoPlayer, probably in the OS.

[2019-09-09 12:22] #6402 closed, assigned to andrewlewis

[2019-09-09 12:40] emerging-coders commented on #5856
Here what actually error occurs in Admob's Interstitial Ad:
[code]
This error continuously occurs in Interstitial ad and that's causes `Decoder init failed`. So, after that our app's ExoPlayer also being throw `Decoder init failed`. Without video ad ExoPlayer works smoothly and play videos as it is.

[2019-09-09 12:51] SystemRestored commented on #6401
all streams are affected. Only this happening with MI tv with pie edition. There is no effect on playback but that view AspectRatioFrameLayout resize modes are not working at all.

[2019-09-09 13:00] andrewlewis commented on #5856
@emerging-coders Does your app keep an initialized player while it shows the interstitial ad? It looks like there aren't enough resources to play the ad.

[2019-09-09 14:39] lsgfly opened #6410 "Optimize DefaultExtractorsFactory sniffing order"
when we select extractor, we makes a pass through all of the available extractor util we find the
correct extractor. I find the sniff of MatroskaExtractor will cost 25ms.
80% of our videos are in MP4 format.
Can I  put the Mp4Extractor as the first  place.
[code]
[code]

[2019-09-09 15:02] ojw28 commented on #6410
There is nothing stopping you from doing this yourself by injecting your own `ExtractorsFactory` when building a `ProgressiveMediaSource` (using [this API](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/ProgressiveMediaSource.Factory.html#setExtractorsFactory-com.google.android.exoplayer2.extractor.ExtractorsFactory-)).

As mentioned on https://github.com/google/ExoPlayer

[2019-09-09 15:16] tonihei commented on #6204
That sounds not ideal in general, but in theory should be fine for caching purposes.

It took me a while to figure out how that actually works. The solution is to set the `CacheDataSource.FLAG_BLOCK_ON_CACHE` in the read-only playback data source. This ensures we don't attempt to load the data again but rather wait until we can read it from the downloaded cache. Note that this also means playback

[2019-09-09 16:54] marcbaechinger commented on #6404
This should be in sync indeed.

The behavior for the PREVIOUS button is that it needs to be active in all cases. In case there is no previous media item it does seek to the start of the current window. So regarding the screenshots above the behavior in the notification is correct, while the `PlayerControlView` is wrong.

I wonder though why it isn't in sync. I can not repro this with the demo app.

[2019-09-09 17:29] marcbaechinger commented on #6357
The mpd you sent in the tar file contains a single track for video. When I try to play the stream the player logs the following line:
[code]
The player thinks that the track is not supported on that device (a Pixel in my case). Even if ExoPlayer thinks it's not supported, it tries to play the track regardless (as it is the only one to select from). When doing this a decoder exception is thrown.

I

[2019-09-09 17:48] steveford-obs opened #6411 "Playback of a file that's still being written"
### [REQUIRED] Searched documentation and issues
I've found a similar question from 2016 (https://github.com/google/ExoPlayer/issues/2095), which I assume was resolved as the original poster didn't come back, but am not sure if what was described there should still be all that's required.

### [REQUIRED] Question
I'm trying to play a file (MPEG TS) that's still being written and have implemented m

[2019-09-09 18:05] ojw28 commented on #6411
I think so, yes.

This violates the contract of the interface you're implementing, [which says](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DataSource.html#read-byte:A-int-int-):

You can only return 0 if the `readLength` input argument is 0, which wont be the case here. Hence, when you're waiting for more data, you need to block in `read` rather than return 0. I'd s

[2019-09-09 18:25] ojw28 commented on #6404
Note: We also made [some fixes](https://github.com/google/ExoPlayer/commit/eb6859e436b5ef7735b83d3e38b94b6826c97c7e) for consistency of navigation across UI components in 2.10.0, so if you're using an earlier version you may find that updating to 2.10.0 or later is sufficient to resolve this issue.

[2019-09-09 18:34] marcbaechinger commented on #6394
This already works if you are setting a valid `MediaSessionCompat` token to the `PlayerNotificationmanager`:

[code]

To make this work the [media session needs the required information](https://developer.android.com/about/versions/10/features#media-notifications):

1) `playbackState.position` must have a valid value
2) the metadata object which is set to the media session for the item currently b

[2019-09-09 18:56] stevemayhew commented on #6375
@saurabhdtu The default bandwidth algorithm in ExoPlayer (https://github.com/google/ExoPlayer/blob/85c10b02567b66ecfaaaacfd0ba9389b41bf919e/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultBandwidthMeter.java#L48) initially considers the interface bandwidth (on a mobile or wireless device this makes a lot of sense and leads to faster adaption on source switches).

If this i

[2019-09-09 21:29] ofuwape opened #6412 "HLS stream is pixelated on Android 7.0 and lower"
### [REQUIRED] Issue description
HLS stream is either pixelated or fails playback on Android 7.0 and lower.

### [REQUIRED] Reproduction steps
Add the URL as one of the demo HLS streams and you can see the pixelation. Higher resolution/bitrates are grayed out and not selectable.

### [REQUIRED] Link to test content
https://curiosity-video-output.secure.footprint.net/bitmovin-outputs/COP_OurViolent

[2019-09-09 23:56] Ethan1983 opened #6413 "[Feature request] Support setAllowedCapturePolicy in AudioAttributes for Android 10"
### [REQUIRED] Use case description
Android 10 added setAllowedCapturePolicy in SDK's AudioAttributes for apps to disable/enable audio capture for each track independently in Android 10.

https://developer.android.com/reference/android/media/AudioAttributes.Builder.html?hl=en#setAllowedCapturePolicy(int)

### Proposed solution
Please add a similar/same API to com.google.android.exoplayer2.audio.Au

[2019-09-10 00:12] ojw28 commented on #6413
We already have a pending change for this. It'll be pushed to `dev-v2` shortly.

[2019-09-10 00:36] stevemayhew commented on #6177
Thanks @tonihei I vote for publishing the number of samples and the standard deviation of the samples to give a quality of the estimate in the bandwidth estimate API.

[2019-09-10 03:05] Ethan1983 commented on #6413
Thanks for the update.

[2019-09-10 05:56] emerging-coders commented on #5856
We know that in devices there is limited decoder capabilities. But what we can do for release ExoPlayer of an Interstitial ad? There is nothing to do with Interstitial ad to release resources! But Facebook Audience Network Interstitial ad provides `interstitialAd.destroy();` method to release resources!! Why Admob's Ad not provides!!

[2019-09-10 06:56] Romantic-LiXuefeng commented on #2250
Is there any plan to support this feature?

[2019-09-10 07:29] raunakyadav commented on #6405
Hi Andrew,
Thanks for replying.

Our main requirement is to be able to skip loading few (pre/midroll) ads if time 'x' has not passed since the last ad played anywhere in the app.
If I follow this [comment](https://github.com/google/ExoPlayer/issues/5888#issuecomment-492727857),
 a. the ad is skipped but I can see load/play callbacks and some errors in IMA logs.
 b. Most of the times I do not get t

[2019-09-10 08:03] tonihei commented on #2250
@Romantic-LiXuefeng Still no immediate plan to support this. You can easily implement it yourself as noted above, maybe also using the `canSelectTrack` method of `AdaptiveTrackSelection`. To support that in a better way, we'd need to restructure some code which is non-trivial.

[2019-09-10 08:15] nehahemnani92 commented on #4100
@erdemguven @ojw28 I am working on downloading widevine encrypted HLS streams and struggling with downloading licence using OfflineLicenseHelper's
`public synchronized byte[] downloadLicense(DrmInitData drmInitData)` as I am not sure how to extract `drmInitData` from hls streams. I see there is a DashUitl with the appropriate helper methods for dash streams. Is there anything similar available for

[2019-09-10 08:59] #6394 closed, assigned to marcbaechinger

[2019-09-10 09:47] GensaGames opened #6414 "Views on top, overlapping SurfaceView during pause"
### [REQUIRED] Issue description
All views on top, will be overlapping `SurfaceView` during pause. For ex. create and show any Dialog on top of `SurfaceView` and then hide. After hiding `Dialog` view still overlap the `SurfaceView` of the Video.

This ticket is duplicated from the closed [3160](https://github.com/google/ExoPlayer/issues/3160). But problem still exist on **some** devices! This issu

[2019-09-10 09:54] abdullah432 commented on #5829
setConstantBitrateSeekingEnabled(true); does not work any more. What to do now.

[2019-09-10 10:23] laszlo1337 opened #6415 "How to switch channel mapping on the fly"
###Searched documentation and issues:
Docs, Stackoverflow, this repo GitHub issues

###Question
How to switch channel mapping on the fly?
I need to implement audio channel mapping using ExoPlayer so that I can listen to one channel from both earphones at the time.

For that I am using [ChannelMappingAudioProcessor](https://github.com/google/ExoPlayer/blob/e87e231/library/core/src/main/java/com/goo

[2019-09-10 10:50] SharanKumarReddyKambham commented on #6357
@marcbaechinger Here is the more info regarding the above issue. I am testing on the Motorola Moto G(6) Plus Android 8.0.0, API 26 and even tested on Samsung Note 8, Nvidia Shield. I am able to play the same content in VLC and MX Player in the same devices. Please take a look at the bug report attached. And in Exoplayer when we seek we are able to notice the first frame at that point.
[freeze_bug_

[2019-09-10 11:30] steveford-obs commented on #6411
Thanks for the quick reply sorry I missed the fact that read() shouldn't return 0 unless requested.
I've modified the DataSource read() so it waits to read data, if EOF is reached, before returning, but the behaviour is the same.

On a superficial scan of the code, it looks as though the ExtractorMediaPeriod is attempting to load the entire file before it starts playing, but is this being controll

[2019-09-10 11:36] #6404 closed, assigned to marcbaechinger

[2019-09-10 13:51] curlyfrie opened #6416 "Disable Seekbar for LIVE content in MediaStyle notifications for Android 10 devices"
With Android 10 the media style notification (notification created with Echoplayers PlayerNotificationManager and added to foreground service) adds a seek bar which is great for seekable content.
Our HLS live stream has a 2 minute live window and is therefore kind of seekable but this is our buffer zone and we don't want to show this option to the user (since the downsides and confusion outweigh t

[2019-09-10 13:55] hoax-killer commented on #3375
@ycinfinity @dustinkerstein

With an aim to improve decoding performance, I implemented two or say `N<4` MediaCodec based async decoders, each running on separate threads. However, decoder performance did not improve (e.g. decoder FPS was around 250 FPS for 1080P - this is not the rendering FPS, but purely based on decoder's output). The rationale behind implementing multiple async decoders was to

[2019-09-10 14:02] peterlisak opened #6417 "How to implement adaptive playback for multi key protected DASH?"
### [REQUIRED] Searched documentation and issues
I've not found any relevant description how adaptive streaming should works when multi key protection is used and device is not complying with policy for some of the keys.

### [REQUIRED] Question
We'd like to use multi-key protected DASH with Widevine Modular as shown on https://demo.unified-streaming.com/cpix/#!/DASH or https://github.com/Axinom/p

[2019-09-10 14:52] kschults commented on #6155
@ojw28 Any updates on this? Thanks

[2019-09-10 15:17] marcbaechinger commented on #6416
The seek bar for live streams should clearly be avoided in the notification. Ideally this happens automatically in some way or there should be at least an option for apps to turn it off on demand.

We look into this. Thanks for reporting!

[2019-09-10 16:17] RaiPubblicitaTech commented on #5006
Hi, we had a similar issue with our app. The Ad Manager Publisher Support suggested the use of the "vpi=1" parameter within the Video Publisher Tag. In this case the VMAP response will be "monolithic", all the VAST <Ad> tag are expanded in the VMAP response.
They suggested this as a temporary workaround waiting for a fix , but it doesn't work.

For example, using this tag; https://pubads.g.doublec

[2019-09-10 16:32] ojw28 commented on #6411
We don't do this. It wouldn't work for large files, because we'd run out of memory. `LoadControl` requires some minimum amount of media to be loaded before playback starts, but that should just delay the playback starting until your `DataSource` has allowed that amount to be read.

Do you see multiple `open()` and `close()` calls being made on the `DataSource`, or do you just see a single `open()`

[2019-09-10 16:40] #6413 closed, assigned to kim-vde

[2019-09-10 16:40] ojw28 commented on #6413
Support added in https://github.com/google/ExoPlayer/commit/73b922ee59fa565a1fabaf5411bdea7ca81ee3fc.

[2019-09-10 16:41] #6396 closed, assigned to andrewlewis

[2019-09-10 16:42] #6398 closed, assigned to andrewlewis

[2019-09-10 16:43] #6360 closed, assigned to AquilesCanta

[2019-09-10 16:43] #6392 closed, assigned to ojw28

[2019-09-10 16:44] ojw28 commented on #6392
Closing as answered. I also filed https://github.com/google/ExoPlayer/issues/6406, which is related to this issue.

[2019-09-10 16:44] ojw28 commented on #6397
This should be fixed by the commit above. Please give it a try.

[2019-09-10 16:44] #6397 closed, assigned to ojw28

[2019-09-10 17:04] ojw28 commented on #6324
Fixed in https://github.com/google/ExoPlayer/commit/eedf50fdcad5263fa3509db2fc702f79b88f0810

[2019-09-10 17:04] #6324 closed, assigned to marcbaechinger

[2019-09-10 17:04] ojw28 commented on #6203
@tonihei - We should probably come up with an interim solution for this.

[2019-09-10 17:13] steveford-obs commented on #6411
Yes, that's what I thought.

Yes and the minimum with video appears to be 50 seconds, hence the question about reducing this so playing will start sooner, given that fresh data will be written to the file frequently. So should providing our own LoadControl, with suitably reduced buffer sizes, result in less data being read initially before playback is started?

I will have to get back to you about

[2019-09-10 17:21] ojw28 commented on #6411
The minimum for playback to start is `DEFAULT_BUFFER_FOR_PLAYBACK_MS`, which is `2.5s`.

How is the data fetched? If it's over http(s) then it should work just to give the URL directly to the player, without doing anything special.

[2019-09-10 17:25] ojw28 commented on #6364
Fixed by: https://github.com/google/ExoPlayer/commit/a12c6641d9a3c49a6d36ab89da7ac6888aedcfa6, https://github.com/google/ExoPlayer/commit/e4eb6b7ea90cf273591f47a9ed19f2439d74a8f7, https://github.com/google/ExoPlayer/commit/e567f8edd0ddb5075a8fccd88abb4171eaa5a25c

[2019-09-10 17:25] #6364 closed, assigned to marcbaechinger

[2019-09-10 17:36] steveford-obs commented on #6411
2.5s should be fine; I was thinking it was defined by:

[code]

No, it's not over http, which is why it won't be easy, but I can't say any more than that, sorry.

[2019-09-10 19:44] fgl27 commented on #6360
@ojw28 and @AquilesCanta

I just want to let you guys know that even tho this commit https://github.com/google/ExoPlayer/commit/0aba89b60e02e4b0aab9ad518d71d85d71480491 hepls doesnot prevent the issue from happening.

why?

the title already says it all **HLS Live stream **targetDurationUs** is not always a ideal way to calculate time for next playlist load**

I know you guys may be thinking this

[2019-09-10 19:48] fgl27 commented on #6360
Just in relation to the question of https://github.com/google/ExoPlayer/issues/4217#issue-320953832 **Question on achieving a low latency HLS live stream**

Exo doesn't provide a way to get as close as possible of live edge when the playlist doesn't included  **EXT-X-START**, after reading the above issue and address this issue I keep thinking on how to do it without using seekto (because is unrel

[2019-09-10 20:14] stevemayhew commented on #6096
@ojw28 because of the way `Format` is copied the `onDownstreamFormatChanged()` is not always logged (for example, when changing from 1080p@4Mbps to 1080p@8Mbps stream variants).

Also @emanresu98 realize that this is not the currently playing variant format (as there likely are buffered parsed samples).

We would want:

1. All format changes to trigger events (even just bitrate)
2. Upstream format

[2019-09-10 20:39] stevemayhew commented on #5483
@Jogan might also try the tunneling decoders (pretty sure FireTV 4k supports this, maybe not for non-secure though) and see if it happens there too.

[2019-09-10 21:05] weivincewang commented on #6284
The status reflects the temperature based throttling level in device level due to thermal stress (either from power usage or external heat or even both). Device mitigation has hysteresis to avoid jittering dramatically and in some low mitigation level, thermal governor usually will adjust capacity dynamically instead of setting a hard floor. Being said, I might be better to kick in mitigation THER

[2019-09-10 22:10] rrfrias commented on #5850
We have addressed some of the performance regressions that you mention and have made them available to OEMs on Android P. There have been additional performance improvements for L3 on Android 10. If you notice performance issues with Android 10 feel free to reopen the tracker.

[2019-09-10 22:10] #5850 closed, assigned to fredgc

[2019-09-10 22:18] rrfrias commented on #5451
Unfortunately the device is End-of-Lifed. Android 8.1.0 was the last release for the Pixel C and we are unable to provide updates.

[2019-09-10 22:18] #5451 closed, assigned to fredgc

[2019-09-10 23:21] rrfrias commented on #6370
I am going to close this assuming that the original question has been answered. Do reopen if you still have issues.

[2019-09-10 23:21] #6370 closed, assigned to AlphaHans

[2019-09-11 01:01] #6307 closed, assigned to tonihei

[2019-09-11 04:05] dwhea opened #6418 "OEM testing Command line step refers to the wrong test runner"
### [REQUIRED] Issue description
https://exoplayer.dev/oems.html Command line step refers to the wrong test runner:

adb shell am instrument -w -r -e debug false \
  -e package com.google.android.exoplayer2.playbacktests.gts \
  com.google.android.exoplayer2.playbacktests.test/android.test.InstrumentationTestRunner

It should refer to androidx.test.runner.AndroidJUnitRunner to align with latest re

[2019-09-11 06:59] marcelocintrasc commented on #6168
@ojw28 Do you have any updates on this issue? We are also hitting the same problem.  We are currently using exoplayer 2.10.1. This happens when we reuse an exoplayer instance. Also, when we play a video with a different resolution.
I also got the error message with 0xfffffff4

Here is some additional information:
[code]

[2019-09-11 08:13] tonihei commented on #6360
@fgl27 We already track support for low-latency HLS in #5011. The work in this area will address the issue you mention in some ways because we likely need to update our playlist load strategy again.

[2019-09-11 08:17] tonihei commented on #6203
I think we decided against adding a WAITING state because it would cause too much disturbance to existing state handling code. Instead we'll add a isWaitingForAudioFocus method that can be used to handle the state update in the `MediaSessionConnector`.

[2019-09-11 08:24] tonihei commented on #6284
@weivincewang Thanks a lot for the input!

So the suggestion would be:
- Switch to mitigation mode (low-resolution playback) when reaching MODERATE.
- Turn off mitigation when the thermal status is back to LIGHT (because the platform is handling the hysteresis for us).
- Optional: Stop playback when we reach SEVERE?

[2019-09-11 08:30] BucherTomas commented on #6417
This is covered here https://github.com/google/ExoPlayer/issues/3780#issuecomment-367270921

[2019-09-11 09:24] ojw28 commented on #6417
Isn't it also covered here: https://exoplayer.dev/drm.html

[2019-09-11 09:29] ojw28 commented on #6417
If your main issue is that switching between different `AdaptationSet`s isn't working automatically, then that's probably because the manifest isn't specifying that this is possible. A manifest should include `urn:mpeg:dash:adaptation-set-switching:2016` `SupplementalProperty` elements to indicate this. Without this signalling, for all the player knows, the different `AdaptationSet`s could contain

[2019-09-11 09:35] ojw28 commented on #6414
This seems to be a (seemingly quite severe) problem with the underling platform, that's specific to the particular device you're testing on. You need to reach out to whoever is providing the custom TV board.

[2019-09-11 09:35] #6414 closed, assigned to ojw28

[2019-09-11 09:37] ojw28 commented on #6412
Bug reports contain a lot of useful debugging information, regardless of whether there's a crash. For example, if you'd have included one, we could use it to obtain some of the other information you've omitted to provide, such as what device you're testing on. Please include all of the information requested in the issue template.

[2019-09-11 09:44] ojw28 commented on #6381
I would expect `ERROR_RECLAIMED` to occur something else requires the same resource and is deemed higher priority by the underlying platform.

* Is it possible that there's an app that's behaving very badly on your Vivo Z1 Pro test device. Does factory resetting the device and installing only your app make the problem go away? Do other apps such as Netflix and Play Movies, both of which also play

[2019-09-11 09:59] ojw28 commented on #6360
The HLS specification is very unambiguous about requiring that clients wait a minimum period of time between playlist updates. Repeatedly saying the same thing does nothing to change that.

We understand and agree that segments may be less than the target duration. The logic we're using handles this case. As an example, consider an extreme case where target duration is 10s and each segment is much

[2019-09-11 10:43] ojw28 commented on #6096
I don't understand which copy you're referring to. It looks to me like it will always be logged, and this statement isn't specific enough allow me to determine otherwise. Please can be point to exactly where you believe this problem is occurring.

What does upstream mean in this context? If it means "The player decides to start buffering the different format" as I mentioned above, you should use `

[2019-09-11 10:53] ubo5 opened #6419 "video lose some frames but audio still be played correctly"
#6387 #
### Issue description
When I use exoplayer to play serveral vidoes, found that some videos could lose some video info
but audio still got played.
Below is two picture to describe this situation clearly. Picture one is the video(I will give a link later) played using potplayer, picture two is the video played using exoplayer.If you may pay attention to the timeline in the 2 pictures, you wi

[2019-09-11 10:56] whyvas opened #6420 "Wear OS Smartwatch with usable hardware decoder & ExoPlayer video?"
### [REQUIRED] Searched documentation and issues

A bunch of google & github searches. I bought a 5th Gen Fossil Wear OS watch and tried to get ExoPlayer playing an h264 video but it simply wouldn't work. I got the progress bar & controls but black screen otherwise. I believe this watch doesn't support hardware decoding so I tried to force software decoding but that didn't work either. I also trie

[2019-09-11 11:03] peterlisak commented on #6417
Ok, thanks. It seems it solved one part of our problem. After injecting `urn:mpeg:dash:adaptation-set-switching:2016` to manifest, it seems auto switching is working now.

Another part of issue is that when player/device is not complying with DRM license for one of `AdaptationSet` (for example because security level 1 or HDCP is not supported by device), it still tries to switch to that and playba

[2019-09-11 11:14] ojw28 commented on #6417
See https://github.com/google/ExoPlayer/issues/4825. Short summary:

* Ideally a player would do what you're suggesting, yes
* Unfortunately, Android did not contain platform APIs to support this prior to API level 23
* We plan to implement what you're suggesting for API level 23 and above, and this is what the referenced issue is tracking. That said, we are not yet considering this high priority.

[2019-09-11 11:14] #6417 closed, assigned to ojw28

[2019-09-11 12:01] ojw28 commented on #6420
I don't think there's a requirement that Wear devices include any video decoders in the platform. The only way I've seen video playback implemented on Wear devices is by bundling software decoders within the app itself. For example I've seen a demo of video playback on a Wear device using ExoPlayer's VP9 extension. This isn't something we can really provide guidance on, however.

[2019-09-11 12:12] ojw28 commented on #6419
The media seems to explicitly contain an edit list indicating that the start of the video should not be played. If another player is playing it "correctly", then it's likely just because that player doesn't support MP4 edit list functionality.

The problem here is the media (i.e. why does it contain an edit list at all?). So I would suggest you fix it, if it's media you control. That said, if you

[2019-09-11 13:03] tipoc123 opened #6421 "Player stops in looping video"
### [REQUIRED] Content description
The player goes into STATE_BUFFERING after 1.5 minutes playing.
VLC plays this content fine.

### [REQUIRED] Link to test content
http://77.72.80.16/http-progressive/29

### [REQUIRED] Version of ExoPlayer being used
2.10.2

### [REQUIRED] Device(s) and version(s) of Android being used
STB Geniatech 495X (chip Amlogic s905x)
Android 6.0.1

### [REQUIRED] A full b

[2019-09-11 13:34] ubo5 commented on #6419
@ojw28 thanks! The media is the problem.  I have no idea about `edit list` before this, will have a look about it.
Here is a version can used in 2.9.*(since `ProgressiveMediaSource` added in 2.10.0)
And another useful link: [exoplayer doc troubleshooting](https://exoplayer.dev/troubleshooting.html#why-do-some-mp4fmp4-files-play-incorrectly)
[code]

[2019-09-11 13:35] #6419 closed, assigned to ojw28

[2019-09-11 13:58] ofuwape commented on #6412
@ojw28  Updated with logs

[2019-09-11 14:25] curlyfrie commented on #6416
another kind of related problem to this is that the `DefaultMediaMetadataProvider` => `getMetadata` overrides the metadata if no `activeQueueItem` is set.

eventhough if I manually set an item (also if I don't necessarily need one because no queue, only one item) it is reset in `invalidateMediaSessionPlaybackState` because I don't provide a `queueNavigator` :

[code]

Maybe also use `long activeQu

[2019-09-11 15:32] abhishekredspace opened #6422 "Support providing a secondary or fallback url to the player"
### [REQUIRED] Searched documentation and issues
SimpleExoplayer docs and also looked at LoadErrorHandlingPolicy but this does not help me solve the problem.

### [REQUIRED] Question
Is there is a way to pass a fallback or secondary m3u8 to exoplayer. Though, I can handle this externally as well but trying to find if exoplayer has an option. I receive 2 URLs(m3u8) from the server, primary and seco

[2019-09-11 15:33] whyvas commented on #6420
Yeah, I saw your previous posts about VP9 on the subject. I figured even though hardware decoding isn't required that some models would have it.

[2019-09-11 16:10] kim-vde commented on #5839
Issue fixed by commit above.

[2019-09-11 16:10] #5839 closed, assigned to kim-vde

[2019-09-11 16:22] fgl27 commented on #6360
All I saying is that I have tested yours change and it eventually allows the issue to happens.

Yes the playback started two **targetDurationUs** away from the edge, but after some time some minutes 10 to 30 I notice that the **player.getTotalBufferedDuration()**  was getting lower and lower (isn't always but at some point in some streams it does), I don't know way exactly (I wrote those post abov

[2019-09-11 17:15] weivincewang commented on #6284
maybe we can go lowest resolution in SEVERE? and stop in CRITICAL or EMERGENCY?

[2019-09-11 17:45] noamtamim commented on #5839
@kim-vde @ojw28 do you know if these new "c2" prefixes have existed before Android Q?

[2019-09-11 18:04] jjimenez0611 opened #6423 "How to connect AudioPlayerService in audio-app example to activity with UI controls"
The audio-app example is a good example to start a project. But I have some doubts, for example I want to have in my activity controls like play/pause/stop and have a progress bar, how can I connect the exoplayer service with this controls in my activity? And how can I listen the track time to update the progress bar in my activity?

[2019-09-11 18:12] natez0r commented on #4078
in OKHTTP 4.2 (and backported to 3.14.3), it appears that they may've found the underlying issue that I is causing this:

https://square.github.io/okhttp/changelog/#version-420 (https://square.github.io/okhttp/changelog_3x/#version-3143)

Is there any plan to upgrade to above 3.12 for okhttp extension? I know it deprecates old versions of android, but could there be some configuration we could use

[2019-09-11 18:22] ojw28 commented on #4078
What's the minimum API version for 3.14.3? As long as it's 16 or lower, then upgrading should be fine.

[2019-09-11 23:51] stevemayhew commented on #6096
@ojw28 Sorry Oliver, I misspoke the `Format` copy issue is different (`copyWithContainerInfo()` did not include the roles, that's in my [pull request](https://github.com/google/ExoPlayer/pull/6270/commits/21ea7d4f3509d84cacbcb76b8f09076adcf68517)).

I mixed up up down/up stream. I was thinking furthest upstream are the samples closes to the playhead (as ExoPlayer's renderer feeds them to the codec

[2019-09-12 00:05] #6096 closed, assigned to ojw28

[2019-09-12 02:58] haikelei opened #6424 "OutOfMemoryError: Failed to allocate ... until OOM"
[code]

lately i am developing an app like tiotok,but when i switch the video fast,about 150 times later,throw this error

[2019-09-12 04:51] rockex6 opened #6425 "ArrayIndexOutOfBoundsException in ImaAdsLoader.updateImaStateForPlayerState"
we have videos with ads in our app, and we have ArrayIndexOutOfBoundsException in the ima extension. We don't have a specific scenario for this crash and it happens randomly on many devices. I attach the stack trace below:
[code]

my version is 2.10.3 and I used google pixel 3XL android 9.0

[2019-09-12 07:09] sharish commented on #6381
@ojw28 Thanks for your input.

1. _Is it possible that there's an app that's behaving very badly on your Vivo Z1 Pro test device. Does factory resetting the device and installing only your app make the problem go away?_

    No. This was a newly bought device with no apps (expect system and default apps). We bought this device purely based on crashlytics non-fatals.

2. _Does factory resetting the

[2019-09-12 09:44] marcbaechinger commented on #6416
We will provide a fix which avoid the seekbar for live streams soon.

Regarding the `activeQueueItemId` I think the idea is to provide a `QueueNavigator`. If you are using the `TimelineQueueNavigator` that should be straightforward. This makes sense even with a single item as it solves the points you are raising above. Is there a reason for you not using a QueueNavigator?

[code]

I will look into

[2019-09-12 10:37] #6310 closed, assigned to AquilesCanta

[2019-09-12 14:32] ojw28 commented on #6381
Thanks for the additional context. We'll get hold of a Vivo Z1 Pro and see if we can reproduce on our side. Marking as a device specific issue for now (I know other devices are affected, but the Z1 Pro accounts for around three quarters of all occurrences, so we should focus on that first).

I don't think the player is abusing any resources. It's more likely that something else on this device is b