[2018-03-05 09:46] nishannorunobi commented on #3856
Thanks for your instant reply.
Its working now.
Your are right. My encoding steps was not correct.
@ojw28

[2018-03-05 11:19] ojw28 commented on #3935
We will merge https://github.com/google/ExoPlayer/pull/3942 to support this.

[2018-03-05 11:19] #3935 closed, assigned to FD-

[2018-03-05 11:20] ojw28 commented on #3941
Adding subtitles during playback is not something we support currently. Implementing this is tracked by https://github.com/google/ExoPlayer/issues/1649. Marking this as a duplicate of that issue.

[2018-03-05 11:20] #3941 closed, assigned to nobody

[2018-03-05 11:47] ojw28 commented on #3933
I don't know of any changes that are likely to have made this slower. A good first step toward figuring out what happened would be to bisect the releases that occurred between 2.7.0 and 2.4.4, to work out exactly which release caused the regression. That should give a clue as to which change caused the problem. If you're able to do that and let us know, please do so!

[2018-03-05 12:17] tonihei commented on #3937
The callbacks in onPlayerStateChanged are delivered asynchronously on your app thread after the corresponding event happened on the playback thread. So, if you see a delay between the video playing (which definitely means that the state is STATE_READY) and the callback, the most likely reason is that your app thread is blocked doing something else and the message is therefore only delivered with a

[2018-03-05 14:42] yibeiliu opened #3943 "How to notice me when next video playback and get current playback file's URI at the same time ?"
I try to find a listener that can notice me when the next or previous video playback.

for example:

I have a List of uri by using *DynamicConcatenatingMediaSource* to ExoPlayer, when I click "next" button or auto play the next video, I hope to know this event and to know the current playback video's uri.

 I try to find some useful information from Demo App,but nothing.
please help me~

#### Vers

[2018-03-05 14:43] pavelcoder commented on #3927
Users reported about same issue in Google Play feedbacks of my app.
Bug appears when switching to fullscreen and activity is recreated
Exoplayer 2.6.1 + HLS.
Devices:
Maizu M5S - three times
Doogee x5 max
Doogee x7 pro
Doogee Y300 - two times
ZTE BLADE A510
BQ BQS-5020 Strike

Problem occurs only in Android 6.0.

[2018-03-05 14:49] tonihei commented on #3943
You can retrieve the `MediaSource` at each index in the playlist by calling `DynamicConcatenatingMediaSource.getMediaSource(index)`. Unfortunately, our media sources don't have a `.getUri()` method. To work around this you can keep a `Map<MediaSource, Uri>` or similar in your app to lookup the `Uri` from the `MediaSource`.

[2018-03-05 16:14] giladna commented on #3911
@andrewlewis
What is the reason this build error happening?
in case app uses 3rd parry libs that holds different playServicesLibraryVersion inside
just upgrading my app to 11.8.0 does not help and seems like need to add the exclude lines.

any other option to fix it?
10x
Gilad.

[2018-03-05 16:20] erdemguven commented on #3912
@18795859305 please look at PlayerActivity in the demo app for an example for instantiating a MediaSource.

[2018-03-05 16:20] #3912 closed, assigned to erdemguven

[2018-03-05 16:24] andrewlewis commented on #3911
The reason for the error seems to be that `interactivemedia-3.8.2.jar` includes files that shouldn't be there. It doesn't actually expose the APIs of the libraries referred to in `META-INF`, but the files clash with those in a support library. Gradle gives up when it finds these duplicate files, as it doesn't know which one to choose.

The only way I know of to address this at the moment is to exc

[2018-03-05 20:52] ojw28 commented on #3902
Please report these issues to the device manufacturer.

[2018-03-05 20:52] #3902 closed, assigned to ojw28

[2018-03-05 20:53] #3901 closed, assigned to erdemguven

[2018-03-05 20:54] ojw28 commented on #3873
Closing due to lack of information.

[2018-03-05 20:54] #3873 closed, assigned to andrewlewis

[2018-03-05 20:57] ojw28 commented on #3879
Closing on the assumption the suggestion by @andrewlewis was the problem, due to lack of follow up. If that's not the issue, please reply here and we'll re-open the issue.

[2018-03-05 20:58] ojw28 commented on #3687
Closing due to lack of follow-up.

[2018-03-05 20:58] #3687 closed, assigned to andrewlewis

[2018-03-05 23:27] gregkorossy opened #3944 "DummySurface not released properly?"
As I was investigating #3939, came to the conclusion that something seemed to be wrong with the `DummySurface`, specifically, it seemed like it wouldn't get released properly. The version is still 2.7.0, the device it's running on is API 23 (Android 6.0).

I created a quick sample to reproduce the issue (using [RxJava 2](https://github.com/ReactiveX/RxJava)). Some notes:

- thread count is there t

[2018-03-05 23:42] ojw28 commented on #3944
Please can you put this in the same issue as it's related to, rather than opening a new one? Closing this one as a duplicate.

[2018-03-05 23:42] #3944 closed, assigned to nobody

[2018-03-05 23:47] gregkorossy commented on #3939
As I was investigating this issue, came to the conclusion that something seemed to be wrong with the `DummySurface`, specifically, it seemed like it wouldn't get released properly. The version is still 2.7.0, the device it's running on is API 23 (Android 6.0).

I created a quick sample to reproduce the issue (using [RxJava 2](https://github.com/ReactiveX/RxJava)). Some notes:

- thread count is th

[2018-03-05 23:47] gregkorossy commented on #3944
Added to the other one.

[2018-03-05 23:53] ojw28 commented on #3939
So, is the conclusion that `DummySurface` instances are released properly, but that eventually initialization fails anyway? If so then that sounds more like a leak in the underlying platform than in ExoPlayer. Is the issue specific to whatever the particular device is that you're testing on?

[2018-03-06 00:01] gregkorossy commented on #3939
Trying to figure that out. It's kind of difficult to get hold of a similar API 23 device these days...
(It's a Sibo Q896S device.)

[2018-03-06 00:55] jackjohnsonn commented on #3937
Thank you so much for taking the time to help me out, tonihei. I have used some sample code without anything extra (based on the project from https://github.com/yusufcakmak/ExoPlayerSample):

https://dpaste.de/iTmY

It is an activity that gets called from a main activity when I tap a button. That is all. The activity loads and runs the video. Could the loading of the video into the view delay the

[2018-03-06 04:33] ram992 commented on #3927
@PrathibhaKota, you said that you could not release and recreate the player, if previous postion is the only problem then,
you can save the current position in the onPause callBack, and in onResume create the player and then apply the time to it.  You can apply that by seeking the player once it is ready, Most of the apps does this.

[2018-03-06 06:33] giladna commented on #3911
@andrewlewis
Thanks!

[2018-03-06 06:38] Airforce327 commented on #3912
Thanks for your reply, i have tried to play cached content and it works. but i found that it needs network for a while when you try to play, latter you can turn off the network access, maybe the mpd file is not cached, is it the  desired behavior ?

[2018-03-06 07:33] Papirosnik commented on #3932
It seems I see my fault: texture target must be GlTextureExternalOES

[2018-03-06 08:13] andrewlewis commented on #3932
Yes. The decoder outputs to an external texture, and to copy from there one can use a `samplerExternalOES` sampler. I'll close this for now but please feel free to reply if you have any other issues. Thanks.

[2018-03-06 08:13] #3932 closed, assigned to andrewlewis

[2018-03-06 10:02] tonihei commented on #3937
As you are calling the message on the playback thread, player.getCurrentPosition() may indeed report a position which seems to be less than the intended one. This is because getCurrentPosition() is intended to be used from the app thread (and not from the playback thread) and may not have been updated correctly. Nevertheless, the actual player position has already passed the time you specified.

I

[2018-03-06 11:58] hariszukanovic commented on #3933
We have observed a constant slower zap beginning with 2.5.0.
The 2.4.4 is the newest version that seems to work "like before". Previously we worked quite long with 2.3.1 which also did not show this behavior.

That said, I have again confirmed that also the 2.4.4 and 2.3.1 exhibit intermittent, fairly infrequent long delay (compared to average) to receive the onAudioDisabled event. Sometimes it ar

[2018-03-06 16:28] ojw28 commented on #3915
This will require making a whole bunch of classes implement `Parcelable`. In particular `TrackGroup`, `TrackGroupArray` and `MappingTrackSelector.SelectionOverride` and `DefaultTrackSelector.Parameters`. Once that's done, it'll be possible to implement saving/restoring the state of `DefaultTrackSelector` (e.g. in `onSaveInstanceState`).

We will also need to remove the `TrackSelection.Factory` fro

[2018-03-06 16:33] ojw28 commented on #3915
Hm, I guess having separate `TrackSelection.Factory` instances for each of the renderers is kinda required, at least.

[2018-03-06 16:41] dmsmi opened #3945 "Request for ExoPlaybackException createForUnexpected to be public"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed. ✅
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/. ✅
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. ✅
- This issue tracker is intended for

[2018-03-06 17:07] erdemguven commented on #3912
This issue is closed. Please create new issues for new problems.

mpd file should be downloaded if you used DashDownloader. Network can be needed if a licence is needed and if you don't use an offline licence.

[2018-03-06 17:43] ojw28 commented on #3945
What type of component do you need to throw an unexpected `ExoPlaybackException` from? "Unexpected" is currently defined to mean that a `RuntimeException` was thrown up to the top level of the player, in which case ExoPlayer's playback loop will automatically catch and wrap it. If you're explicitly creating one of these exceptions yourself, then it feels like you're using it to mean something else

[2018-03-06 17:44] MohammadElKhatib opened #3946 "cannot resolve MediaSessionConnector"
I am using exoplayer v 2.6.1 but i am facing an issue that MediaSessionConnector is not working.

gradle exoplayer import:
    compile 'com.google.android.exoplayer:exoplayer:2.6.1'

[2018-03-06 17:47] ojw28 commented on #3946
You need to also depend on `com.google.android.exoplayer:extension-mediasession:2.6.1`

[2018-03-06 17:47] #3946 closed, assigned to nobody

[2018-03-06 17:51] MohammadElKhatib commented on #3946
@ojw28 yes you are right this was not clear in installation.
thank you

[2018-03-06 17:52] hariszukanovic opened #3947 "HTTPS keep-alive HttpDataSource for all HTTPS requests (Dash/HLS streaming)"
Is it supported to pass/reuse one HTTPS keep-alive connected HttpDataSource for all HTTP requests issued for a series of different Dash/HLS live streaming sessions? For example, while zapping through a list of live channels which all are served from the same base url...

[2018-03-06 18:31] jackjohnsonn commented on #3937
tonihei, I really cannot thank you enough for all the useful tips and information. I have just implemented the VideoListener on my class and added and used onRenderedFirstFrame(). It is working, but I have the same issue as the original issue.

On first run, there is a slight delay between the video is played and my random event is reached. After that, further runs perform as expected. If I can ge

[2018-03-06 20:51] dmsmi commented on #3945
It is more of a specific use case. I'm creating an API for my organization to use a custom video player view and for any exposed methods I'd like to restrict some possibilities for arguments (i.e. nulls, negative values, etc.) and therefore trying to throw ```IllegalArgumentExceptions``` where applicable within the custom views (note: some of these public calls are being consumed by Observables th

[2018-03-06 22:42] directable opened #3948 "Best Practices Question"
We have an application that cycles through potentially many videos and runs for days/weeks. In some instances the videos only play for 10 seconds. All the videos are always copied to the device before we ever play them.  In some cases more than one video is played at the same time.

We wanted to ask your advice on best practices for how to use the exoplayer components. Today we create/destroy an i

[2018-03-06 23:26] kvillnv opened #3949 "Can't control live DASH stream download duration (Exoplayer offline features)"
Hi,
I am working with the latest commits from dev-v2, my device runs Nougat.
I have no errors in my logs and no bugs.
I've been working for a while on Exoplayer with live streams playback (DASH with DRM Widevine encryption).

Now I am working on downloading live stream.
I was able to successfully download with DashDownloader and play my file with a DrmSession, but the problem is that the downloade

[2018-03-07 01:24] benjaminjrood commented on #3445
Hello @saiyamd and @ojw28 ,

I confirm that we are having the same issue using the Freescale/NXP i.MX6Q.  I would also like to report that NXP has shipped the following BSPs for Android:

1. 5.1.1
2. 6.0
3. 7.1.1
4. 7.1.2
5. 8.0.0

And this issue is present in their codecs for all BSPs that we have tested.  We discovered this issue recently since we received the GMS package and access to the GTS t

[2018-03-07 01:28] benjaminjrood commented on #3902
Hello @saiyamd ,

I am facing the same situation while using the Freescale/NXP i.MX6Q platform.  Have you received any response from NXP yet?  These issues are standing in the way of getting our device certified by Google.

[2018-03-07 01:59] benjaminjrood commented on #3473
Hello @saiyamd,

I too can confirm I am experiencing the same issue with the following:

1. i.MX6Q
2. N7.1.1 Android BSP from NXP (with upgraded codecs to N7.1.2/O8.0.0)

[2018-03-07 02:38] eneim opened #3950 "[Question] Is it bad to create/maintain large number of Renderers for a SimpleExoPlayer?"
This is a question.

My use case is: I want to support different DRM types using a single SimpleExoPlayer instance. The way I do is: extend DefaultRendererFactory, and feed it with more than one DrmSessionManager (so an array of size from 0 to many DrmSessionManagers). For each of that DrmSessionManager (one will support one DRM types/scheme/license url), I create an array of Video renderers (and

[2018-03-07 06:36] pals-ric opened #3951 "exoplayer updation issue"
hi everyone,
There is exoplayer demo app version 2.7.0 with packages  called **demo** , **democast**, **demoima** in which similar files are there demoutil and player manager , can  anyone explains the use of these files and explains the purpose of these files in different package. Let me know if u want more clarity for my doubt.

[2018-03-07 08:09] TarifHatoum opened #3952 "Set setPlayWhenReady to false and then true removes the text track exoplayer Issue"
Issue description
setPlayWhenReady  to false and then true makes the text track exoplayer disappear and the text track is still checked

Steps to replicate the issue:
-Select a text track.
-Pause the player.
-Keep it paused around 10 minutes.
-Press resume the caption disappeared and it is still selected.

Version of ExoPlayer being used
ExoPlayer version used: 2.3.1

Device(s) and version(s) of A

[2018-03-07 09:26] pals-ric commented on #3951
can anyone explain functionality of these packages.

[2018-03-07 09:26] tonihei commented on #3937
I don't know for sure what exactly causes the delay on the first run, but I assume it's something that is loaded or initialized once and then is readily available on further runs. The Android system may keep stuff around if you use it again within a short period of time. To know for sure what your app is doing in this time I'd suggest to use tools like [systrace](https://developer.android.com/stud

[2018-03-07 10:09] ojw28 commented on #3951
All of these packages have README files ([here](https://github.com/google/ExoPlayer/tree/release-v2/demos/cast), [here](https://github.com/google/ExoPlayer/tree/release-v2/demos/ima) and [here](https://github.com/google/ExoPlayer/tree/release-v2/demos/main)). Furthermore, the files you refer to have Javadoc, for example [PlayerActivity](https://github.com/google/ExoPlayer/blob/release-v2/demos/mai

[2018-03-07 10:09] #3951 closed, assigned to ojw28

[2018-03-07 10:20] ojw28 commented on #3950
It's definitely unorthodox, but I can't think of any reason this would be fundamentally problematic, so if it works then go for it ;).

Another approach that might be cleaner would be to implement a `DrmSessionManager` that supports multiple DRM schemes. I wonder whether it's feasible to do this by creating a `DrmSessionManager` implementation that wraps multiple other `DrmSessionManager`s and the

[2018-03-07 10:42] ojw28 commented on #3952
* Is the activity being recreated between pausing and resuming? If so, how is this issue different to https://github.com/google/ExoPlayer/issues/3915?
* Are these instructions for the main ExoPlayer demo app? If not, please provide reproduction steps for that app (if it doesn't reproduce there then that suggests the issue is in your own code). Please can you also be specific about what piece of me

[2018-03-07 10:43] ojw28 commented on #3947
I think the underlying network stack will reuse sockets underneath the hood in this case, without you having to do anything special.

[2018-03-07 10:45] ojw28 commented on #3949
We do not support downloading live streams, so if you want this functionality you'd currently need to build it yourself, I'm afraid. Supporting this use case is tracked by https://github.com/google/ExoPlayer/issues/3877.

[2018-03-07 10:45] #3949 closed, assigned to erdemguven

[2018-03-07 10:53] FirdousNath opened #3953 "Cannot play mp4 videos in some devices like Redmi & micromax"
In same device I am able to play mp4 videos but some videos are not working whereas as all the videos have same bitrate, framerate, quality bla bla (all same)

[code]
-----------------------------------------------------------------------------------------------------------
My code
-----------------------------
BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
                TrackSelec

[2018-03-07 11:09] ojw28 commented on #3945
It's unclear to me why `onPlayerError` is involved. The player hasn't encountered any error. As I understand it, something has gone wrong elsewhere and as a result you want to stop the player. In which case shouldn't you just be calling `Player.stop()`?

[2018-03-07 11:10] ojw28 commented on #3953
We cannot help unless we receive a full bug report (captured with `adb bugreport` shortly after encountering the problem) and a sample media file that causes the issue to occur.

[2018-03-07 11:16] FirdousNath commented on #3953
I am getting this issue in production and cannot send the bug report... app is not crashing anywhere as well

[2018-03-07 11:18] ojw28 commented on #3953
Can you at least get a sample of problematic media and some more information about the device (e.g. what build it's running, the exact model name, etc etc). Most analytics services provide quite a lot more information than has been provided above.

[2018-03-07 11:54] Gian84 opened #3954 "Set bookmark ExoPlayer 2.7.0"
### Issue description
How should I use bookmark on ExoPlayer 2.7.0? I try to force seek(int positionMs) method but without success. The video starts always from 0.
I would like to start a content from a specific position at the first time (not only if the app goes in background and returns in foreground).

(I have noticed that in ExoPlayerImplInternal class in the resetInternal() method resetPosit

[2018-03-07 12:06] FirdousNath commented on #3953
"network":"MOBILE",
"platformextension":"android_native",
"brand":"Xiaomi",
"af_timestamp":"1520408419280",
"model":"Redmi 4",
"product":"santoni",
"sdk":"25"

Android version : 7.0

link of media : https://drive.google.com/file/d/1enU5v5oaOPA4kZlAsFd-YEuVsuQ-HMbA/view?usp=sharing

[2018-03-07 12:07] FirdousNath commented on #3953
[code]

[2018-03-07 12:14] ojw28 commented on #3953
Thanks! We'll see if we can reproduce.

One final question: Are you able to tell from the reports you've received whether the failure occurs reliably for some pieces of media but not others? Or is it possible this is just a sporadic failure that happens sometimes, regardless of what piece of media is being played.

[2018-03-07 12:21] FirdousNath commented on #3953
Same device can play other videos (not all- above video is one of them)

No the problem occurs every time user plays the video whereas the same video gets played flawless in other devices like : Xiomi Mi5, Nexus6, OnePlus5T etc...

[2018-03-07 12:39] eneim commented on #3950
@ojw28 Oh the composition of DrmSessionManager sounds even better.

Sorry to jumping in detail, I made a quick draft as below, do you think it would work?

Admit that I'm not super detailed in how Drm work, the order of methods calling and so on. What I concern is when many Managers involve, even if only one will support the incoming DrmInitData, I cannot make sure it will correctly behave.

[code

[2018-03-07 13:23] pranit21 opened #3955 "How to use DownloadManager and DownloadService class?"
I am trying to implement DownloadManager and DownloadService to download dash files offline. Can anyone tell me how to use these classes to download files locally and use them in player after downloading?

[2018-03-07 13:24] kenlsoft opened #3956 "[Question] M worked Exoplayer Secure Playback not working on N"
Hi,
I am a DRM solution developer and now I am trying with Clearkey and make it play streams with secure codec support.
In M I just modified DrmPlugin.h to let requiresSecureDecoderComponent() return true; and implement my codec with ".secure" suffix and then everything works. Surfacefligner part needs to be updated too but that is not the point where problem is.
And after I moved all these change

[2018-03-07 13:27] yibeiliu commented on #3943
Thank a lot!

I've solved the problem as you said！

[2018-03-07 13:27] #3943 closed, assigned to tonihei

[2018-03-07 13:41] ojw28 commented on #3950
Only scanned it briefly:

* I think looping over the managers in `canAcquireSession` is the right approach.
* I'd have thought you'd want to do the same thing in `acquireSession` as well. Relying on `canAcquireSession` having been called first looks unnecessary and error-prone.
* I'm not sure you need the `accepted` member variable. What I do think you need is a `Map<DrmSession, DrmSessionManager>

[2018-03-07 13:43] hariszukanovic commented on #3947
It sounds right. keep-alive does seem to work at a lower level.
However, when I zap, in the system I do see 3 connections active towards the same server.
My first guess would be they are different HTTP connections that are used for manifest, chunks and drm licence (all of them keep-alive but separate)

I will try to test this by creating the same HttpDataSource object and use for all of 3.

[2018-03-07 13:50] eneim commented on #3950
@ojw28 Thanks for the comment. The last one about different schemes really makes sense to me.
Using Map was one of my first thought, though maybe keeping an 1 - 1 relationship is enough. But you are right, especially when it becomes more complicated. I think I would spend a bit more time on this Drm thing. Will close this issue for now.

[2018-03-07 13:50] #3950 closed, assigned to ojw28

[2018-03-07 14:00] ojw28 commented on #3956
Prior to API level 21 the application layer had to guess the existence of a secure decoder by adding the ".secure" suffix to a decoder name and trying to instantiate an instance. From API level 21 onward secure decoders were instead supposed to be explicitly listed as separate entries in `MediaCodecList`, so that the application layer could query their existence and capabilities. Because it took a

[2018-03-07 14:00] #3956 closed, assigned to ojw28

[2018-03-07 14:02] yibeiliu opened #3957 "Custom Extractor with FFmpeg. Is this feasible?"
I have a user case to support some container like AVI etc...

Exoplayer are not supported those container yet, so I think why not implement a custom extractor with FFmpegExtractor through JNI?

Is this feasible?

Please give me some advice for custom extractor,Thank very much!

#### Version of ExoPlayer being used
#### ExoPlayer version used: 2.6.1

[2018-03-07 14:17] ojw28 commented on #3947
`DefaultHttpDataSource` instances can only be used by one thing at once (i.e. they cannot make multiple requests at the same time). So trying to share a single instance will almost certainly cause things to break. Also, the underlying network stack will reuse sockets across different `DefaultHttpDataSource` instances anyway.

There are probably 3 connections because the player is making three requ

[2018-03-07 14:17] #3947 closed, assigned to ojw28

[2018-03-07 14:21] #3852 closed, assigned to tonihei

[2018-03-07 14:25] erdemguven commented on #3955
Currently I'm preparing a post explaining the usage. It might be released in a couple of weeks. Please wait for it.

[2018-03-07 14:25] andrewlewis commented on #3957
It's definitely possible. Giving detailed guidance on this is probably beyond the scope of this issue tracker, but as a starting point I'd recommend reading the documentation of [`Extractor`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/extractor/Extractor.java) and the types referenced there. If you can implement an `Extractor` that

[2018-03-07 14:28] ojw28 commented on #3957
As an additional point, if you're just looking to support one extra container, then it's probably easier just to write an `Extractor` for that container.

[2018-03-07 14:39] pranit21 commented on #3955
@erdemguven Thanks for the update! But can you give me some hint on how to use it, because I have to give prototype for the client in this week.

I have tried using DashDownloader but it was giving me following error:
[code]

Though all the representations were present:
0.0.0
0.0.1
0.1.0

I have used following url:
[https://bae.sgp1.digitaloceanspaces.com/videos/121/dash/590b546f0d4e3896f611cd51d7

[2018-03-07 14:42] mmbahaa commented on #3841
@andrewlewis can you point me to your changes even if they're not cleaned up yet?

[2018-03-07 15:06] ebr11 opened #3958 "Is it possible to tell the ffmpeg extension to downmix to stereo?"
I have examined the audio renderer implementation and cannot decipher a way to tell ffmpeg that I want everything to be output in stereo - regardless of input format.

I tried forcing an output format with 2 channels but that resulted in distorted and slow playback.

Is it possible to pass parameters of some sort to the ffmpeg decoder to tell it to only output 2 channels?

Thanks.

[2018-03-07 15:09] adrixgc opened #3959 "Wrong constructor in DefaultLoadControl"
### Issue description
Parameters passed in different order in DefaultLoadControl constructor with parameter DefaultAllocator.
The constructor
[code]
sets as 4th parameter `DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS` and as 5th parameter `DEFAULT_BUFFER_FOR_PLAYBACK_MS` . If you check the parameters of the constructor called with `this`
[code]
You can see that the 4th parameter is `bufferForPlay

[2018-03-07 15:17] ojw28 commented on #3959
It's fixed already (in 2.7.0).

[2018-03-07 15:17] #3959 closed, assigned to nobody

[2018-03-07 15:43] kvillnv commented on #3955
@erdemguven, I'm looking forward for this documentation as well.
Is it the DownloadManager that is going to instruct the DashDownloader to update and download the next segments?
because for now I have just used DashDownloader and it does not take all the segments of my Dash playlist, it always stops at 59sec. So now, I am exploring how to use DownloadManager but I cant instantiate it, and there is

[2018-03-07 16:33] pranit21 commented on #3955
Hi @kvillnv,
As per your suggestion if I choose other representation keys or no representation keys at all, then I get following error:
[code]

Though video_id directory already exists. Any suggestions what might be the issue?

[2018-03-07 16:43] kvillnv commented on #3955
I don't know how you instantiate your File for the simpleCache. mine is on the external storage, here is how I do it:
[code]
the method (if you dont have an external drive, change the getExternalFilesDir()):
[code]

If you have success with this, please let me know if you are able to download more than 59sec

[2018-03-07 16:49] andrewlewis commented on #3958
Could you give a bit more detail about how you tried to force the output format to stereo? I'd expect setting `AV_CH_LAYOUT_STEREO` as the output channel layout in [ffmpeg_jni.cc](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/src/main/jni/ffmpeg_jni.cc#L279) to work.

[2018-03-07 17:01] ebr11 commented on #3958
Yes, we changed that and I also tried changing the channel count to 2 in the sample format creation.  This resulted in distorted sound and slow playback.

[2018-03-07 17:02] pranit21 commented on #3955
@kvillnv,

Sorry it was my mistake. I was using wrong representationKey (1.0.0) which was not there.

I am using
`File downloadFolder = new File(getFilesDir(), "video_id");`
for instantiation of File.

But still w/o any representationKey and with specifying any key, I am still getting
`Unbounded index for representation` error. Sometimes it gives this error and sometimes not.

I have tried with yo

[2018-03-07 17:15] hariszukanovic commented on #3947
Thanx for your responses so far...

I'll leave out the DRM call at this point, to make it simpler...
When not using DRM, I actually see only 2 connections towards the server. Also, I can confirm I see these 2 are keep-alive across a series of plays issued for different Dash URLs on the same server.

My complete intention is to somehow have both keep-alive using a single TCP connection to the serve

[2018-03-07 18:58] ojw28 commented on #3865
The fix will land in 2.7.1 which will likely be released this week or early next week.

[2018-03-07 19:01] ojw28 commented on #3888
This was also fixed (independently) by https://github.com/google/ExoPlayer/commit/4373e63fac9a845b04e4edf8df7393888d43a96b. In other words, either https://github.com/google/ExoPlayer/commit/38914f0ba5a6e1fd1f32c8684699a64d885d5eaf or https://github.com/google/ExoPlayer/commit/4373e63fac9a845b04e4edf8df7393888d43a96b fix this issue. We'll be picking up https://github.com/google/ExoPlayer/commit/437

[2018-03-07 19:38] pranit21 commented on #3955
Hi @kvillnv,

I was able to solve the issue thanks to @drjunja, https://github.com/google/ExoPlayer/issues/3729#issue-289918866.
`C.TIME_UNSET` parameter used in current code, gets segmentCount only if `<SegmentTimeline>` tag is present in mpd. But there is no `<SegmentTimeline>` tag in my mpd, which was causing `Unbound index for representation` error.

There was this code in DashDownloader.java

[2018-03-07 22:16] gregkorossy commented on #3939
It seems like that disabling the `DummySurface` creation by returning `false` in `MediaCodecVideoRenderer `'s `shouldUseDummySurface()` increases the lifespan of the app on these probably buggy devices. Is there a way to let the developers decide whether they want dummy surface in the pre-compiled library? Cloning and maintaining the repo for modifying this behavior seems a bit overkill IMO.

[2018-03-07 22:56] kvillnv commented on #3955
@pranit21
Yes me too I was able to implement the DownloadManager today and download a full video.
I didn't need to change the segmentCount.

Now I am working on downloading live video, and it might actually be something about segmentCounts. I need to find a way to make the segmentCount dynamic.. because the last segments do not exist yet and it seems that the downloader makes the count when you st

[2018-03-08 01:34] eneim commented on #3954
@Gian84 just my 2 cent: you have "!haveResumePosition" in your prepare call, which may be false and ExoPlayer will ignore the bookmark you set. Maybe force this to "true" and try again?

[2018-03-08 02:20] xoceunder opened #3960 "problem with characters in .srt file"
![screenshot_14](https://user-images.githubusercontent.com/12431116/37129561-0013f2d8-2256-11e8-9d7e-f8e665a7db9e.png)
problem with characters in .srt file

[2018-03-08 03:23] pranit21 commented on #3955
@kvillnv,

That's great! Can you share your code on how you have implemented DownloadManager. Because I am trying to implement it with no luck.

[2018-03-08 04:51] jboisjo commented on #2843
Quick question for you, do you release the player everytime you plan a new media by zapping? Or you just set a new mediaSource then play it?

[2018-03-08 05:19] ankur1486 opened #3961 "Issue #1234 AssertionError NoSuchFieldException html"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-03-08 06:08] jackjohnsonn commented on #3937
Here is my systrace on both first and second launches.

First launch:
https://i.imgur.com/Mnz1J91.png

Second launch:
https://i.imgur.com/Z6spYHv.png

I have cropped and used only the two rows that I have found interesting. I am guessing the app stores the inflated view even after I return to the main activity. Though, I doubt it is the view inflation that is doing the delay. I have tried a snippe

[2018-03-08 06:21] ram992 commented on #3443
@wvpaf, this also happens on Moto Devices (Moto X-Play and Moto G3). In my App I use WV Modular DRM Content, and as soon as I play any add (Mid Rolls and MP4), and come back to content, the device does a force restart.
@zabirtech you may try this as a Hack
To overcome this, I have been swtching between players (Native Player for Ad and ExoPlayer for Content everyTime).
I cannot provide you logs at

[2018-03-08 07:27] pranit21 commented on #3955
One more thing, when I try to create media source by using following code, media is not playing.

[code]

Though all the data has been downloaded and cached. Is there anything that I am missing?

[2018-03-08 08:09] Realerik opened #3962 "Source error appears after several minutes of playing an audiostream."
Hello,
i have the problem, that after an online audio stream has been played for several minutes an E/ExoPlayerImplInternal: Source error happens.
Sadly the ExoPlayer does not give me any more information, but the people who have this problem all use android 7 on their devices.
As i have seen, there has been raised at least one other issue about this problem, but it has been locked and limited to

[2018-03-08 08:18] andrewlewis commented on #3962
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-03-08 08:23] ojw28 commented on #3961
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found here.

If you’re able to provide complete information as requested in the issue template, please do so below and we’ll re-open the issue. Thanks!

[2018-03-08 08:23] #3961 closed, assigned to ojw28

[2018-03-08 08:27] andrewlewis commented on #3841
I can't easily share my local changes, but you may be able to implement a quick fix for experimentation by modifying the code that decides when to sample the `AudioTimestamp` [in `DefaultAudioSink`](https://github.com/google/ExoPlayer/blob/d098eff/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L1088). There are a few fixes we need to make, but the main one is

[2018-03-08 08:31] ghost commented on #3756
@wvpaf , Any update about this issue? Do you need other information?

[2018-03-08 09:04] tamimattafi commented on #3886
Thank You @nerd-sj , It Worked Perfectly!

[2018-03-08 09:04] #3886 closed, assigned to ojw28

[2018-03-08 09:27] kenlsoft commented on #3956
Thanks.

[2018-03-08 09:30] tonihei commented on #3937
Alternatively, you may set playWhenReady to false, wait for the onPlaybackStateChanged to STATE_READY and then set playWhenReady to true again. This should move the start of the playback behind the initial activity setup. When doing this, you can then use the messages (maybe with message time of 1 to ensure it's not triggered before you start playing) to execute your event.

[2018-03-08 09:33] andrewlewis commented on #3958
This worked for me after another couple of changes: in addition to configuring the resampler to output stereo, the `bufferOutSize` calculation and `ffmpegGetChannelCount` both need to be updated to use the new output channel count (2).

I'm not sure it's worth adding support for setting the output channel count to the extension. The platform audio track should downsample multi-channel audio if req

[2018-03-08 09:34] tonihei commented on #3954
@eneim answer is correct. The second parameter of `player.prepare` is `resetPosition`. So if this is `true`, all previously set positions will be ignored and the player starts at the default position. That means if you seek before calling `prepare`, you need to pass `false` to ` resetPosition` to prevent the reset.

[2018-03-08 09:54] miraclehen opened #3963 "screen flash"
My English is poor.
In my application, I use TouchExoPlayerView made a video playback page, and make a function that use DragHelper  to drag video view ,when video view dragged to the bottom edge,  finish this Activity. But after finishing this Activity, the screen will flash.it would be Affect user experience.

device android version:24
exoplayer version:2.9.0

thanks!

[2018-03-08 10:15] Gian84 commented on #3954
Exactly!!! :'( I'm a little embarrassed :D
Thanks so much @eneim and @tonihei !!!

[2018-03-08 10:16] #3954 closed, assigned to tonihei

[2018-03-08 10:25] pokuri3 opened #3964 "How to switch to lower or higher variant when ever the current selected variant encountered with "Not a valid server response code"."
Whenever the current selected variant chunk returns 400 or 500 server response, Exoplayer trying to re-download at least 3 times and then throwing a playback error.
Is there any way to switch the playback variant whenever the current variant has encountered with bad server response or a corrupted chunk? Please suggested

[2018-03-08 10:44] hariszukanovic commented on #3947
Did not see it was closed.
Thanx

[2018-03-08 12:23] ojw28 commented on #2981
This is tracking enabling blacklisting for response codes other than 404 and 410, I think?

[2018-03-08 12:24] ojw28 commented on #3964
Servers probably shouldn't be providing "corrupted" chunks. They should provide valid chunks or nothing. For server response codes, we already automatically switch variant if the response code is a 404 or 410. Whether we should switch variant for other response codes is tracked by https://github.com/google/ExoPlayer/issues/2981.

[2018-03-08 12:24] #3964 closed, assigned to AquilesCanta

[2018-03-08 12:30] AquilesCanta commented on #3960
This is most likely because the srt file is not encoded using utf-8. Try reencoding it and let us know whether it works. If it doesn't please provide the information requested in the issue template for us to take a better look at this. You can also find relevant information in #3869.

[2018-03-08 12:51] pokuri3 commented on #3964
Thanks @ojw28 .I verified that adding blacklist variant if the server error is 404 0r 410.By adding extra response codes solving my issue.

[2018-03-08 12:54] ebr11 commented on #3958
I had done the modification to ffmpegGetChannelCount but not the one to bufferOutSize .  I'll try that.

The issue appears to only be on the Fire TV stick and, perhaps, only on the 1st gen one as that's what we tested.  On that device, multi-channel PCM is sent out when the attached equipment cannot handle it and the result is only the L/R channels playing - basically, no vocal track.

I know you

[2018-03-08 13:06] ojw28 commented on #3947
You probably have demuxed audio and video chunks in your DASH content, in which case 2 connections is expected. Why would you want only one connection? I think you really want to be requesting audio and video in parallel.

To answer the questions near the end of your response, you'd just have to pass the same factory (or factories that provide the same DataSource instance) everywhere that needs on

[2018-03-08 14:23] alineayres opened #3965 "Is it possible to execute a .exo media file with exoplayer 2.6.1?"
Is it possible to execute a media file .exo extension with exoplayer? If it is, how can I do this or is there an example in the repository?
In order to create the media source, I'm using the ExtractorMediaSource factory passing a DataSource.Factory and calling createMediaSource passing a single parameter the Uri of the source.

[2018-03-08 15:00] erdemguven commented on #3965
I guess this is an ExoPlayer cache file. If so you can playback the cached content using a CacheDataSource and use the original url of the content.

[2018-03-08 15:00] #3965 closed, assigned to erdemguven

[2018-03-08 15:46] andrewlewis commented on #3958
Thanks for the info. Yes, as this isn't an Android device we won't implement a workaround. For what it's worth, I'd be surprised if we made substantial changes to this code any time soon, so maintaining a patch is unlikely to be much of a burden!

[2018-03-08 15:46] #3958 closed, assigned to andrewlewis

[2018-03-08 16:23] alineayres commented on #3965
@erdemguven Yes, it is an Exoplayer cache file of a media that I downloaded to my device using Exoplayer Downloader(HLS/Dash) classes. I tried to use a CacheDataSource, but the url/path I'm passing is from the internal storage. Is that supposed to work this way?

[2018-03-08 18:41] hariszukanovic commented on #3947
Indeed. I have separate audio and video. Thank you for your answers

[2018-03-08 20:07] jackjohnsonn commented on #3937
Thanks for taking all this time to help, tonihei. I have tried both of the suggestions three days ago. The first run delay is still there. I think this issue might be related to old devices. I am not sure.

[2018-03-08 21:53] wvpaf commented on #3756
@ycinfinity got the logs via email. thanks.
the team will take a look.

[2018-03-08 23:15] dmsmi commented on #3945
Yeah thats exactly what I ended up doing as a quick alternative. I wanted to understand though why protect that factory method if the other one's are exposed? It seems like either they should all be  ```package private``` or ```public```. In proposition for ```public``` accessors, if devs are creating a custom player implementation, shouldn't they be allowed to define the type of their exceptions,

[2018-03-08 23:50] rajab57 opened #3966 "Clipping to end of Video returns duration as 0"
### Issue description

clipping a video from the middle of the video to the end of video results in incorrect total duration returned. ( returns 0).

### Reproduction steps

Can be reproduced in demo app with
MediaSource mediaSource = new ClippingMediaSource(mediaSources[0], 5000000, **C.TIME_END_OF_SOURCE**);

### Link to test content
Using Demo content from media.exolist
Tested on streams https:

[2018-03-08 23:50] rajab57 commented on #3888
@ojw28
With more testing, noticing this issue https://github.com/google/ExoPlayer/issues/3966

[2018-03-09 01:06] ram992 opened #3967 "Creating Custom Media Source, to Mimic the performance of AdMediaSource with Custom Ad Servers"
Hello Andrew,
I am opening this as a quesstion only and also as a last resort(tried stackOverFlow and Medium)
I need to implement a Custom MediaSource that Mimics the performance of AdMediaSource that has been created for IMA integration.
I read the code, but got few questions:
How do you manage creating MediaSource placeholders and populate them dynamically,(In between Main Content).
How do you d

[2018-03-09 02:19] xoceunder commented on #3960
this my

[code]

and continues with the same error

[2018-03-09 03:23] kinhdang commented on #3551
Dear all !

Currently version 2.7.0 of Exoplayer, Any one know this case, please share.
we run demo apps but ads only show with ExtractorMediaSource.Factory, HlsMediaSource.Factory not show.

Thanks.

[2018-03-09 04:21] h3clikejava opened #3968 "java.lang.NullPointerException"
It's auto report from crash-reporting-tool. The bug in recent versions. It's will let app crash.

Attempt to invoke interface method 'void com.google.android.exoplayer2.source.MediaSource$Listener.onSourceInfoRefreshed(com.google.android.exoplayer2.source.MediaSource, com.google.android.exoplayer2.Timeline, java.lang.Object)' on a null object reference

1 com.google.android.exoplayer2.source.Extra

[2018-03-09 07:18] pallavirichhariya22 commented on #3968
hi i
 am not able to find subtitle layout class in exoplayer 2.7.0 . can anyone tell what is the replacement for subtitle layout class in updated version.

[2018-03-09 07:44] enigmadevs opened #3969 "STATE_ENDED not reached with Cast extension"
First of all i want to congrat you for this amazing extension, it makes cast integration much easier than Google Cast SDK.

### Issue description
I want to detect when playback has finished to play next track. I know i could use DynamicConcatenatingMediaSource, but i need a previous process before a track starts, so i'm doing it manually. With SimpleExoPlayerView i get ENDED state when tracks ends

[2018-03-09 07:56] RuijiePan opened #3970 "onVideoSizeChanged not work"
I have many vides need to play smooth,as first video play end auto switch to second video,but I found when the first video info such as (width = 1920, height = 1080, degrees = 0) and second video info such as (width = 1080, height = 1920, degress = 90), and then i can't get the onVideoSizeChanged() listener. So I can't update my surface rotation.  In addition, I get some information in onPositionD

[2018-03-09 08:40] andrewlewis commented on #3967
The player will pass an `AdsLoader.EventListener` to `attachPlayer` on your custom `AdsLoader`. You can then call `eventListener.onAdPlaybackState` to provide information about ads, including the number of ad groups, the number of ads in each ad group, the ad media URIs and the "state" of each ad (loaded, played, failed to load). You need to call this method each time the ad playback state changes

[2018-03-09 09:06] ram992 commented on #3967
Thanks, Andrew, for this quick update, I will read the code at ImaAdsLoader and will give it a try.
Can this thread be maintained for some time, like if I have anymore questions/blockers I can ask here directly.

[2018-03-09 10:13] ram992 commented on #3967
Hello Andrew, I read the ImaAdsLoader class, and your mention of AdGroups and Indexes, approach is very different from my Ad Server,
My need is simple, I have a mainContent and need to play Ads in between the MainContent seemLessly(As my current approach is causing a lot of buffering).
I saw that in your IMA implementation and wanted to try that.
All I need to know is how do you define MediaPeriod

[2018-03-09 10:22] andrewlewis commented on #3967
Could you describe a typical playback timeline? Or, could you give a more precise description and/or example of what you mean by 'play ads in between the main content'?

For example, a typical playback might have a a preroll ad, content from 0 to 60 seconds and a midroll ad, followed by content from 60 seconds to the end. That would map onto an ad playback state with two ad groups (at 0 and 60 sec

[2018-03-09 10:22] AquilesCanta commented on #2981
Correct.

[2018-03-09 10:40] ojw28 commented on #3968
You're probably experiencing this NPE because your app is probably re-using `MediaSource` instances. As per the [developer guide](https://google.github.io/ExoPlayer/guide.html#mediasource), you should not do this, although we will be removing this restriction in future versions (probably from 2.8.0).

Alternatively, it's possible that you're app is hitting https://github.com/google/ExoPlayer/issue

[2018-03-09 10:40] #3968 closed, assigned to ojw28

[2018-03-09 10:43] ojw28 commented on #3970
If you're not getting `onVideoSizeChanged` then it's likely we've rotated the second video for you when rendering it into the provided `Surface`. This means that as far as the app is concerned, both videos are `(width = 1920, height = 1080, degrees = 0)` and so it's correct that we haven't called `onVideoSizeChanged`.

If you're seeing an issue where the second video is not rotated, this is probab

[2018-03-09 10:49] ram992 commented on #3967
Ok, here is one use case
Let's say I have a movie which is 2 hr long, and also has around 4 ads at predefined positions(I will send these to server).Like at 3min, 7min, 45min, 80min. Currently I keep track of the contentPlayback using a thread and when the time comes, tell my server the same and request for an AdUrl.
Once I get that I use natviePlayer to play the ad and switchback to ExoPlayer onc

[2018-03-09 10:55] ojw28 commented on #3945
Application developers may implement custom Renderer or MediaSource components, which might want to throw corresponding `ExoPlaybackException`s. So the create methods need to be public.

Custom components should never be throwing an unexpected `ExoPlaybackException`, since it's really designed as a top level "catch runtime exceptions that components didn't thrown on purpose" to avoid process death

[2018-03-09 11:00] andrewlewis commented on #3967
- To take advantage of ExoPlayer's buffer-free playback you'll need to play both the ads and content with ExoPlayer (you can't use a different player for content).
- You don't need to pass an ad tag URI to `AdsMediaSource` ([here's the constructor on the dev branch](https://github.com/google/ExoPlayer/blob/b2c4457/library/core/src/main/java/com/google/android/exoplayer2/source/ads/AdsMediaSource.j

[2018-03-09 11:19] ram992 commented on #3967
Thanks Andrew,
I will try this one out right away and update you.
I was using a diff player cause Moto X Play and Moto G3 devices are force rebooting as soon as I finish ad playback, release the player and then prepare it again with content. I think it has some issue with securePath stuff as the content is DRM protected.

[2018-03-09 12:04] xoceunder commented on #3960
[1520466818340.srt.txt](https://github.com/google/ExoPlayer/files/1796779/1520466818340.srt.txt)

[2018-03-09 12:18] ojw28 commented on #3888
Our planned 2.7.1 release (https://github.com/google/ExoPlayer/tree/dev-v2-r2.7.1) should fix this issue without causing #3966, so I think that release will be fine. We'll also be fixing #3966 in the dev-v2 branch shortly.

[2018-03-09 12:28] ronak2121 opened #3971 "Support seamless audio adaptation even if sample presentation timestamps aren't aligned"
Hi,

I’m using Exoplayer 2.5.3 and Im trying to test how Exoplayer adaptive Streaming support works with HLS.

My adaptive manifest has a 44kHz/32 Kbps HE-AAC, a 44/64 HE-AAC, and a 44/128kbps LC-AAC stream (yes it’s audio only). I’ve noticed that the segments line up perfectly for the two HE-AAC streams, but the LC-AAC segments are slightly off by 0.1 second each time.

When I tested this stream

[2018-03-09 12:31] ojw28 commented on #3971
Are the sample timestamps actually misaligned between the segments in the two variants, or is it just that the segment boundaries aren't aligned exactly?

If the first of these, I think that's a content issue. If the second of these then I'd expect adaptation to be pretty seamless. Please attach a sample we can test with if so.

[2018-03-09 12:32] RuijiePan commented on #3970
Issue description
I have three video.
first video : width = 1920, height = 1080, degrees = 270
second video : width = 1080, height = 1920, degrees = 0
third video : width = 1920, height = 1080, degrees = 90
And then I play it smoothly.And I found exoplayer will rotate the video and think my three video is same width and same height, so onVideoSizeChanged() is not work.And then it will show second

[2018-03-09 12:36] pranit21 commented on #3955
Can anyone tell me how to use CacheDataSource in MediaSource? I have tried various ways, but it is not loading from cache. It gives me `E/ExoPlayerImplInternal: Source error.` always.

Am I using it wrong way?

[2018-03-09 12:39] ojw28 commented on #3970
I don't really understand the use case. If we're already rotating the video into its correct rotation, why do you also need to rotate it?

[2018-03-09 13:11] RalphSleighC4 commented on #3775
We have been able to reproduce this issue on the SM-T580, some notes:

Restarting the device fixed it, didn't occur again for months.
Affects the ExoPlayer demo and all other apps using Wildvine DRM.

While playing the logcat loops the following lines:

[code]

We have not restarted it this time, so should be able to reproduce again so let me know if you need anything else.

[2018-03-09 13:13] RuijiePan commented on #3970
Sorry for my poor English, You misunderstand what I said.I found

MediaCodecVideoRenderer.class line 377-394

protected void onOutputFormatChanged(MediaCodec codec, MediaFormat outputFormat)  {
        boolean hasCrop = outputFormat.containsKey("crop-right") && outputFormat.containsKey("crop-left") && outputFormat.containsKey("crop-bottom") && outputFormat.containsKey("crop-top");
        this.cur

[2018-03-09 14:51] erdemguven commented on #3965
You should use the same url you used to download the content not the path to the internal storage.

[2018-03-09 15:09] ronak2121 commented on #3971
Here's the URL: https://d206c4y6cx10lo.cloudfront.net/adaptive_he_aac.m3u8 the source audio is exactly the same in all cases, just encoded in different qualities/codecs using ffmpeg.

[2018-03-09 16:11] ebr11 commented on #3845
Hi.  This issue is still labeled as "Need more info" but I did provide content that easily reproduces the problem.  Are you still waiting for more info?

Thanks.

[2018-03-09 16:19] andrewlewis commented on #3845
Haven't got round to looking at this yet, I'm afraid.

You mentioned that this is not limited to HD audio. Could you provide some sample media for that too?

[2018-03-09 16:28] ebr11 commented on #3845
I can't provide any other media that will definitely reproduce the issue like the one I did.  For other media, it is much less likely and hard to predict but I have seen it occur.

It is very predictable with the media I provided though.  Only one or two skips and it is going to get stuck.

Thanks.

[2018-03-09 16:28] RuijiePan commented on #3970
Then i try to using SimpleExoPlayerView to play the video, the rotation is correct. So I found that
when i using exoplayer.setVideoSurface(suface);  It's will not switch second video degrees correct automatically.When i using exoplayer.setTextureView(textureView). It's fine to switch degrees
automatically. Beacuse I new to add some filter to GLsurfaceview, so I need to using surface as output.

[2018-03-09 17:16] ojw28 commented on #3971
The streams aren't all 44100Hz. Looks to me like that lowest two qualities are 22050Hz and only the highest quality stream is 44100Hz. The non-seamless adaptations are adaptations to/from the highest quality stream, since this involves a change in Hz that we're not able to handle in a completely seamless way. If all streams were the same Hz, I think we'd adapt seamlessly.

For DASH/SS where the sa

[2018-03-09 17:17] ojw28 commented on #3971
--> @AquilesCanta to see if there's any way of figuring out the sample rate of variants from the master playlist (we could suggest an enhancement to the HLS spec to allow this, if not?).

[2018-03-09 17:27] ronak2121 commented on #3971
I would beg to differ on that analysis. All streams are 44100Hz if I check the individual MP4s using ffprobe:

Input #0, mov,mp4,m4a,3gp,3g2,mj2, from 'long_output_64_heaac.m4s':
  Metadata:
    major_brand     : iso5
    minor_version   : 512
    compatible_brands: iso6mp41
    encoder         : Lavf57.82.101
  Duration: 01:26:13.82, start: 0.000000, bitrate: 64 kb/s
    Stream #0:0(und): Audio:

[2018-03-09 18:48] #3970 closed, assigned to ojw28

[2018-03-09 19:04] ojw28 commented on #3971
Hmm, you're right that there's more going on here. For the streams we think are 22050Hz, it seems we're parsing out two different sample rates from the container. In `AtomParsers.parseAudioSampleEntry` we parse out a value of 44100, but in `AtomParsers.parseAacAudioSpecificConfig` we parse out a value of 22050.

It's possible that the content is inconsistent with itself, and that what sample rate

[2018-03-10 00:24] ronak2121 commented on #3971
Sounds good. I’ll also have to bring this up to the ffmpeg group to see what’s going on.

I tried to check this very thing on iOS; and AVURLAsset shows 22kHz but AVAudioFile shows 44100khz.

[2018-03-10 19:18] Khang-NT opened #3972 "Support lazy preparation in ConcatenatingMediaSource for long playlists"
### Change request
I found this class is very useful `DynamicConcatenatingMediaSource.DeferredTimeline`, I think it is reusable, just like `DeferredMediaPeriod` class. Please make it public.

I need to use `DeferredTimeline` to create a class called `DeferredMediaSource`: https://gist.github.com/Khang-NT/985e12e1d73454a79a989165c9bd13fa . This class solves my problem when using `DynamicConcatenati

[2018-03-12 06:57] pals-ric opened #3973 "exoplayer updation"
I am facing resource error in track selection helper class once i included that class to my application . I rebuilded  and cleaned my project also but error is still there. I am trying to use that file but its saying that class is never used.

[2018-03-12 08:58] ojw28 commented on #3973
Sorry, this issue tracker isn't the right place to ask for this kind of help.

Please could you redirect questions like this to StackOverflow rather than this issue tracker? Thanks.

[2018-03-12 08:58] #3973 closed, assigned to ojw28

[2018-03-12 09:08] FirdousNath commented on #3953
any progress ?

[2018-03-12 09:20] ojw28 commented on #3953
No, sorry. We don't have one of these devices to test on, unfortunately. I'm also slightly unclear exactly what the device is, if we were to buy one. The "santoni" codename seems to be for the Redmi 4X, rather than the Redmi Note 4 as per the title of this issue. It's also a bit unclear to me how many versions of this device there are (e.g. if there are two variants with different chipsets, as is

[2018-03-12 09:32] FirdousNath commented on #3953
ok will confirm with the customer and revert soon. Thank you

[2018-03-12 10:13] sathishkumar1392 opened #3974 "When i'm choosing next clips or videos in m3u8 format that time i'm seeing previous Closed caption tittle not showing current tittle"
For Example : I having 3 videos clips

When i'm playing first video currently showing first clips closed caption. When i choose second clips that time showing first clips closed caption only in Exoplayer. Previous Closed caption not clearing.

[2018-03-12 10:32] botaydotcom commented on #3974
Hi @sathishkumar1392,
I tried to reproduce this on the Demo app, but couldn't reproduce it:
- Played 3 HLS (m3u8) streams in a playlist.
- Turned on caption for the first clip.
- Waited until the player played the second clip (also tried to skip to the second clip). Caption for the first clip was cleared properly.

Please try to reproduce this issue in our Demo app if possible, and provides us wit

[2018-03-12 10:39] botaydotcom commented on #3963
Hi @miraclehen ,
I think the ExoPlayer version in your report is not correct. There is no ExoPlayer version 2.9.0 yet (2.7.0 is the latest version).
TouchExoPlayerView also seems to be a custom component in your application, and we couldn't give any diagnosis for that unfortunately.

If it's possible, please try to reproduce this issue in our Demo app, and provides us with more information accordi

[2018-03-12 10:50] sathishkumar1392 commented on #3974
hi @botaydotcom
* It played well when the first clips ended and then second clips started it will load second Caption.
* But scenario is When first clips is playing and Caption also playing that time working perfectly. When  I skipped the  Second Clips that time first clip Caption is Showing in second clip.that issue exactly.

[2018-03-12 11:57] ojw28 commented on #3971
I think all the streams are 44100kHz. There's possibly a bug in whatever you're using to package the content that's causing part of the container to have the sample rate set incorrectly.

I don't think that's the root cause of the issue though. Further down ExoPlayer's pipeline it is seeing all three streams as 44100kHz. Things to look at would be:

1. Whether the sample presentation timestamps in

[2018-03-12 12:34] AquilesCanta commented on #3969
A fix for this will be pushed soon. Thanks for reporting!

[2018-03-12 12:39] pranit21 opened #3976 "Dash - Downloaded representations sometimes don't work offline"
Hi,

I am trying to download dash video using DashDownloader. There are various representations in my mpd file which I print using dashDownloader.getAllRepresentationKeys():
0.0.0 --> 240p
0.0.1 --> 360p
0.0.2 --> 480p
0.0.3 --> 540p
0.1.0 --> audio

According to the documentation, you should select any one representation. So I tried using all representations one by one. All downloaded correctly,

[2018-03-12 12:49] enigmadevs commented on #3969
Great!

[2018-03-12 13:07] ram992 commented on #3967
Hello Andrew,
Thanks for helping me out.
I tried what you said, and have few questions:
I saw that onAdEvent(an Interface) is triggered by some sdk, cause there is no usage of it.
I am attaching the player as soon as creating the ImaAdsLoader object and in that method calling startPlayback method where I am adding the cue points like this,
  // Set up the ad playback state, skipping ads based on t

[2018-03-12 13:21] andrewlewis commented on #3967
Yes, `onAdEvent` is called by the IMA SDK.

Are you calling `eventListener.onAdPlaybackState(adPlaybackState);` to update the media source's ad playback state? Each time you need to update the state (e.g., to add an ad URI or mark an ad as played), the pattern is to call `adPlaybackState = adPlaybackState.withSomeChange(...);` then invoke `eventListener.onAdPlaybackState` to update the ad media so

[2018-03-12 14:27] erdemguven commented on #3976
You need to either force just the downloaded representation tracks to be selected or use DashManifest.copy() to create a copy of the manifest which only contains the downloaded representations.

[2018-03-12 14:46] b0g8 opened #3978 "Render video for further processing"
### Issue description
Is it possible to use the new Clock in such a way that rendering is not related to realtime? I'd like to apply some further processing to the video frames, and keep them all. Once the processing is done for one frame, advance the Clock so that the next frame is rendered. If possible, could you advise me about what could go wrong, or where to pay attention?

### Reproduction s

[2018-03-12 15:04] pranit21 commented on #3976
@erdemguven,

Thanks for the solution! I will try this and let you know.

[2018-03-12 15:07] RalphSleighC4 commented on #3775
@wvpaf I have e-mailed a bugreport taken while this was happening to dev.exoplayer@gmail.com

[2018-03-12 15:17] pranit21 commented on #3976
Hi @erdemguven,

Thank you so much! By forcing track to the downloaded representation solved my problem! Thanks a lot!

[2018-03-12 15:30] tonihei commented on #3972
I think we can do this as it will also clean up some of the code in the already long `DynamicConcatenatingMediaSource` class.

More generally, the problem you are trying to solve is actually a useful feature especially for long playlists of DASH, HLS or SmoothStreaming media items where all manifests are downloaded immediately. The downside of not downloading the manifests is that the duration of

[2018-03-12 15:38] Khang-NT commented on #3972
The problem above is my only use case of `DeferredTimeline`. It would be nice if `DynamicConcatenatingMediaSource` supports to solve that problem officially, then keep `DeferredTimeline` class as internal up to your design.

[2018-03-12 15:51] #3976 closed, assigned to erdemguven

[2018-03-12 15:54] AquilesCanta commented on #3960
I cannot reproduce the issue with the provide subtitles. The characters are rendered correctly.

[2018-03-12 15:56] tonihei commented on #3498
Closing this issue as the feature is now available in the dev-branch.

[2018-03-12 15:56] #3498 closed, assigned to tonihei

[2018-03-12 16:12] ram992 commented on #3967
Sure Andrew, then I will try to spend some time reading the code, will update you.

[2018-03-12 21:37] alineayres commented on #3965
@erdemguven Is there an example code how to play offline a downloaded Exoplayer cache file?

[2018-03-12 21:50] seiji-fli commented on #3297
any progress on this? could really use this for analytics

[2018-03-13 05:40] sophia-podo opened #3979 "[Question] Can I force the security level down?"
Hi,

I found the isL1WidevineAvailable() function at DashTestRunner.java.
(https://github.com/google/ExoPlayer/blob/eb9c67fbc58e4a9bf4f17580e988ab321752e364/playbacktests/src/androidTest/java/com/google/android/exoplayer2/playbacktests/gts/DashTestRunner.java#L111)
In DashTestRunner.java, If this function returns false, mediaDrm.setPropertyString(“securityLevel”, “L3") is called before mediaDrm.ge

[2018-03-13 09:19] orhunkupeli7 opened #3980 "How to listen video position"
I'm using ExoPlayer 2.7.0 and I would like to listen player position in order to take actions. I couldn't find specific method for it. Could you please suggest me a proper solution?

Thanks

[2018-03-13 09:42] tonihei commented on #3980
You can query `player.getCurrentPosition()` as often as you like. The position is updated all the time, thus we can't send repeated updates in a callback. The progress bar in our UI module, for example, is updated by posting a message every 200ms.

[2018-03-13 10:09] botaydotcom commented on #3974
Hi @sathishkumar1392 ,
Thanks for the update, but that doesn't provide us with enough information. As mentioned in previous comment, I also tried to skip from 1st clip to 2nd clip while playing with captions, and the captions were cleared properly, so I couldn't reproduce this issue.

Please try to reproduce this issue in our Demo app if possible, and provides us with more information according to

[2018-03-13 10:33] botaydotcom commented on #3978
I think the Clock interface is mostly for facilitating testing, and in fact some of our tests use custom clock implementations that are advanced manually. It was not designed for your use case, but it might work.

However. one problem I can think of for your approach is that in many places in ExoPlayer, we are still using `SystemClock`, and have not migrated to use the new interface yet. This is s

[2018-03-13 11:06] botaydotcom commented on #3948
Hi @directable ,
I don't think there's any problem create/destroy/recreate player instances repeatedly, except maybe for performance - so if your app is running fine, not slow, janky etc..., that might not be an issue, and you can continue use your current approach if it works. In some cases (activity goes into background, onStop/onStart), it might even be advisable to destroy and recreate the pla

[2018-03-13 12:03] bwalter commented on #3596
We currently have the same issue and get many complaints from Pixel 2 users. Do you have any further information? Any help would be very much appreciated. I would be extremely happy to know if there is a possible workaround to make the DRM/Widevine livestream work on that device.

[2018-03-13 12:40] orhunkupeli7 commented on #3980
So, it is okay that to listen it with a handler.

[2018-03-13 13:01] tonihei commented on #3980
Yes, that's certainly possible.

[2018-03-13 13:47] douib commented on #3955
@pranit21 Ensure you have Write_storage granted.

[2018-03-13 13:51] r3nan opened #3981 "How to disable Timebar?"
I use Exoplayer for my project.

Beforte to play a video, I want to show a advertising with all controls disabled in player when the ad is playing.

I already disable all ImageButtons (next, prev, pause and etc...), but i having problem to do this to timebar. How can I disable the user interation with timebar?

[2018-03-13 13:59] ronak2121 commented on #3971
Regarding number 2, are you sure your code is looking at the entire HE-AAC profile, with the SBR information? If that's ignored, then you would see the audio as having half the sampling rate (and thus half the frequency response) and twice the sample duration.

Regarding the content packaging, I'm using the latest release of ffmpeg 3.4.2 and the Fraunhofer codec libraries there.

I tried to peek i

[2018-03-13 14:03] ojw28 commented on #3971
I'm just looking at the sample timestamps in the FMP4 container. These are independent to whatever the codec is.

[2018-03-13 14:46] botaydotcom commented on #3981
Hi @r3nan ,
I guess you are using the `PlayerControlView`, `PlayerView`, `DefaultTimeBar`, and try to use `DefaultTimeBar.setEnabled(false)` to disable the time-bar? The problem with this is: this will be overridden in `PlayerControlView` (it will reenable the time-bar if the content is seekable).

To fix this, I can come up with a few workarounds, but none of them seem to be too easy (not sure if

[2018-03-13 15:01] r3nan commented on #3981
Hi botaydotcom. Thank you for the answer.

How can I do this: "add a flag to allow you to manually override setEnable()"?

[2018-03-13 15:12] botaydotcom commented on #3981
Hi @r3nan,
I haven't verified the code, but something like this will do:
[code]

[2018-03-13 15:36] andrewlewis commented on #3978
One additional suggestion related to those points: if you are only rendering video you may be able to do this kind of batch processing easily by subclassing `MediaCodecVideoRenderer`, returning `this` from `getMediaClock`, and implementing `MediaClock` with `getPositionUs` returning the last rendered frame time (plus any additional offset required to make the next frame not too early) based on the

[2018-03-13 15:44] r3nan commented on #3981
Cool! It worked very well for me =D Thank you for the support.

[2018-03-13 15:44] #3981 closed, assigned to nobody

[2018-03-13 16:05] b0g8 commented on #3978
Audio is rendered too, but to a file, not to the AudioTrack. Should the getMediaClock for MediaCodecAudioRenderer just return false? Will audio sync to video renderer time?

[2018-03-13 16:35] andrewlewis commented on #3978
Yes. You can only have one media clock at a time. The audio renderer doesn't do any synchronization when it processes output because it's providing the position.

Depending on your requirements, you may want to limit how far your audio renderer can read ahead of the video renderer (or fall behind, I guess, though this seems unlikely to happen in practice). I think they should be kept roughly synch

[2018-03-13 18:46] feelfreelinux opened #3982 "MergingMediaSource merge two LoopingMediaSource"
### Issue description
Is there option to merge two `LoopingMediaSources`? In my app I want to merge looped audio mediasource of different duration than looped video mediasource. How can I merge these two mediasources together?
### Reproduction steps
Create video and audio `LoopedMediaSource`, try to merge it with `MergingMediaSource` - results with video and audio stopping at end of the video.

[2018-03-13 20:31] pranit21 commented on #3955
@douib,

Thanks for your response!

Write Storage is not needed, since it is private storage. But my issue got resolved. Refer https://github.com/google/ExoPlayer/issues/3976

It was related to representation downloaded. CachedDataSource was not picking downloaded representation from the track automatically, instead I had to forcefully select the representation which I have downloaded.

[2018-03-13 21:08] ojw28 commented on #3982
This is not supported.

It should be possible for you to achieve what you want with two separate player instances, one for audio and one for video, and a bit of co-ordination in your app code to start them both at the same time. You wont get completely accurate A/V sync with this approach, but the fact your audio is a different duration and loops implies you're not concerned about A/V sync anyway.

[2018-03-13 21:08] #3982 closed, assigned to ojw28

[2018-03-14 00:02] 0c6a183d opened #3984 "DASH cache options"
Hi. Quick question.

My App uses Exoplayer to play static content via adaptive bitrate dash audio. All works fine.

Are there cache options available where the player queries the cache prior to downloading each chunk?

A large portion of users listen to a track multiple times, it would be great if a portion of those chunk requests were fulfilled by their local cache.

I am aware that the whole str

[2018-03-14 03:14] fadzleyhud opened #3985 "Question: Display media subtitle using LeanbackPlayerAdapter 2.7.0"
Hi,
I'm developing an android tv app using leanback with exoplayer 2.7.0. Everything working fine but how to display video subtitle if I use leanbackplayeradapter? Tq

[2018-03-14 04:26] fadzleyhud commented on #3985
Nevermind. For anybody curious how to do this, add exoplayer SubtitleView in your VideoFragment activity layout. Then pass the view to LeanbackPlayerAdapter, inside the adapter create new Listener implements TextOutput, initialize it like componentListener.

onAttach and detach

    @Override
    public void onAttachedToHost(PlaybackGlueHost host) {
        if (host instanceof SurfaceHolderGlueHos

[2018-03-14 04:26] #3985 closed, assigned to nobody

[2018-03-14 05:46] CoryCharlton opened #3986 "Classes/resource not accessible through "full" library after the gradle changes in 2.7.1"
### Issue description
Resource ids are no longer accessible through the "full" library after the gradle changes in 2.7.1

### Reproduction steps
Add the ExoPlayer library like this

`implementation 'com.google.android.exoplayer:exoplayer:2.7.1'`

And try to reference one of the resource ids:

`        <TextView
            android:id="@id/exo_position"
            android:layout_width="wrap_conten

[2018-03-14 05:48] CoryCharlton commented on #3986
I switched my application gradle to the following and I can reference the resource ids again:

    implementation 'com.google.android.exoplayer:exoplayer-core:2.7.1'
    implementation 'com.google.android.exoplayer:exoplayer-dash:2.7.1'
    implementation 'com.google.android.exoplayer:exoplayer-hls:2.7.1'
    implementation 'com.google.android.exoplayer:exoplayer-smoothstreaming:2.7.1'
    impleme

[2018-03-14 08:10] Ernest-su commented on #3986
It seems that the full version only contains a `BuildConfig.class`

[2018-03-14 08:54] ojw28 commented on #3986
Is this just resource ids, or classes too? I think our release process didn't handle `api`/`implementation` properly. The POM file for 2.7.1 is missing its dependencies:

https://bintray.com/google/exoplayer/download_file?file_path=com%2Fgoogle%2Fandroid%2Fexoplayer%2Fexoplayer%2F2.7.1%2Fexoplayer-2.7.1.pom

Compared to:

https://bintray.com/google/exoplayer/download_file?file_path=com%2Fgoogle%2F

[2018-03-14 09:13] sathishkumar1392 commented on #3974
Can i get sample code for clearing caption

[2018-03-14 09:18] enigmadevs opened #3987 "Cast Extension: Loading an item without starting playback"
### Issue description
This issue happens only with Cast Extension.

I want to load an item without starting playback automatically, it should only start if user clicks play button. By default when i load an item the playback starts automatically.

I tried to set "PlayWhenReady" to false before load, but it played the video anyway.

### Reproduction steps
Connect to Chromecast sending a video URL w

[2018-03-14 10:42] #3955 closed, assigned to erdemguven

[2018-03-14 10:46] erdemguven commented on #3984
You need to use CacheDataSource with a Cache instance. Downloaders use Cache at the background as well.

[2018-03-14 10:46] #3984 closed, assigned to erdemguven

[2018-03-14 11:46] botaydotcom commented on #3974
If you are using the default `SubtitleView`, you can use: `subtitleView.setCues(null);`.

[2018-03-14 11:47] sathishkumar1392 commented on #3974
I fixed that  issue its Working fine Thanks for support lot

[2018-03-14 11:47] #3974 closed, assigned to nobody

[2018-03-14 11:53] pals-ric opened #3988 "version conflicts"
currently we are using exoplayer  version  2.3.1. i want to include exoplayer version 2.7.0 in same project how can we do that without conflict?

[2018-03-14 12:54] botaydotcom commented on #3988
Hi @pallavirichhariya22 ,
Can you provide the reasoning why you would like to do this? I think this is more of a general question with Gradle dependency, rather than ExoPlayer, which should be asked on StackOverflow instead.

Anw, I did a quick check [from SO](https://stackoverflow.com/questions/29374885/multiple-version-of-dependencies-in-gradle), and it seems this is not feasible (Gradle will us

[2018-03-14 14:23] b0g8 commented on #3978
Audio data is processed as well. It may take longer than processing the video data. In order to limit how far the audio renderer can fall behind the video renderer, should the video renderer get the position of the audio renderer, and decide whether to advance or not?

[2018-03-14 14:29] #3988 closed, assigned to nobody

[2018-03-14 14:44] 13robot opened #3989 "DynamicConcatenatingMediaSource with multiple mediasource (AdsMediaSource)"
Error happen while call  exoPlayer.prepare(dynamicConcatenatingMediaSource);

dynamicConcatenatingMediaSource contain mediasource with ads

Internal runtime error.
                          java.lang.IllegalArgumentException
                              at com.google.android.exoplayer2.util.Assertions.checkArgument(Assertions.java:37)
                              at com.google.android.exoplayer2

[2018-03-14 14:47] andrewlewis commented on #3989
This looks like a duplicate of #3750.

[2018-03-14 14:47] #3989 closed, assigned to andrewlewis

[2018-03-14 15:09] CoryCharlton commented on #3986
I just confirmed that the classes are missing also.

I tried editing the POM in my gradle cache as a hack and that didn't seem to work (not suggesting that isn't the solution).

[2018-03-14 16:15] andrewlewis commented on #3978
That sounds sensible and can't do any harm as long as you make sure the renderers can't get stuck not consuming any data. (Just to reiterate, the player can only have one enabled renderer that provides a media clock at a time. So you can't have both renderers provide positions in the "normal" way. I guess you'll just add a check at the start of `processOutputBuffer` for each renderer: one can use

[2018-03-14 17:53] AquilesCanta commented on #3987
When you create the media queue item at position `startIndex`, try setting autoplay to false. Note that this attribute of the media queue items is persistent, which means that whenever the receiver app transitions to that item, it will pause itself. It shouldn't too hard to work around this. I will try to do it in CastPlayer, and use this issue to track this.

[2018-03-14 19:55] linhai326 commented on #3561
Originally, i thought @cizarco  was right: obviously, the current implementation closes the primary/first session when opening a new one, which doesn't match the document's design. But even if I don't release any session, this issue still happens. So it seems the cause was somewhere else.

[2018-03-14 19:56] CoryCharlton commented on #3986
I haven't been able to reproduce this fix but issue https://github.com/novoda/bintray-release/issues/149 seems to suggest that com.novoda:bintray-release:0.8.0 resolved the dependency issue related to `api` and `implementation`.

https://github.com/novoda/bintray-release/releases/tag/0.8.0

Looks like ExoPlayer is still using release 0.5.0

[2018-03-14 21:58] xoceunder commented on #3960
I have problems with the characters

[2018-03-14 22:06] directable commented on #3948
Thank you so much, this is very helpful.

[2018-03-14 22:25] ojw28 commented on #3986
Correct. I've tried using 0.8.0 and the POM files do contain the dependencies again. I'm currently checking whether upgrading the version changes anything else about the release, and whether the POM changes fix the issue.

[2018-03-14 22:30] ojw28 commented on #3561
@cizarco is right. Just commenting out releasing of sessions isn't sufficient to fix it. More in depth changes are required (e.g. to ensure `MediaCodecRenderer` doesn't tear down the MediaCodec).

[2018-03-14 23:13] ojw28 commented on #3986
The POM files have been updated, and the issue appears to be fixed. Unfortunately, since we haven;'t bumped the version again, you'll probably need to clear your gradle cache to pick up the updates.

I found that after I did that Android Studio would build a project depending on the "full" library fine, although for some reason it still showed imports as unresolved when opening source files. I was

[2018-03-14 23:15] ojw28 commented on #3708
I tried using gradle 4.4 and things seem to work fine with 2.7.1. If you're still seeing issues with 2.7.1, please provide detailed reproduction steps. Thanks!

[2018-03-14 23:36] franklink opened #3990 "Cannot use SimpleExoPlayerView nor PlaybackControlView in an existing UI"
Currently using ExoPlayer version 2.6.1 in my project.

I am unable to use SimpleExoPlayerView nor PlaybackControlView in my application's layout file. Neither will ever be shown and, to my knowledge, they are completely useless as an extensible view library.

I have tried to implement these views in my app as well as in a sample app I created just to reproduce the issue. In no way are either of t

[2018-03-14 23:57] CoryCharlton commented on #3986
Confirmed that the updated POM fixed the issue.

I ran into the same problem with unresolved imports in the UI. Switching to gradle 4.4 and then back to 4.1 resolved it for me as well.

[2018-03-15 00:10] ojw28 commented on #3990
* Prior to 2.7.0 you need to call `show()` on `PlaybackControlView` to make it visible when using it as a standalone component. This was fixed in https://github.com/google/ExoPlayer/commit/fd10a3cbb02ab41ef643e9cced40140bb79c6c1b. You also need to call `setShowTimeoutMs(0)` to prevent it from being hidden again, assuming you're wanting it to remain visible.
* No idea about the `SimpleExoPlayerView

[2018-03-15 00:18] ojw28 commented on #3986
Thanks for confirming! Looking at the stats we have for how many developers downloaded 2.7.1 prior to the issue being fixed, it doesn't seem worthwhile bumping the version number to avoid them having to clear their gradle cache. Marking as closed.

[2018-03-15 00:18] #3986 closed, assigned to ojw28

[2018-03-15 03:48] meikaiss commented on #3980
Why not provide onProgressChangedListener?  handler is Very troublesome.

[2018-03-15 06:27] LAFINAL opened #3991 "When I need more information( duraionUs) for my own AdaptiveTrackSelection"
Hello, I am making my own ABR algorithm(HLS).
In my ABR algorithm, I need TargetDuraionUs in my own AdaptiveTrackSelection. I will extend BaseTrackSelection class but there is no way I can get durationUs of each chunks. Of course I can get TargetDuraionUs from segments information in HlsChunkSource, but if I make changes in HlsChunkSource, it would need a lot of changes for my ABR algorithms( such

[2018-03-15 06:42] FirdousNath commented on #3953
device is redmi 4  and outside India its called redmi 4X rest everything is same

[2018-03-15 06:44] eneim commented on #3990
@franklink A demo layout xml that produce the issue may help?

[2018-03-15 07:05] #3991 closed, assigned to nobody

[2018-03-15 08:23] ottbasics opened #3992 "Exoplayer sequence for interacting with Widevine License Proxy Server"
Hi, this is a question and not an issue.

I am writing code to play a Widevine encrypted DASH content, through a Proxy License server which is used for authentication and authorization.

I went through the Exoplayer demo application (where direct License server is used) and understood the following sequence:
1. Create DrmSessionManager using the url of the Widevine License server.
2. Associate thi

[2018-03-15 09:17] tonihei commented on #3980
The problem with a onProgressChangedListener is that the position changes about every 10 milliseconds. Sending such a huge amount of callbacks would use much more CPU time (and thus battery) than polling the progress infrequently. Most progress bars don't have a resolution which would allow you to show a 10ms difference either, thus it also wouldn't make sense for most purposes.

Also, using a han

[2018-03-15 09:59] #3948 closed, assigned to nobody

[2018-03-15 10:24] AquilesCanta commented on #3960
Is this the demo app? Which device and android version? Please have a look at the issue template [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) and fill all information required there. Please don't omit any items.

[2018-03-15 11:20] tedKim5178 opened #3993 "Making my own ABR algorithm in HLS"
Hello,

I am making my own ABR algorithm class in HLS extended from BaseTrackSelection and I am facing with a problem. I need targetDuration in my class but there is no way I can get the information from the application level. Plus, I am making my own LoadController, and it needs bitrate information. In this case, is there simple way that I can pass these information to my class in application lev

[2018-03-15 11:25] AquilesCanta commented on #3993
`Player.EventListener#onTimelineChanged`  includes the manifest as one of the arguments. An `HlsManifest` includes a media playlist as one of its fields. Finally, HlsMediaPlaylist contains targetDurationUs. Hope this helps.

[2018-03-15 11:31] AquilesCanta commented on #3993
Sorry, I missed the bitrate part. Could you clarify the usecase for the bitrate? You can use the media source event listener to get load events to retrieve certain information. The master playlist will also include useful information (also obtainable through onTimelineChanged).

[2018-03-15 12:11] AquilesCanta commented on #3708
This is still an issue, I think.

[2018-03-15 13:49] eneim opened #3994 "Add callback for volume change"
I'm on ExoPlayer 2.7.0, this is kind of a feature request (if it is not there yet).

There is volume setting on ``SimpleExoPlayer`` and lower level, but I could not find a place where a successful or failure Volume update could be 'listened' to. Can this be added to the library, or how can I make it by my own, in a recommended way?

Thanks.

[2018-03-15 18:36] boulaycote opened #3995 "Identifying bottlenecks MPEG-TS/UDP"
Hi,

I'm back working on [this project (issue #2300)](https://github.com/google/ExoPlayer/issues/2300) and I want to make sure I fully use the advantages of temporal redundancy. That means making the I-frame a normal value and eliminating the blocking and tearing this causes.

I am not sure how to proceed on identifying bottlenecks, wether it be the network, extractors, readers, etc. Can I enable

[2018-03-15 19:53] RAISERALEX21 opened #3996 "Does not play h265"
**# When trying to play content on h265, Exoplayer remains loaded and does not play the content.

Just send me the following code, and no longer do any process. I'm a bit stuck with this. I hope you can help me :(**

GRADLE:
    compile 'com.google.android.exoplayer:exoplayer:r2.4.2'

ANDROID VERSION:
    7.0

[code]

[2018-03-15 20:38] directable opened #3997 "Videos stop being rendered after a few hours on specific Sony Bravia model."
### Issue description
We have an application that goes through the entire Create/Destruct cycle for PlayerView and Player for each video we play. We have noticed that after running this for a few hours or so, the Sony Bravia (SVP-DTV15, BRAVIA 4K 2015, Sony, 24, Android 7 )(recently updated to android 7) stops rendering videos and exoplayer gives an exception. We believe there is some sort of memo

[2018-03-15 21:16] wvpaf commented on #3756
There is a fix for this has been checked into P.
Else to workaround is reboot the device and/or stop and restart the mediaserver.

[2018-03-15 21:16] #3756 closed, assigned to nobody

[2018-03-15 21:30] wvpaf commented on #3775
The logs indicate, "gralloc failed" that the device is not capable of hanlding the content that is attempting to playback.
If you limit the content to HD will this reproduce?

[2018-03-15 22:41] ghost commented on #3756
@wvpaf Thanks for fixing this issue.

What do you mean "stop and restart the mediaserver"?

Do you have a plan to fix this issue in the versions before Android P?  Rebooting the device and restarting the media server are not reasonable solutions for this issue.

[2018-03-15 22:56] franklink commented on #3990
Thanks, @ojw28. I was pulling my hair out over that one because the SimpleExoPlayerView will show controls once a player is set (and maybe playing). I assumed this was the same for PlaybackControlView. That's what I get for assuming. I'm showing the playback controls now. I am going to be supplying my own custom playback controls layout so I'll try that next.

[2018-03-16 01:25] xoceunder commented on #3960
version 1.6.0

[2018-03-16 09:32] RalphSleighC4 commented on #3775
I can confirm this is happening when playing SD content, and the device played HD/SD content for some months without issue before this started happening.

I don't know if it could play the exoplayer UHD demo before the issue arose, and don't want to restart it to remove the issue to find out, given the difficulty in replicating it.

[2018-03-16 09:32] mohanrajsambath opened #3998 "Close caption: Text are not match with the audio its going Two second advanced"
### Issue description
Close caption: Text are not matching with the audio it's going Two seconds advanced,  I'm using HLS streaming  URL. The URL is coming from the Amazon with transcription made by my team. I'm trying on Android as my part. This issue occurs only on my side. How do I handle this issue?

### Reproduction steps
Parse HLS URL with transcription enabled to exoplayer

### Version of E

[2018-03-16 10:02] botaydotcom commented on #3998
Hi @mohanrajsambath ,
Please provide us with the URL/ content that you are testing with? If you don't want to put the link here, you can send us an email to dev.exoplayer@gmail.com, and we will look into it. Thank you very much.

[2018-03-16 10:08] botaydotcom commented on #3996
Hi @RAISERALEX21 ,
I think this is most probably a device specific issue. Could you please provide us with:
- The name of the device you are testing this on.
- The URL/content that you tried with.

That will help us to give further analysis. Thank you very much.

[2018-03-16 10:20] botaydotcom commented on #3994
Hi @eneim,
Could you please clarify your use-case here, or the issue you are facing with this?

I believe even though `setVolume()` is asynchronous, the delay is very small in most cases. Moreover, most of the time the call will succeed.
Are you trying to check when the call takes effect, or whether the call succeed?

[2018-03-16 10:27] AquilesCanta commented on #3960
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-03-16 10:27] #3960 closed, assigned to AquilesCanta

[2018-03-16 10:33] mohanrajsambath commented on #3998
I'm unable to share the URL because we are setting a cookie. Do have any other idea.

[2018-03-16 10:44] AquilesCanta commented on #3998
Please send instructions to reproduce the issue to dev.exoplayer@gmail.com if you don´t want to share them publicly (would the URL and the cookie be enough?). However, this is not something we have seen in the past, so we cannot provide assistance without being able to actually reproduce it, unfortunately.

[2018-03-16 10:48] orhunkupeli7 commented on #3980
public class ProgressTracker implements Runnable {

    private final Player player;
    private final Handler handler;
    private PositionListener positionListener;
    private final static int DELAY_MS = 1000;

    protected ProgressTracker(Player player, PositionListener positionListener) {
        this.player = player;
        this.positionListener = positionListener;
        handler = new Ha

[2018-03-16 10:48] eneim commented on #3994
Hi @botaydotcom , my use case is: I would like to implement custom PlayerControlView with Volume control. The actual volume setting can be set from anywhere out side of the View and the View will reactively update Volume position base on that setting.

Another use case is to have consistent Volume value for a playback. Saying I have a database to store User config, I want to save/restore the Volum

[2018-03-16 10:57] tonihei commented on #3980
I guess because either the position hasn't changed (for example while buffering) or you have multiple active ProgressTrackers.

In general, please direct these more generic programming question to StackOverflow or similar sites. This issue tracker is primarily for answering ExoPlayer specific questions.

[2018-03-16 10:57] andrewlewis commented on #3995
- In general, if a video packet is dropped or isn't in order you will see error concealment artifacts from the decoder until the next synchronization sample (e.g., IDR frame). There isn't much you can do about this, except for switching to a reliable protocol. I'd guess that the overhead won't be too bad if there's a good wired ethernet connection to the server.
- Regarding bottlenecks: there is s

[2018-03-16 11:05] orhunkupeli7 commented on #3980
thanks, sorry for inconvenience.

[2018-03-16 11:27] mohanrajsambath commented on #3998
Thankyou, I will do by mail.

[2018-03-16 12:25] mohanrajsambath commented on #3998
If I send public URL here is it possible to test on your side, depend on your reply, I will request to my team to make public URL. Thank you.

[2018-03-16 12:28] AquilesCanta commented on #3998
It'd be great to avoid any cookie usage requirements, if that's what you mean. But it doesn't have to publicly accessible, if that's the question. Any links sent to dev.exoplayer will remain visible only to the exoplayer development team.

[2018-03-16 15:45] boulaycote commented on #3995
Here's the observable problem:
In this image there is noticeable blocking
<img width="250" alt="screen shot 2018-03-16 at 11 34 42" src="https://user-images.githubusercontent.com/924077/37529738-41cbaeaa-290e-11e8-8657-b00c8b46f353.png">
And in this one it looks like two scenes are overlapping
<img width="250" alt="screen shot 2018-03-16 at 11 38 23" src="https://user-images.githubusercontent.com/

[2018-03-16 15:51] AquilesCanta commented on #3995
Are you aware of any discontinuities being detected by the TsExtractor? You could log them at [this point](https://github.com/google/ExoPlayer/blob/r2.7.0/library/core/src/main/java/com/google/android/exoplayer2/extractor/ts/TsExtractor.java#L292).

[2018-03-16 16:06] boulaycote commented on #3995
That depends on the TsMode doesn't it? I'm not sure which one to choose however,
`MODE_SINGLE_PMT`, `MODE_MULTI_PMT` or `MODE_HLS`.

On both `SINGLE_PMT` and `MULTI_PMT` I indeed see discontinuities.

[2018-03-16 16:15] AquilesCanta commented on #3995
You shouldn't change the mode, it will not fix the issue. The distortions you are observing are due to the discontinuities in the packets (loss of order or dropped packets), which are in turn caused by the use of an unreliable transport protocol. The fix would be to make sure that the packets are fed to the extractor in the correct order.

[2018-03-16 16:19] boulaycote commented on #3995
Right. So then if on my laptop the stream is flawless, that suggests networking on the android device is problematic?

[2018-03-18 02:42] James2516 opened #3999 "Unable to play 3gp"
### Issue description
I'm not able to play a `.3gp` audio recorded with `AMR_WB`, it throws the following error:

None of the above extractors is related to `3gp` or `awb`?

### Reproduction steps
https://snack.expo.io/B1Q6Li9FM

Source where `com.google.android.exoplayer2` is used:
[SimpleExoPlayerData.java](https://github.com/expo/expo/blob/2a4739f6224919ec4e913d45cc7c2448747ebb18/android/expovi

[2018-03-18 06:16] tedKim5178 commented on #3993
Thanks for your reply. You solved my problem perfectly. Now I am using onTimelineChanged method to get targetDurationUs. Also, I found out onTrackSelected method in LoadControl. I can use this method to get bitrate. Thanks for your help!! Best Player ever!

[2018-03-18 19:37] ojw28 commented on #3848
Closing due to lack of information required to debug the issue.

[2018-03-18 19:37] #3848 closed, assigned to tonihei

[2018-03-19 09:55] izderadicka opened #4001 "MediaSession ACTION_FAST_FORWARD should be disabled if player cannot seekTo"
### Issue description
I have client using MediaControlerCompat with MediaSession extension from Exoplayer.
When playing media with unknown length (http stream chunk encoded) the seeking is disabled.
(state actions does not allow ACTION_SEEK_TO).
However state does enable action ACTION_FAST_FORWARD, which is implemented in MediaSessionConnector as seeking to current position plus defined offset.
So

[2018-03-19 10:29] #3993 closed, assigned to AquilesCanta

[2018-03-19 10:41] AquilesCanta commented on #3999
ExoPlayer does not provide support for 3GP. A link to sample content would be useful for someone to add support.

[2018-03-19 10:43] AquilesCanta commented on #4001
@marcbaechinger do you have time to look at this or shall I take it?

[2018-03-19 10:49] AquilesCanta commented on #3999
Actually, the mp4 extractor does check for 3gp in the ftyp box. So what we need is to look at the content.

[2018-03-19 10:57] marcbaechinger commented on #4001
Yes, the suggested behaviour sounds like what the connector should do. I look into this. Thanks for reporting!

[2018-03-19 11:40] Livekus opened #4002 "Exoplayer not release DirectByteBuffer,Hashmapentry,memoryref,codec Buffer"
Before filing an issue:
-----------------------
 in my application ,i fling the content which is showed with view pager each page have exoplayer for render a video, i believe releases each video correctly ,here my code below,

[code]

### Issue description
here is capture screen from my debuger
![mediacodecbuffer2](https://user-images.githubusercontent.com/10396116/37593714-835b525a-2ba5-11e8-8cf1

[2018-03-19 12:48] sathishkumar1392 opened #4003 "Close caption: Text are not match with the video its going Two second advanced"
# ## Issue description
Close caption: Text are not matching with the video it's going Two seconds advanced, I'm using HLS streaming URL. The URL is coming from the Amazon with transcription made by my team. I'm trying on Android as my part. This issue occurs only on my side. How do I handle this issue?

# ### Reproduction steps
Parse HLS URL with transcription enabled to exoplayer

## Version of E

[2018-03-19 13:02] AquilesCanta commented on #4003
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-03-19 13:16] ganesh3s3 commented on #1845
Hey @artemisia-absynthium , I'm kinda new to Android and I'm blowing my brains out trying to implement this simple feature. I pretty much shamelessly copy pasted your code but I'm stuck at this part.
[code]

Could you please tell me what exactly goes here instead of these comments? Everywhere I look I can only see code using SimpleExoPlayerView which seems to be different in implementation from Pl

[2018-03-19 13:35] sathishkumar1392 commented on #4003
**# **Issue description****
Close caption: Text are not matching with the video it's going Two seconds advanced, I'm using HLS streaming URL. The URL is coming from the Amazon with transcription made by my team. I'm trying on Android as my part. This issue occurs only on my side. How do I handle this issue?

**# **## Reproduction steps****
Parse HLS URL with transcription enabled to exoplayer

# *

[2018-03-19 14:12] mohanrajsambath commented on #3998
Sorry for your Inconvenience, My Team is Making on it.  Thank you for prompting reply.

[2018-03-19 17:48] AquilesCanta commented on #4002
We'd love to help you with this, but unfortunately it is out of the scope of this issue tracker to debug apps. We need to ensure this is an ExoPlayer issue before we take a deeper look. To do this, if it is impossible to reproduce in the demo app, you could try coming up with a minimal setup which reproduces the issue. Note that an OutOfMemory exception does not necessarily mean there is a memory

[2018-03-19 17:48] #4002 closed, assigned to nobody

[2018-03-19 18:16] ojw28 commented on #3939
Is there a way for you to provide us with the exact [Build.MODEL](https://developer.android.com/reference/android/os/Build.html#MODEL) or [DEVICE](https://developer.android.com/reference/android/os/Build.html#DEVICE), as well as the [MANUFACTURER](https://developer.android.com/reference/android/os/Build.html#MANUFACTURER) values for devices you believe to be affected? We'd rather put in place work

[2018-03-19 23:25] 0c6a183d opened #4004 "Forcing DASH HttpDataSourceException - Timeout values not working as expected"
I am using Exoplayer to stream DASH content. I am creating a scenario where the sever becomes unavailable mid-play so the app can react.

When building the HTTP media source(DefaultHttpDataSourceFactory) I set the connectTimeoutMillis to 5000 (Expecting this to be a 5 second TCP timeout).

I shut the server down whilst exoplayer is playing its buffered track, then seek forward way ahead of the buf

[2018-03-19 23:41] ojw28 commented on #4003
There's nothing we can do to help debug this issue without a link to some content that reproduces the issue.

[2018-03-20 00:09] richjhart opened #4005 "Cannot control behaviour of ads in AdsMediaSource"
### Issue description

It should be possible to control whether an ad plays at the point of seeking. Currently, ANY seek results in a previous ad playing. We only want ads to play if the time hits the ad start time.

### Reproduction steps
I have a set of ads, defined manually using:
[code]
Which works fine if you just let it play though. But as soon as you start seeking, it always plays a previou

[2018-03-20 03:25] cmeng-git commented on #3520
I have the following observations when building libvpx from source v1.7.0 for all the android supported ABI  i.e. ABIS=("armeabi" "armeabi-v7a" "arm64-v8a" "x86" "x86_64" "mips" "mips64")
See: https://github.com/cmeng-git/vpx-android

Observation 1:
============
ANDROID_API=21
NDK=/opt/android/android-ndk-r16b
PREFIX=./output/android/${ABI}

./configure \
    --sdk-path=${NDK} \
    --prefix=${PRE

[2018-03-20 04:04] Livekus commented on #4002
thanks you  for your reply and final comment i will apply it to my code

[2018-03-20 04:50] ganesh3s3 commented on #1845
Nevermind, I'm dumb. This is what I replaced those comments with.

[code]
ExtractorMediaSource is still deprecated tho. Would like to know the replacement for that.

[2018-03-20 05:12] Livekus commented on #4002
Ok , now i having found that i must remove all Mediasource from DymamicConcatMediaSouce before i release player the graphic memory isn' t stacked 140 Mb again

[2018-03-20 06:25] aatish1989 opened #4006 "ANR on calling setVideoSurface in SimpleExoplayer class"
### Issue description
Getting ANR while destroying surfaceview in simpleexoplayer view.

### Reproduction steps
Not able to reproduce as getting traces for market users.

### Version of ExoPlayer being used
2.7.0

### Device(s) and version(s) of Android being used
Mostly happening on Redmi Note 4 (mido) (Android 7 and Andorid 6).

[2018-03-20 09:03] Naguchennai opened #4007 "E/ExoPlayerImplInternal: Internal track renderer error."
Some time Exoplayer stop playing and showing this error play audio only its happend  exoplayer all vertion after IMA added vertions

     	E/AudioTrack: AudioFlinger could not create track, status: -12
	E/AudioTrack-JNI: Error -12 initializing AudioTrack
	E/android.media.AudioTrack: Error code -20 when initializing AudioTrack.
	E/ExoPlayerImplInternal: Playback error.
	com.google.android.exoplayer

[2018-03-20 09:11] andrewlewis commented on #4007
Please provide the information requested in the [new issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

In particular, it would be useful to have a bug report captured with `adb bugreport` as this will give an indication as to whether audio tracks are leaking. Are you releasing the player?

[2018-03-20 09:16] Naguchennai commented on #4007
yes in service when service start and also onDestroy()

    if (player != null) {
			player.stop();
			player.release();
			player = null;
		}

[2018-03-20 09:37] #3957 closed, assigned to andrewlewis

[2018-03-20 09:38] #3966 closed, assigned to andrewlewis

[2018-03-20 09:56] artemisia-absynthium commented on #1845
@ganesh3s3 , perfect! I commented out that part because it's sensibly different depending on use cases (such as video format you need to play, bandwidth management and so on).

As for the deprecation, according to the [official documentation](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/ExtractorMediaSource.html#ExtractorMediaSource-android.net.Uri-com.goog

[2018-03-20 09:58] andrewlewis commented on #4005
The code that determines what ad to play when seeking to a position currently assumes that an ad group gates access to the following piece of content, which matches the behavior of the IMA SDK. See [`MediaPeriodQueue`](https://github.com/google/ExoPlayer/blob/454ec5a/library/core/src/main/java/com/google/android/exoplayer2/MediaPeriodQueue.java#L378), which delegates to `Timeline` and `AdPlaybackS

[2018-03-20 10:24] Naguchennai commented on #4007
ok install this app and click next station continuesly ( click next next next  in player page ..fast click)

...Deleted...

or give me you email id i will share source

[2018-03-20 10:37] andrewlewis commented on #4007
Looking through a significant amount of code is going to be too time consuming and we can't really install your app and debug it.

Please provide the output of `adb bugreport`, as requested above, and we can go from there. If you can also provide minimal steps to reproduce based on the ExoPlayer demo app that would also be useful.

[2018-03-20 10:45] Naguchennai commented on #4007
I already posted adb report .. i also attached zip with full bug report
[bugreport-NRD90M-2018-03-20-16-12-31.zip](https://github.com/google/ExoPlayer/files/1828928/bugreport-NRD90M-2018-03-20-16-12-31.zip)

Note: once have this error player stoped completely .. i need close completely and need remove app cache for play again. after that only it work .. close app using finish() it not work .. need

[2018-03-20 10:46] petersamokhin opened #4009 "MPEG-DASH broadcast watching error: `com.google.android.exoplayer2.source.BehindLiveWindowException`"
Hello.
I am using ExoPlayer (2.6.1) for showing broadcast.
The error is:
[code]

Error causes with watching of any MPEG-DASH broadcast (`.mpd`), if there are any background task between downloading chunks.
I was need to save broadcast during watching, but don't want to do double downloading.
Made own 'bytes sniffer' that does only saving bytes (that are already downloaded by ExoPlayer) to own buff

[2018-03-20 10:53] AquilesCanta commented on #4002
You should not need to remove the elements from the ConcatMediaSource for the player to release memory allocations, calling Player#release is enough. I suggest you make sure release is being called on every Player instance. If this is not happening, any workaround will end up running into some resource being exhausted.

[2018-03-20 11:01] tangmingscau opened #4010 "mkv video play error"
I tried to play video in MKV format, but there was no video, only sound. There are some erroneous logs here.

[code]
Can you give me some advice?

[2018-03-20 11:03] AquilesCanta commented on #4009
BehindLiveWindowException happens when the loading position falls behing the chunk window that the live manifest offers. There are several ways to prevent it, but if it happens, your only option is to reprepare the player. This is [done in the demo app](https://github.com/google/ExoPlayer/blob/r2.7.1/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L570).

If you wan

[2018-03-20 11:03] #4009 closed, assigned to AquilesCanta

[2018-03-20 11:15] AquilesCanta commented on #4006
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-03-20 11:22] aatish1989 commented on #4006
Please find the crash logs for above issue:

"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 obj=0x745e6078 self=0xf30f1000
  | sysTid=9069 nice=-4 cgrp=default sched=1073741825/1 handle=0xf5ccc538
  | state=S schedstat=( 2680499445 62634579 1613 ) utm=235 stm=33 core=7 HZ=100
  | stack=0xff02f000-0xff031000 stackSize=8MB
  | held mutexes=

  at java.lang.Object.wait! (Native metho

[2018-03-20 11:22] aatish1989 commented on #4006
@AquilesCanta Please re-open it. I have updated the issue.

[2018-03-20 11:33] andrewlewis commented on #4007
Did you force stop the app at about 03-20 16:11? If you take a look at the `DUMP OF SERVICE media.resource_manager:` in the bug report there are a whole load of platform resources released at that time, and the resources are associated with your process ID. If you look at the logcat, there are several players created/released with errors before that time, but without errors after it.

It looks lik

[2018-03-20 11:35] marcbaechinger commented on #4001
This is fixed in the DefaultPlaybackController which now only declares the fast forward and rewind actions if the current window is seekable.

If you need a quick fix for your code you can create a subclass of the DefaultPlaybackController and override the getSupportedPlaybackActions method to only return the required actions. Otherwise the change will land in the next release.

Thanks again for r

[2018-03-20 12:03] AquilesCanta commented on #3979
Briefly explained, DRM protected content requires a specific security level. In general (not a requirement), if DRM protected, sub-HD requires L3, and HD and above requires L1. If the required level is not available, then it is not possible to play the content on the device, and there is nothing the app can do about it.

You can find useful information [here](https://storage.googleapis.com/wvdocs/

[2018-03-20 12:03] #3979 closed, assigned to nobody

[2018-03-20 12:46] orhunkupeli7 opened #4011 "Adding a layer between content and player controller"
I would like to know is it possible that adding a new layer between video content frame and controller frame.

[2018-03-20 13:33] AquilesCanta commented on #4001
A commit reference will appear here once the push to github is made. Thanks for the lightning-fast fix, @marcbaechinger!

[2018-03-20 13:33] sathishkumar1392 commented on #4003
# ## Reproduction steps
Parse HLS URL with transcription enabled to exoplayer

Audio closed caption
https://s3-eu-west-1.amazonaws.com/cyrano-temp/test-audio/aa10a5e5-0d88-dac7-400f-f20a7dce6841.m3u8

Using this HLS URL  you can test it. I hope this URL is very useful to you

[2018-03-20 13:34] #4011 closed, assigned to nobody

[2018-03-20 13:38] AquilesCanta commented on #4003
This does look like a bug. We'll look into it and let you know once we figure out what's wrong.

[2018-03-20 13:44] sathishkumar1392 commented on #4003
@AquilesCanta : I'm waiting

[2018-03-20 13:56] AquilesCanta commented on #4003
Before I take a proper look at this, make sure that the behavior is not caused by the lack of [X-TIMESTAMP-MAP](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-3.5).

[2018-03-20 14:10] sathishkumar1392 commented on #4003
@AquilesCanta : Sorry i cant get the  X-TIMESTAMP-MAP which this represent

[2018-03-20 14:23] sathishkumar1392 commented on #4003
@AquilesCanta  i will upload sample Vtt file as zip format  pl z take and look and tell me its issue with player or Vtt file.
[000181d4-2b11-8702-0035-faa46e805470.vtt.zip](https://github.com/google/ExoPlayer/files/1829701/000181d4-2b11-8702-0035-faa46e805470.vtt.zip)

[2018-03-20 14:30] AquilesCanta commented on #4003
As mentioned above, the file is missing the [X-TIMESTAMP-MAP](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-3.5) tag. The linked specification contains examples of webvtt files. The value for the attribute MPEGTS depends on the PTSs in your TS files.

[2018-03-20 16:07] green-nick commented on #3535
Hi guys.
We have same issue. Reproduced on different devices, but randomly. Can't found steps to reproduce.
Use TextureView, player init and release called in onResume/onPause.
lib version: 2.7.0

[2018-03-20 16:08] AquilesCanta commented on #4006
Will push a tentative workaround soon.

[2018-03-20 16:17] AquilesCanta commented on #4006
Do you have a full logcat / bugreport?

[2018-03-20 18:06] tsuharesu commented on #3497
I was having the same problem because I didn't know about `QueueNavigator` and don't want to use it. What I did is to set a listener in my player using `player?.addListener(this)`. It's basically the same that `MediaSessionConnector` does internally.

[code]

[2018-03-20 19:51] ojw28 commented on #4010
We can't debug this issue without sample media that reproduces the issue. Please provide a link here, or send one to: dev.exoplayer@gmail.com

Thanks!

[2018-03-20 20:13] ojw28 commented on #3835
It's not really wrong to expose a `codecNeedsSetOutputSurfaceWorkaround`. It's just we know from experience that when a developer has a near-zero-maintenance way to fix a problem locally, they're less likely to contribute back to the project to allow the problem to be fixed for all users. Even a well intentioned developer might have a bunch of other more important things to be doing once they've f

[2018-03-20 20:25] ojw28 commented on #3952
Closing due to lack of follow up.

[2018-03-20 20:25] #3952 closed, assigned to ojw28

[2018-03-20 20:25] ojw28 commented on #3934
Closing for now. Please let us know if you find out what the use case is.

[2018-03-20 20:25] #3934 closed, assigned to ojw28

[2018-03-20 23:32] linhai326 commented on #3992
i think all you need to do is to override MediaDrmCallback.executeKeyRequest().
in this function, you will send the request to your proxy server and receive the response and then return it.
The rest should be handled by exoplayer.

[2018-03-21 01:55] tangmingscau commented on #4010
Thank you for your advice. In the end, I use other format tools to convert to MKV format video. It is found that it can be played, so it should be a bit of a problem when the format tool is converted to MKV music, but I will still send this problematic music to you. Thanks

[2018-03-21 05:18] sathishkumar1392 commented on #4003
@AquilesCanta Thanks  aquilescanta with your help we find out issue and fixed it. I hope this solutions works for us. once again thanks AquilesCanta

[2018-03-21 05:18] #4003 closed, assigned to AquilesCanta

[2018-03-21 10:56] AquilesCanta commented on #4004
The delay is probably due to the [retry logic](https://github.com/google/ExoPlayer/blob/r2.7.1/library/core/src/main/java/com/google/android/exoplayer2/upstream/Loader.java#L386) (please check this is the case, basically look for whichever onLoadError is being called). Allowing customization of whatever the player does when an error happens is a pending enhancement. In your case, you'd like to fai

[2018-03-21 10:56] #4004 closed, assigned to AquilesCanta

[2018-03-21 10:58] AquilesCanta commented on #3978
@b0g8 can this be closed?

[2018-03-21 10:59] AquilesCanta commented on #3963
Closing due to lack of activity.

[2018-03-21 10:59] #3963 closed, assigned to botaydotcom

[2018-03-21 11:03] gregkorossy commented on #3939
MANUFACTURER: Allwinner
MODEL: Q896S
DEVICE: octopus-f1
Also, the OS version ([Build.VERSION.RELEASE](https://developer.android.com/reference/android/os/Build.VERSION.html#RELEASE)) is 6.0.1.

The thing is that the player might not be attached to a surface because of scheduling done in the background. It might be possible to prepare the player only if it is attached but what happens if I detach it

[2018-03-21 11:17] ganesh3s3 commented on #1845
@artemisia-absynthium Thanks a bunch. It's working now.

[code]

[2018-03-21 11:39] idyuzheva commented on #3535
Hey guys,
the same for me, please look at logs, may be i'll help to find out what is going on

[code]

[2018-03-21 11:44] b0g8 commented on #3978
Very valuable information here, at least for me. Thanks.

[2018-03-21 11:44] #3978 closed, assigned to andrewlewis

[2018-03-21 11:55] Brianvdb opened #4013 "Low Latency RTMP (DefaultLoadControl)"
I am trying to achieve low latency streaming (2~3secs) using rtmp. I am constructing the DefaultLoadControl like:

[code]

This however brings an issue: sometimes it only shows the first frame of the livestream and then it just doesn't do anything (no warning or errors in the logs either).

This is my full code:
[code]

Basically I want the buffer to be like 2secs, interruptions are okay as long a

[2018-03-21 12:59] 0c6a183d commented on #2844
I agree this that "retries" should be disabled by default on some modules. My DefaultHttpDataSourceFactory (#4004) currently uses (connectTimeoutMillis: (4000 / 4) instead of 4000 for testing  as it takes 4 times as long to finish its "re-tries" to a dead server. Be good if there was an option like connectRetryCount: or similar. Has there been any movement on this ticket in a year or is each modul

[2018-03-21 13:51] ronak2121 commented on #3971
Do you mean the time stamps in the sidx segment? They are going to be different because of he aac having a different compression scheme. This is what I meant by the segments do not line up exactly between the two codecs.

[2018-03-21 13:57] qvk commented on #1845
I believe adding totally self-contained fullscreen functionality into a `PlayerView` or `PlayerControlView` is sowewhat tricky, and such behavior is better (more easily?) managed with at least some coordination on activity level which is aware of the whole layout.

Also, meaning of a fullscreen layout may vary from use case to use case (visibility/behavior of system bars, etc.).

Some points that

[2018-03-21 14:00] ojw28 commented on #3939
Thanks for the info! I'm not sure there's a huge amount we can do about this; it seems like an issue with the underlying platform (and so you should report it to the device manufacturer). We could disable DummySurface on the affected device, I guess.

From a pragmatic point of view, if the kernel issue that requires you to change player instance every hour is fixed by Marshmallow, why don't you ju

[2018-03-21 14:13] ojw28 commented on #1845
Thanks for your thoughts! It's definitely tricky to pull off in a self contained way, particularly on earlier API levels. We do want to at least add a fullscreen icon into `PlayerView`, so application developers don't need to do UI bit themselves. What the icon will do when tapped is currently under discussion. One option is just to invoke an application provided callback and therefore leave it to

[2018-03-21 15:16] qvk commented on #1845
That's close to how I tried to implement fullscreen behavior. With the main target of having the `PlayerView`'s fullscreen icon reflect the correct fullscreen status (as considered by application) I believe it's better for the `PlayerView` to

- dispatch a user interaction as an event for the application to handle
- accept fullscreen status from the application

Mainly I have:
- a `FullscreenActio

[2018-03-21 15:27] tonihei commented on #3850
Closing due to inactivity. Feel free to reopen if needed.

[2018-03-21 15:27] #3850 closed, assigned to tonihei

[2018-03-21 15:28] tonihei commented on #3937
Closing the issue as the question was answered. Feel free to reopen if you have new information.

[2018-03-21 15:28] #3937 closed, assigned to tonihei

[2018-03-21 16:55] derekw0311 opened #4014 "Synchronizing multiple live streams with dynamic bitrate"
Hi,

I'm working on building a custom Exoplayer that allows user to stream multiple live video in synchronize matter. I used the solution in #2855 which works great if all streams has the same bitrate; however if the bitrate start to fluctuate (some of the stream has dynamic bitrate), all streams will start to buffer frequent and becomes unwatchable.

Is there a flag I can set to have player to re

[2018-03-21 20:13] AquilesCanta commented on #4014
You mean you'd like the playback speed to depend on the available buffer?

This is not a supported feature, but I suppose you could try implementing this yourself.

The fps don't depend on the player or the start time, it depends on the stream you are playing. On the other hand, if you mean playback speed, synchronization should not be affected by an altered playback speed (speed is a player attri

[2018-03-21 20:25] jboisjo opened #4015 "Using VideoPlayerGlue (Leanback) but always a delay after playing..."
### Issue description
Whenever i'm playing a DASH playlist in the player, using PlaybackTransportRowPresenter...the video is State ready after being buffered, but still being stuck for 1-2 seconds before playing.

### Reproduction steps
Tried to recreate my LeanbackAdapterClass to verify the player.state, and it's ready to play but still waits for something.

### Link to test content
Provide a lin

[2018-03-21 20:29] AquilesCanta commented on #4013
It gets stuck endlessly? Or does it just go to buffering state for a certain period of time?

Can you clarify what latency means in this context? Do you mean the time it takes until playback starts?

By the way, the maximum buffer time (third argument in DefaultLoadControl) seems to me quite short, I wonder if that could cause issues when the GOP is long enough (I may be wrong). This value should

[2018-03-21 20:38] Brianvdb commented on #4013
Stuck endlessly. But I 'fixed' this issue with the following custom loadcontrol: [https://github.com/rohitrfactor/ExoPlayer/blob/e3e37475140a8694fb93a576c2e15cd1a1427624/app/src/main/java/com/pinnacle/garorasu/exoplayer/PreviewLoadControl.java](https://github.com/rohitrfactor/ExoPlayer/blob/e3e37475140a8694fb93a576c2e15cd1a1427624/app/src/main/java/com/pinnacle/garorasu/exoplayer/PreviewLoadContro

[2018-03-21 22:11] richjhart commented on #4005
Thanks for the reply. It would certainly be handy to be able to override the decision at runtime but understand that may take time.

However, while I can understand the gate part, there is a part that doesn't feel right to me. If you seek WITHIN a section, it still plays the preceding ad. I would have thought that it would only gate when switching sections. I have created a small project which hig

[2018-03-21 22:20] scottfennell opened #4016 "Metadata track not selected when allow chunkless preparation is true"
### Issue description
When utilizing the `setAllowChunklessPreparation(true)` for an HLS source timed ID3 metadata is not identified and the onMetadata callback is never called. It appears that a metadata source track is never identified when no sample chunks are downloaded. The DefaultTrackSelector.selectTracks output does not contain any metadata tracks and the Metadata renderer is never enabled

[2018-03-22 03:47] cot-dev opened #4017 "Exoplayer crashed and android box rebooted."
### Issue description
i'm developing some application using Exoplayer.
at first, it's really good to play playready drm contents before it call stop() or release() function.
i want to see other drm contents , so i call player.stop() or player.release() then  android box automatically reboot right now.

### Reproduction steps
1. playready drm contents  play
2. player.stop() or player.release() call

[2018-03-22 04:25] cot-dev commented on #4017
i don't know about amazon yet .
eventually i have to use amazon exo player .

[2018-03-22 04:51] cot-dev commented on #4017
i used amazon Exo but result was the same.
It was a dream of a very short time.

[2018-03-22 05:22] ram992 commented on #3967
Hello Andrew,
I am closing this issue for now, as I need to concentrate on Actions for Google Assistant. Once I do that will get back to this. Please do not lock the conversation.
Thanks for the Help.

[2018-03-22 05:22] #3967 closed, assigned to andrewlewis

[2018-03-22 06:55] cot-dev commented on #4017
shaomi mi box  stop/release is good without crash  .

[2018-03-22 08:29] andrewlewis commented on #4005
I'm a bit confused about part of your comment "If you seek WITHIN a section, it still plays the preceding ad. I would have thought that it would only gate when switching sections.". How can you seek within a section without having played its immediately preceding ad already? Is the distinction between playback advancing from one section to the next without a seek, versus the user seeking to the ne

[2018-03-22 09:52] deeps2HOG commented on #3911
All of a sudden, I am also getting this type of error. We don't use ExoPlayer but we use JWPlayer (which is built on top of ExoPlayer) to stream video. Although there is IMA dependency inside my build.gradle because of IMA ADs.

I posted question on StackOverflow:
https://stackoverflow.com/questions/49423572/android-unable-to-build-apk-more-than-one-file-was-found-with-os-independent-p/49424933#49

[2018-03-22 09:55] andrewlewis commented on #3911
It looks like there is an IMA SDK release with the fix for this currently in testing, so (assuming everything goes to plan) we'll be able to upgrade soon.

[2018-03-22 10:00] AquilesCanta commented on #4013
Is this a live stream? If so, bandwidth may not be an issue, but rather the rate at which packets are produced by the server. As mentioned above, the size of the [GOP](https://en.wikipedia.org/wiki/Group_of_pictures) is an important aspect here. If long enough, it might mean the player needs to wait until the next frame. Also, is the container format transport stream? If so, some time may also be

[2018-03-22 10:14] AquilesCanta commented on #4016
Hi @scottfennell, great to know you are using chunkless preparation. This is a known limitation, listed in our [medium post](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6):

I will mark this as an enhancement, since one of the options we considered was preemptively declaring a track, like the TS extractor does. A commit ref will appear here once we push the workaround.

[2018-03-22 10:42] AquilesCanta commented on #4017
Hi @cot-dev, it is usually very hard for us to help with platform issues. This case it is even harder, as FireTV runs FireOs, which means it is not an android device. I think your best shot is reporting the issue to the device manufacturers or the [port authors](https://github.com/amzn/exoplayer-amazon-port), otherwise. If they manage to come up with a self contained workaround for this, we might

[2018-03-22 10:42] #4017 closed, assigned to AquilesCanta

[2018-03-22 11:18] BurakDurmus opened #4018 "there aren't any file on com.google.android.exoplayer2.ext ?"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-03-22 11:19] BurakDurmus opened #4019 "there aren't any file on com.google.android.exoplayer2.ext ? i'm using 'com.google.android.exoplayer:exoplayer:2.7.1'"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-03-22 11:19] #4018 closed, assigned to nobody

[2018-03-22 11:25] #4019 closed, assigned to nobody

[2018-03-22 13:05] petersamokhin opened #4020 "Black screen when trying to play m4a & m4v."
### Issue description
I'm trying to play `m4a` and `m4v` files from file. But I see only black screen (and no errors in logcat). These file received through saving `.mpd` broadcast. Detailed information you can see in `.txt` files below:

`exiftool audio.m4a > audio.txt` output:
[audio.txt](https://github.com/google/ExoPlayer/files/1837591/audio.txt)

`exiftool video.m4v > video.txt` output:
[vide

[2018-03-22 13:08] AquilesCanta commented on #4020
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-03-22 13:12] roundsmapp commented on #2659
Hi, I do have the very same problem as @platinum7919, i.e., the need to control left and right audio volumes for ExoPlayer.
Everything else going fine, including looping (gapless) mp3 palying.
Using exoplayer 2.7.1 (SimpleExoPlayer class).

Any forecast for such method availability? Or any intermediate solution?

[2018-03-22 13:17] petersamokhin commented on #4020
### Issue description
Available above.

### Reproducing steps
Copy code above and run.

### Link to test content
Can provide problem files if it necessary (but don't think so). These file received through saving `.mpd` broadcast. Detailed information you can see in `.txt` files above.

### Version of ExoPlayer being used
`com.google.android.exoplayer:exoplayer:2.6.1`

### Device(s) and version(s)

[2018-03-22 13:39] petersamokhin commented on #4020
@AquilesCanta issue updated.

[2018-03-22 13:48] AquilesCanta commented on #4020
I will have a look soon. By the way, do the troublesome files play by themselves (i.e. As standalone media sources)? What about the demo app? Does the demo app play the separate files correctly?

Note: Avoid making assumptions on what is necessary what is not (specially if specifically requested in the issue template, it is there for a reason). Much more than just a stacktrace can be found in a bu

[2018-03-22 13:52] andrewlewis commented on #3967
The issue may be locked automatically if it's closed for a certain period, but please feel free to file a new issue linking back to this one if you need to. Thanks!

[2018-03-22 13:56] petersamokhin commented on #4020
@AquilesCanta
1. Files are ok — you can play them on your machine (by any default player).
2. ExoPlayer can't play `audio.m4a` / `video.m4v` / `Merging(audio.m4a+video.m4v)` / `Merging(audio.m4a` or `video.m4v` + `another audio or video`)
3. Updated first message, added info about bugreport (it sent to your email).
4. Demo app also can't play `audio.m4a` / `video.m4v`.

[2018-03-22 16:04] derekw0311 commented on #4014
I'm not sure about changing playback speed would help me with this. The issue I'm trying to resolve is that the player have difficulty synchronizing two stream that have different bitrate using mergingMediaSource. (The bitrate isn't constant, it varies depends on the content of the video)

Thank you for the quick response.

[2018-03-22 16:07] AquilesCanta commented on #4014
Sounds like a bug to me, but in order to look into it we will need the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE)

[2018-03-22 18:16] derekw0311 commented on #4014
* Description
Player having difficulty streaming multiple live streams (with different bitrate) simultaneously; the player tent to buffers frequent when there is a spike with the bitrate and eventually stuck at the buffering state.

* Reproduction steps
Implement the solution proposed by @ojw28  in #2855 and try to stream 3 or 4 live videos with different bitrate using MergingMediaSource.

* Link

[2018-03-22 18:20] Brianvdb commented on #4013
@AquilesCanta Yes it is a livestream and indeed the issue was the GOP as you mentioned. I decreased the GOP on the server side and now it starts playback almost immediately which results in the desirable latency of 2 seconds max.

However when testing on a bad internet connection the following happens:
- playback starts almost imnediately (< 2sec latency)
- after a little while it stops playing fo

[2018-03-22 22:39] jhughes opened #4021 "Support CDM-Protected TS segments in HLS"
### Issue description
I'm testing an HLS manifest with MPEG TS segments encrypted with CBCS with Widevine DRM.
On Android 8 and 8.1, Exoplayer playback stalls when it tries to play an encrypted MPEG TS segment.

The same manifest plays on Apple devices using Fairplay.
The same video repackaged to use HLS Fragmented MP4 plays successfully.
According to the Supported Formats documentation, HLS MPEG

[2018-03-22 23:14] jhughes opened #4022 "DASH Widevine CBC1 and CBCS encrypted content not playing on Android 7.1"
### Issue description
I'm testing DASH manifests encrypted with CBC1 and CBCS with Widevine DRM.
On Android 7.1, Exoplayer playback exits with an exception when it reaches the first encrypted segment.

The same manifests play OK on Android 8.0 and 8.1.
DASH manifest encrypted with CENC plays OK on Android 7.1, the issue seems to be with CBC.

Exception excerpt:
[code]

### Reproduction steps
Play

[2018-03-22 23:21] kanthicn1 opened #4023 "Playback buffer value"
I am writing a DASH video player using ExoPlayer demo app as the base for my application. How can I get the actual playback buffer size in seconds, without messing with the actual MediaSource and other  code libraries (and short of maintaining my own variable tracking media downloaded, played, paused and all that mess)?
By actual playback buffer size, I mean the 'total duration duration of the vid

[2018-03-23 06:15] RadhikaBalla opened #4025 "Can I insert ads in exoplayer while playing video"
How to insert ads while playing video in exoplayer? Can I insert my own custom ads? Please help me out with a solution.

[2018-03-23 06:50] pals-ric commented on #3342
hi
i am getting bitrate estimate value = -1 can anyone tell the the reason?
default bandwidthmeter is not generating its initial bitrate.

[2018-03-23 08:20] andrewlewis commented on #4025
- If you want to play VAST ads please have a look at the [IMA extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ima).
- If you want to load ad media URIs yourself you can implement your own `AdsLoader` to replace the `ImaAdsLoader`. This is quite a bit of work but there is some information in #3664 and #3967. I'm afraid we don't have a detailed tutorial on doing this. Pleas

[2018-03-23 08:20] #4025 closed, assigned to andrewlewis

[2018-03-23 08:55] AquilesCanta commented on #4021
Subsample encryption in HLS+TS is not yet supported, only fMP4. I am going to use this to track this.

[2018-03-23 09:05] AquilesCanta commented on #4014
Does this reproduce locally?

Have you ruled out the possibilty of bandwidth just not being enough to handle that many videos?

Stuck for how long? Endlessly or for a brief period of time?

Please provide content that reproduces the issue, you can do this at dev.exoplayer@gmail.com if you'd like it to remain undisclosed. It is not convenient for us to spend time searching for content that reproduc

[2018-03-23 09:23] tonihei commented on #4023
`player.getBufferedPosition() - player.getCurrentPosition()` should give you what you want for most situations.

The only exception is when the player pre-buffers the following items in a playlist. In this case the calculation would only give you the buffered duration in the current playlist item. But, we are planning to fix this soon.

[2018-03-23 09:23] mohanrajsambath commented on #3998
I have this public url, can you please help me to fix this issue,
[https://s3-eu-west-1.amazonaws.com/cyrano-temp/test-audio/aa10a5e5-0d88-dac7-400f-f20a7dce6841.m3u8](Close Caption url), thank you.

[2018-03-23 09:55] taryodor opened #4026 "EventDispatcher should not be part of MediaSourceEventListener"
https://github.com/google/ExoPlayer/blob/b704a1d6436ba64a0d6fab2868d36a6b47030fdc/library/core/src/main/java/com/google/android/exoplayer2/source/MediaSourceEventListener.java#L214

If I create my own listener that implements this interface and pass it to MediaSource factory, app will crash on NullPointerException because EventDispatcher that is hidden inside interface will be missing.
Is that des

[2018-03-23 10:12] AquilesCanta commented on #4013
@Brianvdb, I think you are in much better position than me to diagnose the cause of the buffering and therefore fix your issues. It is not within the scope of this issue tracker to provide advice on how to debug client/server interactions. As with the GOP size issue, this could be almost anything. And probably unrelated to exoplayer. If you have concrete steps to reproduce what you think is a bug,

[2018-03-23 10:12] #4013 closed, assigned to AquilesCanta

[2018-03-23 10:15] AquilesCanta commented on #4026
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-03-23 10:16] oleksandr-yefremov opened #4027 "Nexus 5X with Android 8.1.0 can not play any Widevine DRM video"
### Issue description

Nexus 5X with Android 8.1.0 (OPM3.171019.016) can not play **any** Widevine DRM video.

### Reproduction steps

Open ExoPlayer demo app. Following test cases fail with the same error:
* Widevine DASH Policy Tests (GTS)
  * All
* Widevine HDCP Capabilities Tests
  * All
* Widevine DASH: MP4, H264, WebM, VP9, MP4, H265
  * All secure

Error:

[code]

### Link to test content

[2018-03-23 10:19] AquilesCanta commented on #4026
Which media source factory are you passing the listener to? Could you also provide context on where the NPE is thrown?

[2018-03-23 10:31] tonihei commented on #4026
Also, technically, these are separate classes as EventDispatcher is a public static final inner class and thus not hidden in any way.

Getting a NPE sounds as if you forgot to pass in a `Handler` to the media source you are using?

[2018-03-23 10:39] Naguchennai commented on #4007
so you cant find out where is problem is ?

[2018-03-23 10:40] Naguchennai commented on #4007
you already closed so many same error with out fixing???? lol

https://www.google.co.in/search?client=opera&hs=IB2&ei=u9i0Wu6fD4fcvgTs7oqICg&q=Internal+track+renderer+error&oq=Internal+track+renderer+error&gs_l=psy-ab.3..0.188969.188969.0.189648.1.1.0.0.0.0.67.67.1.1.0....0...1c.1.64.psy-ab..0.1.67....0.UrGDTjlLwSI

[2018-03-23 10:43] andrewlewis commented on #4007
That error encompasses several different possible failure modes.

If you could answer the questions in my previous comment then we might be able to make some progress on this.

[2018-03-23 10:46] Naguchennai commented on #4007
itd working fine now after removing google skd
compile 'com.google.android.gms:play-services-ads:11.8.0'

i remove all googl ads then its working fine...
can you tell me where is problem is?

[2018-03-23 10:47] andrewlewis commented on #4007
Could you provide some details about how you're inserting and playing ads? Are you doing all cleanup required by the ad SDK you're using?

[2018-03-23 10:50] Naguchennai commented on #4007
i just insert admob banner in my layout only .....

your library crashing with admob ads sdk... take a look i dont know where

[2018-03-23 11:01] Naguchennai commented on #4007
After removing google admob interstitial ads its fixed .. i dont know why.... if you want close this thread close it.. thank you

[2018-03-23 11:02] andrewlewis commented on #4007
Both the AdMob SDK and ExoPlayer rely on the Android media framework. If there's a mistake in your use of the AdMob SDK or a bug in the AdMob SDK that causes a resource leak, that could manifest itself in an error while using ExoPlayer, but obviously isn't necessarily indicative of an ExoPlayer bug.

This issue tracker is only for ExoPlayer issues. As removing the AdMob SDK code resolves the issue

[2018-03-23 11:02] #4007 closed, assigned to andrewlewis

[2018-03-23 13:43] AquilesCanta commented on #4022
We'll have a look and update with any findings.

[2018-03-23 13:48] peyoh opened #4028 "HLS additional audio in manifest isn't visible in r.2.7.1"
Hello.

After upgrade from r.2.6.1 to 2.7.1, additional audio track (in the example AAC track) in the manifest isn't shown in the demo player. Is this expected behaviour in 2.7.x?

Here is the playlist:
[code]

[2018-03-23 13:51] AquilesCanta commented on #4027
@wvpaf, any idea why this could be happening?

[2018-03-23 13:54] AquilesCanta commented on #4028
I don't know what my cause this. Would you kindly provide the information requested in the issue template?

[2018-03-23 14:00] AquilesCanta commented on #4010
Closing under the assumption that the issue was in the media. Please file a new issue including all the information required in the issue template if a new problem arises.

[2018-03-23 15:11] peyoh commented on #4028
### Issue description
After upgrade from r.2.6.1 to 2.7.1, additional audio track (in the example AAC track) in the manifest isn't shown in the demo player's AUDIO selection dialog.
In r.2.6.1  [release 2.6.1](https://github.com/google/ExoPlayer/commit/2b20780482a9c6b07416bcbf4de829532859d10a)  it is shown

### Reproduction steps
Use this HLS manifest:

[code]

### Link to test content
Manifest is

[2018-03-23 15:37] taryodor commented on #4026
@tonihei you are right. My bad. Thank you and sorry.

[2018-03-23 16:44] kanthicn1 commented on #4023
Thank you! This works perfectly for me right now. However, I want to understand the caveat in this solution that you mentioned. If the player pre-buffers the other items in the playlist, are you saying this method won't give me the buffer values of all the tracks? But, this method will always give me the correct buffer value of the track that is currently being played. Correct?

[2018-03-23 16:48] tonihei commented on #4023
Yes, that's correct. We are currently adding a new method the interface `Player.getTotalBufferedDuration()` which returns the total duration of buffered media across all playlist items.

[2018-03-23 16:51] ssenanayake opened #4029 "Content Duration for DASH is based on the shortest duration which in this case is the caption track"
### Issue description
DASH duration reported to be the shortest representation, which in the Shaka Packaged content happens to be the text track.

### Reproduction steps
1) Content URL: https://cbsentallaccess.akamaized.net/intl_vms/2014/05/29/269373507506/1351917_cenc_dash/stream.mpd
2) The Representation id="0" codecs="wvtt" is 2650 secs. The Video representations are 2680.
Exoplayer reports 265

[2018-03-23 17:12] kanthicn1 commented on #4023
Great!
Thanks again for your help.

[2018-03-23 17:12] #4023 closed, assigned to tonihei

[2018-03-23 17:15] fpittersacc commented on #3584
Hi @andrewlewis, it seems this issue is still happening under some conditions: when Preroll + Midroll (or Preroll + Postroll), after the empty Preroll, when reaching the Midroll (or Postroll) it gets stuck, like paused, without any further events.

We are able to reproduce the same behavior with following steps:
1. Replace  Ad TAG on IMA Demo with [
IMA Sample Tags](https://developers.google.com/i

[2018-03-23 17:33] andrewlewis commented on #3584
@fpittersacc Thank you for the information. Please do file a new issue and I'll investigate further.

[2018-03-23 18:20] fpittersacc opened #4030 "IMA ImaAdsLoader not resuming content/finishing when preroll and postroll/midroll Ads are empty"
### Issue description
When getting an Ad playlist compose of Preroll + Midroll (or Preroll + Postroll), after an empty Preroll, when reaching the Midroll (or Postroll) it gets stuck, like paused, without any further events.

### Reproduction steps
On IMA Demo replace Tag URL below.

### Link to test content
// Real Ad, currently giving empty Preroll and Postroll (not sure how long it will work)
ht

[2018-03-23 18:23] zshenker commented on #4029
@kqyang ^ Including you on this, as from our discussions you were suggesting that padding out the captions track to be the same duration as the audio/video tracks may be out of spec in DASH?

[2018-03-23 18:31] wvpaf commented on #4027
No idea. No repro internally on standing tests or on manual tests as of yet.
Quick review of the log; looks like an OMX decoder error then the device cannot handle any more sessions with a key error.
Will keep digging.

[2018-03-23 21:13] kqyang commented on #4029
@zshenker Yes, ExoPlayer's requirement is not DASH compliant. I wish this issue could be addressed in ExoPlayer. In the mean time, we'll look into handling it in Shaka Packager: https://github.com/google/shaka-packager/issues/356.

[2018-03-23 23:12] derekw0311 commented on #4014
I tried streaming 4 identical live streams and it works pretty well so the bandwidth should not be the problem. It tend to happen when streaming multiple live stream with different source.

The playback stuck indefinitely but in some cases it would resume but increase the delay from real time. (Since it's a live stream, we try to minimize the delay)

Do you think it has something to do with the al

[2018-03-23 23:37] cmeng-git commented on #3520
There is an error in the vpx configure for arm64-android-gcc etc. Please see below for more information
https://github.com/android-ndk/ndk/issues/190#issuecomment-375164450

[2018-03-24 11:22] elnurvl opened #4031 "Custom listener to show playback controls"
Hi. I want to to show playback controls only when onTouch event is fired. How to prevent control buttons being showed up when on long pressing, dragging etc.?

[2018-03-24 15:10] Zeus64 opened #4033 "Exoplayer failed to parse url like http://static.myserver.com/?video_id=12312323&ext=.mp4"
Exoplayer failed with an exception to parse url like :

http://static.myserver.com/?video_id=12312323&ext=.mp4

[2018-03-25 03:05] 0c6a183d commented on #4004
Thank you for your response.

After capturing the inbound packets on the firewall, I could see that Exoplayer was indeed retrying 4 additional TCP SYN connections after the initial [connectTimeoutMillis ](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.html#DEFAULT_CONNECT_TIMEOUT_MILLIS)had expired (with a few re-transmissions between)

[2018-03-25 13:59] elnurvl opened #4034 "Exoplayer TextureView sample"
I want to use TextureView instead of SurfaceView. But I cannot find sample code on how to implement this functionality on ExoPlayer. I am new on using video playback in Android, so I need a bit more detailed answer.

Thanks.

[2018-03-25 21:00] ojw28 commented on #4029
I've filed https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/178 to request clarification on whether short representations are permitted. I haven't yet found part of the DASH spec or DASH IF recommendations that say either way whether they're allowed or not. Either I've missed the relevant section, in which case please direct me to it, or this feels like an omission. If the latter, I don't

[2018-03-25 22:15] ojw28 commented on #3971
I was looking at the actual sample presentation timestamps, which I think are stored somewhere under the `moof` rather than in the `sidx`. That aside, I think we know what the problem is, which is that ExoPlayer assumes it can switch variant at a sample boundary, but this is not true here because the sample boundaries are not aligned between variants. To fix this we'd probably need to trim a sampl

[2018-03-25 23:07] ojw28 commented on #4010
This issue occurs when the codecs string is zero padded, which is apparently allowed according to the MKV specification. It's pretty weird that the tool you're using would opt to zero pad, given there's no need to do so, but we should still handle this correctly in the player. We'll push a fix shortly.

[2018-03-26 00:05] ojw28 commented on #4029
@zshenker - Padding out the captions track with empty segments is definitely not "out of spec". It's definitely allowed. The clarification I've asked for is about whether _not_ doing this is also allowed.

[2018-03-26 06:50] mahesh2015 opened #4035 "Player returns negative value for live streaming."
Both method of player returning negative(minus) value with live stream

[code]

[2018-03-26 07:47] Peter59403 commented on #4027
I have the same issue on my Nexus 5X when trying to play Amazon Prime videos. This shows the same message in logcat (error on LoadKeys, then fails with -2902). First thought it would have something to do with my Nexus being repaired by LG (boot loop issue -> think they replaced the motherboard), but according to oleksandr-yefremov it also occurs on a brand new device. Unfortunately I did not use A

[2018-03-26 07:49] peyoh commented on #4028
Example URL was sent to a developer's email.

[2018-03-26 09:15] #4026 closed, assigned to tonihei

[2018-03-26 09:58] pals-ric opened #4036 "videoquality issue"
hi,
 List<Format> videoFormats = HlsRendererBuilder.VideoFormats;
can anyone tell that how can I get videoformat list for video quality in demo app.how can i get
Format instance which will have all bitrate options.

[2018-03-26 10:32] AquilesCanta commented on #4028
Something is strange here. From the provided bugreport:

[code]

Which means the track was detected and has codec support. Did you provide a bugreport from a different device?

Is the audio not shown, or is it greyed out? Here is a wild guess, just in case. If the audio option is actually greyed out (instead of missing), this most likely means the devices don't provide decoding support for ac-3. I

[2018-03-26 10:48] tonihei commented on #4031
Our `PlayerView` class checks for `MotionEvent.ACTION_DOWN` to show the playback controls.

If you like to have a custom behavior, you could extend `PlayerView` and override `onTouchEvent(MotionEvent ev)`. In there, you can call `showController()` or `hideController()` to achieve your intended effect.

[2018-03-26 10:51] tonihei commented on #4033
This url can't be resolved (as easily verified by clicking on above link). That's also why ExoPlayer fails trying to play this url.

If you have any specific concern about the exception, please fill out the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) and provide all the requested information.

[2018-03-26 10:58] tonihei commented on #4034
You can use [`SimpleExoPlayer.setVideoTextureView`](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html) to set a texture view as video surface.

Note that SurfaceView has some advantages as outlined [here](https://google.github.io/ExoPlayer/faqs.html#should-i-use-surfaceview-or-textureview).

[2018-03-26 11:01] tonihei commented on #4035
The current position may report negative values for live streams if you, for example, pause playback and the position falls behind the current live window. The duration shouldn't normally be negative.

Could you please fill out the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) for use to take a closer look? Especially example media would be helpful to reprodu

[2018-03-26 11:06] tonihei commented on #4036
Each track (=bitrate option) is represented by a separate `Format` object. You'll be notified of available tracks in your [`Player.EventListener`](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Player.EventListener.html) in `onTracksChanged`.

[2018-03-26 11:07] tonihei commented on #3980
Closing because question seems to be answered. Feel free to reopen if not.

[2018-03-26 11:07] #3980 closed, assigned to tonihei

[2018-03-26 11:11] tonihei commented on #4034
To add to the above: You can also set the [`PlayerView`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html) attribute `surface_type` to `texture_view`. This automatically creates a texture view when setting up the ExoPlayer UI.

[2018-03-26 12:00] elnurvl commented on #4031
I use ExoPlayerFactory to make a player object. I am not sure if it is the correct way to make a player object with new statement. Can't I set onTouchListener after player object being created?

[2018-03-26 12:22] tonihei commented on #4031
Yes, ExoPlayerFactory is the correct way to create the player. I think that's irrelevant for your problem though. For my suggestion, you'd need to overwrite `PlayerView` which is the UI component you may have put somewhere in your layout.

[2018-03-26 12:35] pals-ric commented on #4036
okay. I was simply making an logic for bit rates **low** ,**medium** ,**high** and **very high** quality and  if user select these one of these qualities that quality url will get call so i wanted to know how can i get all bitrate , which method will provide all the  bit rate availabilities along with the url.

[2018-03-26 12:45] tonihei commented on #4036
As I said, you will receive an update in `onTracksChanged` if the tracks become available or change. The first parameter (`trackGroups`) contains a list of all available tracks, while the second parameter gives you more information about the currently selected tracks for each renderer. If you want to set a specific track use [`TrackSelector.setSelectionOverride`](http://google.github.io/ExoPlayer/

[2018-03-26 12:49] pals-ric commented on #4036
that is my question in your demo app
 MappedTrackInfo mappedTrackInfo = trackSelector.getCurrentMappedTrackInfo(); , having some value but for my app this is coming null i am not getting the reason and because of null value its crashing.

[2018-03-26 12:50] pals-ric commented on #4036
and i am playing m3u8 url and its working but mapped track info is null.

[2018-03-26 12:53] tonihei commented on #4036
The mapped track info will be null in the beginning before we know which tracks are available. You should be able to get a non-null value after the callback to onTracksChanged. Have you tried that?

[2018-03-26 13:12] pals-ric commented on #4036
now some value is coming but i am not getting the flow exactly what values of that method is giving and how to give the video qualty values to my popup to select the options for video quality.

    List<Format> videoFormats = HlsRendererBuilder.VideoFormats;

        if (videoFormats != null) {
            ArrayList<String> contentItems = new ArrayList<String>();

            if (videoFormats.size

[2018-03-26 13:16] pals-ric commented on #4036
this is the code of my exoplayer 1, so i want to know how to get videoformat in this exoplayer 2.

[2018-03-26 13:55] ronak2121 commented on #3971
I see. Have you seen content prepared that mix audio codecs? That's essentially what we're doing here. We would like to use HE-AAC where possible at the lower end of the spectrum, and LC-AAC for the higher ones.

[2018-03-26 14:02] kambrish commented on #3728
It is working on 7.0 and above but not woking on 6.0 and below. Any update on it?

[2018-03-26 14:20] mahesh2015 commented on #4035
https://github.com/amzn/exoplayer-amazon-port/issues/38

v2.6.1, Above is the link which i am using. Device in amazon FireTV gen-1, gen-2.

[2018-03-26 14:26] tonihei commented on #4036
Please have a look at the TrackSelectionHelper class in our demo app. Especially the loop in [buildView](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/TrackSelectionHelper.java#L146)  does the same as your code. The trackGroups it is using are obtained from the trackSelector.getCurrentMappedTrackInfo().getTrackGroups(rendererIndex).

[2018-03-26 14:30] tonihei commented on #4035
The link above is to the same issue filed at the ExoPlayer Amazon port and not the live stream link?

[2018-03-26 14:32] mkaflowski commented on #3987
That would be great if we have some OnLoadedListener so we could just pause media.

[2018-03-26 14:37] elnurvl commented on #4031
Sorry, I confused `PlayerView` with `ExoPlayer` object. So in this case I should create my own widget with custom `onTouchEvent` method and use it in my layout instead of standard `PlayerView`, right?

[2018-03-26 14:39] elnurvl commented on #4034
Thank you. I already got the answer on Stack Overflow.
https://stackoverflow.com/questions/49476176/how-to-use-textureview-instead-of-surfaceview-for-exoplayer

[2018-03-26 14:39] tonihei commented on #4031
Sounds right.

[2018-03-26 14:47] mkaflowski commented on #3987
I have made workaround and created OnPrepareListener for CastPlayer so when the stream is prepared I just pause it.

[2018-03-26 14:49] elnurvl commented on #4031
Thank you. It would be more convenient to do customization if a method like setOnTouchListener are added to PlayerView class in the next releases.

[2018-03-26 14:53] AquilesCanta commented on #3987
Listening to the timeline would be equivalent, correct? I.e. Transitioning from empty to non-empty after a loadItems call. However, I am afraid this is not a proper solution, because if for some reason the command is delayed or dropped, then there is a chance that the content is played for a short period of time or just played. We are working with the cast team to fix these issues and any updates

[2018-03-26 14:57] mahesh2015 commented on #4035
Sir,
I can't share my stream here. I have to get permission from my client first.

[2018-03-26 14:59] mkaflowski commented on #3987
Pretty much. I just use addListener for player and make some operations to detect when the stream is prepared. I work on some library that integrate playing on phone with playing on Chromecast. It is something like cast demo app but easier to use when you want to implement quickly in your app.
[https://github.com/mkaflowski/HybridMediaPlayer](https://github.com/mkaflowski/HybridMediaPlayer)

[2018-03-26 15:00] tonihei commented on #4035
Instead of sharing it here, you can also send it dev.exoplayer@gmail.com quoting "Issue #4035" in the subject.

[2018-03-26 15:44] Zeus64 commented on #4033
yes this url can't be resolved (i don't have a public url like this one) but the problem is not here. The problem is that exoplayer will try to parse the url in components and try to get the extension of the first component that in this url http://static.myserver.com/?video_id=12312323&ext=.mp4 is null (for example for http://static.myserver.com/toto.mp4 first component = toto.mp4)

[2018-03-26 15:55] Kiran89kumar opened #4037 "Proguard Rule for HLS video"
Video player is getting struck for pro-guard enable application while playing HLS video
What should be the proper proguard rule.

[2018-03-26 16:13] tonihei commented on #4037
You shouldn't need to configure Proguard for ExoPlayer yourself because it's already pre-configured. If you think there is an issue, please fill out the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) and add some more details on how to reproduce your problem.

[2018-03-26 17:13] AquilesCanta commented on #4033
It'd be useful if you described how to trigger the exception, @Zeus64. We have sample content whose last path component does not have an extension, and works correctly. Some modules of exoplayer depend on the content to have an extension. For example, the segments of an HLS media playlist. If your playlist does not include the extension, you'd have to implement your own HlsExtractorFactory. So, as

[2018-03-26 20:57] abvaalgit opened #4038 "how to play simply local video file in ExoPlayer api"

[2018-03-26 22:42] susnata1981 commented on #4015
Thanks for reporting this issue. The 2 second delay introduced by UPDATE_PLAYBACK_STATE_DELAY_MS seems like the issue. I believe this was introduced for synchronization purpose. I'll investigate and update this thread.

[2018-03-27 03:32] aatish1989 commented on #4006
Please find the full Logcat:

Samsung Galaxy Note3 Neo (hl3g), 1984MB RAM, Android 5.1
Report 1 of 1

The "sticker_query_thread-1" (tid=29) thread is in waiting state.
COLLAPSE ALL
"main" tid=1 Blocked

"main" prio=5 tid=1 Blocked
  | group="main" sCount=1 dsCount=0 obj=0x75fbfad8 self=0x42827800
  | sysTid=20867 nice=-4 cgrp=default sched=0/0 handle=0x40014bec
  | state=S schedstat=( 10018186397

[2018-03-27 03:35] aatish1989 commented on #4006
**Please find the Full logcat:**

Today, 12:24 AM on app version 4528
Samsung Galaxy On5 (o5lte), 1536MB RAM, Android 6.0
Report 1

The "main" (tid=1) thread is in waiting state.

EXPAND ALL
"main" tid=1 Waiting
"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 obj=0x767a2598 self=0xb48a4500
  | sysTid=18766 nice=0 cgrp=bg_non_interactive sched=0/0 handle=0xb6fdbd54
  | state=S sched

[2018-03-27 04:18] bounmed opened #4041 "build Exoplayer with vp9 and ffmpeg"
Hi,

I am using Exoplayer in a react native project it works great with MP4 container with x264and AAC i want to extend it to accept AC3 and X265 so i compiled both VP9 and ffmpeg extensions using ndk_r13 in OSX platform and everything went good without error.

So i added  to my settings.gradle as suggested [here](https://github.com/google/ExoPlayer)

[code]
and also tried instead of "apply from:

[2018-03-27 06:31] needz commented on #3708
Is there a manual way to fix this issue? Or only downgrade Android Studio to  previous version?

[2018-03-27 06:51] lintax commented on #3708
@needz there is hardly any connection to Android Studio version. You can just decrease gradle version in gradle-wrapper.properties

[2018-03-27 06:57] needz commented on #3708
@lintax, after upgrading to Android Studio 3.1 the minimum required gradle version is 4.4, so I can’t really downgrade it. Already tried.

[2018-03-27 07:04] lintax commented on #3708
@needz yeah, not realized that 3.1 was released already
As a quick-but-not-fast-to-do-fix, I think you can make a separate project to build your exoplayer version with old Android Studio and gradle versions, and depend on already built aar in the main project.
Or yes, revert to previous version.

[2018-03-27 07:04] pals-ric commented on #4036
okay , i checked it but i have an doubt what exactly **onTrackchanged()** is doing and in which method i am getting all the data available related to bitrates and video qualities and what is the Format class functionality because as i can see from that class we are getting all available videoformat, but in new version i dont know how to get all available format for videos.

[2018-03-27 07:34] bennylaws commented on #3708
I just came across the same error - updated AS to 3.1 and my project wouldn't compile anymore.
I replaced AS 3.1 with 3.0.1 and wanted to downgrade the gradle version in gradle wrapper properties, but also in AS 3.0.1 it tells me Gradle 4.4 is the minimum. I believe I had the same config working fine half an hour ago and now I can't compile my project anymore.
(I'm using ExoPlayer 2.7.1 in my proj

[2018-03-27 07:37] function1983 commented on #3708
Stupid me upgrade Android Studio to 3.1.0.
Redownload to 3.0.1 and it works now. Wait for exoplayer to support 4.4 then upgrade people!

[2018-03-27 07:41] Zeus64 commented on #4033
@AquilesCanta yes sorry i forget to say it's was with HLS (I don't know why i gave you an exemple with mp4)

correct url is something like http://static.myserver.com/?video_id=12312323&ext=.ts

exception is raise here :

com.google.android.exoplayer2.source.hls
...
String lastPathSegment = uri.getLastPathSegment();
if (MimeTypes.TEXT_VTT.equals(format.sampleMimeType)
        || lastPathSegment.end

[2018-03-27 07:49] bennylaws commented on #3708
after going back from AS 3.1 to older 3.0.1 and setting
classpath 'com.android.tools.build:gradle:**3.1.0**'
to
classpath 'com.android.tools.build:gradle:**3.0.1**'
in top level build.gradle
and setting
distributionUrl=https\://services.gradle.org/distributions/gradle-**4.4**-all.zip
distributionUrl=https\://services.gradle.org/distributions/gradle-**4.1**-all.zip
in gradle wrapper properties it's

[2018-03-27 08:49] needz commented on #3708
Is there an easy way to downgrade to 3.0.1 without full uninstall of 3.1?

[2018-03-27 09:18] kelmer44 opened #4042 "Videos dont play with IMA plugin"
### Issue description

Since yesterday evening (everything was working prior to that), videos no longer play if IMA Media Source is passed. A message saying

[code]

 is displayed

- Version of exoplayer is  2.6.1, playServices version is 11.0.4
- Updating exoplayer to 2.7 makes it work again.
- Removing Adsmediasoruce makes it work.

### Reproduction steps

- App with exoplayer & ima ads plugin,

[2018-03-27 09:22] andrewlewis commented on #4042
What is the ad tag URI? Please send it via email to `dev.exoplayer@gmail.com` if you don't want to post it here.

[2018-03-27 09:22] AquilesCanta commented on #4015
For some reason, I cannot assign you, @susnata1981. In any case, internal reference [b/76434032].

[2018-03-27 09:42] kelmer44 commented on #4042
Sent it to that address

[2018-03-27 09:45] andrewlewis commented on #2659
We don't have any plans to support this at the moment, as it seems quite niche. For the case of different languages in left/right channels, using `ChannelMappingAudioProcessor` lets you achieve the desired effect. For changing the volumes of channels independently in general, I suggest implementing a custom `AudioProcessor` that copies each channel and applies the relevant scaling.

[2018-03-27 10:08] peyoh commented on #4028
Hi,
the device is the same. Let me clarify:

In the demo app with **r.2.6.1**, AUDIO dialog shows **both** AC3 audio **and** AAC audio and the player is able to play both codecs.

in **r2.7.1** the AUDIO dialog shows **only** AC3 audio, **without** AAC audio (even it is declared in the manifest). The demo app **successfully plays** AC3 audio.
[code]
Please ask me for any additional info you need.

[2018-03-27 10:13] Realerik commented on #3962
### Issue description
After an online audio stream has been played for several minutes an E/ExoPlayerImplInternal: Source error happens.
The people who have this problem all use android 7 on their devices.
I am using a service, that is running in the foreground. I am also using a wifi lock, a wake lock and i have increased the timeout of the player to 15 seconds.

### Version of ExoPlayer being us

[2018-03-27 10:33] AquilesCanta commented on #4033
I will modify the default HLS extractor factory to assume TS when the path is not found. But in this case, you'd be better off creating your own extractor factory that uses the ext GET parameter to determine the extractor. Please fill the issue template next time. It will save everyone some time.

[2018-03-27 11:19] bounmed commented on #4041
I am able to use ffmpeg now the issue was in my module i should use (extension without s):
[code]

[2018-03-27 11:19] #4041 closed, assigned to tonihei

[2018-03-27 11:37] richjhart commented on #4005
I should go into a bit more detail about what I'm looking for. There are two different but related scenarios I'm thinking of really:

1)
- Video automatically jumps to a point some time into the video when the user loads it (e.g. due to having previously watched part of it). Because of business requirements, no ad should play at this point.
- But the only way to do this is to set all ads prior to

[2018-03-27 12:17] bounmed opened #4043 "VP9 ERROR"
I am getting this error when i try to play a HEVC video:
[code]
the video format is
[code]

[2018-03-27 12:27] Zeus64 commented on #4033
thanks Aquiles, yes sorry it's was late the night and I was tired and I fill the report quite fastly :(

[2018-03-27 12:59] tonihei commented on #4036
The `trackGroups` parameter in the `onTracksChanged` callback contains a list of `TrackGroup`s each containing a list of `Format`s. And each `Format` in turn has its own average bitrate.

[2018-03-27 13:02] tonihei commented on #4041
As you closed the issue, I assume it's already solved. Please let us know if that is not the case.

[2018-03-27 13:05] tonihei commented on #4043
Could please provide all the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE)? In this case, we'd need at least the media file to investigate the problem. If you don't want to share it publicly, you can also send to dev.exoplayer@gmail.com quoting "Issue #4043" in the subject.

[2018-03-27 13:12] pju-intive opened #4044 "Exoplayer doesn't check if any other stream in .m3u8 works if one of them gives 403 (HLS)"
### Issue description
Having stream with different bitrates, one of them returns 403.
ExoPlayer checks it 4 times then gives up and returns with 403.
Even if there is one with lower bitrate it doesn't check it, to save stream.
Other platforms works this way (checks all of possible streams) and make it more failure tolerant for us.

### Reproduction steps
Have .m3u8 with one or few streams in it re

[2018-03-27 13:40] tao1 commented on #3708
### Here are reproduction steps
git clone https://github.com/google/ExoPlayer.git
cd ExoPlayer
git checkout origin/release-v2
git apply ../Gradle-3.1.0.patch
./gradlew build
[code]

Here is patch:
[code]

[2018-03-27 13:40] tonihei commented on #4038
Please fill out the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) if you'd like us to look at a specific problem. For guidance how to play media with ExoPlayer, please look at our [developer guide](https://google.github.io/ExoPlayer/guide.html) to get started.

[2018-03-27 13:50] tonihei commented on #4035
Thanks for sharing the streams. The first one plays perfectly fine in our demo app and has neither a negative position nor a negative duration. The second one is reporting 404 errors for me.

I suspect your problem only occurs in the ExoPlayer Amazon port rather than ExoPlayer itself. Please follow up with the bug you filed on their site - or provide reproduction steps in our demo app if you think

[2018-03-27 13:57] roundsmapp commented on #2659
@andrewlewis , thank you for your response. Is there any place where I can see a custom implementation of AudioProcessor with separate channels? I've been looking for documentation and didn't find where I can make those channels work.

[2018-03-27 14:11] andrewlewis commented on #2659
I'd start by reading `ChannelMappingAudioProcessor` to see how it works, then make a copy of it and modify it to multiply each sample being copied by a factor associated with its channel. The input/output data to/from the processor is interleaved 16-bit PCM, so it might be best to access the input buffer as a `ShortBuffer` rather than a `ByteBuffer`.

To use your custom `AudioProcessor` with `Simp

[2018-03-27 14:12] sathishkumar1392 opened #4045 "Close caption: By default m3u8 URL has close caption and turn off by default How to turn on manually"
**Issue description**

Close caption: y default m3u8 URL has close caption and turn off by default How to turn on manually.
My code was turn manually
 trackSelector.setRendererDisabled(2, false);

**Reproduction steps**

Parse HLS URL with transcription enabled to exoplayer

Audio closed caption
https://s3-eu-west-1.amazonaws.com/cyrano-temp/test-audio/aa10a5e5-0d88-dac7-400f-f20a7dce6841.m3u8

**

[2018-03-27 14:13] AquilesCanta commented on #4028
Ok, I have had a look at it. The issue here is that the stream is malformed. You observe this regression because we now propagate the codecs attribute to audio variants. Which means that the audio rendition inherits the ac-3 codec from the STREAM-INF tag. This in turn causes the TS extractor to ignore the AAC track (this is an [old workaround](https://github.com/google/ExoPlayer/blob/r2.7.1/librar

[2018-03-27 14:13] #4028 closed, assigned to AquilesCanta

[2018-03-27 14:14] tonihei commented on #4045
Duplicate of #3998.

[2018-03-27 14:14] #4045 closed, assigned to nobody

[2018-03-27 14:22] AquilesCanta commented on #4044
403 is not considered to be blacklistable (404 and 410 currently are). The customizabilty of error handling across media sources (mainly adaptive ones) is tracked by #2981. If you control the media, you might want to try using 404 instead.

[2018-03-27 14:22] #4044 closed, assigned to AquilesCanta

[2018-03-27 14:36] pju-intive commented on #4044
than

[2018-03-27 14:37] sathishkumar1392 opened #4046 "Close caption: on off isssue"
**Issue description**
Close caption: I have both audio and video m3u8 URL. Now the URL come with CC turn off  initial state  the URL is coming from the Amazon with transcription.I want to turn on CC by clicking CC button. They issue is  not showing CC.i shared my code below and shared hls stream url for audio.Can you test and tell me
My code was turn manually
trackSelector.setRendererDisabled(2, f

[2018-03-27 14:38] pju-intive commented on #4044
thanks for response, will work with it

[2018-03-27 16:00] AquilesCanta commented on #3998
This works correctly for me. The rendered subtitles match the embedded webvtt file and are roughly in sync with the sound. Could you clarify the unexpected behavior you are observing?

[2018-03-27 16:36] AquilesCanta commented on #3728
I cannot find any information about cookie management bugs on Android. You could start debugging by checking that the lack of authentication token cookies is actually the cause of the 403. To do this, you could intercept the generated http headers using a developer tool. If the cookies are actually being sent correctly, and the headers look fine, then the next step would be checking that the app i

[2018-03-27 18:41] noamtamim commented on #3835
Hi Olly,
I understand your concern. Note that "forking the class" in this case must be done in a pretty hackish way: I need to [fork it](https://github.com/kaltura/playkit-android/blob/v3.4.3/playkit/src/main/java/com/google/android/exoplayer2/video/CustomVideoCodecRenderer.java) in the same package (`com.google.android.exoplayer2.video`), otherwise it won't have access to essential package-local

[2018-03-27 20:50] roundsmapp commented on #2659
@andrewlewis , I guess I got it. Thank you!

[2018-03-27 21:16] wvpaf commented on #3846
closing due to no response. please reopen if you are able to provide the information a full ADB bugreport.

[2018-03-27 21:16] #3846 closed, assigned to nobody

[2018-03-27 21:24] stari4ek opened #4047 "Fails to build locally using AS 3.1"
Sync/Build of project with local exoplayer built from sources fails due `javadoc_library.gradle`

Build tools:
[code]

Root cause of exception (whole callstack is really huge):
[code]

problem is in `javadoc_library.gradle` with
[code]
Commenting whole task of this lines fixes problem

[2018-03-27 22:20] wvpaf commented on #3517
Have not be able to repro internally, video plays but there is no audio.
Will continue to pick away at this.

[2018-03-27 22:25] wvpaf commented on #3443
@ram992 can you get an ADBbugreport from a MotoG3?

[2018-03-27 22:26] mikal-ustad commented on #3708
I'm able to work around this by updating the bintray version to 0.8.0 and removing the classpath lines from javadoc_combined.gradle and javadoc_library.gradle. More explanation [here](https://issuetracker.google.com/issues/67482030)

[2018-03-27 22:27] wvpaf commented on #3443
@zabirtech same to you as well if you are able to capture a ABDbugreport from a more recent device that would be great.

[2018-03-27 22:31] ojw28 commented on #4047
Duplicate of https://github.com/google/ExoPlayer/issues/3708

[2018-03-27 22:31] #4047 closed, assigned to nobody

[2018-03-27 22:39] ojw28 commented on #3708
We have a fix for this that will be pushed to the `dev-v2` branch shortly.

[2018-03-27 22:57] #3990 closed, assigned to ojw28

[2018-03-27 23:00] ojw28 commented on #3996
Closing due to lack of information. If you're able to provide additional information please do so here, and we'll reopen the issue.

[2018-03-27 23:00] #3996 closed, assigned to botaydotcom

[2018-03-27 23:02] ojw28 commented on #3999
@James2516 - Please could you provide a link to a piece of test content that reproduces this issue? Or email one as an attachment to `dev.exoplayer@gmail.com`? Thanks.

[2018-03-27 23:05] #4034 closed, assigned to tonihei

[2018-03-27 23:19] ojw28 commented on #3729
@erdemguven - Can we fix this? The fix suggested above looks correct to me?

[2018-03-28 00:07] ojw28 commented on #3735
I think we're interested in merging this in some form, possibly directly into the existing OkHttp extension as we'd like it to be based on `OkHttpDataSource` rather than `DefaultHttpDataSource`.

It's fine if you don't want to spend time making changes yourself, but in order to look at merging we'd need you to contribute the extension in its current form by opening a pull request to our `dev-v2` b

[2018-03-28 00:10] #4010 closed, assigned to ojw28

[2018-03-28 00:11] #4006 closed, assigned to AquilesCanta

[2018-03-28 00:12] #4001 closed, assigned to marcbaechinger

[2018-03-28 00:12] #3779 closed, assigned to botaydotcom

[2018-03-28 00:13] ojw28 commented on #3708
Fixed in https://github.com/google/ExoPlayer/commit/13592dfb53ec99ce1fdb2744e34717dbdec9dea8

[2018-03-28 00:13] #3708 closed, assigned to AquilesCanta

[2018-03-28 00:14] #2360 closed, assigned to erdemguven

[2018-03-28 00:17] #4033 closed, assigned to AquilesCanta

[2018-03-28 00:17] #3926 closed, assigned to ojw28

[2018-03-28 01:05] ram992 commented on #3443
Will try, but can't say as we got an update from Redmi tech team that they have fixed this issue and are releasing an OTA update. Anyway I will try.

[2018-03-28 04:56] vishal105 commented on #3728
I got the solution and its working in all devices even in kitkat also.

[2018-03-28 06:09] pals-ric commented on #4036
okay now I am getting all the bitrates but while i am choosing any quality video is not getting changed.there is TrackSelector.setSelectionOverride in your demo  i think this is for that bitrate selection.

[2018-03-28 06:24] knowamit commented on #2189
@tonihei
`player.createMessage(new Target() {
     @Override
     void handleMessage(int messageType, Object payload) throws ExoPlaybackException {
       /* Do something at time 1500. */
     }
   })
  .setPosition(1500)
  .setHandler(new Handler())
  .send();`

is not available in `compile 'com.google.android.exoplayer:exoplayer:2.7.1'`

[2018-03-28 07:11] ram992 commented on #3443
Can you give me an intro how to do it, after the device restarts, cause it Moto G3 doesn't print anything and suddenly restarts.
If there is a way on getting the log from device(if it has after reboot), I will get that

[2018-03-28 08:19] tonihei commented on #2189
@amitsharma492  It is there, see [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L225) and [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/PlayerMessage.java).

[2018-03-28 08:21] tonihei commented on #4036
Yes, you need to use setSelectionOverride if you want to set the Format manually.

[2018-03-28 08:32] tonihei commented on #4046
Tested your stream and it works perfectly (including the captions).

[2018-03-28 09:03] pals-ric commented on #4036
i have tried set selection override method in my code but its crashing because of that line.
  player.setSelectedTrack(DemoPlayer.TYPE_VIDEO, selectedPosition); what should i can give in place of that line

[2018-03-28 09:07] loredana2314 opened #4048 "Using ffmpeg to play eac3 and ac3 audio"
Issue description
I am trying to use ffmpeg extension in demo app of exoplayer version 2.3.1 (also tried with 2.7.1)
In my last attempt I used COMMON_OPTIONS="\
    --target-os=android \
    --enable-shared \
    --enable-avresample \
    --enable-decoder=vorbis \
    --enable-decoder=opus \
    --enable-decoder=flac \
	--enable-decoder=eac3 \
	--enable-decoder=ac3 \
    "
as I need eac3 and ac3 a

[2018-03-28 09:57] mahesh2015 commented on #4035
Sir,
The URL  which returning 404 is time specific broadcaster(5 A.M. to 9 A.M. at GMT-4).

[2018-03-28 10:05] tonihei commented on #4035
Yes, indeed. I was now able to use the second URL too. However, it still has a valid positive duration and a positive position. Please follow up with Amazon if your problem persists on their ExoPlayer port only.

[2018-03-28 10:08] mahesh2015 commented on #4035
Ok sir.

thanks for your valuable support.

[2018-03-28 10:08] #4035 closed, assigned to tonihei

[2018-03-28 10:12] tonihei commented on #4036
Can you give more details (i.e. at least a stacktrace and a error message) on how setSelectionOverride is crashing your app? Also, `setSelectedTrack` doesn't look like an ExoPlayer method.

[2018-03-28 10:19] pals-ric commented on #4036
its olderversion exoplayer method inwhich i was providing selected bitrate value like **low**, **medium**, **high**, **auto** and **data saver**

          public void setSelectedBitrate(String resolution) {
          if (isOfflineMode)
            return;
           List<Format> videoFormats = HlsRendererBuilder.VideoFormats;

        if (videoFormats == null || videoFormats.size() <= 1)

[2018-03-28 10:24] pals-ric commented on #4036
how can i give my selected resolution in this method and where to give trackselectionoverride.

[2018-03-28 11:25] tonihei commented on #4048
I tried building the ffmpeg extension with the parameters you used - and was also not able to play eac3 and ac3 audio formats.

However, when using the COMMON_OPTIONS in our [README](https://github.com/google/ExoPlayer/blob/dev-v2/extensions/ffmpeg/README.md) with added "--enable-decoder=eac3 --enable-decoder=ac3", both formats work as expected. I assume some of the additional options make it work

[2018-03-28 11:28] pals-ric commented on #4036
can you tell according to my code what should i give in this method
trackSelector.setSelectionOverride(0,trackGroups,override);

[2018-03-28 11:38] andrewlewis commented on #4048
I'm not sure why it doesn't work with those options. The additional options in our readme only seem to be disabling features.

[2018-03-28 11:40] tonihei commented on #4036
As documented [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/MappingTrackSelector.html), you need to pass a renderer index, the track groups you received from mappedTrackInfo.getTrackGroups(rendererIndex), and the override specifying the new selection.

In general, we don't have the resources the debug your application code. If you want help int

[2018-03-28 11:43] mkaflowski opened #4049 "Cast Extension: Detecting track changes while casting"
How to detect that track has finished or has changed for CastPlayer? For normal player I use onTracksChanged which detect that I skip to another track and onPositionDiscontinuity with reason == 0 to detect that track is finished.
For CastPlayer onTracksChanged is never called and onPositionDiscontinuity with reason == 0 is called very often when I connect to Chromecast and when I skip to another t

[2018-03-28 11:56] ojw28 commented on #3835
I don't think `MediaCodecVideoRenderer` relies on anything that's package local. I tried forking it into a different package and it worked fine for me. What specifically are you hitting that's package local when you try and do this?

[2018-03-28 12:00] knowamit commented on #2189
@tonihei but I am using ``SimpleExoPlayer`` can you tell me how can implement in SimpleExoPlayer

[2018-03-28 12:21] mkaflowski commented on #4049
I have make workaround:
[code]
But when I connect to Chromecast I get newIndex = 0 very often and correct window in a moment.

[2018-03-28 12:28] noamtamim commented on #3835
I checked again -- and like you wrote, it **doesn't** use any package-local stuff. Looks like we missed something when we originally implemented this fix.

[2018-03-28 12:30] tonihei commented on #2189
`SimpleExoPlayer` implements the `ExoPlayer` interface. That means you should be able to use `createMessage`.

[2018-03-28 12:36] loredana2314 commented on #4048
[exoplayerlogs1.txt](https://github.com/google/ExoPlayer/files/1855955/exoplayerlogs1.txt)
Thnx for the reply, I'm also sending the log file for more details.
I can see from there that "Loaded FfmpegAudioRenderer" is reached, but I can't understand what happens next.

[2018-03-28 13:19] andrewlewis commented on #4048
Looking at the logs, the player is still trying to use `MediaCodecAudioRenderer`, which fails. This suggests that the ffmpeg extension isn't loading correctly, or that its renderer is not taking priority over `MediaCodecAudioRenderer`. Please try following the readme instructions as Toni suggested above, and make sure you use `EXTENSION_RENDERER_MODE_PREFER` (or equivalent if you're not using `Def

[2018-03-28 13:24] loredana2314 commented on #4048
[exo_mode_prefer.txt](https://github.com/google/ExoPlayer/files/1856112/exo_mode_prefer.txt)
thank you,
Here are the logs after setting EXTENSION_RENDERER_MODE_PREFER. My device doesn't respond for some time when selecting audio/ac3 or eac3. If this is a device specific problem (since I am using demo app of exoplayer version 2.3.1 without modifications), can I do anything to solve it?

[2018-03-28 13:35] andrewlewis commented on #4048
The ffmpeg extension shouldn't be affected by device-specific issues. Are you using it, or are you now trying to get `MediaCodecAudioRenderer` to work? I had a quick look in the latest logs but it wasn't obvious.

[2018-03-28 14:00] loredana2314 commented on #4048
I am setting EXTENSION_RENDERER_MODE_PREFER as a parameter in ExoPlayerFactory.newSimpleInstance(). According to the instructions that's all I got. After testing in another device (tablet), it works, but I want it in Quad-Core Enjoy TV Box. Thank you.

[2018-03-28 14:02] pals-ric commented on #4036
okay i will try as you have suggested.

[2018-03-28 14:46] aryan007 commented on #3543
@RadhikaBalla Im facing a similar issue while playing DRM encrypted content, were you able to solve this issue ?

[2018-03-28 14:58] mikal-ustad commented on #3521
I found putting a sleep in the MediaCodecRenderer's drainOutputBuffer right before calling processEndOfStream fixes clipping issues. The device specific part seems to be an issue with some devices not playing out the last buffer that was written to the AudioTrack when stop is called like it should.

A slightly less kluge way of fixing the issue is not calling audioTrack.stop() in the DefaultAudioS

[2018-03-28 15:58] andrewlewis commented on #3962
Are you sure this isn't just a case of connecting timing out due to network unreliability?

[2018-03-28 16:02] James2516 commented on #3999
Here's a sample `.3gp` audio file: https://files.fm/u/x7j8d4ez
Let me know if you require anything else!

[2018-03-28 17:13] AquilesCanta commented on #4022
It seems to be broken on 7.1, but does work correctly on MR1 (7.1.1) and later. Without knowing any workaround, the only suggestion I can give you is to update Android. Maybe @wvpaf can provide insight. Otherwise, I think it is okay to close this issue, as there is not much we can do in ExoPlayer (except maybe improving support detection to avoid a crash -- @ojw28?).

[2018-03-28 17:18] AquilesCanta commented on #4022
[Internal ref: b/77217735]

[2018-03-28 18:06] zabirtech commented on #3443
What u could do is connect it to a computer. And run a log from there so
even if it crashes the computer could save it.

Den ons 28 mars 2018 09:12ram992 <notifications@github.com> skrev:

[2018-03-28 18:13] jhughes commented on #4022
Thanks, @AquilesCanta Do you know if it works on 7.0? I don't have a 7.0 device to test on.

If this can't be fixed, the [supported formats](https://google.github.io/ExoPlayer/supported-formats.html) is misleading. Can that be updated?

[2018-03-28 23:17] 0c6a183d opened #4050 "Filtering what data is cached with DASH media."
Hi.

I have implemented a cache for Exoplayer to store DASH audio chunks as the online content is static / on-demand. It works very well during playback always retrieving from cache if possible. Exoplayer is configured for a quick start and starts playing audio at 28Kbps until the BandwidthMeter has generated a reading (~4 seconds) and then Exo switches up to the higher quality, if possible.

Duri

[2018-03-28 23:25] 0c6a183d commented on #4050
Alternatively to the above questions, could Exoplayer be set to ignore the cache for the first _x_ seconds of DASH playback?

[2018-03-29 01:23] cool-benson opened #4051 "keep player playing even some of the renderer is not getting enough buffer"
### Issue description
Hi,
  My team is creating a VR Streaming app which utilize #2855 solution. And we want playback not to be blocked when only one renderer not getting enough buffer. For example we have six video renderer, one for each face of one cube, and we are looking at only face 1,2. Then when we don't have enough buffer on face 5 the play back status change to loading(I assume).

**So is

[2018-03-29 03:48] ram992 commented on #3443
Hey @zabirtech , is it like running Debug.startMethodTracing();
Cause I have connected it to my system and check in my logCat for error.
But it never prints any serious error. I will try this again today and will update

[2018-03-29 08:23] kelmer44 commented on #4042
now with latest version of exoplayer (2.7.1) and play services (12.0.1) video is playing, but no ads are shown:

[code]

IMA Tag uri:

`https://pubads.g.doubleclick.net/gampad/ads?sz=640x360&iu=/37686362/VIDEO_PREROLL&gdfp_req=1&env=vp&output=xml_vast3&unviewed_position_start=1&url=tv.mycujoo.mycujooplayer.beta.debug&description_url=description&correlator=1522311797397&cust_params=competition_id%3

[2018-03-29 09:13] erdemguven commented on #4050
Unfortunately those are not possible.

Not ideal but one thing you can do is to delete the cached data for the first content you will play that way you can get a correct estimation. To delete DASH content you can use DashDownloader.remove method. It will remove the whole content. Unfortunately there isn't an easy way to just remove initial part.

Another solution might be increasing your initial b

[2018-03-29 09:27] tonihei commented on #4051
The internal playback loop checks each renderer whether it's either ready to play (that usually corresponds to having enough buffer) or ended (that is, the last sample has been rendered). If you want to check the code for debugging, this happens [here](https://github.com/google/ExoPlayer/blob/b6155d2e08580dc07cd249d6439beacd99ca08b2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlaye

[2018-03-29 11:44] zabirtech commented on #3443
Yes correct like that. Yeah keep me in the loop.

Den tor 29 mars 2018 05:49ram992 <notifications@github.com> skrev:

[2018-03-29 13:45] ojw28 commented on #3999
This file doesn't use the 3GP container. It's just an AMR file, which are not currently supported. Providing support is tracked by https://github.com/google/ExoPlayer/issues/2527.

[2018-03-29 13:45] #3999 closed, assigned to AquilesCanta

[2018-03-29 15:07] #3903 closed, assigned to andrewlewis

[2018-03-29 15:07] #3862 closed, assigned to andrewlewis

[2018-03-29 16:46] roundsmapp commented on #2659
@andrewlewis , I was able to effectively separate the channels. But the player has a weird behaviour. First of all, if I configure AudioProcessor (ChannelMappingAudioProcessor) with only 2 channels, I can isolate the left one, but not the right one.

If I configure it with 3 or more channels, then I can isolate both, making the audio come out from just one channel or from both.

Independently of t

[2018-03-29 16:49] andrewlewis commented on #2659
It's hard to say what's going on without seeing the code. Could you post it somewhere?

[2018-03-29 16:57] andrewlewis commented on #4042
I tried playing that ad tag in the demo app and got an empty response error from the IMA SDK: `AdError [errorType: LOAD, errorCode: AdErrorCode [name: VAST_EMPTY_RESPONSE, number: 1009], message: The VAST response document is empty.]`. ExoPlayer handles this error by resuming the content.

The error message about "Invalid internal message, ignoring." doesn't seem to be indicative of an actual issu

[2018-03-29 17:04] roundsmapp commented on #2659
@andrewlewis , Here you have it:

  public void queueInput(ByteBuffer inputBuffer) {
    int position = inputBuffer.position();
    int limit = inputBuffer.limit();
    int frameCount = (limit - position) / (2 * channelCount);
    int outputSize = frameCount * outputChannels.length * 2;
    if (buffer.capacity() < outputSize) {
      buffer = ByteBuffer.allocateDirect(outputSize).order(ByteOrder.n

[2018-03-29 17:59] cool-benson commented on #4051
Thanks for timely response, I'll try it out and update you. Thanks again!

[2018-03-29 18:54] Elyasin opened #4052 "Customizing the control view for Exo Player 2.7.1"
I find it difficult to read the documentation and to find related issues.

I am using ExoPlayer 2.7.1 in my app and I can run it. Now I wish to customize the control view like so:
[code]

I tried both options `exo_playback_control_view.xml` and `exo_player_control_view.xml` and it seems that the latter works. **But I do not see the shuffle button and I do not see repeat toggle button.**

I would l

[2018-03-29 19:46] giladna opened #4053 "HLS AES fails to play with java.io.IOException: Error while finalizing cipher"
hi @ojw28
We have HLS media which can be played on safari and mobile chrome
but on exo player 2.7.0 it fails to play with the below exception

This can be reproduced on demo app
one thing I noticed is that if I set the bitrate lo lower bitrate and select "Retry" it will play 20sec
while next ts's keep throwing exceptions
and stop playing afterwards

What can be the reason for that?

URL will be se

[2018-03-29 19:56] ojw28 commented on #4053
Link is a 404 for me. Perhaps it's geo-restricted?

[2018-03-29 19:57] keerthikorrapati commented on #3327
@tonihei  - This enhancement is already shipped right? Looks like we are using DefaultLoadControl to continue pre-buffering of the next period as well. Can you please let me know if this is what's happening :)

[2018-03-29 20:03] ojw28 commented on #3729
Fix will be in 2.7.2.

[2018-03-29 20:03] #3729 closed, assigned to erdemguven

[2018-03-29 20:10] ojw28 commented on #4046
Your code for manually enabling the subtitle is not sufficient. You're un-disabling the renderer and clearing the selection override, but unless you've previously disabled the renderer and/or set a selection override, you're not actually changing anything. You need to actually select the track you want. If you know the language you can do something like:
[code]
Alternatively you can set an explici

[2018-03-29 20:10] #4046 closed, assigned to tonihei

[2018-03-29 21:03] ojw28 commented on #900
I don't think we plan on fixing this. Servers should place a key-frame at (or at least near) the start of each segment.

[2018-03-29 21:03] #900 closed

[2018-03-29 21:04] #3514 closed, assigned to erdemguven

[2018-03-29 21:05] ojw28 commented on #3514
Fixed in 2.7.2.

[2018-03-29 21:10] #3913 closed, assigned to ojw28

[2018-03-29 21:11] #4037 closed, assigned to tonihei

[2018-03-29 21:25] ojw28 commented on #2635
This feature is available to try on our `dev-v2` branch. You can turn on silence skipping using playback parameters, like:
[code]

[2018-03-30 03:14] tangmingscau opened #4055 "Sniff FLAC files correctly if they have ID3 headers"
On my side, I have a FLAC music format music, which has a ID3 head on the head of the format signature, which leads to FlacExtractor.sniff judgment error. He thinks he is not FLAC music.

I will send this FLAC music to you by mailbox

[2018-03-30 05:49] pals-ric commented on #4036
can you help me to set the selected bitrate
this is my method to select the bitrate

     public void setSelectedBitrate(String resolution) {
        if (isOfflineMode)
            return;
        List<Format> videoFormats = HlsRendererBuilder.VideoFormats;

        if (videoFormats == null || videoFormats.size() <= 1)
            return;

        resolution = resolution.toLowerCase();
        int

[2018-03-30 05:54] giladna commented on #4027
Hi
This can happpen after OS upgrade
You can install DRM info app like Kaltura Device info from store to see the drm status on device

What I think will fix that issue is factory rest

[2018-03-30 06:15] vishal-i4gs opened #4056 "PlaybackNotificationManager: Allow option to hide play/pause icon (dev-2 branch)"
I would also like to say that it would also be good if we could also omit the “PLAY”/”PAUSE” icon from the notification since all the rest are being able to be removed by certain function calls it would be great if this could be done too. Since we might need a custom action bar which has actions arranged in a certain manner and pattern.

[code]
It doesn't seem to guarded by any boolean or int vari