[2019-03-20 11:10] huang122124 opened #5655 "SimpleExoPlayer.prepare(com.google.android.exoplayer2.source.MediaSource)' on a null object reference"
### [REQUIRED] Searched documentation and issues
null

### [REQUIRED] Question
when I init the  SimpleExoPlayer player.the method SimpleExoPlayer.prepare()  will  return a null
object reference.My uri has no problem,Whyyyyyyyy?

private void initPlayer() {
        if (player!=null) {
            player = ExoPlayerFactory.newSimpleInstance(
                    getActivity(), new DefaultRenderersFac

[2019-03-20 11:11] huang122124 commented on #5655
My ExoPlayer version is 2.9.3   Android 8.0    XiaoMi PAD 4

[2019-03-20 11:26] tipoc123 commented on #5647
Now it's working (through custom DataSource). You may close this ticket.

@AquilesCanta, thank you so much!

[2019-03-20 11:26] #5647 closed, assigned to AquilesCanta

[2019-03-20 11:57] michal-dcc opened #5656 "Multiple CC tracks support in DASH"
### [REQUIRED] Use case description
We want to be able to select any CC track defined in Accessibility tag.
See dash manifest: https://vm2.dashif.org/dash/vod/testpic_2s/cea608.mpd

We can only check if any CC track is present in the stream. ExoPlayer uses only the first one language track from "value" attribute of the tag which defines CC tracks (parseCea608AccessibilityChannel function).

The va

[2019-03-20 12:38] tonihei commented on #5655
You should probably check for `player==null` on the second line in your snippet.

But please be advised that we do not intent to give generic programming advice. Closing this issue for this reason.

[2019-03-20 12:38] #5655 closed, assigned to tonihei

[2019-03-20 12:46] huang122124 commented on #5655
Thank you

[2019-03-20 12:50] tonihei commented on #5652
That's possible using a `new CacheDataSourceFactory(new SimpleCache(fileDir, evictor), normalDataSource)` as the data source factory for your `MediaSource`. Please also have a look at similar questions on this issue tracker and other websites.

[2019-03-20 13:06] andresdiez commented on #5652
That work, thank you.

[2019-03-20 13:06] #5652 closed, assigned to tonihei

[2019-03-20 13:08] tipoc123 commented on #5487
Thanks!

[2019-03-20 13:08] #5487 closed, assigned to AquilesCanta

[2019-03-20 13:25] hakancoruhh opened #5657 "How can i play hdmi in video in Exo player?"
Question
I want to play hdmi in video in exo player but I don't right way

[2019-03-20 13:35] tonihei commented on #5657
Please have a look at the [Getting started guide](https://google.github.io/ExoPlayer/guide.html) for general guidance.

[2019-03-20 13:35] #5657 closed, assigned to tonihei

[2019-03-20 14:49] satyres opened #5658 "Exoplayer plays the ads from a radio and then stops"
Hi ,
this stream is working fine .
 **Radio Company Italyamo**
https://ice03.fluidstream.net/companyitalia.mp3
when you start it ,it plays the audio ads from the station and then stops
when you tap again it starts playing fine.
why the stream won't play after the ads.
Regards

[2019-03-20 15:13] tonihei commented on #5653
The provided stream plays perfectly fine in the demo app.

Without more detailed reproduction steps and an obfuscated stack trace, it's not possible to say what may have gone wrong in your case.

[2019-03-20 15:54] tonihei commented on #5638
The second stream indicates for some of its audio samples that these should not be decoded. ExoPlayer does not currently handle this flag correctly. After adding support for this, the track plays fine with the platform decoders.

However, I have the impression that was not even intended and the streams are still somewhat broken.

[2019-03-20 16:24] tonihei commented on #5656
@ojw28  Can you comment on how this is supposed to work and if and what we should do for such a manifest?

[2019-03-20 16:33] ghost commented on #4190
@erdemguven is it possible to make `spherical_view` programmatically or it's only possible in XML?

[2019-03-20 17:23] TroyStopera opened #5659 "Quick H.265 Clarification"
### [REQUIRED] Searched documentation and issues
I have searched the ExoPlayer docs as well as past issues. I may have found the answer I'm looking for, but I'd like clarification.

### [REQUIRED] Question
The official docs [list the numerous different container formats](https://google.github.io/ExoPlayer/supported-formats.html) supported by ExoPlayer. They also reference back to Android's [suppor

[2019-03-20 17:38] sravan1213 commented on #5640
@makazemi SimpleCache supports encryption.
`SimpleCache(File cacheDir, CacheEvictor evictor, byte[] secretKey, boolean encrypt)`
 Hope this is helpful

[2019-03-20 17:53] tonihei commented on #5658
There seem to be two issues here:

First issue is a bug in our implementation. It seems our recently added support for ICY metadata ignores that streams do not always start at position zero. The difference between the first and second iteration is that the first time we start at position zero and everything sounds fine. The second time, we do a seek back to position 0 which gets resolved to a non-

[2019-03-20 18:11] kaemanspk commented on #5638
Thank you. Please share what is the support/fix that you have added and how we can use it. This is a broadcast stream from Direct TV headend so we really need the fix.

[2019-03-20 20:46] AchibanaUkyo commented on #3561
The point is that why each time an adaptive switch between SD and HD will open a new DRM session while there is no session released. Even with multiSession=true this shouldn't happen as acquireSesssion will return existingSession if the switch happened once. This may need the SD and HD in same AdaptationSet. If the SD and HD are in different AdaptationSet then switch between SD and HD the session

[2019-03-21 03:30] mindfields5 commented on #5003
Perhaps you `re right. We reported problems to Amlogic.

[2019-03-21 04:23] hafiz013 commented on #5551
Don't close my case, how to check the the current window is the last one after enabling the shuffling mode?

[2019-03-21 07:09] star-andy opened #5660 "Support pausing at a frame-accurate position"
Hello, I have a question to consult
My English is not very good, please forgive me

I will be more MediaSource  add  ConcatenatingMediaSource ,
I want to listen CurrentWindowIndex to finish playing

[code]
I can't do it that way

[2019-03-21 08:02] zwonb opened #5661 "Execution failed for task ':app:transformClassesAndResourcesWithProguardForRelease'."
Warning: there were 1 unresolved references to program class members.
         Your input classes appear to be inconsistent.
         You may need to recompile the code.
         (http://proguard.sourceforge.net/manual/troubleshooting.html#unresolvedprogramclassmember)
Warning: Exception while processing task java.io.IOException: Please correct the above warnings first.
Thread(Tasks limiter_15): d

[2019-03-21 08:37] makazemi commented on #5640
@sravan1213  Thanks a lot my friend.

[2019-03-21 08:48] tonihei commented on #5551
You should be able the check if `player.getNextWindowIndex() == C.INDEX_UNSET`. As documented, this means that the current window is the last one.

[2019-03-21 08:51] tonihei commented on #5661
It's impossible to say what went wrong here. Please try what the error message suggests: run with --debug to get more log output. That should tell you what's wrong with the setup and how to fix it.

[2019-03-21 08:54] zwonb commented on #5661
It is a problem with my project.It is ok now! thx

[2019-03-21 08:54] #5661 closed, assigned to tonihei

[2019-03-21 09:32] yannqiu commented on #5078
I meet the same issue.
here is ANR log:
Build fingerprint: 'Xiaomi/kenzo/kenzo:6.0.1/MMB29M/V8.2.1.0.MHOCNDL:user/release-keys'
ABI: 'arm'
RedMi Note3

**"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 obj=0x73e746e8 self=0xf4805400
  | sysTid=25736 nice=-4 cgrp=default sched=0/0 handle=0xf74d6534
  | state=S schedstat=( 59422277189 14082905779 121050 ) utm=5097 stm=844 core=5 HZ=1

[2019-03-21 11:02] yannqiu opened #5662 "PlayerView in RecyclerView will case a pause when PlayerView slide out of RecyclerView in mi mix3 android 9.0"
I only encounter a problem in mi mix3 android 9.0.
I just set a PlayerView in RecyclerView. I do nothing in this playView, even I don't set a player for this playView. When PlayerView slide out of RecyclerView quickly, it will pause a little. I need you help for this question

[2019-03-21 11:14] #5662 closed, assigned to nobody

[2019-03-21 11:20] yannqiu opened #5663 "PlayerView in RecyclerView will case a pause when PlayerView slide out of RecyclerView in mi mix3 android 9.0"
### [REQUIRED] Issue description
I just set a PlayerView in RecyclerView. I do nothing in this playView, even I don't set a player for this playView. When PlayerView slide out of RecyclerView quickly, it will pause a little

### [REQUIRED] Reproduction steps
just set a PlayerView in RecyclerView .When PlayerView slide out of RecyclerView quickly, it will pause a little

### [REQUIRED] A full bug r

[2019-03-21 11:22] #5663 closed, assigned to nobody

[2019-03-21 11:27] yannqiu opened #5664 "PlayerView in RecyclerView will case a pause when PlayerView slide out of RecyclerView in mi mix3 android 9.0"
### [REQUIRED] Searched documentation and issues
I have searched the ExoPlayer docs https://google.github.io/ExoPlayer/guide.html as well as past issues, but I don't see an answer.

### [REQUIRED] Question
I only encounter a problem in mi mix3 android 9.0.
I just set a PlayerView in RecyclerView. I do nothing in this playView, even I don't set a player for this playView. When PlayerView slide out

[2019-03-21 12:45] tonihei commented on #5658
We are going to fix the first issue by disabling seeks entirely if ICY metadata is present, because they just don't together very well.

[2019-03-21 18:04] AfanasievAnton opened #5665 "Publish HLS media structure defined by EXT-DISCONTINUITY tags"
### [REQUIRED] Searched documentation and issues

https://github.com/google/ExoPlayer/issues/4983
https://github.com/google/ExoPlayer/issues/4176

### [REQUIRED] Question

We have an HLS SSAI stream with ads separated by #EXT-X-DISCONTINUITY tag. As part of our flow we should be able to play ads even if user seek behind the ad position. So basically when we detect that, we are doing basic seek adj

[2019-03-21 20:58] theboubougne opened #5666 "Allow to retrieving number of dropped frames / duration from the exoplayer instance when SkipSilence audio processor is used"
### [REQUIRED] Use case description
I'm currently using the Skip silence audio processor but I'm unable to retrieve the number of dropped frames from the exoplayer instance.
This would be a nice feature to provide stats and feedback to the user

### Proposed solution
Maybe adding a new callback in AnalyticsListener could be a solution

### Alternatives considered
Duplicating the Skip Silence Audio

[2019-03-21 21:30] andrewlewis commented on #5666
Just duplicating the `SilenceSkippingAudioProcessor` likely won't work because the player position needs to account for the skipped frame count. It should work to inject a `DefaultAudioProcessorChain` to `DefaultAudioSink` and access its skipped output frame count, but this is not very convenient as you need to know the audio format and the getter needs to be called on the playback thread.

[2019-03-21 21:39] andrewlewis commented on #5666
How would you envisage a listener callback for this would work? It seems it might make more sense to have this work via `DecoderCounters`, or in the same way. I'll mark this as a low priority enhancement for now as it's unlikely we will get round to it soon.

[2019-03-21 21:50] satyres commented on #5658
Thanks so much for taking time to explain and fix the issue
Best regards

[2019-03-22 03:19] SukritGupta17 opened #5667 "HLS: Chunkless Preparation breaks certain byte-ranged HLS content"
### Issue description

Testing byte-ranged HLS content(fMP4 or TS) with the chunkless preparation feature turned on, the player fails to initialise the content and throws a `player failed` error, To confirm that the content is valid and not the culprit here, we turned off chunkless preparation and re-ran the test, the content played as expected.

### Reproduction steps

- Get the ExoPlayer demo ap

[2019-03-22 03:47] yannqiu commented on #5664
I finally solve this question. like this

     <com.google.android.exoplayer2.ui.PlayerView
                android:id="@+id/playerView"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                app:surface_type="texture_view" />

[2019-03-22 03:47] #5664 closed, assigned to nobody

[2019-03-22 05:35] dennykurniawan48 commented on #5048
@marcbaechinger I have follow your instruction to my code, but it still doesn't work, is there any additional step for this? Thanks.

[2019-03-22 07:52] namespace7 opened #5668 "Removing None option in PickList AdaptiveTrackSelection"
Is it possible to remove None option from Picklist, Any hint will be appreciated ! Here is my code to fetch the supported bitrate from the URL?

    MappingTrackSelector.MappedTrackInfo mappedTrackInfo = selector.getCurrentMappedTrackInfo();
    if (mappedTrackInfo != null) {
        int rendererIndex = 0;
        int rendererType = mappedTrackInfo.getRendererType(rendererIndex);
        boolean a

[2019-03-22 09:05] tonihei commented on #5668
Having you tried removing the `setShowDisableOption(true)`? This statement enables the "None" option.

[2019-03-22 09:13] namespace7 commented on #5668
it does the job! thanks 🗡

[2019-03-22 09:13] #5668 closed, assigned to tonihei

[2019-03-22 11:03] AquilesCanta commented on #5667
This is a different instance of #5596, please track that issue for a fix. Thanks for the proper issue report!

[2019-03-22 11:03] #5667 closed, assigned to AquilesCanta

[2019-03-22 11:09] AquilesCanta commented on #5596
A short explanation to external readers:

The issue here is that the playlist parser is marking audio some EXT-X-MEDIA tags as multiplexed because they match one of the audio-only variants. Audio-only variants are discarded during preparation when there are also non-audio-only variants in the playlist. Audio-only among non-audio-only variants are discarded because ExoPlayer does not support disabl

[2019-03-22 12:31] roundsmapp commented on #4924
@andrewlewis Any news on this?

[2019-03-22 13:08] andrewlewis commented on #4924
It sounds a bit like the audio track is underrunning but you should see warnings output to logcat if that's happening.

Let's focus on the issue with playing the longer OGG file without looping, to keep things simple for now. Please could you send a bug report taken while reproducing the issue playing that stream with the unmodified ExoPlayer demo app? It may also be useful to have another bug rep

[2019-03-22 14:28] AchibanaUkyo commented on #4133
One improvement can be adaptive from different bitrate with different keys won't trigger request again if it happens once. currently seems every switch will acquire new session and release the previous session after draining the buffer. Maybe remove the first condition in MediaCodecRenderer
`boolean keepingCodec = false;
    if (pendingDrmSession == drmSession && codec != null) {` ?

[2019-03-22 18:10] JeanCarlosChavarriaHughes commented on #5088
I was able to reproduce a similar issue in   VERSION = "2.9.3";
 and can be the same root cause.

**Steps**
1. Open ExoPlayer Demo () in Google Pixel 3 XL Android 9, API 28.
2. Tap HLS.
3. Tap Download icon for Apple 4x3 basic stream .
[code]
_Actual:_
After 3 minutes, the Demo App fails with Fatal Exception.

_Expected:_
No fatal Exception. Video should play normally as it does for: Samsung SM-G9

[2019-03-22 20:08] arushdhiman opened #5669 "D/SurfaceUtils: disconnecting from surface 0x7632a22010"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. Information about the ExoPlayer
  demo app can

[2019-03-22 21:38] dennykurniawan48 commented on #5048
This is my custom action receiver class:
[code]

and this is my player notification manager:
[code]
when I click button notification in my logcat, it show :

but `onCustomAction` is not getting called, how do I fix this?, thanks.

[2019-03-23 02:47] Avijit-Bose opened #5670 "Android Architecture Framework connect to default android DB"
Could you please let me know how to connect, retrieve, update and delete data to android default database table like "ContactsContract.Contacts" using android architecture component using Room and Livedata.

Presently I am using getLoaderManager() with CursorLoader, which is deprecated. I want to update my working code with android architecture components and AndroidX.

A simple example will be ve

[2019-03-23 10:14] ojw28 commented on #5670
This has nothing to do with ExoPlayer.

[2019-03-23 10:14] #5670 closed, assigned to ojw28

[2019-03-23 10:32] szaboa commented on #5529
PR #5578 was merged in, probably this can be closed?

[2019-03-23 10:42] #5529 closed, assigned to ojw28

[2019-03-23 10:54] amiraelsayed opened #5671 "Subtitle language 'Und' when run on mag box"
hello,

I am building application for IPTV and I was able to add subtitles to my tracks, and it is working with no problem on tv box, the problem only happen when I run the application on mag box, it start to show the name of subtitle as Und

can anyone please advice on this problem ?

[2019-03-23 15:35] AchibanaUkyo commented on #3561
@ojw28 will the releaseDrmSessionIfUnused be configurable? this option can be used for this case. So adaptive bitrate won't trigger license request again if the session kept. This can be also used for the key rotation with time shift so seek across different keys won't need request again.

[2019-03-24 18:12] AndroidKiran commented on #4727
@tonihei me too facing the same issue. would be really helpful if this enhancement ticket is taken on priority or if there any good workaround then it will be much appreciated.

[2019-03-25 04:36] GavinQin opened #5672 "Decoder init failed: OMX.hisi.video.decoder.hevc"
com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.hisi.video.decoder.hevc, Format(0, null, null, video/hevc, null, -1, null, [7680, 4320, -1.0], [-1, -1])
        at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.maybeInitCodec(MediaCodecRenderer.java:479)
        at

[2019-03-25 06:57] PaulWoitaschek opened #5673 "media with id3v2.4 headers does not play"
### [REQUIRED] Content description
I have a bug report where a media file does not play when id3 v2.4 headers are set.

The original report is here:
https://github.com/PaulWoitaschek/Voice/issues/858
Problematic media is attached there too.

The error log is:
[code]

### [REQUIRED] Link to test content
https://github.com/PaulWoitaschek/Voice/issues/858#issuecomment-475019621

### [REQUIRED] Versio

[2019-03-25 07:38] zj614android opened #5674 "Unable to resolve dependency for ':extension-cast@debugUnitTest/compileClasspath': Could not resolve com.google.truth:truth:0.39."
My ENV：
Android Studio 3.2
Build #AI-181.5540.7.32.5014246, built on September 18, 2018
JRE: 1.8.0_152-release-1136-b06 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6

My Qa：
I followed the steps
[git clone ... & git checkout release-v2]
but android-studio allways report error like this
please help me...
↓

[code]

[2019-03-25 07:57] #5674 closed, assigned to ojw28

[2019-03-25 07:57] zj614android commented on #5674
my vpn was broken, it's ok now

[2019-03-25 08:34] Bartoloni commented on #5297
this is a valid solution :) thank you.

[2019-03-25 09:07] surcreak opened #5675 "MP4"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-03-25 09:09] surcreak opened #5676 "Huawei M3: MP4 can't play"
This the log：
[code]
Help me plase.

[2019-03-25 09:11] tonihei commented on #5660
You can listen to `onPositionDiscontinuity` and check if `player.getCurrentWindowIndex` changed in there.

[2019-03-25 09:12] tonihei commented on #5622
Closing the issue for issue for now because we received no further follow-up question.

[2019-03-25 09:12] #5622 closed, assigned to tonihei

[2019-03-25 09:13] tonihei commented on #5653
Closing due to lack of information. Feel free to reopen if you can provide more details.

[2019-03-25 09:13] #5653 closed, assigned to tonihei

[2019-03-25 09:14] tonihei commented on #5658
Closing the issue because the questions has been answered.

[2019-03-25 09:14] #5658 closed, assigned to tonihei

[2019-03-25 09:23] tonihei commented on #5659
That's correct, as long as the container format is supported and the device supports decoding of H.265 samples, ExoPlayer can play the stream.

The [ExoPlayer docs](https://google.github.io/ExoPlayer/supported-formats.html) also clearly divide between container and sample formats already. I think the linked [platform sample format support page ](https://developer.android.com/guide/topics/media/med

[2019-03-25 09:40] tonihei commented on #5665
Generally, we consider the entire playlist as one piece of media and thus do not publish the discontinuity tags in any way at the moment.

@AquilesCanta Ignoring the effort to implement it - Would it logically make sense to divide the HLS playlist along its discontinuity tags to create multiple periods similar to DASH? This would allow better playback customizations for cases like this.

@Afanasie

[2019-03-25 09:45] tonihei commented on #5669
Closing because none of the requested information in the issue template was provided.

[2019-03-25 09:45] #5669 closed, assigned to tonihei

[2019-03-25 10:16] AquilesCanta commented on #5088
Hi @JeanCarlosChavarriaHughes, please see #5103. What you report is most likely unrelated to the originally reported issue.

[2019-03-25 10:16] AquilesCanta commented on #5088
Closing due to inactivity.

[2019-03-25 10:16] #5088 closed, assigned to AquilesCanta

[2019-03-25 11:43] marcbaechinger commented on #5676
Can you please provide the information request by the issue template? We can't help you without the information asked for in the issue template.

You can find the issue template here: https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md

[2019-03-25 11:44] #5675 closed, assigned to marcbaechinger

[2019-03-25 11:53] ninodrop opened #5677 "REPEAT_MODE_ALL with DefaultHttpDataSourceFactory keeps downloading the video indefinitely"
### [REQUIRED] Searched documentation and issues
I had a look at the [docs](https://google.github.io/ExoPlayer/guide.html) and also at some [stackoverflow questions](https://stackoverflow.com/search?q=ExoPlayer+cache), but I couldn't find an answer.

### [REQUIRED] Question
I am using ExoPlayer to stream a video and I need to repeat the video indefinitely.
The code below is the one I used to set u

[2019-03-25 14:56] marcbaechinger commented on #5677
Yes, you are on the right track by using a CacheDataSource which caches the video when it plays the first time. Every further iteration can then get the data from the cache.

Using a CacheDataSource is explained in the recording of the ExoPlayer session of the last I/O. Starting from about minutes 26 it should give you an impression of how this works: https://youtu.be/svdq1BWl4r8?t=1560

[2019-03-25 14:59] simoneventurini opened #5678 "QVBR support"
[REQUIRED] Searched documentation and issues
I've looked for into the exoplayer [DOC](https://google.github.io/ExoPlayer/) but i've found nothing about it.
[REQUIRED] Question
I would like know if Exoplayer support Quality-Defined Variable Bitrate (QVBR)?

Thank you.

[2019-03-25 15:07] marcbaechinger commented on #5671
Can you please provide us with a bit more of information of what you actually did?

The issue template which has been removed does outline what information we need to be able to help you. The issue template can be found here: https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md

Please describe what you did and how it can be reproduced with the content links you provid

[2019-03-25 15:15] marcbaechinger commented on #5678
Can you provide us with a sample stream of content with such a QVBR? For what formats is such a QVBR applicable and how would this manifest in bit stream of the format which supports this? In general there are formats which do have a variable bit rate.

[2019-03-25 15:22] marcbaechinger commented on #5673
It fails when parsing the chapter ID3 frame. Like the stack trace says, the top bit is expected not to be set but it is set, which makes it fail. It's kind of easy to make the file play by not expecting an unsigned int but I think that would be a dirty hack.

It needs some further investigation to make sure it does the right thing.

[2019-03-25 15:52] PaulWoitaschek commented on #5673
So it's a bug in the application Mp3Tag?

It would be great if you could handle this bad media as people just expect my audiobook player to play stuff. Everyday I hear people saying

¯\\_(ツ)_/¯

[2019-03-25 16:30] marcbaechinger commented on #5673
It appears to me that there is an issue with the first subframe of the ID3 frame  "CHAP". It reads all the data including the frameid of the first subframe, but then it fails while trying to read the size. The size read after the ID3 frameid of the subframe is negative (see stack trace above), instead of a positive  size value. That doesn't look right.

The file Sie-reden-065b_id3v24_geht_auch_kom

[2019-03-25 16:35] marcbaechinger commented on #5673
Adding spec for later reference: http://id3.org/id3v2-chapters-1.0#sec3.1

Drive folder with test files: https://drive.google.com/corp/drive/folders/1b_PSabud_k9zzncwJtCGOhBY-EXngF_E

[2019-03-25 16:55] marcbaechinger commented on #5672
Given the stack trace this may be a codec issue or an issue with how the codec is configured. We would like to investigate but we need a stream url for this.

Can you provide us with a bug report and a stream url so we can try to reproduce this?

[2019-03-25 17:10] laurafuente opened #5679 "Problem with DASH + WV - Error decrypting data: requested key has not been loaded"
Hi,

### [REQUIRED] Issue description
I'm seeing problems trying to play a DASH + WV stream at exoplayer
When it plays the content during 3-5 minutes I get the following exception:
[code]
I have observed that at the same moment the exception is launched, a log trace is sent notifying that the decoder input format has been changed but the audio format that it's notified it's the same that the curre

[2019-03-25 17:52] kaemanspk commented on #5638
hello team, keenly awaiting your response.

[2019-03-25 18:25] AquilesCanta commented on #5665
Yep. We've discussed this in the past, but it has not been on our roadmap.

[2019-03-25 23:07] theboubougne opened #5680 "NoSuchElementExceptionat java.util.ArrayDeque.removeFirst"
Just released exoplayer in my app after 2 weeks of beta and I'm starting to see the following stack on Crahlytics
[code]
I have no idea how to reproduce it as users haven't contacted me yet
For now, only devices running Android 8 & 9  seems to be impacted

I'm using the latest version of ExoPlayer v2.9.6

[2019-03-25 23:25] theboubougne commented on #5680
As explained in the description this is all the information I have.
I'm getting this crash stacks from Crashlytics

[2019-03-26 00:09] whyvas commented on #5128
Apologies for the delay gents, here's the buildDataSourceFactory:

` private DataSource.Factory buildDataSourceFactory() {
        return new UdpDataSource.Factory() {
            @Override
            public DataSource createDataSource() {
                return new UdpDataSource(3000, 100000);
            }
        };
    }`

[2019-03-26 00:11] whyvas commented on #5128
I am down to about 200ms of latency now. If you're going over wifi, some routers have a very poor implementation of multicasting over wifi, keep that in mind. If you can control your encoder, setting a low GOP and a low TTL made a big difference for me.

[2019-03-26 05:19] star-andy commented on #5660
@tonihei  Thank you for your reply
I want to listen for each end, not the second beginning

[code]
When changing the source has become the next

[2019-03-26 05:34] kfrydel commented on #5656
Hi all,
http://reference.dashif.org/dash.js/v2.6.7/samples/dash-if-reference-player/index.html shows that both CC languages can be selected for the manifest: eng and swe and they are displayed fine.

[2019-03-26 07:33] giladna opened #5681 "Live DRM Playback fails on Pixel 3 and OnePlus Android 9"
Hi,

We have DRM stream which fails to display video frame only on Pixel 3 device Android 9
other DRM content plays on this Pixel 3 and the same content plays fine on other devices
We can see in logs (attached):

DrmLibHdcpSrm: Service_Initialize: Loading app failed, ret = -1

Do you have any idea for the reason it can happen?

10x
Gilad Nadav

[Black_screen_on_Pixel_3.txt](https://github.com/goog

[2019-03-26 09:04] tonihei commented on #5660
There is only one single moment in which playback changes from window index to the next. If you'd like to know the previous index, you could just save the current index to a variable and check if it changed in the `onPositionDiscontinuity` callback.

If you want to do something at a specific playback position, you can also try to send a message at a certain time like so: `player.createMessage((typ

[2019-03-26 09:21] star-andy commented on #5660
@tonihei   Send is an imprecise
 I want it to be when the current index play is done
[code]
It's going to stop after the last frame of index not the first frame of next index

[2019-03-26 09:26] ojw28 commented on #5656
We would need to add support for this in `DashMediaPeriod`.

In particular `identifyEmbeddedTracks` will need to use more than just a boolean to indicate whether a track has an embedded 608 track. `buildPrimaryAndEmbeddedTrackGroupInfos` will then need to build tracks for each of the embedded tracks, setting the format's `accessibilityChannel` to the correct value in each case. (e.g. 1 and 3 in th

[2019-03-26 09:32] rs146 opened #5682 "Show background image when FF and Rewind"
Hi,
I'm trying to find a way of showing a background HTTP image while the player is rewinding and fast-forwarding. I'm trying to use the `exo_simple_player_view.xml` and the `exo_artwork` ImageView. However this only appears at the start of playback. As soon as the player starts the `exo_artwork` is gone. Is there a way to make the `exo_artwork` appear again?

Or is there a way to show the last pl

[2019-03-26 09:40] tonihei commented on #5660
The message is imprecise because it's send on another thread.

I'll mark this as an enhancement to support sending precise messages which may block the playback thread while the message is handled. We do something like that in our testutils [here](https://github.com/google/ExoPlayer/blob/4bc79c9465abd00e29ff576c5f7a7517be632f5a/testutils/src/main/java/com/google/android/exoplayer2/testutil/Action.

[2019-03-26 10:13] ojw28 commented on #5673
+1 to enabling playback to proceed. We could do this by using `(int) readUnsignedInt()` to read the frame size instead of `readUnsignedIntToInt`, and return `null` if it's negative?

[2019-03-26 10:22] marcbaechinger commented on #5682
If the video renderer is enabled the artwork is hidden as soon as the player starts rendering. When the user seeks the last rendered frame is left on the surface and will be replaced by the next frame which is rendered. In between the surface is kept visible, so the user sees the last frame rendered.

The player view does not provide an API to hide/show the artwork. The behaviour follows an intern

[2019-03-26 10:31] marcbaechinger commented on #5681
Thanks for reporting.

This sounds like a problem with the codec on that specific device with a DRM feature which is specific to that stream.

If you want us to look into this more closely, please take a bug report right after this happened and attach it to this issue. If you have a test stream with which we can repro the issue this would be even better; just attach it here as well or send it to d

[2019-03-26 10:39] marcbaechinger commented on #5680
When looking at the [line of code where the issue happens](https://github.com/google/ExoPlayer/blob/8ec4aad001667674da679f37136bf986ab0e8493/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L717) it appears that this should not happen if access to the list of pending updates is thread-safe.

I actually assume that access is thread-safe in case that ExoPlayer is accessed

[2019-03-26 10:47] marcbaechinger commented on #5673
@ojw28 Yes, that's how I made it work when investigating. I wasn't sure at that point whether this is just a hack as we may need to know the size to parse/skip bytes.

[2019-03-26 11:02] ojw28 commented on #5673
Good point. It looks like other "bad data" cases further down that method skip to the end of the data by calling `id3Data.setPosition(id3Data.limit());`, to handle the fact that we no longer know where the next frame is.

So we should probably do the same. However, one nuance that you're probably alluding to is that when we're decoding a child frame (e.g. a frame nested inside a chapter frame), we

[2019-03-26 11:12] mansurrrr opened #5683 "Only audio is played without video"
Currently I'm using SimpleExoPlayer for VOD playback.

When `RenderersFactory.createRenderers` is used for
`SimpleExoPlayer.newSimpleInstance(Context context, RendererFactory factory, Trackselector trackselector)`
, only the audio is output without the video being displayed.

Use `DefaultRenderersFactory(Context context)` works normally.

### [REQUIRED] Question
To use `createMessage` for change s

[2019-03-26 11:17] tonihei commented on #5638
Please see the commit linked above for the fix. Closing the issue.

[2019-03-26 11:17] #5638 closed, assigned to tonihei

[2019-03-26 11:27] GavinQin commented on #5672
The stream url is http://182.138.27.252/8k/zstq/playlist.m3u8

[2019-03-26 11:27] GavinQin commented on #5672
the stream url is http://182.138.27.252/8k/zstq/playlist.m3u8.

[2019-03-26 11:38] marcbaechinger commented on #5683
I think I currently don't understand the reason why you want to use a custom RenderersFactory. Can you elaborate on what you try to achieve when you are saying: "use createMessage for change surface"?

The code snippet you are providing shows that you are using SimpleExoPlayer:

[code]

So when it comes to switching surfaces I would recommend to use the API of SimpleExoPlayer which allows you to s

[2019-03-26 12:25] PaulRutland opened #5684 "Handling of saiz box with no samples"
### [REQUIRED] Issue description
FragmentedMp4Extractor function parseSaiz() throws a ParserException if the 'saiz' sample count does not match the TrackFragment sample count.

ISO 14496-12 says that the number of samples "must be the same as, or less than" than the number of samples in the track. If the value is less than the number of samples, then "auxiliary information is supplied for the init

[2019-03-26 14:28] ninodrop commented on #5677
I tried a similar approach, but probably I set up the cache not correctly since only the first part of the video was cached.
I might have made a mistake with the size of the cache now that I think of it.

Generally speaking, how do I make sure that my video will be cached entirely and then no further downloads will be required? Is it enough to set up a cache with a max size big enough for my video

[2019-03-26 15:13] marcbaechinger commented on #5677
Yes, I'd say making sure that there is enough storage space available for the cache is sufficient in case you are sure that you only setup the cache for that given file (or you do play that single file only).

For the second question I think using the cache dir is the best option. When using the SimpleCache you can specify the directory when constructing the simple cache. It's plausible for me to

[2019-03-26 15:35] ninodrop commented on #5677
That makes totally sense and it works fine apparently.
I have to stream a few videos and it's no problem at all if the system clears the cache if/when needed, my only concern was on how to avoid multiple downloads of the same video.
You can mark the question as solved and thank you for your help.

[2019-03-26 15:38] marcbaechinger commented on #5672
Thanks!

The playlist has a single video track only which is 8k. If this was an adaptive stream with different resolutions available, the adaptive track selection would just not use that track. The device actually does not support that stream but ExoPlayer tries to play it regardless because it is the only stream in the playlist.

If you play the stream with the demo app you see that the track sel

[2019-03-26 17:34] moacir69 opened #5685 "Support of the full ISO/IEC 13818-1, section 2.4.3.6 spec (PES) in .ts segments"
### [REQUIRED] Searched documentation and issues
I have searched through the related issues, but I could not find a suitable answer

### [REQUIRED] Question
Is it possible to retrieve the data of the ECM PES packets when using .ts files? If not, is it because the support of the full ISO/IEC 13818-1, section 2.4.3.6 spec (PES) in .ts segments is not fully implemented? In ExoPlayer 2.9.6 it seems th

[2019-03-26 19:30] #5677 closed, assigned to marcbaechinger

[2019-03-26 19:36] fheidenreich commented on #5673
Not sure, if we're dealing with "bad data" here.

The test file which produces the reported exception is using the ID3v2.4 unsynchronization scheme (as indicated in the CHAP frame header flags). While `Id3Decoder` seems to support unsychronization, it fails to transform the data correctly.

In https://github.com/google/ExoPlayer/blob/4bc79c9465abd00e29ff576c5f7a7517be632f5a/library/core/src/main/j

[2019-03-26 21:03] thibseisel opened #5686 "ShuffleOrder is reset when set in ConcatenatingMediaSource"
### [REQUIRED] Use case description
When setting a `ShuffleOrder` in a `ConcatenatingMediaSource`, whether with the constructor or the `setShuffleOrder(ShuffleOrder)` function, that shuffle order is copied using `order.cloneAndClear()`.
This is problematic for my use case, because I want to start playback with a specific media (just like with issue #5426 ).

For example, let's consider a media lis

[2019-03-26 22:20] fredgc commented on #4329
We have been discussing this issue with Kyocera, but no conclusion yet.

[2019-03-26 22:31] fredgc commented on #4487
We have been continuing to work with QC on this issue as reported on the Pixel 2.  We are clarifying requirements for playing simultaneous encrypted streams.  For current releases of Android, we do not test picture-in-picture for two encrypted streams, so we don't have a high degree of confidence it will work on devices in the field.

[2019-03-26 22:34] marcbaechinger commented on #5686
Toni, can you please comment on this or whether this is a duplicate of #5426 for tracking?

[2019-03-26 22:35] marcbaechinger commented on #5685
Santiago, may I ask you to comment on this ts related question?

[2019-03-27 00:17] tfrysinger commented on #4551
Any updates here? @erdemguven, there is a comment in CacheDataSource.java that seems to indicate it is somehow possible to update the DataSpec passed into open():

[code]

Is it really possible to do this? How?

[2019-03-27 01:24] star-andy commented on #5660
Thank you very much
for trying to prepare one MediaSource per time in ````PlaybackState.STATE_ENDED:````
Reprepare MediaSource but there is currently a problem that there will be a lag between two prepare periods and I wonder if I can add a transition effect to add a better experience

[2019-03-27 01:32] marcbaechinger commented on #5673
Thanks bringing this up! It seems to me you are right. The offset needs to be taken into account in  removeUnsynchronization. For instance, when the getPosition is already advanced to a value larger than the length passed in, the for-loop is not entered at all.

I quickly tested adding the offset in the control expression of the loop and when calculating the length in arrayCopy inside the loop and

[2019-03-27 05:24] akurni opened #5687 "Video Freeze after looping for 1-2 days"
### [REQUIRED] Issue description
This bug is similar to #4559 and #3829, but this happens on exoplayer 2.9.6 and I tried to use FLAG_WORKAROUND_IGNORE_EDIT_LISTS and it still freezes after looping for a while

### [REQUIRED] Reproduction steps
loop the video for 1-2 days and the video will freeze

### [REQUIRED] Link to test content
https://www.dropbox.com/s/1m7117ls4v7x0cg/7e6caaa057bddaec2d2ea55

[2019-03-27 05:58] GavinQin commented on #5672
how can i solve it?
does exoplayer support 8k h265 video?

[2019-03-27 05:59] GavinQin commented on #5672
the vlc player on tv can play this stearm url.
how can i solve it?
does exoplayer can support 8k h265 video?

[2019-03-27 06:22] SumukhaK opened #5688 "DASH video resource 404 error"
Hi, I have a playlist of 7 dash(.mpd) videos. I'm using Exoplayer version 2.8.4. Exoplayer is stuck in loading for the last two of them and I'm getting the following error in my logs. Other 5 videos plays seamlessly. What could be the reason. Thanks in advance.

[code]

In my eventListner's  onPlayerError, this is the stackTrace of the error :

[code]

[2019-03-27 07:19] ummerakbar45 commented on #5447
@tonihei
on next button click why I am getting below two reason one after another :
reason = Player.DISCONTINUITY_REASON_SEEK
reason = Player.DISCONTINUITY_REASON_SEEK_ADJUSTMENT
reason = Player.DISCONTINUITY_REASON_SEEK

also when I seek,
reason = Player.DISCONTINUITY_REASON_SEEK
gets called.
Not sure where should how can I check track changed

[2019-03-27 08:33] akhilesh-hsc commented on #5447
@ummerakbar45
_**> Not sure where should how can I check track changed**_
When playback moves from one item to the next, EventListener.onPositionDiscontinuity will be called with reason = Player.DISCONTINUITY_REASON_PERIOD_TRANSITION
Query the player to determine which item in the playlist is now being played using:
Player.getCurrentWindowIndex and Player.getCurrentTag and the determine if the tra

[2019-03-27 08:41] thuantran opened #5689 "IMA force skippable"
### [REQUIRED] Searched documentation and issues
Hi there,
I'm using exoplayer-ima in our application. I have searched exoplayer documents, issues and FAQs and IMA respective documents but I haven't found a way to force the skip button in IMA overlay to appear.

### [REQUIRED] Question
So my question is:
1. Is there a way to force the skip button to appear for ads tag that does not have this enabl

[2019-03-27 09:22] thuantran commented on #5689
Issue edited

[2019-03-27 09:46] patelheggere opened #5690 "High Resolution video(2nd highest resolution ) is playing first when open and close and reopen video."
High Resolution video(2nd highest resolution ) is playing first when open and close and reopen video. that too in 2G network. It is happening sometimes not every time. can you please brief how exoplayer2 will be selecting video resolutions and on what basis it will change and how frequently and if it is based on bandwidth how it will be calculating.?

[2019-03-27 10:35] AquilesCanta commented on #5688
Hi @SumukhaK, the stack trace states it's a [404](https://en.wikipedia.org/wiki/HTTP_404) from the server. You should make sure that the URL you are providing to the player actually has a backing resource. If that's the case, then you should provide all elements required by the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-03-27 10:35] #5688 closed, assigned to AquilesCanta

[2019-03-27 10:48] AquilesCanta commented on #5685
Hi @moacir69, you can inject custom [TsPayloadReaders](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/extractor/ts/TsPayloadReader.html) through the [PayloadReader Factory](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/extractor/ts/TsPayloadReader.Factory.html) interface. You can then implement parsing in the app, so you should be ab

[2019-03-27 10:48] #5685 closed, assigned to AquilesCanta

[2019-03-27 11:10] laurafuente commented on #5679
Issue edited

[2019-03-27 11:18] marcbaechinger commented on #5690
The `DefaultBandwidthMeter` does listen to network transfers and roughly speaking calculates the bitmap estimate out of a sliding window of network traffic in the past.

Obviously, this can't be done accurately if your app has just started and the BandwidthMeter does not have past network traffic out of which the bitrate estimate is calculated. As you are keen on the abr functionality I think you'

[2019-03-27 11:23] moacir69 commented on #5685
Ok, thanks for the feedback.
Indeed a reader is being added to DefaultTsPayloadReaderFactory.createPayloadReader(), but when it is called inside PesReader.consume() only the header and extended header bytes are available, the payload bytes are filled with null bytes...

Moacir

[2019-03-27 11:35] marcbaechinger commented on #5689
Thanks for your question.

I'm actually not sure whether I can give you an answer here. While I could do that from a technical point of view, I think I should not comment on this just because I'm not entirely sure whether this is something which violates IMA policies.

For 1) I'm pretty sure that if an ad tag does not declare an ad to be skippable, then the ad must not be skipped by the user as pe

[2019-03-27 11:42] marcbaechinger commented on #5672
ExoPlayer would support this if the underlaying hardware is capable of decoding and rendering such a stream.

I think it's not the software but the device which is not capable. I would guess that VLC can't play this on the same device on which it fails with ExoPlayer. On an Android device VLC is either using the same hardware decoder as ExoPlayer or does decode/render in software. It would, in the

[2019-03-27 12:19] AfanasievAnton commented on #5665
Thank you for you reply. Just wondering how precise ```setPosition()```. I mean, is it possible to have a frame accurate message trigger?

[2019-03-27 12:46] SumukhaK commented on #5688
Yes, you are right, it was mistake from one of my team member and since I don't have the access to verify, I jumped to the wrong conclusion. Thank you.

[2019-03-27 13:10] ojw28 commented on #5689
I agree with that interpretation. If the ad isn't skippable, it shouldn't be skipped. If you only want skippable ads then you need to make sure that your ad campaign only contains skippable ads.

[2019-03-27 13:10] #5689 closed, assigned to marcbaechinger

[2019-03-27 13:10] thuantran commented on #5689
Hi Marc,

This is a request from our biz side, so I'm looking into the technical feasibility of it. But as you said, that explains why I couldn't find any document on it. Can you point me to the specific policy disallowing such practice, that would be helpful.

I will get back here after checking it with the team if it's legitimate usage.

Best regards,
Thuan

[2019-03-27 13:12] ojw28 commented on #5689
I agree with that interpretation. If the ad isn't skippable, it shouldn't be skipped. If you only want skippable ads then you need to make sure that your ad campaign only contains skippable ads.

I don't think that's the right way of looking at it. Common sense would suggest that it's not OK to skip a non-skippable ad, so that should be the default understanding unless you can find a specific poli

[2019-03-27 13:18] thuantran commented on #5689
That's what I told the biz side as well. But any public document would be better evidence to the issue at hand and appreciated. Can you point me to any?

[2019-03-27 13:22] ojw28 commented on #5689
Nope, sorry. If your biz side wants only skippable ads, it seems fairly obvious they can and should make sure their ad campaign contains only skippable ads?

Why would it be OK to take an advertiser's ad that they haven't designed to be skippable, and unilaterally decide to make it skippable? It's pretty obviously not the right thing to do.

[2019-03-27 13:28] thuantran commented on #5689
The problem is they can't because we got ads tag from a partner, which might or might not send us skippable ads.

Our management find it user alienating to have long non-skippable ads. For now they haven't been able to work it out with our partner thus forcing the tech team to find a solution.

As I said if there's a document for that it would be easier to tell the biz team to find alternative app

[2019-03-27 13:43] ojw28 commented on #5689
Your management shouldn't be trying to unilaterally ignore the wishes of the ads being served via the partner. I'd suggest you point your management to this thread.

[2019-03-27 14:45] userdimi opened #5691 "Need help to setup pssh box for play Widevine DASH on Android 5.x"
### [REQUIRED] Content description
The player crashes by playing Widevine DASH DRM content on Android 5.x. The same issue was already discussed  here. https://github.com/google/ExoPlayer/issues/4404. I understand the issue complete but I need help to setup the pssh box correct. Can you please help me with this issue?
### [REQUIRED] Link to test content
A link to the test content was send to dev.ex

[2019-03-27 14:57] Tramnguyen108 opened #5692 "ClippingMediaSource in Multiple Player not play correctly"
Hello,
### Content description
I have a list to play and don't wanna have any gapless so I decided to use multiple ExoPlayer to load upcoming items.
My demo have 2 exoPlayer. Everything's ok until I try to use ClippingMediaSource to play a range in item. If second item state is Player.STATE_READY when click next, it just have audio without video, it just show video when click play button on contro

[2019-03-27 15:16] marcbaechinger commented on #5679
Thanks @laurafuente ! We are looking into this. Many thanks for your patience.

[2019-03-27 15:55] kaemanspk opened #5693 "Video freezes when exoplayer encounter the “Audio discontinuity” issue"
### Issue description
We are playing UDP (TS) stream from the head end. Video freezes (sometime after Freeze it continues to play) when exoplayer encounters the “Audio discontinuity detected” issue.
Also noticed while Audio format (audio channel 6 to 2) change happens in the stream same behavior happens Video freezes sometime continue to play after some time.
This behavior happens in Amlogic 905X2

[2019-03-27 16:16] marcbaechinger commented on #5692
May I kindly ask to [create a bug report](https://developer.android.com/studio/debug/bug-report) right after you are observing the problem? Without this it's very hard for us to investigate the problem.

In general using two players at the same time requires that the device is capable of providing multiple codec instances. I don't know whether the ASUS_Z002 device can do this. If it can't you woul

[2019-03-27 16:39] thedomi commented on #2083
@tonihei do you have an update regarding the experiment? Has it been planned, executed, discarded?

Thank you!

[2019-03-27 17:26] Tramnguyen108 commented on #5692
Thanks for your quick response. Is this what you need? @marcbaechinger
[https://drive.google.com/file/d/1bO_JpfYp3b-HYCs46C4Q0yN6ic7Jwf4U/view?usp=sharing](url)
[https://drive.google.com/file/d/1saUpDpMsu4xbGA36T03E0C1qkb2IqGYK/view?usp=sharing](url)

[2019-03-27 17:44] marcbaechinger commented on #5691
From what I understand from the issue you referenced, reading the specs (I don't have experience with packaging myself) and the pssh box parsing code, I see that the error

[code]
is thrown because the flags of the full box header (bytes 9-12) is not zero.

[According to the spec](https://w3c.github.io/encrypted-media/format-registry/initdata/cenc.html#common-system) the first 12 bytes should be s

[2019-03-27 18:22] gemiren opened #5694 "Can not play the mp4 video (Mp4Extractor can't parse FullBox meta atoms)"
Using the latest v2.9.6. Trying to play this video (https://wdrmedien-a.akamaihd.net/medp/podcast/weltweit/fsk0/188/1884161/quarks_2019-03-26_sommeroderwinterzeitwarumunszeitumstellungensostressen_wdr.mp4) gives this error:
[code]
The same video plays well in VLC player.

[2019-03-27 19:20] rs146 commented on #5682
Thanks for the reply. I have found a way to create my own ImageView behind the player.
However, I would like to do the following:
- When the FF/rewind occurs, grab current bitmap of the player at that moment.
- Add the bitmap to the background Image view.

I was thinking of something like this, but I get a black background still:

[code]
This is my `getBitmap()`:
[code]
I wonder if there is someth

[2019-03-27 20:59] szaboa commented on #5633
Can someone have a look on this please?

[2019-03-27 21:10] marcbaechinger commented on #5684
Can you please comment on this, Olly?

[2019-03-27 23:09] ojw28 commented on #5684
It looks like our code is assuming that the auxiliary information referenced by the `saiz` is encryption information, for which it probably doesn't make sense for there to be fewer samples than the number of samples in the track.

From the spec it looks like it would be valid to have `saiz` atoms referencing arbitrary auxiliary information. So we should probably be checking the auxiliary informati

[2019-03-27 23:21] ojw28 commented on #4551
There is no easy way to set the flag for progressive playbacks (i.e. playbacks that use `ExtractorMediaSource`). Hence why this is marked as an enhancement. As per the original post by @ZumiKua in this issue, it is possible to set the flag. It's just not particularly convenient.

I'm somewhat curious as to what the actual use case is for needing to set the flag. If the content length cannot be res

[2019-03-28 00:02] marcbaechinger commented on #5682
I'm a little confused now. :) Isn't this what you would expect the player is doing?

When seeking (ffwd/rewind) starts, the last frame rendered is still on the surface. As soon as seek ends, the player renders the first frame of the new playback position to the surface. So from what I understand that's what you are rebuilding with the approach of the background image. Are you seeing a different be

[2019-03-28 00:56] marcbaechinger commented on #5692
Thanks for sending this over. I can't find something which indicates codec issues. The logs do not tell much, besides that two instance of the player have been created, like you code suggests.

I'd recommend to use the [EventLogger](https://github.com/google/ExoPlayer/blob/afba6386d333b993777ba74a81d7d8c9d2f808f7/library/core/src/main/java/com/google/android/exoplayer2/util/EventLogger.java) which

[2019-03-28 02:22] SukritGupta17 opened #5695 "HLS: Multiple duplicate initialisation segment download for HLS fMP4 content"
### [REQUIRED] Issue description
ExoPlayer version 2.9.6, with HLS fMP4 content playback, the player makes a request and downloads the initialisation segment every time before downloading a new segment even if the initialisation segment is common for every segment of that particular quality. In contrast, with the previous ExoPlayer version tested (version 2.7.3), the initialisation segment is only

[2019-03-28 05:42] rantianhua opened #5696 "Local video playback stuck in buffering"
### [REQUIRED] Issue description
Play a mp4 local video, but there isn't any audio and video is shown. I have seen the log we collected and it showed that ExoPlayer got stuck in buffering state all the time. If play the video with a ass format subtitle file, this problem would arise more frequently.

### [REQUIRED] Reproduction steps
Sorry, our users met this problem, but I cannot reproduce it. I

[2019-03-28 06:21] thesquare12 commented on #5289
I would appreciate if you share how you implement this.

[2019-03-28 08:30] DasJhaman opened #5697 "Update video url on player screen"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-03-28 08:31] kushalgupta0565 commented on #5649
I tested the same media file on 11 devices and concluded that it is the issue with Amlogic S905X2, S905W and T968 CPU, as the same media is working fine on Rockchip RK3399 & MediaTek MT6737M CPU.

[2019-03-28 08:37] AnjliPatel commented on #5219
@Mrudulamrudu25
its resource release problem,
Codecs are shared resources on a device.  it may be that some resources are not yet completely freed.
if you are using exoplayer or mediaplayer, please check it should be correctly released after used.
I faced the same issue,  but I have correctly released after used and it works well.

[2019-03-28 09:09] moacir69 commented on #5685
For the same PID, the PES related TS packets with 'payload_unit_start_indicator' with value 0 were not being handled and the missing bytes could be found in there.
Thanks,

Moacir

[2019-03-28 09:13] tonihei commented on #2083
@thedomi As pointed out in the previous post, we are likely to change our defaults. Not done in code yet though. We'll keep this issue posted with updates as soon as we have them.

[2019-03-28 09:18] tonihei commented on #5665
It's not frame precise at the moment because it just sends a Handler message to another thread while playback is continuing. The enhancement to block playback until the message has been handled is tracked by #5660. It seems such an option would be helpful for cases like this where the message pauses, stops or seeks the player and the short blocking of playback is intentional.

I'll use this issue

[2019-03-28 09:22] surcreak commented on #5676
[REQUIRED] Content description
Play sound, but no video.

[REQUIRED] Link to test content
Send email to dev.exoplayer@gmail.com.

[REQUIRED] Version of ExoPlayer being used
Version is 2.9.6.

[REQUIRED] Device(s) and version(s) of Android being used
Huawei M3青春版. android version 7.0.

thank you.

[2019-03-28 09:46] tonihei commented on #5686
That's unrelated to #5426 I think. But it's a duplicate of #4915.
Basically, we currently don't keep the shuffle order as it is as long as the media source is not prepared.

@thibseisel What you could potentially do as a workaround for now is to start playback at the intended start index (`player.seekToDefaultPosition(/*windowIndex*/ 2);` and `player.prepare(concatSources, /* resetPosition*/ false

[2019-03-28 10:18] AquilesCanta commented on #5685
I can't help with this information. If you think there is an ExoPlayer bug, please follow the normal approach.

[2019-03-28 10:29] AquilesCanta commented on #5695
Hi @SukritGupta17, could you please try the dev-branch? This issue should be fixed by [this commit](https://github.com/google/ExoPlayer/commit/0ceff589b33992a98db0e439b24aea75f772e6ef). It will be available in the 2.10 release. Thanks for the finely crafted issue report!

[2019-03-28 10:29] marcbaechinger commented on #5694
Thanks for reporting.

As far as I see, there are 4 extra zero bytes right after the meta atom header. These 4 bytes are then interpreted as the length of the following hdlr atom. A size of zero would indicate that the atom has a length until the end of the file.

6d 65 6c 72   // ''meta'
00 00 00 00   // <--- unexpected zeros interpreted as size of the next atom
00 00 00 21  // size=33
68 64 6c 7

[2019-03-28 10:43] marcbaechinger commented on #5697
If you want to play another video with the same player instance you need to prepare it again. Please read about [preparing the player](https://google.github.io/ExoPlayer/guide.html#preparing-the-player) in the developer guide.

If you want to play two videos in a row and provide the user with a skip to next/previous button on the controls, you can use a playlist with a ConcatenatingMediaSource. Th

[2019-03-28 10:50] asaadaa opened #5698 "Mp4 video is not playing on demo app after a specific commit "a568fbdd5" with message "Parse frame rate from "mdta" metadata""
### [REQUIRED] Content description
this video url "https://video.euronews.com/mp4/med/EN/NW/SU/19/03/27/ar/190327_NWSU_7158954_7158958_95960_130739_ar.mp4"
is not working on demo app with exoplayer update earlier than 2.9.3, after checking out your git repo commits, I found that the issue happens with this commit "a568fbdd5" with message "Parse frame rate from "mdta" metadata"

### [REQUIRED] Link

[2019-03-28 10:52] AquilesCanta commented on #5627
The easiest way I can think of implementing the provision of the error's response body is including it in the InvalidResponseCodeException. However, it's probably not ideal to block until we read the response body, before we throw the exception. So, we might also want to add a per-implementation flag that enables populating the response body for this case.

@JonathanImperato, I see slim chances of

[2019-03-28 10:55] AquilesCanta commented on #5633
@szaboa, have you shared a stream with us? We will need sample media before we look into this. If you think the solution is straightforward, you might want to send a pull request directly: But most likely, we will still need a sample stream.

[2019-03-28 11:26] DasJhaman commented on #5697
Thanks marc, it worked like charm !

[2019-03-28 11:31] marcbaechinger commented on #5696
Thanks for sending the video and the subtitle file. I tested this with the demo application and it works fine. The video plays and after I have selected the subtitle track the video plays with the subtitles as expected:

![cat](https://user-images.githubusercontent.com/584321/55153865-62977180-514b-11e9-9e02-de56efd9e769.png)

In your code, you are using this expression for the uri: `Uri.parse("fi

[2019-03-28 12:12] #5697 closed, assigned to marcbaechinger

[2019-03-28 13:03] DasJhaman opened #5699 "IMA Extension capture click on Ad"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-03-28 13:34] rantianhua commented on #5696
The video and subtitle file are downloaded from network, so I cannot put the files into asset. The problem presents occasionally and I cannot reproduce it too, that's the worst part.

I am sure that the files exit, otherwise I will find `FileNotFoundException`, but there is not any error message and the player gets stuck in buffering state.

[2019-03-28 14:17] szaboa commented on #5633
I will try to get a sample stream as soon as I can.

Actually, I was who implemented the support for image based subtitles (smpte-tt) and I didn't pay enough attention to this use case. That's why I proposed the fix.

[2019-03-28 14:18] szaboa commented on #5633
Sorry, accidentally closed the issue, miss click :)

[2019-03-28 14:20] thedomi commented on #2083
Thanks @tonihei for the prompt reply.

I'm also curious whether you've done any experiments, what are the results, how did you reach to the new default values.

[2019-03-28 14:50] marcbaechinger commented on #5696
You've named this issue "Local video playback stuck in buffering", used a file:// uri and you sent us two files so it was looking like you were referring to local playback.

However, those files play when read from local storage which is usually a good test to see whether it works without the need to care around network issues.

The intermittent behavior you are describing actually indicates that

[2019-03-28 15:39] marcbaechinger commented on #5676
The video you sent plays fine on two different devices I tested with, one with Lollipop and on with Pie. So this seems to be a device specific codec issue.

In the stack trace I find

OMX_COMPONENT_GENERATE_HARDWARE_ERROR or
"codec does not support config operating rate (err -2147483648)"

which seems to come from the codec implementation provided by the device.

[2019-03-28 16:32] marcbaechinger commented on #5679
Thanks for your patience, @laurafuente! I looked into the stream you sent us by email.

It appears to me that this is a live stream which required key rotation. So the error message you've seen complaining about the key not having been loaded may happen at the moment key rotation is requested.

I then added the drm_multi_session attribute. With this it apparently loads the keys which were missing

[2019-03-28 16:56] gemiren commented on #5694
Thanks for looking into the problem. Yes, I agree the file isn't encoded correctly. However, I don't know how the file is created. Actually this encoding issue currently presents in almost all the video podcasts produced by the WDR (the largest media company in Germany). So this is not just a couple of files affected.

Regarding the wrong size info itself, not sure how VLC handles that but the fac

[2019-03-28 17:46] banic commented on #5128
@whyvas
I also have the same problem with latency. Actually, video latency is about 2 seconds, but audio start
immediately, before video.
How you solve latency problem? Thanks.

[2019-03-28 17:54] marcbaechinger commented on #5694
Thanks, that makes sense. It could be avoided while parsing by making sure that a subatom does not have a size bigger than the parent atom size. This would work for the given case of the meta atom. I guess this could be the way how VLC and other players are doing it.

We will discuss internally how to proceed.

<-- start personal opinion: this does not express any other opinion than mine. :)  --

[2019-03-28 19:14] alexeyr15 opened #5700 "Video freeze"
### [REQUIRED] Content description
Video freezes in the demo app after several minutes of playback some live streams. Sometimes it can take longer to reproduce the issue but usually freezing happens after 7-10 minutes of playback.

### [REQUIRED] Link to test content
Provided by email.

### [REQUIRED] Version of ExoPlayer being used
2.9.6

### [REQUIRED] Device(s) and version(s) of Android being u

[2019-03-28 19:45] marcbaechinger commented on #5700
Thanks, we received your email.

Do you see this on Nvidia Shield only? Like can we test/repro on other devices as well?

[2019-03-28 21:44] marcbaechinger commented on #5699
I think this could be difficult because as far as I know, the IMA library is using a webview to overlay the video. So these events may be consumed by the webview and not enter Android at all.

I don't know exactly your use case, but I think you would find listening to `AdEvent`s useful, which are fired by the IMA library. I quickly checked and there is an [AdEventType.CLICKED](https://developers.g

[2019-03-28 21:46] #5699 closed, assigned to marcbaechinger

[2019-03-28 23:59] ojw28 commented on #5694
I'm not convinced the media is broken. I think the problem might be that ISO 14496-12 and Apple's QuickTime specification define the MetaBox differently:

1. In Apple's [QuickTime specification](https://developer.apple.com/library/archive/documentation/QuickTime/QTFF/Metadata/Metadata.html#//apple_ref/doc/uid/TP40000939-CH1-SW9), the MetaBox is a regular Box.
1. In ISO 14496-12, MetaBox extends Fu

[2019-03-29 02:20] imcloud opened #5701 "onPlayerStateChanged is only called once in other Looper"
### [REQUIRED] Issue description
I am running exoplayer in single thread and I find that the onPlayerStateChanged will only be called once, and state is 2(buffering).
<img width="761" alt="屏幕快照 2019-03-29 10 19 20" src="https://user-images.githubusercontent.com/7680469/55205030-27a94280-520c-11e9-8c52-38618afde774.png">

### [REQUIRED] Reproduction steps
[code]

### [REQUIRED] Link to test content

[2019-03-29 04:33] alexeyr15 commented on #5700
It is hard to say if this issue is device specific or not. I have reports from users of my app that this happens on other devices too. I have tried to reproduce it on Mi Box but there was no freeze during 30 min of playback. Then I opened the demo app with this stream on Shield and have seen the video freeze again after several minutes. So I think it would be better to try to reporduce this issue

[2019-03-29 07:18] ummerakbar45 opened #5702 "Buffer issue in HLS format videos"
### [REQUIRED] Content description
We have Video App implemented for different platforms like Roku, ioS, FireTv, and Android.
In Android, we are using Exo Player and our Media content is of HLS format.
In Android, we are facing a buffer issue.
The issue is not in Content because other platform uses the same content.

### [REQUIRED] Link to test content
[code]
Hls media source

[code]

### [REQUIRE

[2019-03-29 10:13] ItsRay opened #5703 "Video lags wen playing video in 2.0 speed"
### [REQUIRED] Issue description
I played a HLS video in 1.0 speed and it acts normally. But when I played the same video in `2.0 speed`, the the playback position is not growing in 2.0 speed , and it seems some frames were dropped.
I expect this videos were played without frame dropped and the playback position is growing in 2.0 speed.
This happens on many devices when I use my project to play a

[2019-03-29 10:39] rantianhua commented on #5696
This is totally local playback. I download files to local storage and then play it locally, so it's not about network. Is it possible that there are some known buffering issues that will cause this case?

[2019-03-29 10:43] rantianhua commented on #5696
This is a really confused problem and I'm intent to read buffering relevant code carefully, hope to have some usefully discoveries.

[2019-03-29 11:32] marcbaechinger commented on #5701
Thanks for your report.

Can you be a little bit more specific in what your expectation is and what actually happened? Please describe what you did and what happened an how this differs from your expectation.

I'm not quite sure what the Completable is and how it works. I can't really advise on how to integrate with RxAndroid or similar. In general I'd recommend to simply make sure you create the

[2019-03-29 12:08] marcbaechinger commented on #5702
Thanks for your report.

Can you please provide us with a url for both the HLS stream and the subrip file which you want to merge? We need this for testing. It may well be that your content is correct but we are having a problem with a specific aspect of the content which we haven't seen yet. So for looking into this, it would be of great value to have the same content as you. You can send it to d

[2019-03-29 12:23] marcbaechinger commented on #5696
Ok, cool. I'm not aware of buffering problems when reading from local files. As mentioned above, I tried this out with your sample files and it worked as expected.

I don't want to discourage you in reading our 'buffering relevant code'. Please let us know in case you find something. I'd, however, first try to reproduce the problem on a device you are having. If it's still true that you only have

[2019-03-29 12:41] PriyankaThakkar612 commented on #2092
Please add support for .avi extractor. We would love to see that.

[2019-03-29 12:48] #5695 closed, assigned to AquilesCanta

[2019-03-29 13:10] ojw28 commented on #5698
Duplicate of https://github.com/google/ExoPlayer/issues/5694.

[2019-03-29 13:10] #5698 closed, assigned to marcbaechinger

[2019-03-29 13:31] ojw28 commented on #5613
Thanks for reporting.

[2019-03-29 13:31] #5613 closed, assigned to nobody

[2019-03-29 13:40] tonihei commented on #5645
Thanks for the provided information. I was able to reproduce the problem and can see what is happening now.

The manifest updates change the order of the representations in the adaptation set. ExoPlayer assumes that the representations stay in the same order which is also what the DASH-IF interoperability guidelines will suggest in the next version (see [here](https://github.com/Dash-Industry-Foru

[2019-03-29 14:24] ojw28 commented on #5645
IIRC it's going to be mandatory for DASH-IF interoperability, not just a suggestion.

[2019-03-29 16:45] catbaxter commented on #5700
Can confirm that after the version 2.9.1 I have system crashes on Nvidia Shield TV and freeyes on MiBox 3

[2019-03-29 17:13] marcbaechinger commented on #5700
Thanks both! I'll check on a Shield then.

@catbaxter You are seeing issues starting from 2.9.2 (equals and greater), right?

[2019-03-29 17:26] kvillnv opened #5704 "MediaDrmCallback for offline content (widevine) - official documentation request"
Hello,
I noticed there is no official documentation or sample showing how to implement a MediaDrmCallback without HttpDataSource using a offlineLicenseKeySetId for a Widevine protected content.
Could you please share an example or give guidelines?
(Conditions: device not connected to internet, player uses CacheMediaSource)

This is not an issue, but just an information request.
Our own implementat

[2019-03-29 18:35] tipoc123 opened #5705 "Some ts files are not playing"
### [REQUIRED] Content description
I'm using ExoPlayer demo app. I have 6 files, 3 files are playable, other 3 files are not playable.

**Non playable (i.e. FAILURE):**
DISCOVERY_CIVILIZATION_HD.ts
HOME_AND_HEALTH_HD.ts
TVN_HD.ts

**Playable (i.e. SUCCESS):**
DISCOVERY_KIDS_HD.ts
ESPN_2_HD.ts
FOX_SPORTS_2_HD.ts

Info from ffmpeg's output:
[code]

Logcat's output for non-playable content something

[2019-03-29 18:45] tipoc123 commented on #5705
As you can see I even use necessary TS flags according to your FAQ:
[code]

[2019-03-29 18:53] catbaxter commented on #5700
Yes, after 2.9.1 users complain that threre are all lot of system crashes wihout any details in logcat

[2019-03-29 21:00] amiraelsayed commented on #5671
This is my method

[code]

you can see that I set the subtitle name here "subtitles.get(i).getName()" , it works pefect but on this device "MAG260" the subtitle name appear as "Und"

can you please help ?

[2019-03-29 21:38] amozoss commented on #5627
Not ideal, but if you can have the server return the error in a header, you can get the error message that way. I have a custom header called `X-Client-Error`, which I am able to access.
[code]

[2019-03-29 22:16] tipoc123 commented on #5705
Streams marked as Unknown:
[code]

[2019-03-30 04:58] imvikasrai opened #5706 "I m getting this exception com.google.android.exoplayer2.util.Assertions.checkNotEmpty"
### [REQUIRED] Link to test content

https://drive.google.com/file/d/17cWyHBC2erYdgUXtLIF4S7yKi7Z3Bc1X/view?usp=sharing

### [REQUIRED] Issue description
I m getting  Internal runtime error.
    java.lang.IllegalArgumentException
        at com.google.android.exoplayer2.util.Assertions.checkNotEmpty in one project and in other version its working fine while the code and library version is same.

#

[2019-03-30 05:15] imvikasrai commented on #5706
One thing is missing the ### [REQUIRED] Link to test content .I m not able to attach the video here. This issue happens with every video

[2019-03-30 06:03] surcreak commented on #5676
"Huawei M3青春版" don't support hard decodeing, can set to soft decode?
Thank you very much!

[2019-03-30 07:24] JonathanImperato commented on #5627
Yes, it is what I am doing right now, but instead of a string I pass a serialized json.

[2019-03-30 09:37] imvikasrai commented on #5706
I added the  video link for testing below  ### [REQUIRED] Link to test content

[2019-03-30 09:44] oleksandr-yefremov commented on #5645
Ahh, now it all makes sense! I had a feeling that it could be related to manifest updates, but did not check whether current track is determined by index or by id. Looks like Bitmovin and Shaka use id and that's why there is no issue.
Yes, we will make sure that order of tracks is maintained across updates, especially if that will be mandatory in future.
Thank you for support! I'm closing the tick

[2019-03-30 09:44] #5645 closed, assigned to tonihei

[2019-03-30 10:31] banic commented on #4963
I also have a problem with build, with this error(same as above, but for linux ubuntu):

home/android-ndk-r15c/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-gcc is unable to create an executable file.
C compiler test failed.

I tried with NDK versions 15c and 14b and it's always the same problem.

@andrewlewis Can you help? Thanks!

[2019-03-30 12:15] marcbaechinger commented on #5706
There is an assertion which triggered an` java.lang.IllegalArgumentException` in the constructor of DefaultHttpDataSource on line 148. Have you checked why the assertion is throwing on that line?

[code]

In case you find that there is an illegal argument passed to the constructor, check what you pass to the constructor. You could set a break point to this line in your IDE and then see whats comin

[2019-03-30 12:41] marcbaechinger commented on #5671
It's hard to help given the information you provide.  The code looks okay-ish.

"Und" means 'Undefined' and revers to the language of the subtitle more than being its name. I understand that displaying the subtitle works, but the language is undefined.

I wonder what is the return value of subtitles.get(i).getName() when you pass it to create the textFormat:

[code]

Can you check what it returns

[2019-03-30 18:20] amiraelsayed commented on #5671
my subtitle object is fine, and it is workinh perfect when I use emulator or use TV box, this problem only happen when I use the Mag

[2019-03-31 15:47] bryandunbar commented on #3750
@andrewlewis Saw your comment from February that you guys were planning time around this, have you guys made any definitive plans on implementation?

[2019-03-31 20:13] ojw28 commented on #5701
I see two state changes when I play this sample in the demo app. This suggests to me that this is an issue with application code, which is outside the scope of this issue tracker.

I don't fully understand the code above, but calling `Looper.prepare` inside subscribe looks pretty weird. Is that turning a thread you don't necessarily own into a `Looper` thread, because if so then I don't think you

[2019-03-31 20:13] #5701 closed, assigned to marcbaechinger

[2019-03-31 20:24] ojw28 commented on #5627
Pretty much all apps that I've seen will include the strings (and translations) as resources inside the app. I don't understand why it would be particularly important to enable these messages to be changed on the server side. Typically an error code has a well defined meaning, and the strings inside the app will reflect that. I understand that the exact wording may be tweaked from release to relea

[2019-03-31 20:27] #5627 closed, assigned to ojw28

[2019-03-31 20:35] ojw28 commented on #5706
Agreed this is highly likely to be an application code issue where an invalid (i.e. empty or null) `userAgent` is being passed to the `DefaultHttpDataSource` constructor or (more likely) the `DefaultHttpDataSourceFactory` constructor. @imvikasrai - Please check this and fix your code.

@marcbaechinger - We should probably add a `checkNotEmpty` assertion in the `DefaultHttpDataSourceFactory` constr

[2019-03-31 21:09] ojw28 commented on #5705
The first two are both caused by https://github.com/google/ExoPlayer/issues/5330. I'm not sure about the third one.

[2019-03-31 21:11] ojw28 commented on #5330
@andrewlewis - Given we can't reliably disambiguate between SCTE and DTS at the moment, should we consider disabling DTS support by default, and flipping the flag so that we only enable support if a flag is set?

The issue ref'd above contains more streams that are affected by this issue.

[2019-03-31 21:36] #5561 closed, assigned to andrewlewis

[2019-03-31 21:38] ojw28 commented on #5630
This is not something we support out of the box, so you'd have to handle the necessary UI changes for this yourself.

[2019-03-31 21:38] #5630 closed, assigned to erdemguven

[2019-04-01 05:44] simhavenkat opened #5707 "Delete device cert to test executeProvisionRequest"
### Question
I am trying to proxy executeProvisionRequest and for testing purposes i need to make this callback happen all the time. The call only seems to be happening once per device - also on some devices its already present and this call doesn't happen.

Is there a way to delete the device cert?

[2019-04-01 05:50] namespace7 opened #5708 "Unable to play the HLS Stream,E/ExoPlayerImplInternal: Stop failed"
The Player is not able to play the HLS m3u8 stream and throwing the error..

        E/ExoPlayerImplInternal: Stop failed.
         java.lang.IllegalStateException
        at android.media.MediaCodec.native_stop(Native Method)
        at android.media.MediaCodec.stop(MediaCodec.java:2018)
        at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.releaseCodec(MediaCodecRenderer.java:52

[2019-04-01 06:50] hafiz013 commented on #5551
so in this case what should i do?

`if(!musicPlayer.getShuffleModeEnabled()){
                        musicPlayer.setShuffleModeEnabled(true);
                        musicPlayer.seekTo(musicPlayer.getNextWindowIndex(), C.TIME_UNSET);
                    }` .

only this code make it crash apps.  Only can setup C.TIME_UNSET.

[2019-04-01 08:05] andrewlewis commented on #5707
I'm not aware of a way to force reprovisioning, or if it is even theoretically possible for devices where provisioning happens at the factory like for Widevine L1. @ojw28 and @AquilesCanta will be able to confirm or correct this.

If you really need this for testing, perhaps you can inject fake/mock components to simulate getting EVENT_PROVISION_REQUIRED every time.

[2019-04-01 08:08] andrewlewis commented on #5708
Please could you provide a full bug report captured just after seeing the error, using `adb bugreport`?

[2019-04-01 08:42] namespace7 commented on #5708
.streamtest E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to http://115.112.70.86/new.m3u8
        at com.google.android.exoplayer2.upstream.DefaultHttpDataSource.open(DefaultHttpDataSource.java:203)
        at com.google.android.exoplayer2.upstream.DefaultDataSource.open(DefaultDataSource.java:147)

[2019-04-01 08:43] namespace7 commented on #5708
please let me know if I can help you with something else

[2019-04-01 09:15] ErAmrit commented on #4962
Hi Faiyyaz,

I am facing same issue, can you help me out please. On Device Lenovo k33a42

[2019-04-01 09:19] Faiyyaz commented on #4962
Try using this

```android:configChanges="orientation|screenSize|layoutDirection"```

[2019-04-01 09:49] kenodevel opened #5709 "playback encrypted multicast video"
### Question
Hello, i am new to Exoplayer. I just tried playback a clear multicast video stream successfully and would like to explore if i can play encrypted multicast video also.
Would anyone suggest a way where can i get & modify/decrypt the ts packets by some external library?

[2019-04-01 10:28] LaurentiuSimionescu opened #5710 "How to prebuffer HLS stream"
Hi,

I have a list of m3u8 files on a server, in my app I have an ExoPlayer and a next button. ExoPlayer can play videos with default options, however there is a small delay when I skip videos.

**What I want** is to play the next video instantly.

Things I tried:
- Using ConcatenatingMediaSource, (this doesn't help me because it only pre-buffers next video if the current video is almost finishing

[2019-04-01 11:34] marcbaechinger commented on #5671
If you gave me the chance, I'd look into your bug report.

[2019-04-01 12:56] andrewlewis commented on #5709
I don't think there are enough details about what you're trying to do for us to help here. Depending on how the input is encrypted, you may be able to use a custom `DataSource` (like `AesCipherDataSource`) or a custom `TsPayloadReader.Factory` to achieve the result you are aiming for.

[2019-04-01 13:02] sunrise0406 commented on #5547
Hi All,
I'm facing the same question, "the statement was referring to point 1). Currently ExoPlayer decides to list the platform codecs with 'REGULAR_CODECS' or 'ALL_CODECS' filter depending on whether the app needs a secure decoder or not.".

Is it possible to get the tunneled codec list without a secure decoder ?
The only way to get tunneled codes is to pass a argument -'ALL_CODECS' to MediaCode

[2019-04-01 13:04] andrewlewis commented on #5547
@sunrise0406 You can query the ALL_CODECS list then filter out those items that support tunneling (or not). Work is in progress on this feature so I expect there will a fix available on the development branch some time over the next few weeks.

[2019-04-01 13:09] andrewlewis commented on #5707
@ojw28 mentioned there's a file one can delete to clear provisioning data on rooted devices (this doesn't work for factory-provisioned devices though). Hopefully he can provide some more details here :)

[2019-04-01 13:20] andrewlewis commented on #5710
#3327 tracks supporting pre-buffering of future concatenation items, which I think is what you really need for this.

The cache has an index representing what pieces of media have been stored, alongside the cached media.

Have you tried creating a single cache for both playback and downloading, and implementing logic in the app to download the next HLS stream at the same time that playback is prog

[2019-04-01 14:29] szaboa commented on #5633
@AquilesCanta, sorry for the late response :)

Updated ticket's description with sample streams. During testing make sure you pick the second Norwegian subtitle track and note that you might need to wait a little for the subs to show up (probably not synced correctly in this test content).

I've also created a pull request with the proposed solution (#5711).

----
And to make sure nothing changed

[2019-04-01 15:49] ojw28 commented on #5707
If you have a rooted device and want to force re-provisioning for testing purposes, you can delete the files under `/data/mediadrm/`. This should force re-provisioning. Note that, to the best of my knowledge, factory-provisioned devices don't need provisioning. So those devices wont generate provisioning requests no matter what you do.

[2019-04-01 19:35] #5673 closed, assigned to marcbaechinger

[2019-04-01 19:36] #5706 closed, assigned to marcbaechinger

[2019-04-01 20:07] #5330 closed, assigned to andrewlewis

[2019-04-02 01:46] sunrise0406 commented on #5547
@andrewlewis I understand, thanks for the quick response.

[2019-04-02 03:31] kouxinhong opened #5713 "File name is too long to play"
[code]
 `YWRtaW5fYWRfc3BsYXNoXzFjNjAyODhjYjhjNDExZTE5Yzc2ZDRkZmJjMjJhNGMwLm1wNF8xNTU0MTEwMzQxM3.mp4`
Rename
` 1234.mp4`

everything is normal

filename No change sometimes success.

please help me，Thank you！

[2019-04-02 03:53] alexeyr15 commented on #5700
Have you managed to reproduce the issue on Shield with the given stream?

[2019-04-02 04:12] kenodevel commented on #5709
I would like to decrypt the video/audio payload inside those TS packet

[2019-04-02 06:31] EscapeArtist opened #5714 "Overflow of playerView in Viewpager"
###  Content description
I have an activity set up with a Viewpager.
The Viewpager uses an adapter that creates Views( not fragments ).
Some of these views contain a PlayerView.
It all works perfectly fine unless I set the `resizeMode` to ZOOM.
When the `resizeMode`

 is set to ZOOM, the playerView overflows onto the next / previous item in the Viewpager.
I have tried forcing the width to a set va

[2019-04-02 06:45] laurafuente commented on #5679
Thanks for the answer

[2019-04-02 07:34] kushalgupta0565 opened #5715 "How to verify the checksum of downloaded widevine encrypted MPD DASH"
I have sucessfully downloaded the encrypted widevine DASH video, now i need to verify the checksum i.e video is downloaded sucessfully or not.

Can anyone please suggest me a way to verify it.

[2019-04-02 08:28] kushalgupta0565 commented on #5704
Hi,

there is no need to use `LocalMediaDrmCallback` in the case of Widevine, you can simply download the widevine license offline, and pass the downloaded license in `DefaultDrmSessionManager`

The code for downloading the license is
[code]

and setMode for `DefaultDrmSessionManager` _(i.e passing offline license to DRMSessionManager)_

`drmSessionManager.setMode(DefaultDrmSessionManager.MODE_PLA

[2019-04-02 08:51] namespace7 commented on #5708
The stream link has some unsupported video codec,it was not able to play !!
I'm closing this Issue..

[2019-04-02 08:51] #5708 closed, assigned to andrewlewis

[2019-04-02 09:06] souravbasu14 opened #5716 "How to extract custom EXT tag and sequence number from HLS stream?"
How to extract custom EXT tag and sequence number from HLS stream?

In our streaming server we've put some custom EXT tag for each media fragment & we need to read that data when a media fragment is loaded in player.

We tried to add MediaSourceEventListener and try to get the information from onLoadCompleted callback. But LoadEventInfo and MediaLoadData doesn't provide the same information.
To gi

[2019-04-02 09:26] marcbaechinger commented on #5700
I think these are two different issues you both are talking about. @catbaxter please file a separate issue regarding the system crashes as the issue is not about a system crash.

I have reproduced the issue with the stream you sent to us. What I see is that the player is low on buffered data right behind the live edge and finally does transition to ENDED state when the buffer is totally depleted (

[2019-04-02 09:55] andrewlewis commented on #5716
If you handle the `onTimelineChanged` event from the player, the second parameter `manifest` should be an instance of `HlsManifest` when using `HlsMediaSource`. It looks like the information you need is contained within there.

[2019-04-02 10:49] himaswetha opened #5717 "Player is getting crashed when the content contains subtitles"
Getting below error and player is getting crased when selecting the DVB subtitle.

[code]

[2019-04-02 11:35] andrewlewis commented on #5717
Please provide the information requested in the issue template [here](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=).

[2019-04-02 11:40] andrewlewis commented on #5717
You may also want to try upgrading to a more recent version of the library.

[2019-04-02 12:56] alexeyr15 commented on #5700
Thanks for your investigation! Could you please answer a couple of questions?

1. I have added logs to EventListener.onPlayerStateChanged listener method to monitor the player state changes. I see that the player goes to STATE_READY after starting playback, then after several minutes it goes to STATE_BUFFERING and never goes to any other state (including STATE_ENDED) after that (visually it appear

[2019-04-02 14:25] theboubougne opened #5718 "Match MediaPlayer behavior of skipping unexpected data the start of an MP3"
I'm trying to play the following file with EXOPlayer 2.9.6 and it fails with the following exception:
UnrecognizedInputFormatException

http://podcastdownload.faithcomesbyhearing.com/mp3.php/ENGKJVC2DA/A01___01_Genesis_____ENGKJVC2DA.mp3

I experienced the same thing on every test devices, while the device MediaPlayer was able to play the file without any issue (Tested on Android 8, 9, Q on Pixel

[2019-04-02 14:45] souravbasu14 commented on #5716
@andrewlewis Thanks for the reply. With this we are able to get all the segments which are been downloaded. But how do i know which particular segment it is currently playing ? Similar to this [link](https://github.com/video-dev/hls.js/issues/524)

[2019-04-02 14:48] andrewlewis commented on #5718
It looks like the stream is prefixed with some text data before the ID3 header appears at offset 0x125.

[2019-04-02 15:03] kvillnv commented on #5704
Hi @kushalgupta0565, thanks for your insight.

My specific request was to obtain from the exoplayer team an official documentation about the MediaDrmCallback during PLAYBACK with offlineDrmLicense.
We already have a downloader and a playback implementation working on many devices for almost 1 year.
We need an official documentation from exoplayer in order to help a manufacturer working on a device

[2019-04-02 22:20] theboubougne commented on #5718
This should be ignored by the Mp3Extractor as the MediaPlayer seems to already do this

[2019-04-03 01:24] zjamshidi opened #5719 "Headset Fastforward and Rewind not working"
Hello All
I have a music player app using ExoPlayer, PlayerNotificationManager, MediaSessionCompat, and MediaSessionConnector. Everything works fine, the music gets played, the notification is shown. Even I can play/pause the player using headset buttons but rewind and fastforward are not working.

here is my code:
[code]
and
[code]

### [REQUIRED] Searched documentation and issues
https://medium.

[2019-04-03 07:51] sophia-podo opened #5720 "Exoplayer error"
Hello, I have some questions.
When does the following error occur?
How can I fix it?
Is this a problem with device? or OS? or Firmware?
(using exoplayer version 2.9.2, supported widevine drm)

1.Operation not supported in this configuration.
[code]

2.Error decrypting data: unspecified error
[code]

3.Error decrypting data
[code]

4.
[code]

5.This error occur when the security level of the device

[2019-04-03 08:51] aaironman opened #5721 "Can't play local m3u8 file in version of 2.9.2,but It is ok in version of 2.0.2"
ExoPlayerImplInternal: Source error.
                                                                          com.google.android.exoplayer2.ParserException: Cannot find sync byte. Most likely not a Transport Stream.
                                                                              at com.google.android.exoplayer2.extractor.ts.TsExtractor.findEndOfFirstTsPacketInBuffer(SourceFile:402)

[2019-04-03 11:31] LaurentiuSimionescu commented on #5710
I didn't succeed with this approach. Any documentation/articles/examples please ?

I have implemented this, I am caching all the first segments from all playlists in a master playlist. And adding the local path instead of remote path. When I play the video there is still a small delay (2-3).
I have a RecyclerView and when I swipe I am preparing the local file and play it.

[2019-04-03 11:31] amjadmasri opened #5722 "Controller layout visual glitch on Xiaomi redmi not 5 pro"
Issue description
we have a simple activity with a full screen player view, everything works well, but one user with a Xiaomi Redmi note 5 pro reported a visual glitch
![img_20190403](https://user-images.githubusercontent.com/26228083/55474970-4d26b980-561b-11e9-87f9-20388425e28c.png)

when it is supposed to look like this
![Screenshot_20190403-135036](https://user-images.githubusercontent.com/262

[2019-04-03 12:46] varun7952 opened #5723 "Exoplayer - Change different UI for Audio and Video at runtime"
I am using Exoplayer in Recyclerview where i am playing Audio and Video files successfully without any issue but i need to change layout of Exoplayer at minimal like this
https://i.stack.imgur.com/MrKvK.png

My current layout look like this which is same when audio or video is playing.i also tried in XML set surface_type=none but that's doesn't even help.
https://i.stack.imgur.com/9YNU2.png
Exopla

[2019-04-03 13:00] tfrysinger commented on #4551
My use case for needing this flag has to do with supporting providers that don't provide a direct HTTP or HTTPS link by default.

My mobile app allows users to select video/image files from various sources (local to the device, or surfaced on the Internet from a variety of providers) to be defined as a "playlist", then streamed (in the case where the source is external to the device) when the play

[2019-04-03 13:44] Rupeshc91 opened #5724 "DownloadManager.TaskState only giving 100 % and -1 callback.How to get percentage downloaded callback"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-04-03 13:45] Rupeshc91 commented on #5724
How to get continuous callback on DownloadManager.TaskState to stop download after some percentage.

[2019-04-03 13:56] ojw28 commented on #4551
Is `fileMetadata.getSize()` the total size of the file? If so, isn't there just a plumbing problem here. I.e. You're trying to turn on caching of content that has an unknown size, but you actually know the size and it's just not getting to where it needs to be?

[2019-04-03 15:09] tfrysinger commented on #4551
Not sure what you mean by "plumbing problem". Is there a different flow other than passing a URL to let ExoPlayer know the size of a file ahead of time? Remember - I can't simply pass a URL back in this use case.

[2019-04-03 15:09] tfrysinger commented on #4551
And yes, I actually do know the size ahead of time. But I didn't see a way to bridge that info. Is there one?

[2019-04-03 15:34] ojw28 commented on #4551
If you give ExoPlayer a `content://` URI, then internally the player will end up using its `ContentDataSource` to request the data. That class attempts to read the content length from the asset file descriptor:

https://github.com/google/ExoPlayer/blob/r2.9.6/library/core/src/main/java/com/google/android/exoplayer2/upstream/ContentDataSource.java#L94

and if that fails it tries to read it from the

[2019-04-03 16:52] tonihei commented on #5038
I justed tried to investigate the issue a bit and wasn't able to reproduce the effect in any way in our demo app. I tried to used OkHttpDataSource with and without OkHttp cache, on a slow network (400-600kbps) and a super-fast network (>100Mbps). Also tried to change to code to use the synchronous or asynchrous OkHttp method calls as suggested in this thread and also tested various stream types (D

[2019-04-03 18:02] marcbaechinger commented on #5700
For (2) I think I wasn't clear, sorry. The size of the buffer itself is the same, but the amount of buffered data in milliseconds in that buffer is different. The configuration of the `DefaultLoadControl` is the same which means [default values](https://github.com/google/ExoPlayer/blob/6b0e1758b22994a2725a2aa1ec9125e83aa58419/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadCont

[2019-04-03 18:05] kaemanspk commented on #5693
Marcbaechinger any further insight on this issue.
we are awaiting an update from you  eagerly.

[2019-04-03 18:36] marcbaechinger commented on #5719
The `MediaSessionConnector` behaves like the default `MediaSessionCompat.Callback` implementation behaves. This means a single click on the media button is handled as a play/pause event. A double click on the media button is handled as a skipToNext event. Besides this there are no further mappings.

To provide a consistent default behavior, this behavior is intentional according to https://develop

[2019-04-03 18:47] marcbaechinger commented on #5723
I think you need to do that by having two different views/viewHolders for video and audio and act accordingly in your `RecyclerView.Adapter`. You can find a [Medium article around customizing the UI of ExoPlayer](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a).

So when the recycler view calls `onCreateViewHolder` you need to decide whether it's audio or vide

[2019-04-03 18:58] marcbaechinger commented on #5694
@gemiren @asaadaa  You may have seen the clarification about QuickTime/ISOMP4 above. So, please
accept my apologies for saying your content is invalid when obviously it is not. :)

We have provided a fix to handle both variants of the meta atom correctly. I tested with your files and both play fine.

The fix will be included in the upcoming 2.10 release.

[2019-04-03 19:34] alexeyr15 commented on #5700
Thanks for the detailed answer. So the main issue is unexpected move to ENDED state on Shield. Though I have also reporduced the issue on Firestick 4k but it took much more time to happen. And it is strange that in my app I don't see ENDED state in the logs. Maybe due to some differences in using of ExoPlayer compared with the demo app. These are logs from my app:

Also there is audioTrackUnderrun

[2019-04-03 21:21] varun7952 commented on #5723
So that's means i can't make it with single one ?

[2019-04-03 21:29] marcbaechinger commented on #5723
You can probably use a single layout file with two `PlayerViews`. In `onBindViewHolder` you can then hide/show one or the other according to the file type.

For the audio file you can either set an artwork for the player view (for MP3/MP4 metadata artwork are shown) or use only the `PlayerControlView` instead of the `PlayerView`.

[2019-04-03 22:27] varun7952 commented on #5723
[code]

[2019-04-04 03:23] zjamshidi commented on #5719
Thanks Marc for your response. I will try overriding SkipToNext and let you know the result.

[2019-04-04 03:35] T-10001 opened #5725 "SimpleExoPlayer GestureDetector.OnGestureListener scroll events triggered on taps"
### [REQUIRED] Issue description
When setting the PlayerView with setPlayer and the player is a SimpleExoPlayer, just tapping the screen causes an [GestureDetector.OnGestureListener](https://developer.android.com/reference/android/view/GestureDetector.OnGestureListener) trigger a [scrolling event](https://developer.android.com/reference/android/view/GestureDetector.OnGestureListener.html#onScroll(

[2019-04-04 09:48] zwonb opened #5726 "m3u8 plays no sound on some phones"
exoplayer :2.9.6.
le2 android os 6.0 is normal，
huawei mate8 android os 8.0，xiaomi 8 android os 8.0 is no sound。

url：http://212.91.72.132/iptv5601/stream.m3u8

[2019-04-04 09:58] marcbaechinger commented on #5723
The documentatin says:

[code]

So if you have artwork in the media you want to set true here.

[2019-04-04 10:04] IgorMan2 commented on #55
Hi, is ExoPlayer296 support RTSP?
I've got error
`E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov
        at com.google.android.exoplayer2.upstream.DefaultHttpDataSource.open(DefaultHttpDataSource.java:281)
        at com.google.android.exo

[2019-04-04 10:25] varun7952 commented on #5723
I need to set artwork but in minimal layout like this
https://i.stack.imgur.com/MrKvK.png
which i am not able to achieve with exoplayer which shows black screen when audio is playing. Can i get google play music like minimal layout with Exoplayer?

[2019-04-04 10:30] varun7952 commented on #5723
I need to show minimal layout in recyclerview with single Exoplayer layout/instance for audio (Video is working fine) like this https://i.stack.imgur.com/MrKvK.png. So whenever there is an audio file exoplayer turn into minimal layout without black screen which is currently like this  https://i.stack.imgur.com/9YNU2.png need to achieve like this  https://i.stack.imgur.com/MrKvK.png

[2019-04-04 12:24] andrewlewis commented on #5726
Please try playing this stream in the demo app. If you see logging with `NO_UNSUPPORTED_TYPE` like:

[code]

... that indicates that the media can't be rendered on the device, generally due to there being no decoder for the format. See also [supported sample formats](https://google.github.io/ExoPlayer/supported-formats.html#sample-formats).

[2019-04-04 12:24] #5726 closed, assigned to andrewlewis

[2019-04-04 12:46] andrewlewis commented on #5710
I don't think we have any detailed documentation about this, but @erdemguven may be able to provide guidance.

Could you describe in more detail what went wrong? If you have a downloader and player pointing at the same cache my understanding is that this should just work for segmented media, but maybe I am missing something.

[2019-04-04 12:57] andrewlewis commented on #5724
Please take a look at [`DownloadService`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadService.java). This has code to poll the download progress, so you can probably use the same approach.

#1497 may also be relevant to what you're trying to do.

[2019-04-04 13:20] andrewlewis commented on #5718
I'll tentatively mark this as a low priority enhancement. Identifying media prefixed by arbitrary other data doesn't seem particularly useful, nor is it possible to do it efficiently in general, but getting the same behavior as the platform player is reasonable.

In the short term I think the best options are to fix the media, or write a custom data source that identifies the actual start of ID3 d

[2019-04-04 13:31] andrewlewis commented on #5716
Looks like this information isn't readily available I'm afraid (see also #4905).

[2019-04-04 13:31] #5716 closed, assigned to andrewlewis

[2019-04-04 13:40] andrewlewis commented on #5715
Please see #2711. It's not safe to assume that the representation of cached data matches the original files on the server. You may still be able to do some processing if you can operate on data read back from the cache using `CacheDataSource`.

[2019-04-04 13:40] #5715 closed, assigned to andrewlewis

[2019-04-04 14:00] DionataFerraz opened #5727 "Question: How to override the video track selection for multiple videos"
Can you change the resolution of all the videos that are playing in the player without having to create a new instance of the player?

Exoplayer version 2.9.4

To make the exchange of quality I am using this method

[code]

[2019-04-04 16:14] tfrysinger commented on #4551
Thanks for the info.

As I am using a custom DocumentsProvider to give a unified UI experience to the user for browsing/selecting files, I don't see how I have the option to _wrap it in an AssetFileDescriptor and provide that_. The openDocument() method in DocumentsProvider is defined to return a ParcelFileDescriptor. And the "content://" URI is what is returned to me by the SAF when the user sele

[2019-04-04 16:19] gemiren commented on #5694
Awesome! Looking forward to the 2.10 release.

[2019-04-04 16:19] tfrysinger commented on #4551
In reviewing the SAF, it appears the openTypedDocument() is called only when a particular file is declared as a VIRTUAL file. Reading through the SAF docs, this would appear to be a solution as the SAF would then automatically return an AssetFileDescriptor. Although the problem for me with it is it is only supported from API 24 (Android 7.0) and higher. My app needs to run on Lollipop 5.0 (API 21)

[2019-04-04 16:40] tfrysinger commented on #4551
Looking at ContentResolver.openAssetFileDescriptor(Uri uri, String, mode) (which ExoPlayer calls on line 79 of ContentDataSource), this winds up calling openAssetFile() of the DocumentsProvider. Herein lies the problem:

[code]

This method is final, so I can't override it. Blech. And you can see the problem - it is indeed returning an AssetFileDescriptor but is returning a -1 for the length.

I s

[2019-04-04 16:46] opaquewarellc opened #5728 "No metadata when playing m4a files"
Question:
I have searched the current issue here, and found nothing about m4a metadata.

I was able play mp3 files and see the embedded bitmap on the PlayerView. But when playing m4a files, only sound are being play. I know the m4a file do have valid metadata.
I am using DefaultDataSourceFactory and DefaultRenderersFactory. Not sure if I am not doing it right or there are issue with extracting met

[2019-04-04 16:56] marcbaechinger commented on #5723
If you want to have the view for audio look like the notification you posted in the screenshot above you are probably better off to just use the `PlayerControlView`.

Create a layout file with both, a 'PlayerView' and a 'PlayerControlView'. Both have a `setPlayer(Player) ` method. So if you need to play a video you set the player in the `PlayerView` and hide the `PlayerControlView`. In the other c

[2019-04-04 17:36] theboubougne commented on #5718
Fixing the media isn't a possibility for apps playing 3rd party content
such as podcast apps for example.
Maybe this workaround could be done right
after UnrecognizedInputFormatException has been thrown a 1st time

On Thu, Apr 4, 2019 at 6:21 AM Andrew Lewis <notifications@github.com>
wrote:

[2019-04-04 17:41] Rupeshc91 opened #5729 "Out of memory crash"
[code]

[2019-04-04 19:07] kvillnv opened #5730 "New bug on Android P: Offline DRM License error"
### Issue description
I am getting an error while trying to play Downloaded Dash content with Widevine offline Drm License. This occurs only on Android P.
The same content works on Android N and O using the same App.
We have never seen this error before.

[code]
(see attached log files)

### Version of ExoPlayer being used
Exoplayer 2.9.6

### Device(s) and version(s) of Android being used
5 Andro

[2019-04-04 19:37] ToxicBakery opened #5731 "Generate module POM files to include licenses node"
### Issue description
Currently, the Maven POM is generated without a licenses node for all modules. Because of this, it's difficult for consumers to properly display licensing when attempting to do so by displaying the modules defined license information.

### Reproduction steps
Review the pom files of various ExoPlayer modules on Bintray such as the main module and note the lack of a licenses no

[2019-04-04 19:43] ToxicBakery commented on #5731
Off topic but semi-related, this issue would have been easier to resolve and likely would never have occurred if the maven-publish plugin was used directly. Additionally, it's disappointing to see that Bintray clearly doesn't care if artifacts are well defined by their POM files. I guess I'll continue to keep avoiding jcenter as much as possible in my builds.

[2019-04-05 05:27] guil18 commented on #5696
Hi,
Just in case, I had the same issue of mediaItems stuck in BUFFERING state for local audio files with version 2.9.6.
Version 2.9.5 does not have this issue.
Best regards,

[2019-04-05 07:06] DasJhaman opened #5733 "Ad Event listener in IMA Extention"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-04-05 07:59] andrewlewis commented on #5731
We're hoping to move to Google Maven soon (#5246).

[2019-04-05 08:10] andrewlewis commented on #5729
It looks like we are trying to deserialize about 2 GB of custom data for the download action. Could you provide some more information about how you triggered this behavior? Are you passing custom data? If you step through the code in `ProgressiveDownloadAction`'s `readFromStream` before the error do you see a valid URL?

Assigning to @erdemguven for further investigation. Thanks.

[2019-04-05 08:24] andrewlewis commented on #5733
Please try using `setAdEventListener` in `ImaAdsLoader.Builder`.

[2019-04-05 08:24] #5733 closed, assigned to andrewlewis

[2019-04-05 08:35] DasJhaman commented on #5733
Could you please give me working sample if any available ?

[2019-04-05 09:28] andrewlewis commented on #5721
Please provide the information requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=content+not+playing%2C+needs+triage&template=content_not_playing.md&title=). We can't investigate this kind of issue properly without access to the sample media so that we can reproduce the problem.

[2019-04-05 09:32] andrewlewis commented on #5720
To start investigating this we need more information. Are you able to get full bug reports from these error cases? If that's not possible, could you share some information about the content you are trying to play and what devices seem to be affected?

[2019-04-05 09:34] andrewlewis commented on #5709
Please try the suggestion in my previous comment. We can't help further unless you provide detailed information about what is needed, so I will close this for now. If you discover some ExoPlayer limitation that prevents you doing what you need to do please describe it here and I'll reopen the issue.

[2019-04-05 09:34] #5709 closed, assigned to andrewlewis

[2019-04-05 09:35] marcbaechinger commented on #5696
@guil18 Many thanks for your report.

Can you provide us with a way to repro this? What are the similarities with the case above? Are you using subtitles as well? Can you repro in the demo app?

Can you please provide us with a test media file and in case subtitle so I can try to repro? If you have a bug report please upload here so we can investigate.

Any input appreciated.

[2019-04-05 09:37] andrewlewis commented on #4963
@banic Do the detailed logs associated with the error describe what is going wrong?

[2019-04-05 09:42] andrewlewis commented on #5730
[code]

[2019-04-05 09:43] andrewlewis commented on #5730
@fredgc Please could you take a look at the error above? Thanks.

[2019-04-05 10:02] Rupeshc91 commented on #5729
Yes for .mov video URL was empty still it was showing length =1886547827 .If URL is null or empty than what is use of getting length and read data?

[2019-04-05 10:05] andrewlewis commented on #5728
It looks like we support getting cover art stored in a `covr` metadata element in M4A. Can you describe exactly how the cover art is stored in the files you're trying to play? Or share the media here or via email to `dev.exoplayer@gmail.com` with subject "Issue #5728"?

Note: it's possible that this is fixed in the development branch where we now parse `meta` elements outside `udta`.

[2019-04-05 10:08] andrewlewis commented on #5729
Is it expected that the URL is empty? That sounds wrong. The length here relates to the size of custom data associated with the action, in bytes. I wonder if we are parsing garbage data as a download action.

[2019-04-05 10:30] Rupeshc91 commented on #5729
Url is not empty but inside ProgressiveDownloadAction readFromStream this method ( Uri uri = Uri.parse(input.readUTF());) returning empty.

[2019-04-05 13:53] ojw28 commented on #5718
I agree with @andrewlewis this is low priority. A decision on how far to look into a file for valid media content before giving up is very arbitrary. I don't think we're obligated to support such streams. For what it's worth I tried to play the stream using whatever the default player is on my MacBook, and it didn't work there either (it played it as white noise).

Aside/Opinion: Podcast apps have

[2019-04-05 14:05] Rupeshc91 commented on #5729
Url was not empty but inside progressiveaction class readstream was giving
empty uri

On Fri, 5 Apr 2019, 15:38 Andrew Lewis, <notifications@github.com> wrote:

[2019-04-05 14:16] LaurentiuSimionescu commented on #5710
Finally this worked. I took [ExoPlayer](https://github.com/google/ExoPlayer/tree/release-v2/demos/main) example. This example handles the cache part very nicely.
Than I used [Toro](https://github.com/eneim/toro) for handling ExoPlayer in RecyclerView.
All good. If anyone needs help, please let me know.

[2019-04-05 15:23] #4988 closed, assigned to marcbaechinger

[2019-04-05 15:23] #5301 closed, assigned to marcbaechinger

[2019-04-05 15:24] theboubougne commented on #5718
But Exoplayer should at least handle the files supported by the
mediaplayer, otherwise either developers won't switch to ExoPlayer or they
will keep both options in their app like I'm doing right now (which is a
mess)

On Fri, Apr 5, 2019 at 6:54 AM Oliver Woodman <notifications@github.com>
wrote:

[2019-04-05 15:25] #5518 closed, assigned to marcbaechinger

[2019-04-05 18:16] jandresakis commented on #5700
This is similar to an issue Ive been dealing with for the past month and a half and we use exoplayer version 2.9.6.  I also get the audioTrackUnderrun message in the logcat. For our app, it can run videos for a few hours or more sometimes with out issue then all of a sudden the video will begin to freeze up and once it happens then the issue is much easier to reproduce. It stutters a bit until it

[2019-04-05 18:39] #5179 closed, assigned to marcbaechinger

[2019-04-05 18:40] ojw28 commented on #5722
This looks like a device specific issue (probably related to the compositor). I'm not sure there's much we can do about it, and you should probably report it to the device manufacturer. One thing you should check is whether you're setting any video backgrounds to transparent. I've seen cases where this causes problems before.

Closing, since I don't think this is an ExoPlayer issue.

[2019-04-05 18:40] #5722 closed, assigned to ojw28

[2019-04-05 18:56] ojw28 commented on #5730
Widevine issues go to @jefftinker now.

[2019-04-05 18:57] opaquewarellc commented on #5728
I was able to play the same m4a file in Google Play music app with the cover art shown.
But I have other m4a files that do works with the current Exoplayer lib. So I have decided it is not worth the time to find the root cause of this issue at the moment. Perhaps I'll re-visit this later.
Thanks,

[2019-04-05 18:57] #5728 closed, assigned to andrewlewis

[2019-04-05 19:15] marcbaechinger commented on #5700
@jandresakis Can you provide me with a sample url so I can look into this? You can post it here or send it to dev.exoplayer@gmail.com  with Issue #5700 as the subject.

The stream which alexey-rabets has kindly provided to us is a non-adaptive stream wit a single url which delivers a live stream. When observing the loading behaviour I see that the buffer is (almost) never filled as much that loadi

[2019-04-05 19:26] jandresakis commented on #5700
@marcbaechinger thanks for replying so fast. Unfortunately the video content I test with is our drm protected production content which is adaptive dash. We do have some drm protected dash test assets that are encrypted with test keys that I will try and repo the issue with in our app and once I can reproduce the issue with those I will send links to them at that email address. It will also give me

[2019-04-05 20:15] ojw28 commented on #5705
#5330 was fixed, so this is only tracking why the third of the not playable stream doesn't play.

[2019-04-05 20:17] ojw28 commented on #5694
Fixed in `dev-v2`.

[2019-04-05 20:17] #5694 closed, assigned to marcbaechinger

[2019-04-05 20:21] ojw28 commented on #4964
Can this be marked as fixed in `dev-v2`?

[2019-04-05 20:21] ojw28 commented on #5684
@PaulRutland - Please can you update this?

[2019-04-05 20:22] ojw28 commented on #5548
Closing due to lack of requested information.

[2019-04-05 20:22] #5548 closed, assigned to andrewlewis

[2019-04-05 20:34] ojw28 commented on #5713
Is the `{packagename}` part of the file path a result of you manually censoring the logcat, or was that actually part of the path the file that was trying to be read?

If it's actually part of the path then that looks like a problem with the file path that your code is providing to ExoPlayer. If it's manual censoring then that's not the problem, however in this case I doubt it's an ExoPlayer issue

[2019-04-05 20:35] #5707 closed, assigned to andrewlewis

[2019-04-05 20:36] ojw28 commented on #5691
Closing this because it's not an ExoPlayer issue. You should direct such questions to whoever provides you with the packager you're using to generate your content.

[2019-04-05 20:36] #5691 closed, assigned to marcbaechinger

[2019-04-05 20:40] ojw28 commented on #5273
@nic0lette - Could you please respond to this :)?

[2019-04-05 20:50] ojw28 commented on #5096
@sureshcnvidia - Were you able to give this a try?

[2019-04-05 20:50] #5408 closed, assigned to nobody

[2019-04-05 20:53] ojw28 commented on #5620
Closing for now, since all immediate questions have been answered. I still think our preference would be for you to host such an extension yourself, unless we see very strong developer demand.

[2019-04-05 20:53] #5620 closed, assigned to ojw28

[2019-04-05 20:54] #5640 closed, assigned to nobody

[2019-04-05 20:59] ojw28 commented on #5704
For offline playbacks where you're providing an `offlineLicenseKeySetId` via `DefaultDrmSessionManager.setMode`, the `MediaDrmCallback` you're using should never be called. This is because the manager doesn't need to perform any key requests;it can load the keys directly with the `offlineLicenseKeySetId` you've provided.

So you can provide any implementation of `MediaDrmCallback`. It should never

[2019-04-05 21:00] ojw28 commented on #5704
Note that if the `MediaDrmCallback` _is_ being called on the problematic device, that's probably related to whatever the device specific issue you're trying to track down is. If you try on a correctly functioning device then you should not see this happening.

[2019-04-05 21:02] #5040 closed, assigned to ojw28

[2019-04-05 21:10] ojw28 commented on #5389
I don't really understand what this is tracking or why it's marked as an enhancement. What would the enhancement be that would close this issue?

Probably. Although if this is the problem then it's not really ExoPlayer specific. It's just a general Andorid question about drag & drop in conjuction with `SurfaceView`. Probably using `TextureView` fixes it.

[2019-04-05 21:10] #5302 closed, assigned to ojw28

[2019-04-05 21:12] ojw28 commented on #4860
Support will be added in `2.10`.

[2019-04-05 21:12] #4860 closed, assigned to erdemguven

[2019-04-05 21:14] #5690 closed, assigned to marcbaechinger

[2019-04-05 21:18] ojw28 commented on #5678
Elemental's [QVBR documentation](https://www.elemental.com/applications/quality-defined-variable-bitrate-qvbr-control) says:

which implies players don't need to do anything to support it. So I suspect the answer is that QVBR content works fine with ExoPlayer.

[2019-04-05 21:18] #5678 closed, assigned to marcbaechinger

[2019-04-05 21:21] ojw28 commented on #5680
Closing on the assumption this is an application code thread safety issue.

[2019-04-05 21:21] #5680 closed, assigned to marcbaechinger

[2019-04-05 21:24] ojw28 commented on #5659
I think the real confusion here is that the Android's [supported formats and codecs](https://developer.android.com/guide/topics/media/media-formats#video-formats) documentation doesn't split out sample and container formats. Given Android provides low level codec access via `MediaCodec`, for which the container is irrelevant, the documentation should do this. I'll file a bug asking that they impro

[2019-04-05 21:24] #5659 closed, assigned to tonihei

[2019-04-05 21:30] ojw28 commented on #5659
[Internal ref: 130046184]

[2019-04-05 21:37] ojw28 commented on #5683
I think the original poster is trying to find a non-standard way to swap the surface due to:

Internally that method is sending a message to swap the surface, just as you're attempting to do with your custom solution. In order words, your custom solution wont be any better, so you may as well stop trying to make that work.

Being able to instantaneously swap the surface isn't possible on some olde

[2019-04-05 21:37] #5683 closed, assigned to marcbaechinger

[2019-04-05 21:40] #5686 closed, assigned to tonihei

[2019-04-05 21:40] ojw28 commented on #5686
Closing as duplicate.

[2019-04-05 21:52] ojw28 commented on #5717
Closing due to lack of information.

[2019-04-05 21:52] #5717 closed, assigned to andrewlewis

[2019-04-05 21:52] AndroidDeveloperLB commented on #5389
@ojw28 Didn't work.

[2019-04-05 21:54] ojw28 commented on #5411
This will be an emulator issue, not an issue with the library.

[2019-04-05 21:54] #5411 closed, assigned to ojw28

[2019-04-05 21:55] ojw28 commented on #5656
This is supported in the `dev-v2` branch (it'll be in the 2.10 release).

[2019-04-05 21:55] #5656 closed, assigned to ojw28

[2019-04-05 21:56] #5598 closed, assigned to ojw28

[2019-04-05 21:56] ojw28 commented on #5598
We're now filling in frame rate for MP4 videos.

[2019-04-05 22:00] ojw28 commented on #5459
@AquilesCanta - Please update the title of this issue to reflect what the enhancement is. Thanks!

[2019-04-05 22:12] ojw28 commented on #4551
From ExoPlayer's point of view what we want is (1) random access into the content, and (2) to know how long the content is. Pretty much all servers and file systems are able to support these requirements efficiently. It seems like you have what you need to support these requirements too, but the way you're exposing the content to ExoPlayer does not support them. This seems like an issue with your

[2019-04-05 22:12] #4551 closed, assigned to nobody

[2019-04-05 22:19] ojw28 commented on #4162
Closing this. The issue is tracked by https://issuetracker.google.com/issues/77891433.

[2019-04-05 22:19] #4162 closed, assigned to ojw28

[2019-04-05 22:25] ojw28 commented on #3307
Closing as obsolete. I don't think there's much we can do to fix this. You should report the problem to the device manufacturer.

[2019-04-05 22:25] #3307 closed, assigned to ojw28

[2019-04-05 22:29] ojw28 commented on #3997
Better codec re-use will land in 2.10, and is available now on the `dev-v2` branch. You should avoid calling `stop` on the player between playing one video and the next, and pass the next video to the existing player instance by calling `prepare`.

Other than that, I think we can close this as a device specific issue not under our control. Hopefully Sony will continue to make stability improvement

[2019-04-05 22:29] #3997 closed, assigned to AquilesCanta

[2019-04-05 22:30] AndroidDeveloperLB commented on #5411
@ojw28 Thank you for checking it out. Please tell the emulator guys to handle this.

[2019-04-05 22:30] #5606 closed, assigned to ojw28

[2019-04-05 22:31] ojw28 commented on #3063
Closing as part of a scrub of old device specific issues.

[2019-04-05 22:31] #3063 closed, assigned to ojw28

[2019-04-05 22:32] #1972 closed, assigned to ojw28

[2019-04-05 22:33] ojw28 commented on #1972
Closing as part of a scrub of old device specific issues.

[2019-04-05 22:33] ojw28 commented on #1153
Closing as part of a scrub of old device specific issues.

[2019-04-05 22:33] #1153 closed

[2019-04-05 22:33] ojw28 commented on #2380
Closing as part of a scrub of old device specific issues.

[2019-04-05 22:33] #2380 closed, assigned to ojw28

[2019-04-05 22:39] kvillnv commented on #5704
Ok, so you think it is a device specific issue, and even if I remove or try to implement another MediaDrmCallback it will not change anything.
It would be interesting to add this information in the DefaultDrmManager class and make a new constructor without MediaDrmCallback

This is correct for offline playback? It actually does work, but with your approval I will be able to strengthen my case with

[2019-04-05 22:40] ojw28 commented on #4177
The `dev-v2` branch has `DownloadHelper`, which enables use of `DefaultTrackSelector` for offline track selections and solves this problem. This will be part of `2.10`.

[2019-04-05 22:40] #4177 closed, assigned to nobody

[2019-04-05 22:41] ojw28 commented on #4446
This is addressed in `dev-v2` and will be in the `2.10` release.

[2019-04-05 22:41] #4446 closed, assigned to erdemguven

[2019-04-05 22:46] marcbaechinger commented on #5702
Sorry, I did not spot the url in the source code above: http://qthttp.apple.com.edgesuite.net/1010qwoeiuryfg/sl.m3u8

When adding the url to the demo app it plays fine. Your code merges a subtitle track with the HLS stream when `ccPath` is provided as an argument of the method. Did you see the buffering behaviour with the merged media source? I can look into this if you provide me the url of the s

[2019-04-05 22:47] ojw28 commented on #5704
I don't know because you haven't provided a description of the issue. I see you filed https://github.com/google/ExoPlayer/issues/5730 though, which I'm guessing is the issue you have. That looks like a problem with the underlying DRM implementation, and is assigned to the right person to take a closer look.

Actually, the `MediaDrmCallback` may be called if the offline keys have expired (whether t

[2019-04-05 22:47] #5704 closed, assigned to ojw28

[2019-04-05 23:22] marcbaechinger commented on #5676
You can use a custom [MediaCodecSelector](https://github.com/google/ExoPlayer/blob/afba6386d333b993777ba74a81d7d8c9d2f808f7/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecSelector.java) and set it when you create the DefaultRenderersFactory:

[code]

So for your case the `CustomMediaCodecSelector` has to then select a software decoder if on the device in question. Yo

[2019-04-05 23:53] varun7952 commented on #5723
Can you please share some examples for audio layout like above screen shot on stack or on web?

[2019-04-06 08:39] martijn00 commented on #5031
Also related to https://github.com/google/ExoPlayer/issues/3609

[2019-04-06 09:01] pistolcaffe opened #5734 "When button is clicked on notification, exception occurs intermittently"
### Issue description
I implemented the music controller using the `PlayerNotificationManager` (https://medium.com/google-exoplayer/playback-notifications-with-exoplayer-a2f1a18cf93b). However, when I click on the Notification button, the exception occurs intermittently and does not work.

### Reproduction steps
When i click the button on the notification (intermittently)

### Link to test content

[2019-04-06 09:02] andrewlewis commented on #5703
If frames are dropping during faster than realtime playback that suggests that decoding is too slow and can't keep up with the player position.

Could you try selecting only the lowest quality version of the video stream, or setting a lower playback speed like 1.5, and let us know if that works? If the issue is indeed that decoding is too slow, I'm afraid there's probably not much we can do.

[2019-04-06 09:03] andrewlewis commented on #5734
Please could you supply a full bug report captured with `adb bugreport` here, or via email to `dev.exoplayer@gmail.com` with subject 'Issue #5734'?

[2019-04-06 09:06] andrewlewis commented on #5703
The bug report is from a device running Marshmallow, so using a debuggable APK could also explain what you're seeing. See this [blog post](https://medium.com/google-exoplayer/variable-speed-playback-with-exoplayer-e6e6a71e0343) for more information.

[2019-04-06 09:17] pistolcaffe commented on #5734
@andrewlewis I just sent an email to `dev.exoplayer@gmail.com.`

[2019-04-06 11:01] shaji-Dev opened #5735 "Add Gaps/Empty SilenceMediaSource with custom duration to ConcatenatingMediaSource"
Hi,

I'm building a ConcatenatingMediaSource for audio tracks that are placed in a timeline. I need to put Gaps or Silent tracks with custom duration between them, does the library provide a DummyMediaSource of some sort with custom duration that I can concatenate between the tracks in order to have these gaps?

If not, could you suggest a solution for this problem. Thank you.

[2019-04-06 11:54] marcbaechinger commented on #5700
@jandresakis Let us know when you find a way how we can repro. Although, if you are saying it's a DASH stream it's probably a different issue and you can file another issue. Let us know in any case. This issue is about a progressive live stream with TS.

@alexey-rabets I did some more digging. I tested with a Pixel phone and I see the very same issues like with the Nvidia Shield. I can (sometimes*

[2019-04-06 12:16] marcbaechinger commented on #5031
This would help you for providing a notification of the item which is currently playing and the metadata of the media session. You still have to provide MediaDescriptionCompat for queue items which have never been played. Do I understand correctly?

[2019-04-06 12:45] marcbaechinger commented on #5734
When the user taps on a notification with a `PendingIntent` attached, the system attempts to start the activity defined by the PendingIntent. It seems that the `ActivityTaskManager ` fails to start that activity and returns `ActivityManager.START_CANCELED` [which results in the android.content.IntentSender$SendIntentException](https://android.googlesource.com/platform/frameworks/base/+/master/core

[2019-04-06 12:51] martijn00 commented on #5031
@marcbaechinger for me this would especially be useful when the ID3 tags of a media file are filled with in the metadata.

If it was possible to extract ID3 from a file or url into a `MediaDescriptionCompat` before actually playing would work for the before case. Like the existing `MediaMetadataRetriever` in Android, but then using Exoplayer.

For the `MediaSessionConnector` it would be useful to

[2019-04-06 20:16] himaswetha opened #5736 "HLS: Make it easy to assume no captions if playlist omits CLOSED-CAPTIONS attribute"
Hi
Can you please let me know how we can avoid exoplayer inserting empty cea-608 tracks if source content doesnt contain the CC tracks?

[2019-04-06 21:17] shaji-Dev opened #5737 "ClippingMediaSource with delay or start window offset"
Hi,

It would be nice to have a parameter that adds a delay to the ClippingMediaSource, apart from clipping it, tell when to start.

Let's say we have a ConcatenatingMediaSource with multiple ClippingMediaSource in it. I would like to add a delay to the first and third ClippingMediaSource. It would be great to have:

`ClippingMediaSource(mediaSource, startPositionUs, endPositionUs, startOffsetUs)`

[2019-04-07 01:02] #5710 closed, assigned to andrewlewis

[2019-04-07 05:01] davidaik commented on #5289
@thesquare12 What I did involves these steps.
1. Create a `Handler` object in the same thread where you will create your ExoPlayer object.

    private Handler mHandler = new Handler();

2. Create an object to use as lock - to ensure that ExoPlayer accessing methods are executed one at a time.

    private final Object mMotherOfAllLocks = new Object();

3. Create Runnable objects which will contai

[2019-04-07 05:48] pistolcaffe commented on #5734
The above exception has occurred for the playback action. The `PendingIntent` for the playback action is generated from `PlayerNotificationManager.createPlaybackActions(Context context)`

[2019-04-07 12:04] barron9 opened #5738 "2.8.0 memory leak"
Memory usage soars after some start stops,even a proper "release" and "null"ing the player. Anyone experiencing this on 2.8.0?

Regards

[2019-04-07 14:21] gowthamgts commented on #5301
@marcbaechinger: Is this issue fixed and changes landed into master?

[2019-04-07 15:24] #5719 closed, assigned to marcbaechinger

[2019-04-07 15:33] ojw28 commented on #5734
@marcbaechinger - Could this be caused by our use of `FLAG_CANCEL_CURRENT` in `PendingNotificationManager.createBroadcastIntent`? I wonder if there's a race condition where the an attempt is made to use the (now canceled) previous intent. Should we be using `FLAG_UPDATE_CURRENT` instead?

[2019-04-07 15:36] ojw28 commented on #5738
Closing due to lack of required information. If you're going to file an issue, please take the time to fill out the issue template correctly. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-04-07 15:36] #5738 closed, assigned to ojw28

[2019-04-07 15:40] ojw28 commented on #5718
That argument only really stacks up if there are a significant number of problematic files in the wild. If you've come across a single file that has this problem, which doesn't even play properly on some other platforms, then it really doesn't justify the extra engineering effort of keeping two players around in your app, and neither does it justify effort on our side to accommodate this single fi

[2019-04-07 15:48] ojw28 commented on #5736
Is this specifically related to HLS? If so, an HLS master playlist can explicitly indicate that variants don't contain CC tracks by marking `EXT-X-STREAM-INF` tags with the `CLOSED-CAPTIONS=NONE` attribute. For content that does this, we do not insert CEA608 tracks. For content that omits the attribute and makes inclusion of CC tracks ambiguous, we assume they may be present and so generate a trac

[2019-04-07 15:56] ojw28 commented on #5727
Selection overrides only apply to content that has the same set of tracks that you've set the override for. Or more precisely, a video track override will only apply to content where the `trackGroups` assigned to the video renderer are the same as those that you've set the override for. If you start playing content that has a different set of tracks, you'll need to set a new override for the new `

[2019-04-07 16:20] andrewlewis commented on #5735
It's possible to write a `SilenceMediaSource` that inserts silence with a given duration, but we don't provide such a component currently. I'll mark this as an enhancement to add one to the core library.

[2019-04-07 16:20] ojw28 commented on #5676
Can you reproduce this playing the same content in the ExoPlayer demo app? If not, is it possible you're passing an invalid `Surface` to the player?

[2019-04-07 16:28] shaji-Dev commented on #5735
In the meanwhile if you have any suggestion on how to implement my own SilenceMediaSource that inserts silence would be much appreciated.

Thank you.

[2019-04-07 16:33] himaswetha commented on #5736
Instead of mentioning CLOSED-CAPTIONS=NONE in master playlist any other way is there to avoid inserting cea608 empty tracks?

I need to handle both for HLS and DASH. Some flag is there? FLAG_OVERRIDE_CAPTION_DESCRIPTORS?
How to use this flag for DASH?
How to use this flag for HLS?

[2019-04-07 17:49] ojw28 commented on #5736
For DASH we don't ever generate a CEA608 track unless the content explicitly indicates that one is present, so I don't think your question is relevant to the DASH case.

For HLS, we generate a CEA608 track if the content doesn't explicitly indicate either way whether one is present. The default is different for HLS because lots of legacy HLS content didn't include the CLOSED-CAPTIONS tag despite c

[2019-04-07 18:33] makazemi opened #5739 "How to detect a non-playable media source in exoplayer?"
I use of concatenatingMediaSource for playing a list of video. Some uris aren't media(video or audio) and those are uri of pdf files. I want to detect these mediasource and I change playerview to show a button to open pdf file. In fact this functionality of my application is similar to Udemy app. Should I use onPlayerError callback for detecting or exist another way? Thanks in advance for your hel

[2019-04-07 18:46] banic commented on #4963
@andrewlewis
I build it successfully.

Buti still not have audio with ac3.

Here is my log from logcat:

04-07 21:40:53.558 6472-6490/com.example.brankoriznic.exo_fmpg W/MediaCodecInfo: AssumedMaxChannelAdjustment: OMX.google.ac3.decoder, [1 to 6]
    AssumedMaxChannelAdjustment: OMX.google.ac3.decoder, [1 to 6]
04-07 21:40:53.571 6472-6554/com.example.brankoriznic.exo_fmpg I/OMXClient: MuxOMX cto

[2019-04-07 19:50] andrewlewis commented on #4963
The logging about `OMX.google.ac3.decoder` suggests that `MediaCodecAudioRenderer` is still being used. Please make sure you've [enabled the right decoder](https://google.github.io/ExoPlayer/supported-formats.html#ffmpeg-extension) before building ffmpeg, and the renderers factory is [set up to use the extension](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md#using

[2019-04-07 19:50] #4963 closed, assigned to andrewlewis

[2019-04-07 20:31] andrewlewis commented on #5714
I tried to reproduce this by setting `app:resize_mode="zoom"` on a player view but the contents were clipped as expected. [This Stack Overflow question](https://stackoverflow.com/questions/21819770/do-not-clip-viewpager-pages) covers the opposite problem so I wonder if it provides any clues to what's going on. If you think this is an ExoPlayer issue after investigating please provide a link to a m

[2019-04-07 21:37] andrewlewis commented on #5725
`PlayerView` can intercept the `ACTION_DOWN` motion event in the case where there are player controls, because it returns `true` from `onTouchEvent` if it toggled controller visibility. I think what's going on is that the gesture detector never sees that event but it does see other touch events that are not handled by this child view, which it interprets as a scroll.

I'm not sure whether we shoul

[2019-04-07 21:41] #5542 closed, assigned to andrewlewis

[2019-04-07 21:48] andrewlewis commented on #5626
The `Invalid internal message` logging is expected in certain situations, and I don't think it indicates a problem here.

This looks like a Play Services issue to me. Is the device up to date in terms of system updates and updates on the Play Store? Were you able to try out any other devices (apart from the smart watch), and if so did you see the memory leak and `Activity [...] has leaked ServiceC

[2019-04-08 05:46] himaswetha commented on #5736
FLAG_ENABLE_CEA608_TRACK - is this flag removed in FragmentedMp4Extractor.java file? is this flag responsible for inserting empty CC tracks in Dash content?

[2019-04-08 06:12] himaswetha commented on #5736
FLAG_ENABLE_CEA608_TRACK - is this flag removed in FragmentedMp4Extractor.java file in newer version of code? is this flag responsible for inserting empty CC tracks in Dash content?

I can see some of the code for dash in FragmentedMp4Extractor.java file in latest version of code. Is this related to inserting empty cc tracks for dash content?
    if (cea608TrackOutputs == null) {
      cea608Track

[2019-04-08 06:33] zwonb commented on #5726
[code]

[2019-04-08 06:35] zwonb commented on #5726
@andrewlewis

[2019-04-08 07:05] karathb opened #5740 "How to get response header from Lincence url request?"
Hi all!

I know that the response headers of the last load are available through the onLoadStarted() callback (as part of LoadEventInfo).

However I would need to parse the headers of the licence url request and as I see that is not passed there. Am I missing something? Should I somehow be able to read the response headers of the licence url request?

Thanks in advance,
Balázs

[2019-04-08 08:19] tonihei commented on #5737
Can you clarify what `startOffsetUs` is supposed to do exactly?

Is it a period of silence before the next video starts? If so, please see #5735.
Or is it the start position in the clipped window. For example, clipped from 10 to 50, but playback starts at 30.

[2019-04-08 08:52] #5649 closed, assigned to tonihei

[2019-04-08 09:45] monsterbrain opened #5741 "Concatenated Media source playing issues on certain Android Box - MXQ Pro"
### [REQUIRED] Content description
Android App employing exoplayer 2, to play sequence of ogg files in the assets folder.
(for eg. Token_num.ogg + num_1.ogg + num_2.ogg+ num_3.ogg). I'm using the ExtractorMediaSource
array map to keep track of the token numbers. On playing a certain sequence, I'm adding
the media sources to an array and initialize with ConcatenatingMediaSource. Two issues occur
on

[2019-04-08 09:57] AlphaCircle opened #5742 "Where can I get the GOP (keyframe interval) in DASH streaming."
I want to know the GOP size when I do DASH. When looking at MediaLoadData, I could not find any similar thing to GOP-related information. Can you let me know where I can get that information?

[2019-04-08 10:02] naseeb8950925214 opened #5743 "Black screen while playing video"
I am getting black screen while playing video on Realtek X5 media box(Running on android version 6.0 Marshmallow). Tried running it in sample exoplayer app and player gets stuck in buffering and screen remain black without any error or warning. Please find link of video below:

**https://drive.google.com/file/d/1Kl5LE6xnLbUuEI-heKHxFRvHxc6eg3Ju/view?usp=sharing**

Please find exoplayer logs below:

[2019-04-08 10:16] tonihei commented on #5289
@davidaik  This contains way too many locks and latches.

@thesquare12
You can just do something like this:
[code]

And if you need information on your background thread, listen to events or send information directly:
[code]

[2019-04-08 10:16] ojw28 commented on #5736
As I already said above, we don't ever generate empty CC tracks in DASH content. If you're seeing this on any version of ExoPlayer, please file a DASH specific issue providing sample content for which you see this. I'm going to mark the last two posts as off topic, since we're using this issue to track the topic for HLS now.

[2019-04-08 10:26] ojw28 commented on #5742
There is no way to get this information. Please can you describe a valid use case for needing this; because I can't really think of one. Note also that there's no requirement that GOP size is fixed in DASH content.

[2019-04-08 10:31] jaisonfdo commented on #4994
Do we have any updates on this issue? The app is crashing with the following exception

`2019-04-08 15:48:20.098 20770-20770/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.android.exoplayer2.castdemo, PID: 20770
    java.lang.IllegalArgumentException: Invalid mime type: mp4a.40.2
        at com.google.android.exoplayer2.util.MimeTypes.getTopLevelType(MimeTypes.java:390)

[2019-04-08 11:20] davidaik commented on #5289
@tonihei That's true. I could probably do without the lock, but my own project requires the latch. I should have removed those before writing here.

[2019-04-08 11:22] AlphaCircle commented on #5742
Hello ojw28
Thanks for your quick response.  I did not recognize GOP is not fixed in DASH. I thought one mpeg video with a specific resolution in a specific bandwidth has one GOP size. Thanks for letting me know that.

I am using 2 instances of exoplayer and wants to, for instance, switch A to B instances when a certain event comes out. But the B instance is necessary to display the same frame as

[2019-04-08 13:25] gb103 commented on #4341
@ojw28
Do we have any updates about this issue, as this is not only one device specific, it is producible on many devices in my case. Same error logs can be seen as above mentioned.

[2019-04-08 13:28] alexeyr15 commented on #5700
Unfortunately, it is a third party IPTV server which I have no control on. I have also managed to reproduce this issue on Pixel phone in the demo app and see ENDED state. But it was much harder to reproduce it on Pixel. On Shield it is reproduced pretty easy each time, sometimes after about 1-2 minutes of playback. And on Shield I have never seen ENDED state in the demo app, it always stuck in BUF

[2019-04-08 13:32] AquilesCanta commented on #4994
Hi @jaisonfdo, sorry for not updating this issue before. This should be [fixed](https://github.com/google/ExoPlayer/commit/774c01d02046993e824aa31e2cb49bfc1283bc78#diff-28aa8fcdfda6da09b45c0ca527ecf206) in the dev-v2 branch. Please give it a try and let me know if you can still reproduce.

[2019-04-08 13:32] #4994 closed, assigned to AquilesCanta

[2019-04-08 13:35] AquilesCanta commented on #4964
Hi all, please try the fix referenced above and post here if you can still reproduce the issue. I'll be closing as fixed for now.

[2019-04-08 13:35] #4964 closed, assigned to AquilesCanta

[2019-04-08 13:39] andrewlewis commented on #5726
`D/EventLogger: [ ] Track:0, id=1/3, mimeType=audio/mpeg-L2, channels=2, sample_rate=48000, supported=NO_UNSUPPORTED_TYPE` indicates that the audio stream can't be decoded. You could try using the [FFmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg)'s mp3 decoder.

[2019-04-08 13:54] jaisonfdo commented on #4994
Hey @AquilesCanta thanks for the immediate response, yup it's working as intended.

[2019-04-08 14:02] ArcherEmiya05 commented on #5626
My Google Play Services is in the latest but the device system patch is not, but I do not think it would and should be a problem. Anyway I'll try another device and will immediately post here again.

[2019-04-08 14:48] volkansahin45 commented on #4994
@AquilesCanta thanks for fix

[2019-04-08 14:56] tonihei commented on #5739
We can't reliably detect whether media is playable in advance because our media sources are working under the assumption that we have a valid media file. Also, "non-playable" sources can have different forms - from totally unrelated files (like pdf) to more subtle problems like unsupported codecs or media encoding problems.

However, you can listen to errors to get an indication of that. The probl

[2019-04-08 14:58] amjadmasri commented on #5722
thank you, the issue was as you said, the activity had a null background
and when changed to a black background the issue was solved
many thanks.

[2019-04-08 14:59] erdemguven commented on #5740
Response headers on onLoadStarted() callback are always empty perhaps you can use onLoadCompleted().

[2019-04-08 15:09] karathb commented on #5740
Okay, I will test tomorrow and let you know. Though so far I did not even see loadEventInfo.uri == licenseUrl in the onLoadStarted event. Should that also come there? (with the License url)

[2019-04-08 15:20] tonihei commented on #5741
Based on the information you provided, it sounds as if this TV Box has a platform codec problem especially because the same issues occur with SoundPool. There is not much we can do about that and if you have a large user base on these devices it may be best to reach out to the manufacturer to check if they plan to provide system updates.

Alternatively, please consider using our [FFMPEG extension]

[2019-04-08 16:11] AquilesCanta commented on #5736
A flag to disable the preemptive 608 track will be exposed in the next release (2.10), and a commit ref will appear below once it's available in the dev-branch. In the meantime, you can just use the approach described above by @ojw28.

[2019-04-08 18:18] erdemguven commented on #5743
The file you shared has a very high bitrate (around 136Mbps). Perhaps the buffering of the video just takes too long. I would suggest to re-encode and reduce the file size.

[2019-04-08 19:19] shaji-Dev commented on #5737
It is what's described in the other feature request you referred to. Sorry for the confusion. I will close this issue then.

[2019-04-08 19:19] #5737 closed, assigned to tonihei

[2019-04-09 01:27] EscapeArtist commented on #5714
the Viewpager is filled with other views like images, and even some exploayer not set to zoom, as you can see in the gif above.
All these things are clipped as expected. The only issue is when there's an exoplayer AND it is set to zoom.
That stackoverflow example assumes that by default everything is clipped properly, which agian is the case, even with the exoplayer NOT set in zoom.
It's the zoom

[2019-04-09 01:42] andrewlewis commented on #5714
Please could you share a minimal demo project we can use to reproduce this? Thanks.

[2019-04-09 01:48] eneim commented on #867
For those who are interested in this topic, this is what I archive lately: [reddit article](https://www.reddit.com/r/androiddev/comments/bb2493/call_for_feature_request_what_do_you_want_from_a/). If you are curious about it, a feature request/issue or just a normal comment is welcome.

[2019-04-09 04:42] monsterbrain commented on #5741
Thanks for your kind reply. And thanks for pointing to the extension, I'll try to integrate that and test with it and will hopefully, post results here, if I can make it work properly. Thanks again.

[2019-04-09 04:56] EscapeArtist commented on #5714
I have managed to reproduce the error pretty easily with a simple project.
The error happens when there is already an exoplayer in the current viewpager. The ZOOMed played from the next screen will then overflow and mix up with the surfaceview of the currently visible player.
Here is a zip file of a simple project where the error occurs.

[ExoplayerOverflow.zip](https://github.com/google/ExoPlayer

[2019-04-09 09:25] erdemguven commented on #5569
If the cache doesn't have the whole content, the missing data will be read from myUpstreamDataSource which can be a DefaultHttpDataSource.

[2019-04-09 09:36] erdemguven commented on #5420
You can check out existing subclasses of DataSource:
[library/core/src/main/java/com/google/android/exoplayer2/upstream/ByteArrayDataSource.java](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/ByteArrayDataSource.java)
is one of the simplest DataSources but it doesn't do any IO.
[library/core/src/main/java/com/google/android/ex

[2019-04-09 09:58] amiraelsayed commented on #5671
![WhatsApp Image 2019-04-09 at 8 32 38 AM](https://user-images.githubusercontent.com/3120646/55789872-7c29a900-5abb-11e9-9181-69acc35e29b3.jpeg)
![WhatsApp Image 2019-04-09 at 8 32 23 AM](https://user-images.githubusercontent.com/3120646/55789873-7c29a900-5abb-11e9-8ef5-9864337f081c.jpeg)

[2019-04-09 10:00] AndroidDeveloperLB commented on #5569
@erdemguven I used the solution that was suggested here:
https://stackoverflow.com/a/55260753/878126
Is it ok?

[2019-04-09 10:03] amiraelsayed commented on #5671
I have download the repo of the project and tried to investigate a little bit more to try to know what is the reason of this strange problem
as you can see

the first image for smart tv box, you will see after the last ":" that the title of the subtitle is correct and that is what shown to the user

the problem is in the second image that was on MAG box, as you can see after the last ":" the title

[2019-04-09 10:58] TakuSemba commented on #2885
@ojw28

Does ExoPlayer support this now?
I want to play dash streams where both clearkey and widevine exists.

Please let me know if there is any way to archive that.

[2019-04-09 11:18] marcbaechinger commented on #5381
You need to make sure that the player is only attached to and prepared for a single `PlayerView` at the same moment in time.

Be aware that there may be several instances of your `ViewHolder` so you can not use `videoView.setPlayer(player)` in the constructor of the `ViewHolder`. With your code above you may play the video in a ViewHolder which is not currently visible on the screen (you hear the

[2019-04-09 11:28] AquilesCanta commented on #2885
Not yet supported. We are actively working on it.

Aside, I don't think it's in our plans to support MediaSources that present changing DRM schemes.

[2019-04-09 12:00] catbaxter opened #5744 "Native crashes on Shield and MiBox 3 (Android 8.0) after ExoPlayer 2.9.1"
### [REQUIRED] Issue description
Native crashes on Nvidia Shield TV and MiBox 3 on some 4K movies

### [REQUIRED] Reproduction steps
add the link to the demo app, start the player and around 1 hour it should happen

### [REQUIRED] Link to test content
Sent to dev.exoplayer@gmail.com

### [REQUIRED] A full bug report captured from the device
Sent to dev.exoplayer@gmail.com

### [REQUIRED] Version o

[2019-04-09 12:32] karathb commented on #5740
Yeah, I am able to see the response headers of the playback urls. For each chunk it is there in onLoadCompleted(). But the issue still exists regarding the license request. For that the response header is not exposed in those callbacks.

Is there any way of grabbing the reponse header of the licence request?

[2019-04-09 12:51] AquilesCanta commented on #5740
Assuming you are using [DefaultDrmSessionManager](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.html), all license requests are done through [MediaDrmCallback](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/drm/MediaDrmCallback.html) so you can look into it to intercept the response headers.

When you cre

[2019-04-09 14:13] erdemguven commented on #5540
The files you shared, are they the original files created by exoplayer cache or did you concatenate multiple small cache files yourself?
Is the original source is a live stream? Can you share the url of the original source?

[2019-04-09 14:40] TakuSemba commented on #2885
Thanks, glad to hear that.
Is there any chance of coming up in the next version of 2.10.0???

[2019-04-09 19:01] tipoc123 commented on #5705
Thanks! First two streams are working now. We look forward to fixes for the third stream.

[2019-04-09 19:32] #5723 closed, assigned to marcbaechinger

[2019-04-09 19:41] bjitivo commented on #5078
We have experienced this also.

anr bugreport attached

For what it's worth, as far as I can tell, this ANR is due to the synchronous waiting for a Message of type C.MSG_SET_SURFACE by the main android Looper thread via a call to SimpleExoPlayer.setVideoSurfaceInternal, which itself is called because of a clearVideoSurface() call on the player.

The Message itself must be processed by the MediaCod

[2019-04-10 01:30] marcovietovega commented on #4860
Do you have an estimate on when 2.10 will be released?

[2019-04-10 05:57] ened opened #5745 "Ability to customize a Socket"
### [REQUIRED] Use case description
ExoPlayer could be used in Apps that support multi-path networking, which means part of the applications data comes from network A, while other data comes from network B.

A typical use case could be a WiFi connection with a network camera, while the rest of the system still uses 4G for notifications & other Apps.

On Android, you can bind the entire process to

[2019-04-10 08:16] ojw28 commented on #5745
You can already implement your own `HttpDataSource.Factory` or `DataSource.Factory` to customize what happens in the network layer. Is that not sufficient for some reason?

[2019-04-10 08:57] pistolcaffe commented on #5734
is there a solution to the issue?

[2019-04-10 09:49] AquilesCanta commented on #5705
The issue with the 3rd stream (http://stand.netup.tv/downloads/tipoc/TVN_HD.ts) is that its PMT declares an audio track on PID 3620 for which there is no elementary stream. If the PMT is fixed by removing the entry for PID 3620, the TS plays correctly.

[2019-04-10 09:49] #5705 closed, assigned to AquilesCanta

[2019-04-10 09:51] DasJhaman opened #5746 "Event Listener are not firing in IMA Extention"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-04-10 10:15] T-10001 commented on #5725
I was trying to implement scrolling/swiping vertically for volume control and horizontally for seeking like in various other players. Not sure if other players use the `GestureDetector.OnGestureListener`, but it is a problem if just tapping the screen causes video to seek or volume to change.

When tapping, I would like just the controls toggle visibility like usual.

I tried subclassing `PlayerVi

[2019-04-10 12:59] karathb commented on #5740
Okay, so when the player does the license request, it should go through either of the two methods of MediaDrmCallback interface, right? Trying to add a custom callback to intercept the response headers.

[2019-04-10 13:08] tonihei commented on #5740
In the long term, we should ensure these load events are reported through the normal `MediaSourceEventListener` callbacks if possible. We can use this issue for tracking. Note that this needs some further internal refactoring such that the license load events can be associated to a MediaSource or MediaPeriod.

[2019-04-10 13:39] erdemguven commented on #5746
Please try moving builder.setAdEventListener before builder.buildForAdTag call and let us know if it fixes your issue.

[2019-04-10 16:38] ened commented on #5745
Yes that should be covering it. Apologies I didn't check that in detail.

[2019-04-10 16:38] #5745 closed, assigned to ojw28

[2019-04-10 16:59] Frank-CG opened #5747 "HLS with id3 track couldn't be parsed, "W/PesReader: Unexpected start code prefix: 4801587""
My stream:  https://pingmedia.blob.core.windows.net/hls/vod9/playlist.m3u8
In my application's debug log, it shows:  "W/PesReader: Unexpected start code prefix: 4801587",
I also tried this with the Exoplayer's demo project, it had the same result.
I use exoplayer 2.9.6, and my video source uses private stream to carry the id3 metadata.

I've looked into #3189, and use the tool "DVB Inspector" to c

[2019-04-10 17:42] tipoc123 commented on #5705
@AquilesCanta, thank you so much! You are the best!

[2019-04-10 18:32] andrewlewis commented on #5448
To follow up on the earlier point about detecting HDR support: on Android N particular devices may support HDR without tunneling, but this is not standardized so there is no standard way that capabilities may be reported. (I'm also not aware if there are non-standard ways that capabilities are reported in practice, and this would be up to individual vendors.)

[2019-04-10 18:32] #5448 closed, assigned to andrewlewis

[2019-04-11 02:22] marcochin opened #5748 "When Pre-caching next video using CacheUtil.cache, will it slow down current video's download?"
### [REQUIRED] Searched documentation and issues
- https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

- https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/cache/CacheUtil.html

- https://github.com/google/ExoPlayer/issues/5573

### [REQUIRED] Question
I want to use the CacheUtil.cache() to cache the next video, but wor

[2019-04-11 02:56] zjamshidi commented on #5719
Overriding SkipToNext works perfectly. Thanks...
I will wait for next release to implement rewind.

Good Luck

[2019-04-11 05:38] ChiragRedixibit commented on #4690
com.google.android.exoplayer:exoplayer:2.9.6

how can i disable audio for video wallpaper

[2019-04-11 06:03] DasJhaman commented on #5746
Thanks for you help! It worked like Charm! Happy Coding.

[2019-04-11 06:49] sobbe81 opened #5749 "Automatically show closed captioning/hard of hearing track based on accessibility settings"
Hi,

I'm using ExoPlayer for playback of DASH-content. I'm looking for a way to
 * Pick a certain language as default for subtitles, now done by using setPreferredTextLanguage
 * Pick cc/hard of hearing track if this setting in accessibility settings is enabled.

The DefaultTrackSelector has an API to setPreferredTextLanguage which works fine for displaying subtitle tracks.

However, my app needs

[2019-04-11 06:59] sobbe81 opened #5750 "Add TrackSelectionView to choose track selection constraints instead of specific tracks"
Hi,

I'm looking for a way to display a picker for the user to choose audio language. I'm currently using the TrackSelectionView.

However, if I have a DASH-manifest with an AdaptationSet for audio that has multiple Representations the TrackSelectionView will display all of these Representations. Even worse, if I have 4 different languages with each having 6 Representations there will be 24 differ

[2019-04-11 07:03] bcdarius commented on #4329
Some Huawei devices specifically Huawei Nova 3i (Android 8.1) are seemingly having this issue too.  @fredgc has anything conclusive come out from your discussions/investigations with Kyocera about this issue?

[2019-04-11 07:07] #5742 closed, assigned to ojw28

[2019-04-11 07:26] kenodevel commented on #5709
Thanks, i try to create a custom DataSource and i can touch those raw bytes from multicast. It seems i can only modify the data inside the read method. Is there anyway to drop some unwanted ts packet?

[2019-04-11 07:32] zjamshidi commented on #5719
Actually, rewind is very important for us. Do you have any estimate about when would you release the next version?

[2019-04-11 07:52] andreififiita opened #5751 "Using player in RecyclerView triggers java.lang.IllegalStateException: sending message to a Handler on a dead thread"
### [REQUIRED] Searched documentation and issues
I have found this that is related: https://github.com/google/ExoPlayer/issues/590 saying that the player was already released at the time play was called.
The problem is that I do not think my player was released, as I reconstruct it each time the adapter updates / binds the view

### [REQUIRED] Question
I am using a SimpleExoPlayer in a RecyclerVie

[2019-04-11 08:14] tonihei commented on #5749
Thanks for the detailed description of the problem. I think there are two enhancements in here that need to be addressed:

 1. Automatically select closed captions if `CaptioningManager.isEnabled()` is true. This should only be done if a closed caption track for `CaptioningManager.getLocale()` is available. Or the closed caption track has no language and the `selectUndeterminedTextLanguage` option

[2019-04-11 08:20] tonihei commented on #5750
That's not possible at the moment, but I mark this issue as an enhancement to add a `collapseTrackGroups` option to `TrackSelectionView`.

This option would only show one item for each track group (which is an AdaptationSet for DASH). If selected, the track selection would allow all Representations in that group if adaptive format switching is possible, or should fall back to the highest  bitrate

[2019-04-11 08:24] ItsRay opened #5752 "droppedFrames happens in 2.0 playback speed"
### [REQUIRED] Content description
When I play my video source in 2.0 playback speed by adding this line `
player.setPlaybackParameters(new PlaybackParameters(2.0f));
`, the video is not smooth and `droppedFrames` shows in log.
According to this [reply](https://github.com/google/ExoPlayer/issues/5703#issuecomment-480488209), I have tried building a release apk. This works fine for some devices. Vi

[2019-04-11 08:47] sobbe81 commented on #5749
Yes, that's sounds like it would solve my problem.

Just a clarification for one scenario:
if `CaptioningManager.isEnabled()` is false and `preferredTextLanguage` is set to "swe" and there is a closed captioning track, i.e. AdaptationSet with role=caption, available with language code "swe" this track would not be displayed. Correct?

[2019-04-11 08:47] ItsRay commented on #5703
Thank you for the answer!!
It does fix the problem on OPPO A77. But It's still not smooth on some devices. But I can't reproduce it by the sources in ExoPlayer sample, it seems only happens in high resolution contents. So I have created another [issue](https://github.com/google/ExoPlayer/issues/5752).

[2019-04-11 08:56] tonihei commented on #5749
Yes, that's my understanding of the `isEnabled` flag.

[2019-04-11 08:57] sobbe81 commented on #5749
Great!

[2019-04-11 09:35] makvasic opened #5753 "Problem with mp4 in 2.9.6 works in 2.8.4"
On 2.8.4 mp4 stream was working fine after updating to 2.9.6 I get `UnrecognizedInputFormatException: None of the available extractors...`
It's basic implementation of exoplayer in my code
[code]
But the same behavior is in demo app.

This is the [link](http://multimedia.dizajn-akademija.com/sr///Advanced_JavaScript_i_Ajax/multimedijaFinal/AJSAJ_04_01.mp4?key=e6e23905b11a87887c8b6872060a2705_ita_1

[2019-04-11 10:07] erdemguven commented on #5748
That's correct, you need to use the same PriorityTaskManager instance for your playback and caching. When the priorities set right, it should make the download paused during buffering and continue afterwards. You can check ProgressiveDownloader code to see how it is done or ideally you can just use DownloadManager so it will handle the priorities for you.

[2019-04-11 10:19] ojw28 commented on #5750
Related (they're more or less duplicates, since most of the difficulty here is in the selector itself, not the UI component): https://github.com/google/ExoPlayer/issues/1927. Can we have a single tracking issue (not fussed which one).

I think it's really non-trivial to do group level overrides properly. There's a lot of nuance involved. For example do constraints still get applied within the grou

[2019-04-11 11:47] DasJhaman opened #5754 "Access-Control-Allow-Origin' header error in IMA Extention"
### [REQUIRED] Searched documentation and issues

No solution found.

### [REQUIRED] Question

I am using IMA extention in exoplayer for Ads, getting following error while loading ads.
The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'

Some time its working some time its not working.

We have remove w

[2019-04-11 13:09] altrg opened #5755 "Multiperiod live DASH seeking issue"
### [REQUIRED] Content description
Seeking does not work properly for multiperiod dynamic DASH stream. The seek bar shows incorrect timeline and updates to wrong position.

### [REQUIRED] Link to test content
Sent by email

### [REQUIRED] Version of ExoPlayer being used
demo player 2.9.6

### [REQUIRED] Device(s) and version(s) of Android being used
Huawei FIG-LX1 Android 8.0.0

[2019-04-11 13:10] tonihei commented on #1927
We will be closing this issue because there doesn't seem to be a good use case for the requested feature.

Selecting a track group (without specifying a particular track) should be equivalent to specifying a language preference for example. If there are more specific requirements which are not captured by the `DefaultTrackSelector.Parameters`, then having the app specify all tracks seems to be fin

[2019-04-11 13:10] #1927 closed, assigned to ojw28

[2019-04-11 13:13] tonihei commented on #5750
I closed the #1927 for the reasons outlines in there.

The reasons actually apply to this case too. It seems that we should provide a `TrackSelectionView` which lets the user choose track selection constraints (e.g. audio language) instead of specific tracks. We will use this issue to track adding such a View.

(That means we won't implement the proposal in my first comment)

[2019-04-11 15:36] karathb commented on #5740
Side note: for now using a custom MediaDrmCallback seems to be the easiest solution, and works perfectly fine. Thanks for all the help so far, and waiting for the deeper integration :)

[2019-04-11 16:07] Frank-CG commented on #5747
I'm sorry for bothering you with this question. I finded the reason of it was the stream is not correct, "data_alignment_indicator" bit in the PES_header was unset, so the id3Reader doesn't consum the packet data.

[2019-04-11 16:07] #5747 closed, assigned to AquilesCanta

[2019-04-11 16:52] ojw28 commented on #5715
As a general point, it seems unnecessary to do this. If you're downloading over https there's no reason to expect that a download would be corrupt (and if you're not downloading over https, you probably should be).

[2019-04-11 16:54] #5746 closed, assigned to erdemguven

[2019-04-11 17:00] bjitivo opened #5756 "HLS: Consider providing hooks for non-standard (full segment encryption) DRM schemes"
### [REQUIRED] Searched documentation and issues
Tell us where you’ve already looked for an answer to your question. It’s
important for us to know this so that we can improve our documentation.

I searched on Google for information on integrating the DRM system that we are using with ExoPlayer.  I found some discussions but they were always closed by the ExoPlayer team as 'not something we will su

[2019-04-11 17:01] AquilesCanta commented on #5456
I'll close this due to lack of activity and a bugreport. I'll reopen if the required information is provided below.

[2019-04-11 17:01] #5456 closed, assigned to AquilesCanta

[2019-04-11 18:11] mathemandy opened #5757 "HLS VERSION 3 CONTENT NOT DOWNLOADING ON DEMO APP"
###  Issue description
HLS file from the Music app is not downloading on the demo app.
when i observed the HLS file from the demo content. it was version 6 and mine is version 3.

###  Reproduction steps
1. Replace the HLS link with the one  sent via email in the HLS section of the Json File.
2. Run app and select  the download Link for the selcted one you replaced.
3. you would notice no variatio

[2019-04-11 19:03] bjitivo opened #5758 "exoplayer.dev certificate is not trusted"
### [REQUIRED] Issue description
Describe the issue in detail, including observed and expected behavior.

On multiple systems I am using, I am finding it impossible to view exoplayer documentation from exoplayer.dev due to an security certificate issue.

I had previously been able to view the classes reference doc, which I believe must have been hosted on exoplayer.dev previously since I get to it

[2019-04-11 19:04] bjitivo commented on #5758
Hm, I am thinking that this may be due to some kind of corporate network configuration that is messing up certificates.

[2019-04-11 19:04] #5758 closed, assigned to tonihei

[2019-04-11 19:45] marcbaechinger commented on #5751
It's hard to say what happens here, because I'm not quite sure where the code above lives and when/how it is executed.

In general I think that the approach of creating, preparing and releasing the player inside a custom view is an approach which is difficult to master. You don't actually know when the view is going to be created by the system, how many instances of that view the `RecyclerView` cr

[2019-04-11 19:47] marcbaechinger commented on #5734
We changed the flag set to the PendingIntent to FLAG_UPDATE_CURRENT. The fix will be synced to Github asap.

[2019-04-11 19:52] DionataFerraz commented on #5727
Solved with that

`
import com.google.android.exoplayer2.source.TrackGroup
import com.google.android.exoplayer2.trackselection.AdaptiveTrackSelection
import com.google.android.exoplayer2.trackselection.TrackSelection
import com.google.android.exoplayer2.upstream.BandwidthMeter
import com.google.android.exoplayer2.util.Clock

typealias SelectedIndex = () -> Int?

class FixedAdaptiveTrackSelection(

[2019-04-11 19:54] DionataFerraz commented on #5727
Solved with that
OBS: it was not me that did
[code]

[code]

[2019-04-11 20:23] marcochin commented on #5748
Thanks, I'll look into it. Do you also know if CacheUtil.cache() checks storage space before caching? or what happens if there isn't enough storage space?

Edit: Nvm found my answer. If I use `NoOpCacheEvictor` I guess I'll have to manage the size myself as opposed to using a `LeastRecentlyUsedCacheEvictor` when creating my `SimpleCache` instance,

[2019-04-11 22:22] marcbaechinger commented on #5671
It seems to me that the MAG box has a problem with the language tags which are used for creating the text format.

[code]

The part in the middle seems to be 'format.toString()' of the text format you've created. The string 'Arabic' is the language tag. I would expect this to be a three or probably two letter language tag like 'ar' or 'ara' rather than 'Arabic' (see for example https://www.loc.gov

[2019-04-12 00:25] roundsmapp commented on #4924
@andrewlewis I've sent the bug report to dev.exoplayer@gmail.com, under title Issue #4924

[2019-04-12 02:58] star-andy opened #5759 "Player is accessed on the wrong thread"
### hello:
#### I modified it based on ExoPlayer v2.9.6
#### Refer to the address below  ,  Callbacks that want to increase frame time。
[https://blog.csdn.net/u010302327/article/details/79788705](https://blog.csdn.net/u010302327/article/details/79788705)

#### The figure below will prompt after adding。I would like to ask whether it will affect the program?
![image](https://user-images.githubuserco

[2019-04-12 07:01] erdemguven commented on #5759
Yes, it will cause issues. ExoPlayer instances need to be accessed from a single thread only. In most cases, this should be the application’s main thread.
https://exoplayer.dev/faqs.html#what-do-player-is-accessed-on-the-wrong-thread-warnings-mean

[2019-04-12 07:33] kenodevel commented on #5709
I think i solved my problem as i overlook the "the call will block until at least one byte of data has been read and the number of bytes read is returned" of read.

[2019-04-12 07:36] tonihei commented on #5758
Just for you information: We did change our domain on Wednesday (10 April) from google.github.io/ExoPlayer to exoplayer.dev. So this is indeed a new change. It may be that the certificates haven't been updated yet everywhere and that's the reason for the issue you were seeing?

[2019-04-12 09:53] roninshahi opened #5761 "exoplayer throws excepton when i set seekbar outside of buffered part"
hi
I m using exoplayer to play a video from sd card .and there is a problem .it seems that exoplayer is buffering the video from sd card and if I use seek bar to move forward to the not buffered parts, the video stops buffering and throws an exception :

here is my code

[code]

and here is my exceptions

[code]

i played a 60 sec video and bcuz it buffered fast there isnt a problem but if i try t

[2019-04-12 09:56] ojw28 commented on #5761
This is not something we've seen before, and I'm pretty sure it doesn't happen in the general case. It's most likely an issue specific to the piece of media you're trying to play, probably because it's malformed. Please provide us with a link to some content that reproduces the issue.

[2019-04-12 10:05] mathemandy commented on #5757
Updated to
`releaseVersion = '2.9.6'`

i was able to download the content. I am going to close this issue as resolved.
Thanks

[2019-04-12 10:05] #5757 closed, assigned to nobody

[2019-04-12 11:22] ojw28 commented on #5755
The first manifest provides a live window of around 1 hour. It also includes a `<Location>` element, which tells the player where to load the manifest from the next time it does a refresh. When we do this, we get a manifest back that only contains a tiny live window. Hence the player reduces the live window down to around 10 seconds on the first manifest refresh. I think this is working as intende

[2019-04-12 11:22] #5755 closed, assigned to ojw28

[2019-04-12 11:24] ojw28 commented on #5759
We may also turn these warnings into crashes in a future release, to force developers to use our API correctly.

[2019-04-12 11:24] #5759 closed, assigned to erdemguven

[2019-04-12 11:46] ojw28 commented on #5756
I think this is the kind of thing where we'd take a pull request provided that the changes are minimal and non-invasive. For example a small set of hooks that are sufficient to let you do what you need to do. I don't think it's something we're going to prioritize on our side, but if you want to investigate how this might be done and propose a pull request, please do so!

[2019-04-12 13:37] andrewlewis commented on #5754
Please see https://developers.google.com/interactive-media-ads/docs/sdks/html5/cors (this is for the HTML5 IMA SDK but it should apply here too). If you've followed those instructions and it still doesn't work, maybe the response is being cached somewhere?

[2019-04-12 13:37] #5754 closed, assigned to andrewlewis

[2019-04-12 16:37] marcosmagno commented on #4937
Hello .... I could not make the video play from the .exo files. Look at my scenery:
1 - I download the video via DASH. (OK)
2 - Save the .exo files locally (OK)
3 - Send the .exo files to other mobiles (via Wi-Fi connection (D2D)) (OK)
4 - I want to play the .exo files on these phones (still can not)

Codes:

1 - Download do vídeo
 threadDownload = new Thread(new Runnable() {
            @Override

[2019-04-12 16:54] #5727 closed, assigned to ojw28

[2019-04-12 17:09] bjitivo commented on #5756
Thank you for your response, I will get to work on it and make a hopefully acceptable pull request.

To be honest, I am struggling a little bit to find a 'clean' way to create this hook that does not push tons and tons of constructor arguments from HlsMediaChunk all the way up through many intermediate classes to the media segment factory.  The "cleanest" in the sense of being least disruptive to

[2019-04-12 17:11] marcosmagno opened #5762 "None of the available extractors. Error to player a video from .exo files"
### [REQUIRED] Content description
Error while playing a video from the .exo files. I'm using ExtractorMediaSource.
Code:
final DataSource.Factory manifestDataSourceFactory = new DefaultHttpDataSourceFactory("device 1");
// App initialization
File cacheDirectory = new File(getApplicationContext().getExternalCacheDir(), "downloads");
SimpleCache cache = new SimpleCache(cacheDirectory,  new NoOpCach

[2019-04-12 22:26] owjsub opened #5763 "How to avoid newly restricted getLatency interface in Android Q?"
### [REQUIRED] Searched documentation and issues
I have searched [google's issue tracker](https://issuetracker.google.com/issues?q=getlatency), [stackoverflow](https://stackoverflow.com/search?q=exoplayer+getlatency) and [ExoPlayer issues in github](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+getlatency).

### [REQUIRED] Question
In [updates to non-SDK interfac

[2019-04-12 22:33] andrewlewis commented on #5763
This method will be allowed for app usage when Q launches [internal: b/112561552]. It is fine to ignore the error in preview builds. Longer term, the audio framework team are looking into how we can get accurate latency data via a public API at all times (not only when an `AudioTimestamp` is available).

[2019-04-12 22:33] #5763 closed, assigned to andrewlewis

[2019-04-12 22:38] owjsub commented on #5763
Thanks!

[2019-04-13 01:29] marcochin commented on #5573
Correct me if im wrong, but this bug is saying the cacheTask is still downloading even though it is in the waiting state?

[2019-04-13 02:24] marcochin commented on #5573
After playing around with my own sample app. Try pre-caching AFTER the playing video starts playing.

[2019-04-13 11:23] ArshakManukyan opened #5764 "How can I play multiple videos in one screen??? i need more 1 decoders"

[2019-04-13 14:04] alexeyr15 commented on #5700
Have you managed to reproduce the case when the demo app stucks in BUFFERING state on Shield with the provided stream?

[2019-04-13 16:51] furkansenharputlu opened #5765 "SimpleExoPlayerView - Hiding buffering in seekbar"
Version: 2.7.3

I don't want to see buffering in seekbar. How can I hide it ?

I just use default `SimpleExoPlayerView`:

[code]
[code]

<img width="208" alt="Ekran Resmi 2019-04-13 19 48 29" src="https://user-images.githubusercontent.com/25665432/56082768-73233980-5e25-11e9-9a78-177b8894e467.png">

Thanks!

[2019-04-13 18:33] gowthamgts commented on #5301
@marcbaechinger @ojw28: any eta on when these changes will land on `release-v2`?

[2019-04-14 02:05] AOrobator commented on #4940
For anyone who stumbles upon this issue, it seems like

[code]

Is another symptom of this problem because gcc was removed in NDK r18b
https://developer.android.com/ndk/downloads/revision_history

[2019-04-14 11:12] gowthamgts commented on #5301
@marcbaechinger @ojw28: any eta on when these changes will land on `release-v2` branch?

[2019-04-15 05:20] hosseiniSeyRo commented on #5342
setAudioAttributes has only one parameter! why?

[2019-04-15 06:52] rrfrias commented on #4329
We have had some discussions with Kyocera but right now are waiting to hear back. We will check with Huawei as well.

[2019-04-15 09:04] erdemguven commented on #5748
That's correct.

[2019-04-15 09:04] #5748 closed, assigned to erdemguven

[2019-04-15 09:07] andrewlewis commented on #5342
@zoho1381 In the latest release 2.9.6 it takes two parameters [here](https://github.com/google/ExoPlayer/blob/r2.9.6/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L120).

[2019-04-15 09:25] erdemguven commented on #5615
Perhaps you can hide srt downloads from user. Or you can just directly download srt file using CacheUtil.cache method without using DownloadManager.

Merge SRT to HLS playlist? Exoplayer don't support rewriting playlist so even if you change the in memory state of it, it won't be persisted. Also as @AquilesCanta pointed HLS doesn't support SRT.

The ideal solution would be adding support for downl

[2019-04-15 11:50] #5724 closed, assigned to andrewlewis

[2019-04-15 11:51] #5547 closed, assigned to andrewlewis

[2019-04-15 11:51] #3100 closed, assigned to andrewlewis

[2019-04-15 14:36] levz opened #5767 "DefaultTimeBar: time label changes twice for single seek action"
### [REQUIRED] Issue description
DefaultTimeBar seek does not increment/decrement seek position accurately.

### [REQUIRED] Reproduction steps
* ExoPlayer 2.9.3
* Use DefaultTimeBar as seek time bar.
* Set seek increment using setKeyTimeIncrement(long increment)
* Set video on pause (not necessary, but it is easier to see the problem)
* Seek DefaultTimeBar with left\right dpad keys.

Expected:
* t

[2019-04-15 15:11] makazemi commented on #5739
@tonihei : So how did Udemy app implement this feature ? i know, they use exoplayer.

[2019-04-15 15:18] tonihei commented on #5739
I can't possibly know how their app is implemented and how and if they integrate ExoPlayer. You probably have a better chance of finding that out by asking the developers of this app directly.

[2019-04-15 15:37] naseeb8950925214 opened #5768 "Screen flickers when playing video in smaller region"
When playing 3K videos in exoplayer demo app, screen flickers when videos gets loaded for first time. If we play videos in full screen, everything works fine. I don't know why this flickering issue occurs only if you try to paly video in smaller region.

Link of captured issue:
https://drive.google.com/file/d/1Hdk2FpThTXhEImMr2V8nQh2ajUWGrhbL/view?usp=sharing

Link of video content:
https://drive.

[2019-04-15 22:23] #5743 closed, assigned to erdemguven

[2019-04-15 22:24] #5420 closed, assigned to erdemguven

[2019-04-15 22:39] ojw28 commented on #5751
In addition to Marc's answer above:

The stack trace you've provided means `setPlayWhenReady` was called on a released player. I think we're pretty certain of that.

You both instantiate and release players in your application code, so it should be possible for you to track this without any support from the library.

It's also unclear what the actual issue is here, since "sending message to a Hand

[2019-04-15 22:39] #5751 closed, assigned to marcbaechinger

[2019-04-15 22:53] ojw28 commented on #5762
As already stated on #4937, `.exo` files are not meant to be played directly. Neither should they be sent from one device to another. They are cache files intended to remain local to the device that cached them.

If you need to download content and then send it from one device to another, then you'll need to come up with a solution that does not use `SimpleCache` or rely on `.exo` files, since thi

[2019-04-15 22:53] #5762 closed, assigned to ojw28

[2019-04-15 23:03] ojw28 commented on #5540
Closing this due to lack of concrete or actionable information. We really need proper reproduction steps to investigate this kind of issue.

This should never happen if you're using `https`. Hence there is no real need for us to be checking MD5 checksums in the cache module. It's far more likely something else is wrong. What you describe should never happen when using `http` either, however in thi

[2019-04-15 23:03] #5540 closed, assigned to erdemguven

[2019-04-16 01:01] kaemanspk commented on #5693
Hello team, any update on this?

[2019-04-16 01:06] marcochin commented on #5573
Can confirm when the cache download pauses and the resumes because of priority switching, the `CachingCounters.newlyCachedBytes` (which is used to calculate `CachingCounters.totalCachedBytes()`) jumps up by quite a lot right when it resumes the download, always surpassing the download length specified in the `DataSpec` and even sometimes surpassing the original mp4 file size.

Hopefully, it's just

[2019-04-16 01:16] bcdarius commented on #4329
Thanks @rrfrias

[2019-04-16 09:08] SewizChow opened #5769 "Stop trying to access AudioTrack.getLatency"
I use veridex to scan the apk,find in exoplayer is in greylist-max-p
Reflection greylist-max-p Landroid/media/AudioTrack;->getLatency use(s):
       Lcom/google/android/exoplayer2/audio/AudioTrackPositionTracker;-><init>(Lcom/google/android/exoplayer2/audio/AudioTrackPositionTracker$Listener;)V

 public AudioTrackPositionTracker(Listener listener) {
    this.listener = Assertions.checkNotNull(list

[2019-04-16 09:45] ojw28 commented on #5769
@andrewlewis - I think we should just stop trying to access getLatency on Q and above. It should be fine to rely on `AudioTrack.getTimestamp`. If it's not for certain use cases then (a) we should file platform bugs, and (b) I doubt getLatency is of much help for those use cases either.

[2019-04-16 09:50] ojw28 commented on #5768
This looks like a device specific issue, which you should report to the device manufacturer.

[2019-04-16 09:53] naseeb8950925214 commented on #5768
Hi,
Thanks for reply. But this flickering only happens if we try to play 3K
high quality videos, otherwise it works fine. I don't know why this
flickering does not happen in case of 2K videos

On Tue, Apr 16, 2019 at 3:21 PM Oliver Woodman <notifications@github.com>
wrote:

--
Thanks and Regards

Naseeb Singh

[2019-04-16 09:55] ojw28 commented on #5768
It still looks like a device specific issue and should still be reported to the device manufacturer.

[2019-04-16 10:14] andrewlewis commented on #5769
It seems to be quite common for devices not to provide an `AudioTimestamp` when beginning audio playback from a cold start. For example, we may not have a timestamp for hundreds of milliseconds when starting playout to a Bluetooth audio device. We don't currently have a good alternative to using the method.

`getLatency` will remain hidden but accessible to apps when Q launches (though it's restri

[2019-04-16 10:14] #5769 closed, assigned to andrewlewis

[2019-04-16 10:55] ojw28 commented on #5767
The problem is that we're re-using code designed for touch scrubbing for key press scrubbing.

The touch scrubbing code calculates playback positions from scrubber positions as the user drags the scrubber. This incurs a rounding error because the accuracy of the calculation is limited to however much time is represented by 1 pixel of seek bar. Note that the rounding errors will be larger for longe

[2019-04-16 11:09] ojw28 commented on #5767
After a fix, it should probably be true that `getScrubberPosition` is only be called from `onTouchEvent`.

[2019-04-16 11:46] PauloLinhares09 commented on #1845
In my case was more difficult because my video is on a bottomSheet. I tested two implementations, with DialogFragment and Activity. The first works very well, but i had problem with Picture-in_Picture (Android 8). I think the option with Activity is still the best. You have more controls of Life Cicle.

[2019-04-16 12:07] SewizChow commented on #5769
thanks..

[2019-04-16 15:42] ojw28 commented on #5767
Should be fixed in `dev-v2`. Please verify if possible.

[2019-04-16 15:42] #5767 closed, assigned to ojw28

[2019-04-16 15:56] #5734 closed, assigned to marcbaechinger

[2019-04-16 15:58] ojw28 commented on #5596
This will be fixed in 2.10 because we reverted the change that introduced the issue.

[2019-04-16 15:58] #5596 closed, assigned to ojw28

[2019-04-16 15:58] ojw28 commented on #5313
Reopening this because the issue will be reintroduced in 2.10 (the original fix caused another issue that was worse than the one that it fixed).

[2019-04-16 16:09] ojw28 commented on #4057
I don't think we're ever going to do (2). It's not high enough priority. @andrewlewis - Although for a different use case, is the audio offload work likely to produce a code path that can be used to bypass the decoder and "just fix this"? If not, I think we can close this.

[2019-04-16 16:12] ojw28 commented on #4941
Should this be closed as not reproducible?

[2019-04-16 16:13] ojw28 commented on #5687
Is this a device specific issue, or are you seeing it across all devices?

[2019-04-16 20:48] makazemi opened #5770 "How to detect a media already is downloaded?"
I am using DownloadTracker and DemoDownloadService class of demo app for downloading feature in my app. I want to detect if a media already is downloaded, prevent downloading again it.In the demo app exist a isDownloaded method but when a file already is exist, didn't detect and again download the media. how to implement it ?

[2019-04-16 23:47] bjitivo commented on #5758
Thank you, yes it's working now, so I guess some information just needed some time to propogate its way through the internet to my corporate network ...

[2019-04-17 02:13] gdky005 commented on #5541
太感谢了，昨天折腾了好久，终于搞定了。

[2019-04-17 07:04] ogaclejapan commented on #5444
Thanks for looking it.
demo3 added. I found a new way to cause this problems.

It occurs when fast-forwarding is repeated :(
This problem occur if the repeat fast-forward greater than ad interval.
So it occurs even if the preload duration is very short.

<img src="https://user-images.githubusercontent.com/1496485/56267561-1cba4180-612a-11e9-8d60-4788e0c4ca39.gif" width="360"></img>

CONTENT_URL: h

[2019-04-17 08:04] andrewlewis commented on #4941
Closing as not reproducible for now. We can reopen if an updated ad tag is provided.

[2019-04-17 08:04] #4941 closed, assigned to andrewlewis

[2019-04-17 08:12] andrewlewis commented on #4057
Yes. I experimented with using the raw decoder path for offload to keep the code simple, but unfortunately this used significantly more power than fully bypassing the `MediaCodec` path. So this issue should be fixed pre-Android N as part of the audio offload work.

[2019-04-17 08:49] nilskassube opened #5771 "PlayerNotificationManager: support custom queue navigation"
### [REQUIRED] Use case description

I have a custom queue navigator not based on a TimelineQueueNavigator. Inside a media session it works fine, however integration with the PlayerNotificationManager is more cumbersome than necessary. I tried to create a subclass from PlayerNotificationManager but the next() and previous() methods are private and most of the instance variables, so additional work

[2019-04-17 09:14] jonspieg commented on #55
Thank you for this great addition to ExoPlayer. Tried it and it works great!
my use case requires ultra-low latency (~200ms) and I was wondering what are the necessary tweaks required to make it happen.
I tried reducing the buffers in DefaultLoadControl.java but this didn't seem to have much effect.

What eventually worked for me was defining a playback speed greater than 1. this results in an alm

[2019-04-17 10:47] Furystorm opened #5772 "Some audio files (MP3) can not be played correctly"
### [REQUIRED] Content description
I am using ExoPlayer demo app to play audio, some "bad" mp3 file can not be played correctly. Some can not play any sound, some can play but will interrupt with error during playing, and/or the duration time is not correct. These files are badly truncated, I guess, or somehow malformed.

An EOFException was thrown, fitting with "having read at least one byte, but

[2019-04-17 11:10] makazemi opened #5773 "end of playback don't detected for a simple .mp4 media url"
I have a playlist of mp4 and mp3 media file. I build mediaSource like this:
` DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(this,
                Util.getUserAgent(this, getString(R.string.app_name)));
        cacheDataSourceFactory = MyApplication.getInstance().buildDataSourceFactory();
        concatenatingMediaSource = new ConcatenatingMediaSource();
        for (int i = 0

[2019-04-17 12:45] ojw28 commented on #5773
There is not enough information for us to provide help here. Please provide proper reproduction steps. Ideally in the form of a minimal demo app, provided as source code on GitHub, that reproduces the problem.

I did try playing the sample file you provided. It worked fine for me, including the transition to ended.

[2019-04-17 13:10] ojw28 commented on #5772
The media is indeed badly clipped. We can likely fix playback to work. We will not fix the "bad duration" problem for the second stream (the extra 2 seconds will play out as silence).

[2019-04-17 13:40] ZiraiMode opened #5774 "Audio caching"
Can this player save audio into the local storage after dowload?

[2019-04-17 13:44] ojw28 commented on #5770
You should probably wait until `2.10`, which is fairly close to release now (approx 1 or 2 weeks) and improves download functionality significantly. This includes having the library keep track of downloads, so application code doesn't have to.

You can have a play around with the `dev-v2` branch if you want to see what the current state is.

[2019-04-17 14:00] makazemi commented on #5770
I put my code in Github. https://github.com/makazemi/basicExoPlayer

[2019-04-17 14:03] ZygmuntMalek commented on #5568
Could you provide update about this issue state ?

[2019-04-17 14:03] makazemi commented on #5773
I put my code in Github. https://github.com/makazemi/basicExoPlayer

[2019-04-17 14:39] AquilesCanta commented on #5568
The situation is that fugu is over-reporting capabilities. However, we cannot expect an update to fix this issue because it is no longer maintained.

I am not aware of ExoPlayer blacklisting tracks due to spurious capabilities reporting. @ojw28 may be able to comment on this.

I can advise you to try and implement a custom track selector (that potentially subclasses [DefaultTrackSelector](https://

[2019-04-17 18:27] mwolfe38 commented on #5765
You should update to use  PlayerView (SimplePlayerView is deprecated) and then turn showBuffering off via attribute
https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java
See line 370 and 444

[2019-04-17 18:49] stephenBC commented on #5714
You can use videoScalingMode = C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING and resizeMode = AspectRatioFrameLayout.RESIZE_MODE_FILL.

Unfortunately there is also an issue with that solution when swiping, the aspect ratio gets changed like it is ignoring the scaling mode.

[2019-04-17 19:16] kvillnv commented on #5730
@jefftinker please let me know if there is anything else I can do to help.
And what's your first thought about this particular issue on P?

[2019-04-17 23:44] ojw28 commented on #5773
The project does not compile (e.g. it references classes that aren't present in the project, such as `com.struct.red.alltolearn.Utils.DownloadTracker`).

[2019-04-18 02:11] W2L opened #5775 "OutOfMemoryError -ExoPlayer2.9.6"
in case of HLS stream:
device: PAR-AL00（HUAWEI）, android8.1.0

BOARD=PAR
CPU_ABI2=armeabi
HOST=lf068887b251534238872632-265638860-1p28c
versionName=14.0
IS_TREBLE_ENABLED=true
SUPPORTED_64_BIT_ABIS=[Ljava.lang.String;@8615d1d
CPU_ABI=armeabi-v7a
PERMISSIONS_REVIEW_REQUIRED=false
IS_USERDEBUG=false
DISPLAY=PAR-AL00 8.2.0.132(C00)
SUPPORTED_ABIS=[Ljava.lang.String;@d41ab92
FINGERPRINT=HUAWEI/PAR-AL0

[2019-04-18 04:22] IgorMan2 commented on #55
Please, can you help to me with example of playing rtsp sream via exoplayer? Just simple example.

[2019-04-18 05:59] jhchung03 opened #5776 "IMA SDK v3.11.2 compatibility"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be