[2020-05-20 15:58] christosts commented on #7405
This API was added to help us debug/resolve ANRs we see in the field. We wanted to see if ANRs are caused by ExoPlayer.release() and we added the timeout so these ANRs would now be Timeout exceptions. Note that this would not solve the underlying issue that something is blocking Exoplayer.release(). If ExoPlayer.release() is blocked and times out, it's highly likely that underlying resources (like

[2020-05-20 16:38] AquilesCanta commented on #7403
To summarise, you need to inject a [DefaultDrmSessionManager](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.html) into the MediaSource you are using. The [best example I can give you](https://github.com/google/ExoPlayer/blob/7d3f54a375fac04a746ca76a8f2e1ad32c8b45b2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L517)

[2020-05-20 16:38] #7403 closed, assigned to AquilesCanta

[2020-05-20 16:57] buntupana commented on #4727
The `ClippingMediaSource` workaround is working for me, I use FFprobe to get video duration since I have the videos in the device and is easy to access to them. But it would be nice for this feature work out of the box as expected. Thanks to the development team for this great player.

[2020-05-20 17:12] CBCSeanNguyen commented on #7041
Hey Andrew, it looks the issue is resolved using dev-v2

What would be the timeline for this release?

Thanks a bunch!

[2020-05-20 18:14] stevemayhew commented on #7392
Ah, yes I see that now.   So the `maxWeight` bounds the size of the list (a very good thing, given our use case should be able to play live "tv" for multiple hour sessions)

[2020-05-20 19:28] krocard commented on #7352
Testing your content with our demo app from our development branch (1), it ExoPlayer can play it without issue with it's `Mp4Extractor`).

I'll try again from 2.10.8, the version you are using.

(1)` adb shell 'am start -a com.google.android.exoplayer.demo.action.VIEW -d "https://images2.bestjlb.com/jlbapp/5e09875981b2214e548f2eb09aac0e48/2020/05/v2jlbosscddf49b7d06c8d44b75253ec14b8987c(540x960)(7

[2020-05-20 19:55] krocard commented on #7352
I can confirm the issue existed on 2.10.8 but is fixed on the latest version 2.11.4. Please update your version of ExoPlayer to the latest release.

[2020-05-20 19:55] #7352 closed, assigned to krocard

[2020-05-20 20:04] krocard commented on #7354
@jhwsx Thanks, we received the link. I unfortunately do not have have the permission to access the file. Could you give me read access? You should have received an email with my permission request.

[2020-05-20 20:08] krocard commented on #7346
@andrewlewis, sorry to assign you this issue but this seems to be a bad media case (1) and I don't know of a way to validate the h265 stream. None of the validators online seem to be free/easy to use.

(1) handled differently on certain devices. if the stream is correct, then this is a device specific decoder issue

[2020-05-20 20:31] krocard commented on #7381
Looking into the bug report, I can not see any ExoPlayer related logs. Do you mind pointing me to which error you are refering to?

[2020-05-20 20:36] krocard commented on #7381
Additionally I don't see any activity in the 25 min before the bug report was taken. It would be helpfull if the bug report was taken just after the issue occured.

[2020-05-20 20:37] krocard commented on #7381
Would it be possible for you to take an other bug report or tell me at what time the issue occured in the one you sent us?

[2020-05-20 20:47] krocard commented on #7381
Or do you mean the IllegalStateException that was thrown at 19:09 (26h hours before the bug report was taken):
[code]

Unfortunately, this code is not part of Android, so I can only guess from the function signatures.
It looks like an error when the screen is turned off and BT connection with the TV remote is disconnected.
The wake lock was released just before:

[code]

I don't think this error i

[2020-05-20 20:50] krocard commented on #7381
I don't think the playback error is part of the bug report. Please take an other one just after the stream playback error.

[2020-05-20 20:58] krocard commented on #7381
Additionally, the Dash manifest you sent us is using http:// and not https://. Maybe you're hitting this playback error just because of a cleartext restriction?
Consider checking that you are using an https URL in your app.

[2020-05-21 01:08] Romantic-LiXuefeng commented on #7351
@tonihei  Do you have time to look at this issue?  Thanks!

[2020-05-21 01:41] jhwsx commented on #7354
Sorry，but I‘m not familiar the use of Gmail. I have enabled sharing settings by clicking a button. Could you please check whether the read access has been given.
Thank you very much.

[2020-05-21 02:00] rishun-fsi commented on #7371
Hello @ojw28 ,
I am sorry that this URL is not accessible for now, We are trying to fix that problem as soon as possible, please wait us there for a little longer, thank you.

[2020-05-21 02:15] yamagata1037 opened #7406 "Using SilenceMediaSource with shuffle mode enabled"
I'm using a `SilenceMediaSource` to add a gap between tracks in a `ConcatenatingMediaSource`.
The problem I faced is that when shuffle mode is enabled, these gaps don't work as expected.
And there are also some problems related to it.
For example, `TimelineQueueNavigator` tries to create a `QueueItem` for just a gap.
These problems seem to be caused by `SilenceMediaSource` having its own `Window`.

[2020-05-21 04:24] ghost commented on #7366
Yes, It is working.
Thank you so much for help and support.

[2020-05-21 05:59] ghost commented on #7365
There are 5 videos in `ConcatenatingMediaSource`. And play them with `ClippingMediaSource`
I have used like below:
[code]

Here I have choose 2 videos of `29568` and `29168` milliseconds. But I have split 1st video in 4 section and use `ClippingMediaSource` to play specific duration.
I am seeking seekbar to 5th video means `currentWindowIndex = 4`.
Then player start 1st video means `currentWindowI

[2020-05-21 07:08] stari4ek commented on #7405
This functionality was adopted recently. So I need at least 1-2 weeks to collect enough data to compare.

BTW, this is how it looks like:

[code]

7sec to release surface

or even more:
[code]

Theoretically I can re-schedule surface release to next frame in main thread, to get rid of those guard, but I will get ANR for service anyway, since `release()` is processed in main thread.
ANR:
[code]

[2020-05-21 07:14] fgl27 opened #7407 "Commit "Implement format to encoding for AAC" causing playback issue"
### [REQUIRED] Issue description
After the commit
https://github.com/google/ExoPlayer/commit/535e14cb4d69ca41f91118cf2bd201ea94746d53

Some TV devices start to have a issue, those TV devices are connected to soundbar devices and have the issue, if the soundbar is disconnected no issue.

The player doesn't play only shows a frame as if it was paused no sound.

See more here:
https://github.com/fgl2

[2020-05-21 08:12] andrewlewis commented on #7407
This looks similar to #7404.

[2020-05-21 08:26] fgl27 commented on #7407
Yes seems so hadn't notice it before open this. Issues can be combine if necessary, please close this if that is the case.

The reference of commit  https://github.com/google/ExoPlayer/commit/0de9c007afcbc0fb6c753794afc902eb4aaa47b4 on the other issue seems odd after all it change variables name.

Only the commit from the title of this issue affects the devices according to users test.

[2020-05-21 08:33] krocard commented on #7366
You're welcome!
I'm closing this issue as your questions are answered.

[2020-05-21 08:33] #7366 closed, assigned to krocard

[2020-05-21 08:42] krocard commented on #7354
Thanks @jhwsx, I was able to download your media. Will test it now.

[2020-05-21 09:22] andrewlewis commented on #7407
@fgl27 Thank you for the information.

Could you log what the supported encodings are in the `AudioCapabilities` just before [this line](https://github.com/google/ExoPlayer/blob/df0d115/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L421)? I think one possible explanation is that the device is reporting support for AAC passthrough but it doesn't actually work.

[2020-05-21 09:48] krocard commented on #7354
The issue seems to come from the SampleDataQueue. It allocates an 132MB link list of of more than 2000 element, each containing a Byte[] array of around 64kiB.

This also forces many garbage collection, around ~31 per second. (I also wonder if a 2k depth is bad for GC perf?)

[2020-05-21 10:01] krocard commented on #7354
Given that the file bitrate is 42Mb/s, and that the default buffer size is ~5s~ 50s, ~210MB~ 260MB (1) are expected. I observe 123MB though.

What is also surprising is that the DEFAULT_VIDEO_BUFFER_SIZE is of 500 elements of 64k (32MB). But I'm measuring 2k element in the link list.

(1) the *bit*rate is in _bits_, not bytes and 50000 is 50s, not 5s, as corrected by @ojw28,

[2020-05-21 10:15] ojw28 commented on #7354
That's 42Mbit/s right? So you'd only expect 210/8 = 26MBytes for 5 seconds.

[2020-05-21 10:15] krocard commented on #7354
@jhwsx, by setting `prioritizeTimeOverSizeThreasholds` to `false`, the sample queue is limited to around the expected 32MB.

[2020-05-21 10:20] krocard commented on #7354
Correct. I definitely do not understand why so much memory is used then.

@tonihei could you take a look?

In your demo app, this could be done as such:
[code]

[2020-05-21 10:22] fgl27 commented on #7407
OK, I made a request for the users that have the defective device, as I don't . They will send a bugreport and I share the `AudioCapabilities` result after.

I start the player without changing `AudioCapabilities` you can see it here:

https://github.com/fgl27/SmartTwitchTV/blob/master/apk/app/src/main/java/com/fgl27/twitch/PlayerActivity.java#L345

Technically the only renderer changed is to disa

[2020-05-21 10:24] ojw28 commented on #7354
The default buffer size is 50 seconds, not 5. So that probably explains the difference.

[2020-05-21 10:28] krocard commented on #7354
Definitely explains it then, thanks for double checking my (wrong) math.

[2020-05-21 11:02] #7336 closed, assigned to kim-vde

[2020-05-21 11:27] ojw28 commented on #7397
Particularly in cases where you want a fast answer, please take care to ensure you've provided sufficient information for us to help. For example, concrete reproduction steps ("transfer files from one place to another" could mean many things). Or ideally a small demo app that reproduces the problem, so that we don't have to spend time re-building the same thing in order to see what the problem is.

[2020-05-21 11:35] marcbaechinger commented on #7396
Thanks for reporting. Seems like something changed in 4.1.0.310049754.
What is the package name of this app? Is this [katniss](https://play.google.com/store/apps/details?id=com.google.android.katniss&hl=en_GB)?

On what device can I repro this?

What is the voice command you are issuing and how does Assistant behave when you issue the command? Does it pretend it works but the command does not arri

[2020-05-21 11:38] marcbaechinger commented on #7389
The library will not help you to figure out the type with a generic URI. You need to know the type of the stream and then create the appropriate media source as described above.

[2020-05-21 12:01] marcbaechinger commented on #7365
I think it happens when the player has finished playing and transition to `STATE_ENDED`. You log something to the console so you probably have more event listeners than you showed in the code snippet above.

Firstly, I'd recommend again to remove the case `TIMELINE_CHANGE_REASON_DYNAMIC` from `onPositionDiscontinuity`. That might be confusing. Then I'd look what the code does in `onPlayerStateChan

[2020-05-21 12:06] mseroczynski commented on #7397
Thanks for fast response. Let me get one thing clear here - are you suggesting that transfering files (copy A->B, delete A) from one directory to another while player is released works in ANY scenario and reproducing this particular bug is anyhow complicated...? In such case - in which scenario it works?

[2020-05-21 12:27] Verdurakh commented on #7385
I was actually able to identify  one more threading issue as you said that was only used in rare cases where I called the player from a TimerTask that I in my mistake thought would play out on the main thread on its completion.
I've uploaded the new version and will wait and see if it solves the issue.

Another question, even though the crash was caught in Crashalytics would it really have created

[2020-05-21 12:38] fgl27 commented on #7407
Here is the device AudioCapabilities:

`AudioCapabilities[maxChannelCount=8, supportedEncodings=[2, 5, 6, 7, 8, 10, 11, 12]]`

[2020-05-21 12:42] andrewlewis commented on #7407
Thanks! That maps onto ENCODING_PCM_16BIT, ENCODING_AC3, ENCODING_E_AC3, ENCODING_DTS, ENCODING_DTS_HD, ENCODING_AAC_LC, ENCODING_AAC_HE_V1, ENCODING_AAC_HE_V2.

I'm a bit surprised that the AAC encodings are included, and we should only try to use those once we are sure `DefaultAudioSink` handles them correctly and that passthrough playback actually works with them. I have made a change that will

[2020-05-21 12:44] andrewlewis commented on #7407
For now I will mark this as a duplicate of the other issue as the underlying cause is probably the same. Please follow that issue to get an update when we push the fix. Thanks again for the debugging help!

Duplicate of #7404

[2020-05-21 12:44] #7407 closed, assigned to andrewlewis

[2020-05-21 12:45] fgl27 commented on #7407
OK you welcome. We test again dev-v2 and let you know the result after I see the new changes.

[2020-05-21 13:03] ojw28 commented on #7397
I tried downloading something in the demo app into a cache using directory A, moving the cache directory to B, updating the demo app to use cache directory B, and it was able to find and use the cache files fine at their new location. So yes, there are scenarios where this appears to work.

[2020-05-21 13:08] tonihei commented on #7385
That's the problem with multi-threading issues - they aren't easy to reproduce. It's likely that this caused a crash for the users where it occurred because there is no try/catch block that could have caught the exception.

To make it easier to detect such problems in the future, we will throw immediately when the player is used from the wrong thread in one of the next ExoPlayer releases. This way

[2020-05-21 14:12] ghost commented on #7365
Yes, I have checked seek position and changed it.
Now it is working.
Thank you so much for your help and support.

[2020-05-21 14:27] aureobeck commented on #7396
Yeah this was katniss. They just published a new version yesterday (3.14.2.312211540 ) and now it's working as expected. Probably they fixed the issue, thanks!

[2020-05-21 14:30] marcbaechinger commented on #7396
Ok, thanks for letting me know. I'm closing this issue. Please re-open if you notice further problems.

[2020-05-21 14:30] #7396 closed, assigned to marcbaechinger

[2020-05-21 14:32] marcbaechinger commented on #7365
Cool. Thanks for letting me know. I close the issue. Please re-open if required.

[2020-05-21 14:32] #7365 closed, assigned to marcbaechinger

[2020-05-21 14:33] marcbaechinger commented on #7206
I'm closing this issue assuming the pr #7367 fixed the problem. Please re-open if you think this is required.

[2020-05-21 14:33] #7206 closed, assigned to marcbaechinger

[2020-05-21 14:46] aureobeck commented on #7206
Greetings, @marcbaechinger , sorry for late response. I'm still having trouble to test a local branch of Exoplayer on our Cordova app. Since we have some dependency complexity, but we're working on it. I'll let you know if the problem persists.

[2020-05-21 14:48] tonihei commented on #7406
This will be possible once we implement #4868. This enhancement will allow you to merge multiple sources together as if they were only one item (=only one window). Doing that will allow nice interaction with UI, MediaSession, skipping items, etc.

Marking as duplicate.

[2020-05-21 14:48] #7406 closed, assigned to tonihei

[2020-05-21 15:03] morfeo9950 opened #7408 "What library version is used on the demo that we download?"
[No further info]

[2020-05-21 16:21] #7338 closed, assigned to dturner, Samrobbo

[2020-05-21 16:22] #7404 closed, assigned to andrewlewis

[2020-05-21 16:25] tonihei commented on #6322
This is now supported with PR #7244.

[2020-05-21 16:25] #6322 closed, assigned to tonihei

[2020-05-21 16:26] tonihei commented on #2848
This is now supported for HLS (with PR #7244), but not yet for DASH or SmoothStreaming.

[2020-05-21 17:15] ojw28 commented on #7408
If by "download" you mean cloning the git repository, as documented [here](https://exoplayer.dev/demo-application.html#getting-the-code), then you're getting and building both the demo app and the library as source code. So it depends on what branch or release tag you've checked out. If you just do
[code]
then you'll get the release branch, which will contain the latest stable release. However aft

[2020-05-21 17:15] #7408 closed, assigned to ojw28

[2020-05-21 20:02] ojw28 commented on #7369
If you were to properly fill out our issue template then we'd be in a much better position to be able to help you, and your issue would be more likely to get attention. It's simply not possible for us to tell you what's wrong based on the information provided.

Please could you provide the information that the issue template asks for? In particular, having access to a test stream and license serve

[2020-05-21 21:50] Verdurakh commented on #7385
It seems like the last change resolved my issue, thank you for your help.

And yes I think that would be a good change, logs can be hard to find if they are not thrown in a common function

[2020-05-21 21:50] #7385 closed, assigned to tonihei

[2020-05-22 00:22] akram-shaikh-7 opened #7409 "Exoplayer downloadinga a single media in different files with .exo extension"
So I'm using exoplayer to download and stream audio file but when i downloading media exoplayer downloading media in different files with .exo extension and when i try to play file(which have most size) it started playing but it's not playing entire audio And close automatically.
How can i download audio in single file instead of multiple files.

[2020-05-22 02:33] fgl27 commented on #7404
After https://github.com/google/ExoPlayer/commit/1bc8503a9bc55c8eba69c46ce6dfcd6a2c86d433

Content plays fine.

Thank you for the help @andrewlewis

[2020-05-22 03:17] YiBeeM commented on #6168
Same problem Android 5.1

[2020-05-22 05:32] Clement-Jean opened #7410 "Can we override visibility of prev and next button ?"
After trying to do something like:

[code]

I noticed that the button doesn't appear on Android studio preview but appears when I'm running the app. I then checked the source code and found that it comes from here:

[code]

Is there a way to override the visibility or should I do a PR (replacing VISIBLE by view.visibility) ?

EDIT:

Just to be clear, I think it should be possible to display it jus

[2020-05-22 05:45] fgl27 opened #7411 "Mi Box S: 90% frame drops on 9XXp60 but OK for 1080p60"
### [REQUIRED] Issue description

When playing 9XXp60 content the player will constantly drop frames, when playing the same content but on higher quality 1080p60 and higher bitrate no problem.

After some time paying the problematic video the audio start to get out of sync as more one whatch more out of sync it gets.

The app can check codecs capability and allow user to enable and disable them, b

[2020-05-22 05:51] shiv-u commented on #7401
I got it working as you suggested but the number of bytes which I get from onLoadCompleted is slightly more than the original video size, is there any explanation for that ?

[2020-05-22 06:24] icbaker commented on #7409
It sounds like you're trying to play the downloaded files directly? That's not how the ExoPlayer `offline` package is intended to be used:

https://exoplayer.dev/downloading-media.html#playing-downloaded-content

ExoPlayer decides how many files to split the downloaded content into - these files are an implementation detail, and you shouldn't be accessing them directly.

[2020-05-22 07:07] Aravindraj93 commented on #7373
@andrewlewis I am still not able get the Ffmpeg extension to work.

[2020-05-22 07:08] Aravindraj93 commented on #7373
@andrewlewis Atleast could you guide me what changes I need to make in the code after adding the ffmpeg extension?

[2020-05-22 09:01] jhwsx commented on #7354
Well done!

[2020-05-22 09:01] #7354 closed, assigned to krocard

[2020-05-22 09:26] gautam4you opened #7412 "How to hide Skip button from ads player"
.

[2020-05-22 10:06] RamilGabdrakhmanov opened #7413 "Fail to seek in buffered part without internet connection."
###  Issue description
Im trying to seek in buffered part without internet connection.
Expected result: it is possible to start playback
Actual result: Exception

Video: [device-2020-05-22-130034.mp4.zip](https://github.com/google/ExoPlayer/files/4667340/device-2020-05-22-130034.mp4.zip)

Click listener for "2 SEC FORWARD":
`new OnClickListener() {
      int initial = 4000;
      @Override
      p

[2020-05-22 12:30] S0und opened #7414 "SurfaceView vs. TextureView in a scrolling container on N+ devices"
### [REQUIRED] Issue description
According to the [documentation](https://exoplayer.dev/ui-components.html#choosing-a-surface-type), if the application is running on a N+ device, playback in a SurfaceView should work just as well as TextureView in an scrolling container.

My issue is, in my project this doesn't seems to be true. SurfaceView turns black even on Pie.

I'm showing an imageview on top

[2020-05-22 13:13] #7412 closed, assigned to nobody

[2020-05-22 13:13] gautam4you commented on #7412
s

[2020-05-22 13:20] gautamlook opened #7415 "How to hide skip ads button from IMA ads player"
Hi support,

I want to hide skip button from ads even if passed by the vast tag. is it possible? please reply as soon as possible.

[2020-05-22 14:17] bibutikoley opened #7416 "Some videos don't play. It gave me codec error"
[code]

<details>
  <summary>full stack trace</summary>
E/ACodec: [OMX.google.aac.decoder] ERROR(0x80001001)
    signalError(omxError 0x80001001, internalError -2147483648)
E/MediaCodec: Codec reported err 0x80001001, actionCode 0, while in state 6
E/ExoPlayerImplInternal: Internal runtime error.
    java.lang.IllegalStateException
        at android.media.MediaCodec.native_queueInputBuffer(Native

[2020-05-22 18:33] aureobeck commented on #7206
FYI @marcbaechinger @inv3rse we were able to test this and resuming after seeking seems to be working now on dev2 branch 🚀️🚀️

[2020-05-22 20:43] mddrill opened #7417 "Audio is not being played from local cache"
### [REQUIRED] Searched documentation and issues

I have Looked through the issue tracker, the exoplayer documentation for downloading media as well as stackoverflow

### [REQUIRED] Question

I am using a CacheDataSourceFactory to download mp3s for offline access both during streaming and via direct downloading with a DownloadService. In both cases I can see files being created in my download dire

[2020-05-23 02:26] chitrang200889 opened #7418 "Overlapping GLSurfaceView on SurfaceView and vice versa"
ExoPlayer - SurfaceView

Camera2 + MediaCodec - GLSurfaceView

I am using the above view groups for playing video and camera recording.

**UI-1:** **Exo-Surf** at the center and **Cam-GLS** in the top right corner.

**UI-2:** **Cam-GLS** at the center and **Exo-Surf** in the top right corner.

![20200522_210750](https://user-images.githubusercontent.com/4860999/82719679-b5e75000-9c7a-11ea-9dc0-a02

[2020-05-23 08:58] tpiDev opened #7419 "DefaultTrackSelector - preferred audio/text based on track id."
**DefaultTrackSelector - preferred audio/text based on track id.**

### [REQUIRED] Searched documentation and issues
Found: https://github.com/google/ExoPlayer/pull/4886 which describes possibility of override `DefaultTrackSelector#selectAudioTrack` which could be probably point of start to select expected track by ID with `TrackSelection.Definition`, but it looks more like a workaround for this c

[2020-05-23 09:43] christosts commented on #7405
The API is back in commit [1154e80](https://github.com/google/ExoPlayer/commit/1154e8098ab079f5faf9c2cd1decc2339468c118). We'd appreciate if you provide any findings once you collect data. Thanks!

[2020-05-23 09:57] tpiDev commented on #7419
**Update**: It turned out logic is more complex, so it won't work with simple compare track id  in our case - it seems not proper for public PR.  However question would stay if it will be safe to rely simply on overriding of ```DefaultTrackSelector.selectAudioTrack``` to provide expected ```TrackSelection.Definition```

[2020-05-23 14:38] meixililu opened #7420 "how to play pcm file with exoplayer,can't find any tutorial."

[2020-05-23 14:39] meixililu commented on #7420
can anybody help?

[2020-05-24 07:50] stari4ek commented on #7405
Great. Thank you,

I've adopted it for `ExoPlayer.release()`. So it clearly minimizes specific repro path:

![image](https://user-images.githubusercontent.com/327778/82748522-255c5d00-9dab-11ea-90e2-d3c50951bd78.png)

[code]

But it's better to watch if there are any side effects for it.

Also I will check how it works for `clearVideoSurface()`. Overall ANR rate is x4 higher for it, since `setSurf

[2020-05-24 08:42] stari4ek opened #7421 "Demo player debug build fails due 65k classes dex limit"
### [REQUIRED] Issue description
After updating to most recent dev-v2 (dac3dde7bb8d79e785f65b0c0c7b7425f41dffa6) there is an issue when building Demo:

[code]

Most probably it was introduced with Guava dependency (https://github.com/google/ExoPlayer/commit/b9157a9e232a9a8b1e1c1ce3e68f924d853a5c52) and `multiDexEnabled true` should be added to `build.gradle`

### [REQUIRED] Reproduction steps
Buil

[2020-05-25 02:14] ryanheise commented on #7230
The error also happens with this OGG file:

https://ia802702.us.archive.org/33/items/prideandprejudice_1005_librivox/prideandprejudice_01_austen.ogg

[2020-05-25 02:35] YiBeeM commented on #6168
发现出现这个问题是因为，调用prepare()之后500ms内调用setPlayWhenReady(false)导致的。

[2020-05-25 06:50] javalue commented on #7400
yes,it waste downloading data more than video file size.And i don't know why DefaultHttpDataSourceFactory like that.

[2020-05-25 08:08] billyjoker commented on #7230
The fact is though using the Google Chrome integrated player, it takes a long time to load and play the file. So finally i decided to recode these conflictive ogg files with Audacity and now they are playing well and fast.

[2020-05-25 08:54] stari4ek commented on #7405
Ah. I had false assumption that there is same kind "timeout" functionality for `clearVideoSurface()`. But there is no one.

I have bunch of 10-60-sec timeouts there. Like posted above.
Here is another one:

[code]

Is it better to create new issue?

[2020-05-25 09:38] jakoss opened #7423 "Enhanced silence skipping implementation"
### Issue description
We are playing HLS tracks and facing skip silence issues. Attached project reproduces problem exactly. On some track, especially on film music, skip silence just rolls over few second with no apparent reason. This produces very strange audio glitches and it's confusing for the end user.

### Reproduction steps
[SkipSilenceRepro.zip](https://github.com/google/ExoPlayer/files/4

[2020-05-25 11:59] tigerss opened #7424 "Question: Copy cached video to file"
I would like a review for the code below to copy from cache to file and also leave this for future reference in case someone else is looking if the code is correct. Thanks!

I found a suggestion to use the TeeDataSource to [copy from cache to file](https://github.com/google/ExoPlayer/issues/6745#issuecomment-566179054)

[code]

FileDataSink - writes data to file
[code]

[2020-05-25 12:22] aureobeck commented on #7206
Any ideas when can we expect a new version @marcbaechinger?

[2020-05-25 13:05] mrcodeelements commented on #3750
+1
I need this to eventually insert ads in between audio playback items.

You could at least warn developers about this. The documentation of AdsMediaSource just tells us that it can't be put into a ConcatenatingMediaSource, but there is no hint that you can't put a ConcatenatingMediaSource _into_ it.

[2020-05-25 14:02] mseroczynski commented on #7397
Ok, the reason of this bug was different. ExoPlayer creates *.uid file on storage to recognize cache directory and this file need to remain untouched. If it is deleted by external mechanism ExoPlayer will continue to use such cache (will successfully download new files without problem etc.) but when app is restarted (and ExoPlayer is initialized again) it will delete these files from unrecognized

[2020-05-25 15:29] #7323 closed, assigned to marcbaechinger

[2020-05-25 16:51] roundsmapp commented on #4924
Any news on this issue?

[2020-05-26 01:07] #7292 closed, assigned to christosts

[2020-05-26 05:56] bhaskarraj commented on #7322
Thank you for the information.

[2020-05-26 06:17] chladto1 commented on #7161
Media playback is still getting stuck even in `dev-v2` branch.

[2020-05-26 07:14] andrewlewis commented on #7322
Reopening to track the enhancement.

[2020-05-26 08:23] andrewlewis commented on #4924
I don't have the affected device here so there's not much we can do to investigate. If the issue is reproducible having taken all available system updates and it seems to be device-specific the best option may be to report it to Samsung.

[2020-05-26 08:34] andrewlewis commented on #7423
The implementation in ExoPlayer at the moment is quite simple and doesn't fade the audio out/in across silent portions. I guess this may be causing the strange artifacts when there is music in the stream. We tested this feature on spoken content without music. We have a task on our roadmap to improve silence skipping (including ramping audio out/in) but it is currently low priority.

In the short

[2020-05-26 08:45] jakoss commented on #7423
Thanks for the answer, i will try and tweak those constants

[2020-05-26 09:00] andrewlewis commented on #7415
I think this isn't possible, as in general customizing the ad overlay UI is against the IMA SDK policy (see [this thread](https://groups.google.com/forum/#!searchin/ima-sdk/customize$20skip%7Csort:date/ima-sdk/c9Ed45PedFk/dErEDgndIQAJ)). If the ad tag specifies that the ad is skippable, the user should be able to skip it.

[2020-05-26 09:00] #7415 closed, assigned to andrewlewis

[2020-05-26 09:14] andrewlewis commented on #7373
Sorry for the delay. The Elephants Dream stream provided above has AAC audio so I'd expect it to play fine without the ffmpeg extension. Are you sure you need to use it?

If you really do need to use the ffmpeg extension you'll need to compile ffmpeg with AAC support (see the [readme](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md) for the ffmpeg extension). The ma

[2020-05-26 09:18] ghost opened #7425 "Any information/roadmap of when issue #7207 will be released in production?"
### [REQUIRED] Searched documentation and issues
This issue solves the problem that is stopping us form updating Wowza to 4.8
https://github.com/google/ExoPlayer/issues/7207

I have tried to search for a public roadmap of when the different bug fixes are going to be merged from development to production, but I cannot find any such information.

I see that the question of a roadmap has been answere

[2020-05-26 09:26] tonihei commented on #7401
That's hard to say without example media and concrete reproduction steps. Could possibly be related to seeks in the media (e.g. to read metadata at the end of the file), or user-initated seeks that resulted in the same data read twice, or network errors that resulted in a retry of the same data.

[2020-05-26 09:49] tonihei commented on #7351
I checked your demo application with a poor connection. Everything seems to work as expected, including waiting for at least 5 seconds of media before the state changes from BUFFERING to READY after a rebuffer.

If you still think there is an issue, please attach the output of the `EventLogger` from logcat here and explain where you think the problem happens. The logcat output shows the timestamps

[2020-05-26 10:26] Samrobbo commented on #6705
Hi, the above referenced commit has added the functionality you were hoping to see.

To use this, you would have to pass a custom SilenceSkippingAudioProcessor to the DefaultAudioSink. However to do this, you will need to override the DefaultRenderersFactory, changing the buildAudioRenderers method (which is where the DefaultAudioSink is created).

The following snippet is an example of how you wo

[2020-05-26 10:26] #6705 closed, assigned to Samrobbo

[2020-05-26 10:40] VeiZhang opened #7426 ""*mp4?type=m3u8" cause error media source"
### [REQUIRED] Searched documentation and issues

### [REQUIRED] Question
The movie link end with **"mp4?type=m3u8"**, use exo player with `TYPE_OTHER` to watch the movie, and then it caused `UnrecognizedInputFormatException`. But my android platform support the video format, I try again with `TYPE_HLS`, it works well.
**Is there any good ways to solve it?**

### A full bug report captured from th

[2020-05-26 11:04] ryanheise commented on #7230
This is still an issue in apps like podcast players where the app is tasked with playing whatever URL comes from the feed.

[2020-05-26 11:28] christosts commented on #7410
@ojw28 can you take a look?

[2020-05-26 11:40] christosts commented on #7400
The fact that you see data usage going down when using a local cache means the videos are played more than once. So maybe the app is asking the player to do more things that just a play a video once.  For example, is the repeat mode on? Or, are you using the ConcateningMediaSource for a playlist anywhere in your app, which would make the player preload new items?

You may also want to verify what

[2020-05-26 11:44] #7397 closed, assigned to ojw28

[2020-05-26 11:55] krackjack234 opened #7427 "Understanding Exoplayer BUFFERING and READY state"
### [REQUIRED]
Searched documentation and issues but have few doubts

### [REQUIRED]
Have below questions on the behavior of exoplayer and its different state transitions

1. Can the player starts playing when it is in STATE_BUFFERING state and not in STATE_READY state but playWhenReady is true? I think this can happen if player has downloaded minimum duration of data but has not reached the max b

[2020-05-26 12:08] harshmittal29 commented on #7295
Hello @AquilesCanta checking on this again. Any help on this would be great.

[2020-05-26 12:33] christosts commented on #7411
Can you please check the status of the 9XXp60 stream? Chunk downloads return HTTP  403.

[2020-05-26 12:46] andrewlewis commented on #7041
Glad to hear that it's fixed. We generally don't give a concrete timeline as unexpected things can come up but I expect it will be within the next week or two.

[2020-05-26 12:46] #7041 closed, assigned to andrewlewis

[2020-05-26 13:12] fgl27 commented on #7411
I don't control the content it may have expired or was removed. The clip is from the stream use that for a test as it produce the same problem.

I share a new working vod later.

[2020-05-26 13:21] marcbaechinger commented on #7427
Regarding question 1) The player doesn't start rendering when in `STATE_BUFFERING`. The player starts playing when in `STATE_READY`.

You are correct for question 2) in saying that the player downloads data even when `playWhenReady==false`. When the player is prepared, it transitions from `STATE_IDLE` to `STATE_BUFFERING` until enough data is available to transition to `STATE_READY`. This happens

[2020-05-26 13:29] marcbaechinger commented on #7426
If you want to play an HLS stream, then you need to use a `HlsMediaSource`. So you need to use `TYPE_HLS`. An HLS stream provides a playlist which is a text file this needs to be interpreted by the player to then download the adaptive media. The error you are seeing and posted above occurs because the `ProgressiveMediaSource` is used and it tries to interpret the text playlist as a media file. Thi

[2020-05-26 13:31] christosts commented on #7416
Can you please provide more information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

This looks like a device/content specific issue, so we will need some test content, the player version, the device and Android version.

If you're unable to share bug reports or test content publicly,

[2020-05-26 13:41] VeiZhang commented on #7426
@marcbaechinger Thanks for your reply. But the situation is different, I don't know which stream will be played, so I used `ProgressiveMediaSource`, then the `mp4?type=m3u8` come error. I mean how to recognize and use the true media soure.

[2020-05-26 14:08] icbaker commented on #7230
I looked deeper into this (using the pinkfairy file from OP as an example).

The file doesn't seem to have contiguous OGG pages. The first page starts at the beginning of the file with the 'OggS' magic string as expected, and declares itself to contain a single segment of data that's 30 bytes long. The page header is 28 bytes, so the next page is expected to start at byte 58 (counting from 0) with

[2020-05-26 14:13] marcbaechinger commented on #7426
If you are using an adaptive stream like HLS, DASH or SmoothStreaming you can not use `ProgressiveMediaSource`. Instead you need to use the adaptive media source according to the type of the stream. In you case of an HLS stream yoy would need to create a `HlsMediaSource` as shown below.

It's up to the app to choose the correct media source.
(This is a duplicate of #7389)

[2020-05-26 14:47] roundsmapp commented on #4924
Is there a specific channel at Samsung? Looking at the internet I just can find normal customer service contact information, which is for device operational problems, not a model specific issue like this one we have.

[2020-05-26 14:48] AquilesCanta commented on #7295
No news. Unfortunately there's not much I can do from here other than wait for updates from the cast team. I'll ping the bug again.

[2020-05-26 14:52] andrewlewis commented on #4924
I'd try https://forum.developer.samsung.com/c/mobile/12 to start with. If you post the issue there it would be helpful if you could put a link to it here.

[2020-05-26 15:03] roundsmapp commented on #4924
ok. thanks

[2020-05-26 16:00] Romantic-LiXuefeng commented on #7351
[code]
@tonihei As the log, they are repeatedly changed between BUFFERING and READY at the beginning.  and when into BUFFERING, there occurs audio under run, I'm not clear why this.
My throttle setting like this:
![throttle_setting](https://user-images.githubusercontent.com/9837705/82922731-8f902000-9fac-11ea-97b3-766fccb3efc6.png)

[2020-05-26 16:10] andrewlewis commented on #7418
Have you tried using `TextureView` on those older API versions? I don't have an explanation for what's going on but `TextureView` is rendered/composited like a normal view so using that in conjunction with a single `GLSurfaceView` may work.

There is some information about `TextureView` and media playback [here](https://exoplayer.dev/ui-components.html#choosing-a-surface-type). Generally we advise

[2020-05-26 17:31] inProjects opened #7428 "Add background audio-only ads to ExoPlayer IMA extension"
In addition to the great extension of SimpleExoPlayerView , Can you add similar extension to exoplayer that will allow playing **audio-only ads in background** with integration of audio tracks. Something like createAudioAdDisplayContainer that is used in this [sample](https://github.com/googleads/googleads-ima-android/tree/master/audioplayerexample).
Thanks.

[2020-05-26 17:58] hakancess opened #7429 "exo player mp2, aac audio format and avi video format"
![error](https://user-images.githubusercontent.com/63077154/82947743-29ee6480-9fa9-11ea-82fd-598640458bbe.jpeg)
I use exoplayer but no sound from mp2 and aac audio formats in android application.

I get this error when I open mp2 and aac audio format videos "media includes audio tracks but none

are playable by this device"and some are not working in .avi format, some are working please can you he

[2020-05-26 18:55] bibutikoley commented on #7416
I was just trying to play this video from the URL

http://ironoid-data.s3.amazonaws.com/Post/User-ID-12/Post-ID-246/1f36ac55-83b7-43e7-8226-f3d1d9d18071-MP4_20200516_020925.mp4

I used the Google CodeLabs for ExoPlayer - https://codelabs.developers.google.com/codelabs/exoplayer-intro/#0

and just replaced the URL with the custom URL as stated above

I am getting this error in all devices and not a

[2020-05-26 19:48] christosts commented on #7416
I tried to play the video on multiple platforms (Android, Mac, PC) including a OnePlus 3T, and audio doesn't work. `mediainfo` reports the audio codec as `mp4a-40-0`. I am not an expert on audio codecs but I don't think `mp4a-40-0` (or `mp4a.40.0`) is a valid codec string. In addition, `ffprobe` (version 4.2.2) cannot detect the audio track. Overall, I'd say this is probably a problem in encoding.

[2020-05-27 00:45] VeiZhang commented on #7426
@marcbaechinger Thanks a lot

[2020-05-27 00:45] #7426 closed, assigned to marcbaechinger

[2020-05-27 03:57] fgl27 commented on #7411
New VOD links

**Defected videos:**
HLS VOD 998p60 bitrate 6.41 Mbps:
https://d2nvs31859zcd8.cloudfront.net/4862214b132a73a6ac53_koil_38285374704_1461717311/chunked/index-dvr.m3u8

**OK video (for comparison):**
HLS VOD 1080p60 bitrate 8.41 Mbps
https://d2nvs31859zcd8.cloudfront.net/bdb4126bea8947bf773d_summit1g_38245992016_1459252067/chunked/index-dvr.m3u8

This also may expire after a few days,

[2020-05-27 04:35] bibutikoley commented on #7416
I had used this Library to compress that video before sending to server.
https://github.com/fishwjy/VideoCompressor

Can this cause the Issue with the codec?

[2020-05-27 06:01] vy12021 opened #7430 "java.lang.Object cannot be cast to android.util.Pair"
## stacks
main(2)
[code]

## exoplayer version: 2.11.3

[2020-05-27 06:50] frushlabo commented on #7306
Also facing this issue - thanks for fixing. Not to rush you guys or anything, but by any chance is there a planned ETA for this to make it into a release?

[2020-05-27 08:29] tonihei commented on #7351
Thanks for the EventLogger output, this is helpful to understand the problem! I didn't observe this behaviour when trying your sample app locally with the same media and a slow network.
 - Can you confirm that you are using exactly the sample app linked above?
 - What device are you using? It looks like the audio underruns could mean the player is BUFFERING intermittently because the of the underr

[2020-05-27 08:57] Romantic-LiXuefeng commented on #7351
Yes.

BUFFERING intermittently because the of the underruns and not because there is no buffer loaded. That's why it immediately tries to continue playback. If this is true, then the device might not be fast enough to handle the data, but it's worth investigating to see why.

If the network is well, it plays well, not occurs underruns.   I can reproduce this issue on all my handed devices.  Some d

[2020-05-27 09:24] marcbaechinger commented on #7430
Thanks for reporting!

Can you please do a bug report and upload here? Or alternatively you can send it to  dev.exoplayer@gmail.com using a subject in the format "Issue #7430". Ideally you have the `EventLogger` added as an event listener. This would allow us best to investigate.

It would also be interesting to know how you prepare the player. Like are you using a `ConcatentatingMediaSource` or w

[2020-05-27 09:30] marcbaechinger commented on #7429
Can you please send us a link to the stream so we can investigate this more closely? If you don't want to send this in public you can send it to dev.exoplayer@gmail.com using a subject in the format "Issue #7429".

Creating a bug report and upload/mail to us would be helpful as well to speed up investigation. Ideally you have the `EventLogger` in use which gives us a good picture of what the playe

[2020-05-27 09:41] christosts commented on #7416
I can see at least one issue in this library where the audio is lost
https://github.com/fishwjy/VideoCompressor/issues/31

so maybe you need to ask the library devs if they can assist.

I don't think this problem is specific to ExoPlayer, it looks like it's content-specific, therefore I will close this issue. If you create video with another app that still does not work on ExoPlayer, but works on

[2020-05-27 09:41] #7416 closed, assigned to christosts

[2020-05-27 10:07] Aravindraj93 commented on #7373
As I have mentioned before we have several videos that plays in VLC media player with audio and in Exoplayer it plays without audio. That's why I wanted to add ffmpeg extension. I have compiled ffmpeg with all the audio formats in my project. I just need to know what kind of changes I need to make in my code. I am developing an application for android TV.

` mPlayer = ExoPlayerFactory.newSimpleIns

[2020-05-27 10:57] Aravindraj93 commented on #7373
As I have mentioned before we have several videos that plays in VLC media player with audio and in Exoplayer it plays without audio. That's why I wanted to add ffmpeg extension. I have compiled ffmpeg with all the audio formats in my project. I just need to know what kind of changes I need to make in my code. I am developing an application for android TV.

`mPlayer = ExoPlayerFactory.newSimpleInst

[2020-05-27 10:59] marcbaechinger commented on #7417
This looks quite ok at the first glance. I wonder whether there is a glitch when you create the `CacheDataSourceFactory`. The nested `DefaultDataSourceFactory` looks suspicious without knowing whether this is the issue I would just try the most simplest approach there as a start:

[code]

If this does not help, can you please add an `EventLogger` to the player and create a bug report just after yo

[2020-05-27 11:19] marcbaechinger commented on #7386
DId you manage to remove these issues? I think you are digging at the right spot in making the service nicely integrated into the life cycle of the app/playback. Please let me know about your state.

If not yet solved and when you are at it. Can you probably add an `EventLogger` with `player.addAnalyticListener()`, take a bug report and upload here. This allows us to look into it more easily.

[2020-05-27 11:21] Bhuvanesh-Verma commented on #7386
No I am still stuck. I will try what you suggested and will report back. Thanks

[2020-05-27 11:27] skogl commented on #7325
Any news on this one?

[2020-05-27 11:30] marcbaechinger commented on #7387
Sorry for my late reply.

I think I'd try to do a custom data source rather than a custom media source. Like create a `GrpcDataSource` in which you can do your logic. Then create a `ProgressiveMediaSource` with that.

Issue #7228 is probably helpful for creating a custom data source. You can create an unbounded data source which returns `C.LENGTH_UNSET` on `open()` to signal that the data source i

[2020-05-27 11:42] marcbaechinger commented on #7424
If the `TeeDataSource` works for you like this this looks ok to me.

If the use case is to cache this without playback, I think you can have that a bit easier if you are using the [`CacheUtil`](https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CacheUtil.java#L120). You are currently reading from

[2020-05-27 11:46] christosts commented on #7405
Regarding the data you collected from timeouts on ExoPlayer.release(). Can you tell what happened *after* the error occurred? Our internal findings suggested that users did not watch more videos after the exception was thrown, probably users had to shutdown the app, or even the restart the phone maybe. So in terms of overall video playback time, we did not see any improvement. Therefore we removed

[2020-05-27 11:48] Bhuvanesh-Verma commented on #7386
![evntloger](https://user-images.githubusercontent.com/25547376/83015159-9ca91f80-a03d-11ea-94c5-bef3b703bbde.jpg)

I kept streaming for 2-3 minutes after that I removed app using swipe action from recent apps.

This is the code used as you suggested

` DefaultTrackSelector trackSelector = new DefaultTrackSelector();
            DefaultDataSourceFactory dataSourceFactory = new DefaultDataSourceFac

[2020-05-27 11:53] marcbaechinger commented on #7386
Can you please [create a bug report](https://developer.android.com/studio/debug/bug-report) after the notification has been removed and then upload it here?

[2020-05-27 12:01] jerryisbusy commented on #7352
Thanks. I will update to the latest release.

[2020-05-27 12:06] marcbaechinger commented on #7387
After discussing this internally a bit it has been brought up that ExoPlayer may not be the best choice for your low-latency use case. I won't stop you from trying :) Just saying.

[2020-05-27 12:33] Bhuvanesh-Verma commented on #7386
The only way to remove notification after this situation is to tap on Notification which opens app and then stream media and then tap on stop button in notification. Otherwise notification stays there only.

[2020-05-27 12:49] marcbaechinger commented on #7386
The notification would not be removed by the system until you have called `stopForeground(/* removeNotification= */ true || false)`. Do you call this?

Please also look into #6944 which was about a similar case.

[2020-05-27 13:10] AquilesCanta commented on #7325
I haven't had time to do more research on this. I did some digging around and it would seem that dvbsnoop never reads the invalid program info length, which suggests there's something wrong with the exoplayer parsing code. Which provides evidence against adding the program info length workaround to exoplayer. I think the next step is to define this is whether this is bad media or a bug in the exop

[2020-05-27 13:21] Bhuvanesh-Verma commented on #7386
If I do not use foreground service then the main problem which I stated regarding "Notification not getting removed after 2-3 minutes of playback " is coming.
If I use foreground service then this problem is solved but another problem is occurred. After removing app from recent apps App and notification is removed but music keeps on playing. In this case I have used stopForeground().

[2020-05-27 13:38] stari4ek commented on #7405
In my case - "app" is service, which is bound to Android TV's "TV App" (Live Channels/Live TV/OEM variant) and works inside it.
Right now I re-use ExoPlayer instance during whole session lifetime, and release it only when session is released (and in rare cases of OOM during playback, but i do not set timeout when restarting due OOM).
So I'm expecting next possible variants after `setTimeout()` +`r

[2020-05-27 13:55] Romantic-LiXuefeng commented on #7351
It's not persists.

[2020-05-27 14:04] marcbaechinger commented on #7386
If you properly stop the service i.e. with `stopForeground` and `stopSelf` and at the same time release the player this should work properly. Please refer to the[ life-cycle of a service documentation](https://developer.android.com/guide/components/services#Foreground) to see how to achieve that.

If you want me to look into this some further please send me a bug report as described above. I can't

[2020-05-27 14:09] marcbaechinger commented on #7250
Closing this due to inactivity. Please re-open if required.

[2020-05-27 14:09] #7250 closed, assigned to marcbaechinger

[2020-05-27 14:28] andrewlewis commented on #7373
The provided stream plays in the demo app (on a device without an AC3 `MediaCodec`) via `FfmpegAudioRenderer` if you build ffmpeg with AC3 decoding support and use a variant with extensions. There should be enough information on [enabling extension decoders](https://exoplayer.dev/demo-application.html#enabling-extension-decoders) and the [ffmpeg extension readme](https://github.com/google/ExoPlaye

[2020-05-27 14:28] #7373 closed, assigned to andrewlewis

[2020-05-27 15:09] krackjack234 commented on #7427
Thanks.

Can it happen that the client gets **onRenderedFirstFrame** callback first before READY state is reported in **onPlayerStateChanged** callback?

[2020-05-27 15:10] marcbaechinger commented on #7420
What kind of file are you trying to play? Can you send me a link to that file?
It depends what container you are using (WAV?) and what kind of PCM data is in that container.

I can test for you in case you provide me with a link to the file or the file itself.  If you don't wish to post it publicly, please submit the issue, then email the link to dev.exoplayer@gmail.com using a subject in the form

[2020-05-27 15:22] krackjack234 opened #7431 "How cookies are sent by Exoplayer in player network calls"
### [REQUIRED]
Searched documentation and issues

### [REQUIRED] Question
We are playing akamai urls using a custom player based on exoplayer. We do not set any cookies explicitly but do set a custom header that needs to be passed in every player network calls (manifest & ts segments)

What we are observing is sometimes Exoplayer is sending the long token as cookies in request header and sometimes

[2020-05-27 16:31] Bhuvanesh-Verma commented on #7386
Sure I will try to stop service properly one more time, if it didn't work then I will share the bug report.

[2020-05-27 17:14] marcbaechinger commented on #7427
When I try with the most recent code (dev2 branch) it looks like you can not rely on the one arriving before the other. I've seen these event arrive in the logs in a different order at least when I play offline vs. streamed content.

It seems like for streamed content (normal case) it's like you say that the `onFirstFrameRendered` is called before `onPlayerStateChanged` (former is called by the re

[2020-05-27 17:27] ojw28 commented on #7427
It is working as intended. `STATE_READY` is [defined as](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#STATE_READY):

This would include both the audio and video parts of the stream being ready for playback. Independently to that, the first video frame will always be rendered as soon as it's possible. So there's no guaranteed ordering between the two. I don't think

[2020-05-27 17:48] krackjack234 commented on #7427
Actually we need to log 2 events for analytics: 1> when player is ready to play (but may be paused because of Ads playing, ima sdk is used here ) 2> when player has actually rendered

So we were relying on READY_STATE and onFirstFrameRendered callback to track these 2 events

[2020-05-27 18:26] hakancess commented on #7429
There is no problem with flow file, just exoplayer problem

[2020-05-27 20:50] ojw28 commented on #7425
It should be in 2.11.5, which will hopefully go out next week.

As an aside, if you have a question about an existing issue, please ask it on the issue, rather than failing a new one (unless it's been locked, but that's not the case here).

[2020-05-27 20:50] #7425 closed, assigned to ojw28

[2020-05-27 20:50] #7337 closed, assigned to Samrobbo

[2020-05-27 20:52] ojw28 commented on #7206
This should be in 2.11.5, which will hopefully go out sometime next week.

[2020-05-27 20:55] marcbaechinger commented on #7431
I think ExoPlayer does nothing special with cookies. It also depends on what data source you are using. When using `DefaultHttpDataSource` an `HttpUrlConnection` is used which manages cookies according to the [CookieManager](https://developer.android.com/reference/java/net/CookieManager.html).

AFAIK a cookie is sent only when requested from the server with a 'Set-Cookie' response header. This Set

[2020-05-27 20:57] ojw28 commented on #7306
It should be in 2.11.5, which will hopefully go out sometime next week.

[2020-05-27 21:07] marcbaechinger commented on #7429
I would like to investigate if it's an ExoPlayer problem, so we can fix that if that's the case. For this purpose we would need the stream so we can see why it does not work.

Can you please send us a link to the stream so we can investigate this more closely? If you don't want to send this in public you can send it to dev.exoplayer@gmail.com using a subject in the format "Issue #7429"

[2020-05-27 21:13] ojw28 commented on #7168
Changes (1) and (2) will be picked up in 2.11.5, which should go out sometime next week.

[2020-05-27 21:27] marcbaechinger commented on #7427
Depending on what semantics your analytics want to log, you probably want to look into the `onIsPlayingChanged()` callback as well. It reports a change in `player.isPlaying()`. Please consult the java doc of [isPlaying](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L712) about what this means.

[2020-05-28 00:32] a4x4kiwi commented on #7220
Well that freelancer did not work out. If anyone is interested in paid development for this, please contact me by email at malcolm@avcomm.com.au

[2020-05-28 00:51] CeenIt opened #7432 "Player Stuck at Discontinuity"
Hi,

I am experiencing the same thing mentioned in the closed issue #7237
The following URL plays fine in QuickTime, ShakaPlayer, VideoJS, AVPlayer and more but NOT in ExoPlayer.
When ExoPlayer reaches the discontinuity it gets confused and fails.
https://s3-us-west-1.amazonaws.com/dev.ceen.it-media/1080-1081-master-v3.m3u8

This url is a master playlist that looks like this:
#EXTM3U
#EXT-X-VERSIO

[2020-05-28 01:08] #7314 closed, assigned to christosts

[2020-05-28 01:08] #7307 closed, assigned to marcbaechinger

[2020-05-28 01:08] #7305 closed, assigned to marcbaechinger

[2020-05-28 01:08] #4329 closed, assigned to sergiomartinez4

[2020-05-28 01:34] #7335 closed, assigned to andrewlewis

[2020-05-28 01:39] sunrise0406-bc commented on #7335
We list the codec twice, add another codec name without a suffix-'tunneled'

[2020-05-28 01:48] mddrill commented on #7417
So I realized that if I keep the MainActivity open after downloading the mp3 and turning on airplane mode, the mp3 will play offline. It's only after I destroy the activity that the mp3 no longer plays, suggesting that the mp3 is being cached in memory, but not on disk. Am I incorrect in thinking it should be cached on disk? My use case is downloading podcast episodes to be played for several hour

[2020-05-28 02:38] vy12021 commented on #7430
Thank you for your attention.
This error is an accidental problem and comes from the online problem collection.
The following codes represents the main stage of the player:

# build player
[code]

# build source
[code]

# prepare player
`mExoPlayer.prepare(buildCommonSource(), true, true);`

[2020-05-28 05:53] krackjack234 commented on #7431
@marcbaechinger  The query string (called as long token) is actually getting passed as cookies in subsequent calls by exoplayer, though we are not sure how it's happening. In the successful case (3rd screenshot), you can see the query string is passed as cookie. However in the unsuccessful case, no query string is passed. Since Akamai is expecting the query string to be passed as cookies, it retur

[2020-05-28 06:05] vy12021 opened #7433 "java.lang.IndexOutOfBoundsException"
# stacks

[code]
### exoplayer version: 2.11.3

### May happen on any device and version.

### Note:
This error is an accidental problem and comes from the online problem collection.
Only happens when upgrading to 2.11.3.

[2020-05-28 06:15] vy12021 commented on #7433
### Add one more situation.
[code]

[2020-05-28 07:18] nbourdin opened #7435 "Concateneting multi mp4 media onto a single surface"
Hello,
Is there any way to concatenate multiple mp4 media ​​from server and display them onto a single surface as a big one media (with one timeline in the controller)?

[2020-05-28 07:26] chladto1 commented on #7161
Media playback is stuck sometimes also before or after midrolls.

[2020-05-28 09:59] marcbaechinger commented on #7417
Yes, ExoPlayer is able to play offline content and the media is cached on disk.
The logs show that the player tries to download from the network though.

With the information available, it seems to me that the media has not been downloaded and stored for some reason. It would be great if you could do the process of downloading and playing the media and after this [take a bug report](https://develo

[2020-05-28 10:12] christosts commented on #7405
I'll ping again in about 2 weeks time to get some fresh data.

[2020-05-28 10:45] VeiZhang opened #7436 "Ts video file can't read duration"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues/6894 https://github.com/google/ExoPlayer/issues/5097

### [REQUIRED] Issue description
I got a ts file, try to play, and it can't seekable and it can't get video duration.

### [REQUIRED] Link to test content
https://github.com/VeiZhang/Test/blob/mas

[2020-05-28 11:17] andrewlewis commented on #7435
There isn't an easy way to do this, but it is possible. Giving detailed guidance is beyond the scope of this tracker. Here are some pointers that may be useful:
- If it's a requirement to show both videos on the same `Surface` instance, I think you will need to have the video decoders output to off-screen `SurfaceTextures` then take care of compositing them onto the final `Surface` in the right pl

[2020-05-28 12:32] ojw28 commented on #7436
Duplicate of https://github.com/google/ExoPlayer/issues/5097.

[2020-05-28 12:32] #7436 closed, assigned to ojw28

[2020-05-28 12:40] christosts commented on #7413
Just an update.

I can repro the behavior using the button you added, and also by seeking through the progress bar. Sometimes it takes more than 2 seeks to raise the error, but the error is likely to be reproduced with a 3rd or 4th seek while paused.

In all cases, there's an exception thrown from [ExoPlayerImplInternal.doSomeWork()](https://github.com/google/ExoPlayer/blob/r2.11.4/library/core/sr

[2020-05-28 12:40] rs146 opened #7438 "Provide more fine grade download failure reasons than REASON_UNKNOWN"
### [REQUIRED] Searched documentation and issues
We have had a look at GitHub issues and StackOverflow but we have not been able to find any further information.

### [REQUIRED] Question
At the moment, when there is an error in a `Download`, ExoPlayer does not define the error in the `Download` object. It only uses a generic [FAILURE_REASON_UNKNOWN](https://exoplayer.dev/doc/reference/com/google/a

[2020-05-28 12:44] Samrobbo commented on #6646
Commit 37f0ff9 should have resolved this issue. Let me know if you experience any further issues with this.

[2020-05-28 12:44] #6646 closed, assigned to Samrobbo

[2020-05-28 13:04] Samrobbo commented on #7319
Hi, would it be possible to get the mp4 file you are having issues with, so I can attempt to reproduce this issue on my side?

If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2020-05-28 13:05] Samrobbo commented on #6777
It appears this is device specific, in that case I would recommend you report this issue to the device manufacturer, as they will have to fix it on their side.

Thanks.

[2020-05-28 13:05] #6777 closed, assigned to Samrobbo

[2020-05-28 13:06] #7321 closed, assigned to Samrobbo

[2020-05-28 14:34] nbourdin commented on #7435
Thanks for you answer,
But if i understand well, your solution is for display 2 videos in the same time (which i need to do too in a second case).
My question was about the concatenation (not merging) of 2 videos on the same window and in the same concatenated timeline .
So basically , if I have 1 video of 30s and 1 video of 15s, my progress bar in the control view can reach 45s in the same window

[2020-05-28 14:53] emilieroberts opened #7439 "Allow setting "allow-frame-drop" to 0 when MediaCodecVideoRenderer is rendering to a surface (Q+)"
When MediaCodecVideoRenderer is rendering to a surface on SDK 29+, allow-frame-drop should be set to 0, or be user configurable. This is an integer field that should be set when [configuring the MediaFormat here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1332).

By default, MediaCodec can silentl

[2020-05-28 15:36] nic0lette commented on #7399
Hi @Raynor999 -- can you explain more about your use case?

I was the person who originally added the automatic handling of audio focus, and the reason I added it only for `USAGE_MEDIA` and `USAGE_GAME` is because, in my mind, one used ExoPlayer for playing long bits of content, such as songs, background tracks, or movies.

By contrast, `AUDIOFOCUS_GAIN_TRANSIENT_MAY_DUCK` is intended for instance

[2020-05-28 15:58] andrewlewis commented on #7435
Sorry for the confusion. Please see #5093 but note the caveat in #4727.

[2020-05-28 15:58] #7435 closed, assigned to andrewlewis

[2020-05-28 16:00] marcbaechinger commented on #7438
We have currently the intDef which restricts the failure reason to the unspecific FAILURE_REASON_UNKNOWN. I marked this as an improvement so we can consider adding more fine grade reasons here.

I can't say whether and when we have a chance to look into this yet.

[2020-05-28 16:36] Cencodes opened #7440 "ExoPlayerImplInternal: Renderer error"
Hi Exoplayer Team,

We are deploying OTT in the production environment. So for the application we are using exoplayer version 2.11.4. Currently we have been testing the application and observed that for some Android devices DRM enabled VOD contents cannot play. For some mobile devices it is able to play. I have listed the mobile devices below which we cannot play the DRM contents.

- Xiaomi Note 1

[2020-05-28 17:41] marcbaechinger commented on #7440
As you say this seems to be a device specific problem caused by the secure codec. I understand you only see client logs. But for proper investigation we would need a full bug report.

Can you get your hands on such a device and provide us with such a bug report by uploading it here?

[2020-05-28 18:39] chinmay4github1987 opened #7441 "Exoplayer Download offline Progre"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-05-28 18:47] christosts commented on #7413
[update with more findings]

I have found at least two ways to consistently trigger the behavior:
1. Seeking at points very close to each other while the player is paused and the network is disconnected.  This is the case described at the issue above, e.g.
[code]
(cc @ojw28) Seeking to `4000` requires to search for a video key-frame before `4000` which is needed by the video decoder in order to de

[2020-05-28 19:01] johnsky95 opened #7442 "Bandwidth switch progressive media source"
### [REQUIRED] Searched documentation and issues
I have looked on Stackoverflow mostly, some issues on this repo but unfortunately no success-

### [REQUIRED] Question
I have a list of URL which they point to Audio, Video, Video Only and Subtitle.
I create ProgressiveMediaSource using these Urls and assign to Player.

How I initialize Exo Player

[code]

I use the below method to play sources
The

[2020-05-28 20:24] marcbaechinger commented on #7442
For adaptive behaviour you would need to use an adaptive format like DASH, HLS or SmoothStreaming. These have a manifest which tells ExoPlayer what qualities are available.

Still it is not enough to have one single stream for each quality. Roughly explained, a stream for each quality is cut into chunks of let's say 4 seconds each. If indicated by the bandwidth estimation ExoPlayer will then switc

[2020-05-28 20:31] marcbaechinger commented on #7441
I couldn't really find some information about what the issue is. I'm going to close this issue. Please create another issue and replace the description of each section of the template with your own content. This way we would be able to understand what your actual question is.

If you haven't seen our developer website yet. There is a page around Downloading media which has [a section about `Downlo

[2020-05-28 20:31] #7441 closed, assigned to marcbaechinger

[2020-05-28 23:36] chitrang200889 commented on #7418
Yes, I tried TextureView and seems working fine on all API levels.

But I am wondering what possible issues will occur if TextureView is used. Because I see more issues related to TextureView in this section.

"More accurate frame timing, resulting in smoother video playback." which is not applicable to TextureView I guess. So the major concern was about exact seeking as it is necessary for our ap

[2020-05-29 01:55] voam opened #7443 "onMetadataChanged callback not getting updated properly"
### [REQUIRED] Searched documentation and issues
I've looked pretty thoroughly through the documentation but am not able to figure this out.

### [REQUIRED] Question
I started with the demo app from IO18, "Building feature-rich media apps with ExoPlayer (Google I/O '18)". Currently I have my ExoPlayer version 2.9.6 wrapped in a service. It is using MediaSessionConnector and PlayerNotificationManag

[2020-05-29 03:12] mddrill commented on #7417
Okay, so in the process of reproducing this, I deleted and recreated my emulator and that seems to have solved the case where I press the download button to download the mp3. But when I stream the mp3, turn off wifi and and try to play the mp3 from disk it doesn't work. I was under the impression that since I'm playing the media source through the cache data source, it should cache the media file

[2020-05-29 04:25] shiv-u commented on #7401
@tonihei consider this issue, whenever there is buffering onLoadError is called and I keep track of bytesloaded as below

     public void onLoadError(EventTime eventTime, MediaSourceEventListener.LoadEventInfo loadEventInfo, MediaSourceEventListener.MediaLoadData mediaLoadData, IOException io,boolean wasCancelled){
        this.totalBytesLoaded+=loadEventInfo.bytesLoaded;

       System.out.print

[2020-05-29 05:57] fgl27 commented on #7357
This single change adds a lot to a app final size.

with the change

![Screenshot from 2020-05-29 02-08-54](https://user-images.githubusercontent.com/13755892/83226192-c6566980-a157-11ea-9f83-d34a83fc172b.png)

without

![Screenshot from 2020-05-29 02-44-45](https://user-images.githubusercontent.com/13755892/83226205-cd7d7780-a157-11ea-9214-35701cd0649a.png)

Is that correct? anything to do to get

[2020-05-29 06:14] Romantic-LiXuefeng commented on #7351
@tonihei  Could you reproduce this issue? Is there any thing I could support? Thanks!

[2020-05-29 07:10] javalue commented on #7400
aha？Oh no, you means if I set repeat mode on,the data will be costed all the time?

[2020-05-29 07:21] gokulkalagara commented on #7393
@ojw28 Please check this.

**Device Bug Report**
[bugreport-2020-05-29-12-40-38.zip](https://github.com/google/ExoPlayer/files/4700223/bugreport-2020-05-29-12-40-38.zip)

[2020-05-29 07:27] gokulkalagara opened #7444 "Exoplayer stucks while playing video"
[code]

**Device Details**
Android Lib Version | 5.8.3 |  
Android Manufacturer | samsung |  
Android Model | SM-J810G |  
Android OS Version | 9 |  
Android OS | Android |

[2020-05-29 07:42] javalue commented on #7400
i try to set addAnalyticsListener for player, i play my first video ,but log show onLoadCompleted 3times and onLoadStarted 4 times.

[2020-05-29 07:46] Romantic-LiXuefeng opened #7445 "Support native memory allocation controlled by LoadControl"
### [REQUIRED] Use case description
Base on my tests on old  devices, such as Android version 4.2 ~ 4.4, when the app had allocated some heap memory, eg the app loaded some images. At this time , if start to play, the player need to allocate memory. There maybe cause some bad effects:

-  The Dalvik virtual machine may cause gc frequently, base on my tests, this maybe cost 100ms ~ 200ms, and cause

[2020-05-29 07:49] tigerss commented on #7424
Thanks for the suggestion. My use case is video editing: step 1 the user selects/plays a video, then in step 2 I will do some processing on the video (crop,resize,etc). So the video is in most cases partially played. In step 2 I would like to copy the video from cache to a file for processing.

The code you suggested seems to cache but not copy to the outputFile, or I did something wrong. Can you

[2020-05-29 08:07] andrewlewis commented on #7418
Exact seeking should work fine with `TextureView`, and I wouldn't anticipate other issues apart from the ones implied by the `SurfaceView` benefits listed on that page.

Given it appears to work correctly from API 28, you could restrict use of `TextureView` to older API versions, at the cost of needing to maintain the two implementations.

[2020-05-29 08:07] #7418 closed, assigned to andrewlewis

[2020-05-29 09:59] ojw28 commented on #7357
Are you shrinking your code and resources for your release build, as per [this guide](https://developer.android.com/studio/build/shrink-code#shrink-code)? You should be using:
[code]

[2020-05-29 10:03] christosts commented on #7400
You can inspect what exactly the player is downloading by looking at the `LoadEventInfo` and `MediaLoadData` params passed from the callbacks. The LoadEventInfo contains the exact uri downloaded and the number of bytes. `LoadEventInfo.dataSpec` can give you the uri and position in the stream. From `MediaLoadData` you can see the downloaded piece's start and end time. This information should help y

[2020-05-29 10:25] fgl27 commented on #7357
yes if I don't the app size is around 4 to 5MB.

[2020-05-29 10:36] marcbaechinger commented on #7444
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2020-05-29 10:46] AquilesCanta commented on #7432
Seems to me the issue here is that the discontinuity tags have a trailing colon `:`. From reading [the spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.2.3) it doesn't seem to me this is legal.

However, quicktime is able to parse the tag correctly (I was suspecting the other players were just ignoring the tag and still handling the discontinuity correctly). I'll s

[2020-05-29 12:15] marcbaechinger commented on #7443
In the code above the `MediaSessionConnector` is setup with the `TimelineQueueNavigator`. The `TimelineQueueNavigator` is used for two things: providing the `activeQueueItemId` of the `PlaybackStatenCompat` and to provide the media descriptions for each item in the timeline, with which the queue of the media session is populated. Former is done internally, while latter, the media descriptions for

[2020-05-29 12:55] tonihei commented on #7357
@fgl27  Could you answer these questions to understand your change a bit more?
 - Are you using TrackSelectionDialogBuilder in your code? If not, then this change should have zero impact on your apk size.
 - Are you using any other androidx modules? If yes, I'd assume that most classes in there (at least the ones used by a Dialog) are already used somewhere else and thus shouldn't increase the apk

[2020-05-29 13:31] Miteshmakwana73 opened #7446 "How to remove player notification when running a foreground service"
I am developing an audio player and I am facing one player I am trying to remove notification programmatically but it's not removing and notification is not removable on song pause.

`            playerNotificationManager.setPlayer(null)`

it's not working for me. I am getting playerNotificationManager instance from foreground service.
**MusicPlayerService**
[code]

**MainActivity**

[code]

I am

[2020-05-29 13:33] Cencodes commented on #7440
Hi,
I was able to collect a full log of a working device and a non working device. I have attached them here. Hope this might be helpful.
Thanks.
[Not Working Device.txt](https://github.com/google/ExoPlayer/files/4702031/Not.Working.Device.txt)
[Working Device.txt](https://github.com/google/ExoPlayer/files/4702032/Working.Device.txt)

[2020-05-29 13:47] Aravindraj93 commented on #7373
I fixed it my self. Thank you.

[2020-05-29 13:55] andrewlewis commented on #7161
I couldn't reproduce the stuck playback using the ExoPlayer demo app with the IMA extension at tip-of-tree. When using the ads response from the paste, midrolls didn't play but playback didn't get stuck due to the new preloading timeout detection. You should see logging like this in the demo app:
[code]

I see some logging from the IMA SDK about "Uncaught AdError 501: The overlay ad content could

[2020-05-29 13:56] andrewlewis commented on #7161
Marked 'need more info' in case you can provide detailed steps to reproduce. Otherwise, this issue can be closed as not reproducible.

[2020-05-29 14:26] gpdeedler commented on #7432
That was it!
Thank you so much!
No need to figure out a workaround as I was able to correct the issue on my end.

[2020-05-29 14:49] AquilesCanta commented on #7432
@gpdeedler are you in any way related to @CeenIt ?

Aside, could you provide info on how the streams were generated? It'd be useful to know if this was due to a manually-crafted malformed playlist or the default behavior of a packager.

[2020-05-29 15:16] fgl27 commented on #7357
No, I don't have any dialog on that app, it's a basic app just a webview UI that uses Exoplayer to play videos, I build `exoplayer-library-ui` so I can use exoplayer ProgressBar that show when the player is buffering.

I don't understand how the auto generate file `app/build/outputs/mapping/release/usage.txt` works, but when I grep my source for `TrackSelectionDialogBuilder` I get this:

[code]
Ma

[2020-05-29 15:45] johnsky95 commented on #7442
Thanks for your quick feedback.

Is there any other way where I can change the source programmatically.
I have seen the Example App and it is used a dialog for that part, but the currentMappedTrackInfo is only available after player has started to play.

I want to play a uri from its index.
For example [8K, 4K, 2K, Full-Hd, 240p] given sources, I want the [Full-Hd] to be the default and not [8K]

[2020-05-29 16:22] tonihei commented on #7357
Thanks for detailed answers! That's really helpful.

In this case, it's even stranger that this happens given that there are no dependencies from your code to the new androidx lib. I'll reopen the issue to see if we can reproduce that somehow.

[2020-05-29 16:23] marcbaechinger commented on #7446
The notification can not be removed as long as the notification is tied to a foreground service.
When searching on this page I can find a call to `startForeground` but there is no call to [`stopForeground(boolean removeNotification)`](https://developer.android.com/reference/android/app/Service#stopForeground(boolean)).

You likely want to do that when you call `notificationManager.setPlayer(null)`

[2020-05-29 16:40] tonihei commented on #7401
I forgot to mention this, and it's also quite confusing: `onLoadError` is also called when a load error happens that is retried as part of the same load. So you should only count the bytes reported in `onLoadError` if the `wasCanceled` flag is `true`. Otherwise you are counting these bytes twice.

[2020-05-29 18:00] harini113 opened #7447 "Start renderer after video preroll is completed - For AV content."
Feature description:
Decoder needs to fill up decoded picture buffer (DPB) list and handle display re-ordering of buffers before decoder can output any buffer for render purpose. Time to produce first decoder output for render purpose = frame decoding time x number of frames decoder needs to decode as pre-roll. This pre-roll time can vary based on underlying decode HW capability. Example: Decoder

[2020-05-29 18:05] ojw28 commented on #5978
@jruesga  - We were able to make multiple write locks work. This is merged in 235df09.

Hopefully we'll get the change that actually parallelises everything in next week. It's turned out to be a much bigger task than was initially anticipated.

[2020-05-29 19:05] ojw28 commented on #7400
Yes. The way to avoid this is to add a cache, as you did successfully in your initial post. So it seems like everything is working as intended here, and the question is answered?

[2020-05-30 04:47] fgl27 commented on #7357
OK thank you, I will do some other test on the weekend if I find something I inform.

[2020-05-30 09:13] Miteshmakwana73 commented on #7446
thank you for your answer but I didn't understand where should I write stopForground(true) in-service class or in main activity? and I am getting `stopForground(@NonNull Service service, @StopForegroundFlags int flags)` in suggestion instead of `stopForeground(boolean removeNotification)` in mainActivity and I am facing one more problem I am not able to remove notification on song pause

[2020-05-30 09:33] Miteshmakwana73 commented on #7446
@marcbaechinger okay
[code]
I tried both and both are working for me thank you for your answer. I have one more doubt how do I allow notification to remove if the song is paused and not allow if the song is playing

[2020-05-30 10:32] lejahmal opened #7448 "Dynamic mpd DASH playlists playback with ExoPlayer"
to create a live streaming session from very very poor bandwith i generate from rtmp stream mulptiples mp4 segment evry 40 sec and dashified each of them to a single mpd file so i have this structure from server side
[code]
my question is how to read each of them in exoplayer like i'm playing a playlist . i try this approch below but after the first mpd file has completed exoplayer don't switch to

[2020-05-30 16:43] gokulkalagara commented on #7444
### [REQUIRED] Issue description
Exoplayer struck while playing the secure dash in
**SAMSUNG J7, J8**

### [REQUIRED] Reproduction steps
[EventLogger.xlsx](https://github.com/google/ExoPlayer/files/4706032/EventLogger.xlsx)

### [REQUIRED] Version of ExoPlayer being used
**ExoPlayerLib/2.11.4**

### [REQUIRED] Device(s) and version(s) of Android being used
**SAMSUNG**
Model: SM-G615F, OS Version:

[2020-05-30 16:46] gokulkalagara commented on #7393
@marcbaechinger please check this

[2020-05-31 02:53] voam commented on #7443
I see. That makes sense. Indeed, the `getMediaDescription(Player player, int windowIndex)` is called once for each window index.  The correct songs play in the correct order and show up in the Notification area properly.  But the MediaDescription is always the one for the first song added.

I guess the question comes down to how to use the windowIndex to navigate the timeline and get the tag of th

[2020-05-31 11:32] voam commented on #7443
Ah, after your explanation and exploring a little bit I guess I can use the `windowIndex `to index into the `concatenatingMediaSource` and this lets me get the correct media. With this change the `onMetadataChanged` callback in the second fragment gets supplied the correct info. Super!

Thanks you @marcbaechinger for the insight and help!

[code]

[2020-05-31 13:53] Abu-Abdullah opened #7450 "How to remove ICY header request"
Hi,

I was trying to find a way on how to remove the ICY header from the header request. I'm expecting it is causing some issues with certein hosting server.

i have been trying many things without success e.g.

[code]

OR

[code]

the last one throws:
[code]

I tried as well to override it in TransferListener without success as well

[code]

Please advise the proper way to do this.

[2020-05-31 16:28] skogl commented on #7325
Ok, so I believe I have found an issue with the parser. I have not reviewed the entire parser but stopped when I found the first (and only?) issue.

In _ISO/IEC 13818-1_ in section _2.4.4.9_ it's clearly stated that a program map table section's _section_syntax_indicator_ bit should be set to '1', this was not checked in Exoplayer.

So, I've inserted the below code on row 527:

[code]

And also up

[2020-05-31 21:11] szaboa commented on #4511
Thanks for the tips! I've made a pull-request where I handled these cases as written above.

[2020-06-01 01:08] #7318 closed, assigned to christosts

[2020-06-01 01:08] #7302 closed

[2020-06-01 01:08] #7297 closed, assigned to christosts

[2020-06-01 01:08] #7201 closed, assigned to AquilesCanta

[2020-06-01 05:36] krackjack234 commented on #7431
hi @marcbaechinger  we tried the below code in app and we could not see the problem occuring. Please advise if this is correct to use

[code]

[2020-06-01 05:53] gpdeedler commented on #7432
Yes I'm the same guy but different projects so different id's.

The streams were generated manually so it was my mistake!

[2020-06-01 07:27] andrewlewis commented on #7447
Could you give some more details on the specific change to ExoPlayer this is requesting? Generally, we queue as many input buffers to `MediaCodec` as possible, and we release video output frames timed based on the `AudioTrack` timestamp to synchronize audio and video. We start the audio track playing only once audio/video renderers are reporting that they are ready (this condition includes having

[2020-06-01 07:52] andrewlewis commented on #7448
It looks like you are using an old version. If you can upgrade to ExoPlayer v2 there is support for [Playlists](https://exoplayer.dev/playlists.html).

[2020-06-01 07:52] #7448 closed, assigned to andrewlewis

[2020-06-01 08:04] andrewlewis commented on #7450
In the option where you override `open`, could you try instantiating a new `DataSpec` based on values from the old one but without the ICY header?

[2020-06-01 08:11] #7443 closed, assigned to marcbaechinger

[2020-06-01 09:02] andrewlewis commented on #7439
For batch processing like video editing, apps can override `MediaCodecVideoRenderer.getMediaFormat` to set `allow-frame-drop` (side note: depending on how the media clock is handled, they likely need to subclass the renderer anyway to turn off ExoPlayer's late frame dropping logic). This applies when rendering to a `SurfaceTexture` or `ImageReader`.

Before Android Q, according to the media framew

[2020-06-01 09:03] andrewlewis commented on #7439
Marking as a low priority enhancement in case we want to set the configuration key by default when targeting Q or later if we know we aren't using `SurfaceView`.

[2020-06-01 09:20] marcbaechinger commented on #7446
Letting the user remove the notification by swiping is related to having the notification tied to a foreground service as well. So you need to do two things:

1) Start the service in foreground with a notification

You already do this in `onNotificationPosted(int notificationId, Notification notification)` in your code above.

2) Stop foreground when not playing

When the player is not playing. Yo

[2020-06-01 09:36] marcbaechinger commented on #7444
Thanks for sending the bugreport by email. I looked into it but I could not find any logs from ExoPlayer. Searching for one of the lines you posted above like 'audioTrackUnderrun' gives me no result. Can you double check whether the logs in the bugreport contain what you expected to be there?

It would also be helpful if you could clarify what you mean by 'Exoplayer struck while playing the secure

[2020-06-01 10:21] Abu-Abdullah commented on #7450
thank you @andrewlewis for the hint. it is working as you suggest:
[code]
And thankfully the web server behavior is correct now. I'm not facing the same issues that i faced in #7353 which indicates that setting ICY_Metadata in the header by default is not the correct way. Many web servers might be affected by this (at least in my case which i have it on bluehost, one of the leaders in this market)

[2020-06-01 10:21] #7450 closed, assigned to andrewlewis

[2020-06-01 10:24] tonihei commented on #7357
I investigated this a little bit with your example project.

 - It seems that simply adding is enough to add 600KB to the apk, even if no code is actually using it.
 - This also happens when you add the dependency directly to your app, so the problem is not really ExoPlayer specific.
 - Removing your leanback dependency also saved 500KB :)
- Replacing it by the legacy 'com.android.support:appcompa

[2020-06-01 10:41] AquilesCanta commented on #7325
Yes, looks good to me.

Are you ok with me introducing an equivalent change internally or would you prefer sending a pull request?

[2020-06-01 10:44] ghost commented on #5978
was  this issue resolved ? and is it merged to release version ?

[2020-06-01 10:44] AquilesCanta commented on #7432
Thank you for the confirmation!

[2020-06-01 10:44] #7432 closed, assigned to AquilesCanta

[2020-06-01 10:54] skogl commented on #7325
You can go ahead and change it, most important is that it's getting fixed.

[2020-06-01 10:56] AquilesCanta commented on #7325
Cool, thanks for the research!

[2020-06-01 10:56] andrewlewis commented on #7163
Sorry for being slow to reply. I'm not sure adjusting the release time in the way you describe makes much sense, as that parameter is intended to synchronize video frame release to another time source, which is typically an `AudioTrack` position.

For your use case, assuming you only care about video, I think it would make more sense to make your subclass of `MediaCodecVideoRenderer` implement the

[2020-06-01 10:56] #7163 closed, assigned to andrewlewis

[2020-06-01 10:57] skogl commented on #7325
No problem!

[2020-06-01 11:13] christosts commented on #7413
This looks like a bug that's been here for a while. I will leave this issue open and we will track this in our backlog. At the moment, I cannot share a timeline for a when a fix will be available.

[2020-06-01 11:39] andrewlewis commented on #7346
I'm afraid we don't have a stream validator/verifier, but the video does appear to play correctly on a Pixel 2 XL I have here. `mediainfo` identifies the stream profile/tier/level as Main 10, main, L4.1.

We have seen some cases of video rendering being broken in one of `SurfaceView` or `TextureView` so it may be worth trying both in case that fixes it.

I'm not sure what 'Huaping' is, but the [An

[2020-06-01 11:39] #7346 closed, assigned to andrewlewis

[2020-06-01 12:48] deepaksingh16 opened #7452 "Exoplayer unable to play some mp3 files from url but successfully plays it from storage."
### Issue description
Unable to play song from url but it can be played from storage. And in some cases exact opposite of scenario happens as well. The file can be played on chrome browser and other players but only exoplayer gives the exception that none of the available extractors could read the stream.

### Link to test content
As the links contain authentication token, therefore sending the li

[2020-06-01 12:52] mseroczynski opened #7453 "Wi-Fi reconnection not detected on Android 7.0 / 7.1.1"
DownloadManager has Requirements.NETWORK_UNMETERED, have for example 10 elements queued, and then wi-fi range is lost. Then, when wi-fi range is back and phone is able to use connection ExoPlayer still thinks there is no network and keeps all the queue elements in state QUEUED with DownloadManager.notMetRequirements = 3.

I've done some microwave kitchen testing today (2,4ghz Faraday cage) and bee

[2020-06-01 13:01] andrewlewis commented on #7453
Which ExoPlayer version are you using?

[2020-06-01 13:10] tonihei commented on #7351
I tried again to see if I missed something but still can't reproduce.

From what I see in your logcat output, the player didn't attempt to buffer in between those BUFFERING/READY changes. That is `isLoading` was `false` the whole time.

Could you try to updating the ExoPlayer dependency to the latest version (preferably the dev-v2 branch) to see if the issue is still there? Maybe we already fixed

[2020-06-01 13:20] andrewlewis commented on #7452
The MP3 link provided via email doesn't play either loaded over HTTP or when pushed to storage having been downloaded via curl, because the sniffing operation fails to find a valid MPEG audio frame. I checked the first few candidate header bytes and they were in the same reading over HTTP and locally.

How are you playing the stream from storage?

[2020-06-01 13:23] shiv-u commented on #7167
@tonihei  Will the above approaches work if you are using L3 device with DRM protected content ?

[2020-06-01 13:31] andrewlewis commented on #7167
@shiv-u Please see https://github.com/google/ExoPlayer/issues/1033#issuecomment-279269696. If no secure output path is required then it may work (I haven't tried it though!).

[2020-06-01 13:35] mseroczynski commented on #7453
2.11.4

[2020-06-01 13:38] andrewlewis commented on #7453
@ojw28 Please take a look.

[2020-06-01 13:41] jero3000 commented on #771
Hi, checking in here as well. According to the document "DASH-IF Interoperability: Guidelines for implementations v4.1", section "4.8.2.1 General Robustness":

"Similarly, if the DASH access client receives an HTTP client error (i.e. messages with 4xx
error code) for the request of a Media Segment, the requested Media Segment may not be
available anymore or may not be available yet. In both these

[2020-06-01 14:02] deepaksingh16 commented on #7452
@andrewlewis I'am using file path uri to create MediaSource(ProgressiveMediaSource) for Player. FYI, I'am also using FFMPEG and Flac extensions with EXTENSION_RENDERER_MODE_PREFER for DefaultRenderersFactory

[2020-06-01 14:04] andrewlewis commented on #7452
Could you email a link to the downloaded stream? I'd like to check what the difference in the bytes read by the extractor are in the two cases. In my testing I saw the same error with the downloaded stream.

[2020-06-01 14:09] deepaksingh16 commented on #7452
@andrewlewis Sent an email with download link

[2020-06-01 14:10] gokulkalagara commented on #7444
In above sent EventLogger file
Inline 86 there is a
**droppedFrames   [eventTime=17.46, mediaPos=3.03, window=0, period=0, 50]**

**Sample Video**
https://res.cloudinary.com/developer1439/video/upload/v1591020571/videos/video_ftekhk.mp4

[2020-06-01 14:13] andrewlewis commented on #7452
I get a 'unauthorized' error for the second link so I can't compare it to what the server sends for the first link. If you download the audio from the link from your first email then push that to the device, does it play correctly for you?

[2020-06-01 14:18] deepaksingh16 commented on #7452
The audio from first link is working after downloading. Can you please download audio from first link through browser? And see if it works for you as I am able to play it after downloading. Tested multiple times on different devices and the result is same.

Edit: The link in the first mail and the download link(Faulty one in second mail) points to same source. So, you can use first one to download

[2020-06-01 14:42] ojw28 commented on #7453
@mseroczynski - What is your `DownloadService` implementation returning from `getScheduler`? Do you have any idea whether your process is being killed between connectivity being lost and becoming available again, when you reproduce this issue? Thanks!

[2020-06-01 14:46] marcbaechinger commented on #7444
I'm afraid but I'm not going to look at log files which are stored in a spreadsheet and of which I do not know how it is related to the bug report you sent by email.

Please create a bug report of a device right after the problem happened. Further it would be helpful if you could explain what the problem is you are actually seeing and what the expected behaviour would be.

May I ask you to create

[2020-06-01 14:46] andrewlewis commented on #7452
I see the same thing whether the file is downloaded from browser or using curl and pushed to the device and played via a file URL, and when loading it from the HTTP URL directly: in all cases the stream doesn't have valid MPEG audio frames. If you download the stream then put it on Google Drive or similar then I can see what is different. The stream I am getting has md5 1ed38752255b788829baef185c9

[2020-06-01 15:00] deepaksingh16 commented on #7452
Sent you an email with drive link.

[2020-06-01 15:09] andrewlewis commented on #7452
The file shared via drive is different from what the server is sending. Even the file sizes are different.

[code]

I don't have an explanation for why we are seeing different behavior but from my side this just looks like the MP3 stream from the server is bad. If you can provide more evidence that the problem is within ExoPlayer I'll reopen the issue.

[2020-06-01 15:09] #7452 closed, assigned to andrewlewis

[2020-06-01 17:02] Swathi-Thirunarayanan opened #7454 "dequeueOutputBuffer() returning -1"
**Reference:**

1. [dequeueOutputBuffer() returning -1 #7382](https://github.com/google/ExoPlayer/issues/7382)

I am reopening #7382  as my content has only i-frames and i am trying to understand the behavior.
**Note:**
Frame reverse content has only i-frames. I am trying to render one i-frame after each key press.

**Description:**
I am trying to implement frame reverse (after every key press, it

[2020-06-01 18:05] mseroczynski commented on #7453
I've followed example code in this matter:
[code]
I assume process wasn't killed but will try to determine it sometime later (currently I'm busy working on workaround fix to recover from stuck download by modifying current requirements by adding 'or DEVICE_IDLE' flag, just to set it back like it was a line later - it allows me to reinstantiate RequirementsWatcher, hoping for it to work, isn't conf

[2020-06-01 18:25] ojw28 commented on #7453
It might be worth trying to use `WorkManagerScheduler` instead of `PlatformScheduler`, just in case the underlying implementation has some extra fixes that didn't make it into the platform for Android N.

[2020-06-01 18:43] ojw28 commented on #7411
The first link doesn't work for me (the manifest itself is accessible, but the segments are not). The second link is currently working correctly. Please could you provide a set of working links? Thanks.

[2020-06-01 18:54] ojw28 commented on #7445
You can avoid this by block allocating the entire media buffer up front. This avoids repeated allocations triggering the GC when the media buffer would otherwise need to grow during the initial buffering stage. You can do this by setting `initialAllocationCount` to non-zero when creating a `DefaultAllocator`, which you can then pass into a `DefaultLoadControl`. We have not generally found this to

[2020-06-01 18:54] #7445 closed, assigned to ojw28

[2020-06-01 18:59] fgl27 commented on #7411
Some links expire after a amount of days, odd that only the TS aren't accessible.

I can keep updating once every two days the links.

This are working for me...

**Defected video:**
HLS VOD 998p60 bitrate 6.4 Mbps:
https://d2nvs31859zcd8.cloudfront.net/31f52ae479c351d185c8_koil_38405013248_1469205309/chunked/index-dvr.m3u8

**OK video (for comparison):**
HLS VOD 1080p60 bitrate 8.4 Mbps
https://d

[2020-06-01 20:05] ojw28 commented on #7411
I tried this on an MiBox 3 and the 998p stream works fine. It's running Android 8 and there's no upgrade available for it. I guess that's not particularly useful information :).

I should have a MiBox S available to test with on Wednesday. I'll ping this issue for new streams when I get it setup.

[2020-06-01 20:21] andrewlewis commented on #7454
If you queue an empty input buffer with [`BUFFER_FLAG_END_OF_STREAM`](https://developer.android.com/reference/android/media/MediaCodec#BUFFER_FLAG_END_OF_STREAM) set after you queue the input buffer you want to receive on the output side, does that make the required output buffer appear?

[2020-06-01 20:26] Swathi-Thirunarayanan commented on #7454
Sorry. I don't get you. Are you asking me to queue an empty input buffer with BUFFER_FLAG_END_OF_STREAM set and check if I am getting required output buffer?

[2020-06-01 20:32] andrewlewis commented on #7454
Yes. Queueing the end-of-stream buffer should cause the decoder to output any 'pending' frames that are ready to output based on input queued so far.

[2020-06-01 20:36] Swathi-Thirunarayanan commented on #7454
Okay I will try that and let you know. Thank you

[2020-06-01 20:58] ojw28 commented on #7421
This was fixed by the commit referenced above.

[2020-06-01 20:58] #7421 closed, assigned to andrewlewis

[2020-06-02 01:45] pawaom commented on #7221
recently I cam across this

https://github.com/google/ExoPlayer/pull/7437

@marcbaechinger
I just want to know , if this enhancement be included in this release

thanks

[2020-06-02 02:41] a4x4kiwi commented on #7220
**Further details provided for any dev.**

Other related issues / enhancement requests
https://github.com/google/ExoPlayer/issues/6642
https://github.com/google/ExoPlayer/issues/5491

Australian Standards. (These reference the ETSI documents below)
https://www.freetv.com.au/resources/operational-practices/
https://www.freetv.com.au/wp-content/uploads/2019/08/OP-47-Storage-and-Distribution-of-Telet

[2020-06-02 04:39] DevinDuricka commented on #7314
I also have run into this issue. I haven't tried the dev-v2 branch yet, but for me it occurs when I add a `ClippingMediaSource` which has some start position within the file, and the end position is `C.TIME_END_OF_SOURCE`.

Windows/Periods with these criteria almost always had a large negative duration.

[2020-06-02 05:45] fgl27 commented on #7357
Thanks you for the detailed description, on my test I didn't find any way to prevent the issue. I assume on thi issue the best solution is leave as it's to prevent confusion and others issue the size is not a big problem.

But that is just me, you guys decide what is best for the project.

[2020-06-02 05:55] fgl27 commented on #7411
I don't have the older version of the box, but the new on android 8 didn't had issues, I assume that is a android 9 only issue on those devices.

Is good that you manage to get a device, that is a very popular device at least from the analytics of the TV only apk I share, I see it as 2 most used device with is 10+% of active devices, second only to Sony Bravia.

My come with android 8.1, that was

[2020-06-02 05:59] Romantic-LiXuefeng commented on #7351
I'm not clear why you still can't reproduce? For me,  it's easy to reproduce.

Yes,  so I think this is an issue.   Why isLoading was false the whole time?   and when in READY state,  I find that the audio render `rendererReadyOrEnded` is false, so it's transition to BUFFERING again.

I try to with the least version, the issue don's exist.   Hope to speed more time to reproduce with my demo,  poin

[2020-06-02 06:05] fgl27 commented on #7411
As clips links don't expirer as the VOD do, here is a list of a few, plus some other VOD that may take more time to expire:

**Defected MP4:**

- 998p60 https://clips-media-assets2.twitch.tv/38306572304-offset-2318.mp4
- 936p60 https://clips-media-assets2.twitch.tv/AT-cm%7C741846235.mp4
- 900p60 https://clips-media-assets2.twitch.tv/AT-cm%7C732178007.mp4

**Defected VOD:**

- 998p60 https://d2nvs3

[2020-06-02 06:12] fgl27 commented on #7411
One thing I notice is that the 900p60 takes more time to show the issue 10 to 30s, the others is practically instantaneous.

Also when I use `app:surface_type="texture_view"` the problem is there I can visually notice it, but the dropped frame counter doesn't work, maybe is intentional this type of surface doesn't support the listener or something related.

[2020-06-02 06:51] gokulkalagara commented on #7444
Cross-check the below bug report this latest one. Please help me

[bugreport-2020-06-02-12-13-40.zip](https://github.com/google/ExoPlayer/files/4715309/bugreport-2020-06-02-12-13-40.zip)

[2020-06-02 07:43] tonihei commented on #7351
Thanks for checking! In this case, I'll close the issue for now because it seems it's no longer a problem we can fix in our code. If you see the same problem happening on the latest version, please feel free to reopen.

[2020-06-02 07:56] andrewlewis commented on #7314
@DevinDuricka If you can reproduce the issue when using `dev-v2` it would be helpful if you could file a new issue and include steps to reproduce the problem. Thank you!

[2020-06-02 07:59] tonihei opened #7456 "AudioTrackPositionTracker returns negative timestamps after reset"
### [REQUIRED] Issue description
`AudioTrackPositionTracker` sometimes returns a negative timestamps immediately after a reset (e.g. at the start of playback, or after a seek). This causes the `rendererPositionUs` in `ExoPlayerImplInternal` to be negative, which in turn violates other assumptions the player and the renderers make about the position. This issue was originally reported in #7449. The

[2020-06-02 08:00] deepaksingh16 commented on #7452
@andrewlewis I've sent a Google drive link of song downloaded directly from streaming link(From Mail 1).
This is the same source by which I'am able to play song in ExoPlayer when downloaded to phone storage. Can you please check now?

[2020-06-02 08:03] Romantic-LiXuefeng commented on #7351
@tonihei @ojw28  @andrewlewis  Could you give more information and point out why?  It's actual an issue on release version 2.9.6.  I will update to the latest version later.  Thanks!

[2020-06-02 08:08] tonihei commented on #7351
Sorry for the confusion. I understood from your comment that you already tried the latest version. If you haven't tried yet, I'll reopen and mark as "need for info".

[2020-06-02 08:29] Romantic-LiXuefeng commented on #7351
@tonihei I used the latest dev version to try, it's actual not exist.  To me, I can't update to least version at now.  I just want to know the reason why this happened and how to fixed this, because of the modify is in the most complex logic `ExoPlayerImplInternal` class, I'm not sure my modify try to fixed this issue whether cause more issues I can't image.

[2020-06-02 08:37] CaptainHuangsh commented on #6168
but if there are three or more player play in the same time on the screen .single instance cant do so

[2020-06-02 08:41] tonihei commented on #7351
That means there is no problem in the dev-v2 branch, correct?

We don't usually fix problems for older versions of ExoPlayer. So even if we find the exact reason why this happening in 2.9.6., we would still fix it in the latest dev-v2 branch only.

Do you mean the change mentioned here: https://github.com/google/ExoPlayer/issues/7351#issuecomment-627061112? If yes, then you can probably keep it be

[2020-06-02 09:30] mseroczynski commented on #7453
FYI reinstating RequirementsWatcher did not help (my code thats using https://github.com/pwittchen/ReactiveNetwork/ could correctly detect that there is wrong state in ExoPlayer not met requirements yet still workaround fix described in last post failed to work), I'm trying out WorkSchedulerManager now.

[2020-06-02 09:44] tonihei commented on #7419
Yes, it's safe to override `selectAudioTrack` to return the expected `TrackSelection.Definition` and `AudioTrackScore`.

But please note two caveats:
 1. If multiple audio renderers have assigned track groups, this method will be called multiple times (once for each renderer) and `DefaultTrackSelector` will compare the returned `AudioTrackScore` values to decide which one to select. This will use

[2020-06-02 11:02] sravan1213 opened #7457 "No exception when downloads fails."
Is there any reason for not propagating exception to app when download fails. In earlier version we used to get Throwable which has more details about error.

In latest version's we have int definition for error which doesn't provide much info about error.

[code]

[2020-06-02 11:52] okycelt commented on #7322
@andrewlewis, we're also interested in having midrolls in live streams. Actually, Shaka Player already supports this. The way it works is that it resumes the live stream in the same position where it stopped before. So the delay from the live edge is gradually increasing. In our tests, we've used fixed cue points and it wasn't a problem.

If it helps, we could provide a testing live stream togethe

[2020-06-02 12:17] andrewlewis commented on #7322
@okycelt That would be helpful, especially if the stream/ad tag don't expire for a while (I'm not sure when we will get round to doing this). Thanks.

[2020-06-02 12:22] mseroczynski commented on #7453
There is surely something wrong elsewhere, process is not killed and issue is reproducible on other versions of Android (happened on 10 now). (Scheduler implementation doesn't seem to play a role). I think it's a critical bug and I'm having trouble fixing it outside of ExoPlayer. Try to take 10+ devices for a 20 minute walk like me and you'll supposedly reproduce it. Also, FYI I'm triggering resum

[2020-06-02 12:41] andrewlewis commented on #7452
For me, it doesn't play in the 2.10.1 demo app, with the same `UnrecognizedInputFormatException`, and has the same md5sum as fromserver.mp3 in my previous message.

[2020-06-02 13:01] mseroczynski commented on #7453
Are you planning to release this critical fix in upcoming 2.11.5? If not I need to know to abandon Requirements api for a while..

[2020-06-02 13:04] icbaker commented on #7409
Closing due to inactivity.

[2020-06-02 13:04] #7409 closed, assigned to icbaker

[2020-06-02 13:04] icbaker commented on #7374
Closing due to inactivity.

[2020-06-02 13:04] #7374 closed, assigned to icbaker

[2020-06-02 13:04] icbaker commented on #7258
Closing due to inactivity.

[2020-06-02 13:04] #7258 closed, assigned to icbaker

[2020-06-02 13:22] mseroczynski commented on #7453
Please let me know, if this issue will be ignored in 2.11.5 I'll have to fork ExoPlayer to base RequirementsWatcher on verified working implementations like these: https://github.com/pwittchen/ReactiveNetwork/tree/RxJava2.x/library/src/main/java/com/github/pwittchen/reactivenetwork/library/rx2/network/observing/strategy

[2020-06-02 13:48] wazerstar commented on #5491
New link since the others expired.

https://mega.nz/file/cNAQ2ApS#bt0OhhBuxiAJ0s2_qioOxes6xO1cOIl-xE7AUX20lOY

[2020-06-02 13:49] wazerstar commented on #7220
I'm glad that this is finally beeing looked into.

I have a sample file from channel using these subs.

50ish mb on mega

https://mega.nz/file/cNAQ2ApS#bt0OhhBuxiAJ0s2_qioOxes6xO1cOIl-xE7AUX20lOY

Please let me know if there's anything else you need, I can provide realtime tv data stream for testing if needed.

@AquilesCanta you still on it?
@HuzefaGadi what about you.

[2020-06-02 14:05] emilieroberts commented on #7439
Just FYI: If I use a GLSurfaceView for decoding, and try to decode as fast as possible, 50-75% of frames are dropped in the current implementation.

Overriding getMediaFormat in MediaCodecVideoRenderer and setting the integer "allow-frame-drop" to 0 prevents this and 0 frames are dropped.

`mediaFormat.setInteger("allow-frame-drop", 0)`

Also noticed MediaFormat is missing a proper MediaFormat key

[2020-06-02 14:21] henninghall commented on #7374
Thanks a lot for all your help @icbaker!! 😇  It was really helpful and we managed to figure it out.

[2020-06-02 14:40] andrewlewis commented on #7439
Regarding the `MediaFormat` key, this was added just after the API cut for Android S unfortunately but should be in the next release.

[2020-06-02 15:02] ebr11 opened #7458 "Multiple simultaneous PGS subtitles"
### [REQUIRED] Use case description
The same type of content that would usually use SSA subtitles for multiple subs at once appears to also be authored with PGS subs in this same manner.  Exo has the same problem with these that it used to have with SSA/ASS before recently fixed/enhanced.  When two subs are to be displayed, the net effect is that one sub flashes and goes away and then nothing is d

[2020-06-02 15:04] andrewlewis commented on #7458
@icbaker Please could you take a look?

[2020-06-02 15:20] AquilesCanta commented on #7356
Hi, is this still an issue? Is it possible that it was fixed server-side?

I was just now able to correctly play the stream locally.

[2020-06-02 15:26] AquilesCanta commented on #7218
Hi @menscikov, is this still an issue? I found it hard to understand how this could be possible, and went under my radar.

If this is still an issue, could you please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that I can reproduce locally? Even perhaps a small patch I can apply to our demo app should

[2020-06-02 16:06] okycelt commented on #7322
@andrewlewis, I've sent you the links via email. The VMAP is generated dynamically. There should be a midroll every 20 seconds or so for the following 5 hours after you request the VMAP. If any of the links expire, just ping us here or via email. We'll provide new links.

Thank you

[2020-06-02 16:08] Swathi-Thirunarayanan commented on #7454
I tried as you suggested and it is changing the playback state to ended. I am not seeing frames being rendered after that.

## Note:
I also noticed that attimes decodeOutputBuffer doesn't return -1 at the beginning. And it seems to miss first few i-frame pts values from inputBuffer.

For your reference, I am attaching the logs that i added to show that it skips few i-frame pts values initially.

L

[2020-06-02 16:23] icbaker commented on #7458
`PgsSubtitle` looks to be different to SSA (which is generally decoded from a single text file with all the cues in it). In PGS it seems each `Subtitle` object comes from a single sample - likely from an MKV file.

Our existing sample data for this doesn't have simultaneous cues - do you have a clip that demonstrates the problem you could share here, or email to dev.exoplayer@gmail.com (subject: "

[2020-06-02 17:06] ebr11 commented on #7458
Link to sample content has been sent.  Thanks.

[2020-06-02 19:56] icbaker commented on #7458
Thanks for the sample content, I'm able to see behaviour similar to what you describe.

[2020-06-02 20:11] ebr11 commented on #7458
Thanks very much.  While you're looking at PGS rendering, the ability to properly render dual-layer PGS would be much appreciated (just shows outlines now).  Let me know if you would like a new issue on that.

[2020-06-02 21:10] tprochazka opened #7459 "RESIZE_MODE_ZOOM or RESIZE_MODE_FIXED_HEIGHT don't keep aspect ratio"
Basically I need to display 16:9 movie to fullscreen on 19:10 screen. So set height to maximum and crop on both sides.

I tried to use
[code]
or
[code]
Both modes should keep aspect ration according to documentation, but it doesn't happen.
Both just stretch video to fill the whole screen, so it is deformed.

I tried also
`player.setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING);

[2020-06-02 21:43] tprochazka commented on #7459
Update.

So it is not a common issue, it works for other devices. The issue is only on this [android box](https://www.gearbest.com/tv-box/pp_009170053505.html). :-(

There is Android 9. I tested it on Samsung S8+ where is also  A9 and on Sony Android TV, where is A8 and it works there. Do you have an idea what can be different in this Android box, that it ignore aspect ration of the movie?

[2020-06-02 21:48] ojw28 commented on #7431
I think that setting a cookie manager is the right thing to do to solve this. The ExoPlayer demo app also does this, [here](https://github.com/google/ExoPlayer/blob/r2.11.4/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L136). I don't know what cookie policy you need. It might be that `ACCEPT_ORIGINAL_SERVER` is sufficient, as is being used in the demo app.

In any

[2020-06-02 21:48] #7431 closed, assigned to marcbaechinger

[2020-06-02 21:50] ojw28 commented on #7438
Duplicate of https://github.com/google/ExoPlayer/issues/5914.

[2020-06-02 21:50] #7438 closed, assigned to marcbaechinger

[2020-06-02 21:54] ojw28 commented on #7457
Downloads failures now need to be persisted in the download database. Trying to store and reconstruct a whole exception to/from the database doesn't feel like the right thing to do. Providing more fine-grained failure reasons is tracked by https://github.com/google/ExoPlayer/issues/5914, so I'll mark this as a duplicate of that issue. We could also look at storing the name of the Exception class a

[2020-06-02 21:54] #7457 closed, assigned to ojw28

[2020-06-02 22:16] rrfrias commented on #7384
Instructions to capture a bugreport: https://developer.android.com/studio/debug/bug-report

[2020-06-02 22:19] jt64 commented on #7440
Hi Cencodes, thank you for the files. The files you attached are logs from the application and do not contain the system level information we need to investigate the problem in the framework. What we need are system level bugreports, please see the [Android Studio developer page](https://developer.android.com/studio/debug/bug-report) that describes how to collect one.

Thanks!

[2020-06-02 23:06] ojw28 commented on #7456
Should be fixed by the commit ref'd above.

[2020-06-02 23:06] #7456 closed, assigned to ojw28

[2020-06-02 23:07] ojw28 commented on #6901
The commit ref'd above should make resumption after pausing a lot smoother. It will make it into the 2.11.5 release. Please let us know if you have any feedback!

[2020-06-02 23:07] #6901 closed, assigned to andrewlewis

[2020-06-02 23:07] #7325 closed, assigned to AquilesCanta

[2020-06-02 23:11] jt64 commented on #7393
Thank you for providing the bugreport. The bugreport shows that this particular device is in a non-secure or unstable state:

<6>[171815.796932]  [3:    kworker/3:0:21075] Trustonic TEE: 601|Err tima  measure_verify_kernel: TIMA_PKM_HASH_DB: KERNEL VERIFICATION FAILED

05-29 12:40:14.288 18098 25598 E wv_dash : Trustlet did not send a valid return code: 0x6000
05-29 12:40:14.288 18098 25598 E wv_d

[2020-06-02 23:11] #7393 closed, assigned to jt64

[2020-06-03 02:08] KelvinJin commented on #6725
Hey guys, instead of creating a new issue I just want to mention that we're having the same issue here. Please indicate if this is necessary and if there's a way to stop the extra requests. This actually increases the cost of our DRM server so it would be good to figure out a solution. Thanks in advance.

[2020-06-03 09:23] icbaker commented on #7458
Please file a new issue for the dual-layer PGS.

I'm afraid we don't have the time to work on either of these issues immediately, so I can't say when they'll get done. We'd welcome pull requests for either.

If that's something you're interested in taking a look at, [`PgsDecoder`](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/text/pgs/PgsD

[2020-06-03 10:02] sravan1213 commented on #5914
@ojw28 Can this failure reason be customized?? So that app can decide what the failure reason is ??

Example - our server throws 403 for multiple reasons.. token expired.. geo blocked etc...

We can distinguish only if we are able to read http response headers and failure response..

[2020-06-03 10:40] Avgur123 opened #7460 "Iterate remote urls and get mp3 metadata"
Hello,
I have a number of links to mp3's:
data = {
"http://url1.com/file1.mp3"
"http://url1.com/file2.mp3"
"http://url1.com/file3.mp3"
"http://url1.com/file4.mp3" }
I'm trying to get tracks metadata, as it was explained here in other issues:
(Note: I DON'T WANT TO PLAY TRACKS, I NEED ONLY COLLECT METADATA (ARTIST, GENRE, ALBUM ART))
**1) first: make ConcatenatingMediaSource:**
mConcatMediaSource=n

[2020-06-03 11:01] mseroczynski commented on #5914
BTW, ExoPlayer can also throw errors when we try to free up some space - this happened when I tried to remove some files from full storage with ExoPlayer's api.

`2020-05-27 15:16:32.780 12546-12962/com.xxx.debug E/SQLiteLog: (13) statement aborts at 5: [DELETE FROM ExoPlayerCacheIndex18390749ed91b365 WHERE id = ?] database or disk is full
2020-05-27 15:16:32.787 12546-12962/com.xxx.debug E/SQLite

[2020-06-03 11:42] kgrevehagen commented on #7390
Hey. I don't want to nag you, but is it possible to get some feedback on this?
Really looking forward to hearing your views on this topic :)
Thanks in advance!

[2020-06-03 12:39] andrewlewis commented on #7454
It's a bit unclear where you are logging on the output side. The logic in `MediaCodecVideoRenderer.processOutputBuffer` can cause frames to be dropped.

To make progress by getting clear logs to help identify what is going on, I think we need a log line with the input timestamp in every location that calls `MediaCodec.queueInputBuffer` and a log line with the output buffer info timestamp in every

[2020-06-03 13:25] andrewlewis commented on #7459
As this appears to be device-specific, please raise a bug with the device manufacturer. I'm not sure what they might be doing differently. If there isn't already a compatibility test for this in Android CTS, I'll ask the media framework team if they can add one.

[2020-06-03 13:25] #7459 closed, assigned to nobody

[2020-06-03 13:58] mareiski opened #7461 "Minix Neo U1: SampleQueue$AllocationNode Memory Leak"
### [REQUIRED] Issue description
We want to loop a video file for at least 2 months. Everything works fine, but after 1 to 10 hours the video is frozen and we get an out of memory error. This is just happening on android 5.1, on android 6.0 it works fine. We are using a 4k video file, but its also not working with normal videos (but it takes more time till the error occures). I also made a heap du

[2020-06-03 14:07] ojw28 commented on #7453
I've been able to reproduce this by walking repeatedly outside and back into WiFi connectivity (I'm not able to reproduce by simulating the same thing with a microwave; perhaps the way the signal strength drops off and comes back differently in the two cases makes a difference).

When the issue reproduces, `RequirementsWatcher.NetworkCallback` receives a capabilities changed event indicating that

[2020-06-03 14:49] Swathi-Thirunarayanan commented on #7454
`Queueing the end-of-stream buffer should cause the decoder to output any 'pending' frames `
I guess this is done by `processEndOfStream()` which in-turn runs `renderToEndOfStream();` Correct me if I am wrong?

I will add logs in the places that you mentioned.
**Note:**
`MediaCodecVideoRenderer.processOutputBuffer can cause frames to be dropped.` I did force Exoplayer to not skip/drop any frames.

[2020-06-03 17:05] ojw28 commented on #6798
We do now have reproduction steps for one case in which downloads fail to resume when network connectivity is restored. We're tracking this using https://github.com/google/ExoPlayer/issues/7453.

[2020-06-03 22:09] stevemayhew opened #7462 "Subsample offset and cue timestamp parsing for WebVTT fails when PTS wraps."
### Issue description
ExoPlayer does not handle PTS wrap that is not propagated to the Cue timestamps, that is the timestamps continue in time past the max representable as a PTS value.  This is allowed by the Pantos spec as:

[code]

Note [this commit](https://github.com/google/ExoPlayer/commit/fed2a1a6eaf8025bc6ff8ff92c78ce7dcabc17d1)  to fix Issue #2928 does not fix this issue, as all the cue t

[2020-06-03 22:12] dukaenea opened #7463 "Player View overlap when rotating"
### Searched documentation and issues
I have already looked at [#5714](https://github.com/google/ExoPlayer/issues/5714) but the solution provided there looks more like a workaround rather than a proper solution. I followed the proposed workaround but it does not work in my case.

###  Question
I have created an `Activity` containing a `ViewPager`.
Inside the `ViewPager` I put `View`s which can be

[2020-06-04 01:33] ogawa-ma commented on #7356
@AquilesCanta
Hello, I haven't made any server-side fixes.
ExoPlaybackException occurs when trying to play in Xperia XZ(OS:8.0.0) still confirmed.
Did you find out from the bug report why the crypto key is not available?
Also, if you do not know the cause, is there any information that can be provided from here for cause investigation?

[2020-06-04 05:09] Taranlayal10 opened #7465 "Transfer characteristics: BT.470 Only Audio No Video"
Hi, @ojw28

I am writing this as a question in regards to a previously closed bug 3596. Where provided solution is not feasible. Since that issue is in locked state so I am unable to add comment on same thread.

**Original Issue**
When playing live encrypted dash content on Pixel 2 XL, audio plays but the video is not visible. The content plays fine on other devices including Pixel 1 with Android

[2020-06-04 06:34] uktshukg opened #7466 "Does Exoplayer support Incremental Kapt, I want to make incremental build which will help in reducing build time"

[2020-06-04 06:40] gokulkalagara commented on #7384
I sent bug report please cross-check

[2020-06-04 07:04] naseeb8950925214 commented on #7140
@ojw28 Any update on this issue?? Any help would be appreciated.

[2020-06-04 08:23] andrewlewis commented on #7466
The best way to check is probably to try it, but as far as I know we don't depend on any non-incremental annotation processors so I'd expect it to work. [Here are some instructions](https://github.com/gradle/gradle/blob/master/subprojects/docs/src/docs/userguide/jvm/java_plugin.adoc#incremental-annotation-processing) about checking for annotation processors triggering full recompilation. I'll leav

[2020-06-04 08:31] andrewlewis commented on #7465
It looks like handling of BT.601 was missing in the graphics stack and this had to be fixed by Qualcomm, so a system update was required to roll out the fix. I think it's unlikely we can workaround the bug at the app level (even if it was worth the effort to try to handle rendering ourselves, which is unlikely, it would probably be impossible because the content is DRM protected).

@ojw28 I'll clo

[2020-06-04 08:31] #7465 closed, assigned to andrewlewis

[2020-06-04 08:35] andrewlewis commented on #7462
@icbaker @AquilesCanta Please could you take a look?

[2020-06-04 08:39] andrewlewis commented on #7463
Please could you share a minimal test project so we can reproduce this here?

Is the problem the black rectangle that's visible after rotation? And that doesn't go away even if you use `TextureView`?

[2020-06-04 09:28] andrewlewis commented on #7240
This is probably being (at least partly) addressed in the discussions on #7382 and #7454 so I will mark this as a duplicate to avoid repeated effort.

[2020-06-04 09:29] andrewlewis commented on #7240
Duplicate of #7382

[2020-06-04 09:29] #7240 closed, assigned to andrewlewis

[2020-06-04 09:29] andrewlewis commented on #7240
Duplicate of #7454

[2020-06-04 09:48] andrewlewis commented on #7454
By "the decoder" I mean `MediaCodec`. If you've queued a frame on the input side and it hasn't been output yet, but the decoder in theory has enough information to output it and enough time has been elapsed to decode it, queueing end-of-stream on the input side will cause it to be output eventually, followed by the end-of-stream buffer. This is the behavior of `MediaCodec` which is the API that th

[2020-06-04 09:48] #7454 closed, assigned to andrewlewis

[2020-06-04 09:58] AquilesCanta commented on #7356
- Can you please confirm whether this is a device-specific issue?
- Are you able to play the stream on any other device?
- Are there any special reproduction steps I should be aware of?

I didn't have any issues to play on a pixel 3a, using the demo app.

[2020-06-04 10:03] andrewlewis commented on #7461
Unfortunately I don't have access to a device running Android 5.1 at the moment so can't try to reproduce this. Without access to the stream you are trying to play I can't check if it's playable on the emulator. Before we investigate further, please try to reproduce this using the ExoPlayer demo app (modified to loop indefinitely) using the latest release.

If there is a bug in ExoPlayer causing a

[2020-06-04 10:10] AquilesCanta commented on #7462
I thought ExoPlayer already supported this case, actually. I can take a quick look.

[2020-06-04 10:24] marcbaechinger commented on #7444
Thanks. The bug report contains logs of a part of a playback starting at mediaPos=494.55.
I see frame drops and dropped frames in the logs but I'm not sure whether I see something which makes me think of a bug. When I play the media on my device this runs through the end without any of these.

In case you see the dropped frames as the problem, I don't think I can do much about it I'm afraid. The m

[2020-06-04 10:24] marcbaechinger commented on #7221
We don't have any progress on this I'm afraid.

[2020-06-04 10:32] ogawa-ma commented on #7356
@AquilesCanta

This occurs only on this device.

You can play it normally on other devices(Pixel3,Pixel4).

There is no special way to play it. Just need to play on the Xperia XZ(OS:8.0.0) to reproduce this phenomenon.

[2020-06-04 11:20] marcbaechinger commented on #7417
Yes, the media file is cached to disk. When I add your url to the demo app and press the download button for it in the sample chooser activity it creates a file in

[code]

the directory 7 may be different. In the directory there is a single file containing the cached file:

[code]

When putting in the airplay mode the media plays fine. I can stop the app or even redeploy with AndroidStudio and th

[2020-06-04 11:21] AquilesCanta commented on #7356
In that case, I doubt this is an ExoPlayer issue. I think one of two things may be going on:

- The content decryption module on your device is generating a key request that the license server doesn't like. Maybe it's something related to this specific device (maybe try another phone with the same model?), or the device model. If this is the situation, I'd try to see what's going on on the server

[2020-06-04 11:42] andrewlewis commented on #7459
For the record I've referenced this issue in [Internal: b/34159087], for tracking adding a CTS test.

[2020-06-04 12:12] ogawa-ma commented on #7356
@AquilesCanta
I'm sorry. I forgot to attach a bug report. I have now sent a bug report to dev.exoplayer@gmail.com.

[2020-06-04 12:24] marcbaechinger commented on #7433
The `IndexOutOfBoundsException` which is shown in the logs above is thrown by `Timeline.EMPTY`. The player tries to get a period from the empty timeline in `getCurrentPosition`.

This actually should not happen with an empty timeline, because there is the check in [`shouldMaskPosition`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/Exo

[2020-06-04 12:47] dukaenea commented on #7463
Yes, exactly. The problem is the black block that still remains on screen after rotating.
I tried setting `surface_type=texture_view`  and different `zoom_mode`s but the issue still persists.

As for the test project I have to ask my higher-ups if I can provide part of the application. If not I will have to create a sample project and make sure that the issue occured in it as well.

[2020-06-04 13:37] andrewlewis commented on #7463
It's strange this is happening with `TextureView` as that should be rendered/composited just like a normal UI view (rather than having special handling of `SurfaceView`). Could there be any other `SurfaceViews` in your layout? If you inspect the layout via the Android Studio layout inspector while the black rectangle is visible, is there any sign of the black rectangle in the layout inspector?

[2020-06-04 14:48] marcbaechinger commented on #6808
Closed due to lack of information (bug report) and activity.

[2020-06-04 14:48] #6808 closed, assigned to marcbaechinger

[2020-06-04 14:59] xiaos opened #7467 "Using MergingMediaSource with ClippingMediaSource"
I am using ExoPlayer to play multiple audios simultaneously, according to this: https://github.com/google/ExoPlayer/issues/4261#issuecomment-389429159
I implemented successfully, but now I have a requirement to clip the mediaSource, then merge.

So I have two ClippingMediaSource.
s1 = ClippingMedisSource(progressiveMediaSource1,  2000000, 4000000);
s2 = ClippingMedisSource(progressiveMediaSource2,

[2020-06-04 15:01] icbaker commented on #7462
@AquilesCanta and I have taken a look at this. I'm not convinced the source media is valid/correct in this case. There's 2 (quite different) questions:

1. Should WebVTT headers be allowed on the same line as the `WEBVTT` magic string?
2. Should the `LOCAL` value of `X-TIMESTAMP-MAP` wrap when the `MPEGTS` value does?

### WebVTT header parsing

The WebVTT [file parsing spec](https://www.w3.org/TR

[2020-06-04 15:05] icbaker commented on #7230
This is now fixed on dev-v2.

[2020-06-04 15:05] #7230 closed, assigned to icbaker

[2020-06-04 15:10] #7038 closed, assigned to andrewlewis

[2020-06-04 15:11] andrewlewis commented on #5966
Closing due to inactivity and the fact that this is most likely fixed.

[2020-06-04 15:11] #5966 closed, assigned to andrewlewis

[2020-06-04 15:55] raja-baz opened #7468 "ExoPlayer fails to play a specific fragmented m4a file"
### [REQUIRED] Issue description

ExoPlayer fails to play files generated by ffmpeg with the following command line:

[code]

ExoPlayer detects this file as fragmented but `FragmentedMp4Extractor` then fails to properly extract media from this. The actual reason seems to be that the file is missing a `moof` Atom after the `moov` Atom.

Note that this doesn't happen if we revert the following commi

[2020-06-04 16:36] gokulkalagara commented on #7444
what I have to do?

[2020-06-04 16:44] ojw28 commented on #7453
@mseroczynski - The commits referenced above should largely mitigate this issue (one is into `dev-v2` and the other is the same change cherry-picked into `dev-v2-r2.11.5`).

There's still something weird going on in the problematic case where the events that the platform is firing seem to be inconsistent with what we get when we then query the platform through its getters. This is described in a l

[2020-06-04 16:44] #7453 closed, assigned to ojw28

[2020-06-04 16:53] ojw28 commented on #7468
@andrewlewis FYI - I didn't check, but it's possible this is a dupe of https://github.com/google/ExoPlayer/issues/7308.

[2020-06-04 16:56] raja-baz commented on #7468
That indeed looks very likely from this discussion on that other thread, yes. My search-fu failed to find it.

[2020-06-04 17:52] ojw28 commented on #7411
I was able to reproduce the problem. My device came with Android 9 pre-installed, so I wasn't able to test whether it worked with Android 8. I agree it's a device specific problem, and I've reported the issue to Xiaomi [Internal ref: b/158212014]. I will let you know if/when we hear back.

[2020-06-04 18:15] yak27 commented on #6705
Is it on the roadmap for these parameters to be applied from the SimpleExoPlayer class rather than it being set with the factory?

[2020-06-04 18:37] krackjack234 commented on #7431
hi @ojw28  if this code is impacting the way Exoplayer is handing cookies, should we not have this as part of Exoplayer code itself?

[2020-06-04 19:07] fgl27 commented on #7411
OK thanks for the help.

[2020-06-04 20:38] ojw28 commented on #7431
ExoPlayer doesn't handle cookies at all, and it's not really its job to do so. It's the application's job to configure the network stack to handle cookies in the correct way for the services that it's interacting with.

As justification for this, consider all of the other non-media network requests that your application is making. It's not ExoPlayer's job to handle cookies for those requests, and

[2020-06-05 00:07] stevemayhew commented on #7462
Thanks @icbaker !

The Pantos spec is unclear how the TIMESTAMP-MAP should be placed in the file (of course, spec is vague on many things).   The w3c spec states pretty clearly the WEBVTT string can be followed by space or tab (https://www.w3.org/TR/webvtt1/#file-structure.  It is this that the origin vendor claims its ok to do it this way.  My last checkin of the `WebvttParserUtil.isWebvttHeaderL

[2020-06-05 02:29] bebop7-dev commented on #7167
@andrewlewis I'm sorry I checked late. Thank you for the comment. I'll try above approaches!

[2020-06-05 05:14] TakuSemba commented on #7427
Can I ask a question regarding to onRenderedFirstFrame/onPlayerStateChanged

While I understand these two do not depend on each other, in a weak network condition, I can confirm there is a huge gap between onRenderedFirstFrame and onPlayerStateChanged. I thought network condition is not supposed to affect the gap between these calls and I could not figure out why this happens.

[code]

[code]

[2020-06-05 07:51] gokulkalagara commented on #7384
@rrfrias @jt64 @ojw28 Please cross-check

[2020-06-05 11:18] skogl opened #7469 "Allowing invalid AAC streams?"
### [REQUIRED] Searched documentation and issues
There are many issues related to this: #6112, #3712, #3158

### [REQUIRED] Question
I have many streams with a PMT header that declare tracks that don't contain any actual packets in the transport stream. My application use Exoplayer to play streams that are broadcasted using DVB-T/S/C/ATSC and my hypothesis is that broadcasters have a static set of

[2020-06-05 12:22] marcbaechinger commented on #7427
Like @ojw28 stated above about when the player transitions to `STATE_READY`:

Accordingly this means that if the player is configured to wait until X milliseconds of media is available, the first frame can be rendered before this condition is met. In a slow network this gap can increase as you observed.

[2020-06-05 12:38] mareiski commented on #7461
Ok installed the demo app successfully and set the repeat mode to all. I will let write you if something happens.

I also don't know why it's working on android 6. The apps are the exactly the same.

[2020-06-05 12:58] krackjack234 commented on #7431
@ojw28  got it. Is there any way we can apply this setting only for the exoplayer network calls instead of applying it globally?

Also as part of the original problem, we are still not able to understand why Exoplayer in some cases are not passing the cookies if we do not set the cookie handler. The problem is this issue is intermitted without this change, so it will be great to know why sometimes

[2020-06-05 13:00] icbaker commented on #7462
I agree `WEBVTT` can be followed by space/tab and then anything else until the end of the line. But I think [6.1](https://www.w3.org/TR/webvtt1/#file-parsing) says to then skip that data (and start parsing headers on the next line). However that 4.1 wording you've linked doesn't seem to allow headers at all (requires a blank line immediately after `WEBVTT + other-things`). This seems to contradict

[2020-06-05 13:50] icbaker commented on #7462
This is now pushed to dev-v2. Can you try it out and see what you think? (you'll need to keep your header parsing changes locally)

[2020-06-05 13:56] icbaker commented on #6725
This is currently working as expected (unfortunately) - when seeking from one period to another we release the previous period & renderer (which in turn causes the `DrmSession` to be released) before starting playback in the new period (which triggers acquiring the `DrmSession`).

This means that we're not able to re-use the `DrmSession` instance, even though the keys are identical, because it's b

[2020-06-05 14:30] ojw28 commented on #7431
To re-iterate, ExoPlayer does not "pass the cookies". It's the network stack that passes the cookies. In order for the network stack to have a cookie to pass in the first place, it must have been given to the network stack somehow. Probably a previous request for which the server response included a `Set-Cookie` response header, as outlined by @marcbaechinger above. The cookie manager probably als

[2020-06-05 14:33] andrewlewis commented on #7469
@AquilesCanta Please could you take a look?

[2020-06-05 14:47] ojw28 commented on #7453
Subsequent fix in 226583f01c5dd42453bb2fa9fa38344cf10196d0 / 46d29b25c9bec032440d545de1494f18815cc00a.

[2020-06-05 15:11] icbaker commented on #7462
I did some digging through the WebVTT history and found that 'WebVTT header' **was** clearly defined when the HLS spec was written, and they were defined as appearing on their own lines directly underneath `WEBVTT`. Full details in https://github.com/w3c/webvtt/issues/485#issuecomment-639553893.

So the HLS spec is arguably relying on an old version of the WebVTT spec, but it seems pretty clear th

[2020-06-05 15:51] ojw28 commented on #6429
This migration is now released in 2.11.5.

[2020-06-05 17:00] stevemayhew commented on #7462
Yeah thanks for this Ian,  and all your thoughtful analysis here..  It's great.

As a player vendor, there is no real benefit to being pedantic to the spec (unless you want to use it to display a warning log when you see things that are non-compliant).  The player's job is to make every reasonable attempt to gather the actual intent from input sources that are less then perfectly compliant.   So,

[2020-06-05 17:41] zgzong commented on #7318
@christosts
This issue I reproducible on my huawei p20 lite, I can't reproduce it on my pixel 3a.
The issue is happened when it switch bitrate from high to low.

[2020-06-05 18:12] ojw28 commented on #7462
When it's phrased this way it makes it sounds like we've proactively added additional code to make pedantic conformance checks. This is not the case, and it's not our policy to do that.

I disagree with this. Every time we add logic just for one provider who's violated the spec in their own unique way, that's behaviour that's not really defined anywhere that we have to carry around with us indefin

[2020-06-05 19:28] stevemayhew commented on #7462
@ojw28 I hear your pain and I agree with you.  Thank you all for considering this and providing the justification from the standards.   The origin vendors do want to adhere to the standards as well.

I'll share this with them in our internal  bug for this, and we'll see where it goes there.  I'll pass along relevant bits here.   If it's better for tracking, I'm happy to split this out into a separ

[2020-06-05 19:49] stevemayhew commented on #7462
@ojw28 the Bright Cove folks obviously experienced this as well: https://sdks.support.brightcove.com/features/synchronizing-webvtt-captions.html

Note the big warning:

Next push I'll take out commit 5e7d22a and commit 2108c6a from the pull branch.  We'll keep these ourselves locally until the origin vendor agrees or convinces us all this is a spec bug.

[2020-06-05 19:52] stevemayhew commented on #7462
Ian, thanks so much.  I'll look at the sample and put in the expected PTS for all of the cues in at least the first 5 or 6 cues in the example, we can make a test case for it then (it would need to be on the render side, as the final calculation with offset is done there.

[2020-06-05 20:34] rrfrias commented on #7384
Thanks for the logs @gokulkalagara . Unfortunately the bugreport does not capture the the license request and playback. Did you try to playback, have it fail and then capture the bugreport? If not can you try again. An alternative might be to capture a logcat without filtering out an log tags during the playback attempt.

[2020-06-06 04:14] gokulkalagara commented on #7384
I sent to 2 bug reports. @rrfrias @jt64 @ojw28 Please cross-check

[2020-06-06 11:02] mitesh-foremost opened #7470 "How to change song from list in exoplayer programmatically"
I am developing an audio player app and I am using exoplayer first time I am searching solution for change song programmatically.

I have one ArrayList of the song. if the user clicks on the Next button then play the next song and if the user clicks on previous, I want to start the song from start or click twice then play the previous song.

I am using this for now but is there any other easy way

[2020-06-06 12:03] deepaksingh16 commented on #7452
@andrewlewis I created a separate demo to choose file locally and played the file downloaded from stream url and it works fine. I am getting `UnrecognizedInputFormatException ` only in case of playing it through url.
I am preparing media by following code:
[code]

I am pretty sure that there is no issue with file and even with stream as all other Media Players are able to play file as well as url

[2020-06-06 13:17] davebatistareal opened #7471 "ITS POSSIBLE WEBVIEW HTML5 VIDEO TO EXOPLAYER ?"
Hello,
i need a little help, i need to run a HLS video in HTML5 in my webview to Exoplayer, its possible ?
in html5 video am using hls.js library.

thank you so much!

[2020-06-06 21:52] pooyair opened #7472 "Add new Feature Request for supporting bit.tube urls"
Thanks for wonderful work. I love exoplayer the only missing feature is opening Bit.tube stream url. as you know there are so many bit.tube stream url that currently is not possible to view them by your library but it can be open by VLC and Safari web browser but not with Exoplayer. here is an example  for url https://bittube.tv
Thanks

[2020-06-07 01:52] mddrill commented on #7417
I'm not sure if you understood my last post. Explicitly downloading the mp3 with DownloadService.sendAddDownload is working as I expect. What's not working as I expect is streaming with

[code]
I believe that if I do this directly without ever having downloaded the media, it should still cache the media on disk, right? Since I'm using a cacheDataSourceFactory.

When I do this, I can see the uid fi

[2020-06-07 07:30] gokulkalagara commented on #7384
any luck

[2020-06-07 09:24] Bhuvanesh-Verma commented on #7386
I started service as foreground service and changed nothing. It is working uninterruptedly now. Thanks
Closing the issue

[2020-06-07 09:24] #7386 closed, assigned to marcbaechinger

[2020-06-07 10:39] ojw28 commented on #7417
You've configured the `CacheDataSourceFactory` to be read-only, by explicitly the `cacheWriteDataSinkFactory` argument to `null`:
[code]

If you want it to be writable you should probably build one using the simpler constructor:
[code]

[2020-06-07 11:25] pooyair opened #7473 "how change hls url value dynamically in the java code."
I use demo main sample code coming with the git repository. i have a url as reference containing a hls url .I know how can i get the response from http but i want to know where to place the code in the exoplayer project . Thanks

[2020-06-07 11:57] mareiski commented on #7461
It happened again with the demo app. But just with our own video. I will send it to if this is ok. The time on the timeline is still ticking but the video is frozen. According to the timeline i played the track for about 15 hours. I will try to reproduce the bug with your demo videos.

[2020-06-07 15:39] inat-tv opened #7474 "The exiting during video playing."
I started receiving some complaints. 5 minutes after watching the video it exiting the video. I couldn't find out what this problem is. Such a problem started to occur on some devices. Is there a known issue in this regard?

[2020-06-07 16:13] gokulkalagara commented on #7444
@ojw28 @jt64 @marcbaechinger @rrfrias
What I have to do

[2020-06-07 18:29] #7473 closed, assigned to ojw28

[2020-06-07 18:29] pooyair commented on #7473
I solve my problem myself so i close this ticket. Thanks!

[2020-06-07 22:24] sneelavara opened #7475 "CEA-608 caption goes out of safe area (bleeds out of screen) in Roll-up mode"
### Issue description

#### Summary 
CEA-608 caption goes out of safe area (bleeds out of screen) in Roll-up mode

#### Root Cause
On certain Live TV channels the Caption from Live TV program bleeds out of the entire screen.  This happens in Roll-Up mode and when the caption start at the left top with row number less than or equals to 2.

The [Cea608Decoder.java](https://github.com/google/ExoPlaye

[2020-06-08 00:45] rishun-fsi commented on #7371
Hello @ojw28 ,
I'm sorry to have kept you waiting.
Now I think you can link to the following URL, please confirm.
test content：https://tvod-origin.hikaritv.net/video/test/maejima/manifest.mpd

If you have any other questions, please let me know.
Thank you in advance

[2020-06-08 02:57] mddrill commented on #7417
The writable cache data source worked! Thanks.

Before you close this ticket, could you point me to documentation on what .uid and .exo files are/do? If there is no documentation, could someone give me a brief explanation?

[2020-06-08 06:23] deepaksingh16 commented on #7452
@andrewlewis Can you please provide an update on this? Its a bit important for us to get pass this issue as we were on point of releasing the app. I'll be grateful if you can give it another shot.

[2020-06-08 07:15] andrewlewis commented on #7452
The factory in your code snippet always returns the same instance, so you should probably use [`FileDataSourceFactory`](https://github.com/google/ExoPlayer/blob/r2.10.1/library/core/src/main/java/com/google/android/exoplayer2/upstream/FileDataSourceFactory.java) or [`DefaultDataSourceFactory`](https://github.com/google/ExoPlayer/blob/r2.10.1/library/core/src/main/java/com/google/android/exoplayer2

[2020-06-08 08:31] andrewlewis commented on #7471
`WebView` has its own playback implementation for HTML 5 video and I'm pretty sure they don't use ExoPlayer: [see this old thread](https://groups.google.com/a/chromium.org/forum/#!topic/android-webview-dev/FbP9FhHCM38) about using the platform `MediaPlayer` for HLS, and a custom player implementation for other formats (I think that includes playback when using media source extensions, e.g., with h

[2020-06-08 08:31] #7471 closed, assigned to andrewlewis

[2020-06-08 08:38] andrewlewis commented on #7472
That URL looks like it's intended for embedding playback within a web page. You'd need to get them to provide a media URL following a standard streaming format like DASH or HLS to be able to play the stream directly with ExoPlayer.

[2020-06-08 08:38] #7472 closed, assigned to andrewlewis

[2020-06-08 09:00] gokulkalagara commented on #7384
@rrfrias please cross check

[2020-06-08 09:05] ojw28 commented on #7417
The `.uid` file is a unique identifier for the cache. The identifier is written into the name of the file (the actual content of the file is empty). It's used when querying the database for information related to the cache. Using a UID rather than a location allows this process to be robust against someone moving the cache, swapping SD cards in/out of their device, etc.

The `.exo` files contain c

[2020-06-08 09:05] #7417 closed, assigned to marcbaechinger

[2020-06-08 09:06] ojw28 commented on #7384
@gokulkalagara - Please stop using `@mentions` and repeatedly spamming the same issues. All it does is create additional email for a large number of people to sift through. We will look at your issue when possible, and repeatedly spamming it wont make that happen any faster. Thanks!

[2020-06-08 09:16] ojw28 commented on #7474
No, there are no known issues related to this. It sounds more likely to be an app issue than an issue with ExoPlayer, although from the limited information provided it's hard to be sure.

Closing for now, since there's no evidence this is an ExoPlayer problem.

[2020-06-08 09:16] #7474 closed

[2020-06-08 09:19] Samrobbo commented on #6705
Yes, but it's a low priority enhancement.

[2020-06-08 09:20] andrewlewis commented on #7460
I think this is expected, because you are getting the group of tracks for just the first window (corresponding to the first song/playlist item). Within the one track group there should be one track with an audio format. The terminology may be confusing because on a music album you would talk about tracks played in sequence, whereas when you query current tracks in ExoPlayer you get the tracks asso

[2020-06-08 09:20] #7460 closed, assigned to andrewlewis

[2020-06-08 09:21] andrewlewis commented on #7461
Marking as needs more info for testing with a sample in the demo app.

[2020-06-08 09:24] andrewlewis commented on #7467
This may be a duplicate of #6103. Please could you try the flag added in 0a89d0e8c3b0fa1a5e211e72ef95d35a1c69b5b3?

[2020-06-08 09:26] andrewlewis commented on #7468
Duplicate of #7308

[2020-06-08 09:26] #7468 closed, assigned to andrewlewis

[2020-06-08 09:29] andrewlewis commented on #7468
Thanks for the report. Addressing #7308 is on our roadmap to be investigated soon. Until then, hopefully you can generate the file in a different way to avoid this problem (probably removing `frag_keyframe`?).

[2020-06-08 09:36] HanGao1 opened #7476 "Can the volume be set dynamically"
I encountered a difficulty: I used exoplayer to play user-recorded audio, but the volume of the audio was different, resulting in varying sound levels during playback. Is there any way to dynamically adjust the overall playback volume based on the average volume of the current audio

[2020-06-08 09:38] andrewlewis commented on #7470
Regarding simplifying the code snippets, on recent versions of the player there are convenience methods `boolean player.hasNext()`, `player.next()` and similarly for previous. You can also refer to [`PlayerControlView`](https://github.com/google/ExoPlayer/blob/1f505fa/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerControlView.java) for sample code.

See also [Controlling the playe

[2020-06-08 09:38] #7470 closed, assigned to andrewlewis

[2020-06-08 10:09] sravan1213 commented on #5914
@ojw28 is there some way you can pass exception to consuming app without storing in DB. Let the app decide what it has to do with exception.

I would suggest changing
`default void onDownloadChanged(DownloadManager downloadManager, Download download) {}`

to

`default void onDownloadChanged(DownloadManager downloadManager, Download download, @Nullable Throwable error) {}`

If this change makes sen

[2020-06-08 10:16] mareiski commented on #7461
In the demo app, i set the repeat mode to all. After this I added our video to the media-exolist. I downloaded the video in the app and started it. After 15 hours of playing the video was frozen (it is not playing anymore). But the timer in the left bottom corner of the timeline is still ticking and showed 15 hours. Usually it resets when the video is finished and starts again.
I hope this helps t

[2020-06-08 10:30] xiaos commented on #7467
@andrewlewis   thanks, but I tried actually, it's not working.
If I set enableInitialDiscontinuity =false.

s1 = ClippingMedisSource(progressiveMediaSource1, 2000000, 4000000);  -- Master, provide clock.
s2 = ClippingMedisSource(progressiveMediaSource2, 5000000, 9000000);

Then the two audios play together, s1 play from 2nd second, but s2 also play from 2nd second (I am expecting to play from 5th

[2020-06-08 10:41] andrewlewis commented on #7467
If you read on there is a new flag `adjustPeriodTimeOffsets`. Please could you try setting that to true?

[2020-06-08 10:51] andrewlewis commented on #7461
The provided stream won't play on the emulator I have (at API version 22) unfortunately. Do you see the same problem looping one of the provided sample streams in the demo app? Does it occur if you don't download the video but instead just stream it (by tapping the sample name, not the down arrow)?

[2020-06-08 11:23] andrewlewis commented on #7461
Please could you also share a link to the captured heap dump screenshotted in the original post?

[2020-06-08 11:27] fpittersacc opened #7477 "IMA not playing all Ads from a midroll"
### [REQUIRED] Issue description
The following IMA Ad Uri is producing an undesired behavior, in which not all Ads in the Midrolls are being played. After 2-3 Ads (out of 7 or 8) content is getting resumed.

It seems that the state hold by `AdPlaybackState` `AdGroup.count` differs from what `AdPodInfo.getTotalAds()` is providing after the actual Ad sequence is loaded.

### [REQUIRED] Reproduction

[2020-06-08 11:32] mareiski commented on #7461
No there is no problem with the samples, but is any of these streams a 4k video?
Yes it occurs even if i stream it. I sent you a mail with the hprof file.

[2020-06-08 12:21] ojw28 commented on #5914
@sravan1213 - That sounds like a good idea to me. I assume that internally in `DownloadManager`, your proposal would be to add `finalError` into `DownloadUpdate`, and then forward it on to the listener in `onDownloadUpdate`? Please feel free to open a pull request into the `dev-v2` branch if so!

[2020-06-08 12:26] sravan1213 commented on #5914
Yes, using DownloadUpdate is what I was thinking... Will make this change.. 👍

[2020-06-08 12:38] icbaker commented on #7475
That `if` block is trying to deal with lines it thinks should be in the bottom half of the screen. I agree roll-up cues shouldn't be assumed to be in the bottom half of the screen though - I've sent a change that removes `captionMode == CC_MODE_ROLL_UP` from the condition.

[2020-06-08 13:00] xiaos commented on #7467
@andrewlewis   sorry, i didn't find anywhere to set the flag: adjustPeriodTimeOffsets, can you please help?

[2020-06-08 13:07] shirtmogul12 opened #7478 "Useragent not identified by podcast hosts"
Hi, i have a podcast app using exo. I have set the useragent as follows but podcast hosting providers and statistics can't find my useragent on their logs. What should I change?

[code]

[2020-06-08 13:18] xiaos commented on #7467
@andrewlewis  I just tried, it's working. May I know when does this change release?

Another question, as I play multiple audio tracks together, is it possible to set volume for each audio track?  any tips to change the code? Thanks.

[2020-06-08 13:20] ojw28 commented on #7478
That looks like it should be sufficient. Note that the user agent isn't just going to be `MyPodcastApp`. It's going to be some larger string that starts with `MyPodcastApp/`, as per the source code for `Util.getUserAgent`.

You can probably use a tool like WireShark to work out whether the user agent header is being set correctly in the outbound requests. Currently I don't think you know whether t

[2020-06-08 13:27] sravan1213 commented on #5914
@ojw28 please have a look at https://github.com/google/ExoPlayer/pull/7479

[2020-06-08 14:31] shirtmogul12 commented on #7478
I tested by hosting an mp3 file on my server. It shows as:

`MyPodcastApp/1.5.1 (Linux;Android 8.1.0) ExoPlayerLib/2.10.8`

1.5.1 is the app version. Is doing the following acceptable?
`
String userAgent = "MyPodcastApp/ Android";`

[2020-06-08 14:35] yak27 commented on #6705
Thank you, and thanks for your work.

[2020-06-08 14:57] andrewlewis commented on #7467
Glad to hear it works. We generally don't commit to a specific release schedule I'm afraid.

There are a couple of ways of handling audio mentioned in #4261. If you have separate `DefaultAudioSinks`/`AudioTracks` in each renderer, you can set volumes on them individually. If you have implemented a mixing audio processor, you can include multiplication by channel-dependent volume when mixing the sa

[2020-06-08 14:57] #7467 closed, assigned to andrewlewis

[2020-06-08 16:46] sneelavara commented on #7475
Thank you very much @icbaker. That would greatly help us addressing the regulatory defect.

[2020-06-08 16:52] icbaker commented on #7475
This is now fixed on dev-v2.

[2020-06-08 16:54] zsmatyas commented on #7475
We implemented this a long time ago, so please forgive me if my recollection is incorrect.

@sneelavara Could you also provide the last few instructions leading to the issue? You should not have more than 2 lines rolling if you are not at least in the second row.

      if (captionMode == CC_MODE_ROLL_UP || row > (BASE_ROW / 2)) {

Has the Roll-up mode checked separately, as roll up captions alway

[2020-06-08 17:04] icbaker commented on #7475
Ah thanks for the clarification @zsmatyas, I didn't realise this bit:

Your numbering of lines is semi-correct, but it's important to also consider that both of those numbering schemes extend past each other (positive numbers are just offset from the top of the screen, negative numbers from the bottom):
[code]

Relying on negative line offsets (from the bottom) to position something near the top o

[2020-06-08 17:17] zsmatyas commented on #7475
Could we make sure that the content we want to fix is according to the standard? Are the indices / values correct and rendered with the expected font sizes? What is the base row and how many rows are rolling?

----

As there are small adjustments for the exact positioning at many layers of the caption decoding / rendering, I do not think it is currently easy to use the top anchor, for example, hav

[2020-06-08 17:35] icbaker commented on #7475
I think it's risky to use negative line offsets to display content in the top half of the screen - the 15 CEA-608 lines are forgotten by the time ExoPlayer comes to render the cues and if it's trying to render something on line `(2 - 15 - 2) = -15` (old method), that could well be off the top of the screen.

I did the experiment of using the rolled up lines count. In this case, `row=2`. This is wh

[2020-06-08 18:25] ojw28 commented on #7478
The string you're proposing seems strictly less useful than the one you're currently using, so ideally I think you'd continue to pass the one that contains the additional information, and you'd fix whatever server-side logic you're using to detect them to be able to handle such strings.

That aside, you can basically set the user agent to whatever you like, so there's no reason you can't do what y

[2020-06-08 18:25] #7478 closed, assigned to ojw28

[2020-06-08 18:41] ojw28 commented on #7476
We support setting the volume, by calling `setVolume` on the player instance. We don't support automatic volume normalisation though. You'd probably need to write your own code to scan each of the files, work out what volume to use for each one, and then call `setVolume` with these values for normalized playback.

[2020-06-08 19:02] pooyair commented on #7472
please open the ticket. please note bit.tube it's video and stream provider like youtube, it has some live video streaming. so if Exoplayer support youtube why it wouldn't be support bit.tube?
https://bittube.tv/
https://bittube.tv/post/77de82f5-7975-4c6b-bc27-1817767bade7
 https://bit.tube/playerembed/12067/BRJfxvDlyaXTF3GrxB1i
Thanks!

[2020-06-08 19:07] rrfrias commented on #7384
Thanks for the logs. It appears that this is a device specific problem. I would like to get Xiaomi involved. Do i have permission to share a bugreport with them? Or can you send another bugreport/logcat that you would be comfortable sharing?

[2020-06-08 19:20] #7400 closed, assigned to christosts

[2020-06-08 19:26] ojw28 commented on #7410
This is not currently possible, but it's easy for us to add support. Marking as an enhancement.

[2020-06-08 19:27] andrewlewis commented on #7472
We don't really support YouTube in that sense. Apps can use the YouTube Player API to embed playback, and a similar model would work for this situation, but you'd need to ask the stream provider to implement that. I will leave this closed for now as I don't think we intend to implement the enhancement.

[2020-06-08 19:28] ojw28 commented on #7410
Actually, it is possible by removing the buttons completely from the layout file (as opposed to still having the buttons but setting their visibility to `gone`). For your use case you'd need to use a different layout file for portrait and landscape.

We will add setter methods though, since it's a reasonable request and using them will be much simpler than doing as suggested above.

[2020-06-08 19:33] #7358 closed, assigned to ojw28

[2020-06-08 19:35] iWillBeUnderYourBed opened #7480 "Loop creates OutOfMemoryError when playing video from local file"
When I try to play a video from a local file (I assume it's `.mp4`) in the `ExoPlayer 2.10.6`, I get a `OutOfMemoryError`. I download the video from a `firebase` DB and then load it with `Exoplayer`. The `fragment` with the `Exoplayer` exists twice, but I release the `Exoplayer` in `onPause`.

Here where I initialise the `Exoplayer`, `displayVideo` is called in `onResume` and later while the `frag

[2020-06-08 19:45] ojw28 commented on #7142
The second request is tracked by https://github.com/google/ExoPlayer/issues/7347.

I don't think the 404 error you're seeing has anything to do with whether the content is DRM protected. I think the problem is that [this workaround for playback](https://github.com/google/ExoPlayer/blob/r2.11.5/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/DefaultDashChunkSource.java#L427) al

[2020-06-08 20:04] ojw28 commented on #7142
Note: It's not as simple as just treating the 404 as a successful segment download in the downloader, since at playback time the player will still attempt to request the segment from upstream.

If the device has a network connection and there's an upstream `HttpDataSource`, this will result in a 404 at playback. Playback will end successfully, however the player shouldn't need to make a network re

[2020-06-08 20:08] ojw28 commented on #7144
Please provide complete information as is requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=). Please copy/paste the issue template into this issue and fill it out, rather than filing a new issue.

[2020-06-08 20:43] ojw28 commented on #7350
I think this is essentially unsupported because the show/hide logic is listening for the same touch events as the `OnLongClickListener`, and (without special wiring) those events can only be consumed once.

I think the use case is sufficiently obscure for it to not be worth spending time on figuring out how to support both simultaneously. You can also work around the issue by explicitly setting a

[2020-06-08 20:43] #7350 closed, assigned to ojw28

[2020-06-08 21:22] ojw28 commented on #7371
I see issues when seeking on a Pixel 3 device, regardless of which representation is selected. Immediately after a seek I see that the video is temporarily grey and corrupted. The root cause seems to be that the FMP4 segments in this content incorrectly specify that every sample is a key-frame. This causes playback to start decoding at a non-keyframe following a seek (or equivalently, following a

[2020-06-08 21:22] #7371 closed, assigned to ojw28

[2020-06-08 21:28] ojw28 commented on #6255
I don't think there's anything we can do about this at the ExoPlayer level. Workaround around the issue by forcing L3 Widevine seems like the best solution.

[2020-06-08 21:28] #6255 closed, assigned to ojw28

[2020-06-08 22:13] ojw28 commented on #4792
Closing as obsolete / never reproduced.

[2020-06-08 22:13] #4792 closed, assigned to AquilesCanta

[2020-06-08 22:33] ojw28 commented on #3326
@tonihei - V1 is so old at this point that tracking this as a relative comparison probably doesn't make a lot of sense at this point (it's likely also becoming harder to checkout the V1 branch and just open it in Android Studio, without having to jump through manual upgrade hoops). If we're going to keep this issue open, can we just define some absolute latency measurements that we're targeting fo

[2020-06-08 22:41] ojw28 commented on #3953
Yes, that implies the device doesn't support the resolution. We try and play the video anyway because some devices are known to under-report their capabilities, but then playback fails, which is not unexpected for a device that reports its capabilities correctly.

When playback fails, you should see an `ExoPlaybackException` reported via `EventListener.onPlayerError`. On recent releases you can qu

[2020-06-08 22:41] #3953 closed, assigned to ojw28

[2020-06-08 22:46] ojw28 commented on #4372
@rrfrias - Are you the right person to comment on this?

[2020-06-08 23:21] ojw28 commented on #5943
@andrewlewis - Is this still an issue in 2.11.5?

[2020-06-08 23:22] ojw28 commented on #6065
@tonihei - Please see the question above.

[2020-06-09 00:09] #7086 closed, assigned to tonihei

[2020-06-09 00:50] sneelavara commented on #7475
Thank you very much @icbaker  and @zsmatyas for looking into this.
For Live broadcast its regulatory requirement to support user overrides. So, we can not block user from changing font size in our app. I have not tried/verified 15 rows within safe area. Will try that test.

@zsmatyas I don't think the stream violates the spec. It has RU2(0x14 0x25) follows by CR(0x14 0x2D) and PAC(0x11 0x70). Here

[2020-06-09 02:44] Clement-Jean commented on #7410
I would like to help, even if its a small PR. is there more than what I said ?

[2020-06-09 02:53] HanGao1 commented on #7476
Can the maximum volume be greater than 1

[2020-06-09 07:34] VeiZhang opened #7481 "Can't catch BehindLiveWindowException long time"
### [REQUIRED] Question
Sometimes I found `BehindLiveWindowException`, exo player always show loading, it's hard to catch because it need long time to reproduct.
I try to init player like ExoPlayer sample when `BehindLiveWindowException`, but it didn't work.

**I use android media player and it works well, is there any ways to solve or present?**

### A full bug report captured from the device
[co

[2020-06-09 09:02] ojw28 commented on #7037
@andrewlewis - Should trying to play the "Single skippable inline" sample in the demo app be sufficient to test this? It's working fine on the MiBox3 and MiBoxS devices I have, so if so I think you can mark this as fixed.

[2020-06-09 09:04] ojw28 commented on #5507
This happens because we close the shutter when seeking to an unprepared period. The same issue occurs if seeking to a different (unprepared) period within the same piece of DASH content.

I think we should suppress closing the shutter in this case, provided the old and new periods belong to the same window.

[2020-06-09 09:08] ojw28 commented on #7189
This type of issue is normally caused by incorrect updates to the mpd file during the live playback. There's no way for us to see whether this is the case without you providing a working live stream for us to take a look at. A snapshot of the mpd is not sufficient.

[2020-06-09 09:14] rrfrias commented on #4372
I have opened an internal tracker to discuss and follow up.

[2020-06-09 09:17] #6963 closed, assigned to nic0lette

[2020-06-09 11:29] pawaom commented on #7222
@marcbaechinger
I recently updated the exoplayer in my app to version

[code]

How ever I have noticed the changes you had mentioned earlier , which were included in  **dev-v2**

regarding
https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/DefaultControlDispatcher.java#L65

have not been included

All I want is to call

[code]

When the previou

[2020-06-09 11:34] ojw28 commented on #6866
Closing this because there's no sign of a contribution, and it's not something we're planning to do ourselves. It's also possible that migrating the extension to `CMake`, which we intend to do at some point, will also largely solve any confusion around building on Windows.

[2020-06-09 11:34] #6866 closed, assigned to phharley17

[2020-06-09 11:45] parthbhatti opened #7482 "Player gone black with error MediaCodecRenderer$DecoderInitializationException after some scrolling ups and down"
I have recyclerview with Exoplayer instance.The recyclerview has been set up as 1 video per page (Full screen) with scrolling.

when I scroll 10 to 12 videos It goes black with error MediaCodecRenderer$DecoderInitializationException

Here is my recyclerview code.

[code]

[2020-06-09 12:19] hpsoar commented on #7440
same issue Huawei P20, android 10

[2020-06-09 12:21] ojw28 commented on #7289
@AquilesCanta - Do you know if we support IMSC (TTML) embedded in FMP4 for HLS? We already support this for DASH, and also embedded WebVTT, so presumably it should be pretty straightforward to add support if it's currently missing.

[2020-06-09 12:43] isabsent commented on #7095
I have the same problem on **Xiaomi Redmi 7** and **Xiaomi Mi 9 SE** trying to playback [.mp4](https://www.dropbox.com/s/r3gizupbeg6ke3j/mewmew.mp4?dl=0) file from phone file system with my own [ExoView](https://github.com/isabsent/ExoView) app:.

    2020-06-09 19:53:13.238 858-23993/? E/SoftMP3: mp3 decoder returned error 1
    2020-06-09 19:53:13.238 23307-23992/com.github.isabsent E/ACodec: [O

[2020-06-09 13:06] ojw28 commented on #6231
The problem is that you have an asymmetry between where you're encrypting during download and where you're decrypting during playback. During downloading, the flow of data looks like this. Note the encryption is happening when writing individual files into the cache:

![Screenshot 2020-06-09 at 13 52 31](https://user-images.githubusercontent.com/7881572/84149622-ac226280-aa58-11ea-9055-6fc80748778

[2020-06-09 13:06] #6231 closed, assigned to AquilesCanta

[2020-06-09 13:13] ojw28 commented on #7011
@icbaker is taking a look at this.

[2020-06-09 13:43] ojw28 commented on #7476
No. If you want to volume-boost audio that doesn't use the full range then you'd probably have to look at writing a custom `AudioProcessor` to do that. That's a lot more complicated though!

[2020-06-09 15:08] okycelt commented on #7322
Btw. while in 2.11.4 the player freezes when trying to play a mid-roll on live stream, in 2.11.5 the player crashes with the following exception:
[code]

[2020-06-09 16:00] vjsingh96 opened #7483 "Audio is not working when using UDP with ffmpeg?"
Here is my FFmpeg command.

`        final String[] cmd = {"-i", videoPath, "-vcodec", "copy", "-af", "volume=20" + "dB", "-strict", "experimental", "-f", "mpegts", "udp://127.0.0.1:8081", outputAudioMux};
`
Here my Exoplayer code setting.
[code]

The audio of the video is working fine when after completed the conversion

[2020-06-09 16:54] ChernyshovYuriy opened #7484 "ExoPlayer server and client(s)"
Hey,

Is there any plans to introduce functionality of serve-client(s) within ExoPlayer?
For example, one ExoPlayer's instance might act as media server, with controls of playlist, currently playing track, etc ..., might not have use view at all. Another instance may act as client or clients, which simply connects to server and consumes whatever server broadcasts.

Thanks in advance,

Yurii

[2020-06-09 17:55] ojw28 commented on #7481
I'm not sure I understand what the issue is. I think you're saying that you're trying to catch `BehindLiveWindowException` and retry in this case, and that it's not working, however:

1. It's unclear why the logging you've provided indicates that it's not working. `onPlayerError retry - isBehindLiveWindow` to me suggests that it is working and that your code will go on to retry.
1. I think you'll

[2020-06-09 17:58] ojw28 commented on #7480
Please can you share a piece of content that reproduces this issue?

[2020-06-09 17:59] ojw28 commented on #7484
No, we do not currently have any plans to introduce serving functionality.

[2020-06-09 18:11] ChernyshovYuriy commented on #7484
Ok, thanks.

[2020-06-09 18:11] #7484 closed, assigned to ojw28

[2020-06-09 18:48] sneelavara commented on #7475
Thank you @icbaker, I verified commit 947485e, everything seem to work fine for us. Thank you.

[2020-06-09 19:10] #7475 closed, assigned to icbaker

[2020-06-09 19:41] chrisfillmore opened #7485 "Is there a way to know the "type" of an HTTP request? (e.g. manifest, segment, etc)"
When we get an HttpDataSourceException, often we want to know whether this was for a manifest request, segment request, etc. This information is used for analytics/reporting purposes. Inspecting the URL can be error-prone. Is there a better way to find this out?

Follow-up question: if there is not currently a better way, would you be willing to review a design/PR that added this information to Ht

[2020-06-09 20:02] AquilesCanta commented on #7289
I'll try to get a sample stream and confirm. As you point out, if not supported out of the box, it should be pretty straightforward.

[2020-06-09 23:46] ojw28 commented on #7485
`AnalyticsListener.onLoadError` gives you a lot of data for analytics/reporting, including `mediaLoadData.dataType` that should tell you what type of data was being loaded. Is that sufficient?

[2020-06-10 01:02] VeiZhang commented on #7481
@ojw28 Yes, u are right. But when I catch the exception, I try to prepare again, it still show loading and balck screen. Actually I wait about 1 - 2 min to catch it, too long.

I can't provide a sample, because play link will time out in seconds.

[2020-06-10 01:08] #7310 closed, assigned to christosts

[2020-06-10 03:29] 951AB159BA commented on #7310
Ok. Thank you.

[2020-06-10 07:21] hpsoar commented on #7440
After debuging, found that it's because a wrong codec is used.

[code]
however, it seems that `c2.android.avc.decoder` does not work on my device properly.

[2020-06-10 07:24] hpsoar commented on #7440
In my case, some m3u8 stream works on my device, some doesn't.
So I debugged and compared them.

[2020-06-10 07:51] pooyair opened #7486 "Http 302 redirect doesn't work although i set up allowCrossProtocolRedirects to true"
hi i use demo application whitin the project. please test following url that work fine with vlc and safari web browser but not working with Exoplayer:
[code]
[code]

Thanks

[2020-06-10 09:23] fguinet commented on #7361
Please note that even if the region defined the extent like this :
`<region tts:extent="800px 600px" tts:origin="0px 0px" xml:id="region1"/>`
The extent is not condidered.
I would suggest to patch the code as followed :
TtmlDecoder > parseRegionAttributes
Replace :
`Log.w(TAG, "Ignoring region with missing tts:extent: " + regionOrigin);`
with
[code]

[2020-06-10 09:30] icbaker commented on #7361
Does your `<tt>` tag have `tts:extent` defined on it (in px)? If not, that's why the `tts:extent` on your `<region>` is currently ignored. That's what this issue is tracking - to allow TTML files that don't define `tts:extent` on the `<tt>` tag.

If your `<tt>` tag does have `tts:extent` defined then I'd expect a `<region tts:extent=...>` to be correctly detected (either % or px). If that's not th

[2020-06-10 09:39] ojw28 commented on #7486
The URL does not do a 302 redirect for me:
[code]
I can't make it play anything in Safari or VLC, either. Marking as "needs more info" because we currently don't have working reproduction steps.

[2020-06-10 09:44] pooyair commented on #7486
sorry , you are right , seems the server provider change the url. i would close it until i can reporduce it again

[2020-06-10 09:44] #7486 closed, assigned to ojw28

[2020-06-10 09:49] pooyair opened #7487 "in rare condition exoplayer stop at the end of buffer"
please run following code with Exoplayer after 12 seconds of playing or less it will be stop

`http://linux-app.tv:6204/60400655844704/32991126026152/7576
`

`javax.net.ssl.sslhandshakeexception: ssl handshake aborted: connection reset by peer`

[2020-06-10 09:53] #7037 closed, assigned to andrewlewis

[2020-06-10 10:07] Xlcghs opened #7488 "ExoPlayer coding limitations"
Hi  all,

I am working on customizing a player based on the ExoPlayer library.
Therefore, I need some information before starting the development :
The ExoPlayer can support a frame rate of 50fps? Are there any limitations of the ExoPlayer library on streams with 1920 * 1080 resolution?

Thank you very much in advance for your response.

BR,

[2020-06-10 11:46] ojw28 commented on #7487
I don't see the SSL issue, but I do see playback ending after a short period of time.

I see the same behaviour in VLC as well. It seems that the server is indicating that it has no more data, and so playback ends. This is working as intended from the player's perspective.

[2020-06-10 11:46] #7487 closed, assigned to ojw28

[2020-06-10 11:49] ojw28 commented on #7488
ExoPlayer doesn't have any limitations with respect to certain frame-rates or resolutions.

The capabilities of the device on which the app is running may come in to play, however. For example, it's possible that some very low end or old devices will not be able to handle 1080p at 50fps, or will need to drop frames to keep up. Note that any such restrictions are inherent restrictions of the device

[2020-06-10 11:49] #7488 closed, assigned to ojw28

[2020-06-10 12:10] mareiski commented on #7461
Have you received the heap dump? Is there any update?

[2020-06-10 12:19] fguinet commented on #7361
No my `<tt>` tag does not have `tts:extent ` but your right my `<region>` tag has one :
[code]
The proposed fix is working fine in my case:
[code]
Explanation : The `ttsExtent` is firstly null because nothing is declared in `tt` so I get the `extent` from the `region`

Here is the ttml file for your analysis :
[dvb_sub.ttml.zip](https://github.com/google/ExoPlayer/files/4758319/dvb_sub.ttml.zip)

[2020-06-10 13:58] johnsky95 opened #7489 "Change quality programmatically"
Hi to All!
I am using the latest exo player currently and I am stuck at a feature for a week almost.

I have the below code:
[code]

Video's list and Audio's are sorted by quality from highest to lowest.
When I simulate a low network, exo player still starts the video on Full HD.

I wanted to change programmatically the quality so it starts from medium, but oh my god, it is lots of studying just t

[2020-06-10 14:06] ojw28 commented on #7489
There are adaptive media specifications that support this properly: DASH, HLS and SmoothStreaming. We support all three, and would recommend them in that order of preference (i.e., DASH first).

You can't generally provide a player with a bunch of different quality videos files and expect adaptive format selection to just work. Most players don't support merging of separate video files at all. So,

[2020-06-10 14:13] ojw28 commented on #7037
@meenukrishnamurthy @krackjack234 - We believe this is fixed, but please let us know if you see otherwise, and we can reopen the issue. Thanks!

[2020-06-10 14:19] johnsky95 commented on #7489
Thanks for your feedback.

How I can then change the quality programmatically?

[2020-06-10 14:25] iWillBeUnderYourBed commented on #7480
This is what I test it with at the moment, but the problem seems to appear with every video file.

[07b8d94a-104a-4d26-9a62-855b9375693bVIDEOVIDEOVIDEO.zip](https://github.com/google/ExoPlayer/files/4759126/07b8d94a-104a-4d26-9a62-855b9375693bVIDEOVIDEOVIDEO.zip)

[2020-06-10 14:29] johnsky95 opened #7490 "Better document ExoPlayer concepts (e.g., TrackGroup)"
Hi to all!

Thanks for working on Exo Player, It really provides lots of functionality to work with.

What I am finding very hard is that, the documentation https://exoplayer.dev/track-selection.html exists only how to bootstrap or play a video or main features it supports.

Is there any documentation like, What is a TrackGroup, SelectionOverride, Events and more stuff.

Comments or answers like,

[2020-06-10 14:35] ojw28 commented on #7489
If you use DASH, HLS or SmoothStreaming then the quality will automatically vary based on the available bandwidth by default. For manual programmatic selection, by far the easiest way is to set constraints on `DefaultTrackSelector`. For example:
[code]
If you use DASH, HLS or SmoothStreaming, automatic adaptation based on bandwidth will still occur for the subset of available tracks that satisfy t

[2020-06-10 14:37] ojw28 commented on #7442
Marking this as a duplicate of https://github.com/google/ExoPlayer/issues/7489.

[2020-06-10 14:37] #7442 closed, assigned to marcbaechinger

[2020-06-10 14:41] icbaker commented on #7462
I'm going to close this since I believe we've resolved the timestamp problem, and we're not going to change the WebVTT parsing.

I'll leave the PR open while you're looking into testing.

[2020-06-10 14:41] #7462 closed, assigned to icbaker

[2020-06-10 17:10] gokulkalagara commented on #7369
### [REQUIRED] Issue description
Offline Protected videos have seek latency

### [REQUIRED] Version of ExoPlayer being used
**ExoPlayerLib/2.11.4**

In the above, I shared the event logger reports.
I shared the sample details of the video links and also DRM implementation

please check why the seek latency for offline protected content in forward and backward

[2020-06-10 18:55] krackjack234 commented on #7431
@ojw28  thanks for the detailed explanation. This is quite helpful

[2020-06-10 19:01] krackjack234 commented on #7427
hi @marcbaechinger , a follow up question on this.

In exoplayer we have a minimum buffer size (DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS) after which first frame will get rendered and also a max buffer size (DEFAULT_MAX_BUFFER_MS) till which it will buffer before stopping.

Will the player reach STATE_READY after reaching DEFAULT_MAX_BUFFER_MS ?

[2020-06-10 23:26] ojw28 commented on #7410
This is implemented in the commit referenced above.

[2020-06-10 23:26] #7410 closed, assigned to ojw28

[2020-06-10 23:27] ojw28 commented on #7481
I don't really understand what this means. I also don't think we can help without clearer reproduction steps. It's possible that the media itself is causing the problem.

[2020-06-10 23:29] ojw28 commented on #7490
Some of these terms are defined in the [glossary](https://exoplayer.dev/glossary.html#trackgroup). The Javadoc is also a pretty good source for definitions in many cases. It's true that there's a lot of room for improvement though, so I'll leave this open to track that.

[2020-06-11 00:43] VeiZhang commented on #7481
@ojw28 OK. Thanks for your help. I will give a sample if I can get the link.

[2020-06-11 00:43] #7481 closed, assigned to ojw28

[2020-06-11 01:26] xiaos commented on #7467
@andrewlewis   thanks for your suggestion.  But I still have a small issue when set volume for AudioSinks in MediaCodecAudioRenderer,  I cannot find the mapping between renderer and mediaSource,  so I don't know which volume to set for the renderer.

Btw, is it possible to play multiple video tracks? render to multiple surfaceView/TextureView.

[2020-06-11 05:00] stevemayhew commented on #7462
Yep, thanks for your help with the fix!

From Steve's iPhone

[2020-06-11 08:09] ojw28 commented on #7480
I tried using repeat modes with the provided video on both 2.10.6 and 2.11.5 in our demo app, and did not see the issue on a couple of devices I have (Galaxy S8, Pixel). The Java heap stayed stable at about ~40MB for the whole app (not just the player), which should not cause an `OutOfMemoryError` on any device.

* Is this issue device specific?
* Does the issue reproduce with the ExoPlayer demo a

[2020-06-11 09:06] ojw28 commented on #7483
"Not working" is not a sufficient description of the problem for us to help. Please provide a detailed description and properly fill in the issue template. Thanks!

[2020-06-11 11:33] ojw28 commented on #5507
Fixed by the commit referenced above.

[2020-06-11 11:33] #5507 closed, assigned to ojw28

[2020-06-11 11:34] ojw28 commented on #5914
#7479 was merged. Thanks! This issue still needs to remain open for tracking the addition of failure reasons that can be persisted in the database.

[2020-06-11 12:25] andrewlewis commented on #7467
Please avoid asking unrelated follow-up questions like this in future. New issues should be filed for those (having checked if they have already been answered on the issue tracker), to keep each issue focused and easy to follow.

`MergingMediaSource` periods merge child source tracks in the same order they were passed-in when creating the source. I think your custom track selection code can associ

[2020-06-11 15:09] chrisfillmore commented on #7485
@ojw28 thanks for replying. Sorry for the delay in responding, I had to check with my teammates because I see, in fact, we are using `AnalyticsListener` for reporting already. But we have separate reporting for errors coming out of `onPlayerError(ExoPlaybackException exception)`. I'm trying to map the HttpDataSourceException to a particular error code in our own domain, so that "fatal errors" are

[2020-06-11 15:09] #7485 closed, assigned to ojw28

[2020-06-11 15:14] krackjack234 opened #7491 "Exoplayer throwing createRendererException on start of playback"
### [REQUIRED] Issue description
Playback failing on STB box, throwing java.lang.IllegalStateException in MediaCodecRenderer.render function on start

### [REQUIRED] Reproduction steps
We have an OTT app on our client's STB platform. On certain variants of stb boxes when we play AD + content, we see a 100% failure with neither content (clear files no drm) nor ads playing

### [REQUIRED] Link to te

[2020-06-11 18:31] ojw28 commented on #6934
Regarding this point:

1. If you have metadata that defines the chapter durations, then you'll be able to calculate the desired seek position directly even if the duration of the window isn't know to the player.
1. If you don't have metadata, it's probably possible for you to implement a `ControlDispatcher` that kicks off a more complicated flow for doing the logic you describe. It is of course si

[2020-06-11 18:31] #6934 closed, assigned to marcbaechinger

[2020-06-11 18:42] ojw28 commented on #7332
@tonihei - Can this be closed?

[2020-06-11 18:46] ojw28 commented on #7317
Generalizing this enhancement to track adding support for other audio focus requests modes more generally. For example AUDIOFOCUS_GAIN_TRANSIENT_MAY_DUCK in addition to AUDIOFOCUS_GAIN_TRANSIENT, as was requested in https://github.com/google/ExoPlayer/issues/7399.

[2020-06-11 18:46] nishantkp opened #7492 "Video player crash when scrubbing through mid-roll"
### Issue description
Player crash while scrub through ads

### Reproduction steps
Play a video for `VMAP pre-roll single ad, mid-roll standard pods with 5 ads every 10 seconds`
let the pre-roll play, now scrub through 5th mid-roll and let a mid roll will play.
Now scrub before 2nd mid-roll and app will crash with,
[code]

Also sometime time content just stuck after ad is done, and log says ad is

[2020-06-11 18:47] ojw28 commented on #7399
I think the immediate question here has been answered.  In terms of the enhancement request, I've generalized https://github.com/google/ExoPlayer/issues/7317 to track this, and therefore will close this issue as a duplicate of that one.

[2020-06-11 18:47] #7399 closed, assigned to nic0lette

[2020-06-11 18:49] ojw28 commented on #6853
This is now implemented in `dev-v2`.

[2020-06-11 18:49] #6853 closed, assigned to chrisfillmore

[2020-06-11 18:50] ojw28 commented on #6926
This is supported in `dev-v2` by the ability to pass a custom `ControlDispatcher` into UI components, which can do something different than `DefaultControlDispatcher` which is what now contains the logic for seeking to the start of the current piece of media rather than the start of the previous one.

[2020-06-11 18:50] #6926 closed, assigned to marcbaechinger

[2020-06-11 18:56] ojw28 commented on #7322
Is this tracking something different to https://github.com/google/ExoPlayer/issues/6388, and if not can they be duped together?

[2020-06-11 18:58] #6460 closed, assigned to tonihei

[2020-06-11 19:15] ojw28 commented on #7205
I tried this and it worked fine for me. A couple of questions:

1. To include ExoPlayer locally you must have it checked out locally as source code. Could you try and do the same thing directly in the ExoPlayer project, to see whether it fails in that case too. It's unclear to me whether the step of including ExoPlayer locally in another project is relevant to the failure, or if you see the failur

[2020-06-11 19:20] ojw28 commented on #5601
This was fixed in 2.11.0.

[2020-06-11 19:20] #5601 closed, assigned to tonihei

[2020-06-11 19:26] ojw28 commented on #7309
@AquilesCanta - Is there remaining work to do here?

[2020-06-11 19:32] tonihei commented on #7332
Yes, the enhancement is implemented and the EventLogger updated with the commits above.

[2020-06-11 19:32] #7332 closed, assigned to tonihei

[2020-06-11 19:59] andrewlewis commented on #7322
Duplicate of #6388

[2020-06-11 19:59] #7322 closed, assigned to andrewlewis

[2020-06-11 21:27] MostafaAnter commented on #867
here is new concept to implement that so check this out Integrate RecyclerView with ExoPlayer — The clean way — and customization, article that demonstrates my solution is [Meduim article](https://medium.com/mindorks/working-with-exoplayer-the-clean-way-and-customization-fac81e5d39ba)
[My Youtube Demo ](https://youtu.be/KynEZzerD8M)
and you can find demo repo [here](https://github.com/MostafaAnter

[2020-06-11 21:49] ojw28 commented on #7427
The Javadoc for the states is defined clearly:

It should be clear that the ability to play is not tied to the buffer reaching its maximum possible size. So you'd expect `STATE_READY` to come before the maximum buffer duration is reached in most cases. The ability to play _is_ tied to `DEFAULT_BUFFER_FOR_PLAYBACK_MS`:

So you'd expect `STATE_READY` to happen around the point at `DEFAULT_BUFFER_FOR

[2020-06-11 21:49] #7427 closed, assigned to marcbaechinger

[2020-06-11 23:21] ojw28 commented on #6342
In the general case, I think we want to keep the relationship between `MediaSource`, `DrmSessionManager` and key requests deliberately fuzzy. We have plans to allow sharing and reuse of `DrmSession` instances across multiple `MediaSource` instances that need the same keys. And also to start keeping `DrmSession` instances open for some period when they're not being used, in case they're needed agai

[2020-06-11 23:21] #6342 closed, assigned to AquilesCanta

[2020-06-11 23:29] ojw28 commented on #4511
Merged into `dev-v2`.

[2020-06-11 23:29] #4511 closed, assigned to ojw28

[2020-06-11 23:32] #6544 closed, assigned to marcbaechinger

[2020-06-12 04:00] guangmingxiong9999 opened #7493 "base64 transcoding key can not play"
I play after OpenSSL base64 transcoding key, and then can not play, may I ask what is the problem,This is my URL link http://pp3zvsk2n.bkt.clouddn.com/video/20200610/1591872123205dd04/ea33c51a84db4c78bf.m3u8.  please reply to receive

[2020-06-12 05:39] vjsingh96 commented on #7483
@ojw28 Thank you for the reply.
My issue is that I am using FFmpeg to increase the volume level of the video at the same time using exoplayer to preview the video and for live preview, I,m using UDP to stream real-time video while converting through FFmpeg. Video streaming is working fine but the audio of that video is not playing.

[2020-06-12 06:27] Rana-Adeel-Ahmad commented on #7142
Yups you are right. we found that problem is with last segment of DASH manifest that does not exists. for the moment we replace the manifest file and issue was gone, but for the proper solution we should need a way of caching the 404 error.

[2020-06-12 11:02] skogl commented on #7469
After looking around a bit more I would say issue: #6124 is probably related. If Exoplayer didn't rely completely on the prepare-step to setup tracks this issue would be handled as well.

The workaround I provided only works in certain situations. To overcome this prepare problem we need to wait until prepare timeout happens before creating dummy tracks to be able to continue with playback. Not th

[2020-06-12 11:09] AquilesCanta commented on #7469
Hi, sorry I haven't looked at it yet. There are some pressing tasks right now.

As you point out, ignoring PIDs entirely is not a good option. In order to support these "pruned" Transport Streams we need to use some heuristic to determine the presence of tracks. One feasible option is to use a "maximum allowed gap", which means that if no packet for the corresponding PID is found for x seconds, th

[2020-06-12 11:50] ojw28 commented on #7491
We don't see any obvious root cause in the bug report. Does your client have a relationship with that device manufacturer (presumably Amlogic)? If so then I'd suggest you get help directly from them, since they're better positioned to be able to root case the problem.

If not then let us know, and we can try and point Amlogic in the direction of this issue.

[2020-06-12 12:02] ojw28 commented on #7461
Hi @mareiski - I have an Android 5.1 device, so I can try and reproduce this. That said, if it's specific to the individual device, it might not be possible. I do have a couple of questions:

1. We don't see any evidence of a memory leak in the heap dump. When did you capture it? Note that it would be necessary to capture it as the playback gets close to running out of memory in order to capture t

[2020-06-12 12:15] fpittersacc opened #7494 "IMA crashing when using wrong IMA Ad Uri config"
### [REQUIRED] Issue description
We were getting an invalid Ads configuration, with prerolls coming on seconds 1, 2, 3.
This is behaving differently on 2.11.3 and 2.11.5.
2.11.3: Playback is stuck after preroll.
2.11.5: App crashes after preroll.

We know this issue is just an edge case caused by a misconfiguration on the AdManager, but maybe the crash could be avoided.

### [REQUIRED] Reproductio

[2020-06-12 12:30] andrewlewis commented on #7494
Thanks for the report. Would it be acceptable if we just skip all ads in this case? If not what would be the desired behavior?

[2020-06-12 12:33] ojw28 commented on #7493
This video doesn't play for me in VLC or Safari either, so it seems that the media is broken.

Closing because diagnosing broken media is outside the scope of this issue tracker. I'd suggest you ask on the tracker for whatever tool you're using to generate this media, or on StackOverflow. If you have a piece of media that plays successfully with other players and only ExoPlayer has an issue, then

[2020-06-12 12:33] #7493 closed, assigned to ojw28

[2020-06-12 13:01] krackjack234 commented on #7491
hi @ojw28  it will very helpful if you can try from our side. We will also try in parallel

Is the error code (E/ACodec: [OMX.amlogic.avc.decoder.awesome] ERROR(0x80001001)) specific to codec implementation ?

Please note we are using 2 exoplayers here, one to play Ad and another to play content and when Ad is playing both are present. Can that be a problem?

[2020-06-12 13:03] okycelt commented on #6388
@andrewlewis, as #7322 has been closed, should we re-send the testing stream and VMAP to this issue?

Also, just so we know, when approximately do you think you will be able to allocate some time for this?

Thank you

[2020-06-12 13:05] andrewlewis commented on #6388
I was planning to look it up on the other issue but feel free to repost here. Thanks. Not sure yet when I will get round to this but it's not on our roadmap for the short term.

[2020-06-12 13:41] ghost opened #7495 "ExoPlayer video rotation with GL"
I have check ExoPlayer GL demo. I added `surface_type="texture_view"` in `PlayerView` in xml. Then I rotate `PlayerView` on 90 with button click. But `PlayerView` is rotate but video plays same as before, Video frame did not show at 90 angle.

Please guide me.

I hope for your response.

[2020-06-12 17:13] #6410 closed, assigned to kim-vde

[2020-06-12 17:15] ojw28 commented on #6410
In addition to the commit referenced above, further improvements were made in https://github.com/google/ExoPlayer/commit/7df99381c1be7df680c61f35cc3ec798c26ed1a7 and https://github.com/google/ExoPlayer/commit/1f17756ad2cb4f427bac57de8d0911147307cd06.

[2020-06-13 04:49] ducanh3005 opened #7496 "Help me for HLS Seeking in livestream and download TS offline"
Before filing a question:
Can you help me for HLS Seeking in livestream  and download ts offline when watch a livestream ~ 5mins.
I test in  your demo and duration get 10s and position seeking ~ 2 -4s
if you have a example , give me .
Thank you,