[2020-11-05 10:49] andrewlewis commented on #8163
It should work fine. If it doesn't work for you I suspect your output view is scaling the surface in a way that makes the new scaling mode a no-op. This seems closely related to your previous issue #8081, where it was necessary to set the resize mode on the player view (note there are methods `StyledPlayerView.setResizeMode` and `PlayerView.setResizeMode`).

[2020-11-05 10:49] #8163 closed, assigned to ojw28

[2020-11-05 11:32] Psychical commented on #8162
If I understood correctly it's happening when tracks is for the same language? I have changed tracks languages, but it's still the same. So I will wait for #7877 bug fix and try again.

[m3u8 - lang  with names.zip](https://github.com/google/ExoPlayer/files/5494028/m3u8.-.lang.with.names.zip)

[2020-11-05 12:06] icbaker commented on #8165
Simpler alternative:
Inject a custom [`MediaDrmCallback`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/MediaDrmCallback.html), and use your custom provisioning URL inside `executeProvisionRequest()`.

You'll either need to delegate to `HttpMediaDrmCallback` or pull in your own HTTP library/DataSource of choice.

[2020-11-05 12:21] Manvendra-Jadon commented on #8136
@andrewlewis
**Can you reproduce this error in the ExoPlayer demo app?**
Unable to reproduce this in demo app. I will look into this again on my end, if i have missed something.

[2020-11-05 12:22] Hachimori opened #8167 "The video freezes in the first 10 seconds."
### [REQUIRED] Issue description
The video freezes in the first 10 seconds.
- The video is expected to be played without freezes, as the video is played smoothly when I watched the video on web browser.

The issue happens on some of videos only ; I couldn’t reproduce the issue with most of videos over the internet.
- So, the issue could lie in the video itself / its encoding method.

That behavior

[2020-11-05 12:41] MRAndroidZahid commented on #8152
I am waiting for revert as I need to release build. Please have a look on java code and let me know what’s he issue. I need to prefetch the video ad and when user click on button, It should start instantly.

Thanks

[2020-11-05 13:43] andrewlewis commented on #8152
Can you create the player before the user clicks the button but call `player.pause()` so that playback doesn't begin? That will allow the ad media to buffer. In this setup you need to be careful not to overlap the lifetime of multiple players, as you may see errors on some devices if you acquire more than one hardware video decoder at a time. When the user clicks the button call `player.play()` an

[2020-11-05 13:50] Hachimori commented on #8167
Additional remarks: while we investigate the issue, we found that the issue is resolved when we re-encode the video using ffmpeg without additional options.
What we did is `$ ffmpeg -i 0002.mp4 0002_ffmpeg.mp4` and the video was played without freezes.

[2020-11-05 14:49] andrewlewis commented on #8136
Thanks. Please check if you are calling any methods on the `ImaAdsLoader` from your app code (if there is any doubt if particular calls are valid, feel free to post here and I can confirm). In particular, the app shouldn't be calling `ImaAdsLoader.stop` as that's called by the `AdsMediaSource`.

[2020-11-05 15:13] strangesource commented on #8155
I did look into this in a bit more detail and for me the situation presents as follows:

`EventStream` s are individual track groups that are of type `TRACK_TYPE_METADATA`. Each `EventStream` is a track in its own `TrackGroup` and can therefore be selected via e.g. `SelectionOverride`.

However it is - to my understanding - not possible to enable multiple `TrackGroup`s in parallel, therefore it is

[2020-11-05 16:24] mseroczynski opened #8168 "Impossible to play clear lead of DASH manifest"
ExoPlayer version: 2.12.1

I am getting an `ExoPlaybackException` due to `UnexpectedLoaderException` when below method is called (`Track.java`):

[code]

It happens because of:
![Zrzut ekranu 2020-11-05 o 17 23 38](https://user-images.githubusercontent.com/7540518/98267417-a8edbd00-1f8b-11eb-95fe-6698cf599ca1.png)

Do you have any ideas what may be wrong? The manifest seems fine when tested with o

[2020-11-05 16:58] ilker-aktuna commented on #8097
is it possible to limit the chunks downloaded by setting a fixed-duration for media to be played ?
my media is Hls accessed with a m8u playlist url.

[code]

[2020-11-05 17:07] yoobi opened #8169 "DownloadManager/DownloadService, available space left"
### [REQUIRED] Searched documentation and issues
I've looked into the issues in github and on stackoverflow

### [REQUIRED] Question

1. Does `DownloadManager`/`DownloadService` check the space left on storage before starting a download ? Does it allocates an estimated size in the storage to avoid 2 downloads starting and none finishing ?
2. What does the requirement `DEVICE_STORAGE_NOT_LOW` exact

[2020-11-05 17:09] marcbaechinger commented on #8110
The download request that is persistent to the database does not store the entire media item but only what is needed for downloading. You need to use the `mediaId` to identify your media item and then lookup up your custom data with it from somewhere where you store your data.

[2020-11-05 17:09] lcf87 commented on #8156
Again I don't think it should concern you, but here's the position that you may want to look into.

https://github.com/google/ExoPlayer/blob/59b34ede6165d029d86a677fea73a5dd0dd55c74/library/core/src/main/java/com/google/android/exoplayer2/audio/AudioTrackPositionTracker.java#L267

[2020-11-05 17:09] #8156 closed, assigned to lcf87

[2020-11-05 17:18] yoobi commented on #8110
Just to be sure I've understood, I should persist in a database my custom tag with `mediaId` as primary key, so that when I need to have these datas I can just get it though my database instance ?

[2020-11-05 19:49] ramzeska commented on #8157
Yep, but strange I used 2.11 version.

Just recompiled with latest version from repo, like 2.12 and `drm_license_uri` now started to work, and `drm_license_url` stopped.

Anyway can close task. As seems for laters source everything works according to docs.

[2020-11-05 19:49] #8157 closed, assigned to lcf87

[2020-11-05 20:11] ojw28 commented on #8110
You can leverage `DownloadRequest.data` for this, if you don't want to persist your data somewhere completely separate. You'll need to take care of serializing and de-serializing your data into and out of that field though, since it's just a `byte[]`.

[2020-11-05 21:36] petitJAM commented on #7898
I believe that this issue is happening because of the Material Design Components library.  I am seeing the same issue with the numbers being up higher than they should on the app I'm currently working on that uses MDC.  I just tried making a small test app without MDC and I do not see the issue with misaligned text.

MDC does something where it intercepts XML inflation.  It takes `<Button />` tags

[2020-11-05 23:50] lcf87 commented on #8168
Could you fill out the issue template and provide us with the media that triggered this problem to help us help you better, thanks!

[2020-11-05 23:51] lcf87 commented on #8166
Could you fill out the issue template and provide us with the media that triggered this problem to help us help you better, thanks!

[2020-11-05 23:56] lcf87 commented on #8162
I cannot unzip the file you uploaded on my Mac, or is it a zip file at all?

[2020-11-05 23:57] #8150 closed, assigned to lcf87

[2020-11-06 00:55] skreenr commented on #8163
There is no output view and no XML, as I mentioned previously.

I don't see how your answer addresses the situation posted about.

[2020-11-06 01:02] idokit365 opened #8170 "Playback stuck buffering and not loading"
### [REQUIRED] Issue description
1. Load a large video(6GB more or less) and seek several times, then exoplayer trigger error.
2. It should not trigger error on seeking.

### [REQUIRED] Reproduction steps
1. Load a large video(6GB more or less) and seek several times, then exoplayer trigger error.
2. The issue happends on demo app and my own demo app.
3. My own demo code refer the attachment "*.ja

[2020-11-06 01:35] idokit365 commented on #8170
[GlMergeVideoView_SourceCode.zip](https://github.com/google/ExoPlayer/files/5498289/GlMergeVideoView_SourceCode.zip)

The log is from exoplayer demo app: https://github.com/google/ExoPlayer/tree/release-v2/demos,
and the issue is same to my code producted.

[bugreport-PD1932-PKQ1.181030.001-2020-11-06-09-31-06.zip](https://github.com/google/ExoPlayer/files/5498371/bugreport-PD1932-PKQ1.181030.001-

[2020-11-06 02:53] lcf87 commented on #8170
Could you upload the file to a easier accessible web drive, say Google Drive, iCould, oneDrive or Dropbox, I'm getting KB speed from your link.

[2020-11-06 03:17] vincenttsai-cloud commented on #8165
I've done it this way, thank you very much

[2020-11-06 03:17] #8165 closed, assigned to icbaker

[2020-11-06 03:30] DaveBoy opened #8171 "black screen when the app change to foreground from background"
Good Friday.
when i play a video，change to background and then change to foreground，the player screen become black。
i find the solution from the [example](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java),it always release the player when the app   change to background,and init the player when the app change to fore

[2020-11-06 04:01] idokit365 commented on #8170
@lcf87 Hi, the video has saved to google drive: https://drive.google.com/file/d/19A-XKZ2U83e-oBRIBFy5VaZ6j6iUM1tV/view?usp=sharing

[2020-11-06 04:13] ArunkarthickNallasamy opened #8172 "CacheEvictionListener"
Is there any callbacks for listening to cache eviction? Like when something is being removed from cache we shall observe which item is being removed.

[2020-11-06 07:36] manojbaste opened #8173 "com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors"
Hello,
I got the below exception for the video URL,
https://drive.google.com/uc?export=open&id=1NJnSHcUYBY3EDs23Yn2dWSVLUxm1Wzeh

Exception,
com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, Ts

[2020-11-06 08:03] yoobi commented on #8110
Indeed you're right I though I had to put the url in `DownloadRequest.data` this will be much easier to handle :)

Thank you

[2020-11-06 08:03] #8110 closed, assigned to marcbaechinger

[2020-11-06 08:15] Psychical commented on #8162
Sorry, my fault. Fixed.

[m3u8 - lang  with names.zip](https://github.com/google/ExoPlayer/files/5499944/m3u8.-.lang.with.names.zip)
[m3u8.zip](https://github.com/google/ExoPlayer/files/5499945/m3u8.zip)

[2020-11-06 08:26] zhoujingheng opened #8174 "init error"
[code]

[2020-11-06 08:42] TaruiTakashi opened #8175 "I get a MediaDrmStateException on Pixel devices with Android 11."
### Searched documentation and issues
・ExoPlayer Javadoc.
・ExoPlayer Issues

### Question
MediaDrmStateException may occur when streaming a dash video.
The device that occurs is Pixel of Android 11.
However, not all Pixel devices will raise an exception, and some Pixel devices will raise an exception.

Please let us know the following
* is this a device specific issue?
* Should I change the way st

[2020-11-06 09:31] mseroczynski commented on #8168
Manifest: https://audio-test.atkcdn.com/53a04460-20ae-474b-8fc0-181e657764f5/4acbfae6-a5d2-4ded-b112-4295cfa37103/dash-cenc/sample-manifest.mpd

[2020-11-06 09:42] Skys777 commented on #8147
my media test has 1 audio track with 2 channel stereo (meaning left & right channel).
Then, my app run the media from app launch with setChannelMap(new int[] {0,1}) -> both channel output.

then by user interaction by pressin btnSwitchChannel (change setChannelMap() from 0,1 to 0,0).
i call setChannelMap(new int[] {0,0}) to switch using left channel map only while media playback still running, but

[2020-11-06 10:40] ojw28 commented on #8155
Thanks for investigating. What you've discovered is largely true.

However, I think it's possible to make this work by having more than one `MetadataRenderer` instance. To do this, you just need to get an extra `MetadataRenderer` instance into the player. For example by injecting a custom `RenderersFactory` via `SimpleExoPlayer.Builder(Context, RenderersFactory). To create your custom `RenderersFa

[2020-11-06 10:54] TaruiTakashi opened #8176 "What causes the MediaCodec$CodecException?"
Searched documentation and issues

・ExoPlayer Javadoc.
・ExoPlayer Issues

Question

When playing a dash video, MediaCodec $ CodecException occurs and playback fails.
The license has been successfully issued.
What is the cause of the `MediaCodec$CodecException:Error 0xffffffe0`?

The device that occurs is the Pixel 5 on Android 11 and not all devices.

Error log

[code]

Version of ExoPlayer being

[2020-11-06 11:12] strangesource commented on #8155
Thanks for the answer, now that is what I call a hidden feature. 😄

[2020-11-06 11:12] #8155 closed, assigned to ojw28

[2020-11-06 11:33] mseroczynski commented on #8168
Please close this issue, the problem was

[2020-11-06 11:33] #8168 closed, assigned to lcf87

[2020-11-06 11:34] mseroczynski commented on #8168
Problem was related to corrupted manifest, sorry for the trouble.

[2020-11-06 11:35] ojw28 commented on #8155
Heh, yes! It's a limitation due to the current architecture, where there are a static number of renderers and each one can only play a single `TrackGroup`. This largely makes sense for audio and video, short of very niche use cases. The same is mostly true for text and metadata as well, however for these track types it is somewhat more likely for there to be use cases that need multiple tracks sel

[2020-11-06 11:41] strangesource commented on #8155
Thanks very much for the context, makes a lot of sense how you described it.

[2020-11-06 13:30] MRAndroidZahid commented on #8152
Thanks a lot for your kind help. Issue has been resolved. You can close this ticket. Thanks

[2020-11-06 13:50] andrewlewis commented on #8163
How do you obtain a Surface to render to?

[2020-11-06 15:16] andrewlewis commented on #8097
I'm guessing the empty ones may be requests that are not media chunks (initialization data for example). Can you tell from the load event info or media load data passed to `AnalyticsListener.onLoadCompleted` what kind of loads they were?

How are you determining that the stream is good? If the player is rebuffering then probably the media wasn't loading fast enough (that doesn't necessarily imply

[2020-11-06 16:26] andrewlewis commented on #8158
If you attach a player event listener and listen for `onTimelineChanged`, you can check the ad group count for the period becoming non-zero. Something like this:

[code]

Some notes/caveats:
- I think the posting to the main thread is not actually necessary in the current release but will be needed in future to ensure that the `AdsMediaSource` handles the timeline change event before the call to `

[2020-11-06 17:04] Taranlayal10 opened #8177 "[Widevine-DASH] Check Chunks info getting Played"
I checked the onChunkLoadCompleted in the DefaultDashChunkSource class. Is there any way I can get callback to check chunk that is being played

### [REQUIRED] Question
I am playing DASH Content with Widevine and the buffering time is pretty much more than usual. I need to check which chunk is getting more time in getting load. Is there any way I can get the chunk URL information that is being pla

[2020-11-06 17:11] hunterkill3r commented on #8134
@ojw28 - Are you able to provide us any update?

[2020-11-06 17:19] #8103 closed, assigned to icbaker

[2020-11-06 17:24] lcf87 commented on #8174
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-11-06 17:26] lcf87 commented on #8176
There can be a bunch of reasons, but we would need a bug report to help! Could you provide us a bug report?

[2020-11-06 17:27] lcf87 commented on #8175
Could you provide us a bug report? We'll need one to debug DRM issues.

[2020-11-06 17:29] lcf87 commented on #8173
I wondered if you used ExoPlayer to play the link you posted? Because when you use that link, ExoPlayer will essentially try to "play" the Google drive landing page.

[2020-11-06 17:40] lcf87 commented on #8171
It's rather an *expected* behaviour because ExoPlayer has to release the decoder on entering back ground.

But there is a dirty way around if you are really keen on it:

In `StyledPlayerView`

- Change `surfaceType` to `SURFACE_TYPE_TEXTURE_VIEW`.
- In the constructor, set `shutterView.setVisibility(INVISIBLE);`.
- In `closeShutter()`, set `shutterView.setVisibility(View.GONE);`.

For texture view

[2020-11-06 18:21] andrewlewis commented on #8093
I don't think we'll be able to make much progress without reproducing the issue here. It would be helpful if you could make a minimal test project (or modification to the ExoPlayer demo app) that reproduces the bug and share that.

[2020-11-06 19:30] marcbaechinger commented on #8172
You can listen to the changes of a given resource by using `Cache.addListener(String key, Listener listener)`

[code]

[2020-11-06 20:37] ilker-aktuna commented on #8097
you have questions to me but you closed the thread. how should I proceed for the answers now ?

[2020-11-06 20:48] ilker-aktuna opened #8179 "addtional questions & answers"
I am sorry but I had to open a new issue to continue on this issue:
https://github.com/google/ExoPlayer/issues/8097

I really would not prefer to open a new issue but since it is closed, I guess there's no other option.

how can I determine the type of loadcomplete events ?

how can I set the player's buffer to a static duration and stop the media after that duration ?
I really want to play just a

[2020-11-06 20:49] ilker-aktuna commented on #8097
how can I determine the type of loadcomplete events ?

how can I set the player's buffer to a static duration and stop the media after that duration ?
I really want to play just a 30 seconds of live media and then stop.
I only want to analyze if 30 seconds of media is well received from the server.
so : start media - get 30 seconds of media - stop
how can I achieve that ?

at time of problem, I ob

[2020-11-06 20:50] andrewlewis commented on #8179
Continuing on #8097.

[2020-11-06 20:50] #8179 closed, assigned to andrewlewis

[2020-11-06 20:50] ilker-aktuna commented on #8179
added this to previous issue.
closing.

[2020-11-06 20:54] andrewlewis commented on #8097
Please look at the load event info and media load data information, as mentioned in my previous comment.

See https://exoplayer.dev/media-items.html#clipping-a-media-stream.

I don't have enough information to help I'm afraid, as I said in the earlier comment.

[2020-11-06 21:02] ilker-aktuna commented on #8097
ok.
for a live stream from m8u URL, what should be the startPositionMs and endPositionMs ?

[2020-11-06 22:18] ilker-aktuna commented on #8097
when I log the mediaLoadData.dataType , I see that it reports dataType 1 for events with duration, dataType 4 for events with no duration.
What is datatype 4 ?
and what can I get from loadEventInfo to analyze it further ?

how can I set the player's buffer to a static duration and stop the media after that duration ?
you told me to check:
https://exoplayer.dev/media-items.html#clipping-a-media-str

[2020-11-06 23:49] stevemayhew commented on #7877
@AquilesCanta I see Oliver's commit to detect and turn off chunk less if the mapping is ambiguous, is the commit ready for surfacing the multiple audio tracks though?  Even if you just have a patch we can test it, no need for it to be in `dev-v2` as we will be back porting it to our release version (which is based from 2.11.6).  Thanks!

[2020-11-07 07:14] CateyesLin commented on #6475
I have the same problem.
I test of the same HLS video url transformed by AWS MediaConvert service.
It's not a public video. I'm sorry for that I cannot provide the video publicly.

It was tested on 3 different devices and all the device can reproduce randomly.
- Set-Top Box:
  - TOP HaTV
  - RockTek X3
- Mobile
  - LG Nexus 5X

The video has tested in 2 origin, reference to the same video file sou

[2020-11-07 10:18] aneeshsingh opened #8180 ".mp4 files not playing on my Samsung Galaxy A11"
When reporting a bug:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Issue description
I am currently building an app which fetches data via Api which return a JSON respon

[2020-11-07 10:58] aiescola commented on #8161
@marcbaechinger @AquilesCanta Hi, can you take a look at this? I still haven't got a clue about this.

Besides, I can't find the option to add a thumbnail to the MediaItem as in the gms.cast.MediaMetadata class. Is the feature not supported in cast-extension?

[2020-11-07 11:23] abolfazlghanbari23 commented on #8051
I did what you said, but after I call prepare on the player, it keeps the dataSource size constant and does not play the data that I then add to the byte array, and stops the player while the `read`function is called.

[code]

[2020-11-07 12:07] mahdisadeghi74 opened #8181 "PlayerNotificationManager not show notification on android 10"
I use https://medium.com/google-exoplayer/playback-notifications-with-exoplayer-a2f1a18cf93b and create exoplayer but it is not work on android 10 devices!! how can i fix this?

player play music but not show notification on android 10!!

[code]

[2020-11-07 19:49] marcbaechinger commented on #8181
I've seen `PlayerNotificationManager` working on Android 10. I don't think that it is a general problem with Android 10. If I add it to the demo app for example I see this works.

May I ask to review your code and look whether things are set up as explained it the Medium blog post? The code you pasted above looks a bit like being in a temporary state (like the test.mp3 and the no-op NotificationLi

[2020-11-07 20:50] mahdisadeghi74 commented on #8181
Thank you for response.
But  you can see my project https://github.com/mahdisadeghi74/MusicPlayer

1- When I test on "Pixel2 API 25 emulator"  it is work
2- When I test on "Pixel2 XL API 29 emulator" it is not work and show "Failed to post notification on channel "CHANNEL_ID" see log for more details" inside toast message
3- When I test on "Huawei Honor 8x real device" it is not work without any m

[2020-11-07 23:48] idish opened #8182 "NoClassDefFoundError Mp4Extractor in Android 5.X and 6.X versions"
### [REQUIRED] Issue description
Trying to prepare a media file causes a NoClassDefFoundError fatal crash on (seemingly all) Android 5.X and Android 6.X devices.
I'm able to reproduce that crash with an Android 6.0 emulator, but not on 7.0 + as expected.
Min api is 21, target API level is 29.

### [REQUIRED] A full bug report captured from the device
`E/LoadTask: Unexpected error loading stream

[2020-11-08 02:04] #8057 closed, assigned to marcbaechinger

[2020-11-08 02:04] #8042 closed, assigned to tonihei

[2020-11-08 02:04] #7954 closed, assigned to Samrobbo

[2020-11-08 06:30] rrfrias commented on #8175
The exception thrown is unfortunately too generic. We are working on improving this in future releases.

For this release we will need a bugreport to investigate furthur. If you are unable to share bug reports publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #8175".

[2020-11-08 21:05] marcbaechinger commented on #8181
In this case you need to create a notification channel for the given CHANNEL_ID. Since API 26 a notification needs to have a channel or the notification is not posted with the error message you pasted above.

You can either create [your own channel](https://developer.android.com/training/notify-user/channels) for the given CHANNEL_ID or you can use one of the [static factory methods](https://githu

[2020-11-09 02:05] #8065 closed, assigned to marcbaechinger

[2020-11-09 02:41] DaveBoy commented on #8171
tks very much,i will try it

[2020-11-09 02:41] #8171 closed, assigned to lcf87

[2020-11-09 03:10] DaveBoy opened #8183 "is exoplayer support the ima Non-Linear ad?"
i use the [demo](https://github.com/googleads/googleads-ima-android) and Non-Linear ad tag:`https://pubads.g.doubleclick.net/gampad/ads?sz=480x70&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dnonlinear&correlator=`(sometimes it response empty,use ie maybe all right)

it use the

[2020-11-09 03:40] MyLullaby opened #8184 "SIGSEGV(SEGV_MAPERR)"
#00 pc 000174be /system/lib/libmedia_jni.so (_ZNK7android11JMediaCodec27createByteBufferFromABufferEP7_JNIEnvbbRKNS_2spINS_7ABufferEEEPP8_jobject+25) [armeabi-v7a::b0a1a9201733d4c5fe07a7a8f96da1bc]
#01 pc 00017875 /system/lib/libmedia_jni.so (_ZNK7android11JMediaCodec9getBufferEP7_JNIEnvbjPP8_jobject+54) [armeabi-v7a::b0a1a9201733d4c5fe07a7a8f96da1bc]
#02 pc 00018b91 /system/lib/libmedia_jni.so [a

[2020-11-09 05:13] manojbaste commented on #8173
Actually, We have a requirement from our client, that is they are uploading videos on google drive and they need to play in the Android app

We are making google drive video URL streamable before playing it on Exo player,

below is another google drive sample link and that is playing,
https://drive.google.com/uc?export=open&id=16-9PgLbLq6jzjSWyoQsEh8FLzg6KuNu-

below is my code to make drive/dropb

[2020-11-09 06:11] idokit365 commented on #8170
The issue can be reproducted ?

[2020-11-09 07:21] Gumio opened #8185 "Why the DefaultRenderersFactory's enableDecoderFallback is false by default?"
### [REQUIRED] Question
Hello. Is there a reason why the DefaultRenderersFactory's setEnableDecoderFallback is set to false by default?

I have AB tested and analyzed the Boolean values at 50/50 and it doesn't seem to have any effect on JoinTime or anything else. Does it have a negative impact on performance?

Apart from that, interestingly enough, AndroidTV improved 99.9% of sessions on AndroidTV

[2020-11-09 09:14] Arunkarthicknallasami commented on #8172
[code]

Used this to check cache of a video url

[2020-11-09 09:14] #8172 closed, assigned to marcbaechinger

[2020-11-09 09:14] ArunkarthickNallasamy commented on #8172
Thanks

[2020-11-09 09:25] tonihei commented on #8051
How do you add the data to the byte array? In particular, do you update bytesRemaining?

[2020-11-09 10:30] DaveBoy opened #8186 "short video and long IMA mid-roll ad"
use the tag url `https://pubads.g.doubleclick.net/gampad/ads?env=vp&gdfp_req=1&unviewed_position_start=1&output=vast&iu=/5374/TV2video/avod/programmer/underholdning/love-island-uk/sesong-5&sz=640x480&description_url=https://www.tv2.no/v/1463716&hl=no&cmsid=2510181&vid=1463716` in [7477](https://github.com/google/ExoPlayer/issues/7477),
my video is `https://storage.googleapis.com/gvabox/media/sampl

[2020-11-09 10:35] ojw28 commented on #8097
This is easy to find out for yourself by reading `dataType` field's Javadoc:

And then looking at the various `C.DATA_TYPE_` constants. `C.DATA_TYPE_MANIFEST` is the one that has a value of 4. For HLS this means it's a master or media playlist file.

If you mean a media playlist, `mediaStartTimeMs` and `mediaEndTimeMs` will both be set to `C.TIME_UNSET`. This is also quite easy for you to work out

[2020-11-09 10:35] #8097 closed, assigned to andrewlewis

[2020-11-09 11:04] abolfazlghanbari23 commented on #8051
When I receive new data, I add it to the data list and increase bytesRemaining by calling the increaseBytesRemaining (int x) method.

[code]

[2020-11-09 11:12] #8139 closed, assigned to ojw28

[2020-11-09 11:19] AquilesCanta commented on #7877
I'm not sure I understand the question @stevemayhew. If I remember correctly, the 3 changes referenced in this issue should be enough for playback of the discussed streams. Please try them out, and if your use case is not addressed, let me know.

[2020-11-09 11:20] ojw28 commented on #8116
Aha, it looks like you've figured out how to do this, just by adding the same download request again with an updated `keySetId`. Nice one :)! It looks like that should work fine, although we can optimize it slightly to not moving the download out of the `STATE_COMPLETED` state.

I think everything else you've written looks sensible/correct. Can I close this issue as answered?

[2020-11-09 11:27] tonihei commented on #8051
That looks correct to me. One thing you may need to be careful about is synchronization between multiple threads as I assume your byte list is filled on another thread and the `bytesRemaining` are also updated from another thread. So either use a thread safe type, or synchronize all access yourself.

What do you mean by that? I think for debugging whatever issue you have there, you should just add

[2020-11-09 11:42] AnassHmida commented on #8116
Yes, I believe you can, my problem is now with azure, since everything works as intended in here.
Thank you for your guidance!

[2020-11-09 11:42] #8116 closed, assigned to ojw28

[2020-11-09 12:54] bnk159hair opened #8187 "About translation contribute"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2020-11-09 13:02] marcbaechinger commented on #8161
Track selection is probably not straightaway to achieve I'm afraid. Tracks of a piece of media is only known after the media is prepared. When looking into `CastPlayer` it seems to me that once the media is prepared in the cast device, it's structur is sent back to `CastPlayer` where it is converted into what is returned by `getCurrentTrackSelections` and `getCurrentTrackGroups`. So as a first ste

[2020-11-09 14:31] Kamil-H opened #8188 "Custom `MediaMetadataCompat` property not returned in MediaControllerCompat.Callback.onMetadataChanged"
### Issue description
I'm using `MediaMetadataCompat.Builder` to [add](https://github.com/Kamil-H/ExoPlayer-Crash/commit/8aec1a32d763d94a8bc6d04aebce9f34307cbe6f#diff-c13375dc0450a517a3d08838ab58f817552f12b55d0700fe8bc56c3266e4dba3R38) custom property to `MediaMetadataCompat` object. Just before it gets passed to `ExoPlayer` I can [query](https://github.com/Kamil-H/ExoPlayer-Crash/commit/8aec1a32d

[2020-11-09 14:51] kim-vde commented on #8180
This issue is similar to #6556. It might be device-specific.

Could you please add a link to an example file so I can investigate a bit more in detail? If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #8180".

[2020-11-09 15:01] pavan245 commented on #8137
@ojw28 Thanks for your solution. For the time being, I'm only using the start clip position so your solution works.

Is there any way I can get the current playing position in the window from the Player/Timeline APIs?
I tried `Period.getPositionInWindowMs` and it's returning a negative of `startPosition`.
I can add the `startPosition` and `Player.getCurrentPosition`, but prefer to rely on the Play

[2020-11-09 15:03] tonihei commented on #8053
That's indeed not possible and I also don't see an easy way to workaround this except rewriting `CacheDataSource` to make the read-only flag updatable.

I'll mark this issue as an enhancement to add this functionality, but I don't think we get around implementing this any time soon, so marking as "low priority" too. We suppose accept a high-quality pull request for this, if someone wants to provid

[2020-11-09 15:09] tonihei commented on #8137
`Player.getCurrentPosition` returns the position in the window actually. If you want to convert to a period position you can use `Timeline.getPeriodPosition(window, period, windowIndex, windowPositionUs)` that gives you both the `periodUid` and the period position. The uid is only relevant for cases where you have multiple periods per window. As `ClippingMediaSource` doesn't support multi-period w

[2020-11-09 15:29] stevemayhew commented on #7877
Excellent, I was under the mistaken impression there was another change.
Thanks, I’ll try it out today

On Mon, Nov 9, 2020 at 3:19 AM Santiago Seifert <notifications@github.com>
wrote:

[2020-11-09 15:32] nishantkp commented on #8158
Hi @andrewlewis ,

I need IMA SDK ’s `AdsLoader.AdsLoadedListener` is for querying `com.google.ads.interactivemedia.v3.api.AdsManager` on `onAdsManagerLoaded(AdsManagerLoadedEvent event)` callback  from `AdsManagerLoadedEvent`.

After I get AdsManager, I use `AdsManager.addAdEventListener` to get notified for different types of ad events. Then these events are used for controlling ads volume progr

[2020-11-09 15:36] pavan245 commented on #8137
Hi @tonihei
If the MediaItem's `setClipStartPositionMs` is 300000ms, I need the `Player.getCurrentPosition` to start from 300000. Is this the expected behaviour?

From the below source code, I can see `Player.getCurrentPosition` internally calling `periodPositionUsToWindowPositionMs` method. But as mentioned in the above comment, `Period.getPositionInWindowMs()` is returning `-300000`

[code]

[2020-11-09 15:38] kim-vde commented on #8184
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-11-09 15:39] tonihei commented on #8137
If you want the position to start at `300000`, then you want to know the period position if I understand you correctly. Have you tried using `Timeline.getPeriodPosition` as proposed above?

[2020-11-09 15:59] kim-vde commented on #8185
Using a lower-priority decoder if the best suited decoder initialization fails is not an expected default behaviour. Playback will continue without throwing any error, while there was something wrong in the decoder initialization.

As for performance, it depends on what you do if the decoder fails (and on what you mean exactly by performance):
- If you retry, then it is probably best not to fallba

[2020-11-09 16:01] ojw28 commented on #8183
According to [this page](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/compatibility), non-linear ads are only supported with the HTML5 version of the IMA SDK. The Android version (and also the iOS version) supports the following types:

[2020-11-09 16:01] #8183 closed, assigned to ojw28

[2020-11-09 16:03] ilker-aktuna commented on #8097
actually you are getting it totally wrong.

without checking back the previous discussion you are judging and trying to answer.

"for a live stream from m8u URL, what should be the startPositionMs and endPositionMs ?"

I asked this because I asked how I could get a predefined duration of clip from the stream and I was recommended to check:
https://exoplayer.dev/media-items.html#clipping-a-media-st

[2020-11-09 16:22] pavan245 commented on #8137
Sorry, you're right. I need the period position.
This is how I got it working:

[code]

[2020-11-09 16:38] kim-vde commented on #8182
Did you enable [Java 8 support](https://exoplayer.dev/hello-world.html#turn-on-java-8-support)? Are you importing the extractors library with the same ExoPlayer version as the core library? Does the crash also occur in our [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main)?

See also #7954.

[2020-11-09 16:54] master255 commented on #6956
Now I have this error. For me it is enough.

E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: FfmpegAudioRenderer error, index=5, format=Format(189, null, null, audio/ac3, null, -1, null, [-1, -1, -1.0], [2, 48000]), format_supported=YES
        at f.b.a.b.k0.handleMessage(ExoPlayerImplInternal.java:542)
        at android.os.Handler.dispatchMessage

[2020-11-09 16:56] abhishekpatil26 commented on #8144
Do not use "drm_key_request_properties"
Instead try by passing key request properties like below
[code]

[2020-11-09 17:31] ridanasif opened #8189 "How to improve ExoPlayer performance in RecyclerView ?"
Hi. I am trying to play ExoPlayer in RecyclerView and I have noticed some performance issues. I tried setting the surface type to TextureView but the issue persists.
The recyclerview is simple and is only using one exoplayer instance at a time. I have attached a pagersnaphelper to this recyclerview in a vertical orientation. When I scroll through each videos, there is a noticable stuck or somethin

[2020-11-09 17:35] saurabhkpatel commented on #8106
same issue, any ETA to release this fix?

[2020-11-09 17:47] master255 opened #8190 "Fix and improve handling of audio session IDs"
@ojw28 Perhaps you need to pay special attention to AudiosessionId, and to test its work properly?
I regularly come across the fact that it does not work:
https://github.com/google/ExoPlayer/issues/6954.
https://github.com/google/ExoPlayer/issues/6975

ExoPlayer 2.12.0
Android 4.4 audio session stops transmitting data after rewinding and when you switch to the next track. There are no errors or no

[2020-11-09 17:56] saurabhkpatel opened #8191 "StreamVolumeManager crash during Initialization on certain devices when getting getStreamVolume from AudioManager"
### [REQUIRED] Issue description

Getting the following crash after bumping the new release version which has this commit: https://github.com/google/ExoPlayer/commit/160ee9d890df463fe907c09736f932b255e1c53d

**Crash is:**
- During SimpleExoPlayer inits, StreamVolumeManager sets the volume which gets the streaming volume from AudioManager and it gives NPE.

### [REQUIRED] Reproduction steps
This cr

[2020-11-09 18:18] christosts commented on #8144
Hi @tariqul000,

Can you please share the content you are testing with so that we verify the fix? If the content cannot be shared publicly, can you please email it to dev.exoplayer@gmail.com with subject "Issue #8144"?

When you send it, please add a comment in this issue so that we get notified.

Thank you

[2020-11-09 18:27] master255 opened #8192 "Player.STATE_ENDED when prepare next track?"
@ojw28 , I am trying to implement your new track switching system.
It doesn't behave logically.
1. I turn on the track:
MediaItem mediaItem = MediaItem.fromUri(Uri.parse(path));
                if (position > 0)
                    mMediaPlayer.setMediaItem(mediaItem, position);
                else
                    mMediaPlayer.setMediaItem(mediaItem, true);
                mMediaPlayer.prepar

[2020-11-09 18:40] marcbaechinger commented on #8192
In step 2 the media items are removed with `clearMediaItems()` which makes the player having an empty playlist and the player transitions to `STATE_ENDED`.  If you do not call `clearMediaItems()`  but instead directly use `setMediaItems` you will not see `STATE_ENDED` but the player goes from `STATE_READY` to `STATE_BUFFERING` directly.

[2020-11-09 19:15] ojw28 commented on #8187
It's unclear what you're proposing to translate, exactly.

* All of the strings in the library modules are already translated into Korean ([example](https://github.com/google/ExoPlayer/blob/r2.12.1/library/ui/src/main/res/values-ko/strings.xml)).
* Strings in the demo applications are intentionally not translated. We could add translations if there's significant demand for it, although we'd do so

[2020-11-09 19:16] master255 commented on #8192
@marcbaechinger Ok. I want to play one track. Then quickly the second one. What do I need to do?
When I start the first track, I don't know what the second track will be. I can't use the playlist.

[2020-11-09 19:31] master255 commented on #8192
@marcbaechinger Another bug. If I do not call:
mMediaPlayer.clearMediaItems();
then even if I call a new track with a position reset, the position is not reset but resumed:
mMediaPlayer.setMediaItem(mediaItem, true) - position reset does not work.
Even if I call:
mMediaPlayer.setMediaItem(mediaItem);
the position is not reset.

[2020-11-09 19:33] stevemayhew commented on #7877
@AquilesCanta  sorry again for the confusion.  I merged and back-ported the two commits ccf78f9 and 4783c32 also I fixed the index-bug.m3u8 so it does not have the extra EXTINF, the changes work perfectly with this playlist.

So, I'm closing this bug out and I'll enter and RFE for the changes we want for captions and chunkless-prepare.  I will link too this bug for our discussions above.  We will

[2020-11-09 19:33] stevemayhew commented on #7877
Works perfectly.

[2020-11-09 19:33] #7877 closed, assigned to AquilesCanta

[2020-11-09 19:34] master255 commented on #8192
@marcbaechinger I see you have forgotten about this variable.
![1](https://user-images.githubusercontent.com/5380115/98587733-9bae3680-22db-11eb-9170-bcad1450b754.PNG)

[2020-11-09 20:03] lcf87 commented on #8173
If you are modifying the Google Drive link so that it is directly downloadable, and one of your links worked, I think you should first try the following:

Transform the link you posted, and try loading that in a browser. If the browser shows a video playing, then you know the link is OK, and ExoPlayer is doing something weird. Else, it would be the problem of the link.

[2020-11-09 22:17] idish commented on #8182
@kim-vde Yes, JAVA 8 is enabled.
Yes, I'm using ExoPlayer as the following, non locally:
`
def exoplayer_version = "2.12.1"
implementation "com.google.android.exoplayer:exoplayer-core:$exoplayer_version"
implementation "com.google.android.exoplayer:exoplayer-ui:$exoplayer_version"`

There's no crash on demo app.
I've looked at https://github.com/google/ExoPlayer/issues/7954 though it didn't help m

[2020-11-10 01:01] #8087 closed, assigned to andrewlewis

[2020-11-10 01:01] #8106 closed, assigned to andrewlewis

[2020-11-10 02:26] Daktm opened #8193 "How to use spatial audio in Exoplayer 2.12.1 ?"
How to use spatial audio in Exoplayer 2.12.1 ?

[2020-11-10 03:22] tuanlt2 opened #8194 "Set default video/audio codec when play m3u8 file"
### [REQUIRED] Searched documentation and issues
I have used google search to find the answer but I can't get the answer.

### [REQUIRED] Question
In normal case, m3u8 file will have both video and audio codecs (example: CODECS="avc1.4d401e,mp4a.40.2").
But when m3u8 file misses video codec (example: CODECS="mp4a.40.2"), only audio are played (black screen).
And when m3u8 file misses audio code (e

[2020-11-10 05:05] ridanasif commented on #7951
Please take a look at my issue #8189

[2020-11-10 06:34] ghost opened #8195 "30 sec difference when Go Live in HLS"
Hi can any one help me out about my problem in exoplayer:

I am using player in my application for HLS stream which I receive from backend server.In backend we have implemented a buffer of 10 sec segment and this buffer is of circular type, which means that we are receiving HLS stream with circular manner with this implementation we receive time from backend which we show in player we have maintai

[2020-11-10 06:35] Gumio commented on #8185
Thank u! I understand.

[2020-11-10 06:35] #8185 closed, assigned to kim-vde

[2020-11-10 09:15] GouravSna opened #8196 "Black Screen on changing the bitrate in demo app"
### [REQUIRED] Question
In ExoPlayer demo app, if I change the Video bit rate then i see a blackscreen then video frame appears. It is only happening in Dash DRM content; which i can see. For HLS and Clear Dash, when i change the bit rate, video frame is visible and resumes the content after the track update.

### A full bug report captured from the device
Not required.

### Link to test content
I

[2020-11-10 09:15] yoobi opened #8197 "Download notification crash on API 19"
### [REQUIRED] Issue description
When I start a download on my phone I got a crash because of the notification

I found this while searching: https://stackoverflow.com/a/38999661/6074224 it might help to resolve the issue

### [REQUIRED] Reproduction steps
I've got a repo which you can use to reproduce the bug https://github.com/yoobi/exoplayer-kotlin/tree/master/downloadvideo (note that it is sti

[2020-11-10 09:21] master255 opened #8198 "How to change the sound resampler?"
@ojw28 , I have been using ExoPlayer for a very long time, as the main one. For watching movies and listening to music.

But yesterday I found the resempler setting in VLC (--audio-resampler). It was the default setting for soxr.
Available options: any,samplerate,ugly,soxr,speex_resampler,none.
I have set any.
It feels like I bought new speakers. Now I hear low frequencies that I haven't heard bef

[2020-11-10 11:09] macmagician commented on #8144
Hi @christosts,

I have also emailed you additional information regarding, and referencing this issue, and your proposed fix.

Thank you

[2020-11-10 11:17] marcbaechinger commented on #8192
Yes you are right, there was a bug regarding the `resetPosition` not being honored (#8024). This has been fixed and released with [2.12.1.](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2121-2020-10-23) So in case you are using 2.12.0 an upgrade should help. Can you check what version you are using?

I just tested your case with the actual code (2.12.1) and it worked fine. I

[2020-11-10 11:30] marcbaechinger commented on #8197
The StackOverflow post says that with KitKat the icons must not be SVG. In the project you linked above I see that you are using custom drawables that are xml file. I suspect these are not working (the demo app uses png for all API levels).

I'd suggest you first replace your icons with a png to see whether that solves the problem. You can [pick those from the demo app](https://github.com/google/E

[2020-11-10 11:32] ojw28 commented on #8173
I think the problem is that your "making the URL streamable" logic doesn't give you a direct URL to the media. It gives you a URL that Google Drive might resolve to the media, or not, depending on its own logic and implementation. For your "working" link Google Drive seems to resolve the URL you're constructing to the media. For your "broken" link it's resolving to a web page that warns you the fi

[2020-11-10 11:32] #8173 closed, assigned to lcf87

[2020-11-10 11:34] #8187 closed, assigned to ojw28

[2020-11-10 11:46] yoobi commented on #8197
Ooh you're totally right I didn't pick the image from the demo, my bad.

[2020-11-10 11:46] #8197 closed, assigned to marcbaechinger

[2020-11-10 11:59] kim-vde commented on #8182
I am afraid I can't help more if I can't reproduce.

You could try to modify the demo app to reproduce your problem and indicate what you have changed. But, as written in [this comment](https://github.com/google/ExoPlayer/issues/7954#issuecomment-706369053), this is more likely to be something specific about the way your particular app is being built.

[2020-11-10 12:18] master255 commented on #8192
@marcbaechinger It is difficult for me to compile all the codecs every time.
I currently have version 2.12.0. Ok. I'll check it out later.
I'll wait for version 2.12.2.

[2020-11-10 12:18] #8192 closed, assigned to marcbaechinger

[2020-11-10 12:33] marcbaechinger commented on #8188
As far as I understand, you set the metadata object as a tag of the media source here:

[code]

Then you expect it to be as part of the media session here:

[code]

When you [setup the MediaSessionConnector](https://github.com/Kamil-H/ExoPlayer-Crash/blob/master/app/src/main/java/com/nomtek/exoplayercrash/media/MediaService.kt#L46) you are not using a custom MediaMetadataProvider. So I wonder how

[2020-11-10 12:50] Manvendra-Jadon opened #8199 "Player.STATE_ENDED event is not getting triggered"
Trying to upgrade to latest version 2.12.1.
Have made all the required changes as per sample app: https://github.com/google/ExoPlayer/tree/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo

I am adding only single MediaItem as per my requirement. But problem is Player.STATE_ENDED is not triggered when video ends. I am blocked on this. Not sure if i am missing something. Can sh

[2020-11-10 13:08] Kamil-H commented on #8188
Thank you @marcbaechinger for your answer, I know the codebase is not so small, sorry for that.

Actually I'm adding my custom property here in `MediaMetadataCompat.Builder`:
https://github.com/Kamil-H/ExoPlayer-Crash/blob/8aec1a32d763d94a8bc6d04aebce9f34307cbe6f/app/src/main/java/com/nomtek/exoplayercrash/models/mappers/MediaItemToMediaMetadataCompat.kt#L15
([this is how it implemented under the

[2020-11-10 13:44] kim-vde commented on #8191
This seems to be a device-specific issue in Android framework. I will implement a workaround.

[2020-11-10 14:29] kim-vde commented on #8193
You should use the [GVR extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/gvr). [This article](https://medium.com/google-exoplayer/spatial-audio-with-exoplayer-and-gvr-cecb00e9da5f#.xdjebjd7g) explains how to do it.

Note that the GVR extension is deprecated, but I am afraid there is no other way to implement spatial audio in ExoPlayer.

[2020-11-10 15:42] lcf87 commented on #8170
Yes I can reproduce on my end, assigning to Toni to take a look.

[2020-11-10 16:29] tonihei commented on #8170
The error is thrown because your playback would be stuck in a buffering state otherwise. So throwing an exception is better because you can fail fast instead of getting stuck forever.

The reason why you are stuck is that your video track has a large gap. There are 4.7 hours of audio without video samples in the middle of your file (between timestamps `6914062844` and `23958259744` (in microsecond

[2020-11-10 16:47] kim-vde commented on #8194
I think that the CODECS attribute is mandatory so you should probably add it to the HLS file so that it is widely supported.

I don't know any way to set default CODECS values in ExoPlayer. Any idea @christosts @AquilesCanta ?

[2020-11-10 17:08] kim-vde commented on #8196
Thanks for reporting this. Could you clarify how you change the bitrate?

[2020-11-10 17:10] GouravSna commented on #8196
I am changing it manually from the 'Select Tracks' button from PlayerScreen then under 'Video' selecting bitrate.

[2020-11-10 18:39] tcudev commented on #8199
The EventListener stopped completely listening for me after the last update.

[code]

I try to disable the ProgressBar in my player but since last update nothing is triggered in my EventListener. Here is a sample code for debugging. Nothing is triggered, only if I close the player then it outputs:

How I close my player:

[code]

[2020-11-10 20:12] ojw28 commented on #8198
I don't think ExoPlayer does do any cutting of upper and lower frequencies.

You could implement a custom `AudioProcessor` to boost or reduce certain frequencies, but it's not something we support directly. It may also be possible to use `android.media.audiofx.Equalizer`, but it's not something I've ever tried.

[2020-11-10 20:17] master255 commented on #8198
@ojw28 No. The resempler cannot be fixed with the equalizer. EQ changes sound after resempler.
Did you compare VLC sound with yours?
I have a program to do it.
Anyone will hear the difference in sound. The difference is big.

[2020-11-10 20:29] ojw28 commented on #8190
If you want us to investigate this, please provide proper reproduction steps, ideally in the form of a minimal test app. Note that #6954 also lacked clear reproduction steps, to the extent that it's still unclear whether there was a bug. #6975 also lacked clear reproduction steps until 12 messages in, and when they were finally provided we were able to provide a clear answer.

[2020-11-10 20:37] ojw28 commented on #8198
ExoPlayer doesn't do any resampling at all for the majority of audio streams. In most cases we pass through exactly what's in the stream to the underlying platform. This seems like the correct thing to do. We do re-sample some high bit-depth audio formats, but an issue in that logic would not be consistent with "this applies to any music in mp3 and flac format" in your description, since as I say,

[2020-11-10 20:47] master255 commented on #8198
@ojw28

No no! Read more carefully. Soxr is a resempler that uses VLC by default and it cuts the upper and lower frequencies just like your player.
I chose another resempler (any) to get the full sound quality.
I can hear exactly what ExoPlayer cuts the bass and high frequencies.
Perhaps you are using a cheap technique?
I use the Galaxy S8+ and the Bose QC35 headphones.
This can be heard very well

[2020-11-10 20:50] JLLeitschuh opened #8200 "Please open a security advisory"
I have a relatively minor security vulnerability to disclose in ExoPlayer. I'd appreciate not going through the Google disclosure process because it's slow and heavyweight for what I'd like to disclose.

Would the maintainers of this project be willing to open a security advisory to allow me to disclose the vulnerability privately and quietly?

https://github.com/google/ExoPlayer/security/advisori

[2020-11-10 21:01] ojw28 commented on #8198
Right, I meant `any` rather than `soxr`. That typo aside, as per my previous responses, ExoPlayer doesn't do any re-sampling at all for the majority of audio streams that we support. It's not possible for us to be using a cheap (or expensive!) technique when there's simply no re-sampling taking place.

[2020-11-10 21:08] master255 commented on #8198
@ojw28 But somehow you have a digital-to-analog conversion? This is where the frequencies are trimmed and smoothed. This is a problematic place in ExoPlayer.

[2020-11-10 21:31] ojw28 commented on #8198
For built-in speakers and 3.5mm headphone jack output, digital to analog conversion is implemented in hardware (the component responsible for doing this is called a DAC, and is typically provided by SOC vendors such as Qualcomm).

USB and bluetooth outputs do not require digital to analog conversion because they are digital outputs. In this case the conversion is done by a DAC in the connected dev

[2020-11-10 22:05] master255 commented on #8198
@ojw28 Then perhaps you need to implement some improvement. Ok. If you choose to ignore the problem, I won't bother you.
But the problem, as far as I hear it (and many other peoples), is very big.
Close the question if you want to ignore it.

[2020-11-10 22:50] ojw28 commented on #8198
We work with many major streaming providers and power billions of playbacks per day, and have not received complaints about this type of audio quality issue from anyone else. So evidence suggests that it's not a very big problem. Closing because there's nothing particularly actionable for us to do here.

[2020-11-10 22:50] #8198 closed, assigned to ojw28

[2020-11-11 01:35] idokit365 commented on #8170
@tonihei
Thanks for the reply!
But the issue can not be avoid because of videos is not be controlled by me and I dont know the video has a large gap or not.
So can the methods below resolved this issue :
1. enlarge memory limit;
2. mute it before seeking;
3. or any other method.

[2020-11-11 02:02] seokhyeonML commented on #6168
for me, this helped me to solve the problem,
with additional info, if you uploaded video through any video player, then avoid video player from setStating,
this may causes multiple initialize which causes same errors with above issues

[2020-11-11 02:05] #5053 closed, assigned to AquilesCanta

[2020-11-11 02:23] TaruiTakashi commented on #8176
@lcf87
I have sent the bugreport to dev.exoplayer@gmail.com.
Please check it out.

[2020-11-11 04:58] skreenr commented on #8163
OnSurfaceCreated callback gives me a holder

[2020-11-11 06:40] mahdisadeghi74 commented on #8181
Thank you. I use  `createWithNotificationChannel `and my problem solve.

[2020-11-11 06:40] #8181 closed, assigned to marcbaechinger

[2020-11-11 06:49] DaveBoy opened #8201 "is it necessary to show the companionAd"
in the ima example，there is not show the companion ad.

is it will Affect advertising revenue？

i know the method to show the companion ad like this:
[code]

there is some question：
1、but 'companionAdSlot.setSize(300, 250);' i don't know the Proper size for the companionAd. Should I set a fixed size doesn't matter if there are no companionAd？

2、companionAd must not Overlap with ad？

3、the compani

[2020-11-11 07:46] vincenttsai-cloud opened #8202 "exoplayer can not play widevine + ts m3u8"
System info
exoplayer 2.12.1 +android 10

Issue and steps to reproduce the problem
Packager Command:

packager
'in=/media/media/2.ts,stream=video,segment_template=test1/$Number$.ts,playlist_name=test1/video.m3u8'
--hls_master_playlist_output master1.m3u8
--enable_widevine_encryption
--key_server_url https://license.uat.widevine.com/cenc/getcontentkey/widevine_test
--protection_scheme cenc
--conten

[2020-11-11 08:08] Taranlayal10 commented on #8177
Hi @ojw28

Request your attention. Its little bit urgent to debug this.

[2020-11-11 09:03] marlon-br commented on #8182
i see the same issue on Android 6.0 devices

[2020-11-11 09:32] master255 commented on #8198
@ojw28 Users just think that's all their device can do. And the frequencies are actually trimmed.
As I said, until you hear it, you will not understand.

[2020-11-11 09:36] master255 commented on #8193
@Daktm Looks like [ExoPlayer is not for music](https://github.com/google/ExoPlayer/issues/8198).
Just use VLC. Use the settings in it:
options.add("--audio-resampler");
options.add("any");
options.add("--spatialaudio-headphones");

[2020-11-11 09:55] alexeyr15 opened #8203 "Video playback freezes after closed captions track change"
### [REQUIRED] Issue description
Video playback freezes after changing the closed captions track when using FFmpeg extension.

### [REQUIRED] Reproduction steps
1. Build ExoPlayer Demo app with FFmpeg extension enabled (use "withDecoderExtensions" build variant also)
2. Play the provided test stream
3. Open the track selection dialog and change the closed captions track
4. Video playback freezes

[2020-11-11 09:56] tonihei commented on #8170
Yes, you could try both to solve the problem, but if you don't control the media and thus don't know what kind of problem it may have, it will be hard to choose the right approach I guess.

The upper memory limit can be set in `DefaultLoadControl.Builder.setTargetBufferBytes` or you can disable the memory check for as long as the buffered duration is less than the minimum by setting `DefaultLoadCo

[2020-11-11 10:01] kim-vde commented on #8191
I just pushed the fix. Please let us know if you still encounter issues with the `AudioManager` in the future.

[2020-11-11 10:05] i-nasser opened #8204 "Failed to allocate output port buffers after port reconfiguration"
### [REQUIRED] Issue description
I created exoplayer one time by invoking this method getSourceMediaPlayerInternal()  when ended video I need to go to next random video. When ended video into exoplayer I have Invoked playVideoFromMediaSource()
The video works for a time and after that this error appears and  the screen exoplayer becomes black and the video stops working.

Code:
-------------------

[2020-11-11 10:36] kim-vde commented on #8196
I can indeed observe this behaviour with Widevine secure content but not with Widevine clear content. I can see some DRM errors in the strack trace when changing the track but I am not sure whether they are linked. This issue was already present in ExoPlayer 11.7.

Assigning to @AquilesCanta for further investigation.

[2020-11-11 10:50] kim-vde commented on #8199
Can you send us a bug report (using "adb bugreport") and a media test content for which you encounter the issue? If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #8199". The code to the player activity may also be useful.

[2020-11-11 11:03] kim-vde commented on #8200
I just created one. Please tell me if I should do anything else (I have never used security advisories before). Thanks!

[2020-11-11 11:16] hyl0376 opened #8205 "IMA Extension : Multiple Ads not played with empty vast"
### [REQUIRED] Issue description
Our VMAP AD contains 2 pre-rolls, the second of which can be empty. When I try to play this adTagUrl with demo app, the player plays the first ad well but it freezes before the second ad plays. There's no sound or buffering. I found #5006, #6097 but it still looks weird. This adTagUrl works fine in IMA SDK sample app (https://github.com/googleads/googleads-ima-andr

[2020-11-11 11:55] kim-vde commented on #8202
Could you try to play your media in the [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main)? You will need to add it to [this](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json) file? The corresponding object should have the following form:

[code]

If it doesn't work, could you send us a bug report taken while playing the file

[2020-11-11 11:59] kim-vde commented on #8203
I get a 404 when opening the link you sent by email. Could you please send a new link and update this issue when you have done it?

[2020-11-11 12:02] master255 commented on #8198
@ojw28 https://source.android.com/devices/audio/src
It says here that Android uses resemplers:
linear
cubic
sinc with original coefficients
sinc with revised coefficients

Which of them uses ExoPlayer?
And can you change it to libsamplerate, which is used in VLC?

[2020-11-11 12:04] Manvendra-Jadon commented on #8199
@kim-vde Details sent to dev.exoplayer@gmail.com.

[2020-11-11 12:26] MujammilAhamed opened #8206 "Custom PlayerView turns out black when using TextureView as surface_type"
PlayerView turns out black when the app goes to onPause and onResume in the BottomSheet Dialog Fragment.

Reproduction steps
[code]
PlayerBottomSheetDialogFragment.kt
[code]

The version of ExoPlayer being used - 2.12.1

Device(s) and version(s) of Android being used - Samsung Android 8.0 & 9.0. 'S' series devices

[2020-11-11 13:17] marcbaechinger commented on #8188
When you are using the `MediaSessionConnector` the `MediaMetadataCompat` is created by the `DefaultMediaMetaDataProvider`. The default component does not know about your metadata object in the tag. So if you want do change the behaviour you have to provide your own like explained above.

[2020-11-11 13:59] marcbaechinger commented on #8189
This is not trivial to implement. As a general advice it's best to use a single player instance and reuse this instance.

I can't support you with this closely I'm afraid. There is an issue about this where other uses exchange ideas about what approach is best. Please see #867 for the discussion.

[2020-11-11 14:28] yoobi opened #8207 "How to update UI with download progress"
### [REQUIRED] Searched documentation and issues
I've looked at your [doc](https://exoplayer.dev/downloading-media.html#querying-downloads) and stackoverflow

### [REQUIRED] Question
I'd like to make a recyclerview with all the download (and all state, ie downloading, done, error ...)
I've been able to get all the download via the `DownloadCursor` and using that list in the `recyclerview` and then

[2020-11-11 14:34] AquilesCanta commented on #8202
This is not currently supported. Please track #4021. Note there are no currently plans to implement support for this.

[2020-11-11 14:34] #8202 closed, assigned to kim-vde

[2020-11-11 14:49] JLLeitschuh commented on #8200
Thanks @kim-vde!

[2020-11-11 15:07] #8200 closed, assigned to kim-vde

[2020-11-11 15:15] kim-vde commented on #8199
This seems to be a problem with the ads XML. Trying to play the ads in the [IMA demo](https://googleads.github.io/videojs-ima/examples/advanced/) fails with error "The response does not contain any valid ads.".

[2020-11-11 15:17] #8191 closed, assigned to kim-vde

[2020-11-11 15:17] #8193 closed, assigned to kim-vde

[2020-11-11 15:38] alexeyr15 commented on #8203
I have updated the link.

[2020-11-11 16:05] lcf87 commented on #8167
I think that can be categorized as bad media?

[2020-11-11 16:54] tcudev opened #8208 "Audio of video still playing after closing/releasing ExoPlayer"
### [REQUIRED] Issue description
Audio still playing after completly closing/releasing the player and finishing activity

### [REQUIRED] Reproduction steps
I migrated to newest release and my old close-code didnt worked suddenly, so I tried different implementations but the audio is always there.

My new implementation for closing the PlayerActivity

[code]

### [REQUIRED] Link to test content
Wil

[2020-11-11 17:02] ridanasif commented on #8189
Thank you but when using a single instance, won't the video played before the user scrolls to the next video, be reset? Is there any way I could set the previously played videos to an idle state so that when a user goes back to it, they don't have to wait for it to load again? Most popular apps pauses the previously played videos and The scrolling effect is smooth. But Exoplayer cannot do this bec

[2020-11-11 17:17] christosts commented on #8144
Hi @tariqul000  and @macmagician

While I'm writing a fix for this issue, I need to clarify how you will be able to download Widevine protected content from an app.

At the moment, offline downloads in ExoPlayer do not automatically support DRM-protected content, and the app has to glue itself some pieces together. Specifically, the app has to implement the equivalent of what `WidevineOfflineLicen

[2020-11-11 17:32] marcbaechinger commented on #8189
You can use multiple instances of ExoPlayer but as you said you need to figure out how many codec instances you can use on a given device and limit to that number of players. You can't get around having a pool of players that you use for serving all PlayerViews. In some cases the pool size needs to be one. I would start with one instance. :)

I recommend looking into caching. When you use a cache

[2020-11-11 17:33] Manvendra-Jadon commented on #8199
@kim-vde The issue is happening with sample tag url as well : https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpost&cmsid=496&vid=short_onecue&correlator=

Reference: https://developers.google.com/interactive-medi

[2020-11-11 17:38] Manvendra-Jadon commented on #8199
@kim-vde Without Ads, all looks good. But the issue is with ads, and if you will agree, even if there is some issue, Player.STATE_ENDED should be fired when video ends.

[2020-11-11 17:43] ridanasif commented on #8189
Thank you for the fast response. So by caching, when I scroll to the previous video, will there be even a second of delay? Because the way Instagram does that (on their new reels feature) is just amazing and smooth. When we scroll to the previous video the video will still be there as in a paused state. Anyway thank you for your great help. Will research more and I will let you know If I have crac

[2020-11-11 17:45] ridanasif commented on #8189
Sorry I forgot to ask, can caching be done for adaptive stream like for Dash?

[2020-11-11 17:47] marcbaechinger commented on #8207
There is a section in the docs about ["Listening to Downloads"](https://exoplayer.dev/downloading-media.html#listening-to-downloads) has an info box about this. It refers to the `DownloadService` that has a [`ForegroundNotificationUpdater`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadService.java#L872) that updates th

[2020-11-11 17:54] yoobi commented on #8207
Yeah I saw the info box and used it for another screen, but I'm asking to get all downloads even the one completed,
`List<Download> downloads = Assertions.checkNotNull(downloadManager).getCurrentDownloads();` only return the one in progress,paused or queued.

If I use `downloads` for my `recyclerview` I will only have the one in progress and not the completed or failed one.

[2020-11-11 18:05] marcbaechinger commented on #8207
Sounds like you can build up the recyclerview like you already do, then use the downloadManager to get most recent updates and update the adapter of the recycler view with the most recent data?

[2020-11-11 18:09] nihk opened #8209 "Omitting configChanges in AndroidManifest.xml breaks split-screen on Android 11"
### Issue description
The ExoPlayer demo app in its AndroidManifest.xml uses the attribute
`android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"`
for its PlayerActivity. But in my app I can't use that attribute. Not having that attribute is fine on Android 10 and below, but I noticed on Android 11, not having that attribute becomes a problem

[2020-11-11 18:11] Sathish-Kumar-Kanagaraj opened #8210 "Unable to play some HLS URLs in the player"
### [REQUIRED] Question
I am unable to play the given HLS URL in most of the devices, but on some devices its playing, The URL link I have given in the test content section.
I just want to know what is the source error, since it is playing on web and android emulator devices but not playing on the latest real-world mobile devices So I am unable to capture the error.

### A full bug report captured

[2020-11-11 18:11] marcbaechinger commented on #8189
Yes, it's a bit more complicated though. You can limit to a given quality and download that quality with `StreamKeys`. Then when doing playback you need to do the restriction to the same single track again. If you know the duration of the segments in your Dash stream you probably want to download a given number of segments for a given stream and make sure the player picks that quality when startin

[2020-11-11 18:11] saurabhkpatel commented on #8191
@kim-vde : what's the timeline to release this?

[2020-11-11 18:29] lcf87 commented on #8167
The problem is with MP4's edit list. The first MP4 file has an edit list telling the player to play after 0.265 second, apparently there was not a keyframe for some while, so the video freezes.

One workaround is to let ExoPlayer ignore the edit list altogether, and the video plays from the start. [Please reference here](https://exoplayer.dev/troubleshooting.html#why-do-some-mp4fmp4-files-play-inc

[2020-11-11 18:29] #8167 closed, assigned to lcf87

[2020-11-11 18:40] yoobi commented on #8207
Yeah I can build it the issue is that when I browse the Cursor it only updates every 4 or 5 iteration of the `while` loop instead of updating every iteration, that's why Cursor is not a good option for my issue, I wanted to know if you have any advice about it.

[code]

[2020-11-11 20:02] roubertedgar opened #8211 "Custom data on MediaItem"
Hey, we use a custom URI protection and the MediaItem just supports DRM credentials. In this case, on the exoplayer side, we are sending this custom data by creating a MediaSource with a DataSource that put our custom headers in the defaultRequestProperties. On the GoogleCast side, we're creating a MediaQueueItem with a custom data that has our credentials headers.

Is there any possibility of add

[2020-11-11 21:14] marcbaechinger commented on #8211
You can use `new MediaItem.Builder().setUri(uri).setTag(yourCustomObject).build()`. Then you find your custom object in `mediaItem.playbackProperties.tag`. The tab is of type 'Object' so you can use whatever you want. There is a [code snippet](https://exoplayer.dev/media-items.html#simple-media-items) in the dev guide about this.

[2020-11-11 22:32] a4x4kiwi commented on #8031
Hi. Has anyone had a chance to look at this further at all?

[2020-11-12 01:04] roubertedgar commented on #8211
I believe that the tag can help, many thanks

[2020-11-12 01:04] #8211 closed, assigned to marcbaechinger

[2020-11-12 04:41] palvaibhav89 commented on #5313
Hi i am getting Same issue. [
<img width="865" alt="Screenshot 2020-11-11 at 1 17 40 PM" src="https://user-images.githubusercontent.com/20883663/98896492-0ffcfb80-24cf-11eb-8a48-b1ba96c53183.png">
](url)

@ojw28 PLease give us a solution. @jofth is their any solution you got?
Currently i am using 2.12.1 version.

[2020-11-12 06:55] TaruiTakashi commented on #8175
Please be patient as we ask users to send us a bug report.

[2020-11-12 08:26] ridanasif commented on #8189
Thank You. So can I use either of these two approach? Is the stream key approach or DashDownloader approach better?

[2020-11-12 08:28] aiescola commented on #8161
Hi @marcbaechinger thanks for the reply. Apologies, I couldn't answer earlier. I will study what you said.

As for the second part, I guess I have to do that custom MediaItemConverter anyway to support the extended controls view in the sender. If there is any guide on how to implement a custom MediaItemConverter, let me know. For the moment I will fork the library and copy the behaviour of Default

[2020-11-12 08:43] Hachimori commented on #8167
@lcf87

Thank you!  As you mentioned, I could resolve the issue by ignoring edit lists.

For those who interested, this is the changes I made:
- https://github.com/Hachimori/ExoPlayerSampleApplication/commit/2eb4a8044ebb0119504dfad6d4c64109ef05d9a1

[2020-11-12 09:55] kim-vde commented on #8191
Probably end of November or beginning of December.

[2020-11-12 10:52] kim-vde commented on #8199
Everything is working well for me with the [valid ads link](https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpost&cmsid=496&vid=short_onecue&correlator=) you provided. The video ends and the `onPlaybackStateChange

[2020-11-12 11:28] marcbaechinger commented on #8161
I don't think you need to fork the library. You need to instantiate the `CastPlayer` by passing your custom `MediaItemConverter` implementation. I think looking into the [`DefaultMediaItemConverter`](https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/extensions/cast/src/main/java/com/google/android/exoplayer2/ext/cast/DefaultMediaItemConverter.java) is a good idea. Y

[2020-11-12 11:30] kim-vde commented on #8208
Could you please send us a link to an audio/video file that has the issue? Is the audio that keeps playing from an ad or from a normal video?

[2020-11-12 11:50] christosts commented on #8144
@macmagician thank you for the test link. I'm afraid ExoPlayer won't be able to download the specific content for the reason mentioned in the previous comment: the pssh box is not in the manifest, but in the initialisation segment.

Please consider moving the pssh box on the manifest. Note that doing so is somewhat the suggested practice
https://dashif-documents.azurewebsites.net/Guidelines-Securi

[2020-11-12 11:56] marcbaechinger commented on #8204
The exception is raised by the Android media framework that uses devices specific codecs. It's strange that you are saying it works once but not several times. Are you seeing this problems on different devices/emulators or just on a specific device?

Difficult to say something with the information available. You are saying it works fine at the first try and then fails. The code also uses a `CacheD

[2020-11-12 12:04] marcbaechinger commented on #8206
Seems like the player is not resumed properly after the app went to background and is foregrounded again.

I suggest you look how the demo app does the player life-cycle within the activity life-cycle. Make sure you initialize and release the player like in the `PlayerActivity` of the demo app. For example look at what [onPause](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/ma

[2020-11-12 12:07] marcbaechinger commented on #8189
Please look at the code snippet in the java doc I mentioned above. You need to use `StreamKeys` for the `DashDownloader` to filter the manifest. Check the code snippet of the `DashDownloader` and look whether you find how `StreamKeys` are used.

[2020-11-12 12:27] marcbaechinger commented on #8207
I don't think you need a cursor. There is probably just no change in the download index.

I suggest you [get a simple list of `Download`s from the `DownloadIndex`](https://exoplayer.dev/downloading-media.html#querying-downloads), when you create the recycler view. Create an adapter that wraps that list.

Then [register a listener to the `DownloadManager` like explained i the devguide](https://exop

[2020-11-12 13:18] Manvendra-Jadon commented on #8199
@kim-vde Have you checked the same with Post-roll ads?

[2020-11-12 13:24] kim-vde commented on #8209
I can indeed reproduce. I suspect this is a bug in the Android framework if it only happens on Android 11. I'll assign to Marc for a second opinion.

I quickly tried to fix it by adding
[code]
to the `onStop()` method of the `PlayerActivity` but it didn't help.

[2020-11-12 14:15] mahdi24rajabi commented on #6348
@christosts I've found something that improves the situation:

  Instead of sending `rendererPositionUs` and `rendererPositionElapsedRealtimeUs` directly from `doSomeWork()` to `render()` method, I tried to send `mediaClock` directly and get the timeline position when I need it. I've found that the process from `doSomeWork` until the moment we check `earlyUs` value takes between 10 to 20 ms. Moreo

[2020-11-12 14:30] kim-vde commented on #8210
I couldn't reproduce neither on a Pixel 3, nor on a Samsung Galaxy Note 10+ (I tried [the first link](https://kripalunidhi.akamaized.net/jkp/audios/knaudio/33008_03_hare_ram_sankeertan___bageeshwari_devi/playlist.m3u8)). Can you reproduce with the [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main)?

Could you please provide a bug report captured when the problem occurs (usi

[2020-11-12 14:34] kim-vde commented on #8199
Yes. The valid ads link I mentioned above has a post-roll ad.

[2020-11-12 14:42] kim-vde commented on #8201
This issue looks like a general question about IMA. We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow or to the IMA team.

[2020-11-12 14:45] christosts commented on #6348
The various improvements mentioned in this thread are actually offloading some of the work done inside renderers in other threads so that the actual time that each Renderer.render() takes is minimal. Unfortunately, we are seeing some errors raised from the device when multiple threads are interacting with MediaCodec instances, especially on older Android versions. Therefore, accessing media compon

[2020-11-12 17:28] roubertedgar opened #8212 "MediaItemConverter does not convert MediaQueueItem to MediaItem"
Hi, I am working with CastPlayer and I have some questions about the recovery of the current session.
The scenario is:
- I start the cast and the content is played on TV
- Then I finish my application, killing the whole process.
- After that, the content still playing on TV, and then, i start my app again
- The CastPlayer is able to recover the session, with MeduaQueueItem on the RemoteMediaClient

[2020-11-12 17:56] Kamil-H commented on #8188
Thank you for the suggestion, but I still have a feeling before I was able to get custom property from `Bundle` in `onMetadataChanged` callback without using tag/custom `MediaMetaDataProvider`.

In my implementation I was influenced by the UAMP app and I remember that they were using the same approach as me and they do not implement custom `MediaMetaDataProvider` as well. I decided to check it, so

[2020-11-12 19:45] adrianrdzv opened #8213 "IMA Extension support for client-side DAI"
### Use case description
The IMA SDK now provides support for using dynamic ad insertion on the client
https://developers.google.com/interactive-media-ads/docs/sdks/android/dai
However, this requires to manipulate the AdsLoader. Currently the IMA Extension wraps the AdsLoader inside a ImaAdsLoader and would not be possible to request a Stream from it.

### Alternatives considered
Currently the onl

[2020-11-12 21:45] jofth commented on #5313
@palvaibhav89 nope, our solution was to stop using hls for audio only streams and use streaming mp3 instead.

[2020-11-12 22:19] tcudev commented on #8208
It happens on all links, tried a sample link: https://storage.googleapis.com/gvabox/media/samples/stock.mp4

The audio is from the video itself and not from an ad. If I dont finish the activity (for debugging) the player goes black (video gets cleared), timer does not get reset, it simply stops, but audio is still playing. I need to close the whole app to get rid of the audio.

I also tried it wit

[2020-11-12 22:55] marcbaechinger commented on #8188
When looking at UAMP it seems they are using a Kotlin extension that makes `MediaMetadataCompat` doing fancy things like mapping properties and all sorts of magic things like creating a media source.

However, assumed they are using the `DefaultMediaMetadataProvider` like you say, then the instance of the `MediaMetadataCompat` object that you receive in `mediaController.onMetadataChange(metadataCo

[2020-11-13 00:38] idish commented on #8182
Alright, so I managed to isolate the core cause of this crash.
Seems as the following line in the build.gradle file causes a crash in Android 5.X and 6.X devices: `apply plugin: 'de.jjohannes.missing-metadata-guava'`

I added it as it was supposed to fix some build error while having version `12.2.0` of ExoPlayer.
Following this comment (implementing suggestion #2): https://github.com/google/ExoPl

[2020-11-13 00:38] #8182 closed, assigned to kim-vde

[2020-11-13 01:57] arlimm318 commented on #8091
why the UdpDataSource   copyarray when readData.
the code  in  UdpDataSource   function { public int read(byte[] buffer, int offset, int readLength) }  line 143

  @Override
  public int read(byte[] buffer, int offset, int readLength) throws UdpDataSourceException {
  .........
...........
  ........
    System.arraycopy(packet.getData(), packetOffset, buffer, offset, bytesToRead);
    packetRemai

[2020-11-13 02:10] DaveBoy commented on #8201
ok,i have copy this question to Stack Overflow

[2020-11-13 06:54] giangpham2811 opened #8216 "Replacement for buildAudioProcessor()"
Details
-----------------------
In DefaultRenderersFactory in version 2.11.8 there was a function that is buildAudioProcessor(), I call it by :
 @Override
        protected AudioProcessor buildAudioProcessor() {
        return new AudioProcessor[]{recording, speedChange};
    }
and return an AudioProcessor but when I upgrade exoplayer 2.12.1 , This function was no longer exists. Is there any metho

[2020-11-13 07:49] ab503044120 opened #8217 "exoplayer模式 播放hls 进度条不对"
播放hls 直播流 exo内核 getDuration() 不为0
ijk内核getDuration()为0
导致直播播放的时候进度条有进度
这个可以修复吗
附上链接地址
http://cctvalih5ca.v.myalicdn.com/live/cctv1_2/index.m3u8

[2020-11-13 11:59] LSDsl opened #8218 "HLS Live start play from end on window"
I have live hls stream with 2 min window. Exoplayer start play from end of it. How to tell exo to play from start? (from first chunk in playlist)

[2020-11-13 12:09] tcudev commented on #8208
Okey I solved my own problem, i was instancing 2 SimpleExoPlayer instances and didnt notice, this can be closed!

[2020-11-13 13:16] ojw28 commented on #8201
If you're still looking for an answer, I think you'll probably have most luck asking in the [IMA SDK Google Group](https://groups.google.com/g/ima-sdk).

[2020-11-13 13:16] #8201 closed, assigned to kim-vde

[2020-11-13 13:25] ojw28 commented on #8091
@lcf87 - Does the question above overlap with the work you're doing at all? I wonder whether it works to do `packet.setData(buffer)`, so that the data is read directly into the `buffer` and the `System.arraycopy` can be avoided.

@arlimm318 - Whilst we will look at the above, it seems very unlikely that this is the problem. We haven't seen performance problems due to memory copies elsewhere.

[2020-11-13 13:48] kim-vde commented on #8208
Good to know you managed to solve your issue!

[2020-11-13 13:48] #8208 closed, assigned to kim-vde

[2020-11-13 14:05] kim-vde commented on #8216
You can probably use [`DefaultRenderersFactory#buildAudioSink`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultRenderersFactory.html#buildAudioSink-android.content.Context-boolean-boolean-boolean-) together with a [`DefaultAudioSink`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/DefaultAudioSink.html#DefaultAudioSink-com.google.android.exoplayer

[2020-11-13 14:11] kim-vde commented on #8217
Google Translate translation:

Play hls live stream exo kernel getDuration() is not 0
ijk kernel getDuration() is 0
Cause the progress bar to have progress when the live broadcast is playing
Can this be fixed
Attach the link address

[2020-11-13 14:30] matamegger opened #8219 "Unexpected fallback behaviour in DefaultHlsExtractorFactory"
### Issue description
Since v2.12.0 the `DefaultHlsExtractorFactory` seems to always fall back to a `TsExtractor` if the fed in stream is not compatible with any other extractor. However, this fallback behaviour ignores the `inferred type` of the stream.

The problem here is that even if the inferred type would fit the `fmp4Extractor` it will fall back to the `TsExtractor` when the branches in the

[2020-11-13 14:34] matamegger commented on #8219
I did file this as an issue, though as an external it could be also a question on if this fallback behaviour was intended in the first place.

[2020-11-13 14:52] kim-vde commented on #8217
No sure I understand the question. You don't want any progress displayed in the progress bar, is that right?

In this case, I would remove or hide the progress bar. You can also implement a custom TimeBar.

You should check these pages:
- [UI components guide](https://exoplayer.dev/ui-components.html)
- [StyledPlayerControlView JavaDoc](https://exoplayer.dev/doc/reference/com/google/android/exopla

[2020-11-13 15:02] alexeyr15 opened #8220 "Negative timestamps in TS file causes playback to stay in buffering state forever"
### [REQUIRED] Issue description
Video playback doesn't start for .ts file. It works in other players.

### [REQUIRED] Reproduction steps
1. Open the provided test stream in ExoPlayer Demo app
2. Video playback doesn't start

### [REQUIRED] Link to test content
Provided by email

### [REQUIRED] A full bug report captured from the device
N/A

### [REQUIRED] Version of ExoPlayer being used
2.12.1

#

[2020-11-13 15:05] wagner-tara opened #8221 "TTML: Support tts:fontSize in Cell Size format"
### [REQUIRED] Use case description
ExoPlayer should support the specification of fontSize in cell dimension format. This format is specified in the corresponding W3C standard: https://www.w3.org/TR/2018/REC-ttml1-20181108/#style-attribute-fontSize

This format is used in the market. Currently it is not possible to decode these subtitles with ExoPlayer. The following log is output when a subtitle

[2020-11-13 15:13] christosts commented on #8144
Hi, I pushed commit [dc86b62](https://github.com/google/ExoPlayer/commit/dc86b625c50725a3a8bf1b4310b2bc8986d56922) to pass the `drm_key_request_properties ` to the `WidevineOfflineLicenseFetchTask ` on the dev-v2 branch. Please note, as per my comment above, you DASH content should contain  the pssh box inside the DASH manifest in order to download content.

I am closing this issue, feel free to r

[2020-11-13 15:13] #8144 closed, assigned to christosts

[2020-11-13 17:17] icbaker commented on #8221
Thanks for the feature request.

I just scanned through the spec and, given ExoPlayer generally uses proportional fonts (and so doesn't really have a concept of 'columns' as used in the [Computed Cell Size definition](https://www.w3.org/TR/2018/REC-ttml1-20181108/#terms)), I'm wondering if we can treat the `c` suffix basically identical to `em` (since both are proportions of some 'normal' font siz

[2020-11-13 17:25] nigelmegitt commented on #8221
@icbaker using `em` instead of `c` would very likely give strange results unless you set `em` based on the height of the cell unit somewhere (but if you do, it would be fine for this, but wrong for other reasons). Somehow the code already resolves % units, and they _should_ be based on the height of the cell already, somewhere up the inheritance tree.

`tt` element sets number of rows as second co

[2020-11-13 23:53] HESA-GrahamClift opened #8222 "Support for Audio AC-4 samples with variable frame sizes"
### [REQUIRED] Use case description
In the case where audio and video is delivered over MPEG DASH, it can be beneficial for the audio and video segments to have equal duration (improves channel change time for instance). If the audio is not PCM, for instance AC-4, and when the frame rate of the audio is not an integer multiple of the frame rate of the video (eg 48000Hz, 59.94fps), then the AC-4 sa

[2020-11-14 05:55] ridanasif commented on #8189
Will look into it. I am using styledplayerview as layout file for items in the adapter. Is that a bad thing?

[2020-11-14 12:45] marcbaechinger commented on #8189
No that's fine.

[2020-11-14 18:20] marcbaechinger commented on #8076
Closing due to inactivity.

[2020-11-14 18:20] #8076 closed, assigned to marcbaechinger

[2020-11-14 18:20] marcbaechinger commented on #8080
Closing due to inactivity.

[2020-11-14 18:20] #8080 closed, assigned to marcbaechinger

[2020-11-14 18:21] marcbaechinger commented on #8077
Closing due to inactivity.

[2020-11-14 18:21] #8077 closed, assigned to marcbaechinger

[2020-11-14 18:22] marcbaechinger commented on #8064
Closing due to inactivity.

[2020-11-14 18:22] #8064 closed, assigned to marcbaechinger

[2020-11-14 18:22] marcbaechinger commented on #8060
Closing due to inactivity.

[2020-11-14 18:22] #8060 closed, assigned to marcbaechinger

[2020-11-14 18:23] marcbaechinger commented on #8062
Closing due to inactivity.

[2020-11-14 18:23] #8062 closed, assigned to marcbaechinger

[2020-11-14 20:01] heinaungzan opened #8223 "How play downloadable link to exoplayer from mega.nz server and degoo etc."
I want to play from my video from cloud server.But i have no idea how play(I can play video from gdrive and dropbox).
https://cloud.degoo.com/share/vzN4NqaAgv4vNZ  (degoo server download link)
https://mega.nz/file/ZgMhXYKS#WeeFfTd8DEjlD0QjR0XtvPEfEb2kwBQz8wtK7NBQeA0.   (mega.nz server download link)
Please help me.

[2020-11-15 01:22] assaadroid opened #8224 "AnalyticsListener crashes"
### [REQUIRED] Issue description
java.lang.AbstractMethodError

### [REQUIRED] Reproduction steps

this issue happens only if I create a build with minifyEnabled false, otherwise if I set to true it works normally.

android gradle plugin Version : 4.1.1
gradle version: 6.5

### [REQUIRED] A full bug report captured from the device
Caused by: java.lang.AbstractMethodError: abstract method "void com

[2020-11-15 05:10] skreenr commented on #8163
Any followup here? Thanks,

[2020-11-15 14:48] ojw28 commented on #8163
As per the comment from @andrewlewis above, calling `setVideoScalingMode` should work fine. If it does not appear to do anything, it's possible that either:

1. You are encountering a device specific issue. There are some known device specific issues affecting this method, for example https://github.com/google/ExoPlayer/issues/2484.
1. Your `Surface` is being sized in such a way that makes the sca

[2020-11-15 15:30] ojw28 commented on #8090
We'll fix this. Thanks for reporting!

I don't think it's really worth spending time on trying to handle this case. It's really an issue with the server, and it's not something we've seen reported before. Any client side solution would also need to pick an arbitrary threshold of some kind at which to "give up".

[2020-11-15 15:31] ojw28 commented on #8090
Marking as a bug to resolve the `CronetDataSource` issue only.

[2020-11-15 15:57] ojw28 commented on #5105
There is a section on ad insertion now, [here](https://exoplayer.dev/ad-insertion.html).

[2020-11-15 15:57] #5105 closed, assigned to andrewlewis

[2020-11-15 16:00] #6432 closed, assigned to andrewlewis

[2020-11-15 16:21] #8216 closed, assigned to kim-vde

[2020-11-15 17:07] ojw28 commented on #8223
These are links to web pages from which you can start to download files. These are not directly playable by media players such as ExoPlayer. You need to provide ExoPlayer with a direct link to the media content itself.

How to get direct links to the media content from the download services you mention is a question for the providers of those services. Note that they may well deliberately design t

[2020-11-15 17:07] #8223 closed, assigned to ojw28

[2020-11-15 17:15] ojw28 commented on #8143
Closing this as we have no plans to support this functionality, and because no concrete reproduction steps have been provided to demonstrate glitches when using additional views. It sounds somewhat unclear whether you're even sure there's an issue.

[2020-11-15 17:15] #8143 closed, assigned to lcf87

[2020-11-15 17:57] AndroidDeveloperLB commented on #8143
@ojw28 Why close exactly? I told you what you wanted to know...
Why no plans?
Animated GIF/WEBP is very similar to playing videos that don't have sound...

[2020-11-15 21:56] ojw28 commented on #8127
The `urn:mpeg:dash:profile:isoff-live:2011` profile requires that the rules for `segmentAlignment="true"` are fulfilled, and `segmentAlignment="true"` is defined in terms of segment number in the DASH spec:

So, as above, I think the media is violating the profile that it claims to adhere to, and I don't think the segment templates using `$Time` rather than `$Number` makes any difference to this s

[2020-11-15 21:56] #8127 closed, assigned to ojw28

[2020-11-16 01:41] arlimm318 opened #8225 "PTS"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-11-16 01:48] arlimm318 opened #8226 "How can I get the pts int TS or MP4"
I want to get the PTS of the currently rendered video frame.
Hoe  can I get  it?

[2020-11-16 01:49] #8225 closed, assigned to nobody

[2020-11-16 05:10] sandarshnaroju opened #8227 "java.lang.AbstractMethodError: abstract method void com.google.android.exoplayer2.drm.DrmSessionManager.prepare()"
### [REQUIRED] Searched documentation and issues
I have searched regarding this error in all issues of this repo, but nothing worked.
### [REQUIRED] Question
Currently, I am trying to write a bridge for exoplayer for react-native. I am seeing this error.

### A full bug report captured from the device
[code]
### Link to test content
My project configurations:

[code]

[code]

[2020-11-16 06:30] skreenr commented on #8163
On #1: this is on a recent Samsung phone, so if it's device-specific perhaps this should be treated like bug

Question on the code snippet above: Is there a requirement to use Renderer for a ScalingMode to work, and if so that could what's breaking it?

[2020-11-16 08:07] #8073 closed, assigned to kim-vde

[2020-11-16 08:10] ojw28 commented on #8163
The player uses renderers internally. As above, if you would like further assistance, please provide a complete and minimal example project that reproduces the issue, perhaps using our demo app as a starting point and editing it just enough to reproduce the issue.

[2020-11-16 08:32] kim-vde commented on #8219
Can you please send a test content for which the error occurs? If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using subject "Issue #8219".

[2020-11-16 08:52] matamegger commented on #8219
I already send the test content when I opened the issue. Let me know if something is missing.

[2020-11-16 09:29] icbaker commented on #8227
Errors like this are generally related to Java 8 support (the method it's complaining about is marked `default` on the `DrmSessionManager` interface, which is a language feature added in Java 8).

There's a [comment](https://github.com/google/ExoPlayer/issues/6801#issuecomment-574089568) here suggesting to try `android.enableDexingArtifactTransform=false` - did you try that?

If you'd like us to i

[2020-11-16 09:36] rrfrias commented on #8039
@baconz let us know if you are able to capture a bugreport with the exception.

[2020-11-16 09:46] icbaker commented on #8224
Errors like this are generally related to Java 8 support (the method it's complaining about is marked `default` on the `AnalyticsListener` interface, which is a language feature added in Java 8).

[Previous issues](https://github.com/google/ExoPlayer/issues?q=abstractmethoderror+) have various suggestions to tweak your gradle config:

https://github.com/google/ExoPlayer/issues/7349#issuecomment-62

[2020-11-16 09:47] dy1023348109 opened #8228 "find a error about com.google.android.exoplayer2.util.Util.getDataUriForString"
Use in ImaAdLoader :
      adTagDataSpec = new DataSpec(Util.getDataUriForString(adsResponse, "text/xml"));
but the method params are define like this:
      public static Uri getDataUriForString(String mimeType, String data);

so if you use vast response, You will never succeed 。。。。。

[2020-11-16 09:54] icbaker commented on #8228
This is fixed by https://github.com/google/ExoPlayer/commit/4289112947dfac41c1ea45f14c01153bf3fe2eab which will be released in 2.12.2.

[2020-11-16 09:54] #8228 closed, assigned to icbaker

[2020-11-16 10:00] rrfrias commented on #8075
@ojw28 can you review zilinx suggestions in case there are any recommendations for how to handle this?

[2020-11-16 10:10] skogl commented on #8203
I can see this issue as well after upgrading from 2.11.5 to 2.12.1. The issue is only noticed when actually using a ffmpeg audio track and then switching text track. If I were to play a stream which is supported by my device (and ffmpeg is not needed) I do not see this issue.

[2020-11-16 10:24] sandarshnaroju commented on #8227
Just tried adding `android.enableDexingArtifactTransform=false ` in `gradle.properties`. It generated below error.

[code]

[2020-11-16 10:31] krocard commented on #8222
Not all formats support variable frame size, so this detection should only be enable for those that do.

Another issue, is that the current code to parse AC-4 frame sample count (and the other format) [allocates multiple times](https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/library/common/src/main/java/com/google/android/exoplayer2/audio/Ac4Util.java#L214-L220).

[2020-11-16 10:35] icbaker commented on #8226
You can register a `VideoFrameMetadataListener` with `SimpleExoPlayer#setVideoFrameMetadataListener()` - this will give you a `onVideoFrameAboutToBeRendered` callback for each frame.

[2020-11-16 11:12] kim-vde commented on #8148
ExoPlayer doesn't support encrypted subtitles. The sinf box in the text track is not parsed and, as a result, the sample description encryption box is null, and an NPE is thrown when parsing the saiz box.

Regarding the sample you provided, the fact that the text track is encrypted or not seems inconsistent: the DASH manifest indicates that it isn't, while the MP4 file indicates that it is. Are th

[2020-11-16 11:18] sandarshnaroju commented on #8227
I have created sample project that is producing the first error: [here](https://github.com/sandarshnaroju/videoplayer). Kindly look into it. Since my project is a react native one. Kindly locate the android folder and run it in android studio. I have added code exactly what I have tried without changing anything (Except credentials, tokens).

[2020-11-16 13:02] junchenChow commented on #8184
#234018 SIGSEGV(SEGV_MAPERR)
com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.getOutputBuffer

#ExoPlayerImplInternal:Handler(2324)

**Equipment model：OPPO A59S**

**System ：Android 5.1,level 22**

**ROM：Oppo/COLOROS**

**CPU：arm64-v8a**

I met too ，use 2.11.3 version

[2020-11-16 14:05] mhelder opened #8229 "Support onSetPlaybackSpeed(speed, pitch) in MediaSessionConnector.ComponentListener"
### Use case description
Android API 29 `MediaController` added [`setPlaybackSpeed(float)`](https://developer.android.com/reference/android/media/session/MediaController.TransportControls#setPlaybackSpeed(float)), which was backported in `MediaControllerCompat` with [`androidx.media:media:1.2.0-alpha01`](https://developer.android.com/jetpack/androidx/releases/media#1.2.0-alpha01). 1.2.0 become sta

[2020-11-16 14:58] christosts commented on #8194
According to the HLS spec, the CODECS attribute needs to contain the codecs for all formats in the rendition. Please see [RFC 8216](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-07), [section 4.4.6.1.1](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-07#page-38) and [section 6.2.4](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-07#section-6.2.4).

My suggestion is to fix

[2020-11-16 14:58] #8194 closed, assigned to christosts

[2020-11-16 15:37] icbaker commented on #8227
Thanks for the project link. At 14.5k lines, I'm not sure it's a **minimal** example.

It doesn't build for me when I follow your instructions:
[code]

That `node_modules` directory doesn't seem to be present on GitHub.

[2020-11-16 15:43] sandarshnaroju commented on #8227
Hmm, Let me upload a pure android studio project instead of react-native one. Thanks for taking time.

[2020-11-16 16:20] Ste-RH opened #8230 "Custom audio processor getting incorrect channel count with (baked audio?) adaptive HLS that has mono and stereo audio"
### [REQUIRED] Issue description
I have created a few audio processors (a pan, and one that allows me to pipe samples out to an external entity).  On playing an HLS stream that has a mixture of mono and stereo audio think the 'onConfigure' method is not being called when the adaptive track selection changes the audio stream.  I am seeing 'inputAudioFormat.channelCount' reporting that there are 2 c

[2020-11-16 16:32] icbaker commented on #8230
@christosts PTAL from an HLS perspective - I suspect (but might be wrong) this is related to the way the ExoPlayer HLS module creates tracks.

Please reassign if it turns out to be more tied to the audio-specific parts of ExoPlayer.

[2020-11-16 17:01] sandarshnaroju commented on #8227
Sorry for late. Here is simple Android Project that is generating the error [Android Project](https://github.com/sandarshnaroju/VideoPlayer). Thanks for taking time.

[2020-11-16 17:27] ab503044120 commented on #8217
@kim-vde
thank you for you answer
I means that   I play this [link](http://cctvalih5ca.v.myalicdn.com/live/cctv1_2/index.m3u8) with ijkplayer  then the value  get by `getDuration()`  is 0, but exoplayer is not 0
 the m3u8 stream can be live or on-demand，how can i know that

[2020-11-16 17:39] marcbaechinger commented on #8229
Thanks for reporting. I will look into that.

I'm a bit surprised that there is no constant [ACTION_SET_PLAYBACK_SPEED](https://developer.android.com/reference/android/support/v4/media/session/PlaybackStateCompat#ACTION_FAST_FORWARD) speed, because player may not support that. In the case of ExoPlayer, we do support it (unless tunneling is enabled). So I'd have expected that we can signal that, so

[2020-11-16 17:50] christosts commented on #8195
If I understand the situation correctly, then this is working as intended. [seekTo(C.TIME_UNSERT)](https://github.com/google/ExoPlayer/blob/r2.12.1/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L1110-L1111) seeks to the window's default position.

For HLS live streams, the default position is at most 3 segments before the end of the stream, and can be more than that, as long

[2020-11-16 17:50] #8195 closed, assigned to christosts

[2020-11-16 18:04] harini113 opened #8231 "Ability to overwrite the value returned by getDecoderInfos"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/MediaCodecAudioRenderer.html#getDecoderInfos-com.google.android.exoplayer2.mediacodec.MediaCodecSelector-com.google.android.exoplayer2.Format-boolean-

### [REQUIRED] Question
My application has a mediacodec xml which lists 3 different decoders. But when I try to use the api
med

[2020-11-16 18:30] icbaker commented on #8231
You can provide a custom `MediaCodecSelector` by calling `DefaultRenderersFactory.setMediaCodecSelector()` (this might be enough to answer your question).

If you don't do this, the default behaviour is to use `MediaCodecSelector.DEFAULT`, which is implemented by calling `MediaCodecUtil.getDecoderInfos`, which in turn is implemented by calling through  to Android's [MediaCodecList](https://develop

[2020-11-17 01:40] robin2046 opened #8232 "SimpleDecoder constructor is incompatible with Kotlin (nullness)"
I am using Exoplayer in my Kotlin app. When I try to make my own decoder which extends the SimpleDecoder class (coming from the ExoPlayer core library), I got build error.

The dependencies of ExoPlayer I am using:

    implementation "com.google.android.exoplayer:exoplayer-core:2.12.1"
    implementation "com.google.android.exoplayer:exoplayer-common:2.12.1"

The constructor of SimpleDecoder is a

[2020-11-17 01:43] HESA-GrahamClift commented on #8222
Would an averaging of the first say 20 samples be sufficient at least to overcome the drift issue without big performance concerns understanding that most encoders (live broadcast ATSC3 for instance) I have seen tend to track the target average to meet the video frame rate rather than adjust all at once or randomly. So for video frame rate of 59.94fps and a dash segment size of, say 2 secs, a fps

[2020-11-17 02:04] #8045 closed, assigned to tonihei

[2020-11-17 02:44] TaruiTakashi commented on #8175
@rrfrias
I have sent the bugreport to dev.exoplayer@gmail.com.
Please check it out.

[2020-11-17 04:11] chunanli opened #8233 "java.io.EOFException at about 1-2 seconds from of end of m4a audio track"
### [REQUIRED] Issue description
Player gets stuck at about 1-2 seconds from end of track for 1-2 minutes and throws `java.io.EOFException` eventually when streaming from web on our own application. Able to reproduce with demo player playing from local file, though in this scenario I'm seeing this error `java.io.EOFException` being thrown every 2 seconds or so from the middle of song, player will

[2020-11-17 04:22] baconz commented on #8039
@rrfrias our support team has confirmed that they have found a few cases in the wild. They are reaching to users today to get bug reports.

[2020-11-17 04:29] siduytruong-us opened #8234 "[OMX.google.mp3.decoder] ERROR(0x80001001) throws when trying to dequeueOutputBuffer"
### [REQUIRED] Issue description
Hi Exo-dev, I'm creating an app that gets all the buffer from readAllocationNode (while node is empty or reach the limit 4 nodes can be read)  in SampleQueue.java. After that, I stored all buffer I got in my cache and pass into the OMX.google.mp3.decoder (configure sample-rate: 44100, 2 channels, max-input-size: size of buffer that I stored ~ 196608 bytes). The iss

[2020-11-17 05:50] arlimm318 commented on #8226
yes，But the presentationTimeUs in VideoFrameMetadataListener  isn't the PTS in PES packet.
I want raw PTS in video from the video.

[2020-11-17 05:53] arlimm318 commented on #8226
I want to know whether the playback progress of the two different streams is consistent by comparing PTS, and the video source of the two streams is consistent.

[2020-11-17 08:16] hejianboo commented on #8128
I fixed this problem from this https://github.com/google/guava/issues/3227.
Add this line in proguard config file
`-keepnames class com.google.common.** { *; }`

[2020-11-17 08:43] athulantonynp opened #8235 "Dash streaming, Manifest url is called multiple times. Is this indended?"
I am not sure whether this is the intended behaviour of exoplayer or not. So basically, we have a manifest file which is hosted on our server. The manifest file contains the location of video file to stream and other streaming configuration such as audio tracks meta and video resolution metas etc., As far as my understanding, while the streaming initialization, exoplayer requests for the manifest

[2020-11-17 09:57] kim-vde commented on #8219
Ah yes, sorry.

If no extractor recognizes the media file, a better fix is to change the extractors or the media file directly in order to solve this problem instead of hoping that the extractor corresponding to the file extension will work (particularly for MP4 files for which there are 2 possible extractors: Mp4Extractor and FragmentedMp4Extractor). This is what sniffing is for.

In the case of

[2020-11-17 09:58] icbaker commented on #8233
I can reproduce the `EOFException` with the provided instructions. It produces the below stack trace several times before eventually failing playback. It's first thrown at ` mediaPos=141.38`, i.e. 2m21.38s in to the 3m19s sample.

@kim-vde can you take a look?

[code]

[2020-11-17 10:02] icbaker commented on #8234
From the description it sounds like you've made some quite low-level changes in ExoPlayer, in particular changing how it interacts with MediaCodec, and now you're seeing exceptions from MediaCodec.

I suspect these exceptions are the result of the changes you've made.

Customising ExoPlayer in this way (by directly editing the source of low-level components) is outside the scope of this issue trac

[2020-11-17 10:13] sandarshnaroju commented on #8227
@icbaker any update on this?

[2020-11-17 10:22] icbaker commented on #8232
[I'm not a Kotlin expert, you may get better help asking this question in a more Kotlin-focussed context like Stack Overflow]

This error looks like it's related to Kotlin's handling of covariance and contravariance:
https://kotlinlang.org/docs/tutorials/kotlin-for-py/generics.html#declaration-site-covariance-and-contravariance
[code]

I don't have an easily available setup to test Kotlin, so I do

[2020-11-17 10:32] skreenr commented on #8163
I emailed the Zip of the project
Let me know if not received
Let me know if you need video with different dimensions for test

[2020-11-17 10:37] siduytruong-us commented on #8234
But can I ask you @icbaker this? If I pass a big input buffer size (~196608 bytes) into the codec and execute the job every 5 seconds, maybe the codec will throw error like description above because I'm passing a big data size into mediacodec or loop job in a short time?

[2020-11-17 10:45] ojw28 commented on #8163
Clipping is working fine for me when I test this on a Pixel 4 XL. What device do you see the issue on?

[2020-11-17 10:45] matamegger commented on #8219
Thanks for your investigation. I am aware of this particular situation and I totally agree that the stream should refer the correct supported branches and that sniffing the streams in the first place is a better way, than just using the inferred type.
I have to admit, I did forgot about the non-fragmented mp4 extractor in that manner.

I don't think that always using the `TsExtractor` as "fallback

[2020-11-17 11:07] skreenr commented on #8163
Galaxy A10e
model # SM-S102DL

[2020-11-17 11:12] skreenr commented on #8163
you don't see the green stripes?

your screen resolution 1440x3040 pixels ?
I may need to adjust video for the specs

[2020-11-17 11:21] kim-vde commented on #8219
The choice for TsExtractor is actually not random. It allows us to handle a specific case where we know sniffing will fail. This occurs when the TS initialization data is provided through an EXT-X-MAP tag. This initialization data consists of a PAT table followed by a PMT table. The TsExtractor will fail sniffing because it searches for 5 packets and will only find 2 in this case.

Fixing the snif

[2020-11-17 11:28] AquilesCanta commented on #8219
My two cents. Falling back to TsExtractor has historic reasons (for example, #4033), and even though I agree falling back according to the extension is a reasonable improvement, there may be people relying on that mechanism now.

I would suggest considering the use of a custom extractor factory (which potentially wraps or forks the default one) so that you can use the fallback strategy you prefer

[2020-11-17 11:34] liridonsadiku opened #8236 "ExoPlayer as part of item in RecyclerView is hiding controls like play, pause etc."
Hi there,

I have a strange issue with ExoPlayer which I have implemented as part of recyclerView to play audio file. When I click on item it should expand and show exo player, but if the list is large so the user can scroll, the controls are not showing properly, if the list is short for example it has only two items exo player is showing controls well.

Any suggestions?

[2020-11-17 11:37] icbaker commented on #8236
Without being able to reproduce this issue it's going to be very hard for us to offer help.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "

[2020-11-17 11:42] kim-vde commented on #8219
Regarding the content you provided: according to annex E of ISO/IEC 14496-12:2015, the brands in the input file serve as a permission to the reader to read the file. If a reader supports iso2-6 only, a file with brand iso9 only indicates that the reader shouldn't attempt to play the file. So I am not sure it is an improvement to fall back to the FragmentedMp4Extractor in this specific case.

[2020-11-17 11:48] matamegger commented on #8219
I see. Thanks for the insights.

Sound very reasonable.

Well, "improvement".. taking just some other extractor seems more "wrong" than using at least the type specific one.
But I see all the points. Also given the history background and that real improvements would require a lot more structural changes.

Thanks for your feedback and time! From my side this can be closed :)

[2020-11-17 11:52] icbaker commented on #8235
I added log lines to `DefaultHttpDataSource.open()` and `DefaultHttpDataSource.close()` and played the entire sample you linked. I saw a single open() call to fetch the manifest followed almost immediately by a matching close() call:

[code]

Can you provide some more concrete info here? Do you see it being fetched every 10ms, every 1 minute, something else?

[2020-11-17 11:52] icbaker commented on #8235
Aside:

[2020-11-17 11:53] ojw28 commented on #8163
No

Yes

I don't understand what this means. The fact I don't see green stripes means that clipping is working, because if there were no clipping then all of the video would always be displayed, green stripes included.

[2020-11-17 11:53] icbaker commented on #8235
Aside:

It's not supported to use different versions of the core library and the extensions, you may well find they're incompatible, I'd strongly suggest you use either everything at 2.11.4 or 2.11.7.

[2020-11-17 11:55] athulantonynp commented on #8235
Thanks for the suggestions @icbaker I will get back to you with more info with updated dependencies.

[2020-11-17 12:01] AquilesCanta commented on #8226
Is this in the context of HLS or is it just a TS/MP4 file you are playing?

[2020-11-17 13:20] athulantonynp commented on #8235
Thank you @icbaker The issue got cleared. Some improper logic with code made the bug. Thanks for the insights.

[2020-11-17 13:20] #8235 closed, assigned to icbaker

[2020-11-17 13:29] ruthwikkk opened #8237 "Play ClearKey DRM encrypted video from local storage"
### [REQUIRED] Searched documentation and issues
### [REQUIRED] Question
I have implemented video playback using ClearKey DRM in my app. The keys required are available offline so I'm using `LocalMediaDrmCallback` for creating DRM callback and the online playback working fine.
For download and offline playback, I am aware of ExoPlayer's caching mechanism but I'm using a third party download manage

[2020-11-17 13:38] nateshjammy opened #8238 "how to play control play next previous shewing in google map"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------

during media player is playing and this time google map  navigation view  defaul

[2020-11-17 13:53] #8219 closed, assigned to kim-vde

[2020-11-17 14:02] icbaker commented on #8238
I believe this Google Maps feature only supports YouTube Music, Spotify and Apple Music - I don't think it's possible to integrate an arbitrary media app.

https://www.xda-developers.com/google-maps-now-supports-youtube-music-playback-controls/

Closing this as it's not related to ExoPlayer.

[2020-11-17 14:02] #8238 closed, assigned to icbaker

[2020-11-17 14:06] icbaker commented on #8237
There isn't enough information here to help you.

It would be useful to see a full stack trace to understand where this is coming from. We also need to know what version of ExoPlayer you're using.

Yes it's possible.

The fastest way for us to help is if you can provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a

[2020-11-17 14:39] timusus commented on #8216
For example:

[code]

[2020-11-17 14:40] arlimm318 commented on #8226
udp stream  or  http stream

[2020-11-17 14:41] kim-vde commented on #8220
The problem comes from the fact that the first audio timestamps are negative.

The content starts with video samples and the adjuster time offset is set to the DTS of the first sample. Audio samples are then read, but their timestamp is less than the video DTS and therefore less than the offset, leading to negative timestamps.

The corresponding code is given [here](https://github.com/google/ExoPl

[2020-11-17 14:55] ruthwikkk commented on #8237
Thanks for your reply @icbaker
I have created a sample repo for the issue : https://github.com/ruthwikkk/DRMOffline. Please check

[2020-11-17 14:56] alexeyr15 commented on #8220
Thanks for investigation. Is there some way to work around this? After changing position via a seekbar, the video is playing normally.

[2020-11-17 15:09] robin2046 commented on #8232
Thanks for the reply.
I tried to do as you suggested:

    class TestDecoder() :
        SimpleDecoder<DecoderInputBuffer,
            SimpleOutputBuffer,
            MediaCodecRenderer.DecoderException>(
        arrayOfNulls<out DecoderInputBuffer>(16),
        arrayOfNulls<out SimpleOutputBuffer>(16)
    )

Still get the same error.

I also tried to ask the same question in [StackOverflow](https

[2020-11-17 15:26] sajjadshahbazi opened #8239 "The countdown of the ima extension is frozen after loading"
I'm using ImaAdsLoader for show advertisement.
when watching an ad if the show loading view(Buffering Event), the countdown is stopped.

[2020-11-17 16:05] fridapinto-debug opened #8240 "offline drm widevine for hls stream-How to extract drminitdata?"
for dash video offline license key can be done like this:
[code]

But I want to know how to extract the drminitData for hls stream with widevine protection?

[2020-11-17 16:12] ojw28 commented on #8232
I don't know if this is correct, but it does at least compile:
[code]

[2020-11-17 16:44] sshahbazi commented on #8239
[ad_test.zip](https://github.com/google/ExoPlayer/files/5554818/ad_test.zip)

[2020-11-17 17:26] zgzong opened #8241 "Retry DRM license refreshes"
### [REQUIRED] Searched documentation and issues
Widevine have a feature, during a playback, it can initially reponse a short period license, and client need to renew the license periodically during the playback.

### [REQUIRED] Issue description
When widevine fail to renew license during playback, there is no retry happens.

### [REQUIRED] Reproduction steps
When play a stream with widevine encry

[2020-11-17 17:33] sshahbazi commented on #8239
video attached for show the bug

[2020-11-17 17:43] icbaker commented on #8241
That code you highlighted is deliberate - we expect `MediaDrm` to trigger retries by emitting additional `EVENT_KEY_REQUIRED` events.

This is typically part of the license config, e.g. license duration of 5 minutes with a refresh period of 1 minute, naturally giving 3 retries.

You should be able to get the retry behaviour you need by changing the duration and refresh rate in your license configu

[2020-11-17 18:04] sshahbazi commented on #8239
https://admin.deema.agency/?c=v&m=tag&placementId=1678&videotype=prerole&wPlayer=0&hPlayer=0&ip=151.241.1.99&ua=okhttp&domain=namava.ir&page=/&secure=1&language=fa&res=xml

[2020-11-17 18:47] assaadroid commented on #8224
10x, it was fixed by adding android.enableDexingArtifactTransform=false

[2020-11-17 18:47] #8224 closed, assigned to icbaker

[2020-11-17 19:07] BetweenTwoBits commented on #5105
Thank you for following up @ojw28!

[2020-11-17 19:45] chhatrasal09 opened #8242 "Update ffmpeg extension for AGP 4.1"
### [REQUIRED] Upgrading the ndk for AGP 4.1 for ffmpeg extension
I have updated my Android Studio to lates version v4.1. To run this version of studio the recommended version for AGP is v4.1 which recommends ndk version of 21.1.6352462 and this repo has ndk version of 20.0.5594570
[https://developer.android.com/studio/projects/install-ndk#default-ndk-per-agp](https://developer.android.com/studio/

[2020-11-17 23:31] jt64 commented on #8175
Thank you for providing the bugreport. We can see in the bugreport that this is an error we have been working on with Qualcomm that happens on Pixel devices.

A suggested workaround would be if you see multiple errors from MediaDrm.getKeyRequest, to force a reprovision using getProvisionRequest and provideProvisionResponse, like you would if the device has not been provisioned.

[2020-11-18 02:04] #7836 closed, assigned to mseroczynski

[2020-11-18 02:15] robin2046 commented on #8232
Thanks for the suggestion.
Despite of the warning "Unchecked cast: Array<DecoderInputBuffer?> to Array<out DecoderInputBuffer>", it does compile without error. May be I need to file a issue to Kotlin team? But I don't know if this is really an issue. Because as you see if I declare a bridge class in Java extending from the SimpleDecoder class, this issue will not happen. Is there by any chance tha

[2020-11-18 02:26] ArunkarthickNallasamy opened #8243 "Exoplayer in viewpager2 with offscreen limit buffers in background"
We are using exoplayer inside a viewpager 2 fragment. we have defined off set screen limit to 2. While initialising the player we are setting `playwhenready = false `we have defined max buffer ms as 3. We expected video on position 1 and 2 to have buffered max of 3 sec, However the players in position 1 and 2 while user is at 0th position is buffering more than defined time and sometimes entire vi

[2020-11-18 02:42] TaruiTakashi commented on #8175
@jt64
Thank you for the workaround answer.

What is provision?
Also, I didn't see any errors in the ExoPlayer sample app, but does the sample app do any reprovision or other processing?

[2020-11-18 04:00] skreenr commented on #8163
Here are screenshots as seen on Galaxy A10e with screen resolution exactly half of yours;
Both show green stripes on top and bottom, meaning the app scales video to fit in both X and Y dimensions.
The first one is of Preview in wallpaper picker, the second one is actual wallpaper

To test a theory I resized the video down to half resolution so as to imitate your situation, where it's stretched 2X

[2020-11-18 04:53] nateshjammy commented on #8238
how to set the same as my own   ExoPlayer. via intent
setting ->navigation setting  -> default music app shows my media player app

[2020-11-18 04:57] nateshjammy opened #8244 "how to play control play next previous shewing in google map"
Before filing a feature request:
-----------------------
how to set the same as my own ExoPlayer. via intent
setting ->navigation setting -> default music app shows my media player app

how to play control play next the previous showing in google map

[2020-11-18 08:28] fuadreza commented on #7898
I have the same problem, just like @petitJAM mentioned it because we use material theme that causing style on the button change.

Workaround for me is that I create a custom theme with `Theme.AppCompat.Light.NoActionBar` as a parent. and then apply that custom theme to the activity in `AndroidManifest.xml`. Here what it look like:
In style.xml :

[code]

OR

As the button use the MaterialButton th

[2020-11-18 08:58] palvaibhav89 opened #8245 "Exoplayer not switching bitrate on the basis of Bandwidth for audio only."
Using version : 2.12.1

Issue: Exoplayer is not automatically switching bitrates on the basis of Bandwidth for HLS audio only streaming.

class ExoplayerUtils(private val ctx: Context) : LifecycleObserver {

    companion object {
        private const val BUFFER_FOR_PLAYBACK_MS = 1500
        private const val MAX_BUFFER_MS = 60000
        private const val CHANNEL_ID = "EXOPLAYER_CHANNEL_ID"

[2020-11-18 09:17] icbaker commented on #8244
Duplicate of #8238

[2020-11-18 09:17] #8244 closed, assigned to icbaker

[2020-11-18 09:18] adrientetar opened #8246 "Android 11 IncorrectContextUseViolation in VideoFrameReleaseTimeHelper"
An application context is used to retrieve window manager in VideoFrameReleaseTimeHelper, which Android 11 StrictMode warns about.

Seems there's another way that should be used on recent android versions: https://github.com/microsoft/appcenter-sdk-android/pull/1429/files#diff-aeda387f31bf19cc06b12c402a17da91e0fc84cd47675e1d74164ca2fd164fdfR153-R166

[code]

version 2.11.7

[2020-11-18 09:40] MujammilAhamed commented on #8206
In onPause() I'm pausing the PlayerView and resuming it in the onResume()

I'm not resetting the Player Object because I'm working on a music player

Using Fragment Version - 1.3.0-alpha06
AppCompat Version - 1.2.0

[2020-11-18 09:49] MangoPuddings opened #8247 "SimpleExoPlayer.seekTo无效"
播放ADTS录音文件的时候，每次seekTo（）。都会重头播放

[2020-11-18 09:51] icbaker commented on #8245
Please provide a test stream that demonstrates the problem in the ExoPlayer [demo app](https://exoplayer.dev/demo-application.html).

Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2020-11-18 09:52] marcbaechinger commented on #8206
If you are in an activity you need to release the player when the app goes to background and initialize it again when the app comes to foreground again. Please check how the [PlayerActivity of the demo app](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L154) is doing it.

If you want to keep playing audio like yo

[2020-11-18 09:56] icbaker commented on #8247
Google translate:

[2020-11-18 10:04] krocard commented on #8222
I think it is preferable to avoid relying on assumptions about the media encoding. Especially when refactoring `parseAc4SyncframeAudioSampleCount` to avoid allocations is of similar complexity.

[2020-11-18 10:16] tonihei commented on #8245
This is also likely a duplicate of #3342. Our bandwidth adaptation for audio is slower than for video because internal thresholds to calculate a bandwidth measurement are geared towards video playback.

[2020-11-18 10:19] icbaker commented on #8247
By default ExoPlayer doesn't support seeking in ADTS files. You can enable seeking by assuming that the file is constant bitrate (this will likely cause problems if the file is variable bitrate). See the ADTS row and footnote here:
https://exoplayer.dev/supported-formats.html#progressive-container-formats

When calling `SimpleExoPlayer.seekTo()` on non-seekable media, the expected behaviour is to

[2020-11-18 10:19] #8247 closed, assigned to icbaker

[2020-11-18 10:19] skogl commented on #8203
Is this issue being looked at? It really makes an upgrade impossible.

[2020-11-18 10:21] icbaker commented on #8242
AFAICT ExoPlayer doesn't specify an NDK version.

The closest we get is this part of the [ffmpeg extension README](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md#build-instructions-linux-macos):

I believe as a developer you should be free to use your choice of NDK version.

[2020-11-18 10:24] MujammilAhamed commented on #8206
I'm using BottomSheet Dialog Fragment to display the Player Screen UI.
Yes, I'm using PlayerNotificationService with Foreground Service and I have achieved a continuous playback in lock-screen & app background state. I'm using the Player Instance in the Foreground Service.

I'm not getting PlayerView turns black issue when onPause/onResume in Google Pixel 2 XL running Android 11 & Samsung Devices

[2020-11-18 10:54] ojw28 commented on #8163
This device doesn't have a screen resolution exactly half of mine. At 720x1560 pixels, its aspect ratio is a little taller/narrower when in portrait:

720 / 1440 = 0.5 (i.e., exactly half the width of the Pixel 4 XL)
1560 / 3040 = 0.513 (i.e., slightly over half the height of the Pixel 4 XL)

So it's expected that it will display a bit more of the video at the top and bottom compared to the Pixel

[2020-11-18 11:00] ojw28 commented on #8246
This is probably a result of changes in Android to better support multi-display devices. These changes mean that visual services should be retrieved in a way that identifies the display on which the app is running.

This is somewhat tricky to fix in ExoPlayer's case. For now, you should be fine to ignore/disable the warning. We'll need to figure out a way of addressing this at some point though, s

[2020-11-18 11:17] icbaker commented on #8232
Ah I have another theory.

We have `package-info.java` files which mark everything as non-null by default, which includes forcing all collections/arrays to contain no nulls. This is partly to help with Kotlin inter-op (where otherwise everything from Java is maybe-null).

We use `@Nullable` (and similar) annotations to explicitly mark types that should be allowed to be, or contain, nulls. It looks

[2020-11-18 11:18] zgzong commented on #8241
Thank @icbaker your reply.

The license refresh means renew license, if the license configured as refresh 1 minute, every one minute the renew license will be triggered no matter the renew license request success or fail.

Our license server configured with 7 minutes license duration with a refresh period of 5 minutes.

It would be better user experience that the player client could handle the ren

[2020-11-18 11:46] marcbaechinger commented on #8206
Can you give me a bit more information on what you do in `onPause()`/`onResume()`? How do you pause and resume the `PlayerView` as you call it? Are you playing a video in the foreground service or audio with an artwork and do I understand correctly that it is only a problem with the devices you mention and when using a `TextureView`?

[2020-11-18 11:49] kim-vde commented on #8220
@christosts Does ExoPlayer support negative timestamps? And does it support the case where audio samples start with negative timestamps, and video samples start with positive timestamps?

What is happening here is that the MediaCodecVideoRenderer is never getting ready. Execution goes through the following steps:
- The MediaCodecVideoRenderer is enabled with offsetUs = 0 and MediaCodecVideoRendere

[2020-11-18 12:09] icbaker commented on #8232
Ah it's been pointed out to me that this is a duplicate of #6792 - and correctly annotating `SimpleDecoder` isn't easy/possible at the moment.

I'm going to close this - please follow #6792 and in the meantime you'll need to keep casting I'm afraid.

[2020-11-18 12:09] #8232 closed, assigned to icbaker

[2020-11-18 12:24] MujammilAhamed commented on #8206
in onPause() ->

[code]

in onResume() ->

[code]
I'm playing audio with Foreground Service. I'm using PlayerView to display DefaultTimeBar & Duration.

I'm experiencing the Problem only in particular devices i mentioned above

[2020-11-18 12:31] kim-vde commented on #8220
EDIT: after discussion with @tonihei, we do not currently support negative timestamps.

[2020-11-18 13:17] design365 opened #8248 "when rotate video ,the size is false."
### [REQUIRED] Issue description
The size of the video is 6:9. When rotated by 90 degrees, the left and right sides of the video are not displayed completely, it seems to be cropped in the horizontal direction.

### [REQUIRED] Reproduction steps
set rotation:
mCropVideoView.getPlayView().getVideoSurfaceView().setRotation(90);
and set:
mPlayerView.setResizeMode(AspectRatioFrameLayout.RESIZE_MODE_FI

[2020-11-18 13:50] kim-vde commented on #8233
The problem is that the samples declared in the `stbl` box are not all present in the `mdat` box, as if the file had been cut without adapting the `moov` box consequently.

[2020-11-18 14:49] icbaker commented on #8248
Based on the advice you received in #8099, I wonder if you're using `TextureView` rather than `SurfaceView`? If so, you should be using the [`setTransform()`](https://developer.android.com/reference/android/view/TextureView#setTransform(android.graphics.Matrix)) method Andrew linked there.

I wouldn't expect this line to successfully rotate the video in any case (that's just a method on Android's

[2020-11-18 15:01] amirhasanovic opened #8249 "Slower transitioning in newer library versions"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/2049
https://github.com/google/ExoPlayer/issues/7542
https://github.com/google/ExoPlayer/issues/4718

### [REQUIRED] Question
This question is in correlation with https://github.com/google/ExoPlayer/issues/7771. After successful adaptation of our app to have smooth transition between streams, we upgraded li

[2020-11-18 15:43] master255 commented on #8223
@heinaungzan You need a special Mega.nz decryption library and a lot of coding.

[2020-11-18 16:14] icbaker commented on #8239
Thanks for the video - I can reproduce what you're seeing in the demo app by forcing a rebuffer during the ad playback and playing the "VMAP pre-roll" IMA sample.

@andrewlewis The code I used to reproduce is in internal change 343081629.

[2020-11-18 16:25] icbaker commented on #8227
Thanks for the sample app, it builds but when deploying it fails with a `FileNotFoundException`:

[code]

I suspect because the URI it's trying to open seems to be the empty string:
https://github.com/sandarshnaroju/VideoPlayer/blob/f34745eee6db5573dcefafe7a797b55507f4a7aa/app/src/main/java/com/example/videoplayer/MainActivity.java#L133

[2020-11-18 17:26] ojw28 commented on #8203
Yes. This is a fairly obscure issue where `MediaCodecAudioRenderer` (which is not being used) inadvertently resets the state of the `AudioSink` that's shared across all of the audio renderers.

As a workaround, you can implement an `RenderersFactory` to provide each audio renderer with its own `AudioSink`, rather than doing what `DefaultRenderersFactory` is doing and sharing a single instance.

[2020-11-18 18:25] icbaker commented on #8249
To confirm: It doesn't work as you expect with 2.11.8? The diff between 2.11.7 and 2.11.8 is [reasonably small](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2118-2020-08-25) (while the diff from 2.11.8 to 2.12.0 is huge), so this might help locate the cause of the behaviour.

Unfortunately without being able to reproduce what you're seeing it's impossible for us to debug thi

[2020-11-18 20:36] jam-le opened #8250 "MediaPeriodHolder causing memory leaks and OutOfMemory errors"
### [REQUIRED] Issue description
Describe the issue in detail, including observed and expected behavior.

**Observed Behavior**
Some devices are experiencing fatal crashes due to OutOfMemory errors. Firebase crashlytics (crash reporting tool) implicates ExoPlayer and ProgressiveMediaPeriod to be the source of the issue.
![image](https://user-images.githubusercontent.com/6895708/99578162-67590b00-2

[2020-11-18 22:04] raicalvin commented on #8206
We're having a similar issue on our application too when using ExoPlayer. Sometimes when we resume the app from the background or when we lock the device and unlock the device, the ExoPlayer scrub bar view turns completely black and the User is not able to tap or modify the play position while the audio continues playing.

[2020-11-19 00:10] frushlabo opened #8251 "Certain devices crash with an SQLiteException when attempting to create cache"
### [REQUIRED] Issue description
Certain devices crash with an SQLiteException when attempting to create cache

### [REQUIRED] Reproduction steps
Create a media source with cache using CacheDataSourceFactory()

### [REQUIRED] Link to test content
Any content

### [REQUIRED] A full bug report captured from the device
Currently attempting to acquire bug report however do you not have a physical devi

[2020-11-19 01:35] robin2046 commented on #8232
Thanks a lot for the info. It is OK for me to use casting. But the more important thing is to get to know the root cause. Appreciate it.

[2020-11-19 03:13] ShengjieGeng commented on #8227
it seems like I have the similar error
below is the log
[code]

[code]

[2020-11-19 04:15] palvaibhav89 commented on #8245
@icbaker i have sent an email with the required hls audio only master.m3u8 url which we are using.

[2020-11-19 04:15] chunanli commented on #8233
Thank you @kim-vde. We did notice that the issue goes away by re-encoding the track, though it means we have to identify all such tracks in our catalog, not a trivial task. What makes it bad for user experience, is that for some reason, if we're streaming the track from web, it takes the player about 1-2 minutes before `EOFException` is thrown.  Other than us finding and re-encoding all such track

[2020-11-19 04:29] VeiZhang opened #8252 "Video stuck from frame by frame"
### [REQUIRED] Issue description
When it happend, video frame picture come not smooth, like the first picture come, and it stuck 0.5 sec, second picture come, then wait 0.5 sec, third picture come...etc.

### [REQUIRED] Reproduction steps
Just play it.

### [REQUIRED] Link to test content
The link is a zip file, please download and unzip.  https://we.tl/t-dijGlHSJwh

### [REQUIRED] A full bug repo

[2020-11-19 05:17] palvaibhav89 commented on #8245
@tonihei For me it is not slower. It actually never changes. Please suggest if i am doing something wrong in above code.

[2020-11-19 05:20] vhow opened #8253 "How to handle CacheException?"
I’m using v2.11.7, and it throws CacheException sometimes.

[2020-11-19 05:40] arlimm318 commented on #8091
Does the LoadControl work  when playing UDP streams？
I'm going to set the buffertime parameters, but it doesn't seem to work.

[2020-11-19 06:36] bayuwijdev commented on #5786
Hi @drayan85 I'm interested with your suggest solution, can you provide full example code in add MediaItem before setMediaItems to load media by using CastPlayer?

[2020-11-19 06:50] sandarshnaroju commented on #8227
OK. I think I partially solved this issue. Earlier I loaded pallycon.aar as a module, looks that is the issue. I removed it as module, and added it in libs folder. And now the error disappeared. There is another problem, I am facing right now is, videos are playing when I set `drmsessionmanager` to the `ExoplayerFactory` (deprecated). But When I set the `drmsessionmanager` to media source it is sh

[2020-11-19 06:53] #8227 closed, assigned to icbaker

[2020-11-19 07:15] drayan85 commented on #5786
@BayuWijayaPermanaPutra, I hope this will help you make it work.

[code]
[code]

[code]

[code]

[2020-11-19 07:19] ShengjieGeng opened #8254 "AbstractMethodError"
Hi，I don't know what's going on.
Please do me a favor,
thanks a lot.
below is the log
[code]

[code]

_Originally posted by @ShengjieGeng in https://github.com/google/ExoPlayer/issues/8227#issuecomment-730099202_

[2020-11-19 08:09] sandarshnaroju opened #8255 "Blank screen when DRM session manager set to media source"
### [REQUIRED] Searched documentation and issues
Searched similar questions in stackoverflow and here in repo, but did not find anything similar to it.
### [REQUIRED] Question
I am trying to play DASH video stream, I am using Pallycon service to manage keys. The below code works fine when `drmSessionManager` set to the `ExoPlayerFactory.newSimpleInstance` (deprecated) instance, but When I set `drm

[2020-11-19 09:14] ShengjieGeng opened #8256 "Invalid seekTo() method"
Hi, I'm using the multi-item MediaSource,
but the method  `simpleExoPlayer.seekTo(position);` is invalid.
 ` simpleExoPlayer.setMediaSource(concatenatingMediaSource,position);`   is invalid too.
it always starts playing from the position 0 ms.
below is the codes
[code]
PS: the first audio's length is less than the postion seeked.

Did I use the simpleExoPlayer correctly?
please help，thanks a lot.

[2020-11-19 10:04] ojw28 commented on #8245
This is probably actually a duplicate of https://github.com/google/ExoPlayer/issues/5313. Given you'd found that issue already, it's unclear why you've filed this one as well. #3342 is also relevant (I think we'd need to fix both for HLS audio adaptation to work really nicely).

[2020-11-19 10:18] ojw28 commented on #8203
I got a few class names wrong in my response above, so it didn't make much sense. I've updated it to be correct now (if reading by email, please open the thread on GitHub to see the correct version). Thanks!

[2020-11-19 10:23] skogl commented on #8203
Thank you for your answer. I was just composing my answer with a question if you meant `RenderersFactory` and not `ExtractorsFactory`.
The workaround is working.

[2020-11-19 10:36] ojw28 commented on #7898
Thanks @uberchilly @petitJAM @fuadreza for your help diagnosing this. I think we can work around this in the ExoPlayer library by:

1. Setting `android:insetBottom` to 0 on our style for these two buttons.
1. Defining our own `backgroundTint` attr, setting it to white in our style for these two buttons, and relying on the fact there will be a namespace collision with the Material library's `backgr

[2020-11-19 10:43] icbaker commented on #8245
Thanks for pointing that out @ojw28, closing this as a dupe of #5313.

[2020-11-19 10:43] #8245 closed, assigned to icbaker

[2020-11-19 10:45] icbaker commented on #8241
Thanks for the details - your reasoning makes sense.

I'll mark this as an enhancement to enable retries for license refreshes.

[2020-11-19 10:50] kim-vde commented on #8217
The duration indicated in ExoPlayer is the sum of the segments duration given in the EXTINF tags.

You can use [`Player#isCurrentWindowLive`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#isCurrentWindowLive--) (see #2668 for more info).

[2020-11-19 11:27] kim-vde commented on #8233
For performance reasons, ExoPlayer generally does not scan a content to check its validity before playing it so it won't notify you of the error before it actually tries to read the missing samples.

To solve this, you could make your own `Mp4Extractor` from the existing one that would check the sample table before starting to extract the samples. This could for example work by checking if the las

[2020-11-19 11:40] ojw28 commented on #8233
I'm not sure it's really that hard. There are tools you can use to efficiently check whether your media files are valid. So you just need to find one that detects this type of error, and run it over your catalog. If a relatively low number of files are affected then re-encoding wont be expensive either. It looks like this command will quickly tell you about the problem, for example:
[code]

[2020-11-19 11:56] #7845 closed, assigned to christosts

[2020-11-19 12:03] icbaker commented on #8250
Was this done on the ExoPlayer demo app, or your app?

It should be easy to confirm this hypothesis by seeing if the number of these objects increases over time - is that what you observe?

---------

The screenshot seems to show 6 allocated `ExoPlayerImplInternal` objects, which suggests there are 6 players being used - is that expected based on your setup?

There are also lots of objects with 88

[2020-11-19 12:08] finneapps commented on #8078
I am also seeing this crash on 2.12.1. In my case It seems to be happening when a download fails after resuming the app

[2020-11-19 12:10] icbaker commented on #8254
See my [response](https://github.com/google/ExoPlayer/issues/8227#issuecomment-727854676) on #8227:

[2020-11-19 12:13] icbaker commented on #8256
This is likely happening because ExoPlayer doesn't support seeking in the media you're using:
https://exoplayer.dev/troubleshooting.html#why-are-some-media-files-not-seekable

When calling `SimpleExoPlayer.seekTo()` on non-seekable media, the expected behaviour is to restart playback from the beginning (as you observe).

To avoid accidentally calling `seekTo()` when playing non-seekable media, you

[2020-11-19 12:13] #8256 closed, assigned to nobody

[2020-11-19 12:30] icbaker commented on #8252
The media files you provided don't play back correctly on VLC (it immediately exits). When playing them in the ExoPlayer demo app I see scrambled video (mostly green blocks) and playback fails after 10s with one and 6s with the other.

ffmpeg thinks they're invalid:
[code]

[code]

This seems like a problem with the media.

[2020-11-19 12:30] #8252 closed, assigned to icbaker

[2020-11-19 12:30] design365 commented on #8248
@icbaker
I use TextureView.
the setTransform() method rotate， the video is stretched and deformed after rotating.
please check.

[2020-11-19 12:34] ojw28 commented on #8078
What type of content is being downloaded in these cases? Adaptive (i.e., HLS / DASH / SmoothStreaming) or progressive (i.e., regular media files like MP4 / MP3, etc)?

[2020-11-19 12:40] icbaker commented on #8255
It looks like you're using a custom `DrmSessionManager` provided by Pallycon.

I suspect that this implementation has not been updated to be compatible with the new way DRM works from 2.11.0 onwards - there's more details in the **DRM** section of the 2.11 release blog: https://medium.com/google-exoplayer/exoplayer-2-11-whats-new-e0e0701e4b6c

I suggest you raise the issue with Pallycon.

[2020-11-19 13:09] ojw28 commented on #8078
Also, are you passing an `Executor` to the `DownloadManager` constructor, or using one of the constructors that doesn't take one? If you are passing one, which thread does it execute the downloads on?

[2020-11-19 13:48] ab503044120 commented on #8217
thx , it resolve it  by `Player#isCurrentWindowLive`

[2020-11-19 13:48] #8217 closed, assigned to kim-vde

[2020-11-19 15:17] chunanli commented on #8233
@kim-vde , @ojw28 , thank you both for your suggestions, we will look into them.

[2020-11-19 15:41] icbaker commented on #8237
Thanks for the sample project, I can reproduce the error you're seeing.

I don't know for sure, but I think the keys you're passing might be incorrect? I see the same error when I replace the key and key ID in your project with nonsense values.

How did you create your encrypted MP4? Maybe try encrypting a new video from scratch using shaka?

[2020-11-19 16:19] Turalllb commented on #6930
@ojw28 Hello! You worked with similar problems, so I decided to tag you.  I have some useful information on this issue.  The same bug trace that @menscikov  cited above repeats both for me and only on real android tv (Xiaomi Mi Box S Android 9.0).  I have localized my problem. When I want to display an advertisement over the player, I set  playerView.videoSurfaceView.visibility = View.INVISIBLE an

[2020-11-19 16:50] saurabharora90 commented on #6930
@Turalllb you shouldn't toggle the visibility of the playerView. For ads, try using the `AdsMediaSource`. If that doesn't work for you, then are you using a `VideoView`?

[2020-11-19 17:12] #8090 closed, assigned to ojw28

[2020-11-19 17:14] ojw28 commented on #7898
This is hopefully fixed by the change ref'd above. We'll include this in `2.12.2`, which is due in the next couple of weeks.

[2020-11-19 17:14] #7898 closed, assigned to ojw28

[2020-11-19 17:14] Turalllb commented on #6930
@saurabharora90  I'm not sure if I can use AdsMediaSource for ads. For advertising, we have our own asSDK with our exoPlayer inside, and the very logic of advertising placement is specific.      For the first time I hear about VideoView, I looked at what this class is. I am using PLayerView from exoPlayer.   Of course, I can hide the video under another view, but I think it's not right that when t

[2020-11-19 17:15] ojw28 commented on #8203
This is fixed by the change ref'd above. We'll include this in `2.12.2`, which is due in the next couple of weeks. Note that:

1. Once using `2.12.2`, the workaround will be unnecessary.
1. We didn't fix this by having each renderer use its own `AudioSink`. Instead, we fixed the problem that was causing sharing of the `AudioSink` to not work.

[2020-11-19 17:15] #8203 closed, assigned to ojw28

[2020-11-19 19:06] harini113 commented on #8231
Hi Ian,

I will try the above mentioned selection and respond to this thread here. Thank You.

But I got the list that I expected when I listed the return values of getDecoderInfos. It lists my options. I was not able to change the default.

Thanks

Sri

[2020-11-19 20:13] ojw28 commented on #8078
If the answers are (1) progressive media, and (2) using a separate executor, then I have figured out what's wrong. We will provide a fix shortly.

[2020-11-20 01:13] ShengjieGeng commented on #8256
Got it.
But，the version `'com.google.android.exoplayer:exoplayer-core:2.11.3'` works fine. And when calling `SimpleExoPlayer.seekTo(position)` , the callback:
[code]
the state Player.STATE_READY and Player.STATE_BUFFERING will receive several times, which is not what the App wants.

Anyway,I will try the latest version of exoplayer-core again.
thanks.

[2020-11-20 01:33] VeiZhang commented on #8252
@icbaker OK, thanks. Because I use android media player to compare, it can work well, I don't know Whether ExoPlayer can try to solve.

[2020-11-20 03:03] ShengjieGeng commented on #8254
Actually，it's occasionally. Even just appeared once during the last one year.

[2020-11-20 05:17] ruthwikkk commented on #8237
Thanks for your reply @icbaker

The same file when steaming from server working fine. I used the same key_id and key for online playback.

I encrypted the Mp4 using [Mp4Box](https://github.com/gpac/gpac/wiki/MP4Box).

`MP4Box -crypt drm_file.xml input_video.mp4 -out enc_video.mp4 `

the XML file used
[code]

[2020-11-20 05:33] hyl0376 commented on #8205
Are there any updates?

[2020-11-20 06:51] SungsooLim commented on #8011
This issue is fixed in AndroidX media2, so the actual fix in media2-extension would take time until the next release of media2.

[2020-11-20 07:26] SungsooLim commented on #8047
Fixed.

[2020-11-20 07:26] #8047 closed, assigned to SungsooLim

[2020-11-20 08:14] sandarshnaroju commented on #8255
I have contacted Pallycon support, They confirmed that they have not implemented this feature. Thanks for taking time.

[2020-11-20 08:14] #8255 closed, assigned to icbaker

[2020-11-20 09:41] saurabharora90 commented on #6930
@Turalllb somebody can correct me if I am wrong: From my understanding, a surface view is destroyed when you toggle its visibility, which is why you shouldn't do it and hence it causes issues since the Surfaceview is destroyed by the time Exoplayer accesses it. When you do it after pause, it's not an issue anymore.

[2020-11-20 09:55] icbaker commented on #8254
For a given APK and android version, I would expect this error to either permanently occur or never - I'd be surprised if with no other changes, sometimes the `ExoPlayerImpl.handlePlaybackInfo()` method can be invoked successfully and other times it fails as above.

If you want us to investigate further we need more information.

Please provide a [minimal reproducible example](https://stackoverflo

[2020-11-20 10:40] amirhasanovic commented on #8249
The biggest problem is in 2.12.0, according to server information, the stream information is not the same as in the previous versions.
The way in which we set the stream in 2.11.7:
[code]
in 2.12.0:
[code]
I was just wandering if the library has changed the way it behaves with the hls streams that much, because the information we are getting is much different when switching streams.

[2020-11-20 10:44] minhkstn opened #8258 "Why does ExoPlayer call updateSelectedTrack() many times when I modify determineIdealSelectedIndex()?"
Hi,
When I run your **demo** configuration and watch `Google Play H264 (MP4)`, the `AdaptiveTrackSelection.updateSelectedTrack()` is called 15 times, and the selected qualities are recorded as follows:
_Note_:
[code]
[code]

However, when I modify the function `determineIdealSelectedIndex()`

[code]
The `AdaptiveTrackSelection.updateSelectedTrack()` is called 20 times as follows:
[code]
Especially

[2020-11-20 11:06] icbaker commented on #8249
Without clear steps to reproduce the behaviour you're seeing, it's not possible for us to offer more help.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject

[2020-11-20 13:25] tonihei commented on #8258
ExoPlayer calls `updateSelectedTrack` whenever we need to load something new. Depending on your `selectedIndex`, ExoPlayer may need to load non-media data first though.

In the example stream we need to load the initialization data for the selected format the first time you try to select it. After we loaded the initialization data, we call `updateSelectedTrack` again to see if we still want to con

[2020-11-20 14:01] minhkstn commented on #8258
@tonihei Thank you for your response. So I guess to avoid additional calls, I need to keep the same format in the `updateSelectedTrack` by choosing the same quality index before starting playback. Is it correct?

[2020-11-20 15:14] mhelder commented on #7851
Just wondering if there have been any developments on the matter above? Are there any plans for ExoPlayer to support downloads in a multi-process app? It'd be very much appreciated if someone could share their thoughts on what would be involved to make this happen. 🙏

[2020-11-20 15:55] tonihei commented on #8258
Yes, but there is generally no need to avoid them because the initialization data is really small compared to the actual media data.

[2020-11-20 17:16] ojw28 commented on #8047
Fixed in https://github.com/google/ExoPlayer/commit/2f1c0a5d0d556f9896af43b61ff0d8f04f31de30. This will be included in the `2.12.2` release, which is due in the next couple of weeks.

[2020-11-20 17:16] ojw28 commented on #8078
The fix ref'd above will be included in the `2.12.2` release, which is due in the next couple of weeks.

[2020-11-20 17:16] #8078 closed, assigned to ojw28

[2020-11-20 17:57] icbaker commented on #8237
I've dug a bit more into this and found a couple of things:

Firstly, your media file doesn't have a `pssh` box which is where the encryption info should be - this means that when it's played standalone (i.e. without a DASH/HLS manifest, which can carry the pssh info separately), ExoPlayer doesn't know that it's encrypted (and also doesn't know what key ID to try and use to decrypt it). This resul

[2020-11-20 18:19] stevemayhew commented on #8218
I'm assuming "end of it" you means the live-edge (most recent segments).

ExoPlayer defaults to the 3 target-durations back from the live edge, this is from the Client Responsibilities section [Section 6.3.3](https://tools.ietf.org/html/rfc8216#section-6.3.3) of the spec.

So, with your example of 2 min window, assuming 6 second segments, and `EXT-X-TARGETDURATION:6`  you would have 20 segments in

[2020-11-21 07:15] sajjadshahbazi commented on #8239
I do not know what to do about this problem.
Please advise you

[2020-11-21 07:39] sajjadshahbazi commented on #8239
In addition to the buffer mode, sometimes these three events happen quickly in a row (even it may be early in the ad show).

FIRST_QUARTILE
MIDPOINT
THIRD_QUARTILE

The loading is displayed and then the timer stops.

[2020-11-21 12:34] xeinebiu opened #8259 "MediaItem default Http Headers"
While now we have `MediaItem` recommended to be used, I was wondering how can we set `Http Headers` for different Media Items.

Before I created the below helper class which was helping, but now createMediaSource is deprecated.

`object ExoHelper {
    fun createMediaSource(
        context: Context,
        streams: List<ExoStream>
    ): List<MediaSource> =
        streams.map { createMediaSourc

[2020-11-21 15:36] AliZgheib opened #8260 "Support VobSub subtitles"
Hello everyone, I hope you are doing well today.

**Introduction:**
since the last few days, I've been working on a mobile application where I'm required to build a video player that supports subtitles/ audio track control and standard (forward, backward, play, pause) buttons
and this is where I've found about exo player, I've installed the main demo and ran it on my phone it worked really well.

[2020-11-22 01:08] ridanasif commented on #8189
Thank You. One last question before closing this issue. As a developer, what would be some tips that you can give me to make Exoplayer in recyclerview much more efficient? What should be the best practices?

[2020-11-22 09:01] theli opened #8261 "MediaCodecAudioRenderer error when playing flac from demo app"
**Issue description**

Errors when playing flac files from the demo app on Nokia 8 device with Android 9, model TA-1004. The build-in flac sample provided in the demo can’t be played at all and returns an error

[code]

I have added by own flac files to the demo app and was able to play them however there are permanent errors in the console and the progress of the track moves faster than it should

[2020-11-22 10:53] minhkstn commented on #8258
Thank you so much.

[2020-11-22 10:53] #8258 closed, assigned to tonihei

[2020-11-22 12:54] ArunkarthickNallasamy opened #8262 "Media decoder exception"
Hi,
 I am using exoplayer in viewpager2. Some of videos are throwing Decoder exception.
 Attaching log

[code]

Is there any way to stop this from happening? or when this error occur how do we modify properties in such way player can play the video file.
Device: Samsungs s7 edge
OS: Android 8

[2020-11-22 13:13] Andreeiva opened #8263 "Unsupported M3U playlist"
I created an exoplayer activity that could play streams with m3u8 extensions.
But i cant play a stream like this
http://m3ulink.com:7899/gtZcA8Ugs/po5dA7Vm07/114000
Can you please help look into this ..thanks soo much
`package com.drusoft.livefootballarena;

import android.content.pm.ActivityInfo;
import android.net.Uri;
import android.os.Bundle;
import android.os.Handler;
import android.view.View

[2020-11-22 16:12] sandarshnaroju opened #8264 "ExoPlayerImplInternal: Playback error"
### [REQUIRED] Searched documentation and issues
Searched here and in Stackoverflow

### [REQUIRED] Question
In my project I am using Exoplayer to play DRM protected channel streams, I am facing problems in playing video. Here is the error:

[code]

### A full bug report captured from the device

[code]

### Link to test content
[code]

[2020-11-22 20:52] marcbaechinger commented on #8259
A media item is converted internally to a `MediaSource` by a `MediaSourceFactory`. You can inject a customized `DefaultMediaSourceFactory` that uses your `DataSourceFactory`.

[code]

[2020-11-22 22:13] johnsky95 commented on #8259
Thanks for your reply @marcbaechinger

As I can understand your example, this sets headers for all MediaItems.

What If I have a queue/playlist whose each MediaItem has different Headers?

[2020-11-23 02:04] #8092 closed, assigned to icbaker

[2020-11-23 06:20] binbinyYang opened #8266 "android ExoPlayer 如何添加 user-agent"
android  ExoPlayer 如何添加  user-agent

[2020-11-23 06:20] binbinyYang opened #8267 "How to add user agent to Android exoplayer"
How to add user agent to Android exoplayer？please tell me

[2020-11-23 07:26] rahul-hawge opened #8268 "exoplayer2.ParserException: Invalid NAL length when playing .MP4 file from raw folder when we seek the video"
### [REQUIRED] Issue description
Observed Behavior : I am trying to play a MP4 file from raw folder. But when I use **seekbar to move back and forth**, it throws **Invalid length the exception**. There is no issue with the video file as I was able to play same video in VideoView(attached github link to sample project)
Expected Behavior : The video should play even we use the seek bar to reach part

[2020-11-23 07:43] ArunkarthickNallasamy commented on #8261
I too have same issue, any update?

[2020-11-23 08:27] xeinebiu commented on #8259
But this sets headers globally for all MediaItem s.

On my case, each MediaItem has its own headers

[2020-11-23 08:40] BayuWijayaPermanaPutra commented on #5786
What's load media are you used to load media info?
remoteMediaClient from Cast Framework or
loadItems / setMediaItems from exoplayer?

[2020-11-23 09:36] icbaker commented on #8260
Thanks for providing the media - it looks like the subtitles are in VobSub format. This isn't supported by ExoPlayer. We would accept a high quality pull request implementing support for this - there are several existing decoders in the [`text`](https://github.com/google/ExoPlayer/tree/release-v2/library/core/src/main/java/com/google/android/exoplayer2/text) package that might provide inspiration.

[2020-11-23 09:39] AquilesCanta commented on #7851
Drive-by question:

But you've replaced the MusicService with a complete new process? EDIT: The reason I ask is that I'm interested in understanding why you decided to spawn a new process instead of just using a regular foreground service, considered the associated complications.

[2020-11-23 09:48] marcbaechinger commented on #8259
There is still [an API that supports adding `MediaSource`s directly](https://exoplayer.dev/media-sources.html#media-source-based-playlist-api). It is not deprecated but defined on the `ExoPlayer` interface (as opposed to the `Player` interface).

If you want to use the media item based API, you can create your own implementation of the `MediaSourceFactory` and pass it to the `SimpleExoPlayer.Build

[2020-11-23 09:54] AquilesCanta commented on #8218
What @stevemayhew said is one option.

If the live stream you are serving is only going to add segments to the media playlist then you can also indicate that the playlist is an "event" type of playlist, using the [EXT-X-PLAYLIST-TYPE tag](https://tools.ietf.org/html/rfc8216#section-4.3.3.5) and ExoPlayer will start playback from the start of the playlist.

If the playlist is a sliding window (segm

[2020-11-23 10:00] xeinebiu commented on #8259
@marcbaechinger let me thank you for your support as always. This solution is more clean and flexible for my case.

[2020-11-23 10:00] #8259 closed, assigned to marcbaechinger

[2020-11-23 10:27] AquilesCanta commented on #8267
You need to pass it to the DataSource when you are creating it. For example, if you are using a [DefaultDataSourceFactory](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultDataSourceFactory.html#DefaultDataSourceFactory-android.content.Context-java.lang.String-), you would use a constructor that takes a `userAgent` string. The ExoPlayer demo app creates the DataSou

[2020-11-23 10:27] #8267 closed, assigned to AquilesCanta

[2020-11-23 10:29] AquilesCanta commented on #8266
Duplicate of #8267.

[2020-11-23 10:29] #8266 closed, assigned to AquilesCanta

[2020-11-23 10:31] AquilesCanta commented on #8268
Hi Kim, mind taking a look at what seems to be an MP4 issue? If it's not, please feel free to reassign to me.

[2020-11-23 10:33] AquilesCanta commented on #8268
@rahul-hawge, please check the link, which currently points to an empty project: https://github.com/rahul-hawge/exoplayer-issue-sample.git.

[2020-11-23 10:53] AquilesCanta commented on #8264
This means the server is returning a 404 at some point and playback cannot continue. Please check your links and server to see why a 404 is being returned.

Aside, next time you file an issue, please read the issue template and follow the instructions. Under "Link to test content" you pasted the code to reproduce and redacted the link. Under "A full bug report captured from the device", you pasted

[2020-11-23 10:53] #8264 closed, assigned to AquilesCanta

[2020-11-23 10:59] rahul-hawge commented on #8268
@AquilesCanta

Just need to switch to master, Here is the path.

https://github.com/rahul-hawge/exoplayer-issue-sample/tree/master

[2020-11-23 11:00] skreenr commented on #8163
My math was a bit off.
I re-did the video clip and now it's cropping perfectly. No green bars shows
The only thing of concern is, testing with odie Moto G/KitKat device the video plays not very smooth, with certain jerkiness
Is it due to Cropping operation expense? or just a high pixel count for the device

[2020-11-23 11:04] ojw28 commented on #8163
I doubt it's due to the cropping. I suspect you're just hitting performance limitations on older devices. This may be pixel count, bitrate, frame-rate, etc. Most likely a combination of multiple factors.

[2020-11-23 11:24] ruthwikkk commented on #8237
Yes it's working now.
Thanks for your suggestions @icbaker

I have updated ExoPlayer to 2.11.5, then changed the video generation script.
I'm posting the changed script for reference.

[code]

[2020-11-23 11:24] #8237 closed, assigned to icbaker

[2020-11-23 11:29] AquilesCanta commented on #8263
[code]

Yields HTTP 200, but the response is empty.

Trying to play `http://m3ulink.com:7899/gtZcA8Ugs/po5dA7Vm07/114000` in ExoPlayer yields HTTP 410:

[code]

This doesn't seem like an ExoPlayer issue. Can you clarify?

[2020-11-23 12:04] andrewlewis commented on #8213
The IMA extension only handles client-side ad insertion currently.

You can still use ExoPlayer as a player for DAI streams loaded by the IMA SDK, where your app interacts with the IMA SDK APIs directly (in this case the IMA extension isn't used at all). You'd need to write code to get the stream URL to play and propagate metadata events from the player.

I'll leave this open to track supporting D

[2020-11-23 12:36] ojw28 commented on #7439
Is the configuration key set to the best value for normal video playback? If so then I'm not sure there's anything to do here, since that's what `MediaCodecVideoRenderer` is designed for. If using it for another purpose, extending it to override the key seems reasonable.

[2020-11-23 12:45] andrewlewis commented on #7439
Yes. If an app wants to do batch processing (receiving every frame in a `SurfaceTexture`) it can override `getMediaFormat` as described earlier in this thread.

[2020-11-23 12:45] #7439 closed, assigned to andrewlewis

[2020-11-23 12:46] Andreeiva commented on #8263
Hy thanks for your response
the link actually expired a few hours ago
Here's another link
 http://iptvstream.xyz:8080/test-6086c5/0fb3/157492
I tried it on an exoplayer demo app I downloader a few minutes ago.
I was able to play the stream but it just buffers endlessly if i should parse same link into my exoplayer project.
I will appreciate if you can look into this.
Thanks soo much

[2020-11-23 12:56] LSDsl commented on #8218
This all nice if I can change server side. But if no? I want to control this on player side.

[2020-11-23 13:27] ojw28 commented on #7415
This is already documented [here](https://exoplayer.dev/ad-insertion.html). Removing documentation candidate label. I will also add some specific examples to the documentation of things that cannot be customized.

[2020-11-23 13:30] ojw28 commented on #8098
Not allowing customization is already documented [here](https://exoplayer.dev/ad-insertion.html). Removing documentation candidate label. I will also add some specific examples to the documentation of things that cannot be customized.

Regarding the language, we should update the IMA extension to default to the device locale. This should remove the need to change the language manually in almost al

[2020-11-23 13:57] AliZgheib commented on #8260
Hello @icbaker, Thank you for the reply and for checking out my media link.

Could you provide me with some resource that I can read and that will help me build my own decoder and hopefully submit a pull request in the future?

resources that might be useful for me:

1-Package where different decoders lives ( place where I've to implement VobSub decoder)
2-which method is responsible of checking e

[2020-11-23 14:08] AquilesCanta commented on #8263
The provided link is not valid. Please provide a valid stream. If you cannot forge a link which works, then please download the playlists and all corresponding segments and share that with me as a tar file. I cannot assist further until I have a way to reproduce the issue locally. Please don't provide expiring links.
[code]

[2020-11-23 14:22] #7502 closed, assigned to andrewlewis

[2020-11-23 14:23] #7976 closed, assigned to Samrobbo

[2020-11-23 14:34] AquilesCanta commented on #8261
Please provide a bugreport captured shortly after playing the problematic media in the problematic device using the demo app, as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2020-11-23 14:52] AquilesCanta commented on #8262
The only way to avoid these issues is using software decoders. Other than that, they need to be handled on a case-by-case basis. This issue is not good enough for us to assist, because it lacks essential information, which is listed in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
- For MediaCodec issues, sample media is almost always nece

[2020-11-23 15:02] icbaker commented on #8260
I haven't investigated too deeply, but some rough hints/suggestions:

* When I play this file in the demo app, the text track isn't even logged in logcat [1] - I'd expect an entry in the `TextRenderer` list. You can see a happier example by running the demo app and playing e.g. "Subtitles -> MPEG-4 Timed Text (tx3g, mov_text)" [2].
  * This suggests there needs to be changes in the extractor to ev

[2020-11-23 15:02] Turalllb commented on #6930
@saurabharora90 You are right, if you do it after a pause with a delay of 2 seconds, then everything is fine. But if right after the pause, then the problem still arises. In any case, I decided not to do this, I will use alpha or another view on top.

[2020-11-23 15:05] christosts commented on #8230
If I read the description correctly, there may be 3 issues involved:
1. Player not calling `AudioProcessor.configure()` (or `BaseAudioProcessor.onConfigure()`) whenever there is an audio format change, to at least detect audio channel count.
2. When playing the provided HLS stream in the demo app, the demo app does not detect both audio streams (audio and mono).
3. When a selecting a specific trac

[2020-11-23 15:18] icbaker commented on #8260
Ah I've realised I missed a couple of points from your comment:

I don't have any resources on this I'm afraid - if you do find a spec/reference it would be helpful to link it back here and also probably in a comment in the code itself so that a future reader/editor can refer to it as well.

Interesting - I see two text tracks in VLC:
![Screenshot 2020-11-23 at 15 05 34](https://user-images.github

[2020-11-23 15:28] jam-le commented on #8250
Hi, thank you for your response.

I'll try building the feature into the ExoPlayer demo app and checking to see if I find the same issues. I'll need a bit of time to recreate my issue, but I'll follow up once I am able to.

[2020-11-23 15:38] Andreeiva commented on #8263
hy thanks for your response
this is the link to thee playlist file
http://dsud.site:25461/get.php?username=dvd247&password=dvd247m3u99&type=m3u
if i should copy and paste on vlc it works
hoping to hear from you

[2020-11-23 16:06] AquilesCanta commented on #8263
This is a duplicate of #4066. Please track #4066 for support of m3u playlists. Note that m3u playlists are not HLS streams. You should consider implementing a m3u playlist parser in your app. It should be straightforward, and you can pass the playlist items to the MediaItem API which will concatenate them for you.

[2020-11-23 16:06] #8263 closed, assigned to AquilesCanta

[2020-11-23 16:23] kingfisherphuoc opened #8269 "How to avoid small laggy when prepare the player?"
ExoPlayer Version: 2.12.1
Device OS: 8.0

In my application, I have an infinite animation. Actually, it's a `TextSwitcher`animation running from left to right. However, whenever I tried to prepare the player, I got a jitter issue with the text's animation. Although it's just a few milliseconds, it caused my texts was like jumping from left to right. Here's the prepare video method:

[code]
P/s: I

[2020-11-23 16:26] atrope opened #8270 "IMA SDK AD_BUFFERING event prevents from firing any other event."
### [REQUIRED] Issue description
When Preloading an AD and playing it after, if the AD_BUFFERING Event is triggered, IMA SDK does not fire any other PROGRESS EVENT

### [REQUIRED] Reproduction steps

Test with slow internet speed and receive a buffer before loading all ad.
Tested with DEMO TAG

Toggling enable preloading does not seem to affect anything..

### [REQUIRED] Link to test content
Demo

[2020-11-23 16:27] ArunkarthickNallasamy commented on #8262
Hey Thanks for responding. First we are having signed URL which has a lifespan so even if i give a url it wont work beyond a time. How to specify software codec? Is it part of sample app?

[2020-11-23 17:14] Ste-RH commented on #8230
Thanks for your time on this one.

I have spent a few more hours adding debug logging and tracing through where the channel count mismatch was coming from and, apologetically, it is down to where my code pics up the channel count. So (1) in your summation is as you see, complete correct and doing what it should do.

Point (2) is probably correct I think?  Technically it is correct that there is on

[2020-11-23 17:27] icbaker commented on #8270
Possibly related to https://github.com/google/ExoPlayer/issues/8239?

[2020-11-23 18:01] arpitsinha-tudip commented on #3644
Any update on this, I am facing this issue when I am trying to show subtitles in the French language. Sometimes subtitles are showing invalid characters in place of some characters like **é** is getting replaced by **ee** or some random characters.

Please let me know if there is any workaround for this. I am **not** using SRT files for the subtitle, but getting it in the tracks within the stream.

[2020-11-23 18:11] AliZgheib commented on #8260
Hello again, and sorry for the late reply,

Thank you for your detailed answer and for giving me some references that i can work with.  I'll definitely look into it when  I start implementing the Vobsub decoder.

About the 2nd issue (tx3g):
I'll open another issue specific only to exoplayer not being able to detect tx3g subtitles (the chapters).

I'll keep this post updated regarding any news abou

[2020-11-23 18:25] AliZgheib opened #8271 "TX3G Subtitles not showing in Exoplayer"
Hello everyone,

**Introduction:**
I've been trying to implement exoplayer in a project of mine. The media that im trying to load in the players has different tracks embedded to it, such as audio tracks (English and Portuguese), text tracks (English and Portuguese).

**Issue:**
I was able to listen/read the audio/subtitles in the VLC player however, when I tried to do the same in exoplayer, I was

[2020-11-23 18:26] atrope commented on #8270
@icbaker looks like it!

[2020-11-23 18:57] ojw28 commented on #6937
Documentation has been improved internally, and these improvements will be pushed to the [public documentation](https://exoplayer.dev/downloading-media.html#starting-and-stopping-downloads) in due course.

[2020-11-23 18:59] baconz commented on #8039
@rrfrias we caught one in the wild! I have the bug report. Is there an email address that I should can send it to?

[2020-11-23 19:01] ojw28 commented on #5646
The new [playlist API](https://medium.com/google-exoplayer/a-top-level-playlist-api-for-exoplayer-abe0a24edb55) handles this in a much more intuitive way (i.e., what you would expect to work, should now just work!). So I don't think we need special documentation for this any more.

[2020-11-23 19:13] Ste-RH commented on #8230
Wait, wait...strike that bit about it not happening on the Nexus7.  I had commented out the assert that fires (and added an 'if' check):

TrackSelectorView.java

[code]

With that null check back in I get the crash on the Nexus7, but it is fine on he Xiaomi Mi 10T.

Here is the crash dump...(it's not a full bugreport as the device is running Android 6.0.1)

[2020.11.23_Nexus7_Bugreport.zip](https:

[2020-11-23 19:42] ojw28 commented on #4898
@tonihei - Does this still need additional documentation, now that we have `EventListener.onMediaItemTransition`. It looks like `MediaItemTransitionReason` disambiguates between the two cases without the need for index tracking. If no longer required, please remove the `documentation candidate` label. Thanks!

[2020-11-23 20:01] baconz commented on #8039
This looks relevant:

[code]

[2020-11-23 20:01] icbaker commented on #3644
We have no plans to work on this currently I'm afraid - we'd accept a high quality PR.

----

What container file is your video in? If it's Matroska (MKV) then [SubRip (SRT) subtitles must be in UTF-8](https://matroska.org/technical/subtitles.html) and there shouldn't be any decoding issues:

It might be helpful to provide a media file that demonstrates the problem - so that we can confirm it's ch

[2020-11-23 21:26] moneytoo opened #8272 "Buggy extra controls of Styled player on Android 5.0"
### [REQUIRED] Issue description
The extra controls of the StyledPlayerView do not work the same on Android 5.0 as they work for example on devices running Android 10 (or even Android 6). Opened overflow menu cannot be closed when tapping outside. Selecting the Audio action without loaded media makes the interface unresponsive (this works on higher Android versions just fine).

### [REQUIRED] Repr

[2020-11-23 21:45] ojw28 commented on #8272
Thanks for reporting this [Internal ref: b/173997207].

[2020-11-24 07:53] mhelder commented on #7851
Fair Question.

You make it sound like that's supposed to yield a big difference, but the only implementation difference is an attribute on the service definition in the manifest. That is, provided you use `MediaSession`: it doesn't care whether things happen in-process or inter-process.

To clarify: what I have **is** a regular foreground service (and its implementation is nearly identical to tha

[2020-11-24 08:59] yangcheng opened #8273 "how to avoid small laggy when call player.next () in a playlist"
I have a play list of videos, which are of irregular length. I want to jump to next() on a fixed interval, otherwise I'd like it loop though a subset of list.

consider the following example, a playlist contain videos between 5-10 seconds long, I'd like to go to a new video at exactly 60 seconds , so it might be possible that some video are just starting, and I need the next one to play. I am usin

[2020-11-24 09:06] AquilesCanta commented on #8218
Please wait for a response from @marcbaechinger. Until you get an answer, if you are in a hurry, you can inject a playlist parser which wraps the default one and "injects" the custom start time in the playlist, so as to emulate one of the tags described above in your client-side.

[2020-11-24 09:25] kim-vde commented on #8268
The problem is that the `Mp4Extractor` is unable to split the last video sample into NAL units (as defined in ISO/IEC FDIS 14496-15).  When parsing the last sample, it first finds a NAL unit of length 1 byte (which is already suspicious) and then finds a second NAL unit of negative length, causing the exception to be thrown.

The reason is probably that
- The last sample is invalid, or
- The last

[2020-11-24 09:26] #8180 closed, assigned to kim-vde

[2020-11-24 09:28] kim-vde commented on #8184
I will close this issue as the template has not been respected. Do not hesitate to create a new issue respecting the template.

[2020-11-24 09:28] #8184 closed, assigned to kim-vde

[2020-11-24 09:54] Proxwian opened #8274 "Crash - Unable to start activity ComponentInfo (attempt to read from field 'long com.google.android.exoplayer2.offline.a0.a')"
### [REQUIRED] Issue description
App crashing when trying to launch with having downloaded video via ExoPlayer:

[code]

### [REQUIRED] Version of ExoPlayer being used
2.12.1

### [REQUIRED] Device(s) and version(s) of Android being used
Huawei Mate 30

[2020-11-24 10:14] AquilesCanta commented on #8262
In that case you should download the media and share the files directly or host a permalink we can use.

Software video decoders are not currently supported out of the box by ExoPlayer, and you'll have to look into adding them yourself following the existent audio extensions of this pull request: https://github.com/google/ExoPlayer/pull/7132.

I'll close this issue since there's no actionable item

[2020-11-24 10:14] #8262 closed, assigned to AquilesCanta

[2020-11-24 10:22] marcbaechinger commented on #8218
Sorry for my late response.

I think with the released version there is currently no option to do that programmatically. We are working on improving HLS live support for low latency. With this there will be the option to set the offset to the live edge also for standard, non-low latency stream. I can not give you a timeline when this will be available in the release branch I'm afraid.

[2020-11-24 10:31] LSDsl commented on #8218
@AquilesCanta yes. Now I use fixed HlsPlaylistParser to do this.
@marcbaechinger Hope this will be soon. thx

[2020-11-24 10:59] rahul-hawge commented on #8268
@kim-vde  Thanks for your response. There are multiple videos in my actual project where this issue occurs. I am not sure to call it a **bad media** when it plays fine with the other basic media player's like _VideoView_ . Is there any way that we can fix this?

[2020-11-24 11:07] AquilesCanta commented on #8240
Hi @fridapinto-debug, there's no `DashUtil` equivalent for HLS and you should implement the fetching yourself. I don't discard that an `HlsUtil` could exist in the future, but it's actually better if you build it yourself, since (a) it's just a handful of lines and (b) the process depends a lot on the shape of your media and your usecase.

What you need to do is replace DashUtil's `DashManifestPar

[2020-11-24 11:20] marcbaechinger commented on #7851
Thanks for your detailed explanation. It seems to me that your conclusion is correct, and that your option (2) is probably easier to achieve. So you would need to provide a way to share the information of the `DownloadManager` with another process. In the other direction you need a way to send actions like add/remove downloads from the app process to the service running in the player process. A [b

[2020-11-24 11:21] ojw28 commented on #6703
This is documented [here](https://exoplayer.dev/listening-to-player-events.html). Removing `documentation candidate` label.

[2020-11-24 11:26] Manvendra-Jadon commented on #8199
@andrewlewis Can you please check whats wrong with this as tag url : https://pubads.g.doubleclick.net/gampad/ads?iu=/21857335772/Barstool-Sports-OTT/Barstool-Sports-AndroidTV&description_url=www.barstoolsports.com&tfcd=0&npa=0&sz=400x300%7C640x480&gdfp_req=1&output=vmap&unviewed_position_start=1&env=vp&impl=s&vconp=2&vpa=click&vpmute=0&cmsid=2514417&ad_rule=1&vid=6189689442001&rdid=5bcbb202-96af-4

[2020-11-24 11:47] junchenChow opened #8275 "Crash of Android low version SIGSEGV(SEGV_MAPERR)"
### [REQUIRED] Issue description

[code]

### [REQUIRED] Reproduction steps
Just play the video in the list normally, there is no special operation, it is easier to appear under 23 24 api.

### [REQUIRED] Link to test content
N/A (can be repro without media)

### [REQUIRED] A full bug report captured from the device
[crash_reporting_text.zip](https://github.com/google/ExoPlayer/files/5589580/crash

[2020-11-24 11:58] AquilesCanta commented on #8274
We cannot assist by looking at a snippet of an obfuscated+minified logcat. Please provide us with a way of reproducing or, at least, a non obfuscated logcat.

[2020-11-24 12:43] ojw28 commented on #7470
The player methods for navigating the playlist will be added to [this section](https://exoplayer.dev/hello-world.html#controlling-the-player) in a future documentation push. Removing `documentation candidate` label as this change has already been made internally.

[2020-11-24 13:03] marcbaechinger commented on #8253
The exception is thrown on L522 which with 2.11.7 is when the cache is initialized and the directory for storing the cached data needs to be created because it does not exist.  The path ` /data/user/0/com.x.x/cache/` you are using is the cache directory you get from `context.getCacheDir()`. That actually seems about right to me and I would expect that it exists when starting up and it does not nee

[2020-11-24 13:24] AquilesCanta commented on #8269
We will need a more precise question here. I don't think a sample app would be useful at this point, since it's not obvious this is an ExoPlayer issue. Please narrow down the cause of the issue and provide any evidence suggesting this is related to ExoPlayer. For example, things that I would check would be:
- Is the UI thread doing too much work?
- Is there any operation blocking the UI thread?
-

[2020-11-24 14:31] andrewlewis commented on #8039
@baconz Please could you send it to dev.exoplayer@gmail.com with subject 'Issue #8039' (I think @rrfrias has access)? Thanks!

[2020-11-24 14:38] AquilesCanta commented on #8273
Hi @yangcheng,

In ExoPlayer there's no way to individually control buffering for each item. You need to put the items in a playlist and let the player handle the buffering for you. And the player will start buffering the next item only after it has finished buffering the current one.

As things stand now, the only way of loading content from a following item without fully loading the current one

[2020-11-24 14:45] christosts commented on #8230
I see how this can happen if at [TrackSelectionView.java L292](https://github.com/google/ExoPlayer/blob/r2.12.1/library/ui/src/main/java/com/google/android/exoplayer2/ui/TrackSelectionView.java#L292) ExoPlayer decides a track is not handled by the respective renderer and later, in updateViewStates(), there's a selection override for this track (`if (override != null) {`).

We will add a quick fix

[2020-11-24 14:48] nishantkp commented on #8037
@jt64 @tonihei any updates?

[2020-11-24 15:02] marcbaechinger commented on #8251
Yes, please upload a bug report if you have one. The stack trace shows the failure happens in `setLocaleFromConfiguration` and `nativeRegisterLocalizedCollators`. Not sure if this is really something to cause problems, but it may be dependent with some locales or changes of that. So when you are seeing the error on a device it would be interesting if it is really 'device specific' as opposed to 'l

[2020-11-24 15:05] AquilesCanta commented on #8273
Thanks to @tonihei for pointing this out. There's also #3327 which seems to track exactly what you are asking for.

Other than implementing some form of local cache manually, I think your best option is tracking #3327.

If there's any aspect of your question unanswered, please let me know and I'll reopen the issue.

[2020-11-24 15:05] #8273 closed, assigned to AquilesCanta

[2020-11-24 15:22] ojw28 commented on #6491
Rather than adding documentation, we will instead aligned `PlayerNotificationManager` with our other UI components by allowing enabling/disabling "next" and "previous" separately. This will also get "next" and "previous" into the method names, which should make them easier to find! Removing the `documentation candidate` tag.

[2020-11-24 15:22] Ste-RH commented on #8230
Aside from renaming the package, it is stock 2.12.1

Give me an hour or two and I will test this on a fresh pull (so completely stock) and report back.

[2020-11-24 15:32] icbaker commented on #8260
When looking into this file for #8271 I noticed that the `track` box with `id=4` (the vobsub one) has `handler=subp` which isn't mentioned in ISO 14496-12 as a valid handler - this might be why this track isn't detected at all by ExoPlayer.

If you're going to make a PR that changes to AtomParsers to detect `subp` tracks, it'll be important to link to a spec where that is defined - as otherwise it

[2020-11-24 15:36] icbaker commented on #8271
I looked at the file you provided in [MP4Box.js](https://gpac.github.io/mp4box.js/test/filereader.html).

The `trak` box with `id=5` (the tx3g one) has a `hdlr` box with `handler=text`. We treat this as a text track:
https://github.com/google/ExoPlayer/blob/59b34ede6165d029d86a677fea73a5dd0dd55c74/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp4/AtomParsers.java#L794-L79

[2020-11-24 15:46] atrope commented on #8270
@icbaker @andrewlewis this is affecting our prod app so we wouldl have to downgrade to exoplayer 2.11.X but we can't because 2.12 brings a fix to the companion banner on audio ads.. Do you think it will get prioritized to next version?

Thanks

[2020-11-24 15:50] ojw28 commented on #5602
`Player` Javadoc will be improved to more explicitly explain this behavior in a future release. Removing the `documentation candidate` label as these changes have been made internally.

[2020-11-24 15:57] kim-vde commented on #8268
It is a bad media in the sense that it doesn't comply to the specifications.

The best way to fix this error is of course to fix the media. If it is not possible, you can use a custom `Mp4Extractor` where you could for example replace the [line throwing the error](https://github.com/google/ExoPlayer/blob/r2.12.1/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp4/Mp4Extract

[2020-11-24 16:00] andrewlewis commented on #8270
I'm looking into this now. To be confirmed, but I think it's likely we'll be able to get a fix into a minor release soon (although this will need to be done carefully as `dev-v2` is diverging due to moving code around to add support for ads in playlists).

[2020-11-24 16:01] marcbaechinger commented on #8169
Sorry for my late response.

The downloader starts downloading without checking the available space. If the disk space is not sufficient this would end in an `IOException` and the `Download` is marked with `STATE_FAILED`.

The requirement `DEVICE_STORAGE_NOT_LOW` is used to schedule jobs either with the `PlatformSchedulerService` or the WorkManager` depending on what you are using. It decides whet

[2020-11-24 16:36] marcbaechinger commented on #8189
If it's about 'much more' then I think pre-caching is the most valuable thing you can do that you can do without adding to much complexity.

If you have a view pager that shows the surface without gaps you need to have multiple player instances which will add complexity to your logic. When swiping in two directions needs to be supported you need three instances at least (or you need a bitmap of th

[2020-11-24 16:44] tonihei commented on #4898
Yes, `MediaItemTransitionReason` solves this problem without additional documentation.

[2020-11-24 17:06] andrewlewis commented on #8270
I have a fix ready and it should be easy to cherry-pick into the next minor release.

I'll mark this issue as a duplicate of the other one for now. Thanks!

[2020-11-24 17:07] andrewlewis commented on #8270
Duplicate of #8239

[2020-11-24 17:07] #8270 closed, assigned to andrewlewis

[2020-11-24 17:07] atrope commented on #8270
@andrewlewis Perfect! Thanks.
I Will be waiting for this next release.

[2020-11-24 18:30] andrewlewis commented on #8239
Thank you for reporting this. There is a fix in review.

[2020-11-24 19:04] marcbaechinger commented on #8209
I tested this in more detail with a Pixel 4 running Android 11 (API 29)  and a Pixel running Android 10 (API 29).

I did

1. remove the `configChanges` attribute in the manifest for the PlayerActivity
2. override the onConfigurationChanged() method in the PlayerActivity to log the dimension of the new size reported
3. added a log line in onResume, onPause and onDestro of the PlayerAcrivity.

The I

[2020-11-24 19:24] nihk commented on #8209
Thanks @marcbaechinger. Are you saying that you were unable to reproduce what's in my video? Or that both APIs 29 and 31 behaved the same way that the video does?

Side note, the Android emulator I was using to additionally reproduce what's in the video was running API 30.

[2020-11-24 19:37] marcbaechinger commented on #8209
Yes, I couldn't reproduce. I haven't seen the situation that the surface shows the video of two different positions like (0:14) or the distortion at 0:30. And there is no difference between API 29 and API 31. I just tested with the emulator Pixel 3a on API 30 and these two situations do not happen on the emulator with API 30 either.

In all three cases I do not see these distortions or renderering

[2020-11-24 19:48] baconz commented on #8039
Done @andrewlewis

[2020-11-24 20:04] marcbaechinger commented on #8209
I tried again with all devices and I see something that seems wrong, but only after I go to normal view mode again. I don't see issues while resizing but the screen turns back when I go back to the full screen mode again and I do not tap back to navigate to the `SampleChooserActivity`. It's a different behaviour than what you see, but that does not look right either.

[2020-11-24 20:18] marcbaechinger commented on #8209
Switching to texture view helps to workaround. So it seems to be a problem that the surface view does not properly adjust its size back when the activity goes out of split screen.

[code]

I'll investigate this. Thanks again for reporting.

[2020-11-24 20:30] nihk commented on #8209
Thanks @marcbaechinger. When the app gets into the buggy state of the video I provided (i.e. Activity config flags absent, split-screen size has been adjusted) then in the logcat I do see these logs getting spammed every few seconds:

[code]

Those logs are not present after a split-screen resize with the Activity config flags present. Not sure if that helps, but it's one difference I'd noticed.

[2020-11-24 21:07] marcbaechinger commented on #8209
Internal bug ref: b/174168819

[2020-11-24 23:24] marcbaechinger commented on #8251
I think I was able to reproduce this. As I was guessing it has to do with a locale that is set wrongly manually by my code.

I flashed a Pixel device with Android Oreo and added the following in the 'Application' class that is executed right at the start of the ExoPlayer demo application:

[code]

When I then try to install the app it fails with the following exception that is exactly what you rep

[2020-11-25 00:22] Ste-RH commented on #8230
I can confirm that a completely stock 2.12.1 also bombs as described on the Nexus7 (2013)

[2020-11-25 02:04] yangcheng commented on #8273
thanks for pointing out ClippingMediaSource, the only user interaction I need to support is pause and resume, no need for seekbar control. so I guess I can use it?

[2020-11-25 02:12] yangcheng commented on #3327
is there a timeline for this request or a 3rd party implementation?

[2020-11-25 02:51] HyowonHwang opened #8276 "Kotiln does not accept nullable value exoplayer's properties"
ExoPlayer Version: 2.12.1
Android Studio 4.1.1
Kotlin Plugin version : 1.4.10

### [REQUIRED] Searched documentation and issues

### [REQUIRED] Question

I've tried to write below code on my own kotlin codes.
Since 2.12.1, null value is not permitted with below builder constructor.

[code]

I reckon that builder construct could be nullable.
<img width="765" alt="스크린샷 2020-11-25 오전 11 49 3

[2020-11-25 05:47] ridanasif commented on #8189
Is there a way to check out how many decoders the device support?

[2020-11-25 07:29] yoobi commented on #8169
Okay thank you for the details, I'll make my own estimation and get the storage available though `StatFs`

[2020-11-25 07:29] #8169 closed, assigned to marcbaechinger

[2020-11-25 07:58] Turalllb opened #8277 "Parameter specified as non-null is null. Parameter format in onVideoFrameAboutToBeRendered"
![Снимок экрана 2020-11-25 в 10 57 20](https://user-images.githubusercontent.com/28982210/100198587-1185e500-2f0d-11eb-97f5-8a7b41501a26.png)

Occurs when the player is opened.  This is quite critical, I don't see any ways to protect it from the application.  version 11.7

[2020-11-25 07:59] Turalllb commented on #8277
Occurs when the player is opened

[2020-11-25 09:13] Andreeiva opened #8278 "Cant play http streams"
I noticed I cant play streams with http formats such as this
http://1111296894.rsc.cdn77.org/ls-54548-1/tracks-v1a1/mono.m3u8
but i can play streams with secured format like this
https://content.uplynk.com/channel/ff809e6d9ec34109abfb333f0d4444b5.m3u8

[2020-11-25 09:57] AquilesCanta commented on #8273
Certainly seems so. Please give it a try!

[2020-11-25 10:15] AquilesCanta commented on #8277
If I understand the screenshot correctly, you are able to reproduce the problem locally. If that's the case:
- Please never provide a screenshot of a logcat, copy-pasting the logcat text is better in every way.
- Please provide reproduction steps, as requested in the issue template. If you cannot provide reproduction steps, please explain why. Any and all context is useful here for us to efficient

[2020-11-25 10:34] AquilesCanta commented on #8278
Both of the provided media streams play correctly in the demo app. With the given information it's impossible to know what you are experiencing. Please try playing your media in the ExoPlayer demo app and, if you run into issues, file a new github issue (type "bug") including all the information requested in the issue template available in the form. If you don't run into issues, this is probably a