[2017-04-03 11:59] #2637 closed, assigned to andrewlewis

[2017-04-03 12:11] andrewlewis commented on #2639
Please could you provide steps to reproduce in the demo app? Specifically, where do you call `getCurrentPeriodIndex`? Thanks.

[2017-04-03 12:37] andrewlewis commented on #2413
I'm not sure whether you're referring to playback via MediaPlayer or ExoPlayer, but ExoPlayer's Matroska extraction functionality doesn't rely on media framework support, so it should work fine on all devices and the emulator. It may not be possible to play the extracted media, however.

To make progress on this issue it would be useful to have bug reports taken from the (non-emulator) device(s) w

[2017-04-03 12:42] Avetri commented on #2630
@mossc
VLC isn't a good solution. It requires some tricks to send TS.
As I wrote above You should use [tsplay](https://sourceforge.net/projects/tstools.berlios/) as a source of multicast streams. But it is only a sender also. You need TS files.

[2017-04-03 12:47] otefhg commented on #2514
The fix is required if you want to play an mp4-file (using the USAC codec), as well as for Shoutcast and DASH streaming. In those cases the AOT == 42.

[2017-04-03 13:34] andrewlewis commented on #2514
Could you clarify whether the fix in 422c2d0 is sufficient? If you also need a fix for `buildAacAudioSpecificConfig`, please clarify where it will be used, as I don't think we currently pass an extended AOT anywhere in the library.

[2017-04-03 16:48] andrewlewis commented on #2122
We recently pushed support for showing a multi-window time bar in [DefaultPlaybackControlView.setShowMultiWindowTimeBar(boolean)](https://github.com/google/ExoPlayer/blob/9d20a8d41c0cc6cd01b20bd72f3bbfcf11e49cae/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlaybackControlView.java#L353) to `dev-v2`. The implementation iterates over all windows in the timeline when calculating a positi

[2017-04-03 17:48] needz commented on #2561
ojw28, is there a chance you could add an instruction on how to build a FFMPEG extension for x86 platform, since the readme (https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg/README.md) for ARM devices was very straightforward and worked really well?

[2017-04-03 18:44] ojw28 commented on #2561
@vigneshvg - Do you have any x86 instructions?

[2017-04-04 03:19] Teviz commented on #2638
@AquilesCanta
Thank you for your inspired suggestion. It's a good idea to get some information which I need. But for file size, it's not defined in header for some media, and content-length may not mean the whole size of the media.

[2017-04-04 03:19] Teviz commented on #2638
@ojw28
I admit that file size is no sense in most situations, and for my original use case, there are other ways to achieve it. I'm just some obsessional with the property in response which I can't easily get and interested in discussing it.

I agree that file size make sense only in on-demand media, but I also found that getDuration method works in separate files media and returns the duration of

[2017-04-04 07:22] ghost opened #2643 "Implement full offline support for DASH/HLS/SS/Misc"
Hi,

Is download and/or progressive download of adaptive streaming presentations a feature that is planned for ExoPlayer?

Note I am referring to 'up front' acquisition  of the content rather than local HTTP caching.

Thanks.

[2017-04-04 08:26] slezadav commented on #2637
I have different trace from the same line
Fatal Exception: java.lang.InternalError: bad sparse switch magic
       at com.google.android.exoplayer2.audio.AudioTrack.processBuffers(SourceFile:816)
       at com.google.android.exoplayer2.audio.AudioTrack.handleBuffer(SourceFile:779)
       at com.google.android.exoplayer2.audio.MediaCodecAudioRenderer.processOutputBuffer(SourceFile:366)
       at co

[2017-04-04 08:29] slezadav commented on #2637
And another one
Fatal Exception: java.lang.NoSuchFieldError: windowNoTitle
       at com.google.android.exoplayer2.audio.AudioTrack.processBuffers(SourceFile:816)
       at com.google.android.exoplayer2.audio.AudioTrack.handleBuffer(SourceFile:779)
       at com.google.android.exoplayer2.audio.MediaCodecAudioRenderer.processOutputBuffer(SourceFile:366)
       at com.google.android.exoplayer2.media

[2017-04-04 08:38] ojw28 commented on #2638
It's still somewhat unclear exactly what your use case is. Clearly describing a valid use case might motivate someone to take a look. Without a clearly described or possibly invalid use case this is less likely. Marking this as an enhancement for tracking, in any case.

[2017-04-04 08:59] erdemguven commented on #2643
Hi @kidmiracleman, yes we're working on DASH downloading currently. It should be published in a few weeks. HLS and SmoothStreaming support will follow.

[2017-04-04 09:49] #2634 closed, assigned to nobody

[2017-04-04 10:15] shysh opened #2644 "Local file with # in uri path"
In FileDataSource class method open() use construction:

 file = new RandomAccessFile(dataSpec.uri.getPath(), "r");

but if  local media file has in uri path symbol # throws java.io.FileNotFoundException

Uri syntax: [scheme:]scheme-specific-part[#fragment]

Sample path: /storage/sdcard1/Music/SARIIN/ICP Tapes # 1.mp3

[2017-04-04 10:30] slezadav commented on #2637
One more info, all the devices reporting crash on this line are rooted.

[2017-04-04 10:46] AquilesCanta commented on #2644
This is not an ExoPlayer issue. Try stack overflow. I'd try %23 as in

`/storage/sdcard1/Music/SARIIN/ICP Tapes %23 1.mp3`

[2017-04-04 10:46] #2644 closed, assigned to nobody

[2017-04-04 10:50] satyres opened #2645 "How to retrieve bytes read online stream from Exoplayer after / before being played ?"
Hi , First thank you for this awesome library.
please if you don't mind i want to know how can i retrieve bytes read from Explayer after / before being played ?
i've looked at **ByteArrayDataSource** but i can't understand how to deal with it and how to use it with the player.
Kind regards

[2017-04-04 10:50] shysh commented on #2644
Thanks

[2017-04-04 11:51] valdeir2000 commented on #2639
It really was my mistake (logic error). I'll explain my situation.

I'm building the audio player. It turns out that I'm creating a custom notification with the buttons (previous, play, pause and next).

The problem is that I can not give the "next" command. So I decided to do it the following way.

[code]

After all, how to change the mediaSource (Next or Previous)?

![](https://s11.postimg.org/w

[2017-04-04 12:53] go2hyder commented on #1265
[https://github.com/frontyard/cordova-exoplayer-plugin](https://github.com/frontyard/cordova-exoplayer-plugin)

Its working fine

[2017-04-04 13:01] ghost commented on #2643
@erdemguven   Thank you for the update. Looking forward to the release...

[2017-04-04 13:10] #2514 closed, assigned to andrewlewis

[2017-04-04 13:18] otefhg commented on #2514
The buildAacAudioSpecificConfig fix is not necessary , thanks again.

[2017-04-04 13:22] andrewlewis commented on #2514
Cool. Thanks for reporting this!

[2017-04-04 15:14] andrewlewis commented on #2561
@needz, please try the following:

[code]
Note: It seems to be necessary to disable using assembly (`--disable-asm`) for 32-bit x86, due to an issue with text relocations.

Also, include x86 in the `APP_ABI` when building the JNI code:

[code]

I plan to update the extension's README to include these instructions soon.

[2017-04-04 15:32] andrewlewis commented on #2639
If you prepare the player once with a `ConcatenatingMediaSource`, you can then seek to different sources using `player.seekTo(windowIndex, positionMs)`, where `windowIndex` is the index of the source in the concatenation to seek to. For an example, please refer to [PlaybackControlView.previous/next](https://github.com/google/ExoPlayer/blob/361241f/library/src/main/java/com/google/android/exoplayer

[2017-04-04 16:01] ojw28 commented on #2637
As per above, this does not appear to be an ExoPlayer issue. The stack traces do not make sense. They reference line numbers and imply the existence of dependencies like ExoPlayer -> Base_Widget_AppCompat_ActionBar_TabBar that don't exist. If these devices are running a custom Android build, then given what you're seeing it's likely the Android build is broken.

[2017-04-04 16:01] yanivlankry opened #2646 "request offline viewing license for local asset"
### Issue description
Fail to process local storage MPD file - DashUtil.loadManifest is not suitable to process local storage file.
DashUtil.loadManifest  is handling only input streaming - used for network , while local files should use FileInputStream

### Reproduction steps
Download Asset to my local storage.
Request offline  viewing license.
See app crash report blow.

### Link to test content

[2017-04-04 16:08] zishanj opened #2647 "Removing view does not remove ExoPlayer from layout"
I am adding `SimpleExoPlayerView` programmatically during runtime and removing it later using `removeViewAt`. The problem is, it does not get completely removed from the layout. I have checked the debug and after `removeViewAt` it completely removes it from the memory, but it does not seems to refresh the layout automatically. If I use `removeAllViews`, then it removes all other views and refreshe

[2017-04-04 16:30] ojw28 commented on #2643
Let's use this as an overall tracking issue for offline support.

[2017-04-04 16:50] ojw28 commented on #2647
Does the same issue occur if you add and remove a regular `Surface` instead of `SimpleExoPlayerView`? If so this is not an ExoPlayer issue, and so I'd recommend filing a bug on the Android issue tracker and/or asking on StackOverflow.

Aside: Please fill in the issue template properly. It's unclear whether this is device specific, for example. Thanks!

[2017-04-04 16:50] #2636 closed, assigned to nobody

[2017-04-04 18:09] stellabei opened #2648 "Failed to handle key response: DRM vendor-defined error: -2902"
### Issue description
This issue started to happen when user upgraded their Android OS from M (6.0.1) to N (7.0). Either their download or steaming video does not play anymore due to this DRM problem.
We'd like to know what this error code means at least. Thank you!

### Reproduction steps
It is hard to reproduce since it involves a system upgrade

### Link to test content
email the link to
dev.ex

[2017-04-04 19:51] valdeir2000 commented on #2639
Perfect! Thank you very much.

[2017-04-04 19:59] jazimm opened #2649 "How to show vtt subtitles from link in m3U8 HLS stream"
### Issue description
Not able to find procedure for displaying vtt subtitles using Exoplayer v2.3. Link to vtt file is included in m3u8 link, so the link to the subtitle file is unknown and cannot be added using the method mentioned in issue #2017 where the link is included as a parameter in the SingleSampleMediaSource object. In the demo app the subtitle can be turned on in the TrackSelectionHel

[2017-04-04 21:35] cyclonmaster-zz commented on #1265
Wah! Thank you for the note

[2017-04-04 22:06] #2639 closed, assigned to nobody

[2017-04-05 04:35] zishanj commented on #2647
The only temporary solution that exists is to hide it.

P.S This issue is not device specific.

[2017-04-05 07:03] ptran-gpfw commented on #2409
@ojw28 Hi Oliver, just wondering if you had any thoughts on the approach described above, thanks!

[2017-04-05 07:34] mossc commented on #2630
@Avetri

I had dumped the streaming data from transmitter, please reference to the attachment.
[dump.out.zip](https://github.com/google/ExoPlayer/files/895418/dump.out.zip)

Check the dump file through MediaInfo:
![mediainfo](https://cloud.githubusercontent.com/assets/13825672/24733449/61c9879a-1aaa-11e7-9861-d8b27157e6e3.PNG)

Thanks

[2017-04-05 08:27] kiall commented on #2552
Hey guys, anything you need from me to confirm this issue etc? Thanks!

[2017-04-05 09:02] AquilesCanta commented on #2552
Sorry for the delay on this. I think I know what the issue might be. I'll run some tests and update this issue.

[2017-04-05 09:04] kiall commented on #2552
Awesome, thanks @AquilesCanta :)

[2017-04-05 10:52] erdemguven commented on #2646
@yanivlankry this should be fixed when the latest changes published to GitHub.
If you wish, until then you can load local and online manifests with:
[code]

[2017-04-05 10:55] AquilesCanta commented on #2649
I am a bit confused about what the issue is.

Assuming the m3u8 file you mention is a master playlist, there should be no actual vtt files referenced there, but rather a media playlist, which in turn points to the vtt files. You can have a look at HLS media samples with VTT subtitles in the demo app.

Selection overrides are an alternative `DefaultTrackSelector` parameters. Subtitles should be ena

[2017-04-05 12:38] yanivlankry commented on #2646
thank you , i'll try

[2017-04-05 13:31] mkaflowski opened #2650 "Setting FLAG_ENABLE_CONSTANT_BITRATE_SEEKING for SimpleExoPlayer"
How can I set FLAG_ENABLE_CONSTANT_BITRATE_SEEKING for Mp3Extractor? I cannot find any example.

[2017-04-05 13:38] AquilesCanta commented on #2650
I guess you are using an `ExtractorMediaSource`. In that case, one of the constructors has an `ExtractorsFactory` argument. You can implement your own factory that constructs an `Mp3Extractor` with the flag on.

[2017-04-05 13:38] #2650 closed, assigned to nobody

[2017-04-05 13:39] AntonAFA opened #2651 "Issue with HLS text format."
Hello after upgrading to exoplayer 2.3 I started to have following issue. As i see it happens with all the HLS sources. When receiving Tracks data, there is always an additional text track with id: 1/8219 and application/cea-608 value. It is also reproducible in your demo application. In any case, i wanted to understand what is the use-case for this text track and is it a bug?

[2017-04-05 13:40] mkaflowski commented on #2650
I have made that (almost like DefaultExtractorsFactory):
[code]

Is that a good way to do that?
How can make it without ExtractorMediaSource?

[2017-04-05 13:48] AquilesCanta commented on #2651
It has been this way since the beginning of time (or at least since Exo V1). What did change recently is that we assign an id to the track. We proactively declare a 608 track (service 1) because, as you can observe in the Apple sample HLS stream, the manifest does not always declare the CC service. TSs could also declare the track through a caption service descriptor, but often they don't.

The id

[2017-04-05 13:48] #2651 closed, assigned to nobody

[2017-04-05 13:55] AquilesCanta commented on #2650
Not the best, in my opinion. You probably don't need all the extractors. If you are only playing mp3 files, you just need the mp3 extractor. You don't need reflection either. Something like this should be enough:

[code]

But it depends on your application. This issue tracker is intended for bugs and feature requests. Please direct any further questions to a programming Q&A, like stack overflow.

[2017-04-05 14:29] AquilesCanta commented on #2649
Just a clarification, which @ojw28 pointed out: The DefaultTrackSelector only enables text tracks by default when they declare the preferred language (as defined by the selection parameters), when they are marked as DEFAULT, or as FORCED. This is the case of Apple 16x9 basic stream, so you can look into this in the demo app. But keep it in mind in case your media does not meet these criteria.

[2017-04-05 15:02] b0g8 opened #2652 "In playlist, consecutive renderers getting data from SingleSampleMediaSource get the "onStreamChanged" callback too soon"
### Issue description
I have a playlist with several consecutive media, rendered by a custom renderer, getting data from SingleSampleMediaSource (read once the data, and display it for several seconds, according to parameters of SingleSampleMediaSource). The onStreamChanged callback is triggered several times during first media, with corresponding offsets(for each of them). The problem seem to ari

[2017-04-05 16:24] rafaeladel opened #2653 "Fire an event at a particular playback interval."
I'm wondering If there's an ability to fire an event every, say 30 seconds. I've searched in the issues for that and I found [issue](https://github.com/google/ExoPlayer/issues/1472), that says I should extend `TrackRenderer`.

I've searched for that class, didn't find it. But I've found `MediaCodecAudioRenderer`, Is that the class to be extended although I don't see where the event listener to be

[2017-04-05 19:22] needz commented on #2561
@andrewlewis thanks! Here's what I get after the last command:

[code]

Any chance to fix it somehow? the armeabi-v7a build went fine before this. I see the **--disable-swresample** in x86 config (which is not included in armeabi-v7a config), maybe it influenced this somehow? What is this option for?

[2017-04-05 19:36] andrewlewis commented on #2561
@needz, please try removing libswresample from `LOCAL_SHARED_LIBRARIES` in `Android.mk` and rerunning the command.

Sorry for the confusion -- while testing the instructions for x86 I removed libswresample as it's not needed when using libavresample. I intended these instructions to be standalone but missed out that part of the change.

[2017-04-05 19:57] needz commented on #2561
@andrewlewis, thanks, I ended up removing the **--disable-swresample** (since I didn't want to modify Android.mk) and it worked. I can now normally use ExoPlayer in Android Studio emulator.

[2017-04-05 20:16] jazimm commented on #2649
Thanks for the reply. Yes you are correct there are not vtt files referenced in the master m3U8 file, just the URI pointing to the files. Subtitles "Default" and "FORCED" it set to NO as we only wish to turn them on programmatically  if the user has captions turned on in the device settings. Otherwise we don't want to display captions for users who don't require them. We also plan to have other la

[2017-04-05 20:51] Jogan commented on #2371
@SteUK Did you ever achieve this? I am trying to implement dynamic rendition support so that given a list of tracks with various resolutions and bitrates; we can seamlessly switch to higher or lower quality tracks on the fly if the user's connection changes.

[2017-04-05 21:54] mahjiang opened #2654 "Using 2.3.1 but no GVR Extension"
I am trying to use the ExoPlayer GVR extension included in versions 2.3.0 and 2.3.1 (as promised here https://medium.com/google-exoplayer/spatial-audio-with-exoplayer-and-gvr-cecb00e9da5f), but I can't seem to import the class into my project.

My gradle looks like this:
dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    compile 'com.android.support:appcompat-v7:23+'
    comp

[2017-04-05 22:15] #2654 closed, assigned to nobody

[2017-04-05 22:15] mahjiang commented on #2654
For others who run into this issue, check out this link: https://github.com/google/ExoPlayer/tree/release-v2/extensions/gvr

[2017-04-06 06:26] thackerronak commented on #2441
I'm also facing same issue @s-a--m, have you got any solution?

[2017-04-06 09:04] AquilesCanta commented on #2649
In that case, probably something like:
[code]
This should be made effective immediately. I hope this helps.

[2017-04-06 09:04] #2649 closed, assigned to nobody

[2017-04-06 09:55] yiShanXin commented on #1539
@yangwuan55  By seekTo () to specify the time to play, getCurrentPosition () gets the time to be incorrect

[2017-04-06 10:07] andrewlewis commented on #1539
Note: we recently pushed support for playback speed adjustment to `dev-v2`. Please see the recent updates to #26 for more information.

[2017-04-06 10:45] ojw28 commented on #2649
To answer the original question: Using selection overrides is absolutely fine, and is the recommended approach if you want to select a specific track.

The parameters based approach @AquilesCanta outlines is good/better if you want to select a track based on rules (e.g. "I want to enable the Spanish track" in the example above). It's simpler because you don't have to look at the details of each tr

[2017-04-06 10:55] ojw28 commented on #2189
Marking this as a general enhancement to support triggers are certain positions in the media. It's unclear whether that's really what the original poster wants, but request was never clarified.

[2017-04-06 10:56] ojw28 commented on #2653
It should be pretty easy to write your own piece of code that looks at the playback position and fires events at specified times. It's not something you *need* the player to do for you. Having the player do it for you anyway for convenience is tracked by #2189.

[2017-04-06 10:56] #2653 closed, assigned to nobody

[2017-04-06 17:42] ojw28 commented on #2645
What do you intend to do with the data once you've retrieved it?

[2017-04-06 17:42] #2646 closed, assigned to erdemguven

[2017-04-06 17:44] ojw28 commented on #2646
This is fixed already in `dev-v2`. `OfflineLicenseHelper` no longer has a dependency on `DashUtil`.

[2017-04-06 17:49] ojw28 commented on #2652
This is working as intended. Some renderer implementations are pipelined (i.e. have a certain amount of internal buffer). If we were to wait for the first piece of the media to fully play out before moving to the next, that would require completely emptying the renderer pipelines. This in turn would result in stuttering at the point of transition. It would also break gapless audio playback.

I'm n

[2017-04-06 17:49] #2652 closed, assigned to nobody

[2017-04-06 19:45] jazimm commented on #2649
Thanks guys, that's exactly what I needed. Would be great to include that in the demo as well. Much appreciated.

[2017-04-06 21:17] jclova opened #2655 "getCurrentPosition() sometimes returnes 0 when the video is in "pause" state"
### Issue description
I am calling player.getCurrentPosition() to store current position before onPause() is called. However, it sometimes returns 0 (when the video is paused) so the player starts from the beginning when the app resumes.

### Reproduction steps
1. Seek to somewhere in the middle of the video. (I am testing HLS streaming)
2. Pause the video
3. Press power to turn off the screen and

[2017-04-06 21:49] ojw28 commented on #179
DVB support has been added in https://github.com/google/ExoPlayer/pull/1781 and cleaned up in https://github.com/google/ExoPlayer/commit/156bc52c8f73154bd847c352acb9227324ff7301.

Is there anything else to do here, or can this issue be closed?

[2017-04-06 22:15] needz commented on #2561
@andrewlewis, thanks for fixing the FFmpeg extension instructions for several platforms, it worked great out of the box.

[2017-04-06 22:16] ojw28 commented on #2561
Thank @andrewlewis (if you look at the change you'll see I'm not the author, just the one who pushed it :)).

[2017-04-06 22:25] needz commented on #1894
@ojw28, sorry to bother you, but do you think it's somehow possible to add an easy way to pass FLAG_ALLOW_NON_IDR_KEYFRAMES argument in ExtractorMediaSource or DefaultExtractorsFactory to avoid building complex custom ExtractorsFactory etc., since it's the only thing I have to change in the library for many TS streams to work?

[2017-04-07 09:32] botondbutuza commented on #2533
@ojw28 Sorry mate, any update/thought/views on this?

[2017-04-07 10:39] Avetri commented on #2630
@mossc @ojw28
Issue #1002 strikes back.

[2017-04-07 10:54] ojw28 opened #2657 "Make it possible to pass Mp3 / FMP4 / TS extractor flags through DefaultExtractorsFactory"
As per title.

[2017-04-07 10:55] ojw28 commented on #1894
Filed https://github.com/google/ExoPlayer/issues/2657.

[2017-04-07 12:11] Endmaril opened #2658 "Selecting multiple video tracks for a video renderer"
Hi,

I know that DASH-SRD support is not provided and not planned, thus i'm currently trying to implement it in a decent way into exoplayer 2. The purpose of the implementation is to be able to playback a tiled video described with DASH-SRD.

I am currently struggling to find a proper way to render the video. I'd like to avoid instantiating one renderer per tile because each of them will in turn i

[2017-04-07 14:44] ojw28 commented on #2533
Not really, sorry. You'll probably have to do some more digging yourself. Maybe if we were to report the presentation timestamp of the rendered frame via onRenderedFirstFrame, you'd be able to compare that against the current playback position. When the playback position starts to exceed the presentation timestamp you'll know that frames are being rendered regularly. You could try making that chan

[2017-04-08 03:07] platinum7919 opened #2659 "Implement volume controlling AudioProcessor, with independent control of channel volumes"
I need a way to switch left and right audio volume separately. Similar to
https://developer.android.com/reference/android/media/MediaPlayer.html#setVolume(float, float)
Currently, I can't find a way to do this in Exoplayer

Using exoplayer2.3.1
Using android 6.0.1+

[2017-04-08 03:22] nhjm449 commented on #355
@ojw28: This is old, and I have no idea if this is/was an actual issue, but I'd like to point out that the reason your `curl` command failed is that you did not quote the URL, causing your shell to interpret the `&` as a request to run the process in the background, so the entire `sig` parameter was not submitted to the remote server. (Sorry for poking an old issue!)

[2017-04-08 13:28] ChernyshovYuriy opened #2660 "AdaptiveTrackSelection stays on the highest variant"
Dear colleagues,

Please correct my approach if I provide it in a wrong way.
The task is to do dynamic selection within provided video variants on the throttled network.
I use DASH clear content with many variants available:
[code]
I slightly modify ExoPlayer Sample app.
1. TrackSelectionHelper.java
    Make modifier **public**
[code]
2. PlayerActivity.java
[code]
Then, I use Android Emulator, bec

[2017-04-08 22:14] davinctor opened #2661 "VP9 build fails for some ABI (ndk r14b)"
Hi, all.

Try to compile VP9, and receive errors on two steps.
Firstly, I receive an error while configuring:
[code]
The error is on configuring vp8, possible I can ignore it, but want to mention it.
[code]

Second problem is blocking to compile sources for `armeabi`:
[code]
And also I receive errors for `mips`:
[code]

Also, I have to install `gcc-multilib` refered to [this issue](https://github.

[2017-04-09 06:27] ram992 commented on #2655
This problem is there even in 2.2.0, can some one post a fix for this

[2017-04-09 06:42] ram992 commented on #2643
So, are you going to release any offline donwload manager kind of thing

[2017-04-09 10:51] kiall opened #2662 "Add a `release()` method to the DataSource interface"
### Issue description

DataSource's have no mechanism to release resources that must persist across seek's, but won't close automatically or be GC'd.

In my case, I have a custom DataSource to speak TVHeadend's custom TCP protocol. This connection is opened by the DataSource, and must persist across seeks, however, as a seek calls `close()` followed by `open()` with a non-zero `dataSpec.position`,

[2017-04-09 21:54] ZuZuK opened #2663 "ID3 metadata COMM frame with size<4 decoding error"
### Issue description
I found some *.mp3 tracks where ID3 metadata contains COMM frame with frameSize=1. In that case `Id3Decoder` throws `NegativeArraySizeException` on parsing such frame.
As I understand it's not illegal to set such data into COMM so player can just skip such frame as it's frameSize is only 1 byte. Other players have no problems with playing such files.

### Reproduction steps
J

[2017-04-10 02:41] WeiChungChang commented on #2660
Hi @ChernyshovYuriy

Network Type Full, Signal Strength Good
Once video started it switched to highest variant and play
Change network to Type GPRS, Signal Strength Moderate
Observe video stoped on the highest variant and State is Buffering for a long time, until buffer is full, then it play buffered data and behave the same way again

Observe video stopped on the highest variant and State is Buff

[2017-04-10 06:35] workspace commented on #2643
Can you give me a hint as to what interface you are providing to show the progress of the download?

[2017-04-10 07:28] workspace commented on #26
I've applied the new playback speed control on the dev-v2 branch, but the sync of video and audio did not fit well. I wonder if you are aware of this problem. (x2)

[2017-04-10 07:30] escamoteur opened #2664 "How can I preload multiple Videostreams before playing them"
Hi,

I need to be able to preload/prebuffer mutiple video streams (standard mp4 streams) before playing them so that they will start instantly. I need to be able to that while another Video is playing.
Is this possible with Exoplayer? How do I do that?

Thanks a lot for this great library!

Best
Thomas

[2017-04-10 08:08] andrewlewis commented on #26
@KiminRyu I'm not aware of any issues with audio/video synchronization. If you file a new issue including steps to reproduce the problem we will take a look. Thanks.

[2017-04-10 08:24] erdemguven commented on #2643
@ram992 yes there will be a download manager.

@KiminRyu There will be a listener interface and broadcast events depending on the download method you use. int totalSegments, int downloadedSegments, long downloadedBytes are provided but this might change.

[2017-04-10 08:28] ojw28 commented on #2659
The stereo variant for setting volume was deprecated in the platform, at least on AudioTrack. See [here](https://developer.android.com/reference/android/media/AudioTrack.html). I do wonder what the recommended approach is though. @andrewlewis - Any ideas?

[2017-04-10 08:33] ojw28 commented on #2660
I think your approach is wrong. Why are you setting the override every time the player reports that it's ready, as opposed to just setting it once?

The ExoPlayer demo app does quite a good job of demonstrating the ability to select a subset of tracks for adaptation. You can select the subset you want under the "Video" button in the demo. I'd suggest you take a look at the calls being made there.

[2017-04-10 08:45] Avetri commented on #2659
@ojw28  Separated volume control for stereo channels is an often requirement of TV operator for its boxes.
Based on the old technique for analogue TV. As example English and Spain tracks were broadcasted in the same audio track in different channels for southern states of USA.

[2017-04-10 08:49] sanandrea commented on #2632
Hi @ojw28 I finally managed to have a [working test stream](http://csm-e.cds1.yospace.com/csm/extlive/skydeprd01,263032-test01hls.m3u8). I have tried with the latest ExoPlayer (release-v2 @ 2.3.1) and still have a problem related to timedMetaData. I am attaching the log
[sample_app_error_timedmetadata.log.zip](https://github.com/google/ExoPlayer/files/909368/sample_app_error_timedmetadata.log.zip)

[2017-04-10 09:16] kneep commented on #613
Is there any update for this issue? I ran into the same problem. In most cases the framework chooses the right decoder. But sometimes, maybe for debug purpose, we need to switch to a specific decoder to see if it behaves the same as another decoder. I think currently it is possible but not that easy. Codec selectors are tightly coupled with the constructor of SimpleExoPlayer, which makes it hard t

[2017-04-10 09:36] andrewlewis commented on #613
In ExoPlayer 2, it should be quite straightforward to subclass SimpleExoPlayer and override buildVideoRenderers/buildAudioRenderers to pass your own implementation of MediaCodecSelector to the renderer constructors. This should be very little extra code, especially if you miss out the code for building extension renderers.

[2017-04-10 10:40] ram992 commented on #2643
Wow, but I had to implement all these things on my own,
but thanks for inducing such incredible features, might help other fresh exo guys to use them.

Can you say anything on when to expect the download Manager. Casue I want to use that.

[2017-04-10 10:49] AquilesCanta commented on #2552
A fix will be available in the next push.

[2017-04-10 10:51] ChernyshovYuriy commented on #2660
@ojw28 , I use this simple approach jut to show you that using **public API** I am not able to get dynamic variants selection. While ExoPlayer does an excellent dynamic selection using approach introduced in Sample App, usage of this particular public API (set a range of variants instead of only one, like it was prior to version 2.X) does not provide expected behavior.
Meanwhile, suppose I need to

[2017-04-10 10:54] ojw28 commented on #2660
I'm quite confused about what you're trying to do. What is the difference between what you're trying to do and what the demo app successfully does? Or are you saying that the feature is broken even in the demo app?

[2017-04-10 11:02] ojw28 commented on #2655
Are you certain `player.getCurrentPosition()` is returning 0? If you've replicated the logic in the demo app, is it possible that the real issue is `player.isCurrentWindowSeekable()` returning false?

I was able to reproduce a couple of times in the demo app, but the problem in that case was `player.isCurrentWindowSeekable()` returning false. This occurs if the steps are performed so quickly that

[2017-04-10 11:14] ChernyshovYuriy commented on #2660
Ok, let's consider simple use case.
There are 8 [0, ..., 7] video variant available in provided example.
Suppose I need to limit player to use only middle range, let's say [2,3,4,5]
Or, i need to limit player to play only lowest ones [0,1,2].
Previously, in version 1.5.x, I was able to set a concrete variant from the list.
Since 2.x, public API provide a way to specify a set of variants rather the

[2017-04-10 11:24] ChernyshovYuriy commented on #2660
@ojw28 , I am seeing ExoPlayer example does it in a different way.
Let me try to apply logic that your example does. Thanks for bringing my attention to sample code once again.
I will provide feedback as soon as possible.

[2017-04-10 11:27] b0g8 commented on #2652
Thanks.

[2017-04-10 11:30] AquilesCanta commented on #2632
I might be wrong, but I think the chunks are hosted in a different server than the playlist, and it's giving me a 403. Can you fix it?

[2017-04-10 12:21] erdemguven commented on #2643
@ram992 Sorry I can't as it's hard to estimate at the moment.

[2017-04-10 13:41] ChernyshovYuriy commented on #2660
Ok, here is update.
Without any code changes, and given test scenario provided originally, when select all variants like shown in the image attached, once variant reached its highest value (6M) and network started throttled, the variant stays on the 6M for a long time with a state "buffering".
The question is - do I misunderstand a concept of dynamic variants selection within a range or is there a

[2017-04-10 14:43] ojw28 commented on #2660
I think the problem is that the "GPRS moderate" profile appears to be way too bad for pretty much anything. With that profile enabled, it took >4 minutes to load a single fairly simply web page in Chrome.

For ExoPlayer, it appears that the requests time out due to the poor quality of the connection. Under these conditions our bandwidth estimate doesn't get updated because we're not successfully l

[2017-04-10 15:12] rimeissner commented on #1846
Hey @ojw28,
I experience a similar issue (tested on multiple Pixel devices with Android 7.1.1 and a Nexus 5X withAndroid 6.0.1). The cause for us is that the LoopingMediaSource doesn'T seem to handle it well when the audio track is shorter than the video track (I assume it causes a problem, as the audio track is the primary clock). As seemless looping is not a major requirement for us, the current

[2017-04-10 16:42] ojw28 commented on #2604
Pretty sure the issues here are fixed in `dev-v2`. Please give it a try. Yet more robustness fixes will arrive as a result of https://github.com/google/ExoPlayer/issues/2663.

[2017-04-10 16:42] #2604 closed, assigned to nobody

[2017-04-10 16:54] Zyphuris55 commented on #2604
Yup, issue is fixed and media plays. Any update on when it would be moved into release for maven/bintray access? (as opposed to building locally; company doesn't like using a local aar, even if unchanged from master)

[2017-04-10 18:25] ChernyshovYuriy commented on #2660
Going to close this issue because track selector works as expected.
Thank you guys for all input provided!

P.S.
Whoever is wondering why this ticket was open - I tested dynamic selection on LecoTV, device that requires high bandwidth to play HD and UHD content.

[2017-04-10 18:25] #2660 closed, assigned to nobody

[2017-04-10 19:45] SourceDoctor opened #2665 "Implement MP2 audio support for HLS"
Some Stream URIs delivers mp2 Audio in HLS Stream.
Exoplayer says it cannot be decoded, so there is no sound.
It would be very nice to be implemented.

[2017-04-10 20:06] baq opened #2666 "ExoPlayer integration with Android Media Session/Controller"
Hi,

I've been searching for examples or demos that integrate ExoPlayer2 with Android's Media Session and Controller interfaces.  The demo example included with ExoPlayer2 does a great job of showing how to use SimpleExoPlayer and its associated view to get up and running but my use case is a bit more complicated, and requires the ability to control Exoplayer from Android Wear and Auto, which requ

[2017-04-10 21:35] ayeshq opened #2667 "How can ExoPlayer force to do a limited playback / preview only ?"
I want to force ExoPlayer to do a limited playback or a preview only from an HlsMediaSource video.
The video could be more than one hour long, but in special cases I only need to do a preview for just 2 minutes or less.

ExoPlayer can return the video duration, but doesn't not allow changing it !

Is there a simple to do this ?

[2017-04-11 02:10] mossc commented on #2630
@Avetri
It seems really something happened on that TX device.
Thanks!!

[2017-04-11 05:37] bnussey commented on #420
Hey @erdemguven was the DASH downloader released? Can't seem to find it.

[2017-04-11 05:40] shailesh-fusionitechnology opened #2668 "How to detect live streaming vs VOD in ExoPlayer"
Is there is any method available right now for distinguish between live streaming and VOD?

I have already seen track [#2099](https://github.com/google/ExoPlayer/issues/2099) that is posted on dated Nov 23, 2016. On that time there is no such method available for distinguish between live streaming and VOD.

Since the above post is almost 5 months old. Now I want to conform that **Is there is any m

[2017-04-11 08:07] andrewlewis commented on #2667
Prepare the player with a [ClippingMediaSource](https://github.com/google/ExoPlayer/blob/25a966dc2300161448fa74dee5ee98322ff65604/library/src/main/java/com/google/android/exoplayer2/source/ClippingMediaSource.java), passing the source you want to clip and the start/end times to its constructor: `player.prepare(new ClippingMediaSource(hlsMediaSource, 0, 120 * C.MICROS_PER_SECOND));`.

[2017-04-11 08:07] #2667 closed, assigned to nobody

[2017-04-11 08:44] BurakDurmus opened #2669 "exoplayer subtitles are disappearing when the subtitle come across to start of minute. Ex: 03:00, 25:00 etc. How can i fix this problem."

[2017-04-11 08:46] erdemguven commented on #420
@bnussey we decided to release it once the downloader service and manager are ready as major api changes might be necessary. It's hard to give an estimate now. You can follow it on #2643.

[2017-04-11 09:11] ojw28 commented on #2669
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-04-11 09:11] #2669 closed, assigned to nobody

[2017-04-11 09:12] ojw28 commented on #2668
As described in the issue you reference, you can use [isCurrentWindowDynamic](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#isCurrentWindowDynamic--) for this.

[2017-04-11 09:14] ojw28 commented on #2666
I'm not aware of any examples. The level of abstraction you're looking at is probably higher than anything we do directly on the ExoPlayer team. I suspect you'd find people with the ability to help on StackOverflow (or similar).

[2017-04-11 09:17] bivenik opened #2670 "ANR after multiple releasing and playing on Sony Bravia"
Hello.

I've implemented exoplayer in my android tv application for playing clear and ecnrypted content. I have a screen with array of live channel (some of them encrypted, other clear) and surfaceView. When I fast switching between them (new channel start playing after delay of 1 second of staying on it) I get ANR:

So seems main thread is blocked.
I close the app and TV becomes almost unresponsi

[2017-04-11 09:20] yurabuloichik opened #2671 "TS live can't play on ExoPlayer but can on android.media.MediaPLayer"
HTTP-TS  http://217.19.222.11/415/1491892262   can't play on ExoPlayer, but it can be played using android built in MediaPlayer. I tried it on plenty of devices and have no success (Nexus 5, Nexus 6, Nexus 7(2012), Galaxy Tab 3 10.1).
Also I've read this issue https://github.com/google/ExoPlayer/issues/1894  but setting flag FLAG_ALLOW_NON_IDR_KEYFRAMES gives no result.

I am using ExoPlayer r2.3.

[2017-04-11 09:26] swinder0161 opened #2672 "[HLS] How to avoid decoder deinit/init on resolution change"
### Issue description
I am using simple exoplayer.
Everytime the resolution changes, I see mediacodec decoder is freed and created again.
This shows a glitch in video playback which is quite visible.
Ideally since decoder has advertised adaptive playback feature in media_codecs.xml, the decoder shouldnot be released and created again, infact portsettingschange event should be used to deallocate bu

[2017-04-11 09:47] ojw28 commented on #2672
We already avoid decoder release and re-initialization if the codec advertises that it's adaptive. Furthermore, Android 6.0.1 requires decoders are adaptive according to the [Android CDD](https://source.android.com/compatibility/6.0/android-6.0-cdd.pdf). See section 5.3:

standard Android APIs within the same stream for all VP8, VP9, H.264, and H.265 codecs in real time
and up to the maximum resol

[2017-04-11 09:48] ojw28 commented on #2670
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-04-11 09:48] #2670 closed, assigned to nobody

[2017-04-11 09:58] swinder0161 commented on #2672
The mediacodec.xml is something like
[code]

I added Feature name="adaptive-playback"

Now I think it should be added per type, like
[code]

Will this solve my problem? I will try to test it after few hours.

[2017-04-11 10:05] ojw28 commented on #2672
Don't think so. Looks like it's in the right place already. It does looks strange that a single codec component apparently supports *all* of those types.

[2017-04-11 10:08] ojw28 commented on #2671
Using `FLAG_DETECT_ACCESS_UNITS` worked for me.

[2017-04-11 10:11] ojw28 commented on #2665
The underlying platform does not provide support for MP2. It doesn't look like MP2 is allowed in the HLS spec, either. It might be possible to use the FFmpeg extension to play MP2 inside raw TS (not sure about the HLS case).

@andrewlewis - Is there a reason MP2 isn't listed as an option for FFmpeg [here](https://google.github.io/ExoPlayer/supported-formats.html)?

[2017-04-11 10:21] andrewlewis commented on #2665
Looks like the `mp3` decoder supports audio/mpeg-L2, so it should be added.

[2017-04-11 10:25] ojw28 commented on #2672
Closing since this seems like a custom ROM issue. You should contact whoever provides the ROM should you require further help working out what the codecs xml file should contain.

[2017-04-11 10:25] #2672 closed, assigned to nobody

[2017-04-11 11:16] ojw28 commented on #2663
Fixed in `dev-v2`.

[2017-04-11 11:16] #2663 closed, assigned to nobody

[2017-04-11 11:16] ojw28 commented on #1975
Fixed in `dev-v2`. Please give it a try!

[2017-04-11 11:16] #1975 closed, assigned to AquilesCanta

[2017-04-11 11:17] ojw28 commented on #2552
Fixed in `dev-v2`. Please give it a try!

[2017-04-11 11:17] #2552 closed, assigned to AquilesCanta

[2017-04-11 11:18] chaocharleswang opened #2673 "Can it be used as PlayerFragment?"
I tried the demo with PlayerActivity. Can I use it as PlayerFragment calling from the other fragment?
If so, can it also support fullscreen?

[2017-04-11 11:29] ojw28 commented on #2647
I made a minimal change to the demo app to test this. The change I made was to `PlayerActivity`. I stashed `rootView` as a member variable and modified `onClick` to remove the view using `rootView.removeViewAt(rootView.indexOfChild(simpleExoPlayerView));` if one of the buttons is pressed. I also gave `rootView` a bright background color so it's obvious when views above it have been removed properl

[2017-04-11 11:29] #2647 closed, assigned to nobody

[2017-04-11 11:31] ojw28 commented on #2671
Note: Providing an easy way of specifying the flags is tracked by https://github.com/google/ExoPlayer/issues/2657.

[2017-04-11 11:31] #2671 closed, assigned to nobody

[2017-04-11 13:36] shailesh-fusionitechnology opened #2674 "Unable to play some live stream video Url"
Why some live Stream URL is not playing in ExoPlayer? where as these live Stream URL easily play on other media player like VLC.
When these live stream URL is try to play with ExoPlayer, it gives following error

`com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 302 `

Why this error is occurring?

[2017-04-11 13:42] ChernyshovYuriy commented on #2674
It would be good if you can provide URL to test on, some examples? It is incomplete report otherwise.

[2017-04-11 13:43] ojw28 commented on #2674
What @ChernyshovYuriy said. Although guessing: There's probably a cross-protocol redirect (e.g. https -> http). You can find related issues [here](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue%20cross%20protocol).

[2017-04-11 17:38] mahjiang opened #2675 "Playing a 2nd video with GvrAudioProcessor causes unexpected ExoPlaybackException"
@andrewlewis
I have followed the guidelines [here](https://medium.com/google-exoplayer/spatial-audio-with-exoplayer-and-gvr-cecb00e9da5f) to set up spatial audio for ExoPlayer. The first video I load plays without issue, but the second video will throw an IllegalStateException. The list of videos contains a mix of channel counts, so some have spatial audio tracks, and others do not. However, this

[2017-04-11 18:07] andrewlewis commented on #2675
Are you instantiating a new renderer or SimpleExoPlayer when you play the second video, or reusing the ones used to play the first video? Please provide full steps to reproduce the issue and I will take a look. Thanks.

[2017-04-11 18:08] mahjiang commented on #2675
I am doing neither. Reusing the ones from the first video with a new source:

`exoPlayer.prepare(sampleSource);`
 `exoPlayer.setPlayWhenReady(autoPlay);`

However, I have tried to instantiate a new SimpleExoPlayer, but that doesn't work either

[2017-04-11 18:44] andrewlewis commented on #2675
Unfortunately the underlying exception is not being logged properly because (based on the stack trace you posted above) it's being incorrectly accessed as a source exception.

I suspect the bug might be that `GvrAudioProcessor.release()` is not fully resetting the state, so `GvrAudioProcessor.flush()` will throw a NullPointerException when it's reused. If you need a workaround for now, please try

[2017-04-11 19:38] mahjiang commented on #2675
Yes, I tried calling those myself and calling `flush()` indeed results in an NPE. I am using the workaround you suggested, and it works, so please disregard my earlier comment about a new instance of SimpleExoPlayer not working. Thanks!

[2017-04-11 20:22] bnussey commented on #2643
I've recently configured this on iOS, you may of already seen it, but it could be a good resource for you to reference - https://developer.apple.com/library/content/documentation/AudioVideo/Conceptual/MediaPlaybackGuide/Contents/Resources/en.lproj/HTTPLiveStreaming/HTTPLiveStreaming.html

[2017-04-12 08:44] sanandrea commented on #2632
@AquilesCanta I am sorry, I realized later, that the content on the CDN is geoblocked. I have sent an email to dev.exoplayer@gmail.com with the instructions. thank you!

[2017-04-12 09:19] ojw28 commented on #2632
I gave the stream a try. It seemed to be doing something really weird where the video tracks were periodically being identified as audio, which was breaking playback. I couldn't reproduce any ID3 related failures, however. Are you sure you're still seeing ID3 failures, and not other failures related to incorrect track identification (which I suspect is an issue with the streams, although I didn't

[2017-04-12 11:27] hare989 opened #2676 "SNI support"
Hello,

How would ExoPlayer work with servers which implements Server Name Indication?

[2017-04-12 12:41] nshutov opened #2677 "How to do ZoomIn on AndroidTV devices ?"
Hello

I tryind do ZoomIn featrure on android tv device, and its no work(
On mobile devices ZoomIn work fine with AspectRatioFrameLayout
How do ZoomIn on tv devices?

PS My previos issues:
https://github.com/google/ExoPlayer/issues/2448
https://github.com/google/ExoPlayer/issues/2484

[2017-04-12 12:45] ojw28 commented on #2673
There's nothing stopping you from using ExoPlayer within a Fragment. We do not provide a demo that does this, but it shouldn't be any different than using any other component and/or library within a Fragment.

[2017-04-12 12:45] #2673 closed, assigned to nobody

[2017-04-12 13:05] ram992 commented on #2643
sure no problem,

Can you make a comment once it is available in dev branch

[2017-04-12 14:51] Stalker11 opened #2678 "Playing adaptive HLS"
Hi. I have some problems with playing adaptive HLS video. Player requests playlist several times, but loading only one chunk video. Is it normal? How can I fix it problem?

` D/AdaptiveHLSListener: onLoadCompleted: DataSpec[http://193.106.60.8:8090/hls2/2/high.m3u8, null, 0, 0, -1, null, 1] null
D/AdaptiveHLSListener: onLoadStarted: -1 0 http://193.106.60.8:8090/hls2/2/high-372.ts1 0 null null 804

[2017-04-12 16:15] botondbutuza commented on #2430
@ojw28 I see the class has been made extendable since this issue arose.

I now need to do some extra operations while the user is seeking - I wonder how you'd go about doing this? I basically need access to the `onProgressChanged` method, and I don't really want to copy the whole `componentListener` over, and implementing its dependencies.

[2017-04-12 20:23] swinder0161 opened #2679 "[Question][HLS] How to use standalone HlsMediaSource to get current windows position of Live Playback"
### Issue description
Before starting playback or attaching exoplayer to MediaSource, I want to know what is the current end location of HLS.
The window is dynamic since it is live playback, I want to know beforehand where the end is so that I can start from some other location based on end location.

[2017-04-12 20:28] swinder0161 commented on #2672
Just for information, Following has worked for me.
[code]

[2017-04-13 02:01] RomiValladares opened #2680 "Using ConcatenatingMediaSource with a LoopingMediaSource throws IndexOutOfBoundsException"
### Question description
I have to play video A once, and after it finished, loop video B indefinitely. I'm trying to use ConcatenatingMediaSource for that:

    private SimpleExoPlayer initPlayer(ViewGroup layout, int playerViewId, ExoPlayer.EventListener eventListener) {
        // 1. Create a default TrackSelector
        TrackSelector trackSelector = new DefaultTrackSelector();

        // 2.

[2017-04-13 05:24] bivenik opened #2681 "Android TV starts to slow down after recreating player instances"
### Issue description
Android TV starts to slow down after several releasing and recreating SimpleExoPlayer instanses (Application gets ANR).
Other media application on the TV can't play any video also after that.

### Reproduction steps
1) Create instanse of SimpleExoPlayer.
2) Play some DRM content.
3) Release player.
4) Repeat steps 1) - 3) several times in a row using one instanse of SurfaceVi

[2017-04-13 07:42] #2630 closed, assigned to nobody

[2017-04-13 07:53] andrewlewis commented on #2676
If you're using `DefaultHttpDataSource` I guess it should just work: it uses `java.net.HttpURLConnection` and, according to this [best practices](https://developer.android.com/training/articles/security-ssl.html) page, the `HttpsURLConnection` subclass supports SNI since Android 2.3 (API level 9, which is lower than ExoPlayer's minimum API version). Have you tried it, and if so was there some issu

[2017-04-13 09:23] ojw28 commented on #2680
I suspect the problem here is that if you don't specify the repetition count for `LoopingMediaSource` we default to `MAX_VALUE`, which in practice will loop forever. If you then concatenate something on the front there will be more than `MAX_VALUE` periods in the timeline, so we probably end up with an overflow.

You can pretty easily validate this theory by explicitly passing the number of repeti

[2017-04-13 12:26] jschm1 opened #2682 "VTT subtitle track for specific HLS stream is partly displayed"
**Issue description**
ExoPlayer seems to have trouble displaying subtiles for a specific HLS stream (See content link below).
When selecting the subtitle track "da, id:Fremmedsprogstekster, text/vtt", texts should render from 26:32 to 27:05. ExoPlayer only displays a single text at 26:59.

**Reproduction steps**
- Feed the link below to the demo player.
- Select subtitle track "da, id:Fremmedsprog

[2017-04-13 13:25] RomiValladares commented on #2680
Hi! Just tested it; passing `Integer.MAX_VALUE - 1` as a second parameter for `LoopingMediaSource` worked.
Thank you!

[2017-04-13 14:57] botondbutuza commented on #2430
I ended up implementing the necessary functions of `componentListener`, copying over the contents of `onStartTrackingTouch`, `onProgressChanged`, and `onStopTrackingTouch`. It pretty much does what I need it, and maintaining it won't be as much of a nightmare.

Now, however, when the user is scrubbing, the thumbnail jumps around: this is because `componentListener`'s `dragging` boolean is used in

[2017-04-13 15:22] lbranimir commented on #1932
Anshumansharma12, do you resolve that problem?

[2017-04-13 20:04] mufumbo commented on #1748
same here. Happens to huwai P8 and samsung devices a lot.
who can get this fixed without closing for not following the issue template?

[2017-04-13 20:56] PaulWoitaschek opened #2684 "Specify start-end of a MediaSource"
I want to create a playlist containing several files. Some files contain chapter marks, so I want to treat them as separate tracks.

Is it possible to specify multiple media sources for a single file so a single `ConcatenatingMediaSource` can represent the whole playlist?

[2017-04-14 02:51] JaseElder commented on #1748
Is there an issue template? Apologies for not following it.

[2017-04-14 05:22] mufumbo commented on #1748
Yes other similar issues have been closed because of that. Though you added a lot of information that makes it very replicable. Thanks so much. For now we implemented your thread sleep work around to avoid exo deadlock bugs.

[2017-04-14 14:47] solevic opened #2685 "Continue playback on live audio stream when going offline"
We're using the ExoPlayer r2.3.1 to read an mp3 live stream which is streamed from an Icecast 2.4.0 media server.

When going offline, it seems that the player stops the playback since it cannot resolve the connection to the host. However, I still have few seconds of data in the buffer that I'd like to continue playing.

Is there any way to prevent the player from stopping the playback when there

[2017-04-15 10:30] nikhilreprime opened #2690 "unable to play DASH created using bitmovin encoder"
I am new at this video player
I used https://bitmovin.com/tutorials/setup-adaptive-bitrate-streaming-dash-hls/
to create DASH for sample video
and placed it on google cloud storage

created entry in media.exolist.json but player is unable to play the video

  {
     "name": "Nikhil DASH new",
     "samples": [
       {
         "name": "uptown funk Dash new",
         "uri": "https://storage.cloud

[2017-04-15 11:18] ojw28 commented on #2690
Your URL appears to be redirecting to `https://accounts.google.com` rather than serving the MPD. It does this even if you simply try and load it in an incognito window in Chrome. So it looks like a problem with the way you're hosting the content.

As an aside, it's recommended that you avoid using underscores in your URLs. Use hyphens instead.

[2017-04-15 11:18] #2690 closed, assigned to nobody

[2017-04-15 11:20] ojw28 commented on #2685
This is tracked by https://github.com/google/ExoPlayer/issues/1606.

[2017-04-15 11:20] #2685 closed, assigned to nobody

[2017-04-15 11:54] ojw28 commented on #2682
The media is broken. If you look at the media playlist for that subtitle track, it declares that each segment has a 60 second duration:

[code]

So subtitles between 26:32 and 27:05 should all be in the one (or at most two) segments that span this duration of time. If you look at the actual segment content you'll see that this is not the case; subtitles have been placed into the wrong segments.

W

[2017-04-15 11:54] #2682 closed, assigned to nobody

[2017-04-15 11:58] nikhilreprime commented on #2690
thanks
This was such a blunder

[2017-04-15 12:01] ChernyshovYuriy commented on #2293
Hi team,
Any plans to support ICY Metadata?
I switched to ExoPlayer in my own personal project named [Open Radio](https://bitbucket.org/ChernyshovYuriy/openradio), it works excellent but I still tight to custom library named [FFmpegMediaMetadataRetriever](https://github.com/wseemann/FFmpegMediaMetadataRetriever) to get metadata of the Radio Station stream (which is important data for such streams)

[2017-04-16 05:26] Khoosham opened #2691 "getBufferedPercentage value on what listener ?? onBufferingStart or End does not exist !?"
i need to get the Buffered Percentage of my video when playing.
on what method should i call this function to get the changing value as the video buffers.

i have tried to call it like this but it returns only a single value and does not change as the video buffers.

@Override
  public void onPlayerStateChanged(boolean playWhenReady, int playbackState) {
        if (playbackState == ExoPlayer.STAT

[2017-04-16 18:36] cauchywei opened #2692 "About reconfiguration initializationData"
I found the following code in MediaCodecRenderder

[code]

it's clear to understand the code according to the comment. But I have a question that the code is just work round for ExoPlayer's custom Extractor cooperating with MediaCodec or there are some bugs with Android MediaExtractor and MediaCodec when I try to reconfigure it on some devices?

[2017-04-17 06:04] Dusam opened #2694 "How to setTrack before play video in code with ExoPlayer?"
ExoPlayer Demo App is using a button to dialog to select video track, it can work in my Android Studio project. But now I want to setTrack before play video, somebody know how to do it?

I try to use FixedTrackSelection.Factory() to setTrack before play video,but it have some issue.

        public void initializePlayer(boolean SetAdaptiveTrack) {
        mediaDataSourceFactory = new DefaultDataSo

[2017-04-17 06:56] Khoosham commented on #2691
i have try to use a timer to update the buffer percentage but it is always 0
the percentage changes only when seeking the  player and that too it does not report real time values for every 2 sec below. is that a bug on the function that is setting the buffered percentage ?

Timer timer = new Timer();
        TimerTask timerTask;
        timerTask = new TimerTask() {
          @Override
          p

[2017-04-17 06:57] shailesh-fusionitechnology commented on #2674
These are the url on which issue is occurring.

1.http://api.new.livestream.com/accounts/22711876/events/6759790/live.m3u8

2.http://hls.ksl.com/t/KSL_NEWSRADIO/playlist.m3u8

[2017-04-17 08:56] michalliu opened #2695 "Better handle mp4 files that have the moov atom at the end"
Exoplayer2 seems will read the entire file in order to play the mp4. That's too bad

[2017-04-17 10:51] #2694 closed, assigned to nobody

[2017-04-17 12:43] ChernyshovYuriy commented on #2674
First URL is terminated because of 302 response, URL redirection. Don't know whether ExoPlayer supports redirection.
Second one works perfectly.

[2017-04-17 12:48] ChernyshovYuriy commented on #2674
First one also works perfectly if you set "allowCrossProtocolRedirects" to TRUE in DefaultHttpDataSource.
From my point of view, on these two URLs ExoPlayer **work as designed**.

[2017-04-17 16:45] ojw28 commented on #2692
It's just getting the data to be organized into buffers in the way that MediaCodec expects it. It's neither a workaround nor is it related to any known bugs.

[2017-04-17 16:45] #2692 closed, assigned to nobody

[2017-04-17 16:46] #2674 closed, assigned to nobody

[2017-04-17 17:43] ojw28 commented on #2695
It wouldn't be much work to change ExoPlayer to make a range request for the `moov` atom in this case. Specifically, if we encounter an `mdat` atom having not yet encountered the `moov` atom, we'd make a range request starting at the first byte after the end of the `mdat` atom and hope to find the `moov` atom there. Marking as an enhancement. If you provide us with some sample media then we'll tak

[2017-04-17 17:46] ojw28 commented on #2678
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-04-17 17:46] #2678 closed, assigned to nobody

[2017-04-17 17:49] ojw28 commented on #2691
There is no known issue with `getBufferedPercentage`. If you're playing a live stream or a stream with unknown duration then 0 would be expected because it's not possible to provide a percentage when the duration of the stream is unknown. Note that you can use `getBufferedPosition` instead in such cases.

There's insufficient information provided in this issue for us to assist further, and it does

[2017-04-17 17:49] #2691 closed, assigned to nobody

[2017-04-17 17:54] ojw28 commented on #1748
Is it possible to provide some (fairly minimal) patch to the ExoPlayer demo application that allows the issue to be reproduced there? If someone can get us that far then we'll take a look. Until then I don't think we have clear reproduction steps.

[2017-04-17 18:14] ojw28 commented on #2293
We've no plans to support ICY metadata, sorry. It's probably not that hard for you to make a small extension to ExoPlayer that adds support, if you're sufficiently motivated to do so ;).

[2017-04-17 18:18] mufumbo commented on #1748
@ojw28 thanks for the follow up!

You work at google? Can you please go to the device wardrobe and pick up a "Huawei P8" and try? From my users feedback, it happens 100% of the time in any video playback using ExoPlayer.

We also have many users (30% of android) with "Samsung" manufacturer that are experiencing the same thing.
I can't reproduce it either because I don't have a wardrobe full of dev

[2017-04-17 18:39] Khoosham commented on #2691
but the duration of the video is only known after the buffer is complete at the first time. at the end of the seekbar the end time is displayed. if i try to seek the video after a buffer is complete (at least once) the buffer value changes but its not updating the values as it should as the end time is already known by then. it remains as a fixed value

[2017-04-17 18:42] ChernyshovYuriy commented on #2293
Sure, I do motivated. Is it possible to provide some guidelines / hints / directions where to start to "dig" from. Thanks :-)

[2017-04-17 18:44] ojw28 commented on #1748
@mufumbo - ExoPlayer powers a *huge* number of playbacks every day across many apps on Samsung devices, including millions of YouTube playbacks, and we just don't see lots of users reporting that they see a blank screen instead of the video. We also test with the demo app regularly on Samsung devices and do not see this issue. That suggests there's something that your app(s) do specifically that c

[2017-04-17 19:19] ojw28 commented on #2684
It might be possible using multiple `ClippingMediaSource` instances and concatenating them together, but I doubt that would be a good/satisfactory solution. It's definitely less efficient to play, and depending on the type of the files you may not get seamless transitions at the chapter boundaries.

A single file with chapter marks *is* a single file, and so it doesn't seem like a good idea to try

[2017-04-17 19:19] #2684 closed, assigned to nobody

[2017-04-17 20:03] mufumbo commented on #1748
thanks a lot @ojw28 !!
ExoPlayer is the core piece for any android app that wants to run video streaming.
Your hard work is very much appreciated.

[2017-04-18 08:00] rimeissner commented on #1846
@ojw28 should I create a new issue?

[2017-04-18 08:01] ojw28 commented on #1846
The issue you describe is already tracked by https://github.com/google/ExoPlayer/issues/1874.

[2017-04-18 08:26] ojw28 commented on #2681
The bug reports you've provided both seem to be missing their top halves, which contain information we'd like to take a look at. How are you capturing the bug reports exactly? Is it possible for you to provide a complete one? Also, what type of DRM are you using to reproduce this (Widevine, or PlayReady, or does it reproduce with either)? Thanks!

[2017-04-18 10:31] andrewlewis commented on #2695
The logic for parsing atoms in `Mp4Extractor` should [initiate a seek](https://github.com/google/ExoPlayer/blob/17762eb/library/src/main/java/com/google/android/exoplayer2/extractor/mp4/Mp4Extractor.java#L263) if it needs to skip over a large amount of unneeded data (>= 256 KB). Please provide sample media so we can check whether this is working as intended.

[2017-04-18 11:34] Pash97 opened #2698 "Not able to compile exoplayer using build gradle"
I have added

                    repositories {
                                            jcenter()
                                       }
also
                 dependencies {
                                            compile 'com.google.android.exoplayer:exoplayer:r2.3.0'
                                         }
But it's giving me Error

                           Error: Failed to resolv

[2017-04-18 11:52] Ambroos commented on #2416
Any news @ojw28 / @AquilesCanta / @andrewlewis ? I see the bug label was removed. This issue affects a ton of devices (we suspect well over 30% of all devices in our target market Belgium). We're a bit lost and would like to avoid having to switch to a completely new proprietary video playback SDK.

Our offer to sponsor development to fix this issue still stands, if it is a possibility.

[2017-04-18 11:54] michalliu commented on #2695
Thanks.  It's confirmed the seek operation is performed correctly. issue closed.

[2017-04-18 11:54] #2695 closed, assigned to andrewlewis

[2017-04-18 12:56] bivenik commented on #2681
Hello!

https://drive.google.com/open?id=0BxYi5ij_kpVoWG5QMThadzc1V1k - full  bug
report.

I'm using only PlayReady DRM.

On 18 April 2017 at 11:26, ojw28 <notifications@github.com> wrote:

[2017-04-18 13:05] ojw28 commented on #2681
Thanks. Are you able to also grab `/data/anr/traces.txt` from the device, or get the stack traces in your app when the ANR occurs from somewhere?

It's also possible that this will be fixed by Sony's M update, which coincidentally looks like it's set to resume rolling out tomorrow: http://sony-eur-eu-en-web--eur.custhelp.com/app/answers/detail/a_id/138486

[2017-04-18 13:31] or-dvir opened #2699 "Don't show playback controls automatically (e.g. when playback starts/fails/ends)"
### Issue description
**observed behavior:** when a video starts or ends, the media controllers (play/pause/seekbar etc) are automatically shown.
**wanted behavior:** when the video starts or ends, do **not** show the media controllers.

i was able to prevent the controllers from showing on video **start** by calling `mExoPlayerView.hideController();` as the very first line inside the method `publ

[2017-04-18 14:41] ojw28 commented on #2698
Where have you added these lines? I'm guessing you've added them in the wrong place, but you'd need to provide your build.gradle files (or at least sample build.gradle files that reproduce the issue) if you want someone to help.

[2017-04-18 15:16] rimeissner commented on #1846
cool thank you :)

[2017-04-18 16:11] ojw28 commented on #1748
I got hold of a Huawei P8 Max running Marshmallow (we don't have the normal P8, or one running Lollipop). Playback appears to work perfectly in the demo app. So I think we're still stuck on needing proper reproduction steps as described above.

[2017-04-18 19:16] halibegic commented on #647
@randeeppr Do you mind sharing your solution to this issue? I have the same problem with AMLogic device. Problem occured on ExoPlayer v2.3.1 and v2.1.1, other versions are not tested.

[2017-04-18 19:44] wvpaf commented on #2648
@stellabei can you please provide a full adb bugreport?

[2017-04-18 19:45] darwinvtomy opened #2700 "S/PDIF Passthrough in exoplayer"
How can i enable S/PDIF passthrough, if i am using an android box
**I enabled Ac3 support to the ff-mpeg in  Exoplayer but Its giving PCM output  in the S/PDIF**
Device :-  Himedia H8 and Q5 Android Box
OS:- Android 5.1.1
H8 CPU:- Rockchip Rk3368 ARM Cortex A53 Octa-Core 64 Bit Processor   &
Q5 CPU:-Hisilicon Hi3798CV200 Quad core 64-bit high-performance ARM Cortex A53 CPU, 2.0GHz
These device has

[2017-04-18 20:50] mufumbo commented on #1748
Thanks @ojw28 !!

We just found that the bug was on our side indeed. We just need to set the TextureView properly in ExoPlayer. Our code was a bit complex since we use SurfaceView for the API level 24 and forward and weren't properly setting TextureView for API levels under 24.

@JaseElder can you check if that's your problem too?

By the way, would it be wise for ExoPlayer demo to handle TextureV

[2017-04-18 20:53] PaulWoitaschek opened #2701 "Add method to SimpleExoPlayer if a surface exists"
I'm using ExoPlayer in a RecyclerView and I'm clearing the surface in `onViewRecycled`. So I have to set it again in the `onBindViewHolder`.
However doing so each time `onBindViewHolder` is called seems very expensive. So I would like to know if the `SimpleExoPlayer`already has a surface and skip setting it in that case.
I can't simply keep track if I set it as exoplayer seems to remove the surfac

[2017-04-19 02:16] ghost commented on #1997
i got the same problem. does you fixed it?

[2017-04-19 02:43] Teviz opened #2702 "Handle unexpected HLS playlist type"
In HlsPlaylistTracker$MediaPlaylistBundle#onLoadCompleted method, the result of loadable.getResult() method is cast to HlsMediaPlaylist. It works all right int most time, but when some hls stream is uncontrollable, it will throw out  ClassCastException with the message like that.
`com.google.android.exoplayer2.source.hls.playlist.HlsMasterPlaylist cannot be cast to com.google.android.exoplayer2.so

[2017-04-19 03:10] NtcWai commented on #1520
@ojw28 how to solve this problem in version 2 ? thank you!

[2017-04-19 03:13] NtcWai commented on #2432
@khs8727 I face the same problem, could you provide more code of your solution, please ?
thank you!

[2017-04-19 04:37] Pash97 commented on #2698
The following is my code
build.gradle(Project)
-----------------
buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.2.3'
        classpath 'com.android.tools.build:gradle:1.0.0-rc1'

        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.gradle files
    }
}

[2017-04-19 06:15] PaulWoitaschek opened #2703 "ExoPlayer stuck in buffering after re-adding the surface view a few time"
ExoPlayer gets stuck in buffering after re-adding the surface view a few time.

I created a minimal example that demonstrates that problem. I used ExoPlayer 2.3.1 and tested it on a Nexus 5X with Android 7.1.2 and on a Moto G4 Play with Android 6.

I found this issue because I am removing the surface from ExoPlayer in a recyclerview when the view gets recycled but while trying to find the cause of

[2017-04-19 07:15] JaseElder commented on #1748
My issue is a bit different to the current - my code and the demo code works fine on the Huawei P8 (with ExoPlayer 1.5.10 anyway). It's only the Nexus 9 that I've experienced issues with so far.
I'm on holiday on the other side of the planet at the moment, so won't be able to put something together for  about a month.

[2017-04-19 07:49] PoulsQ commented on #1997
Nope, not in my case ... I created a mediaplayer with native components : https://developer.android.com/guide/topics/media/mediaplayer.html

and now it's working perfectly !

[2017-04-19 08:39] ojw28 commented on #2698
I tried copying those Gradle files into Android Studio and they appear to work fine for me. It's all very messy though, and there are a few unrelated warnings about how you're mixing and matching different versions of support library modules, which is a bad idea.

Are you sure there's not a button to install the missing modules immediately underneath the error? I'd suggest you try cleaning your Gr

[2017-04-19 08:39] #2698 closed, assigned to nobody

[2017-04-19 08:46] ojw28 commented on #2702
Something *really* weird would have to happen on the server for this to end up happening on the client. Nevertheless, it should be easy just to check the type and call into `onLoadError` instead if it's not what we expect.

There's no way playback will be able to continue in this case (unless the server corrects what it's doing before the player gives up), but it will fail more gracefully.

[2017-04-19 08:47] ojw28 commented on #1997
As above, please read the issue template and provide all of the requested information if you want us to look at this. Probably file a new issue at this point.

[2017-04-19 08:52] ojw28 commented on #2432
I have a feeling this is fixed in the `dev-v2` branch, and that it's no longer necessary to disable the renderer . I could be wrong though. Please give it a try if you have a chance.

[2017-04-19 09:05] ojw28 commented on #2701
I don't really understand this request. If you pass a `SurfaceView` or `TextureView` then `SimpleExoPlayer` will indeed clear the surface if it's destroyed, but it will also re-instate the surface if it's recreated, which should happen if/when the view becomes visible again. So I don't see `SimpleExoPlayer`s handling of the surface lifecycle as problematic. You can also completely avoid having `Si

[2017-04-19 09:15] ojw28 commented on #2703
Any chance of a simple example in regular Java? Working out an unfamiliar (albeit fairly obvious, by the looks of things) language and having to mess around installing Android Studio extensions isn't that efficient for us :). It's also worth trying your sample against the latest `dev-v2`, as we've made some changes around surface handling there (with a few more yet to land).

[2017-04-19 09:22] PaulWoitaschek commented on #2703
I could not find any snapshot repo. Here the top version in Java. Its really trivial and just adds and removes views like I described.

[code]

[2017-04-19 09:38] shoyu666 opened #2704 "ffmpeg extension amr file"
dear author:
      we want player .amr file ,but not support ,so we build ffmpeg extension , and build success
       is any ffmpeg extension exmple ?

      we use
      EXTENSION_RENDERER_MODE_PREFER
      ExtractorMediaSource(Uri.pares("xxx.amr"))

      get exception
       None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, A

[2017-04-19 09:45] andrewlewis commented on #2704
Adding support for extraction of AMR containers is tracked by #2527. (If you've built FFmpeg with AMR decoding you should be able to play AMR tracks embedded MP4s already, though.)

[2017-04-19 09:45] #2704 closed, assigned to nobody

[2017-04-19 09:45] ojw28 commented on #2701
Note: My comment about skipping ahead to the next keyframe applies to the case where you don't disable the video renderer. If you do disable the video renderer (e.g. as in #2703) then this is not correct, but in that case you take the hit of having to re-buffer instead.

[2017-04-19 09:48] ojw28 commented on #2703
Thanks. I cannot reproduce the issue with the latest `dev-v2`. Could you give that a try to see if you see the same behavior there? I just pushed some recent changes to `dev-v2` to make sure you have all of the same changes I tested with, so be sure to pull them if you give it a try.

[2017-04-19 09:52] ojw28 commented on #26
Apologies we've not managed to provide a release version containing this functionality yet. The functionality will be in the 2.4 release, but we're having to wait for a few other changes to land before we can publish it. We're now targeting toward the middle of next week. Thanks!

[2017-04-19 09:56] KirillMakarov commented on #26
@ojw28 can you notify us in this issue, when the feature will be released?

[2017-04-19 10:40] PaulWoitaschek commented on #26
@KirillMakarov GitHub has an atom feed you can add to your RSS reader:
https://github.com/google/ExoPlayer/releases.atom

[2017-04-19 10:44] ojw28 commented on #26
You can also watch https://bintray.com/google/exoplayer/exoplayer. There are quite a few ways to be notified of new releases without us having to update issues manually ;).

[2017-04-19 10:56] bivenik commented on #2681
Firstly I'll install update if it will be available for my device. If it not help - I'll come to you with traces.
Thanks for the link.

[2017-04-19 11:38] Teviz commented on #2702
That's what I want, thanks.
BTW, is there any exact date or version that I can use the handled lib in my app?

[2017-04-19 13:29] hare989 commented on #2676
Hello,

Thanks for reply. We have tested streaming in ExoPlayer from two secured hosts served from one IP address, both having different SSL certificates, and we can confirm that ExoPlayer/ DefaultHttpDataSource/java.net.HttpURLConnection SNI support is working fine when establishing secure connection to wanted hostname.

[2017-04-19 13:32] #2676 closed, assigned to nobody

[2017-04-19 14:10] Doss12 opened #2705 "How can i play video mp4 while streaming over rtmp ?"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-04-19 14:34] ghost commented on #179
@ojw28

Issue: https://github.com/google/ExoPlayer/issues/1583  -  was marked as a duplicate of this ticket.   The issue was raised to cover support of SMPTE-TT in DASH.

From looking at the change log and testing the latest dev-branch, this does not seem to be supported (yet)

Maybe this could now be considered a secondary issue/feature?

[2017-04-19 14:37] ojw28 commented on #179
I'll re-open #1583 and close this one; thanks!

[2017-04-19 14:37] #179 closed

[2017-04-19 14:39] ojw28 commented on #1583
Re-opening specifically to track support for bitmaps inside of SMPTE-TT. Marking as an enhancement. Realistically, I don't think we'll be looking at this any time soon, so if someone wants to work on a pull request please feel free. It's probably not too hard to add support now that plumbing of bitmaps through Cue and SubtitlePainter is in place.

[2017-04-19 14:51] ghost commented on #1583
Hi @ojw28

Just to weigh in on the use-cases here.

Many of the source channels for live TV ONLY deliver subtitles in image based DVB-SUB format.

Since we don't have the luxury of being able to deliver a text based format on many channels and it cannot be be guaranteed that there will be capability in the head end to provide OCR based conversion from image rendering to text - thus SMPTE-TT  is co

[2017-04-19 15:15] ojw28 commented on #1583
Yes, I think it's just a case of adding support in TtmlDecoder (and related classes in the text/ttml package). I don't think there are any gotchas, and you shouldn't need to change anything outside of that package.

[2017-04-19 15:25] nigelmegitt commented on #1583
A valid and possibly more current alternative would be [IMSC](https://www.w3.org/TR/ttml-imsc1/)'s Image Profile, which is similarly a variant of TTML and includes some SMPTE-TT concepts. It is also under consideration for CMAF.

[2017-04-19 16:35] ChernyshovYuriy opened #2706 "MediaCodec$CryptoException when play UHD"
Dear colleagues,
It maybe odd report to some degree, however, it leads to more scenarios to fail playback.
Requirements:
- Use Sample App v. 2.3.1 to play WV/DASH (MP4, H264) UHD content on a device that supports this content partially, for instance, NO_EXCEEDS_CAPABILITIES for Video
- Observe playback with Audio only (which is expected), however, after some time there is ExoPlaybackException caus

[2017-04-19 21:35] justinboch1986 opened #2707 "Multicast Play Back?"
Is there an extension for Multicast RTP/UDP Playback on Exo?

I cannot get anything to playback on Multicast when using EXO player.

Any help here?

[2017-04-20 08:20] tresvecesseis commented on #2707
@justinboch1986 , We have almost finished our multicast RTP port to Exoplayer v2, with fast channel change (ALU flavour) and we are wiring the last bits of RTP Retry (based on NACK FB), if you could explain your scenario we could try to make it work for your use case.

[2017-04-20 08:47] canatella opened #2709 "Unable to change buildDir to absolute path"
### Issue description

When doing an out of tree build, gradle fails:

gradle -PbuildDir=../test clean assembleDebug
Incremental java compilation is an incubating feature.
:demo:clean
:extension-ffmpeg:clean
...
:library-dash:generateReleaseResValues
:library-dash:generateReleaseResources
:library-dash:mergeReleaseResources
:library-dash:processReleaseManifest
:library-dash:processReleaseResources

[2017-04-20 09:08] Oleur opened #2710 "Crash when using the GvrAudioProcessor with mono audio channel video"
### Issue description
Videos with one audio channel cannot be played when the player uses the GvrAudioProcessor. An exception (UnhandledFormatException) is thrown from the GvrAudioProcessor in the configure method.

### Reproduction steps
Override the buildAudioProcessors method in SimpleExoPlayer.

[code]

Setup the player with the mono audio channel video and start playback.

### Link to test co

[2017-04-20 09:10] Charles-ljc opened #2711 "How to get a file from cache?"
I use CacheDataSourceFactory to cache some video, but now I want to get the cached file and save to sdcard, What should I do ?

[2017-04-20 09:55] yuriy-vorontsov opened #2712 "Extract audio samples with ExoPlayer v2"
Hello,

At the moment I use MediaExtractor to extract audio samples.
My code is based on the following example: https://developer.android.com/reference/android/media/MediaExtractor.html

I'm working on audio fingerprint, I have custom Extractor to fix lame issue (https://github.com/google/ExoPlayer/issues/328) and I want to extract audio samples with ExoPlayer using my custom Extractor.

Please pr

[2017-04-20 12:00] andrewlewis commented on #2712
ExoPlayer's extractors don't have the same API as MediaExtractor, but it's probably quite straightforward to implement a wrapper that gives a similar interface. (I think the main difference to be aware of is that MediaExtractor has a blocking method to read a sample, whereas ExoPlayer's extractors read data incrementally.)

I'd start by reading the [Extractor](https://github.com/google/ExoPlayer/b

[2017-04-20 12:00] #2712 closed, assigned to nobody

[2017-04-20 14:10] karthiktag opened #2713 "Play two videos at the same time in Exoplayer in TV boxes"
### Issue description
Playing the two video at same time in exoplayer it throws Error "Decoder init failed: OMX.amlogic.avc.decoder.awesome".In Nexus 7 Tablet it play the two videos without any error but in the Android TV Box such as TX8,H96,MiniMX it plays the first video alone and its throws error to the second video.some times it throws error for both the videos.(Note:View contains webview and

[2017-04-20 15:50] ivdeveloper86 opened #2714 "Authentication URL"
I'm trying to play video in ExoPlayer. Web server requires authorization. I use the code below:

[code]
I found information on how to do this, but I do not know how to use it:

[code]

[2017-04-20 17:32] ChernyshovYuriy commented on #2714
You need to provide you own implementation of DataSource.Factory.

[2017-04-20 17:42] ChernyshovYuriy commented on #2709
Are you sure you build from the root of the project?
It builds fine on my side, logs attached.
Also, this is build related issue, how it correlates with the ExoPlayer ? I think your question is unrelated to some degree.
[buildExoPlayer.txt](https://github.com/google/ExoPlayer/files/944953/buildExoPlayer.txt)

[2017-04-20 17:48] justinboch1986 commented on #2707
When we try to play RTP or UDP (Multicast Links) in our IPTV APK that we
built using EXO player.
We just get a black screen and no audio, and we get no log of this either.
All other codecs like HLS, RTSP, RTMP etc work fine.

I have used this on LJK player and it works, but there is pixelation issues
with that player which cannot be solved for multicast.
Our internal video player on our device sup

[2017-04-20 20:39] canatella commented on #2709
Yes, I'm in the root of the project. It's working for other projects so I think it's related to ExoPlayer gradle configuration.

I agree it's a build issue, is there a better place to report ExoPlayer build issues ?

I also forgot to mention that it was working before the modularisation changes and I'm on OSX.

[2017-04-20 21:31] ojw28 commented on #2709
I don't think `-PbuildDir=../test` is a valid thing to do. It looks like this argument specifies the build directory of each module relative to its root.

Using `../test` means that `library/core`, `library/dash`, `library/hls` etc all end up trying to use the same build directory `library/test`, which is probably why bad things start to happen.

For comparison, using `-PbuildDir=test` works fine,

[2017-04-20 21:31] #2709 closed, assigned to nobody

[2017-04-21 06:09] tresvecesseis commented on #2707
@justinboch1986 , Have you checked that your box has multicast support (look for /proc/net/igmp file)?)

[2017-04-21 06:51] ivdeveloper86 commented on #2714
Thank you for your reply.
Could you tell me how to do this in the code?

[2017-04-21 08:22] canatella commented on #2709
If you just mean ../test is not valid I might agree, but if you mean out of tree builds are not a valid things to do then I do disagree. It makes perfect sense, for example  see http://voices.canonical.com/jussi.pakkanen/2013/04/16/why-you-should-consider-using-separate-build-directories/.

Anyway If you are not completely against offering a way to do out of tree ExoPlayer builds, I investigated a

[2017-04-21 08:26] workspace commented on #26
@ojw28
The new playback speed change method seems to be heavily influenced by CPU performance. I just put this code in demo when player is initialized.
[code]

For PlaybackParams added in API 23, the video played back successfully on Nexus 5. However, with the new PlaybackParameter, frame drops occur on devices with low CPU performance such as Nexus 5 and Galaxy S4.

[Nexus 5 with API 23](https://

[2017-04-21 08:51] ojw28 commented on #2709
I'm not adverse to supporting out of tree builds; I was just saying using `../someDir` doesn't appear to be the correct way to do it.

Is `externalBuildDir` something new that you're defining, or does it already have a use already that you're changing the behavior of? If it's something new that you're defining then your proposal looks good to me. Feel free to send a pull request to the `dev-v2` br

[2017-04-21 08:55] andrewlewis commented on #26
@KiminRyu Did you see these problems when running a release APK or a debuggable APK?

The new implementation uses the Java version of Sonic, so its performance is affected by what optimizations the Java runtime applies. There is a certain optimization that is turned off on debuggable builds, which causes an inner loop in Sonic to be very slow. If you build a release APK this optimization should ap

[2017-04-21 09:14] workspace commented on #26
I got the latest version of the dev-v2 branch and built it. (so it is a debuggable apk.) So...How can I set the same environment with a release apk?

[2017-04-21 09:24] andrewlewis commented on #26
I used the instructions for Android Studio: [Sign your release build](https://developer.android.com/studio/publish/app-signing.html#release-mode).

[2017-04-21 09:25] canatella commented on #2709
Ok then we agree ;) the ../someDir was just an easy way for people to reproduce the problem.

I made up externalBuildDir and I don't think externalBuildDir it is used so I'll create a PR with the change as is.

[2017-04-21 09:26] andrewlewis commented on #2713
There are a few existing issues about playing multiple videos at once (e.g. #1286). Please search existing issues before filing a new one.

[2017-04-21 09:26] #2713 closed, assigned to nobody

[2017-04-21 09:34] andrewlewis commented on #2710
I'm following up to find out whether GVR could handle mono audio. I'm not sure that just passing through the the input is the best option, as the audio wouldn't respond to head rotation.

If you only need to handle mono input, as a temporary workaround you could try duplicating the channel to make it stereo. One way to do that is to make `ChannelMappingAudioProcessor` publicly visible and add one

[2017-04-21 09:43] andrewlewis commented on #2705
ExoPlayer doesn't include any RTMP functionality at the moment, so I don't think we can answer this. Please ask your question on one of the existing [RTMP-related threads](https://github.com/google/ExoPlayer/search?q=rtmp&type=Issues).

[2017-04-21 09:43] #2705 closed, assigned to nobody

[2017-04-21 09:47] canatella commented on #2709
I just created pull request #2715.

[2017-04-21 09:48] andrewlewis commented on #2700
If the Android TV box is connected via HDMI, please read #2148. Otherwise, this is probably covered by the enhancement in #1741.

[2017-04-21 09:48] #2700 closed, assigned to andrewlewis

[2017-04-21 09:48] ojw28 commented on #2711
It's not correct to assume that we cache the media as a simple file. We may do things like fragment the media into multiple cache files, for example, so that the cache eviction policy can work with finer granularity than a whole piece of media. We may also arbitrarily change the on-disk cache format at any time.

So there is no direct files access. If you want to read the data from the cache you s

[2017-04-21 09:48] #2711 closed, assigned to nobody

[2017-04-21 09:50] workspace commented on #26
I built it with the release version, and the playback speed change worked just as you said. As shown in the video attached below, playback of Secure_xx (SD, HD, UHD) of Widevine DASH: MP4, H264 sample was not smooth. On the other hand, clear_xx samples of the same widevine drm sample worked well, and Youtube DASH also worked.

[widevine secure hd -> clear hd -> youtube dash](https://www.youtube.co

[2017-04-21 10:08] AGohil29 commented on #2210
@lioun1729
How can we play mp4 videos with exoplayer? Can you please help

[2017-04-21 11:25] ram992 commented on #1276
Hello @ojw28 , you have mentioned that in v2 of ExoPlayer it is possible to select the initial Track of the Hls Stream, can you give me more details on how to do that.
And one more question, If I set any track at the time of init, will the autoAdaptation works like the way it used to before setting it.
And is there any way for setting a defaultBandWidth at the time of building a HlsRendererBuilder

[2017-04-21 13:35] AquilesCanta commented on #2416
Sorry for the delay on updating this, but we haven't had any response either. I'll see what I can do to provide a solution from our side.

[2017-04-21 14:14] AquilesCanta commented on #1276
@ram992, you can provide your own `TrackSelection.Factory` to `DefaultTrackSelector`. Before implementing one from scratch, have a look at `AdaptiveTrackSelection.Factory`. Its parameters may provide enough customization for your case.

Can this issue be closed? It seems to me that #2353's commit fixes this.

[2017-04-21 16:09] AquilesCanta commented on #2416
I'll have a reply next week, probably on Tuesday/Wednesday.

[2017-04-21 16:49] stanmots commented on #2090
What if the client just wants to listen to the video current position updates? Constantly checking `getCurrentPosition` (e.g. with the help of `Timer().scheduleAtFixedRate`) is a very inefficient solution. IMHO, it would be great if ExoPlayer had a specialized method for this, somethings like `setCurrentPositionListener` which the developers could use to get notified about the video position chang

[2017-04-21 16:54] ojw28 commented on #2090
The player updates its internal position at a very high rate, because this is required for media playback. I doubt you'd want to be spammed with an event every 10-20ms.

I'm not really sure what this means. You should just query it at exactly the rate you want (e.g. every second). It's in no way inefficient (although I doubt `Timer` is the right thing to use here; `Handler.sendMessageDelayed` seem

[2017-04-21 17:14] ram992 commented on #1276
My requirement is to simply start from a bit higher bandwidth track. Can this be implemented without creating a custom track selector. And choosing that should not stop the player from auto adapting once the bandwidth meter has estimate.

[2017-04-21 17:23] stanmots commented on #2090
Thank you for the quick reply and the explanation. I could use RxJava's `throttle` method to set the required rate though.

I said it is "inefficient" because I thought about the case when the player is stopped and the client continues polling the current position. So the developers also need to monitor the player's stopped states to cancel the timer or remove handler's delayed messages, right?

`

[2017-04-21 20:03] edsphinx commented on #559
@palakRpatel Can you upload that sample again please?, is not longer available in wetransfer.

[2017-04-21 23:42] ojw28 commented on #2090
Ok, but at this point your request is basically equivalent to asking that we poll you every 10-20ms so that you can ignore us 99% of the time. This is far less efficient than just posting something to yourself to perform updates at the rate you actually need.

You could do that, and it wouldn't be particularly hard, yes.

Search "Timer vs Handler Android" or similar on Google, and you'll probably

[2017-04-21 23:58] amasalkov commented on #2648
Attached file includes relevant part of adb output.
[widevine-err_2902.txt](https://github.com/google/ExoPlayer/files/948579/widevine-err_2902.txt)

[2017-04-22 00:33] lioun1729 commented on #2210
@AGohil29
I have no more experience about developing exoplayer app now

But I think that change class or object using by videoSource variable to play only mp4 data

Or you can see how to play and configure various video format data on exoplayer in demo app uploaded ExoPlayer github site

[2017-04-22 03:58] lipangit commented on #2090
Onlookers :)

[2017-04-22 10:59] xpzzgh opened #2716 "EventLogger: playerFailed, Caused by: java.lang.IllegalStateException"
Hey, It's not play when I want to play a mp4 file with ExoPlayer 2.3.1 Demo.
I put file's url in media.exolist.json-Playlists-Cats>Dogs

Logcat:

`04-22 18:49:41.909 12990-18922/com.google.android.exoplayer2.demo E/ACodec: [OMX.allwinner.video.decoder.avc] ERROR(0x80001009)
04-22 18:49:41.909 12990-18922/com.google.android.exoplayer2.demo E/ACodec: signalError(omxError 0x80001009, internalError -2

[2017-04-22 11:05] #2522 closed, assigned to nobody

[2017-04-22 19:11] ashokbg opened #2717 "how to make player visible always.."
I wanted player always visible even if it is playing/not playing,buffering.

[2017-04-22 21:52] #2680 closed, assigned to nobody

[2017-04-22 22:01] ojw28 commented on #2716
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-04-22 22:01] #2716 closed, assigned to nobody

[2017-04-22 22:02] ojw28 commented on #2717
Supporting this use case is tracked by #2501.

[2017-04-22 22:02] #2717 closed, assigned to nobody

[2017-04-22 22:04] #2242 closed, assigned to nobody

[2017-04-23 09:46] satyres commented on #2645
i want to record them for my personal use .

[2017-04-23 19:01] fredEallen commented on #2029
@SidneySeldon where can I find ExtactorMediaSource?

[2017-04-23 21:31] ojw28 commented on #2714
@ChernyshovYuriy - Can't you just use `HttpDataSource.Factory.setDefaultRequestProperty` on the standard factory? Why do you need a custom implementation?

[2017-04-23 21:36] justinboch1986 commented on #2707
Yes it has this support
As I mentioned before. The device I am using works with Multicast when
using the Internal Player

But I prefer EXO player because it has faster channel zapping/changing.

[2017-04-23 21:42] ojw28 commented on #2706
I'm not sure I follow the first part of this question. What do you think is happening when the CryptoException occurs, and why do you think it's expected? If only audio is being played, that suggests to me that the CryptoException is being thrown from the audio renderer, and I don't think it is expected. Please clarify; thanks!

The second part of the question looks unrelated, and is on an unsuppo

[2017-04-23 23:41] ChernyshovYuriy commented on #2714
Then he need to use `DefaultHttpDataSource` and use its `void setRequestProperty(String name, String value)` method.
`HttpDataSource.Factory.setDefaultRequestProperty ` is deprecated though.

[2017-04-23 23:46] ChernyshovYuriy commented on #2706
If CryptoException is from audio renderer then it is unexpected, of course. I was on the opinion that this exception is from video one, this is why I though it is expected.
My question is - despite the fact that there is unsupported video renderer, should playback fail on audio variant?

[2017-04-24 06:23] workspace commented on #2643
@erdemguven Is this commit to meet the dependency? I want to know how roughly it is completed!

https://github.com/google/ExoPlayer/commit/42e4100c0511b8dbd405f143e0d8aca84e2ea50b

[2017-04-24 08:02] SwaranSK commented on #2029
@eminallen In my project its at below path. But its not fixed. It depends on your project directory structure. ExoPlayer/library/src/main/java/com/google/android/exoplayer2/source/ExtractorMediaSource.java

[2017-04-24 08:09] ojw28 commented on #2643
No. We will update this issue when significant progress is made. You may see some commits that look odd from time to time, where the commit message and actual content of the commit don't align well. This includes the one you reference. This is a side effect of the way we use internal tools for development work + mirror to GitHub.

[2017-04-24 08:46] ChmielowiecAlek opened #2718 "HLS: Playback re-buffers when toggling audio/closed-caption tracks"
### Description:
- playback hangs for ~3 seconds when switching Closed Captions on
- internally, a new SelectionOverride is used to enable Closed Captions by calling DefaultTrackSelector.setSelectionOverride
- the player goes through an additional buffering state

### Precondition:
- a high-bandwidth network connection has been established

### Reproduction steps:
- run ExoPlayer demo application

[2017-04-24 09:06] ojw28 commented on #2718
Yes. This was a compromise we made deliberately in V2. We're aware it's annoying, but the way we used to achieve no disruption was technically incorrect for several reasons. We do plan to optimize it again in the future.

[2017-04-24 10:30] ojw28 commented on #2706
If no video tracks are selected (as is the case if the tracks are all unsupported), then playback should work in the same way as if there were no video tracks in the media to start with. We wont be obtaining a video decoder or feeding it buffers, which is why I think the failure is in the audio renderer. Please could you take a look and verify this is indeed the case?

We would not expect failure

[2017-04-24 10:40] gajendrakumartwinwal commented on #2703
Facing same issue while reattching playerview after detached from parent ViewGroup.
Even i have tried on your lasted development branch by changing below code you can reproduce the same by replacing two file.
Steps:
1. Download the zip file then extract it. there are two file in the zipped folder
2. I have changed these two files in your dev bracnch "dev-V2-r2.3.1" on date "24/04/17"
3. So just re

[2017-04-24 11:04] ojw28 commented on #2714
Ah, yes. The up to date way of doing this is to use `HttpDataSource.Factory.getDefaultRequestProperties` and then edit the properties object (which is what the deprecated method does internally). Seems like the simplest approach.

[2017-04-24 12:00] Pash97 opened #2719 "getting error on line while import some exoplayer class"
am importing compile 'com.google.android.exoplayer:exoplayer:r1.5.2' in my gradle

but giving error on while

import com.google.android.exoplayer.MediaCodecSelector;
import com.google.android.exoplayer.hls.DefaultHlsTrackSelector;
import com.google.android.exoplayer.hls.PtsTimestampAdjusterProvider;

It giving me can not resolve  MediaCodecSelector,DefaultHlsTrackSelector,PtsTimestampAdjusterProvi

[2017-04-24 12:30] ojw28 commented on #2719
The classes you're trying to import don't exist in release 1.5.2, so that's expected. You can only use classes that actually exist in the version of ExoPlayer you're using. Why are you using such an old version?

[2017-04-24 13:05] Pash97 commented on #2719
Because other release giving error
following is my code with r1.5.15 for HpLib_HlsHpLibRendererBuilder please help

import android.content.Context;
import android.media.MediaCodec;
import android.os.Handler;

import com.google.android.exoplayer.DefaultLoadControl;
import com.google.android.exoplayer.LoadControl;
import com.google.android.exoplayer.MediaCodecAudioTrackRenderer;
import com.google.an

[2017-04-24 13:07] ojw28 commented on #2719
If you want help please provide a clear description of the problem. Just saying that it gives an error is not enough information for us to help.

[2017-04-24 13:33] ldelecroix opened #2720 "Smooth - Error when parsing UTF-16 encoded Manifest"
Hello,

I've got a bug when i try to parse Smooth Manifest encoded with UTF-16. Here's the require form :

### Issue description
When parsing a Smooth Manifest encoded with UTF-16, a XmlPullParserException is triggered.

### Reproduction steps
You can either :
- try with one of the link below
- download a Manifest file that works, and save it with UTF-16 encryption (LE/BE, with/without BOM, the er

[2017-04-24 19:38] ojw28 commented on #2604
Sometime this week, with any luck.

[2017-04-24 19:40] ojw28 commented on #2634
I think we'd need a specific reason to parse additional properties. I think we already derive width and height from the actual video stream, for example.

[2017-04-24 19:49] ojw28 commented on #2454
You can intercept play/pause calls after the patch ref'd above.

[2017-04-24 19:49] #2454 closed, assigned to nobody

[2017-04-24 19:55] xushichang0 opened #2721 "Why discarding from chunks after a certain chunk instead of discarding a single chunk?"
In ExoPlayer, when network condition becomes better, TrackSelection finds the first chunk with lower quality in the buffer and calls discardUpstreamMediaChunks to discard all following chunks. It is possible that some chunks of good quality are also discarded.

My question is that why ExoPlayer does not check each chunk and only discard the ones with lower quality? Thanks.

[2017-04-24 20:05] ojw28 commented on #2721
Because it's really hard to implement it properly, in a way that neither adds a whole bunch of complexity or makes things less efficient elsewhere.

Note that this code isn't actually active in V2 at the moment (we actually never discard). There's a TODO in ChunkSampleStream to start applying the discard logic again, although in practice it's unclear whether it's that worthwhile. There's an argume

[2017-04-24 20:16] ojw28 commented on #2720
As per Android's [Javadoc](https://developer.android.com/reference/org/xmlpull/v1/XmlPullParser.html), the `XmlPullParser.setInput` implementation is supposed to detect the input encoding.

Whatever platform you're running on, it appears to use `org.xmlpull.mxp1.MXParser` as the `XmlPullParser` implementation, and my guess would be that it's not correctly detecting the input encoding. Android devi

[2017-04-24 20:16] #2720 closed, assigned to nobody

[2017-04-24 20:43] #2702 closed, assigned to AquilesCanta

[2017-04-24 20:44] ojw28 commented on #2702
This is fixed in `dev-v2`. The fix will be in `r2.4.0` and above, so keep a look out for that. We will likely release later this week.

[2017-04-24 20:45] ojw28 commented on #2501
This is supported in `dev-v2` and will be supported as of `r2.4.0`, which we hope to release later this week. You can:

1. Call setControllerShowTimeoutMs(0) to disable timeout.
1. Call setControllerHideOnTouch(false) to disable hide on touch.

The combination of the two should result in controls being always visible.

[2017-04-24 20:45] #2501 closed, assigned to nobody

[2017-04-24 20:55] ojw28 commented on #2699
It's quite hard to cater for exactly what everyone wants with the UI components we're providing, at least without ending up with a huge number of parameters. For the specific behavior you want, what would you expect the control timeout logic to be? We currently do not time out the controls if the player is not initialized or in the ended state (but we do time out the controls if the player is play

[2017-04-24 21:03] xushichang0 commented on #2721
Thanks for your response.

Could you tell me more about the complexity of proper implementation? I notice the current implementation of ExoPlayer uses a rolling buffer to store the chunks. Is this the main cause why it can not discard a single chunk? Thanks.

[2017-04-24 21:20] ojw28 commented on #2721
That's one reason. We could store each chunk in its own buffer, but there are negative implications to doing so (it's not possible to do this without incurring one of the following: less efficient packing of buffered media in memory, significant additional complexity, additional memory allocations).

There are a few other reasons as well. It's hard to provide an exhaustive list, but as an example

[2017-04-24 21:20] #2721 closed, assigned to nobody

[2017-04-24 22:29] vigneshvg commented on #2661
Thank you for pointing these out.

make[1]: *** No rule to make target 'vp8_rtcd.h'.  Stop.
Makefile:17: recipe for target 'vp8_rtcd.h' failed
make: *** [vp8_rtcd.h] Error 2

This error can be safely ignored. See comment in [1].

I am able to reproduce the armeabi and mips failures with r14b.

Regarding armeabi failure:
This is a really weird failure coming from [2]. It most certainly is a clang o

[2017-04-25 00:26] vigneshvg commented on #2661
Unfortunately, both the armeabi and the mips issues seem to be a bug in the compiler itself. I have filed a bug with libyuv [1]. There is a fix that disables the violating code [2]. You will be able to build it once that lands.

In the meantime, the best workaround i can provide is to suggest use of android NDK r13 instead of r14+. Neither of those issues happen in r13.

Closing this bug as it is

[2017-04-25 00:26] #2661 closed, assigned to vigneshvg

[2017-04-25 04:57] Teviz commented on #2668
@ojw28
I found that method #isCurrentWindowDynamic sometimes is not accurate.
When play **FLV** media, the method isCurrentWindowDynamic returns false because it's a single file media, but it may be live streaming.

Presently I check the result of [isCurrentWindowDynamic](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#isCurrentWindowDynamic--) &

[2017-04-25 05:25] Pash97 commented on #2719
Well,

am using exoplayer compile 'com.google.android.exoplayer:exoplayer:r1.5.15' in my project gradle

While including this release am getting following error those i have mentioned in comment in my code am new in exoplayer, Please check it out

class HpLib_HlsHpLibRendererBuilder implements HpLib_RendererBuilder {
    private static final int BUFFER_SEGMENT_SIZE = 64 * 1024;
    private static

[2017-04-25 07:20] or-dvir commented on #2699
@ojw28 thanks for you reply.
i understand what you mean about not being able to cater to everyones' needs and wants. however from what ive read about ExoPlayer it's all about customization - giving the developer a choice.

as for your question about the timeout logic, it could be the same. the issue i'm describing it not about "how long should i wait before hiding the controllers", but about havin

[2017-04-25 07:24] davinctor commented on #2661
Thanks a lot for your feedback.

[2017-04-25 07:52] ojw28 commented on #2719
There is insufficient information here for us to help. When using 1.5.2 the errors you see are working as intended, because the classes you're trying to import don't exist. When using 1.5.15 you haven't provided a clear description of the errors you see. It sounds like your code is just broken, and debugging your code is beyond the scope of this issue tracker.

I'd suggest you take a look at the E

[2017-04-25 07:52] #2719 closed, assigned to nobody

[2017-04-25 07:57] pi-andrei opened #2722 "Video stuck on Nexus 10 Android 4.4.4 and 5.1.1"
### Issue description
Video picture stuck after starting Dash playback on 15th-19th frame on Samsung Nexus 10 tablet Android 4.4.4/5.1.1 with specific video: http://media.axprod.net/TestVectors/v7-Clear/Manifest_1080p.mpd . Tried 2 different Nexus 10 devices. In general video continues to play, audio can be heard and subtitles are updated, but video shows same one frame. Also after trying to seek

[2017-04-25 09:07] AquilesCanta commented on #2679
Before calling `prepare(MediaSource)`, ExoPlayer does not know what the stream looks like. In that case, you are on your own, unfortunately.

You can prepare the player with playWhenReady == false, see what the window looks like (`ExoPlayer.EventListener#onTimelineChanged` will help), seek to the position you are interested in, and then set playWhenReady to true. This should work, from what I unde

[2017-04-25 09:07] #2679 closed, assigned to nobody

[2017-04-25 09:13] 13217300237 opened #2723 "stuck after Seek"
##
### Issue description
Playing HLS REPLY,sometimes it will stuck.

### Reproduction steps
We put the exoplayer as kernel player embedded in our own system.
HLS REPLAY is mean, we intercept HLS LIVE as a movie to play with..
We have found that play the replay,  there is a certain probability to stuck when seeking .
exception when stuck is the row - 199 of DefaultHttpDataSource.java:responseCode =

[2017-04-25 09:15] 13217300237 commented on #2723
I really need your help.pls contact with me with email hzhou@quiptel.com

[2017-04-25 09:15] 13217300237 commented on #2723
thank you !

[2017-04-25 10:03] ojw28 commented on #2699
Basically what you're after is just a way to disable auto-showing of the controls under all circumstances, correct? We could probably add that.

Regarding the timeout, you don't really have full control. In particular the timeout is only applied in playing and buffering states. There's no way to set a timeout that applies in the ended or not-yet-started states (you could of course do the timing yo

[2017-04-25 10:12] ojw28 commented on #2668
Yes, that's a good point. The method described will only work for DASH, HLS and SmoothStreaming.

You can get on-demand (i.e. non-live) content that's not seekable. You're probably better off looking at the duration (ExoPlayer.getDuration). If it's unknown, that's a pretty good sign that you're dealing with a live stream. So you could try OR'ing this approach with the one based on the window being

[2017-04-25 10:35] Teviz commented on #2668
Oh yes, sorry for that, I made two mistakes. I was intent to say isCurrentWindowDynamic || !isCurrentWindowSeekable.

By the way, I tried to use getDuration, but in hls live streaming, getDuration returns the duration of .ts file which is an exact number instead of unknown. So it seems to be imperfect too.

[2017-04-25 10:40] or-dvir commented on #2699
@ojw28 that would be perfect. exactly what i am looking for.
thank you!

[2017-04-25 10:59] Teviz commented on #2668
Oh yes, sorry for that, I made two mistakes. I was intent to say isCurrentWindowDynamic || !isCurrentWindowSeekable.

So the recommended way is to use isCurrentWindowDynamic || getDuration == C.TIME_UNSET to solve the problem. Thanks you for that.
By the way, in which situation the on-demand content is not seekable?

[2017-04-25 11:07] AquilesCanta commented on #2416
Hello, @Ambroos. We still haven't decided what to do about this as we don't know the root cause of the reconfiguration error (making it hard to target a workaround). I don't have much time right know to allocate to the required research, so it will have to wait unfortunately.

Being urgent for you, I can suggest disabling codec reconfiguration on devices that reproduce the problem. To do this, you

[2017-04-25 11:12] or-dvir opened #2724 "how to get control views dynamically?"
**- Search existing issues, including issues that are closed.**
only post i found kind of related to this issue was [https://github.com/google/ExoPlayer/issues/2529](url) , but the owner of the post claims that his problem is about switching between layouts. therefore i am opening a new issue. if you think that i should post this question on the above post, please let me know and i'll do so.

**-

[2017-04-25 11:14] ojw28 commented on #2668
That approach seems like it would get it right in the vast majority of cases, yes. Give it a try and let us know.

It's actually quite difficult to determine whether a stream is live in the completely general case. If you compared an on-demand stream that doesn't define its duration or seek information and is served from a server that doesn't tell you the content length, that would be impossible t

[2017-04-25 11:15] ojw28 commented on #2668
Given there are lots of properties you could look at to try and determine whether a stream is live, we should probably add an isLive method and implement our best-attempt logic there (which can be updated over time, if needed). Marking as an enhancement.

[2017-04-25 11:20] ojw28 commented on #2724
Can't you just use `view.findViewById`? For example `view.findViewById(R.id.exo_play)`?

[2017-04-25 11:40] HungamaSurat commented on #1975
I have tried with dev-v2 and dev-v2-r2.3.1, but still issue seems to be there. No changes seems to be there in streaming. Please check demo app from below link with dev-v2:
https://drive.google.com/file/d/0B-BQCZwMuQ81alBnOUpxZ1VzMkU/view?usp=sharing

Please check and let me know. Also, let me know, if any thing needs to added in code for adaptive audio streaming.

[2017-04-25 11:46] Ambroos commented on #2416
Hey @AquilesCanta, thanks for the information! I've tried disabling codec reconfiguration as suggested and it seems to work well. Is there a downside to doing this on all devices? We're still not 100% confident in our detection of the problem and would prefer to play on the safe side.

[2017-04-25 11:53] PiotrWozniakSC opened #2725 "Does ExoPlayer plan to support HLS I-Frame Playlists?"
In the question of HLS I-Frame Playlist (https://developer.apple.com/library/content/technotes/tn2288/_index.html#//apple_ref/doc/uid/DTS40012238-CH1-I_FRAME_PLAYLIST) support in ExoPlayer I couldn't find a definitive answer. The only thing I found is that there was some work in progress (https://github.com/google/ExoPlayer/issues/474) some time ago, but there's no indication whether it was / will

[2017-04-25 12:29] ojw28 commented on #1975
Please provide a stream URL rather than an apk if you're still seeing an issue. Thanks.

[2017-04-25 12:35] AquilesCanta commented on #2416
Other than a short pause (say, 100 ms), there shouldn't be any problems. Of course, in comparison, there is simply not much choice here. Do keep me updated if you run into problems.

[2017-04-25 12:38] AquilesCanta commented on #2416
Something that @ojw28 brought up: It would probably be a good idea only to disable reconfiguration if the resolution is unchanged.

[2017-04-25 12:46] AquilesCanta commented on #2725
Not yet supported, unfortunately. There was no plan either, but seeing increasing interest on this we might get to it. I cannot make any promises regarding the when. I will post any updates in #474.

[2017-04-25 12:46] #2725 closed, assigned to nobody

[2017-04-25 13:44] SuwandiSlasher opened #2726 "Audio Keep repeating when playing mp3 over 12 minutes."
### Issue description
1. video will keep repeating in same position.

### Reproduction steps
1. put String mp3 in MISC category from assets file
2. play audio file. wait after 3 minute.
3. video will keep repeating

### Link to test content
http://k003.kiwi6.com/hotlink/fhdbn390il/episode_1.mp3
below our server link
link removed

### Version of ExoPlayer being used
r2.3.1

### Device(s) and versio

[2017-04-25 13:47] ojw28 commented on #2726
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-04-25 13:49] or-dvir commented on #2724
@ojw28 i would very much like to use findViewById(). question is on what view will i call it?
since the inflation of "exo_playback_control_view.xml" is done internally, i need access to view which was created by the inflation and i can't find how to get a reference to it.

would i call it on my instance of SimpleExoPlayerView like `mySimpleExoPlayerView.findViewById(R.id.my_play_button)`?
the thin

[2017-04-25 13:53] ojw28 commented on #2724
You should be able to call it on the `SimpleExoPlayerView` instance? I'm pretty sure findViewById() searches the whole view hierarchy. You should even be able to do it on the root view of your whole activity once the `SimpleExoPlayerView` is inflated and attached (although if you have multiple such views in the hierarchy then you'd want to be more specific so you know which view you're going to fi

[2017-04-25 14:03] or-dvir commented on #2724
@ojw28 i was writing/editing my previous comment while you posted your second answer and only saw your second comment now...
so just to make sure, the internally inflated view is **being added to the same tree** as SimpleExoPlayerView and i can simply call `mySimpleExoPlayerView.findViewById(R.id.my_play_button)`?

[2017-04-25 14:04] ojw28 commented on #2724
Yes, the views are inflated into the SimpleExoPlayerView.

[2017-04-25 14:04] #2724 closed, assigned to nobody

[2017-04-25 14:05] or-dvir commented on #2724
@ojw28 thanks for the clarification!

[2017-04-25 15:22] SuwandiSlasher commented on #2726
@ojw28 thanks for you reply.
I just edit the issue above.

[2017-04-25 15:25] ojw28 commented on #2726
Please can you provide a full bug report? The issue template explains how to capture one. Assuming an 8 line snippet of log output is the exact bit we need to debug this issue is probably not correct. Thanks!

[2017-04-25 15:48] SuwandiSlasher commented on #2726
When i using demo application, here is the log:
Looks like it happen in our server only.

                com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: java.io.IOException: unexpected end of stream
                    at com.google.android.exoplayer2.upstream.DefaultHttpDataSource.read(DefaultHttpDataSource.java:269)
                    at com.google.android.exopla

[2017-04-25 16:26] ojw28 commented on #2726
Your server really isn't setup well for delivering media. It's serving content using chunked transfer encoding and does not indicate the content length in the response headers. You can see this using curl:

[code]

For this particular piece of media, the result is that the player cannot determine the media duration, cannot seek and cannot resume. It actually looks to the player as though it's a li

[2017-04-25 16:26] #2726 closed, assigned to nobody

[2017-04-25 16:30] SuwandiSlasher commented on #2726
Ok thanks for the reply,
It's seems not on library side.
but on server side.

[2017-04-25 16:32] ojw28 commented on #2722
Did you try updating the Nexus 10 to Android 5.1? Whilst it would be good to avoid this issue on Nexus 10s that haven't taken the Lollipop update, it's obviously much lower priority if the issue has been fixed in the platform. The vast majority of Nexus 10s in the wild have taken the Android 5.1 update, and of course users who haven't taken it can opt to do so.

[2017-04-25 16:33] ojw28 commented on #2657
This is supported in `dev-v2`.

[2017-04-25 16:33] #2657 closed, assigned to nobody

[2017-04-25 16:33] #2641 closed, assigned to nobody

[2017-04-25 16:35] ojw28 commented on #2582
We still have some further changes to come around making surface switches more seamless, but the initial issue as reported here should now be fixed.

[2017-04-25 16:35] #2582 closed, assigned to nobody

[2017-04-25 16:42] AquilesCanta commented on #2632
I haven't gotten any ID3 errors, either. Please try the dev branch and let me know if you are still getting the same ID3 decoding error. There has been some work on that area.

The provided chunk does not declare any video (even though the stream in which it is presented does contain video). ExoPlayer does not currently support structural changes in the TS, except for specific cases under which th

[2017-04-25 16:42] #2632 closed, assigned to AquilesCanta

[2017-04-25 18:42] steff-maya opened #2727 "DRM Challenge"
it's possible to create a key Challenge  for play a protected video with DRM  , i'm workin with  "theplatform"  and i need to pass a Challenge and the documentations says that its create by client

"getWidevineLicense": {
    "releasePid": "xxXXXxx",
    "widevineChallenge": "Adlkejk="
  }

[2017-04-25 22:15] wvpaf commented on #2622
Hi @brosvaby can you please provide a ADB bugreport. We need to understand what the device is running and what the system thinks is happening.

[2017-04-25 22:24] wvpaf commented on #2648
@stellabei can you please provide a **full** adb bugreport? The snippets shows the error but does not include some entries that we would expect to see in a full unfiltered bug report.
thanks,

[2017-04-25 23:41] rustyshelf commented on #2582
Thanks so much, we've been waiting for this and another issue to be fixed and both have. Wow! Of course we're demanding users so now we want to know when it will appear in a release ;) (sorry)

[2017-04-25 23:42] stellabei commented on #2648
@wvpaf Hi, unfortunately we don't have the full adb bugreport. The log that we provided was user logs captured by crashlytics. We can not reproduce this problem since it requires an upgrade.
What we know so far is that uninstalling the app, clearinging data and even rebooting the phone does not fix the problem. The only way to fix the problem so far is to perform a factory reset. So this seems tha

[2017-04-26 05:21] darwinvtomy commented on #2700
I followed your above comments and i got this error AudioTrack init failed: 0, Config(48000, 252, 20480)
does it have anything to do with this line of code
  private static final MediaCodecInfo PASSTHROUGH_DECODER_INFO =
      MediaCodecInfo.newPassthroughInstance("**_OMX.google.raw.decoder_**");

[2017-04-26 09:08] andrewlewis commented on #2710
There's work underway to add support for handling mono input in the GVR audio SDK. I don't have an ETA yet but I'll update this issue when the functionality is available via `GvrAudioProcessor`.

[2017-04-26 11:20] AquilesCanta commented on #2723
Can you provide reproduction steps in the demo app? If not, can you provide a minimal code setup that reproduces the issue?  It is not clear what the issue is:

What is HLS REPLY, and what does it mean it gets stuck? Does it transition into buffering state and does not go to ready state or does it block the application from responding?

[2017-04-26 11:31] pi-andrei commented on #2722
Hello, thank you for reply. Device now updated to 5.1.1 and problem still exists. I sent you new bugreport log by e-mail.

[2017-04-26 12:57] u2gilles opened #2728 "Time position BEFORE a playback jump in onPositionDiscontinuity()"
AFTER a playback position jump (the user moves the seekbar), onPositionDiscontinuity() is called and :
- getCurrentWindowIndex() gives the window index AFTER the jump
- getCurrentPosition() gives the time position AFTER the jump.

Fine. But I also need the time position and window index BEFORE the jump. How can I retrieve these information?

The reason I need it is because I want to save the time

[2017-04-26 14:41] amintabar commented on #2051
Hi
I have same problem with exoplayer. i'm testing a lot of valid hls video url (exp 'http://content.jwplatform.com/manifests/vM7nH0Kl.m3u8') but all of them have same error like this. What's the problem? and how can i resolve it?!

[2017-04-26 14:47] andrewlewis commented on #2051
@amintabar If you're playing HLS streams, use HlsMediaSource (not ExtractorMediaSource).

[2017-04-26 14:55] amintabar commented on #2051
@andrewlewis Thanks, it's very helpful, and resolve my problem.

[2017-04-26 16:28] stellabei commented on #2648
@wvpaf One more important information. I tried to reproduce this problem by "simulating" a system upgrade using a rooted phone. The simulation is done by flashing a new version without erasing user data, it is the closest that I can get as a system upgrade. I had some downloaded encrypted media before the "upgrade", after that when I try to play them, I got the following error "Failed to restore k

[2017-04-26 17:17] msuman26 commented on #2029
@Avetri is your patch available in any of the Exoplayer releases? I was trying to use UdpDataSource class that defines Multicast socket. But not sure how to create a instance of UDPDataSource

[2017-04-26 18:33] sergejsha opened #2731 "Failed to resolve: com.google.android.exoplayer:exoplayer-core:r2.4.0"
Guys, I am trying to upgrade to latest version 2.4.0

`compile "com.google.android.exoplayer:exoplayer-core:r2.4.0"`

 and getting the error:

`Failed to resolve: com.google.android.exoplayer:exoplayer-core:r2.4.0`

Changing back to 2.3.1 compiles just fine. Should I wait until the artifacts get synchronized on jcenter or is there an issue with the release? Thanks!

[2017-04-26 18:35] ojw28 commented on #2731
We're just waiting for Bintray to link the new modules to jCenter, which appears to be at least a semi-manual process. The issue should be resolved once they do this. They're normally pretty quick, so hopefully this will be fixed pretty soon!

[2017-04-26 18:47] sergejsha commented on #2731
Ok, thanks!

[2017-04-26 18:48] ojw28 commented on #2731
Leaving open until linked so others can find the answer more easily.

[2017-04-26 21:20] eneasgesing opened #2732 "Can't play some audio streams (M3U8)"
### Issue description
Can't play some audio streams.

### Reproduction steps
Can't play audio streams listed below. They can be reproduced using Vitamio lib, with is no longer supported by Android 7. These streams, and similar others, are important for my app. And I'm loving Exoplayer.

### Link to test content
http://42747t.lp.azioncdn.net:1935/2747t/a/mp4:access_options/rtmp-live/atl_poa.sdp/pla

[2017-04-27 00:12] sheaam30 opened #2733 "HLS Live Video stuck at buffering"
### Issue description
When playing an HLS Live video about ~30 seconds in the player state goes to buffering and never comes back to ready. It should buffer if needed and then come back to ready.

### Reproduction steps
Was able to reproduce in the demo app by plugging in my live URL in the HLS part of `media.exolist.json` and opening the stream.

### Link to test content
Since it only does it on

[2017-04-27 01:55] 13217300237 opened #2734 "support multiple window play?"
Do you support multiple window play
I don't see multiple window in the demo, but I see a lot of cal lof  getCurrentWindowIndex() in codes.like
![image](https://cloud.githubusercontent.com/assets/16287718/25464546/89307c0e-2b2f-11e7-9d1b-ae764473f662.png)

[2017-04-27 02:19] 13217300237 commented on #2723
got it,I will check it about
![image](https://cloud.githubusercontent.com/assets/16287718/25465098/f3431df6-2b32-11e7-833a-c3a49bae2637.png)

[2017-04-27 03:26] b95505017 commented on #2731
Ok we got everything we need. :)
https://jcenter.bintray.com/com/google/android/exoplayer/

[2017-04-27 03:56] xdestiny110 commented on #2583
Is this bug fixed? I got the same problem when I update OS from 6.0.1 to 7.0. My device model is SM-G9350. I can hear voice but image is stuck. It drop all buffer in MediaCodecVideoTrackRenderer because of timeout.

[2017-04-27 04:56] sergejsha commented on #2731
Yes, everything compiles just fine. Thanks awesome release!

[2017-04-27 04:56] #2731 closed, assigned to nobody

[2017-04-27 05:18] senthilkumar2012 opened #2735 "Bitrate for webM file formats"
Does bitrates are supported for webM file formats?
Tried debugging the library, but the call back never gets triggered.
Not sure whether library issue or file format (webM) does not support bitrates.

[2017-04-27 08:49] AquilesCanta commented on #2733
Could you send a link to the content via e-mail as well?

[2017-04-27 08:54] ojw28 commented on #2734
Windows in this context are described [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Timeline.html). If you're asking about playing multiple videos at once in different windows on screen, or something like that, then the code you've highlighted is unrelated. You haven't provided a clear description of what you're actually trying to do, so it's not possible for

[2017-04-27 08:54] #2734 closed, assigned to nobody

[2017-04-27 09:14] AquilesCanta commented on #2732
The stack trace seems to indicate you are using an ExtractorMediaSource, while HlsMediaSource is the correct one for m3u8 playlists. Other than that, it seems to play well on the demo app.

[2017-04-27 09:14] #2732 closed, assigned to nobody

[2017-04-27 09:43] q-litzler opened #2736 "HLS ConcatenaningMediaSource does not autoplay when seeking to the end of video"
### Issue description
### Reproduction steps

I'm using the bare ExoPlayer, not the SimpleExoPlayer.

In 2.3.1:

When applying a track selection override to a HLS playlist (ConcatenatingMediaSource) and seeking manually to the very end of a video, the player is stuck in the buffering state, and the next video is not played automatically how it should be. However, if I seek to the end of the video

[2017-04-27 10:02] ojw28 commented on #2645
It's very unclear exactly what you're asking for. What do you actually intend to do with the data. What does "personal use" mean? If you just want to obtain the media file, why not download it directly using a normal http request?

[2017-04-27 10:03] ojw28 commented on #2534
Closing due to lack of information.

[2017-04-27 10:03] #2534 closed, assigned to AquilesCanta

[2017-04-27 10:04] ojw28 commented on #1369
Closing due to lack of information.

[2017-04-27 10:04] #1369 closed

[2017-04-27 10:04] ojw28 commented on #2446
Closing due to lack of information.

[2017-04-27 10:04] #2446 closed, assigned to andrewlewis

[2017-04-27 10:05] ojw28 commented on #2602
Closing due to lack of information. Also, if the issue doesn't reproduce in the demo app, that suggests the problem is in your own code rather than ExoPlayer.

[2017-04-27 10:05] #2602 closed, assigned to nobody

[2017-04-27 10:09] ojw28 commented on #1813
Closing as issue was resolved by updating to ExoPlayer V2. Thanks!

[2017-04-27 10:09] #1813 closed, assigned to nobody

[2017-04-27 10:11] ojw28 commented on #2413
Closing due to lack of information.

[2017-04-27 10:11] #2413 closed, assigned to nobody

[2017-04-27 10:12] Oleur commented on #2710
Thanks for the update!

[2017-04-27 12:21] ojw28 commented on #2728
This is not currently supported. Marking as an enhancement, but it's unlikely to be treated with any high level of priority.

[2017-04-27 12:22] Karthikg206 opened #2738 "Exoplayer stops when phone sleep"
1. My Exoplayer 2  stops playing when phone getting automatic sleep?

2. MediaPlayer.setWakeMode(getApplicationContext(), PowerManager.PARTIAL_WAKE_LOCK);
like any functions in Exoplayer 2 ?

[2017-04-27 12:23] ojw28 commented on #2738
Please see our [FAQs](https://google.github.io/ExoPlayer/faqs.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded).

[2017-04-27 12:23] #2738 closed, assigned to nobody

[2017-04-27 12:44] sheaam30 commented on #2733
sent

[2017-04-27 12:49] ojw28 commented on #2735
Please help us to help you by providing sufficient information when asking questions. "The call back" is not descriptive enough for us to know which callback you're referring to. It's most likely working as intended, however, since bitrate is generally only useful in the context of adaptive (e.g. DASH / SmoothStreaming / HLS) playbacks.

[2017-04-27 12:49] #2735 closed, assigned to nobody

[2017-04-27 13:59] bhupendra03 opened #2739 "Unable to play Some Videos"
Hi,
I am using SimpleExoPlayer with playback support and using demo_speed app getting this error on some video.

Below is the link of video - : https://s3-eu-west-1.amazonaws.com/pvi-cloud/31013/1b514875-28b2-469c-a65d-2c92061fdef1/PVVideo1-000000693034.mp4

java.lang.NullPointerException: Attempt to invoke interface method 'long com.google.android.exoplayer2.util.MediaClock.getPositionUs()' on a

[2017-04-27 14:19] ojw28 commented on #2739
Does this reproduce in the ExoPlayer demo app? And are you using custom renderers of some kind?
 Also, please properly fill out the issue template. If you don't provide the information we request, we're less likely to be able to help.

[2017-04-27 14:40] bhupendra03 commented on #2739
@ojw28  I am using demo_speed app.

[2017-04-27 14:51] ojw28 commented on #2739
We don't provide anything called demo_speed, as far as I know.

[2017-04-27 15:02] ojw28 commented on #2739
It looks like you're using https://github.com/yangwuan55/ExoPlayer. This is an unofficial fork and is not controlled by us. It looks like the bug is specific to modifications that have been made on that fork. I'd suggest using official versions only.

Note that ExoPlayer supports changes to playback speed directly as of `2.4.0`, as described [here](https://medium.com/google-exoplayer/variable-spee

[2017-04-27 15:02] #2739 closed, assigned to nobody

[2017-04-27 15:15] botondbutuza opened #2740 "Custom played colour in TimeBar"
Hey guys!

Just updated to 2.4.0 and am playing around with the new TimeBar. Loving the customisations available.

I set a custom playedColor (`app:played_color="@color/red"`), and noticed that the colour of the whole progress bar changes to the played colour when scrubbing finishes. So if I'm at position 1000 and am scrubbing back to position 200, the played colour only fills up to 200, but if I

[2017-04-27 16:04] AquilesCanta commented on #2736
I don't have much time to look into this right now so it will have to wait until I have some time or a teammate picks it up.

In the latter case, this seem only to reproduce when a text track is enabled in the currently played source. So, demo app reproduction steps:

1. Create a playlist, like so:

[code]

2. Play using the demo app. Make sure the text track is enabled. Might not be by default.
3

[2017-04-27 16:09] ojw28 commented on #2736
It's possible that this is the same as #1874, although let's leave them as separate issues until we have a chance to confirm. It's relatively likely we'll get around to fixing #1874 first, at which point we should probably just check this issue again and see if it still reproduces.

[2017-04-27 16:18] q-litzler commented on #2736
Thank you for the prompt replies, and happy bug hunting ! :)

[2017-04-27 17:43] ofuwape opened #2742 "HLS Closed-Captions not showing up with DEFAULT selection."
**The Issue:**
Closed Captions doesn't show up when the DEFAULT option is selected.

**Exoplayer Version:** 2.4.0

**Devices:**
- HTC Nexus 9 (Android 7.1.1 API 25)
- Nexus 6 (Android 6.0 API 23)

Tested with the sample/demo app

**HLS link:** https://cdn.curiositystream.com/system/Encoding/L3/000/000/781/249/preview_v2.m3u8

[2017-04-27 19:22] rileymacdonald opened #2743 "HLS: Don't expose CEA-608 track when CLOSED-CAPTIONS=NONE"
I'm upgrading from ExoPlayer `r.1.5.9` to `r2.2.0`. Quick question:

`ExoPlayer.EventListener.onTracksChanged()` is returning a `TrackGroup` with a single `Format` with a `sampleMimeType` of `application/cea-608` during video load. I assume the content I'm loading doesn't have `cea608` captions due to the following master.m3u8 response:
[code]
What's the best way to verify my video content doesn't

[2017-04-27 19:42] aarondib opened #2744 "Error assembling ExoPlayer v2.4.0 with Google Play Services"
Errors assembling ExoPlayer v2.4.0 together with Google Play Services.
Configuration example:
`compile 'com.google.android.gms:play-services-ads:10.2.0'`
`compile 'com.google.android.exoplayer:exoplayer:r2.4.0'`

I guess, the problem is that exoplayer uses "com.android.support:support-annotations:25.3.1"
while play-services uses "com.android.support:support-v4:24.0.0", which are not compatible.

E

[2017-04-27 21:15] PaulWoitaschek commented on #26
Thanks for the release. It works really great!

[2017-04-27 22:11] molexx commented on #677
Thanks @ojw28 - I have switching SurfaceView when zooming to fullscreen mostly working using that change.

I'm still having fun with rotation. In #1084 you noted:

what were your thoughts towards 'slightly awkward' options please? Whilst I can now switch SurfaceViews it seems that both of them need to be in layout to avoid the player throwing an exception and releasing the codec, and whilst the Ac

[2017-04-27 22:35] ojw28 commented on #2744
They are compatible, it's just that gradle isn't clever enough to figure it out. You can resolve the problem by amending your example to explicitly also depend on the most recent version of com.android.support:support-v4, like:

compile 'com.google.android.gms:play-services-ads:10.2.0'
compile 'com.google.android.exoplayer:exoplayer:r2.4.0'
compile 'com.android.support:support-v4:25.3.1'

The need

[2017-04-27 22:36] #2744 closed, assigned to nobody

[2017-04-28 01:19] uyjulius commented on #2583
Thanks for sharing this. We tested this thinking that this might be a Samsung OS issue but the S8, which runs Android 7.0 as well does not exhibit this issue. We have yet to get our hands on an S7 running 7.0.

[2017-04-28 01:27] ayeshq commented on #2667
Hi

Exoplayer gets prepared successfully when using the ClippingMediaSource, and **onPlayerError** callback is never triggered, but the streaming never starts !
And I see these errors in logcat::

- 04-28 04:19:44.704 529-529/? E/OMX-VDEC-1080P: Extension: OMX.google.android.index.storeANWBufferInMetadata not implemented
- 04-28 04:19:44.716 529-1119/? E/OMX-VDEC-1080P: Extension: OMX.google.andro

[2017-04-28 01:36] workspace commented on #26
@andrewlewis
As I mentioned above, when playing from 2.4.0 version with widevine secure path, the screen stops immediately after 10 seconds. NEXUS 5 (23), Galaxy Note 5 (24), Galaxy S8 Plus(24) and other API 23 and above work normally. On the other hand, older devices such as the Galaxy S4 (21), Galaxy Note 2 (19) and Galaxy Note (16) have a problem in changing the playback speed faster. I have bu

[2017-04-28 03:39] u2gilles commented on #2728
Thanks for you answer. I anticipated this answer so I put my treatment in OnClickListener of exo_prev and exo_next buttons  instead. It works fine.

[2017-04-28 06:02] Pash97 opened #2745 "Getting FATAL EXCEPTION error."
Hi i want to play hls and dash video. hls video is playing perfectly but when i enter dash video url it's giving error

Following is Error
------------------

FATAL EXCEPTION: main
                  Process: demo.drm, PID: 5178
                  java.lang.ClassCastException: VideoPlayer cannot be cast to com.google.android.exoplayer.upstream.BandwidthMeter$EventListener
                      at co

[2017-04-28 06:52] HungamaSurat commented on #1975
Below is HLS streaming URL, which we are using for testing purpose:
http://hungcomiosta-vh.akamaihd.net/i/VideoS3/r/ms2/20673450/4/1235/Purza_,32001,64001,96001,128001,196001,.mp4.csmil/master.m3u8?hdnea=exp=1494853477~acl=/i/VideoS3/r/ms2/20673450/4/1235/*~hmac=f4cd1210a77c7b6d3bdeac91fe17377fbf02f72ce7770fbd42dbfab06c505252

Please check and let me know if you face any issue in accessing it.

[2017-04-28 07:51] ojw28 commented on #2745
This crash is entirely located in own code (HpLib_DashHpLibRendererBuilder), and is not an ExoPlayer issue.

[2017-04-28 07:51] #2745 closed, assigned to nobody

[2017-04-28 07:53] andrewlewis commented on #2745
But for what it's worth, the error description `java.lang.ClassCastException: VideoPlayer cannot be cast to com.google.android.exoplayer.upstream.BandwidthMeter$EventListener` suggests that you need to make VideoPlayer implement BandwidthMeter.EventListener. If this isn't clear, please read the code for the demo app.

[2017-04-28 08:01] huyongli opened #2746 "when in service play music, setPlayWhenReady(false) is not work"
my service is Foreground service.
when play music in background, i use setPlayWhenReady(false)  to pause music, but it not work. I don't know why? But in activity this is work .

[2017-04-28 08:02] ojw28 commented on #1975
Adaptive audio is being enabled properly for the test stream in the demo app. If you look at the logging, you can see all five streams being selected:
[code]
So I'm unclear what the issue is that you're seeing. What do you expect to happen that's not happening?

[2017-04-28 08:06] andrewlewis commented on #26
@PaulWoitaschek Glad to hear it's working!

@KiminRyu Please could you file a new issue to track that, including all the details requested in the new issue template? Thanks.

I'm closing this issue now as the core functionality is implemented, but as @ojw28 noted [above](https://github.com/google/ExoPlayer/issues/26#issuecomment-290844837) further changes will be needed to propagate the playback s

[2017-04-28 08:06] #26 closed

[2017-04-28 08:33] andrewlewis commented on #2667
Those errors are output by the media framework and I think they're harmless/expected.

Please could you provide steps to reproduce this in the demo app, including a link to the sample media (send it to dev.exoplayer@gmail.com if you don't want to post it here)?

[2017-04-28 08:36] Pash97 commented on #2745
Sorry for wasted your time.. code is working for me..Thank you

[2017-04-28 08:57] senthilkumar2012 commented on #2735
For formats like
https://storage.googleapis.com/exoplayer-test-media-1/gen-3/screens/dash-vod-single-segment/video-vp9-360.webm
http://demos.webmproject.org/exoplayer/glass_vp9_vorbis.webm, the callback method onDownstreamFormatChanged(int trackType, Format trackFormat, int trackSelectionReason,
      Object trackSelectionData, long mediaTimeMs) is not triggered by the exoplayer library.
Is this a

[2017-04-28 09:07] ojw28 commented on #2735
A plain WebM file is not adaptive. Adaptive streaming formats are: DASH, HLS, SmoothStreaming.

[2017-04-28 09:12] ojw28 commented on #1975
Perhaps you've concluded that the format is not adapting because you're not seeing any logging that looks like:
[code]
This is because the five streams are so similar, they actually look identical to the audio renderer that reports these format change events. If you want to see when the format changes, you can use `onDownstreamFormatChanged` instead, which is triggered whenever the format changes

[2017-04-28 09:18] ojw28 commented on #2742
I gave this a try and it seems the captions display correctly in the demo app. They're a little bit out of sync, but they're out of sync in the source content, so that's not a player issue. Which specific captions that are in the [actual caption file](https://cdn.curiositystream.com/system/MediaClosedCaptions/ccs/000/003/185/original/Flight33_Miniverse_Rev4.vtt) do you see not being displayed, or

[2017-04-28 09:18] #2742 closed, assigned to nobody

[2017-04-28 09:26] kapoorvivek commented on #1975
@ojw28 Thanks, we will check.

[2017-04-28 09:32] ojw28 commented on #2746
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-04-28 09:32] #2746 closed, assigned to nobody

[2017-04-28 09:33] ojw28 commented on #2728
Yes, that should work. I think I'll close this in that case; it seems easy enough to support on the application side rather than as a player feature.

[2017-04-28 09:33] #2728 closed, assigned to nobody

[2017-04-28 09:52] huyongli opened #2747 "when in service play music, setPlayWhenReady(false) is not work"
### Issue description
i play mp3  music in a background service,  i use setPlayWhenReady(false) to pause, but it not work. But it work well then i try in activity
service is foreground service, and i create the SimpleExoPlayer in this service not in activity.

### Reproduction steps
Create SimpleExoPlayer in this service not in activity, and play mp3 music , try pause music by setPlayWhenReady(fal

[2017-04-28 10:38] #2747 closed, assigned to nobody

[2017-04-28 10:38] huyongli commented on #2747
i resolve it

[2017-04-28 10:42] IanDBird opened #2748 "HLS: Add factory for Extractors"
In ExoPlayer v2, the `HlsMediaChunk` class is responsible for constructing what extractor is required for a given format (`createExtractor`). This means that HLS handling is tightly coupled to what extractors are used.

Since applications are capable of creating their own extractors (e.g. their own `TsExtractor`) it would be useful to allow these to be passed into the HLS implementation to be used

[2017-04-28 10:49] jrocharodrigues commented on #2603
Hi,

Did you have the chance to look at the issue again? Do you need more info or logs?

Thanks

[2017-04-28 11:20] Khoosham commented on #2747
@huyongli  can you post your service sample here. Thank you

[2017-04-28 11:24] rajasekaranm opened #2749 "Getting Renderer Error"
Hi Here,

I unable to play the video in android 5.0 devices and I getting exception like this

E/ExoPlayerImplInternal: Renderer error.
                                                                               com.google.android.exoplayer2.ExoPlaybackException
                                                                                   at com.google.android.exoplayer2.mediacodec.MediaCo

[2017-04-28 11:36] ojw28 commented on #2749
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-04-28 11:36] #2749 closed, assigned to nobody

[2017-04-28 11:56] u2gilles commented on #2728
Ok. Thanks for prompt answers.

2017-04-28 16:33 GMT+07:00 ojw28 <notifications@github.com>:

[2017-04-28 14:43] marcbaechinger commented on #1975
Hi Vivek

I tested with the stream you sent me with ExoPlayer v2.4.0.
I added some log statements to make track selection visible:

When testing without network throttling I see this selection:

measured effective bitrate is 25030856 so it always select the highest quality available:
195000 -> .../segment4_4_a.ts   (_4_a.ts)

[code]

When throttling the network it selects segments for 128000 bitra

[2017-04-28 14:55] marcbaechinger commented on #1975
When playing the stream with the APK you sent I see you are using ExoPlayer 2.3.1.

Can you please upgrade to 2.4.0 and confirm?

[2017-04-28 15:09] Gian84 opened #2750 "Some HLS / DASH live contents stop working when change level on skipper"
Hi,
I’m using skipper (http://www.technicolor.com/en/solutions-services/connected-home/video-devices/ott-set-top-boxes/skipper, http://www.telecomitalia.com/tit/en/archivio/media/note-stampa/market/2016/TIM-nuovo-decoder-TimVision-Android.html), it should be a supported device.
Android version is 6.0.1
I’m using Exoplayer demo app 2.3.1.

On skipper I have tried different content types (DASH, HLS,

[2017-04-28 15:24] blennerSilva opened #2751 "Pitch causing problems on exoplayer"
Guys first of all thank you for adding the PlaybackParameters function to exoplayer.

but the pitch variable is causing some problems on Exoplayer when im setting different speeds
in different phones and android versions.

on a motorola g1 android 5.1 i set the speed at 1.5x and pitch to one and the audio gets all distorted
on a samsung s4 android 4.4 i set the speed at 2x and pitch at one and the

[2017-04-28 15:28] andrewlewis commented on #2751
Are you building a release version of your APK? If not, the audio playback may not be smooth (see https://github.com/google/ExoPlayer/issues/26#issuecomment-296133260).

If you see this problem with a release version of your APK, please provide all the information requested in the issue template so we can investigate further.

[2017-04-28 15:32] clauskrogholm commented on #2751
I am having the exact same problem. For me it can be reproduced by adding an MP3 file as an asset in the demo app, and then setting PlaybackParameters with speed 1.25 and pitch 1.

[2017-04-28 15:33] clauskrogholm commented on #2751
The problem is the same on a release APK for my own app.

[2017-04-28 15:40] andrewlewis commented on #2751
@clauskrogholm Testing on a Samsung Galaxy S4 running Android 4.2.2, a 44.1 kHz stereo MP3 played back fine at 1.25 speed. This was on a debuggable (non-release) build in the demo app. Please could you provide a link to the stream you're trying to play so I can try to reproduce the issue you're seeing?

[2017-04-28 15:55] Merseyside opened #2752 "Start volume problem"
I wrote you about two month ago. I got a problem with volume. I try to set it in 0 before playback starts. But when its ready it do not work as expected: for ~0.2 second it is loud and after that it becomes quiet. I got an  application on Google play. It is easy to reproduce:
1. Go to settings -> Sound -> Set crossfade for example to 10000ms, also turn on Crossfade fading option.
2. In folders or

[2017-04-28 16:05] andrewlewis commented on #2740
The name `played_color` is misleading. The value is used as the bar color both to the left and to the right of the scrubbing handle, except that the opacity is overridden to be opaque for the part of the bar on the left of the handle.

You should be able to see this if you set the color like `app:played_color="#880000FF"`. In this case the section of the bar to the left of the handle should be opa

[2017-04-28 16:28] clauskrogholm commented on #2751
@andrewlewis First of all, thank you for taking such quick action! The file I tested in the demo app can be found here: https://www.dropbox.com/s/7ctbo1rxud0wlpj/02%20Amore%20E%20Musica.mp3?dl=0

I have tested on a handful of different files too, with the same result. And all of them play back flawlessly on speed 1.0.

[2017-04-28 16:34] botondbutuza commented on #2740
Thank you for your response and explanation, Andrew!

Okay, so my `app:played_colour` was `#EA4239`, and that colour was applied both left and right of the playhead, without any opacity change. When I changed the colour to `#88EA4239`, the opacity is correctly set, and the left side is different to the right side. I guess the colour is incorrectly parsed if there's no alpha value?

Also, something

[2017-04-28 16:34] andrewlewis commented on #2751
Thanks. I can reproduce the issue with that file.

[2017-04-28 16:53] clauskrogholm commented on #2751
@andrewlewis That is good to know - after all, a reproducible error is so much more fixable than an unknown error :-)

Thanks again for the swift reply!

[2017-04-28 19:55] senthilkumar2012 commented on #2735
thank you for the response. Is there any method to fetch the current bitrate from exoplayer other than the call back onDownstreamFormatChanged(int trackType, Format trackFormat, int trackSelectionReason,
Object trackSelectionData, long mediaTimeMs)

[2017-04-28 20:25] shalin186 opened #2753 "Synchronization issue with applying specific effects on HLS video stream using ExoPlayer"
Hi,

I am playing an HLS video stream in my android app using ExoPlayer. Everything works fine except for one particular scenario where I suppose it is a synchronization related artifact.

So in my app, I am trying to add some effect (e.g. zoom effect or some rotation effect) on the hls video stream at particular time instants. The video stream I have is 30fps.
For example, each of my HLS segment

[2017-04-28 20:45] blennerSilva commented on #2751
on my app it worked on release mode

[2017-04-28 22:09] shalin186 commented on #2392
Hi Michael,

Did you have any further success on this? I was also trying similar things where I need to know the exact time when the first frame from different format is being displayed and I need to apply rotation starting from that frame. If there's even one frame mismatch I see a small glitch. Please let me know if you have any helpful information here.

Shalin

[2017-04-29 04:58] ram992 commented on #1276
@AquilesCanta any info

[2017-04-29 08:24] heinzjon opened #2754 "H.265 support"
Does Exoplayer support H.265? If not is there any plans to do it in the future?

[2017-04-29 10:17] ZuZuK opened #2755 "Bug with cipher of SimpleCache on Android 4.3"
### Issue description
Crash on closing CipherStream that is using in SimpleCache (Android 4.3 only).
Where is a problem: `com/google/android/exoplayer2/upstream/cache/CachedContentIndex.java:90`
Google similar issue: https://issuetracker.google.com/issues/36976726
Possible cause: https://android-developers.googleblog.com/2013/12/changes-to-secretkeyfactory-api-in.html

### Reproduction steps
Can't

[2017-04-29 15:07] sheaam30 commented on #2733
@AquilesCanta it looks like it's a com.google.android.exoplayer2.source.BehindLiveWindowException. I saw issue #1782 and looks like it's related to that, although it does happen with the DemoPlayer which it's supposed to be fixed in.

Edit: Getting that exception only once in a while. Sometimes it'll freeze and give me that error and other times it won't.

[2017-04-29 19:25] Khoosham commented on #2283
in the mean time maybe you can check this project ExoPlayer2 and Cast SDK v3 working example
https://github.com/lawloretienne/Loop

VideoDetailsFragment is casting videos...

i did not check it since i dont have a cast tv

[2017-04-30 05:37] Merseyside commented on #2752
Here is the log:
04-30 12:32:08.096 7148-7148/com.merseyside.admin.exoplayer D/Volume: Ready
04-30 12:32:08.096 7148-7148/com.merseyside.admin.exoplayer D/Volume: isEndOfTrack is true
04-30 12:32:08.096 7148-7148/com.merseyside.admin.exoplayer D/Volume: 0.0
04-30 12:32:08.096 7148-7148/com.merseyside.admin.exoplayer D/Volume: Player volume = 0.0
04-30 12:32:08.101 7148-9812/com.merseyside.admin.ex

[2017-04-30 09:28] Khoosham commented on #2283
@ojw28 when will this enhancement occur.
i tried adding cast sdk yesterday and gave up. too much work and complicated :(

[2017-04-30 13:42] kiall commented on #2552
And, validated it works nicely! Thanks :)

[2017-05-01 08:09] andrewlewis commented on #2754
See [Supported formats (sample formats)](https://google.github.io/ExoPlayer/supported-formats.html#sample-formats).

[2017-05-01 08:09] #2754 closed, assigned to nobody

[2017-05-01 08:43] andrewlewis commented on #2751
@clauskrogholm I'm afraid I spoke too soon -- although playback is not smooth with that file on a debuggable APK on my test device, it plays fine if I use a signed, release APK.

- Please could you double check that the APK you're testing with is a signed, release APK not a debuggable one? `aapt dump xmltree demo.apk AndroidManifest.xml | grep debuggable` should have no output if it's not debuggab

[2017-05-01 11:53] needz opened #2757 "Local stream stuck in loading state in ExoPlayer 2.4.0"
### Issue description
When using Demo player in ExoPlayer version 2.4.0 to playback the local stream streamed from Enigma2 Satellite tuner, the player is stuck in loading mode without getting any track information and not switching any further (the tuner itself indicates that there is a stream request going on as it does when it is streaming). The same stream opens fine with Demo player in ExoPlay

[2017-05-01 21:26] justinboch1986 commented on #2707
Any thoughts on this?

Will upgrading to EXO V 2.4.0 help you think?

[2017-05-02 06:22] peddisri opened #2758 "[Question] Closed Captions (CEA-608 & 708) support for B-Frames in H.264"
### Issue description
I have a question about Closed Captions support.
H.264 content that supports B Frames have frames decoding order different than presentation order.  It is expected that the CC (608 and 708) data present in them should be ordered on presentation timestamps. From the code in Exo2, it looks like this re-ordering is not supported. Any plans of adding this support? If I were to ad

[2017-05-02 07:30] ojw28 commented on #2758
This is supported already (by the fact CeaDecoder uses a TreeSet). Trying to play some content of this form would presumably have allowed you to answer this question for yourself. If you're actually seeing captions being presented in the wrong order, please let us know.

[2017-05-02 07:30] #2758 closed, assigned to nobody

[2017-05-02 08:01] ojw28 commented on #2752
To better understand this, you need to have an understanding of ExoPlayer's threading model, as described [here](http://google.github.io/ExoPlayer/doc/reference/). Note that operations performed on the player, and events delivered from the player, are both asynchronous.

This means that a STATE_READY event will be delivered to you asynchronously, and the setVolume operation will be applied asynchr

[2017-05-02 08:01] #2752 closed, assigned to nobody

[2017-05-02 08:11] ojw28 commented on #2735
Estimates of actual link bitrate are available from `DefaultBandwidthMeter`, but that's different from media bitrate. I don't think there's a way of fetching the media bitrate for non-adaptive media.

It's pretty unclear what you're actually trying to do. Saying you want to get the current bitrate doesn't really answer the question, since that's not by itself useful, and it's unclear what you can

[2017-05-02 08:20] AquilesCanta commented on #1276
As I mention in my previous comment:

From what you mention, it should be enough. For general programming questions I'd suggest trying Stack Overflow.

[2017-05-02 08:20] #1276 closed

[2017-05-02 08:21] AquilesCanta commented on #2733
Sorry, I haven't had time to look into this. Will update this once I do.

[2017-05-02 08:29] clauskrogholm commented on #2751
@andrewlewis I will check as soon as possible, and revert.

[2017-05-02 08:29] peddisri commented on #2758
Thanks! My bad, I was looking at a higher level, not at CEADecoder level. This answers my question.

[2017-05-02 08:54] alfonsoramosa opened #2760 "Catch up playback problem, questions"
Exoplayer 2.2.0
Device: Nexus player
Android 7.1.1

I'm trying to play Smooth Streaming Rolling Buffer CatchUp (CDN buffer) assets with Exoplayer.
The time reference for the chanks is not starting at 0, as happens with VOD assets, but for example at 14931911990078373, see manifest example:

[code]

I'm having some problems in the Exoplayer wrapper, as it's expecting position received and passed to

[2017-05-02 09:10] andrewlewis commented on #2740
I suspect `#EA4239` is implicitly opaque. The color is used unmodified on the unplayed portion, and is made opaque for the played portion, and in this case there's no difference because the color is already opaque.

I'll mark this as an enhancement to track being able to specify colors for the played/buffered/unplayed parts of the bar and the scrubber handle separately.

If you want to customize h

[2017-05-02 10:13] ojw28 commented on #2760
Have you read the Javadoc for Timeline, Window and Period, and getCurrentPosition? They describe the model used in some detail:

http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Timeline.html
http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html#getCurrentPosition--

Please let us know whether you're able to answer your question,

[2017-05-02 10:41] andrewlewis commented on #2753
As general guidance, to get this to work well I think you'd need to have some code that decides whether to apply the effect based on the frame timestamp before the frame is rendered, rather than polling the player position. The player position is determined by the audio track, but video renderers may show frames (imperceptibly) late or early relative to this position.

To give more specific help i

[2017-05-02 11:13] zoard25 opened #2761 "Tunneled video playback not starting"
Hi,

I am working on an Android TV application and i want to enable tunneling for the video playback to improve performance.

As i know enabling it should be just setting the audio session id with: trackSelector.setTunnelingAudioSessionId(C.generateAudioSessionIdV21(this));  but unfortunately it won't start the tunneling just by setting this id in my case.

The device should support tunneling, i c

[2017-05-02 11:19] Merseyside commented on #2752
Some moments ago it was before setPlayWhenReady as in my last issue https://github.com/google/ExoPlayer/issues/2594. It works the same. Crossfade works well.  What have I  do make it starts with 0? You say its async, so i tried with Thread.sleep(), but there was no benefit.

[2017-05-02 11:22] ojw28 commented on #2761
I think our code expects the tunneled decoder to be listed first (or for a single decoder to support both non-tunneled and tunneled mode).  If you manually change getDecoderInfo to ignore the first (i.e. non-tunneled) decoder, do you see tunneled playback working correctly in that case?

[2017-05-02 11:29] ojw28 commented on #2752
We cannot reproduce the issue when setVolume(0) is called before setPlayWhenRead(true). We tried it and it worked as expected for us. You need to follow the issue template and provide proper steps to reproduce in our demo app if you want us to investigate further, since as far as we can determine everything works correctly (which rather suggests a bug in your application code).

[2017-05-02 11:39] xdeop commented on #1851
Hi @mkovalyk could you post your solution to solve this type of error?

I have a queue (ArrayList<ArrayDeque<ByteBuffer>>) where audio & video encoding threads add their respective data for the streamer thread that grabs it and sends it. Here is how I add the data:

ByteBuffer muxerInput;
synchronized (mMuxerInputQueue) {
     muxerInput = mMuxerInputQueue.get(trackIndex).isEmpty() ?
          Byt

[2017-05-02 11:53] Merseyside commented on #2752
Omg, i'm  so sorry guys, its my fault. I found a bug:)

[2017-05-02 12:00] zoard25 commented on #2761
I can see that the correct decoders are initialized (with tunneling) and the playback is starting but ex. if i do some seeks back and forth sometimes the image gets stuck. And after starting multiple times (2-3x) one asset the playback gets really laggy and even stops at some point and in the logs i can see errors like: "nexus_tunnel_bout_write: playpump write timeout, ret=5"

So i assume that is

[2017-05-02 15:36] PaulWoitaschek opened #2762 "Get duration without preparing"
Is it possible to get the duration of a file without preparing the full player? Preparing each single file the user owns takes forever.

So far I was using MediaMetaDataRetriever but that does not handle files that can be handled by exo player extensions.

[2017-05-02 17:21] clauskrogholm commented on #2751
@andrewlewis I just tested that the APK was a signed release APK (yielding no output from the aapt command). Also - to be absolutely sure - I generated a new signed APK and transferred it to my device via Android File Transfer, and installed it from there.

What I find quite strange is that the high level of distortion that I am experiencing is neither better nor worse when I am explicitly using a

[2017-05-02 17:49] tanoj commented on #2735
Thanks for your quick response. Let me clarify here.
Our product reports all metadata such as platform, CDN, asset name, bitrate etc about the video content in real time while it is being played by any User using any player. But in this case,  bitrates are not reported for webM video contents in Exoplayer.
We are trying to find the way  to fetch bitrates for webM content in exoplayer ,so that we c

[2017-05-02 18:32] ghost commented on #2706
I am seeing this same issue using the latest sample app from version 2.4 on an nvidia shield running 7.0. Selecting Widevine DASH: MP4,H265 and then try playing WV:Secure UHD (MP4,H265). Playback starts and the video goes on for about 5 seconds and then freezes. Ive attached a complete log as a text file.

[exoplayer-sample-uhd-wv-h265-failed.txt](https://github.com/google/ExoPlayer/files/971619/e

[2017-05-02 18:43] ojw28 commented on #2735
What bitrate do you actually want? For WebM I think bitrate would just be considered the file size divided by the duration. Exposing the file size is tracked by https://github.com/google/ExoPlayer/issues/2638. The duration is already exposed, so you'd have enough information to calculate the bitrate at that point.

Also, if you're in control of the content on the server-side then you should alread

[2017-05-02 19:26] ojw28 commented on #677
It's possible to implement a "dummy surface" that can be attached during the period where you otherwise wouldn't have one. It's possible to use this approach for non DRM'd content and DRM'd content that doesn't require a secure output path in its license policy. For DRM'd content that does require a secure output path, it's possible to use this approach only if the device supports `EGL_EXT_protect

[2017-05-02 21:57] ojw28 commented on #2762
How would you expect this to work quickly, given at a bare minimum something has to parse some metadata out of each file to extract the duration? If you're dealing with local files, I think the normal solution to this would be to build an index (e.g. stored as a database), so that you only have to do it once.

[2017-05-02 22:01] nosmirck opened #2763 "Offline DRM Playback Sample"
_I'm not using the template because I'm not filing a bug report or reporting an issue, bur rather requesting a wiki, sample, documentation, or some form of direction_

I'm sorry if this request is not allowed, but since not everyone has a lot of experience with this, it would be great if the sample demo project included an offline playback sample.

I my case, I have no idea on how to request the l

[2017-05-02 22:09] #2645 closed, assigned to nobody

[2017-05-02 22:10] ojw28 commented on #2701
Closing because I still don't understand the request, and clarification has not been provided.

[2017-05-02 22:10] #2701 closed, assigned to nobody

[2017-05-02 22:14] ojw28 commented on #2706
@JamieAndresakis - If you're seeing video at all then that's not the same issue. This issue is specifically for the case where video tracks aren't selected.
@ChernyshovYuriy - Unless you're able to answer the questions above I'll go ahead and close this, since there's nothing obviously actionable.

[2017-05-02 22:15] ojw28 commented on #2376
Closing due to lack of clarification.

[2017-05-02 22:15] #2376 closed, assigned to nobody

[2017-05-02 22:20] ojw28 commented on #2420
In the snippet of code in the StackOverflow post, you instantiate a `DefaultDataSourceFactory` that gets passed in to the `ExtractorMediaSource`. If you want to use a custom `DataSource`, you need to instead instantiate a `DataSource.Factory` that creates instances of the custom `DataSource` that you want.

[2017-05-02 22:20] #2420 closed, assigned to nobody

[2017-05-02 22:24] ojw28 commented on #2588
Closing because this is a question about your own code rather than about any code in ExoPlayer. This is not a use case we support directly.

[2017-05-02 22:24] #2588 closed, assigned to nobody

[2017-05-02 22:27] #2042 closed, assigned to nobody

[2017-05-02 22:58] ghost commented on #2706
@ojw28  in your sample app your own sample content starts and then dies after 5 seconds. Our own internal content fails immediately with the same error without ever playing anything. If you think I should open a separate issue please advise.

[2017-05-02 23:33] ojw28 commented on #2706
It's definitely a different issue. The error isn't actually the same. You're seeing "Error decrypting data: insufficient output protection" and in the original post the error was "Unknown Error".

The "insufficient output detection" error is indicative of the device refusing to decrypt the content because the protection level of the video output path isn't sufficient to protect the content. Is it

[2017-05-03 00:18] ghost commented on #2706
I apologize for not looking closer at the issue from the original poster but thank you for indulging my question any way 👍

I was running the shield on a newish dell monitor straight hdmi. Not sure if its HDCP compatible. When I get the shield back tomorrow I will test it on a tv so thank you for that.

I have not made any modifications to the application other than adding my own urls to media.exo

[2017-05-03 00:40] ChernyshovYuriy commented on #2706
Sorry guys, I am no longer with the company I am originally reported issue at.
I would be happy to go on conversation and found root cause of my issue but I can not go on.
For this reason, you guys decide whether to close it or investigate alongside.
Sorry.

[2017-05-03 00:43] ghost commented on #2706
I just checked the sample app on a sony bravia tv running 6.0.1. Everything seems to work so the issue with the sample content mustve been related to the hdcp stuff on the monitor. My content is still not working so it must be widevine related.

[2017-05-03 04:35] PaulWoitaschek commented on #2762
Yes, this is done once. But it takes several minutes. And it's significantly slower than the extractor.

Is just wondered if there is a quicker way to retrieve the meta data only.

In other threads and commits I read about ID3 tags, but i could not find the method where I can parse the metadata of a file.
Is that possible?

[2017-05-03 09:00] ojw28 commented on #2706
@JamieAndresakis - No worries! I'd assume it's related to HDCP in that case. Plugging into a computer monitor isn't really a common use case. We've found that support can be quite variable (and all bets are off if you're using any kind of non-standard cable). At the platform level it's likely that the right thing is happening. I'm unsure why the license policy of the UHD sample content is differen

[2017-05-03 09:00] #2706 closed, assigned to nobody

[2017-05-03 09:01] RajatSingh commented on #2467
Hi Moagrius,

I am trying to download video from this url "http://storage.googleapis.com/vrview/examples/video/hls/congo.m3u8 ".

But getting below error while playing the video: Please help

com.test.exoplayer2 E/ExoPlayerImplInternal: Source error.
                                                                            com.google.android.exoplayer2.source.UnrecognizedInputFormatException: No

[2017-05-03 09:07] andrewlewis commented on #2467
@RajatSingh That link points to an HLS stream, not a media container file. See [Why do some streams fail with UnrecognizedInputFormatException?](https://google.github.io/ExoPlayer/faqs.html#why-do-some-streams-fail-with-unrecognizedinputformatexception).

[2017-05-03 09:19] RajatSingh commented on #2467
@andrewlewis What about this url?

http://vod.nexg.tv/video/v/amz3/brd115/17/05/ent/Shahrukh_And_Salman_Top_10_Richest_Actors_Of_Bollywood.smil/chunklist_w894125283_b80000.m3u8?sf=mon

I just want to download video from this url to our local device in encrypted form and play it using this sample. Please help. Thanks in advance.

[2017-05-03 12:17] alfonsoramosa commented on #2760
I will try to explain what I need and the problems that I'm having with this special kind of content:

- Get the playback position to display it, for example, if Exoplayer has been playing the content for 1 minute and 25 seconds, I would like to display 01:25
- To do that, I'm getting the current position, with player.getCurrentPosition()
- That's working fine when the time reference for the SS ch

[2017-05-03 13:20] ArunkarthickNallasamy opened #2764 "Adding request headers to ExtractorMediaSource"
Hello,
 I need to add request headers for playing video with exoplayer. I could see it was available with ExtractorSampleSource and I could not add the same with ExtractorMediaSource. Also i dont see  ExtractorSampleSource part of r2.3.1.  Kindly help

[2017-05-03 14:29] satyres commented on #2645
ok,for the AAC and MP3 it's easy , but HLS , RTSP streams how can i record them ?
so the main idea is to obtain the bytes read before / after being played by the engine of Exoplayer.
so how can i obtain the bytes to record them on my phone?
Thank you

[2017-05-03 16:17] ojw28 commented on #2755
I tried this on a Nexus 7 running Android 4.3 and the crash does not reproduce. I suspect you have more information about the affected devices, for example device model numbers, exact builds of Android 4.3, and possibly device fingerprints (which contain both of these together with additional useful information). Please can you provide this information, if you have it?

Also, what % of user device

[2017-05-03 17:15] q-litzler opened #2766 "Support rewind / backward playback"
Hello, this is a feature request.

I've been playing with the new playbackParameters feature, and it's great.

Will we be able to pass a negative speed value (to rewind the video) in the future ?

Thanks

[2017-05-03 20:24] ZuZuK commented on #2755
![affected devices](http://puu.sh/vEAT2/1d99ad3c09.png)

very rare case. we have 76 affected users. it's much less than 1% of auditory

maybe you are right that it's broken Android. especially cause 23% of affected devices are rooted

[2017-05-04 00:36] ChernyshovYuriy commented on #2706
@ojw28 it doesn't mean that I stopped use ExoPlayer at all.
I just no more with the AT&T (QuickPlay Media), however, I do use ExoPlayer in my personal project as a Player to play radio stream. Search "Open Radio" in Google Play, this application (means ExoPlayer as well) also used in the vehicles because it is Google Auto compatible :-)

[2017-05-04 00:54] lioun1729 opened #2767 "Playback Buffer re-download"
![kakaotalk_20170504_094019970](https://cloud.githubusercontent.com/assets/16380086/25687041/f6a8e16c-30ad-11e7-863b-d9ced65d5faf.jpg)
![kakaotalk_20170504_094019478](https://cloud.githubusercontent.com/assets/16380086/25687043/f979278a-30ad-11e7-85a8-8271a5279beb.jpg)

The first picture is a exoplayer video demo

If I click the previous timeline (e.g. 00:10 , The second picture), The playback buf

[2017-05-04 06:07] AOrobator opened #2769 "Error building FFmpeg extension"
I get the following error when I attempt to build the FFmpeg extension for ExoPlayer 2.4.0

`Unknown option "--target-os=android"`

I'm on a Mac running Sierra and have NDK r14b

I'm using the following to build/make the FFmpeg extension:

[code]

[2017-05-04 06:09] MizzleDK opened #2770 "Some Smooth Streaming assets don't play (CodecException)"
### Issue description
I'm using the demo application with a set of custom HSS samples added to the `media.exolist.json` file. All samples are PlayReady protected, although the server currently doesn't authenticate and allows playback even if you only have the manifest URL and nothing else.

The "Live" and "LLCU" samples work, but the "Movie" and "Catchup" ones don't. They both fail with a `ExoPlay

[2017-05-04 08:50] leach-chen opened #2771 "player local mp4 use large memory"
**Issue description**

when I use the exoplayer2 play the local mp4 file.it use large memory
if the file is 10M,it will use 20M memory
if the file is 40M,it will use 40M memory,
the file more big, the more memory will use,what wrong with it?

**Reproduction steps**

`Handler mainHandler = new Handler();
BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
TrackSelection.Factory videoTrackS

[2017-05-04 08:57] AquilesCanta commented on #2771
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

This is possibly caused because the file's tracks are poorly interleaved.

[2017-05-04 08:57] #2771 closed, assigned to nobody

[2017-05-04 09:03] needz commented on #2757
AquilesCanta, please let me know if you want me to set up an outside stream, so you can try to reproduce this issue on your end. Please suggest the best time and way to do it. Thanks.

[2017-05-04 09:04] needz commented on #2757
@AquilesCanta, please let me know if you want me to set up an outside stream, so you can try to reproduce this issue on your end. Please suggest the best time and way to do it. Thanks.

[2017-05-04 09:11] leach-chen opened #2772 "player local mp4 use large memory"
**Issue description**

when I use the exoplayer2 play the local mp4 file.it use large memory
if the file is 10M,it will use 20M memory
if the file is 40M,it will use 40M memory,
if the file is 120M,it will use 40M memory,

why use so much memory?when I use videoview,it will use little memory

**Reproduction steps**

Handler mainHandler = new Handler();
BandwidthMeter bandwidthMeter = new DefaultBa

[2017-05-04 09:30] AquilesCanta commented on #2772
You are ignoring part of the template. Read the template and include all the information required there. Of particular interest here is the media file.

[2017-05-04 09:42] b95505017 opened #2773 "Cant' execute generateCombinedJavadoc"
[code]

[2017-05-04 09:52] andrewlewis commented on #2769
I just went through the instructions in the [README](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) on a Mac and it worked fine. I suggest starting from the instructions in there and making the modifications you need.

This might be unrelated, but I did notice that your pasted configuration includes what look like en-dashes on the lines for enabling the MP3 and AAC decoders

[2017-05-04 09:52] #2769 closed, assigned to nobody

[2017-05-04 10:01] AquilesCanta commented on #2773
A fix will be available in the next push.

[2017-05-04 10:19] ojw28 commented on #2766
Video codecs are heavily optimized for forward playback. It's extremely difficult to smoothly play video backward without using huge amounts of memory. It is possible to play key-frames only, but this is not something we're likely to support any time soon. Marking as an enhancement nevertheless, for if/when we do get around to it.

[2017-05-04 10:29] ojw28 commented on #2706
Cool :).

[2017-05-04 13:01] ojw28 commented on #2755
I'm not convinced you can't drill down further into the devices. "samsung" isn't enough information to do anything useful with. Can you not get actual device models, build numbers etc?

[2017-05-04 13:18] PaulWoitaschek commented on #2703
Any news on this?

I made a sample project here:

https://github.com/PaulWoitaschek/ExoPlayerAttachingBug/blob/master/app/src/main/java/de/paul_woitaschek/exoplayerbug/MainActivity.java

It immediately starts a video. When you click on the screen it removes the view. When you click it again it re-adds the view.

After a few times the video stops playing.
Tested with ExoPlayer 2.4.0 and Nexus 5x, A

[2017-05-04 14:22] ZuZuK commented on #2755
@ojw28 [latest 300 crashes by devices](https://docs.google.com/spreadsheets/d/1-ydlQ_l7KhhOKvv_912C0Wdc1UAEv5IGB5B-a-GQMtU/edit?usp=sharing)

sorry can't do more - don't see option to upload all info from crashlytics so had to do it manually crash-by-crash :(

[2017-05-04 14:26] ojw28 commented on #2755
Heh, thanks for the info. Looking at the SCH-I535 and SM-N900S specifically, can you see what the exact Android OS build is on those devices, or the full device fingerprint (this is much more specific than just "4.3"). Thanks.

[2017-05-04 15:41] nokite commented on #2607
It's a bit of a pain setting KEY_MAX_INPUT_SIZE to 0, because those classes make extensive use of private/protected/final modifiers etc... So a few classes need to be copied/extended. The solution works for me (I had an issue with Galaxy Nexus and HLS/Dash).
I found a couple of threads where low-end or old devices had trouble with ExoPlayer, and they point to KEY_MAX_INPUT_SIZE=0 as a fix.

Is thi

[2017-05-04 16:15] AquilesCanta commented on #2757
I have just checked out r2.4.0 from github and successfully played the TS fragment from dropbox. Are you sure you are using that same file? Surely irrelevant, but FLAG_ALLOW_NON_IDR_FRAMES for the video to show. Can you provide a TS fragment that reproduces the issue? The live stream might make it much harder for me to reproduce.

[2017-05-04 16:21] ZuZuK commented on #2755
Nope, sorry - crashlytics doesn't log such info. maybe I could add OS build number as custom key lately. but it will be only on next release (need few weeks)

can only say that it is russian market so maybe there is some info from manufactorers about build number of OS on their devices by country

[2017-05-04 16:36] needz commented on #2757
That's the problem exactly. TS plays just fine on my side too, but the Live stream doesn't even start (where there is no such problem in version 2.2.0). Enigma2 doesn't send chunks of TS's, but it's just a continuous stream. Seems like ExoPlayer is unable to determine the length of the stream or something along these lines. The flag is set, it's not a problem.

I could share the live stream, so yo

[2017-05-04 16:42] AquilesCanta commented on #2757
Can you send it to dev.exoplayer@gmail.com now? I have a few minutes to check it out.

[2017-05-04 16:59] needz commented on #2757
Stream URL sent.

[2017-05-04 17:11] AquilesCanta commented on #2757
Thanks for the stream. You should use `MODE_SINGLE_PMT` (`mode` argument in the TsExtractor constructor). What's going on is that the PAT of your stream is declaring more PMTs than actually exist, so ExoPlayer gets stuck waiting for them, not allowing preparation to finish. I'll make it the default mode for the next push.

[2017-05-04 17:11] #2757 closed, assigned to AquilesCanta

[2017-05-04 17:19] needz commented on #2757
Wow, thanks, I can confirm it's working with MODE_SINGLE_PMT. Maybe it could also be added as DefaultTsPayloadReaderFactory flag.

[2017-05-04 17:19] ericharlow opened #2774 "Playback rate edge case"
First off I have to say thank you so much for the new playback rate feature going back to android 4.1.

### Issue description
I observed exoplayer crashing during the first second of audio playback.

### Reproduction steps
When exoplayer is loading audio for the first time and before the first second of audio has played, seek to the end and change the playback rate.

### Link to test content
Will

[2017-05-04 17:37] ojw28 commented on #2764
We will try and document customization points such as this a little better. You can do what you want as follows:

[code]

[2017-05-04 19:21] nosmirck commented on #949
Hello, can anyone here please add a sample on how to achieve offline drm playback to the demo app?

I have a secured widevine .mpd url to protected content and a licence url generated on my server, online playback works flawlessly, now, I'm requested to download the content (for now only the video, but I'll need audio, subtitles, etc) and store them inside the device alongside with the offline lic

[2017-05-04 20:11] #2773 closed, assigned to nobody

[2017-05-04 20:12] #2714 closed, assigned to nobody

[2017-05-04 20:15] ojw28 commented on #2607
We should fix the issue for Galaxy Nexus specifically, as reported here. I'm not aware of other devices that see this kind of native crash. If you're aware of specific devices, please let us know.

[2017-05-04 20:52] PaulWoitaschek commented on #1808
And why not? I receive a lot of user complaints about media the user cannot seek.

[2017-05-04 21:23] PaulWoitaschek opened #2775 "Opus reported as non seekable but it is"
When building the opus extension with the latest Opus version (1.1.4) and ExoPlayer 2.4.0, the player reports [Sample File](https://github.com/google/ExoPlayer/blob/release-v2/extensions/opus/src/androidTest/assets/bear-opus.webm) as not seekable. (Android Emulator API 18)

However it is seekable without any problems. I wonder if there is a general issue with isSeekable for opus.

[2017-05-04 21:28] ojw28 commented on #1808
As above, seeking in FLAC already works if there's a SEEKTABLE metadata block. We may support seeking (by searching) in other FLAC files at some point, but it's a long way down our list of priorities right now. If you're able to contribute a pull request that adds support, please feel free to do so.

[2017-05-04 21:47] ojw28 commented on #2775
The fact that the file contains an Opus stream isn't relevant to whether it's seekable or not. The container is what's important, which is WebM in this case. The file is not seekable as it does not contain a Cues element. Note that the [WebM guidelines](https://www.webmproject.org/docs/container/) in effect say muxers are required to include cues data:

Followed by:

The [Matroska specification](h

[2017-05-04 21:47] #2775 closed, assigned to nobody

[2017-05-04 22:04] AOrobator commented on #2769
I copied and pasted the exact commands from the readme and I get the same error. I'm pasting them here as well for completion. Is it possible I don't have something installed or my path variables are incorrect?

### Command Used

[code]

### .zshrc

[code]

[2017-05-05 01:51] sleepyguy117 commented on #949
@nosmirck

I can't really provide a sample... but I got it working with 2.3.1 exoplayer (the download utils seem to have changed in 2.4.0) and will point you in the right direction

basically need to save the mpd file and the mp4 files on the device (you could just manually do this just to see if it will work, parsing an xml and downloading files is just like any other file).  then you have to imp

[2017-05-05 07:37] andrewlewis commented on #2769
Please run `head -n 1 ${FFMPEG_EXT_PATH}/jni/ffmpeg/ffbuild/config.log` and paste the output here. This should show the arguments passed to FFmpeg's configure script.

[2017-05-05 08:05] nokite commented on #2607
Apart from Galaxy Nexus I haven't seen another device personally (however, I have tested only 5 devices so far, and I don't want to let my users test it and wait for crash reports...).

Found on the internet:
"certain Samsung devices running Jellybean (4.1.2)"
"MediaCodec bug on Android 4.1"
Possibly "Samsung Galaxy S4"
"Samsung Tab 2"
"media codec for an .mp4 file on jelly-bean"

You can also see

[2017-05-05 08:59] andrewlewis commented on #2774
It would be useful to have sample media and specific steps to reproduce this, if possible. Thanks!

[2017-05-05 09:25] zegnus opened #2776 "Widevine Modular with HDCP playback fails with CryptoException"
### Issue description
When playing WideVine modular content with HDCP required, certain devices are unable to reproduce the video beyond the mark of 10 seconds throwing a CryptoException in the logs. Alll mentioned devices play fine with WV:HDCP: None (not required).

### Reproduction steps
1. Clone the ExoPlayer repository git@github.com:google/ExoPlayer.git
2. Deploy the `demo` application
3. Pl

[2017-05-05 09:45] AquilesCanta commented on #2757
We'll be adding a convenience method to DefaultExtractorsFactory. However, we cannot change the fact that it is a extractor mode.

[2017-05-05 09:54] MizzleDK commented on #2776
This looks very similar to my issue:
https://github.com/google/ExoPlayer/issues/2770

[2017-05-05 09:58] ojw28 commented on #2776
I suspect this is an issue with the license configuration for our test content (and that it happens on all devices as a result). I see the following error when I try, which suggests the license response doesn't include the correct keys:

[code]

@wvpaf - This is Widevine test content. Has something changed about the way the content or the licenses are configured? It appears the license response do

[2017-05-05 09:59] MizzleDK commented on #2776
@ojw28 All right, no problem.

[2017-05-05 10:10] zegnus commented on #2776
@ojw28 It does not happen on all devices, for example in the Nexus 5 with a security patch lower than the mentioned ones the content plays fine. Also plays fine with a Nexus 5X, Nexus 9, HTC 10...

[2017-05-05 13:49] sanandrea commented on #2632
Hi @AquilesCanta we have tried the following stream http://csm-e.cds1.yospace.com/csm/extlive/skydeprd01,263032-test01hls-audio.m3u8 it should be still working (via the CDN trick). News is that we have encountered the issue on the latest Exoplayer version 2.4.0 with the same exact error, but version 1.5.8 works perfectly and parses all timedMetadata.

[2017-05-05 13:50] andrewlewis commented on #2751
@clauskrogholm Could you also describe what the distortion sounds like or attach a video of the problem?

We've found an issue with using extensions and variable playback speed, where the byte buffer endianness is set incorrectly. This can result in very noisy sound, rather than the stuttering playback experienced when using a debuggable APK. It's probably unrelated to your issue unless you're usi

[2017-05-05 13:55] AquilesCanta commented on #2632
Everything was working smoothly until I started getting a 403, around after 2 minutes of playback. Does the issue reproduce immediately for you?

[2017-05-05 14:07] clauskrogholm commented on #2751
@andrewlewis It is a bit difficult to describe - my main impression is that the background music sounds "wobbly" (as if played under water, if that makes any sense). There are no stutters as such, and I have noticed that the lyrics themselves actually sound quite decent. I don't know if it could be because the Sonic framework is more geared towards speech?

I haven't done anything special regardin

[2017-05-05 14:21] andrewlewis commented on #2751
@clauskrogholm I think you might be right that the distortion is expected with Sonic. One way to verify that this isn't the same performance issue would be to run on the most powerful device you can find running Android Nougat and check whether you hear the same thing.

There is a quality/performance trade-off, and if you can find another suitable speed/pitch adjustment library that gives output t

[2017-05-05 14:37] ojw28 commented on #2607
I think the issue is less that we're setting KEY_MAX_INPUT_SIZE at all, and more that we're just setting the value to be unnecessarily high. Codecs on these API levels are not adaptive (i.e. cannot handle seamless resolution switching). Hence ExoPlayer releases the codec and instantiates a new instance when a resolution switch occurs, which is why resolution switching isn't completely seamless on

[2017-05-05 14:39] #2743 closed, assigned to AquilesCanta

[2017-05-05 14:50] clauskrogholm commented on #2751
@andrewlewis I guess it would be difficult finding a more powerful device than the Galaxy S8 right now, so performance definitely shouldn't be an issue.

I have been looking towards the Superpowered library, but so far have found it too cumbersome to integrate into my own app - I am really looking for something that is as approachable as ExoPlayer...

I will try to make a recording of the sound bo

[2017-05-05 14:52] ojw28 commented on #2751
One other thing that's worth trying is to use Android's regular MediaPlayer API to play the sample at 1.25x, which is supported on more recent API levels. IIRC MediaPlayer also uses Sonic internally. If you experience the same distortion using that approach then it's probably expected with Sonic. If MediaPlayer is distortion free then that would point more toward an ExoPlayer issue.

[2017-05-05 15:03] robin2046 opened #2777 "Fast play will cause the HD video frozen"
### Issue description
When testing the new feature of set playback speed, it works well with small video clips, lets say, 240p or 480p, with speed from 1/8 to 8x. However, when trying this feature with HD video, e.g. video clip captured by camera app, when speed is <1.0f it worked fine but if setting speed >= 2.0f, video will freeze after playing several frames (1-2s). And this cannot be recovered

[2017-05-05 15:05] clauskrogholm commented on #2751
@ojw28 Thank you for the suggestion. I already tried the MediaPlayer API in order to have a reference, and it exhibits the same level of distortion. So I think you're right that it points to a Sonic issue rather than an ExoPlayer issue (I was not aware until now that MediaPlayer is also based on Sonic).

[2017-05-05 15:33] rossinior commented on #1583
Sorry for this dumb question...
I have MKVs (HVEC Video, AC3 and/or DTS Audio, with VOBSUB subtitle tracks embedded (coming to this thread from #1781).
How does ExoPlayer 2 handle These?

[2017-05-05 18:54] artnalban opened #2778 "Crash (SIGSEGV) when playing HLS video on Samsung Galaxy Nexus"
### Issue description
SIGSEGV when playing HLS video on Samsung Galaxy Nexus

### Reproduction steps
Run demo app and play this media
http://edge.tpr-3ehznk.top.comcast.net/demo/content/PDK_(VMS)/501/291/2014_Seattle_to_Portland_(STP)_Bicycle_Classic.m3u8

### Version of ExoPlayer being used
Issue is reproducible on Exo 2.4.0 but is NOT reproducible on 1.5.16

### Device(s) and version(s) of Andro

[2017-05-05 20:42] AOrobator commented on #2769
Doesn't look like that file exists. When I run the `head` command, I get the following:

`head: /Users/AndrewOrobator/Development/Projects/ExoPlayer/extensions/ffmpeg/src/main/jni/ffmpeg/ffbuild/config.log: No such file or directory`

The ffbuild directory exists though.
<img width="414" alt="screen shot 2017-05-05 at 22 39 29" src="https://cloud.githubusercontent.com/assets/4106884/25763528/d6c9b

[2017-05-05 20:52] PaulWoitaschek commented on #1808
Okay it sounded as if the feature was not wanted for some reason. I barely understand all this audio stuff but would really welcome if someone tackles this :)

[2017-05-05 23:22] ojw28 commented on #2778
Pretty sure this is fixed already (in a better way). See https://github.com/google/ExoPlayer/issues/2607.

[2017-05-05 23:22] #2778 closed, assigned to nobody

[2017-05-06 07:11] PaulWoitaschek opened #2780 "Make OOM failures in extractors non-fatal"
In crashlytics I see some OOM where a really large amount of ram was tried to be allocated.

http://crashes.to/s/b7e79fa945f

That's about 304 MB the player tries to allocate while reading ID3 Data. Maybe the parsing went wrong?

It's ExoPlayer 2.4.0

[2017-05-06 09:39] tmc85 commented on #2550
Is there some information on this issue?

[2017-05-06 10:25] ArunkarthickNallasamy commented on #2764
Thank you so much that helped a lot. :)

[2017-05-06 10:25] #2764 closed, assigned to nobody

[2017-05-06 11:55] Behrouz-m commented on #1434
Please consider providing Maven support for Extensions. thanks.

[2017-05-06 21:51] AOrobator commented on #2769
Just did a bit more debugging.

I deleted the first line of COMMON_OPTIONS, `--target-os=android \` and I got the error

`Unknown option "--disable-static"`

`--disable-static` is the very next command, so the error might have to do with how the command is formatted.

I also ran `./configure` by itself and it complained that yasm wasn't installed so after doing `brew install yasm`, `./configure` r

[2017-05-06 21:52] AOrobator commented on #2769
Finally got this to work by copying and pasting the contents of `COMMON_OPTIONS` every time I saw the variable being used. Looks like the terminal just didn't like the variable `COMMON_OPTIONS`.

[2017-05-06 23:48] AOrobator opened #2781 "Bundling FFmpeg extension without copy/pasting code"
I just got the FFmpeg extension to build and run successfully by copying the ffmpeg folder into my own project. Is there a way to include extensions without copying and pasting the code from the ExoPlayer project? Ideally, I would have something along the lines of

`compile 'com.google.android.exoplayer:exoplayer-extension-ffmpeg:r2.4.0'`

in my build.gradle so I don't have to manually update the

[2017-05-07 05:44] robin2046 commented on #2777
if possible, when the power of the device cannot support fast playing of HD video, can Exoplayer try to seek for the iFrame only?

[2017-05-07 08:53] ojw28 commented on #2777
Yes, this is on our list of follow-up work for variable speed playback.

[2017-05-07 15:30] andrewlewis commented on #2781
I think this is the same request as #1434. Please reopen if not.

[2017-05-07 15:30] #2781 closed, assigned to nobody

[2017-05-07 15:57] andrewlewis commented on #2767
#420 has some information about caching, which should help with this.

[2017-05-07 15:57] #2767 closed, assigned to nobody

[2017-05-07 16:10] andrewlewis commented on #2700
There's not nearly enough information here to investigate this. As requested in the issue template, we need a full bug report. Also, I don't know anything about RockFFPlayer, but if it's an ExoPlayer renderer then the issue probably lies there.

If you want to use ExoPlayer's HDMI passthrough support, please refer to #2148 as mentioned in my previous comment.

[2017-05-07 17:36] AOrobator commented on #2781
Looks like it is a duplicate. In that case, I'll throw in my vote for a maven dependency.

[2017-05-07 18:49] AOrobator opened #2782 "Playback failure when playing ogg file"
On version 2.4.0, when I play a certain ogg file, I get a crash and it's 100% reproducible. I've attached the file that causes the issue. VLC player for Mac is able to play this file without issue.
[Say My Name (feat. Zyra).ogg.zip](https://github.com/google/ExoPlayer/files/981840/Say.My.Name.feat.Zyra.ogg.zip)

To reproduce this issue, place the file in /sdcard/Music/ then go into PlayerActivity.