[2017-05-08 01:12] uyjulius commented on #2583
We have just received an update for our S7 device SM-G930FD to Android 7.0. Exoplayer DASH playback runs just fine. The same issue does not manifest on an S8 as well.

[2017-05-08 01:51] ojw28 commented on #2776
Right, on further investigation this isn't a configuration issue. Widevine have been taking a look at the reports, and it appears there are multiple things going on:

1. The following devices are thought to have L3 Widevine only (i.e. no L1). Failure is expected when using L3 Widevine if the license policy requires an HDCP level:

- Samsung Galaxy A3 SM-A300FU
- Samsung SM-T315 (Unconfirmed L3)
-

[2017-05-08 02:16] ojw28 commented on #2782
@marcbaechinger - Could you take a look at this? It looks like `OggPacket.packetArray` is too small, and simply resizing it to fit what's being read fixes the problem. I'm not sure what the implications are though.

Are some of the assumptions in the parsing logic incorrect? `MAX_PAGE_PAYLOAD` is used as the size of `packetArray`, but also elsewhere, for example in `VorbisReader` when the format i

[2017-05-08 02:25] ojw28 commented on #2780
According to the link only a single user is affected. It's likely they have a single piece of broken content that they're trying to play repeatedly. We should be able to avoid OOM'ing in this case, but I don't think we can avoid playback failure.

It's not really possible to say without access to the problematic file. Is it possible for you to source it from your user?

[2017-05-08 02:51] quanghuy1288 commented on #87
"We're aiming to do a release this week. Thanks."

Is HLS DVR available now?

[2017-05-08 05:30] PaulWoitaschek commented on #2780
I can't get the file. I use exoplayer to analyze the duration
https://github.com/PaulWoitaschek/MaterialAudiobookPlayer/blob/master/audiobook/src/main/java/de/ph1b/audiobook/misc/DurationAnalyzer.kt

So it's crashing each time he is opening the app.

[2017-05-08 05:34] Behrouz-m opened #2783 "Ogg/Opus playback is not seekable"
Hi, I am using opus extension. I plays opus files but it does not report the opus file duration.
may be my code has a problem. Please check it:

[code]

should I use the opus extension in other way ?

NOTE: I've just copied the **java** opus extension files directly into my project and I've embedded the jni code into my own jni code because I had libopus in static format in my own jni lib. It work

[2017-05-08 06:23] Behrouz-m commented on #2783
Here is my sample opus file:
[https://www.dropbox.com/s/985vx673byd74rf/ABET.opus?dl=1](https://www.dropbox.com/s/985vx673byd74rf/ABET.opus?dl=1)

[2017-05-08 06:42] PaulWoitaschek commented on #2780
Also I see other OOM where exoplayer tries to allocate > 30 MB in `com.google.android.exoplayer2.extractor.mp4.AtomParsers.parseStbl (AtomParsers.java:362)`

I'm not sure if that is wanted. Since I switched to ExoPlayer about 5% of my users receive crashes due to OOM errors.

[2017-05-08 08:48] lioun1729 opened #2784 "React when onBandwidthSample"
Hi, I have a question about onBandwidthSample method in BandwidthMeter.Listener

I try to insert reaction code when onBandwidthSample

onBandwidthSample method is already reacted when some data is arrived if it is implemented some class (Am i correct? I confused about this)

If so, Where implements the onBandwidthSample? On PlayerActivity?

I already tried to implement the onBandwidthSample in Pla

[2017-05-08 09:07] zegnus commented on #2776
@ojw28 Unfortunately yes, we are required to have HDCP by contract with our providers. The list provided is only an example, we are seeing reported more devices and sometimes affects only a specific variation of a specific device. One of our main suspicious is that a security patch on Android 6.0.1 introduced this bug across multiple devices.

[2017-05-08 09:19] niusounds opened #2785 "SimpleExoPlayer.setVideoTextureView() fails with mpd + Widevine"
### Issue description

`SimpleExoPlayer.setVideoTextureView()` fails with mpd + Widevine and stops playback.

On some devices(Nexus5, Galaxy S6), mpd(WebM,VP9) + Widevine is playable but some device (Pixel) cannot play it. Without DRM mpd(MP4,H264 or H265 and WebM,VP9) is working well.

I think it is actually a problem of `SimpleExoPlayer.setVideoSurface()`. I use this method to play video in VR a

[2017-05-08 09:29] andrewlewis commented on #2785
TextureView can't be used to show Widevine L1 DRM content, which requires a secure output path. See also our [FAQs](https://google.github.io/ExoPlayer/faqs.html#should-i-use-surfaceview-or-textureview).

[2017-05-08 09:29] #2785 closed, assigned to nobody

[2017-05-08 09:30] AquilesCanta commented on #87
No, this issue only tracks live seeking, which is available. #2643 tracks offline support.

[2017-05-08 09:50] quanghuy1288 commented on #87
"No, this issue only tracks live seeking, which is available. #2643 tracks offline support."
I just need DVR function on HLS, not offline download. Do you know about DVR function on HLS?

[2017-05-08 09:51] andrewlewis commented on #2550
I'm following up internally and will update this issue if/when I hear anything back.

[2017-05-08 10:10] AquilesCanta commented on #87
If it is an event-like stream, where segments are only appended (and not removed), then we support seeking, pausing, etc. If segments are also eventually removed, then we only support seeking to these segments for as long as they are available in the playlist. I do not see other alternative to downloading the segments if this is the case.

[2017-05-08 10:29] andrewlewis commented on #2784
Are you using [DefaultBandwidthMeter](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultBandwidthMeter.java)? You can pass in an event listener when instantiating it if you want to handle that event. Beyond that, I'm not sure what information you're looking for, so please clarify. Thanks!

[2017-05-08 10:31] MizzleDK commented on #2770
I hate to be a pain in the behind, but can anyone help with this?

[2017-05-08 10:37] andrewlewis commented on #2780
Please provide a link to the content that causes the MP4 parsing error.

[2017-05-08 10:42] quanghuy1288 commented on #87
Do you have any demo for DVR on HLS?

[2017-05-08 10:50] PaulWoitaschek commented on #2780
I don't have access to the content of my users.

The stracktrace for these OOMs is always like this:
[code]

So if I understand correctly you are allocation a really huge array [here](https://github.com/google/ExoPlayer/blob/r2.4.0/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/AtomParsers.java#L362)

[2017-05-08 11:18] AquilesCanta commented on #87
No. But you can easily script your own using a VOD HLS stream, like Apple's sample stream. If you need guidance for this, I'd suggest trying stack overflow.

[2017-05-08 12:09] lioun1729 commented on #2784
@andrewlewis

Umm.. I know what you mean but what should be passed to DefaultBandwidthMeter object?

PlayerActivity itself? or other object?

I confused about this

Suppose one situation below

I pass the PlayerActivity object itself to DefaultBandwidthMeter's listener

So, If PlayerActivity has received some data (e.g. dash chunk), onBandwidthSample method is called correctly?

[2017-05-08 12:11] shailesh-fusionitechnology commented on #2674
Thanks, its working by setting "allowCrossProtocolRedirects" to TRUE.

[2017-05-08 12:25] andrewlewis commented on #2784
Pass something that implements `BandwidthMeter.EventListener`. You don't have to pass any particular object. Please read the code for `DefaultBandwidthMeter` if you want to see when the event listener is invoked.

[2017-05-08 12:25] #2784 closed, assigned to nobody

[2017-05-08 12:44] nokite commented on #2607
Thanks for the explanation and the change! I think it makes perfect sense. (I cannot comment on the code changes due to my limited knowledge here)

It works on my Galaxy Nexus (and a few other devices that didn't have the issue in the first place). I find the playback indistinguishable from the "KEY_MAX_INPUT_SIZE==0" fix on the Nexus. I imagine that your fix may have advantages on other devices o

[2017-05-08 12:45] niusounds commented on #2785
Thank you for response.

Sorry, I didn't know that limitation.

Is there no way to render DRM protected content to Open GL Texture? I would like to create VR video player app that supports Widevine... (or some other DRM scheme)

[2017-05-08 12:52] michalliu commented on #45
some extension class seems needs to be keeped since they are using native code

[2017-05-08 12:52] andrewlewis commented on #2785
It is possible on devices that support VR mode running Android N or later. Please look at [Secure texture video playback](https://source.android.com/devices/graphics/arch-st#st_vid_play) as a starting point.

[2017-05-08 12:54] niusounds commented on #2785
OK! Thanks for information!

[2017-05-08 13:34] michalliu commented on #45
I searched for string "Class.forName" through the whole project found that you should at least keep `com.google.android.exoplayer2.ext.*`

[2017-05-08 13:57] ojw28 commented on #45
Proguard is clever enough to handle `Class.forName(stringConstant)` automatically. What is the actual problem you're seeing?

[2017-05-08 14:04] michalliu commented on #45
No problem, just want to enable proguard to make our app smaller. I am searching for proguard recommention and found this thread.

[2017-05-08 14:15] ojw28 commented on #2783
I tried just adding that sample URL the demo app and seeking worked fine. The only case I can think of where that wouldn't be the case is if you're serving the file from a server that doesn't indicate the content length in its response headers. In that case it's working as intended that the duration is not known, and you should configure your server more appropriately for media playback.

[2017-05-08 14:15] #2783 closed, assigned to nobody

[2017-05-08 14:17] ojw28 commented on #2783
Note: This is probably the same as another similar issue you filed, here: https://github.com/google/ExoPlayer/issues/2306.

[2017-05-08 14:21] ojw28 commented on #87
It's very unclear what feature you're actually asking about. I suspect the answer is that yes, what you want is just supported already and you can seek around in the available media. If you want to see how well ExoPlayer supports your HLS DVR streams, why don't you just add one to the demo app and give it a try?

[2017-05-08 14:24] ojw28 commented on #2776
It's somewhat unclear to me why HDCP is relevant for devices where the display is integrated (i.e. all phones and tablets), and it seems this requirement would prevent you from ever providing content to devices that only have L3 Widevine. I'm also surprised there's no provision for such devices; for example the possibility of streaming up to 480p without L1/HDCP.

[2017-05-08 14:51] andrewlewis commented on #2785
If you're using the Google VR SDK you might also find the sample [sdk-videoplayer](https://github.com/googlevr/gvr-android-sdk/tree/master/samples/sdk-videoplayer) useful. It shows how to play a video using the secure output path.

[2017-05-08 14:59] tonihuotari opened #2788 "DefaultTimeBar height and align bottom issues"
### Issue description

com.google.android.exoplayer2.ui.DefaultTimeBar expands its height similar to "match_parent" even if it is set to "wrap_content". Ideally I would like the seekbar to center vertically with the rest of the control buttons, but currently it just isn't possible because it also aligns bottom of the view automatically.

### Reproduction steps

Add the following code as exo_playba

[2017-05-08 15:00] ojw28 commented on #2780
Yes, but only if the content actually indicates that we need to. For the first OOM reported here we could add some validation to fail the playback/extraction more gracefully. For the second one I'm not sure.

We should probably be making the OOM failure non-fatal; but I doubt we're going to get to the stage of actually playing this kind of content successfully; the content is likely malformed.

[2017-05-08 15:02] zegnus commented on #2776
@ojw28 I'm going to explore your second point on streaming 480p content; an alternative is to fall back to Widevine Classic.

Regarding HDCP on phones/tablets, as far as I understood, is it required if he device can be plugged in to an external TV through HDMI. Is that right?

[2017-05-08 15:12] ojw28 commented on #2776
That's correct, but I *think* (please don't take this as a guarantee) that just requiring a secure output path is sufficient to guarantee HDCP in that case. My understanding was that you only have to start specifying HDCP requirements in the license policy if you care about the actual version.

[2017-05-08 15:56] PaulWoitaschek commented on #2780
I'm really happy when the player does not crash on malformed files but just refuses to play them. My player is quite unstable right now.

[2017-05-08 16:45] LutfiTekin opened #2789 "How to change volume?"
Hello, I cannot find any useful or complete information about how to change volume.

I am currently using exoplayer r2.4.0

I need to lower volume when the audiofocus change occurs
` public void onAudioFocusChange(int focusChange) {

            switch (focusChange) {
                case AudioManager.AUDIOFOCUS_LOSS:
                    exoPlayer.setPlayWhenReady(false);
                    break

[2017-05-08 16:52] ojw28 commented on #2789
https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#setVolume-float-

[2017-05-08 17:00] LutfiTekin commented on #2789
I cannot find setVolume method in my exoplayer setup.
[code]

Is there something wrong with my code?

[2017-05-08 17:06] LutfiTekin commented on #2789
Sorry my bad I was using `ExoPlayer exoPlayer;` when declaring it;
`SimpleExoPlayer` worked.
Thanks for help.

[2017-05-08 17:07] #2789 closed, assigned to nobody

[2017-05-08 17:09] ojw28 commented on #2789
Great; glad you figured it out!

[2017-05-08 17:36] ojw28 commented on #2755
@erdemguven - Unsure if there's anything actionable here at this point, but if there's anything obvious we can do, it might be worthwhile :).

[2017-05-08 21:16] ojw28 commented on #2772
VideoView and MediaPlayer both use similarly large amounts of memory. The difference is that the memory is allocated inside the media server process, where-as ExoPlayer allocates the memory inside your application process.

[2017-05-08 21:16] #2772 closed, assigned to nobody

[2017-05-08 21:29] swratten commented on #2788
[exo_playback_control_view.xml](https://github.com/google/ExoPlayer/blob/d979469659861f7fe1d39d153b90bdff1ab479cc/library/ui/src/main/res/layout/exo_playback_control_view.xml)

Looks as though they have changed the playback control view layout

[2017-05-08 21:42] #2774 closed, assigned to andrewlewis

[2017-05-08 21:45] ojw28 commented on #2751
In that case it sounds like things are working as intended.

@andrewlewis did find some incorrect rate/pitch adjustment logic in the Sonic library, which we've fixed in https://github.com/google/ExoPlayer/commit/631cce9171f37f98a71caa6921f5d589af4bbf4f. Apparently it does sound a little better with the fix, so give that a try and see if it helps! The fix has also been merged into Sonic, and should

[2017-05-08 21:45] #2751 closed, assigned to nobody

[2017-05-08 21:45] #2780 closed, assigned to nobody

[2017-05-08 21:46] #2740 closed, assigned to andrewlewis

[2017-05-08 22:12] ojw28 commented on #2607
Great. We'll try and do a bugfix release sometime in the next couple of weeks (picking up this change and a couple of others).

[2017-05-08 22:12] #2607 closed, assigned to nobody

[2017-05-08 22:13] #2541 closed, assigned to nobody

[2017-05-08 22:28] ojw28 commented on #2781
I don't think we're likely to do this, for a couple of reasons:
- Different apps are going to want to compile FFMPEG to include different decoders, depending on their needs. See the FFMPEG extension section in our [supported formats page](https://google.github.io/ExoPlayer/supported-formats.html) for some of the options. Different apps may also want to provide support for different architectures.

[2017-05-08 22:33] ojw28 commented on #1434
Current status is as follows.

- Already distributed: OkHttp, GVR
- Can probably distribute: Cronet, VP9
- Unsure: FLAC, Opus
- Probably wont distribute: FFMPEG, as explained in https://github.com/google/ExoPlayer/issues/2781.

[2017-05-08 23:19] ojw28 commented on #2430
If you want to customize controls to this extent, you're really best off just forking the class and adapting it to suit your needs.

[2017-05-08 23:19] #2430 closed, assigned to nobody

[2017-05-08 23:20] ojw28 commented on #2699
@tonihei - Fancy adding support for this (disabling auto-showing of controls), since you've been adding a few options in the UI classes?

[2017-05-08 23:27] marcbaechinger commented on #2782
Yes, exactly. There is one huge packet at the start of the ogg stream (383238 bytes). Ogg packets have no size limit per spec. So this is valid. I look into this. Thanks.

[2017-05-08 23:29] ojw28 commented on #1515
Closing due to lack of information. We'd at least need a proper (and complete) list of affected device model names and builds to debug this further, ideally with separate bug reports (or at least logs of the failure) for each one. The two logs above actually appear to show different failures. Please file a new issue including sufficient information, if you want us to take a more detailed look.

[2017-05-08 23:29] #1515 closed

[2017-05-09 02:22] lioun1729 commented on #2784
@andrewlewis

Ok, I have to think more

Thank you for your reply

[2017-05-09 02:46] niusounds commented on #2785
I'm using [GearVR Framework](https://github.com/Samsung/GearVRf) which encapsulates native OpenGL calls and provides scene graph implementation for Gear VR and Daydream. I'm developing for Gear VR so cannot use Google VR SDK...

[2017-05-09 03:16] quanghuy1288 commented on #87
Hi, i have tested release-v2 worked with DVR HLS :)

[2017-05-09 03:26] hemanthdn commented on #87
I have tested the exo player with dvr, for my live timeshift streams 3 months back from self, and I have intergrated successfully 3 months back, it works fine with out problems, only issue is it uses more memory compare to native media or player

Sent from my iPhone

On 08-May-2017, at 7:51 PM, ojw28 <notifications@github.com<mailto:notifications@github.com>> wrote:

It's very unclear what feature

[2017-05-09 04:22] rustyshelf opened #2791 "Variable speed implementation plays static on Motorola XT1575"
### Issue description
This is a bit of a doozy, but I'll do my best to explain it here. On one specific Motorola device (detailed below) the variable speed implementation will play just static, instead of speeding up audio. Playing at 1x results in no static. The reason I say this is a doozy, is that installing exactly the same APK again can fix the issue. It seems like whether or not you get this

[2017-05-09 05:47] PaulWoitaschek commented on #2780
Thanks a lot for the fast solution!

[2017-05-09 05:53] PaulWoitaschek commented on #1434
I'd really be glad about flac\ opus. Building and maintaining  them was kind of a pain. In my case I had to make sure my project contains no binary files so fdroid can build them.

What makes them status unsure?

[2017-05-09 05:54] ArunkarthickNallasamy opened #2792 "Enable and Disable Captioning"
Hello,
 I was able to show subtitle, I was wondering how to provide enable and disable feature for closed captioning so that i can have a custom button in media controller which can toggle subtitle visibility.

[2017-05-09 06:41] tonihuotari commented on #2788
Thanks for the link @swratten. It seems that there is a limitation in DefaultTimeBar which requires its height to be 26dp.

[2017-05-09 09:02] AOrobator commented on #2781
That makes sense. Thanks for getting back to me.

[2017-05-09 09:12] hpanahiird opened #2793 "Problem with mp4 streaming"
hi, I want to play an mp4 via internet link in exoplayer But when I seek to any position in video it sems like that it's downloading whole video from beginning to that position. Is this problem related to exoplayer or it is from server? how can  I handle this problem?

[2017-05-09 10:09] AquilesCanta commented on #2792
The demo app is a good place to start. If you play any content with subtitles there, you'll see a "Text" button on the top of the screen. You can modify that code a little bit to achieve what you are looking for.

[2017-05-09 10:09] #2792 closed, assigned to nobody

[2017-05-09 13:23] dbaelz opened #2795 "Crash when reading a non-existing Adaptation Set from DASH manifest"
### Issue description
When [reading the AdaptationSet](https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/DefaultDashChunkSource.java#L301) from the Dash manifest (MPD) the ExoPlayer didn’t check the provided indices of the Period and AdaptationSet elements. This could result in an `IndexOutOfBoundsException` when the referenced

[2017-05-09 13:47] ojw28 commented on #2793
Most likely the server doesn't support range requests, in which case the player has no alternative but to do this. If that's the case, you should use a more appropriate server configuration.

[2017-05-09 13:47] #2793 closed, assigned to nobody

[2017-05-09 15:41] botondbutuza opened #2796 "Video freezes"
Hey guys!

Since switching to v.2.4.0, playback sometimes randomly freezes: video plays fine, then just stops, a good few frames are skipped, then playback resumes from new frame.

I haven't been able to identify a pattern to reproduce. There's no playback state change, there's no user action to warrant it, the player isn't buffering. I've been keeping an eye on RAM usage as well, no spikes, nothi

[2017-05-09 16:17] mondain commented on #1434
@vigneshvg you can use the maven nar plugin to package and deploy native libraries to a Maven artifact repository. Its a bit painful when you start using it, but its very nice once you have it all sorted. We have lgpl ffmpeg, libopenh264, libopus in our repo jar for win, osx, and linux. https://github.com/maven-nar/nar-maven-plugin

[2017-05-09 16:54] #2796 closed, assigned to nobody

[2017-05-09 20:14] nosmirck opened #2797 "How to build one single .jar file"
I'm trying to create an Unity3D plugin with ExoPlayer 2.4.0, but since the libraries are now split into several modules, is there any way to build a single .jar file including the modules I need (or all of them, I don't care as long as it's a single file).

Thanks in advance!

[2017-05-09 21:28] wvpaf commented on #2622
Hi @brosvaby any luck on the ADB bugreport?

[2017-05-09 22:09] wvpaf commented on #2776
Hi @ojw28 is there anything actionable at this point?

[2017-05-09 22:21] wvpaf commented on #2648
@stellabei  the 'afterupgrade.txt' log does not provide any clues on the initial issue.

Are you only getting reports of issues on this one device after the upgrade? Do you know if any of these
Motorola Droid Turbo 2 devices that succeed playback after upgrading?

Having a full adb log from a failing device would be best.

[2017-05-09 22:40] ojw28 commented on #2776
@wvpaf - I think WV need to do some investigation into the other devices (e.g. the Exynos devices) as per our internal thread.

[2017-05-09 22:48] stellabei commented on #2648
@wvpaf as I stated before, we do not have the full adb log from a failing device. They are all user devices that we can not have access. We will try to buy one and reproduce and will let you know. But in the meanwhile, can you please help us understand what this error means? -2902. Thanks!
@wvpaf I'm going to take logs before the upgrade, is there any special logs that you need before I do the upg

[2017-05-09 23:04] DJphy commented on #1190
I am using ExoPlayer1
@ojw28 I use a HLS Renderer and as suggested I have passed true in the constructor
[code]
I get this error:
[code]
If i dont pass true, it gives me 301

[2017-05-10 00:55] ojw28 commented on #2797
Could you clarify why it being a single file is important? Thanks.

[2017-05-10 03:05] robin2046 commented on #2777
Before the enhancement is ready, how can I detect this frozen and take action?

[2017-05-10 06:03] MizzleDK commented on #2770
Is there anything I can do to further help in the debugging process?

[2017-05-10 06:11] Pash97 opened #2798 "drm_scheme clearkey in android"
I am encrypting video using clearkey. And want play with exoplayer in Android studio. Am able to play video without encryption. But not getting how to play using clearkey DASH. It's giving me DrmSession error. If anybody knows please help. Thank you in advance.

[2017-05-10 08:42] PaulWoitaschek commented on #2703
It's a real blocker for me as I can't use ExoPlayer inside a RecyclerView as it does exactly that. Any more info I can provide?

[2017-05-10 08:47] claust opened #2799 "Getting the current track: getCurrentWindowIndex() returns wrong index"
### Issue description
When you play a list of tracks using the `ConcatenatingMediaSource`, getting the currently playing track seems impossible.
In the `onTracksChanged` callback I call `player.getCurrentWindowIndex()`, but the values returned does not match the expected. It always returns `0, 0, 1, 2, ...` instead of the expected `0, 1, 2, 3, ...`.

The issue seems to match the #2639 issue.

###

[2017-05-10 09:01] AquilesCanta commented on #2798
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-10 09:01] #2798 closed, assigned to nobody

[2017-05-10 09:22] tonihei commented on #2799
You can get the current window index in the [onPositionDiscontinuity](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L170) method. This method is called every time the window or period index changed, so it is guaranteed to contain the new index.

On the other hand, [onTracksChanged](https://github.com/google/ExoPlayer/blo

[2017-05-10 09:23] #2799 closed, assigned to nobody

[2017-05-10 09:26] songwenju opened #2800 "The surface show nothing after mSimpleExoPlayer.setVideoListener(mVideoListener);"
when I use the simpExoPlayer to setVideoListener(videoListener),like this :
[code]
the surface is black ,but audio is play.

[2017-05-10 09:28] Pash97 commented on #2798
I am using following command for creating mpd file for video

     ./packager input=~/Videos/AkaashVani.mp4,stream=audio,output=/var/www/html/data/akashvani/1280p/audio.mp4 input=~/Videos/AkaashVani.mp4,stream=video,output=/var/www/html/data/akashvani/1280p/video.mp4

When i trigger it from android with exo player Video is playing perfectlly.

But when i create the mpd file along with encryption k

[2017-05-10 09:32] AquilesCanta commented on #2798
Are you using the demo app? Are you adding your sample to "media.exolist.json" or similar and including `"drm_scheme": "playready"`?

[2017-05-10 09:36] Pash97 commented on #2798
no am not using demo app Am new in exoplayer, so i don't know how to include sample in media.exolist.json and drm_scheme can you plz guide me how to do that..?

[2017-05-10 09:40] AquilesCanta commented on #2800
Is there a shutter involved? If so, are you making it invisible? If there is a SimpleExoPlayerView involved, maybe you should also add `mExoPlayerView.onRenderedFirstFrame();`. Like in:

[code]

[2017-05-10 09:44] AquilesCanta commented on #2798
Have a look at the demo app. The method `initializePlayer()` in `PlayerActivity` is a good place to start.

[2017-05-10 09:52] AquilesCanta commented on #2733
Hello, @sheaam30. Sorry for the delay. Can you provide a link to the live stream to dev.exoplayer@gmail.com? Being able to reproduce the issue myself will make debugging much easier. I see the chunks are available, so it should not be much of an inconvenience.

[2017-05-10 11:11] AOrobator commented on #1706
@ascmartins Did you ever make a MediaSource that can also remove items?

@ojw28 In issue #2097, you suggested exposing a `Timeline` that creates `Period`s. To create a `Period` you'll have to know the corresponding `MediaSource`, assuming that every `Period` has exactly one `MediaSource`. What's the best way to obtain a mapping between `Period`s and `MediaSource`s? Do you have any other suggestion

[2017-05-10 11:22] AOrobator opened #2801 "What is a Manifest?"
There are mentions of a manifest object in the [`MediaSource` code](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/MediaSource.java#L39) as well as the [`ExoPlayer.EventListener` code](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L123) What is a manife

[2017-05-10 13:00] lazarvgd opened #2802 "AdaptiveVideoTrackSelection missing in r2.4.0"
Hi, I have updated my ExoPlayer from r2.2.0 to r2.4.0 and I got issue with AdaptiveVideoTrackSelection because it is missing in library.

If I change back version to r.2.2.0 everything works fine.
Can you please let me know what workaround can I use for this issue?

thanks :)

**code snippet:**
[code]

[2017-05-10 13:16] lazarvgd opened #2803 "Cannot catch BehindLiveWindowException in onPlayerError method"
Hi I have problem with catching `BehindLiveWindowException` in method
[code]
method is from ` implements ExoPlayer.EventListener ` interface.

I am trying to logout message that indicates issue with `BehindLiveWindowException`, but unfortunately my overridden method have never been executed.
Can you please give me a hint what am I doing wrong?

Please let me know if you need any additional informa

[2017-05-10 13:58] nosmirck commented on #2797
Yes, basically I'm having issues with the jars colliding when compiling the project with unity, I know it's a problem there, not with exoplayer, but there's not much I can do (unless I'm doing something wrong that I don't know). However, having a single jar file (and the correspondent manifest and folders res, layouts, etc) would help me integrate easier with no libraries collision.

[2017-05-10 14:05] ojw28 commented on #2803
Please provide proper reproduction steps; there's nothing we can do with questions this vague.

[2017-05-10 14:08] ojw28 commented on #2802
It's been renamed to AdaptiveTrackSelection (because it's not used for audio as well). Note that it's pretty easy to answer this kind of question yourself just by looking through the project's change history (https://github.com/google/ExoPlayer/commit/ce5c0c18f952caa19b863345252fd267804d7e83).

[2017-05-10 14:08] #2802 closed, assigned to nobody

[2017-05-10 14:10] lazarvgd commented on #2802
Sorry I am pretty new with ansroid and programming. Thanks :)

[2017-05-10 14:16] lazarvgd commented on #2803
Here is simple player that I have used. If error BLW happens, method onPlayerError have never been called and I cannot reinitiate player.

`public class ExoPlayerActivity extends AppCompatActivity implements ExoPlayer.EventListener {
        SimpleExoPlayer player;
        String path;        // it can be url of video for online streaming or a url of local video

        @Override
        protecte

[2017-05-10 14:19] ojw28 commented on #2801
It's `null` for non-adaptive playbacks. Adaptive (i.e. DASH, SmoothStreaming and HLS) playbacks have the concept of a manifest that provides the player with information about the available media required for playback (e.g. the available qualities, the URL of each media chunk etc). The object in these cases is a representation of the manifest. The manifest structure varies by standard, so it'll be

[2017-05-10 14:19] #2801 closed, assigned to nobody

[2017-05-10 14:23] ojw28 commented on #2803
How do you know that a BLW error is actually occurring? In absence of other information, the `onPlayerError` callback not being invoked indicates that there hasn't been an error. . !

Do you see other callbacks being invoked (e.g. if you add logging to `onLoadingChanged`)?

[2017-05-10 14:27] lazarvgd commented on #2803
I have accidentally ommited System.out.println("error occured"); in onPlayerError method.

Unfortunately, this message have never been invoked , but BLWE has been written in logcat.

[2017-05-10 14:30] ojw28 commented on #2800
The problem is that `SimpleExoPlayerView` sets itself as the video listener (in its `setPlayer` method), and relies on being the registered listener. By calling `setVideoListener` yourself you're replacing the listener with your own. `SimpleExoPlayerView` then doesn't get the events that it needs.

We could change `setVideoListener` to `addVideoListener`/`removeViewListener` if you have a legitima

[2017-05-10 14:30] ojw28 commented on #2800
Marking as needs-more-info to clarify what the use case is for needing these events.

[2017-05-10 14:39] ojw28 commented on #2803
Do you see other callbacks being invoked (and does your approach to logging work in those other callbacks)? What do you see happening to the state of the player (e.g. in `onPlayerStateChanged`) when the error occurs?

[2017-05-10 14:44] ojw28 commented on #2770
@MizzleDK - Thanks for the high quality report! Unfortunately this feels like something that will be quite hard to figure out, unless you're able to determine what's special about the samples that don't work vs the ones that do. Are you able to play the content successfully on (a) other AndroidTV devices, and (b) non-Android devices? If the content works on other AndroidTV devices that might imply

[2017-05-10 14:48] ojw28 commented on #2797
I'm still somewhat confused. Which jars are colliding? If it's an ExoPlayer jar colliding with Unity then how does having a single ExoPlayer jar make things easier vs having multiple jars? Presumably they'll collide either way.

[2017-05-10 14:55] lazarvgd commented on #2803
I easily can reproduce the BLWE error by restricting internet speed on emulator(Pixel) and neither `onPlayerStateChanged` or `onPlayerError` has been called.
I have logged `Log.i("onPlayerStateChanged", "Player State Changed");`

this message have never occurred in logcat.

[2017-05-10 14:59] andrewlewis commented on #2803
Do you see any of the callbacks being invoked at any time (unrelated to the behind live window issue)? At least `onPlayerStateChanged` should be called at some point. If not, that suggests the event listener is not being registered.

[2017-05-10 15:05] ojw28 commented on #2798
In addition to looking at the demo app as a starting point, if you're new to ExoPlayer you should definitely be using the latest version of ExoPlayer (i.e. 2.4.0). You're using a V1 release, which is quite old now.

[2017-05-10 15:05] nosmirck commented on #2797
The 2.3.0 jar works well, as soon as I replace it with the core + dash + hls jars, it breaks :/ like I said, maybe I'm doing something wrong, maybe there is a common dependency between them and Unity is unable to fix it, it's hard for me to say since I'm not very familiar with android libraries and how they work, all I know is that the one single jar from 2.3.0 works and multiple jars from 2.4.0 c

[2017-05-10 15:07] ojw28 commented on #2797
Ok, and where are you getting the jars from and how do you include them in your project? Do you mean aars?

[2017-05-10 15:08] lazarvgd commented on #2803
I see for now that method `onDownstreamFormatChanged`  and `onLoadCanceled` has been called when I start player. I will update you if any other method is triggered.

[2017-05-10 15:10] nosmirck commented on #2797
Yes, aars, sorry, and I'm downloading them from here https://bintray.com/google/exoplayer and I place them in Plugins/Android/ folder inside my unity project + my java plugin jar that I call from a bridge in Unity.

[2017-05-10 15:10] ojw28 commented on #2803
As Andrew says, it sounds like the listener is just not registered or there's something wrong with the way you're logging the callbacks being invoked. If `onPlayerStateChanged` were not being invoked then I think pretty much everything would be broken!

I'd suggest using the ExoPlayer [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demo) as a starting point. If you see the callbacks

[2017-05-10 15:10] #2803 closed, assigned to nobody

[2017-05-10 15:21] lazarvgd commented on #2803
As I said in comment above, the methods that have been called are:

- onLoadCanceled
- onLoadCompleted
- onLoadStarted
- onDownstreamFormatChanged

Apparently that some listeners are working just fine, but `onPlayerError` and `onPlayerStateChanged` have never been called.

I have followed example from DemoApp, and my player is working just fine if bandwidth is ok, if I restrict it to 2 mbps, then

[2017-05-10 15:44] komissarovdenis opened #2804 "Variable LoadControl"
Would you mind to make LoadControl more flexible to get opportunity to change buffering timeline during the playback?

It maybe useful for such cases like that: you have a list with videos and a few seconds buffer ahead for traffic economy and quick start. But if user like to choose some video from this list to watching (in fullscreen mode without reinit the player, just seamless transition) it's

[2017-05-10 15:57] ojw28 commented on #2797
Hm. I'm not sure it would make a difference. Can you provide details of exactly what failure you're hitting? Is there a simple way we can reproduce the issue?

[2017-05-10 16:02] ojw28 commented on #2804
I'm not sure what "more flexible" means in concrete terms. Please could you specify exactly what you'd like to see changed?

Note that you can implement and inject your own `LoadControl` implementation if you want a custom buffering policy, so unless the interface itself isn't flexible enough then I think it's already possible for you to do what you're trying to do.

[2017-05-10 16:16] komissarovdenis commented on #2804
I mean you can change the parameters of the LoadControl impl during the player lifecycle without side effects during playback.

I tried some time ago on version 2.2.0 to make my own impl on this interface but changing the values of buffers brakes the player (I used HLS source and tuned the buffer from 5 up to 60 seconds). It's freezes on the last buffered frame but playback continues with the soun

[2017-05-10 16:20] ojw28 commented on #2804
I don't see any reason why you shouldn't be able to make your own implementation that allows changing of the values (as long as you take care to do it in a thread safe way). I wouldn't expect a custom `LoadControl` to cause the issues you describe. If you're able to provide a simple patch to the demo app that lets us reproduce what you've done and the issue you're seeing, then we'd take a look at

[2017-05-10 16:22] komissarovdenis commented on #2804
Yes, sure. I will provide demo soon. Thank you.

[2017-05-10 18:46] komissarovdenis commented on #2804
So, there's test commit https://github.com/komissarovdenis/ExoPlayer/commit/f6bd0cd9333d6a31c4953ef6349ba60bc828582d#diff-84acd8dd0150dbbf53399c749c4bcaf4R639

The main question is what I have to do to update ```allocator``` when timings changed?
[code]
In that case player will stuck, of course

[2017-05-10 18:49] andrewlewis commented on #2791
Apparently this device can be upgraded to Android Nougat. Is the issue still reproducible after that update, or only on Android Marshmallow?

[2017-05-10 19:18] caleb-allen opened #2805 "Access currently playing HLS segment"
When grabbing an `HlsMediaPlaylist` with `getCurrentManifest()` (on ExoPlayer v2.2.0 before the `HlsManifest` class was implemented), is it possible to obtain the HLS segment that is currently being played (for logging data)?

Seems like `HlsMediaPlaylist` is a POJO with no timing logic, if I can't get the current segment there is there somewhere else that that is exposed?

[2017-05-10 19:59] MizzleDK commented on #2770
Unfortunately, I haven't yet been able to find out what's special about the samples that work vs the ones that don't. I'm still working on it, though, hopefully I'll find something.

As far as I know, the non-working samples don't work on any Android TV devices. I've tested with both Nvidia Shield TV devices, Mi Box and various Sony TVs. What's curious, however, is that all samples work on Chromec

[2017-05-10 20:16] ojw28 commented on #2703
I took a look at this and was able to reproduce, thanks. It's a fundamental limitation of MediaCodec (in the Android platform) that it needs a Surface attached to it at all times. When the SurfaceView is removed from the view the underlying Surface is destroyed. This in turn forces ExoPlayer to destroy its MediaCodec instance, because there's no longer a Surface for it to be attached to.

When the

[2017-05-10 20:27] PaulWoitaschek commented on #2703
Thanks for your response! What is `VIDEO_RENDERER_INDEX`? I'll try the combination of these 2 SurfaceManagers tomorrow.

The optimal behaviour would be for the playback just to immediately continue and not stuck. Also after each attach / detach - scroll up / down there is a different frame when paused which looks quite awkward.

[2017-05-10 20:50] nosmirck commented on #2797
I'm closing this because I managed to fix it, it wasn't a problem with exoplayer or the libraries, for some reason, when I copied the new libraries and deleted the old one, Unity kept a copy in the Temp and Library folder, every time I tried to compile it was colliding with the old one even though it was deleted. I had to close the project, delete manually the library folder and let unity create i

[2017-05-10 20:50] #2797 closed, assigned to nobody

[2017-05-10 21:04] starchey opened #2806 "HLS Livestream crash and device reboot on Nexus 10"
### Issue description
Playing the following HLS livestream, {sent in email}, on a Nexus 10 running 5.1.1 will cause the app to crash and the device to reboot. This is happening 100% on this device, but is not affecting any other Android phones or tablets we have tested. We also notice it only happens when the higher resolution video track is selected, as if we force it to play the lowest, the cras

[2017-05-10 21:37] satyres opened #2807 "Playing WMA audio stream failed even with FFMPEG !"
Hi ,
After successfully compiled FFMPEG library following the tutorial.
I've added --enable-decoder=asf \ to the config file and i've tried to play this stream
http://techibes.wma.audio.tempo.fm/techibes/techib01.wma
, but it has failed
saying that no suitable decode has been found ?
Please can anyone help me to solve this problem
Thanks

[2017-05-11 00:00] ojw28 commented on #1520
I'm pretty sure this if fixed in 2.4.0. An enabled MediaCodecVideoTrackRenderer with no surface is now able to consume video, and the ended state should be reported correctly. There are some related issues around seamless switching from no surface to a surface (and from one surface to another) that are largely platform limitations. We'll use https://github.com/google/ExoPlayer/issues/677 to track

[2017-05-11 00:02] ojw28 commented on #2703
It's the index of the video renderer that you're disabling. You can query the type of each renderer using ExoPlayer.getRendererType(), which should allow you to figure out which index to use.

[2017-05-11 00:04] ojw28 commented on #677
Remaining work to do here is as follows:
- Investigate hooking `DummySurface` up internally where possible.
- Don't allow `MediaCodecVideoTrackRenderer` to decode/render a key-frame too far ahead of the current playback position. This causes bad behavior if the surface is repeatedly cleared and set, as described in https://github.com/google/ExoPlayer/issues/2703.

[2017-05-11 00:05] ojw28 commented on #2703
We're going to use https://github.com/google/ExoPlayer/issues/677 to track the library side change mentioned above.

[2017-05-11 00:10] #1520 closed

[2017-05-11 00:35] ojw28 commented on #2804
I'm not able to reproduce the issue with the patch you've provided. I see playback just get stuck buffering (both audio and video stop), but that's working as intended because the patch sets the buffer to an unusably low duration when the button is pressed. The patch doesn't appear to be an accurate reflection of what you're actually trying to do, since it makes the buffer smaller* rather than big

[2017-05-11 00:35] #2804 closed, assigned to nobody

[2017-05-11 01:00] rustyshelf commented on #2791
@andrewlewis we have two of them here, none of them have updates available. I haven't seen any of our customers that have Nougat either.

[2017-05-11 02:06] lzyang187 opened #2808 "How to pre-load/cache mp3s and other non-adaptive formats"
Can give me sample how cache mp3 with outputstream? And How to play mp3 from cache. I have found CacheDataSource, but I don't know how it use it. thx!

[2017-05-11 02:34] andrewlewis commented on #2807
ExtractorMediaSource doesn't include an extractor for WMA containers, so you'd need to implement one.

You'd also need to modify the FfmpegLibrary class so that it picks the `asf` FFmpeg decoder when it sees the relevant MIME type.

[2017-05-11 02:34] #2807 closed, assigned to nobody

[2017-05-11 02:40] ojw28 commented on #2807
Supporting WMA is tracked by https://github.com/google/ExoPlayer/issues/2155, but is low priority (i.e. is unlikely to get done unless someone outside of the core development team implements it and sends it as a pull request).

[2017-05-11 02:45] andrewlewis commented on #2791
If you have this device, please could you provide a bug report?

[2017-05-11 02:46] ojw28 commented on #2155
@otnvshi - That page doesn't say that Google Play Music supports playback of WMA on Android devices. It's saying is that you can upload WMA, which is different. The file is almost certainly transcoded to MP3 at time of upload, and subsequent streaming playbacks will be of the MP3 rather than the original WMA file. Direct playback of WMA files is not supported on Android, as outlined above.

[2017-05-11 03:23] songwenju commented on #2800
@AquilesCanta
[code]
The object can not use the method.

[2017-05-11 04:31] ojw28 commented on #2723
Closing due to lack of clear reproduction steps.

[2017-05-11 04:31] #2723 closed, assigned to nobody

[2017-05-11 04:55] #2788 closed, assigned to andrewlewis

[2017-05-11 04:58] gemiren commented on #2797
Second this. I'd like to be able to build a single aar file to be used in my project since I use all the four libraries (core, dash, hls, smoothstreaming). It is really inconvenience that I have to copy each individual aar file to my project every time I make the change to ExoPlayer library project. At least provide an option to build a single library would be good enough.

[2017-05-11 04:58] ojw28 commented on #2577
Setting the repeat mode is now supported in the dev-v2 branch (`ExoPlayer.setRepeatMode`). You can also enable a toggle on `SimpleExoPlayerView` (`SimpleExoPlayerView.setRepeatToggleModes`). Please give it a try!

[2017-05-11 04:58] #2577 closed, assigned to tonihei

[2017-05-11 05:13] ojw28 commented on #2797
That sounds like an inefficiency with your development setup as much as anything. Why do you need to be copying aar files around in the first place? Can't you just set things up so that your project has the ExoPlayer modules you need included directly? As an example, we don't need to copy/paste aar files around to build our demo app whenever we make a change to one of the modules. Even if you do n

[2017-05-11 07:07] lzyang187 commented on #1497
Hello, I want to know how to cache while playing mp3? thx a lot! @blueslabs

[2017-05-11 07:57] satyres commented on #2807
Thank you all for your quick answers ,
@andrewlewis  how can i developpe my own ExtractorMediaSource is there any tutorial how to achieve this ?
@ojw28 WMA in #2155 can't help me to solve my problem ?
As it said in the Tutorial you need only to add the WMA support to the config ffmpeg file , and Exoplayer will handle the rest ?
can't understand how to do this !
Regards

[2017-05-11 08:22] lazarvgd commented on #2803
Hi I have downloaded and changed DemoApp a little bit:

Here is the code from PlayerActivity that I have changed:

I have observed if I change emulator network speed I got video stuck I do not get BLWE.
Any suggestions what could be next step?

thanks

UPDATE:

I have found error:
`05-11 10:25:53.558 12221-12221/com.google.android.exoplayer2.demo I/ERROR HLS: com.google.android.exoplayer2.ExoPlayb

[2017-05-11 09:33] AquilesCanta commented on #2800
Yes, looking into it into detail I noticed the class that actually implements `VideoListener` is an internal class, not actually `SimpleExoPlayerView` so the approach I presented won't work. Please reply @ojw28's comment above, so we might think about multiple listeners support.

[2017-05-11 09:50] kashif135 commented on #2604
Is this fix released? If yes which version please?

[2017-05-11 09:54] Pash97 commented on #2798
Can anybody explain me with example..?

[2017-05-11 09:59] kashif135 commented on #2632
Any ETA when this bug fix will be released please?

[2017-05-11 10:04] chenxi2035 commented on #2098
Hi,ojw28，I encountered the same problem,have you got a solution? Thank you in advance.

[2017-05-11 10:32] satyres commented on #2807
@andrewlewis  i've added the mimetype asf to FfmpegLibrary
in MimeType i've added :   public static final String AUDIO_ASF = BASE_TYPE_AUDIO + "/x-ms-wma";
and in FFmpegLibrary : case MimeTypes.AUDIO_ASF: return "wma1";
is it correct ?
what should i do next ?

[2017-05-11 10:41] quanghuy1288 commented on #2643
How about status of this function?

[2017-05-11 12:08] ascmartins commented on #1706
Hello @AOrobator !
I didn't implement anything else than posted above. So I don't have it removing MediaSources from list.

[2017-05-11 12:54] bluemix opened #2810 "ExoPlayer nextTrack listener"
Hello,
I am using ExoPlayer v2.2.0 with `MediaSource`es.
`onTracksChanged` is called when the track _is_ changed.
How to know if the next track _will_ be played?
And how to disable automatically playing the nextTrack?

[2017-05-11 13:24] HungamaSurat commented on #1975
Hi Marc,
I have mailed updated demo apk link and streaming link on dev.exoplayer@gmail.com.

We have noticed some changes in behavior of latest Exoplayer sdk. Below are our findings:
1) Exoplayer v2 does not suppoet adaptive streaming by default. We need to change it manually(by enabling random adaption mode).
2) When we enable random adaption mode for HLS streaming it pauses playing and resume ag

[2017-05-11 13:48] AquilesCanta commented on #1975
Hello @hungamademo. I'll try to help as best as I can:

This is the intended behavior, so if it's not happening please file a new issue (don't forget to complete the issue template).

Note that random adaptation has only debugging purposes (as far as I know). It basically randomly chooses a variant every time a selection update is made. This is not intended to be used on production environments. H

[2017-05-11 14:10] serabile opened #2811 "Rutube videos doesn't work !!"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-05-11 14:20] ba-a commented on #2795
I can be a little bit more specific about the crash now. It happens due to an error in the playout of the stream which results in an incorrect dash manifest.
In the attachment I provided what one of these broken manifests looks like and for comparison a correct one.

Due to the playout error the manifest contains only the video AdaptionSet but none for the audio. It seems that the player currently

[2017-05-11 14:27] ofuwape opened #2812 "[Question] Do any of the Exoplayer Contents (HLS, DASH...) support thumbnail scrubbing?"
Question/Issue:
- [Question] Do any of the Exoplayer Contents (HLS, DASH, Smooth Streaming and so forth) support thumbnail scrubbing?
- Is there a way to scrub a video and show thumbnail previews via the Exoplayer UI ?

Here's a picture that describes the thumbnail scrubbing feature:
![scrub-thumbnail](https://cloud.githubusercontent.com/assets/7673320/25954318/e5bbb074-3633-11e7-97e3-3c65182197f4

[2017-05-11 14:34] andrewlewis commented on #2811
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-11 14:34] #2811 closed, assigned to nobody

[2017-05-11 14:40] andrewlewis commented on #2807
#2155 tracks supporting WMA containers. Doing that involves implementing an `Extractor` subclass that parses the structure of WMA files. I'm afraid we don't have the resources to give guidance on how to implement specific extractors, but your best option is probably to start by reading/understanding one of the existing Extractor implementations.

[2017-05-11 14:41] jrocharodrigues commented on #1376
@ojw28 As i mentioned in https://github.com/google/ExoPlayer/issues/1376#issuecomment-220926018 , currently i'm extracting the default_KID from the manifest to send to the Widevine License Server.

I was doing it on the onLoadStarted callback is called for dataType == C.DATA_TYPE_MEDIA_INITIALIZATION && trackType == C.TRACK_TYPE_VIDEO, but i detected some cases when the executeKeyRequest, of the W

[2017-05-11 15:17] ojw28 commented on #2604
Fixed in 2.4.0. By the way, you can find this out by clicking on the referenced commit(s) in the issue thread and then looking at the tags listed at the bottom of the commit message :) (it's not obvious, but they're there!).

[2017-05-11 15:23] ojw28 commented on #2795
Yup, understood. It's pretty difficult (and a lot of extra code) to validate all parts of all media for correctness, so we have a pretty broad `try { ... } catch ( ... ) { propagate as playback failure }` to handle unexpected cases without killing the process. There are however a few specific callbacks that aren't covered by this logic, one of which is the `ManifestCallback.onLoad*` callbacks.

We

[2017-05-11 15:26] ojw28 commented on #2812
No. In my experience service providers normally implement this out-of-band. For example by hosting small thumbnail images, and requesting/displaying those during a seek.

[2017-05-11 15:26] #2812 closed, assigned to nobody

[2017-05-11 15:28] ojw28 commented on #2812
Note: The response above is about ExoPlayer's support, rather than about any functionality defined by the standards themselves. I know HLS and DASH have some trick-play functionality defined, which could help with this kind of feature. We don't support it, however, and I'm not hugely familiar with exactly what they define. If you're interested then you'll need to go and read the relevant specs.

[2017-05-11 15:32] satyres commented on #2807
This seems quite hard to understand how Extractors works ! Exoplayer is intended to be customizable but without any guidance it's really hard !
It's not easy to work with audio streams , i've been struggling last weeks using ffmpeg only to try to play a local MP3 file after successfully build ffmpeg and the library as well , it works on my s4 but the sound was not clear at all !!
i've been searchi

[2017-05-11 15:34] ojw28 commented on #2803
It's unclear from the above whether you've resolved this, but I'm pretty sure there's no ExoPlayer issue here.

[2017-05-11 15:48] andrewlewis commented on #2807
Some customizations are more complicated than others -- you're adding support for a new file format and the amount of work required will probably depend on how difficult it is to parse its structure. Hopefully the documentation on the Extractor interface and the provided implementations provide enough information to get started.

Regarding MP3 playback sounding wrong, if you file a new issue with

[2017-05-11 15:48] kashif135 commented on #2604
Sure. Thanks @ojw28

[2017-05-11 16:07] DiGra commented on #2467
@moagrius , Hi. I have question about your code. I tried it with "AES/CTR/NoPadding" it's works perfectly for all formats. But my question is what should I do with "PBEWithMD5AndDES" ? My issue is that cipher.update works with .mp3 files, but not with .m4a files. I can't understand why. So question is can I somehow to update cipher for .m4a or not?

[2017-05-11 16:44] kmoza opened #2813 "Invoke ExoPlayer with DRM using AM"
Hi,
I am trying to invoke the `PlayerActivity ` directly using activity manager and would like to do a secure playback using `DRM`. I know how to directly launch the `PlayerActivity ` using adb but dont know how to pass an URL as argument to `PlayerActivity ` for doing secure playback.

Could someone help me on what option or arguments can be used to directly supply an URL to `PlayerActivity ` to

[2017-05-11 17:46] ojw28 commented on #1376
I still think the setup being described here is pretty unnecessary. There definitely exist cleaner solutions to this problem. I thought the CENC PSSH data is sent up as part of the license request. If the KID is contained within the PSSH data as implied above, why can't the server just parse and extract it from what's already being sent?

The above aside, it's a little unclear how your current imp

[2017-05-11 17:53] andrewlewis commented on #2788
The default time bar now draws in the vertical center of the view, and should also respond correctly to `match_parent` and `wrap_content`.

[2017-05-11 18:01] ojw28 commented on #2813
The intent structure for the demo app is described [here](https://google.github.io/ExoPlayer/demo-application.html). How to fire intents programmatically is a general Android question; you'd be best asking on StackOverflow.

[2017-05-11 18:01] #2813 closed, assigned to nobody

[2017-05-11 18:04] ojw28 commented on #2810
I'm not sure I understand the question. What's the difference between the tracks changing and the tracks playing? If the only difference is whether the player is playing or paused then you should be able to check that state and work out what you want in application code.

[2017-05-11 18:18] jrocharodrigues commented on #1376
Hi, thanks for the answer.
I'll try to explain a little more in the detail the flow i currently have to acquire the Widevine License:
1st: Extract the default_KID from the manifest (The part i currently do on the onLoadedStarted)
2nd: Make a request for an authentication token using the default_KID and other data
3rd: Make the request to the Widevine License Server, using the token returned on the

[2017-05-11 21:55] webserveis commented on #1167
It would be interesting that function to give the possibility to listen seconds behind in a streaming radio, if you want to listen again heard.

[2017-05-11 23:58] moagrius commented on #2467
let me first disclaim that i am no expert in cryptography or video playback.  that said, the trick with the "wrap around" skip is specific to AES/CTR, but if you take that out it might work.  I don't know anything about PBEWithMD5AndDES - google says it's a block cipher (predictable size) but I don't know if it's a streaming cipher...   if you go to the post right before the last one (with the spe

[2017-05-11 23:58] moagrius commented on #2467
@DiGra ^

[2017-05-12 01:57] songwenju commented on #2800
@ojw28 Sometimes I need to monitor the changes in the listener, such as in the TIF, TvInputService want to get the size of the player changes, and then notify the corresponding surface to make the appropriate changes.

[2017-05-12 02:01] ojw28 commented on #2800
Using `setVideoListener` is appropriate for that use case. But in that use case it doesn't make sense for you to also be using `SimpleExoPlayerView`. Either the output is `SimpleExoPlayerView` (in which case it's the registered video listener) or you're outputting to some other Surface (in which case you're the registered video listener). So I don't think your use case requires the ability to have

[2017-05-12 02:47] gemiren opened #2815 "Can not play local TS file"
### Issue description
Local TS file can not be played.

### Reproduction steps
Use the demo app to play the attached ts file. It will fail.

### Link to test content
The ts file can be downloaded from https://www.dropbox.com/s/w2sid8hhsyr01bo/Truth_20170501_185322.ts

### Version of ExoPlayer being used
2.4.0

### Device(s) and version(s) of Android being used
Nexus 5x. Android 7.1.1

### A full b

[2017-05-12 04:28] quanghuy1288 commented on #722
Do you have demo app for using AC-3 passthrought?
I have a Android box connect to a 5.1 dolby receiver, but box always error when play dolby 5.1 audio (link is http://123.30.233.143/vod/a.mp4/playlist.m3u8 )
Error log is attached.

[ac3.txt](https://github.com/google/ExoPlayer/files/995049/ac3.txt)

[2017-05-12 04:35] andrewlewis commented on #722
@quanghuy1288 Please file a new issue including all the information requested in the issue template. The log provided doesn't have enough information to figure out what build the device is running, but the mention of `jb-mr1` in logcat seems supicious; passthrough output requires at least Android Lollipop.

[2017-05-12 05:01] quanghuy1288 opened #2816 "Cannot passthrough dolby ac3 to receive"
I have tried Exo player with Dolby AC3 by HLS streaming (link is http://123.30.233.143/vod/a.mp4/playlist.m3u8 )

My device is an android box (version 5.1). That box connect with a dolby audio receive via HDMI. But it always show error log
[ac3.txt](https://github.com/google/ExoPlayer/files/995079/ac3.txt)

(with default player of my android box, it can downrate ac3 to stereo PCM)

[2017-05-12 05:03] quanghuy1288 commented on #722
Hi, i have create new issue: https://github.com/google/ExoPlayer/issues/2816
My device 's Android version is 5.1.

[2017-05-12 05:14] andrewlewis commented on #2816
Please attach a full bug report (`adb bugreport`) as requested.

[2017-05-12 07:15] quanghuy1288 commented on #2816
I have attached bugreport.
[ac3debug.txt](https://github.com/google/ExoPlayer/files/995307/ac3debug.txt)

[2017-05-12 07:51] Avetri commented on #2815
It is not a TS file. It is a M2TS file, MPTS M2TS file with unconsistent DVB SI.

[2017-05-12 08:00] Avetri commented on #2029
@msuman26 I am not sure. I have not commited it into the repo.

[2017-05-12 09:20] billyjoker commented on #1723
Any reference (how) to implement this case with Exoplayer?

[2017-05-12 09:28] prakash-altair commented on #2810
@ojw28  onTracksChanged is called much before setting plackbackinfo in ExoPlayerImplInternal:updatePeriods, because of which if we needto get windowindex or preiodindex to fetch metainfo of the track being played it will return old index.
I think setPlayingPeriodHolder(playingPeriodHolder.next) should be called after setting new playback info.

[2017-05-12 09:34] AquilesCanta commented on #2815
@Avetri is correct. ".m2ts" support is tracked  by #1488.

[2017-05-12 09:34] #2815 closed, assigned to nobody

[2017-05-12 09:54] AquilesCanta commented on #1723
@billyjoker, you don't need to do anything special on the ExoPlayer side. Try adding your HLS sample with subtitles to the demo app. You can follow the demo app to write your own player. The one called 'Apple 16x9 basic stream' (already in the HLS section) has webvtt subtitles. Try it out.

[2017-05-12 10:37] Pash97 opened #2817 "instated of newPlayReadyInstance want clearkey implementation"
exoplayer version r1.5.8

instated of **newPlayReadyInstance** want clearkey how to implement

boolean filterHdContent = false;
            StreamingDrmSessionManager drmSessionManager = null;
            if (hasContentProtection) {
                if (Util.SDK_INT < 18) {
                    player.onRenderersError(
                            new UnsupportedDrmException(

[2017-05-12 11:16] DiGra commented on #2467
@moagrius Yes, thanks. There is only one way out, read the file in larger blocks than the player asks (what we can decrypt), and give him only the parts that he needs. I do not really want to go into the logic of the InputStream for read()/ skip(). In theory, this can be done, but so far I do not have time for this, there are more priority tasks for now.

[2017-05-12 11:29] ba-a commented on #2795
Sounds good, thanks for your effort!

[2017-05-12 12:31] vicpinm opened #2818 "Wrong audio duration"
ExoPlayer version: 2.4
Android version: any
Device: any

Hi, I have an audio with a wrong audio duration reported by exoplayer, with the method getDuration() of SimpleExoPlayer class. The link is:

http://www.ivoox.com/desmontando-a-darwin-maximo-sandin-bioantropologo_mn_273611_api_1.mp3

I think there is something wrong with this audio, because exoplayer returns about 8 seconds, but it lasts 47 m

[2017-05-12 12:32] c3stream opened #2819 "Unable to load in the middle of playback. MP4"
I'm having trouble with a helpless error.

MP4
Unable to load in the middle of playback.
Seek operation cannot load.

Nexus 5x Android 6.0
Xperia Z5 Compact SO-02H Android 6.0
KFFOWI(Amazon Kindle) Android 5.1
au AQUOS SERIE SHL25 Android 5.0
dtab Compact d-02H Android 5.1
...and Other Devices

exoplayer error?
okhttp3 error?
Or is it an error on the video delivery side?

Because the video content

[2017-05-12 12:37] HungamaSurat commented on #1975
@AquilesCanta we need to give adaptive streaming support for Audio only HLS playbacks and issue was reported for same. It was working very well with ExoPlayer v1.5.x, but with ExoPlayer v2.X, Audio only HLS playback sticks to particular bit-rate and not changing with network connectivity. We checked with ExoPlayer demo with v2.4.0 but Audio only HLS streaming is still not adaptive.

Initially load

[2017-05-12 16:40] ojw28 commented on #2819
This looks like a networking error rather than anything ExoPlayer related. I'd suggest you try serving the content from a different server. If the issue doesn't reproduce there then it's likely a server side issue.

[2017-05-12 22:59] ojw28 commented on #2818
It appears the URL you provided sporadically redirects to (at least two) different destinations. The actual content after redirection is different depending on which destination you're redirected to. For example, I saw these redirections and corresponding content lengths:

http://podcastcdn-11.ivoox.com/audio/1/1/6/3/273611.mp3?secure=tfnju6iCTdvdWZU7NTZnmg==,1494632328
Content-Length: 22589648

h

[2017-05-12 22:59] #2818 closed, assigned to nobody

[2017-05-12 23:06] #2819 closed, assigned to nobody

[2017-05-12 23:07] ojw28 commented on #2810
If you're looking for points where the window and/or period indices change, you should use `ExoPlayer.EventListener.onPositionDiscontinuity`. This callback is invoked at the point in time when the indices change.

[2017-05-12 23:07] #2810 closed, assigned to nobody

[2017-05-13 00:48] prakash-altair commented on #2810
@ojw28 onPositionDiscontinuity will be called for seek changes as well. What I am saying in there is no specific call back to indicate there is a change in window index so that display meta information can be checked. onTracksChanged works most of the cases but in cases of gapless playback it will be holding previous index.

[2017-05-13 01:17] ojw28 commented on #2810
Right, but you can check whether the index has changed in onPositionDiscontinuity. For example, store the index for which you're displaying metadata somewhere, then check whether the index is different in onPositionDiscontinuity. If it is then update the metadata.

[2017-05-13 02:28] andrewlewis commented on #2816
This is probably a device specific issue that needs to be followed up with the device OEM.

You mention that the default player on the device can decode AC-3. If you pass `null` AudioCapabilities when constructing the audio renderer, you will likely get the same behavior.

[2017-05-13 02:41] c3stream commented on #2819
@ojw28  Thank you.

[2017-05-13 05:51] bluemix commented on #2810
I have a player with
      `player?.prepare(concatenatingMediaSources, false, false)`

so, I have multiple tracks in the player.
now, when the current track ends, ExoPlayer automatically plays the next track.
so, how to stop the player from starting the next track automatically?

[2017-05-13 06:47] prakash-altair commented on #2810
@bluemix
when onTracksChanged  is called call player.setPlayWhenReady(false)

[2017-05-13 06:54] bluemix commented on #2810
@prakash-altair ah ok, thanks, but
how to know if the _current_ track is ended?
`ExoPlayer.STATE_ENDED` didn't get called...

[2017-05-13 07:08] prakash-altair commented on #2810
@bluemix
onTracksChanged  will be called once new track started playing. So you will get kow previous track ended

[2017-05-13 07:10] bluemix commented on #2810
@prakash-altair if I set `player.setPlayWhenReady(false)`, how `onTracksChanged` will get called?

[2017-05-13 07:27] wlianghe00 opened #2821 "modify the background color of SurfaceView"
exoplayer version r2.4.0
how can i modify the background color of SurfaceView

![ph](https://cloud.githubusercontent.com/assets/3353880/26023545/88dab706-37f0-11e7-91d5-0fb0b736e64b.png)

i want Left and right blanks are modified to black

[2017-05-13 11:40] Khoosham commented on #2821
set the color in xml layout
android:background="#yourcolor"

[2017-05-13 12:21] erenbakac opened #2822 "DRMed live stream not being played after NonDRM live stream"
Hi,

I have a problem while playing DRMed live stream after playing NoDRM live stream on the same player. I call releasePlayer method  before playing for each stream. I shared related logs. I also snipped the network using Fiddler. You can see  all requests from the player.  I have sent log files to "dev.exoplayer@gmail.com"
Thank you.

[2017-05-13 15:31] ojw28 commented on #2821
This is not really an ExoPlayer question. Please ask general Android questions on StackOverflow.

[2017-05-13 15:31] #2821 closed, assigned to nobody

[2017-05-13 15:39] ojw28 commented on #2810
I think you need to provide more detail about your use case for us to assist further, because it's not really very clear exactly what you're trying to do. Specifically:

- What MediaSource are you passing in to the player (presumably some kind of concatenating source), and what's the use case for wanting to disable automatic playback across its entries?
- At the point where you'd want playback to

[2017-05-14 05:41] bluemix commented on #2810
* I want to know if the current track will be ended to start playing another _specific_ track
* I don't want the first frame of the next track video to be loaded; no, I don't want the next video to be buffered.

I have a player with four tracks in it, and I want to know if the current track ends to set another four tracks for the player.

another question: when ```ExoPlayer.STATE_ENDED``` get call

[2017-05-14 11:31] PaulWoitaschek commented on #2762
I was actually wrong. ExoPlayer is way faster than the MMR.
However it would still be great to have a unified interface for getting the meta data, exo player parses.

[2017-05-14 13:10] q-litzler opened #2823 "A more convenient access to certain lifecycle event"
Hello,

This is a request for a small adjustment.

In the `LoadControl` interface lies a certain number of very useful methods related to the exoplayer lifecycle:

onPrepared()
onReleased()
onStopped()

However at this point, we can only pass one instance of a `LoadControl` implementation into the `ExoPlayerFactory`, and by default this implementation is `DefaultLoadControl`, a class marked as fin

[2017-05-14 20:31] ErezNe opened #2824 "Transparent background of TTML caption not respected"
Hi
I have 2 issues related to playing  Dash stream with TTML subtitle on Exoplayer ver 2.1 and 2.3

1.  Although  the TTML file header  is configuerd to show the subtitle on the bottom part of the screen the subtitles are  always display on the top part of the screen ather than at the bottom of the screen.this issue is not repruduce on old Exoplayer like 1.7

2.The subtitles are always showen with

[2017-05-14 21:24] RomiValladares opened #2825 "Memory issues with ExoPlayerImplInternal and DefaultTrackOutput"
### Question description
I'm using SimpleExoPlayerView in each Fragment inside a ViewPager that uses a FragmentStatePagerAdapter.

After some swipes, the memory goes from 30MB to 110MB, and then I start getting the following error:

[code]

Obviously there is something wrong with my code, and I'm not properly releasing the player. I can see that I have 120 references to DefaultTrackOutput, though

[2017-05-14 22:43] marcbaechinger commented on #2824
Hi Erez!

Can you please provide us with a test stream which exhibits the problem?

From the issue template:

### Link to test content
Provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please submit the issue, then email the link to
dev.exoplayer@gmail.com including the issue number in the subject line.

[2017-05-14 22:51] marcbaechinger commented on #2822
Hi

I think I recall having seen this as well but it seems to me it was device specific.

Can you please provide more info? Here are the parts of the issue template which are important for this kind of issue:

Does this also happen when you create a completely new ExoPlayer instance?

### Link to test content
Provide a link to media that reproduces the issue. If you don't wish to post it
publicly,

[2017-05-14 23:03] marcbaechinger commented on #2800
@ojw28 I think a legitimate use case could be performance monitoring. While the SimpleExoPlayerView needs the onRenderedFirstFrame to remove the shutter, a performance monitoring listener wants to know the time it takes until the first frame is rendered and report that time.

On the other hand there is also simpleExoPlayer.setVideoDebugListener which allows to set a VideoRendererEventListener whic

[2017-05-15 01:13] ojw28 commented on #2800
Right, the debug listener is suitable for that case. Closing this for now.

[2017-05-15 01:13] #2800 closed, assigned to nobody

[2017-05-15 01:19] ojw28 commented on #2823
These aren't intended for general purpose use outside of the player. They're intended for the `LoadControl` specifically. Note also that they're invoked directly on the player's internal playback thread, which is normally not what you'd want if you're trying to implement some external logic.

It's likely that whatever you're trying to do would be better off done in some other way, for example usin

[2017-05-15 01:36] ojw28 commented on #2825
The hprof file shows there are 30 instances of `SimpleExoPlayer`, so yes it looks like application code is just not properly releasing player. Note that this is overkill for releasing a player:

[code]

Just calling `player.release` and then null-ing the reference is sufficient. Passing `null` to `player.prepare` is incorrect and will actually cause an internal playback failure, so you should defi

[2017-05-15 01:36] #2825 closed, assigned to nobody

[2017-05-15 01:46] ojw28 commented on #1975
Just recapping what we've already said in this thread:

1. "Random adaptation mode" is for debugging purposes only, and adapts at random ignoring current network conditions. You should not be enabling this, ever, for actual playbacks. It's for testing purposes only.

2. ExoPlayer `2.4.0` and later *do* support adaptive streaming by default, without the need to do anything like enabling random adap

[2017-05-15 04:03] ojw28 opened #2826 "Reuse decoder instances on re-preparation + when seeking to a different period"
ExoPlayer V2 re-uses decoder instances where possible as it plays through multiple periods of content (e.g. that have been concatenated using `ConcatenatingMediaSource`).

However the decoders are [always released](https://github.com/google/ExoPlayer/blob/ecb62cccd50d891338253faf768d400df0ecfa66/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java#L635) and re-instan

[2017-05-15 04:07] ojw28 commented on #2826
We should also look at re-using decoder instances when a new MediaSource is passed via prepare(), where it's possible to do so.

[2017-05-15 04:50] brosvaby commented on #2622
Actions (please refer to below steps)
1. I downloaded offline license at 12:24
2. I Disconnected Wifi and LTE.
3. I checked duration is 180 sec.
4. I couldn't play content after 12:27
5. However, after I returned the device time to 12:25 minutes, it was possible to play the content.
6. You can always replay the device time back to 12:25 minutes without re-receiving the license
(Attach the report.)

[2017-05-15 05:19] Pash97 opened #2827 "Not getting where code is going wrong with drmSeesion"
Getting Following error
------------------------
Internal track renderer error.
 com.google.android.exoplayer.ExoPlaybackException: java.lang.IllegalStateException: Media does not support uuid: edef8ba9-79d6-4ace-a3c8-27dcd51d21ed
     at com.google.android.exoplayer.MediaCodecTrackRenderer.maybeInitCodec.

[2017-05-15 05:32] erenbakac commented on #2822
Hi,

I have sent these details to "dev.exoplayer@gmail.com" including all logs.

[2017-05-15 06:02] #2817 closed, assigned to nobody

[2017-05-15 06:10] ojw28 commented on #2827
This issue tracker is not designed for you to copy/paste large amounts of your own code into to have other people debug it for you. Please can you fill out the issue template properly when filing future issues. In particular, please provide a link to the test content that wont play, along with any necessary details (e.g. license server) that would be necessary to play it.

ClearKey DRM is not supp

[2017-05-15 06:10] #2827 closed, assigned to nobody

[2017-05-15 06:11] ojw28 commented on #2798
See https://github.com/google/ExoPlayer/issues/2827.

[2017-05-15 06:19] ojw28 commented on #2810
You should just not use ConcatenatingMediaSource for this use case. The whole point of that class is to allow you to seamlessly play through multiple pieces of media in order, but this is not what you actually want to do.

For your use case, you can prepare the player with a regular (i.e. non-concatenated) MediaSource representing whatever individual piece of media you want to play. You'll receive

[2017-05-15 06:26] bluemix commented on #2810
ah, 👍
I really appreciate your help dear
thanks a lot @ojw28

[2017-05-15 06:30] Pash97 commented on #2827
Ok..Please tell me widevine and clearkey are different ..? if yes please help me how can i deal with clearkey i wrote widevine class as follow. please give me sample for clearkey if possible

**ClearkeyMediaDrmcallback.java**
------------------------------
import android.annotation.TargetApi;
import android.media.MediaDrm;
import android.os.Build;
import android.text.TextUtils;

import com.google.

[2017-05-15 06:51] ojw28 commented on #1376
I don't really understand what step (2) is for, either. What does it do that cannot just be rolled in to step (3)? Are you asking whoever is providing the serving side to make things a little less convoluted?

Your approach of extending `DefaultDrmSessionManager` sounds like the simpler and more logical of the two options. Although thinking about this some more, can't you just extract the key dire

[2017-05-15 06:57] ojw28 commented on #2827
As already explained above, if you want a sample:
1. Stop using V1 ExoPlayer.
1. Check out the V2 demo app.
1. Add your content to `media.exolist.json` as described above.

[2017-05-15 07:19] b0g8 commented on #1706
@calulelalu , @tonihei , did you manage to get a MediaSource where items can be removed/swaped without releasing the player?

[2017-05-15 07:38] calulelalu commented on #1706
Hi, unfortunately not, I had to manage the playlist by myself externally from exoplayer.

[2017-05-15 08:49] botondbutuza commented on #2825
@ojw28 Sorry just piggybacking on this releasing a player question: we still need to remove `EventListener`s manually, right? I can't see anything in the `player.release()` code that'd indicate that `EventListener`s are cleaned up.

[2017-05-15 09:58] q-litzler commented on #2823
What I need is to know precisely when the player is done preparing its `MediaSource`. I would love if there was a dedicated method in `ExoPlayer.EventListener` for that, but that is not the case right now.
That's why I have been using the `LoadControl` interface, I know it's not meant to be used for this, but it's the only solution I could come up with. I'm not asking for a modification of the `Lo

[2017-05-15 10:21] lforxeverc opened #2828 "How can I monitor exoplayer progress position?"
as descibe above

[2017-05-15 11:32] jrocharodrigues commented on #1376
Hi @ojw28, thanks for the answer,
The step two is basically an an authentication request. I guess it could be rolled in to step 3, i've already exposed that to the team responsible for that, but as i said there's really not much i can do about it.

My first approach was in fact trying to extract the default_KID from the data in the KeyRequest as you suggest.
The problem i found in that approach is

[2017-05-15 12:53] jrocharodrigues commented on #1376
I've been fiddling around, and i'm noticing a pattern on the data that could help extract the default_KID.
On the request data i "always see the following pattern.
0A380A121210 <default_kid_bytes> 10011A20

Are this any kind of separators? can i rely on them to find the position of the default_kid or is it just a coincidence?

Thanks in advance

[2017-05-15 13:44] tonihei commented on #1706
@b0g8, We are going to work on this topic soon to provide a build-in solution for a media source which supports adding/removing. Subscribe to this thread and you'll get informed as soon as we are ready :)

[2017-05-15 13:56] ofuwape commented on #2742
@ojw28 I tested again and this issue seems to occur with the **DEFAULT** option for closed captions

[2017-05-15 14:30] ojw28 commented on #2823
I don't think `LoadControl.onPrepared` is called when you think it is. It's called as soon as the playback thread receives the `MediaSource` but before it's actually done anything with it. There will typically be zero buffer at the point when it's fired. So it doesn't seem at all correct for the use case you describe.

If you want to do something when the player is ready to be played then you shou

[2017-05-15 14:30] #2823 closed, assigned to nobody

[2017-05-15 15:02] ojw28 commented on #2825
It wont do any harm. I don't see why it would be necessary in general though (and our demo app doesn't unregister). The player holding a reference to a listener isn't going to stop the player from being GC'd. It's references in the opposite direction that you'd need to be wary of.

[2017-05-15 15:54] q-litzler commented on #2823
Ok, good to know. Thank you.

[2017-05-15 18:11] AquilesCanta commented on #2742
@ofuwape, please clarify. What seems to occur with the default option? Out-of-syncness or subtitles not displaying? In order for us to look into this, please provide specific reproduction steps in the demo app. Try not to leave anything to interpretation, this is most likely not going to be looked into unless it is clear that there is an exoplayer issue.

[2017-05-15 18:27] AquilesCanta commented on #2828
Assuming that what you want is the playback position, you can use `ExoPlayer.getCurrentPosition()`.

[2017-05-15 18:27] #2828 closed, assigned to nobody

[2017-05-15 18:36] brAzzi64 opened #2829 "Frame frozen for up to 10 seconds when scrubbing"
We're currently on r.1.5.16, and are seeing an issue (that's been there since at least r.1.5.6) in which very often when jumping to a different position in a video, while playing, the audio will immediately start playing at the new position, but the video will remain frozen for somewhere between 1 to 10 seconds.

The frame in which the video freezes, is the one corresponding to **jumpPosition + fr

[2017-05-15 19:02] ofuwape commented on #2742
@ojw28 On the Demo App; The HLS url https://cdn.curiositystream.com/system/Encoding/L3/000/000/781/249/preview_v2.m3u8
does not show any closed-captions when the DEFAULT option is selected.

[2017-05-15 19:53] AquilesCanta commented on #2742
If you are using 2.4, try the dev branch. There has been a bugfix on the DefaultTrackSelector that will make the vtt track the default selection for the provided stream.

[2017-05-15 20:49] ojw28 commented on #1376
Ah, yes, ignore what I wrote in my previous response. The `KeyRequest` is actually generated by the platform (by calling `mediaDrm.getKeyRequest`). It's possible that different OS versions are putting different pieces of data in the request, and I'm not sure it's documented anywhere. Stick to your approach of extending `DefaultDrmSessionManager`, if that's working for you.

[2017-05-15 21:11] jpardogo commented on #1376
I ended up injecting my extended/custom parser into DashMediaSource constructors and works great. Thanks

[2017-05-15 21:32] goffioul opened #2830 "No picture on some h264 streams (live TV captures)"
### Issue description
Video is missing (audio only) on some h264 files.

I have a set a live TV captures that I'm using as a test bench for our video player app. These are captures from UDP multicast streams that are available at our customer's sites. When playing some of these captures in the ExoPlayer demo app, the video is missing (audio is ok). Because some of these streams use AC3 or MP2 for

[2017-05-15 22:20] ojw28 commented on #2824
Positioning:
This isn't a regression. The reason the older release "works" is that it completely ignored the positioning information. It just so happens that the default we chose is similar to what you're specifying in the TTML file. In more recent releases we take into account positioning information but we're not handling `tts:displayAlign` properly, which is why the positioning is incorrect.

C

[2017-05-15 22:24] AquilesCanta commented on #2830
They will work if you enable the `DefaultTsPayloadReaderFactory.FLAG_ALLOW_NON_IDR_KEYFRAMES` flag. On the release branch this is easy to do through the `DefaultExtractorsFactory#setTsExtractorFlags` method.

[2017-05-15 22:24] #2830 closed, assigned to nobody

[2017-05-15 22:40] caleb-allen commented on #2805
Although not a perfect solution, I ended up hooking into the `AdaptiveMediaSourceEventListener` `onLoadCompleted` method, using the `DataSpec` object to grab the URL and the `Format` object to grab the bitrate.

This isn't the best solution because the media is loaded ahead of when it is played and so the currently playing segment does not correlate exactly with a segment that was just loaded. It

[2017-05-15 22:40] #2805 closed, assigned to nobody

[2017-05-16 00:52] goffioul commented on #2830
Thanks, that fixed it.

Can you tell me what is the effect of using this flag on streams that would normally not need it? In case it's harmless, what would be the reason not to make it the default?

[2017-05-16 01:34] lforxeverc commented on #2828
can I get a callback to listen to the play position change？

[2017-05-16 01:55] goffioul commented on #2013
I'm looking for options or suggestions about how to deal with interlaced content in ExoPlayer. The streams I have to deal with are live TV feeds and most of them are interlaced. Transcoding them is not really an option.

At the moment, the streams can play fine in ExoPlayer, but the interlacing artefacts are clearly visible. The device does not have (yet) HW decoders, so it's using Google's softwa

[2017-05-16 05:03] daniel-inka commented on #2622
To support DTR(download to rent) scenario, there must be a way to prevent device-time manipulation as above. Maybe it is Widevine CDM's role, or it may be implemented in application level.
Anybody to confirm or advise on this issue?

[2017-05-16 07:30] HungamaSurat commented on #1975
Hello @ojw28. Below are our responses:
1. We are not going to use "Random adaptation mode". We had only used it for testing purpose as Audio only HLS streaming was not adaptive by default for v2.0.x - 2.3.x.

2. Yes we can see tracks selected logs with ExoPlayer v2.4.0.
[code]

3. As mentioned, we have tested streams again under network variation with ExoPlayer v2.4.0, but most probably it starts

[2017-05-16 07:48] hpanahiird opened #2831 "Stop ExoPlayer from buffering"
hi
How can I prevent ExoPlayer from buffreing from internet.

[2017-05-16 09:11] jrocharodrigues commented on #1376
Ok @ojw28, i'll do that.

Thanks for your help.

BRs

[2017-05-16 09:50] muhaozhang opened #2832 "Is there anyway to passthrough ac3,dts using extension-ffmpeg without mediacodec?"
My box is unsupport for hard-decoder ac3 and dts,so i try to use the extension of ffmpeg.
i do it like this:
1.i add the extension-ffmpeg to make the exoplayer can soft-decoder the ac3 and dts.
2.i transmit AudioCapabilities.getCapabilities(context) to FfmpegAudioRenderer like this:
try {
      Class<?> clazz =
          Class.forName("com.google.android.exoplayer2.ext.ffmpeg.FfmpegAudioRenderer")

[2017-05-16 10:27] lforxeverc commented on #2808
I also need the help,thx!

[2017-05-16 10:55] needz opened #2833 "Support Extractor injection for HLS chunks"
**Issue description**

When using Demo player in ExoPlayer version 2.4.0 to playback the HLS stream, the player is stuck in loading mode after getting track information and not switching any further. The same stream opens fine with Demo player in ExoPlayer version 2.2.0 with all default settings.

Seems like the issue arises when there is a subtitle track inside HLS's TS chunk (in this case CEA-60

[2017-05-16 11:27] MizzleDK commented on #2770
I still haven't made any progress on finding out if the samples differ. I'm really baffled by this.

Does it make any sense to the ExoPlayer developers that I can make it work by disabling the audio and video tracks and then re-enable them one at a time?

Please let me know if you need updated video stream URL samples or if you need more.

[2017-05-16 13:16] sureshcnvidia commented on #2770
Hi,

I have been off work and would be till this week.

Request to wait till Monday for me check the issue on SHIELD TV.
BR,
Suresh

Sent from my iPhone, Please excuse any typos.

On 16-May-2017, at 4:57 PM, Michell Bak <notifications@github.com<mailto:notifications@github.com>> wrote:

I still haven't made any progress on finding out if the samples differ. I'm really baffled by this.

Does it mak

[2017-05-16 14:52] arjun-redspace opened #2834 "Improve video start time when using lower buffer size in LoadControl"
I'm upgrading from ExoPlayer r.1.5.9 to r.2.2.0 and wondering if I can use and suppy buffer size lower than default values.

`LoadControl` implementation (`DefaultLoadControl`) has a `targetBufferSize` which is calculated when a track is selected and it is equal to sum of default values of renderers present in the selected track. In a typical track, there would be four renderers, video (12.5 MB, `

[2017-05-16 15:32] Behrouz-m opened #2835 "wave file playback problem"
Hi. I'm using exo 2.4
I have problem with playing this wave file.

[https://www.dropbox.com/s/o7wyioop9b6rgsj/verbose.wav?dl=1](url)

please check it.

[2017-05-16 16:14] andrewlewis commented on #2832
Is the goal to use HDMI passthrough if it's available, and use FfmpegAudioRenderer otherwise? I think this should just work if you add a MediaCodecAudioRenderer to the renderers list before the FfmpegAudioRenderer, as in [DefaultRenderersFactory](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/DefaultRenderersFactory.java#L213). The Defa

[2017-05-16 16:32] AquilesCanta commented on #2830
@andrewlewis is the correct person for answering that. But, basically, the flags makes the reader assume that I-frames are also IDR frames. It could be the case that the stream contains an I-frame which is succeeded by P or B frames that references frames before the I frame. This would mean that the decoder does not have the required information to decode said P or B frame. There is some useful in

[2017-05-16 16:39] MizzleDK commented on #2770
That's perfectly fine, thank you!

[2017-05-16 17:13] liuzhen2008 opened #2836 "Exoplayer crashes when it encounters a unexpected stream in an HLS file"
The issue occurs for version 2.4.0

I have a HLS file generated from a third party with 3 tracks

Stream #0:0 is video
Stream #0:1 is audio
Stream #0:2 is something custom from the third party.

When I load my HLS into the exoplayer the player crashes with this stacktrace

[code]

For some reason the crash above only happens on a fresh install. After if I initialize the player a second time, i ran

[2017-05-16 18:07] needz commented on #2833
When the stream is saved as TS, it is plays normally. I also tried to disable the subtitle track, but it didn't help.

Below is the extracted m3u8 content:

[code]

[2017-05-16 18:15] liuzhen2008 commented on #2836
@AquilesCanta You can find the video here https://s3.amazonaws.com/charlyvault/live/12345/12345.m3u8

[2017-05-16 18:26] AquilesCanta commented on #2835
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-16 18:26] #2835 closed, assigned to nobody

[2017-05-16 18:33] andrewlewis commented on #2830
Yes. To emphasize: if you set the flag then play a stream where a frame after a (non-IDR) I-frame refers to a frame before that I-frame, I think you could see error concealment artifacts appearing in the decoder output, as the decoder is not receiving a valid bitstream.

[2017-05-16 18:39] AquilesCanta commented on #2836
Thanks! It will probably have to wait until next week, but I will get to it as soon as I have some free time.

[2017-05-16 18:40] goffioul commented on #2830
That makes me wonder how other players solve this conundrum... Are you talking about artefacts that could appears only at playback startup (or after seek operation), or anytime during normal playback?

[2017-05-16 18:43] liuzhen2008 commented on #2836
@AquilesCanta Do you happen to know what i can do to have the exoplayer simply ignore the track?

[2017-05-16 18:50] AquilesCanta commented on #2836
Anything not supported should be ignored by default. I'll look into this as soon as possible. Sorry for the inconvenience.

[2017-05-16 18:54] andrewlewis commented on #2830
The artifacts could appear on frames between the frame you seek to and the next IDR frame. I don't have any data on how common it is to have streams where I-frames can't be treated as IDR frames, but anecdotally it does seem to be rare.

[2017-05-16 18:59] goffioul commented on #2830
Thanks. I can live with transient artefacts after seek.

[2017-05-16 20:05] liuzhen2008 commented on #2836
When I tested with the sample app, i get a toast saying "The device does not provide a decoder for application/id3"

[2017-05-16 20:35] needz commented on #2833
@AquilesCanta, found that it can be fixed by setting:

`esReaderFactoryFlags = DefaultTsPayloadReaderFactory.FLAG_ALLOW_NON_IDR_KEYFRAMES;`

inside **HlsMediaChunk.java** in **createExtractor**.

Is it possible to set this flag for HlsMediaSource or any media source (or global non_idr_keyframe value for H264 reader) the same way as for ExtractorMediaSource, so the modification of library can be av

[2017-05-16 21:22] ojw28 commented on #2831
You need to provide more information about exactly what you're trying to do if you want us to help.

[2017-05-16 21:35] ojw28 commented on #2834
If you want non-default buffering policy, then yes this is the recommended way to do that. Note you can also configure DefaultLoadControl to some extent, by passing different values through one of its constructors.

The size of the buffer doesn't have any effect on start time, unless you make it so small that playback is essentially broken. The bare minimum size depends somewhat on the details of

[2017-05-17 00:45] connorliveraise opened #2837 "Rounded Corners"
Is it possible to display the ExoPlayer with rounded corders (or cropped to a circle)?

I attempted using a background shape, or putting the SimpleExoPlayerView inside a [RoundedCornerLayout](http://stackoverflow.com/questions/26074784/how-to-make-a-view-in-android-with-rounded-corners/26201117), but the ExoPlayer's surface escapes the constraints of the parent, and so the background of the rounde

[2017-05-17 03:47] sureshcnvidia commented on #2770
Hi @MizzleDK would it be possible to share the link to test contents on my email id?

[2017-05-17 03:54] Behrouz-m commented on #2835
I'm receiving this error:
[code]

what does it mean ?
I'm playing the file through http.

[2017-05-17 04:16] muhaozhang commented on #2832
i do use the MediaCodecAudioRenderer as the first renderer in  DefaultRenderersFactory,but MediaCodecAudioRenderer doesn't support ac3 and dts,this is the log:

so i want to use ffmpeg instead,but i found it not work for passthrough.
i want to know if MediaCodecAudioRenderer is not support ac3 and dts,how can i passthrough ac3 and dts?

[2017-05-17 04:28] Pash97 commented on #2827
Video is stopping after some time.

**Logcat**

Renderer error.
                         com.google.android.exoplayer2.ExoPlaybackException
                             at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.feedInputBuffer(MediaCodecRenderer.java:708)
                             at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.render(MediaCodecRenderer.java:

[2017-05-17 05:11] Behrouz-m commented on #2835
I'm using this code:
[code]
the problem is that wave decoder is not set. How can I set it?

[2017-05-17 05:50] ojw28 commented on #2835
Why are you overriding the renderers to provide only an Opus renderer? If you're providing only an Opus renderer then you're not going to able to play WAV content.

Please also properly fill out the issue template, as has already been requested above, else we do not have sufficient information to help.

[2017-05-17 06:13] Behrouz-m commented on #2835
the reason is I don't know how to add Opus renderer  and I could not find any sample for the issue. please refer any proper code to fix this issue. thanks

[2017-05-17 06:31] MizzleDK commented on #2770
@sureshcnvidia Yes, I'll do that ASAP.

[2017-05-17 06:58] Pash97 commented on #2827
Sorry for updating this issue above error resolved..Thank you for your needful help.

[2017-05-17 07:13] kneep commented on #613
I saw the changes in version 2.4. That is better and that is exactly what I would suggest - we don't have to subclass SimpleExoPlayer only in order to pick a different decoder.

[2017-05-17 10:00] 13217300237 opened #2838 "can not play my .m3u8"
### Issue description
exo demo can not play my hls live channel.but I can play it in VLC on my cumputer.

### Reproduction steps
add a source:"http://198.255.10.2:88/AirSD/191/191.m3u8" into hls list of media.exolist.json file,
and run the demo with android studio

### Version of ExoPlayer being used
2.3.1

### Device(s) and version(s) of Android being used
android pad Nexus 9

### A full bug repo

[2017-05-17 10:35] quanghuy1288 commented on #2816
If my android box passthrough to receiver: it must play ok
If my android decode ac-3 like defaul build in player, it must play ok. Why defaul build in player play ok but Exoplayer is failed?

[2017-05-17 18:09] goffioul commented on #2830
@andrewlewis would you mind having a look at this stream:
https://drive.google.com/open?id=0BwljeX6541LuTy1GeHIwbTlsdGM

I'm seeing a lot of artefacts during playback. Is this the kind of possible problem you were referring to? Or are those due to the nature of the stream (the stream is not "clean", but that's a common scenario with live TV feeds).

[2017-05-17 20:21] AquilesCanta commented on #2838
I can't look into this in detail right now, but from the logcat (please follow the issue template to get a full bug report next time), I can see a date parsing error. You could try making the parser ignore that error and see if it plays after that to make sure that's the issue. If the content is actually malformed, you might consider fixing it. I'll come back to this issue as soon as I have free t

[2017-05-17 21:40] amrkhalil22 opened #2839 "ClippingMediaSource not working"
I want to play video from external storage and play specific range ( from-> to ).
I'm trying to use "ClippingMediaSource", but a black screen is shown always.

here is my code
`String videoLocation = "/storage/emulated/0/WhatsApp/Media/WhatsApp Video/VID-20170506-WA0047.mp4";

MediaSource mediaSource = new ExtractorMediaSource(Uri.fromFile(new File(videoLocation)),
                buildDataSourceF

[2017-05-17 21:46] andrewlewis commented on #2832
HDMI passthrough does not rely the device having any particular audio decoders. We provide the functionality via MediaCodecAudioRenderer because it's convenient. MediaCodecAudioRenderer will use HDMI passthrough if the AudioCapabilities passed to its constructor declare that passthrough is possible. FfmpegAudioRenderer on its own does not support passthrough.

To reiterate my previous comment, if

[2017-05-17 21:48] andrewlewis commented on #2839
The end time looks too small -- the unit for the start/end position parameters is microseconds (as documented). For example, to play the first three seconds you'd pass 0 and 3000000 as the start and end positions

[2017-05-17 22:00] amrkhalil22 commented on #2839
@andrewlewis Thanks you for the quick answer.
I have changed values to be:
from 0L
to 3000000L
but the same issue occurs.

[2017-05-17 22:01] andrewlewis commented on #2839
To investigate further we'd need the information requested in the issue template, especially a link to the media you're trying to play.

[2017-05-17 22:06] amrkhalil22 commented on #2839
@andrewlewis Sorry, I don't know where can I find the issue template ?
link media that I'm trying to play is from external storage
like this for example:
"String videoLocation = "/storage/emulated/0/WhatsApp/Media/WhatsApp Video/VID-20170506-WA0047.mp4"
MediaSource mediaSource = new ExtractorMediaSource(Uri.fromFile(new File(videoLocation)),

[2017-05-17 22:08] AquilesCanta commented on #2836
The issue here is that the second chunk is not a continuation of the first one. It declares an audio while the first one does not. This is not allowed by the spec unless a discontinuity is signaled.

   bitstream from the end of the segment with the previous Media
   Sequence Number, where values in a series such as timestamps and
   Continuity Counters MUST continue uninterrupted.

However, even

[2017-05-17 22:08] #2836 closed, assigned to AquilesCanta

[2017-05-17 22:11] AquilesCanta commented on #2833
Not right now, I'll use this issue to track Extractor factory injection.

[2017-05-17 22:12] amrkhalil22 commented on #2839
@andrewlewis I noticed now the sound of video is playing but video screen still black.

[2017-05-17 22:13] andrewlewis commented on #2839
[Here's the issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). It's useful to be able to reproduce the error, so we need a link to the actual file you're trying to play. Please either attach it here, or email it to dev.exoplayer@gmail.com.

[2017-05-17 22:36] ojw28 commented on #2837
A GL issue sounds like overkill. It should be perfectly possible to render UI components over the top of the surface; playback controls being the most obvious example. So an approach that should work would be to add a view on top of the surface that's transparent in the middle and black around the edges, in whatever pattern you're trying to achieve.

[2017-05-17 22:36] #2837 closed, assigned to nobody

[2017-05-17 22:52] amrkhalil22 commented on #2839
**Issue description**

Want to play video from external storage and play specific range ( from-> to ).
I'm trying to use "ClippingMediaSource", the sound is working but a black screen is shown always.

**Reproduction steps**

Simply play any video from external storage and use ClippingMediaSource.

**Link to test content**

Happens on every video from external storage.

**Version of ExoPlayer bein

[2017-05-17 23:15] AquilesCanta commented on #2829
This happens because most segments have their first keyframe at the end. So the decoder has to discard every sample until the one that allows decoding the posterior ones. This is counter-advised by the spec:

   support effective decode of individual Media Segments, e.g. on packet
   and key frame boundaries.

Basically, the solution (the only one I can think of) is to remux the content so that th

[2017-05-17 23:15] #2829 closed, assigned to AquilesCanta

[2017-05-17 23:23] andrewlewis commented on #2839
We also need the MP4 you're trying to play (attached here or emailed).

[2017-05-18 00:43] ghost opened #2840 "Flush timing issues for passthrough playback using Offload profile"
### Issue description
Flush called inconsistently on audio HALs supporting AUDIO_OUTPUT_FLAG_COMPRESS_OFFLOAD.
During seek operations, it is expected that creation of a new AudioTrack will trigger a flush on the audio HAL to remove any buffered data that is no longer relevant. It has been observed that flush is not always called.

### Reproduction steps
* Note: Requires logging of flush() in an au

[2017-05-18 03:36] WeiChungChang opened #2841 "Cannot playback TS files by fail to identify key frame within it"
### Issue description
Cannot Playback TS files.
There is only audio & **_all video frames are dropped._**
**_It is because the frames are all deemed as "non-key"._**
However, if played on, ex: VLC player, the movie is fine.

The file's key frames could be identified by **_recovery point SEI message_**

_**"...a special header, called the SEI Recovery Point, tells the decoder to "start here, decode

[2017-05-18 09:12] needz opened #2843 "Provide option to keep the last frame of a previous source visible when switching sources"
First of all, congrats on the io'17 ExoPlayer presentation!

### Issue description
I would like to implement a "hold picture" (or freeze) functionality in the app, where a player would hold a last frame from previous stream, when switching to another stream (zapping through channels).

Since ExoPlayer is really quick on zapping through streams, what happens at the moment, is that you see the black

[2017-05-18 09:33] peyoh commented on #2524
HI,
do you have WV CENC support enabled on the device?
Just check it with "DRM info" package.

https://play.google.com/store/apps/details?id=com.androidfung.drminfo

[2017-05-18 09:43] LachlanMcKee opened #2844 "Don't retry loads for certain error types/codes"
### Issue description
From what I understand, the HlsMediaSource retry mechanism is quite simple. It attempts to load the master playlist, as well as subsequent playlists, multiple times (based on a configurable value) so long as a `ParserException` is not encountered (as this is deemed a fatal exception).

I believe that it is reasonable that certain responses from a server should also be treated

[2017-05-18 11:26] rpattabi commented on #2160
Coming here after the watching excellent presentation at Google I/O 2017. Unfortunate to hear the need to use different player to stream youtube videos. This is irony since youtube app is internally using ExoPlayer. Hope Google/Youtube avoids such duplicated efforts. A YoutubeMediaSource will save the developers having to familiarize yet another media player API.

[2017-05-18 11:31] TGIO commented on #2160
regarding to Google I/O 2017. When/where will new features be pushed? Interested in ImaAdsMediasource especially.

[2017-05-18 12:24] arefehiravanchi opened #2845 "Timebar back color"
I want to customize color and size of seekbar in controlview of player, I overwrite exo_playback_control_view file in my project and set played_color in timebar, it works for played color but it assign on background of timebar too.
I have this :
![1](https://cloud.githubusercontent.com/assets/7156108/26201897/7d254aea-3bea-11e7-8a85-5890971aca85.png)

And I want something like this:
![2](https://c

[2017-05-18 13:44] benjosantony commented on #2052
@ojw28 As I understand from your comment it is not possible to have two audio tracks enabled at a time. But would it be possible to do this for a mix of audio and video source.

Something like this

`MergingMediaSource(songMediaSource(), videoMediaSource().delay(10s));`

The idea is to be able to play **audio track** and to be able to playback **video** after a **delay**.

[2017-05-18 14:04] tonihei commented on #2845
A similar question has been asked here: #2740, please have a look. The next version (2.4.1) will contain separate attributes for played_color and unplayed_color to allow further customization.

In the current version (2.4.0), the name played_color attribute is slightly misleading because it applies to the entire timeline. The left part is rendered opaque while the right part is rendered in the ori

[2017-05-18 14:11] #2845 closed, assigned to nobody

[2017-05-18 19:24] ojw28 commented on #2160
* The IMA MediaSource has been pushed to our `dev-v2` branch [here](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ima). Please note the "known issues" section of the README. It will take a bit of time before it lands in a stable release because those issues still need to be ironed out.
* @rpattabi - ExoPlayer and the YouTube API are pretty different things. I wouldn't say it's duplica

[2017-05-18 20:11] amrkhalil22 commented on #2839
@andrewlewis I have sent video to dev.exoplayer@gmail.com.

[2017-05-18 23:23] AliAbozaid commented on #2839
Hello @andrewlewis I face the same problem do you have any suggestions!

[2017-05-19 02:22] Congeek opened #2846 "API Level19 x86 cpu doesn't work"
#00 pc 0000b3ef /system/lib/libcutils.so (__android_log_assert+95) [x86]
2 #01 pc 00008c8c /system/lib/libstagefright_soft_ffmpegadec.so [x86]
3 #02 pc 0001d2ca /system/lib/libstagefright_omx.so (android::SimpleSoftOMXComponent::onMessageReceived(android::sp<android::AMessage> const&)+746) [x86]
4 #03 pc 0001d3dc /system/lib/libstagefright_omx.so (android::AHandlerReflector<android::SimpleSoftOMXC

[2017-05-19 02:31] amrkhalil22 commented on #2839
@andrewlewis I have tried the code with the Demo app and its working, but same code is not working in my project!
Is there any difference between Exoplayer in Demo app and version "r2.4.0" which I'm using?

[2017-05-19 09:37] yueyueniao2012 commented on #2733
I also meet this issue with this url:
  http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8.
This video play stuck buffering in random time and never come back to ready.But Exoplayer(release-v2 branch new code demo) print no error log.

[2017-05-19 10:39] m35w opened #2847 "ExoPlayer 2.3.1 stays in downloading media segments phase -> missing onLoadCompleted()"
### Issue description
Sometimes it happens that playback of HLS stream freezes because ExoPlayers starts fetching new media segments (onLoadStarted() is being called),
but it stays in that state i.e. onLoadCompleted() method's not executed.
During that period (e.g. 30minutes) there's no onLoadCompleted() or onLoadCancelled(), no errors (onPlayerError(), onLoadError()) but still every ~12sec ExoPla

[2017-05-19 11:28] muhaozhang commented on #2832
I understand what you are saying is that ,if HDMI passthrough is possible, MediaCodecAudioRenderer will use it , no matter that MediaCodecAudioRenderer can't decode ac3 and dts in my box.I don't know if i got it right?

I add log to some key locations,then i found that if MediaCodecAudioRenderer can't decode ac3 and dts，the type audio/ac3 will not be passed to method onInputFormatChanged() in clas

[2017-05-19 14:32] lazarvgd commented on #2803
Hi, I have implemented exoplayer in this way,but still cannot catch BLWException? I think this is a bug,
 I have overridden the event listener and cannot reinitialize the player because method `onPlayerError`  have never been invoked.
here is the code:

` public class VideoPlayerActivity extends AppCompatActivity implements ExoPlayer.EventListener {

    private SimpleExoPlayerView simpleExoPlayer

[2017-05-19 15:25] ojw28 commented on #2803
As per above:

along with a proper bug report, as is requested in our issue template. There is still no firm evidence in this bug that the `BehindLiveWindowException` you're expecting to be notified of is even occurring inside of the player, except "but BLWE has been written in logcat" with no bug report provided so we can actually see the logging you're referring to.

We're not going to look at t

[2017-05-19 19:16] amrkhalil22 commented on #2839
@andrewlewis I found when I use my code in Activity the video is working well, but the same code is not working with Fragment!
Only video's sound is working with Fragment and black screen is shown.
Do you have any idea?

[2017-05-19 20:15] shalin186 opened #2848 "Allow mid-download cancellation for faster adaptive switches."
Hi,

I have a following question about changing the bit-rate in HLS stream.

With the current exoplayer implementation, if client has great bandwidth improvement then it will take effect only after the buffered duration of the video is played. Because chunks are always downloaded in the increasing sequence at the end of the buffer.

I know that I can reduce the buffer size but that's not how I wan

[2017-05-19 23:59] AquilesCanta commented on #2846
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-19 23:59] #2846 closed, assigned to nobody

[2017-05-20 01:51] DJphy opened #2849 "DRM session manager causing Fatal signal 6 (SIGABRT), code -6 in tid 4100 (MediaCodec_loop)"
### Issue description
Very recently we did an update from exo1 to exo2.4 and we were fine, playing app contents, and we had to introduce DRM into playing, I did exactly as mentioned in demo app to add DRM session manager and pass it onto getting the instance of simple exo player. Its resulting in the **fire stick reboot** . I believe its blocking the UI thread and resulting in ANR and hence a rest

[2017-05-20 07:00] mdtuyen opened #2850 "It is very difficuit to detect correct stream type with exoplayer"
Hi,
I'm working with my application to play video.
I see that exoplayer detect content type by `Util.inferContentType(String fileName) `function.
I'm working with http link with type m3u4 and mp4
but:
Some link m3p4, mp4 is not suffix.

I have not pattern for them so that I can't use abover function to detect content Type.

Some mp4 link can't play (Example: https://openload.co/embed/H334bKtpbhs/l

[2017-05-20 15:49] brAzzi64 commented on #2829
If I understand correctly then, most of these 10-second chunks only have keyframes at the end?

Is dvbsnoop the right tool to analyze the chunks and spot this issue so I can report to our encoding team?

Thanks!

[2017-05-20 16:44] steve111MV commented on #1549
@samkazmi @shinahran  can you please share the solution of this ?
@willnorris @canatella @talklittle

[2017-05-20 17:17] andrewlewis commented on #2850
The server returns an HTML page when I request that using `wget`. You need to give the player the URI of the actual video not an HTML page embedding it.

Do you need to support DASH/HLS/SS? If not, you can probably just use ExtractorMediaSource directly and don't need to call `inferContentType`.

[2017-05-20 17:22] andrewlewis commented on #2839
If the issue isn't reproducible in the demo app, there isn't much we can do to help. It sounds like there might be an issue with how you're passing the surface to the player but it's difficult to say.

Closing for now as this doesn't seem to be a problem with ClippingMediaSource.

[2017-05-20 17:22] #2839 closed, assigned to nobody

[2017-05-20 17:27] amrkhalil22 commented on #2839
@andrewlewis Did you try ClippingMediaSource with Fragments ?
It's working with Activity but not working with Fragment.

[2017-05-20 17:37] andrewlewis commented on #2816
Yes: if the device has HDMI passthrough mode implemented correctly and you attach it to a receiver that supports AC-3, it should work. However, it's clear from the bug report that the AudioTrack is failing to initialize. You could try to debug this a bit yourself by verifying that the AudioTrack is being configured for [ENCODING_AC3](https://developer.android.com/reference/android/media/AudioForma

[2017-05-20 17:37] #2816 closed, assigned to nobody

[2017-05-20 17:59] andrewlewis commented on #2839
I haven't, but I'm having trouble coming up with any reason this would be affected by using a Fragment vs an Activity, unless your app is doing something different with how it handles Surfaces in the two cases.

Are you using SimpleExoPlayerView? If so, maybe set a breakpoint in `onRenderedFirstFrame` to verify that it's getting called to hide the `shutterView`. Could you make a small patch to the

[2017-05-20 18:21] andrewlewis commented on #2832
Please set a breakpoint in `MediaCodecAudioRenderer.supportsFormat` and confirm that [this branch](https://github.com/google/ExoPlayer/blob/0e6ef0e/library/core/src/main/java/com/google/android/exoplayer2/audio/MediaCodecAudioRenderer.java#L148) is taken. If not, passthrough mode is not available and you can step through the code to figure out why. Some possible explanations: the HDMI connection i

[2017-05-20 18:36] andrewlewis commented on #2830
You could try playing it with a player like ffplay/mplayer/vlc/... in verbose logging mode to see if the video decoder outputs warning messages related to bitstream errors or error concealment. On cursory inspection, it certainly looks like the bitstream is incomplete or invalid.

[2017-05-20 18:48] andrewlewis commented on #2840
ExoPlayer does wait for `release` to return in [`initialize`](https://github.com/google/ExoPlayer/blob/e87e231/library/core/src/main/java/com/google/android/exoplayer2/audio/AudioTrack.java#L635), though I'm not certain whether you're referring to the Java AudioTrack API or something lower level.

I think it's likely this is a platform issue. Do you have a bug filed on the AOSP issue tracker? If s

[2017-05-21 03:03] #2831 closed, assigned to nobody

[2017-05-21 09:21] MasayukiSuda commented on #1220
I release ExoPlayerFilter. This project can use Overlay filter Please try it.
https://github.com/MasayukiSuda/ExoPlayerFilter

[2017-05-21 11:21] Merseyside opened #2851 "Clarify instructions for building FLAC extension (and other extensions)"
Hello! I have tried to add FLAC extensions. All steps are complete, but when I added EXoplayer folder to my project and write in my settings.gradle this:
include ':ExoPlayer:library'
include ':ExoPlayer:extension-flac'

and in build.gradle this:
compile project(':ExoPlayer:library')
compile project(':ExoPlayer:extension-flac')

I got this error:
Caused by: org.gradle.internal.component.model.Confi

[2017-05-21 13:47] mdtuyen commented on #2850
@andrewlewis
Thanks for your answer,
You correct the mp4 link that I got only a webpage link.
If I have a link how do I detect content type of that link, I see that some link can't detect content type with suffix link (inferContentType not work).

[2017-05-21 14:35] russrizo opened #2852 "Handle cell stations switches."
### Issue description
There is a problem with playing stream radio(Icecast backend). It appears while phone switches cell stations. Audio stops playing. On the other hand If I switch off and then switch on WiFi audio playback stops but then starts again. It happens only on mobile data. Also interesting thing that playback stops immediately on WiFi toggle, I was sure that it should continue playing

[2017-05-22 08:07] or-dvir opened #2854 "last word/syllable being cut out (not consistent)"
- Search existing issues, including issues that are closed.
i did not find other issues with the same problem.

- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
did not see anything relating to my issue

- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo a

[2017-05-22 08:43] HamedGh commented on #586
I have the same question! did you find any answer?

[2017-05-22 09:27] escamoteur commented on #2664
Nobody here who knows how to solve this?

[2017-05-22 09:33] AquilesCanta commented on #2829
I don't know how to reflect this using dvbsnoop unfortunately. `mediainfo` might be the better way in this case. `ExoPlayer` is also a good choice and will be much easier/faster for you (if you need to learn how to use `mediainfo`). You should just add the proper debug logging.

[2017-05-22 09:42] AquilesCanta commented on #586
@HamedGh this should work well if you just use the playlist file as the path. But make sure the relative paths, if any, point to the proper files.

[2017-05-22 09:52] AquilesCanta commented on #2854
Please, do send the media to dev.exoplayer@gmail.com.

[2017-05-22 10:04] HamedGh commented on #586
@AquilesCanta could you show me your code?

[2017-05-22 10:56] AquilesCanta commented on #1975
Have you tried my suggestion above?

Has this not worked? If so, can you elaborate?

[2017-05-22 11:08] AquilesCanta commented on #2850
`inferContentType` only tries to detect DASH vs HLS vs Smoothstreaming vs Other. It is not intended to detect the container format (mp4 vs mp3 vs ogg, etc). You could write your own method for this. Container detection by suffix is not something that ExoPlayer does at the moment. If you are going to use `ExtractorMediaSource` with all the default extractors (the included log suggests that), you co

[2017-05-22 11:08] #2850 closed, assigned to nobody

[2017-05-22 11:12] jrocharodrigues commented on #2603
@ojw28 Friendly ping, just to check if the logs i provided are ok.

[2017-05-22 11:40] MizzleDK commented on #2770
Actually, I've just tried again on a 2015 Android TV from Sony and all content works. Could this be a device specific issue on the Nvidia Shield @sureshcnvidia ?

[2017-05-22 12:01] mitchellwit commented on #2539
I also experience this similair error with the same stream provider:

05-18 12:16:12.383 14910-28114/com.google.android.exoplayer2.demo E/ExoPlayerImplInternal: Stop failed.
                                                                                           java.lang.IllegalStateException
                                                                                               at andro

[2017-05-22 12:01] alfonsoramosa commented on #2760
Hi,

@ojw28 can you please provide some help with this issue (my previous post).

BR,
Alfonso

[2017-05-22 12:06] sureshcnvidia commented on #2770
Sounds like it indeed is a Nvidia Shield specific issue @MizzleDK Let me also validate on Nexus Player and get back on this.

[2017-05-22 12:19] darwinvtomy commented on #2832
I have the same issue with himedia box the HDMI connection is not advertising support for those formats,
Also OMX.google.raw compontent is not properly configured for Passthrough .
But the device will give passthrough if we are using default  videoview in android mediaplayer
I am still waiting for the solution
The box have kodi player which has a passthrough libraries ,i am looking for a solution

[2017-05-22 12:21] MizzleDK commented on #2770
I just tried on the Nexus Player as well (Android TV 7.1), and it works. Also tried on another Sony TV (with Android TV 5.1, whereas the other was running 6.0) and it also worked. Odd... I'd been getting reports of it not working on those devices, but it does.

[2017-05-22 12:23] sureshcnvidia commented on #2770
Great, will debug and post more info on this shortly. Definitely Nvidia Shield specific then.

[2017-05-22 12:29] or-dvir commented on #2854
@AquilesCanta done

[2017-05-22 12:35] MizzleDK commented on #2770
Thank you!

[2017-05-22 13:04] cbfiddle commented on #979
One of my goals for ID3 support was to implement replay gain (level matching between tracks). However, I have not found a way to introduce gain (the volume parameter only supports level reduction). Is there a way to do this?

Thanks.

  Alan

[2017-05-22 14:13] ojw28 commented on #979
I don't think it would be possible to implement this properly by receiving the ID3 data and then setting something back on the player. You'd really need this to happen synchronously within the player itself. If there are standard tags for this then please file a new issue to track implementing this, together with details about the standard tags and sample media we can test with.

[2017-05-22 15:00] ojw28 commented on #2835
If you override the factory to provide only an Opus renderer, the player is only going to be able to play Opus.

It's not feasible for us to provide sample code for every possible customization. In general, if you want to replace a default component with a custom one, you should first take a look at the default implementation to see exactly what it does. If you look at `DefaultRenderersFactory` yo

[2017-05-22 15:04] ojw28 commented on #2808
We will provide a blog post and/or documentation soon. Marking this as an enhancement for tracking purposes.

[2017-05-22 15:05] ojw28 commented on #2664
We're using https://github.com/google/ExoPlayer/issues/2808 to track providing sample code for this use case.

[2017-05-22 15:05] #2664 closed, assigned to nobody

[2017-05-22 15:12] escamoteur commented on #2808
Would be awesome because I think using multiple Players cannot be the best solution.

[2017-05-22 15:24] samoylenkodmitry commented on #2441
Finally I'm detected error happens when we call setPlayWhenReady before applying surface to player. Then after surface changed player stuck with old frame for some time.

So workaround would be call seek just after applying surface:

			final ExoPlayer.ExoPlayerMessage message = new ExoPlayer.ExoPlayerMessage(videoRenderer, C.MSG_SET_SURFACE, surface);
				player.blockingSendMessages(message);

[2017-05-22 15:31] ojw28 commented on #2828
It should be pretty easy for you to implement this yourself using `Handler.postDelayed`. The application knows the rate at which it's interested in receiving updates, and so is better placed to implement polling at the desired rate. This issue is also discussed in https://github.com/google/ExoPlayer/issues/2090.

[2017-05-22 15:33] ojw28 commented on #586
Implementing offline support for HLS is tracked by https://github.com/google/ExoPlayer/issues/2643. You should track that issue. We wont be providing sample code prior earlier than that issue being updated.

[2017-05-22 15:53] ojw28 commented on #2052
It's possible merge audio and video sources, yes. We don't provide any functionality for adding a delay to one of the sources, however. It might be possible for you to implement it yourself with a custom `MediaSource`, but we don't have the cycles to be able to provide guidance about how you might go about doing this; sorry.

[2017-05-22 15:57] ojw28 commented on #2847
@AquilesCanta - This might be fixed by https://github.com/google/ExoPlayer/commit/002dd72e702929a33d8940cfbaa758459e0067c6? Or alternatively, it might be a stuck playlist case?

[2017-05-22 16:12] ojw28 commented on #2843
The surface should still be holding the last frame just fine, so it's likely the black you see is actually another view being made temporarily visible on top. My guess is you're using `SimpleExoPlayerView`. It has a "shutter view" that does exactly this. Marking this as an enhancement, in which we'll provide an option on `SimpleExoPlayerView` to disable the shutter becoming visible if something ha

[2017-05-22 16:25] ojw28 commented on #2844
I don't think this is HLS specific. We should get smarter about not retrying non-recoverable error types/codes in general, and apply consistent rules for all loads. As well as non-recoverable HTTP error codes, there are also cases like `FileNotFoundException` for local playback, and so on, where we should fail immediately.

[2017-05-22 16:31] AquilesCanta commented on #2847
This is most likely the second. Otherwise, the errors would be propagated via `AdaptiveMediaSourceEventListener#onLoadError`.

@m35w can you please try to reproduce by

Once this happens, you could confirm the "playlist is stuck" by loading the playlist repeatedly. The expected behavior is that the media sequence increases with an interval at most as long as the target duration. If it doesn't, it

[2017-05-22 16:37] ojw28 commented on #1549
This error could be caused by more or less anything, including a memory leak in your own application code. The point at which an OutOfMemoryError is thrown is often not indicative of the root cause. You need to analyze your application's memory usage to determine what's happening. Some information on how to do this is provided [here](https://developer.android.com/studio/profile/investigate-ram.htm

[2017-05-22 16:40] ojw28 commented on #1549
Actually, for this specific case it's likely you're hitting https://github.com/google/ExoPlayer/issues/2301, which was fixed in 2.2.0 and above. If you're already using 2.2.0 or greater, the advice above still holds.

[2017-05-22 16:48] ojw28 commented on #2760
If you just want elapsed time, couldn't you just time this yourself at the application level? I don't think you need any player support to do this.

[2017-05-22 16:53] ojw28 commented on #2760
Beyond that, it's hard to advise what to do without access to a test stream that's setup in the way you describe.

[2017-05-22 17:06] ojw28 commented on #1975
So playback *is* adaptive, and your issues are actually:

1. The initial selection is different to what it used to be.
1. Adaptation is too slow during playback.

Tackling each of these:

*  Make sure you're using a singleton instance of `BandwidthMeter` like the demo app does. This means that for all but the first playback, the bandwidth estimate derived from previous playbacks will be carried ov

[2017-05-22 17:10] nioncode commented on #1270
How to apply this if we have many (e.g. 100) files in the playlist? Is it possible to just provide a FIFO system, where ExoPlayer asks us for the next MediaSource in the playlist whenever it wants to prepare for the next track? That would allow to lazily populate the MediaSources without wasting memory for having all these tracks in the playlist that might not even be played if the user stops play

[2017-05-22 17:22] ojw28 commented on #1270
You could implement your own `MediaSource` similar to `ConcatenatingMediaSource`, but backed by something like a `Cursor` (or whatever). Being able to lazily add to a `MediaSource` as a direct feature of the library is tracked by https://github.com/google/ExoPlayer/issues/1706.

[2017-05-22 17:27] ojw28 commented on #2852
Playing out the remaining buffer rather than stopping immediately for this use case is tracked by https://github.com/google/ExoPlayer/issues/1606. For the "stopping" case, you haven't provided sufficient information for us to tell what happened. Please supply a full bugreport as requested in the issue template, captured shortly after encountering the failure.

[2017-05-22 17:27] #2852 closed, assigned to nobody

[2017-05-22 17:37] ojw28 commented on #2539
We do not provide support for Amazon's port. We only support FireOS on a best effort basis, because it's not officially Android and there are known incompatibilities in FireOS vs how Android's APIs are supposed to behave. Please report FireOS incompatibilities to Amazon.

[2017-05-22 17:42] #2782 closed, assigned to marcbaechinger

[2017-05-22 18:18] stellabei commented on #2648
@wvpaf I sent and email with this issue number to dev.exoplayer@gmail.com adb logcat. If you need wireshark or bug report please let me know. Thanks! I also attached Kaltura Device Info before and After for comparision. I was also able to reproduce this problem using exoplayer demo app:

05-22 16:03:45.083 540-540/? E/WVCdm: CdmEngine::AddKey: keys not added, result = 99
05-22 16:03:45.083 28621-9

[2017-05-22 18:30] ojw28 commented on #2851
I can't follow those instructions either.

@vigneshvg - It looks like they were originally added by you in the readme for VP9, before being copied elsewhere. Could you clarify how they're supposed to work? In particular, the checked out ExoPlayer is probably in a different directory to the user's own application project. It doesn't appear these instructions include enough information for the ExoPl

[2017-05-22 19:50] amrkhalil22 commented on #2839
@andrewlewis I'm very sorry!
I have tried to play with MediaSource and it didn't work also, then I noticed that
`simpleExoPlayerView.setPlayer(exoPlayer)`
was forgotten!
Sorry again.

[2017-05-22 21:18] ojw28 commented on #2849
Please provide a full bug report as requested in the issue template. A snippet of logcat is not a full bugreport, as is also explained in the issue template ;). Note also that we support FireOS on a best effort basis only, since it is not Android.

[2017-05-22 21:18] ojw28 commented on #2849
Note also that this is almost certainly an issue with FireOS rather than ExoPlayer. It shouldn't be possible for anything at the application layer, which ExoPlayer is, to cause a device reboot.

[2017-05-22 21:26] DJphy commented on #2849
Umm, I have followed the template, let me know what else to add. I will try on the original Android TV and update the issue. Thnx

[2017-05-22 21:26] ojw28 commented on #2849
From the issue template:

log snippet is NOT sufficient

[2017-05-22 22:06] jtabor opened #2855 "Synchronizing Multiple ExoPlayers"
Hello,

I'm working on using ExoPlayer for a custom VR video streaming application.  I want to be able to play media from multiple DASH sources to different SurfaceTextures, which will be put into an OpenGL shader to be warped and displayed in VR (I know how to do the OpenGL part already).  Each DASH source corresponds to a different tile or quadrant of the VR video.

I've been able to play my til

[2017-05-22 22:18] LachlanMcKee commented on #2844
That's a very good point. It would be great to have this consistent across the modules.

I'm looking forward to seeing this!

[2017-05-23 01:04] drhill opened #2856 "Returning from Picture in Picture mode (PIP) for Android TV shifts video playback"
### Issue description
Picture in Picture has issues on return from PIP to full screen.  Video playback is shifted (to the right) in the surfaceview.

### Reproduction steps
Use https://github.com/google/ExoPlayer/tree/dev-v2/demo
Add a button to the PlayerActivity that will call enterPictureInPictureMode()
Make sure the manifest includes:
    `<activity android:name=".ui.activity.PlayerActivity"

[2017-05-23 04:25] sschemer opened #2857 "show black screen before video played after activity resumed."
### Issue description
if resumed activity when playing video, the video will show black screen before continuing playing.

### Reproduction steps
as I test, it occurs in my app and offical demo app, i just test hls and mp4.and I init and release exoplayer
as the offical demo doing.

### Version of ExoPlayer being used
r2.4.0

### Device(s) and version(s) of Android being used
I test in oneplus3, a

[2017-05-23 05:17] sureshcnvidia commented on #2770
@MizzleDK @ojw28

Looking into the uniqueness of the samples, the reason why it was not working on Nvidia Shield is because the encrypted samples had all IV's zeroed out. Our PlayReady reference implementation had this restricted to avoid "replay" attacks (https://crypto.stackexchange.com/questions/8600/why-should-i-use-an-initialization-vector-iv-when-i-have-unique-keys ), and always liked salted

[2017-05-23 05:40] MizzleDK commented on #2770
That's awesome! Thanks for all your help. Looking forward to the OTA 👍

[2017-05-23 06:23] mitchellwit commented on #2539
I already did.
It also happens on a normal device, Nexus 5 and 7. Without the Amazon port. Its reproducible inside the ExoPlayer Demo application

[2017-05-23 07:40] alfonsoramosa commented on #2760
Hi,

@ojw28 What I need is to get the currentPosition in the interval (0, duration). That works perfectly with other contents.
With this contents, I'm getting the currentPosition for example in the interval  (14931911990078373, 14931911990078373+duration) and I have no way to translate it to something in the interval (0, duration)

I'm getting the currentPosition within ExoplayerWrapper method:
pu

[2017-05-23 08:26] ojw28 commented on #2760
It's unclear whether this:

and this:

are the same thing. They sound like different things to me, so it's still quite unclear what you're asking for. In the `Timeline` Javadoc I think you probably have a case that corresponds to the third diagram (live stream with limited availability). Is that correct? If so, are you trying to get:

1. The position relative to the start of the window. This value

[2017-05-23 08:30] ojw28 commented on #2770
Thanks for the analysis @sureshcnvidia! I'll go ahead and close this, since it's not an ExoPlayer issue.

[2017-05-23 08:30] #2770 closed, assigned to nobody

[2017-05-23 08:32] ojw28 commented on #2856
@sureshcnvidia - Any idea about this one? I'm guessing it's not Shield specific, however, as it's also reported as occurring on the emulator.

[2017-05-23 08:35] satyres opened #2858 "How to translate ExoPlaybackException errors ?"
Hi , is there a way to get the hole list of errors indexed by numbers in order to translate them to a different language ?

[2017-05-23 08:50] ojw28 commented on #2858
Documenting common errors is discussed and tracked in https://github.com/google/ExoPlayer/issues/1611.

[2017-05-23 08:50] #2858 closed, assigned to nobody

[2017-05-23 08:53] andrewlewis commented on #2839
@AmrMohammed89 Glad to hear it's fixed.

@AliAbozaid Please file a new issue if you still have the same problem.

[2017-05-23 08:59] PaulWoitaschek commented on #2851
I managed to compile flac here using gradle without needing to pull the whole exo player folder in my sources.

https://github.com/PaulWoitaschek/MaterialAudiobookPlayer/blob/master/exoplayer-flac/build.gradle#L17

The task that prepares the dependency is here:

https://github.com/PaulWoitaschek/MaterialAudiobookPlayer/blob/master/buildSrc/src/main/java/de/ph1b/audiobook/ndkGen/PrepareFlac.kt#L15

[2017-05-23 09:45] molexx commented on #677
Thanks very much for this, I have fullscreen and rotation working well with a combination of 'fast surface switching on API level 23+' and DummySurface. Below 23 I think the best we can do is wait for a keyframe.

Please let the YouTube SDK guys know about this :-)

[2017-05-23 10:34] m35w commented on #2847
Hi,
thanks for the feedback.

I'm not sure what the following means:

could you please clarify it?

I general when the problematic issue occurs the following happens:

- onLoadCompleted() comes for some .ts let's say N.ts
- onLoadStarted() is fired for N+1.ts chunk
- lack of onLoadCompleted() for N+1.ts, also none of the following comes:
     onLoadError, onPlayerError, onLoadCancelled;
	 -> durin

[2017-05-23 10:37] AquilesCanta commented on #2847
Ok, this is something I have not seen before, as far as I recall. Please provide a stream that reproduces this to dev.exoplayer@gmail.com. I will have a look as soon as I have time.

[2017-05-23 10:39] AquilesCanta commented on #2847
I suspect this might be a server side issue. Although I would expect a timeout to happen.

[2017-05-23 10:57] satyres commented on #2858
the #1611 is 1 year old and there is nothing important on it !
and https://github.com/google/ExoPlayer/blob/master/library/src/main/java/com/google/android/exoplayer/ExoPlaybackException.java#L21 is not  working

[2017-05-23 11:09] ojw28 commented on #2858
I've updated the link (it's pretty trivial to find the Javadoc for ExoPlaybackException using Google, or just looking at the source code...). The fact it's one year old just indicates it's not very high priority for us. Posting the same thing again isn't going to speed anything up. Thanks.

[2017-05-23 12:38] ojw28 commented on #2539
Please provide test media that reproduces this issue. It's not really clear to me that it's the same issue (and even if it is test media is helpful, since we can't reproduce with the media currently provided in this issue).

[2017-05-23 13:14] alfonsoramosa commented on #2760
Hi @ojw28

Dont' know if there is a case in the TimeLine Javadoc that describes exactly what I'm trying to do. I will tray to explain more in detail and see if you have any suggestion.

- I have a live stream, with a buffer in the CDN, (7 days buffer).
- I'm also using this buffer directly for the catch-up assets (Rolling buffer catch up).
- I'm creating manifests for these assets pointing directl

[2017-05-23 13:39] satyres commented on #2858
Thank you so much for your help!

[2017-05-23 13:50] m35w commented on #2847
Well I don't have this exact stream chunk, as the content of streams changes dynamically so the media segments are replaced by the new ones on the streaming server.
I would need to be at my desk at the time when the issue appears (but usually it happens during a night hours).
If I manage to capture the stream I'll send it.

In a free time I will try to find a way to reproduce this scenario
(for th

[2017-05-23 13:56] ojw28 commented on #2760
Ah, so the problem is that you have a VOD manifest that's actually just a static snapshot of a previously broadcast (and possibly still ongoing) live stream. The timestamps in the VOD manifest don't start at t=0 for this reason, but you want positions reported as though they do. Is that correct?

Please provide working test content, and we'll take a look at figuring out how to do this. We're not g

[2017-05-23 14:23] Merseyside opened #2859 "AudioFlinger can not create track"
My application is the music player. So tracks playing one by one. After for example 20 tracks playback stops and do not playing anything and logcat throws this errors:

`E/AudioTrack: AudioFlinger could not create track, status: -12
E/AudioTrack-JNI: Error -12 initializing AudioTrack
E/android.media.AudioTrack: Error code -20 when initializing AudioTrack.
E/ExoPlayerImplInternal: Renderer error.

[2017-05-23 14:29] andrewlewis commented on #2859
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-23 14:29] #2859 closed, assigned to nobody

[2017-05-23 14:58] drhill commented on #2856
It reproduces every time for me except when I added an override to onConfigurationChanged and set a breakpoint to see what the configurations being passed in were.  Just adding a log statement didn't help but manually looking at it while debugging seemed to.  Timing issue?

[2017-05-23 15:05] Merseyside commented on #2859
### Issue description
I playing tracks one by one. In a moment when track 1 close to the end of playback one more ExoPlayer object start to play 'transition' sound from assets. in a moment when transition is close to end track 2 starts play. As result before ~ 20 tracks playback stops and i got errors in mu logcat.

### Reproduction steps
Start playback as decribed above and wait when ~ 20 tracks

[2017-05-23 15:08] andrewlewis commented on #2859
Please provide the output of `adb bugreport`.

[2017-05-23 16:43] ojw28 commented on #2824
Positioning is now fixed for this sample (as of the change ref'd above).

[2017-05-23 16:43] ojw28 commented on #2824
Updated issue comment to refer to the remaining problem with the background color.

[2017-05-23 16:56] ojw28 commented on #2855
This is a pretty advanced use case :). We don't provide a way to synchronize SimpleExoPlayer (or ExoPlayer) instances. With a bit of work, however, you might manage to get all of the streams playing at once inside a single instance. You'll need to touch a few components, but at a high level you'll need to do something like:

1. Inject a custom `RenderersFactory` instance that builds as many video

[2017-05-23 17:23] #2396 closed, assigned to nobody

[2017-05-23 17:45] ojw28 commented on #2838
Agree the media is malformed. 2017-05-17T03:00:52.296-6:00 isn't a valid datetime. It should be 2017-05-17T03:00:52.296-**0**6:00. That said, we could trivially handle the case by making one of the digits before the colon optional?

[2017-05-23 18:03] jtabor commented on #2855
Thanks for the reply.  I'll try it out, and let you know so people can reference this later if they need to do the same thing.  (Unless it doesn't work, then I'll ask about that, hahaa).

As far as decoders, we're targeting a Google Pixel, which I'm told has 8 decoders.

[2017-05-23 22:24] jefftinker commented on #2648
@stellabei The -2902 error indicates a problem in the device security software. The SoC vendor is in the process of providing an update to Motorola to resolve this issue.

[2017-05-23 22:31] jefftinker commented on #2622
Thank you for reporting this issue, we have opened an internal bug against the Widevine CDM and will investigate it further.

[2017-05-23 22:48] stellabei commented on #2648
@jefftinker Thanks a lot for the response! You made my day :-) If you have any estimate date for this please let me know!

[2017-05-24 04:21] SnakeMM opened #2861 "Failed to play .mp4 with a audio track of sampleRate 96000Hz"
### Issue description
Failed to play mp4 video with 96000Hz sample rate audio track.
By Default, the whole video failed to play.
When I select Audio track "Disabled", the video track can play.
I'll post the whole log in email, but I think the problem is

I can play this video (with audio) using my SmartPhone MI 3W's default media player, default web browser.

### Reproduction steps
Play the video

[2017-05-24 06:05] Pash97 opened #2862 "Getting error while implementing Seekbar"
**Attaching my logcat please tell me where am going wrong**

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.demo.drm/com.example.PlayerActivity}: java.lang.ClassCastException: com.google.android.exoplayer2.ui.DefaultTimeBar cannot be cast to com.example.previewseekbar.PreviewSeekBar
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2416)
at android.app

[2017-05-24 06:49] mitchellwit commented on #2539
http://cdnapi.kaltura.com/p/2197371/sp/219737100/playManifest/entryId/0_yrsxmkbd/format/applehttp/tags/web/protocol/http/f/a.m3u8 this is an example of a stream that doesnt work

[2017-05-24 06:50] ojw28 commented on #2862
Please stop filing this type of question here. The purpose of this issue tracker is to report actual issues with the ExoPlayer library, not as a place where you can get general programming help and your own code debugged. You need to ask this kind of question on StackOverflow.

[2017-05-24 06:50] #2862 closed, assigned to nobody

[2017-05-24 10:43] alfonsoramosa commented on #2760
Hi @ojw28,

that's correct. I'm not doing that with ongoing assets, just with ended assets.
I will tray to find a content that you can use to test it (without DRM).

BR,
Alfonso

[2017-05-24 12:34] ojw28 commented on #2603
I can't see anything obvious in the logs. It sounds like the device is broken, but it's only using L3 Widevine according to:

@wvpaf - Can you see anything? Could you ask the device manufacturer to take a look if not?

[2017-05-24 12:49] Endmaril commented on #2855
Hi,

@jtabor, you managed to instantiate several `SimpleExoplayer `then you should be able to instantiate one with several `MediaCodecVideoRenderer`.

I am currently (for 2 months now) using the solution described by @ojw28 and it is working great on Samaung Galaxy S7 for now with up to 9 decoders instantiated at the same time (didn't test with more).
Unfortunately I can't share the code for now,

[2017-05-24 13:47] ojw28 commented on #2432
Pretty sure this is fixed in recent V2 releases. Closing.

[2017-05-24 13:47] #2432 closed, assigned to ojw28

[2017-05-24 14:05] ojw28 commented on #2531
You can create your own playback control UI that just doesn't have a forward button, or has a dummy one that's disabled. Some information about customizing the playback controls can be found [here](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a).

[2017-05-24 14:05] #2531 closed, assigned to nobody

[2017-05-24 14:07] ojw28 commented on #1753
For V2, this is answered in https://github.com/google/ExoPlayer/issues/2855.

[2017-05-24 14:07] #1753 closed, assigned to nobody

[2017-05-24 14:15] ojw28 commented on #2762
ID3 tag metadata defined at the start of a piece of media is always static. The duration of a piece of media may change during playback (for live streams). So I think it's appropriate that they're exposed separately.

[2017-05-24 14:15] #2762 closed, assigned to nobody

[2017-05-24 14:17] ojw28 commented on #2665
As above, the FFmpeg extension might allow you to play MP2 successfully. It's not supported by the underlying platform. Closing.

[2017-05-24 14:17] #2665 closed, assigned to nobody

[2017-05-24 14:19] ojw28 commented on #2192
I'm not sure I'd describe that as a simple use case. Sounds pretty complicated to me ;). It's not something we support directly. It likely is possible to customize ExoPlayer for this use case, but we're unable to provide guidance; sorry.

[2017-05-24 14:19] #2192 closed, assigned to nobody

[2017-05-24 14:19] ojw28 commented on #2250
This is not currently supported. Marking as an enhancement.

[2017-05-24 14:22] ojw28 commented on #2753
Closing due to lack of information.

[2017-05-24 14:22] #2753 closed, assigned to nobody

[2017-05-24 14:25] ojw28 commented on #2761
It sounds like an issue that you need to report to the device manufacturer. Tunneled mode effectively hands the A/V output responsibilities to the device manufacturer's implementation, so there's not much we can do in ExoPlayer if it's not working properly. It's hard even to query whether it *is* working properly, since we do send the data "down the tunnel" for output, and that's time we see it.

[2017-05-24 14:25] #2761 closed, assigned to nobody

[2017-05-24 14:30] ojw28 commented on #2791
Realistically I don't think we're going to be able to do anything here. Closing for now.

Aside: I think we decided the source claiming a Nougat update is available for this device was suffering an off-by-one error :).

[2017-05-24 14:30] #2791 closed, assigned to andrewlewis

[2017-05-24 14:43] ojw28 commented on #2479
The ability to switch surface is difficult due to underlying platform constraints, as discussed in https://github.com/google/ExoPlayer/issues/677. Making a parent view invisible/gone or detaching it from the view hierarchy will normally cause the surface to be destroyed. A new surface will be created when the view is made visible or reattached to the hierarchy. Hence the use cases described here d

[2017-05-24 14:43] #2479 closed, assigned to nobody

[2017-05-24 14:47] ojw28 commented on #1964
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-24 14:47] #1964 closed, assigned to nobody

[2017-05-24 14:49] ojw28 commented on #2340
Officially supporting offline mode is tracked by https://github.com/google/ExoPlayer/issues/2643.

[2017-05-24 14:49] #2340 closed, assigned to nobody

[2017-05-24 14:54] ojw28 commented on #2267
The original frame PTS is propagated to the [render|drop|skip]OutputBuffer methods as an additional argument, as of https://github.com/google/ExoPlayer/commit/88fddb42eca2da65297cfacd1a068aadc47b2614.

[2017-05-24 14:54] #2267 closed, assigned to nobody

[2017-05-24 14:57] ojw28 commented on #2703
Closing because #677 is tracking the library side change.

[2017-05-24 14:57] #2703 closed, assigned to nobody

[2017-05-24 14:58] jtabor commented on #2855
@Endmaril Thanks!  No worries about sharing the code! It's good to know that someone else got this working.  I'll try it out and see if I can get it working too.

[2017-05-24 14:59] #2618 closed, assigned to AquilesCanta

[2017-05-24 15:02] ojw28 commented on #540
Whilst there are now more devices supporting multiple decoder instances, there are still no guarantees that multiple instances will be available (since it would prevent shipping of low end Android devices). It seems quite "noisy" to be needing to play 4 video streams at once, however if you do want to do this it might be a matter of white-listing only devices that are known to work for this use ca

[2017-05-24 15:02] #540 closed

[2017-05-25 06:20] juechemparathy opened #2863 "Expose peak bitrate in Format when available (as well as average bitrate)"
Apple spec talks about having average bandwidth and peak bandwidth in master playlist as below -
'You should include the average bit rate as well as the peak bit rate. This is especially important if your peak is more than 20% different from your average. Specifying the average allows the client to make more intelligent decisions about which variant to play.'
Ref -
https://tools.ietf.org/html/draf

[2017-05-25 10:31] AquilesCanta commented on #2733
@sheaam30, this is a friendly ping. Please provide the actual streams to reproduce the issue (unfortunately, a copy of the manifest is not enough).

@yueyueniao2012 Please file a new issue including all the information required in the issue template. I am not able to reproduce the described behavior in the Demo app (dev branch).

[2017-05-25 12:31] youneslalami opened #2864 "Probleme with TS"
I creat a channel with ngnix playing a video on loop its work fin in vlc and other player but with exoplayer just play ipt lik vod not on loop

[2017-05-25 12:39] AquilesCanta commented on #2864
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-25 12:39] #2864 closed, assigned to nobody

[2017-05-25 12:43] youneslalami commented on #2864
Uri mp4VideoUri;
      String url =" http://ipbox.ddns.me:8080/live/younesalami/2625487136/2319.ts";
        BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();

        TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);

        trackSelector = new DefaultTrackSelector(videoTrackSelectionFactory);

        player = ExoPlayerFactory.new

[2017-05-25 12:51] AquilesCanta commented on #2864
The URI included in the code snippet plays well on the demo app. This suggests there is an issue with your code.

We might be able to help you if you fill the issue template as requested above.

[2017-05-25 12:56] ojw28 commented on #2806
I'm able to reproduce this. Whilst it's almost certainly a device issue, we'll take a look and see if there's anything we can do to work around it.

[2017-05-25 14:20] ojw28 commented on #2760
It's somewhat ambiguous from the SmoothStreaming specification exactly how this use case is supposed to work. That said, we were definitely doing some things wrong with the timeline construction. I've made some changes and now you should see the window position advancing from 0 as you expect. Please give it a try by using the latest from the `dev-v2` branch!

[2017-05-25 14:20] #2760 closed, assigned to nobody

[2017-05-25 14:26] youneslalami commented on #2864
url work yes but not on loop

[2017-05-25 14:32] AquilesCanta commented on #2864
It is live content, I am not sure how looping should work.

[2017-05-25 14:36] youneslalami commented on #2864
for example when i have a live duration 2min it should restart for each 2min restart the stream each 2min

[2017-05-25 14:38] youneslalami commented on #2864
you can try it  let the stream finish and it will stop and from my server it run on loop

[2017-05-25 14:40] ojw28 commented on #2838
We've made our date parsing more lenient in https://github.com/google/ExoPlayer/commit/f16967cdfeda442128edc754cba0c40949a2d429, so this stream now plays successfully. To reiterate, however, the media is not spec compliant.

[2017-05-25 14:40] #2838 closed, assigned to AquilesCanta

[2017-05-25 15:00] ojw28 commented on #2824
I think the background color issue is working as intended. The way captions are styled is quite complicated, because (a) various caption formats define embedded styling, and (b) for accessibility reasons devices are required to allow global configuration of subtitle styles. Unfortunately the two weren't really considered together.

In ExoPlayer, by default, we merge the embedded style and the devi

[2017-05-25 15:00] #2824 closed, assigned to ojw28

[2017-05-25 15:10] ojw28 commented on #2854
Is this specific to the two devices mentioned, or do you see it on other devices as well? I gave the assets a try on a Galaxy S8 as an initial check, and cannot reproduce there. How frequently do you see the issue, as a % of total attempts?

[2017-05-25 15:17] mrudulav3 opened #2865 "Pausing the video skips frames when the activity/fragment hosting is resumed."
[bugreport-N2G47E-2017-05-25-11-21-47.zip](https://github.com/google/ExoPlayer/files/1029445/bugreport-N2G47E-2017-05-25-11-21-47.zip)
### Issue description
Expected Behavior - When the video is paused and the activity/fragment hosting it is resumed the video should not jump frames.
Observed Behavior - When the video is paused and the activity/fragment hosting it is resumed the video should jumps

[2017-05-25 15:24] ojw28 commented on #2431
Sanity check: Am I right in thinking the DASH IOP example is actually in violation of the DASH spec, because it uses string AdaptationSet@id values where-as the DASH spec says the type should be xs:unsignedInt? The example should use integers, I think?

[2017-05-25 15:27] ojw28 commented on #2865
This is discussed/tracked in https://github.com/google/ExoPlayer/issues/677

[2017-05-25 15:27] #2865 closed, assigned to nobody

[2017-05-25 17:15] kqyang commented on #2431
Good catch. I filed a bug to DASH-IF-IOP: https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/136.

Not sure why DASH uses xs:unsignedInt for AdaptationSet but uses StringNoWhitespaceType for Representation.

Anyway, the sample content referenced in the issue description should be compliant to both DASH spec and DASH-IF-IOP.

[2017-05-25 17:18] ojw28 commented on #2431
Heh, I filed one through the form on the DASH-IF website. I had no idea it got mirrored to GitHub. I'll file any future issues on that tracker directly! Thanks for confirming.

[2017-05-26 02:11] yueyueniao2012 commented on #2733
@AquilesCanta This issue will always appear on any device when playing a little bit longer time.Through the analysis of a period of time I find the issue is that sometime this live stream http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8 HlsMediaPlaylist's mediaSequence suddenly change to start from zero.This behavior leads to HlsPlaylistTracker's func  getLatestPlaylistSnapshot always return

[2017-05-26 02:41] ghost commented on #2840
Thanks Andrew, I've added the bug to AOSP's issue tracking:
https://issuetracker.google.com/issues/62109057

in AudioTrack.reset (The ExoPlayer Java implementation), there is the following comment/code which made me question whether a new AudioTrack (both Java and native) was created before the previous one was properly released:

// AudioTrack.release can take some time, so we call it on a backgr

[2017-05-26 05:28] or-dvir commented on #2854
@ojw28 these are the 2 main devices we test on. we just released an alpha version of the app within our company to some more people to maybe we'll have more insight soon.
like i said, it doesn't happen all the time which makes it really frustrating to try and debug. as far as we can tell, it happens after a while of playing and repeating a bunch of videos (it happens on most of our videos). so we

[2017-05-26 06:55] nkmedaa opened #2866 "Exo Player Wake Lock"
1. Exo Player containing Activities does not allow the device to lock after idle time even through  Exo player is paused. Any info  will be appreciated, Thank you

[2017-05-26 07:44] MegaLabs1 commented on #2677
Having same question. Could anybody answer?

[2017-05-26 08:21] andrewlewis commented on #2866
If I remove the `keepScreenOn` attribute from the demo application's [player layout](https://github.com/google/ExoPlayer/blob/195a93e/demo/src/main/res/layout/player_activity.xml#L21), I find that the screen can turn off while the player is paused. See also #930.

`adb shell dumpsys power` shows what WakeLocks are held. A bug report includes the same dumpsys output.

[2017-05-26 08:21] #2866 closed, assigned to nobody

[2017-05-26 09:23] nkmedaa commented on #2866
Hi andrewlewis ,
                           i did not used the keepScreenOn attribute. but still lit is not locking.

[2017-05-26 09:28] PiotrWozniakSC opened #2867 "Consider normalizing all language codes to use a single standard"
Version of ExoPlayer used: 2.3.1 (with plans to use latest)

ExoPlayer uses three-letter codes in Format.language for audio and subtitle tracks. Question is - what standard is used for these codes? Is it 639‑2/T, 639‑2/B, 639‑3 (https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes#Partial_ISO_639_table) or some other standard?

The Format.language field description states only "The language, or n

[2017-05-26 09:46] andrewlewis commented on #2866
You're probably either playing audio continuously or your app is holding a WakeLock, which we can't really help with. I suggest looking at the output of `adb shell dumpsys power` to debug this yourself.

[2017-05-26 10:07] nkmedaa commented on #2866
No i need my  device to be locked after device lock time when exo player is paused. Fore remaining screens it is working fine but screens which contains exo player for those only it is not working.

[2017-05-26 10:08] LutfiTekin opened #2868 "Can I override simpleExoPlayerView buttons' actions?"
Hello guys, is it possible to override play, pause, prev, next buttons in **simpleexoplayerview**
I created a custom layout for  **simpleexoplayerview** and changed some of the buttons' appereances.

[code]

I just want to change prev and next button.
I'm developing a simple podcast app and I want to change prev buttons as favorite and next button as download.

using exoplayer version 2.4.0

[2017-05-26 10:39] AquilesCanta commented on #2733
@yueyueniao2012, please file a new issue. The original reported issue and your issue might have nothing to do with each other.

[2017-05-26 10:47] qlthd opened #2869 "How to implement my own method to find the ideal Format for a DASH Chunk in Exoplayer 2"
Hi everyone, I'm new to developping Exoplayer.
Here is how my player is implemented:
[code]
I'm working with DASH Media and try to make my own adaptation algorithm
For each chunk (TrackGroup), I’d like to find the ideal format(Format in exoplayer, the ideal format like 1080p (Format.bitrate) or 720p or less given the connexion quality) thanks to the following method, but I don’t know where to put

[2017-05-26 11:20] coffeeforyou commented on #2467
Just wanted to say thanks. Amazing code, works perfectly, easy to adjust and saved me lots of time.

[2017-05-26 12:18] drayan85 opened #2870 "ExoPlayer v1 with gradle-3.5-all.zip"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- I was using gradle-3.3-all-zip with ExoPlayer v1 working fine.

When reporting a bug:
-----------------------
-When I tried to upgrade gradle-3.5-all, I couldn't the project on Android Studio

### Issue description
A problem occurred configuring project ':ExoPlayerSDK'.

[2017-05-26 14:58] jaydeep911 commented on #1676
Exoplayer notification
I just dont want this above notification.
What i have to do for this.

[2017-05-26 16:04] ojw28 commented on #2870
If everything builds fine when you clone the `release-v1` branch, including the demo app, then this sounds a lot like a setup issue with the way you're configuring your project. This would be outside the scope of this issue tracker.

[2017-05-26 16:09] sillywab8 commented on #905
Hi @ojw28,
I know this is an old and closed issue but I am need to find an interim solution to address this.  I understand that the stream is claiming audio when there shouldn't be one but I wish this failure was consistent with other video players for example any web HLS player. Our customers can play their videos on our web product and then can't on their Android devices and that makes the "If t

[2017-05-26 16:09] ojw28 commented on #2867
Pretty sure we just mirror whatever's in the source media. Assuming the source media uses some vaguely sane standard, then you should be able to normalize it into RFC 5646 using `Util.normalizeLanguageCode`.

[2017-05-26 16:13] ojw28 commented on #2868
If you want to make player controls that are substantially different to the default ones, then you should implement your own. Wiring a "next" button up to do something completely different than "next" doesn't sound like a great idea.

[2017-05-26 16:13] #2868 closed, assigned to nobody

[2017-05-26 16:25] ojw28 commented on #1676
ExoPlayer doesn't create or display any notifications. Where-ever that notification is coming from, it's not coming directly from the ExoPlayer library.

[2017-05-26 16:33] ojw28 commented on #2867
Hm, actually, I'm not about the second part of my answer.

[2017-05-26 22:57] moagrius commented on #2467
HTH!

[2017-05-27 05:25] colinrtwhite opened #2871 "DefaultTimeBar depends on onLayout to update playhead position"
### Issue description
DefaultTimeBar doesn't update the playhead position if exo_position and exo_duration have fixed widths.

This is a result of DefaultTimeBar only updating the playhead position when onLayout is called. This works correctly in the demo app, as when the position text is updated it needs to re-measure the view.

### Reproduction steps
Set the following attribute on R.id.exo_posit

[2017-05-27 05:27] colinrtwhite commented on #2871
To fix this I think you could just put `requestLayout()` in `setPosition()` and `setDuration`, though I'm not sure this is the best solution.

[2017-05-27 06:46] yueyueniao2012 opened #2872 "HLS media sequence resets make the player get stuck in buffering state"
### Issue description
@AquilesCanta
I meet this issue with this url:
http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8.
This video play stuck buffering in random time and never come back to ready.
This issue will always appear on any device when playing a little bit longer time.Through the analysis of a period of time I find the issue is that sometime this live stream http://live.hkstv.hk.lxdn

[2017-05-27 07:55] cr1944 opened #2873 "can't play wav file on some device, just noise"
### Issue description
can't play wav file on some device

### Reproduction steps
1.push wav file into device
2.modify exoplayer2 demo for play local wav file

the wav file is OK, can be played on nexus 5X and other device, and also normal play on this device with music player,  see the attachment

### Version of ExoPlayer being used
2.4.1

### Device(s) and version(s) of Android being used
OPPO A3

[2017-05-27 08:03] mrblrrd opened #2874 "Is it possible to play images?"
I'm trying to show .jpeg images for 5 seconds, but they are just skipped when playing. Is it correct to use SingleSampleMediaSource for that purpose? How to do it right?

[code]

[2017-05-27 08:20] cr1944 commented on #2873
here is log from another device, also can't play:
[log.txt](https://github.com/google/ExoPlayer/files/1033410/log.txt)

[2017-05-27 10:00] ghost commented on #2371
@Jogan can you upload your customize code?

[2017-05-27 13:05] Edijae opened #2875 "Exoplayer guide on Looping is incomplete."
Kindly have a look at this issue posted on stalkoverflow and update your developer's guide if necessary.
[Exoplayer not looping the video](https://stackoverflow.com/q/44217063/3671509)

[2017-05-27 20:45] PaulWoitaschek opened #2876 "IllegalArgumentException by seek to negative position."
When playing certain files and seeking to a negative position, the player logs the following exception and transitions to the error state.

https://gist.github.com/PaulWoitaschek/06682f82a962ae63aa639302b6bf98c8

With other files it is possible to seek to a negative position and upon play, exoplayer will start at 0.
I found this because I had a bug in my application that caused a seek to a negativ

[2017-05-28 11:20] satyres opened #2877 "Flac is not working in exoplayer:r2.4.1 ?"
Hi ,
Flac extension is not included in the last release of exoplayer ?
when i use the default demo Flac is working !
but when i use the gradle with **compile 'com.google.android.exoplayer:exoplayer:r2.4.1'**  is not working why ?
how to include it ? thanks

[2017-05-28 13:59] rafaeladel opened #2878 "Searched too many bytes when pressing the rewind button"
I have an implementation of exoplayer where it can play encrypted files offline.
The problem is when I press the rewind button I get this exception sometimes and playback stops:
[code]
I tried to investigate inside `Mp3Extractor` But all I can find is this snippet:

[code]

**Note**
I'm using the code in this issue #2467
[code]

[2017-05-28 19:00] PaulWoitaschek commented on #2877
Because that's part of an extension you have to build manually if you want to use it:

https://github.com/google/ExoPlayer/tree/release-v2/extensions/flac

[2017-05-28 19:03] PaulWoitaschek commented on #2876
Also after permitting negative values as position in my model class I found out that sometimes ExoPlayer returns slightly negative positions like `-67` in `getCurrentPosition()`. So I manually set all of them to 0 now.

[2017-05-28 19:03] PaulWoitaschek commented on #2876
in

[2017-05-28 21:06] satyres commented on #2877
Thank you for the reply  , is it possible to use the already build in the Demo example ?
i've added new module like the demo and copied almost everything , it's working on the demo and not on the new module added ? how is that possible ?

[2017-05-28 21:43] artworkad commented on #867
Check out https://github.com/eneim/Toro

[2017-05-29 04:35] gemiren commented on #26
I am seeing high CPU usage and battery drain since the 2.4.0 version when using variable playback speed. On the Nexus 5x it uses about 8% to play with Android's built-in media player while it uses about 16% CPU when using ExoPlayer with the same playback speed. Looking at the code I can see ExoPlayer now always uses Sonic to adjust the playback speed, even when the Android system supports the vari

[2017-05-29 06:47] drayan85 commented on #2870
problem was with classpath 'com.novoda:bintray-release:0.2.7' version and I have update to the latest version classpath 'com.novoda:bintray-release:0.5.0'. No more issue

[2017-05-29 06:47] #2870 closed, assigned to nobody

[2017-05-29 08:02] alfonsoramosa commented on #2760
@ojw28 Hi,
Thank you, it's working fine now!!
do you have an estimation about how is this fix going to be merged in release-v2?

BR,
Alfonso

[2017-05-29 08:29] ghost opened #2879 "Failed to play widevine dash secure uhd mp4,h265 sample"
I tried to play secure uhd sample content but failed in demo app 1.5.16.

I changed MediaFormat KEY_MAX_INPUT_SIZE(MediaCodecVideoTrackRenderer.maybeSetMaxInputSize) but didn't work.

Do you know how to solve it? I do not know which part is the problem.

[code]

[2017-05-29 08:46] wasp898 opened #2880 "Replacing chunks in the buffer"
We are trying to implement a strategy for replacing chunks in the buffer without discarding every segment (as the function maybeDiscardUpstream does). We are basically trying to do what explained in this [issue](https://github.com/google/ExoPlayer/issues/2721).

We have already changed a few things in the code, including LoadControl, DashMediaPeriod and ChunkSampleStream, and we managed to properl

[2017-05-29 10:11] quanghuy1288 commented on #2816
Hi,

I have debug our Android box (check attached test.zip). It show:
- "05-29 16:51:50.655 10473 10473 W hbabyyyyyyyyyyyyyyyyyyy: AudioTrack:audioCapabilities AudioCapabilities[maxChannelCount=8, supportedEncodings=[2, 5, 6]]" ==> Is this mean it support AC3 encoding?
- "05-29 16:51:51.152 10473 10549 W AudioCapabilities: Unsupported mime audio/ac3"
- "05-29 16:51:51.172 10473 10549 D MediaCodecI

[2017-05-29 10:18] quanghuy1288 commented on #2816
up debug log of my Android box and my note3
[android_box.txt](https://github.com/google/ExoPlayer/files/1035536/android_box.txt)
[note3.txt](https://github.com/google/ExoPlayer/files/1035535/note3.txt)

[2017-05-29 10:31] PaulWoitaschek commented on #677
I implemented the workaround suggested in #2703 for Devices < 23:

[code]

That works fine when the surface gets destroyed but when it gets recreated, the audio pauses for a short time which is very disturbing.

Is it possible to prevent that?

[2017-05-29 11:54] nataraajc opened #2881 "E-AC3 support for HLS, Smooth & DASH playback available?"
ExoPlayer Version 2.3 (Demo Player from Android PlayStore)

The player throws error saying "Media includes audio track, but none are playable by this device" when we try to play E-AC3 audio in HLS, Smooth or DASH. Is there a way to playback EAC3 using software decoding or pass through to TV? Where as it plays AC3 content fine in HLS, Smooth and DASH.

[2017-05-29 15:44] mohammed-atif opened #2882 "Support key-frame accurate seeking in HLS"
<h3>SimpleExoPlayer.seekTo(int millis) issue</h3>
<p>I have seen several issues requesting the same feature of smoother seeking in Exoplayer</p>
<p>At one thread I have seen your reply mentioning about the decoder but Android's VideoView default seeking is much more smoother when compared to ExoPlayer or MediaPlayer</p>

<p><b>Here is my code for reference</b></p>

[code]
I am using locally stored

[2017-05-29 15:55] PaulWoitaschek commented on #26
I'm seeing multiple user complaints about high battery drain too.

Did you measure that? According to [the author](https://github.com/waywardgeek/sonic) the java and c version are quite equal.

[2017-05-29 19:23] kvecoman opened #2883 "Audio visualization and buffer access crash"
I have created AudioVisualizer based on issue #1449, by extending MediaCodecAudioRenderer and overriding processOutputBuffer() and everything works fine while audio is playing, but the problem shows up when songs are being changed, my app sometimes crashes on single line in my native c++ code that reads from ByteBuffer that I obtained in processOutputBuffer(), so **my question is how can I know if

[2017-05-29 21:13] DnAGroup commented on #2808
@escamoteur did you find any solution to your concern?

[2017-05-29 21:27] ojw28 commented on #2878
The error you're seeing suggests that the custom `DataSource` component you're using is not correctly handling requests for data at non-zero offsets. We're not able to assist in debugging custom components. Note that we do provide official components for encrypting/decrypting to/from disk (`AesCipherDataSource` and `AesCipherDataSink`).

If you're able to reproduce without use of the custom compon

[2017-05-29 21:27] #2878 closed, assigned to nobody

[2017-05-29 21:36] ojw28 commented on #2883
As long as you're handling the buffer synchronously in your processBuffer call, I'm pretty sure you should always have access in `processOutputBuffer` (prior to `super.processOutputBuffer` being called). You could also take a look at how/when buffers are being fed into `AudioTrack` from the regular `processOutputBuffer` implementation. The buffers must be valid at those points.

Unfortunately, sin

[2017-05-29 21:36] #2883 closed, assigned to nobody

[2017-05-29 21:36] gemiren commented on #26
@PaulWoitaschek, I didn't measure that. Maybe "faster" isn't the proper word to describe this difference in the C version and the Java version. There are could be many other factors involved here. Anyway, the CPU usage is way too high when playing with variable playback speed for API>=23 compared with using the C version Sonic library in the Android system. I just don't understand why do we need t

[2017-05-29 21:38] ojw28 commented on #2875
It should hopefully be obvious to most readers that you're supposed to pass the looping source to get looping. I think the guide is sufficiently clear. If we were to spell everything out explicitly then the guide would be unnecessarily long and verbose for the majority of readers.

[2017-05-29 21:38] #2875 closed, assigned to nobody

[2017-05-29 21:41] ojw28 commented on #2879
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-05-29 21:41] #2879 closed, assigned to nobody

[2017-05-29 21:46] ojw28 commented on #2874
We do not provide any built in support for playback of images. You could potentially write your own custom renderer (e.g. `ImageRenderer extends BaseRenderer`) to provide direct support within the player, or just manage displaying of images yourself outside of the player.

[2017-05-29 21:46] #2874 closed, assigned to nobody

[2017-05-29 21:56] ojw28 commented on #26
Do you have solid data backing up the claim of increased battery drain? Looking at CPU usage isn't sufficient. Neither is linking ad-hoc user reports to something you know has changed, when other things have also changed. It really needs to be actual battery drain data comparing the two whilst minimizing any other changes.

Note that CPU usage for the playback speed adjustment will likely be attri

[2017-05-29 21:59] ojw28 commented on #2760
Nope, sorry. We're not going to cut a release just for this, so it'll be ready when it's ready. In the meantime you'll need to patch the change in locally if you want it.

[2017-05-29 22:45] gemiren commented on #26
@ojw28, unfortunately I don't have the solid data to pin down what's exactly causing the huge increased battery drain. Since I updated my app to use ExoPlayer 2.4.0 I have received numerous user feedback regarding the increased battery drain. So I did some comparison between ExoPlayer and Android Media Player on a Nexus 5x with Android 7.1.2. I did see the battery usage went down significantly if

[2017-05-30 04:59] escamoteur commented on #2808
Unfortunately not. Still waiting for help from here

[2017-05-30 05:20] mofneko opened #2884 "Device dependent restart problems."
### Issue description
When regenerating an instance of the SimpleExoPlayer class, restart it on a specific device.

### Reproduction steps
When regenerating an instance of SimpleExplayer at an arbitrary timing, the device restarts. I generated a sample to check the phenomenon of restart. Please refer to the test content chapter.

### Link to test content
See complete diff.
https://github.com/mofne

[2017-05-30 08:50] mofneko opened #2885 "DASH: Support multi-period dash where periods have different DRM schemes"
Is ExoPlayer planning to support the playback of video that switches multiple DRMs for one DASH stream in the future?
In order to solve such a problem, it turned out that it was necessary to change the existing ExoPlayer and recreate the movie player according to the DRM change. Otherwise, the video will stop playing the moment ClearKey is changed to Widevine. I confirmed that there is a key. An e

[2017-05-30 10:14] qlthd opened #2886 "How to determine when a DASH media segment has been requested and received."
Hi everyone. I'd like to determine at the end of the video how many segments i have requested and received
Thanks

[2017-05-30 10:28] haoduong-acutek opened #2887 "Not display closed caption in HLS (text track is not exposed)"
### Issue description
in HLS, The text track  is not exposed , so can not display closed caption

### Reproduction steps
With the same link, VLC played with ClosedCaption, but not with Exo sample app.

### Link to test content
Attached in email

### Version of ExoPlayer being used
r2.4.1

### Device(s) and version(s) of Android being used
STB version 6.0.1

### A full bug report captured from the

[2017-05-30 12:55] naseeb8950925214 opened #2888 "How to ad preroll and midroll support in exoplayer 2.4 ??"
Hi,

I want to play preroll and midroll ads in exoplayer on basis of que points e.g right after playing preroll ad, ads should be played at 30 seconds , 1 minute and 2 minute duration of content playback. I have tried for same and came to know that i can create playlists using **ConcatenatingMediaSource**. But this does not match my requirement, as i want to play ads at given que points. Please he

[2017-05-30 14:22] needz opened #2889 "Illegal playlist type: LIVE"
### Issue description
The provided link works fine in buil-tin MediaPlayer, but doesn't play in ExoPlayer.
Is there anything that can be done to fix it? Thanks.

### Reproduction steps
Play the provided link in Demo app.

### Link to test content
http://stream01.yamgo.com/iPhone/HLS_TS/mptslive/clubbingtv-mobile.3gp.m3u8

### Version of ExoPlayer being used
ExoPlayer 2.4.0

### Device(s) and versi

[2017-05-30 15:01] quanghuy1288 commented on #2816
I can not reopen this issue. Do you see my comment @andrewlewis  ?

[2017-05-31 07:34] ojw28 commented on #2884
Device restarts for O need to be reported on the Android issue tracker, as described [here](https://source.android.com/source/report-bugs).

[2017-05-31 07:34] #2884 closed, assigned to nobody

[2017-05-31 07:45] andrewlewis commented on #2816
`supportedEncodings=[2, 5, 6]` indicates that the audio track can output 16-bit PCM and AC-3/E-AC-3 via passthrough.

`MediaCodecInfo: NoSupport [channelCount.support, 6] [AML.google.ac3.decoder, audio/ac3] [p201, IV3012A7, amlogic, 22]` indicates that the device has an AC-3 decoder but it doesn't declare support for decoding 6 channel input. This could either be an actual limitation of the decode

[2017-05-31 07:54] andrewlewis commented on #2888
If you know the URLs for the ad media at the time of instantiating the media source, you can use ConcatenatingMediaSource to concatenate ClippingMediaSources that load portions of content with MediaSources that load ads. For example, to play one minute of content with a midroll ad at 30 seconds and preroll/postroll ads, you could structure the media source like: `ConcatenatingMediaSource(prerollAd

[2017-05-31 08:53] ojw28 commented on #26
I don't think there's evidence in this thread (yet) of "huge increased battery drain" or that the Java version is significantly less efficient. It seems to me there are two possibilities at this point:

1. Total battery drain is actually about the same as before. Due to the way battery accounting works, battery drain associated with the variable speed adjustment is now being attributed to your app

[2017-05-31 08:59] ojw28 commented on #2886
`DashMediaSource` takes a `AdaptiveMediaSourceEventListener` argument through its constructor, which is invoked every time a load is started/stopped/canceled/completed. You should be able to do some counting in your listener implementation to figure this out.

[2017-05-31 08:59] #2886 closed, assigned to nobody

[2017-05-31 09:03] ojw28 commented on #2854
As per above we're not able to reproduce this, and it hasn't been reported by anyone else which suggests that it's not a widespread issue. If this affected all apps using ExoPlayer on the S7 we'd expect to have received other reports by now.

A good way to figure out whether it's your content or not would be to see if you can reproduce with any other content obtained from other sources. If it is s

[2017-05-31 09:11] andrewlewis commented on #2881
E-AC-3 can be played via HDMI passthrough where the connected device advertises support. It is possible for a devices to advertise support AC-3 but not E-AC-3.

See #2148 for more information on passthrough and on-device decoding of these formats.

[2017-05-31 09:11] #2881 closed, assigned to nobody

[2017-05-31 09:28] ojw28 commented on #2882
The reason behavior is different is that ExoPlayer does frame-accurate seeking (in all cases). I think VideoView does key-frame accurate seeking, which is faster but less accurate. We can use this issue to track supporting key-frame accurate seeking as an option, but it's low priority.

[2017-05-31 09:38] ojw28 commented on #2880
If you've already found a method that does what you're trying to do (`maybeDiscardUpstream`), can't you inspect that method and figure out what it's doing differently?

[2017-05-31 09:39] ojw28 commented on #2873
I'd suggest you report this to the device manufacturer.

[2017-05-31 09:41] ojw28 commented on #2851
Ping @vigneshvg - Could you explain the instructions? If they don't work, we should remove/update them.

[2017-05-31 09:42] ojw28 commented on #2877
Let's use https://github.com/google/ExoPlayer/issues/2851 to track this.

[2017-05-31 09:42] #2877 closed, assigned to nobody

[2017-05-31 09:42] #2855 closed, assigned to ojw28

[2017-05-31 09:45] mohammed-atif commented on #2882
@ojw28 , In other players, we have a callback which notifies about the successful seeking. If I make multiple calls for seek using onScroll method, I can ignore the inputs if seek is in progress, but in case of ExoPlayer there is no such callback and due to multiple seek requests, the performance of seeking further goes down. It would be really good if ExoPlayer too provides the callbacks for seek

[2017-05-31 09:51] hare989 commented on #2583
I'm also having playback issues with ExoPlayer 1.5.4 on devices: Samsung Galaxy S7 Edge SM-G935T (working fine with SM-G935F with kernel version 3.18.14), Samsung Galaxy S3 Tab, Lenovo P2. But I also noticed that these devices have same kernel version 3.18.31. Unfortunately, I don't have any of these devices with such kernel version to test. I hope that you could provide me any clue regarding this

[2017-05-31 09:54] ojw28 commented on #2887
This is tracked by https://github.com/google/ExoPlayer/issues/2565.

[2017-05-31 09:54] #2887 closed, assigned to nobody

[2017-05-31 10:11] ojw28 commented on #2869
You need to implement your own `TrackSelection.Factory` to use instead of `AdaptiveTrackSelection.Factory` which is what you're currently using. Use `AdaptiveTrackSelection` as a starting point. If you look at its implementation, one of its methods is `updateSelectedTrack`. It's this method that selects the track for the next chunk load.

[2017-05-31 10:11] #2869 closed, assigned to nobody

[2017-05-31 10:13] ojw28 commented on #2885
Provided the change in DRM scheme corresponds to the start of a new Period, then yes, this is something we intend to add support for. We don't support it currently. Marking this as an enhancement for tracking.

[2017-05-31 10:26] AquilesCanta commented on #2889
The live playlist type [is not supported by the spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.3.5). I will remove this exception so as to ignore the value if invalid, like in this case.

[2017-05-31 11:04] #2871 closed, assigned to andrewlewis

[2017-05-31 11:04] #2876 closed, assigned to nobody

[2017-05-31 11:06] PaulWoitaschek commented on #2876
My comment is kind of a second issue. Should I open a separate ticket for that?

[2017-05-31 11:09] ojw28 commented on #2876
If you can provide clear reproduction steps (when making use of the fix above) then yes please file a separate issue.

[2017-05-31 11:17] priyanshi-gupta commented on #2617
Hello,
Any update on this?

[2017-05-31 11:33] #2889 closed, assigned to AquilesCanta

[2017-05-31 11:37] ojw28 commented on #2863
The change above updates ExoPlayer to use `AVERAGE-BITRATE` to populate `Format.bitrate` when it's available, since that's what `Format.bitrate` is documented to contain.

It's somewhat unclear to me that there's a need to also include the peak bitrate in the `Format` object. Unless people are going to write ABR algorithms that make use of it, the need to include it is pretty hypothetical. If you

[2017-05-31 11:41] ojw28 commented on #2431
This is now supported in `dev-v2`.

[2017-05-31 11:41] #2431 closed, assigned to nobody

[2017-05-31 11:56] ojw28 commented on #2699
@or-dvir - To clarify, with this setting enabled would you expect the controls to still be made visible on user input (e.g. user taps, trackball events and key presses)? Or to put it another way, which of the following do you want to suppress:

1. Just the automatic showing of controls when the playback state changes (e.g. to the ended state)
1. All showing of controls (automatic showing + showing

[2017-05-31 13:14] andrewlewis commented on #2617
Please take a look at the [IMA extension](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ima) on the development branch.

[2017-05-31 13:14] #2617 closed, assigned to andrewlewis

[2017-05-31 14:19] ojw28 commented on #2539
I cannot reproduce the error mentioned at the top of this issue with Nexus 5/7 using the stream ref'd above. @mitchellwit - Are you sure you're actually seeing the same codec error, as opposed to some other failure?

[2017-05-31 14:58] ojw28 commented on #2806
I think the workaround ref'd above fixes this issue.

[2017-05-31 14:58] #2806 closed, assigned to ojw28

[2017-05-31 15:03] ojw28 commented on #1382
As per above, semver isn't realistic for this project as we'd end up incrementing the major version too frequently. As of V2 we've been incrementing X.Y.Z to mean:

X - Major new release
Y - API changes / large new features
Z - Bug fixes / small new features

I think that's the best we can do given the project's current rate of evolution.

[2017-05-31 15:03] #1382 closed

[2017-05-31 15:22] zegnus commented on #2776
@ojw28 do we have any feedback so far?

[2017-05-31 17:19] jmgirven opened #2890 "Set the volume of multiple MediaSource's in a MergingMediaSource"
Is it possible to have two `MediaSource`'s in a configuation like:

[code]

Where both have an audio track playing at the same time, and you can set the volume of each independently? E.g. video at 50% and audio at 75% in the above example.

[2017-05-31 19:04] ojw28 commented on #2890
We do not support synchronized playback within a single player of multiple audio tracks. You'd have to do some quite in-depth customization to support that kind of use case, which is beyond the scope of this issue tracker.

[2017-05-31 19:04] #2890 closed, assigned to nobody

[2017-05-31 21:14] satyres commented on #2851
Thank you for the reply ! this does not answer my question , can i use the compiled version of the demo ?
Why i have to build it my self  , i don't understand ! the help guide is not helpful as well !
Sorry !
regards

[2017-05-31 21:59] ojw28 commented on #2851
We do not provide pre-compiled versions of the demo app. Providing these is tracked by https://github.com/google/ExoPlayer/issues/1920, but for non-technical reasons this is currently non-trivial for us to do.

[2017-05-31 22:04] ojw28 commented on #1920
For non-technical reasons this is currently non-trivial for us to do, unfortunately. If someone else were to set this up then I think it would be possible to add links from relevant parts of our documentation (e.g. [this page](https://google.github.io/ExoPlayer/demo-application.html)), although I'd need to double check this.

[2017-06-01 02:43] goffioul opened #2891 "Large pixellation for some MPEG2 clips (using Android SW MPEG2 decoder)"
I'm using a Intel-based device running Android-IA (Nougat), where I've enabled the MPEG2 codec in media_codecs.xml (SW-decoder available in Android since Marshmallow). My app is using ExoPlayer r2.4.1 (with ffmpeg extension built-in). I'm testing various MPEG clips using plain HTTP. Most of the MPEG2 clips play fine, but a few of them show massive pixellation. One sample is available at https://dr

[2017-06-01 05:51] naseeb8950925214 commented on #2888
Thanks for pointing to ClippingMediaSource. Can you please tell me how to play ads on basis of ID3Metadata. e.g if i get AD tag at a particular moment, i should play ad and as soon as i get MP tag, main content should start playing.

[2017-06-01 07:30] or-dvir commented on #2699
@ojw28 thats a good question... my original intent was for the first one (playback states). but would it be possible to add both as **separate** options? it's basically the same logic... the way i see it the more control for the developer the better :)

[2017-06-01 07:34] ojw28 commented on #2891
Sounds like you're manually enabling a decoder yourself in the platform, and observing that it doesn't work very well. Isn't that most likely to be an issue with the decoder? What decoder is it that's actually being used?

There's nothing we can actually do to look at this issue given the lack of a bug report, device details and so on (edit: ignore previous comment about test content).

[2017-06-01 07:37] ojw28 commented on #2699
Thanks for the clarification. I *think* you already have the second one (setUseController(false)).

[2017-06-01 07:44] andrewlewis commented on #2888
In that case, you can't construct a MediaSource in advance with all the ad URLs. We don't currently provide a direct way to make the player insert ads based on ID3 metadata, but you may be able to handle the metadata yourself using MetadataRenderer, and re-`prepare` the player as required.

[2017-06-01 07:44] #2888 closed, assigned to nobody

[2017-06-01 08:02] quanghuy1288 commented on #2816
I have tried your guide, always return true but player still can not work.

I have check with OEM, they said that device decode dolby by software. And i have tried other dolby file: 2 channels, 44100Hz ac3, but player still error: http://103.216.120.24/vod51/ac3.4.mp4/playlist.m3u8

You can check log debug: "06-01 14:52:57.634  8300  8300 D EventLogger:       [X] Track:0, id=1/129, mimeType=audio/

[2017-06-01 08:10] andrewlewis commented on #2816
Based on the logging you pasted, the stereo 44.1 kHz format exceeds the advertised decoder capabilities Can you follow up with the OEM regarding whether the decoder actually supports this format? If so, it is underreporting the capabilities and they should fix it.

If you change the code to return `true` from `isAudioChannelCountSupportedV21` and `isAudioSampleRateSupportedV21`, but playback still

[2017-06-01 08:21] Sandeeppal1083 commented on #867
NatsumReiko or anyone , please help me in playing Hls Video inside recyclerview , i want to play Hls videos inside recyclerview, Please help me with code, i would be thankful for you sooo much.

[2017-06-01 09:04] quanghuy1288 commented on #2816
[log.3.txt](https://github.com/google/ExoPlayer/files/1044179/log.3.txt)

If you change the code to return true from isAudioChannelCountSupportedV21 and isAudioSampleRateSupportedV21, but playback still didn't work, I think you would have seen a different error.  ==> still show simillar error. Please check attached log

[2017-06-01 09:08] quanghuy1288 commented on #2816
Player show: Unable to instantiate decoder AML.google.ac3.decoder

[2017-06-01 09:20] wasp898 commented on #2880
Thank you for the answer.
The missing piece seems to be in the TrackOutput, which handles the lower level buffer. It appears that ExoPlayer is using a circular byte buffer that puts chunks always in the back of the buffer (or it overwrites what's already in there), so for now we are investigating if it is possible to replace the circular buffer so that we can replace a chunk with another chunk, wi

[2017-06-01 09:37] andrewlewis commented on #2816
From the log: `E OMXNodeInstance: setParameter(3e:AML.google.ac3.decoder, ParamAudioPcm(0x4000002)) ERROR: UnsupportedIndex(0x8000101a)` `E ACodec  : [AML.google.ac3.decoder] configureCodec returning error -1010`.

Please follow up with the OEM to find out why `MediaCodec.configure` is throwing when provided with a stereo 44.1 kHz format. It is not surprising that an error is thrown, given that th

[2017-06-01 10:02] #2880 closed, assigned to nobody

[2017-06-01 10:08] synologic commented on #2733
I'm seeing this even when the EXT-X-MEDIA-SEQUENCE increments and not rolling back to zero

[2017-06-01 10:14] AquilesCanta commented on #2733
Closing this issue due to lack of required information. If you have encountered a similar behavior, please file a new issue, including **all** the information requested in the issue template.

[2017-06-01 10:14] #2733 closed, assigned to AquilesCanta

[2017-06-01 11:07] jrocharodrigues opened #2892 "HLS Live Stream Freezes and stops requesting chunks"
### Issue description
When playing a HLS Live stream, the play back freezes, the player enters in buffering state, and stops downloading media chunks, only downloads playlist files.
### Reproduction steps
Add the stream i've sent by email to dev.exoplayer@gmail.com to the demo app, play it and wait until the playback freezes.

### Link to test content
Sent by mail to dev.exoplayer@gmail.com

### V

[2017-06-01 12:04] m7yank opened #2893 "How to assign fixed height and width of video player and it will not be resize after prepared called"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t