[2019-02-20 18:04] giridharkannan opened #5545 "#5003 Issue fix broke G9X Amlogic Box - Results in black screen"
### Issue description
OMX.amlogic.avc.decoder.awesome Codec specific patch (refer #5003)  which got released on ExoPlayer v2.9.4 makes the android view completely go blank, when playing Video

### Reproduction steps
Play any mp4 video that is stored locally

### Version of ExoPlayer being used
ExoPlayer v2.9.4 and v2.9.5

### Device(s) and version(s) of Android being used
This is device specific i

[2019-02-20 18:24] AquilesCanta commented on #5404
I think it's worth contacting the device manufacturer, since MediaDrm.getKeyRequest is failing to recognize the key request data.

I have seen this in the past for PlayReady 4.3.0.0 (Internal ref: b/112135619 and b/112139868), which is the version that includes support for ALGID="AESCBC". Besides contacting the device manufacturer, I think it's worth trying to play AES-CTR streams, which in my exp

[2019-02-20 19:00] ojw28 commented on #5545
I've re-opened #5003. Let's use that for tracking.

[2019-02-20 19:00] #5545 closed, assigned to ojw28

[2019-02-20 19:02] ojw28 commented on #5003
I think I'd be in favour of reverting the fix for now. It's unclear whether it's making things better, on balance (in particular if it's affecting playback of non-interlaced content).

[2019-02-20 19:29] ojw28 commented on #5544
We cannot help with this unless you provide proper reproduction steps.

[2019-02-20 19:29] HimanshuNarang opened #5546 "Question: Using C.SELECTION_FLAG_DEFAULT to enable subtitles"
Could you try replacing 0 with C.SELECTION_FLAG_DEFAULT in the call to `createTextSampleFormat`? (You need to pass one of the `C.SelectionFlags` constants to [Format.createTextSampleFormat](https://github.com/google/ExoPlayer/blob/dev-v2-r2.5.3/library/core/src/main/java/com/google/android/exoplayer2/Format.java#L289).)

_Originally posted by @andrewlewis in https://github.com/google/ExoPlayer/iss

[2019-02-20 19:30] HimanshuNarang commented on #5546
My code is

[code]

But still subtitle is not showing

[2019-02-20 19:43] kvillnv commented on #5397
@andrewlewis indeed I tried a Bravia, as you said the screen stays black until I play.

So far there is an issue on all the devices we tested. Even if it is slightly different, it is always about rendering the first frame on tunneling while playWhenReady=false.
There are too much devices to consider, it is not possible to ask each manufacturer to adapt their hardware for exoplayer. I have not seen

[2019-02-20 20:01] navluis opened #5547 "Codec selection for video tunneling"
### Issue description
In our particular device which has media tunneling support, ExoPlayer is unable to list and select the tunneling decoder properly. For example, the device advertises these two components supporting avc, one without and one with tunneling support:

omx.oem.avc.decoder
and
omx.oem.avc.decoder.tunneled

ExoPlayer isn't able to select the tunneled version of the decoder but can o

[2019-02-20 20:32] ojw28 commented on #5529
Where is `AudioPurpose` defined? I can't find it in the DASH spec, or in the DASH-IF guidelines. The only relevant result when I try and search is this issue.

[2019-02-20 21:23] szaboa commented on #5529
`Accessibility` is a metadata (or descriptor?) of a `<AdaptationSet>` which can contain this `AudioPurpose`.

I guess it should be defined here: https://dashif.org/identifiers/role-and-accessibility but this link gives 404.

A small description can be found here: https://www.brendanlong.com/common-informative-metadata-in-mpeg-dash.html

A more official doc is this, where the `AudioPurpose` is desc

[2019-02-20 23:31] ojw28 commented on #5546
It's hard to say what's going wrong in your app, but I tried adding the following four lines to the ExoPlayer demo app, immediately before the `player.prepare` call in `PlayerActivity`, and it worked fine for me. Note these lines are pretty much identical the the four you're using, so I think you're probably doing something wrong elsewhere in your code.

[code]

If you think there's a library issu

[2019-02-20 23:31] #5546 closed, assigned to ojw28

[2019-02-20 23:51] ojw28 commented on #5529
Could you please paste a relevant snippet from one of your manifests (it doesn't need to be a fully functioning piece of test content)?

[2019-02-21 00:01] ojw28 commented on #5529
As an additional point, is it not possible for your manifests to use a DASH-IF recommended way of doing this? Which I think is probably to use:

`@schemeIdUri="urn:mpeg:dash:role:2011"`
`@value="enhanced-audio-intelligibility"`

Similarly I think:

`@schemeIdUri="urn:mpeg:dash:role:2011"`
`@value="description"`

is probably equivalent to "visually impaired" in the scheme you're referring to. There

[2019-02-21 00:59] haochen12 opened #5548 "onPlayerStateChanged return playbackState error when i stop audio for long time"
### Issue description
i play audio ,stop it for long time,i play this audio again ,retrun playbackstate is Player.STATE_ENDED,it lead to i can not finish playing audio.

### Reproduction steps
stop audio for long time and play it again ,try some times.

### Link to test content
Provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please submit the issue, then e

[2019-02-21 01:01] haochen12 commented on #5548
when i play audio ,stop it for long time,repeat it some time return Player.STATE_ENDED,but audio is not finished,please tell me how to solve it ,thanks in advance .

[2019-02-21 01:29] xiaoxixi615 commented on #5392
Thanks for your quick reply, the video can now be played with exoplayer, Please help to close this issue.

[2019-02-21 02:17] tangmingscau commented on #5540
This modification has been included in version 2.7.0, so it is not caused by this reason. This problem is very low probability. There are only a few mobile phones and there are no live ones. We are trying to reproduce them here, but there is no progress at present. Can you take a look at them again? This problem is mainly analyzed from the code level, especially writing the cache module, which you

[2019-02-21 04:06] hafiz013 opened #5549 "Does exoplayer can run/support MoPub ads"
Hi may I know is it exoplayer can run ads/ support ads from MoPub?  For you info MoPub similar like dfp but only different is that not from google. You can refer to this [https://www.mopub.com/publishers/platform/](url)

[2019-02-21 05:19] HimanshuNarang commented on #5546
As I can debug onUpdate method not get called of TextRenderer and TextRendere is not in ExoPlayerInternalImpl's enabledRenderers array. Am I debugging on the right place?

[2019-02-21 07:26] szaboa commented on #5529
Relevant snippet:

[code]

I am not sure if this can be changed in the manifest, I don't think so unfortunately.

If you say this shouldn't be a supported scheme, then there is a possibility to extend some class and write our parsing without forking the repo and use a "modified" version locally?

[2019-02-21 08:08] AndroidDeveloperLB commented on #5480
Seems it could be a hardware issue...

[2019-02-21 08:08] #5480 closed, assigned to nobody

[2019-02-21 08:28] szaboa commented on #5529
It seems the `Accessiblity` descriptor is already parsed, but we would need to pass that somehow into the `TrackGroup`. Do you think this is possible?

See `com.google.android.exoplayer2.source.dash.manifest.DashManifestParser#parseAdaptationSet`.

[2019-02-21 09:21] andrewlewis commented on #5480
@AndroidDeveloperLB That's right. The kernel log errors like `<3>[   13.468106] c1    295 wcd9xxx_slim_probe: failed to get slimbus tasha-slim-pgd logical address: -6` are a symptom of a solder crack failure on sailfish, which is a hardware failure and the device would need to be replaced. [Internal reference: b/124077173]

[2019-02-21 09:26] andrewlewis commented on #5549
The IMA extension should work with VAST and VMAP ad tags, so you can just use that if the provider will produce standard ad tags in those formats.

If not, you'd need to implement your own `AdsLoader` (or find one elsewhere), if you want to leverage the same ad playback functionality that the IMA extension uses.

[2019-02-21 09:26] #5549 closed, assigned to andrewlewis

[2019-02-21 09:28] andrewlewis commented on #5549
https://developers.mopub.com/docs/ui/creatives/direct-sold-vast/ might possibly help.

[2019-02-21 09:31] andrewlewis commented on #5540
Is it possible that the file was written from a version before 2.7.0 (but is being read from a version >= 2.7.0)?

[2019-02-21 09:32] #5392 closed, assigned to andrewlewis

[2019-02-21 09:32] AndroidDeveloperLB commented on #5480
@andrewlewis What is exactly "solder crack failure" ? Is it repairable, or is it so bad that it requires a full replacement?

[2019-02-21 09:36] johnshazhu opened #5550 "ConcatenatingMediaSource playback does not advance on Xiaomi Redmi Note3"
### Issue description
use ConcatenatingMediaSource to play video list as a video, but it can not auto play next video.
if disable audio render, it runs ok.

### Reproduction steps
1.use exoplayer demo project
2.open file media.exolist.json, then replace Playlists's(Cats->Dogs) playlist with test content as follows
3.compile demo app and run, then open exoplayer demo app
4.click Playlists item and

[2019-02-21 09:36] andrewlewis commented on #5480
@AndroidDeveloperLB That's straying too far off topic for this issue tracker but I expect you'll need a replacement device. Hope this limited information is of some use anyway.

[2019-02-21 09:39] icetronics commented on #5485
Thanks @ojw28!
However, our backend provider came back to us saying that the ISOBMFF standard explicitly states that the sync sample box is not mandatory and:

Can you please advise? Thanks very much

[2019-02-21 09:39] andrewlewis commented on #5548
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

In particular we need a full bug report and information on what device(s) you've tested on.

[2019-02-21 09:41] AndroidDeveloperLB commented on #5480
@andrewlewis Sorry. It's just that for this kind of thing it's very hard to find who to ask, that will actually provide a professional and reliable answer... :(
It's not even my device... It's of the office, and I'm just a developer...

[2019-02-21 09:41] tangmingscau commented on #5540
Once again, I confirm that the version I used contains this modification. The last version I used was 166c4ba submitted.

[2019-02-21 09:43] andrewlewis commented on #5540
@erdemguven Please could you take a look? Thanks.

[2019-02-21 09:53] andrewlewis commented on #5547
(2) looks like a duplicate of #3100. I'm planning to push a limited fix over the new few weeks, which will advertise and select tunneling support if a non-primary tunneled decoder supports the same or greater capabilities of a primary non-tunneled decoder.

Thanks for reporting (1), for which I'll make a fix at the same time.

I don't understand "there doesn't seem to be a way to tell ExoPlayer th

[2019-02-21 09:54] hafiz013 opened #5551 "How to do try and catch error when try to play media source."
Hi there, if I allow to user to play music with shuffle the problem that i facing right now is that the exoplayer crash my apps when try to play the media source which are not have inside Concatenating media source. The question is that, is there way try and catch if file not found so that exoplayer wouldn’t crash my apps. My exoplayer version : 2.8.4

[2019-02-21 09:57] hafiz013 commented on #5549
ok thanks bro.

[2019-02-21 10:07] andrewlewis commented on #5397
As a general point: I think this is not really about adapting devices to ExoPlayer, but instead implementing the APIs provided by the Android framework in a consistent way. With tunneling this seems to be particularly problematic because so much is left up to the device OEM and verifying behavior programmatically via an automated test is difficult.

That said, if ExoPlayer is using the APIs wrongl

[2019-02-21 10:27] andrewlewis commented on #5551
Please see #4343, which seems related. When you say it crashes the app, is there an uncaught error, or just a call to `onPlayerError`?

[2019-02-21 10:31] ojw28 commented on #5529
There are two things that I think need to be done:

1. Add role and accessibility fields to `Format`. I'd propose we stick to having well defined values that these fields are allowed to take. In other words I do not think we should allow arbitrary schemes and values.
1. Parse role and accessibility fields in the manifest. We should definitely support parsing the `urn:mpeg:dash:role:2011` scheme fo

[2019-02-21 10:50] ojw28 commented on #5485
My understanding is that the `stss` (sync sample box) is only relevant for non-fragmented MP4, where all sample information is carried within the `moov` atom. For fragmented MP4, as is used here, the `sample_flags` mechanism is used to indicate which samples are sync samples. `sample_flags` are a little complicated because they can be defined at multiple levels:

* The `trex` can define top level

[2019-02-21 10:58] ojw28 commented on #5546
You'd really be best off starting by looking at the ExoPlayer demo app, and then working out what your code is doing differently. You shouldn't need to debug any internals of the library to work this out.

[2019-02-21 11:11] szaboa commented on #5529
Got it, good idea!

I will work on this if that's ok.

[2019-02-21 11:17] MuthuKrishnanO commented on #5542
now using  the Exoplayer Demo app .but can't install apk to  android SETOFBOX,  it shows the bug like that

[2019-02-21 11:28] haochen12 commented on #5548
I play an audio,stop for two minutes,and i continue playing the audio, playbackstate become Player.STATE_ENDED, should be Player.STATE_BUFFERING. @andrewlewis

[2019-02-21 11:28] MuthuKrishnanO commented on #5542
connect set-top box  using adb plugin

[2019-02-21 12:07] icetronics commented on #5485
Thanks again, I have conveyed this to our provider and we'll see what happens.

[2019-02-21 12:11] AquilesCanta commented on #4964
Recently @ojw28 found this in the [cast release notes](https://developers.google.com/cast/docs/release-notes):

Sorry for not providing better support around this. We are actively working on it.

[2019-02-21 12:13] AquilesCanta commented on #4964
I will migrate CastPlayer to depend on MediaQueue instead of MediaStatus#getQueueItems. Since this change was announced in April 2018, i think the behavior changed after the Cast extension release.

[2019-02-21 13:10] satyres opened #5552 "Playing HTTPS streams"
Hi,
Exoplayer can't play HTTPS stream and here is an example of a stream.
https://rcn.radioonlinehd.net:8010/masradio
please is there a way to solve this issue.
regards

[2019-02-21 13:19] kvillnv commented on #5397
All right, thank you. Please keep us updated.

[2019-02-21 13:38] marcbaechinger commented on #5552
I think ExoPlayer can access streams with https. I'm fairly sure I've seen this working.
When playing the url you provided, it works as well: mimeType=application/x-icy, supported=YES

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). Best is trying with the demo app, a

[2019-02-21 13:45] satyres commented on #5552
Hi , @marcbaechinger Thanks for your quick reply.
ok i'll provide more information
did you try the stream url using Exoplayer ?
regards

[2019-02-21 14:07] satyres commented on #5552
Here is the log on Android studio :
i'm using V 2.9.2

E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to http://rcn.radioonlinehd.net:8010/masradio
        at com.MSoft.cloudradioPro.players.exoplayer.IcyDataSource.connect(IcyDataSource.java:140)
        at com.MSoft.cloudradioPro.players.exoplayer.IcyData

[2019-02-21 14:19] marcbaechinger commented on #5552
Many thanks! Yes, I'm testing with ExoPlayer.

In the stack trace you sent, it appears that you are trying an http stream. At least the url which shows there is http only: http://rcn.radioonlinehd.net:8010/masradio

When I try with curl it tells me only the https url delivers some data (see below). May I kindly ask you to check whether it is intended to use the http url?

$ curl http://rcn.radioon

[2019-02-21 15:13] satyres commented on #5552
Hi, Thanks for your time
the problem is that i was removing the "s" automatically because some url won"t play when it's HTTPS
this one have worked now ! strange
i've updated to 2.9.5 and it's working now.
Thanks so much for your time
i'll try on other HTTPS streams and tell you
Best regards

[2019-02-21 15:15] #5552 closed, assigned to marcbaechinger

[2019-02-21 15:15] marcbaechinger commented on #5552
Great! Many thanks!

[2019-02-21 15:22] AquilesCanta commented on #5524
Please test it on 2.9.6, and comment below if you still run into the issue. If needed, i'll reopen. Thanks again for reporting!

[2019-02-21 15:22] #5524 closed, assigned to AquilesCanta

[2019-02-21 15:59] #5517 closed, assigned to andrewlewis

[2019-02-21 16:59] andrewlewis commented on #5550
This sounds like a device-specific issue with end-of-stream handling.

[2019-02-21 17:11] andrewlewis commented on #4936
It works for me using your layout. Maybe something have changed since this was filed (sorry for the delay!). If it's still not working for you please reply here and we'll take a look, but note that since this seems like a general question about Android views you may get a quicker answer on Stack Overflow or similar.

[2019-02-21 17:11] #4936 closed, assigned to andrewlewis

[2019-02-21 17:59] navluis commented on #5547
Thanks for the quick response.

Yes, you're right. I should rephrase that, the statement was referring to point 1). Currently ExoPlayer decides to list the platform codecs with 'REGULAR_CODECS' or 'ALL_CODECS' filter depending on whether the app needs a secure decoder or not.

In file: library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java
codecKind = includeSecure

[2019-02-21 21:53] marcbaechinger commented on #5522
I think it makes sense how it is and to not make the assumption that a given renderer index is always of the same type. This would come for the price of being less flexible, while not paying really much.

I close this issue for know. Please reopen if you think I need to add something. Many thanks!

[2019-02-21 21:53] #5522 closed, assigned to marcbaechinger

[2019-02-21 21:57] marcbaechinger commented on #5516
The best procedure is to reproduce the error and then right after the exception has been thrown take a bug report. There are different ways to do that. I prefer the command line and do a

[code]

This page describes other ways if you prefer something else: https://developer.android.com/studio/debug/bug-report

[2019-02-21 22:00] #5515 closed, assigned to marcbaechinger

[2019-02-21 22:05] marcbaechinger commented on #5509
Issue #1649 is marked as enhancement and will be updated accordingly. I close this issue as a duplicate. Please reopen if you think I can add something here. Many thanks!

[2019-02-21 22:05] #5509 closed, assigned to marcbaechinger

[2019-02-21 22:10] marcbaechinger commented on #5502
Can you take a bug report right after the error occurred?

You can do in the console with a

[code]

Here is some detailed information on how you can capture a bug report: https://developer.android.com/studio/debug/bug-report

[2019-02-21 22:52] amiraelsayed opened #5554 "Subtitle loading not working"
I have a problem in sideload of subtitle in exoplayer

here is my code

[code]

the url : https://github.com/amiraelsayed/cv/blob/master/subtitle.srt
also I have tried using it from assets with path : Uri.parse("file:///android_asset/subtitle.srt")

but none of them work

can anyone help please

[2019-02-21 23:00] BROUDING commented on #5522
Many thanks to you!
I learned a lot, but also leaving some guidance about these on "Developer
Guide page" would be really helpful for the future fellows and save your
time..? :)

Take care!

2019년 2월 22일 (금) 오전 6:53, Marc Baechinger <notifications@github.com>님이 작성:

[2019-02-22 02:03] xiaoxixi615 commented on #1649
Adding subtitles after player being prepared is really a common need, hope you will enhance this in the near future.

[2019-02-22 02:33] SukritGupta17 commented on #5524
Thank you, I'll run some tests and update accordingly.

[2019-02-22 02:54] tangmingscau commented on #5540
[mo bad sound.zip](https://github.com/google/ExoPlayer/files/2892199/mo.bad.sound.zip)
[mo nice sound.zip](https://github.com/google/ExoPlayer/files/2892200/mo.nice.sound.zip)
here are two voice.they are the same music.A voice is bad,A voice is nice.they all are from the exoplayer's cache

[2019-02-22 03:10] hafiz013 commented on #5551
but it doesn't not go to on Player Error straight away crash my apps.

[2019-02-22 03:16] Crz-GitHub opened #5555 "Play 2-hour movie. M3u8 format error log 301 test Android 8.0"
com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 301
        at com.google.android.exoplayer2.upstream.DefaultHttpDataSource.open(DefaultHttpDataSource.java:300)
        at com.google.android.exoplayer2.upstream.DefaultDataSource.open(DefaultDataSource.java:250)
        at com.google.android.exoplayer2.upstream.StatsDataSource.open(StatsDataSource.

[2019-02-22 03:18] Crz-GitHub commented on #5555
Video Test Url:http://sohu.zuida-163sina.com/ppvod/937EABA891674B232D226C159D7CACFC.m3u8

[2019-02-22 03:28] mattermon commented on #5555
may a server error [301](https://en.wikipedia.org/wiki/HTTP_301)

[2019-02-22 03:45] Crz-GitHub commented on #5555
Android 6.0 There is no error 8.0 There is no error   I've already called DefaultHttpDataSourceFactory()

[2019-02-22 03:49] Crz-GitHub commented on #5555
The error is caused by - and _ not finding a solution for the time being

[2019-02-22 04:15] TroyStopera commented on #5175
@tishion Sorry for only just seeing this. I started by using reflection to get an instance (not my favorite, but it worked). I ended up, however, copying the code from `H264Reader`'s source and adapting it to my needs. Our stream has no SEI data, so in my custom implementation I just did away with the `SeiReader`.

[2019-02-22 05:44] tishion commented on #5175
@TroyStopera  thanks for replying. I finally gave up the extractor implementation. and I just construct the FLV stream with the raw H264 data and fill this stream to Exoplayer.

[2019-02-22 07:25] OLIMUTH commented on #5542
`02-22 19:05:02.834 23619-23619/? E/libprocessgroup: failed to make and chown /acct/uid_10183: Read-only file system
02-22 19:05:02.834 23619-23619/? W/Zygote: createProcessGroup failed, kernel missing CONFIG_CGROUP_CPUACCT?
02-22 19:05:02.836 23619-23619/? I/art: Late-enabling -Xcheck:jni
02-22 19:05:02.850 23619-23619/? E/Environment: canonicalPath = /storage/sdcard
02-22 19:05:02.858 23619-2363

[2019-02-22 08:30] StaehliJ commented on #3443
Have same issue with a Samsung SM-P600 running on Android 4.3(api18).

And one of our customer seem to have the same issue with an Samsung Galaxy A3(2017) (a3y17lte) running on Android 8.0. Sorry I can't provider any log or bug report about it.

[2019-02-22 09:32] andrewlewis commented on #5542
Looking at the logcat provided via email: this device (Hisilicon Hi3798CV200 API 22) is not advertising support for the audio format: ` D/EventLogger: [ ] Track:0, id=1/3504, mimeType=audio/mpeg-L2, channels=2, sample_rate=48000, supported=NO_UNSUPPORTED_TYPE`.

[2019-02-22 09:38] andrewlewis commented on #5555
This looks like a content or server-side issue rather than a problem with ExoPlayer. You need to figure out why the server is returning status code 301. I'll close the issue for now, but if you find evidence that this is an ExoPlayer issue please reply here and I'll reopen the issue.

[2019-02-22 09:38] #5555 closed, assigned to andrewlewis

[2019-02-22 09:57] andrewlewis commented on #5554
To ensure the text track gets selected, please try setting the preferred text language with `trackSelectorParameters.setPreferredTextLanguage("en")` or forcing selection using `C.SELECTION_FLAG_FORCED` instead of `C.SELECTION_FLAG_AUTOSELECT`. The subtitles show up for me if I do one of those and also use the raw URL from GitHub, https://raw.githubusercontent.com/amiraelsayed/cv/master/subtitle.sr

[2019-02-22 09:57] #5554 closed, assigned to andrewlewis

[2019-02-22 10:06] pollux- opened #5556 "com.google.android.exoplayer2.ExoPlaybackException happens when multiple player instance created."
I have Exoplayer instance inside a ViewPager, which perfectly works in most of the devices, but in Samsung Galaxy 570F model it's failing with below exception.

After checking the issues list, I got to know that, its the limitation of creating multiple hardware decoder at the same time. How can I switch to s/w decoder, if that fails? How can I gracefully play the video, if it fails?

[bugreport-20

[2019-02-22 10:19] petersamokhin opened #5557 "Android TV Leanback & Picture in picture resizing of video"
### Issue description
I'm using a `VideoSupportFragment`, default `LeanbackPlayerAdapter` and `SimpleExoPlayer`.
`SurfaceView` is created in `VideoSupportFragment` as well as other UI elements (rows).
Simple PiP logic implementation from [**google tutorial**](https://developer.android.com/training/tv/playback/picture-in-picture).

Fullscreen video:
![0](https://petersamokhin.com/files/exoplayer-is

[2019-02-22 10:35] sl950313 opened #5558 "When to play hls stream? After ts has been downloaded or playing during downloading"
Hi, I wonder to know when a ts file will be extracted and played by the exoplayer. as i know the hls.js will extract and play ts after the file downloads from server,  but I see the log

[code]
What does the log mean ?

[2019-02-22 10:36] andrewlewis commented on #5557
Note: the same as https://github.com/googlesamples/androidtv-Leanback/issues/143

[2019-02-22 10:45] petersamokhin commented on #5557
I wasn't sure if you would redirect me to that repository, so I decided to duplicate the issue.
I can close this or duplicate issue if it's necessary.

[2019-02-22 10:52] andrewlewis commented on #5547
@navluis Thanks for the information.

Apologies for straying slightly off-topic, but in case you're working on your device's tunneling implementation: it would be great if you could verify the tunneling implementation works correctly with the use case of queuing audio/video data while the audio track is paused. In this case, the A/V synchronization logic should inspect the first A/V sync header in

[2019-02-22 10:58] marcbaechinger commented on #5557
We marked it, to make sure people on the other repo are aware someone is looking into it. It's to avoid we are duplicating work. Normally it's best to only start a single issue to not make several people look into the same issue.

I look into this to check whether it is a problem with ExoPlayer or the ExoPlayer leanback extension. If it's a leanback/framework problem we probably have to look for s

[2019-02-22 11:53] AnjliPatel commented on #5516
[bugreport-2019-02-22-17-19-31.zip](https://github.com/google/ExoPlayer/files/2893783/bugreport-2019-02-22-17-19-31.zip)
I have generated bug report as per your instructions, please find attachment.

[2019-02-22 13:28] moacir69 commented on #5404
Hi @AquilesCanta ,
Thanks for the update. When a new software update is available for that device, we will check if there are improvements. We will also check the playback behaviour in other Android TV devices with AES/CBC and or AES/CTR contents.
Can you provide a list of Android devices/versions where CMAF playback has been positively verified?
Warm regards,

Moacir

[2019-02-22 13:38] AquilesCanta commented on #5404
Sorry, I had thought I had added a to linked this. [This is the first page](https://google.github.io/ExoPlayer/supported-formats.html) to look at. Try PlayReady+CTR on Android TV, or widevine CBC or CTR. Just keep in mind API level support.

[2019-02-22 13:40] moacir69 commented on #5404
Indeed you have added the link above, but I meant if you could provide a list of specific Android device models.
Thanks,

Moacir

[2019-02-22 13:52] AquilesCanta commented on #5404
I've just realized that PlayReady had accidentally been removed from the HLS supported formats page. I can confirm that widevine works as expected on devices I've tested on. PlayReady works in CTR mode.

If you run into issues in any of these 3 scenarios (Widevine CBC/CTR, Playready CTR) please file a new issue including all info requested in the issue template.

[2019-02-22 14:06] moacir69 commented on #5404
OK, thank you.
Warm regards,

Moacir

[2019-02-22 14:57] Tolriq commented on #5184
@ojw28 Same issue with 2.9.6 for OkHttp

[2019-02-22 15:18] ojw28 commented on #5184
Thanks for letting us know. This should now be fixed.

[2019-02-22 15:57] marcbaechinger commented on #5557
I tried this out with the sample app. It works for me. When coming back from full screen the surface expands back to the full size of the enclosing activity.

I don't think this has something to do with ExoPlayer. Even the screencast you sent shows that rendering actually is properly done by ExoPlayer in the area it gets from the framework.

A few observations/hints/questions:

* I used an emulato

[2019-02-22 18:30] navluis commented on #5547
I just read the discussion on #5397. I need to verify since we usually start ExoPlayer with playWhenReady(true) but my feeling is that we wouldn't display anything until the first audio frame is rendered, as we use audio to drive the playback clock. I think we would behave like the Sony Bravia TV you refer to and if we don't, I think we should since that would conform to what the framework expects

[2019-02-22 19:35] raikk opened #5559 "How to insert IMA ads with DashMediaSource"
I am trying to implement

 with

. I refer from this blog https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea
but dont know how to insert **AdsMediaSource** with **DashMediaSouce**

here i want to insert AdsMediaSource

[2019-02-23 04:01] petersamokhin commented on #5557
It's not border — it's default app background, so I think it's PlayerFragment (host of SurfaceView).
Looks like:
* after 5-7 seconds video rescaled according to new SurfaceView size (why so late?)
* when you control PiP by home button, its rescaled again (when it come to the center of the screen)
* but video not rescaled (so you can see small "grey border")
* when you go back to fullscreen, video

[2019-02-23 09:52] raikk commented on #5559
i find the solution from [this](https://github.com/google/ExoPlayer/issues/5346)

[2019-02-23 13:48] efkann opened #5560 "PlayerActivity.java gives a NullPointerException,why ?"
### Here is my PlayerActivity.java code that I use in my app

[code]

###
And this is the debug info

[code]

**Most probably I've made a mistake in "renderersFactory" part  but I couldn't solve it,what kind of changes I have to make in my code ?**

[2019-02-23 15:03] dirondir commented on #5503
Hi again!
You know but now I think it's a bug of ExoPlayer.
The problem is with the function
`private static Pair<String, List<byte[]>> parseFourCcPrivate(ParsableByteArray buffer)` in MatroskaExtractor.java

The description says: "VC1 and H263 are the only supported compression types."
For all other types the function returns `new Pair<>(MimeTypes.VIDEO_UNKNOWN, null)`

if you set correct mime-ty

[2019-02-23 16:32] #5559 closed, assigned to andrewlewis

[2019-02-23 21:06] andrewlewis commented on #5560
It looks like you might be passing null instead of a `TrackSelector` (although I'm not sure which version of the library you're using). Please take a look at how the demo app creates the player.

[2019-02-23 21:06] #5560 closed, assigned to andrewlewis

[2019-02-23 21:13] andrewlewis commented on #5556
If the error occurs during initialization of the hardware accelerated codec, you could try using the media codec selector with fallback. Please see the discussion in #5173 for more info.

[2019-02-23 21:13] #5556 closed, assigned to andrewlewis

[2019-02-23 21:15] #5356 closed, assigned to andrewlewis

[2019-02-23 21:17] andrewlewis commented on #5551
@hafiz013 Please could you provide a full bug report (`adb bugreport`) taken just after the crash?

[2019-02-24 12:27] abdollahammail opened #5561 "The control view is displayed at the top of the playerview"
i am using ExoPlayer in the Dialog Fragment, but i don't know why the control view is displaying at the top of the player view , like this image:
![device-2019-02-24-152732](https://user-images.githubusercontent.com/47942712/53299207-97fb2780-384c-11e9-9b13-5574934504c6.png)

this is my layout xml:
`<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/ap

[2019-02-24 16:32] littlelitleStar opened #5562 "EXOplayer fails to play m3u8 links !"
hello !

I amusing explayer on my app.
implementation 'com.google.android.exoplayer:exoplayer:2.8.2'

till now i used .ts links and it worked good . but now im chaning them to m3u8.

But it seems that exoplayer doesnt play them .
How can i fix this ?

[2019-02-25 05:58] musooff opened #5563 "Remove the frame when disabling video renderer"
In my ExoPlayer I have audio/video switching mode where user can disable video and just listen.

To switch between audio and video I use below code

[code]

Whenever I switch to audio mode, video will be disabled and audio will keep playing. But the problem is while playing audio ExoPlayer shows the frame at a moment when disabled video rendering.

My question would be how can I remove that frame

[2019-02-25 07:02] star-andy opened #5564 "Throwing OutOfMemoryError"
exoplaer version  2.9.3

android 5.1.1

[code]
My native language is Chinese, please forgive me if my English is not good
I suspect it's a matter of switching mediasource frequently. I wonder if I can switch frequently
[code]

[2019-02-25 08:35] andrewlewis commented on #5558
During playback of HLS streams we extract data from media segments while they're downloading. That log line is probably not relevant to this.

[2019-02-25 09:27] andrewlewis commented on #5561
I tried to replicate what you're seeing, but for me the player controls show at the base of the content in the dialog as expected. Could you investigate a bit using the Android Studio layout inspector to make sure that the views are sized as expected?

If you want us to investigate further it would be useful if you could send a link to a minimal project that reproduces the problem. Also, you might

[2019-02-25 10:14] andrewlewis commented on #5503
@dirondir Are you sure it's valid to pass a DivX stream to a video/mp4v-es decoder in general (and, if so, please could you link to a spec or more information about this)?

I am wondering whether the MIME type in your content might actually be set incorrectly, or perhaps this particular device's decoder supports a wider set of codecs than are signaled via its supported MIME types.

The comment abo

[2019-02-25 10:42] dirondir commented on #5503
@andrewlewis Unfortunatelly I have no such information. I've got the result by experimenting.
I'm not very experienced in working with video, but the solution works for both Google Pixel 2 (Android 9) and Nvidia Shield (Android 8.0) where I tried to play this video.
The Shield has the XVid and DivX codecs on board (https://www.nvidia.com/en-us/shield/specs/)
But I can't say the same about Pixel 2

[2019-02-25 10:59] andrewlewis commented on #5547
Thanks Luis. The issue with that behavior is that we can't support initializing the player in the paused state, as there is no way to reliably show a single frame without playing audio. The expectation that the A/V sync logic should read ahead the first unplayed audio header and show a frame may be documented in the future [Internal: b/126155094].

[2019-02-25 11:32] andrewlewis commented on #5503
It seems quite possible that your input media is actually in MPEG-4 format not DivX, but I'm not familiar enough with these formats to verify this.

Note: Nvidia Shield's codecs don't appear to advertise support for video/divx (in /system/vendor/odm/etc/media_codecs.xml), so I don't think we have a way of knowing that this format is supported. Some devices do advertise support for video/divx expli

[2019-02-25 15:45] icetronics commented on #5485
Hi @ojw28! :)

According to section 8.8.3.1 of the standard:

[8.6.2]. When this value is set 0 for a sample, it is the same as if the sample were not in a movie
fragment and marked with an entry in the sync sample table (or, if all samples are sync samples, the
sync sample table were absent)

We have managed to get the subtitles working by setting each and every sample in the `sampleSyncTable` to

[2019-02-25 16:38] JonathanImperato commented on #5536
I forgot i wrote a stackoverflow question at the beginning, so more info can be found [here](https://stackoverflow.com/questions/54419823/powersave-manager-stops-background-service-for-exoplayer)

[2019-02-25 21:00] frfmmdreza opened #5565 "string mpd"
hi, i want to play a dash stream from a mpd string (not url), but i didn't find any guide in the documentation, can you help me?

[2019-02-25 21:20] AquilesCanta commented on #5565
I think the best option you can go with is passing the [DashManifest](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/dash/manifest/DashManifest.html) representation of your string to [DashMediaSource.Factory#createMediaSource](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/dash/DashMediaSource.Factory.html#createMediaSou

[2019-02-25 21:20] #5565 closed, assigned to AquilesCanta

[2019-02-25 21:52] frfmmdreza commented on #5565
thanks for your help but still DashManifestParser.parse require an uri parameter

[2019-02-26 02:17] sl950313 commented on #5558
Thank you for help. But what does media segments mean? not frame by frame?

[2019-02-26 07:09] hafiz013 commented on #5551
` com.google.android.exoplayer2.IllegalSeekPositionException
        at com.google.android.exoplayer2.ExoPlayerImpl.seekTo(ExoPlayerImpl.java:272)
        at com.google.android.exoplayer2.SimpleExoPlayer.seekTo(SimpleExoPlayer.java:747)`

and this is my sample of my code:

` musicPlayer.setShuffleModeEnabled(true);
                        musicPlayer.seekTo(musicPlayer.getNextWindowIndex(), C.TIME

[2019-02-26 08:01] haochen12 commented on #5548
how to know the audio  play completely. @andrewlewis

[2019-02-26 08:49] ghost0906 opened #5566 "MPEG-TS: Support PID change during playback"
I want to use exoplayer to play live broadcast video, the video is mpegts format, and the pid is changing during play. Can exoplayer supported this situation? And is there any way to support this?
Need for help.

[2019-02-26 09:30] aazam-nouri opened #5567 "Does ExoPlayer support changing volume and brightness by swiping edges of screen?"
I want to change volume by swiping the screen right side up and down and also change brightness by swiping the left side. does ExoPlayer support that?

[2019-02-26 10:03] AquilesCanta commented on #5565
That's the url of the manifest to resolve internal relative URLs. If urls contained in the manifest are all absolute, then you can use an empty URL. However, if there are relative URLs in you manifest, you'll need to pass the base URL in there.

[2019-02-26 10:14] andrewlewis commented on #5548
@haochen12 Please try to reproduce the error in the demo app and provide the output of `adb bugreport`, provide a link to the media and let us know what device(s) you are testing on.

[2019-02-26 10:17] AquilesCanta commented on #5566
Hi @ghost0906, not currently supported, unfortunately.

You'd have to somehow detect the structural change in the TS and reprepare the player, so that it grabs the new track configuration.

In the meantime, I'll use this issue to track broadcast TV support improvement.

[2019-02-26 11:01] ghost0906 commented on #5566
Thanks, I'd try solve it as your suggestion.

[2019-02-26 11:38] tonihei commented on #5538
Duplicate of #3163

[2019-02-26 11:38] #5538 closed, assigned to tonihei

[2019-02-26 11:39] tonihei commented on #5538
We are working on supporting this feature and it should be part of the upcoming 2.10 release.

[2019-02-26 14:41] ZygmuntMalek opened #5568 "Widevine cenc mp4 Playback fails on Nexus Player"
### Issue description
Encrypted Widevine cenc mp4 Playback fails on Nexus Player

### Reproduction steps
ExoPlayer demo app with media.exolist.json pointing to content uri and drm_license_url
repro rate: 100%

Orginal media.exolist Widewine examles for mp4 (h264, h265) could be played without issue, but after issue try to play our content, playback examples for mp4 h264 also failing and there is n

[2019-02-26 15:18] dhaval-sunflowersolutions commented on #5516
I am facing the same issue. Do we have any update?

[2019-02-26 15:38] marcbaechinger commented on #5516
Thanks for the bugreport. When looking into it I found these lines just before the exception:

[code]

It seems like the codec is running out of capacity. It's not obvious what the reason is. I searched our internal codebase and haven't found that error message (the word 'bacause' would be pretty obvious). So this message comes from the OEM implementation.

Codecs are shared resources on a device,

[2019-02-26 15:41] marcbaechinger commented on #5516
@dhaval-sunflowersolutions Can you elaborate on "the same issue"? :) Same device, same codec, same error code, identical stack traces?

Can you please send a bug report like AnjliPatel sent us? (see comments above)

[2019-02-26 15:45] marcbaechinger commented on #5557
Is this a stream content protected with DRM?

[2019-02-26 16:00] AndroidDeveloperLB opened #5569 "Question: Is it possible to copy file from cache?"
I know it looks similar to this question:
https://github.com/google/ExoPlayer/issues/2711
But I think it's a bit different question nevertheless.

Suppose I have a screen that allows the user to choose from a list of sound-urls, and each clicking on an item plays it while using `SimpleCache` class:
[code]

Now, when the user has finally chosen a url (for later usage) and exited the screen, I want

[2019-02-26 17:04] petersamokhin commented on #5557
@marcbaechinger

This is a stream content, but not protected with DRM.

[2019-02-26 17:07] ghost commented on #5494
Yes, I was able to find the java doc in Android Studio. I was looking the doc from web which is more convenient. I am new to ExoPlayer so I followed the developer guide [here](https://google.github.io/ExoPlayer/guide.html) . It is not only about lock screen image it is also about large icon on notification. I needed to download artwork asynchronously and update lockscreen image as well as notifica

[2019-02-26 17:42] tonihei commented on #5477
Closing as fixed.

[2019-02-26 17:42] #5477 closed, assigned to tonihei

[2019-02-26 17:44] tonihei commented on #5475
Closing as answered.

[2019-02-26 17:44] #5475 closed, assigned to tonihei

[2019-02-26 17:44] tonihei commented on #5468
Closing due to lack of further information.

[2019-02-26 17:44] #5468 closed, assigned to tonihei

[2019-02-26 19:14] raikk opened #5570 "How to add custom own video ads (mp4) in ImaAdsLoader?"
I am trying to add my own video url ads of mp4 or any format (e.g lenght of 10 to 20sec) in Exo Player.
IMA ads is working and trying with custom video url.
I was trying the code from many  git issues but not able to implement it.
Please suggest some example code. i am trying to implement in DashMediaSource.

[2019-02-26 19:28] ciaranodc opened #5571 "Build MediaSource from ByteArrayDataSource without the need for any Uri"
I am aware there are similar questions on this forum (e.g. [#4149](https://github.com/google/ExoPlayer/issues/4149)) but I still can't solve my problem. I have read through ExoPlayer documentation but I can't see how to do this or if it is possible.

I am retrieving an audio file over NDN (http://named-data.net) which does not use URIs. It comes down as an NDN Blob object which then gets converted

[2019-02-26 23:17] paf-wv commented on #3775
Thanks @RalphSleighC4  for the update. We'll close as not reproducible.
It is probable that there was  fix that went out from the manufacture.

[2019-02-26 23:17] #3775 closed, assigned to workspace

[2019-02-27 07:11] AnjliPatel commented on #5516
Thanks @marcbaechinger
I have solved my issue,
there was a resource release problem, after releasing resources its works fine.

[2019-02-27 07:45] tangmingscau commented on #5540
Usually an audio file has MD5 field, so can you add MD5 check in the cache module? If the check fails, inform the upper layer and let the upper application do the corresponding processing. I thought I would change it directly, but there are too many changes, for fear of bigger problems, I hope I can officially support this change.

Here is the response of the network request

  | HTTP/1.1 200 OK
-

[2019-02-27 08:27] gikahei opened #5572 "README's java 8 kotlin compile setting causes compile issue"
As the README said, if I want to use Java 8 features in my code, the following additional options need to be set:
[code]
But kotlin has compile issue when targeting to jvm 1.8: https://youtrack.jetbrains.com/issue/KT-19968
As the issue said, kotlin will generate some code only available since Android N when targeting to 1.8. And it will crash in the device below Android N because of `NoSuchMethodE

[2019-02-27 08:38] icetronics commented on #5485
Dear @ojw28, could you please take a moment to ponder on the above? Thanks in advance

[2019-02-27 09:19] Romantic-LiXuefeng opened #5573 "CacheUtils: Cache a task with priority"
Before filing a bug:
-----------------------
My user case:  A playback task with priority `PRIORITY_PLAYBACK`, and at same time, a background
task with priority `PRIORITY_DOWNLOAD`.

- When the playback task's state is buffering, the background task thread waiting.
- When the playback task's state becomes ready, notify the background task thread continue loading.

As the state of the playback task

[2019-02-27 09:26] tuesda commented on #5406
OK，thks your support

[2019-02-27 09:27] LittleSunZ opened #5574 "This resource has been playing intermittently"
The address is
http://lhttp.open.qingting.fm/live/4979/24k.mp3?app_id=openapi&device_id=867451023307124&ts=5c76b000&sign=d326d94f42b83c0d505f2d6195079b80，
This resource has been playing intermittently，
How to solve？

[2019-02-27 10:39] tonihei commented on #5551
`player.getNextWindowIndex()` may return `C.INDEX_UNSET` if the current window is the last one. I guess that is what is happening here. If you attempt to seek to `C.INDEX_UNSET` it will throw an `IllegalSeekPositionException`.

[2019-02-27 12:12] sravan1213 commented on #5507
@marcbaechinger @andrewlewis is there any update on this issue. If this not in your priority list could you please guide me in helping where to look in source code to fix this.

Thanks in advance.

[2019-02-27 12:24] wazerstar commented on #5491
@marcbaechinger Would there be any timeframe on when this could be looked at?

Regards.

[2019-02-27 14:01] psycomani commented on #5566
I am trying to play m3u8 link , too

but exoplayer fails to play them, i dont know why.
and im not getting any response on my issue posted 3 days ago.

[2019-02-27 14:41] AquilesCanta commented on #5566
Deleted unrelated comment.

[2019-02-27 14:42] perracodex opened #5575 "Possible DeadLock when releasing SimpleExoPlayer"
### Issue description
In version 2.9.6 I started to experience randomly what seems to be a DeadLock when releasing the player.
The way I release the player is very straightforward,  just a call to the SimpleExoPlayer’s release method in the activity onStop().
When the application freezes, by pausing all threads I can see that the main thread is waiting in the wait() call within ExoPlayerImplIntern

[2019-02-27 14:51] AndroidDeveloperLB commented on #3923
I've noticed such an issue too. Using v2.9.5 of ExoPlayer, and noticed on Pixel 2 with Android P. The bug is very similar: play a video that is muted. Have an outgoing call. End call. Go back to app which should call `playWhenReady = true`.
Is there a workaround? Does it occur on all Android versions and devices?
I think this should work, that each time

            player!!.volume = 1f

[2019-02-27 15:35] perracodex commented on #5575
**Update:**
After further testing it seems that the issue only happens with a specific type of recording.
Find attached a video sample. Don't expect any image, the video is black and without sound. Is just for testing purposes. Is a video recorded using the android MediaRecorder with a time-lapse Camcorder profile, setting the recording rate at 30fps and capture rate at 90fps:

[test video.zip](ht

[2019-02-27 16:13] marcbaechinger commented on #5557
Ok, thanks. I'm not sure whether the fragment is using a textureView vs. a surfaceview and whether you can tell the fragment to use a one or the other.

However, can you please test and reproduce the behaviour on a ATV device? Once you've done this it would be best to do a bugreport right after you've done this. This will give us some more insights specifically around what API version and device y

[2019-02-27 16:22] rajeshghosh1978 opened #5576 "Playback failed after new key request with Multi Key and Key rotation server setting"
We use Widevine DRM together with ExoPlayer. Our DRM policy support multi key with key rotation. Based on the documentation (https://google.github.io/ExoPlayer/drm.html) we have to pass multiSession true while constructing DefaultDrmSessionManager, since we are supporting Key Rotation . But using that we are getting a black screen in every 3 seconds in LTE mode (Not happening with Wifi).

Then in

[2019-02-27 19:23] AquilesCanta commented on #5562
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-02-27 19:23] #5562 closed, assigned to AquilesCanta

[2019-02-27 19:27] AquilesCanta commented on #5569
@erdemguven, would you kindly look into this?

[2019-02-27 19:28] AquilesCanta commented on #5570
@andrewlewis, would you kindly look into this?

[2019-02-27 19:45] AquilesCanta commented on #5571
What keeps returning null?

You don't need to remove the need for the Uri. You should be able to pass an empty uri.

Probably unrelated, you don't need to/shouldn't open the data source. So basically you should remove the

[code]

block, plus use something like `Uri.EMPTY` for the createMediaSource invocation.

Please also provide a bugreport captured briefly after trying to play your content. The

[2019-02-27 19:49] m-franco opened #5577 "Bug in ExoPlayer with incomplete dash manifests"
I can't reproduce some drm contents in Exoplayer 2.9.0 and higher (2.9.6 included).
In the playerActivity the player fall in the OnPlayerError event, with the message Invalid UUID.

Debbuging the code, I saw there is a crash with the parse of the manifest.

Profiling app with the 'Profiler Tool' sniffing the requests and the responses, I noticed that in the response the manifest is arriving incomp

[2019-02-27 19:51] AquilesCanta commented on #5564
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

I'll need to reproduce the issue somehow to help with this. I am not sure I understand what switching media source means. If you mean either seeking to a different window or repreparing the player, then t

[2019-02-27 19:58] AndroidDeveloperLB commented on #5569
@AquilesCanta

For now, what I did is as such:

[code]

Is it correct? Or I can't really use it this way?

[2019-02-27 21:36] erdemguven commented on #5569
It's highly discouraged to access cache files directly. ojw28's response in #2711 is still true and right way to get the cached data.

[2019-02-27 21:42] AndroidDeveloperLB commented on #5569
@erdemguven It seems very unclear to me, and I can't write there to explain.
Can you please provide a sample for how to do it?
Given the URL of the audio (or video on other cases), how can I get the file from the cache and copy/move it to somewhere more stable ?

[2019-02-27 21:45] AndroidDeveloperLB commented on #5569
@erdemguven If the URL is of a file we have control of, and I've reached a phase that the player won't need to use the cache anymore (since in my case the user is supposed to choose an item, but he already finished), can I assume that if the file exists, it's ready to be read from ?

[2019-02-27 22:01] szaboa commented on #5529
@ojw28, I've created an initial pull request.

Should I add the scheme also, or just the value is enough? If needs scheme, then should I add a `Descriptor`?

Currently we add the value to the `Format` only if it has `urn:mpeg:dash:role:2011` as scheme, or `urn:tva:metadata:cs:AudioPurposeCS:2007` - in this case the value can be only 1 or 2.

Not sure how it would be the best, but the easiest would

[2019-02-28 01:43] #5574 closed, assigned to nobody

[2019-02-28 02:39] ciaranodc commented on #5571
Hi Aquiles. I updated my method as per you suggestions and my mediaSource that I return at the end of the method is no longer null! So this proves a valid Uri is NOT required to build the MediaSource. Thanks for your help!

    private MediaSource createMediaSourceFromByteArray(byte[] data) {
        ByteArrayDataSource byteArrayDataSource = new ByteArrayDataSource(data);
        DataSource.Factor

[2019-02-28 02:39] #5571 closed, assigned to AquilesCanta

[2019-02-28 02:42] HappyGhostz opened #5579 "when playing a local ts file ,Seekto will produce Caton."
### [REQUIRED] Question
when playing a local ts file ,Seekto will produce Caton.
I have a ts local video file. When I play it with exoplayer, I use the seekto method to get stuck for a second or two. I want to know the cause of this problem.
this my exoplayer
[code]

[2019-02-28 02:43] HappyGhostz commented on #5579
[code]

[2019-02-28 03:59] ashj11 opened #5580 "HLS plays without audio"
### [REQUIRED] Content description
The HLS link given below, plays in Exoplayer without audio. VLC player is able to play the video with audio.
The content link below is valid for 90 days.
https://github.com/google/ExoPlayer/issues/71 shows that Exoplayer supports HLS auth MPEG audio, so i assume, this particular HLS Stream should be supported as well.

### [REQUIRED] Link to test content
https://

[2019-02-28 06:23] star-andy commented on #5564
I'm really sorry that I can't demo this problem again, it just happened by accident

[2019-02-28 07:13] userdimi opened #5581 "Failed to find byte code for android/media/MediaDrm$OnKeyStatusChangeListener"
### [REQUIRED] Issue description
I have downloaded the latest Exoplayer version from github (2.9.6 -> branch = release v2)
When I try to run the demo application on any devices running on SDK 22 Android 5.1.1  (virtual or physical devices, I'm getting this error

`Failed to find byte code for android/media/MediaDrm$OnKeyStatusChangeListener`

### [REQUIRED] Reproduction steps
Checkout latest exopl

[2019-02-28 07:55] AntonAndev opened #5582 "playback problems after upgrade"
Hello,

[REQUIRED] Issue description
I updated the ExiPlayer library version to 2.8.4 as the last one, about which the Gradle informs,
 from 2.4.4 for playing live HLS streams. After that, I began to receive complaints from users of some devices, mainly from TV set-top boxes.

The user of device H96Pro reported a problem:
Couldn't create decoder for OMX.amlogic.avc.decoder.awesome.
The user of dev

[2019-02-28 10:08] hafiz013 commented on #5551
that's why exoplayer do not have exception try n error at least avoid the apps crashing.

[2019-02-28 10:09] AquilesCanta commented on #5564
I'll close for now. Make sure you fill the issue template if you have to create a new issue. It's also extremely helpful if you can reproduce in the demo app.

[2019-02-28 10:09] #5564 closed, assigned to AquilesCanta

[2019-02-28 10:15] tonihei commented on #5551
I don't understand what you are trying to say. Throwing an exception is the usually the right thing if the application code calls a method with invalid parameters.

[2019-02-28 11:23] AntonAndev commented on #5582
With help from 2 users with devices X92 and Beelink GT1 Ultimate we have found following:
this problem with video codec occurs after showing Admob interstitial ads if we close ads by tapping back button. **There is some problem with ExoPlayer reinitialization**. Before showing ad OnPause() and OnStop() are called. We destroy ExoPlayer. After showing ad we recreate ExoPlayer in the OnResume() metho

[2019-02-28 11:39] andrewlewis commented on #5582
It sounds like resources may not be getting released before the app resumes. I'll follow up with the AdMob team to check how they release resources.

If you can get the output of `adb bugreport` just after the error that might help confirm this is what's going on. You could also try introducing a pause before trying to initialize the player as a workaround.

[2019-02-28 11:44] AquilesCanta commented on #5563
What ExoPlayer version are you using?

[2019-02-28 11:48] AntonAndev commented on #5582
Hello Andrew. One user also found an interesting moment. If he closes ad by pressing Back button, he has codec issue, if he close ad by pressing X button, no problem with codec

[2019-02-28 11:48] AquilesCanta commented on #5567
Not out of the box. For the volume, you can use Player#setVolume. For brightness, you'll have to do some research. Someone has already asked about this in #2450. Good luck!

[2019-02-28 11:48] #5567 closed, assigned to AquilesCanta

[2019-02-28 11:50] AquilesCanta commented on #5568
Hi, I'll reopen the issue once content is provided. Please update below.

[2019-02-28 12:03] AquilesCanta commented on #5572
I think that part of the README may be wrong. I'll do some reaserch and update here once I have any news.

[2019-02-28 12:18] AntonAndev commented on #5582
Also it depends on type of ad which was displayed.

[2019-02-28 13:50] AquilesCanta commented on #5572
Hi @gikahei, would you kindly try removing
[code]

from your build.gradle file?

I have just created a kotlin project from scratch, depending on

`implementation 'com.google.android.exoplayer:exoplayer:2.9.6'`

and playing an mp4 file from a URI.

The only special change I had to do was adding:

[code]
to my `build.gradle` file. Please let me know whether this works for you and I'll remove that en

[2019-02-28 14:09] AquilesCanta commented on #5573
At what point are you making the cache thread wait?

In other words, from what you explain above, i'd expect something along the lines of

[code]

But I don't see where that's happening. Can you clarify. It would also help if you removed any irrelevant piece of code in the sample.

[2019-02-28 14:16] AquilesCanta commented on #5575
Have you seen #4352? I'll close under the assumption that this is a duplicate of that issue.

If you don't think it's a duplicate of this issue then please provide an explanation and I'll reopen.

[2019-02-28 14:16] #5575 closed, assigned to AquilesCanta

[2019-02-28 14:24] perracodex commented on #5575
It seems to be same issue. Though I would like to point out in case it helps, that with the sample recording I've attached in my the last comment I'm able to get the ANR very regularly, just after a few plays, though only in a Nexus 6 API 7.1.1.
I get no problems at all when using instead a regular video or the attached sample in a Nexus 5X 8.1.0.

Thanks

[2019-02-28 14:52] perracodex commented on #4352
I can reproduce it quite regularly with the attached sample after a few "play + exit the player" action on a Nexus 6 - API 7.1.1. The sample recording shows no problems in other devices and Android versions.

About the attached sample, it isn't a regular video. Don't expect any image or audio. The video content is dark and is just for testing purposes. It has been recorded using the Android MediaR

[2019-02-28 15:18] AquilesCanta commented on #5576
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-02-28 15:18] #5576 closed, assigned to AquilesCanta

[2019-02-28 15:32] AquilesCanta commented on #5577
As far as I can tell, the issue is pretty obvious from the logcat message: the default_KID value is not correctly formed. A UUID is expected, whereas the existing value [does not contain any groupings](https://en.wikipedia.org/wiki/Universally_unique_identifier), it is just a plain string. If I remove the default_KID value from the manifest the content plays correctly. I think default_KID parsing

[2019-02-28 15:32] #5577 closed, assigned to AquilesCanta

[2019-02-28 15:36] AquilesCanta commented on #5579
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-02-28 15:36] #5579 closed, assigned to AquilesCanta

[2019-02-28 15:36] AquilesCanta commented on #5579
Once the missing information is provided, I'll reopen. Specially important here is the sample content.

[2019-02-28 16:45] AquilesCanta commented on #5580
This is a duplicate of #5537.

[2019-02-28 16:45] #5580 closed, assigned to AquilesCanta

[2019-02-28 17:07] AquilesCanta commented on #5581
Hi, I have just cloned the repo and checked out 2.9.6 and successfully played a DASH video on a Nexus 5 emulator running API 22.

Fingerprint: Android/sdk_google_phone_x86/generic_x86:5.1.1/LMY48X/5056529:userdebug/test-keys

If you can provide steps to reproduce the issue, including fetching the code from the repository, I'll reopen the issue. Cloning, checking out 2.9.6 and running the demo app

[2019-02-28 17:07] #5581 closed, assigned to AquilesCanta

[2019-02-28 18:01] jinfanzon opened #5583 "Restart m3u8 streaming, on error"
Hi - I'm developing an app that streams a live m3u8 (hls) stream. I'm being unable to always recover/restart the sream and keep playing on any error like BehindLiveException among others. I've achieved to restart the stream, but looks like not always it recovers. I need the app to indefinitely retry to play the stream until it starts.

### [REQUIRED] Searched documentation and issues
My first impl

[2019-02-28 18:27] #5583 closed, assigned to AquilesCanta

[2019-02-28 18:30] jinfanzon opened #5584 "Restart streaming on player error"
### [REQUIRED] Searched documentation and issues
My first implementation on the stream recovery was based on the following posts:

* https://stackoverflow.com/questions/32005855/how-to-restart-video-on-exoplayer-after-exoplayer-state-ended
* https://stackoverflow.com/questions/43959176/how-i-get-exoplayer-to-resume-a-video-in-my-activitys-onstart-method
* #3490

### [REQUIRED] Question
I'd need a

[2019-02-28 21:19] m-franco commented on #5577
The "invalid UUID" message is a consequence of the problem of the manifest is not received completely because of the method that do the http petition. I can´t override the internal manifest parser, because the class that contains this method is inside Exoplayer library.

Could you show me an example solution?

[2019-02-28 22:37] harini113 opened #5585 "Expose MediaCodec metrics"
### [REQUIRED] Searched documentation and issues
I have searched through the code for on latest v2 release for use of getMetrics() API from MediaCodec and do not see it available.

### [REQUIRED] Question
I would like to know if the exoplayer codebase is planning on incorporating the getMetrics api available for mediaCodec
https://developer.android.com/reference/android/media/MediaCodec#getMetrics

[2019-02-28 22:53] ojw28 commented on #5485
I don't understand what you think needs fixing. If I remember correctly, the problem in the stream is exactly that `sample_is_not_snyc_sample` is *not* ending up set to 0 for every sample (when it should be).

As per my comment above, note that sample flags can be defined at multiple levels. You can't just stop at the `trex`. You need to check the `tfhd` and `trun` as well.

[2019-02-28 23:20] ojw28 commented on #5485
To provide a little more detail, in your stream, for the subtitle representation, right now, I'm seeing:

* The `trex` sets `default-sample-flags = 0`
* The `tfhd` defines `default‐sample‐flags‐present = true` and `default-sample-flags = 0x02000000`, overriding the defaults in the `trex`
* The `trun` defines `first‐sample‐flags‐present = true`, `sample‐flags‐present = false` and `first-sample-flag

[2019-02-28 23:30] ojw28 commented on #5485
Edited the response above to make more sense.

[2019-03-01 01:24] Romantic-LiXuefeng commented on #5573
1. Used the `PriorityDataSource`  with the background download task.
2. Used the `PriorityTaskManager` to manager the playback task and download task.

In `DefaultLoadControl`, if the playback task needs to continue loading, register the task with high priority to the  `PriorityTaskManager`,  when the cache task with `PriorityDataSource` start to read, it found exits high priority task, the cache

[2019-03-01 01:27] Romantic-LiXuefeng commented on #5573
I think that the sample don't have irrelevant piece of code.

[2019-03-01 01:47] Romantic-LiXuefeng commented on #5573
**CacheUtil.readAndDiscard()**
[code]
**PriorityTaskManager.proceed()**
[code]
**DefaultLoadControl.shouldContinueLoading()**
[code]
I add logs at these points.

[2019-03-01 01:51] gikahei commented on #5572
Thanks @AquilesCanta , remove these code
[code]
works fine in my kotlin only project.
And I have the java 1.8 settings because of other library:
[code]
The compile issue only occurs when set `kotlinOptions.jvmTarget` to 1.8

[2019-03-01 02:02] EspoirX opened #5586 "On the 4.4 system, when there is Chinese in the song link, a 404 error will be reported. What is the solution?"
![afe1d659b01dc52784ccb85aee5de31f](https://user-images.githubusercontent.com/16240767/53611404-64801a80-3c09-11e9-8ed8-3f86008468a0.png)

[2019-03-01 04:22] jhnbwrs commented on #5166
This actually works with Shaka player just so you know.   I know the API's are different for web vs native and maybe there is nothing you can easily do, but you might look at what they did and consider if you can do something similar or provide some sort of solution here.  We have the same issue switching to HD on an L3 device.   Security level 4 is required by our Policy for HD, and having playba

[2019-03-01 06:41] JeanCarlosChavarriaHughes commented on #5582
@Andevity  curious about the codec issue. Can you please provide the full stack trace or debug logs of the codec issue) ?. Some time ago I remember to have seem a similar issue in FireTV (No the same Exo player core but very similar).

[2019-03-01 07:02] musooff commented on #5563
I am using 2.8.2 version of ExoPlayer

[2019-03-01 07:18] hafiz013 commented on #5551
what I mean is that if I call method with invalid parameters there is must exception so that this exoplayer could not make apps crash. This crash happen for starting only the rest follow same steps it is not crash anymore.

[2019-03-01 07:41] HappyGhostz commented on #5579
[REQUIRED] Issue description
Describe the issue in detail, including observed and expected behavior.
when playing a local ts file ,Seekto will produce Caton.
I have a ts local video file. When I play it with exoplayer, I use the seekto method to get stuck for a second or two. I want to know the cause of this problem.

[REQUIRED] Reproduction steps
First download a ts file, then use exoplayer to pl

[2019-03-01 07:43] HappyGhostz commented on #5579
This is  my Exoplayer

[code]

[2019-03-01 07:46] HappyGhostz commented on #5579
@AquilesCanta  Thank you

[2019-03-01 08:08] naimishvinchhi commented on #5433
Clickable in version 2.9.5. Thanks!

[2019-03-01 08:26] andrewlewis commented on #5582
@Andevity The workaround suggestion from the AdMob team is to post player initialization to the main thread, instead of doing it directly in the lifecycle method. (After closing the ad various cleanup tasks have been queued on the main thread and posting will ensure player initialization happens after they've run.)

[2019-03-01 08:42] andrewlewis commented on #5585
Looks like Toni is planning to look at this [internal: b/77251770].

It's not the same as MediaCodec metrics, but, for what it's worth, we do already expose some information about decoding metrics already via `SimpleExoPlayer.getVideoDecoderCounters` (ditto for audio) and the decoder counters are also passed to `AnalyticsListener.onDecoderEnabled`.

[2019-03-01 09:01] tonihei commented on #5585
We were particularly working on adding the decoder latency metrics (min/max/average), both overall and for "recent" samples. Would that be sufficient for what you'd like to achieve?

[2019-03-01 09:06] tonihei commented on #5551
Are you saying that `player.getNextWindowIndex()` is `C.INDEX_UNSET` but it shouldn't? Or that `player.getNextWindowIndex()` is not `C.INDEX_UNSET` and `seekTo` still throws?

In any case, it would be good if you can provide more detailed reproduction steps so that we can better understand the problem.

[2019-03-01 09:36] rspapneja opened #5587 "getDuraton() method always return -1 How can i solve this problem"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-03-01 09:42] hafiz013 commented on #5551
step to reproduce the error:
1) When first time install the apps and i try to open the music with shuffle mode it is straight away crash by using this function :
`musicPlayer.setShuffleModeEnabled(true); musicPlayer.seekTo(musicPlayer.getNextWindowIndex(), C.TIME_UNSET);`
2) Then i reload and open the apps again, I do same things which is click shuffle mode but this time no more crash happen.

For

[2019-03-01 09:45] rspapneja opened #5588 "get Duration() of player method always returns -1 How can i solve this issue"
get Duration() of player method always returns  -1 How can i solve this issue
Link: https://open.http.mp.streamamg.com/p/3000464/sp/300046400/playManifest/entryId/0_dt6h9rus/format/applehttp/protocol/https/uiConfId/30012740/a.m3u8

[2019-03-01 09:48] tonihei commented on #5551
I still think you are calling `seekTo` while `getNextWindowIndex` is still unset. For example because you haven't called `player.prepare` yet or the the current window is the last one after enabling the shuffling mode. Please ensure that there actually is a next window before trying to seek to it.

[2019-03-01 10:17] jacek-marchwicki commented on #5537
@AquilesCanta thank you for your very quick reply - it was very helpful to find the source of the issue. The issue is confirmed by the encoder provider, but probably we can't expect it will be fixed.
We still don't have plans on how to solve the situation. If we decide to add a patch to ExoPlayer to support such a broken video file, are you considering acceptance of such a pull-request?

[2019-03-01 10:43] AquilesCanta commented on #5584
I'll split the answer in two parts:

The `LoadErrorHandlingPolicy` is supposed to handle [Loader](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/upstream/Loader.html) errors. Loaders are used to download any resource, so the load error handling policy may get errors like 404s or FileNotFoundExceptions. I think the best place to start with the load error handling pol

[2019-03-01 10:43] #5584 closed, assigned to AquilesCanta

[2019-03-01 10:49] AquilesCanta commented on #5577
You can inject a custom DashManifestParser using [DashMediaSource.Factory#setManifestParser](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/dash/DashMediaSource.Factory.html#setManifestParser-com.google.android.exoplayer2.upstream.ParsingLoadable.Parser-).

Do you have any evidence that supports this:

?

[2019-03-01 10:51] AntonAndev commented on #5582
@andrewlewis I did it as in the example project. I am afraid to do something wrong. Could you please provide an example how to initialise and to destroy?

[2019-03-01 10:52] AquilesCanta commented on #5587
Please don't file duplicate issues.

[2019-03-01 10:52] #5587 closed, assigned to AquilesCanta

[2019-03-01 11:02] AquilesCanta commented on #5588
Playing the provided content correctly yields 6 seconds as media duration.

I added logging like so:

`System.out.println("Duration is: " + player.getDuration());`

Which outputs:

`/com.google.android.exoplayer2.demo I/System.out: Duration is: 6000`

I will close this issue as working as intended. Please clarify below if I misunderstood something and I will reopen.

[2019-03-01 11:02] #5588 closed, assigned to AquilesCanta

[2019-03-01 11:04] AquilesCanta commented on #5586
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-03-01 11:04] #5586 closed, assigned to AquilesCanta

[2019-03-01 11:20] AquilesCanta commented on #5579
Would you kindly provide sample content?

[2019-03-01 11:27] AquilesCanta commented on #5537
Hi @jacek-marchwicki, I would recommend against going through the work of creating a pull request straight ahead.

If you have an idea of how to fix it, please give me a quick overview. I'll give you my opinion, and then we can see what the best approach is. We may be able to provide you with hooks to fix it on your side with minimal code.

I cannot think of an in-library solution that wouldn't co

[2019-03-01 14:10] AquilesCanta commented on #5454
Closing due to lack of activity.

[2019-03-01 14:10] #5454 closed, assigned to AquilesCanta

[2019-03-01 14:11] AquilesCanta commented on #4964
Internal ref: b/74587087

[2019-03-01 15:08] AquilesCanta commented on #5572
We are currently discussion the approach we will take on this. I have commented on https://youtrack.jetbrains.com/issue/KT-19968. Thanks for reporting.

[2019-03-01 16:49] czrml commented on #4352
We are facing this same issue on version 2.9.4 of ExoPlayer, unlikely described above, we didn't have any errors on Android versions 7.0 and above, but this is likely because of our user base. We noticed that this happens on certain streams, notably a `h264 (High), yuv420p(progressive), 960x1080 [SAR 2:1 DAR 16:9], 30 fps, 30 tbr, 90k tbn, 60 tbc` (as indicated by `ffprobe -I`).

Is there any news

[2019-03-01 17:45] harini113 commented on #5585
Hi Toni,

Thanks for the reply. I was hoping for the same info as what we get when we
use getMetrics() API with google's mediaplayer getMetrics() api. Sample
logs from my MediaPlayer log.

<DurationMS>178701ms</DurationMS>
<Dropped>0</Dropped>
<VideoCodec>zz.yyy.zzz.avc</VideoCodec>
<AudioCodec/>
<Width>1920</Width>
<Height>1088</Height>
<VideoMime>video/avc</VideoMime>
<Frames>5358</Frames>
<Play

[2019-03-02 08:22] Behrouz-m commented on #5234
U can use these dependencies too:
[code]

[2019-03-02 16:56] fathallah1990 opened #5589 "seekToDefaultPosition() not executed when LoopingMediaSource"
ConcatenatingMediaSource concatenatingMediaSource = new ConcatenatingMediaSource();
        for (int i = 0; i <= suraLength; i++) {
            MediaSource mediaSource = buildMediaSource("url");
            LoopingMediaSource loopingMediaSource = new LoopingMediaSource(mediaSource, 4);
            concatenatingMediaSource.addMediaSource(loopingMediaSource);
        }
mp.seekToDefaultPosition(3);

[2019-03-03 08:21] prakash-khandelwal opened #5590 "Widewine DRM catch-up content not playing"
We are having a single live channel dash stream which plays a live content when played directly and catch-up content when sending a **begin** and **end** time parameters. Content is encrypted with widewine drm.
When we try to play live content, it decrypts and plays seamlessly without any issues but when we try to play catch-up content, exoplayer is failing playback and giving below error log with

[2019-03-03 13:03] HimanshuNarang commented on #4343
If i perform player.prepare(mediaSource) when onPlayerError and it will get an infinity loop.

[2019-03-03 14:04] ojw28 commented on #5529
When I said we should stick to well defined values, what I really meant was that `role` and `accessibility` should be integers that have their allowed values defined by `IntDef`s. We don't want strings where it's unclear what the allowed values are.

The `IntDef`'s themselves should probably live in the `C` class. I'd propose we initially define values corresponding to what DASH-IF IOP allows. So

[2019-03-03 14:46] szaboa commented on #5529
I see, I am on it.

[2019-03-03 15:50] szaboa commented on #5529
In ISO-23009-1:2014 - 5.8.5.5 DASH role scheme, I can't find `ROLE_EMERGENCY `and `ROLE_SIGN`. Where did you find those? Also I can't find the accessibility values.

However, the standard says this:

For both role and accessibility, should we have an int array inside just parsing the first one?

[2019-03-03 15:59] szaboa commented on #5529
Ok, I found it in https://dashif.org/docs/DASH-IF-IOP-v4.2-clean.htm.

[2019-03-03 16:49] szaboa commented on #5529
Not sure how to map value "1", "2" of `urn:tva:metadata:cs:AudioPurposeCS:2007` to one of these `ACCESSIBILITY_UNSET`, `ACCESSIBILITY_ENHANCED_AUDIO_INTELLIGIBILITY`, `ACCESSIBILITY_DESCRIPTION`, `ACCESSIBILITY_CAPTION`, `ACCESSIBILITY_SIGN`.

"1" stands for for the visually impaired, and "2" is hard of hearing.

I didn't find any docs which says what are the correspondent values of these in `urn:

[2019-03-03 18:30] yunusalam opened #5591 "Please embed codec audio/mpeg-L2, because many device not have this codec"
Before filing a feature request:
-----------------------
I have searched, but found this features request.

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

[2019-03-04 02:44] HappyGhostz commented on #5579
a specific ts file or an exoplayer sample program？

[2019-03-04 06:37] ojw28 commented on #5591
I think you can already do this with the FFmpeg extension, however there's some extra work involved to build it. Build instructions are [here](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg). As per the [supported formats page](https://google.github.io/ExoPlayer/supported-formats.html), you should use `--enable-decoder=mp3` when building (I think the FFmpeg MP3 decoder inclu

[2019-03-04 06:37] #5591 closed, assigned to ojw28

[2019-03-04 07:14] floschu commented on #55
Are there any updates?

[2019-03-04 08:03] ojw28 commented on #5529
I'm looking in a draft third edition of 23009-1. "sign" is:

"emergency" is:

to enable the protection of life, health, safety, and property, and may also include
critical details regarding the emergency and how to respond to the emergency.

I'd prefer to define the `IntDef`s with `flag = true` and then OR in more than one into the value, if present. I hope there will never be more than 32 of them

[2019-03-04 08:04] ojw28 commented on #5529
Let's move all further discussion to the pull request, to avoid splitting the conversation. Thanks!

[2019-03-04 08:46] ojw28 commented on #5166
There's no requirement that this is your end user app experience, since you have all the information you need to avoid ending up in this state (i.e. you can query the device to determine whether it's L1 and L3, and you know what your license policies are).

My interpretation of that thread is that it works correctly on API level 23 and above, and most likely blanket limits to SD on API level 22 an

[2019-03-04 09:54] tonihei commented on #5585
I think you can obtain all mentioned information by other means already.

DurationMS - `player.getDuration()`
Dropped - listen to `AnalyticsListener.onDroppedVideoFrames`
VideoCodec/AudioCodec - listen to `AnalyticsListener.onDecoderInitialized` and parameter `decoderName`.
Width/Height/VideoMime - listen to `AnalyticsListener.onVideoSizeChanged` or `AnalyticsListener.onDownstreamFormatChanged`.
P

[2019-03-04 10:16] meenukrishnamurthy commented on #4130
Any update on this??

[2019-03-04 10:18] AquilesCanta commented on #5579
A TS file that reproduces the issue in the demo app.

[2019-03-04 10:19] ojw28 commented on #5563
It looks to me like this should already happen, since we close the shutter when video is disabled ([here](https://github.com/google/ExoPlayer/blob/r2.8.2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java#L1021)). Have you done anything special to your `PlayerView`? For example providing a custom layout, removing the shutter, or changing the shutter color?

If you disable vi

[2019-03-04 11:17] tonihei commented on #5589
That's indirectly caused by #5155 and not easily fixed until #5155 is resolved. A simple workaround is to not use `LoopingMediaSource`, but rather add the sources directly to the `ConcatenatingMediaSource` like that:
[code]

[2019-03-04 11:19] tonihei commented on #5589
I'll close the issue as duplicate because it will be auto-fixed when #5155 is resolved and there is an easy workaround for this specific case.

[2019-03-04 11:19] #5589 closed, assigned to tonihei

[2019-03-04 14:10] marcopistone commented on #3877
Hi, any news from this feature?

[2019-03-04 17:03] andrewlewis commented on #5582
I think the suggestion is to do something like:

[code]

... instead of calling initializePlayer directly. The hypothesis is that somehow AdMob's cleanup tasks end up being queued on main thread after your `onResume` lifecycle method is queued. For the record, properly fixing the issue by having the ad player releasing synchronously on the main thread is tracked by [internal: b/127281295].

[2019-03-04 17:23] ojw28 commented on #5590
It's almost certainly the case that they're simply not generating a valid DASH manifest when you're setting the begin and end parameters. We've seen a lot of issues where content providers will generate DASH manifests that don't have their timelines setup correctly when doing this kind of thing.

[2019-03-04 17:25] ojw28 commented on #5590
Deleted unrelated comment (sorry). Still, this is most likely a content issue. Without being able to look at the content, there's not a whole lot we can do to help.

[2019-03-04 18:37] NathanSass commented on #5454
Hey @AquilesCanta we've made some changes on the backend and I think we have better precision. So I am no longer seeing these issues. Which is great!

Could you answer one question for me?:

What is the relationship between Player.STATE_BUFFERING and isLoading in onPlayerStateChanged and onLoadingChanged?

thanks!
Nathan

[2019-03-04 22:54] mhajhassan opened #5592 "show all audio tracks in one dialog"
How can I show the audio track in one [dialog], when I have a video with 2 audio tracks, the app will create 2 buttons in debugRootView,  for each audio track, this has been tested in the demo app.

![screenshot_1551739306](https://user-images.githubusercontent.com/20266380/53767934-a0e89a80-3ed7-11e9-8c65-7d877097585b.png)
![screenshot_1551739311](https://user-images.githubusercontent.com/2026638

[2019-03-05 01:15] Romantic-LiXuefeng commented on #5573
@AquilesCanta  Did you already had the time to look into this issue? Is there anything I can do to support you?

[2019-03-05 03:42] dushicai opened #5593 "video pause when pay to half but audio is normal"
When I play to a location where the video stream is damage , lead to video pause but audio is normal
(damage video track length about 2 seconds,MediaPlayer can play it normal and mosaic will appear)
How to fix this problem?

Media Info:
 Duration: 00:04:58.33, start: 1.466667, bitrate: 3080 kb/s
  Program 1
    Metadata:
      service_name    : LIVE
      service_provider: KSYUN
    Stream #0:0[0x

[2019-03-05 05:50] mindfields5 commented on #5003
Hi @tonihei! We discovered the hidden parameters of OMX as a result of reverse engineering.
This parameters allow you send video stream into hardware amlogic video decoder. This solves many problems, in particular - https://github.com/google/ExoPlayer/issues/5003

We are not sure that these parameters should be used by everyone, as a thorough check is needed.

Please, test this parameters on STB w

[2019-03-05 09:19] tonihei commented on #5003
@mindfields5 We can't help you debug issues with custom modifications of the system parameters. It also doesn't sound like a particularly good fix if it changes the playback speed of the video when you rewind?

[2019-03-05 09:31] #5592 closed, assigned to nobody

[2019-03-05 09:32] mhajhassan opened #5594 "Show all audio tracks in one view"
When filing a question:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Searched documentation and issues
I already looked in the documentation but didn't find how.
### [RE

[2019-03-05 09:34] mindfields5 commented on #5003
This is only problem we have discovered. You can specify these parameters on your STB using ADB.

[2019-03-05 10:01] AquilesCanta commented on #5454
I think the only relationship is that the player needs to load to get out of buffering state. So the javadocs are:

**STATE_BUFFERING**: The player is not able to immediately play from its current position. This state typically occurs when more data needs to be loaded.

**isLoading**: Whether the player is currently loading the source

All value combinations are valid ((not) buffering / (not) load

[2019-03-05 10:33] prakash-khandelwal commented on #5590
@ojw28 can you tell me what all details you would need? I would try from my side how much details I can provide without compromising the NDA.

[2019-03-05 10:51] mindfields5 commented on #5003
I uploaded a video where you can see problem. It is available at link - https://yadi.sk/i/yJ9SVWI5pENEpg

[2019-03-05 11:45] janeriksamsonsen opened #5595 "Playback of MPD never switches to a higher bitrate"
### [REQUIRED] Content description
Adaptive bitrate switching not working for Dash manifest. The video plays, but it's never switching to a higher bitrate. Using profiler in Android Studio it seems like the memory consumption is going up forever allocating a massive amount of byte[] objects (segments?). The buffer appears to be filling up without respecting its constraints. The memory issue can be

[2019-03-05 12:29] ojw28 commented on #5595
The content doesn't correctly adhere to the DASH timing model. This is also why the position displayed in the ExoPlayer demo app during playback is a huge value, where-as it should start from 0 and increase up to the stream duratoin of 35:01.

The particular problem is that the presentation timestamps in the media must start at 0 and increase up to 35:01, either because the media contains those ti

[2019-03-05 12:38] AlinaVoronkovaEpam opened #5596 "Multiple audio tracks are not displayed for selection for some of HLS multi audio assets"
### Content description
Since ExoPlayer ver r.2.9.4, for some HLS assets, multiple audio tracks are not seen.
The issue is tested on the demo project (with ExoPlayer r2.9.3 and r.2.9.4).

**Expected result**: the list of available audio tracks has two audio tracks for the asset I mentioned below.

**Actual result**: there is only one audio track for the asset.

**How to reproduce:**
- copy/paste t

[2019-03-05 12:40] ojw28 opened #5597 "Test issue"
### [REQUIRED] Content description

Description

### [REQUIRED] Link to test content

Test

### [REQUIRED] Version of ExoPlayer being used

Version

### [REQUIRED] Device(s) and version(s) of Android being used

Device

[2019-03-05 12:41] #5597 closed, assigned to nobody

[2019-03-05 12:41] janeriksamsonsen commented on #5595
OK, thanks, let me try and see if i can modify it programatically in real-time using a custom manifest parser. 👍

[2019-03-05 12:51] ojw28 commented on #5595
You should really be getting this fixed on the serving side.

[2019-03-05 12:53] ojw28 commented on #5590
There is little alternative but to provide a working test stream, if you want us to help.

[2019-03-05 12:54] tonihei commented on #5003
@mindfields5 It's a customization we can't help you with because changing system parameters via adb is not something we can do from our library anyway.

[2019-03-05 12:57] janeriksamsonsen commented on #5595
Absolutely. Can i ask you how you calculated presentationTimeOffset to 93670681020000?

[2019-03-05 12:57] tonihei commented on #5003
I'll close this issue again because the revert of the original fix has been pushed. If you find a way to target the max video size workaround to only the affected video streams, please let us know.

[2019-03-05 12:57] #5003 closed, assigned to tonihei

[2019-03-05 13:01] ojw28 commented on #5595
I attached a debugger and used it to get the presentation timestamp of the first sample in the stream.

If you're OK to assume that segments with $NUMBER$=0 start at t=0, then you can also calculate it from the manifest as `(@duration * @startNumber) = (20000000 * 4683535)`, which I think gives you the same value. There's no guarantee in the DASH timing model that this will be true, however.

[2019-03-05 13:03] janeriksamsonsen commented on #5595
OK, thanks again. I'll try to convince the backend guys that our dash-timings are not correct.

[2019-03-05 13:03] #5595 closed, assigned to nobody

[2019-03-05 13:07] ojw28 commented on #5593
We generally expect input to be well formed. What's the valid use case where you'd need to play corrupt content?

Please provide a test stream if you want us to take a closer look; there's not much we can do to help without one.

[2019-03-05 13:21] jhowens89 commented on #5486
Would it be possible to give a ballpark timeline on this issue? Not looking for anything concrete -- I've been watching this issue closely and pushing off my app's chromecast implementation after reading through the back and forth around the issues surrounding the old version. If it's still a bit off, that's fine, but I would be super grateful for that knowledge. Thanks!

[2019-03-05 13:49] AquilesCanta commented on #5486
Hi @jhowens89, sorry for all confusion and delays around this. Just before releasing this, we had a setback, and this release is suspended for now. I will resume work on the original CastPlayer, and I'll try to fix existing issues with the assistance of the Cast team. If we don't manage to get CastPlayer to properly implement Player in an acceptable timeline, we will revisit the possibility of rel

[2019-03-05 14:12] dushicai commented on #5593
file link:
https://space.dingtalk.com/s/gwHOAELdvgLOAHH5dgPaACBjZDNjZTkzYjcwNmE0YjhmYjYwMjBmYTQyNTRhOTQ3MA

Verification Code: ZsMZ

The error happen time: 3m1s
hanks your help😁

[2019-03-05 14:36] dushicai commented on #5593
https://share.weiyun.com/5lVsNlc

error happen time :3m1s

thank you😁

[2019-03-05 16:49] AntonAndev commented on #5582
Hello, I tried to add Handler, send new version to the user with Beelink GT1 Ultimate device, he said about same error with codec. How can we get all dump from user device?

[2019-03-05 18:12] ojw28 commented on #5596
Yes, this is indeed an issue. We'll take a look.

[2019-03-05 18:53] anilOVYO commented on #3750
I'm also facing this crash issue on exo 2.9.4
`java.lang.IllegalArgumentException
        at com.google.android.exoplayer2.util.Assertions.checkArgument(Assertions.java:39)
        at com.google.android.exoplayer2.source.CompositeMediaSource.prepareChildSource(CompositeMediaSource.java:102)
        at com.google.android.exoplayer2.source.ConcatenatingMediaSource.addMediaSourceInternal(Concatenatin

[2019-03-05 18:54] kvillnv commented on #5397
Hello,
I would like to know if you are going to make a fix for this?
All the devices tested so far have an issue.
Did you have any feedback from the media framework team?

[2019-03-05 21:09] erdemguven commented on #3877
Sorry, no updates. There is no plan to implement this in near future.

[2019-03-05 23:17] harini113 commented on #5585
Thanks Toni,

Can you aslo update the thread on an ETA of when the decoder latency
metrics are available. And if you can share info on
all getVideoDecoderCounters  apis that are available to use?

Thanks

Sri

On Mon, Mar 4, 2019 at 1:55 AM tonihei <notifications@github.com> wrote:

[2019-03-06 03:08] tanpuer opened #5598 "I want to get video frame_rate, ExoPlayer.getVideoFormat().frameRate is always -1"
But when is use MediaExtractor directly, I can get frame_rate is 24.
mMediaExtractor.setDataSource(file.toString())
        val numTracks = mMediaExtractor.trackCount
        for (i in 0..numTracks) {
            val mediaFormat = mMediaExtractor.getTrackFormat(i)
            val mime = mediaFormat.getString(MediaFormat.KEY_MIME)
            if (mime.startsWith("video/")) {
                mVideoT

[2019-03-06 03:09] tanpuer commented on #5598
By the way, can I get total video frames and current frame index?

[2019-03-06 03:30] dushicai commented on #5593
https://drive.google.com/file/d/1l0XuEfyrPsE-jg98kndVlpfzcqkKSmFH/view?usp=sharing
error happen time :3m1s
thanks

[2019-03-06 03:43] www586089 opened #5599 "When I try to pay this video, the screen blurred in sixth seconds.(Android 8.1 Pixl2)"
Issue description
When I try to pay this video, the screen blurred in the sixth seconds

Reproduction steps
first use mediamuxer to merge two video(a protrait video and a landscape video ), the
Just use code simpleExoPlayer = ExoPlayerFactory.newSimpleInstance(this); to create a player and play the merge video with this player.
I don't know why this happen, could you please help find why and what

[2019-03-06 07:26] haihack opened #5600 "Crash app after updating ExoPlayer to 2.9.6"
### Issue description
App crashes when I update ExoPlayer version from 2.8.4 to 2.9.6 and it occurs on android version 7.1 and 8.1 (I haven't tested on other versions but I worked normally on android 6)

### Code

[code]

### A full bug report captured from the device

[code]

### Version of ExoPlayer being used
2.9.6

### Device(s) and version(s) of Android being used
Android 7.1 & 8.1

[2019-03-06 08:55] motornyimaksym opened #5601 "Flac extension: Update build instructions to work with newer NDKs"
I follow this instruction and get https://github.com/google/ExoPlayer/tree/release-v2/extensions/flac.

[code]

[2019-03-06 09:03] ojw28 commented on #5598
This is not something we plan to support. What use case do you have for it?

We don't derive a frame rate unless it's specified in the container (or for adaptive content, the manifest that defines the stream), and have no plans to do so. What use case do you have for it?

If you're able to provide a piece of sample content then we can look to see whether the frame rate is specified in the containe

[2019-03-06 09:07] ojw28 commented on #5600
As of ExoPlayer 2.9.0 you need to enable Java 8 support in your app when using ExoPlayer. To do this, add the following to the `android` section of all `build.gradle` files that depend on ExoPlayer modules:
[code]
You can see an example in our demo app [here](https://github.com/google/ExoPlayer/blob/r2.9.6/demos/main/build.gradle#L21).

[2019-03-06 09:07] #5600 closed, assigned to ojw28

[2019-03-06 09:09] ojw28 commented on #5599
The test content doesn't play correctly in Chrome, Safari or VLC on my Mac, so I think the content is broken. Marking as such.

[2019-03-06 09:09] #5599 closed, assigned to ojw28

[2019-03-06 09:12] ojw28 commented on #5594
There is no requirement for you to use ExoPlayer's out of the box UI components, and you're free to build your own UI that does something different. Note that you can look at the source code for our UI components to see how they do things like querying and listing the available tracks, and then implement similar logic yourself that builds the UI you want.

This seems like more of a general questio

[2019-03-06 09:12] #5594 closed, assigned to ojw28

[2019-03-06 09:16] ojw28 commented on #5601
What version of the Android NDK are you using? And what version of ExoPlayer are you using?

[2019-03-06 09:21] ojw28 commented on #5544
Closing due to lack of further information.

[2019-03-06 09:21] #5544 closed, assigned to ojw28

[2019-03-06 09:21] ojw28 commented on #5533
Closing due to lack of further information.

[2019-03-06 09:21] #5533 closed, assigned to marcbaechinger

[2019-03-06 09:22] ojw28 commented on #5514
@andrewlewis - Can this be closed now, or is there something for us to do on our side? Thanks!

[2019-03-06 09:23] ojw28 commented on #5242
Closing due to lack of further information, and lack of other reports of this issue.

[2019-03-06 09:23] #5242 closed, assigned to ojw28

[2019-03-06 09:24] #5543 closed, assigned to andrewlewis

[2019-03-06 09:24] #5368 closed, assigned to ojw28

[2019-03-06 09:25] #5465 closed, assigned to ojw28

[2019-03-06 09:26] ojw28 commented on #5429
Closing due to lack of further information.

[2019-03-06 09:26] #5429 closed, assigned to ojw28

[2019-03-06 09:27] #5221 closed, assigned to ojw28

[2019-03-06 11:02] tonihei commented on #5585
We'll post this issue as soon as we are ready.

Please have a look at the look the documentation to see which values are already reported as part of the [DecoderCounters](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/decoder/DecoderCounters.html).

[2019-03-06 11:54] tanpuer commented on #5598
[trailer.mp4.zip](https://github.com/google/ExoPlayer/files/2936079/trailer.mp4.zip)
I use this classical video to test.

I need current frameRate because i need to record while playing(like RecordFBOActivity in grafika). And I need to do clipping and add shader effect.

[2019-03-06 11:58] erdemguven commented on #5569
Here is a sample code to read the whole content of a media into a byte array:
[code]

[2019-03-06 12:07] #5514 closed, assigned to andrewlewis

[2019-03-06 12:28] andrewlewis commented on #5397
Unfortunately it seems that the behavior of tunneling while paused at startup is not verified by any automated tests, nor documented as a compatibility requirement. We have an internal tracking issue for the media framework team to provide guidance to OEMs about how this should work [Internal: b/126155094] and I hope this will be along the lines of my comment above (inspecting A/V headers in unpla

[2019-03-06 12:29] AndroidDeveloperLB commented on #5569
Thank you.

Where is the `url` that I had? Is it `myUriToOnlineContent` ?
Is it possible to just "pour" the data from the `data` variable into a file? It's a bit odd to save it all in `bytes` array ... Or was it just for demonstration?

[2019-03-06 13:22] tomislavturcic opened #5602 "ConcateningMedia, RepeatOne and next / previous"
I have a question regarding REPEAT_ONE mode, ConcateningMedia and using SimpleExoPlayer.next(), previous() and related methods.

From my understanding, REPEAT_ONE should function by endlessly looping same MediaSource. From what I see in the source code of Timeline.getNextWindowIndex, it should return currentWindowIndex when repeat mode is REPEAT_ONE. But this isn't the case. Instead using simpleEx

[2019-03-06 13:28] tonihei commented on #5602
Yes, that is expected behaviour.

The idea is that you can have UI elements which let you skip to the next and previous item (using `player.next()` and `player.previous()` even though you have REPEAT_ONE enabled. The current item is still repeated endlessly without any interaction. The `getNextWindowIndex()` and `getPreviousWindowIndex()` methods return matching values to tell you which window ind

[2019-03-06 13:30] tomislavturcic commented on #5602
Ok, thanks for clarification!

[2019-03-06 13:30] #5602 closed, assigned to ojw28

[2019-03-06 13:30] tonihei commented on #5602
If you'd like to know the next item the player will play automatically, you can use `player.getCurrentTimeline().getNextWindowIndex(windowIndex, repeatMode, shuffleMode)` to query any transition under different repeat and shuffle mode conditions.

[2019-03-06 13:32] erdemguven commented on #5569
Yes.

Yes.

Yes :)

[2019-03-06 13:38] yunusalam commented on #5204
Hi Brother!

How to loaded ffmpeg class?

What you can done for this error https://github.com/google/ExoPlayer/issues/5154

[2019-03-06 14:57] sureshcnvidia commented on #5096
I checked the clip shared above. For me playback with the default "Photos and Video's" app on Shield does play HDR everytime.

Do, I need to simply play the clip using latest Exo to see the exact problem?

[2019-03-06 14:59] AndroidDeveloperLB commented on #5569
OK, but now that I look at it, it seems I still don't understand something of what you wrote:
What is "myUpstreamDataSource" ?

Currently, what I use in order to load content from URL, is this:

[code]
The cache is created as :

[code]

So, to prepare the player to play from a URL, I just use:

[code]
Should I change the preparations somehow?

[2019-03-06 15:00] SemihGk commented on #3375
I see this ticket is a very low priority, but can you at least share your branch of async approach implementation? We are also having high frame drop rate in FireTV and so we are interested in implementing the async solution. If there is already a branch ready, we would love to test it. Thank you.

[2019-03-06 15:28] rocqetQueen commented on #3375
Yeah, sharing your progress even if it's not fully working would be highly appreaciated :)

[2019-03-06 15:55] ebr11 commented on #5096
Yes.  Use their demo app.

Thanks.

[2019-03-06 16:12] gerardiandrea opened #5603 "Subtitles not showed"
Hi,

I'm trying to reproduce content with subtitle but I have some problems with AndroidTV.

I have two srt file, one has content-type "application/octet-stream" and works fine but the other file has content-type "text/plain; charset=UTF-8" and the tv not shows the subtitle but it works fine with smartphone.

Do you know if the indicated content-type can be the problem?

### [REQUIRED] Version of

[2019-03-06 16:54] marcbaechinger commented on #5491
I can't give you a timeframe for this I'm afraid. I don't think this is something we will look into any time soon.
I assign to @AquilesCanta who better understands the importance of this in the TV space. I guess he can give you a more accurate answer on that.

[2019-03-06 16:58] marcbaechinger commented on #5516
Cool! Great to hear you have that sorted. I close this issue. Please reopen if you think we can ad something.

[2019-03-06 16:58] #5516 closed, assigned to marcbaechinger

[2019-03-06 17:03] marcbaechinger commented on #5494
Many thanks for your input. We updated the javadoc for a couple of classes to have you case documented more prominently (see commit message above). I'm closing for now. Please reopen and let us nkow wheteher I can help you some further.

[2019-03-06 17:03] #5494 closed, assigned to marcbaechinger

[2019-03-06 18:02] #5490 closed, assigned to ojw28

[2019-03-06 18:02] #5360 closed, assigned to marcbaechinger

[2019-03-06 18:02] ojw28 commented on #5360
Closing as fixed in dev-v2 (please correct me if I'm wrong).

[2019-03-06 18:04] #5441 closed, assigned to AquilesCanta

[2019-03-06 18:06] #5520 closed, assigned to tonihei

[2019-03-06 18:10] ojw28 commented on #5408
You can use a `CacheKeyFactory` for that. @erdemguven can provide more information if needed.

[2019-03-06 18:23] ojw28 commented on #5593
On a Galaxy S8 the video plays through with some corruption, but does not freeze. On an emulator I saw the video freeze. The video freezes on VLC running on MAC as well. I think the outcome likely depends on the underlying video decoder in the platform. I don't think there's much value in spending time trying to make the failure mode less bad. As above; we generally expect input to be well formed.

[2019-03-06 18:23] #5593 closed, assigned to ojw28

[2019-03-06 18:24] #5539 closed, assigned to andrewlewis

[2019-03-06 18:24] ojw28 commented on #5539
Closing due to lack of further information (and because the question may have been answered).

[2019-03-06 18:25] santhosind commented on #5128
@whyvas

I am also facing same issue. could you share buildDataSourceFactory() function.

[2019-03-06 18:28] #5409 closed, assigned to ojw28

[2019-03-06 18:41] ojw28 commented on #5088
I'm also unable to reproduce this after multiple attempts. Were you using an emulator? If so, please try on a real device or devices. If not, does it reproduce on other devices, or just one particular device?

[2019-03-06 18:42] #5449 closed, assigned to erdemguven

[2019-03-06 18:42] AndroidDeveloperLB commented on #5409
@ojw28 Were the docs updated, then? Is it now clearer?

[2019-03-06 18:44] ojw28 commented on #5347
Closing due to lack of further information. We'll reopen the issue if further information is provided.

[2019-03-06 18:44] #5347 closed, assigned to andrewlewis

[2019-03-06 18:58] ojw28 commented on #5323
I can't reproduce this in the demo app, even using 2.9.2 specifically. Could you try again to see if the issue is resolved (it's theoretically possible a change in IMA on the server side fixed this)?

If it still reproduces for you, could you provide a bit more information. In particular, a full bug report, and if possible a video showing the issue reproducing in our demo app, so that we can make

[2019-03-06 19:00] ojw28 commented on #3266
I don't think there's much we can do about this, unfortunately. Closing as obsolete / non-actionable.

[2019-03-06 19:00] #3266 closed, assigned to ojw28

[2019-03-06 19:03] ojw28 commented on #5195
You really need to be serving correctly formed media. Closing as bad media. What happens when malformed media is encountered may vary from device to device based on the underlying platform decoder implementations, however ultimately you shouldn't be serving malformed content in the first place.

[2019-03-06 19:03] #5195 closed, assigned to erdemguven

[2019-03-06 19:37] ojw28 commented on #5572
It looks like the right issues to be looking at are:

https://youtrack.jetbrains.com/issue/KT-26432
https://issuetracker.google.com/issues/114711928

You could try using `com.android.tools:r8:447bbeaac890fd04a2e9af9fc661c9021633dd43` as discussed in the first of those, to see if that fixes things. It's unclear to me whether it's supposed to be used with or without `kotlinOptions.jvmTarget` set to

[2019-03-06 19:43] ojw28 commented on #1140
Closing because it's unlikely there's anything we can do to resolve this. It's likely the stream significantly exceeds the capabilities of the device, and the device is then not failing in a graceful way. It's unlikely to impact streaming services because they should not be serving UHD content to an S6.

[2019-03-06 19:43] #1140 closed

[2019-03-06 19:46] ojw28 commented on #3108
I don't think device specific issues on KitKat devices, when using audio/mpeg-L2, is going to be an effective use of our time at this point. Closing as obsolete.

[2019-03-06 19:46] #3108 closed, assigned to AquilesCanta

[2019-03-06 20:07] NathanSass commented on #5454
It mostly does.
I was wondering if `STATE_BUFFERING` analogous to `isLoading == true`. It seems like it is in most cases except for some edge cases.

[2019-03-06 22:03] rajeshghosh1978 commented on #3561
After @ojw28 fix, still the black flicker is happening for me. Then I gone through DefaultDrmSessionManager and found one possible reason in acquireSession function. In that function, there is a comparison between old and new   List<SchemeData> and every time there is a bitrate change between SD and HD it is returning as false, since we are using different PSSH for SD and HD.  Since the comparison

[2019-03-06 22:11] ojw28 commented on #3561
Are you using the `dev-v2` branch? The fix isn't in a tagged release yet.

[2019-03-06 22:16] rajeshghosh1978 commented on #3561
Yes I am using the dev-v2 only, where I can see all the changes for 14eb561e3818579ab77ff727b612f0f9b55dcecc commit

[2019-03-06 22:24] ojw28 commented on #3561
I'm think the change you've made (assuming `causePreviousSession` is true) is equivalent to ignoring the fact that the keys rotate (which should result in playback failure if your stream and license server are rotating keys correctly). The black flicker is gone for me on `dev-v2` for API level 23 and above.

[2019-03-06 22:33] rajeshghosh1978 commented on #3561
I have checked with key rotation as well, which is working with my changes. Whenever there is a key rotation schemeDatas contains a new PSSH, so causePreviousSession is false so a new session is getting created.

If you can check your code in  LTE network rather than Wifi you can see the flicker. In LTE mode, playback trying to switch between SD and HD frequently (Almost in every 3 to 5 seconds),

[2019-03-06 22:43] ojw28 commented on #3561
So in the key rotation case, the code that executes is identical to what it was without your change. I don't understand how you can not be getting the black flicker in that case, but getting the black flicker in the SD -> HD case without your change. The code paths are identical in both cases, and there's no particular difference between a change due to SD -> HD switching and a change due to key r

[2019-03-06 23:03] rajeshghosh1978 commented on #3561
No this is not a pause. With my change, I am getting a black screen for two times. First when bitrate switch from SD to HD (Because we found a new  PSSH) and the second time when there is a key rotation (Got another new PSSH).

Here is the modified acquireSession function, I have renamed the variables

[code]

[2019-03-06 23:36] TroyStopera opened #5604 "Keep playback at live edge of custom web socket stream"
### [REQUIRED] Searched documentation and issues
Stack Overflow, GitHub, and source code/documentation. We have some custom-built ExoPlayer components, so it's been hard to even know what I'm looking for.

### [REQUIRED] Question
I had asked a [previous question](https://github.com/google/ExoPlayer/issues/5175) about a custom implementation for raw NAL units. We were able to get that working well

[2019-03-07 02:25] sh3r1 opened #5605 "Does Exoplayer support playing videos via POST Method?"
Does Exoplayer support playing videos via POST Method?

[2019-03-07 02:45] zhouxuemeng1988 opened #5606 "Sbox8G40C Android 4.4.2 stability issues"
**Issue description**
SIGSEGV(SEGV_MAPERR): When play youtube DASH with exoplayer2.9.5 for a long time

 **Reproduction steps**
It is not a bug that must be present, but playing dash for a long time will happen frequently.

**Link to test content**
[https://testweex.oss-cn-hangzhou.aliyuncs.com/test/youtube_6dc36dede15753cb18474ff496351c5b.mpd.txt](https://testweex.oss-cn-hangzhou.aliyuncs.com/tes

[2019-03-07 03:01] sh3r1 commented on #5605
Solved it by Using OkHttp.

[2019-03-07 03:01] #5605 closed, assigned to nobody

[2019-03-07 04:14] prakash-khandelwal commented on #5590
@ojw28 Hi, I tried looking more deep through Charles, what happens when we try to play a drm enabled catch-up content. My observation found that for drm catch-up, exoplayer makes partial content request and gets into 206 response from server but doesn't play. I tried with google provided drm catch-up test links, in that case also exoplayer is making partial content request and gets into 206 respon

[2019-03-07 05:41] coderain1 opened #5607 "How to get the current actual bitrate?"
I can get the BandwidthEstimate by onBandwidthSample function，but how do I get the current actual bitrate

[2019-03-07 07:04] haihack commented on #5600
I had done. It was not the point.
[code]

[2019-03-07 07:18] ithustle opened #5608 "Url streaming (http streaming) requested twice during song playing"
**[REQUIRED] Issue description**
Playing music (streaming) with low bandwidth cause streaming stutter and playback state throw buffering frequently, till here its normal.
But after a few seconds, seems that the url is requested again and forces music to restart in the middle of song playing.

But I'm wondering why its not happens on Youtube, Google Play Videos and others platforms that use ExoPlay

[2019-03-07 08:22] ZygmuntMalek commented on #5568
Content sent by email to dev.exoplayer@gmail.com

[2019-03-07 09:37] lintax commented on #5003
@tonihei
Actually reverting the fix made video much worse quality for many Amlogic devices - the fix is really good.
Maybe it would be better idea to make it configurable like some experimental flags that depends on the library user, without the need to fork repository?

[2019-03-07 09:57] zhouxuemeng1988 opened #5609 "A/libc: invalid address or address of corrupt block 0x48664680 passed to dlfree"
[code]

 **Issue description**
I play youtube dash with exoplayer---v2.9.5。It can play normally at first, but after playing for a while, the application will get stuck without any reaction. But there is no pop window for ANR.

**Reproduction steps**
Play dash for a long time

 **Link to test content**
https://testweex.oss-cn-hangzhou.aliyuncs.com/test/youtube_8dd55d4c41ea772c9b9d9254e2198e4b.mpd

[2019-03-07 10:15] Romantic-LiXuefeng commented on #5573
Is there anyone looking at this issue? I think this is a bug. Is there anything I can do to support you?

[2019-03-07 10:34] ojw28 commented on #5600
In nearly all cases it turns out this is what's wrong, for this type of error. Are you sure you have added the correct thing, in the correct place, in the correct `build.gradle` files? I'm not sure if the way you've done it is functionally identical, but note use of `1.8` (without any quotes) is not exactly the same as in our demo app or guide instructions, where `JavaVersion.VERSION_1_8` is used.

[2019-03-07 10:51] tonihei commented on #5600
These issues also occurred in the past if Android Studio failed to update
the dependency code correctly and it helped to re-build the project from
scratch (File -> Invalidate Caches and Build->Rebuild Project). Can you try
that too?

On Thu, 7 Mar 2019 at 10:35, Oliver Woodman <notifications@github.com>
wrote:

[2019-03-07 10:59] ojw28 commented on #5608
The URL will generally be requested a second time if the first request fails for some reason. For example because it times out or because there's a connection drop (which is of course more likely to happen in a low bandwidth scenario). An additional request is typically also made if the user performs a seek, since the player needs to start requesting data from a different position in the stream.

[2019-03-07 10:59] #5608 closed, assigned to ojw28

[2019-03-07 11:03] ithustle commented on #5608
@ojw28 many thanks.

[2019-03-07 11:04] ojw28 commented on #5607
There are quite a few of things "current actual bitrate" could mean here. Please provide more details about exactly what you mean, and what your use case for needing this functionality is.

[2019-03-07 11:37] tonihei commented on #5003
@lintax I can see how this helps for some devices, but on the other hand it seems to break playback on other devices (see https://github.com/google/ExoPlayer/issues/5003#issuecomment-465683572).

How would you decide if it's fine for your app to enable such a flag or not? So far it's unclear under which exact conditions it improves playback and under which conditions the "fix" completely breaks it

[2019-03-07 11:59] lintax commented on #5003
@tonihei thanks for your solution, probably the best would be to override DefaultRendererFactory.buildVideoRenderers() since it is effective only creating a single renderer in my case

PS: I've got lots of users reports that video quality drastically improved when updated to the version with the patch, and no one reporting issue (I understand that it is a weak point, since the app also has softwar

[2019-03-07 12:00] zhaoqigang commented on #5609
I meet this issue too.         A/libc: invalid address or address of corrupt block 0x529d2470 passed to dlf

[2019-03-07 12:33] coderain1 commented on #5607
I want to show real time Internet speeds when the player plays video; For example, when playing video of HLS type, the result seen from the log printed in Charles and Android studio is that each time a ts file is downloaded, the onBandWidthSample method will be called to inform the caller of the calculated network speed. If the current network speed is slow or each ts file is large, the caller wil

[2019-03-07 12:35] ojw28 commented on #3561
Your code doesn't look valid to me. It seems to ignore the new PSSH and continue using the same session, which has keys that were requested using the old PSSH. This is equivalent to ignoring the fact that key rotation has occurred in the stream, and if this were a valid thing to do, there would be no use case for key rotation to exist in the first place. If your content is able to play successfull

[2019-03-07 12:42] ojw28 commented on #5607
We only update our bitrate estimate at the end of each chunk request. You can see where this happens in `DefaultBandwidthMeter`, which only updates the estimate in `onTransferEnd`.

We don't support more frequent updates, and nor do we plan to do so. However if you wanted to implement it yourself, you could do so by writing your own `BandwidthMeter` implementation, in which you could update the bi

[2019-03-07 12:42] #5607 closed, assigned to ojw28

[2019-03-07 12:51] tonihei commented on #5003
@giridharkannan Would it be possible for you to provide a full bugreport for the problematic device when the problem occurs? It would be good to see if there is any indication of the underlying problem.

[2019-03-07 12:58] giridharkannan commented on #5003
@tonihei Sure, but don't expect an immediate response as 'am currently occupied with other things. I will try to give a full bug report by the end of next week.

[2019-03-07 13:59] andrewlewis commented on #5582
@Andevity If you can reproduce this on a device with debugging enabled, the output of `adb bugreport` just after seeing the error may help us confirm what's going on.

[2019-03-07 16:37] mindfields5 commented on #5003
We are convinced that parameters I described above are suitable for all devices on a Amlogic chip.
To set these parameters, no super user is needed. If you use parameters I described, then you do not need to increase size of the buffer and picture quality will be very good.

Please check.

[2019-03-07 17:52] AquilesCanta commented on #5568
This has been reported to the DRM team. [Internal ref: b/127808458].

[2019-03-07 17:57] AquilesCanta commented on #5568
It's worth noting that the two lower resolutions seem to work ok.

[2019-03-07 19:13] rajeshghosh1978 commented on #3561
I have tested this with a channel where key rotates after each program change which is after every 30 minutes. Let me explain my changes step by step.

I have also renamed the variable to shouldNotDestroySession and move ArrayList entry outside (No need to keep this inside Session for loop ).

1. We got the first Adaption set with PSSH#111111
schemeDatas = getSchemeDatas(drmInitData, uuid, false);

[2019-03-07 19:31] ojw28 commented on #3561
This makes an assumption that requesting keys for HD returns keys for both HD and SD, which may or may not be fine depending on how your license server works, as I mentioned above. Note that under the assumption that it is fine, the new session that your code opens in (3) is probably unnecessary, as you'll most likely have the HD key already from (1).

I think what you're really trying to do is no

[2019-03-07 20:17] rajeshghosh1978 commented on #3561
I have added a log in the for loop, each time I am getting a single PSSH key, so it seems like our server returns single key, please correct me if I am wrong.

[code]

[2019-03-07 20:32] Nikonov commented on #5003
@tonihei Workaround does not help, video freezes time after time :(

[code]
My device:
Amlogic S905W Cortex-A53
Android OS 7.1.2

[2019-03-07 22:19] ojw28 commented on #3561
The actual keys are in the license response, not the media (which is where the scheme data comes from). So you're looking in the wrong place. What you're doing would not work correctly unless your license server returns both keys. In particular playback would fail at (4) because the current session, which was obtained using the PSSH from the HD stream in (3), would not contain the SD key. The SD k

[2019-03-07 23:01] valon91 opened #5610 "Unable to open wowza m3u8 links"
Hi everyone , I am facing an issue related to https wowza m3u8 links, I implemented Exo player version `implementation 'com.google.android.exoplayer:exoplayer:2.8.4'`  i tried with other m3u8 links but not all of them works this is my code

[code]
when i debug this is the error i get

[code]

[2019-03-07 23:05] ojw28 commented on #5610
Have you tried searching Google for "Trust anchor for certification path not found"? Or [this issue tracker](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+%22Trust+anchor+for+certification+path+not+found%22+)?

[2019-03-07 23:14] valon91 commented on #5610
I used another player and links there work like charm , so why exo player doesn't open

[2019-03-07 23:45] valon91 commented on #5610
yes i did and i found this , `httpsURLConnection.setSSLSocketFactory(trustCert().getSocketFactory());` but i don't know where to call it

[2019-03-08 02:36] zhouxuemeng1988 commented on #5606
I user exoplayer demo 2.9.6, and set playmode to Player.REPEAT_MODE_ALL,then i click YouTube Dash-->Google Glass (MP4,H264) ,then it play failed. Code and log are as follows.
`player =
                    ExoPlayerFactory.newSimpleInstance(
                            /* context= */ this, renderersFactory, trackSelector, drmSessionManager);
            player.addListener(new PlayerEventListener())

[2019-03-08 02:55] zhouxuemeng1988 commented on #5609
I user exoplayer demo 2.9.6, and set playmode to Player.REPEAT_MODE_ALL,then i click YouTube Dash-->Google Glass (MP4,H264) ,then it play failed. Code and log are as follows.
`
player =
ExoPlayerFactory.newSimpleInstance(
/* context= */ this, renderersFactory, trackSelector, drmSessionManager);
player.addListener(new PlayerEventListener());
player.setPlayWhenReady(startAutoPlay);
player.setRepeatM

[2019-03-08 03:09] rajeshghosh1978 commented on #3561
Yes, I know that the DrmInit data passed in the request body with the license URL to get all the keys. That's why I got confused about why you are creating a new session even when bitrate changes happen between SD and HD. I have replicated two different MPD just like we are using in our server. The first one is the initial MPD to start the playback and the other one is while key rotation happens.

[2019-03-08 03:10] coderain1 commented on #5607
Thanks for your solution

[2019-03-08 05:20] gikahei commented on #5572
Thanks @ojw28
I've tried the R8 tool like the comment's gradle setting  in the issue: https://youtrack.jetbrains.com/issue/KT-26432

But I got compile error when I build the app:
[code]
I build it with gradle plugin 3.3.1 and gradle 4.10.1

[2019-03-08 09:07] tonihei commented on #5003
@Nikonov Freezing video frames was never an issue here - the problem is solely about bad quality (low display resolution). So whatever you are seeing is probably off-topic and something else.

[2019-03-08 11:47] motornyimaksym commented on #5601
@ojw28 The latest one NDK version in stable Android Stuidio and Exoplayer from release-v2 branch.
The problem is here:
https://github.com/google/ExoPlayer/blob/release-v2/extensions/flac/src/main/jni/Application.mk
1. APP_PLATFORM should be at least android-16.
2. APP_STL should be changed to either c++_static or c++_shared.

[2019-03-08 13:16] kvillnv commented on #5397
All right thanks for pushing it to the media framework team. Providing the OEMs the correct guidance is probably the best solution.
Just to be clear, are you talking about Android's media framework team, or exoplayer's?
For sure if until now OEMs did not receive enough info, they all have their own implementation. So I agree that a workaround on our side would make no sense.

I will let you know i

[2019-03-08 13:23] Aravindraj93 opened #5611 "HLS stream not playing in Pie but works in older versions"
HLS stream not playing in Pie mobile phones. Even the demo exoplayer is also not working.

ExoPlayer version "2.9.6"

RedMi Note7 version pie(9)

[2019-03-08 13:28] andrewlewis commented on #5397
I mean the team that looks after lower-level components like `MediaCodec`, `AudioTrack`, etc.. I'll plan to keep this issue updated with any developments on the internal bug.

[2019-03-08 17:01] AquilesCanta commented on #5611
Is this related to #5103?

[2019-03-08 18:46] ojw28 commented on #5610
I think the correct answer is:

As per the second answer of [this StackOverflow post](https://stackoverflow.com/questions/6825226/trust-anchor-not-found-for-android-ssl-connection). I'm not sure if this is your responsibility of Wowza's, but the server is likely misconfigured.

[2019-03-08 18:46] #5610 closed, assigned to nobody

[2019-03-08 18:51] ojw28 commented on #5606
See also https://github.com/google/ExoPlayer/issues/5609 which affects the same device.

[2019-03-08 18:52] ojw28 commented on #5609
I think this particular device has stability issues in the underlying platform implementation. Let's use https://github.com/google/ExoPlayer/issues/5606 to track this, rather than keeping two issues open.

[2019-03-08 18:52] #5609 closed, assigned to nobody

[2019-03-08 18:53] ojw28 commented on #5606
It seems this device has stability issues in the underlying platform. You will most likely need to report these to the device manufacturer.

[2019-03-08 19:34] ojw28 commented on #5601
Thanks for the information!

@tonihei - Any chance you could take a look at this? I wonder if our other native extensions need any changes made to them too, since they seem to have similar `Application.mk` files? @andrewlewis may also know what needs to be done.

[2019-03-08 20:05] ojw28 commented on #5573
I'd suggest you make your version of the demo app available on GitHub somewhere, so we can easily reproduce what you're seeing without having to spend a lot of time replicating what you've done. Thanks!

[2019-03-09 09:11] ArcherEmiya05 opened #5612 "Audio Focus issue"
### [REQUIRED] Searched documentation and issues
I already followed what is in this article : https://medium.com/google-exoplayer/easy-audio-focus-with-exoplayer-a2dcbbe4640e

### [REQUIRED] Question
The AudioAttributes works but the problem is when I am playing a audio file using built-in music player then open and start playing a video in my app using Exoplayer the music player stop and never re

[2019-03-09 16:27] loki666 opened #5613 "JobDispatcherScheduler schedule arguments are swapped"
`schedule(Requirements requirements, String serviceAction, String servicePackage)`

should be

`schedule(Requirements requirements, String servicePackage, String serviceAction)`

[2019-03-10 06:45] simon20190306 commented on #5581
I have the same problem!

[2019-03-10 06:52] simon20190306 commented on #5581
When I close the instant run, the problem is solved.

[2019-03-10 08:06] ojw28 commented on #5612
What you describe is how audio focus is supposed to work at the system level. The music player is not supposed to resume playback automatically when the video in your app stops.

You should see the same behavior when using other apps as well (e.g. try starting a YouTube video when the music player is playing, and observe music does not resume when the YouTube video is stopped).

[2019-03-10 08:06] #5612 closed, assigned to ojw28

[2019-03-10 08:07] ojw28 commented on #5613
@erdemguven - Please take a look / fix. Thanks!

[2019-03-10 08:09] ojw28 commented on #5603
As indicated by the @google-oss-bot, this issue does not follow our template and omits nearly all of the information we need, like concrete reproduction steps. Please fill out the issue template completely, and provide a concrete way for us to reproduce the problem.

[2019-03-10 14:08] ThorAsgardDev opened #5614 "Problem with smooth streams protected using playready drm"
Hello,

I'm trying to play a smooth stream protected using playready drm.
I'm using exoplayer 2.9.4 on Android TV with min Android SDK 26
The smooth file is correctly downloaded and parsed, then the mediaDrm session is opened and then at the first call to com.google.android.exoplayer2.drm.FrameworkMediaDrm#getKeyRequest I get the error:

[code]

The call to mediaDrm.getKeyRequest(scope, initData,

[2019-03-10 19:19] perracodex commented on #4352
It definitely seems to be something wrong with the MediaCodec, probably a bad state.

As I'm able to reproduce the issue easily, when pausing all threads it shows that is stuck when doing the MeciaCodec native stop, as shown next:

![image](https://user-images.githubusercontent.com/7354233/54090125-18537980-4371-11e9-8f46-db96ce6b02e0.png)

[2019-03-10 19:32] perracodex commented on #4352
In addition when the error happens this is the logcat thrown by the MediaCodec:

[code]

[2019-03-10 20:28] #5603 closed, assigned to ojw28

[2019-03-10 20:33] levz opened #5615 "Support download bundles"
### [REQUIRED] Searched documentation and issues
Searched for info:
- in this repo
- in ExoPlayer sources and comments
- https://medium.com/google-exoplayer/

### [REQUIRED] Question
This is a hacky question, but is there a way to add SRT file as subtitles track in ManifestParser? (without using MergeSource)

I have HLS content + subtitles for it stored as a separate SRT file on the server. I woul

[2019-03-10 23:00] wazerstar commented on #5491
@marcbaechinger
@AquilesCanta

I would really hope, it would be an easy task to go to.

I'm sure competent guys like you guys, it would be rather easy.

looks like the teletext subtitles are delivered together in a single subtitle stream that from every Language found needs to be extracted to each subtitle stream?

[2019-03-11 01:19] star-andy commented on #5564
![image](https://user-images.githubusercontent.com/15726024/54094867-c6493d00-43de-11e9-8a16-e46e9519c437.png)
I wonder if this information is useful

[2019-03-11 07:43] andrewlewis commented on #5558
They're pieces of media (typically a few seconds long). As the log line above doesn't seem to indicate a problem I will close this issue. If your issue isn't actually resolved, please could you rephrase what the problem is? Thanks.

[2019-03-11 07:43] #5558 closed, assigned to andrewlewis

[2019-03-11 07:56] andrewlewis commented on #5570
It sounds like you need to produce a VAST/VMAP ad tag that refers to your ads, but we aren't in a position to give guidance on authoring ad tags on this issue tracker I'm afraid.

[2019-03-11 07:56] #5570 closed, assigned to andrewlewis

[2019-03-11 08:03] andrewlewis commented on #3923
Closing as this should be fixed in the next Android release. Unfortunately I don't think there's a workaround.

[2019-03-11 08:03] #3923 closed, assigned to andrewlewis

[2019-03-11 08:18] AndroidDeveloperLB commented on #3923
@andrewlewis Can you please show the issue on the issue tracker?
You mean it will be fixed only on the next version, Android Q ?
Are you sure there is no workaround? Can't it re-initialize itself with the volume set to 0 .

[2019-03-11 08:22] ojw28 commented on #5454
It's not analogous. `STATE_BUFFERING` means "the player has loaded insufficient media to start (or continue) playback", and is the state you'd typically associate with a buffering spinner being displayed to the user. `isLoading` just means "the player is loading media".

As an example, consider playing a movie over a good connection. After playback has started you wouldn't expect any user visible

[2019-03-11 09:47] pawaom opened #5616 "Provide option to include next/prev button in lock screen/compact mode"
how to show previous and next button on lockscreen with  MediaSession extension for ExoPlayer

I am using
https://github.com/google/ExoPlayer/tree/release-v2/extensions/mediasession

[code]

and code is from
https://www.youtube.com/watch?v=svdq1BWl4r8
and
https://github.com/google/Exoplayer/tree/io18

the media sessions code is

mediaSession = new MediaSessionCompat(context, MEDIA_SESSION_TAG);

[2019-03-11 10:02] perracodex commented on #4352
I had some success in getting around the ANR, although for the time being looks more like black-yu-yu-magic than a proper solution. And still, it has some side effects but which at least can be managed.
It may give some ideas about how to implement a proper fix, or some type of state recovery.

So, by calling **seekToDefaultPosition** before the **stop** and **release** methods the ANR disappears,

[2019-03-11 10:32] AquilesCanta commented on #5573
Sorry, lost track of this. @erdemguven could you take a look?

@Romantic-LiXuefeng, please provide a minimal fork as @ojw28 suggests. It will allow us to look into this faster.

[2019-03-11 11:02] AquilesCanta commented on #5564
The only way for us to debug this is that we are able to reproduce ourselves. An out of memory error doesn't necessarily mean there is a bug in the library. I'm sorry I cannot help more with the given information.

[2019-03-11 12:38] abdul-ali98 opened #5618 "only one live dash stream on android P in tunneling mode gets stuck in buffering"
All channels work fine on all android versions even if tunneling mode is enabled or disabled. France24 channel works fine on all modes, devices and android versions except "android P && tunneling && france24" if the tunnelling mode disabled, it works fine.
What exactly happens ?
After approximately 2 mins the stream freezes but no errors callbacks are called, no paused or stopped methods called, t

[2019-03-11 13:09] janeriksamsonsen commented on #4273
I can confirm that download is extremely slow, even when using a separate downloadtask for each track (video, audio and subtitle). The behavior can be observed using OkHttp and Stetho. There seems to be some kind of parallelisation, but the delay between finishing one segment and downloading the next is becoming larger for each segment downloaded. In our tests the movie is ~90 minutes with 2 secon

[2019-03-11 14:38] AquilesCanta commented on #5491
As @marcbaechinger says, we don't have the bandwidth to allocate resources to implementing this right now. In case someone is interested in sending a pull request, it would be helpful to have a few different sample content pieces available in this thread.

[2019-03-11 17:07] wazerstar commented on #5491
@AquilesCanta Hi there's already 2 samples recorded given here [#22](https://github.com/google/ExoPlayer/issues/5491#issuecomment-464491903), and there is also direct TV samples available which I sent to the exodev mail as requested in thread when it was created, if you cannot find it, let me know.

[2019-03-11 18:30] rodgarcialima commented on #5416
Hey @andrewlewis, sorry for asking this, but I'm new with ExoPlayer. Can you provide any example on how "pass in a TeeAudioProcessor via RenderersFactory.buildAudioProcessors". I searched on Google, but didn't found nothing.

I appreciate, thank you very much.

[2019-03-11 22:19] andrewlewis commented on #5416
When calling `ExoPlayerFactory.newSimpleInstance` you can pass a `RenderersFactory`. `DefaultRenderersFactory` lets you specify `AudioProcessors`. Here is a basic example that just dumps audio data to logs:

[code]

[2019-03-11 22:27] andrewlewis commented on #5618
Just to confirm, are you saying that video tunneling is working fine, except for when playing one specific stream on an Android P build?

I don't think we've seen such an issue, and without the stream or a bug report (`adb bugreport`) there's not much hope of figuring out what's going. If you don't want to post it here you can alternatively email a link to dev.exoplayer@gmail.com with subject 'Iss

[2019-03-11 23:09] christopherperry commented on #5116
I'm experiencing the same issue. The controls display at first but as soon as the video starts to play they disappear, but the visibility is VISIBLE.

For anyone else having this problem, the issue was that the video resize mode made the view resize and push the controls down outside the visible drawing area of the view.

[2019-03-11 23:17] andrewlewis commented on #4352
As you say, it's likely that the calls to stop/release the codec are still failing (throwing instead of just blocking). When you create a player shortly afterwards, `E/OMX: FAILED to allocate omx component 'OMX.qcom.video.decoder.avc' err=InsufficientResources(0x80001000)` suggests that the previously allocated codec may still be holding resources (i.e., it wasn't released properly), but that afte

[2019-03-12 01:58] Romantic-LiXuefeng commented on #5573
@erdemguven  @AquilesCanta @ojw28 As suggests, I make a demo project. Thanks for your help !
[https://github.com/Romantic-LiXuefeng/ExoPlayer_Pre_Cache_Demo/tree/release-v2]()
You could filter logs with "progressive_download".

[2019-03-12 02:12] musooff opened #5619 "How can I create different DRM Sessions for ConcatenatingMediaSource?"
I have a `ConcatenatingMediaSource` with 3 mediaSources. I have have to create separate `DrmSessionManagers` as drm content requires id of each content for acquiring drmSession.

I suppose as of now ExoPlayer doesn't support such feature (#2394). If I am wrong and its possible to create several DrmSessionMangers how can I do it? If yes, it doesn't support, are you planning to bring such feature?

[2019-03-12 07:33] Tolriq commented on #4352
@andrewlewis
Yep :) That's why as proposed a few times it would be better to allow applications to recover gracefully and show errors to users than triggering ANRs that gives a pretty bad user experience.

[2019-03-12 10:14] WMSPanel opened #5620 "SLDP extension for ExoPlayer"
### [REQUIRED] Searched documentation and issues
I've looked at this github repo and at related Medium publications, as well as general Google search.

### [REQUIRED] Question
Our company created a low latency media streaming protocol called  [SLDP](https://softvelum.com/sldp/). It's based on WebSockets and it delivers media with sub-second latency.
It's being used by a big number of customers and

[2019-03-12 10:20] AquilesCanta commented on #5619
This is still not supported, but we are currently working on it. I'll use this issue to track progress on this.

[2019-03-12 10:24] AquilesCanta commented on #5614
Please don't ignore the [template contents](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md). Provide the missing items and I will reopen. Specially important: sample content and bugreport.

[2019-03-12 10:24] #5614 closed, assigned to nobody

[2019-03-12 12:17] abdul-ali98 commented on #5618
Yes exactly, noted that on android O the same stream works fine. The problem on android P ONLY

[2019-03-12 13:13] nicolausYes opened #5621 "Prebuffer next MediaSource in dynamic ConcatenatingMediaSource"
### [REQUIRED] Searched documentation and issues

I've found only this general description about prebuffering on Medium, want to get into more details.

### [REQUIRED] Question
I compose a playlist dynamically with ConcatenatingMediaSource and want to ensure that the next MediaSource is prebuffered after it's added with addMediaSource().

For example, there is 1 source in ConcatenatingMediaSource

[2019-03-12 13:43] AquilesCanta commented on #5615
I'd suggest downloading them independently, using [ProgressiveDownloader](https://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/offline/ProgressiveDownloader.html) for the subtitle file, and [HlsDownloader](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/hls/offline/HlsDownloader.html) for the HLS stream. Then locally, use a

[2019-03-12 13:44] AquilesCanta commented on #5616
@marcbaechinger would you kindly look at this?

[2019-03-12 13:51] tonihei commented on #5601
The extension builds fine for me if I follow the steps in the README file. Note that the README explicitly asks for an NDK with version <= 17c.

I suppose we should update our README to add build instructions for newer NDKs at some point. Let's use this issue to track this. Issue is also similar to #4940 and we should probably update all of them together.

[2019-03-12 14:49] AquilesCanta commented on #5620
In general we take high-quality contributions that go in line with ExoPlayer's direction. There are [license requirements](https://cla.developers.google.com/clas) that must be met. I am pretty sure we cannot make any decisions without looking at the overall structure of the pull request. Assigning @ojw28 in case I forgot anything important.

[2019-03-12 15:25] sergiupuhalschi opened #5622 "Getting HLS livestream in sync across devices"
Hi guys,

We are currently using ExoPlayer for one of our applications, which is very similar to the HQ Trivia app, and we use HLS as the streaming protocol.

Due to the nature of the game, we are trying to keep all the viewers of this stream to have the same latency, basically to keep them in sync.

We noticed that with the current backend configuration the latency is somewhere between 6 and 10 s

[2019-03-12 16:18] levz commented on #5615
Thanks for looking into this.

This is something I hope I could avoid - this will create 2 download tasks for the same download content and it will be confusing for the end user.

Yes, but is there a way maybe to treat SRT subtitles as something else - can I put some tags and/or settings to Segment object that I create manually, so that Exoplayer creates a simple sample source out of provided url

[2019-03-12 17:20] raikk commented on #5570
Thanks @andrewlewis . i got some idea for my solution. I need to convert mp4 to VAST/VMAP format for my own ads and needs ads server like revive-ads server. But Free Revive-ads server does not support to convert VAST. we need to use commercial plugin for VAST ad tag.

[2019-03-12 18:32] marcbaechinger commented on #5616
This is not determined by the `MediaSession` but by the `MediaStyle` notification to which the mediaSession is attached.

The `MediaStyle` object has a method `mediaStyle.setShowActionsInCompactView(int... actionIndex) `which lets us define which actions should be shown in compact view. Please note that this changes the look of both the `NotificationCompat` in the drawer and the notification in th

[2019-03-12 18:49] marcbaechinger commented on #5621
The player will start buffering as soon as its needed. So when it gets towards the end of the first window (MediaSource), the player notices that there is a second item and starts filling the buffers for this item.

To answer your questions concretely:

Q1) It does not necessarily start immediately after adding. Given the first item is eg. 5 minutes before the end and you add a second media source

[2019-03-12 19:57] nicolausYes commented on #5621
@marcbaechinger so prebuffering of the next MediaSource roughly depends on a playback position of a currently playing MediaSource.

Is there a way to force prebuffer of the next MediaSource?
For example, if the first MediaSource playing somewhere in the middle, I want to have the next MediaSource to be prebuffered if the user decides to play the Next track.

[2019-03-12 21:13] marcbaechinger commented on #5621
No, that's currently not possible. There is #3327 which is the enhancement tracking bug for this feature. AFAIK we haven't started with this though.

[2019-03-12 21:40] amiraelsayed opened #5623 "Player show empty white screen when try to run live video on real device"
Hello

I am facing a real problem, after I finish the development of TV android app and test it on emulator, when install the app on real device, all video files is working but all live video show white screen and none of the video or the audio running

I am using the same code in the demo that provide in github

this is the link of the code : https://github.com/google/ExoPlayer/tree/release-v2/de

[2019-03-13 00:26] ojw28 commented on #5620
What form would such an extension take? Would it just be a `DataSource`, or would it be something larger and more involved? Is there a reason why it would need to be part of the ExoPlayer repo, as opposed to your own GitHub project?

In general I don't think we want to be responsible for (and hence need to maintain) this kind of thing, unless we see very strong developer demand, which we've not se

[2019-03-13 00:43] cyuan1124 commented on #5596
https://github.com/google/ExoPlayer/commit/93f4a19f07939bb3cdf606f69142f8de527735f7?diff=unified#diff-f7126640f9a9b7a13981cd10d12aadeaR363

This might be the culprit. There is no url added to audio list if `isMediaTagMuxed` returns true.

[2019-03-13 01:24] ojw28 commented on #5596
That's the change that introduced this issue, yes. However that change was also fixing something else. The correct way to resolve this is probably to have ExoPlayer's `HlsMasterPlaylist` more directly represent what the playlist file contains, and move the logic for interpreting it (e.g. whether a media tag is muxed) into `HlsMediaPeriod`.

[2019-03-13 02:11] WMSPanel commented on #5620
Regarding the implementation, this will probably be DataSource implementation, similar to existing RTMP extension. And of course we'll keep supporting SLDP extension once it's taken into the main repo.

Let us get back to this question as soon as we have some source code to discuss.

Thank you!

[2019-03-13 05:33] #5427 closed, assigned to ojw28

[2019-03-13 06:14] Tomyancnus commented on #5202
hi Giladna, @giladna
Could you also share the link to me ?

[2019-03-13 06:18] marabej commented on #5003
HI

"mediaFormat.setInteger(MediaFormat.KEY_WIDTH, 1920); mediaFormat.setInteger(MediaFormat.KEY_HEIGHT, 1089);"
really fixed the problem with amlogic.

@tonihei  I saw this problem not only with amlogic, but with smart TVs, for ex. finlux.
Another thing I discovered is that default MediaPlayer redirected to **ScallableVideoView**
shows the same problem, (aliased rounded objects, bad colors, pixel

[2019-03-13 06:50] Mrudulamrudu25 commented on #5219
@harrshiil & @sathishkumar1392 Did you find any solution for this ? I am also facing the same issue only for those videos captured in Samsung Mobiles.

[2019-03-13 06:50] Tomyancnus commented on #5202
@ojw28  Could you estimate when this issue #5202 be solved ?

[2019-03-13 08:14] musooff commented on #5563
Apparently I was getting such behavior because I have set
[code]

Thanks, solved

[2019-03-13 08:23] ThisZhu opened #5625 "Can I use my Custom messaging system when using exoplayer？"
I created the exoplayer on a custom thread, but I am not initialize the 'Looper' on my custom thread and it will not be able to use 'android.os.Handler' to send message, because the thread is a loop, it will only process  my custom message within the loop , so I can not receive the exoplayer's eventListener interface callback , this seems that exoplayer use 'handler' to send videoListener callback

[2019-03-13 08:30] ArcherEmiya05 opened #5626 "Exoplayer IMA Extension Memory Leaks and SDK Issue"
### [REQUIRED] Issue description
Memory leaks and SDK version issue in v2.9.6

### [REQUIRED] Reproduction steps
I just started to implement the IMA extension in my application that has a video streaming feature using Exoplayer and everything works fine until a memory leaks appears when closing the app after this implementation even after calling `adsLoader.setPlayer(null)` in `onStop()` and `adsL

[2019-03-13 08:53] portizb commented on #5196
@zettyfactory The RTSP dev branch only support G.711, AAC and AC3 audio codecs (over RTP). You are trying playback urls which contains audio track with WMA2 (Windows Media Audio). Sorry but that audio codec is not supported.

[2019-03-13 09:08] portizb commented on #55
@floschu We are very busy working on other video projects. I hope that soon I can come back here. Thank you all!

[2019-03-13 09:09] andrewlewis commented on #5626
Do you see the memory leak even after `imaAdsLoader.release()` has been called? (Are you sure `onDestroy` is getting called?)

[2019-03-13 09:12] ArcherEmiya05 commented on #5626
Yes `onDestroy()` is getting called and even after calling `imaAdsLoader.release()` still the memory leaks kicks in after closing the app. This memory leaks only occurs after implementing IMA Extension.

[2019-03-13 09:20] andrewlewis commented on #5626
From the logcat attached, `Activity [...] has leaked ServiceConnection com.google.android.gms.common.a@67f33ac that was originally bound here` referring to Play Services `com.google.android.gms.ads.identifier.AdvertisingIdClient.getAdvertisingIdInfo` looks suspicious. Are you able to reproduce this on other devices that have Play Services installed?

[2019-03-13 09:22] ArcherEmiya05 commented on #5626
Okay I'll try it on another device, btw I update my report with the links regarding Single Skippable Inline.

[2019-03-13 09:23] ArcherEmiya05 commented on #5626
I am currently using
[code]

[2019-03-13 09:27] ThisZhu commented on #5625
I have modified it

[2019-03-13 09:27] #5625 closed, assigned to AquilesCanta

[2019-03-13 09:35] mikemm13 commented on #5604
Hi @TroyStopera, I'm working in a project with the same characteristics as yours.

I noticed the same issue as you and what I've done is:
- Subscribe to the player EventListener
- Detect the events related with buffering and recovering
- Remove old packets and perform a seekToDefaultPosition(). This seeks your playback as close as possible to the live edge.

For me it's not the perfect solution, s

[2019-03-13 09:51] pawaom commented on #5616
since you have not tried the code, this is my code

final Context context = this;

        player = ExoPlayerFactory.newSimpleInstance(context, new DefaultTrackSelector());
        DefaultDataSourceFactory dataSourceFactory = new DefaultDataSourceFactory(
                context, Util.getUserAgent(context, getString(R.string.application_name)));
        CacheDataSourceFactory cacheDataSourceFactor

[2019-03-13 10:19] ArcherEmiya05 commented on #5626
AllCall W1 Android Smartwatch Alps W1 Android L 5.1.1
Still showing `Invalid internal message, ignoring. Please make sure the Google IMA SDK library is up to date.` but no memory leaks.
Here is the logcat: [stacktrace.txt](https://github.com/google/ExoPlayer/files/2960917/stacktrace.txt)

[2019-03-13 10:49] AquilesCanta commented on #5623
I'd suggest you try to check media is supported in the demo app itself, without modifications. If any of the streams don't work and you don't know the cause, then you can file an issue including [all information required in the issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md). Please don't skip any items. If media plays correctly in

[2019-03-13 10:49] #5623 closed, assigned to AquilesCanta

[2019-03-13 11:54] JonathanImperato opened #5627 "Custom Load Error message: available or not?"
### Searched documentation and issues
I have been looking around the web, offical Android Dev. website, Medium, in this repository Issue category and in the Source code.

### Question
I am working with the ExoPlayer error handling. I found that when my Server response is an exception of type "InvalidResponseCodeException" I am not able to find the server message, just the default http status messa

[2019-03-13 12:11] AquilesCanta commented on #5627
It should be available through InvalidResponseCodeException#responseMessage. Is that empty? If so, are you sure the server is providing a non-empty response body? Have you tried different HTTP DataSources?

[2019-03-13 13:24] JonathanImperato commented on #5627
InvalidResponseCodeException#responseMessage prints the default http status message such as 401 Unauthorized, not the server message (eg. For 401: You are not authorized)...

[2019-03-13 13:34] AquilesCanta commented on #5627
Oh right, the responseMessage doesn't contain the response body. I can confirm this is not provided out of the box. I don't think reading the response body for an error is something we want to add to any default implementation.

Can you explain the usecase for this?

[2019-03-13 13:49] JonathanImperato commented on #5627
It is usefull because we don't want to keep this messages inside the app, these are messages that may change over time and mostly they are translated.
For example we are handling error 429 "Too many requests", when ExoPlayer reaches this error it will show an AlertDialog with the wanted information.
We want to have this message customizable on the Server side.
I hope it is a little bit more clear.

[2019-03-13 15:26] AchibanaUkyo commented on #3561
If you are using multiSession=true then your modified code is same with the code before. You don't need add extra check for pssh as it's in the existingSession.schemeDatas already. So first time from SD->HD a new session will be created. while back from HD to SD an existing session will be returned.
For key rotation as it's a new PSSH so a new session will be created.

[2019-03-13 15:48] rajeshghosh1978 commented on #3561
@AchibanaUkyo : That was also my assumption. But that is not the current behavior. I am using multiSession=true, still, it was recreating session each time SD->HD change before my fix.

[2019-03-13 16:33] abdul-ali98 commented on #5618
I have sent the bug report to the mentioned email.

Actually, this issue could be produced on SagemCom and Technicolor stb devices which run android P.
When the stream in buffering state, after one time or two times its gets stuck in the buffering state.
If I called seekToDefaultPosition() while the stream in the buffering state, its continue after showing the buffering progress bar. this pause no

[2019-03-13 16:35] AchibanaUkyo commented on #3561
@rajeshghosh1978 I can't see the difference as if the previous session is destroyed how you can return the existingSession? Unless the switch from SD->HD happens along with the key rotation then a new session is created as the PSSH changed.

[2019-03-13 17:31] adjustnox commented on #5611
My team ran into this issue when our users were forced to Android 9 during the Feb Samsung Galaxy S9/9+ update. Many are reporting the player is simply blank. Could this be related?

[2019-03-13 18:16] AquilesCanta commented on #5611
Impossible to be sure with the available information, unfortunately. Could be.

[2019-03-13 18:30] ThorAsgardDev commented on #5614
### [REQUIRED] Content description
I'm trying to play a smooth stream protected using playready drm.
The smooth file is correctly downloaded and parsed, then the mediaDrm session is opened and then at the first call to com.google.android.exoplayer2.drm.FrameworkMediaDrm#getKeyRequest I get the error:

[code]

The call to mediaDrm.getKeyRequest(scope, initData, mimeType, keyType, optionalParameters

[2019-03-13 18:51] gb103 opened #5629 "PlayerView flickers while scroll in the ViewPager in RESIZE_MODE_FILL setting"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
- Consult our FAQs, developer guide and the class reference of ExoPlayer. These
  can be

[2019-03-13 19:08] adjustnox commented on #5611
Here is some additional info, including client description:

Customers with the Samsung Galaxy S9/S9+ are reporting there was an update (information on update below) that has since caused video to not show up within the app, clients state that there is just a large white space where the video/image should be and do not have an option to play video.

Update details:
Android 9 Pie
Release date: 02/2

[2019-03-13 19:11] johnsim commented on #5614
I am not the PlayReady expert (I will get one engaged), nor Exoplayer expert, but the fact that you see "pssh" inside the init data may be at the heart of the problem. The PlayReady component might be expecting the payload of the pssh box, not the box itself nor the full init segment.

[2019-03-13 19:20] ThorAsgardDev commented on #5614
hi johnsim,
Thanks for the info, I will investigate this point.

[2019-03-13 19:35] AquilesCanta commented on #5611
Please file a fresh issue including all the information required in the template that will appear when you start. Don't skip any items, please.

[2019-03-13 19:38] AquilesCanta commented on #5614
Without access to the stream there is nothing I can do to help. Plus, I don't think you've provided a bugreport.

I seem to remember PlayReady CDM implementations that expect a pssh as init data, so I wouldn't count on this.

[2019-03-13 20:06] ThorAsgardDev commented on #5614
They are a lot of private information in a bugreport. Could you please tell me what file/info you need so that I can reduce the private data.

[2019-03-13 20:56] AquilesCanta commented on #5456
Hi @KaiYeYang, how long does it usually for the deadlock to occur? Do you have any advice for me to increase the chances of the issue occurring?

As requested above, please provide a full bugreport. You can obtain a bugreport by executing `adb bugreport` shortly after reproducing the issue.

[2019-03-14 02:39] ojw28 commented on #5616
What enhancement is this issue tracking? It's unclear from the thread above. Could we rename the title to better reflect this, also? Thanks!

[2019-03-14 03:12] andrewlewis commented on #5618
The only obvious tunneling-related logging in the bug report is:

[code]

I'm not sure what to make of this, but given that this is logged at 'warning' level it may not even indicate an actual issue. Tunneling mode is implemented by the OEM rather than in the framework, so I suggest following up with the chipset manufacturer for the devices where you see the issue (Broadcom?).

Regarding seeking:

[2019-03-14 04:05] axitasavani commented on #5289
i have same issue. i have used mutiple thread and getting warning and another thread is not proper working . below the logs:
[code]
continue below line is display in logcat :

`SimpleExoPlayer: Player is accessed on the wrong thread. See https://google.github.io/ExoPlayer/faqs.html#what-do-player-is-accessed-on-the-wrong-thread-warnings-mean`

please provide the more information to solved this iss

[2019-03-14 04:15] ojw28 commented on #5289
You should not be accessing the player on multiple threads. This is explained in the [documentation](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html).

[2019-03-14 04:17] davidaik commented on #5289
I worked around the issue by using a Handler in the main thread and posting runnables to it which would run the code that accesses the ExoPlayer instance.

[2019-03-14 04:20] ojw28 commented on #5289
Yes, that's one approach. Application code is responsible for making sure that all calls to the player onto a single thread. It's not a workaround, but rather it's the correct thing to do :).

[2019-03-14 04:21] #5563 closed, assigned to AquilesCanta

[2019-03-14 04:29] axitasavani commented on #5289
i know we can't used multiple thread in main thread but this warning is only raised in OS-9 (Nokia).
i can't understand why in only OS-9?

[2019-03-14 05:19] ojw28 commented on #5003
Based on what? It seems to be the case that AmLogic have two separate video paths. Your suggestion is that the one that's _not_ enabled by default is strictly better. However if that were the case, I think AmLogic would have made it the default. This suggests to me that there are disadvantages with the alternate video path, perhaps for use cases other than the one you've tested. I also suspect tha

[2019-03-14 05:45] sidkasundra opened #5630 "Is it possible to show video controller bar in 3D ?"
I am playing side-by-side video in exoplayer and to see that video in 3D I am switching screen to 3D.
So the issue is while I'm switching screen to 3D at that time video controller bar remains in 2D that's why it getting squeeze.
So is there any way to change video controller bar in 3D.

[2019-03-14 05:47] ojw28 commented on #5289
The ExoPlayer library doesn't show the warning or not based on what OS version the app is running on, so if you're seeing the warning only on a particular OS version, that means your application code is calling ExoPlayer from the wrong thread only on that OS version. ExoPlayer has no control over which thread you call it on, so this is something you need to debug on your side.

[2019-03-14 05:52] axitasavani commented on #5289
OK. i'll try to find what is wrong.thank you.

[2019-03-14 06:46] ojw28 commented on #5590
I think you're focusing on the wrong thing. There's no evidence here that ExoPlayer is doing anything wrong by making range requests (rather than full requests), or that it's related to the actual problem of the content not playing.

ExoPlayer doesn't decide whether to make range requests based on whether the content is catch-up or not, or whether it has DRM. In all cases ExoPlayer will simply mak

[2019-03-14 06:46] #5590 closed, assigned to ojw28

[2019-03-14 08:15] ThomasCZ opened #5631 "IMA - time between two ads"
Ads server are providing VASTs for ad breaks. I am merging many VASTs into one VMAP and using it as response (_buildForAdsResponse_). When I jump to position behind the first ad break, ad is played. Immediately after the first ad is completed, I will jump to position behind the second ad break and the second ad is played. How can I specify a minimum time between two ads to be played? It means, I d

[2019-03-14 08:30] andrewlewis commented on #5631
This is not currently supported with ImaAdsLoader I'm afraid.

In case you want to experiment/investigate further: you could try calling AdsManager.discardAdBreak right after an ad break loads if you've played an ad more recently than a certain threshold. The IMA extension uses preloading, and the behavior of this API may not be well defined when preloading is enabled, but I think it's worth a try

[2019-03-14 08:30] #5631 closed, assigned to andrewlewis

[2019-03-14 08:33] nicolausYes commented on #5621
#3327 is exactly what I'm talking about. Will follow updates there, thanks. Closed.

[2019-03-14 08:33] #5621 closed, assigned to marcbaechinger

[2019-03-14 11:29] irttri opened #5632 "Ad Pod- player freezing after first Ad"
Hi,
  I have a requirement to call ad when specific timed metadata comes during a live stream. I tried to use  the following code for ad request at a specific time.My ad tag is an ad pod containing 3 ads when ad get loaded only the first get played ( that too only its sound) then player goes to freeze state and never comes back. Can any one please direct me what  I am missing here.

        adsLoa

[2019-03-14 14:49] szaboa opened #5633 "Full screen bitmap smpte-tt subtitle not rendered correctly"
### [REQUIRED] Issue description
Support for image based SMPTE-TT subtitles was implemented in #1583, however it's not working quite well for "full screen" subtitles as it renders these out of the screen and with wrong height. By full screen I mean when the subtitle should take size of the surface. This is the case when **tt** tts:extent = **region** tts:extent in case of pixel based regions.

###

[2019-03-14 14:52] marcbaechinger commented on #5616
I marked this issue as an enhancement.

We should think about providing an option which lets developer include prev/next button in compact mode of the notification without needing to override the `getActionIndicesForCompactView(List<String> actionNames, Player player):int[]` method.

This would improve the interplay between `PlayerNotifciationManager` and `MediaSessionConnector` specifically for t

[2019-03-14 15:19] szaboa commented on #5633
Example:
The manifest contains in tt tag let's say `tts:extent="720px 576px"` and there are regions like `<region xml:id="region_0" tts:extent="720px 576px" tts:origin="0px 0px"/>`.

Two problems causing this issue:

**1. Incorrect height calculation**
In the example above the bitmap will take the width of the parent correctly, but the height is scaled up to keep the bitmap's aspect ration.

Heigh

[2019-03-14 16:29] rajeshghosh1978 commented on #3561
@AchibanaUkyo : Previous session only gets destroyed if DrmSessionManager.releaseSession get called. But with my changes that's not called if I can use existingSession. Here is the usecase

1. Playback starts with SD, so SD session is added in sessions list.
2. Playback switch to HD, another new session is stored in the session list.
3. Playback again switch to SD so we can use existingSession (Do

[2019-03-14 16:34] AquilesCanta commented on #5632
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-03-14 16:46] AquilesCanta commented on #5629
Can you provide a **minimal** github sample project for me to look at? It's hard for me to understand what the issue is, or whether it's an ExoPlayer issue or something is wrong with the app.

[2019-03-14 18:00] adjustnox opened #5634 "No Playback on Samsung Galaxy S9/9+ as of Feb Update"
Before filing a content issue:
------------------------------
- Search existing issues, including issues that are closed.
- Consult our supported formats page, which can be found at
  https://google.github.io/ExoPlayer/supported-formats.html.
- Try playing your content in the ExoPlayer demo app. Information about the
  ExoPlayer demo app can be found here:
  http://google.github.io/ExoPlayer/demo-

[2019-03-14 21:40] bryandunbar42 opened #5635 "Playing ads without content"
Is it possible to use AdsMediaSource without a ContentMediaSource?

[2019-03-14 23:25] andrewlewis commented on #5635
Please see #3774.

[2019-03-14 23:25] #5635 closed, assigned to andrewlewis

[2019-03-14 23:34] bryandunbar42 commented on #5635
Thanks for the response,  but i don’t think AdMob is a viable solution if you want to use vast tags (as far as I know). The real use case here is inserting ads into a playlist. Since that is not currently implemented it would be nice to simply prefetch an ad with ImaAdsLoader then switch source to play simply the add, then switch source back to the playlist. There would be some buffering but it’s

[2019-03-14 23:39] feragusper opened #5636 "While casting, the playhead (progress bar, thumbnail, and content title) appears randomly during playback"
### [REQUIRED] Issue description
While casting, the playhead (progress bar, thumbnail, and content title) appears randomly during playback. Sometimes it won't appear for a few minutes, and sometimes it will appear every 20 seconds or so.
It doesn’t happen when screen is keep on the app, and also doesn’t happen after shutting down the android mobile device. It happen only when the mobile device scr

[2019-03-15 00:48] andrewlewis commented on #5635
I see. If you follow along #3750 that should be updated when we get round to supporting concatenation of ImaAdsLoaders (hopefully soon!).

[2019-03-15 01:12] pawaom commented on #5616
any time line when this will be included in future releases

[2019-03-15 01:49] bryandunbar42 commented on #5635
Yep. I’m following that one. I’ll need to try a workaround for now. I’m going to try writing a dummy media source first. I’ll report back if it works out.

[2019-03-15 08:50] imcloud opened #5637 "How can I getCurrentPosition only Audio Track exclude Video Track"
### Searched documentation and issues
already looked for an answer to your question.

### Question

 default result getCurrentPosition
[code]

 override buildVideoRenderers function do nothing, and setRendererDisabled(0, true). result is good
[code]

 how can i get just audio position with all track???

[2019-03-15 09:01] AchibanaUkyo commented on #3561
@rajeshghosh1978 I understand the sequence, my point is this should work automatically if you use multiSession=true without your changes. In your code the shouldNotDestroySession is only used for returning existingSession, it won't prevent the call of  DrmSessionManager.releaseSession.
Do you have test stream for this multi-key + key rotation?

[2019-03-15 09:41] imcloud commented on #5637
if has video track,  when begin always lost 100ms

[2019-03-15 11:47] #5637 closed, assigned to nobody

[2019-03-15 11:49] imcloud commented on #5637
getCurrentPosition not accurate in every ExtractorMediaSource

[2019-03-15 19:33] rajeshghosh1978 commented on #3561
@AchibanaUkyo : With my changes, DrmSessionManager.releaseSession is not even called multiple time. I am working on a very secure environment, so can't share any test link.

[2019-03-16 01:15] kaemanspk opened #5638 "UDP stream audio discontinuity making screen freeze"
### [REQUIRED] Content description
Head end UDP stream playback audio discontinuity making video freeze;

2019-03-15 18:09:43.605 13089-13189/com.google.android.exoplayer2.demolatest E/AudioTrack: Discontinuity detected [expected 3551951767, got 3552239767]
2019-03-15 18:10:17.919 13089-13189/com.google.android.exoplayer2.demolatest E/AudioTrack: Discontinuity detected [expected 3586543767, got 35

[2019-03-16 01:36] kaemanspk commented on #5638
overall can you please suggest how to handle sudden fall of stream Discontinuity detected [expected 3633711767, got 3633999767] gracefully.

[2019-03-16 05:06] imcloud opened #5639 "getCurrentPosition() always delay +100ms"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. Information about the ExoPlayer
  demo app can

[2019-03-16 08:20] mytvpro commented on #2092
i believe there is in fact significant demand for this

[2019-03-16 08:21] mytvpro commented on #2092
many older video files still use .avi need to turn to other players to view them. .avi was once very widely used and still very much in circulation i'm not sure why it's not higher priority

[2019-03-16 14:17] jonmarimba commented on #5636
Fernando's colleague, here. Playhead in this case is the one on the Cast device, not that of the Android device.

[2019-03-16 22:50] andrewlewis commented on #5639
It looks like this is a report that the player transitions to the ready state ~ 100 ms before the player position starts to advance when audio is enabled. If not, please clarify.

If so, please see #3841 for some context. We rely on the Android platform's reported audio track position/timestamp. Ideally this position would increase linearly starting at the moment we call `AudioTrack.play` but in p

[2019-03-17 08:03] eneim commented on #5619
@AquilesCanta I'm interested in this too, can you give a bit of detail? Like your roadmap to support this?

[2019-03-17 17:10] makazemi opened #5640 "how to track percentage of progressing download of each downloading file in EXOPlayer library ?"
I am working on a media player app. I'm using ExoPlayer library. I have a playlist of videos, and I want to download videos simultaneously. I done it by using available demo app of exoplayer library on GitHub. I want to show progress of each downloading in the UI. For this job I get help from DownloadNotificationUtil.buildProgressNotification method.
`   @Override
    protected Notification getFor

[2019-03-18 02:38] imcloud commented on #5639
[code]
that is all my code.  I clicked the button when player was ready , I promise. This is really a serious issue for my use case.  I'm trying to do synchronous playback between different devices(iOS and Android) via a socket connection, iOS sends a play command to Android, interface look like this
[code]

Then, I found Android is 100 milliseconds slower than iOS
PS: Must use iOS send command fo

[2019-03-18 10:39] AchibanaUkyo commented on #3561
@rajeshghosh1978 in your sample mpd the SD HD are in different AdaptionSet, I don't think you can switch from them automatically unless you use urn:mpeg:dash:adaptation-set-switching:2016 in DASH IF IOP Section 3.8. check #4933

[2019-03-18 10:44] AquilesCanta commented on #5630
Hi @sidkasundra, ExoPlayer doesn't provide 3D video support, unfortunately. However, it shouldn't be too complex to implement it yourself. You might want to try your luck in Stack Overflow or a similar Q&A site, for some guidance or existing solutions.

[2019-03-18 10:53] AquilesCanta commented on #5634
Have you sent the e-mail with the content and bugreport?

[2019-03-18 10:55] AquilesCanta commented on #5611
I'll close this due to lack of activity from the original issue creator. @adjustnox posted #5634.

[2019-03-18 10:55] #5611 closed, assigned to AquilesCanta

[2019-03-18 11:47] #5502 closed, assigned to marcbaechinger

[2019-03-18 11:48] #5500 closed, assigned to marcbaechinger

[2019-03-18 12:16] erdemguven commented on #5630
Please look at [GvrPlayerActivity](https://github.com/google/ExoPlayer/blob/dev-v2/extensions/gvr/src/main/java/com/google/android/exoplayer2/ext/gvr/GvrPlayerActivity.java). Using it you can play 3D videos in Daydream view with a 3D controller.

[2019-03-18 12:35] shoyu666 opened #5641 "AudioFocusListener thread"
[code]

[2019-03-18 12:35] shoyu666 opened #5642 "AudioFocusListener thread"
[code]

[2019-03-18 12:37] #5641 closed, assigned to nobody

[2019-03-18 12:40] MNGsulochana opened #5643 "STATE_ENDED is not calling for few contents If I move Seekbar to end of Exoplayer"
I am trying to play HLS Video Source, If I move to seekbar to the end of player then player is not reaching ended state, still some time the content is playing after the player duration ends also

Ex:Content duration is 30 mints.. If i move seekbar to the end of player then its playing like 30:10sec

Exoplayer : 2.9.4

[2019-03-18 12:51] tonihei commented on #5604
The main options you have available are seeking to the live edge with `player.seekTo(player.getDuration())` whenever buffering occurs or speeding up playback a bit (`player.setPlaybackParameters(...)`) so that playback can catch up with the live edge. To reduce general rebuffer delay, you can also try to set the `bufferForPlaybackAfterRebufferMs` value of the `DefaultLoadControl` to zero, so that

[2019-03-18 12:51] #5604 closed, assigned to tonihei

[2019-03-18 13:02] tonihei commented on #5622
The playback clock is mostly determined by the position of the audio track and not the real time on the device. Ideally, these two are in sync, but I think there may be a slight drift over time. @andrewlewis may be able to comment further if that is a potential issue. There may also be issues with buffering, where one player needs to buffer longer than another one before playback can be started or

[2019-03-18 13:13] tonihei commented on #5642
The provided information is not enough for us to help you with this issue.
Please add all the information requested in the issue template, especially reproduction steps. Thanks!

[2019-03-18 13:13] #5642 closed, assigned to tonihei

[2019-03-18 13:25] tonihei commented on #5640
We are currently improving tracking of downloads, so that this task should become easier in the upcoming release.

@erdemguven  Can you comment on how the notifications can be identified in the current version?

[2019-03-18 13:30] sergiupuhalschi commented on #5622
@tonihei  What do you mean the playback clock is mostly determined by the position of the audio track? Also, do you know if the player takes into consideration the EXT-X-PROGRAM-DATE-TIME and makes some default playback adjustments based on it?

You're right about the playback speed adjusting to control the synchronization, I didn't specify it, but already have it implemented, so that we pause the

[2019-03-18 13:36] andrewlewis commented on #5639
As mentioned earlier, I think this is a result of hardware limitations, so I am going to close this as not feasible to fix. If you can find a way to make the `AudioTrack` position start advancing immediately please provide some details here and we can try to incorporate it.

You can probably make this robust at the application level by sending one player's position to the other devices repeatedly

[2019-03-18 13:36] #5639 closed, assigned to andrewlewis

[2019-03-18 13:38] tonihei commented on #5638
The stream looks broken and the reported audio discontinuities likely happen because the audio timestamps don't match their declared duration.

When I try to play the stream on another device with the ffmpeg extension, I also get decoding problems like "Error in avcodec_send_packet: Invalid data found when processing input" which let playback fail completely.

[2019-03-18 13:39] tonihei commented on #5643
Please provide all the information requested in the issue template, including example media.

[2019-03-18 13:39] #5643 closed, assigned to tonihei

[2019-03-18 13:42] shoyu666 opened #5644 "PlayerControlView updatePlayPauseButton not in ui thread(crash)"
[code]
[code]

[code]
[code]
[code]

[2019-03-18 13:48] tonihei commented on #5622
The player needs to ensure audio and video play in sync to each other. Video frames can be shown at any point in time because are basically independent pictures, whereas audio samples need to be played in a timed continuous fashion to make them audible in the right way. That's way ExoPlayer lets the system audio track play the audio samples and adjusts the timing of the video frames to the reporte

[2019-03-18 14:01] tonihei commented on #5644
This is still omitting quite a lot from the issue template.

Besides that, it sounds as if you are calling setAudioAttributes on the wrong thread. Please check if can see "Player is accessed on the wrong thread." warnings in the logcat to know where these calls are coming from.

[2019-03-18 14:40] oleksandr-yefremov opened #5645 "ABR DASH randomly changes video size within single track every ~10 seconds"
### [REQUIRED] Searched documentation and issues
Looked through samples, javadocs for the mentioned methods, issues on github (opened and closed) and dev guide.

### [REQUIRED] Question
Situation: when playing **DASH livestreams and VoDs quality changes very frequently** (every 6-20 seconds, network is Wifi around 100Mbps, bandwidth is stable). According to [this comment](https://github.com/google

[2019-03-18 14:41] rajeshghosh1978 commented on #3561
@AchibanaUkyo : As I mentioned earlier, the provided structure was just an example. I have taken this sample from the first comment of this thread and copy pasted the same block to create multiple adaption sets.

[2019-03-18 14:56] tonihei commented on #5645
That's mostly the case, but not necessarily. For your case it looks as if the stream with id=livestream_video_04/cenc actually changes its size within the stream itself. That is, the decoded output samples are having different sizes. So even though the declared input format is still the same and ExoPlayer's track selection didn't change its decision, the output video size may change. If that is in

[2019-03-18 14:57] makazemi commented on #5640
@tonihei Good. I'm waiting for new version. I have a small question. Are downloaded .exo files encrypted and there is no way to play them? I want to play downloaded video only on my app. Do I need to re-encrypt these again?

[2019-03-18 17:28] dennykurniawan48 opened #5646 "Playing playist from provided position"
### [REQUIRED] Searched documentation and issues
I have same problem with this issue, when try to playing from playlist: [https://github.com/google/ExoPlayer/issues/4375](https://github.com/google/ExoPlayer/issues/4375 )

### [REQUIRED] Question
when I want to play from spesific position that I deliver from intent, but position 0 always playing for some seconds, and then jump to provided position.

[2019-03-18 17:41] tonihei commented on #5646
Did you try to do the `seekTo` first and then prepare with `resetPosition=false`?

[2019-03-18 17:43] adjustnox commented on #5634
Yes. I sent the email to **dev.exoplayer@gmail.com**, subject is **Issue #5634**

[2019-03-18 18:06] dennykurniawan48 commented on #5646
Thanks for your reply, I try to change `resetPosition `to false and put `seekto `above it, but I got `IndexOutOfBound exception`:
[code]

[2019-03-18 19:09] tipoc123 opened #5647 "Handling 403 Forbidden"
### [REQUIRED] Searched documentation and issues
Search in issues. For example, https://github.com/google/ExoPlayer/issues/4689

### [REQUIRED] Question
We use tickets for protecting TV channels (HLS content). URLs are something like this (content the same):
[code]
[code]
Ticket's lifetime is 10 minutes. After this interval server returns 403 Forbidden for this ticket and we need re-request new ti

[2019-03-18 19:41] tipoc123 commented on #5647
I see multiple InvalidResponseCodeException in logcat before playing was stopped:
[code]

How do I make exoplayer generate only one InvalidResponseCodeException (instead of multiple)?

[2019-03-18 19:48] tipoc123 commented on #5647
Sorry, I understand. Firstly, I'll try solution in https://github.com/google/ExoPlayer/issues/4689 and then let you know.

[2019-03-18 19:53] JonathanImperato commented on #5647
You can either implement a custom load error policy (I suggest some readings like  https://link.medium.com/6v9Of0ZjaV) or just handling it in the player listener onPlayerError method, both cases by checking the exception status code that for you is 403

[2019-03-18 20:01] MehmanDadashov opened #5648 "need help with stream from .json file, advertising and cast to chromecast"
Hello, I need help in developing an application.
3 in 1 to get all 3 demos in one Demo/IMA/Cast in one app.
I want to build an application that Streams are broadcast from a .json playlist, as in the ExoPlayer demo, and support ads like admob / IMA, and want that application will be able to cast to chromecast.
Please help me with my problem and show examples if they exist some.
I tried to build Exo

[2019-03-18 20:32] dennykurniawan48 commented on #5646
I try to implement solution from @ojw28 and modified my code to :
[code]

and then update my UI from `onTracksChanged` to `onPositionDiscontinuity`. Now it's works, thank you.

[2019-03-18 20:40] ojw28 commented on #5202
Sorry, we haven't found time to do this yet. Note that it's not actually a library issue. It's only an issue with Apple's test streams (and replacing the links in the demo app with content we're hosting ourselves). Hence the issue still being open should not be blocking you from doing anything related to your own application.

[2019-03-18 20:47] CBers commented on #5096
Any updates please?

[2019-03-18 21:10] tipoc123 commented on #5647
The next code doesn't work:
[code]
I see a lot of 'InvalidResponseCodeException: Response code: 403' in this case. It's very strange. Exoplayer 2.9.4.

[2019-03-18 21:32] tipoc123 commented on #5647
Sorry for long code block, but:
[code]

[2019-03-18 21:33] tipoc123 commented on #5647
It's like a spam :)

[2019-03-18 21:38] tipoc123 commented on #5647
Can I seamlessly change URL for player in that case?

[2019-03-18 21:46] AquilesCanta commented on #5647
Have a look at [HlsDataSourceFactory](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/hls/HlsDataSourceFactory.html). Inject a custom DataSource that wraps the data source you are already using and intercept URLs that are requested, then put in the URL whatever token you need, when needed.

I don't think the LoadErrorHandlingPolicy is the way to go here since

[2019-03-18 21:54] tipoc123 commented on #5647
Thanks! I'll try custom DataSource.

@AquilesCanta, can you answer me a question about seamless playing? Does exoplayer allow to substitute HLS live URL on the fly?

[2019-03-18 21:58] tipoc123 commented on #5647
I.e. HLS chunks are the same, but URLs are different.

[2019-03-19 00:01] #5646 closed, assigned to tonihei

[2019-03-19 02:37] shoyu666 commented on #5644
[code]

[2019-03-19 06:10] MNGsulochana commented on #5643
may  I know which media info you required

[2019-03-19 06:14] MNGsulochana commented on #5643
please provide at least reason why the content is playing like this after the duration ends also.For right now its happening only for one content .But for the remaining contents player is working properly

[2019-03-19 06:23] MNGsulochana commented on #5643
Please help me for this..may I know why its happening like this...
Right now I am facing this only for content ..for remaining contents player
is working as properly

On Mon, Mar 18, 2019 at 7:10 PM tonihei <notifications@github.com> wrote:

--
Thanks and Regards
M.N.SUCHI.

[2019-03-19 07:25] #5644 closed, assigned to tonihei

[2019-03-19 09:16] kushalgupta0565 opened #5649 "Exoplayer Freezes in between of playing Widevine Encrypted DASH Media"
I am using Android TV Box whose specs are:

- CPU – Amlogic S905X2 quad-core ARM Cortex-A53
- Memory – 4GB
- Storage – 32GB
- OS – Android 8.1
- Video Output – HDMI 2.0

In **Exoplayer version 2.9.2** i am playing **offline 2k widevine encrypted videos** with **offline license**, But at random position the player screen got freeze, the last time _**video suddenly freezed after 1 hour 11 minutes**_

[2019-03-19 10:05] AquilesCanta commented on #5647
If you want to modify the URLs that ExoPlayer uses to fetch segments then the easiest way is using a custom DataSource as suggested above.

[2019-03-19 10:05] mvrazi opened #5650 "Forcing ExoPlayer to close previous TCP session after a channel switch"
### [REQUIRED] Searched documentation and issues
- https://github.com/google/ExoPlayer/issues

### [REQUIRED] Question
Tested using:
- ExoPlayer/2.9.6
- WowzaStreamingEngine/4.7.6

We're having a problem when switching between channels.
After switching to another channel it is to expect from a player side that the last ACT to close the previous session is sent to the server streaming engine.

http

[2019-03-19 10:10] tonihei commented on #5551
Closing due to lack of new information. And the question was probably answered.

[2019-03-19 10:10] #5551 closed, assigned to tonihei

[2019-03-19 10:14] tonihei commented on #5648
Unfortunately, we can't help you build your own app and this issue tracker is for specific bugs and questions around ExoPlayer only.

We already have the demo apps you mentioned with all the functionality and if you need help for particular issues which fall into generic Android development, please use platforms such as StackOverflow or similar to get help from others.

[2019-03-19 10:14] #5648 closed, assigned to tonihei

[2019-03-19 10:18] tonihei commented on #5649
Just for verification: Does that always happen at 1 hour and 11 minutes? Or was that just an example?

Based on the logs the Android mediaserver died and that's why no further samples could be decoded. That is definitely not supposed to happen, but sounds more like a platform/device issue than an ExoPlayer issue.

[2019-03-19 10:23] tipoc123 commented on #5647
@AquilesCanta, thanks! We will try it.

[2019-03-19 10:23] tonihei commented on #5650
ExoPlayer is definitely closing all connections when they are no longer used. Besides that, it sounds like a fragile setup if the server can't handle multiple open connections?

If you have the feeling that ExoPlayer is not closing its connections, please provide more detailed reproduction steps and explanations how you came to that conclusion so that we can take a look. Closing the issue for now,

[2019-03-19 10:23] #5650 closed, assigned to tonihei

[2019-03-19 11:48] kushalgupta0565 commented on #5649
It was just an example. I am facing this issue at random interval.

And, in a different device i.e Android Projector same issue occur at different interval, it specs are
- Operation system: Android 5.1
- CPU: Amlogic T968, quad-core
- Memory: 2GB DDR3 + 16GB eMMC

[2019-03-19 12:44] oleksandr-yefremov commented on #5645
Ok, thanks for quick reply! I will check with our backend team to find out more about actual encoding. If we won't find anything suspicious or we prove that other players handle same input differently, I will try to prepare a sample livestream (probably with a temporary token) and send it to the email above.
Thanks again!

[2019-03-19 13:02] AndroidDeveloperLB opened #5651 "Question: How to use setConstantBitrateSeekingEnabled on v2.9.5 ?"
### [REQUIRED] Searched documentation and issues
I've found these, but they look like they are used for older API which isn't used anymore:

- https://github.com/google/ExoPlayer/issues/4797
- https://github.com/google/ExoPlayer/issues/2650
- http://google.github.io/ExoPlayer/supported-formats.html
- https://github.com/google/ExoPlayer/issues/2197

### [REQUIRED] Question
I'm using v2.9.5 :

    i

[2019-03-19 13:10] tonihei commented on #5651
As documented on the guide page you linked above, this feature can be enabled by calling `DefaultExtractorsFactory.setConstantBitrateSeekingEnabled(true)` and then using this `DefaultExtractorsFactory` in `ExtractorMediaSourc.Factory.setExtractorsFactory(...)`.

[2019-03-19 13:10] NayaneshGupte commented on #2083
@ojw28 , @tonihei  isn't this approach same as keeping `minBufferUs` and `maxBufferUs` difference minimum ? or is there any difference ?
Then instead of overriding `shouldContinueLoading` I can just set 15s and 20s in min and max through builder something like this
[code]

[2019-03-19 13:14] andresdiez opened #5652 "VTT caption file download"
### [REQUIRED] Searched documentation and issues
I been looking every where but not success finding appropriated solution

### [REQUIRED] Question
exoplayer r2.4.  In a hls stream with multiple vtt captions files why exoplayer loads the same file after seek back to the beginning of the stream. ie content start playback from 0 position and plays for 3 minutes and 3 .vtt files download for that peri

[2019-03-19 13:15] AndroidDeveloperLB commented on #5651
@tonihei I don't see it available in any of the classes I've used.
Where exactly can I enable it for all of those?
I don't even use this class. Should I use it here somehow? Or is there an alternative that fits in what I used?

[2019-03-19 13:24] tonihei commented on #2083
@NayaneshGupte  Yes, that's the same as keeping minBufferUs and maxBufferUs at the same value.

We are likely to change our defaults to that soon as the potential benefit seems to outweigh the extra battery usage.

[2019-03-19 13:37] AquilesCanta commented on #5634
The e-mail doesn't contain a bugreport.

I can play the streams correctly on a Pixel XL running Pie, using DefaultHttpDataSource. With the given information there is nothing else I can do to help. Things that may be worth doing:

+ Contacting the device manufacturer.
+ Updating the ExoPlayer version and reaching back to us with all the information required by the issue template. Please don't skip

[2019-03-19 13:37] #5634 closed, assigned to AquilesCanta

[2019-03-19 13:44] tonihei commented on #5651
My comment above already describes which classes you need to use. Please give it a try first!

[2019-03-19 13:54] tonihei commented on #5649
I tried to play the provided example stream on another device and the media stream looks broken to me. I get a lot of complaints from the platform AudioTrack about timestamp mismatches, indicating that the timestamps in the stream are wrong. In addition to that, the video shows pixelation artefacts which may  be due to decryption issues.

The "mediaserver died" error you are seeing on the mentione

[2019-03-19 13:56] AndroidDeveloperLB commented on #5651
@tonihei It was confusing as you wrote it as if it's a static function, or something that I can't use.

I think you mean like this:

[code]

I think it works. Is that the correct way?

Why isn't seeking enabled by default for all supported formats? Is there any disadvantage of using what was added now?

I just use some file format for recording and playback of this recording.
Maybe I should use `O

[2019-03-19 14:12] tonihei commented on #5651
Yes, that's the correct way of using it. I assumed you'd be able to interpret my pseudo code given your familiarity with the ExoPlayer code base :)

The disadvantage is that seeking in that way is not accurate because the media doesn't say exactly where we need to seek to. And if you have a choice, you should always prefer a format which allows accurate seeking by default (e.g. aac/mp4, or mp3 wit

[2019-03-19 14:13] tonihei commented on #5651
Closing because the question has been answered and we can't provide detailed advice on the encoding part for your media anyway.

[2019-03-19 14:13] #5651 closed, assigned to tonihei

[2019-03-19 14:15] AndroidDeveloperLB commented on #5651
So aac is better for this anyway...
Thank you guys.
I wish you could make multiple tiny samples of various use cases. Could be nice to have instead of one huge project.

About the formats, I meant that the table has only "AMR", but I don't get if it includes both types I've mentioned.

[2019-03-19 14:32] indritj commented on #5650
Hello I have the same issue using ExoPlayer /2.9.5/2.9.6. Player keeping two or more  connections between the EXOPlayer and streaming server. It does not close the previous session to streaming server for the previous stream.
This issue not happen using others players like NatvePlayer of STB etc.

[2019-03-19 14:35] tonihei commented on #5650
@indritj Please see my comment above. We need more detailed information to do anything about it.
It would also be good to know what the issue with the open connections actually is. That is, what kind of problem does that cause?

Note that it may also be the system decides to leave the connection open for a while in case it needs to be reused.

[2019-03-19 14:51] indritj commented on #5650
This does not affect the player side but the server it increasing the number of connections on the Streaming server also increasing CPU of server. In this time the streams start to have disconnections and freezes

[2019-03-19 17:38] jmar777 commented on #5600
I don't think I'll be able to reduce this to a small sample app, but I thought I'd voice that we're running into this issue as well.

Per the developer guide, we have added...

[code]

...to our gradle configs. We're on v2.9.6.

[2019-03-19 17:59] erdemguven commented on #4273
We're currently working on using SQLite for cache index which will greatly improve index updates. It'll be ready soon. We'll update this thread when it's available.

[2019-03-19 18:26] kaemanspk commented on #5638
We are playing live stream from head end and some time getting error like following; my expectation is Exoplayer is handling some malfunction of the stream loading OOM error with retry count.
Is this possible to handle audio related error in the same way. Also we suspect it related to including FFMPEG extension for AC3 audio handling. I just shared other stream over mail to your perusal.

1) Obser

[2019-03-19 18:40] kaemanspk commented on #5638
we compared stream playback with other player build on webOS next to each; played same stream noted webOS player played smooth over coming all the issues. just sharing the observation;

[2019-03-20 03:10] tuesda opened #5653 "SinglePeriodTimeline NullPointerException"
### [REQUIRED] Issue description
There is a NullPointerException on consumer device

### [REQUIRED] Reproduction steps
normal play

### [REQUIRED] Link to test content
https://media-qncdn.ruguoapp.com/cda6c7ecaa94f9a755ec895340ce5a63314784dc50bfe0e4cde130c40e3de9f6-5c8e1e8c67816b05edcc44ce.m3u8

### [REQUIRED] A full bug report captured from the device
Fatal Exception: java.lang.NullPointerExcepti

[2019-03-20 05:12] kartdroid commented on #4273
Is there any PR available for this that we can have a glance at ?

[2019-03-20 05:22] kushalgupta0565 commented on #5649
Thanks tonihei, for the reply. I will look forward in it and update here.

[2019-03-20 05:37] namespace7 opened #5654 "Can't resolve method getCurrentMappedTrackInfo()"
I'm getting Error here ..
**MappingTrackSelector.MappedTrackInfo mappedTrackInfo = trackSelector.getCurrentMappedTrackInfo();**
saying **cannot resolve method getCurrentMappedtrackInfo**
can somebody help me with this?
![image](https://user-images.githubusercontent.com/29954682/54661464-52a2e080-4b00-11e9-8671-48b9ac172de5.png)

[2019-03-20 05:39] namespace7 commented on #5654
I'm using exoplayer:2.8.4

[2019-03-20 09:41] sidkasundra commented on #5630
What i'm try to do is divide the control section screen into side-by-side so when screen convert it into 3d control not squeezed up because we set control layout in side-by-side.
here is the image that what i done.

![exoplayer](https://user-images.githubusercontent.com/17236345/54673971-7591bc80-4b21-11e9-9143-8d6bd1aac178.png)

but now i got another issue.
EXOPLAYER only works on first screen wh

[2019-03-20 09:53] tonihei commented on #5654
Please try to clean Android Studio caches and rebuild the project. Sometimes the Android Studio cache doesn't pick up changes very well.

[2019-03-20 10:00] namespace7 commented on #5654
The error doesn't go ,even after cleaning the project caches! is that a syntax error ?

[2019-03-20 10:03] tonihei commented on #5654
That's not possible to say based on a screenshot. And generally, we can't help you debug issues with your app. Android Studio should give you enough information to check if it's a syntax error or not.

[2019-03-20 10:03] #5654 closed, assigned to tonihei

[2019-03-20 10:25] AchibanaUkyo commented on #3561
@rajeshghosh1978 I would suggest you try the multiSession=false and remove the modification you did for the acquireSession then you will get the same behaviour. I get the same feeling with @ojw28 that your license server will return multi-key(SD and HD). As you shared one key for SD and Audio so you won't see the license request for SD when switching from HD->SD as Audio is still active. Then if y

[2019-03-20 10:54] namespace7 commented on #5654
here are some Errors
    --------- beginning of crash
2019-03-20 16:23:41.139 28421-28421/com.placidvision.streamtest E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.placidvision.streamtest, PID: 28421
    java.lang.NullPointerException: Attempt to invoke virtual method 'com.google.android.exoplayer2.trackselection.MappingTrackSelector$MappedTrackInfo com.google.android.exoplayer2.trackse

[2019-03-20 11:05] ojw28 commented on #3561
To perhaps clarify the discussion here:

* Key rotation requires `multiSession=true`, else playback will fail when rotation occurs
* If the licenser server returns both SD and HD keys when a request is made for either of them, it's best to have `multiSession=false` because doing so avoids opening a new DRM session.

The use case @rajeshghosh1978 has involves both of the above. His change is a fair