[2019-04-18 06:21] makazemi commented on #5773
Please Compile this project. This project compile correctly. https://github.com/makazemi/SampleExoPlayer

[2019-04-18 07:03] andrewlewis commented on #5776
Over the next few days the development branch will be updated to depend on IMA SDK 3.11.2. This will also go into the upcoming ExoPlayer release 2.10.

If you need this urgently you can probably just add a dependencies on `com.google.ads.interactivemedia.v3:interactivemedia:3.11.2` and `com.google.android.gms:play-services-ads-identifier:16.0.0` in your app. No code changes should be needed if you

[2019-04-18 07:03] #5776 closed, assigned to andrewlewis

[2019-04-18 08:32] ojw28 commented on #5773
This project compiles. I don't understand what the issue is though; everything seems to be working correctly, including transition to `STATE_ENDED` at the end of the last video.

Are you trying to detect when playback moves from one item to the next? If so then it's working as intended that the player doesn't transition to `STATE_ENDED` (because it's still playing something). See https://github.co

[2019-04-18 08:33] ojw28 commented on #5775
Please properly fill in the issue template. There's nothing we can do unless you provide complete information.

[2019-04-18 08:34] ojw28 commented on #5774
Yes.

[2019-04-18 09:03] catbaxter commented on #5744
Have you received the bugreports and link? Could you reproduce the problem or do you need more videoexamples?

[2019-04-18 09:32] AlphaCircle opened #5777 "Long Delay happens after seek"
### [REQUIRED] Searched documentation and issues
Tell us where you’ve already looked for an answer to your question. It’s
important for us to know this so that we can improve our documentation.

### [REQUIRED] Question
Describe your question in detail.

Hello
I have one issue of slow play of exoplayer after seek operation. I am running 2 players. One player runs and pause in certain place, then th

[2019-04-18 09:36] ojw28 commented on #5777
Is the fact there are two players relevant, or does the issue also happen when seeking with one player?

[2019-04-18 10:44] ojw28 commented on #5568
I think it's more likely that Fugu has different secure and non-secure capabilities. ExoPlayer always queries the non-secure ones during track selection, and in this case ends up using the less capable secure path for playback. This is not a problem on most devices, since it's not particularly common for secure and non-secure capabilities to be different (performance may be different, but actual h

[2019-04-18 13:03] jhchung03 commented on #5776
Thank you very much @andrewlewis !

[2019-04-18 20:09] DarkAnakin opened #5778 "Stop playing on manifest update"
Before filing a content issue:
------------------------------
- Search existing issues, including issues that are closed.
- Consult our supported formats page, which can be found at
  https://google.github.io/ExoPlayer/supported-formats.html.
- Try playing your content in the ExoPlayer demo app. Information about the
  ExoPlayer demo app can be found here:
  http://google.github.io/ExoPlayer/demo-

[2019-04-18 20:24] ojw28 commented on #5778
The way the manifest is updating is invalid. In particular, the `Period@start` and `SegmentTemplate@presentationTimeOffset` values should not be changing across manifest updates.

There was some confusion around this previously, specifically in the DASH IF IOP, however this has now been clarified. See this issue for more detail: https://github.com/google/ExoPlayer/issues/3457

[2019-04-18 20:24] #5778 closed, assigned to ojw28

[2019-04-18 20:28] ojw28 commented on #5778
You can also take a look at the [DASH IF IOP 4.3 doc](https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf), which says:

[2019-04-18 20:30] #5772 closed, assigned to ojw28

[2019-04-18 20:31] ojw28 commented on #5753
The link provided gives a 404 for me. Please provide a working test stream; thanks!

[2019-04-18 20:31] DarkAnakin commented on #5778
Thanks for the quick response

[2019-04-18 20:32] ojw28 commented on #5764
Closing because no information was provided in the issue template. Please properly fill out the issue template.

[2019-04-18 20:32] #5764 closed, assigned to ojw28

[2019-04-18 22:25] ojw28 commented on #4273
SQLite based cache indexing is enabled in `dev-v2`, including in the demo app. Please give it a try. If you want to try it out in your own app then you'll need to migrate to one of the new `SimpleCache` constructors that takes a `DatabaseProvider`.

I'm going to close this as fixed, but if performance is still poor then please do let us know.

[2019-04-18 22:25] #4273 closed, assigned to erdemguven

[2019-04-18 22:41] LowLevelSubmarine opened #5779 "Support just-in-time resolution of URLs (using app logic)"
### Searched documentation and issues
-This repository
-Web (medium, stackoverflow, etc.)

### Question
I am developing an app, in which you can play songs from a website. Right now, parsing the url for the tracks takes some time (although I do cache) and doesn't always work flawlessly, but if it has been parsed I add it do the concatinating Media Source. The Problem lays within the playlist mecha

[2019-04-18 23:04] #4563 closed, assigned to erdemguven

[2019-04-18 23:06] ojw28 commented on #4253
This should be much improved now. Please give the `dev-v2` or `dev-v2-r2.10.0` branches a try. The `2.10.0` release will be available in the next week or so.

[2019-04-18 23:06] #4253 closed, assigned to erdemguven

[2019-04-18 23:08] ojw28 commented on #4433
This is now supported in `dev-v2`, and will be in the `2.10.0` release.

* You can pause/resume all downloads with `DownloadManager.pauseDownloads` and `DownloadManager.resumeDownloads`.
* You can stop/unstop an individual download with `DownloadManager.setStopReason`.
* If using `DownloadService`, then these commands can also be sent to the service using intents (there are corresponding helper me

[2019-04-18 23:08] #4433 closed, assigned to erdemguven

[2019-04-19 04:51] AlphaCircle commented on #5777
First of all, I am using the version 2.9.4.

That happens in either way. For instance, 1) A player (current player) --> B player (later player) or 2) B player (current player) --> A player (later player).  In 1) case, B player shows the slow frames. In 2) case, A player shows the slow frames. When I look at the issue of #2533, which is similar question to mine, I thought that might be related to S

[2019-04-19 07:23] Furystorm commented on #5772
Thanks! It helps me a lot.

[2019-04-19 08:15] AlphaCircle opened #5781 "Different Location played by two Players with one position provided"
Hello.

I am using Version 2.9.4, the latest version and I am running 2 players (A and B player). The scenario is simple; A player runs and a certain event happens, then the position of A player with an additional value, for instance, 100ms, ( that is, "next position" = current A's position + 100ms) is provided to B player. B player is in Pause state till the next position is arrived by A player.

[2019-04-19 08:39] isuperqiang opened #5782 "When playing wav file on MTK device, just sounds only noisy"
See previous [issue](https://github.com/google/ExoPlayer/issues/2873), I found Oppo R9(Android 5.1) is MTK device, so please add it to MediaCodecUtil#isCodecUsableDecoder(). Thanks.

[2019-04-19 11:15] rinav opened #5783 "Correctly detect pause event when using PlayerControlView"
### [REQUIRED] Searched documentation and issues
- Searched all issues, but did not find the answer. #2627  #3397

### [REQUIRED] Question
Describe your question in detail.

When Using PlayerControlView How to properly detect Pause event?
        Can we intercept play, pause, rewind, fastforward, previous, next and seek before and then pass/call the default behaviour?

 When using Player.EventList

[2019-04-19 12:18] richardyang92 commented on #4352
I have same issue on exoplayer release-v2 branch on a mstar 638 board.
Is there anyway to workraround or fix it?

anr trace:
[code]

[2019-04-19 13:59] jasonostrander opened #5784 "PlayerView click handling does not match standard Android behavior"
### [REQUIRED] Issue description
Hi,
This issue is related to: https://github.com/google/ExoPlayer/issues/5433

It appears the PlayerView onClick handling triggers on TOUCH_DOWN events, rather than on TOUCH_UP, which is the standard Android behavior.

Observed: Tapping and holding on PlayerView triggers onClickListener.
Expected: Tapping and holding on PlayerView does not trigger onClickListener.

[2019-04-19 20:25] varun7952 opened #5785 "Fullscreen button setOnclicklistener returns Null"
I have exoplayer in my recylcerview it is working fine but now i want to add fullscreen button which i added into `exoplayer_controls.xml` file. I also override `exo_simple_player_view.xml` in this file i add `PlayerControlView `(It's per several guide) with id `android:id="@id/exo_controller"`
as soon as i set click listener over this i get NullPointerException.

No matter what i try this line gi

[2019-04-19 21:27] #5785 closed, assigned to ojw28

[2019-04-20 06:42] nimaaaaw commented on #3026
@andrewlewis Hi there,
are you still treating this issue as a low priority?
cause I get this exception for almost half of the mkv movie files that are larger than 100mb
and please if you dont have plans to add this support, give me a heads up to fix it myself

thanks in advance

[2019-04-20 13:16] AlexDundar opened #5786 "Video subtitles on chromecast"
I use `exoplayer `with `exoplayer-cast-extension` in my android app. In the app its possible to play videos with subtitles (I have links on `.srt` files for each video source). And I want to cast these videos (on chromecast) with subtitles. For casting I use the following code:

[code]

It plays video with chromecast well, but without subtitles. And I didnt find some method for adding subtitles fo

[2019-04-21 08:51] amjadmasri commented on #5786
https://developers.google.com/cast/docs/android_sender/media_tracks

[2019-04-21 10:35] ojw28 commented on #3561
As per my comment above, this is fixed in dev-v2 for API level 23 and above. The issue is tricky to fix in a general way on earlier API levels, and we will likely not be investing time into doing so.

Note there's still a small pause when key rotation occurs. This is tracked by #4133.

---

Aside: I've marked the extended discussion that occurred in this issue after it was closed as off topic, so

[2019-04-22 03:56] kaemanspk commented on #5693
Team please give us some insight on this issue? If it could be some direction or result.

[2019-04-22 04:06] alexeyr15 commented on #5700
Any info on this issue?

[2019-04-22 07:50] rishun-fsi opened #5787 "Synchronizing ExoPlayers with multiple DASH sources to different SurfaceViews"
Hello,

I want to be able to play media from multiple DASH sources to different SurfaceViews.

I've been able to play the sample using separate SimpleExoPlayer instances, but there isn't a way to synchronize them.

Here is my sample code.
[exo-multi-test.zip](https://github.com/google/ExoPlayer/files/3102628/exo-multi-test.zip)

Is there a way I can synchronize VideoView (SimpleExoPlayer) instance

[2019-04-22 10:54] portizb commented on #55
@IgorMan2 ExoPlayer sort of has support for RTSP in the pull request #3854. To playback a rtsp media follow the steps below:

Clone the rtsp dev branch:
git clone -b dev-v2-rtsp https://github.com/tresvecesseis/ExoPlayer.git.

Open Android Studio and open the RTSP ExoPlayer2 project from your local git (dev-v2-rtsp).
Add your rtsp stream in the media.exolist.json file on ***RTSP Streams*** section

[2019-04-22 13:07] emco83 commented on #5700
@alexey-rabets
Sorry to say this, but I think you should give up from this player. It's been a long time since nobody is fixing this annoying issue.
There are better solutions, for an example you can check the OTT Navigator. It uses codec libraries that works lot better and stable on any Android device.

Good luck!

[2019-04-22 13:51] malwinder-s commented on #5714
Getting same issue. How to resolve it?

[2019-04-22 17:11] keerthikorrapati commented on #5596
@ojw28 : do you happen to know when will the 2.10 release be

[2019-04-22 18:21] ojw28 commented on #5596
1 to 2 weeks from now.

[2019-04-22 19:58] nitinglobal commented on #5644
I am also facing the same issue , I have implemented the audio focus for audio and integrated the audioattributes for video in version 2.9.6 when i play audio and try to play video then same crash i get. May i know how i can fix this issue,i am creating and executing all commands of exoplayer on single application thread only.

[2019-04-22 20:49] rishabh14augshukla opened #5788 "Unable to play AC3 URL using ffmpeg extension even after compiling the ffmpeg extension successfully"
### **Issue description**
Unable to play AC3 URL using ffmpeg extension even after compiling the ffmpeg extension successfully.
I have successfully compiled the ffmpeg extension locally but when I am trying to play AC3 HLS URL. It is not calling FfmpegAudioRenderer.

### **Reproduction steps**
I have followed all the instruction which is mentioned in the following link
https://github.com/google/Ex

[2019-04-22 21:10] ojw28 commented on #5779
Just-in-time resolution of URLs has been asked for elsewhere as well. We should probably look at supporting it for all stream types (Progressive/DASH/SS/HLS).

[2019-04-22 21:17] ojw28 commented on #5782
I don't understand the request, since the fix for the issue you refer to is not targeted at specific devices. The fix was to always prefer the Google decoder over the MTK decoder on all devices running pre-O Android versions.

Please can you provide complete information by properly filling out the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage

[2019-04-22 21:23] ojw28 commented on #2826
Closing because this is supported in `2.10.0` (there is an alpha release available, and the final release is coming soon).

[2019-04-22 21:23] #2826 closed, assigned to ojw28

[2019-04-23 03:31] tuesda opened #5789 "Support "twos" codec (big endian PCM)"
### [REQUIRED] Content description
got from ffprobe:

Input #0, mov,mp4,m4a,3gp,3g2,mj2, from '/Users/zhanglei/Downloads/C0009.MP4':
  Metadata:
    major_brand     : XAVC
    minor_version   : 16785407
    compatible_brands: XAVCmp42iso2
    creation_time   : 2019-04-19T13:58:09.000000Z
  Duration: 00:00:04.80, start: 0.000000, bitrate: 55933 kb/s
    Stream #0:0(und): Video: h264 (High) (avc1 /

[2019-04-23 05:38] ganeshgarad opened #5790 "Video Not pausing after focus change"
I'm using this library in recycler view for social media which contain image and video post. But when focus change on video it is not stopping or continuously playing in background. Application need to stop video when focus not on this video.

[2019-04-23 07:56] AlexDundar commented on #5786
@amjadmasri thanks. But when I set MediaTraks, there is no subtitles in cast video, unfortunately:

[code]

The video plays well, but without subtitles. Is there a way to show subtitles successfully? I use Styled Media Receiver.

[2019-04-23 08:07] simpler23 opened #5791 "playlist with PagedList(AAC)"
### [REQUIRED] Searched documentation and issues
I found playlist feature can be implemented using ConcatenatingMediaSource class which be added MediaSource instance.

### [REQUIRED] Question
Hi, I'm implementing playlist feature that has about 700 songs.
I've implemented using ConcatenatingMediaSource instance.
But it require to instantiate HlsMediaSource instance about 700 times at once to add t

[2019-04-23 08:08] makazemi opened #5792 "How to detect a dismissed notification and terminate the playback service?"
I want to dismiss notification and stop Player service when user dismiss notification. But PlayerNotificationManager class is not e and only in the last item of playlist appear a square button on the notification to remove it.
**reproduction steps**
[https://github.com/google/ExoPlayer/tree/io18](url)

[2019-04-23 08:31] nitinglobal commented on #5790
@ganeshgarad  which lib  version you are using ? from 2.9.0 exoplayer can handle the focus automatically with small piece of code where you need to set the audio attribute.

[2019-04-23 08:48] SystemRestored opened #5793 "Exoplayer cast for DASH widevine"
I want to make exoplayer casting widevine dash video, I read it needs custom receiver to play. I couldnot find any code to make it. Anyone guide me how to make it?

[2019-04-23 08:55] W2L commented on #5775
i resolved this issue by using ConcatenatingMediaSource's lazy mode. ^V^

[2019-04-23 08:55] #5775 closed, assigned to ojw28

[2019-04-23 09:17] makazemi opened #5794 "How to make zoomable PlayerView ?"
Is there a way to make zoomable PlayerView? I find a library that done this job but it has a bug. When I zoom in, control view is hide.
**Library**
[https://github.com/Manuiq/ZoomableTextureView](url)

[2019-04-23 10:10] ganeshgarad commented on #5790
2.9.2

[2019-04-23 11:16] ojw28 commented on #5790
It's unclear what this question is about. What type of focus are you talking about? If you're talking about UI focus (e.g. the view holding the video is scrolled so it's no longer visible), then you need to handle this yourself (i.e. by detecting when the player should be stopped, and calling appropriate methods on the player to stop it).

[2019-04-23 11:25] ojw28 commented on #3026
Yes, as per what Andrew's already written above. We have no near term plans to work on this.

[2019-04-23 12:34] tonihei commented on #2083
We'll update our default for playbacks with video* to have the same min and max buffer value. That means it will follow the drip-feeding pattern described above. Our experiments showed that rebuffers and the number of format changes went down significantly. At the same time, battery usage increased only very slightly.

(*) We didn't enable this change for audio-only playbacks as the increased batt

[2019-04-23 12:34] #2083 closed, assigned to tonihei

[2019-04-23 14:55] andrewlewis commented on #5483
- Going on the assumption that this is a decoder bug in the MTK chpisets: it's worth trying out different configurations for the encoder, or different encoders, to try to find a set of options that do not trigger the decoder issue. For example, use the same Profile for all qualities if not doing that already. It is difficult to know exactly what aspect of the adaptation is problematic given that w

[2019-04-23 16:17] ojw28 opened #5795 "Allow pre-warming decoders ahead of time if app provides format hints"
### [REQUIRED] Use case description
This enhancement is aimed at reducing the startup latency of the first playback, specifically when the application is able to provide hints as to the expected format of the content ahead of time. This is normally possible for applications where the app developer controls the content being played.

### Proposed solution
Provide a mechanism for the app to hint to

[2019-04-23 16:20] ojw28 opened #5796 "Investigate alternate threading models"
### [REQUIRED] Use case description
ExoPlayer currently sets audio and video decoders up one after the other. This enhancement tracks exploring setting them up in parallel, to reduce playback startup latency.

### Proposed solution
Setup audio and video decoders in parallel, rather than one after the other.

### Alternatives considered
N/A

[2019-04-23 16:43] ojw28 commented on #5783
Does this do what you need:
[code]
Note you can also override other methods in `DefaultControlDispatcher` to intercept other types of calls on the player.

[2019-04-23 16:49] ojw28 commented on #5784
@tonihei - I think this problem was introduced by https://github.com/google/ExoPlayer/commit/0a7745bc03c93709e178c578a4649eb534e8a9e0, which caused `ACTION_DOWN` touch events to call `performClick`, which then calls a registered listener. Could you take a look?

[2019-04-23 16:57] ojw28 commented on #5788
That would normally indicate either that the extension is not being loaded correctly, or that FFmpeg was not compiled to include the AC3 decoder. Please:

* Attach or email (to `dev.exoplayer@gmail.com`) a full bug report captured using the ExoPlayer demo app shortly after an attempted playback. Such a bug report includes more useful information than you've provided.
* Please try attaching a debug

[2019-04-23 17:04] ojw28 commented on #5777
A few more questions:
* What about if you only have one player, and you perform a seek?
* Does disabling audio help. Obviously there will be no audio if you do this. The question is whether it fixes the issue affecting the rendering of the 2nd and 3rd frames. You can disable audio with the following, where `trackSelector` is a `DefaultTrackSelector` instance:

[code]

[2019-04-23 17:06] ojw28 commented on #5781
I think you'd need to provide a small demo app (shared as source on GitHub) for us to be able to reproduce the problem and assist further.

[2019-04-23 19:42] ojw28 commented on #5789
Samples are 16 bit PCM, but with big endian byte order. This means it's necessary to swizzle the bytes in each sample. E.g.
[code]
Is there any way to get this swizzling done in the platform. For example under `AudioTrack` (I guess it could also be done in the raw decoder, but I think there's a separate plan to bypass it so maybe that doesn't help?). If not, would it be worth suggesting this as an

[2019-04-24 10:39] marcbaechinger commented on #5792
We already applied some changes to the PlayerNotificationManager according to #5301. These changes are currently available on the [dev-v2 branch](https://github.com/google/ExoPlayer/blob/dev-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L240) and will be part of the next release which is pushed to GitHub soon. It's recommended to use the new API provid

[2019-04-24 11:09] AlphaCircle commented on #5781
Hello ojw28
I dug out this application and found that there is mistake in the media file. So I asked the person to regenerate the file with the supporting audio sampling and bit rate. This is not an issue of Exoplayer.

Thanks for your support.

[2019-04-24 11:09] #5781 closed, assigned to ojw28

[2019-04-24 11:37] meenukrishnamurthy opened #5797 "Does exoplayer support vpaid ads"
Vpaid ads are not getting played using the ima-extension for exoplayer.Does exoplayer support VPAID 2.0 ads.
The following the ad url:
https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinearvpaid2js&correlator=

[2019-04-24 12:29] tonihei commented on #5784
The purpose of performClick() is to trigger all the logic associated with a click. This includes system logic (such as calling on onClickListener and playing a sound), but also custom logic like toggling the visibility of a view. The onTouchEvent handler is supposed to trigger performClick at the right moment where all this logic is supposed to happen. This ensures that both touch events and acces

[2019-04-24 12:39] AquilesCanta commented on #5793
Hi, unfortunately providing assistance around how to implement a custom receiver falls out of the scope of this issue tracker. [This is probably the best place to start](https://developers.google.com/cast/docs/caf_receiver/advanced#drm).

[2019-04-24 12:39] #5793 closed, assigned to AquilesCanta

[2019-04-24 13:04] makazemi commented on #5190
If is it possible please put an example code. I don't know how to use PlayerNotificationManager.BitmapCallback?

[2019-04-24 13:20] makazemi opened #5798 "How to remove PlayerNotificationManager when playlist arrive some track ?"
I have some mediasource in ConcatenatingMediaSource that are non playable and I update my Player view to show a button. I want to remove notification of my service for these item. I detect these non playable mediasource in the onPlayerError listener.

[code]
And in the PlayerService I write it :
[code]
But in some times this solution didn't work.

[2019-04-24 13:25] makazemi commented on #5792
In the new version user can dismiss notification or we only detect dismissedByUser event and ourself should manually dismiss it?

[2019-04-24 13:38] jasonostrander commented on #5784
@tonihei The issue I'm having with the current behavior is that swiping on a PlayerView triggers an onClick event. For example: if you place the PlayerView inside a ViewPager, scrolling through pages will trigger the onClick handler set on the PlayerView.

It's possible to work around this issue by using a TouchListener and GestureDetector, but this is much more effort than a simple OnClickListene

[2019-04-24 14:36] marcbaechinger commented on #5792
If you've called [service.startForeground(int, Notification)](https://developer.android.com/reference/android/app/Service.html#startForeground(int,%20android.app.Notification)) the user can not dismiss the notification. Normally it works something like this:

1. The service is created
2. Call `startForeground(int, Notification)`  in `NotificationListener.onNotificationPosted() `(I added this to th

[2019-04-24 14:38] swardharia commented on #4905
Hi @AquilesCanta ,

I was also looking for the same support on the ExoPlayer, trying to get information about the current HLS segment being played in order to track some information.

Is there any update on this support being looked at in future ?

[2019-04-24 14:40] AquilesCanta commented on #4905
No plans, sorry.

[2019-04-24 14:53] marcbaechinger commented on #5798
You are saying it does sometimes not work. Do you mean that the notification is not always removed? I actually think calling `stopForeground(true)` seems about right to remove the notification.

To make the PlayerNotificationManager remove the notification, you can in case 2) call `playerNotificationManager.setPlayer(null)` which will make the manager remove the notification and call `Notification

[2019-04-24 15:15] tonihei commented on #5784
The warning which was fixed in https://github.com/google/ExoPlayer/commit/0a7745bc03c93709e178c578a4649eb534e8a9e0 was about not calling performClick from onTouchEvent. What got fixed by adding this call is that accessibility services performing clicks can now toggle the visibility of the playback controls which wasn't possible previously.

I am able to reproduce the problem you describe when usin

[2019-04-24 15:29] Secretbox1987 opened #5799 "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.Exynos.avc.dec, Format(1, null, null, video/avc, null, -1, null, [640, 360, -1.0], [-1, -1])"
Hi! I have issue: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.Exynos.avc.dec, Format(1, null, null, video/avc, null, -1, null, [640, 360, -1.0], [-1, -1])
It happens when I init too many players

[2019-04-24 15:59] ArcherEmiya05 commented on #5626
Cherry Mobile Flare J5s Android Oreo Go Edition
No memory leaks.
[stacktrace.txt](https://github.com/google/ExoPlayer/files/3113167/stacktrace.txt)

[2019-04-24 17:41] linhai326 commented on #5799
most devices have a limit number of decoder instances at the same time.
You might reach the limit. And also it is possible that your app fails to release old exoplayer while creating new one.

[2019-04-24 18:05] marcbaechinger commented on #5771
Thanks for your request.

Do I understand correctly that you never have more than a single window in the timeline? Meaning you are not using `ConcatenatingMediaSource` but you always prepare with a new source when `onSkipToNext/Previous` is called?

If this is the case I think just making `next(Player)` and `previous(Player)` protected, so you can override them, is not enough. For instance, the `g

[2019-04-24 18:19] himaswetha opened #5800 "When playing Dash Content with empty CEA608 crash is observed"
[code]

[2019-04-24 18:19] himaswetha commented on #5800
Can you explain me when this crash will come?

[2019-04-24 18:22] himaswetha commented on #5800
We are using r2.5.4 version of exoplayer and how i can add the fix for this version only? also i tried by backporting changes related to disassociateNoSampleRenderersWithEmptySampleStream and associateNoSampleRenderersWithEmptySampleStream functions also but its not working. Please let me know why this crash will come? and why the assertion check is failing from the below code
      hasEnabledTrac

[2019-04-24 20:22] AquilesCanta commented on #5700
Hi @alexey-rabets, for what it's worth, I am only able to reproduce the issue on NVIDIA Shield. It may be worth contacting the device manufacturer yourself, including sample APK that plays the file using media player.

I have tried reproducing the issue on a variety of devices and Android versions (including fugu as Android TV sample) but only NVIDIA shield reproduced consistently (both Nougat and

[2019-04-24 21:11] #5682 closed, assigned to marcbaechinger

[2019-04-24 21:12] #5672 closed, assigned to marcbaechinger

[2019-04-24 21:13] #5692 closed, assigned to marcbaechinger

[2019-04-24 21:14] #5696 closed, assigned to marcbaechinger

[2019-04-24 21:15] #5679 closed, assigned to marcbaechinger

[2019-04-24 21:16] #5702 closed, assigned to marcbaechinger

[2019-04-25 04:21] SystemRestored opened #5801 "Avoid closing the CastSession when releasing CastPlayer"
I just tested the demo-cast app, the problem is when I am pressing back or minimising the app or screen lock of the phone the casting closes. I implemented notification options in optionprovider, still its not working. Implemented this:

[code]

[2019-04-25 05:43] dushicai opened #5802 "Customize TsDurationReader's behavior"
playback normal but can't get the duration

exo version 2.9.0

the ts url:https://drive.google.com/file/d/1gjsd8qPEd41M3TpUBjGuL-3ZstfZaDZR/view?usp=sharing

Duration: 00:04:44.95, start: 1.466667, bitrate: 3587 kb/s
Program 1
Metadata:
      service_name    : LIVE
      service_provider: KSYUN
    Stream #0:0[0x100]: Video: h264 (High) ([27][0][0][0] / 0x001B), yuv420p(progressive), 720x480 [SAR

[2019-04-25 06:36] makazemi commented on #5798
I did Your solution But When the Playlist arrive on non-playable item, My service stop but previous notification remain and when play other track notification doesn't update and still previous notification remain.

[2019-04-25 06:46] himaswetha commented on #5800
Can any please check this issue?

[2019-04-25 09:01] moradi-morteza opened #5803 "How Can Get Subtitle Text in Every Frame"
Hello
i prepare a subtitle view and show my subtitle in exoplayer.
now i want to get subtitle text in ever frame and show it in a Text View How Can i do That?
Thanks

[2019-04-25 09:29] himaswetha commented on #5800
while adding  trackselections we are not checking for null or not but Assertions.checkState(trackSelections.get(i) == null) is added during updatePeriodTrackSelection() why it is so?

 /**
   * @param trackSelections The selections. Must not be null, but may contain null elements.
   */
  public TrackSelectionArray(TrackSelection... trackSelections) {
    this.trackSelections = trackSelections;

[2019-04-25 10:23] jonasevcik opened #5804 "CAS support"
### [REQUIRED] Searched documentation and issues
* https://google.github.io/ExoPlayer/
* Source codes of this repository
* Issues section of this repository

### [REQUIRED] Question
Is there a time frame/plan for adding CAS support? With Widevine CAS announced, it makes sense to provide an implementation for CA systems in general. Android already exposes all the necessary APIs since API lvl 26.

[2019-04-25 10:32] AquilesCanta commented on #5797
Hi @andrewlewis, could you provide advise here?

[2019-04-25 10:34] AquilesCanta commented on #5799
@linhai326 is on point here. If you have evidence this is an ExoPlayer issue, please provide all information required in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) and we will reopen.

[2019-04-25 10:34] #5799 closed, assigned to AquilesCanta

[2019-04-25 10:35] AquilesCanta commented on #5791
@tonihei can you provide advise here?

[2019-04-25 10:45] andrewlewis commented on #5789
I think the best way to handle this is to integrate support for swizzling into `ResamplingAudioProcessor`. We'd need to add additional ExoPlayer-side PCM audio format constants for big endian input and set those as appropriate in the `WavExtractor`.

Swizzling can probably be done quite easily by copying between `ByteBuffers` with the relevant byte orders set (though I'm unsure whether this can be

[2019-04-25 10:48] AquilesCanta commented on #5787
Hi @rishun-fsi, there is no out-of-the-box functionality to do this.

I suggest you look around in the issue tracker, there is some material about this already. For example, #2855 and #4261. If you have more specific questions, please post them below and I will reopen the issue, but the question is a bit broad to address in this issue tracker. A general Q&A site like StackOverflow may also be a go

[2019-04-25 10:48] #5787 closed, assigned to AquilesCanta

[2019-04-25 11:33] AquilesCanta commented on #5802
The issue can be solved by increasing the number of sniffed packets [here](https://github.com/google/ExoPlayer/blob/748a29e8f5ddf808d8da43f284b1c6227aa77e87/library/core/src/main/java/com/google/android/exoplayer2/extractor/ts/TsDurationReader.java#L39), but I don't think we want to end up with an ever increasing number here. I'll use this issue to track customization of the TsDurationReader behav

[2019-04-25 12:01] ojw28 commented on #5802
Note: This is also part of what #5097 is tracking, so it might make sense to duplicate to that issue and add any extra ideas that you have to that one?

[2019-04-25 12:12] AquilesCanta commented on #5802
Ok, let's mark this as a duplicate then.

[2019-04-25 12:12] #5802 closed, assigned to AquilesCanta

[2019-04-25 12:13] AquilesCanta commented on #5097
Yet another piece of content: https://drive.google.com/file/d/1gjsd8qPEd41M3TpUBjGuL-3ZstfZaDZR/view?usp=sharing

[2019-04-25 13:57] FrostByteLXV commented on #5096
@sureshcnvidia is nVidia actively looking into this issue?  None of my HDR content can be triggered by the Shield until this is resolved.

[2019-04-25 14:41] ojw28 commented on #5800
If the issue is fixed in a more recent release then the solution is for you to upgrade. It's not scalable for us to provide advice on how to backport individual fixes. If the issue is still present in the latest release, please properly fill out the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=), including all of the re

[2019-04-25 14:59] tonihei commented on #5791
I think the easiest solution is to create all 700 MediaSources and set the `useLazyPreparation` parameter is the constructor to `true`. This causes the source to not prepare all HLS sources at once but only if they are actually needed. This way the index in the playlist can also stay the same as the index in your PagedList and you don't need any extra logic.

[2019-04-25 15:42] andrewlewis commented on #5797
The Android IMA SDK which the IMA extension is built on does not support VPAID 2 (HTML5) so I'm afraid the answer is no (see [IMA SDK for Android Support and Compatibility](https://developers.google.com/interactive-media-ads/docs/sdks/android/compatibility)).

[2019-04-25 15:42] #5797 closed, assigned to andrewlewis

[2019-04-25 16:08] HRSCR commented on #5096
A patch is there, ask to the moderator for it

[2019-04-25 16:12] CBers commented on #5096
@hrscr What are you talking about?

[2019-04-25 16:15] FrostByteLXV commented on #5096
@ebr11 are you aware of a patch?

[2019-04-25 16:17] HRSCR commented on #5096
@CBers there is a patch, ask to the moderator on _Nvidia forums_ about that patch. There's not a update with that patch yet, but the fix is there (Nvidia Forums). Ask for the patch there.

[2019-04-25 16:18] HRSCR commented on #5096
I'm using that Nvidia patch around a month ago.

[2019-04-25 16:21] CBers commented on #5096
@HRSCR See here: https://emby.media/community/index.php?/topic/64038-emby-for-android-shield-tv-not-playing-back-hdr-on-all-titles/page-3#entry734540

Please comment so that @ebr11 is aware.

[2019-04-25 16:49] HRSCR commented on #5096
@ebr11 ask if anybody with the patch had issues, i answer: "no problems" was fixed with the patch.
I have no issues with HDR content in any way after the patch.

[2019-04-25 16:52] CBers commented on #5096
When/where did he ask that?

[2019-04-25 17:01] HRSCR commented on #5096
The moderator sniper
https://forums.geforce.com/member/2075904/

[2019-04-25 17:31] FrostByteLXV commented on #5096
He says he's never heard of the problem and there is no fix. :(

[2019-04-25 17:33] HRSCR commented on #5096
I have no issues, nothing of my part to add on this, sorry.

[2019-04-25 17:37] FrostByteLXV commented on #5096
Including cropped HDR files?  Anything fullscreen works fine here also.  It's just cropped content which doesn't trigger HDR

[2019-04-25 18:57] szaboa commented on #5633
Any update on this? :)

[2019-04-25 19:54] CreeschYT opened #5805 "How to use a string Arraylist containing urls as a exoplayer playlist ?"
Hi, so I'm trying to develop a HLS Live stream app using Exoplayer 2 which should play a string Arraylist containing urls. I thought about using a ConcatenatingMediaSource, but do NOT want to define every one of them, because  there are more than 100 urls in my Arraylist. So is there  a way to do that ? Thanks for helping

[2019-04-26 03:56] Romantic-LiXuefeng commented on #2826
So great!  @ojw28 Is there possible to reuse the decoder in this condition , like the above description ?

[2019-04-26 08:07] tonihei commented on #5805
There is no limit to the number of sources you can add to a ConcatenatinMediaSource. If you are worried about media preparation taking place at the same time, please use the `useLazyPreparation` flag in the ConcatenatingMediaSource constructor to ensure that media preparation only takes place when actually needed.

[2019-04-26 10:12] CreeschYT commented on #5805
Yes but I don't want to define every url in a Media Source.

[2019-04-26 10:40] tonihei commented on #5805
There is no real overhead involved in that. It's just creating a 100 objects (which should be fine) and can be done in a single loop.

Note that we are also looking into playing urls automatically by detecting their stream type (see #3165). If that is implemented, you should also be able to add urls to a playlist directly.

[2019-04-26 11:21] naseeb8950925214 opened #5806 "Random MediaCodec dequeueOutputBuffer Exception while playing video content"
### [REQUIRED] Issue description

**While playing video content, we are getting below given exception randomly:**
[code]
### [REQUIRED] Reproduction steps
We are playing videos one by one i.e right after end of one video, another video starts. These videos keep playing in loop.

### [REQUIRED] Link to test content
I have tried playing 3 videos one after another. Please find them at below given goo

[2019-04-26 11:38] AquilesCanta commented on #5801
This happens because we close the session when releasing CastPlayer. I'll use this issue to track providing ways to work around this.

[2019-04-26 14:38] simpler23 commented on #5791
Thank you for sharing your tip!
But I worry about instantiating 700 objects at once that might not be used.
Is it fine in memory perspective?

[2019-04-26 14:56] ojw28 commented on #2826
As in my previous response about this, I do not see this happening for high-resolution to low-resolution track re-selection. Neither do I see it happening for low-resolution to high-resolution track re-selection provided the decoder was originally configured for the high-resolution (i.e. high-resolution -> low-resolution -> high-resolution track re-selection will not cause any decoder re-initializ

[2019-04-26 16:13] WassimErriha commented on #2600
I'm working on a very similar feature as the OP where I'm trying to make a seamless track selection to a different camera-angle.
I have tried two approaches so far:
**1.** I have tried to implement a ManualTrackSelector by customizing `AdaptiveTrackSelector`, and passing a message to the playback thread to make a seamless switch. This solution is described in #2250. The switch is seamless as expec

[2019-04-26 17:27] makazemi commented on #5773
I though that every video of playlist has `STATE_ENDED` state. But I realized that when last video seek to end, STATE_ENDED` state is triggered. Is there a way that I implement complete listener for playback?

[2019-04-26 17:42] SystemRestored commented on #5341
It seems we need custom receiver. Then we can send header data to receiver.

[2019-04-26 22:58] fluxxion82 opened #5808 "DefaultDataSourceFactory not found"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. Information about the ExoPlayer
  demo app can

[2019-04-27 10:05] dorcatty opened #5809 "Stop streaming Dash video"
Dear all,
Recently, we are working on Dash video and Exoplayer with Unity game engine.
While we are playing a sample Dash video provided by Google, the stream never stopped.
However, we converted our captured video to mpd Dash format, the video can be played smoothly with VLC player on MacOS, But with Exoplayer in Android, apk file compiled with Unity,  the streaming stops after 1min play.  no buf

[2019-04-27 12:05] dustinkerstein commented on #3375
@ycinfinity, would you be able to post any snippets of your async implementation? I'm trying to compare your benchmark results to our async implementation but we're seeing much more variable onInputBufferAvailable and onOutputBufferAvailable timing. Ie. With onInputBufferAvailable we see 1ms-8ms usually and then sometimes between 20ms-50ms (on a Pixel XL). Have you ever seen that behavior?

Update

[2019-04-27 17:17] CreeschYT commented on #5805
Yes thank you for your answer, but I am searching for another way to do that. Is there another way a much easier way ?

[2019-04-28 03:22] zhan2046 opened #5810 "MediaSessionConnector DefaultMediaMetadataProvider getMetadata NullPointerException"
### [REQUIRED] Issue description
Hello, I found that using `MediaSessionConnector.setPlayer`, in some `vivo` phones, the screen of the mobile phone will appear to go out and enter the unlock interface of the mobile phone.

After investigation, I found that `mediaMetadataProvider.getMetadata(player) `in `MediaSessionConnector.invalidateMediaSessionMetadata` returned invalid data.

However, it is fo

[2019-04-28 03:28] zhan2046 commented on #5810
I have found a solution right now

[code]

[2019-04-28 03:43] zhan2046 commented on #5810
The strange thing is that our own application did not crash, but the screen of the vivo phone suddenly went out and returned to the unlock interface.

Unlocked into the phone, our app is still there, no crashes

[2019-04-28 15:04] Khang-NT opened #5811 "Wrong translation"
### [REQUIRED] Issue description
"Text" doesn't mean "SMS"
https://github.com/google/ExoPlayer/blob/4bc79c9465abd00e29ff576c5f7a7517be632f5a/library/ui/src/main/res/values-cs/strings.xml#L23

### [REQUIRED] Reproduction steps
N/A

### [REQUIRED] Link to test content
N/A

### [REQUIRED] A full bug report captured from the device
N/A

### [REQUIRED] Version of ExoPlayer being used
`2.9.6`

### [REQU

[2019-04-28 21:20] ojw28 commented on #5809
It sounds like an issue with the content. There is no way anyone can help unless you provide the problematic sample.

[2019-04-28 21:25] dorcatty commented on #5809
thanks a lot for your reply.
Here is the problematic sample
https://storage.googleapis.com/mydashcontent/test2/Scene_1_dash.mpd
Could you figure me out how to fix this?

On Sun, Apr 28, 2019 at 11:20 PM Oliver Woodman <notifications@github.com>
wrote:

[2019-04-28 21:25] ojw28 commented on #5803
You can use `SimpleExoPlayer.addTextOutput` to register a listener that will receive an event whenever the subtitle text changes.

[2019-04-28 21:25] #5803 closed, assigned to ojw28

[2019-04-28 21:28] ojw28 commented on #5806
Does this occur only on the specified device? Also, please provide a proper bug report (the issue template clearly says "a log snippet is NOT sufficient"). Thanks.

[2019-04-28 21:55] ojw28 commented on #5809
I only took a brief look, but I think the media is broken. In particular, it looks like the manifest claims that each video segment is 1s long, but they appear to be 2s long. As a result the manifest also thinks there are twice as many video segments as there actually are, which causes the player to try and request non-existent segments if seeking past half way through the content.

[2019-04-28 21:55] #5809 closed, assigned to ojw28

[2019-04-28 22:03] ojw28 commented on #5801
Shouldn't a real app just not release the `CastPlayer` when going into the background? A real app would probably need a foreground service, a notification with playback controls, and a `CastPlayer` instance wired up to those, etc, similar to what an app would do for background audio playback.

[2019-04-28 22:06] ojw28 commented on #5773
`STATE_ENDED` is the state of the player, not the state of a video. If the player still has content to play, it is not ended. As per my answer above, #4728 provides more details and explains how to detect playback moving from one item to the next in a playlist.

[2019-04-28 22:06] #5773 closed, assigned to ojw28

[2019-04-28 22:16] dorcatty commented on #5809
thanks a lot for your help:
here is the command i used to generate the manifest file:
MP4Box -dash 1000 -frag 1000 -rap -frag-rap -profile live filename.mp4
Do you have any suggestions to fix that ?
change chunk to 2000 ?
thanks a lot

On Sun, Apr 28, 2019 at 11:55 PM Oliver Woodman <notifications@github.com>
wrote:

[2019-04-28 22:25] ojw28 commented on #5809
Questions about generating content are outside the scope of this issue tracker. I'd suggest you ask on an MP4Box forum or similar.

[2019-04-29 04:22] hafiz013 commented on #4680
Since this issue was closed but not yet implement in current version 2.9.6. May I know when u will take this as enhancement also.

[2019-04-29 04:35] SystemRestored commented on #5801
I have implemented all the things now this thread can be closed now.

[2019-04-29 04:35] #5801 closed, assigned to AquilesCanta

[2019-04-29 04:41] hafiz013 commented on #5551
Still does not work , error code :

`com.google.android.exoplayer2.IllegalSeekPositionException
        at com.google.android.exoplayer2.ExoPlayerImpl.seekTo(ExoPlayerImpl.java:272)
        at com.google.android.exoplayer2.SimpleExoPlayer.seekTo(SimpleExoPlayer.java:747)`

My implement code use u suggested :

` if(!musicPlayer.getShuffleModeEnabled()){
                        musicPlayer.setShuffl

[2019-04-29 07:07] zishanj opened #5812 "NullPointerExceptionAttempt to invoke virtual method setPlayer"
I am receiving this crash:

[code]
on my `PlayerService:230`, it is:
[code]

`PlayerService.onLoadingChanged` is empty in my override:
[code]

[2019-04-29 07:54] andrewlewis commented on #4680
@hafiz013 This enhancement is still open but we are currently treating it as a low priority, and don't have an ETA for it.

[2019-04-29 08:17] hafiz013 commented on #4680
Ok note thanks

[2019-04-29 09:06] tonihei commented on #5791
That shouldn't be an issue. I just tested creating 700 HlsMediaSource and they use up only 233 KB  of memory.

[2019-04-29 09:11] tonihei commented on #5805
I don't really understand the problem. Why exactly do you need another way to do that?

[2019-04-29 09:35] AquilesCanta commented on #5794
Hi, zooming is not supported by the library, and we cannot provide orientation on how to achieve in this issue tracker unfortunately. You should try your luck in Stack Overflow or a similar Q&A site.

You should probably reach out to the ZoomableTextureView owner about the bug. [This seems to be a good starting](https://github.com/Manuiq/ZoomableTextureView/issues/3) point for integrating with Exo

[2019-04-29 09:35] #5794 closed, assigned to AquilesCanta

[2019-04-29 09:39] AquilesCanta commented on #2600
Hi @WassimErriha, this issue tracks support for multiple video renditions in HLS (which is currently being worked on as per commit references above).

Achieving seamless switching between video renditions is a different issue, and I suggest you open a new issue for that.

[2019-04-29 09:47] AquilesCanta commented on #5808
Please create a minimal sample project in github that reproduces the issue for us to have a look.

[2019-04-29 09:57] AquilesCanta commented on #5804
Hi @jonasevcik, we are working on this. I can't provide an ETA yet, though.

[2019-04-29 09:57] marcbaechinger commented on #5812
The playerControlView is `null` when setPlayer is called. This appears to be an app problem as the app probably does not look up the view or fails finding it by the id?

[2019-04-29 10:10] marcbaechinger commented on #5810
Thanks for reporting!

That's a bug in Android 6 which has been fixed since then. So rather than a device specific issue, this is an issue for devices with Android6 and lower. Thanks for reporting. We will provide a fix to workaround this asap.

[2019-04-29 12:36] tipoc123 opened #5813 "get list of hls chunks"
### [REQUIRED] Searched documentation and issues
ExoPlayer issues, Google

### [REQUIRED] Question
How to get a list of all HLS chunks in the playlist?

[2019-04-29 12:46] lucalooz opened #5814 "MPEG-DASH - Unexpected exception loading stream FragmentedMp4Extractor (ArrayIndexOutOfBoundsException)"
### [REQUIRED] Content description
MPEG-DASH live stream on Akamai CDN without DRM but with token authentication through Cookies (hdnts and hdntl).

[code]

### [REQUIRED] Link to test content
Content link and bugreport will be sent to dev.exoplayer@gmail.com

### [REQUIRED] Version of ExoPlayer being used
2.9.6

### [REQUIRED] Device(s) and version(s) of Android being used
OnePlus 6 API 28 Androi

[2019-04-29 12:50] AquilesCanta commented on #5813
Please see #2537. You can access HLS playlists through [Player.EventListener#onTimelineChanged](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onTimelineChanged-com.google.android.exoplayer2.Timeline-java.lang.Object-int-). You need to cast the manifest object to [HlsManifest](https://exoplayer.dev/doc/reference/index.html?com/google/android/exoplayer2/

[2019-04-29 12:50] #5813 closed, assigned to AquilesCanta

[2019-04-29 13:24] tipoc123 commented on #5813
@AquilesCanta, thanks! You are the best!

[2019-04-29 14:28] naseeb8950925214 commented on #5806
Yes, we are facing this issue on this particular device only. Please find detailed bug report below:
[code]

[2019-04-29 15:40] CreeschYT commented on #5805
Ok so to understand the problem. Like I said I am developing a HLS (m3u) Streaming App  and want people to download my app. So now I'm going to explain what's the problem: I have a Button which opens a  MaterialFileChooser. Works fine. The user now has to choose a m3u file. Works fine. Because exoplayer can't play m3u files I used a BufferedReader to read all the lines. To actually play the channe

[2019-04-29 15:43] tonihei commented on #5805
You can just use a loop to create the MediaSources?

[code]

[2019-04-29 15:56] CreeschYT commented on #5805
Oh thank you very much. But it gave me an error at Factory. I'm very sorry for using your time but as you can tell I'm a newbie.
![Result](https://user-images.githubusercontent.com/49997316/56909223-2176e200-6aa8-11e9-9411-9cda60836270.png)

[2019-04-29 16:37] tonihei commented on #5805
I'm sorry, but we can't debug your app. Please direct questions around general usage of Android Studio and generic code problems to StackOverflow and similar sites.

Based on your screenshot I'd suggest to include the Factory and/or make sure you are using an ExoPlayer version in which this class exists.

[2019-04-29 17:08] bychkovdmitry commented on #5770
Can we expect 2.10 release this week? Really looking forward to this release. Thanks.

[2019-04-29 18:28] #5805 closed, assigned to tonihei

[2019-04-29 18:33] rajeshghosh1978 opened #5815 "Mp4 Clear content stop working with 2.9.6"
### [REQUIRED] Content description
I am unable to play a trailer (Mp4), which is a clear content with 2.9.6 Release v2. The same content is working with 2.9.3. I didn't try with other versions like 2.9.5 and 2.9.4.

I have checked the same through Charles, where I can see first call was successful with a 200 Ok, but after that player trying to get same content appending a header "Range: bytes 1270

[2019-04-29 21:11] tfrysinger commented on #4551
Thanks for your thoughts, but I don't think you are fully understanding the issue here.

You say "Pretty much all servers and file systems are able to support these requirements". Well, DropBox doesn't (for example), unless the user creates a shareable public link. Even as a logged in user with their API I can't get a URL directly to files that I own. I either have to programmatically use the API

[2019-04-29 23:45] Leeyoungryun opened #5816 "ArrayIndexOutOfBoundsException occurs in HlsChunkSource"
Hi I'm using exoplayer version 2.9.0

In HlsChunkSource,

There is a code

`HlsMediaPlaylist.Segment segment = mediaPlaylist.segments.get(chunkIndex);`

however, if chunk index is negative, that chunkIndex cause ArrayIndexOutOfBoundsException.

`int chunkIndex = (int) (chunkMediaSequence - mediaPlaylist.mediaSequence);`

upper code, that chunkMediaSequence can be negative. if previous chunk's next

[2019-04-30 00:02] ojw28 commented on #4551
I don't really follow the logic here. You have the `content://` URI from SAF, and you also have `FileMetadata` including the content length. There are options for exposing the content to ExoPlayer other than just directly passing the `content://` URI. For example, you could implement your own `DataSource` that integrates directly with SAF (e.g. `SafDataSource`). You could use the `ContentDataSourc

[2019-04-30 00:07] ojw28 commented on #4551
DropBox isn't a server or a file system. It's a service and as such they control the API that they expose. If their API doesn't support what's required for video streaming, then they're opting to not support that use case with their service. It's somewhat unclear to me whether this is the case, however, seeing as they do provide an API for accessing the content length via `FileMetadata`. It's uncl

[2019-04-30 04:30] nbonamy opened #5817 "FFmpeg transcoding"
### [REQUIRED] Searched documentation and issues
Did not find any post related to transcoding in documentation or issues.

### [REQUIRED] Question
I am trying to implement playback audio transcoding using the FFmpeg extension: my goal would be to read a video with DTS audio and transcode to AC3 audio (thanks Sonos). This would allow me to keep a 5.1 format instead of downscaling to PCM.

I compile

[2019-04-30 06:12] zjamshidi commented on #5719
@marcbaechinger  would you please help me again? Rewind functionality is very important for us.
do you have any estimation when would you release next version with "setMediaButtonEventHandler" method?
I just pulled dev-v2 branch, but it seems dev-v2 branch is not meargable with release-v2. I got lots of compile error. how could I use this new  "MediaSessionConnector" before next release?

thanks i

[2019-04-30 06:50] Leeyoungryun commented on #5816
I investigated some codes.

In HlsChunkSource

"
if (chunkMediaSequence < mediaPlaylist.mediaSequence) {
      if (previous != null && switchingVariant) {
        // We try getting the next chunk without adapting in case that's the reason for falling
        // behind the live window.
        selectedVariantIndex = oldVariantIndex;
        selectedUrl = variants[selectedVariantIndex];
        medi

[2019-04-30 07:33] andrewlewis commented on #5817
I'm afraid it's not possible as things stand. The ffmpeg extension is designed for decoding to PCM only (not encoding).

[2019-04-30 07:33] #5817 closed, assigned to andrewlewis

[2019-04-30 08:21] extorn opened #5818 "MediaCodecRenderer will never return isEnded=true if the stream is not marked final"
### [REQUIRED] Issue description
The MediaCodecRenderer does not signal it has been ended when it encounters the end of stream marker along with some data.
The buffer has the data added, the buffer is marked to signal the stream has ended, but because if the stream isn't marked as final, the SampleStream returns RESULT_NOTHING_READ, feedInputBuffer in MediaCodecRenderer returns immediately with fa

[2019-04-30 08:25] tonihei commented on #5818
Can you please provide example content? It's indeed highly likely that the content is causing this behaviour somehow.

[2019-04-30 08:29] extorn commented on #5818
I should have said, I am using a custom RenderererFactory that only provides this audio renderer - a  video renderer is not provided. That may have a bearing. I'll create and upload a more generic source media file to demo it in a minute.

[2019-04-30 08:38] extorn commented on #5818
[VID_20190430_093729.mp4.zip](https://github.com/google/ExoPlayer/files/3130485/VID_20190430_093729.mp4.zip)

[2019-04-30 08:39] extorn commented on #5818
I've created and tested with a series of 5 different videos - the issue occurs with all.

[2019-04-30 08:40] extorn commented on #5818
It could be the real issue is that the stream is not being marked as final, but I've not looked into the area of ExoPlayer that does this to establish why it isn't happening.

[2019-04-30 08:44] extorn commented on #5818
Sorry. I think this is my issue - I'm trying to reuse your exo player classes rather than copy and paste them so I've essentially removed the audioSink from the logic and, as a result, when isEnded is called, audioSink is always returning false when audioSink.isEnded is called!

[2019-04-30 08:51] extorn commented on #5818
Sorry. I spoke too soon - actually the bug remains - the call to isEnded() in MediaCodecRenderer returns false always since the outputStreamEnded field has not been set to true.

[2019-04-30 08:54] tipoc123 commented on #2882
Do you have some enhancements for HLS seek? Current HLS seek is slow and not suitable for production use (ExoPlayer 2.9.6)

[2019-04-30 09:58] tonihei commented on #5815
Can you please send the content to dev.exoplayer@gmail.com?

[2019-04-30 10:19] tonihei commented on #5814
I'm getting 403 response codes when I try to play the provided example streams. Can you check that I have access to the streams?

[2019-04-30 10:21] tonihei commented on #5741
Closing as the issue was probably solved.

[2019-04-30 10:21] #5741 closed, assigned to tonihei

[2019-04-30 10:30] rjmohit4693 opened #5819 "Adding MediaSource to ConcatinatingMediaSource, exoplayer blinks"
First time when I play video
using      concatenatingMediaSource =  new ConcatenatingMediaSource(MediaSource);

second time when I add video (when exoplayer is already playing 1st video)
using     concatenatingMediaSource.addMediaSource(MediaSource);

exoplayer blink & sometimes show white screen

Please check this video

https://drive.google.com/open?id=1MgJTOCBBIye5c1wIkCPlpm27kjsfYZHQ

[2019-04-30 10:36] AquilesCanta commented on #5816
I think an index out of bounds may be thrown for live content in some scenarios. A fix should be available in the dev-branch relatively soon. However, I'm not sure the fix will make it to 2.10.

[2019-04-30 10:44] tonihei commented on #5791
Closing, because the question has been answered.

[2019-04-30 10:45] #5791 closed, assigned to tonihei

[2019-04-30 10:46] tonihei commented on #5819
Can you please provide example media so that we can reproduce the problem?

[2019-04-30 10:51] rjmohit4693 commented on #5819
https://drive.google.com/file/d/1KSPfMXEkYb9DjfTtGOGYI__MYu7wkOuG/view?usp=sharing

https://drive.google.com/file/d/1SJzfIVZB1-yCyXAJek6GmHJeKMAhCU9E/view?usp=sharing

https://drive.google.com/file/d/1KfHFYkCbrT9M6wGmXPs6BUayRofC_C0a/view?usp=sharing

[2019-04-30 10:52] rjmohit4693 commented on #5819
Also my app only supports tablet devices

[2019-04-30 11:51] tonihei commented on #5818
The provided test stream plays (and ends) perfectly fine in the current code version. Can you try updating to the latest version (2.10-alpha) to check whether the problem still occurs?

[2019-04-30 11:54] extorn commented on #5818
thanks. It plays fine in exoplayer:2.8.2 too. I'll check if it ends correctly and get back to you.

[2019-04-30 11:56] monsterbrain commented on #5741
As mentioned be @tonihei I tried the same with the mp3 files and it works OK (but still a few starting delay was there, which was solved by adding silent 200ms to the audios). Maybe the ogg decoder wasn't working with the android TV Box.

[2019-04-30 12:23] umeshongithub commented on #5693
Even I am facing this issue. Please share if there is any update on this.

[2019-04-30 14:04] rajeshghosh1978 commented on #5815
@tonihei I have sent you the sample mp4 file. Please let me know your findings.

[2019-04-30 14:46] tonihei commented on #5819
Thanks. I can reproduce your problem.

The reason for this is that the player already sent the full first stream to the platform decoders and also indicated that this is the end of the stream. Only after this happened, you add a the second video. Unfortunately, we can't undo this end-of-stream signal, so we need to wait until all the data has been decoded and rendered, and only then re-enable the

[2019-04-30 15:11] tonihei commented on #5815
I tested the provided content on the latest release (2.10.0-alpha1) and it plays perfectly fine. Could you check the current release to see if it's fixed?

[2019-04-30 15:19] AquilesCanta commented on #5693
Sorry, went under the radar. I'll look into it,

[2019-04-30 15:20] lucalooz commented on #5814
@tonihei i've ensured that it works also from other countries by doing some tests with VPNs
Are you using the default http source?
The stream requires cookies to be enabled and passed back in subsequent requests

[2019-04-30 15:22] rajeshghosh1978 commented on #5815
I have just tested with the latest code (The last commit says "Fix bad merge"), still not working for me. Maybe the server you hosted the sample.mp4 support "Range" parameter. Could you share the same link you created to test if it is not a local server?

[2019-04-30 15:28] tonihei commented on #5815
I tested to play the file locally. Can you provide a link to the file on the test server where it isn't working?

[2019-04-30 15:36] rajeshghosh1978 commented on #5815
Here is the URL : http://pdl.verizon.net/previews/VUBM0000000073169101P_EM-iPHONE.mp4

[2019-04-30 16:32] tonihei commented on #5815
Thanks. I was now able to reproduce the problem on 2.9.6. But it seems to be fixed in the latest release already. So nothing else needs to be done here and I'll close the issue.

[2019-04-30 16:32] #5815 closed, assigned to tonihei

[2019-04-30 17:22] AquilesCanta commented on #5693
A few questions:

- What is the expected behavior?
- On which devices do the streams play as expected?
- When I play the streams with other players (like VLC) I see log lines indicating corruption (and the frames are dropped). How do we know the media is not just corrupted?
- Is there any evidence suggesting this is an ExoPlayer issue?

[2019-04-30 18:19] rajeshghosh1978 commented on #5815
@tonihei : As I told you earlier, I have the latest Release V2 codebase and I am able to reproduce this issue easily. Are you talking about the latest dev branch?

In any case, we can't upgrade to the new release, as there are a significant amount of changes has been done in the download section. Could you please guide me to fix the same in 2.9.6 version?

[2019-04-30 19:54] gthrift commented on #5096
@sureshcnvidia this is still an issue for many users.

[2019-04-30 19:58] FrostByteLXV commented on #5096
This is still an issue for all users who use cropped files.  HRSCR was confused with another issue.  Hoping nVidia responds soon.

[2019-04-30 20:18] CreeschYT opened #5820 "Exoplayer doesn't play url playlist."
###  Description
Hi, I'm currently developing a HLS (m3u) Livestream app which should play a chosen hls file. I have a Button which opens a MaterialFileChooser. Works fine. The user now has to choose a m3u file. Works fine. Because exoplayer can't play m3u files I used a BufferedReader to read all the lines. To actually play the channels I have to put every line that startswith "h"(url) in a List.

[2019-04-30 20:58] ojw28 commented on #5806
That is not a proper bug report. The issue template explains how to capture a proper bug report (i.e. run `adb bugreport` and capture the output).

[2019-04-30 21:14] #5810 closed, assigned to marcbaechinger

[2019-04-30 21:14] ojw28 commented on #5810
The fix will be in `2.10.0`.

[2019-04-30 21:15] ojw28 commented on #5816
The fix will be included in `2.10.0`; thanks!

[2019-04-30 21:15] #5816 closed, assigned to AquilesCanta

[2019-05-01 07:30] TakuSemba opened #5821 "DecoderInitializationException with 48000Hz audio contents on a specific device"
### [REQUIRED] Content description

I found that there is a specific device that cannot play 48000Hz sampling rate contents.

`AXON7 mini ZTE B2017G` always throws an error "DecoderInitializationException" every time it tries to play 48000Hz sampling-rate contents.

This device uses decoder "OMX.google.aac.decoder" for audio, and its `CodecCapabilities#getAudioCapabilities#.getSupportedSampleRateR

[2019-05-01 08:19] rjmohit4693 commented on #5819
OK, I will try to set new source before the decoders read the entire first stream.
Thanks

[2019-05-01 08:19] #5819 closed, assigned to tonihei

[2019-05-01 09:45] dorcatty opened #5822 "resolution and bandwidth adaptation with Exoplayer"
Dear developers,

i have a questions regarding to Exoplayer/Bandwidth with Android system.
I have 2 DASH mpd files with different resolution settings:
A has 4 diff resolutions: 960px, 1440px, 2160px and 2560px
B has 2 diff resolutions: 2160px and 2560px

Both mpd files can be played with VLC or IINA with highest resolution on MacOS (2560px in my case)

But with Exoplayer on Samsung S9+,
with A (4

[2019-05-01 10:52] simpler23 commented on #5791
Thank you for the answers!!

[2019-05-01 11:07] HRSCR commented on #5096
Some versions out there have a lot of errors in the encoded script that they use. They are trying to do something in the wrong way, that's why is not working.
Check this:
cpuid=1173503 / frame-threads=4 / numa-pools=16 / wpp / no-pmode / no-pme / no-psnr / no-ssim / log-level=2 / input-csp=1 / input-res=3840x1600 / interlace=0 / total-frames=217718 / level-idc=51 / high-tier=1 / uhd-bd=0 / ref=4 /

[2019-05-01 11:09] tonihei commented on #5822
ExoPlayer makes an initial guess at the bandwidth based on your network type and country and chooses the initial format based on this guess. It then starts to measure the actual bandwidth and switches up or down accordingly. Note that it only switches up if at least 10 seconds of media is buffered at the point where the next decision is made. So you may need to wait some seconds before the higher

[2019-05-01 11:32] tonihei commented on #5815
I'm not sure what exactly fixed it from 2.9.6. to 2.10.0 (could for example be related to #5694), but I would recommend to either wait until the upgrade to 2.10.0 can be done on your side or downgrade to 2.9.3 in the meantime.

[2019-05-01 13:25] FrostByteLXV commented on #5096
HRSRC, please stay out of this thread.

We already know what the issue is.  Ebr stated what the issue was very clearly and provided an example.  This is an aspect ratio issue and an aspect ratio issue only.  If you crop the black bars at the top and bottom of the video then exoplayer no longer triggers HDR when the aspect ratio is no longer 16:9.

Now please stay only, you have muddied this issue

[2019-05-01 13:33] ojw28 commented on #5096
The latest status of this issue is that we're still waiting for an update from nVidia. I have pinged our internal bug to try and get an update.

[2019-05-01 18:50] bkodirov commented on #5483
Updates regarding the issue:
- I could reproduce the issue on the OnePlus [6T device[](https://en.wikipedia.org/wiki/OnePlus_6T) which used `OMX.qcom.video.decoder.hevc`. This device has a Qualcomm chip on it.
- When the error happens(Green screen) application's UI thread is barely responding. It gets very

Regarding `codecNeedsReconfigureWorkaround`. Can you clarify please what is the correct usa

[2019-05-01 20:40] nbonamy commented on #5817
@andrewlewis Is it a big change? If anyone can give some high level guidelines I can try my luck on it.

[2019-05-01 22:13] bluefirepatrick commented on #5234
@ray-pixar Could you explain exactly where you put those dependencies? Is it in the android-exoplayer folder under node-modules?  Or somewhere else?

[2019-05-02 07:48] #5790 closed, assigned to ojw28

[2019-05-02 11:53] nilskassube commented on #5771
Thanks for your response! Yes, there is only a single window in the timeline. It's a customer requirement to only start buffering when the user wants to play the stream and to stop buffering when the users taps on pause. Due to this we can only prepare the source after the user interaction.

Yes, it would be feasible to use custom actions for the use case. I have to admit I was just looking for an

[2019-05-02 12:10] ojw28 commented on #5800
Closing because there's no actionable information here. If the stream doesn't work in the latest release, please properly fill out the issue template, including all of the required information, and we'll re-open the issue. Thanks!

[2019-05-02 12:10] #5800 closed, assigned to ojw28

[2019-05-02 14:53] sc231997 commented on #5792
In which version can I find this implementation?

[2019-05-02 17:21] andrewlewis commented on #5817
At a high level I think you'll need a custom audio renderer that can output the AC-3 encoded data to the DefaultAudioSink (FfmpegAudioRenderer is designed to output PCM always, but you can probably use it as a starting point). For the transcoding part I'd start by forking the native part of the FFmpeg extension and figure out how to use FFmpeg's encoding APIs to process the PCM output that is curr

[2019-05-03 10:32] Gensoukyou1337 opened #5823 "Is it necessary to re-download a DASH stream if/when part of the cache was deleted by the LRU Cache Evictor?"
### [REQUIRED] Searched documentation and issues
Medium post about Downloading Streams and Downloading Adaptive Streams, and the Exoplayer demo source code

### [REQUIRED] Question
I've figured out how to download the stream, and my cache's using the `LRUCacheEvictor` with a maximum size of 20 MB. However, I'm facing the issue that when the user downloads one stream while the cache is near-full, p

[2019-05-03 10:40] tonihei commented on #5823
When you are using an `LRUCacheEvictor`, it deletes the "least recently used" streams from the cache as the name already suggests. That means you need to download them again if you want to play them offline.

Our recommendation for downloading is to use a `NoOpCacheEvictor` so that downloaded streams are never deleted. The main usage of the `LRUCacheEvictor` is caching during online playback where

[2019-05-03 10:44] akanksha-hegde opened #5824 "Get video url as soon as new video plays in playlist android"
I'm creating an analytics sdk which requires to collect stream details using exoplayer listeners.
In a playlist scenario I want to get the video url of the video currently playing. As soon as a next video starts in a playlist I need a callback which gives information of the new stream url.

Please let me know if there is a way to get this stream url without having the app to pass the array of play

[2019-05-03 10:44] tonihei commented on #5820
That's impossible to say without all the required information in the issue template. Please fill it out completely and especially provide example media and reproduction steps so that we can reproduce the problem.

[2019-05-03 10:49] tonihei commented on #5824
The easiest way is to set the tag of each `MediaSource` in the playlist to the stream url. There is a `setTag` method on all `MediaSource` builder classes for that.

You will get a `onPositionDiscontinuity` callback with reason `DISCONTINUITY_REASON_PERIOD_TRANSITION` every time the player automatically transitions from one content to the next. You can check the `player.getCurrentTag()` in this ca

[2019-05-03 10:56] Gensoukyou1337 commented on #5823
Would a Youtube-like solution (re-downloading every 30 days or so) work better for this case?

Or, is there any way to detect when the cache of a downloaded stream is partly deleted/incomplete? This is in case I have to go for the re-downloading approach.

[2019-05-03 10:56] splrs opened #5825 "Removing and re-adding PlayerView/SurfaceView squashes video and displays the bottom line mulitple times"
### [REQUIRED] Issue description
Removing the player's PlayerView from its parent, and then adding it again - for example as part of onConfigurationChanged() - will cause the video to be slightly vertically squashed. The bottom line of the video is then repeated to fill the remainder of the SurfaceView.

![Screenshot_20190502-171410 1](https://user-images.githubusercontent.com/7551963/57133327-559

[2019-05-03 11:42] tonihei commented on #5823
The retention policy of when to delete or re-download depends on what your app is trying to do and ExoPlayer imposes no restrictions/recommendations on that.

Up until 2.9.6 there is the `CacheUtil.getCached` method to query the state for a particular piece of content. However, it's relatively difficult to use because you need the set-up the `dataSpec` for example, which requires knowledge of the

[2019-05-03 12:26] tonihei commented on #5821
I'm able to reproduce the problem with another Axon7 mini and it fails for any 48KHz stream. The reason seems to be that this device's aac decoder fails when trying to set the codec operating rate. We can fix this by adding a workaround for this device where we don't attempt to set this property as it's optional anyway.

Can you tell us the Build.DEVICE and Build.MODEL values for your device? It m

[2019-05-03 12:41] surajm14 commented on #5108
Hi Oliver

Hope you are doing well, we had checked DRM in MPEG-DASH long back,
But all our apps on Android are on HLS, has Exoplayer added DRM
support for HLS also? if yes - in which version and how to integrate

Any help would be highly appreciated

Thanks and Regards
Suraj

On Mon, Nov 19, 2018 at 7:26 PM Oliver Woodman <notifications@github.com>
wrote:

[2019-05-03 13:25] barrote opened #5826 "Single-period static manifest with non-zero start fails to play"
Issue description
When using a multiperiod DASH manifest of type static and isoflive profile that only contains one period. If the @start of the period is not 0, the playout fails. Debugging indicates play start calculated beyond period duration.
The same works if there is more than one period.

Reproduction steps
Issue can be reproduced with the demo app.

Link to test content
Content is not avai

[2019-05-03 13:33] ojw28 commented on #5826
Why would that ever be the case? I'd expect `@start` to always be 0 for static manifests. You can (and should) use `@presentationTimeOffset` to account for the timestamps embedded inside the media segments not starting from 0.

[2019-05-03 13:37] tonihei commented on #5814
Thanks, I can access the stream now.

Looking at what happens, I would conclude that the stream is malformed. The tfhd box has tf_flags with 0x00002 set, which indicates the presence of the sample description index in the box. However, the index returned when trying to read it is 0 which is not allowed because the index should be 1-based.

[2019-05-03 13:45] barrote commented on #5826
@ojw28 in our case if the profile is on demand, the start is indeed 0, if is live, then it means that some live event that is currently being watched has ended while the viewer is still watching at an earlier point of the stream. In this case the manifest switches from dynamic to static. The anchor time of the manifest is still 0, so the reference should be correct, but the start time is calculate

[2019-05-03 13:51] ojw28 commented on #5826
Could you clarify what this means. I'm not sure what anchor-time, the-reference and start-time are referring to exactly. Did you mean to include a snippet of the manifest above, because I don't see one :).

One additional question: Whilst the live event is still live, are segments being removed from the start? Or are segments only ever being added?

[2019-05-03 13:51] ojw28 commented on #5826
Ah, the manifest snippet is there. It's just GitHub is interpreting it as something else, which makes it invisible. I've edited your post to have the snippet in a code block, which fixes it.

[2019-05-03 16:09] tonihei commented on #5825
I'm able to reproduce the problem on a Galaxy S6 and also on all other devices which run Android Marshmallow. It seems to be related to using a internal DummySurface which is used while the actual surface is not available during the short period in which the view has no parent. When I disable the DummySurface usage, the problem disappears but playback needs to wait until the next keyframe after re

[2019-05-03 18:14] ojw28 commented on #5483
`codecNeedsReconfigureWorkaround` is a private API and not normally intended for use by app developers. The idea is for you to experiment with having it return true, which forces decoders to be recreated from scratch rather than reconfigured, to see if the issue still reproduces in that case. You will need to build from source to do this. Once you have a test stream that doesn't expire or require

[2019-05-03 21:34] CreeschYT commented on #5820
I now have edited my description so it contains all the required information.

[2019-05-04 06:42] ghost opened #5827 "Doesn't Play Google 4k url"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. Information about the ExoPlayer
  demo app can

[2019-05-04 06:45] ghost commented on #5827
I need to play 4k video in exo player but it doesn't play it I am trying to play following url [removed link to probably pirated content]

[2019-05-04 14:57] kartdroid opened #5828 "[ExoPlayer][Flutter][Android] Video not visible when using Secure Decoder to render DRM content"
Before filing a content issue:
------------------------------
- Search existing issues, including issues that are closed.
- Consult our supported formats page, which can be found at
  https://google.github.io/ExoPlayer/supported-formats.html.
- Try playing your content in the ExoPlayer demo app. Information about the
  ExoPlayer demo app can be found here:
  http://google.github.io/ExoPlayer/demo-

[2019-05-04 15:16] kartdroid commented on #5828
[code]

I did notice
[code]
But i am not sure how to address  that .

Apparently, it works with ExoPlayer Demo App version 2.9.6 .
Not sure why this is the case . I am assuming some conflict between Flutter Rendering and Exo's video rendering.

[2019-05-04 15:27] rk8339811 opened #5829 "Seek bar not working while playing Audio"
### **Issue description**
I am using this library to Play some Audio files present in the user's Android device. The Audio is playing as expected but the seek bar which is used to skip to the audio to a particular position is not working. The seek bar cannot be moved at all.

### **Reproduction steps**
I am using a custom style for Exo Player to hide the next and previous button. I have added the

[2019-05-04 17:24] Jonbeckas commented on #5779
I have the same problem, and I need to fix it very quickly. When can I expect this feature to be implemented? Its totally ok if you dont have priority on such little enhancements. I'd just like to know if I should try implementing it for myself.

[2019-05-05 04:19] kartdroid commented on #5828
I just printed the color format from MediaCodec Selector. The color format is supported
[code]
Not sure why i get the above error

[2019-05-05 08:32] linshuxian2019 opened #5830 "When will decoderCounters. droppedBufferCount increase?"
### [REQUIRED] Searched documentation and issues
When will decoderCounters. droppedBufferCount increase?

### [REQUIRED] Question
I want to verify the ability of hardware decoding. I wonder if decoderCounters.droppedBufferCount's increase is due to decoding failure. More precisely, I wonder where the number of output buffers that fail to decode will go.

[2019-05-05 08:51] amjadmasri opened #5831 "ExoPlayer crash with IMAloader onTimelineChanged Assertions.checkArgument"
### [REQUIRED] Issue description
Our app just recently released and we found in the Firebase Crashalytics an increasing number of crashes which I included below
we are using an HlsMediaSource for the content then adding the AdsMediaSourceand for the ads and
here is the code of how we are initializing the player:

[code]
### [REQUIRED] Reproduction steps
we couldn't reproduce the issue , we only se

[2019-05-05 12:31] andrewlewis commented on #5831
The failing assertion is `Assertions.checkArgument(timeline.getPeriodCount() == 1);`.

It looks like `HlsMediaSource` should always produce a single-period timeline so I wouldn't expect to see this error. However, I wonder if there's a case where the timeline can empty and this throws (there is a check for the timeline becoming empty due to resetting the player before this assertion, but maybe the

[2019-05-05 13:03] amjadmasri commented on #5831
Thank you for replying
yes we are always playing HlsMediaSource

[2019-05-05 17:02] ojw28 commented on #5830
The definition of a dropped buffer is pretty clearly defined in [Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/decoder/DecoderCounters.html#droppedBufferCount):

We would normally expect all frames to be decoded successfully, so I'm not sure what you're trying to count exactly. If a decode failure occurs then most likely the decoder will throw an exception and playback

[2019-05-05 17:07] ojw28 commented on #5828
If it's working fine in the demo app, and just not when using Flutter, then I think this is a Flutter bug. I see you've already filed https://github.com/flutter/flutter/issues/32082 and I think that's the right place to report the issue, so closing this one.

[2019-05-05 17:07] #5828 closed, assigned to ojw28

[2019-05-05 17:09] ojw28 commented on #5829
Please see: https://exoplayer.dev/faqs.html#why-are-some-media-files-not-seekable

[2019-05-05 17:09] #5829 closed, assigned to ojw28

[2019-05-05 17:12] ojw28 commented on #5827
Closing due to not properly filling out the issue template. Please properly fill out the issue template if you wish for us to address your issue. Thanks.

[2019-05-05 17:12] #5827 closed, assigned to ojw28

[2019-05-05 17:20] ojw28 commented on #5811
Fixed in f4968e1a8e39563603a4b8528d8e826ee8c504ca.

[2019-05-05 17:20] #5811 closed, assigned to AquilesCanta

[2019-05-05 18:20] ojw28 commented on #5761
Closing due to lack of required information (i.e. a link to some content that reproduces the issue). Please respond here if you're able to provide this information, and we'll reopen the issue.

[2019-05-05 18:20] #5761 closed, assigned to ojw28

[2019-05-05 18:21] ojw28 commented on #5713
Closing due to lack of response.

[2019-05-05 18:21] #5713 closed, assigned to ojw28

[2019-05-05 18:22] ojw28 commented on #5684
Closing due to lack of requested test stream. If you're able to provide one then please respond with it here, and we'll reopen the issue.

[2019-05-05 18:22] #5684 closed, assigned to ojw28

[2019-05-05 18:32] andrewlewis commented on #5721
Closing due to lack of activity.

[2019-05-05 18:32] #5721 closed, assigned to andrewlewis

[2019-05-05 18:32] andrewlewis commented on #5720
Closing due to lack of activity.

[2019-05-05 18:32] #5720 closed, assigned to andrewlewis

[2019-05-05 18:36] #5703 closed, assigned to andrewlewis

[2019-05-05 18:40] andrewlewis commented on #5618
@abdelrahman-ali98 I don't think there's anything else we can do here so I will close this. Please let us know if you contacted Broadcom and received more information that would help diagnosing this.

[2019-05-05 18:40] #5618 closed, assigned to andrewlewis

[2019-05-05 18:44] andrewlewis commented on #5582
Closing as this seems to be an AdMob issue rather than an ExoPlayer issue. If you can provide a bug report we can take a look anyway.

[2019-05-05 18:44] #5582 closed, assigned to andrewlewis

[2019-05-05 18:47] andrewlewis commented on #5536
Closing due to inactivity.

[2019-05-05 18:47] #5536 closed, assigned to andrewlewis

[2019-05-05 18:48] ojw28 commented on #5782
@isuperqiang - Please update this issue.

[2019-05-05 18:49] andrewlewis commented on #5536
If you can provide a full bugreport captured with `adb bugreport` (attached here or emailed to `dev.exoplayer@gmail.com`) then that may help diagnose what's going on, but without it I don't think there's much we can do to help.

[2019-05-05 18:52] CreeschYT commented on #5820
I think there is a problem in (Uri.parse(url) because i stored the urls in an arraylist

[2019-05-05 20:05] ganeshgarad opened #5834 "Want to show video time reverse counter on exoplayer in android"
I'm creating social media application using exoplayer in android, and I want to play the video by showing a reverse counter of remaining time on play.

[2019-05-06 00:01] #5784 closed, assigned to tonihei

[2019-05-06 00:03] #5774 closed, assigned to ojw28

[2019-05-06 00:06] ojw28 commented on #5788
@rishabh14augshukla - Did you try the suggestions above?

[2019-05-06 00:12] ojw28 commented on #3933
This is true as of `2.10.0`, provided you avoid calling `stop()` in-between (just call `prepare` directly with the new `MediaSource`). See [this blog post](https://medium.com/google-exoplayer/improved-decoder-reuse-in-exoplayer-ef4c6d99591d) for details.

I'm going to close this issue, since there's been no followup since August, and because `2.10.0` likely makes the zap time significantly better.

[2019-05-06 00:12] #3933 closed, assigned to ojw28

[2019-05-06 00:12] #5812 closed, assigned to marcbaechinger

[2019-05-06 00:12] #5783 closed, assigned to ojw28

[2019-05-06 00:38] ojw28 commented on #5779
One fairly straightforward approach that you can use in the meantime is to use dummy URIs that contain the information needed to resolve the real URL. For example if you need the video id, you could use a scheme like: `app://video_id`. Then make a custom `DataSource` (and `DataSource.Factory`) that resolves the URIs to URLs before passing them through to a wrapped `DataSource`. Something like:

[c

[2019-05-06 00:41] ojw28 commented on #5753
Closing because a working test stream wasn't provided.

[2019-05-06 00:41] #5753 closed, assigned to nobody

[2019-05-06 00:59] #5824 closed, assigned to tonihei

[2019-05-06 01:02] ojw28 commented on #5740
I think this is probably a duplicate of https://github.com/google/ExoPlayer/issues/5399. @tonihei - Can we duplicate one to the other, and edit the title of the one that we keep to accurately reflect the request? Thanks!

[2019-05-06 01:03] #5739 closed, assigned to tonihei

[2019-05-06 01:03] #5736 closed, assigned to AquilesCanta

[2019-05-06 01:10] ojw28 commented on #5572
We've removed the part of the README and developer guide that the top of this issue is referring to. These updates will land this week with `2.10.0`.

There still seem to be a general issue related to the combination of Kotlin and Java 8 features, but I think this is tracked by https://issuetracker.google.com/issues/114481425, and isn't an ExoPlayer issue.

[2019-05-06 01:10] #5572 closed, assigned to AquilesCanta

[2019-05-06 01:14] ojw28 commented on #3442
@jefftinker - Could you take a look at this? I think the relevant logging is:

[code]

[2019-05-06 01:26] ojw28 commented on #4066
@tonihei - This probably fits in with nicely `DefaultMediaSource`, as per my comments above.

[2019-05-06 01:28] ojw28 commented on #5217
@rrfrias - Did you hear back from the SoC? Thanks.

[2019-05-06 01:58] Gensoukyou1337 commented on #5823
So in 2.10.0, I'll have the ability to track whether the cache has all the pieces of a particular downloaded stream?

[2019-05-06 02:13] isuperqiang commented on #5782
### [REQUIRED] Issue description
Can't play wav file on some devices.

### [REQUIRED] Reproduction steps
Set data source by local wav file, then it sounds noisy on Oppo R9tm. But plays well on other devices.

### [REQUIRED] Link to test content
A normal wav file.

### [REQUIRED] A full bug report captured from the device

[code]
[exo-log.txt](https://github.com/google/ExoPlayer/files/3146307/exo-l

[2019-05-06 02:18] parks1234 opened #5835 "tv android5.1 not playing"
in Android TV, The cache bar is loaded，but video not playing. But this video normal playing on phones and tablets.

[2019-05-06 03:46] isuperqiang commented on #5782
I fixed it by the following code. Is this OK?

[code]

[2019-05-06 05:11] kartdroid commented on #5828
@ojw28  Yes, that is the right place. But the issue doesn't seem to be noticed. Can you help in getting some attention for the same ?

[2019-05-06 05:39] MrRossi82 opened #5836 "Video Freeze when transitioning to fullscreen"
I use this code to play the full-screen video but I have a problem when it is video playing and moving from the main activity to the full-screen activity occurs freezing of the video for 2-3 seconds This problem occurs only with the releases after 2.8.3 only but with 2.8.0 works Video is smooth

-------------
my code
my code full: https://github.com/MATPOCKIH/ExoPlayerFullscreen

----------

**Pla

[2019-05-06 06:34] linshuxian2019 commented on #5830
I want to know if the page has many windows to play local video, and the new window shows black screen, is it because the decoder can not solve it?
I printed the log and found that the data of the newly added window remained unchanged on the black screen. DecoderCounters.inputBufferCount=4, and outputBufferCount=0

[2019-05-06 06:58] rrfrias commented on #5217
@brunoluizcs is it possible to share the modified apk with dev.exoplayer@gmail.com? We do not have one of the devices mentioned, and so will not be able to confirm that an exoplayer demo apk modified by us reproduces the problem before sharing it with the SoC.

[2019-05-06 07:45] Navidhp opened #5837 "Change Subtitle in MergingMediaSource / HlsMediaSource (Need More Information)"
Is there a way to change the subtitle ? The rest of the subject-related (subtitles) do not provide enough information (#3886) ! how to change subtitle ? i can't find any solution in all issue this repository and document

[code]

[2019-05-06 08:04] Gensoukyou1337 commented on #5823
For now I've developed the following workaround:

[code]

This basically checks for all the keys/track URLs in the cache containing the last segment in the DASH manifest (assuming all of the track URLs contain said segment like mine does), gets all their spans, sums all of their lengths, then compares said sum with the registered length in the cache. It returns False if they match, and True if the

[2019-05-06 09:19] sunmTree opened #5838 "sometimes player local video failed!"
[code]

[2019-05-06 09:20] sunmTree commented on #5838
2019-05-06 17:14:54.452 30654-30654/com.parau.chat D/ExoMediaPlayer: onLoadStarted eventTime 112261808 loadInfo byteLoaded: 0 DataSpec: DataSpec[GET file:///android_asset/video/vip_store_bg.mp4, null, 0, 0, -1, null, 0] loadDuration: 0 MediaLoadData dataType: 1 Format: no format mediaStartTimeMs： 0 mediaEndTimeMs: -9223372036854775807
2019-05-06 17:14:54.453 764-30804/? I/imgvideo-omx: VDECUtil_Ad

[2019-05-06 13:12] eyalpartner commented on #5720
_**I can also reproduce:**_
**Log:**
 E MediaDrm-JNI: Illegal state exception: Failed to handle key response: DRM vendor-defined error: -2965 (-2965)
05-06 15:09:32.675 20625 10275 E ExoPlayerImplInternal: Renderer error.
05-06 15:09:32.675 20625 10275 E ExoPlayerImplInternal: com.google.android.exoplayer2.ExoPlaybackException
05-06 15:09:32.675 20625 10275 E ExoPlayerImplInternal: 	at com.google.

[2019-05-06 15:44] andrewlewis commented on #5720
@eyalpartner Please file a new issue and include all the information requested in the new issue template, especially a full bug report captured with `adb bugreport`.

[2019-05-06 19:15] noamtamim commented on #5377
Note that [MediaCodecInfo in Android Q](https://developer.android.com/preview/features#mediacodecinfo) has more info about a codec, including the fact that a codec is software only, etc.

@ojw28 are there any plans of using this new information for better codec selection?

[2019-05-06 20:54] ojw28 opened #5839 "Surface MediaCodecInfo isHardwareAccelerated / isSoftwareOnly / isVendor"
Android Q has added new `isHardwareAccelerated`, `isSoftwareOnly` and `isVendor` methods to `MediaCodecInfo`. We should consider:

1. Surfacing this information in ExoPlayer's `MediaCodecInfo`. It would probably make sense for us to approximate this information for earlier API levels as well (e.g. based on decoder name).
1. Once this information is surfaced, we should potentially look at whether i

[2019-05-06 20:54] ojw28 commented on #5377
That's interesting; thanks! I've filed https://github.com/google/ExoPlayer/issues/5839 to look at this.

[2019-05-07 05:29] geeta4 opened #5840 "not playing media from specific seekposition"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://exoplayer.dev/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. Information about the ExoPlayer
  demo app can be found her

[2019-05-07 05:29] geeta4 opened #5841 "not playing media from specific seekposition"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://exoplayer.dev/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. Information about the ExoPlayer
  demo app can be found her

[2019-05-07 05:33] #5841 closed, assigned to nobody

[2019-05-07 05:39] geeta4 opened #5842 "not starting media from specific seekposition"
It is playing always from o position but i need to play from specific position. iIstarted media (http url) like this:

[code]

[2019-05-07 06:13] noamtamim commented on #5839
@ojw28 [the issue I opened on Android's issue tracker](https://issuetracker.google.com/issues/123015413) was added to a "hotlist" that I don't have access to (https://issuetracker.google.com/issues?q=hotlistid:1498427). Maybe as a Google employee you can have a look there and see what it means.

Anyway, even though it seems like this new API resolves my request, they haven't marked it as such and

[2019-05-07 06:38] noamtamim commented on #5839
Another interesting point - this is `isSoftwareOnly()`'s Javadoc:

Emphasis mine; this seems reverse to me: software-only means that hardware decryption (by Widevine L1 or PlayReady SL2000+) is separate from decoding -- this should actually **weaken** the security, unless I'm missing something.

[2019-05-07 07:05] sc231997 commented on #5190
@makazemi you can use the following example :

[code]

[2019-05-07 07:32] pawaom opened #5843 "Updated concatenatingMediaSource is not called"
I am trying to add  a media file to play next after the current song that is being played

the first  concatenatingMediaSource  already contains few media files like [a,b,c,d,e,f]

currently say file 'c'  is playing

so now for example if I want to add a new file (g) , to play after the current file c ,

for that I am using this

[code]
however the file is not added to that position

so when we pr

[2019-05-07 09:15] patrykcyrzan opened #5844 "After a long pause and resume, the player catches the error after +/- 1 minute of streaming."
### Content description
After a long pause and resume, the player catches the error after +/- 1 minute of streaming. Error is BehindLiveWindowException (and the player skips to live streaming), but it's not always the case (sometimes I don't see any errors). The stream works properly in Google Shakaplayer.

### Link to test content
I've sent the link to test content on the provided mail address.

[2019-05-07 09:25] tonihei commented on #5740
Yes, sounds like a duplicate. Using the other one for tracking and closing this one.

[2019-05-07 09:25] #5740 closed, assigned to AquilesCanta

[2019-05-07 09:30] tonihei commented on #5820
I think the issue is that the links in the m3u playlist are not HLS playlists but progressive stream and you need to use `ProgressiveMediaSource` (or `ExtractorMediaSource` on older ExoPlayer versions) to read them.

Note that we also have an enhancement to implement parsing of m3u playlists internally and detect the stream type automatically, so you don't have to do this. See #4066.

[2019-05-07 09:30] #5820 closed, assigned to tonihei

[2019-05-07 09:33] tonihei commented on #5823
That could work, but may depend on your manifest set-up. We can't debug your app code to verify that and we now also have an official way to check the state of a download in 2.10. Please see the documentation [here](https://exoplayer.dev/downloading-media.html) for details.

[2019-05-07 09:33] #5823 closed, assigned to tonihei

[2019-05-07 09:53] tonihei commented on #5779
I think the DataSource approach in https://github.com/google/ExoPlayer/issues/5779#issuecomment-489477531 should always be preferred to adding url resolution to the MediaSource as suggested in https://github.com/google/ExoPlayer/issues/5779#issuecomment-485553997. That is because MediaSources can be reused and it's unclear how to handle expiration of resolved uris for example. On the other hand, t

[2019-05-07 09:58] tonihei commented on #5844
ExoPlayer buffers 50 seconds ahead by default. So when you pause playback and wait for a while, you still have these 50 seconds of media to play when you resume. However, if the live window is very short, there is no way we can load new media after that because there will be a gap between the end of the already buffered media and the start of the live window.

If that's a common use case you want

[2019-05-07 09:58] #5844 closed, assigned to tonihei

[2019-05-07 11:59] eyalpartner opened #5845 "E MediaDrm-JNI: Illegal state exception: Failed to handle key response: DRM vendor-defined error: -2965 (-2965)"
**Details:**
This error occur when the security level of the device is L1 with exoplayer ver 2.8.4
Content: HEVC +DASH
Android 7
If full adb logcat is needed:
https://drive.google.com/open?id=1QG4d6VOr_UPCoYLojjJJkTmmqRWlc2Dp

I am using our tv app that using the exoplayer 2.8.4 implemented so I can't use the
special log request, I attached above the full log in a link.

Happens when zapping to ot

[2019-05-07 12:00] eyalpartner commented on #5720
Thanks, I have created #5845

[2019-05-07 13:08] tonihei commented on #5632
Closing as no further information has been provided.

[2019-05-07 13:08] #5632 closed, assigned to AquilesCanta

[2019-05-07 13:08] tonihei commented on #5629
Closing as no further information has been provided.

[2019-05-07 13:08] #5629 closed, assigned to AquilesCanta

[2019-05-07 13:32] tonihei commented on #5557
Closing due to inactivity. Feel free to reopen if you can provide further information.

[2019-05-07 13:32] #5557 closed, assigned to petersamokhin

[2019-05-07 13:33] tonihei commented on #5550
Closing as there is nothing we can do about this.

[2019-05-07 13:33] #5550 closed, assigned to andrewlewis

[2019-05-07 13:44] tonihei commented on #5369
I'll close this issue because it seems to be partly solved by the workaround above and/or tracked by the leanback bug. Feel free to reopen if there is anything else we need to do on the ExoPlayer side.

[2019-05-07 13:44] #5369 closed, assigned to andrewlewis

[2019-05-07 13:44] tonihei commented on #5323
Closing because no further information was provided.

[2019-05-07 13:44] #5323 closed, assigned to tonihei

[2019-05-07 14:30] tonihei commented on #5291
@erdemguven  What's the latest conclusion on this issue?

[2019-05-07 14:31] tonihei commented on #5243
Closing due to lack of new information.

[2019-05-07 14:31] tonihei commented on #5226
Closing because the requested information was not provided.

[2019-05-07 14:31] #5226 closed, assigned to AquilesCanta

[2019-05-07 14:33] tonihei commented on #5180
@andrewlewis Did you check the test data provided via email?

[2019-05-07 14:36] tonihei commented on #5128
According to https://github.com/google/ExoPlayer/issues/5128#issuecomment-476424469, it seems the original question was resolved. Closing this issue, but feel free to reopen if there is something we need to address.

[2019-05-07 14:36] #5128 closed, assigned to marcbaechinger

[2019-05-07 14:40] tonihei commented on #5006
@andrewlewis  The referenced internal bug is already fixed. Can this issue be closed?

[2019-05-07 14:41] tonihei commented on #4968
Closing due to lack of further information.

[2019-05-07 14:41] #4968 closed, assigned to ojw28

[2019-05-07 14:47] tonihei commented on #4806
@andrewlewis Were you able to reproduce the issue?

[2019-05-07 14:50] tonihei commented on #4800
@ojw28  Were there any updates on this issue? Based on the information above, we probably need to close as not reproducible.

[2019-05-07 14:52] tonihei commented on #4792
@AquilesCanta Did you find a chance to give that a try?

[2019-05-07 14:56] tonihei commented on #5243
@erdemguven Can you take a look? The information was provided a while ago already.

[2019-05-07 14:59] tonihei commented on #4749
I think we never got any concrete media and reproduction steps to test with. Closing, but feel free to reopen if you can provide them.

[2019-05-07 14:59] #4749 closed, assigned to ojw28

[2019-05-07 15:01] ojw28 commented on #5839
The hotlists aren't anything of relevance/interest. I don't think "secure" in that comment you quote is describing content protection. It's describing isolation. For example resistance to attacks such as a carefully crafted content bitstream being able to crash the device.

In any case, let's use this issue to track the actual feature request; these are rather tangential discussions.

[2019-05-07 15:03] tonihei commented on #4731
I think the question has been answered above, so closing the issue.

[2019-05-07 15:03] #4731 closed, assigned to AquilesCanta

[2019-05-07 15:08] tonihei commented on #4695
Closing, because the linked issue answers the question.

[2019-05-07 15:08] #4695 closed, assigned to ojw28

[2019-05-07 15:19] tonihei commented on #4588
@erdemguven Any updates for this issue?

[2019-05-07 15:45] needz commented on #5243
This issue seems to be related to the similar one on ExoPlayer for Amazon Fire TV devices port at https://github.com/amzn/exoplayer-amazon-port/issues/81

[2019-05-07 16:03] tonihei commented on #3535
Closing because no full bug reports have been provided and this issue seems to be used for many similarly looking problems. Please open a new issue including all requested information so that we can take a look.

[2019-05-07 16:03] #3535 closed, assigned to ojw28

[2019-05-07 16:12] patrykcyrzan commented on #5844
@tonihei I'll describe problem in diffrent way. Our stream (provided in mail) starts playing from the timestamp which is <1 hour from the live moment. It looks correct and it starts playing from this timestamp, and seeking is also available but after few second the stream goes to the live moment.
As I mentioned earlier, ShakaPlayer can handle it.

[2019-05-07 16:38] marcbaechinger commented on #5835
Can you please provide us with a sample stream url and some more information around the device you are using?

[2019-05-07 16:39] tonihei commented on #5844
This effect is caused by the Location element in the manifest which redirects to another manifest. This other manifest doesn't have the long available live window, but only 12 seconds of live window.

The original problem you described above is then caused by what I already explained: Playback falls back behind the 12 second live window and if it's paused for a long time, playback can only continu

[2019-05-07 16:48] marcbaechinger commented on #5837
You can select tracks by using the `DefaultTrackSelector`. There is a page around [track selection on the ExoPlayer website](https://exoplayer.dev/track-selection.html).

You can build upon the existing parameters and use `setPreferredTextLanguage(lang)`.

[2019-05-07 16:49] andrewlewis opened #5846 "Add support for automatic wake lock acquisition/release in SimpleExoPlayer"
### [REQUIRED] Use case description
Apps may need to acquire a wake lock when playing audio with the screen off (see #930 for details). For these use cases, it's possible for apps to acquire/release the wake lock themselves but generally will need to keep track of the player state to do this properly.

### Proposed solution
Add support in `SimpleExoPlayer` for automatically acquiring/releasing a w

[2019-05-07 16:54] marcbaechinger commented on #5840
Please provide us with some info what the experienced problem is about. As far as I can see you did not add any information to the template, which does describe the information required to evaluate your problem.

[2019-05-07 16:56] Navidhp commented on #5837
@marcbaechinger i use DefaultTrackSelector in my code but not change subtitle

[code]

[2019-05-07 17:04] marcbaechinger commented on #5843
I'd also expect this to work, and you are right that you don't need to call prepare again. Once the player is prepared with a `ConcatenatingMediaSource` you can just add media sources as you did.

May I kindly ask you to review your code again or provide a little but more information what you are doing?

[2019-05-07 17:05] marcbaechinger commented on #5840
Duplicate of #5842.

[2019-05-07 17:05] #5840 closed, assigned to marcbaechinger

[2019-05-07 17:11] marcbaechinger commented on #5842
You are intending to seek to `currentSeekPos = 112`. Please be aware that [seekTo(long positionMs)](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#seekTo-long-) expects the position in milliseconds.

112 milliseconds might look like starting from the begin if you meant to seek to second 112.

[2019-05-07 18:28] CreeschYT commented on #5820
Can I get an example please because I'm really confused right now

[2019-05-07 18:38] CreeschYT commented on #4066
Can somebody please  give me an example about how to play an m3u file using this ?

[2019-05-07 19:55] ojw28 commented on #5844
Note: This is the same as https://github.com/google/ExoPlayer/issues/5755. Shaka handling the stream "properly" most likely just means they haven't implemented support for Location elements yet. If/when they were to implement support, you'd likely see the same behavior when using Shaka as well.

[2019-05-07 19:55] andrewlewis commented on #4448
The root cause of this issue seems to be that audio tracks may retain some resources even after `AudioTrack.release()` has returned.

We might work around this by retrying `AudioTrack` creation if it fails. [Internal: b/122356421]

[2019-05-07 19:58] andrewlewis commented on #3521
There were some recent fixes on the `dev-v2` branch to play out all audio when transitioning between playlist items where there was an audio format change. I am going to close this issue as it's likely it was addressed by those changes. If you still see this problem when using the development branch please file a new issue.

[2019-05-07 19:58] #3521 closed, assigned to andrewlewis

[2019-05-08 00:26] rishun-fsi commented on #4806
Hi,
Currently, I can not tested it with the new release ver.2.10.0.
Because I have not the test device of BRAVIA 4K 2015 (Android 7.0) around me.

[2019-05-08 02:28] mansurrrr opened #5847 "When MediaCodecRenderer$DecoderInitializationException occurs?"
### [REQUIRED] Question
I have multiple Exoplayers in Recyclerview and i'm calling `player.stop(/* reset */ true)` inside `ondetachedFromWindow()` of each rowview. After each rowview reattached from `onAttachFromWindow()`, prepare exoplayer with existing mediasource.

It works normally when playingback at the first time, but player error occurs when the player is reattached after calling `player.s

[2019-05-08 04:07] catbaxter commented on #5744
The problem ist gone on new 2.10 on all devices. Thank you guys!

[2019-05-08 04:07] #5744 closed, assigned to nobody

[2019-05-08 05:11] geeta4 commented on #5842
yes it is resolved i need to set position in millisec

[2019-05-08 05:11] #5842 closed, assigned to marcbaechinger

[2019-05-08 06:02] meenukrishnamurthy opened #5848 "Video content not playing"
I am getting the following error when play content from a provided url.

[code]

I am using a forked version of the exoplayer library version 2.9.0.

I have seen a issues related to this that we can solve this using ffmpeg extension of exoplayer.Can pls guide me through this

Can u provide me an email so that i can provide you an url.Cannot post it publicly due to privacy issues

[2019-05-08 07:58] khemrajiitk commented on #3750
+1 I am also interested.

[2019-05-08 08:11] tonihei commented on #5820
Just replace HlsMediaSource with ExtractorMediaSource.

[2019-05-08 08:28] tonihei commented on #5038
Closing this issue as no further information was provided. If you are able to provide reproduction steps in the ExoPlayer demo app, please reopen and we can have a look again.

[2019-05-08 08:28] #5038 closed, assigned to tonihei

[2019-05-08 08:31] tonihei commented on #5818
Closing, because the issue is not reproducible on newer versions of ExoPlayer.

[2019-05-08 08:31] #5818 closed, assigned to tonihei

[2019-05-08 09:53] martijn00 commented on #5031
@marcbaechinger Would it be an idea to add [FFmpegMediaMetadataRetriever](https://github.com/wseemann/FFmpegMediaMetadataRetriever) as a plugin for this?

See [Usage](https://github.com/wseemann/FFmpegMediaMetadataRetriever#usage) of how they extract metadata.

I still think there are a lot of use cases for this issue, especially around the notifications and mediasession integration. Currently it'

[2019-05-08 09:55] geeta4 opened #5849 "Not playing media of specific index in ConcatenatedMediaSource"
always playing from 0 index not given index

[code]

[2019-05-08 11:42] samuuh opened #5850 "Widevine Dash stream playback jumps on Pie devices on security level L3"
### [REQUIRED] Content description
We noticed some of our streams became choppy on devices that only support Widevine's security level L3 after they were updated to Android 9.0 (Pie). We were able to reproduce this behaviour on the Exoplayer Demo Application `cenc,MP4,H264` streams. This can be verified easiest by the `WV: Secure UHD (cenc,MP4,H264)` stream.

All streams worked well before the upd

[2019-05-08 13:24] swardharia opened #5851 "How to get information about chunks being played ?"
I am trying to get information about the chunks ( url of the media segment ) that is currently being played on the player. I see that we get these information about the current chunk being downloaded [ inside the method onChunkLoadCompleted(Chunk chunk) ]. But I want to track the same chunk when it starts playing and when the player is done playing that chunk. Where can I find this information ?

[2019-05-08 13:35] VigneshVickee opened #5852 "FFMPEG extension -arm-linux-androideabi-clang is unable to create an executable file"
[code]

[2019-05-08 13:48] satyres opened #5853 "Update to 2.10.0 : Audio discontinuity detected ?"
Hi,
i've update to the last version 2.10.0 and problems start to occur
when i play a stream radio , the sound glitches and i have this **Audio discontinuity detected** in my logcat. so i switched back to 2.9.6 and everything is back to normal .
is there any change i need to make ?
Regards

[2019-05-08 15:25] swardharia commented on #5851
What other information do I need to provide ?

[2019-05-08 15:51] ojw28 commented on #2965
These should probably be written in Kotlin, given we're now Kotlin first.

[2019-05-08 16:14] tonihei opened #5854 "Demo apps in Kotlin"
### [REQUIRED] Use case description
ExoPlayer's demo apps should be written in Kotlin as it becomes the preferred language for Android development.

In addition to our full demo app, we should also add more targeted demos to better demonstrate certain features without bloating the demo app with everything at once.

Ideas:
 - super simple hello world example
 - audio only playback (including backgr

[2019-05-08 16:15] tonihei commented on #4237
Superseded by #5854.

[2019-05-08 16:15] #4237 closed, assigned to tonihei

[2019-05-08 16:15] tonihei commented on #2965
Superseded by #5854.

[2019-05-08 16:15] #2965 closed, assigned to ojw28

[2019-05-08 16:23] juanpef opened #5855 "Live content SmoothStreaming+PlayReady with Sony AndroidTV 2019"
Hello,
We are trying to play a live content (Smoothstreaming+PlayReady) on a Sony AndroidTV device KD55AF9 (2019) and we are getting:
[code]
Other VOD encrypted contents are played without problems also.

We are using last ExoPlayer version. These videos are working without any problem on other devices, including Sony AndroidTV (2018/2017 models) and Nvidia Shield. So, this problem is only reprodu

[2019-05-08 16:24] marcbaechinger commented on #5849
The code seems about right. I'd use the `ExtractorMediaSource.Factory` to create the media source instead of calling the constructor directly. However, I don't think this causes the issue. I'd be surprised if this is a bug in ExoPlayer though.

The code snippet does not tell what's the value of `currentIndex` and `currentSeekPos`. Can you double check what the values of these variables are. Maybe

[2019-05-08 16:34] marcbaechinger commented on #5852
Can you provide us with some more information of what you did and if available some more output of the failed build command?

[2019-05-08 16:46] marcbaechinger commented on #5851
The `Chunk` object which is passed to `onChunkLoadCompleted` gives you the information about the chunk which has been loaded.

The fields `startTimeUs` and `endTimeUs` tells the start and end time of the media contained by the chunk (see javadoc for more details on the [Chunk](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/chunk/Chunk.html) object).

There is no event whi

[2019-05-08 16:52] marcbaechinger commented on #5848
Please email the link to dev.exoplayer@gmail.com using a subject in the format "Issue #5848".

Regarding the 'forked version of ExoPlayer 2.9.0' I'd recommend to first try playing the content with the demo app of the most recent version which is currently 2.10 to make sure the issue is not caused by the fork.

[2019-05-08 16:58] marcbaechinger commented on #5847
I think this happens because more than one player is trying to acquire the same codec instance (see #5799 also).

Can you reproduce this issue if you are only using a single ExoPlayer instance?

[2019-05-08 18:11] AquilesCanta commented on #4760
Hi, sorry for the delay. There is no Android API to set the HTTP headers that the receiver will use for requests.

To implement authentication, you'll need to implement a custom receiver app that does it. More info about how to do this in the receiver app [here](https://developers.google.com/cast/docs/reference/caf_receiver/cast.framework.PlaybackConfig#segmentRequestHandler).

[2019-05-08 18:11] #4760 closed, assigned to AquilesCanta

[2019-05-08 18:28] swardharia commented on #5851
I am trying to keep track of what chunks are finished playing or being played currently to calculate the percentage of a particular video is played, if there are multiple (seperate) linear video streams in the manifest.

[2019-05-08 19:55] marcbaechinger commented on #5851
Do you want to trigger a behaviour after a given percentage of the video is reached or similar?

[2019-05-08 20:46] swardharia commented on #5851
Yes I am looking for similar behavior in case of dynamic manifest. I want trigger specific function calls (keep logs in the player) whenever given percentage of media is played. I am keeping track of those media segments in a data structure when the chunks are loaded inside onChunkLoadCompleted(), but I could not relate to the same chunks during playback.

[2019-05-09 03:44] wuguinofeng commented on #5838
#4523 has a similar problem, but it has not been solved yet. Please contact it for processing.

[2019-05-09 05:16] emerging-coders opened #5856 "DecoderInitializationException after returning from AdMob interstitial ad"
I am playing video with ExoPlayer and showing Google AdMob interstitial ad.
After ad has been gone there was trouble to play video and show error like:

[code]

I am using these libraries:

[code]

[2019-05-09 05:27] malwinder-s commented on #5714
I managed to fix this by adding this:
[code]

[2019-05-09 05:43] VigneshVickee commented on #5852
Following the same steps as suggested by player https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg

While fetch and build FFmpeg got "C compiler test failed" error

[2019-05-09 06:45] darwinfrancis opened #5857 "RTSP Streams : Video not showing"
### [REQUIRED] Content description
I successfully build exoplayer project from git clone -b dev-v2-rtsp https://github.com/tresvecesseis/ExoPlayer.git and able to run the demo app.All the given streams under RTSP works fine, but when i add a stream which created using Wowza streaming server it stops after few minutes. I have tested the same stream url with vlc sdk and works fine. Exoplayer shows t

[2019-05-09 07:31] darwinfrancis commented on #5857
Updated issue, provided all required information's.

[2019-05-09 08:41] malwinder-s opened #5858 "Video freezes during playback"
### Content description
Hello,

I am trying to build application with video player in it. I want to display `PlayerView` on Fragments present in `ViewPager`.

I am using following code:

Layout:

    <com.google.android.exoplayer2.ui.PlayerView
        android:id="@+id/videoView"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        app:resize_mode="zoom"

[2019-05-09 08:50] Redirion commented on #5852
had the same "problem" yesterday, when I noticed that I just made a mistake when exporting the NDK_PATH. Make sure that ~/GitProjects/android-ndk-r15c/build/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-clang is actually pointing to that file.

edit: I just noticed this file is indeed not existing in ndk-r15c. Strange. I wonder, why it worked for me then.

[2019-05-09 08:50] malwinder-s commented on #5858
I have provided all required details and have updated the comment.

[2019-05-09 09:02] malwinder-s commented on #5858
I have provided all required details and have updated the comment.

[2019-05-09 09:13] mansurrrr commented on #5847
When I checked, the cause was elsewhere. While processing the visibility of textureview, an error occurred when trying to prepare multiple players while textureview is gone.
Thank you for your help.

Another question is, if there is an exoplayer inside a particular fragment, I wonder if the player resource is released without explicitly calling `player.release` at the time the fragment is destroye

[2019-05-09 10:49] manojMadarasingha opened #5859 "ExoPlayer device orientation does not change the Surface view"
Hi,

I am new to Android. I was trying to build a 360 video player using ExoPlayer SDK.

I set the  **app:surface_type="spherical_view"** PlayerView in Activity_main.xml and added

**((SphericalSurfaceView) playerView.getVideoSurfaceView()).setDefaultStereoMode(C.STEREO_MODE_TOP_BOTTOM)**;

to the MainActiviy.java where the activity runs.

I could change the view by touching the screen, but can no

[2019-05-09 14:13] AlexDundar commented on #5786
So, no one knows how to solve the problem?

[2019-05-09 16:05] marcbaechinger commented on #5856
It seems that initialisation of the codec fails after the ad has been played. It's likely that the codec has not been released and you want to initialize again.

Is the interstitial ad a video ad as well?

If so and you are using a second player instance to play the add it is likely that the ad player did not properly release the codec before the content player tries to initialise the codec again.

[2019-05-09 16:08] marcbaechinger commented on #5853
Can you please provide some more information according to the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md)?

[2019-05-09 16:24] marcbaechinger commented on #5858
I understand the issue is that it takes about 15 seconds to start playback when you are playing the video with the device on a mobile data network, while another player is playing audio in a service.

Can you please try to reproduce the behaviour by ruling out some variables like connectivity or bandwidth issues:

- does this happen when you are playing the video from local disk or when on a wifi

[2019-05-09 16:52] parulgarg004 commented on #5858
@marcbaechinger when we want to replay the same video in a loop it again takes the same time to load.

[2019-05-09 16:57] marcbaechinger commented on #5859
I think you need to just call `playerView.onResume()` and `playerView.onPause()` in the corresponding lifecycle method of your activity.

Take a look at [onResume()](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L215) of the PlayerActivity of the demo app.

[2019-05-09 17:04] marcbaechinger commented on #5858
When the video starts again, it needs to load the data again unless you have caching enabled (see below).

As per my comment above: Does it take 15 seconds when the video is loaded from disk (in the assets folder) or when loaded from WIFI?

If it's only because the video needs to load over a slow mobile network you may want to wrap a [CacheDataSource](https://github.com/google/ExoPlayer/blob/44293

[2019-05-09 17:15] parulgarg004 commented on #5858
It takes time to load when loaded from WIFI or Data Connection. Videos are coming from a web URL. I have to play a video in an infinite loop.

[2019-05-09 17:48] VincentBilodeauFP opened #5860 "Accessing frame timestamp | index from last updateTexImage"
Hi,

We need to have precise information about which frame is currently being rendered in order to trigger frame index based events such as a change in configuration, effects, image resizing, etc.

To get the current frame, we initially used getCurrentPosition and converted to frame based on what's the frame rate of the video, and we truncate with a small epsilon to cover floating number imprecisi

[2019-05-09 17:56] marcbaechinger commented on #5858
Can you please provide me with the url to the content? If you do not want to post this in public you can send it to dev.exoplayer@gmail.com with the subject "Issue #5858" so we can check.

[2019-05-09 18:32] WassimErriha opened #5861 "Support for seamless track selection between adaptive multi-angle videos (DASH/SS/HLS)"
I am working on a project where the user is able to switch between different camera angles during playback. At the moment, Exoplayer is capable of making a seamless switch between HLS variants. The solution for doing so is mentioned in #2250. Also, from the commit references in #2600 it looks like there is going to be support for HLS video renditions in the next release.
My question is;
Is it goin

[2019-05-09 19:55] AquilesCanta commented on #5404
I'll be closing this issue since it's not tracking an ExoPlayer issue. We have reported issues with PlayReady + CBC in [internal ref: b/112139868].

[2019-05-09 19:55] #5404 closed, assigned to AquilesCanta

[2019-05-09 20:11] AquilesCanta commented on #2841
Hi, please try the latest release. We've implemented key frame recognition using the random access indicator. Hopefully this works for you. Please post below (including a non-working stream) if you still run into issues.

[2019-05-09 20:11] #2841 closed, assigned to AquilesCanta

[2019-05-09 20:28] marcbaechinger commented on #5851
If you want to run some code after 50 percent of the duration of a video you can do something like this;

[code]

[2019-05-09 20:31] AquilesCanta commented on #4792
Hi, is this issue still reproducible? Any chance you provide a fresh link for us to reproduce?

[2019-05-09 20:35] marcbaechinger commented on #5860
I think there is no trivial way to trigger frame-accurate behaviours. The codec itself is rendering on the surface and I think the information you are already referring to above is what you can get.

If you want to have to eg. display an overlay or similar at exactly a given frame you may need to render the frame off-screen, composite and then copy the image onto a surface manually. When doing thi

[2019-05-09 20:37] marcbaechinger commented on #5860
@andrewlewis do you have some ideas how this could be achieved?

[2019-05-09 20:51] marcbaechinger commented on #5847
You should definitely call `release` yourself and not rely on something is releasing codec resources automatically.

That said I would recommend to not instantiate and release the player within a fragment but instead have one single player which you then pass to the fragment when it is attached to the window (or when it needs the player). This is the most efficient and also quickest way. You don't

[2019-05-09 21:02] marcbaechinger commented on #5838
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-05-09 22:11] P4FK47A opened #5862 "DVB Subtitles not working with SDK 28"
Hello,

i just found out that DVB subtitles from MPEG-TS stream are not showing when using SDK 28 to compile the app. Since ExoPlayer version 2.10.0 uses AndroidX, i needed to update my app to SDK 28 and then i noticed this problem. I have tested this on Android 9 Pie on Samsung Galaxy Note 9 and on Android emulator and the results are the same.

When i use my old app version with ExoPlayer 2.9.6

[2019-05-10 01:07] ojw28 commented on #5857
Our version of ExoPlayer does not currently support RTSP, and this issue tracker is not for https://github.com/tresvecesseis/ExoPlayer.git. If you have an issue with https://github.com/google/ExoPlayer/pull/3854 then please post your issue directly on the pull request.

[2019-05-10 01:07] #5857 closed, assigned to ojw28

[2019-05-10 01:42] ojw28 commented on #5782
I still don't understand what this is fixing, because our code already seems to prefer `OMX.google.raw.decoder` over `OMX.MTK.AUDIO.DECODER.RAW`. This should happen here:

https://github.com/google/ExoPlayer/blob/r2.9.6/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java#L167

Which sorts raw decoders:

https://github.com/google/ExoPlayer/blob/r2.9.6/library/cor

[2019-05-10 03:46] hafiz013 opened #5863 "Is there any demo on how to play video from google dfp"
hi guys, I just want to know is there any tutorial/demo on how to play video from google dfp with it custom targeting and etc. tq.

[2019-05-10 03:55] wow5109 opened #5864 "Dash with "Unmatched track of type" Problem"
Hi,

Sorry for poor English.

### Content description
I play video use DASH and DRM.
Can play the movie normally.
but when i turn on the HTTP CACHE ,
can't play video with error log
`BaseMediaChunkOutput :Unmatched track of type:  1 ` or
`BaseMediaChunkOutput :Unmatched track of type:  2` .
I see the EventLogger onLoadCompleted , the mpd and chunk nothing strange.
Why will this heppend, please for

[2019-05-10 03:56] ojw28 commented on #5830
I don't think decoder counters are relevant here. If you try and use too many players at once then one or more of them may fail at the start of playback because the underlying system doesn't have sufficient resources to allocate the decoders it needs. However in this case you will get a player error reported. See [this guide page](https://exoplayer.dev/listening-to-player-events.html) for details

[2019-05-10 03:56] #5830 closed, assigned to ojw28

[2019-05-10 04:06] ojw28 commented on #2484
This is an issue in the underlying platform [Internal ref: b/34159087].

[2019-05-10 04:11] ojw28 commented on #4319
The underlying issue is tracked by https://github.com/ant-media/LibRtmp-Client-for-Android/issues/70

[2019-05-10 04:28] dushicai opened #5865 "use glSurfaceView causes green pixelation"
exo version:2.9.6
MediaPlayer:
![MediaPlayer](https://user-images.githubusercontent.com/16698336/57502603-01081c80-731f-11e9-81bc-4bdf43e29d34.png)
ExoPlayer:
![ExoPlayer](https://user-images.githubusercontent.com/16698336/57502618-0b2a1b00-731f-11e9-82a6-ac58b109e99c.png)

[2019-05-10 05:30] chamaraManoj commented on #5859
Thank you.
Adding `playerView.onResume()` and function and `playerView.onPause` worked.
In the meanwhile I had  to change the Imported Exo Player version in the build.gradle file to a version like V 2.10.0

[2019-05-10 05:35] linshuxian2019 commented on #5830
Thank you! That is enough.

[2019-05-10 06:23] isuperqiang commented on #5782
Yes, I see it. But `MediaCodecUtil.getDecoderInfos` return only `OMX.MTK.AUDIO.DECODER.RAW`. Your default `MediaCodecSelector.DEFAULT` does not work here. I am confused.

[2019-05-10 06:57] parulgarg004 commented on #5858
@marcbaechinger check below URL
http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4

[2019-05-10 06:57] parulgarg004 commented on #5858
I will try to implement cache policy

[2019-05-10 07:54] SystemRestored opened #5866 "Provide sample code for most common custom receiver functionality"
Hello, Exoplayer cast is awesome playing normal hls and video files. However, there is no documentation for playing hls  aes 128 cbc key containing m3u8 in chromecast. If you have made a cast extension, why dont  you give a tutorial or project for custom receiver for cast? I could not find anywhere anycode to play hls aes m3u8. Any users who has implemented this kindly share your code. Or the goog

[2019-05-10 08:18] tonihei commented on #5860
You can also try to add a `VideoFrameMetadataListener` to `SimpleExoPlayer` which provides you with a callback for each video frame including the presentation and release timestamps. I think that should be closest to what you'd like to have. Note however, that this callback is called on the playback thread and you shouldn't do any blocking operation in there.

[2019-05-10 08:57] lwld commented on #5821
We have an error report from a user where the same problem occurs. We don't log `Build.DEVICE` in our error reports but have the following values, if this is of any help:

`Build.MODEL = ZTE B2017G`
`Build.PRODUCT = P852A11`
`Build.DISPLAY = ZTE B2017G V1.0.0B12`
`Build.VERSION.RELEASE = 6.0.1`

[2019-05-10 09:20] rishabh876 opened #5867 "How can I use 2 cache instances at the same time"
### Searched documentation and issues
I referred `Downloading Streams` Medium post by Erdem Guven [here](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95)
Also checked similar issue https://github.com/google/ExoPlayer/issues/4062. Couldn't find a clear solution.

### Question
I have two cache, 1 for playback and 1 for downloads (Both have different Evictor rules, so different f

[2019-05-10 09:20] tonihei commented on #5821
Thanks!

`Build.DEVICE` is actually the most helpful one in most cases as it refers to the underlying system and not the user-visible name, because there are often multiple DEVICEs (with potentially different problems) for the same MODEL.

According to https://support.google.com/googleplay/answer/1727131?hl=en-GB, there are 3 DEVICES ("msm8952_64", "tulip", "verdandi") for MODEL "ZTE B2017G" and,

[2019-05-10 09:34] hallyhaa opened #5868 "NPE in method HlsMediaPeriod#deriveAudioFormat"
### [REQUIRED] Issue description
Trying to stream audio using HlsMediaSource and using setAllowChunklessPreparation(true) causes an NPE when buffering. If not using chunkless preparation, the same audio stream plays perfectly. (It also used to play with no problems on exoplayer 2.9.x *with* the chunkless preparation.)

### [REQUIRED] Reproduction steps
Download the exoplayer demo app, search up th

[2019-05-10 09:55] tonihei commented on #5868
Thanks for reporting, we'll provide a fix for that!

[2019-05-10 11:48] BROUDING opened #5869 "Add SAMI subtitle decoder"
I've searched here and there for history checkup.. and nothing showed up and no one asked...
Why is showing SAMI not so popular issue?

Thanks for your precious time in advance.

[2019-05-10 11:53] tonihei commented on #5869
You can set the preferred subtitle language in the parameters of `DefaultTrackSelector`. The parameters builder has a method `setPreferredTextLanguage` which accepts language codes (e.g. "smi"). Note that this still requires that the media contains a text track for the preferred language.

[2019-05-10 12:06] JessHolle opened #5870 "Cannot use ExoPlayer 2.10.0 with Android support libraries"
While 2.9.6 allowed use of the Android Support Libraries, 2.10.0 does not, producing an error during project sync:

[code]

I do not see anywhere in the release notes noting that 2.10.0 requires switching to AndroidX.  We've tried to switch to AndroidX, but the automated migration tooling fails as per https://stackoverflow.com/questions/53853617/enabling-androidx-causes-cannot-change-strategy-of-c

[2019-05-10 12:21] BROUDING commented on #5869
@tonihei  Thanks for your time!

I thought that was actually choosing "language"...
I'm not sure if you got my point actually, I'm trying to merge `Mediasources` before playing the media, so I was looking for proper `MimeTypes` like `MimeTypes.TEXT_VTT`.

        val vttFormat = Format.createTextSampleFormat("identifier", MimeTypes.TEXT_VTT, 0, language)
        return SingleSampleMediaSource.Fact

[2019-05-10 12:30] tonihei commented on #5869
I'm not sure I fully understand the problem.

If you merge a subtitle `MediaSource` as in the example you just provided, the selection process is still the same as if that subtitle track has been part of the media all along. By default, no text track is selected unless it's marked as forced in the `selectionFlags` parameter of the `Format`. And you can specify a preferred language using the parame

[2019-05-10 12:30] BROUDING opened #5871 "Is there an eventListener for subtitles?"
I figured how to load subtitle and merge with `MediaSource`.

But I'm wondering if there is an eventListner for loading subtitles.
Here's how I load subtitle

[code]

How can I set the loadFailedListener....?

Thank you !

[2019-05-10 12:35] BROUDING commented on #5869
I'm so sorry to confuse you. My question is about file extension `smi`
Probably my bad english helped(not helped).

My clear question would be this
`MimeType` for _SUBTITLE_LINK.vtt_ would be `MimeTypes.TEXT_VTT`
`MimeType` for _SUBTITLE_LINK.srt_ would be `MimeTypes.APPLICATION_SUBRIP`

My question is, `MimeType` for _SUBTITLE_LINK.smi_ would be `???`

[2019-05-10 12:48] tonihei commented on #5869
Ah, I think I understand the problem now :)

You are not talking about the [Sami language](https://en.wikipedia.org/wiki/S%C3%A1mi_languages) with "smi" language code, but about the [Sami subtitle format](https://en.wikipedia.org/wiki/SAMI) with "smi" file extension. I wasn't aware that this format exists - sorry for the confusion.

In this case, the answer is that it is not possible to play that

[2019-05-10 12:54] tomislavturcic opened #5872 "Problem with hasNext() and hasPrevious() for ConcatenatingMediaSource"
### [REQUIRED] Searched documentation and issues
Couldn't find an answer for this in source or on the Web so here it goes.

### [REQUIRED] Question
Currently I am using ConcatenatingMediaSource to play a number of tracks. I use onPositionDiscontinuity to get notified when a new track is played. Then, I wish to update my UI with current track info and enable / disable previous and next buttons depe

[2019-05-10 13:00] makp9k opened #5873 "Unable to resume playing primary HLS audio stream after failover"
Hello,

### [REQUIRED] Content description
I use ExoPlayer to play an hls audio stream. My master playlist consists of primary and backup playlists, where the primary one sometimes restarts and begins producing segments starting from 0. But media sequences are in sync. After player switches from backup variant back to the primary, it is unable to continue playing the stream.

I checked the same st

[2019-05-10 13:00] BROUDING commented on #5869
No- my english wasn't good enough to deliver what I was asking.

Thank you for the quick and clear answer, I clearly didn't even know existence of language Sami.
My knowledge about subtitle is very short and personally I'm chasing by time a lot recently, So I'll need to tell my coworkers to only accept srt or vtt extensions for now.

Thank you so much and good luck with your project!
ExoPlayer is

[2019-05-10 13:02] tonihei commented on #5872
I think you can solve the problem by also listening to `onTimelineChanged` and updating the UI in there as well.

This is because a timeline change may include a position discontinuity (mentioned in the documentation [here](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onTimelineChanged-com.google.android.exoplayer2.Timeline-java.lang.Object-int-)) and

[2019-05-10 13:04] tonihei commented on #5869
Thanks, good to know. I'll also mark as "low priority" because this support has not been requested so far and we are unlikely to add it soon (unless someone provides a pull request).

[2019-05-10 13:07] tomislavturcic commented on #5872
Ok, thanks for clearing that up! That definitely helps.

[2019-05-10 13:07] #5872 closed, assigned to tonihei

[2019-05-10 15:16] VincentBilodeauFP commented on #5860
Thanks tonihei, I'll need to update the exoplayer for that, I'll be testing this out after and come back with results

[2019-05-10 16:20] andrewlewis commented on #5860
Just to elaborate a bit on how to use this: for the frame last rendered via `updateTexImage`, you can access the frame release time that ExoPlayer passed in the corresponding earlier call to `releaseOutputBuffer` using [`SurfaceTexture.getTimestamp`](https://developer.android.com/reference/android/graphics/SurfaceTexture.html#getTimestamp()). So you can store a mapping from frame release time (in

[2019-05-10 17:20] marcbaechinger commented on #5863
There is a [demo app for the IMA extension](https://github.com/google/ExoPlayer/tree/release-v2/demos/ima) with you can use use an [IMA ad tag](https://developers.google.com/interactive-media-ads/docs/sdks/android/tags). There is also a [blog post](https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea) about how to use the IMA extension.

I'm not sure if this is what y

[2019-05-10 17:21] marcbaechinger commented on #5861
@AquilesCanta May I ask you to comment on the HLS variants/rendition question?

[2019-05-10 17:26] marcbaechinger commented on #5864
You are mentioning HTTP CACHE. Do you mean you are using a CacheDataSource wrapped around your data source?

Can you provide us with a content url and a bug report which has been taken right after the problem occurs? This way we can look into the logs ourself.

[2019-05-10 18:01] parulgarg004 commented on #5858
@marcbaechinger can you please help us in this issue.

[2019-05-10 19:47] marcbaechinger commented on #5871
There is another `createMediaSource` method which offers two additional parameters which are a `Handler` and a `MediaSourceEventListener`. Is this what you are looking for?

[code]

[2019-05-10 19:55] marcbaechinger commented on #5867
They only way I can think of is that you keep track of the cache keys which are downloaded and then have an eviction strategy which works like the `LeastRecentlyUsedCacheEvictor` except for downloaded keys.

I assigned to Erdem as he may have a better idea how this can be done.

@erdemguven May I ask you to please comment on this?

[2019-05-10 20:00] marcbaechinger commented on #5859
Cool! Thanks for letting us know!

[2019-05-10 20:00] #5859 closed, assigned to marcbaechinger

[2019-05-10 21:10] marcbaechinger commented on #5865
Can you please provide us with some steps on how to reproduce this?

[2019-05-10 21:19] CreeschYT commented on #5820
It worked, but not quite. So it worked it played the urls in Exoplayer version 2.6.1, but the player sometimes crashes, the audio is terrible sometimes, the previous button has to be clicked twice to play the previous item, and my phone crashed trying to open a m3u file with 100 urls. In Exoplayer version 2.8 and above it just plays sound and I can't go next or previous. So I'm looking forward to

[2019-05-10 21:37] marcbaechinger commented on #5858
When playing that uri on a WIFI network, with the demo app without caching it starts kind of immediately:

[code]

The first frame is rendered after 1.24 seconds after the player has been created. This seems reasonable to me for the stream provided. When the video is at the end and repeats this happens without rebuffering which meets my expectation as well.

If you are seeing a join latency of 15-

[2019-05-10 21:44] marcbaechinger commented on #5873
@AquilesCanta May I ask you to look into this and verify the given hypothesis?

[2019-05-10 22:42] satyres commented on #5870
Hi
I confirm , with the new version 2.10.0 , there are many problem with AndroidX
i've spend hole day try to fix problem due to the migration until i give up and back to old version
and there is a problem with the sound as well discontinue when streaming
Regards

[2019-05-10 22:53] satyres commented on #5853
Hi , thanks for your reply.
i'm using Android 5.1 , i've tried on many streams here is one : http://89.34.24.40:9950/
running on Android Studio 3.4.
the problem is the sound glitches and there is Audio discontinuity detected in my logcat.
By the way why should i move to Android X ?
many problem happen when i switched to 2.10.0 and i've been struggling the make it work
but finally i moved back to 2

[2019-05-11 01:15] BROUDING commented on #5871
That should work, thank you!

[2019-05-11 01:23] marcbaechinger commented on #5870
When I create a new project in Android Studio and I have these dependencies in my gradle file I receive the above error as you report it:

[code]

Then I add the following to my gradle.properties

[code]

And I can build and deploy the app after having updated the import statements. I'm not sure if this works with your project as well, as it's a tiny no-op sample app only.

I found this here: http

[2019-05-11 01:43] marcbaechinger commented on #5671
Closing due to inactivity.

[2019-05-11 01:43] #5671 closed, assigned to marcbaechinger

[2019-05-11 01:43] marcbaechinger commented on #5381
Closing due to inactivity.

[2019-05-11 01:43] #5381 closed, assigned to marcbaechinger

[2019-05-11 01:45] marcbaechinger commented on #5676
Closing due to inactivity. Please reopen if you provide more into.

[2019-05-11 01:45] #5676 closed, assigned to marcbaechinger

[2019-05-11 04:56] emerging-coders commented on #5856
Yes! obviously I am using video interstitial ad of google admob. This error causes when after ad has been gone and Exoplayer is stop working.

[2019-05-11 05:36] ghost commented on #3375
@dustinkerstein
Sorry for late reply, maybe the occasional jumps in your data are caused by rebuffer. The rebuffer time is an unstable factor which should be removed while collecting the onInputBufferAvailable duration time.

The 300 frames value is the original collected value.

I am working on a PR for Exoplayer.

[2019-05-11 06:44] parulgarg004 commented on #5858
Ok, I will provide you the logs, the problem comes with the data connection.

[2019-05-11 11:06] JessHolle commented on #5870
@marcbaechinger As per above when I try the migration tools I run into the issue in the stackoverflow query I referenced.  I filed https://issuetracker.google.com/issues/132402278 on that issue with Google.

[2019-05-11 12:22] dustinkerstein commented on #3375
@ycinfinity no worries at all on the delay. How do you mean "rebuffer"? And just to clarify, the 300 frame example is the raw time between two consecutive frames but sampled like: frame 0-1, 300-301, 600-601, 900-901, etc, correct?

[2019-05-11 13:21] makazemi commented on #5770
@ojw28 : Before 2.10 version, I asked this question #5640. Now I use of new version of exoplayer. The onDownloadChanged of DownloadManger listener only be called three or four times. In the first two times, PercentDownloaded is zero and only in the one before the last and last time PercentDownloaded  has non zero value. So My progress bar don't update. I try for large file but no difference. I wan

[2019-05-11 13:42] andrewlewis commented on #5856
This looks similar to #5582. Where do you initialize the player after returning from the interstitial ad? If you're initializing the player in a lifecycle callback, could you try posting a runnable that initializes the player instead, as suggested in that issue, and let us know if that makes a difference? Thanks.

[2019-05-11 18:24] andrewlewis commented on #5782
@isuperqiang Please could you attach the output of `adb shell cat /system/etc/media_codecs.xml` and `adb shell cat /system/etc/media_codecs_google_audio.xml` while the device is attached? Or alternatively attach a debugger and see what's in the `decoderInfos` list [here](https://github.com/google/ExoPlayer/blob/r2.9.6/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUt

[2019-05-11 18:30] makazemi commented on #5770
@ojw28 : If user manually delete .exo downloaded file, isDownloaded method of 2.10 version can't detect it. How to detect it?

[2019-05-11 18:34] andrewlewis commented on #5853
Focusing on the audio discontinuity issue: I wasn't able to reproduce this after playing the stream for about 15 minutes. Do you see audio discontinuities when playing the stream in the demo app? If so, please provide a bug report captured with `adb bugreport` just after seeing the problem and attach it here or email it to `exoplayer.dev@gmail.com` with subject 'Issue #5853'.

[2019-05-11 20:26] andrewlewis commented on #5006
The internal reference in my previous comment relates to a bug with debug mode that was making this difficult to diagnose.

The IMA SDK team is actively working on improving preloading support which should address this once and for all. We don't yet have an ETA for that though I'm afraid. I am going to leave this open for now and will close it once we've verified that empty ad groups can be handle

[2019-05-12 00:42] satyres commented on #5853
Thanks for your reply.
i'm using this app to listen to radio streams https://github.com/segler-alex/RadioDroid
i wanted to update to 2.10.0 ,i've made all possible changes
with HLS streams it works fine , but with the new ProgressiveMediaSource something has changed and the sound start to glitches and i've got  Audio discontinuity detected in my logcat.
please if you don't mind give it  a try ,and

[2019-05-12 03:04] marcovietovega opened #5874 "Pause / Resume a single download"
I have searched on the docs and the examples, and can't find a way to pause and resume a single download only all the downloads. Is there a way to do this, or is not supported yet? If not, is going to be supported anytime soon.

Thanks.

[2019-05-12 03:39] marcovietovega commented on #5874
Sorry, as I see in the code and tested, stopping a download is like pausing it, it doesn't remove the downloaded progress, and can be restarted by clearing the stopreason;

Please close this.

[2019-05-12 10:44] asaadaa opened #5875 "generating new Signed APK with dexguard"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://exoplayer.dev/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app. Information about the ExoPlayer
  demo app can be found her

[2019-05-12 18:22] nightwolf738 opened #5876 "Fetching ICY metadata fails on some streams"
Hello,

I have been waiting for 2.10.0 release for a long time. Finally it has been released. Thanks for your effort.

I tried to fetch ICY metadata from radio streams, but it seems ExoPlayer fails on some streams. Here is some examples:

[http://voyagesc.radyotvonline.com/](http://voyagesc.radyotvonline.com/)
ExoPlayer fails in fetching ICY metadata on this radio stream while 'Current Song' secti

[2019-05-12 20:36] ojw28 commented on #5876
The problem is just that the first stream contains line terminators in the stream title. For example:
[code]
The `Pattern` we use for matching doesn't handle that. It's easy to fix (note that it'll be working as intended that there are line terminators in the stream title, since that's what's in the underlying stream).

[2019-05-12 20:38] #5874 closed, assigned to ojw28

[2019-05-12 20:38] #5871 closed, assigned to marcbaechinger

[2019-05-13 01:50] isuperqiang commented on #5782
@andrewlewis This is `media_codecs.xml`. But there is no `media_codecs_google_audio.xml`.
[code]

[2019-05-13 02:40] dushicai commented on #5865
Android 4.4  SOC: Allwinner Quad-core H3

The same problem with using this project：
https://github.com/roxlu/2018-016-android-exoplayer-with-gltexture

video resource:
https://drive.google.com/open?id=1l0XuEfyrPsE-jg98kndVlpfzcqkKSmFH

[2019-05-13 04:43] rtx2080tix opened #5877 "how exoplayer use or talk to hardware composer"
### Searched documentation and issues
I have an android tv but it has a problem the contrast and the gama setting  apply only when viewing video using exoplayer framework that mean youtube and Netflix and even exoplayer demo on play store but anything that doesn't use exoplayer fretwork have a bit of a pale color that is solid and fixer that doesn't change no matter what gama setting I choose I kn

[2019-05-13 05:49] ZhangPeibin opened #5878 "exoPlayer.prepare use about 10s before the video appear"
like title ,
when I play a mp4 file , it's buffering so  long time,
my code is same as demo.
is there someways to improved the buffer time?

thanks !

[2019-05-13 07:19] Gensoukyou1337 opened #5879 "With 2.10.0, how do I get the track URLs from the DASH Manifest for cache checking?"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/5770

### [REQUIRED] Question
Right now, since I'm still using the LRU Cache strategy limited to 20 MB, I need to find a way to detect whether all parts of the downloaded stream exist in cache. The issue above is related, since it asks the question of the `DownloadIndex` not detecting when some of the .exo

[2019-05-13 07:53] andrewlewis commented on #5875
If you downgrade to ExoPlayer 2.9.6 and generate a signed APK in the same way does the error disappear?

`java.lang.ClassNotFoundException: Didn't find class "com….application.GdprApplication"` looks unrelated (that class isn't part of ExoPlayer).

`Abstract method 46868(Lcom/google/android/exoplayer2/trackselection/TrackSelection$Factory;.lambda$createTrackSelections$0) has disallowed access flag

[2019-05-13 08:08] andrewlewis commented on #5877
ExoPlayer is built on Android media framework components and doesn't have any special access to hardware compositing. When using `MediaCodecVideoRenderer`, we configure a `MediaCodec` to render to the surface provided by the app, which normally comes from a `SurfaceView`. Any app can in principle implement the same kind of decoding/rendering setup.

[2019-05-13 08:08] #5877 closed, assigned to andrewlewis

[2019-05-13 08:14] andrewlewis commented on #5878
Is this just a case of loading remote media over a slow connection, or do you think there's something else going wrong?

The media might be stored in a form where we have to load a lot of data before playback can begin (e.g., it might be very high bitrate). If you share it we can take a look. It might also help to have a full bug report captured with `adb bugreport` after playing the media in the

[2019-05-13 08:14] tonihei commented on #5820
This is likely due to an app bug and we unfortunately can't help you debug your app. I tested your example in our demo app and everything works fine without problems.

[2019-05-13 09:53] asaadaa commented on #5875
Yes, after downgrading exoplayer to 2.9.6, I am able to generate a signed APK,
but I need to use this update because it solves the most common issue in our app  https://github.com/google/ExoPlayer/issues/5698

I think the main reason is this one : Abstract method 46868(Lcom/google/android/exoplayer2/trackselection/TrackSelection$Factory;.lambda$createTrackSelections$0) has disallowed access flags

[2019-05-13 10:06] bychkovdmitry opened #5880 "Downloading same videos independently"
### Searched documentation and issues
Checked CacheKeyFactory documentation, searched for similar questions.

### Question
Due to constraints on our testing environment we have several assets pointing to exactly the same Dash manifest url. We want these assets to be downloaded / deleted independently.  Currently, each DataSpec is saved to cache with key = dataspec.url.toString(). Therefore, when w

[2019-05-13 10:54] ojw28 commented on #5880
I think you just need to fix your testing environment, because this sounds kinda broken. By definition (from Wikipedia):

[2019-05-13 10:54] #5880 closed, assigned to ojw28

[2019-05-13 12:25] hemanth-sp opened #5881 "how to set particular index in list of media sources in exo player?"
i am unable to set 5th song in 10 songs size
 app contain list of 10 songs i assume click on 5th song need play that

https://stackoverflow.com/questions/56111776/how-to-set-particular-index-in-list-of-media-souces-in-exo-player?noredirect=1#comment98857725_56111776

[2019-05-13 12:28] T-10001 opened #5882 "Populate Format.codecs for video tracks in MKV/MP4"
How it should look:
![image](https://user-images.githubusercontent.com/20717627/57671151-db984d00-7655-11e9-93e8-167c68d3f028.png)

How it shows up on ExoPlayer:
![image](https://user-images.githubusercontent.com/20717627/57671171-f36fd100-7655-11e9-8501-94919d0d14fa.png)

### [REQUIRED] Content description

Unique ID                                : 267980416984396205961281129986639226741 (0xC99B

[2019-05-13 12:54] ojw28 commented on #5870
It's working as intended that you need to use AndroidX with more recent builds of ExoPlayer.  I'm not an expert on Gradle, but I think that this problem...

...is most likely related to something odd about your project's gradle files. For the AppAuth-Android project I can make this error go away by removing `apply from: '../config/style.gradle'` from the bottom of the app's gradle file. I can make

[2019-05-13 12:54] #5870 closed, assigned to marcbaechinger

[2019-05-13 13:00] JessHolle commented on #5870
Okay, it is understandable that from ExoPlayer's perspective this should be closed.

The corresponding bug I filed against the AndroidX migration should remain open, however, as a migration that fails for various build.gradle files with an error that provides no guidance as to how the issue can be addressed is not an acceptable path to AndroidX.  There's a reason the stackoverflow query about this

[2019-05-13 13:18] marcbaechinger commented on #5862
Thanks for reporting. We will provide a fix for this asap.

[2019-05-13 13:22] swardharia commented on #5851
Thanks for the respose @marcbaechinger :)

I think "duration" here means the length of the entire video content. Is it true ?

I am working with live HLS and DASH streams. And also, I am trying to get information about the progress of current video program ( can be a group of chunks forming a program ) within the entire stream. Is it possible to track this at playback, if I have the 'start URL' an

[2019-05-13 13:25] ojw28 commented on #5770
Progress updates do not trigger `onDownloadChanged` because progress is changing continuously. Instead, you should poll the progress at whatever rate you want. `DownloadService` contains an example of doing this, which is how the notifications update with progress in the ExoPlayer demo app, so please take a look at that if it's unclear what to do.

Note this is analogous to playback position advan

[2019-05-13 13:30] ojw28 commented on #5881
You should be using:
[code]
to seek to the 5th song (note that `windowIndex` starts at 0, so you should use 4 rather than 5).

[2019-05-13 13:30] #5881 closed, assigned to ojw28

[2019-05-13 14:40] VincentBilodeauFP commented on #5860
So presentation time is what I need in term of precision, I'm just missing when I need to update my current time to the presentation time. I'll test the TimedValueQueue, it's probably gonna do the trick. Thanks for being helpful :D

[2019-05-13 16:22] stevendesu opened #5883 "How to create a custom MediaSource?"
### [REQUIRED] Searched documentation and issues

I've looked at a few similar questions, but none had a resolution that I feel will work for me:

 - https://github.com/google/ExoPlayer/issues/3967 - creating an AdsLoader was recommended for handling custom ad logic
 - https://github.com/google/ExoPlayer/issues/3757 - no solution was given, although the issue seems to be related to playing a **sup

[2019-05-13 16:30] stevendesu commented on #5883
This absolutely follows the template. I quoted the template in my question. Is the blockquote throwing off the bot?

[2019-05-13 16:43] marcbaechinger commented on #5851
Yes, correct. The `duration` is the duration of the media. In the example it is just used to calculate the position at which the message should be triggered. You can of course calculate that position in any way you want, like getting it from the information you get from a `MediaSourceEventListener`.

The `MediaSourceEventListener` which has callbacks like the one below which is called when data st

[2019-05-13 17:11] CreeschYT commented on #5820
Ok last question, so there are no problems with that code, right?
[code]

[2019-05-13 17:26] swardharia commented on #5851
Ok thanks. And one more question, is this onLoadStarted(), the eventListener for media segment being downloaded or the media segment that is being played by the Player interface ?

[2019-05-13 18:28] marcbaechinger commented on #5851
According to the method it's the chunk which has been started or completed downloading. You can get the media time at which it will be played from the MediaLoadData. So you can for nstance get the media time of the chunk you are interested in and then create a message to be triggered at the expected position.

[2019-05-13 18:33] swardharia commented on #5851
Sounds good. The timing information from the Chunk will help me in tracking that chunk during playback. Thanks for the responses :)

[2019-05-13 18:39] egemenhamutcu commented on #5876
Thank you for such a short response. I would like to furher this issue to maintain the feature with minimum bugs:

- Fetching ICY metadata does not work at all in my `Sony E5553 Android 6.0, API 23` device, `MetadataOutput` listener never be invoked, while API 26 & API 28 devices works fine.

- [http://46.20.3.228/](http://46.20.3.228/) this radio stream has an empty 'Current Song' section but Exo

[2019-05-13 18:41] AquilesCanta commented on #5873
A few questions before I look into this:

What's happening exactly? Does it get stuck in the BUFFERING state? Or does it fail with a player error?

Which media sequences are in sync? Back up and primary? If so, wouldn't that mean if primary resets, then back up should reset too?

Besides the master playlist link, can you provide specific reproduction steps? How often do the servers reset?

[2019-05-13 18:50] nightwolf738 commented on #5876
Thank you for your response in such a short time. I would like to furher this issue to maintain the feature with minimum bugs:

- Fetching ICY metadata does not work at all in my `Sony E5553 Android 6.0, API 23` device, `MetadataOutput` listener is never being invoked, while API 26 & API 28 devices work fine on the same stream. You can test the issue via [http://17773.live.streamtheworld.com/JOY_T

[2019-05-13 19:18] gowthamgts commented on #5854
I would like to see an example with background service

[2019-05-13 21:02] makp9k commented on #5873
Thank you for quick reply!

The player gets stuck in the BUFFERING state, periodically trying to load the primary playlist.

I'm sorry for not being clear. What I meant was that if primary resets, the playlist it produces will start with a single segment "segment00000000.ts" while the back up playlist will have much more segments (like from "segment00069559.ts" to "segment00069648.ts"). But the me

[2019-05-13 21:37] ixfd64 opened #5884 ""cannot resolve symbol: util" in ExoPlayer 2.6.1 - previously worked fine"
Since a few days ago, our projects that use ExoPlayer 2.6.1 no longer compile. Android Studio now gives a `cannot resolve symbol: util` error even though they have previously compiled without problems.

**Steps to reproduce:**

1. Create a new project in Android Studio.
2. Add ExoPlayer 2.6.1 as a build dependency by putting `implementation 'com.google.android.exoplayer:exoplayer:2.6.1'` in the `b

[2019-05-13 21:44] stephenBC commented on #5714
@malwinder-s looks like that fixes it, thanks!

[2019-05-13 23:26] ojw28 commented on #5876
This is because our `Pattern` doesn't expect empty values, and is also easy to fix.

I'm less sure about this one. Does playback of the stream work at all? Does using the OkHttp extension rather than the default network stack resolve the problem? You should probably be using the OkHttp extension anyway if you're playing ICY streams, since on some devices the default network stack will not handle n

[2019-05-14 00:51] rtx2080tix commented on #5877
thank you for your response I know a bit about programming. but can you help me to learn how to implement in other apps . if I asked you to help implement it in vlc that would be wrong because you don't know how vlc work to render the video and I looked at their code and it looked different from exoplayer code and I know to programmers can write the same functionality using two different ways to p

[2019-05-14 01:53] workspace opened #5885 "Playback of 60fps video with faster speed(2.0) cause Video Discontinuity"
I tried to update ExoPlayer's version from 2.9.6 to 2.10.0, however, it seems playback of 60fps video with faster speed has problem with frame release(drop a lot of frames!). My device is Galaxy S9 plus(SM-G965), so it is not related with device's performance. With same media, 2.9.6 does not have problem with fast playback, so I think some changes in 2.10.0 cause this problem.

I'm sorry for leavi

[2019-05-14 03:57] ZhangPeibin commented on #5878
### the media url :
http://video.stormorai.com/上饶茶灯韵/课时1-上饶茶灯韵.mp4

### the eventLog:
[code]
### the code here :

[code]

[2019-05-14 04:00] ZhangPeibin commented on #5878
code for player or something else is copying from demo.
the apk is run at debug model not release.

Thanks for help me !

[2019-05-14 06:39] geeta4 opened #5886 "is exoplayer will be stopped if system kill the app for any reason while player notifciationmanager is used for notification"
i have used playernotificationmanager to show notification what will happen if my app in background and system requires memory ? my app will be killed and player will be stopped?
and one more thing how to handle if we manually kill our app form stack tray what callback will be called and what when system kill our app? i have not used any service i am using playernotificationmanager to show notific

[2019-05-14 08:18] hemanth-sp commented on #5881
hi
i think  player.seekTo solution not working , when i call the service it always start with 0th song
this is current my code
`for (ModelRadio sample : modelRadios) {
            MediaSource mediaSource = new ExtractorMediaSource.Factory(dataSourceFactory)
                    .createMediaSource(Uri.parse(sample.get_radio_url()));
            concatenatingMediaSource.addMediaSource(mediaSource);

[2019-05-14 08:28] marcbaechinger commented on #5851
Cool. Closing for now. :) Please reopen if you think it's needed.

[2019-05-14 08:28] #5851 closed, assigned to marcbaechinger

[2019-05-14 08:30] tonihei commented on #5820
I think you shouldn't create the MediaSources and prepare the player inside the loop while you are reading the lines.

But please note again that we don't have the resources to debug your app code and you are probably better off asking questions around that on sites like StackOverflow.

[2019-05-14 08:32] marcbaechinger commented on #5837
I'd recommend [using an EventLogger](https://exoplayer.dev/listening-to-player-events.html#using-eventlogger) in your app. This will get you some logs around which tracks are available when you start playing the video. With the information printed to the console it may be easier to check what tracks are available and can be selected.

[2019-05-14 08:34] tonihei commented on #5881
Note that it should be `C.TIME_UNSET` in the seek command. I edited the post above.

Also, you need to ensure not to reset the position when preparing if you want to keep the seek position:
[code]

[2019-05-14 08:44] hemanth-sp commented on #5881
hi, this code working fine i was need to change the order of the paper and seekTo

`import com.google.android.exoplayer2.C;

player.prepare(concatenatingMediaSource);

player.seekTo(5, C.INDEX_UNSET);

player.setPlayWhenReady(true);`

[2019-05-14 08:47] tonihei commented on #5881
Changing the order is potentially less efficient. Please consider calling `seekTo` first and then `prepare` with not resetting the position.

[2019-05-14 08:56] hemanth-sp commented on #5881
player.prepare(mediaSource, /* resetPosition */ false, /* resetState */ false) this helped without changing order . this also working fine

[2019-05-14 09:01] marcbaechinger commented on #5886
You should assume that the life-cycle methods of your app are called as described in the doc around [activity lifecycle](https://developer.android.com/guide/components/activities/activity-lifecycle) or [service lifecycle](https://developer.android.com/guide/components/services). That's actually all you can do to have a good user experience.

If the system gets low on memory, you should still assum

[2019-05-14 09:07] marcbaechinger commented on #5884
That sounds odd indeed. Since you haven't changed the ExoPlayer version it seems to me that it can't be a problem caused by ExoPlayer as there is no change of it.

Did you change something else like updated Android Studio or Gradle Version of you project?
What versions of Android Studio and gradle are you using?

In general I'd recommend to use the most recent version of everything, like ExoPlayer

[2019-05-14 10:23] juanpef commented on #5855
Any help? Sony has noticed me this issue could be related with the use of PlayReady SL3000 on these devices, and "it occurs only when audio is encrypted with the same key as the video". But it has no sense because we use the same architecture on VOD and Live contents, and devices doesn't play live content, but VOD playbacks works properly.

Regards

[2019-05-14 11:43] ojw28 commented on #5850
@jefftinker - Are you aware of any performance regressions for L3 Widevine in P?

[2019-05-14 11:44] ojw28 commented on #5848
Closing due to lack of required information.

[2019-05-14 11:44] #5848 closed, assigned to ojw28

[2019-05-14 11:48] ojw28 commented on #5834
You can query the player for its duration and current playback position, and you can build your own UI to display one minus the other. So there's nothing stopping you from implementing this yourself. Doing so falls outside the scope of this issue tracker, however.

[2019-05-14 11:48] #5834 closed, assigned to ojw28

[2019-05-14 11:51] ojw28 commented on #5879
`DownloadManager`, `DownloadService` etc are intended for proper download use cases, where a `NoOpCacheEvictor` should be used. They are not designed for use with an evicting cache.

[2019-05-14 13:30] Odysseos opened #5887 "ANR in com.google.android.exoplayer2.PlayerMessage.blockUntilDelivered()"
### Issue description

I see ANR in Google Play Console on Xiaomi MiBox S (oneday), Android 8.1 (I use ExoPlayer r2.9.6, but this device is absent in ExoPlayer r2.10.0 `MediaCodecVideoRenderer.codecNeedsSetOutputSurfaceWorkaround()` too)

### Reproduction steps

Unknown

### Link to test content

Unknown

### Version of ExoPlayer being used

r2.9.6

### A full bug report captured from the device

[2019-05-14 13:34] tonihei commented on #5883
Thanks for doing a detailed research first. Based on your problem description, it seems you need indeed a custom `MediaSource`.

There are 2 main approaches to writing a `MediaSource`:
1. Extending `BaseMediaSource`  - This is for 'leaf' media source which handle everything themselves (including reading the data, setting up sample streams, etc.). For example `HlsMediaSource` or `ProgressiveMediaSo

[2019-05-14 14:01] emrsn-gabrieltrifa commented on #4800
I'm having the same issue :) Any solution for this?

[2019-05-14 15:05] AquilesCanta commented on #5873
- I think the content is malformed and we won't fix in ExoPlayer in the near future. The [spec](https://tools.ietf.org/html/rfc8216#section-6.2.4) says that variants should provide the same content.
- In order to fix in the library, we would have to download a segment to peek the timestamps and then re-select a segment to actually consume content. The added complexity is considerable.
- In order t

[2019-05-14 15:08] ojw28 commented on #5878
I don't see anything here that suggests a problem other than the server and/or network being extremely slow. Please explicitly address the question asked above:

Thanks!

[2019-05-14 15:24] ojw28 commented on #5882
Yes, I'm pretty sure this is because the S8 doesn't support High 10 profile. This is a limitation of the device (and most other older devices).

As to whether the player should figure this out rather than trying to play the stream: It seems that we don't do a profile check before starting playback because `Format.codecs` doesn't get populated when playing MKV or MP4 streams directly. We should tak

[2019-05-14 15:39] ALi-Moslehi commented on #5276
hi, i added

[code]

but not work.

Error: Static interface methods are only supported starting with Android N (--min-api 24):

[2019-05-14 16:42] makp9k commented on #5873
Thank you for your help! Interesting is that other players are able to consume this playlist without any issues. The problem I'm currently facing is that I don't quite understand where to get the program date time tag values from or how to simulate them. I tried to modify the playlist tracker so that it will align currently playing playlist and the loaded one to their ends, but this results in som

[2019-05-14 18:07] nightwolf738 commented on #5876
Update

Using OkHttp extension resolves the problem in `Sony E5553 Android 6.0, API 23`. I only changed my code from this:

[code]

to this:

[code]

We appreciate when other easy-to-fix bugs are resolved.

Thank you.

[2019-05-14 18:56] ixfd64 commented on #5884
Thanks for your response. After further investigation, I found that the issue appears to be caused by an incompatibility with Gradle. The error went away after I downgraded back to an earlier Gradle version.

For the record, later ExoPlayer versions don't seem to have this problem.

[2019-05-14 19:41] AndroidDeveloperLB commented on #5276
@ALi-Moslehi Try as such instead:

    compileOptions {
        sourceCompatibility = 1.8
        targetCompatibility = 1.8
    }

[2019-05-14 20:31] AquilesCanta commented on #5873
Actually, forget about the program date time, you just need to implement your own playlist tracking logic (tracking logic means assigning the correct start time to the playlists) using the knowledge you already possess about the playlists. The tracking logic in the default playlist tracker can be found [here](https://github.com/google/ExoPlayer/blob/44293e8f45fc62ff918001b4425c44d0ded5ffc9/library

[2019-05-15 00:01] CreateAnAccounts commented on #5882
S8 only doesn't support high 10 hardware-wise, right? It is possible to play high 10 content on various other android players.

[2019-05-15 02:37] wow5109 commented on #5864
@marcbaechinger
i email to telecom carrier , they change the CDN setting,
then solve my problem .
Thanks for reply.

[2019-05-15 02:52] Romantic-LiXuefeng opened #5888 "Question: How to skip the ad with our custom FixedAdsLoader, not using IMA extension"
### [REQUIRED] Question
I have implemented a custom FixedAdsLoader advised in the issue-4769 [https://github.com/google/ExoPlayer/issues/4769] to adapt our own ad server.  Now I need to add a product requirement. When the user is VIP, I want to add a skip button when playing ads, so that the user can skip the ad.  I want to know when user click the skip button, what the player need to do?

[2019-05-15 02:59] Romantic-LiXuefeng commented on #5888
I have searched the  `ImaAdsLoader`, has not found useful message, How the IMA skip a ad or a ad group?

,

[2019-05-15 03:04] EscapeArtist commented on #5714
Seems to do the trick for me too, thanks.

[2019-05-15 05:54] ZhangPeibin commented on #5878
Yeah, there has no problem with log or code .but my question is why demo play same url much fast than ours.Can we do something to make it play faster ?

### another question here :
**error url:**  http://video.stormorai.com/珠宝鉴赏/课时1-第1课 绪论.mp4
I open this url by PotPlayer, the total time is  10:35:35, but exoplayer get 16:35 ?
Can you check this url ?

Thanks a lot !

[2019-05-15 06:58] albinalias10 opened #5889 "DecoderInitializationException when playing DRM content"
**Issue description**
On certain devices that use OMX.qcom.video.decoder.avc decoder, on DRM content ONLY we receive the below error.

 **Reproduction steps**

- Initialise SimpleExoPlayer

- Prepare MediaSource with drm.

- Note, that in prepare step, we are NOT attaching SimpleExoplayerView to view hierarchy, and only doing so, after player state READY received.

- Get the crash, immediately aft

[2019-05-15 09:15] ojw28 commented on #5878
There must be some kind of difference between the demo app and your code if the demo app is able to load it so much faster. I think you'll have to debug this; debugging app specific code is outside the scope of this issue tracker.

[2019-05-15 09:15] #5878 closed, assigned to andrewlewis

[2019-05-15 09:20] #5864 closed, assigned to marcbaechinger

[2019-05-15 10:21] geeta4 opened #5890 "playernotifcation is playing sound and vibration while it is a silet notification"
playernotification manager is playing sound and vibration and showing popup on app while it is silent notification it shoul not do all these things. it should be in notification tray silently

[2019-05-15 10:27] ojw28 commented on #5837
This code doesn't actually do anything:
[code]
You need to actually set the built parameters back on the selector:
[code]

[2019-05-15 12:06] ojw28 commented on #5855
At the platform level the media framework has no concept of whether a stream being played is live or not. So it seems likely that something is different between the setup of your VOD and Live streams, other than the fact that one is VOD and the other is Live. If that were the only difference then they'd appear to be identical from the media framework's perspective.

There's not much we can do to h

[2019-05-15 12:10] ojw28 commented on #5853
As above, we already tried to reproduce with the stream provided, and did not encounter any issues. Please try playing the stream in the ExoPlayer demo app. If you can reproduce the problem there then please capture a full bug report with `adb bugreport` shortly after the glitches start to occur, and provide it to us. Thanks!

[2019-05-15 12:37] rk8339811 commented on #5829
@ojw28 Thanks for the answer. Sorry for the delay in replying. Just a request can you please provide an example on how to use `DefaultExtractorsFactory.setConstantBitrateSeekingEnabled` as I am really new and not experienced to figure it out myself. I have tried but could not figure out. This is the code I am using

[code]

[2019-05-15 12:41] ojw28 commented on #5829
You currently have this code for making your source:
[code]
You need to specify your own `DefaultExtractorsFactory` as part of that:
[code]

[2019-05-15 15:14] marcbaechinger commented on #5890
This is determined by the importance of the channel.

In case you are using the static method `createWithNotificationChannel` the channel is created with [`NotificationManager.IMPORTANCE_LOW`](https://developer.android.com/reference/android/app/NotificationManager#IMPORTANCE_LOW) which does not make any noise if I'm not mistaken.

[code]

If you create the channel yourself you should use a similar

[2019-05-15 15:14] #5890 closed, assigned to marcbaechinger

[2019-05-15 15:17] #5884 closed, assigned to marcbaechinger

[2019-05-15 16:31] andrewlewis commented on #5888
The custom `AdsLoader` implementation needs to mark the ad group as skipped ([like this](https://github.com/google/ExoPlayer/blob/0622afe/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L1197)) and pass the updated the ad playback state to the ads loader listener.

[2019-05-15 16:31] #5888 closed, assigned to andrewlewis

[2019-05-15 17:01] AndrazP opened #5891 "Decoder reuse in MediaSessionConnector"
### [REQUIRED] Searched documentation and issues
Recent [Improved decoder reuse in ExoPlayer](https://medium.com/google-exoplayer/improved-decoder-reuse-in-exoplayer-ef4c6d99591d) blog post explains how to make sure your app benefits from decoder reuse:

I noticed MediaSessionConnector.java calls [stopPlayerForPrepare(boolean playWhenReady) ](https://github.com/google/ExoPlayer/blob/44293e8f45fc62

[2019-05-15 17:06] ojw28 commented on #5891
Good question ;). I doubt there's a good reason... @marcbaechinger - Think we can safely remove the `stop()` call, and rename `stopPlayerForPrepare` to `setPlayWhenReady`? Or is there a reason those calls are there?

[2019-05-15 17:23] #5876 closed, assigned to ojw28

[2019-05-15 17:24] #5782 closed, assigned to andrewlewis

[2019-05-15 17:24] #5862 closed, assigned to marcbaechinger

[2019-05-15 17:44] rtx2080tix opened #5892 "can you help to make a proof of concept"
I am not trying to be annoying or anything by opening another issue and **really respect and appreciate the work done by software developers**. and is I said in my last post in #5877  I am just **asking for proof of concept**. I just want you to give me a response. and even you said NO I can understand that because you're busy. I mean you are developing a piece of software used by millions of user

[2019-05-15 18:03] ojw28 commented on #5892
This is outside the scope of this issue tracker, sorry.

[2019-05-15 18:03] #5892 closed, assigned to ojw28

[2019-05-15 18:25] geeta4 opened #5893 "exoplayer is not playing some time when play from notification using PlayerNotificationManager using custom action"
[code]

[2019-05-15 18:51] rtx2080tix commented on #5892
that is unfortunate but fine. I can understand why you want the issue tracker to be organised and to stay relevant and on topic. and to be honest I was expecting something like that because I was getting a bit out of the scope of this issue tracker. but I just want to give it a try. and finally, thank you for the response

[2019-05-15 18:58] #5868 closed, assigned to tonihei

[2019-05-15 18:59] #5821 closed, assigned to tonihei

[2019-05-15 19:33] swardharia commented on #5851
Hi @marcbaechinger ,

I tried to add the 'messageHandler' to my class but now it's giving out "**Player is accessed on the wrong thread**" exception and Logcat is overflowed with this error before it stops printing more logs.

I am trying to call createMessage() function whenever the start segment of media is loaded to send a message to player for tracking that media. I am creating this DemoThread

[2019-05-15 20:02] ojw28 commented on #5831
@tonihei - Can you think of any way that this could happen (in 2.9.4, if not 2.10.0)?

My suspicion would be that there's some path somewhere that ends up calling `onTimelineChanged` with an empty timeline and a reason other than `TIMELINE_CHANGE_REASON_RESET`. I couldn't find one though. If we're unsure, perhaps we could have `ImaAdsLoader.onTimelineChanged` treat the empty timeline the same as `

[2019-05-15 20:03] #5568 closed, assigned to AquilesCanta

[2019-05-15 20:18] ojw28 commented on #5808
Closing due to lack of information.

[2019-05-15 20:18] #5808 closed, assigned to AquilesCanta

[2019-05-15 20:18] ojw28 commented on #5806
Closing due to lack of required information.

[2019-05-15 20:18] #5806 closed, assigned to ojw28

[2019-05-15 20:47] ojw28 commented on #5885
We really need test content for this. Can you not just host a single sample file somewhere else, or just put it on Google Drive or similar and share the link with `dev.exoplayer@gmail.com`?

[2019-05-15 20:50] marcbaechinger commented on #5893
The stack trace indicates that the server refuses the connection when you try to connect to https://play.hubhopper.co/0e4cb6416bf107bd883ebbc48f633428.mp3.

I don't think it has to do with the notification. The custom action seems to work as it has triggered playback but the network connection is refused.

[2019-05-15 20:57] ojw28 commented on #2668
@tonihei - Reassigning because this touches on `Timeline` and `Player`. It's probably preferable to plumb `isLive` through `Timeline.Window` and having `Player.isCurrentWindowLive`, so that sources can potentially use additional information to control how `isLive` gets set. For example `ProgressiveMediaSource` should probably set to `isLive=false` if the response has a known content length, even i

[2019-05-15 21:03] marcbaechinger commented on #5700
Closing due to inactivity.

[2019-05-15 21:03] #5700 closed, assigned to marcbaechinger

[2019-05-15 21:03] ojw28 commented on #5849
Closing due to lack of follow-up.

[2019-05-15 21:03] #5849 closed, assigned to marcbaechinger

[2019-05-15 21:12] ojw28 commented on #5886
If the system kills your app you don't get any callback. The system will kill you if it needs to reclaim the resources you hold, so it doesn't make sense that it would leave you around for a bit longer whilst you do something in a callback.

You don't need to do anything special to handle this case. The platform will remove the notification for you at the time it kills the process.

[2019-05-15 21:12] #5886 closed, assigned to marcbaechinger

[2019-05-15 21:21] #4800 closed, assigned to ojw28

[2019-05-16 00:11] workspace commented on #5885
I'll send a guide to get token and json snippet via email. Thank you!

[2019-05-16 06:31] juanpef commented on #5855
Thank you for your answer,
Could this error be caused by buffer settings? Maybe ExoPlayer is trying to play live video before getting the encryption key? How can we change these adjusts on ExoPlayer Demo project?
We can we try to use SmoothStreaming + Widevine, because our platform supports it. But I would need to do some changes on ExoPlayer. How can I test this combination on ExoPlayer Demo?

Re

[2019-05-16 07:48] BROUDING opened #5896 "Allow transition to ended if all tracks except subtitle track have ended"
EXOPLAYER_VERSION=2.10.0

I'm testing with a video and 2 subtitles, and 1 subtitle's timeline is 3seconds longer than a video.

What happens now is, video is finished, but I don't get `COMPLETED` event until subtitle finish playing... and also "current time" keep updates and "video play time" didn't updated.

What I want to do is, I want to focus on Video play time and get the `COMPLETED` event wh

[2019-05-16 08:54] geeta4 opened #5897 "playing media from ui and pushed notification using Playernotificationmanager with customactionreciever when app is in background then player will work all time and notification action will work all time"
Playing media from activity and pushed notification using Playernotificationmanager with customactionreciever. When app is in background then player will work all time and notification action will work all time. Is there will be any issue with playing media from notification after any time. Do i need service to work notification interaction all time? and what to do if i want to remove notification

[2019-05-16 09:05] tonihei commented on #5891
Just to document the potential change in behavior after this change: A `PlaybackPreparer` which tries to start from a non-default start position may now fail if does not call `player.stop()` itself:
[code]
That is because this seek will be treated as a seek in the old media due to the missing stop operation. This may (or may not) cause unexpected effects for the start position in the new media eve

[2019-05-16 09:21] hemanth-sp opened #5898 "how to override playerNotificationManager to change icon on audio notification in exoplayer"
i just need to change the icon of the STOP action i am using exoplayerv2
what are the simple steps please give some idea i asked in [stack](https://stackoverflow.com/questions/56165021/how-to-override-playernotificationmanager-to-change-icon-on-audio-notification-i)

[2019-05-16 09:24] #5898 closed, assigned to nobody

[2019-05-16 09:24] ojw28 commented on #5855
It's very unlikely. The components that decide this kind of thing don't know whether the content is live or not.

This error occurs when we've completed the key request and loaded keys into the underlying platform, go to decrypt a sample, and the underlying platform says that the key needed for decryption is not present.

[2019-05-16 09:58] geeta4 opened #5899 "in which callback i should release exoplayer when my app is deleted from opened app tray"
in which callback i should release exoplayer when my app is deleted from opened app stack tray.
i need to play media if my app is in background but in opened app list . i have played from activity. so what is best way to play and release in this scenario. and i need to remove notification if my app is deleted from recently opened app tray?

[2019-05-16 09:58] tonihei commented on #5831
The problem seems to be caused by a Timeline update coming from the internal player with an empty Timeline, while ExoPlayerImpl has a non-empty Timeline.

The internal player sets the timeline in two places only: for updates coming from the MediaSource, or when resetting the internal state. The former can't possibly be an empty Timeline when coming from a HlsMediaSource. The latter is only called

[2019-05-16 10:36] ojw28 commented on #5899
I don't think you get a callback when the app is deleted from the app stack tray.

Please bear in mind we are a small team, and are unable to answer such a large volume of questions. Most of these questions are general Android development questions (i.e. they'd apply equally regardless of which media player you're using. Please direct such questions to StackOverflow. Thanks.

[2019-05-16 10:36] #5899 closed, assigned to ojw28

[2019-05-16 10:38] ojw28 commented on #5897
If you want to play media in the background then you should use a `Service`. If you only need foreground playback, you do not.

Please bear in mind we are a small team, and are unable to answer such a large volume of questions. Most of these questions are general Android development questions (i.e. they'd apply equally regardless of which media player you're using. Please direct such questions to

[2019-05-16 10:38] #5897 closed, assigned to ojw28

[2019-05-16 10:38] #5893 closed, assigned to marcbaechinger

[2019-05-16 10:42] juanpef commented on #5855
But we get Crypto key not available:

[code]

[2019-05-16 10:46] ojw28 commented on #5855
This is consistent with what I'm saying happens:

_Some_ keys have been loaded, but the platform thinks that it doesn't have the key that it needs.

[2019-05-16 10:50] ojw28 commented on #5891
As discussed, we need a slightly bigger change to correctly handle all cases. Reopening.

[2019-05-16 11:20] ojw28 commented on #5777
Closing due to lack of follow-up.

[2019-05-16 11:20] #5777 closed, assigned to ojw28

[2019-05-16 11:20] #5770 closed, assigned to ojw28

[2019-05-16 11:20] giladna commented on #5590
@ojw28  I face same exception on our live dash DRM stream
sending url and license in the exo gmail

the exception is occuring o the Demo app of v2.10 when switching bitrates

sending bug report as well

10x
Gilad

[2019-05-16 11:35] giladna commented on #5681
@marcbaechinger

sending media and bug report to exo gmail
having this issue reproduced on OnePlus device

{
    "meta": {
        "versionName": "1.4.1",
        "versionCode": 18,
        "timestamp": "2019-05-16T11:33:10Z"
    },
    "system": {
        "RELEASE": "9",
        "SDK_INT": 28,
        "BRAND": "OnePlus",
        "MODEL": "ONEPLUS A6013",
        "MANUFACTURER": "OnePlus",

[2019-05-16 12:16] amjadmasri commented on #5831
unfortunately we couldn't reproduce the bug, so we only have what Firebase  crashalytics gives us.
we don't reuse the media sources.
I will try and give you as much information about our use case and code as possible.

we use the following code to pause and resume playback

[code]

pause is called on the onPause lifecycle
and start is called on the onResume lifecycle
we also show an interstitial a

[2019-05-16 12:28] ojw28 commented on #5765
It's a bit of a hack, but you can do it like this:
[code]
In a future release we'll make it so you can set the buffered color as an attribute on `PlayerView`.

[2019-05-16 12:33] ojw28 commented on #5725
@tonihei - Is it possible your recent changes to `PlayerView` touch handling fixed this?

[2019-05-16 12:57] #5822 closed, assigned to tonihei

[2019-05-16 13:09] erdemguven commented on #5867
You need to create and chain two CacheDataSources:
- playbackCDS : reads from HttpDataSource and writes to the playback cache.
- downloadCDS: Read-only accesses the download cache. Uses playbackCDS as upstream DataSource.

When you read from downloadCDS if the data is in the download cache, it's read from the cache. If not, it's read from playbackCDS.

[2019-05-16 13:15] tonihei commented on #5725
Yes, I think that should be fixed because we no longer intercept TOUCH_DOWN events but use the standard click handling detection instead. See #5784.

[2019-05-16 13:36] tonihei commented on #5831
Thanks for all the information, I'll have a look again to see if I can find a potential source for the problem.

The other stack trace is definitely a bug, because a seek could always happen before we get the first timeline update.

[2019-05-16 14:03] juanpef commented on #5855
Thank you very much.

I'm going to test it with SmoothStreaming +Widevine, that is supported by our servers (We don't have Dash). How can I adapt the ExoPlayer demo code to get it?

Regards

[2019-05-16 14:50] tonihei commented on #5831
I still can't see a concrete reason why the original problem may have occurred, but I believe the problem may be fixed in 2.10 because we added more robustness to our listener notification system (e.g. always ensure correct order, never send updates after a listener has been removed).

The commit above also works around the problem should it still occur for some reason, so I think we can close thi

[2019-05-16 17:10] rishabh876 commented on #5867
Sounds exactly what I am looking for. Do we have documentation or a code sample for this? may be just a gist.

[2019-05-16 17:11] erdemguven commented on #5389
I investigated the issue. It looks like it isn't possible to use SurfaceView or TextureView for dragging.
You can get a bitmap easily if you useTextureView:
[code]

[2019-05-16 20:18] AndroidDeveloperLB commented on #5389
And then what?

[2019-05-16 20:19] #5389 closed, assigned to erdemguven

[2019-05-16 21:32] johnsim commented on #5855
Earlier in the thread https://github.com/google/ExoPlayer/issues/5855#issuecomment-492179782 it was suggested this occurs with SL3000 PlayReady using the same key for audio and video decryption. Is that correct? Have you tried using different keys for audio and video? It is generally a bad security practice to use the same key for both when you are trying to acheive a higher level of content prote

[2019-05-16 23:08] ojw28 commented on #5855
According to Widevine, SmoothStreaming+Widevine is not a thing. See https://github.com/google/ExoPlayer/issues/1622#issuecomment-233767777. We don't provide support for this case in ExoPlayer, as per our [supported formats page](https://exoplayer.dev/supported-formats.html). So moving to Widevine probably requires moving to DASH.

[2019-05-17 02:31] hafiz013 commented on #5863
Hi thank for reply, this [blog(https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea) is already out of dated since currently, exoplayer move to 2.9.6. by the way the demo app for the ima extension is really help. Thanks for sharing information. @marcbaechinger

[2019-05-17 02:34] hafiz013 opened #5900 "Do exoplayer support RSS?"
hi new here, may i know the exoplayer can support/ integrate with [RSS feeds.](https://www3.uol.com.br/xml/midiaindoor/economia.xml)?

Any info for sharing is really help. T.q

[2019-05-17 03:24] alfayedoficial opened #5901 "User Agent"
Question:
-----------------------
- There's way to change user agent ?
- There's way to hide user agent ?

[2019-05-17 03:39] T-10001 commented on #5725
@tonihei @ojw28
I subclassed `PlayerView` and overrid `onTouchEvent` with the changes in the [21b2a47](https://github.com/google/ExoPlayer/commit/21b2a471bb1580ef5e0d1ae5584a25dc8ca9d683) commit, namely:

[code]
Using the subclass, the problematic tap/scrolling behaviour is still the same.
Please see updated project https://github.com/s3433557/SwipeTester

[2019-05-17 05:53] dbrain opened #5902 "Playback begins but listener never receives `READY` state (IMA 3.11.2, 2.10.0)"
### [REQUIRED] Issue description
When using ExoPlayer 2.10.0 with the IMA extension (and a local dependency on IMA 3.11.2), sometimes the player will begin playback but never emit an `onPlayerStateChanged(.., READY)` event.
This seems to occur for content with unplayable ads. but I can not find a guaranteed way to replicate it.
This issue could not be reproduced on ExoPlayer 2.9.6 with IMA 3.10.9.

[2019-05-17 08:04] andrewlewis commented on #5901
See the documentation on [preparing the player](https://exoplayer.dev/hello-world.html#preparing-the-player) for an example of passing a user agent string to the `DefaultDataSourceFactory` constructor. I'm not sure what you mean by hiding the user agent, but you can set it to the string of your choice, which should be sufficient. If not please provide more details about what you're trying to do.

[2019-05-17 08:04] #5901 closed, assigned to andrewlewis

[2019-05-17 08:09] Jason239 opened #5903 "Playback with Security level 1 & HDCP"
I tried to play content with security level 1 and HDCP V1, but it does not work on some devices like Samsung S9+, Nexus 5.
Nexus 5 could not play at all.
But especially on S9+, it works well if the audio track was not encrypted and only the video track was encrypted.
Are these device-dependent issues?

The exoplayer version is 2.9.3
And the error log like below.
[code]

[2019-05-17 08:16] tonihei commented on #5725
Thanks for doing the verification! We'll need to take another look then.

[2019-05-17 08:44] andrewlewis commented on #5903
To clarify, is it the case that on both Nexus 5 and Samsung Galaxy S9+ you find that L1 DRM playback fails if the audio track is encrypted but succeeds if the audio track is not encrypted? I'm not sure about the level of support for audio encryption but perhaps @ojw28 can comment on this.

There may be more relevant logging before the snippet you provided, so please attach a full bug report. Captu

[2019-05-17 08:52] andrewlewis commented on #5900
We don't have plans for adding support for RSS feeds at the moment. I'm not sure it really makes sense as a player library feature anyway -- if there are playable streams referenced by an RSS feed presumably you could parse them in your app and set up the player without much difficulty.

Note: this seems rather different to supporting m3u playlists (#4066) as there may be entries in an RSS feed th

[2019-05-17 08:52] #5900 closed, assigned to andrewlewis

[2019-05-17 09:07] erdemguven commented on #5389
and then you can use the bitmap to draw the shadow.
Please see this document for how to draw a custom shadow:
https://developer.android.com/guide/topics/ui/drag-drop.html#StartDrag

[2019-05-17 09:07] marcbaechinger commented on #5863
Cool. Thanks for letting us know! I close for now. Please reopen if needed.

[2019-05-17 09:07] #5863 closed, assigned to marcbaechinger

[2019-05-17 09:23] szaboa commented on #5633
@ojw28, I would really appreciate if someone could take a look on this.

[2019-05-17 09:23] erdemguven commented on #5867
In ExoPlayer [demo app](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoApplication.java), you can replace [buildDataSourceFactory](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoApplication.java#L68) with this:
[code]
You can implement getPlaybackCache() similar

[2019-05-17 10:29] andrewlewis commented on #5889
Please provide a full bugreport captured using "adb bugreport". Output from "adb logcat" or a log snippet is NOT sufficient. Please attach the captured bug report as a file. If you don't wish to post it publicly, please submit the issue, then email the bug report to dev.exoplayer@gmail.com using a subject in the format "Issue #5889".

[2019-05-17 10:31] andrewlewis commented on #5889
Also, does the issue go away if you show the player view before preparing the player?

[2019-05-17 10:32] ojw28 commented on #5903
Are you using separate keys for audio and video? I don't think you should be configuring the license for audio to be L1 and to require HDCP, because there's no such thing as an L1 audio output path. If you're doing that, you most likely need to use a separate key for audio that only requires L3.

[2019-05-17 10:35] andrewlewis commented on #5887
The ANR information doesn't seem to reference the ExoPlayer playback thread. Were you able to reproduce the ANR yourself? Is any information about what the playback thread is doing visible in Play Console?