[2019-09-12 15:22] ojw28 commented on #6424
Are you forgetting to release previous player instances (by calling `Player.release`)? Please provide all of the information requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=).

[2019-09-12 15:23] ojw28 commented on #6422
This is not something we support as a feature internal to the player. As you've figured out, it's possible to implement it in application code. Marking as an enhancement, but it's unlikely we'll look at it any time soon.

[2019-09-12 15:26] ojw28 commented on #6423
Note: This question refers to the IO18 demo app [here](https://github.com/google/ExoPlayer/tree/io18/audio-app).

[2019-09-12 15:54] tonihei commented on #6284
So back to the original proposal:
- Switch down resolution in SEVERE and stop in CRITICAL and above.

[2019-09-12 16:03] natez0r commented on #4078
unfortunately, it's API 21.

[2019-09-12 16:50] tonihei commented on #6418
Thanks for reporting. We'll fix that.

[2019-09-12 18:16] abhishekredspace commented on #6422
Thanks a lot!!

[2019-09-13 01:01] #6327 closed, assigned to tonihei

[2019-09-13 01:01] #5946 closed, assigned to tonihei

[2019-09-13 01:01] #4123 closed, assigned to ojw28

[2019-09-13 01:01] #3927 closed, assigned to tonihei

[2019-09-13 03:58] arlimm318 opened #6426 "The video has not AUD in H.264 cannot play by exoplayer"
we have a video,has not AUD,  cannot play by exoplayer.
  I want to know how does this video figure out the end of the picture in h.264 . But I tried using other players, such as VLC and Android mediaplayer, to play video without AUD in h.264.They all play success.
  Why don't  exoplayer  support video like this.

[2019-09-13 08:05] marcbaechinger commented on #6423
You can have a static field in your service and expose the player instance. That's probably not a nice design but it's simple and works. It has also the advantage that you can use the ExoPlayer UI components in your activity.

As an alternative and a proper design approach for remotely accessing playback from various clients and potentially accross process boundaries, the service in the mentioned

[2019-09-13 08:41] #6418 closed, assigned to tonihei

[2019-09-13 10:20] AquilesCanta commented on #6426
See [the FAQ section](https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play). If this doesn't solve your issue, please fill all the information required by the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-09-13 10:20] #6426 closed, assigned to AquilesCanta

[2019-09-13 12:03] ojw28 commented on #4078
It looks like they're still doing 3.12.X releases, and that the fix was back-ported to 3.12.5 ([release notes](https://github.com/square/okhttp/blob/master/docs/changelog_3x.md#version-3125), [details of 3.12.X releases](https://cashapp.github.io/2019-02-05/okhttp-3-13-requires-android-5). So I think we can just upgrade to 3.12.5 and mark this as fixed. Do you agree?

[2019-09-13 13:01] kim-vde commented on #5839
@noamtamim Those prefixes have been introduced in Android P.

[2019-09-13 14:29] natez0r commented on #4078
Sounds good to me

On Fri, Sep 13, 2019, 5:04 AM Oliver Woodman <notifications@github.com>
wrote:

[2019-09-13 15:50] jjimenez0611 commented on #6423
@marcbaechinger thanks for the explanation...
Yes, I have a Binder in the service and singleton of the player, in this way I access to the player. :)
I think use a Observer maybe with RXjava to get some events..
I try to use the MedaiControllerCompat but that was unsuccessful. Thanks a lot

[2019-09-13 16:24] TheJohnBowers opened #6427 "HLS + FMP4 + WV + 3 encryption keys fails to playback with decryption error."
### [REQUIRED] Issue description
HLS + Widevine + FMP4 playback fails with "com.google.android.exoplayer2.ExoPlaybackException: android.media.MediaCodec$CryptoException: Error decrypting data: requested key has not been loaded" error when attempting to playback content secured with 3 different keys. (Audio + SD + HD)
The same configuration works find when using one key for Audio + SD, and another

[2019-09-13 20:07] PranjalDesai opened #6428 "Play a specific portion of a video but display the whole video?"
## Searched documentation and issues
I have looked at ClippingMediaSource.

## Question
I want to play a video from url. The whole video shows on the seek bar and player but it starts playing from a specific point and pauses at a specific point. The user can press play and continue watching the rest of the video. How can I achieve that?

[2019-09-13 20:35] Kwasow commented on #3953
I'm having a similar issue and I believe santoni just doesn't support 1080p video. I can't find this in your error logs, but mine shows:

`D/MediaCodecInfo(15947): NoSupport [sizeAndRate.support, 1920x1080x59.9998893737793] [OMX.qcom.video.decoder.avc, video/avc] [santoni, Redmi 4X, Xiaomi, 28]`

[2019-09-14 05:56] arlimm318 commented on #6426
Thanks. I added a  flagDefaultTsPayloadReaderFactory.FLAG_DETECT_ACCESS_UNITS to the class TsExtractor,The  Problem solved.

my code:
    private static TsExtractor createTsExtractor(
      Format format, List<Format> muxedCaptionFormats, TimestampAdjuster timestampAdjuster) {
.....................
.....................
.....................
    return new TsExtractor(
        TsExtractor.MODE_HLS

[2019-09-14 10:45] rubengees opened #6429 "Migrate to IMA SDK 3.13.1+"
### [REQUIRED] Issue description
The IMA extension seems to be incompatible with the latest interactivemedia library Version. Every time an ad is attempted to play, the Activity crashes.

### [REQUIRED] Reproduction steps
Update `com.google.ads.interactivemedia.v3:interactivemedia` to at least version `3.13.1` and try to load an ad.

### [REQUIRED] Link to test content
Any VAST link, for example o

[2019-09-14 11:42] root-ansh commented on #6409
Can i have an update on this? I would be very much grateful.

[2019-09-14 11:50] root-ansh commented on #6409
Can i have an update on this? I would be very much grateful.
@ojw28 , @andrewlewis

[2019-09-14 19:23] ojw28 commented on #6421
When streaming MPEG-TS, we'd generally expect timestamps to increase over time, except in the case where they roll over due to overflow of the 33 bit MPEG-TS timestamp field. For the stream provided there's an unexpected discontinuity in the timestamps that's unrelated to overflow of the 33 bit field, which I assume happens at the point where the video loops.

I guess we could look at handling arb

[2019-09-14 19:23] #6421 closed, assigned to ojw28

[2019-09-14 20:45] ojw28 commented on #6412
The device (which I think is the emulator?) doesn't advertise support for H264 high profile, which is the profile of all the variant streams in the content provided. ExoPlayer correctly evaluates that according to the advertised support, none of the streams are playable. It then tries to play the lowest quality one regardless just in case it works.

I wouldn't put too much weight on how the emulat

[2019-09-14 20:45] #6412 closed, assigned to ojw28

[2019-09-14 20:52] ojw28 commented on #6420
I could be wrong, but I think nearly all Wear devices use the same one or two chipsets. Since it's the chipset that normally determines whether there are hardware decoders, I wouldn't expect much variation across the different devices.

[2019-09-14 20:52] #6420 closed, assigned to ojw28

[2019-09-14 20:52] roundsmapp commented on #4924
@andrewlewis I'll do this upgrade and test it.

[2019-09-14 20:54] ojw28 commented on #6381
We've ordered a Vivo Z1 Pro device to try and reproduce this, but it's going to take a while for it to be delivered. We'll update this issue once we've received it and tried to reproduce.

[2019-09-14 20:59] ojw28 commented on #6372
Setting Java 8 looks correct. I'm not really sure what's going on in the post above. It's so poorly formatted it's extremely difficult to read. Please could you clean it up and fix the formatting so that it's a bit more readable?

For us to investigate this further I think we'll probably need concrete reproduction steps. Is it possible for you to make a small demo project that reproduces the probl

[2019-09-14 21:00] #6378 closed, assigned to ojw28

[2019-09-14 21:04] ojw28 commented on #6266
I'm assuming based on the "EDIT" part of the post above that this issue is resolved. If it's not but the remaining problems are unrelated to providing the customizable icons, please file a separate issue.

Please do feel free to contribute documentation when you have a chance!

[2019-09-14 21:04] #6266 closed, assigned to ojw28

[2019-09-14 21:07] ojw28 commented on #6375
Closing due to lack of a clear description of the issue.

[2019-09-14 21:07] #6375 closed, assigned to andrewlewis

[2019-09-14 21:07] #6174 closed, assigned to ojw28

[2019-09-14 21:10] ojw28 commented on #5952
Marking as low priority because DASH-IF are also skeptical of this feature and whether there's a valid use case for it.

[2019-09-14 21:13] ojw28 commented on #1787
Support was added in https://github.com/google/ExoPlayer/pull/6286.

[2019-09-14 21:13] #1787 closed, assigned to ojw28

[2019-09-14 21:24] ojw28 commented on #2907
I think you're right.  This can be easily avoided by including RESOLUTION attributes in the HLS master playlist, which were not included in this sample (the sample is no longer available, but you can tell from the logs).

When RESOLUTION attributes are included in the master playlist, ExoPlayer will use them to avoid selecting variants that exceed the capabilities of the device. Inclusion of RESOL

[2019-09-14 21:24] #2907 closed, assigned to ojw28

[2019-09-14 21:28] ojw28 commented on #5291
Marking as "need more info" as I don't think there's anything actionable for us to do here at this point.

[2019-09-14 21:51] ojw28 commented on #5988
The case of having an incomplete MP4 seems very niche. I don't think it's worth spending time on, sorry.

[2019-09-14 21:51] #5988 closed, assigned to AquilesCanta

[2019-09-14 22:05] ojw28 commented on #6283
@AquilesCanta - Looks like there's an email now (search for just "6283")

[2019-09-14 22:15] ojw28 commented on #6344
I suspect `provideKeyResponse` is very slow on the affected devices, that decryption is blocked for the duration of the call because the trusted execution environment is single threaded, and that this results in the audio buffer underflowing, causing the audible interruption.

@rrfrias - Could you suggest some next steps for this? Do we have device certification tests that try and ensure `provideK

[2019-09-14 22:19] ojw28 commented on #4130
Marking as a duplicate of https://github.com/google/ExoPlayer/issues/3969

[2019-09-14 22:19] #4130 closed, assigned to AquilesCanta

[2019-09-15 01:00] #6326 closed, assigned to tonihei

[2019-09-15 04:38] matanmarciano opened #6430 "Play Multiple ExoPlayer's inside RecyclerView (Inside ViewPager) causes MediaCodec Exception"
I am trying to play multiple (10) ExoPlayer's inside RecyclerView inside ViewPager (Running on Samsung Galaxy Note9) and after swiping right and left enough times i got exceptions and the players(that throws the exceptions) stopping play.

You can see a dedicated simple project with that issue here: https://github.com/matanmarciano/MultiplePlayers.git

My Expected result is 1. Swiping left, right,

[2019-09-15 09:06] pawaom opened #6431 "Change ShuffleOrder to only iterator-like methods to allow custom orders with repeated elements"
Can we detect The PlayerNotificationManager/MediaSessionCompat  previous/next/play/pause button clicks

 I want to implement a custom ShuffleMode , the   player.setShuffleModeEnabled(true); sets random songs to play , but I want to implement my own custom logic

for the normal player I am not using exo_playback_control_view, but a custom control view , from which i call custom methods for next and

[2019-09-15 09:35] nomisRev commented on #6266
Hi, @ojw28 it was indeed resolved. I did not close it yet because I was hoping for a response in relation to my wakelock question.

I've had an amazing experience with ExoPlayer V2 so far, thanks to all the amazing contributors for this project! 👏 👏 👏

I am still planning to contribute to the documentation since I've found ExoPlayer to have a lot of hidden gems, and amazing features that I feel de

[2019-09-15 10:07] ojw28 commented on #6266
Re the WakeLock, I'm not sure exactly, but I think we plan to add automatic acquisition pretty soon (e.g. within the next month) as tracked by https://github.com/google/ExoPlayer/issues/5846.

[2019-09-15 11:08] nomisRev commented on #6266
Thanks for the quick reply.

That's great, I already shared my solution in the issue. It's working very well for me at the moment, and it already works based on existing callbacks provided by `ExoPlayer`.

[2019-09-15 19:52] AlienAsRoger opened #6432 "Companion ads don't show when targeting API 29"
### [REQUIRED] Use case description
Provide and example with Companion Ad integration.

Current code have
[code]
But there is no implementation example. Having Companion Ad integration would help us debug and troubleshoot any issues when it doesn't work on our clients.

### Proposed solution
Currently we have in our client code this part
[code]

Recent update to `targetSdk` 29 made it impossible t

[2019-09-16 05:17] AlphaCircle commented on #6350
Hello Marcbaechinger
I think I resolve this issue and need to close it. The reason lies in the process of making video clip.

Thanks for your help.

[2019-09-16 05:17] #6350 closed, assigned to marcbaechinger

[2019-09-16 05:28] turastory commented on #6339
If you're saying where to put this information, then it should be [README](https://github.com/google/ExoPlayer#locally), of course.

Other stuff are not quite different than Groovy's so those are not a big deal, but translating  `gradle.ext` into Kotlin can be hard.

I suggest put this information below the `Locally` section in README.

[2019-09-16 08:58] NicolasGodfather opened #6433 "ExoPlayerImplInternal: Stop failed. java.lang.IllegalStateException - on API Level 22 and below - on REAL DEVICES"
### Issue description
Hi guys! I have a problem with **HLS** streams on devices **Android 22 Api and below** for cameras with high definition **2688x1520 and bitrate 5812** - stream can't play. I use ExoPlayer **version 2.9.6** (also testing with 2.10.4). On other devices and other cameras - all ok. I attached short and long bug report. Please help me to resolve this issue.

[code]
### Reproductio

[2019-09-16 09:05] marcbaechinger commented on #6431
The `ConcatenatingMediaSource` has a constructor which lets you inject your own `ShuffleOrder` object. I think this would be the best solution for implementing your own custom logic. With this you don't have to detect clicks for every UI component. They just work as before and your custom `ShuffleOrder` can define the logic.

Have you already considered this approach?

[2019-09-16 09:08] yudikarma commented on #867
anyone have answer how to implement exoplayer in recyclerview with data from network and adapter use PagedListAdapter ??????

[2019-09-16 09:12] tonihei commented on #6428
You can call `player.seekTo` before `player.prepare` to ensure the video starts from the desired position.

You can send a message that gets triggered at this point and pauses the player:
[code]

That just works with the method above because the video is paused in the normal way.

[2019-09-16 09:15] marcbaechinger commented on #6430
Each ExoPlayer instance acquires a Codec instance of the framework. The number of available instances depends on the device model on which the app is running. So the number of ExoPlayer instances you can create at the same time is limited by that number of codec instances.

You need to design your ViewPager in a way that it only uses a limited number of ExoPlayer instances and reuses these instanc

[2019-09-16 09:25] matanmarciano commented on #6430
Thank you for your comment but it is not the point,
please go ahead my code and see hot it work.
1. I am already designed it to create only one instance of exoplayer for each item.
2. 10 ExoPlayers working well if i am not swiping the view pager. So My Galaxt Note9 Hardware is good enough for 10 ExoPlayers.

The issue is only after swiping (~20-30 swipings)

[2019-09-16 10:08] marcbaechinger commented on #6430
Can you reproduce this on another device as well? When I try on a Pixel it works fine.

As you mention, the ViewHolders are recreated and this makes the player be attached to the PlayerView again. I think this behaviour is correct though. I wonder why attaching the player multiple times should result in that exception.

Can you create a full bugreport right after this happens and upload it here?

[2019-09-16 10:27] kgrevehagen commented on #6337
If #4133 does what I think it does, this will no longer be an issue.

Can you verify(and is it guaranteed) that `mediaDrmCallback.executeKeyRequest()` will be called very close to `mediaSource.prepare()` even though we e.g. pause right after it is prepared? If this is the case, my token will never expire by that time, and there is no need for special handling around that, which simplifies implemen

[2019-09-16 10:43] matanmarciano commented on #6430
I dont have Pixel device but I have reproduce it on multiple devices. I believe in your Pixel device it can be reproduced. You just need to swipe (fast) right until the last page (Total 4 pages in this viewpager) and immediately swipe left to first page(when exoplayers located) and so on..dont stop..you will get the exception for sure.

About bug report:
https://www.transfernow.net/11anz406080v

[2019-09-16 10:59] curlyfrie commented on #6416
Cool thx. For now it works for me to use a custom meta data provider (or null) and set the duration to -1

Ok I understand. I could work with that.. although I think resetting, overriding the metadata if no `mediaMetadataProvider` or in the default metadata provider if no active item is available might no be the most intuitive implementation (instead of leaving the in my case already set metadata

[2019-09-16 11:55] pawaom commented on #6431
thanks for the reply, I want to know this part,

When we use,` ShuffleOrder ` the thing is with shuffle does not have the REPEAT_MODE_ALL kind of option, it just has the REPEAT_MODE_OFF kind of option

Like when we should have this option as well, Say like when the first Cycle is over we should have  an option to start an new cycle,

example we have  songs a,b,c,d,e,f,g now we have `ShuffleOrder`

[2019-09-16 14:08] ezranbayantemur commented on #6168
same +1

[2019-09-16 14:19] tonihei commented on #6431
In addition to `ShuffleOrder`, you can also use `player.setRepeatMode` to repeat the shuffled playlist. The player then loops the shuffled playlist as it is.

If you'd like to change the shuffled order after looping, you can listen to `onPositionDiscontinuity` to see when the player loops to the first item in the list, and then set a new `ShuffleOrder` by calling `ConcatenatingMediaSource.setShuff

[2019-09-16 14:31] pawaom commented on #6431
this might help thanks, will give it a try, hope there was an easier way to manage multiple  `shuffled playlists`

this gets me back to my previous question I want to detect the previous/next  clicks at least from the  PlayerNotificationManager/MediaSessionCompat

[2019-09-16 14:44] tonihei commented on #6431
I think you need to listen to `onPositionDiscontinuity` to detect that.

[2019-09-16 15:02] pawaom commented on #6431
thanks @tonihei  can `manage multiple shuffled playlists` be a feature request

[2019-09-16 15:16] tonihei commented on #6431
I think it's quite a niche use case, but it should probably be a `ShuffleOrder` that works more like an iterator than a random access array. Because as soon as you allow the concept of having the same item multiple times in an potentially infinite order, you can't query by index anymore. For example, getNextIndex(5) can't be answered in a meaningful way because it's unclear to which repetition thi

[2019-09-16 15:35] PranjalDesai commented on #6428
That works for a single video but if you have multiple videos being passed as ConcatenatingMediaSource than how do you handle starting point for each video?

[2019-09-16 15:45] tonihei commented on #6428
That's unfortunately not yet supported but tracked by #6373.

If you need such a feature urgently, you can make it (mostly) work by writing a `MediaSource` wrapper that returns a `Timeline` wrapper that sets your start position as `windowDefaultStartPositionUs`.

[2019-09-16 16:00] PranjalDesai commented on #6428
Awesome thanks!

[2019-09-16 17:43] ojw28 commented on #6433
Please see [the bottom of this page](https://exoplayer.dev/supported-devices.html) for guidance on emulators.

[2019-09-16 17:43] #6433 closed, assigned to ojw28

[2019-09-16 20:16] NicolasGodfather commented on #6433
I'm sorry, but my problem occurs on real devices from real users! I send bug report from emulator because I haven't real device with api 22 and below.

[2019-09-16 20:46] AquilesCanta commented on #6283
In the e-mail you mention two streams:

In the first one you say that you managed to make it work (please avoid the unnecessary workarounds by following what the demo app does), plus you don't include the stream link.

And in the second one, the manifest explicitly declares no closed captions:

`#EXT-X-STREAM-INF:CODECS="mp4a.40.2,avc1.77.21",  [...]  ,CLOSED-CAPTIONS=NONE`

Can you clarify what t

[2019-09-16 21:18] jjfster commented on #6283
I was just pointing out the workaround for the direct Akamai streams was that they were not sending the TEXT mime type but the CEA-608 mime type to help you with debugging.  Your default code just checks for TEXT.  This workaround works for me, so forget it.

The uStream URL provides multiple episodes.  Not all have captions but the latest one does have captions:

#EXT-X-STREAM-INF:CODECS="mp4a.40

[2019-09-16 22:04] ojw28 commented on #6433
It's probably just because the video you're trying to play exceeds the capabilities of the device. I'm not sure how realistic it is to expect potentially 4 year old hardware to decode 2688x1520 video. Some logs from a real device would help to confirm whether that's the problem. The failure mode is probably different than with the emulator.

[2019-09-16 23:09] AquilesCanta commented on #6283
Ok.

Do keep in mind that ExoPlayer provides support for closed captions out of the box. And the HLS sample streams in our demo app include 608 closed captions, and work as expected without any changes in the library or special handling from the app. It's worth making sure you are not doing any unnecessary manual management, or using any "workarounds". If you provide a bit more context, we may be

[2019-09-16 23:09] #6283 closed, assigned to AquilesCanta

[2019-09-16 23:13] jjfster commented on #6283
I did send another email with some more detail just out of curiosity.

Not sure if you received it.

[2019-09-16 23:15] jjfster commented on #6283
Sent the last email with more detail to the following address btw:

dev.exoplayer@gmail.com <mailto:dev.exoplayer@gmail.com>

There are several in this trail so wasn’t sure.

Thanks for your help. Here is the email again if you would have the time to look at it:

I was just pointing out the workaround for the direct Akamai streams was that they were not sending the TEXT mime type but the CEA-608 m

[2019-09-17 01:37] adam-hurwitz commented on #867
I haven't experimented with this strategy yet, but the way I would approach this is managing the ExoPlayer instance in a Foreground Service that passes the ExoPlayer view back to the Fragment/Activity that is initializing ExoPlayer. Then, update the corresponding RecyclerView cell based on the user interaction.

The service will manage the ExoPlayer lifecycle, while you will need to manage refresh

[2019-09-17 02:08] #6204 closed, assigned to tonihei

[2019-09-17 06:41] hugomillwood commented on #5750
I would also really like to see this.

[2019-09-17 06:44] rrfrias commented on #6344
This is possible. We have made some changes in android 10 to to avoid blocking the decrypt thread while a provideKeyResponse is being processed.

@ferglezt can you please (email dev.exoplayer@gmail.com)
(a) let us know which devices (make/model) and OS builds/releases you experience the problems with. If there are those that do not exhibit the problem, do let us know that as well.
(b) can you shar

[2019-09-17 10:26] AquilesCanta commented on #6283
Hi, I deleted your comment because I think you are accidentally sharing streams you don't want to share.

[2019-09-17 12:00] GouravSna commented on #6429
I am also facing this issue. I tried upgrading extension-IMA in ExoPlayer then, i am facing the following error, where it throws 402 timeout error and continues with the content playback.

`2019-09-17 17:28:47.603 10076-10076/com.kaltura.playkitdemo I/chromium: [INFO:CONSOLE(936)] " [  9.905s] [ima.vast.VideoAdEventTracker] dispatching event mediaLoadTimeout", source: https://imasdk.googleapis.com

[2019-09-17 12:02] GouravSna commented on #6429
For me activity does not crash but the ads are not playing properly.

[2019-09-17 13:06] Yourbadman opened #6434 "MP4 file with empty avcC box fails to play"
[code]

[2019-09-17 13:12] Yourbadman commented on #6434
[mp4dump.txt](https://github.com/google/ExoPlayer/files/3621424/mp4dump.txt)

[2019-09-17 13:33] jjfster commented on #6283
Yes, you need to send a http request header, key: referer, value: www.nasa.gov <http://www.nasa.gov/>

[2019-09-17 14:42] ojw28 commented on #6429
The 3.13.1 release of the IMA SDK made some breaking changes to their API. We need to update ExoPlayer's IMA extension for the two to be compatible. Until we do that (tracked by this issue), you should not attempt to update to a newer version of IMA.

[2019-09-17 14:42] jjfster commented on #6283
Just an FYI: The non-modified Exoplayer demo (with the referer header set) is getting the captions right now for Akamai public.

The uStream stream does not display them.

{
  "name": "NASA TV USTREAM TS",
  "uri": "https://hls.ums.ustream.tv/playlist/directhls/channel/6540154/playlist.m3u8?sgn=31d0dfb847c358d4cedcd2256dc4e1c42a7f13a7"
},
{
  "name": "NASA TV AKAMAI PUBLIC",
  "uri": "https://nasa

[2019-09-17 14:44] newandroidboy88 opened #6435 "Exoplayer was not playing the video sometimes"
### [REQUIRED] Content description
Sometimes Exoplayer was not playing the 4k video

### [REQUIRED] Link to test content
Use any 4K Video by own.
Take any 4K Video to play in the exoplayer along with Webview to be loaded with  HTML content with 4k video in the same screen

### [REQUIRED] Version of ExoPlayer being used
2.9.4

### [REQUIRED] Device(s) and version(s) of Android being used
Android 6

[2019-09-17 14:47] GouravSna commented on #6429
Thanks @ojw28

[2019-09-17 17:43] juechemparathy commented on #6362
@marcbaechinger  - Seems the issue is being addressed with 2.10.4 with the decoder updates. The above test stream will be taken down by end of this week(09/21/2019 ). Thanks.

[2019-09-17 18:57] AquilesCanta commented on #6283
ExoPlayer doesn't expose any closed captions if the master playlist explicitly says there are none. I think this is working as intended. You might find these useful

- [HLS playback in ExoPlayer](https://medium.com/google-exoplayer/hls-playback-in-exoplayer-a33959a47be7)
- [Faster HLS preparation](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6)

If you want to work around

[2019-09-17 18:59] AquilesCanta commented on #6434
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-09-17 18:59] jjfster commented on #6283
So it just ignores any subtitles altogether?

[2019-09-17 19:00] AquilesCanta commented on #6435
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-09-17 19:02] AquilesCanta commented on #6283
No, subtitles are exposed any time that an EXT-X-MEDIA:TYPE=SUBTITLES is in the master playlist. Closed captions are ignored if the master playlist includes CLOSED-CAPTIONS=NONE.

[2019-09-17 19:05] jjfster commented on #6283
Bummer.

So I should tell the stream providers to add the EXT-X-MEDIA:TYPE=SUBTITLES, or just make sure CLOSED_CAPTIONS are defined, so that it will work in ExoPlayer (without the injection).

They will probably tell me to modify the source code since it works on every other player.  Oh well.

[2019-09-17 19:33] kmrinmoy07 opened #6437 "Exoplayer Multithreading issue"
I have already looked in GIthub, Stackoverflow and many more.

I am developing an android application of streaming music with the help of exoplayer2 where the app gets data from server.

The application sometimes gets this crash `java.lang.IndexOutOfBoundsException` when I start the player.
You can get my error log [here](https://drive.google.com/open?id=1lX7kXdRITzTHR55xz6wqipqnw4N43NM5)

My prob

[2019-09-18 02:13] Yourbadman commented on #6434
### [REQUIRED] Content description
can't play mp4 video.

![image](https://user-images.githubusercontent.com/10590406/65101842-e98f1d80-d9fb-11e9-8dc8-87c93e94a4bf.png)

### [REQUIRED] Link to test content
 Will send mp4 video attached to dev.exoplayer@gmail.com

### [REQUIRED] Version of ExoPlayer being used
com.google.android.exoplayer:exoplayer-core:2.8.2

### [REQUIRED] Device(s) and version(s

[2019-09-18 05:58] dariush-fathie opened #6438 "A SQLiteConnection object for database was leaked! Please fix ..."
I used `DatabaseProvider` for creating an instance of `SimpleCache` like below :

`cache = SimpleCache(File(context.cacheDir, "media"), evictor, exoPlayerDatabaseProvider)`

And the `ExoPlayerDatabaseProvider` is :

[code]

But I think it's on ExoPlayer to open or close connections . anyway , anyone can help me where|when i most close connections ?

[2019-09-18 06:12] ojw28 commented on #6438
Your implementation shouldn't be creating a new `SQLiteDatabase` whenever `getReadableDatabase` and `getWritableDatabase` are called. As described by [the documentation](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/database/DatabaseProvider.html), there are very specific expected behaviors around caching that your implementation needs to adhere to. The required behavior is the

[2019-09-18 06:46] cuiwei78 opened #6439 "Playing TS file problem"
Before filing a content issue:
------------------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our supported formats page, which can be found at
  https://exoplayer.dev/supported-formats.html.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.dev/listening-to-player-ev

[2019-09-18 07:45] TarifHatoum opened #6440 "API 'variantOutput.getPackageLibrary()' is obsolete"
### [REQUIRED] Issue description

When updating gradle to androidx the following issue appear:
API 'variantOutput.getPackageLibrary()' is obsolete and has been replaced with 'variant.getPackageLibraryProvider()'.

**My gradle:**
[code]
### [REQUIRED] A full bug report captured from the device
[code]
### [REQUIRED] Version of ExoPlayer being used
version 2.5.1

[2019-09-18 08:14] stetro commented on #6294
Hi, we now have our release distributed to clients and it turns out that these ANRs still happen during app start on the above shown devicelist in a similar frequency. In conclusion to this I assume that the workaround does not have any effect. :disappointed:

We now investigate further if this ANR happens in combination of Exoplayer and a weird view-lifecycle on devices running EMUI 9. But this a

[2019-09-18 08:16] cuiwei78 commented on #6439
More info, the audio inside TS is mp2, does not ExoPlayer support mp2 audio?

[2019-09-18 08:22] stetro commented on #6331
As described in  https://github.com/google/ExoPlayer/issues/6294#issuecomment-532574060 this issue does not belong to #6294 and should be handled separately. It actually does not effect our product and it was just a finding during the ANR investigration. We could reproduce this cycling issue on `HWCLT` and `HWCOL` with https://github.com/stetro/exoplayer-test - (the only Huawai devices we currentl

[2019-09-18 08:37] hvisser commented on #5006
~I've been investigating the issues on our end further, and it appears that the IMA SDK sends out two  `LOADED` events for the same ad group, with the number of ads in the group increasing. This yields an error and prevents further ads in that group from playing as they are ignored. Not sure if this is related to this issue or if that needs a new one, I can provide a test ad tag if required too.~

[2019-09-18 08:54] newandroidboy88 commented on #6435
What field do you require from the issue.

[2019-09-18 13:10] ojw28 commented on #6440
Duplicate of https://github.com/google/ExoPlayer/issues/6016 and already fixed in 2.10.2 and above.

[2019-09-18 17:19] #6416 closed, assigned to marcbaechinger

[2019-09-18 19:20] noamtamim commented on #4078
@ojw28 Sadly, this error still happens (with the current tip of dev-v2-r2.10.5 branch, commit 2fca01b). I'll attach a test app soon.
Tested in two different methods:
1. Latest ExoPlayer release (comes with okhttp 3.12.1) + explicitly specify okhttp 3.12.5 in build.gradle
2. Use 2fca01b via JitPack. **It seems that there's a audio/video sync issue with this build**, but I don't think it's related t

[2019-09-18 19:49] noamtamim commented on #4078
Unzip and open in Android Studio:
[ExoOkHttp-4078.zip](https://github.com/google/ExoPlayer/files/3628054/ExoOkHttp-4078.zip)

The current setup uses method 2 above, edit build.gradle to change to method 1.

Reproduction steps:
1. Build, install, run the app in Android Studio
2. Wait until the video starts playing.
3. Quickly and repeatedly tap the FF button. Many times, until the seek bar almost r

[2019-09-18 19:56] noamtamim commented on #4078
As for the audio/video sync issue I mentioned before - sometimes (about 1 in 4 attempts), when I start tapping the FF button, the music continues to play even when the video is buffering (due to seeks). When that happens, even when I stop seeking and let it play, I hear the original audio playing from the beginning **and** the "current" audio. Tapping pause pauses the video and audio, but the "ori

[2019-09-18 20:25] noamtamim commented on #4078
An alternative way to observe the http/2 timeout issue -- using the ExoPlayer demo app.
Open DemoApplication.java and modify `buildHttpDataSourceFactory()` to the following:

[code]

From the HLS section, play "Apple 4x3 basic stream". The issue reproduces when repeatedly and quickly tapping the FF button, as explained above.

[2019-09-18 22:52] ojw28 commented on #4078
Thanks for the updates. You should probably post your sample and reproduction steps on the OkHttp issue, since this remains an OkHttp problem (although you may want to fix the bug below first :)). It's not something we're likely to be able to fix on our side.

I think it's because your demo app isn't hooking the player into the activity lifecycle properly. It creates and starts a player in `onCrea

[2019-09-19 02:39] handhand opened #6441 "UnrecognizedInputFormatException for mp4 url"
The official demo failed to play a URL of mp4 file (the URL is https://c4.biketo.com/article_video/20190917/3neEzzhTBx.mp4).
Chrome and other players like MXPlayer can play that URL successfully.
And the demo can play other similar URLs successfully (like https://c4.biketo.com/article_video/20190917/4jsDf5pEGC.mp4)

The log printed the following message:

[code]

Thanks for the help!

[2019-09-19 03:29] ojw28 commented on #6441
The file is malformed because its end is cut off. If you play it in Chrome you'll see playback end prematurely at ~35s as a result. It's not really valid just to cut the end off an MP4.

[2019-09-19 05:59] #6438 closed, assigned to ojw28

[2019-09-19 06:45] shanosh commented on #5730
@kvillnv we're facing the same issue in our app. are you able to share with us how you managed to solve this? thanks :)

[2019-09-19 06:45] noamtamim commented on #4078
@ojw28 thanks, you're right about the bug. It was late at night (past 11pm in Israel :-)), I was too lazy to handle Android methods in a test app, and I missed the obvious. I wanted to make sure you're not missing anything so I jumped the gun on this report.

[2019-09-19 09:17] VictorPurMar opened #6443 "HLS (.m3u8) ParserException in v. 2.9.6 and above"
### Content description

The main problem is the Player gets stuck with some streams (hls). We produce great quantity of content and mostly works perfect, but there are some cases where Exoplayer launches an internal Exception, and stop playing.

It start happen, or we notice when we migrate from the 2.9.4 to the 2.10.[0-4] versions. We were forced to rollback the version.

The Exception is launch

[2019-09-19 09:52] Romantic-LiXuefeng opened #6444 "Using Tag EXT-X-DISCONTINUITY to insert a mid ad, not playing correctly."
### [REQUIRED] Issue description &&  Reproduction steps
Step1. Using the `Shaka-Packager` convert mp4 to HLS stream with ad cues at 60s.
[code]
 Step2: Because of the `Shaka-Packager` not supporting to mux audio and video into the same ts container. So I demux the ts format mid ad into separate auido ts and video ts.

Step3: Replace #EXT-X-PLACEMENT-OPPORTUNITY with EXT-X-DISCONTINUITY and Ad segm

[2019-09-19 10:25] NicolasGodfather commented on #6433
I updated issue, seems problem with large size of buffer.

[2019-09-19 12:50] SharanKumarReddyKambham commented on #6357
Hi, @marcbaechinger @ojw28  can you look into this once, i am stuck in this issue from a long time and waiting for your reply.

[2019-09-19 13:50] gelbertgel opened #6445 "Not playing video by exoPlayer"
I have exoPlayer last version (2.10.4) and I applied to all exoPlayer documentation (https://exoplayer.dev/) but video is not playing.

    private void playVideo(Uri uri, boolean autoPlay){

           this.playerView = ViewUtil.findById(this, R.id.video_view);
           this.exoControls = new PlayerControlView(getContext());

           player = ExoPlayerFactory.newSimpleInstance(getContext());

[2019-09-19 14:06] jakoss opened #6446 "Listen to MediaSession callbacks when using MediaSessionConnector"
### [REQUIRED] Searched documentation and issues
I searched information online and poked around `MediaSessionConnector` code.

My issue is similar to https://github.com/google/ExoPlayer/issues/6057, but it's solution doesn't really work for me (explanation for that is in question itself).

### [REQUIRED] Question
I need to report to FirebaseAnalytics events such as Play, Pause, Next and Previous (

[2019-09-19 14:06] Romantic-LiXuefeng commented on #6444
#https://github.com/google/shaka-packager/issues/650

[2019-09-19 14:25] tonihei commented on #5011
We published our [design doc](https://docs.google.com/document/d/1z9qwuP7ff9sf3DZboXnhEF9hzW3Ng5rfJVqlGn8N38k) on our webpage - open for comments!

[2019-09-19 14:25] tonihei commented on #4904
We published our [design doc](https://docs.google.com/document/d/1z9qwuP7ff9sf3DZboXnhEF9hzW3Ng5rfJVqlGn8N38k) on our webpage - open for comments!

[2019-09-19 15:15] RezaMortazavi opened #6447 "Parsing Vast Tags With ImaAds extension."
I am showing vast ads with Ima extension. i need to parse the vast xml to load some custom views on the player. how can i get the tags inside the VAST file?

[2019-09-19 15:17] tonihei commented on #5155
No longer an issue since playlist handling is part of the player API.

[2019-09-19 15:17] #5155 closed, assigned to tonihei

[2019-09-19 15:17] RezaMortazavi commented on #6447
I am playing vast ads with Ima extension. i need to parse the vast xml to load some custom views on the player. how can i get the tags inside the VAST file?

[2019-09-19 15:18] tonihei commented on #4915
setShuffleOrder is now part of player API and can be called at any time.

[2019-09-19 15:18] #4915 closed, assigned to marcbaechinger

[2019-09-19 15:27] AquilesCanta commented on #6432
@andrewlewis, could you look into this?

[2019-09-19 15:45] AquilesCanta commented on #6435
All of them.

Mainly important: sample media and bugreport.

[2019-09-19 15:47] AquilesCanta commented on #6437
I am sorry, but we cannot spend resources debugging third party apps. If you have any evidence pointing at this being an ExoPlayer issue, please provide reproduction steps, plus all items requested in the issue template, and we will look into this.

[2019-09-19 15:47] #6437 closed, assigned to AquilesCanta

[2019-09-19 15:53] AquilesCanta commented on #6439
Next time you file an issue, please provide everything requested in the issue template. You are missing a bugreport.

ExoPlayer supports any codecs available in the device. Seems to me this is a duplicate of #3076. You might want to consider using the [ffmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) to support missing audio codecs.

[2019-09-19 15:53] #6439 closed, assigned to nobody

[2019-09-19 15:53] tonihei commented on #6203
The player now has extra methods to query the state and the media session bug is fixed as well.

[2019-09-19 19:15] matheusbrandao opened #6448 "Is it possible to download PDF files with CacheDataSourceFactory?"
For example, I have an application that caches audios and videos for offline studies, and would like to use the "same logic" for PDF files. It's possible?

[2019-09-20 01:01] #6345 closed, assigned to marcbaechinger

[2019-09-20 01:01] #6295 closed, assigned to ojw28

[2019-09-20 05:49] TarifHatoum commented on #6440
hi, i dont want to change the exoplayer to 2.10.2. is there anything to do with the gradle to fix it?
since i added the below:
[code]
the warning still appears

thanks

[2019-09-20 07:53] Surendra7878 opened #6449 "Support for custom UrlRequest.Callback in CronetDataSource"
### [REQUIRED] Use case description
I like to have my custom UrlRequest.Callback class so that I can monitor and log information of network request, failures, etc. But [CronetDataSource](https://github.com/google/ExoPlayer/blob/release-v2/extensions/cronet/src/main/java/com/google/android/exoplayer2/ext/cronet/CronetDataSource.java) is not providing me that option as it uses it's own implementatio

[2019-09-20 09:10] Romantic-LiXuefeng commented on #6444
I have played the steam with Safari browser, the playback is well.

[2019-09-20 10:30] tonihei commented on #5920
`PlaybackStatsListener` will be part of the next major release to track analytics events for all playlist items separately.

[2019-09-20 10:30] #5920 closed, assigned to tonihei

[2019-09-20 10:35] tonihei commented on #5749
This is auto-enabled now and also be set triggered manually by using `setPreferredTextLanguageAndRoleFlagsToCaptioningManagerSettings`.

[2019-09-20 10:35] #5749 closed, assigned to tonihei

[2019-09-20 11:41] steveford-obs commented on #6411
Sorry for the delay in updating this ticket. I now have an environment in which I can try things, so I've been verifying the problem was reproducible, and I now have some logs and more info.

The following is using a modified version of FileDataSource that returns C.LENGTH_UNSET for open() and is using a newInputStream for the file itself.

What I'm seeing is that until the read() of the data sour

[2019-09-20 12:16] AquilesCanta commented on #6444
A fix will be pushed soon, and a reference will appear in this thread. Thanks for reporting!

[2019-09-20 15:01] andrewlewis commented on #2147
Apparently there is a limitation in the IEC 61937 implementation that high bitrate formats are not supported [internal: b/128866205]. So to address this fully we'd need that to be fixed in addition to allowing apps to query HDMI EDID audio descriptors.

[2019-09-20 15:33] ojw28 commented on #6440
As with most projects, the way we fix things is through releasing new versions. If you don't want to upgrade to a new version containing the fixes you need, then it's really up to you to work out how to back-port them. This is not something we have resources to assist with, sorry!

[2019-09-20 16:04] SemihGk opened #6450 "ArrayIndexOutOfBoundsException when reading a segment: possible root causes?"
### [REQUIRED]
My question is about how to investigate an exception which is thrown in Exoplayer and I searched similar exceptions that are reported before. However, I could not find a quite similar one.

### [REQUIRED] Question
I see some crash reports on production and we are not able to reproduce the issue. Also, the crash rate is quite low. This is the stack trace:

[code]

It looks like Exopl

[2019-09-20 16:40] ojw28 commented on #6411
Did you mean to attach the modified `FileDataSource`, and ideally the test file you're using as well, so that we can reproduce? We need concrete reproduction steps to investigate the issue.

[2019-09-20 16:49] steveford-obs commented on #6411
I can share the modified DataSource, but the data file is very large and, as implied by the topic, it isn't a fixed size, it grows as time goes on. Is there any way to do this privately?

[2019-09-20 17:02] ojw28 commented on #6411
You can email `dev.exoplayer@gmail.com`.

Given this is part of the reproduction steps, the fact the file grows over time doesn't see relevant. You just need to provide a sample file that's larger than a limit with which we can reproduce the problem (30 seconds of media would be more than enough).

[2019-09-20 17:12] ojw28 commented on #6203
This will be part of the 2.10.5 release.

[2019-09-20 18:12] AquilesCanta commented on #6445
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-09-20 18:13] AquilesCanta commented on #6446
@marcbaechinger, mind having a look?

[2019-09-20 18:25] davibe commented on #6345
@marcbaechinger it does not freeze just the video. The entire app becomes unresponsive and after a while it crashes. Next week I see if I can get my hands on the device and create a report

[2019-09-20 19:33] #6444 closed, assigned to AquilesCanta

[2019-09-20 19:35] AquilesCanta commented on #6447
@andrewlewis would you mind answering this?

[2019-09-21 00:26] ojw28 commented on #6434
Marking as bad media (because it is), and also as a bug (for if the intention is to work around it).

[2019-09-21 04:45] gb103 commented on #6393
@google-oss-bot @tonihei This issue has been resolved and it's wrong at my side to assume that it is skipping the video. Because of some code logic, video (with 4 clips in concatenateMediaSource) is getting restarted, which usually happening when it is in progress of playing 3rd clip, which give impression to me that is skipping the clip at fixed time. Thanks for your support.

[2019-09-21 05:25] #6393 closed, assigned to tonihei

[2019-09-21 06:53] dhanapal20 opened #6451 "How to support CE-608 in Exoplayer"
Hi
I want to support CE-608 and CE-708 subtitles from MPG2-TS
Could you provide me sample code to enable subtitle along with A/V tracks.

Based on previous answered issues, I used below code of exo player start but unable to decode subtitles
-----------------------------------------------------------------------------------------------
[code]

------------------------------------------------------

[2019-09-21 11:58] RezaMortazavi commented on #6447
Anyone?

[2019-09-21 13:29] sachinharne opened #6452 "Internet Connection Failure autoplay"
Exo player is not reconnecting to network and plays videos automatically, even after reconnect when I press play button this also not working.
Exo player version 2.10.4

[2019-09-21 14:10] andrewlewis commented on #6447
I don't think the IMA SDK provides a way to get the contents of the ad tag XML. You'd probably need to load and parse the ad tag yourself.

For what it's worth, the IMA SDK does expose some ad metadata in the `Ad` instance passed to the `AdEventListener` for the LOADED event. You can supply one of these listeners when building the `ImaAdsLoader`. I'm not sure if this includes the information you n

[2019-09-21 14:10] #6447 closed, assigned to andrewlewis

[2019-09-21 15:44] andrewlewis commented on #6452
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-09-21 18:30] muz786 opened #6453 "Play from source which is still downloading"
Hi,

I wanted to avoid the bottleneck to wait 4 5 seconds before a video starts to stream using the URL on devices with slower internet connection.
To solve the problem, I started downloading the video in advance on app load. On video screen I gave the path to the local video file which is still downloading but it does not play and give the error EOF exception.To summarize the video cannot play un

[2019-09-22 01:00] #6358 closed, assigned to marcbaechinger

[2019-09-22 12:19] natario1 opened #6454 "Can't use Surface if it was used before"
### [REQUIRED] Searched documentation and issues
Searched pretty much everywhere, but I wouldn't expect to find info about this on ExoPlayer website. However I hope I might get some hints about this issue by asking here. I'm not sure if ExoPlayer itself could do something to improve this.

### [REQUIRED] Question
I'm trying to use my own Surface as ExoPlayer output and it works just fine:

[code]

[2019-09-22 12:29] natario1 commented on #6454
I have filled the two [REQUIRED] headers... Please let me know if I can add more information.

[2019-09-22 12:34] aazam-nouri opened #6455 "How to show multi subtitle and multi audio list"
How can I show multi subtitle and multi audio list and let the user switch between subtitles or audios?

[2019-09-22 19:14] andrewlewis commented on #6454
I'm not certain but the [information in this stack overflow answer](https://stackoverflow.com/questions/21526989/native-window-api-connect-returned-an-error-invalid-argument-22) looks right to me and may help.

[2019-09-22 19:14] #6454 closed, assigned to andrewlewis

[2019-09-22 21:30] andrewlewis commented on #6409
If you want to change the ad tag, currently you'd need to create a new `ImaAdsLoader` instance and re-prepare the player with a new source. That will interrupt playback, though, so it's probably better to make a VMAP ad tag that has all the ad breaks you need in it. Is that possible? Or if you're trying to achieve something else could you describe it in a bit more detail? Thanks.

`ImaAdsLoader.Bu

[2019-09-22 21:43] andrewlewis commented on #6415
If the output format from the mapping is staying the same (including the same number of channels) you can just keep a reference to your audio processor when you create it, and interact with it from your app. You will need to make sure you synchronize access to its dynamic configuration because ExoPlayer will use the processor on its internal playback thread. Note: the audio track buffer is downstr

[2019-09-22 21:43] #6415 closed, assigned to andrewlewis

[2019-09-22 21:51] andrewlewis commented on #6425
In 2.10.3 the access [here](https://github.com/google/ExoPlayer/blob/r2.10.3/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L1186) is throwing as there don't appear to be any ad groups, yet the player thinks it's playing an ad. Do you have any clues about what might be triggering this? Can you share a sample ad tag where this issue was seen (with dev.exoplayer

[2019-09-22 21:53] andrewlewis commented on #6432
The code from your comment looks right: it should work to call `imaAdsLoader.getAdDisplayContainer().setCompanionSlots(slots);` to set the slots you've instantiated.

[2019-09-22 22:22] andrewlewis commented on #6405
This does indeed sound like it might be useful, but I don't think we will have time to look into it soon. You might want to experiment with calling `AdsManager.discardAdBreak()` but there is probably going to be some extra complexity in updating state in `ImaAdsLoader` when doing this (depending what callbacks IMA makes). I will mark this as a low-priority enhancement for now, to investigate wheth

[2019-09-22 22:24] andrewlewis commented on #5856
@emerging-coders We can't really provide support on AdMob here, but as far as I know it does actually provide a destroy method (see [this page](https://developers.google.com/admob/android/rewarded-video)).

[2019-09-22 22:27] andrewlewis commented on #6401
Have you reported this issue to Xioami? I don't think there's much we can do here unless you see the issue on other devices.

[2019-09-22 22:29] andrewlewis commented on #6382
If you think it's a bug in ExoPlayer's widgets please could you provide a minimal sample project so we can reproduce the issue? Otherwise, I'm afraid we don't really have resources to debug issues with custom layouts. Thanks.

[2019-09-23 06:09] pawaom opened #6456 "Can we set a default start index for ShuffleOrder"
We can create a custom ShuffleOrder but how can we set a default start index

I have 9 songs, a,b,c,d,e,f,g,h,i, I want to set a ShuffleOrder  of , c,a,b,d,g,f,h,i,e ,

The current player status is RepeatAll, and the current song being played is, e, that is , index of 4,

now when the user selects Shuffle, the player can shuffle using the  ShuffleOrder  , how can we set the next song to start play

[2019-09-23 06:31] jakoss commented on #6203
I tested the new 2.10.5 release and well - it is subjectively worse than it was before.

In attached video i highlighted issues i have with it:
- In notification one progress is properly paused, but the upper one isn't. It seems like MediaSession expects proper state update, not only a playback speed change
- When paused, `mediaController.playbackState.playbackSpeed` value is 0.0. Is it really nec

[2019-09-23 07:10] ojw28 commented on #6203
I don't think the problematic one is related to `MediaSession`. @tonihei - I think [this condition](https://github.com/google/ExoPlayer/blob/r2.10.5/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L1071) needs updating to use `isPlaying`. We'll need to hook into the new event as well. We should also never use the chronometer if playback speed is anything ot

[2019-09-23 07:42] tfcporciuncula commented on #5993
Turns out there's a big downside that I missed: if, for some reason, we run that reflection code while the service is running, we'll get a crash when the service is being destroyed:

[code]

This is just the `onDestroy()` implementation of the [DownloadService](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadService.java#

[2019-09-23 08:01] hsahnv opened #6457 "DefaultAudioSink$Configuration.getDefaultBufferSize() IllegalStateException"
My app is a HLS streaming player.
Below exceptions have increased significantly, since 2.10.X. (Now using 2.10.4)
Most of them are occurred on Android 4.X.X.

How can I avoid them?
At that time my app was updated to use the Android App Bundle. Could AAB be related to the exception?

--------------------
[code]

[2019-09-23 09:38] tonihei commented on #6203
Yes indeed. There are some more usages in our code base that should use isPlaying instead of the previous method of determining "is playing". Will update accordingly.

That's actually working as intended. See the documentation [here](https://developer.android.com/reference/android/support/v4/media/session/PlaybackStateCompat#getPlaybackSpeed()) that explicitly says that this method returns 0 when

[2019-09-23 09:43] icbaker commented on #6455
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Specifically it would be useful to know whether you are using the ExoPlayer [UI components](https://exoplayer.dev/ui-components.html).

[2019-09-23 09:52] icbaker commented on #6457
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

In particular it would be useful to have a bug report and some test media that reproduces this issue.

[2019-09-23 10:06] tonihei commented on #6455
Please also have a look at our demo app, which already provides a way to select audio and subtitles.

[2019-09-23 10:31] tonihei commented on #6456
You can create a new ShuffleOrder with a custom ordering using the constructor that takes an `int[]`. That allows you to configure the order in any way you like. To make the player use this shuffle order, you can then set it in `ConcatenatingMediaSource.setShuffleOrder`.

[2019-09-23 10:31] icbaker commented on #6451
I think we need more info about how you're wiring the player up to actually output to the UI.

* Are you using `PlayerView` from our [UI Components](https://exoplayer.dev/ui-components.html)?
* You say the app is "unable to decode subtitles" - does this mean the subtitles just aren't being rendered? Or you're actually able to observe that the decoding in particular is failing?
* Can you share the

[2019-09-23 10:38] tonihei commented on #6453
Downloading content to a file and playing it at the same time doesn't work because the player doesn't know that the file is incomplete and may easily read faster than the download is progressing. So even if the metadata of the file is at the beginning, you man run into EOF exceptions.

Instead, you should use ExoPlayer's download classes to ensure the data is written to a cache ExoPlayer can under

[2019-09-23 10:56] Flyktsodan commented on #6203
Nice! good job guys and thanks for fixing it so quickly.

[2019-09-23 11:12] tonihei commented on #6448
The downloader for progressive files (like the one you'd use for an mp4 file) is not making any assumptions about the file contents. So, yes, downloading the PDF file into the ExoPlayer cache would work.

The question is - how do you plan to use it afterwards? The cache is build for playback and the only sensible way to read the contents of the file is to use a `CacheDataSource`. So unless you hav

[2019-09-23 13:08] #6445 closed, assigned to AquilesCanta

[2019-09-23 13:10] tipoc123 commented on #5853
Do you plan to fix this issue?

[2019-09-23 13:42] #6456 closed, assigned to tonihei

[2019-09-23 13:44] kgrevehagen opened #6459 "Audio with only one sample keeps player in infinite READY state"
### [REQUIRED] Issue description
When playing clear lead on DRM content, the player stops at "randomly" places close to the encrypted content(usually within 1 sec to where it should have stopped). Pressing play again will let it play for about 100ms to 1sec. Doing this 3-5 times will eventually get it to the end and playback will stop for good.

It should play everything it has in the first go, st

[2019-09-23 13:48] icbaker commented on #6450
I'm unable to repro either with the content provided.

However it seems like the control flow using the sample content doesn't go through the lines in the stack trace. Specifically, `outputSampleEncryptionData()` returns early on the sample content because `encryptionBox == null`. Whereas the stack trace seems to come from this line further down in `outputSampleEncryptionData()`:

[code]

So it mi

[2019-09-23 15:06] icbaker commented on #6459
Thanks for the detailed repro instructions!

For posterity (and the benefit of anyone else who might come along) the repro instructions don't work after 2.10.5 (i.e. on dev-v2 branch currently) due to some changes around DRM handling.

A new step 1.5 needs to be added:

1.5. Force `playClearSamplesWithoutKeys` to `true` in `DecryptableSampleQueueReader` [constructor](https://github.com/google/ExoP

[2019-09-23 16:28] satyres commented on #5853
Hi?
I hope futur version will fix it.
please if you have time , please give it a try here is a link for [RadioDroid](https://github.com/segler-alex/RadioDroid)
 , just change in the gradle the last version of Exoplayer
i don't know really what happened in the exoplayer core .
but i hope they will be able to fix , to get the last version
Regards

[2019-09-23 16:30] satyres commented on #5853
I do have the same issue even in the last version of Exoplayer
when [RadioDroid](https://github.com/segler-alex/RadioDroid)
i wonder what did happen from the 2.9.6
please fix it
regards

[2019-09-23 18:11] SemihGk commented on #6450
First of all, thank you very much for your time and I really appreciate your comment.

As for the content, please accept my apologies. I should have elaborated more about the content. At this case, failed segments are clear. Basically, we have an encrypted stream and the stream switches to a clear content when an ad break starts. It looks like this specific exception is only thrown for the clear s

[2019-09-23 18:29] matheusbrandao commented on #6448
Hey man.

That is exactly the point. I saw that it was possible to download, but did not know how to consume the content.

But thanks to your tip, I was able to do it with `DataSourceInputStream`. Thank you very much.

[2019-09-23 20:16] rajeshghosh1978 commented on #5935
I have been trying to reproduce this issue from a couple of weeks and finally, I am able to reproduce this by enabling Charles. What I found this time is a bit different. Due to some Okhttp/Network interruption, Exoplayer ended up with a CodecException. Which means this is not a straight forward CodecException. So instead of stoping the playback, when retried the playback it worked for me.

Though

[2019-09-23 22:38] greyski opened #6460 "Is there an API that returns the overall watch duration? (excludes time spent buffering)"
### [REQUIRED] Searched documentation and issues
Yes, I didn't find an API in ExoPlayer that returns this value.

### [REQUIRED] Question
We're working on logging metrics for our videos across both Android and iOS and found we couldn't find an ExoPlayer API that paralleled iOS in regards to tracking the watched duration. This watched duration value returns the video watch time of the user and auto

[2019-09-23 23:32] sonahovhannisyan opened #6461 "How to start exoplayer in landscape mode?"
Is there a way to start ExoPlayer in landscape mode without loosing rotation functionality ?

[2019-09-24 02:28] JulienArzul opened #6462 "CastPlayer - STATE_ENDED never called in onPlayerStateChanged callback"
### [REQUIRED] Issue description
When using CastPlayer with a EventListener attached, when a media reaches the end, the `onPlayerStateChanged` callback is always called with STATE_IDLE instead of STATE_ENDED as expected (this is the behaviour of `SimpleExoPlayer`).

I've had a look at the code and this is because the RemoteMediaClient of the Cast SDK returns `PLAYER_STATE_IDLE` when a media is fin

[2019-09-24 03:45] yudikarma commented on #867
thanks @droidwave  your code realy work in my app.
but, i have some problem

so i use your recyclerview for playvideo in recyclerview. the problem is when i call notifyitemchange(position) for update some item in videoviewholder.  the video is pause state, but the audio keep playing.
how to make that not pause and keep continue when notifyitemchange(video position) is called ??. please help

[2019-09-24 04:25] yudikarma commented on #867
thank you @droidwave .  Your code works very well in my application.  but.  there is a slight problem.
so.  I use your exoplayerrecyclerview to play videos on recyclerview, the problem is when I call the notifyitemchange (position) function to update an item on videoViewHolder.  the video paused,  but the audio still runs in the background.  How to make it not stop and keep video play running when

[2019-09-24 05:53] pmjsankar commented on #6429
Same issue happens for me as well. Trust, we will get an update for IMA SDK soon.

[2019-09-24 05:55] ArcherEmiya05 opened #6463 "Getting 403 response by playing HLS using link"
### [REQUIRED] Issue description
I am using this great library for so long and it works properly not until I tried to play this HLS from this url : https://ul.cdn946.net:8443/hls/dftsbx86z8qhvbg.m3u8?s=PI81iBx6Vhd63S9hRs-9iw&e=1569323618 but it works with VLC player or using online HLS tester. On app at first I get SSL handshake error saying Trust anchor for certification path not found, according

[2019-09-24 06:01] SharanKumarReddyKambham opened #6464 "Does Exoplayer V2 supports HLS widevine DRM encrypted Multisegmented Transport stream?"
**Searched documentation and issues**
https://github.com/google/ExoPlayer/issues/4021

 **Question**

I am unable to play widevine encrypted HLS stream, which is a multisegmented TS stream
Does Exoplayer V2 support HLS widevine DRM encrypted Multisegmented Transport stream?

**Version Used**

Exoplayer 2.10.0

[2019-09-24 06:10] droidwave commented on #867
when you notifyitemchange some item, I will be refresh, so you have to manage the state of the player. Give me a few days time I'm simplifying this solution.

[2019-09-24 06:18] mitab86 opened #6465 "MediaDrmCallback override method not called."
I am using DefaultDrmSessionManager and passing a MediaDrmCallback to its parameter. The Drm content is playing fine in API 24 but could not play on API 28. Also after logging the override methods, I found out that `executeProvisionRequest` was not called on API 24 and `executeKeyRequest`  was not called on API 28. Due to which I was not able to fetch `License Url `  which depends upon payload ins

[2019-09-24 07:20] yudikarma commented on #867
big thanks @droidwave iam waiting for your update... iam realy have no idea for fix it.

[2019-09-24 07:24] emilsob opened #6466 "How can i set tag on MediaSource created by DownloadHelper?"
### Searched documentation and issues
[Docs](https://exoplayer.dev/downloading-media.html)
Offline playback related issues
MediaSource related issues

### Question
How can I set tag on media source created by `DownloadHelper` utility class? I can easily achieve this by using `setTag` on `XMediaSource.Factory`, but i cannot find a similar way of doing this when using helper mentioned earlier.

Than

[2019-09-24 08:07] TarifHatoum commented on #6440
Hi;
Does this warning means that after 2019 the library will not work ?

regards

[2019-09-24 08:19] tonihei commented on #6466
That's unfortunately not possible. The `DownloadHelper.createMediaSource` method is meant as a convenience method for the basic use case. If you need more advanced control (like setting a tag), you can just create the `MediaSource` on your own. The only important thing you need to do is to call `setStreamKeys(downloadRequest.streamKeys)` on the `MediaSource.Factory` to ensure that only the downloa

[2019-09-24 08:19] #6448 closed, assigned to tonihei

[2019-09-24 08:21] tonihei commented on #6460
We'll add an `PlaybackStatsListener` in our next major release (2.11) that will give you all the analytics stats you can wish for. That includes the totalPlayTime, i.e. all the time the player spent actively playing (neither rebuffering nor paused). Would that solve your issue?

[2019-09-24 09:23] icbaker commented on #6463
If the stream authentication/certificate isn't correctly configured, I don't think it's a bug that ExoPlayer doesn't play it. I'm able to repro and get a net::ERR_CERT_AUTHORITY_INVALID error.

What does this mean precisely? Did you comment out part of the ExoPlayer code responsible for SSL somehow? Or is it referring to a change you made to the device settings somehow?

Changing this to a questio

[2019-09-24 09:32] icbaker commented on #6461
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Are you using the ExoPlayer [UI components](https://exoplayer.dev/ui-components.html)?

[2019-09-24 09:41] emilsob commented on #6466
Thanks a lot. This solves my issue, this part in particular: `setStreamKeys(downloadRequest.streamKeys)`

[2019-09-24 09:41] #6466 closed, assigned to tonihei

[2019-09-24 09:52] AquilesCanta commented on #6462
Duplicate of #3969.

[2019-09-24 09:52] #6462 closed, assigned to AquilesCanta

[2019-09-24 09:55] AquilesCanta commented on #6464
DRM-wise, we only support full sample encryption in Transport Stream. CDMs (Widevine, PlayReady, etc) are not supported. Please track #4021 for support for widevine in TS.

[2019-09-24 09:55] #6464 closed, assigned to AquilesCanta

[2019-09-24 11:06] AquilesCanta commented on #6434
I think that the spec ISO/IEC 14496-15 forbids the avcC box to be empty. Note that other players may  support the file but we cannot aim to support all malformed media out there, unfortunately.

If you have evidence suggesting an empty avcc box is ok, please post it here and we will review this issue.

[2019-09-24 11:55] ArcherEmiya05 commented on #6463
I just called this line of code to avoid the certification issue.

[code]

But getting 403 response afterwards.

The sample streaming link above has **query/parameters** this is also what I get from Inspect Element **Network** tab in Chrome that shows also .ts and chunks that has **query/parameters** too and I am pretty sure that is what stopping the Exoplayer to play the HLS video, I tried anothe

[2019-09-24 11:58] ArcherEmiya05 commented on #6463
Probably will help : https://github.com/google/ExoPlayer/issues/6065

[2019-09-24 12:44] kgrevehagen commented on #6459
Thanks for the quick reply.
For future reference, I reproduced it in the sample app on dev-v2 branch  with **adding** your step, not **replacing** it. Just to be clear on that.

To me, it seems to be pretty similar as to your findings. It still happens, but at a smaller scale. That means I still get the same weird behavior, because it is still playable after onPlayerError is called.

So my answer

[2019-09-24 12:51] icbaker commented on #6463
I think you should fix the certificate problem with your stream rather than trying to disable SSL checking - if once that's resolved you're still seeing problems we can try and understand what's going wrong.

Note that 'unsafe' implementations of TrustManager (that try and bypass SSL validation) are detected by the Play Store and will block your app from being published: https://support.google.com

[2019-09-24 15:19] ojw28 commented on #6440
All versions should continue to work fine when used as gradle dependencies.

For using the project as source in Android Studio, more recent versions will continue to work. I'm not sure about older versions. As above, if you don't want to upgrade then it's up to you to figure this out and back-port any necessary changes.

[2019-09-24 15:19] #6440 closed, assigned to ojw28

[2019-09-24 15:34] ojw28 commented on #6461
I'm not sure at all whether it's the best way, but I suspect you can achieve this with a combination of `Activity.setRequestedOrientation` and [OrientationEventListener](https://developer.android.com/reference/android/view/OrientationEventListener.html).

This doesn't seem like an ExoPlayer specific issue; I think the same question could apply to an `Activity` containing any other type of content

[2019-09-24 16:49] marcbaechinger commented on #6446
When you are using the PlayerView, PlayerNotificationManager and MediaSessionConnector there are three ways a user can issue player commands:

**PlayerControlView**: You said you solved this already. Probably by using `playerControlView.setControlDispatcher(controlDispatcher)` which allows you to intercept the clicks, add an event to you analytics pipeline and then delegate the command to the play

[2019-09-24 16:52] #6362 closed, assigned to marcbaechinger

[2019-09-24 16:53] #6423 closed, assigned to marcbaechinger

[2019-09-24 17:25] greyski commented on #6460
That sounds like exactly what we need. Thanks @tonihei, looking forward to the release.

[2019-09-25 00:01] JulienArzul commented on #6462
Duplicate of itself? 😕

[2019-09-25 01:00] #5681 closed, assigned to giladna

[2019-09-25 01:01] #4588 closed, assigned to andrewlewis

[2019-09-25 01:50] hsahnv commented on #6457
Sorry. It seems to be a specific content encoding issue. Thanks.

[2019-09-25 01:50] #6457 closed, assigned to andrewlewis

[2019-09-25 04:44] hermasyp commented on #3750
I'm waiting for this feature... I Hope it will release as soon as possible. because in playlist mode , we have requirement every episode has different ads.

[2019-09-25 07:09] jakoss commented on #6446
Thanks, `dispatchSetPlayWhenReady` seems to be working great for us

[2019-09-25 07:18] soorajdevs opened #6468 "Reading mmaped buffer in JNI without using fast message queue"
Hi Everyone,

I have a device which generate video and audio data.
We have implemented a custom data source for Exoplayer to read the AV data.
Now, we are reading the data from kernel buffer to fast message queue.
Then, we are copying it from FMQ to JNI (java buffer).
This inturn is read in to player's buffer, when the player performs a read.
But, we want to improve it's performance.

We have impl

[2019-09-25 08:14] tonihei commented on #6446
Just to follow-up on this - why is listening to player events not sufficient in this case? The player events are either user triggered or player triggered and you can tell by the type of event where it's coming from. So, for example, if you want to listen to user-triggered play/pause events, just listen to onPlayerStateChanged and check the playWhenReady value.

[2019-09-25 08:16] bdanddm503 opened #6469 "HLS Caching with CacheUtil"
### Searched documentation and issues
I was looking through documentation and issues related to caching and offline support, but there is no proper answers.

### Question
We are using Exoplayer 2.9.4 and HLS video format.
When trying manually cache next video with CacheUtil's _cache_ method, EOFException occurs, but it is working great with mp4. Probably it happens because of caching playlist file

[2019-09-25 08:18] jakoss commented on #6446
In my original question i showed code that do exactly that. But using that i got `Play` event on track change (so user clicked `Next` and i got 2 events: `Next` and then `Play`. If i could work around that in `onPlayerStateChanged` it would be sufficient

[2019-09-25 08:18] tonihei commented on #6462
Updated comment above to correct duplicate issue.

[2019-09-25 08:23] tonihei commented on #6446
You shouldn't check the playbackState (=state set by the player), just playWhenReady( =play/pause intention by the user):

[code]

[2019-09-25 08:30] jakoss commented on #6446
That works too. Using `dispatchSetPlayWhenReady` doesn't require additional variable, so i think it's a little bit better for us. Still - both solutions are working

[2019-09-25 08:37] TarifHatoum commented on #6440
Dears,

Thanks, but I have fixed this issue regarding obselated.

Best regards.

[2019-09-25 08:40] tonihei commented on #6446
Yes, I agree it's more direct. Just requires more work if you have multiple ways of interacting with the player (e.g. MediaSession + normal in-app-UI). And the callback would happen for all cases. And we are thinking of getting rid of the `ControlDispatcher` class in the future as it's not ideal from a design point of view.

[2019-09-25 08:41] tonihei commented on #6446
Closing again - question has been answered twice now :)

[2019-09-25 08:41] #6446 closed, assigned to marcbaechinger

[2019-09-25 08:56] jakoss commented on #6446
We are interacting by MediaSession for normal in-app-UI, so it's single `ControlDispatcher` on `MediaSessionConnector` for us :)

[2019-09-25 09:15] bueeler opened #6470 "Cannot play local files with hash character ('#') in filename"
When a media source is created with a file containing hash character ('#') in filename, this file cannot be played back by ExoPlayer, as the URI Object will not provide full path in the function "uri.getPath()" used by FileDataSource.

Media source is created as follows:
`MediaSource videoSource = new ProgressiveMediaSource.Factory(dataSourceFactory).createMediaSource(Uri.parse("/storage/emulated/

[2019-09-25 09:30] krocard commented on #6468
Hi Sooraj,

How is you kernel buffer exposed? Is it properly secured or is sepolicy forbidding apps to access it?
Is your kernel exposing an dmabuf anon_inode type ? If not, an app will not be allowed direct access.

Please take a look at aaudio documentation on mmap mode, it is the official android API for direct audio dma access:
https://source.android.com/devices/audio/aaudio#kernel-changes

[2019-09-25 09:40] marcbaechinger commented on #6354
closing due to inactivity.

[2019-09-25 09:40] #6354 closed, assigned to marcbaechinger

[2019-09-25 09:41] soorajdevs commented on #6468
Hi,

  Thanks for your quick response.
  I have added an mmap interface to the driver.
  We have a server program which mmaps the buffer and sends it to JNI using Fast Message queue.

  SE policy of this server program is
  sepolicy/xoverserver.te:38:allow xoverserver xover_misc_device:chr_file { read write open ioctl map};

  I want to avoid using FMQ and give direct access of buffer to JNI.

Tha

[2019-09-25 09:56] liungkejin commented on #4352
Device: Samsung SM-N9109W Android 6.0.1, API 23

Bug reproduces steps:
Create a singleton exoplayer
1. Prepare exoplayer in Activity_1
2. Play exoplayer in Activity_2
3. Release exoplayer in Activity_2  // Normally speaking, release is success at first time
4. Prepare exoplayer in Activity_1
5. Play exoplayer in Activity_2
6. Release exoplayer in Activity_2  // release will be blocked 100%

**But

[2019-09-25 09:56] krocard commented on #6468
The server should send to the client app the FD, using binder, and the client (jni) should mmap the audio itself.

If your source buffer only contains audio, I would recommend using the official aaudio mmap API instead of adding your own custom API though.

[2019-09-25 10:02] soorajdevs commented on #6468
Source buffer contains both audio and video data.
We have a custom USB gadget driver from which we are getting the data.
I will try to mmap the buffer in JNI itself.

Thanks,
Sooraj

[2019-09-25 10:02] krocard commented on #6468
Given that your issue is a general Android development question, and not an Exoplayer one, I am closing it.
We recommend asking such questions on Stack Overflow.

[2019-09-25 10:02] #6468 closed, assigned to krocard

[2019-09-25 10:02] tonihei commented on #4352
@liungkejin  Can you provide an example app for this? If it's 100% reproducible it should be possible to figure out what's wrong.

[2019-09-25 10:05] dhanapal20 commented on #6451
Hi Thanks for your response, please find the required details as below
- Yes, We are using PlayerView from UI Components
- Subtitles not at all rendered on any of text in the screen
- Since this media stream is in full encrypted MPEG-2 TS format, so we can't able to deliver (but decrypted playback is working fine for video and audio)

[2019-09-25 10:06] tonihei commented on #6469
We updated our downloading support in 2.10 and I would strongly encourage you to update if you want to download HLS streams. Please have a look at our [downloading guide](https://exoplayer.dev/downloading-media.html) and specifically at the last section explaining the use of `DownloadHelper` for adaptive streams like HLS.

[2019-09-25 10:15] kgrevehagen commented on #6459
I did some more digging to figure out what is happening.

The issue might not be DRM related, but it is very visible for DRM clear lead where it actually has more data, it just can't play it yet, because we have no keys.

Correct me if I'm wrong, but two of the responsibilities(that has something to do with this issue) for `doSomeWork()` in `ExoPlayerImplInternal.java` is to update the playback po

[2019-09-25 10:25] AquilesCanta commented on #6462
Sorry! Copy paste fail!

[2019-09-25 10:35] AquilesCanta commented on #6459
My theory is that the Renderers are keeping some form of _small internal buffer_ which makes the playback position lag slightly behind the reading position, and the reading position triggers the failure without the playback position catching up with the reading position.

I think in order to fix this, we should make sure that Renderers exhaust their _small internal buffer_ before propagating the e

[2019-09-25 11:05] tonihei commented on #6459
Just to clarify: The player is definitely reading ahead of the playback position. This is usually a couple of seconds worth of data. Errors are thrown when the renderer with the stream error is no longer ready to play. The renderer is considered ready when it's not waiting for keys on the reading side *and* we have still data to read or pending output buffers.

The pending output buffer part looks

[2019-09-25 11:17] AquilesCanta commented on #6459
I guess this is something we should fix in BaseRenderer? Who'd be the best person to assign this to?

[2019-09-25 11:20] tonihei commented on #6459
You can assign to me if you like.

[2019-09-25 11:30] gb103 opened #6471 "Provide cache-aware adaptive track selection"
### [REQUIRED] Searched documentation and issues
Looked into release notes and into the issue list in Github

### [REQUIRED] Question
While exoplayer is in process of HLS streaming with cache enabled, Due to its adaptive streaming property it caches different quality of chunks based on network condition.
So my question is, if a song is completely cached but in different quality of chunks, is it po

[2019-09-25 12:34] VictorPurMar commented on #6443
I can add another hls, that contains more errors and must be easier to identify the issues.

[code]

[2019-09-25 12:53] jovansuzic opened #6472 "AesCipherDataSource usage"
Can someone provide us with some code snippet on how to use AesCipherDataSource, to be precise, how to create MediaSource for encrypted video file?
I have found several issues regarding playing encrypted video file and in all of them it is suggested to look at AesCipherDataSource but I couldn't find the way how to create MediaSource using AesCipherDataSource.
As @ojw28 wrote here (https://github.c

[2019-09-25 13:08] tonihei commented on #6471
That happens automatically when you create your MediaSource with `DownloadHelper.createMediaSource`. Alternatively, you can do the same manually by passing in the `DownloadRequest.streamKeys` to `MediaSource.Factory.setStreamKeys`.

[2019-09-25 13:42] kaazvaag commented on #6343
I have the same issue. This is very annoying when watching football matches. Please fix this bug!

[2019-09-25 13:54] marcbaechinger commented on #6343
I tested this out with two different nvidia boxes. The movie run through two hours.

@alexey-rabets I know it's a while. Your stream your sent gives me a 404 probably because it's expired.

@kaazvaag What app are you referring to re: football matches? Is this an app I can install and test with?

[2019-09-25 14:06] patrycjasosnowska opened #6473 "Image stuck on video after going back to app from background on Android 10"
### [REQUIRED] Issue description
I use ExoPlayer in Android app to record and play video files. Since I don't want to pause playback when app goes to background, when I play video and move app to the background sound is still heard. When I am going back to my app, and bind player to new playerView sound is heard, but image in video is stopped at this moment, which I move app to the background. Aft

[2019-09-25 14:19] kaazvaag commented on #6343
@marcbaechinger I use an IPTV app called Tivimate that uses exoplayer2 (you can install the app from the play store on the ShieldTV).
The weird thing is that the streams are good for about the first 15 minutes. After 15 minutes there are framedrops (stutter). Many other ShieldTV owners have the same issue with different iptv apps using exoplayer. The issue occurs with interlaced streams (1080i). (

[2019-09-25 15:16] tonihei commented on #6473
Can you provide more details on how your background playback is working?

In particular:
- Are you using a foreground service?
- Are you making any changes to the `DefaultTrackSelector` (e.g. disable the video track)?
- Are you unbinding the player from the previous `PlayerView`?
- What kind of view are you using? (SurfaceView, TextureView, ..)
- Also, what kind of `MediaSource` are you using? And

[2019-09-25 16:35] tonihei commented on #6459
After debugging this a bit, there are two issues currently (with the dev branch):

1. Retrying after the error keeps the player in an infinite READY state because the audio renderer wrote a single sample and then doesn't seem to play it. This means it always pretends to be ready.

We definitely need to fix that.

2. The video renderer plays a few clear frames from the restart position. This seems

[2019-09-25 16:54] icbaker commented on #6451
I'm afraid there still isn't really enough info to fully answer. This isn't an exhaustive list of questions, anything you think might be relevant that you're willing to share could help.

* Is the SubtitleView visible in your app? (e.g. when you debug and use the Layout Inspector from Android Studio)
* Do subtitles appear for unencrypted content?
* Are there any errors that look suspicious in logc

[2019-09-25 17:03] icbaker commented on #6470
Looks like the '#' is being interpreted as the start of the fragment of the Uri, so when we call getPath [here](https://github.com/google/ExoPlayer/blob/bef130ad17f11ab3997548653f2466e50bd6eb27/library/core/src/main/java/com/google/android/exoplayer2/upstream/FileDataSource.java#L65) we only get everything before the #.

I've reproduced this. I'm not sure exactly the best way to fix it, but I've g

[2019-09-25 17:24] icbaker commented on #6470
Actually I think either of these are better (though neither are tested):

[code]

Or:

[code]

I'll look into:

* Making the error message clearer in this case ("can't use a local-file Uri with a fragment")
* Documenting more clearly how to open local files more safely using Uri.Builder or File as above

[2019-09-25 22:12] JulienArzul commented on #3969
@enigmadevs I had the same issue and as a work around for now, I'm reading directly into the CastSession to determine if the media has ended when I receive a STATE_IDLE.

Something like this:
[code]

[2019-09-26 01:00] #6369 closed, assigned to ojw28

[2019-09-26 01:00] #6285 closed, assigned to marcbaechinger

[2019-09-26 01:00] #6232 closed, assigned to marcbaechinger

[2019-09-26 01:58] ArcherEmiya05 commented on #6463
This is what I want to know in the first place, thanks for mentioning it.

[2019-09-26 03:40] tiendatit92 commented on #6131
This is my project. You can follow in there
https://github.com/tiendatit92/ExoplayerFullscreenLandcapse

[2019-09-26 03:41] tiendatit92 commented on #1845
You can follow in this project:
https://github.com/tiendatit92/ExoplayerFullscreenLandcapse

[2019-09-26 03:58] gb103 commented on #6471
@tonihei but I do not have information which quality of segments are cached e.g.
Let's say MASTER file contains 4 quality index files : index_0, index_1, index_2, index_3
and Based on network fluctuations, a user who adopted for AUTO quality mode in streaming, his streaming goes like this for a media which have around 10 segments in its streaming file. -

index_0 -> segment1_0 -> segment2_0 -> seg

[2019-09-26 04:31] bhaskarraj commented on #6186
I am getting this error for android pie only:

[code]

[2019-09-26 06:10] bueeler commented on #6470
Thanks a lot for having a look at this issue.
Both proposed solutions work for me. So improved error message and/or updated documentation would help others not running into this issue.

[2019-09-26 07:08] arlimm318 opened #6474 "about RTP and RTSP supported"
My project needs to support both RTP and RTSP,But I see that the RTP and RTSP support libraries  int two branches ,What should I do with these 2 branches?Do I need to merge two branches into one?That would be complicated.
I need a branch that supports both RTP and RTSP.

[2019-09-26 07:34] matamegger commented on #6348
@ojw28 Have you had already time to check this? If not, can you maybe provide a time frame?

We are happy to support you in further investigation, just let me know.

[2019-09-26 08:14] tonihei commented on #6471
Thanks for the clarification. The approach mentioned above only makes sense when used with a download cache where you explicitly selected a certain quality for downloading.

Unfortunately, you problem can't be solved out-of-the-box. You may be able to implement that yourself using a custom `TrackSelection` implementation where you only allow to select tracks that are cached, but we should also loo

[2019-09-26 08:19] lupin4th commented on #474
@stevemayhew
How can I playback test with i frame track on the demo app?

[2019-09-26 08:50] VictorPurMar commented on #6443
The issue is common to all the Exoplayer Versions.

We discover an specific CDN provider that probably affects the stream in some way (maybe algorithm to compress decompress related)  launching this error in Exoplayer.  Even other video players are allow to reproduce it in a right way.

 The example stream from the post was updated to the sensible one for everyone to allow the ExoPlayer community

[2019-09-26 09:11] icbaker commented on #6474
ExoPlayer doesn't currently support RTP or RTSP.

Pull request #3854 adds this, but it hasn't been merged.

There are no RTP or RTSP branches in this repository. Possibly you're referring to the source of the above pull request, which has both dev-v2-rtp and dev-v2-rtsp: https://github.com/tresvecesseis/ExoPlayer

If you have questions about how to use the RT(S)P implementations from that fork, I

[2019-09-26 09:11] #6474 closed, assigned to icbaker

[2019-09-26 09:13] icbaker commented on #6463
I'm going to close this for now. Please re-open (or maybe file a new issue) if you continue to encounter problems after fixing the certificate config.

[2019-09-26 09:13] #6463 closed, assigned to icbaker

[2019-09-26 09:47] AquilesCanta commented on #3969
For the record, we wanted to build in a solution like the one shared above, but there was a discussion because Cast player empties the queue when the content ends, which means the state matches the description of both IDLE and ENDED, and the change didn't go through.

We hope we can fix this once we implement masking in CastPlayer, so that the queue will not be empty anymore once we finish playing

[2019-09-26 09:51] mitab86 commented on #6465
@AquilesCanta @willnorris @xian @kiall @talklittle @icbaker @tonihei  any help please

[2019-09-26 10:09] tipoc123 opened #6475 "AudioTrack: Discontinuity detected"
### [REQUIRED] Searched documentation and issues
ExoPlayer issues.

### [REQUIRED] Question
Can you answer my question?

Links:
https://github.com/google/ExoPlayer/issues/5853#issuecomment-521262436
https://github.com/google/ExoPlayer/issues/5853#issuecomment-534091666

[2019-09-26 10:51] icbaker commented on #6475
Copying [question](https://github.com/google/ExoPlayer/issues/5853#issuecomment-521262436), including bug report:

[2019-09-26 14:17] kgrevehagen commented on #6459
This is nice to hear, thanks for looking into it so quickly.
Do you think this is a quick fix that I also can apply to my 2.10.5 version so I do not have to wait for a new release from you? If so, any idea on when we can expect this?

[2019-09-26 15:02] ojw28 commented on #6470
@icbaker - WDYT about having `FileDataSource` reconstruct the correct file path from the `Uri` (by looking at the fragment) to handle this case?

I don't think documenting something that's come up once in the project's existence (and is a general Android question rather than anything specific to ExoPlayer) is ideal. If we documented all such questions, our documentation would probably be a mess an

[2019-09-26 17:54] AlienAsRoger opened #6476 "Add raw metadata for IcyInfo"
### [REQUIRED] Use case description
Add ability to extract metadata from ICY on the client implementation.
Currently it's impossible to extract additional information from ICY metadata except title and url. It would be better if you would just pass rawMetadata as additional parameter to IcyInfo, so client will handle extraction on it's own if needed.

Use case is that we are using ads info that is

[2019-09-26 21:34] jandebaker opened #6477 "Cannot resolve external dependency com.android.tools.build:gradle"
Hello.
When I try to build project from local copy downloaded from git I get following error
ERROR: Cannot resolve external dependency com.android.tools.build:gradle because no repositories are defined.
Required by:
    project :demo

I have already set in Android Studio - Settings - Gradle path to latest gradle version

![image](https://user-images.githubusercontent.com/50493358/65726771-23c08500

[2019-09-27 04:24] yudikarma commented on #867
hi @droidwave  any update and solution ?? iam diffcult for fix it. your help is much appreciated!

[2019-09-27 09:12] icbaker commented on #6477
Are you following the ExoPlayer Hello World tutorial?

Did you add the repositories to your build.gradle as specified here?
https://exoplayer.dev/hello-world.html#add-repositories

[2019-09-27 09:43] mrkamiali opened #6478 "I want to hide controller and never show it until some condition"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-09-27 10:38] icbaker commented on #6478
@google-oss-bot Got it right :) Please fill out the issue template.

[2019-09-27 11:11] tonihei commented on #6294
Thanks for the update!

[2019-09-27 11:15] andrewlewis commented on #5902
@dbrain Sorry for the delay. Removing the call to `seekTo` sounds like a good idea -- did you try this, and do you still have any issues? It shouldn't be necessary to seek the player to restore state (if you seek before preparation we should play the right ad(s) if needed, and the timeline tracks the ad resume position for background/resume during an ad).

Setting that aside, I think a couple of i

[2019-09-27 11:33] lsgfly opened #6479 "Can we add an ad after the video is ended by ima."
### [REQUIRED] Question
Now i can add an ad before the video is played.
Can we add an ad after the video is ended.
If we can, What do I need to do about it?

### A full bug report captured from the device

### Link to test content
In case your question is related to a piece of media, which you are trying to

[2019-09-27 11:43] nbabaka opened #6480 "Video 360 problem"
Hi there.

Content - Any 360 Video. STEREO_MODE_MONO
Android 6.0 Marshmallow
ExoPlayer - 2.10.5

Video 360 starts playing from a different angle of view each time.
Than X & Y axles slowly rotate in normal position, but not Z.
Is it possible to start video depends on sensor position and look forward to the "start" position?

Thank you/

[2019-09-27 11:47] mrkamiali commented on #6478
hi, Thanks for responding this line worked for me,
```mPlayerView.useController = true ```
you can close this ticket.

[2019-09-27 11:47] #6478 closed, assigned to icbaker

[2019-09-27 12:02] ksc91u opened #6481 "UnrecognizedInputFormatException for mp4 url"
### [REQUIRED] Content description
Input #0, mov,mp4,m4a,3gp,3g2,mj2, from 'live_ef0ad394-8826-4aea-9421-439501068140_Rw2jK.mp4':
  Metadata:
    major_brand     : isom
    minor_version   : 512
    compatible_brands: isomiso2mp41
    creation_time   : 2019-09-01T14:01:23.000000Z
    encoder         : Lavf57.25.100
  Duration: 02:00:29.21, start: 0.000000, bitrate: 118 kb/s
    Stream #0:0(und): A

[2019-09-27 12:29] AquilesCanta commented on #6472
Does that example work for you?

Because ExtractorMediaSource is now called ProgressiveMediaSource, but other than that it's exactly the same.

[2019-09-27 12:44] jmillares commented on #6443
Same here at least with versions from 2.10.1 to 2.10.5. My stream is private, so I cannot provide an example. In my case, iOS native player can play the stream, but VLC and other web players cannot.

[2019-09-27 13:30] andrewlewis commented on #6479
If you want to play a postroll ad it should be included in the VMAP ad tag and will be played automatically.

If you are trying to do something different please describe it in more detail.

[2019-09-27 13:37] icbaker commented on #6476
Thanks for the suggestion!

I agree that probably the best we can do is pass through the whole raw string, because it's not really defined what other tags (or separators) are allowed in ICY, so even key-value is tricky.

I think I'll tweak your suggestion to create the IcyInfo even if both title & url end up null, so that any arbitrary text in an ICY context gets passed along to the app to handle.

[2019-09-27 14:16] stevemayhew commented on #474
I did not want to muddy the pull request with code in the demo app.  It’s
pretty simple though:

1. Use track selection to turn off audio
2. Set playback speed up considerably (15x or more)

ABR will switch to your iframe only track (assuming it is authored
correctly, it should have lower bandwidth requirements then any other video
track). I’ll put some code snippets here later today when I’m at m

[2019-09-27 14:31] MolchanovDmitry opened #6482 "Cast HLS to chromecast"
### Searched documentation and issues
https://codelabs.developers.google.com/codelabs/cast-videos-android
https://github.com/google/ExoPlayer
https://github.com/googlecast/CastVideos-android

### Question
How to cast HLS to chromecast?

What I'm doing:

1. Clone https://github.com/google/ExoPlayer
2. Choose demo-cast module
3. In sample with name "Clear DASH: Tears" I replaced
url with:
https://bi

[2019-09-27 15:39] icbaker commented on #6482
I think in step one of your instructions you might mean 'Clone https://github.com/google/ExoPlayer' rather than the codelab link you pasted? The rest of the steps line up perfectly with the castdemo app...
https://github.com/google/ExoPlayer/tree/release-v2/demos/cast

I can reproduce on a Pixel 3a running Android P casting to an nVidia Shield.

Assigning to Santiago to take a look.

[2019-09-27 16:44] kjh9765 commented on #6480
What class did you use to move the video up and down?

[2019-09-27 18:31] jandebaker commented on #6477
Hi. Yes, I have the repositories to my build.gradle.
But I do not do Hello World Tutorial. I wish to make Exoplayer stand alone app, as it is described here https://exoplayer.dev/demo-application.html
I did local copy of project and trying compile and run app on connected device.

This is screen on project and errors

![image](https://user-images.githubusercontent.com/50493358/65793006-39d94e80-e1

[2019-09-27 18:44] abhishekredspace opened #6483 "Notification background color changes when stopForeground is called"
### Searched documentation and issues
Looked into Android Notification and PlayerNotification from exoplayer.

### Question
When my audio player starts I attach a notification with it. When player is paused/stopped using notification pause button, notification background color changes. Here is the test code.
[code]
When I start the playback again, the notification background color comes back again

[2019-09-27 19:19] juechemparathy commented on #4835
@ojw28  - Any updates on this? Thanks.

[2019-09-27 19:55] MolchanovDmitry commented on #6482
@icbaker yes, exactly, thanks!

[2019-09-27 22:06] ojw28 commented on #6443
The stream appears to work fine in the `dev-v2` branch, so it seems the issue is fixed there.

@AquilesCanta - Any idea what change fixed this? In case we release a 2.10.6 prior to 2.11.0?

[2019-09-27 22:08] ojw28 commented on #6348
@christosts - We should probably treat this as a duplicate of https://github.com/google/ExoPlayer/issues/5796 (or at least investigate both at the same time). The test content and information above will be useful for helping to look at that issue.

[2019-09-27 23:03] ojw28 commented on #6433
As above, the video you're trying to play exceeds the capabilities of the device.

[2019-09-28 01:00] #6395 closed, assigned to ojw28

[2019-09-28 01:00] #6349 closed, assigned to marcbaechinger

[2019-09-28 01:00] #5923 closed, assigned to tonihei

[2019-09-28 05:38] dhanapal20 commented on #6451
Hi Thanks for your valuable hints,
By using EventLogger, I can see that following Renderers and  selection details

[code]

From above log, Renderer:3 (mimeType=application/id3) is selected and Renderer:2 (mimeType=application/cea-608) is not selected. Also it seems that no valid data present for "application/id3" in PES
By using below code to select undetermined language, I can able to select Ren

[2019-09-28 06:06] lsgfly commented on #6479
In the demo-ima, the ad always played before the video is played.
How should I change the code so that the advertisement can be played after the video ended?

[2019-09-28 13:00] lucazin opened #6484 "Slow Start Video Play (Firebase)"
### [REQUIRED] Searched documentation and issues
I searched in a lot of sites and stackoverflow, but i didnt find much thing about..
is always de same about buffering e e some changes in these values.

### [REQUIRED] Question
First sorry for my english...
My question is.. i have some videos in firebase storage provided by google..and i have good internet connection  so
i have a url and exoplayer i

[2019-09-29 00:08] root-ansh commented on #6409
@andrewlewis  We need to change ads at fixed intervals. But These ads are not predefined, and would be fetched from the server at run time, just a few seconds before the the scheduled time.

I am  thinking of a solution in which we(The dev) will control ad playback .  Like, for eg if I need to show an ad a 20 seconds from the start of content, There will be callback that will aware some function

[2019-09-29 03:31] cuiwei78 opened #6485 "How switch Audio Track?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-09-29 03:53] cuiwei78 commented on #6485
resolved, i close this.

[2019-09-29 03:53] #6485 closed, assigned to nobody

[2019-09-29 14:47] lukepighetti opened #6486 "Pixel 1 camera captured video has artifact bars on each side"
### [REQUIRED] Content description
Playing video on Pixel 1 (Android 10) that was captured on same device causes artifacts to appear on the left and right of the screen.

### [REQUIRED] Link to test content
Literally any video captured on a Pixel 1 on Android 10 with the default built-in camera and app.

### [REQUIRED] Version of ExoPlayer being used
`video_player: ^0.10.2+1` on Flutter

### [REQU

[2019-09-29 19:01] sejalis opened #6487 "Managing the UI in a HLS Video with a dynamic DVR window"
### Searched documentation and issues
I didnt find anything on that in the documentation. Some Issues were it was mentioned:
https://github.com/google/ExoPlayer/issues/87   (second case)
https://github.com/google/ExoPlayer/pull/1394#issuecomment-203254269

### Question
Hello! I'm a quite new Android Developer who is working on a TV Project for VOD and Livestreams on FireTV. We are using the amazon

[2019-09-29 22:23] dbrain commented on #5902
@andrewlewis Sorry, I also meant to respond to this. The issue went away when we removed the no longer needed code. It was originally added to support asking the user if they wanted to resume watching or restart while we perform the default action. When ads were added it became a bit awkward, as we didn't want to kick off a seek/show a snackbar mid ad etc so it was tied to the first `CONTENT_RESUM

[2019-09-29 22:23] #5902 closed, assigned to andrewlewis

[2019-09-30 09:14] christosts commented on #6348
Ack

[2019-09-30 09:16] Romantic-LiXuefeng opened #6488 "Support SAMPLE-AES encryption with identity key format"
Just as the title. Support to decrypt H.264/AAC/AC-3/Enhanced AC-3 streams encrypted with AES-SAMPLE encryption described in the below link .
[https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/HLS_Sample_Encryption/Encryption/Encryption.html](url).
 If there is no plan to support this, Hope give some advice how to implement this feature.

[2019-09-30 09:49] icbaker commented on #6477
I tried to repro from the instructions you linked, and mine builds fine. I did:

1. `$ git clone https://github.com/google/ExoPlayer.git`
2. Open Android Studio
3. File -> New -> Import Project...
4. Select the 'ExoPlayer' directory that was created in step 1 (should have an Android Studio logo) then press 'OK'

One difference I note between your screenshot and the release-v2 branch on github is t

[2019-09-30 09:59] icbaker commented on #6451
As you said, ID3 is 'metadata' rather than 'data' (or specifically 'text' in the case of cea-608).

That means the contents of the ID3 track will get output to MetadataOutput (which you can access by registering a callback with `SimpleExoPlayer#addMetadataOutput`).

I highly doubt they're carrying equivalent data, and ExoPlayer doesn't provide any direct way to display the contents of the ID3 trac

[2019-09-30 09:59] #6451 closed, assigned to icbaker

[2019-09-30 10:28] AquilesCanta commented on #6488
It's not in our current plans to add support for this. Still I'll leave this open to track support for non-CDM SAMPLE-AES protection.

If you are looking into implementing this, the simplest approach to start with is probably implementing your own ElementaryStreamReader (for Transport Stream elementary streams, start by forking H264Reader), or Extractor for packed audio. You'll need to plumb the k

[2019-09-30 11:43] unext-wendong commented on #5291
@ojw28
Seems to be a problem of the framework in this device. After a firmware update, I couldn't reproduce the issue any more.

Also, I realized that the command I mentioned in my issue description `lsof -p <pid>` won't work on non-rooted devices. The device I was using to reproduce the issue was with an `eng` system image.

[2019-09-30 11:43] #5291 closed, assigned to ojw28

[2019-09-30 12:52] sravan1213 opened #6489 "DRM content is not working on few PIXEL devices (Android Q)"
Our app users have reported DRM content is not working on their Pixel devices. Even the sample drm content in demo app is not working for them. Attached stack trace from our logs.

We couldn't debug much from the below logs. Also attaching device build info screenshot for debugging. Please let me know if more details are required. The number of user's complaining about this is increasing day by da

[2019-09-30 13:00] kim-vde commented on #6487
There is no trivial way to implement what you need. I added the enhancement label to potentially add this feature in the future.

What you could do for now is to fork ExoPlayer class `PlayerControlView` and update it to meet your needs.

[2019-09-30 13:26] kim-vde commented on #6486
Could you try to reproduce the issue on the ExoPlayer demo app?

[2019-09-30 13:42] kim-vde commented on #6484
Have you tried decreasing the MIN_PLAYBACK_START_BUFFER? What is the format of the files you are playing?

[2019-09-30 13:45] AquilesCanta commented on #6443
I think this was fixed by b8ec05aea19be5eb3ef317a7daf10ed1d36154b4. Can you please patch that in and see if that fixes your issue, please?

[2019-09-30 14:33] jmillares commented on #6443
Patched it in but in my case keeps crashing:

[code]

[2019-09-30 14:54] jovansuzic commented on #6472
Thank you for response.
You were right, it's working with ProgressiveMediaSource.
For anyone else that might encounter the same problem, first check issue (#5083). There you will find example project (ExoPlayerTestProject.zip) posted by @kozmabalazs (https://github.com/google/ExoPlayer/issues/5083#issuecomment-437901562) and also solution provided @ojw28 (https://github.com/google/ExoPlayer/issues

[2019-09-30 15:06] AquilesCanta commented on #6443
Jose, it's possible your content doesn't have the same issue as @VictorPurMar's, whose content works on the dev branch. Please try the dev branch for yourself. If it fails, please file a new issue including all information from the issue template that will appear in the text box. Don't omit anything. Without a piece of content to reproduce the issue, it is highly unlikely we will be able to help.

[2019-09-30 15:19] krackjack234 opened #6490 "Getting Google IMA event LOG randomly in exoplayer v2.9.6"
Hi,

**[REQUIRED] Searched documentation and issues**

Searched Stackoverflow and exoplayer bug reports but could not find the issue described below

**[REQUIRED] Question**

We are using Exoplayer **v2.9.6** and Google IMA SDK which comes as part of the player. We see while playing Ads if we click the "Learn More" link multiple times, Ads gets skipped, app gets a **LOG** AdEvent and we see a Ad l

[2019-09-30 15:56] VictorPurMar commented on #6443
@AquilesCanta Almost for this CDN compression issues, the patch works like a charm!
We will try to apply to prod, and see if this solves this issue.

Thank you very much.

[2019-09-30 16:38] #6443 closed, assigned to AquilesCanta

[2019-09-30 20:18] emrebayramc commented on #6168
I am having the same problem

[2019-09-30 21:46] lucazin commented on #6484
i tried to put 500 but not change...

mp4 type

and server is from firebase storage.

Em seg, 30 de set de 2019 às 10:43, kim-vde <notifications@github.com>
escreveu:

[2019-09-30 21:46] lucazin commented on #6484
its take a 4 or 5 seconds to start a video.

Em seg, 30 de set de 2019 às 18:45, Lucas Bergamo <bergamo86@gmail.com>
escreveu:

[2019-09-30 22:33] obadajasm opened #6491 "Delete next and previous buttons from the Notification"
Hello ExoTeam

Can we delete the next and previous buttons?
So in Total it only shows two buttons the Play and Stop

In this issue [#5344]  we could add more buttons and make them functional to the PlayerNotificationManager

(https://github.com/google/ExoPlayer/issues/5344)
![IMG_20191001_012557](https://user-images.githubusercontent.com/38117091/65921295-841f3180-e3ea-11e9-866e-ef9e175cc7ae.jpg)

[2019-10-01 01:03] #6403 closed, assigned to andrewlewis

[2019-10-01 01:17] lucazin commented on #6484
I try to test with demo.. changing the url anf put my url firebase
storage.. but i think its is server..problem   because its not possible..
is very bad wait 4 seconds to start a video..

Em seg, 30 de set de 2019 às 18:46, Lucas Bergamo <bergamo86@gmail.com>
escreveu:

[2019-10-01 05:26] prernagp opened #6492 "I am unable to set adsMediaSource."
**My layout file is:-**
<FrameLayout android:id="@+id/fullscreen_content"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">
<com.google.android.exoplayer2.ui.PlayerView
    android:id="@+id/video_view"
    android:layout_width="match_parent"
    and

[2019-10-01 07:23] jakoss commented on #3058
I have similar issue. I have to handle situation when player is not playing (app is just opened, ExoPlayer is created but user didn't start any playback. In this app state i need to open system Equalizer, but there is no AudioSessionId set yet. Is there an option to generate manually AudioSessionId and then fetch it to Player once it's playing?

[2019-10-01 08:32] lupin4th commented on #474
@stevemayhew
Thank you for your answer.
I use apple sample url(https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_fmp4/master.m3u8)

As you said i turn off audio
`mTrackSelector.setParameters(
				mTrackSelector
						.buildUponParameters()
						.clearSelectionOverrides(1)
						.setRendererDisabled(1, true));`

and set playback speed
`PlaybackParameters playbackP

[2019-10-01 09:03] sejalis commented on #6487
Even if I do fork it, I still don't know where and why the visibility of the views gets reset (2.), could you provide more information?

[2019-10-01 09:08] utwyko opened #6493 "SeekTo max position is limited to current track duration since 2.10.0"
### [REQUIRED] Searched documentation and issues
I've dived into the source code of `ExoPlayerImpl` and `BasePlayer`, searched the docs, issuetracker and SO and investigated the changelogs from`2.9.6` to `2.10.0`

### [REQUIRED] Question
Upgrading from `2.9.6` to `2.10.0+` broke the seeking functionality of an app I am working on. We load in N number of queue items through a `MediaControllerCompat

[2019-10-01 09:30] kim-vde commented on #6489
Please provide complete information as requested in the issue template (particularly for the test content and the bug report sections). The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-10-01 09:45] ksc91u commented on #6481
I can play the media with r2.8.4, last working version 2.9.3

[2019-10-01 10:08] kim-vde commented on #6490
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2019-10-01 10:08] Cosminnv opened #6494 "Player Notification - add custom icon before and after a default icon."
### [REQUIRED] Searched documentation and issues
Tried looking at the player notification builder but found nothing.

### [REQUIRED] Question
Hello.
How can i change the order of the icons in the player notification? For example i want to have a custom icon with a custom action. then keep the default play/pause button with the default behavior, then another custom icon with a custom action. At the

[2019-10-01 10:10] SFocus opened #6495 "RTMP problem with play time."
### Content description
The problem is that there is an amazon server that streams the mp3 file via RTMP. The exoplayer only plays 1 minute or more but not the full file.

###  Link to test content
rtmp://s22x225isx33fy.cloudfront.net:1935/cfx/st/1.mp3

### Version of ExoPlayer being used
exoplayer_version = '2.10.5'
exoplayer_rtmp_version = '2.9.6'

###  Device(s) and version(s) of Android being

[2019-10-01 11:11] jandebaker commented on #6477
Thank you! In fact I did incorrect cloning.

[2019-10-01 11:11] #6477 closed, assigned to icbaker

[2019-10-01 11:41] hmawla opened #6496 "Black screen sometimes when switching the same player from a playerView to another in recycler view"
Hi,

I sometimes get a blackscreen  on the new player view when switching from another player view with a new media source in recycler view.
Note that audio plays correctly but the video is blacked out with the same view aspect ratio of the old player view.
I am stopping  the player when I switch to the new player view, and this is how I play it:

[code]
ANY HELP WOULD BE APPRECIATED!

[2019-10-01 12:24] abhishekredspace commented on #6483
Hello, any updates on this?

[2019-10-01 12:47] Cosminnv commented on #6494
After searching a bit more a solved it by doing this:
I created a custom implementation of the PlayerNotificationManager:

[code]

then when I instantiate it I just create and pass the custom buttons using the same id's.

[2019-10-01 12:47] #6494 closed, assigned to marcbaechinger

[2019-10-01 13:06] alfonsoramosa opened #6497 "Playback with adaptive video and adaptive audio"
I have been trying to find this information but only found one case here from 2 years ago and it's not clear the current status as it was closed.

I'm playing a SS+PR stream with Exoplayer, both video and audio are adaptive with a few profiles each.
Video is adapting properly.
Audio is not adapting at all, it stays in the same profile all the time.

Is that a known limitation in Exoplayer? Any pla

[2019-10-01 13:37] abhishekredspace commented on #6483
I think I got it, I had to attach the mediaSession to it. Looking at your blog post here helped me.
https://medium.com/google-exoplayer/the-mediasession-extension-for-exoplayer-82b9619deb2d

Updated code:
[code]
Actually this docs helped me:
[code]

[2019-10-01 15:43] Cosminnv opened #6498 "PlayerNotification - Update custom icon real time"
### [REQUIRED] Searched documentation and issues
Searched PlayerNotificationManager documentation

### [REQUIRED] Question
Hello.
I created a custom action in the player notification. When i click on it i want to change icon.
I tried something like this but it doesn't seem to work:

[code]

and then when i click it i call playerNotificationManager.invalidate() but the notification doesn't update.

[2019-10-01 18:13] ddv2005 opened #6499 "No CEA608 closed captions on HLS streams."
Hello,

I have HLS stream that has CEA608 CC but player doesn't expose any Text tracks because no CC decoder created. DefaultHlsExtractorFactory has workaround for that case in createTsExtractor but it does not work because muxedCaptionFormats just empty but not null.

[patch.txt](https://github.com/google/ExoPlayer/files/3677896/patch.txt)

[2019-10-01 18:43] AquilesCanta commented on #6499
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

We can't do anything without the media.

[2019-10-01 18:44] AquilesCanta commented on #6499
Once you provide a stream for us to test this, I will reopen the issue.

[2019-10-01 19:19] krackjack234 commented on #6490
hi @kim-vde , I have updated the issue description as requested. Please let me know if anything else is required

[2019-10-01 19:38] ddv2005 commented on #6499
**### [REQUIRED] Issue description**
No CEA608 closed captions on HLS streams

**### [REQUIRED] Reproduction steps**
Open HLS stream http://51.77.66.11/index.m3u8 in any ExoPlayer2 app. Player doesn't expose any Text tracks because no CC decoder created. DefaultHlsExtractorFactory has workaround for that case in createTsExtractor but it does not work because muxedCaptionFormats just empty but not

[2019-10-01 22:32] caiiiyua opened #6501 "[Dash:DefaultDashChunkSource]: Wrong segmentNumShift was calculated in copyWithNewRepresentation"
### [REQUIRED] Issue description
We are using AWS MediaPackager with Elemental for LIVE streaming, (etc, https://skysport3.akamaized.net/out/v1/686ec493b68042c7b943b4f55c95b867/index.mpd), by default the timeShiftBufferDepth="PT57.000S", we configured a 1800s availability window on the AWS MediaPackager, so that we could get MPD via somehing like https://skysport3.akamaized.net/out/v1/686ec493b680

[2019-10-02 01:03] #5483 closed, assigned to andrewlewis

[2019-10-02 03:53] lupin4th commented on #474
@stevemayhew
Thank you for your answer.
It works well.
Is i-frame track playback possible at 4x, 2x?

[2019-10-02 04:26] stevemayhew commented on #474
Sorry, I got busy today.  You need to override the trackselector and set it
to return the iframe track when playback rate exceeds 3 to 4x and turn of
audio

With this you should easily get 15x or so depending on your iframe
bandwidths and connection speed

On Tue, Oct 1, 2019 at 8:54 PM lupin4th <notifications@github.com> wrote:

[2019-10-02 08:27] marcbaechinger commented on #6491
Yes, you can use [setUseNavigationActions(boolean useNavigationActions)](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L741) to determine whether the next and previous actions are included in the notification.

[2019-10-02 08:41] kim-vde commented on #6487
I meant that you could fork `PlayerControlView` for both issues and avoid using observables.

The forward button probably gets re-enabled in method `updateNavigation`.

[2019-10-02 08:45] marcbaechinger commented on #6483
Thanks for letting me know this works for you now.

[2019-10-02 08:45] #6483 closed, assigned to marcbaechinger

[2019-10-02 08:47] sejalis commented on #6487
ok, will try. Thank you!

[2019-10-02 09:05] AquilesCanta commented on #6499
The issue is that the manifest is explicitly declaring

`#EXT-X-STREAM-INF:CLOSED-CAPTIONS=NONE...`

As per spec, ExoPlayer assumes no ClosedCaptions:

[code]

Also relevant reads:
https://medium.com/google-exoplayer/hls-playback-in-exoplayer-a33959a47be7
https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6
 #6283

If you want to work around this, you might want to inject your o

[2019-10-02 09:05] #6499 closed, assigned to AquilesCanta

[2019-10-02 10:07] tonihei commented on #6497
Parallel adaptation of both video and audio is already tracked by #5111. We are currently running experiments to verify the impact on performance metrics before making this the default.

If you want to try it out yourself, you can use `DefaultTrackSelector.experimental_allowMultipleAdaptiveSelections()` to turn the feature on. Note that this is just an experimental flag so far and will be renamed

[2019-10-02 10:07] marcbaechinger commented on #6498
You can not update the icon of an action. You need to have two actions each with a different icon and then swap the icons returned by `CustomActionProvider.getCustomActions(Player player)`.

Let say we want to have a custom button for toggling the shuffle mode of the player. It needs two actions which are then swapped according to whether the shuffle mode is enabled or not:

[code]

[2019-10-02 10:09] rockex6 commented on #6425
thanks for reply.
I got this error again a few days ago.
maybe when ad is ready to play but I finish activity and release the player?

this is the sample ima ad code here:
https://pubads.g.doubleclick.net/gampad/ads?iu=/21685920852/setn_video_pre-roll_1280x720_2&cust_params=pagegroupid%3D{0}&description_url=[placeholder]&env=vp&impl=s&correlator=&tfcd=0&npa=0&gdfp_req=1&output=vast&sz=1280x720&unv

[2019-10-02 10:22] tonihei commented on #6492
As you already noted the fourth parameter is an[ `AdsLoader.AdViewProvider`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/ads/AdsLoader.AdViewProvider.html) interface and you need to implement that instead of passing in the overlay frame layouy directly.  If you are using the `PlayerView` class of our UI module, you can just pass in that because it already implements th

[2019-10-02 10:22] #6492 closed, assigned to tonihei

[2019-10-02 10:39] kim-vde commented on #6484
I don't have enough information at the moment to investigate this issue. You should try to determine if it comes from the server or from Exoplayer first.

[2019-10-02 10:59] lucazin commented on #6484
but the server is google cloud plataform..  the latency is low ..  do you want some video url ?

but tell me..its a normal behavior wait 4 seconds to start a video?  even if as 12 seconds?
my network is good no problem with that..

im a bit confused now.
You said enough information,, what kind information u need?  Because so real this.. if a put the video in google cloud or amazon s3.. take 3 seco

[2019-10-02 11:11] ojw28 commented on #6450
It would be much more helpful to have the original content (presumably this was an HLS or DASH playback originally). Are the init segments for the clear and encrypted parts of the stream different?

[2019-10-02 11:13] ddicaro opened #6503 "MediaCodec error"
**Content description**

On many old devices that use OMX.MTK.VIDEO.DECODER.AVC decoder when try to play a MPEG-DASH stream on Akamai CDN with DRM  we receive this error:
I think this issue is linked to others that are marked in your code inside the `MediaCodecVideoRenderer.class` class (e.g # 3835, # 3236, # 3355, # 3439 etc ..).
Inside the switch of method `protected boolean codecNeedsSetOutputS

[2019-10-02 11:16] #6491 closed, assigned to ojw28

[2019-10-02 12:07] #6497 closed, assigned to tonihei

[2019-10-02 12:30] krackjack234 commented on #6490
Hi @kim-vde , @ojw28 , I have added one more observation when the problem happens in the detail above. The player view stops registering touch events after the Ad error.

Demo apk is present at https://drive.google.com/open?id=1u0ftsY4_UD_sbix66xBaN6PC-tGSNE2V

[2019-10-02 12:33] ojw28 commented on #6465
* I don't think it's particularly relevant whether `executeProvisionRequest` is called, unless provisioning is actually failing on the problematic devices.
* It's unclear why you're not using `HttpMediaDrmCallback`. Is there a reason you're providing your own?
* It's not clear what the actual issue is. Does playback fail, and if so, what's the actual playback failure? Please can you provide proper

[2019-10-02 12:46] ojw28 commented on #6381
I got hold of a device with an almost identical build fingerprint:
[code]
compared to your device:
[code]

Unfortunately, I cannot reproduce the issue. I tried following the reproduction steps with the ExoPlayer demo app, and also playing content in Play Movies whilst looking in logcat for any signs of a codec exception. In both cases playback seems to work fine.

Please could you try installing a

[2019-10-02 12:52] #6441 closed, assigned to ojw28

[2019-10-02 13:33] kim-vde commented on #6481
I tried to reproduce the issue but I couldn't.

Can you be more specific about which version of ExoPlayer you are using (release tag or commit)? Release tag r2.10.4 and commit 1d3d92e do not correspond.

Can you reproduce the issue in ExoPlayer demo app?

[2019-10-02 16:03] ojw28 commented on #6501
It seems pretty sub-optimal to be relying on technology that's not behaving in a stable way :). Have you reported the issue to AWS, and are they planning on fixing it?

Let's discuss directly on the PR. Thanks!

[2019-10-02 17:15] ojw28 commented on #6411
I replied by email with a root cause and a number of possible ways in which you can fix this. Please close this issue if this is sufficient. Thanks!

[2019-10-02 18:20] ojw28 commented on #6297
Clarification provided on the issue ref'd above. We'll add support for parsing `<Label>text</Label`. We'll keep support for `@label` as an attribute as well. If both are present then the former (i.e. standardized) version will win.

[2019-10-02 19:29] #6258 closed, assigned to ojw28

[2019-10-02 19:32] AquilesCanta commented on #6427
Thanks for the high quality issue report!

It seems to me the media is malformed. Both video and audio are tagged as using `KEYID=0x777cdd24a4da40dc90bffa0acac92576`, and the key updates happen for said key. However, audio samples (video samples are ok, content works if you disable audio) are associated to key id 0x431b60d8720f438b9a7020779ec137d1, which explains why the key of this last key id is

[2019-10-02 19:32] #6427 closed, assigned to AquilesCanta

[2019-10-02 19:33] #6472 closed, assigned to AquilesCanta

[2019-10-02 20:40] #6203 closed, assigned to tonihei

[2019-10-02 20:41] #2668 closed, assigned to tonihei

[2019-10-02 20:45] #5846 closed, assigned to Samrobbo

[2019-10-02 20:46] #6476 closed, assigned to icbaker

[2019-10-02 20:46] #6470 closed, assigned to icbaker

[2019-10-03 02:22] mitab86 commented on #6465
- We are using our own `mediaDrmCallBack` because `DrmLicense` can only be requested from `executeKeyRequest` according to the third party service provider guide. We do not get DrmLicense before.

[code]

- The player stops without playing any content but the seek bar shows the duration of the video and video does not start on Android pie but plays on marshmallow. I have checked on multiple device

[2019-10-03 05:14] sravan1213 commented on #6489
Thanks for the reply. @kim-vde we are not able to reproduce on the devices we have. I'll try to get a complete log from one of our customers.

[2019-10-03 07:26] AzimLord opened #6504 "Add configurable progress listener"
I already look in the code, documentation and search in stack overflow.
I see the `PlayerControlView` have `ProgressUpdateListener` interface which similar that what I need. But not sure how to use it or can even use it

I wanted to have a `player.currentPosition` listener for my player
But I'm not sure how to do it.

So far I just use `Handler()` and `Runnable()` to get the `currentPosition` but

[2019-10-03 07:58] andrewlewis commented on #4867
@AquilesCanta Closing as discussed, but please reopen if something else is needed. Thanks.

[2019-10-03 07:58] #4867 closed, assigned to AquilesCanta

[2019-10-03 08:09] christosts commented on #6348
Hi @matamegger

Checked the DASH links provided over email yesterday and they returned 404*. Can you please check the health status of the links, and if they are not alive anymore, maybe provide new ones?

Also, regarding:

Can you please share the change you made so that we can attempt to reproduce the behavior?

Thanks.

[edit]
*I tried to access the links from a browser and got the 404.

[2019-10-03 08:11] tonihei commented on #6504
But I'm not sure how to do it.

As you already said, just use a regular running task to retrieve `player.currentPosition` as often as you like. We don't provide a Listener for this because this values changes continuously and it doesn't make sense to send hundreds of callbacks per second. Having your own task allows you to schedule your own update interval depending on your needs.

The `ProgressUp

[2019-10-03 08:39] tonihei commented on #6504
We get this question from time to time - so I'll mark as an enhancement to add such a listener to ExoPlayer. The main benefit of us implementing this callback is that we can better align it with certain media times (e.g. always send at at a full media second). This callback needs to be configurable for how often it's called and at what playback rate (e.g. rate: every 500ms of media and/or every 2

[2019-10-03 09:11] AzimLord commented on #6504
I know the `player.currentPosition` is accurate. I mean, the `Handler()` will not start the same time as `player` starts playing the video. So using `Handler()` it will return `1979` milliseconds instead of `2000` milliseconds if the `Handler()` interval is `1000` milliseconds.

[2019-10-03 09:37] AquilesCanta commented on #6465
You need  to fix the server or the key request parameters so that you get the keys to play the content. Perhaps you are missing an HTTP header or using the wrong URL?

We can draw two conclusion from the provided stack trace:
- The device is provisioned (no need for provisioning, as @ojw28 points out above). Otherwise, there would be no key request at all.
- The server is just returning a 404 when

[2019-10-03 09:51] AquilesCanta commented on #4867
Please give this a try by setting

`DefaultDrmSessionManager.Builder.setAllowPlaceholderSessions(true)`

It should cause the reuse of secure decoders for clear periods (when possible).

[2019-10-03 10:11] ojw28 commented on #4867
Should we update our DRM documentation with a section indicating how to do this?

[2019-10-03 10:18] tonihei commented on #6504
Thanks for explaining. That kind of problem would be solved by a listener provided by us.

[2019-10-03 10:20] AquilesCanta commented on #4867
Once we get to a release, yes.

[2019-10-03 10:39] kim-vde commented on #6503
Can you please provide a bug report as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md)?

About the other devices, do you have a stack trace? Do you have access to the device names (see 3rd column of https://support.google.com/googleplay/answer/1727131?hl=en-GB)?

[2019-10-03 10:44] erossini opened #6505 "Play a video with DRM from Azure Media Player"
I'm trying to play a content from Azure Media Services: I have the **uri** and a valid **token**. If I use the Azure Media Player with this values, I'm able to play the video.

I added in the Demo project my section with this data (for security reason uri and token are truncated):

[code]

On any device, there is an error when the video starts:

If in the json I add

[code]

the device can't play

[2019-10-03 10:55] ksc91u commented on #6481
Hi, I push demo app here

https://github.com/ksc91u/ExoPlayer/tree/fail-demo

could not play
Misc - Fail m4a from google storage
Misc - Fail m4a from cloudflare

thanks

[2019-10-03 11:08] kim-vde commented on #6484
You should first try to determine if it is an ExoPlayer issue and why/where it occurs more specifically. You could for example check how much time the server takes to respond to the ExoPlayer requests. You could also clone the Exoplayer project and add logs to see which component is time consuming.

You can share some urls. I will check if the video takes time to start for me as well. If you're un

[2019-10-03 13:26] verticelo commented on #6168
We are also seeing this error on certain phones. For example Nokia 7.1 with Exoplayer 2.10.4. First video loads and plays fine. Second video in view crashes. Please find crash below:

[code]

[2019-10-03 13:38] jchristof opened #6506 "Overriding the playback controls by including including exo_playback_control_view.xml"
I want to take the default controls and behavior for the player and add a single button for toggling closed captions. When I copy the exo_playback_control_view.xml from exo to my project, I can't compile unless I provide the missing id for the @id/exo_progress_placeholder by adding the id.

When I add the id, the project compiles but exoplayer no longer provides the default progress timeline. What

[2019-10-03 13:45] ddicaro commented on #6503
I sent an email with the two required files like attachements. I don't have full stacktrace access, I only have the information in the file (now there is also device name)

[2019-10-03 13:51] lucazin commented on #6484
the e-mail with url go directly for you Kim ?

Em qui, 3 de out de 2019 às 08:09, kim-vde <notifications@github.com>
escreveu:

[2019-10-03 13:54] kim-vde commented on #6481
I can play the audio you sent by email without issue. Do you have troubles playing it?

About the 2 audio files you added in daae325, you get an error because they are malformed for the reason explained in #6441.

[2019-10-03 13:58] kim-vde commented on #6484
It is sent to the members of the ExoPlayer team.

[2019-10-03 14:06] erossini commented on #6505
I found the solution.

[code]

Thank you in any case!

[2019-10-03 14:06] #6505 closed, assigned to nobody

[2019-10-03 14:14] jchristof commented on #6506
Just replaced the placeholder with the following works for my case:
    <com.google.android.exoplayer2.ui.DefaultTimeBar
      android:id="@id/exo_progress"
      android:layout_width="0dp"
      android:layout_weight="1"
      android:layout_height="26dp"/>

[2019-10-03 14:14] #6506 closed, assigned to nobody

[2019-10-03 14:17] steveford-obs commented on #6411
Thank you very much, Olly. I tried your first suggestion and that proved that it could be made to work.

[2019-10-03 14:17] #6411 closed, assigned to ojw28

[2019-10-03 15:58] mitab86 commented on #6465
Does that mean we need to ask the third party to change the flow of requesting of the Licence URL and use HttpMediaDrmCallback instead of custom mediaDrmCallback?
Yes, the seek bar shows the length of the video (duration) but does not play the video on android pie but plays the same video in marshmallow device.

[2019-10-03 16:01] lucazin commented on #6484
this is the code for play the video

if (player == null) {
    // 1. Create a default TrackSelector

    LoadControl loadControl = new DefaultLoadControl.Builder()
            .setBufferDurationsMs(MIN_BUFFER_DURATION,
                    MAX_BUFFER_DURATION,
                    MIN_PLAYBACK_START_BUFFER,
                    MIN_PLAYBACK_RESUME_BUFFER).createDefaultLoadControl();

    BandwidthMet

[2019-10-03 18:37] ojw28 commented on #6493
It's a little unclear to me how your solution works end to end. In particular, how do you handle the seek once it's dispatched (when using 2.9.6)? Are you doing something special in your `ControlDispatcher`'s `dispatchSeekTo`?

[2019-10-03 18:43] AquilesCanta commented on #6465
No.

The same code works in M but not in P? If so, please provide the bugreport and content reproduce the issue, as requested in the issue template. We cannot help otherwise.

[2019-10-03 20:15] developer244 opened #6507 "Increasing HLS DVR size?"
Hey everyone,

Usually I found out that ExoPlayer support HLS DVR or in other words rewind and forward live stream using HLS format, it's working great but the limit of the timeshift is only 1 minute, is it possible to increase it?

Already tried increasing the buffering and the cache size, but none helped.
Any ideas?

[2019-10-03 21:48] caiiiyua commented on #6501
Yes, we reported to the AWS as while as try to fix from ExoPlayer side.

[2019-10-03 22:29] polaris0227 opened #6508 "Mp4 not playing from Storage"
### [REQUIRED] Content description
I can't play the video from storage which is downloaded from below link.
I tried below code for mediasource
`DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(App.getApp(), "ua");
            return new ExtractorMediaSource.Factory(dataSourceFactory).createMediaSource(uri);`

### [REQUIRED] Link to test content
https://drive.google.com/open?id=1

[2019-10-03 23:35] ramim94 commented on #6496
I remember facing such an issue previously, for reaching limits of media codecs supported by the device. I had to change my implementation to invoke fewer instances of exoplayer.

I think it's mentioned in https://github.com/google/ExoPlayer/issues/273

[2019-10-04 01:03] #6424 closed, assigned to ojw28

[2019-10-04 02:27] ksc91u commented on #6481
I can play the file I send you via email, sorry I sent the wrong link.

Thank you for the explanation

[2019-10-04 02:27] #6481 closed, assigned to kim-vde

[2019-10-04 06:41] utwyko commented on #6493
Yes. In `dispatchSeekTo`, we take the newPosition (which previously was the proper duration, but is now limited by the current item duration) and we retrieve the proper `windowIndex` associated with that duration. We do this based on our own metadata stored in memory. Then we calculate the relative duration within that item and dispatch the seek to the player with `player.seekTo(index, relativeDur

[2019-10-04 07:49] tonihei commented on #6493
Do you always want to treat all items as one for the playback? If so, then you would probably benefit from the `ConcatenatingMediaSource.isAtomic` flag once we implement the enhancement tracked by #4868. That would merge your media together to one piece, so no need for custom seek bars nor for special seek dispatching.

[2019-10-04 10:14] kim-vde commented on #6481
Duplicate of #6441.

[2019-10-04 10:33] ojw28 commented on #6493
Yes, I think that would help. I guess the other option would be for us to implement the equivalent of `PlayerControlView.setShowMultiWindowTimeBar` for `MediaSessionConnector` as well (and `PlayerNotificationManager`, for completeness).

Removing the bug label because I don't think this is really a bug. It's more a case of application code digging around in a way that we don't anticipate. ExoPlaye

[2019-10-04 10:42] tonihei commented on #6493
Once #4868 is done, the multi window time bar is most likely redundant. At least it's hard to come up with a reason why you would only want to merge sources on UI level and not on actual source level. Maybe some form of chapter-based video where the whole stream should be shown in the UI, but the next/previous buttons just jump to the next/previous chapter? If that's something we plan to support,

[2019-10-04 11:18] lucazin commented on #6484
Hi kim!
Good Morning, didi u see the email?
 tks!

Em qui, 3 de out de 2019 às 13:00, Lucas Bergamo <bergamo86@gmail.com>
escreveu:

[2019-10-04 11:32] halilozel1903 opened #6509 "How to change color in the player?"
`app:played_color="#401955"`

I'm using in layout but it doesn't change color.

Help me please

[2019-10-04 13:05] gvidda commented on #6348
We are experiencing - what probably is - the same issue with widevine drm, but with video tracks that are 720p50fps. They work fine unencrypted.

Iv'e done several tests with one problematic device, Xiamo Mi A3 (with Android One). Changing between L1/L3 does nothing. The only thing that helps is disableing the audio renderer (for some reason)

There's also an old issue from last year about this, b

[2019-10-04 13:56] kim-vde commented on #6508
It seems the media is malformed. The box of type mdat starts at offset 18041 while the udta box indicates that is should start at offset 18039.

We don't know how the other players overcome this. Feel free to fix this if you have any idea.

[2019-10-04 14:13] matamegger commented on #6348
@christosts
I will check back on the assets, and provide you the renderTimeStamp change asap.

[2019-10-04 15:01] kim-vde commented on #6503
Sorry but this is not the kind of bug report that I need. Please generate the bug report with `adb bugreport` (as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md)).

I don't see the device name in the csv file you sent. Note that it is not the same as the device model.

[2019-10-04 15:22] kim-vde commented on #6484
I don't think the issue is in ExoPlayer.

Indeed, if you download the video file, push it to the device (e.g. `adb push <your file>.mp4 /sdcard`) and read it from there (e.g. using uri `/sdcard/<your file>.mp4`in the demo app), the video starts much faster.

It is probably not due to your Internet connection either because the video is slow to start for me as well (about 2 to 4 seconds).

I would

[2019-10-04 16:55] lucazin commented on #6484
Hi kim!

Exactly!  The problem happens when i load video from URL,  because the user
scroll the recycle and load the video.. or click to watch video in some
intent process.. but from sdcard is OK.. but we not cache all videos before
in cache and after
play in exoplayer... we need to use the main exoplayer function  load video
faster and playing while still loading..   And exoplayer is the best too

[2019-10-04 17:15] AquilesCanta commented on #6507
The seeking window contains whatever the media playlist advertises. So, you'll need to fix this on the server side, by extending the live window. We don't currently support recording live streams. Track #3877 for more info on downloading live streams.

[2019-10-04 17:15] #6507 closed, assigned to AquilesCanta

[2019-10-04 19:13] AquilesCanta commented on #6482
@anjaneesh Would you mind taking a look?

Relevant internal refs: b/144421854, b/124858880.

[2019-10-05 14:48] mitab86 commented on #6465
Here is the log report I got after using `EventLogger`. Sorry if something is wrong with Debugging
[code]

[2019-10-05 17:37] x0rb0t opened #6511 "PlayerView attach/detach Memory Leak"
### Issue description
Memory leak when the PlayerView is detached and re-attached to window
It usually happens when PlayerView is used in RecyclerView
Memory usage grows each time when prepare() called after PlayerView was detached and attached from window

### Reproduction steps
Demo app without using RecyclerView:
https://github.com/x0rb0t/ExoPlayerMemoryLeak

Memory usage log if PlayerView is r

[2019-10-06 01:03] #6372 closed, assigned to ojw28

[2019-10-06 07:06] lupin4th commented on #474
@stevemayhew
I use apple's sample url(https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8).

As you said I turn off Audio
[code]
and Set playback speed
[code]

Then I checked selectedPlaylistUrl in getNextChunk method(HlsChunkSource.java).

However, it has not been changed to i-frame url.

[2019-10-06 07:24] Navidhp opened #6512 "Hls MediaCodec Error in Android 6 API23"
hi , we have this error while running HLS on android api 23 , is this error because of HLS format or exoplayer ? how can we fix it ?
thanks!
[code]

[2019-10-06 18:24] sunilkumarjena21 opened #6513 "How to extract timed metadata from HLS stream?"
[REQUIRED] Searched documentation and issues
I've searched through the ExoPlayer [issues](https://github.com/google/ExoPlayer/issues/5936) , and I've done some R&D & experimentation using different streams including Apple's test stream (http://devimages.apple.com/samplecode/adDemo/ad.m3u8).

[END RESULT OF ALL EXPERIMENT]:

- Apple's test stream (http://devimages.apple.com/samplecode/adDemo/ad.m3u

[2019-10-06 18:38] ojw28 commented on #6513
This stream works fine for me (and outputs metadata as expected). Note that you'll need to add `android:usesCleartextTraffic="true"` to the `application` element of your `AndroidManifest.xml`, since it's using `http` rather than `https`.

Does this stream contain ID3 metadata, which is what we support (and is what the Apple test stream contains)? Note that `EXT-X-CUE-IN` and `EXT-X-CUE-OUT` are no

[2019-10-06 18:39] ojw28 commented on #6511
Have you managed to reproduce this on any real device? If not, I suspect this is an emulator bug rather than a problem with ExoPlayer.

[2019-10-06 18:40] ojw28 commented on #6509
It's very unclear what this question means. What colour are you trying to change?

[2019-10-06 18:42] ojw28 commented on #6512
Please provide [complete information as requested in the issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) (please post it here, rather than filing a new issue). Thanks!

[2019-10-06 19:03] sunilkumarjena21 commented on #6513
Hello @ojw28 ,
Thanks for your quick response :)

Apple's test stream (http://devimages.apple.com/samplecode/adDemo/ad.m3u8) - Now this stream  is playing perfectly fine in Exoplayer after adding the `http` convention

Only the below call back method is triggering when used the above `Apple's test stream`
But other two callback ` onCues` & 'onTracksChanged' not triggering.

`  @Override
  public v

[2019-10-06 19:27] ojw28 commented on #6513
Why are you expecting these to be triggered? The former is related to subtitles and is documented as such. The latter is related to tracks changing, which isn't something that happens for the test stream. Metadata is output via `onMetadata`, which you're seeing is being fired correctly.

[2019-10-06 19:35] sunilkumarjena21 commented on #6513
Hi @ojw28 ,
Thanks for your expedite support.

Can you please answer the later part of our query.
Actually we need your guidance on` client side in-stream ad insertion.`

[REQUIRED]Question:-
Would be great if you could suggest the process to implement client side in-stream ad insertion, when we hit this metadata ID3 event.
Curently we want to have a demo using the above Apple's test stream.

Note

[2019-10-07 04:09] lupin4th commented on #474
I changed adapativeTrackSelection canSelectFormat method

[code]
As above, the selectedPlaylistUrl changes when the speed is more than 8x.

However, error occurs as shown below.
[code]

[2019-10-07 06:19] halilozel1903 commented on #6509
![Screenshot_1570429010](https://user-images.githubusercontent.com/22895813/66288794-4e46e500-e8e3-11e9-890d-fcca9808565d.png)

@ojw28 I want to change the color of the player field
default color : blue

[2019-10-07 08:04] chima94 commented on #6287
App keep crashing with the error message getapplication() cant be cast to DemoApplication

[2019-10-07 08:57] ojw28 commented on #6509
Setting `app:played_color="#401955"` on `PlayerView` works fine for me.  Note that for this to work, you must be using ExoPlayer 2.10.2 or later.

[2019-10-07 09:17] kim-vde commented on #6484
I don't have enough information at the moment to investigate this issue. It is unclear whether anything is wrong. I need evidence that there is an issue and that it is linked to ExoPlayer.

[2019-10-07 09:34] ojw28 commented on #6509
Closing on the assumption that you're using an earlier version of ExoPlayer, and that's why it's not working for you. Note that you may also want to adjust `app:scrubber_color`, `app:buffered_color` and `app:unplayed_color` to get things looking the way you want them.

[2019-10-07 09:34] #6509 closed, assigned to ojw28

[2019-10-07 10:25] Deepak1202 opened #6514 "Player does not react when stream changes on same url for RTMP live video"
[REQUIRED] Issue description
Playing a RTMP link which plays a live feed and in sometime stream gets ended and starts a new live video on same url, but player doesnot react this change and when stream changes it gets stuck in buffering state.

[REQUIRED] Reproduction steps
Start a RTMP stream and stream a video and after sometime stop the stream and start a new one on same url.

[REQUIRED] Version

[2019-10-07 10:50] getyoteamsolutions opened #6515 "getCurrentContentText() and getCurrentContentTitle() blink previous notification text"
I use Exo player for a meditation app. when user play any song I change title and description of notification via PlayerNotificationManager getCurrentContentTitle() and  getCurrentContentText().

So issue is while playing one song and start another song at that time. Song replace to new one and change its getCurrentContentTitle() and  getCurrentContentText() but when I pause/play via notification

[2019-10-07 10:56] halilozel1903 commented on #6509
@ojw28 thanks for help

[2019-10-07 11:30] ojw28 commented on #6513
First, it should be noted that Apple's test stream is an example of server-side ad insertion. The purpose of the ID3 metadata is simply to indicate to the client when the ad starts and ends (and progress within it). It's not intended that the metadata be used for actually triggering a client-side ad to be inserted.

ExoPlayer's main demo app has additional examples that demonstrate mid-roll ad ins

[2019-10-07 12:45] avalanchas opened #6516 "Crash: DownloadManager Assertion fails for STATE_DOWNLOADING"
### Issue description
In our project, we currently see a crash in the exoplayer `DownloadManager`, when starting the download of a Podcast Episode. Let me give you the crash snippet and my suspicions first, more details below
[code]
After accounting for Proguard, that's this line:
![grafik](https://user-images.githubusercontent.com/6008266/66312286-b06a0f00-e910-11e9-8ef3-379752e97d42.png)

It is

[2019-10-07 13:44] lucazin commented on #6484
I see..

but you check how long server response to exeployer?  because for you have
this lag too..
Help me my friend plz

Em seg, 7 de out de 2019 às 06:18, kim-vde <notifications@github.com>
escreveu:

[2019-10-07 13:58] kaazvaag commented on #6343
After some research I discovered that this issue has been on the ShieldTV in combination with exoplayer since a few YEARS.
https://forums.plex.tv/t/live-tv-starts-to-skip-or-drop-frames-after-10-or-so-minutes-on-shield-tv/195165
@marcbaechinger Is it possibe to fix this issue?

[2019-10-07 14:09] marcbaechinger commented on #6515
In general, each time a notification needs to be created/updated the `PlayerNotificationManager` calls you `getCurrentContentTitle()` method and then creates the notification with that `data`. The manager does not cache something, but directly uses what the `MediaDescriptionManager` returns.

How do you change from one media item to the other? By calling prepare with the new media source?

How doe

[2019-10-07 14:16] ojw28 commented on #6343
@sureshcnvidia @IanDBird - I don't suppose either of you have insight into this issue, do you?

[2019-10-07 15:14] matamegger commented on #6348
Regarding the "renderTimeStamp". It's basically something like the following patch shows.
With this change in the `MediaCodecVideoRenderer` the Surface will (according to the [doc](https://developer.android.com/reference/android/media/MediaCodec#releaseOutputBuffer(int,%20long))) not drop any frames and renders them as fast as possible.
[code]

Note: This is only executed on devices API >= 21

[2019-10-07 15:36] #6297 closed, assigned to ojw28

[2019-10-08 01:30] theboubougne opened #6517 "User agent ignored after a redirection occurs while streaming"
When using ExoPlayer to stream a content, the useragent I set is properly send in the header, but if there's a redirection like with the following file: http://traffic.libsyn.com/businesslunch/Can_You_Axe_Your_Limiting_Beliefs_To_Get_What_You_Really_Want__With_Roland_Frasier.mp3?dest-id=884264
Then after the redirection occurs the default 'OkHttp' user agent is used
How can we fix this

[2019-10-08 01:33] #6517 closed, assigned to nobody

[2019-10-08 09:56] christosts commented on #6514
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2019-10-08 10:44] christosts commented on #6348
@matamegger

thanks. If you can check the content links (they are returning 404) and provide working links, I will try to repro and come back with findings.

[2019-10-08 12:26] christosts commented on #6516
Hi @avalanchas,

thank you for submitting details of the bug. I'd appreciate if you can provide more details on what your app does, and a bug report or logcat when the error happens (here or by mail at dev.exoplayer@gmail.com with this issue's number on the subject). Please see analysis and questions below.

Looking the code, the fields

[code]

in `InternalHandler` seem to be accessed only by the

[2019-10-08 13:07] sunilkumarjena21 commented on #6513
Hi @ojw28 ,
Thanks for your valuable suggestion on the custom requirement part :)
As per your suggestion,I have successfully implemented the mid-roll ad insertion using the ima-demo as documented [here](https://exoplayer.dev/demo-application.html#enabling-interactive-media-ads).

- Requirement is to play multiple mid-roll ads till the duration or the end time received from the `Metadata` .So that

[2019-10-08 13:13] takizuki opened #6519 "extractor to decode raw H264 video stream"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/3503
https://github.com/google/ExoPlayer/issues/5175
https://github.com/google/ExoPlayer/issues/5604
https://stackoverflow.com/questions/50217980/how-to-play-raw-nal-units-in-android-exoplayer

### [REQUIRED] Question
I've implemented raw H.264 stream decoder by using MediaCodec directly.
I'm implementing E

[2019-10-08 13:59] ojw28 commented on #6513
As above Apple's test stream is an example of server-side ad insertion. The ad is already inserted directly into the content (it might not look like an actual ad, because it's a test stream).

Closing, since I don't think these questions are directly related to ExoPlayer.

[2019-10-08 13:59] #6513 closed, assigned to ojw28

[2019-10-08 15:17] ojw28 commented on #6465
To correct an earlier point, I don't think the device is provisioned. It's provisioning that's failing with a 404 response code here:

[code]

I would suggest that you:

1. Make sure your `executeProvisionRequest` behaves exactly like the `HttpMediaDrmCallback` implementation (just copy and paste from `HttpMediaDrmCallback` into your custom callback implementation). You can keep your custom implem

[2019-10-08 16:44] ened commented on #3609
@AndroidDeveloperLB @mhabzda some sample code in my project is available here: https://github.com/ened/flutter_plugin_media_info/blob/master/android/src/main/java/asia/ivity/mediainfo/MediaInfoPlugin.java#L139-L188 .
It uses the technique mentioned by @andrewlewis, but comes with the full initialisation of a player instance.

[2019-10-08 18:44] utwyko commented on #6493
Yes all items should always we be treated as one and are displayed in the UI as such. The reason why they're divided up into separate items is so we can insert personalised content into the audio streams (which are not visible in the UI). #4868 sounds interesting, and we'll gladly get rid of our special seek dispatching.

Thanks for your help. I'm fine with closing this ticket and watching #4868.

[2019-10-08 20:00] #6501 closed, assigned to ojw28

[2019-10-08 20:11] szaboa commented on #6284
Is this open for external contribution, or someone is already doing this?
I've found this really interesting and started to work on this, however I am not sure if I am on the right track. You can find the commit [here](https://github.com/szaboa/ExoPlayer/commit/8507f26185fe26dc75642aeb56e82ffb3cafafba
).

So, I've followed the approach as the bandwith meter is implemented (or at least tried) and w

[2019-10-08 20:41] ojw28 commented on #6284
As alluded to earlier, I'm fairly skeptical of the kind of solution being proposed in https://github.com/google/ExoPlayer/issues/6284#issuecomment-530276736. A simple rule like switching to the lowest bitrate when reaching thermal status X feels like it wont give the best behaviour in all circumstances. In particular, if we're able to play a higher bitrate without any user visible degradation in t

[2019-10-08 22:14] weivincewang commented on #6284
Yes, that doable if performance degradation can be detected reliably, maybe need some thing to filter like PID control.

Providing a best UX is top interest from app, and I fully understand, on the other side, being a good citizen to help system recover from overheating is another thing. (but yes, thermal can be resulted from something else, even external heat source)
Anyway,  we are trying to pla

[2019-10-09 01:07] #6344 closed, assigned to ferglezt

[2019-10-09 04:49] krackjack234 commented on #6490
Hi Team @kim-vde / @ojw28 / @andrewlewis ,  did you get a chance to investigate this issue?

[2019-10-09 05:10] ZTMIDGO opened #6520 "Exoplayer development music player does not support Ape format"
I recently used Exoplayer to develop a music player, but I found that Exoplaye does not support the Ape format. Even though I have extended Ffmpeg, flac, and opus to Exoplayer, I think Exoplayer should support Ape. MediaPlayer supports more audio formats than Exoplayer.

[2019-10-09 06:55] getyoteamsolutions commented on #6515
This is code for playing audio
[code]

[2019-10-09 06:56] szaboa commented on #6284
@ojw28 You are right, I see your point.

[2019-10-09 07:39] Navidhp commented on #6512
@ojw28 this is my misteak because stream provider generate disposable link and exoplayer could not get next chunk and this error occurs ! thanks

[2019-10-09 07:39] #6512 closed, assigned to ojw28

[2019-10-09 07:54] andrewlewis commented on #6520
#3751 tracks adding support for APE.

If you are thinking of other formats apart from APE, it would be nice if you could list the ones you're interested in having support for in ExoPlayer. Thanks.

[2019-10-09 10:21] sharish commented on #6381
@ojw28 Thanks for procuring and trying to figure out the issue. Unfortunately, we are also not able to reproduce the issue since the day you commented. I assume some silent patch has been done from Vivo as we have not done any os upgrade.

Also to note that our analytics indicate that the error rate from this device, for this reason, dropped from ~280 per day to ~30 per day gradually. I assume tha

[2019-10-09 10:21] #6381 closed, assigned to ojw28

[2019-10-09 10:31] tipoc123 commented on #6475
Any news?

[2019-10-09 10:49] busylee999 commented on #5978
Is there are any update?

[2019-10-09 10:53] ZTMIDGO commented on #6520
Thank, can you give me some alternatives?

[2019-10-09 11:01] ZTMIDGO commented on #6520
Thank, I check if there are other alternatives

[2019-10-09 11:02] #6520 closed, assigned to andrewlewis

[2019-10-09 11:14] christosts commented on #6519
I see that you have already found similar issues describing a similar situation. May I ask if you are something different than the issues already listed, and if yes, what exactly?

[2019-10-09 11:28] christosts commented on #6449
Have you considered using an [`AnalyticsListener`](https://github.com/google/ExoPlayer/blob/35e030f56b4e3312e863e44a1e8fe27aef4310b7/library/core/src/main/java/com/google/android/exoplayer2/analytics/AnalyticsListener.java) which provides callbacks like
- [`onLoadStarted`](https://github.com/google/ExoPlayer/blob/35e030f56b4e3312e863e44a1e8fe27aef4310b7/library/core/src/main/java/com/google/androi

[2019-10-09 12:14] sonahovhannisyan commented on #6461
Thank you guys for the answer and sorry for my late response. Unfortunately achieving this with using activity's orientation setting resulted to loose the rotation functionality later, which was the reason I was curious if ExoPlayer could offer similar functionality from inside it's engine. But I ended up with just hardcoding the orientation in landscape mode, which is good for now. So I'm closing

[2019-10-09 12:14] #6461 closed, assigned to icbaker

[2019-10-09 13:02] AndroidDeveloperLB commented on #3609
@ened Sadly now that Android Q isn't nice to file path, I think you should provide an alternative, that uses Uri or InputStream.
Can you please make a repository that shows only this? Meaning of metadata extraction without playback ?

[2019-10-09 13:19] jakoss opened #6521 "androidx.media2 usage with ExoPlayer"
### Searched documentation and issues
I searched in issues and in code directly

### Question
I'm trying to use some library (that is using `androidx.media2`) within existing app based on ExoPlayer and it's integration with `androidx.legacy:legacy-support-v4`.

In [media 2 documentation](https://developer.android.com/jetpack/androidx/releases/media2) there is a statement `Media2 is the next genera

[2019-10-09 13:25] cle-bo commented on #3750
+1

[2019-10-09 15:02] stifutkin opened #6522 "Buffering for radio"
The server allows to request only the last 5 seconds of the stream. How can I create a 30s buffer even if the user has to wait 25s before starting playback?

[2019-10-09 15:18] kim-vde commented on #6484
We have mp4 samples in the demo app that are on Google Cloud Storage and start playing after 1 or 2 seconds (e.g. Misc > Screens 1080p video (FMP4,H264)). You should try putting your sample there to see if it improves the start time. Please note that an unoptimized configuration of the server (e.g. geographic region) could be the cause of a slow response.

I will close the issue because we don't h

[2019-10-09 15:19] #6484 closed, assigned to kim-vde

[2019-10-09 15:30] matamegger commented on #6348
Mailed you a new set of assets.

[2019-10-09 15:47] AlienAsRoger commented on #6432
It does work, but we would prefer to have example in ExoPlayer Demo project that would be maintenaned by Google/ExoPlayer team, so anytime something won't work on our side, we would have source of truth.

Another point is to have this under ExoPlayer example is to test compatibility with Android SDK versions. For example we updated to targetSdk version 29, and companion banner isn't showing up pro

[2019-10-09 16:12] christosts commented on #6516
Hi @avalanchas,

I investigated this further to see if it is possible to add downloads with state `STATE_DOWNLOADING` from `InternalHandler.initialize()`. The code does make sure to change the state from `STATE_DOWNLOADING` to state `STATE_QUEUED` before it loads the database [here](https://github.com/google/ExoPlayer/blob/35e030f56b4e3312e863e44a1e8fe27aef4310b7/library/core/src/main/java/com/goo

[2019-10-09 16:48] andrewlewis commented on #6521
We plan to publish an extension that connects media2's `SessionPlayer` interface with ExoPlayer, allowing you to use ExoPlayer with a media2 `MediaSession` and media2 widgets. I'll mark this as an enhancement for now so you can track the status of that.

As far as other existing library modules are concerned, in the short term we don't have plans to make them depend on media2. Over the coming year

[2019-10-09 17:03] andrewlewis commented on #6432
It sounds strange that this would break when changing targetSdkVersion to 29. Can you reproduce the same thing with the IMA SDK sample app? As regards this feature, I can't think of anything obvious we're doing that could make a difference.

[2019-10-09 17:06] fgl27 commented on #6522
you can technically override [DefaultLoadControl setBufferDurationsMs](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.Builder.html#setBufferDurationsMs-int-int-int-int-)

example
https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/trackselection/BufferSizeAdaptationBuilder.java#L245

and set **minBufferM

[2019-10-09 18:57] marcbaechinger commented on #6515
From reading the code above I think that it could be that the first PlayerNotificationManager is leaking. So when you prepare the second the old one is still there and the these two are competing with updating the notification.

To verify my guess you could do something like this:

[code]

The same actually applies for the `MediaSesssionConnector`:
[code]

In general I would try another approach t

[2019-10-09 21:27] hbofolts1 opened #6523 "Support legacy E-AC-3 scheme id uri in dash manifests"
### [REQUIRED] Use case description

I am attempting to parse dash manifests that have a schemeIdUri attribute value of `urn:dolby:dash:audio_channel_configuration:2011` within the `AudioChannelConfiguration` element. The `DashManifestParser` implementation does not look for this value.

https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/so

[2019-10-10 06:11] krackjack234 commented on #6490
Issue is seen in 2.9.5 and 2.9.3 also @andrewlewis

[2019-10-10 07:05] avalanchas commented on #6516
Just letting you know that I read your answers with gratitude and am thoroughly investigating in the meantime, please don't take my silence as ignoring this, I'm just not the fastest coder :D

[2019-10-10 07:14] Deepak1202 commented on #6514
I have updated the question in required format.

[2019-10-10 07:30] andrewlewis commented on #6490
Sorry for the delay. I think this might have the same cause as #4140. There is a bug in the IMA SDK that only occurs when using preloading, where some state that tracks whether an ad has started playing is lost when backgrounding/resuming (in this case, due to following a 'learn more' link). I've verified this is fixed in an upcoming release that should be available soon.

[2019-10-10 07:32] andrewlewis commented on #6490
Given your additional point about touch events not being delivered properly, which I don't think was seen on #4140, I'll actually leave this open to verify on the upcoming IMA SDK release.

[2019-10-10 08:03] krackjack234 commented on #6490
Hi @andrewlewis  Thanks for the update. In exoplayer v2.9.6, how can we disable ima preload from outside the player and verify if the issue is not reproducible?

[2019-10-10 08:09] andrewlewis commented on #6490
The extension relies on preloading so I'm afraid there isn't a way to disable it. You could try playing your ad tag in the IMA SDK sample app to eliminate the possibility that something is misconfigured there.

[2019-10-10 08:13] krackjack234 commented on #6490
@andrewlewis  Is it possible to let us know what is misconfigured in the ima tag: "https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/423477888/SonyLiv/SonyLiv_Pre-Roll_Android&ciu_szs=1440x240,1440x400,1440x720&impl=s&gdfp_req=1&ad_rule=1&env=vp&output=vmap&unviewed_position_start=1&url=com.sonyliv&description_url=https://www.sonyliv.com&correlator=1234&vid=5586144157001&cmsid=2461245&cus

[2019-10-10 08:18] muganda opened #6524 "DASH: Support http-head:2014 UTCTiming scheme"
### [REQUIRED] Searched documentation and issues
I have looked at the previously reported issues on ExoPlayer and on stackoverflow as well.

### [REQUIRED] Question
I am working with live streams from a streaming provider in DASH format. The manifest file includes UTCTiming schemeIdUri="urn:mpeg:dash:utc:http-head:2014".

### A full bug report captured from the device
[code]
### Link to test conte

[2019-10-10 09:28] andrewlewis commented on #6490
I doubt it's misconfigured, but I was just suggesting checking to eliminate the possibility. You could try using the [IMA SDK advanced sample app](https://github.com/googleads/googleads-ima-android/tree/master/AdvancedExample) and make sure it plays properly there.

[2019-10-10 10:31] Surendra7878 commented on #6449
I considered using [AnalyticsListener](https://github.com/google/ExoPlayer/blob/35e030f56b4e3312e863e44a1e8fe27aef4310b7/library/core/src/main/java/com/google/android/exoplayer2/analytics/AnalyticsListener.java) but it provides callbacks while loading the video in exoplayer, but I need to know the actual time it took to download a video, protocol type, network layer exceptions(if any) which I can

[2019-10-10 11:02] ddicaro commented on #6503
i sent an email with more information

[2019-10-10 11:11] ddicaro commented on #6503
I got the file (bugreport.txt) with `add bugreport` command (see screenshot). I have also attached the screen taken from Android studio. Are there any other information you need?

Unfortunately in my analytics system at the moment the `android.os.Build.DEVICE` is not present but only `android.os.Build.Model`. Is there a way for this information to be sufficient?

[2019-10-10 11:28] christosts commented on #6514
Hi @Deepak1202,

I have performed some basic tests with RTMP on a Lollipop device (**not** a Fire Stick). At this point, may I ask you to:
- provide me with the RTMP link that is causing the behavior you are observing
- clarify exactly what is happening: the ticket title says "stream changes on same url" and the ticket description mentions to start and stop. Is it that you start streaming, then ex

[2019-10-10 12:17] MuthuKrishnanO opened #6525 "Udp stream mpeg-l2 audio not play in Exoplayer"
[code]

[2019-10-10 13:49] mitab86 commented on #6465
Thank you @ojw28 that did solve my problem. Have a good day.

[2019-10-10 14:22] avalanchas commented on #6516
Hi Christos, thank you so much for your input. Your comment about where the call originates, the `InternalHandler.initialize()` hints and the `volatile` are absolutely correct. And yes, the latter I should've figured out myself, and hell yeah I do hope it's not a race condition, it just looked like one to me at first glance.

No, I'm not using the `DefaultDownloadIndex`. Going by [this](https://ex

[2019-10-10 14:30] ArcherEmiya05 opened #6526 "IMA Extension Ads Not Working"
## [REQUIRED] Issue description
The VAST ads from IMA SDK Google page sample are working fine, but after a few weeks or months the player no longer finish the buffering. No ads no actual video is playing. The suspicious part here is when I clear the data or cache then uninstall and reinstall the app it works again even with CORS message on logs. What I speculate is the IMA SDK is being cache or ha

[2019-10-10 14:45] cle-bo opened #6527 "Can I play ads in the period of"
Hello and thanks for your time...

The required fields are below, but here's a short introduction:

I started to develop a new app - I have to admit that I am new to android app and exoplayer but have experience as a java developer - for an android TV-Box (beelink GT1) that downloads media to a SD Card (short videos of 2 to 10 minutes in length), plays it 24/7 and the playback is interrupted every

[2019-10-10 15:29] christosts commented on #6516
Hi Patrick,

when you say

I understand that you are passing your own implementation of a [WritableDownloadIndex](https://github.com/google/ExoPlayer/blob/35e030f56b4e3312e863e44a1e8fe27aef4310b7/library/core/src/main/java/com/google/android/exoplayer2/offline/WritableDownloadIndex.java) in the DownloadManager constructor, is that right?

In that case, I would check your implementation of the `Wri

[2019-10-10 16:07] christosts commented on #6348
Hi Matthias.

An update:

When tested with a Galaxy S7 (SM-G930F), I can see frames being dropped by the player at 60fps at the highest bitrate track. I will work on that to see why the player drops frames.

Apart from that, there is the issue for frames being dropped by the surface and not the player.
May I ask  _how observable is the problem in this case_?

For example, in the test content I can

[2019-10-10 16:13] AlienAsRoger commented on #6432
Their IMA SDK Sample doesn't have exact use case. It doesn't render 300x250 ad unit as companion ad banner. It only counts for 320x50 companion ad banner. If I modify their example to render 300x250 ad unit, then it's not working properly.

I don't know what might be different in this case, but it seems like IMA extension for ExoPlayer works different comparing to their sample, as it result in bla

[2019-10-10 18:03] sofijajvc commented on #3353
ExoPlayer AV1 extension has now been published. You can read more about the extension [here](https://medium.com/google-exoplayer/playing-av1-videos-with-exoplayer-a7cb19bedef9).

[2019-10-10 18:03] #3353 closed, assigned to sofijajvc

[2019-10-10 18:15] matamegger commented on #6348
Yes, depending on the device the "main content" is not glitching, on older or weaker phones the main content also has glitches, but in this case the glitches might be expected due to the processing power of the devices.
The glitches can be observed the best in the news ticker. Which should run smoothly (The glitches are not an effect of encoding or the content).

Depending on the device either exo

[2019-10-10 19:30] x0rb0t commented on #6511
No, this bug I've managed to reproduce only on the Emulator.

But I found some other problem on real device with very high memory usage with two instances of 4 second video (SampleQueue$AllocationNode retained size 62 923 178 476 (sic!), ExoPlayerImpInternal retained size 459 379 314). I will open issue when get more info.

[2019-10-10 20:39] victorraft opened #6529 "Update IMA dependency to the latest version (3.14.0)"
Hi, could you please update the IMA dependency used by the IMA Extension?
I already tried forcing the latest version, but it has breaking changes (some interface method signatures changed) and the player crashes during runtime.

[2019-10-11 01:07] #6435 closed, assigned to AquilesCanta

[2019-10-11 06:06] avalanchas commented on #6516
Hi Christos, no, I don't have my own implementation, I use the other constructor for the `DownloadManager` at the moment, as you can see in the code above, not using a `WritableDownloadIndex` but instead a `DatabaseProvider`:
[code]
I'll check today if I can find some more documentation on the difference between these two approaches, because I'm definitely not above changing that if you say using

[2019-10-11 07:21] christosts commented on #6516
Alright, thanks for clarifying that.

In order to verify one possible cause of your bug, can you please do the following: debug (just add a print/log) what the `downloads` list contains after [these](https://github.com/google/ExoPlayer/blob/35e030f56b4e3312e863e44a1e8fe27aef4310b7/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadManager.java#L696-L698) lines inside `Interna

[2019-10-11 07:25] avalanchas commented on #6516
Just to clarify, since there are no getters and we don't want to rely on the reflection, that means I'll have to build my own exoplayer aar from the repo and depend on it in the app, right?

[2019-10-11 07:54] jmimohsin opened #6530 "New devices black screen issue after playing few videos"
I am unable to resolve this bug from 4 days so I need to post it here. I have two devices OPPO F11 Pro and Honor 6X. I am getting black screen problem after playing videos. My app is in beta in app store, just play some video around 8-12 videos then back to previous videos. Once black screen come no single video will start playing.

Beta Version:- https://play.google.com/store/apps/details?id=code

[2019-10-11 07:56] andrewlewis commented on #6529
Please follow #6429.

[2019-10-11 07:56] #6529 closed, assigned to andrewlewis

[2019-10-11 08:00] jmimohsin commented on #6530
Note:- I have already read multiple instances exoplayer issue..I am just releasing in onStop and onPause:-

[code]

[2019-10-11 08:34] jtreveset commented on #6348
Hey there. We've also been facing exactly this issue. I agree with @ojw28 in that in order to really fix this problem, multithreaded rendering is required. I noticed that changing the time interval between rendering loops helps a bit. The delay is hardcoded to be 10ms, changing it to 0 definitely helped us.

[code]

With this change, some frames are still dropped depending on the device used thoug

[2019-10-11 08:40] kim-vde commented on #6503
The command you should execute is _ad**b** bugreport_, and not _add bugreport_. Where did you attach the screenshot?

[2019-10-11 08:55] ddicaro commented on #6503
I sent an email to dev.exoplayer@gmail.com. Yes, the command that I executed is `adb bugreport`. Inside message the automatic corrector changed the value writed

[2019-10-11 09:46] chiragpindianic commented on #6264
@ojw28 Can you please look at this and lead me in the right direction? I'll really appreciate if you can guide me forward on this.

[2019-10-11 10:01] jianlin00000 opened #6531 "Video freeze when play m3u8"
### [REQUIRED] Issue description
The player load the first frame and then the video freezed. The url which I play is "http://10.20.63.222:1977/hls/3_VN_FOX_MOVIES_HD.m3u8"

### [REQUIRED] Link to test content
"http://10.20.63.222:1977/hls/3_VN_FOX_MOVIES_HD.m3u8"

### [REQUIRED] Version of ExoPlayer being used
The version 2.9.2 and other new version such as 2.10.2 are all occured.

### [REQUIRED]

[2019-10-11 10:32] ojw28 commented on #6524
We don't currently support this type of `UTCTiming` element (why there needs to be 4 different ways of doing this is really beyond me!).

In order for us to test any support we do add for it, could you please provide a test stream as requested in the issue template? Thanks!

[2019-10-11 10:52] ojw28 commented on #6511
I filed https://issuetracker.google.com/142528714 to track what's likely a memory leak in the emulator implementation. I will close this one. Thanks!

[2019-10-11 10:52] #6511 closed, assigned to ojw28

[2019-10-11 10:59] christosts commented on #6531
The test content

"http://10.20.63.222:1977/hls/3_VN_FOX_MOVIES_HD.m3u8"

points to a private IP address that is private and only accessible from your local network. Please provide a link that is accessible from the public internet.

[2019-10-11 11:44] christosts commented on #6530
Hi @jmimohsin.

I tested your app on an Android Oreo. I am seeing on the logs multiple Init calls and they don't match with the amount of Release calls logged; In combination with you traces, I assume there are player instances that have not release the codec resources properly.

Can you please take a look at the ExoPlayer's [demo app](https://github.com/google/ExoPlayer/blob/35e030f56b4e3312e863e

[2019-10-11 11:50] christosts commented on #6525
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2019-10-11 11:55] jmimohsin commented on #6530
This is my Full screen activity, small player activity have above onPause and onStop:-

[code]

[2019-10-11 11:58] imfondof opened #6532 "can't play mp4 (Unexpected exception loading stream)"
exoplayer:
2.7.0

url:
http://filesystem1.bbtree.com/2019/10/11/cms/5673cc33-eeb8-440d-aeae-f30900b7b0fe.mp4

error:
 E/LoadTask: Unexpected exception loading stream
    java.lang.IllegalArgumentException
        at com.google.android.exoplayer2.util.Assertions.checkArgument(Assertions.java:37)
        at com.google.android.exoplayer2.extractor.mp4.AtomParsers.parseStbl(AtomParsers.java:264)

[2019-10-11 12:01] imfondof commented on #6532
can play in google and mediaplayer, but can't paly in exoplayer

[2019-10-11 12:08] kgrevehagen opened #6533 "Custom build type fails provisioning for DRM"
### [REQUIRED] Searched documentation and issues
exoplayer.dev
GitHub issues
Various javadocs

### [REQUIRED] Question
I created a custom build type for my builds such that I can run DRM side-by-side with our market version for testing purposes, so I did the following in our `build.gradle.kts`:
[code]

This somehow results in the app not being provisioned for DRM. If I change the `applicationIdSuf

[2019-10-11 12:18] ashish-dhiman commented on #6532
I added  android:usesCleartextTraffic="true" inside application tag in manifest. I was getting : Android 8: Cleartext HTTP traffic not permitted. Works in my exoplayer sample.

![image](https://user-images.githubusercontent.com/38856909/66650917-5f7b5300-ec4f-11e9-88ed-fcbab058c16f.png)

[2019-10-11 12:31] imfondof commented on #6532
thank you ! i will try

[2019-10-11 12:43] ashish-dhiman commented on #6532
public class MainActivity extends AppCompatActivity implements EventListener{

    private SimpleExoPlayer player;
    private DefaultDataSourceFactory defaultDataSourceFactory;
    private MediaSource mediaSource;
    private SimpleExoPlayerView playerView;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.

[2019-10-11 13:09] christosts commented on #6530
This looks similar to #5582.

Can you please attempt the two steps asked in #5582?
- try initializing the player on the app main thread (see [1](https://github.com/google/ExoPlayer/issues/5582#issuecomment-468584307) and [2](https://github.com/google/ExoPlayer/issues/5582#issuecomment-469331547)
- get the output of `adb bugreport` when this occurs (see [1](https://github.com/google/ExoPlayer/issue

[2019-10-11 13:25] jmimohsin commented on #6530
Are you talking about like this:-

[code]

Added in both video activities. Now no player is getting stop and crash after some time.

[2019-10-11 13:26] ojw28 commented on #6175
Sorry for the delay responding to this. I'm not sure I quite follow what you're doing. Are you then adding the `ClippingMediaSource` instances to a `ConcatenatingMediaSource`? If so, the player should start to per-buffer the next item before the current one ends.

Please clarify your use case and provide more concrete information. Thanks!

[2019-10-11 13:30] kgrevehagen commented on #6533
**Update:** I got it working by running the code that is in `executeProvisionRequest()` in the `HttpMediaDrmCallback`. I have a custom DrmMediaCallback, that's why this didn't run by default.

So, the question still remains, is this expected behavior, that it should not work without provisioning manually when we have something other than debug or release build type?

Also, are there other cases wh

[2019-10-11 13:31] jmimohsin commented on #6530
I don't know about adb bugreport ...how to do this?

[2019-10-11 13:40] jmimohsin commented on #6530
No player is getting stop and crash issue is occouring here at player.seekTo(0); player is null issue:-

[code]

[2019-10-11 13:42] jmimohsin commented on #6530
But I am able to listen multiple video sound that's mean no player is getting null. But why crashing for null for player... :(

[2019-10-11 13:46] andrewlewis commented on #6432
Are you saying that from API 29 the size of the companion slot view makes a difference to whether the companion ad shows up, while when targeting API 28 it shows in both cases?

[2019-10-11 13:52] andrewlewis commented on #6526
Could you elaborate on "What I speculate is the IMA SDK is being cache or having conflict with cache after prolong use.", and provide some more detail on the specific steps we'd need to take to reproduce the issue? I think it's likely that the IMA SDK JavaScript is getting cached but I'm not sure how this causes playback to get stuck buffering. Thanks.

[2019-10-11 14:10] tipoc123 opened #6534 "UDP Multicast latency"
### [REQUIRED] Issue description
ExoPlayer slowly loads some multicast streams (more than 5 seconds to move from STATE_IDLE to STATE_READY).

### [REQUIRED] Reproduction steps
Try to play the multicast stream from a dump.

### [REQUIRED] Link to test content
Dump:
[dump.zip](https://github.com/google/ExoPlayer/files/3717942/dump.zip)
The command for broadcast:
multicat -uU dump.ts 224.10.10.10:123

[2019-10-11 14:13] AquilesCanta commented on #6337
No, this is not correct, and I doubt this can be guaranteed in general. I don't think you should count on this happening. The reason is that the key acquisition information may be obtained when buffering starts, which does not necessarily happen close to mediaSource.prepare() (for example in the case of a concatenating media source, where the buffering position is before the item).

We will be wor

[2019-10-11 14:29] ojw28 commented on #4872
@MateusZitelli - Is this still an issue for you? If you have a device on which this problem reproduces, I'd suggest you try the following (one by one, not at the same time) in the demo app:

1. Try commenting out [this line](https://github.com/google/ExoPlayer/blob/r2.10.5/library/ui/src/main/java/com/google/android/exoplayer2/ui/spherical/SceneRenderer.java#L131). Please verify that the (now visi

[2019-10-11 14:49] christosts commented on #6530
Regarding adb bug reports: there is comprehensive guide [here](https://developer.android.com/studio/debug/bug-report)

I ran your application on an Android 8.0 device (Samsung Galaxy S7, had no issues), and see the following logs
[code]

I can see at least two different versions of the ExoPlayer reported, 2.4.2 and 2.5.2, and there are multiple events for Init but the Release events are fewer than

[2019-10-11 15:14] christosts commented on #6522
Hi @stifutkin

The response of @fgl27 is in the correct direction. Please try that and let me know if it worked. If you still need assistance, please provide me with an example of a manifest that

so that I can test and respond with more details.

[2019-10-11 15:18] christosts commented on #6527
Hi @cle-bo

With regards to the question

my understanding is that you have a predefined list of items and want to play an ad at predefined 5 minute intervals. You may achieve this by concatenating a series of ClippingMediaSources for the main content and regular media sources for your ad content:
- use a ClippingMediaSource to play a specified range of a media source, e.g. the first 5 minutes
- c

[2019-10-11 15:23] jmimohsin commented on #6530
I am using
[code]

If I changed it to implementation 'com.google.android.exoplayer:exoplayer:r2.4.2' does it solve the problem? I am using FB and Admob ad sdks.

[code]

Which is causing problem?

[2019-10-11 15:29] #6508 closed, assigned to kim-vde

[2019-10-11 15:37] jmimohsin commented on #6530
Personally I want to say, I am trying to resolve this issue from 4 days and going to sick now as I was thinking to publish my app but till now no hope.

[2019-10-11 15:47] #6334 closed, assigned to AquilesCanta

[2019-10-11 16:37] tipoc123 commented on #6531
I have the same issue. Try URL http://ott.netup.tv:80/hls/relay/tvcenter/index.m3u8

How to reproduce:
1) Open this URL in the demo app. It's OK.
2) Then press the BACK button.
3) Open this URL again. It's freezing and application is becoming responsiveness (ANR).

If it is not reproduced then try steps 1) and 2) multiple times

Exoplayer 2.10.2.
STB Geniatech 495x (chip Amlogic s905x)
[bugreport.

[2019-10-11 17:50] christosts commented on #6530
The problem seems to be that at some point both the ExoPlayer you are using and the ExoPlayer that is inside  Admob SDK are trying to acquire a codec an the device doesn't support that.

I'm not sure the problem will be solved by downgrading the ExoPlayer to 2.2 to match Admob, but feel to try it.

If possible, please share how you control Admob. I do not know this API but I would like to see if t

[2019-10-11 17:59] jmimohsin commented on #6530
I am just using banner Ads, Interstitial Ads and other activity Reward Ad.... There is an option to reduce Ads as well which will not show ads when open any status page.

What I need to share I didn't understand. Sorry please let me know.

[2019-10-11 18:03] jmimohsin commented on #6530
About AdsMediaSource no use in app.

![image](https://user-images.githubusercontent.com/4438426/66673969-6621be80-ec7f-11e9-98a7-cb0c35f26a5a.png)

[2019-10-11 18:14] AlienAsRoger commented on #6432
Yes. If I change target sdk to 29 then it's NOT showing up correctly with container size 300dp x 250dp, but works with smaller size. I didn't experiment with what exact size it should be, since it's breaking our functionality and ad unit requirements.

Having target sdk 28 IMA SDK renders 300dpx250dp ad unit normally.

[2019-10-11 22:51] root-ansh commented on #6409
any update on this?  @andrewlewis

[2019-10-11 23:15] root-ansh commented on #6409
You know, I am perfectly fine with `ImaAdLoader`'s current working and i can provide an empty vmap response like String with just the ad points, but i want to have a observer-publisher kind of functionality: The exoplayer should run the content and vmap as usual, but should fire an event for requesting vast tag (via an interface) from the observer (i.e the activity/fragment implementing such inter

[2019-10-12 01:25] Imfondof commented on #6532
I use the same code in my project,
but it can't work , and Report the same mistake
do you have another config?

[2019-10-12 01:26] imfondof commented on #6532
I use the same code in my project,
but it can't work , and Report the same mistake
do you have another config?

the problem is that    **the video can't play with 2.7.0exoplayer**
here is my code :    https://github.com/Imfondof/exospecialdemo

[2019-10-12 03:00] jianlin00000 commented on #6531
oh,it is my fault,I give you two ts files of the m3u8 to analysis.
In addition,I can play the two files  with ijkplayer and MediaPlayer normally.There are the files.

[files.zip](https://github.com/google/ExoPlayer/files/3720135/files.zip)

[2019-10-12 03:52] imfondof opened #6536 "can't play mp4 with exoplayer 2.7.0"
**Issue description：**
can't play mp4 with exoplayer 2.7.0

**Reproduction steps：**
here is my code :  https://github.com/Imfondof/exospecialdemo
(the mp4 url is http://filesystem1.bbtree.com/2019/10/11/cms/5673cc33-eeb8-440d-aeae-f30900b7b0fe.mp4)

**A full bug report captured from the device**
error:
E/LoadTask: Unexpected exception loading stream
java.lang.IllegalArgumentException
at com.google

[2019-10-12 03:54] imfondof commented on #6532
to see [issues 6536](https://github.com/google/ExoPlayer/issues/6536)

[2019-10-12 03:54] #6532 closed, assigned to nobody

[2019-10-13 01:07] #6452 closed, assigned to andrewlewis

[2019-10-13 23:10] theboubougne opened #6537 "Failure to properly play a live stream"
### [REQUIRED] Issue description
When trying to play the following stream, I hear a description of the radio then it stops, however other players are starting to play the stream content right after the intro (MediaPlayer does, VLC does)
http://streaming.rolandradio.net:8000/rolandradio

### [REQUIRED] Reproduction steps
I'm using the following code to initialize EXOPlayer

[code]

### [REQUIRED] L

[2019-10-14 01:07] #6401 closed, assigned to andrewlewis

[2019-10-14 01:07] #6382 closed, assigned to andrewlewis

[2019-10-14 04:28] sravan1213 commented on #6489
Customer reported content starting working after updating his OS. We couldn't get the logs when this issue happening. Will open If I get logs.
Thanks for the help.

[2019-10-14 04:28] #6489 closed, assigned to sravan1213

[2019-10-14 06:29] himanshiThakur opened #6538 "How can we show video in full view in SimpleExoPlayerView."
My code

 <com.google.android.exoplayer2.ui.SimpleExoPlayerView
        android:id="@+id/exo_player_view"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_centerInParent="true"
        app:controller_layout_id="@layout/custom_playback_control">
    </com.google.android.exoplayer2.ui.SimpleExoPlayerView>

[2019-10-14 06:44] jmimohsin commented on #6530
I have sent an email too, please reply otherwise I need publish with bug today. Thanks

[2019-10-14 07:16] gvidda commented on #4329
We are experiencing the same issue on a Samsung Galaxy S8+ with Android 9 (firmware from september) and Exoplayer 2.10.4.
PlayDuration set to 48h and expirydate to 30 days.

Anyone with ideas?

[2019-10-14 07:40] jmimohsin commented on #6530
I just found this is in manifest:-

[code]
Does it effecting?

[2019-10-14 09:05] Samrobbo commented on #6538
Hi himaanshi,

Have a look into [the android developer guide](https://developer.android.com/training/system-ui/immersive).

Also consider looking at [this stack overflow answer](https://stackoverflow.com/questions/48420974/fullscreen-the-exoplayer/48511657).

[2019-10-14 09:34] rickyManalo opened #6539 "ExoPlayer jumps to local video end immediately"
### [REQUIRED] Issue description
ExoPlayer plays just a few seconds of the end of a video or ends immediately even when it can play some of the local videos just fine.

### [REQUIRED] Reproduction steps
Let the video get downloaded. When the app plays a LOCAL FILE, that's when the issue appears. This is the github repo I made for testing. https://github.com/rickyManalo/streamerexoplayer

### [REQU

[2019-10-14 09:48] lifawei opened #6540 "HLS reevaluateBuffer"
HlsSampleStreamWrapper.reevaluateBuffer()
 Util.removeRange(mediaChunks, chunkIndex, mediaChunks.size());
throw AudioTrack: Discontinuity detected [expected 55024000, got 15002666]

[2019-10-14 10:01] andrewlewis commented on #3058
@Nekromancer From API 21 onward you can generate a session ID using `C.generateAudioSessionIdV21`, and pass the generated session ID to a `DefaultAudioSink` you create yourself and pass to the audio renderer. Does that work for your use case? If so we should probably add a setter on `SimpleExoPlayer` to make this easier to do.

[2019-10-14 10:02] Samrobbo commented on #6537
Hi,

Can we get some more information? The full player initialisation code, as well as potentially a bug report or a stack trace.

Thanks

[2019-10-14 10:30] jakoss commented on #3058
Well, i'm not really sure how to do this. I'm using `DefaultRenderersFactory` that i pass to `ExoPlayerFactory.newSimpleInstance` along with context and track selector. As far as i can tell - `DefaultAudioSink` gets created in `createRenderers` method, but i'm not sure how to pass my `AudioSink` into this.

Setter on `SimpleExoPlayer` would be the best option for us

[2019-10-14 10:40] Samrobbo commented on #6534
Hi,

I've assigned this to the relevant person, but in the meantime, have a look at #5128 , it may provide some information, as it appears to a similar issue.

[2019-10-14 10:51] hmawla commented on #6496
I guess this is what's causing my problem, but the thing is that I don't intend to run multiple instances at the same time. All I am trying to do is reuse the same instance instead of creating a new ExoPlayer instance each time which is causing stutters and frame drops while scrolling in my recycler view.
Any ideas?

[2019-10-14 10:54] Samrobbo commented on #6536
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2019-10-14 11:09] christosts commented on #6530
Can you please completely remove ads for now and test your application without them?
If the crash still happens, we can investigate further what might be wrong with ExoPlayer on your app and/or devices. But if the crashes go away if you remove ads, then this is an indication that the problem in in the combined use of the Ads SDK and ExoPlayer.

[2019-10-14 11:54] tipoc123 commented on #6534
No, default buffer is OK for us (DEFAULT_MAX_PACKET_SIZE = 2000 in UdpDataSource). We receive  packets with 1316 bytes size (1316 = 7 * 188).

[2019-10-14 13:23] Samrobbo commented on #6539
Hi,

Unfortunately, all your test content is internally hosted, therefore we can not access it. This is because your test content is at `192.168.151.33`.

Please provide a link to your test content that can be accessed from a different network to the one hosting it.

- You mentioned that ExoPlayer can play local videos fine, but then you elaborate by saying the issue appears when the app plays a l

[2019-10-14 13:25] Samrobbo commented on #6540
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2019-10-14 14:27] luna-vulpo opened #6541 "How to enable subtitles on dash stream?"
ExoPlayer 2.9.1
I run exoPlayer on AndroidTV with leanback support.

my configuration
[code]
and I switch tracks using below method:

[code]

it works fine for video and audio. But subtitles/text are not displaying but I can see that text track is selected.

All available tracks:

[code]

Can someone shows how to implement selecting text tracks? Or point me to right doc.

[2019-10-14 15:38] theboubougne commented on #6537
I already provided the necessary code.
You can just try this url in any exoplayer code and you'll reproduce this
issue.
I tried a lot of app using exoplayer and they all had this issue with this
feed.
Then using mediaplayer or vlc the problem goes away

On Mon, Oct 14, 2019 at 3:03 AM Sam Robinson <notifications@github.com>
wrote:

[2019-10-14 17:21] krackjack234 opened #6543 "Crash occurred when exoplayer built locally is used along with another exo based player"
[REQUIRED] Question

We are trying to build a player based on exoplayer but with some custom modifications required by the client.

To do so, we have added exoplayer v2.9.6 code locally (without changing any code) as explained in exoplayer github link (https://github.com/google/ExoPlayer)

In our app, there are 2 players, both based on exo. One is a commercially available player which plays live v

[2019-10-14 18:16] matheusbrandao opened #6544 "How change the icons from lockscreen?"
I want to change or disable the player icons on the lock screen, as shown below. How can I do this?

![Screenshot_20191014-151226_Pronto](https://user-images.githubusercontent.com/19668094/66773502-84f99e00-ee95-11e9-8947-eef04de44e8a.jpg)

[2019-10-14 18:49] matheusbrandao opened #6545 "MediaSessionConnector doesn't work at API 19"
I am trying to make the headset controls work in API 19 however unsuccessfully. I already added MediaButtonReceiver in the manifest, which made it possible to use MediaSession without crash.

However the controls by the handset still do not work. Any suggestion?