[2016-09-05 09:50] #1798 closed, assigned to nobody

[2016-09-05 09:52] ojw28 commented on #1796
That would be one way of doing it, yes. There's no particular need to use okhttp though. You could create a `DataSource` that wraps some other `DataSource`, re-writes the URL, and then passes the re-written `DataSpec` on the the wrapped `DataSource`. Such an approach would work with any wrapped `DataSource` (e.g. default/okhttp/cronet).

[2016-09-05 09:52] #1796 closed, assigned to nobody

[2016-09-05 11:59] wlc520123 commented on #1798
Maybe, I had a bad expression.
I'm trying to explain again here.
Simply speaking, I want to make videos which playback using  widevine plugin in phones. But I don't know how to make this kind of videos from normal mp4/webm files.

Same with the sample videos in exo player demo, just for testing, not really use for bussiness.

Thanks.

[2016-09-05 12:07] j-garin commented on #1796
ojw28, please give me a hint. Where and how are the urls for new chunks of data built?

[2016-09-05 12:13] ojw28 commented on #1798
Right, but why do you want/need to test something if you don't want to use it for any other purpose? It feels like there's little or no value in doing that.

I don't think there's really a bit difference between the path you'd take to produce test and production Widevine content. In fact, if you were using Widevine in production you'd explicitly want the test content to use the same path as the pr

[2016-09-05 12:22] ojw28 commented on #1796
The two posts above should serve as a good starting point for working out a way of doing this. If you want to change the URLs where they're built, look in the dash package.

[2016-09-05 12:25] ojw28 commented on #1794
The issue template clearly requests significantly more information than you've provided, including a full bug report (output of `adb bugreport`) and additional information about the types of devices on which you see this issue, and the versions of both Android and ExoPlayer. Please provide this information. Thanks.

[2016-09-06 00:57] wlc520123 commented on #1798
Thanks very much.
How to setup the  Widevine license proxy/server?
And how to make videos protected with widevine?

[2016-09-06 02:48] nezen opened #1799 "can not play FLAC URL"
I want to play a flac and it turns out do not work. I just paste the code below to the demo_ext. I can make sure the url is available on my local network, the .so lib is loaded and the flac is playable on some others player. I also tried several flac files but never make it so far.

[code]

the log doesn't provide much info and no errors.

09-06 10:35:48.282 9930-9930/com.google.android.exoplayer.

[2016-09-06 03:16] nezen commented on #1799
I checked the mediaplayer, but it didn't work either.

09-06 11:15:59.730 8128-8128/test.com.servicetest W/MediaPlayer: Couldn't open file on client side; trying server side: java.io.FileNotFoundException: No content provider: http://192.168.0.101:49152/759ca69e8794f6a89359530cbb149c2e.flac
09-06 11:15:59.748 8128-8128/test.com.servicetest E/MediaPlayer: Unable to create media player

[2016-09-06 04:37] andrewlewis commented on #1799
Are you certain the device can access the private address in the URL? Can you play other URLs to FLAC streams using ExoPlayer or MediaPlayer?

To help diagnose this it would be useful to have a public URL to the file, posted here or emailed to dev.exoplayer@gmail.com, and a bug report taken just after trying to play the stream (output by `adb bugreport`).

[2016-09-06 07:03] nezen commented on #1799
I found actually the MediaPlayer can play the flac URL(I forgot to declare the "android.permission.INTERNET" permission, really sorry for this). but exoplayer still do not work(with INTERNET permission granted).  I can also play the url with VLC on my mac.
Here is a url and I hope you can access: http://www.zaishuxia.com/music/files/pingfanzhilu.flac

[2016-09-06 08:09] ejbp opened #1800 "Pine A64 - Portrait video renders incorrectly"
- A description of the issue.
  MOV files 1920x1080 plays duplicated in same window. I tested exoplayer demo app and all videos goes well, including others that I've added (.mp4 files) except .mov files that doesn't play well and, by the way, any video from "wide vine Dash: mp4,h265" tab only plays audio with a black screen (no video at all). This last one, it's another issue, though.
- Steps desc

[2016-09-06 08:35] ojw28 commented on #1798
that question is outside the scope of this issue tracker. My understanding is [Shaka Packager](https://github.com/google/shaka-packager) can be used to package Widevine protected content. I'm not sure about setting up a Widevine license/proxy server. I suspect that most people who have a need to do this take Widevine's [CWIP program](http://www.widevine.com/cwip/). Some streaming-as-a-service comp

[2016-09-07 01:57] andrewlewis commented on #1762
Please provide the output of `adb bugreport` taken just after reproducing the issue. It would be useful to know an example of an affected device. "android boxes" and "TV box" are not specific enough.

Can you play the stream using a MediaPlayer-based app started with `adb shell am start -a android.intent.action.VIEW -d "<url goes here>" -t "video/*"`?

As a guess at what might be causing this: per

[2016-09-07 02:03] andrewlewis commented on #1761
Please provide all the information requested in the new issue template, including a full bug report taken from the device just after the issue occurs. You can capture one using `adb bugreport`.

[2016-09-07 02:57] AAkira opened #1801 "ArrayIndexOutOfBoundsException at HLS stream"
Hi,

I saw this isssue #1695.
This problem persists in version 1.5.10.
It occurs when stream is live, I'm sorry I don't provide a stream url.

[code]

[2016-09-07 03:12] hezhisu opened #1802 "when i use seekto, the sound does not synchronize, who can help me?"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-09-07 03:30] hezhisu commented on #1802
i just play audio not video, when i seekto, the sound does not synchronize

[2016-09-07 08:19] lukaszkalnik commented on #725
@wvpaf any update on this?

[2016-09-07 09:04] ingsaurabh opened #1804 "WebVtt subtitles not displaying(working)"
I am using demo player and ExtractorRendererBuilder to stream a video from url which is working fine but when I pass webVtt url it doesn't display them, what I am doing wrong?

[code]

and

[code]

[2016-09-07 09:54] AquilesCanta commented on #1802
Please provide the information required. This is not enough for us to figure out what the problem is. If you are not playing video, then there is nothing for audio to synchronize against.

[2016-09-07 10:10] hezhisu commented on #1802
for example, i seek to 26's, Actually the sound exceed 26's @AquilesCanta

[2016-09-07 10:12] hezhisu opened #1805 "when i use seekto, the sound does not synchronize, who can help me?"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-09-07 10:12] hezhisu commented on #1805
for example, i seek to 26's, Actually the sound exceed 26's

[2016-09-07 10:38] AquilesCanta commented on #1802
Please, provide a stream to see if we can reproduce the issue.

[2016-09-07 10:46] hezhisu commented on #1802
@AquilesCanta http://139.129.22.188/resourceservice/mediaplay.do?resId=97647&resIdSign=1e0fc4&mediaType=3

[2016-09-07 10:47] hezhisu commented on #1802
when i play at 50's, then i seek to 26's,  actually the sound exceed 26's @AquilesCanta

[2016-09-07 11:09] AquilesCanta commented on #1804
I have not dived into the code, but the line

`player.setSelectedTrack(DemoPlayer.TYPE_TEXT, DemoPlayer.TYPE_TEXT);`

looks weird. I would have expected something like

`player.setSelectedTrack(DemoPlayer.TYPE_TEXT, 0);`

maybe. I would recommend you debug a little bit, I am sure the answer will come to you quickly. Unfortunately, the issue tracker's purpose is to keep track of bugs and feature re

[2016-09-07 11:09] #1804 closed, assigned to nobody

[2016-09-07 11:18] AquilesCanta commented on #1802
I will give it a look, I assume it has something to do with seeking in mp3.

[2016-09-07 11:44] ingsaurabh commented on #1804
tried `player.setSelectedTrack(DemoPlayer.TYPE_TEXT, 0);` also but no result,

So this means this is not a bug, strange :(

[2016-09-07 12:06] zhangvb commented on #420
@laminsk Partial Request is used in OkHttpDataSource. It seems like OkHttp do not support partial cache. I remove Range header in request, cache worked.
`private Request makeRequest(DataSpec dataSpec, boolean forceCache) {
    long position = dataSpec.position;
    long length = dataSpec.length;
    boolean allowGzip = (dataSpec.flags & DataSpec.FLAG_ALLOW_GZIP) != 0;

[code]

//    if (!(position

[2016-09-07 13:38] kinsleykajiva commented on #420
@zhangvb the link you gave is dead.

[2016-09-07 14:23] ojw28 commented on #420
@kinsleykajiva the link is fine if you copy and paste the URL as text (it's just that it's linked incorrectly).
@qqli007 is correct about `dev-v2`. We recently pushed support for caching for regular media files, provided you specify `FLAG_CACHE_UNBOUNDED_REQUESTS` as in his sample code.

[2016-09-07 14:43] hezhisu commented on #1802
@AquilesCanta so what should I do to solve this problem？thanks

[2016-09-07 15:14] calulelalu commented on #420
@qqli007 great example... caching seems to work but now seeking backward or forward is not working any more. I'm working with mp3 files.

[2016-09-07 16:19] andrewlewis commented on #1800
Is this reproducible on any other devices? If not, it is probably a device-specific bug with how the video is being rendered, so please check if there are any system updates available for the device.

To investigate further we need a link to a stream that doesn't play correctly.

If I understand correctly, streams using MP4 containers play fine but playing streams in MOV containers are broken as i

[2016-09-07 16:25] mromer opened #1806 "IllegalStateException playing MP4 and DASH with specific resolution"
I have two instances of Exoplayer, first one plays a MP4 and when it finishes, it starts the second Exoplayer with the DASH content. The problem is that it crashes when the resolution of the MP4 is equal to the first representation of the DASH. In any other case, playback is fine.
For example:
MP4=320x142 and first representation of DASH = 320x142 -> crashes
MP4=480x270 and first representation of

[2016-09-07 16:53] andrewlewis commented on #1799
That stream plays fine for me when I add it to the samples in the (otherwise unmodified) demo_ext app on the latest code in the dev-v1 branch. Could you try reverting your modifications, check that the stream plays and then figure out how your code differs?

If you find that it doesn't play in the unmodified demo_ext app, please post a full bug report (instructions in my previous comment) and I wi

[2016-09-07 16:53] #1799 closed, assigned to nobody

[2016-09-08 01:46] zsmatyas opened #1807 "EAI-708 support"
Previous version of the v1 and v2-dev branches had the entire SEI data put into a buffer and then read by the Eia608Parser. The parser had a check that the type and validity bits are set to channel 1 of the 608 content, and everything else was dropped. See: [V1](https://github.com/google/ExoPlayer/blob/release-v1/library/src/main/java/com/google/android/exoplayer/text/eia608/Eia608Parser.java#L141

[2016-09-08 02:11] andrewlewis commented on #1750
We don't have any detailed documentation on using the FFmpeg extension I'm afraid, but the v2 demo app will use it if it is built.

At a high level, you would need to follow the [instructions to build the extension](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ffmpeg/README.md), making sure to enable whatever decoders are needed when you configure the library. Then switch to one of t

[2016-09-08 02:23] hezhisu commented on #328
@ojw28 Is there some example to show how to use the Mp3Extractor

[2016-09-08 03:15] hezhisu commented on #326
@ojw28 Is there some example to show how to use the Mp3Extractor

[2016-09-08 03:15] nezen opened #1808 "Support seeking for FLAC streams without SEEKTABLE."
I want to know is flac seekable or not? Each time I seek it from the demo-ext,  the progress returns to zero immediately.

here is the sample I tried:

[code]

[2016-09-08 03:23] huyn opened #1809 "ExoPlayer occupies much more memory than MediaPlayer"
I compared the memory taken by both MediaPlayer and ExoPlayer and monitored by Memory Monitor tool in AndroidStudio. I played the same video(s) by MediaPlayer and ExoPlayer, and I found that memory line did not change when MediaPlayer was used, but it increased to a high level when ExoPlayer was used.
Please take a look at the attachment.
ExoPlayer was uesed from 15s to 1min in timeline, I switche

[2016-09-08 03:25] hezhisu opened #1810 "Is there some example to show how to use the Mp3Extractor? who can help me?"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-09-08 03:28] hezhisu commented on #1802
@AquilesCanta Do you have some idea for this ?

[2016-09-08 03:36] andrewlewis commented on #1810
To play MP3s you would normally use ExtractorSampleSource (in v1) or ExtractorMediaSource (in v2). These use Mp3Extractor internally, but for simple use cases your app does not need to refer to Mp3Extractor directly.

If you are using the release-v1 branch, take a look at [ExtractorRendererBuilder](https://github.com/google/ExoPlayer/blob/release-v1/demo/src/main/java/com/google/android/exoplayer/

[2016-09-08 03:36] #1810 closed, assigned to nobody

[2016-09-08 03:37] andrewlewis commented on #326
@hezhisu See your new issue #1810.

[2016-09-08 03:44] hezhisu commented on #1810
use the ExtractorSampleSource , when i play at 50's, then i seek to 26's, actually the sound exceed 26's

[2016-09-08 03:44] hezhisu commented on #1810
use the ExtractorSampleSource , when i play at 50's, then i seek to 26's, actually the sound exceed 26's @andrewlewis

[2016-09-08 03:54] andrewlewis commented on #1810
It sounds like the issue you are seeing is that when you seek to a particular timestamp you hear media from a different timestamp. Seeking in variable bitrate MP3 streams is generally not exact, because the file header doesn't always provide a complete map from timestamp to byte offset. See also https://github.com/google/ExoPlayer/issues/328#issuecomment-168532148.

The fix is to use a different c

[2016-09-08 07:27] zhangvb commented on #420
Appending my code,  it worked for me. If play without seeking cache works.

[code]

[2016-09-08 08:42] ojw28 commented on #1805
@hezhisu - We would appreciate it if you could not cross-post exactly the same question in multiple issues. It creates more work for us, and will not lead to your question being answered more quickly. Thanks.

[2016-09-08 08:42] #1805 closed, assigned to nobody

[2016-09-08 08:44] ojw28 commented on #1802
Same as #1810. Please do not cross-post.

[2016-09-08 08:44] #1802 closed, assigned to AquilesCanta

[2016-09-08 08:46] ojw28 commented on #1810
Andrew's comment above is correct. If the media contains insufficient information to seek accurately, ExoPlayer will not seek accurately. There exist plenty of container formats that allow for accurate seeking.

[2016-09-08 08:50] ojw28 commented on #1809
It's not that ExoPlayer uses more memory, but rather than the memory is allocated in a different place. When using ExoPlayer, the media buffer is allocated within your process. When using MediaPlayer, the media buffer is allocated within one of the MediaServer processes.

[2016-09-08 08:51] ojw28 commented on #1801
Closing due to lack of useful information (a stream url).

[2016-09-08 08:51] #1801 closed, assigned to nobody

[2016-09-08 08:54] ojw28 commented on #1808
@erdemguven - Please take a look. Thanks!

[2016-09-08 08:59] ojw28 commented on #1807
@cdrolle is looking at 708 support. Could you comment on the above? Thanks!

[2016-09-08 09:07] ojw28 commented on #1806
It's quite difficult to debug this kind of thing, since it's more likely than not that the issue is somewhere in your code (which we don't have :)). I'm not sure why the resolutions would be relevant I'm afraid.

One thing that can cause this kind of failure is when two decoders end up having a reference to the Surface at the same time, so you should definitely double check that this isn't the cas

[2016-09-08 09:55] erdemguven commented on #1808
Hi nezen, currently flac files are seekable only if they include a SEEKTABLE metadata block. In this case your flac doesn't have one.
You can check flac files to see if they have a seektable:
`metaflac --list sample.flac | grep SEEKTABLE`
To add 100 seek points to a file
`flac -S 100x sample.flac -o new_sample.flac`
Please see `flac` documentation for other options.

[2016-09-08 09:55] #1808 closed, assigned to erdemguven

[2016-09-08 10:05] moacir69 commented on #1621
Hi,
The buffer size seems to be internal to the Android DRM Framework API, it is not passed as input.
Thanks,

Moacir

[2016-09-08 11:09] huyn commented on #1809
@ojw28 Does the argument `requestedBufferSize` of `ExtractorSampleSource` influence it?
Thanks for your answer.

[2016-09-08 11:14] ojw28 commented on #1809
You can change the size of the media buffer by tweaking parameters such as that one, yes. Obviously making the media buffer smaller increases the probability of re-buffers for network streamed media. If you're playing local content only it's generally safe to reduce it quite a bit. Note that when using MediaPlayer you have no control over the size of the buffer allocated in the MediaServer process

[2016-09-08 11:14] #1809 closed, assigned to nobody

[2016-09-08 11:18] huyn commented on #1809
@ojw28 I got another problem :( . When I played three MP4 videos at the same time in one activity, so there were three ExoPlayers playing and three mediacodec decoding. But I found threes players freezed frequently because of frame drop. I am sure that it has nothing to do with the cache.
Here is the log:
[code]
Looking forward to your advices

[2016-09-08 11:22] ojw28 commented on #1809
Please file separate issues for unrelated problems. Although in this case there are a few issues already if you search for issues about multiple videos being played. You're likely just exceeding the limitations of the device.

[2016-09-08 13:00] AquilesCanta commented on #1194
I will close this issue as things have changed quite a lot in this matter, particularly in v2. If this issue persists in the new versions, please file a fresh one.

[2016-09-08 13:00] #1194 closed

[2016-09-08 13:58] sonvp commented on #1649
Me too.

[2016-09-09 03:44] huyn commented on #273
I have try software decoder. It is really a terrible option. Never think about it, guys.
This is the way to get all the decoders, hardware and software ways.

[code]

Before your video decoder name `codec = MediaCodec.createByCodecName(codecName);`, set `codec` as `OMX.google.h264.decoder`

[2016-09-09 08:29] ojw28 commented on #273
@huyn - Note that many low end devices only have the software decoder and it actually performs quite well (easily well enough for this to be a viable option for shipping a low end device). So your statement seems a bit over the top. If you're going to advise people to not even think about using it, I think you need to back up your statement with some solid facts and figures ;)...

[2016-09-09 08:31] sandersaares opened #1811 "Axinom Encrypted DASH video only plays for a few seconds in ExoPlayer 1.x"
We recently updated the Axinom DASH test vectors to target slightly more modern workflows and industry association specifications. Testing of this content with ExoPlayer revealed some issues. I report the main issue discovered here, possibly a few more to come later once we exclude some potential alternative causes for them.

The video in question is **v7-MultiDRM-SingleKey** from https://github.c

[2016-09-09 08:38] sandersaares opened #1812 "Do you accept 3rd party test vectors?"
We have a fairly modern set of DASH test vectors at https://github.com/Axinom/dash-test-vectors and would be happy to submit a pull request that incorporates them into the ExoPlayer demo app. I thought I would check beforehand, though - is this something you would accept? No "policy reasons" to reject non-Google test vectors?

[2016-09-09 08:53] ojw28 commented on #1812
For ExoPlayer V2, you can create and host a JSON file that defines your test vectors, as described [here](https://google.github.io/ExoPlayer/demo-application.html). You can then simply share a link to this file. Following the link on an Android device with the demo app installed (e.g. by clicking it in the browser or email client) will load your samples into the demo app.

I think we prefer this a

[2016-09-09 09:28] ojw28 commented on #1812
Note: If there's no alternative to your `X-AxDRM-Message` header then we can add an optional `drm_headers` field (or repeated `drm_header` field, or similar) to our JSON format for you.

[2016-09-09 09:29] sandersaares commented on #1812
This approach sounds good to me!

Yes, we would indeed need the ability to pass the X-AxDRM-Message HTTP request header. We will go ahead and make such a JSON file for our content as soon as this capability exists.

[2016-09-09 09:50] mromer commented on #1806
I can't reproduce the issue with the version r1.5.10
Thanks again for your help :)

[2016-09-09 09:58] #1806 closed, assigned to nobody

[2016-09-09 12:42] sandersaares commented on #1811
Bug report attached.

[2016-09-09 14:39] ojw28 commented on #1811
Hmm, the sample plays back fine for me on the same device + build combination.

[2016-09-09 14:42] ojw28 commented on #1811
Not that you should ever have to do this, but does rebooting the device resolve the issue for you?

[2016-09-09 20:00] ojw28 commented on #1791
Closing due to insufficient information.

[2016-09-09 20:00] #1791 closed, assigned to nobody

[2016-09-09 20:02] ojw28 commented on #1788
Providing the manifest without any of the underlying media segments is not useful to us, particularly given we believe the issue is in the underlying media segments. Please provide complete test content, meaning that we can take whatever link or files you attach and actually try and play them. Else we are unable to assist. Thanks!

[2016-09-09 20:04] ojw28 commented on #1760
Closing due to lack of response. Please follow the build instructions for the extensions, as per the second bullet point in my previous reply. Thanks!

[2016-09-09 20:04] #1760 closed, assigned to nobody

[2016-09-09 20:04] #1769 closed, assigned to nobody

[2016-09-09 20:08] ojw28 commented on #1732
@peddisri - Please could you provide us with the file?

[2016-09-09 20:11] #1725 closed, assigned to nobody

[2016-09-09 20:12] #1721 closed, assigned to nobody

[2016-09-09 20:16] ojw28 commented on #1493
As per the response in https://github.com/Dash-Industry-Forum/Test-Vectors/issues/44, the DASH IOP document indicates that for live you're expected to embed WebVTT in ISOBMFF. According to the IOP non-embedded WebVTT should be used in the single segment on-demand case.

[2016-09-09 20:16] #1493 closed

[2016-09-09 20:18] ojw28 commented on #573
I'm somewhat unclear whether ExoPlayer 2.x resolves this issue for you, but things have changed so much in this area that I'm going to close it as obsolete. Please file a new issue if functionality is still lacking in 2.x. Thanks!

[2016-09-09 20:18] #573 closed

[2016-09-09 20:19] #1332 closed

[2016-09-09 20:21] ojw28 commented on #1125
This has been fixed in 2.x by https://github.com/google/ExoPlayer/pull/1803.

[2016-09-09 20:21] #1125 closed

[2016-09-09 20:29] ojw28 commented on #1582
ExoPlayer does this by default if you prepare a player but don't call `setPlayWhenReady(true)`. So the solution is to:
1. Create your new player when coming back to the foreground.
2. Seek to the position you wish to restore.
3. Prepare the player.

Note that seeking before preparing is more efficient then doing it the other way around (which could cause additional and unnecessary network requests

[2016-09-09 20:29] #1582 closed

[2016-09-09 20:31] ojw28 commented on #1434
I think we're unlikely to do this. The above discussion aside, requiring the extensions should (hopefully!) be for fairly niche or advanced cases. There's an argument for "not making it too easy", since platform decoders should be preferred where feasible.

[2016-09-09 20:35] ojw28 commented on #1593
This is likely to be unrelated to PlayReady and related to your observation above, which is a failure to handle the audio and video elements changing order.

That said, it feels like a server that does this is really just asking for trouble. It should be trivially for a server to keep them in the same order, and it's likely that doing so will minimize the risk of client failures.

[2016-09-09 20:38] #709 closed

[2016-09-09 20:47] ojw28 commented on #1101
All three of the samples above appear to play fine in `dev-v2`, so closing as fixed!

[2016-09-09 20:47] #1101 closed

[2016-09-09 20:49] ojw28 commented on #1418
This sounds like a device specific error. Please report it to the device manufacturer (it's unclear whether the device has passed Android CTS).

[2016-09-09 20:49] #1418 closed

[2016-09-09 20:50] ojw28 commented on #1268
I think this is most likely fixed in V2. Please give it a try and see what you discover. Thanks!

[2016-09-09 20:52] ojw28 commented on #1028
Let's track this using https://github.com/google/ExoPlayer/issues/876. Thanks.

[2016-09-09 20:52] #1028 closed

[2016-09-09 20:53] ojw28 commented on #876
@seventhmoon is correct - it's fairly straightforward to implement your own DrmSessionManager. That said, we should probably add support directly to the library. We should also provide a component to assist in requesting the offline keys.

[2016-09-09 20:55] ojw28 commented on #880
Closing as duplicate of https://github.com/google/ExoPlayer/issues/954.

[2016-09-09 20:55] #880 closed

[2016-09-09 20:56] amoussawi commented on #1101
Great! Thank you! Though I couldn't wait for the v2 to be out to get these features. I already modified TsExtractor in order to get things done as I want.

[2016-09-09 20:58] ojw28 commented on #1101
:). FYI the fixes are probably in the `dev-v1` branch too, although I didn't check. If they're not already, they likely will be soon (i.e. next week), since we've been back-porting most of our fixes around MPEG-TS robustness.

[2016-09-09 21:00] ojw28 commented on #1240
I'm really unclear about what this issue is actually about. If this issue still occurs on a recent ExoPlayer build, please file a fresh issue containing concrete reproduction steps, a full bug report and sample content to reproduce the issue. Thanks!

[2016-09-09 21:00] #1240 closed

[2016-09-09 21:03] ojw28 commented on #1649
This is not currently supported (you'd have to prepare the player again, which would cause re-buffering before the playback resumed). Marking as an enhancement for the future.

[2016-09-09 21:04] ojw28 commented on #1483
I think this is custom enough to be outside the scope of this issue tracker, sorry.

[2016-09-09 21:04] #1483 closed

[2016-09-09 21:48] ojw28 commented on #1608
I'm pretty sure this is resolved in `dev-v2`.

[2016-09-09 21:48] #1608 closed, assigned to nobody

[2016-09-09 21:51] ojw28 commented on #347
Closing due to lack of required information.

[2016-09-09 21:51] #347 closed

[2016-09-09 21:52] #1034 closed

[2016-09-09 21:54] #1429 closed

[2016-09-09 21:55] #1644 closed, assigned to AquilesCanta

[2016-09-09 21:58] #1761 closed, assigned to nobody

[2016-09-10 09:33] ypbnv commented on #87
I understand that seeking in DVR window for DASH/SmoothStreaming is already present in dev-2. Also understand why it is more difficult to add it for HLS. Yet do you have any crude estimation (a few weeks, a few months) when can we expect it for HLS?

[2016-09-12 02:41] mlondon1 opened #1813 "Encrypted video producing compression artifacts in Exoplayer 1.5.10"
Hi,
We are seeing compression artifacts when playing common-encrypted Dash content using Widevine DRM in Exoplayer 1.5.10 on Samsung Tab2 (SM-T810) in Android 6.0.1.   When the video bit rate gets up to the 4.5 Mbps 1080p profile, the video gets distorted and discolored showing compression artifacts on and off indefinitely.  It exhibited the issue at 720p but to a much lower degree.   On other dev

[2016-09-12 07:43] bogdanovkp opened #1814 "rtmp error ExoPlayer-with-RTMP-and-FLV-seek"
HTC desire 601android v.4.4.2

[https://github.com/ButterflyTV/ExoPlayer-with-RTMP-and-FLV-seek/blob/master/demo/src/main/java/com/google/android/exoplayer/demo/Samples.java](url)
`new Sample("OSSR net RTMP Live Stream",
            "rtmp://171.25.232.12/EBUXcX47pUGCtPhTXz2I6xGt0XeyfH", Util.TYPE_OTHER),`

logcat:

[code]

[2016-09-12 08:22] sandersaares commented on #1811
Interesting. We will dig deeper.

Additionally, we have applied a hotfix to the content - the sample aux info size in `saiz` was incorrect. However, as ExoPlayer did successfully play back at least partial content, I assume ExoPlayer was not affected by this. Still, we will re-test and report back on our findings.

[2016-09-12 10:39] zhanghuicuc commented on #1787
Hi, I have met the same problem.
I think that you can't just omit the SegmentTimeline completely and inline the segment duration into the SegmentTemplate element. As the spec said: "A negative value of the @r attribute of the S element indicates that the duration indicated in @d attribute repeats until **the start of the next S element**, the end of the Period or until the next MPD update."
So the

[2016-09-12 10:43] ojw28 commented on #1787
You can definitely omit the SegmentTimeline. There is no requirement for one to be present and there's typically only value in including one if some segments are of different duration than others.

We're aware that r=-1 is valid according to the spec, as already indicated above. We will get around to fixing it at some point, but would still advise omitting SegmentTimeline in the case where all seg

[2016-09-12 10:58] ojw28 commented on #1811
It is possible that the `saiz` issue was the root cause of the problem. I'd suggest re-testing in any case, since we're unable to reproduce.

[2016-09-12 11:06] ojw28 commented on #1814
ExoPlayer doesn't support RTMP, sorry.

[2016-09-12 11:06] #1814 closed, assigned to nobody

[2016-09-12 12:15] gvidda commented on #1690
We have this issue also, but different behaviour on different devices.
On a Nexus 6 there's dropped frames (like a framerate at 4-5 instead of 30) and on a Samsung Galaxy Tab S2 (SM-T810) there are visible artifacts in the video.
Version used 1.5.9.

[2016-09-12 13:23] sandersaares commented on #1811
After re-testing we do not see any difference in behavior. We also tested with Android 6 on Nexus 9 and got essentially equivalent behavior:

Bug report: [bugreport-2016-09-12-16-10-51.zip](https://github.com/google/ExoPlayer/files/467386/bugreport-2016-09-12-16-10-51.zip)

[2016-09-12 16:51] jonas-app commented on #1231
Hey guys,
I am currently trying to implement ExoPlayer instead of the MediaPlayer.
The use case would be the same: streaming radio (mp3 [or m3u if that is working]).
@SvenCarstensen can you please provide me a sample which streams mp3 correctly?
I tried to figure it out myself but the link to the ExtractorRenderBuilder is broken.
I am not able to put the settings from the actual example code of th

[2016-09-12 16:57] andrewlewis commented on #1231
Here is the updated link: https://github.com/google/ExoPlayer/blob/release-v1/demo/src/main/java/com/google/android/exoplayer/demo/player/ExtractorRendererBuilder.java#L65

[2016-09-12 19:45] softlion commented on #463
An extractor extracts. A source get samples. Changing a property of the source (the url) should work without having to recreate a new extractor.

[2016-09-13 00:02] andrewlewis commented on #1741
I think the fix for this doesn't rely on N. It would involve checking [AudioDevice](https://developer.android.com/reference/android/media/AudioManager.html#getDevices%28int%29) encodings (via [AudioDeviceInfo.getEncodings()](https://developer.android.com/reference/android/media/AudioDeviceInfo.html#getEncodings%28%29)), and listening for changes using [AudioDeviceCallback](https://developer.androi

[2016-09-13 00:04] andrewlewis commented on #1741
To clarify, the underlying issue here is that ExoPlayer relies on HDMI audio plug info to detect passthrough capability, rather than checking AudioDevices (which should include USB audio devices).

[2016-09-13 07:27] arnoutvandervorst commented on #1741
Is that something that Plex can modify on their end using the ExoPlayer implementation, or does ExoPlayer need to be extended? If the latter, would the Plex devs need to do something additional to make it work? This would be a great enhancement for me (living in the HDMI-less-stone-age) and lots of others facing the same challenge.

[2016-09-13 07:30] var1993 opened #1815 "I don't know the protocol of a video,how can i play the video with exo player"
Thanks developers of ExoPlayer!

I have a question now, i hava a url of a video,but i don't know  protocol of the video,how can i play the video with ExoPlayer?

I had seen source of ExoPlayer.

private RendererBuilder getRendererBuilder() {
        String userAgent = Util.getUserAgent(this, "ExoPlayerDemo");
        switch (contentType) {
            case Util.TYPE_SS:
                return new

[2016-09-13 08:15] var1993 commented on #1815
For example, this url " http://pl.youku.com/playlist/m3u8?vid=430726292&type=hd2&ts=1473754224&ep=ciaTGU6IUswC4SbXgT8bb32wc3IIXPoJ9hiHh9BrAtQkTey2&sid=0473754224589128ab757&token=0549&ctype=12&ev=1&oip=2067486600".

It is m3u8 of the url container format.If i don't know it,How can i choose the renderer?

[2016-09-13 09:31] AquilesCanta commented on #1815
Depends on the case. As you correctly state, in this case it is an m3u8, which maps to HLS.

For manifest based formats (HLS, SS, DASH), if the file has an extension, you can use that to try the corresponding RendererBuilder(.m3u8, .ism, mpd; note there are more alternative extensions).

In the case of standalone files, like mp4, flv, mp3, etc. the best way is to sniff them with the extractors and

[2016-09-13 09:31] #1815 closed, assigned to nobody

[2016-09-13 10:24] lukaszkalnik commented on #725
Also, one of our customers noticed a DRM-related problem on a Lenovo Lifetab P10356 (Intel Atom device).
The video starts playing (the stream seems to be displayed correctly, without scrambling), but then playback stops right away.

Stream is also DASH with Widevine.

Can anyone please take care of this issue, it seems to be appearing on different Intel devices. This is really a showstopper for so

[2016-09-13 12:46] AquilesCanta commented on #1793
The reason behing the fake CEA reader (and the type mapping originally forced as well) is HLS. If I remember correctly, the muxed CEA tracks could appear intermittently, which was problematic. Once we add support for multiple CC channels, this should be fixed. For the time being, considering we don't have any way of handling the lifecycle of the CC channels (even if it is a single one), we cannot

[2016-09-13 12:46] #1793 closed, assigned to nobody

[2016-09-13 13:43] dobrusev opened #1816 "Smooth Streaming with PR fails playback For P7 and P8 with CryptoException"
Hi guys,

I'm trying to play SS with PR and it works fine untill it goes to the HD bitrates - P7 and P8.
Please see attached log file.
[logs.txt](https://github.com/google/ExoPlayer/files/469933/logs.txt)
This looks like a content/license issue but it will be good if I understand what exactly is the issue so I can come back to the content provider with that.
If you are interested further in this i

[2016-09-13 16:44] philippela opened #1817 "S3 and S4 playback issues"
Hi,

I have a problem where the video is initially garbled on Samsung S3 and S4, but then becomes OK later on.

Has this been seen before? Seems pretty obvious and repro-able. What is the solution?

Thanks,
Philippe Laporte

[2016-09-13 16:46] ojw28 commented on #1817
Issue reports that omit nearly all of the requested information in the issue template are not efficient for us to investigate, therefore closing. Please file an issue containing complete information, thanks.

[2016-09-13 16:46] #1817 closed, assigned to nobody

[2016-09-13 17:33] ojw28 commented on #1812
The ability to specify headers has been pushed. The following example lists two of the Axinom test streams. If you host this file with a name ending in `.exolist.json`, then clicking a link to it on an Android device should open the ExoPlayer V2 demo app for your content (provided the demo app is installed).

[code]

We may establish a page containing links to test media provided by third parties,

[2016-09-13 17:33] #1812 closed, assigned to nobody

[2016-09-13 17:40] ojw28 commented on #1811
Could you give the V2 demo app a try. For maximum reproducibility, it's preferable if you could avoid making any changes to the demo app. You can define your content to be loaded into the demo app using a `.exolist.json` file as described in https://github.com/google/ExoPlayer/issues/1812.

It's somewhat unclear how minimal the modification is between the demo app and what you're testing with is (

[2016-09-13 17:56] #1784 closed, assigned to AquilesCanta

[2016-09-13 20:16] wvpaf commented on #1764
@KiminRyu, please attach the requested troubleshooting information to this case so the issue can be investigated.   Thanks.

[2016-09-13 20:23] wvpaf commented on #1690
@gvidda, Since the devices are exhibiting different issues it would be best to create separate cases with supporting information like ADB bugreports and links to content to reproduce.
Thanks.

[2016-09-13 20:30] wvpaf commented on #725
Hi, has this issue been reproduced where an ADB Bugreport can be captured? With any of the investigative data it is difficult to troubleshoot.

If the Lifetab stops after 10secs the device may not be getting a valid license request.

[2016-09-13 22:17] wvpaf commented on #1764
The logs have been received outside of this case. Team is reviewing them now, not finding any errors/issues with the decryption process. Asking the OEM to take a look.

[2016-09-13 22:23] wvpaf commented on #1621
@moracir69, our DRM team does not integrate the PlayReady solution.
You will need to reach out to the Razer folks to get more help.

[2016-09-14 05:51] ejbp commented on #1800
[Apologize my late answer but I didn't have another android device with me]

**"Is this reproducible on any other devices? If not, it is probably a device-specific bug with how the video is being rendered, so please check if there are any system updates available for the device."**

I've tried in an android smartphone with one movie that was giving this issue in the pine64 and it doesn't happen me

[2016-09-14 06:13] sandersaares commented on #1811
Sure thing. Will report back once we have something that would help you reproduce this (or when we figure out what we are doing wrong on our side).

[2016-09-14 07:27] guillaumemarc commented on #1794
hi you can find my bug report https://drive.google.com/a/skylights.aero/file/d/0B39SzYITUl6rSVYtVWZBNV96TDA/view?usp=sharing
i understand much better my issue on my device with the content provide on the demo app or my, if a have 2 steam playback in the same time( audio + video ) the dropframe appear but if i only playback the stream video i have not any more the issue.

[2016-09-14 10:36] lukaszkalnik commented on #725
I think the playback stops sooner than that.
Unfortunately I don't have access to any Intel device right now. Do you happen to have any available to test? Are there Intel devices on which DASH with Widevine works correctly?

[2016-09-14 12:14] rsatandroid opened #1819 "Use SSLSocketFactory with DefaultHttpDataSource"
Hi Team,

is there any way to set SSLSocketFactory  in DefaultHttpDataSource.

We want to use TrustManager -
httpsURLConnection.setSSLSocketFactory(sslSocketFactory);

Thanks in advance.

[2016-09-14 13:01] garywzh opened #1820 "ExoPlayer2 throws RuntimeException before api level 21"
FrameLayout before Lollipop doesn't hava the 4th constructor.

So in SimpleExoPlayerView

calling `super(context, attrs, defStyleAttr, defStyleRes);`

will get NoSuchMethodError before api level 21

[2016-09-14 13:23] mlondon1 commented on #1813
Hi, can someone from the Exoplayer team provide some assistance?  The folks at Widevine have reproduced this on the same device model.

We also saw green screens and dropped frames on other devices such as the Nexus 6 and HTC 10.

[2016-09-14 13:37] rsatandroid opened #1821 "Lock/unlock device > blank screen, audio keeps playing in background"
Hi Team,

We are using exoplayer, using similar implementation as in Demo, however we are facing following issue -
Lock the device while the video is playing, on unlocking its shows blank screen, audio keeps playing in background.

This happens in Demo app also.
Any solution for keeping the video visible ?

Thanks in advance.

[2016-09-14 19:19] #1820 closed, assigned to ojw28

[2016-09-14 19:31] ojw28 commented on #1813
I think Widevine are the right people to help you with this. DRM is reasonably transparent to ExoPlayer. The encryption + packaging is done by the content provider and the decryption is done by the Widevine CDM. ExoPlayer is the layer in the middle, but we don't really do anything special for DRM aside from pipe the data to where it needs to go.

The nature of the issues you're seeing suggest a en

[2016-09-14 19:32] ojw28 commented on #1813
@wvpaf - Are you able to provide some assistance here? Thanks!

[2016-09-14 19:43] ojw28 commented on #1819
If you're trying to set it globally then you might have some luck calling the static method `HttpsURLConnection.setDefaultSSLSocketFactory()` prior to use of ExoPlayer? Calling the non-static variant is not something we expose, but it would be pretty straightforward for you to make your own `DataSource` implementation that does support this use case.

[2016-09-14 19:43] #1819 closed, assigned to nobody

[2016-09-14 19:44] faltmark commented on #1813
+Prashant who was working with the partner on this as well

On Wednesday, September 14, 2016, ojw28 notifications@github.com wrote:

[2016-09-14 19:47] ojw28 commented on #1816
It's hard to diagnose based on the information available in the logs. Decryption is failing but it's unclear why. We'd likely need a full bug report, test content and a working license server to reproduce the issue in order to investigate further. Please share this information here, or email it to `dev.exoplayer@gmail.com` if you prefer. If sending via email, please update this issue when sent so

[2016-09-15 07:01] rsatandroid commented on #1819
Thank you for your input and such a great library with wide range of capabilities.

As DefaultHttpDataSource uses HttpURLConnection internally so i think setting it on HttpsURLConnection will not help.
I will go with my own DataSource implementation based on DefaultHttpDataSource.

[2016-09-15 07:06] zzBADzz opened #1823 "Duplicate file ic_media_pause.png. Please help me !!!"
Hi,
When i compile new version v2.0.0 for my project. I see an error:
- app\build\intermediates\res\debug\drawable-hdpi-v4\ic_media_pause.png: error: Duplicate file.
  I thinks my app've used media-route (In this libs have some ic_media_pause) from google cast api. And then when i build my project i must to have error (duplicate file ic_media_pause.png). Please help me to fix this problem Thanks s

[2016-09-15 07:36] rsatandroid commented on #1821
Hi Team,
Are you able to reproduce this ? Is anyone else is facing above issue ?
How to workaround this problem?

Thanks.

[2016-09-15 09:41] ojw28 commented on #1823
According to [this](http://stackoverflow.com/questions/19306819/android-resources-key-collision) there shouldn't be a build problem as a result of a naming clash, so I wonder if you need to do a full clean or whether there's something else wrong with your setup.

Having said that, I think we want to avoid naming conflicts and the app having to choose which resource to retain should one occur. Henc

[2016-09-15 09:50] sandersaares commented on #1811
I confirm it seems to work fine in ExoPlayer demo app. Not sure why it does not work for us but I suppose that's beside the point.

[2016-09-15 09:50] #1811 closed, assigned to nobody

[2016-09-15 10:24] rsatandroid commented on #1821
Hi
I figured out that the problem is with surfaceview > player association.

surface is not created/destroyed on locking/unlocking phone, but it got detached i think from player.
on resetting the surface to player its working fine now. I am doing following in onResume -
if(player.getPlaybackState() == DemoPlayer.STATE_READY ){
                               player.setSurface(surfaceView.getHolder(

[2016-09-15 10:24] #1821 closed, assigned to nobody

[2016-09-15 10:53] sandersaares commented on #1812
Axinom playlist now referenced on https://github.com/Axinom/dash-test-vectors (https://raw.githubusercontent.com/Axinom/dash-test-vectors/master/axinom.exolist.json)

[2016-09-15 11:03] sandersaares opened #1824 "Playback of Axinom multi-key DASH does not request all keys from license server"
Videos: _v7-MultiDRM-MultiKey 1080p_ and _v7-MultiDRM-MultiKey-MultiPeriod 1080p_ from the [Axinom playlist](https://raw.githubusercontent.com/Axinom/dash-test-vectors/master/axinom.exolist.json).

The videos are encrypted using different keys for different tracks (or groups of tracks). See https://github.com/Axinom/dash-test-vectors for more info.

Device: Nexus 9 running Android 7

ExoPlayer ver

[2016-09-15 11:37] ojw28 commented on #1824
From my point of view, within a single period, expected behavior is that your license server should respond with all of the keys required to play the content when provided with a request that contains the PSSH for one of the streams. This is how other providers I'm aware of have implemented this. I believe it's achieved due the presence of some kind of content id in the request, which can be mappe

[2016-09-15 11:44] sandersaares commented on #1824
DASH-IF IOP v3.3 section 7.7.1 says:

MPEG-CMAF latest draft says:

Having PSSHs in the manifest is the right way to do it and supported by industry standards. Any content that does it otherwise only has itself to blame for any inefficiency.

I feel it may be unwise to design player features to target merely the present-day implementations of DRM services and content workflows that are not keeping

[2016-09-15 13:18] ojw28 commented on #1824
Thanks for the info!

Aside from the rest of this discussion, I'm not sure that's quite fair given many providers deployed DASH before the IOP included the recommendations to which you refer. I guess this is a problem inherent with situations where you have an extremely general spec being retrospectively constrained. Which is unfortunate!

This is true. We do need to make any changes in a measured

[2016-09-15 13:20] kvolkers opened #1825 "MPEG-DASH live DVR out of memory"
Using the latest dev-v2 (Sep 14, 2016).

When playing an MPEG-DASH live stream and seeking to a certain "large" amount (for example 1 hour) before the live point the app's RAM usage increases until an OutOfMemoryError is thrown.

I have reproduced this using the demo player in combination with a youtube stream such as [this one](https://www.youtube.com/watch?v=y60wDzZt8yg).

What I think might be

[2016-09-15 13:43] rsatandroid opened #1826 "enableBackgroundAudio in version 2.0.0 library?"
Hi Team,
Does v 2.0.0 library supports background audio feature ?
In v1.5.3 we can were having option - enableBackgroundAudio

Thanks.

[2016-09-15 13:52] amosyuen opened #1827 "Support fixed-width / fixed-height modes for AspectRatioFrameLayout"
I have a SimpleExoPlayerView in a RecyclerView. After loading a video, it has a height of 0 and so doesn't display any video, but you can hear the audio playing.

I've tested the same code in a normal activity and the height adjusts fine, and the video is viewable.

I'm using ExoPlayer v2.0.0 on Android v6.0.1

[bugreport.zip](https://github.com/google/ExoPlayer/files/474798/bugreport.zip)

[2016-09-15 14:17] ojw28 commented on #1826
This was never a feature of the ExoPlayer library. It was a feature of the demo application in previous versions, however note that it wasn't implemented anything like how you'd need to implement background playback in a production quality app. In particular, you'd need to use a foreground [Service](https://developer.android.com/guide/components/services.html) to implement this kind of functionali

[2016-09-15 14:18] ojw28 commented on #1813
Following up off thread; thanks.

[2016-09-15 14:27] AquilesCanta commented on #1772
This should finally be fixed in the next push.

[2016-09-15 14:29] JonWatson commented on #1074
I'm still seeing this in 1.5.10 across a variety of HLS Live streams.

[2016-09-15 14:31] ojw28 commented on #1800
This looks like a pine64 specific issue with the H264 video decoder. My best guess it that the decoder fails to handle rotation metadata correctly. Portrait videos are typically encoded as landscape videos with a piece of metadata indicating that the content should be rotated for playback. This rotation value is provided to the decoder at playback by ExoPlayer. It appears that the decoder on this

[2016-09-15 14:39] ojw28 commented on #1825
Thanks. We can reproduce this, and will push a change shortly.

[2016-09-15 14:54] ojw28 commented on #1827
I don't think SimpleExoPlayerView does anything special. By default it's just `match_parent` for width and height. If you're trying to put the view into something that allows vertical scrolling then I think you need to set an explicit height on the view. Similarly, if you're trying to put the view into something that allows horizontal scrolling then I think you need to set an explicit width on the

[2016-09-15 18:05] R00We opened #1828 "Play video and audio MediaSource together v 2.0.0"
After reading [guide](https://google.github.io/ExoPlayer/guide.html) i am trying run play looped video and audio together.
If run this

[code]

everything work fine but video not looped.
But if i loop video MediaSource

[code]

nothing happen. Even onPlayerError not called and LogCat is empty

[2016-09-16 05:45] amosyuen commented on #1827
Specifically my view is a vertical scrolling list, and the view has match_parent for the width and wrap_content for the height

Adding the height works, but then the video may not fit perfectly depending on the video aspect ratio. I would expect that the aspect ratio frame layout should automatically calculate the height based on the width?

[2016-09-16 06:18] makvasic commented on #1772
Hi,

I am on vacation until Wednesday, so I'll check the results when I come back.

Thanks.

[2016-09-16 06:33] amosyuen commented on #1827
Ok, so looks like the problem is that the wrap_content makes the height start out as 0, and AspectRatioFrameLayout then tries to calculate the width from the height of 0, which is 0. I think the expected behavior in a 0 height case would be to calculate the height from the width if the width is non zero.

I tested this out locally and that fix works. I've proposed a pull request. https://github.co

[2016-09-16 06:58] sandersaares commented on #1824
Fair point about backward compatibility - that is indeed quite an unavoidable consideration and expecting content to be changed is not something that would make anyone happy. I don't think there is anything with so drastic implications here, though.

I can see two important viewpoints when considering how key acquisition with DASH content should work. One is the format/interoperability aspect. In

[2016-09-16 09:03] ojw28 commented on #1824
There's also client compatibility to think about. I'm not sure there's a way to efficiently support your proposed behavior on existing Android devices. Specifically, I'm not sure it's possible to avoid having multiple DRM sessions and multiple separate key requests with the way MediaDrm and the Widevine CDM are implemented currently. IIRC the number of concurrent MediaDrm sessions is also quite li

[2016-09-16 11:00] ojw28 commented on #1827
I'm not sure the proposed solution is the right one. `AspectRatioFrameLayout` is intended to resize itself within the bounds available to it, not to resize itself in a way that causes it to exceed those bounds. Treating height==0 as a special case that's allowed to break this contract doesn't feel right to me.

Note also that since the aspect ratio of the video only becomes known asynchronously (o

[2016-09-16 11:09] AquilesCanta commented on #1828
Yes, this is indeed a bug. We will fix this and provide better documentation regarding the expected behavior of the merging media sources in the next push. Thanks for reporting this.

[2016-09-16 14:08] ChernyshovYuriy opened #1830 "SuppressLint("HandlerLeak")"
Dear colleagues,

While ExoPlayer library is providing to us (clients) excellent ability to stream different media contents, I have to notice that there are a lot of inner non static classes being used, some of them has annotation similar to:
`
SuppressLint("HandlerLeak")
`
What was a reason to suppress such warnings and use inner non static classes, opening a hole for the references leaks between

[2016-09-16 14:30] ojw28 commented on #1830
A lot of lint warnings are warnings rather than errors because it's not possible to identify the case they're warning about in a way that avoids false positives. If there were a way to identify this kind of leak without false positives then it would likely be made an error rather than a warning.

In the cases you mention we do not believe there are unintentional leaks. The explicit suppression of

[2016-09-16 14:30] #1830 closed, assigned to nobody

[2016-09-16 14:35] andrewlewis commented on #1741
@arnoutvandervorst This will require some changes to ExoPlayer's AudioTrack wrapper, to detect the encoded output capability. Once that's done, hopefully it will be possible to enable passthrough automatically when the input format can't be decoded and the default output audio device supports it.

[2016-09-16 18:01] ojw28 commented on #1825
This should now be fixed on `dev-v2`, but please give it a try to double check. Thanks!

[2016-09-16 18:02] ojw28 commented on #1732
This is fixed in `dev-v2`.

[2016-09-16 18:02] #1732 closed, assigned to andrewlewis

[2016-09-16 18:32] Displayel commented on #1522
and thtat will be approximately when ?

[2016-09-16 19:01] amosyuen commented on #1827
The use case is similar to the "Facebook feed," users are uploading videos and I'm showing a list of the user videos. Because the user is uploading the video it may have different aspect ratios. We actually do get the aspect ratio beforehand, which I use so there is no jerkiness for us.

The problem I guess is that I want the AspectRatioFrameLayout to behave such that it fills the available space

[2016-09-16 22:41] kshivaram commented on #281
when we use InitializationTrackSelection in 2.x to select the initial variant to be the highest, it switches back to lower format for a few seconds and then back to good quality thereafter. How do I select the all the initial  variants to be of high quality?

[2016-09-17 03:57] trungd0 opened #1831 "Issues when playing video h265 with HVC1 codec"
Hi Team,
We really love EXO player and we really want to use it for our product.Our product is android boxes running android 4.4.4 .This mainboard  used rockchip rk3128
But now we are having big problem with video in format h265 HVC1 codec.It is stripe up, and it has greenline on the top player.Please see below image.

https://drive.google.com/file/d/0BySdRMqDpCEsYXlSSEpOOHNkdlU/view
I can not und

[2016-09-17 07:58] ghost commented on #725
All,

I have ran many tests on Intel devices over the past while, and have reached the following conclusions :

1.)Many Intel devices are not compatible with version 3 of the Common Encryption spec - this specifies a partial encryption of the NAL unit

2.)A few Intel devices are not compatible with content that uses a 'clear-lead'   - i.e can't handle it when clear content becomes scrambled in the

[2016-09-17 15:24] ghost opened #1832 "Audio not playing when only video codec specified in HLS manifest"
When manifest for HLS contains codecs declarations and it only specify video codec - ExoPlayer plays video without audio.

`#EXT-X-STREAM-INF:BANDWIDTH=1200000,CODECS="avc1.66.30",RESOLUTION=1280x720,AUDIO="aac"`

Conflicted with  workaround in HlsChunkSource

[code]

[2016-09-18 05:58] hezhisu commented on #328
@akhilspillai do you have some idea about this issue, i have the same problem

[2016-09-18 09:45] finneapps commented on #328
http://stackoverflow.com/questions/28749610/mediaplayer-exoplayer-and-audio-streaming
Maybe this will help

[2016-09-18 23:05] ojw28 commented on #1522
That's a question you'd have to direct to nVidia. You may also be able to get some idea or expectation by looking at their historical release cadence.

[2016-09-18 23:34] ojw28 commented on #1831
This is most likely an issue with Rockchip's H265 decoder implementation, and you should report it directly to them.

That said, if you're able to provide us with test content using broken and working variants, we can take a more detailed look. It may also be possible for us to come up with an workaround for the issue.

Thanks!

[2016-09-18 23:40] ojw28 commented on #1832
It's a violation of the HLS specification for the `CODECS` attribute to omit the audio format. As stated in the [spec](https://datatracker.ietf.org/doc/draft-pantos-http-live-streaming/?include_text=1):

Note that even if the audio is fully demuxed, its format must still be included since the `EXT-X-STREAM-INF` tag specifies demuxed rendition (called `aac` in the case you provide).

[2016-09-18 23:40] #1832 closed, assigned to nobody

[2016-09-18 23:50] ojw28 commented on #1827
Got it. It sounds like we should enhance `AspectRatioFrameLayout` to support this case, but it should probably be something that's requested explicitly, rather than it being assumed if `height == 0`.

We should probably have a mode parameter that can be set to the current behavior (fit within bounds), or to one of two new modes: One that considers the width fixed and resizes the height (which is w

[2016-09-18 23:57] ghost opened #1833 "Why most classes in v2 became final?"
Now it's hard to extend ExoPlayer implementation without forking library source or rewriting huge part of library.

[2016-09-19 00:05] ojw28 commented on #1833
We were seeing a lot of cases where developers were using extension as a convenient but lazy (or worse, incorrect) way of achieving custom behaviors. In such cases it was often better to use composition or some other approach instead, or to make modifications to the library to support the functionality they desired more directly (in a way that all users of the library can benefit from). We made qu

[2016-09-19 00:05] #1833 closed, assigned to nobody

[2016-09-19 00:20] ghost commented on #1833
My case is very specific.

I have issue with hls master playlist I need to play in application. It contains wrongly formated CODECS attribute
https://github.com/google/ExoPlayer/issues/1832
As I see, easiest way to fix it - clean codecs field in master playlist after it was parsed.

It would be done by extending HlsMediaPeriod with 3 extra lines of code, but HlsMediaPeriod and HlsMediaSource are f

[2016-09-19 00:23] ojw28 commented on #1833
Why don't you just fix the broken media?

[2016-09-19 00:28] ghost commented on #1833
I do not have influence on server part.  :(
Have to work with this media. Web player they use handles it well.

[2016-09-19 00:32] ojw28 commented on #1833
That doesn't mean they shouldn't fix it. Assuming the content is owned by the same provider for whom the app is being produced, it's difficult to understand why they would refuse to amend the content...

[2016-09-19 06:58] magical-xu opened #1834 "How to crop the library ?"
It 's a good library , but if  I want a most simple function library jar package , how can i crop it to reduce the number of the method. Our project mehod exceeds the limit 65536 , so i want one of the most streamlined version. best wishes.
![image](https://cloud.githubusercontent.com/assets/15309220/18624341/827fa8fc-7e79-11e6-934b-99effbc0fc1a.png)

[2016-09-19 07:20] xuxucode commented on #1782
I am facing same problem with r2.0.0, any update?

[2016-09-19 08:13] kvolkers commented on #1825
Confirmed fixed on latest dev-v2, nice!

[2016-09-19 11:49] moacir69 commented on #1621
Thank you,
I have already got in touch with them.
Kind regards,

Moacir

[2016-09-19 11:52] vkislicins opened #1835 "Issues playing a local URI video recorded on Nexus 5X, Android 7.0"
This is a very strange issue as it only appears on Nexus 5X running Android 7.0. My best guess is it is related to having several `SurfaceView`s initialised at the same time.

In an essence, my app is a Camera app and I'm using ExoPlayer to preview videos after recording. After recording the video, I replace the video capture fragment (which contains the camera preview surface) with the video prev

[2016-09-19 13:27] jonasevcik commented on #1782
@ojw28 Is there a possibility to get involved in HLS support development? I've written a bunch of fixes in that regard, so I can provide them here. There is no clear public timeline of this project, so I'm worried I may be doing duplicate work:)

[2016-09-19 17:19] ccdunnyv opened #1836 "Resolution Limit on Dash playlists"
This previous and unresolved issue appears to be related:
http://github.com/google/ExoPlayer/issues/491
- Videos with more than 1920x1080 (=1440x1440) pixels fail to play when part of a dash playlist. They play correctly via ExoPlayer as .mp4 (even fragemented .mp4)  but not when dashified. Audio plays in all cases.
- In ExoPlayer demo app, Widevine Dash: MP4, H264: Clear UHD (MP4, H264) does not

[2016-09-19 18:31] abhishekjain89 opened #1837 "Playback hangs with v2, worked fine with v1"
Exoplayer (v2.0.0) playback hangs on short videos (<10seconds). The renderer is stuck in buffering state while the extractor has reached end of input. Happens near the end of the file. This worked fine with v1.

Here is a file that you can repro with. The file was generated on Nexus 5 (6.0.1). I added this to the demo app's media.exolist.json file to repro:
file download link: https://dl.dropboxus

[2016-09-20 10:02] b95505017 commented on #281
How do we change InitializationTrackSelection to another in demo app?
I want to select the middle of the format sorting by bandwidth in the begining instead of the first chunklist in playlist.

It means that we have to call `HlsChunkSource#selectTracks` right before everything start to load.

[2016-09-20 13:03] pakerfeldt opened #1838 "RFC: Extending dash manifest with custom data"
This is not a question with ExoPlayer per se but since I know there's a lot of DASH knowledge here I hope I can reach out for some comments.

We're looking for a way to embed custom data into our DASH manifests. Specifically for providing thumbnails for the clients. To me it feels like it would fit very well in the AdaptationSet model.

Consider something like this:

The only bit that's perhaps a

[2016-09-20 13:03] mlondon1 commented on #1690
This is the exact issue I have for encrypted content.  I created a ticket for it, but it sounds like a dupe

https://github.com/google/ExoPlayer/issues/1813

[2016-09-20 13:33] Joseph82 opened #1839 "When connection is interrupted (for few seconds) the start is delayed of a period equally to the last playback period"
**Description:** When the ExoPlayer is playing a realtime audio stream (mp3 audio codec), if the connection is turned off and, after few seconds, turned on again, the playback will actually start after the previous playback time, also if it is continuing download the data from the stream.

**Explanation:** Let's say we have the following scenario:
- The phone is connect to the wifi and at time t0

[2016-09-20 13:48] BruceHwang commented on #1837
I have same problem and found that
In my case when recording video and audio not synced
audio delay 500ms
But I can not fix that
Sorry my bad English

[2016-09-20 16:02] dlewanda commented on #433
My apologies if I'm dredging up an old issue, but we're facing the same problem here where we'd like the ExoPlayer to play files from the raw directory. We're using the same audio files for a couple different purposes in our app, one of which is to serve as a Notification reminder sound. It appears that there is no other option for the Notification's setSound but to use the `assets` folder. I'd re

[2016-09-20 17:22] itsAmud opened #1840 "ExoPlayer.STATE_ENDED never called if no surface is given to player."

[2016-09-20 17:24] #1840 closed, assigned to nobody

[2016-09-21 02:25] yanglichuan opened #1841 "java.lang.VerifyError?"
java.lang.VerifyError
player/EXOEventLogger
player.EXOPlayerManager.preparePlayer(EXOPlayerManager.java:672)
player.EXOPlayerManager.playUri(EXOPlayerManager.java:421)
com.ks.kaishustory.audioservice.MusicService.play(MusicService.java:214)

[2016-09-21 02:27] GoranNSW commented on #179
I am sorry for such a long delay in response. I was working on one other project day and night.
Today I installed player v2 and tried with some streams but subtitles doesn't seem to work, they are not displayed in text selection dialog. Maybe they are not detected as a playable track?

Here are two samples with working DVB subtitles in VLC player, although exoplayer doesn't support them:

http://s

[2016-09-21 09:17] makvasic commented on #1772
OK, I can confirm that this is fixed with release-v2 demo app.

Thanks for the support.

[2016-09-21 09:17] #1772 closed, assigned to AquilesCanta

[2016-09-21 09:41] tresvecesseis commented on #179
Have you tried the latest patches?, we have some problems with Android Studio without this:

https://github.com/google/ExoPlayer/pull/1781/commits/ce2a80fa1a0fc116675a9b56baffe20c2f55b8f6

Also make sure that the fake eia-608 track is not activated

The only remaining problem we have is that SimpleExoPlayer reload the stream when you enable one subtitle track, also make

In any case, we will test

[2016-09-21 09:59] tresvecesseis commented on #179
You have an ancillary page in your subs and that´s not common in the case of one subtitle service per PID, I have to check if it´s supported in our decoder.

From: "tresvecesseis@gmail.com" tresvecesseis@gmail.com
Date: Wednesday, 21 September 2016 at 11:41
To: google/ExoPlayer reply@reply.github.com, google/ExoPlayer ExoPlayer@noreply.github.com
Cc: Comment comment@noreply.github.com
Subject: Re:

[2016-09-21 10:51] makvasic opened #1842 "Having both exoplayer v1 and v2 in the same app"
This is more a question, rather then issue.

Is it possible to have both versions as stated [here](https://medium.com/google-exoplayer/exoplayer-2-x-new-package-and-class-names-ef8e1d9ba96f#.pt2bspkbq)?

I see that v2 is published with same package name as v1, so I'm wondering if it's intentional and you decided not to go with the change?

It is also possible that I'm missing something obvious, pl

[2016-09-21 11:02] Nisse43 opened #1843 "Hls with aac audio plays no sound if there is no audio description in the the variant"
This happens for videostreams that has no audio codec set in the master play list.

Problem is that the workaround in HlsChunkSource.java line 523 cant be disabled.

Atleast ExoPlayer v1 is affected.

[2016-09-21 15:47] GoranNSW commented on #179
Subtitles are working with your patches, great job! I have to wait and catch when subs are actually displayed in streams I am using, tracks are found and displayed in text selection dialog.

[2016-09-21 16:40] zsmatyas commented on #1807
Any news? :chicken:

[2016-09-21 19:41] lkcanal opened #1844 "All video Frames are dropped on some devices/Android builds - Widevine streams - decoding problem"
Hello to the Exoplayer team,

We encounter a serious problem on around 17% of our premium content application users. With our Widevine encrypted streams and the Dash Widevine ones of the Exoplayer Demo, it appears that on some devices and/or Android build, Exoplayer is dropping all video frames. It's like they are facing decryption and decode bugs.
(We are using Explayer 1.5.10-rc)
- Playing the s

[2016-09-21 20:12] raafaelima opened #1845 "How to Add button for full-screen video with exo player?"
I'm using exoPlayer to stream video to my app and so far works fine. What I would like to do now is to add some extra functionality such as a button on the bottom right edge to act as a "full-screen button".

But there are two problems. The first is that ExoPlayer doesn't seem to provide any Control class so you can simply add a button and override its functionality. What I guess is that I have to

[2016-09-22 06:47] PiotrWpl commented on #1845
+1

[2016-09-22 09:10] ojw28 commented on #1841
Closing due to insufficient information.

[2016-09-22 09:10] #1841 closed, assigned to nobody

[2016-09-22 09:11] ojw28 commented on #1834
There is nothing special about how you'd treat ExoPlayer vs any other library when it comes to this issue, so you should just follow the advice [here](https://developer.android.com/studio/build/multidex.html).

[2016-09-22 09:11] #1834 closed, assigned to nobody

[2016-09-22 09:13] ojw28 commented on #1839
This issue has been fixed in ExoPlayer 2 (i.e. 2.0.0 and greater). See #1285 for some more discussion about the issue.

[2016-09-22 09:13] #1839 closed, assigned to nobody

[2016-09-22 09:19] mkovalyk commented on #729
Hi.
I have faced the same issue. So I had Exoplayer version 1.5.10.
However I have it only on Nexus 5X with Android 7.0.
Same stream works correctly on Samsung S6 and J7 with Android 6.0.1.

[2016-09-22 09:20] ojw28 commented on #1842
Good question. The package name of the classes in the library _has_ been changed, which allows v1 and v2 to co-exist in an application. We have however published the library using the existing name, which I think is what you're referring to. This makes it awkward to include two versions of the library at once using gradle, which is probably what you're referring to. It is possible, according to [t

[2016-09-22 09:22] ojw28 commented on #1843
Including a CODECS attribute but failing to include the audio format in it is a violation of the HLS spec, as stated in #1832. The broken media should be fixed to resolve this issue.

[2016-09-22 09:22] #1843 closed, assigned to nobody

[2016-09-22 09:24] ojw28 commented on #433
We recently added [RawResourceDataSource](https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/upstream/RawResourceDataSource.java) to v2, which will allow you to play files in the raw directory.

[2016-09-22 09:56] makvasic commented on #1842
Yes, thank you, I was talking about gradle.
Definitely agree, best way is v1 as jar and v2 via gradle until transition is made.
After reading a [blogpost](https://medium.com/google-exoplayer/exoplayer-2-x-new-package-and-class-names-ef8e1d9ba96f#.pt2bspkbq) I was just expecting something like `com.google.android.exoplayer2:exoplayer:r2.0.0` and got confused in the process...

Thanks for clarificat

[2016-09-22 09:56] #1842 closed, assigned to nobody

[2016-09-22 10:20] ojw28 commented on #1835
I'm don't think we have a good answer to this question/problem. It sounds very application specific, to the extent that it may or may not be an issue with application code (although if it is, it's curious that the resulting behavior appears to be device/os specific).

In any case, we can't prioritise investigating the issue vs other stuff, so closing. It sounds like you have a solution to the prob

[2016-09-22 10:20] #1835 closed, assigned to nobody

[2016-09-22 10:29] Joseph82 commented on #1839
I thought that the 1.x would be still maintained. Indeed I read: _"We will however continue to provide bug fixes for 1.x for the foreseeable future."_ (https://medium.com/google-exoplayer/exoplayer-2-x-its-here-plus-faqs-cce34b0d4c7b#.4gbl48c1y). So if I'm not wrong, this should also be fixed for the ExoPlayer 1.x , isn't it?

[2016-09-22 10:42] makvasic commented on #1845
Probably the "easiest" way is to copy `SimpleExoPlayerView` and `PlaybackControlView` from exoplayer v2 to your project and add full-screen button with appropriate listener there. You should mirror behavior of the playPauseButton. I have done that with `MediaPlayer` and it worked :) but then you realize it's much better to make your custom views from stretch suitable for your use-case...
As for th

[2016-09-22 11:33] nitin02 commented on #633
@ojw28 @hakemcpu

For licenses to be persisted, should playback happen at least once for a particular content/asset?

From what I understand, widevine licenses are device specific, so there is no way to have a generic license that is compatible across many devices for the same content/asset.

So, there's no way to make licenses entirely offline without any playback?

[2016-09-22 11:43] ojw28 commented on #633
There is no requirement to play anything. You need to perform a MediaDrm key request/response, but there's nothing that ties this to occurring as part of a playback.

[2016-09-22 12:36] fasteque commented on #91
I see the same issue with the latest ExoPlayer version, `r2.0.0`: any solution while using the `SimpleExoPlayerView`?

[2016-09-22 12:54] ojw28 commented on #1839
It really depends on what the bug is and what's required to fix it. If back-porting a fix requires us to also back-port a bunch of huge architectural changes that allowed the fix to happen, then it's not viable (and is approximately equivalent to you updating to v2 in any case). This is one such case, so you will need to update to v2.

[2016-09-22 12:55] #1823 closed, assigned to nobody

[2016-09-22 12:58] nitin02 commented on #633
The content is encrypted with CENC and hence a license response is needed for playback. So, is there a widevine license response that is generic enough to be playable irrespective of the device (for a particular content).

[2016-09-22 14:01] ojw28 commented on #1838
I think a player should probably ignore an AdaptationSet that it doesn't know how to handle, or at least have the option of doing so. If Shaka is failing for this reason then you should probably open a bug on that project asking if it would be more correct for them to ignore it.

The DASH spec is very permissive (most often you'll find that something is just not defined, rather than being explicit

[2016-09-22 14:01] #1838 closed, assigned to nobody

[2016-09-22 14:40] AquilesCanta commented on #1782
Hi, guys, I am currently taking care of Hls support. We are currently working on this but we have quite a lot going on. I already have in mind a few ways of minimizing the BLWEs you are getting, but it is blocked by some new features being added. Once those go through, I will address this directly. I am curious about the fixes you speak about, @jonasevcik. If you don't mind giving me an overview,

[2016-09-22 15:36] philolt opened #1846 "Issue with seemless looping on Amlogic S905 (odroid c2)."
I try using Exoplayer r2.0 to play a local video in endless loop. There is no problem playing the video (simple local mp4 file) as LoopingMediaSource once, but it just stops after the first run. To find the reason for this behaviour I implemented the Exoplayer.EventListener Interface. My log says, that there was no STATE_ENDED Event triggered but there were some STATE_BUFFERING and STATE_READY Eve

[2016-09-22 15:43] ojw28 commented on #1846
You're likely going to need to provide sample content and a code snippet showing how you're building the MediaSource for us to investigate this. Thanks.

[2016-09-22 15:43] ojw28 commented on #1837
We'll provide a fix for this shortly. It's unclear whether the second issue is the same, however.

[2016-09-22 15:52] ojw28 commented on #1836
Please could you try with ExoPlayer 2.0.0. Format selection and filtering is implemented consistently across different types of playback, so I'd expect that you'll find the content doesn't play either as DASH or regular MP4 in that case. The demo app will also show you a toast indicating that the format is not supported, if that's the case. Either that or playback will work for both DASH and regul

[2016-09-22 16:15] b95505017 commented on #1845
The best user experience may be integrating with this guide:
https://developer.android.com/design/patterns/fullscreen.html

[2016-09-22 16:21] philolt commented on #1846
My Code is like this snippet:

[code]

The log after the video ended:

I can reproduce this behaviour on this device with every h264 ecoded MP4 file i found so far . On a Samsung Galaxy S7 the LoopingMediaSource works as expected.

[2016-09-22 17:20] b95505017 opened #1848 "How to change the rule with InitializationTrackSelection?"
In v2, there is an `InitializationTrackSelection` in `HlsChunkSource`, which will choose the first track in group.

[code]

If I want to choose the middle of the track with the decreasing bandwidth order in the beginning:

[code]

How should I do in the preferred way?

[2016-09-22 18:59] weijia-yu opened #1849 "Extract current ts file information when playing HLS?"
- A description of the issue.

I wonder if it is possible to extract the current ts file name which i am playing?

[2016-09-22 19:47] knottb commented on #1836
The current version for the demo player is Version 1.5.3 (which we are using). In our experience with this version of the demo player, UHD video will play, but not using DASH. HD will play using DASH, but not UHD.

We are experiencing similar results with our ExoPlayer build (v. 1.5.8)

Our use case is equivalent to providing different views on a given scene, where the user can choose the view. Be

[2016-09-22 20:07] timonchev opened #1850 "Mp4 playback problem"
Hello, have a problems with different files from 360 camera.
Some files is playback with errors. File for example with error playback : https://s3.eu-central-1.amazonaws.com/3dreal/stitch.mp4

Nexus 5, Android 6.01. But have same error on other device also.
Log..

[code]

[2016-09-22 21:38] ojw28 commented on #1836
The post above appears to say exactly what the original poster says. I'm not sure there's any additional information, so my response above still holds. "Capable of UHD" isn't really well defined. What you really mean is  that the device is capable of UHD the exact way it's encoded in the videos you're playing, which isn't the same thing. If you're at or close the limit then the device may not adve

[2016-09-22 21:44] ojw28 commented on #1850
What version of ExoPlayer is this with? Please could you try with a recent version and report back (i.e. 1.5.11 or 2.0.0)?

[2016-09-22 21:53] ojw28 commented on #1844
@wvpaf - Could you follow up with the device manufacturer about this; it sounds fairly badly broken? Can we also check that this device will definitely fail some tests we now have in place to prevent this kind of thing going forward?

[2016-09-22 22:45] ojw28 commented on #633
If you could create a single response that could be used to play the content on any device, then what would the addition of DRM actually achieve? The response could be easily captured and then used to play the content arbitrarily on any device, which seems like it would defeat the purpose.

So to answer your question: Yes, to play a piece of content offline the device needs to have made a license

[2016-09-23 07:34] timonchev commented on #1850
Tested with 1.5.9 and 1.5.11 with gvr-sdk. With 2.0.0 also same error..

[2016-09-23 07:41] timonchev commented on #1850
With gvr-sdk I have this error log:

[code]

[2016-09-23 08:23] timonchev commented on #1850
Fo example, first file is playback good after converting, but second is original file no playback..

![2016-09-22 15 40 23](https://cloud.githubusercontent.com/assets/2788684/18779062/fc34c85e-817f-11e6-8704-6d3c2c3ff729.png)
![2016-09-22 15 40 33](https://cloud.githubusercontent.com/assets/2788684/18779063/fc5f7040-817f-11e6-9d1f-d9f2d39a1ec4.png)

[2016-09-23 10:16] andrewlewis commented on #1850
stitch.mp4 appears to be invalid: the number of video sample timestamps that can be derived from the `stts` box is different from the actual number of samples, so the player throws an error due when it asserts that the sample metadata is valid.

We might replace the assertion with a logged warning at some point, but the proper fix is to write the MP4 container correctly.

[2016-09-23 10:19] timonchev commented on #1850
If you can, pls do replace the assertion with a logged warning at some point. This video from SYVR360 app, I'll contact with app developers.

[2016-09-23 10:50] jonasevcik commented on #1782
@AquilesCanta all my changes are available in a fork here https://github.com/jonasevcik/ExoPlayer/tree/startover (everything originating from the dev-v2 branch)

Quick summary of the changes:
- added support for #EXT-X-PLAYLIST-TYPE - it made seeking possible in live events
- live playlists (not live events) start playback 3 chunks from end of the playlist
- live playlists (incl. live events) are

[2016-09-23 10:51] #1850 closed, assigned to nobody

[2016-09-23 11:11] mkovalyk opened #1851 "IllegalStateException: buffer is inaccessible"
Hi, I have found the issue [https://github.com/google/ExoPlayer/issues/729], but in my case malformed stream is not the reason.
I have faced the issue while trying to get DirectByteBuffer on Nexus 5X Android 7.0  (sampleHolder.data.duplicate()) and get error **buffer is inaccessible**.
Same stream works correctly on Samsung S6 and J7 with Android 6.0.1.
Please advice on this issue.

[2016-09-23 11:17] AquilesCanta commented on #1782
This will have to wait until we add live seeking support in HLS, its on the map so it is a matter of time. Once I get to it, we can look at the possibility of integrating it. In the meantime, we have to wait for a few other more basic things to get pushed.

This is already happening in V2, right? Have you checked the released version?

This is already happening while playing in V2. Haven't thought

[2016-09-23 12:36] jonasevcik commented on #1782
Ok

This is correct. Sorry, my bad.

Refreshing of a live playlist is now better, but still not perfect. See, refresh can occur only when this condition is met
`if (chunkIndex >= mediaPlaylist.segments.size())`
It is too late to start refreshing while playing the last chunk. Then, if you don't meet the condition regarding min. refresh time, you'll get stuck. Live playlists should be refreshed peri

[2016-09-23 13:18] AquilesCanta commented on #1782
Can you please clarify? This

`if (chunkIndex >= mediaPlaylist.segments.size())`

has nothing to do with the playback position. In other words, refreshing the playlist does not have anything to do with playback position. We used to poll the playlist, if I remember correctly. We now only poll it (with half the target duration time interval) when we get to the live edge while loading the chunks. If

[2016-09-23 13:25] ojw28 commented on #1782
Aside from anything else (or what the spec says), this will be required for seeking in the live window. We should IMO be prioritizing doing this (i.e. moving the playlist refresh logic up to HlsMediaSource, making it periodic and exposing the live window).

[2016-09-23 13:49] replystreamingwidevine opened #1852 "Error 2998 while streaming on Samsung with OS 5.0.2"
During the development of an android application with exoplayer, we found an issue with some devices while streaming a video content. Only with devices Samsung with OS 5.0.2 (Lollipop) we get the error code -2998. The error is generated by the provideKeyResponse(sessionId, key) method.
About the log for us the more relevant issue is the -2998. Here the log:

I/WVCdm   ( 2318): CdmEngine::AddKey
E/

[2016-09-23 14:11] jonasevcik commented on #1782
@AquilesCanta

It's related to buffering position. I oversaw retryInMs part, which wasn't present in earlier versions and might caused trouble. Now it's alright. Nevertheless,  @ojw28 is right, periodical refreshing of the playlist is vital when you want to implement correct seeking in live window or live events (I know that seeking in a live window or live events is not supported now). Now, you w

[2016-09-23 15:14] langrenfengzi commented on #91
So there was no ways to rotate a SurfaceView?

[2016-09-23 16:20] dlewanda commented on #433
Thanks @ojw28 for the update. We are still on 1.5.7 at the moment. We'll definitely consider it when we move to v2 in the future.

[2016-09-23 16:29] GoranNSW commented on #179
I have finally succeeded to catch subtitles shown in the stream in VLC player, but in exoplayer track is not visible in selection list, so subtitle can't be displayed. I sent an email with the sample on dev.exoplayer@gmail.com

Edit:

My mistake, I accidentally tried stream without your patch, now with your patch everything works excellent!

[2016-09-23 17:23] tresvecesseis commented on #179
@GoranNSW thanks for your testing but I'm confused with your comments, are the subtitles working with the demo application and the #1781 pull request?

In any case. your published captures:

http://samples.ffmpeg.org/MPEG-VOB/transport/dvbsub/dvbsubtest.ts
https://bugs.launchpad.net/me-tv/+bug/624781/+attachment/1520761/+files/Tiededokumentti_%20Muistia%20etsim%C3%A4ss%C3%A4%20-%20YLE%20Teema%20-%

[2016-09-23 17:34] AquilesCanta commented on #1849
It is not something we support. I'd suggest asking about this in a general programming Q&A site, like stack overflow. Also try to provide more information about why you need it.

[2016-09-23 17:34] #1849 closed, assigned to nobody

[2016-09-23 17:43] GoranNSW commented on #179
I am sorry for making confusion, subtitles **are working** with demo app and pull request #1781.

Samples I earlier provided are found on the internet, and sample I sent an hour ago is actual sample I am using in my app. I can't post it here because of copyright material.

There are no problems with subtitles, if I find them  I will report my findings.

[2016-09-23 18:09] tresvecesseis commented on #179
I'm not related to google, my private email is tresvecesseis@gmail.com

El 23 sept. 2016 7:43 p. m., "GoranNSW" notifications@github.com escribió:

[2016-09-23 18:13] GoranNSW commented on #179
I didn'k knew that, I sent you the sample if you want to test it

[2016-09-23 21:23] tresvecesseis commented on #179
Thanks, we only have streams of our own service and we will appreciate any
samples you can provide.

El 23 sept. 2016 8:13 p. m., "GoranNSW" notifications@github.com escribió:

[2016-09-23 23:45] ChernyshovYuriy opened #1853 "MergingMediaSource failed when use side loaded Text tracks"
Dear colleagues,
In the current ExoPlayer v2, when use side loaded text tracks along side with dash source, there is last track missing in the MergingMediaPeriod#periods field. It results to NullPointerException at the line 180 of the MergingMediaPeriod.java.
I did investigation and found that callback.onPrepared() dispatches too earlier, in fact prior to MediaPeriod added to the array.
Be more sp

[2016-09-24 00:13] ChernyshovYuriy opened #1854 "NullPointerException when disable text renderer in case of sideloaded track"
ExoPlayer v2.
I do load dash source with side loaded vtt tracks in the way described in:
https://github.com/google/ExoPlayer/issues/1853
When I set text renderer disabled in the way:

[code]

I do experience:

[code]

Meanwhile, disable audio renderer works well.
Please, let me know what kind of additional information you do need to process this issue.

[2016-09-24 01:39] ChernyshovYuriy commented on #1853
I have to notice that in case of no side loaded content we still need a callback dispatched from DashMediaPeriod's constructor. So it would be not an easy solution without know all aspects of the ExoPlayer structure.

[2016-09-24 07:22] tonggang1308 opened #1855 "Memory leak"
- Memory Leak.
- I modify the ExoPlayer demo app（r2.0.0）, let it to play local mp4 file. It is OK, it play very smooth. But, when exit the activity, the memory don't restore to normal level. Even though I force the GC, the memory is not released.
- The issue can be reproduced at many android device.

[2016-09-24 18:07] GoranNSW commented on #179
If you need more samples, for example with multiple audio tracks, I can send them to you.

[2016-09-24 18:08] jpearl opened #1856 "After AudioTrack.pause(), getCurrentPosition() continues to progress"
I have a requirement that I know the exact position of playback after the content has been "paused" - aka after setPlayWhenReady(false).

I have tested this both with ExoPlayer1 and ExoPlayer2, but I have more logs and data for v1, so the data throughout is for v1, although the same exact behavior reproduces under v2.

My current scenario is that with exo playing, I call setPlayWhenReady(false). I

[2016-09-24 19:15] Brahmasmi opened #1857 "Make cronet release jar downloads publically available"
The cronet release jars download link leads to a login page. Could you please make the downloads available on a public location.

Steps to Reproduce:
https://github.com/google/ExoPlayer/tree/release-v2/extensions/cronet/README.md -> Build Instructions -> First point -> Link points to https://console.cloud.google.com/storage/browser/chromium-cronet/android -> Clicking leads to login page for cloud

[2016-09-25 01:11] dlewanda opened #1858 "Opus JNI error"
Greetings,

I have taken over development of a project that had been using ExoPlayer 1.5.7 for the past few months along with the Opus extension. I am trying to evaluate 1.5.11 to pick up a few fixes that look good. I had been testing using the demo-ext app on Android 4.4.x, and it worked great. When I tried to run the same code for Android 6.0, however, I ran into the following error at launch:

[2016-09-25 08:47] yhd4711499 opened #1859 "Can't play local file whose path contains '#'"
- A description of the issue.

Exoplayer failed to play media file with file path containing '#'.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.

This could be easily reproduced.
- The version of ExoPlayer being used.

dev-v2.
rev 846f8e1
- The device(s) and version(s) of Android on which the issue can be reproduced,
  and how easily it reproduces. If poss

[2016-09-25 12:34] ChernyshovYuriy opened #1860 "Fetch DrmInitData"
Dear colleagues,

What is pseudo code, or basic concept in order to fetch DrmInitData? For instance, in case of Widevine.
What I did is created DashMediaSource and invoked "prepareSource(listener)". However, listener returned Manifest that contained Periods and Representations but DrmInitData there is still null. Assume that there was not data chunks loaded yet.
What is your advice?
Thanks in adva

[2016-09-25 22:21] ChernyshovYuriy commented on #949
Does anyone interested in the same implementation for the ExoPlayer v2 ?

[2016-09-25 23:15] SrujithPoondla commented on #432
@Ood-Tsen if we want to develop a VR Player using ExoPlayer, are there any particular steps or methods we have to follow? If you have any info related to building a VR player using exoplayer please tell.

[2016-09-26 03:27] huyn opened #1862 "IllegalStateException when jump to the third party sharing module"
It occurs when I play multiple videos and want to share these videos via a third party social app(like facebook), then the activity is moved to background,  I get these logs. And when the activity is moved to foreground, these videos can not be played any more. Maybe you guys should check it.

[code]

[2016-09-26 06:56] anki1427 commented on #1611
Hi I am facing this issue while playing video in MI phones ,there is a ExoPlayBackException...

 Unhandled error event
                                                                com.google.android.exoplayer.ExoPlaybackException: java.lang.IllegalStateException
                                                                    at com.google.android.exoplayer.ExoPlayerImplInternal.handleMessag

[2016-09-26 07:13] philipgiuliani commented on #1855
I have upgraded my own project to ExoPlayer 2.0 and even calling player.release() does not release any resources. I am streaming mp4 files.

After opening the player a second time with a mp4 file, it crashes with an OutOfMemory exception.

[2016-09-26 08:35] ojw28 commented on #1857
I'm pretty sure you can login with any regular Google account, so just using your personal GMail account, opening one if necessary, should be sufficient.

I agree this is not a good distribution mechanism. @kul3r4 - Can we please have a discussion with the Cronet team and come up with something better?

[2016-09-26 08:37] ojw28 commented on #1851
Please provide all of the information requested in the issue template, otherwise we don't have enough data to help. Thanks!

[2016-09-26 08:38] nksaroj opened #1863 "SimpleExoPlayer to play the Audio only"
[code]

I've been using the above code to play the video using SimpleExoPlayer. Could anyone please help me in regards to play the audio only using SimpleExoPlayer?

[2016-09-26 08:54] asapehrsson commented on #1853
I have the same problem.

My workaround: Modify MergingMediaPeriod.java, MergingMediaSource.java and SingleSampleMediaPeriod.java.

First, change MergingMediaPeriod.java line 175.

[code]

to

[code]

Then add code, MergingMediaSource.java, line 121

[code]

Finally initialize sampleData in SingleSampleMediaPeriod.java

[2016-09-26 09:14] ojw28 commented on #1859
I was able to play a file containing a # symbol, but you have to be careful when you construct the `Uri` that gets passed to `ExtractorRendererBuilder` because # is a reserved character. See [this page](https://en.wikipedia.org/wiki/Percent-encoding) for details. The way the demo app works, you can add a sample to `Samples.java` by percent encoding the # as %23:

[code]

If you're creating the `Ur

[2016-09-26 09:14] #1859 closed, assigned to nobody

[2016-09-26 09:28] ojw28 commented on #1863
You need to provide the information requested in the issue template for us to help you. Specifically, we'll need a link to the media that you're trying to play. Also, please try and reproduce in the ExoPlayer demo app, which will normally tell you why if video is present in the media but not being played.

[2016-09-26 09:30] ojw28 commented on #1862
You're probably not detaching the `Surface` that the player is rendering to before it's destroyed. This results in the player trying to draw into a surface that's no longer valid, which may result in failure.

Please ensure you're listening to `surfaceDestroyed` and clearing the surface from the player in a blocking manner. You can refer to the V1 demo app for an example of this. In V2 `SimpleExoP

[2016-09-26 09:31] ojw28 commented on #1858
@erdemguven - Any chance you can apply some of your JNI skills and take a look at this? Thanks!

[2016-09-26 09:40] ojw28 commented on #1855
Please can you provide more information on how this is reproduced in the ExoPlayer demo app?

When I exit the playback activity and force 2x GCs via Android Monitor in Android Studio, the memory level reliably returns to its base level (I'm unsure why 2x GCs are required, but that's more likely a property of how the GC works than of ExoPlayer).

Also, if you do multiple playbacks successively, doe

[2016-09-26 09:43] ojw28 commented on #1854
I think you're somehow managing to include a null entry in the array of `TrackRenderer` instances passed to `ExoPlayer.prepare`, which would be a bug in your application code. Either way it should be pretty easy to attach a debugger and work out why the player is trying to invoke a method on a null `TrackRenderer`.

[2016-09-26 09:54] ojw28 commented on #1853
@andrewlewis - Fixing this may well link into getting all the `onPrepared` calls onto the right thread.

[2016-09-26 09:58] ojw28 commented on #1853
The issue is best understood by looking at `MergingMediaSource.createPeriod`:

[code]

Some `createPeriod` calls ends up calling `onPrepared` synchronously, so such calls happen before `periods[i]` is actually set to the period being created. `MergingMediaSource.onPrepared` relies on all entries in `periods` being non-null at the point where `pendingChildPrepareCount` is decremented to 0.

[2016-09-26 10:05] ojw28 commented on #1856
It's important to understand what you mean by "exact position". Some people understand this as the exact timestamp of the video frame that's currently displayed, however note that in general positions reported during playback are at a finer granularity than video frame and are based on audio time.

Please could you clarify exactly what your use case is? Thanks.

[2016-09-26 13:02] jpearl commented on #1856
Absolutely. For my purposes, I care about the position value reported via ExoPlayer's getCurrentPosition() API.

For (unfortunate) reasons in our application layer dependency, when the user pauses, we have to report up the position that the user paused at. When the user resumes, our application layer dependency (so outside of our control), doesn't tell us strictly to "resume playback", but specifi

[2016-09-26 13:10] ojw28 commented on #1856
Got it, but note that even if we fixed things to behave in the way you expect, I'm not sure we'd want to guarantee that the seek call wouldn't re-buffer all of the currently buffered media. Why don't you just add a check that omits the call to seekTo if X is within ~100ms or so of the current position?

[2016-09-26 14:14] techguy2 commented on #949
@ChernyshovYuriy we are interested in the same implementation in Exoplayer. Is it possible to download DRM protected DASH stream to be downloaded using exoplayer to playback offline without Internet?

[2016-09-26 14:27] ChernyshovYuriy commented on #1860
Here is a snippet of a code that I use to try to obtain DrmInitData:

[code]

When it does download Manifest I continue to download data by "mediaPeriod.continueLoading(0);" and got callbacks "void onContinueLoadingRequested(MediaPeriod source)" and "onLoadCompleted", however, when debugging deep into Periods, appropriate filed contains drmInitData has null value despite the fact that the brake po

[2016-09-26 16:06] mkovalyk commented on #1851
@ojw28 Thanks for reply. While preparing sample to reproduce problem on Demo app, I figured out what the problem was... Multithreading. So I was trying to get access to ByteBuffer from another thread.
In API < 24 it worked correctly, but for API 24 it was changed and is not allowed anymore (most likely).

[2016-09-26 16:06] #1851 closed, assigned to nobody

[2016-09-26 16:41] ChernyshovYuriy commented on #949
Hi @techguy2 .
The intention of my question was:
"does any one else tried to implement solution provided by  Amritpal33 commented on Jul 25 with Exo Player v2".
Sorry if I confused someone, I do not have solution so far and as well.

[2016-09-26 18:36] ChernyshovYuriy commented on #1860
After some investigation I found one solution:

[code]

However, I had to modify `ContainerMediaChunk.java` and it's field's modifier to 'public':

[code]

Would be more correctly to avoid ExoPlayer source code modification.
Once again, waiting for the ExoPlayer engineers feedback :-)

[2016-09-26 21:37] jpearl commented on #1856
Sorry I should have mentioned - yes, we only conditionally call seek(), for the reason you mentioned of any overhead of rebuffering.

And yes, adding a "fudge factor"/threshold in that conditional was the work around we were considering.

in essence, changing:

[code]

to:

[code]

[2016-09-27 00:34] nksaroj commented on #1863
Let us asume I would like to use the following url to play the audio only though it is a mp4 video
http://brightcove05.brightcove.com/2105712286001/201609/1285/2105712286001_5140792212001_5140773730001.mp4?pubId=2105712286001&videoId=5140773730001

[2016-09-27 02:17] abhishekjain89 commented on #1837
Thanks @ojw28, would you be able to share an estimate date for the patch?

[2016-09-27 03:29] hienandroid commented on #1782
How to fix this problem ? Please help me, i see this problem in the release 2.0.0

[2016-09-27 06:22] BattleShipPark commented on #1220
@jmgirven did you solve the problem? I am looking for and example using image filter in ExoPlayer. Could you help me? Thanks.

[2016-09-27 06:43] nezen commented on #1808
erdemguven, thanks! I checked the flac with metaflac and there is no SEEKTABLE. But when I try to  seek it with MediaPlayer.seekTo() , it worked.  So what's going on?

[2016-09-27 09:39] teokw90 opened #1864 "Streaming DRM content(s) Issue"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- When streaming DRM content(s), suddenly streaming hang with "Hang" sound or Streaming jerky
  ![screenshot_20160927-170422](https://cloud.githubusercontent.c

[2016-09-27 09:44] calulelalu commented on #1706
Hi, I'm trying to implement a DynamicConcatenatingMediaSource class close to ConcatenatingMediaSource, except for the Lists management instead of arrays for mediasources, timelines and manifests and adding the following addSource method:

[code]

I receive the following exception when I seek to the last-1 track (before the one I added):
Unexpected exception loading stream
java.lang.NullPointerExce

[2016-09-27 10:45] erdemguven commented on #1808
MediaPlayer uses libflac for seeking which just do a search in flac file for the correct position if there isn't any seektable. Currently ExoPlayer doesn't do that for flac files.

[2016-09-27 11:27] ojw28 commented on #1856
I think you should just go with your fudge/workaround, and longer term try and resolve the constraints that are requiring you to seek instead of resume in the first place. In V2, we don't even have `onPlayWhenReadyCommitted` (although it's possible that it'll make a comeback).

[2016-09-27 12:29] erdemguven commented on #1858
Hi dlewanda,

By any chance are you using robovm? If so please try the code without robovm (compile with the default android toolchain). Also please send a full bug report.

[2016-09-27 13:18] jonasevcik commented on #1782
The trouble lies in HlsChunkSource in this loop:

[code]

This playlist is specific, because it contains only 3 chunks. Calculation of offsetToLiveInstantSecs is not accurate, so we end up with a few spare seconds, unable to meet the condition offsetToLiveInstantSecs < 0 (because of the short playlist). Solution is either modify this condition, or provide one more condition in the beginning of thi

[2016-09-27 13:35] AquilesCanta commented on #1782
I think this condition is not ideal, as one of the media playlist might have been refreshed at a different moment, meaning that there is a small offset that breaks the condition (even if sequence numbers are aligned).

Also, due to splicing, this

should probably be

If your media playlist contain the `EXT-X-PROGRAM-DATE-TIME` tag, we will use that for adaptation in the future and that should be t

[2016-09-27 14:12] calulelalu commented on #1706
I eventually found the problem (yeah!).
The issue, described in this stackoverflow https://stackoverflow.com/questions/39612004/dynamic-playlists-with-exoplayer-2/39725741#39725741
was with the replacement of the arrays to lists.

To add new sources in my DynamicConcatenatingMediaSources:

[code]

[2016-09-27 15:37] peddisri commented on #1856
This issue happens because Android AOSP AudioTrack's Pause API handles the command asynchronously. It posts a command to pause, and returns before the playback is actually paused. So, between issuing the command and actually pausing, its possible that some amount of audio data (may be couple of frames) are played out. This internally updates the playbackheadposition. So, before and after pause, th

[2016-09-27 16:00] calulelalu commented on #1706
Now I'm stuck on the remove issue... any help?
Performing

[code]

obviously does not update all the lists and Periods references but I'm losing into the code and not able to figure out what is to be done.

[2016-09-27 16:54] zsmatyas commented on #1807
:honey_pot:

[2016-09-27 17:00] aletorrado opened #1865 "ExoPlayer2 crashes when fetching a Dash manifest with no SegmentTimeline items (yet)"
When doing a live broadcast, and the transmission just started, the Dash manifest may have an empty SegmentTimeline (while the first chunk is getting filled). ExoPlayer2 crashes on that moment.

This is the manifest I'm testing:

[code]

And here is an example of the stack trace I'm getting:

[code]

[2016-09-27 17:21] ojw28 commented on #1837
Tomorrow.

[2016-09-27 17:30] ojw28 commented on #1863
I didn't test this, but try replacing this:

[code]

with something that disables all of the video renderers, like:

[code]

[2016-09-27 17:30] #1863 closed, assigned to nobody

[2016-09-27 17:55] dlewanda commented on #1858
Thanks for getting back to me @erdemguven. I'm not using robovm, as I'm just building using the normal toolset on OS X (10.11) with ndk-build and the like. What other bug information would you like to see? I'm not sure what else I can provide beyond the stack trace above.

[2016-09-27 18:57] AquilesCanta commented on #726
In the next push a fix for this will be provided. The API is a bit awkward, yet, due to HLS compatibility requisites, but we are working on it.

[2016-09-27 20:59] aletorrado opened #1866 "Setting Dash clock sync endpoint"
Hi, I'm looking for any way to setup the Dash UTCTiming endpoint programatically (right now FFMPEG doesn't seem to support setting it in the manifest when using ISO Dash). Is that available with ExoPlayer2?

[2016-09-27 22:14] wvpaf commented on #1852
@replystreamingwidevine  Samsung device is this happening on?  Is it multiple models? Can you provide the names so we can investigate on our end?  Does this work on some Samsung devices? Can you provide some of those model names?

Also are you passing in large optionalParameters in to MediaDrm.getKeyRequest?

[2016-09-27 22:24] wvpaf commented on #1844
@ojw28 thanks for sending our way. we will attempt to get an example of this device and run it up and see what can do.

[2016-09-27 22:41] wvpaf commented on #1794
@guillaumemarc  Can you monitor the CPU usage on the device, you may be overrunning the device's capabilities.

[2016-09-27 23:00] nksaroj commented on #1863
Thank you!

[2016-09-28 04:25] hershlag opened #1867 "Local video playblack failure with Exo 2.0"
I am trying to integrate with the new Exo 2.0 and I am having issues playing local videos. The videos are located in the raw assets folder. In attempting to create a new ExtractorMediaSource(mp4VideoUri, ...), if I use a FileDataSourceFactory then it complains of a FileNotFoundException when passing in the local URI, if I use the DefaultDataSourceFactory it complains about the HttpClient failing.

[2016-09-28 08:20] tianyutingxy opened #1868 "r1.5.10 do not support play flv files"
u can try this flv video path: http://img.momocdn.com/moment/22/15/22158C0E-81C4-5411-3D72-BB92985B570120160928.flv

[2016-09-28 08:33] #1868 closed, assigned to nobody

[2016-09-28 08:42] shysh opened #1869 "Hello!"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-09-28 08:43] #1869 closed, assigned to nobody

[2016-09-28 08:47] ojw28 commented on #1867
`DefaultDataSourceFactory` is the right thing to be using. It sounds like the `Uri` you're using isn't correctly formatted. Where _exactly_ is the asset located, and what `Uri` are you using to try and play it?

[2016-09-28 08:48] shysh opened #1870 "Using in background service"
Hello!

How do I use ExoPlayer-v2 in backgrtound service.
Problem: Can't create handler inside thread that has not called Looper.prepare()

Thank you for your response.

[2016-09-28 08:49] ojw28 commented on #1866
This is not supported. I would have thought that if FFMPEG doesn't support adding UtcTiming elements, it probably doesn't support generating manifests that are formatted in such a way so as to require their presence. It wouldn't really make sense to do one without the other.

It sounds like you should be filing a feature request on FFMPEG in any case, or else manipulating the output of FFMPEG to m

[2016-09-28 08:49] #1866 closed, assigned to nobody

[2016-09-28 09:42] grosalex opened #1871 "Gradle exoplayer 2"
Sorry migth be a dummy question but what the compile line to add to gradle to update to 2.0.0, I've tried :

`compile 'com.google.android.exoplayer:exoplayer:r2.0.0'`

`compile 'com.google.android.exoplayer2:exoplayer:r2.0.0'`

but none makes gradle happy,

Regards,

[2016-09-28 09:53] AquilesCanta commented on #1870
Please see #1648.

[2016-09-28 09:53] #1870 closed, assigned to nobody

[2016-09-28 10:47] erdemguven commented on #1858
Please send

[2016-09-28 12:07] theBradfo commented on #1789
FWIW it seems like it's just the video renderers that have issues with this older HLS spec.  We play an audio-only stream (http://espn.edge-1.cis.abacast.net/espn-network-cloud.m3u8?source=espnradio) using hls v3, see EXT-X-DISCONTINUITY tags without corresponding EXT-X-DISCONTINUITY-SEQUENCE tags and playback works as expected.

So perhaps we don't always want to proactively fail playback in all

[2016-09-28 13:22] dlewanda commented on #1858
Here is the bug report from building my app that uses ExoPlayer with the Opus extension against my Samsung Galaxy S7 Edge running Android 6.0.1. I can't seem to reproduce the problem with the sample application, so I'm hoping your expert eye can help me discern what mismatch I have here. Zipped due to it exceeding the 10MB limit from GitHub in it's uncompressed format.
[bugreport.txt.zip](https://

[2016-09-28 14:13] dobrusev opened #1872 "SmoothStreaming: Support LiveBackOff (and any other necessary latency parameters)"
Hello,

Recently the live stream content was reconfigured and chunk size changed from 6 seconds to 2 seconds and I start receiving error 412 for loading the content chunks. Instructions that I have are that I have to make the bufferingTime to 12 seconds and liveBackOff to 6 seconds.

I tried different combination changing the BUFFER_SEGMENT_SIZE, VIDEO_BUFFER_SEGMENTS and LIVE_EDGE_LATENCY_MS but

[2016-09-28 14:18] ojw28 commented on #1872
If you're getting a 412 status code, that sounds like a server issue?

[2016-09-28 14:24] ojw28 commented on #1871
The first of those is correct, and works fine for me. Note that you need

[code]

somewhere in your gradle file(s) too.

[2016-09-28 14:24] #1871 closed, assigned to nobody

[2016-09-28 14:26] yhd4711499 commented on #1859
Yes. Building the `Uri` with encoded file path is the correct way.

[2016-09-28 14:26] ojw28 commented on #1871
NB - Updated response above to say jcenter rather than mavenCentral.

[2016-09-28 14:34] dobrusev commented on #1872
yes it is a server issue but the answer I have is "the server will return 412s if the playhead is too close to the live point. We need to increase the buffer time and live back off figures as before."

Documentation for the BufferingTime and LiveBackOff SS properties:
https://msdn.microsoft.com/en-us/library/microsoft.web.media.smoothstreaming.smoothstreamingmediaelement.bufferingtime%28v=vs.95%29

[2016-09-28 14:36] vkislicins commented on #1572
@ojw28 I've been adding ExoPlayer to my app and testing it on various devices. From what I'm seeing, using `SurfaceView` inside a `RecyclerView` even on Android 7.0 is causing an issue (performance is slow and jerky). My ExoPlayer version is 'com.google.android.exoplayer:exoplayer:r1.5.10'

[2016-09-28 15:22] jonas-app commented on #1231
Thanks @andrewlewis,
I ended up using the FFmpegMediaPlayer library instead.

[2016-09-28 15:38] ojw28 commented on #1872
Got it. I think our current implementation works on the assumption that any segments listed in the manifest are available from the server. We'd probably need to add support for parsing and applying LiveBackOff to support your content; there's no existing way to achieve something equivalent in the library.

[2016-09-28 15:49] #1825 closed, assigned to nobody

[2016-09-28 15:50] #1853 closed, assigned to andrewlewis

[2016-09-28 15:50] #1837 closed, assigned to nobody

[2016-09-28 16:38] hershlag commented on #1867
com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to android.resource://myapplicationid/2131165663

the asset is located under res/raw/video_1.mp4

When creating the DefaultDataSourceFactory what should I be passing into as the userAgent? Why is it trying to connect to a local resource?

[2016-09-28 18:13] DexterChenLib commented on #1745
any solution?

[2016-09-28 18:35] Keopss commented on #1758
Hi @abhiguru i have same problem with .mp4 videos. Did you find any solution?

Thank you!

[2016-09-29 06:04] camelcc commented on #1837
I still can repo this issue in latest dev-v2 branch with a list of short videos.

Logs:
[code]

[2016-09-29 07:04] YGStar commented on #1788
thanks. i solved problem.
test mpd file that i tested does not contains about audio segment info.
thanks to reply.

[2016-09-29 07:04] #1788 closed, assigned to nobody

[2016-09-29 07:32] artharyoung opened #1873 "Make it easier to customize player controls"
In the 1.x version, I just need to replace the MediaController in PlayerActivity then i can customize MediaController myself.But, in the 2.x version, the mediaController is integrated in the [SimpleExoPlayerView](https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/ui/SimpleExoPlayerView.java), so when I use ExoPlayer, I need to implement a same S

[2016-09-29 08:39] dobrusev commented on #1872
I understand.

Another question: "are we 100% confident that the segments listed in the manifest are not available, or is the exoplayer simply calculating what it expects as the next segment URL?   i.e. the segment URLs are predictable in their pattern, so the player could be requesting future segments that aren’t actually described in the manifest..."?

[2016-09-29 10:23] ojw28 commented on #1872
We don't infer future URLs. I'm not sure I fully understand why you'd list segments that aren't available in conjunction with LiveBackOff. Suppose LiveBackOff=10 and there are 10s worth of segments not yet available. Why wouldn't you just list 10s fewer segments and set LiveBackOff=0? It feels like it would be pretty much equivalent, and less error prone.

[2016-09-29 10:28] ojw28 commented on #1873
I don't think I agree that it's more difficult. SimpleExoPlayerView didn't exist in 1.x, and so you effectively had to implement something equivalent in application code (in the demo app, this was done in PlayerActivity and in the corresponding layout file).

So even once you take v2, pretend SimpleExoPlayerView doesn't exist and re-implement it all yourself in your activity, you're still only at

[2016-09-29 10:49] ojw28 opened #1874 "Looping and concatenation with uneven track end times can cause stuck buffering state."
As per title, playback of a playlist can get stuck in the buffering state if the end times of the tracks of the sample coming to an end are uneven.

[2016-09-29 10:51] ojw28 commented on #1837
@camelcc - I don't think that's specific to short content, and is tracked by #1874

[2016-09-29 10:52] artharyoung commented on #1873
@ojw28 Thank you for your reply. I have recognized the name of “SimpleExoPlayerView(Simple......)” may not use in the project directly. I will try customize it by myself.

[2016-09-29 12:42] ishantsagar commented on #1782
@jonasevcik I tried building from your forked repo as you mentioned above, the problem is still there. Any suggestions, I am facing the same issue with live HLS url's.

[2016-09-29 12:49] ishantsagar commented on #1062
@randeeppr I am facing a similar issue with Live HLS videos, could you please guide me as how did you managed to overcome the issue, I don't have any control on the HLS manifest file.

[2016-09-29 13:04] randeeppr commented on #1062
@ishantsagar what I remember is it worked when I changed max age.

[2016-09-29 14:43] shysh commented on #1648
@IlyaMyasoedov Hello! Do you have some progress with Looper?

[2016-09-29 17:01] xuxucode opened #1875 "ArrayIndexOutOfBoundsException on MPEG-TS"
[code]

I use dev-v2 (2016-09-29) ExoPlayer to play a mpeg-ts stream on the Amlogic Venz tv box, this exception occurs sometimes.

[2016-09-29 17:44] AquilesCanta commented on #1875
I have an idea of what the problem is, but please provide a piece of media that reproduces the issue, as stated in the issue template.

[2016-09-29 19:53] SteUK opened #1876 "Segmented DASH stream playback stopping"
Hi,

Tested in master and dev v2 branch.

I have a 1 minute DASH stream (though this happens on a 5 minute clip as well) that gets to about 30 seconds and stops playing.

The stream is fragmented MP4, segmented into 4 second chunks.  The source frame rate is 29.97 and Keyframes are every 60 frames.  There is an audio AdaptatonSet with single representation.

Not sure if the 30 seconds part is a re

[2016-09-30 05:35] ishantsagar commented on #1074
I am also facing the same issue with Exoplayer 2.x.x and 1.5.x versions while playing the Live HLS Video. Need resolution of it on client end, guys?

[2016-09-30 06:07] ishantsagar commented on #1062
@randeeppr Thanks for the response, I suppose this "max age" is something that I need to configure in the manifest file? Also I want to know how can I access the manifest file, as right now I only have a HLS url.

[2016-09-30 07:53] beakman opened #1877 "addListener to Service class"
Hi all,

I'm trying to implement a Service that runs in the background and log Video and Audio events. To do that I implements `AudioRendererEventListener` and `VideoRendererEventListener` in my Service class. Now I suppose I should associate this listeners to the service. How can I do that to make it work?

Thank you in advance.

[2016-09-30 08:32] dobrusev commented on #1816
Hello,

Sorry for the delayed answer.
Changes in the license server were made and we can't see this error anymore.
Sorry if I wasn't clear P is for Playback Profile bitrates P7 - 4988000  and P8 - 8170000.

Thank you for your time on this.

[2016-09-30 08:32] #1816 closed, assigned to nobody

[2016-09-30 08:44] dobrusev commented on #1872
You are right if the segments are not available they should be not part of the manifest.

I'm working now to provide evidence to the content provider that the segments in the manifest are not valid and ideally this should be fixed on server side. any ideas how can I do that?

What we see on other players though is that they handle those live streams nicely without error and smooth playback.

Also

[2016-09-30 09:47] ojw28 commented on #1877
This sounds like a general programming question, not an ExoPlayer issue. Please ask such questions somewhere like stack overflow. Thanks!

[2016-09-30 09:47] #1877 closed, assigned to nobody

[2016-09-30 09:51] AquilesCanta commented on #1782
We are going to try to be more conservative in out HLS implementation to minimize the occurrences of this exception. I will use this issue to track this. An enhancement will be pushed soon, around next week.

[2016-09-30 10:17] ojw28 commented on #1876
The manifest you link to is quite badly malformed. The main problem is the video AdaptationSet. It's claiming that each video segment is `(49152 / 12288) = 4` seconds long. There are 24 of these segments, which gives a total duration of 96 seconds. This is 36 seconds longer than the top level presentation duration of 1 minute, which shouldn't happen. Each segment actually only contains about 2.5s

[2016-09-30 10:17] #1876 closed, assigned to nobody

[2016-09-30 10:31] ojw28 commented on #1867
There's some terminology confusion here, because there's also an `assets` directory, which is different to `res`. See [here](https://developer.android.com/studio/projects/index.html):

This folder is generally suitable for media. If that works for you, place your file in that directory and use `DefaultDataSourceFactory`. The Uri should be of the form `asset:///video_1.mp4`.

If you really do need

[2016-09-30 10:31] #1867 closed, assigned to nobody

[2016-09-30 11:40] ghost commented on #1303
Have a similar issue with **com.devbrackets.android:exomedia:3.0.1** on a rk3188 running 4.4.2.
Wether i'm calling restart, start or seekTo in my setOnCompletionListener() the video is just played once and doesn't playback on completion. The VideoView seems not to be able to find the video any more and shows the inProgress animation. Appreciate any suggestions.

Greatings

Btw: By calling seekTo(0

[2016-09-30 13:47] orcunkobal opened #1878 "r2.0.0 isPlaying()"
Hello,

isPlaying() method removed on the new version ?

[2016-09-30 13:55] SteUK commented on #1876
Apologies!

Firstly, I had failed to notice the big buck sample I converted was 24fps, rather than the 29.97fps of the content I am creating (cannot post that up due to client confidentiality :I).  I ran the same test converting it up to 30fps before running it though mp4box and I am getting durations of 61440ms (!) and 17 segments.

Sooooo, just tried fragmenting and splitting the same source mp4

[2016-09-30 15:50] tothvoj-gl commented on #1855
Try simpleExoPlayerView.setPlayer(null); in your onDestroy() method.

[2016-09-30 17:21] dreich opened #1880 "Exoplayer 2 video aspect ratio question"
Hello. Trying to remake my PlayerActvity for the 2nd version of ExoPlayer.
I've run into some problem about aspect ratio.

In previous version I used:

[code]

from Demo app.

In 2nd version demo app there is no such method. And in result video 3:4 is stretched horizontally to 16:10 phone width.

I also should say that I don't use SimpleExoPlayerView in layout because I need my own controls, exact

[2016-09-30 18:51] ishantsagar commented on #1782
@AquilesCanta Thanks for the update, that will be very helpful for us.

[2016-09-30 19:15] JonWatson opened #1881 "Sony Bravia 4k TV(5.1.1) Wrong Resolution Displayed when using DefaultHlsTrackSelector"
We have an HLS playlist with up to 720p formats.  When using the DefaultHlsTrackSelector, I can see that it ramps up as expected from a low resolution to 720p.  I can see this by stepping through the selection process(VideoFormatSelectorUtil) and also in onDownstreamFormatChanged.  However, the TextureView is displaying a much lower resolution and looks like it's 240p or something very low.

If we

[2016-09-30 19:52] AquilesCanta commented on #1881
What are the chances of moving to version 2, where DefaultHlsTrackSelector does not exist? We are backporting bugfixes to v1. This is going to get more attention if you manage to reproduce it in v2. Please, give it a try and let me know.

[2016-09-30 21:54] mnarmar opened #1882 "Problems Side Loading Subtitles in ExoPlayer v2.0.1"
We use SmoothStreaming / Playready and depend on Side Loading independent TTML Subtitles.

Found two problems trying to Side Load TTML Subtitles using MergingMediaSource containing SingleSampleMediaSource and SsMediaSource:

1-
DefaultTrackSelector.selectTextTrack correctly receives the TTML track, but it never gets it selected.
Hint : adjusting the score check in a DefaultTrackSelector subclass t

[2016-09-30 22:07] JonWatson commented on #1881
Seems like this is related to TextureView.  I switched to SurfaceView and the problem went away.  Unfortunately, that's not a solution for us.

[2016-10-02 00:16] dlewanda commented on #1858
Hi @erdemguven, any chance you've had a chance to look at my submission and can offer any insight on the crash?

[2016-10-03 07:17] philipgiuliani commented on #1855
I am using an instance of SimpleExoPlayer without the SimpleExoPlayerView. The memory drops a little bit when opening the next instance of a player. After 3-4 times it crashes because of OutOfMemory.

I have not tried the demo app, but thats how the memory graph looks in my application:

![leak](https://cloud.githubusercontent.com/assets/5446019/19029818/c0cb3556-8949-11e6-96cb-5b7211ea8aca.jpg)

[2016-10-03 09:17] ojw28 commented on #1855
Please try with the demo app. Without further information, the memory leak you're seeing could be caused by anything in your application. A graph like the one above is not sufficient evidence the leak is ExoPlayer's fault.

As long as you're releasing the player and nulling the reference to it, that should be sufficient. You should do it before `onDestroy` though; doing it there is too late. You s

[2016-10-03 09:46] erdemguven commented on #1858
Hi Dave, It looks like, somehow jOpusOutputBuffer object is passed to GetDirectBufferAddress (instead of the "data" field of the same object) on line 101 in file extensions/opus/src/main/jni/opus_jni.cc.

Unfortunately I don't have any idea about why/how it happens and can't say more without seeing the code.

You can try to debug it by putting some 'printf's to that function and one before (opusIn

[2016-10-03 10:17] kul3r4 commented on #1857
Hi, thanks for your interest in Cronet.
We are working on a better solution and will update this sample once that's ready.

[2016-10-03 11:53] ojw28 commented on #1882
1 - It's working as intended that the track isn't selected by default. If you want this behaviour, you should specify `C.SELECTION_FLAG_DEFAULT` as the `selectionFlags` argument when creating the format for the text track. `DefaultTrackSelector` also exposes methods for selecting the track.

2 - This is a bug. We'll push a fix shortly.

[2016-10-03 12:04] ojw28 commented on #1881
I'm unsure about this (it sounds pretty strange). Why is SurfaceView not a solution for you? It generally gives better performance and smoother frame release.

[2016-10-03 13:12] eneim opened #1883 "Use both versions -> Request to change artifact Id to 'exoplayer2'"
- Description of the issue: I would like to use both version of ExoPlayer (1 and 2) in my library. But somehow ExoPlayer 1 is not fully included in the output. I suspect that current dependencies share the same groupId and artifactId --> the later one is prioritised over the older one.

So I would like to request:
1. Any idea on how could I use both version in one project.
2. If my investigation i

[2016-10-03 13:15] eneim commented on #1880
Why don't you **_learn**_ how they implement the SimpleExoPlayerView and write your own?

[2016-10-03 13:24] ojw28 commented on #1883
Please see https://github.com/google/ExoPlayer/issues/1842. We don't have any plans to change the artifact id for v2.

[2016-10-03 13:24] #1883 closed, assigned to nobody

[2016-10-03 13:33] eneim commented on #1883
Thanks. My bad to not look around. I'm reading exactly the SO you mentioned, and trying the solution of using jar.

[2016-10-03 13:39] ojw28 commented on #1880
Yeah. If you're going to implement your own solution, it seems reasonable that you should be able to start with `SimpleExoPlayerView` and modify it to your needs (or understand how it works and do the same thing).

The shutter is a black view that's made visible over the surface prior to anything having been drawn into it. It can help avoid rendering artifacts prior to the first frame being drawn.

[2016-10-03 13:39] #1880 closed, assigned to nobody

[2016-10-03 14:06] ChernyshovYuriy opened #1884 "DRM vendor-defined error -2990"
Dear colleagues,
Before post this question I looked on other related issues and didn't find anything related to code "-2990". I decided to post separate question in order to distinguish issues by error code.
So here is a question.
Our error report system reports the error from application that is in market:

[code]

Content is Widevine DASH.
ExoPlayer version is 1.5.10
OS version is 6.0
Device mod

[2016-10-03 14:07] ChernyshovYuriy opened #1885 "DRM vendor-defined error -2837"
Dear colleagues,
Before post this question I looked on other related issues and didn't find anything related to code "-2837". I decided to post separate question in order to distinguish issues by error code.
So here is a question.
Our error report system reports the error from application that is in market:

[code]

Content is Widevine DASH.
ExoPlayer version is 1.5.10
OS version is 6.0.1
Device m

[2016-10-03 14:27] ojw28 commented on #1872
It should be pretty easy to verify that the most recent segments aren't available (just by fetching the latest manifest, parsing the latest segment, and trying to request it).

As an aside: Just because it works doesn't mean its handled nicely. Players may do things like hammer the server until the segment becomes available, for example. Unless you're looking at the requests using Wireshark or som

[2016-10-03 14:28] ojw28 commented on #1827
@marcbaechinger - Is this something you'd be able to take a look at? Thanks!

[2016-10-03 15:40] mnarmar commented on #1882
1 - Thanks providing what is missed
2 - Waiting for the fix

[2016-10-03 16:45] ojw28 commented on #1882
A fix has been pushed to `dev-v2`. Thanks!

[2016-10-03 16:45] #1882 closed, assigned to nobody

[2016-10-03 16:49] ojw28 commented on #1878
You shouldn't be calling methods on UI components to query the state of the player (in V1 or V2). If you want to query the state of the player, query it directly.

A one minute investigation as to what that method did in V1 (by looking [here](https://github.com/google/ExoPlayer/blob/release-v1/library/src/main/java/com/google/android/exoplayer/util/PlayerControl.java#L84)) would tell you that it's

[2016-10-03 16:49] #1878 closed, assigned to nobody

[2016-10-03 16:52] ojw28 commented on #1855
We've pushed a change to `dev-v2` that will release memory proactively when `release` is called on the player.

Note however that you will only be experiencing this issue in the first place if you're leaking the player instance. We're unable to reproduce this problem in the demo app, and suspect that it's an issue in your own application code. You should work out where this leak is and fix it, sin

[2016-10-03 16:52] #1855 closed, assigned to nobody

[2016-10-03 16:55] sonikasoni opened #1886 "Keep buffer on SeekTo() or Playback from current position"
I am trying to Playback few seconds from current position using 'Seekbar' touch, It cleared buffer data and start rebuffer from the current postion.
Suppose user have buffered 80% and My video's current playing position at 40%. If I play back at 30% position by 'Seekbar' touch. It start buffering and playing from 30% even if the already buffered 80% of data.

[2016-10-03 19:08] ChernyshovYuriy commented on #1860
Small updates regarding to new version of ExoPlayer 2.0.1 (I updated my previous posts as well)
Callback now transferred to the `prepare()` method of the `MediaPeriod mediaPeriod`

[2016-10-03 20:13] sergejsha opened #1887 "Adding Sonic playback rate component to v2"
I was able to change playback rate in the library v2 by sending `PlaybackParams` to the `MediaCodecAudioRenderer`. This only works with API level >= 23. To make it working with lower Android version I would like to use Sonic library.

This is rather a design question. If you would need to add a component which inputs a PCM stream and outputs a PCM stream with an adjusted playback rate, where would

[2016-10-03 20:40] ChernyshovYuriy commented on #1854
It is still reproducible with the latest ExoPlayer 2.0.1.
Steps to reproduce:
- Add side-loaded track.
- Try to disable it.
- Observe exception attached.

Could you re-open it?

Stack trace:

[code]

[2016-10-03 20:47] ChernyshovYuriy opened #1888 "SingleSampleMediaPeriod.SourceLoadable class missing sampleData initialization"
There is `sampleData` member filed in the SingleSampleMediaPeriod.SourceLoadable.java.
This field is uninitialized and once side loaded track trying to be loaded there is NullPointerException at line 272.

Quick solution from my side is initialize value on the line 244:

[code]

[2016-10-03 21:02] ojw28 commented on #1888
This is already fixed in 'dev-v2'.

[2016-10-03 21:02] #1888 closed, assigned to nobody

[2016-10-03 22:33] ojw28 commented on #1854
We will push a fix for this tomorrow.

[2016-10-03 22:33] ojw28 commented on #1886
It's very unclear what the question is here. Please clarify.

[2016-10-03 22:38] ojw28 commented on #1887
This is discussed in some detail in #26. @andrewlewis is planning to take a look at playback rate changes on earlier API levels, so I'm assigning that issue to him.

[2016-10-03 22:38] #1887 closed, assigned to nobody

[2016-10-03 22:42] ChernyshovYuriy commented on #1854
Thanks guys!

[2016-10-04 03:19] aletorrado opened #1889 "OkHttp extension on Maven?"
Is this extension available on Maven? I couldn't find any clear instructions on how to integrate it.

[2016-10-04 07:03] zmsansan opened #1890 "HLS does not work"
Video hls show first frame and stop on some devices(on more devices it's bug absent). But if audio switch off then video play.

Source example http://85.234.0.54/rossia1nn/index-1475373300-7500.m3u8 .

Logs from problem device "4Good S450m 4G".

**Log from LogCat if audio on**

[code]

**Log from LogCat if audio switch off**

[code]

**Other problem devices**
- Asus Zenpad 8.0 (Z380KL) (P024_1)
-

[2016-10-04 07:07] orcunkobal commented on #1878
thank you  @ojw28

[2016-10-04 08:07] pgrov commented on #1844
This playback issues seemed to be resolved after a system upgrade to Android Marshmallow (Oxygen OS 3.1.2).

[2016-10-04 09:59] erdemguven commented on #1858
I also tried on the demo app with opus extension on a android 6.0.1 phone and it works fine.

[2016-10-04 10:12] xuxucode commented on #1875
Thanks, I've tried many times, but it's hard to reproduce when playing a piece of problematic media extracted from live MPEG-TS. In general this happens to the live.

[2016-10-04 10:18] ojw28 commented on #1889
I've created https://bintray.com/google/exoplayer/extension-okhttp. Bintray need to approve its addition to jCenter, I think. Hopefully this should happen pretty soon.

[2016-10-04 10:24] AquilesCanta commented on #1875
Okay, I will try to provide a fix for this by the next push hoping it is what I suspect. Once the fix is pushed we will close this. If you run into this again, just open a new issue. Make sure you include media to reproduce this! Thanks for reporting this.

[2016-10-04 10:40] papaanoel commented on #949
Hello @ChernyshovYuriy and all

I have implemented it for an offline player reading dash encrypted videos (using mpd descriptor)

Here is how i made it work :

**A. Use the two classes from @Amritpal33 (_WidevineKeysFetcher_ and _OfflineDRMSessionManager)_**
I've modified _WidevineKeysFetcher_ because using it as a singleton causes issues when using it multiple times. Please see [https://github.co

[2016-10-04 10:57] dreich commented on #1890
Как Вы смогли проверить на стольких устройствах?

How could you try it on so many devices?

[2016-10-04 11:19] jonhan commented on #949
We have just finished our offline Dash+Widevine implementation now and we chose a slightly different method to fetch the init segment. Instead of using a class like the proposed `WidevineKeysFetcher` we basically just created a separate `DashRenderBuilder` that uses a configuration of the `OfflineDRMSessionManager` for storing the DRM keys.

Then we are using an Android `Service` that sets up a he

[2016-10-04 13:20] ghost opened #1891 "Clamp target GC heap - OutOfMemoryError"
I encountered OutOfMemoryError while doing the following:
1) Load video (In my case, HLS stream with subtitle source .srt from external URL)
2) Seek to some position
3) Press home button to go to home
4) Return to app
5) Let video play for a few minutes more...
6) Crash!

[Log.txt](https://github.com/google/ExoPlayer/files/508527/Log.txt)
Please see attached log

[2016-10-04 13:56] ojw28 commented on #1891
There's nowhere near enough information here for us to debug your issue. You're not even indicating which app you're talking about, and haven't provided a full bug report as is explicitly requested in the issue template. Please provide complete information, or we'll have to close this. Thanks!

[2016-10-04 15:44] sonikasoni commented on #794
Is it avaialbe to keep the buffer after seekTo() in exoplayer? I am looking for this.
Please help me, Thanks

[2016-10-04 16:15] AntonAndev opened #1892 "Calculating size of SurfaceView"
Hello all, I am trying to add ExoPlayer 2.0.1 instead of MediaPlayer. With MediaPlayer in the onPrepared() method I use getVideoWidth() and getVideoHeight() to get width and height of video to calculate size of SurfaceView with correct aspect ratio. With ExoPlayer 2.0.1 library I am creating intance of SimpleExoPlayer:

[code]

I suppose I need to use this event to get width and height, but this e

[2016-10-04 16:38] AntonAndev opened #1893 "Problem with buffering using SimpleExoPlayer"
Hello, I am adding ExoPlayer 2.0.1 instead of MediaPlayer, I am creating an instance of SimpleExoPlayer

[code]

and use it to play a HLS stream

[code]

Problem with buffering is detected on streams from a server with ping ~110ms, if stream has SD format and 2mbits bitrate, SimpleExoPlayer plays it with interruptions, if stream has HD format and 6mbits bitrate, SimpleExoPlayer tries to buffer str

[2016-10-04 17:35] wvpaf commented on #1844
Hi @lkcanal,
Can you verify an upgrade to M resolved the issue?

[2016-10-04 17:43] mlondon1 commented on #1813
Exoplayer 2.0 apparently resolved this issue for us

[2016-10-04 18:44] xuxucode opened #1894 "TS can't play on ExoPlayer but can on android.media.MediaPLayer"
HTTP-TS https://raw.githubusercontent.com/edwardaa/aaa/master/exoplay_cannot_play.ts can't play on ExoPlayer, but it can play by using android built in MediaPlayer. I tried it both on Amlogic TV box (6.0.1) and my mobile (4.4).

I am using ExoPlayer r2.0.1.

ExoPlayer demo app log:

[code]

[2016-10-04 18:50] ojw28 commented on #1892
Where in your code are you registering the listener? There should be a call to `SimpleExoPlayer.setVideoListener` somewhere?

[2016-10-04 18:53] ojw28 commented on #1893
Without links to sample content we're not able to assist debugging this issue. I think the default buffer settings should be fine for 2mbit/s and 6mbit/s.

[2016-10-04 18:55] AntonAndev commented on #1892
oh yes, added it, now works, I was thinking addListener does it, thank you.

[2016-10-04 18:55] #1892 closed, assigned to nobody

[2016-10-04 19:22] dlewanda commented on #1858
Thank you so much for your assistance @erdemguven. I found the issue was that I hadn't ported over the opus_jni.cc file from the 1.5.11 tag. I must have had the same mismatch for a bit on the demo app, but cleaning my local copy and pulling the code down fixed it. Now that I ported it over to my app it fixes the audio and plays back just fine! Thanks again.

[2016-10-04 21:28] minas90 opened #1895 "SimpleExoPlayerView.getPlayer?"
Hi there,
Is it possible to get player from SimpleExoPlayerView?
In some scenarios I don't have reference to the player, but I need to play / stop the video.
It was possible with VideoView and some similar implementation based on ExoPlayer.
I'm trying to switch to SimpleExoPlayerView and it is the only showstopper.

[2016-10-04 22:06] ojw28 commented on #1895
Not currently, but it's trivial to add a `getPlayer` method. We will do this.

[2016-10-04 22:45] ojw28 commented on #1661
Some functionality added with https://github.com/google/ExoPlayer/commit/6306c269885475c0a6f947245ed19b60a010ccfd.

[2016-10-04 22:46] #1854 closed, assigned to nobody

[2016-10-04 22:47] #1875 closed, assigned to AquilesCanta

[2016-10-04 23:12] minas90 commented on #1895
ok thanks 👍

[2016-10-05 00:37] kyo504 opened #1896 "Class Reference page for version 1.x"
Hi, I'm developing streaming player with exoplayer but recently I could only see the class reference page for v 2.x. Where can I find the old one(v1.x)?

[2016-10-05 03:32] HSY229 opened #1897 "Failed to receive STATE_END after dragging seek bar to end of video (HLS)"
Launch ExoPlayer r2.0.0 Demo application,
(Samsun Galaxy S5)
press "HLS" button,
press "Apple 16x9 basic stream" button,
drag the seek bar to end of video,
(duration is 30:00, let current time to be 30:00).

`playbackState` is keep on `buffering` state.
`playWhenReady` is true.
`window` is 0.

But I expect to receive an event for `STATE_END`.

Related (kind of) to #596

[2016-10-05 05:45] zmsansan commented on #1890
This problems devices take from comments our app in Google Play by Google Play Developer Console

[2016-10-05 09:36] ojw28 commented on #1889
This is a dupe of https://github.com/google/ExoPlayer/issues/1157, so closing this.

[2016-10-05 09:36] #1889 closed, assigned to nobody

[2016-10-05 09:38] ojw28 commented on #1157
In theory it should now be possible to include the OkHttp extension for V2 with:

[code]

Bintray link [here](https://bintray.com/google/exoplayer/extension-okhttp). This doesn't seem to work for me at the moment. I'm unclear whether there's just a propagation delay in it being indexed, or whether something else is wrong. If anyone has any ideas, please let me know!

[2016-10-05 09:59] b95505017 commented on #1157
`Could not find ExoPlayer:library:unspecified.`

Caused by

[code]

[2016-10-05 10:00] ojw28 commented on #1157
Yeah. Hence the "This doesn't seem to work for me at the moment" part...!

[2016-10-05 10:24] #1858 closed, assigned to erdemguven

[2016-10-05 10:25] erdemguven commented on #1858
You're welcome.

[2016-10-05 10:48] b95505017 commented on #1157
The path should be the jCenter one

[code]

[2016-10-05 11:06] ojw28 commented on #1157
I don't really understand what you mean. Have you spotted an error? If so, please clarify exactly what it is.

[2016-10-05 11:51] ojw28 commented on #1157
Ah, I see the problem now. I'm not entirely sure how to fix how that gets generated as part of the release process, but will take a look.

[2016-10-05 11:54] b95505017 commented on #1157
Yes, we should do some trick to prevent compile project(":library") being wrote into pom. It should transform to jcenter artifact path.
Maybe checkout Firebase-UI project.

[2016-10-05 11:55] ojw28 commented on #1157
It's possible that using https://github.com/bintray/gradle-bintray-plugin instead of https://github.com/novoda/bintray-release resolves this problem. It looks like https://github.com/novoda/bintray-release/issues/16 is tracking supporting this case for bintray-release.

[2016-10-05 11:58] MudasirBhutto opened #1898 "Minimizing Pre buffering time for VOD (MP4) File"
Hi developers,

I am playing remote MP4 files in ExoPlayer. For short duration (like 5 to 10 minutes) MP4 files , time between buffering and ready state is less. But when I am trying to play files with duration more than (1 hour to 3 hours), time between buffering and ready state varies from 20 seconds to 60 seconds according to file size. I want to minimize this time to minimum 10 seconds even fo

[2016-10-05 13:21] ojw28 commented on #1157
I've manually fixed the POM file for now, so the following should work:

[code]

Note that if you tried whilst it was broken, you may have to do some cache wiping on your machine. File->InvalidateCaches in Android Studio wasn't sufficient for me. Neither was deleting the .gradle directory in the project. I had to also delete the .gradle directory from my home directory (disclaimer: I don't know wh

[2016-10-05 13:23] theBradfo commented on #1074
I just experienced this with ExoPlayer 1.5.11 with a live hls stream.  Stack trace is the same as aforementioned:

I'm unable to provide a sample stream as they are authenticated, but please let me know if there's any additional information i can provide.

[2016-10-05 13:26] mvasilchuk opened #1899 "Crash after trying to play FLV on r2.0.1"
Got a crash after trying to play one flv stream on Nexus 7 (2013):

[code]

Example stream: http://webtv.net.ua:8080/stream.flv

This stream cannot be played by r1.5.11 either (got error "Audio format not supported: 2") but at least it doesn't crash.

[2016-10-05 13:43] ishantsagar commented on #1074
@theBradfo Just wait for some couple of days, new fixed release is about to come for this issue.

[2016-10-05 13:45] ojw28 commented on #1899
We'll fix the crash (thanks!), but we wont be adding support for streams of this type (FLV containing MP3 and H263). We would accept a high quality pull request to add support, if someone external feels like spending time on it. We only support FLV at all due to an external contribution, and that contribution only supported FLV containing AAC and H264.

[2016-10-05 14:07] theBradfo commented on #1074
@ishantsagar, @ojw28 can you provide any information on this forthcoming release and potentially some detail on how it would fix this issue?

[2016-10-05 14:10] ojw28 commented on #1898
I only looked at the first stream. It starts consistently within a second for me. I think the only explanation for the delay you're seeing is because you have a much lower bandwidth connection.

The reason long duration MP4 files take longer to start is because they contain an sample index in the header at the start of the file. If you have a longer duration video there will be more samples, so th

[2016-10-05 14:10] #1898 closed, assigned to nobody

[2016-10-05 14:14] ojw28 commented on #1074
@ishantsagar - Please don't cross post on multiple issues (i.e. this one and https://github.com/google/ExoPlayer/issues/1782), it adds unnecessary noise to the issue tracker. Please continue this discussion on the open issue, which is https://github.com/google/ExoPlayer/issues/1782.

[2016-10-05 14:32] MudasirBhutto commented on #1898
Thanks very much @ojw28. Yes, we do control the media, we will look into this issue in details. Can you suggest how to convert existing MP4 video files to FMP4 video files. Do we've to encode all of them again or what?

Thank you very much again.

[2016-10-05 16:33] wvpaf commented on #1884
@ChernyshovYuriy  it would be helpful to get an ADB bugreport from the device so we can tell why the provisioning request failed.

[2016-10-05 16:43] ojw28 commented on #1897
This is an interesting edge case. When a seek occurs to the end we always fetch the last chunk of each stream so that we can render the "end state" of the media. In this case demuxed subtitles are also enabled. The subtitles have a shorter duration than the video. This can result in the following happening on seek specifically in the case that there's already an ongoing load of a video chunk:
1. S

[2016-10-05 16:56] ojw28 commented on #1897
Note - This issue only occurs for (a) HLS, (b) with demuxed subtitles enabled, (c) when playing media where the subtitles are shorter than the duration of the video chunks, and (d) when a video load is in progress when a seek happens. (d) is relatively likely given (a), (b) + (c), but that combination is probably fairly rare to start with. So it's not super high priority for us to fix, although re

[2016-10-05 17:22] #1895 closed, assigned to nobody

[2016-10-05 17:22] ojw28 commented on #1899
Fixed to the extent it's going to be fixed. Feel free to send a pull request to add MP3 / H263 support in FLV if you feel motivated enough to create one!

[2016-10-05 17:22] #1899 closed, assigned to nobody

[2016-10-05 17:39] b95505017 commented on #1896
https://github.com/google/ExoPlayer/releases/tag/r1.5.11_docs

[2016-10-05 18:05] ojw28 commented on #1896
It got replaced with the 2.x reference, but I've restored the 1.x reference to http://google.github.io/ExoPlayer/doc/reference-v1/ and will also add a link at the top of the deprecated developer guide (https://google.github.io/ExoPlayer/guide-v1.html).

[2016-10-05 18:05] #1896 closed, assigned to nobody

[2016-10-05 18:20] ojw28 commented on #1898
Packaging of content is outside the scope of this issue tracker. There are plenty of resources on the internet to help with that kinda thing, also!

[2016-10-05 19:00] ChernyshovYuriy opened #1900 "ArrayIndexOutOfBoundsException on HLS stream, ExoPlayer v2.x"
I had searched for the same exception but didn't found with the same scenario and root point of exception.
Reproduced on application assembled from dev-v2 (hash 89c43807), as well as assembled from release-v2.
Steps:
- launch application and select HLS -> "Apple 16x9 basic stream"
- once started, select Text -> "unknown"
- observe:

[code]

[2016-10-05 19:08] AquilesCanta commented on #1900
Yes, this is a bug. I will use this to keep track of this. Also there is a possibly related issue that dates from the v1 older versions reproducible thorugh the Apple master playlist advanced (TS) stream by alternating from text option 2 to 1.

[2016-10-05 19:33] ojw28 commented on #1900
My fault.

[2016-10-05 20:12] AntonAndev commented on #1893
Hello, can I send links to your email (I can't share it here)? I published a new version of my app with SimpleExoPlayer, users complain, they have problems with watching tv channels using mobile internet too.

[2016-10-05 20:16] ojw28 commented on #1900
Note - A similar issue also affects `MergingMediaSource` in the case that two of the children being merged contain tracks of the same type, and if the track selection for a renderer is switched from a track belonging to one child to a track belonging to the other in a single selection step.

[2016-10-05 20:25] #1900 closed, assigned to ojw28

[2016-10-05 20:31] ojw28 commented on #1827
@amosyuen - You can now specify a resize mode on `SimpleExoPlayerView` or `AspectRatioFrameLayout` to achieve the behavior you need. You can do this either in layout xml or programatically. See the change linked above for details.

If you want to place the view into a vertically scrolling container (e.g. a list), you can do so in a way that allows the height to resize as required using:

[code]

F

[2016-10-05 20:31] #1827 closed, assigned to marcbaechinger

[2016-10-05 20:49] ojw28 commented on #1893
You can send links to `dev.exoplayer@gmail.com` as in the issue template, thanks!

[2016-10-05 22:27] amosyuen commented on #1827
Awesome thanks!

[2016-10-06 00:24] kyo504 commented on #1896
@ojw28 Thanks for the link :)

[2016-10-06 02:16] HSY229 commented on #1897
Thanks for your help.

[2016-10-06 04:58] vxhviet opened #1901 "Custom MediaExtractor based on ExoPlayer's Extractor"
[Question]
Dear ExoPlayer developers,

I'm not sure if this is the appropriate place to ask this question but I would love to receive some input from you guys. In our app, the seeking is the most crucial feature so I've been working directly with `MediaCodec` based on example from [grafika's MoviePlayer](https://github.com/google/grafika/blob/master/src/com/android/grafika/MoviePlayer.java). This

[2016-10-06 09:09] randeeppr commented on #1062
@ishantsagar No. Its not to be configure in the manifest file but with the manifest file. It is the http header of the manifest file. In the origin server of the stream there will be provision to do it.

[2016-10-06 09:37] AntonAndev opened #1903 "NumberFormatException in DashManifestParser"
Hello, I am using SimpleExoPlayer (2.0.1) instance:

[code]

Tried to pass dash stream powered by flussonic 4.6.3 media server, following exception occured (I will send link example to your email):

[2016-10-06 09:51] mohdabdullah1986 opened #1904 "Exo Player Not Playing URL in Fire Tv Stick."
http://pcappvod.nexg.tv/pcappvod/v/http20/9xm/Interview_With_Singer_Aman_Trikha_1200.mp4/playlist.m3u8

[code]

[2016-10-06 09:55] lukechang0815 commented on #1897
seeing the similar issue too

[2016-10-06 09:58] mrshih commented on #1897
Have the same problem !

[2016-10-06 10:20] ojw28 commented on #1903
If you could spend some time debugging this kind of issue prior to filing, it would sure help reduce our workload and allow us to focus on getting actual work done ;).

In this case, the stack trace indicates the failure happens [here](https://github.com/google/ExoPlayer/blob/f8a8302f7bbcb47997095bd97b086eb633e49972/library/src/main/java/com/google/android/exoplayer2/source/dash/manifest/DashManif

[2016-10-06 10:20] #1903 closed, assigned to nobody

[2016-10-06 10:23] ojw28 commented on #1904
The stack trace provided above is a network timeout, which is expected if you have a bad network. Since you haven't provided any of the information requested in the issue template, we wont be investigating further. Please provide complete information as requested in future issues.

Please also see the part of [this page](https://google.github.io/ExoPlayer/supported-devices.html) that refers to Fir

[2016-10-06 10:23] #1904 closed, assigned to nobody

[2016-10-06 10:35] ojw28 commented on #1901
ExoPlayer doesn't use `MediaExtractor`. We instead implement our own set of extractors directly in the library (they're all in [this package](https://github.com/google/ExoPlayer/tree/release-v2/library/src/main/java/com/google/android/exoplayer2/extractor)). We did this for quite a few reasons, one of which was to allow us to more easily fix extractor bugs and support a wider range of file types.

[2016-10-06 11:10] mohdabdullah1986 commented on #1904
I have a very good internet connection.

The same url works on mobile (HTC and Redmi) however the same is not working on FireTV Stick Generation 1.

Let me know if this issue is coming due to hardware.

[2016-10-06 18:49] ChernyshovYuriy commented on #1900
Just verified proposed solution. Working as designed and as desired :-)
Thanks guys!

[2016-10-06 18:49] ChernyshovYuriy commented on #1888
Just verified proposed solution. Working as designed and as desired :-)
Thanks guys!

[2016-10-06 18:50] ChernyshovYuriy commented on #1854
Just verified proposed solution. Working as designed and as desired :-)
Thanks guys!

[2016-10-06 19:50] ChernyshovYuriy commented on #1884
Unfortunately, there is no more additional info available.
This statistic collected from error report system that is monitoring application in market.
If it is possible provide general description of the potential root causes it would be good, if not - then we probably can close this question unless some one else provide something detailed.

[2016-10-06 19:50] ChernyshovYuriy commented on #1885
Unfortunately, there is no more additional info available.
This statistic collected from error report system that is monitoring application in market.
If it is possible provide general description of the potential root causes it would be good, if not - then we probably can close this question unless some one else provide something detailed.

[2016-10-07 02:44] vxhviet commented on #1901
Dear ojw28,

Thank you for your reply. I used to use `ExoPlayer` before (#1399) but because the seeking performance didn't meet our demand, we switched to FFmpeg and then `MediaCodec` instead. The main feature of our app is letting the user scrub through every frame and then extract the one they like. So there is no actual playback on the video and thus any issue with syncing and timing is not rea

[2016-10-07 08:19] okjoonkim opened #1906 "Maximum decodable video size on Android"
Dear ExoPlayer Developers,

I would like to get an advice or recommendation about how to check if a decoder on Android can decode a specific frame size, like 2400x1600. Since some old devices raises an exception showing the renderer initialization failure while decoding, i want to check the decoder capability beforehand.
Actually here are some functions i have tried so far.
- VideoCapabilities.isS

[2016-10-07 08:56] PerkmannM commented on #1855
I'm experiencing the same problem with ExoPlayer 2.0.0 in my own project.
Due to this problem I created a new project with the most simple ExoPlayer setup, just to see if the memory still leaks.
And actually it really does.

This app provides four buttons with four different dummy .mp4 files.
By switching them continuously I managed to generate a memory graph like this.

In my opinion the player s

[2016-10-07 09:02] Ood-Tsen commented on #1906
Hi @okjoonkim

You may get codec capability from android folder '/system/etc/media_codecs.xml'
(e.g. [media_codecs_8974.xml](https://github.com/ubports/android_device_fairphone_fp2/blob/master/media/media_codecs_8974.xml)' )

[2016-10-07 09:13] HSY229 opened #1907 "Release failed when press power button (HLS)"
Launch ExoPlayer V2.0.2 with HTC M8x Android 6.0,
press "HLS" button,
press "Apple 4x3 basic stream" button,
when player display,
press the power button of device,

then, I got:
1. `ExoPlayerImplInternal`: Period release failed.
2. `java.lang.NullPointerException`: Attempt to get length of null array
3. com.google.android.exoplayer2.`source.hls.HlsMediaPeriod.release`(HlsMediaPeriod.java:106)

Thi

[2016-10-07 09:33] AquilesCanta commented on #1906
Checkout how we do it in V2 `MediaCodecInfo.isCodecSupported(String codec)`. We currently implement the checks for h264 and h265, I think, but the idea is the same for all of them. If you have any further questions, please try a general android Q&A.

[2016-10-07 10:39] ojw28 opened #1908 "PlaybackControlView leaks itself and anything it refers to (including the player instance)"
This is demonstrated by the app here:
https://github.com/PerkmannM/Demo-ExoPlayer

[2016-10-07 10:40] ojw28 commented on #1855
Thanks for the very helpful reproduction steps. I've filed #1908 to track this issue. I'll also post a workaround there.

[2016-10-07 10:43] ojw28 commented on #1908
Notes:
- The leak is much less severe if you upgrade to ExoPlayer r2.0.2 (it's still there though).
- Until we fix this, you can easily work around the problem, or at least mitigate it, by explicitly clearing the player from the view when it's no longer required, like: `mPlaybackControlView.setPlayer(null);` (for example on `onStop`).

[2016-10-07 11:32] ojw28 commented on #1907
Is this using the ExoPlayer demo app, or something you're written yourself?

[2016-10-07 11:35] lkcanal commented on #1844
Helle @wvpaf , yes I confirm that the M update resolved the issue on the One Plus X.

[2016-10-07 11:36] HSY229 commented on #1907
Yes, I use demo project.

[2016-10-07 13:54] cjveldkamp opened #1910 "CryptoException error during playback on some devices"
I'm testing with content that we use on multiple platforms. This is original Playready smooth streaming content on a buy drm server that is transmuxed to dash/widevine modular by Buy DRM on the server.

During playback on some Widevine L1 devices (I'm testing with samsung galaxy Tabs 2 SM-T710) i get a CryptoException Error after a couple of minutes of playback with some content (not all).

---

1

[2016-10-07 17:37] okjoonkim commented on #1906
Thanks @Ood-Tsen and @AquilesCanta.
I believe that the information in the '/system/etc/media_codes.xml' is same to the data returned by VideoCapabilities instance.
Currently  we are still using the ExoPlayer V1.5.10.
I also believe that the MediaCodecUtil.maxH264DecodableFrameSize() function decides the maximum decodable frame size according to the codec profile level.
Would you let me know if i m

[2016-10-07 18:46] qoo888 opened #1912 "v2 not support hls drv seek?"
thank you..

[2016-10-07 19:44] mlondon1 opened #1913 "CryptoException on Samsung SM-T900 causing device reboot"
Device reboot after the following exception.

On a Samsung Galaxy Tab Pro 12.2 running Android 4.4.2, playing Widevine Dash content, after playing successfully in Exoplayer 2.0.2 for a few seconds, the following exception occurred resulting in a device crash.

[code]

[2016-10-07 19:48] dzualeks commented on #55
I'm trying to implement RTSP playback in Exoplayer, using live555.
But when I pass audio/video frames from my Extractor to TrackOutput's, Exoplayer sometime freezes:
1) don't read frames from Extractor;
or 2) frames read but video freezes on screen and no sound.
Video/audio stream grabbed from IP camera. Sorry, I can't place stream URL here.
Video is H264 720x576 50fps ~1280 Kbps. Audio is AAC LC

[2016-10-07 20:46] tresvecesseis commented on #55
Are you sending the periodic rtsp keepalives? if not, the server will
teardown the session.

El 7 oct. 2016 9:48 p. m., "dzualeks" notifications@github.com escribió:

I'm trying to implement RTSP playback in Exoplayer, using live555.
But when I pass audio/video frames from my Extractor to TrackOutput's,
Exoplayer sometime freezes:
1) don't read frames from Extractor;
or 2) frames read but video fr

[2016-10-08 04:59] eneim opened #1914 "NPE in ExtractorMediaSource, reproduced by quickly prepare and release the MediaSource"
In short, here is my stacktrace:

[code]

It happens when I have a list or video (RecyclerView), and scroll quickly through them (when a ViewHolder is attached to Window, it will prepare the Video with "playWhenReady = false").

Source code is from my library, so have no idea if it is OK to show it here. But let me know.

[2016-10-08 06:42] dzualeks commented on #55
[tresvecesseis](https://github.com/tresvecesseis), thank you for reply.

No, problem not on RTSP server side. It works until 'local server' buffer queue overflows and live555 send TEARDOWN by self.
Two words about my app architecture:
- 'Clients' (RTSPDataSource class for Exoplayer and MP4 file writer class) starts live555 RTSP 'wrapper' (or connects to existing: app must write video/audio to MP4

[2016-10-08 07:09] hardcattle opened #1915 "Logcat show error when come back the activity."
Reproduction step:
1. Play a video with ExoPlayer at a activity, exoPlayer to show the video with surfaceView.
2. Leave the activity at playing a video.
3. After that,come back the activity, play the video continue, logcat show error.

Note:
The surface view is destroy when i leave the activity, i create a new surface view when come back. The instance of exoPlayer is not destroy throughout the pro

[2016-10-08 10:17] philolt commented on #1846
Hi,
I fixed it with a workaround. I think it depends on the content because I found some MP4 Files where it worked. But it is also Hardware dependant because all of my devices behaves differently with the issue files. If you want to investigate in this issue I can upload one of the files or you can close this issue.
Thanks anyway!

[2016-10-08 11:44] tresvecesseis commented on #55
I have my own rtsp data source that connect directly to the RTSP server and
it works properly with exoplayer v1, we are in the porting process to
exoplayer v2 but I'm afraid it will not work for your use case.

El 8 oct. 2016 8:42 a. m., "dzualeks" notifications@github.com escribió:

[2016-10-08 15:21] dzualeks commented on #55
[tresvecesseis](https://github.com/tresvecesseis), thank you again.
Hmmm... I'm use Exoplayer v2 from project's start. Will try to check v1 with my RTSPExtractor/RTSPDataSource.
Also, can I see your Extractor/Datasource classes? (may be I miss something in my code...) Or you use different way of integrating your components into Exoplayer?

[2016-10-08 16:05] niorgai opened #1917 "Can not play assets video in Android 7.0"
I am using r2.0.2.
I put the file in assets dir, and create to Uri by call `Uri.parse("file:///android_asset/video_guide.mp4")`, It can play in Android 4.4, but it is not work on my nexus6, Android 7.0.

[2016-10-08 17:56] tresvecesseis commented on #55
Yep, we plan to contribute the RTSP extractor but it´s no generic enough to be useful to others in its current form (we have hardcoded some weird behaviours of our RTSP servers) so we are trying to make the datasource standards compliant before submission. In any case, I will try to strip the propietary bits and have something to show you in the next few days.

From: dzualeks notifications@github.

[2016-10-09 00:28] chrisjenx commented on #55
Would love to help in making the RTSP Extractor more generic. If you have
an open source repos we can contribute to let me know.

On Sat, 8 Oct 2016 at 18:56 tresvecesseis notifications@github.com wrote:

[2016-10-09 04:40] eneim opened #1918 "[Question] Reuse BOTH SimpleExoPlayerView and SimpleExoPlayer after STATE_ENDED"
Assuming that I have played a local Video, using those 2 components. After the player reaches STATE_ENDED, it seems that it is not trivial to restart the playback again. What should I do if I want to "click to one button" to restart the playback from all over again.

Thanks and pardon me if I'm missing some thing.

[2016-10-09 08:46] tprochazka opened #1919 "Controller in SimpleExoPlayerView is visible when I use app:use_controller="false""
When I use `com.google.android.exoplayer2.ui.SimpleExoPlayerView` with `app:use_controller="false"`
Controller stay visible all the time.
Tested o r2.0.2

Only workaround is use `setUseController(false)` but XML layout attribute must be removed too, otherwise `setUseController(false)` will have no impact and controll will be visible also after call `setUseController(false)`  because of this method

[2016-10-09 08:54] tprochazka commented on #1782
I have experience with this issue on r2.0.2 too.

[2016-10-09 12:44] ojw28 commented on #1918
I think it is trivial; just seek back to 0 (by calling seekTo(0)) and that's it? Note that the ExoPlayer demo app allows you to seek back after the state has transitioned to ended (with the player controls).

[2016-10-09 12:45] ojw28 commented on #1912
This is tracked by https://github.com/google/ExoPlayer/issues/87.

[2016-10-09 12:45] #1912 closed, assigned to nobody

[2016-10-09 12:48] eneim commented on #1918
@ojw28 I think I got the solution. Thanks a lot.

[2016-10-09 12:48] #1918 closed, assigned to nobody

[2016-10-09 12:52] ojw28 commented on #1919
We'll push a fix for this shortly; thanks!

[2016-10-09 14:16] xuxucode commented on #1894
Hi, this happens frequently when playing **HD** ts, any progress on this? Thanks for your help.

[2016-10-09 15:34] ojw28 commented on #1917
I tried this by adding the following entry into `media.exolist.json` in the demo app:

[code]

and also adding an asset of that name to the app, and it worked fine on 7.0.

Please try and reproduce using the demo app. If you cannot reproduce, this is likely some error in your application code. If you can, please provide clear reproduction steps and a full bugreport (captured with `adb bugreport` s

[2016-10-09 15:50] ojw28 commented on #1915
The logging is indicative of you not clearing the old `Surface` from the player when it's destroyed. It looks like an application error, in that you're most likely failing to do this.

[2016-10-09 15:59] ojw28 commented on #1914
If it's possible to provide an easy way to reproduce this as source (e.g. a patch for the demo app, or a link to some other open source demo app that reproduces the issue) that would be great.

The only way I can see this happening is if the ExtractorMediaSource has been released whilst one of its child ExtractorMediaPeriods has not, and I can't see an obvious way that can happen.

[2016-10-09 16:02] ojw28 commented on #1901
Yeah, ExoPlayer is likely not optimized for this use case. It remains an option for you to use just the extractors provided by the ExoPlayer library, but exactly how to do this is dependent on your other application code, and is something you'll have to figure out for yourself.

[2016-10-09 16:02] #1901 closed, assigned to nobody

[2016-10-09 16:06] #1891 closed, assigned to nobody

[2016-10-09 16:06] #1836 closed, assigned to nobody

[2016-10-09 16:10] ojw28 commented on #1828
To clarify somewhat: When using `MergingMediaSource` the expectation is that you're merging items that have the same duration. If you were to do that and then loop the merged result (example below) then I'd expect playback to proceed correctly.

[code]

[2016-10-09 16:12] #1862 closed, assigned to nobody

[2016-10-09 21:31] gpinigin commented on #1894
Do your sample have IDR frames? If not - you should alter Exoplayer implementation (TSExtrator) to setup workaround flag in default constructor.

[2016-10-09 23:30] gazeing commented on #1782
I have experience with this issue on r2.0.2 too.

[2016-10-10 03:06] hardcattle commented on #1915
Thanks! I forget call the method of clearVideoSurface when it's destroyed.

[2016-10-10 03:06] #1915 closed, assigned to nobody

[2016-10-10 07:07] niorgai commented on #1917
I try it in demo app and it Toast `Media includes video tracks, but none are playable by this devices.`

Here is the execption stack.

[code]

[2016-10-10 08:44] sandersaares opened #1920 "Requesting demo app APKs"
A significant component in multiplatform solution planning is trying out media player functionality and compatibility with content, ideally using an official sample app.

ExoPlayer has a perfectly usable demo app for this. However, it currently requires an Android developer to build it, which is somewhat effortful. Trying playback against the latest version without Android developer involvement wo

[2016-10-10 12:12] AntonAndev opened #1921 "Artifacts on video"
Hello, I use SimpleExoPlayer and SimpleExoPlayerView to display a video. I see artifacts on video on different streams. I made a following test: in the web admin panel of media server opened a stream in the JWPlayer, opened the same stream in my Android app using r.2.0.2 on device Sony Z3 Compact (Android 6) and using r.2.0.1 on device LG Spirit (Android 6) and in my app for iOS on iPad (AVPlayer)

[2016-10-10 13:06] AquilesCanta commented on #1906
Yes,

is true, but this is only so for older APIs in v2. Can you give v2 a try? It does the correct checks for h264 and h265, but is conservative about other decoders, and returns true if not. Also, what format are you trying to play?

[2016-10-10 13:27] mseroczynski commented on #26
Manipulating (audio) playback speed will be one of core features in my app which I'm currently developing. I have no doubt that ExoPlayer 2.x would be the best choice for me if it only had this feature on api 16+. @andrewlewis Would it be possible for you to estimate when such feature (at least audio only) could be potentially released or when will you know if it's coming for sure? My progress is

[2016-10-10 13:32] RikDriever opened #1922 "Video stutters - how to pinpoint the root cause?"
We're using ExoPlayer in our app running on one specific device and recently received a new version of this device from the manufacturer for testing.
The old device has a RK3188 and Android 4.2.2, the new one has a RK3368 and runs on 5.1.1.
On this new device we're experiencing subtle stuttering in the video, especially when panning and zooming occurs in the video.
I've tested with all kinds of vi

[2016-10-10 13:48] ojw28 commented on #1917
Please can you read the [issue template](https://github.com/google/ExoPlayer/issues/new) (i.e. the default contents of the issue box) and provide all of the information requested? You're not providing sufficient information for us to help you.

[2016-10-10 13:49] ojw28 commented on #1922
You should really follow up with the device manufacturer if this is a device specific performance problem, and if you have a relationship with them.

[2016-10-10 14:44] xuxucode commented on #1894
@gpinigin Yes, it has IDR frames.

Frames:

[code]

As your suggestion I changed two places:
- [TsExtractor.java#97](https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/extractor/ts/TsExtractor.java#L97)

[code]
-  [HlsChunkSource.java#374](https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/sou

[2016-10-10 15:10] xuxucode opened #1923 "SimpleExoPlayerView#onTouchEvent() should return false if useController is false"
I don't want player controller, hence set `app:use_controller="false"` in layout, but the touch event is consumed by the view. I think it shouldn't, does it make sense?

before:

[code]

After:

[code]

[2016-10-10 15:23] ojw28 commented on #1923
Yes, I have a pending change that fixes this already, and makes a bunch of other tweaks to the new UI components.

[2016-10-10 15:54] SteUK opened #1924 "Ability to add drm key requests after player has been created"
Hi,

This is a feature request...sorry if I have missed an option somewhere or posting this in the wrong place!

Using ExoPlayer branch dev-2.0.0-rc

I using Axinom as a DRM solution service.  This requires setting a drm key request - I am sure most of you know the procedure as it has been covered on here before.

What I would like to do is create my player up front, then later specify license tok

[2016-10-10 16:47] okjoonkim commented on #1906
@AquilesCanta We are decoding and playing H246-based HLS stream. Frankly speaking, it is hard to upgrade up to ExoPlayer V2 for now. Is it possible to make use of only some classes or functions from V2?
Thanks for your help.

[2016-10-10 16:59] AquilesCanta commented on #1906
I wouldn't advise that, really. You can try, however, backporting some of the stuff from V2 and patching whatever you need.

I assume you meant H264. It is strange as the calculation should be correct. Try attaching a debugger and see what's going on, another approach I'd recommend is playing the problematic streams in v2 and see if the behavior is any different. This doesn't require any effort fr

[2016-10-10 17:22] okjoonkim commented on #1906
Sorry for confusion. What i am trying to figure out is that a device can decode a high resolution of stream (i.e. 2400x1600 H264) before playing it. If the device does not have the capability, we want to provide a low resolution. According to my tests, when the HLS m3u8 file contains high resolution stream and the player switches to a higher resolution from a low resolution while having a good int

[2016-10-10 17:32] ojw28 commented on #1906
If the HLS master playlist includes RESOLUTION tags then I think streams beyond the device's capabilities are filtered out already (in V1 and V2).

[2016-10-10 17:42] ojw28 commented on #1924
You'd still need to ensure you call your additional methods before any call to `ExoPlayer.prepare`, else you'd have no guarantee that the properties are set prior to requests being triggered. Are you doing this?

[2016-10-10 18:06] SteUK commented on #1924
I sure am  :)  Playback is working as would be expected in our model.

Just wondered if the ability to do this is something that would be considered as an addition.  Otherwise the player would need creating once a license token has been obtained (webservice), and a new player would be needed to be instantiated for every different video.

[2016-10-10 18:07] okjoonkim commented on #1906
That is the issue i am facing right now. Surely i put the RESOLUTION tags in the m3u8 file but the player keeps trying to play the higher resolution. There is another thing i would like to point out. I also provide the stereoscopic VR stream having high resolution. Unless the device has the video capability to decode it, i want to disallow the VR experience beforehand.
Thanks again.

[2016-10-10 18:29] mopsalarm commented on #1914
I have the same issue in my app. Sadly, i dont know how to reproduce it, as it only happens on my users systems, never on mine. I am calling prepareSource() and stop() maybe multiple times on an exo player instance inside of a ViewPager.

[2016-10-10 18:40] ojw28 commented on #1914
Which versions of ExoPlayer are you seeing this with? Unless you've shipped your app extremely recently I'd expect you to be seeing a different stack trace (even if only by the line numbers).

[2016-10-10 18:43] mlondon1 opened #1925 "L3 Widevine provisioning fails"
Hi,
We see some older Android devices (4.4.2) only work with Level 3 security, while some newer devices only work with Level 1.  This is not always the case, though.

What is the recommended approach for determining if a device supports one or the other in order to trigger one of the other like so:

mediaDrm.setPropertyString("securityLevel", "L3");

[2016-10-10 18:51] ojw28 commented on #1925
- I'm pretty sure all devices should work with L3. If you know of devices where forcing L3 with setPropertyString doesn't work, please let us know exactly which models and OS versions. Ideally please provide bug reports so we can take a look.
- A MediaDrm should default to its best supported level without you having to do anything. Once you've instantiated a MediaDrm instance, you can query its le

[2016-10-10 18:51] mopsalarm commented on #1914
2.0.0 and 2.0.2. I skipped the 2.0.1 release.  I am putting daily/every-second-day builds out there.
The NPE occurres in Line 179 in ExtractorMediaSource.

[2016-10-10 18:52] ojw28 commented on #1914
Could you point me to your app in Play Store? I'd be interested in trying to reproduce. Thanks!

[2016-10-10 19:04] mopsalarm commented on #1914
Sadly, it is not in the play store - but you can find the repository here: https://github.com/mopsalarm/Pr0/tree/1.111.4
In the current master version, i use a exo player version with an `if (sourceListener != null)` added.

The ExoPlayer is wrapped here https://github.com/mopsalarm/Pr0/blob/1.111.4/app/src/main/java/com/pr0gramm/app/ui/views/viewer/video/ExoVideoPlayer.java
The start() and stop()

[2016-10-10 19:16] mlondon1 commented on #1925
Some of these devices play successfully with Widevine-Dash content in Exoplayer 2.0.2 with Level 1 but not with Level 3.

samsung Galaxy S5   SM-G900F    Android 5
Motorola Moto X (2nd gen)       Android 5.1
HTC 10  HTC6545LVM     Android 6.0.1

We have seen errors such as:
10-07 12:13:00.734 364-364/? W/WVCdm: DeviceFiles::RetrieveFile: /data/mediadrm/IDM1013/L3/cert.bin does not exist

[2016-10-10 22:05] ojw28 commented on #1914
@mopsalarm - I checked out master and switched the dependency back to vanilla ExoPlayer. Should that be sufficient to get the app into a state where it might reproduce the issue (albeit that reproducing might be difficult). Do you know in which fragment the issue occurs, and what browsing steps I'd need to take to get to that fragment in the app? If not, that might be something you could usefully

[2016-10-10 22:21] ojw28 commented on #1914
Actually, it reproduces relatively easily (e.g. within 5 minutes or so) if you unleash the monkey on your app, like:

[code]

(repeat until crash occurs).

[2016-10-11 00:50] eneim commented on #1914
@ojw28 I notice that in `ExtractorMediaSource`, It passes itself to a new `ExtractorMediaPeriod` in `createPeriod` but it has never been released in `releasePeriod` (see `ExtractorMediaPeriod#release()`), which I guess the cause for this issue. It can be seen that if a call to `ExoPlayer#stop()` is called before the source is prepared, it will throw an NPE.

[2016-10-11 01:48] eneim commented on #1917
@niorgai Did you grant the Read Storage Permission?

[2016-10-11 05:34] adetheprince opened #1926 "TS HD video not playing on android 4.4 samsung"
Hi there
Just tested the demo as it is, but I am not sure why the TS file that is HD is not playing.
Its giving me a n error ( but none are playable by this device ) but video playing fine with vlc?

[2016-10-11 09:15] SteUK opened #1927 "Group level override for adaptive track selection list"
Feature request.

As per the discussion here:  https://medium.com/p/119a2f18ecb7/info/oldest/all

It would be great to have a group level override so a full set of tracks (all representations in an adaptation set) can be set primary for adaptive selection.  Currently we are having to manually build up an index array and check the validity of each track.

[2016-10-11 09:20] AquilesCanta commented on #1926
Since no additional information was provided, I will assume this is a duplicate of #1894.

[2016-10-11 09:20] #1926 closed, assigned to nobody

[2016-10-11 10:09] cesards opened #1928 "Annotations usage across the framework"
First of all, very good job with the framework. It's very extensible and the API is not overcomplicated and accessible. However it's very difficult to know what components I need to use or not.

For instance, creating an instance of the player requires some components but "I think" I won't need some of them, so it would be nice using annotations in all fields by your side. The policy used for it (

[2016-10-11 11:23] hardcattle opened #1929 "Can't play video in"
Can't play in this phone.

Product Model：DOOV C1
System version : 4.2.2
CPU: ARMv7 Processor rev 2(v7I) 1209MHZ

ExoPlayer version: r2.0.2

LOG:

`2016-10-11 18:43:27  I/TVM     ( 9689): Could not find method Landroid/media/MediaCodec;.releaseOutputBuffer, referenced from method Lcom/google/android/exoplayer2/d/c;.a
2016-10-11 18:43:27  W/TVM     ( 9689): VFY: unable to resolve virtual method 1056

[2016-10-11 14:16] ojw28 commented on #1906
Please provide sample content for us to investigate this further and a full bug report captured shortly after the issue occurs.

[2016-10-11 14:17] ojw28 commented on #1929
Please read the issue template and provide all of the requested information as a new issue. It _explicitly_ states in the issue template that a snippet of logcat is not sufficient and that we require a full bug report. Also, if this is media specific, we'll need media that reproduces the issue.

[2016-10-11 14:17] #1929 closed, assigned to nobody

[2016-10-11 14:18] ojw28 commented on #1928
Yes, this is on our list. It's not high priority at this point, but we'll get to it.

[2016-10-11 15:36] adetheprince commented on #1926
And yet no answer given? both thread

[2016-10-11 17:18] #1907 closed, assigned to nobody

[2016-10-11 17:18] #1914 closed, assigned to nobody

[2016-10-11 17:19] #1908 closed, assigned to nobody

[2016-10-11 17:19] #1919 closed, assigned to nobody

[2016-10-11 17:19] #1923 closed, assigned to nobody

[2016-10-11 17:25] mopsalarm commented on #1914
nice :+1:

[2016-10-11 18:15] ralphpina commented on #1745
Can't you just have another version of the layout for landscape? Which has it's own `SimpleExoPlayerView`. Then when you rotate handle `onConfigurationChanged(Configuration newConfig)`. Here switch the `SimpleExoPlayerView` in the player. Make sure to keep track of the current position.

[code]

Hope that helps some. All that might not be necessary if your `SimpleExoPlayerView` has `android:layout

[2016-10-11 22:23] wvpaf commented on #1925
@mlondon1 we reviewed a HTC10 log provided via email. The 'error' above is really a warning and is not the root cause.

The log did not indicate that the error is not in the DRM space.
Here is an interesting bit:
10-11 14:14:52.222: E/ExoPlayerImplInternal(14445): Caused by: com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404

Could this be an iss

[2016-10-11 22:30] wvpaf commented on #1913
@mlondon1  can you help provide a full ADB log?

Other SS tablets have suffered from HDCP issues, which may cause the decrypt errors reported, and upgrading to L seem to fixed the other issue.

[2016-10-11 22:42] mlondon1 commented on #1925
The http 404 is not the license server nor for the Dash content.  I watch for that in Wireshark during playback.

There seems to be a Google API for a cert in the media codec, could that be if?

[2016-10-12 02:54] HSY229 opened #1930 "Current time and buffered position are greater than duration(HLS)"
1) Add the HLS sample into `media.exolist.json`:

[code]

2) Launch ExoPlayer demo app
3) press "HLS" button
4) press "wrong EXTINF sample" button

When video is playback in the first segment,
we can see the secondary progress is fill the progress bar;

[code]

Then, when it ready to play the second segment,
the current time text is greater than duration,
and seek bar jump to the end by itself.

I

[2016-10-12 03:03] palfu commented on #1753
in release-v1,

[code]

work?

[2016-10-12 03:19] HSY229 commented on #1907
Thanks.

[2016-10-12 04:14] rainboy93 opened #1931 "[Question] HLS aes128-bit encrypted example"
Hi,
After long time searching without any result. I decided to ask you for an example of playing live stream video with HLS aes128-bit encrypted.
Thanks in advance.

[2016-10-12 07:21] Anshumansharma12 opened #1932 "Recording of Stream Video from Exoplayer"
Hello All,

I want to record video from Exoplayer.

Right now am using Exoplayer for streaming, now with the stream i need to record that video into Android phone local storage. Please help me out how i can record video from streaming buffer.

Thanks
Anshuman

[2016-10-12 08:06] ojw28 commented on #1932
This is not a feature supported by ExoPlayer, sorry! It's probably possible to do, but how is something you'd need to work out for yourself.

[2016-10-12 08:06] #1932 closed, assigned to nobody

[2016-10-12 08:40] Anshumansharma12 commented on #1932
Is it possible that i can cache streaming video and play it again?

[2016-10-12 08:47] ojw28 commented on #1931
AES-128 encrypted HLS streams should work in an identical way to clear HLS streams. As an application developer, you shouldn't need to do anything differently. So please just refer to playback of clear HLS streams in the demo app.

[2016-10-12 08:49] ojw28 commented on #1930
If the HLS playlists contains incorrect information, surely this is a content issue rather than a player issue. Please clarify.

[2016-10-12 09:15] HSY229 commented on #1930
Thanks for your replay.

Actually this is the contain problem.
But if ExoPlayer can handle it,
ExoPlayer will be better.

[2016-10-12 09:43] AquilesCanta commented on #1926
This thread is not getting an answer because it contains close to no information. That's why it was closed. The other thread did get an answer.

[2016-10-12 11:10] c3stream commented on #26
I choose this because I want to achieve.

https://github.com/protyposis/MediaPlayer-Extended

[2016-10-12 11:34] mseroczynski commented on #26
@c3stream I think it's not a proper place for such input, most of all we're all interested in specifically Exoplayer's capability of satisfying our business needs. I think we all already know there are alternatives around but perceive Exoplayer as standard.

@ojw28 @andrewlewis If you could answer my question I would be really, really grateful. Deadlines, etc..

[2016-10-12 12:07] ishantsagar commented on #1782
@AquilesCanta Yes, the issue still remains in r2.0.2

[2016-10-12 12:11] ojw28 commented on #26
We've scheduled time to work on this in Q4 (i.e. by the end of the year). This is in no way a promise. Priorities may change, etc.

[2016-10-12 12:16] Mugurell opened #1933 "HLS Video playing too fast on Android TV"
Hello,

I was trying to implement ExoPlayer for HLS playback on Android TV.
I imported the demo project based off 2.0.2 and started the PlayerActivity on a Nexus Player with Nougat with basically
`startActivity(new Intent(this, PlayerActivity.class)
    .putExtra(PlayerActivity.PREFER_EXTENSION_DECODERS, false)
 .setData(Uri.parse("https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_

[2016-10-12 12:32] PerkmannM commented on #1908
Thank you for fixing this issue!

When do you plan to release this version?

[2016-10-12 12:40] Ma7moudHatem opened #1934 "How to keep the buffer after calling seekTo() ?"
I have a case where i need to keep the buffer after seeking to a position behind the current playback position. Currently the default behavior for the player is clearing the buffer if i seek behind the  current playback position and keeping it if i seek to a position afterward the playback position.
So please help me to fix this issue or any advice.

[2016-10-12 13:14] dzualeks commented on #55
Sorry for silence. I'm stupid.
My issue been in frame timestamps which my code pass to Exoplayer (trackOutput.sampleMetadata(timeStampUs,...).
Camera's RTSP server returns _absolute_ timestamps, but Exoplayer requires _relative_ ones (0 for 1st frame).
Now Exoplayer v2 succesfully works for me.

[2016-10-12 13:43] ojw28 commented on #1933
There are two timers in the video stream that drift apart. We stay in sync with the bottom one. This is the same as what Safari does. If you're expecting the playback controls to stay in sync with the top timer rather than the bottom one then I think you're expecting the wrong thing.

Please clarify.

[2016-10-12 13:47] chrisjenx commented on #55
Would love to see this impl!

On Wed, 12 Oct 2016, 14:23 dzualeks, notifications@github.com wrote:

[2016-10-12 14:29] AquilesCanta commented on #1782
Guys, a commit message will appear in the thread when something is done about this. We will probably push a temporary tentative fix soon. This is being worked on.

[2016-10-12 14:33] Anshumansharma12 commented on #420
Hello by using dev-v2 am able to create local cache of stream video. Now its showing multiple files in following format "xxxxx.v2.exo" is there any way by which i can create .mp4 file.
Or any other way by which i can cache it into ".mp4" format. As am streaming mp4 video http url.

[2016-10-12 14:42] Mugurell commented on #1933
The playing rate of the stream is too high.
It's almost double than what it should be.

Here's a short video with the demo run on Nexus Player
https://drive.google.com/open?id=0B3f8ie7PRefdZ29SNFZDQUM4Mkk

As it can be seen (if one is to look carefully) the stream starts playing at around second 6 of the recording and until second 12 of the recording ExoPlayer already played 11 seconds. In 6 secon

[2016-10-12 14:49] ojw28 commented on #1933
Ah. This is device and setup specific rather than HLS specific, I think. Please see the comment about Nexus Player on [this](https://google.github.io/ExoPlayer/supported-devices.html) page, which I think is what you're seeing.

[2016-10-12 14:56] Mugurell commented on #1933
I have no words.
That was indeed the problem.

Thanks!

You're doing an awesome job!

[2016-10-12 15:04] ojw28 commented on #1933
No worries!

[2016-10-12 15:04] #1933 closed, assigned to nobody

[2016-10-12 15:53] AquilesCanta commented on #1930
There is nothing wrong with the media playlists, I think. The issue is that PTS's from different variants do not match. When exoplayer adapts(in your case, it happens in the second segemnt), the discontinuity is found in the audio timestamps, making the player think that the position has changed drastically. Unfortunately, there is not much we can do about this. Having no issue with other players

[2016-10-12 15:53] #1930 closed, assigned to nobody

[2016-10-12 16:27] SrujithPoondla opened #1936 "FFmpeg Support"
I am using Android-FFmpeg .aar file from [Android-FFmpeg](http://writingminds.github.io/ffmpeg-android-java/) for loading FFmpeg binaries. Is there any way to link the ffmpeg command line output from that module to exoplayer so that it streams the video with out saving the video. Otherwise should i have to develop some FFmpeg decoder to decode video as an extension to exoplayer using Media Codec R

[2016-10-12 16:37] ojw28 commented on #979
@cbfiddle - For mp4 do you think it's fine to propagate the metadata in the audio track only? I've made this change on `dev-v2-id3`, but wonder whether you can think of any edge cases? We could add it to the video track for the specific case where no audio track is present to handle that edge case, but in practice it seems unlikely we'd encounter this case.

[2016-10-12 17:22] alekmarinov opened #1937 "Smooth Streaming with AVC1 video is braking FragmentedMp4Extractor with exception"
We have live Smooth Streaming streams with Subtype="AVC1" attribute in the StreamIndex tag and FourCC="AVC1" in each QualityLevel subtag.

The demo ExoPlayer branch release-v2 executed on NexusPlayer with Android v7 is causing the exception as in the attached logcat, which is leading to FragmentedMp4Extractor parser.

The demo Smooth Streaming streams of ExoPlayer are encoded with FourCC="H264" an

[2016-10-12 17:50] mlondon1 commented on #1925
This is what I was talking about that seems to be requested as the provisioning profile?

https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create?key=< Key withheld>

The full stack trace shows that it is the provisioning request in the Exoplayer DRM code:

10-11 14:14:52.222: E/ExoPlayerImplInternal(14445): com.google.android.exoplayer2.ExoPlaybackException
10-11 14:14:52.

[2016-10-12 19:29] mlondon1 commented on #1925
Note that this 404 happens with the Widevine Secure HD content on HTC 10 (Android 6.0.1) as well, when setting security level to 3.  Staying in level 1 does not exhibit this issue.

[2016-10-12 20:13] cbfiddle commented on #979
I have no opinion. My use case is audio only.

[2016-10-12 20:58] #1844 closed, assigned to wvpaf

[2016-10-13 01:48] HSY229 commented on #1930
@AquilesCanta Thank you for the explanation and guidance.

[2016-10-13 04:04] rainboy93 commented on #1931
Thanks for reply.
At the moment, i'm using amazon for encrypt provider.
Also, I use the existed `Aes128DataSource` file and create my own `HlsRendererBuilder` file.
`onSingleManifest` callback i insert the AES128DataSource  with constructor relate to DefaultUriDataSource

`byte[] encryptionKey = getKey("AQEDAHh27I7ep8UA8h4ZkT7gjFnS50KkxJDdrviotvprqVDP9AAAAG4wbAYJKoZIhvcNAQcGoF8wXQIBADBYBgkqhkiG9w0

[2016-10-13 05:49] sandersaares opened #1938 "Which DRM-related DASH interoperability aspects need clarification?"
I am currently working on a change request for DASH-IF IOP to clarify interoperable behavior with regard to some DRM interactions in the player. My motivation for initiating that is to clarify one specific aspect that is implemented in non-interoperable ways in different players (multi-key content handling) but I thought that while the topic is under investigation, perhaps other aspects of DRM beh

[2016-10-13 07:38] rainboy93 commented on #1931
By the way, this is the link stream that i use to test:
[http://dgk6hzyysiw9f.cloudfront.net/hlsprotected/002testpl.m3u8](http://dgk6hzyysiw9f.cloudfront.net/hlsprotected/002testpl.m3u8)
and the key information:

Encryption Key
`AQEDAHh27I7ep8UA8h4ZkT7gjFnS50KkxJDdrviotvprqVDP9AAAAG4wbAYJKoZIhvcNAQcGoF8wXQIBADBYBgkqhkiG9w0BBwEwHgYJYIZIAWUDBAEuMBEEDA96RCavMQRqiSr8iwIBEIArzmvU03UeW0ZBVh2Vgiby/S8h7hW

[2016-10-13 08:02] luckcoolla commented on #1865
+1 for the issue fix. I've faced it using exo player 2.0.1, but I saw it previously on 1.x too.

manifest:

[code]

logs from the test device:

[code]

[2016-10-13 09:15] MudasirBhutto commented on #87
+1 for DVR support for HLS in exoplayer.
Hey @ojw28, any update on this?

[2016-10-13 09:19] AquilesCanta commented on #87
Live seeking in HLS is being worked on for Exoplayer v2.

[2016-10-13 09:31] MudasirBhutto commented on #87
Great. Thanks for replying @AquilesCanta. Can you give us rough idea, when we expect it?

[2016-10-13 09:34] AquilesCanta commented on #87
I cannot promise anything but I'd say 2 weeks.

[2016-10-13 09:42] MudasirBhutto commented on #87
Thanks. We will wait for 2 weeks. :)

[2016-10-13 11:16] AquilesCanta commented on #1931
I'll have a look.

[2016-10-13 11:25] zmsansan opened #1939 "Video over toolbar and color status bar gone"
I'am use video on top window with appcompat toolbar, but video on toolbar and color status bar gone instead under toobar and color status bar.
I'am simplify and customization demo for set aspect ratio. Aspect ratio = 4/3 and set RESIZE_MODE_FIXED_WIDTH.

This bug see on Android 6.0.1.

I think cause in AspectRatioFrameLayout y-coordinate is negative..

How solve this problem?

Link to example http

[2016-10-13 11:35] ojw28 commented on #1936
This is quite far outside the scope of the issue tracker. We're not familiar enough with the Android-FFmpeg library to provide an answer. It seems almost like this is more a question for the Android-FFmpeg developers than it is for us.

[2016-10-13 11:55] ojw28 commented on #1925
@wvpaf / @jefftinker - This looks quite serious. When the CDM requests provisioning, we generate the URL to which the request is sent as:

[code]

But we're seeing 404s. This seems to occur across all devices.

[2016-10-13 11:56] erdemguven commented on #420
@Anshumansharma12 it isn't possible but you can always download the file yourself and play it using a FileDataSource.

[2016-10-13 12:13] ojw28 commented on #1925
@mlondon1 - How are you implementing `executeProvisionRequest`? If you've taken ExoPlayer's default implementation, please try nulling out the request properties so that the `Content-Type` property doesn't get set. This appears to fix the issue when I tried it.

[2016-10-13 12:23] mlondon1 commented on #1925
@ojw28 Yes I am taking the default implementation.  Could you provide some assistance on that ?

[2016-10-13 12:45] AntonAndev opened #1940 "No video, only sound (hls, dash)"
Some users complain what they see black rectangle instead of a video, but can hear a sound, and this problem is not only with HLS streams from my servers,  "Audio only" HLS playlists are not enabled on server, I use SimpleExoPlayer and SimpleExoPlayerView (r,2.0.1 and r.2.0.2). These users did not have such problem with previous version of my app with MediaPlayer class. Also I added a function to

[2016-10-13 13:01] AquilesCanta commented on #1940
Can you provide a stream that reproduces the issue?

[2016-10-13 13:06] AntonAndev commented on #1940
I sent links to your dev.exoplayer... email

[2016-10-13 13:28] ojw28 commented on #1925
Yes. This is an unfortunate issue that I think we introduced as part of our work to support Cronet via an extension. Investigating possible fixes now.

[2016-10-13 13:42] AquilesCanta commented on #1940
Unfortunately, I cannot reproduce the issue.

If you are completely certain that the same media, on the same device used to work with MediaPlayer, I can only guess that the codec capabilities advertising is not correct or we are not correctly doing the check. In any case, I haven't heard of these things happening before.

If you need/want to confirm this quickly, you could try disabling the codec

[2016-10-13 14:11] zhuyifan2013 commented on #551
How about this issue? @ojw28

[2016-10-13 14:12] ojw28 commented on #551
We abandoned plans to optimize this for now. It turned out to be pretty non-trivial. If you're concerned with optimal playback behavior then you should really be using DASH rather than HLS.