[2019-12-17 17:30] ArtYemelianov opened #6775 "HLS playback fails if chunk requests returns HTTP 416 status code"
### Issue description

Exoplayer is crashed and doesn't switch to another stream (variant) if the new position in the stream is out-of-range.
[code]
### Reproduction steps

1. Provide a playlist with several streams (*.ts extension)
    For example in my case, there are streams:
            _- stream/song_name_high_quality.ts_  (some chunks in the stream are broken)
            _- stream/song_name

[2019-12-17 17:33] ojw28 commented on #6730
I don't think we've been provided with a full bug report for this issue. Please capture one using `adb bugreport` shortly after encountering the problem, and either provide it by email or attach it here. A small snippet of log is not sufficient for debugging this type of issue.

If you're able to provide a full bug report, please do so. If you've already provided one and I just haven't found it, p

[2019-12-17 19:31] ojw28 commented on #6654
I don't think we received a full bug report as requested above, which is needed to investigate this issue. Marking this issue as "need more info" because we still need this if we're to investigate further, however since you've upgraded the device to a newer build on which the issue does not reproduce, it's unclear whether you'll be able to provide one at this point.

If the issue is in the platfor

[2019-12-17 21:31] kkovach opened #6776 "IndexOutOfBoundsException during playback"
### [REQUIRED] Issue description
I get the following exception and crash while playing audio.

[code]

### [REQUIRED] Reproduction steps
I cannot reliably reproduce this issue, but I suspect that it might be caused by multiple calls to ConcatenatingMediaSource.addMediaSouce() Rough application flow is as follows...

- Add single MediaSource to a ConcatenatingMediaSource
- Prepare player with that

[2019-12-18 02:29] leemoxx commented on #6771
Thank you so much for the solution and explanation @icbaker I have tried keeping the class originally but that did not help. I have thought about suppressing the warning, but I was afraid it would cause issues. I am not sure if I should be closing this issue or not, so I will leave that to you.

[2019-12-18 05:11] kyungtae-K opened #6777 "Not smooth playing cbcs content on Samsung Galaxy Note 9"
### [REQUIRED] Question
used device : galaxy note 9
used app : https://github.com/google/ExoPlayer/tree/release-v2
The video is not smooth when playing cbcs content using exoplayer (release-v2) on samsung galaxy note 9(Android 9).
cbcs content playback performance is this normal?

### A full bug report captured from the device
[logcat.log](https://github.com/google/ExoPlayer/files/3976703/logcat.l

[2019-12-18 05:17] GouravSna commented on #6730
Hi @ojw28 ,
I have shared the reports over email. Please let me know if it helps. I am also not able to reproduce on my end.

[2019-12-18 05:27] Shubham1209mathur commented on #6758
Yes I am working on Linux

Please check my attached image

![cmd](https://user-images.githubusercontent.com/26159909/71058237-18e13200-2185-11ea-9555-d5c1c8e9e846.png)

[2019-12-18 07:24] dreich opened #6778 "One HLS stream is not played"
Please, look at this stream: https://g7.wi.com.ua/hls/glassru.m3u8.
May you check why it is not played using ExoPlayer?

[2019-12-18 08:32] xuanthebui opened #6779 "How can I change the repeat mode icon?"
<ImageButton
            android:id="@id/exo_repeat_toggle"
            style="@style/ExoMediaButton"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:src="@drawable/ic_replay_24px" />

Please help me!!!

[2019-12-18 08:40] imbichitra commented on #6723
Hi i send an e-mail to dev.exoplayer@gmail.com regarding ulx video file

[2019-12-18 09:25] tsaezmirada commented on #6654
Thanks for the feedback, we will try to get all the information you need. You requested a full bugreport from boot until after failed playback. Then we will test it again getting the completed log.

Is needed anything else could you help to investigate?

[2019-12-18 09:28] master255 commented on #6773
@ojw28 , Yes Yes. I confirm. Is this the final version of the rules?
Maybe we need to test the playback of AV1? I have not seen such files yet.

[2019-12-18 10:31] christosts commented on #6758
The `NDK_PATH` variable is not set correctly. You need to replace `"<path to Android NDK>"` with the actual filesystem path where the NDK is. For example, if the NDK is installed in `/home/username/android/ndk` on your computer, then this command should look like

`NDK_PATH=/home/username/android/ndk`

[2019-12-18 11:19] Samrobbo commented on #6774
Hi,

It seems I can not access that file. If possible, please can you zip the test content and send it to dev.exoplayer@gmail.com using a subject in the format "Issue #6774"? Please also update this issue to indicate you’ve done this.

[2019-12-18 11:21] Samrobbo commented on #6775
Hi, if possible, can you share your test content with us, so that I can reproduce this. If you do not wish to share it publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2019-12-18 11:32] ArtYemelianov commented on #6775
Hi @Samrobbo ,
yes, I don't want to share a link publicity, therefore I sent in your email  dev.exoplayer@gmail.com
Thanks.

[2019-12-18 11:51] krackjack234 commented on #6756
hi @ojw28  since the hls url is from client, so I cant share it publicly. Is there a way to share it in private?

[2019-12-18 11:58] Samrobbo commented on #6777
Can I get a little more information? I can't seem to reproduce this.

In what way is it not smooth? Is the audio stuttering?

[2019-12-18 12:04] Samrobbo commented on #6778
Hi,

It appears that the site can not be reached. (`g7.wi.com.ua’s server IP address could not be found.`).

As a result, it won't play on ExoPlayer or any other player.

[2019-12-18 12:07] dreich commented on #6778
Excuse me, it CAN be reached. I can watch it with VLC player.

[2019-12-18 12:11] krackjack234 opened #6780 "Supporting rendering a playlist overlay on top of the player."
Before filing a question:
-----------------------
### [REQUIRED]
Searched documentation and issues but didnt get the answer

### [REQUIRED] Question
Does exoplayer UI support rendering a playlist overlayed on top of player?

Can we draw a playlist (with asset cards) using **exoplayer.ui** class and let exoplayer control playback of any selected asset?

[2019-12-18 12:11] dreich commented on #6778
Strange: from one PC it opens in browser and in another it doesn't.

[2019-12-18 12:12] Samrobbo commented on #6778
For me, it will not open in ExoPlayer, Chrome or VLC.

This may explain why ExoPlayer is struggling to play it?

[2019-12-18 12:33] dreich commented on #6778
Thank you for your time!
Maybe there is some problem with DNS, because this stream can be accessed by IP: http://89.187.0.3/hls/glassru.m3u8. And it IS PLAYED by ExoPlayer.
The issue may be closed now!

[2019-12-18 13:27] ilpelatodijavascript opened #6782 "Can you play fragmented mp4?"
Hello, I'm trying to play a fragmented mp4 file on my player.
This is how I set the source:
[code]
And this is the error I get:
[code]
Video format: mp4
Video codec: H264 MPEG-4 AVC
Audio codec: MPEG AAC

It seems strange to me that it can't play fragmented videos and I know that the video has no problems (For example, it works fine on VLC).

I tried
[code]
but same error.
Am I missing something o

[2019-12-18 13:42] faisalvv opened #6783 "how can remove and download only one chunks [.ts] if already download any chunks from one hls file."
**how can  remove and download  only one chunks [.ts] if already download any chunks from one hls file.**
i have already download all hls chunks. but i need only one latest chunks file [.ts]. its solve for memory issues.
how can use key for download and remove chuks

[2019-12-18 13:56] Samrobbo commented on #6778
Weird!

Feel free to file a new issue if you run into further issues :)

[2019-12-18 13:56] #6778 closed, assigned to Samrobbo

[2019-12-18 13:59] Samrobbo commented on #6779
Hi, the [exoplayer.dev UI components](https://exoplayer.dev/ui-components.html#overriding-layout-files) section provides some guidance on this.

[2019-12-18 14:57] icbaker commented on #6771
I'll keep this open for now to track removing IntDef values that are defined inside their interfaces.

[2019-12-18 15:14] kim-vde commented on #6723
I don't have sufficient permissions to access the file you sent. Can you send the file instead of a link to Google Drive?

[2019-12-18 15:16] bokach-stanislav commented on #6774
Hi,
Please use this link to download a test file from Google Drive:
https://drive.google.com/open?id=1XyeOiy49CbH74h9Aui9b943tjD9Nxvz8

[2019-12-18 15:39] Samrobbo commented on #6774
Hi Stanislav,

Unfortunately corporate/technical restrictions means I can't actually download that.

Would it be possible for you to put the file on to a server and provide a URI accessible by http?

Sorry for the inconvenience.

[2019-12-18 15:43] Samrobbo commented on #6782
Hi,

Is it possible for you to provide us with a link to the test content, so that I can reproduce the issue.
(feel free to send to dev.exoplayer@gmail.com with Issue #6782 as the title if you do not with to share publicly)

Thanks

[2019-12-18 15:49] bokach-stanislav commented on #6774
Hi,
Could you please let me know on which server I can upload the file (~700Mb) so you can access it?

[2019-12-18 15:52] Samrobbo commented on #6780
Hi,

Currently, this functionality does not exist. It would be a RecyclerView with an item for each window from what I know.

This isn't actually possible with core ExoPlayer at the moment, as the player does not have all the meta data.

We are planning to extend some of our functionality, which would make it easier to do, however there is no set timeline as to when this will be done.

[2019-12-18 17:48] Samrobbo commented on #6783
Hi,

Can I get some clarification? What is it you actually want? I'm not sure what you mean by "i need only one latest chunks file"

Is there another way you could explain your problem?

[2019-12-18 19:01] #6773 closed, assigned to ojw28

[2019-12-18 19:02] #6771 closed, assigned to icbaker

[2019-12-18 19:15] ojw28 commented on #6769
I think you need to enable Java 8 support, as documented in our developer guide:

https://exoplayer.dev/hello-world.html#turn-on-java-8-support

You need to do this in the `build.gradle` for the `app` module.

[2019-12-18 19:15] #6769 closed, assigned to Samrobbo

[2019-12-18 19:18] ojw28 commented on #6756
You can mail `dev.exoplayer@gmail.com`. If there's any kind of geo-restriction on the stream, please indicate where it's restricted to in the email.

[2019-12-18 20:10] ojw28 commented on #6756
Please also include `Issue #6756` in the subject, and let us know here once you've sent it our way. Thanks!

[2019-12-18 20:38] ojw28 commented on #6166
I don't think we currently support this (you can of course implement your own download functionality, rather than relying on the out-of-the-box components that we provide). Marking this as an enhancement.

[2019-12-18 20:40] ojw28 commented on #6166
@marcbaechinger - We should consider whether we want to allow request headers to be specified in `MediaItem`, and (eventually) whether `DownloadRequest` should include a `MediaItem` rather than some of its current fields.

[2019-12-18 21:20] duncancarroll opened #6784 "Support variable speed / setPlaybackRate() in CastPlayer / Cast Extension"
### Use case description
Exoplayer currently supports variable playback speed via `Player.setPlaybackParameters()`, however within `CastPlayer` this method is [marked as unsupported](https://github.com/google/ExoPlayer/blob/release-v2/extensions/cast/src/main/java/com/google/android/exoplayer2/ext/cast/CastPlayer.java#L404). This is out of date as the current `RemoteMediaClient` API does support p

[2019-12-19 00:58] kyungtae-K commented on #6777
problem is the video track.
If you look at the exoplayer screen shot log during playback, the db (droppedBufferCount) increases, so the video track playback is not smooth.
And my Galaxy Note 9 uses the Exynos 9810 AP.
However, the Galaxy Tab S6, which uses the Qualcomm Snapdragon 855 SM8150 AP, will play well.
Is it because of ap performance difference?

[2019-12-19 01:54] xuanthebui commented on #6779
@Samrobbo Thanks.
next and previous changed,, but repeat_mode_toggle not change. ;((

[2019-12-19 06:09] Shubham1209mathur commented on #6758
ok i have done that but when i am playing flac extension file then i am getting below error.

----------------------------------------------------------------------------
E/LoadTask: Unexpected exception loading stream
    java.lang.RuntimeException: com.google.android.exoplayer2.ext.flac.FlacDecoderException: Failed to load decoder native libraries.
        at com.google.android.exoplayer2.ext.fl

[2019-12-19 07:13] needz commented on #6646
@ojw28, is there any chance you could look into this issue for the next update? It seems to cause various problems on chinese Android boxes, when switching videos with different resolution (not only aspect ratio). Thanks!

[2019-12-19 08:30] janeriksamsonsen commented on #6367
Yes, this would be something that we need also. Any progress?

[2019-12-19 08:54] indieboyalex opened #6785 "IllegalStateException at DefaultDownloadIndex.getDownloadForCurrentRow"
### Issue description
The following crash is being seen in Crashlytics

[code]
It appears that the download progress is `null` which is failing the assertion.  From what I can see this progress is returned from the database.

Over the last 90 days: This issue has 1070 crashes affecting 110 users.

### Reproduction steps
We have not been able to reproduce this issue ourselves, but it is currently o

[2019-12-19 09:40] XanderSan opened #6786 "Exoplayer and RTMPS videos"
Hi.
I updated to 2.11.0 version and I'm trying to show rtmps videos but I have this error:

2019-12-19 10:34:53.996 31719-32028/it.telecomitalia.videolibrary E/ExoPlayerImplInternal: Source error.
    net.butterflytv.rtmp_client.RtmpClient$RtmpIOException: RTMP error: -10
        at net.butterflytv.rtmp_client.RtmpClient.open(RtmpClient.java:222)
        at com.google.android.exoplayer2.ext.rtmp.R

[2019-12-19 10:41] christosts commented on #6758
Did the native flac library build correctly? What was the output of the `${NDK_PATH}/ndk-build APP_ABI=all -j4` command?

For example, in a successful build, the output should finish with this

[code]

In path `${FLAC_EXT_PATH}/libs`, there should be 4 directories, each one containing the file `libflacJNI.so` (a different shared object per CPU architecture).

Do you see those files?

[2019-12-19 11:05] Samrobbo commented on #6784
@AquilesCanta - This seems like your domain, can you have a look at this?

[2019-12-19 11:58] Samrobbo commented on #6779
@ojw28 What are your thoughts?

[2019-12-19 12:12] ojw28 commented on #6779
If you just want to change the icons without modifying the layout, then you can do so directly. The list of icon drawables that you can override can be found here:

https://github.com/google/ExoPlayer/blob/r2.11.0/library/ui/src/main/res/values/drawables.xml.

So, for example, if you want to replace the play icon with your own `custom_play_icon` drawable, you could specify the following in your ap

[2019-12-19 12:18] faisalvv commented on #6783
how can i load hls [.m3u8] file without delay. actualy it will be take one to two seconds. so i have use simple cache for resolving problem.
here is my code:-
[code]
<details>
  <summary>Related database images</summary>

![pic1](https://user-images.githubusercontent.com/13183069/71172941-84abc380-2287-11ea-92f3-a484b2d1e7ab.png)

![pic2](https://user-images.githubusercontent.com/13183069/71172969

[2019-12-19 12:34] ojw28 commented on #6782
We do support fragmented MP4. Please provide a link to the test content, or send it to us as requested above, so that we can have a look.

This does not necessarily mean the video has no problem. All it means is that VLC can play it. Those two things are not the same.

[2019-12-19 12:58] imbichitra commented on #6723
this file is almost 42MB i can't attach and send over gmail,the only thing i send drive link.
i again send a drive link with editable permission.

[2019-12-19 13:03] ojw28 commented on #6774
The media is malformed, because it indexes data that's 8 bytes beyond the end of the file. That said, I think we might just relax the test we apply here to let this type of media play anyway.

[2019-12-19 13:22] natidykstein opened #6787 "Add option to enable exact (but inefficient) seeking into variable bitrate MP3s"
### Issue description
When seeking to 1603000ms in the mp3 file it seems to seek approx. 3 seconds earlier.
Seeking the mp3 file using Audacity(or VLC) it seeks to the expected position (as you can hear the expected audio).
I'm not sure it's relevant but the mp3 was created by extracting the aac stream of an mp4 video file using ffmpeg. (The original mp4 is seeked correctly by ExoPlayer while the

[2019-12-19 13:33] gvidda opened #6788 "Injecting DrmSessionManager via DownloadHelper.createMediaSource()"
With the 2.11.0 change of injecting the DrmSessionManager into the MediaSource (with the .setDrmSessionManager() ) there doesn't seem to be a way to set this when creating the mediasource for offline playback with DownloadHelper.

I have until now created a CacheDataSourceFactory and injected that and the DownloadRequest. Like this:

mediaSource = DownloadHelper.createMediaSource(download.request,

[2019-12-19 13:39] ojw28 commented on #6780
I don't really understand what this issue is tracking. It's possible to build this kind of UI today in application code, and it's not the job of the library to implement application UI to this extent. Please could you clarify?

[2019-12-19 13:48] ojw28 commented on #6695
Marking this as "needs for information", because you'll need to file a feature request on the leanback library asking them to support ad markers. Without that, this issue is blocked on a feature request in another library that no one has requested.

Please respond here with a link to the leanback feature request if you make one. Else this issue will be automatically closed.

[2019-12-19 14:04] SakthivelMuruganS opened #6789 "How to setup ads marker in Leanback Player Glue using Exo player"
Use case description
I want to display markers for ads in Exoplayer using the Leanback Adapter and Glue.
I've used Player Adapter & PlaybackTransportControlGlue (androidx.leanback.media) to stream the content. I'm able to load ads using Ima ads Loader in the video but I want to show the ad marker in lean-back seek bar like Exo player default time bar for different types of ad roll (pre-roll, mid-r

[2019-12-19 14:06] SakthivelMuruganS commented on #6695
I've filed a feature request and please find the feature request link in below
https://github.com/google/ExoPlayer/issues/6789

Kindly let us know the update on this.
Thank you.

[2019-12-19 14:08] ojw28 commented on #6788
Is this what you want (in the `dev-v2` branch): https://github.com/google/ExoPlayer/commit/61c43c30ac1ec26bdfd25757a0ac6ccee7c25fc2#diff-59e559b77cbc205ad4f12135c122ffb5

[2019-12-19 14:10] ojw28 commented on #6789
Duplicate of https://github.com/google/ExoPlayer/issues/6695

[2019-12-19 14:10] #6789 closed, assigned to ojw28

[2019-12-19 14:10] ojw28 commented on #6695
You need to file a feature request on the Leanback Library, not on ExoPlayer. As in my initial response, you should do this [here](http://issuetracker.google.com/issues?q=componentid:460758%20status:open).

[2019-12-19 14:25] gvidda commented on #6788
Looks like exactly what I needed. Sorry, didn't look at the dev branch, just tested the release.

[2019-12-19 14:55] SakthivelMuruganS commented on #6695
Can you tell me what is the component in feature request option??

[2019-12-19 14:58] ojw28 commented on #6695
The link should already take you to the right component (componentid:460758). You can click the drop arrow on the "create issue" button and click "in same component".

[2019-12-19 15:06] ojw28 commented on #6788
Note that in the meantime, you can just put an equivalent method in your own code (it's just a small helper method; as far as I can see. I don't think it does anything particularly smart).

[2019-12-19 15:08] SakthivelMuruganS commented on #6695
Yes I've filed a request in this and Thanks for your kind support

[2019-12-19 15:15] ojw28 commented on #6695
Leanback feature request: http://issuetracker.google.com/issues/146537025

[2019-12-19 16:09] ojw28 commented on #5804
We don't have any plans for this for at least the first three months of 2020, sorry.

[2019-12-19 16:27] ojw28 commented on #6787
I get "You are not authorized to download this file." when I try and download the file. Please could you make it available?

[2019-12-19 16:28] #6639 closed, assigned to marcbaechinger

[2019-12-19 16:42] andrea157 opened #6791 "Play local m3u8 with local media content"
Hi, I want to play a local .m3u8 files that have a link to a local video file. The local video file is saved in asset folder.

This is my m3u8:
[code]
When i try to play the content I have the error:

E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upstream.Loader$UnexpectedLoaderException: Unexpected NullPointerException: Attempt to invoke virtual method 'int com.google.a

[2019-12-19 16:52] ojw28 commented on #6791
Please can you provide at least a complete stack trace, rather than just the top line? More generally, why are you trying to do this? Just play the MP4 file directly and keep things simple.

Thanks.

[2019-12-19 18:04] ilpelatodijavascript commented on #6782
I sent an email

[2019-12-19 18:19] andrea157 commented on #6791
Yes sorry,

I would like to use the m3u8 to manage the selection of multi bitrate, multi track audio and multi track subtitles in a single file as I already do for online content. Do you think it's not possible and is it better to use MergingMediaSource and create a mediasource with all my tracks?

here it is:

[code]

[2019-12-19 18:23] ojw28 commented on #6782
It's unclear from your email what you're trying to do, but it sounds more complicated than just playing a fragmented MP4 file. You mention that the file plays fine once it's fully copied, which suggests there's no issue with ExoPlayer's FMP4 support.

Note that it's generally not valid to give ExoPlayer a File URI to play if the file is still incomplete or being modified. That sounds very uncontro

[2019-12-19 18:23] natidykstein commented on #6787
I've sent a new link

[2019-12-19 18:36] ojw28 commented on #6791
The specific `NullPointerException` wont occur in 2.11.0 because there's now a check for it. I doubt that's sufficient to make your approach work though.

I assume you're using HLS for streamed content. Is that correct? It should be possible for you to play HLS content locally in the same way, so there's nothing particularly wrong with the principle of what you're trying to do. I would question wh

[2019-12-19 18:52] ojw28 commented on #6657
[Internal bug ref: b/145521438]

[2019-12-19 21:52] #3738 closed, assigned to andrewlewis

[2019-12-20 07:10] imcloud opened #6792 "Fix @NullableType annotations to be compatible with Kotlin"
![image](https://user-images.githubusercontent.com/7680469/71236447-f93f3a80-2339-11ea-86c0-668b2eaec60b.png)

return type can be null,  but I got compile error

![image](https://user-images.githubusercontent.com/7680469/71236590-4e7b4c00-233a-11ea-9771-c2003057d053.png)
[code]
I think it's right to pass arrayOfNull

[2019-12-20 07:44] Rvldo commented on #6620
Hello @andrewlewis sorry for late reply, so u are enabling all the decoder right ? in build_ffmpeg.sh, https://github.com/google/ExoPlayer/blob/a4e7274/extensions/ffmpeg/src/main/jni/build_ffmpeg.sh here

i think it should work in my case, actually it's working but i have to go to android Build Variants and change the "withNoExtensionDebug" to "withExtensionDebug"

im using your ExoPlayer demo..

[2019-12-20 08:42] andrewlewis commented on #6620
@Rvldo The [README](https://github.com/google/ExoPlayer/blob/a4e7274/extensions/ffmpeg/README.md) explains how to enable the decoders you want to include (the part about `ENABLED_DECODERS`). We don't enable them all by default. For the demo app, yes, you need to select a build variant that includes extensions.

[2019-12-20 09:18] tonihei commented on #6792
Thanks for reporting. We'll fix the MediaClock problem.

The RendererConfigurations and TrackSelections in the second example are a problem though because they use the deprecated `@NullableType` of checkerframework's compat-qual package that [has been removed](https://github.com/typetools/checker-framework/releases/tag/checker-framework-2.5.6) just over a year ago. It seems Kotlin is also not reco

[2019-12-20 09:29] gvidda commented on #6788
Yeah I fixed it, thanks.

[2019-12-20 10:17] Samrobbo commented on #6786
Hi @XanderSan,

Can I get a link to the media you are trying to play please? If you do not wish to share publicly, email it to dev.exoplayer@gmail.com, making sure to quote "Issue #6786" as the title.

Thanks :)

[2019-12-20 10:28] Rvldo commented on #6620
Yup.. but i "think maybe" you need to add the information about **build variant**

because i successfully install the ffmpeg but it's not working until i found another solution in Google, and i need 2 weeks for searching googling everywhere :)

maybe in README, in the bottom **note : build variant change to withExtensionDebug**
like that or something.. :+1:

that's my opinion.. :) hehe.

[2019-12-20 11:07] XanderSan commented on #6786
Thanks for your support.
I'll try to schedule this work in January 2020 because I need to call permission to do it and in this moment is not possible.

[2019-12-20 11:42] #6788 closed, assigned to ojw28

[2019-12-20 12:29] umangsaini commented on #6786
For RTMPS please refer to the this issue #5354.

For RTMP links, you may try playing links from issue #6187, to confirm if there is any issue with your project. I am able to play RTMP streams with latest v2.11.0 Demo app and extensions enabled.

[2019-12-20 12:34] tonihei commented on #6792
While we are trying to figure out how to solve the `@NullableType` issue, you can work around the problem by making an unchecked cast:
[code]

[2019-12-20 12:40] ojw28 commented on #6785
Thanks for the report. Does your app happen to call `DownloadService.sendRemoveAllDownloads`, `DownloadService.buildRemoveAllDownloadsIntent` or `DownloadManager.removeAllDownloads`? I think I see a possible bug along those code paths that might explain this.

[2019-12-20 13:38] indieboyalex commented on #6785
I believe we do yes.

On Fri, 20 Dec 2019, 13:40 Oliver Woodman, <notifications@github.com> wrote:

[2019-12-20 13:47] ojw28 commented on #6785
Thanks. I think the problem occurs when `removeAllDownloads` is called with one or more downloads in the failed state. We will try and get a fix into `2.11.1`.

[2019-12-20 14:38] kim-vde commented on #6723
I had a look at the file. The first mp4 file is valid and ends at offset 44 822 039. This offset corresponds indeed to the start of an mp4 moov box but, if I remove the first 44 822 039 bytes of the file, the resulting mp4 file is invalid.
You said that you managed to split the file in 2 and have 2 valid mp4 files. Can you explain how you did that and send the resulting files?

[2019-12-20 14:54] alfonsoramosa opened #6794 "Feedback during Fast Forward and Rewind"
Hi,

we want to improve the experience when doing Fast Forward or Rewind, and if possible when seeking.

Our current implementation, is keeping the playback while the user is keeping the remote control buttons pressed for Fast Forward or Rewind and then seeking to that position when the user releases the button.

We would like to provide feedback when doing Fast Forward or Rewind, like playing vid

[2019-12-20 15:37] jstubing opened #6795 "Player gets stuck buffering with certain m3u8 playlists"
I'm attempting to use ExoPlayer to play the following m3u8 playlist (note that this is geoblocked outside of Canada - I pasted the contents at the bottom of this post):
https://cbcvott-a.akamaihd.net/p//38e815a-011faed5219/CBC_KINGDOM_FORCE_S01E06-v2-24662916/CBC_KINGDOM_FORCE_S01E06-v2-24662916__smarttv.m3u8

Here is the event log:
[code]
I'm using the latest ExoPlayer release at the time of this

[2019-12-20 15:45] Samrobbo commented on #6775
We'll look into this in the new year, as the team are almost all taking time off for the holiday period.

[2019-12-20 15:45] Samrobbo commented on #6776
Hi,

We'll look into this in the new year, as the team are almost all taking time off for the holiday period.

[2019-12-20 15:46] Samrobbo commented on #6777
Potentially?

We'll look into this in the new year, as the team are almost all taking time off for the holiday period.

[2019-12-20 15:46] Samrobbo commented on #6783
We'll look into this in the new year, as the team are almost all taking time off for the holiday period.

[2019-12-20 15:47] Samrobbo commented on #6780
I must have misunderstood what the current capabilities are. In that case, happy to close.

[2019-12-20 15:47] #6780 closed, assigned to Samrobbo

[2019-12-20 16:03] tonihei commented on #6776
This issue was already fixed by a [recent change](https://github.com/google/ExoPlayer/commit/36fa9d5a434812ef637ad27a0a9f1c4dd9651b1b#).

This change may still be some way away from being part of a release. I added a [smaller fix to 2.11.1](https://github.com/google/ExoPlayer/commit/5d728abc41cc7fd893a90083653baddfec3275ed) too

[2019-12-20 16:03] #6776 closed, assigned to tonihei

[2019-12-20 16:05] ojw28 commented on #6785
This is most likely fixed by the change above. It will be included in `2.11.1`, which we'll push today. Please let us know here if your users still see this problem after you update.

[2019-12-20 16:05] #6785 closed, assigned to ojw28

[2019-12-20 16:05] #6774 closed, assigned to ojw28

[2019-12-20 16:06] ojw28 commented on #6792
The fix for `MediaClock` will be included in `2.11.1`. For the `@NullableType` issue, please use the workaround mentioned above for now.

[2019-12-20 16:35] ojw28 commented on #6787
Thanks! Unless you're going to use a constant bitrate, MP3 is fundamentally not well suited to use cases that require exact seeking. There are two reasons for this:

1. For exact seeking, a container format will ideally provide a precise time-to-byte mapping in a header. This mapping allows a player to map a requested seek time to the corresponding byte offset, and start requesting/parsing/playing

[2019-12-20 17:11] tonihei commented on #6681
Fixed in the commit above.

[2019-12-20 17:11] #6681 closed, assigned to tonihei

[2019-12-20 17:32] ojw28 commented on #6733
I think this is working as intended, because both WiFi and the LTE network are already available. The problem is that when we see the WiFi network's `onLost` being called and go to update the `Requirements`, the `ConnectivityManager` still think that the WiFi network is the current network. It's not disconnected, so we conclude that the current network doesn't have connectivity. We then don't rece

[2019-12-20 18:24] ojw28 commented on #6775
It should be noted that VLC fails in exactly the same way:
[code]

We currently have logic to blacklist the variant (temporarily) and switch to another one if the server returns a 404 or a 410, but not a 416. We can probably add 416 to the list as well. In the meantime, you can do this yourself when creating the `HlsMediaSource`:

[code]

[2019-12-20 18:32] ojw28 commented on #6711
Have you found any devices other than the Motorola G5 that reproduce the problem? Thanks!

[2019-12-20 18:34] ojw28 commented on #6711
Note to self: This is another issue that appears to be specific to the Motorola G5: https://github.com/google/ExoPlayer/issues/6189

[2019-12-20 18:40] ojw28 commented on #6155
I've been digging into this a little and I think I can might have spotted a relatively straightforward workaround. Is it possible for you to provide a new test stream so that I can check whether it works? Thanks!

[2019-12-20 19:07] ojw28 commented on #6795
It's working fine for me, on a Galaxy S8. I see a lot more logging as well:

[code]

If you're not already, could you try in the 2.11.0 demo app, to rule out anything specific to your own application? Could you also try a few different devices, in case it's device specific?

[2019-12-20 19:08] szaboa commented on #6733
I see. Then let's use `registerDefaultNetworkCallback` for API levels >= 24 and the broadcast receiver for API levels < 24?

Is this open for contributions? I can prepare a PR :)

[2019-12-20 19:11] ojw28 commented on #6634
Sorry for the delayed response. I tried to VPN via both of the suggested countries, but neither of them worked. I see HTTP 404 in both cases.

[2019-12-20 19:14] ojw28 commented on #6730
Unfortunately the provided information isn't much to go on. Do you see the ANR only on the 4 devices mentioned? What kind of volume of reports are you seeing? Thanks!

[2019-12-20 19:17] ojw28 commented on #6733
It would be except that I already have one ;).

[2019-12-20 19:21] szaboa commented on #6733
Nice 👍

[2019-12-20 20:42] natidykstein commented on #6787
Thanks a lot for your detailed explanation.

Since we are the one to extract the audio stream from the original mp4 video we control the media.
If the requirement for the seek of the streamed audio is to be both fast and exact - is CBR mp3 better than mp4/m4a here? any considerations regarding the codec?

As a side note - as one who's been working with ExoPlayer in the last 5 years (even had the o

[2019-12-20 20:43] #6775 closed, assigned to ojw28

[2019-12-20 20:44] ojw28 commented on #6733
Please see the patch referenced above. It would be great if you could test it out on the `dev-v2` branch, preferably before we include it in a release, because it's somewhat hard to be certain we've done the right thing!

[2019-12-20 20:44] #6733 closed, assigned to ojw28

[2019-12-20 20:50] ojw28 commented on #6787
MP4/M4A is always a better choice. IMO there aren't really any valid use cases for MP3 any more, unless you need to use/support it for legacy reasons.

p.s. Thanks! Happy to help :).

[2019-12-20 21:00] jstubing commented on #6795
I see what it is now. I was building the media source as follows::

val factory = DefaultHlsDataSourceFactory(defaultMediaFactory)

val mediaSource = HlsMediaSource.Factory(factory)
    .setAllowChunklessPreparation(true)
    .createMediaSource(Uri.parse(url))

I deleted the "setAllowChunklessPreparation(true)" line and it works now.

Thank you for the fast response!

[2019-12-20 21:26] natidykstein commented on #6787
I've inspected our part of the code that extracts the audio using ffmpeg and noticed that we do use CBR of 48kbps. To make sure I've analyzed the mp3 we're talking about and saw that is indeed the case (see attached screenshot).
What's actually hapenning here? is the XING header disrupting the seek calculations even though the mp3 itself is CBR?
![Annotation 2019-12-20 232159](https://user-images.

[2019-12-20 21:44] ojw28 commented on #6787
That sounds quite likely.

[2019-12-20 23:30] kschults commented on #6155
@ojw28 Thanks for taking a look! I've sent a new stream URL to dev.exoplayer@google.com

[2019-12-21 07:39] faisalvv commented on #6783
okey. . anyway Happy holiday

[2019-12-21 10:33] szaboa commented on #6733
I've just tested it on my Pixel, it worked 10/10 :)

[2019-12-21 12:54] ilpelatodijavascript commented on #6782
After some tests I've found out that the video plays fine untill the end of the fragment, so, at the beginning, it only shows 3/4 seconds, but if you set the video on loop it plays fine for 3/4 more seconds and so on.
So I tried to put the player position back to the last position before restarting the video, however it always goes back to the beginning of it.
It seems strange to me because the me

[2019-12-21 13:00] natidykstein commented on #6787
1. Should I strip the XING header? (is an mp3 without a XING header is still valid?)
2. Can the player detect if the mp3 is indeed CBR and ignore the XING header when doing seek calculations? (This would be my preferred option)

[2019-12-21 13:23] ojw28 commented on #6787
Why isn't your preferred option to use a container format that's appropriate for your use case? Even the people who made MP3 [don't think you should use it any more](https://www.iis.fraunhofer.de/en/ff/amm/consumer-electronics/mp3.html).

My understanding of XING headers are that they're only for VBR content, so if your file is CBR I'm not sure why it's ended up with a XING header in the first pla

[2019-12-21 13:32] ojw28 commented on #6782
As per my previous response:

If you want to play media that's still being modified, you should implement a custom `DataSource` that's able to do the right thing (e.g. indicate that the length of the media is still unknown, block until more media is available before returning, and know when the end of the media has been reached). The problem with trying to do this just by writing and reading a fil

[2019-12-21 13:57] ojw28 commented on #6487
For the feature request itself, let's merge this into #2213, which we'll use to track the general request for increased UI flexibility for live playbacks.

[2019-12-21 13:57] #6487 closed, assigned to kim-vde

[2019-12-21 13:57] ojw28 commented on #2213
Generalising this feature request to track multiple requests for more UI flexibility for live playbacks:

- Option for seek bar to represent entire duration of a live event (not just the available window)
- Option for position to be relative to the live edge (requested in #6487)
- Option to disable forward button if playback is already close to the live edge (requested in #6487)

[2019-12-21 13:59] #6523 closed, assigned to andrewlewis

[2019-12-21 14:05] ojw28 commented on #6612
For the second part, `ExoPlaybackException` now includes a `rendererFormatSupport` field that you can query to determine whether the format being exceeded device capabilities (we should add this to our documentation somewhere!).

[2019-12-21 14:05] #6612 closed, assigned to tonihei

[2019-12-21 20:04] natidykstein commented on #6787
You're right - using a different container is probably the right approach.
My second suggestion is just an optimization/work-around that would fit my case exactly - but I completly understand if it doesn't seem justified as a general approach.

I guess we'll probably need to go over all of our already generated mp3 (there are a lot) and perform some kind of adjustment - removing the XING header or

[2019-12-21 23:34] hlkcode commented on #6741
Hello, sorry you didn't hear from me earlier, i was actually sicked and could work. So, i followed the suggestion number 2 in the comment 4727 mentioned above, and i got the result needed, it worked for me (but i altered it a bit) .. thank you very very much... So copy what the solution down here for future reference sake, in case someone needs it later ... Once thank you very much, you've been ve

[2019-12-22 04:05] bobguy1234 opened #6796 "Example of releasing dynamically created ExoPlayer in Viewpager?"
Inside my viewpager I programatically inflate a layout, and attach a new Exoplayer to it. How do I manage the multiple exoplayers created so that I can release them dynamically when the Item is destroyed by the viewpager?

Here is my Viewpager adapter:

[code]

After creating the Exoplayer and swiping to the right, by 2 pages, the method
[code]

Is automatically called and the view 2 pages before,

[2019-12-22 10:32] LRTNZ commented on #6692
Just to add to this, I am using Exoplayer to do a similar thing, playing back different multicast streams, that the user can change between with channel up/down.
We are also suffering an issue where the Zap time for getting the media stream the user changes to, is excessively high. What does not help, is that the playbackState will be changed to READY, when the video stream is still frozen, but th

[2019-12-22 16:03] ojw28 commented on #6741
As @christosts already mentioned, you are mistaken about this. It does exactly the same thing as the alternative you came up with (you can look at the source code to verify this!)

In any case, we can close this issue since you've found a suitable solution.

[2019-12-22 16:03] #6741 closed, assigned to christosts

[2019-12-22 16:10] ojw28 commented on #6692
The problem here is most likely that we just play what's in the source media, and that in these cases the source media contains several seconds of audio before the first video keyframe.

It's not really "wrong" that we do this, and READY is the correct state because we're playing the media. It's not the behaviour you want though. I think the behaviour you want is for the player to discard all audi

[2019-12-22 16:10] ojw28 commented on #6692
One other question: Are these streams MPEG-TS?

[2019-12-22 17:35] #6779 closed, assigned to ojw28

[2019-12-22 17:58] GentianB commented on #6692
Hi,

sample streams below, with HD streams this issue is more noticeable,
in our case the delay is not a big issue, is almost the same as with Mediaplayer, and it think is related to GOP in multicast video streams, but we need to find a solution how to make the next video start immediately and do the caching while keeping the last videos frame.

or:

thnx

[2019-12-22 18:43] #6796 closed, assigned to ojw28

[2019-12-22 18:53] ojw28 commented on #6723
To clarify, the `.ulx` file doesn't contain two pieces of media concatenated one after the other. It's one piece of media with two video tracks that exist alongside one another. The way ExoPlayer plays the file is identical to what VLC does. If you play the video in the ExoPlayer demo app, you'll see that you're able to select the other video track using "Select Tracks". You should be able to take

[2019-12-22 19:43] #6177 closed, assigned to tonihei

[2019-12-22 19:50] ojw28 commented on #4940
This was fixed in 2.11.0.

[2019-12-22 19:50] #4940 closed, assigned to tonihei

[2019-12-22 20:06] ojw28 commented on #6633
Why would your users want the downloads to be removed? Wouldn't they expect them to remain in place and still be usable? If the problem is that you're moving from the old `ActionFile` to the new `DownloadIndex` approach, you can perform an upgrade that causes the downloads to be written into the `DownloadIndex` [as shown here in the demo app](http://google3/third_party/java_src/android_libs/exopla

[2019-12-22 20:07] #6545 closed, assigned to marcbaechinger

[2019-12-22 20:14] #6770 closed, assigned to Samrobbo

[2019-12-22 20:15] #6782 closed, assigned to ojw28

[2019-12-22 21:34] andrea157 commented on #6791
Hi, thanks for your support, I understand my mistake.
Now I have rewrite my m3u8:

#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=852000,RESOLUTION=854x480
480_out.m3u8
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=852000,RESOLUTION=1280x720
720_out.m3u8

and 480_out.m3u8 (720_out is similar) is:

#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:9
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:9.080000,
480_out0.ts
#EXTINF:2.120000,

[2019-12-22 22:55] ojw28 commented on #6791
The error is:
[code]
One of your playlist files doesn't start with the `#EXTM3U` line, so the media is still not correctly formatted.

[2019-12-23 01:35] imcloud commented on #6792
thanks for your help

[2019-12-23 01:35] imcloud commented on #6792
thanks for your help

[2019-12-23 03:28] daveoxley opened #6798 "Stuck downloads when changing network conditions"
### Issue description
DownloadService race condition causing downloads to not resume when network requirements are met after previously not being met.

The issue appears to be that `DownloadManagerHelper.onDownloadChanged` is called before the new service is attached to the `DownloadManagerHelper`. Therefore `DownloadService.notifyDownloadChanged` is never called and `startForeground` is never cal

[2019-12-23 05:36] imbichitra commented on #6723
But my requirement is to play both the video side by side at same time so i have to give index position so that it play both the video.

[2019-12-23 05:40] imbichitra commented on #6723
As per your opinion the .ulx file contain one piece of media with two video track that exist alongside one another ,but is there any way i can merge both the video so it can contain two piece of media.

[2019-12-23 13:55] natidykstein commented on #6787
Just a note on the competitive front - iPhone's AVPlayer seeking is precise on the same mp3 - so it probably ignores the XING header in this case.

[2019-12-23 16:14] milos-pesic-zattoo commented on #6704
Unfortunately, our user case does not allow downloading a dash manifest. We need to send fragmented mp4 files as chunks to clients in a “live” manner and only know the fragment mapping or info required for seeking after sending all requested fragmented mp4 files

[2019-12-23 16:16] Mangoxd opened #6799 "Unable to override exo_playback_control_view.xml"
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:layout_gravity="bottom"
    android:layoutDirection="ltr"
    android:background="#CC000000"
    android:orientation="vertical">

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_conten

[2019-12-23 19:43] krackjack234 commented on #6756
Hi @ojw28 , we have sent the mail

[2019-12-24 05:45] GouravSna commented on #6730
No, it is not like that the issue is only in these 4 devices. These are the most frequent ones.
Redmi Note 7 Pro(violet) is 5000 device affected, it has android-9

[2019-12-24 09:27] subhashreesahu opened #6800 "How to play second track directly?"
I have a mp4 video file that contain 2 video track and i want to play the second video directly so how can i achieve that.

[2019-12-24 09:29] imbichitra commented on #6800
I also want the same thing.

[2019-12-24 12:36] TsmileAssassin opened #6801 "java.lang.AbstractMethodError with gradle version 3.5.3"
I am using exoplayer version 2.11.1 with androidX ,java1.8 and gradle version 3.5.3.
The crash appears after updating the gradle version to 3.5+.
I am getting runtime crash below:

====================
[code]

[2019-12-24 13:31] marcbaechinger commented on #6799
Can you check if you are able to change the PlayerControlView by using a layout file `exo_playback_control_view.xml` at all?

The reason why I am asking is that it appears to me you need to override `exo_player_control_view.xml` instead.

The `PlayerControlView` does inflate the layout file `R.layout.exo_player_control_view`(https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/j

[2019-12-24 19:37] saleh-gholamian opened #6802 "How to use flac extension in project after build in linux?"
hi,
I have followed the instructions in the link below:
https://github.com/google/ExoPlayer/tree/release-v2/extensions/flac
I've entered all the commands and not received error And this is the output of commands:
[code]

But from now on I'm confused and don't know how to add extension to the my project
I don't know which files to add to my project right now, Please guidance me
Thanks

[2019-12-25 19:48] Mangoxd commented on #6799
Thanks you , it works now! , my other problem is ,

Even though I have another problem, I would make another thread but I think it is unnecessary, my other problem is that when you turn the phone and go to landscape or vertical, the video stops for about 5 seconds, that is, and is buffered again in same position , how i cant prevent stop video when change to landscape or vertical?

    @Override

[2019-12-26 03:08] bk-ducle opened #6803 "How to set unable auto play video in webview after add lib?"
Hi guys,
When i add ExoPlayer library to my app, my WebView auto play video. But i don't want like that, do you know how to set unable auto play video in webview after add lib?

[2019-12-26 05:14] Shubham1209mathur commented on #6758
Cant get this response can you please help to setup this through teamview or some other tools.

[2019-12-26 05:51] dukeZh opened #6804 "How to use Exoplayer in the version of androidx? Have some Android support libraries in explaor."
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-12-26 06:05] dukeZh commented on #6804
![image](https://user-images.githubusercontent.com/22365682/71460914-c3da9700-27e8-11ea-9931-de8066fb41b8.png)

[2019-12-26 06:51] Lrange opened #6805 "Question abount the bandwidth prediction algorithm"
I'm interested in the bandwidth prediction algorithm and have questions about the details.
Why SlidingPercentile uses the squared value of downloaded bytes？
Is there any relevant data to prove that this algorithm is reliable?

[2019-12-26 07:09] ajay-aravind opened #6806 "How to delete video file downloaded by exoplayer download manager"
### [REQUIRED] Searched documentation and issues
I've checked exo player blog and stackoverflow
### [REQUIRED] Question
How to  delete video file downloaded by exoplayer download manager. There is a way to delete download in progress but how can i delete a file if it is already downloaded. In out application we have allow user to delete download whenever he wants. So how to acheive this if user wa

[2019-12-26 07:21] raghavsatyadev opened #6807 "Can't make release APK from demo app"
### Issue description
Can't build release APK with minifyEnabled & shrinkResources = true

### Reproduction steps
* Upgrade demo app to use in **Android Studio 4.0 Canary 6**
* Try to make release APK of **demo** module with **withExtensionsRelease** Build Variant

### Version of ExoPlayer being used
2.11.1

R8 is enabled

### Error
`Multiple entries with same key: Method com.google.android.exopla

[2019-12-26 13:56] saleh-gholamian commented on #6802
after Following the instructions, I have entered the following commands:

[code]

After this a extension-flac-debug.aar file will be created in following path:

Im importing aar file to my project, Flac files are now supported.

thanks.

[2019-12-26 14:38] ghost opened #6808 "High FPS videos problem"
I have a playback problem. When I try playing video with more than 25FPS, video is lags, it is not smooth. I have a test video with 50FPS, video plays good, but with horrible lags.As if omitting frames. When I try playing 25FPS video, everything is alright. Videos is in local folder, not stream. Does anyone have an idea?. Is it my nightmare :)

[2019-12-27 00:48] rarera opened #6809 "Can't play audio from network, chrome on Android plays it fine"
this is the url: https://cope-cdnmed.agilecontent.com/resources/mp3/8/9/1576610112498.mp3
This audio is from a podcast that is also available on iTunes.

VLC on my desktop also plays it fine.
Can you please help?
Please let me know if you can reproduce this, or if I need to provide more information.

Thank you,
Ray

[2019-12-27 03:12] krackjack234 opened #6810 "How to start playback after downloading only the first segment"
### [REQUIRED] Searched documentation and issues
Could not find direct answer

### [REQUIRED] Start playback after downloading first segment of any bitrate.

We want to start playback after downloading the first segment
We have kept the DEFAULT_BUFFER_FOR_PLAYBACK_MS to 1s which is less than the hls chunk duration

When we start playback we see first the 1st chunk of the lowest bitrate is download

[2019-12-27 03:29] krackjack234 commented on #6810
We have used *setAllowChunklessPreparation* as true to avoid this problem. Is this the right way to fix this problem?

Also if our chunks are not independent segments, there will be no impact for using this option (setAllowChunklessPreparation) and playback should still happen. Is our understanding correct?

[2019-12-27 03:36] krackjack234 opened #6811 "How to improve playback start time of aes128 encrypted HLS & MPD-DASH playback"
### [REQUIRED] Searched documentation and issues
No references found

### [REQUIRED] How can we improve playback start time of aes128 encrypted HLS playback.
We have kept DEFAULT_BUFFER_FOR_PLAYBACK_MS less than the hls chunk size so that playback starts immediately. However we see for AES128 files playback starts with a delay of ~1s compared to unencrypted hls chunks.

For MPD DASH, is there any

[2019-12-27 12:12] marcbaechinger commented on #6799
You are on the right track as you need to handle configuration changes for orientation changes yourself. This avoids that the activity is destroyed and recreated when the user changes orientation.

I think the `PlayerActivity` of the demo app is doing what you want. It tells the system that the app is handling configuration changes in the manifest: https://github.com/google/ExoPlayer/blob/release-

[2019-12-27 12:28] marcbaechinger commented on #6809
When I add this url to the demo app it plays fine.

Can you please try playing the url in the ExoPlayer demo app and see whether this works? If it does not work please take a bug report right after it fails and upload it here, so we can investigate what happens. It's probably a network issue or similar. The file seems to be fine and plays as expected in ExoPlayer:

[code]

[2019-12-27 12:34] marcbaechinger commented on #6808
Can you please provide some more information? Please add some url to the streams you are trying to play. Also if you take a bug report right after the observed behaviour we can easily see what device, OS version and ExoPlayer version you are using. We need this information and the test streams to accurately look into your issue.

If you do not want to send this information in public, you can send

[2019-12-27 12:38] marcbaechinger commented on #6807
Is this specific to Android Studio 4 or does it happen with AS 3.5.X as well?

[2019-12-27 12:46] marcbaechinger commented on #6803
Can you elaborate a little bit on how you think adding the dependency to ExoPlayer does change the behaviour of your webview?

I currently understand the only thing you change in your app is adding a dependency in your gradle file like so:

[code]

I can not see why adding only this line would have an impact on the behaviour of a video playing in a webview which uses HTML/JS to play.

Can you plea

[2019-12-27 12:51] ghost commented on #6808
Thank you for responding.

The video is not a stream but a local video stored in the download folder.
[code]

Upload video -
([https://drive.google.com/file/d/1Ijtm0aB4dXNKoqCVcN_FHuWZtL6FhRkG/view?usp=sharing](url).
ExoPlayer version 'com.google.android.exoplayer:exoplayer-core:2.11.1'
OS Version Android 4.4 (Philips pro digital signage).

I've found a new problem, I'm trying to play a 500 MB vid

[2019-12-27 12:55] marcbaechinger commented on #6806
You can send a removal to the `DownloadService`. Does this work for you?

https://exoplayer.dev/downloading-media.html#removing-downloads

[code]

The `DownloadManager` has a corresponding public method `removeDownload(String id)` in case you are using it directly:

https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadManager.

[2019-12-27 13:00] krackjack234 commented on #6756
Hi @ojw28  we can close this issue as we have found the solution. Using maxVideoBitrate and setForceHighestSupportedBitrate(true) did the trick and not setInitialBitrateEstimate.

Thanks @tonihei  for pointing this out in earlier reply. We were using setInitialBitrateEstimate which was not the right one.

[2019-12-27 13:04] marcbaechinger commented on #6808
Can you please provide a bug report right after you played the video with 50fps?

And can you please open another issue for the OutOfMemory problem? Pretty much the same information needed for the new issue: url to the file, bug report.

[2019-12-27 13:05] raghavsatyadev commented on #6807
yes got the issue now, it was specific to Android Studio 4.0 Canary 6. It builds in Canary 7 and Studio 3.5.*, but in canary 7 we can't make app bundle because of some internal issue only APK

[2019-12-27 13:22] ghost commented on #6808
From 50FPS

D/Playing :: /storage/emulated/0/Download/test1.mp4
I/ExoPlayerImpl: Release 41eadfe0 [ExoPlayerLib/2.11.1] [DL, 32BDL4050D, TPV, 19] [goog.exo.core, goog.exo.ui]
D/Constraints: Player Is Null Setting Up Player
I/ExoPlayerImpl: Init 41f632d0 [ExoPlayerLib/2.11.1] [DL, 32BDL4050D, TPV, 19]
D/exoPlayer :: Buffering
I/OMXClient: Using client-side OMX mux.
E/ACodec: [OMX.rk.video_decoder.a

[2019-12-27 13:26] #6756 closed, assigned to ojw28

[2019-12-27 14:52] bk-ducle commented on #6803
In my project, my webview show page facebook, i run javascript to find video, but not play it. I add lib implementation 'com.google.android.exoplayer:exoplayer-core:2.11.1', webview change(auto play video). I try remove the lib, the webview be normal.

But when i test again in my new  project, only have webview and implement lib. it ok. So i think problem not about lib, it from another some thing

[2019-12-27 14:52] #6803 closed, assigned to marcbaechinger

[2019-12-27 15:49] marcbaechinger commented on #6808
Can you please create another issue for the OutOfMemory case?

[2019-12-27 15:53] marcbaechinger commented on #6807
So, my current understanding is that there is an issue when you want to create an app bundle with Android Studio. This is not related to ExoPlayer as I understand. Is this correct?

[2019-12-27 15:58] ghost commented on #6808
Sorry, but I have no choice. I had to get out of the office. Do you have any ideas with FPS problems? Aragmas video, which i was share for you. had problem too. When i convert via ffmpeg (macOS) to 25fps, video is smooth.. :)

[2019-12-27 16:29] Mangoxd commented on #6799
Thanks you it works now!

[2019-12-27 16:29] #6799 closed, assigned to marcbaechinger

[2019-12-27 17:27] raghavsatyadev commented on #6807
For Canary 6 it's related, for Canary 7 it's not

On Fri, 27 Dec, 2019, 9:23 pm Marc Baechinger, <notifications@github.com>
wrote:

[2019-12-28 01:38] alanperius opened #6812 "Exoplayer HLS returning 403 forbidden"
Hi guys, I have a android radio App and i'm trying to play an online radio without success. Recently this radio station changed his url and i can't play with exoplayer.

the Url is: https://e.mm.uol.com.br/band/radiobandeirantes_poa/playlist.m3u8

sending this request using chrome postman, this return with successful but when I play on exoplayer Return 403

[code]

I'm using explayer 2.9.1.
I trie

[2019-12-28 22:45] Mercandj opened #6813 "IncompatibleClassChangeError on AnalyticsCollector after SimpleExoPlayer.prepare"
Hello,

### Issue description

Crash on `SimpleExoPlayer.prepare(MediaSource)`

### Full bug report captured from the device

Crash on device :

[code]

### Reproduction steps

- minSdkVersion to 19 (no crash with minSdkVersion 24)
- Java 8
- `SimpleExoPlayer.prepare(MediaSource)` (reproductible every time)

### Version of ExoPlayer being used

Crash since the version `2.11`:
- No crash on `2.10.8

[2019-12-29 13:06] ajay-aravind commented on #6806
Got it. I thought download service can only remove the downloads in progress, but it seems it can delete the completed downloads also. Thanks for the info.
But removing download also calling getForegroundNotification method , which is annoying though.

[2019-12-29 13:06] #6806 closed, assigned to marcbaechinger

[2019-12-30 09:32] CristianMG commented on #4680
There are any new about this? We need show ads pre mid and post roll.

[2019-12-30 09:56] EddieMeng commented on #6754
Hello, Sorry for the late reply, I was busy doing some other things recently, so i didn't reply it on time.

[2019-12-30 10:20] EddieMeng commented on #6754
Hello, Sorry for the late reply, I was busy doing some other things recently, so i didn't reply it on time.
After i check the release logic of my app, we didn't release the codec when we run in the background. The reason for this is when the app go into foreground, the video should resume  play, if we release the codec, we need to recreate it and prepare the url again, that costs a lot of time.  B

[2019-12-30 10:24] CristianMG opened #6814 "How to implement a custom ads loader"
Hello
I am working in an audio player, this audio player has to able to start ads in pre-mid-post-roll, the client has a specific API that not allowed I used the ima extension, besides my payer only has audio ads. I have searched about one solution to my problem.

I am trying to define an AdsLoader that I think is the solution to my problem, I cannot found a lot of information about this implement

[2019-12-30 11:56] marcbaechinger commented on #6754
Then the crashed you are reporting is likely to be caused by your app which holds a codec instance YouTube wants to acquire too.

It does. You need to release the codec when the app goes in background. Codecs are shared resources with other apps, so if you do not release codecs, other apps can fail if no other codec instances are available.

Please see the demo app which does release properly on g

[2019-12-30 12:11] marcbaechinger commented on #6812
The server returns a HTTP 403 which means that the server has decided that the user is not authorised to get this resource.

The server seems to discriminate against different user agents. There is not much you can do about it. You could try to use a user agent which is accepted by the server, but that's probably a bad advise because the server configuration can change again.

I think you need ano

[2019-12-30 12:12] olivier-yospace commented on #6711
Hi,

We were only able to reproduce on our G5 (But we don't have so many different devices).

[2019-12-30 12:41] marcbaechinger commented on #6814
It's the [AdsMediaSource](https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/library/core/src/main/java/com/google/android/exoplayer2/source/ads/AdsMediaSource.java#L295) which does create and prepare the media source for each ad.

I think it is normal to have an `AdsLoader` instance for each media source which has ads. The ads loader manages the number of ads which

[2019-12-30 12:47] marcbaechinger commented on #6809
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2019-12-30 13:39] rarera commented on #6809
Hi, I was probably using an older version of exoplayer that was not supporting https.
So this question can be closed I think.
I will update to the newest exoplayer. Is there something special that I have to do to playback audio from an url with https?
It would be great if you can point me to a doc for this. I am using Xamarin BTW.

[2019-12-30 13:57] CristianMG commented on #6814
Ok, I follow your recommendations, [this](https://drive.google.com/drive/folders/1SEU_6GCdFNqXvXqDsxxszJqKNIb5OnTH?usp=sharing) is the bug report and [here](https://github.com/CristianMG/ExoPlayerBug) you can get the example to reproduce.

[2019-12-30 15:39] andrewlewis commented on #6802
It sounds like you've got this to work for now, but I think it shouldn't be necessary to add the AAR from the flac extension to your project manually. See the instructions for depending on [ExoPlayer's sources locally](https://github.com/google/ExoPlayer/blob/release-v2/README.md#locally). You probably need to add an implementation dependency on the flac extension from your project.

[2019-12-30 15:49] andrewlewis commented on #6804
Can you depend on ExoPlayer 2.10.0 or later, to pick up 0622afe170d3e9d3803572cb81e84dad975de121 which migrated to AndroidX?

Alternatively, you may be able to continue to use an older version if you [enable Jetifier](https://stackoverflow.com/questions/52033810/can-i-use-library-that-used-android-support-with-androidx-projects/54806261).

[2019-12-30 15:49] #6804 closed, assigned to andrewlewis

[2019-12-30 16:01] andrewlewis commented on #4680
We are still treating this as a low priority, I'm afraid. I'll update this issue if/when we get round to it.

[2019-12-30 20:21] alanperius commented on #6812
Hi @marcbaechinger,
thanks for your answer!

They changed recently his URL, so I don't have any other to use.

I tried to simulate with your fake UserAgent and worked.. haha
Stupid workaround.. but.. =)

Thanks

[2019-12-31 01:07] beomboo opened #6815 "EXO(2.9.1) Player video unplay error"
**I use ExoPlayer 2.9.1 and after putting a number of YouTube video links in the database inside the program, I tried the following:**

1. Video link forwarding
a) video link forwarding [click](https://apps.jou.kr/jouTV/exoplayer2.PNG)
      a-1) extractYoutubeUrl (final String url)
      a-2) onExtractionComplete (SparseArray <YtFile> sparseArray, VideoMeta videoMeta)
b) If a video error occurs i

[2019-12-31 02:06] #6732 closed, assigned to jt64

[2019-12-31 09:07] andrewlewis commented on #6815
ExoPlayer doesn't directly support playing YouTube streams. Please see #5466 for more information.

Edit: it looks like the error shown in the screenshot in item 1c) is not within ExoPlayer anyway.

[2019-12-31 09:07] #6815 closed, assigned to andrewlewis

[2019-12-31 11:38] Cosminnv opened #6816 "Correctly update Chronometer in PlayerNotificationManager for playback speeds != 1.0"
[REQUIRED] Searched documentation and issues
Searched in old issues/ google/ documentation but found nothing.

### [REQUIRED] Question
I have a video playing app where you can set the speed of the video. I also have a PlayerManagerNotification to allow the user to listen while the app is in background.

**Problem:**
The problem is that when i change the speed of the video via PlaybackParameters th

[2019-12-31 13:55] tonihei commented on #6813
According to #6807, this problem only occurred in Android Studio 4.0 canary 6, and was fixed in canary 7. Can you confirm this is the case?

[2019-12-31 13:58] tonihei commented on #6807
If it's fixed by an update to a canary Android Studio version, then it probably was a bug in the Android Studio implementation unrelated to ExoPlayer itself. I'll close this issue under the assumption that it is now fixed.

[2019-12-31 13:58] #6807 closed, assigned to tonihei

[2019-12-31 14:03] tonihei commented on #6801
Previous reports of similar issues mostly forgot to enable Java 8 support (for example: #5600). Can you check that your gradle config includes the following lines?

[code]

You could also try to clean all Android Studio caches ("File -> Invalidate Caches / Restart") and then also clean and rebuild your project to exclude unwanted side effects from previous versions of ExoPlayer.

[2019-12-31 14:16] Mercandj commented on #6813
Indeed, no more crash on Android Studio 4.0 canary 7 with minSdk 19.
Thks!
(Sorry for the issue duplication, closing this MR)

[2019-12-31 14:16] #6813 closed, assigned to tonihei

[2019-12-31 14:32] tonihei commented on #6810
Yes, this is the intended solution as already pointed out in https://github.com/google/ExoPlayer/issues/6756#issuecomment-565356792.
I've tested it with your example stream and it works as expected. Note that the 224K m3u8 media playlist is still loaded initially to obtain media information before the tracks are selected.

Chunkless preparation can only cause problems if the declared tracks in the

[2019-12-31 14:32] #6810 closed, assigned to tonihei

[2019-12-31 15:59] tonihei commented on #6800
Is this in any way related to #6723? If so, please read the comment in https://github.com/google/ExoPlayer/issues/6723#issuecomment-568293355 about selecting the second track. You can do this by providing an `SelectionOverride` to `DefaulTrackSelector`.

If the issue is different, please clarify with all the details requested in the issue template (e.g. example media, reproduction steps, expected

[2019-12-31 16:30] tonihei commented on #6805
Actually, no :) This algorithm is an ad-hoc solution that proved to work fine in practice and it has been used for years now. We recently started an investigation into all the shortcomings of the current algorithm. You can read and comment on the document [here](https://docs.google.com/document/d/1e3jVkZ6nxNWgCqTNibqV8uJcKo8d597XVl3nJkY7P8c/edit) if you like (it's part of our [public design doc se

[2019-12-31 16:50] tonihei commented on #6816
Thanks for reporting. This is in some way working as intended because Android's notification [uses](https://developer.android.com/reference/android/app/Notification.Builder.html#setUsesChronometer(boolean)) a [`Chronometer`](https://developer.android.com/reference/android/widget/Chronometer.html) to show the current time. As you can see in the docs, this text widget is always counting in real time

[2019-12-31 17:51] andrewlewis commented on #6602
Sorry for the long delay. The provided stream has some AC-3 syncframes within the E-AC-3 stream. We had another report of the same underlying bug recently with a suggested fix, so please look out for a fix here soon.

[2019-12-31 21:11] CalebGartner opened #6818 "Best way to send custom HTTP headers?"
### [REQUIRED] Searched documentation and issues
#2166 | #2174

### [REQUIRED] Question
Both of the above issues seem to approach this problem by setting the desired headers on the DataSourceFactory and using the new DataSource(s) it produces. I'm wondering if this is the best way to send back custom headers to the server, or if it's possible to access a DataSource _after_ it's been used to create

[2019-12-31 22:00] ebr11 commented on #6602
Excellent.  Thanks for the update.  FYI - I can reproduce this problem with every DD+ 7.1 track I have...

Happy New Year!

[2020-01-01 02:06] #6740 closed, assigned to jt64

[2020-01-01 02:06] #6737 closed, assigned to christosts

[2020-01-01 02:06] #6736 closed, assigned to christosts

[2020-01-01 02:06] #6675 closed, assigned to AquilesCanta

[2020-01-01 02:06] #6531 closed, assigned to christosts

[2020-01-01 12:41] faisalvv commented on #6783
Hi, any updates

[2020-01-01 13:24] pishguy opened #6819 "it doesn't work on Samsung J7"
this library couldn't play video and audio formats on Samsung J7

[2020-01-01 15:26] khalidshaikgit opened #6820 "DRM video offline playback"
I am new to exoplayer. I wanted to download the DRM video to the device when it is online along with the license. Then I would like to keep the device in airplane mode and play the DRM video.

Is there any working exoplayer demo/project to achieve this. The existing codes are not working for me when tried out.

[2020-01-01 18:10] biespb opened #6821 "Cast"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2020-01-02 02:06] #6739 closed, assigned to christosts

[2020-01-02 04:07] harshmittal29 commented on #6693
I have narrowed down the code here

[code]
I would like to ask what is the best way to call startForeground for the PlayerNotificationManager and how can I create my own NotificationBuilder and bind it to PlayerNotificationManager?

[2020-01-02 05:04] imbichitra commented on #6723
But my question is how to play the second video by passing an offset that mentioned in https://github.com/google/ExoPlayer/issues/6723#issuecomment-562918603 and is there any way to merge two video with two media in one file.

[2020-01-02 07:47] charlie-captain commented on #6745
That means I need to make custom DataSink if it could play cache. However, I want to play cache before the download is complete.

[2020-01-02 08:02] caprice opened #6822 "resume playing RTMP stream from Paused state, time of lag is getting longer"
In a live mode, I use  mInternalPlayer.setPlayWhenReady(false) to pause  the video stream for a long time, and I resume to play it by  mInternalPlayer.setPlayWhenReady(true). I find the playing video lagging the real live stream longer.

**Because of live stream, users only want to chase the live stream while resuming to play, I guess there must be some cache logic behind exoplayer, if skipping th

[2020-01-02 09:24] ojw28 commented on #6816
I think we should just disable it. I actually thought we did this already, but apparently not! The more advanced fix may still produce weird effects, depending on the UI that's on the other side.

[2020-01-02 09:29] tsaezmirada commented on #6654
Please, keep open this ticket since we need the client test with one of he affected devices and send us the logs.

[2020-01-02 09:38] Cosminnv commented on #6816
Oh so this isn't my fault then, i was going mad over this. Thanks for the explanation !

[2020-01-02 09:50] ojw28 commented on #6798
This is probably a duplicate of https://github.com/google/ExoPlayer/issues/6733. Marking as such, but please do test with the `dev-v2` branch to confirm that the issue is fixed.

[2020-01-02 09:52] ojw28 commented on #6809
ExoPlayer has always supported https, and you shouldn't need to do anything special. Without complete information as requested by the issue template @marcbaechinger has linked to above, there's not much more we can do to help here. Closing for now. Please reply here (rather than filing a new issue) if you need further assistance.

[2020-01-02 09:52] #6809 closed, assigned to ojw28

[2020-01-02 09:53] ojw28 commented on #6821
Closing due to lack of useful information.

[2020-01-02 09:53] #6821 closed, assigned to ojw28

[2020-01-02 09:54] ojw28 commented on #6819
Closing due to lack of useful information. Please fill out the issue template properly if you wish for us to provide assistance.

[2020-01-02 09:54] #6819 closed, assigned to ojw28

[2020-01-02 09:56] ojw28 commented on #6723
Let's use https://github.com/google/ExoPlayer/issues/6800 to track this, since this issue doesn't provide a good description of what your actual question is.

[2020-01-02 10:38] ojw28 commented on #6758
This is beyond the level of support that we can provide, sorry.

[2020-01-02 10:43] #6812 closed, assigned to marcbaechinger

[2020-01-02 11:20] RajKumarGupta opened #6823 "Some Videos hangs and stops paying"
**I have implemented Exoplayer on my app. There are 8 videos with there dimensions 1280 × 674. Some of the videos lags and stop playing in between. Please find the logcat details and let me know the solution.**

[code]

[2020-01-02 11:31] #6802 closed, assigned to andrewlewis

[2020-01-02 11:32] #6697 closed, assigned to icbaker

[2020-01-02 11:46] marcbaechinger commented on #6693
The way you do it is a proper way to do that and it is actually the way I would recommend doing it. Are you still experiencing problems?

You can override `createNotification`.

[2020-01-02 12:39] marcbaechinger commented on #6814
Thanks for the bug report. I see that the player is prepared with a media source. But there is not much more happening. That's all I found in the log:

[code]

I wonder why these are the only lines of logs that the `EventLogger` produces.

Can you please describe what the user who is using the app that produced the logs does, what the expected behaviour is and what actually happens? Unfortunately

[2020-01-02 12:41] alfonsoramosa commented on #6794
Hi all,

I will really appreciate any kind of feedback or clue on how to handle Fast Forward and Rewind and provide some feedback to the user on the content current position while doing it

[2020-01-02 13:07] CristianMG commented on #6814
Of course, is an example the user click in a button and the reproduction start with an url's example, this project is a test to verified that we have all functions we need to port another app,  We need preroll, midroll and postroll, but we have our custom ads system then we cant use the Ima extension. When I create the instance of  AdPlaybackState(0) with a group in the zero position and update th

[2020-01-02 13:08] CristianMG commented on #6814
The problematic code is

        adPlaybackState = AdPlaybackState(0)

        adPlaybackState = adPlaybackState?.withAdUri(
            0,
            0,
            Uri.parse("https://file-examples.com/wp-content/uploads/2017/11/file_example_MP3_5MG.mp3")
        )

        updateAdPlaybackState()

Maybe the problem is the source of Ad? because is a mp3, but I try to load Mp4 and it doesn't work

[2020-01-02 13:26] swastik52 opened #6824 "How to play two video synchronously in SimpleExoPlayer"
I want to play two video synchronously  in exoplayer with two instances of SimpleExoPlayer.

[2020-01-02 14:45] #6795 closed, assigned to ojw28

[2020-01-02 18:23] ojw28 commented on #6704
We will leave this open to track the feature request, however it's unlikely to be prioritized in the near term. The problem you're facing seems to be a consequence of some architecture choices on the serving side that, to the best of my knowledge, no one else has made, which means it ends up a fairly long way down the list when ranked in terms of cost/benefit.

[2020-01-02 18:45] roundsmapp commented on #4924
I have found no more issues since upgrading to ExoPlayer 2.10.6. Thanks for the support.

[2020-01-02 19:01] ojw28 commented on #6811
AES-128 will typically add an extra round trip before playback can start (to obtain the key). So it's unsurprising that latency would be higher. The size of delay will depend on network and server latency.

The optimization that `setAllowChunklessPreparation` enables for HLS is something that you get "for free" in the DASH case, without needing any configuration.

DASH startup latency should be pr

[2020-01-02 19:13] ojw28 commented on #6818
Default headers set on a `HttpDataSource.Factory` are applied to all subsequent requests made by `HttpDataSource` instances created by that factory, _including_ instances that have already been created. So you don't need to create the `MediaSource`.

Does that answer your question?

[2020-01-02 19:16] ojw28 commented on #6823
The media server in the underlying Android platform is crashing. For us to investigate further you need to properly fill in the issue template, providing all of the requested information. The issue template can be found [here](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=), however please copy/paste it into this issue and provide the in

[2020-01-02 19:18] ojw28 commented on #6824
@tonihei already answered this question [here](https://github.com/google/ExoPlayer/issues/6652). If you require further help, please use the existing issue. Thanks!

[2020-01-02 19:18] #6824 closed, assigned to ojw28

[2020-01-02 19:27] #5789 closed, assigned to ojw28

[2020-01-02 19:27] ojw28 commented on #5789
Fixed in `dev-v2`.

[2020-01-03 01:32] CalebGartner commented on #6818
Yes, I think it does - thank you. However, is there a way to set a header for only the next (single) subsequent request (i.e., make sure you only send the custom header _once_)?

I've gone through the source code for the DefaultHttpDataSource, and the only way I can think of would be to override the HttpDataSource.close() function to call clearAllRequestProperties() at the end before opening a new

[2020-01-03 03:52] harshmittal29 commented on #6693
@marcbaechinger yes it still happens randomly and I can see crashlogs in my crashlytics

[2020-01-03 09:09] vishal-i4gs opened #6825 "getCurrentPosition() returning values greater than getDuration()"
Playing an audio via exoplayer returns getCurrentPostion() value greater than getDuration() when the audio is about to finish. The getDuration() value does not change but the getCurrentPosition() keeps increasing and goes past getDuration() value as well. This happens also in the playerNotificationManager where the see the time going past getDuration(). This should not happen and the getCurrentPos

[2020-01-03 09:18] tonihei commented on #6818
If you want to modify the request on the fly, please use `ResolvingDataSource`. You can find a simple example of how to use it [here](https://exoplayer.dev/progressive.html#customizing-server-interactions).

[2020-01-03 09:23] 2wchuang commented on #474
Does it support play hls on reverse？

[2020-01-03 10:53] marcbaechinger commented on #6693
I think the `onNotificationPosted` method of the code above could result in not calling `startForeground(notificationId, notification)` in cases when isongoing=false. This can happen when the player is paused when you start the service.

ongoing is determined like the following:

[code]

So in case playWhenReady==false ongoing is false it would result in not calling `startForeground`. Can you chec

[2020-01-03 12:51] LaurentiuSimionescu opened #6827 "I want to edit a Github issue"
Hi,

A long time ago i created https://github.com/google/ExoPlayer/issues/5710
Since people started to ask me how I solved the issue.
I want to leave a comment on the issue, but it has been blocked only to collaborators.

Please allow me to comment on issue https://github.com/google/ExoPlayer/issues/5710

Have a nice day.

[2020-01-03 12:56] ojw28 commented on #6827
You should be able to do this now!

[2020-01-03 12:56] #6827 closed, assigned to ojw28

[2020-01-03 16:07] #6820 closed, assigned to ojw28

[2020-01-03 16:12] CalebGartner commented on #6818
Understood, thanks!

[2020-01-03 16:12] #6818 closed, assigned to ojw28

[2020-01-03 16:22] ojw28 commented on #6825
This can happen in some cases. For example if the media incorrectly specifies its own duration. To understand your specific case, we'd need you to provide a media sample for which you observe this happening.

[2020-01-03 16:34] marcbaechinger commented on #6814
I don't think it's about mp3/mp4.

If everything works correctly, updating the ad playback state results in a timeline update which is logged by the `EventLogger` to the console. That's why I asked for the bug report.

When I try the IMA samples in the demo app I see the following log statements:

[code]

In the first line we find `adGroup=0, ad=0` which indicates that there has an ad group with a

[2020-01-04 02:06] #6750 closed, assigned to christosts

[2020-01-04 02:33] daveoxley commented on #6798
@ojw28 Unfortunately this issue still exists on the latest dev-v2 branch (Tested on 826083db923f26f2000ca42f7b54b9531726d713). The below patch fixes the issue and I'll put together a better change and submit a pr later. Any chance you could reopen this issue please?

[code]

[2020-01-04 13:46] krackjack234 commented on #6811
Thanks @ojw28

[2020-01-04 15:21] vishal-i4gs commented on #6825
I am not sure whether its because of the media sample because I keep seeing different logs each time I test. One thing I observe is that the duration doesn't change at any point but definitely the amount getCurrentPosition() is greater than the getDuration() changes at every trial. Sometimes the getCurrentPosition() is 2 seconds more, sometimes  its 3 and sometimes its even 5.

Note : I did test t

[2020-01-05 07:38] snitin315 opened #6829 "chore(tools): add release-drafter.yml inside .github"
**Actual Behaviour**
Currently we don't have the `release-drafter.yml` file which is very useful to keep track of a project. As pull requests are merged, a draft release is kept up-to-date listing the changes, ready to publish when you’re ready.
Right Configuration can  categorises the changes into headings, and automatically suggests the next version number as well.

for more info visit [here](ht

[2020-01-05 10:49] Navidhp opened #6831 "problem of ExoPlayer with more than locally 2 GB encrypted files"
Hi, At first my deepest thank goes to your team.
There is a problem while using ExoPlayer for playing encrypted files. we can play less than 2GB encrypted files but there is a problem for more than 2GB encrypted files and we couldn't play these files.
Is there any solution to solve this problem?

note:
- we using custom data source! code is at the bottom.
- we encrypt files ate users' devices (loc

[2020-01-05 14:04] ojw28 commented on #6829
I'm not sure we need this. We already keep the [dev-v2 branch RELEASENOTES.md](https://github.com/google/ExoPlayer/blob/dev-v2/RELEASENOTES.md) updated, and this seems to work well enough to not require any additional tooling.

It's also a bit unclear how well this fits with the way ExoPlayer is developed, since the core development team are not working directly on GitHub / Git, and changes are mi

[2020-01-05 14:06] ojw28 commented on #6825
As per my previous response, we need a media sample to understand your specific case.

[2020-01-05 14:33] ojw28 commented on #6798
Thanks for checking! I see what's going on now, and yes you're absolutely right.

What's happening in this case is that the `DownloadManager` is calling `DownloadManagerHelper. onRequirementsStateChanged`, which is then failing to restart the service because the process is in the background (the "wait approximately 2 minutes" part of the reproduction instructions are important, else the process is

[2020-01-05 14:34] #6811 closed, assigned to ojw28

[2020-01-05 17:35] oferDanon opened #6832 "Android Auto integration"
Hello,

I've been looking around the web for a proper example on how to integrate with Android Auto, and so far i have found the following article: [here](https://medium.com/google-exoplayer/the-mediasession-extension-for-exoplayer-82b9619deb2d)
which to my understanding is partial (for example, how do i provide the MediaItems etc).

Where can i find a complete example? (if exists)

Thanks in adva

[2020-01-05 17:54] aarondib opened #6833 "SRT subtitles not disappeared since 2.11.0 version"
Starting from 2.11.0 library version, SRT subtitles in MKV videos has stopped to disappear at needed times and will show until the next CUES will come.

I can see that according to matroska tech specs in RELEASE NOTES:

but in all available for me video samples subtitles are not disappeared.

Question:
Is it a bug or is it ok? Should we wait for new videos in new matroska specs and all current vid

[2020-01-05 19:54] ojw28 commented on #6833
It's a bug. Thanks for reporting!

[2020-01-05 23:25] Mangoxd opened #6834 "ExoPlayer MKV File To GoogleCast"
The video plays well but it stops every 2 - 5 seconds (stuttering) and then it plays again , i have the file hosted on my localhost server (192.168.1.2/video/test.mkv)

This only happens on chromecast , on the phone i can watch the video without stop / stuttering.

[2020-01-05 23:42] Mangoxd commented on #6834
I tried

        MediaInfo mediaInfo = new MediaInfo.Builder(192.168.1.1/video/test.mkv)
                .setStreamType(MediaInfo.STREAM_TYPE_BUFFERED)
                .setContentType(MimeTypes.BASE_TYPE_APPLICATION)
                .setMetadata(mediaMetadata)
                .setMediaTracks(tracks)
                .setStreamDuration(mExoPlayerView.getPlayer().getDuration() * 1000)

[2020-01-05 23:51] Mangoxd commented on #6834
Forget, I could solve the problem on my own, but I have another problem, the video plays well but it stops every 2 - 5 seconds (stuttering) and then it plays again

[2020-01-06 04:09] EddieMeng commented on #6754
thank you for tell me that, i wanna ask by using exoplayer's CacheDataSource, is it possible to resume all the data the same as before release it, such as the video progress, video player state.

[2020-01-06 05:03] vishal-i4gs commented on #6825
I am sorry @ojw28 I believe there might be some issue with the audio as well as you said. Unfortunately I cannot share the audio url because its proprietary but I believe there might some issues with the audio. I will get back in a while on this. Thanks

[2020-01-06 05:32] imbichitra commented on #6723
Hi i follow the setup to play 2 track simultaneously which is mention in [#6589](https://github.com/google/ExoPlayer/issues/6589#issuecomment-549864783) and below is my custom `TrackSelector `  and `RenderersFactory ` for select video track

[code]
and here is my `VideoRendererWithoutClock` whichi extends `VideoRendererWithoutClock`
[code]
if i use above code then following error is coming out
[co

[2020-01-06 06:09] imbichitra commented on #6723
if i remove `out.add(new VideoRendererWithoutClock(context,mediaCodecSelector));`  from my `RenderersFactory ` which override `buildVideoRenderers` of `DefaultRenderersFactory` then it only play the track one.

[2020-01-06 06:57] Sathish-Kumar-Kanagaraj opened #6835 "how to use pinch gesture to enlarge the width and height of the player"
I want  my player height and width dynamically increase and decrease based on the user pinching the
view .
How can I achieve it in the latest exoplayer view

[2020-01-06 07:45] imbichitra commented on #6723
Actually i want to implement below scenario
![IMG_20200106_130245](https://user-images.githubusercontent.com/23660842/71803114-e0e35580-3085-11ea-8aac-d77efb1b6a1b.jpg)

In the above image 2 video is playing one is left and another is right here i play two separate video using two instance of exoplayer  but how can i play 2 tack just like image one is on left and another is on right with synchroni

[2020-01-06 08:18] zvonkokemperle commented on #6801
I experience exactly the same issue. I have targetCompatibility JavaVersion.VERSION_1_8 included. This issue is only visible if generating signed builds, it doesn't matter if it's debug or release.

The only solution I have found is to disable D8 desugaring by adding the following line to gradle.properties:
`android.enableD8.desugaring=false`

This solution however is not ok. I am developing a lib

[2020-01-06 08:21] kgrevehagen commented on #6751
@andrewlewis Any news or comments on this issue? Basically, clear lead is not working without glitch on many devices, so I think this is a pretty serious issue, do you agree?

[2020-01-06 09:42] Tolriq opened #6837 "Alac support from MediaCodec change"
I'm sorry to open this question before having proper full report from the users, but despite a few impacted users, I have not yet had one of them providing bug reports and logs.

Anyway I have multiple report of Alac files in mp4 container no more working on device where it previously worked (Samsung / Xiaomi).

I know that I have made a change in how I initialize Exoplayer so ask about this, hopi

[2020-01-06 10:01] marcbaechinger commented on #6754
The demo app does this. Have a look into the PlayerActivity:

https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L205

[2020-01-06 10:24] marcbaechinger commented on #6832
What you need for supporting Android Auto is a `MediaBrowserService` and `MediaSession` integration. There is a talk from Google I/O 2019 which gives you an overview on what's needed to provide a media app for Android Auto: https://www.youtube.com/watch?time_continue=4&v=AHHERLwjUGo&feature=emb_logo

The ExoPlayer library comes with the MediaSession extension, which makes it easy to connect ExoPla

[2020-01-06 10:41] marcbaechinger commented on #6834
This seems to be a problem on the Chromecast device rather than a problem with ExoPlayer.

I haven't found matroska as a supported container format on the ["Supported Media for Google Cast"](https://developers.google.com/cast/docs/media) page. The behaviour you are observing suggests that the device can extract and play though.

I think it depends on the sample format which are packaged into the m

[2020-01-06 10:54] marcbaechinger commented on #6837
The changes you made regarding the `ExtractorsFactory` should not matter. Providing the `MP4Extractor` should be sufficient.

Please  provide us with some more information about your case:

What changed here? Can you tell what ExoPlayer version you were using and whether this changed? Did the device receive an OS update? Please provide detailed information about what devices you are seeing to fail

[2020-01-06 10:59] marcbaechinger commented on #6835
The `PlayerView` is a layout view (`FrameLayout`). So this sounds like a general Android developer question which is best asked on StackOverflow. We can not support you in Android UI development here in this issue tracker, I'm afraid.

If you have a specific questions about ExoPlayer components not behaving as expected or not correctly,  please narrow down your question accordingly. We are happy t

[2020-01-06 11:09] Sathish-Kumar-Kanagaraj commented on #6835
Okay,
So now my question is shall we able to change the video size  width and height to full screen based on the mobile screen size
I have seen a method called onVideoSizeChanged in EventLogger Class of Exoplayer
Shall we make use of it to change the player height and width dynamically

[2020-01-06 11:11] marcbaechinger commented on #6822
ExoPlayer does not cache by default. You need to use a `CachingDataSource`. If you do not have this in place there is no caching.

Can you please be more specific on what kind of live stream you are using (Dash, Hls, Smooth, other)? Best would be to provide a URI to the stream so we can look into this ourself.

If you are using a adaptive live stream (Dash, HLS, SmoothStreaming) you may want to se

[2020-01-06 11:13] marcbaechinger commented on #6822
ExoPlayer does not cache by default. If you do not have a `CachingDataSource` in place there is no caching applied.

[2020-01-06 11:15] marcbaechinger commented on #6835
The video size can change dynamically in a adaptive stream. I don't think you want to change the UI according to the video size. When the video size changes the quality of the video changes rather than the UI should adapt.

[2020-01-06 13:23] Tolriq commented on #6837
As said for the moment users are not cooperative on this and I do not have devices that support Alac so can't reproduce on my side.

From the few reports all Alac files no more works and since I update ExoPlayer each time I release I currently can't tell when the issue occurred. (App is currently in prod with 2.11.0).

One strange thing is that I have a Nokia 8 that is not supposed to support Alac

[2020-01-06 13:53] andrewlewis commented on #6751
@kgrevehagen Agreed this looks very similar to #6344.

Regarding AudioTrack buffers: the buffer is drawn from shared memory so my main concern would be that you may see issues with the AudioTrack failing to initialize if you make the buffer significantly larger. Larger buffer sizes also increase latency but this may not matter for your use case (if the content is live the AudioTrack buffer will 'd

[2020-01-06 15:00] icbaker commented on #6833
Thanks for catching this - it's now fixed on the dev-v2 branch and the fix will be included in the 2.11.2 release.

[2020-01-06 15:00] #6833 closed, assigned to icbaker

[2020-01-06 15:34] cncb-gh opened #6838 "How to manually specify duration for stream?"
When filing a question:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Searched documentation and issues
"Timeline" class documentation

### [REQUIRED] Question
Is there a

[2020-01-06 15:35] Mangoxd commented on #6834
I know that the mkv format is not supported by googlecast, but I managed to make it work with the exoplayer extension for cast, and it works very well, but the video is very often buffered every 5 seconds, it's not smooth

BDRemux 1080p
Video:MPEG-4 AVC, 1920x1080, 27.6 Mbit / s, 23.976 fps

Those are the statistics of the video, it is 1080p, it is not even 4k, on YouTube if I try to cast a video

[2020-01-06 15:36] ojw28 commented on #6837
* Even just knowing what devices these users are using would likely be helpful (more specifically than "Samsung/Xiaomi").
* Could you confirm whether or not you're bundling the FFmpeg extension in your app (and if so, whether it's build with the alac decoder enabled)? I'm guessing not, but it's not completely clear.

[2020-01-06 15:46] Tolriq commented on #6837
I'm not using ffmpeg just Flac extension.

For the moment users who did contact me with device details are :

and

But I do not want you to loose too much time because my users are lazy. If there's no obvious regression and my code change can't be the cause then I'll wait for a more dedicated user to provide everything necessary. (Unless you can confirm if the fact that GPM and YTM plays the files

[2020-01-06 16:59] AndrazP opened #6839 "Add single callback for all simultaneous state changes to prevent duplicate event handling."
### [REQUIRED] Issue description
Starting with ExoPlayer version 2.10.5  MediaControllerCompat.Callback.onPlaybackStateChanged is called twice for some states like STATE_STOPPED(1).
Player.EventListener onPlayerStateChanged is not affected.

### [REQUIRED] Reproduction steps
Test project:
https://github.com/AndrazP/uamp

Update ExoPlayer from version 2.10.4 to 2.10.5 to reproduce the bug in https:

[2020-01-06 18:08] ojw28 commented on #6837
I got hold of a MI 8, but it doesn't have an ALAC decoder exposed via `MediaCodec`, so I'm not sure how it would have ever worked (unless you previously bundled the FFmpeg extension, and have now stopped doing so). That said, my MI 8 is on Android 9 still; it's not showing an updated to Android 10 as being available.

The 1st party video player on the MI 8 is able to play ALAC, but it appears to b

[2020-01-06 19:24] marcbaechinger commented on #6839
I think this has to do with the  new callback method `EventListener.onIsPlayingChanged` that has been introduced with 10.5. This triggers updating the media session playback state.

A proper fix would be to make sure that `invalidateMediaSessionPlaybackState()` (and other `invalidateXYZ` methods) are called once when requested by several callback methods.

We'll look into this to see what's the be

[2020-01-06 19:46] Mangoxd commented on #6834
@marcbaechinger
Is it possible to put a maximum bitrate with DefaultBandwidthMeter? But will that also work by sending it to chromecast?

[2020-01-06 19:46] marcbaechinger commented on #6838
You are right that you can not change the timeline as it is an immutable object. The timeline is provided by the media source. When the information of the timeline changes the media source creates a new timeline and then notifies the player about the new timeline.

I think there is no other way to do that than providing your custom `CompositeMediaSource` which wraps a `ProgressiveMediaSource`. Whe

[2020-01-06 20:02] marcbaechinger commented on #6831
The error says that none of the extractors recognizes the sample format of the input.

I don't understand why the size of the file becoming larger than 2GB should make a difference. Specifically because the extractors try to recognize the format at the very begin.

I'd verify whether the encryption process works as expected for large files.  Are there any other exceptions in the logcat? If you do

[2020-01-06 20:05] Tolriq commented on #6837
Thanks for testing, the A8 user finally provided logs but do not want to expose private data with a full bug report :(

As expected it says the same as my device so probably no MediaCodec exposed and all other apps use tricks / ffmepg for it.
[code]

It's strange that I got multiple similar reports, but I start to suppose they mixed up with some other apps :(

I guess I'll move to ffmepg extension

[2020-01-06 20:07] marcbaechinger commented on #6834
The cast extension of ExoPlayer only sends the uri to the cast device. Then the cast device does download, extract and play the file without further interaction with the Android app.

So I don't think that tweaking the maximum bitrate on ExoPlayer side has any effect.

If you want us to look into this some more we'd need to have a uri to the media file for testing.

[2020-01-06 20:15] Mangoxd commented on #6834
I have the video in localhost so it is impossible to give you the url, I already contacted googlecast support and they said that the video has too much bitrate thats why it buffers a lot, I want to know a way to modify the bitrate when I send the video to googlecast.

[2020-01-06 20:18] cncb-gh commented on #6838
I will try that.  Thanks very much for your help.

[2020-01-06 20:18] #6838 closed, assigned to marcbaechinger

[2020-01-07 02:16] #6762 closed, assigned to christosts

[2020-01-07 06:34] Navidhp commented on #6831
@marcbaechinger only exception in logcat this :
[code]

[2020-01-07 06:47] ajay-aravind opened #6840 "How to save application specific information with download?"
is the `byte[]  data` in downloadrequest  is the only way to save application specific data with download request? I wonder how to save if there is any application specific data like Objects.

[2020-01-07 08:23] PhanSon95 opened #6841 "Video 360 Angle when start video"
### [REQUIRED] Searched documentation and issues
I've looked for answer and found issue [here](https://github.com/google/ExoPlayer/issues/6480)
But that issued was closed and I still can't find correct answer.

### [REQUIRED] Question
Video 360 stared playing from a different angle of view each time
On each time I play my video 360, angle of view is different and it's not center

### A full bug re

[2020-01-07 08:36] janeriksamsonsen commented on #5993
Ability to switch between internal-storage and sd-card would be a very welcome enhancement!

[2020-01-07 09:44] tonihei commented on #6839
Note that the duplicate media session update is not a bug because it just verifies the current state again without introducing any wrong information.

Besides that, we are already planning to add a callback that gets invoked after all simultaneous state changes are handled. This callback will then be used in this case as well to prevent unnecessary media session updates.

[2020-01-07 11:12] Ohunjon opened #6842 "Stream mp3, AAC+, pls, flv, AAC,m3u8 audio formats with Exoplayer"
hi everyone! Friends I need your help -- I am using
lib exoplayer for streaming radio and here I have list of radio stations and with different formats  for example (mp3, AAC+, pls, flv, AAC,m3u8) that's is not static
streaming mp3 format is works very nice
 but others is not ...
1.Can I stream all this formats with Exoplayer ?
If formats supports please .. I need to some examples or any link exam

[2020-01-07 11:59] marcbaechinger commented on #6840
Yes, the data field of type byte[] is the only application defined field which is persisted.

You could actually store everything which you can transform from and to a byte array. I'd recommend though to only store small amount of data like that. Probably a key which you then can use for another storage mechanism to look up object data for the given key.

[2020-01-07 12:08] #6829 closed, assigned to ojw28

[2020-01-07 12:09] marcbaechinger commented on #6842
There is a [page](https://exoplayer.dev/supported-formats.html) describing what format ExoPlayer supports.

You need to construct a media source for being able to play a stream with the player. The library comes with four media sources:

* DashMediaSource
* HlsMediaSource
* SmoothStreamingMediaSource
* ProgressiveMediaSource

Please check the [developer website](https://exoplayer.dev/), specifical

[2020-01-07 12:11] HarrisSuleman opened #6843 "Audio is not coming while playing UDP stream in ExoPlayer"
I am using ExoPlayer and i am playing a udp stream. The UDP stream is udp://239.1.1.81:1111. I am facing a problem in stream playing that video of this stream works fine and there is no lag in playing video. But the issue is that audio is not coming from the stream.
Following is the code to play UDP stream:

[code]

[2020-01-07 12:46] ajay-aravind commented on #6840
while my notification is updating every 250ms , I don't think it is a good idea to fetch data a from a table every 250ms is a good idea.

[2020-01-07 13:28] Samrobbo commented on #6783
Just to clarify, you have a recycler view, with multiple HLS [m3u8] files, which currently take one or two seconds to start playing after you are looking at them?

You are asking if there is any way to reduce this play time through caching, but still keeping memory usage low?

[2020-01-07 14:44] JohnGalt1717 opened #6844 "ExoPlayer + Azure Media Services + AES (SS/DASH/HLS) all fail to play correctly."
### [REQUIRED] Issue description
I'm using this test video that works fine in HLS on the standard android video player: [Azure Tears of Steal](http://ampdemo.azureedge.net/?url=%2F%2Famssamples.streaming.mediaservices.windows.net%2F830584f8-f0c8-4e41-968b-6538b9380aa5%2FTearsOfSteelTeaser.ism%2Fmanifest&aes=true&aestoken=Bearer%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1cm46bWljcm9zb2Z0OmF6dXJlOm1

[2020-01-07 17:34] ojw28 commented on #6831
If you decrypt the entire file and then try playing that, does that work correctly? If so then the issue lies somewhere within your own encryption or decryption code, and as such is not an ExoPlayer issue.

[2020-01-07 17:42] Navidhp commented on #6831
@ojw28 yes when I decrypt file correctly oky and play but encrypt again file not play

[2020-01-07 17:52] ojw28 commented on #6831
This is not an ExoPlayer issue, in that case. You'll need to debug your custom components, unfortunately. I didn't spot anything obviously wrong with the code pasted above, but the most likely candidates are probably:

* `StreamingCipherInputStream.forceSkip`. You currently assume that `mUpstream.skip(bytesToSkip)` is going to skip the full amount, but I can't see a hard guarantee anywhere that th

[2020-01-07 18:08] marcbaechinger commented on #6844
The `NullPointerException` for the SmoothStreaming manifest is caused by the content of the `ProtectionHeader` element. The parser expects base64 encoded text.

The manifest your referring to wants AES encryption which is not supported by ExoPlayer.
There is issue #3420 which is marked as low priority enhancement. We don't have plans for supporting this though.

[code]

Besides this I was not able

[2020-01-07 18:20] marcbaechinger commented on #6843
When I try udp://239.1.1.81:1111 in the demo app I get a socket timeout exception:

[code]

Is this server up and running?

[2020-01-07 18:28] JohnGalt1717 commented on #6844
@marcbaechinger  Thanks.

Here's the URLS for HLS and Dash Respectively:

https://amssamples.streaming.mediaservices.windows.net/830584f8-f0c8-4e41-968b-6538b9380aa5/TearsOfSteelTeaser.ism/manifest(format=m3u8-aapl)

https://amssamples.streaming.mediaservices.windows.net/830584f8-f0c8-4e41-968b-6538b9380aa5/TearsOfSteelTeaser.ism/manifest(format=mpd-time-csf)

HLS plays audio and video in that exa

[2020-01-07 18:28] JohnGalt1717 commented on #3420
+1 on this.  Would be really nice to get this done.

[2020-01-07 19:21] marcbaechinger commented on #6841
When I try the examples in the demo app it always starts at the same angle. What I mean is that I always see the same section of the video when starting.

Can you look into the demo app and check whether you see the same behaviour?

If you want me look into this some further it would be helpful to have a sample stream of your video. You can send the uri to dev.exoplayer@gmail.com in case you don't

[2020-01-07 19:55] marcbaechinger commented on #6844
For DASH, the manifest seems to request AES encryption like for SmoothStreaming. This is not supported by ExoPlayer I'm afraid. ExoPlayer supports [Widevine, PlayReady and ClearKey for content protection with DASH](https://exoplayer.dev/supported-formats.html#dash).

For HLS the player receives a 401 when trying to fetch the license. That's the header which is added to the request.

[code]

I see

[2020-01-07 19:57] marcbaechinger commented on #6834
ExoPlayer's cast extension just passes the uri to the cast device. ExoPlayer and the cast extension can not help you modifying the remote file which the cast device should play.

[2020-01-07 19:58] JohnGalt1717 commented on #6844
@marcbaechinger  It's header: Authorization, and then value: "Bearer=<token>" (without the quotes)

It gets everything fine and plays with HLS, it just doesn't buffer properly and stutters (and no audio in other cases)

[2020-01-07 20:02] marcbaechinger commented on #6840
I actually can't see a reason for posting a notification every 250ms and if you do, how is this related to storing custom app data with a download request? I think you could just keep that data in memory.

Can you give a little bit more details about your use case?

[2020-01-07 20:06] marcbaechinger commented on #6844
Thanks and sorry for being stupid.

This plays the HLS stream without problems in the demo app. Video and audio are playing without stuttering. Do you see that behaviour on different devices?

[2020-01-07 20:17] JohnGalt1717 commented on #6844
@JohnGalt1717 I've tried on 3 separate devices (2 emulators and 1 physical Pixel 3 XL). All of them stutter and refuse to buffer. (pausing causes buffering but as soon as you hit play it dumps the buffer and starts stuttering.) If you've ever seen an Instagram video that has multiple segments, think that but it's after 2 or fewer seconds. If I had to guess it's the segments getting dis-guarded tha

[2020-01-07 22:03] aarondib opened #6845 "Since 2.11.0 TrueHD videos stuck and playback time goes backwards"
Since 2.11.0 library version videos with TrueHD audio track - stuck, when audio track is selected.
Also, playback time goes backwards.

The bug was reproduced on Nvidia Shield TV device and tested with different video samples.
There is no such issue on all previous library versions, up-to 2.10.8.
Also, no such issue on Sony Bravia TV, as it does not support TrueHD decoding.

[TrueHD Sample URL](ht

[2020-01-07 22:20] marcbaechinger commented on #6844
It's hard for me to understand what's happening without seeing the issue or having the content. Can you play the stream with the demo app, take a bug report and then upload here? This allows me to see what the player is doing.

You can add your stream to the [media.exolist.json](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json) file like this:

[cod

[2020-01-07 22:29] marcbaechinger commented on #6343
Closing due to inactivity. Please re-open if required.

[2020-01-07 22:30] marcbaechinger commented on #6661
Closing due to inactivity. Please reopen if required.

[2020-01-07 22:30] #6661 closed, assigned to marcbaechinger

[2020-01-07 23:12] marcbaechinger commented on #6844
I'm using 2.11.1 btw. It's worth trying with that version instead of 2.9.8.

[2020-01-08 00:46] AlienAsRoger commented on #6735
@andrewlewis this link https://groups.google.com/g/ima-sdk/c/QnxlFhtoIMg doesn't work

[2020-01-08 00:46] mjmancuso commented on #6834
Marc is correct. Chromecast doesn't support the mkv container format officially.

Do you know which generation Chromecast you have? 27 Mbps is up there, even for a Chromecast Ultra. Even for 4k streams I dont think Youtube/Netflix/etc go that high.

I think your best bet would be to transcode the file to a lower bitrate using something like ffmpeg (and switch to a supported container format in the

[2020-01-08 02:14] PhanSon95 commented on #6841
@marcbaechinger Sorry for my bad, I forgot to tell you which project i'm using
I'm using [gvr-android-sdk](https://github.com/googlevr/gvr-android-sdk) but this project has been archived. However, after research and find solution, I realize core of `gvr-android-sdk` is using same core of Exoplayer. So I've created issue here.

Below is `MonoscopicView.java`'s content ( same with `SphericalSurfaceV

[2020-01-08 02:16] kentherzz commented on #6343
This is for sure not fixed. Please reopen!
I have the same issue on NVIDIA SHIELD 2019, so it is not a hardware issue. Reported to NVIDIA and they are looking into it as well. I can see from the logs that Shield use ExoPlayerLib/2.10.7

[2020-01-08 02:18] kentherzz commented on #6343
@marcbaechinger , can you please reopen this?

[2020-01-08 04:29] EddieMeng commented on #6754
okay, thanks for you reply. I will check the demo to see how it implement.

[2020-01-08 06:18] #6822 closed, assigned to marcbaechinger

[2020-01-08 06:26] caprice commented on #6822
@marcbaechinger Thanks for your replies. There is no doubt that exoplayer has buffering cache in memory. At last, I found the latest live stream can be caught up by using player.seekTo(0) when resume to play in live mode

[2020-01-08 07:29] Dnyaneshwar1926 opened #6846 "Audio playing in background."
Code:

     private void playerPlayStop() {
        ePlayerView.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                if (player == null) return;

                if (isVideoPause) {
                    videoIcon.setVisibility(View.GONE);
                    player.setPlayWhenReady(true);
                } else {

[2020-01-08 07:37] meenukrishnamurthy opened #6847 "Blank screen while switching video from portrait to landscape full screen for DRM enabled videos in DASH format"
Issue description:
While switching a video from portrait to landscape mode a blank black screen is visible for a sec before showing the video frame.This happens while switching from landscape to portrait also.This is occuring only for the videos which are DRM protected.This is seen only in few devices.It appears in the exoplayer demo app as well.

Reproduction steps:
1.In the exoplayer demo app pl

[2020-01-08 07:39] HarrisSuleman commented on #6843
Actually the server is not public, the server is accessible only in internal network. When i play the same stream in internal network on desktop VLC player it works fine. But the stream is not playing in Exo Player of my app.

[2020-01-08 07:45] ojw28 commented on #6847
This is a limitation in the underlying platform. The fact that the output path is secure means that the video buffers aren't available to be composited into the rotation animation when the display orientation changes, so for the duration of the animation the surface appears as though it is black. You will observe the issue in all applications that play DRM protected content.

[2020-01-08 07:49] meenukrishnamurthy commented on #6847
Can you be more specific as to which underlying platform the issue arises.Because i dont see this issue in all the devices.

[2020-01-08 08:01] ojw28 commented on #6847
As above:

I'm not sure why you don't see the issue on all devices, but my best guess would be that your content doesn't require a secure output path in the license policy, and that the devices where you don't see the issue only support L3 Widevine. If that's the case then you could try forcing L3 Widevine on all devices, to see if that resolves the problem.

Alternatively, is it possible the devi

[2020-01-08 08:16] aarondib commented on #6845
_Update:_
Nvidia Shield TV is connected to AVR Pioneer VSX-832. Video sample stuck at start playing, playback time goes to negative values, while sound (TrueHD audio track) is playing fine from AVR.

[2020-01-08 08:20] Dnyaneshwar1926 commented on #6846
The issue was that I was initilizing player 2 times.

[2020-01-08 08:20] #6846 closed, assigned to ojw28

[2020-01-08 08:39] Angry-Nerd opened #6848 "How to parse an m3u playlist and look for ads in the content"
Hi, I have an issue regarding playing a m3u playlist in the exoplayer. I am playing a m3u playlist with url which have the content from the AWS mediatailor service which stiches ads and video and play it as a single feed. I want to know that is there any way that we can parse the m3u playlist content and look for ads in the content.

[2020-01-08 09:37] andrewlewis commented on #6602
This should now be fixed on the development branch. Please let us know if you can still reproduce the issue.

[2020-01-08 09:37] #6602 closed, assigned to andrewlewis

[2020-01-08 09:58] Navidhp commented on #6831
@ojw28
Hi,
At first, I appreciate your advice and it was perfectly useful for me to solve the problem.
It's worth mentioning that maximum value of files with more than 2GB was more than maximum value of integer. so it was the reason of the problem in our component.

[2020-01-08 09:58] #6831 closed, assigned to ojw28

[2020-01-08 10:50] marcbaechinger commented on #6848
The library has `HlsPlaylistParser` but I'm not sure how helpful this is for your use case. I actually do not completely understand what you are trying to achieve once you know what ads have been stitched into the playlist.

Can you give a bit of detail what the actual use case is? Given you can recognize ads in the HLS playlist, what do you want to do with that knowledge and how do you expect Exo

[2020-01-08 10:51] yoobi opened #6849 "Question: HLS Video change quality via PopupMenu"
### [REQUIRED] Searched documentation and issues

I've looked into the issue, your exoplayer.dev and stackoverflow.
In the issue I've seen that you recommend to create a UI on our own [#5261](https://github.com/google/ExoPlayer/issues/5261)

I've seen many post on stackoverflow, and created my own but yet no answer.

On Exoplayer I think the TrackSelectionView would be useful therefore my question

[2020-01-08 11:09] FOUADFAISAL commented on #6783
also I faced same problem
can you help us to resolve ?

[2020-01-08 11:13] marcbaechinger commented on #6849
The `TrackSelectionView` is a `LinearLayout` which you can use within your own layouts of a fragment or activity. You can call the `init` method and pass the track information as a `MappedTrackInfo object.

You can pass a `TrackSelectionListener` to the `init` method to be informed of changes the user makes. You still need to apply these choices to the `TrackSelector` you are using with the player

[2020-01-08 11:24] yoobi commented on #6849
For example if I create a LinearLayout called `selection_view.xml` how can I tell my TrackSelectionView to bind to it ?

My second question is about, how can I change the quality video on user selection. But I think you answered it and it'll be via the TrackSelectionListener

[2020-01-08 11:37] marcbaechinger commented on #6849
Yes, the `TrackSelectionListener` is a callback to which the selection of the user is passed. You can then apply it to the `DefaultTrackSelector` which you are probably using. You can use the `DefaultTrackSelector.ParameterBuilder`. [See also how the `TrackSelectionDialog` is doing it](https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/demos/main/src/main/java/com/go

[2020-01-08 11:42] marcbaechinger commented on #6843
Please add the uri to the ExoPlayer demo app, play the stream, [take a bug report](https://developer.android.com/studio/debug/bug-report) afterwards and upload it here.

This allows to understand what the player is doing.

[2020-01-08 12:17] ShengjieGeng opened #6850 "Adding Time Interval.(ConcatenatingMediaSource)"
Is there any method to add a time interval between every item in ConcatenatingMediaSource's playlist?
I'd appreciate it if receiving some tips.

[2020-01-08 12:28] kim-vde commented on #6723
Are you able to play the second track only as in #6800?
Are you able to play two separate medias at the same time as in #6589?

You should try to solve these simpler problems separately before merging them.

[2020-01-08 12:31] yoobi commented on #6849
I'm kind of lost with TrackSelectionView, once it is init what can I do with it ? or can I display the View that i just created ?

My goal is to use the TrackSelectionView to populate a PopupMenu I got and via the Listener change the quality

[2020-01-08 12:53] Mangoxd commented on #6834
You are right, my internet is not so powerful to support 27 Mbps, I just lowered the bitrate to 24mbps  and it worked fine.

[2020-01-08 12:54] andrewlewis commented on #6850
`SilenceMediaSource` can be used to insert gaps (see #5735), but you need to add these into the concatenation yourself.

[2020-01-08 12:56] #6834 closed, assigned to mjmancuso

[2020-01-08 13:04] andrewlewis commented on #6735
Please could you try https://groups.google.com/d/msg/ima-sdk/QnxlFhtoIMg/ZvpLFf-ZAwAJ?

Edit: I've updated the comment above so will hide these last two comments. Thanks for reporting the problem.

[2020-01-08 13:30] cardinaltm opened #6851 "UDP Multicast Stream not working"
### Issue description
Hello, not working UDP Multicast stream on any devices,
i will use this version exoplayer: com.google.android.exoplayer:exoplayer:2.11.1
and i get black screen, nothing else

URL: udp://@239.192.50.2:1234
i try with "@" symbol, and without symbol. result is one, black sreen.

P.S. in VLC everythings works ok
[code]
Please help me, i need udp stream to turn on.

### Version of

[2020-01-08 13:39] andrewlewis commented on #6845
It looks like this broke as part of recent changes to support Matroska block lacing. I'm investigating now.

[2020-01-08 13:43] Mary-a67 opened #6852 "Set Default height when AspectRatioFrameLayout couldn't load"
### [REQUIRED] Searched documentation and issues
ExoPlayer Doc, github issues and stackOverFlow

### [REQUIRED] Question
I want to show controller on player in portrait orientation like youtube. My AspectRatioFrameLayout placed in center of page and it didn't have specific height. When there is no network to play video or it needs to be recalculate again , ... the controller will shown as full scr

[2020-01-08 14:23] andrewlewis commented on #6845
A fix for this is in review now.

[2020-01-08 15:39] marcbaechinger commented on #6851
I think I can not access that server. Plesae let me know if I'm wrong nad the server is available for me for testing.

Alternatively, can you please add the stream to the demo app, play the stream and after it failed, [take a bug report](https://developer.android.com/studio/debug/bug-report) which you upload here?

Add this to the `media.exolist.json` file of the demo app:

[code]

[2020-01-08 15:50] marcbaechinger commented on #6849
I think when you want to use a `PopupMenu` you probably just want to populate it with the tracks which are available for your stream. Something like `popup.getMenu().add("fooBar)`

[2020-01-08 15:57] marcbaechinger commented on #6852
Is there a specific reason why you are not using `PlayerView` for this? I think it would make things easier to use the player view. So I'd recommend trying with `PlayerView` instead of the more low level UI components.

[2020-01-08 16:02] marcbaechinger commented on #6841
Sorry, I think I can't really help you with these details around implementing this for gvr-android-sdk. Have you tried filing a bug on their issue tracker?

[2020-01-08 16:39] #6845 closed, assigned to andrewlewis

[2020-01-08 16:39] ojw28 commented on #4078
Fingers crossed this is finally fixed!

[2020-01-08 16:39] #4078 closed, assigned to ojw28

[2020-01-08 16:45] yoobi commented on #6849
Yeah populate the `PopupMenu` and then be able to change the quality from that `PopupMenu`
So you're saying I should just get the TrackGroups populate my menu and then do the change of quality with the `setOnMenuItemClickListener` ?

[2020-01-08 17:27] chrisfillmore opened #6853 "Add error response field to InvalidResponseCodeException"
### [REQUIRED] Use case description
I would like to include the HTTP response body in an InvalidResponseCodeException, so that I can read the response.

In particular, our license server sends back specific error codes which we need to triage.

### Proposed solution
Add a new field to InvalidResponseCodeException which stores the value returned from `HttpURLConnection#getErrorStream()` (or string

[2020-01-08 17:30] cardinaltm opened #6854 "Some Streams not working"
### Issue description
Some streams not working on exoplayer, but its working in vlc

Stream PALITRA:
working on exoplayer perfectly
http://188.169.194.17:8000/play/palitranews/index.m3u8

Stream ARKHI:
not working on exoplayer, but working in vlc, i get black screen, and no audio
http://188.169.194.17:8000/play/1arkhi/index.m3u8

I just can not understand what could be the problem.
help me please.

[2020-01-08 17:32] cardinaltm commented on #6851
UDP Multicast, working only on local net, and cant watch from outside
I think this is not a problem because of UDP Multicast, i reorganize my issue #6854

[2020-01-08 17:32] #6851 closed, assigned to marcbaechinger

[2020-01-08 18:23] PhanSon95 commented on #6841
@marcbaechinger  yes, but still can't find solution
On sample of gvr-android-sdk, when i put my 360 video which played on sample, angle start is different too
:( i'm so tired with this bug
Hope you can help me

[2020-01-08 18:37] marcbaechinger commented on #6854
The audio track of ARKHU is of type audio/mpeg-L2 which is not supported by ExoPlayer. When I try to play it, EventLogger logs the following to logcat:

[code]

For the stream ARKHI I further get some http 404 for instance for http://188.169.194.17:8000/play/1arkhi/eepqr5ll.ts

I get the same when doing

[code]

[2020-01-08 18:43] cardinaltm commented on #6854
Hello,
audio/mpeg-L2 is working, please try this channel: http://188.169.194.17:8000/play/aljazeera/index.m3u8, here is audio/mpeg-L2
please try a latest exoplayer version
i will get this:

Aljazeraa
[code]
ARKHI
[code]

about http://188.169.194.17:8000/play/1arkhi/eepqr5ll.ts
you can’t download this file if you don’t quickly do it, the point is that the HLS will delete the old .ts files that it n

[2020-01-08 18:51] noamtamim commented on #4078
I'll verify as soon as I get time for it.
Where's the fix?

[2020-01-08 19:43] marcbaechinger commented on #6854
You can not rely on this as it may be device specific. If you want to make sure it is supported you need to use the ffmpeg extension which does decode in software.

Regarding the 404: I see this when the demo app wants to play the stream. I can repro this each time I try.

[2020-01-08 20:18] cardinaltm commented on #6854
when I checked, it turned out that several more channels do not work in exoplayer from the same transponder - 490 MHz, but with the rest of the frequencies everything works in exoplayer

[2020-01-08 22:18] #6816 closed, assigned to tonihei

[2020-01-08 22:42] ojw28 commented on #6853
https://github.com/google/ExoPlayer/issues/3920 was requesting this as well.

@chrisfillmore - Is there a reason to use 403 rather than 200 for this case (see the issue ref'd above for more information)?
@jrocharodrigues - Did you implement this already, or did you do it differently?

[2020-01-08 23:42] marcbaechinger commented on #6849
It depends on your use case and streams.

If you need the generic abilities of the `TrackSelectionView` you can do this as you've done it above. Then you can call `TrackSelectionView.getOverrides()`  to get the overrides resulting from the view state. Use these overrides to build parameters for the `DefaultTrackSelector` to apply the selection in the UI. You can [refer to the `TrackSelectionDialog

[2020-01-08 23:49] marcbaechinger commented on #6841
Can you provide me with a uri to a sample video so I can test whether that works with the demo app?  If this is not working as expected, we can happily look into this. If the problem is related to your integration of `MonoscopicView` in the VR SDK I don't think I can really help some further I'm afraid.

You can send these resources to dev.exoplayer@gmail.com if you don't want it to expose to the

[2020-01-09 02:22] PhanSon95 commented on #6841
@marcbaechinger it's ok. I will send sample video for you
Let's check mail

[2020-01-09 03:57] chrisfillmore commented on #6853
In our particular case we get HTTP 400 with an error code in the response body.

It's not feasible for us to change the HTTP status from the license proxy; this would have a far-reaching impact on other client platforms we support. But I also don't think that 200 is an appropriate status for this response. The server wants to indicate the request is bad, hence 400.

Is there a particular reason yo

[2020-01-09 05:21] imbichitra commented on #6723
Yes i play the second track directly by changing the track as below
[code]

Yes i am able to play two separate medias at the same time but using two instance of exoplayer whi is not synchronized.
but when i want to play two video as mentioned in [#6723](https://github.com/google/ExoPlayer/issues/6723#issuecomment-571010107)  then `Failed to initialize decoder: OMX.qcom.video.decoder.avc` error is

[2020-01-09 05:27] HarrisSuleman commented on #6843
[bugreport-LND-L29-HONORLND-L29-2020-01-09-10-02-56.txt](https://github.com/google/ExoPlayer/files/4038699/bugreport-LND-L29-HONORLND-L29-2020-01-09-10-02-56.txt)

Bug report is attached. I am using Exo Player 2.10.5. The package name is com.practice.exoplayerimplementation. And i am following this [link](https://codelabs.developers.google.com/codelabs/exoplayer-intro/index.html?index=..%2F..index

[2020-01-09 05:54] Angry-Nerd commented on #6848
I am getting a m3u file which has segments and in every segment we have clips links.
Some of the links are Ads and I want to trigger that thing. Whenever a Ad is triggered I want a callback that the ad is going to play and I want the URL of that ad. I have a template of the Ad. I can design regex according to that. I just want a trigger and Ad URL whenever ad is playing or going to play.

[2020-01-09 06:46] Ninjouz commented on #6343
Not fixed @marcbaechinger , bug only on interlaced stream IIRC.

[2020-01-09 07:07] meenukrishnamurthy commented on #6847
Thanks a lot @ojw28 . Forcing to L3 on all devices worked for me.

[2020-01-09 09:15] tonihei commented on #6853
For the record, this feature request is already tracked by #5399, so I think this can be marked as a duplicate.

[2020-01-09 09:33] TsmileAssassin commented on #6801
I have targetCompatibility JavaVersion.VERSION_1_8 included

[2020-01-09 09:36] CristianMG commented on #6814
I put my example as example of library in my own fork of library [here](https://github.com/google/ExoPlayer), with the target to compare the differents of ima and my own CustomAdsLoader and this are the EventLogger output.

**Ads custom output**

[code]

**Ima output**
[code]

I think that the problem is how you suggested me that the adPlaybackStat is not updating properly

[2020-01-09 09:42] ojw28 commented on #6853
Agreed it's not particularly difficult. There's a weird case in which there's an error reading the body though. What would you end up throwing in that case? To throw the `InvalidResponseCodeException` without the body in this case would be misleading, because calling code might be expecting the body to be present and you're not indicating that a failure occurred when reading it. Putting another ex

[2020-01-09 10:07] ojw28 commented on #6831
Glad to hear you solved the issue!

[2020-01-09 10:17] CristianMG commented on #6814
I finally found the problem, it is easy, the reason is I unknow of library's functions.

The code example I found, it not assigns the count to group. This is the problem because ads wasn't loading.

The correct code is the next.

[code]
If it, you seem properly I will update this issue with a complete example of code to do an adsloader custom for future people with the same problem. Please don't c

[2020-01-09 10:22] #6847 closed, assigned to ojw28

[2020-01-09 10:50] marcbaechinger commented on #6848
If you need that information for logging or analytics only, then you probably don't need to parse the playlist yourself but can just wait for the player to do that for you.

You can add an `EventListener` with `player.addListener(EventListener)` and override the `onTimelineChanged` callback. When the `HlsMediaSource` is prepared the `onTimelineChanged` method is called with `reason == Player.TIMEL

[2020-01-09 11:01] marcbaechinger commented on #6843
Thanks. I can't see much in that log. Please add the `EventLogger` to your app

[code]

or simply play your stream with the demo app which uses the `EventLogger` ([some info about the `EventLogger`](https://exoplayer.dev/listening-to-player-events.html#using-eventlogger)).

This gives us a good picture of what is going on from reading the logs.

[2020-01-09 12:13] Angry-Nerd commented on #6848
There is nothing like Player.TIMELINE_CHANGE_REASON_SOURCE_UPDATE in the project.

And also which listener should I add, there is no method with onTimelineChanged(Timeline timeline, int reason) signature in the whole project.

There is a method with the following signature onTimelineChanged(Timeline timeline, @Nullable Object manifest, int reason).

And Also I want to know when this functions will

[2020-01-09 12:16] jrocharodrigues commented on #6853
@ojw28 Hi,
Yes i've implemented it.
I've created a custom HttpDataSource with a custom HttpDataSourceException that includes the reponse code headers and responseBody.

[code]

[2020-01-09 13:15] avalanchas commented on #6516
Ok so let me give a small status update: Our app is now live and we see this problem in about 0.5% of our users sessions - around 20 times in the last 3 days. I can now also prove that there are indeed situations, where the downloads list has an object in  it (which is why the for-loop starts rolling) but the activeTasks array has none (which then causes the non-null assertion crash)
[code]
<sup>F

[2020-01-09 13:24] ojw28 commented on #6853
Thanks for the information. How did you handle the case mentioned above (i.e. failure whilst reading the response body)?

[2020-01-09 13:30] jrocharodrigues commented on #6853
In that case the responseBody on the will be empty, and when handling the error i will look only at the responseCode, and treat the error as a generic.
It is not an ideal generic solution, but in my case it works :)

[2020-01-09 13:50] ojw28 commented on #6825
Closing for now. Please reply here if you require more assistance, and we can re-open the issue.

[2020-01-09 13:50] #6825 closed, assigned to ojw28

[2020-01-09 14:39] yoobi commented on #6849
Okay thank you for your help :)
It's a shame there is no tutorial for this, since it's demanded by a lot of people.

[2020-01-09 14:39] #6849 closed, assigned to marcbaechinger

[2020-01-09 14:57] kim-vde commented on #6723
I did the exercise and managed to play 2 synchronized videos using the following code.

[code]

[2020-01-09 16:21] tonihei commented on #6805
Closing for now under the assumption that the question has been answered. Feel free to reopen if not.

[2020-01-09 16:21] #6805 closed, assigned to tonihei

[2020-01-09 16:26] marcbaechinger commented on #6848
I need to apologize, I was using tip of tree for the sample, it's part of the dev-v2 branch. You can use `TIMELINE_CHANGE_REASON_PREPARED` instead.

The callback `onTimelineChanged(Timeline timeline, @nullable Object manifest, int reason)` is deprecated. I recommend updating to the most recent version (2.11.1 as of today) or instead use the manifest passed to that callback.

The callback is called

[2020-01-09 16:30] marcbaechinger commented on #6841
We haven't received an email sent to dev.exoplayer@gmail.com regarding this issue. Can you check and potentially resend?

[2020-01-09 17:29] #6854 closed, assigned to marcbaechinger

[2020-01-09 17:31] tonihei commented on #6801
I can't reproduce this in my setup. Have you tried the suggested cleaning and rebuilding steps?

If you did and the problem persists, could you also tell us the Android Studio version and gradle version you are using? And also how you depend on ExoPlayer and other noteworthy build setting that may help us to reproduce the issue.

[2020-01-09 17:52] ojw28 commented on #2863
@julioz (and anyone else who's interested) - I've been looking at how to best merge some version of #6706. It's clear we need two (possibly three to avoid changing behavior in a subtle way) fields in `Format`. However we need to decide what those fields should be called, what they should be set to if one or the other is not present in the media, and how to map values specified in HLS, SmoothStream

[2020-01-09 19:00] alexzhan224 commented on #6848
AWS Elemental MediaTailor supports the ability to initialize the session using "client-side reporting mode". This means that the service will give you a m3u8 as well as a tracking endpoint. You poll the tracking endpoint and it will then return metadata on what segments are ads vs content, as well as all the other information related to reporting/beaconing. Does this satisfy your use case: https:/

[2020-01-09 21:24] chrisfillmore commented on #6853
Thinking about it, there is not a great solution to the problem of "what happens if reading the error response fails". I think the right thing to do, in that case, is to set the new error response field to an empty string or byte array. It's not perfect but it is an incremental improvement. If users run into this particular problem, then they could investigate a better solution.

What do you think

[2020-01-10 00:11] kentherzz commented on #6343
For me it seems like it only happens with 1080i and not 720i... Only affects Full HD...
Really strange bug!

[2020-01-10 02:17] HGYEONG opened #6855 "How to get observed fps, bitrate on RTSP"
I have used exoplayer for playing RTSP on android.
But, I have a trouble.
I need a observed information of RTSP, such as bitrate, fps, delay time.
The information must be checked on real time.

Do u have any idea for this problem?

[2020-01-10 02:51] PhanSon95 commented on #6841
@marcbaechinger I've sent video to dev.exoplayer@gmail.com, but I recived email like this
[code]
You can download video [here](https://drive.google.com/file/d/1JGX52ZkG1OgTZ-PgH-04yjK1AcOWiQdY/view?usp=sharing) and check it help me.
Updated: This is video 360 top and bottom
Thank you so much !!

[2020-01-10 04:32] imbichitra commented on #6723
If i use PlayerView as below
[code]
Following error is shown
[code]
when get findViewById
[code]

**How can i use SurfaceView in my xml file**.

[2020-01-10 05:20] GouravSna commented on #6730
@ojw28 , I also don't have more info than this. If possible please check this or else close it.

[2020-01-10 06:43] Angry-Nerd commented on #6848
Thanks so much man. You have made my day. It's a ton of help.

I have one last query that the segment.url I am printing gives me the urls of the clips that are going to be played but if a Ad's gonna play it gives me a segment not the Ad url. Can you help me with that please? I am unable to get that what that segment is. It is like a relative path to any folder.

I am getting .ts files for clips bu

[2020-01-10 08:01] HarrisSuleman commented on #6843
By using 2.10.5, i am unable to find addListener function of SimpleExoPlayer class. But by using addAnalyticsListener, i have found some logs in my log cat (shared below). The code was used is:

[code]

Please look into this:
[code]

[2020-01-10 08:51] Angry-Nerd commented on #6848
In ExoPlayer, Can I use client side reporting? If so, how can I do that.
I am getting the MediaTailor endpoint and just passing it to ExoPlayer and its doing everything.
How can I track at client side?

[2020-01-10 09:26] zvonkokemperle commented on #6801
@tonihei
Please note that this is only reproducible when a signed builds (it doesn't matter if you use debug or release).

I am using:

Android Studio 3.5.3
Gradle 5.4.1

Nothing helps other than android.enableD8.desugaring=false This could maybe also be a bug in D8.

[2020-01-10 09:51] ojw28 commented on #6853
It seems quite error prone to do that. If someone has a service where the empty body means something different to a non-empty body, they'll have no way to disambiguate whether an empty body is because the read failed, or because the body really was empty. So I think my preference would still be to throw "something else" in that case. Which is also consistent with what would happen if there was a p

[2020-01-10 10:13] marcbaechinger commented on #6843
Thanks!

The log shows that the audio track of that stream is not supported by ExoPlayer (see `supported=NO_UNSUPPORTED_TYPE` in the line below):

[code]

If you want enable that type of audio stream you need to use the ffmpeg extension of ExoPlayer which does decode in software.

[2020-01-10 10:16] HarrisSuleman commented on #6843
How can i get the ffmpeg extension of ExoPlayer ?

[2020-01-10 10:28] marcbaechinger commented on #6855
The `Player.EventListener` has a callback `onTracksChanged` which is called when a track selection has occured. It reports which track has been selected. You can for instance get the `Format` of the current video track. This format does include fields like bitrate and fps of the track currently being played.

I'm not sure whether I understand the question correctly I'm afraid. Please let me know i

[2020-01-10 10:28] tonihei commented on #6801
There must be something else.

I just did the following:
 - Downloaded a fresh install for Android Studio 3.5.3 for Linux
 - Created a new project with an empty activity with Java code and using AndroidX, minSdk 16.
 - Ensured that gradle 5.4.1 and gradle plugin 3.5.3 are used.
 - Enabled Java 8 support by adding `compileOptions { targetCompatibility JavaVersion.VERSION_1_8 }` to the apps' build.g

[2020-01-10 11:56] jrocharodrigues commented on #6853
@ojw28 i think that's a good idea. Throw "something else" when trying to read the responseBody from the InvalidResponseCodeException.
That way if you don't need the body you have the current behaviour, and if you need it you are "forced" to handle that case.

[2020-01-10 12:02] Shubham740 opened #6858 "Can we set different play back speed at different timestamps?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-01-10 12:54] chrisfillmore commented on #6853
Some ideas:
1. Make the field nullable (null means failed to read, empty string means nothing there, otherwise the response body)
2. Add another field to InvalidResponseCodeException that signals whether the error response body was successfully read. (Something along the lines of `C.RESULT_NOTHING_READ` vs `C.RESULT_END_OF_INPUT` ... or something else, open to suggestions here.)
3. If reading the

[2020-01-10 12:56] jrocharodrigues commented on #6853
@chrisfillmore i was thinking in the same lines of your point 3.

The method getResponseBody() on the InvalidResponseCodeException would throw the exception originated from the parse of the error stream.

[2020-01-10 13:04] chrisfillmore commented on #6853
@jrocharodrigues ok I see what you mean now. That's a good idea; I'm on board. @ojw28 do we have your blessing?

[2020-01-10 13:11] zvonkokemperle commented on #6801
@tonihei

It really looks like that this is some kind of Android Studio or Gradle caching bug. Invalidate caches and restart did the trick, It's strange as I did this before and it didn't help. Currently I can't reproduce this anymore. I really hope that this is the solution.

Thank you for your help.

[2020-01-10 14:29] tonihei commented on #6801
Good to know. We had this before that ExoPlayer updates with subtle API changes caused Android Studio to build something wrong, possible based on cached data. Invalidating the caches helped in almost all cases so far :)

[2020-01-10 14:30] tonihei commented on #6801
@TsmileAssassin Can you also try to do invalidate caches and restart again to see if it works?

[2020-01-10 14:45] krackjack234 opened #6859 "Is it mandatory to integrate leanback extension for playback on TV"
### [REQUIRED]
Searched documentation and issues but didnt find required answer

### [REQUIRED]
We understand leanback extension is more to do with TV UI and not to do with actual playback.

Is it advisable to integrate leanback extension ( [https://bintray.com/google/exoplayer/extension-leanback/) ]) with exoplayer to support playback on tv platform ?

If yes, do the exoplayer extension for leanb

[2020-01-10 14:48] marcbaechinger commented on #6858
If I understand your question correctly you could create a message which is executed at a given playback position:

[code]

Let me know if this helps or give me some more details of what you are trying to achieve.

[2020-01-10 14:57] andrewlewis commented on #6794
If "profile with key frames" refers to a special keyframe-only 'track' provided by the container or streaming standard, I think we don't support this out of the box (see also #474).

If your streams have frequent keyframes you may be able to get a better user experience with some changes at the app level as follows:
- When the user starts seeking, issue a sequence of seeks to create the impression

[2020-01-10 14:57] #6794 closed, assigned to andrewlewis

[2020-01-10 14:59] marcbaechinger commented on #6859
If you want to integrate with Leanback you probably want to provide a `PlayerAdapter` which uses ExoPlayer. The leanback extension provides such a player adapter implementation, so you don't need to do your own. It saves you some time.

The extension provides a `PlayerAdapter`. So in the sense that the extension provides all the feature of a PlayerAdapter, it is feature complete.

Of course. The l

[2020-01-10 15:02] marcbaechinger commented on #6850
Let us know whether this solves your problem. As @andrewlewis mentioned you need to add SilenceMediaSources to the concatenating media source. It also appears as an additional window in between the actual media tracks.

[2020-01-10 15:07] marcbaechinger commented on #6843
It's part of this repository.
Please see https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg

[2020-01-10 15:08] marcbaechinger commented on #6848
Maybe @alexzhan224 can answer this question. I don't have experience with AWS Elemental MediaTailor I'm afraid.

[2020-01-10 15:27] marcbaechinger commented on #6841
When I'm adding the file to the ExoPlayer demo app and play the file it always starts at the same angle. It always starts with the view pointing to the YouTube logo which then turns into 'WULFI'.

[code]

I don't think there is an issue with ExoPlayer regarding playback of that file.

[2020-01-10 15:41] PhanSon95 commented on #6841
@marcbaechinger Thank you because help me check it.
I realize bug can be reappear:
- First: Open video on portrait mode`correct angle`, rotate device -> fullscreen `correct angle`
- Second: Open video, now, angle of video rotate 90 degree to the left `incorrect angle`
Again..Again
Seem angle was cached after I change video to fullscreen. I think

[2020-01-10 16:06] ojw28 commented on #6853
My suggestion was actually to throw something simpler. I'd be tempted just to treat it as a generic `HttpDataSourceException` with `TYPE_OPEN`, which is what gets thrown in the case that the response headers aren't read. The reasoning for this suggestion would be:

1. Nesting an optional non-cause exception inside an exception, to explain why the exception itself is incomplete, seems pretty weird.

[2020-01-10 16:51] chrisfillmore commented on #6853
Ok, I want to take a closer look at the behaviour of `HttpURLConnection#getErrorStream()`, because I'm getting conflicting information. [Android docs](https://developer.android.com/reference/java/net/HttpURLConnection.html#getErrorStream()) say:

But Android Studio tells me that getErrorStream() never returns null.

To be safe, I'm going to add a null check. I'll open a draft PR so you can give me

[2020-01-10 17:30] JohnGalt1717 commented on #6844
@marcbaechinger sorry for the delay. Looks like this might have been a fixed bug between the Xamarin Exo bindings and now for HLS. I'm trying to confirm.

[2020-01-10 18:18] ojw28 commented on #6155
We have an initial fix for this, but are discussing a few different options that might be a bit nicer.

If it would be helpful for you to have the fix ahead of that discussion being resolved, please let me know and I can put the initial fix that we have somewhere for you to patch (note: you'll need to build ExoPlayer from source to make use of it, rather than using regular gradle dependencies).

[2020-01-10 18:26] kschults commented on #6155
What's the timeframe for the other options making it into a release? Days? Months?

[2020-01-10 18:42] wallyho commented on #6671
HI we do have a stream that we can send you. I would like to reopen this issue.

[2020-01-10 19:44] ojw28 commented on #6671
Please send the stream as requested, and ping this issue after it's sent. Thanks.

[2020-01-10 20:14] dryganets opened #6862 "Make Metadata-extractors fail fast"
### Use case description
Right now incorrectly videos with incorrect metadata failing to play with cryptic assert:
`Loading finished before preparation is completed`

The most primitive scenario is to pass 0-length video.
You could try it in any sample app.

Failure to find the moov segment by any reason causes the same assert.
I guess failure to find tracks will cause the similar problem as well.

[2020-01-10 20:30] ojw28 commented on #6862
ExoPlayer is a library for playing media, which in the vast majority of cases should be well formed. It's not intended to be a library for debugging exactly what's wrong with malformed media, and there are various other tools for this purpose. Furthermore, adding such logic would likely add *a lot* of code into our extractors for better debugging of unusual cases. I don't think it's worth it.

Are

[2020-01-10 21:51] dryganets commented on #6862
I agree for the user there is no difference why video is not playing, but there is a difference for the application developer. And meaningful messages will definitely make the debugging loop shorter which will result in better user experience as the problems will be addressed faster.

Isn't it better to see an exception that video was 0 size instead of just `Loading finished before preparation is

[2020-01-11 02:06] #6786 closed, assigned to Samrobbo

[2020-01-11 02:06] #6634 closed, assigned to ojw28

[2020-01-11 07:40] Mary-a67 commented on #6852
thanks for your attention ^_^
I used playerView in my activity layout and  AspectRatioFrameLayout for player cutom layout (app:player_layout_id:exo_simple_player_view), because i want to show controller on my player (like youtube) and use top and bottom of page (player) for other usage. [like this](https://gofile.io/?c=5sU2zD)
The problem is when AspectRatioFrameLayout can't be calculate, controll

[2020-01-11 09:09] Tolriq commented on #6862
@ojw28 I have an use case for that, my application can play media from many different sources in nearly any possible formats.

Some of the sources supports transcoding to adapt the media to the player, but it's a lot of work to manually detect the special codecs that some devices support, so it would be nice to be able to have a nice and quick explicit failure explaining that it's because no extra

[2020-01-11 15:39] krackjack234 commented on #6859
Thanks @marcbaechinger

[2020-01-12 14:13] ilpelatodijavascript opened #6863 "Rewind live ProgressiveMediaSource"
Hi, I tried doing this
[code]
to rewind one second of my live stream.

This is how I play my live source:
[code]

Is this even possible or I'm doing it wrong?
Thanks

[2020-01-12 18:20] haohaozaici opened #6864 "buffer dropped when decode h264 25fps video"
### [REQUIRED] Searched documentation and issues
According to https://github.com/google/ExoPlayer/issues/2159, I checked the ffmpeg, VP9 and av1 extension related code.

### [REQUIRED] Question
I am trying to implement a ffmpeg video renderer extension. When decoding h264 25fps video, I found that a large number of buffers are dropped, but it does not happen when decoding h264 60fps video.

In the

[2020-01-13 00:31] HGYEONG commented on #6855
In my case, it doesn't happen that track selection has occured.
I want to get information of RTSP when I see my RTSP live streaming on exoplayer.

[2020-01-13 03:38] haohaozaici commented on #6864
I use `VideoDecoderOutputBuffer` and `VideoDecoderGLSurfaceView` to display the decoded yuv data on the surface.

Here is the status of DecoderCounters when decoding
[code]

[2020-01-13 04:17] imbichitra commented on #6723
Thanks, finally i did this.

[2020-01-13 05:09] HGYEONG commented on #6855
Thank you for your reply!

In my case, the video is live streaming.
Is your solution good in my case?
If it's okay, please show me an example!!

[2020-01-13 05:49] Shubham740 commented on #6858
This is working but maybe there may be some milliseconds delay when its change the speed..
I want to set speed 0.5f at 0 to 5 interval, 1.5f at 5 to 10 interval , 2.0f at 10 to 15 second interval and so on..

[2020-01-13 06:38] HarrisSuleman commented on #6843
I ran the demo project in my Android Studio. I changed the build variant of demo project from noExtensionsDebug to withExtensionsDebug and then compiled the project and run the project according to this [link](https://exoplayer.dev/demo-application.html#enabling-extension-decoders). I added my stream link in media.exolist.json. The format is following:

[code]

But when i play my stream in demo pr

[2020-01-13 08:10] chanbbong opened #6865 "How do I update cookie while the player is playing?"
I play video with a cookie that has a 60 second expiry.
So when the cookie expires, the video stop playing.
How do I update cookie in playing?
How to check expired cookie?
Should I use `player.prepare()` periodically?
If I use `player.prepare()` periodically, buffering occurs every time.

[2020-01-13 08:53] ojw28 commented on #6862
There's already an explicit way to determine whether the file contains a track with an unsupported codec. You can see this case logged in the demo app, with `NO_UNSUPPORTED_TYPE` appearing in the logs. You can write similar logic to detect this case yourself (and then do whatever you want). The relevant code in `EventLogger` is [here](https://github.com/google/ExoPlayer/blob/r2.11.1/library/core/s

[2020-01-13 09:10] phharley17 opened #6866 "What Am I missing while compiling FFmpeg extention on Windows?"
### [REQUIRED] Searched documentation and issues
Hi, I know most of you work on Linux but I am hoping at least to have some clarification on what I could be missing or where would I be able to find the compiled binaries, if any. I have reviewed #3852 and #3127 about this. I really don't think what @Crossady claimed was accurate because Powershell by default cannot understand your .sh batch script

[2020-01-13 09:14] Tolriq commented on #6866
This means you have no make.exe in your path.

Personally I'd recommended to try WSL to have linux under Windows, works nicely to compile this extension :)

https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2020-01-13 09:24] Tolriq commented on #6862
Thanks it still makes looking a multiple different places and time frame but seems to cover the major cases.
But there's something strange that I encountered when looking at https://github.com/google/ExoPlayer/issues/6837

That logger report that there's only one track, that it's associated to the renderer yet it's not supported.
And ExoPlayer ends up by having a proper timeline and duration, play

[2020-01-13 09:55] ojw28 commented on #6862
Ah yes, the link I provided was to slightly the wrong place, since you'd expect unsupported audio/video tracks to be mapped to the respective renderers. Still, it's clear there's more than enough information in `MappedTrackInfo` to do what you need.

Note that this discussion is all off topic from the original request, which was about errors that currently result in `new ParserException("Loading f

[2020-01-13 09:56] phharley17 commented on #6866
Thank you. And Interesting I will give that a try. But, also have this specific setup. I have Ubuntu downloaded from the Store and enabled WSL from settings, rebooted and I still don't know what would I be missing?

[2020-01-13 09:58] Tolriq commented on #6866
You need to start the compilation from WSL :) Run unbuntu from start menu. If it still does not work then your WSL lacks the necessary tools so just install them:
```sudo apt-get install build-essential```

[2020-01-13 10:00] phharley17 commented on #6866
Giving that a try at the moment, I also just used "sudo apt install make" and got it installed. Fingers crossed.

[2020-01-13 10:05] Tolriq commented on #6862
Thanks, the details are out of the original request, but I was at first hoping for something related being a function that given a MediaSource would return a well defined result saying ok or not ok with a set of reasons. Seing your answers I guess making a feature requests for this have no chance to be accepted?

[2020-01-13 10:05] #6723 closed, assigned to kim-vde

[2020-01-13 10:05] tonihei commented on #6858
There is also a pending feature request to set playback speed at frame-accurate positions (e.g. at transitions between media items) in #6649.

[2020-01-13 10:09] ojw28 commented on #6862
It's not feasible to implement such a feature in a sensible way. Codec support isn't even evaluated in the `MediaSource`, since it's not the `MediaSource`s responsibility to try and play the media.

[2020-01-13 10:17] marcbaechinger commented on #6855
This works for any stream including live.

The demo app is a good example. It shows you how you can setup the player and add an event listener. It's not too difficult and it's always worth to look into existing samples in a project. You find [the demo app as part of this repository](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/Play

[2020-01-13 10:18] marcbaechinger commented on #6859
Cool. I'm closing this issue. Please reopen if required.

[2020-01-13 10:18] #6859 closed, assigned to marcbaechinger

[2020-01-13 10:19] phharley17 commented on #6866
@Tolriq, Thank you for the help. It seems like it worked this time. Everything compiled with no errors, although lots of "deprecated" warnings. I wonder if that is normal?

I also have about 5 .so binaries on each arch folder inside of /main/libs/, now how do I take those files and add them as implementation or to my project any step I might have missed.

[2020-01-13 10:24] Angry-Nerd commented on #6848
@alexzhan224 Can you help me last question?

@marcbaechinger Can you help me in the second last question?

[2020-01-13 10:26] Tolriq commented on #6866
Yes FFmepg have warnings :)

You now either use a local exo build as per the FAQ: https://github.com/google/ExoPlayer/blob/release-v2/README.md or you can build an AAR of just the extension and use that in your builds (./gradlew assembleRelease)

[2020-01-13 10:30] phharley17 commented on #6866
Awesome. Thank you so much for the help!

If ExoPlayer's maker doesn't mind I can write down a guide for dummies like me to get it compiled on Windows.

[2020-01-13 10:35] ojw28 commented on #6866
That would be great; thanks!

[2020-01-13 11:14] marcbaechinger commented on #6848
I do not completely understand that question I'm afraid. Can you provide me with a sample stream so I can look into that myself?

Alternatively, you can yourself to do a break point in the `onTimelineChanged` method and then inspect the manifest with the debugger. Should be kind of straight forward to get what you need that way?

[2020-01-13 11:18] marcbaechinger commented on #6843
You need to compile the ffmpeg extension. There is a detailed howto here: https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg

[2020-01-13 12:40] ojw28 commented on #6858
It's unclear from the title of #6649 whether it's tracking the general case (the ability to change at a specified timestamp), or the more specific case (the ability to change at a transition between items). If the intention is that #6649 is tracking the general case, I'd suggest updating the title of that issue to accurately reflect that, and duplicating this issue to it.

[2020-01-13 12:50] ojw28 commented on #6730
Closing for now because there's not enough information to go on.

[2020-01-13 12:50] #6730 closed, assigned to ojw28

[2020-01-13 12:56] Angry-Nerd opened #6867 "Any way with which we can identify the url of currently playing video from HLS stream playlist."
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-01-13 13:37] Debayudh opened #6868 "Does leanback extension provide any advantages over direct player implementation for Activity responsible for Playback?"
### [REQUIRED] Question
Hi,
We have an exoplayer implementation that is already running our streaming mobile app.
Now that we are expanding our scope to androidTV, we are looking at the leanback extension.
Is there any developmental advantage/method that LeanbackPlayerAdapter provides over a plain implementation of exoplayer?
Currently, we are not using SurfaceHolderGlueHost/PlaybackGlueHost/Video

[2020-01-13 13:38] ojw28 commented on #6867
Please can you fill the issue template in properly and give your issue a title that's a sensible length, like other issues on this issue tracker. Thanks.

[2020-01-13 13:42] ojw28 commented on #6868
The leanback extension is an optional component for connecting ExoPlayer to the leanback UI components. If you want to use the leanback UI components for your app's TV UI, then you should use it. If you don't want to use them, then you shouldn't. It doesn't do provide any additional or hidden benefits.

[2020-01-13 13:42] #6868 closed, assigned to ojw28

[2020-01-13 14:07] Debayudh opened #6869 "Does amazon fire stick support default exoplayer, or will we need to use amazon's exoplayer port?"
### [REQUIRED] Searched documentation and issues
Searched but did not find anything relevant.

### [REQUIRED] Question
For supporting playback on Amazon fire stick, will our default exoplayer implementation work, or do we need to use the exoplayer port published by amazon on:
https://github.com/amzn/exoplayer-amazon-port

[2020-01-13 14:15] ojw28 commented on #6869
See https://github.com/google/ExoPlayer/issues/4947

[2020-01-13 14:15] #6869 closed, assigned to ojw28

[2020-01-13 14:23] Cubxity opened #6870 "Ability to play downloaded streams by content id"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Ability to play downloaded content using the contentId provided in DownloadReques

[2020-01-13 17:03] adnan-dzindo-ct opened #6871 "Program type already present"
I added the latest Exoplayer library, now I have naming conflict probably several libraries use same support lib. Any Idea how to resolve this

D8 Error:
Program type already present: **android.support.v4.media.MediaBrowserCompat$CustomActionCallback**

[2020-01-13 17:21] Angry-Nerd commented on #6867
Hi,

I am using exoplayer and I am streaming HLS media playlists. I want to know that is there any way with which we can identify the url of currently playing video.

In OnTimelineChanged in EventListener, I am getting a callbacks whenever new item starts playing. I want to know the URL of the video that is currently being played in this callback.

Thanks.

[2020-01-13 18:05] wallyho commented on #6671
Hi, We tried the HLS streams we were giving and they did not repro the issue. We are asking Amazon music to get us a stream so we can send you.

[2020-01-13 18:14] ojw28 commented on #6867
_Please_ file future issues so the title isn't huge (you can still edit this one to be a sensible length). And fill in the issue template properly, rather than just leaving it there without anything filled in.

[2020-01-13 19:43] ojw28 commented on #6671
Please ping this issue _after_ a stream has been provided, and we will reopen it then.

[2020-01-13 19:46] greyski opened #6872 "Supporting decoder reuse when calling release()?"
### [REQUIRED] Searched documentation and issues
I looked over the documentation and links in the blog post regarding decoder reuse: https://medium.com/google-exoplayer/improved-decoder-reuse-in-exoplayer-ef4c6d99591d

### [REQUIRED] Question
It can probably be assumed (even having looking at the source code it seems to be the case), but should we also avoid calling `release()` if we want to suppo

[2020-01-13 19:50] ojw28 commented on #6870
Assuming this is for progressive content, which it seems to be based on the screen capture you've provided (which uses `TYPE_PROGRESSIVE`), then you can use `customCacheKey` for this. It's purpose is exactly to allow mapping multiple URLs onto the same cache key, to handle the case where the streaming URL might change.

When building the `ProgressiveMediaSource`, use `setCustomCacheKey` on `Progre

[2020-01-13 21:48] ojw28 commented on #6872
`release()` will always clear out the media decoder.

[2020-01-13 21:48] #6872 closed, assigned to ojw28

[2020-01-13 21:56] ojw28 commented on #6871
[Please see here?](https://www.google.com/search?q=Program+type+already+present%3A+android.support.v4.media.MediaBrowserCompat%24CustomActionCallback)

[2020-01-13 21:58] ojw28 commented on #6865
@tonihei - Probably a use case for `ResolvingDataSource`? Do we have any documentation describing how to do this?

[2020-01-13 22:01] ojw28 commented on #6863
Assuming it's a progressive stream (i.e., you're using `ProgressiveMediaSource`), seeking/rewinding is not supported. https://github.com/google/ExoPlayer/issues/6562 tracks adding support for that, however if you control the serving side you should consider using DASH or HLS instead, which are properly designed to support seeking in live content.

Closing as a duplicate of https://github.com/googl

[2020-01-13 22:01] #6863 closed, assigned to ojw28

[2020-01-13 22:04] ojw28 commented on #6864
This question appears to be about a custom extension, rather than about the ExoPlayer library. Hence falls outside the scope of the issue tracker.

The issue is also not reproducible because you haven't provided any information on where we might obtain your custom extension. Marking as needs more info for now, because it's not possible to provide guidance without being able to reproduce the proble

[2020-01-14 00:12] HGYEONG commented on #6855
Sorry, I have one more question.

I don't want to make track list, but your solution need to make track list.
Is it okay to use for just one live streaming?

[2020-01-14 03:28] haohaozaici commented on #6864
Thanks for reply ~

I push my code to https://github.com/haohaozaici/ExoPlayer/tree/release-v2/extensions/ffmpeg-haohao. You can run the debug apk directly, or you can download the project and run it. Maybe you need my compiled libffmpeg.so file and video file.

[demo-withExtensions-debug.apk](https://drive.google.com/file/d/1xPaxYGl1r0VGpt7k25u8F7b6aRb64wdy/view?usp=sharing)
[libffmpeg.so(arm64-v

[2020-01-14 04:12] HGYEONG commented on #6855
Thank you!

But, I don't understand one point of your answer.
What is track means?

[2020-01-14 05:35] HGYEONG commented on #6855
This is my code.
It play very well, but I can't see any format for bitrate and fps...

import android.net.Uri;
import android.os.Bundle;
import android.util.Log;

import androidx.appcompat.app.AppCompatActivity;

import com.google.android.exoplayer2.ExoPlayerFactory;
import com.google.android.exoplayer2.PlaybackPreparer;
import com.google.android.exoplayer2.Player;
import com.google.android.exopla

[2020-01-14 06:07] Cubxity commented on #6870
@ojw28 also, would this be possible for DASH and HLS?

[2020-01-14 06:21] shubhamvashisht opened #6873 "Render subtitles from an SRT file along with an audio source"
### [REQUIRED] Searched documentation and issues
searched on stackoverflow

### [REQUIRED] Question
I want to render subtitles from an .srt file in subtitleview along with an audio source. Is there any good example which demonstrate something similar?

### A full bug report captured from the device

### Link to test content

[2020-01-14 08:37] Angry-Nerd commented on #6848
I have one last query that the segment.url I am printing gives me the urls of the clips that are going to be played but if a Ad's gonna play it gives me a segment not the Ad url. Can you help me with that please? I am unable to get that what that segment is. It is like a relative path to any folder.

Basically I want to trigger an Ad.
The exoplayer have a method isPlayingAd, so can I use that to c

[2020-01-14 09:08] Angry-Nerd commented on #6848
How exoplayer is checking that whether an Ad is playing or not from the HSL stream?
Where it is setting that?

Thanks

[2020-01-14 09:43] zvonkokemperle commented on #6801
@tonihei
Actually the issue persists. I finally found the cause. It's a bug in Gradle Plugin and it has something to do with Dexing Artifact Transformations.
Steps to reproduce:
1. Create a library that is using Exo Player, e.g. init the player add EventListener and return it
2. Create App that uses the generated aar from step 1.
3. In the App call the library method that returns the player

You w

[2020-01-14 10:12] ojw28 commented on #6873
Have you [read the documentation](https://exoplayer.dev/media-sources.html#side-loading-a-subtitle-file)? If not, does that answer your question? If so, which part are you stuck on?

[2020-01-14 10:27] ojw28 commented on #6870
DASH and HLS are significantly more complicated because you're no longer dealing with one URL, but many URLs. Which of the URLs can change and how many there are depends on exactly how the content is being produced.

Are you in control of the serving side? If so, what are the properties of the streams you want to do this for (e.g. does every segment have its own URL or do you have one URL per vari

[2020-01-14 10:34] marcbaechinger commented on #6848
No.

ExoPlayer does not know about these ads. For the player these are just segments which play. No semantics are known to ExoPlayer.

For having the `isPlayingAd` working an `AdMediaSource` needs to be used. This is not the case for ads stiched in on the server side.

[2020-01-14 10:38] marcbaechinger commented on #6855
What is

[code]

giving you?

https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/library/core/src/main/java/com/google/android/exoplayer2/Format.java

[2020-01-14 10:41] marcbaechinger commented on #6867
@Angry-Nerd

This is not much different to what you asked in #6848 I believe. I think it would be appropriate to limit that discussion to one of these issues.

[2020-01-14 11:03] Cubxity commented on #6870
@ojw28 I am not in control of the serving side. I'm currently developing an app that supports various streaming services. The Dash/HLS url does refresh/expire after a while. I would like to be able to play and download a dash/hls video with some unique media id.

[2020-01-14 11:33] #6867 closed, assigned to ojw28

[2020-01-14 17:04] roundsmapp commented on #4924
Hello, @ojw28 and @andrewlewis , the problem has resurfaced. It was apparently doing well, but when we tested it on a Samsung Galaxy S9 (SM-G9650), the app showed the exact same problem, with the audio failing to play smoothly.

The very same test was done, using the std exoplayer, 2.11.1 and playing a ogg audio file with 8 channels, stored locally in the device.

But, it also showed a very, very

[2020-01-14 18:24] perracolabs commented on #6750
Getting a similar exception, from time to time. It happens when rotating the device orientation and the player gets recreated.
The player uses the surface from an external TextureView in order to use shaders, and is assigned via the setVideoSurface method.
I can only reproduce it if I rotate the device to change between portrait-landscape, but takes a while (several rotations none stop) as it happ

[2020-01-14 18:38] perracodex opened #6874 "ExoPlayerImplInternal: Internal runtime error."
### Issue description
Getting randomly an exception when rotating the device orientation between portrait and landscape, and the player gets recreated.
The player uses the surface from an external TextureView in order to use shaders, and is assigned via the setVideoSurface method.
I can only reproduce it if I rotate the device to change between portrait and landscape, but takes a while (several ro

[2020-01-15 00:34] HGYEONG commented on #6855
![캡처](https://user-images.githubusercontent.com/35682252/72394595-2684da00-377a-11ea-8c80-9db891b14e1d.PNG)

I can't get anything...

[2020-01-15 09:36] andrewlewis commented on #6874
`android.media.MediaCodec.setOutputSurface` is throwing and there is logging like "MapperHal: buffer descriptor with invalid usage bits 0x2000".

When you call `release` ExoPlayer blocks until codecs have been returned to the system, so as long as you use player instances only from the main thread then all usage will be serialized.

If you switch to using a normal `SurfaceView` for output (no shad

[2020-01-15 09:45] marcbaechinger commented on #6855
You can always refer to the Java Doc of ExoPlayer to see what fields and methods a class like `Format` has. Try [this example of the JavaDoc of Format](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Format.html) and see if it helps.

Another, a bit more advanced technique for open source projects, is to look into the source code. It could [tell you how the toString() method cons

[2020-01-15 10:33] l1bbcsg opened #6875 "How to detect DefaultTrackSelector selecting no tracks?"
### [REQUIRED] Searched documentation and issues

Couldn't find particular documentation on how to deal with `TrackGroupArray` and `TrackSelectionArray`.
Several relevant issues seem to mostly address ExoPlayer v1.

### [REQUIRED] Question

Suppose a DRM protected content that's being played without a `DrmSessionManager` initialized (which is an error and I'm trying to handle it).

[code]

The str

[2020-01-15 11:15] tonihei commented on #6865
Yes, it sounds as if you can solve this by using a `ResolvingDataSource` that sets the right cookie for each request at the time the request is made. See [here](https://exoplayer.dev/progressive.html#customizing-server-interactions) for an example how to use this data source for setting request headers.

[2020-01-15 11:18] Angry-Nerd commented on #6848
Hi @marcbaechinger

This is kind of sample URLs I'm getting, the ../../ one's are of Ad, Can you tell me how the ExoPlayer is parsing them? I am getting this response in onTimelinesChanged callback.

https://xyza.com/out/v1/an-Integer-Id/master_8_1234561.ts?m=15795
https://xyza.com/out/v1/an-Integer-Id/master_8_1234562.ts?m=15795
https://xyza.com/out/v1/an-Integer-Id/master_8_1234563.ts?m=15795
ht

[2020-01-15 11:48] perracodex commented on #6874
When **not** using at all an external TextureView, and therfore not calling **SimpleExoPlayer.setVideoSurface**, it presents no problem in any of the devices, regardless if using an internal TextureView or SurfaceView via the **app:surface_type** xml tag.

The player is created and released in the UI thread, and each time is a new instance as the view is recreated when changing between portrait an

[2020-01-15 12:00] marcbaechinger commented on #6848
ExoPlayer does parse the media playlist which has a base url. Then the url of the segment/chunk is constructed as follows:

[code]

If you have the manifest in onTimelineChanged you can cast it to a `HlsManifest` and the use UriUtil just the same:

[code]

[2020-01-15 12:14] FOUADFAISAL opened #6876 "exoplayer 2.9.6 not work with androidx"
Hi ,
i have android application support androidx .
 I already tried to
 implementation 'com.google.android.exoplayer:exoplayer:2.9.6'
in my app , but every time get exoplayer 2.10.3
this is problem for me because my code of exoplayer was in version 2.9.6  and i cannot upgrade code to 2.10.3
please support me to get 2.9.6 as my request .
best regards

[2020-01-15 12:31] victorraft commented on #6429
Hi @andrewlewis, any news on this one? Do you have an updated ETA?
How can we check the progress on these necessary Javascript changes you mentioned?
Thank you!

[2020-01-15 13:33] andrewlewis commented on #6876
Are you saying that despite depending on 2.9.6 you end up getting version 2.10.3? If so: I wonder whether dependency resolution is causing the newer version to be picked up. Is there an indirect dependency on 2.10.3 from elsewhere in your project or one of its dependencies?

Regarding AndroidX support, it's a bit unclear what problem you're facing. #6804 may help, but if not please provide some mo

[2020-01-15 13:41] Angry-Nerd commented on #6848
Thanks man, That Worked. I am able to get the URL.

But from the playlist a random index clip is getting played. Is there any pattern which tells that this index of the playlist will play.

Can we identify that which clip from this playlist is getting played.

Thanks

[2020-01-15 14:23] VeiZhang opened #6877 "Volume cannot be changed for AC3?"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues/4111#issuecomment-380525205

### [REQUIRED] Issue description
Use "V+" and "V-" on RCU to control system volume, when playing AC3, its volume can't be changed, but other format support. What should I do to correct?

### [REQUIRED] Reproduction steps

[2020-01-15 15:05] Shadkirill opened #6878 "DASH Widevine content seekTo() confusing behavior"
### [REQUIRED] Issue description
When seeks to position playing DASH Widevine content, for a few seconds video playing with changed speed .

### [REQUIRED] Reproduction steps
1) Open demo app.
2) Select "Widevine DASH Policy Tests (GTS)"
3) Select "WV: HDCP not spicified"
4) Seek() to random position few times

### [REQUIRED] Link to test content
Use standart json file in ExoPlayer demo app.

###

[2020-01-15 15:11] ojw28 commented on #6878
The device probably fails our compatibility tests due to platform bugs. You can read about our compatibility tests and how to run them [here](https://exoplayer.dev/oems.html). If that's the case, you should contact the device manufacturer and ask them to resolve the problem. If that's not the case, please let us know.

[2020-01-15 15:14] marcbaechinger commented on #6848
I don't think a random index is played. I'd expect that the segments are played one each after the other. When seeking to the same position the same segment should be played (assuming the playlist does not change like for live streams).

If you past the uri here I can look into it if you want.

[2020-01-15 15:25] mustafaberk1996 opened #6879 "change the dubbing sound of the video while playing a video"
### **Description**

Hi
I have 1 video (.mp4), 2 audio files (.aac/.mp3) and 3 subtitle files (.vtt).

**What do i want ?**
**_for example, the default language of the video is English. When I change the sound the video should resume and the sound of the video dubbing should be in French. As in netflix application._**

I am trying to do this with the following code.

[code]

But when I use it this

[2020-01-15 16:01] ojw28 commented on #6879
`SingleSampleMediaSource` isn't appropriate for audio, which consists of many samples. Your code probably works if you use `ProgressiveMediaSource` instead.

I'm not sure what format your audio streams are in, but if they're raw AAC/ADTS, please note that this really isn't a suitable container format for on-demand content. Seeking probably wont work as a result, and switching track may be extremel

[2020-01-15 17:32] Koster35 commented on #6801
I am also having a similar AbstractMethodError issue using ExoPlayer 2.10.6. This occurs when we call SimpleExoPlayer#setVideoSurfaceHolder() in our ExoPlayer implementation:

[code]

My project is also using Mux 1.0.0-r2.10.6 (https://github.com/muxinc/mux-stats-sdk-exoplayer). Mux listens to Exoplayer's AnalyticsListener interface. When we disable Mux, the issue does not seem to occur.

Also, th

[2020-01-16 00:22] HGYEONG commented on #6855
Okay, Thank you

But, I think this is not suitable method for me because I want to get video information every second when RTSP is playing...

[2020-01-16 03:54] Angry-Nerd commented on #6848
Sorry i can't tell the URI.

Exoplayer is playing an index from the playlist and when next playlist came it is playing the same indexed segment, I think. But the index it is playing when we started the player. How can we get that?

For example from these assume, it is playing the 5th item and when timeline change and new playlist come then even it will play 5th item from new playlist. So it's like

[2020-01-16 05:15] Chuangwen-LIU opened #6880 "Why `DummySurface` is created on a separate thread?"
Might be a dumb question: Why `DummySurface` is created on a separate thread?

I am asking this because we've been using `Codec#setOutputSurface` and the producation failure rate is really high (around 1%). And the only difference between our project and `Exoplayer` regarding how we use `Codec#setOutputSurface` is as follows.

- `Exoplayer` uses a `DummySurface` created on a separate thread.
- We

[2020-01-16 08:31] #6823 closed, assigned to ojw28

[2020-01-16 08:49] HGYEONG commented on #6855
Omg... I'm sorry... :(
This is my mistake and happened lack of knowledge about video streaming.
Your solution is right!!
My streaming is based on video, so it has its information.
As a result, it is the correct output that bitrate is null!

[2020-01-16 09:41] marcbaechinger commented on #6848
Sorry, I don't understand.

Can you add the EventLogger to player.addListener(), then do what you are describing above? You can then describe what happens in the logs which would make easier to understand.

[2020-01-16 10:00] FlorentDambreville opened #6881 "Crash : Trying to Cast a video using ExoPlayer cast extension from a Dynamic Feature Module"
### [REQUIRED] Issue description
I have a crash when I am trying to cast a HLS video from my app to a chromecast. I use the ExoPlayer cast extension.

The code is called from a dynamic module (`apply plugin: com.android.dynamic-feature` can be found in the module's build.gradle).

Here is the [stackoverflow question](https://stackoverflow.com/questions/59755839/how-to-cast-a-video-using-exoplayer-

[2020-01-16 10:19] Angry-Nerd commented on #6848
In short, I am getting HlsManifest in onTimelineChanged() and the manifest contains a number of segments to be played like:

https://xyza.com/out/v1/an-Integer-Id/master_8_1234561.ts?m=15795
https://xyza.com/out/v1/an-Integer-Id/master_8_1234562.ts?m=15795
https://xyza.com/out/v1/an-Integer-Id/master_8_1234563.ts?m=15795
https://xyza.com/out/v1/an-Integer-Id/master_8_1234564.ts?m=15795
https://xyz

[2020-01-16 10:55] waqasyousafy commented on #6605
where is the solution brothers i am facing the same problem

[2020-01-16 11:24] ppodgorski commented on #3752
@ojw28 Is there any new information on this issue?

[2020-01-16 13:30] ojw28 commented on #6155
The final solution looks like it's going to be quite involved, and will likely be included in 2.12.0. In the meantime, I plan to put a temporary fix into the next 2.11.X release. The fix should make it into the dev branch this week, however the release itself will probably in approximately 2 weeks time.

[2020-01-16 13:55] ojw28 commented on #6798
This should be fixed in `dev-v2` now. Could you give it another try and verify?

Note that there's still some additional work to be done, which should speed up resumption in the case that the process is still in memory (and also fix this case if `getScheduler` is implemented to return `null`). See the TODOs added in https://github.com/google/ExoPlayer/commit/51f2723b905ee76c9e6823dbd9ff7f3ed4f3f71

[2020-01-16 14:30] kschults commented on #6155
That's perfect, thank you so much!

[2020-01-16 14:49] mustafaberk1996 commented on #6879
thanks for your answer @ojw28

The video worked when I use ProgressiveMediaSource. I used it like this.

[code]

but **I couldn't change the dubbing sound** with the `setPreferredAudioLanguage ("<language-code>") `method.

I use the .mp3 audio format, not .aac.

sorry, but I can't use a .mkv file.

**_I want to give you an example from netflix. When we want to download a video from the Netflix app

[2020-01-16 16:16] perracodex commented on #6874
I was able to create a test project that reproduces the problem, Find it attached to this message.
Even if the code makes not much sense, is all set to force the issue. Try it if possible in old devices, in newer faster devices can take a while to reproduce.

The steps to reproduce it is quite simple and very boring to execute:

1) Run the app, and then rotate the device between portrait-landscape

[2020-01-16 17:10] sruditsky opened #6883 "IndexOutOfBoundsException in DashMediaSource$DashTimeline.getPeriod"
### [REQUIRED] Issue description
We experience occasional exceptions with the stack trace provided below:
Caused by: java.lang.IndexOutOfBoundsException: index = -1; start = 0; limit = 5
at com.google.android.exoplayer2.util.Assertions.checkIndex(SourceFile:1)
at com.google.android.exoplayer2.source.dash.DashMediaSource$DashTimeline.getPeriod(SourceFile:1)
at com.google.android.exoplayer2.Timeline

[2020-01-16 20:07] julioz commented on #2863
@ojw28 The proposal sounds very reasonable to me.

It does introduce a small extra bit through the learning curve of the API: I assume most consumers read `bitrate` and aren't interested in whether it's an `average` or `peak`, so if we decide to `@deprecate` that field, we must make sure we point people to either this documentation or some other clarification of the semantic differences.

(I did s

[2020-01-16 20:37] ojw28 commented on #6155
Should be fixed in the `dev-v2` branch.

[2020-01-16 21:53] stevemayhew commented on #474
Depends on the density of I-Frames in the track, the compression of the I-Frame, network bandwidth, frame rate the codec hardware you have will support.

If you have 2 second GOP then the base rate would be .5fps,  so even 30x would be 15fps, very possible.

[2020-01-16 22:03] #6552 closed, assigned to andrewlewis

[2020-01-16 22:04] stevemayhew commented on #474
@2wchuang reverse is possible (in theory), however the current `PlaybackParameters` restricts this with an assert (wisely so, as it will take rework to support this).   For normal streams (mix I/B/P with audio) reverse playback is practically impossible.   With an IFRAME only stream (and only rendering video) it is certainly possible, we are investigating a design for this but it will take changes

[2020-01-16 22:40] hkim2013 opened #6884 "Is Androidx required starting from Exoplayer v2.10+?"
### Searched documentation and issues
I've seen a similiar issue raised here: https://github.com/google/ExoPlayer/issues/5870

### Question
I've recently updated from Exoplayer v2.9.0 to v2.19.0.
My application work by enabling Jetifier.

I've checked the release notes, I was unable to find Androidx being required to use with Exoplayer v2.10.+

[2020-01-16 23:09] ojw28 commented on #6884
Yes, ExoPlayer has depended on AndroidX since 2.10.0.

[2020-01-16 23:09] #6884 closed, assigned to ojw28

[2020-01-17 00:04] wallyho commented on #6671
Hi,
   This stream will reproduce it. Our internal stream will do it after 3-4 pause and plays are done in a row. With this external stream, you have to do it about 20 times of pause and play. https://d29r7idq0wxsiz.cloudfront.net/DigitalMusicDeliveryService/HPS.m3u8?m=m&dmid=203888005&c=cf&f=ts&t=10&bl=48k128k&s=true&e1=1585035600000&e2=1585035600000&v=V2&n=VSQOMQQIAZ4O6&h=ed366a7001e2ddd26672b0f

[2020-01-17 00:17] casolorz opened #6885 "SubtitleDecoderException appears to prevent the video from starting"
I'm using ExoPlayer `2.10.8`. When I set a bad subtitle, playback fails. Is there a way to make subtitles not do that? Exception below.

Also, is it possible to set subtitles on the fly without restarting the player?

Thanks.

[code]

[2020-01-17 07:14] tejaskanani1 commented on #6763
I also required this type of functionality to manage zoom in/out.

[2020-01-17 07:40] 3-BodyCoding commented on #3751
When is the APE format supported?

[2020-01-17 09:05] HarrisSuleman commented on #6843
Thanks for your kind responses. I will try and let you know. :)

[2020-01-17 10:28] marcbaechinger commented on #6848
Just to repeat myself: if you send me the url with your content I could give you probably better information. I still ask you to do that, so if you find it worth considering, please think about sending a sample url.

You say your use case is to 'trigger ads'. I'm not sure I understand that because the ads are segments in the stream and are played anyway. So I assume what you want is to be aware of

[2020-01-17 10:55] marcbaechinger commented on #6885
I think if you enable a text track and the subtitle file is invalid as the one you tried you can not get around this exception.

The DOCTYPE line at the start may indicate that the server did not find the subtitle file at all and sent an error page instead which is html. Does the server deliver that response with a HTTP 200?

No. That's not possible currently. You can [sideload text tracks ](https

[2020-01-17 11:29] CristianMG commented on #6814
I have a doubt @marcbaechinger

Why adsPlayback has ads groups?
I can understand that this can be a requirement to implementation the ImaExtension.
To illustrate better, an example, I have multiple ads, these ads are distributed across the timeline of my track.
It would be correct make an ad group for each ad? Or
It would be better split my ads in three groups? For example, preroll, midroll, postr

[2020-01-17 11:29] andrewlewis commented on #3751
This issue is marked low priority. We don't have any plans to add support at the moment.

[2020-01-17 12:29] adrian-linca opened #6886 "Avoid Video frame render before exoPlayer.setPlayWhenReady(true)"
I'm using a SimpleExoPlayer instance to play videos with audio.
I'm playing video files from local storage.
Basic stuff, just like the Hello World setup (https://exoplayer.dev/hello-world.html)
The issue I have is that the first frame of the video is rendered before I call exoPlayer.setPlayWhenReady(true).
This, combined with audio latency, creates a small freeze on the first frame of each video w

[2020-01-17 12:35] halilozel1903 opened #6887 "How to use thumbnail in exoplayer?"
The service comes to me with a **thumbnail.json** extension.

http://vod.sportstv.com.tr/498C9EC7-150D-4784-A92E-377E7A434F7D/thumbnails/thumbnail.json

I don't know how to use it.

Help me please ;)

[2020-01-17 13:11] andrewlewis commented on #6887
This isn't related to ExoPlayer so I'm afraid it's not in scope of this issue tracker for us to help. You could try Stack Overflow or a similar site.

[2020-01-17 13:11] #6887 closed, assigned to andrewlewis

[2020-01-17 13:12] andrewlewis commented on #6887
Please see also #5254.

[2020-01-17 13:16] andrewlewis commented on #6814
@CristianMG Ads that should be played at the same position in the content (one after the other) should go in the same ad group. Ad groups are also sometimes called ad pods. So if you only ever want to play one ad between pieces of the content then you'd have one ad in each ad group.

Regarding loading, currently you need to know the positions of all (potential) ad groups at the start, but you can

[2020-01-17 13:30] andrewlewis commented on #6886
You could show an opaque "shutter" view on top of the player layout until you want to show the first frame. `PlayerView` does something similar internally, but as you've noted it hides the shutter when a frame is first rendered rather than when starting playback. The frame layout returned by `PlayerView.getOverlayFrameLayout()` may be a convenient place to put your extra shutter view. Does that do

[2020-01-17 13:37] adrian-linca commented on #6886
@andrewlewis what I want to achieve is smooth transitions between videos, so an opaque view is not a solution.

[2020-01-17 13:40] andrewlewis commented on #6886
Can you use [playlists](https://exoplayer.dev/playlists.html) for that? If not please could you describe in a bit more detail what you're trying to achieve?

[2020-01-17 13:59] adrian-linca commented on #6886
I cannot use playlist or concatenated source because I only know what needs to play next after current video finishes.
I'm just trying to play back to back videos smoothly.
I don't need a workaround, for my project I modified the MediaCodecVideoRenderer and it works fine.
I just think this issue looks like something that should be improved, rendering should not start unless requested by the client

[2020-01-17 14:12] sruditsky commented on #6883
I have more details about the scenario which is causing this exception.

The problem happens when we play a dynamic multi-period DASH content and at some point the number of periods in the MPD is getting smaller, while the period which is being played remains the same. Calling  ExoPlayer.stop(false), ExoPlayer.prepare(..., false, false) is such a state can cause the problem reported in this issue.

[2020-01-17 14:21] adrian-linca commented on #6886
I initially opened this issue as a Question, I thought I was missing something.
Maybe it should be labeled as a feature request or a bug.

[2020-01-17 15:03] #6406 closed, assigned to kim-vde

[2020-01-17 15:35] ojw28 commented on #6885
We have been making our subtitle and metadata decoders more "robust" over time (i.e., by logging an error and continuing rather than throwing). I'm not sure if this makes sense for this case.

The request to add subtitle files on the fly is tracked by https://github.com/google/ExoPlayer/issues/1649.

[2020-01-17 15:42] ojw28 commented on #6862
Coming back to the original request:

Yes, it would definitely be better, but there are many thousands of potential reasons for failure in our extractors. It would not be a good use of time for us to create friendly debug messages for all of them, and it would add a significant amount of bloat to the library.

The well known case is that the media is not malformed. I'm not sure that feeding a file

[2020-01-17 15:43] #6862 closed, assigned to ojw28

[2020-01-17 15:45] ojw28 commented on #6870
Dealing with expiring URLs and not having any control over the media sounds like quite an unusual use case. Is it a legitimate one?

[2020-01-17 16:10] #6758 closed, assigned to christosts

[2020-01-17 16:17] ojw28 commented on #6798
Cleanup is complete, and the changes are in `dev-v2` and `dev-v2-r2.11.2`. The changes were fairly extensive, so I'd really appreciate it if someone has a chance to try it out.

[2020-01-17 16:17] #6798 closed, assigned to ojw28

[2020-01-17 16:22] #6155 closed, assigned to ojw28

[2020-01-17 16:24] andrewlewis commented on #6886
Is the desired behavior to stay showing the last frame of the video that just ended while buffering the next video, then only advance to the first frame of the next video and resume when it can be played without buffering at the start?

@marcbaechinger, @tonihei I tried implementing this using a concatenation and pausing then adding a new media source after getting to the ended state. However, the

[2020-01-17 17:43] andrewlewis commented on #6881
The bug report includes `java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/api/HasApiKey; at com.google.android.gms.internal.cast.zzr.zza(com.google.android.gms:play-services-cast-framework@@18.0.0:8)`

This is likely an app or build configuration issue, or a problem with the cast dependency, rather than an ExoPlayer issue, so I'm afraid we can't really be of muc

[2020-01-17 19:35] ojw28 commented on #6837
Version `2.11.2` will contain a Java FLAC extractor, which will work in conjunction with either a platform FLAC decoder (if the device has one) or the FFMpeg extension (if configured with `–enable-decoder=flac`). This release is scheduled for ~2 weeks from now.

I imagine the implementations are different, but I don't know the details I'm afraid.

[2020-01-17 19:35] #6837 closed, assigned to ojw28

[2020-01-17 19:35] ojw28 commented on #6633
Closing due to lack of follow-up.

[2020-01-17 19:35] #6633 closed, assigned to ojw28

[2020-01-17 19:40] Tolriq commented on #6837
Nice thanks. Does Exôplayer have public snapshot builds somewhere so I can already start to test migrating to ffmepg without doing the whole manual build?

[2020-01-17 19:41] ojw28 commented on #6837
We don't provide any pre-builts for the FFMpeg extension because different apps will generally want to configure FFMpeg differently anyway. So you'd need to follow the instructions provided for the extension. It's pretty fast to get up and running.

[2020-01-17 19:43] Tolriq commented on #6837
Yes the ffmepg and extension I got it working, it's about the exoplayer part since I work with a custom aar and not a local exoplayer build currently.

[2020-01-17 19:46] ojw28 commented on #6837
We don't provide any snapshots, sorry. There's a tracking issue here: https://github.com/google/ExoPlayer/issues/3859. There's also a discussion in that issue about using Jitpack as a way to get snapshots, so you could give that a try.

[2020-01-17 19:49] Tolriq commented on #6837
Ok thanks will follow the other issue, I have wayyy too many bad memories with Jitpack to ever rely on it ever again even for tests.

[2020-01-17 20:48] ojw28 commented on #6864
This is cool! Is it something you'd consider contributing back to the core project?

The problem with your current implementation is that it assumes each input buffer will produce a corresponding output buffer with the same timestamp. [The assumption is here, where you initialize the output buffer with the input buffer's timestamp](https://github.com/haohaozaici/ExoPlayer/blob/release-v2/extension

[2020-01-17 20:57] ojw28 commented on #6880
I think it's probably just so that the GL context it uses is created on its own thread. @andrewlewis - Can you remember?

[2020-01-17 21:03] ojw28 commented on #6879
The reason this doesn't work is that there's nothing in your audio files indicating what language they are. So, unsurprisingly, the player doesn't know which one to select.

Your audio files need to include language information. When using MP4, you can set this in the `mdhd` box. When using MKV you can set it using the `Language` element. MP3 is not really a suitable container for this use case (o

[2020-01-17 21:09] ojw28 commented on #6858
Marking as duplicate of https://github.com/google/ExoPlayer/issues/6649.

[2020-01-17 21:09] #6858 closed, assigned to Samrobbo

[2020-01-17 21:20] #6791 closed, assigned to ojw28

[2020-01-17 21:34] ojw28 commented on #5030
I can't reproduce this on 2.11.0. Closing for now, but please let us know if this problem still occurs on more recent releases.