[2022-03-29 08:55] icbaker commented on #10122
From the error message it looks like you're depending (either directly or transitively) on `exoplayer-core-2.17.0` and `exoplayer-ui-2.15.1`, i.e. two different versions.

From the [README](https://github.com/google/ExoPlayer/blob/release-v2/README.md#1-add-exoplayer-module-dependencies):

If you want to dig into where these dependencies are coming from in your project you use Gradle's `dependenci

[2022-03-29 09:20] marcbaechinger commented on #10123
The device does not support the media with this resolution.

[code]

You need to transform the video to a lower resolution to make this work. I don't think that there is something we can do on our end.

I'm closing this issue. Please reopen when you think there is something wrong with the library.

[2022-03-29 09:20] #10123 closed, assigned to marcbaechinger

[2022-03-29 09:35] feikai2012 commented on #10123
I tested that IJKPLAYER can play with the same model. I hope that Exoplayer can support support compatibility

[2022-03-29 09:36] feikai2012 commented on #10123
@marcbaechinger thanks

[2022-03-29 09:54] marcbaechinger commented on #10116
In general there are two main reasons I can see why a load is canceled. The first is when the user seeks to another position in the stream and a chunk of media that the player started to load is not required anymore and hence is cancelled. The other option is that the selected track has changed and the player is discarding data from a track from which the selection is moving away to another varian

[2022-03-29 10:04] krocard commented on #10115
Custom audio processors are only run if the output is `ENCODING_PCM_16BIT`. If the float output is enabled, they are not run:

https://github.com/google/ExoPlayer/blob/8129675b065bc98330ec775fb7a538c139793070/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L309-L312

The code ignores the provided `audioProcessorChain` in non PCM_16BIT: https://github.com/google

[2022-03-29 10:04] #10115 closed, assigned to krocard

[2022-03-29 10:11] marcbaechinger commented on #10108
Looks like the media is not seekable which would explain why the seekBack/seekForward buttons are disabled.

If you want us to look into this some further, you need to provide us with the media. If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #10108". Please also update this issue to indicate you’ve done this.

[2022-03-29 11:22] jruesga opened #10124 "Decoder failed: OMX.qcom.video.decoder.hevc.secure for UHD/SDR asset"
### ExoPlayer Version

2.17.1

### Description of the issue

Playback fails attempting to reproduce a UHD/SDR asset (drm encrypted).

[code]

The issue seems to be reproducible in devices with a Qualcomm chipset and Android 11+.  Same UHD/HDR (drm encrypted) or same UHD/SDR (clear) assets playbacks fine.

### Devices that reproduce the issue

* Samsung Galaxy Z Fold2 5G SM-F916B (samsung/f2qxeea/f

[2022-03-29 11:37] avidraghav commented on #10116
Will get back to you on this with the info

[2022-03-29 11:50] saralee2012 opened #10125 "Is there any avaiable widevine test license url(in china)? connect to proxy.uat.widevine.com fail"
question:
-------------------------

- i'm trying to use exoplayer to play drm video;when i run demo application(https://exoplayer.dev/demo-application.html) to play widevine demo video, i get an SocketTimeoutException error; is there any other avaiable widevine test license url that i can use to test demo; i'm in china mainland, can't connect to  proxy.uat.widevine.com, thanks!

error info:
-----

[2022-03-29 13:30] shriyaapptware commented on #10108
I am trying to test with this audio below.

private static final String DEFAULT_MEDIA_AUDIO_URI = "https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3";

Video url is from the exoplayer sdk only. - https://html5demos.com/assets/dizzy.mp4

@marcbaechinger
My objective of doing this is to apply audio file in some language to the existing video and if the video does not contains

[2022-03-29 13:31] marcbaechinger commented on #10082
Sorry, for the long answer. It's complicated. First and in any case, as you are probably touching an unsolved problem we are aware of, it would be helpful for us to get a test stream or see the manifest so we get more experienced in what manifests people are playing when running into this issue. If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a su

[2022-03-29 14:05] IcemarkUK commented on #10082
Thanks, it might take some while for me to digest and talk with some others in order for me to understand. As far as I am aware we do own and control the streams (mostly).

[2022-03-29 14:35] sadaqatdev commented on #10122
solve by I avoided this issues by specifying video_player to 2.2.17.

[2022-03-29 14:35] #10122 closed, assigned to icbaker

[2022-03-29 14:49] enzobelli opened #10126 "Background artwork for audio in Cast"
Using `com.google.android.exoplayer2.MediaMetadata` it's possible to add only one artwork with `.setArtworkUri()`.
On a cast device with display, that artwork would display next to the title with no possibility to set a background, leaving the screen black when the playing controls disappear after a few settings.
A background artwork was displayed up until version 15 when we could use 'MediaMetada

[2022-03-29 16:09] marcbaechinger commented on #10126
Thanks for reporting. I marked this as an enhancement, so we can provide this feature out of the box. Not sure when we will get to do this I'm afraid.  We can at least define a constant that defines a key that allows to add an additional URI for a background image in the `mediaMetadata.extras` bundle and then make `DefaultMediaItemConverter` take this into account.

Can you tell me what Cast API y

[2022-03-30 03:14] zhhach123 opened #10127 "Exoplayer v2.15.0 after audio pause,cannot resume the audio."
Using Exoplayer to paly flac audio connected with dac device.First pause the audio,then resume it.It donnot work.So i write some logs in the ExoPlayerImplInternal. It seems enter the function(setPlayWhenReady(
            boolean playWhenReady, @PlaybackSuppressionReason int playbackSuppressionReason)).
![QQ截图20220330105929](https://user-images.githubusercontent.com/53030012/160742467-5afe793d-668

[2022-03-30 05:25] tpuserhp opened #10128 "Ffmpeg extension quesion"
I'm able to build the ffmpeg extension and use it in the demo app and my own app. But I want to just have the armeabi-v7a and arm64-v8a libraries generated only to reduce the apk size. When I build the demo project, it seems  x86 and x64_64 libraries needs to be in  the ANDROID-LIBS folder. I build the ffmpeg extension in  the Linux machine and  copy the ffmpeg directory to Windows 10  where Andro

[2022-03-30 09:52] lsl330 commented on #8435
thank you for continuing to improve the ass's subtitle, in addition, I found that the bilingual (two-line) ass subtitle support also has problems, many times can only show one language (one line)

[2022-03-30 10:58] vovan888 commented on #10128
app/build.gradle:

[code]

[2022-03-30 14:19] tpuserhp commented on #10128
Yes, the suggested changes resulted in a smaller size of the apk  generated. Thank you very much  for your help. This issue can be closed now.

[2022-03-30 14:19] #10128 closed, assigned to nobody

[2022-03-30 15:11] shriyaapptware commented on #10108
It worked perfectly fine with the different audio file. Thanks a lot @marcbaechinger

[2022-03-30 15:26] HarshSinghgithub opened #10129 "Can you can again provide the code to setup notification because functions used in this code is deprecated and i am not finding any suitable example for seeting it"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-03-30 16:20] ojw28 commented on #2159
Note for whoever picks this up next: Take a look at the comment [here](https://github.com/google/ExoPlayer/pull/7132/files#r835504792).

[2022-03-30 18:41] ojw28 commented on #10083
I am unable to reproduce the issue on a Pixel device. If this observed behavior is only on Fire TV Stick, I'd suggest you report it to Amazon because in that case it's likely to be device specific. You could try asking [here](https://github.com/amzn/exoplayer-amazon-port/issues). I would also suggest that you try and reproduce with the [demo app](https://exoplayer.dev/demo-application.html), to ru

[2022-03-30 18:41] ojw28 commented on #10083
Tentatively marking this as a device specific issue.

[2022-03-30 21:08] GlebPBanuba commented on #9966
@ojw28 Hi! any updates?

[2022-03-31 05:09] muibungs opened #10135 "Ads UI not visible when set media item with ads ima with different ad tag"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

OPPO F11 Pro Android 11

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Start player media item with Ad Tag URL
2. Set media item when button clicked with new media source with another ads tags URL
3. When ads playing try to click 1-4 times
4. Ads Con

[2022-03-31 06:52] Furystorm commented on #2194
Hello!  Many years passed and this problem seems not fixed yet. I tested in exoplayer 2.14.2, the Arabic comma "،" , should stay at left, but appears at right. At the same time, the Arabic question mark "؟" appears at the correct place. Example subtitle text:
 ،في الحياة اليومية أو العمل
فكيف نسأل عن أسمائهم؟

If I use the webview by `subView.setViewType(SubtitleView.VIEW_TYPE_WEB)` , the Arabic c

[2022-03-31 07:29] coooltype opened #10136 "No audio output when CMAF & Multi-Key & Segmented mp4 are packaged."
1. No audio when I package Widevine content as [multi-key + Segmented mp4] and play it in Android Exoplayer (2.16.1). But if I package it as [multi-key + Single mp4] it outputs audio.
Why is there no audio output for content packaged as [multi-key + segmented mp4] in Exoplayer? Is there a way to output audio with this content?

2. In Exoplayer, segmented-VTT subtitles are not displayed.
Exactly, o

[2022-03-31 08:38] icbaker opened #10137 "WebView-based subtitle styling doesn't render EDGE_TYPE_OUTLINE correctly"
Copying from https://github.com/google/ExoPlayer/issues/2194#issuecomment-1084271458:

I can reproduce this in 2.17.1 (screenshots below), using the "TTML positioning" sample and the following patch to the demo app in `PlayerActivity#onCreate`:
[code]

<details>
  <summary>Outline screenshots</summary>

**Canvas**

![Canvas with outline](https://user-images.githubusercontent.com/1279752/161011358-

[2022-03-31 08:39] icbaker commented on #2194
That's great that the webview works well for this - but sorry to hear about your styling issues. I've dug down in more detail below, but I think we should continue further discussion on WebView styling in separate issues in order to keep this one focussed on the alignment problem in the canvas-based subtitle output.

I can reproduce this in 2.17.1 (screenshots below), using the "TTML positioning"

[2022-03-31 09:32] niuyaweiqq opened #10138 "AudioTrack init failed"
ExoPlayer Version
  2.17.0
error info
AudioTrack init failed 0 Config(48000, 12, 144000)
AudioTrack init failed 0 Config(44100, 12, 132300)

Devices that reproduce the issue

Moto Z (2)  Android 8

One of my users often makes this error. I want to know what this error message means and how I can get more detailed error information from playbackexception？

[2022-03-31 10:49] christosts commented on #10065
Root-causing the issue: the player fails to load/prepare the playlist in chunkless mode because the playlist contains the CODECS attribute but it is missing the audio codec. The player assumes the video variants are prepared but the audio one is not, and the player gets stuck.

If you have access to the encoding/packaging process, I'd suggest you update how the playlist is created and add the audi

[2022-03-31 10:49] #10065 closed, assigned to christosts

[2022-03-31 10:55] #10108 closed, assigned to marcbaechinger

[2022-03-31 10:57] marcbaechinger commented on #10129
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2022-03-31 11:00] marcbaechinger commented on #10136
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2022-03-31 11:01] marcbaechinger commented on #10138
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2022-03-31 12:05] IcemarkUK commented on #10082
@marcbaechinger So out of interest - We have done some tests that involved removing the DataSpec.FLAG_MIGHT_NOT_USE_FULL_NETWORK_SPEED when it gets set and seen that out tests now see the ABR laddering as expected.

The bigger question would be, what would be the consequences of us affectively removing this check. It would be similar to having a explicit segment index - as we can't change that in

[2022-03-31 12:28] marcbaechinger commented on #10136
The given information isn't sufficient to make your report actionable for use I'm afraid.

Please [file a bug for this issue](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2Cneeds+triage&template=bug.yml) and fill the form there that collects the required information so we can look into this.

I'm closing this issue so we don't have a duplicate after you filed the bug with t

[2022-03-31 12:28] #10136 closed, assigned to marcbaechinger

[2022-03-31 13:42] marcbaechinger commented on #10082
If the flag is set, the `DefaultBandwidthMeter` [does not use these segments for estimating the bandwidth](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultBandwidthMeter.java#L365).

The consequence of not setting the flag would be that the `DefaultBandwidthMeter` may underestimate the actual network speed. In case the se

[2022-03-31 13:53] Romantic-LiXuefeng opened #10139 "Issue: How to reselect the HLS video track manual with FixedTrackSelection at the start of the TS segment？"
[REQUIRED] Use case description
When user manually switching the track,(e.g. 720p->1080p), at the middle of TS segment, the player switch immediately, the player will reload the the same number ts segment at 1080p,  because the switch point is at the middle of the ts segment, so the decoder will drop the frame before the switch point, but in my test, some TV devices drop frame(```
releaseOutputBuf

[2022-03-31 14:18] abouda opened #10140 "Playback state with AUDIO_FOCUS_LOSS_TRANSIENT"
When ExoPlayer(r2.17.1) receives `AUDIO_FOCUS_LOSS_TRANSIENT`, the playback is suppressed with `PLAYBACK_SUPPRESSION_REASON_TRANSIENT_AUDIO_FOCUS_LOSS`, but the playbackSate is still "playing" (not "paused").
Is this the correct behaviour? Since from the notification player and app, it may look like the player is still playing (pause icon) but it actually is not playing.
A lot of users are confuse

[2022-03-31 14:20] IcemarkUK commented on #10082
@marcbaechinger  So, if the player is in this state then either buffering would occur? or more likely the BandwidthMeter thinks the network is slower than it actually is and therefore it's likely that the AdaptiveTrackSelector will drop down to a lower quality, when it might not actually be required.

[2022-03-31 15:34] sridhard opened #10141 "DASH Widevine not playing CBCS content in android 9/10"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

ASUS Zenfone Max Pro M1 - addroid 9
moto one power, Android version- 10

### Devices that do not reproduce the issue

Samsung, Redmi

### Reproducible in the demo app?

Yes

### Reproduction steps

Just play CBCS content from the demo app.

There is no error error logs. The video will be just green screen (Corrupted video),

###

[2022-03-31 16:09] tpuserhp commented on #10065
Thanks for your help and support. I will try out the fix once the next
release is available.

On Thu., Mar. 31, 2022, 04:49 christosts, ***@***.***> wrote:

[2022-03-31 16:14] PaganiAlejandro opened #10142 "10142 - Error "OMX/mediaserver died, signaling error!" in fast forward"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Emulador Android TV (720p)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1.  Play a content, for example a movie
2. Try to fast-forward the content
3. Crash

### Expected result

1.  Play a content, for example a movie
2. Try to fast-forward the

[2022-03-31 17:12] enzobelli commented on #10126
Hi,
up until version 15 it was working out of the box by using `CastPlayer.loadItems()` because was accepting an array of `MediaQueueItem`. I was using `com.google.android.gms.cast.MediaMetadata` where I could use `metadata.addImage(new WebImage())` and the same artwork was used as background using some blurring effect. The display would also stayed on displaying the info.
Now the Cast interface h

[2022-04-01 01:04] #10022 closed, assigned to marcbaechinger

[2022-04-01 03:07] niuyaweiqq commented on #10138
Sorry, the following is the playing address of HLS. The timeliness is three days. If it is out of date, please contact me in time
https://autoeq.top/mov/3B20413FC76C5F432EDE85B03E8AF0A1/3B20413FC76C5F432EDE85B03E8AF0A1.m3u8?expire=1649040572&auth=748b5204acae538d2f1d116d41c1d4d9f58a92d55ab00bb82dc9989c0c02f0db

[2022-04-01 05:09] sridhard commented on #10141
@icbaker This is the video of the issue https://shaka-packager-debug.s3.ap-south-1.amazonaws.com/WhatsApp+Video+2022-02-03+at+12.13.01+PM.mp4

This video is not from demo app, but from our app. The output is same using the exoplayer demo app from playstore. CTR content plays. But "widevine DASH:MP4,H264"->"WV:Secure SD&HD(cbcs,mp4,h264)" has the issue.

[2022-04-01 06:36] ghost opened #10143 "Exoplayer hls stream behavior"
Hello,
I am using exoplayer for hls stream in my project.I am seeing continues logs in logcat in android studio and some times hls stream I am using is having some glitch I dont understand what are those logs or why they are coming when I pass hls url to player logs are as below

2022-04-01 11:55:18.531 11862-12066/ E/FMQ: grantorIdx must be less than 3
2022-04-01 11:55:18.532 11862-12066/ E/FMQ:

[2022-04-01 08:24] FlogFly opened #10144 "play local encrypt flac file (AES/OFB/NoPadding ) fail"
I have a local flac encrypted file. So I use the local encrypted file to encrypt the entire file with Cipher and save it to the local to generate a decrypt.flac file, it can be played smoothly by playing it directly with the FileDataSource.
[code]

But now I want to directly read and decrypt the encrypted file and play it, but it can't be successful。Currently, according to the knowledge in the iss

[2022-04-01 09:17] icbaker commented on #10141
We do not publish our demo app on the play store. You have to build it from source, as described here: https://exoplayer.dev/demo-application.html

I don't know what app you installed, but assuming someone else has published our demo app and judging by the sample name you reference, it looks like it was published before https://github.com/google/ExoPlayer/commit/b9abe2d0d6e68768a70af2a9cc1fffe5b19

[2022-04-01 09:42] marcbaechinger commented on #10142
We can't provide support for emulator issues I'm afraid.

Can you let me know if you see the same issue on a real device? If this is an issue on the emulator only, we can't help you any further.

[2022-04-01 10:00] icbaker commented on #10144
I'm afraid we don't have the resources to review custom code like this by hand, however we have some automated tests you can wire up to test a custom `DataSource` implementations, you can find more details here: https://medium.com/google-exoplayer/standardising-datasource-implementations-through-testing-b7a8ab04f8d1

-----

That said, this looks suspicious (it may not be the cause of your problems

[2022-04-01 11:41] marcbaechinger commented on #10135
I think that works if you remove the line

[code]

from your code. This is removing the views that have been added by the ads SDK. If you just remove this this is not working. I tried that out and this is working fine for me.

[2022-04-01 12:08] marcbaechinger commented on #10143
I don't think the log statements around FMQ/grantorIdx is related to ExoPlayer.

For the `AudioTrack` one I can't say much more than what the log message says. There was a discontinuity between available audio frames that is reported. With the available information it is difficult to say what the reason is though.

If you want to make this actionable for us, you would have to provide us with more

[2022-04-01 12:19] HarshSinghgithub commented on #10129
[code]
Why this code is not working

[2022-04-01 12:33] marcbaechinger commented on #10140
There is `Player.getPlayWhenReady()` which indicates whether the player should start playback if it can. I think this is what is reflected by the buttons. In the case of  audio focus loss, `playWhenReady` is still true and as soon as the player gains the audio focus again, playback would continue. So I think that the state of the button is consistent from that perspective. There is no user interac

[2022-04-01 12:58] icbaker commented on #10140
See also the discussion in https://github.com/google/ExoPlayer/issues/6203 which led to adding the methods @marcbaechinger pointed at above. In particular https://github.com/google/ExoPlayer/issues/6203#issuecomment-516003377 which discusses why the play button continues to look like the audio is playing.

[2022-04-01 13:30] dino-saurabh opened #10145 "Default line value for subtitle files (.vtt) with unspecified line value"
Unfortunately, we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

why does line param = -1 and not Cue.UNSET for any subtitle file without any line params?
i.e if any subtitle file doesn't have line param values why am I getting the line value as -1 inside the PlayerView cues.

As

[2022-04-01 13:33] icbaker commented on #10145
Duplicate of #7934 - see the reasoning in https://github.com/google/ExoPlayer/issues/7934#issuecomment-694063859 for more detail about why this is intentional and imo a correct interpretation of the WebVTT spec.

[2022-04-01 13:33] #10145 closed, assigned to icbaker

[2022-04-01 13:55] dino-saurabh commented on #10145
Thanks @icbaker 👍🏼

[2022-04-01 14:21] marcbaechinger commented on #10129
We are not able to do general code review of app code I'm afraid.

From looking at the code I would think it could be an issue with the notification channel that is not existing and hence the notification is not shown. If this is the case that would be logged to the logcat I think. So looking into the logs may give you some indications about the channel not being created correctly. The `createChan

[2022-04-01 15:06] narasimharao11 opened #10146 "DRM_LICENSE_ACQUISITION_FAILED"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Oneplus 8T Android 11
IQOO Z6 5G Andrroid 12
Realme 8 and 9 versions

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Hi Team,

We have recently updated the exoplayer version to 2.17.1 and we are facing issue with the live stream drm content for widevine

[2022-04-01 15:43] icbaker commented on #10146
The stack trace indicates that the license server is returning a 500 error. You should follow up with your DRM provider to understand why this is happening, as they will have access to the server logs which provide more information.

[2022-04-01 16:36] coooltype commented on #10136
[multi-key + Segmented mp4] content.
When I download and play content in Exoplayer Demo, I have no audio.

[code]

I would also like to know why the subtitles are not displayed.

[2022-04-01 18:21] PaganiAlejandro commented on #10142
Good afternoon. I just did some testing and it only happens on the emulator. Thanks for your help.

[2022-04-01 20:27] benderzgreat opened #10147 "HLS streams crashing"
### ExoPlayer Version

2.16.1 + 2.17.1 + 2.18.0

### Devices that reproduce the issue

- ChromeCast Model GZRNL
- ANDROID TV OS VERSION: 10
- KERNEL VERSION: 4.9.180
- TV OS BUILD: QTS1.210311.036.7814738

- Fire TV Stick 4K
- Software ver = Fire OS 6.2.8.7 (NS6287/3768)
- Fire TV Home ver = 6330065.1

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Y

[2022-04-01 20:32] #9989 closed, assigned to christosts

[2022-04-01 21:22] benderzgreat commented on #10147
[p12NowFrozen4-1-1650.log](https://github.com/google/ExoPlayer/files/8400950/p12NowFrozen4-1-1650.log)
logcat associated with bugreport submitted

[2022-04-02 04:03] Furystorm opened #10148 "WebView-based subtitle styling renders EDGE_TYPE_DROP_SHADOW with bottom clipped"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Mi 11 Lite

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

//I added this codes in demo app PlayerActivity#onCreate to reproduce the issue
SubtitleView subView = playerView.getSubtitleView();
subView.setViewType(SubtitleView.VIEW_TYPE_WEB);
subView.setSt

[2022-04-02 04:07] Furystorm commented on #10148
#2194

[2022-04-02 04:26] HarshSinghgithub commented on #10129
how can i resolve these logcat errors

2022-04-02 09:53:01.391 27541-27541/? E/libc: Access denied finding property "persist.vendor.sys.activitylog"
2022-04-02 09:53:03.703 27541-27573/com.harsh.musicplayer E/libc: Access denied finding property "persist.vendor.log.tel_dbg"
2022-04-02 09:53:03.879 27541-27568/com.harsh.musicplayer E/GED: Failed to get GED Log Buf, err(0)
2022-04-02 09:53:03.942 27

[2022-04-02 07:32] FlogFly commented on #10144
@icbaker   _Thanks for the answer.I did not describe in detail enough above, so I will give a complete description here.

I have two questions：one is Play the entire file after decryption, the other  is  play while decrypting。_

**First :  decrypt the entire file :**

I have a 106M music file encrypted by AES/OFB/NoPadding. I want to decrypt the whole file and then generate an unencrypted file to

[2022-04-02 08:24] dreamwhigh opened #10149 "Does udta box belong to leaf box?"
In the ISO/IEC 14496-12-2015 documentation,  udta box belongs to container box. See the following statement.

Container:	Movie Box (‘moov’) or Track Box (‘trak’)
Mandatory:	No
Quantity:	Zero or one
This box contains objects that declare user information about the containing box and its data (presentation or track).
The User Data Box is a **_container box_** for informative user-data. This user dat

[2022-04-02 09:50] HarshSinghgithub commented on #10129
this is my full service class if anything is not coreect please let me know

class PlayerService : Service() {

    var exoPlayer: ExoPlayer? = null
    private lateinit var playerNotificationManager: PlayerNotificationManager
    private val NOTIFICATION_CHANNEL_ID = "com.harsh.musicPlayer.services.notification"
    private val NOTIFICATION_ID = 2

    override fun onBind(p0: Intent?): IBinder {

[2022-04-02 14:27] wazerstar commented on #5491
Updated sample links with fresh content all records contain 30 seconds from various channel that has teletext subtitles in them.

v25.mpeg contain dvb-sub so ignore this one.
The rest contain teletext,

https://mega.nz/folder/dBQSwaJL#MUgvR9DNiqkM59MRCSLhzQ

[2022-04-02 19:32] #10113 closed, assigned to christosts

[2022-04-02 20:40] doublex commented on #10113
My fault

[2022-04-04 04:04] sridhard commented on #10141
Hi @icbaker
We dont have the device. It is happening in our customer device. We have placed order for new device. Once we get the device i will share the logs

[2022-04-04 06:30] GouravSna commented on #10055
Please check this [branch](https://github.com/GouravSna/ExoPlayer-1/tree/Issue-10055). It's created from dev-v2 because I can see the new implementation for track change is there (using overrides).

As discussed earlier that in demo app and this is the behaviour of demo app;
if for the 1st media, I select 'None' text track then for the 2nd media also text track will be selected 'None' irrespective

[2022-04-04 08:09] szaboa commented on #8435
PR with Margin L, R, V support coming soon.

[2022-04-04 08:10] ojw28 commented on #10055
I already explained in [this comment](https://github.com/google/ExoPlayer/issues/10055#issuecomment-1066739857) that this behavior is expected for the demo app, and why.

[2022-04-04 08:39] wishygupta opened #10151 "Failed to resolve: com.google.android.exoplayer:exoplayer:2.12.2"
I added version 2.12.2 in a newly created project and I get the following error

[code]

This is my top level build gradle

[code]

Gradle version 7.2

settings.gradle file
[code]

This si the app level gradle

[code]

[2022-04-04 08:44] GouravSna commented on #10055
Sure. @ojw28 , I think I need to adapt my code as per the changes there in dev-v2(not now) and I can see the unreleased changes for TrackSelection [here](https://github.com/androidx/media/blob/main/RELEASENOTES.md#unreleased-changes) on androidx/media.

Actually I was following https://exoplayer.dev/track-selection.html#selecting-specific-tracks and using this way but now I can see `setTrackSelect

[2022-04-04 09:31] muibungs commented on #10135
[code]

I try to reproduce step by step on example. I have to release AdsLoader and remove AdGroupview. Then I set the media item Ads control work fine is not stacking and hiding. Thanks for supporting.

[2022-04-04 10:04] #10142 closed, assigned to marcbaechinger

[2022-04-04 10:13] marcbaechinger commented on #10138
I'm getting a 403.

If you want us to look into this issue please [file a bug](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2Cneeds+triage&template=bug.yml) and provide the information requested there. Many thanks.

[2022-04-04 10:13] #10138 closed, assigned to marcbaechinger

[2022-04-04 10:14] marcbaechinger commented on #10127
If you think there is an bug in the library, please [file a bug report](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2Cneeds+triage&template=bug.yml) and provide the information requested there.

[2022-04-04 10:14] #10127 closed, assigned to marcbaechinger

[2022-04-04 11:24] ojw28 commented on #10149
There is nothing stopping you from writing a user defined box in the `udta` box. ExoPlayer wont parse it by default though. You can see what we parse from the `udta` box by looking at `AtomParsers.parseUdta`.

Regarding the code: The presence in `TYPE_udta` in `shouldParseLeafAtom` is  due to the way that we handle `udta` box parsing. We effectively treat it as a leaf to read the whole box into me

[2022-04-04 11:31] ojw28 commented on #10119
Agreed the DASH specification defines a specific ordering (and therefore the media is not spec compliant).

[2022-04-04 11:31] #10119 closed, assigned to marcbaechinger

[2022-04-04 11:44] rraj1572 opened #10152 "After adding cookie value in the code it doesnt work or play the video"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

android 10

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1.Play and attached media in app but didnt work

### Expected result

as all other type of streams are working so this should also work

### Actual result

doesnt work at all

### Media

!

[2022-04-04 14:03] shreyassingh431 opened #10153 "player.getCurrentPosition() doesn't return correct value in case of live streaming, how can i get valid current position of live streaming?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-04-04 17:19] ojw28 commented on #10152
Specifying custom headers is documented [here](https://exoplayer.dev/customization.html#customizing-server-interactions).

Assuming you've already found that and it didn't help, you'll need to provide us with more useful information. A screenshot of the IDE, which doesn't show how the objects being created are actually used, is not useful. I suggest you provide us with a small patch to the demo ap

[2022-04-04 18:01] rraj1572 commented on #10152
Video i am trying to play this stream : https://live-cf.cdn.hotstar.com/hls/live/2027118/ipl2022/hin/1540014152/15mindvrm019692964f4f48493280ac9da8f0ea305304april2022/master_6.m3u8|Origin=https//www.hotstar.com&Referer=https://www.hotstar.com/&cookie=CloudFront-Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9saXZlLWNmLmNkbi5ob3RzdGFyLmNvbS9obHMvbGl2ZS8yMDI3MTE4L2lwbDIwMjIvaGluLzE1NDAwMTQxNTI

[2022-04-04 18:03] rraj1572 commented on #10152
I have one question that why am i not able to use
 httpdatasourcefactory.setRequestProperty("string","string");

In my code ??

[2022-04-04 21:18] jack-jjm opened #10154 "Synchronizing two different video streams"
I am trying to develop an app to run inside of a VR headset. The implementation is basically a phone in a head-brace type situation: there's one display, the app's code sees one logical display, and so you just render what you want the left eye to see on the left hand side and what you want the right eye to see on the right hand side.

I've tried two implementations: (1) pre-processing video befor

[2022-04-05 06:48] arunk095 commented on #10072
@alveru can you post the how you have achieved using the function "setTransferListener" . It would be helpful. Thank you

[2022-04-05 08:28] #10135 closed, assigned to marcbaechinger

[2022-04-05 13:38] sridhard commented on #8039
Any update on this. we are also facing this issue on multiple customer devices

[2022-04-05 14:13] benderzgreat commented on #10147
I just want to point out that I have a second source(https://v-emt.pac-12.com/debug/index.m3u8) to replicate the issue, as I am going to be using the first source listed(https://dev-vod-emt.pac-12.com/p12test/index.m3u8) to test changing some more parameters.

[2022-04-05 14:31] sridhard opened #10155 "Unable to play DRM content in multiple devices"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Oneplus

### Devices that do not reproduce the issue

Samsung

### Reproducible in the demo app?

Not tested

### Reproduction steps

It is happening in customer devices. We are getting multiple tickets for this issue. Mobile device failed to get the DRM license.
I have checked other bug reports like #8373 #8175 #8039. All these

[2022-04-05 15:24] giovannyvelezalt commented on #8039
@rrfrias well... we haven't been able to reproduce it and when trying to get logs from users we couldn't get  stacktraces of interest. We have the issue open until we get something useful.

[2022-04-05 17:29] #10152 closed, assigned to ojw28

[2022-04-05 18:11] benderzgreat commented on #10147
[timestamps4-5-22.txt](https://github.com/google/ExoPlayer/files/8420792/timestamps4-5-22.txt)
[vlcDebugging.log](https://github.com/google/ExoPlayer/files/8420793/vlcDebugging.log)

I tried playing the stream in the VLC app on the FireTV stick and it worked without any issues. I have included a logcat of those playbacks and some more failures in the ExoPlayer demo app. As well as a text file with

[2022-04-05 19:20] marcbaechinger commented on #10153
`player.getCurrentPosition()` returns the position in the current live window.

You may want to add [`Timeline.Window.windowStartTimeMs`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.Window.html#windowStartTimeMs) to get the UNIX epoch time of that position. This implies that your live stream is actually setting the `windowStartTimeMs` accordingly.

Please also look i

[2022-04-06 02:45] niuyaweiqq commented on #10138
I'm sorry that the address has expired. The following is a new address. This time I have extended the validity period. The existing test models on my side cannot reproduce this problem, but the collected user models and data will occur frequently, so I hope You can find this problem, if you have any other questions, please feel free to reply to me, I will reply as soon as I see it, thank you again

[2022-04-06 02:47] niuyaweiqq commented on #10138
I'm sorry that the address has expired. The following is a new address. This time I have extended the validity period. The existing test models on my side cannot reproduce this problem, but the collected user models and data will occur frequently, so I hope You can find this problem, if you have any other questions, please feel free to reply to me, I will reply as soon as I see it, thank you again

[2022-04-06 06:44] dreamwhigh commented on #10149
Ok, I get it. Thanks for your reply.

[2022-04-06 06:44] #10149 closed, assigned to ojw28

[2022-04-06 08:07] sridhard commented on #10141
Hi @icbaker we have reproduced the issue with the demo app from the latest exoplayer code. I have send the bugreport and also logcat logs to dev.exoplayer@gmail.com with subject Issue #10141.

[2022-04-06 08:49] icbaker commented on #10141
@rrfrias Please take a look at the emailed BR, it seems that widevine decryption isn't working correctly but not reporting any errors up to the app. There are some DRM/CDM related logs in logcat, but I don't know if they indicate real problems or not.

[2022-04-06 13:08] iXPert12 opened #10156 "Please add support for RTSP PING method."
I have several Sercomm cameras which in RTSP response  header have the PING method,which causes the app to crash.

![image](https://user-images.githubusercontent.com/2253764/161981880-603786b6-ecd0-4837-a94c-9925c139f82d.png)

[2022-04-06 18:02] ojw28 commented on #10156
@claincly - Please take a look!

[2022-04-06 21:05] benderzgreat commented on #10147
Seems to be related to this issue

https://github.com/google/ExoPlayer/issues/8587

but I can't seem to get any fix working.

Any help would be appreciated.

[2022-04-06 21:59] jsw-zorro opened #10157 "How to separate the video downloading from the player's control logic"
Hi all, I want to do some customization on the data downloading part when do the MPEG-DASH based video streaming. I know customizing the data source can be an option. However, as the load control and track seletion part is deeply bonded in the player's logic, and it is hard to do the customization in all these layers at the same time. So I am wondering whether I can separate the download logic fro

[2022-04-06 22:13] ojw28 commented on #10151
The first version of ExoPlayer available from `google()` was 2.13.3. To use earlier versions you need to add the `jcenter()` repository to your `settings.gradle` file.

[2022-04-06 22:13] #10151 closed, assigned to ojw28

[2022-04-06 23:04] Cocherijka opened #10158 "Android TV api 31 emulator. Widevine not working."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Android studio Android TV emulator API 31.

### Devices that do not reproduce the issue

Android studio Android TV emulator API 30.

### Reproducible in the demo app?

Yes

### Reproduction steps

Try to play any Widevine video or stream.

### Expected result

Video is playing

### Actual result

ERROR_DRM_UNKNOWN
![IMG_20220407_

[2022-04-07 02:57] cedricxperi opened #10159 "DASH DTS Digital Surround Passthrough Fails in recent Exoplayer Versions."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Nvidia Shield TV Pro

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Yes

### Reproduction steps

Playback a DASH DTS Digital Surround audio stream on Nvidia Shield TV Pro (connected to an AVR via HDMI)  running v2.17.1 Exoplayer demo app.
The DTS bitstream should be passthrough to the AVR f

[2022-04-07 03:34] pawaom opened #10160 "Notification runtime permission and Exoplayer"
Google Recently announced we need to add Notification runtime permission, We are developing an app using Exoplayer which uses PlayerNotificationManager

The question is do we need modify the PlayerNotificationManager notification like ask for permissions when we use exoplayer. how do we handle the permission dialog, like if the permission is not granted etc.

Is the permission withdrawn  after som

[2022-04-07 07:32] SaNu-hIT commented on #6265
Any update on this issue ?

[2022-04-07 08:27] yoobi commented on #10042
Just giving some feedback, as said in the initial post I had this code at the startup of my application
[code]

after removing `startDownloadServices` I no longer have crash, it might be related to the 5 seconds delay to show a notification.

[2022-04-07 09:00] Programmingtimes opened #10161 "how to add toggle button to enable or disable pip mode in exoplayer"
i have created app with pip mode. but user is asking to support of external player also they want pip mode to work when user leave. so issue is when user press external player button it leave app and pip mode code get executed also external app play with it . is there any way to manually control pip mode to be turn off or disable.
also i want another specific feature like pip mode can be disable i

[2022-04-07 10:22] cedricxperi commented on #10159
The following case should be added as well for backward compatibility:
case "urn:dts:dash:audio_channel_configuration:2012":
        audioChannels = parseInt(xpp, "value", Format.NO_VALUE);
Thanks.

[2022-04-07 10:35] BucherTomas opened #10162 "Intermittent playback failures with Xiaomi devices on OS 12"
Hello,

this is rather a question since we are unable to provide adb bugreport for deeper analysis.

The last few weeks we have been noticing in our analytics tool the following error from Xiaomi devices newly upgraded to the new OS 12.

[code]

There is nothing in Crashlytics, though and no other brand is so far exhibiting the same issue with OS 12, only Xiaomi.

This is randomly occuring after s

[2022-04-07 10:42] icbaker commented on #10158
I can reproduce the same behaviour - thanks for reporting.

I've opened internal b/228424439 to report this to the relevant team.

[2022-04-07 15:30] cdongieux opened #10163 "Custom HTTP headers for the stream in a MediaItem"
Is there any way to set custom HTTP headers for the stream in a `MediaItem`?

When building a `MediaItem` we can set a URI, we can also set headers for the license request, but I don't see any method on `MediaItem.Builder` to set custom HTTP headers for the manifest/stream itself.

My usecase is to play a media with this kind of generic URL https://foobar.com/npvr.mpd, and I have to perform the re

[2022-04-07 19:52] pmrzygweb opened #10164 "StylePlayerView is not working"
### ExoPlayer Version

2.17.0

### Devices that reproduce the issue

Pixel 2 running Android 11

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

PlayerView is deprecated so I replaced with StylePlayerView
This was working with PlayerView but just show empty with StyleView

### Expected result

video should play

###

[2022-04-07 21:53] artroman opened #10165 "RTSP error not handled by Listener.onPlayerError, app crashes on invalid media"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Any device, I think.
Reproduces on emulator with Android 11 (R) and Asus Tinkerboard with Android 7 (N).

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Start RTSP stream: rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_175k.mov
Stream is

[2022-04-08 03:33] 360060316 commented on #10049
I also met what to do

[2022-04-08 08:51] Romantic-LiXuefeng commented on #10139
Do you have any idea or plan to workaround this issue?

[2022-04-08 12:05] sridhard commented on #10141
@rrfrias do you need any more information? we have the device and can get any details easily

[2022-04-08 18:08] vanniktech opened #10166 "No longer able to customize playback speeds"
Starting with version 2.17 I can no longer customize the playback speeds, before I was able to do the following:

[code]

This isn't possible anymore with because of:

https://github.com/google/ExoPlayer/blob/a308c691d120e0b8496b2e843635edd9cc7dcef0/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerControlView.java#L246-L247

Why was an option to overwrite this removed?

[2022-04-08 18:16] jruesga commented on #10124
I've just resent the email to the dev mail list just in case it got lost because of the attachments' size. Please, let me know if additional information is required. Thanks.

[2022-04-08 20:29] benderzgreat commented on #10147
I have created a ticket with Google Issue Tracker as well.

https://issuetracker.google.com/228596527 HLS stream crashes after pre-roll ads

[2022-04-09 05:44] SaurabhOfficial commented on #9968
@rrfrias any updates on this issue?

[2022-04-09 06:28] ArjunPatidar-numero opened #10167 "How can I achieve subtitle(Closed caption) button click listener in StyledPlayerView"
I'm using the StyledPlayerView and I want to store the subtitle on or off state so for that I need subtitle button click listener.
Unable to get any override method in player listener.
Here is attached screenshot where I want listener
![Screenshot_1649485381](https://user-images.githubusercontent.com/79508854/162559699-a1ea3819-59cc-4663-9000-af2d09a783d3.png)

[2022-04-09 12:28] laurentiu-git commented on #9991
For those that might have the same question in the future, follow the UAMP structure and make sure that when you make the
`MediaMetadataCompat.Builder` for the song you add this part, apparently if the extras is null, it will not work
[code]

[2022-04-09 12:28] #9991 closed, assigned to marcbaechinger

[2022-04-09 14:03] sruditsky opened #10168 "Extracting EMSG tags from audio fMP4 HLS segments"
Let's assume we have an HLS stream which has separate streams of video and audio fMP4 segments,
I.e. it has a
[code]
with audio media playlist URI
and
[code]
with video media playlist URI.

If I understand the code in https://github.com/google/ExoPlayer/blob/release-v2/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/DefaultHlsExtractorFactory.java#L230
then for such a case there

[2022-04-09 22:49] szaboa commented on #8435
@icbaker PR for `MarginL`, `MarginR`, `MarginV` support: https://github.com/google/ExoPlayer/pull/10169.

[2022-04-10 10:29] mohodroid commented on #6265
Any update on this issue ?

[2022-04-10 14:23] fgl27 opened #10170 "player.getCurrentLiveOffset() keep changing"
### ExoPlayer Version

2.17.0

### Devices that reproduce the issue

Any device tested has this issues

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play a live stream and check the value of player.getCurrentLiveOffset() changing

### Expected result

the value not chaging

### Actual result

the value changes

#

[2022-04-10 14:23] fgl27 commented on #10170
I'm using `player.getCurrentLiveOffset()` to get the playback value for live streams and I have found a issue.

The initial values show a values that is the correct one or almos (+- a few ms), but the value doesn't stays constant it keeps changing for a log time, it 5min of playback the value will change 3 to 5 seconds, but this is a live stream that is playing just fine no rebuffer no slows down

[2022-04-10 16:32] gurmeetsingh90 commented on #10074
Thanks, Google/Exoplayer for your reply,

Yes, the correct above issue was due to partially encrypted content.
Sorry for the late reply.

Thanks & Regards

*Gurmeet Singh*
*09711085915*

On Mon, Apr 4, 2022 at 6:34 AM Google Open Source Bot <
***@***.***> wrote:

[2022-04-10 20:26] fgl27 commented on #10170
I made a video do demonstrate the issue

https://www.youtube.com/watch?v=3yXGcv8Rjkw

Latency to broadcaster on top right is `player.getCurrentLiveOffset()`

- At 27s I change the playback speed to 0.25X, at 37s I change it back to 1X.
- The latency changes from 3.5 to 10s as expected but will not stay there.
- After 4 min the value is at 3.2s and the buffer size (`player.getTotalBufferedDuration(

[2022-04-10 23:09] OxygenCobalt commented on #10160
I don't think so. The [documentation on Android 13 DP 2](https://developer.android.com/about/versions/13/changes/notification-permission#exemptions) states that notifications connected to a `MediaSession` are excluded. I'd imagine `PlayerNotificationManager` would connect itself to ExoPlayer's `MediaSession` implementation, so it should still be accepted.

[2022-04-11 01:04] #10048 closed, assigned to ojw28

[2022-04-11 01:04] #10044 closed, assigned to ojw28

[2022-04-11 01:04] #10040 closed, assigned to ojw28

[2022-04-11 03:51] sridhard commented on #10141
@rrfrias @icbaker can you please help us to fix this issue

[2022-04-11 04:49] drayan85 opened #10171 "How to handle the visibility of `exo_ads_overlay` view ?"
We are running some automation testing with `AdsMediaSource` to play the video.

After displaying the ads `exo_ads_overlay` exist in the view hierarchy which causing to fail some of our automation test cases.

Is there any better way to handle this?

Currently, we are hiding and enable back the visibility  of `exo_ads_overlay`  inside `AdEventListener` when `AdEvent.AdEventType.CONTENT_PAUSE_REQUE

[2022-04-11 07:03] #10074 closed, assigned to icbaker

[2022-04-11 08:14] dragitpro opened #10172 "Load artwork from URI in StyledPlayerView"
Hello, i would like be able to add covers for mp3 streams , i tried this:

[code]

I also tried after playing the stream:
[code]

None of these work but visulation still blank

Thanks for your help

[2022-04-11 08:52] niuyaweiqq opened #10173 "Decoder failed: OMX. qcom. video. decoder. avc"
Error content:

Decoder failed: OMX. qcom. video. decoder. avc

com. google. android. exoplayer2. ExoPlayerImplInternal. handleMessage(ExoPlayerImplInternal.java:575)

android. os. Handler. dispatchMessage(Handler.java:102)

android. os. Looper. loop(Looper.java:236)

android. os. HandlerThread. run(HandlerThread.java:67)

Test model

M2007J17C

SM-N9760

Video address

https://autoeq.top/tlvsn/39

[2022-04-11 09:26] zernickov commented on #10086
I've had the same issue but using the solution from [#7270](https://github.com/google/ExoPlayer/issues/7270) fixes it. It doesn't seem to be the safest solution, but forcing the DRM security level to L3 removes the flickering that I was getting on small video sizes that also had a high bitrate.

I only experienced the bug on the following device:
Device: Galaxy Tab A8 (SM-X205)
Android 11
Exoplaye

[2022-04-11 10:21] icbaker commented on #10147
I played the provided stream (https://v-emt.pac-12.com/debug/index.m3u8) on a Pixel 4a and a Chromecast with Google TV and it played successfully in both cases, though I didn't see any pre-roll ads in either case.

[2022-04-11 10:31] icbaker commented on #10166
The `exo_playback_speeds` array resource was removed in https://github.com/google/ExoPlayer/commit/abef4f4e1442f645d2f18bd7ca95983f9bd7df8d as part of fixing https://github.com/google/ExoPlayer/issues/9811.

Overriding this array in order to change the values presented by the player wasn't really an officially supported customization of the UI components.

The current setup with fixed speeds is al

[2022-04-11 10:32] #10166 closed, assigned to icbaker

[2022-04-11 10:36] icbaker commented on #10167
If you want to know whether a subtitle track is currently selected by the player or not, you're best off listening to track selection events, rather than trying to hook the UI components directly: https://exoplayer.dev/track-selection.html#information-about-existing-tracks

[2022-04-11 10:36] #10167 closed, assigned to icbaker

[2022-04-11 10:45] icbaker commented on #10170
Are you playing low latency live streams? If so, this is expected:

https://exoplayer.dev/live-streaming.html#customizing-the-playback-speed-adjustment-algorithm

This used to be done for all live streams, but since https://github.com/google/ExoPlayer/commit/b09b8dc2aba5f4b54d76a0b958c62aeb5e5b8075 (included in 2.17.0) it's only applied to low latency live streams (I'll re-word the live-streaming.

[2022-04-11 10:48] icbaker commented on #10170
From [lower down that page](https://exoplayer.dev/live-streaming.html#configuring-live-playback-parameters):

[2022-04-11 11:11] icbaker commented on #10173
The provided link returns a HTTP 403 for me.

[2022-04-11 11:16] niuyaweiqq commented on #10173
Is this your full address? Don't delete the parameters. My test can play normally.

https://autoeq.top/tlvsn/391853e94b81478f1678ad15543ce20a/391853e94b81478f1678ad15543ce20a.m3u8？expire=1650271279&auth=0e31cabb51cd75cb4c42236f5a0df967938921bbde3426b59925df1d738fad71

[2022-04-11 11:19] niuyaweiqq commented on #10173
The following is the complete address. I just tried it. There is no problem. Please confirm whether the address is complete.

https://autoeq.top/tlvsn/391853e94b81478f1678ad15543ce20a/391853e94b81478f1678ad15543ce20a.m3u8?expire=1650271279&auth=0e31cabb51cd75cb4c42236f5a0df967938921bbde3426b59925df1d738fad71

[2022-04-11 11:21] fgl27 commented on #10170
I expected that the default would always be 1.0x Speed, most important it be 1.0 right after I manually set the speed.

No this is just a regular live stream, but maybe I'm wrong **How Exo determinates if it is a low latency stream?**

I will set the default speed I never did, as I expected the default be 1.0, and I don’t know the behavior of it after the user changes the speed manually, I’ll chec

[2022-04-11 11:34] icbaker commented on #10173
Ah there were two problems:
* Copying the URL from GitHub introduced a space between `.m3u8` and `?`
* I was passing the URL to [the demo app via `adb shell`](https://exoplayer.dev/demo-application.html#3-firing-an-intent) and everything after the `&` was not being propagated to the app correctly.

After removing the spurious space and [putting the URL in the demo app's `media.exolist.json`](https

[2022-04-11 11:38] niuyaweiqq commented on #10173
I use this web page to test that it can be played normally, but I will encounter errors when playing in exoplayer and cannot play normally

https://m3u8-player.com/

[2022-04-11 11:44] icbaker commented on #10171
Do you mean `exo_ad_overlay` (I can't find any reference to `exo_ads_overlay` in our library)?

It's obviously up to you how you test your app, but it seems like this is really a limitation of your testing process - if the test fails when `exo_ad_overlay` is present in the view hierarchy but invisible to a user, is your test reflecting a real user's experience of using your app?

[2022-04-11 13:41] benderzgreat commented on #10147
@icbaker
Could you please try again?

I just played the stream 5+ times and got pre-roll ads and the failure every time.

[2022-04-11 13:44] icbaker commented on #10168
Can you please provide a stream we can use to reproduce the issue?

Please either upload it here or send to dev.exoplayer@gmail.com using the subject `Issue #10168`. Please also update this issue to indicate you’ve done this.

[2022-04-11 14:05] icbaker commented on #10147
I VPN'd to the USA (by guesswork) and now I receive pre-roll ads. If there are geo-specific parts of your repro instructions it's helpful to list these explicitly, to save back and forth like this :)

I see the buffering problem on my Pixel 4a. When it occurs I notice that the playback bar in the demo app switches from showing a small number (e.g. `0:42`, i.e. 42 seconds) to a very large negative

[2022-04-11 14:25] benderzgreat commented on #10147
@icbaker

Thank you for taking another look!

Apologies for assuming US location, the stream _is_ geo-restricted to US and Canada.; I will update the instructions.

Understood about expectations, I just wanted to provide as much relevant information as possible so that I am not holding things up at all by lack of information.

If I have additional information to provide as I am continuing to resea

[2022-04-11 15:01] kvillnv commented on #10048
We haven't done the update yet. We will explore alternate solutions and consider your suggestion.
No need to re-open the ticket.
Thanks.

[2022-04-11 16:49] icbaker commented on #10172
ExoPlayer's `StyledPlayerView` (which I assume you're using?) doesn't currently support loading artwork from a URI. It **will** show artwork that is added as bytes via `MediaMetadata.Builder.setArtworkData`.

Marking this as an enhancement, and assigning to Christos as he was working on artwork-loading related code recently.

[2022-04-11 17:10] ojw28 commented on #10048
I'll leave it closed for now, because there's nothing actionable for us at this moment. Once you have some feedback you can respond here, or file a new issue is long enough elapses for this issue to be locked. Thanks!

[2022-04-11 17:12] ojw28 commented on #10048
Heh, apologies, I initially misread your comment as a request to re-open the ticket :). It sounds like we're aligned; please ignore my post above!

[2022-04-11 17:41] dragitpro commented on #10172
Thanks very much for your answer, yes i use StyledPlayerView  , so until enhancement i use this and it works :

[code]

[2022-04-11 20:26] sruditsky commented on #10168
@icbaker @christosts
I provided a sample stream through the specified email.

[2022-04-11 20:51] nishantkp opened #10174 "How to keep sideloaded VTT captions and embedded captions all together?"
Hello,

ExoPlyer version: `2.13.3`

I have captions embedded in some streams as well as I have sideloaded VTT captions.

When a stream has embedded captions and sideloaded captions (both), the player always selects embedded captions even though I create captions like the below,

[code]

and add that to the `MediaItem` with ` MediaItem.Builder.setSubtitles`.

When streams do not have embedded capti

[2022-04-11 22:22] RicFlinn opened #10175 "Embedded captions not consistently displaying"
I'm playing various MPEG2/TS streams using ProgressiveMediaSource. These streams have embedded CEA-608 and/or 708 captions, but not all of the streams display captions with ExoPlayer. I've ran them through other media players and verified they display captions.

I'm not attempting to modify the caption display at all, just enable them with default settings. I'm using a track selector:
[code]

Work

[2022-04-12 01:04] #10063 closed, assigned to icbaker

[2022-04-12 01:04] #10058 closed, assigned to icbaker

[2022-04-12 01:16] AbelTarazona commented on #8473
Same issue :C

[2022-04-12 03:38] drayan85 commented on #10171
@icbaker

`exo_player_overlay` view is part of   [exo_styled_player_view.xml](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/res/layout/exo_styled_player_view.xml)

(https://github.com/google/ExoPlayer/blob/a308c691d120e0b8496b2e843635edd9cc7dcef0/library/ui/src/main/res/layout/exo_styled_player_view.xml#L61)

I am just wondering if we set visibility to `exo_player_overlay

[2022-04-12 07:53] Wangjian0586 opened #10176 "Amlogic platform play switch from Surface Texture to Surface view display at mistaken"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Ohm use Amlogic platfom use Android P

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Play a video, in file list

### Expected result

The video play ok.

### Actual result

Sometimes the picture display mosaic.

### Media

Dolby vision certification fil

[2022-04-12 07:55] Wangjian0586 commented on #10176
Exoplayer will create a dummySurface use Surface Texture
if do not use Surface when configCodec, After Surface have
created will setSurfce with New SurfaceView, But  amlogic omx
do not support switch SurfaceTexture to SurfaceView after inited.

[2022-04-12 07:59] vanniktech commented on #10166
Don't you think it's a bit much if simply wanting to have higher playback speed (2.25x, 2.5x, 2.75x, 3x) I need to roll my entire UI?

[2022-04-12 08:57] szaboa commented on #8435
@lsl330

I can't find any information about bilingual subtitles in the SSA/ASS specification, do you have more information on this by any chance? Also could you please provide a sample `.ass` sub to check it out meanwhile?

[2022-04-12 09:42] sixones commented on #8435
There's no bilingual support as such in ASS/SSA, but you can show multiple subtitle lines at the same time, usually at the top and bottom of the screen, some files can use this for different languages (usually for song lyrics).

[2022-04-12 09:46] christosts commented on #10168
Thank you for sending us the sample stream via email. When I try to access it, it returns an HTTP 403 (tried a few different clients). Do I need a specific configuration to access the stream, e.g. specify certain headers or is the URL geo-restricted?

[2022-04-12 09:47] lsl330 commented on #8435
@szaboa

here is the sample ass file，it can show Chinese and japanese subtitles，but in exoplayer，can only show the chinese subtitles。
[sample ass.zip](https://github.com/google/ExoPlayer/files/8471754/sample.ass.zip)

![PC](https://user-images.githubusercontent.com/54297603/162932091-99387c24-69c3-4815-934c-db88f5fcfa0e.jpg)
![Android](https://user-images.githubusercontent.com/54297603/162932128-0

[2022-04-12 10:08] Wangjian0586 commented on #10176
I have add a pull it fixed it:
https://github.com/google/ExoPlayer/pull/10178
pls help to review.

[2022-04-12 13:24] MolchanovDmitry commented on #10120
Thanks a lot. `MediaLoadData` contains `dataType`. 1 for chunks, 4 for manifest. That's what I needed.

[2022-04-12 17:47] sruditsky commented on #10168
@christosts
Are you outside US? Then this URL might be not accessible.

I sent another e-mail which contains (attached) a small portion of a steam.
I did verify that this portion of the stream (hosted locally) is playable on the ExoPlayer demo app.
I also verified that audio segments contain ID3 tags, but FragmentedMp4Extractor never gets these tags because audio FragmentedMp4Extractor is construc

[2022-04-12 19:03] IamYou2 opened #10179 "how to add com.google.android.exoplayer:extension-ima:2.17.1 implementation if project already has jetified-interactivemedia-3.26.0"
I have an app that is already using ExoPlayer 2.17.1. I tried to add the corresponding implementation (implementation 'com.google.android.exoplayer:extension-ima:2.17.1') so I can add ads to my video app. My application will not build now. Error is below. I've tried Navigate > Class and found a bunch of abstract class references to com.google.ads.interactivemedia.v3.api. Does anyone know a workaro

[2022-04-12 20:26] szaboa commented on #8435
@lsl330 I have just tested the subtitle you provided, basically there are multiple lines with the same or overlapping times, as @sixones mentioned. This is supported in ExoPlayer from version 2.11.0 (2019-12-11). It has been solved here https://github.com/google/ExoPlayer/issues/6320. Which version are you using?

... however, in your case these lines have the same position, which is not handled s

[2022-04-13 01:53] lsl330 commented on #8435
@szaboa

OK,thank you very much!!!
I use plex and the exoplayer version is 2.17.1.

[2022-04-13 04:51] dharmeshdhorajiya opened #10180 "Error inflating class com.google.android.exoplayer2.ui.StyledPlayerView"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

* Redmi 8 Android 10
* KFMAWI Android 9
* A57  Android 6.0.1
* Redmi Note 4 6.0
See More Device Crashes from firebase.
![Untitled](https://user-images.githubusercontent.com/30367192/163101901-43647197-7dd0-44a4-a3ff-aea6f8dad99a.png)

### Devices that do not reproduce the issue

* Oneplus 6T Android 11
*  Oneplus 7T Android 12

#

[2022-04-13 11:58] master255 opened #10182 "What's new?"
@icbaker @ojw28 @marcbaechinger
You change versions of the module, but you don't introduce anything new. Why are you changing versions then? For example: 2.16.0 - only some deletions of old code, bug fixes, refactoring and changes in the working logic that do not change anything.

Maybe I don't understand your version changing system? A new version is not something new to you, but just a correctio

[2022-04-13 12:37] meenukrishnamurthy opened #10183 "Offline download for video with multiple languages"
Hi,
I am in need of downloading offline video with multiple languages.I am using the exoplayer version 2.9.0 imported as library.I have followed the download as mentioned in the demo app using download manager and download action. Currently in my app user is given option to select the resolution and download the desired resolution but its happening only for the default language.Can you guide me as

[2022-04-13 13:22] Sejen27 opened #10184 "rtpmap attribute parsing in library-rtsp"
In "build" method of MediaDescription.java, it says "rtpmap attribute is mandatory in RTSP (RFC2326 Section C.1.3)" . But i think the RFC of RTSP means rtpmap attribute is mandatory In case it is a dynamic payload type. For a static payload type, rtpmap attribute is no need

[2022-04-13 15:42] icbaker commented on #10175
This is likely due to the track not being detected by the `TsExtractor`. If you add [an `EventLogger` with your `TrackSelector`](https://exoplayer.dev/debug-logging.html) (or use our [demo app](https://exoplayer.dev/demo-application.html)) you will see the tracks that have been found logged to logcat.

You may find that the files that ExoPlayer doesn't find subtitle tracks in aren't declaring the

[2022-04-13 15:48] icbaker commented on #10180
It's unclear whether you're able to reproduce this issue in the demo app or not. Please clarify. If you are able to reproduce in the demo app, please provide a bug report taken with `adb bugreport` immediately after reproducing - please email it to dev.exoplayer@gmail.com using the subject `Issue #10180`. Please also update this issue to indicate you’ve done this.

----

The report as-is is not re

[2022-04-13 15:55] icbaker commented on #10182
ExoPlayer does not follow [semantic versioning](https://semver.org/). However we do generally try to increment the X of 2.X.Y when making 'disruptive' changes, while incrementing the Y for for less invasive fixes and improvements.

You can see the changes that were included in the 2.16.0 release here:
https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2160-2021-11-04

[2022-04-13 15:55] #10182 closed, assigned to icbaker

[2022-04-13 16:21] icbaker commented on #10070
ExoPlayer doesn't deliberately wait for anything except DRM operations between acquiring a DRM session and loading the keys for that session. This is a guess, and you would need to add more logging to be sure, but I wonder if the extra time you're seeing is being spent in [`MediaDrm#getKeyRequest`](https://developer.android.com/reference/android/media/MediaDrm#getKeyRequest(byte[],%20byte[],%20jav

[2022-04-13 16:23] icbaker commented on #10144
I'm closing this because the question is too general and open-ended, and I'm afraid we don't have the resources to review such large amounts of custom code in order to understand what might be wrong.

[2022-04-13 16:23] #10144 closed, assigned to icbaker

[2022-04-13 16:24] icbaker commented on #10146
Closing due to inactivity.

[2022-04-13 16:24] #10146 closed, assigned to icbaker

[2022-04-13 16:24] icbaker commented on #10114
Closing due to inactivity.

[2022-04-13 16:24] #10114 closed, assigned to icbaker

[2022-04-13 16:26] icbaker commented on #10099
Closing because the question remains unclear and clarification has not been provided.

[2022-04-13 16:26] #10099 closed, assigned to icbaker

[2022-04-13 20:45] RicFlinn commented on #10175
Thanks @icbaker, it's just as you suspected. Using a custom `DefaultTsPayloadReaderFactory` seems to have resolved the issue in all of the streams I've tested so far. Calling this one done.

[2022-04-13 20:45] #10175 closed, assigned to icbaker

[2022-04-13 20:50] #10179 closed, assigned to icbaker

[2022-04-14 09:45] nitin0331 opened #10186 "Issue in Playing prefetching ADs Ima extension version 2.17.1"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Issue in Playing prefetching ADs using Ima extension version 2.17.1 though its playing fine with 2.10.5 version.

I have request and save ads in admanager and later on I will play those ads using saved admanager from the array list.

on version 2.10.5 its working perfectly fine and no issue with that but when i have updated my ve

[2022-04-14 09:47] nowfalsalahudeen commented on #3438
is there any way to implement[ gl-transitions](https://gl-transitions.com/) between two video inputs in exoplayer.  same like [ffmpeg gl- transition](https://github.com/transitive-bullshit/ffmpeg-gl-transition)

[2022-04-14 12:29] nazirjonmakhmadkulov opened #10187 "How to Implement ExoPlayer(StyledPlayerView) With Custom Controller?"
Hello,

ExoPlyer version: 2.17.1

I wanted to add a custom control view.
As you can see below I have added everything.
Shows in play/pause ui.
But the play/pause function is not working, what should I do?

 <com.google.android.exoplayer2.ui.StyledPlayerView
                    android:id="@+id/video_player_view"
                    android:layout_width="match_parent"
                    android:la

[2022-04-14 14:41] devAndie opened #10188 "Stop Button for audio stream at Activity UI level"
Hello,
ExoPlayer is truly a goldmine but one control feature lacks for us audio enthusiasts.
Syncing custom stop button to the ExoPlayer notification stop button has proven to include much junk code.

I would suggest the library to provide a stop button included in the PlayerControlView and it syncs with player state as play button does

[2022-04-14 15:03] IamYou2 opened #10189 "Unable to display closed captioning - ExoPlayer update from 2.9.6 to 2.17.0"
I've updated my ExoPlayer from 2.9.6 to 2.17.0. I am able to get my live video feed to play just fine, but I cannot get the subtitles to display at all. For version 2.9.6 I had a custom ImageView that the user could click to toggle cc on and off. I'm not seeing any clear instructions on how to set cc for version 2.17.0.  This is the code I used in 2.9.6 that was apart of a click event to disable/e

[2022-04-14 15:50] AndreasVogelfrei opened #10190 "r2.17.1: Is audio backbuffer only filled when paused?"
I am using ExoPlayer to play audio streams like this one.

http://listen.100xr.com:80/aac

I have successfully implemented a backbuffer that fills up to the configured time/size when I pause the player. I monitor the buffered time using "getDuration()". However, the duration value will only increase when being in pause mode.

Is there any way to also fill the buffer while playing to be able to rew

[2022-04-15 08:28] javaboboApp opened #10191 "DASH: Multiple base URLs and load error reporting"
Hello,
In the current project I'm working on our BE returns a list of different manifest mpd's.

For example
[
   {
      manifest: "**https://...live-001.mpd**"
    },
  {
      manifest: "**https://...live-002.mpd**"
    }
]

So if for example the first manifest fails (**https://...live-001.mpd** ) we could use https://...live-002.mpd and so on (creating another mediaItem and setting this).

My

[2022-04-15 12:26] master255 commented on #10182
@icbaker I have been watching your project for many years and it has not developed at all.

In that time you could create the best media module in the world. But you don't even support many codecs.
To say nothing of development.

[2022-04-15 14:38] sridhard commented on #10141
@icbaker @rrfrias the issue is happening in multiple mobiles. How can we debug this?

[2022-04-15 23:20] jamescahall opened #10192 "Logging Manifest and Segment Loading"
In streaming linear / live video with SSAI, we are seeing unexpectedly low render rates on FireTV devices and trying to isolate the problem.

We suspect this may be due to the player loading excessive manifest requests and/or continuing to load manifests while the app is in the background even when the player is paused.

To help evaluate this, we would like to be able to log when each manifest req

[2022-04-16 08:47] ps6067966 commented on #8473
same issue

[2022-04-17 13:02] okycelt opened #10193 "DASH: Possibly incorrect interpretation of live offset"
We've recently started migrating from 2.11.8 to 2.17.1 and we've been seeing strange inaccuracies in connection with live offset. E.g. instead of 10 seconds behind live edge, some streams start playing more than 2 minutes behind live edge in the default configuration. We tried to set `MediaItem.LiveConfiguration.targetOffsetMs` to 1 hour and the stream started playing 1 hour and 2 minutes behind l

[2022-04-17 18:00] fgl27 commented on #10170
Setting

[code]

Fix the issue.

Thanks.

[2022-04-18 07:29] webwayscript commented on #9141
so any way you can remove seekbar only from notification bar of Exoplayer?? also there is no DefaultControlDispatcher  class.. any help

[2022-04-18 08:01] 360060316 opened #10194 "How to use proxy"
How to use proxy

[2022-04-18 11:03] skusuj opened #10195 "Latency Optimization - video play back start up time"
**Question**

We are using react-native-video for video playback which on Android uses Exoplayer. We determine video playback start up time (Play To First Frame) by capturing the moment when user clicks on play button and the moment when we receive onReadyForDisplay event from native player. To better understand where most of the time spent we further break it up as player initialization time (use

[2022-04-18 11:27] skusuj opened #10196 "Latency Optimization - allowChunklessPreparation for HLS content"
**Question**

We are using react-native-video for video playback which on Android uses Exoplayer. We determine video playback start up time (PTFF - Play To First Frame) by capturing the moment when user clicks on play button and the moment when we receive onReadyForDisplay event from native player. To better understand where most of the time spent we further break it up as player initialization ti

[2022-04-18 15:19] fgl27 commented on #10170
Another test was done and I have a doubt.

When the internet connection speed is very close to the stream minimum necessary bandwidth, the player will show down the playback until the latency is 30s.

Is this expected behavior?
There is a way to prevent this?

Even with `setLivePlaybackSpeedControl` we have this issue on this case.

[2022-04-18 22:03] stevie-patreon opened #10197 "Trace class names are obfuscated by proguard"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

Pixel 6 running Android 12

I'm profiling my video startup time and some potentially useful trace name data from Exoplayer is proguarded away

<img width="1081" alt="Screen Shot 2022-04-18 at 17 59 42" src="https://user-images.githubusercontent.com/97045378/163884552-5ce29e15-0aae-45f1-809f-cb7cc1e2b15a.png">

The cause is the pa

[2022-04-18 22:15] stevie-patreon commented on #10197
If I add

[code]

to my proguard configs I get the missing class names

[2022-04-19 01:04] #10090 closed, assigned to ojw28

[2022-04-19 08:27] marcbaechinger commented on #10191
Having multiple base URLs in the manifest is the recommended way. If you have a manifest with multiple base URLs, the player can choose a fallback for loading media without reloading a new manifest but instead can just choose a new base URL for downloading media chunks.

[2022-04-19 08:43] marcbaechinger commented on #10186
From the stack trace I think the exception happens without any ExoPlayer library or extension classes being involved.

It's a bit unclear to me how you are using the IMA extension. I think you should not be required to load ads in an `ArrayList`, call methods on the `AdsManager` and the like. From what you describe it looks like you are using ExoPlayer to play ads in a custom way.

I'd recommend t

[2022-04-19 08:56] marcbaechinger commented on #10188
I don't understand how a stop button in the `PlayerControlView` is helpful for a user or a developer.

There is the play/pause button that starts/pauses playback and is in sync with `player.getPlayWhenReady`. It's unclear why a user should be able to trigger a `stop` call in an `Activity` that has a player UI. I also would not understand to what the button would change when the player is stopped.

[2022-04-19 09:28] XingzhaoYun opened #10198 "Support for @selectionPriority for DASH manifest"
System info:
Operating System: all
ExoPlayer Version: all

Feature request:
As put in ISO/IEC 23009-1 2019, @selectionPriority attributes in AdaptationSet, Representation and Sub-Representation specifies the selection priority for the described data structures. According to the definition, higher value of this attribute will have higher priority to playback, while ExoPlayer ignores this attribute

[2022-04-19 10:26] icbaker commented on #10189
Subtitle tracks are selected (or not) like any other media track, with one important difference: Unless a track is explicitly marked 'default' then no subtitle track will automatically be selected.

Track selection is generally no longer driven by renderer index (like in your code snippet) and instead by constraints. There's some info about track selection here, including info about disabling trac

[2022-04-19 10:27] icbaker commented on #10190
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-04-19 10:30] icbaker commented on #10192
You can register an `AnalyticsListener` and implement the load-related methods to give you an insight into what is being loaded. `MediaLoadData.dataType` will tell you whether a load is for a manifest, media or other types.

More info about registering and implementing `AnalyticsListener`: https://exoplayer.dev/analytics.html

[2022-04-19 10:32] iFCoder opened #10199 "When I set a gray filter globally in my app, the video played without picture but with sound"
Hello,When I set a gray filter globally in my app, the video played without picture but with sound. This is the code that I set up

    `fun init() {
        mGrayPaint = Paint().apply {
            ColorMatrix().apply {
                setSaturation(0F)
            }.let {
                colorFilter = ColorMatrixColorFilter(it)
            }
        }
    }

    fun setLayerGrayType(view: View)

[2022-04-19 13:53] javaboboApp commented on #10191
Nice thanks for the answer. I got another question , in the case that we use multiple base URLs:

 If Exoplayer is playing let's say 1 CDN and this fails. Is there any way to get this information (this exception) so we could track this error to our analytic platform indicating that this CDN is not working well?

[2022-04-19 13:53] javaboboApp commented on #10191
Nice thanks @marcbaechinger  for the answer. I got another question , in the case that we use multiple base URLs:

 If Exoplayer is playing let's say first CDN and it fails. Is there any way to get this information (this exception) so we could track this error to our analytic platform indicating that this CDN is not working well?

[2022-04-19 14:14] vfsfitvnm opened #10200 "How to lazily create MediaSource from MediaItem? Lazy Uri for MediaItem"
Hi! My use case is pretty similar to #7087 and  #8324.

Basically, in order to get the `Uri` of a `MediaItem` (a song), I have to execute an additional HTTP request.
This is simply unfeasible when building playlists: I cannot fire 20+ more requests at a single time, so I was looking for a way to postpone the `Uri` thing until it is actually needed, e.g. when the player is about to play the next so

[2022-04-19 16:03] icbaker commented on #10174
I tried this with an HLS stream with embedded subtitles and some sideloaded TTML subtitles. I see both the in-stream and the sideloaded subtitles available for selection in the [demo app](https://exoplayer.dev/demo-application.html) at the tip of the dev-v2 branch.

If you want to customise what track is selected by the player you need to change the track selection logic: https://exoplayer.dev/tra

[2022-04-19 16:10] icbaker commented on #10170
You've only set a max speed and not a min speed, so it seems expected that the player will still slow down. From the [linked guide](https://exoplayer.dev/live-streaming.html#customizing-the-playback-speed-adjustment-algorithm):

Note that you don't need to set the `LivePlaybackSpeedControl` to implement my suggestion from https://github.com/google/ExoPlayer/issues/10170#issuecomment-1094899159. As

[2022-04-19 17:01] bbq778 opened #10201 "dolby vision video problem since 2.17.0"
### ExoPlayer Version

2.17.0

### Devices that reproduce the issue

lenovo xiaoxin pad pro 12.6(p12 pro)
andrioid 11

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

_No response_

### Reproduction steps

 Play dolby vision video with Just Player 0.104+ based on ExoPlayer 2.17.0+
test files
https://developer.dolby.com/tools-media/sample-media/video-s

[2022-04-19 17:46] marcbaechinger commented on #10200
I think you should use a [`ResolvingDataSource.Factory`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/ResolvingDataSource.java). If you need this for every media source in the playlist you can just pass it to the constructor of the  `DefaultMediaSourceFactory` and then use the `DefaultMediaSourceFactory` to build the player.

[2022-04-19 18:17] marcbaechinger commented on #10191
Every load error is reported to `AnalyticsListener.onLoadError(
      EventTime eventTime,
      LoadEventInfo loadEventInfo,
      MediaLoadData mediaLoadData,
      IOException error,
      boolean wasCanceled)` whether you are using multiple base URLs or not. You can add your listener with `player.addAnalyticsListener(listener)`.

[2022-04-19 18:46] Stinger2198 opened #10202 "Bug with counting time Exoplayer 2.17.1"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Android device - Amazon Fire tv stick (all version)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Video plays longer than its duratio
[log_exoplayer.txt](https://github.com/google/ExoPlayer/files/8515640/log_exoplayer.txt)
n

### Expected res

[2022-04-19 20:56] vfsfitvnm commented on #10200
Oh. Now I see. `ResolvingDataSource` is what I was looking for (I saw it in the past days but I somehow felt discouraged because I didn't see neither a `MediaItem` nor a `MediaSource`, shame on me); I just implemented it and works fine, but, unfortunately, it doesn't require reflection so it's less cool :-1:

Thanks for the quick reply, closing!

[2022-04-19 20:56] #10200 closed, assigned to marcbaechinger

[2022-04-19 21:36] greypins opened #10203 "What's the reason behind deprecating/removing onPlayerStateChanged()?"
We're in the process of migrating away from deprecated methods in ExoPlayer 2.16.1, and noticed all our usages of `AnalyticsListener`:
[code]
Will need to be migrated as such:
[code]

Is this the correct approach to both 1) persisting our existing implementation and 2) reproducing the original `onPlayerStateChanged` implementation?

Also curious around the reasoning behind this method's deprecatio

[2022-04-19 21:55] ojw28 commented on #10165
@claincly - Please take a look

[2022-04-19 21:56] ojw28 commented on #10164
The reproduction steps provided are not sufficient for us to actually reproduce the issue. `StyledPlayerView` works fine in our own demo app, so just using `StyledPlayerView` is not by itself sufficient to reproduce the problem. Please provide concrete reproduction steps if you'd like us to look at this.

[2022-04-19 22:00] ojw28 commented on #10159
Thanks for the detailed report and proposed fix!

[2022-04-19 22:02] ojw28 commented on #10163
Closing this as a duplicate of #6166

[2022-04-19 22:02] #10163 closed, assigned to ojw28

[2022-04-19 22:09] ojw28 commented on #6166
I've generalized the title to cover the playback case as well as the download case. Note that there is a pending pull request that looks to add this (https://github.com/google/ExoPlayer/pull/7852), although I was concerned at the time that:

1. For adaptive content, it's unclear to which requests headers should be attached during the playback.
1. It doesn't handle the need to refresh header conten

[2022-04-19 22:21] ojw28 commented on #10157
It's not entirely clear what you're trying to do. If you only need to customize the component that actually downloads the data, then customizing the `DataSource` would be sufficient. However, you also write about the need to simultaneously customize load control and track selection components, at which point it becomes unclear what you're trying to do and what your definition of "download logic" e

[2022-04-19 22:21] #10157 closed, assigned to ojw28

[2022-04-19 22:41] ojw28 commented on #10154
I think that (1) is a better approach, and that you should discard (2) because it's clearly the worse of the two options. I also think (although could be wrong) that (1) is pretty much the accepted way of doing this. Searching the web for "SBS video" throws up quite a few examples.

(1) guarantees synchronization between the two eyes, even down to frame drops. In particular, you don't start runnin

[2022-04-19 22:49] ojw28 commented on #10161
It's quite hard to follow what you're asking, but there's a fairly detailed guide about PiP support [here](https://developer.android.com/guide/topics/ui/picture-in-picture). It looks like you have to explicitly call `Activity.enterPictureInPictureMode` to enter PiP mode in the first place, so it's unclear why you couldn't just not call that method in your `Activity` for the case that the user does

[2022-04-19 23:00] ojw28 commented on #10066
Marking this as an enhancement to look at what can be done to speed inflation up. If you're able to identify any concrete improvements, we would welcome high quality pull requests to improve on this.

That said, you may well be able to improve your own app's performance by avoiding inflating a new page view every time the user swipes the page. Can you recycle the page views instead? If you're usin

[2022-04-19 23:10] ojw28 commented on #10162
Is that even an error message? It's unclear to me. The first line references `CryptoException` but does not indicate conclusively that one was actually thrown. Then there are two informational lines that look correct (they say that the clearkey and widevine CDMs exist on the device). Then there are two warnings lines, but it's unclear whether they cause the failure. They do possibly imply some kin

[2022-04-19 23:16] ojw28 commented on #10088
If you're using `StyledPlayerView`, then you can set a listener to be notified when the user clicks the built-in fullscreen toggle button by calling `styledPlayerView.setControllerOnFullScreenModeChangedListener`.

You can then implement `OnFullScreenModeChangedListener.onFullscreenModeChanged` to update your layout and activity to be fullscreen or not (you have to implement this in application co

[2022-04-19 23:16] #10088 closed, assigned to ojw28

[2022-04-19 23:16] #10055 closed, assigned to ojw28

[2022-04-19 23:40] ojw28 commented on #9068
It's working as intended that scheme data specified in the manifest is preferred over scheme data specified in the init (e.g., FMP4 `moov`) segment of the media. This is because scheme data specified in the manifest is much easier to update, if needed (i.e., it can be updated without having to re-transcode all of the assets in an on-demand content library).

It does look like we're supposed to tre

[2022-04-19 23:41] ojw28 commented on #9068
Assigning to @icbaker since this relates to DRM.

[2022-04-19 23:46] ojw28 commented on #10086
Marking `needs more info` because we still don't have a demo project that reproduces the issue.

[2022-04-19 23:53] ojw28 commented on #1049
I think we can just close this. The lack of any other reports of this issue over the past 4 years suggests that DASH content with non-aligned segments is extremely uncommon, and hence there's little to be gained from attempting to handle such content any better.

[2022-04-19 23:53] #1049 closed

[2022-04-19 23:57] ojw28 commented on #10202
Duplicate of #10083. Please don't file multiple issues about the same thing. Thanks!

[2022-04-19 23:57] #10202 closed, assigned to ojw28

[2022-04-20 00:56] rrfrias commented on #10155
Might it be possible to get us an exception from an android S device? We have added more detail that should help us investigate the specific failure. If you have a bugreport, that would be much appreciated.

It is not clear without knowing more about the error whether reprovisioning might help (see https://github.com/google/ExoPlayer/issues/8039#issuecomment-738177785)

@icbaker might you be able

[2022-04-20 01:07] cedricxperi commented on #10159
No worries. Thanks for looking in to this!

[2022-04-20 01:20] rrfrias commented on #9968
Thanks for the provisioning failure information. Can you mention the system ID in addition to the model name/cpu_info that was included? If you can mention the percentage of failures to total provisioning attempts for a few devices, that would help give us an indication of the magnitude of the issue.

Also if you have a few of the provisioning requests, that would be helpful. The one mentioned her

[2022-04-20 01:30] cedricxperi opened #10204 "HLS (fMP4) Exoplayer v2.17.1 DTS Digital Surround Passthrough Issue"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Nvidia Shield TV Pro

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Yes

### Reproduction steps

Playback a HLS (fMP4) DTS Digital Surround audio stream on Nvidia Shield TV Pro (connected to an AVR via HDMI) running v2.17.1 Exoplayer demo app.
The DTS bitstream should be passthrough to the

[2022-04-20 04:08] ThreeMinutesFix commented on #10161
![msg1624374853-3973](https://user-images.githubusercontent.com/103521732/164148479-98bdef46-2366-4874-af2e-2116a88631af.jpg)
this is youtube application where in settings they provided a toggle button to control working of pip mode. i want to implement same function

[2022-04-20 07:07] rrfrias commented on #9707
We are passing it to Sony for furthur investigation.

Internal ref: 223469195

[2022-04-20 07:12] easdkr opened #10205 "How to generate aar inclueded all exoplayer libraries ?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-04-20 08:49] claincly commented on #10165
I can't connect to the link provided via both VLC and ExoPlayer. A fix is on the way.

[2022-04-20 09:05] ojw28 commented on #10161
Creating a toggle button in a settings activity, that persists a boolean preference somehow in your app, seems like a general Android development question that's outside the scope of this issue tracker. You should probably ask on StackOverflow or similar.

Once you have a boolean preference in your app, I think you just need to read its value and enter PiP mode (i.e., by calling `Activity.enterPic

[2022-04-20 09:16] ThreeMinutesFix commented on #10161
thanks for the reply.  i try to implement the idea that you have given.
https://stackoverflow.com/questions/71835676/how-to-control-exoplayer-pip-via-switch-button
. i have already written that in stackoverflow but there is no answer yet so i directly asked here as this forum is active. ( not to misuse this but to get my solution/input immediatly)

[2022-04-20 09:48] icbaker commented on #8039
It's possible to manually trigger re-provisioning by using the framework `MediaDrm` APIs directly combined with ExoPlayer's `HttpMediaDrmCallback` to hide away lots of the HTTP-related boiler-plate - something like:

[code]

[2022-04-20 09:49] icbaker commented on #10155
I added a new comment to #8039 with a suggestion of how to manually trigger re-provisioning: https://github.com/google/ExoPlayer/issues/8039#issuecomment-1103723535

[2022-04-20 11:10] christosts commented on #10196
In case you have not seen it, this [blog post](https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6) contains more information on HLS chunkless preparation, how it works, and what information it checks in the playlist. It could be that the playlist is formed in a way that chunkless preparation falls back to chunkful - have you checked what is being downloaded? It would help if y

[2022-04-20 11:37] NicolasGodfather commented on #9544
Should it be: "Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==", why missing word "Basic" ?

[2022-04-20 11:55] NicolasGodfather opened #10206 "Rtsp: missing word "Basic" in RTSP Authorization header"
I can't auth on server, in line "Authorization: YWRtaW4xOmFkbWlu" missing word "Basic". My rtsp url is "rtsp://admin1:admin@yakubouski.navek.dev:9554/stream3/live", but you can't test it url cause need my office vpn - please see my Logs and tell me why it happens:

D/RtspClient: OPTIONS rtsp://yakubouski.navek.dev:9554/stream3/live RTSP/1.0
    User-Agent: ExoPlayerLib/2.17.1
    CSeq: 0
D/RtspCli

[2022-04-20 12:02] NicolasGodfather commented on #10206
I also ask it here with @[LupuFlaviu](https://github.com/LupuFlaviu)  https://github.com/google/ExoPlayer/issues/9544 but nobody answered.

[2022-04-20 12:07] NicolasGodfather commented on #10049
We waiting for expert answers!

[2022-04-20 12:24] javaboboApp commented on #10191
Thanks for answer @marcbaechinger  :)

[2022-04-20 12:28] ojw28 commented on #10198
Assigning to @marcbaechinger since this seems similar (in a tangential way) to multiple BaseURL selection. Note that 23009-1 doesn't really describe usage, but [DASH-IF IOP](https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf) does:

@XingzhaoYun - If you could describe what your exact usage of this parameter is, and provide a sample MPD, that would also be helpful.

[2022-04-20 12:40] christosts commented on #10204
@andrewlewis do you now if we can make a _safe_ guess on the number of channels if the information is missing from `Format` for those audio formats for which the player does audio passthrough? In this issue it's DTS, but I think the same problem may apply for the other audio encodings too. With HLS chunkless preparation, we cannot know the channel count from the playlist., hence `Format.channelCou

[2022-04-20 13:02] claincly commented on #10049
If you look at [RFC2327 Section 6](https://datatracker.ietf.org/doc/html/rfc2327#section-6), those fields are mandatory. That said, we don't use these fields in the RTSP logic, so it's safe to remove the check.

We'll have a change to remove this check.

[2022-04-20 13:07] ojw28 commented on #10159
Please see email. Thanks!

[2022-04-20 13:46] andrewlewis commented on #10204
If this is for plain DTS it looks like it only goes up to 5.1 so we could conservatively check for 6 channel output capability. That should be safe in the sense that there can't be more channels in the stream when it loads. For HDMI audio capabilities we get a max channel count so that probably means that fewer channels than the max are always supported.

[2022-04-20 14:00] claincly commented on #10206
A fix is on its way.

[2022-04-20 14:13] BucherTomas commented on #10162
Thank you.

We have integrated Mux Data analytics module for ExoPlayer for error reporting (that is where we got the error message from) and we cannot conclusively state whether it leverages `Player.Listener.onPlayerError` or not. But as the same module is able to report regular looking errors, it would seem that it does and I assume that this is what is being fed as DRM error in this instance fro

[2022-04-20 14:55] chengjuechao opened #10207 "more player fragment bug"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Samsung S9+ running Android 9

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Reproducible items :
https://github.com/chengjuechao/exoplayertest.git
When the first fragment and the second fragment are switched back and forth, the video frame of th

[2022-04-20 15:19] #10161 closed, assigned to ojw28

[2022-04-20 15:37] Stinger2198 commented on #10083
Hi.
I am understood you.
But can somebody help me with that problem?
I tried different way, but nothing help me.
Best regards Andrew.

ср, 30 мар. 2022 г. в 21:41, Oliver Woodman ***@***.***>:

[2022-04-20 16:23] MolchanovDmitry commented on #10120
I’ve founded a workaround. I'm waiting call of `onLoadCompleted`, which is called before `onPlayerError`.
If `onLoadCompleted` was not called - we have master playlist error.
If `onLoadCompleted` called - we have track playlist error.
That's what I needed.

Thank you.

[2022-04-20 16:23] #10120 closed, assigned to marcbaechinger

[2022-04-20 16:35] jamescahall commented on #10192
Thank you.  This is helpful.  As a follow-on question, is it expected that m3u8 requests will continue when the app is put in to the background even when the player is paused?  This is causing issues with SSAI Render rates and unclear how to completely stop the player from continuously requesting the m3u8 manifests on live/linear streams when the app is in the background and should be fully suspen

[2022-04-20 18:00] fgl27 commented on #10170
Sory a little busy didn't not get that there was two speed option, will set both.

thanks

[2022-04-20 18:18] adamheinrich-oke opened #10208 "Migration from 2.16 to 2.17. How to use drmSessionManagerProvider instead setDrmSessionManager"
In my dashfactory I was calling:

[code]

However after the update to 2.17.1 I have no longer access to `.setDrmSessionManager()`
I was passing customManager created in other function in a such way:
[code]

 So I created DefaultDrmSessionManager with Bulder() call.
However now I cannot use this object as drmSessionManagerProvider  is needed.
I got type mismatch.
Required: DrmSessionManagerProvider

[2022-04-20 18:27] starchey opened #10209 "Duplicate/Repeated letters in CEA-608 Dash captions"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

* Pixel 2 running Android 11
* Has happened on every other emulator, device we've tried as well

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Setup ExoPlayer with a StyledPlayerView
2. Play a DASH DRM stream with CEA-608 track (ex. https://co

[2022-04-20 21:43] rrfrias commented on #10155
@sridhard You can use @icbaker suggestions to reprovision. If you can capture an exception from an android S device or a bugreport, that would be helpful for us to root cause the issue. If there are no other action items, we will close this in issue in 2 weeks.

[2022-04-20 21:56] rrfrias commented on #9707
@kvillnv it will be helpful for Sony's investigation if you can share an apk that repros the issue.

[2022-04-21 03:55] SaurabhOfficial commented on #9968
here are few requests.

[code]

[code]

That would be difficult to do since we only have the number of failed requests, not sure if I can get the number of provisioning requests made by any particular device.

[2022-04-21 08:44] icbaker commented on #10208
tl;dr You should be able to do this by creating a very simple `DrmSessionManagerProvider` that just always returns the same instance, e.g. with a lambda:

[code]

This is covered here: https://exoplayer.dev/drm.html#using-a-custom-drmsessionmanager

---

Longer version:

This method (and some other DRM related methods) were [deprecated on the `MediaSourceFactory` interface in 2.13.0](https://githu

[2022-04-21 09:29] NicolasGodfather commented on #10206
Thanks! We waiting for.

[2022-04-21 09:34] vmmontes commented on #9230
Is there someone checking this issue?

[2022-04-21 09:40] NicolasGodfather commented on #10049
Thanks! Will be perfect if you remove this check.

[2022-04-21 09:51] marcbaechinger commented on #10203
The reasoning is to consistently have a one callback for each property of the `Player`.

For your use case you can look into [`onEvents(Player, Events)`](https://github.com/google/ExoPlayer/blob/release-v2/library/common/src/main/java/com/google/android/exoplayer2/Player.java#L637) and check whether the events [`EVENT_PLAYBACK_STATE_CHANGED`](https://github.com/google/ExoPlayer/blob/release-v2/lib

[2022-04-21 11:55] RakshithGB opened #10211 "Unable to play 2 videos simultaneously"
This issue is related to #9360 . However I'm able to play video on both views on my device but just not simultaneously. By default both players are set to auto-play and only the second player starts playing while the first is paused. At any given instant I can have only one active video player while the other is in a paused state, whichever I tap play on the other automatically goes to pause. The

[2022-04-21 14:24] adamheinrich-oke commented on #10208
it works thank you @icbaker

[2022-04-21 14:24] #10208 closed, assigned to icbaker

[2022-04-21 15:10] sruditsky commented on #10168
@christosts
Is there any progress with this?

[2022-04-21 15:26] icbaker commented on #10192
If you pause the player without stopping or releasing it, all player logic will continue while your app process is still running, whether it's in the foreground or not - ExoPlayer generally doesn't behave differently if the app ends up in the background (for example, many apps want audio playback to work 'normally' from a service with no UI).

That likely explains why we continue to refresh the HL

[2022-04-21 15:31] jamescahall commented on #10192
Thanks for the feedback.  I guess this just differs from other platforms / players where if there is a not a permission or feature set to enable background audio, video playback should automatically be suspended and resumed with app lifecycles for entering and returning from background.  Typically pausing will handle that.  This is the only platform / player we've experienced this on.

[2022-04-21 15:39] icbaker commented on #10192
The way our demo app handles the player is a good reference for what we consider 'best practice' for integrating our library with the android app lifecycle (including splitting behaviour between `onPause` and `onStop` depending on API level):
https://github.com/google/ExoPlayer/blob/r2.17.1/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L146

[2022-04-21 15:41] #10192 closed, assigned to icbaker

[2022-04-21 15:56] greypins commented on #10203
Gotcha. Makes sense.

Thanks for the alternative, we'll look into that method.

[2022-04-21 16:58] #10203 closed, assigned to marcbaechinger

[2022-04-21 18:26] rrfrias commented on #9968
Thanks for that information. Can you also share the system ID in addition to the model name/cpu_info that was included in the information you mailed to dev.exoplayer@gmail.com earlier?

[2022-04-21 20:45] #10191 closed, assigned to marcbaechinger

[2022-04-22 05:08] SaurabhOfficial commented on #9968
@rrfrias I have shared a list of top 10 systemIDs above do you need the systemIDs of those devices specifically?

[2022-04-22 05:15] chengjuechao commented on #10207
Found the cause.Not a bug.

[2022-04-22 05:15] #10207 closed, assigned to christosts

[2022-04-22 07:03] skusuj commented on #10196
Hi christosts

Yes i have gone through that blog post and since the required codec information is present in HLS manifests we are using, thought of enabling chunkless preparation for faster start up time. Added an event listener factory to httpclient builder to log http requests and i don't see any request to download chunk before video load start event irrespective of whether chunkless preparatio

[2022-04-22 07:18] XingzhaoYun commented on #10198
@ojw28 - Here is a sample MPD that has @selectionPriority attribute in AdaptationSet, selectionPriority="3" will be the default track when playing.
[code]

[2022-04-22 08:13] drayan85 opened #10212 "Callback for `dispatchFastForward`, `dispatchRewind` and `dispatchSeekTo`"
Since ControlDispatcher and DefaultControlDispatcher have been removed from **[v2.16.0](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2160-2021-11-04)**

How do we get the call back fast forward, rewind button press, and also user seek to a different position?

[2022-04-22 11:59] ojw28 commented on #10198
What would you actually expect a DASH client to do given this manifest? Quoting from the DASH-IF:

If the user or device is configured to indicate a preference for one of the three languages, then I think the DASH client will "make a decision otherwise", because there's a reason for the client to prefer one of the adaptation sets over the others. So, would you expect the `selectionPriority` to be

[2022-04-22 13:51] #10031 closed, assigned to ojw28

[2022-04-22 13:58] ojw28 commented on #6179
This has been fixed in the platform in Android T.

[2022-04-22 13:58] #6179 closed, assigned to ojw28

[2022-04-22 14:01] ojw28 commented on #10046
Duplicate of https://github.com/google/ExoPlayer/issues/10083

[2022-04-22 14:01] #10046 closed, assigned to ojw28

[2022-04-22 14:07] #9399 closed, assigned to ojw28

[2022-04-22 14:50] Stinger2198 commented on #10083
After some time i found where is the problem was.
I am using xml tags String for adding ads, when i am using this method - Util.getDataUriForString("application/xml", vastData); - for parsing to Uri, begin get this issues.
I am again describe problem - when video ended, it will freezed but timer counting time more than video duration (on screenshot).
After some time (random) switching to next vide

[2022-04-22 14:51] Stinger2198 commented on #10046
Updated my question, please check

пт, 22 апр. 2022 г. в 17:01, Oliver Woodman ***@***.***>:

[2022-04-22 15:08] Stinger2198 commented on #10083
@ojw28 Please check update. This is not device specific

[2022-04-22 15:19] ojw28 commented on #10083
I don't really understand the comment above, but I don't think you've provided clear reproduction steps. Please try and reproduce in our demo app (as already suggested above). If you can do so, please provide clear reproduction steps that allow us to efficiently reproduce the issue.

[2022-04-22 17:13] Tolriq opened #10213 "Exoplayer user agent"
I have users that report different http user agent sent from my application and I'm not sure why.

I'm using a custom DataSource factory:
[code]

So the user agent should be properly set for everything.
Yet the user report
![image](https://user-images.githubusercontent.com/932609/164762431-821cea63-2a04-4b23-9d5e-893e95d02226.png)

So there's an ExoPlayerLib and a stagefright headers generated by

[2022-04-23 06:46] sruditsky commented on #10168
@icbaker @christosts
So, as I mention in the original description the problem is that ExoPlayer creates the audio FragmentedMp4Extractor for HLS without FLAG_ENABLE_EMSG_TRACK flag set. And my understanding of the reason for why this is done this way is that would we create both (audio and video) FragmentedMp4Extractor-s with this flag we would have 2 SampleQueue-s with metadata and would need 2 M

[2022-04-23 14:22] kschults commented on #6166
Thanks for the update @ojw28. I'm going to be offline for the next six+ months, so I won't be able to move forward on [#7852](https://github.com/google/ExoPlayer/pull/7852) until at least late fall, if someone wants to pick it up from me. (Will comment over there as well)

[2022-04-23 22:32] jack-jjm commented on #10154
Thanks for the reply. I suppose if I pre-processed the videos on the headset itself that might be acceptable (so as a user you can just stick a regular video file on the device and not need any more software). However, this is still not entirely satisfactory since I'd eventually like to move on to spherical/360 video and allow the user to look around in it. I'm pretty sure no (reasonable) amount o

[2022-04-24 17:34] vyagrah opened #10215 "How to use system's equalizer with exoplayer?"
I am using system default audio equalizer in my app.

For that I checked out this issue:
https://github.com/google/ExoPlayer/issues/3058

The issue told to use `onAudioSessionId(int audioSessionId)` meathod for applying audio effects before starting any playback, but I think it is deprecated.

I checked out these 2 meathods also, which are from
`AnalyticsListener`
[code]
and `Player.Listener`
[cod

[2022-04-25 03:12] huaxiaxueyuan opened #10216 "How to add videoListener in v2.16.0"
I updated the com.google.android.exoplayer2.video version from 2.11.3 to 2.16.0, but I can not found com.google.android.exoplayer2.video.VideoListener .

Is there any new methods to replace videoListener in v2.16.0 ？

[2022-04-25 03:13] vyagrah commented on #3058
where is this `onAudioSessionId`?
is it deprecated?
I used `onAudioSessionIdChanged()` meathods of `AnalyticsListener `and `Player.Listener` but they never get called.

[2022-04-25 07:12] PriyanshuSahu2 opened #10217 "How to show SSA/ASS Subtitles in video player"
normal subtitles are running fine in my app but when i select ssa subtitles it wont show .can anyone help me

[2022-04-25 07:56] MilleJanos opened #10218 "InstantiationError on 2.17.X"
I'm experiencing crashes when starting DASH playback starting from version 2.17.0. Check the exception below.

Looks like ```com.google.android.exoplayer2.ext.ffmpeg.FfmpegLibrary``` class tries to create a new instance of ```com.google.android.exoplayer2.util.LibraryLoader``` class, but ```LibraryLoader``` became abstract starting from 2.17.0.
I don't have any issues on exoplayer 2.16.1.
Am I doi

[2022-04-25 08:31] icbaker commented on #10168
Yes this should work - the reason it's very hard for ExoPlayer to do this automatically is that we don't know how many emsg tracks we're going to find in each stream before preparation, and by the time we're preparing we've already constructed all the renderers.

If you always know you're going to have two emsg tracks then constructing two MetadataRenderers to handle them and ensuring they're both

[2022-04-25 08:51] ojw28 commented on #3058
We made some improvements to the way audio session IDs are generated in 2.13.0. The corresponding entries in the release notes are:

*   Fix handling of audio session IDs ([#8190](https://github.com/google/ExoPlayer/issues/8190)). `SimpleExoPlayer` now generates an audio session ID on construction, which can be immediately queried by calling `SimpleExoPlayer.getAudioSessionId`. The audio session I

[2022-04-25 08:51] #3058 closed, assigned to andrewlewis

[2022-04-25 09:18] ojw28 commented on #10154
You can use a single preprocessed video for spherical/360 as well. You need to encode the 360 video using a suitable projection, and then render it onto corresponding geometry during playback (e.g., the inside of a sphere for each eye).

[2022-04-25 09:18] #10154 closed, assigned to ojw28

[2022-04-25 10:42] marcbaechinger commented on #10211
It may be that the two players compete for the same audio focus. So each time you start one player the other player looses the audio focus and pauses. You should be to see this in the logs if you have `EventLogger` in place (which is the case for the demo project).  Filter logcat for `playbackSuppressionReason` or 'TRANSIENT_AUDIO_FOCUS_LOSS' to find the line in question. You can listen to this ev

[2022-04-25 10:58] marcbaechinger commented on #10212
You can use a `ForwardingPlayer` as mentioned in the [release notes you are referring to](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2160-2021-11-04):

[code]

It  depends on what you want to do which isn't clear from the information you provided. Assuming you are using the `ControlDispatcher` for the `StyledPlayerView` you may want to do something like this:

[code]

I'm

[2022-04-25 11:06] marcbaechinger commented on #10215
Please refer to the [answer provided](https://github.com/google/ExoPlayer/issues/3058#issuecomment-1108272570) in #3058. It basically tells to `use getAudioSessionId immediately after player construction to query the audio session ID that's being used`.

I'm going to close this issue as a duplicate of #3058. Please re-open if you think this it's needed.

[2022-04-25 11:06] #10215 closed, assigned to marcbaechinger

[2022-04-25 11:11] marcbaechinger commented on #10216
From the [RELEASENOTES.md for 2.16.0](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2160-2021-11-04):

[code]

You should find the callbacks you used with `VideoListener` in `Player.Listener` starting from 2.16.0. If this is not the case please re-open this issue and add some details on what you are looking for so I can help some further.

[2022-04-25 11:11] #10216 closed, assigned to marcbaechinger

[2022-04-25 11:12] RakshithGB commented on #10211
Thank you so much! Setting the focus to `false` on both solved it.

[2022-04-25 11:12] marcbaechinger commented on #10217
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2022-04-25 11:57] marcbaechinger commented on #10211
Cool!

Please be aware that in this case you should [manage audio focus](https://developer.android.com/guide/topics/media-apps/audio-focus) on your own to behave in a way that does not annoy your users. Your users for instance expect that you stop playback when other apps start playing audio. If you don't do that it is likely that your users may be at least confused and they may uninstall your app

[2022-04-25 11:57] #10211 closed, assigned to marcbaechinger

[2022-04-25 12:04] marcbaechinger commented on #10213
The user agent created with `Util.getUserAgent(this, "Symfonium")` gives me the following string:

`Symfonium/1.0.0-alpha03 (Linux;Android 11) ExoPlayerLib/2.17.1`

the  `1.0.0-alpha03` is probably different for you because this is the versionName that you define in the `build.gradle` file of your app.

From the screenshot above it is a bit unclear what the actual user agent string is that the too

[2022-04-25 12:09] wowonsdu commented on #9823
We are also experiencing this issue in quite a large quantity of users.
Not able to pinpoint and details on what might be causing this issue but it happens when releasing the player.
![image](https://user-images.githubusercontent.com/52591783/165085983-2d5cf6b7-8896-4083-9e18-e4c9b6a3a83e.png)
![image](https://user-images.githubusercontent.com/52591783/165086427-7fec89ba-cdf8-44a8-b911-03ad38955c5

[2022-04-25 12:17] Tolriq commented on #10213
1) The data is wrapped by
[code]
Then I use addMediaSources and map my media with
[code]

The PlayableMediaItemDataSource is just a wrapper over the OkHttpDataSource to initiate transcoding or update the actual media url before delegating.

2) Virtually anything music related without DRM as I do not control the user server and data.
3) For this server it's only direct music urls without file exten

[2022-04-25 12:20] marcbaechinger commented on #10218
It appears to me that this should work if you have updated the Ffmpeg extension to 2.17.1 accordingly:

https://github.com/google/ExoPlayer/blob/r2.17.1/extensions/ffmpeg/src/main/java/com/google/android/exoplayer2/ext/ffmpeg/FfmpegLibrary.java#L36

Can you double check whether this is the case and if not keep the version of the extension in sync with the other dependencies and try again?

[2022-04-25 13:39] utonautes opened #10219 "MediaCodec throws IllegalStateException (internalError -110) when pausing the playback."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Several devices using qualcomm AVC decoder (OMX.qcom.video.decoder.avc)

* Samsung Galaxy Tab S7 (SM-T875 , API Level 29)
* LG V50 ThinQ 5G (LM-V500N, API Level 30)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Change `PlayerActivity.java` in demos/

[2022-04-25 14:14] MilleJanos commented on #10218
There is an `ffmpeg` related `.aar` file which targets `"com.google.android.exoplayer2.ext.ffmpeg"` where the class files are located inside `classes.jar`. Do I have to manually update each file from the link you sent? Or it is possible to make this `.aar` file update automatically to the 2.17.1 version?
(Updated comment)

[2022-04-25 14:55] sruditsky commented on #10168
@icbaker
Thanks for confirmation.

[2022-04-25 15:53] ProtoScott opened #10220 "Adding ADTS header to AAC audio"
We are trying to fix an issue where our AV receiver isn't correctly displaying the surround sound information when receiving AAC audio.
We have seen a fix on a branched version ExoPlayer 1.5.X for the issue which involved adding an ADTS header to the sample.

There have been a significant number of changes to ExoPlayer since this.
We've been able to write the 7 byte header and so far have tried pu

[2022-04-25 16:54] TheSikh opened #10221 "Randome Crash in AdTagLoader"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

Xiomi Redmi 9A running android 10
Oppo A5 running android 8.1.0
Xiomi Redmi 7 running android 10
Xiomi Redmi note 9 Pro running android 10
Samsung Galaxy A10 running android 9
Xiomi Poco M2 running android 10
Vivo 1904 running android 9
Xiomi Redmi Y2 running android 9
Vivo 1820 running android 8.1.0
Oppo A1K running android 9
Sa

[2022-04-25 19:40] domier commented on #9712
Just curious - was it ever confirmed that these pushes fixed the issue?  Plex claims to implement 2.17.1, but what appears to be the same issue is still occurring:

`04-21 07:34:53.561  i: [FFmpeg] [INFO] [hls @ 0xb42f1400] Opening 'https://192-168-1-34.91039e1f9ebe40ed851bfb93ab971b53.plex.direct:32400/video/:/transcode/universal/session/27cf9f1a4f9197d3-com-plexapp-android/base/00159.ts' for rea

[2022-04-25 19:55] eazes123 commented on #10089
@Pecana if you use decoder mp3 can you send that aar file.

[2022-04-26 00:43] gemiren commented on #9712
The original bug reported in this issue tracking has been fixed. Thanks!

[2022-04-26 00:43] #9712 closed, assigned to krocard

[2022-04-26 05:18] ghost commented on #10143
Hey thanks for your support I will let you know.

[2022-04-26 08:30] marcbaechinger commented on #10218
I think you got that `aar` file from building the extension yourself. I don't know of another way of integrating the extension than described in the [`README`](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg#build-instructions-linux-macos).

[2022-04-26 08:42] marcbaechinger commented on #10213
Ok, thanks. In this case I think it's worth getting the exact user-agent strings before starting digging too much. I specifically want to rule out that the user agents are coming from various app versions. Please update the issue once you have a response from your users. The access log would be sufficient which gives some idea about how the entire ua string looks like and for what resources they r

[2022-04-26 08:57] MilleJanos commented on #10218
Okay. I re-built the `aar` file manually and now the stream works with 2.17.1
Thank you very-very much for the help!

[2022-04-26 08:57] #10218 closed, assigned to marcbaechinger

[2022-04-26 10:03] Stinger2198 commented on #10083
Hi @ojw28
Can i send you java class from your demo app with my data? With demo app i have got this issues too.

[2022-04-26 10:22] Stinger2198 commented on #10083
https://user-images.githubusercontent.com/30195609/165279362-493f08c8-ef55-4c30-8796-8e4a856ca742.mp4

[2022-04-26 10:22] Stinger2198 commented on #10083
Please check screen record from demo app

[2022-04-26 10:29] ojw28 commented on #10083
You can send a modified demo app either by forking the repository and making changes to your fork on GitHub (ideal) or by emailing `dev.exoplayer@gmail.com`, with `Issue #10083` in the subject.

[2022-04-26 10:38] Stinger2198 commented on #10083
Sent to mail @ojw28

[2022-04-26 10:44] icbaker commented on #10209
Thanks for the media link. I can reproduce the problem, however I'm not sure when I'll have time to dig in deeply to understand what's causing it and work out how to fix it. It seems to be relatively rare, because we've only received two reports and our CEA-708 parsing logic doesn't change that quickly - so it's likely that if there's a bug in our library it's been present for a long time. It's po

[2022-04-26 12:39] Stinger2198 commented on #10083
Before, that working like that (earlier version exoplayer library)
String vmap = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n" +
          "<vmap:VMAP xmlns:vmap=\"http://www.iab.net/videosuite/vmap\" version=\"1.0\">\n" +
          " <vmap:AdBreak timeOffset=\"00:00:15.000\" breakType=\"linear\" breakId=\"midroll-1\">\n" +
          "  <vmap:AdSource id=\"midroll-1-ad-1\" allowMultipleAds=\"fals

[2022-04-26 12:49] Jaydipnathani commented on #9230
Yes, we will work on this issue.

[2022-04-26 12:50] ojw28 commented on #10083
You're trying to insert adverts 16 minutes into a 4 minute long video, as per `<vmap:AdBreak timeOffset="00:16:00.000"` in the `vastData` that you're adding into the `MediaItem`. This is why playback is not ending at `3:58`. The ad configuration needs to make sense for the video it's being inserted into.

If I remove all the `AdBreak` elements whose offsets are greater than the duration of the vid

[2022-04-26 12:50] #10083 closed, assigned to ojw28

[2022-04-26 13:42] Stinger2198 commented on #10083
Video can be different duration (example 30-40 minutes).
This vmap must be universal
Before that was working fine

[2022-04-26 14:05] Stinger2198 commented on #10083
@ojw28 thank you a lot for help with figure out that problem!!!
Your advice really helped.
Best regards Andrew.

[2022-04-26 15:44] sc00ter5 opened #10222 "Device information in the User Agent"
When receiving traffic from ExoPlayer the user agent does not contain information pertaining to the device the video player is running within.  This makes it impossible to attribute traffic to device categories such as ConnectedTV, Mobile App, or Tablet.

We typically see user agent strings that looks as follows:  *AppName* (Linux;Android 7.1.2) ExoPlayerLib/2.8.4

Is there a way to pass the UserA

[2022-04-26 17:39] #10159 closed, assigned to ojw28

[2022-04-26 18:48] marcbaechinger commented on #10222
Agreed that being able to attribute requests to model and devices sounds like useful. I'm marking this issue as an enhancement. I don't think we will work on this soon I'm afraid though.

Once because of other priorities. But probably more because it's on one hand not easy to implement this on a library level to meet everyones use cases without bloating the ua string. And on the other hand it is e

[2022-04-26 19:25] icbaker commented on #10222
I think we're unlikely to change to ExoPlayer's default user agent logic, since from 2.13.0 onwards (specifically https://github.com/google/ExoPlayer/commit/2a5f6d8f627307041050adac608c5253c20d6cb5) we don't set a default user agent at all, instead just relying on the default value of the network stack being used, unless a developer provides an explicit user agent value as Marc described. So there

[2022-04-26 21:38] greypins opened #10223 "How can I find the currently playing `cmfv` source url? (DASH/HLS)"
What's the best approach to determining which `cmfv` url is currently being played in ExoPlayer? Specifically for DASH/HLS streams.

I didn't see a direct callback in `AnalyticsListener`, however I was able to find all the information from the `EventTime.timeline.manifest` in `AnalyticsListener.onTimelineChanged`, but I'm not sure how to grab the url for the `cmfv` we're playing from the `manifest

[2022-04-27 01:50] cedricxperi commented on #10204
Hi @andrewlewis @christosts ,

Picking up on your suggestions, how about something like below in DefaultAudioSink.getEncodingAndChannelConfigForPassthrough(). I have tested that the below works for passing through DTS Digital surround on Nvidia Shield TV Pro. Thanks.

if (encoding == C.ENCODING_E_AC3_JOC) {
      // E-AC3 JOC is object based so the format channel count is arbitrary. From API 29 we

[2022-04-27 09:40] XingzhaoYun commented on #10198
selectionPriority as a tiebreaker is a good idea, since client preference is obviously more important.

[2022-04-27 14:25] yhg94 commented on #10118
When will I get a reply?

[2022-04-27 14:54] sky-filipeuva commented on #10124
Related with https://github.com/sky-uk/core-video-team/issues/8551

[2022-04-27 15:07] changxiangzhong commented on #8261
I've encountered this issue today as well, and the ExoPlayer did not choose **OMX.qti.audio.decoder.flac**, it chose **OMX.google.flac.decoder**, but the result was not good either. Our SOC is BRCM72180. So yes, it seems like software flac decoder/extension is the way to go.
<details>
  <summary>Here are the ExoPlayer logs</summary>

[code]
</details>

<details>
  <summary>Here are the logcat logs

[2022-04-27 15:16] marcbaechinger commented on #10223
If it's not about the files but just about the track selection made by the player then you may find `onTrackChanged` more useful because this reports exactly that.

I don't think there is a way to find out what chunk is currently *being played* but you can track when a file *is being loaded*. For this `AnalyticsListener` [has callbacks telling you](https://github.com/google/ExoPlayer/blob/f1b37bc5

[2022-04-27 15:48] sc00ter5 commented on #10222
First of all, thanks to everyone for your replies.

@icbaker and @marcbaechinger  - I understand your stance here.  The downside to this approach is that from my experience the majority of implementations don't take the step to define the user agent.  THis isn't traditionally required in other libraries.  The result is that services such as video platforms or ad platforms doing SSAI (server side a

[2022-04-27 18:48] greypins commented on #10223
Thanks @marcbaechinger, the `onLoadXXX` gets the job done! I'll need to connect the dots myself between "track selected" and the file/path that was "selected".

It would be nice to know the path of which chunk/track is being played via `onTrackChanged` (or a different API?), but this works in the meantime.

[2022-04-27 20:18] #10223 closed, assigned to marcbaechinger

[2022-04-28 03:49] ScottPierce opened #10224 "onMediaItemTransition event happens 50-100 millis after the media item is transitioned"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Pixel C Emulator - API 32, along with FIreTV / Android TV devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Create a basic ExoPlayer
2. Add several videos to a `ConcatenatingMediaSource` to make a play list
3. Add a `Player.Listener` to the `Exo

[2022-04-28 05:11] AndreasVogelfrei commented on #10190
Sorry for being unclear. Here is a simplified version of my code:

[code]

- When running above code, I will get a return value of about 5 to 10 seconds from the call to "getTotalBufferedDuration()" consistently while the stream is played.
- When executing "mExoPlayer.pause()" the buffer value will increase, so calls to "getTotalBufferdDuration()" will return with incrementing values as long as pl

[2022-04-28 09:51] icbaker commented on #10190
The stream link provided is to a live stream - so playback will start close to the live edge and if both the playback position and live edge are advancing in real time (as you'd expect) then it's surely impossible for the buffer to increase any further than the offset between playback position and live edge?

When you pause then the playback position stops but the live edge keeps advancing, and th

[2022-04-28 11:27] marcbaechinger commented on #10224
I can not repro this to the extend you are reporting. When I play a playlist with two items I get two `onFirstFrameRendered` and `onMediaItemTransitioned` events - one for each media item I get this log:

[code]

According to this log the media item transition event actually happens 2 milliseconds after the `firstFrameRendered` event and is reported by logcat 18 milliseconds after it. The first ev

[2022-04-28 11:33] marcbaechinger commented on #10224
I just came to my mind that if you are using the `onEvents(Player, Events)` callback instead of two different callbacks, then you are virtually receiving these events at the same time.

[2022-04-28 11:55] icbaker commented on #10222
If there's revenue impact when not doing this step, then it seems the developers of the apps should be incentivised to do the step - in order to increase their revenue?

---

Aside:

It sounds like you're describing a particular way of doing SSAI where an untrusted/uncontrolled app directly makes requests to get a media stream that has ads already embedded. This leads to relying on generally unrel

[2022-04-28 11:55] #10222 closed, assigned to marcbaechinger

[2022-04-28 12:16] chris-sloan opened #10225 "Downloads problem, where to go next?"
We have a VOD streaming app which allows users to donwload MPEG-DASH WIDEVINE content.

If the user launches the app and immediately begins a download then the download will happen correctly and all the data will be downloaded and playback on the downloaded data can be achieved.
But if the user initiates online playback in some way prior to initiating a download (could be entirely separate content

[2022-04-28 13:32] tfcporciuncula opened #10226 "Make StyledPlayerView aware of SurfaceControl"
### Use case description
Starting from API 29, we have the nice [`SurfaceControl`](https://github.com/google/ExoPlayer/tree/r2.16.1/demos/surface) to help redirecting video output from ExoPlayer between different views in a better way. It works great with surface views, but many of us are used to working with the `StyledPlayerView`, and it currently has no `SurfaceControl` awareness whatsoever.

I

[2022-04-28 15:31] sc00ter5 commented on #10222
Thank you for the feedback.  I will try to educate app developers on how to implement this player framework so that the user agent of the device is passed.

[2022-04-28 22:54] domier opened #10227 "Bluetooth Audio Playback fails for some formats"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Chromecast with Google TV

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

When using Exoplayer 2.7.1 in both Jellyfin and Plex, the player fails to play (or fails to play audio) for certain formats when Bluetooth headphones are attached.  This was

[2022-04-29 05:17] AndreasVogelfrei commented on #10190
Thank you for this information. The idea of live streams is clear. So of course it is not possible to go back prior to the start of live stream.

However, even if this is a live stream it would be possible to fill a (separate) buffer while playing the stream, not only when paused. So a "last played live stream buffer" could be build up that would store a maximum of the last x byte (minutes). With

[2022-04-29 05:51] dokinkon opened #10228 "How to init StyledPlayerView with isFullScreen == false?"
I'm using Jetpack compose to implement a video-streaming app. And I want this app can support toggling full screen and vice versa. I can register ```setControllerOnFullScreenModeChangedListener``` to let fullscreen button visible to user. However when screen rotation from portrait to landscape, the ```AndroidView``` (a composable in Jetpack compose) recomposed and StyledPlayer recreated. This recr

[2022-04-29 07:49] icbaker commented on #10190
Ah sorry, despite it being in the title and the first comment I missed you're specifically asking about **back buffer**.

I think the problem might be that [`Player.getTotalBufferedDuration`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getTotalBufferedDuration()) doesn't include the back buffer, it only measures the amount of buffer **ahead** of the playback posit

[2022-04-29 12:18] Stinger2198 opened #10229 "Media produces NO_EXCEEDS_CAPABILITIES ([3600, 1500, 23.976023]) on Amazon FireTV Stick"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Amazon Fire tv stick
Android 7

### Devices that do not reproduce the issue

-

### Reproducible in the demo app?

Not tried

### Reproduction steps

Run app on fire tv stick.
When try loading ads, player restarting video from start

### Expected result

Playing ads and video

### Actual result

When try loading ads, player resta

[2022-04-29 12:19] Stinger2198 commented on #10229
Use VPN America or Canada for get ads

[2022-04-29 15:52] AndreasVogelfrei commented on #10190
Thanks for the clarification.

Is there a method available to retrieve the duration of media within the back buffer? Or a way to calculate this using a combination of other methods?

And related:

After hitting pause (and seeing the buffer ahead the playback position incrementing) I tried to seek forward 5 seconds using:

mExoPlayer.seekTo(mExoPlayer.getCurrentPosition() + 5000);

However, this wi

[2022-04-29 16:38] odkrys opened #10230 "Is it possible to revoke a specific device from a widevine license server?"
Hello.

I have a product with a problem that various OTT services recognize it as L3 even though it is Widevine L1 certified.
This is Lenovo's P11 Pro tablet, and the model name is TB-J706F. (TB-J706L for LTE).

Since widevine does not provide support to end users, users have no place to communicate other than support of manufacture.

This problem has been occurring since January, and Lenovo's off

[2022-04-29 16:44] odkrys commented on #10230
This is part of adb logcat.
[code]

[2022-04-30 11:10] WassimErriha opened #10231 "GitHub Discussions Feature for Question"
Sorry if this has been discussed already.

 Is the ExoPlayer team  planning on enabling the Discussions feature?
I think this could be good for separating genuine technical issues from more general discussions and questions. It should make issue triage a bit easier to manage. It would also  provide developers  with a space to share new ideas or experimental features; which I think are best to be l

[2022-04-30 16:01] sridhard commented on #10141
@icbaker @rrfrias the issue is happening in multiple mobiles. How can we debug this?

[2022-05-01 09:21] smmousavi8872 opened #10232 "AAPT: error: resource android:attr/lStar not found."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Hi and thank you very much for the great effort you have taken to implement such useful library.
The issue that I have been confronting since adding exoplayer dependency is a compile time error stating that : `.gradle\caches\transforms-3\5f3469f77d0052e094da22be022a7a67\transformed\core-1.7.0\res\values\values.xml:105:5-114:25: A

[2022-05-01 11:32] marcbaechinger commented on #10229
Seems like the device does not support the selected track. Can you provide us with a URI to the media that produced this error? Sorry, but I don't dig this out of an APK that you attached.

Please provide us with the media URI so we can test in the demo app where we can rule out app issues.

[2022-05-01 11:39] devayush20 opened #10233 "Problem with ExoPlayer Notification Controls"
I am making a audio player app. I created a service for audio player and playback notification. I am facing problem with the previous/next buttons in the Player as well as the playback notification.

1. The previous/next buttons in the audio playback notification just restarts the playback and do not change the song/audio file.
Other controls work well.
2. The previous/next buttons in the audio pl

[2022-05-01 12:16] marcbaechinger commented on #10221
This issue is not actionable for us I'm afraid.

Can you please add some more details along the lines of the form fields that you filled with 1Not applicable`. I think we would need at least a URI to an ad tag, reproduction steps on how we can reproduce the issue like for instance in the demo app.

Without this information we will not be able to help you some further.

[2022-05-01 12:18] marcbaechinger commented on #10227
@krocard May I ask you to look into this?

[2022-05-01 12:25] marcbaechinger commented on #10232
I'm not sure if this is about the same but I think I had a similar issue when migrating an app from an old ExoPlayer version to a recent one.

As far as I remember I solved this by upgrading all (`androidx`) dependencies to to most recent version, setting the compileApiVersion to 32 and also by upgrading gradle and the gradle plugin to the most recent version possible (see this [commit](https://gi

[2022-05-01 12:43] marcbaechinger commented on #10233
You need to add a bit more context for us, so we know how you are trying to achieve the above things.

From what you describe it looks like there is something completely not working as intended, so I think it's worth that you review you app code to see whether you are really doing what you are intended to do. We can not review your app code I'm afraid, but if you think you found a bug in the libra

[2022-05-01 13:47] arunkumartdr opened #10234 "Can't Set Referer header via .setDefaultRequestProperties with [ Map.of ] Method below API 30"
Code :
[code]

Error :
[code]

I Cant simply use API 30 , i have to add support from atleast Android 7.0 ....

Please tell me any other way / guide me please......

[2022-05-02 02:30] ScottPierce commented on #10224
On my emulator I'm seeing these events pretty far apart, and this is even worse on low end AndroidTV / FireTV devices.

You are testing this on a `Pixel 6 Pro` it looks like? Maybe it's just running faster?

[2022-05-02 02:35] ScottPierce commented on #10224
I was using an older version of Exoplayer, and I noticed that `onEvents(Player, Events)` was coming at the same time as the `onMediaItemTransition` on the older version. When I updated to the latest version, I found that there was an event being thrown at roughly the same time as `onRenderedFirstFrame`.

Currently we're working around this by using `onRenderedFirstFrame`, and fixing the View overl

[2022-05-02 08:51] rrfrias commented on #10230
Widevine works with partners to allow them to decide the quality and resolution that gets streamed to devices. You will, as you suspect, need to contact Widevine partner engineering (https://www.widevine.com/contact) to get this question answered.

I am not sure i understand the intent of your question. Are you asking this as a user, who would like to stream HD content on this device? Does it make

[2022-05-02 09:29] odkrys commented on #10230
Hello.
I am an end user.
Until last year, the P11 Pro tablet had no problem playing HD quality on OTT services, but since January, various OTT services have had problems playing only SD quality, and this happens on all P11 Pro tablets.
Widevine is known to be authenticated on both the device and the remote server, and since the device's widevine is L1, I'm assuming it's a revocation of this model

[2022-05-02 11:49] marcbaechinger commented on #10234
The call that is not supported is `Map.of` that is of a newer API. You need to choose a more conservative path and use the old constructor instead:

[code]

[2022-05-02 11:49] #10234 closed, assigned to marcbaechinger

[2022-05-02 12:57] smmousavi8872 commented on #10232
Thank you very much for your attention, I eventually managed to solve this issue by adding the snippet code below to my main module Gradle file inside the `android` block:
[code]
I added this into the main module of my project on which all other modules depend. I also added `exoplayer` dependencies into the main module `dependencies` block.

[2022-05-02 16:25] lostchopstik opened #10235 "Allow a play/stop action as an alternative to play/pause"
### Use case description
Our streams are all live streams so we prefer not to allow pausing of the stream so that if they want to stop, they will need to reconnect to the live stream. Currently there is no way to show only a `play` button and no way to show `stop` in compact view.

### Proposed solution
Implement a compact-view compatible `setUsePlayStopAction(boolean)`

### Alternatives considere

[2022-05-03 09:59] zhoushsong opened #10236 "Can not play！"
I have several video files. When I put them into the playlist, some programs can't be played during switching, but a single one can be played normally.  Different video formats

2022-05-03 17:46:38.708 2242-3638/com.google.android.exoplayer2.demo E/Surface: freeAllBuffers: 10 buffers were freed while being dequeued!
2022-05-03 17:46:39.256 2242-2242/com.google.android.exoplayer2.demo E/EventLogger

[2022-05-03 12:02] ashutoshgngwr commented on #10054
@Lohit-Huddar Did you find out why it doesn't select all audio tracks by default?

[2022-05-03 13:59] ashutoshgngwr commented on #10054
@marcbaechinger

I am also facing the same issue. Why doesn't ExoPlayer select all audio tracks in the selected group by default? And how can I make it the default behaviour?

[2022-05-03 16:58] ashutoshgngwr commented on #10054
@Lohit-Huddar

I had the same problem. For me, adding `setAllowAudioMixedChannelCountAdaptiveness(true)` and `setAllowAudioMixedSampleRateAdaptiveness(true)` to track selector's parameter made ExoPlayer select all eligible audio tracks available in the selected group. Without these parameters, ExoPlayer was only selecting a single track despite all tracks in the group having the same channel count

[2022-05-03 18:27] tosam144 opened #10237 "Replacement for ActionFileUpgradeUtil.upgradeAndDelete ?"
When updating to version 2.17.1, I find that `ActionFileUpgradeUtil.upgradeAndDelete` in package `com.google.android.exoplayer2.offline` was removed. What is the replacement for this method?

[2022-05-03 20:20] AndreasVogelfrei commented on #10190
Question about seeking in audio live streams is still open.
I did read the chapter "Seeking in live streams" here: https://exoplayer.dev/live-streaming.html
I did read https://exoplayer.dev/progressive.html#enabling-constant-bitrate-seeking

My setup for this part now looks like this:

[code]
I still have the same issue: I am not able to seek forward or backward in a live audio stream without rest

[2022-05-04 01:32] rrfrias commented on #10230
Thanks for that information. For any potential revocation issues, you can contact Widevine (https://www.widevine.com/contact) as an end user. I will leave this open for a couple of weeks in case you have any other questions.

[2022-05-04 02:17] Lohit-Huddar commented on #10054
@ashutoshgngwr Cool.
setAllowAudioMixedSampleRateAdaptiveness(true) only should have solved the problem.
setAllowAudioMixedChannelCountAdaptiveness(true) will change channel which might lead to sudden increase or decrease in audio volume due to different audio channels selected (stereo sound having 2 channels to 5.1 surround sound which has 6 channels) which wont be good user experience.

[2022-05-04 03:26] odkrys commented on #10230
[code]

widevine states that it does not support end users. That's why I asked the question here, I thought someone might have the relevant knowledge.
It looks like something that can't be told, so I close the issue.

[2022-05-04 03:26] #10230 closed, assigned to rrfrias

[2022-05-04 03:46] ashutoshgngwr commented on #10054
@Lohit-Huddar As I said earlier, all tracks are encoded with the same parameters but with different bitrates. I tried toggling all options one by one earlier, but for me, it didn't work if I didn't enable both of these options.

I used FFMPEG to create VOD HLS streams. FFProbe shows the same channel count and sample rate for all variants. I think the issue is that my HLS streams are audio-only, an

[2022-05-04 04:00] rrfrias commented on #10162
When you see these exceptions from a Xiaomi running android 12 do you always see this exception? While it is possible, given the structure of the code, it is unexpected. I would have expected a specific error.

[2022-05-04 06:39] drayan85 commented on #10212
Basically, we are trying to detect when users seek forward and backward to trigger analytics events

[2022-05-04 06:51] chris-sloan commented on #10225
Bumping this in the hope that someone can point me in the right direction.

Where can I find out what causes the download manager to report it has complete prematurely?

[2022-05-04 09:46] BucherTomas commented on #10162
@rrfrias The message with `android.media.MediaCodec.CryptoException - OK: OK` is there always when the issue occurs and playback stops. For subsequent playback attempts the affected device might additionally throw also

`android.media.MediaDrm$MediaDrmStateException: Failed to open session: ERROR_DRM_UNKNOWN ============================== Beginning of DRM Plugin Log ==============================

[2022-05-04 12:38] tonihei commented on #10032
Could you let us know which device(s) you are using for testing? And as mentioned above, it would be helpful to have a test stream in case it's media related (you can a send a link to dev.exoplayer@gmail.com with "Issue #10032" in the subject).

[2022-05-04 13:02] ojw28 commented on #10237
There is no built in replacement. Given how long action files have been deprecated, I'd be somewhat surprised if you still need it. It would probably only be used in cases where a user hasn't updated your app for a _long_ time, and then does so. Pragmatically, it may well be OK just to delete any previously downloaded content in this case, since the number of users affected is likely to be very sm

[2022-05-04 13:02] #10237 closed, assigned to ojw28

[2022-05-04 13:03] ojw28 commented on #10236
Since you're reporting a bug, please fill out the [bug template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2Cneeds+triage&template=bug.yml) including all of the requested information. Closing this one. Thanks!

[2022-05-04 13:03] #10236 closed, assigned to ojw28

[2022-05-04 13:24] marcbaechinger commented on #10190
I don't think we support seeking in progressive streams that are used as live streams. Such streams just start streaming from the current position that they are currently at. A live stream that supports seeking needs a way to seek in the media as opposed to seek in the available buffer.

That's because such a stream is not seekable.

Accordingly, when I play the URI you posted above ExoPlayer tell

[2022-05-04 13:39] sebastiangansca commented on #9504
@objectiveCarlo hi,

Can you please share a bit more info on how did you used the above method to add customUI for ad and how did you managed to handle the skip action?

Thanks

[2022-05-04 13:50] marcbaechinger commented on #10235
I think your use case can be done with the API available.

You can override `PlayerNotificationManager.getActionIndicesForCompactView()` to define the indices of buttons to be shown in compact view. If you are using a `CustomActionReceiver`  that should work for custom actions as well.

An alternative is to intercept the call to play and call stop instead:

[code]

You can override the icons of th

[2022-05-04 14:46] mirlannur opened #10238 "ExoPlaybackException: Source error"
### ExoPlayer Version

2.13.3

### Devices that reproduce the issue

* Mi MIX 3

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Try to play this video: https://livevoyage.club/api/video/374521e9-7c84-4d17-8c86-c4de07855322

### Expected result

The media plays successfully

### Actual result

Stacktrace:
`
E/ExoPla

[2022-05-04 15:13] marcbaechinger commented on #10238
When I try the URI with curl it gives me `curl: (60) SSL certificate problem: unable to get local issuer certificate`. When playing the URI in the demo app it gives a similar response: 'Exception in CronetUrlRequest: net::ERR_CERT_AUTHORITY_INVALID, ErrorCode=11, InternalErrorCode=-202, Retryable=false' It seems there is an issue with the SSL certificate on this server.

The stack trace above show

[2022-05-04 15:15] marcbaechinger commented on #10224
Thanks for letting me know. Closing this issue. Please reopen if you think this is required.

[2022-05-04 15:15] #10224 closed, assigned to marcbaechinger

[2022-05-04 15:24] marcbaechinger commented on #10212
I think in this case my comment above should be sufficient.  You can either intercept the seek command as demonstrated with the code snippet. You can alternatively just use `AnalyticsListener` to get `onPositionDiscontinuity` that reports when the player processed a seek.

I'm closing this issue. If you add more info or have other questions, please reopen.

[2022-05-04 15:24] #10212 closed, assigned to marcbaechinger

[2022-05-04 17:05] Programmingtimes opened #10239 "How to show track selector dialog item in separate dialog"
in exoplayer i use track selection dialog where it shows video, audio and cc in same dialog as tab and viewpager format but i want them to show in seperate dialog like
button 1 = TRACK_TYPE_VIDEO;
button2 =TRACK_TYPE_TEXT
button 3 = TRACK_TYPE_AUDIO
can you help me to acheve this feature
current coding
[code]

[2022-05-04 19:15] ScottPierce commented on #10224
@marcbaechinger Its not letting me reopen the issue.

Is there a technical reason that `onMediaItemTransition` doesn't come at the same time as `onRenderedFirstFrame`?

I had the work around in place before I filed this ticket. I filed the ticket so that hopefully this would be fixed and I don't need to continue doing hacky things in my code to work around this.

[2022-05-04 19:24] cbazalduaDev opened #10240 "ExoPlaybackException Source error"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Xiaomi MiA2
Pixel 2
Samsung s22

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. pass a m3u8 link and you gonna recive this error

### Expected result

Play media item

### Actual result

the playback crashes

### Media

example link
(with this link th

[2022-05-04 21:44] rrfrias commented on #10162
This appears to be ERROR_DRM_UNKNOWN as well. This is an internal error code translation error that we will address.

@ojw28, can you share information to log drm metrics information , which should help us get at the root cause?

[2022-05-05 04:56] AndreasVogelfrei commented on #10190
Ok. Thanks a lot for this clarification. This issue can be closed.

[2022-05-05 04:56] #10190 closed, assigned to marcbaechinger

[2022-05-05 09:43] #10232 closed, assigned to marcbaechinger

[2022-05-05 10:20] ojw28 commented on #10239
I will leave this open for a few weeks in case anyone wants to help, but since it's more just a request for help with your own application development, it's not within scope for what we have capacity to help with directly.

[2022-05-05 10:22] Programmingtimes commented on #10239
thankyou. but i hope this  also will be helpful for other global exoplayer developers around the universe.

[2022-05-05 10:28] Stinger2198 commented on #10229
Hey @marcbaechinger
Please use this tag, but you can use it only one time.
<?xml version="1.0" encoding="UTF-8"?>
<vmap:VMAP xmlns:vmap="http://www.iab.net/videosuite/vmap" version="1.0"><vmap:AdBreak timeOffset="start" breakType="linear" breakId="preroll">
  <vmap:AdSource id="preroll-1-ad-1" allowMultipleAds="true" followRedirects="true">   <vmap:AdTagURI templateType="vast3"><![CDATA[https://go

[2022-05-05 10:29] Stinger2198 commented on #10229
<?xml version="1.0" encoding="UTF-8"?>
<vmap:VMAP xmlns:vmap="http://www.iab.net/videosuite/vmap" version="1.0"><vmap:AdBreak timeOffset="start" breakType="linear" breakId="preroll">
  <vmap:AdSource id="preroll-1-ad-1" allowMultipleAds="true" followRedirects="true">   <vmap:AdTagURI templateType="vast3"><![CDATA[https://govp.aniview.com/api/adserver/vast3/?AV_PUBLISHERID=5f1b027a97ccc82f270594f7&

[2022-05-05 10:30] Stinger2198 commented on #10229
[ad_vast_tag.txt](https://github.com/google/ExoPlayer/files/8630437/ad_vast_tag.txt)

[2022-05-05 10:31] Stinger2198 commented on #10229
I have got this error
com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error format_supported=NO_EXCEEDS_CAPABILITIES

[2022-05-05 10:53] Stinger2198 commented on #10229
I/mAdsLoader_onPlayError: com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/avc, avc1.4D0032, -1, null, [3600, 1500, 23.976023], [-1, -1]), format_supported=NO_EXCEEDS_CAPABILITIES

[2022-05-05 10:59] Jacko07 opened #10241 "how to configure vast ad buffer time"
hi there,
 i want to display VAST ads without content video. but it takes too long time on buffering state. DefaultLoadControl seems has no effets on vast ads.
`
            TrackSelector trackSelector = new DefaultTrackSelector(getContext());
            DefaultLoadControl loadControl = new DefaultLoadControl
                    .Builder()
                    // TODO: 2022/4/29 test

[2022-05-05 11:36] tmi111 opened #10242 "How to play.m3u8 file in exoplayer？"
How to play.m3u8 file in exoplayer？

[2022-05-05 11:59] marcbaechinger commented on #10229
The xml code is not sufficient I'm afraid. I'd need a URI to the ad tag for testing with the IMA extension. I can not really provide much support for custom ad integrations if this is the case.

From the error message it looks like either the content media or some ad media is exceeding the capabilities of the device. In case this is the ad, the ad tag probably needs to be change to be either adapt

[2022-05-05 12:35] Stinger2198 commented on #10229
@marcbaechinger URI link in txt file

[2022-05-05 12:38] Stinger2198 commented on #10229
@marcbaechinger thank you for fast answer, please check txt file

[2022-05-05 14:11] Stinger2198 commented on #10229
@marcbaechinger Can i change quality ad with exoplayer or ima sdk settings?

[2022-05-05 14:29] Stinger2198 commented on #10229
Very strange - sometimes ads playing but sometimes player get error and restart video
2022-05-05 17:26:35.885 32477-32477/com.hideouttv I/mAdsLoader_onPlayError: com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/avc, avc1.4D0032, -1, null, [3600, 1500, 23.976019], [-1, -1]), format_supported=NO_EXCEEDS_CAPABILITIES
2022-0

[2022-05-05 17:31] cbazalduaDev commented on #10242
try to follow this link
https://exoplayer.dev/hls.html

[2022-05-05 23:18] lostchopstik commented on #10235
@marcbaechinger thanks for the tips! I was able to use the ForwardingPlayer and a custom icon to get the effect that I was going for.

[2022-05-06 03:13] tmi111 commented on #10242
Caused by: com.google.android.exoplayer2.upstream.Loader$UnexpectedLoaderException: Unexpected ArrayIndexOutOfBoundsException: src.length=0 srcPos=0 dst.length=65536 dstPos=1 length=8
        at com.google.android.exoplayer2.upstream.Loader$LoadTask.run(Loader.java:430)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1167)
        at java.util.concurrent.Thread

[2022-05-06 03:15] tmi111 commented on #10242
How did this error happen while playing.m3u8

[2022-05-06 03:16] tmi111 commented on #10242
How did this error happen while playing.m3u8

 Caused by: com.google.android.exoplayer2.upstream.Loader$UnexpectedLoaderException: Unexpected ArrayIndexOutOfBoundsException: src.length=0 srcPos=0 dst.length=65536 dstPos=1 length=8
    at com.google.android.exoplayer2.upstream.Loader$LoadTask.run(Loader.java:430)
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1167)

[2022-05-06 03:34] cbazalduaDev commented on #10242
Ok let's see your code

[2022-05-06 06:55] okycelt commented on #10193
@marcbaechinger, any thoughts?

[2022-05-06 07:12] tmi111 commented on #10242
DataSource.Factory dataSourceFactory = new DefaultHttpDataSource.Factory();
// Create a HLS media source pointing to a playlist uri.
        HlsMediaSource hlsMediaSource =
                new HlsMediaSource.Factory(dataSourceFactory)
                        .createMediaSource(MediaItem.fromUri(url));
// Create a player instance.
// Set the media source to be played.
        mPlayer.setMediaSource

[2022-05-06 07:12] #10242 closed, assigned to nobody

[2022-05-06 08:22] bruce3x commented on #10087
@dreamwhigh How do you fix this problem? it's bug from xiaomi rom?

[2022-05-06 08:39] dragitpro commented on #9835
@ojw28 Hello, we are facing same problem and using setMediaSource  (because using MergingMediaSource to merge audio and video streams) instead of setMediaItem. And problem still occurs with:

setKeepContentOnPlayerReset(false);
stop()
setMediaSource (...)
prepare(...).

[2022-05-06 08:39] Tolriq commented on #10213
So got some logs for the ExoPlayerLib and it's a bug in that application as it use all the XXX/version and not just the first. It's easy to workaround on my side.

Since he was not able to provide the logs about the stagefright let's assume it was the same issue and Android add that to the header and it's not a direct header from it.

If I ever get some logs showing otherwise I'll ping here.

[2022-05-06 08:39] #10213 closed, assigned to marcbaechinger

[2022-05-06 08:58] Tolriq opened #10244 "evaluateMediaItemTransitionReason - IllegalStateException"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

There does not seem to have specific devices from Play Console crashs.
Android 12/11/9 - Samsung/OnPlus/..

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

Don't know :(

The crash is not reproducible here and seems rare, all calls are properly made on the

[2022-05-06 10:49] sridhard commented on #10141
@icbaker @rrfrias can you pls help

[2022-05-06 10:50] #10155 closed, assigned to sridhard

[2022-05-06 18:17] ojw28 commented on #10244
@marcbaechinger - Please take a look!

[2022-05-06 18:21] ojw28 commented on #10241
If you're trying to play an ad without a content video using IMA, then please see https://github.com/google/ExoPlayer/issues/3774.

Else, please provide more detailed information about what you're trying to do. Thanks.

[2022-05-06 18:39] ojw28 commented on #10240
It's actually https://ipstori.xyz/api/v1/audio/a51b24b4-b6bc-4dac-95be-5951fa1b4efa.m3u8/3D5aErvzJhwbsbnR-m3u8_2_1000.m3u8 that causes the issue. The end of the media playlist is malformed. If you open it in a text editor, you'll see there's an `EXT-X-KEY` line near the end where the URI is missing (whereas on all other `EXT-X-KEY` lines, the URI is properly specified. This is what causes the fail

[2022-05-06 18:39] #10240 closed, assigned to ojw28

[2022-05-07 07:10] Exeu commented on #9794
Same issue here. I debugged it a bit and it is related to where the MatroskaExtractor is getting its dolbyvision config from:

https://github.com/google/ExoPlayer/blob/release-v2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mkv/MatroskaExtractor.java#L2223

My TV does not support dolby vision aswell but apparently it tries to use dolby vision resulting in the tv does not

[2022-05-07 07:11] Exeu commented on #9794
fyi @christosts

[2022-05-07 09:51] yhg94 commented on #10118
Please reply after confirmation

[2022-05-07 11:09] Jacko07 commented on #10241
emmm,  my question is how to changes the buffer time  configure about  vast ad video , so that  vast ad video can play as soon as possible.... thanks.

emmm,  my question is how to changes the buffer time  configure about  vast ad video , so that  vast ad video can play as soon as possible.... thanks.

emmm,  my question is how to changes the buffer time  configure about  vast ad video , so that

[2022-05-07 11:11] Jacko07 commented on #10241
emmm, my question is how to change the buffer time about vast ad video, so that vast ad video can play  as soon as possible. thanks.

[2022-05-07 14:10] skusuj commented on #10196
Hi christosts,

Could you please check and confirm if HLS video chunk is downloaded to determine CODEC info if chunkless preparation is not enabled. I have shared sample HLS video URL in the mail.

Thanks.

[2022-05-07 14:16] skusuj commented on #10195
Hi christosts,

Could you please help me with this query. Does video load duration metric provide latency information about the time spent to buffer data to start playback? If so then why in our experiment we see regressed video load duration while play to first frame has improved. Adding debug points didnt help much since there are multiple threads involved.

thanks

[2022-05-07 23:51] sr1990 opened #10246 "Player not parsing Clearkey license acquisition url."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Pixel 5

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Added
[code]
to media.exolist.json.

Works if I specify the drm license uri
[code]

### Expected result

The media plays successfully.

### Actual result

Playback crashes with the following error:

[2022-05-09 00:03] HyowonHwang opened #10247 "Detect subtitle load errors when using the `MediaItem` API"
Hi, I've been migrating to lastest release called 2.17.1

I am trying to use `SubtitleConfiguration` when setting `MediaItem`.

And I used to use below function when playing external subtitles.
`SingleSampleMediaSource.Factory.setTreatLoadErrorsAsEndOfStream`

However, There is nothing that I could assign corresponding values or function using `SubtitleConfiguration`.

It could be easy if there is

[2022-05-09 05:43] HyowonHwang opened #10248 "Changing sideloading subtitle track with hls contents, video/audio renderers are resetted for a while"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Samsung Z Flip3 os 12
All devices.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Add information of external subtitle to any hls contents in `media.exolist.json`

[code]
2. Change text track to external subtitle.
3. Player state change to `Buffering

[2022-05-09 07:09] Jacko07 commented on #10241
hi, @ojw28  another question, how can i observe media or ad vast video play finished event.

[2022-05-09 09:03] icbaker commented on #10247
The default value for `SingleSampleMediaSource#treatLoadErrorsAsEndOfStream` is `true` (since https://github.com/google/ExoPlayer/commit/f076080434c24a00309098ef3afc350d175ec4bb, as mentioned in the [2.13.0 release notes](https://github.com/google/ExoPlayer/blob/r2.13.0/RELEASENOTES.md#2130-2021-02-04)) - so I assume you're trying to set it to `false`? The default was flipped as part of https://gi

[2022-05-09 09:35] christosts commented on #10204
Yes, we will add a fix along those lines - we are planning to have the fix included in the release.

[2022-05-09 09:49] HyowonHwang commented on #10247
Yes, I'm trying to set it to `false`.

When I play content with side-loaded subtitles, and sometimes meet errors while loading it.
Each time, I would like to figure out reasons why happened.

However, if there is any way to do it,  even though `SingleSampleMediaSource#treatLoadErrorsAsEndOfStream` is `true` . Please, let me know it.

[2022-05-09 11:49] cedricxperi commented on #10204
@christosts That's great. Thanks a lot.

[2022-05-09 18:12] icbaker commented on #10247
If you just want to know that a load error occurred (to allow you to investigate it), you can listen to [`AnalyticsListener#onLoadError`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/AnalyticsListener.html#onLoadError(com.google.android.exoplayer2.analytics.AnalyticsListener.EventTime,com.google.android.exoplayer2.source.LoadEventInfo,com.google.android.exoplayer2.so

[2022-05-10 04:27] stabydev opened #10249 "solved."

[2022-05-10 04:29] #10249 closed, assigned to nobody

[2022-05-10 04:31] opgj123 opened #10250 "How to change the quality gradually?"
I implemented a method of manually changing the track by referring to the demo app.
However, if you change the track, it will pause and play again after the quality has changed.
I want it to change gradually when I change the quality like YouTube.
This is the code I applied.

[code]

using another method
A quick transition was made using the canSelectFormat method, but the Player goes to the buffe

[2022-05-10 06:59] alexhorsa commented on #10021
Hi, we are having the same problem on Galaxy S10+ OS12

We are seeing this with one player also

[2022-05-10 10:59] kurthuwig commented on #9210
D-Link 2330L Camera

H264 + PCMU

[code]

[2022-05-10 14:48] #9920 closed, assigned to tonihei

[2022-05-10 14:49] #9917 closed, assigned to tonihei

[2022-05-10 14:56] tonihei commented on #9914
Closing due to inactivity.

[2022-05-10 14:56] #9914 closed, assigned to tonihei

[2022-05-10 14:57] tonihei commented on #9910
Closing to due inactivity.

[2022-05-10 14:57] #9910 closed, assigned to tonihei

[2022-05-10 14:57] tonihei commented on #9930
Closing because the question was answered.

[2022-05-10 14:57] #9930 closed, assigned to tonihei

[2022-05-10 15:17] nishantkp opened #10251 "CEA608 Captions do not play"
Hello,

I have embedded captions in the stream (DASH) it has a valid format CEA608. But it won't play on ExoPlayer. I can still see there is a caption available from the menu, but when I try to select it... The player won't play the captions. These are some logs from the demo app. No errors are getting thrown on the logcat.

The demo app used has version `2.14.0`.

At this point, I am not sure wha

[2022-05-10 16:29] icbaker commented on #10251
Can you try on a more recent demo app version - maybe even one built from the `dev-v2` branch?

You can send media to dev.exoplayer@gmail.com using the subject `Issue #10251`. Please also update this issue to indicate you’ve done this.

[2022-05-10 17:31] nishantkp commented on #10251
@icbaker tried with the latest `dev-2` branch and got the same results. Sent the video file to the email address.

[2022-05-11 04:31] arunkumartdr opened #10252 "No video only audio is playing"
**No video only audio is playing**

But works in Mxplayer SW decoder

m3u8 link  with user agent : [ the below link will expire ]
[code]

How to solve this issue in Exoplayer/ How to implement SW decoder in Exoplayer ?

[2022-05-11 15:00] sky-filipeuva commented on #10124
@marcbaechinger Will we have any traction on this issue ? Thanks in advance

[2022-05-11 15:35] marcbaechinger commented on #10252
[code]

Gives a 403 so we don't have access to the media. Can you please check?

[2022-05-11 16:15] marcbaechinger commented on #10124
Seems to be a problem with the chipset on these devices as you report. I'm not sure how much I can help with such an issue.
I'm trying to repro as a first step but getting a HTTP/400 for the licence URI specified in the email.

[2022-05-12 01:04] #10180 closed, assigned to icbaker

[2022-05-12 01:29] hhdsyxwei opened #10253 "Replacement for buildAudioProcessor"
In DefaultRenderersFactory in version 2.11.8 there was a function that is buildAudioProcessor(), I call it by :
@OverRide
protected AudioProcessor buildAudioProcessor() {
return new AudioProcessor[]{recording, speedChange};
}
and return an AudioProcessor but when I upgrade exoplayer 2.17.1 , This function no longer exists. Is there any method or function in java that I can replace this?

[2022-05-12 08:05] kuba14 opened #10254 "Support ALL non-UTF-8 ICY metadata"
### Use case description
Currently, decoding function to `String` is not implemented thoroughly. Metadata read by `IcyDecoder` supports only UTF-8 and ISO-8859-1 charsets. It should support other charsets as well. Duplicate try-catch blocks used in `decodeToString` function are not systematic (implemented as fix of issue [#6753](https://github.com/google/ExoPlayer/issues/6753)):

[code]

There sho

[2022-05-12 09:29] dino-saurabh opened #10255 "Format.langauge for Arabic tracks return `arb` instead of `ar`"
When filing a question:
-------------------------

This is a sample manifest adaptation set that I am testing, for the English audio adaptation set I get the correct isoCode which is the 2 letters `en` I expected the same for the Arabic track as well, but it returned 3 letter iso code `arb`.
Is this expected for the Arabic language? is it  IETF BCP 47 conformant or is it a bug?
I am using 2.16.1 a

[2022-05-12 09:38] icbaker commented on #10254
If the developer knows the charset in advance then I think #9438 is probably the right approach (pass the charset in when configuring the `IcyDecoder`).

For the heuristic detection approach, we need to ensure any detection library isn't required as a dependency of the core exoplayer library. This is discussed in the context of subrip (which has the same problem off underdefined charset in the spe

[2022-05-12 09:44] tonihei commented on #10225
Could you provide us with detailed reproduction steps for this problem? Based on your description it sounds as if something might be wrong, but to actually debug this we'd need very concrete steps to replicate the problem either by changes that need to be done to the demo app, or by providing a small sample project.

If you want to debug this yourself, you should be able to find the sender of this

[2022-05-12 10:24] GouravSna opened #10256 "`</EventStream>` is not coming in `onMetadata` event"
ExoPlayer : v2.17.1
Device: Any device

Duplication question: https://github.com/google/ExoPlayer/issues/9818

I have the same question. I have a media having `</EventStream>` in `</Period>` tag but I don't receive it in the timed metadata`onMetadata(Metadata metadata)` event. In stead I get this info inside `onTimelineChanged(Timeline timeline, int reason)` in period object.

Is there any reason

[2022-05-12 10:52] icbaker commented on #10256
Please provide a stream we can use to reproduce the issue. Please either post it here or send it to dev.exoplayer@gmail.com using the subject `Issue #10256`. Please also update this issue to indicate you’ve done this.

[2022-05-12 11:01] tonihei commented on #10220
It's not 100% clear where you are trying to add this and what it means that the AudioTrack is not allowing this, but I suspect it has something to do with preallocated buffer sizes and how many bytes can be written without blocking. Writing to the AudioTrack is an iterative process and there is not  a fixed size you can write in one go.

If you want to modify the audio buffers with ExoPlayer `Defa

[2022-05-12 12:28] GouravSna commented on #10256
Hi @icbaker ,

I have shared the manifest over the email.

[2022-05-12 15:34] krocard commented on #10015
Do you observe the same behavior with ExoPlayer's demo app (it could be a JustPlayer bug)? https://exoplayer.dev/demo-application.html

[2022-05-12 15:36] krocard commented on #9671
@vip5912 We don't provide the UI of those apps.
@tonihei, this looks like a case where the capabilities are not correctly detected.

[2022-05-12 15:41] krocard commented on #9501
Could you please attach a bug report? Without it it is very hard to know the context of the issue.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to indicate you

[2022-05-12 15:43] krocard commented on #7072
@tonihei now that we have a tunneling setup again, there are a few tunneling bugs that should be confirmed, including this one.

[2022-05-12 16:08] ggabdol opened #10257 "How to restart playback on getting AudioSink exceptions (e.g. WriteException), blacklisting the track that the exception was thrown for."
When playback is failed with PlaybackException caused by any AudioSink exceptions, I'd like to restart the failed playback, blacklisting the track that the exception was thrown for. My question is, how can I find the audio track that had the problem of AudioSink exceptions from the TracksInfo when selecting audio tracks?

I found that ExoPlaybackException has [rendererFormat](https://github.com/go

[2022-05-12 16:10] krocard commented on #7665
Sorry for not addressing your issues earlier. I could not reproduce your issue. Do you still observe it on your device with the last Exoplayer version? We made significant improvements on playlist loading.

[2022-05-13 04:05] sriramkp opened #10258 "Is it possible to play two audio files simultaneously with exo-player?"
I have a requirement to play two audio files with different volume simultaneously.
For example, a music audio file and instructions audio file together based on the language selection by the user.

If possible, please share any documentation or code snippet.

[2022-05-13 09:53] tonihei commented on #9133
As @krocard pointed out above, it's infeasible for us to workaround device-specific tunneling issues, so I'll close this issue. You may want to report this to Xiaomi in case they are interested in fixing this.

[2022-05-13 09:53] #9133 closed, assigned to tonihei

[2022-05-13 10:22] krocard commented on #8891
The size of the audio track buffer is now configurable. Setting the min buffer duration to 500ms as should allow to have the same underrun behaviour as MediaPlayer.

https://github.com/google/ExoPlayer/blob/a308c691d120e0b8496b2e843635edd9cc7dcef0/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioTrackBufferSizeProvider.java#L71-L74

[2022-05-13 10:22] #8891 closed, assigned to krocard

[2022-05-13 10:28] krocard commented on #8637
The new track selection API is renderer agnostic, tracks are selected individually based on track index and track type:
https://github.com/google/ExoPlayer/blob/a308c691d120e0b8496b2e843635edd9cc7dcef0/library/common/src/main/java/com/google/android/exoplayer2/trackselection/TrackSelectionOverrides.java#L91-L92

When `TrackSelectionDialogBuilder` and `TrackSelectionView` are migrated to the new tr

[2022-05-13 10:31] krocard commented on #7886
@tonihei I am not sure how easy it would be to reproduce, but such repro could be done at the same time as the other tunneling issues. Alternative, you can close it as I have not been able to repro after a quick try in 2020.

[2022-05-13 10:35] krocard commented on #8569
@tonihei This is a niche usecase (play very short song seconds after buffering them), and is not reproducible on Pixel. I have not looked into it.

[2022-05-13 10:36] tonihei commented on #8874
Just to clarify the enhancement being tracked here:
 - There is no problem **disabling** the audio renderer because the standalone clock immediately takes over at the current position and the video renderer keeps playing without any frame drops or freezes.
 - There is short video freeze when **enabling** a previously disabled audio renderer because the audio renderer clock takes over immediately,

[2022-05-13 10:47] tonihei commented on #9661
As @krocard pointed out above, it's infeasible for us to workaround device-specific tunneling issues, so I'll close this issue. You may want to report this to Xiaomi in case they are interested in fixing this.

[2022-05-13 10:47] #9661 closed, assigned to tonihei

[2022-05-13 10:54] tonihei commented on #8637
I believe this was solved by https://github.com/google/ExoPlayer/commit/08b861b61a732a4dbae9b80b98119a8205c48604. I'll close the issue accordingly.

[2022-05-13 10:54] #8637 closed, assigned to tonihei

[2022-05-13 13:06] tonihei commented on #7072
@ScienceIsNeato The stream linked above is no longer available. If you still want us to look into this issue, please provide a new link.

[2022-05-13 15:21] tonihei commented on #10250
This is a duplicate of the enhancement tracked by https://github.com/google/ExoPlayer/issues/2250.

You can work around this yourself by overriding `AdaptiveTrackSelection` to load your designated format next (see https://github.com/google/ExoPlayer/issues/6630#issuecomment-1023007702 for an example). Note that this means the format change only happens after everything that is already buffered in

[2022-05-13 15:21] #10250 closed, assigned to tonihei

[2022-05-13 16:53] tonihei commented on #10246
I think the content is configured as expected (see https://github.com/google/ExoPlayer/issues/3138#issuecomment-320247142 as a verification that both `ContentProtection` tags are expected, and https://github.com/Dash-Industry-Forum/dash.js/issues/3343 for another example where parsing the license url is requested).

And the proposed solution also looks sensible to me. Would you be willing to send

[2022-05-13 17:17] tonihei commented on #10255
ExoPlayer doesn't parse the `arb` language code because it's an individual sublanguage ("Standard Arabic") of the Arabic macrolanguage (which is represented by `ar` (ISO 639-1) or `ara` (ISO 639-2)). See https://iso639-3.sil.org/code/ara.

For other macrolanguages, we have a special mapping list to detect individual languages and map them back to their standardized macrolanguage so that they are c

[2022-05-13 18:15] SaurabhOfficial commented on #10255
Got it @tonihei answers my question. Thanks ✌️

[2022-05-14 05:25] Mostafa24sd opened #10259 "byteArray Stream"
how can i stream video from byteArray source?
[code]
I tried FFmpeg library. merged 100 frames and make few seconds video and add it to exo playlist. but performance is not good at all.

[2022-05-14 05:53] sridhard commented on #10141
@icbaker @rrfrias why there is no reply? you dont want to solve this issue or it is not a issue of exoplayer?

We are facing this issue in multiple mobiles. please check this issue

[2022-05-14 10:59] mirlannur commented on #10238
The URL is working as expected. Before the long video, the exoplayer also worked fine

[2022-05-14 13:12] mirlannur commented on #10238
I found the problem. The video on server is recorded with `ffmpeg -movflags +faststart`. For shorter videos it works fine, the problem occurs with long videos. If to record the long video with `ffmpeg -movflags +frag_keyframe` or `+empty_moov` flags, it plays the video but there is another problem in this case: the scrubber is not available, the video is not seekable.(
Any idea?

[2022-05-15 07:50] literaturesharingforvi opened #10261 "exoplayer crashes in android 12"
we have audio player app which play files from server. but only with android 12, when play file, the app crashes. means when exoplayer starts the task, the app crash only with android 12. please give solution

[2022-05-15 16:35] rrfrias commented on #10141
Sorry for the delay in investigating this issue. I see only one set of errors in the log.

This is usually associated with low frame rates and stuttering. Qualcomm has issued updates to OEMs but there are power implications and not all OEMs choose to apply this. But you are seeing a green screen for which I see no errors in the log from DRM or decode.

Do you know if you are still seeing issues on

[2022-05-15 20:34] arunkumartdr commented on #10252
The problem is with source not in exoplayer , Thanks

[2022-05-15 20:34] #10252 closed, assigned to nobody

[2022-05-15 20:36] arunkumartdr commented on #10093
How to do AdaptiveTrackSelection on HLS / DASH based on Mobile Internet Speed ?

[2022-05-15 20:38] arunkumartdr commented on #10093
@icbaker  How to do AdaptiveTrackSelection on HLS / DASH based on Mobile Internet Speed ? in latest exoplayer version

[2022-05-15 22:47] rrfrias commented on #9968
Can you mention the model name/cpu_info for the requests when system ID is 0. And yes, you did share the system IDs earlier. I was looking at the table you shared by email. Trying to fetch information for the system IDs.

[2022-05-16 04:26] mag0716 commented on #9889
@marcbaechinger

Just following up on this issue, are there any updates?
We are currently using folked repository([modify Timeline#equals](https://github.com/google/ExoPlayer/issues/9889#issuecomment-1031090483)) as a workaround, but we would rather use the original ExoPlayer.

[2022-05-16 04:48] rrfrias commented on #10162
Might it be possible when you get a android.media.MediaCodec.CryptoException to add a call to MediaDrm.getMetrics().toString() to your code. If you can get us metrics information, it will help us debug this furthur.

[2022-05-16 05:07] SaurabhOfficial commented on #9968
@rrfrias all the below mentioned devices.
[code]

[2022-05-16 09:09] tonihei commented on #10253
There is a method called `buildAudioSink` you can use instead. The easiest way is to copy the [default implementation](https://github.com/google/ExoPlayer/blob/r2.17.0/library/core/src/main/java/com/google/android/exoplayer2/DefaultRenderersFactory.java#L614) and then call `setAudioProcessors` on the `DefaultAudioSink.Builder`.

[2022-05-16 09:09] #10253 closed, assigned to tonihei

[2022-05-16 09:33] tonihei commented on #10261
There is no way we can act on this little amount of information. Please completely fill out the bug template including reproduction steps, sample media, error logs etc. if you want us to have a look.

[2022-05-16 09:33] #10261 closed, assigned to tonihei

[2022-05-16 09:35] tonihei commented on #10259
You probably need to write your own `DataSource` to support this. Please have a look at #8125 or #8051 where similar questions have been asked before.

[2022-05-16 09:35] #10259 closed, assigned to tonihei

[2022-05-16 09:48] tonihei commented on #10258
The answer depends a bit on your synchronization requirements between these files.

If one file is just background music and the other spoken text that has no direct synchronization to the music, then I would just use two independent `ExoPlayer` instances at the same time. Then you can also set the volume independently.

If you need to play both files synchronously, then it becomes considerably mo

[2022-05-16 09:53] tosam144 opened #10262 "Method to disable sequential playback on MediaSource level"
I am looking for a way to disable sequential playback of mp3s on `MediaSource` level (of course, the MediaSource in my case is a `ConcatenatingMediaSource`). I know about the method `setPauseAtEndOfMediaItems` on exoplayer level. But this disables sequential playback for ALL media sources used by exoplayer. I would like to disable sequential playback on one `MediaSource` while enable it on another

[2022-05-16 10:14] jruesga commented on #10124
Hi Marc, seems the license has expired. Let me try to obtain a new one.

[2022-05-16 10:23] Jacko07 opened #10263 "how to configure the buffer time about vast ad video to lower the startup time"
hi,  how to configure the buffer time about vast ad video to lower the startup time, thanks.

[2022-05-16 12:34] jruesga commented on #10124
@marcbaechinger I 've just send a new Widevine license for the same asset. Please let me know if any addition information is required. thanks in advance.

[2022-05-16 12:54] yoobi commented on #10203
Hello, just to be sure the correct/recommended way to replace `onPlayerStateChanged` is by overriding `onEvents` ? Or Is it still okay to override `onPlayWhenReadyChanged` if I'm only doing stuff when player is ready ?

[2022-05-16 13:44] tonihei commented on #10203
It's definitely okay to just use `onPlayWhenReadyChanged` if you are only interested in these changes.

It's also worth noting that are no player commands that can change both states (`playbackState` and `playWhenReady`) at the same time, so there will always be one change or the other anyway unless you make multiple player calls together.

[2022-05-16 18:35] shimiuh opened #10264 "CBCS scheme support for under android 25"
[From the documentation:](https://exoplayer.dev/supported-devices.html)
"DASH (Widevine CENC; “cbcs” scheme) | 7.1 | 25"
Is there a plan in the near future to support CBCS scheme on android 21? Or is it a hardware problem that will never get fixed?

[2022-05-16 21:02] marcbaechinger commented on #10262
There is no API for this I'm afraid, but I think implementing this with the existing API is straightforward.

You can listen to `Player.Listener.onMediaItemTransition(mediaItem, reason)` then look at the media item and set `pauseAtEndOfMediaItems` accordingly.

Would that work?

[2022-05-17 06:52] ptcphonetesting opened #10265 "ExoPlayer SRT & HLS Embedded Captions Support For Android Tv leanback"
We are Working on Android TV Project With leanback and the default Player in ExoPlayer. Now we need to use SRT file and to show HLS embedded captions . We are not getting any developer documents regarding same (Android TV), so kindly guide same .

Currently We are Using Dependencies implementation 'com.google.android.exoplayer:exoplayer:r2.3.0'

Please Let Us Know If Something is required for our

[2022-05-17 07:28] macinlabs commented on #10265
Any help regarding this will be highly appreciated.

[2022-05-17 09:01] rvn9 commented on #8473
same issue

[2022-05-17 09:10] tosam144 commented on #10262
Excellent, @marcbaechinger: thank you. That works perfectly indeed.

[2022-05-17 09:22] #10262 closed, assigned to marcbaechinger

[2022-05-17 09:39] dev-platong commented on #10170
@fgl27

Maybe It's too late to answer this question, but I think these lines are logic of determination (In case of HLS).

[code]

https://github.com/androidx/media/commit/b12918d1e6b92763c0a7b870e598d260a052361f#diff-5dc6db1044707e738c63d3d43bd22bf0951fc34af6dbfbd8b1798b6e42002a74R571-R575

Media Playlist has `EXT-X-SERVER-CONTROL` tag and its property is `HOLD-BACK` or `PART-HOLD-BACK` .

https:

[2022-05-17 11:52] abdurahmanadilovic commented on #10126
same issue, can't find an alternative to addImage on MediaItem and MediaItem is needed for .setMediaItem() on the CastPlayer. Also, the Chromecast TV interface dims after a couple of seconds, I assume because there is only one image loaded.

Looking at the CastPlayer it does internally convert MediaItem to MediaQueueItem before its sends data to the cast device, I think it would make sense to open

[2022-05-17 12:26] icbaker commented on #10257
I don't really understand the question. You're looking for a way to match up two `Format` that might be similar, but not identical - and yet you can't rely on `Format.id` (which is sort of designed for this situation). It's not clear to me how the library could implement your 'similar but not identical' logic if you're not able to implement it yourself?

[2022-05-17 12:26] icbaker commented on #10263
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-05-17 12:28] icbaker commented on #10264
This is a limitation of the android platform, so there's nothing we can do in the library to work around it: https://developers.google.com/widevine/drm/overview#supported_encryption_schemes

[2022-05-17 12:28] #10264 closed, assigned to icbaker

[2022-05-17 12:29] icbaker commented on #10265
2.3.0 is quite old - you'll find that all our documentation on http://exoplayer.dev is targeted at the latest version (and sideloading subtitles changed a lot around 2.12.0). I would recommend upgrading to the latest version (2.17.1) and then following the docs here: https://exoplayer.dev/media-items.html#sideloading-subtitle-tracks

[2022-05-17 13:47] tonihei commented on #10248
Thanks for reporting! This is indeed a bug we introduced in 2.17.0 caused by a missing `equals` method. We'll provide a fix in the next release.

[2022-05-17 14:08] icbaker commented on #10256
I need to be able to play the media in order to reproduce the problem and investigate. This issue seems unlikely to be related to DRM, so you should be able to craft some media that reproduces the problem and the link lasts for a long time with no license duration concerns. Thanks!

[2022-05-17 14:32] CMMB93 opened #10266 "DASH+DRM+CMAF content can't be played"
### ExoPlayer Version

Older (unsupported)

### Devices that reproduce the issue

Samsung Galaxy S9  running Android X
generic_x86_arm, sdk_gphone_x86, Google, 30

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

We tried to play the video after implementing our Widevine license URL, proxy URL, and Portal ID.
We selected a

[2022-05-17 14:34] icbaker commented on #10251
When I play the link provided with the demo app and enable the 'unknown' subtitle track I see no subtitles.

I looked in the manifest and noted that there are two video `AdaptionSet` groups. One contains `<Accessibility schemeIdUri="urn:scte:dash:cc:cea-608:2015" />` and a single `<Representation>` node (416x240). The other **doesn't** contain `<Accessibility schemeIdUri="urn:scte:dash:cc:cea-608:

[2022-05-17 14:55] marcbaechinger commented on #10126
For now you need to use the `MediaMetadata.extras` to add the second image and then use that in your custom `MediaItemConverter`.

Thanks for the hint. That is useful.

[2022-05-17 15:10] icbaker commented on #10266
We didn't receive the media sent by email. Please ensure you sent it to dev.exoplayer@gmail.com using the subject `Issue #10266`. Thanks!

[2022-05-17 15:13] tonihei commented on #10251
We intentionally ignore selections for embedded streams if the corresponding primary stream isn't enabled at the same time. In that sense it's working as intended that the second adaptation set isn't *also* decoding the subtitles from the first adaptation set (because this would mean loading two video tracks at the same time just to get the embedded subtitles).

@nishantkp Can you provide more ins

[2022-05-17 15:22] abdurahmanadilovic commented on #10126
What key can we use for the second image? I can only see one method in the MediaItem builder class and that is setArtworkUri()

[2022-05-17 15:28] odkrys opened #10267 "Doesn't the latest exoplayer even try to play if it goes beyond the specs defined on the device?"
Hello.
I asked a question about revocation of widevine last time and I didn't get a proper answer, but anyway, Lenovo will provide OTA for widevine L3 problem, so the problem seems to be solved.

This is a question about some weird video playback happening on my Lenovo P11 Pro.

This tablet uses the Snapdragon 730G.
https://github.com/Parseus/codecinfo
According to the codecinfo app, the playback

[2022-05-17 15:34] tonihei commented on #9945
This is an interesting request in that the player is technically doing the right thing: it detects the playback as being stuck and fails. The issue is that you actually want the player to be stuck forever (or until the WiFi connection comes back). I think it would make more sense to let the player fail, display an appropriate message to the user ("no internet connection / waiting for WiFi") and ju

[2022-05-17 15:46] marcbaechinger commented on #10126
You can add it to the extras with your own key and then take it from there in the `MediaItemConverter`:

[code]

Then in the `MediaItemConverter` you can get the image uri from `mediaItem.mediaMetadata.extras.getString(MY_KEY_CAST_BACKGROUND_IMAGE_URI)` and use it to create a cast `WebImage` to be added to the cast item.

[2022-05-17 16:09] CMMB93 commented on #10266
Thank you for your e-mail, Mr Baker, I sent it via our e-mail address
***@***.*** .

I can add you to the Git repository as well if you want, I will need an
e-mail address to add you as a collaborator.

Thank you,

---

Le 17/05/2022 17:10, Ian Baker a écrit :

Links:
------
[1]
https://github.com/google/ExoPlayer/issues/10266#issuecomment-1128992167
[2]
https://github.com/notifications/unsubscrib

[2022-05-17 16:59] icbaker commented on #10267
In order for us to help you effectively you need to phrase your question in terms of the ExoPlayer library APIs and behaviors. We can't answer general questions about the behavior of apps that use ExoPlayer because they might have made any number of modifications to the library that we don't know the details of.

You can try playing the content using our demo app, and provide the result of `adb bu

[2022-05-17 18:12] ggabdol commented on #10257
Thanks for your reply @icbaker. Let me take an example to elaborate what I am trying to do.

Let's say I got an audio format being rendered by calling [ExoPlayer.getAudioFormat()](https://github.com/google/ExoPlayer/blob/f1b37bc547e7194354fe31e240afa8a8fb0b5c6c/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L1387), and another audio format from TracksInfo by calling:
[code

[2022-05-17 21:56] nandovelazquez opened #10268 "ForwardingPlayer.setPlayWhenReady is not being called"
From migrating a `DefaultControlDispatcher` to `ForwardingPlayer`, do I need to implement something else besides only creating an instance of the `ForwardingPlayer` class? Because I'm not getting called the method `setPlayWhenReady` from the `ForwardingPlayer` but other methods are called as `getPlayWhenReady` and `isPlaying`, for example.

This is reproducible in the ExoPlayer Demo app v2.17.1 by

[2022-05-17 22:07] marcbaechinger commented on #10268
The `PlayerControlView` is using `player.play()` and `player.pause()` which is delegated by the `ForwardingPlayer` to the wrapped `Player`. Then the wrapped player is calling `setPlayWhenReady(true|false)` but not on the `ForwardingPlayer` but internally on itself.

So you can intercept these calls by overriding `play()` and `pause()` of your `ForwardingPlayer`.

[2022-05-18 01:04] #10186 closed, assigned to marcbaechinger

[2022-05-18 01:04] #10164 closed, assigned to ojw28

[2022-05-18 01:04] #10086 closed, assigned to ojw28

[2022-05-18 02:15] hhdsyxwei commented on #10253
would u please show me some code

[2022-05-18 05:05] wkarl commented on #9945
Thank you for your detailed response @tonihei
About the two further thoughts you mentioned:

This only applies to users with a very limited data plan. Many users will want to continue playing on mobile data. That's why there is a "allow mobile data playback" button in the dialog we display: it will dismiss the message and continue playing immediately (in addition to a switch in the app settings).

[2022-05-18 06:55] HyowonHwang commented on #10248
@tonihei Thanks for response. I will check it again with next release.

[2022-05-18 07:41] okycelt commented on #10179
@IamYou2, how did you manage to resolve this?

[2022-05-18 10:01] odkrys commented on #10267
I installed android studio and played the 4K 60fps H.264 sample in the demo app.
I could see a message about NO_EXCEEDS_CAPABILITIES and I don't know how to play a local file or youtube video.

The exoplayer seems to check the playability of the video a bit more, which seems to be quite different from what I want "just play and then stutter when it lacks capability".

It's unclear if the issue on

[2022-05-18 11:20] tonihei commented on #9945
I believe this should just work without any special workarounds? If you just call `prepare()` after the error and nothing else, playback should continue from where it left off and the whole playlist should still be intact.

This is certainly possible (although I think not the original intention of the `LoadErrorHandlingPolicy`). If you handle network errors in this way anyway, I believe you can ac

[2022-05-18 11:24] jayantht30 opened #10269 "Video gets paused after 2-3 seconds after user presses home button."
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Samsung Galaxy S20 Android 12
Note: We are using exoplayer for ad playback only.

Description: When user presses home button while ad is playing, the ad sound is getting stopped after 2-3 seconds.(This behaviour is happening only on some of the devices)
Expected behaviour should be - When user presses home button while ad is play

[2022-05-18 12:09] chengjuechao opened #10270 "Playback error"
The following error occurs when I play the video.

[code]

I don't know what. How did it happen.This error occurs when I use preloading.

[code]

[code]

There will be no errors if I don't use preloading.Please help me

[2022-05-18 12:27] icbaker commented on #10269
What happens if you try the same steps in our [demo app](https://exoplayer.dev/demo-application.html) on the problematic devices? If playback pauses immediately then it seems very likely that the problem is in your app and not in the library.

[2022-05-18 12:39] icbaker commented on #10266
I tried playing the content provided in the demo app at version 2.17.1 using the following JSON snippet:

[code]

Playback succeeded.

I then tried the same snippet in the demo app at version 2.11.1 (had to change `"drm_license_uri"` to `"drm_license_url"`)  and playback failed with the same error you're seeing:

[code]

It looks like something has been fixed between 2.11.1 and 2.17.1. Looking at

[2022-05-18 12:39] icbaker commented on #10266
Duplicate of #7592

[2022-05-18 12:39] #10266 closed, assigned to icbaker

[2022-05-18 13:48] abdurahmanadilovic commented on #10126
After passing in the custom MediaItemConverter to CastPlayer I was able to make it work as before, with no issues with the dimming on the Chromecast TV preview, the background image is visible. 👍

[2022-05-18 14:15] Jerinji2016 opened #10271 "Customizable background for PlayerView"
I have an issue while rotating the screen in lower android version.
A black box appears while rotating. This seems to be because of background color in xml. It would be great if it could be configured.

[2022-05-18 14:51] icbaker commented on #10170
Closing because I think the question has been answered, and I've updated the live streaming docs page to try and make this behaviour more clear (this will go live with the next library release).