[2018-01-08 12:35] giladna commented on #3671
@TigerYao
@AquilesCanta

This is the current m3u8

#EXTM3U
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=338000,RESOLUTION=320x180,CODECS="mp4a.40.2"
mOegu_240p/.m3u8

If your file will be created as below  without the CODECS="mp4a.40.2" it will work I guess this signs that stream is audio only that is why only audio plays

#EXTM3U
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=338000,RESOLUTION=320x180
http

[2018-01-08 13:11] ojw28 commented on #3550
It will probably be in 2.7.0, for which we don't have an ETA currently, sorry. It's somewhat unclear to me that this will even resolve the issue described here (@Sara-Tareq - Have you tested and confirmed this works using the latest `dev-v2`?).

[2018-01-08 13:13] EvanHong1 opened #3680 "Backward compatibility issue since version 2.5.x"
My app has dependency of my own library module published in maven repo, which includes Exoplayer r2.4.3 dependency.
And when I try to update version to r2.5.0, Error occurs as below:
[code]
So It means there is backward compatibility issue since 2.5.x.

And I need to add another dependency which has Exoplayer r2.0.3 dependency.(ex:Facebook Audience Network SDK)
So I want to resolve dependency conf

[2018-01-08 13:13] ojw28 commented on #3662
Closing this for now, since the only known issue is tracked by #3627. Please respond here if/when you have more information about the encrypted stream specific issue.

[2018-01-08 13:13] #3662 closed, assigned to tonihei

[2018-01-08 13:25] ojw28 commented on #3596
@DevDroid01 - Please can you also include the stream details so that we can add the stream to our own version of the demo app? I pre-compiled apk isn't as useful for debugging.

[2018-01-08 14:24] ojw28 commented on #3630
@llooz - I'm not sure I understand that manifest, regardless of this issue. It appears to indicate that the audio streams are not DRM protected at all, when in fact they are.

[2018-01-08 15:15] AquilesCanta commented on #3671
@giladna's comment is correct. The [spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23) states:

[code]

ExoPlayer ignores the video stream because the master playlist only includes the audio codecs. The fix here is to add the video codec in the CODECS attribute.

Alternatively, you could work around this issue by either removing the CODECS attribute (not recommended) or creatin

[2018-01-08 15:15] #3671 closed, assigned to AquilesCanta

[2018-01-08 16:09] AquilesCanta commented on #3593
Please see #3127.

[2018-01-08 16:09] #3593 closed, assigned to AquilesCanta

[2018-01-08 16:24] ojw28 commented on #3630
Ignore me, the audio streams appear to not be DRM protected after all.

[2018-01-08 16:24] botaydotcom commented on #3344
@parthialu :
- For issue 1: I don't think there's an easy way to customize/set minimum update period, other than the current way of parsing from MPD file. I think one workaround you can do is to subclass `DashManifestParser`, override `buildMediaPresentationDescription` and construct the new `DashManifest` with whatever `minUpdateTimeMs` value you would like to use (this will override the value pa

[2018-01-08 16:32] AquilesCanta commented on #3653
I don't think the codec propagation has any problems. However, I can reproduce an issue with the track's mime type for which a fix will be pushed soon. Please clarify if are referring to a codec specific issue.

[2018-01-08 16:44] DevDroid01 commented on #3596
@ojw28, Thanks for looking into this. Are you able to stream the content using the sample APK provided? Since the content is production content, I am not able to provide the DRM keys and our license server utilizes a different method to provide the license. So it's difficult to utilize our license server. Hence the sample APK I provided.

Do you have any suggestions on anything else I can provide

[2018-01-08 17:47] ojw28 commented on #3630
@AquilesCanta - Current status of this issue is approximately:

* Problematic content defines a `COMMON_PSSH_UUID` ContentProtection element (only) in the manifest. It may or may not have data. Widevine specific data arrives in the media streams.
* `DefaultDrmSessionManager.canAcquireSession` decides the DRM scheme isn't supported. Also, when the manifest and media stream DRM data gets merged, we

[2018-01-08 17:48] AquilesCanta commented on #3341
@dhanashreeborkar, please take a look at the resources provided by @erdemguven. We might be able to help if you have more specific questions but unfortunately we don't have any demo for this specific feature.

[2018-01-08 17:48] #3341 closed, assigned to AquilesCanta

[2018-01-08 17:53] ojw28 commented on #3678
Do you understand why the duration ends up being incorrect? Is the source media broken, or is ExoPlayer's parsing of the source media broken? The best solution would be to fix whichever of those is broken, rather than papering over the problem at the UI layer.

If you're not sure, could you provide a piece of sample media so we can take a look? Thanks!

[2018-01-08 18:19] ojw28 commented on #3596
I am able to reproduce on Pixel 2 (the smaller variant, so it seems to affect both) running `OPM2.171019.012`. I cannot reproduce on Galaxy S8.

@wvpaf / @astinus-1 / @jefftinker - Could you try reproducing locally and root causing what's going wrong here? Something seems to be broken. From ExoPlayer's point of view it looks like we believe buffers really are being drawn into the surface, but that

[2018-01-08 19:25] weizhaoj commented on #3627
I install Exoplayer APK on an Android box(our platform), to decode Audio/Video and output to a TV via HDMI. The passthrough path should be working via SPDIF, not HDMI.
I think the device I connect should have no problem, because it can play well with another version --
 "ExoPlayer-release-v2".

[2018-01-08 19:42] giladna commented on #3669
@andrewlewis
Did you get the mail?
10x
Gilad.

[2018-01-08 20:24] AquilesCanta commented on #3632
We can count the number of bytes read since the last successful sync, and throw if larger than a given threshold. A fix along these lines will be pushed soon. Thanks for your patience!

[2018-01-09 02:43] ghost opened #3681 "When playing video, the video screen is jitter"
exoplayer version:
[code]

play url:
[code]

device:
[code]

When playing video, the video screen is jitter like this

![default](https://user-images.githubusercontent.com/18097997/34702642-d00544f6-f529-11e7-8a26-e93fd24b832c.gif)

Forgive my English is not good, I hope I can express clearly.Thx

[2018-01-09 03:47] xiaoyepadzhang commented on #3668
@andrewlewis  I had solved the leaking. you can close this issue now, Thanks a lot!

[2018-01-09 04:06] xiaoyepadzhang opened #3682 "PreCaching a master m3u8"
Hi,  I have a question about preCache.
**Issue description**
1. Can I precache a master m3u8(contain sub m3u8 by bandwidthMeter) url just like
`DataSpec dataSpec = new DataSpec(url, 0, 1024 * 1024, null);`
`CacheUtil.cache(dataSpec)`
I often got a EOFException, seem like I had finish the preCache, But this means I just cache the **m3u8 list file** not the TS file ?
2. Whether I need gain the url's

[2018-01-09 04:09] xiaoyepadzhang commented on #3682
@andrewlewis Hi

[2018-01-09 05:59] Gobi1989 commented on #3678
Hi @ojw28 ,

As i'm not aware about why the duration ends up being incorrect. I have send the media details via email with subject as **REG | ISSUE NO #3678| How to set End/Total Duration manually in ExoPlayer PlaybackControlView**.

Thank you.

[2018-01-09 06:15] sajjadjaved01 commented on #3682
Hi @xiaoyepadzhang, i'm also working working with M3U file. can u guide me a little bit

[2018-01-09 06:26] Sara-Tareq commented on #3550
@ojw28 yes I tested using dev-v2 and the live stream was getting clipped, I set the start pos as a value and the end pos as C.TIME_END_OF_SOURCE

[2018-01-09 07:05] Sara-Tareq opened #3683 "Stream goes to the start position and keep buffering when using ClippingMediaSource"
### Issue description
When wrapping an HlsMediaSource in a ClippingMediaSource then seek forward after the stream starts put the app on the background then bring it back up to the foreground again the seekbar position return back to the start and the stream keeps buffering until another seek action is done.

### Reproduction steps
 using the ExoPlayer demo app play the stream then seek forward the

[2018-01-09 07:46] ZohaibGhafoor opened #3684 "Most of the time ima ad first frame show and skip to content."
I am using Exoplayer version 2.6.1.
i noticed most of the time ima ad show first frame and then it skip to the content.

[2018-01-09 08:03] wangjian199074 opened #3685 "I use exoplayer1.5.16 Demoplayer"
this is my error
`01-09 15:03:30.000: E/Unity(11656): OPENGL NATIVE PLUG-IN ERROR: GL_INVALID_ENUM: enum argument out of range

01-09 15:03:30.000: E/Unity(11656):

01-09 15:03:30.000: E/Unity(11656): (Filename: ./Runtime/GfxDevice/opengles/GfxDeviceGLES.cpp Line: 370)
`
this is my code
`private void preparePlayer(boolean playWhenReady) {

        if (player == null) {

            player = new De

[2018-01-09 08:07] andrewlewis commented on #3684
Please provide steps to reproduce the issue, especially the ad tag you're trying to play. Thanks.

[2018-01-09 08:08] #3668 closed, assigned to andrewlewis

[2018-01-09 08:16] kuldiep opened #3686 "ExoPlayer Decoder failed on Android Version 5.1"
### Issue description
exo player is throwing exceptions and gives error code Error 0xfffffc0e while streaming video on my Moto E2 phone which has android version 5.1, Kernel version 3.4.42 and  Build number LPCS23. 13-56-5. also could not find documentation on the above error code.

### Reproduction steps
initialize player with given url (i will send you video URL in email)
try with Motorola e2 wi

[2018-01-09 08:31] andrewlewis commented on #3669
@giladna Yes, thanks. I'll take a look soon.

[2018-01-09 09:23] andrewlewis commented on #3627
AC-3 passthrough works fine for me in the demo app for stereo and 5.1 sources (and the link you posted above), in `dev-v2-r2.6.0`, `dev-v2-r2.6.1` and `release-v2`, testing on a Sony Bravia Android TV.

Please could you confirm on which ExoPlayer version this is broken? Are you able to reproduce the same issue on any other Android devices?

[2018-01-09 10:14] ojw28 commented on #3685
This error is not related to ExoPlayer (looks like a Unity error). Version 1.5.16 is also very old.

[2018-01-09 10:14] #3685 closed, assigned to ojw28

[2018-01-09 10:20] ojw28 commented on #3550
Moving discussion to: https://github.com/google/ExoPlayer/issues/3683.

[2018-01-09 10:22] ojw28 commented on #3683
Is this specifically for a live stream? If so, could you clarify exactly what behavior you'd expect when clipping a moving window (let's say the live stream has a moving window that's 1 minute in length). I'm not really sure what I'd expect the behavior to be.

[2018-01-09 10:23] Sara-Tareq commented on #3683
@ojw28 it's happening for replay stream not live

[2018-01-09 10:25] Sara-Tareq commented on #3683
@ojw28 I tested the same stream url using the demo app connected to dev-v2 branch and it worked fine, this is happening when using the release version.

[2018-01-09 10:26] ojw28 commented on #3683
Thanks, that's good to know! In that case I'm not sure there's much to do except to wait for a release that picks up the fix (2.7.0).

[2018-01-09 10:29] ojw28 commented on #3681
The stream doesn't appear to be playable in ExoPlayer (I'm seeing HTTP 403 errors) or VLC (unable to determine the format of the segments). We need a working test stream to follow up on this. Please also provide a full bug report captured with `adb bugreport` shortly after encountering the issue, as described in the issue template.

[2018-01-09 10:29] Sara-Tareq commented on #3683
But I have a release in the near future can I rely on the dev-v2?

[2018-01-09 10:30] giladna commented on #3684
@ZohaibGhafoor
did you run it on different device?
verify it also with different vendor and see if reproduced.
From what I know IMA SDK has issue with playing ad breaks which located in same offset (like preroll+ bumber)
it might behave differently from device/OS version

[2018-01-09 10:35] ojw28 commented on #3683
We don't have an eta for 2.7.0 yet, sorry. We may do further 2.6.X releases in the near future, but I don't think they will include the changes that fix this issue, unfortunately.

There's nothing preventing you from relying on the dev-v2 branch, or a snapshot of it. It's likely to be a little less stable, but on the flip side it fixes an issue that's important to you. It's ultimately the app deve

[2018-01-09 10:37] ZohaibGhafoor commented on #3684
@giladna
I am using it on Samsung s8, and using preroll adTag from dfp, didn't test any other device for now. even sometimes ad also miss and content run.

[2018-01-09 10:40] ZohaibGhafoor commented on #3684
in VideoPlayerActivity where i can catch Ad Exception if there is any Ad Exception ?

[2018-01-09 10:42] kuldiep commented on #3686
@ojw28 is it device specific issue or anything else ..i am confused? any solution for this?

[2018-01-09 11:25] ojw28 commented on #3686
It looks device specific, but i's hard to say without being provided with any content that reproduces the issue, as requested in the issue template. Please provide some so that we can reproduce the issue in our demo app.

[2018-01-09 11:26] ZohaibGhafoor opened #3687 "How to get ima ads loader Exception ?"
I want to get ima ads loader Exception. but i can not found any listener or add any listener to catch ima ads loader exception ?

[2018-01-09 11:32] ojw28 commented on #3683
Closing because this is fixed in the dev-v2 branch.

[2018-01-09 11:32] #3683 closed, assigned to ojw28

[2018-01-09 11:39] kuldiep commented on #3686
@ojw28 i have updated issue with Reproduction steps...and will send URL in mail asap.

[2018-01-09 11:40] ojw28 commented on #3678
This is the same issue as https://github.com/google/ExoPlayer/issues/3317. The best thing to do is to get the media fixed so that each AdaptationSet has the same duration, which should equal the duration of the media. The text AdaptationSet in the stream provided has a significantly shorter duration currently, which can be easily avoided when generating content.

We don't support manually overridi

[2018-01-09 11:40] #3678 closed, assigned to ojw28

[2018-01-09 11:56] belanagyb commented on #3517
Hi astinus-1, I've sent the updated files via email.

Thank you for looking into it!

[2018-01-09 12:11] admobwebmaster opened #3688 "Exoplayer DASH + Widevine my app"
Hello guys
Friends have a project of my app and be running well with exoplayer but I wanted to integrate DASH + Widevine into my application and wanted to know if anyone could help?

Thank you

[2018-01-09 12:43] kuldiep commented on #3686
@ojw28 i have sent url in mail id given in template, please check it.

[2018-01-09 12:48] vshcryabets commented on #3592
@ojw28 same behaviour on - Nexus 5x and Nexus 6P

[2018-01-09 13:49] ojw28 commented on #3686
It's probably just that this device is unable to play 1080p video (I'd expect playback of 720p video to succeed on this device). You can validate this theory by trying playback on the device using our demo app, and looking for the following in the logs:
[code]
This indicates that the device is not capable of playing the stream, although we try anyway because some devices under report their true ca

[2018-01-09 13:49] #3686 closed, assigned to ojw28

[2018-01-09 14:48] AquilesCanta commented on #3621
`BehindLiveWindowException` is not specifically intended to handle non-spec-compliant media sequences. Its purpose is to signal that the media buffering has fallen behind what the server offers for downloading. If the media sequence is not increasing correctly, the behavior is undefined. You might observe any of the following three behaviors:

- Long/endless buffering state.
- `PlaylistResetExcept

[2018-01-09 14:48] #3621 closed, assigned to AquilesCanta

[2018-01-09 14:56] AquilesCanta commented on #2959
I am getting a 404. Could you fix this so I can look into the stream if the issue is still reproducible?

[2018-01-09 16:57] marcbaechinger commented on #3497
The MetadataProvider approach seems like worth looking into on our side. I'll take a look into this.

**Option 1 for now (with QueueNavigator):**

If you need a quick solution for now, I wonder if you are using a `QueueNavigator` already? If you do so you can set the metadata yourself (while having doMaintainMetadata=false), that should work like when it is set by the connector. In case you are us

[2018-01-09 17:27] marcbaechinger commented on #3664
Yes, the approach Andrew is describing works:

1. Create your own implementation of `AdsLoader` and pass it to the `AdsMediaSource`
2. in `attachPlayer()` you create an `AdPlaybackState` and populate it with the ad groups to play and the presentation time when to play them. The `AdPlaybackState` is then passed to the `AdsLoader.EventListener` to make the AdsMediaSource aware of the ads to play:

[

[2018-01-09 17:37] marcbaechinger commented on #3559
Sorry for my late reply.

As Olly mentioned mediaSession.setCallback() allows only one callback to set. The MediaSessionConnector sets this callback when the player is set. So other callbacks will be overriden. The same applies when someone set a callback after the player has been set to the connector: the connector;s callback will be removed.

Are you setting your own MediaSessionCompat.Callback?

[2018-01-09 17:40] tonihei commented on #3663
That's actually what I meant in my first post - you need to use the outer wrapping media source and not the inner one for the listener. This is to ensure the player gets a callback from the media source passed into `player.prepare(mediaSource)`. So ` dcMediaSource` is of course still the wrong one, because you need to return your `DemoDynConMediaSource` as you found out yourself. Sorry for the con

[2018-01-09 17:40] #3663 closed, assigned to tonihei

[2018-01-09 17:42] ncapdevi commented on #3663
Perfect, thank you for your help

[2018-01-09 18:03] joelphilippage commented on #3559
Yes. The way I am writing my code is to

- Make a MediaSession
- Make a MediaSessionConnector
- Set the player to the MediaSessionConnector
- Set a custom callback to the media session

I believed using a MediaSessionConnector was the only way to get a MediaSession from an ExoPlayer instance. Is there another way to get the MediaSession without using MediaSessionConnector?

Thanks!

[2018-01-09 18:13] marcbaechinger commented on #3559
You need to create the MediaSessionCompat yourself in either case. You create it an then pass it to the connector:

[code]

So you should not do the last step or you disconnect the connector from the media session. You can instead do:

1. Create a MediaSessionCompat
2. Create a MediaSessionConnector
3. Set the player to the MediaSessionConnector

At this point the MediaSessionConnector has set the

[2018-01-09 18:29] joelphilippage commented on #3559
Okay. Let me explain why I want to use my one playback. Since this is a podcast app, I would like the notification to have seek to buttons that skip 30 seconds forward or backwards. I haven't been able to find a way on Android Wear to replace the skip action buttons on the notification with custom buttons. I have a custom callback that replaces the skip actions with a fast forward action.

I guess

[2018-01-09 18:44] marcbaechinger commented on #3559
I actually recommend figuring out how to change the buttons on Wear to replace the skip with a fastforward button. Users might be confused when you change the behaviour of well known buttons/icons.

However, instead of using a custom callback you create and register a `QueueNavigator`. When `ACTION_SKIP_TO_NEXT` or `ACTION_SKIP_TO_PREVIOUS` is sent to the session the methods `onSkipToPrevious(play

[2018-01-09 19:25] eldad-evie opened #3689 "Play/pause should have different behavior at end of video"
(I'm not sure if this qualifies as a bug or a feature request)

I'm running the sample app, and at the end of the video the pause/play button stops having any effect. The icon changes when tapped, but nothing else happens.

On YouTube, reaching the end of a video changes the button from play to a third state - replay. Pressing it seeks to the beginning and starts playback again. I think that makes

[2018-01-09 20:02] marcbaechinger commented on #3689
The current behaviour of the PlaybackControlView works as intended as it reflects the state of the player (playWhenReady=true and position at the very end).

Instead of providing your own dispatcher you could wait for the state Player.STATE_ENDED with a Player.EventListener and then do

[code]

Now the player state is playWhenReady=false an position=0 and the UI reflects this. When the user taps p

[2018-01-09 20:21] joelphilippage commented on #3559
Great! It seems like wear notifications don't work the same as they do on mobile. The same code that works on mobile doesn't work on wear for setting custom buttons. I'm only able to set the primary center button to something custom. Other apps such as PocketCasts do not display any side buttons but I would prefer to display the skip buttons rather than having a blank space. I will try to ask the

[2018-01-09 22:35] marcbaechinger commented on #3687
I assume you are looking for the IMA AdError (https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/AdError).

The AdsMediaSource has an extended constructor to which you can pass a `Handler` and an `EventListener`. The event listener has a `onAdLoadError` callback which delivers an `IOException`.

With the `ImaAdsLoader` the

[2018-01-09 23:34] weizhaoj commented on #3627
Thanks for your test.
Based on your info, I switch to dev-v2-r2.6.1 and change my TV(HDMI receiver). The clear stream can play well.

[2018-01-10 00:47] eldad-evie commented on #3689
Thank you. I understand your solution and see that it works, but I really feel that for many apps having the controls reflect the player state doesn't provide the best experience.

To get around the issue of jumping to the first frame, I think I can do something like this for my own apps at least:

1. When onPlayerStateChanged receives the STATE_ENDED event, call setPlayWhenReady(false) to pause t

[2018-01-10 02:09] xiaoyepadzhang commented on #3682
@sajjad0321 what kind of guide,  about preCache?

[2018-01-10 02:15] xiaoyepadzhang commented on #3682
@erdemguven Hi , I see you add question for this issue, Means that the ExoPlayer not supported to preCache a m3u8 file yet ?

[2018-01-10 07:09] Gaket opened #3690 "How can I get the actual web video width and height?"
### Issue description
We use ExoPlayer version 'r2.4.4' to show videos from Giphy to users. It looks like sometimes a metadata of incoming videos is not correct. We use standard `VideoListener` to make our video fullscreen achieving "Center crop" effect. As a result, our videos appear "squeezed". The question is if there is a way to get actual video dimensions (because the video is shown correctly

[2018-01-10 08:42] ZohaibGhafoor opened #3691 "vast ad load time out issue."
[code]

i set the vastadloadtimeout to 60000 but i still get this error.

AdError [errorType: PLAY, errorCode: AdErrorCode [name: VAST_MEDIA_LOAD_TIMEOUT, number: 402], message: VAST media file loading reached a timeout of 8 seconds.]

[2018-01-10 09:11] andrewlewis commented on #3627
Thanks for the update. It sounds like this is resolved so I'll close the issue. If there is a remaining problem related to initializing the AudioTrack please describe it and I'll reopen the issue.

[2018-01-10 09:11] #3627 closed, assigned to andrewlewis

[2018-01-10 10:09] ojw28 commented on #3690
The video resolution really is 152x200 pixels, but the pixels are not square (indicated by pixelAspectRatio being not equal to 1). VLC also reports this resolution. You need to fix your code to take pixelAspectRatio into account. Note that:
[code]
so the Macbook file info is actually showing the width in pixels multiplied by the pixelAspectRatio.

[2018-01-10 10:09] #3690 closed, assigned to ojw28

[2018-01-10 11:18] AquilesCanta commented on #2848
Hi @shalin186, we have been looking at ways to improve our ABR algorithm but I doubt any improvements will be released this quarter, unfortunately. I think a good first step would be allowing better customization of buffering, discarding and mid-download canceling.

[2018-01-10 11:56] AquilesCanta commented on #3599
Not really. As far as I can tell, the only thing that could cause something like the issue described is having HlsMediaPeriod#prepare() and HlsMediaPeriod#maybeThrowPrepareError() being invoked on different threads, but that should never happen (both are expected to be invoked on the ExoPlayerImplInternal handler thread). This condition propagates to DynamicConcatenatingMediaSource.

In order to d

[2018-01-10 11:56] #3599 closed, assigned to AquilesCanta

[2018-01-10 12:18] erdemguven commented on #3682
Hi, it means this issue is a question about how to use ExoPlayer. I'll answer your question with a sample HLS downloader code soon.

[2018-01-10 13:40] ojw28 commented on #3689
@marcbaechinger - Do we have assets for a replay button already?

[2018-01-10 14:02] erdemguven commented on #3592
I have reproduced it on Nexus 6 with Lollipop.

[2018-01-10 16:02] marcbaechinger commented on #3689
Nope. I checked with the Material Design Icons and there is one when I search for 'replay'.

https://material.io/icons/

[2018-01-10 16:53] ojw28 commented on #3689
It could also be valid (and possibly nicer) to use the play button for the replay case, rather than using the replay asset.

[2018-01-11 00:13] Soulkey7 opened #3692 "IMA extension : Player skipped second ads"
Version : ExoPlayer 2.6.1

Reproducible with example ExoPlayer

1. Use this ad tag (2 pre-roll)

2. While playing first ad, to minimise app (home screen) and come back few seconds later.

After first ad ended, the second ad is not playing, and content plays.
Strange things is while playing first ad.
onPause and onResume callback is called without interaction.

[2018-01-11 00:50] Soulkey7 commented on #3692
Additionally, I could fix temporary to add 'VideoAdPlayer.VideoAdPlayerCallback'
However, somehow unlimited onPause and onResume is triggered until current ad is finished.

@Override
        public void onPause() {
            if (mAdsManager != null) {
                mAdsManager.pause();
            }
        }

@Override
        public void onResume() {
            if (mAdsManager != null) {

[2018-01-11 09:12] akurni commented on #3401
Somewhat the video looks normal with LargeHeap settings set to true.

[2018-01-11 10:52] NesmaNasr opened #3693 "Support ad insertion in multi-period timelines"
### Issue description
I need to create playlist of videos to be played in a loop, and 1 pre-roll Ad to be played once in the start of this list, what I did is:
 ConcatenatingMediaSource concatenatedSource =new ConcatenatingMediaSource(MediaSource[]);
 LoopingMediaSource loopingSource = new LoopingMediaSource(concatenatedSource);
AdsMediaSource adssource = new AdsMediaSource(loopingSource,.........

[2018-01-11 11:25] vinayjoglekar opened #3694 "Implementation of midroll ads"
Hello Team, is there any example/tutorial available to implement mid roll ads using exoplayer IMA extension? I have successfully added preroll ads. Here is my code:

[code]
Thanks!

[2018-01-11 11:27] TarifHatoum opened #3695 "fastforwad issue: how to ovverride the fastforward button in android activity ?"
[No description provided]

[2018-01-11 11:32] EvanHong1 commented on #3680
Could anyone answer this?

[2018-01-11 11:41] marcbaechinger commented on #3695
Please take a look at this blog post about customizing the ExoPlayer UI compomnents:
https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a

[2018-01-11 11:41] #3695 closed, assigned to nobody

[2018-01-11 12:17] andrewlewis commented on #3694
Midrolls should be played automatically (exactly like prerolls) if you provide a VMAP ad tag that has midrolls to your `adsLoader`.

[2018-01-11 12:23] andrewlewis commented on #3692
We pause/resume the ads manager in `ImaAdsLoader` when the player is released/recreated, so this should work. Can you reproduce the issue in the ExoPlayer demo app? If it's specific to a particular ad tag please provide a link to it (looks like it's missing from your first comment). Thanks!

[2018-01-11 13:17] AntonAFA commented on #3653
Hey. Thank for your reply. I am not sure that i understood your reply regarding to "Please clarify if are referring to a codec specific issue".
I got hls manifest with mixed codec types. I expect that exoplayer will create separate Format groups for each codec. Like it is doing with dash manifest.

[2018-01-11 13:25] AquilesCanta commented on #3653
The fix push will appear ref'd below, and you'll be able to try it out. But as @ojw28 explained above, the track group will be only one.

[2018-01-11 13:37] vinayjoglekar commented on #3694
Thanks for the answer @andrewlewis . Appreciate it! Does it work in similar way in case of VAST template?

[2018-01-11 13:57] andrewlewis commented on #3694
VAST ad tags don't specify a location for the ad, and currently we always play them as prerolls. I can mark this as an enhancement if you are interested in having the ability to specify where a VAST ad plays in the content, but we don't currently plan to implement this soon.

[2018-01-11 14:02] AntonAFA commented on #3653
From what i understand Renderer is created based on codec type. So if I have a mixed codec type manifest and all the formats created by mistake with the same codec type, renderer will be able to play only those who actually get the correct type. All the others will be marked as EXCEED_CAPABILITIES flag. In case when H265 codecs appear first in manifest renderer will be created for HEVC playback an

[2018-01-11 14:07] AquilesCanta commented on #3653
If the content is actually the same, it is better for you to have all codecs in the same track group. You can either pick one codec and select only tracks with that codec, or both and adapt between them (by allowing mixed mime type adaptation). The latter is not possible with separate track groups. Even if they are in the same track group, you will be able to pick a subset of them (in your case, d

[2018-01-11 14:11] OrenMe commented on #3653
@AquilesCanta how can we pick one codec? mappedTrackSelctor? can you please show an example?

[2018-01-11 14:51] AntonAFA commented on #3653
Thank you. Do you have any time estimation/side branch for that fix. I just want to track and check it as soon as possible.

[2018-01-11 18:28] needz opened #3696 "ExoPlayer saving cached data of continuous streams inside the app"
Dear Sirs,

I have come across an issue with my app that uses ExoPlayer 2.5.4 to play various streams, and I can't seem to find the reason behind it, since it doesn't involve any logs or crashes to track. I will try my best to explain it, so hopefully you will get the idea.

In my app, I am switching various online streams bu releasing ExoPlayer instance each time I need to start another stream (T

[2018-01-11 19:17] ojw28 commented on #3696
By default our demo app doesn't write anything to disk, since buffering is in-memory only. Are you configuring the player differently in your case (e.g. using `SimpleCache` and `CacheDataSource`)?

If a large amount of data is being written to disk then it should be pretty easy for you to find out where the data is being written and what the files are, at least. Please could you take a look and pr

[2018-01-11 19:35] giladna commented on #3687
@marcbaechinger
Thats correct, one problem I can tell as a developre is that the method name does not implies that it is fired on every error
since there is a difference between adLoad phase and ad playback phase

@andrewlewis since `onLoadError` will be fired not only on "load"
could you please change its name like `onAdError` that is more expressive to fire upon all kinds of errors?
maybe IMA er

[2018-01-11 19:41] needz commented on #3696
@ojw28, I am using the player out of the box with the only exception for non-IDR keyframes set to true.
If you could hint me on how to check the files written on the device, I would do it promptly. I am not too strong with adb commands.

[2018-01-11 19:58] giladna commented on #3694
@andrewlewis

this can be done in the current ExoPlayer via this format:
in case you have a vast you want to use in midroll just build such VAMP

      String vmap = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n" +
              "<vmap:VMAP xmlns:vmap=\"http://www.iab.net/videosuite/vmap\" version=\"1.0\">\n" +
              " <vmap:AdBreak timeOffset=\"00:00:15.000\" breakType=\"linear\" breakId=

[2018-01-11 20:00] jboisjo commented on #3561
any updates for this issue?

[2018-01-11 20:11] emilieroberts commented on #2843
Hello, is this still in the works?

[2018-01-11 20:58] giladna commented on #3694
@andrewlewis

Another thing I have noticed that should be taken with the IMA SDK team is that for some reason IMA error is not accurate enough I get Error that node in `vmap:AdSource` is not acceptable in IMA parser
the issue here is that the the AdTagURI is not  having prefix of vmap:AdTagURI

[code]

[2018-01-11 21:55] Soulkey7 commented on #3692
Sorry that I miss to add adtag.

I could easily reproduce this issue with this tags.

https://pubads.g.doubleclick.net/gampad/ads?iu=/60035833/Seven/7tennis/app/android&vid=5379497663001&sz=400x300&ciu_szs=&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&ad_rule=1&vpos=preroll&cmsid=3753&vad_type=linear&scor=1515372225935&correlator=1515372225935&url=&cust_params=ssai%3Dfalse%26pod=

[2018-01-11 22:12] needz commented on #3696
@ojw28, thanks for your insight (as usual), I was able to google it and found a culprit. It seems that the picasso extension (com.squareup.picasso) I am using is writing some kind of temporary file, but do you have any idea how it could be connected with ExoPlayer? I am using it for small images only, which do not exceed a couple of kilobytes, but the size of the cache is directly related to the s

[2018-01-11 23:45] Soulkey7 opened #3697 "IMA extension : Invalid tags to block Player"
Hi,

[Version]
ExoPlayer 2.6.1

[Reproduce]
Second launch of the ExoPlayer Sample app with below AdTag, player is stopped and no way to play until restart the app with different AdTag or wait next available time.

https://pubads.g.doubleclick.net/gampad/ads?iu=/60035833/Seven/7tennis/web/&vid=5379493939001&sz=400x300&ciu_szs=&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&ad_rule=1

[2018-01-11 23:46] zsmatyas commented on #3533
Any updates? :) Unfortunately, I was only authorized to share the bug report, but no related code changes at that point. Would be nice not having conflicting fixes, but cleanly back-merge your version.

[2018-01-11 23:47] Soulkey7 commented on #3697
Attached logs from our app to help understand of the issue.

W/ImaAdsLoader: onAdEvent: LOG
W/ImaAdsLoader:   type: adPlayError
W/ImaAdsLoader:   errorCode: 403
W/ImaAdsLoader:   errorMessage: Linear assets were found in the VAST ad response, but none of them matched the video player's capabilities.
W/ImaAdsLoader: onAdEvent: LOG
W/ImaAdsLoader:   type: adLoadError
W/ImaAdsLoader:   errorCode: 100

[2018-01-12 04:09] Soulkey7 commented on #3697
Additional information that I get this issue related smartAd functions.

[2018-01-12 08:56] xiaoyepadzhang commented on #3682
@edwinwong Him How can I get the sample HLS downloader code?

[2018-01-12 10:51] ZohaibGhafoor opened #3698 "How to start dash or hls video from lowest resolution then it shoult change auto while running ?"
hls or dash video always try to start from highest resolution .how to start dash or hls video from lowest resolution like 140p 360p etc and then it should change it's resolution based on network automatically ?

[2018-01-12 11:16] AquilesCanta commented on #3533
No updates so far, unfortunately. Sorry.

[2018-01-12 12:02] giladna opened #3699 "r2.6.1 Demo App - Player View blinks when press back during playback"
Hi,
This can be reproduced on Nexus 6p Android 8.1.0 on Pixel 8.1.0 the blink is seen but in lower extent and on Nexus 5 Android 6.0 it is fine.

Any suggestion to avoid this behaviour?

This behaviour is the same for r2.6.0.
Gilad

[2018-01-12 12:08] ojw28 commented on #3696
This seems more likely to be a Picasso or application issue than a problem with ExoPlayer, so let's continue the discussion at https://github.com/square/picasso/issues/1727. We can re-open this one if it turns out to be an ExoPlayer problem after all. Thanks!

[2018-01-12 12:08] #3696 closed, assigned to ojw28

[2018-01-12 12:45] ojw28 commented on #3561
We will provide an update when there is one (lack of update == there is no update). Thanks.

[2018-01-12 13:15] ZohaibGhafoor opened #3700 "hide play pause button while buffering."
how to hide play pause button while media is buffering and show when it is playing or in pause state ?

[2018-01-12 13:23] bhoopendrayash commented on #3700
player.addListener(new ExoPlayer.EventListener() {
            @Override
            public void onTimelineChanged(Timeline timeline, Object manifest) {
            }

            @Override
            public void onRepeatModeChanged(int repeatMode) {
            }

            @Override
            public void onTracksChanged(TrackGroupArray trackGroups, TrackSelectionArray trackSelections) {

[2018-01-12 13:27] ZohaibGhafoor commented on #3700
@bhoopendrayash here i am using exoplayer demo version and it is not working

       `@Override
        public void onPlayerStateChanged(boolean playWhenReady, int playbackState) {
            if (playbackState == Player.STATE_ENDED) {
                showControls();
            }

            else if (playbackState == Player.STATE_BUFFERING) {
                PlaybackControlView controlView = sim

[2018-01-12 13:53] vinayjoglekar opened #3701 "Enable Play/Pause control while showing IMA ads"
Hi team,

Is there any way to show play/pause controls while ads are playing? I have tried to customize UI controls by overwriting "controller_layout_id" in xml layout, which works for content but not for ads.

Thanks in Advance!

[2018-01-12 14:03] andrewlewis commented on #3701
Probably the same as #3532. See the documentation on [`hide_during_ads`](https://github.com/google/ExoPlayer/blob/dev-v2-r2.6.1/library/ui/src/main/java/com/google/android/exoplayer2/ui/SimpleExoPlayerView.java#L99). Please reopen if this is different.

[2018-01-12 14:03] #3701 closed, assigned to andrewlewis

[2018-01-12 14:06] needz commented on #3696
@ojw28, just one last inquiry: maybe you could show me an example on how I could try to use okhttp extension for ExoPlayer instead of the built-in one, so I could reproduce the https://github.com/square/picasso/issues/1727#issuecomment-357229058 you mentioned? I just couldn't figure out how to implement it using the README provided inside the okhttp extension of the ExoPlayer here https://github.c

[2018-01-12 14:32] andrewlewis commented on #3697
Looks the same as #3584. Please reopen if not.

[2018-01-12 14:32] #3697 closed, assigned to andrewlewis

[2018-01-12 14:36] andrewlewis commented on #3584
Still working on this but it's likely to take a bit longer as it requires changes to how we handle ad timeline updates.

[2018-01-12 17:00] andrewlewis commented on #3669
Is the content longer than the last midroll position (~ 45 min)? I can't verify as the link from the email returns HTTP status 404. If not, perhaps that could explain the weird behavior. Otherwise, please provided an updated/working link to the content.

I'm not sure exactly how to handle the content being shorter than the last midroll position, but it seems preferable to prepare the ad tag such t

[2018-01-12 17:07] ojw28 commented on #3696
What specific step of the README did you not follow?

[2018-01-12 17:35] needz commented on #3696
"Using the extension" in https://github.com/google/ExoPlayer/blob/release-v2/extensions/okhttp/README.md

[2018-01-12 23:39] linhai326 commented on #3698
adaptiveTrackSelection.java:
DEFAULT_MAX_INITIAL_BITRATE change this value to the lowest bitrate you have in your source.

[2018-01-13 13:43] ojw28 commented on #3696
Somewhere in your application code you must be instantiating one or more `DefaultDataSourceFactory` instances. All you need to do is change those instantiations to pass an `OkHttpDataSourceFactory` as the last argument, using [this constructor](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/upstream/DefaultDataSourceFactory.html#DefaultDataSourceFactory-android.cont

[2018-01-13 13:50] ojw28 commented on #3688
This issue tracker is intended for more specific issues, questions and enhancement requests. For requests this general, you'd be best off asking elsewhere. If you have something specific that you're stuck with, please feel free to respond here and we'll do our best to help.

[2018-01-13 13:50] #3688 closed, assigned to nobody

[2018-01-13 14:14] admobwebmaster opened #3702 "Error updating libs"
Hello budy, how are you!
Friends my error design in print line at the time I make upade of lib versions of firebase and google service for 11.8.0

Could someone help me fix this line of error

Thank you
![erro](https://user-images.githubusercontent.com/34076141/34906789-e5c51010-f852-11e7-8e09-d07085c5bdce.png)

[2018-01-13 14:49] ojw28 commented on #3702
Closing because this question is unrelated to ExoPlayer.

[2018-01-13 14:49] #3702 closed, assigned to nobody

[2018-01-13 18:16] needz commented on #3696
Thanks, managed to do it using OkHttpDataSourceFactory and now there is no problem with cache. So there's definitively some kind of clash when using defaults. Thanks for your input!

[2018-01-14 07:47] giladna commented on #3669
@andrewlewis
Thanks,
It might be possible that the m3u8 has geo blocking.
The video durationI have tested is 60 min so it is not that case.

I am sending another m3u8 url to the ExoPlayer dev mail so you can test it with working stream.

BR,
Gilad.

[2018-01-14 11:26] giladna opened #3703 "Demo app IMA section - incorrect Title"
Hi @andrewlewis,

This ad json : VMAP pre-, mid- and post-rolls, single ads
contains VAST adtag which is same as for the first: Single inline linear
Looks like has to be removed

{
        "name": "VMAP pre-, mid- and post-rolls, single ads",
        "uri": "https://storage.googleapis.com/exoplayer-test-media-1/mkv/android-screens-lavf-56.36.100-aac-avc-main-1280x720.mkv",
        "ad_tag_uri": "h

[2018-01-14 22:17] Soulkey7 opened #3704 "IMA extension : Player paused"
Hi,

ExoPlayer 2.6.1

Reproducible on Demo ExoPlayer app

If user plays the below ad tag url, the player will be paused at the end of second Ads.
Also, first ad was skipped.

I assume if the Ad format is wrong, it automatically loads the second and miscalculate of current play status.
Additionally, the second ads does not emit AD Event after THIRD_QUARTILE.

- Ad Tag

https://pubads.g.doubleclick.

[2018-01-15 04:15] eneim opened #3705 "[Question] about reuse same SimpleExoPlayer instance for different MediaSource"
~~ignored all issue creation suggestion, this is a question ^^!~~.

Hope the title tells the background. The detail is:

- In order to create a SimpleExoPlayer instance, I must provide a TrackSelector (in this case, a DefaultTrackSelector which in turn built on a **DefaultBandwidthMeter** (calling this is **Meter1**, here it is a "BandwidthMeter") to support adaptive track selection).

- In order

[2018-01-15 06:12] admobwebmaster opened #3706 "Exoplayer Video Quality Option"
Hello guys!
Friend could someone help me put an option where the user could choose the resolution of the video such as 480 or 720 and so on.

Follow my code below and thank you all

[code]

[2018-01-15 08:28] ojw28 commented on #3700
If you require custom UI behavior, you should look at creating your own views rather than relying on those provided by the library. Note that you can easily use the source code for the library provided views as a starting point, and modify them to change the behavior to match what you need.

[2018-01-15 08:28] #3700 closed, assigned to nobody

[2018-01-15 08:38] ojw28 commented on #3698
Format selection is, by default, based on an estimate of the currently available bandwidth. The component responsible for providing this estimate is `DefaultBandwidthMeter`.

If you re-use the same `DefaultBandwidthMeter` instance from one playback to the next, as is the case in our demo app, then the bandwidth estimate obtained from playing the previous video is used to make the initial format se

[2018-01-15 08:38] #3698 closed, assigned to nobody

[2018-01-15 08:42] ojw28 commented on #3679
Assuming you're dealing with DASH, HLS or SmoothStreaming, you should be able to use [isCurrentWindowDynamic](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#isCurrentWindowDynamic--) to determine whether the stream is live or DVR. True == Live, False == DVR/VOD.

Regarding the thumb, we're accurately representing how the media is being made avai

[2018-01-15 08:42] #3679 closed, assigned to nobody

[2018-01-15 08:44] ojw28 commented on #3675
This is most likely a device specific issue, which you should report to the device manufacturer in the first instance. I'll keep this open for now, but it's unlikely we'll be able to look at it any time soon.

[2018-01-15 08:48] NesmaNasr commented on #3693
@andrewlewis ,  any updates regarding this issue?

[2018-01-15 08:53] ojw28 commented on #3680
We don't have a great answer for this, unfortunately, since we do not currently guarantee API stability even between minor versions.

In most cases ExoPlayer is intended to be used by apps directly, in which case this isn't a problem because the app developer can simply pick their preferred version. The problem arises when libraries depend on ExoPlayer. This forces an app using such a library to u

[2018-01-15 09:02] ojw28 commented on #3705
Yes, correct. It's not ideal that you need to pass the bandwidth meter around in this way, in particular because it's quite easy to make the mistake of not passing the same instance. This is something that I think we're planning on addressing at some point.

It's fine to re-use the `DataSourceFactory` (and `DefaultBandwidthMeter`) when playing through a sequence of videos. Note that this means the

[2018-01-15 09:02] #3705 closed, assigned to nobody

[2018-01-15 10:58] andrewlewis commented on #3693
`ImaAdsLoader` currently doesn't support multi-period timelines like concatenations. Marking as an enhancement.

[2018-01-15 11:00] andrewlewis commented on #3693
#3452 is related.

[2018-01-15 11:08] andrewlewis commented on #3703
Thanks for reporting this. Should be fixed on the next push.

[2018-01-15 14:22] kvillnv commented on #3561
Same issue here, looking forward for an update as well. Thanks

[2018-01-15 15:07] b0g8 opened #3707 "Decoder fails to instantiate on Asus zenfone 2"
### Issue description
When trying to playback video recorded by device camera, the error occurs.

### Reproduction steps
Just use a video recorded on device. It is probably due to the decoder used.

### Version of ExoPlayer being used
2.5.4

### Device(s) and version(s) of Android being used
Asus_z00ad, android 5.0

### A full bug report captured from the device
[zenphone2.txt](https://github.com/

[2018-01-15 15:49] AquilesCanta commented on #3707
This issue is being closed because it does not adhere to our issue template, and/or because it **omits information requested in the issue template** that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).
If you’re able to provide complete information as requested in the issue templa

[2018-01-15 15:49] #3707 closed, assigned to nobody

[2018-01-15 17:12] lintax opened #3708 "Check support for Gradle 4.4"
Gone through tutorial
1. I've cloned the repository
2. Checked out release-v2
3. Added suggested lines to settings.gradle

Got an error
Error:Cannot create variant 'android-lint' after configuration ':exoplayer-library-core:debugRuntimeElements' has been resolved

[2018-01-15 19:32] darkokostic opened #3709 "HLS stream doesn't work with exoplayer demo app"
Hi there,

I have a lot of links for streams that I have to play in my app, some of them are working just fine.

Anyway, some of that HLS streams doesn't play audio, and some of that HLS streams doesn't play at all (either audio and video).

I tested on ExoPlayer demo app both.
  - The link that works in my app, works in demo app too.
  - The link that doesn't play in my app, and always trying to

[2018-01-15 22:33] satyres commented on #3583
@ojw28  Can you please explain more . Thanks
@rustyshelf Did you find a solution for this problem , i need the same feature for a radio stream , to be able to back for 10 second or more.
Thank you so much for your help

[2018-01-15 23:26] rustyshelf commented on #3583
@satyres the properties @ojw28 mentioned are in the development branch. Only he would be able to tell you when they are scheduled to go into a production build but they are all there as described.

[2018-01-16 01:27] eneim opened #3711 "[Question] Public Roadmap and 3.0?"
Hope the title is clear enough. Does the team have a list of what to do next (the Roadmap) and any idea for 3.0 yet? It may be easier for us to contribute in right direction.

[2018-01-16 04:35] elPre opened #3712 "HLS LIVE STREAM from NGINEX delivered in TS format does not play"
ExoPlayer Version (release-v2)

The stream that NGINEX server is delivered is in a TS file format

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-MEDIA-SEQUENCE:31652
#EXT-X-TARGETDURATION:8
#EXTINF:7.992,
cam1-31652.ts
#EXTINF:7.992,
cam1-31653.ts
#EXTINF:7.992,
cam1-31654.ts
#EXTINF:7.992,
cam1-31655.ts
#EXTINF:7.992,
cam1-31656.ts

What happens is that as soon it start to do the playback is just stuck.

I kin

[2018-01-16 05:19] alordred opened #3713 "Play multiple videos at the same time ？"
Is there anyway to play 2 videos at same times?
I have seen the api:
void configure (MediaFormat format,
                Surface surface,
                MediaCrypto crypto,
                int flags)
Can I create two exoplayers and joint two surface to one surface?
However,I want to play two video at only one surface.
Is there any possible way? Please tell me.
Thanks u very much.

[2018-01-16 07:32] lintax commented on #3708
I've checked with old gradle version (4.1) and it worked.
Seems, the current gradle 4.4 is not supported by your build scripts

[2018-01-16 07:41] b0g8 commented on #3707
@AquilesCanta, could you explain what is missing?

[2018-01-16 09:53] andrewlewis commented on #3691
I think the VAST load timeout applies to the request for the ad tag XML, whereas the timeout you're seeing relates to loading the ad media. It looks like the Android IMA SDK currently doesn't provide a way to customize media load timeout.

I can file a feature request to be able to customize the media load timeout (though eight seconds sounds like a long time for users to wait for an ad to start!)

[2018-01-16 10:26] AquilesCanta commented on #3707
A full bugreport and a piece of content to reproduce the issue with.

[2018-01-16 10:54] AquilesCanta commented on #3709
I cannot reproduce: both links work well. I will close the issue under the suspicion that something server-side has been fixed. If you still encounter the issue, please provide reply to this issue including the missing [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) items.

[2018-01-16 10:54] #3709 closed, assigned to ojw28

[2018-01-16 11:17] AquilesCanta commented on #3712
The issue is that the TS segments declare an AAC track in the PMT but no audio PES packets appear (so ExoPlayer waits for the AAC track indefinitely). I'd suggest contacting NGINEX and see if that can be fixed on their side. You can work around this issue by enabling `DefaultTsPayloadReaderFactory#FLAG_IGNORE_AAC_STREAM`. To do this, you will need to inject your custom `HlsExtractorFactory` (take

[2018-01-16 11:17] #3712 closed, assigned to nobody

[2018-01-16 12:02] AquilesCanta commented on #3708
Unfortunately I cannot reproduce the issue. I went through the entire process from scratch but everything worked correctly (release-v2 branch at the moment of writing). In case it helps, I am running AS 3.0.1, Gradle 4.1. Try cleaning the project and invalidating caches before trying again.

[2018-01-16 12:46] AntonAFA opened #3714 "MP4 bitrate value is always -1"
Hello guys. Have some small question. From what i see mp4 bitrate is always equal to -1.
Is it correct? Is there any way to obtain its bitrate, or it should be a correct behaviour?
For example video from your demo app: https://html5demos.com/assets/dizzy.mp4

[2018-01-16 12:53] AquilesCanta commented on #3708
We'll keep this open until we confirm ExoPlayer works with gradle 4.4.

[2018-01-16 13:59] adelati commented on #3561
After reading the document about Key Rotation on Android (https://storage.googleapis.com/wvdocs/Widevine_DRM_Android_Using_Key_Rotation.pdf). to the best of my knowledge, the bug is related to the moment of releasing the initial sessionId1 which lead to tearing down the MediaCodec and creating new one. So, I think somewehere in Exoplayer library, you destruct the initial session.

[2018-01-16 14:06] VMAXSDK opened #3715 "End Ad not playing"
### Issue description
Ad with timeoffset as “end” is not playing when AdBreaks with just timeoffset “start” and “end” are present.

### Reproduction steps
1. Download sample app [https://github.com/google/ExoPlayer/tree/release-v2/demos/main](url)
2. Change  “ad_tag_url” to [https://img.vserv.mobi/vast/ima/sample1.xml](url)
3. Load the ad and AdBreak having timeOffset=”end” won’t play

### Link to

[2018-01-16 14:08] VMAXSDK opened #3716 "App Crash"
### Issue description
App is crashing with unordered sequencing of timeOffset for AdBreaks

### Reproduction steps
1. Download sample app from [https://github.com/google/ExoPlayer/tree/release-v2/demos/main](url)
2. Change “ad_tag_url”  to [https://img.vserv.mobi/vast/ima/sample2.xml](url)
3. Load the ad and it will cause immediate crash.

### Link to test content
[https://img.vserv.mobi/vast/ima/

[2018-01-16 14:09] VMAXSDK opened #3717 "Midroll issue"
### Issue description
For mid roll ad only Ad controls are visible without ad video on screen (content video playback noticed for Ad breaks)

### Reproduction steps
1. Download sample app [https://github.com/google/ExoPlayer/tree/release-v2/demos/main](url)
2. Change  “ad_tag_url” to [https://img.vserv.mobi/vast/ima/sample4.xml](url)
3. Load the ad and wait till timeoffset for mid roll reaches

##

[2018-01-16 14:10] VMAXSDK opened #3718 "Quartile Event hits(First, Midpoint and Third) firing together for timeoffet end"
### Issue description
Quartile events(First, Midpoint and Third) are firing together at the start of the ad when timeoffset is end

### Reproduction steps
1. Download sample app [https://github.com/google/ExoPlayer/tree/release-v2/demos/main](url)
2. Change  “ad_tag_url” to [https://img.vserv.mobi/vast/ima/sample3.xml](url)
3. Load the ad and it will hit the first, midpoint and third quartile even

[2018-01-16 14:54] #3344 closed, assigned to botaydotcom

[2018-01-16 15:41] darkokostic commented on #3709
Hi there,
On my device, it seems to be the same issue still. So I am writing a report again.

### Issue description
The main issue on my device is that some of the links doesn't play (some of them play only audio, and some of them are sending http request in loop over and over). I am testing on ExoPlayer demo app.

### Reproduction steps
To reproduce this issue, put the links that I will send in e

[2018-01-16 17:42] AquilesCanta commented on #3714
This is working as intended. -1 is the value assigned to Format#NO_VALUE. In this case, means it is not known . I don't know if ExoPlayer fills in the bitrate for any Container format outside of the context of adaptive streaming, I suppose it would require the file having some kind of descriptor, and adding support for it. Other than that, you will have to calculate it yourself, unfortunately. It

[2018-01-16 17:42] #3714 closed, assigned to nobody

[2018-01-16 19:21] janeriksamsonsen commented on #1606
Any more information about when this will be implemented?

[2018-01-16 20:59] wvpaf commented on #3220
@JacksonFoo  any luck with the full log?

[2018-01-16 21:06] wvpaf commented on #3517
@predaV when will the tokens expire? unfortunately @astinus-1 has been other wise occupied for the past week.

[2018-01-16 23:37] fredgc commented on #3596
This has been reproduced internally, and we are investigating root cause.

[2018-01-17 10:20] ojw28 commented on #3714
FYI - Propagating a file size in Format for non-adaptive streams (which would also let us automatically populate the bitrate field with the size divided by the duration) is tracked by https://github.com/google/ExoPlayer/issues/2638.

[2018-01-17 10:50] tonihei commented on #3670
FYI: We are working on a proper fix to allow playback of your file and other files with similar problems.

In the meantime, if this problem is blocking your work and you really would like to have a workaround, you could replace the method `getBuffereredDurationUs` in `ExtractorMediaPeriod` with the following code. This allows you to at least disable the video track (with one of the methods mention

[2018-01-17 14:06] AquilesCanta commented on #3711
There is no public roadmap. A good reason for this is that priorities sometimes change, and it is really hard to keep up to expectations. For the same reason we strongly avoid setting release timelines.

ExoPlayer 3 has not been discussed yet (AFAIK).

Anything marked as enhancement in the issue tracker is an opportunity to contribute, specially if it doesn't involve API modifications (extension o

[2018-01-17 14:08] AquilesCanta commented on #3713
Could you clarify what the expected behavior is? How would composition work?

[2018-01-17 14:10] AquilesCanta commented on #3706
This is already done in the DemoApp. I'd suggest you go with a similar approach.

[2018-01-17 14:10] #3706 closed, assigned to nobody

[2018-01-18 02:06] xiaoyepadzhang commented on #3682
@erdemguven Hi, How can I get the sample HLS downloader code?

[2018-01-18 02:11] Gidex opened #3720 "Video reload"
Why does video reload after rewind?

[2018-01-18 09:55] erdemguven commented on #3682
I'll share it with you when it's ready.

[2018-01-18 11:03] AquilesCanta commented on #3720
Because ExoPlayer does not currently keep the buffered content for seeking back. Good news is that it is something that @ojw28 has been looking at. @ojw28, would you mind filling any gaps/pointing to the right resource?

Relevant: #2882.

[2018-01-18 11:21] ojw28 commented on #3720
We do not cache persistently on disk by default, and we discard our in-memory buffer as we play over it. There are features in the dev branch that allow you to retain buffer after you've played it for a period of time, as described in #3583, however these features are not yet available in a release.

[2018-01-18 11:46] AquilesCanta commented on #3622
Sorry for the delay, and thanks for the reminder (was on holidays when this was reported).

As @andrewlewis pointed out, the issue was the change in the container formats across segments. A fix for this will be pushed soon, but I didn't manage to reproduce the IndexOutOfBoundsException. There have been a lot of changes in the track mapping lately, so please update to a version that has the new fix

[2018-01-18 11:55] meenukrishnamurthy opened #3721 "Showing videos like facebook timeline using exoplayer"
Hi is there a way to get playing videos like on facebook using the exoplayer library.I need to play the video of the current visible item in the recycler view. Any suggestions would be of help??

[2018-01-18 12:41] deepaksime commented on #3413
@oingbong  can post the working code sample for hls media player using exomedia

[2018-01-18 13:00] dim4ikhot opened #3722 "*.m3u HLS streams error:"
I have the next stream URL:

http://yp.shoutcast.com/sbin/tunein-station.m3u?id=1749304

This stream by default returns type TYPE_OTHER, when I try to get correct  `MediaSource`, which lead to this issue:
`com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3

[2018-01-18 13:36] tonnyavery opened #3723 "IMA extension should specify required proguard rules"
Any proguard settings available for ExoPlayer?

Building with minifyEnabled: true
When starting the player, get exception:

[code]

[2018-01-18 14:09] AquilesCanta commented on #3722
The issue (as per exception) is that EXTINF [has an invalid value](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.2.1) (-1).

On the other hand, the playlist does contain a stream inside (http://198.27.66.225:8006/stream) for which you can use `ExtractorMediaSource`.

[2018-01-18 14:09] #3722 closed, assigned to nobody

[2018-01-18 14:13] AquilesCanta commented on #3721
Relevant resource: #867. There you will useful hints. @marcbaechinger did some work on this topic as well. However, it will be up to you to decide how to do it, unfortunately (good news is Facebook does it, so it is most definitely possible).

[2018-01-18 14:19] dim4ikhot commented on #3722
I didn't fully understand. How can I get the stream, you mentioned above, from URL I attached in my question? I can get from server only the stream URLs, like in my question.

[2018-01-18 14:26] AquilesCanta commented on #3723
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-01-18 15:04] ojw28 commented on #1606
I have a change that implements this, but it's so hacky I don't think it can be submitted in its current form. We need a little more time to try and come up with something better.

[2018-01-18 15:06] tonnyavery commented on #3723
### Issue description
With proguard enabled, application crashes on player start
[code]

### Reproduction steps
Enable proguard on app with ExoPlayer

### Link to test content
Provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please submit the issue, then email the link to
dev.exoplayer@gmail.com including the issue number in the subject line.

### Version o

[2018-01-18 15:31] darkokostic commented on #3709
Can anyone help? Still the stream doesn't work with demo app.

[2018-01-18 16:02] tonnyavery commented on #3723
This was related to IMA extension.
Seems that exoplayer ima extension doesn't include proguard configuration. Adding these rules solved the problem so far:
https://groups.google.com/forum/#!topic/ima-sdk/uU-Oidq4mPg

[2018-01-18 16:07] belanagyb commented on #3517
Guys, I've sent an update via email. This won't expire too soon.

[2018-01-18 16:18] ba-a opened #3724 "ANR on speficic devices when SurfaceView Visibility is set to GONE since version 2.5.0"
### Issue description
We recently updated the ExoPlayer version in our app from 2.4.0 to 2.6.1. After that we got a lot of ANR reports in the developer console, mostly from the Huawei P8 Lite.
This is important, on most devices the error doesn't occur, but on this and a couple others it happens every time you try to set up the player.

When setting up the player, the stream starts running (you can

[2018-01-18 16:42] ojw28 commented on #3723
I think IMA should be distributed as an aar that includes the proguard rules it needs. App developers should ideally not have to specify the rules in their own proguard file.

Until that happens, we can probably add the rules into our IMA extension aar, which would at least solve the problem for app developers depending on IMA via our extension (provided we remember to update the rules then updati

[2018-01-18 20:51] bearcattom opened #3725 "HLS Streams - Key Rotation, Multiple EXT-X-KEY Tags"
Does ExoPlayer support HLS manifest with MULTIPLE EXT-X-KEY tags/encryption keys...whereby keys are refreshed during playback?

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:5
#EXT-X-PROGRAM-DATE-TIME:2018-01-18T20:42:59+00:00
**#EXT-X-KEY:METHOD=AES-128,URI="https://foo.com/321630/keys/id/2348028",IV=0x66AA04B5A372A3D24D91A44C194BD050**
#EXT-X-MEDIA-SEQUENCE:259371
#EXTINF:5.005,
018/20/42/59_40

[2018-01-18 21:49] bearcattom commented on #3725
I should add that I ran Charles Proxy and never see any calls to retrieve the keys:

https://foo.com/321630/keys/id/2348028

[2018-01-18 23:00] chariotsystems opened #3726 "DefaultHttpDataSource: A connection to XXX was leaked. Did you forget to close a response body?"
com.google.android.exoplayer2.upstream.DefaultHttpDataSource

will leak connections for a 404 response from the server

W/OkHttpClient: A connection to http://203.36.100.86/ was leaked. Did you forget to close a response body?
W/OkHttpClient: A connection to http://203.36.100.37/ was leaked. Did you forget to close a response body?
W/OkHttpClient: A connection to http://127.0.0.1:8080/ was leaked.

[2018-01-18 23:10] chariotsystems commented on #3726
I am using my own modified version of the DefaultHttpDataSource as I need to support unicast and multicast streams and cross over - so there is no urgency for me that this be fixed - but this fix will help others :)

[2018-01-19 00:24] HugoSaintLaurent opened #3727 "Does ExoPlayer 2.6.1 supports playback of HLS CMAF CBCS streams?"
Does ExoPlayer 2.6.1 supports playback of HLS CMAF CBCS streams?

I’m running a 3rd party stream protected with Widevine using the demo app (Android 8, SDK 27). And I see the following exception when native_queueSecureInputBuffer() is called for the first time.

01/18 15:57:34: Launching demo
$ adb install-multiple -r -t /Users/hsaintlaurent/ExoPlayer-dev-v2-r2.6.1/demos/main/buildout/intermediate

[2018-01-19 02:41] eneim commented on #3721
@meenukrishnamurthy not to PR, but you can take a look at [my helper library](https://github.com/eneim/toro) :3. Which will come next to it is to manage ExoPlayer instance using Object pool to optimize performance. Hope this helps.

[2018-01-19 03:44] ghost commented on #3681
This url is invalid.I will provide a new url.It maybe keep valid for a day.
[code]
I have used VLC to play it,I did not see this issue.
Forgive my English is not good, I hope I can express clearly.Thx

[2018-01-19 08:50] vishal105 opened #3728 "Cookie issue in Exoplayer"
How can I send signed cookie in exoplayer for AWS signed URL?
-----------------------
- I tried this method defaultHttpDataSourceFactory.setDefaultRequestProperty("X","Y");
  But its not working.

Here is my code snippest:
-----------------------
defaultHttpDataSourceFactory.setDefaultRequestProperty("CloudFront-Expires", "1530921600");
defaultHttpDataSourceFactory.setDefaultRequestProperty("Cloud

[2018-01-19 09:53] pi-andrei opened #3729 "DASH Downloader doesn't work with specific .mpd"
### Issue description
When trying to download movie with Dash Downloader it fails with error:
"Unbounded index for representation: ..."

Seems, that issue caused by these part of code in DashDownloader.java class in getSegments method:
[code]

If `C.TIME_UNSET` is always used as parameter, then BaseSegment code rely on `<SegmentTimeline>` tag in mpd file to get segments count. But there is no `<Se

[2018-01-19 10:52] AquilesCanta commented on #3728
Have a look at Android's [CookieManager](https://developer.android.com/reference/java/net/CookieManager.html), which is used by `DefaultHttpDataSource` for cookie management. With a bit of exploration you will manage to set cookies. How to authenticate to AWS is out of the scope of the issue tracker, unfortunately.

[2018-01-19 10:52] #3728 closed, assigned to nobody

[2018-01-19 10:54] AquilesCanta commented on #3727
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-01-19 11:26] ojw28 commented on #3681
I see a completely empty media playlist (i.e. does not contain any media) when I request the newly provided URL:

[code]

[2018-01-19 11:38] janeriksamsonsen commented on #1606
@ojw28, thanks for responding. Is the "fix" available in a feature-branch which I can use until waiting for the final solution?

[2018-01-19 11:57] HungamaSurat opened #3730 "Offline Widevine DRM Downloaded but not alble to Play"
Issue description:
-----------------------
- We are trying to play Offline DRM Video(.mpd formated) Encoded with Widevine(Secure Expressplay URL). Here,
We tried with updated ExoPlayer v2.6.0. Downloaded DRM content through below code.

//------------- Download code ----------------//
File tempFolder = Util.createTempDirectory(SampleChooserActivity.this, "ExoPlayerTest");
tempFolder.mkdir();
cache

[2018-01-19 12:59] mdnaseem33 opened #3731 "android studio 3.0.1 not suggesting class name for this library only"
Even after adding dependency to its gradle all the class of exoPlayer not showing and even its acting like there are not there but when i explicitly import that link into the file than its working fine i don't get it where the problem is...........

[2018-01-19 14:53] ojw28 commented on #3726
`DefaultHttpDataSource` relies on the underlying platform network stack, via `HttpURLConnection`. So I think the logging you're referring to must be coming from the underlying platform. I'm unable to reproduce the issue locally, so I suspect it may only occur on certain devices and/or versions of Android, and that it's a platform bug specific to those.

Android has (by default) never used okhttp3

[2018-01-19 15:32] AquilesCanta commented on #3725
Yes, that kind of streams should work. If not, please provide all information requested in the issue template for us to look into the issue.

[2018-01-19 15:32] #3725 closed, assigned to AquilesCanta

[2018-01-19 15:34] hare989 commented on #3172
Hello, I'm not sure if I should create new issue for this ( I've created issue #3741 ) but setting SimpleExoPlayerView.setShutterBackgroundColor(Color.TRANSPARENT) seems that doesn't work on couple Samsung devices. I found that on Samsung Galaxy S7 Edge (SM-G935F) Android 7, Samsung Galaxy J5 (Android 6) when preparing player (changing source) shutter is black although should be transparent and ma

[2018-01-19 15:52] AquilesCanta commented on #3731
Unfortunately we cannot help you with these kind of issues. We have not received any similar reports of dependency problems and, with the information available, we can only assume this is a configuration problem. It is impossible for us to debug it for you.

Stack Overflow might be a better please to look for assistance. If you have evidence suggesting this is an ExoPlayer issue, please post as mu

[2018-01-19 15:52] #3731 closed, assigned to nobody

[2018-01-19 15:57] mdnaseem33 commented on #3731
yeah i'm searching there too....... anyways thank you

[2018-01-19 16:25] AquilesCanta commented on #3709
#1967 explains the cause. You need to inject FLAG_ALLOW_NON_IDR_KEYFRAMES by implementing your own `HlsExtractorFactory`. You can use `DefaultHlsExtractorFactory` as starting point.

[2018-01-19 16:34] marcbaechinger commented on #3721
Yes, this is currently not something with which the ExoPlayer library helps you much. You need to implement this yourself by now.

As Santiaog mentioned. Have a look at issue #867 There are a lot of useful hints already.

Some hints as inspiriation (which may be opinionated) from my expierience with the topic :)

- IMO the best approach is having a single ExoPlayer instance which you attach/detach

[2018-01-19 16:40] #3721 closed, assigned to marcbaechinger

[2018-01-19 16:47] ojw28 commented on #3724
Thanks for the detailed report. Could you try hardcoding `MediaCodecVideoRenderer.codecNeedsSetOutputSurfaceWorkaround` to return true? If that resolves the issue then we should add a case into that method for the affected device. Please let us know!

[2018-01-19 16:55] ojw28 commented on #3724
As an aside, it's generally less error prone to have the `SurfaceView` always visible, and to place another view on top of it if you want to show something else.

[2018-01-19 18:36] ojw28 commented on #3724
I got hold of a device. It looks like hardcoding `codecNeedsSetOutputSurfaceWorkaround` to return true, and also hardcoding `shouldUseDummySurface` to return false, properly works around the issue. We'll follow up with a proper fix shortly, which will:

* Include the AVC decoder on P8 in `codecNeedsSetOutputSurfaceWorkaround`.
* Update `shouldUseDummySurface` to return false in cases where the out

[2018-01-19 20:44] HugoSaintLaurent commented on #3727
### Issue description
Playing a 3rd  Party HLS CMAF stream protected with Widevine DRM and encrypted with AES-CBCS using a 1:9 pattern doesn’t not work properly with ExoPlayer demo  application. The stream plays fine using other applications.

01/18 15:57:34: Launching demo   $ adb install-multiple -r -t   /Users/hsaintlaurent/ExoPlayer-dev-v2-r2.6.1/demos/main/buildout/intermediates/split-apk/noE

[2018-01-19 21:19] toby78 opened #3732 "WebvttDecoder final and private :-("
I would like to extend WebvttDecoder.
Unfortunately it is final and private.

Is there any particular reason for this?

[2018-01-19 23:20] darkokostic commented on #3709
I did it, and it resolved my problem on Android 6.0, now all my streams work.

But still on Android 7.0, some of the streams doesn't have audio, it shows Unsupported on demo app, but on Android 6.0 device it works.

Also this flag that resolved me the issue for streams on Android 6.0, on Android 7.0 same streams doesn't play still.

[2018-01-20 00:00] darkokostic commented on #3709
Also I added ffmpeg extension, and still I am getting same results.

[2018-01-20 12:25] darkokostic commented on #3709
I think that I am not using properly ffmpeg extension, I added it as a module like you described here: https://github.com/google/ExoPlayer/blob/release-v2/README.md and I can use ffmpeg classes, but I didn't configure any of this build instructions: https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg. Do I have to do this build instructions? I don't know how to do it, because it

[2018-01-20 13:19] bearcattom commented on #3725
Sorry for the noise...I had a Charles Proxy issue w/ SSL handling.  These streams do work...thank you.

[2018-01-20 17:46] ParkerK opened #3733 "ExoPlayer is dark/faded when backgroundDimEnabled is set"
I just switched over to ExoPlayer from VideoView, and I love it, but for some reason the video appears dark / faded on some devices. It's as if there's a dark overlay on the video surface. None of the other components (images, appbar, etc) appear dark, it's just ExoPlayer. This issue happens on some devices like Android Emulator, LG, ZTE, etc, but doesn't seem to occur on others, like Samsung.

Th

[2018-01-20 20:01] darkokostic commented on #3709
Hello there,

I implemented ffmpeg extension, everything works perfect on Android 6.0, but still some streams doesn't play either video and audio on Android 7.0.

It is the same on Android 5.0.

I am sure that I implemented ffmpeg extension properly because I am getting in log that it loading FFmpeg extension class on every stream that device doesn't support.

After message that app loaded ffmpeg

[2018-01-20 22:41] giladna commented on #3669
@andrewlewis
did you check it again?
10x

[2018-01-21 07:24] Sara-Tareq opened #3734 "Only audio is playing and video is stuck when seeking before the playback start position while using AdsMediaSource"
### Issue description
Using an AdsMediaSource for a pre-roll video ad with an HlsMediaSource and seeking the playback to a position after the stream start position after the ad ends if I seeked back below the playback start position (not the stream start position) only the audio is working and the video is stuck.

### Reproduction steps
AdsMediaSource(HlsMediaSource)
player.seekTo(startPos)
after

[2018-01-21 16:45] mcd2000 commented on #2550
I've tested on the latest beta pre-view of Android 7 firmware.
Looks like this issue was resolved by Xiaomi.

[2018-01-21 18:22] ParkerK commented on #3733
Found the issue, it's due to `SurfaceView`: https://stackoverflow.com/questions/5161411/on-android-emulator-hw-too-an-activity-style-with-backgrounddimenabled-also-d

Casting `simpleExoPlayers.getVideoSurfaceView()` to `SurfaceView` and calling `setZOrderOnTop(true)` fixes this.

[2018-01-21 18:39] #3711 closed, assigned to nobody

[2018-01-21 18:42] ojw28 commented on #3722
We do not support playback of this type of m3u playlist. If you download the original URL and open the file with a text editor, you'll see that all it contains is:
[code]
which is where you can get the actual stream URLs, that we do support.

[2018-01-21 18:46] ojw28 commented on #3732
What is your use case for needing to do this? I don't think we'll have any particular objection to doing this, but we'd like to understand the use case and make sure there's not a better way for achieving the same thing. Thanks.

Aside: It actually public already on the `dev-v2` branch, although it's still final.

[2018-01-21 18:48] ojw28 commented on #3699
I was not able to reproduce this. Please provide detailed reproduction steps using the ExoPlayer demo app, and attach the information requested in the issue template (including a full bug report).

[2018-01-21 18:51] ojw28 commented on #3733
Closing, since it sounds like you've found a way of avoiding the issue (and it's not an ExoPlayer issue).

[2018-01-21 18:51] #3733 closed, assigned to ojw28

[2018-01-21 19:00] ojw28 commented on #3709
This is working as intended, and means that the device does not support the audio format you're trying to play. Please see the Sample Formats section of our [Supported Formats](https://google.github.io/ExoPlayer/supported-formats.html) page, and the [Android supported format](https://developer.android.com/guide/topics/media/media-formats.html#core) page that it links to.

There is not sufficient i

[2018-01-21 19:05] ojw28 commented on #91
The change @botaydotcom mentions has now been pushed to `dev-v2`.

[2018-01-21 22:01] saschpe opened #3735 "Support ICY metadata"
Hi,

there are [plenty of (closed) issues](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue%20ICY%20) asking for Shoutcast / ICY support. Since I had the same challenge I came up with [an extension](https://github.com/saschpe/android-exoplayer2-ext-icy). It's in use already but I'd like to know if it makese sense to be mentioned in the extension directory or if there's intere

[2018-01-22 04:06] denizmveli opened #3736 "Expose aspect ratio deformation"
### Feature request

Expose the aspect ratio deformation in a useful way for our UI to know if we should show a button to toggle resize modes.

Scenario = 18:9 wide phones like the s8 / pixel 2 XL need a custom feature to allow users to toggle between resize modes (ZOOM and FIT). Similarly viewing 4:3 content on a 16:9 device. It's great that Exo supports these zoom modes....but....

I don't want

[2018-01-22 04:11] chariotsystems commented on #3726
Hi,

Thank you for your interest in this matter - appreciated 😄👍

I am using a Samsung S8 running Android O.

Whether is okhttp2 or 3 I'm not sure in debug I see -
com.android.okhttp.internal.huc.HttpURLConnectionImpl.  I just used Jake
Wharton's GitHub of okhttp to establish the root cause.

In order that you can see clearly the problem - I have attached a nefarious
version of the DefaultDataSour

[2018-01-22 04:13] chariotsystems commented on #3726
removed wrong file

[2018-01-22 04:17] chariotsystems commented on #3726
The solution provided in LeakyHttpDataSource doesn't comprehensively call close for all instances where connection.disconnect() is called - so ensure that this is done in your final solution.

[2018-01-22 07:26] dim4ikhot commented on #3722
I see. Thanks for the help.

[2018-01-22 08:55] ojw28 commented on #3726
I still don't understand this:

* There is nothing in the okhttp GitHub issue you reference that saying that you need to get and close all of the streams explicitly, as far as I can see. That issue relates to okhttp3 and only says that you need to close the response body. This is not relevant to the case of dealing with okhttp2 via HttpURLConnection; I think that calling `connection.disconnect()`

[2018-01-22 08:57] ojw28 commented on #3726
Please also attach a bugreport attached with `adb bugreport`, as requested in the original issue template and above.

[2018-01-22 09:06] ojw28 commented on #3735
My understanding is that on some versions of Android `DefaultHttpDataSource` wont work at all, failing with:
[code]
([here are some relevant issues](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+%22java.net.ProtocolException%3A+Unexpected+status+line%3A+ICY+200+OK%22)). This is unfortunately working as intended at the platform level, which is where the failure comes from,

[2018-01-22 09:22] saschpe commented on #3735
Well, OkHttp is quite popular in the Android community but it's also already part ot Android itself, hidden below HttpConnection (AFAIK). On the other hand, it adds a lot of additional size to any APK.
I'm sure things can be implemented on top of OkHttp but I'd rather expect someone with the *ICY 200 Ok* issue to submit a patch. I don't have a strong opinion though but I just didn't see the need f

[2018-01-22 09:29] ojw28 commented on #3735
As far as the ICY protocol is concerned, I think the `ICY 200 OK` response is correct. The network stack underneath `HttpURLConnection` doesn't handle the response on certain versions of Android (if I remember correctly, I think KitKat is affected). This is also working as intended, because the HTTP stack isn't designed to handle the ICY protocol.

So I'm somewhat unclear on where you would expect

[2018-01-22 10:21] andrewlewis commented on #2550
Sounds like this has been fixed by a system update. It's unlikely we will work around the issue on older versions, so I will close this for now. Please reopen or file a new issue if there are remaining problems.

[2018-01-22 10:21] #2550 closed, assigned to andrewlewis

[2018-01-22 11:09] ba-a commented on #3724
As always, thanks for the quick response and detailed information for a fix. 👍
I will try this out as well and give feedback again.

[2018-01-22 11:31] 4xes commented on #3724
Also got this ANR after update ExoPlayer.
This applies to multiple devices, just on P8 more often:
[code]

[2018-01-22 11:46] saschpe commented on #3735
What I meant is that the underlying implementation could still be changed given there are some more tests in place. It's nothing I'd do immediately though.

[2018-01-22 12:00] ojw28 commented on #3735
The underlying implementation of what? Are you suggesting the solution is to patch KitKat devices at the platform level? That's not feasible in practice; many such devices are no longer receiving regular updates from the device OEMs and/or carriers.

[2018-01-22 16:06] ba-a commented on #3724
Another thing I just mentioned is, it doesn't seem to be a problem if the SurfaceView is wrapped in a layout and the visibility is set on the layout. As long as the SurfaceView stays untouched it's fine.

[2018-01-22 18:30] chariotsystems commented on #3726
[LeakyHttpDataSource.java.zip](https://github.com/google/ExoPlayer/files/1653139/LeakyHttpDataSource.java.zip)

[2018-01-22 18:34] chariotsystems commented on #3726
A big apology here.  I seem to have attached an earlier version of the file without the fix.
This is what I have modified as well as the implementation of the close() method details as given above.  Note that the url is deliberately mangled to force the makeConnection's bowels to cough up an error and hence implicitly open the error stream.

[code]

[2018-01-22 18:38] chariotsystems commented on #3726
Yes I am using an advanced Engineering Build of S8 from Samsung.  You might not have access to such a device and build.  So I will reproduce on an S7 for you later and attach the adb bugreport as requested.

I presume you know how to run this LeakyHttpDataSource with a multi segment dash manifest.
That you know to modify the HttpDataSourceFactory to return this rather than the DefaultHttpDataSourc

[2018-01-22 18:53] ojw28 commented on #3726
Thanks. I can reproduce this with the new `makeConnection` code snippet. It's not specific to the S8 build. Marking as a bug.

[2018-01-22 20:14] codeindream opened #3737 "Low latency Dash+DRM playback issue."
### Issue description
Hello!

We'd like to use Exoplayer for DASH+DRM live streaming with latency ~8 sec and timeShiftBuffer = 5M.
Priority is to keep stream latency ~8 sec from realtime (skip frames if required).

Our manifest working well for Shaka player, but with Exo we observs next issues:

1. After first chunk received, player show seek bar for 5M with position at the end. Content not playin

[2018-01-22 20:31] codeindream commented on #3737
email sent

[2018-01-22 23:15] chariotsystems commented on #3726
That's great :)

[2018-01-23 04:18] linhai326 commented on #3737
my understanding of "availabilityStartTime" is the time since Epoch time.
Should it be something like "availabilityStartTime="1970-01-01T00:00:09Z" ?
in that case, it will give a 9 seconds latency from current live point.

[2018-01-23 05:59] Khang-NT opened #3738 "ExoPlayer can't play FLAC file but native MediaPlayer can"
### Issue description
I can't play this FLAC file with ExoPlayer: [Download link - Drive](https://drive.google.com/open?id=1_ykCaUovTcHwsGwNnQpO1k-lVEKKY03G)
It says:
[code]
I used ExoPlayer **without** FLAC extension and this error occurs. FLAC codec is supported on Android 3.1+ which mentioned in [Android - Supported Media Formats](https://developer.android.com/guide/topics/media/media-formats.h

[2018-01-23 08:54] erdemguven commented on #3738
Hi @Khang-NT,

We don't use platform FLAC decoder so you have to use the extension.

I tried the flac file you shared on Android 5 (Nexus 6) with the latest demo app, it plays fine. Please retry on a different device.

As you can see in the issue #1808, as your file doesn't have a seek table, unfortunately you can't seek in exoplayer currently.

[2018-01-23 09:15] sn32247 opened #3739 "SimpleExoPlayerView being black when reopen activity and music is playing"
The com.google.android.exoplayer2.ui.SimpleExoPlayerView widget going black and don't show nothing if close and re open activity while music is playing and the user should touch the black box to visible it. but when new music selected and player.prepare() call, every thing is ok. the problem is when music is playing and the widget most show the current state of music after activity re launch. how

[2018-01-23 09:39] pstambrecht opened #3740 "DASH live stream with timeshift ignores timeshift"
When I'm trying to play DASH live stream which has a timeshift, Exoplayer plays live stream instead - ignores timeshift.

MPD:
`
<MPD type="dynamic" xmlns="urn:mpeg:dash:schema:mpd:2011" profiles="urn:mpeg:dash:profile:isoff-live:2011" xmlns:cenc="urn:mpeg:cenc:2013" minBufferTime="PT7.000S" timeShiftBufferDepth="PT86460.000S" minimumUpdatePeriod="PT5.000S" availabilityStartTime="2015-01-01T00:00:

[2018-01-23 09:57] codeindream commented on #3737
My understanding, it's time when stream started.
For example, in DashMediaSource#processManifest(): `long liveStreamDurationUs = getNowUnixTimeUs() - C.msToUs(manifest.availabilityStartTimeMs);`

Regarding issue _#1, I think Exoplayer expecting that _livestream_ couldn't be played with `suggestedPresentationDelay = 0`, as it mean that we at livestream edge, so chunks phisicaly can't be ready.
But

[2018-01-23 10:03] hare989 opened #3741 "SimpleExoPlayerView: Set shutter background color method not working on couple Samsung devices"
Hello,

### Issue description
SimpleExoPlayerView.setShutterBackgroundColor(Color.TRANSPARENT) seems that doesn't work on couple Samsung devices. I found that on Samsung Galaxy S7 Edge (SM-G935F) Android 7, Samsung Galaxy J5 (Android 6) when preparing player (changing source) shutter is black although should be transparent and make last viewing frame visible. It's working fine on other Android 4.4

[2018-01-23 11:11] tonihei commented on #3555
Closing issue, because the question has been answered and the README.md has been updated.

[2018-01-23 11:11] #3555 closed, assigned to tonihei

[2018-01-23 11:11] #3658 closed, assigned to tonihei

[2018-01-23 11:12] tonihei commented on #3654
Closing for now, because none of the required information was provided. If you have more information, feel free to reopen issue.

[2018-01-23 11:12] #3654 closed, assigned to tonihei

[2018-01-23 12:09] lldartsll opened #3742 ".srt subtitles don't display when they are not ordered in time"
Greetings,
I am trying to play subtitles from url.
the subtitles are in srt format they work as intended for the first
3 minutes 29 seconds then they dont appear for the rest of the video.

the same subtitles were tested on a local website using html5 video they work fine.
they were also tested using another android video player and they work fine.
i converted the srt file to webvtt and it worked

[2018-01-23 12:21] hare989 commented on #3596
Have similar issue on Nokia 5 (Android 7.1.2)

[2018-01-23 12:48] noah538 opened #3743 "AmLogic S905D - Cannot be seamless when switch videos from .webm to .mp4"
### Issue description

“Transitions between sources are seamless. There is no requirement that the sources being concatenated are of the same format (e.g. it’s fine to concatenate a video file containing 480p H264 with one that contains 720p VP9).” - Medium

when videos change from .mp4 to .mp4  are seamless.
But it is not seamless when change videos from .webm to .mp4.
The result will be “reiniti

[2018-01-23 13:19] green-nick commented on #2882
Hi, @ojw28
When we could see key-frame supporting on release? Will it be in 2.6.2?
Or does dev-branch stable enough?

[2018-01-23 14:15] ojw28 commented on #3743
* Codec re-initialization shouldn't result in a black screen flash. Is this issue specific to the Amlogic device, or can you reproduce on all devices? If it's device specific, you'll need to report the problem to the device manufacturer. If it's not device specific, please provide us with concrete reproduction steps, including sample media that reproduces the issue.
* You shouldn't need to do anyt

[2018-01-23 14:17] #3740 closed, assigned to nobody

[2018-01-23 14:22] giladna commented on #3699
@ojw28
No specific scenario
Just play the google glass with Nexus 6p 8.1.0 and press back to get back to the gallery
I will see the player destroying it self in the middle of the screen

BR,
Gilad.

[2018-01-23 14:23] ojw28 commented on #3742
Why are the captions in the file in a random order, rather than increasing with time?

[2018-01-23 14:26] ojw28 commented on #3742
The [Javadoc](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/SingleSampleMediaSource.html) tells you what to use instead.

[2018-01-23 14:27] ojw28 commented on #3739
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-01-23 14:27] #3739 closed, assigned to ojw28

[2018-01-23 15:18] sandersaares opened #3744 "Request for comments on leap second handling"
DASH-IF has published document for community review.

LEAP SECOND HANDLING CLARIFICATIONS

* The change request against IOP v4.1 for [Community Review is accessible here](http://dashif.org/wp-content/uploads/2018/01/CR-leapseconds-community-review.pdf)
* Community review is open until April 15th, 2018. Addition to IOP is expected by Q2/2018.
* Comments may be submitted through the [public bugtrack

[2018-01-23 15:19] Khang-NT commented on #3738
Hi, thanks for your response.
I tested again with ExoPlayer `demo`, the result still is the same. I don't have more device to test, but current result shows that it's quite risk to use FLAC extension, it may not working for all.
Is it possible to fallback to platform decoder, or implement something like `PlatformExtractor`?

[2018-01-23 15:43] lldartsll commented on #3742
@ojw28
thank you for the doc
as for your question. I don't know
and i have no control over the content or the subtitles
but the subtitles work normally using everything i have tried so far except exoplayer
(by everything i mean html5 video player, vlc media player and [this library](https://github.com/halilozercan/BetterVideoPlayer) )

[2018-01-23 16:21] erdemguven commented on #3738
It isn't possible use the platform library:
https://github.com/google/ExoPlayer/issues/2352#issuecomment-279369257

Is the Android 5.1 device able to play other audio files using exoplayer?
Please provide a bug report captured using 'adb bugreport' shortly after reproducing the issue.

[2018-01-23 16:50] Khang-NT commented on #3738
Output of `adb bugreport` [exoplayer_demo.log](https://github.com/google/ExoPlayer/files/1656809/exoplayer_demo.log)
After play FLAC file using ExoPlayer demo app on Android 5.1 (only hear noise sound).

[2018-01-23 18:30] AquilesCanta commented on #3699
Reproducible on google/bullhead/bullhead:8.1.0/OC-MR1/4304643:userdebug/dev-keys

[2018-01-23 19:35] ojw28 commented on #1606
Not currently, but we should have something to share this week.

[2018-01-23 19:51] ojw28 commented on #3724
This should be fixed for the P8 Lite in the `dev-v2` branch. Please verify if possible. I'm trying to get hold of a Huawei Y6II too.

[2018-01-23 19:52] ojw28 commented on #3689
This is fixed in the `dev-v2` branch. We now show the play button on ended, and pressing it will play from the default position of the current window (i.e. if you're just playing a single piece of on-demand content, it will start from the beginning).

[2018-01-23 19:52] #3689 closed, assigned to ojw28

[2018-01-23 19:53] ojw28 commented on #3622
Fixed in `dev-v2`.

[2018-01-23 19:53] #3622 closed, assigned to AquilesCanta

[2018-01-23 19:55] ojw28 commented on #3481
The change reference above should allow for playback of these streams without hitting an OOM. Samsung may also issue a fix for the poor interleaving, which will make it easier for these files to be streamed.

[2018-01-23 19:56] #3632 closed, assigned to AquilesCanta

[2018-01-23 19:57] ojw28 commented on #3653
This is fixed in `dev-v2`.

[2018-01-23 19:57] #3653 closed, assigned to AquilesCanta

[2018-01-23 19:57] #3703 closed, assigned to andrewlewis

[2018-01-23 19:57] #3008 closed, assigned to ojw28

[2018-01-23 19:59] ojw28 commented on #3008
PGS is now supported (thanks @drhill!). Assuming VOBSUB is different, I think we'd add support if and only if someone provides a contribution.

[2018-01-23 20:02] ojw28 commented on #2882
It will be 2.7.0 (I'm not sure whether we're doing any further 2.6.x releases, but if we are they wont include the relevant changes). We don't have an ETA yet.

[2018-01-23 20:59] green-nick commented on #2882
@ojw28 Ok, thanks!

[2018-01-23 22:35] wvpaf commented on #3517
Thanks got the update in email. will attempt to repro again.

[2018-01-24 02:33] noah538 commented on #3743
"Codec re-initialization shouldn't result in a black screen flash." Thanks for your useful information.
I will try another pad and box (different chip) and report if it is a device specified issue.

[2018-01-24 06:23] shailesh2208 opened #3745 "Support DAAST(Digital audio ads serving template)?"
is it support DAAST(Digital audio ads serving template) like VAST? If it support, then how can we implement it audio playing using DAAST? Can u provide any link?

[2018-01-24 09:42] ojw28 commented on #3597
@mekya - Does switching to 3.0.1 as in https://github.com/google/ExoPlayer/pull/3746 fix this issue, or is this one something else? Thanks!

[2018-01-24 09:51] andrewlewis commented on #3745
The ExoPlayer IMA extension is a wrapper around the Android IMA SDK, and it looks like they don't support DAAST. Please see https://github.com/googleads/googleads-ima-android/issues/22.

That said, we're interested in supporting a wide range of ad formats, so I'll mark this as an enhancement. It would be useful if you could provide a link to an example DAAST ad tag you'd like to play. Thanks!

[2018-01-24 10:07] ojw28 commented on #3558
@rtray - Are you on the buganizer issue about this topic [id: 70485423]? If not, please could you take a look? If you don't have access and don't know how to get it, let me know. Thanks!

[2018-01-24 13:44] needz opened #3747 "HLS stream NumberFormatException issue"
### Issue description
A particular HLS stream cannot be played in ExoPlayer, but can be played back using VLC on the same device.

Is there anything that can be tweaked manually in the current (or 2.5.*) versions of the ExoPlayer?

### Reproduction steps
Run the provided link in the ExoPlayer demo app.

### Link to test content
http://tv.skyline.uz/hls/101ch.m3u8

**m3u8 content:**

[code]

### Ve

[2018-01-24 15:26] OfekRegev opened #3748 "getRendererException"
just got this crash from my crashlytics

com.google.android.exoplayer2.util.Assertions.checkState (Assertions.java:79)
com.google.android.exoplayer2.ExoPlaybackException.getRendererException (ExoPlaybackException.java:120)
com.music.ofek.iplay.Services.ExoPlayerService.onPlayerError (ExoPlayerService.java:395)
com.google.android.exoplayer2.ExoPlayerImpl.handleEvent (ExoPlayerImpl.java:517)
com.goo

[2018-01-24 15:43] botaydotcom commented on #3748
Hi @OfekAshkenazi : Your stack trace only shows a general playback error in a renderer.

We can't provide any help with this limited information. Please try to reproduce this error in our Demo app, and provide required information based on our issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide compl

[2018-01-24 15:43] #3748 closed, assigned to nobody

[2018-01-24 15:49] botaydotcom commented on #3748
@OfekAshkenazi
After checking this again, your exception is because you are trying to call: `ExoPlaybackException.getRendererException()` from your `com.music.ofek.iplay.Services.ExoPlayerService.onPlayerError()` when the type of the playback exception is not `TYPE_RENDERER`.

To fix this: Please check if the exception type is `TYPE_RENDERER` before calling `getRendererException()`. You can refer

[2018-01-24 17:00] AquilesCanta commented on #3747
A fix for this will be pushed soon. You might already know this, but #1967 is also relevant here. You will need to pass FLAG_ALLOW_NON_IDR_KEYFRAMES to the TsExtractor for media to play correctly.

[2018-01-24 17:19] OfekRegev commented on #3748
Silly me, it was right under my nose xD. thanks anyway!

[2018-01-24 18:11] ojw28 commented on #1606
This should be fixed in `dev-v2`. Please give it a try.

Note that if the connection is broken, there will always be an audible discontinuity when the retry happens, even if the network is good again at that point. The way these streams work isn't designed to allow seamless re-joins. The best way to deliver audio to mobile devices is to use a more appropriate streaming technology such as DASH or H

[2018-01-24 18:25] ojw28 commented on #3726
I dug into this a bit more. It looks like it was decided this was a platform issue, rather than anything at the app level. As a result, the logged warning was removed from the platform in https://android-review.googlesource.com/c/platform/external/okhttp/+/460418. I think this will probably land in Android P.

I have no objection to explicitly getting and closing the streams to avoid the error, bu

[2018-01-24 18:44] needz commented on #3747
@AquilesCanta, the problem is that this FLAG is already set manually in ExoPlayer code to true, but it doesn't help. This flag is definitively working for other streams that required it.

[code]

[2018-01-24 19:16] abhishekredspace commented on #2981
Hello Exoplayer team,
Any updates on this issue?

Thanks

[2018-01-24 19:39] saschpe commented on #3735
All I can say is that the implementation works for me on API level 19. Different Shoutcast server implementations do different things, the servers I care about work. My point was that if someone needs a library for shoutcast metadata but doesn't get it to work with the server *he* uses, I'd be more than happy to take patches to port to OkHttp. At the moment I just lack a reason to do it myself.

M

[2018-01-24 19:39] AquilesCanta commented on #2981
Hi, this is still on radar, but we haven't allocated time for it yet, unfortunately. Hopefully we'll get to it soon. Many thanks for your patience!

[2018-01-24 20:06] ojw28 commented on #3630
Another attempt to fix this is https://github.com/google/ExoPlayer/commit/8716c0ee32a6c5399d8f2e6b3e4f14563bb14c7f, now in `dev-v2`. Please verify if you have a chance, thanks!

[2018-01-24 21:21] ojw28 commented on #3742
I tried playing the provided subtitle files in MxPlayer, and I see things like this. Is this really expected? It does match what's in the files, but I'm not convinced that the files aren't just broken. Have you encountered any other problematic srt files, or is it just this one example?

![screenshot_20180124-210026](https://user-images.githubusercontent.com/7881572/35357799-89fcee80-014c-11e8-875

[2018-01-24 21:34] ojw28 commented on #3590
This is too vague for us to do anything with. If you still need help, please reply here describing in far more detail what you're trying to do. Thanks.

[2018-01-24 21:34] #3590 closed, assigned to ojw28

[2018-01-24 22:46] yurilaguta opened #3749 "[Enhancement] make PlaybackControlView.hideAfterTimeout() public"
### Issue description
When adding extra buttons to PlaybackControlView there is no public API to prevent controls to hide. It would be great for clients of the library who adding some buttons, to be able to extend hide time.

### Reproduction steps
Add custom button to SimpleExoPlayerView through app:controller_layout_id
keep clicking button until UI disappears default 5 seconds.

### Version of E

[2018-01-24 22:51] ojw28 commented on #3749
@marcbaechinger - Probably worth making sure that your VisibilityManager change covers this case :).

[2018-01-24 22:55] yurilaguta commented on #3749
Actually after a bit deeper digging, SimpleExoPlayerView showController() covers this scenario.

[2018-01-24 22:55] #3749 closed, assigned to marcbaechinger

[2018-01-25 00:24] chariotsystems commented on #3726
Yes I hear what you are saying

For the normal user of the Exoplayer, unless they are using the cross
domain code at the bottom of the method, will not be using .disconnect()
after a non-200 response.
In my case we frequently in fact the whole movie, can be a series of 307
and 302s.  So in order to keep our logs clean - its a good idea that I
close them - but I have my own implementation of this c

[2018-01-25 03:41] priscila225 opened #3750 "Add support for concatenation of AdsMediaSources"
Is it possible to have a DynamicConcatenatingMediaSource with multiple AdsMediaSource on this?

Example of one case:

mediaSource1 and mediaSource2 requesting AdsMediaSource for each media source, concatenate the results and then play :

val concatenatedSource = ConcatenatingMediaSource(mediaSource1 , mediaSource2);
dynamicMediaSource.addMediaSource(concatenatedSource)
player?.prepare(dynamicMedia

[2018-01-25 06:49] mekya commented on #3597
Still I could not reproduce this bug on my test environment.  Even if I have tried today again.

Btw, new release 3.0.1 has fixes some error while network is not reachable(airplane mode, etc.) or server is down.

[2018-01-25 07:43] tangmingscau opened #3751 "Support ape audio format"
Why not support ape audio format? Ape format is a very important lossless format in the audio playing market. I know that supporting ape format is a necessary job.

[2018-01-25 08:36] andrewlewis commented on #3750
This is not possible at the moment, because `AdsMediaSource` asserts it is the top level source used to configure the player. You can't compose it with other media sources as `ImaAdsLoader`'s logic makes assumptions about the player timeline when it handles player events, and these assumptions may be incorrect if the player is actually playing a concatenation.

I'll mark this as an enhancement to

[2018-01-25 08:41] andrewlewis commented on #3751
It looks like ffmpeg has a decoder for this format, so it might be easy to add support via the ffmpeg extension. Please could you provide some sample media?

[2018-01-25 08:44] andrewlewis commented on #3751
One caveat: although adding support for decoding via ffmpeg might be easy, if the container format is not one we support already then it's probably going to be a lot of work.

[2018-01-25 08:51] tangmingscau commented on #3751
Through this link http://google.github.io/ExoPlayer/supported-formats.html, this ffmpeg extra extended format does not contain ape, I looked up some information, ffmpeg does not contain the ape format, the format is monkey audio, I need to go to the additional extension of the monkey audio, this seems to be a lot of work. Is my idea right?

[2018-01-25 09:11] andrewlewis commented on #3751
I think the two steps required to add support are: implementing an extractor for the format, as it looks like Monkey Audio does have its own container, then updating the ffmpeg extension to expose its `libavcodec/apedec.c` decoder, which should be easy. It's unlikely we will get round to this soon but please feel free to send a pull request.

[2018-01-25 09:12] bene25 commented on #2014
Hello. Any progress?

[2018-01-25 09:58] tangmingscau commented on #3751
Thanks for your patience, I will try to support the ape format, but my opinion is that ExoPlayer should support the ape format

[2018-01-25 10:28] pi-andrei opened #3752 "Add support for preview images AdaptionSet/Representation in DASH"
To implement seek thumbnails, usually custom solutions of loading images is used. But there is a standard of defining seek thumbnail images in dash manifest. Please see this document: http://dashif.org/wp-content/uploads/2017/09/DASH-IF-IOP-v4.1-clean.pdf in chapter "6.2.6. Tiles of thumbnail images". Can ExoPlayer dash manifest parser add support for such AdaptionSet/Representation and provide me

[2018-01-25 12:29] tonihuotari opened #3753 "MimeTypes.isText(mimeType) == false for "application/ttml+xml""
### Issue description
After parsing of text-tracks for simulcast DASH streams we get text-tracks with mimeType == 'application/ttml+xml' which is according to DASH standards. Check page 141 for timed text mimeType table:
http://dashif.org/wp-content/uploads/2017/09/DASH-IF-IOP-v4.1-clean.pdf

This might be more of a question than a bug: Can MimeTypes.isText() be used for checking validity of text

[2018-01-25 13:05] ojw28 commented on #3597
Let's optimistically assume moving to 3.0.1 fixes the issue.

[2018-01-25 13:05] #3597 closed, assigned to ojw28

[2018-01-25 13:07] ojw28 commented on #3753
I'm not sure I follow the question. The method is documented as "Whether the top-level type of mimeType is text.", which is not true for `application/ttml+xml`, whose top-level type is `application`.

What is it that you're actually trying to do? What does it mean to "check validity" of a text track?

[2018-01-25 13:15] tonihuotari commented on #3753
That basically answers the question; MimeType.isText alone is not enough to determine if a track can be used as a subtitle.

[2018-01-25 13:15] priscila225 commented on #3750
Thanks @andrewlewis ! And for now, you know a way to workaround this? maybe I can workaround this by creating the playlist manually without  the DynamicConcatenatingMediaSource and requesting ima for each video of the list on the moment before the player start one by one?

[2018-01-25 13:21] andrewlewis commented on #3750
Yes. You can just play each `AdsMediaSource` separately, one at a time (re-preparing the player a new source each time the preceding playback transitions to the ended state). This has the disadvantage that the player can't pre-buffer the next source, so the transitions won't be seamless, and of course will add some complexity to your app for managing switching from one source to the next.

[2018-01-25 13:22] priscila225 commented on #3750
Makes sense, this seamless transition is awesome! Hope to have this soon. Thanks to mark as enhancement

[2018-01-25 13:44] ojw28 commented on #3753
You probably want `MimeTypes.getTrackType(mimeType) == C.TRACK_TYPE_TEXT`.

[2018-01-25 13:44] #3753 closed, assigned to ojw28

[2018-01-25 13:59] oleksandr-yefremov commented on #3596
We face the same issue on Pixel 2XL (`OPM1.171019.013`). DRM livestream with Widevine plays audio but the screen is black. Same as with OP, livestream is in production, so unfortunately we are not able to share it. Some errors are shown in logcat, maybe they are of any relevance:
[code]

[2018-01-25 15:18] jorgevila opened #3754 "SSMediaSource on load canceled calling load completed?"
Hi,

on SSMediaSource, I found that on method onLoadCanceled, the event being dispatched is onLoadCompleted.

Is that right?

https://github.com/google/ExoPlayer/blob/2b20780482a9c6b07416bcbf4de829532859d10a/library/smoothstreaming/src/main/java/com/google/android/exoplayer2/source/smoothstreaming/SsMediaSource.java#L432

  @Override
  public void onLoadCanceled(ParsingLoadable<SsManifest> loadabl

[2018-01-25 15:40] botaydotcom commented on #3754
Thanks for spotting this. I think this is a slight mistake, which has been there for quite some time and no one noticed this. We will update the code to dispatch cancelled event here.

[2018-01-25 15:47] xoceunder commented on #3590
I want to be able to make my url get a token to protect and can change automatically when the token time expires

Example:
http://dashboard.jwplatform.com/videos/nPripu9l.mp4?6

and when it expires change this automatic

exp=1271760610&key=b59b91370f4faf4815b6736db10e5041

from the video url

[2018-01-25 16:00] jorgevila commented on #3754
Cool!

thank you!

[2018-01-25 16:26] botaydotcom commented on #3754
The fix has been submitted and will be pushed to dev-v2 soon.

[2018-01-25 16:26] #3754 closed, assigned to botaydotcom

[2018-01-25 20:17] kathylin opened #3755 "[Question] Equivalent to Allocator.blockWhileTotalBytesAllocatedExceeds(int limit) in ExoPlayer 2?"
Is there an equivalent call or blocks of calls to replace Allocator.blockWhileTotalBytesAllocatedExceeds(int limit) in ExoPlayer 2?  Migrating from ExoPlayer 1.5 to Exoplayer2 but can't find a proper way to implement blockWhileTotalBytesAllocatedExceeds(int  #limit).

[2018-01-26 07:59] rupiapps commented on #3359
hi, I have exactly the same problem when trying to play back files from Canon or Nikon cameras. Could this be solved by setting playbackrate to 0.25?

[2018-01-26 08:13] ghost opened #3756 "[Question] Did "DRM vender –2967" error ever happen in ExoPlayer?"
This isn't an issue for Exoplayer. Just a question.

I implemented an Android player by using mediacodec directly. Sometimes it throws "DRM vender –2967" when using widevine drm on Pixel and some Samsung devices. This is a serious error. The playback can not recover until the system is rebooted. It may trigger a system level error.

I just want to know if "DRM vender –2967" error ever happened in

[2018-01-26 08:15] andrewlewis commented on #3359
@Rupilein Please could you provide a link to one of the files so we can verify the cause is the same? Thanks.

[2018-01-26 10:31] botaydotcom commented on #3755
Hi @kathylin
I don't think there's an equivalent call in ExoPlayerV2 for this purpose. Could you describe your use case: when do you need to call this?
If the use case is similar to our original `ExtractorSampleSource.ExtractingLoadable`, you can consider using an alternative, which we implemented for the V2 equivalent of `ExtractingLoadable` (please see:
`ExtractorMediaPeriod.ExtractingLoadable`)

[2018-01-26 10:56] botaydotcom commented on #3756
Hi @ycinfinity ,
I did a quick search on both Github issue list and internal issue list. There's one more report on DRM error -2967 happening with Widevine DRM on Pixel on our internal issue list ([Internal ref: 62486203]), although there is no mention of ExoPlayer on that bug.

@wvpaf : Did you encounter any other report for this error?

[2018-01-26 13:01] jmgirven opened #3757 "Create MediaSource from FileDescriptor"
I have an Android box which allows a HDMI input. I have been given some code that grabs the data stream from the HDMI input and writes an MPEG TS stream to a `FileDescriptor`. I wondered if I could pass this `FileDescriptor` into ExoPlayer as a `MediaSource` for playback? I couldn't see a way to do that in the current API. Old questions reference a `FrameworkSampleSource` that seems long since rem

[2018-01-26 15:28] ouchadam opened #3758 "Amazon Kindle low volume"
## Issue Description

We're having reports from users that their Kindle devices have experienced a volume decrease after upgrading from exoplayer `r2.4.4`.

## Reproduction

We're able to reproduce consistently by playing any content in the current (r2.6.1) demo app and comparing the volume level against the MediaPlayer or the `r2.4.4` release.

The following Amazon Kindle devices are affected:

[

[2018-01-26 15:47] andrewlewis commented on #3758
You can just set your app's audio content type via `SimpleExoPlayer.setAudioAttributes`. If you're not using `SimpleExoPlayer` please consult that method's implementation to see how to set the audio attributes. Given we don't know the content type, `CONTENT_TYPE_UNKNOWN` seems like the right default.

[2018-01-26 16:13] brinkkemper opened #3759 "Can't create a custom skipp-ad button"
### Issue description / feature request description
The data of a loaded add is not exposed outside of the extention. There is no `AdLoaded(Ad)` event for instance. Or a `public Ad getLoadedAd() ` to retrieve the Ad data when playback has started. Because of this, a react-native-app can't display a button to skipp an ad.

### Version of ExoPlayer being used
Im using 2.5.4, but the same issue goes

[2018-01-26 16:15] ouchadam commented on #3758
thanks for pointing out that api, solves the problem!

[2018-01-26 16:15] #3758 closed, assigned to andrewlewis

[2018-01-26 16:20] rupiapps commented on #3359
hi, I put a sample in google drive: https://drive.google.com/file/d/1VU9ADy2bfWbYNn3XBER6PL8CrS3qLuCj/view?usp=sharing
settings the playbackrate did not help.
It would be cool if this could be fixed :)

[2018-01-26 17:04] orinda commented on #3727
Is HLS Sample-AES CMAF CBCS for Widevine fully supported by ExoPlayer?

[2018-01-26 18:40] akshaygore06 opened #3760 "v2.4.0 Unable to play the video after pausing."
I am using exoplayer in my ReactNative App. I have upgraded the exo player version from 2.0.4 to 2.4.0 but facing an issue with the play button.

I am **unable to see the play button after pausing** the video.

The same video source works fine in 2.0.4 version

Video Plays normally

![screen shot 2018-01-26 at 10 33 14 am](https://user-images.githubusercontent.com/9061850/35454842-878c9b44-0284-11

[2018-01-26 20:14] kathylin commented on #3755
@botaydotcom, thanks for your reply.  Yes, we use `Allocator.blockWhileTotalBytesAllocatedExceeds(int limit)` similar to the original
`ExtractorSampleSource.ExtractingLoadable`.  We will try your suggestion and see if we can get the migration working.  Thanks!

[2018-01-26 20:55] lldartsll commented on #3742
@ojw28
sorry for the late reply .
yes this is to be expected.
and i have yet to try it with enough samples to say for certain if this is the only problematic one.
i will check with other examples tomorrow and tell you my findings

[2018-01-27 08:16] NitroXenon commented on #3026
The exception is thrown when I try to play a link today.
Sample video:
https://docs.google.com/file/d/0B859uoPMN-bfWTZqRE5rdWpaMkU/preview

[2018-01-27 11:22] ZohaibGhafoor opened #3761 "How to get event when ad playing end ?"
How to get event when ad playing end and content start.

[2018-01-27 19:24] lldartsll commented on #3742
@ojw28
ok so apparently the bug happens when the subtitles are not ordered by time(sorry if i am not making sense )
for the sake of clarity i have included my test srt files
[SRTTest.zip](https://github.com/google/ExoPlayer/files/1670441/SRTTest.zip)

test.srt displays all three subtitles
while test1.srt shows only "subA"

[2018-01-28 08:57] eneim opened #3762 "Error when using multiple SimpleExoPlayer instances share the same Cache instances (SimpleCache)"
### Issue description
The following Exception is thrown with I tried to use SimpleCache with multiple SimpleExoPlayer:

[code]

The term "multiple" is my assumption, as in this demo, I used a pool with a factory method that uses a fixed Cache (as factory option) to create SimpleExoPlayer instances on demand and cache for reuse. This is not always reproducible but the rate of failure is high.

When

[2018-01-28 14:31] meladc opened #3763 "Key rotation questions"
Hi,

We are trying to play live DASH streams with key rotation, with signaling both in the manifest and media segments, using standard keyIDs (i.e withotu key hirerachy schemes). We have the following questions:

1. Upon tune, the application reactively triggers a license request and gets a license with the current key and multiple future keys. The idea is that the application will not need to sen

[2018-01-29 03:25] ghost commented on #3756
Hi, We can encounter this issue 2000 times a day from the android player of my company.  Then the user need to reboot the system. That's terrible.  Do you have any investigation on this error?

[2018-01-29 07:46] raunakyadav commented on #3532
Hi,
Is there a way to stop the autoplay of ads. Using setPlayWhenReady(false) stops the autoplay at start but if we wait around 2-3 secs and then click play, it skips the ad and jumps to playing content video. How can I enforce that the content is played only after ad completes? Same is observed on the demo app.

[2018-01-29 09:04] ojw28 commented on #3760
Unless this is reproducible with our demo app, then I can't really think how this could happen short of application code interfering with our UI component. Please see if you can reproduce in the demo app.

[2018-01-29 09:09] ojw28 commented on #3759
The underlying IMA library that our extension wraps already displays a skip button during playback, as demonstrated in our demo app. I believe it's intended that this UI is standard, rather than being customized on a per app basis. Are you deliberately not attaching the existing UI, or is it not being displayed?

[2018-01-29 09:10] ojw28 commented on #3762
Are you creating more than one `SimpleCache` instance, or are you creating a single global `SimpleCache` that's accessed by multiple `CacheDataSource` instances?

[2018-01-29 09:12] ojw28 commented on #3762
To clarify, I'm unclear what "same Cache instances" means. Is there more than one Cache being shared? If so, how does this work exactly?

[2018-01-29 09:12] eneim commented on #3762
@ojw28 One global SimpleCache instance, and one ***CacheDataSourceFactory*** passed to create SimpleExoPlayer instance. So I suppose it is this:

[2018-01-29 09:15] eneim commented on #3762
@ojw28 Answer your question above, let me create a snippet and send you/update here later today.

[2018-01-29 09:15] ojw28 commented on #3762
That should work. I think you'll need to provide us with a concrete way to reproduce the issue (preferably a small patch to the demo app that is able to reproduce the problem). Thanks.

[2018-01-29 09:27] ojw28 commented on #3742
It's correct that the issue occurs when subtitles are not ordered in time. It's always been assumed in our code that SubRip subtitles should be ordered. There's no sane reason to produce an out of order SubRip file, as far as I can tell? One problem with SubRip is that (again, as far as I can tell) there is no definition actually written down anywhere. Although Wikipedia does indicate the subtitle

[2018-01-29 09:32] andrewlewis opened #3764 "IMA resumes content if the player is paused when the first ad loads"
Steps to reproduce:
1. Add a call `setPlayWhenReady(false)` in the demo app before preparing the player.
2. Play 'VMAP pre-roll single ad, mid-roll standard pods with 5 ads every 10 seconds'.

Observed: content resumes after a few seconds. Expected: the ad should remain visible in the paused state.

[2018-01-29 09:33] andrewlewis commented on #3764
I think this used to work, so it may be a regression in `ImaAdsLoader` or in the IMA SDK.

[2018-01-29 09:33] andrewlewis commented on #3532
@raunakyadav Thanks for reporting. I've filed #3764 to track this.

[2018-01-29 09:33] lldartsll commented on #3742
@ojw28
actually its not one file but the majority...
when translators write the subtitle file for lets say a series. they always put "translated by somename" at the end of the file but plays it minute 1 or 2 (they copy paste it with the time stamp).

[2018-01-29 09:46] ojw28 commented on #3742
We've supported SubRip without this issue being raised for well over 2 years, so it seems unlikely that the majority of SubRip files are affected. Perhaps it's just the majority of files from whatever your source is.

The original problematic file does not appear to be problematic because someone's added a "translated by somename" line at the end. The subtitles go in sequence up to around 23 minut

[2018-01-29 09:58] lldartsll commented on #3742
@ojw28
yes sorry for the confusion i meant the majority of my SubRip files will be affected.
the original file was my first test. and yes it is just as you described it. but i also have files with "translated by" at the end that will also be affected.
Maybe if you can point me in the right direction i can create a module of exoplayer and tinker with it myself that would be greatly appreciated

[2018-01-29 11:04] bakua commented on #3535
Sorry for the delay, I was onto something else.

In our app, we have a single SurfaceView instance for whole activity life. We create and keep `SimpleExoPlayer` instance in `onStart()` and release it in `onStop()`. In next `onStart()` we create new `SimpleExoPlayer` and connect it to already existing surface.

We have wrapped surface into custom layout as seen below (pls ignore unnecessary layout

[2018-01-29 12:43] ojw28 commented on #3641
Closing due to lack of information.

[2018-01-29 12:43] #3641 closed, assigned to erdemguven

[2018-01-29 12:44] rburade21 opened #3765 "Sideload Multiple Subtitles and Switch between subtitle on video play"
I  managed to add single subtitle using MergingMediaSource(),
i am not getting how to add multiple subtitle file and to switch between them on playback
i tried demo app code but it is too complex for me.
Classes like TextRenderer,TextTrackRederee,SingleSampleMediaSource and methods like
DefaultUriDataSource(context, bandwidthMeter, userAgent);
![untitled](https://user-images.githubusercontent.com/

[2018-01-29 12:47] ojw28 commented on #3590
There is still not enough information here for us to help. Please bear in mind we don't know the details of the expiration mechanism that you're using. Specifically things like:
1. How the server indicates to the client that the link has expired. Presumably a 403?
1. How can the client generate a new (valid) link. Presumably your code needs to do this, since if it's possible for us to re-generate

[2018-01-29 13:51] xoceunder commented on #3590
is that I want that at the expiration of the fecHA CHANGE CODE NEW SO I KEEP WITHOUT LOSING THE VIDEO OR THAT IT IS GOING TO PENGATE AGAIN

[2018-01-29 14:12] ba-a commented on #3724
@ojw28 We integrated today the `dev-v2` Branch in our app and by now it works pretty well. No ANRs so far. :crossed_fingers: Big thanks for the quick fix! I'm looking for the release.

[2018-01-29 16:38] vikas3121 opened #3766 "Unable to play AES-256 encrypted MP4 audio files"
Hi All,
I am unable to play AES 256 encrypted mp4 files, with AES 128 it works fine, however it is giving "UnRecognizedInputFormatException". Please suggest, I am using "PBKDF2WithHmacSHA1" and CBC/PKCS5Padding.

[2018-01-29 16:46] ojw28 commented on #3766
How are you playing AES 128 streams? I don't think we (intentionally) provide direct support for that. Are you using a custom `DataSource` component from somewhere outside of the core library? If not, could you provide an example AES 128 stream that plays successfully?

[2018-01-29 16:51] ojw28 commented on #3765
If you got a single subtitle using `MergingMediaSource` working then you must be doing something like:
[code]
Getting multiple subtitles working from that point is just a matter of adding more sources:
[code]

Regarding the demo app, just cloning this whole repository and then opening the project in Android Studio should get you into a state where you can compile and run the demo app.

[2018-01-29 17:18] gersard opened #3767 ""Unable to connect to rawresource," i can't load subtitles"
### Issue description
I can´t load subtitles from raw folder (.srt and .vtt). i tried 2 options to load the subtitles files

### Reproduction steps
I have a simple video player that load a video without problems. But when i try to load a subtitles from raw resource i got the catch excepcion described below.

The code:

#### Option 1
[code]
#### Option 2

[code]
### Version of ExoPlayer being used

[2018-01-29 17:22] rburade21 commented on #3765
I already reached till
source = new MergingMediaSource(videoSource, subtitleSource1, subtitleSource2);

Now i have one video source and two subtitles sources...now the how to switch between these subtitles on playback
Thanks in Advance

[2018-01-29 17:28] ojw28 commented on #3767
* The problem with Option 1 is that `DefaultDataSource` doesn't know how to handle raw resource uris. The good news is that this is supported in our `dev-v2` branch, where this approach should just work. The change that added support was https://github.com/google/ExoPlayer/pull/3719. This will be included in our next release (probably next week).
* The problem with Option 2 is that your `DataSourc

[2018-01-29 17:28] #3767 closed, assigned to ojw28

[2018-01-29 17:33] andrewlewis commented on #3761
You can store the value returned by `player.isPlayingAd()` each time [`onPositionDiscontinuity`](https://github.com/google/ExoPlayer/blob/dev-v2-r2.6.1/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L113) is called on your player event listener. If the value changes from true to false, that's a transition from ad to content.

(This will be a bit easier soon, as there will be

[2018-01-29 17:42] AfzalivE commented on #677
Simpler workaround for anyone who had this problem when switching activities:

If you hide the player in onPause(), the black box will not show up. Sorry for Kotlin example

[code]

and then set the visible to View.VISIBLE right before you want to show it (and NOT in onResume()). I have a view in front of it to allow fading the player view in/out as well but I don't think that affects this logic.

[2018-01-29 20:12] codeindream commented on #3737
Ok, so I found some answers on my questions:

When Exo get live stream, initial playback duration calculated as `suggestedPresentationDelay + timeShiftBufferDepth` with start position at `playback end - suggestedPresentationDelay`.
So, when we load manifest from question, playback duration = 5m with start at the end -> nothing to play.

Exo has internal manifest reload, as I understand, to reload

[2018-01-29 22:44] wvpaf commented on #3756
@botaydotcom, the only other report the one you found, that report went cold after a few months and was closed due to inactivity and the fact we were unable to repro in house.

@ycinfinity, it would be most helpful to have an ADB report from an affected device so we can better troubleshoot.

[2018-01-29 23:17] asheeshs commented on #466
@y20k I had the similar task to extract Shoutcast metadata in my project, below is how I achieved it.

Created `IcyDataSource` and then used it to create `MediaSource`

[code]

Below is how I Implemented IcyDataSource
[code]

[2018-01-30 06:48] ycinfinity commented on #3756
This is the log which is related to the issue.
[android.log](https://github.com/google/ExoPlayer/files/1676580/android.log)

[2018-01-30 06:54] devramjava opened #3768 "ExoPlayer releaseSource and creating new player instance for playing random mp4 URL's on random Click"
I have many list of URLs in a list view , trying to play video by clicking random URL's , i'm able to open the any(random position) URL  by selecting any random item in the list and i'm able to play next and previous videos but i'm not able to play the randomly selected second URL (and playing only the fist Selected Video) .
****** please help me with example code Thank You.**
**please check my be

[2018-01-30 08:41] otanmukhanov commented on #3449
I have same problem.
Device Lenovo A536.
My app has 3000 short mp3 files. And 20 percent of they has same problem - mp3 files are cut. And many users of my app are saying about it problem.
It is actual problem of exoplayer for many type of devices. Why are you closing such issues?

[2018-01-30 08:43] vikas3121 commented on #3766
I am using custom implementation of the Datasource, to play encrypted files on the fly using exo player. However I got stuck with AES 256, all the time exo player is not able to recognize the input. It took me some time to ply encrypted files by building custom datasource to play AES 128. Please suggest if AES 128 is safe enough to go with??

[2018-01-30 09:08] #3761 closed, assigned to andrewlewis

[2018-01-30 11:09] Denis55ka opened #3769 "FLAC Extension doesn't play high sample rate files (for example 192khz)"
### Issue description
FLAC Extension doesn't play audio with high sample rate (for example 192khz). It throws with exception E/FLACParser: unsupported sample rate 192000

### Version of ExoPlayer being used
2.6.1

### Device(s) and version(s) of Android being used
Xiaomi Mi5

### A full bug report captured from the device

E/FLACParser: unsupported sample rate 192000
E/FLACParser: unsupported samp

[2018-01-30 11:13] Viveek commented on #3586
Does anyone can help me for Fire TV  'Skip ad' button focus issue?

[2018-01-30 11:19] erdemguven commented on #3769
Thanks for reporting this. I'll look into this but not likely to be soon.

[2018-01-30 12:28] ojw28 commented on #3766
If ExoPlayer isn't recognizing the input then your custom `DataSource` isn't decrypting AES 256 media correctly. This isn't library code of an officially supported use case, so unfortunately you'll need to debug the problem yourself (e.g. try writing some comprehensive unit tests for your `DataSource` to validate it's really doing decryption correctly, even when requests are made to non-zero start

[2018-01-30 12:28] #3766 closed, assigned to nobody

[2018-01-30 12:45] y20k commented on #466
Thank you for posting your solution. That is way more elegant. No need to edit/customize Exoplayer's`DefaultHttpDataSource.java` anymore.

[2018-01-30 13:16] ojw28 commented on #3756
Can you provide a full bug report captured with `adb bugreport`, rather than a snippet of logcat? Thanks.

[2018-01-30 15:13] lkcanal opened #3770 "Widevine L3 licence duration limitation"
Hi there,

There may be a limitation when dealing with Widevine licences using level 3 security mode.
Licences with a duration that are greater than 68 years throw a decryption error in the CDM trace log.
`E/WVCdm: Decrypt error result in session sid74 during encrypted block: 5`

Using the same kind of Widevine licence using level 1 security mode works just fine.

After thinking a bit, it seems a

[2018-01-30 16:19] asheeshs commented on #466
Glad it helped @y20k

[2018-01-30 18:01] Zeus64 opened #3772 "Exoplayer does not switch HLS tracks when bandwidth change"
I have this simple .m3u8 file

[code]

With simpleExoplayer (last version 2.6.1) i load this stream like this :

[code]

but even on high WIFI internet it's will always select the 2nd track with have a resolution of 320x180 and never switch to the higher track with have a resolution of 640x360.

If i replace DEFAULT_MAX_INITIAL_BITRATE by maxInt then it's will select correctly the 1rt track (640x3

[2018-01-30 20:18] marcbaechinger commented on #3772
You should only use a single DefaultBandwidthMeter instance and pass it to the AdaptiveTrackSelection.Factory as a BandwidthMeter and to the DefaultDataSourceFactory as a TransferListener.

More detailed answer in your StackOverflowQuestion:  https://stackoverflow.com/questions/48527829/why-exoplayer-does-not-switch-hls-tracks-when-bandwidth-change/48529359

[2018-01-30 20:18] #3772 closed, assigned to marcbaechinger

[2018-01-30 21:00] y20k commented on #466
If that is helpful to anyone... Here is the [IcyDataSourceFactory](https://github.com/y20k/transistor/blob/9a2255853b5bbc79cda9679b4667b5996fd53d32/app/src/main/java/org/y20k/transistor/helpers/IcyDataSourceFactory.java) that I use with the IcyDataSource provided by @asheeshs. It is a slight modification of [DefaultDataSourceFactory](https://github.com/google/ExoPlayer/blob/release-v2/library/core

[2018-01-30 21:42] Zeus64 commented on #3772
Thanks marc, no it's not this i still have the problem :(

[2018-01-30 21:51] fredgc commented on #3770
This has been fixed in Android O.   To avoid future problems, we will make changes to the server to restrict duration to 50 years.

We will also update the documentation to make it clear that a key duration of 0 means unlimited.  In practice, a duration of more than a few weeks is probably an error.   Key duration is intended to restrict playback times, so a very large value is probably not what t

[2018-01-30 21:51] #3770 closed, assigned to fredgc

[2018-01-30 22:27] skyler-b opened #3773 "DynamicConcatenatingMediaSource with no auto play"
### Issue description
I am wondering if there's a way to have a DynamicConcatenatingMediaSource which does not automatically start the next track.

I've followed the conversation on #2810. In which the suggestion was to simply not use a ConcatenatingMediaSource. However, in my use case, the user can toggle whether they want to "auto play", and I always want to be able to show the "next track" butt

[2018-01-30 22:28] skyler-b commented on #3773
@ojw28 you've fielded this question before, I was hoping you might have some advice, thanks in advance!

[2018-01-30 22:51] marcbaechinger commented on #3772
Ok. I'm sure that's not a bug in ExoPlayer though. May I ask you to verify your setup as follows and/or consult the main demo app as an example?

Firstly, make sure there is only one instance of `DefaultBandwidthMeter`.

Secondly, you must make sure to pass this very instance to the `AdaptiveTrackSelection.Factory`, so it can take decisions based on this metered bandwidth.

And lastly you need to

[2018-01-30 23:08] wvpaf commented on #3596
Might be a surface connection issue, reassigning to @ojw28

[2018-01-31 04:13] eneim commented on #3762
@ojw28 This issue is quite difficult to reproduce at high rate. Right now what I have in hand is: all the cach files (.v3.exo files, and the index file), the Url that have this issue and the code I used to test (simplified version, but works/fails all the time). Do you think these pieces of info can help you to investigate?

[2018-01-31 04:22] chaichuanfa commented on #3535
I met the same issue. Is there any solution?

[2018-01-31 04:58] eneim commented on #3762
@ojw28 Here is the repo where you can try and see the issues, works all the time (I have included the start guide in README, make sure you follow it): https://github.com/eneim/DrExo . Hope this helps ^^!

[2018-01-31 05:46] EvanHong1 opened #3774 "Play IMA Ads without playing Content video"
I'm trying to integrate ima extension module for playing ads using VAST tag.
I've looked into integration guide in blog(https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea), and it says
```AdsMediaSource constructs a new source that inserts ads linearly with the content specified by contentMediaSource```
I want to only play ad video without content video combined, bu

[2018-01-31 06:37] shelarsuhas commented on #91
I have an application where I am using MediaRecorder to record a video and play it back using ExoPlayer. The video is recorded only in Portrait mode. I am setting the camera setRotation and MediaRecorder setOrientationHint appropriately, yet in some phones the video gets played in landscape mode.

I have checked the meta data of both the files where there is a rotation issue and where there is not

[2018-01-31 07:00] Zeus64 commented on #3772
Marc, thanks it's was on my side ! it's because I don't use android studio, but i work on Delphi, and on delphi the conversion of class like `public final class DefaultBandwidthMeter implements BandwidthMeter, TransferListener<Object>` skip the implementation of the TransferListener part :( And the worse was that i have no error so didn't see it imediatly !

If someone come here and have similar p

[2018-01-31 08:49] workspace opened #3775 "Exynos 7870 or SM-T580 has a problem with Widevine DRM Playback"
Hi! I think my issue is device or core specific problem and related with #3561.

### Issue description
When try to play DRM Contents of ExoPlayer 2.6.1 demo app in Exynos 7870 devices such as SM-T580(Samsung Galaxy Tab A Tablet), black flicker has occured.

### Reproduction steps
use devices whose cpu is Exynos 7870
Device : SM-T580

Playing 2 sources to compare.
Without DRM (Youtube DASH – Google

[2018-01-31 09:30] ojw28 commented on #3768
Please could you clarify what the actual problem is that you're facing with the ExoPlayer library? Currently this reads like a request for help developing app code, which is unfortunately outside the scope of this issue tracker.

[2018-01-31 09:31] tonihei commented on #3773
You could listen to `Player.EventListener.onPositionDiscontinuity` and check if the reason for the discontinuity is `DISCONTINUITY_REASON_PERIOD_TRANSITION`. This indicates that the source has transitioned to a new period (I assume your individual tracks contain one period only). In this case, call `player.setPlayWhenReady(false)` to pause playback.

Be aware that this solution means that the play

[2018-01-31 09:53] ojw28 commented on #3774
Interesting question. It's not a use case the IMA extension is designed to support. @andrewlewis - How difficult would it be to support this case?

[2018-01-31 10:00] juechemparathy commented on #3622
@AquilesCanta - Looks good! Thanks.

[2018-01-31 10:56] frontyard opened #3776 "HLS: Seeking to time code?"
Is there a way to seek to time code in a hls stream? In other words instead of offset from 0 to pass in actual time in millis of the recording? Does exoplayer have access / keep track of the actual time in the stream?

This would be very useful for more accurate live stream time shifting.

Here is a snippet of my HLS m3u8 file. Each fragment's file name is absolute time in millis.

#EXTM3U
#EXT-X-

[2018-01-31 11:17] funnay commented on #3517
Hi.

Do you have any updates on this issue? Were you able to confirm it?

I'm asking because we also have an issue regarding playing back of DRMed content on some L1 devices. On other devices it plays OK. Our problem also happens with DASH and the video stream has the codec avc1.4d401f.

No problem when not using DRM.

[2018-01-31 11:28] AquilesCanta commented on #3776
I am not sure I understand the question, but the timeline keeps track of the window position (look at Window.positionInFirstPeriodUs, which you can obtain from onTimelineChanged). This value will be zero the first time the playlist is downloaded, and each past segment's duration will be added to it. So, to seek to an "absolute time in the stream", you'd have to seek to the position (absolute_times

[2018-01-31 11:28] #3776 closed, assigned to AquilesCanta

[2018-01-31 11:28] dishantkawatra commented on #867
Hi, when i switch the exoplayer from recycler view to a dialog with the help of getplayer() and setplayer() method then  frames are hang for some sec and sometimes audio is audible but frames are not see please tell me  how to resolve this issue with toro

https://github.com/eneim/toro/issues/286

[2018-01-31 12:03] frontyard commented on #3776
How does exoplayer use EXT-X-PROGRAM-DATE-TIME, is it reported somehow?

The goal is quite simple:

While zero-based position makes sense for VOD or static video files, where we can tell that playback is at 1h 14min from the beginning, for live streams (like TV, webcams etc)  it's much more useful to deal with time in absolute terms, in other words to report the actual time being played, like 2017

[2018-01-31 12:03] frontyard commented on #3776
Related question:

https://github.com/google/ExoPlayer/issues/2930

[2018-01-31 12:09] AquilesCanta commented on #3776
Yes, it is exposed as `Window#positionInFirstPeriodUs` through `onTimelineChanged`.

That is exactly the purpose of EXT-X-PROGRAM-DATE-TIME.

[2018-01-31 12:29] ojw28 commented on #3762
The cached file differs from the source media in some places (see the diff below), which is why playback is failing. Unfortunately this doesn't really help to explain how you're getting into that state. I'm unable to do so, despite repeated attempts.

Starting from an empty cache, do you have any idea how I might manage to reproduce actually writing the corrupt data into the cache? And are you sur

[2018-01-31 12:34] ojw28 commented on #3596
Internal ref b/70981593

[2018-01-31 13:19] belanagyb commented on #3517
Hi guys,

we use avc1.4d401f for 960x540, 1280x720 and avc1.4d4028 for 1920x1080.

On Wed, Jan 31, 2018 at 1:17 PM, funnay <notifications@github.com> wrote:

[2018-01-31 13:46] devramjava commented on #3768
i have listview and video player(exoplayer) when i select a list item i want play the mp4 URL for that particular  position (if we select the 1st one i will play the 1st mp4 URL in the array list , if i select any other position i want to play the perticular mp4 of the position )
my main problem is:
1. im not able to releaseSource (on selecting any position in the listview , im able to play only o

[2018-01-31 14:17] ojw28 commented on #3699
I've reported this internally [Ref: b/72734268], and will post an update when I have it. It may be possible to mitigate the issue by setting the visibility of the player view to INVISIBLE or GONE at some point before the activity transition, although obviously this should not be necessary,

[2018-01-31 15:17] hussanhijazi commented on #3741
Same problem here with ExoPlayer: 2.6.1 in Motorola XT1563/Android 6 and emulator: Android 7

[2018-01-31 15:54] ojw28 commented on #3741
What's the use case for the shutter being transparent? If you don't want a shutter wouldn't it be better to remove the view, which would presumably avoid this problem?

[2018-01-31 16:39] skyler-b commented on #3773
Thanks @tonihei, ya I do know that trick, but unfortunately I need it to stop on the current one. For now I will just be using a single media source, and supplying my own "next" button, and my own auto-play, instead of using the built in ones.

[2018-01-31 17:08] spaul13 opened #3777 "few OMX layer error and OpenGLES called with no current context on Nexus 6P"
I am getting the errors while using video streaming on Nexus 6P not on google PIXEL XL. Can anyone please tell me what are the device-specific issues I am getting?

Error:
_01-30 09:27:37.537 27830-27847/? I/OpenGLRenderer: Initialized EGL, version 1.4
01-30 09:27:37.537 27830-27847/? D/OpenGLRenderer: Swap behavior 1
01-30 09:27:37.591 3768-3823/? I/ActivityManager: Displayed com.sunlh.avatardemo

[2018-01-31 17:29] hussanhijazi commented on #3741
Hi, thanks for your answer. I have a player inside a circular progressbar, and this **background** player need to be transparent.

My SimpleExoPlayerView
`<com.google.android.exoplayer2.ui.SimpleExoPlayerView
        android:id="@+id/playerView"
        android:layout_width="108dp"
        android:layout_height="108dp"
        android:layout_marginBottom="26dp"
        app:controller_layout_id="@l

[2018-01-31 19:04] rachitmishra opened #3778 "Scrubber is not visible for url's without duration."
Hello, I am using following sample url for streaming audio
`https://usa6.fastcast4u.com/proxy/wsjf?mp=/1`
The problem is that the seekbar scrubber is not visible, neither the buffered or played color is shown.

By looking at the code i understand the scrubber is not painted in case the duration <=0, I am curious how should i implement seeking in that case.

Kindly guide me to the right direction.

[2018-01-31 19:06] ojw28 commented on #3778
Given it's not possible to seek in such a stream, what would you expect the behavior to be?

[2018-01-31 19:09] ojw28 commented on #3777
Please could you fill in the issue template? It's unclear whether this is related to ExoPlayer, or what the failure is. Please also provide a full bug report as requested in the issue template.

[2018-01-31 19:10] rachitmishra commented on #3778
Well, if I open the same url on FF or Safari, the url seems to seekable. I understand that might be by scanning or prefetching the content and setting the seek position accordingly.

I expect the progress to be shown on the seekbar with respect to current played duration and same for the seekbar scrubber.

[2018-01-31 19:14] ojw28 commented on #3778
I do not see a (working) scrubber in Safari (or Chrome, or VLC):

<img width="750" alt="screen shot 2018-01-31 at 7 13 38 pm" src="https://user-images.githubusercontent.com/7881572/35642416-f5e57f72-06ba-11e8-9720-5930f5aa8144.png">

[2018-01-31 19:22] rachitmishra commented on #3778
Yup! apologies! I was working on Firefox. I think it is due to pre-fetching the file. The scrubber is visible and seekable on it. Anyways, Is it possible to show the played duration on a `TimeBar` in case the duration ain't there?

I explored forcing steam using `FLAG_ENABLE_CONSTANT_BITRATE_SEEKING` But alas! I guess it won't be possible with such urls.

[2018-01-31 19:32] ojw28 commented on #3778
Played duration is already visible on the left side of the scrubber. We don't have any plans to support the kind of seeking Firefox enables for this stream type. If you control the server side and wish to support seeking, you should use a streaming standard that properly supports it (e.g. DASH, HLS, SmoothStreaming).

[2018-01-31 19:33] rachitmishra commented on #3778
Yes, agreed. that would be the right solution for this. I was just exploring if there was some workaround. Thanks a lot for the quick help. Good day!

[2018-01-31 19:33] #3778 closed, assigned to nobody

[2018-01-31 19:36] hussanhijazi commented on #3741
Hi, i put this example in https://github.com/hussanhijazi/exoplayerExample .If setting `app:shutter_background_color="@android:color/transparent"` then the **background** are black.

thanks

[2018-01-31 19:42] ojw28 commented on #3741
To clarify: The shutter is something that's put on top of the video surface. The video surface will be either black if no frame has been rendered, or contain the last frame of video. So setting the shutter to be transparent is not expected to ever make the player transparent. All it will do is let you see the video surface underneath, which will either be black or contain the last frame of video.

[2018-01-31 19:45] spaul13 commented on #3777
Here I am providing the full bug report. I first tried for ijkplayer then the exoplayer but I found similar problem for both of them. I am using these with the easyMovieTexture to stream videos in unity game apk.

I am using the device **Nexus 6P**.  I didn't find this problem while using Google PIXEL XL.

**Specifically,
E/libEGL: call to OpenGL ES API with no current context (logged once per thr

[2018-01-31 19:51] hussanhijazi commented on #3741
Hi, Thanks for your answer. I am using it to play audio.

if i put `app:shutter_background_color="@android:color/transparent"`: Black background

![screenshot from 2018-01-31 17-45-43](https://user-images.githubusercontent.com/2103513/35643973-f2ca5fa8-06ae-11e8-9c9e-a45ceedf407e.png)

but if i put `app:shutter_background_color="@android:color/holo_red_dark"` work as expected (red background):
![s

[2018-01-31 19:53] ojw28 commented on #3777
It's unclear what the actual problem is that you have. Something being logged is not in itself a problem. I assume there must be some kind of corresponding user visible issue for you to care. What is it, and what are the steps for reproducing it?

[2018-01-31 19:57] ojw28 commented on #3741
That is expected as per the description above. If you make the shutter red, it will be red. If you make the shutter transparent, it will be transparent and you'll see what's underneath, which is the video surface. Since no video has been rendered, the video surface will be black.

If you're use case is audio only you should consider using `PlaybackControlView` directly. You don't really need a ful

[2018-01-31 20:04] spaul13 commented on #3777
I agree. But I am getting the error from the EGL library as I mentioned also few errors from the OMX layer before that.

For this reason, my mediaplayer is in MEDIA_ERROR state and this causes
**Attempt to perform seekTo in wrong state: mPlayer=0xc80fe420, mCurrentState=0
E/MediaPlayer: error (-38, 0)**

**This restricts me to play the video stream as the current state is ERROR (seeking the frame

[2018-01-31 20:10] ojw28 commented on #3777
MediaPlayer is unrelated to ExoPlayer. It sounds like you're trying a bunch of players and seeing the same error for all of them, which implies something is wrong either in your app code or some other library that you're using. This error:
[code]
possibly implies something is making a GL call from the wrong thread? You'd probably be best off asking this question to the author(s) of easyMovieTextur

[2018-01-31 20:10] #3777 closed, assigned to ojw28

[2018-01-31 20:18] spaul13 commented on #3777
Thanks a lot for your suggestions.

EasyMovieTexture is just using as a native plugin to the unity but I have been using ijkplayer and Exoplayer for decoding and streaming the video. Unity is just a platform to display that.

**But if I can that from a wrong thread, how it even worked for PIXEL XL?**
and **can you tell me why I am getting those errors related to the OMX layer of the video decoder?

[2018-01-31 20:24] ojw28 commented on #3777
As noted above, a log message is not necessarily an actual error, or at least an error you should care about. As an example, the device I'm using logs the following at the start of every playback (but playback works fine):
[code]
The specific logging in your case appears to be indicating that some extensions aren't supported, which feels like it could be expected. I don't know what `describeHDRSta

[2018-01-31 20:45] hussanhijazi commented on #3741
Hi, thanks for your answer.

i try use `PlaybackControlView` like:

`<com.google.android.exoplayer2.ui.PlaybackControlView
            android:id="@+id/playback_view"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            app:controller_layout_id="@layout/custom_playback_control" />`

But it is not shown, i need to do something more to show de

[2018-01-31 20:53] tedjp opened #3779 "Non-AAC MP4 audio codec treated as AAC (eg. mp4a.a6: EAC3)"
### Issue description
ExoPlayer treats all codec strings that start with "mp4a" as AAC. However *any* audio codec packaged as MP4 will match that signature; the string following the "mp4a." prefix needs to be examined to determine the codec. For example the strings "mp4a.a5" and "mp4a.a6" (AC3 and EAC3) are treated by ExoPlayer as AAC.

The codecs "mp4a.a6" and "mp4a.a6" (at least) should not be t

[2018-01-31 21:12] ojw28 commented on #3779
I think you're right. We should probably also be looking at the object type after `mp4a.`, values for which are defined [here](https://mp4ra.github.io/mp4ra/object.html).

[2018-01-31 23:43] spaul13 commented on #3777
Thanks a lot.
Then I should not be worried about the errors from the OMX layer but I need to focus on the why libEGL is giving me that error. I presume that's the failure.
But I don't think EGL is called from a different thread.
can you guess any other reason for getting that libEGL error and having the Media_Player in ERROR state?

Any suggestion will be very helpful. :)

[2018-02-01 05:15] HungamaSurat commented on #3730
Hello Erdem Guven,

Did you get chance to checkout this issue?
Please give me feedback as soon as possible.

Thanks

[2018-02-01 05:36] ghost commented on #3756
@ojw28  @wvpaf  I'm trying to reproduce the issue and collect a more detailed log.  Could you give an email address for further communication?

[2018-02-01 09:11] Nikonov commented on #3535
Tested on v2.6.1. Issue reproduced. Workaround?

[2018-02-01 09:23] erdemguven commented on #3730
You need to create a CacheDataSource instance using the SimpleCache and use it with your player. Warning, please avoid creating multiple SimpleCache instances working on the same folder.

To use the offlined license you need to call:
`drmSessionManager.setMode(DefaultDrmSessionManager.MODE_PLAYBACK, offlineLicenseKeySetId);`
Please check the demo app to see how drmSessionManager is created.

[2018-02-01 09:23] #3730 closed, assigned to erdemguven

[2018-02-01 09:39] JacksonFoo commented on #3220
@wvpaf Sorry for late reply, Unfortunately I unable to get any full log for now as I currently I upgrading from exoplayer 1 to exoplayer 2. I will try again with exoplayer 1 later on to get a full log for you. Thanks

[2018-02-01 10:02] tonihei commented on #3773
There is actually another option which allows you to pause playback at the end of the current item.

We recently added the option to send messages at specified playback positions. _This feature is currently on the dev-branch but will be part of the next release._ With that, you can send a message at the end of each playlist item and pause the player in this message. By default, messages are sent o

[2018-02-01 10:05] #3374 closed, assigned to erdemguven

[2018-02-01 10:06] tonihei commented on #3773
Marked as bug because of the possibility of getting listener callbacks which are not on the thread which created the player.

[2018-02-01 10:11] #3647 closed, assigned to erdemguven

[2018-02-01 10:56] hussanhijazi commented on #3741
Thanks, @ojw28  :+1:

[2018-02-01 10:58] ojw28 commented on #3741
No worries.

@hare989 - regarding your initial report, can you clarify why you'd want the shutter to be transparent, rather than just removing it entirely? The latter seems a lot less error prone.

[2018-02-01 11:26] ojw28 commented on #3699
This appears to be an Android platform bug that's fixed in P :(. I'm not really sure what to advise for 8.1.0 devices, unfortunately, although you can play around with the player view's visibility as noted above.

[2018-02-01 12:27] ojw28 commented on #3756
Please use `dev.exoplayer@gmail.com`. Please also update this issue when you mail that address, so the right person knows to take a look. Thanks!

[2018-02-01 12:28] tonihei commented on #3773
We decided that we actually can't support access to the player from multiple threads because there is no way to fully synchronize this access from outside. This essentially means that the solution I proposed above is not valid.

Nevertheless, you can try to set a Handler to the message which ensures it's executed on your application thread:
[code]
This prevents any synchronization issues and probl

[2018-02-01 12:30] pi-andrei opened #3780 "Multikey protected Dash video doesn't work"
### Issue description
ExoPlayer is unable to play DASH video with multiple content protection keys and fails with error:
[code]
I saw one related topic in issue tracker: https://github.com/google/ExoPlayer/issues/1824 However it is closed with no actions done. There was a discussion about other ways to implement it and how to interpret DASH specs, but time has passed, and there is more clear expla

[2018-02-01 13:40] ojw28 commented on #3768
You should just be able to build a new `MediaSource` and pass it to `player.prepare` each time the user selects a list item. This sounds more like a bug in your application code than an ExoPlayer issue. If you have a specific issue with the library itself, please let us know.

[2018-02-01 13:40] #3768 closed, assigned to ojw28

[2018-02-01 14:48] gonzapico opened #3781 "Does the ExoPlayer support VeriMatrix?"
### Issue description
We'd like to play a VeriMatrix (encryption) stream over HLS (format). We are wondering if we can play this kind of stream. Thanks!

[2018-02-01 15:28] ojw28 commented on #3777
I think you really need to figure out what OpenGL ES call is causing the error to be generated. Once you know that, it should be relatively straightforward to validate whether or not it's being made from the correct thread. I don't think the problematic call is being made from either ExoPlayer or MediaPlayer. I think it's most likely being made from either your code or one of your other dependenci

[2018-02-01 16:25] AquilesCanta commented on #3781
This is not something we currently support. Could you provide some sample content?

[2018-02-01 16:34] skyler-b commented on #3773
Thanks for the update - that messaging system sounds very interesting - I can already think of one other thing I would use it for. I'll take a look at that in the next release - thanks again!

[2018-02-01 16:34] #3773 closed, assigned to tonihei

[2018-02-01 17:35] linhai326 opened #3782 "HLS CEA608 closed caption drops characters issue"
### Issue description
The test HLS content has cea608 track and WebVtt track. Using demo player to stream this content, the WebVTT shows correctly while the cea608 track keeps dropping lines.

### Reproduction steps
start the test content link below, the issue can start to happen at 00:01:02 position. the cea608 will drop lines while webvtt can show correctly.

comparing with other players, like h

[2018-02-01 18:04] spaul13 commented on #3777
Thanks a lot for having the future plan. it would be very much helpful for guys like me.

I don't think EasyMovietexture openGLES calls making the problem as I have the debug statements throughout it to carefully observe the openGLES calls inside easyMovieTexture and it is giving me just while I run the game apk (start of playing).

Do you think I need to add anything to the daydream-android.xml f

[2018-02-01 18:29] linhai326 commented on #3782
[cea608_decoder_log.txt](https://github.com/google/ExoPlayer/files/1686708/cea608_decoder_log.txt)
[fulllog.txt](https://github.com/google/ExoPlayer/files/1686709/fulllog.txt)

[2018-02-01 22:39] wvpaf commented on #3775
@KiminRyu, does this particular content fail on all SM-T580s or just a sample?
The case you referenced is for live/key rotated content. Is this content live as well?
An ADB Bugreport is the best path forward, as we believe the report there are video artifacts so the video will not be needed. However, to help determine a root cause reviewing of the Bugreport is needed.

[2018-02-02 00:16] workspace commented on #3775
All drm playback of our android app in SM-T580 has the same problem. Many SM-T580 users reviewed that there is black flickering. I tried to figure out the reason of problem with demo app, then someone attached video for the difference from normal playback and drm playback. As i mentioned above, I don't have SM-T580 device. So it is difficult to debug and get bugreport from it directly. I try to re

[2018-02-02 02:56] fenggit opened #3784 "how releasing and recreating the player?"
Before filing an issue:
-----------------------
### Issue description

how releasing and recreating the player?

I use list（RecyclerView） play video ，How to re-create after I release the resource ？

After I release ，  “sending message to a Handler on a dead thread”

Thanks

[2018-02-02 06:54] HennessyTennessy opened #3785 "Gvr SDK Unity and ExoPlayer"
I am working with GVR SDK, including ExoPlayer-r-1.5.11. I have problem with reproduce .mkv files with .AC3 codec. I know that I should to use fffmpeg extraction.
For now, I have:
1) Unity Project with GVR SDK, who can see ExoPlayer-r-1.5.11 library (library-release.aar)
2) I have ffmpeg extra librarty (extension-ffmpeg-release.aar)
How can I connect both library to Unity Projects?
Thx for any inf

[2018-02-02 07:09] KazumiHARADA opened #3786 "Problem regarding `/Manifest` after `Manifest URL`"
When the last part of `Manifest URL` is `(filter=phone_hd_001)` , it seems that the library is adding `/Manifest` after the URL. Can you remove that?
[code]
library version : r2.4.3

[2018-02-02 08:43] andrewlewis commented on #3785
If you're trying to decode AC-3 in software using the ffmpeg extension, you'll need to switch to ExoPlayer v2, as the extension depends on v2 functionality. Unfortunately, I think the GVR SDK only provides support for ExoPlayer v1.

We plan to publish an extension for using ExoPlayer v2 from Unity soon, though no promises if/when this will happen yet.

For what it's worth, once you're at the stage

[2018-02-02 08:43] #3785 closed, assigned to andrewlewis

[2018-02-02 09:06] ZohaibGhafoor commented on #3761
@andrewlewis Sometimes we don't need content and want to only play the ad . but when i put empty string on content url then on ad end onPositionContiniuty not called. what should i do now ?

[2018-02-02 09:13] andrewlewis commented on #3761
Playing ads without content is tracked by #3774.

[2018-02-02 09:14] andrewlewis commented on #3774
I'll look into this soon. It may be very easy to support for the case of just playing a preroll or VAST ad tag, but I haven't tried it yet.

[2018-02-02 09:19] andrewlewis commented on #3777
You've probably already done this, but for what it's worth: when using Unity it seems to be important to make sure that you run all your GL code on the thread Unity is using for rendering. We've been using [`GL.IssuePluginEvent`](https://docs.unity3d.com/ScriptReference/GL.IssuePluginEvent.html) for this.

In all cases where I've seen the log line `E/libEGL: call to OpenGL ES API with no current c

[2018-02-02 09:22] andrewlewis commented on #3026
I'm afraid we're still treating this as low priority. We can revisit it if someone can provide evidence that there is a lot of demand for playing files with this feature. I think we're also happy to accept pull requests that cleanly add this functionality to `MatroskaExtractor`. Sorry not to be more helpful.

[2018-02-02 09:24] andrewlewis commented on #3669
@giladna I'm afraid not, but I haven't forgotten this and will try to get round to it soon.

[2018-02-02 09:28] ZohaibGhafoor commented on #3774
@andrewlewis for now i have just a hacked solution. when ad playing end it throws playererror FileDataSourceException because i have given empty string on content url so i can get that ad is now end playing.

[2018-02-02 09:52] ghost opened #3787 "internalError [211.13, audioTrackUnderrun [60416, 342, 2466]] Video has been stuck since this error occurred."
## This is a detailed log. This problem has been difficult for me for a long time. I hope it can help me solve it.

- Exoplayer 2.6.1
- Android 6.0
- Memory size：2G
- play video :  DRM , mpd file

[code]
## The core logs are below.

**02-02 09:42:33.549 20957-20957/com.qcode.mrenderer E/EventLogger: internalError [207.32, audioTrackUnderrun [60416, 342, 818]]
02-02 09:42:34.022 20957-20957/com.qco

[2018-02-02 10:07] HennessyTennessy commented on #3785
Ahh. Thank much for quickly answer.
Yes, i tryied to copy library of ExoPlayer_v2 to Unity project with GVR SDK, and receive many errors in Log. Think that GVR SDK not support v2 too.
Sooo, as i understand, I have no way to use GVR SDK with .AC3 codec, and should create new own ExoPlayer_v2.plugin for Unity. Is it right?

[2018-02-02 10:11] noah538 commented on #3743
I cannot reproduce this issue on another STB with different chip, so it is confirmed a device specific issue.
Thank you for your kindly help.

[2018-02-02 10:15] andrewlewis commented on #3785
Yes. Or wait for us to publish one (probably soon but no promises).

[2018-02-02 10:30] ojw28 commented on #3743
Please report the issue to the device manufacturer. Thanks!

[2018-02-02 10:30] #3743 closed, assigned to ojw28

[2018-02-02 10:33] ojw28 commented on #3786
This has already been fixed (as of 2.6.0). See https://github.com/google/ExoPlayer/commit/ce7aaab3c6adc8d8b0d6723c0e59441fcca9bce2.

[2018-02-02 10:33] #3786 closed, assigned to ojw28

[2018-02-02 10:37] ojw28 commented on #3784
* Recreating a player is no different to how you'd create the player the first time.
* “sending message to a Handler on a dead thread” can often be harmless, so by themselves are not indicative of a problem.
* There's a lot of information in https://github.com/google/ExoPlayer/issues/867 about how to get ExoPlayer working well within RecyclerView.

[2018-02-02 10:37] #3784 closed, assigned to ojw28

[2018-02-02 10:54] HennessyTennessy commented on #3785
Okay:) Thank you)

[2018-02-02 11:07] ojw28 commented on #3787
There isn't anything we can do to help with this type of issue unless you provide all of the information in the issue template, including proper reproduction steps, test media that that reproduces the issue, and a full bug report captured with `adb bugreport`. Please provide this information. Thanks!

[2018-02-02 11:17] SalvinStephen opened #3788 "Dolby Vision - Decoder init failed:"
### Issue description
The exoplayer throws decoder initialization error.

### Reproduction steps
Try to stream video on exoplayer in any Dolby Vision supported device.
### Link to test content
Provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please submit the issue, then email the link to
dev.exoplayer@gmail.com including the issue number in the subject lin

[2018-02-02 11:34] ojw28 commented on #3763
Key rotation is really something that we're doing a pretty bad job of supporting currently. Unfortunately it'll take some time to resolve. It's made significantly more complicated by `MediaDrm.KeyStatus` and `MediaCrypto.setMediaDrmSession` only being available from Marshmallow onward. We need to decide to what extent we want to try and support key rotation on a best-effort basis prior to Marshmal

[2018-02-02 13:00] ojw28 commented on #3775
If you're able to, please could you send a video showing the issue to `dev.exoplayer@gmail.com`?

[2018-02-02 13:06] ojw28 commented on #3788
Can you provide details of a specific device running Android (not FireOS) that has this issue? Please also provide media that we can use to reproduce the issue. If this issue is occurring on FireOS devices only, you need to report it to Amazon.

[2018-02-02 13:13] ojw28 commented on #3765
This is already demonstrated by the demo app. As noted above, it's easy to build the demo app just by cloning this repository and opening it in Android Studio. There are no additional steps required. Once you have the demo app building, it shouldn't be too difficult for you to figure out what's going on in order to display the track selection dialog.

[2018-02-02 13:13] #3765 closed, assigned to ojw28

[2018-02-02 13:48] spaul13 commented on #3777
@andrewlewis thanks for your advice. but how can I exactly pinpoint which openGL call is interfering? I have debugged my native plugin code's openGL calls. They are not giving me the error. I am pretty sure unity's openGL calls giving the error. Can you tell how to find that exactly? then it will be easier me to use GL.IssuePluginEvent for that one.

[2018-02-02 13:57] andrewlewis commented on #3777
You could try removing code until the error goes away. I'm not sure if it was established that this GL logging was indicative of the underlying problem. I don't think there's anything else we can usefully suggest on this issue, I'm afraid.

[2018-02-02 14:43] fpittersacc opened #3789 "IMA ImaAdsLoader not resuming content when preroll Ad is empty"
### Issue description
ImaAdsLoader is entering an invalid state after getting an empty preroll Ad. When loading the sample URL that contains a playlist with an invalid Preroll Ad, playback is not resumed while the reported events by underlying IMA library are: CONTENT_RESUME_REQUESTED and ALL_ADS_COMPLETED.

### Reproduction steps
On IMA demo project, setup the Ad URL provided below.

### Link to

[2018-02-02 15:13] andrewlewis commented on #3789
This will likely be fixed as part of the fix for #3584, which is coming soon.

[2018-02-02 16:13] okaymak opened #3790 "Video distorted when tunneling enabled"
### Issue description
After enabling tunneled video playback, video is distorted, see attached image.
![img_20180202_165223](https://user-images.githubusercontent.com/2102658/35742426-b55257a6-083a-11e8-8951-320c2e14fa71.jpg)

When I disable tunneling, the video is fine.
On an emulator the video is also fine with and without tunneling.

The distortion is happening on all videos within ExoPlayer's

[2018-02-02 18:13] spaul13 commented on #3777
Hi @andrewlewis and @ojw28 ,
One more question, can you please tell me why I am getting this error?

**E/Unity: OPENGL NATIVE PLUG-IN ERROR: GL_INVALID_ENUM: enum argument out of range
(Filename: ./Runtime/GfxDevice/opengles/GfxDeviceGLES.cpp Line: 388)**

[2018-02-02 18:58] ojw28 commented on #3777
These errors are unrelated to ExoPlayer. Could you ask them somewhere more suitable than the ExoPlayer issue tracker, like a Unity forum or something?

[2018-02-02 19:54] satyasivaprasad opened #3791 "Audio is not playing while using wakeLock.acquire();(only on ZTE(B2017G) phones)"
Hi,

We are playing audio when proximity is detected.
We have a separate algorithm to detect the valid gesture.
Once the valid gesture is detected we are calling wakeLock.acquire() to turn off the device screen.
After that, we are playing an audio.

Only on  ZTE(B2017G) phones after calling wakeLock.acquire()  audio is not playing.
Getting only one callback(STATE_IDLE = 1) after calling "player.pr

[2018-02-03 01:12] satyasivaprasad commented on #3791
This is not a problem with ExoPlayer.
Problem is with my code, I am releasing the player in onPause()(which should happen in onDestroy) of activity.
After removing release player code from onPause(), everything is working fine.

[2018-02-03 01:12] #3791 closed, assigned to nobody

[2018-02-03 06:06] KazumiHARADA commented on #3786
Thank you for the reply.
We consider to update the library inside our application.

[2018-02-03 10:00] eneim commented on #3762
@ojw28 just see the label bug, I guess you have found something. But even if it is not the case, I'm trying to read and log the call order of cache's methods. Hope to figure out something helpful.

[2018-02-03 16:15] ojw28 commented on #3762
Yeah; @erdemguven found a bug that could cause corrupt data to be written into the cache. A fix will be available next week or early the week after.

[2018-02-03 18:49] axet opened #3792 "StringIndexOutOfBoundsException"
#2309

seems like regression with exoplayer:r2.5.4

[code]

[2018-02-04 14:25] Ngmong opened #3793 "Why am I getting an error when working with the guidelines?"
1.    mMainHandler = new Handler();
2.    context = getApplicationContext();
3.   DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
4     DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(context,
5.     Util.getUserAgent(context, "yourApplicationName"), bandwidthMeter);
6.     MediaSource videoSource = new
7.     ExtractorMediaSource.Factory(dataSourceFactory).

[2018-02-05 00:30] SnailRabbids opened #3794 "A/ACodec + A/libc"
Hi guys. I have such a problem: I have an Android game (the essence of the game in choosing the right answer to the question) that occasionally casts up with such a lag, then white screen and then continues to work but from the previous question. This is not happening on all devices, this happens very rarely on the emulator (Android version 6.0), and on my old Lenovo (4.1.2) - often. Help please,

[2018-02-05 02:36] #3737 closed, assigned to nobody

[2018-02-05 02:48] merby04 commented on #3766
Can you explain me @vikas3121 how to implement it  ? I need it to play encrypted audio files... any refference ?

[2018-02-05 04:17] ursusursus opened #3795 "IMA sdk Audio-only ads?"
Hi, I have audio player app.
My question is generally about your IMA extension.

IMA website claims it supports audio-only ads (https://developers.google.com/interactive-media-ads/docs/sdks/android/compatibility), i.e. from what I understand, audio ads inbetween audiotracks, same like Spotify.

All examples of the extension deal with audio. Is audio-only supported?

Thanks

[2018-02-05 06:17] ethanblake4 opened #3796 "NPE in ExtractorMediaSource"
Stack trace:
[code]
This happened randomly when playing a new queue in my music player app. I wasn't doing anything different than usual, but here is the relevant code, slightly edited for clarity, that was executing at the time:
[code]

`dynamicSource` is a `DynamicConcatenatingMediaSource`.

`sourceFromTrack` returns an `ExtractorMediaSource` based on a `MediaSource` that tails from a `RandomAcc

[2018-02-05 06:32] devramjava commented on #3768
thank you @ojw28 mistake in my application code and its solved now

[2018-02-05 06:46] Ngmong opened #3797 "rtp Question"
hi

rtsp between actioncam and cellphone.

Can I extract image data using ExtractorMediaSource?

If yes, can I get an example source?

[2018-02-05 07:12] cfxmys commented on #3623
i have the same issue   on API21 device, but on  API19 device is ok

[2018-02-05 08:07] workspace commented on #3775
@ojw28 I sent it!
Check email and reply to my email or leave comments if you need more informations about issue.

[2018-02-05 08:23] Ngmong opened #3798 "RTSP Question please help me"
Is it possible to implement RTSP using exoplayer?

may be possible rtsp on exoplayer..

give me example source please

T.Ta

[2018-02-05 08:35] jin-sin commented on #3798
same question   :

If you can implement through exoplayer, can you get the sample source?

[2018-02-05 10:13] KazumiHARADA opened #3800 "ExoPlayerImplInternal is occured on the NexusPlayer"
### Issue description
Our application has played video on DASH format and WidevideDRM, but It was occurred the following error on the NexusPlayer only.

### Reproduction steps
Play live contents.

### Link to test content
N/A
If you need test content, I will send mail to dev.exoplayer@gmail.com

### Version of ExoPlayer being used
2.6.1

### Device(s) and version(s) of Android being used
Error occ

[2018-02-05 10:20] AquilesCanta commented on #3792
Can you send a link/media sample to dev.exoplayer@gmail.com?

[2018-02-05 10:22] AquilesCanta commented on #3794
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-02-05 10:22] #3794 closed, assigned to nobody

[2018-02-05 10:24] AquilesCanta commented on #3793
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-02-05 10:24] #3793 closed, assigned to nobody

[2018-02-05 10:25] grajzer opened #3801 "What to do when there's a problem with ad source?"
If there's a problem with ad, player just won't do anything. How to deal with this situation?

Here's an example ad tag URL you can use in exoplayer demo-ima app:
"https://vid.springserve.com/vast/183355?w=400&h=300&url=com.google&cb=1233445"

onAdLoadError is called and the following error is fired "AdErrorCode [name: VAST_LINEAR_ASSET_MISMATCH, number: 403], message: Linear assets were found in

[2018-02-05 10:29] AquilesCanta commented on #3798
Please see #55.

[2018-02-05 10:29] #3798 closed, assigned to nobody

[2018-02-05 10:30] AquilesCanta commented on #3797
Please see #55.

[2018-02-05 10:30] #3797 closed, assigned to nobody

[2018-02-05 10:31] axet commented on #3792
done

[2018-02-05 11:06] AquilesCanta commented on #3800
Please provide all the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-02-05 11:48] tonihei commented on #3796
Thanks for reporting. This is a bug caused by removing a currently playing or loading child `MediaSource` from the `DynamicConcatenatingMediaSource`. It seems this bug has been in the code all the time, but only recent changes in version 2.6.1 made the `ExtractorMediaSource` throw this NPE because of this bug.

We already have a fix which will be pushed to the dev-branch soon.

[2018-02-05 13:26] charlest05 opened #3802 "Play OGG file from OBB expansion file using Exoplayer not working."
I've recently switched my app audio file(OGG) resources to a Expansion File. problem is that when I read an audio file using APEZProvider the app doesn't play anything.  please help thanks.

See Exoplayer Error:
`E/ExoPlayerImplInternal: Source error.
                     com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, Fra

[2018-02-05 13:29] hare989 commented on #3741
Hi, thanks for your answers and sorry for my late response.

One of our clients just liked to see last frame being visible after switching channels or using other apps player features which causes player to change source.

I tried with my custom layout for SimpleExoPlayerView but **removing shutter view** from it and test this on mentioned devices. (Samsung Galaxy S7 Edge and Samsung Galaxy J5)

A

[2018-02-05 14:17] andrewlewis commented on #3795
The Android IMA SDK relies on having a WebView. Using a WebView with audio-only ads is probably fine if your app is in the foreground, but I'm not sure it will work while backgrounded in a Service (assuming your player can run in the background).

If you only want to play audio ads while your app is in the foreground it may just work. I haven't been able to verify this yet as I don't have an audio

[2018-02-05 14:24] andrewlewis commented on #3795
Please see also https://groups.google.com/d/msg/ima-sdk/H2tr4GPmeeE/v1mYj81gAAAJ.

[2018-02-05 16:39] shinayser commented on #55
Does we have any update on this thread? Is RTSP support in the roadmap?
_The VGX library is a good library, it samples work fine. But the has a terrible license price ($5000). No way for most developers to go for it..._

[2018-02-05 16:58] amanenk commented on #2843
I used `simpleExoPlayerView.setShutterBackgroundColor(Color.TRANSPARENT);` to solve this.

[2018-02-05 17:27] okaymak commented on #3790
Also noticed that on this device the `Player.STATE_ENDED` event does not get triggered while tunneling is enabled.

[2018-02-05 19:00] Balthazar2k4 opened #3803 "Atmos Audio Dropouts"
Issue:
During playback of titles with higher than average (exceeding 11mbps on average) Dolby Atmos TrueHD-based bitrates, ExoPlayer v2 on the Nvidia Shield is dropping packets leading to moments of brief silence.  This is a reproducible issue and is not a problem with the source material because when played back on a UHD-BD player or a certified software such as PowerDVD the dropouts do not occur

[2018-02-05 21:13] portizb commented on #55
Yes, we are at the end of the coding and debugging and in a very short time, it will be available so that it can be tested. I am working with Sergio @tresvecesseis in this solution.

This version includes support for H264 over RTP as well as audio codecs G711.x, and AC3. We are also currently working to support AAC over RTP. For the decoding of RAW/UDP audio and video formats, existing extractors

[2018-02-05 23:08] tresvecesseis commented on #55
Our original implementation was only useful for our use cases, now we have
an RTP datasource for unicast and multicast streams, with fast multicast
acquisition, packet loss recovery, playback can be initiated from an SDP
file served by HTTP o RTSP,  or manually configured, with support for trick
modes, muxed or elementary streams payloads...

It's now working with IP cameras, public internet strea

[2018-02-06 04:51] KazumiHARADA commented on #3800
[bugreport-fugu-OPR2.170623.027-2018-02-06-13-43-43.zip](https://github.com/google/ExoPlayer/files/1697765/bugreport-fugu-OPR2.170623.027-2018-02-06-13-43-43.zip)

[2018-02-06 08:24] pokuri3 opened #3805 "How to same Ad cuepoint multiple times during same playback session?"
As Imaloader accepts Ad uri or Ad response and combined with media and play.During playback once Ad played it won't be play again.If i want to play that ad again if rach the point by rewind, how can i achieve that?

[2018-02-06 08:51] andrewlewis commented on #3803
Please could you try increasing the buffer size [in `DefaultAudioSink`](https://github.com/google/ExoPlayer/blob/d098eff/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L481) and let us know if that fixes the issue?

If that does fix it, we should probably just set the buffer size to the maximum allowed bitrate, assuming it's not too large. I haven't been able

[2018-02-06 08:58] andrewlewis commented on #3805
Once the user has viewed an ad group it is marked as played and won't be shown again. This is the intended behavior of the IMA SDK and I'm not aware of any ways to customize it.

If you want to work around this, you can probably handle requests to seek backwards by creating a new ads loader and media source, and re-preparing the player with the new media source. The new loader will see all ad grou

[2018-02-06 08:58] #3805 closed, assigned to andrewlewis

[2018-02-06 09:15] fishingcats opened #3806 "FlacExtractor NullPointer Exception"
I met this issue when I tried to play *.flac audio file with Exoplayer( I have configed the project correctly and I can play other audio files normally: *.ac3/*.mp3 ...):

02-06 16:59:28.159 8428-8604/com.iflytek.autofly.voicewill E/Loader: Loader | load:ExtractingLoadable
02-06 16:59:28.163 8428-8604/com.iflytek.autofly.voicewill E/LoadTask: Unexpected exception loading stream

[2018-02-06 09:19] erdemguven commented on #3806
Have you built the native library?
https://github.com/google/ExoPlayer/tree/release-v2/extensions/flac

[2018-02-06 10:03] okaymak opened #3807 "Player size on Android TV"
There are a Android TV devices running it's interface in 1280x720 (tvdpi). The TV itself has 1080p panel (i.e. Philips QM164E (model 32PFS6402/12)).

How can I make sure that ExoPlayer is correctly switching to 1920x1080?

[2018-02-06 10:17] AquilesCanta commented on #3807
I think you are talking about track selection in adaptive streaming. If not, please clarify below. Look at `DefaultTrackSelector`. Under the video section in `Parameters` there are viewport width and viewport height. The selected tracks will be the most adequate for your viewport.

[2018-02-06 10:19] AquilesCanta commented on #3800
Please also send the link to dev.exoplayer@gmail.com.

[2018-02-06 10:25] andrewlewis commented on #3807
You can also look at the output of `adb shell dumpsys SurfaceFlinger` to verify that the `Surface` buffers have the right resolution. We use the `Display.Mode` API to check the physical display resolution in `DefaultTrackSelector.ParametersBuilder.setViewportSizeToPhysicalDisplaySize`.

[2018-02-06 10:35] AquilesCanta commented on #3790
Could you please provide all the items requested in the issue [template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE)? The bugreport and media link are specially important.

[2018-02-06 10:37] ghost opened #3808 "Leak memory on r.2.6.1 in RecycleView"
Hi . i have leak memory error in `ExpPlayer r.2.6.1` when using inside RecycleView.
I searched for 6 days and got many issues in #3668 , #3028 , #1943 and etc  but i can't solve problem .

Build gradle :

compile 'com.google.android.exoplayer:exoplayer-core:2.6.1'
compile 'com.google.android.exoplayer:exoplayer-dash:2.6.1'
compile 'com.google.android.exoplayer:exoplayer-ui:2.6.1'

My recycle view

[2018-02-06 10:41] AquilesCanta commented on #3808
Unfortunately this is not something we can help with. There is no evidence of this being an ExoPlayer issue. It should not be hard to debug using the Android Studio profiler, really. It usually helps a lot to know what objects are being leaked.

[2018-02-06 10:41] #3808 closed, assigned to nobody

[2018-02-06 11:13] ghost commented on #3808
@AquilesCanta thank you for answering . but when i delete `Utils.setVideo(getContext() , item ,  videoPost, true );` line all things is ok . it mean the memory leaking is for exoPlayer . I checked  Android Studio profiler and understand with exoPlayer `others memory is too high` and without exoPlayer `others memory is just 5 mg` .

[2018-02-06 13:57] AquilesCanta commented on #3802
The exception you encounter means that none of the extractors could recognize the format of the file. Make sure it is not being stored/packed as something else (e.g. a compressed format). We cannot help users debug their app, unfortunately. If you have evidence to think this is an ExoPlayer issue, please provide all relevant information below and we will reopen the issue.

[2018-02-06 13:57] #3802 closed, assigned to AquilesCanta

[2018-02-06 14:13] charlest05 commented on #3802
thanks for you response AquilesCanta.

[2018-02-06 14:16] Balthazar2k4 commented on #3803
Yes, that is my post over at the Kodi forum.  I decided to post the issue here, as well, since I also use Plex and they use ExoPlayer (albeit a modified version).  I have asked the Plex devs to make the change you requested to the DefaultAudioSink to see if that works.  There has been some discussion on the issue around the possibility that it is a Dolby MAT problem.  Please see here for additiona

[2018-02-06 14:38] portizb commented on #55
Let me show you several demo videos of ExoPlayer-2 running on several Android devices connecting to different RTSP Streams (Samsung SmartCam, Samsung Galaxy S7, Public internet cameras and catch up channel on IPTV).

1. ExoPlayer running on a Lyca TV Box device and a Samsung TV as the output device:
https://photos.app.goo.gl/lnF5ogJZDHzH6Y3x1

2. ExoPlayer running on an Nvidia Shield tablet:
https

[2018-02-06 14:45] shinayser commented on #55
This is awesome!! When you guys will available this ?

[2018-02-06 14:49] portizb commented on #55
@shinayser As @tresvecesseis said, we will make a final pull request very soon.

[2018-02-06 15:53] Shailevy opened #3809 "ExoPlayer PIP of several videos / Video Overlays (for sign language interpreter and more)"
Hi,

Were looking for a way to play several videos at the same time at different places on the screen. (Picture In Picture).
Our main objective to provide deaf users with a small video of a sign language interpreter in it.
We have yet to see anything close to that in ExoPlayer, it's important for us that this wont be done in the UI layer or outside the context of the played video. We want it to be

[2018-02-06 20:00] themavencoder opened #3810 "Exoplayer simulation"
[No content]

[2018-02-06 20:00] themavencoder commented on #3810
Is it possible to simulate the exoplayer using Average speed and slow speed. Find the following for high, average and low speed consecutively:
1. End to end delay
2. Startup delay
3. Playback continuity.

Simulate for high speed and sudden drop to average speed.
Simulate for average speed and sudden drop to low speed

[2018-02-06 20:02] themavencoder commented on #3810
Is it possible to calculate end to end delay, startup delay and playback continuity on exoplayer simulating both high speed, low speed and average speed?

[2018-02-06 23:58] mdtuyen opened #3811 "Exoplayer not work correct"
I have a video with two language (Russian and Japanese)
In VLC when I select stereo mode:
- Default: two language use
- Left: Russian
- Right: Japanesse
I want to implement that on Exoplayer

[code]

[code]

But I see that audioTracks have no Japanesse language or Russian language, and switchPreferredAudioLanguage not work.

[2018-02-07 02:21] eneim commented on #3809
@Shailevy sounds to be a good use case. Have you ever tried to use 2 SimpleExoPlayerView instances and succeed (in syncing them of course)?

[2018-02-07 07:05] KazumiHARADA commented on #3800
I've sent more info, please confirm it.

[2018-02-07 08:51] richardissuperman opened #3812 "Exception when Merging Multi-Period DASH and SingleSampleMediaSource subtitle."
### Issue description

we are trying to use a ```MergingMediaSource``` and merge one ```DashMediaSource``` with multiple subtitles using ```SingleSampleMediaSource```.

The problem is that the ```DashMediaSource``` is pointing to a mpd file which contains 2 periods. So the Player will throw an ```IllegalMergeException(IllegalMergeException.REASON_PERIOD_COUNT_MISMATCH)``` in the
```checkTimelineMe

[2018-02-07 09:16] xiaoyepadzhang commented on #3682
@erdemguven I'm still  waiting for the code here~

[2018-02-07 09:20] Shailevy commented on #3809
@eneim this isn't what were looking for for many reasons, were working on a video delivery platform and we have long-run aspirations. Building over such a solution is a bit "hacky", in one example we will need to deal with several instances of the same hardware decoder working in the same time. It wil be match better to work with a single video renderer  or at least to bake this as an ExoPlayer ex

[2018-02-07 09:42] tonihei commented on #3810
I think there are a couple of questions in here:

 **Is it possible to "simulate" playback?**
Depends on what kind of simulation you think of. We have a lot of fake classes which can replace almost every part of the real playback. Please have a look into the [testutils project](https://github.com/google/ExoPlayer/tree/release-v2/testutils/src/main/java/com/google/android/exoplayer2/testutil). Some

[2018-02-07 10:56] AquilesCanta commented on #3811
Hi, I don't understand the idea. I don't know too much about what VLC offers, so please provide precise steps of what you would like to do.

If what you want to do is just to select the language, then you just need this line

`trackSelector.setParameters(trackSelector.getParameters().withPreferredAudioLanguage(language))`

However, in order for this to work, you need to make sure the language is b

[2018-02-07 11:05] AquilesCanta commented on #3713
Closing due to lack of activity.

[2018-02-07 11:05] #3713 closed, assigned to AquilesCanta

[2018-02-07 11:20] AquilesCanta commented on #3809
Hi @Shailevy, this is not something ExoPlayer supports (nor is on the roadmap to be supported).

If you want to use a single decoder, while still being able to renderer to different surfaces, I suppose you will need to deliver the actual content along with the overlays in a single video, which later gets cropped and split into different surfaces. You could use a single custom video renderer which

[2018-02-07 11:50] AquilesCanta commented on #3812
Hi, this is a limitation of the MergingMediaSource, but also working as intended.

Given multiperiod content, there is no single way of mapping samples from a single period media source to it. The only correct way would be to have the content creator to do the mapping, and include it in the manifest. If you control the content, that'd be the right (and easiest) thing to do. Otherwise, you could sp

[2018-02-07 11:50] #3812 closed, assigned to nobody

[2018-02-07 12:29] AquilesCanta commented on #3800
The provided stream gives me a different issue:

Which sounds like a license provision issue. Are you sure the provided content is the correct one?

[2018-02-07 13:26] pakerfeldt opened #3813 "MediaClock and render position offset"
When using a custom MediaClock, is it true that I have to manually adjust the position given by the clock with the render offset position defined in [ExoPlayerInternalImpl.java](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java#L96)? I seem to have to compensate for this offset because media starts at 60s and the

[2018-02-07 13:56] andrewlewis commented on #3813
`Renderer.replaceStream` takes a time offset that should be added to sample timestamps read from the sample stream (`BaseRenderer.readSource` does this). If your renderer is a `MediaClock` its position needs to include the offset, so that the position matches up with the offset input sample timestamps.

When the renderer is first enabled the time offset will be 60 seconds, matching the constant in

[2018-02-07 14:00] mdtuyen commented on #3811
Hi @AquilesCanta
Could you check [this video](https://www.dropbox.com/s/n9hz2p02r5bhu66/bs102_2_.mp4?dl=0)

In the video when play with any player you can hear two language nested (japanesee and russian)
However I can't hear only japanesee or russian by change stereo mode in vlc ( Audio > Stereo audio mode > lef/right)

I see that exoplayer I can setup preferred audio language with function:
`trac

[2018-02-07 14:18] pakerfeldt commented on #3813
What we have right now is just a subclass of `MediaCodecVideoRenderer` where we pass a `MediaClock`. If I understand you correctly, we would override `Renderer.replaceStream` in our renderer to hijack the offset and use it in our `MediaClock`, right?

[2018-02-07 14:22] andrewlewis commented on #3813
Yeah, that sounds right.

[2018-02-07 14:23] pakerfeldt commented on #3813
Thanks!

[2018-02-07 14:31] AquilesCanta commented on #3811
I see now. Relevant: #2659 (thanks to @andrewlewis). This is a single audio track which contains both languages, so the default track selector will not be of any help. As correctly pointed out in the referred issue, you can use a [ChannelMappingAudioProcessor](https://github.com/google/ExoPlayer/blob/e87e231/library/core/src/main/java/com/google/android/exoplayer2/audio/ChannelMappingAudioProcesso

[2018-02-07 14:31] #3811 closed, assigned to AquilesCanta

[2018-02-07 15:52] andrewlewis commented on #3449
@abelhamilton Please could you check whether this is still reproducible using a more recent ExoPlayer release like 2.6.1, and provide an example file where you hear the clipping problem? We now implement gapless trimming of audio ourselves rather than relying on the platform codec to do this, which might possibly fix the issue.

@otanmukhanov Please provide the same information and we can investig

[2018-02-07 16:15] codeindream commented on #3393
+1

[2018-02-07 16:20] tresvecesseis commented on #55
if there are no regressions with the latest changes we will try to push the
changes to our github repository as soon as the next week

On Tue, Feb 6, 2018 at 3:50 PM, Pablo Ortiz <notifications@github.com>
wrote:

[2018-02-07 18:16] jmgirven commented on #3757
Sorry to bug you guys, but I wondered if you had any idea on this?

[2018-02-07 19:32] AquilesCanta commented on #3757
Since the content is TransportStream, the media source will be an ExtractorMediaSource. Your issue is going to be the DataSource which you pass to the media source.

As far as I know, there is no way to create a DataSource from a FileDescriptor directly. However, you might be able to emulate what the AssetDataSource does, which uses an InputStream to read the assets' data. So, you could create a F

[2018-02-07 19:32] #3757 closed, assigned to ojw28

[2018-02-07 20:55] tprochazka opened #3814 "Video freeze when player is invisible on the beginning on Sony TV (Android 7)"
I found the interesting problem on my Application.
I set vSimpleExoPlayerView.setVisibility(View.INVISIBLE); for the player  and make it visible again just when buffering is done
[code]
I just don't want to have black square during the buffering.

It working completely fine on r2.5.1, but not on any later version including 2.5.1.
It just displays one video frame, the sound is OK, but the video is

[2018-02-08 02:10] huttarl opened #3815 "Playing encrypted media with prefixed IV"
First, many thanks to @moagrius for sharing his research and results about "offlining video with encryption" (#2467).

We are in the same boat as he was, wanting to put encrypted media on a phone and then play the files in decrypted streams using a media player such as ExoPlayer. His insights such as NoPadding, and the sample code for `EncryptedFileDataSource`, probably made it possible for me to

[2018-02-08 02:41] KazumiHARADA commented on #3800
Sorry, The content that I sent was needed "Authentication" header, but our token was set available limit. So I try sample live streams whether reproduct the issue.

I will send sample live stream url in a few days.

[2018-02-08 06:30] kaemanspk opened #3816 "Closed caption (cea-608) on TS (Transport Stream) file how to make it work"
IPTV Headend multicast (UDP) TV channel having cea-608 closed caption descriptor included on the stream.
Exoplayer can able to capture and list on the TEXT portion(find attached image). But when chose cea-608 closed caption not able to see subtitle text on the screen.

Attached the video (ts file) captured from the head end.

Exoplayer 2.6.0

### Reproduction steps
place the attached file in the s

[2018-02-08 06:33] GustenB opened #3817 "Subtitles does not show on SimpleExoPlayer 2.6.1"
Hi

We are trying to set up SimpleExoPlayer 2.6.1 with subtitles. However, the subtilte will not show on the screen? Please, see render output below. We have used the ExoPlayer Demo class "texttrackhelper" to choose a texttrack but the subtitle will not show on the screen. Any idea what could be wrong?

]
Tracks [
  Renderer:0 [
    Group:0, adaptive_supported=YES [
      [X] Track:0, id=video=194