[2019-01-22 16:12] zishanj commented on #5419
I don't use Kotlin but this 2.9.x version is forcing me to configure for Kotlin, otherwise 2.8.4 is working fine.

[2019-01-22 16:13] ojw28 commented on #5419
In what way is it forcing you? ExoPlayer doesn't use Kotlin. If you don't use Kotlin either, you shouldn't need to configure anything related to Kotlin.

[2019-01-22 19:25] ojw28 commented on #5423
Please provide complete information. For example an actual playable stream (just the media playlist isn't sufficient), the license server so we can request the keys, and a full bug report as requested in the issue template; captured shortly after playback failure.

[2019-01-22 19:25] AndroidDeveloperLB commented on #5409
About `VideoListener.onVideoSizeChanged` and `onRenderedFirstFrame` , ok, but I'm still curious:

How could a video have an unknown resolution? Does it have a changing resolution as you play it?

Is it possible to get just the video specs without really playing it? Or is the normal, Android framework API good enough for this, as shown [here ](https://stackoverflow.com/a/33770238/878126) for exampl

[2019-01-22 20:25] noamtamim commented on #5421
I've enabled `playClearSamplesWithoutKeys`, and the result is not as expected.
Now the first frame of the video shows immediately, but the video only starts playing after `HttpMediaDrmCallback.executeKeyRequest()` has finished.

To debug this issue I took the latest ExoPlayer+demo (2.9.4) and made the following changes.

### DefaultRenderersFactory
Set the above flag to true when creating `MediaCo

[2019-01-22 20:33] noamtamim commented on #5421
If it helps, here's a patch with the changes mentioned above.
[patch.diff.txt](https://github.com/google/ExoPlayer/files/2784478/patch.diff.txt)

[2019-01-22 20:59] ojw28 commented on #5421
What about audio?

[2019-01-22 21:45] AndroidDeveloperLB commented on #5411
OK reported here in case it's related more to emulator:
https://issuetracker.google.com/issues/123222826

[2019-01-23 04:01] nilsorathiya opened #5425 "NullPointerException - ExoPlayerImpl.updatePlaybackInfo"
Fatal Exception: java.lang.NullPointerException
       at com.google.android.exoplayer2.ExoPlayerImpl.updatePlaybackInfo(SourceFile:717)
       at com.google.android.exoplayer2.ExoPlayerImpl.handlePlaybackInfo(SourceFile:648)
       at com.google.android.exoplayer2.ExoPlayerImpl.handleEvent(SourceFile:593)
       at com.google.android.exoplayer2.ExoPlayerImpl$1.handleMessage(SourceFile:125)

[2019-01-23 05:17] coderain1 commented on #5408
So, I would like to ask how to define the cache key of video for each ts in the local cache of m3u8 video；

[2019-01-23 05:36] shgrg1712 commented on #5424
Hello Oliver,
                   May be HLS media I was creating with Pavtube Video Converter is not proper. So I have tried to create HLS media using ffmpeg command. Following is the command I have used.

ffmpeg -i bunny.mp4 -b:v 1M -g 60 -hls_time 2 -hls_list_size 0 -hls_segment_size 500000 output.m3u8

Now After the creation of m3u8 and ts file , I have uploaded the content on amazon server. Th

[2019-01-23 07:07] mathemandy opened #5426 "Add ShuffleOrder.getShuffledIndex and .getUnshuffledIndex for ease of use."
Continuing from Issue #4915  i was able to come up with my own implementation of my Own Shuffle Order which is bare but works.

[code]

So the idea of mine is that when shuffle is clicked, the current position becomes the first song and the remaining length of the song is shuffled.

i make the player use the shuffle Order like this
[code]
I used a handler to delay adding the shuffle order to the m

[2019-01-23 07:31] Svechnikov commented on #5003
Yes, I understand that setting invalid size will necessary break playback on some other device and it would be a horrible decision to make such thing to `ExoPlayer` :)

ExoPlayer helps to get rid of vendor-specific bugs almost on every level, except hardware decoding.It would be great to have more deeper control over decoding process than existing `MediaCodec` has to offer.

[2019-01-23 08:16] noamtamim commented on #5421
We found the issue -- we changed `playClearSamplesWithoutKeys` to true in MediaCodec**Video**Renderer but not in MediaCodec**Audio**Renderer. So the playback was waiting for keys to decrypt the audio even though the video was ready to play.

[2019-01-23 09:02] nimdokai commented on #4251
thanks for respond. I haven no longer access to the code. Hope that upgrading to the latest version is sufficient solution.

[2019-01-23 09:02] #4251 closed, assigned to erdemguven

[2019-01-23 09:10] tonihei commented on #5426
The` closeAndInsert` and `cloneAndRemove` methods need to be implemented so that all the dynamic updates work correctly. As far as I understand, your main requirement is that the shuffle order starts with the current window index. Instead of implementing your own ShuffleOrder, you could use our DefaultShuffleOrder and provide the pre-shuffled list as you like to have it in the constructor. Somethi

[2019-01-23 09:19] tonihei commented on #5425
Please provide all the information requested in the issue template when filing an issue.

Besides that, the line numbers suggest you are using an old version of ExoPlayer and we made some changes to that class recently. So please update and check whether the issue still occurs.

My best guess would be that you are using ExoPlayer from two different threads simultaneously and run into problems beca

[2019-01-23 09:20] tonihei commented on #5425
Closing for now. If you have the full requested information and can still reproduce in the latest version, please reopen.

[2019-01-23 09:20] #5425 closed, assigned to tonihei

[2019-01-23 09:36] ojw28 commented on #5424
[Http 416 is Range Not Satisfiable](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/416). Which indicates there's still something wrong with the media. Please could you ensure your media plays correctly in at least one other player first, since that will provide at least some level of validation that the media itself is correct.

[2019-01-23 10:11] tonihei commented on #5003
Well, the media codecs are part of the platform and we can't only work around issues or hope for vendor updates if possible. There are ExoPlayer extensions to use software decoders (e.g. ffmpeg for audio) if you prefer that.

[2019-01-23 10:14] mathemandy commented on #5426
The method
[code]

is private in Exoplayer and i do not have access to it
Exo Version :  `implementation 'com.google.android.exoplayer:exoplayer:2.9.1'`

[2019-01-23 10:16] tonihei commented on #5426
It's public in the current release, so maybe you need to update.

[2019-01-23 10:36] Romantic-LiXuefeng opened #5427 "Bug: The player can't play the source, and ANR when releasing player!"
ExoPlayer version: V2.9.0
DEVICE info: [kungfupanda, MiBOX3_PRO, Xiaomi, 22]
The source file has send to you by email.

[code]

[2019-01-23 11:41] mathemandy commented on #5426
alright , i updated, here is where it gets tricky :)
We have List A
[code]
on Shuffle we have
[code]
so when i move Track A to Track E
so my UI ends up  like this
[code]
when i skip to next track ,  it plays someother track apart instead of C then returns to the normal flow. something like that

so my question is am i to send the position of current track in original list  to exoplayer or the posi

[2019-01-23 11:59] ojw28 commented on #4273
Before we do anything, we (or someone) should be measuring why downloads are actually slow. I'm not completely convinced parallel segment downloads is the single biggest thing that could be done to improve thing (vs, for example, optimizing `CacheContentIndex`). Hence I've renamed this issue to specify just the problem, not also the solution.

[2019-01-23 13:04] egorponomarev opened #5428 "Allow surface switching without advancing to the next video frame"
We are using static instance of Exoplayer, which can attach to/detach from TextureView (e.g. when the orientation changes). When the video is paused, it moves slightly forward every time a surface is set to video renderer via a message (e.g.     player.createMessage(videoRenderer).setType(C.MSG_SET_SURFACE).setPayload(surface).send() ). The player position does not change, and seeking to the curre

[2019-01-23 13:21] ojw28 commented on #5427
Please provide a full bug report, as requested in the issue template.

[2019-01-23 13:29] ojw28 commented on #5428
Unfortunately this is a limitation with the underlying platform (unless you add a layer of indirection into the rendering of all output buffers just in case, which significantly increases the cost of video playback). I believe there are plans to remove the limitation in Android Q, so let's leave this open to track this.

[2019-01-23 14:04] tonihei commented on #5426
Enabling the shuffle mode does only change the order in which media sources are played, not their actual order in the playlist. That means `player.getCurrentWindowIndex()` and `concatMediaSource.getMediaSource(index)` return the same values as before no matter if you enable or disable shuffle mode. The only thing that changes is that the player no longer plays index `i+1` after playing index `i`.

[2019-01-23 14:13] WilliamGrondin opened #5429 "TrackSelector setPreferredTextLanguage and setPreferredAudioLanguage many tracks"
If a media source has many subtitle/audio tracks in the same language, `setPreferredTextLanguage` and `setPreferredAudioLanguage` methods select the first track with the language or don't select anything.
How to select another track with the same language ?
MimeType:language tracks sample from the same media source :
`audio/true-hd:eng`
`audio/vnd.dts:eng`
`audio/ac3:eng`
`application/pgs:eng`
`ap

[2019-01-23 14:24] mathemandy commented on #5426
that would be nice because i have something like that to0
[code]
i just needed a pointer. I will work accordingly.
it would be nice to have those methods handy :)

Thanks for all

[2019-01-23 15:38] tonihei commented on #5426
Reopening to mark as an enhancement to add these methods.

[2019-01-23 15:58] erdemguven commented on #5420
Do you use the DownloadManager to the download? If you do the download in a custom way and directly play the local file, there is no way for ExoPlayer to know the download hasn't been finished yet.
Check this post for an explanation on how to use DownloadManager and play downloaded content:
https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95

[2019-01-23 17:16] prasadamsaiteja commented on #5420
My requirement isn't an HTTP source, it is a Torrent Protocol so am forced to use a custom way to download the file.

[2019-01-23 23:04] ojw28 commented on #5409
The video resolution is always known when the output buffers come out of the decoder. As above, use `VideoListener.onVideoSizeChanged` to get it.

ExoPlayer doesn't currently support this use case (although with enough ingenuity it would be possible to implement with the various components that ExoPlayer provides). Providing direct support is tracked by https://github.com/google/ExoPlayer/issues/3

[2019-01-23 23:17] ojw28 commented on #4091
Closing due to lack of update. As above, if this still reproduces then I think you should probably report the issue to the ChromeOS team.

[2019-01-23 23:17] #4091 closed, assigned to andrewlewis

[2019-01-23 23:28] ojw28 commented on #5419
Closing for now. If you still have an issue, you'll need to provide a small demo project that reproduces the problem.

[2019-01-23 23:28] #5419 closed, assigned to ojw28

[2019-01-24 03:00] Romantic-LiXuefeng commented on #5427
### Issue descriptions
The ExoPlayer/MediaPlayer all can't play the source file.   When click the back Button to release the ExoPlayer, it happens ANR. And the MediaServer can't work. The other players(such as MediaPlayer, other APP's player ) in the MIBOX3 all can't work. Must to restart the MiBOX3.
But if use the MediaPlayer, it only can't play the source file, it can release player. Not happen

[2019-01-24 03:10] Romantic-LiXuefeng commented on #5427
![image](https://user-images.githubusercontent.com/9837705/51651699-ea37f700-1fc7-11e9-83c4-856512054960.png)

I need to describe the source file. if configure the scan type is  MBAFF when transcode . the result source file will cause the problem described as before. I think this is terrible to restart the MIBOX if happen to this bug.
but if configure the  Scan type : Progressive. it works well. I

[2019-01-24 04:31] kibute1202 opened #5432 "Cannot play mp4 link ( SDK <= 5.0 )"
[code]

[2019-01-24 05:44] shgrg1712 commented on #5424
Hello Oliver ,
                    Can you suggest me good player which plays m3u8 and ts media locally. I will test the media.

Thanks

[2019-01-24 06:26] AndroidDeveloperLB commented on #5409
I see.
The link you provided seems like the exact question I asked, right? Though, it is said about audio and not video... So I've asked about it there too :)

[2019-01-24 06:28] AndroidDeveloperLB commented on #3609
Can you please also consider adding metadata extraction of video files?

[2019-01-24 07:05] shgrg1712 commented on #5424
Hello Oliver,
                   I have made the improvements in my media. Now I am getting another error.

2019-01-23 17:21:25.881 31120-31200/com.google.android.exoplayer2.imademo
E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.ParserException: Cannot find sync byte. Most likely not a Transport Stream.
        at com.google.android.exoplayer2.extractor.ts.TsExtractor.fin

[2019-01-24 08:05] icetronics commented on #5378
Hi @ojw28, just came back to let you know that your fix is working marvelously. Many thanks for the prompt action!

[2019-01-24 08:09] SunielNayak commented on #5117
create a notification and this notification passed in startForeground() method.
and set permission in manifest ->

<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

code->

  Notification notification = new Notification.Builder(this, NotificationMyChannel.ID)

                    .setContentIntent(pendingactivity)
                    .setSmallIcon(R.mipmap.radio1)

[2019-01-24 08:48] xiaoxixi615 commented on #5396
@erdemguven
I find the reason is that the allocating process is faster than the releasing process in DefaultAllocator,  availableCount for re-use is not enough,  so new allaction(64*1024) is always created, after a long time, memory is used up, and oom occurs.
[code]
can you help to give some advice on how to fix this issue? thanks a lot.

[2019-01-24 09:09] tonihei commented on #3609
@AndroidDeveloperLB  That will be included. There is already pending work in that area and we will notify this thread if we publish something.

[2019-01-24 09:14] andrewlewis commented on #5427
If you use MBAFF then parts of the stream stream can be interlaced, which won't be supported on all devices. See also issue #3468. It sounds like you have control over how the stream is encoded, so can you just apply deinterlacing there and produce a progressive stream for playback?

[2019-01-24 09:40] AndroidDeveloperLB commented on #3609
@tonihei That's great news.
But I also wonder something: Doesn't the Android framework already offer such things ? Or do you plan on much more than what it offers, and have a consistent result, or something ?

[2019-01-24 10:17] ojw28 commented on #5378
Glad to hear it; thanks for confirming!

[2019-01-24 10:25] Romantic-LiXuefeng commented on #5427
In my opinion, Despite the video file is not supported on device, but the MediaServer can't work is terrible. Hope you can explain why?

[2019-01-24 10:28] ojw28 commented on #5424
That still suggests the media is invalid. I suggest you verify that the media plays correctly with VLC and popular web players, such as [HLS.js](https://hls-js.netlify.com/demo/) before reporting issues here. Closing for now, because the media appears to be invalid.

[2019-01-24 10:28] #5424 closed, assigned to ojw28

[2019-01-24 10:28] ojw28 commented on #5432
We cannot help with this kind of issue unless you properly fill in the issue template. Please do so below, and we'll take a look.

[2019-01-24 10:31] ojw28 commented on #5429
What's different about the multiple tracks (with the same type and language)? Is there anything in the track `Format` objects that allows them to be disambiguated from one another?

[2019-01-24 11:27] erdemguven commented on #5195
Sorry for late return, I finally tried on a Nexus 6 6.0.1 and couldn't reproduce the problem. It looks like a device specific issue.

[2019-01-24 11:28] ojw28 commented on #5427
If the underlying MediaServer is getting into a bad state, that's likely a device specific issue. Does it occur on other devices? If it's device specific you should report it to Xiaomi (and yes, I agree, it should be robust enough to avoid this from happening).

[2019-01-24 12:03] erdemguven commented on #5286
I tried on Nexus 6 Android L using the latest ExoPlayer and couldn't reproduce the issue. Could you try the latest ExoPlayer version and let us know the result. It can be a device specific issue.

[2019-01-24 12:29] erdemguven commented on #5406
@tonihei could you look at this.

[2019-01-24 12:54] tonihei commented on #5393
Please have a look at our guide for [track selection](https://google.github.io/ExoPlayer/guide.html#track-selection) and the documentation of the referenced classes. You can set the preferred language in the `trackSelectorParameterBuilder.setPreferredTextLanguage(...)` or directly select a specific track after creation by using  `trackSelectorParametersBuilder.setSelectionOverride(...)`.

[2019-01-24 12:57] erdemguven commented on #5415
Do you use DownloadService? If so unfortunately currently it isn't supported:
Support manually stopping/starting download when using DownloadService #4433
But we're working on it and should be fixed in a few weeks.

[2019-01-24 13:22] erdemguven commented on #5389
I don't know if this is possible but apparently we don't support it yet so marking as enhancement.

[2019-01-24 13:26] AndroidDeveloperLB commented on #5389
@erdemguven Maybe it's possible that upon starting to drag, I will get a bitmap of the ExoPlayer (of exactly how it looks), set it to be drawn?
Is it possible on ExoPlayer? To pause and get the current frame as a bitmap? I think it could be the correct solution.
I also think that the issue here is that ExoPlayer doesn't really draw to a normal canvas like other Views , so it requires a bit more so

[2019-01-24 13:29] AndroidDeveloperLB opened #5433 "Request: allow PlayerView to be clickable"
This is a tiny request.

I've noticed that if I set an `OnClickListener` on the `PlayerView` (even if I add `android:clickable="true" android:focusable="true"` in the layout file), it doesn't respond to click events.

Please allow the view to be clickable, maybe even touchable...

The only solution for this, is to set the `OnClickListener` on the container, or a view that's on top of the `PlayerVi

[2019-01-24 13:32] levyshachar2 commented on #5403
Hi , thank you for your comment.
We investigated a little more and it seems like that issue probably related to awscli sync and less related to exoplayer.
I'm closing this issue , thank you

[2019-01-24 13:32] #5403 closed, assigned to ojw28

[2019-01-24 13:35] erdemguven commented on #5396
@jqacn3000 @xiaoxixi615  Have you tried ExoPlayer demo app, does the same thing happen?

[2019-01-24 13:37] meenukrishnamurthy commented on #5415
Yes im using DownloadService.Is there any other way to achieve this.I actually want to pause and resume download when pause is clicked in my app.

[2019-01-24 13:59] WilliamGrondin commented on #5429
HI,

If the audio tracks have the same language, they don't use the same audio codec. The user should choose the audio codec according to his audio system : TrueHd 7.1, DTS or AC3 2.0 for example.

It is about the TrackSelector class and its methods : setPreferredTextLanguage or setPreferredAudioLanguage.
This is the partial code allowing to select `eng` audio track  :
[code]
In the in the example

[2019-01-24 14:10] ojw28 commented on #5429
ExoPlayer will already be looking at the platform capabilities and selecting tracks that it thinks is supported. Although the extent to which the platform is aware of the audio system's capabilities might depend on how it's connected. I _think_ if it's via HDMI, then the platform should know, but @andrewlewis can confirm. So perhaps you don't need to do anything in your application code?

To answe

[2019-01-24 14:28] WilliamGrondin commented on #5429
I gave the audio codec for example, but this is the same problem for subtitles.
The media source can have multiple subtitle tracks in the same language and mimetype.
Some accessible media can contain :
english subtitle same as the audio
english subtitle containing non-speech information
english subtitle positioned to convey who is speaking
etc...

Thank you for your answer

[2019-01-24 14:53] erdemguven commented on #5420
Some questions to clarify the problem:
* Do you do sequential download of torrent files, so they can be played during download?
* You want to play the files, not just buffer, right? I didn't understand the significance of buffering.

[2019-01-24 15:24] AndroidDeveloperLB opened #5434 "Bug: unable to play video just once for files that are inside of the app"
For some reason, even though I set  `player!!.repeatMode = Player.REPEAT_MODE_OFF` , I keep seeing the player playing in an infinite loop.

Trying to have a workaround for it using `player!!.playWhenReady = false` inside the callback of  `onPositionDiscontinuity` , it pauses after it already started the new loop.

I think this is a bug, because it seems all of the `repeatMode` values do the same t

[2019-01-24 15:44] ojw28 commented on #5434
It's looping because you're using `LoopingMediaSource`. Which you're not using when playing from the web.

[2019-01-24 15:44] #5434 closed, assigned to ojw28

[2019-01-24 15:46] AndroidDeveloperLB commented on #5434
@ojw28 I see, so what's the point of having the `repeatMode` in this case ? And what should I use instead?
Why is there `LoopingMediaSource` , if it ignores  `repeatMode` ? I thought that it just allows it ...

[2019-01-24 15:49] AndroidDeveloperLB commented on #5434
EDIT: I think this solves it:

`prepare(LoopingMediaSource(ExtractorMediaSource.Factory(factory).createMediaSource(rawResourceDataSource.uri),1))`

Is it correct?
But then when can I use `repeatMode` ?

[2019-01-24 15:53] ojw28 commented on #5434
You don't need to be using `LoopingMediaSource` at all. Just use repeat modes. Repeat modes should normally be preferred as per the special box on this subject in the [developer guide](http://google.github.io/ExoPlayer/guide.html#looping-a-video). `LoopingMediaSource` may be useful for certain niche use cases where you want to repeat a fixed number of times (without having to count them yourself).

[2019-01-24 15:55] erdemguven commented on #5420
You can develop your own DataSource and if the seeked location isn't available you can priorite the download of that section and wait until it's downloaded. Some points to keep in mind:
1. DataSource reads need to return valid data
2. The file data may be requested non-sequentially (so downloading sequentially and blocking for data is quite likely to not be a good experience)
For (2), formats like

[2019-01-24 15:59] AndroidDeveloperLB commented on #5434
It's actually a bit weird for me. Why not letting the `repeatMode ` handle all of those cases? Meaning it can take number of looping iterations: 0 - infinite, 1 - just one iteration, and so on?

Also, what should I use instead of `LoopingMediaSource` ?

Just this:

`prepare(ExtractorMediaSource.Factory(factory).createMediaSource(rawResourceDataSource.uri))` ?

Seems to be correct.

I don't underst

[2019-01-24 16:09] tonihei commented on #5406
I'm not sure I completely understand the question, but this is about selecting the video resolution to play, please have a look at our [track selection documentation.](https://google.github.io/ExoPlayer/guide.html#track-selection)

[2019-01-24 16:12] Romantic-LiXuefeng commented on #5427
We only find this occur on MiBOX3_PRO. but when using MediaPlayer to play this source file, it only plays fail, don't cause the ANR and underlying MediaServer works well. The MediaPlayer also use the decoder OMX.MTK.VIDEO.DECODER.AVC.

[2019-01-24 16:42] HighA commented on #5301
Sorry to insist but since nobody else answers you about wether this new version works as intended or not, I'll be glad to try it out and give you feedback I just need a little help to implement it in my project. I don't find any documentation about how to do so on the web besides the official one that didn't gave me much help

[2019-01-24 17:23] ojw28 commented on #5429
You can use selection overrides for that. Although it depends on whether you can disambiguate between these subtitles somehow. If you're not able to do so, but you know there's some flag in the media container that indicates the type of each track, then let us know and we can look at getting it into `Format` objects.

[2019-01-24 17:27] ojw28 commented on #5433
I added the following code to the ExoPlayer demo app (in `PlayerActivity`), and clicks were received and logged fine, except in the case they were specifically handled by one of the view's interactive components (e.g. the seek bar and the playback control buttons):
[code]
So I'm not sure there's anything to do here.

[2019-01-24 17:30] ojw28 commented on #5434
Yes. Just provide an `ExtractorMediaSource` and use repeat modes.

`LoopingMediaSource` predates the more flexible repeat modes. There are still some niche use cases where it's easier to use it instead of repeat modes, such as repeating a fixed number of times without having to count them yourself.

[2019-01-24 17:48] HighA commented on #5301
Ok I managed to make it work. I have an isue with the way it works : when I stop the player, it automatically cancels the notification, because in my app, pausing the player automatically stops it, because I play a live stream and I don't really want the user to "pause" it, but I prefer to use a pause button for design purpose and keep the notification active to restart the stream later.

[2019-01-24 18:01] HighA commented on #5301
ok i tried it I have a little problem with the way it works : in my app, I stop the player when it is paused, because I play a live stream and I get the tracks infos from another server, so if I let the user pause and resume the stream a few seconds later the infos will be desynchronized and it's not really user friendly.  Plus I don't want a user to stop the stream to resume it for the next song,

[2019-01-24 18:28] prasadamsaiteja commented on #5420
Yes, I download the torrent file (single video file) sequentially, so the exoplayer plays fine until the user the seek to position where the file hasn't been downloaded. Thus exoplayer throws an error.

Can you please attach some reference on building a custom data source?

[2019-01-24 20:32] kvillnv commented on #5397
We were able to reproduce the bug again on a third device.
I have just sent you the information privately by e-mail.

To sum up:
* This bug happened on 3 Android TV STBs from 3 different manufacturers.
* 2 are Android 7.1.1 and the other one Android 8.0.0.
* Happens when tunneling enabled.

Thanks for your help.

[2019-01-24 23:51] PathakBal opened #5435 "How to tweak Exo Player to reproduce framedrops in Samsung GS6."
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2019-01-25 03:29] cylof22 commented on #5381
[code]

[2019-01-25 03:32] cylof22 commented on #5381
@erdemguven The SimpleExoplayer is used in a RecyclerView. All the ViewHolder will share a single instance. When a new ViewHolder is binded, the media source is reset. The Audio is playing, but the corresponding surface view is always black.

[2019-01-25 03:34] xiaoxixi615 commented on #5396
@erdemguven
ExoPlayer demo doesn't have the same problem,  I find that after adding the [android:largeHeap="true"] property in AndriodManifest.xml, the OOM gone. Thank you very much

[2019-01-25 10:10] #5335 closed, assigned to marcbaechinger

[2019-01-25 10:11] EspoirX opened #5436 "How to hide the notification bar when downloading in DemoDownloadService"
The DemoDownloadService in the demo has the related operation of the notification bar. When the download is completed, there will be a notification bar prompt, but in the actual project, I don't want to have such a prompt, but if the relevant code of the notification bar is removed, an error will be reported. Don't tell the bar when downloading, what should I do?

[2019-01-25 10:30] marcbaechinger commented on #5301
Thanks for looking into that and giving feedback!

The `NotificationListener` is not deprecated, but we added two new methods which have a default implementation. The other methods are deprecated though. I recommend migrating to the new ones which should be easy. Please note that default methods of Java 8 interfaces need to be overridden specifically, because there is no need to implement them as

[2019-01-25 12:08] ojw28 commented on #5436
I'm not entirely sure what the question is here. Are you saying you don't want a notification whilst the download is ongoing? Or you don't want a notification when the download is completed? Or something different? I don't really understand what you mean by a "prompt". Please clarify.

[2019-01-25 12:10] ojw28 commented on #5435
It's pretty unclear what you're trying to do here. Speeding up playback is one way to cause dropped frames. There are various other ways too, particularly if you have ExoPlayer checked out as source. For example you can add additional `Thread.sleep` calls on the renderer loop, for example.

[2019-01-25 12:10] #5435 closed, assigned to ojw28

[2019-01-25 15:30] natario1 opened #5437 "Audio discontinuity detected and faster playback"
I am recording mp4 videos by passing them to android MediaMuxer, then reproducing them with ExoPlayer. What happens is that I get a bunch of these logs:

[code]

And playback speed is faster than it should. I guess this is intended behavior but I would like to know

- Why is ExoPlayer doing this - increasing playback speed?
- Can this behavior be disabled?
- What does this tell about the video fil

[2019-01-25 16:31] andrewlewis commented on #5437
It looks like the duration of audio data contained in the audio samples written to the AudioTrack is less than the duration implied by their timestamps.

[2019-01-25 17:35] PathakBal commented on #5435
Thanks for reply..  My objective was to drop frames to test few cases ... I had used first way to drop frames and will try sleep method too.

[2019-01-25 18:47] elbekD commented on #1993
Hi! When this feature is going to be supported?

[2019-01-25 19:11] HighA commented on #5301
Ok thanks I found the new methods, tried it out and yes they do the trick for ongoing and foreground issues 👍 anyway I still have a few questions :

About what you said about the Java 8 methods I'm a little confused. How do I spot these methods ? will they mess with my app and create bugs or unexpected behavior so I can spot them ?

And the most important : about the createNotification I have to o

[2019-01-25 19:47] natario1 commented on #5437
Thanks for your answer @andrewlewis , is this the only possible cause? I am now computing each sample duration as follows (mono):

[code]

Which leads me to another situation where there are no error logs from ExoPlayer, no fast playback, but still audio is played faster than it should.

Just for "fun" I have tried applying a multiplier to this frameUs. If I make it big enough (> 1.1), I fall agai

[2019-01-26 02:20] EspoirX commented on #5436
yes,I don't want a notification whilst the download is ongoing

[2019-01-26 14:25] clhols opened #5440 "DefaultBandwidthMeter.Builder without context used in release-v2"
I can see that the dev-2 branch passes context to DefaultBandwidthMeter.Builder here:
https://github.com/google/ExoPlayer/blob/923aa420dfe6eb19eb05647d90d7c5aff62198fb/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerFactory.java#L443

But that has not been included in the two latest releases. Why is that?

[2019-01-26 14:32] melakhvision commented on #5379
Thanks . Let me test that method and I will let you know

[2019-01-26 14:37] bounmed opened #5441 "HLS: Error playing content with AES-128 encrypted initialization segment"
Can't play some X265 videos.
the video info are :

[code]
i got this error in adb log
[code]

I added this line befor the error to see the value of bytesRead the result in the log

[code]
any help please how to fix this?

[2019-01-26 14:43] bounmed commented on #5441
I want to add that the url works well in quicktime player.
and i can play some x265 video like this one
https://s3.amazonaws.com/x265.org/video/Tears_400_x265.mp4
As  media server i use nginx vod-module HLS

[2019-01-26 15:13] ojw28 commented on #5440
It's quite common for changes to not be picked up in minor releases (i.e. releases where only the bottom number of the version changes). The change will be in 2.10.0.

[2019-01-26 15:13] #5440 closed, assigned to ojw28

[2019-01-26 15:20] ojw28 commented on #5436
A notification is required for the service to be in the foreground, and the service is required to be in the foreground to ensure the process doesn't get killed. See the [Android foreground service documentation](https://developer.android.com/guide/components/services#Foreground) for mode details.

If you really do want to run the service in the background without a notification, then you can pass

[2019-01-26 15:20] #5436 closed, assigned to ojw28

[2019-01-26 15:31] ojw28 commented on #5437
It's highly likely there is something wrong with the media files you're trying to play. If you provide a sample file then we can tell you what's wrong with it. Without one, I'm not sure there's much we can do.

Aside: The sample code above is going to under-count time slightly, because each `frameUs` is rounded down, and then you accumulate those values. I doubt that's your actual problem though!

[2019-01-26 15:42] ojw28 commented on #5441
I suspect this issue can occur if the media contains a top level atom (probably the `mdat`) with atom size set to `0`, and if the media is also hosted on a server that does not set the `Content-Length` response header. Technically I think it's valid to do both of these, but I'd consider it best practice to do neither. So I'm not sure we'd consider this hugely important to fix, if it is indeed the

[2019-01-26 19:41] natario1 commented on #5437
I have uploaded [a video](https://drive.google.com/open?id=15S4-75pIxKzewNymcMl36I65lP54kzU5) of about 20 seconds. I had a counter while recording. Each second I simultaneously tapped the notebook with my hand, and counted a number (in my language, sorry). You can see that

- video is OK (though prob. not smooth as it is when I record without audio)
- audio is faster than it should
- no ExoPlayer

[2019-01-26 23:58] Cardas26 commented on #3026
I have this issue with a number of MKV's and would love to see it fixed. Exoplayer is used by the Emby  Android TV app to play movie files, and the issue has been reported on the Emby forums a number of times:

[Report 1](https://emby.media/community/index.php?/topic/68895-auto-boxsets-and-file-playback-issues/?p=690419)

[Report 2](https://emby.media/community/index.php?/topic/61599-long-waittime

[2019-01-27 03:45] melakhvision commented on #5379
@AquilesCanta I try this method but it's not working.....

[code]
How to make it work .

[2019-01-27 06:25] iamsethsamuel opened #5442 "Flute support"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at

[2019-01-27 06:26] #5442 closed, assigned to nobody

[2019-01-27 06:28] iamsethsamuel opened #5443 "Flutter support"
Please is there a way to integrate Exoplayer with Flutter?

[2019-01-27 07:11] AHuminskyi commented on #5433
Yeah, I also see that this question is opened. So i'm implemented a work around :)  I based my playerView under the view **(playerContainer)** . It will intercept all touch events including onClick()

`playerContainer.setOnClickListener {
            if (videoPlayer.playWhenReady && videoPlayer.playbackState == Player.STATE_READY) {
                videoPlayer.playWhenReady = false

[2019-01-27 07:40] AndroidDeveloperLB commented on #5433
@ojw28 To me it doesn't work. Tested on Pixel 2 with Android P.
Check attached project and video to show issue.

[ExoPlayerTest.zip](https://github.com/google/ExoPlayer/files/2799843/ExoPlayerTest.zip)

[2019-01-27 07:56] AndroidDeveloperLB commented on #5434
@ojw28 Isn't `LoopingMediaSource`  more powerful? It allows no repeating, infinite repeating, and specific-loop-iterations of repeating.
What's more is there? And if `repeatMode ` replaces it, why doesn't it have the specific count of repeating?
I don't get why have 2 mechanisms for repeating. Because of this it didn't work for me as I was confused about using them both ...
Could you please at lea

[2019-01-27 11:39] ojw28 commented on #5434
No, because it doesn't allow turning repeating on and off during playback (e.g. to build a UI toggle), and because it doesn't have the concept of `REPEAT_MODE_ONE` vs `REPEAT_MODE_ALL`.

It doesn't make any sense to use both at once, and there's no evidence that developers in general are confused by this issue. `LoopingMediaSource` is already documented reference using `setRepeatMode` instead, as

[2019-01-27 12:25] ojw28 commented on #5433
Ah... It looks like this is fixed already in `dev-v2`, but the fix hasn't been included in any release yet. I think it was fixed in 0a7745bc03c93709e178c578a4649eb534e8a9e0, which changed how `PlayerView` handles touch events to fix a warning. It likely didn't get cherry-picked into a minor `2.9.x` release because we didn't realize it was actually fixing something other than the Android Studio war

[2019-01-27 12:26] AndroidDeveloperLB commented on #5433
@ojw28 Can you please explain what is the origin of this issue? Why is there even something that changed the default behavior of View being clicked?

[2019-01-27 12:27] ojw28 commented on #5443
It looks like the [Flutter video player plugin](https://github.com/flutter/plugins/tree/master/packages/video_player) uses ExoPlayer, so you should probably take a look at using that. This is really a question for the Flutter team, however.

[2019-01-27 12:27] #5443 closed, assigned to ojw28

[2019-01-27 12:29] ojw28 commented on #5433
Why don't you look in the referenced commit, if you're interested? `PlayerView` has logic for handling touches because it needs to display the player controls when this happens.

[2019-01-27 12:32] AndroidDeveloperLB commented on #5433
@ojw28 I see. Thank you

[2019-01-28 01:03] natario1 commented on #5437
I managed to make this work by improving threading a lot. My record thread was doing extra work thus losing some audio.

The way AudioRecord works is very confusing to me, but won't go into this here. Thanks to the team!

[2019-01-28 01:03] #5437 closed, assigned to andrewlewis

[2019-01-28 07:00] ogaclejapan opened #5444 "ExoPlayer freezes after playing ad"
### Issue description
ExoPlayer freezes at the ending of the ad, in BUFFERING state. This problem occurs when the advertisement interval is very short and VAST response document is empty.

[code]

### Reproduction steps

https://github.com/google/ExoPlayer/compare/release-v2...ogaclejapan:ima-freezes?expand=1

* Demo1: freezes at 18s
Ad cuepoints : 0s(empty), 18s, 19s(empty)

* Demo2: no problem
A

[2019-01-28 09:52] xiaoxixi615 opened #5445 "local video unseekable"
@andrewlewis

I'm testing a local video with ExoPlayer, and it can be played well but unseekable, I have searched some related issues and found a similar case #4856

but i don't know how to verify whether the cues are missing or incomplete due to the way the file was created.  Is my issue same as #4856?

Please help to figure out what problem my video is,and how to fix it. Thank you very much.

##

[2019-01-28 10:01] AquilesCanta commented on #5379
It's not entirely obvious to me you are injecting the created data source into the media source. Make sure the created media source uses the correct data source factory instance. You can try dumping all request headers that your app is sending somewhere to check whether your code is actually working.

If you are completely sure you are using an HTTP User-Agent that does not contain the "exoplayer"

[2019-01-28 10:01] #5379 closed, assigned to erdemguven

[2019-01-28 10:38] shgrg1712 opened #5446 "Does Exoplayer support to play HLS audio only ?"
Hello Team,
                  I am using Exoplayer demo app to play HLS Audio only file. But it is showing "Can't sync bytes. May be not a transport stream".  I have checked internet websites but could not get good source of information.

Following Issue IDs , I have checked.   #73 , #1283

We have taken mp3 file to convert it into HLS media. But we are not able to play normal ts file
 by exoplaye

[2019-01-28 10:59] AquilesCanta commented on #5446
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-01-28 10:59] #5446 closed, assigned to AquilesCanta

[2019-01-28 11:42] andrewlewis commented on #3026
Thanks for the information.

We are still treating this as a low priority feature request. I think we'd also welcome a pull request that adds support.

[Also tracked by internal issue: b/122814967.]

[2019-01-28 12:35] akhilesh-hsc opened #5447 "onTracksChanged(TrackGroupArray trackGroups, TrackSelectionArray trackSelections) is getting called twice on next button click event"
### Issue description:
While migrating my player from ExoPlayer1 to ExoPlayer2, I have a use case in which I need to set some data specific to the current media (of the playlist), at the start of its playback.  After going through ExoPlayer2 docs I found two possible callbacks (event listener of exoPlayer2):
1. onPositionDiscontinuity(int reason)
But as this callback also fired in case of seek so

[2019-01-28 12:45] tonihei commented on #5447
Please have a look at our [FAQs](https://google.github.io/ExoPlayer/faqs.html#how-can-i-tell-when-playback-moves-to-the-next-item-in-a-playlist) about this question. Or look at similar issues which go in a bit more detail (e.g. [#4898](https://github.com/google/ExoPlayer/issues/4898#issuecomment-427008090))

[2019-01-28 12:45] #5447 closed, assigned to tonihei

[2019-01-28 13:03] akhilesh-hsc commented on #5447
Gone through the FAQs, But for the playlist:
- on normal media playback end and start of next media playback : reason = Player.DISCONTINUITY_REASON_PERIOD_TRANSITION. and I am also getting the same. BUT
- on next button click why I am getting below two reason one after another ?:
   reason = Player.DISCONTINUITY_REASON_SEEK
   reason = Player.DISCONTINUITY_REASON_SEEK_ADJUSTMENT

[2019-01-28 13:47] tonihei commented on #5447
If you are seeking to the next playlist item (that is, click on the next button), you get the discontinuity with reason SEEK. If the next playlist item needs to adjust the position for some reason, you'll get another discontinuity with reason SEEK_ADJUSTMENT because the position changed again.

[2019-01-28 15:51] davibe opened #5448 "Current state of HDR support on Android"
Sorry if this is not a reproducible issue. I need some help to figure things out. I started with a sample HDR video (which unfortunately I can't share). It's an hevc main10 HDR hls video. I tried to play it on a Google Pixel 3 (which is supposed to support HDR). If i play it using exoplayer on a GLSurfaceView colors are grayed out, which is typical when the screen does not reproduce correctly the

[2019-01-28 17:40] rs146 commented on #5444
Hi, I am facing a similar issue where the player continues playback before the last ad in a multiple ad roll completes. I can see the ad countdown timer at the bottom left of the screen (at 0:00 remaining) while the player has continued playback.

This occurs when the actual ad length is very short as mentioned above. And sometimes it's stuck in the BUFFERING state too (as mentioned above).

I am

[2019-01-28 19:45] AquilesCanta commented on #5445
Seems so to me. I'm sorry I cannot provide more assistance than what #4856 includes. You should try re-packaging the content in a seeking-friendly format. For instance, you can run

ffmpeg -i sony.mkv -c copy seek.mkv

Good luck.

[2019-01-28 19:45] #5445 closed, assigned to AquilesCanta

[2019-01-28 21:58] bounmed commented on #5441
Hi Oliver i sent you by email a sample media and the way to reproduce the issue hope you find a solution.

[2019-01-29 02:01] eneim commented on #5433
Also have this 'issue' before, my workaround is also to wrap it by a FrameLayout ... Really appreciate a 'fix' :D.

[2019-01-29 02:20] tuesda commented on #5406
@tonihei I read the documentation and found that is not what I need. My questions is for example If I have a video which dimension is 1920 x 1080, is there any way in Exoplayer to render this video with 960 x 540 dimension. Because I noticed that MediaCodec can specific video render dimension with MediaFormat, and Exoplayer is based on MediaCodec so I wonder if Exoplayer can do so too.

tks!

[2019-01-29 05:17] akhilesh-hsc commented on #5447
State transition with onPositionDiscontinuity() seems little confusing. Anyways, I assume it is as per design. But my query still not solved.
I am looking for an callback which gets fired (single time) when current window index changed (on start of each media playback of a playlist of size one or more, regardless of weather the previous media has ended normally on playback completed or user has pr

[2019-01-29 06:04] shgrg1712 opened #5449 "Download Encrypted HLS media on device and Convert it into MP4 file"
Hello Team,
                  I have new requirement in which I need to download encrypted HLS media from Amazon s3 server which means download m3u8 and ts files. After downloading the encrypted HLS media , I need to convert the data into normal mp4 (First do decryption) file on device.

I am posting this requirement on exoplayer forum because I have seen one post which shows that exoplayer suppor

[2019-01-29 06:17] akhilesh-hsc commented on #5447
Thanks for the quick help 👍.  Now I am moving my track change logic from "onTrackChanged()" to onPositionDiscontinuity().
Just one more query, Will the track change logic keep working correctly with "onTrackChanged()" for Exoplayer version < 2.9.0 ?

[2019-01-29 08:23] andrewlewis commented on #5448
https://source.android.com/devices/tech/display/hdr should address some parts of this, so please have a look at that and reply here if there are remaining questions. Thanks!

[2019-01-29 08:33] iikimamhambali opened #5450 "com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 502"
Good evening,

We want to asking about exo player using the HLS media source, in case we using m3u8 file. Only several url play normally, but we found url m3u8 file can't play with this error message :

"com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 502"

Hope you can help us to solve this issue, thank you

Best regards,

[2019-01-29 08:47] userdimi opened #5451 "Issues by playing DASH Widevine DRM HD content on Google Pixel C"
**Issue description**
I'm trying to play DASH Widevine DRM HD content with the exoplayer demo app on Google Pixel C. But after a few seconds the video is stopping and only the audio is running in the background.

**Reproduction steps**
Start the video from the sample chooser. Click on the button "video". Check the "1280 x 720 5,80 Mbit/s" or "1920 x 1080, 7,80 Mbit/s" checkbox.  Apply my choice wi

[2019-01-29 09:00] tonihei commented on #5406
If the video is 1920x1080, you have to send samples of this size to the MediaCodec. Note that this doesn't mean the displayed video can't be smaller. That depends on the surface size and the output is automatically scaled to surface size.

Can you explain what you would like to achieve?

[2019-01-29 09:05] tonihei commented on #5447
onTracksChanged actually had a bug < 2.9.0 because it only reported the one change instead of two. Note that the "tracks" which are changed are unrelated to playlist items. Tracks are specific selections of video, audio and text tracks. If you seek to new playlist item which hasn't been prepared yet, the player briefly transitions to a state without selected tracks and shortly after that it select

[2019-01-29 09:46] janbolat commented on #5417
It would be very helpful to set it programmatically and show different controls depending on some conditions.

[2019-01-29 09:49] davibe commented on #5448
@andrewlewis that's the second link from my question. It's the first thing I have read. I try to update my questions to make them more clear.

[2019-01-29 10:02] andrewlewis commented on #5448
Quoting from that link:

Does the Samsung Galaxy S8 have a video decoder with tunneling?

[2019-01-29 10:19] AquilesCanta commented on #5450
That means the server you are hitting is responding with a [502](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_Error).  There is not much we can do about it. Without any more information, I can only assume it's a server-side issue. Have you managed to play with any other player? If so, please fill the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_T

[2019-01-29 10:19] #5450 closed, assigned to AquilesCanta

[2019-01-29 10:23] AquilesCanta commented on #5451
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

Sample media and a full bugreport (run `adb bugreport` briefly after the issue occurs) are particularly important here.

[2019-01-29 11:33] ghost commented on #3750
Yes, we are very much interested in this feature. As this feature will help us in the promotion of our pack and this will impact business. We are eagerly waiting for this feature, if it's not gonna fix any time soon then it would be very much workaround to be implemented on the app side. So, please keep on updating the status.

[2019-01-29 12:13] userdimi commented on #5451
@AquilesCanta Thank you for your quick response. I've updated my issue.

[2019-01-29 12:25] srinivasgoud opened #5452 "How to handle the cast ExpandController in castplayer and how to set the image for castplayer."
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2019-01-29 13:41] AquilesCanta commented on #5452
It's not clear to me what the question is or whether it's an ExoPlayer issue. Please clarify.

[2019-01-29 13:41] #5452 closed, assigned to AquilesCanta

[2019-01-29 15:51] gkovacs87 opened #5453 "Cannot play Smoothstream + DRM on TCL AndroidTV"
### Issue description

Some of the TCL AndroidTV devices cannot play SmoothStream videos with Playready DRM protection.
We can reproduce the issue in our applications and also in the ExoPlayer demo application.

We receive the following error:
[code]

### Reproduction steps
1) Launch ExoPlayer demo application
2) Select Smootstreaming > Super Speed (Playready) content
3) Notice the "Playback faile

[2019-01-29 18:51] antonkrasov commented on #3535
Hey guys, same issue here, device - **HUAWEI Mate 20 Pro**
[code]

[2019-01-29 19:44] kvillnv commented on #5397
@andrewlewis, did you have a chance to try reproducing the steps I mentioned in the sample?
Please share your observations.

The issue is still tagged "need more info. I believe the provided information should demonstrate the player's unexpected behaviour.

[2019-01-29 22:16] paf-wv commented on #4198
Hello,
Thank you for your patience. LG has confirmed there is a new build and should be deployed soon to the end users.  Unfortunately there are no hard dates to report.

[2019-01-29 22:16] #4198 closed, assigned to fredgc, paf-wv

[2019-01-29 23:29] rrfrias commented on #5217
We are following up with the SoC to root cause the issue.

[2019-01-30 03:25] NathanSass opened #5454 "Extremely long seek with HLS audio"
I'm building an HLS player for audiobook content.

If I jump forward a few files and then seek backward 30 seconds, exoplayer will take at least 45 seconds to begin playback. During this time, the player does not indicate that any sort of `loading` or `buffering` is taking place.

The code sample below occurs just after I seek backwards. I'm using `Player.EventListener` to get a handle on exoplaye

[2019-01-30 07:50] joechan-cq commented on #5286
@erdemguven I clone the Demo Application with the newest version(2.9.4), and I found the code
![image](https://user-images.githubusercontent.com/9456005/51966013-47d7b200-24a6-11e9-81ef-49422b03c47f.png)

So if below Api 23, it will release the player and reInit when it resumed. If you note the code that in the screenshot, just pause the video before making the app background, you can produce the

[2019-01-30 09:27] andrewlewis commented on #5397
Sorry for the delay. It may still take a while before we get round to looking at this.

[2019-01-30 09:59] mseroczynski commented on #4519
I had to downgrade back to 2.7.3, many phones seem to still have codec related problems on 2.9.3. I think choosing codecs in MediaCodecUtil should be prioritized (not first in returned list). Are you guys using this updated (2.7.3+) EP version in apps like Youtube / Google Play Music? No bug reports, really..? Just asking.

[2019-01-30 10:05] ojw28 commented on #4519
Some of our internal apps are using `2.9.x`. Note that YouTube doesn't play mp3s, as far as I'm aware. "many phones seem to still have codec related problems on 2.9.3" is vague to the point of being non-actionable. If you have issues, please provide concrete details and we'll fix them.

[2019-01-30 10:20] AquilesCanta commented on #5454
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-01-30 10:40] szaboa commented on #5421
@ojw28

If only this needs to be done, and nobody already did that then I can implement this.

[2019-01-30 10:58] AquilesCanta commented on #5449
ExoPlayer does not support transmuxing contents. ExoPlayer only supports downloading, as described in the post. Implementing transmuxing in ExoPlayer falls out of the scope of this issue tracker, sorry.

[2019-01-30 11:49] ojw28 commented on #5421
@szaboa - That would be great. How would you feel about making a slightly larger change that also adds setter methods for `drmSessionManager`, `extensionRendererMode` and `allowedVideoJoiningTimeMs`, and deprecates all of the constructors except for the one that takes just the `Context`? These methods could return `this`, so you could chain like:
[code]
I do think you should add `playClearSamplesW

[2019-01-30 12:02] szaboa commented on #5421
Sure thing, thank you.

[2019-01-30 12:32] shgrg1712 commented on #5449
Hello Santiago ,
                         Thanks for reply. I am appreciating your feedback on my question.
That's OK if Exoplayer does not support transmuxing But when I am trying to download using exoplayer demo app I am not getting downloaded content. I am getting any exception either. Player is able to play the content but I could not find any downloaded file.

Here are the details.
App used i

[2019-01-30 13:08] AquilesCanta commented on #5449
@erdemguven, would you kindly assist @shgrg1712?

[2019-01-30 15:32] marcbaechinger commented on #5301
Good to hear the ongoing and foreground service management works for you now!

Regarding default methods of Java 8 interfaces, they do not do any harm to your app :). We are using these to extend an interface with new methods without breaking the code of everyone who uses these interfaces already. The default implementation are no-ops and if you need to you can override them. That's the difference

[2019-01-30 16:53] bounmed commented on #5441
Did you get the sample? any update about this?

[2019-01-30 17:03] rnekicOD commented on #4519
I think the point here is this issue seems to be pretty common with older 4.4.x Samsung devices and they notoriously release dozens of minor hardware variations which all have unique model names.  Blacklisting by specific models is helping but surely dozens of others remain affected.  We can report models that we have in our device collection and, for example, 2.9.4 should now work for the devices

[2019-01-30 17:11] rnekicOD commented on #4519
One alternative we are considering is raising our minSdkVersion from 14/4.0 to 21/5.0 so we can at least leave potentially affected users with a version of the app that works after we move forward with ExoPlayer 2.9.x.

[2019-01-30 17:59] ojw28 commented on #5441
@AquilesCanta - This issue is because our existing code assumes initialization segments are never encrypted using AES-128, where-as the spec says they can be. It looks like building `initializationSegment` in `HlsPlaylistParser` needs to be updated to possibly set the full segment encryption variables, and that these need propagating through into `HlsMediaChunk` to be used when loading. Note the `

[2019-01-30 18:06] bounmed commented on #5441
@ojw28 Thank you Oliver, i will leave the link until this issue is resolved.

[2019-01-30 19:46] ojw28 commented on #2867
Fixed in `dev-v2`.

[2019-01-30 19:46] #2867 closed, assigned to tonihei

[2019-01-30 19:56] #4114 closed, assigned to andrewlewis

[2019-01-30 20:03] ojw28 commented on #5433
Cherry-picked into the 2.9.5 release branch (which isn't released yet, but will be soon).

[2019-01-30 20:03] #5433 closed, assigned to ojw28

[2019-01-30 20:06] ojw28 commented on #5433
Release branch commit: https://github.com/google/ExoPlayer/commit/e5bf47e8cfba66209a12d2e15312d66cc14dac5d

[2019-01-30 20:19] ojw28 commented on #5432
Closing for now due to lack of required information. You can still respond below with the information requested in the issue template, in which case we will reopen the issue. Thanks!

[2019-01-30 20:19] #5432 closed, assigned to ojw28

[2019-01-30 20:45] ojw28 commented on #4078
I was just looking at whether we could disable http/2 in the ExoPlayer extension, but it looks like application code has to do this when building the `OkHttpClient`, which is always injected into the extension. As follow on conclusions:

* I think it's more accurate to say that it's not safe to use OkHttp (with anything) unless you explicitly disable http/2. There's nothing about this that's uniqu

[2019-01-31 02:05] KaiYeYang opened #5456 "Dead lock issue during playback in Tunnel mode"
[Issue description]
I'm testing DASH stream in Tunnel mode, the ExoPlayer produce a dead lock issue when calling setVideoScalingMode function on frame rendered event.

[Reproduction steps]
1. Configure ExoPlayer play mode to Tunnel mode, configure code as follow.
      trackSelector = new DefaultTrackSelector(trackSelectionFactory);
      trackSelector.setParameters(trackSelectorParameters);

[2019-01-31 05:58] ghost opened #5457 "Multiple video adaptation sets"
Hello,
I need to change AdaptiveTrackSelection to select track by my private logic.
There is no issue with that.
BUT(!), I want to select track from ALL tracks (from all video adaptation sets) and i cant find the right way to do that.
In DefaultDashChunkSource, the 'adaptationSetIndices' member is only {0} so my other video adaptation set just disappear?

Please advise.

[2019-01-31 07:01] meenukrishnamurthy opened #5458 "Using custom receiver in cast with exoplayer"
Hi i am having a question with regards to using cast with exoplayer.
We are planning to write a custom receiver for cast.The cast sdk mentions that we need to send the receiver app id from the sender app(android app).Where is this to be provided if we are using exoplayer cast extension.

[2019-01-31 07:11] gowthamgts commented on #5301
@marcbaechinger: Sorry, I was caught up on work and didn't had the time to test this. I will pickup some time this weekend and will let you know how this goes.

[2019-01-31 07:13] shgrg1712 commented on #5449
Hello Erdem,
                    I have resolved the download issue .Now I am able to download the HLS stream using exoplayer demo app.

After download complete, when I opened the file explorer to check downloaded files then it is showing files with extension .exo

Also one more file is present in download directory cached_content_index.exi.

Please tell me about these files. As per my understandi

[2019-01-31 07:50] noamtamim commented on #4078
The DataSourceFactory could derive a new OkHttpClient from the one provided (using `OkHttpClient.newBuilder()`) and disable http/2 there. But I don't think it's a good idea, because at some point OkHttp will (hopefully) get fixed, and then ExoPlayer will remain with an unnecessary restriction.

It might be a good idea to add a warning somewhere, telling developers about this issue -- so that users

[2019-01-31 08:50] cho1231 commented on #5362
Thanks for your explanation, I've just succeeded in making an encrypted HLS video file.
If the key is shown in my License Acquisition URL, I can see my video.

Now, I tried to use **the header value and token**.
    defaultHttpDataSource.setRequestProperty("username", "1111");
And my PHP code starts like below.
   if(isset($_REQUEST['username'])==false)
        return;
   $username = $_REQUEST["us

[2019-01-31 09:01] tushar09 commented on #5362
Note that exoplayer will request your accusation url for the key and the request type will be **GET** method. So you should check the header values in PHP like this:
[code]

[2019-01-31 09:16] cho1231 commented on #5362
I greatly appreciate your help!!!
You saved my time!
You are my Hero!

[2019-01-31 09:25] tushar09 commented on #5362
Thank you. Did it work properly?

[2019-01-31 09:31] cho1231 commented on #5362
Yes! It works perfectly thanks for your CustomDataSourcesFactory, your explanation and PHP code!
You are awesome!

[2019-01-31 10:19] jschamburger commented on #4468
Hi,

we got customer complaints which point to a similar problem when decoding DRM streams.

`Caused by java.lang.IllegalArgumentException
       at android.media.MediaCodec.native_setSurface(MediaCodec.java)
       at android.media.MediaCodec.setOutputSurface(MediaCodec.java:1975)
       at com.google.android.exoplayer2.video.MediaCodecVideoRenderer.setOutputSurfaceV23(SourceFile:1014)
       at

[2019-01-31 10:25] AquilesCanta commented on #5458
The app id is provided by the OptionsProvider, which is in turn defined in the AndroidManifest of your app. Have a look at AndroidManifest.xml in the demo app. You'll find a line like:

[code]

And then in DefaultCastOptionsProvider there is

[code]

You can replace the id. It's worth mentioning we are releasing the initial version of our own receiver app in approximately 2 weeks. It would be grea

[2019-01-31 10:25] #5458 closed, assigned to nobody

[2019-01-31 10:31] rej0902 opened #5459 "Parse Program Stream Map for track identification in MPEG-2 PS streams"
Hi, when i testing this demo app for http://commondatastorage.googleapis.com/wvmedia/sintel_main_720p_4br_tp.wvm playing test

I know this file type not supported. but any error code not callback and return.

check playing link.

[2019-01-31 10:53] meenukrishnamurthy commented on #5458
Sure will do the needful.

[2019-01-31 10:53] meenukrishnamurthy commented on #5458
Thanks for the quick response.

[2019-01-31 10:57] ojw28 commented on #4468
We can enable the workaround for that device (end EML-L09, which looks identical).

[2019-01-31 10:59] jschamburger commented on #4468
Perfect, thanks!

[2019-01-31 13:18] davibe commented on #5448
Ok, thank you. So basically the Pixel 3 does HDR without tunneling. If a flagship phone such as the Pixel 3 does this I suspect many other phones do.

On the S8 after debugging it seems to me no video decoder supports tunneling. Additionally, I checked `Display.HdrCapabilities` and the array of supported HDR modes is empty. This is very strange.. Even youtube seems to support HDR on the S8.

The p

[2019-01-31 13:21] AquilesCanta commented on #5459
I think the issue here is that we are failing to identify the h264 video stream. One way of fixing this would be actually parsing the program stream map (stream id 188) and using that to identify the stream type of the other stream ids.

Note, this stream will work (codec support aside) if the following path is added [here](https://github.com/google/ExoPlayer/blob/1c4ea26ff0ff530a1282398377a2cddfc

[2019-01-31 17:01] AquilesCanta commented on #5453
Hi @gkovacs87, sorry for the delay. You should try and contact the device manufacturer; it looks like a device specific issue. I tried to find a direct communication path myself, but did not succeed. Do let me know if we can help.

[2019-01-31 17:01] #5453 closed, assigned to AquilesCanta

[2019-01-31 18:04] AquilesCanta commented on #5451
Hi, I have reported the issue to the internal media team. I cannot make any promises, specially considering it is a device specific device. Please make sure the stream keeps running, until they get to see it. I will write back once they provide a reply.

[2019-01-31 18:11] AquilesCanta commented on #5457
I think you should put them in the same adaptation set.

Adapting between different groups is not something that ExoPlayer supports. Implementing this might require a lot of work. I cannot think of a correct and simple enough way for me to explain in a few lines here. Maybe @ojw28 can help.

[2019-01-31 18:59] HighA commented on #5301
@marcbaechinger Ok thanks I'll try to do so for now I did a workaround to match my needs.
I was about to ask you something else, then I checked this "code>implement methods" thing.. I didn't know there was a way to see all methods within a class until now. Thanks a lot for that, I feel dumb but I learned a precious tip today. And I got the answer to my question doing so. So now I managed to match

[2019-01-31 20:02] szaboa commented on #5421
@ojw28
Pull request is created.

[2019-01-31 20:16] JesperQv opened #5461 "Question regarding CastPlayer and MediaSession"
Hi Team,

I'll get right to the issue at hand. I'm trying to use CastPlayer to be able to Chromecast audio. I've gotten it to work. However, my MediaControllerCompat.Callback doesn't seem to get any onMetadataChanged function calls. It works fine when I'm using the SimpleExoPlayer but as soon as I toggle the player to the CastPlayer the metadata doesn't update.

If possible I'd like some clarifica

[2019-02-01 00:21] NathanSass commented on #5454
### Issue description
I would expect to be able to seek around in my audio file and have exoplayer begin playback within a few seconds. During this time, I would expect that the `Player.EventListener` would indicate to me that player is buffering or loading.

What I am instead finding are extremely long wait times (~20seconds) despite the `Player.EventListener`  indicating the player is not loadin

[2019-02-01 06:40] userdimi commented on #5451
Hey @AquilesCanta  thank you very much.

[2019-02-01 09:29] Romantic-LiXuefeng opened #5463 "Question: Extension FFmpeg, Using Video soft decoders, drop frames seriously on some old devices!"
We extended the FFmpeg extension. Using the soft video decoder to robust the player.But there are decoding efficiency problems on some old tv devices, resulting in serious frame loss.
Maybe this is not an issue of ExoPlayer,  but we hope you could give me some advice how to optimize.
such as how to implements a neno-optimized FFmpeg decoder. If possible, help you could give a build script, so we c

[2019-02-01 09:41] andrewlewis commented on #5463
One thing that might be helpful: you could look at how the vp9 extension uses OpenGL to do color-space conversion on software video decoder output frames. You may want to apply the same approach if you are not doing it already. We don't have time to provide more detailed guidance since, as you say, this is not an ExoPlayer issue, so I will close this.

[2019-02-01 09:41] #5463 closed, assigned to andrewlewis

[2019-02-01 10:42] shgrg1712 commented on #5449
Hello Erdem,
                    Kindly update .

Thanks
Sheetal Garg

[2019-02-01 11:35] AquilesCanta commented on #5461
As discussed, could you take a look, @marcbaechinger?

[2019-02-01 11:43] shgrg1712 commented on #5449
Hello Erdem,
                    I have gathered the information about HLS media download in form of exo and exi files. I am able to play the video offline also since data is available in cache.

But I am facing one issue. If I play the video offline , video is getting stuck in last 35 seconds
For example
Total Duration: 10 minutes 35 seconds
Video Played till :- 10 minutes

Video is unable to pla

[2019-02-01 12:18] AquilesCanta commented on #5449
Please @shgrg1712 keep the issue well scoped. If you have encountered a bug, please file a new issue including all information requested in the issue template.

[2019-02-01 12:50] marcbaechinger commented on #5461
Your setup sound about right and is intended to work like you say.

In case you are using the `TimelineQueueNavigator` it should work with both player implementations, so you can use the same in case you want to support the same `PlaybackStateCompat.ACTION_SKIP_*` actions with both players (which I assume you want to).

It's different for the PlaybackPreparer. It's methods are called to prepare a

[2019-02-01 13:26] ojw28 commented on #5451
Internal ref: b/123697481

[2019-02-01 13:37] JesperQv commented on #5461
Thanks for your answer @marcbaechinger

The way I built my custom Player I added a custom prepare function that takes both a
`ConcatenatingMediaSource` for the `SimpleExoPlayer` and also an array of `MediaQueueItem` for the CastPlayer. Then internally I use the proper one depending on which player is active at the moment.

[Here's](https://github.com/JesperQv/Listn/blob/improvement/player_refactor

[2019-02-01 14:03] cncb-gh commented on #2147
Any progress on this?  I am not developing in Java, so a simple copy of MatroskaExtractor is not feasible for me.  Adding some kind of flag in DefaultExtractorsFactory.setMatroskaExtractorFlags() would still be helpful for me.

[2019-02-01 15:15] ReckeDJ commented on #5072
Hi @ojw28,
I was wondering why this change didn't make it to release yet? I could really use this functionality of knowing when the track has ended. Just like @dougkeen, I need it through the `MediaControllerCompat.Callback` listener.

[2019-02-01 15:53] marcbaechinger commented on #5461
Oh, I did not realize you are passing your custom player to the connector.

I think then the problem is with your implementation of addListener(). When you do `mediaSessionConnector.setPlayer(player,...)`, the connector does add a listener to the player. Then the connector updates the metadata each time this listener is called with `onTimelineChanged` or `onPositionDiscontinuity(PERIOD_TRANSITION)

[2019-02-01 18:09] ojw28 commented on #5457
Your DASH manifest should include sufficient signalling to tell the player which representations it can adapt between. See https://github.com/google/ExoPlayer/issues/5270 for information about how DASH manifests can signal that adaptation is allowed between `AdaptationSet`s. ExoPlayer does support this provided the signalling is present.

Without sufficient signalling, the player is correct in not

[2019-02-01 18:09] #5457 closed, assigned to ojw28

[2019-02-01 18:23] sneltyn opened #5464 "Need release after onPlayerError"
Do I need to release a player after an error? This link  https://github.com/sneltyn/ExoPreload is a demo that demonstrates the problem (if it is a problem). The demo shows how the player gets stuck on state `STATE_BUFFERING`

During the launch of the demo, turn off the Internet;)

The demo does the preloading of the HLS or mp4 using the `ConcatenatingMediaSource`

Maybe I'm doing something wrong.

[2019-02-01 18:48] ojw28 commented on #5464
You should always call `release` when you no longer require the player instance. However, a player can be re-used (e.g. re-prepared) after an error occurs. So if you plan on re-using the player after the error, you should not call `release` at that point.

[2019-02-01 19:57] sneltyn commented on #5464
@ojw28 thank! Then I do everything right, but after the error the player can no longer play anything. Please see the demo.

[2019-02-01 21:59] ThorAsgardDev opened #5465 "Question about debug log"
Hello,
I'm using ExoPlayer 2.9.4.
I'm trying to play smooth files.

It works using some smooth files manifests, and doesn't work using other smooth files manifest.
"Doesn't work" means that I just have black screen.

Could you please tell me how to monitor/debug what is wrong ? I would like to know if the manifest has been downloaded correctly, if the manifest parsing is ok, etc...
I have tryed to

[2019-02-02 03:38] androidpk opened #5466 "Can I play YouTube video in ExoPlayer"
I want to play YouTube video in ExoPlayer.  Does it support.

[2019-02-02 08:20] ThorAsgardDev commented on #5465
I have added a TransferListener on the DataSource. The manifest seems to be downloaded correctly, but no fragments are downloaded. Any idea where the problem comes from ? Or how to get info to know what is wrong ?

[2019-02-02 14:17] AskMeCode opened #5467 "explorer2 subtitle arabic not readable"
explorer2 subtitle arabic not readable.

`String mSrtUri ="http://ddl3.data.hu/get/287029/11669682/TadTheLostExplorer.srt";`

`textFormat = Format.createTextSampleFormat(null, MimeTypes.APPLICATION_SUBRIP, Format.NO_VALUE, "ar");`
`textMediaSource = new SingleSampleMediaSource(Uri.parse(mSrtUri), dataSourceFactory,textFormat, C.TIME_UNSET);`
`sampleSource = new HlsMediaSource(Uri.parse(mUri), data

[2019-02-02 23:57] ThorAsgardDev commented on #5465
It seems that the problem comes from DRM.
For smooth files that are using DRM all the renderers are marked as NO_UNSUPPORTED_DRM.
I have tried to set the widevine level to 3 instead of 1 but the problem is still here.
These smooth manifest files contain a protectionheader tag.

Is it normal that even using Widevine level 3 there are no renderer available ? I have tested on Samsung Galaxy S6 Androi

[2019-02-03 09:29] alex-tilkin opened #5468 "ExoPlayer keeps playing even when the delta between playbackPositionUs and startTimeUs of the next chunk is relatively small for fetching new data"
### Issue description
I have modified the method `evaluateQueueSize` of `AdaptiveTrackSelection` so it always returns the minimum size (two elements, the second is the one that currently being played, satisfying the condition `if(queue.get(i).startTimeUs <= playbackPositionUs && queue.get(i).endTimeUs) >= playbackPositionUs)`). I'm trying to make the player executing the most aggresive queue disca

[2019-02-03 12:43] #5353 closed, assigned to marcbaechinger

[2019-02-03 12:52] ojw28 commented on #5466
No. The [YouTube Android Player API](https://developers.google.com/youtube/android/player/) is the official way to play YouTube videos on Android. Please see https://github.com/google/ExoPlayer/issues/4429 and https://github.com/google/ExoPlayer/issues/2160 for more information.

[2019-02-03 12:52] #5466 closed, assigned to ojw28

[2019-02-03 12:56] ojw28 commented on #5465
If these are SmoothStreaming streams then it's more likely they're using PlayReady DRM. Android devices (with the exception of AndroidTV) are not required to support PlayReady, and most do not.

[2019-02-03 12:57] ojw28 commented on #5423
Closing due to lack of required information.

[2019-02-03 12:57] #5423 closed, assigned to ojw28

[2019-02-03 12:58] ojw28 commented on #5259
I'd suggest you report this issue to the device manufacturer.

[2019-02-03 12:58] #5259 closed, assigned to ojw28

[2019-02-03 12:58] #5277 closed, assigned to ojw28

[2019-02-03 15:22] ojw28 commented on #5464
@tonihei - Could you take a look at this? Could be wrong, but it looks like the player has a `ConcatenatingMediaSource` containing a single `ClippingMediaSource`, which wraps an `ExtractorMediaSource`. Before the second `prepare` call the `ConcatenatingMediaSource` is cleared and a new `ClippingMediaSource -> ExtractorMediaSource` is added. The player then ends up  stuck in the buffering state.

I

[2019-02-03 15:51] ojw28 commented on #5464
A little extra info: It looks like `ConcatenatingMediaSource.scheduleListenerNotification` is called (sets `listenerNotificationScheduled=true` and posts `MSG_NOTIFY_LISTENER`). Then `ConcatenatingMediaSource.releaseSourceInternal` is called (removes `MSG_NOTIFY_LISTENER`). From that point on `scheduleListenerNotification` is broken, because `listenerNotificationScheduled=true` even though there's

[2019-02-03 15:53] ojw28 commented on #5467
You need to provide a sample subtitle file for us to provide guidance on this.

[2019-02-03 15:58] AskMeCode commented on #5467
Thank you dear @ojw28  I have add a link.

[2019-02-03 16:00] sneltyn commented on #5464
@ojw28 I used to call `releaseSourceInternal` but this led to other errors.

[2019-02-03 16:12] ojw28 commented on #5467
This is a duplicate of #3644. In this case the file uses Windows-1256 encoding.

If you have control over the subtitle files themselves, changing them to use UTF-8 should fix the problem, and is generally recommended as per the [Windows-1256 Wikipedia page](https://en.wikipedia.org/wiki/Windows-12560).

[2019-02-03 16:12] #5467 closed, assigned to ojw28

[2019-02-03 16:25] ojw28 commented on #4519
We could just blacklist `OMX.SEC.mp3.dec` on all Samsung devices prior to API level 21. That should catch all affected devices, although probably quite a few that do not have the issue as well. Thoughts?

[2019-02-03 17:09] AskMeCode commented on #5467
Thank you dear @ojw28. :)

[2019-02-03 20:37] ThorAsgardDev opened #5469 "Question about widevine and playready"
Hello,

I have a stream provider that provides smooth streams that must be decoded using widevine.
The problem is that the smooth manifests are not correct, they contains a playready UUID and its corresponding "protection tag" (it contains a WRMHEADER tag).
If I try to play the file directly using ExoPlayer, no compatible renderer are found on my Android devices because ExoPlayer is looking for a

[2019-02-03 20:51] ojw28 commented on #5469
If the manifest claims to support only PlayReady, on what basis are you assuming that it also supports Widevine? In any case:
* If the manifests are incorrect then you should ask the stream provider to fix them.
* As per our [supported formats page](https://google.github.io/ExoPlayer/supported-formats.html) ExoPlayer doesn't support Widevine for SmoothStreaming in any case. It's a combination that

[2019-02-03 20:55] ojw28 commented on #5469
I'm not even sure Widevine for SmoothStreaming is a thing. It could probably be made to work, but I can't find any documentation about it anywhere. All I've found is someone from Widevine saying it's not a thing, in https://github.com/google/ExoPlayer/issues/1622.

[2019-02-03 20:55] #5469 closed, assigned to ojw28

[2019-02-03 21:01] ThorAsgardDev commented on #5469
Thanks for the reply.
I know that is support widevine because I can play these streams on Kodi using widevine.
I don't know why but Kodi gives me a correct challenge whereas ExoPlayer doesn't. Kodi probably doesn't care about the UUID and protection tag info from the manifest.

I can't ask nothing to the provider so dash format or update manifest to be correct for widevine is not possible... :(

[2019-02-03 21:04] ojw28 commented on #5469
How do you know that Kodi is using Widevine? If you don't have a relationship with the streaming provider then what license server are you using? This sounds quite unusual.

[2019-02-03 21:18] ThorAsgardDev commented on #5469
I know that Kodi uses Widevine because I have programmed it to use Widevine and it can play on my Android devices that don't support playready.
I pay for this stream service but the application of the provider is totally bugged. So I just want to make a good one for me.
What I don't really understand is the link between the protection tag from the manifest and the challenge. I can see from the Exo

[2019-02-03 21:22] ojw28 commented on #5469
It's possible Kodi has a software PlayReady implementation, and is using that. It sounds very unlikely that a provider is distributing SmoothStreaming streams that work with Widevine. As above, I can't find anything to suggest this combination is a thing. That aside, this sounds beyond the scope of this issue tracker, sorry.

[2019-02-03 21:54] ThorAsgardDev commented on #5469
Kodi has a very basic implementation of drm.
Thanks for your help.
Is there any place to live chat with ExoPlayer developpers ? irc ? slack ? other ?

[2019-02-04 08:52] andrewlewis commented on #5448
I'd expect it would be sufficient to check for the presence of an HDR profile in the codec [profileLevels](https://developer.android.com/reference/android/media/MediaCodecInfo.CodecCapabilities.html#profileLevels) for the relevant codec and check the `Display.HdrCapabilities`. However, this is at odds with the documentation "There is no standard Android API to check if HDR playback is supported us

[2019-02-04 09:30] JesperQv commented on #5461
Hi @marcbaechinger

I had the weekend to play around with this and trying out different solutions. It seems like you were right that I have to call `setPlayer` every time I switch the players, so I added a `onPlayerToggled` callback that handles that.

I am however still having a little trouble. When using the `SimpleExoPlayer` it seems each `Window` within the `Timeline` corresponds 1 to 1 to a a

[2019-02-04 09:34] egorponomarev opened #5470 "Video freezes for a few seconds after reattaching surface and resuming"
Exoplayer version: 2.9.3
Android OS versions: 4.4.2, 5.1.1
Devices: Samsung Galaxy Grand Prime (Android 5.1.1); Motorola MotoG3 (Android 5.1.1); Motorola RAZR XT907 (Android 4.4.2); Motorola DROID RAZR M (Android 4.4.2)

We are using a static instance of Exoplayer, which can attach to/detach from TextureView (e.g. when the orientation changes). On older Android versions (4.4.2 - 5.1.1) there is an

[2019-02-04 10:19] tonihei commented on #5470
We added a way to seamlessly switch surfaces on API levels 23+ (see #677). Unfortunately that's not available for older versions and we need to wait for a new keyframe in the video stream before being able to continue rendering on the new surface.

You can probably try to force the player to reload the stream at the current position (at the cost of extra buffering) by calling `player.seekTo(player

[2019-02-04 10:33] shgrg1712 opened #5471 "Incomplete playback on downloaded Encrypted HLS stream"
Hello Erdem,
I have gathered the information about HLS media download in form of exo and exi files. I am able to play the video offline also since data is available in cache.

But I am facing one issue. If I play the video offline , video is getting stuck in last 35 seconds
For example
Total Duration: 10 minutes 35 seconds
Video Played till :- 10 minutes

Video is unable to play for last 35 second

[2019-02-04 11:13] AskMeCode commented on #5016
hello Dear @ArezooNazer i make  you example but the subtitle not switch for the second add subtitle all time show just the first subtitle
thanks in advance

[2019-02-04 15:52] ebr11 commented on #5096
Hi.  Can you point us in any direction here so that maybe we can investigate further?  I have determined that the issue is definitely related to the size of the video rendering surface (ApectRatioFrameLayout).  If we do not allow that surface to re-size to less than the size of the actual screen, HDR is triggered properly.  As soon as we allow that surface to re-size though, the problem occurs.

T

[2019-02-04 17:12] AquilesCanta commented on #5456
I'll try to reproduce and reach back.

[2019-02-04 17:57] ArezooNazer commented on #5016
@lachguer9  before adding a new subtitle to your video source, first you should remove the old subtitle:
[code]
check [setSelectedSubtitle()](https://github.com/ArezooNazer/AndroidVideoPlayer/blob/playerModule/player/src/main/java/com/example/player/util/VideoPlayer.java) function in my videoPlayer for more detail

[2019-02-04 18:33] marcbaechinger commented on #5461
@AquilesCanta to comment on cast issues.

[2019-02-04 18:58] bounmed commented on #5441
@AquilesCanta any update about this please ?

[2019-02-04 19:25] #5048 closed, assigned to marcbaechinger

[2019-02-04 19:42] ojw28 commented on #4519
The much wider fix ref'd above should address this issue on all pre-Lollipop devices. We're not aware of any Lollipop+ devices that are affected, but if you've seen this please let us know.

[2019-02-04 19:42] ojw28 commented on #5464
Fixed in `dev-v2`. The fix will be part of `2.9.5`.

[2019-02-04 19:47] AskMeCode commented on #5016
Thank you dear @ArezooNazer  but i'm not us ConcatenatingMediaSource i us just
`mediaSource = new MergingMediaSource(sampleSource, textMediaSource);`
how i can remove the old textMediaSource from mediaSource

i use Exoplayer 2.7.0
Best regard

[2019-02-04 19:51] #5421 closed, assigned to ojw28

[2019-02-04 20:08] #4519 closed, assigned to ojw28

[2019-02-04 20:08] #5464 closed, assigned to tonihei

[2019-02-04 20:31] AquilesCanta commented on #5441
Not yet, I haven't had time to check/implement, although I did looked into it and shouldn't be complex. I'll try to get to that in a few weeks or less.

[2019-02-04 20:59] revg75 opened #5472 "Screen goes black after multiple orientation changes"
### Issue Description
Setup a simple example by creating a SimpleExoPlayer as show below. Run the app and while the video is playing change the orientation from portrait back to landscape a bunch of times and eventually the screen goes black and the video player stops functioning.

`
    SimpleExoPlayer player;
    SimpleExoPlayer player2;
    PlayerView playerView;
    PlayerView playerView2;

[2019-02-04 21:13] revg75 commented on #5472
Sorry, issue was that I had not properly released player when changing states. My apologies.

[2019-02-04 21:13] #5472 closed, assigned to nobody

[2019-02-05 06:07] shgrg1712 commented on #5471
Hello Santiago ,
                         Please help to reply.
Thanks
Sheetal Garg

[2019-02-05 08:28] gabrysgab opened #5473 "Player returns STATE_ENDED after loading the stream."
### Issue description
When starting the stream player returns state_ended. I tried to pinpoint the exact issue and got to the code changes in issue #4185 . Our stream is static and the segment timeline is defined by timestamps, it seems that in that situation the check
`  if (periodDurationUs != C.TIME_UNSET
        && representationHolder.getSegmentStartTimeUs(segmentNum) >= periodDurationUs) {

[2019-02-05 10:09] egorponomarev commented on #5470
The "seekTo" solution works fine, thanks for your help.

[2019-02-05 10:20] AskMeCode opened #5474 "The video play not play in continue"
Hello i have problem with some link and format like .TS

I use this link : http://linux-app.tv:6204/RDWAN/123/8092 this link play 11 sec then stop i need click on resume then she continue playing and so on stop each 11 sec

also the same problem play 2 sec then stopwith .ts link : http://niobzca.cf:8080/live/george01/george02/119263.ts

also some m3u8 play 1 min then stop like this : http://premiu

[2019-02-05 10:20] #5470 closed, assigned to tonihei

[2019-02-05 10:59] AquilesCanta commented on #5471
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). We will reopen once all required information is available.

[2019-02-05 10:59] #5471 closed, assigned to nobody

[2019-02-05 12:44] Arnaudp767 opened #5475 "Compilation problem when updating from 2.8.4 to 2.9"
Hello,

I trying to update my exo project from 2.8.4 to 2.9.
I changing my compile option (compile 'com.google.android.exoplayer:exoplayer:2.9.0'), adding targetCompatibility JavaVersion.VERSION_1_8 and jackOptions.
But I'm getting this error when I run the project :
ERROR: HlsSampleStreamWrapper.java:174-175: Lambda coming from jar file need their interfaces on the classpath to be compiled, unkno

[2019-02-05 14:51] mhr78 commented on #3750
Everyday this topic cames from our company meetings! I hope google team try to do the best to have this year!! This is something very important, the workaround is terrible

[2019-02-05 15:05] victorraft commented on #3750
Yes, this is something that comes up at least once a week in my company too... It's something that we would be really glad to have.
I'm surprised it is taking so long to release this feature.

[2019-02-05 15:45] NathanSass commented on #5454
@AquilesCanta any updates?

[2019-02-05 16:19] KellzCodes opened #5476 "IMA Demo Crash on Open"
### Issue description
The Exo IMA Demo crashes on open

### Reproduction steps
1. Upgrade build tools to 3.3.0
2. Sync
3. Run the demo on your phone
### Link to test content
not available

### Version of ExoPlayer being used
Branch dev-v2

### Device(s) and version(s) of Android being used
Motorola Moto Z Play Droid - Motorola XT1635-01(Android 8.0.0, API 26)
com.android.tools.build:gradle:3.3.0

[2019-02-05 16:50] erdemguven commented on #5449
During download ExoPlayer split downloaded files into smaller files. [The default size](https://github.com/google/ExoPlayer/blob/1c4ea26ff0ff530a1282398377a2cddfceefc3f6/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CacheDataSource.java#L58) of the these files is 2MB but can be overwritten using [CacheDataSource constructor](https://github.com/google/ExoPlayer/blob/1c4ea2

[2019-02-05 16:54] erdemguven commented on #5213
Closing due to inactivity.

[2019-02-05 16:54] #5213 closed, assigned to erdemguven

[2019-02-05 16:55] erdemguven commented on #5380
Closing due to inactivity.

[2019-02-05 16:55] #5380 closed, assigned to erdemguven

[2019-02-05 16:56] erdemguven commented on #5262
Closing due to inactivity.

[2019-02-05 16:56] #5262 closed, assigned to erdemguven

[2019-02-05 16:58] erdemguven commented on #5415
Unfortunately there is no way currently. Please follow #4433 as it'll be updated when this feature is implemented.

[2019-02-05 16:58] #5415 closed, assigned to erdemguven

[2019-02-05 17:01] #5396 closed, assigned to erdemguven

[2019-02-05 17:20] erdemguven commented on #5286
Yes, I can reproduce the issue when that code is deleted but obviously the code is there for a reason :) Probably you should copy the same code into your app.

[2019-02-05 17:47] whyvas commented on #2083
I can throw my name in the hat for testing on wifi.
I am basically trying to play MPEG-TS multicast UDP video with the least amount of latency possible. I am going from a camera to an encoder to a Samsung Galaxy Tab S3 tablet.
Here is what I've come up with so far, it works but there's still a few seconds of lag regardless of what I set in the loadControl.

`        BandwidthMeter bandwidthMeter =

[2019-02-05 18:06] andrewlewis commented on #5476
Thanks for reporting this! Fix on the way soon.

[2019-02-05 20:01] KellzCodes opened #5477 "Obsolete API Warning"
### Issue description
The project syncs and runs fine. There is a warning that reads "API 'variant.getJavaCompile()' is obsolete and has been replaced with 'variant.getJavaCompileProvider()'"

The obsolete method call can be found in ExoPlayer\javadoc_library.gradle:24

### Reproduction steps
1. Upgrade gradle tools to 3.3.0
2. Add 'android.debug.obsoleteApi=true' to gradle.properties file which w

[2019-02-05 23:57] hendercine commented on #1993
Sadface... Just spent many days building a very specific exoPlayer only to discover that I can't setPreferredDevice. Any chance there is a known workaround to achieve this?

[2019-02-06 08:10] wreuven opened #5479 "Feature Request: Restructure code to support j2ObjC. i.e. IOS support."
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2019-02-06 08:25] andrewlewis commented on #1993
I don't think there's a convenient workaround at the moment unless you fork/patch `DefaultAudioSink` to get access to its `AudioTrack` unfortunately.

The original plan was to expose a compatibility wrapper for `AudioDeviceInfo`. Pre-API 23 we'd list any available passthrough output options as separate devices and allow selection via the same API. However, maybe it's okay to just expose the API 23

[2019-02-06 09:06] davibe commented on #5448
@andrewlewis I also noticed that exoplayer tries to play hevc even on older devices using sowftware decoders with terrible results. For example this is a Samsung Galaxy S4 with Android 5.0.1

![img_1040](https://user-images.githubusercontent.com/123929/52330773-8b767280-29f6-11e9-8c9d-7a1f7814908e.jpeg)

It's doing 1 frame every 10 seconds and its badly cropped with greenish colors :)

[2019-02-06 09:08] andrewlewis commented on #5448
We should check if this decoder is advertising support for a format that it can't play. It would be good if you could take a bug report after playing the stream in the demo app. Please file a separate issue for that and attach the bug report so we can keep this on the topic of 'current state of HDR support'.

[2019-02-06 09:29] tonihei commented on #5475
Can you try to clear the caches and rebuild the project? Sounds as if there is some configuration leftover which didn't migrate correctly.

[2019-02-06 09:39] Arnaudp767 commented on #5475
Yes ! I think it's work after full sync and rebuild.
Changing classpath 'com.android.tools.build:gradle:2.2.2' to classpath 'com.android.tools.build:gradle:3.0.1' solve my problem.

My project seems ok except this :
`mediaDataSourceFactory = new DefaultDataSourceFactory(this, Util.getUserAgent(this, "mediaPlayerSample"), (TransferListener<? super DataSource>) bandwidthMeter);`

error: type Transfe

[2019-02-06 09:52] tonihei commented on #5475
You don't need to provide the `BandwidthMeter` to the `DataSourceFactory` and the `TrackSelectionFactory` anymore. That gets handled automatically by the player. See this [blog post ](https://medium.com/google-exoplayer/https-medium-com-google-exoplayer-simplified-bandwidth-meter-usage-17d8189f978b) for details.

(And we also removed the template parameter from `TransferListener`. That's why the c

[2019-02-06 09:53] tonihei commented on #5479
We don't have any plans to provide iOS support for ExoPlayer at the moment. And given the tight integration with Android system components, I doubt that an automatic code conversion tool like j2ObjC can provide any workable code for iOS apps.

[2019-02-06 09:53] #5479 closed, assigned to tonihei

[2019-02-06 10:15] AndroidDeveloperLB opened #5480 "Bug on 2.9.2: "ExoPlaybackException: com.google.android.exoplayer2.audio.AudioSink$InitializationException: AudioTrack init failed""
### Issue description
On some videos, for some reason it doesn't let play them, having this in the log:

[code]

### Reproduction steps
Run the attached project. It has a file "test.mp4" that doesn't play properly (shows either black screen or just the first frame), and a file "test2.mkv" that plays fine, to show that the app is ok.

### Link to test content
Here:
[ExoPlayerTest.zip](https://githu

[2019-02-06 10:19] AquilesCanta commented on #5461
Hi @JesperQv, please look around the issue tracker for existing issues. For example, see #4964. There are some shortcomings in the cast extension which we aim to solve in the few coming weeks with the release of a custom receiver. You are welcome to try working around these as suggested in the different github issues, or you can wait a bit until we release the custom receiver. I'll close since the

[2019-02-06 10:19] #5461 closed, assigned to AquilesCanta

[2019-02-06 12:53] AndroidDeveloperLB commented on #3859
@andrewlewis For some reason, on my case, it shows it can't resolve it. It has multiple errors as such:
`
ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.github.google:ExoPlayer:dev-v2-SNAPSHOT.
Show Details
Affected Modules: app

ERROR: Unable to resolve dependency for ':app@debugAndroidTest/compileClasspath': Could not resolve com.github.google:ExoPla

[2019-02-06 13:22] andrewlewis commented on #3859
Did you add `maven { url 'https://jitpack.io' }` to the repositories as described above? It seems to be working for me though maybe the dependency has been cached locally.

[2019-02-06 13:25] AndroidDeveloperLB commented on #3859
@andrewlewis I have. I've decided to give it another try, and have removed all of the temporary folders (build and gradle folders). Then it went fine...
Anyway, which version do you use? And, can you please check if your version can play the problematic video that I've reported here (it's the reason of why I'm trying to get a newer version) :

https://github.com/google/ExoPlayer/issues/5480

[2019-02-06 13:33] andrewlewis commented on #3859
@AndroidDeveloperLB Glad to hear you got it to work. I just tried with the dev-v2 snapshot.

Discussion of #5480 is not on-topic for this issue (but I expect someone will triage it soon).

[2019-02-06 13:41] AndroidDeveloperLB commented on #5480
In fact, even on Google Photos it can't play this video right, but only on Google Pixel ...

[2019-02-06 13:42] AndroidDeveloperLB commented on #3859
@andrewlewis I mean what did you write on the gradle file. This :
`implementation 'com.github.google:ExoPlayer:dev-v2-SNAPSHOT'` ?
I've tried it, and still got an issue. I think it's only on Google Pixel , but not on other devices. It even occurs on Google Photos app there...

[2019-02-06 13:50] andrewlewis commented on #3859
It seems to work for me with `implementation 'com.github.google.ExoPlayer:exoplayer:dev-v2-SNAPSHOT'` so could you try that?

[2019-02-06 13:53] AndroidDeveloperLB commented on #3859
@andrewlewis Worked for me too, but the issue remains. The video doesn't play on Google Pixel, yet on other devices I think it works fine. Anyway, thank you. For further talking about the issue, write there if you wish.

[2019-02-06 14:02] sravan1213 opened #5481 "[Question] Stop playing ads when user seeks back."
We have implemented our own custom AdsLoader. Everything is working fine. I have a use case which i am not able to figure out whether it is achievable using AdPlaybackState.

Lets says I have 5 midroll ads Ad1, Ad2, Ad3, Ad4 and Ad5.
when user seeks to a position between Ad4 and Ad5, Ad4 starts plays immediately as expected.

now when user seeks back before Ad4, from current postion i.e to a posit

[2019-02-06 14:09] andrewlewis commented on #5481
I think it should be possible: if your `AdsLoader` keeps a player listener you can be notified of the seek in `onPositionDiscontinuity` with reason `DISCONTINUITY_REASON_SEEK`, and mark any ads preceding the last ad before the seek position that are not already in the played/error states as skipped. After updating the `AdPlaybackState` those ads shouldn't be played any more. Please try this and le

[2019-02-06 14:15] AquilesCanta commented on #5292
It seems to me that you need to align the EXT-X-PROGRAM-DATE-TIME tags across variants, as per [spec](https://tools.ietf.org/html/rfc8216#section-6.2.4).

[2019-02-06 14:15] #5292 closed, assigned to AquilesCanta

[2019-02-06 14:48] ojw28 commented on #5449
As a more general point, you should avoid making any assumptions about the files and their formats. We make no guarantees not to make breaking changes in the future. The only safe way to read cached or downloaded data is back through ExoPlayer's own components. You should not try to read the files directly from disk.

[2019-02-06 14:50] fabiosoft commented on #4760
news?

[2019-02-06 16:47] #5476 closed, assigned to andrewlewis

[2019-02-06 17:02] sravan1213 commented on #5481
Thanks for the quick response. I've tried this but there is one problem I'm facing.
How can I mark them as unplayed ads if user seeks back again to a position before this ad.

[2019-02-06 18:01] tonihei commented on #5468
There is no apparent problem with a short buffer. The player can continue to play the remaining 50ms of buffer if they are available before it would enter the buffering state.

In general, if you want to set an upper bound on the buffer size, please use the `LoadControl` for that and not the `evaluateQueueSize` method as the load control prevents buffering in the first place while `evaluateQueueSi

[2019-02-06 19:36] keyboardr commented on #1993
FWIW, I have a fork (it's a few versions behind) that added this capability for my own app. It's not really suitable for a pull request, but could be a decent starting point. https://github.com/keyboardr/ExoPlayer/tree/output-device

[2019-02-06 20:28] levz opened #5482 "Allow changes in ad group count and order (to support pause-roll ads)."
I wonder if there is a way of creating some custom media source with pause-roll support (pause-roll is an ad that is started when user resumes video from pause)?

AdsMediaSource does not support it and also is not accurate with delivering player states (https://github.com/google/ExoPlayer/issues/5209)

It seems that dynamic ConcatenatingMediaSource (combined from ClippingMediaSources with content

[2019-02-06 21:49] Jogan opened #5483 "HEVC 4K content with 30/60fps variants causes green pixelation on certain devices"
**Issue description**
While playing 4K HEVC content with multiple fps variants, during a variant switch going from a variant with 30fps/4K to a variant with 60fps/4K. Green pixelation occurs and never recovers.

**Reproduction steps**
Add the provided url to sample chooser.  Launch content in demo player and wait for variant switch.

**Expected behavior**
The player plays the video and audio. No a

[2019-02-06 21:52] hendercine commented on #1993
Thanks so much for your replies, kind sirs.

[2019-02-06 22:09] szaboa commented on #5040
@ojw28
I had a quick look on this and I have an idea.. maybe it's the same as yours (?), I am not sure.

So we could specify the update length (thickness) in dp, let's say - update the time bar's progress always with 20dp, regardless of the duration.

For example:
`timeBarWidth`= 400 dp (this will vary on devices / tablets).
`duration`= 20 sec
`updateDp`= 20 dp

With these, we could calculate how

[2019-02-07 06:06] sravan1213 commented on #5481
@andrewlewis I got this worked out. I am marking previous ads skipped as you suggested. When user seeks back I am changing the state of skipped ads to unPlayAds which are ahead of the current position.

[2019-02-07 06:06] #5481 closed, assigned to andrewlewis

[2019-02-07 09:27] tonihei commented on #5040
That sounds like a good approach. To prevent this issue with slow updates, you can probably just impose a maximum and a minimum update frequency (let's say 50ms < f < 500ms). Are you planning to submit a pull request for that? That would be great as we are not planning to do that soon.

[2019-02-07 09:30] szaboa commented on #5040
Yes, I plan to work on this and submit a pull request once I am done.

[2019-02-07 10:07] andrewlewis commented on #5481
@sravan1213 Glad you got it worked out, but are you sure the approach of marking ads that were previously marked as skipped as unplayed works? I think there's a check that the ad whose state is changing is in the unavailable/available state. We are planning to add more flexibility for this soon.

[2019-02-07 10:12] tonihei commented on #5482
As you already pointed out, there are two possible paths this can be implemented: as an AdsMediaSource or by manipulating a ConcatenatingMediaSource.

**AdsMediaSource**

Implementation: Write your own AdsLoader which published an `AdPlaybackState` with an ad break at the pause position after you receive the pause event.
Advantage: ad breaks nicely integrate in the UI and the way seeks are handled

[2019-02-07 10:14] tonihei commented on #5482
Enhancement added for the feature of changing the number (and order) of ad breaks in `AdPlaybackState`.
@andrewlewis : Is that already tracked somewhere else? If yes, please let me know.

[2019-02-07 10:19] tonihei commented on #5474
The issue is that ts file seems to be live and ExoPlayer just assumes it on-demand content. So we play the current available duration and then stop.

@AquilesCanta Is there such a thing as a live ts stream which needs to be reloaded?

[2019-02-07 10:22] andrewlewis commented on #5482
I don't think this is already tracked, so let's use this issue. Thanks!

[2019-02-07 11:04] tonihei commented on #5473
That might be an issue with the manifest as the total duration is not in the same time scale as the segment durations (total duration: absolute duration of about 1h, but segment timeline times with unix timestamps).

@ojw28 Should that be supported by the player or is that a malformed manifest?

[2019-02-07 11:11] AquilesCanta commented on #5474
The first TS seems to present a server side issue. The end of input is received by the client. The issue can be reproduced with other players as well. Feel free to provide more evidence if you think it's not a server-side issue.

I cannot access the second link. I eventually get a HTTP/1.1 522 Origin Connection Time-out.

The HLS stream every now and then returns 403s, which you'll be able to see

[2019-02-07 11:11] #5474 closed, assigned to AquilesCanta

[2019-02-07 11:13] AskMeCode commented on #5474
Tank you dear @AquilesCanta i will give you other link because some link is out of service

[2019-02-07 11:19] AskMeCode commented on #5474
Dear @AquilesCanta about this link http://premium-play.org:8000/live/saidclt201/XmQat4ju/2826.m3u8
with VLC work fine but with exoplayer get total time 1 min then stop

[2019-02-07 11:24] AquilesCanta commented on #5474
Please provide a logcat dump right after repdroducing the issue. If it contains repeated 403 errors, there is not much we can do about it and it needs to be fixed server side.

[2019-02-07 11:41] CodeRedDev opened #5484 "[Question] CastPlayer state changes"
### Issue description
I'm using the CastPlayer to stream audio to a ChromeCast device by `castPlayer.loadItem(...)`. This seems to work for just starting the player cause it almost instantly starts playing the audio on the CC device. Unfortunately I do not get any player status changes cause the player stays on `STATUS_IDLE`.

From the docs I read

 but that seems to make no sense to me cause a se

[2019-02-07 12:44] tonihei commented on #5477
I tried upgrading and got the same warning.

However, even after I fixed the issue in javadoc_library.gradle and javadoc_combined.gradle (*), I still get this warning pointing to an unhelpful gradle stack trace. I guess we still have some time to fix this until the end of 2019, so I'll leave this open until we figure out what else needs to be changed.

(*) I replaced all 3 occurances of `variant.j

[2019-02-07 13:41] ojw28 commented on #5473
The manifest looks incorrect to me:

* `MPD@duration` is the total duration of the presentation.
* `Period@start` is the start time of a period relative to the start of the presentation. In this case the single period has the default `Period@start = 0`.
* `S@t` is the start of the segment relative to the start of the period. The first `S@t` is a very large value (time since the epoch).

This effec

[2019-02-07 13:41] #5473 closed, assigned to ojw28

[2019-02-07 13:43] ojw28 commented on #5473
[Note: I updated my reply above to make more sense]

[2019-02-07 13:54] roundsmapp commented on #4924
Hello, Andrew,

Can we reopen this Issue? I have more data from the guys that are testing the App.

Thank you

________________________________
De: Andrew Lewis <notifications@github.com>
Enviado: quarta-feira, 19 de dezembro de 2018 11:03
Para: google/ExoPlayer
Cc: roundsmapp; Author
Assunto: Re: [google/ExoPlayer] Exoplayer failing when playing an 8 channel audio file in Android 8.0 (#4924)

Clo

[2019-02-07 13:56] sravan1213 commented on #5481
@andrewlewis yes it is working as expected. I am not building the new state using `with` helper functions. I am saving initial state of adPlaybackState when I first build it. When user seek back again i am doing following hack for ads which are skipped earlier :).
`adPlaybackState.adGroups[adGroup] = initialAdPlaybackState.adGroups[adGroup]`

Good to hear that you are mode flexibility to `AdPlayba

[2019-02-07 14:12] AskMeCode commented on #5474
@AquilesCanta
this is my logcat dump
`D/Form    ( 8380): onGlobalLayout(): heightdiff = 96 contentViewTop = 96
D/Form    ( 8380): keyboard hidden!
D/Form    ( 8380): onGlobalLayout(): heightdiff = 96 contentViewTop = 96
D/Form    ( 8380): keyboard hidden!
D/Form    ( 8380): onGlobalLayout(): heightdiff = 96 contentViewTop = 96
D/Form    ( 8380): keyboard hidden!
D/BatteryService( 3737): !@BatteryL

[2019-02-07 15:39] levz commented on #5482
@tonihei
Many thanks for breaking this down so nicely.

I would like to try concatenating source approach with custom Timebar.

Can I simply remove current content piece and then immediately add content source clipped to pause time, pause-roll ad source, and next content source clipped to start from pause time? Will it help to get around #3163 without wating for 2.10?

[2019-02-07 15:43] tonihei commented on #5482
Unfortunately, that won't work because the id of the currently played content will change and the player would assume the current content isn't there anymore. It will probably transition to the ENDED state in such a case.

[2019-02-07 16:38] seose commented on #5459
Greate Infos
thanks~

[2019-02-07 17:55] levz commented on #5482
@tonihei

Thanks, for clarifying. Will wait for 2.10 version then.

[2019-02-08 10:13] icetronics opened #5485 "Subtitles in Live Dash stream not working"
### Issue description
Subtitles are not rendering in *Live* streaming that uses MPEG-DASH with PlayReady.

### Reproduction steps, links, bug report
Sent resources via email.

### Version of ExoPlayer being used
2.9.4

### Device(s) and version(s) of Android being used
FireTV (any generation)
FireOS 5.2.6.8

Thanks in advance!

[2019-02-08 11:23] ojw28 commented on #5485
The stream is so unstable it's virtually impossible to debug. Requests that I think should succeed repeatedly 404, and the stream seems to randomly flip between having content protection and not having any. I did manage to download one of the subtitle segments. It looked either empty or malformed, although I'm not 100% sure of this.

It would be good if you could validate some other players are ab

[2019-02-08 11:23] #5485 closed, assigned to ojw28

[2019-02-08 12:02] moacir69 commented on #5404
Hi,
Do you have any news regarding this issue?
Thank you,

Moacir

[2019-02-08 14:27] AquilesCanta opened #5486 "Release ExoCastPlayer and ExoCast receiver app"
TODO list:

- Include a link to medium post here.
- Point existing default receiver issues to this issue.
- Close existing Cast receiver issues that may be fixed by the new receiver.

[2019-02-08 14:33] tonihei commented on #5484
There will be a new completely rewritten Cast extension soon (see #5486) and we won't investigate issues with the old one anymore. All things similar to what you describe will probably be fixed in the new version.

[2019-02-08 14:33] #5484 closed, assigned to tonihei

[2019-02-08 14:38] tonihei commented on #5003
Closing this issue under the assumption that the workaround we committed helps.

[2019-02-08 14:48] tonihei commented on #5373
Closing as we haven't received further input.

[2019-02-08 14:48] #5373 closed, assigned to tonihei

[2019-02-08 14:48] tipoc123 opened #5487 "PlaylistStuckException period duration customization"
When do you plan to implement your "TODO: Allow customization of stuck playlists handling."?

https://github.com/google/ExoPlayer/blob/6b0e1758b22994a2725a2aa1ec9125e83aa58419/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/playlist/DefaultHlsPlaylistTracker.java#L618

[2019-02-08 14:48] tonihei commented on #5393
Closing as answered.

[2019-02-08 14:48] #5393 closed, assigned to tonihei

[2019-02-08 14:49] tonihei commented on #5406
Closing as we haven't received further input.

[2019-02-08 14:49] #5406 closed, assigned to tonihei

[2019-02-08 14:51] tipoc123 commented on #5487
When there are no new chunks in EVENT playlist we need to wait for more time instead of throwing PlaylistStuckException. In our case may be different time between STB and server (where chunks are located). Now when a user seeks to the end of playlist PlaylistStuckException is thrown.

[2019-02-08 14:54] tonihei commented on #5487
@AquilesCanta  Any plans to do that in the near future?

[2019-02-08 15:44] vinodkputta commented on #3535
Hello,
We are also facing this issue. Mostly on Android OS 6 and 7.
Model : Micromax Q4261, K9 Kavach 4G
`Non-fatal Exception: java.lang.IllegalArgumentException
       at android.media.MediaCodec.native_setSurface(MediaCodec.java)
       at android.media.MediaCodec.setOutputSurface(MediaCodec.java:1810)
       at com.google.android.exoplayer2.video.MediaCodecVideoRenderer.setOutputSurfaceV23(Unkn

[2019-02-08 16:00] gowthamgts commented on #5301
@ojw28 @marcbaechinger: I did tried to use the `dev-v2` branch locally, but couldn't get it to work because of androidx problems. I followed the steps as mentioned on [https://github.com/google/ExoPlayer#locally](https://github.com/google/ExoPlayer#locally) and I also have the following two lines in my gradle.properties:
[code]
So, when I set `android.enableJetifier=true`, I'm getting a lot of `pa

[2019-02-08 16:23] ojw28 commented on #5301
Unfortunately, I don't think Jetifier works when you include ExoPlayer as source (I think it only applies to dependencies pulled in as aars). We need to take a serious look at how we can migrate properly to androidx (we have some internal build complexities that make this non-trivial to do).

[2019-02-08 17:04] dmitrybilko commented on #3535
Got the error just minimizing an app while playing a **1080p** video, isn't reproduced for the **720p** videos.

Version: **2.9.0**
Model: **MIBOX3 (TV)**
OS: **8.0.0**
View: **PlayerView**

[code]

[2019-02-08 21:00] ojw28 commented on #5477
I think the remaining errors might be due to the com.novoda:bintray-release plugin. Which we should really stop using before the end of 2019 anyway (https://github.com/google/ExoPlayer/issues/5246).

[2019-02-08 21:32] fitznd opened #5488 "Exoplayer enters endless buffering state when encountering discontinuity flag"
### Issue description
When playing a VOD (not live) HLS playlist, exoplayer is sometimes getting stuck in buffering state after encountering a discontinuity flag, and never recovers.

Playlist plays fine in other players.

### Reproduction steps
Seek to 29:25 in the playlist url (sent separately).  Let it play for 4 seconds.  The freeze occurs at 29:29.

It's also easy to reproduce by seeking arou

[2019-02-08 22:17] hendercine commented on #1993
Hi @andrewlewis . I checked out the YouTube video of yours and @ojw28's  presentation at io 2017 btw and thought it was great.
Anyway, I'm just wondering if you've had a chance to look into applying the quick fix as you mentioned above? I don't feel like my skills or time are up to the challenge of presenting a solution of my own, but if I could try with a little instruction perhaps...

@keyboardr

[2019-02-08 23:09] ojw28 opened #5489 "Migrate to JetPack / AndroidX"
As per title, we should migrate to JetPack.

[2019-02-08 23:28] heff commented on #5011
## Support LHLS (Low-latency HLS)

There's [a spec in process for "LHLS"](https://github.com/video-dev/hlsjs-rfcs/pull/1) which follows the Periscope and Twitch pattern for advertising segments before they're fully transcoded.

* [Demuxed Talk from HLS.js maintainer John Bartos](https://www.twitch.tv/videos/326087400)
* [Periscope's intro at the SF Video meetup](https://www.youtube.com/watch?v=RbH

[2019-02-09 20:23] jankowskib opened #5490 "EventMessageEncoder/Decoder doesn't work well with Long values"
### Issue description
I have EventMessages with a large presentation time value e.g. '<Event presentationTime="16122561404240"'. Unfortunately EventMessageEncoder stores this big values using writeUnsignedInt instead of writeUnsignedLong and the part of its value is discarded. So when EventMessageDecoder tries to decode message from inputBuffer the value is totally incorrect.

### Reproduction ste

[2019-02-10 05:08] wazerstar opened #5491 "Support for DVB EBU Teletext subtitles"
### Issue description
Not being able to select subtitles from various "TV" providers that use TeleText / VBI Subtitles instead or DVB Subtitles.

### Reproduction steps
I have provided iptv links from my private hdhomerun network that is up 24/7 and can be freely used by any exoplayer dev, file included is m3u list packed into a zip file.

quick and fast way i do is to use the brand new [tivimate]

[2019-02-10 05:29] KellzCodes opened #5492 "Demo crash on open"
### Issue description
Process: com.google.android.exoplayer2.demo crashes on open

### Reproduction steps
1. Upgrade build tools to 3.3.1
2. Sync
3. Run the demo on your phone

### Link to test content
Not available

### Version of ExoPlayer being used
Branch dev-v2

### Device(s) and version(s) of Android being used
Motorola Moto Z Play Droid - Motorola XT1635-01(Android 8.0.0, API 26)
com.androi

[2019-02-10 08:10] andrewlewis commented on #5492
Please could you try uninstalling the demo app (`adb uninstall com.google.android.exoplayer2.demo`) then re-installing it?

[2019-02-10 18:04] ridvanzoro opened #5493 "ConcatenatingMediaSource + ImaAdsLoader = java.lang.IllegalStateException"
Hi,
When I use ImaAdsLoader with ConcatenatingMediaSource, I get java.lang.IllegalStateException error. Could you please help me?

[code]

Error:
[code]

[2019-02-10 19:13] ghost opened #5494 "Lockscreen async image"
Hi,
Is there any method to update `MediaDescriptionCompat`  after downloading album artwork from asynctask? I need to download artwork on background thread and update locksrceen image after downloading completes.

[2019-02-10 19:27] ojw28 commented on #4519
The wider fix has been released in 2.9.5.

[2019-02-10 19:42] babkouew opened #5495 "ProgressiveDownloadAction show as deprecated in ExoPlayer 2.9.3"
I have implemented DownloadManager features as described in the medium posts, everything works fine but my ProgressiveDownloadAction shows as deprecated. Is there a new way to go around about stuff?

[2019-02-10 19:47] ojw28 commented on #5495
Whenever we deprecate something, the Javadoc tells you what to use instead. See [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/offline/ProgressiveDownloadAction.html#ProgressiveDownloadAction-android.net.Uri-boolean-byte:A-java.lang.String-).

[2019-02-10 19:47] #5495 closed, assigned to ojw28

[2019-02-11 01:46] joechan-cq commented on #5286
Yes, I have done this as what you say. Thanks for supporting.

[2019-02-11 06:15] kushalgupta0565 commented on #2394
Hi,

I am new to exoplayer and these .MPD file things. But i am trying to get it. I am facing the similar challenge as mention above. I am trying to use `multiple DRM license` with a `single exoplayer instance`.

I have downloaded multiple license byte array using

[code]

but not able to figure out how to pass them while creating the instance of Exoplayer.

I am using `DashMediaSource.Factory` fo

[2019-02-11 08:19] andrewlewis commented on #5493
Please see #3750.

[2019-02-11 08:19] #5493 closed, assigned to andrewlewis

[2019-02-11 08:20] andrewlewis commented on #3750
We've planned some time to look at this over the next couple of months, but can't provide any guarantees.

[2019-02-11 08:36] jeho1335 opened #5497 "Not work gapless playing between two HLS Audio str"
Hi. I am developing an audio streaming application using ExoPlayer v2.

To implement gapless playback during playback of consecutive tracks within an album, the MediaSource of the next song is inserted into ConcatenatingMediaSource before the currently playing track ends.

It is confirmed on the Profiler that the next song is loaded via network communication before the actual playing track ends. A

[2019-02-11 09:04] ojw28 commented on #5490
We're currently misusing the `presentation_time_delta` `Event` field to store absolute presentation timestamps. This doesn't work properly for large timestamps, because the field is only 32 bits. We don't actually need to pass the presentation timestamps through the binary representation of `EventMessage`, so we'll push a fix that stops doing this.

[2019-02-11 10:17] jankowskib commented on #5490
Thank you for quick reply. I temporarily extended serialized field to 64 bit and it works fine. Here's the commit if interested (https://github.com/jankowskib/ExoPlayer/commit/8d02b75a410bc5e01a00b3e3cbc2f13cec2e88df)
@ojw28 Do you suggest to add presentationTime as an argument to EventMessageEncoder.decode(...) in the same way as timescale? I could do a PR with such fix

[2019-02-11 10:39] ojw28 commented on #5490
Extending the serialized field to 64 bit will break parsing of in-band (i.e. embedded in FMP4) emsg atoms. Which may or may not be a problem for your use case. There's no need for `EventMessage` to contain presentation timestamp at all. We will push a change to fix this problem sometime today or tomorrow.

[2019-02-11 11:20] pawaom opened #5498 "Set Custom Album art for Audio(mp3) file with no Album Art"
When reporting a bug:
-----------------------

### Issue description
Set Custom Album art for Audio(mp3) file with no Album Art

### Reproduction steps
 An audio file which has no album art of its own, shows a blank view

### Link to test content

### Version of ExoPlayer being used

 implementation 'com.google.android.exoplayer:exoplayer-core:2.8.1'
 implementation 'com.google.android.exoplayer:e

[2019-02-11 11:54] manser88 opened #5499 "there is a video stream, there is no sound hls"
Привет. Я столкнулся с проблемой, я воспроизвожу поток hls/m3u8 видео есть, а звука нет. На андроид 6,0 все работает, на других версиях андроид нет. Подскажите пожалуйста в чем проблема?

[2019-02-11 11:59] manser88 commented on #5499
`  Handler mainHandler = new Handler();
        BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);
        TrackSelector trackSelector = new DefaultTrackSelector(videoTrackSelectionFactory);

        // 2. Create a default LoadControl
        LoadControl loadControl = new Defau

[2019-02-11 12:42] AquilesCanta commented on #5499
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-02-11 12:42] #5499 closed, assigned to AquilesCanta

[2019-02-11 12:55] ojw28 commented on #5498
You can already do this with `PlayerView.setDefaultArtwork`?

[2019-02-11 12:57] andrewlewis commented on #5483
I reproduced this issue on a Sony Bravia 4k TV. As you indicate, it looks like no useful diagnostics are output to logcat when the problematic adaptation occurs.

If I set track selection parameters to force selection of only the 4k/60fps stream, it plays fine. It looks like the corruption occurs only when adapting from 4k/30fps to 4k/60fps only (and goes away after adapting back down). For refere

[2019-02-11 15:07] jeho1335 opened #5500 "Not work gapless playing between two HLS Audio Streaming"
Hi. I am developing an audio streaming application using ExoPlayer v2.

To implement gapless playback during playback of consecutive tracks within an album, the MediaSource of the next song is inserted into ConcatenatingMediaSource before the currently playing track ends.

It is confirmed on the Profiler that the next song is loaded via network communication before the actual playing track ends. A

[2019-02-11 15:07] #5497 closed, assigned to nobody

[2019-02-11 15:37] AquilesCanta commented on #5454
Hi @NathanSass, I have just requested access to the zipped file. Please post here once you provide access. Does the issue not reproduce with the demo app? Is it not possible to provide us with a standalone link to the content?

[2019-02-11 17:05] andrewlewis commented on #5284
The fix for this is being rolled out gradually at the moment.

[2019-02-11 17:22] #5498 closed, assigned to ojw28

[2019-02-11 17:41] AquilesCanta commented on #5404
Unfortunately we don't have any that can be publicly shared.

Yes. The clear version of the stream that you provided works well. The play ready version doesn't contain the right keyformat (for playready, it should be `com.microsoft.playready`) and a license server url also needs to be provided. Have a look at the demo app's media.exolist.json file to see how that can be provided in the demo app.

[2019-02-11 18:08] #5492 closed, assigned to andrewlewis

[2019-02-11 18:09] AquilesCanta commented on #5454
Hi @NathanSass, the streams are giving me a 404. Would you kindly make sure they are currently available?

[2019-02-11 18:09] #5362 closed, assigned to andrewlewis

[2019-02-11 18:17] andrewlewis commented on #5356
@Akansha-Yadav Is there anything else to address here, or can the issue be closed?

[2019-02-11 18:18] andrewlewis commented on #5239
The GVR dependency has been updated, so this might be fixed.

[2019-02-11 18:18] #5239 closed, assigned to andrewlewis

[2019-02-11 18:21] andrewlewis commented on #4140
Just a quick update: the likely root cause of this has been identified but fixing it is probably going to need to wait until some structural improvements to how preloading works in the IMA SDK have been completed.

[2019-02-11 18:23] andrewlewis commented on #5428
#677 is related (or maybe a duplicate).

[2019-02-11 18:37] AquilesCanta commented on #5456
Hi @KaiYeYang, could you please provide a bugreport? Have you tried more than one device/android version? Is it possible it is device specific? Also please:

* Provide more precise reproduction steps.
* Clarify how easy it is to reproduce.

I have tried to reproduce with no luck.

[2019-02-11 19:10] marcbaechinger commented on #5500
Do you also see the same behaviour, if you initially setup the ConcatentatingMediaSource with more than one MediaSource, or does this only happen when you kind of dynamically add the MediaSources before the track ends (which is the approach you are describing)?

I also wonder if this somehow involves gapless media? Does the stream you are adding have gapless metadata which the player needs to hono

[2019-02-11 20:12] marcbaechinger commented on #5494
This involves updating the queue and the metadata of the to the media session.

How you do this depends on how you are publishing the queue and the metadata to the session. The standard way to do this with the `MediaSessionConnector` is using the `TimelineQueueNavigator` (which publishes the queue to the session) and the `MediaSessionConnector.DefaultMetadataProvider` (which provides the metadata

[2019-02-12 05:10] jeho1335 commented on #5500
1. Yes. The media source is being dynamically added to the ConcatenatingMediaSource before the currently playing track ends.

2. This is part of the specific track metadata that you try to play with gapless playback.
(Important information is obscured.)

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-KEY:METHOD=AES-128,URI="****",IV=***
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-ALLOW-CACHE:NO
#EXT-X-TARGETDURATION:11
#EXTI

[2019-02-12 08:49] moacir69 commented on #5404
Thanks for the information. We will update the sample contents and will retry the playback.
Warm regards,

Moacir

[2019-02-12 12:13] andrewlewis commented on #5444
The IMA SDK doesn't pass us information on which ad group failed to load when reaching an empty ad group (see also #5006). The problem here seems to be that we get the empty ad load error relating to the ad group at 19 seconds even before we've played the ad that successfully loads at 18 seconds. The logic we have for calculating which ad group an empty ad load error relates to currently doesn't e

[2019-02-12 14:26] andrewlewis commented on #5347
@Divya015 When I looked at #4974 before I couldn't see a path that could allow this to happen. Could you make a minimal project that reproduces the issue using the latest version of ExoPlayer, and share a link to it here? Or if you can spot a sequence of events that causes this to happen please describe it. Thanks in advance.

[2019-02-12 14:44] andrewlewis commented on #4941
@AlexDundar Sorry for being slow to reply. I was looking into this again today but found that I couldn't reproduce the error: the midrolls are either empty or play as expected, and the player doesn't get stuck. Do you have an up to date ad tag that can be used to reproduce the original problem, or have you found a way to work around it? Thanks.

[2019-02-12 15:03] andrewlewis commented on #4779
This seems to be fixed in IMA 3.10.6, testing using the development branch, so closing.

[2019-02-12 15:03] #4779 closed, assigned to andrewlewis

[2019-02-12 16:26] bkraszewski opened #5501 "Use SeekParameters in ClippingMediaSource to snap clipping positions to keyframes"
Hello,

I have problem with ExoPlayer - ClippedMediaSource.
In application I have a source video.
From this video, I'd like to play content from start to end - in miliseconds, in sample app its:
start: 1140ms end 3140ms

I'd like to concat it with looped part of a video:
start: 3140ms end 34050ms

Looks like perfect scenario for ClippingMediaSource, LoopingMediaSource and ConcatenatingMediaSource.

[2019-02-12 16:50] tonihei commented on #5501
`ClippingMediaSource` currently applies the start and end position as it is. If a source doesn't start with a keyframe, we can't play transitions seamlessly. The reason is that we would need to decode two streams in parallel (the end of the first stream and the start of the second stream from the previous keyframe to the actual start position) to allow such a transition.

However, we do already ha

[2019-02-12 17:16] bkraszewski commented on #5501
Thanks for reply, can I use snap seek to retrieve information about frames
in time window or its implemented internally?

On Tue, Feb 12, 2019, 17:51 tonihei <notifications@github.com> wrote:

[2019-02-12 17:23] tonihei commented on #5501
Interesting question. You could try to pause the player `player.setPlayWhenReady(false)`, set the seek parameters with  `player.setSeekParameters(SeekParameters.CLOSEST_SYNC)` and then seek to the clipping position (`player.seekTo(positionMs)`). You should receive two callbacks with `onPositionDiscontinuity`, one with reason SEEK and shortly after that with reason SEEK_ADJUSTMENT (that's the snapp

[2019-02-12 18:21] AquilesCanta commented on #5441
I have already started working on this. Once it is available, a commit reference will appear here. Thanks for your patience!

[2019-02-12 18:38] ghost commented on #5494
@marcbaechinger  Thanks a lot. It would be nice if it was mentioned clearly in document.

[2019-02-12 21:44] tipoc123 commented on #5487
Any news?

[2019-02-13 00:18] roundsmapp commented on #4924
Even using ```file://``` instead of ```assets```, the audio still fails. It works without looping, but it doesn't solve it, as looping is mandatory.

[2019-02-13 06:53] KaiYeYang commented on #5456
Hi @AquilesCanta , thanks for your reply. I had do more analyse and draw a event process sequeue diagram as follow link:
[https://drive.google.com/file/d/1DHQMf4u-cmrqtw3CkmuB7fpVZ4_lG5OE/view?usp=sharing](url)

In this diagram, there are three threads:
1. Thread One: ACodec Message Deliver: this thread proccess the codec message and post these message to MediaCodec.
2. **Thread Two:** MediaCodec&

[2019-02-13 06:58] caprice opened #5502 "play the audio error when reached 22 secs position"
from the error stack:

[code]
The audio https://qiniu.yunjilink.com/7sVsQSyLqgl8tJY8qgJBa_DKh44=/lpKV7HFasjjp4ZMUhWkiT1LO7f9X can be played at any position but not at 22 secs.

Btw, **the issue can only reproduced in one device** in my hand,
![image](https://user-images.githubusercontent.com/2981114/52692776-d3216f00-2f9f-11e9-9b98-17b80cbf5bc1.png)

[2019-02-13 07:03] KaiYeYang commented on #5456
Hi, @AquilesCanta , I delete the codec.setVideoScalingMode(scalingMode) in processOutputFormat function in MediaCodecVideoRenderer.java file, this issue won't produce.

[2019-02-13 07:36] dirondir opened #5503 "MPEG-4 file is played with sound but without picture"
### Issue description
file is played with sound but without picture (I see black screen).

### Reproduction steps
That's my code to initialize the player and set the media path

[code]
then

[code]
and then

[code]

### Link to test content
It has been sent to dev.exoplayer@gmail.com

### Version of ExoPlayer being used
2.9.4

### Device(s) and version(s) of Android being used
nvidia shield 2017,

[2019-02-13 10:19] AquilesCanta commented on #5487
No plans so far, sorry. Can you describe specifically what you'd like to achieve? Is it basically increasing the period of waiting time before throwing PlaylistStuckException?

[2019-02-13 10:25] josephx86 opened #5504 "Response code: 403 when trying to play audio stream"
### Issue description
I have used the demo app to stream audio (internet radio) from 2 servers.
The servers are:
Server 1: http://37.59.37.6:15996/;nocache=1549918083
Server 2: http://listen.radionomy.com/breezefm
When trying to stream from server 1, exoplayer fails with a 403 error code (com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 403). Strea

[2019-02-13 10:26] AquilesCanta commented on #5456
Thanks for the precise description. Would you kindly provide the stream with which you are reproducing? If you wouldn't like it to be public, please send it to dev.exoplayer@gmail.com. Thanks!

[2019-02-13 11:09] josephx86 commented on #5504
After more research and analyzing network requests, I think the issue was something to do with the server itself. It appears to be accepting exoplayer's connection when the app requests
[code]

[2019-02-13 11:09] #5504 closed, assigned to nobody

[2019-02-13 11:14] pawaom opened #5505 "How to customize playerNotificationManager"
### Issue description
How can we customize notification shown by Exoplayer

### Reproduction steps
 I have referred this code

https://www.youtube.com/watch?v=svdq1BWl4r8

https://github.com/google/Exoplayer/tree/io18

### Link to test content
 this is the code I have used

[code]

I know to customize notification we use this

[code]

### Version of ExoPlayer being used
   implementation 'com.goog

[2019-02-13 11:16] GensaGames commented on #3100
Any updates here? It effects a lot of internal projects to switch from ExoPlayer, or use customized version. Thanks.

[2019-02-13 11:29] theprogrammerin commented on #5195
All these issues look similar to the following:
https://github.com/google/ExoPlayer/issues/5323
https://github.com/google/ExoPlayer/issues/5488
https://github.com/google/ExoPlayer/issues/5444

[2019-02-13 11:30] andrewlewis commented on #3100
We're hoping to push a fix over the next few weeks.

[2019-02-13 11:48] pawaom opened #5506 "Feature Request Can we translate Subtitles"
Feature Request Can we translate Subtitles

Can we translate subtitles which are being shown may be using google translate etc

also another request is for  Localization we need to create multiple strings.xml files which leads to increasing apk size, can it be auto translated

[2019-02-13 11:49] RalphSleighC4 commented on #3775
We have kept our T580 up to date and playing video several hours a day and have not seen this issue in months, it's possible it was fixed in one of the monthly updates (we are on Nov 2018 security patch)

[2019-02-13 12:29] tipoc123 commented on #5487
Yes. You understood correctly.

[2019-02-13 13:09] harrshiil commented on #5219
hey, @sathishkumar1392 did you find any solution for this ??? I am facing the same kind of issue.
I am facing this issue only in those videos which are captured in Samsung devices.

[2019-02-13 14:03] sravan1213 opened #5507 "Black screen appears when we seek over an AdGroup."
When playing ads using AdsMediaSource and AdsLoader, if we seek over an adGroup black screen appears until the ad is loaded. This does not happen when we seek within content before adGroup, it will retain the previous frame until seek position data is available.

This issue is easily reproducible in sample app. Please look into this, also provide some info where I can look in ExoPlayer to understa

[2019-02-13 15:43] Jogan commented on #5483
Just adding a few more details:
- This occurs on both HLS and DASH
- The issue is present when going from a 1080 resolution up to 4K as well
- When manually selecting the variant (using track selector) the issue IS NOT present.
- Like @andrewlewis said by forcing the selection to only one variant, the content will play fine.

It's not exclusively a Sony issue this also happens on the new FireTV st

[2019-02-13 16:53] ntohill95 commented on #4303
hi @ChristianKleineidam, did you get any further with this? Having the exact same issue myself!

[2019-02-13 16:57] #5286 closed, assigned to erdemguven

[2019-02-13 19:24] marcbaechinger commented on #5505
The PlayerNotificationManager creates a MediaStyle notification which is rendered by the platform. Besides the properties which you can set on the PlayerNotificationManager and are delegated to the builder there is no other customization I'm aware of. It seems to me that we expose pretty much all properties which can be set to the builder which makes the MediaStyle notification.

A media style not

[2019-02-13 20:52] marcbaechinger commented on #5503
Thanks for reporting. I'll try to reproduce this on a device.

Can you confirm this happens only when you enable tunneling? Does it happen on other devices than Nvidia shield 2017 as well?

[2019-02-13 21:15] marcbaechinger commented on #5506
#4657

[2019-02-13 21:19] marcbaechinger commented on #5506
Thanks for your request. I think this is not something we are going to support from ExoPlayer library side anytime soon.

Please see issue #4657 about the same topic.

[2019-02-13 21:20] #5506 closed, assigned to marcbaechinger

[2019-02-13 21:47] marcbaechinger commented on #5507
Thanks for your report!

I can reproduce this behaviour with an mid roll ad tag like the sample tag added below. In case a user seeks over ad marker from a position at which the ad has not yet been loaded, the surface is immediately rendered black.

https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&outpu

[2019-02-13 22:34] marcbaechinger commented on #5505
One thing came to my mind which may change the appearance of the notification is whether you set the media session token or not with [setMediaSessionToken(MediaSessionCompat.Token token)](https://github.com/google/ExoPlayer/blob/1c4ea26ff0ff530a1282398377a2cddfceefc3f6/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L579):

`playerNotificationManager.setMed

[2019-02-13 22:44] marcbaechinger commented on #5502
The streams plays fine for me. It loads about 2 minutes of audio data into the buffers and passes 22 seconds without stopping playback or any log statements.

As you said this seems to be a device specific issue.

I'm pretty sure if we could look into a bug report, we could confirm this. Please provide complete information as requested in the issue template, if you want me to do that. The issue te

[2019-02-13 23:56] marcbaechinger commented on #5494
I looked at the Java docs of the methods (see below) which mention that these need to be called when the data changes and needs to be updated on demand. The javadoc of the `DefaultMediaMetadataProvider` says that the metadata is taken from the active queue item.

But I acknowledge that this is not obvious, because the behaviour is created as a result of the interaction of various components.

I'm

[2019-02-14 05:34] dirondir commented on #5503
I tried with NVidia Shield 2017 (Android 8.0, API 26), Google Pixel 2 (Android 9.0 with all current updates, API 28) and Android Emulator (I use it with API 27)
Result is the same for all devices regardless of tunneling (if you meant using the setTunnelingAudioSessionId function)

[2019-02-14 06:17] pawaom commented on #5505
yes it required `setMediaSessionToken ` working fine now that I Have added it thanks for the help

[2019-02-14 06:17] #5505 closed, assigned to marcbaechinger

[2019-02-14 07:41] xiaoxixi615 opened #5509 "How to dynamically add subtitles after player has been prepared"
When playing a local video using exoplayer,  i want to play the subtitles along with the video.
The subtitle files are placed somewhere in sdcard, and I can select them from a file browser.

My question is:
       1、When I am playing a video(maybe played some minutes), can I select and apply a subtitle dynamicly without re-preparing the source video again? because re-preparing seems to lead a blac

[2019-02-14 08:54] KaiYeYang commented on #5456
Hi, @AquilesCanta , I am so sorry that I cann't provide the stream to you, but I will try to find a public stream to reproduce this issue and will share it to you.

Thanks!

[2019-02-14 09:46] KaiYeYang opened #5510 "DASH content test stream which has "indexRange" but has no "Initialization range", the player played it fail."
**Issue description**
Attach DASH content test stream which has "indexRange" but has no "Initialization range", the player played it fail.

**Reproduction steps**
1. Download the attach test content, and make it as a http link, exp: http://ip:port/mp4-onDemand/mp4-onDemand-mpd-AV.mpd.
2. Use exoplayer to play this content.

**Link to test content**
[https://drive.google.com/open?id=17CTa92HnjwT8K_

[2019-02-14 09:49] AquilesCanta commented on #5456
No, thank you for the effort you are putting into this. I'll try again once I have a stream which which your are able to reproduce.

[2019-02-14 09:50] AquilesCanta commented on #5456
Also, please do include a bugreport obtained after reproducing the issue. You can also send that to dev.exoplayer@gmail.com.

[2019-02-14 10:08] omerGlobalBIt opened #5511 "RTSP branch support"
Hello, I was wondering what happened to the dev branch for rtsp support?

[2019-02-14 11:53] mohamedhamada1 opened #5512 "Does the ExoPlayer support VeriMatrix?"
does VeriMatrix still not supported ?

[2019-02-14 11:53] mohamedhamada1 commented on #5512
does VeriMatrix still not supported ?

[2019-02-14 12:05] mathemandy opened #5513 "Question Is there a way for Exoplayer to prepare Source faster"
Hi, is there away i can prepare my source Faster?
lets say i get all 100 songs from the server ,  from the console i see exoplayer taking forever to prepare source as it logs this on the Console.

`2019-02-14 12:47:45.938 12735-12947/ng.groove.udux W/zygote: Long monitor contention with owner DefaultHlsPlaylistTracker:MasterPlaylist (12951) at void com.google.android.exoplayer2.upstream.cache.Simp

[2019-02-14 12:05] marcbaechinger commented on #5503
I looked into the matroska file you sent us. It seems to me that the codec inside the container is XVID according to the FOUR_CC. That's a codec which is not necessarily supported by Android.  I checked

ExoPlayer supports all [formats which are supported by the Android Media Framwork](https://developer.android.com/guide/topics/media/media-formats). It might be that some devices have such a codec.

[2019-02-14 12:12] dirondir commented on #5503
How can I get the media_codecs_xml file for a device?

[2019-02-14 12:32] raunakyadav opened #5514 "Ads UI is not removed if player is reused for a different mediaSource"
### Issue description
Ads UiElements(Learn More, Timer) from an AdsMediaSource are not removed if we replace the mediaSource in exoplayer.

### Reproduction steps
Play an AdsMediaSource in exoplayer. -> Update the player (without releasing) with new MediaSource. -> Check UI
Scenario : We have a RecyclerView that may show video cards at certain intervals. We are trying to re-use the same exoplayer

[2019-02-14 13:06] SumukhaK opened #5515 "Skipping introduction/credits part of the video"
Hi, I would like to implement features "Skip intro" and "Next episode" like it is in Netflix. Let's say the total duration of the vide is 00:15:12(HH:mm: ss) and I want to skip starting 18 seconds and give a button for Next episode once video exceeds 00:14:42. How can I achieve this? Thanks.

[2019-02-14 13:32] andrewlewis commented on #5514
Are you releasing the `ImaAdsLoader` when switching to a media source without ads? I would have expected that `adsManager.destroy()` in `ImaAdsLoader` would cause the ad UI to go away. If it doesn't work like that, we may need to call `adDisplayContainer.getAdContainer().removeAllViews();` in `ImaAdsLoader.release()`.

[2019-02-14 13:37] AnjliPatel opened #5516 "Exoplayer : Playback error"
I had recorded video of 1920 X 1080,1280 X720 size on device and Its stored in internal sotrage, now this  video unable to play, below you can find bug report and detail.
Device name: samsung galaxy j3 os 8.1.0,samsung S7 edge os 8.0.0, samsung s6
below 1920 X 1080 are worked properly,but using  above and this size got error like "playback error" while initialize exoplayer every time.
version of e

[2019-02-14 13:46] AquilesCanta commented on #5512
Please see #3781. No changes on that, and it's not in the roadmap unfortunately. It is also unclear to us the steps required to support this.

[2019-02-14 13:46] #5512 closed, assigned to nobody

[2019-02-14 14:20] caprice commented on #5502
Thanks for looking into this question. Here is the more detailed [error log](https://github.com/google/ExoPlayer/files/2865342/error.log) per your request.

[2019-02-14 14:58] jankowskib commented on #5490
OK. It's no longer issue for me

[2019-02-14 15:12] erdemguven commented on #5513
Which version of ExoPlayer are you using? If it isn't the development branch, could you try and let us know if it fixes the issue.

[2019-02-14 15:14] marcbaechinger commented on #5509
You can sideload subtitles as described in the [developer guide](https://google.github.io/ExoPlayer/guide.html#side-loading-a-subtitle-file). Once you've done this you should be able to select text tracks and switch between the languages you sideloaded.

Can you have a look and let me know whether this is what you are looking for?

[2019-02-14 15:16] marcbaechinger commented on #5509
In case you want to add subtitles after you have prepared the player, then this is not yet supported. Please refer to the tracking issue #1649 in this case.

[2019-02-14 15:40] marcbaechinger commented on #5515
I think you want to receive a message or an event at a given position of a stream.

After the duration of the intro has elapsed, you want to remove the button and a minute before the end you want to add the 'next episode' button.

What you can do is sending a message at a given position, similar to the snippet below:

[code]
However, these messages are only sent when the given position is actually

[2019-02-14 15:44] marcbaechinger commented on #5510
The link to the mpd seems to be broken. Can you please check and correct so we can look at it?

[2019-02-14 15:53] marcbaechinger commented on #5516
Thanks. This seems to be a codec issue on these devices with the Exynos codecs.
I mark it as a a device specific issue for now. I'd like to confirm this.

Can you please provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please email the link to
dev.exoplayer@gmail.com using a subject in the format "Issue #5516".

[2019-02-14 16:10] mathemandy commented on #5513
I am using Exo Version
` implementation 'com.google.android.exoplayer:exoplayer:2.9.4'`

[2019-02-14 16:21] marcbaechinger commented on #5503
You need to know where it is located on your device. :)

This is normally /etc/media_codecs.xml or similar. For my Pixel phone on which I test it's under /vendor/etc/media_codecs.xml.

If you need to check where it is, you can do the following command to get a shell on the device:

[code]

and then check where the file is like: /etc/media_codecs.xml

Once you found the location, you can download t

[2019-02-14 16:36] wazerstar commented on #5491
Removed https from pictures, seems not work, http works tho.

[2019-02-14 17:03] dirondir commented on #5503
Thank you for help :)
Maybe is there an extension for Exo Player to add XVID codec?

[2019-02-14 17:12] wreuven commented on #5479
Is there much integration with Android specific components beyond the low level decoding?

[2019-02-14 17:16] sergexte opened #5517 "Playing a 360 mp4 video"
I have a question, I tried getting a 360 (mp4) video to play with Exoplayer (v2.9.0) and I couldn’t get it to work.

The sample in the sample app works great. If I use that file it plays nicely. I noticed it is a .ts file which I tried converting my own .mp4 to .ts but it still failed.

Where could I find some information on how to make the setup for this to work? Or is this not meant to be suppor

[2019-02-14 17:40] tonihei commented on #5479
It's unfortunately not that easy. The whole library is built around Android specific code most notably the message passing concepts using Looper and Handler. But also other auxiliary things like Pair, nullable annotations, SystemClock etc.  While it's potentially possible to rip that apart and replace by interfaces which can do the same thing, I don't believe it's worth the effort. Also keep in mi

[2019-02-14 19:00] andrewlewis commented on #4924
@roundsmapp Are you saying that if you use looping the audio doesn't play smoothly, but it does play smoothly without? This sounds very strange. A recording of the problematic behavior might help us figure out what's going on.

Please could you also address the other questions from my comment of Nov 5?

[2019-02-14 20:38] wreuven commented on #5479
There seems to be support for some of these things but I take your point:

https://developers.google.com/j2objc/javadoc/android/reference/android/util/Pair
https://developers.google.com/j2objc/javadoc/android/reference/android/os/SystemClock

Looper & Handler replacement maybe from open source such as:
https://github.com/weidagang/jhandler

j2objc options
--nullability
Converts Nullable and Nonnul

[2019-02-14 22:01] AquilesCanta commented on #5488
Hi, I can see that the PMT's CRC checks are failing. Disabling the checks will make the stream work normally.

This doesn't necessarily mean that the CRC itself is wrong, but rather something in the packet structure.

The issue reproduces in VLC for me. I also get a packet size related warning from dvbsnoop. I will close under the assumption that this is malformed media. If you have evidence sugge

[2019-02-14 22:01] #5488 closed, assigned to AquilesCanta

[2019-02-15 01:03] KaiYeYang commented on #5510
Hi, @marcbaechinger , thanks for your reply, please download the mpd and media file by using this link:
[https://drive.google.com/file/d/17CTa92HnjwT8K_6oFtpAuJrwrBUaa-02/view?usp=sharing](url)

thanks!

[2019-02-15 01:20] marcbaechinger commented on #5510
Many thanks!. I was able to download and can confirm the described behaviour.

The player parses the manifest and reads the `indexRange` which tells in what byte range the index has to be expect.

`
<SegmentBase indexRangeExact="true" indexRange="860-1611"/>
`

Like your code snippet shows, `DefaultDashChunkSource` then attempts to read initialization and index data according to this description (

[2019-02-15 01:35] xiaoxixi615 commented on #5509
Thank you very much for your quick reply.  It do seems like issue #1649.
My case is that when I am playing a video,  I am able to download an online subtitle from server and apply it directly during the video playing. As the media has been started to play, I don't want to prepare it again(re-buffering may interfere the normal playing process)

Have you a plan to enhance this issue in the near futu

[2019-02-15 02:56] aderinto05 opened #5518 "java.lang.outofmemory"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2019-02-15 02:59] aderinto05 commented on #5518
![screen shot 2019-02-15 at 9 54 13 am](https://user-images.githubusercontent.com/40485371/52831738-4e9e3000-3108-11e9-9933-dfd4833a7073.png)

I got error like this when implement exoplayer.

[2019-02-15 05:54] KaiYeYang commented on #5510
Hi, @marcbaechinger , I had check the declared indexRage is correct, as the attached picture:
Offset 860 is the start position of 'sidx' box and the offset 1611 is the end position of 'sidx' box. After 'sidx' box is 'moof' box.

![indexrange start position](https://user-images.githubusercontent.com/47199525/52837218-ced48d80-3128-11e9-8a8b-3bde1645c7cb.png)
![indexrange end position](https://user-

[2019-02-15 06:02] KaiYeYang commented on #5510
[code]

[2019-02-15 06:46] AnjliPatel commented on #5516
Thanks,
 Using external link its play perfectly, The error occurs when I recorded a video by the device  and play using exoplayer got an error like "playback error"

[2019-02-15 07:11] SumukhaK commented on #5515
Thank you for the response. I agree with "easiest way" part, however, I'm new to all this and I'm afraid I didn't understand the message part of your explanation.
I'm using Java to code my android application which plays .mpd(DASH) files and when it comes to "Message" part of the Exoplayer I kind of lost it. Where can I read about it more? I'm not sure what is "messageType" what is "payload" part

[2019-02-15 07:22] raunakyadav commented on #5514
Just releasing the ImaAdsLoader removed the UiElements but the controller still did not come up. Calling l `adDisplayContainer.getAdContainer().removeAllViews();` fixed the problem.
Thanks for quick fix.

[2019-02-15 07:32] fishforest opened #5519 "generate local video thumbnail"
How to generate thumbnails like Android ThumbnailUtils.createVideoThumbnail(), I looked for a similar problem #1670, but failed to solve the problem. I want to extract a certain frame of a video file directly through exoplayer. You don't need ui to participate. Can you give a suggestion? Thank you

[2019-02-15 10:09] marcbaechinger commented on #5519
You can render the video on a surface and then get the bitmap from there.

This can be done by using a TextureView which provides a [getBitmap()](https://developer.android.com/reference/android/view/TextureView.html#getBitmap(int,%20int)) method or alternatively since Android N (API 24) there is the [PixelCopy](https://developer.android.com/reference/android/view/PixelCopy) class which works on a

[2019-02-15 10:09] #5519 closed, assigned to marcbaechinger

[2019-02-15 10:13] marcbaechinger commented on #5518
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-02-15 10:27] aderinto05 commented on #5518
**version**
com.google.android.exoplayer:exoplayer:r2.5.4
**step**
- click video (Non HQ mode)
- click HQ Button (reset stream url from Non HQ to HQ)
and I got error this.

[2019-02-15 10:35] marcbaechinger commented on #5515
In the simplest case you don't need these two arguments at all. The default `PlayerMessage.getType() `is 0 and the default `PlayerMessage.getPayload()` is null, as it would be in the example snippet above..

The `messageType` and the `payload` can be set to whatever you want it to be. It's specific to the message you are sending. It is used to transport data from the sender of the message to the t

[2019-02-15 10:46] marcbaechinger commented on #5518
Many thanks. The issue template asks for some information which allows us to investigate an issue. With the information you are providing we can't really look into this some further.

Please provide us with a sample stream and a bug report, so we can investigate what the problem might be. The best procedure is to add you stream to the [sample list of the demo app of ExoPlayer ](https://github.com/

[2019-02-15 10:48] marcbaechinger commented on #5516
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-02-15 11:08] marcbaechinger commented on #5511
I'm not aware of a specific branch for RTSP I'm afraid. There is an open pull request around RTSP. You can follow that pull request to be up-to-date about its integration:

https://github.com/google/ExoPlayer/pull/3854

[2019-02-15 11:08] #5511 closed, assigned to nobody

[2019-02-15 11:33] marcbaechinger commented on #5510
Ok, thanks @KaiYeYang! I'll look into this an see whether we should fallback to start position 0 and length of zero in case of a missing initializationUri. It sounds a bit odd to me to disregard the explicit SegmentBase declaration of the index.

I look into this to see whether we are doing the right thing. Thanks for reporting and explanation.

[2019-02-15 11:33] Paradam opened #5520 "IndexOutOfBoundsException switching between progressive and adaptive streams"
### Issue description
When trying to switch an ExoPlayer instance between a Dash and an MP4 stream (or MP4 to Dash) while trying to resume at the same playback position an IndexOutOfBoundsException occurs.

Specifically, calling prepare with resetPosition set to false while changing MediaSource types will cause the exception.
`player.prepare(mediaSource, false, true);`

### Reproduction steps
1. L

[2019-02-15 12:27] diegogvieira commented on #4100
Do you guys have any tutorial how to store license keys for offline playback?

[2019-02-15 12:57] andrewlewis commented on #2147
@cncb-gh No progress I'm afraid. The option of adding a flag was considered above but we decided it was too hacky, and that instead we should identify the media.

Looking at the code again, I think one option that would work and not be too obtrusive would be to output a new format for the DTS-HD track once we've started reading the first sample and have identified that it's indeed DTS-HD instead o

[2019-02-15 14:33] marcbaechinger commented on #5503
There are no plan fur such an extension now and in the near future. Maybe the existing ffmpeg extensions can help you doing this in software. But I frankly don't know whether ffmpeg support this.

[2019-02-15 14:33] #5503 closed, assigned to marcbaechinger

[2019-02-16 00:51] marcbaechinger commented on #5520
Thanks for reporting! I can confirm this behaviour. When the position is not reset on prepare, the new `PlaybackInfo` object is reset with the `MediaPeriodId` of the previous playbackInfo in `ExoPlayerImpl:L670`. If the previous timeline is not of the same type (like `DashTimeline` -> `SinglePeriodTimeline`), then getIndexOfPeriod() which is implemented by these concrete timelines, returns C.INDEX

[2019-02-16 02:23] KaiYeYang commented on #5456
Hi, @AquilesCanta , I had found a public stream which can reproduce this issue, please download the stream and configure the test enviroment as follow:
Step1: download the public stream, the link is:
  [http://dash.edgesuite.net/dash264/TestCasesUHD/2a/1/](url)
Step2: download the http server tool, the link is:
  [https://drive.google.com/file/d/1BWQo8WX2RpsMSCooFfzpEi4iK6eBoUbj/view?usp=sharing](

[2019-02-16 02:24] KaiYeYang commented on #5456
Hi, @AquilesCanta , What's the bugreport content should I provide? thanks!

[2019-02-16 02:25] marcbaechinger commented on #5500
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-02-16 03:14] lsgfly opened #5521 "Playlist has been refreshing when player is paused"
### question description
When playing live video of m3u8.  Playlist has been refreshing when player is paused.
Can I stop refresh the playlist when player is paused by blocking the execution of loadPlaylistImmediately.
Then when player is started, I continue to execute the method.

### Reproduction steps
1. play live video.
2. pause the player

### Version of ExoPlayer being used
2.8.2

### Device

[2019-02-16 05:10] cayars commented on #5096
Have you heard anything from nVidia on this?
With more and more content available in HDR this is becoming a bigger problem all the time.

[2019-02-16 14:46] tonihei commented on #5520
I wouldn't consider this a bug really. I think the option to keep the previous position was always intended to be for two cases:
1. Set a start position before preparing the media.
2. Re-prepare the same media after an error or after stop.

Can you describe your use case in more detail to understand why you want to keep a position of an apparently unrelated piece of media?

I guess we could suppor

[2019-02-16 15:39] marcbaechinger commented on #5520
Agreed there is not really a use case. Also I think the behaviour in such a case should be undefined in the sense of the API :). Converting to an initial seek sounds like a sensible way to me which avoids the app crash for users.

[2019-02-16 22:50] Paradam commented on #5520
Our case that triggered this issue is:

We have multiple video streams that can represent what we'd consider to be the same content across different languages and qualities. We recently started rolling out adaptive videos for some of our content, and so we have some cases where our users can watch and switch between videos that are available across two languages; where one language might be availa

[2019-02-17 06:13] BROUDING opened #5522 "Selecting one subtitle among merged resources"
(Question)
I'm getting into this library slowly, but thoroughly due to achieve what I want..

So far so good, just the fact that there is no callback method for failing to getting subtitle file..? (Please let me know if there is)

Anyway, I have "a video" and "subtitles in 3 different languages", I could find that I can merge them into one mediaSource.

And now, I want, people to choose which lang

[2019-02-17 06:15] BROUDING commented on #5522
If I want to make people to choose subtitles...kinda feels like I should be able to merge subtitle sources with at least one string like (Korean, English, etc...)

[2019-02-17 12:10] BROUDING commented on #5522
FYI, choosing subtitles Dialog in Netflix is what I want to achieve...

[2019-02-17 14:56] gowthamgts commented on #5301
@ojw28: So, is there a way to have the exoplayer dev2 branch work with my app locally? As I mentioned before, I unable to do so. Should I wait till the changes land in release-v2?

[2019-02-17 15:07] efkann opened #5523 "Demo app: Allow specifying separate subtitle file (e.g. in exolist.json files)"
Hi,I'm trying to test my streams using the demo application and the guide which you can reach through this link
https://google.github.io/ExoPlayer/demo-application.html

As you can see and as you know it gets the streams from a local json  file named "media.exolist.json".Everything is good about streams and works perfectly fine,but I also want to get subtitle URL from that json file and merge that

[2019-02-17 18:21] marcbaechinger commented on #5522
If you sideload your text tracks with a `MergingMediaSource` as [described in the developer guide](https://google.github.io/ExoPlayer/guide.html#side-loading-a-subtitle-file), you can select text tracks by using the `DefaultTrackSelector`. The developer guide has a [section around track selection](https://google.github.io/ExoPlayer/guide.html#track-selection) which covers the `DefaultTrackSelector

[2019-02-17 18:30] wazerstar commented on #5491
Uploaded to mega

https://mega.nz/file/cNAQ2ApS#bt0OhhBuxiAJ0s2_qioOxes6xO1cOIl-xE7AUX20lOY

[2019-02-17 18:42] marcbaechinger commented on #5523
You can sideload text tracks with a `MergingMediaSource`. The developer guide has a [section about sideloading text tracks](https://google.github.io/ExoPlayer/guide.html#side-loading-a-subtitle-file) which describes how you can achieve this.

You are right that there is no such example in the demo app. If you want to adapt this for your app you need to add the property to one of the subclasses of

[2019-02-17 20:30] tonihei commented on #5520
Thanks for the explanation. We changed the identification of periods from indices to ids, that's why it stopped working. Before that change, it just happened to work because both MediaSource would have the same period index 0 at this position, but now they have ids which are no longer the same as they are generated in a different way.

We'll look into doing the initial seek with window index and p

[2019-02-17 23:00] BROUDING commented on #5522
Thanks for giving me updates on current assignment! (I guess I'll work on
something else for few days...? Hahah)

Now I kinda get feelings of how to deal with things, I totally missed "id"
and "language" parameters.

But still... So the selection string on the dialog will be "language"..?
(It doesn't seem like it..)
It'd be great if you can customize that text..! (I can do pull-request but,
Since

[2019-02-18 01:30] BROUDING commented on #5522
I haven't tried showing selection dialog yet, now I'm working on "default subtitle language when player plays"

So far I've tried... `selectionFlag` parameter in `Format.createTextSampleFormat` seems like the decider.. when I merge more than 2 subtitles into one mediaSource, I set the `selectionFlag` to `C.SELECTION_FLAG_DEFAULT` and the player choose that subtitle to play as default.

Is this how

[2019-02-18 01:31] SukritGupta17 opened #5524 "HLS: chunkless preparation breaks fmp4 content playback"
### Issue description
When trying to play fmp4 content with chunkless preparation turned on, at the end of video playback the player state never changes to ended and the playback continues with the timeline ticking on.

### Reproduction steps
The bug can be reproduced in the ExoPlayer demo app.
1. turn chunkless preparation on:
in `PlayerActivity.java` make the following code changes under the `bu

[2019-02-18 06:07] xesun commented on #867
@dishantkawatra could you give that source code to me?

[2019-02-18 06:13] BROUDING commented on #5522
Okay.. I've dug deeper and figured out.. the core of this function so far is debugging the whole project...

Though, I think the guide could be more generous...

Anyway, the parameter I should have looked at for changing subtitles after merging them was,
`rendererIndex` in `val dialogPair = TrackSelectionView.getDialog(this, title, trackSelector, rendererIndex)`

`rendererIndex` Choices are-
_0 ==

[2019-02-18 07:08] SumukhaK commented on #5515
Okay, I have one minor question.
 If I write method and paste your code snippet in it, where do I call it from? My hunch was to call it after STATE_READY but as I'm playing a playlist of videos and if the first video runs the natural course and second video start playing,  my player will not be entering STATE_READY part of the code.

[2019-02-18 08:12] musooff commented on #5417
I would also vote for High Priority as it is really basic feature that should be included.

[2019-02-18 08:30] KaiYeYang opened #5526 "Question: Supporting audio and video mux content stream of MpegDash"
**Issue description**
Attach Dash content which has four representations and one adaptionset. In each representation, it has two tracks(audio and video), the player cann't support this content stream.
![mp4-live-mux](https://user-images.githubusercontent.com/47199525/52937584-799fb280-339a-11e9-8bf2-9555b31a2591.png)

**Reproduction steps**
1. Download the attach test content, and make it as a htt

[2019-02-18 08:32] KaiYeYang commented on #5456
Hi, @AquilesCanta , can you reproduce this issue? thanks!

[2019-02-18 08:57] ojw28 commented on #5521
It's working as intended that the playlist is refreshed when the player is paused. The player needs to do this to update the seekable window, detect if a live stream ends, and so on. If you want to avoid this you can stop rather than pause, and then re-prepare the player when you want to resume playback.

[2019-02-18 08:57] #5521 closed, assigned to ojw28

[2019-02-18 09:02] ojw28 commented on #5490
Reopening to track landing a fix. It's still a bug ;).

[2019-02-18 09:07] ojw28 commented on #5513
I think you're seeing poor cache performance. Improving this is tracked by https://github.com/google/ExoPlayer/issues/4253. Closing as duplicate.

[2019-02-18 09:07] #5513 closed, assigned to ojw28

[2019-02-18 09:16] ojw28 commented on #5510
The `initializationRange` should really just be included in the content. Note that DASH-IF is going to start making this a requirement for on-demand content to be considered interoperable (see https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/242). The vast majority of existing on-demand content includes it. I don't think there's a sufficiently large problem with existing content to justif

[2019-02-18 09:16] #5510 closed, assigned to marcbaechinger

[2019-02-18 09:51] mathemandy commented on #5513
@ojw28  #4323 i looked at the issue and did not understand if i am to wait for an update to the proposed solution or try to solve that myself using the recommended discussion.
Thanks

[2019-02-18 09:55] zoard25 commented on #4616
@ojw28 do you have in plan to add support regarding this in the near future? If not could you please give us some hint on how to do it in a proper way? Thanks.

[2019-02-18 10:20] KaiYeYang commented on #5510
Thanks

[2019-02-18 10:22] AquilesCanta commented on #5524
Thanks for reporting. I'll write back as soon as I have any updates.

[2019-02-18 10:28] AquilesCanta commented on #5456
Hi @KaiYeYang, just now I get to see this. I'll try to reproduce and reach back. Hopefully I'll be able to try this week. Thanks for your patience!

[2019-02-18 10:41] ojw28 commented on #5526
We do not support muxed audio/video streams in DASH, and I don't think such content is generally considered interoperable.

[2019-02-18 10:41] #5526 closed, assigned to ojw28

[2019-02-18 12:09] moacir69 commented on #5404
Hi @AquilesCanta,
We have checked the playback behavior of the Microsoft HLS and/or MPEG-DASH contents mentioned in https://test.playready.microsoft.com/Content/Content4Xs in the latest ExoPlayer 2.9.5 demo app running on the following devices:
* Amazon Fire TV Stick Gen 2 (2016) / Fire OS 5.2.2.0
* Samsung Galaxy Tab S2 (SM-T710) / Android 7.0
* Google Pixel 2 / Android / Android 9

And with all

[2019-02-18 12:36] efkann commented on #5523
Thank you for your answer,it would've been amazing if you had an option like this in demo app.

[2019-02-18 12:48] ojw28 commented on #5503
Aside: The existing FFmpeg extension is audio only, so it wont help with this.

[2019-02-18 13:17] tipoc123 commented on #5487
Do you have any updates?

[2019-02-18 13:55] AquilesCanta commented on #5404
Hi Moacir, none of the playlists I can see in the e-mail you sent me contain the correct key format. Please send me another e-mail with a single link so I don't have to go through all content to make sure none of them contains the required keyformat.

EDIT: I removed the provided stream. It doesn't contain encryption tags. I'll try to post another one once I find one.

Regarding the "Media include

[2019-02-18 14:12] nlgtuankiet opened #5527 "Expose FLAC VORBIS_COMMENT block in metadata"
Is there a way to pull out .flac file metadata (title, album name...)? I tried the EventLogger in the sample app, It work for .mp3 .m4a but not for .flac. I believe the default FlacExtractor already enable peekId3Data.
Not sure this feature is implemented or not.

[2019-02-18 14:28] ojw28 commented on #5513
It's probably easier for you to wait until the issue is marked as fixed in this case, and then migrate to the first version of ExoPlayer that picks up the improvements (likely 2.10.0).

[2019-02-18 15:35] jcmore2 opened #5528 "TTML positioning (tts:textAlign) not working"
### Issue description

We are using TTML subtitles that are including positioning information like _tts:displayAlign="center"_ _tts:textAlign="center"_ , but Exoplayer is not taking those values into account.

### Reproduction steps
Using Dash Stream with this TTML, subtitles are not appearing in the correct position that the ttml is saying. The TTML is defining the position of each paragraph movi

[2019-02-18 16:42] ojw28 commented on #5301
The four options are
1. Wait until a release so you can depend on ExoPlayer as a gradle dependency
1. Use something like JitPack to depend on the `dev-v2` as a gradle dependency, which is discussed a bit in https://github.com/google/ExoPlayer/issues/3859
1. Use `dev-v2` as source locally, but you'll have to migrate it to androidx to get it to work. This basically means you need to update all the s

[2019-02-18 16:54] ojw28 commented on #5487
We will post an update here when there is an update. The lack of one means there is no update. Thanks.

[2019-02-18 17:41] marcbaechinger commented on #5528
I see that we do not parse the `tts:displayAlign` which is part of the styles definition in the header.

When I play a stream while sideloading your ttml file, the text is centered as expected though because the `textAlign` attribute is used and honored. Subtitles are centered. The first at the top, then in the middle and finally at the bottom of the player view.

![screenshot_20190218-173702](htt

[2019-02-18 18:00] ojw28 commented on #5096
Not yet [Internal ref: 124665441]. I'd suggest you also report the problem through nVidia's developer forum.

[2019-02-18 18:49] kvillnv commented on #5397
The issue was opened 1 month ago.
@andrewlewis can we have an ETA?
Thanks

[2019-02-18 21:44] szaboa opened #5529 "AudioPurpose parsing of subtitle track from DASH manifest"
### Issue description

**Request for enhancement**
Parse `<Accessibility>` tag of subtitle tracks from mpd (DASH), more specifically the `AudioPurpose` part.
Use case: display HOH (hard of hearing) suffix after the subtitle track's language in the chooser. Useful when you have two subtitle tracks in the same language, but one of them is HOH.

### Link to test content
We have some production stream

[2019-02-19 00:18] roundsmapp commented on #4924
Summarizing the tests:

- ```Media Player launched from adb```:
    - very small audio ogg file, aprox 9 sec length, ```without looping```, worked well
    - much bigger file, aprox 2 min 30 sec, ```without looping```, worked well

- ```ExoPlayer demo, using both "file://" and "assets" as repository```:
    - small audio file, ```without looping```, worked well
    - bigger file, ```without loopin

[2019-02-19 00:36] roundsmapp commented on #4924
Video with recording of the problem just sent to dev.exoplayer@gmail.com.

[2019-02-19 04:02] tuesda commented on #5406
Sorry for delay reply.
I met a issue that a video dimensions is 3840 x 2160 and MediaCodec video dimension limit is 1920 x 1080, so I wonder is there some way to resize video in Exoplayer?

[2019-02-19 05:02] yonglili opened #5533 "A mp4 video can not play"
http://172.16.1.114:8081/IXC9901eda9103fe51cfde3e2c8d729324a_172.17.156.115/openplat/resource/201901/31/2e58d8744c6f5179a86afd34bf3c70ac.mp4

This video can be played in chrome, but not in ExoPlay demo.

[2019-02-19 06:14] gowthamgts commented on #5301
@ojw28: Thanks for the prompt reply. Jitpack seems to be the promising solution here. I'll try that.

[2019-02-19 06:36] sureshcnvidia commented on #5096
Sorry for really coming back so late on this. I need to check why this does not work.

Shield should be enabling HDR is any of the layers are HDR in the overall 'view stack'. Will check the video internally and get back on this.

[2019-02-19 08:03] raunakyadav opened #5534 "Player remains in Buffering state if a midroll ad has offset greater than Video length"
### Issue description
If the AdsMediaSource has a mid-roll ad that has timeOffset > video duration, then on video end, STATE_BUFFERING is received instead of STATE_ENDED in onPlayerStateChanged.

### Reproduction steps
Configure a mid-roll ad with offset greater than video length. Play the video till end.
Observe the callbacks from player. Also the controller remains in playing state after this.

[2019-02-19 08:15] hs16542 opened #5535 "thread"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2019-02-19 08:15] #5535 closed, assigned to nobody

[2019-02-19 08:44] userdimi commented on #5451
any updates on this issue?

[2019-02-19 08:55] showang commented on #4343
Is that possible to restore playback state to `STATE_PAUSE`(or `STATE_NONE`) after get `DataSourceError` without `player.prepare(...)` ?

If i perform `player.prepare(mediaSource)` when `onPlayerError` and i will get an infinity loop.

[2019-02-19 09:33] marcbaechinger commented on #5533
I think 172.16.... is a private IP range.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-02-19 09:46] moacir69 commented on #5404
Hi @AquilesCanta,
Thanks for your feedback. Indeed only the Amazon Fire TV Stick Gen 2 supports hardware DRM.
Is there a minimum Android OS version required in order to support CMAF?
A link to a single test content will be sent by email.
Warm regards,

Moacir

[2019-02-19 10:57] AquilesCanta commented on #5404
CMAF support is android-version independent.

If the content is encrypted using CDM-DRM (Widevine or Playready), then support [does depend on the Android version](https://google.github.io/ExoPlayer/supported-formats.html). Please post here once the e-mail is sent. Also include a bugreport captured shortly after playing the content, please.

[2019-02-19 11:44] jcmore2 commented on #5528
Hi,

after your comment we were reviewing our code and we found there was a problem in our **_SubtitlePainter_** class, that we were customising.

Thanks for your quick help. This ticket can be closed.

[2019-02-19 11:45] #5528 closed, assigned to marcbaechinger

[2019-02-19 13:25] ojw28 commented on #5489
This should be fixed in the `dev-v2` branch, although is relatively untested. It's a bit complicated because internally we're still using the old support library, with the migration happening on-the-fly as part of the process by which we sync our internal and external trees. Let us know if there are any issues!

[2019-02-19 13:25] #5489 closed, assigned to ojw28

[2019-02-19 13:25] ojw28 commented on #5301
@gowthamgts: If you sync `dev-v2` tip of tree, you should find that it's now using androidx.

[2019-02-19 13:52] AquilesCanta commented on #5304
Closing due to lack of activity.

[2019-02-19 13:52] #5304 closed, assigned to AquilesCanta

[2019-02-19 14:45] JonathanImperato opened #5536 "Player stops when device is sleeping"
### Issue description
I created an Audio Streaming app that works with HLS and obviously should work in background. It seems that on some devices (I found this bug only on the reported device ahead) the player stops after some seconds due to the power save manager.
I am running a foreground service and holding the WifiLock (WIFI_MODE_FULL_HIGH_PERF) and a WakeLock (PARTIAL_WAKE_LOCK) but it seems

[2019-02-19 14:47] ojw28 commented on #5406
ExoPlayer will decode video in its original resolution. The decoded buffers can then be rendered into any size `SurfaceView`/`TextureView` in your application UI during playback.

I don't really understand the question. If you're asking whether it's possible to use the library to resize a video file to create a new video file with a different resolution, then no that's not something we support.

[2019-02-19 16:29] icetronics commented on #5485
Hi @ojw28, sorry, I have no idea why the stream is jittery for you.

I have now attached a zip that contains an m4s subtitle chunk which is not getting rendered by ExoPlayer. The time interval does look suspicious:
`begin="430719:29:18.195" end="430719:29:19.526"`

Can such values be handled properly by ExoPlayer or do we need to do anything special? We've tried on other platforms (eg. Chromecast)

[2019-02-19 16:36] nigelmegitt commented on #5485
Sorry for the drive-by comment, but a media time expression with 430719 hours in it would not be at all suspicious for a media timeline that is set to begin at the UNIX epoch at the beginning of 1st Jan 1970 - indeed it's about right on a rough calculation. This is a reasonable pattern to use for ongoing live streams.

[2019-02-19 16:46] jacek-marchwicki opened #5537 "No audio stream on HLS/TS videos generated from Adobe Scene7"
### Issue description
Our client uses Adobe Scene7 for generating HLS streams.
Streams generated from the application work seamlessly in Android native player/Google Chrome/iOS.
Such a video played in ExoPlayer demo app (Tag r2.9.2) doesn't recognize the audio stream.
Furthermore, several rotations of a device screen during playback sometimes give audio stream, but at the same time the video strea

[2019-02-19 16:48] ojw28 commented on #5485
@nigelmegitt - Does the file itself look sensible to you (e.g. if you open it in a text editor)? To me it doesn't look like the file is either ISO/IEC 14496-30 or raw TTML, but I'm just going by memory here so I could be mistaken.

[2019-02-19 16:55] nigelmegitt commented on #5485
@ojw28 I'm not on a machine with an m4s extractor installed right now but in a text editor I can see typical ISOBMFF header and a vaguely reasonable TTML in there. The TTML is claiming to need the "DFXP-full" profile which is unusual these days but anyway it presents fine as IMSC Text Profile. So yeah, looks sensible on a quick glance.

[2019-02-19 16:57] nigelmegitt commented on #5485
However a note of experience here - I've had live TTML in ISOBMFF presentation issues with other players in the past because the times in the TTML document actually ended up falling outside the sample interval for the MP4 fragment it was placed in. The playback behaviour was spec-compliant but the source data was effectively wrong, in other words it was an encoding and packaging fault. @icetronics

[2019-02-19 17:14] icetronics commented on #5485
Thanks for the insights, @nigelmegitt.
Actually we have verified playback using stream testing websites (Bitmovin, JWPlayer) and the subtitles were rendering correctly.

[2019-02-19 17:25] ojw28 commented on #5485
I figured this out. The problem is that the ISOBMFF packaging is done in a way such that none of the samples are marked as sync samples, where-as it should be that all samples are marked as sync samples. ExoPlayer ends up dropping all of the samples as a result.

So technically the content is broken. It could be argued that we should just assume every sample is a sync sample for TTML, but given th

[2019-02-19 18:03] AquilesCanta commented on #5524
A fix will be available in 2.10.0. Unfortunately it won't make it for 2.9.6.

[2019-02-19 20:50] elbekD commented on #1993
@andrewlewis

Hi every one once again! Sorry for off top, but is there a solid way to set preferred output device for an application sounds that it will not reroute, for example, sounds from third party apps like music app?

AudioTrack#setPreferredDevice helps, but it doesn't work on some devices, especially, on Xiaomi Redmi x4 doesn't work, but on nexus 5x or nexus 6 it works. Maybe you can advis

[2019-02-19 23:03] marcbaechinger commented on #5522
I'd use the `DefaultTrackSelector` to build your dialog. You can use `C.TRACK_TYPE_TEXT` to get the text tracks, so you don't need integer literals. Then iterate through the trackGroups of the text track to get the format of each available track and build up the UI for each entry. You can iterate as follows:

[code]

To select a given language when the user has chosen it, I'd use  `defaultTrackSel

[2019-02-19 23:31] marcbaechinger commented on #5515
I'd say you need to be aware of some events in which you need to think whether you need to create the message for a given position or add/remove a button:

After you prepare the player for the first time and start playback. I think best is to wait for the first call of `Player.EventListener.onTracksChange`. From that moment you are sure to have the actual duration of the stream available.

When th

[2019-02-20 00:52] BROUDING commented on #5522
Thanks for the updats, but this is what I was talking about [here](https://github.com/google/ExoPlayer/pull/5532)

`C.TRACK_TYPE_TEXT` is 3.
And `rendererIndex` should be 2 to get those data in `getTrackGroups`

[2019-02-20 04:00] sergexte opened #5538 "Setting a start and end range dynamically"
I have a UI that has two sliders which represent the start and end time of a segment of a video. The start and end time are set so that the video loops over the selected segment.
To implement this I tried doing making a Clipping source wrapped in a LoopingMediaSource. It works well when loaded the first time but the sliders on the UI are meant to be changed to loop the video in a dynamically set r

[2019-02-20 04:44] KinjalDhamat312 opened #5539 "Getting crash when starting Exoplayer DownloadService"
Hello, I am getting a crash from exoplayer when I am trying to start downloading cache from the exoplayer download service, Please take a look at below logs and let me know what can be the issue.

[code]

This crash only seems to come in Android 8.0.
Can anyone please help and let me know the solution?

[2019-02-20 05:08] tanbo091 commented on #867
I tried by this :
`player.setVideoTextureView(textureView)`
Use a textureView in the layout to show the player.
And add a scroll listener for the recyclerView to setVideoTextureView ().
It seems to work well. But I don't know wether it is a good way.I cannot track the use of memory.
If someone can figure it out ,please tell me . Thank you.
Thanks for  @mpainenz .

[2019-02-20 07:09] AnjliPatel commented on #5516
Can you tell me what information you need? I will try my best to provide every information.

[2019-02-20 08:10] andrewlewis commented on #5534
Is it feasible to ensure that the VMAP ad break times are compatible with the content duration? This is a known issue but seems tricky to fix with the IMA API at the moment (we have `AdsRenderingSettings.setPlayAdsAfterTime`, but not `setPlayAdsBeforeTime`).

[2019-02-20 08:56] andrewlewis commented on #5539
If your app is in the background there needs to be a notification associated with the service due to [background execution limits](https://developer.android.com/about/versions/oreo/android-8.0-changes#back-all).

Have you made modifications to the Download tracker in your app? I'm a bit confused about why a download is being initiated from `StartDownloadDialogHelper.onPrepared`, and why the app is

[2019-02-20 09:25] tangmingscau opened #5540 "Error caching music file"
Hi,We found a problem with caching music files, which have uncomfortable stimulating sounds. We have confirmed that the online source files are good. Can you give us some comments on this issue? Now we use exoplayer version 2.7.0.

[225.0.1550648539254.v3.mp3.zip](https://github.com/google/ExoPlayer/files/2883884/225.0.1550648539254.v3.mp3.zip)

[2019-02-20 09:42] raunakyadav commented on #5534
Yes. We are working on getting the ad breaks to be according to the video duration. But that might not be possible for some third party ad tags.
Can this be raised with IMA team then to give a feature like "setPlayAdsBeforeTime"?
I also receive IMA's adEvent ALL_ADS_COMPLETED when the video ends even though mid-roll did not play. So maybe checking that event and player's position being equal to th

[2019-02-20 09:46] andrewlewis commented on #5540
I don't think we've got enough information here to help. The attached MP3 doesn't seem to be valid (I can hear distortion when playing it on my desktop, for example at 2:26) but you haven't described in detail how it was produced.

[2019-02-20 09:50] tangmingscau commented on #5540
This MP3 file is cached by exoplayer. I just changed the suffix name exo to MP3 to make it easier for you to listen to him. This file is generated in the online environment. We don't have any more log information here. We just pulled the cached file out of the problem machine and found that the cached file had an uncomfortable sound.

[2019-02-20 09:53] tangmingscau commented on #5540
We initially suspect that it is caused by network jitter. When writing cached files, duplicate writes or byte streams make errors in the location of files.

[2019-02-20 09:54] AndroidDeveloperLB opened #5541 "Bug: "Failed to transform file 'classes.jar' to match attributes""
### Issue description
Today I wanted to make a POC of muxing video&audio, and use ExoPlayer to view the output video.
All went fine, till I wanted to add ExoPlayer dependency, which caused a build error when trying to run the app.

### Reproduction steps
1. Import project:

[VideoAndAudioMux.zip](https://github.com/google/ExoPlayer/files/2884011/VideoAndAudioMux.zip)

2. add the ExoPlay dependency

[2019-02-20 09:59] AndroidDeveloperLB commented on #5541
Damn it's again the issue of the Java 1.8...

Had to add this:
[code]

This should be the default for new projects on the IDE...

[2019-02-20 09:59] #5541 closed, assigned to nobody

[2019-02-20 10:22] andrewlewis commented on #5540
There is no guarantee that the cache files are actually valid streams, and they may be fragmented if the connection to the server is lost during caching. The correct way to read these back is using ExoPlayer's caching components, which take care of producing a valid stream out of cache data.

Setting that aside (assuming you're just reading the cache file as an MP3 to illustrate the issue): please

[2019-02-20 10:27] marcbaechinger commented on #5522
Yes, you are right, there is another indirection to check the track type. I corrected the snippet above

[2019-02-20 10:38] andrewlewis commented on #5536
If you have a service for audio playback and hold Wi-Fi and wake locks that should be sufficient for background audio playback (as per the [FAQs](https://google.github.io/ExoPlayer/faqs.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded)), so I think you are doing the right thing already.

I have heard that some devices have OEM customizations that will more aggressively kill processes t

[2019-02-20 10:48] andrewlewis commented on #5517
`D/MediaCodecInfo: NoSupport [sizeAndRate.support, 5760x2880x-1.0] [OMX.qcom.video.decoder.avc, video/avc] [hammerhead, Nexus 5, LGE, 23]` suggests that the video is too big to be decoded on this device. You could try producing a lower resolution video and see if that is playable.

[2019-02-20 10:52] andrewlewis commented on #5527
If it's stored as ID3 data at the start of the file and isn't disabled via `FLAG_DISABLE_ID3_METADATA` this should work. If you provide the media you're trying to play we'll take a look (see the [issue template](https://github.com/google/ExoPlayer/issues/new)).

[2019-02-20 10:57] nlgtuankiet commented on #5527
Sure, I have tried to retrieve the title with MediaMetadataRetriever, it works, so it definitely in there, I just don't know the proper way to get it
[Muon Ruou To Tinh.zip](https://github.com/google/ExoPlayer/files/2884270/Muon.Ruou.To.Tinh.-.BigDaddy_.Emily.zip)

[2019-02-20 11:01] BROUDING commented on #5522
Speaking of this issue..
Most of people are just using integer value for `rendererIndex`..
What do you think of adding Integer constant values?
Just like `C.RENDERER_TYPE_VIDEO = 0`, `C.RENDERER_TYPE_AUDIO = 1`, `C.RENDERER_TYPE_TEXT = 2`

[2019-02-20 11:38] murat-mehmet commented on #5128
I'm having the same issue and I see that you could solve this. Can you please share what is in `buildDataSourceFactory()` function. I am using `new DefaultDataSourceFactory(ctx, userAgent);` but apparently you have used something else because everything else seems same.

[2019-02-20 12:17] andrewlewis commented on #5397
I wasn't able to reproduce this on two Sony Bravia ATVs (running L and N), so I think it needs to be reported to the relevant chipset manufacturer(s) or OEM(s). Most of the implementation of the video tunneling path is up to the device.

Side note: the Sony Bravia TVs don't render a first frame at all while paused, so in a sense they have the opposite problem to the devices you tried. They are not

[2019-02-20 12:22] gowthamgts commented on #5301
@ojw28: Thanks, I'm able to build now.

[2019-02-20 12:52] SumukhaK commented on #5515
I guess I have everything I need. Thanks a lot. In the upcoming version, it will be nice if we can get a flag when the video reaches a particular duration of the video. (Because here I have to re-evaluate the value of _noticeBeforeEndMs_ every time the user seeks within the video).  With a lot of other features in my project, this adds a bit more complexity to the code. Anyway, it is just my opini

[2019-02-20 13:02] MuthuKrishnanO opened #5542 "udp stream play video but can't play audio"
02-21 01:00:45.816 30850-31511/com.example.user.iptv_ridapps I/VideoCapabilities: Unsupported profile 4 for video/mp4v-es
02-21 01:00:45.834 30850-31521/com.example.user.iptv_ridapps I/OMXClient: Using client-side OMX mux.
02-21 01:00:45.838 30850-31520/com.example.user.iptv_ridapps I/MediaCodec: MediaCodec::setState == > mCrypto.clear
02-21 01:00:45.841 30850-31521/com.example.user.iptv_ridapps E

[2019-02-20 13:23] pawaom opened #5543 "how to play next and previous file"
I have implemented  swipe listener on exoplayer

while play pause can be implemented with player.setPlayWhenReady , but how can we play next and previous file

[2019-02-20 13:25] ianflitman opened #5544 "Subtitles inconsistent rendering"
Hi Exoplayer Team

Great software btw. I am using 2.9.5.
I am concatenating merged media sources using 4 test audio files with 4 srts - one for each file and each with two cues.

[code]

This sometimes works and sometimes does not in terms of the subtitles showing up or being logged. I have the following TextRenderer code attached to the player:

[code]

As you can see I am logging the subtitle te

[2019-02-20 13:53] MuthuKrishnanO commented on #5542
I'm using udpdatasource  to play the video  in  exoplayerview   .

[2019-02-20 13:59] AquilesCanta commented on #5537
Hi @jacek-marchwicki, thank your for such a thorough issue report. I appreciate it!

Regarding the stream, it seems to me that the first PMT in each segment (I only looked at the first two segments) contains a PMT that only declares video. Later PMTs declare the audio stream. I think the best way to go here is to remove the spurious PMTs that only declare video.

I attach the dvbsnoop analysis:

[

[2019-02-20 13:59] #5537 closed, assigned to AquilesCanta

[2019-02-20 14:22] andrewlewis commented on #5542
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2019-02-20 14:25] andrewlewis commented on #5542
Note: the logging provided is not necessarily indicative of a problem, so please provide a full bug report.

Ideally, it would be helpful if you could modify the ExoPlayer demo app to load the UDP stream and take the bugreport just after attempting to play it.

[2019-02-20 14:26] andrewlewis commented on #5543
If you're playing a playlist with `ConcatenatingMediaSource`, please try using `player.next()` and `player.previous()`.

[2019-02-20 14:34] andrewlewis commented on #5527
This stream does not have an ID3 prefix, but after the STREAMINFO block at the start there is a PICTURE block and a VORBIS_COMMENT block. The latter has a title and artist, but I don't think we're parsing it at the moment. (It looks like we only handle STREAMINFO and SEEKTABLE in our libflac wrapper.)

I will mark this as a enhancement to store the vorbis comment payload in the metadata but it's l

[2019-02-20 15:28] andrewlewis commented on #5392
@xiaoxixi615 It looks like the file is a fragmented MP4 (not MKV) and it appears to play fine in the demo app on the dev branch (including the fix to remove assertions in #5162). Could you clarify what's actionable for us here? Or can this be closed?

[2019-02-20 16:17] moacir69 commented on #5404
Hi @AquilesCanta,
When using an Amazon Fire TV 4K (2018) like this one https://developer.amazon.com/docs/fire-tv/device-specifications.html?v=ftvstick4kgen1, the related error log messages are the following:
...
2019-02-20 17:12:19.964 22053-22978/com.google.android.exoplayer2.demo E/MediaDrm-JNI: Illegal state exception: Failed to get key request: Unsupported scheme or data format (-2006)
2019-02

[2019-02-20 16:18] moacir69 commented on #5404
[bugreport-NS6258-2019-02-20-17-12-25.zip](https://github.com/google/ExoPlayer/files/2885451/bugreport-NS6258-2019-02-20-17-12-25.zip)

[2019-02-20 17:46] giridharkannan commented on #5003
The given fix results in breaking the Amlogic box that I have. This results in a completely black screen which covers the whole viewing area (including any sibling views). I could hear only the audio.

If the new code is commented out, things work without any issue as expected.

It would be good if you could change the codecNeedsMaxVideoSizeResetWorkaround method from private static to protected s