[2019-07-14 16:50] ojw28 commented on #6160
Please provide all of the information requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=content+not+playing%2C+needs+triage&template=content_not_playing.md&title=).

[2019-07-14 16:56] ojw28 commented on #6176
Please include all of the information requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=content+not+playing%2C+needs+triage&template=content_not_playing.md&title=). In particular a full bug report and information about the device used.

[2019-07-14 16:58] ojw28 commented on #6172
The library is not designed to support this use case, sorry. You could probably figure out a way to do it by adapting the source code, but guidance on this is beyond the scope of this issue tracker.

[2019-07-14 16:58] #6172 closed, assigned to ojw28

[2019-07-14 17:15] OmarBasem commented on #6160
@ojw28 I did submit an issue 3 days ago and did not get a reply #6168

[2019-07-14 19:01] ojw28 commented on #6173
This is not a feature we support, sorry.

[2019-07-14 19:01] #6173 closed, assigned to nobody

[2019-07-14 19:03] ojw28 commented on #6171
The buffer parameters that you refer to only affect the _total_ size of the buffer, not the granularity of the samples within it. There's no support in the library for changing the latter, sorry.

[2019-07-14 19:03] #6171 closed, assigned to ojw28

[2019-07-14 19:07] ojw28 commented on #6169
Is this about HLS or DASH? Please provide complete information. Thanks!

[2019-07-14 21:50] drexel-ue opened #6182 "Top bit not zero when playing MP4 (STBL/STTS)"
I have had a similar issue to #3384. I recorded a video on Samsung Galaxy S7 Edge and the video file contains a STTS table with signed integers. The original ticket references CTTS table.

[code]

The line the error occur's on is:
https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/AtomParsers.java#L179

Which seems a similar p

[2019-07-15 00:59] VeiZhang commented on #6176
@ojw28 Sorry, for http://mbf.me/eOsm92, it is a zip file but not an online stream. I had made it online stream **https://github.com/VeiZhang/Test/blob/master/video/ac3.mkv?raw=true** , and you can test

[2019-07-15 03:17] akanksha-hegde commented on #6169
This will be only DASH stream.

[2019-07-15 03:22] pawaom opened #6183 "set custom duration and current position when speed of video is changed"
set custom duration and current position when speed of video is changed

I have a video of 2 minutes of duration, where we have a exo_duration  as 2 minutes

I am using custom playerviewcontrols

using

[code]
exo_playback_control_view.xml is
[code]

and

[code]

when we change the speed of video with

 `simpleExoPlayer.setPlaybackParameters(new PlaybackParameters(2.0f));`

**now with 2 times of s

[2019-07-15 04:28] star-andy opened #6184 "Palybackstate does not change to end"
hello
### [REQUIRED] Issue description
Then RK3288 chip board play 3300*1856 resolution video video play normal, but after the end
Palybackstate is still ready。 The same program and video to vivo mobile phone running everything is normal
### [REQUIRED] Reproduction steps
The official demo used, video cannot be uploaded temporarily due to company reasons

### [REQUIRED] Device(s) and version(s) of

[2019-07-15 09:40] ojw28 commented on #6183
This is not something we support with our default playback control components. If you want this functionality you'll need to look at building your own (perhaps using the ones we provide as a starting point).

[2019-07-15 09:40] #6183 closed, assigned to ojw28

[2019-07-15 09:51] ojw28 commented on #6179
I think this is a duplicate of a bug we've filed internally on the Android platform team [Internal ref: 80516628]. I'll chase up on that.

[2019-07-15 10:59] ivan2311 commented on #6180
Hi @andrewlewis ,

here are more details:

Q: _What is the input audio format and what format do you want to output?_
A: So, it's for the music streaming app and input format is Hi-Res FLAC. Sample rate could be up to 96 kHz and with 24bit bit depth. The output should have the same sample rate and bit depth.

Q: _What is the 'resampling problem'?_
A: As mentioned in previous answer, the output sho

[2019-07-15 11:00] ojw28 commented on #6155
I've filed an internal bug about this [Internal ref: 137524007]. The problem is that the MP3 decoder on affected devices is adjusting buffer presentation timestamps in a way that we don't expect.

That said, it may be possible (and a good idea) for us to adjust the way we're handling this type of seeking so that the implementation is not sensitive to these types of decoder adjustment.

We currentl

[2019-07-15 11:05] ojw28 commented on #6184
The problem can probably be solved by having `MediaCodecRenderer.codecNeedsEosPropagationWorkaround` return true for the video decoder on the affected device. We already have this workaround return true for `OMX.rk.video_decoder.avc`. I'm guessing the version of Rockchip device you're using has a similar issue, but that the decoder has a different name.

Please could you find out what the name of

[2019-07-15 11:10] ojw28 commented on #6165
I think you're reading the stack trace upside down. The code does not make many recursive calls from `RandomAccessFile` into `CacheDataSource.erad`. What's happening is many recursive calls to `CacheDataSource.read where the recursion is eventually terminating and calling into `RandomAccessFile`. The fact that it does eventually terminate suggests that no stack overflow is occuring.

Please could

[2019-07-15 11:30] mathieuedet opened #6185 "Use my own certificate"
Hi,
I develop an Android application with offline playback and Widevine DRM. I use OfflineLicenseHelper like this :

`OfflineLicenseHelper.newWidevineInstance(licenseProxyUrl, true, DefaultHttpDataSourceFactory(userAgent)`

Then I use downloadLicense() method to download content

All is OK. But now, I want to use my own certificate (not widevine), so I add :

`offlineLicenseHelper.setPropertyByteA

[2019-07-15 11:33] bhaskarraj opened #6186 "MediaDrmCallback's method is not being called from android pie"
My player works fine with all android version below android pie but from android pie, the `executeProvisionRequest` of `MediaDrmCallback` is not being called.

My MediaDrmCallback is

         `MediaDrmCallback mediaDrmCallback = new MediaDrmCallback() {
              @Override
             public byte[] executeProvisionRequest(UUID uuid, ExoMediaDrm.ProvisionRequest request)
       throws Excepti

[2019-07-15 12:29] star-andy commented on #6184
@ojw28  Thank you very much for your answer
I have found the cause of the problem，
https://github.com/google/ExoPlayer/blob/51acd8150c25a2064c3e0c49e04540bd4e2db6f9/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L1440
because  outputIndex ==-1
So I added below the red box code to solve this problem，
But I don't know if this is one of the most appropriat

[2019-07-15 12:55] mny459 commented on #5997
Have you fix it ？

[2019-07-15 12:57] umangsaini commented on #6186
More details will help. Please fill the information requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=content+not+playing%2C+needs+triage&template=content_not_playing.md&title=).
One guess is that this may be related to restrictions on HTTP in Android 9 #6077

[2019-07-15 13:01] AquilesCanta commented on #6186
Thanks @umangsaini! Indeed:

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-07-15 13:10] ojw28 commented on #6184
Making `codecNeedsEosPropagationWorkaround` return true for the the affected decoder will do the same thing, but targeted only at the problematic problematic decoder. It's good to target it because on devices that don't have the underlying issue, processing end of stream in this way is non-ideal vs the way the renderer will handle it by default.

[2019-07-15 13:13] ojw28 commented on #6186
It's also worth noting that `executeProvisioningRequest` is only called when provisioning is actually required, which may vary between devices and OS versions. It not being called is not necessarily a problem. If there's some kind of subsequent failure, you need to provide details about what that failure is, because this isn't currently described anywhere in the issue.

[2019-07-15 13:14] ojw28 commented on #6182
Was the video recorded using the default camera, or something else?

[2019-07-15 13:16] ojw28 commented on #6182
Note that I can't play this video file correctly in VLC or Chrome (I've actually yet to find something that _will_ play it). So I think it's fine to class this as broken media and not worry about fixing it.

[2019-07-15 13:16] #6182 closed, assigned to ojw28

[2019-07-15 13:20] #6185 closed, assigned to nobody

[2019-07-15 13:21] mathieuedet commented on #6185
Service certificate not required for Android platform (only required for ChromeOS, iOS Widevine SDK and Chrome 59+)

[2019-07-15 14:02] kschults commented on #6155
I'm glad you were able to track that down.

I think it definitely makes sense to protect that timestamp from modifications by the underlying implementations. While it's only on a small number of devices, it's definitely a very bad user experience for those that are affected. We layer some chapter metadata on top of the audio, and for devices that are affected, it means that skipping to the next ch

[2019-07-15 14:36] ojw28 commented on #6155
As an additional point, it's also sub-optimal that we're feeding all of the media from the start of the segment through the decoder as `decodeOnly`. For MP3 we could just discard right up to the first sample that's required in the source.

For DASH and SmoothStreaming I'm pretty sure we don't do this. HLS using MPEG-TS makes it a lot harder to do the same thing for HLS, but we can probably do it s

[2019-07-15 15:11] ojw28 commented on #6169
DASH-IF are moving toward disallowing inter-operable content from having gaps. See [here](https://github.com/google/ExoPlayer/issues/4616#issuecomment-509632578) for a bit more detail. So it seems likely that service providers will need to start filling in the gaps on the server-side for their content to be considered inter-operable.

Note that we already handle individual representations having a

[2019-07-15 15:41] andrewlewis commented on #6180
@ivan2311 How will you play out the 96 kHz audio without using `AudioTrack` and getting the resulting internal resampling behavior? Do you know of any devices with the hardware required to play this sample rate and an API that gives access to it to apps?

[2019-07-15 15:46] andrewlewis commented on #6180
I am also not sure that `AudioTrack` always resamples internally. The existence of the method [`isDirectPlaybackSupported`](https://developer.android.com/reference/android/media/AudioTrack#isDirectPlaybackSupported(android.media.AudioFormat,%2520android.media.AudioAttributes)) in Android Q suggests you may be able to get playback without resampling via `AudioTrack` on some devices.

[2019-07-15 17:54] kaiv2000 opened #6187 "Cannot play some rtmp streams"
Exoplayer v.2.10.3 still cannot open next rtmp streams:

rtmp://ms.mix.net.ua:1935/live/camera130.stream
rtmp://ms.mix.net.ua:1935/live/camera171.stream
rtmp://ms.mix.net.ua:1935/live/camera172.stream

I try to open them using next code:

[code]

Tested on Android 9, Galaxy S9 device.

[2019-07-15 21:19] kevleyski opened #6188 "Apple Low-Latency HLS support"
I’m researching for a presentation on low-latency streaming media solutions
https://tinyurl.com/yyr2rz8m
What I’m trying to find out is whether ExoPlayer is actively working on changes to support partial segments tags and media playlist deltas
Or maybe focus is more towards the standard CMAF DASH mediaRange model
Or maybe neither

[2019-07-16 00:24] AndrazP opened #6189 "Motorola G5: Internal runtime error if not using a deprecated DefaultTrackSelector constructor"
### [REQUIRED] Issue description
ExoPlayer fails to play DASH video content with "Internal runtime error" on Motorola Moto G5 if a [non deprecated DefaultTrackSelector](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html#DefaultTrackSelector--) is used.

Only one ExoPlayer instance is used. Code was forked from [UniversalMusicPlayer example](h

[2019-07-16 01:22] star-andy commented on #6184
@ojw28  hello
Today I tried the solution you mentioned yesterday. Debug is shown in the figure below.
```OMX.rk.video_decoder.avc``` The name is the same ,But the SDK is bigger than 17.
I changed to ```Util.SDK_INT <= 25```  it works normally
I would like to ask why ```Util.SDK_INT <= 17``` ?
![image](https://user-images.githubusercontent.com/15726024/61258294-75d85680-a7a7-11e9-87e6-2a3feb7eec46.

[2019-07-16 05:46] tanpuer commented on #6165
Sorry!  I am checking my code. Pls close this this issue.

[2019-07-16 07:43] andrewlewis commented on #6189
At the point of setting up the decoder for 1080p, it looks like there are not enough resources:

[code]

The highest resolution streams are:

[code]

avc1.640028 is H.264/AVC High profile level 4.0.

In the case where you don't see the error, is the 1080p stream being selected?

[2019-07-16 08:02] tonihei commented on #6188
Yes, we are actively working on it. Efforts are tracked by #4904 for DASH and #5011 for HLS.

[2019-07-16 08:02] #6188 closed, assigned to tonihei

[2019-07-16 08:17] HaiderSaleem commented on #2092
Still neither avi nor wmv support is added.

[2019-07-16 08:29] kevleyski commented on #6188
Ah that’s great, thanks @tonihei

[2019-07-16 08:34] kevleyski commented on #5011
Thanks for working on this, will mention your efforts at the preso tomorrow. If I find some time and convince the right people I’ll try and help out
https://tinyurl.com/yyr2rz8m

[2019-07-16 10:38] vavadhani commented on #6187
Duplicate of #4319

Fix is in progress in librtmp-client.

[2019-07-16 10:50] ojw28 commented on #6187
Closing as duplicate. Thanks @vavadhani .

[2019-07-16 10:50] #6187 closed, assigned to ojw28

[2019-07-16 12:00] ojw28 commented on #6184
It's preferable to not have this workaround enabled, unless a device really _needs_ it.

We limited to API levels we knew were affected in the hope that the device manufacturer would fix the problem for newer devices. It sounds as though this hasn't happened, and we should increase `17` to `25`. Can you confirm that changing `codecNeedsEosPropagationWorkaround` to the following fixes the issue:

[

[2019-07-16 14:20] HaiderSaleem opened #6190 "Forward and Rewind not working for flv format videos."
I have videos uploaded on server and passing the link to exoplayer to play, its playing videos but i'm not able to forward or rewind it or seek to a specific time tho its working perfectly with other formats.
Attached url of source video.

[https://media.mec.edu.om/Folders/Digital%20Logic%20Design/Logic%20Gate.flv](url)

[2019-07-16 14:22] ojw28 commented on #6190
Duplicate of https://github.com/google/ExoPlayer/issues/3251

[2019-07-16 14:22] #6190 closed, assigned to ojw28

[2019-07-16 14:31] HaiderSaleem commented on #6190
It was asked in 2017 and now its 2019, isnt there any implementation made till yet?
That server doesn't support .mp4, so we now converting .wmv to .flv and now this issue has come.
any suggestion?

[2019-07-16 14:34] HaiderSaleem commented on #6190
It was asked in 2017 and now its 2019, isnt there any implementation made till yet?
That server doesn't support .mp4, so we now converting .wmv to .flv and now this issue has come.
any suggestion?

[2019-07-16 14:40] ojw28 commented on #6190
Pretty much any web server will support mp4, so I'm unclear what it means for a server to not support it. My suggestion would be to use mp4. Also, it's explained on the duplicate issue why this is a low priority issue for us, and that if support is added it'll likely be in the form of an external contribution.

[2019-07-16 14:44] HaiderSaleem commented on #6190
You mentioned there via rtmp but its from http.

[2019-07-16 14:48] ojw28 commented on #6190
Most of the comment in that issue relates to what the issue is tracking. I.e. "Support seeking in FLV (including if delivered using rtmp)". I've adjusted the comment there to start a new paragraph to make it clearer.

If you could explain what it means for an http server to not support mp4, that would be helpful to understand. An mp4 file is just a regular file. If a web server can serve any file,

[2019-07-16 14:55] luiscurini commented on #5993
I'm experiencing the same issue, I had to use reflection as suggested by @tfcporciuncula in order to reinitialize it on storage change.

[2019-07-16 15:03] #6141 closed, assigned to andrewlewis

[2019-07-16 15:09] VladimirCores commented on #6128
Hello @ojw28, I'm debugging the method `FrameworkMediaDrm.provideProvisionResponse()`, but it's **not even called** from anywhere in the ExoPlayer code nor when the breakpoint is set inside of it, looks like this method is abstraction under system API. And what could you say about the need for DRM certificate per application host on Android 9 mentioned in the comment from @rrfrias (https://github.

[2019-07-16 15:10] HaiderSaleem commented on #6190
idk why, but client has tested by uploading .mp4 and later hitting the url, found 404.

[2019-07-16 15:13] ojw28 commented on #6128
You've posted a stack trace above that shows `FrameworkMediaDrm.provideProvisionResponse()` being called.

[2019-07-16 15:16] ojw28 commented on #6190
I think they're most likely just doing something wrong, and you or they should figure out how to fix that. I don't think there's anything special about hosting an mp4 file vs any other type of file.

[2019-07-16 15:18] drexel-ue commented on #6182
@ojw28 i apologize for the late response. things have been hecktic.
i will work on recreating the error.
this first started with videos that were confirmed to have played. since the error arose, videos that have been recorded have not been working properly, as you've experienced.
the issue what was first noticed, though, with videos that were working...

[2019-07-16 19:35] ojw28 commented on #2194
This can likely be solved using Android's `BidiFormatter` class prior to painting the subtitle.

[2019-07-16 19:39] bluemix commented on #2194
@MurtadhaS
i think you might get benefit of this

[2019-07-17 00:48] star-andy commented on #6184
@ojw28
Thank you very much for your help this time
I changed 17 to 25 to solve this problem, and the equipment can work normally
But there is a problem, rk3399 is also SDK 25, but I don't know if this omx.rk.video_decoder.avc has been fixed.
I have no rk3399 device here, so I can't test it. I don't know whether the modification to 25 will have any impact on 3399

[2019-07-17 01:00] #5865 closed, assigned to marcbaechinger

[2019-07-17 01:53] avecost opened #6191 "Using ExoPlayer on Kotlin"
New to ExoPlayer, and hitting a blank wall, I have converted parts of the java demo app to kotlin and was successful in running the streaming part.

but i need the feature for offline playback and encoutering this weird (maybe for me) problem on the TrackSelectionDialog

![image-smaller](https://user-images.githubusercontent.com/1026627/61341134-c0c19f00-a877-11e9-887c-9ac22de67b90.png)

as you ca

[2019-07-17 05:39] tsukano-ryuma opened #6192 "seekTo() not work on Data Uri scheme"
### [REQUIRED] Issue description

seekTo() may not work for Data Uri scheme.

- For any reasion, I want to use music data on memory. (Not streaming/ Not local path Loading)
- But, ExoPlayer does not have any arg for binary data on memory (like AVAudioPlayer.Init(Data) in iOS).
- So, I use data uri scheme for using data on memory. (It use url like data:audio/mpeg;base64,abcdefghijklmno... <= url in

[2019-07-17 08:06] Programmer-Jared opened #6193 "How to solve music catton problem when underruns appear in playing audio"
When I used exoplayer to play url, in m4a format, on a low-end device, and when other applications were using too much CPU, underrun appeared on my app player. How do I avoid underun? I tried to enlarge the buffer size, but I felt that this was not the root of the problem. I hope you can help me as soon as possible. thank you Otherwise, I would abandon exoplayer and use Mediaplayer. Very urgent. P

[2019-07-17 08:46] kaemanspk commented on #5693
Hello Team
Any further update

[2019-07-17 09:59] AquilesCanta commented on #6192
A fix will be linked to this issue as soon as the changes are pushed to the dev-branch. Thanks for reporting!

[2019-07-17 10:21] VladimirCores commented on #6128
I don't know how I got this `provision response is null`, I can't reproduce it at all.
Instead, always have an InvalidResponseCodeException with response code 404:
![Screenshot 2019-07-17 at 11 57 25](https://user-images.githubusercontent.com/442111/61367846-c8d80980-a88c-11e9-99e9-b277225fb346.jpg)

Any clues?

[2019-07-17 10:58] yangwuan55 commented on #5408
Can I make a hlsmediasource with a native m3u8 file?
like this:

[code]

[2019-07-17 11:24] ivan2311 commented on #6180
@andrewlewis thanks for mentioning the existence of the method isDirectPlaybackSupported, I didn't know about it. It seems to me that there could be some newer devices, that will have Android Q, and could possibly support direct playback. But, currently I haven't read about any device that doesn't do resampling.

Also, I don't know where exactly resampling happens, is it inside AudioTrack or somew

[2019-07-17 11:38] Odysseos commented on #5887
As I said in origin message I have only stack trace from Google Play Console. And I can not reproduce this ANR "in vitro" :(

BTW: now I see in Google Play Console several ANRs with the same stack traces on different devices (Sony TV, Philips TV, Xiaomi MiBox S, Xiaomi MiTV and some other devices)

[2019-07-17 12:22] ojw28 commented on #6128
You got it by using `DefaultHttpDataSourceFactory`, didn't you? As is written down in your response above. What I was saying in https://github.com/google/ExoPlayer/issues/6128#issuecomment-510808117 is that this is a much easier case to debug, and so you should do that as described there.

[2019-07-17 12:26] ojw28 commented on #6184
We will merge a change that bumps the value to 25. The other device will also get the workaround. That'll be a little sub-optimal in the case that the other device doesn't need it, but it shouldn't cause any huge issues. In absence of being able to test, it's better to fix the broken device and risk the other one having the unnecessary workaround than it is to leave the broken device broken :).

[2019-07-17 13:19] andrewlewis commented on #6180
You could also look at [AAudio](https://developer.android.com/ndk/guides/audio/aaudio/aaudio) and/or [Oboe](https://github.com/google/oboe), but, as you suggest, the resampling may be happening below a layer that you can control. For what it's worth, I am not aware of any ways to do audio output on Android apart from `AudioTrack`, OpenSL and AAudio (Oboe wraps these two).

Returning to your origin

[2019-07-17 13:19] #6180 closed, assigned to andrewlewis

[2019-07-17 13:57] ivan2311 commented on #6180
Yeah, I understand that it was a little bit too much to ask :) but nevertheless you still gave me some interesting info, so thank you!

As for the Oboe, I've already checked it and the resampling issue happens there also. Here is the issue with more info: [https://github.com/google/oboe/issues/526](https://github.com/google/oboe/issues/526)

[2019-07-17 14:20] dturner commented on #6180
Oboe author here, hello :)

I'm keen to understand what you mean by "resampling issue". I understand that you want your application's audio bit depth and sample rate to match what comes out of the Android device (presumably via headphones, speaker or an attached USB audio device), however, those audio devices will have a fixed, non configurable (for now at least) bit depth and sample rate.

This m

[2019-07-17 15:06] VladimirCores commented on #6128
Actually, It does not matter which one is in use, both `DefaultHttpDataSourceFactory` and `OkHttpDataSourceFactory` give the same `InvalidResponseCodeException` with response code 404. Maybe this `provision response is null` was some kind of mistake from my side, I can't reproduce it now.

[2019-07-17 15:35] HaiderSaleem commented on #6190
yeah, we have fixes it by allowing .mp4 files on their server, thanks.

[2019-07-18 00:39] star-andy commented on #6184
@ojw28 Thank you very much for your answers these days

[2019-07-18 01:44] joechan-cq commented on #5799
Do all the apps in the phone share the limitation of the decoder? If so, does that mean my app can't init the decoder if the limitation has been reached. Is there someway I can release the decode held by the other apps?

[2019-07-18 02:18] namnh-0652 opened #6194 "Keep connect a livestream video for a specific time"
Hi, my context is that when a `livestreamer` is streaming, he has network problem (or any reason) so the streaming is disconnected for a minute, after that he can continue streaming normally with the same url. From another side, a viewer is viewing normally, however because the streaming has broken for a while the video is ending, how to keep a viewer continue listening that livestream video with

[2019-07-18 07:39] noamtamim opened #6195 "Add a Scheduler that uses WorkManager for"
### [REQUIRED] Use case description
For downloading media you provide two implementations of the Scheduler interface, one that uses JobScheduler from API 21 and another that uses Firebase (which requires Google Play Services).
Both options are not ideal - we support API 17, and we're reluctant to add a dependency on something like Firebase (and Play Services).

### Proposed solution
[WorkManager](

[2019-07-18 07:58] SumalathaBareddy commented on #5477
it's not working for me

[2019-07-18 08:20] jakoss opened #6196 "TransportControls.skipToQueueItem not working after shuffle"
### Issue description
I have issue when using `MediaSession` to set shuffle and then trying to navigate through new queue. `TransportControls.skipToQueueItem` seems to be translated to wrong windows index.

### Reproduction steps
First - i create playlist using `ConcatenatingMediaSource`. Using `MediaControllerCompat.Callback` i'm updating tracks queue in view like that:
[code]
Now, when user want

[2019-07-18 08:33] jakoss commented on #6196
Code:
[code]
Seems to be working fine. Is it right behavior?

[2019-07-18 08:53] ivan2311 commented on #6180
Hi @dturner ,

basically what I would like to achieve is written in this response: https://github.com/google/oboe/issues/526#issuecomment-496047221

and response to that was that it's not possible with Oboe. So, that's why I assumed that I can't achieve what I want with Oboe.

Also, here is the simple example of what I want to achieve:
I have Android device (LG V30) and external DAC (D50 Topping)

[2019-07-18 09:10] ivan2311 commented on #6180
Also, if it's possible to achieve mentioned above with Oboe, I would still like to use ExoPlayer but maybe just use Oboe to do audio output, also if possible :)

[2019-07-18 09:17] ojw28 commented on #6195
See https://github.com/google/ExoPlayer/tree/dev-v2/extensions/workmanager, which will be included in a future release.

[2019-07-18 09:17] #6195 closed, assigned to ojw28

[2019-07-18 09:20] rishabh876 opened #6197 "OutOfMemoryError in DefaultMediaMetadataProvider > getMetadata"
### [REQUIRED] Issue description
java.lang.OutOfMemoryError at `com.google.android.exoplayer2.ext.mediasession.MediaSessionConnector$DefaultMediaMetadataProvider.getMetadata (MediaSessionConnector.java:920)`

### [REQUIRED] Reproduction steps
Couldn't reproduce, can't see calling code in logs

### [REQUIRED] Link to test content
Couldn't reproduce so no idea.

### [REQUIRED] A full bug report capt

[2019-07-18 09:26] Bhoomishah1990 opened #6198 "Downloading media not working on Recycle view with 2.10.3"
i am trying  to add Downloading media inside recycle view, can you please send me guide for that.

[2019-07-18 09:26] noamtamim commented on #6195
Thanks @ojw28. In its current state (https://github.com/google/ExoPlayer/blob/dev-v2/extensions/workmanager/src/main/java/com/google/android/exoplayer2/ext/workmanager/WorkManagerScheduler.java), is this class ready for testing?

In other words, can I copy it directly into my library and use it when JobScheduler is not available? QA is on me, of course :-).

[2019-07-18 09:35] ojw28 commented on #6195
It's complete and no further changes are planned.

[2019-07-18 09:40] noamtamim commented on #6195
Ok, one last question on this topic: since WorkManager uses JobScheduler when it's available, and it adds features on top of that, would you recommend using WorkManagerScheduler anyway (even on API 21+)?

[2019-07-18 09:44] ojw28 commented on #6195
Yeah, I think so!

[2019-07-18 09:57] AquilesCanta commented on #6197
I don't think we have information here to assert this is an ExoPlayer issue. Moreover, we don't have enough information to debug the issue either. If you can provide us with means of reproducing the issue, I'll reopen and look into it.

It's worth observing that the trigger of the OOM is the unparceling of a bitmap. It wouldn't be surprising that the device is just running out of memory because of

[2019-07-18 09:57] #6197 closed, assigned to AquilesCanta

[2019-07-18 10:02] umangsaini commented on #6198
Have you referred to the developer documentation and sample usage in demo application?  [https://exoplayer.dev/downloading-media.html](https://exoplayer.dev/downloading-media.html)

[2019-07-18 10:30] dturner commented on #6180
There's 2 questions here:

1) Can I configure the USB DAC to have a specific sample rate?
2) Can I obtain an audio stream with the same sample rate as the USB DAC?

I'll try to answer both below.

USB audio devices have one or more configurations for sample rate/bit depth. If you have a mac you can see the available configurations using the "Audio MIDI setup" app. Importantly, they can operate onl

[2019-07-18 10:57] dturner commented on #6180
Just realised the "output at whatever the DAC is configured at" statement is only true if you're using AAudio (recommended on Android API 27+). If you're using OpenSL ES it will try to open a stream at the same rate as the built-in audio device.

What Android version do you have on your LG phone?

[2019-07-18 11:07] Sathish-Kumar-Kanagaraj opened #6199 "How to show the default audio track checkedtextview selected"
I am using exoplayer and hls url
I want to show the audio popup with the default audio with checked tick mark
How can i get the DEFAULT key value yes in the hls url that audio to be checked
How to do it?

[2019-07-18 12:50] ivan2311 commented on #6180
Yeah, LG V30 is on Android API 26 currently, so it's using OpenSL ES and it defaults to the same rate as the build-in audio device - 48 kHz.

So, I've also tried with Huawei P20 Pro, API 28. It's fixed sample rate is 48kHz (used [PROPERTY_OUTPUT_SAMPLE_RATE](https://developer.android.com/reference/android/media/AudioManager#PROPERTY_OUTPUT_SAMPLE_RATE) to get it) and when connected to D50 DAC, it

[2019-07-18 13:33] #6184 closed, assigned to ojw28

[2019-07-18 14:50] dturner commented on #6180
Please be more specific rather than referring to "it". Do you mean the audio stream? the USB DAC or something else?

Well, like I said, there might be something else which limits the highest sample rate to 96kHz, maybe in Audio Policy Manager: https://source.android.com/devices/audio/implement-policy

[2019-07-18 15:18] ivan2311 commented on #6180
By it, I mean devices (Huawei P20 Pro) output audio stream. When it uses build-in speaker as audio output, sample rate is 48 kHz, and when it uses external USB DAC, sample rate is 96kHz.

👍

[2019-07-18 15:34] dturner commented on #6180
Thanks for clarifying. So the question is:

Is there any way of knowing what sample rate an external USB audio interface is configured at when not using AAudio?

I'll need to do some digging on that.

[2019-07-18 16:16] mr5z opened #6200 "Why do some issues gets closed and limits to collaborators only?"
This question is not about the use of the library but how the collaborators handles the filed issues.

I was about to follow up some questions on the issues below:
1. [Cannot find sync byte. Most likely not a Transport Stream. #5039](https://github.com/google/ExoPlayer/issues/5039)
2. [Exoplayer slow seekTo() update #1399](https://github.com/google/ExoPlayer/issues/1399)

As for #5039

I can still

[2019-07-18 18:05] AquilesCanta commented on #5799
True. But that doesn't mean that every time there is an initialization error, it means the limit has been reached. Make sure there is not a different error ocurring.

I don't think there is (@ojw28?). I think the best you can do is retry later.

[2019-07-18 18:27] ojw28 commented on #6200
I could be mistaken, but I think the issue was fixed for the content that was provided to us in that issue. If you have other content that exhibits the same failure then the root cause may well be different. You should file a new issue with test content so that we can take a look at it.

Issues are locked after they've been closed for a certain period of time. We do this because prior to doing so,

[2019-07-18 19:00] ojw28 commented on #5799
If your app is in the foreground and the holding app is not, then I think there's logic in the platform that's supposed to reclaim the resource so that it can be given to the (more important) foreground app.

[2019-07-18 19:11] Bhoomishah1990 commented on #6198
i have applied but i am using exoplayer version 2.10.3

but got error
org.gradle.execution.MultipleBuildFailures: Build completed with 1 failures.
Caused by: org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:processDebugManifest'.

Caused by: java.lang.RuntimeException: Manifest merger failed with multiple errors, see logs
	at com.android.builder.core.AndroidBuilder.merg

[2019-07-18 22:23] stevemayhew commented on #474
Oliver (@ojw28), please reference the design document here: https://drive.google.com/file/d/1_efCflJ-OfmRgu03qn1MbqQ7wsNYozj-/view?usp=sharing  Let me know if anyone else wants to be involved in the effort please feel free to comment

I am close to having code (ExoPlayer code branched from `dev-v2`) to share that will publish an Iframe stream that will render with MediaCodecVideoRenderer.

Please

[2019-07-19 01:00] #6092 closed, assigned to tonihei

[2019-07-19 01:36] Richjard commented on #6152
estoy usando android tv
public class PlaybackVideoFragment extends VideoSupportFragment {

    private PlaybackTransportControlGlue<MediaPlayerAdapter> mTransportControlGlue;

    @Override
    public void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);

        final Movie movie =
                (Movie) getActivity().getIntent().getSerializableExtra(DetailsActiv

[2019-07-19 06:39] TakuSemba opened #6201 "How do you set an initial position with pre-roll ad"
### [REQUIRED] Issue description

When playing video seeking somewhere in between and have a pre-roll ad, the pre-roll ad starts first and video starts playing from the beginning after, but I think it should start playing from the seeked position after the pre-roll ad.

### [REQUIRED] Reproduction steps

You can reproduce this with ExoPlayer demo app.

1. add samples

[code]

2. seek

[code]

###

[2019-07-19 07:44] tonihei commented on #6201
Thanks for reporting! Good news is, we discovered this issue a couple of days ago internally and it's already fixed.

[2019-07-19 07:45] tonihei commented on #6201
For future reference and in case you want to try it out: The fix is in https://github.com/google/ExoPlayer/commit/049f3cf5cda00fb5acdd9151f6d9040a15e843d9.

[2019-07-19 07:45] #6201 closed, assigned to tonihei

[2019-07-19 08:13] Programmer-Jared opened #6202 "Android6.0 车机其他应用使用cpu过高时，exoplayer出现underrun卡顿"
您好，我是一名中国安卓开发者，我想知道EXOplayer频繁出现卡顿 underrun，如何解决？可能跟其他应用占有cpu使用率过高导致。希望您能帮助我。非常感谢

[2019-07-19 08:47] jakoss opened #6203 "The player should properly expose audio focus state"
### Issue description
I'm trying to get AudioFocus behavior: duck (lower volume) on notifications and pause on incoming call (and play after call end). When i look at the code https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/audio/AudioFocusManager.java#L419 default ExoPlayer implementation should be working like this (or maybe i don't un

[2019-07-19 09:29] TakuSemba commented on #6201
Great!

[2019-07-19 10:03] umangsaini commented on #6198
You are using Support libraries (com.android.support.*), while Exoplayer has migrated to Jetpack/AndroidX.
Application having dependency on both Support Library and Jetpack / AndroidX can give the type of build errors you are facing.

You may either migrate your application to [Jetpack](https://developer.android.com/jetpack/androidx/migrate), OR use an older Exoplayer version (before #5489)

[2019-07-19 12:43] Bhoomishah1990 commented on #6198
i have implemented androidx.

    dependencies {
        def glideVersion = "4.9.0"

    implementation "androidx.appcompat:appcompat:1.0.2"
    implementation "androidx.constraintlayout:constraintlayout:1.1.3"

    // Recyclerview

    implementation "androidx.recyclerview:recyclerview:1.0.0"
    // ExoPlayer
    implementation 'com.google.android.exoplayer:exoplayer:2.10.3' // 2.9.0 has min sdk

[2019-07-19 13:04] zourb commented on #5978
Are there any updates for this issue? The parallelized downloads feature is really important especially for poor segments downloads' speed.

[2019-07-19 13:18] umangsaini commented on #6198
Please check detailed build logs, they may give information on root cause for this build error. Running
 gradle in from command line may also help (gradlew assemble --info --full-stacktrace).

I am not sure why "Manifest merger failed" error is thrown in this case.

[2019-07-19 13:25] chvp opened #6204 "How does downloading and playback at the same time work?"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/cache/SimpleCache.html
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/PriorityDataSource.html
https://exoplayer.dev/downloading-media.html

### [REQUIRED] Que

[2019-07-19 13:45] Bhoomishah1990 commented on #6198
remove android:tools:appComponentFactory then it is done.

Thankx for support

[2019-07-19 13:45] #6198 closed, assigned to nobody

[2019-07-19 13:49] aecdrianc opened #6205 "Change CurrentContentText"
Hi! is possible change contenttext dinamically in function of hour of system? I have a radio app, and I need set text in different hours, is possible? thanks

[2019-07-19 17:22] Bhoomishah1990 opened #6206 "Downloading media with recycle view demo using exoplayer"
Please send us recycle view demo with downloading media with 2.10.3 .

I am very confuse about Downloading media. how to use downloading media concept inside adapter?

[2019-07-19 17:54] mjmancuso commented on #5962
@annetube We are having trouble reproducing this without a French IP address. Is there another way you can provide us the stream without geo restrictions?

@JonathanImperato can you provide us a sample stream you are having the issue with?

Additionally it would be helpful to know which receiver id you are using (default?) and what version of the Cast Receiver Framework you are on.

[2019-07-20 08:50] annetube commented on #5962
@mjmancuso

Thanks for looking it ,you can try this one https://livefrancetv.akamaized.net/simulcast/France_Info/hls_monde/ZXhwPTE1NjM2MzM2OTV+YWNsPSUyZnNpbXVsY2FzdCUyZkZyYW5jZV9JbmZvJTJmaGxzX21vbmRlKn5obWFjPTAyMGRlM2UzMjI3NWVjOGJjYTYxMmRjODc0ZTk2OWViZGViMzVlYzM2NDUxODZhN2Q1N2YzMDQ4NDQwYjg3MzE=/France_Info-video=400000.m3u8

 if it expires, youtube-dl -j "https://www.france.tv/franceinfo/direct.ht

[2019-07-20 19:41] NiuXiaoGuang opened #6207 "我在播放本地视频的时候出现了错误"
![image](https://user-images.githubusercontent.com/30843465/61583334-696a4a00-ab69-11e9-9ec6-c03b898ff1b4.png)
shi'p
视频的时长都能获取到

[2019-07-21 14:42] ojw28 commented on #6207
Please provide all of the information requested in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=). Closing this for now. Please reply here if you're able to provide complete information, and we'll re-open the issue.

[2019-07-21 14:42] #6207 closed, assigned to ojw28

[2019-07-21 14:43] #6192 closed, assigned to AquilesCanta

[2019-07-21 14:44] #6200 closed, assigned to ojw28

[2019-07-21 16:09] joechan-cq commented on #5799
Thanks for your reply. In my app, i somtimes receive the feedback from the users that they can't play the video. I found the error msg is about DecoderInitializationException, i tried everyway, however, i can't produce the bug. So i come here to find out the reason or information。
Maybe i need to add auto-retry function in my app.

[2019-07-21 17:32] #6148 closed, assigned to ojw28

[2019-07-21 20:58] olenasol commented on #6068
I am sorry it took me so long to respond, I have been on vacation. Your snippet works for me too, but I cannot set margins on exo_progress and exo_position. I have checked the LayoutInspector, it says that margins are not set, but programmatically I am setting them.
Also attaching code that I am using to set margins and what it looks like in portrait and in landscape. As you can see margins on Ima

[2019-07-22 01:00] #6107 closed, assigned to marcbaechinger

[2019-07-22 01:00] #6091 closed, assigned to marcbaechinger

[2019-07-22 04:16] keicotu opened #6208 "The current time becomes abnormal when the manifest becomes static from dynamic at the end of live streaming."
### [REQUIRED] Issue description
When the manifest is changed from the dynamic to static, the current time returned from ExoPlayer is abnormal value.
There is a function in AWS MediaService, called time-shifted viewing, the start and end time can be set in URL for playing streaming within the duration. However, the end time can be the time in the future, and the streaming will be live with a fixed

[2019-07-22 05:59] ashwinprasadmr opened #6209 "TS file streamed over DVB-T broadcaster"
### [REQUIRED] Content description
Currently i am trying to use the Exoplayer in my application where i need to display the video data which is fetched from a DVB-T tuner(dongle). The video is streamed from a DVB-T broadcaster and the application uses a dongle and fetches the video data via the USB interfaces and dumps the data into a local bytebuffer queue. The queue data is sent across to the Ex

[2019-07-22 07:34] gb103 opened #6210 "Specific HLS url is not working."
### Searched documentation and issues
Exoplayer Github repository / Issues list
Stackoverflow Forums
Medium Forums

### Question
When trying to play a HLS url, it is not working, although several other HLS urls are working fine.
The difference which I observed compare to other HLS urls is,
a) This has only video , no audio content
b) It's codec information is different than other media codecs whic

[2019-07-22 07:44] gb103 commented on #6210
After disabling audio renderer, it is working fine, But I can not see such code in demo exoplayer app, but still it was working there.

[2019-07-22 08:05] olenasol commented on #6068
Never mind, found the issue. I was using  Kotlin synthetics and it did not find the correct element but was not showing any error. The correct way to find this was
[code]

[2019-07-22 08:05] #6068 closed, assigned to marcbaechinger

[2019-07-22 09:33] VeiZhang opened #6211 "ExoPlayer play AVI file failed"
Before filing a content issue:
------------------------------
- Search existing issues, including issues that are closed:
  #745
- Consult our supported formats page, which can be found at
  https://exoplayer.dev/supported-formats.html.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.dev/listening-to-player-events.html#using-eventlogger
- Try playing your cont

[2019-07-22 09:39] ojw28 commented on #6211
See [this search](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+AVI). Closing as duplicate of https://github.com/google/ExoPlayer/issues/2092.

[2019-07-22 09:39] #6211 closed, assigned to ojw28

[2019-07-22 10:16] AquilesCanta commented on #6181
The best way I can think of, without forking the library, is injecting a [custom playlist parser](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/HlsMediaSource.Factory.html#setPlaylistParserFactory-com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistParserFactory-) that replaces the existing key data. So you can provide your own key data from the app.

The [f

[2019-07-22 10:16] #6181 closed, assigned to AquilesCanta

[2019-07-22 10:24] ojw28 commented on #6208
In nearly all previous cases where we've seen this, it's because the stream provider is incorrectly transforming the manifest at the end of playback. If you could capture what the manifest looks like just before the end of playback, and just after, then we can give you an indication of whether we believe the transformation is incorrect, and in what way.

That might be the best first pass at trying

[2019-07-22 10:29] ojw28 commented on #6209
If it works when played as a file but throws the error above when played via your NanoHTTP path, then the only possibility is that different data is being fed into the player in each case (i.e. incorrect data in the case of the NanoHTTP path). That's an issue with your application code, which you'll need to debug on your side.

As an aside, it's quite inefficient to setup a local HTTP server for t

[2019-07-22 12:22] gb103 commented on #6210
@ojw28 @tonihei  Please revert.

[2019-07-22 13:13] tonihei commented on #6153
Problem was fixed by the commit above.

[2019-07-22 13:13] #6153 closed, assigned to tonihei

[2019-07-22 14:49] keicotu commented on #6208
In the zip, "0715_startover_dynamic.mpd" is the manifest before the end of playback (still dynamic) and "0715_startover_static.mpd" is the manifest after the last updated (become static).

[mpd.zip](https://github.com/google/ExoPlayer/files/3417958/mpd.zip)
Thanks~

[2019-07-22 15:10] sergiomartinez4 commented on #6154
@ojw28 a follow-up question on this. Taking the TS and FMP4 mixing out of the equation, is switching between encrypted and un-encrypted segments (both ways) a valid scenario?

[2019-07-22 15:19] ojw28 commented on #6154
Yes.

[2019-07-22 15:41] PranjalDesai opened #6212 "Pre Buffering entire video"
Hello,

I was wondering if there was any way to buffer the entire video before playing it. I dont want to download the video but want it to be buffered from a url.

Thanks in advance 🙏🙏🙏

[2019-07-22 16:29] AquilesCanta commented on #6210
The issue here is that your master playlist declares audio codecs, but the content doesn't contain audio. There are multiple ways I can think of:
- Remove the audio codec from the master playlist.
- Try disabling chunkless preparation (you are using chunkless preparation, right?).
- Disable the audio renderer (or do not set one in the player in the first place) when you know you are playing this t

[2019-07-22 16:29] #6210 closed, assigned to AquilesCanta

[2019-07-22 16:37] AquilesCanta commented on #6191
I don't think this is an ExoPlayer related issue. It would seem to me that you lost some functionality when you converted to kotlin, since the demo app seems to work ok. Please try your luck in a general Q&A site, like stack overflow.

It may be worth tracking #5854 for conversion of demo apps to kotlin.

[2019-07-22 16:37] #6191 closed, assigned to AquilesCanta

[2019-07-22 16:39] AquilesCanta commented on #6202
Duplicate of #6193.

[2019-07-22 16:39] #6202 closed, assigned to AquilesCanta

[2019-07-22 16:45] AquilesCanta commented on #6193
Could you please provide:
- Sample content that reproduces the issue.
- A bugreport captured shortly after reproducing the issue.
- A precise description of the steps you take to reproduce the issue.

Thanks!

[2019-07-22 16:49] AquilesCanta commented on #6194
So the player transitions to ended state? If that's the case it may be worth visiting the possibility of fixing it on the server side, to avoid reaching the end of input.

Client-side, if you are reaching the end of input, you can re-prepare the player.

If this doesn't help, please clarify the question, and I will re-open the issue.

[2019-07-22 16:49] #6194 closed, assigned to AquilesCanta

[2019-07-22 16:50] AquilesCanta commented on #6196
@marcbaechinger, could you please take a look?

[2019-07-22 16:52] AquilesCanta commented on #6199
See [Format.selectionFlags](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Format.html#selectionFlags): one of the possible flags is [C.SELECTION_FLAG_DEFAULT](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/C.html#SELECTION_FLAG_DEFAULT).

[2019-07-22 16:52] #6199 closed, assigned to AquilesCanta

[2019-07-22 17:03] AquilesCanta commented on #6204
@erdemguven, can you take a look?

[2019-07-22 17:14] AquilesCanta commented on #6206
Sorry, you'll have to narrow down your question for us to help you, not sure whether the confusion comes from a specific part of the Download API or from RecyclerView. You might want to try your luck in Stack Overflow or a similar general Q&A site.

[2019-07-22 17:14] #6206 closed, assigned to AquilesCanta

[2019-07-22 17:15] marcbaechinger commented on #6205
You can trigger updating the notification by calling `playerNotificationManager.invalidate()`. So in the moment you want to update the notification you call invalidate and make sure that `MediaDescriptionAdapter.getCurrentContentText(Player player)` returns the string you want to have included in the notification as content text.

You need to start a timer or similar yourself to invalidate at the

[2019-07-22 17:20] umangsaini commented on #6212
You may customize parameters of Allocator used by LoadControl to set a larger buffer ([Link](https://exoplayer.dev/customization.html)).

When setPlayWhenReady() is not set for playback to start, you may start playback after waiting for getContentBufferedPosition() to be same as total duration.

[2019-07-22 17:53] #6212 closed, assigned to nobody

[2019-07-22 18:50] chvp commented on #6196
(Disclaimer: not affiliated with this project.)

As far as I know, you need to pass the item's `queueId` instead if the item's position. So your code should be something like:
[code]

[2019-07-22 22:05] rrfrias commented on #5949
The Widevine_DRM_Encryption_API.pdf v1.7 is out of date. I have opened an internal ticket to update. The protection scheme is not being deprecated.

[2019-07-22 22:05] #5949 closed, assigned to fredgc

[2019-07-22 22:15] mjmancuso commented on #5962
@annetube

I am having trouble reproducing this. I tried it with your code and against Exo 2.10.1. Are you using the default receiver and which Cast device are you targeting?

[2019-07-22 23:44] annetube commented on #5962
@mjmancuso

What kind of trouble ? The links just doesnt play on my side after multiple try. It works perfectly on exoplayer but never ive been able to play it on cast devices...

I tried with cast extension from exoplayer and also fron original GoogleCast https://github.com/googlecast/CastVideos-android, both acts on same way

[2019-07-23 00:07] mjmancuso commented on #5962
@annetube

I tried on both the demo-cast sample and a sample of my own. If you can let me know which receiver application id you are using and on which chromecast enabled device, it would be helpful.

[2019-07-23 00:14] annetube commented on #5962
@mjmancuso

I use the CastMediaControlIntent.DEFAULT_MEDIA_RECEIVER_APPLICATION_ID, for the chromecast device targetting, ive no idea, i guess all ?

Im able to play many kind of link but the links provided previously only work with the exoplayer.

Are you able to play this stream on cast session ?

https://livefrancetv.akamaized.net/simulcast/France_Info/dash_monde/ZXhwPTE1NjM4NjI1OTF+YWNsPSUyZnN

[2019-07-23 01:01] namnh-0652 commented on #6194
Yes, it does. But, could you clarify me whenever the player is going to ended state? how does it know the stream is ended?

I will consider about this.

[2019-07-23 02:55] lion4509 commented on #6124
@AquilesCanta
I have tried to solve this issue on my side but not easy.
Have you checked the content and got any solution?
I know you are not sure it will be changed any time soon but please tell any advice.

[2019-07-23 04:19] mjmancuso commented on #5962
@annetube

It looks like a CORS issue. When we request the MPD we include the `Sec-Fetch-Mode: cors` header along with referrer, user agent, etc. When those conditions are met the response header includes `Access-Control-Allow-Origin: https://wwws.protect.francetv.fr`

So you would either have to remove that header from the CDN or host the chrome-cast receiver app at the same domain.

[2019-07-23 05:48] annetube commented on #5962
thanks for your fast answer, unfortunately i can't acess to this server or change the domain. So If i understand well what you said it means i can't play this stream because of the header repsonse (Access-Control-Allow-Origin: https://wwws.protect.francetv.fr)  ?
Is it not possible to "bypass" this like not using Sec-Fetch-Mode: cors?

[2019-07-23 06:03] GouravSna opened #6213 "Audio/Video is not sync if Audio codec is EAC-3 on TCL Parcee Android TV with Amazon Fire Stick"
### [REQUIRED] Content description
The content where Audio codec is EAC-3 then on that in the following steps content is not playing properly on Android TV with Fire Stick.

Note: If we directly play the same content with EAC-3 audio tracks, it works fine. Issue is only with Fire Stick.

Steps:
1. Play the content.
2. Pause the content when there is audio.
3. Observe that the video frame is paused

[2019-07-23 06:19] GouravSna commented on #6213
If we try to check Dolby (7.1) media on Youtube then we can see it plays. In Stats for nerds it does not show the Audio Codec info, it only shows video codec with other info.

So there could be two cases,
1. Youtube player is excluding EAC-3 codec when it knows that the device is not capable.
2. Exoplayer has some bug.

[2019-07-23 07:00] squti opened #6214 "Notification stop button is not visible when multiple track is playing"
Exo player shows stop button in notification just when single track pass to it. In multiple track  it doesn't show stop button except in last track

[2019-07-23 07:14] #6214 closed, assigned to nobody

[2019-07-23 07:18] squti opened #6215 "Notification stop button is not visible when multiple track is playing"
Exo player shows stop button in notification just when single track pass to it. In multiple track it doesn't show stop button except in last track. How can I fix this to show stop button always ?

[2019-07-23 07:53] AquilesCanta commented on #6194
Depends on the type of media. I am assuming you are using a progressive file (for example, Transport Stream, MP4, etc). If you are indeed using a progressive stream, the player transitions to ended state when the end of input is reached. If you are using a different type of streaming (for example, HLS or DASH) then it depends on the published playlist, but the same suggested approach applies (repr

[2019-07-23 08:07] AquilesCanta commented on #6124
I can confirm a track is being added mid-stream. As mentioned above, this is not something ExoPlayer currently supports. I'll use this issue to track support for addition of tracks mid-stream.

Solving this issue is not simple. One way I can think of solving this issue without changing the core representations in ExoPlayer is creating a new MediaSource that, when a track change is detected, signal

[2019-07-23 08:39] andrewlewis commented on #6213
Assuming the FireTV device is behaving the same as an Android L device: before Android M there was a bug with surround sound passthrough output where pausing the `AudioTrack` had no effect, so we work around this on pre-API 23 devices by stopping writing data and allowing the track to underrun. The behavior you are seeing sounds like it may be related to that workaround.

I'd suggest trying the fo

[2019-07-23 09:31] marcbaechinger commented on #6215
The button is there but because there are too many button the last one is not visible.

The notification can in total display five buttons. If you have a playlist with multiple items these will be

1. SKIP_TO_PREVIOUS
2. REWIND
3. PLAY/PAUSE
4. FAST_FORWARD
5. SKIP_TO_NEXT
6. STOP (often not displayed as this is position 6)

If you are on the last item the SKIP_TO_NEXT is not displayed and the sto

[2019-07-23 09:36] marcbaechinger commented on #6196
@charvp That's perfectly right. Thanks! :)

@Nekromancer
The solution with the queueId is the right way to go. When using shuffle mode the position of the item in the data structure remains the same. So you need to use the queueId instead.

[2019-07-23 09:44] jakoss commented on #6196
Ok, thanks

[2019-07-23 09:44] #6196 closed, assigned to marcbaechinger

[2019-07-23 10:07] Sathish-Kumar-Kanagaraj commented on #6199
Thanks for the reply .
I am getting 5 as selection flag for the default audio track
Is it correct whether default audio track int= 5 ?

[2019-07-23 10:15] AquilesCanta commented on #6199
Don't rely on the values. Check whether the flag is set, like so:

`boolean isDefault = (format.selectionFlags & C.SELECTION_FLAG_DEFAULT) != 0;`

[2019-07-23 10:56] Sathish-Kumar-Kanagaraj commented on #6199
Thank u so much .boolean worked fine

[2019-07-23 12:20] squti commented on #6215
That's right. Could you give me a code example to invisible rewind and fast forward in navigation?

[2019-07-23 13:58] marcbaechinger commented on #6215
You can set the `rewindIncrementMs` and `fastforwardIncrementMs` to zero to achieve this:
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerNotificationManager.html

[2019-07-23 14:12] l0rn opened #6216 "AudioProcessor always delayed"
### Searched documentation and issues

I did search the official docs on https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/AudioProcessor.html and also looked and the included AudioProcessors like the `SonicAudioProcessor`

### Question

I am currently implementing an AudioProcessor that is processing audio via jni and some c++ code. The jni processing can be enabled and disa

[2019-07-23 15:50] abhishekredspace opened #6217 "Add and remove notification for audio and video player."
###
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerNotificationManager.html

###  Question
I am creating an audio/video player. When audio is playing I am playing it as a service and attaching a notification to it. When the player plays the video, I want to remove the notification. Now as per above docs, I should call the setPlayer(null) to remove the notification but a

[2019-07-23 16:13] abhishekredspace commented on #6217
There was a bug in my code. Closing it.

[2019-07-23 16:13] #6217 closed, assigned to nobody

[2019-07-23 16:41] mjmancuso commented on #5962
@annetube

Unfortunately there isn't a way to turn off the cors header, it is a security feature, so the dash stream won't be able to play. Not sure if the HLS variant had the same header...

[2019-07-23 17:21] rrfrias commented on #5681
This looks like a codec problem because it no longer happens in a newer release which uses a different codec. Is there anything unusual about the way the content is encoded. Does the non-encrypted content play okay on these devices?

[2019-07-23 17:30] ojw28 commented on #474
Thanks a lot for the doc! As an aside for possible future reference (I wouldn't bother converting what you've done or anything :)), using Google Docs is pretty nice for letting people comment on specific parts of a doc, and/or potentially co-editing.

 A few comments:

It's probably OK just to use the regular `Variant` class with the `@Nullable` fields set to null (except possibly `videoGroupId`),

[2019-07-23 17:48] stevemayhew commented on #474
It’s MarkDown, so I’ll put it in an ExoPlayer feature request, that way people can comment and edit it.

Thanks, yes it is possible to have VIDEO renditions on an I-FRAME-STREAM-INF, at least in the spec.. I’ve not seen it in practice, so using Variant will cover us there.  Also, some master playlists include only a single i-Frame playlist, others include multiple such that you can ABR between the

[2019-07-23 19:19] ojw28 commented on #474
I'm not sure how that addresses my comment about putting regular and i-frame only tracks into the same `TrackGroup`. Please clarify.

[2019-07-24 00:59] ojw28 commented on #6208
The addition of `@presentationTimeOffset` values in the manifest when it becomes static isn't valid. If the manifest update just didn't add those, but was otherwise exactly as it is now, then I think it would probably be a valid update (it's hard to be 100% certain, but it looks good otherwise).

[2019-07-24 01:00] #6113 closed, assigned to andrewlewis

[2019-07-24 02:24] lion4509 commented on #6124
@AquilesCanta Thanks for your response.
I have queries about your suggestion.

If I could detect a track changes from the extractor, how the new MediaSource can signal the end of the current period and the start of a new period? Did you mean releasePeriod & createPeriod method? Please tell more specifically.
And worried about that the playback is stuttered(playing after stopped a moment) when addi

[2019-07-24 02:44] WeiChungChang opened #6218 "How to implement object detection plugin module"
### [REQUIRED] Searched documentation and issues
Find NONE in current issue list.

### [REQUIRED] Question
If I want to implement object detection; where can I start from?

I have checked the issue list and find nothing about this topic.

For my purpose, there are two ways to get it.
1. apply deep learning - is there any document about how to connect EXOPlayer with Android Neural Networks API (NNA

[2019-07-24 04:09] CNXiDaDa opened #6219 "java.net.SocketTimeoutException"
when I play dash files,sometimes the exoplayer case error k=like "java.net.SocketTimeoutException",how do i resolve this problem,thank you,the log like this:
07-24 00:19:31.216 E/EventLogger(32179): com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: java.net.SocketTimeoutException
07-24 00:19:31.216 E/EventLogger(32179): 	at com.google.android.exoplayer2.ext.okhttp.OkHt

[2019-07-24 06:14] squti commented on #6215
Thanks. It works!

[2019-07-24 06:14] #6215 closed, assigned to marcbaechinger

[2019-07-24 07:23] jakoss commented on #6218
I'm not sure why are you trying to connect deep learning with media player. It's purpose is to play video/audio. I think you should be looking at decoding media yourself. Using, for example, [MediaCodec](https://developer.android.com/reference/android/media/MediaCodec.html)

[2019-07-24 08:31] azhar5678 opened #6220 "play mpd file from sdcard exoplayer"
MP4Box -dash 4000 -frag 4000 -rap -segment-name segment_
 f:/vkkk.mp4 -out d:/dashvedio/mm.mpd

how to play .mpd file created above from sdcard android exoplayer
 i want to know complete process of creating mpd file which exoplayer understand.
demuxed , muxed, what to follow.

[2019-07-24 08:57] fichna opened #6221 "Puase button not showing with 'androidx.constraintlayout:constraintlayout:2.0.0-beta2'"
When I updated ConstraintLayout to new beta (I know, it is beta...) the exo_pause button isn't showing anymore when playing.
So if you are searching where is the bug - it is your 'androidx.constraintlayout:constraintlayout:2.0.0-beta2'.

[2019-07-24 09:07] junnova commented on #2882
Like the MediaPlayer, it's just return the start position of the ts which the seek point owns to. The seeking operation is fast。
How should I modify the Exo source to be the same as the Seeking of MediaPlayer?

[2019-07-24 09:33] AquilesCanta commented on #6124
Not sure, not necessarily. You'd have to experiment.

You can start by reading about [Timeline](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/Timeline.java), [MediaSource](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/source/MediaSource.java#L46) and [MediaPeriod](https://github.co

[2019-07-24 09:34] AquilesCanta commented on #6124
Note that we will eventually address this issue, and it's possible that a multi-period approach is not the best way to go, so keep in mind this approach may have flaws (like non-continuous playback). If you come up with other ideas, it's worth exploring.

[2019-07-24 11:18] sviety opened #6222 "setOutputSurface bug Lenovo TAB 2 A10-70L"
### [REQUIRED] Issue description
I noticed that one of my testing devices (Lenovo TAB 2 A10-70L) is crashing with ExoPlaybackException when we attach new PlayerView to Player. I think it is related to setOutputSurface workaround #4468.
I was able to get rid of the crash when i changed `deviceNeedsSetOutputSurfaceWorkaround` flag to true during debug. I'm attaching stacktrace with the crash, let me

[2019-07-24 11:45] ojw28 commented on #6208
I think you should contact AWS support to ask them to fix this. If they disagree that their manifest transformation is incorrect, then feel free to direct them here and we can discuss it with them. Closing for now.

[2019-07-24 11:45] #6208 closed, assigned to ojw28

[2019-07-24 11:59] DasJhaman opened #6223 "exo_ad_overlay must be present for ad playback exoplaer"
Hell every one, previously i was using **2.9.4** version of exoplayer, after updating exoplayer dependencies to **2.10.3** i am getting this erro while playing ads on player.

Following is my code.

      `adsLoader = new ImaAdsLoader(this, Uri.parse(advertisementEntity.getAdvertisementVastURL()));
        adsLoader.setPlayer(player);
        playerView.setPlayer(player);

        MediaSource adsM

[2019-07-24 12:36] andrewlewis commented on #6223
Have you customized the player view in a way that removes `exo_ad_overlay`? The code is passing the `playerView` as an `AdViewProvider` when creating the `AdsMediaSource`, and when doing that there needs to be a frame layout with id `exo_ad_overlay` in the player view (like in the default `PlayerView` layout).

Alternatively you can pass a custom implementation of `AdsLoader.AdViewProvider` when c

[2019-07-24 12:37] DasJhaman commented on #6223
yea i have customized my player view. Could you please let me know how can i fix this issue.

[2019-07-24 12:41] andrewlewis commented on #6223
One way is to add

[code]

... on top of the main player view in your custom layout.

[2019-07-24 12:50] DasJhaman commented on #6223
I have set the id on Framelayout still same exception.

Following is my xml layout.

`<?xml version="1.0" encoding="UTF-8"?>
      <androidx.coordinatorlayout.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/root"
    android:layout_widt

[2019-07-24 12:54] andrewlewis commented on #6223
I think you might need to add the `FrameLayout` in `exoplayer_controllers_channels.xml`.

[2019-07-24 12:59] andrewlewis commented on #6223
The `exo_ad_overlay` should be an empty `FrameLayout`.

Please take a look at how the default layout works in the ui module. I wonder if you have a layout called `exo_simple_player_view.xml` already in your project that's overriding the default one.

[2019-07-24 14:57] erdemguven commented on #6218
We don't support object detection. For getting the frame bitmap you check these issues: #5076, #5519

[2019-07-24 14:57] #6218 closed, assigned to erdemguven

[2019-07-24 15:04] erdemguven commented on #6219
SocketTimeoutException happens when the server doesn't return data in a certain time. You need better connection with the server.

[2019-07-24 15:04] #6219 closed, assigned to erdemguven

[2019-07-24 15:33] andrewlewis commented on #6216
Yes, the delay is probably caused by buffered output within or 'downstream' from the audio processor. You have control over your own audio processor part so I will assume that is already avoiding buffering more output than necessary. To eliminate `SilenceSkippingAudioProcessor` and `SonicAudioProcessor` you will need to keep playback parameters set to the defaults. Then there's the platform `Audio

[2019-07-24 15:39] stevemayhew commented on #474
Yes, sorry Oliver, I gave kind of a terse answer for such a detailed question. ’m not sure I understand all of what your asking, but let me try again...

Interesting thought, I need to verse myself more deeply in TrackSelection, is there anything beyond this: https://exoplayer.dev/track-selection.html <https://exoplayer.dev/track-selection.html>

One thing to consider, the i-Frame only track not o

[2019-07-24 16:09] keicotu commented on #6208
Thanks for your reply and I've forwarded the information.

[2019-07-24 16:49] ffdez commented on #4716
Up! I also need this behavior.

[2019-07-24 18:25] cncb-gh commented on #2147
I'm sorry that I don't have the technical knowledge to help with this, but were you able to work this out?  Thanks.

[2019-07-24 18:39] nicoweil commented on #6208
Hi @ojw28 can you please provide a spec section reference to support your statement "The addition of @presentationTimeOffset values in the manifest when it becomes static isn't valid"? I don't find it in the MPEG DASH spec or the DASH-IF IOP. We can suggest the addition of this constraint in DASH-IF IOP section 4.6.4 if needed. Thanks

[2019-07-24 22:03] rajeshghosh1978 commented on #5935
Another codec exception for AudioCodec as well
05-28 09:03:01.363 E/MediaDrm-JNI(12059): Illegal state exception: Failed to open session: General DRM error (-2000)
05-28 09:03:01.366 I/MediaCodec(12059): (0x94b40640) init name(OMX.google.aac.decoder) isType(0) encoder(0)
05-28 09:03:01.369 I/OMXClient(12059): Treble IOmx obtained
05-28 09:03:01.375 I/MediaCodec(12059): (0x94b40640) Component Alloc

[2019-07-24 22:36] ojw28 commented on #6208
I don't know that it's explicitly stated anywhere, but by definition of what `@presentationTimeOffset` is, it doesn't make sense for its value to change (note that adding it with a non-zero value where it was previously absent is equivalent to changing its value, since when it's absent it's assumed to have a default value of 0).

To go into a bit more detail, `@presentationTimeOffset` is the offse

[2019-07-24 23:31] nicoweil commented on #6208
@sandersaares did a great job with this IOP update proposal, which publication is highly expected. I know that other IOP editorial constraints have prevented it to be published so far, so we are a bit in a grey zone here. I will check if we can align our implementation on it of if we have argumented concerns against the "SegmentTemplate@presentationTimeOffset SHALL NOT change" clause.

I will also

[2019-07-25 01:00] #5248 closed, assigned to andrewlewis

[2019-07-25 05:09] TheAutismChannel commented on #3750
This would be wonderful for us as well.

[2019-07-25 07:20] DasJhaman commented on #6223
Hello following code is not present in `exo_simple_player_view.xml`

` <FrameLayout
        android:id="@id/exo_ad_overlay"
        android:layout_width="match_parent"
        android:layout_height="match_parent" />`

By putting this one, issue was fixed.

[2019-07-25 07:20] #6223 closed, assigned to andrewlewis

[2019-07-25 08:09] luthfipun opened #6224 "How to show multiple subtitle dynamically ?"
Hi, i try to show 2 subtitle with static code like this, it's work properly

<pre>
<code>
val formatEN = Format.createTextSampleFormat(null, MimeTypes.APPLICATION_SUBRIP, null, Format.NO_VALUE, Format.NO_VALUE, "en", null, Format.OFFSET_SAMPLE_RELATIVE)
val formatID = Format.createTextSampleFormat(null, MimeTypes.APPLICATION_SUBRIP, null, Format.NO_VALUE, Format.NO_VALUE, "id", null, Format.OFFSET

[2019-07-25 09:20] sandersaares commented on #6208
FYI, the latest plan is to publish the timing model chapter ASAP as a stand-alone addendum to v4.3, later to be merged into v5 once v5 gets published. Remaining work is mostly to make it easier to understand where the requirements come from (with references to DASH/CMAF etc).

If there are additional improvements that can be made to document behavior in this regard, I am very eager to hear about b

[2019-07-25 13:06] ojw28 commented on #6220
ExoPlayer supports playing DASH content stored on the SD card. It's not the purpose of this issue tracker to provide detailed advice on creating content. You can read what styles of DASH ExoPlayer supports [here](https://exoplayer.dev/supported-formats.html#dash).

[2019-07-25 13:06] #6220 closed, assigned to ojw28

[2019-07-25 13:22] manjusha221 commented on #1574
Hi Oliver,  Does Exoplayer dev-v2-r2.10.3  have support for xlinks in Dash?

[2019-07-25 13:23] azhar5678 commented on #6220
I solved it
On Jul 25, 2019 6:37 PM, "Oliver Woodman" <notifications@github.com> wrote:

[2019-07-25 13:30] ojw28 commented on #1574
No. As an aside, the details of how xlinks work seems like a topic that's a source of confusion. The concept of loading part of the manifest from somewhere else seems simple enough, but when you look at the details there are quite a lot of weird cases, like [this](https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/219) (@mediaPresentationDuration doesn't make sense with xlinks), [this](http

[2019-07-25 13:47] ojw28 commented on #474
Is that logically any different to dropping every other frame in the case of a 30fps track where 60fps tracks are available (other than being far more extreme)? Putting the i-frame only tracks in the same `TrackGroup` as regular video tracks doesn't imply that adaptation between them will occur. The `TrackSelector` (and `TrackSelection`s) determine which tracks from the group are used and how adap

[2019-07-25 14:14] andrewlewis commented on #2147
I'm afraid not. We still need info on how to identify DTS vs DTS HD based on the start of the first sample (if this is indeed possible).

[2019-07-25 14:46] ebr11 commented on #2147
What about the possibility of just raw passthru using IEC 61937?  Any more information on how that may be done?

[2019-07-25 15:23] rs146 commented on #5925
Hi @andrewlewis ,
I can't see a method called `getAdGroupTimeUs()` in the `Timeline`. How can I access this? I've upgraded ExoPlayer to the latest version as well but this method does not exist.

[2019-07-25 15:24] andrewlewis opened #6225 "Detect DTS-HD in Matroska"
### [REQUIRED] Use case description
Support DTS-HD passthrough with audio contained in the Matroska container. See #2147 for more context.

### Proposed solution
As the container does not explicitly signal DTS-HD vs DTS, we need to inspect the first audio access unit to determine if the audio is in DTS-HD format. See https://github.com/google/ExoPlayer/issues/2147#issuecomment-464041620 for more d

[2019-07-25 15:25] andrewlewis commented on #2147
I'm afraid I don't have any information about how to do that. Perhaps the AOSP sources under [`audio_utils/spdif`](https://android.googlesource.com/platform/system/media/+/master/audio_utils/spdif) can help but I haven't looked at them in detail.

One concern I have with the IEC 61937 approach is future-proofing for new audio formats: there doesn't seem to be an API to get access to all possible e

[2019-07-25 15:37] ebr11 commented on #2147
Sounds good.  Thanks very much.

[2019-07-25 16:55] andrewlewis commented on #5925
Sorry, please try: `player.getCurrentTimeline().getPeriod(player.getCurrentPeriodIndex(), new Timeline.Period()).getAdGroupTimeUs(player.getCurrentAdGroupIndex())` -- the method is on `Timeline.Period` not `Timeline`.

[2019-07-25 16:55] #5925 closed, assigned to andrewlewis

[2019-07-25 17:34] giladna commented on #5681
@rrfrias
could you explain bit more in which version it works?
currently we have Android 9 OS running on OnePlusT that cannot decode the video tracks in the live dash DRM and same stream on different device it works just fine
I do not have this stream unencrypted
on VOD DRM works fine.

the content is encoded by elemental.
the encryption is done the same way for live and vod

[2019-07-25 17:44] andrewlewis commented on #6203
I think the `updatePlayWhenReady` code does identify `PLAYER_COMMAND_WAIT_FOR_CALLBACK` (it's different to the other two possible constants). Could you add some logging in that method to check what parameters are passed to `setPlayWhenReady` when audio focus is lost transiently and gained again?

[2019-07-25 17:57] andrewlewis commented on #6203
Testing on API 26 emulator I also can't reproduce the behavior you're seeing (after enabling audio focus handling as per your code snippet above, the player pauses when I simulate an incoming call and resumes afterwards).

[2019-07-25 18:03] rs146 commented on #5925
Hi @andrewlewis,

This works for pre-roll and mid-roll ads. However with post roll ads, it crashes with the following stack trace. (I'm using DASH with widevine DRM).

[code]

To produce this crash I'm using the following code:
[code]

[2019-07-25 19:00] nicoweil commented on #6208
Hi @sandersaares, I think that the possible document improvement is to either add a link in section 4.6.4 (Transition Phase between Live and On-Demand) to the constraints of 5.2.7.5. (MPD updates) if all of those constraints apply, or to isolate specific constraints that apply specifically to the transition use case.

[2019-07-26 07:32] cl-geniatech opened #6226 "VLC streaming UDP play Caton"
Download the link code stream https://mega.nz/#!p2ZQCaIT!8e4GdXgv0Hd3mplvjeB9v4wBcYknh-f8W3i-RKYjfOg, streaming UDP through VLC string, EXOPlayer playing Caton

[2019-07-26 07:39] jakoss commented on #6203
Hi. Thanks for taking interest in this issue. Maybe the issue is bound to some other functionality (MediaSessionConnector or any other additional ExoPlayer classes i'm using). I managed to create simple reproduce project, that have this behavior (tested on API 28 Emulator and Nokia 8 device). In this project i'm using only ExoPlayer classes to play one online hls track. On call - playback doesn't

[2019-07-26 08:38] andrewlewis commented on #5925
Are you sure `player.isPlayingAd()` returned true at the moment you run that code?

I tried to reproduce using one of the sample ad tags with a postroll in the demo app, but the ad group index was correct and the associated ad group time was `C.TIME_END_OF_SOURCE` as expected.

[2019-07-26 08:43] mzonov opened #6227 "Stuttering audio with url from a specific site"
So, my app plays radio stations from the Internet. And all is fine except of playing radio stations from 101.ru. Music is stuttering and I can't say that there are any equal time intervals between stutters.
I'm using ExoPlayer library v2.8.0.

**What have I tried to fix it:**

- To update ExoPlayer to 2.10.3 - no result
- To experiment with the buffer size of Exoplayer - no result or worst (few ho

[2019-07-26 09:31] naseeb8950925214 opened #6228 "Video fails while loading and throws Loader$UnexpectedLoaderException"
### [REQUIRED] Issue description
When we try to play video in loop, sometimes we face this issue where video playback fails and throws **com.google.android.exoplayer2.upstream.Loader$UnexpectedLoaderException: Unexpected IllegalArgumentException**

### [REQUIRED] Reproduction steps
Just add one video and play it in loop for few hours say 3-4 hours. This issue can occur randomly any time.

### [REQ

[2019-07-26 10:07] shaji-Dev opened #6229 "SilenceMediaSource Error"
Hi,

I keep getting this error when trying to prepare the SilcenceMediaSource in the player, it simply fails to play.

[code]

This class was created under our request and we deeply appreciate it, but it seems to have this error which makes it unusable, could you please look into it? Thank you.

[2019-07-26 10:17] himaswetha opened #6230 "Subtitles are positioned at the centre of the screen"
### [REQUIRED] Searched documentation and issues
Gone through the TtmlDecoder.java file code in Exoplayer.

### [REQUIRED] Question
TTML subtitles are position at center of the screen when tested in Exoplayer. But when tested in other players like VisualOn subtitles are positioned at the bottom of the screen.

### A full bug report captured from the device
In case your question refers to a problem

[2019-07-26 10:22] emilsob opened #6231 "Offline HLS playback with encryption"
### Searched documentation and issues

https://github.com/google/ExoPlayer/issues/5193
https://github.com/google/ExoPlayer/issues/5424
https://github.com/google/ExoPlayer/issues/6122
https://github.com/google/ExoPlayer/issues/4821

https://exoplayer.dev/

### Question
We want to make it possible to locally store adaptive HLS streams in an encrypted form in order to play this content later.

To des

[2019-07-26 10:39] andrewlewis commented on #6229
Could you provide some more information on how to reproduce this error? Does it occur after seeking? I just tried playing a concatenation of some media with a `SilenceMediaSource` in the demo app and it worked as expected.

[2019-07-26 10:45] ojw28 commented on #6228
This is not sufficient logging for us to tell you (or us!) what's going wrong:

[code]

You're going to need to add some more logging, for example to output the full stack trace that shows where the error actually occurs. If you were to use the `EventLogger` provided by the library, then I'd expect the stack trace to be logged, similar to this logging for an error that I caused artificially in cod

[2019-07-26 10:56] srikanthsunkari opened #6232 "Cached stream won't play in offline mode"
### Searched documentation and issues
I have used the exoplayer demo application cache implementation with few changes of,

i. Using LeastRecentlyUsedCacheEvictor

`new SimpleCache(downloadContentDirectory, new LeastRecentlyUsedCacheEvictor(DEFAULT_MAX_CACHE_FILE_SIZE * 5));
`

ii. And removed the DatabaseProvider.

iii. Applied CacheDataSink()

                `new CacheDataSinkFactory(cache, DEF

[2019-07-26 11:31] shaji-Dev commented on #6229
Yes, here's the situation, I have a timeline, which has multiple songs and with empty gaps between them, these gaps can be at the start and end as well. for that, I use ConcatenatingMediaSoruce with ClippingMediaSource for songs and SilenceMediaSource for gaps. Here's a representation of a simple timeline:

**-song-song-song-**
**-**: SilenceMediaSource
**song**: ClippingMediaSource with Progressi

[2019-07-26 12:34] himaswetha commented on #6230
Sorry This issue is fixed with latest version of Exoplayer. Thanks,

[2019-07-26 12:34] #6230 closed, assigned to nobody

[2019-07-26 13:58] ojw28 commented on #6221
There isn't anything we can do without more complete information (e.g. you could provide a small demo app as source code, which reproduces the problem). Closing for now. Please also note that we have an [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=).

[2019-07-26 13:58] #6221 closed, assigned to ojw28

[2019-07-26 13:58] rs146 commented on #5925
Hi @andrewlewis,

Yes - you are correct. I need to use something like this to determine if the player is playing an ad:

[code]
The only problem with this is that is does not fire for pre-rolls which is why I have used the `VideoAdPlayer.VideoAdPlayerCallback#onPlay()` to determine if an ad is playing (as it fires the event for Preroll, Midroll and Postroll ads). When we use the `VideoAdPlayer.Vid

[2019-07-26 14:10] ojw28 commented on #6227
I tried playing a 101.ru radio stream in the regular ExoPlayer demo app and I do not see this problem. I think it's quite likely that the problem is caused by `IcyHttpDataSource`, which is not a component we provide or support.

Note that there's no reason to use `IcyHttpDataSource` when using ExoPlayer 2.10.3, since we now [provide direct ICY support](https://medium.com/google-exoplayer/exoplayer

[2019-07-26 14:24] ojw28 commented on #6227
Marking as an app issue for now.

[2019-07-26 15:20] ojw28 commented on #6203
I gave your demo a try and playback is definitely pausing and resuming correctly.

I think what you're confused by is that `getPlayWhenReady` continues to report `true`, even though playback is not continuing internally. This is by design for transient loss of focus, when the player is expected to be able to resume once focus is returned.

You may just want to track https://github.com/google/ExoPl

[2019-07-26 15:55] jakoss commented on #6203
So, as i understand it, the player changed it's internal state but mediasession does not get notified about this? Is there a way around it, some way to listen to this internal changes and notify mediasession myself?

The issue you linked seems to be stale and mediasession not being notified seems like a serious issue for me

[2019-07-26 16:03] ojw28 commented on #6203
Please can you explain why in the context of an actual use case? I'm not saying it's not a serious issue, I'm just saying that we need to understand the user facing issue to know how to prioritize this.

[2019-07-26 17:05] jakoss commented on #6203
I attached recording of use case that gets weird.
Step by step:
- I start playback
- I remember track position
- I start a call
- During a call, MediaSession claims that track is still playing and refreshes position
- After a call, music starts to play with the same position as it was during a call (but this position is incorrect, sincle MediaSession doesn't get notified about playback state chang

[2019-07-26 20:59] rajeshghosh1978 opened #6233 "Can I detect device's max supported resolution for H.264 Main Profile"
### [REQUIRED] Searched documentation and issues
I have already searched for this, but not able to locate a specific question.

### [REQUIRED] Question
Right now we are supporting all types of Android devices available in the market. We have added our logic to differentiate between L1 and L3 devices. If it is an L3 device we are restricting to 480X360 **(Based on this link https://developer.androi

[2019-07-27 01:00] #6126 closed, assigned to tonihei

[2019-07-27 06:50] luthfipun commented on #6224
Solved! convert arraylists to varargs
<pre>
val allSubs = subtitleSource.toArray(arrayOfNulls<MediaSource>(subtitleSource.size))
val mergingMediaSource = MergingMediaSource(contentMediaSource, *allSubs)
</pre>

Closed #6224

[2019-07-27 06:51] #6224 closed, assigned to nobody

[2019-07-27 10:57] mzonov commented on #6227
Yes, you're right. I've removed `IcyHttpDataSource` and it works without any stuttering.

[2019-07-27 10:57] #6227 closed, assigned to ojw28

[2019-07-27 17:47] brianchu opened #6234 "Support clipping of multi-period content"
### Issue description
Want to loop a video (mp4) for certain fix period of time and if it doesn't fit perfectly, it will play and finish partially within the time limit. so thinking combine X numbers of source with concatenatingMediaSource and use ClippingMediaSource to clip the media.

other option is use LoopingMedaiSource() with ClippingMediaSource, basically

but it gives me the same error.

[

[2019-07-27 17:57] brianchu commented on #6234
I hope it is not an unsupported feature.

[2019-07-28 05:20] geniusmanish commented on #5710
@LaurentiuSimionescu  Can you please explain how you achieved PreCaching with ExoPlayer.
When i am trying PreCaching and playing video in loop . It goes in infinite buffering state after playing for 25 minutes .

[2019-07-28 23:07] nbonamy opened #6235 "Getting stream sample format"
### [REQUIRED] Searched documentation and issues
Looked into the source code and here but could not find the info.

### [REQUIRED] Question
I am making good progress on my (ffmpeg based) transcoding engine but I realize that I need to have access to the Sample Format information (sample_fmt in ffmpeg or equivalent in ExoPlayer) of the stream to decode/resample it properly. The field can be shown u

[2019-07-29 03:17] abhishekredspace opened #6236 "How to remove PlayerNotificationManager.NotificationListener"
Hello Exoplayer team,
I have created an audio player as a service and I have tied a notification to it. Now I want to remove the notification after the user has paused on user swipe. I am able to achieve the functionality but not 100% correctly. I took a look at
https://github.com/google/ExoPlayer/issues/5792#issuecomment-486269001 and followed it.

Issue: When my app goes to the background and us

[2019-07-29 07:36] J6ey commented on #5793
`            mediaItemBuilder.setDrmSchemes(
                Collections.singletonList(
                    new MediaItem.DrmScheme(
                        sample.drmSchemeUuid, new MediaItem.UriBundle(sample.licenseServerUri))));`

Are you telling me this setup does not work for Widevine DRM?

[2019-07-29 08:07] andrewlewis commented on #6235
On the extraction side I'm afraid we don't expose the audio bit depth for compressed audio formats (only for uncompressed/PCM audio where it's stored in `Format.pcmEncoding`).

I'm a bit surprised this information is needed as I think generally audio decoders will either output in an encoding depending on the content (and allow you to query what this is), or allow you to set an output encoding and

[2019-07-29 09:49] #5962 closed, assigned to anjaneesh

[2019-07-29 10:19] andrewlewis commented on #6229
@shaji-Dev I tried to create a similar setup, but still wasn't able to reproduce this. It would be nice if you could share a minimal test project or a patch to the demo app. Or could you modify `SilenceSampleStream.seekTo` to

[code]

then reproduce the issue and send us a bug report (`adb bugreport`)? Thanks.

[2019-07-29 10:24] ojw28 commented on #6203
Thanks, that makes sense. I think it's correct that `getPlayWhenReady` continues to return true, since it's the user intention, and in this case the user intention is still to play (which is why playback automatically resumes when focus is reacquired).

Ideally we'd introduce a new `STATE_WAITING` state, which would be similar to `STATE_BUFFERING` but for cases where we're waiting on some local co

[2019-07-29 10:25] ojw28 commented on #5087
Duplicating onto https://github.com/google/ExoPlayer/issues/6203, since there's more information in that one.

[2019-07-29 10:25] #5087 closed, assigned to nic0lette

[2019-07-29 10:28] SteMora opened #6238 "getDuration() return wrong value on audio mp3 since 2.9.3"
### Issue description
Since the 2.9.3 update version, values returning from `exoPlayer.getDuration()` method are no more the exact value of the track when playing audio mp3.

### Reproduction steps
With the demo app, play the two samples in the added section "Issues".
The duration display next to the progressBar is not correct (also is the current position and the end).
(Durations are correct in 2

[2019-07-29 11:18] jakoss commented on #6203
In my opinion what end user really cares about is the simplest player state. I think if somebody will see that player reports to be playing, but progress will not be going - one could assume error on app side. In users eyes playback is paused for the call, and he/she does not care about internal player state.

I think the best solution here would be changing play/pause button on `AUDIOFOCUS_GAIN_T

[2019-07-29 11:22] shaji-Dev commented on #6229
Here's the bug report:

[bugreport-2019-07-29-13-11-25.zip](https://github.com/google/ExoPlayer/files/3441782/bugreport-2019-07-29-13-11-25.zip)

The error appears here:

![image](https://user-images.githubusercontent.com/10184170/62044691-d766df00-b203-11e9-98e8-caa5970104d7.png)

As I mentioned, it happens about once out of 5 times that I build the Media Sources, with the exact same values.

Tha

[2019-07-29 11:47] nbonamy commented on #6235
Thanks. I am expanding the ffmpeg extension so that it can transcode to AC3 (or anything else but given I have a Sonos system, AC3 is what I need) instead of just PCM. It makes a huge difference in terms of sound quality.

Not being an expert, but setting the sample_fmt in this case seems not as simple as in the PCM case (`context->request_sample_fmt = outputFloat ? AV_SAMPLE_FMT_FLT : AV_SAMPLE_F

[2019-07-29 13:03] andrewlewis commented on #6235
In this setup, I'm not sure where the format information is missing -- can't you set up the extension always to decode to 16-bit PCM (or float if you prefer, though I think this won't much much difference to quality given that AC-3 decodes to 16-bit PCM anyway), then add in your encoding step to AC-3 after that, where the input format is known? Sounds like a fun/useful project!

[2019-07-29 13:12] umangsaini commented on #6238
For these files Mp3Extractor calculates the duration based on Bitrate.

For MpegAudioHeader, Exoplayer estimates the bitrate based on Sample Rate and Samples per frame. Here instead of bitrate 128,000 bps, it is setting the value to 127,706 bps. This is causing the total duration shown for the files to be different.

`bitrate = 8 * frameSize * sampleRate / samplesPerFrame;`

[Link](https://github.

[2019-07-29 13:30] andrewlewis commented on #6229
It looks like there is a seek to ~ 3.412 seconds in a `SilenceMediaSource` with duration ~ 0.418 seconds. We'll make a change to clamp the seek position to be within bounds.

[2019-07-29 13:59] ojw28 commented on #6203
The reason I think it should work as I described is that it's the only way that would allow the user to disable automatic resumption of the media when the focus is granted back to the app. With Spotify, it seems that:

1. There's no way to do this. If you're playing when the call starts, it seems impossible to prevent playback resuming when the call ends. At least via the notification - I didn't c

[2019-07-29 14:00] abhishekredspace commented on #6236
Little more update here: I am working on Livestream and after some debugging in the exoplayer code, I found that after I dismiss the notification, it is triggered from
[code]
The reason is 2 which is
[code]

[2019-07-29 14:45] ojw28 commented on #5793
@J6ey - What does that have to do with this issue, which doesn't mention DRM at all? Marking off topic. Please file a new issue if you have a different question.

[2019-07-29 15:04] giladna commented on #5681
@rrfrias please explain

[2019-07-29 15:12] rajeshghosh1978 commented on #6233
Any update on this ?

[2019-07-29 15:14] shaji-Dev commented on #6229
Thank you for detecting the issue, do you have an estimate as to when the update will be available?

For a quick fix should I just check if the position is higher than the duration then I reset the position back to the max which is the duration?

Thank you.

[2019-07-29 16:08] SteMora commented on #6238
Thanks for the answer.

While debugging at running time, the frameSize seems to be inconsistent du to a `padding` switching from 1 to 0 value.

[code]

[code]

With the google sample file, the problem seems to also happened in the same way.

The error happens mostly on the playing start, then it stabilises on correct values.

[2019-07-29 16:24] jakoss commented on #6203
Yes, I can agree that progress reporting is the most important factor here :-)

[2019-07-29 21:10] voipworld opened #6240 "Exception while trying to play Multicast MPEG/TS UDP Stream"
### [REQUIRED] Searched documentation and issues
ExoPlayer Dev Website, StackOverFlow, github issues
### [REQUIRED] Question
i am trying to play a multicast stream, the source is a software encoding from SAT to IP (MumuDVB), and issue is:
ataching bug reports & code...
### A full bug report captured from the device
[code]
###Example Code
[code]

[2019-07-30 02:18] nbonamy commented on #6235
Yes that was my initial take at it but then trying several different input codecs (DTS, DTS-HD, TrueHD, Dolby Digital Plus...) I could not get a consistent transcoding (crashes, no sound, static...). When I started using `sample_fmt` as given by `ffprobe` then only I started to get consistent results. Using `AV_SAMPLE_FMT_S16` for instance would work for some files but not for others. Same with `A

[2019-07-30 03:46] zhan2046 opened #6241 "SimpleExoPlayer getDuration some audio links are getting incorrectly"
### [REQUIRED] Issue description
Hello, I found that using `simpleExoPlayer.duration`, In some audio links, the total duration of playback is incorrect.

For example, a song that takes a total of 2 minutes, but can only play for one minute.

### [REQUIRED] Reproduction steps
Use `https://pro-audio.xiaoheiban.cn/201907/0fd5f017-cafe-4dfd-9f69-3a06cf4e2651.wav`  audio link

[code]

When the music is

[2019-07-30 03:48] zhan2046 commented on #6241
I also found this problem in the old version 2.9.6.

[2019-07-30 08:17] Yuriko-wbh opened #6242 "fontVariationSettings and ttcIndex resource not found"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2019-07-30 08:26] marcbaechinger commented on #6240
The debug snippet says

[code]

Can you check why this is coming from a `HttpDataSource`? In the snippet above you are using an `DefaultDataSourceFactory` which should resolve the datasource to a `UdpDataSource` according to the scheme of the url. Can you for instance put a break point in `DataSourceFactory.open` and verify what data source is created?

[2019-07-30 08:27] marcbaechinger commented on #6242
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-07-30 08:48] marcbaechinger commented on #6234
Looping a media source with more than a single period, is indeed an unsupported feature of the `ClippingMediaSource` I'm afraid. Like the java doc of the `ClippingMediaSource` says:

[code]

I don't think there is an easy solution for this with media source composition with a `ConcatenatingMediaSource`.  The easiest is probably to just send a message to a handler to be executed after a given durat

[2019-07-30 08:51] andrewlewis commented on #6235
Going on the assumption that the current code in the ffmpeg extension correctly resamples to 16-bit or float PCM (as requested by the Java layer), can't you just keep the resampling step and set up your encoder after that? Then it should always be getting input in one of those two formats. I think it's better to figure out what's going wrong in the ffmpeg wrapping code rather than implementing a c

[2019-07-30 09:05] andrewlewis commented on #6229
Please try out the development branch and let us know if you see any other issues. Thanks.

[2019-07-30 09:05] #6229 closed, assigned to andrewlewis

[2019-07-30 09:07] marcbaechinger commented on #6236
Yes, this makes sense. The live stream is updating the manifest which triggers a source refresh with a new timeline. The player notification manager does not really know what has changed and updates the notification.

As a quick solution for you, I think you need to null the player of the notification manager. This unregisters all event handlers. If you start playback again you can just set the pl

[2019-07-30 10:00] marcbaechinger commented on #6234
I added the enhancement tag, so we can check whether we can either remove the constraint of `ClippingMediaSource` working only for single period media sources or we can think about another approach to make that use case easier to achieve.

[2019-07-30 10:52] voipworld commented on #6240
can you give me the exact line to try please? i am lost in this world
of data sources. 3 days of trying and tryying, single our of sleeping.

On 7/30/19, Marc Baechinger <notifications@github.com> wrote:

[2019-07-30 11:03] himaswetha opened #6243 "Subtitles are not displayed properly for SMPTE-TT Bitmap subtitles ( One line of subtitle at the bottom is half visible )"
### [REQUIRED] Issue description
For SMPTE-TT subtitles subtitles are getting displayed but from the two lines which are displayed the second line at the bottom is half visible.

### [REQUIRED] Reproduction steps
It can be easily reproducible with 2.10.3  version of Exoplayer in demo app.

### [REQUIRED] Link to test content

### [REQUIRED] A full bug report captured from the device

### [REQUIRED

[2019-07-30 11:17] voipworld commented on #6240
i got the same result with ExoMedia VideoView, exactly the same Exception, full code provided:
layout:
<RelativeLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@android:color/black">

    <com.devbrackets.android.exom

[2019-07-30 12:31] abhishekredspace commented on #6236
Thanks for your reply. I am already setting the player as null on playbackNotificationManager but still see the issue.
I call the below method when notificationCancelled is received.
[code]

[2019-07-30 13:25] nbonamy commented on #6235
OK will look into that as I agree: there must be something. I will also try to auto-select the sample_fmt from the sample_fmts array: there is surely a way to find the "best" one automatically. Will keep you updated!

[2019-07-30 13:36] andrewlewis commented on #6235
I'll close this as at this point it is more related to ffmpeg than ExoPlayer, but feel free to post your findings if you discover what's going on before the issue is automatically locked. Thanks.

[2019-07-30 13:36] #6235 closed, assigned to andrewlewis

[2019-07-30 15:11] ojw28 commented on #6241
Looking at [this spec](http://tiny.systems/software/soundProgrammer/WavFormatDocs.pdf) and what's in the file, it appears `Subchunk2Size` is incorrect in the file (i.e. it specifies a size for the sound data that's larger than the total size of the file).

We can add a check that'll clip the size to the end of the file. The media does seem to be broken though. If this is your media, you should fix

[2019-07-30 16:00] ojw28 commented on #6241
Notes:
* The RIFF chunk descriptor contains the file length, so we can use that rather than relying on the length from the `ExtractorInput`.
* It's unclear whether `WavExtractor` handles a seek to `position=0` correctly. This needs checking. We should also check whether the test covers this.

[2019-07-30 16:10] voipworld commented on #6240
Issue Fixed!
migrated to EXOPlayer R2.10.3 and the UDP is playing well...!
fun...
;)

[2019-07-30 16:11] #6240 closed, assigned to marcbaechinger

[2019-07-30 16:12] voipworld commented on #6240
Please Migrate any existing code or new code that need multicast UDP/RTP to 2.10.3.

[2019-07-30 18:30] kschults commented on #6155
@ojw28 Is this fix something that it would be possible to get into an upcoming release?

[2019-07-30 22:44] greyski commented on #6123
Adding a note, including this field to your apps theme will only apply to `PlayerView`'s created via XML. Dynamically created `PlayerView` components **will not** inherit these attributes, as shown in the `PlayerView` constructor source:
[code]
The themes attributes will never reach the underlying fields unless `attrs` is non-null (e.g. inflated via XML).

[2019-07-30 23:55] rrfrias commented on #3443
Samsung investigated and was unable to reproduce with a A320F. A bugreport (even after the reboot) will be helpful, without which we will not be able to make progress.

[2019-07-31 01:00] #6138 closed, assigned to ojw28

[2019-07-31 01:46] AndrazP commented on #6189
My further observations:
- I've updated the reproduction steps. Playback stops working on the second play.
- Playback stops working only when "Auto" quality level is selected. If I switch to specific quality (for example 1080p) video starts playing.

Our code for setting quality level:
[code]

[2019-07-31 01:52] bumdream opened #6244 "Image break when textureview is used instead of surface view"
- I'm sorry for creating another issue, and thank you for reading it.

### Searched documentation and issues
- I've looked up the google and issue as much as I can, but I can't find the correct answer, so I'll eventually register the issue.

### Question
- In the same environment, I replaced the `surface_type` from surface_view to texture_view, but the image of the image is broken. Is there anythi

[2019-07-31 02:41] nbonamy commented on #6235
So after more digging:

- AC3 encoder requires `fltp` (Float Planar, confirmed here https://hydrogenaud.io/index.php/topic,109796.0.html)
- Some decoders work fine when you set their `request_sample_fmt` to `fltp` (DTS), others don't (DTS-HD produces silence)
- Some decoders advertise `sample_fmts` but even selecting the good one automatically does not seem so easy. Others do not advertise any so

[2019-07-31 03:04] himaswetha commented on #6243
Anyone looking into this issue please need help ASAP.

[2019-07-31 06:15] eneim commented on #6159
Hi @andrewlewis , do you have any comment for this issue, or is there any development happening already? Thanks in advance.

[2019-07-31 07:19] vladimir-kazakov commented on #6233
I'm not an Android developer, but as far as I know, it's possible to query [media capabilities](https://developer.android.com/reference/android/media/MediaCodecInfo) of a device. The maximum supported resolution of a codec is defined by its level. You can find this info in H.264 specifications - either [ISO/IEC 14496-10](https://www.iso.org/standard/66069.html) ([available for free](https://standa

[2019-07-31 07:40] avecost commented on #5211
Hello @vinayjoglekar can you share on how you implemented the Offline Playback that is protected content.

TIA

[2019-07-31 08:09] VladimirCores commented on #6128
Hello ExoPlayer team,
So the second question remains the same do we need any additional settings on Android Pie to make Widevine L1 works, like app domain Widevine certificate?

[2019-07-31 08:32] marcbaechinger commented on #6232
When you are using a CacheDataSource your app will read data from the cache in offline and online mode. The CacheDataSource is not aware of a network state. It just checks whether the data is available in the cache and reads from it when available. If no data is available loading data is delegated to the wrapped upstream datasource.

So if it works in online mode then you don't need to apply chang

[2019-07-31 08:38] goncalosilva-appgeneration opened #6245 "Mp3 livestream doesn't start on ExoPlayer, but works correctly on desktop browsers"
### [REQUIRED] Content description
I tried playing the stream below with ExoPlayer but it doesn't work. It starts buffering without issues, but after 1-2 seconds it ends abruptly without playing any sound.
No errors are shown in logcat, and EventLogger doesn't suggest what the problem might be.

### [REQUIRED] Link to test content
https://radiomarca.streaming-pro.com:8031/radiomarca.mp3
Before tes

[2019-07-31 08:47] marcbaechinger commented on #6236
This sounds odd indeed.

When calling `setPlayer(null)` the event listener is removed from the player. So I wonder why you are still seeing `onTimelineChanged` being called afterwards. Can you verify with a debugger that setPlayer(null) is called as you expect it?

[2019-07-31 08:53] marcbaechinger commented on #6233
You can get a `MediaCodecInfo` object by using the [`MediaCodecUtil`](https://github.com/google/ExoPlayer/blob/f6297f4f51f00c20d5b937d8f636ef215d89730f/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java#L134). It provides you with the capabilities of the codec on a device.

[2019-07-31 08:56] marcbaechinger commented on #6226
Can you please provide some more info about what the issue is and what your expectations are?

You can find the issue description here: https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md

[2019-07-31 08:57] marcbaechinger commented on #6231
@AquilesCanta may I ask you to look into this?

[2019-07-31 09:15] bhaskarraj commented on #6186
Hello @ojw28 but the same code works for lower android os below the android pie. I am not getting any error log on in that case.

[2019-07-31 09:20] ojw28 commented on #6186
We've already asked (twice) in this thread for you to provide the information requested in the issue template. Please do so, else we are not able to investigate this issue.

[2019-07-31 09:26] geeta4 opened #6246 "how i know exoplayer is not playing due to audiofocus change becuse phone call"
i want to know exoplayer is paused due to audiofocus change becuse of phone call becuse i give to exoplayer to handle
by simpleExoPlayer.setAudioAttributes(audioAttributes, true);

but i need to handle something at time of pause due to focus change so what is the way so i can know this value exoplayer will resume after disconnect call

[2019-07-31 09:44] andrewlewis commented on #6159
In the current implementation `AdsMediaSource` expects to know the positions of ads when it exposes its timeline, but if the `AdsLoader` can be set/modified/cleared during playback it seems like we'd need a way to add ad groups during playback. Also, with IMA the ad display container is used in the ads request, and I expect changing it requires a new ads request, which would clear any state (e.g.,

[2019-07-31 10:13] andrewlewis commented on #6235
I'm still wondering whether it would work to keep a resampling step from whatever the decoder outputs to float planar in between the decoder and AC-3 encoder. It seems that would be the simplest solution.

[2019-07-31 10:14] AquilesCanta commented on #6231
I'll need to look at the content to understand what's going on. If you don't want to share it publicly, please send a link or the files to exoplayer.dev@gmail.com. If you cannot share the content, I cannot help anymore.

Means that you are probably trying to decrypt the playlist. So my first advise would be to avoid using an `AesCipherDataSource` for anything but media.

However, you should not ne

[2019-07-31 10:20] andrewlewis commented on #6244
This looks the same as #6084. To resolve the issue on the newer device you can probably switch to using `SurfaceView` for devices running Android N and later.

[2019-07-31 10:20] #6244 closed, assigned to andrewlewis

[2019-07-31 10:23] vinayjoglekar commented on #5211
@avecost you need to cache license key(s) of the content at when you download the actual content. At the time of playback of this offline content instead of using MediaDrmCallback, use that license like this
`drmSessionManager?.setMode(DefaultDrmSessionManager.MODE_PLAYBACK, license.keySetIdBytes)`

[2019-07-31 11:12] marcbaechinger commented on #6243
When I add the subtitle file you attached to a video nothing is displayed. When I copy the base64 pdf in the file and convert to PNG I get a 1080x1920 bitmap which is blank (all pixel transparent). That's also what I see what is retrieved and rendered by the `SubtitleView`.

May I ask you to look into the file you attached here and check whether that's what you expect?

Another thought is that the

[2019-07-31 11:34] himaswetha commented on #6243
Sent the content url link to dev.exoplayer@gmail.com. Can you please check the mail and use that url to play the content directly in Demo app?
--

[2019-07-31 11:35] marcbaechinger commented on #6245
Is this the setup you are going to aim for in your app? How exactly do you want users use this if the cert path is not trusted?

[2019-07-31 11:40] himaswetha commented on #6243
Link for the asset to reproduce the issue. Please do not share this
link with any one.

{
  "name": "osmovie LIVE  ",
  "uri": "https://vsppstreamer.osim.mr.tv3cloud.com:5554/sdash/LIVE$2100011276/index.mpd/Manifest?device=DASH&start=LIVE&&end=END",
  "extension": "mpd"
},

On Wed, Jul 31, 2019 at 4:43 PM Marc Baechinger <notifications@github.com>
wrote:

[2019-07-31 11:56] nbonamy commented on #6235
That’s what I am doing. Basically:

- decode providing a `request_sample_fmt` (and try to get format of encoder (`fltp`))
- resample to destination forrmat of encoder, number of channels and sample rate
- accumulate packet in a FIFO in case decoder does not provide packets big enough to be encoded
- encode to final format

I understand that you say that I should be able to do it the same way as PC

[2019-07-31 12:49] goncalosilva-appgeneration commented on #6245
Hi Marc,

I tested the stream on mobile browsers and the certificate (from COMODO) is accepted without issues by Chrome, Edge, Opera and Brave.
Only Firefox shows a warning message.

[2019-07-31 13:59] srikanthsunkari commented on #6232
Thanks for the reply @marcbaechinger

you are absolutely right, I assumed the same, that It should also stream in offline when there is a cache available using CacheDataSource.

I didn't do any specific changes to support in offline mode but I am unable to play offline mode ?

[2019-07-31 14:16] KosmoGalaxy opened #6247 "DefaultLoadControl.Builder constructor - wrong constant?"
DefaultLoadControl.java
line 88
**minBufferVideoMs = DEFAULT_MAX_BUFFER_MS;**
[code]
Shouldn't minBufferVideoMs be set to DEFAULT_MIN_BUFFER_MS?

[2019-07-31 14:37] tonihei commented on #6247
This is intended. DEFAULT_MAX_BUFFER_MS is defined as:

_The default maximum duration of media that the player will attempt to buffer, in milliseconds.
**For playbacks with video, this is also the default minimum duration of media that the player
will attempt to ensure is buffered.**_

Effectively this means that the player will always try to keep a buffer of DEFAULT_MAX_BUFFER_MS for video playba

[2019-07-31 14:37] #6247 closed, assigned to tonihei

[2019-07-31 14:44] KosmoGalaxy commented on #6247
My bad, waisted time, sorry.

[2019-07-31 15:33] AlphaCircle opened #6248 "Seek on DASH mp4 files of an mpd file is not working properly"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-07-31 15:42] rs146 opened #6249 "Using IMA VideoAdPlayer.VideoAdPlayerCallback for ad events gives wrong ad durations for Preroll and Postroll IMA ads"
### [REQUIRED] Searched documentation and issues
I already opened a question ticket (https://github.com/google/ExoPlayer/issues/5925) with regards to determining Pre-roll, Mid-roll and Postroll ads and since the answer(s) provided there are sufficient for that topic, I have decided to create a new general question.

I have had a look at Google's IMA [documentation](https://developers.google.com/in

[2019-07-31 15:49] rajeshghosh1978 commented on #6233
I have already tried that out, still, want to make sure whether I am on the right track, I need your expertise. The code I have written so far

[code]

[2019-07-31 16:04] WassimErriha commented on #2600
Bumping up for supporte in version 2.11
Thank you!

[2019-07-31 16:08] WassimErriha commented on #5861
@AquilesCanta I can provide more details if the question is vague.
Thank you!

[2019-07-31 16:26] AquilesCanta commented on #5861
Apologies for the delay.

Can you clarify what you mean by seamless?

There are two dimensions to the question:
- Doing seamless track selection. For in-adaptive-group track selection, you can track #2250. However, I understand you want track selection between tracks in different TrackGroups. If that's the case, I think the best approach is implementing a custom media source that changes the sourc

[2019-07-31 17:35] stevemayhew commented on #474
Thanks...  The more I look at it the more it makes sense.   The overhead to run an additional `HlsSampleStreamWrapper` just for the I-Frame only playlists seems wasted. Interestingly the FRAME-RATE attribute is not allowed on I-Frame only playlist, it can be inferred from the durations in the sub-playlist.  So we will want a role or some other `Format` attribute to mark them.

I'm on board now, ye

[2019-07-31 18:34] #6118 closed, assigned to tonihei

[2019-07-31 20:11] francois-cabrol opened #6250 "What is ExoPlayer's buffering speed?"
Hi,

I am trying to simulate a fleet of ExoPlayer-based video players streaming MPEG-DASH streams from the same set of servers, for a performance study.
I am familiar with how the **DefaultLoadControl** works (and [this video](https://www.youtube.com/watch?v=jAZn-J1I8Eg&feature=youtu.be&t=25m1s) helped a lot), but I have no idea about the size of the chunks requested from the server while bufferin

[2019-07-31 21:11] ebr11 commented on #5096
@sureshcnvidia It appears the Shield Experience 8.0 does NOT solve this issue...

[2019-08-01 03:02] cl-geniatech commented on #6226
Hi Marc:

Thanks for the inquiry, the main problem is to play Caton, which is expected to play smoothly. At present, the support for UDP is not good yet.
My test is through VLC streaming UDP, tested on Android7.1 STB, please know

chenlei@geniatech.com

[2019-08-01 04:36] himaswetha opened #6251 "How to install the Demo apk using the Android studio ( Error is shown even the previous apk is removed manually )"
### [REQUIRED] Searched documentation and issues
Searched in github didnt get any related questions

### [REQUIRED] Question
How to install the demo apk using the Android studio. Error when installing the Exoplayer demo apk (Even the demo apk is already removed its still showing the error)

### A full bug report captured from the device
 Launching demo
$ adb push /Users/demo-noExtensions-debug.apk

[2019-08-01 07:08] rrfrias commented on #6128
A successful provisioning request/response exchange results in the service providing a device certificate. The device should then be in a position to request and receive a license.

[2019-08-01 08:07] iBotasky commented on #4352
Facing ANR in release();
In my case the player handler receive `MSG_RELEASE` too late to notify to release the lock. And i think is that MessageQueue is block. so I remove the message but not work. How to solve this issue?
Here is my code:
[code]

[2019-08-01 08:07] AlphaCircle commented on #6248
Hello
I diged this out further. I realized this is caused by the configuation of setSeekParameters() and variously configured DASH mp4 files. But the unexpected seek operation is caused by the re-configured GOP values Shaka Packager made for the original mp4.

Let me ask further questions to Shaka Packager team.

Thanks

[2019-08-01 08:08] #6248 closed, assigned to nobody

[2019-08-01 08:42] Tolriq commented on #4352
Either leave the ANR as Google want expecting this to be a proper user experience .... Specially on P+ where ANR just close the app. (Hint: This is not proper user experience at all)

Or workaround yourself on the app side, release on the background, properly manage initialisation errors with users messages and if after a time you evaluate long enough init still does not work, propose to the user

[2019-08-01 08:55] DasJhaman opened #6252 "Player View not in Full mode when orientation changes"
### [REQUIRED] Searched documentation and issues
Exoplayer 2.9.4 version.

### [REQUIRED] Question
Hello i have two layouts portrait and landscape, portrait have fixed size of player view and landscape is `match_parent`, when player changes orientation in landscape the player view size is not `match_parent` hers is screen shot attached [https://ibb.co/yFtYyPG](url) and when landscape mode changed

[2019-08-01 09:25] lsgfly opened #6253 "Some videos play at 2.0 speed in some mtk devices"
### [REQUIRED] Content description
I play the video:
    http://static.enjoyui.com/test-res/test_riverside.mp4.
    It will play in 2.0 speed,but I set the speed is 1.0.
    The video is mono, but get the channelcount is 2;
   {
    MediaFormat format = codec.getOutputFormat();
    format.getInteger(MediaFormat.KEY_CHANNEL_COUNT);
    }
I test in some device (qcom),it is normal;

### [REQUIRED] Ve

[2019-08-01 09:47] baechinger commented on #6251
Seems like like the app is installed on the device already.

I thought Android Studio could handle this. Android Studio usually ask me whether it is ok to uninstall the former version. Can you try uninstall the app on the device manually and do the adb commands again?

[2019-08-01 10:05] baechinger commented on #6245
When you try the stream without https or from another site, does the video play as expected? I mean can we rule out network issues or is this a https certificate issue?

[2019-08-01 10:14] himaswetha commented on #6251
Tried the commands manually also. Also the Exoplayer is not visible in Apps it means already the Exoplayer was uninstalled. So I can see that apk is already uninstalled but still getting the same error. Tried forceful methods also to install the apk but still getting the same error.

[2019-08-01 10:21] baechinger commented on #6251
You see the package when doing?

[code]

That's odd. Not a very sophisticated response of me, but I guess you already restarted the device?

[2019-08-01 10:26] himaswetha commented on #6251
Following is the output from my machine
 adb shell pm list packages -f | grep exoplayer
package:/system/priv-app/ArcChecker/ArcChecker.apk=com.google.android.exoplayer2.demo

adb uninstall com.google.android.exoplayer2.demo
Failure [DELETE_FAILED_INTERNAL_ERROR]

Can you please send me the detail steps to uninstall and install the demo apk?
Tried following ways
adb root
adb remount
adb uninstall c

[2019-08-01 10:30] himaswetha commented on #6243
Hi @marcbaechinger any update on this issue?

[2019-08-01 11:01] Sathish-Kumar-Kanagaraj commented on #6199
I am facing another one issue with this multiple audios.
I am getting surround and streo both the type of audio with same category language in the hls url.
How can i change it to single language streaming and based on adaptive bit rate making it choose stereo or surround internally
Kindly provide me with a solution.

Sample Link:https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8

[2019-08-01 11:02] baechinger commented on #6251
I don't think you need to uninstall because I think you never installed it successfully.  I also get this failure when I try to uninstall an apk which is not installed, like

[code]

Installing is just the following:

[code]

I don't think you need to push command as you listed above. (see [adb install](http://adbshell.com/commands/adb-install))

[2019-08-01 11:13] ojw28 commented on #6245
Regarding the certificate issue, have you read [this Comodo knowledge base article](https://ssl.comodo.com/support/knowledgebase)? If you're using Windows server then it seems quite likely that's the problem.

Beyond the certificate issue, the stream itself appears to be malformed. It starts with a Xing header that defines the media to be a fixed length and duration (~2 seconds long), which doesn'

[2019-08-01 11:42] himaswetha commented on #6251
So if apk is not installed and packages are not there then even adb install
is showing the error. Then that case how we can install?

On Thu, Aug 1, 2019 at 4:33 PM Marc Bächinger <notifications@github.com>
wrote:

[2019-08-01 12:25] abhishekredspace commented on #6236
Yes, I can assure that setPlayer(null) is called after `onNotificationCancelled`.
<img width="1621" alt="Screen Shot 2019-08-01 at 9 16 34 AM" src="https://user-images.githubusercontent.com/16784627/62293039-11232a00-b43e-11e9-8ce0-30c82a35a1af.png">

Do I need to call the exoplayer.stop() as well? If that is true, in that case I would have to re-prepare the same content when the user comes back i

[2019-08-01 13:42] zhan2046 opened #6254 "SimpleExoPlayer seekTo not working"
### [REQUIRED] Issue description
Hello, I found that using `ExoPlayerImpl public void seekTo(int windowIndex, long positionMs)`, In some audio links, Using seekTo is not working.

### [REQUIRED] Reproduction steps
Use `https://pro-audio.xiaoheiban.cn/201907/b38bed16-d36a-4847-b5f8-8ad04e263b4a.amr`  audio link

This audio is generated after the recording is completed.

[code]

When the music is pl

[2019-08-01 13:44] zhan2046 commented on #6254
The mp3 file or the mp3 link works fine. Why does the file generated by the recording have this problem? It feels strange.

[2019-08-01 13:47] zhan2046 commented on #6254
I hope to get your help,  thank you

[2019-08-01 13:55] ojw28 commented on #6254
Please read the [documentation](https://exoplayer.dev/supported-formats.html), which contains an answer to this question.

[2019-08-01 14:01] ojw28 commented on #6233
The classes @marcbaechinger referred to above are easier to use than the ones you're looking at. Note that they're part of the ExoPlayer library, not part of the Android SDK directly:

https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.html
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/mediacodec/MediaCodecInfo.html

[2019-08-01 14:01] #6233 closed, assigned to marcbaechinger

[2019-08-01 14:05] abhishekredspace commented on #6236
So I found the bug, it is in my code. Somehow there was a bug in my event listener which was triggering Started multiple times and consequently, createNotification was getting triggered more than once. So even after player was set to null, there were other instance attached to it. Thanks for your help and inputs.

[2019-08-01 14:05] #6236 closed, assigned to marcbaechinger

[2019-08-01 14:44] ojw28 commented on #6246
This is not possible currently. It's being tracked by https://github.com/google/ExoPlayer/issues/6203.

[2019-08-01 14:44] #6246 closed, assigned to ojw28

[2019-08-01 14:54] ojw28 commented on #6243
This is an AVKO box connected to the Samsung TV, presumably via HDMI, right?

Are you sure this is specific to subtitles? It seems likely that the whole of the bottom of the display is just being cut off when this box is connected to the Samsung TV.

[2019-08-01 15:08] ojw28 commented on #6241
Notes:
* The RIFF chunk descriptor file length is also incorrect in this file. I think what probably happened is that a valid 2 minute long WAV file was generated, and then the file was clipped to just keep the first half. The length of the `ExtractorInput` needs to be used to check for this case.

[2019-08-01 15:21] rajeshghosh1978 commented on #6233
I have tried that one, but not able to find out a way to create Format object, since I only have Codec Name and Video width and height as an input.
@marcbaechinger Do you have any example for creating a Format object.

[2019-08-01 15:24] himaswetha commented on #6243
Yes it's avko box connected with HDMI cable.

Yes issue seems to be specific to subtitles. Because other assets are
playing fine. Issue is seen only with this particular asset. But Not sure
why the issue is only with this particular type of TV. In some other model
of TV which I mentioned this issue is not seen.

On Thu, 1 Aug 2019, 20:25 Oliver Woodman, <notifications@github.com> wrote:

[2019-08-01 15:27] ojw28 commented on #6233
Why do you need to create a `Format` object? You can use these APIs like this:

[code]

[2019-08-01 15:29] ojw28 commented on #6243
Is the video itself being clipped, in addition to the subtitles? Can you capture the same frame of the video on a device where this isn't a problem, for example the Galaxy S8, for comparison?

[2019-08-01 15:43] rajeshghosh1978 commented on #6233
Yes, you are right. I was missing the last part. Here is the full code to detect max supported width and height for specific codec

[code]

[2019-08-01 16:05] himaswetha commented on #6243
I think video itself its clipped when compared to Samsung TV and Galaxy S8. Sent you the frames for TV and Mobile for comparision.

[2019-08-01 16:40] ojw28 commented on #6243
I don't think this is an ExoPlayer issue. It sounds like a problem with either the device or the TV. Possibly some kind of overscan problem?

[2019-08-01 16:45] himaswetha commented on #6243
So what should be the possible solution?

On Thu, 1 Aug 2019, 22:11 Oliver Woodman, <notifications@github.com> wrote:

[2019-08-01 16:47] ojw28 commented on #6251
This doesn't really sound like an ExoPlayer issue. It sounds like you have a problem installing apks on your device, for which StackOverflow is probably a better place to ask for help.

If it's specific to the ExoPlayer demo app then I think you must have done something strange to have ended up in this state, such as trying to push the demo app into the system partition or something. You should ne

[2019-08-01 16:49] ojw28 commented on #6243
I think you should try connecting other devices to this TV. If it's cropping the output for all of them, then it might just be an overscan setting on the TV that you need to adjust. If it's specific to this device connected to this TV, you probably need to follow up with the device manufacturer. Debugging this kind of issue is out of scope of this issue tracker, since it doesn't sound like an ExoP

[2019-08-01 16:49] #6243 closed, assigned to marcbaechinger

[2019-08-01 16:50] rajeshghosh1978 commented on #6233
So when we say codec capabilities, does this means it is the device which is capable to decode the video for the said resolution. Or this is just a capability range for the codec itself. Maybe codec is capable to decode the stream for certain devices.

[2019-08-01 16:52] ojw28 commented on #6233
It's what the codec is capable of doing on the device the code is running on (i.e. it's what you want). By the way, if you deliver your media using DASH or HLS, ExoPlayer will just select the streams that the device can play automatically, and you wouldn't need to worry about doing this yourself.

[2019-08-01 17:30] ojw28 commented on #6250
For DASH, the chunk size is a property of the media, not ExoPlayer. So it depends on the content. ExoPlayer will request one chunk at a time for video, and (in parallel) one chunk at a time for audio, with some logic in place to stop one loading too far ahead of the other. Whilst the buffer is being filled, the player will download each chunk as quickly as possible, and the request for the next ch

[2019-08-01 18:25] francois-cabrol commented on #6250
Thank you very much!

[2019-08-01 18:45] rajeshghosh1978 commented on #6233
@ojw28 : That's what I assumed before till I raised this ticket #5935 :(

[2019-08-01 19:18] ojw28 commented on #6233
I don't really see how the two issues are related. ExoPlayer is going to be doing pretty much the same thing internally for its stream selection as you're looking at doing externally in this issue. So unless you think you're going to do it better than ExoPlayer in some way (if so then please contribute the change directly into ExoPlayer), you're not going to get a different result and "fix" #5935

[2019-08-01 19:20] #6250 closed, assigned to ojw28

[2019-08-01 19:43] ojw28 commented on #6238
We've reverted the change that introduced the bad behavior. This will be picked up in the 2.10.4 release.

[2019-08-01 19:43] #6238 closed, assigned to andrewlewis

[2019-08-01 19:44] ojw28 commented on #5938
Fixed in the `dev-v2` branch. The fix will be included in the 2.10.4 release.

[2019-08-01 19:44] #5938 closed, assigned to marcbaechinger

[2019-08-01 19:44] ojw28 commented on #6241
Fixed in the `dev-v2` branch. This will be picked up in the 2.10.4 release.

[2019-08-01 19:44] #6241 closed, assigned to ojw28

[2019-08-01 21:50] ssenanayake opened #6255 "Multi-Period DASH WV on Nexus 6P"
### [REQUIRED] Issue description
Playback of Multi-Period DASH (No DRM for Ad periods, WV DRM for Content periods), freezes when transitioning from Ad Period to Content Period on Nexus 6P in Landscape mode. Works ok on Portrait mode.

### [REQUIRED] Reproduction steps
1) Use the latest Exoplayer Demo app code, "demo" module.
2) The media.exolist.json file is indicated below.
3) Try playback in Lan

[2019-08-01 22:07] stevemayhew opened #6256 "new TrackSelection not updated in HlsChunkSource"
### Issue description
When playing back adaptive HLS content if you change the playback speed the `AdaptiveTrackSelection` should level down to a lower bitrate track to avoid stalls, it does not because the `playbackSpeed` update is missed since the `HlsChunkSource` that calls this method references a stale `TrackSelection`.

The code that handles this is:

[code]

### Reproduction steps
Playback

[2019-08-01 22:42] rajeshghosh1978 commented on #6233
@ojw28 : My intention was to create a fallback approach to reduce the occurrence, without compromising the vie quality. So, please keep this as close, I will wait for the fix.

[2019-08-02 02:06] WassimErriha commented on #5861
Excuse me if I am using the wrong terms :)
What I meant by seamless is that when you force the player to switch between variants, re-buffering occurs. I used the solution you mentioned in #2250 to make the switch between variants without a re-buffer. My understanding was that if I can switch between variants in this way, I should be able to switch between renditions (or camera angles) without re-b

[2019-08-02 04:19] nbonamy commented on #6235
Another day, another fail 😅

Tried to get the `sample_fmt` from the decoded `AVFrame` as suggested here: https://stackoverflow.com/questions/37235264/ffmpeg-avcodec-open2-changed-audio-format-in-avcodeccontext. Seemed like a very good lead. To no avail 😒

[2019-08-02 04:47] himaswetha commented on #6243
Thanks after adjusting the screen size settings its working properly now.

[2019-08-02 05:41] Sathish-Kumar-Kanagaraj opened #6257 "HLS: Deduce bitrate order of multiple audio rendition groups based on usage in variants"
I am using an hls url to play the video and also able to switch with multiple audios.
I am getting surround and streo both the type of audio with same category language in the hls url.
How can i change it to single language streaming and based on adaptive bit rate making it choose stereo or surround internally in the video.
Kindly provide me with a solution.

Sample Link:https://bitdash-a.akamaihd

[2019-08-02 06:52] lsgfly commented on #6253
I find the the channels is 2 by auto Atom Parsers.
but the channels_Original is 1.
can we use the channels_Original as the channelcount.

[2019-08-02 08:22] lion4509 commented on #6124
@AquilesCanta
I tried below codes but non-continuous playback happened (1~2 sec).
What about on your side? Any updates on this?

create MediaSource and called player.prepare()
[code]

updateSource() when dectected additional track
[code]

[2019-08-02 08:38] geeta4 commented on #6203
i think with state_waiting there should be a way to know why exoplayer is in state of waiting like phonecall

[2019-08-02 11:44] QuaQuaAndroid commented on #6126
@tonihei : All I need is a button to enable Virtual Reality(VR) mode for 360 videos in Exoplayer.
So, user can enable VR mode using that button.
I need help to integrate it for 360 videos in my Application.

[2019-08-02 14:14] tonihei commented on #6256
Thanks for reporting. It looks this bug also affects other streaming types where we save a reference to the TrackSelection (e.g. DASH).

[2019-08-02 15:37] #6245 closed, assigned to ojw28

[2019-08-02 15:37] #6251 closed, assigned to ojw28

[2019-08-02 15:39] #6136 closed, assigned to tonihei

[2019-08-02 15:42] ojw28 commented on #5796
Generalize further to track investigating:
* Parallel decoder initialization
* Running renderers of different threads during playback
* Using separate threads for the input and output side of decoders

[2019-08-02 15:42] ojw28 commented on #6086
Marking as a duplicate of #5796.

[2019-08-02 15:42] #6086 closed, assigned to ojw28

[2019-08-02 15:43] ojw28 commented on #5852
Closing due to lack of updates.

[2019-08-02 15:43] #5852 closed, assigned to marcbaechinger

[2019-08-02 15:46] ojw28 commented on #5211
Marking as a duplicate of #2394, since what's being done for that issue will also solve this one.

[2019-08-02 15:46] #5211 closed, assigned to AquilesCanta

[2019-08-02 15:52] ojw28 commented on #2394
You can now set a `DrmSessionManager` directly on a `MediaSource`, as shown in the [demo app](https://github.com/google/ExoPlayer/blob/06f94815050b9f9e990c7c9d3d7b7eb0bbebecc1/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L501). Since this allows specifying a different `DrmSessionManager` on each `MediaSource`, it solves the problem that's being tracked by this is

[2019-08-02 15:52] #2394 closed, assigned to AquilesCanta

[2019-08-02 16:42] andrewlewis commented on #6249
It's probably easier and more reliable to use ExoPlayer's API rather than `VideoAdPlayerCallback`, by listening for `onPositionDiscontinuity` and `onTimelineChanged` like this:

[code]

If you want to trigger a single event when starting to play the ad once the duration is known you will need to store some state and de-duplicate the events.

The IMA callbacks and ExoPlayer state can't be perfectly

[2019-08-02 18:55] stevemayhew commented on #6256
You're more than welcome!  Here's a proposed fix that is working for me locally:  https://github.com/stevemayhew/ExoPlayer/commit/ddfaa97c952e944cca49f6f5bd1700599bda3c4f

I am working from dev-v2-r2.10.3 so it will not directly merge with a pull.

I looked to write a test case, but that would entail building out test cases for the whole of `HlsSampleStreamWrapper`.  We can talk about that project

[2019-08-03 09:03] RavanaAbhi opened #6258 "how to show Video player notification when video is in background"
my video is playing in Exoplayer and when i click on home then the video is play like audio in notification. how can i do that using Exoplayer?

[2019-08-03 13:22] manishPatwari commented on #6168
Happening the same for me. Exoplayer Version: **2.9.6**
[code]

[2019-08-03 13:51] manishPatwari commented on #6107
@marcbaechinger Is there any way in Exoplayer 2.9.6, to reuse the allocated decoder or maintain some kind of codec pool which will take care of max limit in the device?
We need multiple codec initialization because of fast switching between videos.

[2019-08-03 14:39] manishPatwari opened #6259 "Is there a way to prefetch the video content based on device capacity without decoder initialisation?"
### [REQUIRED] Searched documentation and issues
Did a search in Google and didn't find any relevant answere.

### [REQUIRED] Question

We need to show video in Viewpage and whenever user switches the video we need to play it immediately. Hence currently I do prepare the video player, which is allocating decoder also and resulting in exceeding the allowed decoder count (  com.google.android.exopla

[2019-08-03 15:51] AntonAndev commented on #5856
today I got many complains, since 1st August Admob started to show some ads, may be more video ads, exoplayer crashes more often, I can't reproduce this on my devices. This is crazy situation. I can't disable ads because I need to pay for video hosting.

[2019-08-04 01:22] nbonamy commented on #6235
Adding more suff if anybody gets here 😀

Dumped this info from ffmpeg. There is clearly real simple rules that could be built from this data but this is definitely not enough to cover all sorts of codecs...

| Codec  | Profile    | BitsPerSample | SampleFmt | SampleFmts      |
|--------|------------|---------------|-----------|-----------------|
| aac    | LC         | 0             | fltp      |

[2019-08-04 05:13] brucewuu520 opened #6260 "PlayerView.toggleControllerVisibility() has a bug on version 2.10.3"
Version: 2.10.3

when i not use default PlayerControlView，when click PlayerView application is error
error log:
 com.google.android.exoplayer2.ui.PlayerView.toggleControllerVisibility(PlayerView.java:1156)
        at com.google.android.exoplayer2.ui.PlayerView.performClick(PlayerView.java:1075)

in PlayerView method：

   private boolean toggleControllerVisibility() {
    if (!controller.isVisible(

[2019-08-04 08:55] noamtamim opened #6261 "Add some failure reasons to Download.FailureReason"
### [REQUIRED] Use case description
Currently there's only one "failure reason" - UNKONWN. I saw an issue (#5914) requesting a reason for insufficient space, but there should be even more.

### Proposed solution
After the initial preparation step, the most likely reason for a failure is network issues (timeout, some http error codes, server not found, etc). These should be reported.

### Alternati

[2019-08-04 09:53] jbhovell opened #6262 "Do you write component tests (ruby cucumber etc) for the project?"

[2019-08-04 15:15] noamtamim commented on #6195
@ojw28 Please consider using `WorkManagerScheduler` in the demo app. Then it will be clear how to use it (in particular, the `workName` parameter to the constructor).

[2019-08-05 03:11] zhan2046 commented on #6254
https://exoplayer.dev/progressive.html#enabling-constant-bitrate-seeking

[code]

I solved the problem after reading the document, thank you very much.
@ojw28

[2019-08-05 03:11] #6254 closed, assigned to ojw28

[2019-08-05 06:06] asw0697 commented on #5730
Basically, Android TV is a smart platform from Google built around the Android operating system. Users can stream content to your TV via apps, both free and paid, using your internet connection. Nowadays [Sony TV Repair Dubai](https://f2help.com/sony-tv-repair/) use to provide all the user guide and helpdesk for Smart TV.

[2019-08-05 06:34] arasan81 commented on #6174
Hi @ojw28 ,
Any update for this query?

[2019-08-05 07:51] andrewlewis commented on #5856
@Andevity do the crashes have similar stack traces to the original post on this issue? If not, could you provide some more details and I'll follow up with the AdMob team. Thanks.

[2019-08-05 08:26] goncalosilva-appgeneration commented on #6245
Unfortunately it's not my media.
I suspected that it was an ill-formed stream, but it's weird that all browsers (desktop and mobile) can play it without any issues, which is why I opened a new ticket. Even Android's native MediaPlayer can open the file.

Your argument is reasonable.
Thanks for the help and keep up the good work.

[2019-08-05 08:32] richanshah commented on #6113
yes i am also facing this kind of issue,When call is coming video is not recording

[2019-08-05 08:33] tonihei commented on #6260
Thanks for reporting. Looks like we don't check for custom controller when performClick is called directly.

[2019-08-05 08:41] Navidhp commented on #6113
@richanshah are you application has been crash ?

[2019-08-05 09:26] ojw28 commented on #6262
I think it would depend on exactly what your definition of a "component test" is. I would probably consider the tests covering ExoPlayer's extractors to be component tests. In any case, I'd suggest cloning the repository and having a look at the tests that are there.

[2019-08-05 09:26] #6262 closed, assigned to ojw28

[2019-08-05 09:31] ojw28 commented on #6174
ExoPlayer supports streaming playbacks by default. In other words, if you provide a URL to ExoPlayer, it'll start playback having only downloaded a small portion of the media and then request data as it's needed from the server.

If you want to implement something similar but where data is requested from a non-standard source (i.e. from your middleware rather than over HTTP), then you'll need to i

[2019-08-05 09:49] l0rn commented on #6216
I did not realize that SilenceSkipping and SonicAudioProcessor are both enabled by default - thanks for that! And also for the general clarification. I'm gonna see how far I get with this.... If I want realtime i guess i need to put my stuff further down the stack ;)

[2019-08-05 09:49] #6216 closed, assigned to andrewlewis

[2019-08-05 09:55] ojw28 commented on #5914
Generalizing this issue to also track adding other failure reasons (e.g. network failures).

[2019-08-05 09:56] ojw28 commented on #6261
Marking as a duplicate of #5914, which has been generalized.

[2019-08-05 09:56] #6261 closed, assigned to ojw28

[2019-08-05 10:00] ojw28 commented on #6252
If you replace the `PlayerView` with a regular `View` and give it a bright red background or something, so you can see the space that it's occupying, then does this still happen? If so then this is a general Android question, rather than being anything ExoPlayer specific, and you'd be better off asking how to fix your layout on Stack Overflow.

If the problem is specific to `PlayerView` then you n

[2019-08-05 10:02] #6260 closed, assigned to tonihei

[2019-08-05 11:57] richanshah opened #6263 "Video playback gets stuck"
When recording big video file (min 15 minutes),each time I am getting issue of media-codec and black screen and video is not playing anymore it just stuck ,As I am using it in big app Please give me meaningful solution if you have any . #689

below I have attached file of bugs I am facing when I am recording big file  and try to play it ,one thing i like to mention is I am facing this bug in all t

[2019-08-05 12:03] richanshah commented on #6263
player version: 2.9.3
device  OS version: Oreo or nougat
i am getting this issue in vivo,samsung and oppo devices

[2019-08-05 12:08] richanshah commented on #6113
No it's not crashing but I don't get video recording when phone has came

On Mon 5 Aug, 2019, 2:12 PM Navid, <notifications@github.com> wrote:

[2019-08-05 12:55] tonihei commented on #6256
Thanks for the proposal. I re-implemented this in a slightly different way to move the update further down where we keep the streams.

[2019-08-05 13:02] ojw28 commented on #6258
You need to put the player inside an Android `Service` to ensure that it stays alive. When your activity goes into the background you should detach it from whatever UI component it's holding. So for example, if you're using `PlayerView`, you should call `playerView.setPlayer(null)`. When the activity comes back into the foreground, re-attach the UI component.

[2019-08-05 13:36] ojw28 commented on #6263
We cannot do anything without proper reproduction steps. There isn't sufficient information here for us (or anyone) to reproduce your issue or advise on what the problem might be.

[2019-08-05 13:50] chiragpindianic opened #6264 "Media decode issue"
I am implementing Exoplayer in view pager, but there is some time occurs error with media codec.

When view pager resume first release simple player and then after intilize player, but some time thorw execption below:

com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.qcom.video.decoder.avc,android

Please request you to give a sol

[2019-08-05 14:13] richanshah commented on #6263
Okay will sent u all device information tomorrow

On Mon 5 Aug, 2019, 7:07 PM Oliver Woodman, <notifications@github.com>
wrote:

On Mon 5 Aug, 2019, 7:07 PM Oliver Woodman, <notifications@github.com>
wrote:

[2019-08-05 14:41] stevemayhew commented on #6256
Cool, thanks.  I’ll look for the change and test it.

On Mon, Aug 5, 2019 at 5:55 AM tonihei <notifications@github.com> wrote:

[2019-08-05 16:06] ojw28 commented on #6253
The media specifies that it contains 2 audio channels. It seems some audio decoders are clever enough to correct the format as the data is passed through the decoder, but I'm guessing the MTK one just passes the channel count through without validating correctness, which is why you end up with double speed playback.

The media is broken in this case, so I think you should expect undefined behavior

[2019-08-05 16:28] #6160 closed, assigned to ojw28

[2019-08-05 17:15] roninshahi opened #6265 "PlayerView: Provide option to show default artwork when no prepared player is attached"
hi
I wanna show a preview bitmap of a video in exoplayer.i have the bitmap and I use
[code]
but it doesn't work.
***i havent write any code to connect playerview to exoplayer.
I used an image view to show the preview and then hide it but it wasn't good.

[2019-08-05 17:26] kvillnv commented on #5989
Any updates? specially about the performance issues

[2019-08-05 17:30] ojw28 commented on #6265
Artwork passed to `setDefaultArtwork` is only displayed when the player is connected to the view and prepared (and if the prepared media doesn't contain any artwork of its own).

I'll mark this as an enhancement to provide an option for the default artwork to also be displayed when there's no player and when the player is not prepared.

[2019-08-05 17:38] roninshahi commented on #6265
ty

[2019-08-05 18:24] ojw28 commented on #6255
The provided link 404s for me:

[code]

Please could you check the link?

[2019-08-05 18:44] ojw28 commented on #6257
The equivalent stereo and surround audios are already grouped into the same `TrackGroups`, which is what needs to happen to allow adaptation:

[code]

The problem is that ExoPlayer doesn't currently adapt audio and video at the same time (i.e. if video is going to adapt, then the audio track is fixed). Allowing adaptation of both simultaneously is tracked by #5902. @tonihei - You may or may not wa

[2019-08-05 19:07] ssenanayake commented on #6255
Updated URL: https://dai.google.com/ondemand/dash/content/2497752/vid/19A7D434-8AC8-3835-5681-54E32CBA735B/DLS/streams/224a0c1d-1982-466a-a305-4875c5323135/manifest.mpd

The Google DAI URLs do expire. But you can run the following curl and the "stream_manifest" field of the JSON contains a new time tokenized manifest url:

curl -X POST --data '' 'https://dai.google.com/ondemand/dash/content/249775

[2019-08-05 19:16] ojw28 commented on #6255
Hmm, now I'm getting 403s for content starting at ~15 seconds. I tried generating my own URL using the command above and with that I got 403s starting at 0 seconds. Is it possible some of the ads (or the content itself) are geo-restricted?

[2019-08-05 19:19] ojw28 commented on #6255
It works using a US proxy, so I guess I can do that. I'll need to dig out a Nexus 6P for testing. Just to confirm: Am I right in thinking you haven't seen this on any other devices? Playback seems to work without failure on a Galaxy S8.

Thanks!

[2019-08-05 19:24] ojw28 commented on #6264
Most likely you haven't released the previous player(s), and the underlying platform has run out of resources to allocate a new decoder.

The description doesn't provide sufficient information for us to help or diagnose further. Please properly fill in the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) if you require fu

[2019-08-05 19:27] #6222 closed, assigned to ojw28

[2019-08-05 19:27] #6169 closed, assigned to ojw28

[2019-08-05 19:32] ssenanayake commented on #6255
Checked with our QA team....So far our QA has only reproduced this behavior on a Nexus 6 and Nexus 6P. We dont have an exhaustive list of devices, but the Nexus 6 & 6P are two of our test devices. Samsung devices have been fine for us too.

[2019-08-05 19:36] ojw28 commented on #6256
Fix merged into `dev-v2` and `dev-v2-r2.10.4`. If you could give it a quick test, that would be great.

[2019-08-05 19:36] #6256 closed, assigned to tonihei

[2019-08-05 19:55] manishPatwari commented on #6259
@ojw28  Please help me with some solution.

[2019-08-06 02:04] lsgfly commented on #6253
The channels_original is that I solved with tools(MediaInfo).
This is the result.

ID                                       : 2
Format                                   : MPEG Audio
Format version                           : Version 2
Format profile                           : Layer 3
Codec ID                                 : mp4a-69
Duration                                 : 12 s 659 ms
Duration

[2019-08-06 03:38] stevemayhew commented on #6256
I’ll do it tomorrow, planning to move our branch forward from 2.10.3
anyway.

The iFrame playlist parsing is ready to push a branch too, our CI is in the
queue

On Mon, Aug 5, 2019 at 12:37 PM Oliver Woodman <notifications@github.com>
wrote:

[2019-08-06 05:03] chiragpindianic commented on #6264
### [REQUIRED] Issue description
I am trying to implementing exoplayer in my app, I have added exoplayer in viewpager with FragmentStatePagerAdapter. There are five pages in viewpager with the same fragment with a new instance, particular fragment to implement exoplayer with a different video. Exoplayer initilize in fragment onResume method, before intilize exoplayer release previous exoplayer.
Bu

[2019-08-06 08:57] richanshah commented on #6263
hi,I have updated information

[2019-08-06 09:18] nomisRev opened #6266 "PlayerNotificationManager: customizeable icons"
### Use case description
I'd like to customize the icons currently statically fixed in `PlayerNotificationManager`, more specifically I'd customize `ACTION_REWIND` and `ACTION_FAST_FORWARD` but I believe that all icons should be customizable.

I'd be happy to contribute and create a PR with a proposed solution from below or any other proposed solution. I also wanted to write some documentation for

[2019-08-06 13:45] tonihei commented on #6257
The enhancement tracked by #5902 allows to automatically adapt both video and audio. However, our current experimental approach doesn't really work for this case for two reasons.

1. None of the audio tracks have bitrates associated with them. So it's unclear for a bitrate based algorithm how to select the tracks. We can use this issue to track at least basic support for this by just assuming that

[2019-08-06 14:16] nomisRev commented on #5846
Hi,

I'd love to see something like, and/or at least some additional documentation in the documentation. Anyway, I can contribute to this?

Currently, I am using the following solution for this. (This has **not** been extensively tested in the field).

[code]

And it can be consumed as follows.

[code]

[2019-08-06 14:19] VladimirCores commented on #6128
We prepared a test project with our implementation of ExoPlayer and test stream we are using as well as logs from our custom device running Android 9 and Sony Bravia 4K TV running Android 7. How can it be sent to you? In response to email I've got:
[code]

[2019-08-06 17:29] rrfrias commented on #6128
Is it being blocked because of an attachment ( https://support.google.com/mail/?p=BlockedMessage )? Can you tarball or zip before sending, or upload to google drive and share.

[2019-08-06 21:38] rcavaltw opened #6267 "Publish testutil package via jCenter"
### [REQUIRED] Searched documentation and issues
This question is a follow up to #3810.

### [REQUIRED] Question
We are developing a lib that wraps around exoplayer. It is somewhat hard to write unit test for `Player.EventListener`, for example, without loading a real video, thread sleeping, etc. From #3810 I noticed there's a way to emulate portions of exoplayers's behavior and was wondering if t

[2019-08-07 07:35] rishun-fsi opened #6268 "demo app can not detect error when use DefaultProguardFile "proguard-android-optimize.txt" and gradle:3.4.2"
When I change some settings as following, then run the release demo app, the error never called on airplane mode.
Could you explain what happens when I use "proguard-android-optimize.txt" or changes gradle:3.4.0 to gradle:3.4.2?

1)use the lastest release
51acd8150 (HEAD -> release-v2, tag: r2.10.3)

2)changes demos/main/build.gradle
release {
    shrinkResources true
    minifyEnabled true
    us

[2019-08-07 07:48] VladimirCores commented on #6128
Email with attached link to Google Drive has been sent.

[2019-08-07 09:27] tonihei commented on #6267
I don't see anything speaking against publishing these modules as they are.

Note that we are unlikely to provide new features just for testing external usages though. If you want to get started on unit tests involving the full player, please have a look at [ExoPlayerTest](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/test/java/com/google/android/exoplayer2/ExoPlayerTest.jav

[2019-08-07 10:30] aazam-nouri opened #6269 "Play button gets disabled after load error"
Play button gets disabled after getting error (load error) but I want the player gets paused instead of getting disabled or stuck and I can retry that by pressing play button, How can I do this?

[2019-08-07 13:27] ojw28 commented on #6269
The ExoPlayer demo app behaves exactly as you describe, so take a look at that. You should set a `PlaybackPreparer` via `PlayerView.setPlaybackPreparer` to handle the retry, as is done in the demo app's `PlayerActivity` class.

[2019-08-07 13:27] #6269 closed, assigned to ojw28

[2019-08-07 21:43] ojw28 commented on #6268
`useProguard` is deprecated and replaced by `minifyEnabled`, which is already in `demos/main/build.gradle`. Does everything work fine if you remove the `useProguard true` line that you've added? If so then that's the correct solution.

Note that from 3.5.0 of the gradle plugin, `useProguard` will [start being ignored even if you set it](https://androidstudio.googleblog.com/2019/04/android-studio-3

[2019-08-07 21:54] ojw28 commented on #6263
The issue still lacks most of the information requested in the issue template. Please provide complete information.

[2019-08-07 21:58] ojw28 commented on #6255
I was able to reproduce this. It seems like something is going badly wrong at quite a low level in the platform, since the entire device locks up. Eventually the system UI process hangs, and sometimes the device reboots. The problem also reproduces with Android 8.1.0, which is the last major platform update that Nexus 6P received.

Given Nexus 6P is no longer receiving major platform updates, it's

[2019-08-08 03:24] rishun-fsi commented on #6268
I think this is not a good solution, because I want use proguard-rules.txt (In my case for some reason I need use proguard-rules.txt). If I remove  "useProguard true",  ProGuard does not work.
Please see the following different build logs.
And another question is why demo app use proguard-android.txt instead of proguard-android-optimize.txt? Did it on purpose?

$ ./gradlew assemblenoExtensionsRele

[2019-08-08 05:48] kaiv2000 opened #6271 "HLS stream cannot be opened"
Please check why this HLS stream cannot be played by exoplayer:

https://s1.worldcam.live:8082/pgkroscienko1/index.m3u8

using:
new HlsMediaSource.Factory(datasourceFactory).createMediaSource(videoUrl);
and:
mediaSource = new HlsMediaSource.Factory(dataSourceFactory).setExtractorFactory(new DefaultHlsExtractorFactory(DefaultTsPayloadReaderFactory.FLAG_IGNORE_AAC_STREAM, false)).createMediaSource(U

[2019-08-08 07:53] tsukano-ryuma commented on #6192
Thank you for these changes!
I have succeeded to change position by calling seekTo() with Data uri scheme!

[2019-08-08 08:09] xufuji456 commented on #5887
hello，I have the same problem . when call release the SimpleExoPlayer，it happens ANR on the method blockUtilDelivered() in the class of PlayerMessage. How can we resolve this problem?
May be we could change the wait lock to time out lock. I am not sure is good solution.

[2019-08-08 09:34] anony-tech opened #6272 "Top bit not zero: HEVC/H265 Stream parsed through fragmented MP4 extractor is not played by Exoplayer"
### [REQUIRED] Issue description
We have HEVC/H265 stream buffers that needs to be streamed and played by Exo-player for our project use. We have the sample buffers captured from middle ware and it is played through VLC player as expected. But when it fed into Exo player, only the first frame is rendered, that is all. We face the issue **'Top bit not zero: -1180838209'**
Below is the log captured

[2019-08-08 09:58] ojw28 commented on #6268
I don't really understand this statement. The R8 compiler's minify functionality is a replacement for using ProGuard. It does the same tasks of obfuscation, minification and optimization, as documented in some detail [here](https://developer.android.com/studio/build/shrink-code). Note that it uses the ProGuard files that are specified using `proguardFiles`, like ProGuard does. As in my previous re

[2019-08-08 10:07] ojw28 commented on #6271
Please see [this troubleshooting page](https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play).
[code]

[2019-08-08 10:07] #6271 closed, assigned to ojw28

[2019-08-08 10:16] ojw28 commented on #6272
I don't really understand what a "buffer file" is or how this data is being streamed to ExoPlayer. The attached file doesn't not seem to be a valid and complete mp4, doesn't play more than one frame in VLC, or at all in Chrome, or reproduce the issue described above when played using ExoPlayer.

Please clarify. We need clear reproduction steps to investigate further.

[2019-08-08 10:27] ojw28 commented on #6266
I think you can just add `exo_notification_rewind` and `exo_notification_fastforward` drawables to your app resources, and these will override the ones in the ExoPlayer library. This approach works for me in our demo app.

Could you give that a try? If that's sufficient then I think you already have what you need, although you're right that we should document this properly.

[2019-08-08 10:33] ojw28 commented on #6272
The stack trace above also doesn't appear to match up with the 2.10.0 source code.

[2019-08-08 11:07] anony-tech commented on #6272
@ojw28
I mean if we input the 'test' file to VLC player, we can see the file is playing for few seconds, whereas the Exo player displays only a first frame(like still image) and no playback is observed.
Sorry for the inconvenience. Exo player version used is 1.5.9.
Thanks

[2019-08-08 12:46] nomisRev commented on #6266
@ojw28 I confirmed that this works. I completely forgot that I could overwrite the drawable in my app and that it'd get overwritten during merging. Thanks!

I'd be happy to add some documentation on this if you could tell me where I can contribute to the documentation.

I've noticed some other things with `PlayerNotificationManger` tho. I am still investigating what the issues are tho.

 - the chr

[2019-08-08 12:58] ojw28 commented on #6266
It's definitely dismiss-able when paused for me. If you're setting it as the notification for a foreground service then that might change things because displaying a notification is a requirement for a foreground service (you'd probably need to have the service exit the foreground for it to become dismiss-able again).

We fixed some notification flicker issues in 2.10.0, but they only affected fai

[2019-08-08 13:15] nomisRev commented on #6266
No, I am on `2.10.3`so I should have those changes. Seeing chronometer flickering on Android P, Pixel XL.

I'll make some time to contribute documentation for `PlayerNotificationManager` once I have a working version locally I can write about.

EDIT: It was indeed because the service was still in the foreground since API 21 this apparently overrides the `onGoing` flag. I was able to rely on `ongoi

[2019-08-08 13:39] armanhi opened #6273 "Encrypted HLS content offline playback"
# [REQUIRED] Searched documentation and issues
#6231
#6122
#5362
#5193

### [REQUIRED] Question
Hi.

I'm currently having a problem with cache + encrypted HLS streams. If user has internet everything works perfectly: .m3u8 is requested, .key is requested and then all chunks (.ts) files, if not yet cached.

The problem happens when user does not have internet access. Since, I guess, .key can't be d

[2019-08-08 15:40] jakoss commented on #6231
I'm attaching master playlist and one of playlists.

What we (me and emilsob) are trying to do is to encrypt offline content using local key (stored by us in Android KeyStore). We have no option to add #EXT-X-KEY tags to playlists so we need to encrypt this on device by ourselves.

[playlist.zip](https://github.com/google/ExoPlayer/files/3482529/playlist.zip)

[2019-08-08 21:10] ronak2121 opened #6274 "DASH SegmentURLs and the +1 off issue"
### [REQUIRED] Content description

We are trying to play an MPEG DASH stream, using the main profile, with an FMP4 container, with an LC-AAC codec. There is no video. The audio is LC-AAC, stereo, 44.1kHz, 32kbps.

We use Signed URLs for our streams, with different signatures for each URL.
Therefore, we use SegmentList & SegmentURLs with media and mediaRange attributes.
We are noticing that Exopla

[2019-08-08 22:34] ojw28 commented on #6274
This isn't what's happening. `DataSpec[GET (url)?(signature), null, 0, 0, 749, null, 0]` is just the `toString()` representation of the `DataSpec`, where `749` is the length, which corresponds to a range `0-748` range header. ExoPlayer will construct the expected `0-748` range header [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2

[2019-08-08 22:34] #6274 closed, assigned to nobody

[2019-08-08 23:26] bboykemo opened #6275 "can't stream rtmpt link"
Hi ,
i tried often to play radio stream start with rtmpt but it show as :
[code]
it's working with vlc lib but takes long time to start and the lib is 50Mb which is so big to use .

[2019-08-09 00:53] rishun-fsi commented on #6268
If use R8 instead of ProGuard, why do not remove "proguard-rules.txt"?
As I know, File proguard-rules.txt does not seem to be used.

If I remove "proguard-rules.txt", demo app still works well.
Is it necessary using file proguard-rules.txt?

 release {
     shrinkResources true
     minifyEnabled true
       proguardFiles = [
           // "proguard-rules.txt", // remove
           getDefaultProgu

[2019-08-09 06:22] anony-tech commented on #6272
Hi Oliver,

I mean if we input the 'test' file to VLC player, we can see the file is
playing for few seconds, whereas the Exo player displays only a first
frame(like still image) and no playback is observed.

Exo player version used is 1.5.9, sorry it is not 2.10.0

Thanks
Tamil

On Thu, Aug 8, 2019 at 4:04 PM Oliver Woodman <notifications@github.com>
wrote:

[2019-08-09 08:36] AlphaCircle opened #6276 "Long Wait for 2nd Player to see onRenderedFirstFrame come up"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-08-09 10:39] ojw28 commented on #6268
I don't understand the question. R8 uses whatever proguard configuration you specify, just like the ProGuard tool did. How to shrink/obfuscate/optimize is covered in detail [here](https://developer.android.com/studio/build/shrink-code).

I'm going to close this issue. It's not an ExoPlayer issue.

[2019-08-09 10:39] #6268 closed, assigned to ojw28

[2019-08-09 11:58] ojw28 commented on #6272
playing for few seconds

I do not see this for the version of VLC I'm using (3.0.7-0-g86cee31099). I only see a single frame. The file doesn't work at all in Chrome.

More generally, I'm confused about where this file has come from and how such files are being fed into the player. Since it doesn't seem to be a valid and complete media file, I don't think trying to play it in isolation is a valid t

[2019-08-09 13:22] nikhilkawatra opened #6277 "playback issue with the content intermittently . Throws Crypto Error"
playback issue is coming with the content intermittently . Throws Crypto Error.

Checked the mpd file for Working and Non Working cases and saw some difference .. Want to know if its really affecting the playback ?

Following is the error

 com.google.android.exoplayer2.ExoPlaybackException: android.media.MediaCodec$CryptoException: Crypto key not available
        at com.google.android.exoplayer2

[2019-08-09 14:00] rakeshostwal opened #6278 "ExoPlayer PlayerView not initializing when starting activity second time"
I have a onboarding activity where i have a view pager which loads 3 videos. Videos are loaded from assets only. When app is launched, it loads correctly, but when user logs out and come back to this screen again it shows blanck player view.

**NOTE:** This happens on Samsung device only

###  Reproduction steps

1. Launch App, observe Onboarding screen with player view pager
2.  Login to the app

[2019-08-09 14:35] ojw28 commented on #6165
Although I still don't understand the stack trace, there is something strange going on here (we don't expect more than one recursive call). I think it's probably caused by a cache file becoming truncated underneath the application. We'll push a change to make `SimpleCache` more robust against this occurrence.

[2019-08-09 22:23] ggabdol opened #6280 "How to handle MediaDrmResetException? What can cause a crash in a mediaserver process from ExoPlayer's perspective?"
### Searched documentation and issues
Issue #5217, Issue #3018
https://developer.android.com/reference/android/media/MediaDrmResetException.html
https://developer.android.com/reference/android/media/MediaDrm

### [REQUIRED] Question
We're seeing a lot of playback failures caused by the following exception from our error reporting tool.
[code]
The stream format is MPEG-DASH, and we're using ExoPlay

[2019-08-10 06:43] umangsaini commented on #6275
Exoplayer doesn't support RTMPT (tunneled) URLs.
If you play the same using RTMP with below URL, it will play

Are you looking for RTMP-Tunneled support?

[2019-08-10 09:02] bboykemo commented on #6275
i tried this link also not working maybe my code missing something , can you share your test code so that i can understand where's my bug !
and one more question if i use RTMP-Tunneled it will handle rtmp , m3u8 and mp3 or only rtmpt ?
thank you

[2019-08-10 13:30] umangsaini commented on #6275
You need to enable Extensions for the Demo application to play RTMP links.
The instructions for the same is given in the documentation - [Link](https://exoplayer.dev/demo-application.html).
I was not able to play RTMP-Tunneled link, but RTMP link works.

[2019-08-10 15:09] avecost commented on #4100
hello @erdemguven sorry i'm new to exoplayer.

I'd like to ask if your sample code on https://gist.github.com/erdemguven/8c5fb4d87f084456c81245f553ba3a2f
still applicable to the latest Exoplayer for downloading keys and secure content?

tia

[2019-08-10 18:01] bboykemo commented on #6275
Still i couldn't play it also after enable Extensions i don't know exactly where's the problem even i downloaded many git demo app to stream rtmp also not working also when i write code to stream not working

[2019-08-11 08:06] admobwebmaster opened #6281 "Play playing automatically"
Guys my exoplayer is playing the video automatically when clicking on the video, as I have to press the player to be able to play the video manually.

Thank you guys!

[2019-08-11 09:23] umangsaini commented on #6275
You will need to submit a bug report with all the details. The template for the same is at this [link](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-08-11 09:38] azhar5678 opened #6282 "Serve manifest.mpd file to exoplayer with nanohttpd"
how to serve manifest.mpd to exoplayer with nanohttpd.
Iam serving http://localhost:8000/manifest.mpd
in exolist.json file
But its not playing  . Do i need to serve all m4s files and all audio files, how do i do that.

[2019-08-11 10:04] Aroniez commented on #4200
Same issue still. Any solution yet?

[2019-08-11 14:36] kgrajan12 commented on #5799
same problem for me too

[2019-08-11 21:52] jjfster opened #6283 "HLS stream with CLOSED_CAPTIONS=NONE not showing captions"
I downloaded the Exoplayer v2 demo and loaded an m3u8 we use internally, but Exoplayer does not see the CLOSED_CAPTION embed (no TEXT tab available).
The stream uses this:
#EXT-X-STREAM-INF:CODECS="mp4a.40.2,avc1.77.31",RESOLUTION=1280x720,BANDWIDTH=1677312,AUDIO="audiogroup",CLOSED-CAPTIONS="group-cc"
https://xxxxxxx

There are no SUBTITLES tags accompanying the stream, and I was wondering if tha

[2019-08-12 02:45] Ethan1983 opened #6284 "Leverage Android Q Thermal API to request low bit rate stream as needed"
### [REQUIRED] Use case description
Android devices getting warm can throttle CPU/GPU and this could affect streaming performance.

### Proposed solution
Android Q provides thermal API for apps to be notified and fallback to low performance mode. These callbacks could be used by ExoPlayer to request low quality stream from multiple tracks (if available).

### Alternatives considered
Android Apps c

[2019-08-12 09:15] AquilesCanta commented on #5861
No, unfortunately. The reason is DashMediaSource (or any MediaSource) will not put non-inter-adaptive tracks in the same TrackGroup, which means that the AdaptiveTrackSelection (which has information of a single group) will not be able to adapt between them.

That is why you will most likely need changes in the MediaSource.

[2019-08-12 09:22] AquilesCanta commented on #6124
I'm sorry but I can't really follow what's supposed to happen from the provided code but I don't have the resources to guide you to a full implementation either. Just a comment:

I don't think you should be using a ConcatenatingMediaSource at any point, but rather creating your own ProgressiveMediaSource fork that will handle the creation of new periods when a track change is detected.

No, and un

[2019-08-12 09:46] shubhamvashisht commented on #5710
@LaurentiuSimionescu can you share some info how did you pre-buffer working?

[2019-08-12 15:33] thrashedbrain opened #6285 "Problem with mediaDescriptionAdapter"
Hi! Thanks for this awesome library. But i have a little problem.
I create a new MediaDescriptionAdapter for PlayerNotification Manager.

[code]

and create notification with channel:

[code]

but notification have only app name. What i am doing wrong?
Also have question, in notification i need only one play/pause button, how i can do this?

Thanks!

[2019-08-12 15:42] AquilesCanta commented on #6231
Please clarify:

When you play the provided playlist directly from the network, does it work?
If not, you should definitely either:
- Fix the content to include EXT-X-KEY where needed.
- Inject a custom decrypting data source as suggested in the comment above.

If yes, then at which point are you encrypting the content? How are you decrypting the content?

[2019-08-12 15:48] AquilesCanta commented on #6273
If you have the keys and can correctly map them to their URI, then you can inject a custom [HlsDataSourceFactory](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/HlsDataSourceFactory.html) which returns a custom DataSource implementation for type C.DATA_TYPE_DRM, so that when needed, the cached key is returned. Hope this helps!

[2019-08-12 15:48] #6273 closed, assigned to AquilesCanta

[2019-08-13 02:31] stevemayhew commented on #474
Pull request 6270 will address this issue.

[2019-08-13 02:31] stevemayhew commented on #474
https://github.com/google/ExoPlayer/pull/6270

[2019-08-13 04:26] #6176 closed, assigned to ojw28

[2019-08-13 07:38] VladimirCores commented on #6128
Hello ExoPlayer team,

Any updates on our issue, have you tried our test project on Android 9 device?

[2019-08-13 07:56] azhar5678 opened #6287 "how to use exoplayer player directly"
i am using exoplayer  directly but  app crashes, i want to know what other objects i need to initialize
to code to work
because im unable to get error (runtime)

 SimpleExoPlayerView exoPlayerView = (SimpleExoPlayerView) findViewById(R.id.exo_player_view);

    DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(this, Util.getUserAgent(this, "ExoPlayer"));
    Uri uri = Uri.parse("

[2019-08-13 07:58] VeiZhang opened #6288 "Does Exo support audio channel ?"
I want to switch audio channel, left volume scalar, right volume scalar and stereo, but I don't found how to set it.
**Does Exo support audio channel? If ok, how can I do?**

[2019-08-13 08:07] SteMora commented on #6238
Thanks for doing this so fast !
works great on 2.10.4

[2019-08-13 09:36] jakoss commented on #6287
I think you should provide error content if you want the issue to get resolved.

Are you positive that localhost is correct address of your stream? If you're testing it on emulator then you cannot use localhost to access host machine. You should use 10.0.2.2 instead (more: https://developer.android.com/studio/run/emulator-networking.html)

[2019-08-13 09:45] azhar5678 commented on #6287
vedio playing fine on localhost with ur demo app by seting address
localhost in json file.

please provide me code sample
That run one file from localhost directly.

On Tue, Aug 13, 2019, 3:07 PM Jakub Syty <notifications@github.com> wrote:

[2019-08-13 09:51] jakoss commented on #6287
Just use 10.0.2.2 instead of localhost (if you are using Android Emulator)

[2019-08-13 09:57] azhar5678 commented on #6287
Iam not using emulator. Iam play vedio from usb otg with nanohttpd and
vedio are playing fine but i want to play  vedio with a click of button not
from sample chooser activity.

On Tue, Aug 13, 2019, 3:22 PM Jakub Syty <notifications@github.com> wrote:

[2019-08-13 10:05] jakoss commented on #6287
Ok. Please provide error message and possibly stack trace. You can intercept errors using this: https://exoplayer.dev/listening-to-player-events.html#player-errors

[2019-08-13 10:30] azhar5678 commented on #6287
APP CRAHING NO ERROR NOT EVEN
WITH EXCEPTION HANDLER WHICH GIVING ME ERRORS IN A FILE BEFORE.

I just need a simple activity which play file from localhost on click of a button.

I dont know what to initialize before starting player. What data values the player need before playing except for address.

On Tue, Aug 13, 2019, 3:36 PM Jakub Syty <notifications@github.com> wrote:

[2019-08-13 10:36] jakoss commented on #6287
did you set `simpleExoPlayer.setPlayWhenReady` to true?

[2019-08-13 10:41] noamtamim opened #6291 "Make license renewal failure non-fatal until the end of the license duration"
### [REQUIRED] Use case description
When the license is **really** expired we don't even pass the stream to ExoPlayer, we fire an error event instead. Now we also have to take this value into account, but it's a private constant (in DefaultDrmSession) so we can't. Hardcoding `60` (the current constant value) in our code seems like a bad idea because this value may change, at some point.

### Propo

[2019-08-13 10:49] harshmittal29 opened #6292 "Format language parameter returning 3 letters instead of 2"
I am creating my own Format object to sync my VTT file with the video
This is how I create a format object

[code]

I get following object in return after creation

Here the format language has changed from "en" to "eng".

It was returning 2 letters before recent update. Is it possible for me to get 2 letters instead of 3?

[2019-08-13 11:03] tonihei commented on #6292
The language gets normalized into a fixed format to be able to make language comparison (e.g. for track selection based on language preferences).

We recently changed our normalization from 3-letter codes to 2-letter codes because they are more common and better integrated into the rest of the Android system. That means 2.10.4 and above should have a 2-letter code again.

[2019-08-13 11:03] #6292 closed, assigned to tonihei

[2019-08-13 11:24] emilsob commented on #6231
Yes, when the playlist is provided directly from the network (or cache) it does work as expected. It also works correctly when we do not try to encrypt the downloaded content, issue occurs only when we make use of `Aes` Module. Please, look at the snippet below:

The way we create `DownloadManager` in the `DownloadService`:

[code]

The way we create our `HlsMediaSource`:

[code]

When we don't us

[2019-08-13 11:55] azhar5678 commented on #6287
Same result app crashing.

here is the whole activity
public class MainActivityexo extends AppCompatActivity {

    private boolean useExtensionRenderers;
    private DownloadTracker downloadTracker;
    private MenuItem preferExtensionDecodersMenuItem;
    private MenuItem randomAbrMenuItem;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        ExceptionReporter reporter

[2019-08-13 12:32] anony-tech commented on #6272
We recieve this file from live streaming whose media is given by one of our customers.
We used Totem movie player that it is inbuilt with ubuntu OS. We wonder the 'test' file is played using this player as well.

[2019-08-13 12:43] AquilesCanta commented on #6275
As stated by @umangsaini, please provide all information required by the [template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-08-13 12:48] AquilesCanta commented on #6277
Crypto key not available usually means that the server is not returning the required key, which may be a server issue. We need the full [template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md) information to assist further. Also worth checking [this documentation](https://exoplayer.dev/drm.html#multi-key-content), just in case.

[2019-08-13 13:20] AlexDundar opened #6293 "Play encrypted .m3u8 stream"
I use `ExoPlayer `in my `Android `app for playing .m3u8 video and audio streams. It works well. But now I want to add the ability to play encrypted(aes encryption on server-side) videos. For example, I obtain from backend the next parameters:

[code]
decrypt the stream and play it in my ExoPlayer. How can I make this?

[2019-08-13 13:56] AquilesCanta commented on #6293
Please read the [corresponding section](https://tools.ietf.org/html/rfc8216#section-4.3.2.4) in the HLS specification. You need to update your content so that the playlists include the required tags.

[2019-08-13 13:56] #6293 closed, assigned to AquilesCanta

[2019-08-13 13:59] stetro opened #6294 "Occasionally ANRs on Huawei devices"
### Issue description
We experience occasionally ANRs on different Huawai devices when clearing video surface on an simpleExoPlayer instance. We experienced something similar before reported by my colleague in #3724.

### Reproduction steps
Although we have similar or same devices to test on we cannot reproduce this issue in our environment.

### A full bug report captured from the device
Unfortun

[2019-08-13 15:31] andrewlewis commented on #6288
Swapping channels and modifying their volumes is not currently supported out of the box, but it's possible to implement it with your own audio processor, possibly based on the existing `ChannelMappingAudioProcessor`. See #2659 for more information. If that doesn't help, please provide some more details about what you're trying to do.

[2019-08-13 18:33] andrewlewis commented on #6272
ffplay shows errors about NAL unit sizes and an invalid QP delta, so it seems likely the media is invalid or corrupted. Also, it has multiple `traf` boxes in a single `moof` which we do not handle currently (see [`FragmentedMp4Extractor`](https://github.com/google/ExoPlayer/blob/5da4c67/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/FragmentedMp4Extractor.java#L666)).

[2019-08-13 18:58] armanhi opened #6295 "Add 2.10.X-specific offline documentation"
### [REQUIRED] Searched documentation and issues
Haven't found anything related.

### [REQUIRED] Question
We've successfully implemented download using the APIs from version 2.9.6. Today, when trying to update to version 2.10.4, I've seen a lot of breaking changes (such as TaskState class gone). Could you please guide me through porting it? Also, are there any new API changes expected in next rele

[2019-08-13 19:51] hendercine commented on #1993
Any movement on this?

[2019-08-13 20:00] ronenneumark opened #6296 "Ignoring default_Kid"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-08-13 22:56] ssenanayake opened #6297 "DASH: Support <Label>text</Label> element for adaptation sets"
### [REQUIRED] Issue description
Currently in Exoplayer "DashManifestParser" the "label" is treated as an attribute in "AdaptationSet". Based on the DASH Spec it's a node of "Label"

### [REQUIRED] Reproduction steps
Current Exoplayer DASH parser: https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/manifest/DashManifestParser.jav

[2019-08-13 23:34] rrfrias commented on #6128
From the device log, i see

[code]
and
[code]

The provisioning request (first line) does not seem to have the &signedRequest= appended to the URI. Can you check?

[2019-08-14 01:00] #6193 closed, assigned to AquilesCanta

[2019-08-14 04:45] GouravSna commented on #6213
I tried turning off `AudioTrackPositionTracker.needsPassthroughWorkarounds` but it did not work.

Then I tried changing the buffer size in `DefaultAudioSink.configure` to 24k then it was working fine for the time it was coming 44.1k at which it was playing the audio after doing a pause on the media.
So just want to understand what is your suggested value to fix this as a temporary workaround ?

<i

[2019-08-14 09:14] VladimirCores commented on #6128
This is almost exactly the same as in the demo project of ExoPlayer.
[code]
but we use `new String` instead of `Util.fromUtf8Bytes`.
And all of this works on Android 7 and 8, same code no platform specifics.

[2019-08-14 09:25] VladimirCores commented on #6128
I imported our implementation, DrmVideoView, into the ExoPlayer demo project, copied all needed libraries from the test project I sent to you, commented original code inside `initializePlayer()` method and implemented ours:
[code]
And it works, no call for the `executeProvisionRequest` at all.

[2019-08-14 09:40] andrewlewis commented on #1993
I'm afraid not. I'll plan to update this issue when we get round to it.

[2019-08-14 09:48] AquilesCanta commented on #6296
Under the assumption that content is malformed, I think your options are:
- Fix the content.
- Inject your own [DashManifestParser](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/dash/manifest/DashManifestParser.html) which parses the manifest the way you'd like it to. You can inject it through [DashMediaSource.Factory](https://exoplayer.dev/doc/reference/com/google/andro

[2019-08-14 09:48] #6296 closed, assigned to AquilesCanta

[2019-08-14 09:56] DQvsRA commented on #6128
We are passed 2 weeks from "deadline" already and it's an extremely urgent question!

[2019-08-14 10:04] AquilesCanta commented on #6276
If you want to minimize start up time, then prepare the players at the position you want them before hand. The seek part may be necessary if you don't know beforehand at which position you need to start playback, but preparation can happen before any of the videos starts playing.

So, you could introduce a step between 1 and 2 which is "Prepare players". Wait until they are both ready to start the

[2019-08-14 10:04] #6276 closed, assigned to AquilesCanta

[2019-08-14 10:13] andrewlewis commented on #6213
Based on your comment, it sounds like the workaround we have for Lollipop is indeed needed on Fire OS 5. This means that there is going to be some audio playout after pausing in passthrough mode. Picking a smaller buffer size reduces the duration of this playout but also increases the chance of an underrun.

The default buffer size is a conservative estimate based on the maximum bitrate for this f

[2019-08-14 10:36] pearleye opened #6299 "Access denied finding property "OMX_VIDEO_DEC.DEC"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/

### [REQUIRED] Question
We see the below access denied error while watching content in Android Live TV applicaiton in
a custom device which has Android TV (Pie 9) version ported. We use ExoPlayer to play content when there is a request from LiveTV application.

08-13 20:22:35.123  1751  9311 **E libc    : Access denied findin

[2019-08-14 10:54] AquilesCanta commented on #6278
If this is a device specific issue, I'd suggest contacting the device manufacturer to report the issue.

Being device specific, I am tempted to rule out the possibility of app-code bad resource management, since it should eventually fail in other devices too.

There is not much I can do with the provided information, and we don't have the resources to investigate a device+app specific issue. If yo

[2019-08-14 10:54] #6278 closed, assigned to AquilesCanta

[2019-08-14 11:01] Dniel97 opened #6300 "FfmpegAudioRenderer compiling errors"
### [REQUIRED] Issue description
I imported the folder: `com/google/android/exoplayer2/ext/ffmpeg/` into my existing android project and got several compiling errors inside `FfmpegAudioRenderer.java`:

- line 33: error: package org.checkerframework.checker.nullness.qual does not exist
- line 47: error: cannot find symbol class MonotonicNonNull

To fix this I imported `androidx.annotation.NonNull`

[2019-08-14 11:22] AquilesCanta commented on #6280
I would attempt to diagnose the underlying cause of the issue and try to mitigate whatever is causing the exception. I wouldn't aim to handle the exception gracefully.

On the exoplayer side, I think the only current way to handle `MediaDrmResetException` is to re-prepare the player, unfortunately.

I don't think it's possible to continue playback seamlessly without heavy refactoring in the entire

[2019-08-14 11:22] #6280 closed, assigned to AquilesCanta

[2019-08-14 11:24] AquilesCanta commented on #6281
Use [setPlayWhenReady](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#setPlayWhenReady-boolean-) to configure whether you want to player to play or not. The way you wire the UI to calls of setPlayWhenReady is up to you.

[2019-08-14 11:24] #6281 closed, assigned to AquilesCanta

[2019-08-14 11:27] AquilesCanta commented on #6282
This issue is not related to ExoPlayer. Please try your luck in a general Q&A site, like stack overflow. Make sure you include more context, for people to be able to assist. For example, the type of error you are encountering. Good luck!

[2019-08-14 11:27] #6282 closed, assigned to nobody

[2019-08-14 11:30] AquilesCanta commented on #6283
ExoPlayer does support closed captions, please fill the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md) for us to assist further.

[2019-08-14 11:31] AquilesCanta commented on #6284
@tonihei, mind having a look in the context of performance?

[2019-08-14 11:36] AquilesCanta commented on #6287
Without knowing what kind of error you are getting, there is no way we can help. Aside, if the app is crashing, as opposed to hitting a player error, then the crash is most likely caused by app code. Please fill the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md) and we will try to assist.

[2019-08-14 14:11] tipoc123 commented on #5853
I have the same issue. Exoplayer 2.9.6 plays HLS video fine, but Exoplayer 2.10.* shows multiple errors (and video hangs at that points) :
[code]
Sorry, no publicly available link.
In both cases the same device:
Android 6.0.1 STB GIEC MP1113 (chip Amlogic s905x)

ADB Bugreport (ExoPlayer 2.10.0):
[bugreport.txt](https://github.com/google/ExoPlayer/files/3501734/bugreport.txt)

[2019-08-14 14:16] AquilesCanta commented on #6291
Could you clarify what this means? Also could you provide a precise example of the required usecase?

[2019-08-14 14:26] AlphaCircle commented on #6276
Hello AquilesCanta
Thanks for your advice. However, it is hard to put a step between 1 and 2 because it is not possible to know when the switching happens. That is up to user's mind.

During a few days, I have looked into the exoplayer code and why such a big delay happens and specifically what the big delay makes. I figured out the place; that is http connect/disconnect (input stream close) which

[2019-08-14 14:35] AquilesCanta commented on #6276
What I am trying to say is that

the start() step shouldn't be there (I am guessing, I don't have enough context). If that step is just a seek (instead of a start() plus seek()) and the seek happens in-buffer, the latency should be pretty small. Depending on the size of the videos, you could keep everything in memory to minimize latency.

[2019-08-14 14:40] VladimirCores commented on #6128
We found the problem and fixed the issue. It was because of the second parameter in `executePost(url, null, null);` in `executeProvisionRequest`, the `data` parameter, had value `null`, but it has to be `Util.EMPTY_BYTE_ARRAY`, not sure why it's an issue on Android 9.

[2019-08-14 14:40] #6128 closed, assigned to VladimirCores

[2019-08-14 14:40] noamtamim commented on #6291
Let's say a downloaded asset has expired.

When a downloaded asset expires, the UI control to play it gets disabled or replaced with a "renew" button. In any case, the app avoids "expired" errors by simply not trying to play expired assets.

With MAX_LICENSE_DURATION_TO_RENEW_SECONDS, effectively the expiration is 60-seconds shorter. If there are 59 seconds remaining and the user taps "play", the

[2019-08-14 15:04] tonihei commented on #6284
Thanks for the feature request. We can probably look into this, but it's slightly unclear what the logic should be exactly. I have the feeling different apps may want different behavior depending on the available formats and the various thermal severity levels.

One very basic approach could be to listen to the thermal status in SimpleExoPlayer and force set the `forceLowestBitrate` flag once we r

[2019-08-14 18:25] AquilesCanta commented on #6291
Do you mean that the license renewal fails?

[2019-08-14 20:49] noamtamim commented on #6291
When you play offline assets you may actually be offline, so renewal is not possible. And there's still one minute left, so renewal is not required, either.

[2019-08-15 01:30] Ethan1983 commented on #6284
@tonihei A default handling that can be overridden or disabled by applications for custom logic (if needed) would help. Yes, at this moment it helps only Pixel devices but hopefully it should see wider adoption by other vendors.

[2019-08-15 09:02] AquilesCanta commented on #6291
If I understand correctly, your issue is that you want to prevent offline content from playing whenever `license remaining duration - 60 < duration of the content` (or a similar condition). The reason being that the DefaultDrmSession tries to renew the offline license 60 seconds from the end of the license duration and, when it fails, an error is propagated. Please confirm whether this is true.

I

[2019-08-15 10:29] AquilesCanta commented on #6295
I think the best resource I can point you to is the [official documentation](https://exoplayer.dev/downloading-media.html). I am not aware of any specific porting guide.

If you have any specific questions, post them below and I will reopen the issue. Or file a new issue.

[2019-08-15 10:37] AquilesCanta commented on #6300
I don't think this is an ExoPlayer issue, but rather an issue with the way the project is being imported/modified. You are in a much better position than I am to diagnose this issue. If you have evidence suggesting this is an issue with ExoPlayer, please post it below and I will reopen the issue.

[2019-08-15 10:37] #6300 closed, assigned to AquilesCanta

[2019-08-15 11:44] noamtamim commented on #6291
Yes -- I believe your proposal makes sense. If renewal failure is not fatal, playback can start.

[2019-08-15 13:08] Dniel97 commented on #6300
`FfmpegAudioRenderer.java` overrides the method `getOutputFormat()` which returns a Format. The function `createAudioSampleFormat` [Format (ExoPlayer library)](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Format.html#createAudioSampleFormat-java.lang.String-java.lang.String-java.lang.String-int-int-int-int-int-java.util.List-com.google.android.exoplayer2.drm.DrmInitData-int-ja

[2019-08-15 13:14] AquilesCanta commented on #6300
Perhaps you are not using java 8 features in your project? Any reason not to enable them?

[2019-08-15 13:16] Dniel97 commented on #6300
Inside my` build.gradle` I'm using
`    compileOptions {
        targetCompatibility JavaVersion.VERSION_1_8
    }` to enable Java 8.

[2019-08-15 13:18] Dniel97 commented on #6300
EDIT: You are right, I just needed to add `sourceCompatibility JavaVersion.VERSION_1_8` and it's working fine.

[2019-08-15 13:21] AquilesCanta commented on #6300
Great!

[2019-08-15 14:02] heitorri commented on #4940
I have the same problem with android-ndk-r20

[code]

[2019-08-15 20:06] ssenanayake commented on #6255
Quick update: Setting L3 seems to work on the Nexus 6P.

frameworkMediaDrm.setPropertyString("securityLevel", "L3")

will update after our QA team does more thorough testing.

[2019-08-16 03:32] 3-BodyCoding opened #6302 "Dynamically change ConcatenatingMediaSource"
I used ConcatenatingMediaSource to play a list of videos, but after I removed or added the ConcatenatingMediaSource, the actual playlist of the exoplayer did not change. I had to call exoPlayer.prepare again, but the playback would be stopped. How do I dynamically add or remove a playlist? Thank you.

[2019-08-16 04:04] AlphaCircle commented on #6276
Hello, AquilesCanta
Thanks for your clarification. Yes, my intention was not start()+seek() but just seek() after a while. I am afraid the relevant data for my seek() is unlikely to be available inside the buffer but the seeking position is far away from the buffered duration. So as code written, the seekToUs() is trying to dump off the buffer and reconnect the http link with newly updated request

[2019-08-16 06:39] jakoss commented on #6302
Just to be sure. You added new `ConcatenatingMediaSource` to existing `ConcatenatingMediaSource`? I don't think that's supported. You can add any single `MediaSource` to `ConcatenatingMediaSource`, but i'm not sure how nested `ConcatenatingMediaSource` could work

[2019-08-16 08:12] tonihei commented on #6302
@Nekromancer  Nested `ConcatenatingMediaSource` are supported and it should work just fine.

@AndroidJohnsonWang Can you clarify what you mean by "the actual playlist of the exoplayer did not change"? The way it's currently implemented means that all dynamic playlist changes are not immediately visible in the `Timeline` you get from the callback and `Player.getCurrentTimeline`. If you'd like to do

[2019-08-16 09:44] VeiZhang commented on #6288
@andrewlewis Thanks a lot, I'm trying.

[2019-08-16 09:49] VeiZhang opened #6304 "Does Exo player support to set error time out?"
When exo player happend `timeout` or `socket timeout` exception, inner player will retry soon, the problem is how can I set the error retry time? Because inner player retry fastly.