[2021-04-28 08:27] kim-vde commented on #8868
I meant that you should delete the folder before creating the symbolic link, and then make sure that the symbolic link has been correctly created.

I don't see anything wrong in the `./configure` command.

My clang version is a bit older.

[code]

Running the last command, I get the same as you.
[code]
Looking at older Github issues, it seems you are not the first one to run into this but none if

[2021-04-28 08:33] kim-vde commented on #8872
The file provided is an HLS master playlist. Can you help on this @christosts ?

[2021-04-28 08:34] andrewlewis commented on #8868
There should be a log file with more verbose output after you see the error `unable to create an executable file`, possibly called `config.log` (that may not be the exact name). Please could you try to find the verbose logging and attach it here? I think that may help us track down the root cause.

[2021-04-28 08:35] #8808 closed, assigned to kim-vde

[2021-04-28 08:40] dzolnai commented on #8868
Yes, the symlink works fine.

Here you can find the config.log created after running the long command from my previous comment:
[config.log](https://github.com/google/ExoPlayer/files/6390365/config.log)

[2021-04-28 08:53] andrewlewis commented on #8868
[code]

Does clang exist at this path?

[2021-04-28 08:55] dzolnai commented on #8868
Yes:
[code]

[2021-04-28 08:59] dzolnai commented on #8868
I have changed TMPDIR to a `tmp` directory I created inside the `ffmpeg` root repo.
Now the end of my logs look like this:
[code]

I have checked, and the file `/Users/dzolnai/Documents/Work/ffmpeg/tmp/ffconf.fv1NJEWM/test.c` Does not exist. The `tmp` directory is completely empty. Maybe the part where it should create the temporary file goes wrong?
I'll try to play a bit around with permissions a

[2021-04-28 09:31] menscikov commented on #8824
Hello, thank you for checking the stream.
Yes, it looks like that this stream has been modified, and only 2 audio tracks are available now.
If in the future the audio tracks will change, I will post about it here.
Thank you.

[2021-04-28 09:33] christosts commented on #8824
I'm closing this issue, feel free to re-open if there's an update.

[2021-04-28 09:33] #8824 closed, assigned to christosts

[2021-04-28 10:00] dzolnai commented on #8868
I finally found the solution. Moving the `ffmpeg` directory outside Documents did not help.
But when I copied the NDK over to a temporary place, it all started working.

So for others, if you run into a similar issue, here's what I did:

[code]

The first command might take a minute to complete.
I still don't understand the cause behind it, but I'm glad that I finally got it working.

[2021-04-28 11:20] danmar opened #8879 "noob question; how do I build demo"
I have tried to follow the instructions here;
https://exoplayer.dev/demo-application.html

I downloaded and installed android studio today (linux machine) so it's latest and greatest.

When I build I get this message;
[code]
I went looking in the SDKManager and I can't see any way to install "Android SDK Build-Tools 29.0.2". However I could install the "Android SDK Build-Tools 31.0.2"

I still get

[2021-04-28 11:35] fgl27 commented on #8879
The reason is right there "some licences have not been accepted."

Android studio issues resolution is something very easy to find as is used for so many.

Just Google the error, usually first result has the answer

https://stackoverflow.com/questions/54273412/failed-to-install-the-following-android-sdk-packages-as-some-licences-have-not

[2021-04-28 12:11] Gillepool opened #8880 "Negative PlaybackState position wont update PlaybackState position."
Hi, we have updated our ExoPlayer version from 2.11.7 to 2.13.3 which causes an unexpected behavior for us.
 If you do a seekTo with a negative value, (lets say negative 5000ms) which will set the PlaybackStateCompats position to a negative value. If you then start playing, the audio will play as usual but the position of PlaybackStateCompat will be stuck at 0 until you change the state of Playbac

[2021-04-28 12:35] eneim opened #8881 "Should switchTargetView support PlayerView <--> StyledPlayerView?"
One of my practice to keep the Player instance across different playback surfaces is to use the `switchTargetView` method. It is so useful, but it is not possible to switch the target from a PlayerView to a StyledPlayerView and back. As far as I can see, the implementation of `setPlayer` is similar for these classes.

I want to ask (1) Is there any concern about switching a `Player` instance from

[2021-04-28 13:28] suhaskam opened #8882 "setVideoScalingMode not working - Video is stretched to fill the SurfaceView"
I am using a SurfaceView and using SimpleExoPlayer for playback.
The issue is that the video is stretched. No black borders appear on the left and right side of the video.

setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING) does not seem to have any effect.
Called this API while building SimpleExoPlayer too. No effect.
The video is rotated by 90, however , cropping does not work

[2021-04-28 13:55] danmar commented on #8879
ok thanks. I managed to get this working somehow.

[2021-04-28 13:55] #8879 closed, assigned to nobody

[2021-04-28 17:28] nishantkp commented on #8037
@rrfrias were you able to verify it with the new build?

[2021-04-28 17:28] ojw28 commented on #8882
Duplicate of https://github.com/google/ExoPlayer/issues/2484

[2021-04-28 17:28] #8882 closed, assigned to ojw28

[2021-04-28 17:33] danergo opened #8883 "Is it possible to grab a frame from a video without displaying it?"
I know I can get a frame of a playing video by using TextureView and its getBitmap function.

However can I also get a frame from a video if I don't want to display the video at all, hence I don't have any surface on the UI?

Can it also work somehow when the phone's screen is off?

[2021-04-28 17:38] andrewlewis commented on #8883
The information in #7167 will probably help. The non-`TextureView` techniques should work without an output view (with the screen off).

[2021-04-28 17:38] #8883 closed, assigned to andrewlewis

[2021-04-28 19:18] Pradeesh76 opened #8884 "to know why the below M3u8 link not play in exo player getting error playback failed (its a active Link)"
help to know why the below m3u8 link not working in ExoPlayer

https://acv.asianetmobiletvplus.com/webstreams/8f8e72769cb3e3a6e27c220e1e3887b8.smil/playlist.m3u8

rest all other links working fine in example provided  even in new version   r2.13.3

any solution to play this link in Exo Player

Before filing a question:
-------------------------

- Ask general Android development questions on Stack

[2021-04-29 01:04] #8760 closed, assigned to lcf87

[2021-04-29 02:35] JiannaiJ opened #8885 "Unable to build ffmpeg extension"
ExoPlayer: 2.13.3
ndk: 21.4.7075529 / 21.0.6113669
ffmpeg: release 4.2
HOST_PLATFORM: darwin-x86_64

[config.log](https://github.com/google/ExoPlayer/files/6395975/config.log)

[2021-04-29 07:00] ivostefanoff opened #8886 "Unable to build locally"
Hello,
I couldn't build locally due to following error:
error: cannot find symbol
import android.media.MediaParser;
                    ^
  symbol:   class MediaParser
  location: package android.media

even the library obviously is there.
Have someone seen such as issue?

[2021-04-29 08:26] kim-vde commented on #8884
ExoPlayer doesn't play the provided stream because it gets a 403 (Forbidden) when trying to get the content of https://acv.asianetmobiletvplus.com/webstreams/8f8e72769cb3e3a6e27c220e1e3887b8.smil/playlist.m3u8. FFMPEG doesn't play it either for the same reason.

On the other hand, the file can be read from the browser or with curl.

The next step is to figure out why the server refuses to answer t

[2021-04-29 08:37] #8833 closed, assigned to marcbaechinger

[2021-04-29 08:53] dzolnai commented on #8868
I got an even better solution: it turns out there is no need to copy the NDK to another place. The issue was the tilde (`~`) in the NDK path.
This works:
[code]
This does not work:
[code]
Maybe some command is ran by a different user? Or there is some path processing done which can not handle the tilde?
Anyways, feel free to close this issue if you don't have any further comments or ideas.

[2021-04-29 09:05] kim-vde commented on #8886
Which branch are you trying to build? Can you try changing the compileSdkVersion to 30?

[2021-04-29 09:17] kim-vde commented on #8885
Could this be the same problem as in #8868? If not, could you please specify the value you set for the environment variables in the [build instructions](https://github.com/google/ExoPlayer/tree/r2.13.3/extensions/ffmpeg) and the error you get in the console?

[2021-04-29 09:39] kim-vde commented on #8868
Thanks for sharing the solution! I could indeed reproduce by changing the NDK_PATH to start with a tilde.

[2021-04-29 09:39] #8868 closed, assigned to kim-vde

[2021-04-29 10:07] ojw28 commented on #8881
We could add a new interface to make this possible, but it seems pretty unusual to be using both within a single app, given they look so different. What's the use case for doing that?

[2021-04-29 12:55] Rulemylife opened #8887 "Last frame of previous video will be shown when switch video"
1.ExoPlayer 2.13.3
I add midiaItems to SimpleExoPlayer. When seek to next window or the previous window ,the issue will occur.
By the way , When the next or the previous video is downloaded, the issue will be occured easily.

[2021-04-29 14:24] asafbennatan opened #8888 "controlling applied rotation parameter in PlayerView.onVideoSizeChanged"
I have a requirement to play a video rotated by 90 degrees and fill the entire screen with it .
I tried rotating the `PlayerView `itself but when I programmatically set its resize mode afterwards using :
        `PlayerView.setResizeMode(AspectRatioFrameLayout.RESIZE_MODE_FILL);`
the rotation is not applied.
looking at `PlayerView ` code I saw the following method:

[code]
implemented by `Componen

[2021-04-29 14:28] krocard commented on #8874
2.8.3 was published 3 years ago (7 Aug 2018). Do you observe the same issue with a recent version of ExoPlayer? You can try with [our demo application](https://exoplayer.dev/demo-application.html).
SetVolume is sent directly to the audioTrack which sends it to the audio HAL. ExoPlayer can't affect the audio stream itself as it's encoded.

2 solutions if a recent version of ExoPlayer doesn't solve

[2021-04-30 08:31] kim-vde commented on #8887
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-04-30 09:01] kim-vde commented on #8888
The rotation degree is usually encoded in the media content itself (in the tkhd box for MP4 for example), so you could try to do that.

You could also try to implement one of the solutions described in #8099.

I don't think there is an easier way to do what you want.

[2021-04-30 11:32] NightDeveloper-wq opened #8889 "Exoplayer video images are overlapping on my viewPager"
I have a viewpager with multiple videos. I am viewing these videos with the exoplayer. Video images when I turn pages in the viewpager overlapping. Viewpager consists of video fragments.

My exoplayer version: 2.13.3

[![enter image description here][1]][1]

**MyPagerAdapter:**

    private class VideoPagerAdapter extends FragmentStatePagerAdapter {

            @SuppressLint("UseSparseArrays")

[2021-04-30 13:38] cdongieux commented on #8847
Hi Toni,

Sorry for the late reply.
I reported what you said to our streams production team, according to them
this wrong publishTime value is caused by the source stream clock slowly
drifting, so fixing this bug on our side does not seem that simple.
In the meantime, as ExoPlayer behavior changed between version 2.12.X and
2.13.X with the same DASH manifest "profile" (meaning with this manifest
p

[2021-04-30 17:25] sruditsky commented on #8840
@christosts
I just sent a playlist URL as you described above. It requires a proprietary DRM mechanism, so it would be difficult to actually make it play for you.
However, it probably helps to explain my question.
I just used this URL to start playing this content twice and I experienced the problem on the first attempt while the second attempt did not show this issue.

This is the list of  the (a

[2021-04-30 19:19] aryehbaker opened #8890 "java.lang.IllegalStateException at com.google.android.exoplayer2.util.Assertions.checkState thrown when connection is throttled playing HLS stream"
Exoplayer stops functioning when throttling API 30 emulator to network Type 'HSDPA' and signal strength 'poor'

Using the [IMA DAI Advanced Example](https://github.com/googleads/googleads-ima-android-dai/releases/download/3.22.3-0/AdvancedExample3.22.3-0.zip) with the Buck Bunny stream, before 10 ad breaks play the player stalls and the logcat shows:

[code]

[2021-05-01 00:15] rbattaglin25 opened #8891 ".ogg is stuttering when play"
We noticed when the file .ogg contains the instrument "Reco Reco" the audio is stuttering in some specific devices. For example, Samsung Galaxy Tab S3 with SDK 28.

https://github.com/rbattaglin25/poc_exoplayer.git

Here is a small project using exoplayer that has this problem.

[2021-05-01 05:53] sruditsky commented on #8840
@christosts
I think I understand now what is really going on and the answer to my question in the previous message is "yes, but it does not always work well".

I see the following sequence which leads to this problem:
a) initial loadPosition is set to the beginning of a segment in the primary (i.e. video) HLS media playlist
b) this loadPosition is then used to calculate which audio segment should

[2021-05-01 11:13] #8865 closed, assigned to icbaker

[2021-05-01 22:01] kgrevehagen opened #8892 "DRM Session acquisition in Loader"
This is a follow-up on comments made in #7613, regarding seamless codec transition and especially what I see as your solution to it.
@tonihei says:

I have a couple of questions regarding that:

First of all, I just wonder if you have made any progress or plans for this in the near future?

But most importantly, maybe I was not clear enough in my description of the issue(in #7613), but I have a ha

[2021-05-02 21:59] xxxportxxx opened #8893 "how to get url mpd & drm license for this"
https://www.zee5.com/global/tvshows/details/razia-sultan/0-6-377/episode-1/0-1-101372

[2021-05-03 08:54] eneim commented on #8881
@ojw28 Thanks for the answer, having an interface on top of these Views would be nice.

It is a library that supports switching Player between different playback _targets_ (in other words, different PlayerView instances in terms of the old ExoPlayer versions). Thinking like having an Activity that uses StyledPlayerView and when the user clicks it, it opens another Activity that uses PlayerView, my

[2021-05-03 08:55] jrocharodrigues commented on #8842
Hi @icbaker ,
I have a similar use case, and problem in my app, of switching between DRMprotected and clear streams.

Rigth now, without using the placeholder DRM Session, i see a black screen when switching from DRM Protected Content -> Clear Content.

I've tried the approach you've suggested, by by passing `true `to `MediaItem.Builder.setDrmSessionForClearPeriods` when building the media item, a

[2021-05-03 11:02] rahadian347 commented on #8261
is there any solution for this bug ? i got it in my android device with custom ROM Havoc OS

[2021-05-03 14:34] #8889 closed, assigned to nobody

[2021-05-03 15:38] devingryu commented on #8846
Problem solved by recoding. Thanks for leaving this open for a while.

[2021-05-03 15:38] #8846 closed, assigned to icbaker

[2021-05-03 15:45] xxxportxxx opened #8895 "how to solved this json exolist, please help me"
}
    ]
  },
  {
    "name": "TEST CHANEL",
    "samples": [
	 {
        "name": "CITRA",
        "logo_uri": "https://divign0fdw3sv.cloudfront.net/Images/ChannelLogo/contenthub/60_144.png",
        "uri": "https://linear-playback.astro.com.my/linear-livewvdaf/2700/default_ott.mpd",
        "drm_scheme": "widevine",
        "drm_license_url": "https://sg-sg-sg.astro.com.my:9443/vgemultidrm/v1/wide

[2021-05-03 19:32] devingryu opened #8896 "Applying time stretched media duration into player"
SonicAudioProcessor has time stretching ability, but it doesn't take into account media duration of the player.
For example, when media of duration 2:00 is shrunk by 0.7 with AudioProcessor, then shown audio duration should be 1:24 or should be played faster. But it doesn't work like that even though music playes well.
I know that player.setPlaybackParameters() does the thing, but I want to know h

[2021-05-04 03:50] drayan85 opened #8897 "DownloadHelper: No way to pass extractor in DownloadHelper.createMediaSource, unable to play ProgressiveMedia"
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-05-04 08:51] icbaker commented on #8893
Reverse engineering the streaming URLs from a web page hosting embedded video content is well outside the scope of this issue tracker.

You should contact the host of the content - they will be able to provide the URLs you need.

[2021-05-04 08:51] #8893 closed, assigned to icbaker

[2021-05-04 08:54] icbaker commented on #8895
This looks very similar to https://github.com/google/ExoPlayer/issues/8856 where not enough information was provided.

Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient informat

[2021-05-04 09:11] yoobi commented on #8452
@kgrevehagen May I ask a quick question, I'm getting a little issue with my DownloadService, did you create 2 DownloadService as well? One for each storage

[2021-05-04 12:14] alitele commented on #6657
@BrendanParks thanks for help, can you please share the way to make the notification background color green?

[2021-05-04 12:45] tonihei commented on #8847
Thanks for going ahead and creating #8894. I just had a quick look and I think it may solve your issue but isn't really the right thing to do. The primary time source for the player is the `UTCTiming` element and we shouldn't just override it by the `publishTime` in this one location. So whatever counts as "current time" needs to come from the `UTCTiming` element only. Note that the underlying pro

[2021-05-04 13:44] sruditsky commented on #8840
@christosts
Actually, just adding a small value to targetPositionInPlaylistUs in HlsChunkSource.getChunkMediaSequence() helps to avoid this:

[code]

[2021-05-04 14:01] ZloyDyadka commented on #8747
Hello! Yep, grey-scale image is expected content.
Now, we have updated the playlist for only 3 segments and see problems. Playback stalls every 6 seconds, but for 4 segments we haven't problems.
Version 2.13.3

[2021-05-04 18:16] ronak2121 commented on #8595
Not sure if you can help answer my question above @christosts ?

[2021-05-04 18:26] icbaker commented on #8892
This is done - it's not actually in the `Loader`, but it happens on the loading thread. The relevant commits are at the bottom of https://github.com/google/ExoPlayer/issues/4133 and it will be included in the 2.14.0 release.

------

I'm not aware of configuring the codec being slow/a bottleneck. The issues you've linked from your post mention slowness in `MediaDrm#provideKeyResponse`, but this is

[2021-05-04 19:49] rajinikanth0602 opened #8898 "Update trackselector parameters without clearing the buffered data"
We are providing 3 different player sizes for users to watch HLS videos and we want to restrict the video resolution to the player size, we are using `DefaultTrackSelector.ParametersBuilder.setMaxVideoSize()` and `trackselector.setParameters()` for updating the `maxVideoSize` dynamically, it is working fine but the buffered data is getting cleared and reloading, which is interrupting the users wit

[2021-05-04 23:10] olgunkaya commented on #8825
@icbaker thanks again. finally I had this implemented not tested yet but want to confirm with you since I set the mode to playback, it will use the keysetId that I provide and not gonna try to fetch keys again over network ?

[code]

[2021-05-05 01:04] #8794 closed, assigned to ojw28

[2021-05-05 01:04] #8793 closed, assigned to ojw28

[2021-05-05 06:55] gb103 commented on #8713
@andrewlewis No we do not have any other logs. Although can you investigate the getStreamVolume method, shouldn't it be  in some thread, so that ANR should not occur for waiting for the same. As it seems that it is stuck into IPC native code.

[2021-05-05 07:37] zhoushsong opened #8899 "Exoplayer cannot play this link ，This link jumps back to another address, but the player does not follow the jump"
http://qtv.panel.tm/script/vod4.php?v=IND_Roohi_movie.mp4&item=Movie

[2021-05-05 08:41] icbaker commented on #8825
It should only try and fetch keys if the existing offline license referenced by `keySetId` has expired.

[2021-05-05 08:48] icbaker commented on #8866
There are no updates. You haven't provided enough info for us to help. We generally don't have capacity to provide detailed app-specific debugging on this issue tracker. If you believe there's a bug in the ExoPlayer library please clearly isolate the problematic behaviour in a way that we can reproduce.

Your description of the problem is unclear. I don't know what this means:

nor this:

Please p

[2021-05-05 08:54] AtteR opened #8902 "How to add devices to codecNeedsSetOutputSurfaceWorkaround?"
Hello,

Been testing devices that get sometimes black screen and the issue could be fixed with adding the device to `codecNeedsSetOutputSurfaceWorkaround`. The list is missing my Huawei device, so it I would like to test if this helps. I could not find any examples how to implement this.

I tried by using the Exoplayer.build() instead of SimpleExoplayer.build() but the screen is black, probably be

[2021-05-05 09:02] icbaker commented on #8842
@jrocharodrigues This doesn't answer your question, but you shouldn't need to both configure the DRM fields of `MediaItem` **and** provide a custom `DefaultDrmSessionManager`. If you're passing a `DrmSessionManager` instance in (maybe to `MediaSourceFactory#setDrmSessionManager()`?) then the DRM fields on `MediaItem` will be ignored - they're only used inside `DefaultDrmSessionManagerProvider` whi

[2021-05-05 09:04] icbaker commented on #8856
Closing as the information requested above has not been provided.

[2021-05-05 09:04] #8856 closed, assigned to icbaker

[2021-05-05 09:05] icbaker commented on #8857
Closing due to inactivity.

[2021-05-05 09:05] #8857 closed, assigned to icbaker

[2021-05-05 09:05] icbaker commented on #8838
Closing due to inactivity.

[2021-05-05 09:05] #8838 closed, assigned to icbaker

[2021-05-05 09:10] drayan85 commented on #5975
I have used this additional method to add the Cookie Header every time for the existing `httpDataSourceFactory` manually and works for me.

`
 private static HttpDataSource.@MonotonicNonNull Factory httpDataSourceFactory;
`

[code]

[code]

[code]

[2021-05-05 11:48] akavrt opened #8903 "Respecting presentation delay while buffering chunks in DASH Live playbacks"
Lately we have been experimenting with DASH Live and encountered the following problem. Looks like ExoPlayer ignores presentation delay provided in the media manifest when it tries to load chunks to fill the buffer. This behavior results in many 404 errors on chunk load requests when CDN can't fulfill client requests for chunks that are yet to be created.

For example, [presentation delay](https:/

[2021-05-05 12:43] long21wt opened #8904 "4k tracks are not selected when using DASH"
I try to create a simple application to test adaptive streaming video using DASH
The `.mpd` URL is:
http://cs1dev.ucc.ie/misl/4K_non_copyright_dataset/2_sec/x264/sintel/DASH_Files/onDemand_byte_range/dash_video_audio.mpd
Here is my event log:
[code]

Everything seems to be normal except that 4k tracks are not selected. I tried using
[code]
But the problem is not solved. The maximum `downstreamForm

[2021-05-05 15:16] billyjoker opened #8905 "DRM Widevine (L1) exception Android 7 (Nougat)"
Hi I have a problem with a playback with DRM. The media is playing well with other device with Android 9 and Widevine L3, but with Android Nougat and L1 is failing. I used the exoplayer demo release v2 and I have included my asset

- ExoPlayer version number
2.13.3
- Android version
7.0
- Android device
Nvidia Shield Tablet

This is the logcat:

[code]

Using the same media with my app I've got th

[2021-05-05 16:01] jrocharodrigues commented on #8842
@icbaker Thank you for your answer.

Ok, that explains why the behavior didn't change until i changed the configuration on the `DRMSessionManager`.

I'll do some more tests in different devices to check if it's a device specific issue, and if needed i'll open a new issue.

Best regards

[2021-05-05 17:27] icbaker commented on #8905
I tried playing the provided content on the demo app on a Pixel 3a XL and it failed with the following error:

[code]

I also tried playing it with the [Shaka player demo](https://shaka-player-demo.appspot.com) and it failed with a 'DRM expired' error that linked here: https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#value:6014

Then I retried playing it with Shaka and it succe

[2021-05-05 21:43] nandovelazquez opened #8906 "Seeking to a negative value makes the ExoPlayer to pause over HLS"
Passing a negative value to the `player.seekTo()` function makes the ExoPlayer puts itself in a "pause" state and it never re-positions the `playhead` to 0 seconds. Still, we can see that the seek command is executed in the logcat.

To reproduce this we can use the Exo demo app. In the `PlayerActivity` set a delay of, could be 10 seconds, and then execute a `player.seetTo(-3000)`. Then the video w

[2021-05-06 04:36] ChetanPatelSS commented on #8794
@ojw28 @google-oss-bot thanks for help, yes issues is resolved.

[2021-05-06 06:09] toseefawan opened #8907 "Android Tv app crashes with BehindLiveWindowException at getNextChunk when release the network from throttled low bandwidth"
### Description:
Android Tv app crashes with `BehindLiveWindowException` at `getNextChunk` when release the network from throttled low bandwidth like 200Kbps, 400Kbps. Also when we throttle the network during playback and release throttle we get the same crash.

### Steps to reproduce:
Use a tool (like Charles proxy) to throttle the CDN to a low bandwidth setting (eg: 200Kbps).
Start playback line

[2021-05-06 10:03] christosts commented on #8897
Would you mind trying to explain in more detail what your application is doing?

The pieces of code that you pointed are not directly related when downloading ProgressiveMedia. Specifically, `createMediaSourceInternal ` is not be called because the DownloadHelper does not need a media source to download progressive media.

https://github.com/google/ExoPlayer/blob/0ba317b1337eaa789f05dd6c5241246478

[2021-05-06 10:06] drayan85 commented on #8897
Yes, I am trying to play the Downloaded ProgressMedia without internet connection

[2021-05-06 10:31] christosts commented on #8896
Can you please explain in more detail your use-case?

The position and duration returned by the player are based on the media regardless of playback speed or other processing. For example, playing a 2:00 content faster will not change the duration, but the player will advance faster that the real time.
If the question is how to display duration/position to the UI in terms of real time, then the ap

[2021-05-06 10:33] christosts commented on #8898
@tonihei can you please take a look?

[2021-05-06 10:42] christosts commented on #8897
My question was if your app is trying the play the media **while** it is being downloaded, that is while there is still internet connection and the file is not downloaded completely.

[2021-05-06 10:49] drayan85 commented on #8897
No, Played after successfully downloaded and close the app and open it again.

Basically, The player starts to play the Downloaded ProgressiveMedia file

PS: This issue not related to downloading.

Unfortunately, the demo app doesn't have any progressive media sample URL. You can add any Progressive Media URL to the demo app, download the video file, and then try to play. It will throw the excepti

[2021-05-06 11:03] christosts commented on #8899
When I try the url above, it redirects to `https://ww.google.com` which is not a media file.

Aside: if you are using the DefaultHttpDataSource, you need to allow [cross protocol redirects](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.Factory.html#setAllowCrossProtocolRedirects-boolean-). By default, the demo app will try to use the Cronet data s

[2021-05-06 11:03] #8899 closed, assigned to nobody

[2021-05-06 11:50] christosts commented on #8897
The demo app has several URLs pointing to content that is [progressive](https://exoplayer.dev/progressive.html) (e.g. mp4 and mkv files). Using 2.13.3, I downloaded several of them, switched off the wifi and played the content fine.

As pointed to my comment [above](https://github.com/google/ExoPlayer/issues/8897#issuecomment-833402151), the DownloadHelper does not call `createMediaSourceInternal

[2021-05-06 11:52] tonihei commented on #8898
That's a duplicate of #2250.

You can implement a custom solution if you like by subclassing `AdaptiveTrackSelection.canSelectFormat`. In there you can filter out unwanted formats during playback. Be mindful that `AdaptiveTrackSelection.canSelectFormat` is called on an internal playback thread and you need some form of message passing or synchronization to prevent threading issues.

[2021-05-06 11:52] #8898 closed, assigned to tonihei

[2021-05-06 12:45] christosts commented on #8902
The description has two questions:
1. Is it possible to extend the devices considered in codecNeedsSetOutputSurfaceWorkaround
2. How to pass a custom video renderer to the player (black screen issue)

**Issue** 1.
You can extend the behavior of codecNeedsSetOutputSurfaceWorkaround by subclassing MediaCodecVideoRenderer and override `codecNeedsSetOutputSurfaceWorkaround`
https://github.com/google/E

[2021-05-06 13:19] jrocharodrigues commented on #8842
Hi @icbaker i've done some more testing in different devices, with the sample app, playing the playlist "Clear -> Enc -> Clear -> Enc -> Enc", from the provided samples.
What i see is that on android TV devices (which was the ones i've tested before because my app is for android TV), i see a black screen when switching from DRM to clear content, but on smart
phones i don't see the black screen.

T

[2021-05-06 13:22] AtteR commented on #8902
Hi,

Thank you so much for this! This has fixed our issue with this device. There were also other improvements which fixed this issue somewhat, but this completely fixed it.

Here is the code we use for override:

[code]

Answered and thank you!

[2021-05-06 13:27] ArchanaGwda commented on #8866
@icbaker Hi Have fixed this issue. I was missing out the mime type for each stream type. By adding the mime type I am able to play the content. Thank you for your help. Now I am stuck at playing post roll ads. Could you please help me to play post roll ads ?
Instead of `createMediaSource()` I replaced with `createMediaItem()`
Here is my code structure,

[code]

[code]

As per the documentation, sh

[2021-05-06 14:00] icbaker commented on #8866
I used the ad tag URL you provided in the demo app by adding it to the [JSON file](https://exoplayer.dev/demo-application.html#1-editing-assetsmediaexolistjson):

[code]

I saw only a pre-roll ad, no mid-roll or post-roll. Is that what you expect? I see the same behaviour at this test player: https://googleads.github.io/googleads-ima-html5/vsi/

[2021-05-06 14:03] ArchanaGwda commented on #8866
@icbaker No, I know this TAG is only for pre roll ad. I want to know the procedure/code help to implement post roll ads.

[2021-05-06 14:05] drayan85 commented on #8897
Sorry for my bad miss out on the `.MP4` file in the Demo app.

In my case still, I am using `MediaSource` to prepare the player because Casting videos is not working with the selected Subtitle when I am using `MediaItem` to prepare the player to play the video.

[code]

Currently, I am using `DefaultMediaSourceFactory` with the `Mp4Extractor.FACTORY` to convert the `MediaItem` to the MediaSource a

[2021-05-06 14:07] icbaker commented on #8866
There's not an obvious answer to that question - post-roll tags should 'just work'.

If your post-roll tag works in the demo app and not in your app then please provide a minimally reproducible example so we can reproduce what your app is doing.

If it doesn't work in the demo app then please provide the tag URI so we can investigate.

[2021-05-06 14:09] AGasztold opened #8908 "Downloading DASH with external subtitles"
Hello,

I need to download external subtitles (VTT format) simultaneously with the video/audio tracks.
I have added subtitles to
`MediaItem.PlaybackProperties List<Subtitle> subtitles` (This mediaItem is passed to `DownloadHelper.forMediaItem(..)`), so it is possible to select Text track inside TrackSelectionDialog for download.
Unfortunatelly, streamKeys are empty in this case ->
`  public Downlo

[2021-05-06 14:12] christosts commented on #8904
I attempted to play the manifest on the demo app with r.2.13.3 and it failed to parse the manifest. Have you updated the manifest after posting this issue? What version of ExoPlayer are you using?

[2021-05-06 14:17] drayan85 commented on #8897
https://github.com/google/ExoPlayer/blob/ec437350543fa43763b7ba74e0b43ec37a1ee224/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadHelper.java#L890-L897

According to the DownloadHelper, it is Creating the `DefaultMediaSourceFactory` object with `ExtractorsFactory.EMPTY`.

But in the `DefaultMediaSourceFactory` constructor 2nd param description clearly saying that the Extra

[2021-05-06 14:19] christosts commented on #8907
Can you please take a look at this piece of [documentation on BehindLiveWindowException](https://exoplayer.dev/live-streaming.html#behindlivewindowexception) and let me know if it covers what you see?

The exception should be propagated to the app through the `onPlayerError` callback, and the app can decide what to do next. Are observing something different?

[2021-05-06 14:35] cdongieux commented on #8847
In my specific case the clock used to both define `publishTime` and segments timestamps is inaccurate and is slightly drifting, this is why it's about 10 seconds in the future. **But in facts all segments are indeed available**. This why in my PR `isSegmentAvailableAtFullNetworkSpeed` is checking if `segmentEndTimeUs <= manifestPublishTimeUs` which is always true, so a segment is always available

[2021-05-06 14:39] ArchanaGwda commented on #8866
@icbaker I am not telling that, its not playing in demo app. Which is playing well. If we pass vmap tags.
 What I am trying to tell to tell you is that we are using vast tags. If we use vmap post rolls are paying well. I am seeking your help to integrate post roll ads to my code. I have already posted my code structure in the last reply.

We don't have document to integrate post roll ads. Can I ge

[2021-05-06 15:01] billyjoker commented on #8905
Hi I've just attached a bug report. Please could you say me what is the `DRM vendor-defined error: -2965` mean?

[2021-05-06 15:02] tonihei commented on #8847
The fix I was proposing is to do something like this (pseudo-code):
[code]

Yes, because the DASH specification clearly says that all segments whose end time are in the future should not be treated as available (see https://dashif-documents.azurewebsites.net/Guidelines-TimingModel/master/Guidelines-TimingModel.html#timing-availability). The fact that your specific segments are indeed available doe

[2021-05-06 15:03] #8902 closed, assigned to christosts

[2021-05-06 15:07] christosts commented on #8906
Thanks for reporting this, I can verify it happens on r2.13.3. I'm still investigating to see exactly what's happening

**[update]**
I can see there's inconsistent  behavior, not only between different kind of sources (DASH vs HLS), but also between videos of the same kind. From the demo app, seeking to `-5000`:
- the "Clear DASH" assets can seek  but the "60fps DASH" freezes.
- From the HLS conte

[2021-05-06 15:13] minhkstn commented on #8904
I get the same issue on Xiaomi Mi 11
I used HEVC to encode video with different resolutions and created `mpd` file with `MP4Box`.

The test videos and mpd file can be found here:
https://github.com/minhkstn/rally_DASH

In the SELECT TRACKS button, there is 4K representation option. But the variable `length` in [AdaptiveTrackSelection.java](https://exoplayer.dev/doc/reference/com/google/android/exo

[2021-05-06 15:22] atrope commented on #8447
This is still happening with latest version

[code]

[2021-05-06 15:55] billyjoker commented on #8905
This is debugged object data at `DefaultDrmSession` class with values until the exception is occurred:

[code]

[2021-05-06 15:56] devingryu commented on #8896
What I meant was even though I change the speed through SonicAudioProcessor, the player dosen't advance faster. Setting playbackparameter while using Sonic makes double-effect on speed(because both Sonic and player changes speed)
So, I was wondering if there is a way to make player advance faster when using SonicAudioProcessor.

[2021-05-06 15:57] christosts commented on #8891
I am not an audio compression/codec expert but this sounds unrelated to ExoPlayer and more related to the device's audio decoder. I tried playing a few the ogg files in the repo that you linked but I did not observe any audio stuttering.

Some ideas:
- If you play the specific ogg files on the same devices with another player, do you still observe the issue?
- Are you using the audio codecs that c

[2021-05-06 16:00] christosts commented on #8908
@ojw28 can you take a look?

[2021-05-06 16:11] christosts commented on #8896
I don't think you can make the player advance faster going directly through SonicAudioProcessor. You have to set the playback speed on the player which will then configure SonicAudioProcessor accordingly.

@krocard can you please verify the above? Maybe there is case of achieving what @devingryu describes that I'm not aware of.

Thanks

[2021-05-06 16:23] icbaker commented on #8842
@jrocharodrigues I can reproduce what you're seeing on Chromecast with Google TV (and not on a Pixel 3a XL).

I crafted the following JSON with clipping to make the transitions more obvious (because tears of steel starts/ends with a black screen, so seeing black flashes was really hard):

[code]

I found the following:
1. **Clear -> Clear**: Transition is 'seamless' (there's a small glitch, but it

[2021-05-06 16:44] jrocharodrigues commented on #8842
@icbaker Thank you for answer.
I didn't test with the set scheme "hack" but the rest corresponds to the behaviour i have.
I'll keep watching both issues to know the progress of the fixes.

BRs

[2021-05-06 17:16] cdongieux commented on #8847
Alright, thanks a lot for the clarification. I updated the PR accordingly :)

[2021-05-06 17:43] nandovelazquez commented on #8906
That was fast!

Thank you, I'll keep this in mind. 👍

[2021-05-06 19:28] long21wt commented on #8904
The manifest link is from a research paper. I think I would not be able to modify the source.
If the emulator of pixel3a does not support 4k encoding, exoplayer will automatically exclude the 4k tracks ?

[2021-05-06 19:47] icbaker commented on #8904
By default ExoPlayer won't select tracks with a resolution higher than the physical screen of the device:
https://github.com/google/ExoPlayer/blob/aeb306a164911aa1491b46c2db4da0d329c83c65/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java#L230

Given the [Pixel 3a only has a 1080p screen](https://support.google.com/pixelphone/answer/7158570), that lik

[2021-05-06 20:11] long21wt commented on #8904
Thanks it's working
`trackSelector.setParameters(trackSelector.buildUponParameters().clearViewportSizeConstraints())`

[2021-05-06 20:11] #8904 closed, assigned to christosts

[2021-05-07 01:04] #8755 closed, assigned to icbaker

[2021-05-07 04:17] NG-Gaurav opened #8909 "how to download video one by one of a series"
Actually, we have a series which have 10 episodes. so we want to download all episodes one by one. means firstly episode 1 download after that other start episode 2 and at last episode 10 download.

[2021-05-07 05:49] danergo commented on #8883
I'm trying to use those approaches, but ImageReader throws me an exception with a strange message:

[code]

imageReader.acquireLatestImage() throws an exception:

**java.lang.UnsupportedOperationException: The producer output buffer format 0x7fa30c06 doesn't match the ImageReader's configured buffer format 0x1.**

[2021-05-07 05:52] Sherzodbek-Muhammadiev commented on #6168
Also, I have solved the issue by using a single instance of exoplayer:

[code]

[2021-05-07 06:37] danergo opened #8910 "Rendering to ImageReader: always crashing"
Guys, I really want to extract JPG images from a (live)stream (which is anyway perfectly playable).

I need extractions also when phone is idle or its screen is turned off.

I know https://github.com/google/ExoPlayer/issues/7167, and I'm trying to use the "ImageReader" approach.

However if I use some RGBA_8888 pixelformat, it crashes, as Exo's output format differs from RGBA_8888. (It's YCbCr_420

[2021-05-07 06:38] danergo commented on #8910
Maybe I can somehow ask Exo to change it's decoder output to RGBA_8888?

[2021-05-07 07:09] krocard commented on #8896
I'm unsure to understand the question. `Player.setPlaybackSpeed` (or equivalently `Player.setPlaybackParameters`), will play the media faster or slower than the media normal rate.

This is achieved internally by ExoPlayer for audio by using the platform's `AudioTrack.setPlaybackParams` or equivalently (depending on the `Player` configuration and the API level) by using the `SonicAudioProcessor`.

[2021-05-07 07:32] devingryu commented on #8896
Ok, then now I want to know if changing the player's playback speed is available while using custom AudioProcessor to modify audio speed.
I'm pretty sure that setPlaybackParameters doesn't modify audio with attached AudioProcessor, because audio ticks a lot when using setPlaybackParameters(unlike when I use custom AudioProcessor).

[2021-05-07 08:13] andrewlewis commented on #8896
You can pass a custom [`AudioProcessorChain`](https://github.com/google/ExoPlayer/blob/aeb306a164911aa1491b46c2db4da0d329c83c65/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L86) when constructing `DefaultAudioSink` to provide a speed scaling audio processor and at the same time override how the media position is calculated. See the `DefaultAudioProcessorChai

[2021-05-07 09:29] devingryu commented on #8896
Yes, I managed to modify audio by AudioProcessorChain with my AudioProcessor, and it plays well.
But what I meant was, even though I change speed with setSpeed() in processor(just as same as one in SonicAudioProcessor), the time in player's view doesn't advance faster.
There would be no problem if I use setPlayBackParameter (since it makes both audio and time faster) but when I use my AudioProcess

[2021-05-07 09:35] krocard commented on #8896
Is your custom AudioProcessor correctly reporting the speed up/down media duration. Here is how The `SonicAudioProcessor` does it: https://github.com/google/ExoPlayer/blob/aeb306a164911aa1491b46c2db4da0d329c83c65/library/core/src/main/java/com/google/android/exoplayer2/audio/SonicAudioProcessor.java#L138

[2021-05-07 09:35] andrewlewis commented on #8896
Have you overridden `AudioProcessorChain.getMediaDuration` to reflect the speedup you are applying in your custom audio processor? If you do that, the player's position should reflect the scaling.

I'm not sure why you'd want to avoid using `setPlaybackParameters` -- that is the right way to update the player speed, and it doesn't have to be tied to the default implementation via `SonicAudioProces

[2021-05-07 10:07] devingryu commented on #8896
I think I didn't override AudioProcessorChain.getMediaDuration. I'll try right now. Thanks!
Besides, I wonder how to give DefaultAudioSink as argument in SimpleExoPlayer.Builder(). I couldn't find anything like setRenderFactory() or setAudioSink(). I'm still using deprecated method since I don't know how.

[2021-05-07 11:45] Avetri opened #8911 "TsExtractor: select PesReader based on HDMV format identifier"
Download M2TS_DTSHD_AC3_MP2_MP3_DTS.ts and put it on your HTTP server.
Add URI for M2TS_DTSHD_AC3_MP2_MP3_DTS.ts file to the media.exolist.json.
Run ExoPlayer demo app and try to play the file.

Sample file: [M2TS_DTSHD_AC3_MP2_MP3_DTS.ts](https://www.dropbox.com/s/tq5od0jknqstf5n/M2TS_DTSHD_AC3_MP2_MP3_DTS.ts?dl=0)

2.13.2 (Any I suspect.)
SHA1 ID 4364b9150f236813a2070fc79d3bcb76e11969ac

7

Any.

[2021-05-07 11:50] Avetri commented on #8911
Real tracks:

Audio 1
ID                                       : 4352 (0x1100)
Format                                   : DTS XLL
Format/Info                              : Digital Theater Systems
Commercial name                          : DTS-HD Master Audio

Audio 2
ID                                       : 4353 (0x1101)
Format                                   : AC-3
Format/Info

[2021-05-07 11:58] andrewlewis commented on #8910
I'm afraid I can't give you a simple answer that will definitely work, but here are some more pointers in addition to #7167 which you've seen already:
- If you can use a min SDK version of 24 or above, please try using https://developer.android.com/reference/android/view/PixelCopy instead. There is an example of using this in the CTS `DecodeAccuracyTest` ([here](https://cs.android.com/android/plat

[2021-05-07 12:02] Avetri commented on #8911
PMT Registration Tag (0x05) Format Identifier is HDMV.

[2021-05-07 12:39] ojw28 commented on #8908
This is not something we support directly, so for now you have to download the subtitle file yourself, and also specify it at playback time (presumably using a `file:///` URI that points to where the file has been downloaded).

Providing direct support is tracked by https://github.com/google/ExoPlayer/issues/5615, so closing as a duplicate of that issue.

[2021-05-07 12:39] #8908 closed, assigned to ojw28

[2021-05-07 12:51] juanpef opened #8912 "Live Smoothstreaming request manifest every 5 seconds"
Hello,

I have a streming application based on Smoothstreaming. I'm using ExoPlayer 2.7.3. We faced an issue because Exoplayer is requesting the manifest every 5 seconds, so it is affecting to our servers. Is there any way to modify this time?

Regards

[2021-05-07 12:51] christosts commented on #8909
Have you considered setting a listener on the DownloadManager, and when a download is completed, your listener will queue the next download?

Relevant documentation: https://exoplayer.dev/downloading-media.html#listening-to-downloads

[2021-05-07 13:14] christosts commented on #8912
Just to make sure we're talking about the same thing, your application is playing a live stream, right?

I see the 5 seconds interval is hard coded and I can't see a clear way of overriding it.

https://github.com/google/ExoPlayer/blob/4b531dcc5211ef9cb1c2adea5c12642f549c4c78/library/smoothstreaming/src/main/java/com/google/android/exoplayer2/source/smoothstreaming/SsMediaSource.java#L242

@ojw28

[2021-05-07 13:29] christosts commented on #8911
@kim-vde can you take a look?

[2021-05-07 15:12] vinitshahane opened #8913 "exoplayer takin 4-5 seconds to buffer even on good network"
Hi,
I am using exoplayer 2.13.3 it is always taking 4-5 seconds to buffer when loading for first time. even on good wifi network its taking same time.
is there any setting to reduce start buffer time.

[2021-05-07 16:11] andrewlewis commented on #8911
Please see #5330 where we changed the default behavior for this stream type to be handling it as SCTE. You can probably 'fix' this by setting `FLAG_ENABLE_HDMV_DTS_AUDIO_STREAMS`.

[2021-05-07 16:31] christosts commented on #8872
First, ExoPlayer will query the platform for support of a specific frame rate using the MediaCodecInfo.VideoCapabilities API, please see [MediaCodecInfo.VideoCapabilities.areSizeAndRateSupported](https://developer.android.com/reference/android/media/MediaCodecInfo.VideoCapabilities#areSizeAndRateSupported(int,%20int,%20double)), assuming your app is running on devices with API >= 21. All supported

[2021-05-07 16:32] danergo commented on #8910
Perfect, thank you. My minSDK is lower unfortunately, and I still would like to stick with it (22). I saw an article which specifically requests

`mediaFormat.setInteger(MediaFormat.KEY_COLOR_FORMAT, MediaCodecInfo.CodecCapabilities.COLOR_FormatYUV420Flexible);`

Which might be good for me. How can I request this with ExoPlayer? I'm going to create a very basic and minimalistic example and share h

[2021-05-07 17:09] abhayjaiswal opened #8914 "Exoplayer take more time to play video with firebase Url ."
Exoplayer take very more time for play video with firebase url . But I have tried play video with other url then take less time compare then firebase url . my internet speed is also fine . I have paid firebase storage service .

Firebase Demo Video  Url :-  https://firebasestorage.googleapis.com/v0/b/klapus-874c7.appspot.com/o/ExpertUploadVideos%2F20210506_222414.mp4?alt=media&token=69185e1a-5c2f-

[2021-05-07 17:17] christosts commented on #8747
The playlist's target duration is 7 seconds but the 3 segments total duration is 6 seconds. The player refreshes the playlist every 7 seconds, instructed by target duration as per the HLS spec.
https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-09#section-6.3.4

Ensure that playlist duration is longer than the target duration.

[2021-05-07 17:18] christosts commented on #8747
As this issue is more with more with forming a valid HLS playlist and less with ExoPlayer, I'm inclined to close this issue. If you need further assistance, feel free to re-open.

[2021-05-07 17:18] #8747 closed, assigned to christosts

[2021-05-07 17:42] christosts commented on #8897
As I said in [my previous comment](https://github.com/google/ExoPlayer/issues/8897#issuecomment-833402151), `DownloadHelper.createMediaSourceInternal` is used by the DownloadHelper internally at the time to download media, and specifically it is not called when downloading progressive content, but only when downloading adaptive content.

On your [comment above](https://github.com/google/ExoPlayer/

[2021-05-07 17:51] Avetri commented on #8911
Thanks.

It detects (in ExoPlayer demo at least) a DTS audio track now:
[code]
But there are two DTS tracks. And it still craches on SCTE:
[code]

[2021-05-07 18:01] christosts commented on #8913
By default, ExoPlayer will buffer [2.5 seconds](https://github.com/google/ExoPlayer/blob/r2.13.3/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadControl.java#L49) of content before starting playback. You may try to create you own [DefaultLoadCotrol](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html) instance that buffers less content for

[2021-05-07 18:28] christosts commented on #8914
When I try to open the video from your URL above, I see the response-to-first-byte is between 0.6 to 1 seconds (this is latency time, excluding the time it takes for the bytes to download). You can see that from opening the link from a browser and inspecting the network statistics. This delay is not related to the internet speed (I have access to > 100Mbps).

I also see the player has to make a 3

[2021-05-07 18:28] #8914 closed, assigned to christosts

[2021-05-07 19:32] danergo opened #8915 "Is it possible to acquire dimension of decoded frames before setting the surface?"
I need to export frames from a video stream, and for this task I'm tending to use an `ImageReader`.

However creating a new ImageReader [requires](https://developer.android.com/reference/android/media/ImageReader#newInstance(int,%20int,%20int,%20int)) me to define width and height information.

I'm pretty sure ExoPlayer knows this during playback. But can I get this information before creating my

[2021-05-07 22:20] manwinder123 opened #8916 "ExoPlaybackException required for desugaring of try-with-resources is not found."
Attempting to build an android project using Buck and I've added the exoplayer dependencies, exoplayer-core, exoplayer-hls, exoplayer-ui, exoplayer-common, AND exoplayer-extractor.

- ExoPlayer version number : **2.13.3**

I get the following issue building the debug version of the app:

[code]

[2021-05-07 23:46] devingryu commented on #8896
Problem Solved by overriding `AudioProcessorChain.getMediaDuration` and using `setPlaybackParameters`!
I got to know that I can use `SimpleExoPlayer.Builder(context,renderersfactory)` to use custom RenderersFactory, so my problem is all solved.

Thank you all for answering this question!

[2021-05-07 23:46] #8896 closed, assigned to krocard

[2021-05-08 01:50] JiannaiJ commented on #8885
@kim-vde  My problem is different from his. I gave the config.log information above.

[2021-05-08 05:12] iamriajul commented on #5933
Any updates on this?

[2021-05-08 06:08] ramkumar19 opened #8917 "exoplayer 2.13.3"
exoplayer 2.13.3 factory code not working please  bandwidth meter code error .please full code for exoplayer 2.13.3 m3u8 hls link play please separate the code becase of i totally confused exoplayer code for android 11  exoplayer video play

[2021-05-08 09:49] danergo opened #8918 "ImageReader's OnImageAvailableListener gives a massive uncatchable runtime error"
I'm trying to get frames from video and I'm getting a good progress, but there is a last piece missing:

After creating an ImageReader:

`ImageReader r = ImageReader.newInstance(1600,900, ImageFormat.YUV_420_888, 5);
`

And setting its image available listener:

[code]

I'm adding it to ExoPlayer by `setSurface(r.getSurface());`.

Luckily, `onImageAvailable` is called, but every time I'm trying to

[2021-05-08 10:10] sajjadshahbazi opened #8919 "How to play multiple mp4 files part way through a hls stream at different times?"
I have a hls stream that I want to play multiple mp4 files at different times.
for example, I want to play an mp4 file at The beginning of the movie Or Play an mp4 file After 10 minutes of watching the Film.
I don't want to use ImaAdsLoader, ...
Do in the new version of Exoplayer is posible ?

please guide me about this issue

[2021-05-08 12:42] danergo commented on #8918
This makes me crazy... What does this _exactly_ mean?

How can any nullptr has non-zero capacity??

I'm checking also if `i` is null, but it's not.

[code]

[2021-05-08 13:07] danergo commented on #8918
Another valuable detail: my sample application works perfectly on Android Emulator (X86), but crashes with the above error on real target device (Samsung, Android 11).

[2021-05-08 13:54] danergo commented on #8918
Here are the full description:

Source (in Activity's onResume):

[code]

Error (on device):

[code]

[2021-05-08 18:21] danergo opened #8920 "Failed to initialize decoder when using ImageReader, whereas same video can be successfully played back"
I'm trying to extract **a single frame** from a video by using ImageReader.

However, my target device keeps failing to initialize its decoder: this is strange, because when I'm trying to playback the same video with the same source code, it plays back without issues.

Here is my minimal example with 100% reproducability rate:

Layout:
[code]

Application:

[code]

Android version is currently 11.

[2021-05-08 18:37] danergo commented on #8920
Here is another backtrace with the same code ran on a **Kirin**-based phone:

[code]

**I might miss some important piece of information regarding the difference between actually playing back a video vs using an ImageReader for acquiring the frames from the video.**

I'm really seeking for information on this topic, and Google seems not to be my friend anymore :)

[2021-05-09 01:01] J6ey commented on #8691
@KazukiSugiyama107 Are you able to stream your offline content on an emulator? I have the same exact error when streaming on a physical device, but works fine on any AS emulator (including PIxel ones).

Also this issue is present on the newer ExoPlayer versions and was not present with the `OfflineLicenseHelper<FrameworkMediaCrypto>` implementation.

[2021-05-09 06:44] danergo commented on #8918
I'm going to put all details into one issue: https://github.com/google/ExoPlayer/issues/8920

[2021-05-09 06:44] #8918 closed, assigned to nobody

[2021-05-10 02:55] ArcherEmiya05 opened #8921 "Where to find clear documentation about migration in IMA Extension?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-05-10 03:43] drayan85 commented on #8897
Thanks Now I understood the way need to play the downloaded media source.

[2021-05-10 04:15] ArcherEmiya05 commented on #8921
Updates:

I manage to settle some of the changes but I don't think it will work since I never used the uri of ads here

[code]

Where can I set the `Uri` of ads here?
Our previous set up is fine so we believed we do not need to change a lot in structure just because of this new release on IMA SDK extension right and we are not adding feature as well we're just updating the code base.

[2021-05-10 04:21] ArcherEmiya05 commented on #8921
Updates:

We manage to settle some of the changes but we don't think it will work since we never used the uri of ads here

[code]

Where can we set the `Uri` of ads here?
Our previous set up is fine so we believed we do not need to change a lot in structure just because of this new release on IMA SDK extension right and we are not adding feature as well we're just updating the code base.

The samp

[2021-05-10 04:38] vinitshahane commented on #8913
I tried changing bufferForPlaybackMs to 1.5 sec but haven't observed any change. is there nay other way to change starting buffer time? adding code my code below.
[code]

[2021-05-10 05:09] ArchanaGwda commented on #8866
@icbaker Hi Any Update on this? Please let me help to integrate post roll ads with vast tags. Sample code of lines would help me better.

[2021-05-10 06:11] missu263 commented on #8671
hi , I also find this problem that seek is not immediately , but the video-edit app can do this , whatever seek position ,the frame-image display without any delay and play smoothly

so , do you have any ideas about the video-edit app solutions?

wish you reply t_t

[2021-05-10 06:29] jordyamc opened #8922 "Settings popup disabling fullscreen using StyledPlayerControllView"
While using a fullscreen sticky activity, if the settings popup is opened, the fullscreen is disabled, the system bars won't hide anymore, and it shows above the player, also there is no option to disable the settings button

![Screenshot_20210510-012657](https://user-images.githubusercontent.com/6831873/117615200-00cdd200-b12f-11eb-879c-907a24606af1.png)
![Screenshot_20210510-012716](https://user

[2021-05-10 06:44] jitendratiwari opened #8923 "How can I detect HDCP (High-bandwidth Digital Content Protection) compliance?"
In Exoplayer is there any method which can give callback to  detect the HDCP compliance

[2021-05-10 06:48] juanpef commented on #8912
Thank you for your answer.

Yes, our application is playing live stream, using Smooth Streaming. If we modify this MINIMUM_MANIFEST_REFRESH_PERIOD_MS to 1 minute, for example, then manifest will be requested every minute? It would help tou our platform (server side) performance.

[2021-05-10 07:03] krackjack234 opened #8924 "How to download a drm file which has multiple drm keys"
Problem
======
We have a Widevine drm content which has the following properties

1. Audio track is encrypted with one drm key
2. The video tracks below 720p are encrypted with a 2nd drm key
3. The video tracks above 720p are encrypted with a 3rd drm key (L1 widevine)

Question
=======
1. How can we download multiple keys for each of these tracks separately and play the downloaded content?

When w

[2021-05-10 08:04] ogawa-ma commented on #8319
@AquilesCanta
Hi.
I apologize for the delay in getting back to you.
It's still seeing this issue.
I have sent the information about the streams that have not expired to your dev.exoplayer@gmail.com.

[2021-05-10 08:59] #8897 closed, assigned to christosts

[2021-05-10 09:33] ojw28 commented on #8912
To reduce the frequency of manifest refreshes in a sensible way, I think it would be necessary for us to support https://github.com/google/ExoPlayer/issues/855. SmoothStreaming is pretty low priority for us at the moment because DASH and HLS are much more widely used, so it's unlikely we'll look at this any time soon.

Marking as a duplicate of https://github.com/google/ExoPlayer/issues/855.

[2021-05-10 09:33] #8912 closed, assigned to ojw28

[2021-05-10 09:42] ojw28 commented on #8916
If this only occurs with Buck, then it feels like it's a Buck issue rather than an ExoPlayer issue. You should report your issue to the Buck maintainers if this is the case. If you can reproduce the same issue using Google provided tools, please provide reproduction steps and we'll take a look.

[2021-05-10 10:19] AquilesCanta commented on #8319
Hi @rrfrias, we have sample content (expires a year from now, under subject Issue #8319) and a bugreport (under subject Issue #7356). Do you think it's enough to forward the issue to Sony? Can you assist with this device-specific issue?

[2021-05-10 11:21] ojw28 commented on #8924
This is documented as a limitation on the [DRM page](https://exoplayer.dev/drm.html#offline-keys) of our documentation. That page also links to the tracking issue (https://github.com/google/ExoPlayer/issues/3872). Closing as a duplicate of that issue.

[2021-05-10 11:21] #8924 closed, assigned to ojw28

[2021-05-10 11:55] NG-Gaurav commented on #8909
yes, We are using listener but we are adding 10 videos in the queue one by one. so we want just DownloadManager to start picking the first video than the second and so on. but DownloadManager picks randomly and starts downloading.

[2021-05-10 13:05] andrewlewis commented on #8910
You can subclass `MediaCodecVideoRenderer` and override `getMediaFormat` to call the superclass implementation then include the line pasted above to set the color format.

To use your custom video renderer, you can override `DefaultRenderersFactory.buildVideoRenderers` and pass your custom renderers factory when building `SimpleExoPlayer`, for example.

[2021-05-10 13:06] andrewlewis commented on #8920
As mentioned on your other issue #8910, I'm just going to give you some pointers that may or may not be useful.

If there are follow-up questions we may be slow to reply (or we may even close the issue) as this is really beyond the scope of use cases we can afford time to support.

See [ImageReaderDecoderTest](https://cs.android.com/android/platform/superproject/+/master:cts/tests/tests/media/src/

[2021-05-10 13:08] icbaker commented on #8905
The file provided is not a bugreport, it appears to be a logcat snippet in a text file wrapped in a zip file. A bugreport is the zip file generated by running `adb bugreport` (or one of the other methods described on the page I linked above). It includes more information than just the logcat and may give us a clue about what the -2965 error is related to.

"vendor-defined" means it's defined by th

[2021-05-10 13:13] icbaker commented on #8866
You've neither described your problem(s) clearly nor provided a means for us to reproduce them.

Without that info we can't help you.

We provide sample code at http://exoplayer.dev and in the demo app (which supports ad tags):
https://github.com/google/ExoPlayer/tree/release-v2/demos/main

We don't have the capacity to provide code samples tailored to every app.

If you can ask your questions cle

[2021-05-10 13:24] danergo commented on #8920
Thanks for your reply, I really appreciate it.

No, I haven't made that change mentioned in #8910, as using `ImageFormat.YUV_420_888` perfectly fine on emulator. Only real devices seem having difficulties with it.

So the thing is: the above sample code works perfectly on emulator (I guess due to sw-only decoding), but fails on all real devices (which I guess aim to use HW-decoders). Situation is

[2021-05-10 13:28] andrewlewis commented on #8920
I'd guess that this is the default color format for whatever hardware codec is selected for the device you are testing on, and that overriding the color format in the codec configuration MediaFormat might fix the issue.

The reason the emulator works is probably that it's using a software decoder that outputs to a more "standard" color format. If you were to override the renderer's `MediaCodecSele

[2021-05-10 13:30] andrewlewis commented on #8915
You could try creating the player in a paused state without a surface, then preparing it and listening for an event that provides the input format dimensions like `AnalyticsListener.onVideoInputFormatChanged`.

[2021-05-10 13:31] andrewlewis commented on #8915
This is not an ExoPlayer-related question so you may have better luck with the [Android issue tracker](https://source.android.com/setup/contribute/report-bugs) or a more general-purpose Q&A site like Stack Overflow.

[2021-05-10 13:31] #8915 closed, assigned to andrewlewis

[2021-05-10 14:43] danergo commented on #8920
@andrewlewis: thank you so much for your efforts. Overriding the color format seems solving the issue even with HW decoder!

I'm more than happy now. Please confirm one last Exo-related piece for me, and then we can close this issue :)

During overriding of `buildVideoRenderers`, to use my `MyVeryOwnMediaCodecVideoRenderer`, I do this:

[code]

Is this the right way to do this? I.e.: shall I clear

[2021-05-10 14:49] kim-vde commented on #8885
I found 2 lines that could be the cause of the issue:
[code]
and
[code]

Any idea what could be the problem @andrewlewis ?

[2021-05-10 14:54] andrewlewis commented on #8920
Good to know. Thanks for trying this!

I'd just not call through to `super.buildVideoRenderers` if the goal is always to use `MyVeryOwnMediaCodecVideoRenderer` (then you don't need to worry about clearing). See the implementation of [`DefaultRenderersFactory.createRenderers`](https://github.com/google/ExoPlayer/blob/aeb306a164911aa1491b46c2db4da0d329c83c65/library/core/src/main/java/com/google/and

[2021-05-10 14:54] #8920 closed, assigned to andrewlewis

[2021-05-10 14:59] andrewlewis commented on #8866
I agree with @icbaker's points. Lack of a clear explanation it makes it less efficient to help and we don't have time to provide samples for every use case.

It sounds like you may be trying to play a VAST ad tag as a postroll. That isn't directly supported (as mentioned in #3694 the IMA extension plays all VAST tags as prerolls). You may be able to do a slight hack to get the behavior you are loo

[2021-05-10 15:04] andrewlewis commented on #8885
I agree those lines may point to the cause. Checking that those files exist seems like a good next step.

[2021-05-10 15:26] billyjoker commented on #8905
Ok you are right, so I have just sent you by email the correct bugreport file.

[2021-05-10 16:11] kim-vde commented on #8911
The stream you provided has:

- A track with stream type 0x82 (ID 4356), which can be SCTE subtitle or DTS 6 channel audio (see https://en.wikipedia.org/wiki/Program-specific_information). Setting flag `FLAG_ENABLE_HDMV_DTS_AUDIO_STREAMS` tells ExoPlayer that the track is DTS (and not SCTE).
- A track with stream type 0x86 (ID 4352), which can be SCTE-35 splice info or DTS 8 channel lossless audio

[2021-05-10 17:24] Samrobbo commented on #8917
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2021-05-10 17:27] croccio opened #8925 "Identifying content type with URL redirects (HTTP 302)"
302 redirect not works properly also with
`setAllowCrossProtocolRedirects(true)`

the channel url is this:
`https://www.mytivu.it/Application/Channels/TV8.php`

[2021-05-10 17:40] icbaker commented on #8905
Thanks for the bugreport - just before the ExoPlayer stack trace I see this error from the Widevine Content Decryption Module (`WVCdm`) complaining about some `key_data` missing:
[code]

If you can attach a debugger while reproducing you could perhaps look at the value of `responseData` going into `MediaDrm#provideKeyResponse()`. It's a somewhat opaque byte string, but you can make at least check

[2021-05-10 18:00] md84419 commented on #8473
I'm seeing the same.  Also Flutter (2.0.6) and with video_player 2.1.1.  On a Samsung tablet.  The video is scaled and at the edge of the screen.  The same video with a different scale and position on the screen plays fine.

[2021-05-10 20:04] kgrevehagen commented on #8892
Thanks, I will have a look at the fixes in #4133, but this is not a big issue for me since I have found a way around it anyways, and it is no longer an issue for me. The real issue I'm facing now is no matter how I want to make the switch, I'm getting a glitch.

1. If I do your solution with the placeholder session and swap it at transition point, how exactly would I do that? I could use the `upda

[2021-05-10 20:40] PoghosyanRoman opened #8926 "Exoplayer hls video h264 interlaced top first audio aac, stb os crash"
Hello. I'm try use exoplayer for play interlaced video , on amlogic s905w processor with android 9 on board. But some time then change mediasource from one channel to another , stb stops reporting and then may reboot may not. Some streams play on some stb with libvlc without restarts. Vlc not acceptable by another specs. Can give any way for understand why stbs give this problems (not only one stb

[2021-05-10 22:54] #8805 closed, assigned to ojw28

[2021-05-10 22:55] ojw28 commented on #8790
Sorry, but the app provided is not what we'd class as a minimal reproducible example.

[2021-05-11 00:24] stevemayhew commented on #6087
@AquilesCanta  thanks for looking over this.  I have a real world use case for this too.

For Scenario 2, I expect audio would continune playing and video would be frozen, much like a track switch to an audio only track on very low bandwidth (if we supported this).  YouTube has behavior like this.

Here's another use case to consider (we are wrestling with this now).  A channel has alternate audio

[2021-05-11 08:12] wubi517 commented on #2092
I am still waiting avi extractor.

[2021-05-11 08:36] Avetri commented on #8911
@ojw28 , thanks for a cleaning up the mess.

@kim-vde ,  thank You.
Flags (as a solution) don't seem right. Why does ExoPlaye use external flags instead of descriptors from PMT?

[2021-05-11 10:52] AquilesCanta commented on #6087
Thanks @stevemayhew for the input! We have considered multiple approaches in the past for this, although admittedly non of them was necessarily a simple approach. For the spec's suggestion, we considered using the already-built-in block-list mechanism in ExoPlayer. That is, when the HlsChunkSource tries to load an EXT-X-GAP, it will throw a special load exception which can in turn cause the block

[2021-05-11 13:02] tonihei commented on #8447
@atrope  Which version of ExoPlayer (or other related components like IMA extension) are you using?

[2021-05-11 13:42] atrope commented on #8447
@tonihei we are using ExoPlayer 2.13.3

[2021-05-11 14:03] andrewlewis commented on #8921
If you aren't using `MediaItem`s you can still pass ad tags via the `adTagDataSpec` parameter of the `AdsMediaSource` constructor.

We made this API change as part of supporting ads in playlists (#3750) -- when a playback may have multiple ad tags and they need to be loaded via the same ads loader, it no longer made sense for the ads loader to receive a single ad tag.

[2021-05-11 14:03] #8921 closed, assigned to andrewlewis

[2021-05-11 14:06] ArcherEmiya05 commented on #8921
But there is also a VAST ads that has already pre-roll + mid + post right configured already with its XML?

[2021-05-11 14:12] andrewlewis commented on #8921
VMAP ad tags can indeed configure multiple ads, and that has been supported since the first version of the IMA extension. I'm not aware of this feature in VAST (I think that always has a single ad and we play it as a preroll), but it is not really the concern of ExoPlayer anyway as we delegate loading/parsing to the IMA SDK.

The new functionality tracked by #3750 lets you play multiple media sour

[2021-05-11 14:17] ArcherEmiya05 commented on #8921
Yeah I think its VMAP not VAST I forgot it, thanks so if still using `AdsMediaSource` ads Uri will be in `DataSpec` right?

`
            adsMediaSource = new AdsMediaSource(mediaSourceBuilder.getMediaSource(), new DataSpec(adsUri), null, mediaSourceFactory, adsLoader, playerView);
`

Is this correct?

[2021-05-11 14:20] apptrash opened #8927 "Gradle config does not exist after Android Studio update. Project fails to build."
After updating android studio, when building, the following message is shown:
[code]
I'm using ExoPlayer r2.12.1

Here is a project structure (among others):
[code]
Here is `cgc.launcher/settings.gradle` content:
[code]

Also, from `cgc.launcher/app/build.gradle`:
[code]

Here is information about Android Studio:
[code]
I will provide more information if required. What can I do to fix the problem?

[2021-05-11 14:27] rothfels opened #8928 "mp4 rotation metadata ignored for some videos"
I've followed several threads about incorrectly rotated videos (https://github.com/google/ExoPlayer/issues/7553, https://github.com/google/ExoPlayer/issues/3275, https://github.com/google/ExoPlayer/issues/91) but none seem to apply here.

I have two (mp4) videos, both recorded in portrait mode on the same phone, one after the other. Both files metadata show `Rotation: 90°`:

![image](https://user-

[2021-05-11 14:36] ddicaro opened #8929 "MediaCodec error"
I have already opened a similar [issue](https://github.com/google/ExoPlayer/issues/6503) where I described the problem #6503

On many mid-range devices using OMX.MTK.VIDEO.DECODER.AVC decoder(or similar ones) when try to play a MPEG-DASH stream on Akamai CDN with DRM we receive this error:

[code]
We encounter the same error on many devices of our users (see attachment  [Report-codec_error_with_de

[2021-05-11 14:50] kim-vde commented on #8911
In the stream you provided, the PMT contains a program descriptor which is a registration descriptor (`descriptor_tag` is 5). This registration descriptor has `format_identifier` HDMV, which means that the stream conforms to the spec of "System Description Blu-ray Disc Read-Only Format part 3 Audio Visual Basic Specifications".

Do you mean that we should deduct from there that the elementary stre

[2021-05-11 14:59] apptrash commented on #8927
Rolled back the version to
[code]
Everything is OK on this version

[2021-05-11 15:41] alex3d commented on #8927
The problem is as of Android Studio 4.2 `gradle.ext.exoplayerRoot` should be set to an absolute path. This probably could be mentioned in exoplayer readme.

Android Studio 4.2 is bundled with JDK 11 instead of JDK 8 in previous versions, and see https://github.com/gradle/gradle/issues/8286#issuecomment-456940831

[2021-05-11 17:20] #8705 closed, assigned to icbaker

[2021-05-11 23:49] stevemayhew commented on #2882
@ojw28  and @AquilesCanta I'm looking at this now for I-Frame only playback.  The issue there is when you scrub multiple i-Frames are loaded an discard before any first frame shows, so the delay runs into 100's of milliseconds depending on the network and size of i-Frames.

My plan is to implement something similar to `DefaultDashChunkSource`'s method, `getAdjustedSeekPositionUs()` obviously the p

[2021-05-12 07:13] dzungvu commented on #8909
Have you tried to set maxParallelDownloads for DownloadManager, then simply call download for each media source using DownloadService
[code]
I've tested it and it works well

[2021-05-12 07:34] vinitshahane commented on #8913
Also tried playing my video in avplayer and webview and it is loading quickly within 1-2 sec. If you want I can send sample video as well.

[2021-05-12 08:11] andrewlewis commented on #8921
It looks right for passing the ads URI, but you are passing `null` for the `adsId` parameter, which is not nullable. The value passed there is used as a key for tracking the ad playback state (so if your release the player due to entering the background then come back to the foreground, you should pass the same `adsId` so that the old ad playback state before backgrounding is restored, for example

[2021-05-12 08:33] ArcherEmiya05 commented on #8921
Great, many thanks for the advice

[2021-05-12 09:48] christosts commented on #8925
The url redirects to another url that returns HTTP 403. Do you need special setup to open the url (e.g. agent)? I tested with curl from command line and from Chrome

[2021-05-12 10:03] ArcherEmiya05 opened #8930 "Overriding Controller UI no longer work?"
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-05-12 10:34] christosts commented on #8292
The cronet team submitted a fix for this, so I'll close this issue.
https://chromium-review.googlesource.com/c/chromium/src/+/2879998

Regarding when the fix will be available to ExoPlayer: it depends on how the player picks cronet at runtime. In cases where cronet is bunded with the player, the fix should be available when the player is built with a cronet version that has the fix. However, when

[2021-05-12 10:34] #8292 closed, assigned to christosts

[2021-05-12 12:13] NG-Gaurav commented on #8909
yes maxParallelDownloads = 10 my problem is the download manager picks a random video and starts downloading. so I just want to download manager should pick the first video and starts downloading then pick the second from the queue.

[2021-05-12 12:50] DarkAnakin opened #8931 "Cronet long to int overflow"
https://github.com/google/ExoPlayer/blob/aeb306a164911aa1491b46c2db4da0d329c83c65/extensions/cronet/src/main/java/com/google/android/exoplayer2/ext/cronet/CronetDataSource.java#L669

Casting can return overflow if file larger than ~2GB. You can ignore this message if it's intentional.

[2021-05-12 14:02] NG-Gaurav opened #8932 "how to download video thumbnail image with video"
We have two video thumbnails one portrait and the other for landscape. so how to download both thumbnails with video.

[2021-05-12 14:14] PoghosyanRoman commented on #8926
How can i force use omx.android decoder for confirmation of hw decoder bug ?

[2021-05-12 15:04] croccio commented on #8925
No, i put it on vlc and on safari and it works without problem.

[2021-05-12 15:09] christosts commented on #8925
The url resolves to
http://retry.skyanywhere3-i.akamaihd.net/hls/live/510694/mtv8sdlive/index.m3u8

which returns 403 for me. I tested on Chrome, curl (bash), Safari and vlc, all on a Macbook. Could this url be geo-protected?

[2021-05-12 15:47] croccio commented on #8925
i don't know sorry. i tried it from italy and from switzerland and it works.

Il giorno mer 12 mag 2021 alle ore 17:10 christosts <
***@***.***> ha scritto:

[2021-05-12 16:28] krocard commented on #8671
@missu263 as I explain in https://github.com/google/ExoPlayer/issues/8671#issuecomment-790474583 there are multiple ways to accelerate seeking. I can't now which ones the video-edit app you have in mind use.

Closing as the original question has been answered.

[2021-05-12 16:28] #8671 closed, assigned to krocard

[2021-05-12 19:08] nishantkp commented on #8037
@rrfrias any updates?

[2021-05-12 21:44] nishantkp opened #8933 "TrickPlay support for HLS/DASH stream"
We are implementing TrickPlay with ExoPlayer. We have a preview thumbnail information available on both HLS/Dash manifest.
Did some investigation on the existing issues and just wanted to confirm, if it is supported or not?

If it is currently not supported then, do you have it on your roadmap?

[2021-05-12 22:41] devnullpointer opened #8934 "AdError VAST_EMPTY_RESPONSE when VAST Tag is good"
When setting the AdTagUri in the MediaItem, ExoPlayer logs an error: `AdError [errorType: LOAD, errorCode: AdErrorCode [name: VAST_EMPTY_RESPONSE, number: 1009], message: The VAST response document is empty` even though the VAST Tag is valid.

[code]
- ExoPlayer 2.13.3
- Android 8.0
- Pixel 4

[2021-05-13 01:51] rbattaglin25 commented on #8891
Yes, I'm using the MediaPlayer is this PoC and it's working.

I'm trying to generate this file but I can't because I have to export in eight channels. Do you have any idea how to do it?

I did more tests and noticed that Xiaomi Mi9, Galaxy A50 and Moto G9 power has this problem.

In this PoC has more .ogg files without the instrument "Reco Reco" and if you play works fine .You can test this.

[2021-05-13 01:55] missu263 commented on #8671
@krocard as you mentioned in comment https://github.com/google/ExoPlayer/issues/8671#issuecomment-790474583 , I think that it's fit for player .  but in video-edit scene  it will be a delay-operation . what I  used video-app is  剪映  .

Mediacodec decode must feed a complete GOP, in this case , i want to decode a fame (any position) ,I have to seek to previous I-Frame  first, then decode every fram

[2021-05-13 02:56] lilinxiong commented on #7789
@jam-le Hi～ I encountered the same problem as you, have you solved it now? In other words, is there a solution?

[2021-05-13 03:14] dzungvu commented on #8909
So, you should set maxParallelDownloads = 1. Because what you want is to download only 1 video at a time. Exo will automatically download the next one if the current one is finish or pause. With maxParallelDownloads  = 10, then Exoplayer will download 10 videos in parallel.

[2021-05-13 04:50] shashikantkonded-git commented on #8134
@ojw28 - We are facing the same issue, video url and device details are sent through mail. Can you please look at it?
We are seeing the issue on only pixel devices. The devices tested are pixel 2, pixel 3a

[2021-05-13 05:25] steelersfan7 opened #8935 "Matroska file has to download completely before playing"
I pass a  URL to exoplayer and it can't play the underlying mkv file that the URL is pointing to. The file is H264 video and AAC audio.

This is when I try to initially open the URL. Note the period and window are just question marks.

[code]

This is 8 minutes later when the video has downloaded fully. Now, the period and window are filled in and the item starts to play.

The expected behavior is

[2021-05-13 05:46] md84419 commented on #7789
No solution yet.  This issue is assigned to @andrewlewis.

[2021-05-13 06:53] NG-Gaurav opened #8936 "ExoPlayerImplInternal: Renderer error: index=1, type=audio, format=Format(program_audio_ddp:dolby_audio, dolby_audio, null, audio/eac3, ec-3, -1, en, [-1, -1, -1.0], [6, 48000]), rendererSupport=NO_UNSUPPORTED_TYPE"
[code]

the issue only in android tv working fine on mobile device

[2021-05-13 07:05] KostyaLyapochkin commented on #8776
@andrewlewis Are there any updates?

[2021-05-13 07:23] KostyaLyapochkin opened #8937 "Unexpected runtime error (When Chunks have different playlist urls)"
Hi, I have caught an unexpected runtime error when I use HLS and **codecNeedsSetOutputSurfaceWorkaround = true**. For example, A xiaomi device like MiBox4 returns true, because it was established in the parent class  - MediaCodecVideoRenderer.

When I change the configuration of a mobile phone or hide an app - ExoPlayer passes a nullable Surface to clear/release codec inside MediaCodecVideoRendere

[2021-05-13 07:25] andrewlewis commented on #8776
This logging just before the first error looks suspicious:

[code]

If you play a stream that doesn't require a secure decoder (like the sample streams with ad tags in the demo app) do you see the same behavior?

[2021-05-13 08:02] krocard commented on #8671
I'm not sure to understand your question. To decode a frame, all dependent frames must be decoded first. Eg. to decode a P frame all previous P frames up to the last I frame need to be decoded first. This is unavoidable. That is why ExoPlayer feeds all frames from the last iframe to the decoder [1].

As listed in https://github.com/google/ExoPlayer/issues/8671#issuecomment-790474583, your app coul

[2021-05-13 08:32] andrewlewis commented on #8671
Sounds right.

I think the only thing ExoPlayer currently 'knows' about the reference structure (dependencies between frames) is which samples are synchronization samples, and for exact seeking we already use this information to avoid decoding previous GOPs. (Side note: it is also used to drop frames up to a keyframe when the video renderer is far behind the playback position as a way to catch up

[2021-05-13 09:50] KostyaLyapochkin commented on #8776
@andrewlewis I've checked this case, so If I use HLS or Dash without encryption it will be work well. Actually this error appearance when the app uses DASH with encryption.

[2021-05-13 11:47] Samrobbo commented on #8931
Fortunately, the fix for this (bc69509aba5afacaeb0e2ac5114f5a7c155f352a) has already been committed! It'll be released as part of the next release. If you want to see how it works, use the dev-v2 branch rather than release.

[2021-05-13 11:47] #8931 closed, assigned to Samrobbo

[2021-05-13 12:45] Samrobbo commented on #8936
It looks like there's a problem when trying to initialise a decoder for dolby_audio.

Can you give us some more information please? In particular, a full bug report (not just a stack trace) when the issue occurs, as well as a link to the media that you are trying to play.

The best way to give us all the information we need is to fill in all the fields in the issue template. The issue template can

[2021-05-13 12:46] Samrobbo commented on #8927
Hi @apptrash, it looks like `alex3d` has given you a possible solution, did it work?

You could also try updating to the latest ExoPlayer release and see what effect that has.

[2021-05-13 12:50] Samrobbo commented on #8935
Is this using the ExoPlayer demo app? Or have you got adjustments and customisations within your own app?

If possible, can we get a link to the test media, so that we can try to reproduce the problem and see what the issue is?

The best way to get meaningful and usable responses is to fill in the issue template, which can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github

[2021-05-13 13:08] apptrash commented on #8927
@Samrobbo, hi! Yeah, it does help. But now everyone who involved in project should set this path manually

[2021-05-13 13:39] Samrobbo commented on #8927
There may be an alternate way to do this, but I don't think it's specific to ExoPlayer. You might find some success asking a similar question on StackOverflow or in a gradle forum.

[2021-05-13 13:56] apptrash commented on #8927
Okay, I'll ask a similar question and write here what I found out.

[2021-05-13 14:06] apptrash commented on #8927
"${rootProject.projectDir}/../exoplayer" works fine for me

[2021-05-13 14:06] #8927 closed, assigned to icbaker

[2021-05-13 16:30] Samrobbo commented on #8933
If you look at #474, the associated commits and comments discuss in detail the support we have for TrickPlay. It looks as though the PR #6270 added support for this. Does that cover your use case?

[2021-05-13 16:33] Samrobbo commented on #8932
How are the thumbnails stored? Are they part of the video metadata?

There is not much information here for us to be able to help. The best way to get good assistance on the issue tracker is to fill in the issue template, which can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share test content publicly, please send them to

[2021-05-13 16:58] Avetri commented on #8911
PMT Registration Tag  (0x05) with "HDMV" format identifier with stream types from 0x81 to 0x87,
PMT Registration Tag  (0x05) with "AC-3" or "EAC3" format identifiers,
DTS PMT descriptor (0x7B), AC3 PMT descriptor (0x6A) and E-AC3 PMT descriptor (0x7A) should lead to audio streams according to standards because they are standards. But ofcourse nodody can garant from a wrong stream.

I don't insist

[2021-05-13 17:01] nishantkp commented on #8933
Hi @Samrobbo,

How would I select a trick-play track? By default, it is not doing it.

[2021-05-13 17:25] Avetri opened #8938 "Apple 16x9 basic stream: I-FRAME only track playing only without audio - with audio, the player is stuck"
I got spare not robust video tracks on HLS. (Tracks without resolution information in the logcat.)

Android:
7

ExoPlayer:
2.12.2 and 2.13.2

Streams (in HLS part of demo player media list):

[Apple 4x3 basic stream](https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_4x3/bipbop_4x3_variant.m3u8)
[Apple 16x9 basic stream](https://devstreaming-cdn.apple.com/videos/streaming/examples

[2021-05-13 19:56] S0und commented on #8927
To be more specific
in your `settings.gradle`

Change this:
`gradle.ext.exoplayerRoot = '$rootDir/../../ExoPlayer'`

to this:

`gradle.ext.exoplayerRoot = "${rootProject.projectDir}/../ExoPlayer"`

Obviously the initial path can be different, but the end of the day it has to correctly point to `common_library_config.gradle` which is in the root of the `/ExoPlayer/` folder

[2021-05-13 20:22] Avetri commented on #8938
There is no such thing in ExoPlayer 2.5.4.

[2021-05-14 01:53] stevemayhew commented on #8592
@davydovvladimir  It's on the input side that decode only is set, So I"m taking the tack of fixing this in the HLS input side (implement frame accurate seek, at least for I-Frame tracks).

As for the decoder, I've observed exactly what you describe on AmLogic and BRCM platform, so it may be a MediaCodec thing not a platform thing.  There is no reason we cannot get < 100ms first frame with reasonab

[2021-05-14 09:54] krocard commented on #8874
Talking with @andrewlewis, we don't think audio passthrough supports gain control. I'm pretty sure TOSLINK doesn't support it, I'm less sure about HDMI but probably nor.

In theory, ExoPlayer could seamlessly stop the audio stream and use an internal clock to drive video playback. Unfortunately, ExoPlayer disables all renderers on track selection change. This leads to the video freezing you observ

[2021-05-14 10:24] missu263 commented on #8671
@krocard @andrewlewis
thanks a lot ! It's my honor to receive your comments . 谢谢！

[2021-05-14 10:35] kdsrsl opened #8940 "How should I use the pass-through function？"
I have an android box which supports Dolby decoding function.
The box is connected to a playback device, which also supports Dolby decoding.

I want to configure the box to output audio to the playback device through the passthrough function. How should I operate in exoplayer?
I have read Google's search results and github issues, but the debugging was not successful.
I hope to be able to send pas

[2021-05-14 10:39] christosts commented on #8919
I'm afraid I can't fully follow the question because you mention both HLS streams and MP4 files.
- do you have access to multiple MP4 files directly?
- do you have access to multiple HLS streams?
- is it a single HLS stream that plays all these files?

When you add a MediaItem to the player, you can set `clipping properties` to say at want point to start and stop playback for each MediaItem. Pleas

[2021-05-14 10:44] christosts commented on #8913
Yes, please share a link to the content. If you cannot share it publicly here, please email it to dev.exoplayer@gmail.com with subject in the format "Issue #8913" and update this issue once you sent the email.

Thanks

[2021-05-14 11:02] christosts commented on #8891
I'm afraid I cannot assist with this.

At this point, I assume there's something wrong with the platform's decoder on this specific devices, and I'd advise to try ExoPlayer with the ffmpeg extension so that the player uses ffmpeg for decoding the audio files.

@krocard any other thoughts/recommendations on this issue?

[2021-05-14 11:48] billyjoker commented on #8905
Hi @icbaker , I've checked as you said and I have figured out this while debugging this part:

[code]
I've checked that the var `byte[] response`, which is a {byte[0]@6215} I think that is the opaque byte that you said, and when I debug `response.length` it results as 0

What does it mean?

By the other hand I see that main clue is that:
`com.google.android.exoplayer2.upstream.HttpDataSource$Inval

[2021-05-14 11:49] ojw28 commented on #8935
This is probably because the `Cues` element has been written at the very end of the file. ExoPlayer needs this element before it can start playback. As per the [Matroska documentation](https://www.matroska.org/technical/ordering.html), writing the `Cues` element further forward in the file has some advantages (including allowing ExoPlayer to start playback when it only has a partial download).

[2021-05-14 12:07] ojw28 commented on #8930
From the information provided, it's unclear exactly what no longer works, or why. Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally. This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue #1234"

[2021-05-14 12:12] christosts commented on #8925
I was able to access the content through a proxy in Italy. I tested on 2.13.3. The link failed to play on ExoPlayer because the player could not figure out the correct content type and assumed the link points to progressive media  (eg. mp4), whereas the URL redirects to an HLS stream.

To fix this:
- On the demo app, you can pass a hint to the player to load the URL as an HLS stream. The json entr

[2021-05-14 12:25] icbaker commented on #8905
That `byte[]` is plumbed directly through from the [`MediaDrmCallback#executeKeyRequest`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/MediaDrmCallback.html#executeKeyRequest-java.util.UUID-com.google.android.exoplayer2.drm.ExoMediaDrm.KeyRequest-) implementation you provide. In the demo app this is an `HttpMediaDrmCallback` and passes the HTTP response body received from

[2021-05-14 12:36] christosts commented on #8903
@tonihei any ideas on this?

One idea I can think of (not tested!) is passing a custom LoadControl instance on the player to do what you describe, i.e. prevent from loading if `bufferedDuration  is close to MPD@suggestedPresentationDelay`. You cannot achieve that with the existing DefaultLoadControl, but you can create a subclass of it to override its `shouldContinueLoading` method, maybe somethin

[2021-05-14 12:59] Samrobbo commented on #8934
Do you have an example streamUri that we can use to verify this is reproducable? If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2021-05-14 13:01] Stonos commented on #8905
I believe that the Nvidia Shield K1 Tablet has had its Widevine L1 license revoked (similar to #7986 and #8075). I also have the same tablet, and Widevine L1 stopped working at some point.

The only workaround I found was to force L3 instead of L1 (which may not be possible in your case). There is an open ticket to automatically fallback to L3 if playback with L1 fails: #8108

[2021-05-14 13:43] Pitel opened #8941 "RTSP Basic Authorization"
### Use case description
I'm trying to connect to RTSP stream with URI: `rtsp://admin:heslo123@1.2.3.4:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1`. It doesn't work. I get the following error:

[code]

Indeed, when I debuigged the requests and responses, the `Authorization: Basic`  header is missing. And I couldn't find any way to provide custom headers.

### Proposed soluti

[2021-05-14 13:51] icbaker commented on #8867
Are you using the FLAC extension or the FLAC extractor bundled in the core library? If the latter (which is the default if you haven't explicitly included the FLAC extension), then see the *** footnote here (API 27 is Android 8.1.0, i.e. just before 9):
https://exoplayer.dev/supported-formats.html#progressive-container-formats

[2021-05-14 14:02] ojw28 commented on #8937
Note: Looks like a duplicate of https://github.com/google/ExoPlayer/issues/8890.

[2021-05-14 14:05] icbaker commented on #8759
Version 1.9.6 doesn't exist - ExoPlayer v1 (now unsupported) only got as high as 1.5.16. Most of the symbols you reference don't exist in 1.5.16. Presumably you mean 2.9.6?

In some cases it looks like the symbols you're using are deprecated and the deprecation message tells you the alternative to use, e.g.:
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultBandwidt

[2021-05-14 14:05] #8759 closed, assigned to icbaker

[2021-05-14 14:22] krocard commented on #8891
Playing your POC and our demo app with the android emulator (pixel 3XL), I could hear audio underruns.
I believe the issue comes from very high bitrate of your audio file:

[code]

On low end devices like the emulator, the decoder has a very hard time decoding fast enough for real time playback. It barely manages it, but with a lot of variability. Some frames take sometime a very long time to deco

[2021-05-14 14:44] devnullpointer commented on #8934
@Samrobbo The player doesn't crash, the ad never gets played and the player plays the intended stream. You can use buck bunny as a test stream. I even tested the adtag in the ExoPlayer Demo app, same thing.

[2021-05-14 15:10] krocard commented on #8891
I would recommend lowering the bitrate of the audio file played. 8 channel 1.9kb/s is an extremely low compression ratio (only ~35%). I guess the highest quality setting of libvorbis was used to encode them. Halving the bitrate should provide ample enough quality for playback.

[2021-05-14 15:30] christosts commented on #8890
@tonihei can you take a look?

[2021-05-14 15:30] christosts commented on #8937
@tonihei can you take a look?

[2021-05-14 15:38] icbaker commented on #8892
That does seem slow - but I did some testing and I see similar speeds (generally closer to 200ms) on a Pixel 3a XL. All my replies so far have been assuming `MediaDrm#openSession` was sufficiently fast to not be a concern - but I see that isn't necessarily the case, so apologies for that.

While testing I found that only the first session opened on a given `MediaDrm` was that slow. Subsequent ones

[2021-05-14 15:55] Samrobbo commented on #8928
@kim-vde Can you take a look at this? I had an initial look at it, it appears our parsing of the tkhd atom is not returning a rotation degree, when in theory it should? Could be something incorrect with the media, but seems unusual.

[2021-05-14 16:04] krocard commented on #8940
This is handled automatically by `SimpleExoPlayer` and enabled by default. More specifically the supported formats are automatically discovered by `AudioCapabilities.getCapabilities()` and passed to the `DefaultAudioSink` by the `RenderersFactory.buildAudioSink`.

Just play the Dolby media with ExoPlayer normally and, if the device supports it, it will be played in passthrough.

[2021-05-14 16:04] #8940 closed, assigned to krocard

[2021-05-14 16:23] christosts commented on #8938
The tracks you are seeing are EXT-X-IFRAME-ONLY tracks, which were supported since 2.12. I can verify this is what is being reported when playing the [Apple 16x9 basic stream](https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8), but I don't see the EXT-X-IFRAME-ONLY tracks on [Apple 4x3 basic stream](https://devstreaming-cdn.apple.com/videos/streaming

[2021-05-14 16:57] icbaker commented on #8842
I did some more testing. I removed the clipping (which I'd added to make the black flashes more obvious) and observed that the secure decoder is no longer re-initialized during transitions.

This is because the clipping caused the second period to start at a discontinuity (since I clipped to arbitrary point, and didn't hit a key frame), and so we went into this code here:
https://github.com/google

[2021-05-14 17:08] christosts commented on #8840
Hi,

The provided playlist URL returns an HTTP 403. Can you check it is accessible? Could access be geo-restricted?

As of version 2.13, we added support for Low-Latency HLS live streaming, and, as part of that, we added an API to tune some parameters related to live streaming - see LiveConfiguration [here](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.LiveConfigurati

[2021-05-14 17:10] charithamadhu1 opened #8942 "Query Strings + M3U8 not streaming"
I have already raised my question in Stack Overflow (https://stackoverflow.com/questions/67412832/exoplayer-in-android-not-load-with-m3u8-queryparameterauth)

I m trying to load this m3u8 URL in the player.

https://companyName.com/msng/7edc4-bb1e-/AHLS2/7ee2.m3u8?media-auth=exp=16w3237~acl=/msng/7e23223-b421e-46dd-80d72232e2/*~hmac=a1ed344xxxxx23232

My question is with this kind of query paramet

[2021-05-14 17:24] steelersfan7 commented on #8935
I am still assembling some logs and data as requested. This seems to be only a problem related to exoplayer. MX,libvlc, vlc, mpv, and any one of the app store players take the URL's in and start playing. I am also confirming soon if the issue is related to mkv, by testing an mp4. Thanks for the quick reply.

[2021-05-14 17:38] lcf87 commented on #8941
Hello Pitel,

Thanks for your interest in RTSP, right now ExoPlayer does not support RTSP auth, but it is something that we have planned. Please stay tuned.

If you are looking to implement auth yourself, take a look at `RtspClient.MessageListener`. You can customize `RtspRequest`'s header section with `RtspHeaders.Builder`

[2021-05-14 19:39] Avetri commented on #8938
@christosts Thank You.

You are right. There are no spare (I-frame) video tracks in "Apple 4x3 basic stream". It was my fault. I am sorry.

[2021-05-14 19:45] Avetri commented on #8938
@christosts what kind of support do the EXT-X-IFRAME-ONLY tracks have? I got an exception when try to play them:

[code]

[2021-05-14 23:49] ssenanayake opened #8944 "Dolby Vision/HDR10 selection based on connected TV device"
### Use case description
Currently Exoplayer selects the codec based on the available codecs on the device. But in the case of some devices like nVidia Shield, the device contains Dolby Vision AND HDR10 codecs.

We have noticed that Exo, in such cases can deliver Dolby Vision to a HDR10 TV or vice versa resulting in color distortions.

### Proposed solution
Without modifying Exo, we at ViacomCBS h

[2021-05-15 09:32] ArcherEmiya05 commented on #8930
Unfortunately the project was too big, but after updating to latest version `2.13.3` the overriding of controller no longer works while downgrading it back to original version `2.11.1` it works just fine.

[2021-05-15 09:52] pratikK017 opened #8945 "Notification for download after pausing download."
We are developing app where we are working on download part.

Requirement is to show a notification when download is paused. so that from the notification we can resume or remove the download.
but with current version notification is removed when download is paused.

Is there any way to show download notification even when download is paused, which should be same as progress notification.

[2021-05-15 09:55] ArcherEmiya05 commented on #8930
I  guess this has something to do with `ControlDispatcher` vs `PlaybackPreparer` ?

[2021-05-15 09:56] Tolriq opened #8946 "ExoPlayer does not recover from errors in playlists"
ExoPlayer 2.13.X / 2.14 ffmepg extension.

Any device

A user have some invalid Flac files that triggers an error at their end:
[code]

I can send the problematic file if there's something fixable as it's the root issue.
But the actual issue here is that I can't recover from the error and continue the playlist probably due to corrupted windows/positions internally.
After the error I send a next()

[2021-05-15 10:31] sajjadshahbazi commented on #8919
I have a number of http mp4 links that I want to play these mp4 files at the beginning of a single HLS stream.

[2021-05-15 11:28] ArcherEmiya05 commented on #8930
I can confirm that implementing ControlDispatcher with `playerView.setControlDispatcher(this)` means you will be responsible for handling the control UI and player behavior since it overrides a lot of method. Actually all I need is `dispatchPrepare` where I start creating the player and its MediaSource but implementing `ControlDispatcher ` forces me to implement all override methods. I guess I wil

[2021-05-15 11:30] #8930 closed, assigned to ojw28

[2021-05-15 13:15] badrprojects opened #8947 "HLS EOFException"
I'm trying to play HLS, the video play the first segment then throw an EOFException, but I can play full media in VLC.

<details><summary>Error log</summary>

[code]

</details>

<details><summary>index.m3u8 content</summary>

[code]

</details>

<details><summary>3_1080p.m3u8 content</summary>

[code]

</details>

<details><summary>1_720p.m3u8 content</summary>

[code]

</details>

<details><summ

[2021-05-15 16:53] ghost opened #8948 "Exoplayer buffer time too long"
I am building audio podcast app.
But I faced big problem.
I used exoplayer for audio podcast. When I move time track, I have to wait too long time to play audio
When exoplayer buffer audio, played. But on ios AVPlayer is fast to buffer. I think there are best solution to reduce buffer time.
[code]
My exoplayer is above.
Thank you for your help

[2021-05-16 13:28] vinitshahane commented on #8913
I researched more into this and found out the issue is with seekto(). in my app in some videos i need to start playing from some given position which is taking time to load. e.g if video length is 5min  and i want to play it directly from 2 min then its taking time other if i play it from start its not taking time. is there any option by which i can directly start video from any position without a

[2021-05-17 05:37] dzungvu opened #8949 "MediaDrm: MediaDrm went away with unhandled events"
Hi, I'm working on a player project which uses Exoplayer ver 2.13.2
After download a dash drm content and wait for key expired. I can't renew the key using offlineLicenseHelper. Which I've done is:
[code]

And I received message:

[code]

I couldn't figure out what is the problem and where I can place a MediaDRM handler. So, can you help me for this issue.

[2021-05-17 09:51] christosts commented on #8913
There are can be a few parameters that affect this on your app, please share the content and also a snippet of code that reproduces your observation, so that we can reproduce too. For example, to see the delay with your content on the demo app, is it enough to change the demo-up and add a player.seekTo() in [PlayerActivity](https://github.com/google/ExoPlayer/blob/r2.14.0/demos/main/src/main/java/

[2021-05-17 10:44] andrewlewis commented on #8776
Does calling `setDrmSessionForClearPeriods(true)`

[2021-05-17 10:53] andrewlewis commented on #8776
Does calling `setDrmSessionForClearPeriods(true)` when building the content `MediaItem` make any difference to the behavior you see? I'm not sure about the underlying cause, but I'm guessing it could be related to how the surface is configured by the codec after rotation depending on whether clear/encrypted content is being played. @icbaker may have some ideas.

[2021-05-17 12:02] anandsingh2903 opened #8950 "Exoplayer download service unable to download different HLS videos with different cookie value for authentication"
I have implemented a download service and it is working fine with normal HLS URL's....but when i try download a HLS URL which usses some cookie value for authentication...my download fails because download manager initializes only once in download service of exoplayer. Is there any way to restart the service every time or change the instance of download manager every time for each video or to stop

[2021-05-17 12:14] jrocharodrigues commented on #8842
@icbaker

I tested with live and on demand streams and i see the black screen in both (when switching from enc -> clear). I think that at least the on demand ones should both start with an key frame and the shouldn't have a discontinuity.
I've tested with a break point on the lines you've highlighted and it didn't enter there.
Is there anyway to confirm this?

Right now i'm little confused and wit

[2021-05-17 12:41] Samrobbo commented on #6729
As of the 2.14 release, `MediaMetadata` is the normalized object for accessing metadata in an easier manner, and it can be accessed through `Player.getMediaMetadata()` or by listening to `EventListener.onMediaMetadataChanged()`.

Currently, `VorbisComment`s are not polled for metadata to fill the MediaMetadata object.

[2021-05-17 12:52] Samrobbo commented on #8923
@icbaker can you look into this? I couldn't find anything obvious from a cursory look.

[2021-05-17 12:52] GavinChu opened #8951 "IllegalArgumentException maybe thrown when calling setVideoTextureView"
**Issue description**
In some extreme cases, when calling setVideoTextureView, the internal thread of ExoPlayer will call MediaCodec#setOuputSurface, which may throw an IllegalArgumentException. What can be confirmed is that my device supports the setOuputSurface capability.

I tried to analyze this problem. If the internal thread of ExoPlayer is calling MediaCodec#setOuputSurface within 50ms afte

[2021-05-17 12:56] Samrobbo commented on #8929
@kim-vde are you okay to look at this? You addressed the same thing when it last arose.

[2021-05-17 13:37] Samrobbo commented on #8934
Note for assignee, stream url has been provided in an email.

[2021-05-17 13:55] Samrobbo commented on #8933
(Added @AquilesCanta as an additional assignee as he knows more about this than I do)

From what I understand, ExoPlayer does _not_ support TrickPlay out of the box. The way to expose the track that is intended for trick play would involve extending the DefaultTrackSelector so that that track is not ignored. However after that you would have to control how you use this track yourself.

What exactl

[2021-05-17 14:07] icbaker commented on #8927
After changing the README instructions above to require an absolute path, I took another look to see if we could remove that requirement.

I worked out the problem comes when constructing a `File` object from the `exoplayerRoot` string. Gradle says we can't call `new File` with a relative path, we have to use their `Project.file` method:
https://docs.gradle.org/current/userguide/working_with_files

[2021-05-17 14:13] AquilesCanta commented on #8933
To expand a bit on what @Samrobbo says:

You can extend the DefaultTrackSelector and override [selectVideoTrack](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html#selectVideoTrack-com.google.android.exoplayer2.source.TrackGroupArray-int:A:A-int-com.google.android.exoplayer2.trackselection.DefaultTrackSelector.Parameters-boolean-) so that it

[2021-05-17 14:28] icbaker commented on #8923
I don't think you need ExoPlayer to do this - I believe you can do it directly with the Android `MediaDrm` API (on API 28+):

[code]

https://developer.android.com/reference/android/media/MediaDrm#getConnectedHdcpLevel()

I don't think ExoPlayer needs to expose this in another way, so I'm going to close this - but please reply here if I've misunderstood the question or requirements.

[2021-05-17 14:28] #8923 closed, assigned to icbaker

[2021-05-17 14:45] vinitshahane commented on #8913
yes its is enough to add player.seekto(). i am adding my sample activity which is taking 2.5-3 sec to load.(here i have added sample video link which is also taking time 2-3 sec)

Note: tried my app video on ios and web its loading quickly.

`public class ExoplayerActivity extends AppCompatActivity  {

    // creating a variable for exoplayerview.
    SurfaceView exoPlayerView;
    // url of video

[2021-05-17 14:49] icbaker commented on #8776
I saw that same error message in https://github.com/google/ExoPlayer/issues/8668 - I don't know if the discussion there is any help.

Otherwise I agree with Andrew that the easiest way for us to help would be a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studi

[2021-05-17 15:23] icbaker commented on #8949
Can you provide more precise information (including some of the things requested in the template provided when you filed this issue)?

What actually happens when you try and renew it? You included a very short log snippet but it doesn't contain any errors or exceptions, only warnings. A bug report (captured with `adb bugreport`) would probably contain more useful information - especially if you ha

[2021-05-17 15:27] nishantkp commented on #8933
@Samrobbo @AquilesCanta
Thanks a bunch for the info.
We want to show a preview thumbnail when a user scrubs on the seek-bar.

[2021-05-17 16:00] icbaker commented on #8923
Oh I missed `MediaDrm` is `Autocloseable` - updated my example above to use try-with-resources.

[2021-05-17 16:13] christosts commented on #8919
Ok, so my understanding is you have an HLS stream and additional links to MP4 files that you want to play either in the beginning or in any point while playing the HLS stream. One way to achieve this is to load each playback "piece" as a separate media item and set the [clipping properties](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.Builder.html) for each media ite

[2021-05-17 16:31] stevemayhew opened #8952 "Fix to allow Audio timestampMaster causes stream startup delay"
The patch, allow audio master, commit [6f8a8f](https://github.com/google/ExoPlayer/commit/6f8a8fbc1cf974617056edac6ee0068b175a6454), fixes stall issues with ordering of updates of the DSN in segments across demuxed renditions however the cost is the seconds of delay on channel change or stream startup, a bad user experience.

To reproduce this bug start playback of any HLS live stream where audio

[2021-05-17 16:34] andrewindayang opened #8953 "jcenter migration please.."
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-05-17 16:46] icbaker commented on #8953
I'm guessing (from the limited info provided) that this is a duplicate of https://github.com/google/ExoPlayer/issues/5246.

[2021-05-17 16:46] #8953 closed, assigned to icbaker

[2021-05-17 17:21] ZygmuntMalek commented on #8874
Disable passthrough is not acceptable option, we try to use `onAudioPositionAdvancing` as workaround to detect when video gap ends. But from our point of view seamless disabling renderer by TrackSelector would be best solution so we will look foward if such extension will be added.

[2021-05-17 18:11] stevemayhew commented on #8952
Very possible that issue #8952 is related to this.

[2021-05-17 20:04] stevemayhew commented on #8952
@AquilesCanta

Assuming the best fix is to return to using video must master timestamps.  This is the best fix I believe, and the timestamp master certainly should not change during playback, only on track selection if the track that was timestamp master is unselected.

This statement seems an interesting path:

This could work, at least for our use case, the trick is we need to refresh the *times

[2021-05-17 21:06] AquilesCanta commented on #8952
Nono, the proposal is that HlsSampleStreamWrapper.getNextLoadPosition asks its HlsChunksSource for the position of the next segment to load, and if that segment belongs to an uninitialized discontinuity sequence, and the chunk source is not an adjuster master, then HlsChunkSource will return an "infinite" value so that the composite sequenceable loader keeps loading from the master until the new d

[2021-05-17 21:15] stevemayhew commented on #8952
yes, that makes much more sense.  As part of the Un-Reported discontinuity handling I was looking at making a hook for the `CompositeSequenceableLoader` to do something like this.  Basically the idea is loading can't continue until someone is prepared to re-initialize the time offset (create and master a new `TimestampAdjuster`).

I'm assuming you want to add a new sentinel value returned from `ge

[2021-05-17 21:28] sruditsky opened #8954 "Playback position jumps backwards when crossing DASH period boundary"
We are using ExoPlayer 2.12.3

We have a DASH content which contains several periods. The first period has no ContentProtection, however, the rest of the periods have it. When we play this content the playback position advances through the first period as expected, however, when the second period starts the playback position jumps backwards by 300-400 milliseconds (which brings the position to the

[2021-05-18 04:03] lsgfly commented on #8471
[m3u8.txt](https://github.com/google/ExoPlayer/files/6498272/m3u8.txt)
It will occur in 01:26 .

[2021-05-18 05:59] NG-Gaurav commented on #8932
https://snagfilms-a.akamaihd.net/7fa0ea9a-9799-4417-99f5-cbb5343c551d/images/2021/01/22/1611276403267_hello3_600x338_ep1_16x9Images.jpg

[2021-05-18 06:00] NG-Gaurav commented on #8932
this is the thumbnail URL that we want to download with video file.

[2021-05-18 06:48] jazimm opened #8955 "Not able to display captions using castplayer and MediaItem.Subtitle while casting"
I have implemented exoplayer2.ext.cast.CastPlayer utilizing dash and can view subtitles when calling setMediaItem on an instance of exoplayer2.Player.setMediaItem with a MediaItem that includes a MediaItem.Subtitle in the MediaItem.Builder(). The dash stream will play sucessfully on the Android TV device but I have not been able to determine how to turn on the captions while casting. When playing

[2021-05-18 06:51] sruditsky commented on #8840
@christosts

Yes, this is a production content and it is restricted to US.

However, I updated our code to work with 2.13 and I can easily reproduce this issue with 2.13.2, but _not_ with 2.13.3.
I also verified that the playlist on which this happens does _not_ contain EXT-X-START.

I guess we can consider this closed.
If I figure out what exactly fixed this I'll post it here.

Thanks!

[2021-05-18 06:51] #8840 closed, assigned to christosts

[2021-05-18 08:06] icbaker commented on #8955
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/8669.

[2021-05-18 08:06] #8955 closed, assigned to icbaker

[2021-05-18 08:10] icbaker commented on #8954
Can you please provide a link to a stream we can use to reproduce the problem?

As of 2.14.0 this key request should happen much earlier and not cause playback to block (#4133) - you might like to try playing your content in 2.14.0 and seeing if you still see the period-jumping problem.

[2021-05-18 08:49] chladto1 opened #8956 "Fullscreen"
We have `PlayerView` that integrates `ExoPlayer` and plays a video content. The `PlayerView` is embedded in `PlayerFragment` that can be placed in any layout. We have `FullscreenPlayerActivity` that has fullscreen style and contains `PlayerFragment`.

When an user taps on fullscreen button, we register `Activity` lifecycle and starts `FullscreenPlayerActivity`. When the `Activity` is created, we r

[2021-05-18 09:03] christosts commented on #8840
Good to hear that everything works!

[2021-05-18 09:22] icbaker opened #8957 "Consider making MediaItem.Builder fail more loudly on invalid configurations"
The motivating example for this issue is that `MediaItem.Builder#setDrmSessionForClearPeriods()` is silently ignored if `MediaItem.Builder#setDrmUuid()` is not set (https://github.com/google/ExoPlayer/issues/8842#issuecomment-833659808).

From an implementation details perspective it's understandable that the UUID is required for any of the other DRM fields to be useful, but the silent dropping of

[2021-05-18 09:25] krocard commented on #8874
The main problem is that the audio renderer is that it its progress that drive the video renderer. This allows video and audio to be kept in sync (as audio is much harder to speed up/down compare to video frames display). When disabling the audio renderer, ExoPlayer needs to switch the timestamp source to a clock instead.

Marking this issue as an enhancement request.

[2021-05-18 10:18] icbaker commented on #8842
@jrocharodrigues Thanks for providing some content to reproduce the problem. However when I play that I don't see the video decoder being re-initialized - it keeps a secure decoder throughout the transition, so it doesn't reproduce the problem. I'm using a version of ExoPlayer built from dev-v2 (but I would expect it to be very similar to 2.14.0).

What version of ExoPlayer are you using? There ha

[2021-05-18 10:48] dzungvu commented on #8949
Thanks for your quick support. I found that the error was caused by other process beyond Exoplayer library. So, I'll close this.
Sincere Thanks!

[2021-05-18 10:48] #8949 closed, assigned to icbaker

[2021-05-18 12:13] md84419 commented on #8473
For me, upgrading the OS fixed my issue:

Broken on Samsung Galaxy Tab A7
One UI Core 2.5
Android 10
Kernel 4.19.95-perf-20288130
Build QP1A.190711.020.T505XXS2ATL1
Patch: 1 Dec 2020

Fixed in Samsung Galaxy Tab A7
One UI Core 3.1
Android 11
Kernel 4.19.152-perf-21303446
Build RP1A.200720.012.T505XXU3BUD7
Patch: 1 Mar 2021

[2021-05-18 12:27] christosts commented on #8938
They should be playable. There was a bug fixed in 2.13.3 so please use 2.13.3+ (2.14.0 was just released). From the demo app, you can watch "Apple master playlist advanced" (TS or FMP4) or "Apple media playlist (TS)" and select to view an i-frame-only track.

I can see that with "Apple 16x9 basic stream" on 2.14 playback does not start and the player is in buffering state, I will update this issue

[2021-05-18 15:01] jrocharodrigues commented on #8842
Hi @icbaker , thanks for your answer, it's pretty clear for me now.

I was testing with 2.13.3, but now i tested with both 2.14.0 and dev-v2

In the 'bad' case (black flash) I'd also expect to see videoDecoderReleased immediately followed by videoDecoderInitialized at the time of the transition.

Maybe i'm missing some change in my tests, because i see the logs:
[code]
When transitioning between t

[2021-05-18 15:49] icbaker commented on #8842
I would expect the video decoder re-initialization (or lack of) to be consistent across all devices (which is what you're seeing) - the difference between devices is about how they behave when the surface is detached from the secure decoder as part of this re-initialization. That's where it seems some devices (like the Pixel 4 and 3a XL that I've tested with) don't show a black screen, while other

[2021-05-18 15:49] tonihei commented on #8903
I think the player is behaving as expected and the manifest/serving infrastructure is not set up correctly:
 - The manifest doesn't contain a `timeShiftBufferDepth`. This means the available live window starts in 1970 and (unsurprisingly) seeking backwards results in 404 status codes as the segments aren't actually available.
 - The available live window ends at the segment whose end time is less

[2021-05-18 15:52] PoghosyanRoman commented on #8926
problem is in avc decoder , then ir receive high framerate , it crashes ... i think player no limits the framerate .
On android 7 in log i see
021-05-18 19:49:49.656 4102-6802/? D/Layer: Layer (HwcAgt-0xf2ad6800) No valid buffer now, waiting for new buffer.
2021-05-18 19:49:49.661 4102-6802/? D/Layer: Layer (HwcAgt-0xf2ad6800) BufferQueue Present Later.
2021-05-18 19:49:49.672 4102-6802/? D/Layer:

[2021-05-18 15:52] akavrt commented on #8903
@christosts @tonihei Thanks a lot for your feedback! We will adjust our manifests as suggested.

[2021-05-18 15:52] #8903 closed, assigned to tonihei

[2021-05-18 15:55] tonihei commented on #8890
Duplicate of #8937

[2021-05-18 15:55] #8890 closed, assigned to tonihei

[2021-05-18 16:12] icbaker commented on #8956
Do you observe the problem only when playing DRM content or clear content as well? (the original issue mentioned DRM, but that was removed in a later edit)

If it's happening during Widevine L1 then it's probably the limitation of the underlying platform described in https://github.com/google/ExoPlayer/issues/6847#issuecomment-571929790.

If you see it in other cases please provide a [minimal repr

[2021-05-18 16:47] sjarschel-vida opened #8958 "Subtitle / Captions Styling"
I am having some challenges styling my subtitles with the Exoplayer. I am passing subtitles via webvtt files with an HLS media source. This works fine for the most part, subtitles are rendered in the player view.

    private fun buildHlsMediaSource(uri: Uri): MediaSource {
        val dataSourceFactory = DefaultHttpDataSource.Factory()
        val hlsDataSourceFactory = DefaultHlsDataSourceFactor

[2021-05-18 17:08] jrocharodrigues commented on #8842
@icbaker I think i might have found the difference.
I made some more tests and found two different behaviours:

1. Transition between item by using the nextTrack/previousTrack controls

    - Logs show:
[code]

    - Android Tv Devices shows black screen (pixel 4 doesn't)

2. Automatic transition by waiting for the first item to end
    - Logs don't  the `videoDecoderReleased` log

    - No black

[2021-05-18 19:10] stevemayhew opened #8959 "Playback stops at EXT-X-GAP tag if GAP exceeds buffering time"
If there is a gap across all renditions that lasts longer than the buffered time limit (50s default) the player stops indefinitely in the buffering state.   This is of course because buffering is calculated based on the playlist not the samples yet rendering depends on the samples.

This issue is related to #6087 (in that if the gap is smaller than 50s playback simply skips the duration of the aud

[2021-05-18 19:26] Avetri opened #8960 "ExoPlayer looses HLS FRAME-RATE info"
ExoPlayer looses information about video frame rate (tag FRAME-RATE of master playlist) during its work.

ExoPlayer version: 2.13.2

HLS sample: [Apple master playlist advanced, TS](https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_ts/master.m3u8)

Master playlist:

[code]

Logcat:

[code]

How to fix:

[code]

[2021-05-18 23:01] sjarschel-vida commented on #8958
Got the styling working now:

    private fun configureSubtitleView() {
        subtitleView.setApplyEmbeddedFontSizes(false)
        subtitleView.setApplyEmbeddedStyles(false)
        subtitleView.setFixedTextSize(TEXT_SIZE_TYPE_ABSOLUTE, 30F)
        subtitleView.setBottomPaddingFraction(.1F)

        val style = CaptionStyleCompat(Color.WHITE, Color.GRAY, Color.TRANSPARENT,
            CaptionS

[2021-05-19 01:04] #8843 closed, assigned to icbaker

[2021-05-19 01:04] #8818 closed, assigned to ojw28

[2021-05-19 01:23] craigrbruce commented on #8333
Hi. I have heard from an internal contact at Google that this issue has been fixed and released. Could you please confirm here if that is the case? Thanks.

[2021-05-19 05:26] sruditsky commented on #8954
@icbaker
Unfortunately this is a proprietary production content and it uses a proprietary DRM system and geo-restricted, so it is quite difficult to share it.

I did try this with 2.14.0, however, I still see the keys being requested at the very end of the first period.
Is there any configuration/API call which is needed to allow this?

[2021-05-19 05:53] sajjadshahbazi commented on #8919
i have single Hls stream that has a MediaSource for subtitle.
Is the subtitle displayed over mp4?

[2021-05-19 06:12] indieboyalex commented on #8772
As an update to this:

We attempted to do as much as we could to ensure the analytics listeners were removed before releasing the player.  This resolved any crashing issues we were seeing locally.  However out in the wild we were still seeing a huge volume of crashes related to this Assertion check, and nothing seemed to suggest a problem on our side.  Eventual solution was to clone the repo, and

[2021-05-19 07:16] artursahakar opened #8961 "Audio continues to play for ClippingMediaSource while video stuck"
The issue is observed when using mediaItem list (local mp4 files) where the second media for example has clipStartPosition. With the default mediaCodecSelector(chooses hardware decoder) in the moment of media transition the video frame freezes a little, but then gets updated.

For testing purposes I override MediaCodecSelector where I choose a **software decoder**. Video freezes but audio plays, a

[2021-05-19 07:57] KostyaLyapochkin commented on #8776
@andrewlewis @icbaker Hi, I have replied this issue in a little project. I've taken sources from ExoPlayer-Demo and I would like to highlight that the error arise when I use H264. Please, take a look:

https://github.com/KostyaLyapochkin/ExoPlayerErrorExample

I am attaching a video too:

https://user-images.githubusercontent.com/36475116/118773369-705d6300-b88d-11eb-832d-0e581c317dc6.mp4

[2021-05-19 08:05] tonihei commented on #8772
Did you try to use the fix for #8675? It's now also been released as part of 2.14.0, so you should be able to upgrade to this version to get the fix as well.

[2021-05-19 08:14] chladto1 commented on #8956
I know about the [#6847 comment](https://github.com/google/ExoPlayer/issues/6847#issuecomment-571929790) and I wanted to focus attention on clear content that has the issue as well.

From source code and debugging we found that GL thread in `GLSurfaceView` is stopped when the `View` is removed from `ViewGroup` (when `onDetachedFromWindow` is called) and started again when added into another `ViewG

[2021-05-19 09:03] OneBadNinja opened #8962 "Implementing a custom audio processor"
Greetings,

I would like to create a music/video player app which applies a custom audio effect based on a personal C++ library that I have JNI bindings for. I am very new to Android development, and from my reading I have seen that custom audio processing is to be done within the Audio Processor interface: https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/AudioProcessor.html

[2021-05-19 09:03] rrfrias commented on #8037
The media file helped. I was able to playback using when VPNing to Canada. I have shared the apk with Samsung to investigate. Will let you know when we hear back.

I also tested using a Galaxy S10+ (Build: QP1A.190711.020) and was unable to reproduce. When you see the problem does it always happen? Does it happen at the beginning of playback or do you have to play for a while?

@soutua I missed yo

[2021-05-19 09:04] krocard commented on #8942
Does this url work when using Curl/wget? It seems like your issue is due to authentication token. Also check in Android studio network monitor if the URL is as expected.
You should also check on the server log if you can the reason why the request was rejected.

[2021-05-19 09:10] krocard commented on #8944
Could you please clarify what is the issue? I don't understand in which situation color are distorted. Especially why HDR10 support would impact Dolby Vision decoding and display.

Could you share what modification you have made to help us understand the issue. Is it a color space issue?

[2021-05-19 09:14] icbaker commented on #8919
The subtitles shouldn't show over the MP4, no. The video, audio, text, etc of the HLS will all 'pause' at the `clipEndPositionMs` of the first item and resume again at the `clipStartPosition` of the following item.

(there was a bug where subtitles would keep being displayed in this case, it's fixed from 2.13.3 upwards: https://github.com/google/ExoPlayer/issues/8456)

[2021-05-19 09:17] tuesda opened #8963 "Mp3's duration is not right"
- Clear reproduction steps including observed and expected behavior
  - Play below mp3 audio url, the duration which Exoplayer returned is not right.
    - Exoplayer's duration is 4:29:57
    - ffmpeg's duration is 1:32:21
   - Because mp3's duration is estimated with bitrate, Exoplayer's bitrate is 32kb/s，ffmpeg's bitrate is 96kb/s, so I guess the problem is the bitrate.
- URI to test content for

[2021-05-19 09:18] krocard commented on #8946
The log you attached is not sufficient to understand the issue I can't see any second error. Could you send an error log from a bit before the 1st error occur until after the fail recovery?

Additionally, it would be great if you could attach the broken Flac with the previous and next media so that we can reproduce in the demo app.

ExoPlayer should be able to recover if the next file is not corru

[2021-05-19 09:27] krocard commented on #8948
The media that has already been played is kept in a "back buffer". By default to save memory, the size of the back buffer is 0,  so when seeking back, the media has to be downloaded again.
You can adjust the size of the back buffer by `DefaultLoadControl.Builder.setBackBuffer`.
https://github.com/google/ExoPlayer/blob/d5d78238773d6dc53b54849ca10d845a4421284c/library/core/src/main/java/com/google/a

[2021-05-19 09:27] #8948 closed, assigned to krocard

[2021-05-19 09:32] Tolriq commented on #8946
I've just sent the broken file.

This occurs with or without any previous file in the queue and with **any** file queued after, flac, mp3, whatever.

The playlist is just 2 files but same occurs if there's more than 1 file after the broken file.

There's many checks and internal stuff but basically it's down to when onPlayerError is called the app call exoPlayer.next() (on proper threads, but it's

[2021-05-19 10:45] rrfrias commented on #8319
We will work with Sony to investigate this issue

Internal ref: 188626755

[2021-05-19 11:19] rajinikanth0602 commented on #8898
@tonihei `canSelectFormat` helped me solve the issue if we don't have to clear the downloaded segments in both the cases `Adaptive -> Resolution (Ex: 720p)` and `Resolution -> Adaptive`, How can I achieve like youtube where I it clears downloaded segments in the case of `Adaptive -> Resolution` but not `Resolution -> Adaptive`, I tried clearing buffer using `TrackSelector.invalidate()` but it is n

[2021-05-19 11:31] icbaker opened #8964 "WebVTT: Support font-size CSS property"
The `::cue` pseudo-element can contain "the properties corresponding to the [font](https://www.w3.org/TR/css-fonts-3/#propdef-font) shorthand" ([spec](https://www.w3.org/TR/webvtt1/#the-cue-pseudo-element)). This includes `font-size`.

Lack of support for this was flagged in https://github.com/google/ExoPlayer/issues/8958

Implementing this probably involves editing the [WebVTT CssParser](https://

[2021-05-19 11:50] ueno-yuhei opened #8965 "If you set the audio to only surround when playing in tunnel mode on Google TV, the video will move even when paused."
Code for surround only

https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java#L2199

DefaultTrackSelector
// Add
Is the code added by

[code]

- ExoPlayer 2.11.4
- ChromeCast with GoogleTV

Issues that may be relevant
https://github.com/google/ExoPlayer/issues/8557

Thank you for confirming the issue.

[2021-05-19 12:03] aktomi666 opened #8966 "TS file parsing problem for m3u8"
This is a TS file parsing problem for m3u8. I have a particular scenario where we encrypt all the TS files in the header of the file on the server side.

So we want to use ExoPlayer to play on the client side. We have been looking hard at some of the code that ExoPlayer uses to parse HLS, and we want to do this by modifying the TsExtractor.java. We made the following changes:
[code]

After doing t

[2021-05-19 12:05] aktomi666 commented on #8966
Exoplayer version is 2.12.3

[2021-05-19 12:25] tonihei commented on #8898
You probably need to look into `TrackSelection.evaluateQueueSize` to clear already loaded segment from the playback queue.

[2021-05-19 13:06] NG-Gaurav commented on #8936
any. update on it.

[2021-05-19 13:18] Samrobbo commented on #8936
As I said above, I need a full bug report, as well as reproduction steps.

- Clear reproduction steps including observed and expected behavior
- Output of running "adb bugreport" in the console shortly after encountering the issue

**The best way to give us all the information we need is to fill in all the fields in the issue template. The issue template can be found [here](https://github.com/goog

[2021-05-19 13:56] nishantkp commented on #8037
@rrfrias no playback at all, it happens just at the beginning.

[2021-05-19 14:01] Samrobbo commented on #8936
I've tried playing the media on the exoplayer demo app on an android mobile device, and it looks like we choose the mp4a audio track because there is no eac3 decoder on the device.

[code]

Can you try to reproduce with the demo application on the android TV and show what happens in that scenario?

[2021-05-19 14:02] icbaker commented on #8958
There's a few different things going on here.

1. As you've noted, ExoPlayer doesn't  parse the `font-size` CSS property from WebVTT style info. I've filed https://github.com/google/ExoPlayer/issues/8964 to track adding support for that (no ETA I'm afraid, but we would welcome a high quality pull request if you're interested in contributing the feature).

2. It sounds like you're manually instanti

[2021-05-19 14:02] #8958 closed, assigned to icbaker

[2021-05-19 15:05] krocard commented on #8962
Is your effect having a low latency requirement? ExoPlayer doesn't support low latency playback currently (see https://github.com/google/ExoPlayer/issues/8665#issuecomment-789595598 and  #8722). We might improve the situation in the future but have no timeframe to give you. If your algorithm doesn't take real time input (eg the user head direction) ExoPlayer latency should not be an issue.

Indeed

[2021-05-19 15:18] icbaker commented on #8954
Is there any configuration/API call which is needed to allow this?

If you're using `DefaultDrmSessionManager` it should work out of the box with no further configuration.

If you've implemented your own `DrmSessionManager` then you'll need to implement the `preacquireSession()` method (beware the threading guidance in the method javadoc). You can take a look at the commits attached to #4133 to se

[2021-05-19 15:22] icbaker commented on #8956
@andrewlewis may be able to comment from a GL perspective, but it would be helpful if we're able to reproduce the problem you're seeing so please  provide the [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) requested above.

[2021-05-19 15:26] shri-hari93 opened #8967 "Audio, Text buffer size."
I'm currently working on a project that generates analytics when a video is played in Exoplayer. As part of the analytics, I'm trying to calculate how much data(component-wise, eg: video, audio, and text) is yet available in the buffer to be played.

I went through the exoplayer docs as well as stack overflow questions, all I could find is the solution to calculate for the video component (`player

[2021-05-19 15:35] krocard commented on #8966
@AquilesCanta could you take a look at the issue? @kim-vde is out of office and I don't know much about TS and DRM.

[2021-05-19 15:40] krocard commented on #8965
Please provide steps to reproduce, the observed result, the expected one. Without them I can't understand what the problem is.
A bug report and the problematic media would be very helpful too.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #123

[2021-05-19 15:55] krocard commented on #8967
`player.getBufferedPositon` returns the minimum buffered position of all tracks (audio, video, text...). It is not specific to video:
https://github.com/google/ExoPlayer/blob/d5d78238773d6dc53b54849ca10d845a4421284c/library/core/src/main/java/com/google/android/exoplayer2/source/CompositeSequenceableLoader.java#L32-L40

I can't think of how to access this information, @tonihei do you have an idea?

[2021-05-19 15:59] tonihei commented on #8967
No, this isn't easily accessible without wrapping a lot of components just to access this information. It's also unlikely to make a difference because all streams are loaded in sync with each other and the difference between the minimum and maximum buffered duration should be very small.

Aside: You can also use `Player.getTotalBufferredDuration` to avoid the calculation.

[2021-05-19 16:17] charithamadhu1 commented on #8942
I found a solution, added this,

    private static final CookieManager DEFAULT_COOKIE_MANAGER;
    static
    {
        DEFAULT_COOKIE_MANAGER = new CookieManager();
        DEFAULT_COOKIE_MANAGER.setCookiePolicy(CookiePolicy.ACCEPT_ALL);
    }

and in the  onViewCreated():

    if (CookieHandler.getDefault() != DEFAULT_COOKIE_MANAGER)
    {
         CookieHandler.setDefault(DEFAULT_COOKIE_MANAGE

[2021-05-19 16:17] sjarschel-vida commented on #8958
Thank you @icbaker! StyledPlayerView was the missing link.

[2021-05-19 16:40] AquilesCanta commented on #8966
From the code you show up there you only modified the sniffing part. But you should also decrypt in the read method. Sniff is called at some points to define the container format, but the method that's important for playback is the read method.

That being said, if what you are trying to do is just skip some encrypted pieces of the transport stream, then that's better done in the DataSource, like

[2021-05-19 17:57] artursahakar commented on #8961
Here's the logs from EventLogger

[code]

[2021-05-19 20:45] ssenanayake commented on #8944
Yes, it is a color space issue.

We use a helper method which does the following....

[code]

and we use the Display capabilities to filter out the DASH or HLS renditions that have incompatible formats...i.e. in the case of the nVidia Shield connected to a HDR10 only TV, we would filter out any Dolby Vision representations/renditions, so that what's given to Exo is only HDR10.

We use a custom DAS

[2021-05-19 21:30] ojw28 commented on #8936
I think application code must be explicitly selecting the EAC3 track, even though it's not supported. If that's the case then this is likely an issue with the application code, rather than with ExoPlayer itself.

[2021-05-19 22:17] creativedrewy opened #8968 "Transformer Feature Request: Ability to re-encode with different I-Frame intervals"
### Use case description
This is a feature request for the new Transformer library. It would be great to be able to re-encode a video file with a different I-Frame configuration. The I-Frame distance in some codecs is pretty large which can make operations like seeking be fairly slow and inaccurate. Being able to re-encode with more I-Frames could make those operations work better.

### Proposed s

[2021-05-20 03:32] aktomi666 commented on #8966
I found that the problem was not caused by the TS encrypted file header, even if the file header was not encrypted, the problem would still occur. The m3u8 file information came from a web page and I got it from the browser. The address is: https://tv.ci/index.php/vod/play/id/220547/sid/1/nid/22.html. When I play this link in ExoPlayer, it will ```D/android.media.AudioTrack: [HSM] AudioTrace pause

[2021-05-20 03:36] aktomi666 commented on #8966
Each time this problem occurs,I get the following log.
[code]

[2021-05-20 06:24] krocard commented on #8968
@Samrobbo and @kim-vde I assigned you this feature request for visibility.
@andrewlewis Do we already have a backlog setup for the transformer library?

[2021-05-20 06:56] andrewlewis commented on #8968
Yes. I have added this to the internal tracker.

[2021-05-20 07:22] krocard commented on #8961
If I understand the issue correctly:
 1) the player is seeking to the next media item
 2) because the start position of the video is not an I frame, and a software decoder is used, the video renderer isn't playing immediately
 3) after `allowedVideoJoiningTimeMs`, the video renderer still hasn't played, so it gives up and `rederer.isReady()` returns false.
 4) as a result the player state changes

[2021-05-20 08:15] rrfrias commented on #8037
Thanks. Can you quantify the reproducibility rate (7 out of 10 etc)?

[2021-05-20 08:18] tonihei commented on #8961
Also agree that this sounds media or decoder related.

Two further things to note:
 - `allowedVideoJoiningTimeMs` shouldn't be applied here, instead the player should just enter the buffering state if the newly enabled renderer isn't ready for playback. We had an internal discussion about this recently (@icbaker and me) and were trying to come up with a better solution, but this isn't fully design

[2021-05-20 08:49] OneBadNinja commented on #8962
Hi Kevin,

Thanks for your clarifications! Unfortunately there would be a low-latency requirement with realtime input after the initial groundwork, so I'll see if I can setup something with Oboe. It would be great if there would be a way to pass audio from exoplayer through to Oboe at some point :)

Many thanks
J

[2021-05-20 08:53] tonihei commented on #8937
Yes, this is a bug introduced by https://github.com/google/ExoPlayer/commit/8349d7849ee29d863b9382a90ef060e254a3e25e (in 2.13.0). The method `getFirstSampleIndex` is not allowed to be called for spliced-in chunks (as we don't know the first sample index in this case) and we need to avoid calling this method for all chunks.

We'll provide a fix soon.

[2021-05-20 09:05] KostyaLyapochkin commented on #8937
@tonihei Thanks for the feedback!

[2021-05-20 09:37] icbaker commented on #8842
Ah! I was only ever letting the transition happen during normal playback rather than using next/previous track :)

Using the next/previous track buttons I see the secure decoder released/re-initialized at the transition point (and this doesn't happen with an insecure decoder). I think this is because when seeking to a different period we always disabled & re-enable the decoder. I'm not 100% sure t

[2021-05-20 09:56] billyjoker commented on #8905
@Stonos finally that workaround it worked for me!!. Forcing L3 does the trick for this device. Notce that the same problem occoured with Nexus5 and the fix worked again. Many thanks.

@icbaker I could see both errors in diferent executions, I mean,  sometimes I have seen the http 500 error, and sometimes I've seen the -2965 vendor error. I know it sounds strange, maybe while debugging the system t

[2021-05-20 10:12] artursahakar commented on #8961
@krocard Yes the issue is like you described, the player is stuck on buffering on that period, seeking inside that window doesn't help, and it prints this logs.

[code]

This **only** happens in playback mode, so if I directly seek on the second window, **the player works as expected**.
Also when the player is stuck on the second video, it normalizes when I seek on the first video

Although the re

[2021-05-20 10:30] AquilesCanta commented on #8966
This is not actionable for us. Please provide a link to the m3u8 file.

[2021-05-20 10:31] tonihei commented on #8644
Closing for now as issue has been discussed and no further questions came up.

[2021-05-20 10:31] #8644 closed, assigned to tonihei

[2021-05-20 10:32] tonihei commented on #8703
Closing because the question was answered.

[2021-05-20 10:32] #8703 closed, assigned to tonihei

[2021-05-20 10:33] tonihei commented on #8778
Issue was fixed by the commit above.

[2021-05-20 10:33] #8778 closed, assigned to tonihei

[2021-05-20 10:34] tonihei commented on #8847
PR was merged, and the slightly malformed stream here plays fine again. So closing this issue.

[2021-05-20 10:34] #8847 closed, assigned to tonihei

[2021-05-20 10:34] icbaker commented on #8905
Glad you resolved the problem.

Unfortunately there isn't a published list of devices that have been revoked.

I'm going to close this as I don't think there's anything additional we can do here.

[2021-05-20 10:34] #8905 closed, assigned to icbaker

[2021-05-20 10:38] artursahakar commented on #8961
I don't know if this helps, but I have a another custom `MediaCodecRenderer` which is basically your renderer with small changes, which forces the codec to render frames when user scrubs forward ( I don't call `seekTo `) , I call the
 `render(long positionUs, long elapsedRealtimeUs)` method myself.

With that version, when the second video is stuck and I scrub forward, the player gets unstuck and

[2021-05-20 10:46] jrocharodrigues commented on #8842
@icbaker Ok, thank you.
Glad we're finally aligned in terms of test results :)
I'll keep watching the issues o track the progress.
Best regards

[2021-05-20 11:06] icbaker commented on #8568
The secure decoder re-initialization is fixed by removing the `TODO` and associated logic discussed in https://github.com/google/ExoPlayer/issues/8842#issuecomment-843047273.

I'll dupe this to that (since it affects more than just empty mid-rolls) - please follow that issue for further updates.

[2021-05-20 11:06] #8568 closed, assigned to icbaker

[2021-05-20 12:15] tonihei commented on #8872
If I the understand the original question correctly, it's just about whether ExoPlayer checks device capabilities before selecting tracks. And the answer is: yes, unsupported tracks are not selected for playback.

Otherwise I don't have much to add really.
 - If the device supports all variants (60fps, 30fps, 15fps) then it will select all of them for playback and adapt between them seamlessly.
 -

[2021-05-20 12:15] tonihei commented on #8872
Closing the issue as the question was probably answered.

[2021-05-20 12:15] #8872 closed, assigned to tonihei

[2021-05-20 13:38] shri-hari93 commented on #8967
Dash js supports API to get buffer size component-wise. It would be helpful if this could be supported in ExoPlayer. Could we expect this to be taken for dev in the upcoming release or future release as part of the `AnalyticsCollector?`

[2021-05-20 13:44] tonihei commented on #8967
Could you explain why this would be helpful? As pointed out above, ExoPlayer loads all streams in sync and none of them will be particularly far ahead of the others.

[2021-05-20 13:52] nishantkp commented on #8037
Hi @rrfrias,

I checked on the following devices and the reproduction rate is 100% (10/10)
- Samsung Galaxy S21 (os11)
- Samsung Galaxy S21+ (os11)
- Samsung Galaxy S21 ultra (os10)
- Samsung Galaxy S20 ultra (os10)
- Samsung Galaxy S20+ (os10)
- Samsung Galaxy A51 (os10)
- Samsung Galaxy Note20 ultra (os10)
- Samsung Galaxy Note20 (os10)

Initially, I thought it is related to OS but a weird thing

[2021-05-20 14:19] nandovelazquez opened #8969 "What is the replacement of DefaultDrmSessionEventListener in v2.14.0?"
I’m upgrading from v2.11.8 to v2.14.0 and I noticed that the `DefaultDrmSessionEventListener` class was removed and I couldn’t find documentation related to that and/or how a callback should be set to handle DRM errors.

Could you guys help me on how I can implement this now?
Thanks

[2021-05-20 16:51] rajinikanth0602 commented on #8898
@tonihei tried returning 0 in `evaluateQueueSize()`, it's not clearing the entire buffer, I know it is expected in older versions (https://github.com/google/ExoPlayer/issues/7969#issuecomment-700280622) and also youtube(Android) takes some time for applying the quality may be due to the same reason, do we have any solution with the latest version of exoplayer or any plans to fix this in future?, I

[2021-05-20 17:36] tonihei commented on #8898
The player can't clear the entire buffer without stopping playback because some of the samples were already consumed by the decoders and the rest of the output pipeline. If you return 0 in `evalauteQueueSize`, the player will discard as many chunks as possible and load the new format as soon as possible without interrupting playback.

[2021-05-20 19:31] krocard opened #8970 "Support low latency custom audio signal processing"
Currently ExoPlayer plays using AudioTrack configured with a significant (>250ms) buffer. This is done to avoid underrun and works well for most of our users. Nevertheless, it prevents some use-cases that require low latency signal processing.

## Goal

Such high latency is an issue when modifying the media (usually the audio) depending on low latency information (eg spacialized audio must react t

[2021-05-20 19:40] krocard commented on #8962
I've open an enhancement issue #8970 to track support of low latency ADSP. No work is schedule on this issue right now, so please don't expect any short term improvements.
If you desire to implement this yourself, we will gladly review any pull request.

[2021-05-20 19:40] #8962 closed, assigned to krocard

[2021-05-20 19:55] krocard commented on #8969
The file was renamed by commit https://github.com/google/ExoPlayer/commit/c6bf6aae2a2617dfa84d6a49e60fc5a5a94d4ce3 *Rename DefaultDrmSessionEventListener to DrmSessionEventListener*.

I will add this line to 2.12 release note, sorry for the confusion.

[2021-05-20 19:55] #8969 closed, assigned to icbaker

[2021-05-21 00:31] rrfrias commented on #8037
Thank you. That is very helpful. Samsung is taking a look.

[2021-05-21 00:34] nishantkp commented on #8037
Thanks a bunch @rrfrias

[2021-05-21 03:00] lacheolsoo opened #8971 "Texture View flip"
I am testing RTSP.
When the screen is flipped, it goes out of the center.
VLC works fine with the same code.

Test Version : 2.14.0 (2021-05-13)
Device : Samsung Galaxy S21 Ultra (Android 11)

    private void flipTextureView() {
        Matrix transform = new Matrix();
        float x = (float)(mPlayerView.getWidth()/2);
        float y = (float)(mPlayerView.getHeight()/2);

        if (mbFlip) {

[2021-05-21 07:31] krocard commented on #8971
@claincly will be glad to hear that. Nevertheless I don't think RTSP is related to the TextureView issue.

The UI already applies a transformation (see [`applyTextureViewRotation`](https://github.com/google/ExoPlayer/blob/bd54394391b0527893f382c9d641b8a55ffca765/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerView.java#L1463)) to match the video aspect ratio and size to the v

[2021-05-21 07:31] #8971 closed, assigned to krocard

[2021-05-21 09:00] lacheolsoo commented on #8971
Thank you for answer. The code below temporarily solved the problem.
It will be necessary to study more whether it works differently from VLC.
(It was not an aspect ratio problem, it was a problem that the left side of the screen was cut off.)

    /**
     * Video Source Resolution : 1920x1080 (fixed)
     * 1920/1080 = 1.78
     */
    private void flipTextureView() {
        Matrix matrix = new

[2021-05-21 09:26] andrewlewis commented on #8956
I think the detachment of the output view is the problem. To make this transition work without any interruption to playback I think it is necessary to avoid the surface view ever being removed from the view hierarchy. See also https://github.com/google/ExoPlayer/issues/6958#issuecomment-586936724 about how to implement full screen transitions in general.

Video decoder `MediaCodec`s need to have a

[2021-05-21 09:27] javalue opened #8972 "How to set player don't load whole video in the beginning."
When I try to play video by exoplayer, video maybe 2-3Mb (10-20s) or other big size(10Mb - 60s)
I wan‘t to play video and  load whole video in the beginning. it's too waste stream.
i try to use loadcontrol.setBufferDurationsMs to reduce buffer size,but it's not work.
Could you help me to solve it?

[2021-05-21 09:40] krocard commented on #8971
Your code seems very similar, but suspiciously different (especially the 1.78 magic) than the player view calculation: https://github.com/google/ExoPlayer/blob/bd54394391b0527893f382c9d641b8a55ffca765/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerView.java#L1463-L1483.
Your code might break if the video size/aspect ration/layout size changes.

Have you tried adding the flip

[2021-05-21 09:44] andrewlewis commented on #8776
Had a quick look at the linked project and I spot any likely causes for this. Did you try `setDrmSessionForClearPeriods(true)` as I suggested above?

[2021-05-21 09:49] javalue commented on #8972
`LoadControl loadControl = new DefaultLoadControl.Builder()
                .setBufferDurationsMs(1000,3000,
                        500, 1000)
                .createDefaultLoadControl();`

[2021-05-21 10:00] krocard commented on #8942
Great. Thanks for sharing your solution.

[2021-05-21 10:00] #8942 closed, assigned to krocard

[2021-05-21 10:06] KostyaLyapochkin commented on #8776
@andrewlewis Yes, I did. But It has not helped at all.

[2021-05-21 10:29] andrewlewis commented on #8934
I can't reproduce this in the ExoPlayer demo app using the ad tag URI provided via email (the ad loads and plays as expected).

[2021-05-21 11:12] tonihei commented on #8937
Issue should be fixed by the two commits above.

[2021-05-21 11:12] #8937 closed, assigned to tonihei

[2021-05-21 13:16] dilip-jaiswal opened #8973 "HLS .m3u8 not playing on ChromeCast"
Hi Team,

I have implemented the screen cast support using exoplayer.
but the thing is that HLS video is not casting to playing.
its showing No media selected i have attached the Screen Shot please go through the attachment.

![1621602822436](https://user-images.githubusercontent.com/58416311/119142895-9e48d000-ba64-11eb-9988-c0d33d618177.jpg)

[2021-05-21 13:46] claincly commented on #8941
Hi Pitel,

Wondered if you could provide a sample source to help us test?

[2021-05-21 13:56] Pitel commented on #8941
Hi,
sorry, unfortunately I can't. Our testing camera is on the intranet and I'm not aware of any public cams required for testing.

But I can show you the requests (but it should be just the same header as HTTP uses) and reposnses and help you test it.

[2021-05-21 14:05] claincly commented on #8941
The requests are useful too, thanks!

You can send us an email at dev.exoplayer@gmail.com using a subject in the format "Issue #8941", if you find it uncomfortable sharing that on Github.

[2021-05-21 15:22] nandovelazquez commented on #8969
Thanks for clarifying that.
Now, how could I pass a `DrmSessionEventListener` to the `DefaultDrmSessionManager`? Since the `DefaultDrmSessionManager` doesn't have anymore the `addListener(Handler handler, DrmSessionEventListener eventListener)` method.

[2021-05-21 18:37] sruditsky commented on #8954
@icbaker
There is something in my original description which did not make sense to me -- specifically the fact that the keyRequest is performed on a separate thread, so it cannot block the ExoPlayer:Playback thread. So after some mode analysis, I found that the actual reason for this behavior is switching from non-secure to secure video decoder.

First period does not have ContentProtection tags,

[2021-05-21 22:37] fourofspades opened #8974 "Issues with Notifications in 2.14.0"
Upgraded my app from 2.13.3 to 2.14.0 and made the necessary changes, but I am getting a strange problem.

On most (but not all) devices, I am getting a crash:

android.app.RemoteServiceException: Bad notification for startForeground

I think it's being thrown from my audio playback service, I think around the point media metadata updates.  I am using the new ExoPlayer.Listener and onMediaMetadata

[2021-05-22 09:54] fourofspades commented on #8974
Done some more debugging, it's not related to R8 code shrinking/obfuscation, and it's related to Android version, it's broken on my Pixel running 11, but works on older devices.

[2021-05-22 11:27] nadiration commented on #8525
@icbaker it's been 4 months any progress?

[2021-05-22 13:50] ojw28 commented on #8974
Have you looked at the many Stack Overflow posts on this issue? For example [this one](https://stackoverflow.com/questions/47531742/startforeground-fail-after-upgrade-to-android-8-1)? Perhaps your app isn't creating a notification channel? If you're using `PlayerNotificationManager`, then I think you need to either:

1. Call the `PlayerNotificationManager.Builder.setChannel*` methods so that the n

[2021-05-22 14:56] fourofspades commented on #8974
Creating an NotificationChannel was enough to get things working again.  I didn't need this previously (using exoplayer 2.13.3), and it wasn't clear from the release notes that it's now a mandatory requirement for 2.14.0

The error isn't exactly helpful either.  "bad" notification. Not exactly telling you anything useful.

[2021-05-22 14:56] #8974 closed, assigned to ojw28

[2021-05-22 15:30] jesro opened #8975 "Retrieving Current frame from Exoplayer - kotlin"
I tried to get frame from exoplayer using below code. But I get some bitmap seamlessly from when the player starts playing, it even gives bitmap when player is paused.

I need to get current frame when player is paused. Im able to get the position by (player.currentPosition). But couldn't get the frame.

    internal class
    CustomMediaCodecVideoRenderer(context:Context,
    mediaCodecSelector:M

[2021-05-22 18:20] sajjadshahbazi commented on #8919
thank you

[2021-05-22 23:57] darwin-morocho opened #8976 "How to download a simple m3u8 file with ts chunks"
Hi I'm trying to download a simple m3u8 video from a given URL, I was searching on the official demo but it doesn't have any example about this.

the URL returns a
[code]

I tried using `DownloadHelper` like this
[code]

but it doesn't work. I'm getting the next error
[code]

[2021-05-23 11:10] hosseinkhojany opened #8977 "how to play a custom chunk files with different download manager"
How can I give Exo a different source of Chunks downloaded with a own download manager?

[2021-05-23 12:26] Clement-Jean opened #8978 "How can I seek in video with encrypted content?"
Recently I've been trying to read my encrypted videos and the playing/fast forward work well however the seek action leads to a weird behavior. The behavior is that it will stop playing and the play button will stay as if the content is reading (sometime the cursor is even moving).

Here is my `CipherHelper`, which helps me encrypt/decrypt the content:

[code]
Then here is the custom `DataSource`

[2021-05-23 18:38] fourofspades opened #8979 "Demo for audio playback and using Google design guidelines."
The demo apps are all very video playback centric, and all demonstrate very similar concepts.  Trying to use this library for audio playback is really hard if you want to do it correctly.  There is no demo of an background Audio service.  There is no demo of how to integrate with Android mediasessions/media2, or how to use PlayerNotificationManager correctly to create an Android guidelines complia

[2021-05-24 01:25] devnullpointer commented on #8934
They might have fixed the issue. I'll retest on my end.

[2021-05-24 03:48] tuesda commented on #8963
Is there any progress?

[2021-05-24 04:55] redimongo opened #8980 "Kotlin Notification Player"
Tried to find an example of Exoplayer and kotlin but could not find one that worked.

The issue I am having now is I have a simple player and I know that to show it in notification section of the device I need to do something but what?

I don't need CD cover all I need is the title, artist and pause / play button. Any help would be welcomed.

[code]

[2021-05-24 05:06] lacheolsoo commented on #8971
I tried but the result was the same...
Now I'm using below code.

    /**
     * Consider using getLocationInWindow instead of getLocationOnScreen depending
     * on the visibility of the status bar
     */
    private void flipTextureView() {
        Matrix matrix = new Matrix();
        TextureView textureView = (TextureView) mPlayerView.getVideoSurfaceView();

        if (textureView != null)

[2021-05-24 05:19] sruditsky commented on #8954
@icbaker

I believe I was able to create a content which shows a very similar behavior as the one which is described above and which works with the demo app.

The only changes which I made in the app are:
a) make debug text updates faster
b) log current position on each update
c) add the stream

The diff based on ExoPlayer 2.14.0 can be found here:
[issue8954.txt](https://github.com/google/ExoPlay

[2021-05-24 07:42] #8873 closed, assigned to kim-vde

[2021-05-24 07:43] #8884 closed, assigned to kim-vde

[2021-05-24 07:43] #8885 closed, assigned to kim-vde

[2021-05-24 07:43] #8888 closed, assigned to kim-vde

[2021-05-24 08:44] icbaker commented on #8969
Apologies for the sparse release notes around these changes - you now add `DrmSessionEventListener` instances to a `MediaSource` rather than a `DefaultDrmSessionManager` by calling [`MediaSource#addDrmEventListener`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/MediaSource.html#addDrmEventListener(android.os.Handler,com.google.android.exoplayer2.drm.DrmSessionEventListe

[2021-05-24 09:15] Pitel commented on #8941
I guess it's alright  sharing it there. It's just a testing camera on the intranet with dummy password.

After a bit of debugging, I find you probably has 2 options:

---

The first one is to simply use the URI with username and password in it, like this (notice the `admin:heslo123@` part):

[code]

This is what I see when I'm using ExoPlayer from #3854.

---

Another option is what ffmpeg is doin

[2021-05-24 09:57] ojw28 commented on #8974
For clarity, both the requirement for a notification channel and the corresponding error message are properties of the underlying platform, not of ExoPlayer. So there was definitely a requirement that a notification channel was created prior to ExoPlayer 2.14. Glad to hear you managed to resolve the issue!

[2021-05-24 10:03] ojw28 commented on #8979
This is fair feedback, and is a gap that we're aware of. It's a duplicate of part of https://github.com/google/ExoPlayer/issues/5854, so closing as a duplicate of that issue. Thanks!

[2021-05-24 10:03] #8979 closed, assigned to nobody

[2021-05-24 10:35] freedom0622 opened #8981 "ExoPlaybackException. "setOutputSurface" on this devices needs the workaround"
ExoPlaybackException.
Issue happens on Huawei P40 Pro with android 10.0. Device name **HWELS**. Model name ELS-AN00. Code name passed to codecNeedsSetOutputSurfaceWorkaround is OMX.hisi.video.decoder.avc

We create a custom Renderer extend **MediaCodecVideoRenderer**, and return true in **codecNeedsSetOutputSurfaceWorkaround**. Then no exception happens.

I guess quite a few "OMX.hisi.video.decode

[2021-05-24 10:39] fourofspades commented on #8979
I would like to see this as Java, not Kotlin, which doesn't really have much traction yet.

[2021-05-24 11:29] ojw28 commented on #8977
If the result of your download logic is that you have a valid media file (or a complete and valid DASH and HLS stream) downloaded locally, then you can simply pass a `file:///` URI that points to it to ExoPlayer, and playback should work fine.

If your use case is different, then it sounds like your question falls outside the scope of this issue tracker. We provide built in components to implement

[2021-05-24 12:06] sajjadshahbazi commented on #8919
now i firing events at specified playback positions over single Hls stream, do may with add mp4 file have problem ?
do may firing event at specified playback positions over play mp4 ?

[2021-05-24 12:08] sajjadshahbazi commented on #8919
can i skip media item of mp4 file when watch ?

[2021-05-24 16:32] nandovelazquez commented on #8969
That helped me. Thanks!

[2021-05-24 17:37] kim-vde commented on #8928
The problem for the broken video is that the [transformation matrix](https://en.wikipedia.org/wiki/Transformation_matrix#Rotation) in the tkhd box is incorrect. The value of `a10` [here](https://github.com/google/ExoPlayer/blob/r2.14.0/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp4/AtomParsers.java#L821) is equal to 65536 while it should be -65536. The rotation is ther

[2021-05-24 21:05] nandovelazquez commented on #8333
I'd like to know about that release too 👀

Was it released in a patch? What Android versions could get this patch?

[2021-05-24 21:44] #8916 closed, assigned to ojw28

[2021-05-25 07:08] krocard commented on #8972
The bitrates mentioned are around 0.2Mb/s, which are fairly low for video. Your issue is that the whole video is downloaded before playback starts, right?

I'm guessing your app use-case is presenting lots of video that the user quickly switch through (like a gallery or Tick-Tock).

I'm not sure what causes the issue, DefaultLoadControl might not take into account all buffering occurring bellow th

[2021-05-25 07:11] krocard commented on #8973
Please attach the problematic media and a [bug report](https://developer.android.com/studio/debug/bug-report) to help us understand the issue.  Additionally please provide us with steps to reproduce as detail in our [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/

[2021-05-25 07:15] logituitrel opened #8982 "How to temporarily cache content to allow seeking backwards"
We are currently using exo version 2.11.8, and are able to replicate this behavior in exoplayer sample app for the same.

Scenario:
1. When playback starts, pause and wait for content to buffer for some time.
2. Switch off internet and play.
3. Play and seeking forward works fine, but seeking backwards within the buffered content immediately results in Playback Failure.

This is easily replicable

[2021-05-25 07:44] kgrevehagen commented on #8892
You are right about it only being the first one that takes a significant amount of time, so this would be an okay solution for us, but when using this solution, we are experiencing the glitch I have mentioned before(e.g. #6751).

This takes me back to the other solution I'm trying to implement(#7613) where I want to reinitialize the codec after playing on a non-secure codec to play on a secure cod

[2021-05-25 07:57] marcbaechinger commented on #8975
I think the easiest way to get a `Bitmap` is to let the player render on a `TextureView` and then use the [getBitmap](https://developer.android.com/reference/android/view/TextureView#getBitmap(int,%20int)) method. Alternatively you can use [PixelCopy](https://developer.android.com/reference/android/view/PixelCopy) with a `SurfaceView` starting from API 24.

So you can just pause the player at a gi

[2021-05-25 08:22] icbaker commented on #8978
Your implementation of `DataSource#open` doesn't look correct - it ignores several important fields of the `dataSpec` parameter including `DataSpec#position`, which probably explains your seeking problems.

We recently wrote a standard test suite for our own `DataSource` implementations - to check compliance with the interface. You may find it helpful to use the same suite for your implementation

[2021-05-25 08:22] #8978 closed, assigned to icbaker

[2021-05-25 08:45] icbaker commented on #8776
I'm unable to reproduce the problem using the linked project and repeating the orientation changes shown in the attached video. I tried on a real Pixel 3a XL and an emulated Pixel 4. In both cases playback continued after the second orientation change.

Do you see this error 100% of the time?

Do you see it on all devices?

[2021-05-25 08:45] maven-y opened #8983 "Error while playing stream url"
### Issue description
I am using stream URLs to play in my app, I have checked it is not playing with error Unexpected exception loading stream. Please check below error log.

### Reproduction steps
Sample app of exoplayer added media source in json file

### Version Exoplayer
2.7.3
sumsung m31
android 11

### Url Streaming
http://lifefmsa.radioca.st/streams/128kbps

### Stream details are below :

[2021-05-25 10:00] shri-hari93 commented on #8967
Thanks for the support and quick response. As per our project, we are still analyzing the need for the component-wise buffer size. Currently, we could live with the existing synced buffer size calculation for the exoplayer.

[2021-05-25 10:01] GouravSna opened #8984 "Regrading an IMADAI sample asset fix"
Couple of months back, I reported an [issue](https://groups.google.com/g/ima-sdk/c/-Q2jekaVWdA/m/mC3CJ97bAQAJ ) to IMA team about an asset which was not working once I seek to the mid-roll.

Now, they are saying that this is fixed now and fix was in ExoPlayer v2.13.3. Because for this DAI asset, i did not see any log which tell me about the issue.
Can you please tell me what was the root cause of

[2021-05-25 10:05] tonihei commented on #8967
Thanks, I'll close the issue for now as there is nothing we need to do. If you discover at a later stage that this feature request is still needed, please re-open or file a new issue.

[2021-05-25 10:05] #8967 closed, assigned to tonihei

[2021-05-25 10:19] kim-vde commented on #8963
This is similar to #4071.

The duration computed by ExoPlayer is an estimate based on the bitrate of the first sample. It is incorrect because ExoPlayer assumes that the bitrate is constant for all samples but this is not true for the content you provided.

FFMPEG probably has a better estimate because it reads many (possibly all) sample bitrates to get an estimate. We cannot do that in ExoPlayer

[2021-05-25 10:25] billyjoker commented on #8905
I have to add some useful info about the message error:

`android.media.MediaDrm$MediaDrmStateException: Failed to handle key response: DRM vendor-defined error: -2965`

It is the same message reported by Google Nexus 5, I mean, it seems it does not owe to Nvidia internal log reports.

[2021-05-25 11:18] kim-vde commented on #8911
I marked this issue as an enhancement.

Here is a summary of the current situation:
- PMT Registration Tag (0x05) with "AC-3" or "EAC3" format identifiers --> Stream type already deduced from this [here](https://github.com/google/ExoPlayer/blob/r2.14.0/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/TsExtractor.java#L710).
- DTS PMT descriptor (0x7B), AC3 PMT descriptor

[2021-05-25 11:36] icbaker commented on #8954
Thanks for providing the diff - I applied those changes but was unable to reproduce the problem (the logged position increased monotonically). The device I'm using (Pixel 3a XL) doesn't support E-AC-3, so only the video track was played and a `StandaloneMediaClock` was used. I don't have access to a device that supports E-AC-3 (either on device or through passthrough). Do you still see the problem

[2021-05-25 12:13] KostyaLyapochkin commented on #8776
@icbaker
1. Yes, I do. It is really the stable error.
2. Yes, I do. When I do this steps.

For instance, All Android Emulators work without this error and I can't say something about Pixel 3a XL but Pixel 4/4A work as well.

What doesn't work? Galaxy S8 (Android 9), Galaxy S6 Edge (Android 7.1), Galaxy Note 8 (Android 9), Samsung SM T810 (Android 7.1), Galaxy A50 2016 (Android 7.1), Pixel 2XL, Xia

[2021-05-25 12:19] krocard commented on #8944
@AquilesCanta could this be a dup of [internal b/187012233]?

[2021-05-25 12:28] AquilesCanta commented on #8944
@krocard I don't think so, but we can confirm.

@ssenanayake Would you kindly provide sample media for each of the problematic usecases? If you don't want to share it publicly, you can send links to dev.exoplayer@gmail.com, with subject "Issue #8944".

[2021-05-25 13:21] jesro commented on #8975
@marcbaechinger  Thanks! Im using PlayerView in exoplayer which is FrameLayout with controls. It has inbuilt method getCurrentPosition() to get the current position of the video player (i.e., player.currentPosition)
https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerView.java

        <PlayerView
        android:id="@+id/playerView"

[2021-05-25 13:39] ojw28 commented on #8972
I think it should work at a granularity of around ~1MB increments of buffer.

@javalue - In addition to the information requested above, please could you also attach a slightly more complete code block showing how you build your player (i.e., after you create your `LoadControl`, how do you inject it into the player).

[2021-05-25 13:55] kgrevehagen commented on #8892
Update: I actually got this to work now by feeding the data of the last buffer of the first codec first thing on the new codec, and then just skipping it when draining. Like this:

In `MediaCodecRenderer.feedInputBuffer()` before reading from source:
[code]
and in `MediaCodecRenderer.drainOutputBuffer()` in the else if of `if(shouldSkipAdaptationWorkaroundOutputBuffer)`:
[code]

As you can see, th

[2021-05-25 14:43] icbaker commented on #8892
Following your repro steps I'm able to hear the glitch in the audio in the AAC track you provided. I tried some other AAC tracks in the demo app (e.g. Misc Audio -> Big buck bunny (AAC)) and didn't hear the same glitch, but it's possibly less obvious without a sine wave.

The AAC behaviour you're seeing seems to be the 'decoder delay' described here: https://developer.apple.com/library/archive/doc

[2021-05-25 16:21] eprendre opened #8985 "StyledPlayerView issue in 2.14.0"
After upgrading from 2.12 to 2.14, NullPointerException occured in `ComponentListener` after StyledPlayerView.setPlayer(null) then player.clearMediaItems(). While it's safe to call PlayerView.setPlayer(null).

There is `oldPlayer.removeListener(componentListener);` in `PlayerView`, I believe it was accidently deleted in `StyledPlayerView`.
![screenshot](https://user-images.githubusercontent.com/71

[2021-05-25 18:23] krocard commented on #8946
From the log it seems the player correctly seeks to the next item, but there is no playback resuming log.
An error pauses the player. On error, after calling next(), are you also calling `play()` to resume playback?

[2021-05-25 18:46] Tolriq commented on #8946
I did not and do not need when there's other kind of error like a missing media.

I've just added a Play after the Next it's the same result see new logs.

Anything from the file that have to / can be fixed in ExoPlayer?

[code]

[2021-05-25 18:56] Tolriq commented on #8946
As a test I've changed to stop -> next -> play
[code]

Same result see logs:

[code]

[2021-05-25 21:01] Elton1763 commented on #8891
We did the maximum compression of the audio file and it works on Xiaomi and Galaxy A50, but it doesn't work on Moto G (9) Power.
Do we have any possibility to adjust the Exoplayer Buffer to be similar to the MediaPlayer?

[2021-05-25 21:03] marcbaechinger commented on #8976
There is a page about downloading media on our DevGuide: https://exoplayer.dev/downloading-media.html
It explains how to subclass a `DownloadService` and how to add a download and play downloaded content.

Looking at this doc, adding a download involves building a `DownloadRequest` with something like this

[code]

At the very end is a section about downloading adaptive media like HLS.

Can you ch

[2021-05-25 21:13] darwin-morocho commented on #8976
I've followed that page before but it doesn't have one demo about how to use the DownloadHelper class for HLS videos only have a little snippet but that snippet is incomplete.

[code]
The code above works but download the chunks as exo files I want to download the video as a m3u8 file with their ts files to play the video in a flutter video player.

[2021-05-25 21:19] marcbaechinger commented on #8980
You can integrate with Android notifications by creating and configuring a [`PlayerNotificationManager`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerNotificationManager.html) that maintains a notification of the player. By providing an `MediaDescriptionAdapter` you can determine yourself what information like title, artist is shown for the media currently being playe

[2021-05-25 21:52] marcbaechinger commented on #8982
I think without further configuration this is kind of working as intended. After playback the data in the buffer is discarded and when you want to seek back the player would need to load data from the network again.

I think with 'buffered content' you are referring what the UI displays behind the current position which is a bit misleading as this data is not actually retained but immediately disc

[2021-05-25 21:55] ssenanayake commented on #8944
@AquilesCanta I have requested from out content team for the "Picard" episode with Dolby Vision and a DRM LA URL that I will email when I receive it.

Thanks.

[2021-05-25 22:18] marcbaechinger commented on #8983
I tried the url you posted with https. This plays fine for me in the recent demo app.

[code]

I think if you update to the most recent ExoPlayer version you don't have to use  ` saschpe.exoplayer2.ext.icy.IcyHttpDataSource` and you can play the file with ExoPlayer. In your setup you can probably talk to the maintainer of  the custom data source instead.

[2021-05-25 22:18] #8983 closed, assigned to marcbaechinger

[2021-05-25 22:30] marcbaechinger commented on #8984
The thread in the IMA SDK group thread is referring to #8890 which is marked as a duplicate of #8937. The fix for this was this commit: https://github.com/google/ExoPlayer/commit/8ded11753ee4df9452aa8f483111b5fe8b7bb73e

As far as I understand this was not related to the IMA SDK but a problem in the HLS implementation of ExoPlayer that is used by the IMA asset.

[2021-05-26 05:35] maven-y commented on #8983
Thanks for your quick reply on this @marcbaechinger please confirm which version have you tested on the latest is 2.14.0. How to get metadata details of audio stream in that case.

[2021-05-26 08:27] kirin233x opened #8986 "Higher CMA footprint due to use of KEY_MAX_* when configuring MediaCodec"
Hi,
Our application integrates with ExoPlayer, but in testing we found that when ExoPlayer and MediaPlayer play the same video source, ExoPlayer consumes 50M more CMA memory than MediaPlayer.  Is there a way to reduce this memory footprint? I understand that both ExoPlayer and MediaPlayer use MediaCodec as the decoder.

[2021-05-26 09:19] ojw28 commented on #8984
Whilst I agree that the chain of messages and issues leads to 8ded117, that commit only landed in 2.14.0, so if the issue was really fixed in 2.13.3 then that commit can't be the relevant one.

That said, the chain of communication regarding this issue is quite confused and hard to untangle, so I don't think it's a good use of time to try and figure out whatever the real root cause was. If finding

[2021-05-26 09:19] #8984 closed, assigned to marcbaechinger

[2021-05-26 09:38] ojw28 commented on #8985
Thanks for the report. We'll get this fixed in 2.14.1.

[2021-05-26 10:33] marcbaechinger commented on #8986
It's probably hard to answer without knowing in detail what you are measuring and comparing and without knowing how you have configured the players for your experiment.

When you are talking about CMA footprint, are you referring to the buffers passed to the MediaCodec? Can you clarify a bit how and what you are measuring?

Besides decoder buffers, I think you already know how to configure the buf

[2021-05-26 10:50] marcbaechinger commented on #8981
Thanks for reporting this! We are looking into this and check whether we want to add the device to the list of devices needing the workaround. The device is quite new and uses API 29 since release. We have the P20 on the list already for API levels 27 and below.

My I ask you as a first step to create a [full bug report](https://developer.android.com/studio/debug/bug-report) from that device and u

[2021-05-26 10:55] AquilesCanta commented on #8944
I think it would be a better option if the content was not encrypted. I assume you have a clear version for all of your test streams, would you kindly provide a clear one? The reason is that DRM introduces yet another failure point, so it might mislead or delay the investigation.

[2021-05-26 11:07] marcbaechinger commented on #8976
Ah, ok I see. You want to use the download facilities of ExoPlayer to create a spec compliant local version that can be read by arbitrary players supporting HLS.

I'm not sure if using a subclass of `DownloadService` is the right option then. I even think that you probably won't find any out-of-the-box solution with ExoPlayer download components I'm afraid. These are very much focused on caching n

[2021-05-26 11:13] marcbaechinger commented on #8975
`PlayerView` does not offer a method to get the current frame I'm afraid.

[2021-05-26 13:15] Turalllb opened #8987 "MediaCodecVideoRenderer error"
Hello! I have an android tv device named yu43cv9632. I tried adding it to exceptions but it didn't help.

[code]

I have a ViewGroup that the PlayerView is placed in. ExoPlayer.prepare () starts
exoPlayer.setMediaSource (mediaSource).

Then he learns that he should show ads in the ViewGroup, add a View on top of the PlayerView that allows you to play ads, pause exoPlayer. And then some devices bre

[2021-05-26 13:15] jesro commented on #8975
Okay! Can I access the cache buffer of exoplayer to get a particular frame? If im not wrong, i think exoplayer buffer the video data after some seconds periodically. So is there a way to acess that buffer to extract frames for a particular time in video?

[2021-05-26 14:23] brianschrameck commented on #8850
Can confirm that this is still an issue in 2.14.0, preventing upgrading past 2.13.2. @ojw28 any progress here? Thanks!

[2021-05-26 14:41] marcbaechinger commented on #8333
Thanks for asking. I'm glad to have someone who can verify if this landed on devices and whether the fix helps.

This is fixed in the source code of the search app. I'll try to get the version of the search app that includes the fix and let you know as soon as I know more. With the version you can check whether the device you are using has the fix already.

[2021-05-26 14:56] vkoehler opened #8988 "ExoPlayer doesn't recognize TTML subtitles with DFXP profile in DASH streams"
**Issue description**

we have some DASH streams that contain TTML subtiltes with DFXP profile. ExoPlayer shows these tracks as UNMAPPED:

D/EventLogger:   Unmapped [
D/EventLogger:     Group:0 [
D/EventLogger:       [ ] Track:0, id=textstream_deu=1000, mimeType=null, bitrate=1000, codecs=dfxp, language=de, supported=NO
D/EventLogger:     ]
D/EventLogger:     Group:1 [
D/EventLogger:       [ ] Tra

[2021-05-26 15:58] n0m0r3pa1n commented on #8212
Currently, CastTimeline doesn't care about MediaItem and it works only with itemIds <int> and also with this `ItemData(long durationUs, long defaultPositionUs, boolean isLive)`. It is really bad in terms of currentMediaItem behavior, especially this method
[code]
Setting an empty mediaItem with only the index as a tag is such a hidden thing. Please, at least comment such stuff.

[2021-05-26 16:24] stevemayhew commented on #8850
@brianschrameck I'm not sure the ExoPlayer team @ojw28 is working on this or not.  We are working on what I suspect (without your app I can't confirm) is a related issue.  You can look at my comments on commit ([6f8a8fb](https://github.com/google/ExoPlayer/commit/6f8a8fbc1cf974617056edac6ee0068b175a6454)).

For us allowing audio master (which the commit does) prevents a deadlock when the EXT-X-DIS

[2021-05-26 16:51] brianschrameck commented on #8850
Our use case is a little different as we are playing two audio-only streams and synchronizing them using a MergingMediaSource. I've attached [two example HLS playlists](https://github.com/google/ExoPlayer/files/6548354/hls.zip); we then merge them together and play simultaneously. Both work fine when played individually, though. It's just when merging them and playing simultaneously where there's

[2021-05-26 18:02] marcbaechinger commented on #8975
The data in the buffer is not decoded.

I think if you want to get a frame at a given position, the approaches I mentioned in comment 1 is the easiest way.

[2021-05-26 19:24] kim-vde commented on #8928
Note: I tried to reproduce on a Pixel 3 with Android 11 but couldn't.

[2021-05-26 19:50] stevemayhew commented on #8850
@brianschrameck The playlists you attached do not have any discontinuities.  If the actual application is live and has discontinuities that could certainly trigger the timestamp adjustment.

Note the purpose of the `TimestampAdjuster` is to normalize media sample timestamps across multiple demuxed sample streams that are part of the same `HlsMediaPeriod`.   Unless I'm missing something looks like

[2021-05-26 21:26] brianschrameck commented on #8850
Correct, no discontinuities in these, but the live app does have them. We don't ever make it that far, though, so the they are irrelevant.

We extended `SimpleExoPlayer`, `DefaultRenderersFactory`, `MediaCodecAudioRenderer`, and `TrackSelector` [with inspiration from the conversation here](https://github.com/google/ExoPlayer/issues/4261#issuecomment-389429159). We rely on the `MediaClock` of only

[2021-05-26 21:33] stevemayhew commented on #8850
If the PTS values reset in that third segment it must be marked with an `EXT-X-DISCONTINUITY`.   The job of `TimestampAdjuster` is to match playlist time (starting PROGRAM-DATE-TIME + sum(duration)) to the PTS in the samples in the segments.  Each time this changes (because PTS jumps), it needs to be marked as changed by the EXT-X-DISCONTINUITY

[2021-05-26 21:48] brianschrameck commented on #8850
Sorry, I'm not really following. Nothing like that is mentioned in the spec or in Apple's `mediastreamvalidator` tool. The timestamps are in sequence, and they are not being reset. Byte ranges between sequences don't need to be identical as far as I'm aware.

[2021-05-26 22:07] stevemayhew commented on #8850
As long as the timestamps (PTS) in `#EXT-X-BYTERANGE:83848@168824` are nearly 9.2415449.. seconds from the timestamps (PTS) in `#EXT-X-BYTERANGE:84412@84412` then it is perfectly valid and there is no discontinuity.

So I'm confused as to what is the nature of the "discontinuity" you mentioned:

[2021-05-26 22:17] brianschrameck commented on #8850
Thanks, I've edited the original post to correct the terminology.

[2021-05-26 22:34] stevemayhew commented on #8850
Easy to see if you are stuck in the wait.  Look for `EventLogger` loadStarted event that is not followed by an loadCompleted.

I'll keep any eye on this bug too as we prepare a proposed fix for #8952

[2021-05-26 23:27] stevemayhew opened #8989 "What version of JDK to build ExoPlayer 2.12+"
Which version of JDK should be used to build ExoPlayer?

Some of the unit tests added in 2.12.x user features of RoboElectric that do not appear to work under Java8.

[code]

But work fine under java11:

[code]

[2021-05-27 01:21] kirin233x commented on #8986
Thank you very much for your reply. As for cma memory, we have found a root device, and we can obtain the cma's memory by reading the data from/sys/kernel/debug/cma. However, for some highly performing devices, this value may not change.  We are using a vehicle device that is capable of steadily consuming CMA memory

According to the analysis of our ROM team, the main use scenario of CMA should be

[2021-05-27 02:09] akshansh01 commented on #1649
Now 5 years. Any progress ?

[2021-05-27 04:06] tuesda commented on #8963
ok, appreciate for your response

[2021-05-27 04:06] #8963 closed, assigned to kim-vde

[2021-05-27 06:38] n0m0r3pa1n commented on #8212
@marcbaechinger this is kind of a bug? CurrentMediaItem is always empty one, it is not returned correctly.

[2021-05-27 06:56] sruditsky commented on #8954
@icbaker

Yes, setDrmSessionForClearPeriods seems to solve the problem.
Thanks.

And as for the problem, yes, it seems to happen only when audio pass-through is used.
Originally it happened with AC-3 and in the example I provided with E-AC-3, but in both cases with the pass-through.

I tried to reproduce it with AAC (and the decoder on the device) and the problem does not happen.
I'll try to figur

[2021-05-27 07:06] Chetan-Sankhla commented on #8980
You can check [UAMP](https://github.com/android/uamp) sample.

[2021-05-27 11:20] Turalllb commented on #8987
found this in the documentation: "It’s important to release the player when it’s no longer needed, so as to free up limited resources such as video decoders for use by other applications. This can be done by calling ExoPlayer.release."

I conducted an experiment and realized that the first player breaks when the second starts broadcasting, the first player for some reason starts executing mediaCod

[2021-05-27 12:10] kim-vde commented on #8929
Could you explain why you think adding the devices to `codecNeedsSetOutputSurfaceWorkaround(String name)` is the solution and how you generated this list of devices?

The error message is quite generic and I am worried that the workaround might not be the correct solution. The cause of the issue could for example be:
* That the format is not supported. Indeed, many formats in the list you provided

[2021-05-27 12:47] brianschrameck commented on #8850
Yeah, there looks to be missing a loadCompleted event.
[code]

[2021-05-27 13:22] rothfels commented on #8928
@kim-vde interesting, thanks for looking into this. The videos were actually both recorded on iOS; I only noticed they don't play properly on Android/ExoPlayer, whereas other video players I tested don't have a problem applying the rotation to both videos in spite of the different metadata.

I'm not sure why the transformation matrix would be different for the two files, but that doesn't sound lik

[2021-05-27 13:27] kim-vde commented on #8928
Thanks @rothfels. That's strange, particularly as you seem to be the first one reporting this issue (I couldn't find any similar issue in this tracker). If you can, it would be great to report this to iOS.

[2021-05-27 13:27] #8928 closed, assigned to kim-vde

[2021-05-27 14:16] icbaker commented on #8954
Glad you're able to solve the problem with the `setDrmSessionForClearPeriods` method!

@krocard might have insights as to why the timestamp problem seems to be only happening when audio decode is taking place off-device.

[2021-05-27 14:38] EduardAblekimov commented on #8941
Hey @claincly. I've seen your commit on dev-v2 on basic and digest auth. So, I tried it with my camera that is located on my local network. It just streams an h.264 stream on rtsp. It correctly parses the `WWW-Authenticate` header and then sends DESCRIBE signal again, but then it just stucks.

After some debugging I found out that it stucks in `RtspMessageChannel.handleRtspMessageLine`. It just it

[2021-05-27 14:45] marcbaechinger commented on #8986
If the CMA memory usage is determined by what `MediaCodec` is doing internally, it's difficult to have influence from `ExoPlayer` side I think.

The buffers that are filled by` ExoPlayer` and passed to the `MediaCodec`, are provided by the `MediaCodec`. It decides about the size of these buffers depends of the format of the video source (the format of the track with best quality in case of adaptiv

[2021-05-27 14:52] icbaker commented on #8989
Internally we use java11 - I believe everything should work with java9 and above, but I haven't tested it.

The failures you see with java8 are because those playback tests depend on Robolectric behaviour that only works on API 29+ (it calls down into framework methods that don't exist before this) so we annotate them `@Config(sdk = 29)` - but that implies you need at least java9 and fails otherwi

[2021-05-27 14:52] #8989 closed, assigned to icbaker

[2021-05-27 14:57] marcbaechinger commented on #8950
When you subclass the `DownloadService` you need to implement the `getDownloadManager` method. So you can construct the `DownloadManager` yourself.  So your app can determine what `DataSource.Factory` is passed to the constructor of `DownloadManager`. If you pass a `ResolvingDataSource.Factory` you can change the request at the moment when the request is issued. This seems to be a flexible way to

[2021-05-27 14:59] claincly commented on #8941
@k1llrogg Is the log complete?

On a rough look, the DESCRIBE response did not carry the actual SDP media description. I'm not sure if that's because how you logged the message.

Where did you insert the log lines? Is it where I mentioned in the pull request?

[2021-05-27 15:16] krocard commented on #8954
@christosts I though `MediaCodec.release` was called on a background thread? Blocking the main ExoPlayer thread for 300ms is excessive and very much risks under-runing the audio track (which usually has a 250ms buffer).

`positionUs = timestampPositionUs + elapsedSinceTimestampUs;`
becomes higher (by about the time the thread was blocked) then the value which `getPlaybackHeadPositionUs()` would re

[2021-05-27 15:27] EduardAblekimov commented on #8941
@claincly
I did it in the
`RtspMessageChannel.addLine(byte[])`.
More specifically after
`String line = new String(lineBytes, /* offset= */ 0, /* length= */ lineBytes.length - 2, CHARSET);`

Here i just log the lines.

I can also attach a kind of "sequence of actions":
1. Digest extravaganza, we sent the second DESCRIBE request with the correct authorization header.
2. We start to parse response in

[2021-05-27 15:38] ojw28 commented on #8776
This is a bug in ExoPlayer, rather than in the underlying platform. Which is good news, since it means we can easily fix it!

The problem occurs when `MediaCodecVideoRenderer` tries to reuse a previously instantiated non-secure `DummySurface` with a secure decoder. `MediaCodecVideoRenderer` should throw away a `DummySurface` when switching from a non-secure decoder to a secure decoder, and vice-ve