[2017-06-01 12:40] jrocharodrigues commented on #2892
I found the problem.
The the value of #EXT-X-PROGRAM-DATE-TIME was coming with an date from the future, and it was causing the playback to stop.
Changing the value to an Date form the past solved the issue.
Thanks

[2017-06-01 12:40] #2892 closed, assigned to nobody

[2017-06-01 12:42] goffioul commented on #2891
I've sent the result of "adb bugreport' by email. The device is an Intel/Baytrail platform running Android-IA.

The decoder is the one from Google, available in AOSP since marshmallow [1]. It used to be enabled by default [2], but for some reason this was changed on nougat [3]. The decoder is built into the firmware anyway, so I simply enabled it by including media_codecs_google_tv.xml into main m

[2017-06-01 13:41] RegisAG opened #2894 "Why ExoPlayer requires ACCESS_WIFI_STATE permission ?"
### Issue description
I use a version of ExoPlayer (I have not checked is still required in more recent versions but I don't want to change my ExoPlayer version) where there is a ACCESS_WIFI_STATE permission in the ExoPlayer manifest.
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

The problem is that it adds a permission to my project and will block the automatic updates o

[2017-06-01 13:58] ojw28 commented on #2894
We removed this permission approximately 2 years ago. I don't think it was ever required, so likely it was added unintentionally and later removed. Obviously we can't fix versions going backward in time, so you should upgrade to either the latest 1.x or latest 2.x version if you a version with the permission removed.

You can probably remove it safely from the version you're using, yes.

[2017-06-01 13:58] #2894 closed, assigned to nobody

[2017-06-01 14:26] ojw28 commented on #2891
If it's a Google codec then you should probably file an issue on Android directly, as described [here](https://source.android.com/source/report-bugs), under GfxMedia presumably.

[2017-06-01 14:34] ojw28 commented on #2722
I'm able to reproduce this, but it doesn't seem particularly easy to debug what's going wrong. It seems specific to the content, or at least the way that the content has been encoded. I'm not saying it's not encoded correctly, I'm saying that many other streams do play correctly. It's unlikely we'll be able to allocate resources to look at this in the near term.

[2017-06-01 15:05] goffioul commented on #2891
I was hoping you could inspect the sample clip to determine what special about it that can trigger pixellation, while the same decoder works fine with other clips.

[2017-06-01 15:35] jrocharodrigues commented on #2892
I've closed the issue because i've found the problem, and we could solve it server side.
Anyway, do you think this behaviour  ok? Should the player be so dependant on the the correctness of this tag?

[2017-06-01 15:47] KirillMakarov commented on #2777
Same issue. Tested on Nexus 5 with API 23, Samsung Galaxy Tab A (2016) SM-T280 API 21.
But on Samsung SM-T580 API 23 HD video with 2x is working.

[2017-06-01 15:50] AquilesCanta commented on #2892
We make our best to provide robust support, even sometimes when the stream is not technically valid. The amount of things that can go wrong is innumerable, and this issue tracker is a nice museum of malformed media. If we try to study and workaround every possible media malformation (we actually do sometimes), we won't have time to improve ExoPlayer for correct media. Besides, client-side-wise, th

[2017-06-01 16:08] jrocharodrigues commented on #2892
@AquilesCanta Yes, you're right.
Two questions that can help me, and maybe others, to no open issues like this one, where the problem is on the media not following the spec.
1 - Which version of the spec is ExoPlayer following? Is there any place we can keep track on that?
2 - Is there any tool you can recommend to validate manifest/playlist files?

Thanks in advance

[2017-06-01 16:13] #2122 closed, assigned to andrewlewis

[2017-06-01 16:18] AquilesCanta commented on #2892
We aim for the newer ones but we try to support anything allowed by any of the versions of the spec, unless we have good reasons not to. The newer the spec version, the higher the chances of us supporting it eventually.

I don't know any. We'll probably write a [medium](https://medium.com/google-exoplayer) blogpost including the best practices for generating HLS content, but no automatic tool. Let

[2017-06-01 16:30] andrewlewis commented on #2832
@darwinvtomy Could you provide more details about what you mean by "Also OMX.google.raw compontent is not properly configured for Passthrough ."? ExoPlayer relies on this component for passthrough mode in MediaCodecAudioRenderer.

[2017-06-01 16:31] #2675 closed, assigned to andrewlewis

[2017-06-01 16:36] jrocharodrigues commented on #2892
Ok, once again i understand and agree with your position of trying to support the maximum things possible.
One of the reasons i made this question was because, for the TAG EXT-X-PROGRAM-DATE-TIME , until version 18, the spec stated in section [6.3.3](https://tools.ietf.org/html/draft-pantos-http-live-streaming-18#section-6.3.3):

 "The client MUST NOT depend upon the correctness or the consistency

[2017-06-01 20:27] samysousa opened #2895 "Seeking not available on some MP3 files (INFO used for CBR , XING for all others)"
### Issue description
MP3 Files opened for ondemand playback are usually seekable except in certain cases where the INFO header is present but does not contain also a TOC (Table of contents).

MP3 File With NO INFO header   --> Exoplayer Assumes CBR FILE and enables SEEKABLE (expected)
MP3 FILE WITH INFO HEADER + TOC  --> Exoplayer enables SEEKABLE (expected)
MP3 FILE WITH INFO Header , But Withou

[2017-06-01 21:34] goffioul commented on #2159
I've started writing a skeleton of FfmpegVideoRenderer. At the moment it's mainly a lot of placeholders with plumbing to a ffmpeg mpeg2video decoder. However the decoding fails in ffmpeg, because of invalid input data.

The "render" method is very similar to other available renderers: wait for input format, then drain output buffers, then feed input buffers. What I noticed is that the data returne

[2017-06-01 23:02] goffioul commented on #2159
I've compared the data that is processed by MediaCodecRender (my Android device has a MPEG2 decoder builtin), and it appears that its calls to "readSource" also only get the picture segments. Is that a property of the implementation of H262Reader? (my sample clip is a MPEG/TS with MPEG2/MP2). If yes, is there a workaround to make the renderer to get the full MPEG2 data stream?

[2017-06-02 02:39] quanghuy1288 commented on #2816
Hi,

I have checked our OEM. They have talked with Amlogic vendor, Amlogic used Amlogic 's private player to decode Dolby.
How to config to passthrough audio?

[2017-06-02 03:06] lioun1729 opened #2896 "How can I modify DASH request url?"
Hi

For example, The java server that I implemented can get the request url transmitted by exoplayer client using HttpRequestServlet and HttpResponseServlet Library

HttpRequestServlet request.getRequestURL() -> return http://xxx.xxx.xx.xx/path/requestContentsname

I want to modify request url transmitted by exoplayer client at the client app

How can I do this?

I already searched about the modif

[2017-06-02 03:45] goffioul commented on #2159
My initial assessment was incorrect. The MPEG2 stream is segmented by H262Reader into TrackOutput on the START_PICTURE boundaries. That's why I see that start code when I inspect the starting bytes of the data received my renderer. However the problem is that the data between the start of the MPEG2 stream and the first START_PICTURE is lost and does not reach the renderer. And this is where the se

[2017-06-02 05:33] juechemparathy commented on #2863
@ojw28 - Yes, we intend to use it in our custom ABR algorithm(esp with fmp4) and is also considered as a useful input in our VBR instrumentation data. Thanks.

[2017-06-02 07:06] kevinp1005 commented on #1615
I have the same question with mohammed-najeeb, does the exoplayer able to play smil file ? In my case I'm using wowza streaming engine.

[2017-06-02 08:40] altair441n commented on #2527
@liujinchaoDS I met same problem.What's the any solution?

[2017-06-02 08:40] altair441n commented on #2527
@liujinchaoDS @ojw28 I met same problem.What's the any solution?

[2017-06-02 08:56] andrewlewis commented on #2816
To use passthrough mode, you just an AudioCapabilities instance when constructing MediaCodecAudioRenderer, as we do in [DefaultRenderersBuilder](https://github.com/google/ExoPlayer/blob/1e12c07/library/core/src/main/java/com/google/android/exoplayer2/DefaultRenderersFactory.java#L219). Then passthrough will be used automatically if it's supported by the connected device. As I noted above, based on

[2017-06-02 09:14] andrewlewis commented on #2895
Until this is fixed, I think you can call `defaultExtractorsFactory.setMp3ExtractorFlags(Mp3Extractor.FLAG_ENABLE_CONSTANT_BITRATE_SEEKING)` to work around the issue.

[2017-06-02 10:05] surindersinghbindra opened #2897 "Video and voice quality is not good with mp4"
` {
    "name": "SmoothStreaming",
    "samples": [
      {
        "name": "Super speed",
        "uri": "http://stream-two.doc123.nl:8000/movie/bh9kpOhVO0/MkFohi23nG/21149.mp4"
      },
      {
        "name": "Super speed (PlayReady)",
        "uri": "http://playready.directtaps.net/smoothstreaming/SSWSS720H264PR/SuperSpeedway_720.ism",
        "drm_scheme": "playready"
      }
    ]
  }`

 i h

[2017-06-02 10:08] andrewlewis commented on #2897
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-02 10:23] pi-andrei commented on #2722
Thanks. Then I have nothing to do but wait. Hope you will find time to fix this in future.

[2017-06-02 10:34] surindersinghbindra commented on #2897
**Issue description:**
When i tried to play play remote link  [file](http://stream-two.doc123.nl:8000/movie/bh9kpOhVO0/MkFohi23nG/21149.mp4) in the demo, its giving cracking sound and broken video quality.

**Reproduction steps:**
 just add  link i.e [http://stream-two.doc123.nl:8000/movie/bh9kpOhVO0/MkFohi23nG/21149.mp4](url)  in the demo project in the "SmoothStreaming" in provided .json as `  {

[2017-06-02 10:38] quanghuy1288 commented on #2816
Do you have any way to alway active passthrough audio and disable build in decoder of device?

[2017-06-02 10:50] ojw28 commented on #2895
Thanks for the excellent issue report by the way; very helpful!

[2017-06-02 10:51] ojw28 commented on #2891
This is beyond what we realistically have time for, particularly given the decoder isn't enabled by default. Sorry. Please do file an issue on Android directly if you want someone to take a look. Thanks.

[2017-06-02 10:56] andrewlewis commented on #2816
Passthrough will be used automatically if it's available. #2148 has some more information on this.

To disable using the built-in decoder you could provide your own MediaCodecSelector implementation that returns `null` when asked for an AC-3 decoder on this device.

[2017-06-02 11:05] ojw28 commented on #2159
You'll probably find what you're looking for in the `Format` that's provided to the renderer. Specifically in `Format.initializationData`.

[2017-06-02 11:51] b0g8 opened #2898 "Expose start and end points of ClippingMediaSource in UI, so that the user can adjust them"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

### Issue description
I want to let the user chose the start and end points of videos in a playlist. For this, the full duration of videos should be loaded, and the user be able to drag trim in/out points. Then, at playback, these points should be taken into consideration.

I did not find a built in way to achieve this,

[2017-06-02 11:58] ojw28 commented on #2898
This sounds niche enough for us to not support it directly. I'd suggest you implement your own UI components for this.

[2017-06-02 11:58] #2898 closed, assigned to nobody

[2017-06-02 13:36] andrewlewis commented on #2897
The attached logcat has a lot of audio underruns reported (like `internalError [18.06, audioTrackUnderrun [53664, 279, 724]]`).

I couldn't reproduce this on a Nexus 6P using the demo app playing the provided URL. Are you able to reproduce the issue on any other devices? Do you see the same issue if you play the stream using the platform player via `adb shell am start -a android.intent.action.VIEW

[2017-06-02 15:10] radko93 opened #2899 "Stop video from looping"
Is there any way to stop a video from looping (e.g. after a button press)? Seems that  `onPlayerStateChanged` is not fired for `LoopingMediaSource` when a video ends (or at any other state other than the beginning). I don't want to interrupt during the playback.

### Version of ExoPlayer being used
Currently testing on `2.2.0`, not sure if it's any different later on.

### Device(s) and version(s)

[2017-06-02 15:13] ojw28 commented on #2899
In the `dev-v2` branch there's an `ExoPlayer.setRepeatMode` method that allows looping behavior to be toggled on and off. It's intended that you should use this rather than `LoopingMediaSource` except for certain niche use cases.

Will that let you do what you want?

[2017-06-02 15:21] radko93 commented on #2899
Yeah, I missed this while searching the repo. Waiting for the release then, thanks!

[2017-06-02 15:21] #2899 closed, assigned to nobody

[2017-06-02 17:54] fabiensanglard commented on #1482
Late to the party but the dropbox links are dead. Can you reupload them so I can take a look at the issue ?

[2017-06-02 18:09] aaronpatel93 opened #2900 "Using LoopingMediaSource on Samsung GT-I9082 on 4.1.2 causes Internal Runtime Error"
### Issue description
Attempting to use a LoopingMediaSource on throws an internal runtime error.
A regular media source works fine.

### Reproduction steps
Simply prepare the exoplayer with a LoopingMediaSource.

### Link to test content
Any Mp4 file causes the bug.

### Version of ExoPlayer being used
r2.0.1

### Device(s) and version(s) of Android being used
Samsung GT-I9082 on 4.1.2.  It is re

[2017-06-02 18:51] needz commented on #2843
Thanks, it works exactly as it should. Looking forward to the enhancement in the future.

[2017-06-02 20:39] chenqian1024 opened #2901 "Player crashes when playing MP4/H264 clips on HTC Desire X 4.1.1"
### Issue description
Any MP4/H264 videos cannot play on HTC Desire X. It crashes the player.

### Reproduction steps
Go to the Demo app, and click on YouTube DASH -> Google Glass (MP4,H264) clip and observe the player fails to play and crash.

### Version of ExoPlayer being used
Release-V2

### Device(s) and version(s) of Android being used
HTC Desire X 4.1.1 (API 16)

### A full bug report captu

[2017-06-02 23:54] connorliveraise commented on #2837
Thanks @ojw28, however placing a view on top will not work as the main view is another ExoPlayer (we are doing picture-in-picture combining 2 videos).

Any other suggestions or ideas?

[2017-06-03 00:23] goffioul commented on #2891
For the record, this is related to interlaced content. I've implemented a ffmpeg-based video renderer and it displays the same problem.

[2017-06-04 04:12] Aditya94A commented on #2851
Is there a list somewhere of unsupported or semi-supported formats/edge cases for ExoPlayer? I'd rather not run into these things in production.

@PaulWoitaschek Pardon me, I'm not familiar with using NDK, but I wonder if it's possible your exoplayer-flac and exoplayer-opus extensions could be made available as a library? That was be tremendously convenient and helpful :)

[2017-06-04 06:05] mdtuyen opened #2902 "How to listen buffering percent before video can play ?"
I want to get percent buffering before stream video link, I used getbufferedPercentage but see that it not correct (some time < 0 or not increate)

Please give be a solution (With exoplayer2) ( I make it work fine with vitamio)

[2017-06-04 08:07] qvk opened #2903 "Demo app: DefaultDrmSessionManger.EventListener callbacks not received in EventLogger"
### Issue description
`DefaultDrmSessionManger.EventListener` callbacks are not received in `EventLogger` in the demo app.

I believe this is simply because the drmSessionManger is created with a null `EventListener` (`eventLogger` in this case). Creating the `eventLogger` before creating any components requiring event listeners should fix this.

### Reproduction steps
Play any protected sample pr

[2017-06-04 09:19] PaulWoitaschek commented on #2851
It's not my extensions, it's just the exoplayer extensions drawn together so they build with all these manual steps involved.

Rather that me building it I would rather push for the exoplayer people just release it to maven.
There is an issue for that but it has both status unclear. Maybe that can be escalated?

It took me quite some time to get it to build and I think there would be a lot of hour

[2017-06-04 11:11] Aditya94A commented on #2851
@PaulWoitaschek Yes, of course! I was just wondering whether it's at all possible to have those as a separate dependency. I was indeed wrestling with this for hours before giving up.

I wonder why it isn't simply built in to ExoPlayer, the extensions aren't very big in size. Anyways, if they are a common enough use case to have their build process explained officially surely we can offer a better

[2017-06-04 12:05] ojw28 commented on #2837
I don't think you can do what you're attempting using `SurfaceView`. Have you tried configuring `SimpleExoPlayerView` to use a `TextureView` instead? You should be able to set `app:surface_type="texture_view"` in your layout xml to do this. Then try your original approach with `RoundedCornerLayout` again.

[2017-06-04 12:12] ojw28 commented on #2851
Distributing extensions via jCenter is tracked by https://github.com/google/ExoPlayer/issues/1434. Let's just use this issue to track making sure the manual instructions make sense.

[2017-06-04 12:15] ojw28 commented on #2902
`getBufferedPercentage` is the correct thing to be using. We should make sure the value doesn't go negative. Beyond that you'll need to provide proper reproduction steps if you want us to investigate, and fill out the issue template correctly.

[2017-06-04 12:36] PaulWoitaschek commented on #2851
Well I just modified my build.gradle to let the Android plugin handle the build.

Then it's really straight forward as you only need to put the flac sources in the jni folder.

For opus it's more complicated as I needed to modify the build files to get it working.

[2017-06-04 22:40] martinsce opened #2905 "Detect if the video is frozen"
I have a question. Sometimes, in live streams, the image gets frozen while the audio keeps playing without receiving STATE_BUFFERING or any kind of error. I noticed that it happens regardless of the stream type.
Since there are no errors and everything seems normal in logcat I did not submit it as a proper issue using the issue template.

Is there a way to possibly detect if the surface view is be

[2017-06-05 01:30] lioun1729 commented on #2896
@andrewlewis
I have a question
If I use the DASH format, the request URL is determined in the HttpDataSource?

[2017-06-05 05:58] lioun1729 commented on #2896
I find the answer

If server sends metadata (e.g. modified quality : 240 , 360 , or ...), we can control the updateSelectedTrack method in AdaptiveTrackSelection.java

if(modifiedQuality == 240){
  selectedTrack = value (This value can be 0, 1, ...)
}

selectedTrack index is arranged ascending manner of quality in mpd

[2017-06-05 05:59] #2896 closed, assigned to nobody

[2017-06-05 07:25] maven-y commented on #1444
I tried with this link https://player.vimeo.com/external/162328830.hd.mp4?s=84715da70a4f4399b681feab48a514b9879f6072&profile_id=174

I never plays vimeo vidoes.

06-05 12:51:02.527 18502-18502/? W/SELinux: Function: selinux_compare_spd_ram, index[1], priority [2], priority version is VE=SEPF_SECMOBILE_6.0.1_0013
06-05 12:51:02.527 18502-18502/? W/SELinux: SELinux: seapp_context_lookup: seinfo=defa

[2017-06-05 07:30] mofneko commented on #2884
ping @ojw28. Android mashmarrow on Pixel XL reproduced the same issue.
Should this issue be reported in a new issue? Or, can you resume this report?

[2017-06-05 08:08] cr1944 commented on #2873
but the wav file can be played on the device with other music player

[2017-06-05 08:15] cr1944 commented on #2873
currently my solution is use a custom `MediaCodecSelector` to use `OMX.google.raw.decoder` for raw audio type, and it works. But I hope there's a better solution:
[code]

[2017-06-05 09:45] AquilesCanta commented on #1444
@malvin91, the link you include plays well in the demo app.

Add your link to the demo app and go from there. If you need to report an issue, please don't use a closed issue. And please don't forget to include all the information requested in the issue template. Otherwise it will probably be closed automatically.

[2017-06-05 09:51] maven-y commented on #1444
OK thanks for reply. Should I report a new issue to it ?

[2017-06-05 09:53] AquilesCanta commented on #1444
Please try it in the demo app, first. It plays well for me.

[2017-06-05 10:08] AquilesCanta commented on #2905
I don't think this is normal behavior. I test live streams daily but do not observe the described issue. You can get the amount of skipped and dropped frames in the Demo App's debug overlay on top of the screen under the label sb and db respectively. That's a good starting point. The logcat should also include relevant logging (in the demo app, that is) when a certain amount of dropped frames is r

[2017-06-05 11:27] AquilesCanta commented on #2901
I can observe in the provided log that the highest resolution is being selected. Could you please try adding video size parameters to the DefaultTrackSelector so that the lowest resolution is picked? Like so:

`selector.setParameters(selector.getParameters().withMaxVideoSize(256, 144));`

The logs should show something like:

[code]

We are also pushing a fix to prevent this kind of selections whe

[2017-06-05 12:10] Livekus opened #2906 "how to check those mp4 file valid for exoplayer"
Before filing an issue:
----------------------
I run with video is  **local file ( not streamimng**)

        ` Handler handler = new Handler() ;
      DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);
        TrackSelector trackSelector = new DefaultTrackSelector( vide

[2017-06-05 12:42] Aditya94A commented on #1434
I wonder why the extensions aren't simply built in to ExoPlayer, they aren't very big in size. Anyways, if they are a common enough use case to have their build process explained officially surely we can offer a better way for developers to use them. @ojw28 please share your thoughts :)

[2017-06-05 13:07] ojw28 commented on #1434
If I remember correctly, the VP9 extension alone is larger than the library (without extensions). They're definitely non-trivial in terms of size. Some developers are extremely sensitive to library size, particularly those targeting emerging markets, which is why we've actually been going in the opposite direction (i.e. splitting the core library into multiple individual modules).

Reasoning for n

[2017-06-05 13:20] quanghuy1288 commented on #2816
Hi,

I have tried to test my android box with other TV (TV without ac3 decoder) and i see in the debug log show that: "AudioTrack:audioCapabilities AudioCapabilities[maxChannelCount=2, supportedEncodings=[2]]"
So it mean: box has no ability to decode ac3 audio.

So i think problem of pass through audio is caused of Exo player.
[6.5.log.txt](https://github.com/google/ExoPlayer/files/1051817/6.5.log

[2017-06-05 14:06] ojw28 commented on #2906
The original cause of failure (clipped off the top of what you've provided), is:
[code]
It appears the problematic media has a strange edit list, that's discarding the first 4 video frames for no apparent reason. The first frame is the only key-frame, so after applying the edit list we end up with no key-frames from which to start playback.

Playing this type of media correctly is tracked by https

[2017-06-05 14:17] ojw28 commented on #2873
Sounds like we should probably blacklist OMX.MTK.AUDIO.DECODER.RAW in `MediaCodecUtil.isCodecUsableDecoder` for some combination of Util.DEVICE and/or Util.SDK_INT values.

Do you have a good sense of what the blacklisting condition should be? I can try and check with MediaTek also, to see if this is a known issue.

[2017-06-05 14:23] ojw28 commented on #2873
Internal bug ref: 62337687

[2017-06-05 14:25] ojw28 commented on #2884
You should be reporting this issue on the Android issue tracker, as explained above.

[2017-06-05 15:51] andrewlewis commented on #2816
`supportedEncodings=[2]` indicates that only 16-bit PCM can be output over the HDMI connection, not AC-3. It doesn't relate to on-device decoding.

Based on your comments above, the AudioTrack can't be initialized for passthrough output when connected to an A/V receiver, and the on-board AC-3 decoder doesn't support the format. You'd need to follow up with the OEM to address these issues. I can't

[2017-06-05 16:13] botondbutuza opened #2907 "Renderer error with HLS"
### Issue description
When playing a specific HLS stream, ExoPlayer consistently throws a renderer error. A full bugreport is included below, but since it might be useful, logcat shows the following errors:

[code]

### Reproduction steps
The issue can be reproduced in the demo app by playing the below HLS stream, putting the app in the background, and resuming. Sometimes it happens on first try,

[2017-06-05 19:59] goffioul commented on #2159
Thanks, I hadn't realized that the initialization data contained the sequence and sequence extension headers. They're pre-parsed by the mpeg2video codec automatically when set as extradata on the context. Now I can get my FfmpegVideoRenderer to work.

[2017-06-05 21:52] connorliveraise commented on #2837
Thanks @ojw28 that worked!

[2017-06-06 01:22] quanghuy1288 commented on #2816
Hi,
"supportedEncodings=[2] indicates that only 16-bit PCM can be output over the HDMI connection, not AC-3. It doesn't relate to on-device decoding."  ==> Infact, i disconnect HDMI from TV.

[2017-06-06 04:53] Livekus commented on #2906
Ok ,Could you please give me some information about **edit list** ?,( i have no idea what **edit list** do in mp4 file ) , before i exclude **edit list** form mp4 file.

[2017-06-06 04:56] imarenco commented on #2617
Hello @andrewlewis, how many time do you think to be a stable version of ima extension?
thanks! @ojw28

[2017-06-06 08:21] HayDar-Android opened #2908 "The urgent ！The urgent ！ConcatenatingMediaSource automatically play the next event where to get?"
[code]

I would like to know, `ConcatenatingMediaSource` automatically play the next event where to get?

[2017-06-06 08:23] HayDar-Android commented on #2908
The urgent

[2017-06-06 09:06] andrewlewis commented on #2908
I'm not sure what you're asking, but if you want to find out when the player starts playing the next playlist item you can use `onPositionDiscontinuity`. See #2053.

[2017-06-06 09:22] HayDar-Android commented on #2908
@andrewlewis thanks!

[2017-06-06 09:22] #2908 closed, assigned to nobody

[2017-06-06 11:46] qlthd opened #2909 "Which part of the code to find a DASH segment number, its arrival time, other infos etc"
Hi !
I'd like to find some informations about each segment requested during buffering, like its number, its arrival time, delivery time. I've created a class implementing `AdaptiveMediaSourceEventListener` with `void onLoadStarted(DataSpec dataSpec, int dataType, int trackType, Format trackFormat,int trackSelectionReason, Object trackSelectionData, long mediaStartTimeMs,long mediaEndTimeMs, long e

[2017-06-06 13:58] botondbutuza commented on #2907
Update: error occurs on Huawei ALE-L23 API 21 as well. The logs have slightly more information:

[code]

I'm fairly certain the video exceeds the capabilities of the device, and that's why we're getting this issue. However, I was expecting ExoPlayer to handle this a bit differently than throwing a very generic renderer error.

Is there a way to check whether the device can play the requested media

[2017-06-06 14:44] ojw28 commented on #2906
Advising on correct media preparation is outside the scope of this issue tracker, sorry. I'd suggest asking on StackOverflow or similar.

[2017-06-06 14:44] #2906 closed, assigned to nobody

[2017-06-06 14:49] ojw28 commented on #2909
You're looking in the right place (taking the demo app and updating `EventLogger` to output logging in the various `onLoad...` methods is a good place to get started and see what data is available). We do not report segment number, and do not plan on doing so. Media start and end time is preferred because it more gracefully handles cases like two segments being downloaded in a single request.

I'm

[2017-06-06 15:30] ulyssesdotcodes opened #2910 "onScrubStart has no position argument"
Custom scrub behaviour for `DefaultTimeBar` relies on having an accurate `TimeBar` position. `onScrubStart` does not pass in a position, and `TimeBar` doesn't expose the scrub position through a getter. It would be incredibly useful to have `TimeBar` expose the scrub position or add a position argument to `onScrubStart`.

[2017-06-06 15:30] ojw28 commented on #2861
Does the sample play correctly with the built in players on other devices (e.g. the Samsung S7)?

[2017-06-06 15:43] ojw28 commented on #2857
This is expected because the underlying platform destroys the surface, and because we cannot draw into the new surface until after we've re-buffered and decoded the first frame at the current playback position. Sorry.

[2017-06-06 15:43] #2857 closed, assigned to nobody

[2017-06-06 15:52] #2895 closed, assigned to andrewlewis

[2017-06-06 15:52] ojw28 commented on #2901
This is probably fixed by the change ref'd above.

[2017-06-06 15:52] #2901 closed, assigned to nobody

[2017-06-06 15:53] ojw28 commented on #2902
The returned value is now constrained to be in the range [0,100]. Closing due to lack of information beyond that.

[2017-06-06 15:53] #2902 closed, assigned to nobody

[2017-06-06 15:54] ojw28 commented on #677
@molexx - In the `dev-v2` branch we now wire `DummySurface` up for you automatically where possible inside of `MediaCodecVideoRenderer`, so you'll be able to remove your manual wiring once that hits a `release-v2` (or if you're using `dev-v2` directly).

[2017-06-06 15:55] #2903 closed, assigned to ojw28

[2017-06-06 15:59] ojw28 commented on #2816
As mentioned repeatedly above, you need to get the OEM to assist with this issue.

[2017-06-06 16:03] ojw28 commented on #2900
Apparently this device can be upgraded to Android 4.2.2. Is the upgrade available for your test device, and if so does taking it resolve the issue?

[2017-06-06 17:32] #2910 closed, assigned to nobody

[2017-06-06 17:37] ulyssesdotcodes commented on #2910
Thank you!

[2017-06-06 17:37] ulyssesp commented on #2910
Thank you!

[2017-06-06 18:27] ojw28 commented on #2840
We release the platform AudioTrack on a background thread, but `releasingConditionVariable` ensures that a subsequent initialization of a platform AudioTrack will be blocked until that background thread has actually finished releasing the previous one.

Closing this issue, since this appears to be a platform problem and there's an AOSP issue tracking it, as ref'd above.

[2017-06-06 18:27] #2840 closed, assigned to nobody

[2017-06-06 23:04] goffioul commented on #2891
I've made some experiments with ffmpeg, emulating the behavior of H262Reader. The strange thing was that I also got pixellation when using my experiment code, while ffplay could play the stream just fine. It appears that in the case of ffmpeg, the pixellation is due to the way the data is segmented and fed to the decoder.

Based on H262Reader, I've segmented my data on picture start code boundarie

[2017-06-07 00:22] jiafei1986 opened #2911 "Is there a way to check if the dash stream is live or not?"
Hi
I am using the exoplayer2 to play both vod and live stream, Is there a listener that can get the manifest?  so i can check if the dash is live or not? I was looking in the playerActivity of demo app but can not found it.

Thanks

[2017-06-07 05:20] mofneko commented on #2884
Thanks.
https://issuetracker.google.com/issues/62395952

[2017-06-07 05:20] mofneko commented on #2884
Thanks. I reported it!
https://issuetracker.google.com/issues/62395952

[2017-06-07 06:34] sidpram opened #2912 "ExoPlayer2 video get stuck when it reaches maximum bit rate, but audio keeps on playing."
Issue description:

When playing a specific HLS stream, ExoPlayer video get stuck when it reaches maximum bit rate. 1920x1080 video resolution in this case. But the audio keeps on playing.

Reproduction steps

The issue can be reproduced in the demo app by playing the below HLS stream.

Link to test content
https://d1jm4snawz7e2z.cloudfront.net/hls/zeeredcarpet/clip1.m3u8

Please add the below cod

[2017-06-07 07:08] quanghuy1288 commented on #2816
Hi,
I am work with OEM about this issue. But i need know exactly the problem.
1/ when i disconnect HDMI of my Android box, log show: "supportedEncodings=[2]". Does it mean supportedEncodings of the box?
2/ when i connect HDMI of of my Android box to a LG smartTV, log show: "supportedEncodings=[2, 5, 6]". Does it mean supportedEncodings  of the box or the smartTV?

[2017-06-07 07:30] andrewlewis commented on #2816
Your questions are basically answered already above: `supportedEncodings=[2, 5, 6]` indicates that the audio track can output 16-bit PCM and AC-3/E-AC-3 via passthrough, and `supportedEncodings=[2]` indicates that only 16-bit PCM can be output (which is expected if no A/V receiver is attached).

Note that AudioCapabilities tell the player what formats can be output via passthrough, and are unrelat

[2017-06-07 07:49] ShaoWeiguo opened #2913 "Does ExoPlayer support HEVC main10 profile?"
Does ExoPlayer support HEVC main10 profile? If not, is there any plan?

[2017-06-07 08:10] andrewlewis commented on #2913
See [ExoPlayer supported formats -- sample formats](https://google.github.io/ExoPlayer/supported-formats.html#sample-formats) and the [Android CDD](https://source.android.com/compatibility/cdd).

[2017-06-07 08:10] #2913 closed, assigned to nobody

[2017-06-07 08:46] nguyenhoanglam opened #2914 "Get NAME attritube of a track"
I have a HLS url with the content below:
[code]
In the ExoPlayer demo app, with the Format object, we can get BANDWIDTH, CODECS, RESOLUTION attributes except the NAME attribute. How can I get the NAME attribute?

[2017-06-07 08:54] AquilesCanta commented on #2914
Listen for `ExoPlayer#EventListener#onTimelineChanged`. The manifest argument should carry an `HlsManifest` object, which contains a reference to the master playlist and a snapshot of the media playlist. Playlists (master and media) carry all their tags in the field `tags`. You can map each `EXT-X-STREAM-INF` to a format using the rest of the attributes. Unfortunately there is no better way, as we

[2017-06-07 08:54] #2914 closed, assigned to nobody

[2017-06-07 10:22] botondbutuza commented on #2911
Not part of the Exo team, but `player.isCurrentWindowDynamic()` is the method you're looking for.

[2017-06-07 10:25] ojw28 commented on #2891
Does this imply you know how to fix it too ;)? Feel free to send a pull request if so. It's quite low priority for us, so it'll almost certainly be much faster for you to fix it.

[2017-06-07 11:12] AquilesCanta commented on #2912
Please include all the information required in the issue template. The bugreport is missing.

[2017-06-07 12:15] mdtuyen commented on #2012
I'm working with exoplayer 2.3.1.

[code]

[2017-06-07 12:18] maven-y opened #2916 "Getting invalid time of seekbar & Video can't be played of any format."
Device Detail:

Version : Samsung 4.4.4

video url https://storage.googleapis.com/wvmedia/cenc/h264/tears/tears_sd.mpd

`06-07 17:38:33.106 21844-26400/? E/ExoPlayerImplInternal: Renderer error.
                                                          com.google.android.exoplayer2.ExoPlaybackException
                                                              at com.google.android.exoplayer2.m

[2017-06-07 12:21] ojw28 commented on #2916
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-07 12:21] #2916 closed, assigned to nobody

[2017-06-07 12:21] #2911 closed, assigned to nobody

[2017-06-07 16:51] goffioul commented on #2891
This (temporary/experimental) patch fixes the problem. The idea is to segment data at picture, sequence and GOP header boundaries. However, I ran into an exception while playing another sample clip that contains a discontinuity.

The patch is available here:
https://drive.google.com/open?id=0BwljeX6541Luak1oMldUS3FVZjQ
The clip is available here:
https://drive.google.com/open?id=0BwljeX6541LualNuV

[2017-06-07 19:07] ghost opened #2917 "Intended uses of setSelectionOverride and setRendererDisabled [Question]"
I'm trying to understand the difference between these two "options".

Currently, my understanding is that `setRendererDisabled` is for disabling the renderer completely, regardless of the overrides.  `setSelectionOverrides` is for selecting a different track to be rendered by the renderer, French text track vs an English text track.

Is this correct?

I have seen instances, with a text track, that

[2017-06-07 21:41] ojw28 commented on #2917
Yes :).

If you're just playing a single video then I don't think it makes any difference.

It does make a difference if you're playing media that contains multiple periods. For example if you've concatenated multiple media items together using `ConcatenatingMediaSource`, or if you're playing a multi-period DASH stream. In these cases the available tracks can be different moving from period to per

[2017-06-07 21:41] #2917 closed, assigned to nobody

[2017-06-08 00:10] jiafei1986 commented on #2911
@botondbutuza Thank you very much, I will try it.

[2017-06-08 04:52] nitini commented on #1399
Hi,

I too am curious if ExoPlayer supports smooth / fast scrubbing of video. I'm struggling to describe what I'm looking for but on iOS when I record a video with my camera and then play it back, I can use my finger to swipe through the video fast or slow and the scrubbing is smooth. On Android however (Nexus 5X) I'm finding that this same behavior is very choppy.

Are there video players on Andr

[2017-06-08 05:08] zhaojigao commented on #426
the application sends a message to the Handler that has exited

[2017-06-08 07:12] shoyu666 opened #2922 "ConcatenatingMediaSource ,a single seekbar"
dear author:
    we hava two or more  mp4 url,and we use ConcatenatingMediaSource, we want it play sequent，and it work as we want, except seekbar,  seekbar will reset when play next.
     my question is
     a url mp4 file duration is 200,b url mp4 file duration is 300 and seekbar would be 500, not 200 change to 300,my english is poor ,Do I make myself clear。Look forward to your reply

[2017-06-08 07:19] andrewlewis commented on #2922
See #2122.

[2017-06-08 07:19] #2922 closed, assigned to nobody

[2017-06-08 07:33] shoyu666 commented on #2922
@andrewlewis
    thanks
   showMultiWindowTimeBar works fine

[2017-06-08 08:44] The41d3 opened #2923 "Combining ClippingMediaSource with LoopingMediaSource causes gap in loop"
### Issue description
I want to loop part of mp3 (based on user selection) without having any silence gap in between loops. Right now in between loops there is a noticeable gap of silence. I can probably go around that using seeking, timer and listening to player events  for looping but that's not an elegant solution.

### Reproduction steps
Issue can be reproduced with any mp3 and on all devices

[2017-06-08 09:14] steffencbc opened #2924 "ExoPlayer crashes when switching from clear to widevine protected Media at the same resolution"
### Issue description
On Nexux 5X with Android 7.1.2:
ExoPlayer crashes with java.lang.IllegalStateException at android.media.MediaCodec.native_dequeueOutputBuffer(Native Method) android.media.MediaCodec.dequeueOutputBuffer(MediaCodec.java:2570) at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.drainOutputBuffer(MediaCodecRenderer.java:899)

When Exoplayer is first playing an unprotec

[2017-06-08 10:15] sidpram commented on #2912
Added bug report
[Bug_report_2.txt](https://github.com/google/ExoPlayer/files/1060659/Bug_report_2.txt)

[2017-06-08 11:52] ErezNe opened #2925 "How to synchronize Exoplayer to HDMI output"
Hi

I am using the Exoplayer on Android STB which of course has a HDMI output ,at the AndroidTV OS I can synchronize the STB HDMI output to the TV HDMI input with a lot of resolution,interlace or progressive  and sample rate (HZ) options.
For the streaming to the STB I am using DASH+HEVC and alos DASH+AVC,
The encoding frame rate which I encoding is some times 1080p at 25fps and some time 50fps (f

[2017-06-08 13:31] ojw28 commented on #2925
This isn't something we support directly, and it's difficult to come up with a general purpose solution. It is possible to manually set the preferred refresh rate, if you want to set it to match the content being played. You can query the available rates using:
[code]
And set your preferred rate using:
[code]

Note that in practice, most people opt not to do this. TVs often handle mode changes in

[2017-06-08 13:31] tiger1990 commented on #432
I have checked gvr-android-sdk sample,  Below are the modules i have implemented one by one.

In this (':samples:sdk-simplevideowidget') sample creator had provided its own widget and had not exposed full controls of child views.

Problems:
cancel click : take me from full screen back to normal screen, What if i have to go to previous app screen when i click cancel.

For some videos (.m3u8 hls str

[2017-06-08 13:36] ojw28 commented on #432
We plan to support 360, but we don't have an ETA at this point. We will not be able to provide guidance until we get around to adding official support.

[2017-06-08 13:53] tiger1990 commented on #432
@ojw28  I believe youtube is also using exoplayer and in exoplayer i have seen gvr extension, If you could give me some suggestion , how should i start building my own renderer on top of exoplayer.

[2017-06-08 13:58] ojw28 commented on #432
As per above, we are not able to provide guidance until we provide official support. We don't have sufficient time to do this currently.

[2017-06-08 14:06] ghost commented on #2917
I would like to note that  when using the overrides seems to provide a smoother playback experience.  Disabling a renderer causes the player to pause for a second and then resume.

[2017-06-08 14:10] ojw28 commented on #2917
I do not see that issue in the demo app when disabling via the track selector. Are you sure? Please file an issue with specific reproduction steps in the demo app if so.

[2017-06-08 19:09] DiGra commented on #2467
Hi guys. If someone have situation like me (using PBEWithMD5AndDES instead of normal AES/CTR for this tasks) here is working code:

[code]

[2017-06-09 03:23] martinsce commented on #2905
The issue is very difficult to reproduce because it rarely happens. I'm closing this for now until I find a proper way to reproduce it.

[2017-06-09 03:23] #2905 closed, assigned to nobody

[2017-06-09 04:00] tonihei commented on #2923
I tried to reproduce your problem with the mp3 file in the demo app (Misc -> Google Play (MP3 Audio)) and the described MediaSource combination. I wasn't able to hear any noticeable amount of silence between loop iterations.

Could you send me a link to the mp3 file you used?
And how long is the gap we are talking about approximately?

[2017-06-09 07:41] ErezNe commented on #2925
where can I change the  mapping of 24 fps with  60hz   to 25 fps witn 50hz?
Thx
Erez

[2017-06-09 07:44] ghost opened #2926 "Allow seamless switching between different audio tracks (e.g. in MKV)"
Hi

I have test the demo application with the local file with multiple audio in the MKV container. The problem I get stuck is the Exoplayer switching audio. It causes 2 or 3 seconds to change to another audio track. So is there anyway to fix this problem?

And with each video, I want it play the seconds track as default. So which class I need to customize for meet that requirement?

Thank you.

[2017-06-09 09:19] baitouwei opened #2927 "Custom PlaybackControlView not update without exo_position and exo_duration"
### Issue description
Custom PlaybackControlView whitout position text and duration text then progress will not update.

### Reproduction steps
[code]
1.Use above xml to custom PlaybackControlView
2.PlaybackControlView progress will not update

### Version of ExoPlayer being used
r2.4.1

### Device(s) and version(s) of Android being used
Geneymotion Nexus 5 6.0.0 API 23

[2017-06-09 09:27] ojw28 commented on #2927
Duplicate of https://github.com/google/ExoPlayer/issues/2871. This will be fixed in the next release.

[2017-06-09 09:27] #2927 closed, assigned to nobody

[2017-06-09 09:30] qlthd commented on #2909
Thanks for your help !
Okay so the `AdaptiveMediaSourceEventListener` seems to be the right class to find these informations.
I was wrong about the arrival time let's forget this. My goal here is to get some informations about EACH segment requested, for example the segment duration. How could I get the duration of a segment ? I tried to do a substraction of mediaEndTimeMs- mediaStartTimeMs, but i

[2017-06-09 09:32] ojw28 commented on #2909
`mediaEndTimeMs - mediaStartTimeMs` is correct. I don't understand what you mean when you say it "should be a static one".

[2017-06-09 09:35] ojw28 commented on #2925
You can look in the `Format`s of the selected tracks to see what their frame-rates are. Alternatively, if you control the serving side of whatever you're developing, you may well be able to deliver the frame-rate in some out-of-band metadata. You can then decide whether you want to switch, and switch as described above.

This is not something we support directly in the library, and so we're not in

[2017-06-09 09:35] #2925 closed, assigned to nobody

[2017-06-09 10:11] bbagland opened #2928 "webvtt subtitles in HLS are not displayed when the PTS wraps around"
### Issue description

Play a HLS stream where the PTS from the main video segment are wrapping around with webvtt subtitles.
[bugreport.1.txt.gz](https://github.com/google/ExoPlayer/files/1063692/bugreport.1.txt.gz)
The webvtt subtitles are never displayed.

### Reproduction steps
It is reproduced with the demo on the latest release 2.4.1.
it is not necessary, but it is easier if subtitles are se

[2017-06-09 10:14] bbagland commented on #2928
The subtitles are displayed if we call adjustTsTimestamp instead of adjustTsTimestamp instead of adjustSampleTimestamp in WebvttExtractor.java, ie:

long sampleTimeUs = firstCueTimeUs + timestampAdjuster.adjustTsTimestamp(Long.parseLong(mediaTimestampMatcher.group(1))) - vttTimestampUs;

[2017-06-09 10:19] bbagland opened #2929 "align:left in webvtt subtitles is not correct for RTL script"
### Issue description

Play a HLS stream with webvtt subtitles in a RTL script and align:left or align:right in the positioning

align:left will be aligned on the right side instead of being aligned on the left side.

see https://w3c.github.io/webvtt/#webvtt-cue-text-alignment
align:{left,right} should be absolute positioning, where align:{start,end} should follow the script direction

actual beha

[2017-06-09 10:22] bbagland commented on #2929
correct behavior can be had by modifying WebvttCueParser.java:

private static Alignment parseTextAlignment(String s) {
    switch (s) {
      case "start":
	return Alignment.ALIGN_NORMAL;
      case "left":
        return Alignment.valueOf("ALIGN_LEFT");

instead of:
      case "left":
      case "start":
	return Alignment.ALIGN_NORMAL;

however ALIGN_LEFT/ALIGN_RIGHT is hidden by an annotation

[2017-06-09 10:29] b95505017 opened #2930 "How to extract multiple EXT-X-PROGRAM-DATE-TIME?"
For example this is my HLS vod:

[code]

Is there any callback or pulling API I could get the absolute time position?
In HLS.js, here is a callback: https://github.com/video-dev/hls.js/issues/800

[2017-06-09 10:42] AquilesCanta commented on #2930
Could you provide a bit more context to understand what the purpose is?

Note that the samples will be in the timebase of the PROGRAM-DATE-TIME tags. Which means that if you get the playback position, it will map with the program-date-time tags in the media playlist.

Also, from the last release onwards it is possible to get all tags from the manifest, but I don't think it will provide useful info

[2017-06-09 11:30] b95505017 commented on #2930
In my sample, there are three absolute timestamps.
It would be better if there is a callback when absolute time is discontinued, also I want to pull the current absolute timestamp at any time.

[2017-06-09 12:12] AquilesCanta commented on #2930
I think `getCurrentPostiion` gives you exactly this. Regarding getting a callback for a specific playback position, see #2090. Hope this answers your question.

[2017-06-09 12:12] #2930 closed, assigned to AquilesCanta

[2017-06-09 12:48] suresh-s opened #2931 "Getting Java.io.IOException: Error while finalizing ciphe"
we are using Exoplayer 2.2.0 in Android App.
Video is playing properly in normal scenario from start to end.  when we seek two times or more, we are getting following exception

D/BluetoothManagerService( 1569): Message: 401
E/ExoPlayerImplInternal( 4760): Source error.
E/ExoPlayerImplInternal( 4760): java.io.IOException: Error while finalizing cipher
E/ExoPlayerImplInternal( 4760): at javax.crypt

[2017-06-09 17:30] mikeswanson opened #2932 "jcenter AARs Incorrect for 2.4.0 and 2.4.1?"
Referencing ExoPlayer 2.4.0 and 2.4.1 via jcenter in my module's build.gradle works just fine. However, when I try to use/deploy jcenter's AAR files (to Unity, in this case), they appear to be incorrect. For example, [ExoPlayer 2.3.1](https://bintray.com/google/exoplayer/exoplayer/r2.3.1#files/com/google/android/exoplayer/exoplayer/r2.3.1) has a 1.08MB AAR while [ExoPlayer 2.4.0 and 2.4.1](https:/

[2017-06-09 17:42] andrewlewis commented on #2932
I think the reason is that from 2.4.0 all the actual code was moved into other libraries, which this AAR depends on. See also this [blog post](https://medium.com/google-exoplayer/exoplayers-new-modular-structure-a916c0874907). Is there an actual problem using them, or was the concern just that they were much smaller?

[2017-06-09 17:57] mikeswanson commented on #2932
The issue was using them, but I had incorrectly assumed that the top-level **exoplayer-r2.4.1.aar** was all that was needed when referencing the entire library. I now see that referencing everything requires all of the other libraries. Thanks!

[2017-06-09 17:57] #2932 closed, assigned to nobody

[2017-06-09 19:40] kevinskrei commented on #1156
@pellucide, I'm looking for something to maintain the buffer a bit behind the current position. Were you able to implement this?

[2017-06-09 20:51] b95505017 commented on #2930
[code]
I think it could only handle the first timestamp `#EXT-X-PROGRAM-DATE-TIME:2017-06-09T04:59:01.797Z`, other two timestamps will be ignored.

[2017-06-09 23:56] Orbyt commented on #26
This is quite a long thread. Can I get a summation of whether or not this functionality has been implemented, and what API levels are supported?

[2017-06-10 07:31] PaulWoitaschek commented on #26
It's supported on all api levels through `ExoPlayer.setPlaybackParameters`.

[2017-06-10 07:41] ghost commented on #2926
I have tested on the android box and playing the video via Wifi connection. When switching audio, it cause about 5 - 6 seconds. If I connect it via LAN connection, it cause about 2 - 3 seconds to switching audio.

If I seperate the original .mkv video file into 2 files: .mkv (video only) and .mka (audio only). Then the switching function happened is pretty fast. But it can not synchronized to the

[2017-06-11 05:38] stevens-p commented on #2872
Are there any thoughts on what could be causing this?  I am seeing similar behavior using the ExoMedia wrapper library which uses ExoPlayer 2.4.0. [Here is one stack trace from around the time it happened, but it usually doesn't have any errors.](https://gist.github.com/parkgrrr/47051b0da77e7f719cb6ab75333b1fcf)

[2017-06-11 11:39] rakesh1988 commented on #1472
is there an equivalent in exoplayer2?

[2017-06-11 15:17] Caij opened #2933 "About VideoListener"
When i use SimpleExoPlayerView， I found  player.setVideoListener(componentListener)， Then I can not set  VideoListener.  Can you design player.addVideoListener()?

Thanks

[2017-06-11 22:31] ojw28 commented on #2933
Please try using `setVideoDebugListener`. If that's not sufficient for your needs, please explain exactly what your use case is for needing this. Please also see https://github.com/google/ExoPlayer/issues/2800, which is similar to this one.

[2017-06-11 22:35] ojw28 commented on #2931
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-11 22:35] #2931 closed, assigned to nobody

[2017-06-12 02:23] Caij commented on #2933
OK

[2017-06-12 02:23] #2933 closed, assigned to nobody

[2017-06-12 07:19] HayDar-Android opened #2934 "Player Random playlist player"
Music player  playlist ,Order play use `ConcatenatingMediaSource` class ,
What is random play?

How to achieve？

[2017-06-12 07:22] andrewlewis commented on #2934
Can you just shuffle the array of MediaSources before passing it to ConcatenatingMediaSource's constructor? Or do you need something different?

[2017-06-12 07:25] HayDar-Android commented on #2934
@andrewlewis
Is random in the playing process.

[2017-06-12 07:25] andrewlewis commented on #1472
The equivalent would be implementing your own Renderer (subclassing BaseRenderer) and using `positionUs` passed to [`render`](https://github.com/google/ExoPlayer/blob/ce55d1a/library/core/src/main/java/com/google/android/exoplayer2/Renderer.java#L208).

[2017-06-12 07:26] HayDar-Android commented on #2934
@andrewlewis
After playing the next random one, rather than automatically the next one。

[2017-06-12 07:27] ojw28 commented on #1472
Providing a more convenient API for this is also tracked by https://github.com/google/ExoPlayer/issues/2189.

[2017-06-12 08:38] AquilesCanta commented on #2930
Yes, there was some discussion about this and it was eventually decided it should be done this way. It shouldn't affect your visibility of timestamps, however. `getCurrentPosition` is derived from sample timestamps, which are the ground truth of the stream.

[2017-06-12 08:44] AquilesCanta commented on #2872
@parkgrrr, the cause of the issue described here is clear, I think: The server is resetting the media sequence:

A patch is on the way to throw an error when this condition is met, so the application can detect this condition and reset the player.

[2017-06-12 08:46] AquilesCanta commented on #2872
If you don't think your issue is related to this, please file a new issue inlcuding all the information requested in the issue template.

[2017-06-12 08:51] ghost commented on #2926
I have tested on the previous version v1.5.16. Switching audio is very fast. But I don't know why on this version, switching audio so ***. Till now I really need a helping hand.

[2017-06-12 08:53] ojw28 commented on #2926
There is a trade-off between memory consumption and switching speed. In V1 we buffered all tracks in memory and so could switch to them quickly (although the implementation is technically not quite right). In V2 we buffer only the tracks that are enabled, which saves memory but results in slower switching.

This was done intentionally, although we are revisiting this decision currently. It could b

[2017-06-12 08:59] yqritc opened #2935 "Pixel reboot when playing "Clear -> Enc -> Clear -> Enc -> Enc" playlist in demo app"
### Issue description
When switching content in playlist from "Enc" to "Clear", player turns to green screen and pixel reboot without any logs.

### Reproduction steps
1. Launch ExoPlayer demo app
2. Select the following playlist in demo app
https://github.com/google/ExoPlayer/blob/r2.4.1/demo/src/main/assets/media.exolist.json#L433
3.  When changing content from enc(widevine) to clear(no-drm), Pi

[2017-06-12 09:05] ojw28 commented on #2935
Yes, this is a known issue unfortunately. My understanding is that it'll be fixed in O. The fix hasn't landed yet, so there's no point in you trying to flash O at this point in time. [Internal bug ref: 36511863]

[2017-06-12 09:08] The41d3 commented on #2923
I managed to reproduce this using the bear.mp3 from the library.  So far I had no luck compiling demo app (grade issues) on AS3.0 but I will try to make a reproduction there as well. The gap seems to be around 50-100ms.

Link with videos showing the issue:
https://www.dropbox.com/sh/y5tmgoci85wb9de/AAC8uRpTPK62y6AfL4MZFULSa?dl=0

I'm thinking that there might be different configuration for ExoPlay

[2017-06-12 09:31] ghost commented on #2926
Thank you for your answer.

In V1, switching audio function is pretty good (comparing with V2). But it does not have the FFMPEG Audio Decoder. LibVP9 is not work too. I have to modified some classes. Some functions on the V2 do not exist on the old onces. But in V2, both libs work like a charm. But switching audio is not really good as V1.

Memory of android devices were rised up day by day. So pl

[2017-06-12 09:34] ojw28 commented on #2926
Citation needed (particularly for low end Android devices) ;).

[2017-06-12 10:10] yqritc commented on #2935
thanks for the quick response.
It'll be nice if you can leave the comment here when fixing this issue in O.

[2017-06-12 10:51] ojw28 commented on #2935
Please follow #2587 if you're interested in receiving an update when the issue is fixed (they will be fixed at the same time).

[2017-06-12 10:55] yqritc commented on #2935
ok. I'll follow #2587, thanks!

[2017-06-12 11:51] arnoutvandervorst commented on #2700
It actually works for me now with Shield Preview 5.2. The update seems to have added something which tells ExoPlayer it can passthrough...yay!

[2017-06-12 15:07] steff-maya opened #2937 "getWidevine"
i need to  get de widevine  for make this  request licence ,my question is where it's de widevine  on the exoplayer #

https://widevine.entitlement.theplatform.com/wv/web/ModularDrm/getWidevineLicense?schema=1.0
	&form=xml
    &_releasePid=5Dv1CGzf1FWZ
    &_widevineChallenge=%01%D9dz9

[2017-06-12 15:37] pellucide commented on #1156
@kevinskrei Yes. It was a while ago that I implemented this. It is on the v1 of Exoplayer. Last time, I checkted it should be easy to port it to V2. Let me know if you need it, I will create a fork

[2017-06-12 15:54] ggabdol commented on #2795
Thank you very much for the effort on this. We're looking forward to seeing this issue fixed. Could you please tell me if there is an ETA for the fix?

[2017-06-12 15:59] ojw28 commented on #2795
We do not have an ETA for this. It's preferable to fix this on the client side as a defensive measure. However if you're aware of your manifest server generating invalid manifests, you should really fix the problem on the server side at which point this becomes a non-issue. We have multiple large third party providers using ExoPlayer, who simply don't encounter this issue because their servers do

[2017-06-12 17:23] imarenco opened #2938 "IMA Support"
Hi, I'm needing IMA extension support in stable reléase, could you please confirm me when will be available?.

thanks!.

Related:
#2617

[2017-06-12 18:27] ojw28 commented on #2938
We do not have an ETA at this moment, and still need to fix some behavior (e.g. how seeking interacts with ads in the timeline) before we can release to stable. Please follow #2617.

[2017-06-12 18:27] #2938 closed, assigned to nobody

[2017-06-12 19:48] rtamin opened #2939 "ExoPlayer sample app only renders a few frames and then video rendering freezes"
### Issue description

I have a video sample I am trying to play with the ExoPlayer sample app. The sample has video codec is H264 and audio codec is AC3.  I am fully aware that audio will not play because ExoPlayer does not support AC3 codec. I was able to play the audio after enabling the ffmpeg extensions in ExoPlayer. The problem I am having is with rendering the video.

Initially, the video r

[2017-06-12 21:19] cspencer404 opened #2940 "Dolby EAC3 audio won't play on HTC 10, HTC M9"
### Issue description
On HTC 10 and HTC M9, Dolby Digital EAC3 tracks are disabled. When checking audio capabilities, `audioCapabilities.getMaxInputChannelCount()` returns 1 and log messages indicate the media has 6 channels: `18:26.824 32201-32300/com.google.android.exoplayer2.demo D/MediaCodecInfo: NoSupport [channelCount.support, 6, MAX: 1] [OMX.dolby.eac3.decoder, audio/eac3] [htc_pmewl, HTC65

[2017-06-13 02:43] panhuiAipami opened #2942 "Full screen switch Carlton"
Full screen switching their implementation, each switch will Caton 2 seconds or so, different devices have this problem, I use SKYWORTH box android5.1.1and exoplayer2.4.1****
[log.txt](https://github.com/google/ExoPlayer/files/1070147/log.txt)

[2017-06-13 03:34] michalliu commented on #2159
Hi @goffioul  could you share you code regarding `FfmpegVideoRenderer` thanks. I'd like to implement the very same functionality.

[2017-06-13 03:51] panhuiAipami commented on #2942
-

- [ ]

[2017-06-13 08:27] ErezNe commented on #2925
OK, understood but where the "**frame release timestamp adjustment**" mechanism is configured?

"Note that we do some **frame release timestamp adjustments** inside of the player to do a pretty decent job of mapping 24fps (and other fps values) onto the default 60Hz display refresh. In practice these adjustments do a pretty good job of minimizing the issue."

[2017-06-13 09:04] ojw28 commented on #2925
In `VideoFrameReleaseTimeHelper`.

[2017-06-13 09:12] ojw28 commented on #2942
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-13 09:12] #2942 closed, assigned to nobody

[2017-06-13 09:52] SnakeMM commented on #2861
Yes, it plays correctly with Samsung S7 built in player @ojw28

[2017-06-13 10:26] b95505017 commented on #2930
@AquilesCanta I log `getCurrentPosition` and it always started from `0`, which is not based on `EXT-X-PROGRAM-DATE-TIME:2017-06-09T04:59:01.797Z`.

[2017-06-13 10:30] andrewlewis commented on #2856
[Possibly related to internal bug ref: 62512584]

[2017-06-13 10:33] AquilesCanta commented on #2930
Could you provide a stream that reproduces this? If you don't want to make it public you can send it to dev.exoplayer@gmail.com. Following the issue template makes this process much more agile.

[2017-06-13 10:43] b95505017 commented on #2930
@AquilesCanta The content of the m3u8 is in the first post. And the link is below:
https://vod.straas.net/companyId/100592/1496984341rl74rdlvsh/playlist.m3u8
Is that means `getCurrentPosition` should start from `1496984341797` which maps to `2017-06-09T04:59:01.797Z`?

Also I still don't understand how to get these three timestamps based on current `dev-v2` branch of Exoplayer:
[code]

[2017-06-13 10:44] hare989 opened #2944 "Subtitles not synced after video rewind."
After seek HLS video to previous time external WebVTT subtitles freezes at current time and stays displayed until video stream get to that time again and after that subtitles continue to show regularly. Subtitles work as expected after seeking forward. I'm using ExoPlayer 1.5.4.

[2017-06-13 10:50] AquilesCanta commented on #2944
It should be very easy for you to test your stream in the latest versions of v1 and v2, adding your sample to the demo app. Many improvements and bugfixes have landed for webvtt in HLS, particularly for v2. Please file a new issue without ignoring the issue template if you see this reproducing in newer versions.

[2017-06-13 10:50] #2944 closed, assigned to nobody

[2017-06-13 12:04] ojw28 commented on #2940
Proposed fix here: https://github.com/google/ExoPlayer/pull/2941

[2017-06-13 12:54] ojw28 commented on #2940
I think getMaxInputChannelCount actually returns 1 for all non-standard decoders, on all devices, prior to the O release of Android. This is due to [applyLevelLimits](https://android.googlesource.com/platform/frameworks/base/+/android-7.1.1_r12/media/java/android/media/MediaCodecInfo.java#1061) being implemented incorrectly. This is definitely the case on N. We'd have to check back through the sou

[2017-06-13 13:07] ojw28 commented on #2940
We should probably just work out what the correct max channel counts are for `OMX.dolby.ac3.decoder` and `OMX.dolby.ec3.decoder`, and override to those values prior to O for those decoders (regardless of what device they're on)?

[2017-06-13 13:19] yozh1que opened #2945 "SimpleExoPlayerView blinks with a black screen when videos are changed"
### Issue description
SimpleExoPlayerView blinks with a black screen when videos are changed. Standard VideoView does not. Is there a way to achieve the same behavior as with VideoView (by maybe telling the player not to erase view's content while preparing the next video)?

### Reproduction steps
Whenever the play method is called, the screen becomes black for a fraction of a second.

[code]

###

[2017-06-13 13:21] ojw28 commented on #2945
Dupe of https://github.com/google/ExoPlayer/issues/2843.

[2017-06-13 13:21] #2945 closed, assigned to nobody

[2017-06-13 14:30] gbhall commented on #1482
@fabiensanglard Haha here you go:

Screen recording:
https://www.dropbox.com/s/22ccalte1cznmaq/device-2016-04-28-165515.mp4?dl=0

Sample:
https://www.dropbox.com/s/7hjlprwj5xevuze/2016-04-28_162150.mp4?dl=0

[2017-06-13 14:31] ojw28 commented on #2937
The demo app includes Widevine protected samples, and can be used as a starting point to see what you need to do.

[2017-06-13 14:31] #2937 closed, assigned to nobody

[2017-06-13 14:38] #2699 closed, assigned to tonihei

[2017-06-13 15:57] cspencer404 commented on #2940
From the spec ATSC Standard: Digital Audio Compression (AC-3, E-AC-3), Doc. A/52:2015 24 November 2012

For AC3, section 5.4.2.3 indicates a max of 5 channels, but this does not include the LFE which is the `lfeon` flag defined in 5.4.2.7. So, 6 channels total.

For EAC3, section E.3.8.2: "The maximum number of channels rendered for a single program is 16". This seems to include the LFE channel.

[2017-06-13 16:10] ojw28 commented on #2940
If we set to the max according to the spec then that's probably the same as assuming support for unlimited channels, because it's likely impossible to make streams with more channels than the spec allows. We're more interested in what the actual decoder implementations support, which may well be less than the maximums according to the spec (e.g. I'm not convinced `OMX.dolby.ec3.decoder` can actual

[2017-06-13 16:25] cspencer404 commented on #2940
But where do you get those values from, and how are they verified? If you go digging into some proprietary source code, find the channel count and use that magic number, there's no way to know if that applies to a single version of the decoder/software, or if that value is later changed, or even if another EAC3 decoder uses the same value.

To me, the 2 solutions are:
1. the original behavior -- a

[2017-06-13 16:26] cspencer404 commented on #2940
https://github.com/google/ExoPlayer/pull/2941 is updated with the spec values.

[2017-06-13 16:27] ojw28 commented on #2940
Ask Dolby, probably. We will do some digging.

[2017-06-13 17:09] marcin-adamczewski opened #2946 "Crossfade implementation question"
Hello,

I want to implement a BPM matching Crossfade feature using Exoplayer. Basically I have a concept how it should work, but I'm not sure which Exoplayer classes to modify to achieve my goals.

Let me please first write how I want to do this so you can understand the case.
As you probably know BPM Crossfade let to seamlessly switch from one song to another. Additionally it adjusts second song

[2017-06-13 19:24] jonhan opened #2947 "Filter out unwanted text tracks returned from MappedTrackInfo"
Hi,
I'm wondering if there's a way to filter out tracks based on their mimeType so that they don't show up when I call `MappedTrackInfo.getTrackGroups(..)`.
To be more specific we have a DASH stream that provides both VTT and TTML subtitles for each language, but I only want get the ones for TTML so that it's more feasible to render available tracks in the UI.

Also, when it comes to selecting lan

[2017-06-13 21:10] stari4ek commented on #2469
I'd like to update the issue. It's still valid (even with recent sony update to android 7). Here are some reports:

---
[code]
![sony_01](https://user-images.githubusercontent.com/327778/27104554-5ef78e6a-5095-11e7-9bec-b1e2713d508f.png)
---
[code]
![image](https://user-images.githubusercontent.com/327778/27104667-aa49934a-5095-11e7-86cb-825d2665eff0.png)

[2017-06-13 22:22] qlthd opened #2948 "How can I get the number (or index) of a DASH segment ?"
Hi ! I figured out that a lot of informations for each segment can be obtained thanks to the  `AdaptiveMediaSourceEventListener` interface like its size, its arrival time, delivery time using variables like mediaEndTimeMs provided in methods `onLoadCompleted` . But now I would like to get the the number (or index ?) assigned to each segment, i'm pretty sure it can be extracted from somewhere in th

[2017-06-13 22:34] ojw28 commented on #2948
This is already tracked by https://github.com/google/ExoPlayer/issues/2909, you don't need to file a separate issue.

[2017-06-13 22:34] #2948 closed, assigned to nobody

[2017-06-13 22:39] qlthd commented on #2909
figured out that a lot of informations for each segment can be obtained thanks to the AdaptiveMediaSourceEventListener interface like its size, its arrival time, delivery time using variables like mediaEndTimeMs provided in methods onLoadCompleted . But now I would like to get the the number (or index ?) assigned to each segment, i'm pretty sure it can be extracted from somewhere in the code. Thes

[2017-06-13 22:44] ojw28 commented on #2909
As already explained above, we do not report segment number and do not plan on doing so.

`AdaptiveMediaSourceEventListener` is only intended for reporting information (e.g. for logging / debugging purposes). It's not intended that such a listener be implemented to actually modify the way in which the player behaves. So it's pretty unclear what you mean when you say the information could be useful

[2017-06-13 22:44] #2909 closed, assigned to nobody

[2017-06-14 03:44] panhuiAipami opened #2949 "Video's small window and full screen switch to the carton phenomenon"
### Issue description
Full screen and small screen switch, expect seamless connection, but each switch will have about two seconds

### Reproduction steps
On the playback page, SimpleExoPlayerView specifies a small window with a wide width, and then a full screen.There's a caton phenomenon in small screen to full screen or full screen
--------------------------------------------------------------

[2017-06-14 05:01] tuesda opened #2950 "Hls type video media OOM"
When reporting a bug:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### Issue description
OOM when play m3u8 type video media with HlsMediaSource which allocated 500+ M memory.

### Rep

[2017-06-14 07:06] darwinvtomy commented on #2832
@andrewlewis the problem is with my box himedia h8 lite in which I have no idea about the passthrough decoder used .There is nothing wrong with the exoplayer  i got this error AudioTrack init failed: 0, Config(48000, 252, 20480) when i tried to use the OMX.google.raw.decoder .I tried the same app with Amazon Fire and its working perfectly

[2017-06-14 07:48] #2950 closed, assigned to nobody

[2017-06-14 08:06] rustyshelf opened #2951 "UnrecognizedInputFormatException on mp3 that plays in other players"
### Issue description
The linked MP3 file causes the following exception when loaded in ExoPlayer:
[code]

It plays correctly through a lot of other players though.

### Reproduction steps
Play linked MP3 either downloaded or streamed, makes no difference.

### Link to test content
http://traffic.libsyn.com/wtfpod/WTF_-_EPISODE_819_ARIEL_LEVE.mp3?dest-id=14434

### Version of ExoPlayer being used

[2017-06-14 08:41] andrewlewis commented on #2951
The ID3 header indicates that the ID3 data ends at 317827 bytes but it actually ends at 325982 bytes. So I think this file is technically not valid.

You can get it to play by increasing `Mp3Extractor.MAX_SNIFF_BYTES`. The current value is set such that it searches up to the maximum size of one MPEG audio frame to resynchronize (4 KB). A larger search distance increases the time and space cost, wh

[2017-06-14 08:53] rustyshelf commented on #2951
@andrewlewis the file is a podcast called "WTF with Marc Maron". It's one of the more popular podcasts out there with hundreds of thousands of listeners. We have roughly 50,000 of them on our platform and they aren't very happy at not being able to play these.

I'm not sure what process he uses to encode his files though I could probably find out. I'm also not sure how many other podcasters are ha

[2017-06-14 09:13] AquilesCanta commented on #2947
If this is just to prevent the selector from selecting the VTT streams, I don't think this is the best way. I can think of two ways of easily achieving this:
- (Best way I can think of) Subclass DefaultTrackSelector and override selectTextTrack so that it prefers TTML over VTT.
- Pass a SubtitleDecoderFactory that does not report support for WebVTT. This would be the answer to what you ask about s

[2017-06-14 13:59] cskinfill commented on #1661
Does Exoplayer support fMP4 with HLS?  If so, which version of exoplayer is required?

[2017-06-14 14:04] hardikJoshi123 commented on #1845
I am also looking for such solution

[2017-06-14 14:09] AquilesCanta commented on #1661
r2.0.2 is the earliest one that includes it, but many features and bugfixes have been added in the later versions. I strongly suggest you update to the latest exoplayer version, if possible.

[2017-06-14 15:57] hardikJoshi123 commented on #2821
Hello @Khoosham  i want to create same layout as yours (in your screenshot), can you please share relivent code?

[2017-06-14 18:25] b95505017 commented on #2930
@AquilesCanta @ojw28 Any idea why `getCurrentPosition` of the sample I provided above always started from `0` instead of `1496984341797`?

[2017-06-14 18:56] ojw28 commented on #2951
Andrew increased the sniffing distance a little. The chosen value is arbitrary though, and obviously playback will still fail if the same problem occurs but where the ID3 header is out by a larger value (unless we're missing something, the "proper" fix is to fix the media).

[2017-06-14 18:56] #2951 closed, assigned to nobody

[2017-06-14 19:55] jonhan commented on #2947
Thanks for the answer! yes what I want to achieve is basically that TrackSelector never reports the VTT subtitles when I list available subtitles. I guess it could also be of interest to subclass DefaultTrackSelector to make sure that it selects the TTML subtitle if I select language using setParameters().

Regarding our choice of TTML subtitles, I have just gotten instructions from our transcodin

[2017-06-14 19:56] #2947 closed, assigned to nobody

[2017-06-14 20:57] evandipietro opened #2953 "TTML: Support referential styling"
### Issue description
**Observed**: MP4-Encapsulated TTML subtitles default to top position (with `positionAnchor` defaulting to Float.MIN_VALUE)
**Expected**: Subtitles appear at the bottom of the screen with a valid position

### Reproduction steps
Using a dash steam w/ MP4-Encapsulated TTML subtitles, enable subtitles. Subtitles appear at the top.

### Link to test content
Cannot provide (legal

[2017-06-14 21:09] ojw28 commented on #2953
Are you sure they're not TTML captions? I don't think we made any changes to WebVTT captioning between 2.4.0 and 2.4.1.

[2017-06-14 21:22] evandipietro commented on #2953
@ojw28 My mistake, it is TTML. Updating the issue.

[2017-06-14 21:27] ojw28 commented on #2953
We fixed TTML positioning in 2.4.1 (at least in theory). It's quite possible that your TTML caption files are actually specifying that the captions should be rendered at the top of the screen (or that the implicitly specify this by not specifying something else), and that what the previous behavior was incorrect.

There's nothing we can do to look at this without test content (or at least the TTML

[2017-06-14 23:28] goffioul commented on #2159
@michalliu This is the current code I have. It's quite raw, it's just an experiment at the moment. It was focused on getting MPEG2 decoder, but unfortunately I hit bug #2891, in particular bad pixellation due to the segmentation in H262Reader. And trying to fix it resulted in another bug I don't know how to solve. A few things to note:
- the target was live TV streams, that's why it has a deinterl

[2017-06-15 03:22] michalliu commented on #2159
@goffioul  Thanks for sharing the code and the instructions. I'm very interested in this idea. My work is busy too. We use exoplayer in our project currently. Hopefully I can persuade my boss to support my idea so i can put my time on it.

[2017-06-15 03:38] LittleSunZ opened #2954 "Players how to set up a proxy server?"
I want to set a socket or HTTP proxy,What do I do?
thanks!

[2017-06-15 04:15] Khoosham commented on #2821
@hardikJoshi123  what screenshot i cant see any ?

[2017-06-15 04:36] mdtuyen opened #2955 "Cannot play hls link with Exoplayer"
I'm woking with television application.

The first I will make an request to get m3u8 link from server. Second I use Exoplayer to play that link.

But content of that link is not content of chanel.

I use Fiddler to check request and see that Exoplayer send an GET request with the link I detect and server redirect to another link.

I check it with Vitamio and see that Vitamio don't send any Reques

[2017-06-15 06:14] hardikJoshi123 commented on #2821
@Khoosham  thanks for your reply. I am talking about screenshot attached bellow.

![surface](https://user-images.githubusercontent.com/2733493/27167718-e0ee7fa2-51bf-11e7-9532-e2b981811bc7.png)

 I am using default exoplayerview in my xml. is this surfaceview with exoplayer ? I want to achive same UI with fullscreen button. Thanks!

[2017-06-15 06:17] Khoosham commented on #2821
@hardikJoshi123

To customize the layout of PlaybackControlView throughout your app, or just for certain configurations, you can define exo_playback_control_view.xml layout file in your application res/layout directories. These layouts will override the one provided by the ExoPlayer library, and will be inflated for use by PlaybackControlView.

More information here: https://medium.com/google-exop

[2017-06-15 07:04] hardikJoshi123 commented on #2821
Yea I did that @Khoosham

 I am using viewPager. I want to display videos in my viewpager items. What I faced issue :

 All videos are playing at same time and I can hear all video sounds all together. I also added fullscreen button, now when I click on it, I want to show same video with same progress as entire screen (fullscreen).

 Thanks!

[2017-06-15 07:29] stari4ek commented on #2469
2 Users confirmed that this issue takes place only when `FLAG_DETECT_ACCESS_UNITS` is enabled.
Not sure if it's lack of cpu performance or device specific issue (nvidia shield has 5-10% of cpu utilization while playing samples with `FLAG_DETECT_ACCESS_UNITS` enabled)

[2017-06-15 07:35] wuketidai commented on #2873
when play flac on Oppo MTK device, it just white noise too.
And after specify OMX.google.raw.decoder, it play well.

[2017-06-15 08:06] andrewlewis commented on #2954
ExoPlayer will generally request whatever URI you provide, and my understanding is that the system will use a proxy server if one is configured in Settings for the relevant network connection. If you're running a local proxy server you'd just pass a URI referring to localhost. If that doesn't answer your question please clarify what you're trying to do.

[2017-06-15 10:03] andrewlewis commented on #2469
Detecting access units in H.264/AVC is relatively expensive because we have to unescape and parse slice headers to determine whether the NAL unit is the first VLC NAL unit of the picture.

Do you have the option of only using streams that include access unit delimiter NAL units and not using the flag?

[2017-06-15 10:12] botondbutuza commented on #2907
Update: when viewed in the Chrome app, the above stream works fine, it's just Exo that bugs out.

[2017-06-15 10:13] AquilesCanta commented on #2955
Could you please follow the issue template? If you could replace "that link" and "another link" with actual links, that would help me understand what the problem is.

The GET requests are necessary to fetch playlists and chunks. Bue maybe I am not understanding correctly.

[2017-06-15 10:26] ojw28 commented on #2954
This sounds outside the scope of this issue tracker.

[2017-06-15 10:26] #2954 closed, assigned to nobody

[2017-06-15 10:38] mdtuyen commented on #2955
Hi @AquilesCanta

In my case:

- The first get link to play: Send request A -> Get response is B (link to play)

Vitamio: setVideoUrl(B) => Play OK

Exoplayer: setVideoUrl(B) => WORK but content is not B link.

Check fiddler: Exoplayer send GET request with link is B and return link C (this is content that Exoplayer present- but I need play link B)

With Vitamio I don't see any request when play l

[2017-06-15 10:47] AquilesCanta commented on #2955
I am inclined to think that the server is redirecting ExoPlayer but not Vitamio, or the other way around. Try to emulate Vitamio's http request's header with ExoPlayer. It could be the user agent, or other header. Unfortunately I cannot help you anymore, as this is most likely not an ExoPlayer bug.

[2017-06-15 10:47] #2955 closed, assigned to nobody

[2017-06-15 11:17] AquilesCanta commented on #2930
Yes, sorry I misguided you. As documented in ExoPlayer `getCurrentPosition()`:
`Returns the playback position in the current window, in milliseconds.`
The start of the window is always 0, AFAIK.
To get what you need, you'll have to add to that value, the current window's `positionInFirstPeriodUs`.

I am going to mark this as an enhancement to populate other relevant information of the window in HL

[2017-06-15 11:22] AquilesCanta commented on #2930
Keep in mind the units in which each method returns the values. They are either included in the method's name or documented in the javadoc.

[2017-06-15 12:17] soutua commented on #2953
We also encountered this problem with the ExoPlayer 2.4.1/2.4.2. The subtitles we use do not define the alignment so the subtitles are displayed at the top of the screen. Would it be possible to add a way to change the default position from top to bottom, in case the position isn't defined in the subtitles?

[2017-06-15 12:18] goffioul opened #2956 "Switching audio/subtitle track in HTTP/MPEG-TS stream restarts playback at the beginning"
Using the demo app, I'm playing a MPEG-TS stream through HTTP. The stream contains multiple audio and subtitle tracks. Whenever I switch the audio/subtitle track in the demo app, the playback restarts at the beginning.

[2017-06-15 12:34] ojw28 commented on #2953
We need to see sample TTML files to investigate this properly.

[2017-06-15 12:39] orangeotc commented on #855
Digging back some old issue, is there any way to change the behavior from the exoplayer and request the MSS manifest only once at playback startup?

[2017-06-15 12:55] goffioul opened #2957 "Crash in DVB subtitle handler"
ExoPlayer version: 2.4.1
Sample stream: https://drive.google.com/open?id=0BwljeX6541LubXprdmEtTFdBT00
Steps to reproduce:
- start playback with plain HTTP
- enable a subtitle track

Backtrace:

	FATAL EXCEPTION: Thread-4
	Process: com.google.android.exoplayer2.demo, PID: 24109
	java.lang.ArrayIndexOutOfBoundsException: length=4; index=36
		at com.google.android.exoplayer2.text.dvb.DvbParser.paint8

[2017-06-15 13:17] zharf commented on #2953
I extracted a snippet from our ttml stream (and swapped out the texts just in case) and attached it here. My initial investigation suggests that ExoPlayer doesn't support [(chained?) referential styling](https://www.w3.org/TR/ttaf1-dfxp/#semantics-style-association-referential) as described by TTML

sidenote: I work with @soutua

[ttml.zip](https://github.com/google/ExoPlayer/files/1077720/ttml.zi

[2017-06-15 13:57] ojw28 commented on #2953
@zharf - Yes, that looks like the problem for your case. Thanks for the sample. We should fix that, after which you'll get proper positioning as is defined in your TTML file.
@evandipietro - There's no way we can verify whether your case is the same or different without a sample TTML file, so we'll use this issue to track supporting referential styling as in @zharf 's case unless we learn more.

T

[2017-06-15 14:09] ojw28 commented on #2956
This is because changing tracks currently triggers a seek, and MPEG-TS is not seekable. We are considering avoiding seeking on track selection, at the cost of using more memory, but right now this is working as intended.

[2017-06-15 14:13] ojw28 commented on #2949
I'm pretty sure this question is already discussed/tracked by https://github.com/google/ExoPlayer/issues/1845 and https://github.com/google/ExoPlayer/issues/677.

[2017-06-15 14:13] #2949 closed, assigned to nobody

[2017-06-15 14:14] ojw28 commented on #2946
This is quite far outside the scope of this issue tracker. We're unable to offer advice on this kind of large customization effort; we simply don't have enough time. Sorry.

[2017-06-15 14:14] #2946 closed, assigned to nobody

[2017-06-15 14:17] Gian84 opened #2958 "Question on the meaning of drm_license_url field"
Hi,
I have just a question / doubt about drm_license_url in media.exolist.json.
I thought it was the override of licenseUrl.

So, _byte[] executeKeyRequest(UUID uuid, KeyRequest request)_ method in class _HttpMediaDrmCallback.java_ in my opinion should be edited as snippet below:

_\-    String url = request.getDefaultUrl();
\-    if (TextUtils.isEmpty(url)) {
\-      url = defaultUrl;
\-    }
\+

[2017-06-15 14:20] ojw28 commented on #2958
The code is correct how it is currently. drm_license_url is the URL to use if there isn't one specified in the `KeyRequest`.

[2017-06-15 14:20] #2958 closed, assigned to nobody

[2017-06-15 14:22] ojw28 commented on #2940
We've merged a slightly more general fix for this issue. Please give it a try and verify. Thanks!

[2017-06-15 14:22] #2940 closed, assigned to nobody

[2017-06-15 14:38] cspencer404 commented on #2940
Verified its working. Thanks for fixing.

[2017-06-15 15:07] mirandole commented on #2352
Hi !

Did you find an alternate way to play flac on devices that get white noise when playing a flac track ?

Thank you

[2017-06-15 15:15] mirandole commented on #2352
Hi !

Did you find an alternate way to play flac on devices that get white noise when playing a flac track ?

I have a device that play flac track but it's just white noise and I don't know how to detect if the device will play nicely flac file or if it won't.

I know that there is Vanilla Player on GIT that play flac nicely. Unfortunately, it's an GPL licence project, not an Apache2 one.

-------

[2017-06-15 16:20] ojw28 commented on #2953
The best short term fix for this is probably to ignore regions that don't directly define origin and extent, which will cause the the captions to go back to being displayed at the bottom again. We currently set default origin and extent in this case, but that results in unexpected behavior when the origin and extent are actually defined in the chained styles that we're not currently resolving. Doe

[2017-06-15 16:25] goffioul commented on #2956
Many other player I know of can seek within MPEG-TS. I understand it's imperfect, but still better than nothing. Anyway, thanks for the clarification. I hope you guys will actually implement smoother track switching.

[2017-06-15 16:25] starlord0233 opened #2959 "HLS - Screen freezes and audio stops"
### Issue description
Screen freezes and audio stops before the first #EXT-X-DISCONTINUITY in hls live stream. Only happens once in each playback

### Reproduction steps
Just playing the live stream can reproduce the issue

### Version of ExoPlayer being used
2.4.1

### Device(s) of Android being used
Emulator(Nexus 5X API 24)
Samsung Galaxy Tab A
Amazon Fire TV

### Bug report captured from the d

[2017-06-15 17:34] starlord0233 commented on #2959
I feel like it's a buffer issue but I'm not sure why it only happens once

[2017-06-15 18:06] rtamin commented on #2939
I have some more information about why the video sample will not play on my device.

There is a check in MediaCodecVideoRenderer.java that drops the frame if the presentation time of the frame is lagging too much behind the current player's position.

The check is found here in MediaCodecVideoRenderer.java:
https://github.com/google/ExoPlayer/blob/9f814850535afbe5a0123f7fa8fc2875ba2c5015/library/c

[2017-06-15 20:00] stari4ek commented on #2469
I do not own or control media streams users can use. So probably the only solution is to provide control over workarounds as "extended" settings and select proper one by default.

Checked with xiaomi mibox - on test streams. FLAG_DETECT_ACCESS_UNITS adds ~10% of cpu utilization (~35-40% total) according to Android Studio's profiler. Not a big deal.

mibox has AMLogic S905X-H / Cortex A53 / 2GHz
SV

[2017-06-16 09:03] zharf commented on #2953
I'm not fully familiar with how this thing works as of right now but from what I understand it sounds like it could work for now. We can also test any suggested fixes.

[2017-06-16 10:56] bivenik opened #2961 "Play live smoothstream video without manifest refreshing"
### Issue description
Is it possible to play live smoothstream video without downloading manifest file every 5 seconds?

### Reproduction steps
Play any SS live video.

### Version of ExoPlayer being used
2.2.0

### Device(s) and version(s) of Android being used
Nexus player 7.1.2

[2017-06-16 10:58] ojw28 commented on #2961
This is already tracked by #855.

[2017-06-16 10:58] #2961 closed, assigned to nobody

[2017-06-16 14:38] b0g8 commented on #1706
@tonihei, is this on hold?

[2017-06-16 15:04] tonihei commented on #1706
No, still working on it. It is currently undergoing internal reviews.

[2017-06-16 15:46] rtamin commented on #2939
I did some further investigation. This link has a diagram that summarizes the interaction of ExoPlayer with the codec to decode frames:

https://developer.android.com/reference/android/media/MediaCodec.html

On the left (input side) ExoPlayer feeds frames to the codec. On the right (output side) ExoPlayer reads decoded frames from the codec.

I find that on the input side, ExoPlayer is being slow

[2017-06-16 20:06] uthonangi opened #2962 "Widevine rental license issue - videos on Android 4.x devices play past expiration time"
We are implementing offline playback of videos using Widevine. When setting the store license to be 'true' (downloadable), license type as 'rental' and the play duration to a specific value, on Android 4.x devices, Widevine allows playback of videos past the rental time. On Android 5.x, 6.x and 7.x devices, assets cannot be played once the time expires.

Steps to reproduce:
1. Acquire a license fr

[2017-06-19 02:52] michalliu commented on #2122
wow, this feature is really useful, you should highlight this feature at homepage.

[2017-06-19 03:29] kernja opened #2965 "Provide use case specific demo apps (in Kotlin)"
1) There's no comments besides auto-generated boilerplate comments,
2) It's overkill and overly complicated, and
3) Having a simple project that plays a local, bundled, hardcoded MP3 would be fantastic.

If you want people to be able to contribute and use your project, having it easily accessible would be a great start.

[2017-06-19 06:15] jiafei1986 opened #2966 "Issues when upgrading from v1 to v2 (available seek range, check network bandwith)"
I am upgrading exoplayer from v1 to v2, now have a couple of API are missing in the v2, is there a way to check the below in v2?
1: Get the Available Seek Range, there is a listener **InfoListener** (onAvailableRangeChanged(int sourceId, TimeRange availableRange)) can get it in v1
2: Checking the bandwith, there is FormatEvaluator we can use in v1
3: There is a  ManifestFetcher.EventListener that

[2017-06-19 07:24] TarifHatoum opened #2967 "HLS media sequence resets make the player get stuck in buffering state and the player not returning to the ready state"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-06-19 08:33] nguyenhoanglam opened #2968 "Get current track when track changed"
I've implemented an AdaptiveTrackSelection.Factory for auto resolution feature.

When the player changed a track (resolution changed due to bandwidth), I want to know which track (group index and track index) is currently playing? I've examine the callback method but can't find a solution.

[code]

[2017-06-19 08:40] AquilesCanta commented on #2967
Duplicate of #2872.

[2017-06-19 08:40] #2967 closed, assigned to nobody

[2017-06-19 09:11] AquilesCanta commented on #2939
I'll take a look into this as soon as I can. I haven't updated in some time, feel free to ping me.

[2017-06-19 09:18] ojw28 commented on #2965
Which specific parts would you like to see comments attached to? Just commenting everything doesn't always make things clearer in practice.

I think what you really mean is that it's over-complicated for your specific use case. There are other issues on this issue tracker asking for more features in the demo app, heh. It should be pretty easy for you to delete from the demo app until you get down

[2017-06-19 09:22] AquilesCanta commented on #2966
For 1. and 3. you can use `ExoPlayer#onTimelineChanged`. The first argument will be the [`Timeline`](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Timeline.html) from which you can obtain the window. The second argument will either be or include the manifest (depending whether you are using DASH/SS or HLS).

For 2. I am not sure what checking the bandwidth means. To

[2017-06-19 09:22] #2966 closed, assigned to nobody

[2017-06-19 10:06] jiafei1986 commented on #2966
@AquilesCanta Thank you for your response, about the bandwith,  there is a user requirement that check the network speed,  UI will show green, yellow or red light based on the network speed, is there a way to get the real-time bitrate in v2?

[2017-06-19 11:26] TarifHatoum commented on #2967
hi AquilesCanta is there any expected time for the patch  concerning this issue?

[2017-06-19 11:33] AquilesCanta commented on #2967
It is undergoing internal review. Should be soon.

[2017-06-19 11:47] ojw28 commented on #2962
Please can you add a link to where this is reported to Widevine? This isn't an ExoPlayer issue, and the Widevine team are best placed to confirm the issue. We'll likely close this one (up to @wvpaf). It's good to have the cross-reference though.

[2017-06-19 11:47] AquilesCanta commented on #2966
I guess you could call `getBitrateEstimate` from the BandwidthMeter you are using.

[2017-06-19 11:47] TarifHatoum commented on #2872
hi AquilesCanta is there any expected time for the patch concerning this issue?

[2017-06-19 13:02] michalliu commented on #867
If you already using mediaplayer switch to exoplayer is super easy by using my extension
https://github.com/michalliu/exoplayer2-mediaplayer-extension

[2017-06-19 13:04] forbesjo commented on #2962
This issue has been posted to the WV group https://groups.google.com/forum/?nomobile=true#!topic/cwip-discuss/PNe9sTPuFEk

[2017-06-19 13:11] jiafei1986 opened #2969 "UnrecognizedInputFormatException when play dash live stream in v2"
There is a live stream(dash with widevine),  it worked fine in exoplayer v1, but after upgrade to v2, it shows below error
[code]
Should I email you the MPD file?
Thanks.

[2017-06-19 13:46] ojw28 commented on #2969
You're trying to play a DASH stream using `ExtractorMediaSource`, where-as you should be using `DashMediaSource`.

[2017-06-19 13:47] ojw28 commented on #867
Removing irrelevant comment.

[2017-06-19 14:49] jiafei1986 commented on #2969
@ojw28 Thank you very very much, i just check the code, found the playback URL does not end with mpd, so the sample code will use ExtractorMediaSource,  now i force to use DashMediaSource, the problem fixed.  THANK YOU !!!!

[2017-06-19 14:59] #2969 closed, assigned to nobody

[2017-06-19 15:29] rtamin commented on #2939
Thanks AquilesCanta.

I think the issue is the codec is slow at decoding the video frames.

The codec being used is: OMX.Freescale.std.video_decoder.avc.v3.hw-based

If the codec is slow, then the input side feeding frames into the codec will also take a long time to retrieve an input buffer from the codec. So that is why I was observing that ExoPlayer was being slow to feed frames to the codec.

[2017-06-19 15:35] AquilesCanta commented on #2939
Have you by chance tried the platform player to see whether the observed behavior is similar?

[2017-06-19 15:50] rtamin commented on #2939
Hi AquilesCanta, by platform player you mean the Android MediaPlayer ?

I have tried Android MediaPlayer and MediaPlayer is able to play the video. Unfortunately, doing "abd logcat" while MediaPlayer is running, I cannot determine what driver MediaPlayer is using. All I see is MediaPlayer involves another player called OMXPlayer.

So maybe MediaPlayer is using a different codec than what ExoPlayer

[2017-06-19 15:51] steff-maya opened #2971 "Failed to handle key response: DRM vendor-defined error: -2998 (-2998)"
I obtained a license in a string from my server and i pass to the player in byte[]

Renderer error.

[com.google.android.exoplayer2.ExoPlaybackException
                                                                                               at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.shouldWaitForKeys(MediaCodecRenderer.java:737)

[2017-06-19 16:28] tresvecesseis commented on #2939
In the past with some underpowered devices we had the same problem, in collaboration with the chip vendor we solved the problem enabling vsync (and hw deinterlacing), not allowing the MediaCodecVideoRenderer processOutputBuffer sleep on early frames or drop late ones and passing the positionUs and bufferIndex info to the codec (the device was on API19 and the codec reconfiguration and info passing

[2017-06-19 16:29] #2971 closed, assigned to nobody

[2017-06-20 01:57] goffioul commented on #2565
As I needed this feature, I've come up with this simple implementation, in case you're interested.
[h262-cea608.zip](https://github.com/google/ExoPlayer/files/1086788/h262-cea608.zip)

[2017-06-20 02:25] michalliu commented on #677
Thanks for all the efforts to resolve this problem. It's a device specific problem. My HuaWei phone works just fine while others not.

[2017-06-20 05:12] ManojJangra commented on #2888
How to play IMA pre roll ads  and video content in  single Exoplayer. we are using this code

 BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);
        TrackSelector trackSelector = new DefaultTrackSelector(videoTrackSelectionFactory);
        player = ExoPlayerFactory.newSim

[2017-06-20 05:19] bnussey commented on #2643
Any updates on this @ojw28 ? Just deciding if we need to code this ourselves or if we should wait

[2017-06-20 07:34] nguyenhoanglam opened #2972 "Adaptive stream mode in demo app"
I've downloaded the exoplayer demo app. In the demo app, there're Default mode , multiple check list mode and Enable random adaptation mode. I do not know which mode is use for adaptive stream (auto change resolution base on bandwith)?

Please help me!

[2017-06-20 07:39] andrewlewis commented on #2888
Instantiate an `ImaAdsMediaSource` passing in your existing `contentMediaSource`, as described in the [README](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ima).

[2017-06-20 07:49] kneep opened #2973 "Can we support seek options like SEEK_PREVIOUS_SYNC"
I think the seekTo method in ExoPlayer seeks to the exact position. But in most cases, users prefer better performance over precision. Can we support something like SEEK_PREVIOUS_SYNC as the platform API does? Thank you.

[2017-06-20 08:03] tonihei commented on #2972
The "Default" mode automatically adapts to streams based on the current bandwidth estimate. When you look at the debug line just above the video, you can see the current resolution (for example, r:640x320). Depending on your network this may change while playing the video.

[2017-06-20 08:03] #2972 closed, assigned to nobody

[2017-06-20 08:13] nguyenhoanglam commented on #2972
@tonihei Thanks a lot!
I've another two question!

- In my HSL stream, there're 4 tracks: 240p, 360p,720p and a source track. I only want to make an adaptive stream among 240p, 360p and 720p tracks(except source track). How can I do this?

- When the player change track automatically, how can I know which track (track index) is currently playing?

It would be great if you can help me. Thanks in ad

[2017-06-20 08:26] ojw28 commented on #2973
Dupe of https://github.com/google/ExoPlayer/issues/2882.

[2017-06-20 08:26] #2973 closed, assigned to nobody

[2017-06-20 08:44] AquilesCanta commented on #2972
Could you clarify what source track is?

`SimpleExoPlayer's` `getVideoFormat` and `getAudioFormat` will provide quite a bit of information about the video and audio currently playing.

[2017-06-20 09:30] ojw28 commented on #2565
Is it possible for you to send your change as a proper pull request to `dev-v2`, for consideration? We're not able to accept changes provided in other ways (because we need to maintain a proper history of where the change originated from, that the author signed the CLA, etc). Thanks.

[2017-06-20 09:31] ojw28 commented on #2893
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-20 09:31] #2893 closed, assigned to nobody

[2017-06-20 10:18] qlthd opened #2974 "Problem of gradle adding ExoPlayer as a module"
Hi ! I'd like to modify ExoPlayer's code and for this i have to add it as a module.
I added a folder `'libraries'` and put the ExoPlayer folder inside.

![lib](https://user-images.githubusercontent.com/26259902/27328419-08f51180-55aa-11e7-927f-5f94ffdfdf82.png)

Then i added `include ':libraries:ExoPlayer'` in the project `settings.gradle`. Finally in the Project Structure settings i added :librar

[2017-06-20 10:51] oikmar commented on #1706
@tonihei any approximate ETA on this. not a specific date, but in terms of time frame: day(s), week(s), month(s)?

[2017-06-20 11:25] tonihei commented on #1706
@oikmar Days, most likely.

[2017-06-20 11:43] ManojJangra commented on #2938
Please guide way of using  IMA extension in the ExoPlayer in our app.

[2017-06-20 12:10] goffioul commented on #2968
I faced a similar problem and used this as a template:
https://github.com/google/ExoPlayer/blob/release-v2/demo/src/main/java/com/google/android/exoplayer2/demo/EventLogger.java#L138

It's not obvious at first, because AFAIK you can't determine the selected tracks from the arguments of onTracksChanged alone. You have to cross-reference them with information from the track selector.

[2017-06-20 12:22] goffioul commented on #2882
@AtifMohammed Not sure this will help you, but I also needed some callback after seek completion. What I come up with was to drop a flag in my app when starting the seek operation, then listen to state change in onPlayerStateChanged. If my flag was set and the player state was STATE_READY, then I fired my callback. That seemed to work for my use case.

[2017-06-20 12:41] ojw28 commented on #2938
It's not done yet, which is why #2617 is still open. Updates will appear there when available.

[2017-06-20 12:45] ojw28 commented on #2968
Also asked in #2972.

[2017-06-20 12:45] #2968 closed, assigned to nobody

[2017-06-20 14:19] oikmar opened #2975 "ExoPlayer Flac Extension build instructions produce "use of undeclared identifier 'memset'" error"
### Issue description
To enable playback of FLAC media, we are trying to include the flac libraries following instructions in the flac-extension. following the [build instructions](https://github.com/google/ExoPlayer/blob/release-v2/extensions/flac/README.md), the ndk-build fails with the following error:

"error: use of undeclared identifier 'memset' memset(&mWriteHeader, 0, sizeof(mWriteHeader))

[2017-06-20 16:13] goffioul opened #2976 "HLS with mutliple audio/subtitle tracks in TS stream"
Consider those samples that contain multiple audio and/or subtitle tracks:
https://drive.google.com/open?id=0BwljeX6541LubXprdmEtTFdBT00
https://drive.google.com/open?id=0BwljeX6541LualNuV0VTSXFWSlk

I convert them to HLS using ffmpeg and codec "passthrough":

    ffmpeg -i SOURCE.ts -codec copy -map 0 -f segment -segment_list playlist.m3u8 out-%04d.ts

When playing the samples in the demo app, I

[2017-06-20 16:29] AquilesCanta commented on #2976
Not in HLS, no. Track #2014 for multiple muxed tracks support in HLS. My suggestion is that you demux the audio streams and expose them as EXT-X-MEDIA elements. Keep in mind that these should be [packed audio segments](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-3.4). Unfortunately, I haven't done this before, but I don't think it would be too complicated with ffmpeg an

[2017-06-20 16:29] #2976 closed, assigned to nobody

[2017-06-20 16:30] AquilesCanta commented on #2976
Note that demuxing the alternative audios is also the smart thing to do, as it will save some wasted bandwidth.

[2017-06-20 16:31] goffioul commented on #2976
I think you missed the part that this is typically what a TV headend does to wrap live TV broadcasts into HLS. You don't have control over that.

[2017-06-20 16:49] goffioul commented on #2976
This is particularly a pain when your live TV broadcast contains multiple subtitle tracks, let's say DVB-S. The only 2 options you have on the headend are:
1) burn the subtitles in the video: this means that delivery content through a single media source, you know have to deliver the same content multiple times with different subtitle tracks burnt in the video; then you have to make your player ap

[2017-06-20 16:55] RRethy commented on #2776
Bump

[2017-06-20 16:58] goffioul commented on #2976
There are probably side-effects I'm not seeing yet, but this simple oneliner allows me to see all tracks in HLS mode:

    diff --git a/library/core/src/main/java/com/google/android/exoplayer2/extractor/ts/TsExtractor.java b/library/core/src/main/java/com/google/android/exoplayer2/extractor/ts/TsExtractor.java
    index 71b8375..6f6d63d 100644
    --- a/library/core/src/main/java/com/google/androi

[2017-06-20 17:01] AquilesCanta commented on #2976
DVB subtitles are not supported by the HLS spec. ExoPlayer does support multiple 608 streams.

The change you propose above is similar to my suggestion of using a different mode. However, this is not supported and there might be future changes that break this patch.

[2017-06-20 17:27] goffioul commented on #2891
I've noticed something unexpected regarding pixellation. If I change the container to mkv, keeping all elementary streams unchanged, then pixellation does not occur. I've changed container with:

    ffmpeg -i SOURCE.ts -codec copy -map 0 SOURCE.mkv

I've extracted the elementary video stream from both TS and MKV files and they're identical at the byte level. So I guess somehow data is segmented d

[2017-06-20 17:43] zegnus commented on #2776
@wvpaf can you please feed back if there has been any update in this issue? Thank you

[2017-06-20 19:56] goffioul commented on #2976
Unfortunately, that's what coming out of my customer's equipment. What would you suggest as a solution then?

[2017-06-20 22:38] wvpaf commented on #2776
Hi,
Digging through the provided logs looks like ;
Samsung Galaxy S6 SM-G920F & Samsung Galaxy S6 edge SM-G925F - are indeed failing HDCP. the policy on the asset is HDCP v2 and the device supports HDCPv1 : see in the log,

<6>[782705.805478]  [2:mc_log: 3066] MobiCore mcd: d01|[Error]:tlwvdrm:: Fail to decrypt for insufficient HDCP version
<6>[782705.805502]  [2:         mc_log: 3066] MobiCore mc

[2017-06-20 22:44] wvpaf commented on #2962
adding @pgrov

[2017-06-21 01:48] nguyenhoanglam commented on #2972
@AquilesCanta Here's my m3u8 file description:

[code]

As you can see, source track is a track with highest resolution (original track). How can I exclude source track from adaptive tracks?

[2017-06-21 05:14] muafakul commented on #2731
i am still PROBLEM ,, the problem is how to do that ?

[2017-06-21 07:03] oikmar commented on #2975
i have built other extensions ([opus](https://github.com/google/ExoPlayer/tree/release-v2/extensions/opus), for instance) successfully. so, i think the tool-chain is working.

[2017-06-21 07:06] mohammed-atif commented on #2882
@goffioul Thanks for the response, I figured it out few days ago but couldn't update here. While seeking the state goes to Buffer and after seek it shifts to ready.

@ojw28 forward seek works good after adding the callbacks. But when I seek backwards, player's current time is not updated.

[code]

if seekToMillis is currentTime + duration then everything works good, but when seeking back, in STATE

[2017-06-21 07:09] ManojJangra commented on #2617
Hello @andrewlewis
How to use  IMA extensions in my application.

[2017-06-21 08:24] oikmar commented on #2975
was able to build flac-1.3.1 with the above fix.

[2017-06-21 08:25] andrewlewis commented on #2617
The [README](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ima) has information on using the extension. Note: this is a preview, and we are still making improvements and fixes.

[2017-06-21 08:51] AquilesCanta commented on #2976
I think DVB subs will work anyway. I haven't tested this, though. Of course, the single stream per type limitation will apply unless you override it yourself, as discussed above.

[2017-06-21 09:42] AquilesCanta commented on #2972
I see. This is not a term I had heard before.

You could take advantage of the default track selector. Configure the DefaultTrackSelector you are using to use the max video size or bitrate you'd like. Like so:

[code]

I guess in your case the bitrate alternative is better. If none of the previous work, you could also subclass DefaultTrackSelector and write your own selectVideoTrack, overriding th

[2017-06-21 09:56] Teviz opened #2978 "Lenovo A820t stuck on buffer state"
### Issue description
When using Lenovo A820t play some video, the first frame is rendered and then stuck on buffer.

### Reproduction steps
Use the v2.4.0 demo and play any video.

### Link to test content
The source in demo is ok.

### Version of ExoPlayer being used
2.4.0.

### Device(s) and version(s) of Android being used
Lenovo A820t

[2017-06-21 10:02] AquilesCanta commented on #2978
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-21 10:02] #2978 closed, assigned to nobody

[2017-06-21 10:25] jpardogo commented on #2795
👍

[2017-06-21 12:05] magillus commented on #2810
@bluemix
What I did to solve your case, I created 'MyConcatenatingMediaSource' extending 'ConcatenatingMediaSource' that overrides the 'releasePeriod' and 'createPeriod' methods. I noticed they are called on each transition.

[2017-06-21 12:56] uthonangi commented on #2622
@jefftinker I am sorry but this is stunning. We can reproduce this issue as well and we are in a pretty bad spot. Rentals are essentially broken on WV and it is not even documented anywhere as a known issue on the WV side. Can you please give us an update when you get a minute on the status of the WV bug? I know this forum is not for WV bugs but such a fundamental piece of functionality being brok

[2017-06-21 13:00] goffioul opened #2979 "How to pass FLAG_ALLOW_NON_IDR_KEYFRAMES in HLS"
When using ExtractorMediaSource, I can pass a customized DefaultExtractsFactory and set FLAG_ALLOW_NON_IDR_KEYFRAMES on it. When but using HlsMediaSource, I don't see a way to achieve the same.

[2017-06-21 13:11] AquilesCanta commented on #2979
This is a duplicate of #2833.

[2017-06-21 13:11] #2979 closed, assigned to nobody

[2017-06-21 14:12] goffioul commented on #341
The solution above is HLS-only. What about other formats, like plain MPEG-TS? Is it worth opening an issue for this?

As far as I understand, the app must know in advance whether the stream will contain closed-captions. If you use default behavior, you'll end up with a closed-captions track exposed, even if the stream does not have any closed-captions. Say you don't set FLAG_OVERRIDE_CAPTION_DESCR

[2017-06-21 14:30] ojw28 commented on #2972
As an additional point: The best way to exclude the source track is to not include it in the master playlist to start with. You shouldn't push this kind of functionality to the client, since in doing so you're relying on *all* client players supporting this functionality, where-as you could just solve the problem in a single place on the serving side by not including it to start with.

[2017-06-21 14:33] Teviz commented on #2978
So which information is omitted?

[2017-06-21 14:34] ojw28 commented on #2882
You shouldn't rely on the player reporting exactly your seek position back through getCurrentTime. The reported position may be adjusted slightly. If you want to seek in tiny increments like this, you should find a way to keep track of the last position that you performed a seek in your own code, and subtract 45 from that value each time. With that approach each position you pass to seekTo really

[2017-06-21 14:40] ojw28 commented on #2978
You've completely omitted the last section of the template, for example (it's probably not hard for you to read through it and see what's missing, rather than us having to do it for you ;)). Thanks.

[2017-06-21 14:44] ojw28 commented on #2965
Rephrased the title of this issue to track what I think we really need to do here.

[2017-06-21 14:49] ojw28 commented on #2810
That's really not a good solution to this problem. You should use `ExoPlayer.EventListener.onPositionDiscontinuity` to figure out when transitions occur . `onPositionDiscontinuity` is invoked for some other cases too, but you can call `ExoPlayer.getCurrentWindowIndex` and compare it to what window you think you're in to determine whether a transition has occurred.

[2017-06-21 15:14] voltan commented on #1845
Any method available on player for show full screen icon on player controller ?

[2017-06-21 15:35] goffioul opened #2980 "DefaultTrackSelector: Make it easy to enable text tracks with null language"
As far as I can see, DefaultTrackSelector allows to automatically select a text track based on the preferred language. But I don't think it's possible to have the same auto-selection mechanism for closed-captions track, as they don't have any associated language. Would that be a valid enhancement request?

My use case is when the user is switching between 2 TV channels, if closed-captions were ena

[2017-06-21 15:48] abhishekredspace opened #2981 "Switch rendition if the rendition which Exoplayer has chosen is not available"
I am using Exoplayer 2 in my video player for playback.
When playing HSL streams is it possible to switch rendition if one of the renditions mentioned in m3u8 file is not available.
We receive a master m3u8 file from the server. This has all the available renditions. Sometimes it can happen that one of the renditions is not available and can respond with status code of 500, 501, 502, 503, 400 or 4

[2017-06-21 16:12] AquilesCanta commented on #2981
This is already done by ExoPlayer. However some discussion is in order here. The spec says:

   `provide a clear indication to clients that the Playlist file is no`
  `longer available (e.g. with an HTTP 404 or 410 response).`

5xx HTTP error codes are reserved for server errors, whereas 404 and 410 explicitly speak about resource changes. If you can use 410 to indicate unavailability, that will m

[2017-06-21 16:13] ojw28 commented on #2980
If this is for playing TS streams (not encapsulated within HLS), then it looks like we do set the language from the descriptor tag [here](https://github.com/google/ExoPlayer/blob/51de6e53ebf7188bd6e469165986283f6ef75b3d/library/core/src/main/java/com/google/android/exoplayer2/extractor/ts/DefaultTsPayloadReaderFactory.java#L151).

- Are you using a recent enough version of ExoPlayer to be getting

[2017-06-21 16:17] goffioul commented on #2980
I'm using 2.4.1. I'm not setting FLAG_OVERRIDE_CAPTION_DESCRIPTORS, but the broadcasts (live TV) I'm dealing with do not have the closed-captions descriptor.

[2017-06-21 16:32] ojw28 commented on #2980
Got it, thanks. How does the subtitle get enabled in your code today? I suspect your only option currently is to enable it using `setSelectionOverride`. I'd also expect that override to continue applying when moving from one TV channel to another, because the tracks available to the text renderer probably look identical for all channels?

[2017-06-21 16:42] goffioul commented on #2980
Indeed, I just found out that if I do not clear the override when switching channel, the override is still active on the new channel. Although that doesn't sound right, because the track layout could be different (especially in my test environment, where I have US and non-US channels).

However it appears I could probably emulate what I want by overriding DefaultTrackSelector.selectTextTrack. It w

[2017-06-21 16:47] goffioul commented on #2980
Actually, language normalization may interfere, so it's likely the above would not work.

[2017-06-21 16:50] ojw28 commented on #2980
An override for a renderer is applied if the tracks available to that renderer match those for which the override set. In your case the text renderer probably sees a single closed caption track, with a format that's pretty much empty, and importantly, identical for all TV channels.

If you feel somewhat uneasy relying on this, then yes, I would too. If one of the channels happens to include a desc

[2017-06-21 16:53] bluemix commented on #2810
i see that @magillus's solution is more practical than having to handle state variables for `ExoPlayer.EventListener.onPositionDiscontinuity` and `ExoPlayer.getCurrentWindowIndex`

[2017-06-21 16:56] goffioul commented on #2980
Thanks, for the time being, I'll probably go with extending DefaultTrackSelector.

For the long term, I'll leave that up to you, but the first thing that came to my mind was to allow also defining the preferred text track by mimetype (or a set of mimetypes) instead of language.

[2017-06-21 17:16] ojw28 commented on #2810
Sorry, but it's just not a correct thing to do. `ExoPlayer.EventListener.onPositionDiscontinuity` and `ExoPlayer.getCurrentWindowIndex` are APIs intended for this purpose.

Conversely, `createPeriod` and `releasePeriod` are internal methods that are not intended for this purpose at all. They're intended for internal use by the player when it needs to instantiate and release `MediaPeriod` objects.

[2017-06-21 18:06] abhishekredspace commented on #2981
Thanks for your answer and information.

[2017-06-21 19:09] goffioul opened #2982 "Should there be MappingTrackSelector.clearRendererDisabled() ?"
In the same way you can clear all overrides in MappingTrackSelector, should there also be a way to clear any disabled flag that were previously set on some renderers?

[2017-06-21 21:49] ojw28 commented on #2982
No? It seems unlikely an app will disable multiple renderers and need to un-disable them all simultaneously (and you've provided no actual use case to suggest otherwise). It also seems trivial just to iterate over the number of renderers if you want to do this.

[2017-06-21 21:49] #2982 closed, assigned to nobody

[2017-06-22 02:24] goffioul commented on #2982
It's a way to reset the track selector before loading a different stream. It's also trivial to iterate over the renderers to clear the overrides, but there's an API to clear all overrides at once. For symmetry, I thought it made sense to have the same for the enable/disable flag.

[2017-06-22 06:44] thuongnvan opened #2983 "RTP stream ts file IllegalStateException"
Dear All,

I try to apply stream ts file(hvec video format) use RTP protocol to ExoPlayer, i have problem with h265reader parser nalunit. following is log file:
[log.txt](https://github.com/google/ExoPlayer/files/1093842/log.txt)
can anybody help me how to solve this problem? I always appreciate for your helping

Thanks,

[2017-06-22 06:53] Fed93 opened #2984 "[Question] Reuse Flac Decoder for extra processing"
Hi,
I'm trying to apply extra processing to a flac file using the FlacDecoderJni provided with ExoPlayer Extension

I've created a DataSpec, DataSource and finally a DefaultExtractorInput instances.
I've also created an instance of decoderjni and set data using my DefaultExtractorInput instance.
It seems to work fine i also can get FlacStreamInfo, but when I check data in the output byte buffer, a

[2017-06-22 07:26] ojw28 commented on #2982
If your use case is as you describe, you can simply use `setSelectionOverride` for everything, and do a full reset with `clearSelectionOverrides`. You can disable a renderer for a given set of tracks using `setSelectionOverride(index, tracks, null)`.

The reason renderers can be disabled with both `setSelectionOverride(index, tracks, null)` and `setRendererDisabled(index, true)` is that the first

[2017-06-22 09:15] AquilesCanta commented on #2983
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-22 09:15] #2983 closed, assigned to nobody

[2017-06-22 10:02] thasso opened #2985 "Tunneling support on API >= 23 does not start renderer"
### Issue description
Tunneled playback does not start on (at least some) API >= 23 Devices and the player stays in buffering state.

It looks to me like the `MediaCodec.OnFrameRenderedListener` that is used on API >=23 to trigger `maybeNotifyRenderedFirstFrame()` is not triggered if the `AudioTrack` is not started. That in turn causes video render to report that it is not ready since `isReady()`

[2017-06-22 10:09] thasso commented on #2985
Quick addition, an alternative patch might be to include `tunnling` in the `isReady()` conditions:

[code]

[2017-06-22 10:21] jonhan commented on #2953
I have the same issue so +1

[2017-06-22 11:14] goffioul commented on #2982
Yes, of course. I missed the fact that you can also disable a renderer with setSelectionOverride. Thanks.

[2017-06-22 13:52] abhishekredspace commented on #2981
I agree that for 5xxx HTTP error codes Exoplayer should not retry but in case there are 5 renditions available and out of these 5 renditions, 3 comes from the same server and 2 comes from some other server. Consider the 3 coming from the same server, that server encountered a problem and now if exoplayer picks any one of them we will receive 5xxx error code and no point in retrying. However the re

[2017-06-22 13:56] AquilesCanta commented on #2981
Sounds like a good argument. I'll give it a thought and post any updates here.

[2017-06-22 14:09] adithyankumar opened #2987 "Preparing ConcatenatingMediaSource fails when a child media source fails"
In Exo player while we ConcatenatingMediaSource , when one url in playlist is not found in server , it is not playing other video also. For the whole playlist it throws not file found(404).

[2017-06-22 14:35] abhishekredspace commented on #2981
Thanks for giving it a thought. Just to add here AvPlayer in iOS already does this, so this functionality becomes important for us as we are trying to keep the behaviour of both platforms i.e. Android and iOS to be in sync.

[2017-06-22 14:50] ojw28 commented on #2984
Can you just look at where that constructor is called by the ExoPlayer library, and trace back to where the data is coming from (right click -> Find Usages in Android Studio makes this really easy)? You should be able to answer your own question this way.

[2017-06-22 15:02] tonihei commented on #2987
The ConcatenatingMediaSource waits till all child media sources are successfully prepared before starting playback. If one of them fails for whatever reason, the whole playlist fails.

When you say the playlist "throws" a 404, I assume you mean that either [ExtractorMediaSource.Listener.onLoadError](https://github.com/google/ExoPlayer/blob/d979469659861f7fe1d39d153b90bdff1ab479cc/library/core/src/

[2017-06-22 15:05] #2987 closed, assigned to nobody

[2017-06-22 15:13] magillus commented on #2810
Olly, you are right that call happens on end of file playback, which works for my case.

The `exoPlayer.getCurrentWindowIndex()` call on that `onPositionDiscontinuity` returns the next INDEX value in `ConcatenatingMediaSource`, however that needs to be tracked as separate state in cases when this callback is called with seek also happens.
@bluemix However the `createPeriod/releasePeriod` also are

[2017-06-22 15:22] Fed93 commented on #2984
Already done.
It's used in LibflacAudioRenderer in createDecoder method (com.google.android.exoplayer2.ext.flac.LibflacAudioRenderer#createDecoder)
But when i try to find usage of this method i see the popup with no usage found.

[2017-06-22 15:31] ojw28 commented on #2984
You should receive a "Do you want to find usages of the base method" dialog when you try and find usage of that method. If you click Yes then you should find a usage (in SimpleDecoderAudioRenderer's maybeInitDecoder method).

[2017-06-22 15:45] ojw28 commented on #2810
I'm still struggling to see why this isn't an easy thing to do. The typical use case I'm imagining is that there's a `ConcatenatingMediaSource` and the goal is to update some UI when transitioning from one source to the next. If the UI is showing state for the current source then your app is already tracking lots of state about the current source, one way or another. It's hard to imagine that trac

[2017-06-22 19:29] ojw28 commented on #2953
Please could you verify that the above change resolves the issue, up until the point at which we can properly support resolving of chained styles. You can either try on the `dev-v2` branch, or cherry-pick the change into `release-v2` if you want everything else to stay the same. We may cut a small release picking up a few bug fixes, including this one, if verification is received. Thanks!

[2017-06-22 22:56] goffioul commented on #2982
Not sure it's a bug or intended behavior, but I'm having trouble using only setSelectionOverride to disable a renderer (using null for the override). My use case is that I have a custom track selector that inherits from DefaultTrackSelector and overrides selectTextTrack. The implementation of selectTextTrack selects one subtitle track based on app-specific criteria (for instance, English subtitles

[2017-06-22 23:25] goffioul commented on #2982
Is it possible a null overrides stopped being effective with this change?
https://github.com/google/ExoPlayer/commit/2f4bfc3f5fd49e3a356180869a81751dd301a0c5#diff-d131621e999e7a12c3e3e3844b05521cL250

Before the change, it sounds like rendererTrackSelections[i] could get assigned null if the override was null. After the change, a null override is not applied anymore.

[2017-06-23 08:29] ojw28 opened #2988 "setSelectionOverride(index, tracks, null) doesn't behave as advertised"
As per title. This currently has the same same effect as clearing an override, but should disable the renderer for the specified tracks. Reported in https://github.com/google/ExoPlayer/issues/2982.

[2017-06-23 08:30] ojw28 commented on #2982
Yeah, looks broken. Thanks for reporting! I've filed https://github.com/google/ExoPlayer/issues/2988 to track a fix (and test).

[2017-06-23 10:04] zhanghuicuc commented on #2985
got the same problem on some android tv devices using MStar6A938 chip

[2017-06-23 10:13] qlthd opened #2989 "How to import ExoPlayer library as a module into my project ?"
Hi,
I'd like to modify existing files in ExoPlayer, but how can I import it so that i could modify it ?

[2017-06-23 10:43] ojw28 commented on #2989
Dupe of https://github.com/google/ExoPlayer/issues/2974.

[2017-06-23 10:43] #2989 closed, assigned to nobody

[2017-06-23 10:52] qlthd commented on #2989
Why closing an issue that doesn't have any answer for the moment ?

[2017-06-23 11:14] kedrovski commented on #2834
One interesting moment, video start time increased since r.2.1.0 (black screen in start about 0.5sec). I noticed that this can be avoided by use `SurfaceView` instead `SimpleExoPlayerView` in layout. And in code using `player.setVideoSurfaceView(surfaceView);` instead `simpleExoPlayerView.setPlayer(player)`. Checked in r2.4.2.

[2017-06-23 11:38] ojw28 commented on #2989
Because you already have an open issue that's exactly the same, which is https://github.com/google/ExoPlayer/issues/2974.

[2017-06-23 12:25] Fed93 commented on #2984
I've found various method but are all private.
Also initializationData (variable of Format class used as argument in createDecoder method) used by FlacDecoder is created from SampleStreams in other private method when ExoPlayer load track before playing it.
After this, i tried again to decode flac file using ExtractorInput, FlacStreamInfo is being read good but ByteBuffer is full of zero after cal

[2017-06-23 12:55] b0g8 opened #2990 "Background music during video playback"
### Issue description
I want to implement background music during video playback. I thought of MergingMediaSource, but it seems it does not support this scenario.
You can have multiple AudioTrack run in parallel, the result is fine.

Similar issue is #2200 , but it is closed.

[2017-06-23 14:27] krok55 opened #2992 "HLS Stream freezes after a few seconds"
Hello,

**Description:**
Picture freezes after several seconds. The sound continues in the background.
I believe that this issue has a different root-cause than other problems with a similar symptom (such as #659, #695, #1027 and more)

**Technical Information:**
ExoPlayer Version: 1.5.16
Android: 5.1
Hardware: MXQ Pro (Rockchip based, Amlogic S905, Quad Core)

I've added a printing in `HlsSampleS

[2017-06-23 15:08] ojw28 commented on #2935
Re-opening this because they turned out to be separate issues.

[2017-06-23 16:15] O6e36ashenII opened #2993 "Snapshot in SimpleExoPlayerView"
Hello i'm using exoplayer library to play hls video from my cams.
By the demo, in app we using SimpleExoPlayerView for playing video. At first i tried to get snapshot by creating bitmap. But i have always getting black image on return. I founded the solution then exoplayer playing in textureView.  The problem that i don't understand how to use TextureView instead SimpleExoPlayerView.
By the code f

[2017-06-23 19:30] b0g8 commented on #2993
Here is a good  [article](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a) detailing how attributes can be set. One such attribute for SimpleExoPlayerView is surface_type. If it is 1, then a SurfaceView(default) is used, if it is 2, a TextureView is used. (Check SimpleExoPlayerView for more details).

[2017-06-23 19:58] goffioul opened #2995 "Does ExoPlayer handle multiple programs in MPEG-TS"
I have a sample MPEG-TS stream, captured from live TV broadcast, that contains 2 programs (1 x video + 1 x audio, 1 x video + 1 x audio). It doesn't seem to work properly in the demo app. Are multi-program MPEG-TS supported?

[2017-06-23 23:31] molexx commented on #677
If the user has paused the video before surface replacement the new surface stays black rather than showing the paused frame. It resumes fine when pressing play.
What's a clean way to set the paused frame image please?

[2017-06-23 23:45] AOrobator commented on #1706
@tonihei When this is implemented, will gapless playback be supported?

[2017-06-24 05:36] WeiChungChang commented on #2995
1. You may need a tool to retrieve one of the program to playback in advance, such as FFMpeg.
If you don't know the command, leave a message here & I could search it for you.

2. If it is still black screen during playback, play it with, ex VLC player to see if it works.

3. If VLC works, try this patch https://github.com/google/ExoPlayer/pull/2842
to see if it works.

If step 3 resolves your prob

[2017-06-24 05:56] alex-hryzak opened #2996 "Parsing BaseURL in Dash Manifest with line breaks"
If there is a line break inside of BaseURL, the value will not be trimmed, resulting in a faulty url (including the line breaks and spaces). Like this:

    <AdaptationSet mimeType="text/vtt" lang="en" streamName="Englisch">
      <Representation>
        <BaseURL>
        ../subtitles/FLI4560_AMF_SUB_en.vtt
        </BaseURL>
      </Representation>
    </AdaptationSet>

I tried this with the lat

[2017-06-24 09:58] O6e36ashenII commented on #2993
I founded what difference. but can't find any implementation with exoplayer 2.
Were i need to prepare the textureView in my code ?
`
 public void initializePlayer(SimpleExoPlayerView simpleExoPlayerView, String camUrl, boolean useControler, boolean audio, boolean hls, long seekToPos) {

        if (player == null) {

            TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveVideo

[2017-06-24 13:06] ojw28 commented on #277
It's unclear exactly what this request is. For us to investigate further, we'd need a sample stream/capture of the media that you're trying to play.

[2017-06-24 13:06] #277 closed

[2017-06-24 13:10] ojw28 commented on #1599
Smoothly switching between surfaces (including detaching and re-attaching) is tracked by https://github.com/google/ExoPlayer/issues/677.

[2017-06-24 13:10] #1599 closed, assigned to nobody

[2017-06-24 13:14] ojw28 commented on #1698
This is basically boils down to being able to smoothly switch/detach/attach surfaces, which is discussed and tracked in https://github.com/google/ExoPlayer/issues/677.

Note: You appear to be using ExoPlayer V1 still, which is pretty old at this point. You should consider migrating to V2, where we've been making improvements in this area.

[2017-06-24 13:14] #1698 closed, assigned to nobody

[2017-06-24 13:18] ojw28 commented on #2315
The information provided here isn't detailed enough for us to help. Please provide all of the information requested in our issue template (including a full bug report captured with "adb bugreport"). Thanks.

[2017-06-24 13:23] ojw28 commented on #2553
You can now disable ID3 metadata whilst still using `DefaultExtractorsFactory`, simply by calling `setMp3ExtractorFlags(Mp3Extractor.FLAG_DISABLE_ID3_METADATA)` on your `DefaultExtractorsFactory` instance.

I think we've improved things here sufficiently, and further optimization would be pretty in depth and is not something we're planning to look at any time soon. So I'll go ahead and close this

[2017-06-24 13:23] #2553 closed, assigned to nobody

[2017-06-24 13:25] ojw28 commented on #2558
There is insufficient information here for us to help. Please provide all of the information requested in the issue template, including clear reproduction steps and a full bug report.

The issue you describe probably falls under being able to smoothly switch/detach/re-attach a surface, which is discussed in and tracked by https://github.com/google/ExoPlayer/issues/677.

[2017-06-24 13:25] #2558 closed, assigned to nobody

[2017-06-24 13:27] ojw28 commented on #2854
Closing because I don't think there's anything actionable we can do at this point in time.

[2017-06-24 13:27] #2854 closed, assigned to nobody

[2017-06-24 13:30] ojw28 commented on #2834
For what it's worth, I can't think of any technical reason why that would be the case (and I'm doubtful it is). What you're suggesting doing is basically what `SimpleExoPlayerView` does internally by itself anyway, so it's hard to see how one would be significantly slower or faster.

Closing this issue, since the original questions have been answered. Thanks!

[2017-06-24 13:30] #2834 closed, assigned to nobody

[2017-06-24 13:36] ojw28 commented on #2763
It sounds like you're trying to implement offlining of DRM protected DASH content, by downloading one of the video variants, and presumably one of the audio variants too. We'll be supporting this directly in the future, and this is tracked by https://github.com/google/ExoPlayer/issues/2643. Please follow that issue for updates.

We do not plan to provide a sample or guidance before we add support

[2017-06-24 13:36] #2763 closed, assigned to nobody

[2017-06-24 13:37] ojw28 commented on #2897
Closing due to lack of requested information.

[2017-06-24 13:37] #2897 closed, assigned to nobody

[2017-06-24 13:40] ojw28 commented on #2926
We're going to revert back to allowing seamless switching between multiple audio tracks. It's still incorrect to state that memory of Android devices is increasing much, however, particularly at the low end.

[2017-06-24 13:43] ojw28 commented on #2988
Fixed and added a test. Thanks.

[2017-06-24 13:43] #2988 closed, assigned to ojw28

[2017-06-24 13:52] ojw28 commented on #2555
We did look at this (quite a long time prior to this issue being filed) and convinced ourselves that connections were being re-used correctly. I don't think we have solid enough evidence to warrant us spending time checking again at this point, although if you get to the point where you're convinced it's no longer working, please let us know.

It would also be a good idea to try with some of the t

[2017-06-24 13:52] #2555 closed, assigned to nobody

[2017-06-24 14:11] O6e36ashenII commented on #2993
and how to use controller in textureView. Can't find any solutions

[2017-06-25 06:07] saurabhkpatel commented on #1698
@ojw28 : First of thanks for your reply on this thread after more than 11 Months. I reported this issue last summer at that time version 2 was not out.
I will try with version 2 and update the information in the new thread if require.

[2017-06-25 08:46] yqritc commented on #2935
@ojw28
Is this still planning to be fixed in O release?

[2017-06-25 13:13] ojw28 commented on #2935
I believe so.

[2017-06-25 14:46] pheart opened #2997 "some device exoplayer can not play"
6827/? E/MtkOmxAudioDecBase: Decoder Component Dec Error!
06-25 22:41:03.534 6567-6825/com.karaoke.singplus.test E/ACodec: [OMX.MTK.AUDIO.DECODER.AAC] ERROR(0x80001005)
06-25 22:41:03.534 6567-6825/com.karaoke.singplus.test E/MediaCodec: Codec reported an error. (omx error 0x80001005, internalError -1104)
06-25 22:41:03.535 135-6827/? E/MtkOmxAudioDecBase: Decoder Component Dec Error!
06-25 22:41:

[2017-06-25 15:48] ojw28 commented on #2996
I don't think it's valid to have line breaks, or indeed any whitespace, inside of a BaseURL element. None of the examples in either the DASH spec (ISO 23009-1) or the DASH IF recommendations (http://dashif.org/guidelines/) do so.

Please let us know if you kind find some documentation indicating otherwise. Thanks!

[2017-06-25 15:48] #2996 closed, assigned to nobody

[2017-06-25 16:06] ojw28 commented on #2993
- There is no requirement that you use `SimpleExoPlayerView`. You can use a `TextureView` directly if you prefer. You can use `SimpleExoPlayer.setVideoTextureView` to set a `SimpleExoPlayer` instance to output to a `TextureView`.
- If you do want to use `SimpleExoPlayerView`, you can specify `surface_type` as @b0g8 notes above. You can retrieve the `TextureView` from the `SimpleExoPlayerView` usin

[2017-06-25 16:06] #2993 closed, assigned to nobody

[2017-06-26 07:37] andrewlewis commented on #2832
@darwinvtomy If the renderer got as far as initializing the AudioTrack then the codec may be fine. It sounds like this device has an issue with its passthrough implementation. Does passthrough mode work from any other applications on this device? How did you verify that audio is being output via passthrough, rather than being decoded on the device and output in PCM format?

[2017-06-26 08:02] tonihei commented on #1706
@AOrobator Gapless playback is already supported when you use ConcatenatingMediaSource.

[2017-06-26 08:32] ojw28 commented on #2984
I'm having a hard time working out what you're doing, which is making it difficult to provide any int here. Let's say you start from the working ExoPlayer demo app. What is it exactly that you're trying to do, and at a high level what changes have you tried to make in order to achieve your goal? You appear to be hooking into the Flac extension at a very low level; certainly lower than we would env

[2017-06-26 08:37] ojw28 commented on #341
Is the same also true of European TV broadcasts (i.e. that there's CEA608 data in every frame)?

[2017-06-26 08:56] Fed93 commented on #2984
I'm trying to analyze song in order to extrapolate bpm, key, peak and other information and show them and do some other stuff before song is played (for example applying some particular filter).
To do this I need a buffer with uncompressed data of the song.
I've two different part in my app:
One is the basic player (based on ExoPlayer)
Writed from zero without using ExoPlayer Demo App but only usi

[2017-06-26 09:01] ojw28 commented on #2984
Ok. It sounds like there are two different things you need to do:
1. Use the Flac extension in the normal way. I don't think there's any need for you to customize it, or understand what it's doing internally, or anything like that.
1. Add processing to the decoded audio data. This is a completely separate topic, and should probably be done using an `AudioProcessor`. You can inject a custom process

[2017-06-26 09:10] O6e36ashenII commented on #2993
![image](https://user-images.githubusercontent.com/14329021/27532085-bc90396a-5a67-11e7-865a-8987ab75d6fa.png)
Hi The second version works fine, except that you still have to make your MediaPlayerControl to control the video stream, since the SimpleExoPlayerView is under the TextureView in the xml_layout file.
I hope i making all right.
`
            simpleExoPlayerView.setPlayer(player);

[2017-06-26 09:15] ojw28 commented on #2993
You seem to have somehow used a combination of the two suggestions. That's not a sensible thing to do. Either use the first suggestion, or use the second one (probably the second one).

[2017-06-26 09:18] AquilesCanta commented on #2995
I don't know which version you are using but try `TsExtractor.MODE_MULTI_PMT`. Multiprogram TSs are supported. However, preparation time might be longer and some users might prefer to use single PMT mode. If you are going to do that, might make sense to filter out all PMTs that don't correspond to the service you want to play. If you run into any issues, please include all the info requested in th

[2017-06-26 09:18] #2995 closed, assigned to nobody

[2017-06-26 09:19] Fed93 commented on #2984
For the first point your right... I don't need any customisations.
For the second point.. but creating an extension doesn't force me to use it by creating a SimpleExoPlayer instance?
I create it by this way:
`TrackSelector trackSelector = new DefaultTrackSelector(new FixedTrackSelection.Factory());`
`DefaultRenderersFactory renderersFactory = new DefaultRenderersFactory(mContext, null,

[2017-06-26 09:37] nigelmegitt commented on #341
@ojw28 I'm not aware of any European TV broadcasts using CEA608 at all - the old analogue equivalent in use in Europe is Teletext, which is still widely used, for the time being anyway...

[2017-06-26 10:08] ojw28 commented on #341
Got it, thanks. It doesn't seem unreasonable to use `FLAG_OVERRIDE_CAPTION_DESCRIPTORS` for the time being. It feels like targeting both markets should be as simple as an if statement. It only becomes difficult if your app is simultaneously targeting both markets and does not know what market the content being played came from, which seems somewhat unlikely in a legitimate use cases (if you believ

[2017-06-26 10:36] ojw28 commented on #2984
I don't really understand what your question is. I think the only thing you need to change is the `DefaultRenderersFactory`, which you need to extend so that you can override `buildAudioProcessors` as explained above.

[2017-06-26 12:05] goffioul commented on #341
@ojw28 In Europe, you wouldn't have any CEA608 data in the stream, that means no caption SEI message, no caption user data. Those would only be present in US streams. And if there's no caption data, the SEI message / user data would still be present, but with empty data.

The situation that you describes a not a ligitimate use case is exactly mine. Detecting what's in the stream to be played shoul

[2017-06-26 12:11] ojw28 commented on #341
By the same argument, telling the media player what tracks are present in the stream in a sensible way should be the responsibility of the stream/container ;). I'm aware this doesn't help; just pointing it out!

Can you explain what your use case is in a concrete way? Where is the media being played coming from such that you don't know its source? It is all side-loaded?

[2017-06-26 12:32] goffioul commented on #341
I understand your point of view, as a media framework developer, that some containers or streaming system are not straightforward to handle, because they do not provide the information or the headers that others do. As such, you may consider that because of better alternatives you don't want to support them. But my reality, as an app developer, is a bit different, I have to deal with the streaming

[2017-06-26 13:23] goffioul commented on #2995
I'm using ExoPlayer 2.4.2 and the demo app, which is using MODE_SINGLE_PMT. In this case, I expect to see only the tracks corresponding to a single programs. However, the demo app shows tracks for all programs (and my problem is most likely related to the fact that it selects the video track from one program and the audio track from the other one).

What I don't understand is why PatReader creates

[2017-06-26 13:32] AquilesCanta commented on #2995
The idea behind MODE_SINGLE_PMT was that users that obtain their TSs from tuners were able to filter the streams of a single program. So, that mode expects a single PMT to exist.

It would be arbitrary to pick the first found PMT and discard the rest. It would cause undesirable non-deterministic behavior. As I mentioned before, this is undergoing some changes, which might apply to this conversatio

[2017-06-26 13:35] O6e36ashenII commented on #2993
ok, ty for helping !

[2017-06-26 13:47] goffioul commented on #2995
Even with multi PMT mode enabled, the demo app will select by default video and audio tracks from different programs (video track from program 1 and audio track from program 2). That does not really make sense.

[2017-06-26 14:27] ojw28 commented on #341
I think I'd argue it's working as intended that it costs you more time and effort to support a fragmented ecosystem that requires playback of legacy streaming formats. It acts as a natural forcing function that encourages upgrading to newer tech ;). Broadcasters we've worked with have typically been able to provide well constructed HLS and/or DASH streams, so it's not like doing so is out of reach

[2017-06-26 14:30] ojw28 commented on #2997
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-26 14:30] #2997 closed, assigned to nobody

[2017-06-26 14:38] goffioul commented on #341
Yes, I do have now proper closed-captions detection.

[2017-06-26 15:06] AOrobator commented on #1706
@tonihei I understand that ConcatenatingMediaSource supports gapless playback. I would assume that when this PlaylistMediaSource gets implemented it would also support gapless playback by extension, but I just wanted to clarify instead of assuming.

[2017-06-26 15:41] tonihei commented on #1706
@AOrobator The new media source will definitely also support gapless playback.

[2017-06-26 16:28] ojw28 commented on #2926
This is fixed in `dev-v2`.

[2017-06-26 16:28] ojw28 commented on #2956
This is fixed in `dev-v2`.

[2017-06-26 16:29] #2956 closed, assigned to ojw28

[2017-06-26 16:29] #2926 closed, assigned to ojw28

[2017-06-26 16:29] #2975 closed, assigned to nobody

[2017-06-26 16:30] ojw28 commented on #2975
Fixed in `dev-v2` in https://github.com/google/ExoPlayer/commit/a7ed199622500584d5070335f2381288198a53e7

[2017-06-26 17:05] ojw28 commented on #2990
The answer is the same as in #2200. If you need tight synchronization, you'll probably need to be mixing the audio prior to feeding it into a single AudioTrack instance. This is not a use case we currently support I'm afraid. If you don't need tight synchronization then you can just use two `ExoPlayer` instances (i.e. an extra one for the background music).

[2017-06-26 17:05] #2990 closed, assigned to nobody

[2017-06-26 17:24] b0g8 commented on #2990
Thanks, I'm trying to use two instances, and share the clock.

[2017-06-26 22:06] goffioul commented on #2956
I've tried the demo app from branch dev-v2, playing a MPEG-TS stream through plain HTTP, but I get an exception. Here are the logs, using this sample stream https://drive.google.com/open?id=0BwljeX6541LubUVmbGZad0QzcWM

    06-26 17:57:02.792 14254 14254 I DefaultRenderersFactory: Loaded LibvpxVideoRenderer.
    06-26 17:57:02.793 14254 14254 I DefaultRenderersFactory: Loaded LibopusAudioRenderer.

[2017-06-26 22:42] ojw28 commented on #2956
Thanks for testing. Please sync and try again; I submitted a one line indexing fix that I think resolves this problem.

[2017-06-26 22:42] ojw28 commented on #2956
Fix is here: https://github.com/google/ExoPlayer/commit/076a77e598dc9f32110c4fcbe9fd67cc4a5e023b

[2017-06-26 23:15] goffioul commented on #2956
@ojw28 Thanks, the fixed the exception. Quick question, though. When playing MPEG-TS through HTTP, switching audio/subtitle track is completely smooth, no interruption. However when I do track switching with HLS, I get an interruption. Is there still a seek operation when using HLS?

For the record, my HLS sample stream is that same as the plain MPEG-TS referenced above, but segmented using ffmpeg

[2017-06-26 23:21] goffioul commented on #2956
Actually, the commit only targets ExtractorMediaPediod, so obviously it wouldn't affect HLS. So the question should be: will the same changes be applied to HLS too?

[2017-06-26 23:25] ojw28 commented on #2956
Yes, the same benefits will be coming to HLS soon. We're using https://github.com/google/ExoPlayer/issues/2718 for tracking.

[2017-06-27 01:40] lioun1729 commented on #2848
I agree this point when we want to increase quality fast for QoE

But in other sight, I think pre-buffering is efficient because it can prevent causing buffer underflow when the network varies very fast and dynamic

If we use more short buffering scheme or deleting bufferred segment for next high quality, we can experience many rebuffering and unstable behavior of player

How about you?

I think t

[2017-06-27 08:26] MizzleDK commented on #2985
I've been experiencing the same issue on Sony and Philips TVs running Android TV 6.0. Funnily enough, it worked on Nvidia Shield TV, both the 2015 and 2017 versions.

[2017-06-27 12:38] yqritc commented on #2924
@ojw28
I'm also facing this issue. Any workaround for this?
maybe this issue is the same as #1806.

[2017-06-27 15:14] bschuste opened #2998 "Support for one AdaptationSet element in the DASH manifest"
### Issue description
This is a feature request, as written in https://google.github.io/ExoPlayer/supported-formats.html,
.."Media streams must be demuxed, meaning that video, audio and text must be defined in distinct AdaptationSet elements in the DASH manifest..."

Is there a way to support audio and video streams in one AdaptationSet?

### Reproduction steps
The media content has been produced

[2017-06-27 15:46] ghost commented on #2926
Thank you so much. I have waited this good news for a long time.

[2017-06-28 07:42] steffencbc commented on #2924
Yes it is.
My workaround is to set a new view to the player when switching the video.
Since you have to refresh this view by yourself you are unable to use a ConcatenatingMediaSource.

[2017-06-28 08:55] ojw28 commented on #2924
Forcing usage of the secure decoder for playback of both the clear and protected content probably also works around the issue (and allows you to use ConcatenatingMediaSource). I'd suggest giving that a try.

[2017-06-28 09:12] nikhilkilivayil commented on #1009
Can you post sample full source code? @ojw28

[2017-06-28 09:23] nikhilkilivayil opened #2999 "Get YUV frames from HLS online url"
Any option to get YUV frame buffer ?

[2017-06-28 09:41] nikhilkilivayil commented on #1589
@Oleur Any option to get YUV frame from applications without display the video content.

[2017-06-28 09:48] Teviz commented on #2978
Sorry for that I'm indeed missed it. In fact the problem is from the user feedback, and I rent the online remote device to test using exo sample which indeed cant play everytime, so the bugreport needs some work to get. Later I found this problem may be similar to #2997, so for the time being the issue keep close.

[2017-06-28 11:13] darwinvtomy commented on #2832
@andrewlewis This device comes with built in KODI player in the firmware which can give passthrough .But official Kodi player will not support . Passthrough is supported in the default video view player. I don't think the box has a build in decoder for AC3 contents it will just allow passthrough  for those contents but the kodi has a software decoder for downmixing it seems.

![vlcsnap-2017-06-28-

[2017-06-28 11:43] yqritc commented on #2924
@ojw28
thanks for your advice!
I had a look at [MediaCodecRenderer](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L293) class to figure out how to force using secure decoder.
Is there any simple way to achieve this?
or do I need to create dummy drmInitData and open drm session like normal drm flow?

[2017-06-28 12:01] ojw28 commented on #2924
You could inject a custom `MediaCodecSelector` implementation that wraps the default one and forces selection of secure decoders when available. The `getDecoderInfo` method would look something like:

[code]

[2017-06-28 12:18] andrewlewis commented on #2832
If the `AudioTrack` throws when trying to initialize encoded output, there's not much we can do unfortunately. Also, not having the correct HDMI audio capabilities is also problematic as there's no way for the app to detect that it should be able to output using passthrough. The provided `media_codecs.xml` files do not declare any on-device AC-3 decoders, so I don't think you're missing anything.

[2017-06-28 12:18] #2832 closed, assigned to andrewlewis

[2017-06-28 12:47] yqritc commented on #2924
@ojw28
yes, I did similar workaround.
but [codec.start()](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L359) throw Fatal signal 11.
The log shows
[code]
maybe I need the right mediaCrypto when calling [configureCodec](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/

[2017-06-28 14:13] botondbutuza commented on #2907
Update (@ojw28): same issue recurs on Motorola MotoG3 API 23 and Huawei ALE-L23 API 21.

[code]

I have a hunch that this happens because the resolution exceeds the device's capabilities, but ideally I'd want this to be explicitly reported/queried, as opposed to receiving a generic renderer error.

[2017-06-28 14:54] botondbutuza commented on #2907
LGE LG-K350 API 23 has the same issue. Here's that device's logcat output:

[code]

And I've included another bugreport, taken on the above mentioned device just after the error was thrown.

[bugreport.txt](https://github.com/google/ExoPlayer/files/1109112/bugreport.txt)

[2017-06-28 15:40] Teviz opened #3000 "First frame is rendered and then stuck on buffer state."
### Issue description
The first frame is rendered and then stuck on buffer state.
But when using other player or play on ios, it's fine.

### Reproduction steps
Using ExoPlayer demo and play the specific flv live stream

### Link to test content
you can see it in email.

### Version of ExoPlayer being used
2.4.2

### Device(s) and version(s) of Android being used
I guess every Android OS Device wi

[2017-06-28 16:08] ojw28 commented on #2998
This is not something we intend to support. The DASH IF recommendations mandates that audio/video are demuxed ("only non-multiplexed Representations shall be used, i.e. each Representation only contains
41 a single media component"). If I remember correctly, most DASH profiles mandate this too.

[2017-06-28 16:08] #2998 closed, assigned to nobody

[2017-06-28 17:00] nerd-sj commented on #2974
I get the same error. Any fixes?

[2017-06-28 17:05] ojw28 commented on #2974
We'll be making this much easier from the next release (and easier for the `dev-v2` branch shortly, in advance of the release).

[2017-06-28 19:04] ojw28 commented on #2924
Ah yes, my suggestion above probably doesn't work for the reason you describe. For a clean workaround we'd need to make more invasive changes. For example we'd need to allow acquisition of a `DrmSession` without any `DrmInitData`, so as to obtain the `MediaCrypto` up front. We'd then need to put the workaround into `MediaCodecRenderer`, I think. It wouldn't be necessary to have a custom codec sele

[2017-06-28 21:28] ojw28 commented on #2974
Please try the instructions under the "Locally" heading in the README in the dev-v2 branch ([here](https://github.com/google/ExoPlayer/blob/dev-v2/README.md)).

Note the instructions will only work with the dev-v2 branch at this point, so you'll need to checkout that branch for them to work. They will not work on release-v2 until the changes are merged into that branch.

[2017-06-28 21:28] ojw28 commented on #2110
See https://github.com/google/ExoPlayer/issues/2974.

[2017-06-28 21:28] #2110 closed, assigned to nobody

[2017-06-28 21:31] ojw28 commented on #2851
Instructions have been clarified on the dev-v2 branch.

[2017-06-28 22:22] wildebeast opened #3001 "Video of LoopingMediaSource containing a ClippingMediaSource has a delay"
**Description**

When creating a LoopingMediaSource that contains a ClippingMediaSource of another MediaSource, the player has a short delay in between loops. Is it possible to make the loop seamless?

Note: I see that this issue looks similar to https://github.com/google/ExoPlayer/issues/2923, but that appears to relate exclusively to audio-only files, not video.

**Reproduction**

I've forked th

[2017-06-29 07:41] 13217300237 opened #3002 "Screen stuck when play for a while"
part of log is below:
`Line 25382: 06-26 17:38:48.416 W/System.err( 6348): com.google.android.exoplayer2.ExoPlaybackException
	Line 25384: 06-26 17:38:48.416 W/System.err( 6348): 	at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:350)
	Line 25386: 06-26 17:38:48.416 W/System.err( 6348): 	at android.os.Handler.dispatchMessage(Handler.java:98)
	Line 2538

[2017-06-29 07:46] andrewlewis commented on #3001
From #1988: "An important caveat is that when playback transitions into a ClippingMediaSource the player needs to do a frame-exact seek operation. To avoid buffering you therefore need to ensure that the clipping start point corresponds to a synchronization sample/key-frame. (Playback should work even if you don't do this, but transitions from one source to the next will not be seamless.)" Is the

[2017-06-29 07:56] oikmar commented on #1706
@tonihei while waiting for status updates on this, any related public commits that we can take a look at to get an idea on the direction of the solution?

[2017-06-29 08:54] andrewlewis commented on #3002
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-06-29 08:54] #3002 closed, assigned to nobody

[2017-06-29 10:38] ojw28 commented on #2957
There's a small issue in the DVB parser. I'll push a fix shortly. Brilliantly, there's also a small bug in the DVB spec itself, which corresponds to half of the issue :)!

[2017-06-29 10:42] ojw28 commented on #2873
Apparently the MTK raw decoder is using the wrong endianness. They've fixed it going forwards, and OEMs can pick up the fix for their devices, but it's unlikely the fix will reach all of the affected devices in the wild. We'll most likely push a change that prefers OMX.google.raw.decoder on affected devices, if both are available.

[2017-06-29 11:02] lodup29 commented on #2092
I would also like to see an ExoPlayer avi extractor implemented.

[2017-06-29 12:33] afrostreambahri opened #3003 "Error inflating class com.google.android.exoplayer2.ui.SimpleExoPlayerView"
hello
i had this issue when i upgrade exoplayer library from 2.3.1 to 2.4.2
android.view.InflateException: Binary XML file line #27: Binary XML file line #27: Error inflating class com.google.android.exoplayer2.ui.SimpleExoPlayerView

please help me

this is my player_activity.xml :

<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"

[2017-06-29 12:43] jonhan commented on #2953
@ojw28 I can verify that the fix works in `dev-v2`! Will this be released soon?

[2017-06-29 13:57] shinayser commented on #55
Seriously? Almost 3 years of this issue has been opened and it still open with no prevision of implementation?

[2017-06-29 14:00] FabianTerhorst commented on #55
Rtsp isn't a modern protocol. There won't be an official implementation without an pr

[2017-06-29 14:05] shinayser commented on #55
Android 4.0 also is not a modern Operational System and Google still supports it.... This is no excuse. A huge amount of devices around the world supports only RTSP and ExoPlayer simply can't support them.

[2017-06-29 14:10] kjeremy commented on #55
Eh?  All modern IP cameras use rtsp.

On Thu, Jun 29, 2017 at 10:05 AM, shinayser <notifications@github.com>
wrote:

[2017-06-29 14:12] tresvecesseis commented on #55
we plan to contribute our RTSP implementation after the RTP/RTCP one so no ETA yet

[2017-06-29 14:16] ojw28 commented on #55
@shinayser - It's not our goal to implement everything that anyone asks for, for free, just because they ask for it. As has been noted already on this issue, we're open to accepting a well written and self-contained pull request that provides this functionality, from @tresvecesseis or anyone else who wants to provide one. You're welcome to contribute this functionality yourself!

@kjeremy - Whilst

[2017-06-29 16:09] tonihei commented on #2923
The above mentioned [commit](https://github.com/google/ExoPlayer/commit/56205893e5f392531baa9bc1d33a56858193a36e) solves your problem as long as you have media sources with audio-only tracks.

You can also enforce the gapless playback for other media sources by passing `false` as a last parameter to [ClippingMediaSource](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/co

[2017-06-29 16:09] #2923 closed, assigned to tonihei

[2017-06-29 16:12] tonihei commented on #3001
Have a look at #2923 again. We added a new constructor to [ClippingMediaSource](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/source/ClippingMediaSource.java#L72) which lets you disable the discontinuity. Note, that this is only advisable if you can ensure your clipping start point is a key-frame as @andrewlewis already pointed out.

[2017-06-29 16:12] #3001 closed, assigned to nobody

[2017-06-29 16:27] wildebeast commented on #3001
Thanks for the tips @tonihei and @andrewlewis!

[2017-06-30 03:05] xdestiny110 commented on #2200
I have achieve this. I generate an audio file that contain 4 audio tracks. Then I override `buildAudioRenderers` in `DefaultRenderersFactory`, and `getMediaClock` in `MediaCodecAudioRenderer`. Also I implement `TrackSelector`. In that way I can play all audio track simultaneously.

[2017-06-30 08:45] LittleSunZ opened #3004 "getDuration() is negative!"
url is https://lcache.qingting.fm/cache/20170428/387/387_20170428_030000_040000_24_0.aac。
Please tell how to solve, thanks!

[2017-06-30 09:22] bene25 opened #3005 "Reduce time of connection life"
Hello. I didnt find place where I could ask question like google groups. We are using exoplayer version 2.0.4. How could we reduce connection life(for now it's living for 5 minutes)?
And how we could reduce requests beatrate (for now we have 12 seconds per second)?
Thanks.

[2017-06-30 09:47] AquilesCanta commented on #3004
Could you confirm it is not C.TIME_UNSET?

[2017-06-30 09:49] yqritc commented on #2924
thanks for your info.
I changed the code as you described.
I skipped the key request & key response of `mediaDrm` logic and then obtained `MediaCrypto`, but `codec.start()` throws `android.media.MediaCodec$CryptoException: Operation not supported in this configuration`.

[2017-06-30 13:03] vikingmedia commented on #2996
https://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#anyURI states

It doesn't say anything about line breaks. However, older versions of ExoPlayer did interpret BaseURLs with line breaks correctly.

[2017-06-30 13:09] ojw28 commented on #2996
In that case, to be more precise :)... If you do add line breaks or whitespace inside of the BaseURL element, then I don't think you should expect it to be trimmed.

[2017-06-30 13:27] Gian84 opened #3006 "Bitrate value is -1 for any HLS content"
### Issue description
When I try to reproduce an HLS content the method player.getVideoFormat().bitrate in DebugTextViewHelper returns always -1.

### Reproduction steps
 - Open Exoplayer 2.4.2 demo app
 - Select any HLS content for example "Apple 4x3 basic stream"
 - Log _player.getVideoFormat().bitrate_ in _private String getVideoString()_ method in _DebugTextViewHelper_ class
- bitrate is alway

[2017-06-30 14:50] ojw28 commented on #3004
I'm pretty sure it will be. `C.TIME_UNSET` is an allowed and documented return value. The type of file you're trying to play makes determining the duration very difficult. The player would need to download and parse the entire file to work the duration out. When I try and play the file in VLC I see that it does show a duration, but that the duration shown constantly changes over time (i.e. it's es

[2017-06-30 14:50] #3004 closed, assigned to nobody

[2017-06-30 15:37] gergely-sallai opened #3007 "First onVideoSizeChanged callback returns width=-1, height=-1 (Format.NO_VALUE) on Android 4.2 devices with Qualcomm 800 SoC"
### Issue description
First onVideoSizeChanged callback returns width=-1,  height=-1 and pixelWidthHeightRatio=-1.0 (Format.NO_VALUE) on **Android 4.2 devices with Qualcomm 800 SoC**.
The correct Video Size is reported some time (around a few 100 ms) after.
I know this is not a major problem, but still, I'd like to know if this is an intentional behaviour or indeed a bug, as previous ExoPlayer ver

[2017-06-30 16:04] wischnow opened #3008 "Support PGS and VOBSUB subtitles"
Hello,

### Issue description
From the documentation and the conversations here I expected PGS and VOBSUB subtitles to work in ExoPlayer, but it seems they are not rendered.

### Reproduction steps
Use the ExoPlayer demo app with this sample content from the Kodi repository of samples:

  https://drive.google.com/file/d/0BwxFVkl63-lEVEluSFZ4NlhpLUk/view

### Link to test content
See above, which i

[2017-06-30 16:29] ojw28 commented on #3008
I don't think we support either at the moment. Marking as an enhancement. We're unlikely to prioritize this, however, so the most likely path to this being supported would be an external contribution.

[2017-06-30 16:31] ojw28 commented on #3005
There's not enough information here for us to help. What are you defining as connection life, and how are you measuring it? I don't understand what beatrate means, either. What type of media is being played?

[2017-06-30 16:39] ojw28 commented on #3003
This sounds like an issue with your project rather than anything wrong with ExoPlayer. Perhaps you're missing a dependency somehow. I'd suggest taking a look at our demo app, checking that works, and assuming that it does work trying to figure our what your project is doing differently.

[2017-06-30 16:39] #3003 closed, assigned to nobody

[2017-06-30 16:58] ojw28 commented on #3007
Sounds like a bug with the decoder (presumably the OMX.qcom.video.decoder.avc implementation for this SoC). Perhaps the decoder outputs some video buffers before the format, which probably isn't a valid thing to do.

We'll get hold of a device and try and reproduce. It should be pretty easy to provide a workaround (e.g. by just not reporting the size if it hasn't been set yet) if necessary.

[2017-06-30 17:03] ojw28 commented on #2999
We do not provide a direct API for this, but there are multiple approaches you could look into if you're trying to grab video frames in a particular format. For example you could use TextureView.getBitmap to get the current frame in a bitmap, at which point you could do your own conversion into a preferred format.

Without a proper description of the use case it's impossible to provide any solid g

[2017-06-30 17:03] #2999 closed, assigned to nobody

[2017-06-30 17:19] ojw28 commented on #3000
I think the problem here is that the stream indicates it includes an audio track, but then doesn't actually contain any audio data. The player is waiting for audio belonging to this track before starting playback, which I think is the right thing to do.

Commenting out [this line](https://github.com/google/ExoPlayer/blob/r2.4.2/library/core/src/main/java/com/google/android/exoplayer2/extractor/flv

[2017-06-30 17:19] #3000 closed, assigned to nobody

[2017-06-30 17:21] #2957 closed, assigned to ojw28

[2017-06-30 17:22] #2873 closed, assigned to nobody

[2017-06-30 17:24] #2710 closed, assigned to nobody

[2017-06-30 17:49] ojw28 commented on #2953
The fix will be in 2.4.3, which will be released today or early next week. Renaming this issue to track the enhancement of properly supporting referential styling.

[2017-06-30 20:54] goffioul opened #3010 "Compilation fails in branch dev-v2"
Since this commit https://github.com/google/ExoPlayer/commit/81d077c037e3d559d28fa95e596ef91788587add
Class ClosedSource is missing from the repo.

    library/core/src/main/java/com/google/android/exoplayer2/source/offline/Downloader.java:28: error: cannot find symbol
    import com.google.android.exoplayer2.util.ClosedSource;
                                             ^
      symbol:   class C

[2017-06-30 20:59] goffioul commented on #2957
Verified in branch dev-v2. Subtitles now working fine. Thanks.

[2017-06-30 21:25] ojw28 commented on #3010
Fixed in https://github.com/google/ExoPlayer/commit/19a3d94022d4450eaccaaf48bcbf71f27aef4418

[2017-06-30 21:25] #3010 closed, assigned to nobody

[2017-07-01 14:02] mdtuyen commented on #2955
Hi, As the previous issue that the reason is UserAgent, I change userAgent to okhttp/2.5.0 as Vitamio the video worked.

Now When play this link: http://103.9.76.165:1935/vod/_definst_/mp4:show/tuyetdinhgiacquan15/tap1_360.mp4/playlist.m3u8?vntv_endtime=1498919340&vntv_starttime=0&vntv_hash=QyNYm5vPs6DSXFKqlnrd4ABkl6UIGkXdjIf57vzbpq8=

That link play fine on Vitamio, but not work with Exoplayer.
I

[2017-07-01 18:39] ErezNe commented on #2925
Hi  in VideoFrameReleaseTimeHelper() of VideoFrameReleaseTimeHelper.java file.

in getDefaultFrameRefreshRate() I controlled window params I did the following changes:

private static float getDefaultDisplayRefreshRate(Context context) {

WindowManager manager =

(WindowManager)context.getSystemService(Context.WINDOW_SERVICE);

if(manager.getDefaultDisplay().getRefreshRate() &gt; 50){

return 50;

[2017-07-01 18:58] gergely-sallai commented on #3007
Yes, I'm doing just that, ignoring any video size updates until it actually makes sense.
I calculate video aspect ratio from the size value, so it can look distorted for a split second.
I decided to report this because r1.5.10 did not have this issue, perhaps in Exoplayer1 MediaCodecRenderer waited for the value to be correct before reporting.

Thanks for looking into this!

[2017-07-02 08:41] ghost opened #3011 "Error while compile VP9 extension"
Hello,

I have compile the VP9 but while I compiling it, I have received this error. Please tell me how to fix it:

[code]

I have search the issue from open topic and closed topic too but I can't find the solution for this error. Please let me know how to solve it.

Thank you.

[2017-07-02 14:24] Mithrandir21 opened #3012 "Seeking with AesCipherDataSource throws "Searched too many bytes" ParserException"
**The setup**:
App attempting to open encrypted MP3 audio file from the web for playback without storing full file to disk.

[code]

**Issue**:
Seeking to a point far away from current position leads to a `ParserException("Searched too many bytes.");` from the Mp3Extractor.

**Explanation**:
If playing unencrypted URI (not using the `AesCipherDataSource`) play and seeking work flawlessly.
**Howeve

[2017-07-03 07:22] zijing07 opened #3013 "ArrayIndexOutOfBoundsException while playing MP4 file"
### Issue description
When I use the demo app to play the [mp4 file](http://video.baixing.net/FoQpGjojBYOWlHhOT7HmS4Pk0kkI.mp4), the screen is black.

I have checked the #2381 and #554 which are probably related to my problem, but I got nothing from them.

However, I wondered if the media is broken, I tried both Chrome and iOS, the video can be playback normally in iOS with the system player while

[2017-07-03 08:00] zijing07 opened #3014 "Cannot loop video file, it stopped playing at the last second and freeze"
### Issue description
I have a [video](http://video.baixing.net/Fn4dvWM6eyofF702mePsZDACjzGq.mp4_480p.mp4), when I play it in a loop mode or compose a playlist with multiple copied of it, the player stops playing at `state [6.97, true, B]`, while the length of video stream is 7.6s and the length of audio stream is 6.7s, as seen in [link](http://video.baixing.net/Fn4dvWM6eyofF702mePsZDACjzGq.mp4_48

[2017-07-03 09:58] andrewlewis commented on #2861
Testing on a Nexus 6P, I see the same issue on Android Marshmallow but not on Nougat, so I suspect support for 96 kHz AAC was added to OMX.google.aac.decoder in Android Nougat. Closing as there's not much we can do to support this. One workaround is to bundle your own software audio codec to use on older builds (e.g., using the [ffmpeg extension](https://github.com/google/ExoPlayer/tree/dev-v2/ext

[2017-07-03 09:58] #2861 closed, assigned to andrewlewis

[2017-07-03 10:08] ojw28 commented on #3012
For the note at the bottom, are the data sources really exactly the same in the local case? Specifically, do you still have an `OkHttpDataSource` in the chain, rather than a `FileDataSource` or similar?

If the only difference between it working and not working is having the mp3 hosted on the server, then the most likely reason for failure is that the server just isn't serving the correct data in

[2017-07-03 10:25] ojw28 commented on #3013
Looks like broken media to me; it appears to declare a video track with a broken audio sample entry.

[2017-07-03 10:25] #3013 closed, assigned to nobody

[2017-07-03 10:33] ojw28 commented on #3014
This normally happens when the media contains uneven amounts of audio and video; specifically when the audio track is significantly shorter than the video track. This indicates the media is a little bit broken. That said, we do plan to handle this case properly. We're using https://github.com/google/ExoPlayer/issues/3014 to track this.

[2017-07-03 10:33] #3014 closed, assigned to nobody

[2017-07-03 10:34] ojw28 commented on #3014
Oops, I meant we're using https://github.com/google/ExoPlayer/issues/1874 to track this.

[2017-07-03 10:36] ojw28 commented on #3011
This looks like an issue with your local setup. I was able to find some related threads by doing a regular internet search for "Unable to invoke compiler: gcc". Have you read through some of those, and did none of them help you to resolve the issue? Thanks!

[2017-07-03 10:39] ojw28 commented on #3006
The format you're seeing here is really only intended for internal use by the player (and for debugging purposes). It is correct to say that the bitrate is set to -1, but it's also correct to say this shouldn't really be a problem. Note that this format represents just the video component of the stream, after de-muxing and extraction from the container.

[2017-07-03 10:53] andrewlewis commented on #2985
Thanks for reporting this. Your suggested fix to `isReady()` looks good. I'll submit the same change and this issue will be updated when it's pushed.

[2017-07-03 11:06] ojw28 commented on #2925
I don't understand what the question is. What does it mean to "work fine" and "not work fine" in this context? Whenever the display refresh rate isn't a clean multiple of the source refresh rate, the player necessarily needs to display some frames for a greater period of time than others. For example a 2:3 pattern is common for playing 24fps content on 60Hz displays. ExoPlayer already contains log

[2017-07-03 11:09] ojw28 commented on #2924
That's unfortunate! We'll probably need to look at this in more detail, in that case.

[2017-07-03 11:11] ojw28 commented on #2959
Without a link to an actual stream that reproduces this issue, there's nothing we can do to help here. Also, a single line of log output is not a full bug report, as is requested in the issue template. Please reply here with complete information if you wish for us to investigate further. We'll re-open the issue if/when complete information is provided. Thanks!

[2017-07-03 11:54] yqritc commented on #2924
@ojw28
Sorry!! My testing branch was a bit old. After trying the above workaround based on the latest `dev-v2` and `release-v2` branches, it works now!

[2017-07-03 12:03] MongeziNombewu opened #3016 "Offline Licence Aquisition"
Hi

I am trying to acquire and store a DRM license for a video to playback, The OfflineLicenseHelper seems to accommodate this, but requires  DrmInitData object when trying to download the license [downloadLicense(DrmInitdata)]). What data should be populated in the SchemeData object required to initialize the DrmInitData object?

[2017-07-03 12:37] DavidMihola opened #3017 "Fix adaptive switching for live playbacks close to the live edge"
### Problem description

This is mainly a question about ExoPlayer's behavior and maybe a request for best practices in handling this case:

In our app we have both "normal" live streams (Live stream with limited availability) and what we are calling "startover streams", which enable you to watch the current program from the beginning (Live stream with indefinite availability). All are streamed wi

[2017-07-03 12:58] ebr11 commented on #2147
Hi.  Is there any ETA on when we might get native support for passing through these advanced audio codecs?  Thanks.

[2017-07-03 14:18] andrewlewis commented on #3011
There may also be information that would help diagnose this in `config.log`, as suggested in the error message.

[2017-07-03 14:32] ghost commented on #3011
Hello,

I have try some solution (not all). But it no help. If I remove the arch[3]="x86" and shift up all architecture. The build was look pretty good and have no problem.

Here is the content in the config.log:

[code]

Thank you

[2017-07-03 14:56] ghost commented on #3011
I can see the problem that I missing the sys/cdefs.h.

So I will try to solve by myself. I haven't know that we have the log in there.

Thank you.

[2017-07-03 15:01] ErezNe commented on #2925
Hi
"Work fine" I mean the video is playing smooth on the TV screen ,"not work fine" the video is not smooth and it looks like I have lost frames on the video stream,The best way to see it when on the video has running news bar or the movies credits is running .
Is there a  logic in VideoFrameReleaseTimeHelper for playing **25fps** content on **60HZ?**

Erez

[2017-07-03 15:07] TOrnelas opened #3018 "android.media.MediaDrmResetException: mediaserver died"
Hey,

When trying to play DASH + Widevine from the media.exolist.json sample file I'm getting the following Error:

07-03 16:01:45.730 16769-16769/com.google.android.exoplayer2.demo E/EventLogger: internalError [2.48, drmSessionManagerError]
                                                                                 android.media.MediaDrmResetException: mediaserver died

[2017-07-03 15:11] AquilesCanta commented on #3018
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-07-03 15:11] #3018 closed, assigned to nobody

[2017-07-03 15:25] TOrnelas opened #3019 "Unable to play sample DASH + Widevine: mediaserver died"
### Issue description
When trying to play one of the DASH + Widevine videos on the media.exolist.json I get "mediaserver died".

### Reproduction steps
Launch sample app, select any Widevine DASH video to play.

### Link to test content
        "name": "WV: Secure SD & HD (MP4,H264)",
        "uri": "https://storage.googleapis.com/wvmedia/cenc/h264/tears/tears.mpd",
        "drm_scheme": "widevine

[2017-07-03 16:23] Mithrandir21 commented on #3012
@ojw28 Thank you for the quick reply. I was originally using `DefaultUriDataSource`, which gave me a shorter seeking span than with OkHttpDataSource. So for the purposes of fixing the seeking issue, I switched to OkHttpDataSource. When using `DefaultUriDataSource` I could use the same exact code for both web hosted encrypted mp3 and local encrypted mp3.

I will try the hosting the mp3 somewhere el

[2017-07-03 16:31] ojw28 commented on #2925
It's just not possible to perfectly map 25fps content onto 60Hz. The fact 60/25 isn't a clean multiple is a fundamental limitation.

VideoFrameReleaseTimeHelper will cause 25fps content to be played in a 2:3 pattern (e.g. every other frame displayed for 2 display VSYNCs, with the ones in between displayed for 3 display VSYNCs). Periodically it's necessary to insert an extra 2 display VSYNC frame,

[2017-07-03 16:41] ojw28 commented on #3017
It's probably fair to say `AdaptiveTrackSelection` just isn't well suited for this use case at the moment. It was written for on-demand use cases, and we didn't update it when we started supporting live.

In the short term: It's possible for you to pass your own `TrackSelection.Factory` through the `DefaultTrackSelector` interface, that could instantiate `AdaptiveTrackSelection` instances with the

[2017-07-04 01:21] goffioul commented on #2891
I've updated the patch for the branch dev-v2, you can find it here:
https://drive.google.com/open?id=0BwljeX6541LuSTg5ZzBTcHBCNEU

I'm still getting an exception thrown when playing the test clip with the discontinuity:

    AudioTrack: Discontinuity detected [expected 89621722, got 89909722]
    ExoPlayerImplInternal: Internal runtime error.
    ExoPlayerImplInternal: java.lang.NullPointerExcepti

[2017-07-04 01:44] jiafei1986 opened #3020 "Exoplayer2 keep trying to load stream when getting error"
I am now developing the video app by dash stream,  I found the exoplayer2 keep trying to load the data when getting error, it still trying to load even close the player,   below is the exception.    is there a way stop the load thread?
` com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404

[2017-07-04 02:00] zijing07 commented on #3013
Thank you very much for the rapid reply!

[2017-07-04 02:32] zijing07 commented on #1874
Well I tried the workaround @ojw28 mentioned in #1846 , it does not help though.

When the player is about to reach the end, `playbackstate` changes to `buffering` and the player freezes. [video link](http://video.baixing.net/Fn4dvWM6eyofF702mePsZDACjzGq.mp4_480p.mp4)

[2017-07-04 07:03] andrewlewis commented on #3020
What do you mean by "close the player"? Are you seeing this loading error repeatedly even after calling `ExoPlayer.release()`?

[2017-07-04 07:26] DavidMihola commented on #3017
Thank you very much for your reply!

For now, I think were just going to limit the seek position explicitly - but we might also keep playing with the parameters and see how that works out...

[2017-07-04 07:30] yueyueniao2012 commented on #2872
hi, @AquilesCanta  is there any expected time for the patch concerning this issue?

[2017-07-04 07:43] sdex opened #3021 "ExoPlayer enters into endless buffering state (HLS)"
### Issue description
ExoPlayer enters into endless buffering state. VLC plays video fine.

### Reproduction steps
Run the video, seek to 4:00 minutes, on 4:10 playback is stopped, ExoPlayer enters into endless buffering state.

### Link to test content
The link has been sent.

### Version of ExoPlayer being used
2.4.3

### Device(s) and version(s) of Android being used
All devices and emulators.

[2017-07-04 08:33] AquilesCanta commented on #2872
Still waiting for review. Thanks for your patience.

[2017-07-04 09:04] andrewlewis commented on #2147
Support for `ENCODING_IEC61937` is not being prioritized at the moment as we haven't seen a lot of demand for it so far. If you're asking about something different, please clarify.

[2017-07-04 10:11] ojw28 commented on #1874
@zijing07 - There was some confusing posting of similar-but-unrelated issues onto the bottom of some of the issues that reference this one, which I've now removed for clarify. As an aside, the reason we've started automatically locking old issues is to help prevent this kind of confusion.

If you have the issue being tracked here, where the end times of the audio and video tracks are uneven in the

[2017-07-04 10:19] Mithrandir21 commented on #3012
I have attempted the hosting the file somewhere else and I got the same results, seeking not possible.
But the observation I have made about the what the CacheDataSource does might be useful in understanding the issue.

The following steps happen when I seek to a far away point in the encrypted mp3:
1. The `AesCipherDataSource` asks it's upstream DataSource, `CacheDataSource`, for a CacheSpan.
2.

[2017-07-04 10:30] ojw28 commented on #3012
The "giving up" part is highly likely because the data being read through the chain isn't valid mp3 media (i.e. something's going wrong that causes the data read to be malformed). I think at this point we'll need a link to sample content + the secretKey required to configure an `AesCipherDataSource` to help debug this. Without this information we have no way to reproduce.

[2017-07-04 12:04] tonihei commented on #1706
We finished working on the [DynamicConcatenatingMediaSource](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/source/DynamicConcatenatingMediaSource.java) by now. You'll find it in the dev branch. It works exactly the same as the ConcatenatingMediaSource but also offers methods to add, remove, and access media sources during playback.

[2017-07-04 12:04] #1706 closed, assigned to tonihei

[2017-07-04 13:27] StevenRudenko opened #3022 "Video squashed while SurfaceView rotation animation on Android N+ devices"
### Issue description

According to [documentation](https://google.github.io/ExoPlayer/faqs.html#should-i-use-surfaceview-or-textureview):

However while using `SurfaceView` on Android N+ devices video playback is squashed while view rotation animation.

### Reproduction steps
1. Add `SurfaceView` inside `AspectRatioFrameLayout` and set it as source for player:  `SimpleExoPlayer.setVideoSurface(su

[2017-07-04 13:39] yqritc commented on #2935
As same as #2924, forcing usage of the secure decoder for playback of both the clear and protected content works around the issue.

[2017-07-04 14:33] magillus commented on #1706
That is great news! Thank you!

On Tue, Jul 4, 2017, 2:04 PM tonihei <notifications@github.com> wrote:

[2017-07-04 16:02] Mithrandir21 commented on #3012
Here is sample content. The two urls link to the exact the same file, the first unencrypted and the second encrypted.

Unencrypted mp3:
http://streamerv3.nmusic.sapo.pt/6fddb7d788ddcdcca746c5f90d1eda4e/20560166/stream

Encrypted mp3 - Key: 43559861C07D2252
http://streamerv3.nmusic.sapo.pt/f8d75520ae7e9d361acb6d80c14b67bb/20560166/stream

[2017-07-04 16:02] wtroynelson opened #3023 "Chrome OPUS MediaRecorder"
Just upgraded from Exoplayer v1 to Exoplayer v2. v1 can decode OPUS audio generated by Chrome media recorder just fine using WebmExtractor(). MatrasokaExtractor on v2 seems to have problems decoding a Chrome generated OPUS file (using MediaRecorder and recording voice from microphone)

Chrome generated OPUS seems to have a few hundred bytes of extra data at the beginning of the file. If i manually

[2017-07-04 16:03] ojw28 commented on #2891
That failure implies your patch is writing incorrect data to the track output. For example, the values passed to output.sampleMetadata may imply the data of one sample overlaps that of another, or may refer to data that hasn't been written to the output yet.

The intended segmentation of the stream into samples is that each sample should produce a corresponding output buffer after decoding. Is you

[2017-07-04 16:16] ojw28 commented on #3012
I see the same issue as you do. However if I download the stream and host it on cloud.google.com, it works fine in that case. Which implies something is wrong on the serving side.

Note: The cache existing in the chain or not doesn't make any difference to whether this issue reproduces.

[2017-07-04 16:32] ojw28 commented on #3012
You can see the problem using curl. Requesting the first 32 bytes:

[code]

Requesting 16 bytes starting 16 bytes in:

[code]

If I download the stream and upload it to cloud storage, and then make the same request to that server:

[code]

For things to work correctly, the bytes returned in the "16 bytes starting 16 bytes in" case should match the second half of the "32 bytes starting 0 bytes in"

[2017-07-04 16:32] #3012 closed, assigned to nobody

[2017-07-04 16:43] ojw28 commented on #3023
The sample file doesn't seem to play in V1 either for me. What version of V1 were you using, exactly?

[2017-07-04 16:44] ojw28 commented on #3023
I can't play it in VLC or Chrome either. Are you sure the link is correct?

[2017-07-04 17:12] wtroynelson commented on #3023
Hmm.. odd. I'll do some research and get back to you this afternoon. It would have been June last year that I compiled Exoplayer v1. Found this in the build.gradle

publish {
    repoName = 'exoplayer'
    userOrg = 'google'
    groupId = 'com.google.android.exoplayer'
    artifactId = 'exoplayer'
    version = 'r1.5.7'
    description = 'The ExoPlayer library.'
    website = 'https://github.com/g

[2017-07-04 17:14] ojw28 commented on #3023
The content you've linked to is only 88 bytes long, so I suspect the link is incorrect.

[2017-07-04 17:41] Mithrandir21 commented on #3012
@ojw28 Thank you for such a quick and thorough assessment of the issue. I agree with your conclusion and hope that this post will help anyone having similar issues in the future.

[2017-07-04 20:04] wtroynelson commented on #3023
It appears you are correct. It seems my instance of MediaRecorder running in Chrome got bugged somehow, and in 24 hours of debugging I never thought to hit refresh on that page.

I have confirmed Exoplayer v2 with libopus working well with Chrome MediaRecorder (now that Chrome is generating valid OPUS in WebM).

[2017-07-04 20:39] ICommandMachinesObey opened #3024 "ExoPlayer can't play TS Stream but VLC Desktop can!"
I added ExoPlayer library to my android application,I can play many types of videos, I tried to play TS Stream (MPEG-4 AVC Part 10) with no luck (Samsung Galaxy S4 Android 5.1,armv7, Samsung Express Android 4.4, Alcatel Android 6), the same streaming url is working great on VLC Desktop (Windows 10). informations about streaming media is on attached screenshot.

The code I used :

        mediaData

[2017-07-04 21:15] ojw28 commented on #3024
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-07-04 21:15] #3024 closed, assigned to nobody

[2017-07-04 21:16] #3023 closed, assigned to nobody

[2017-07-04 23:34] jiafei1986 commented on #3020
@andrewlewis  I just run the demo app, and click the back button to quit the player Acvitiy.

[2017-07-05 01:06] gregkorossy commented on #867
I am facing the same problem with `RecyclerView` using ExoPlayer 2. I have multiple items representing either an audio or a video player and there might be an unknown number of items (probably more than 1) visible at the same time.
I implemented the player reuse by delegating it to a service so it can keep playing in the background too, which is good. My main problem is that the `SimpleExoPlayerVi

[2017-07-05 04:45] NtcWai opened #3025 "[Question] why MediaSource need to be re-created when Player in playlist mode ?"
When device lost connection, and after re-connected, my Exoplayer not auto resume.
I corrected it by using a BroadcastReceiver. When network be re-connected, method onNetworkAvailable() be called:
[code]
But I have a problem, it worked well when player on single mode, but not in playlist mode, so I fix it by re-creating MediaSource like that:
[code]
It worked, but I don't understand why ? Please e

[2017-07-05 08:55] langxuelang opened #3026 "Support lacing in Matroska Blocks"
when I play some mkv files,exoplayer report error below.

[code]

and this is the link of file
https://drive.google.com/open?id=0BwneL-jNaOWGMXRXN0RrYWNnUTQ

[2017-07-05 09:05] andrewlewis commented on #3026
The relevant error is "Lacing only supported in SimpleBlocks". Marking as an enhancement to support lacing in Blocks, but this seems to be rarely used so it's unlikely we will get round to it soon. (And if we do implement this, you'd need to upgrade to v2 to use it.)

If you need to use lacing, is it feasible for you to change the container to use only SimpleBlocks?

[2017-07-05 09:25] langxuelang commented on #3026
@andrewlewis thanks for your replying.So currently I will notice user not support this video format.

[2017-07-05 09:32] tonihei commented on #3025
From the code snippets you provided, it is not quite clear what playlist.createConcatSources and preparePlayerInternal are doing exactly. I assume that the former creates a new ConcatenatingMediaSource and the latter calls ExoPlayer.prepare.

When calling ExoPlayer.prepare, the whole player is reset and starts preparing a _new_ media source. MediaSources are not designed to be re-used. That means,

[2017-07-05 09:32] #3025 closed, assigned to nobody

[2017-07-05 10:07] iponkan opened #3027 "Video of High-Quality when setPlaybackParameters above 4x is not work"
I was trying to play video in 2x／4x／6x，when it is 480p videos，it is fine。When quality of video is high,like 1080p or 2k,2x is fine, but 4x the video is not palying and the time keep going-up.
here is my code:

[code]