[2020-10-13 12:11] kim-vde commented on #8031
@tonihei I don't see how the timestamps can diverge. The audio and video timestamps are both based on the PTS in the PES packets ([code](https://github.com/google/ExoPlayer/blob/release-v2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/PesReader.java#L220)). The only possibility I see is that some PTSs are incorrect, but then I don't see why the behaviour would be diffe

[2020-10-13 12:28] krocard commented on #8058
at com.google.android.exoplayer2.audio.AudioSink com.google.android.exoplayer2.DefaultRenderersFactory.buildAudioSink(android.content.Context, boolean, boolean, boolean)

I don't understand how this is possible `AudioTrack.StreamEventCallback` is only used by `StreamEventCallbackV29` as base class:
https://github.com/google/ExoPlayer/blob/d386d03b112f965a77743bfa17d566ab32c3e7c5/library/core/src/m

[2020-10-13 12:36] Zevsus opened #8072 "Opus doesn't work with m3u8"
Good afternoon, add the opus extension according to the instructions. But when I turn on the stream (m3u8) with opus, I get an error.
[code]

[code]
[playlist.zip](https://github.com/google/ExoPlayer/files/5371306/playlist.zip)

[2020-10-13 12:45] #7993 closed, assigned to icbaker

[2020-10-13 12:48] marcbaechinger commented on #8071
When you are in a service and the `PlayerView` is not in a view hierarchy built up by an activity/fragment you can not do a `findById(id)` to get the view. How do you create that view that you return in `myPlayerView`?

[code]

Is the log exception the only thing you see in the logs? I wonder whether you can add an `EventLogger` to the app, repro again and send me a bug report/logcat output. We th

[2020-10-13 12:58] marcbaechinger commented on #8072
Seems like the `TsExtractors` starts extracting and finds that what is referenced in the m3u8 file is not a ts file that is referenced.

The Opus samples need to be in a container that needs to be supported by HLS. The [supported formats section about HLS](https://exoplayer.dev/supported-formats.html#hls) lists what that can be.

Looking at the supported format page, I don't think you need the opu

[2020-10-13 13:15] marcbaechinger commented on #8072
The media urls in the m3u8 file you added as ZIP file give me a http forbiddden. So I can not really check what container it is using.

[2020-10-13 13:16] ilker-aktuna commented on #8071
myPlayerView is my function under activity which returns the playerview from that activity:

[code]

Actually I don't use a trackselector. I use a Uri to build a HlsMediaSource:

[code]

If you tell me how to create the eventlogger, I can get you the logs with events that you expect.

[2020-10-13 13:21] y20k commented on #7942
@kim-vde You must have overseen something. The media item should have local file Uri, like `file:///storage/emulated/0/Android/data/org.y20k.escapepod/files/audio/Accidental%20Tech%20Podcast/atp399.mp3`. Playback does not require a network connection.

[2020-10-13 13:22] ghost commented on #8053
Thanks for the suggestion. The problem was indeed players competing for the cache file of the same video.

I couldn't find a way to change write access after constructing the data source to solve the scenario where:
- player A is playing video 1
- player B is attached and plays video 1: in this case disable the write access for player B
- player A is detached: enable write access of player B

So I

[2020-10-13 13:22] marcbaechinger commented on #8071
Does this not work as above?

[code]

[2020-10-13 13:26] tonihei commented on #8012
Based on the discussions above (in particular the two examples in https://github.com/google/ExoPlayer/issues/8012#issuecomment-704159699), I think it's more one of the following:
 1. Use the `MediaSource` based playlist API (no need to customize the `MediaSourceFactory` as it gets optimized away).
 2. Or use a fully customized `MediaSourceFactory`, that is, not even `ProgressiveMediaSource.Factory

[2020-10-13 13:31] ilker-aktuna commented on #8071
I didn't understand how to implement that.
I already have an analyticslistener created from a custom class.

[code]

do you want me to add another analyticslistener ?
and what shall I observe ?

thanks.

[2020-10-13 13:39] marcbaechinger commented on #8071
Ah, ok, sorry. Yes, you can add as many analytics listener as you want. `EventLogger` just prints a nice log statement to the console for each event it receives. So you logcat will have a pretty nice output to see what is going on in the player.

If you want to interpret yourself, there is a[ section in the developer guide](https://exoplayer.dev/listening-to-player-events.html#using-eventlogger) a

[2020-10-13 13:41] Zevsus commented on #8072
is work https://api-v2.soundcloud.com/media/soundcloud:tracks:619905291/c713fe8d-fb5d-4ce0-9b36-f32c2d016554/stream/hls?client_id=tjYModkBgXhr3bXS6OoNjnLR7wLLzy2i
not work https://api-v2.soundcloud.com/media/soundcloud:tracks:619905291/9bfb8ad5-35a0-4ae4-9097-2c7aabec81e0/stream/hls?client_id=tjYModkBgXhr3bXS6OoNjnLR7wLLzy2i

[2020-10-13 13:42] ilker-aktuna commented on #8071
ok. I will do as you suggested and get a log when the problem is reproduced.

But I want to ask; on which part of the problem are we trying to focus on right now ?
The exception says " Too many open files" . Shall we be able to see what  causes this through the AnalyticsListener ?

[2020-10-13 13:43] marcbaechinger commented on #8064
You can only use one `PlayerControlView` that is part of the `PlayerView`. But you can place a second `PlayerControlView` somewhere in you activity layout file, look that component up with `findById(id)` and then pass the player to `setPlayer(player)` of that view.

[2020-10-13 13:47] marcbaechinger commented on #8071
I'm not sure what is not working. I would expect that there is something in the logs that gives us more information where to dig.
At least I can see whether the player is initialized, prepared and destroyed as expected. If that is not the case we can investigate some further to find whether some components do not close files properly or similar. Short: we want to check whether the too many open fi

[2020-10-13 13:55] marcbaechinger commented on #8072
Sorry, you need to be a bit more clear. These urls return a JSON file. If you want to help me efficiently please become a bit more verbose. :)

[2020-10-13 13:59] Zevsus commented on #8072
There is a link to url.Generated

[2020-10-13 14:10] marcbaechinger commented on #8072
Exactly. And every media url gives me a HTTP forbidden.

I suspect these are not TS files. Can you check wehther the container of these files is one of the [containers supported by HLS](https://exoplayer.dev/supported-formats.html#hls)?

[2020-10-13 14:11] xufuji456 opened #8073 "Mov file with pcm_u8 audio track couldn't play correctly"
Hello, guys of developer, nice to contact you again. I Found that Mov file with pcm_u8 audio track couldn't play correctly. It uses Mp4Extractor, when running on the method of readSample, the sampleSize of audioTrack is always 1. As a result, audio frame couldn't be decoded correctly. Looking forward to your reply.

Here is the testing video: [https://drive.google.com/file/d/1QMX--yv2jloMbANXWQbAe

[2020-10-13 14:19] krocard commented on #8058
I can reproduce on the emulator (API 27).
Here is what I have tried that does not get rid of the inner class `StreamEventCallbackV29` loading if API < 29:
 - make it static inner
 - make it a separate top level class instead of an inner class
 - store in an `Object` reference
 - remove `@MonotonicNonNull`
 - remove all calls to the class constructor (aka the class is never constructed)
 - add an e

[2020-10-13 14:21] Zevsus commented on #8072
https://api-v2.soundcloud.com/media/soundcloud:tracks:619905291/9bfb8ad5-35a0-4ae4-9097-2c7aabec81e0/stream/hls?client_id=73a3db34973aee46de488c0b902b5cc3
Try this should get the link.

[2020-10-13 14:21] Zevsus commented on #8072
Write when check delete.

[2020-10-13 14:25] marcbaechinger commented on #8072
This is an OGG container with Opus samples. You need to provide a container that is [supported by HLS as documented in the supported formats page](https://exoplayer.dev/supported-formats.html#hls).

[2020-10-13 14:27] Zevsus commented on #8072
Thank you correctly, I understood in this format, I can not lose anything.

[2020-10-13 14:29] krocard commented on #8058
Interestingly, the same pattern that causes problem for `StreamEventCallback` is used for `MediaCodec.OnFrameRenderedListener`:
https://github.com/google/ExoPlayer/blob/r2.12.0/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1752-L1754
The difference is that `MediaCodec.OnFrameRenderedListener` is an interface and not an class.
Thus API specific interfa

[2020-10-13 15:02] ccparram commented on #7993
Here again just to say thank you @icbaker. Your answer was perfect.

[2020-10-13 15:22] ilker-aktuna commented on #8071
sure. I'll try get it.

[2020-10-13 16:13] #8072 closed, assigned to marcbaechinger

[2020-10-13 16:27] andrewlewis commented on #6432
Note: it looks like this wasn't actually fixed in 3.18.1 but there is a fix coming in the upcoming IMA SDK version 3.20.1.

[2020-10-13 16:32] kim-vde commented on #7942
In `PlayerService.kt`, I added a break point in `preparePlayer()`, just after line `val mediaItem: MediaItem = MediaItem.fromUri(episode.getMediaId())`. Then I noticed that `mediaItem.PlaybackProperties.uri` was set to https://traffic.libsyn.com/atpfm/atp399.mp3.

Then, I added a breadpoint in ExoPlayer `DefaultDataSource.java` in method `open` and observed that the `dataSource` selected was an HT

[2020-10-13 19:58] y20k commented on #7942
OMG. You are right. I feel embarrassed. I knew the error must have been somewhere in my code, since [I could not reproduce](https://github.com/google/ExoPlayer/issues/7942#issuecomment-701353752) the problem in the demo app. But I did not expect the mistake to be that obvious:

[Fast playback startup (production)](https://github.com/y20k/escapepod/blob/v0.9.3/app/src/main/java/org/y20k/escapepod/P

[2020-10-13 19:58] #7942 closed, assigned to kim-vde

[2020-10-13 22:21] marcbaechinger commented on #7430
I wonder whether you have upgraded to a later version since you've seen these errors. It would be interesting to hear whether you see this after having migrated to 2.12. We improved how the internal player thread shares the information contained in the public timeline with the app thread.

I'm closing this issue for now.

In case you track this error with the recent ExoPlayer version, please re-op

[2020-10-13 22:21] #7430 closed, assigned to marcbaechinger

[2020-10-13 22:22] marcbaechinger commented on #7777
Closing due to inactivity.

[2020-10-13 22:24] marcbaechinger commented on #7383
Closing due to inactivity.

[2020-10-13 22:24] #7383 closed, assigned to marcbaechinger

[2020-10-13 22:24] marcbaechinger commented on #7101
Closing due to inactivity. Please re-open if you want to proceed.

[2020-10-13 22:24] #7101 closed, assigned to marcbaechinger

[2020-10-13 22:25] marcbaechinger commented on #7778
Closing due to inactivity.

[2020-10-13 22:25] #7778 closed, assigned to marcbaechinger

[2020-10-14 00:59] a4x4kiwi commented on #8031
@kim-vde  when playing the file locally, the AV is in sync.

[2020-10-14 01:22] wangxuan217 commented on #8066
ok the file is a large file , this limit 10MB ,so I will try to upload my GitHub ,but the large file limit, too.I try to change other file with play.so have same error,I think the media file is No problem. when i play only one media file like this

[code]

and I select track like this

[code]

this is no problem,It can change track, when i use **MergingMediaSource** and select track ,the error hap

[2020-10-14 02:11] kuailedeadai commented on #4448
Hello, the solution you provided, the method of not throwing an exception within 100ms and retrying does not solve this problem. Our data statistics still have such error messages. Do I need to modify others? In addition to this submission

[2020-10-14 08:19] kim-vde commented on #7942
No problem, happy to help!

[2020-10-14 09:11] kuailedeadai commented on #7491
It can be solved by reinitializing the hard decoder or converting to soft solution

[2020-10-14 10:16] ilker-aktuna commented on #8071
I've added  the code for eventlogger and now run the app. Usually  the memory problem occurs after an hour of continuous run.
I can share the current events if you want. Normally it goes through the same process every 15 seconds.
How should I send the log ?

[2020-10-14 10:22] krocard commented on #4448
If AudioTrack still fails to be created with https://github.com/google/ExoPlayer/commit/7dfdde9246b28ad977ebe712e485033ee688652d applied, aka you are still seeing the error
`AudioSink$InitializationException: AudioTrack init failed:`, you can try to increase the `AUDIO_TRACK_RETRY_DURATION_MS ` timeout (from 100ms to 500ms for example as you suggested in https://github.com/google/ExoPlayer/issues/

[2020-10-14 11:22] marcbaechinger commented on #8071
You can upload here or if you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #8071". Please also update this issue to indicate you’ve done this.

[2020-10-14 11:50] vinodkputta commented on #8014
@krocard In which version these changes will be released?

[2020-10-14 12:38] ilker-aktuna commented on #8071
in the attached file I have events from the running process.
The app has not crashed yet, so I don't have the exception with "too many open files"  issue.
When I catch it I will also upload this. But meanwhile maybe you can catch something that I'm doing wrong which causes unreleased resources.

Also, is there a way to use "videolistener" without keeping the display on and  playing video ?
I am us

[2020-10-14 12:49] marcbaechinger commented on #8069
When I download that mp4 file with curl I see that the network is very slow:

[code]

I takes 16 seconds to download a 2 sec video with 3888k

When I  play the same file from the asset folder it works fine:

[code]

From this I don't think it's an actual problem with the player. Can you confirm it plays fine for you when playing from the asset folder?

[2020-10-14 14:41] theAkshay60 opened #8074 "Source error. com.google.android.exoplayer2.source.UnrecognizedInputFormatException in Flutter"
[code]

The video urls can't be opened inside a browser. It can only be opened inside the video player.
I get a list of 8 url which I fed to the video player, however only one url was able to play which is mentioned below:

https://media.lwwindia.in/books/9789389859737/videos/9.1+Jaw+deviation+-+Left.mp4?Expires=1602685241&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9tZWRpYS5sd3dpbmRpYS5p

[2020-10-14 15:09] biswarupdasgupta commented on #7607
Issue was seen more on mobile networks. So if possible, can you please
throttle the speed and check?

Thanks

On Fri, Oct 9, 2020 at 11:06 PM tonihei <notifications@github.com> wrote:

[2020-10-14 15:23] icbaker commented on #7997
Thanks for flagging - I agree these errors are pretty confusing.

I've sent a change switching ExoPlayer to depend on Guava as 'api', which I believe resolves both #7905 and #7993.

I'm not going to make any additional documentation changes - in the short term people can find these issues until the 'api' dependency change is included in a release.

[2020-10-14 15:33] marcbaechinger commented on #8071
Thanks for the logs.

After looking into this I think that something is not going on as we expect it from your report.

1) Init/Release: When ExoPlayer is [inititalized](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L136) and [released](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/co

[2020-10-14 16:08] marcbaechinger commented on #8074
I'm getting a 403 when trying the above uri from within the player.

[code]

The log line you pasted above says that the format is not not recognized by the player. This can be because the format is not supported.

Please let me know how I can access the stream so I can investigate. I can not really help more with the current information available.

[2020-10-14 16:13] marcbaechinger commented on #8066
Can you play the wave file standalone too?

[code]

[2020-10-14 16:21] krocard commented on #8014
They are scheduled to be part of the next major release 2.13.0 that will probably be release in the first few months of 2021.

[2020-10-14 16:34] marcbaechinger commented on #8073
Mov is the Apple Quicktime format. This is similar to MP4 but not exactly. Some files may work with ExoPlayer while some do not. So in your case it seems that the MP4 extractor does not like it, I'm afraid:

[code]

Why are you thinking it has something to do with the pcm_u8 audio track? Have you been able to play a mov file with another audio track?

Can you give me a bit more details on how you

[2020-10-14 16:39] marcbaechinger commented on #8073
I assign to @kim-vde so you have someone looking into it who actually knows all the extractor details.

[2020-10-14 16:51] ilker-aktuna commented on #8071
thanks for analyzing it.
actually there is only one place in my code that I change the source. and that is where I call the restartPlayer() function.
it is called every 15 seconds and the code for the funtion is :

[code]

so as you see it has the release function. it also has "player=null" to make sure we create a new player every time.
how come it is not logged in the events as you can't see ?

[2020-10-14 16:51] #7777 closed, assigned to marcbaechinger

[2020-10-14 17:08] marcbaechinger commented on #8071
I think the `MediaCodecVideoRenderer` needs a surface to do the rendering. So you need to provide your surface. Doing this without a `PlayerView` is an advanced topic which I probably can't support you with I'm afraid.

Yes, that's why I wanted to see the logs and analyzed it. I actually don't think this is a player problem, but an app problem. I haven't found anything suspicious except that it se

[2020-10-14 17:28] ilker-aktuna commented on #8071
ok. I actually tested now without a videolistener and just before changing the source, I can get bitrate and resolution with :
[code]

so I will stop using the videolistener.
and that will let me use the app with no obligation to let screen on.
that is good.

for the "too many open files" issue , I will check further. let me try to get the exact moment where that occurs.

but you say that I don't

[2020-10-14 17:30] #8000 closed, assigned to kim-vde

[2020-10-14 18:13] splrs opened #8075 "Pixel C no longer plays Widevine content (and cannot be provisioned after factory reset)"
### Issue description
The Google Pixel C can no longer play Widevine encrypted content as a level 1 device, with the licence server rejecting licence requests - unfortunately I don't have a log this occurring while the device was provisioned...

Regarding it being provisioned: When I discovered that it would no longer play Widevine streams, I attempted a factory reset to see if re-provisioning wou

[2020-10-14 18:34] marcbaechinger commented on #8075
I think this is a duplicate of #7986

[2020-10-14 18:36] marcbaechinger commented on #8075
Please see [this comment](https://github.com/google/ExoPlayer/issues/7986#issuecomment-701057240) in #7986 that explains how to use L3.

[2020-10-14 18:42] AquilesCanta commented on #5053
Hi @itboy87, is this still an issue for you? I'm not able to reproduce by introducing the following code in the demo app:

[code]

If it's still an issue can you provide some insight on how we may be able to reproduce? Perhaps you can provide a minimal sample app or code snipped for me to try?

[2020-10-14 19:35] ilker-aktuna commented on #8071
I removed the videolistener and now getting the bitrate/resolution from videoFormat as soon as the video is loaded.
now the app does not crash, or produce memory issues.
maybe it solved the whole issue

[2020-10-14 19:57] nishantkp commented on #8035
@tonihei do you have an ETA for the next release?

[2020-10-14 20:24] marcbaechinger commented on #8071
When you do this

[code]

the player is restarted only when the player is buffering. In all other cases you call startPlayer(). I assume you do not release properly in startPlayer which results in many players being created which eventually gives you the too many open files/Out of memory problem.

Please review your code to make sure to create and release the player properly. Study the methods `in

[2020-10-14 20:43] ilker-aktuna commented on #8071
well, the startPlayer is only called when the player is not buffering. doesn't that also mean , "when player is not playing"
what is recommended to change the stream ?
should I release and recreate ?
should I set it to null and recreate ?
or should I just prepare ? (no release)

I know you recommend to check the demo app but it is far more complicated then my app.
I don't use a trackselector , ins

[2020-10-15 00:32] MRDHR commented on #8069
![QQ图片20201015082832](https://user-images.githubusercontent.com/5576916/96059399-771f9400-0ec0-11eb-88ed-e9bfcd91766d.png)
![QQ图片20201015082847](https://user-images.githubusercontent.com/5576916/96059400-7850c100-0ec0-11eb-89ea-23ab96afc358.png)

I tried to put the mp4 file in the assets folder and play it. The playback is the same as the performance of http url.
sound normally and picture freezes

[2020-10-15 00:34] MRDHR commented on #8069
Here is the log of the playback.
[code]

[2020-10-15 00:38] MRDHR commented on #8069
I see a line that says MediaCodec: [OMX.MTK.VIDEO.DECODER.AVC] setting surface generation to 28034059.

Is it because of this decoder that the image is frozen?

[2020-10-15 01:04] #7926 closed, assigned to icbaker

[2020-10-15 01:04] #7925 closed, assigned to icbaker

[2020-10-15 01:05] #7912 closed, assigned to icbaker

[2020-10-15 01:05] #7741 closed, assigned to andrewlewis

[2020-10-15 01:27] wangxuan217 commented on #8066
yes ,the wave file play standalone too.the mp4 and wav are play standalone too, these can Merge play but they can't select track, when i try to select track, the error is occurred.I think you can try to use ** MergingMediaSource**,and merge two media file play,and change one of them track.I think the erro is occurred, too.

or

you can give me two media urls,I verify http way.

@marcbaechinger

[2020-10-15 01:33] MRDHR commented on #8069
I tried to modify the getDecoderInfos method in MediaCodecUtil by adding the following code.
[code]
The picture will still freeze when it is played.

[2020-10-15 02:09] jayoss152 opened #8076 "Did this frame support ogv video?"
If it supported,How do i use it?
I tried to use it to play ogv video,but there was an error.

[2020-10-15 02:19] xufuji456 commented on #8073
The mov with pcm_u8 frame always output sampleSize of 1.  In other words, it samples one byte to decode every time.

I try to play mov with pcm_s16le(swot), and it works well. I found that it needs to rechunk these rawAudio frame which has fixSampleSize. Mov with pcm_s16le has been rechunked, so it could play correctly. As a result, I rechunk pcm_u8 frame, then it could play too. I could pull a re

[2020-10-15 03:02] sontn-fabbi commented on #8064
![121677069_845353189606862_2558404011609905879_n](https://user-images.githubusercontent.com/51307139/96078928-c0321100-0edd-11eb-816b-006e0538eff3.jpg)

I did like that.
But I got a problems with update time bar was split., click play button, the pause button was hidden
 I am using MotionLayout, and when trasition complete, Is there invalidate to update UI of the PlayerControlView?
How can I do i

[2020-10-15 03:37] Jacko07 opened #8077 "when I play the http video, the picture freezes easily"
### [REQUIRED] Issue description
Hello, when I play the http video, the picture  freezes easily . Sometimes it freezes more than 7seconds.When freezed,mPlayer.getCurrentPosition() always return the same value

### [REQUIRED] Reproduction steps
[code]

### [REQUIRED] Link to test content
http://img.l.zeasn.tv/15965888775f2a034d0ab94.mp4

### [REQUIRED] A full bug report captured from the device
[co

[2020-10-15 05:24] theAkshay60 commented on #8074
You won't be able to access the url inside a browser. You'll have to feed the url inside some sort of video player. We've a website and all the url are working there. Inside the exoplayer, some url are working and some are not. There is also one issue. When I try to replay the video, It doesn't load.

[2020-10-15 06:38] tuesda opened #8078 "NullPointerException in DownloadManager$InternalHandler.onContentLengthChanged()"
### [REQUIRED] Issue description
- there are some crashes on sentry which occurs in DownloadManager.InternalHandler.onContentLengthChanged()
- this crash is new on exoplayer 2.12.0, there is zero crash on exoplayer 2.11.7

### [REQUIRED] Reproduction steps
It is hard to reproduce for me on my device, but I found 600 times crash on sentry which occurs on user's devices

### [REQUIRED] Link to test

[2020-10-15 07:44] antranvn opened #8079 "Audio record while playing local audio file"
### [REQUIRED] Searched documentation and issues
There is a bit similar question: https://github.com/google/ExoPlayer/issues/1167 but it doesn't have a solution yet.

### [REQUIRED] Question
Let say I have a wav file local, it is kind of beat music, and then I play this file using ExoPlayer, I also sing a song at the same time. Is there any way to record audio at that time?

[2020-10-15 08:55] krocard commented on #7994
This is taking longer than expected.

Last week, I could reproduce the issue with our gapless sweep setup on the emulator (2 gapless tracks back to back instead of a loop). So I looked into it and found weird inconsistency between platform (see hash differences bellow) which I thought caused the bug. See folded block bellow.
Nevertheless, today I realize that I can no longer hear a gap in the gapl

[2020-10-15 09:04] krocard commented on #7994
I am also trying to adapt our current gapless test (https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/test/java/com/google/android/exoplayer2/e2etest/EndToEndGaplessTest.java) to test a gapless loop.
Nevertheless I have not figure out a way to have ExoPlayer only play the media twice instead of forever.

[2020-10-15 09:19] lbwstco commented on #8075
@AquilesCanta Is Pixel C in the devices list that Widevine be revoked licensing?

[2020-10-15 09:55] marcbaechinger commented on #8074
I tried from within ExoPlayer which is to the best of my knowledge some sort of a video player. I got a 404 as the log line I pasted above indicates. You need to make the url is accessible by the player on the server side. I can not really help you with that. If you can provide me with a url that is accessible I can look whether this plays.

[2020-10-15 09:59] marcbaechinger commented on #8066
It worked for me with these two files:

Audio: https://storage.googleapis.com/exoplayer-test-media-1/gen-3/screens/dash-vod-single-segment/audio-141.mp4"
Video: https://storage.googleapis.com/exoplayer-test-media-1/mkv/android-screens-lavf-56.36.100-aac-avc-main-1280x720.mkv

[2020-10-15 10:05] wangxuan217 commented on #8066
excuse, can you take me, how to change track's method?
@marcbaechinger

[2020-10-15 10:23] wangxuan217 commented on #8066
HI  @marcbaechinger I use you take mine media file,I test the code
[code]

select track code

[code]

the error is same, so can you take me, how to select track for you.

[2020-10-15 10:56] AquilesCanta commented on #8075
Unfortunately, I don't know. I'm sorry I can't help with this.  I suggest you contact Widevine support at https://www.widevine.com/contact.

[2020-10-15 11:07] marcbaechinger commented on #8069
Sorry, I can not reprod this. I was listening to David now several times. He is "so happy to see me again" and he tells me this without any issues and without playback stuttering. I'm pretty sure that file plays well on my device.

The logs you send are confusing me a bit though.

Do you know where this is coming from and why it is there:

[code]

Right after playback started there are log lines c

[2020-10-15 11:24] marcbaechinger commented on #8077
When I play the above url with the demo app it plays fine (the burger looks delicious, btw).

 The logs you sent shows that some app code is missing a tracking url somehow. From the code you pasted above it's unclear how this is related to the player.

This snippet is a part of what you pasted above:
[code]

It seems to me that this is code that is executed within the `PlayerView` that you probabl

[2020-10-15 11:29] marcbaechinger commented on #8076
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2020-10-15 11:33] marcbaechinger commented on #8079
I think that should be possible, but recording is not a topic we support here on the ExoPlayer issue tracker I'm afraid. If playback with ExoPlayer causes an issue, we are happy to help.

This issue looks like a general question about Android development. We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow.

[2020-10-15 13:02] MRDHR commented on #8069
😄 I've heard David say he's happy to see me a million times.Maybe the equipment tested is different. I've tested it on three cpu devices, the mtk6765 sc9863a and the Kirin 980, and the results are exactly the same. I'll test it again with Qualcomm apu equipment tomorrow.

[2020-10-15 13:06] MRDHR commented on #8069
The settext log should be internal to the Android system. Our equipment is customized. In addition, the code used in the test was cloned from github without any modification, except that json file changed the uri address.

[2020-10-15 14:27] sajjadshahbazi commented on #7895
I have several different dialects in my local storage and that have the same language.

[2020-10-15 14:29] icbaker commented on #7895
You haven't provided enough information for us to help. Please address my questions [from above](https://github.com/google/ExoPlayer/issues/7895#issuecomment-692174300).

[2020-10-15 15:57] nishantkp commented on #8037
@tonihei @jt64  I have sent a full bug report on `dev.exoplayer@gmail.com`

[2020-10-15 18:33] sajjadshahbazi commented on #7895
I have many audios with the same metadata (same language) in storage that merged with a video. how I can switch between audio when playing the video?

when prepared mediasourece all of then formats is the same.

yes, files are different but in the metadata have the same language.

yes, I'm merged they with MergingMediaSource , but finally, exoPlayer created trackgroups that language of format they

[2020-10-15 18:37] ojw28 commented on #8035
This will be picked up in a minor release (2.12.1), for which you shouldn't have to wait too long (probably the end of this month).

[2020-10-15 18:43] ojw28 commented on #8012
Are you sure it gets optimized away? I don't really see how that's possible. As far as I can tell `DefaultMediaSourceFactory` will not be optimized away, and will continue to pull in all the the many things that it depends on, which is why I think you need to explicitly inject a dummy `MediaSourceFactory` implementation, which I think it currently only possible using the 7 argument `SimpleExoPlaye

[2020-10-15 18:53] #7771 closed, assigned to marcbaechinger

[2020-10-15 20:56] saurabhkpatel commented on #8017
Any updates, when this is going to be released? We're stuck on this crash now.

[2020-10-16 00:22] MRDHR commented on #8069
I have run the program on the cpu of Xiaomi 5 Snapdragon 820, and the screen will freeze.

This is the screencap.
[https://www.mrdvh.com/index.php?user/publicLink&fid=8086T00drJBpHVgVjkVETBCAqSN7sIvMJ7s2R8GT6WHf6qBAJazVBs0OPlO-Jz0rX8W8QAnd7K-S6ZOjg2-2FzImX76TVVQK4MmfAmWVIyaptn5VsR0El9S0jeHP&file_name=/device-2020-10-16-080954.mp4](url)

After the playeractivity open, the log in the upper left corn

[2020-10-16 06:33] skreenr commented on #8045
OK I build a very basic LWP, two of them: one using MediaPlayer and another Exoplayer, to play a video clip of ~7sec in a loop.  Looking at the result it seems to me like Exoplayer's playback is just a bit slower, maybe few FPS. Another observation is that when activating the LWP in Settings, in Preview the video plays with delay a little more pronounced than with MediaPlayer, just fraction of a s

[2020-10-16 06:34] skreenr commented on #8023
OK I build a very basic LWP, two of them: one using MediaPlayer and another Exoplayer, to play a video clip of ~7sec in a loop.  Looking at the result it seems to me like Exoplayer's playback is just a bit slower, maybe few FPS. Another observation is that when activating the LWP in Settings, in Preview the video plays with delay a little more pronounced than with MediaPlayer, just fraction of a s

[2020-10-16 08:14] sunhb commented on #8007
I think new version(2.12.0) resolved my problems. So very thankful and we can close this issue. :)

[2020-10-16 08:48] marcbaechinger commented on #8078
Thanks for reporting. I'll look into this asap.

[2020-10-16 08:49] #8007 closed, assigned to marcbaechinger

[2020-10-16 09:30] ilker-aktuna commented on #8071
after removing videolistener (my original impl. and the one for eventlogger),  and removing unnecessary runOnUI calls, now the app does not crash frequently.
So I don't observe "too many open files" or "out of memory" issues. If I can catch one, I will report back.

On the other hand, I still did not understand what is the correct method for changing source from one Uri to another (HLS)
Should I r

[2020-10-16 09:30] wangxuan217 commented on #8066
so can you tell me how to use select tarck with MergingMediaSource. @marcbaechinger

[2020-10-16 10:10] icbaker commented on #8017
@ojw28 is putting together 2.12.1 which will include this fix - no eta I'm afraid.

[2020-10-16 10:19] icbaker commented on #7895
It sounds like you need to change your local files to include some info that lets you distinguish them.

If they're MP3 files this could be using ID3 tags which should then be available through `Format.metadata` (looking for `Entry` instances of type `Id3Frame`). Similar for FLAC or Vorbis files but using Vorbis comments (`VorbisComment`).

Or if they're MKA files you could set the track name (0x5

[2020-10-16 10:21] #7985 closed, assigned to icbaker

[2020-10-16 10:21] sontn-fabbi opened #8080 "Exoplayer ver2.12.0 in Kotlin"
https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md
https://medium.com/google-exoplayer/exoplayer-2-12-whats-new-e43ef8ff72e7
New release ver2.12.0 has a lot of new feature without kotlin.
Can you suggest a sample app in kotlin using Exoplayer ver2.12.0?

[2020-10-16 10:35] piyush2dev commented on #7627
Facing Same Issue. Can someone help here.

ExoPlayer version: 2.11.3
(jio setup box android version 7.0)

[2020-10-16 12:33] zilinx commented on #8070
I have a related issue. I already implemented my own cue points, but with ExoPlayer 2.12.0 I lost the ability to easily access `com.google.ads.interactivemedia.v3.api.AdsLoader` from `ImaAdsLoader`.
The problem is that I cannot set `addAdsLoadedListener` which I used to receive adCuePoints (obtained from `AdsManagerLoadedEvent.adsManager.adCuePoints`).
This is because at the time ImaAdsLoader call

[2020-10-16 13:34] nishantkp commented on #8035
thanks @ojw28

[2020-10-16 19:00] marcbaechinger commented on #8080
The ExoPlayer library and the demo app are in Java, that's right. The library itself is Kotlin enabled in a sense that we aim to make the library easy to use if you are using Kotlin also.

If you find a feature of that you think it is not available in Kotlin, please let us know so we can look into this. In general we think that all feature are available in Kotlin also.

I personally don't know a s

[2020-10-16 21:47] marcbaechinger commented on #8076
Oh, sorry, I haven't realized. If you are referring to an OGG container with samples in a video format. This is not supported by ExoPlayer. ExoPlayer supports the OGG container for Vorbis, Opus and FLAC. These are all audio codecs. The developer guide has a [page with further details about what formats are supported](https://exoplayer.dev/supported-formats.html) by ExoPlayer.

[2020-10-17 07:07] skreenr opened #8081 "Can setVideoScalingMode work with SimpleExoPlayer?"
Per https://github.com/google/ExoPlayer/issues/2016 discussing VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING
 @ojw28 commented on Nov 21, 2016:

_-We're going to add a setVideoScalingMode method to SimpleExoPlayer_

Yet I am not observing cropping of video in my code:

         Simple_player = new SimpleExoPlayer.Builder(getBaseContext()).build();
            Uri uri = RawResourceDataSource.buildR

[2020-10-17 08:44] xeinebiu opened #8082 "[Feature] - Lazy Queue"
With the latest version of **Exo Player**, we can pass a **List**<_MediaItem_> and the player handles the queue itself very great.

The issue on my side it is, that the Playlist is stored on Server and I need to retrieve all URI's of each song before creating the **MediaItem's**. URI's are expired if they are not used within a limited time.

I tried to extend the **MediaItem** and do the reuqest o

[2020-10-17 12:29] marcbaechinger commented on #8082
I think the `ResolvingDataSource` could be helpful for your use case. It allows you to modify the URI just before the network request is made.

The JavaDoc of the [`ResolvingDataSource.Resolver.resolveDataSpec()`](https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/library/core/src/main/java/com/google/android/exoplayer2/upstream/ResolvingDataSource.java#L43) says the

[2020-10-18 10:34] luohaohaha opened #8084 "The custom render can only play for 52 seconds. Is there anything that needs special treatment?"
I customized the audio and video render, processed the data in the processOutputBuffer method, and then released the outputbuffer, but each time it can only be played for 52 seconds, the processOutputBuffer stops outputting. Is there anything that needs special treatment?

--------------------------

Thanks for answering
--------------------------
code：

player
[code]

render:

[code]

[code]
Log：

[2020-10-18 10:57] georgi-neykov-hub commented on #8011
Well, the controller-side media2 APIs all return `ListenableFuture` allowing for chaining of operations. The service/session side of the media2 (and the media2 extension for ExoPlayer) APIs are all synchronous, requiring the operation to be completed in the scope of the called callback method. Implementing custom actions (or actions not part of the built-in ones) that require some long running ope

[2020-10-18 17:07] chladto1 commented on #7832
Unfortunately, here you are another test content that leads into stuck media playback. Can you please take a look?

VPAID in preroll, 3 ad breaks and postroll
Test content: [https://devs.origin.cdn.cra.cz/ima/vpaidvmap2.xml](https://devs.origin.cdn.cra.cz/ima/vpaidvmap2.xml)
Log: [vpaidvmap2.txt](https://github.com/google/ExoPlayer/files/5397850/vpaidvmap2.txt)

Preroll with ad and VPAID
Test cont

[2020-10-18 17:50] #8032 closed, assigned to tonihei

[2020-10-18 18:55] newtestpage opened #8085 "UnrecognizedInputFormatException: Input does not start with the #EXTM3U header"
Hi
I am working on online video player and I wanted to play a hls  with my exoplayer . exoplayer works fine with all of hls I had but with this one I got error .

[code]

the Url I wanted to play has session and I can not sent it as static link . But You can get it from follow link . at the second line after "HlsStreamURL"

could you help me to solve this problem ?
thanks in advance .

[2020-10-19 01:04] #7948 closed, assigned to marcbaechinger

[2020-10-19 01:37] wangxuan217 commented on #8066
hi @marcbaechinger V2.12.0 how to select track with MergingMediaSource and it is used MediaItem? can you take me doc or example, thanks!

[2020-10-19 03:20] hinditutorpoint commented on #8058
Got any solution for this issue sir

[2020-10-19 05:35] MRDHR commented on #8069
I found the problem, because the video bit rate is too high to play stutter, the original video 18000 kbps, transcoding to 5000kbps is no problem.

[2020-10-19 05:35] #8069 closed, assigned to marcbaechinger

[2020-10-19 07:14] a4x4kiwi commented on #8031
Let me know if any devs need any further information or access to our local streams.

[2020-10-19 07:16] xeinebiu commented on #8082
This does the job. Thank you very much @marcbaechinger

[2020-10-19 07:43] sontn-fabbi opened #8086 "FATAL EXCEPTION Exoplayer without subtitleButton"
checkNotNull(subtitleButton)
          .setImageDrawable(subtitleIsOn ? subtitleOnButtonDrawable : subtitleOffButtonDrawable);

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: jp.co.tvtokyo.webapi.stg2, PID: 13538
    java.lang.NullPointerException: throw with null exception
        at com.google.android.exoplayer2.util.Assertions.checkNotNull(Assertions.java:147)
        at com.google.androi

[2020-10-19 08:13] #7962 closed, assigned to Samrobbo

[2020-10-19 08:14] andrewlewis commented on #8086
Duplicate of #7962

[2020-10-19 08:14] #8086 closed, assigned to andrewlewis

[2020-10-19 08:35] andrewlewis commented on #8085
I took a stream URL from the provided plist file and it played fine for me in the demo app, though I needed to enable cleartext requests (for example, via `android:usesCleartextTraffic="true"`).

You are probably already aware but just to be clear the plist file itself is not playable by ExoPlayer -- we need an HLS manifest to play.

I will leave this open for a while in case you can provide furth

[2020-10-19 08:43] #7979 closed, assigned to Samrobbo

[2020-10-19 08:47] andrewlewis commented on #8084
Based on the information provided, I'd guess that the player position is stuck at zero because the `CustomMediaCodecAudioRenderer` is not writing data to the `AudioTrack`, whose position is normally used to determine the player position. You can verify this hypothesis by checking whether the position passed to `render` is advancing.

If you actually want to play the audio, you could try calling `s

[2020-10-19 09:00] andrewlewis commented on #8081
Are you saying that calling the method has no effect? There are a few limitations for this scaling mode to be aware of. See [the javadoc for the MediaCodec constant](https://developer.android.com/reference/android/media/MediaCodec#VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING), which mentions requirements for 1:1 pixel aspect ratio and not using rotation (see also #1482). It also looks like this s

[2020-10-19 09:24] #8067 closed, assigned to marcbaechinger

[2020-10-19 09:25] krocard commented on #8058
The issue is fixed by https://github.com/google/ExoPlayer/commit/230f4e5bb5c7e51ebceb645558adb833bd0db1a2.

[2020-10-19 09:25] #8058 closed, assigned to krocard

[2020-10-19 09:27] krocard commented on #8058
@hinditutorpoint, in https://github.com/google/ExoPlayer/issues/8058#issuecomment-707194561 you seem to suggest that the issue is causing an application crash on your KitKat device.
Can you confirm that this `AudioTrack$StreamEventCallback NoClassDefFoundError` indeed crashes your application? In my testing, I have only ever observed a warning log, never an actual crash.
I will update the release

[2020-10-19 09:31] luohaohaha commented on #8084
As you said, I override the getPositionUs method and it's fine, thank you for your answer.

[2020-10-19 09:31] #8084 closed, assigned to andrewlewis

[2020-10-19 09:41] hallyhaa opened #8087 "Should I expect IllegalArgumentExceptions when calling release()?"
### [REQUIRED] Searched documentation and issues
Didn't find anything on the exoplayer.dev web site

### [REQUIRED] Question
I see an IllegalArgumentException reported to Firebase/Crashlytics and wonder if I am supposed to do player.release() within a try/catch block ... ? This is with ExoPlayer 2.12, and the exception seems to be that the SimpleExoPlayer, in its release() method, calls streamVolu

[2020-10-19 10:25] abolfazlghanbari23 commented on #8051
I want to implement the first way but I do not know exactly what to do. Could you explain more?

[2020-10-19 10:44] tonihei commented on #8012
Yes, because R8 knows that the `DefaultMediaSourceFactory` is not used if you don't call the new `MediaItem`-based APIs and all the depending classes like the `DefaultDrmSessionManager` are optimized away:

**Version 1 (MediaItem):**

[code]

results in
[code]

**Version 2 (MediaSource):**
[code]

results in:

[code]

[2020-10-19 12:57] #8082 closed, assigned to marcbaechinger

[2020-10-19 13:09] marcbaechinger commented on #8071
There is not need to release the player or creating a new instance of it.

With the new API released with 2.12 you can do this by just using [`setMediaItem(item)`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L888) again:

[code]

If you are using the `prepare(MediaSource)` method that is deprecated since 2.12 I would do:

[2020-10-19 13:55] tonihei commented on #8045
What is a LWP?

This depends on many things including how you configure both players (e.g. have a look at `DefaultLoadControl` to set `bufferForPlaybackMs`).

As I mentioned above, this is really hard to debug without having a very concrete way of reproducing. When trying to reproduce, the setup needs to be completely identical between MediaPlayer and ExoPlayer using as little customization as pos

[2020-10-19 15:18] kim-vde commented on #8073
Here is what I observed:

- `Mp4Extractor.sniff()` returns false for the input file you provided. In other words, the `Mp4Extractor` does not recognise the file as one it supports. This is because the input file does not have any ftyp box. This box is mandatory in the MP4 format but not in the QuickTime format (but it is strongly recommended). This is what @marcbaechinger was referring to. ExoPlay

[2020-10-19 15:34] andrewlewis commented on #8070
The ad cue points are exposed via the player's `Timeline`. Here is an example of logging them in the timeline changed callback:

[code]

The negative value `C.TIME_END_OF_SOURCE` means a postroll. This event is triggered whenever the structure of the media changes (for example, when an ad is marked as played to the end), so, depending on what you are using the information for you, may need to ensu

[2020-10-19 17:43] newtestpage commented on #8085
Hi
thanks for your response .I tested with demo app and it works fine . Problem is with my app .  I tried to make my exoplayer like demo app . But it didn't help me . I don't know which part is wrong or different . this is my playeractivity  code and my demoUtil is copied from demo app.

`

    @SuppressLint("SourceLockedOrientationActivity")
    @Override
    protected void onCreate(Bundle savedI

[2020-10-19 18:55] krackjack234 opened #8089 "How to use 2 ImaAdsLoader instances with exoplayer"
### [REQUIRED]
Searched documentation and issues

### [REQUIRED]
We wanted to use 2 IMAAdsLoader instances, one to load preroll and another for midroll & postrolls.
We want the preroll IMAAdsLoader to be preloaded with a static ad tag whereas the midroll IMAAdsLoader can be loaded with a dynamic ad tag (targeted for an asset)

Please let us know how can we add 2 Ad loaders and start playing a cont

[2020-10-19 20:59] ilker-aktuna commented on #8071
ok thanks. I removed the release calls. Now it performs better.
I have another question which is off-topic.
Where should I normally ask questions about using some features like analytics listener ?

actually, I am using the analytics listener to see errors when loading the stream.
so I count loadcomplete and loaderror events.
But still chunks are variable according to the available bandwidth and s

[2020-10-19 21:20] rrfrias commented on #8075
As AquilesCanta suggested you should contact Widevine support if you are a Widevine partner.

If provisioning attempts fails with an HTTP 400 error (possibly more than once) you should consider falling back to L3. This will cover a wider range of failures than just the Provisioning service denying a request, including malformed requests etc. It will also avoid the need to maintain a list of device

[2020-10-20 01:04] #7953 closed, assigned to Samrobbo

[2020-10-20 01:05] #7933 closed, assigned to icbaker

[2020-10-20 01:05] #7774 closed, assigned to andrewlewis

[2020-10-20 03:13] xufuji456 commented on #8073
@kim-vde, Yes, you are right. There is no ftyp box in this mov file. I make it compatible without ftyp box in the `Mp4Extractor.sniff()`. Something like `MPEG4Extractor` of the Android framework source code:[https://www.androidos.net.cn/android/9.0.0_r8/xref/frameworks/av/media/extractors/mp4/MPEG4Extractor.cpp](url).
I refer to the method of `BetterSniffMPEG4` which in the bottom of `MPEG4Extract

[2020-10-20 07:07] stari4ek opened #8090 "Infinite seeking for duration in MPEG-TS with fixed Content-Length"
### [REQUIRED] Issue description
MPEG-TS stream (as http progressive) served with fixed `Content-Length` (ignoring `Range`) (imitating live streaming?) never finishes preparing stage keeping seeking in `TsDurationReader.readLastPcrValue()`:

[code]

This is clearly an issue on IPTV server side, but it would be nice if ExoPlayer stand firm against flawed media.

### [REQUIRED] Reproduction steps
*

[2020-10-20 07:11] stari4ek commented on #8090
This is how http communication looks like:
[code]

[2020-10-20 07:40] stari4ek commented on #8090
~This issue can be identified by checking input size in `TsDurationReader.readLastPcrValue`. If size is growing with each attempt - we will never reach `searchStartPosition`~

if `okhttp` is used instead of `cronet` used in demo, _input length_ stays fixed.
it hangs in
[code]

BTW, it looks like `okhttp` data source handles 200/206 status code properly, while `cronet` does not - input size grows o

[2020-10-20 08:31] SungsooLim commented on #8047
When MediaItem or Playlist becomes becomes null or empty, then the state of SessionPlayer should become idle.
Let me investigate and think a little more for the current status and the proper fix.

[2020-10-20 08:47] arlimm318 opened #8091 "4K High bit rate video Frame drop seriously Play by UDP"
version: Exoplayer-dev-v2  2.11.7
device:  STB hisi
android version:4.4
run mem: 1G

When I played the 4K video over UDP by exoplayer, it looked very slow. But The Android MediaPlayer is  ok.
But ,the the 4K video over http by exoplayer  is ok.

I doubt the player is good for UDP support.

The parameters of the video are 4K(3840 x 2160)   50fps   and 40Mb bitrate .

[2020-10-20 08:49] arlimm318 commented on #8091
This is the recording screen while it's playing 4k over udp by exoplayer.

[2020-10-20 09:17] andrewlewis commented on #8085
To track down what's going wrong, I'd set a breakpoint just before passing the `channelAddress` URI to `buildMediaSource` and check exactly what's in it. There may be an issue with escaping for example. You could also try hard-coding the string to play in the sources and seeing if the issue is still reproducible.

I can't see anything else obvious that could cause the issue in the provided code sn

[2020-10-20 09:17] #8085 closed, assigned to andrewlewis

[2020-10-20 09:18] andrewlewis commented on #8085
See the code to initialize the player in [PlayerActivity.java](https://github.com/google/ExoPlayer/blob/8a0d52be4b5402af0987fc7d009bc49977c72b67/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L276).

[2020-10-20 09:23] ArunChatley opened #8092 "Crypto key not available in Exo player when streams video with DRM."
### In Exo player, video streaming was working fine but after few days it stopped streaming and giving Crypto key not available Error which I found in android studio logs. I have done lot of research on it but did not find any solution. Is there Error belongs to Exo player or server side. I'm sharing my logs of android studio with PlayerActivity Code, Please Do the provide the needful to resolve i

[2020-10-20 09:27] andrewlewis commented on #8091
Do you have any ideas about where the inefficiency in UDP support is, so we can try to address them?

Unfortunately I don't think we have this test device, and there isn't enough information here for us to reproduce your setup anyway (we'd need a test stream too).

If you can take bug reports after playing the media first with MediaPlayer then with ExoPlayer and attach them, we can check whether t

[2020-10-20 09:34] punitagoel2403 opened #8093 "Exoplayer black screen sometimes"
Exoplayer is working fine, but the video in the recyclerview, at times shows black screen. The audio in the background keeps running, but the video is black. There is no specific time when it happens. It is happening randomly. Also, it happens in recylerview only. I am using singleton object for Exoplayer. Please help and suggest.

[2020-10-20 09:48] arlimm318 commented on #8091
The test Video is to big ，Can't upload. Only parameters of test videocan be provided for the time being。
4K(3840 x 2160)     50fps   and    40Mb bitrate .

[2020-10-20 09:56] SungsooLim commented on #8011
I would be the person who can fix both media2 extention and AndroidX media2 as well.
Thank you for your investigation and I'll take this and the other issue(#8047) with priority.

[2020-10-20 10:03] wangxuan217 commented on #8066
hi  I hope you can give me some help. thanks @marcbaechinger

[2020-10-20 10:28] andrewlewis commented on #8091
If you can address the question in my previous comment or share more findings from your own investigations we can try to do something to improve the situation. Otherwise I don't think it's actionable for us.

[2020-10-20 10:30] andrewlewis commented on #8093
When you see the problematic behavior please could you take a bug report via `adb bugreport` and attach it here or email it to `dev.exoplayer@gmail.com` with subject `Issue #8093`, as requested in the [new issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md)? Then we can see if there's any information in the logging about what is going wrong. Than

[2020-10-20 10:43] andrewlewis commented on #8089
Having another ads media source as the content for an ads media source (like "new AdsMediaSource(adsMediaSource, dataSourceFactory, midAdsLoader, playerView);") is not supported. Please merge the preroll/midroll ad tags.

[2020-10-20 10:43] #8089 closed, assigned to andrewlewis

[2020-10-20 10:46] icbaker commented on #7895
We could add functionality to `ProgressiveMediaSource` to set/override certain Format fields - this would mean you could set e.g. arbitrary `Metadata` when instantiating the source.

The easiest way is probably to add a `ProgressiveMediaSource.Factory#setFormatTransform(Function<Format, Format>)` method, which would allow a developer to mutate the Format to e.g. set additional Metadata or set the

[2020-10-20 11:19] stari4ek commented on #8090
After digging around I'm not sure how it can be solved/workarounded _properly_ on ExoPlayer side.
I've added additional handling to bypass it:
* block huge seek-by-reading (`OkHttpDataSource.skipInternal()`).
* finish duration reading in `TsDurationReader.readLastPcrValue()` if input reading failed. Another attempt to load will be performed with duration reading disabled

[2020-10-20 11:31] Manvendra-Jadon opened #8094 "Can we pre-fetch and hold ads to show at a particular time using exoplayer-ima-extension?"
I want to add custom cue points, where i want to pre-fetch ads and hold them before showing at a particular time. Is there any way to do this using exoplayer-ima-extension?
Any help/hint around this would be appreciable.

[2020-10-20 12:01] marcbaechinger commented on #8071
This issue tracker is the right place to ask. Best is to create a new issue for this so the title matches the question. This way other user who have a similar question can find it and it's not off-topic in this issue.

If you open a new issue, it's helpful to also describe quickly what your use case is. Because then we can probably advice you which callback of the `AnalyticsListener` is the best t

[2020-10-20 12:16] andrewlewis commented on #8094
If this isn't covered in the comment on your previous issue #8070, please could you reply there with more details about what you need? I will close this one as it seems very similar to that issue.

[2020-10-20 12:16] #8094 closed, assigned to andrewlewis

[2020-10-20 12:19] andrewlewis commented on #8070
@Manvendra-Jadon A couple of follow-ups based on #8094:
- Prefetching an ad tag is possible via `ImaAdsLoader.requestAds` (you can call that before creating the `AdsMediaSource` and player).
- We don't support [manual ad breaks](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/manual_ad_playback) at the moment, which I think is what you are requesting (you want to

[2020-10-20 12:19] jdeisenh opened #8095 "Google DAI HLS/TS video freeze in ad break caused by a SCTE35 marker in an ID3 Tag"
Issue description

When trying to play content that was stitched by Google DAI (Dynamic Ad Insertion) into live content, we experience hangs in the second (!) and all following ad breaks. This happens only with exoplayer, on any platform tested.
On the exoplayer demo app, the second ad breaks will show a freezed video frames, while the audio continues to run.
After several seconds, video continues

[2020-10-20 12:27] jdeisenh commented on #8095
P.S. Also reproducable with AVD emulator from the android SDK

[2020-10-20 12:49] Manvendra-Jadon commented on #8070
@andrewlewis Thanks for the quick reply.

Good to know that we can pre-fetch ads. But can we play them when we want to.
Also, we might differ on pre-fetching thing. Here is what pre-fetching i meant:
e.g. like there are 5 cue points at 30 sec, 60 sec, 90 sec, 120 sec, 150 sec , i need to add a mid-roll at these points. So what i want to do is prefetch ads for all positions and show them at these p

[2020-10-20 12:54] andrewlewis commented on #8070
If you pass an ad tag that has cue points at those time offsets, prefetching will happen automatically, except for the preroll which you can prefetch via `ImaAdsLoader.requestAds` as described above.

I got the impression that you didn't have an ad tag with those cue points though, but instead you want to specify the cue points at runtime. The only way you can do that at the moment is to generate

[2020-10-20 16:12] nishantkp commented on #8037
@jt64 any updates for this one?

[2020-10-20 16:23] yoobi opened #8096 "role of MediaSource in 2.12.0"
### [REQUIRED] Question
I've looked in the issues but didn't find anything concerning my question.
I'm currently upgrading a project with exoplayer 2.11.4 to 2.12.0 so I've been to https://codelabs.developers.google.com/codelabs/exoplayer-intro to take a look and saw that `ProgressiveMediaSource`, `HlsMediaSource`, etc... weren't needed anymore to play a video.

Code below is working without `Medi

[2020-10-20 17:58] marcbaechinger commented on #8096
If you are using the API based on `MediaItem` like `player.setMediaItem(item)` the player internally converts the media item to a `MediaSource` and then passes the source to the media source based API.

This conversion from item to source is carried out by a `MediaSourceFactory`. By default the `DefaultMediaSourceFactory` is used for this. You can choose to inject either a custom implementation of

[2020-10-20 18:40] ilker-aktuna opened #8097 "understanding stream issues using AnalyticsListener"
I am using the analytics listener to create an app which will simulate the user experience and supply stats about some certain video streams.
The app  is actually ready and I am able to get events from AnalyticsListener.
However, my most important concern is to understand when the app is not successfully getting streams.
So I am focusing on loadcomplete and loaderror events.
Most of the time, when

[2020-10-20 18:41] ilker-aktuna commented on #8071
thanks. I've opened a new issue for it.
And , now I will close this one if you've nothing else to add ?

[2020-10-20 20:32] #8071 closed, assigned to marcbaechinger

[2020-10-20 20:53] sajjadshahbazi opened #8098 "custom layout for Ads"
I show ads with ImaAdsLoader. I want to use a custom layout for show ads. how do I do this?

[2020-10-20 23:45] rrfrias commented on #7836
Sorry for the delay. I seem to get a 403 error when i try this on a Pixel 3 XL

 Can you help?

[android.log](https://github.com/google/ExoPlayer/files/5412201/android.log)

From the information you provided this does not indicate an Exoplayer issue but rather one with the device(LG V30/LG-H930)/android framework. It is possible that other apps work because of differences in their license (duratio

[2020-10-21 01:04] #7213 closed, assigned to AquilesCanta

[2020-10-21 01:09] arlimm318 commented on #8091
the test video

[2020-10-21 01:13] arlimm318 commented on #8091
[4k2.pcap_232.0.10.69_50000_00.zip](https://github.com/google/ExoPlayer/files/5412561/4k2.pcap_232.0.10.69_50000_00.zip)
[4k2.pcap_232.0.10.69_50000_01.zip](https://github.com/google/ExoPlayer/files/5412563/4k2.pcap_232.0.10.69_50000_01.zip)
[4k2.pcap_232.0.10.69_50000_02.zip](https://github.com/google/ExoPlayer/files/5412565/4k2.pcap_232.0.10.69_50000_02.zip)
[4k2.pcap_232.0.10.69_50000_03.zip](h

[2020-10-21 01:13] wangxuan217 commented on #8066
v2.12.0 how to select track with merge media @ojw28

[2020-10-21 01:16] arlimm318 commented on #8091
[4k2.pcap_232.0.10.69_50000_05.zip](https://github.com/google/ExoPlayer/files/5412585/4k2.pcap_232.0.10.69_50000_05.zip)
[4k2.pcap_232.0.10.69_50000_06.zip](https://github.com/google/ExoPlayer/files/5412587/4k2.pcap_232.0.10.69_50000_06.zip)
[4k2.pcap_232.0.10.69_50000_07.zip](https://github.com/google/ExoPlayer/files/5412588/4k2.pcap_232.0.10.69_50000_07.zip)
[4k2.pcap_232.0.10.69_50000_08.zip](h

[2020-10-21 01:17] arlimm318 commented on #8091
[4k2.pcap_232.0.10.69_50000_10.zip](https://github.com/google/ExoPlayer/files/5412600/4k2.pcap_232.0.10.69_50000_10.zip)
[4k2.pcap_232.0.10.69_50000_11.zip](https://github.com/google/ExoPlayer/files/5412602/4k2.pcap_232.0.10.69_50000_11.zip)
[4k2.pcap_232.0.10.69_50000_12.zip](https://github.com/google/ExoPlayer/files/5412603/4k2.pcap_232.0.10.69_50000_12.zip)

[2020-10-21 01:18] arlimm318 commented on #8091
The Test video is too big，so I compressed him into different volumes.
total 13 volumes

[2020-10-21 01:28] arlimm318 commented on #8091
the log play 4k by exo
[exo_4k.log](https://github.com/google/ExoPlayer/files/5412649/exo_4k.log)

[2020-10-21 01:34] arlimm318 commented on #8091
the log play 4k by mediaplayer ,Very smooth

[2020-10-21 01:34] arlimm318 commented on #8091
the log play 4k by mediaplayer ,Very smooth
[Uploading mediaplayer_4k.log…]()

[2020-10-21 05:29] sajjadshahbazi commented on #7895
when do you do this?
I resolve this issue with the reflection that isn't stable.
thank you

[2020-10-21 06:11] harshmittal29 commented on #5887
@tonihei seems the above issue is in 2.12.0 for pre Android 11 devices. Any chance there is an update which can fix this issue for pre Android 11 devices?

[2020-10-21 06:45] yoobi commented on #8096
Thanks for your answer, if I understand correctly, form 2.12.0 I don't need to create `MediaSource` to play a video because it is done internally by exoplayer, but I can pass the `MediaSource` to the player if I want to add caching or a custom it with a certain behavior ?

If I use a custom `MediaSource` should I remove `setMediaItem(mediaItem)` from the exoplayer and use
[code]
is there a point o

[2020-10-21 06:58] skreenr commented on #8081
On the _Aside_:  exactly How I do that?
this works with FIT_WITH_CROPPING mode?

[2020-10-21 07:50] andrewlewis commented on #8039
@baconz Were you able to capture a bug report? Thanks.

[2020-10-21 08:00] tonihei commented on #5887
@harshmittal29 I don't understand the question. The Android platform fix will only be available for devices running Android 11 and above and is independent from ExoPlayer. ExoPlayer's dev branch (not 2.12.0) contains the workaround referenced above that prevents most of the ANRs for pre Android 11 devices. It will likely be part of 2.13.0.

[2020-10-21 08:23] harshmittal29 commented on #5887
Thanks @tonihei . Got the answer I was looking for :). So will wait for 2.13.0 update.

[2020-10-21 08:27] icbaker commented on #7895
We don't plan to work on this soon - we would accept a high quality PR.

[2020-10-21 08:27] andrewlewis commented on #8081
Via [this SimpleExoPlayer.Builder method](https://cs.opensource.google/exoplayer/ExoPlayer/+/release-v2:library/core/src/main/java/com/google/android/exoplayer2/SimpleExoPlayer.java;l=412-427;drc=862cf26534d5050a6706f341f97fce3da2b4a06a). This doesn't do anything really different to what you were doing before, so the first paragraph of my previous comment still applies.

[2020-10-21 08:28] icbaker commented on #8066
@Dreamxiaoxuan Please stop spamming this issue and tagging random people - it's not going to make us help you any faster.

[2020-10-21 08:37] andrewlewis commented on #8098
Customizing the ad layout (skip button, countdown timer, ...) is not possible per the IMA SDK policy. See [this thread](https://groups.google.com/g/ima-sdk/c/c9Ed45PedFk/m/6Md7CELQIQAJ). Please feel free to post on the [IMA SDK forum](https://groups.google.com/g/ima-sdk/) if you still want to make a feature request in this area (it's not really an ExoPlayer or IMA extension issue).

If the customi

[2020-10-21 09:09] andrewlewis commented on #8097
If there is a transient network/server issue but it doesn't impact users (because there is enough media in memory to play out and 'absorb' the temporary delay in loading) do you want to detect that? If the goal is really to measure whether the user experience is good, you may want to focus on user-visible rebuffer events instead, rather than trying to come up with a deadline for chunk loads comple

[2020-10-21 09:18] design365 opened #8099 "How to flip video and some other feature."
### [REQUIRED] Use case description
When using exoplayer, the following features are required. I don’t know if exoplayer supports it:
1. It can be flipped horizontally, vertically, rotated 90 degrees to the left and 90 degrees to the right
2. When playing, you can freely set the width and height ratio of the video, and there is also a video with a blurred background. Just think that when YouTube p

[2020-10-21 09:21] wangxuan217 commented on #8066
ok   @icbaker i am so sorry.
 but i find the question, when i use android studio debug these code
[code]
the erro is nothing, so i think when i select track maybe need some times, but 2.11.8 version is don't need these time,i think pay attention to this issue.

The log
[code]

I am sorry to you,Again.   i am very thanks to you and your team give me help.

[2020-10-21 10:00] marcbaechinger commented on #8096
You can use `setMediaItem` or `setMediaSource` as you wish. It probably makes sense for an app to only use one of them or the other and not both but this is up to you. For the player it boils down to the same.

[2020-10-21 10:03] yoobi commented on #8096
Okay I see, thanks for the explanation :)

[2020-10-21 10:03] #8096 closed, assigned to marcbaechinger

[2020-10-21 10:20] AquilesCanta commented on #8095
Thanks for the detailed report. I'll take a look and reach back.

[2020-10-21 10:20] VeiZhang commented on #7930
@icbaker @google-oss-bot Hello, I found the test video, and I will send it to the email dev.exoplayer@gmail.com, please check it.

[2020-10-21 10:53] sajjadshahbazi commented on #8098
I want to change the position, background, language, and font of skip button, countdown timer.

[2020-10-21 10:57] andrewlewis commented on #8098
The language can be set by calling `ImaAdsLoader.Builder.setImaSdkSettings` and passing an `ImaSdkSettings` instance where you've customized the language (see also [Localization](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/localization)).

Modifying the position, background and font for the skip button and countdown timer are not supported per IMA SDK policy.

[2020-10-21 10:57] #8098 closed, assigned to andrewlewis

[2020-10-21 11:05] fpezzato opened #8100 "2.12.0 cannot reproduce an Apple hls stream: Unexpected exception handling load completed"
### Issue description
ExoPlayer 2.12.0 can't reproduce:
`https://play.itunes.apple.com/WebObjects/MZPlay.woa/hls/playlist.m3u8?cc=GB&a=1528598221&id=71318377&l=en&aec=HD`

Note: The same stream is reproducible with ExoPlayer 2.11.8

### Reproduction steps
1. Checkout ExoPlayer 2.12.0
2. Edit the demo app file 'media.exolist.json' adding this stream
[code]
3. Play such stream
4. Observe no video be

[2020-10-21 11:11] fpezzato commented on #8100
I tracked it down to `com.google.android.exoplayer2.source.hls.InitializationTrackSelection`
where  `selectedIndex = indexOf(group.getFormat(0));` is not being able to find a suitable format, but I don't have a deep enough knowledge of ExoPlayer to pursue the issue any further unfortunately, so I opened this bug.

I am more than happy to do any other test this issue might require, thank you!

[2020-10-21 11:16] ojw28 commented on #8100
This is a duplicate of https://github.com/google/ExoPlayer/issues/8025. It will be fixed in 2.12.1, which is tentatively scheduled for later this week.

[2020-10-21 11:16] #8100 closed, assigned to AquilesCanta

[2020-10-21 11:43] AquilesCanta commented on #8095
So what's causing the issue is the timestamps in the content's (not ad) ID3 track. The PTSs in the content are:

[code]

The first ID3 timestamp is 10 seconds before the first audio/video timestamp. This makes ExoPlayer think that the first audio and video samples occurs at approximately second 10 of the stream. You can confirm this by looking at the time bar of the demo app's playback controls wh

[2020-10-21 12:08] sajjadshahbazi commented on #8098
can I invisible or gone skip button, countdown timer?

[2020-10-21 12:10] andrewlewis commented on #8098
That wouldn't be allowed by policy, as I understand it.

[2020-10-21 12:37] marcbaechinger commented on #8066
Thanks for your patience!

I tried your use case out by modifying the demo app with media uri `file:///android_asset/...` and a merged media source. I used the track selection dialog of the demo app to change tracks and this worked for me without exceptions or the like.

For me this is working (see below as well). Im testing with the media as reported in [my comment above](https://github.com/googl

[2020-10-21 12:46] icbaker commented on #7930
Thanks for the content - unfortunately ExoPlayer doesn't support the AVI container: https://github.com/google/ExoPlayer/issues/2092

I tried repackaging your file into MKV and MP4 using ffmpeg - in both cases it played successfully in the demo app built from dev-v2 on a Pixel 3A XL:
[code]

So I'm not able to reproduce your problem using the media you provided.

[2020-10-21 12:47] #7997 closed, assigned to icbaker

[2020-10-21 12:58] ilker-aktuna commented on #8097
actually I observed issues with our transcoder and the real user experience is "freeze" in video for about 1-2 seconds.
My app does not report loaderror for this period.
But I see a change in loadcomplete (it decreases in general)
So I would like to put a threshold (whewre I collect the data from my app) for loadcomplete events.
But as I wrote, I the loadcomplete is variable, I am not able to put

[2020-10-21 14:13] tonihei commented on #8097
I think there is some misunderstanding about what `onLoadError` and `onLoadComplete` are reporting.

Your media is loaded in chunks and each individual chunk load will get `onLoadStarted` and `onLoadCompleted`/`onLoadError`/`onLoadCanceled` events. This corresponds to the actual network operations and thus the frequency of these events can't be changed. Note that all this doesn't directly influenc

[2020-10-21 14:24] ilker-aktuna commented on #8097
ok. then you recommend not to monitor "loaderror" but buffering events.
How can I monitor abnormal buffering ?
is there an event for that ?
Because normally it will buffer for the first load and that is totally normal, am I correct ?

[2020-10-21 14:30] tonihei commented on #8097
Yes, that's correct. You can just disregard the initial buffering state.

If you don't need live monitoring of the playback but just a summary of what happened, you could also add an `PlaybackStatsListener` that will give you a list of more granular states, e.g. PLAYBACK_STATE_JOINING_FOREGROUND for the initial joining time, or PLAYBACK_STATE_BUFFERING for "abnormal buffering" as you called it.

[2020-10-21 14:39] ilker-aktuna commented on #8097
can you provide an example code for usage of this ?

[2020-10-21 14:51] tonihei commented on #8097
For live monitoring:
[code]

For analytics purposes without live monitoring and with more detailed states:
[code]

[2020-10-21 15:02] ilker-aktuna commented on #8097
actually I am not interested in state history. I just want to get an idea of how the stream performed.
is this ok ?

To define:

[code]

after playback:
[code]

is "totalRebufferCount" what I must look at ?
what else ?

and how can I reset counters before starting a new session ?

what is "fatalErrorCount" ?

[2020-10-21 15:10] tonihei commented on #8097
Yes, that's the short version if you don't want the history. You can also use `new PlaybackStatsListener(/* keepHistory= */ false, null)` in this case because you don't need a history.

I can't answer what you'd like to look at because it depends on what you'd like to know. `totalRebufferCount` and `fatalErrorCount` are good metrics to track in general. Fatal errors is when the playback fails comp

[2020-10-21 15:13] FortunaRegem opened #8101 "SampleQueueMappingException for specific hls videos"
I'm having a problem with playing some of my hls videos with the exo player.
Im getting the following error:

[code]

Video url for example: https://cdn.jwplayer.com/manifests/wyhexK3K.m3u8

What i am doing is: creating first a cache for that video and than getting it with the following functions:
[code]

Where cacheDataSourceFactory is :
[code]

The player init looks like this:
[code]

Am I missi

[2020-10-21 15:37] kim-vde commented on #8031
The bug report indicates that discontinuities are detected (see log line "AudioTrack: Discontinuity detected") so there might be a problem in the audio timestamps. Are the corresponding logs printed at the same time as when the A/V starts to be out of sync?

Note that these discontinuities are not logged when playing the TS file you provided (vlc-record-2020-10-08-09h41m07s-udp___239.7.0.24_1234-.

[2020-10-21 16:03] baconz commented on #8039
Sadly, no @andrewlewis. The device I thought we could repro on turned out to be running Widevine CDM version 1.0, and thus I believe it was suffering from a separate issue.

I will keep my eyes peeled, and let you know if we are able to repro again. I've also asked our support team to watch for this issue and get us a bug report if they find it in the wild.

[2020-10-21 16:08] ilker-aktuna commented on #8097
I didn't understand the "callback" variable.
What should I use for this variable ? and how ?

[2020-10-21 16:10] tonihei commented on #8097
To get informed when the `PlaybackStats` for one playback session are ready. It's just a regular Java interface you can implement. Please also have a look at the JavaDoc to see how classes look like.

[2020-10-21 16:26] andrewlewis commented on #8039
Thanks for trying. I guess we shouldn't add an API for reprovisioning (or automatic reprovisioning) until we have a bug report and can check what the underlying cause is. Therefore I will close this for now. Feel free to reopen this or file a new issue if there is a bug report or if there is a strong case for adding an API anyway.

[2020-10-21 16:49] ilker-aktuna commented on #8097
well I actually get stats just before changing the media source. So I don't need that callback function. (I guess ?)
but it doesn't seem to reset the rebufferCount when mediasource is changed.
it was 0 initially, after some time it got 1 and it keeps 1 after that.

what do you mean by "when the PlaybackStats for one playback session are ready" ?
are they not live ?
I mean "updated when events occu

[2020-10-21 16:56] ilker-aktuna commented on #8097
btw, there is "totalPauseBufferCount" and "totalReBufferCount"
which one is useful for me ?

totalPauseBufferCount
The total number of times a playback has been paused while rebuffering.

totalRebufferCount
The total number of times a rebuffer occurred. This excludes initial joining and buffering after seek.

[2020-10-21 16:57] andrewlewis commented on #8101
The stack trace refers to `ProgressiveMediaPeriod` but the code is using `HlsMediaSource`, which looks wrong. Could you double check what the stack trace is?

The provided example URL plays fine for me in the ExoPlayer demo app.

[2020-10-21 17:02] tonihei commented on #8097
That's correct, yes.

it was 0 initially, after some time it got 1 and it keeps 1 after that.

Is that with `getCombinedPlaybackStats()` (expected) or `getPlaybackStats()` (unexpected). And how do you "change" the media source?

They are updated every time you call `getPlaybackStats()` and you can call it as often as you like. The callback is helpful to know when the stats for one playback are fin

[2020-10-21 17:07] RichardDapice commented on #8039
I sent a bug report but it looks like the email was rejected. I will try to
find where the format is specified.

On Wed, Oct 21, 2020, 10:26 AM Andrew Lewis <notifications@github.com>
wrote:

[2020-10-21 17:09] FortunaRegem commented on #8101
Sorry, thats my fault, I was out of ideas so I tried with this:
[code]

But same error happens with both

[2020-10-21 17:12] ilker-aktuna commented on #8097
I used getPlaybackStats() and I change the media with:

[code]

btw, to just test the callback and see when it is called, I changed my PlaybackStatsListener definition as below. However, I don'T see it called in the log.
Why ?

[code]

[2020-10-21 18:23] ilker-aktuna commented on #8097
ok. now I see it being called.
and I see that the stats is reset when the callback is called.

actually , when the callback is called , the rebuffercount gets zero.
but when I reach the end of my test (about 15 seconds of playback) , rebuffercount  is 1.
this happens in all my tests.
so is this the initial buffering ?
and, really when the callback is called ?

[2020-10-21 19:48] stevemayhew commented on #7877
@AquilesCanta the origin vendor is pushing back with this example from the RFC:

The bit about listing every sample format is the killer.   Of course they would still want the track selection to name and select the track based on metadata from the EXT-X-MEDIA.  This of course would not be possible with chunkless-prepare

The only way I see this working is if the code:

1. detect the condition (amb

[2020-10-22 00:31] skreenr commented on #8081
I see the Builder, I don't see how it gets into the player though

[2020-10-22 00:36] VeiZhang commented on #7930
@icbaker OK, sorry, I don't pay attention to the suffix. Let me find whether there is other format video of Xvid.

[2020-10-22 01:04] #7972 closed, assigned to marcbaechinger

[2020-10-22 01:04] #5012 closed, assigned to AquilesCanta

[2020-10-22 02:00] wangxuan217 commented on #8066
ok thanks i try to test your media file, and Let me demonstrate the debug steps below.

###  1.Create a new button to switch the audio tracks for video and audio files.
![1](https://user-images.githubusercontent.com/8827749/96808065-ac8d2a00-144a-11eb-997d-42b4eefb38bf.jpg)
![2](https://user-images.githubusercontent.com/8827749/96808074-b151de00-144a-11eb-8054-cb4ac80d5ac8.jpg)
![3](https://user-i

[2020-10-22 06:33] karamgharam commented on #8061
how to release manger then reinitialize it , and recreate demo download service @marcbaechinger  @ojw28

[2020-10-22 07:43] punitagoel2403 commented on #8093
Emailed 2 days ago, how long can I expect for the answer?

[2020-10-22 08:53] ilker-aktuna commented on #8097
last night we made several tests  with the transcoding platform.
We even closed the stream on cdn to create an issue which we could observe with the app.
However, there is a also a buffering mechanism on cdn and it does not drop the stream in a short time.

besides, I see 1 or 2 "rebuffer" on the app even when the stream is running fine.

So, this rebuffer state does not help me to identify proble

[2020-10-22 09:23] jdeisenh commented on #8095
Thank you for the thorough analysis. That helps a lot.
Ignoring ID3 is not an options, since DAI and thus ad revenue depends on it.
We are currently working on fixing the media, if that fails we will consider a fork as a last resort.

Thanks again!

[2020-10-22 09:23] #8095 closed, assigned to AquilesCanta

[2020-10-22 09:26] nareshsvn commented on #8022
Hi,

I have modified my local server settings. now the exo-player is working.

Thanks for your timely support.

[2020-10-22 09:26] #8022 closed, assigned to krocard

[2020-10-22 09:31] ilker-aktuna commented on #8097
for example,  can I define loadcontrol as below:
                DefaultLoadControl loadControl = new DefaultLoadControl.Builder().setPrioritizeTimeOverSizeThresholds(false).setBufferDurationsMs(1000, 1000, 1000, 1000).build();

and then , excpect a minimum of "loadcomplete" events based on stream bitrate ?

[2020-10-22 10:00] marcbaechinger commented on #8066
Please send me your media so I can test with the media.

[2020-10-22 10:34] marcbaechinger commented on #8066
[code]

I think the above statement is not entirely correct when you say 2 is audio track.

Please look at the snippet I sent you:

[code]
There are two renderer. A video renderer and an audio renderer. In you case with a merging media source, the audio renderer that is identified with `mappedTrackInfo.getRendererType(i) == C.TRACK_TYPE_AUDIO` has two track groups. the first track group is the aud

[2020-10-22 10:53] #8024 closed, assigned to marcbaechinger

[2020-10-22 10:54] #8044 closed, assigned to marcbaechinger

[2020-10-22 10:56] marcbaechinger commented on #8061
Like ojw28 says above. The `DownloadService` caches `DownloadManager` instances in a static map. So there is no way to re-initialize the service with a download manager pointing to a user specific directory without restarting the app I'm afraid.

[2020-10-22 11:28] AquilesCanta commented on #8101
The media you are trying to play is HLS. But the error you show is from ProgressiveMediaSource (as @andrewlewis points out). You just need to use HlsMediaSource instead. You **cannot** get the posted stacktrace if you are using HlsMediaSource.

[2020-10-22 11:31] FortunaRegem commented on #8101
I get the same error either way
Here is the stack trace with HlsMediaSource
[code]

[2020-10-22 11:37] karamgharam commented on #8061
thanks @marcbaechinger can you give me the best way to restart my app

[2020-10-22 11:47] andrewlewis commented on #8039
@RichardDapice Did you put "Issue #8039" in the subject line ([instructions](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md#required-a-full-bug-report-captured-from-the-device))?

[2020-10-22 11:49] andrewlewis commented on #8081
When you call `build` on the builder it returns the player instance you need to use.

[2020-10-22 11:53] andrewlewis commented on #8097
It sounds like you are trying to identify a problem with your transcoder from the client, but isn't it better first to add monitoring in the transcoder itself, so you can eliminate the possibility of irrelevant communication channel and client issues?

As discussed earlier in this thread, load complete events are telling you when (for example) a media chunk was loaded. I think you can do some calc

[2020-10-22 12:46] andrewlewis commented on #8093
Note: #7750 looks like the same issue. Can we close either this issue or the other one to avoid duplication of effort?

I didn't spot any sign of issues with the media framework, nor any ExoPlayer logs (which would include a version number) in the provided logging, but it is just a short snippet. So I don't think there's enough information here for me to help.

Here are some things to investigate/

[2020-10-22 12:53] punitagoel2403 commented on #7750
Closing. New similar issue raised in #8093

[2020-10-22 12:53] #7750 closed, assigned to ojw28

[2020-10-22 13:34] ojw28 commented on #5660
The work to enable pausing at the end of media items was released in 2.12. This issue remains open to track the more general feature to pause at arbitrary exact frame positions, as per https://github.com/google/ExoPlayer/issues/5660#issuecomment-619067418.

[2020-10-22 14:31] AquilesCanta commented on #8095
Great, happy to provide some ideas if that would help. In my opinion, fixing the media would be the best option, though.

[2020-10-22 16:30] msxenon commented on #5786
any news

[2020-10-22 19:23] RichardDapice commented on #8039
Apologies, I didn't put "Issue #". I sent it over.

[2020-10-22 20:17] ilker-aktuna commented on #8097
actually the whole purpose of this app that I am working on is to monitor the transcoding platform from user perspective.
it is not a real client. I am just developing this app to solely for this purpose of monitoring the stream from mobile device.

There's also a commercial quality monitoring platform that we use but it is on the core network backbone and is not getting results from user perspect

[2020-10-22 20:39] rrfrias commented on #8039
Thanks for the bugreport. I took a look but it does not seem to capture the MediaDrmStateException. I do not see any calls to provision or make use of provisioning data. Is it possible to send another bugreport after encountering the problem?

[2020-10-23 01:24] junhoi-pk opened #8103 "A warning occurs when applying proguard from version 2.12.0."
A warning occurs when applying proguard from version 2.12.0. (2.12.1 is equal)

My dependencies are below.

[code]

During build, the following error occurs.

[code]

What should I apply to ProGuard?

[2020-10-23 01:33] wangxuan217 commented on #8066
**index2** (the mark in figure3)is from WAV file, I can find that there's only one track in WAV file by the audio tools, also can find that there's two tracks in the MP4 file(figure1, figure2), they means **index0** and **index1**, so I want to select the track from WAV file and pass in 2. but the result you gave, in my opinion,  says that the track is merged by the WAV and MP4 files, is this righ

[2020-10-23 02:13] skreenr commented on #8081
Can you pass a code example please with  FIT_WITH_CROPPING mode?

You are correct: in my code there is no observable difference, e.g. no video cropping observed

[2020-10-23 03:35] VeiZhang commented on #7930
Sorry. It's a pity, I didn't find any other format, I will reopen the issue util I get a test stream.
Thanks again.

[2020-10-23 03:35] #7930 closed, assigned to icbaker

[2020-10-23 03:56] a4x4kiwi commented on #8031
Some discontinuities are inevitable in a terrestrial (or satellite) DVB stream due to interference. I hope that Exo can recover from these without loosing A/V sync. Thanks for your help.

[2020-10-23 06:53] hinditutorpoint opened #8104 "pass url list not working"
hi sir
how can i pass list in intent util

here i am passing but did not work

@SuppressLint("StaticFieldLeak")
    public class Playlist extends AsyncTask<ArrayList<VideoSnippet>, Void, StringBuilder> {
        private ProgressDialog dialog;
        @Override
        protected void onPreExecute() {
            dialog = new ProgressDialog(mContext);
            dialog.setIndeterminate(true);

[2020-10-23 07:00] zilinx commented on #8070
(I apologise for barging into this post, clearly OP had a different issue, but there was an open question to me, so I'll answer)
@andrewlewis Regarding:

Nothing that fancy, sorry for not being clear. I just meant we don't use `exoplayer-ui` library in our implementation.
Thank you for the info on timeline changed, also about `requestAds` - both tips were helpful. It didn't occur to me to check th

[2020-10-23 07:12] drayan85 commented on #5786
@msxenon
Have you tried my solution as mentioned above
https://github.com/google/ExoPlayer/issues/5786#issuecomment-551622165

In the PlayerManager after Track Change got changed,

[code]

[2020-10-23 07:15] zilinx commented on #8075
Hi @rrfrias, you suggest:

1. What is your recommended way in ExoPlayer 2.12 to do this? There is `DefaultMediaSourceFactory.setDrmSessionManager()`, but that is inconvenient because I would need to have the information about my asset at the time of creating the player. I would prefer to set a factory like the one used by default, if custom drm session manager is not set (`MediaSourceDrmHelper`),

[2020-10-23 07:59] andrewlewis commented on #8070
@zilinx Thanks for the information.

@Manvendra-Jadon Does my previous comment address your questions?

[2020-10-23 08:02] krackjack234 opened #8105 "How to perform partial download of media using exoplayer"
### [REQUIRED] Searched documentation and issues

### [REQUIRED] Question
We want to partially download a creative and start playback as soon as possible. This feature we want for all kind of media formats including mp4

We have set the buffer sizes in DefaultLoadControl of exoplayer but while playing mp4 contents we don't see the content getting downloaded with 206 http status. Looks like the ent

[2020-10-23 09:03] andrewlewis commented on #8105
I think we don't request a partial range but instead make an unbounded request and then consume data from the stream gradually. So even though the status isn't 206 it's still loading progressively.

To understand this in detail you could try stepping through the code in `ProgressiveMediaPeriod.ExtractingLoadable.load` to see how the data source gets opened and how loading and extraction of samples

[2020-10-23 09:29] andrewlewis commented on #8104
This issue tracker is for ExoPlayer issues, but this looks like a question about your app code. Please ask on Stack Overflow or a similar general-purpose question site.

I will just point you to the demo app's `IntentUtil.java` which you could use as a starting point -- see the code around `VIEW_LIST`.

[2020-10-23 09:29] #8104 closed, assigned to andrewlewis

[2020-10-23 09:31] Tolriq opened #8106 "StreamVolumeManager crash on certain devices"
### [REQUIRED] Issue description
Got the following stackTrace on specific device (from Play Console no way to reproduce)

Device: ZTE Z717VL / Android 10 (SDK 29)

[code]

Maybe related to https://github.com/google/ExoPlayer/issues/8087

### [REQUIRED] Reproduction steps
Device specific crash occurring when building ExoPlayer. Since my application does not rely at all on volume management by ExoPl

[2020-10-23 10:29] andrewlewis commented on #8081
In the demo app's player_activity.xml set the resize mode of the `StyledPlayerView` element to fill the container by adding `app:resize_mode="fill"`, then in PlayerActivity.java add `.setVideoScalingMode(Renderer.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING)` before the call to build the `SimpleExoPlayer`.

When you play a sample video you should see the video is scaled/cropped as expected. Then

[2020-10-23 10:29] #8081 closed, assigned to andrewlewis

[2020-10-23 10:34] krackjack234 commented on #8105
Thanks @andrewlewis

[2020-10-23 10:37] #8105 closed, assigned to andrewlewis

[2020-10-23 10:43] andrewlewis commented on #8099
One way to do this is render to a `TextureView` then [set its transformation](https://developer.android.com/reference/android/view/TextureView#setTransform(android.graphics.Matrix)) as desired.

There are caveats to using `TextureView` [listed here](https://exoplayer.dev/ui-components.html#choosing-a-surface-type). If you can't use `TextureView`, it's also possible to set a rotation when configuri

[2020-10-23 10:43] #8099 closed, assigned to andrewlewis

[2020-10-23 10:46] orcunkobal opened #8107 "Lock Screen Media Button Control"
Hi,

Is there any way to use two different media session instance? I ask it because I have a scenario like that;

For example, I have a MediaService.kt which is bounded to the MainActivity. Also, I want to play a video from VideoPlayerActivity it can be a live stream or not. I'm preparing everything for VideoPlayerActivity and the video is playing. But, the default control dispatcher event can't c

[2020-10-23 10:58] andrewlewis commented on #8107
I'm finding it difficult to get a picture of the setup and understand the problem based on your description. It might help if you could give provide diagram or more detailed/structured description.

Are MediaService and VideoPlayerActivity using separate ExoPlayer instances? If so I think you can just have one media session active at a time, linked up to the relevant player instance?

[2020-10-23 11:20] andrewlewis commented on #8087
Thank you for reporting this.

Can you tell from Firebase which particular Android devices/versions are affected and how widespread the issue is?

I think we should just catch this exception and log a warning but it would be good to understand how widespread the problem is. If it's only on a small number of devices/builds that will give confidence that we are right to expect this call to succeed,

[2020-10-23 11:22] andrewlewis commented on #8106
Thanks for reporting this. Please see my [reply on #8087](https://github.com/google/ExoPlayer/issues/8087#issuecomment-715280636) -- it would be helpful if you could provide some info on how widespread the reports us (just the ZTE device on API 29, or are there other devices too?).

[2020-10-23 11:39] andrewlewis commented on #8091
Based on your first comment, the device is running an old Android version 4.4 (API 19), so we don't get the benefit of [timed frame release](https://developer.android.com/reference/android/media/MediaCodec#releaseOutputBuffer(int,%20boolean)) and I think that version was still using dalvik not ART (though it had a testing version of ART available). We've been experimenting with async MediaCodec me

[2020-10-23 11:40] orcunkobal commented on #8107
Yes, they both have different ExoPlayer instances.

**MusicService.kt**
[code]

I control media actions from MediaSessionConnectorControlDispatcher class. Notifcation, headset etc.

VideoPlayerActivity.kt

[code]

The **dispatchSetPlayWhenReady** is not calling in VideoPlayer for this session. But, the MusicService is catching **dispatchSetPlayWhenReady**. This reason, I can't control the player i

[2020-10-23 11:45] andrewlewis commented on #8107
Can you have just a single player instance with a media session? I'm not sure why you need two.

[2020-10-23 11:58] orcunkobal commented on #8107
Yes, I can. I just wondered why this is not working even I release the service. Anyway, thank you for your quick response.

[2020-10-23 11:58] #8107 closed, assigned to andrewlewis

[2020-10-23 12:12] AquilesCanta commented on #8101
I had a quick look at the issue: The problem is that the master playlist says that your stream contains audio (see `CODECS="mp4a.40.2,avc1.77.30"` but the transport stream files don't contain audio:

[code]

So when ExoPlayer tries to map the audio renderer to the track, it fails. I can think of two ways for you to fix this:
- Remove the audio codecs from the master playlist.
- Use traditional pre

[2020-10-23 12:12] #8101 closed, assigned to AquilesCanta

[2020-10-23 12:42] AquilesCanta commented on #7877
I've already internally pushed:
- A fix for the traditional preparation issue where audio is disabled.
- A fix to disable chunkless preparation when the CODECS tag is ambiguous.

Unfortunately I've missed the window to get this in the next release (this week). However, it'd be nice for you to test the fixes as soon as they are in the dev branch. The commit message of the last patch is `Avoid chunk

[2020-10-23 12:55] icbaker commented on #8103
I don't see the warnings you mention when compiling the demo app at 2.12.0:

[code]

Without being able to reproduce the problem it's very hard to determine where it's coming from.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on

[2020-10-23 13:24] hallyhaa commented on #8087
I have seen this only twice. Once on a Samsung Galaxy S10+ running Android 10, the other time on a Huawei P30 Pro running Android 9. They were not rooted, they were running in the background and proximity was on (whatever that means).

[2020-10-23 13:57] Tolriq commented on #8106
From Play Console only that device,  but previously on my own code I had some more devices / strange crash with registerReceiver  / unregister and now I try/catch handle problem gracefully everywhere I can.

[2020-10-23 15:45] Stonos opened #8108 "Automatically fallback to Widevine L3 in case there is a DRM error"
### [REQUIRED] Use case description
Recently some devices had their Widevine L1 license revoked (see #7986, #8075). This causes the affected devices to be unable to play DRM content by default, because ExoPlayer will attempt to use L1 (since the device claims to support it), which will fail (since the device had its license revoked).

### Proposed solution
ExoPlayer should have an option to automa

[2020-10-23 15:47] junhoi-pk commented on #8103
@icbaker

If you run the command below, you may encounter a warning

[code]

Thx

[2020-10-23 15:51] andrewlewis commented on #8090
Could you describe where the bug is on the ExoPlayer side? Based on the block in your first comment it looks like the input length is increasing past the content length returned by the server, which looks wrong. TsExtractor won't try to determine the duration by reading the end of the file if the data source has an unset length (for progressively growing streams).

[2020-10-23 15:58] andrewlewis commented on #8092
@ojw28 @icbaker Please could you take a look and reassign as needed?

@ArunChatley For DRM issues it's often useful to have a bug report as requested in the [new issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format

[2020-10-23 16:05] junhoi-pk commented on #8103
@icbaker

I made a sample
If you run the command below, you may encounter a warning
[code]

And you can see that there are no errors if you change the version to 2.11.8 and repeat again.

Thx

[2020-10-23 16:05] andrewlewis commented on #8108
@ojw28 @icbaker Please could you take a look?

[2020-10-23 20:18] stari4ek commented on #8090
I was checking this issue in 2 cases:
* demo player, which is configured by default with _cronet_ + _caching data source_
* exoplayer configured to use _okhttp_ data source

In both cases **ExoPlayer hangs** in preparation stage.
Http log from my comment is valid for both cases. In fact media is MPEG-TS **live stream**, but server serves it as fixed-size (900MB) without ranged requests support.

F

[2020-10-23 23:02] hinditutorpoint opened #8109 "Dynamically change renderer mode"
It is possible to dynamically change renderer mode in when video is playing

[2020-10-23 23:04] hinditutorpoint commented on #8058
Thanks for fix this problem sir

[2020-10-24 01:45] skreenr commented on #8081
We don't do Demo, @andrewlewis
We don't use activity XML either
It is a background service we do
I am sorry your answer does not really help
Can you please ask somebody who can produce a relevant Code snippet?

Thank you

[2020-10-24 03:05] skreenr commented on #8081
to sum up, we need a Java code showing how to get Fit with Cropping mode work
Thank you

[2020-10-24 13:22] yoobi opened #8110 "How to work with MediaItem.MediaMetadata"
### [REQUIRED] Question

I was looking at `MediaMetadata` class and there is only one attribute `title`. Is this class supposed to be override in the project to add for example `duration`, `placeholderPicture` etc... ?

[2020-10-25 00:39] AliilA233 opened #8111 "How to save the modified PlaybackParameters audio into storage"
I wonder how to save the audio into storage after changing the `PlaybackParameters `such as speed and pitch :

[code]

I tried to use **FFmpeg** but the output (pitch and speed) audio is different from the `ExoPlayer`

[code]

Thank you for your help

[2020-10-25 05:27] #8079 closed, assigned to marcbaechinger

[2020-10-25 11:00] ltomov opened #8112 "Video colors are messed up when using surface_type=surface_view"
Up until now I was using the player with surface_type=texture_view, however on slower devices the videos lagged. I noticed that switching to surface_view improves the performance significantly, however I faced another problem.

On some devices the colors are somehow messed up - they appear a lot more red-ish and just not that vivid. I tested on two devices, both API version 26 - one of them displa

[2020-10-25 20:02] marcbaechinger commented on #8110
If you want to store additional attributes with a media item, I'd suggest to use the tag for that. That's an arbitrary object you can set as the tag in the builder:

[code]

Later you can retrieve this custom tag object in the `playbackProperties` object of the media item.

[code]

Let me know if this helps for your use case.

[2020-10-25 22:50] AquilesCanta commented on #7983
Thanks for reporting and apologies for the delay. Reported the bug to the cast team [Internal ref: b/171657375] and I'll probably add a workaround in our codebase as well.

Aside, is the stream playing correctly for you?

[2020-10-25 23:10] Stonos commented on #7983
Yes, other than that the stream is playing fine.

One thing that is not working correctly however is timeshift. Even with the workaround applied, timeshift was not working correctly (the time was moving too fast and seeking would not seek to the correct position). I had to override the following methods to make timeshift work properly for live streams:

[code]

(in order to do that, I modified the

[2020-10-26 03:10] DaveBoy opened #8113 "is there any way to play only ads with this ima"
we hava only the ads to play,there is no other video content.
if i set a null or wrong video link,it  will not report the complete event,but an error event.

is there any solution?

[2020-10-26 06:07] Manvendra-Jadon commented on #8070
@andrewlewis Thanks for all the information. I plan to do it manually on my end. So this is not possible using SDK. We can close this issue.

[2020-10-26 06:40] arlimm318 commented on #8091
I can confirm that exoPlayer uses a hardware decoder.
I understand  The high Android API supports asynchronous decoding.
But ,the the same 4K video played over http by exoplayer is ok  on the same device,Although this device is quite old（API19）,
but played over udp is not ok。
I think, thismeans that the device has the ability to play the 4k video.
Could you please explain that,Why the http is ok b

[2020-10-26 08:06] ojw28 commented on #8113
I don't think the IMA SDK is designed for this purpose. You should probably take a look at the [Admob SDK](https://developers.google.com/admob/android/quick-start) instead.

[2020-10-26 08:06] ojw28 commented on #8111
ExoPlayer does not currently support recording use cases, so this is something you'll have to figure out for yourself I'm afraid!

[2020-10-26 08:08] ojw28 commented on #8109
It's unclear what the question is that you're asking. What is a "renderer mode"? Please provide a more detailed explanation of your question.

[2020-10-26 08:10] ojw28 commented on #8112
I suggest you start by properly filling in our [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) (it's fine to copy/paste it below, rather than starting another new issue). Without complete details and a way for us to reproduce the problem, there's not much we can do to help.

[2020-10-26 08:11] DaveBoy commented on #8113
i use the IMA SDK because our app maybe run on FireTv，admob have trouble on these devices。
so i want to use the IMA SDK to play VAST ads like Interstitial

[2020-10-26 08:13] ojw28 commented on #8113
If you don't have any other video content into which these ads are being inserted, then what are your ads interstitials _for_, exactly?

[2020-10-26 08:21] DaveBoy commented on #8113
maybe  there are some other videos,but in order to Compatible with the method to deal with the old Interstitial ad（some devices we use admob），we want to show the VAST like interstitial，in a DialogFragment above the content，not contact with the video

[2020-10-26 08:28] ojw28 commented on #8113
If your use case is to insert interstitial ads into video content, you should probably stop using the Admob SDK and migrate fully to the IMA SDK and/or IMA extension, so you're using the right SDK in the way it was designed to be used.

What you're describing is attempting to use the IMA SDK to do what the IMA SDK is designed to do, but not in a way that it's designed to do it. This is not somethi

[2020-10-26 08:28] #8113 closed, assigned to ojw28

[2020-10-26 09:22] andrewlewis commented on #8091
When you play this using MediaPlayer are you using HTTP or UDP?

[2020-10-26 09:30] hinditutorpoint commented on #8109
hardware and software decoder mode

[2020-10-26 09:41] andrewlewis commented on #8081
The ExoPlayer demo app is a Java sample project where you can try out fit with cropping, as described in my previous comment.

[2020-10-26 09:59] andrewlewis commented on #8070
Thanks. Leaving this open as a low priority enhancement to track investigating using manual ad breaks.

[2020-10-26 10:21] AliilA233 commented on #8111
@ojw28 thank you, I'm not asking for recording, the audio file is already exist, I've searched and I found [TeeAudioProcessor ](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/TeeAudioProcessor.html) and [WavFileAudioBufferSink](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/TeeAudioProcessor.WavFileAudioBufferSink.html), but till now I didn't find

[2020-10-26 11:01] AquilesCanta commented on #7983
I think we should incorporate these workarounds (or equivalent changes) to the default implementation. I'll see what I can do about it. My issue right now is that the stream does not play for me.

Which application ID are you depending on?

I'm using the dev branch's "A12D4273" app id. If you are not using this one, would you mind trying it out?

[2020-10-26 11:41] Stonos commented on #7983
Just tested app ID `A12D4273` using the Cast demo app on the development branch, and it worked almost fine (the stream started from the beginning instead of the live edge) on a Chromecast 2 and on an Android TV built-in Chromecast.

These are the changes I made to the demo app:
[code]

I'm not really sure why the stream is not working for you 😕

[2020-10-26 11:57] AquilesCanta commented on #7983
Thanks for checking. For context, the provided app id is the same as the default receiver except it provides us with usage metrics, so it would be great if you could use it for your apps. Usage metrics helps us allocate resources to fixing Cast issues.

[2020-10-26 13:22] sajjadshahbazi opened #8114 "skipAd () in ImaAdsLoader just work for first Item"
I have a VMAP tag that contains many VAST tags, When imaAdsLoader.skipAd () only works for the first Item and does not work for another ad.

[2020-10-26 13:29] sajjadshahbazi opened #8115 "need uri of more info of ADs"
how I can get the URI of Learn More (ADs) from ImaAdsLoader?
I need URI Of Learn More.

[2020-10-26 13:38] punitagoel2403 commented on #8093
Tried everything with no solution or reason to the problem.

- You noted in the email that the SurfaceView's surface is being destroyed. Have you found that this is correlated with the video not showing up? If a SurfaceView is on the screen then it should have a corresponding surface. Are you passing the surface to the player yourself, and if so, do you definitely do this at the right time?
-- I s

[2020-10-26 13:43] andrewlewis commented on #8115
I don't think this is supported by the IMA SDK. See [this thread](https://groups.google.com/g/ima-sdk/c/_njs-MMMij4/m/opTvMW5yAQAJ).

[2020-10-26 13:43] #8115 closed, assigned to andrewlewis

[2020-10-26 13:45] andrewlewis commented on #8114
Please check that the ads are declared as skippable in the VMAP ad tag. Are you playing audio-only ads? Could you share the ad tag?

[2020-10-26 13:56] sajjadshahbazi commented on #8114
just that work for the first item

[2020-10-26 13:56] sajjadshahbazi commented on #8114
ads in video mp4 and main content is hls

[2020-10-26 13:57] andrewlewis commented on #8114
Could you share the ad tag?

[2020-10-26 13:59] sajjadshahbazi commented on #8114
val imaSdkSettings = ImaSdkFactory.getInstance().createImaSdkSettings()
            imaSdkSettings.language = "fa"
            imaAdsLoaderBuilder.setImaSdkSettings(imaSdkSettings)

            imaAdsLoader = imaAdsLoaderBuilder.buildForAdTag(
                Uri.parse(
                    "https://demo.reviveadservermod.com/demo_vmap/www/delivery/fc.php?script=bannerTypeHtml:vastInlineBannerTypeH

[2020-10-26 14:00] sajjadshahbazi commented on #8114
https://demo.reviveadservermod.com/demo_vmap/www/delivery/fc.php?script=bannerTypeHtml:vastInlineBannerTypeHtml:vastInlineHtml&zones=preroll:0.0-0%3D58&nz=1&source=&r=R0.05822725687175989&block=1&format=vmap&charset=UTF-8&loc=location.protocol+window.location.hostname

[2020-10-26 14:05] sajjadshahbazi commented on #8114
Did I send the items you requested for review?

[2020-10-26 14:07] icbaker commented on #8103
Thanks for the project, I can repro with your instructions.

I can also repro in the demo app by adding `android.enableR8=false` to [gradle.properties](https://github.com/google/ExoPlayer/blob/release-v2/gradle.properties). This repros at both dev-v2 and 2.12.0. And equally I can fix your project by removing that line and running:
[code]

So the error only seems to occur when using ProGuard instea

[2020-10-26 14:11] AnassHmida opened #8116 "Widevine license renewal using azure media services"
hello,

I'm trying to renew my widevine offline license for playback, I'm not able to do so with azure media services because it provides a dynamic license server URL that is included in the manifest.

a bug report was opened for a variant of this issue #3393  and was fixed. ( when the player doesn't parse incoming data in the manifest and now that it is fixed , the parser reads directly from the

[2020-10-26 14:36] andrewlewis commented on #8114
When I played the ad tag, the second and third ads are not skippable so I think this is working as intended. If you want them to be skippable you need to configure this on your ad server.

Please note that the method `ImaAdsLoader.skipAd` is only intended for audio ads, as mentioned in its javadoc. For video ads, users are control of skipping the ad via the ad overlay rendered by the IMA SDK. The

[2020-10-26 14:36] #8114 closed, assigned to andrewlewis

[2020-10-26 14:41] icbaker commented on #8103
Ah my steps to fix the demo app in the comment above don't work to fix the problem - I had some other changes in the same project that were interfering and I didn't realise.

Let me come back with another update shortly.

[2020-10-26 14:46] Stonos commented on #7983
I'd like to, but unfortunately I cannot use it in my app because I'm already using another customized custom receiver.

[2020-10-26 15:36] icbaker commented on #8103
OK, trying again :)

Thanks for the project, I can repro with your instructions.

I can also repro in the demo app by adding `android.enableR8=false` to [gradle.properties](https://github.com/google/ExoPlayer/blob/release-v2/gradle.properties). This repros at both dev-v2 and 2.12.0. And equally I can fix your project by removing that line and running:
[code]

So the error only seems to occur when

[2020-10-26 15:37] icbaker commented on #7911
Closing due to inactivity - please re-open or file a new issue if there's anything else we can help with.

[2020-10-26 15:37] #7911 closed, assigned to icbaker

[2020-10-26 17:22] andrewlewis commented on #7832
For the first ad tag, I have a change in review that makes the previous the fix referenced above more general, which avoids playback getting stuck. This issue will be updated if/when that's merged.

For the second ad tag, something strange is going on where we are reporting an ad position to the IMA SDK, but the IMA SDK is not updating the ad overlay view, nor notifying us when the ad finishes. I

[2020-10-26 17:46] nishantkp commented on #8037
@jt64 @tonihei any updates?

[2020-10-26 20:08] andrealvaradodearaujo commented on #5011
any update?

[2020-10-27 01:06] #8016 closed, assigned to marcbaechinger

[2020-10-27 01:06] #7995 closed, assigned to AquilesCanta

[2020-10-27 01:06] #7990 closed, assigned to krocard

[2020-10-27 01:06] #7980 closed, assigned to AquilesCanta

[2020-10-27 01:47] Our-colibri opened #8117 "Crash while playing HLS live content (probably a playlist update retry process)"
In exoplayer 2.10.6

I am having trouble with a crashing phenomenon while playing live content on HLS.

It was crashing in the part of the playlist where I was getting an I/O (HTTP) error and retrying to get the playlist update.

I suspect the crash is caused by the fact that the process of updating currentTask is not thread-safe.

I think that if <Loader#startLoading> is called between <Loader.Lo

[2020-10-27 02:34] arlimm318 commented on #8091
UDP

[2020-10-27 03:10] l20160606sy opened #8118 "can't get duration of audio file which extension is .aac"
[No information provided]

[2020-10-27 04:53] #8074 closed, assigned to marcbaechinger

[2020-10-27 08:26] Jason239 opened #8119 "Additional comment about 'get Dash stream sizes' issue"
_Originally posted by @ojw28 in https://github.com/google/ExoPlayer/issues/4714#issuecomment-504524539_

I have further question about the above issue.
The 'representation bitrates' mentioned above is, as you know, the maximum of all segments, so we can't get the accurate file size.
How do you think about this?

[2020-10-27 09:11] dmitriy-onix opened #8120 "Can't retrieve closed captions info from the track in Exo v2.12.1."
Can't retrieve closed captions info from the track in Exo v2.12.1.

please check repo:
https://bitbucket.org/dmitriy_godun/exoccissuedemo/src/master/
branches:
test/exoV_2_11_8
test/exoV_2_12_1

video link:
https://drive.google.com/file/d/1c0ZvYxEaFTEG_mhCouJ_kuDKRwtRtvtM/view?usp=sharing

For the same video file:
V2.11.8
mappedTrackInfo -> rendererFormatSupports ->array for text renderer is not e

[2020-10-27 10:19] icbaker commented on #8120
This is due to https://github.com/google/ExoPlayer/commit/6d0696a3c84f05889e7a9a54025f9ec8cf81c733.

The release notes of that change let you know how to resolve it in your app:

[2020-10-27 10:19] #8120 closed, assigned to icbaker

[2020-10-27 10:25] kuailedeadai opened #8121 "mediacodec error"
Hello, I am playing a video with a video encoding format of h265. The system supports hardware decoders of omx.google and omx.sec. After the decoder is initialized, the normal input data feedInputBuffer() is decoded, but the codec.dequeueOutputBuffer() always return -1, and the decoder has no Exception, the Android kernel reports an error: E/ACodec: [OMX.google.hevc.decoder] storeMetaDataInBuffers

[2020-10-27 11:42] yoobi opened #8122 "Download class missing equals function"
### [REQUIRED] Issue description
I was using `Download` in my `Recyclerview` and `ListAdapter` and in my `DiffUtil.ItemCallback<Download>` I got a warning with the following message: `Suspicious equality check: equals() is not implemented in Download`
[code]

In the mean time I've changed to:
[code]

[2020-10-27 11:58] marcbaechinger commented on #8061
I don't know a way to restart the app I'm afraid. The user probably needs to do that.

[2020-10-27 11:58] friskyliu opened #8123 "ExoPlayer cannot play normally, when the first ExoPlayer(uses the same URL) is buffering"
There ara two Activity, each with a ExoPlayer,

Both ExoPlayer use the same URL,

When the first ExoPlayer is buffering, start the second Activity, and the ExoPlayer player cannot play normally.

If it's not a bug, is there a good way to avoid it?

___Possible reasons for using cache:___

<pre>
       private static class CacheDataSourceFactory implements DataSource.Factory {
        private final

[2020-10-27 12:22] anonrootkit commented on #8061
@ojw28

Then how Youtube and most apps (uses exoplayer) are able to switch between download mangers, when the user selects download in `sd card` and change the DownloadManager download directory to respective path.

[2020-10-27 12:32] marcbaechinger commented on #8061
I don't know, but I suspect they are not using `DownloadService` and instead are having their own service or download component for this. ExoPlayer can play offline content from any `Cache` so you can fill the cache in any way you like. `DownloadService` and other offline components of the library is one way to fill the cache out-of-the-box. There are other ways to achieve that.

[2020-10-27 12:33] anonrootkit commented on #5993
Any update on the same? @janeriksamsonsen @tfcporciuncula @ojw28 @marcbaechinger @AquilesCanta @luiscurini

[2020-10-27 12:39] marcbaechinger commented on #8061
You are right, @anonrootkit There is a duplicate of this issue which is #5993 I apologize for not having noticed this earlier.
I think best is to keep discussion on a single issue, so we can keep everything together.

[2020-10-27 12:39] #8061 closed, assigned to marcbaechinger

[2020-10-27 12:55] BucherTomas commented on #7832
@andrewlewis Thank you for looking into it.

I agree that VPAID ads should not be even served to mobile devices in ideal world. However, ad servers often utilize their own rules serving ads and even though ad campaigns on these servers are managed by people owning applications that use ExoPlayer, they might not have the means to affect the ad server logic and filter out VPAID ads from ad pool targ

[2020-10-27 15:37] mohsin16432 opened #8124 "scrubber_drawable not showing properly"
I want to show custom Thumb for DefaultTimeBar and to do so i have used the attribute `scrubber_drawable` and it is showing but copped image to the height of DefaultTimeBar. Kindly assist.
<img width="379" alt="Screenshot 2020-10-27 at 8 27 36 PM" src="https://user-images.githubusercontent.com/72552138/97324858-25014a00-1894-11eb-8eb6-7ea248182601.png">

[code]

[2020-10-27 19:06] ojw28 commented on #8116
If the URL is included in the manifest then I think you'll need to request and parse the manifest, and then retrieve the URL from it. You can load and parse the manifest with `DashUtil.loadManifest`. Once you have it, you can dig around inside the `DashManifest` to retrieve the license URL. I didn't test this, but it's probably retrievable via:
[code]
If not, try attaching a debugger and exploring

[2020-10-27 19:22] AnassHmida commented on #8116
Good evening @ojw28,
Thank you for your detailed response, i will get back to you after i test this.
I do have one last question tho,
after renewing my license for offline playback , do i need to replace the generated keysetid response from offlinelicencehelper.renewlicense with the one that is linked to the download so i can playback my downloaded content with the new license or is there an other

[2020-10-27 19:33] ojw28 commented on #8117
For that stack trace to happen, I think `Loader.startLoading` must have been called on the application's main thread. This should never happen, since loads are only expected to be started by the player's own internal thread(s).

This suggests to me that your application code might be calling something directly that it shouldn't be calling. Perhaps your application code is calling `prepareSource` o

[2020-10-27 19:40] ojw28 commented on #8121
Please properly fill in the issue template, including all of the requested information, if you wish us to investigate this further. Thanks!

[2020-10-27 19:49] ojw28 commented on #8122
The `Download` includes things like the current state (i.e., whether the download is paused, completed, failed etc). If you're trying to test whether two `Download` instances correspond to the same piece of content, I don't think you want to be including that kind of state in your equality check, and so I don't think checking for equality between the two `Download` instances is the correct approac

[2020-10-27 19:53] yoobi commented on #8122
Maybe I'm not using the correct approach indeed, I'm trying to display the current progression of the download in my activity, how would you recommend me to do so ?

I currently have a recyclerview with all downloads, that's why I'm using DiffUtil, my code below:
[code]
then I'm using a `Flow` to get the progress of each download every second
[code]
and submit the new list.

[2020-10-27 19:55] ojw28 commented on #8124
This appears to be an issue with your customization, and is not something we can help with directly. If your image is being cropped by the height of the time bar, you'll possibly need to find a way to make it taller.

I'll leave this issue open for a few weeks in case anyone else is able to help. You may find StackOverflow is a better place to ask this question.

[2020-10-27 20:05] stevemayhew commented on #7877
Thanks @AquilesCanta this is timely, meeting with the origin vendor today and grateful to have a solution to provide them.

I was hoping to a add code in our solution to default chunk-less prepare to enabled then disable it internally in the `HlsSampleStreamWrapper` (with a warning log) when we detect one of these conditions:

1. The CODECS tag is ambiguous (multiple CODECS for the same renderer t

[2020-10-27 22:04] AquilesCanta commented on #7877
Re 1. it will be available in dev branch 2 this week, maybe tomorrow. It's been merged internally since last week (as mentioned above, with the commit message `Avoid chunkless preparation if the codec mapping is ambiguous`).

Re 2. I think there are better solutions than using traditional preparation to get captions. One way I can think of is injecting the caption tag in the parsed playlist (assum

[2020-10-28 01:17] Our-colibri commented on #8117
Thanks for the reply.

I was creating a separate thread in MyMediaSource#prepareSource to call the actual MediaSource#prepare as you wrote.
(The reason was to recreate and replace the MediaSource as needed in the Prepare phase.)

I didn't understand it well enough, so your reply was a great help.
Thanks so much.

[2020-10-28 01:17] #8117 closed, assigned to ojw28

[2020-10-28 03:05] DaveBoy opened #8125 "How to play live byteArray data"
i have a live byteArray data from dlna/cast or other way from a screen cast.
the question is how to input it to the Exoplayer.

i know the method by byteArrayDataSource from [issues/5571](https://github.com/google/ExoPlayer/issues/5571),but how to update the byteArray in the byteArrayDataSource?when i creat the byteArrayDataSource,I only have current byteArray data，how to set the next Frame byteAr

[2020-10-28 03:34] Pisey-Nguon opened #8126 "video stream was restart when reconnect internet"
I use function prepare() on listener onPlayerError but seem like my video restart to seekbar zero after intenet reconnect.

[2020-10-28 06:19] DaveBoy commented on #8125
i found the Aes128DataSource、RtmpDataSource、UdpDataSource SourceCode is return C.LENGTH_UNSET in open method.
That keeps reading the newest data through the ’read‘ method, right?

[2020-10-28 08:32] ltomov commented on #8112
It's ok, you can close this.

Basically I was wondering if this is some known limitation of the surface_view with a known workaround. I don't think it's a bug, I'm pretty much using the hello-world setup.

From my testing it seems the videos are such that they just fall into the rare exception where texture_view needs to be used (fast moving animations). So I guess I'll stick with it.

[2020-10-28 08:32] #8112 closed, assigned to ojw28

[2020-10-28 08:59] aiescola opened #8127 "VBR source freezes the first chunk after a video track changes"
Hi,

I have an AndroidTV app and some channels feature two video layers with different bitrates and each of those layers have variable bitrate. These sources are DASH and the video tracks avc1.64001f. We have other sources that are HLS with the classical CBR and multiple quality layers and they play correctly, so at least we know we haven't broken the standard behavior.

**Exoplayer version:** r2.

[2020-10-28 09:03] mohsin16432 commented on #8124
Thanks @ojw28
The issue is now resolved.
Actually the attribute `app:bar_height="@dimen/_1sdp"` is used to show the height of the progress/timebar and i thought `android:layout_height="@dimen/_5sdp"` is used to show the height which is cropping the `Scrubber` drawable. Making `android:layout_height="wrap_content"` fixed my problem.

[2020-10-28 09:21] #8124 closed, assigned to ojw28

[2020-10-28 09:59] friskyliu commented on #8123
I found it was blocked in the CacheDataSource#openNextSource.

CacheDataSource.java
<pre>

private void openNextSource(boolean checkCache) throws IOException {
    CacheSpan nextSpan;
    if (currentRequestIgnoresCache) {
      nextSpan = null;
    } else if (blockOnCache) {
      try {
        nextSpan = cache.startReadWrite(key, readPosition);     //Blocked here!!!!!!!!
      } catch (Interrupte

[2020-10-28 10:10] ojw28 commented on #8123
`SimpleCache` does indeed have some limitations on concurrent access.  Note that your code above is explicitly requesting blocking in this case, by using `FLAG_BLOCK_ON_CACHE`. If you don't want that behavior, don't use this flag :).

[2020-10-28 10:30] #8123 closed, assigned to ojw28

[2020-10-28 10:31] emadPirayesh opened #8128 "exoplayer 2.12.1 Unexpected error loading stream"
when set minifyEnabled=true in gradle this crash occur in play mp4 stream
info
used exoplayer 2.12.1
android 9
device redmi note 8

[code]

[2020-10-28 10:41] CanerGures opened #8129 "Exoplayer Builder gives error when open a video again."
I have implemented the exoplayer builder according to documents. But when I play the video and back press and open again it gives the following error.

[code]

my code can be seen at [question](https://stackoverflow.com/questions/64569123/exoplayer-builder-gives-error-when-back-pressed-and-open-video-again)

Let me explain the problem again. I have recyclerview and items in it. When the user click

[2020-10-28 11:36] icbaker commented on #8128
I'm not able to reproduce this problem.

I used the demo app and set `minifiyEnabled true` in its [build.gradle](https://github.com/google/ExoPlayer/blob/r2.12.1/demos/main/build.gradle), then played Misc > Dizzy (MP4). It played fine.

Can you reproduce in the demo app using your media? If so, we'll likely need access to the media to investigate further. Please either upload it here or send to de

[2020-10-28 12:02] tonihei commented on #7607
I also tried again with a throttled connection, but I still couldn't observe the problem. Not sure if there is anything else I can do here if it's not possible to reproduce despite using the same device (OnePlus 7), the same video (provided via email), the same ExoPlayer version (2.11.4), a slow (throttled) connection and performing multiple seeks.

I think I'll close this issue as not reproducibl

[2020-10-28 12:02] #7607 closed, assigned to tonihei

[2020-10-28 12:34] tonihei commented on #8048
Issue was fixed by the commit above.

[2020-10-28 12:34] #8048 closed, assigned to tonihei

[2020-10-28 12:35] tonihei commented on #8043
Closing under the assumption that the question was answered.

[2020-10-28 12:35] #8043 closed, assigned to tonihei

[2020-10-28 12:43] gautamlook opened #8130 "Exoplayer CC(Closed caption) issue in FireTV app : Rejected by Amazon Store"
I am working on TV app for FireTV.

Amazon store have rejected my app due to CC issue. Matter is that CC(Closed Caption) is not working fine for some of the videos.

I am using Exoplayer player with custom CC(Closed Caption) button. If button ON then CC is enable and show the closed caption and if button OFF then CC is disable to show.

I am using below code for detecting CC is coming or not in Vi

[2020-10-28 13:53] tonihei commented on #8051
You could write your data to a `ByteBuffer` or just a `byte[]` array instead of a file and then create a `ByteBufferDataSource`.   You can probably copy what the existing `ByteArrayDataSource` is doing and adapt it to read your data. The difference between the existing `ByteArrayDataSource` and your case is that your byte array keeps growing (or you create new ones) and it's not constant size as i

[2020-10-28 13:53] tonihei commented on #8052
Closing under the assumption that the question was answered.

[2020-10-28 13:53] #8052 closed, assigned to tonihei

[2020-10-28 13:57] tonihei commented on #8056
Closing under the assumption that the question was answered.

[2020-10-28 13:57] #8056 closed, assigned to tonihei

[2020-10-28 13:57] tonihei commented on #8059
Closing under the assumption that the question was answered.

[2020-10-28 13:58] #8059 closed, assigned to tonihei

[2020-10-28 14:31] emadPirayesh commented on #8128
below link is demo source code  for reproduce problem.
https://mega.nz/file/nJkARAgQ#XRdtQkc50p_byde8K_KjmxrztXkjHnaTmICjajQOck8

[2020-10-28 14:39] emadPirayesh commented on #8128
after update classpath com.android.tools.build:gradle:3.2.1  to  classpath 'com.android.tools.build:gradle:3.5.4'  this issue solve

[2020-10-28 15:05] #8128 closed, assigned to icbaker

[2020-10-28 15:11] icbaker commented on #8128
Glad you managed to fix the problem!

The stack trace you provided suggests the redacted method causing the AbstractMethodError (`com.google.a.a.e.a(java.lang.Object)`) is Guava's `com.google.common.base.Function.apply(Object)`:
https://github.com/google/ExoPlayer/blob/be13805ce4e22231ae728d2710a2b8751ee5ad7c/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/mp4/AtomParsers.j

[2020-10-28 16:36] ojw28 commented on #8125
You will need to implement your own `DataSource` to support this. And yes, you're correct to say that:

1. `open` will need to return `C.LENGTH_UNSET` because the length of your data is unknown or unbounded.
1. `read` should be implemented to return the next part of the data to be read on each call.

[2020-10-28 17:03] #7961 closed, assigned to andrewlewis

[2020-10-28 17:10] ojw28 commented on #8119
The definition is a bit more complicated, but you're right that it's essentially a peak bitrate rather than an average. I probably didn't understand this when I made my previous comment, so I think my previous comment was just not very correct; sorry about that :).

I'm not sure it's possible to efficiently determine download size from a DASH manifest, at least not in the general/worst case. If th

[2020-10-28 17:20] ojw28 commented on #8118
This is a known limitation. You should consider using a more appropriate container format for your audio, such as MP4, which will not have this problem.

[2020-10-28 17:22] ojw28 commented on #8126
Please provide all of the information requested in the issue template, if you wish for us to investigate this further.

[2020-10-28 18:13] ojw28 commented on #8129
One thing I noticed is that you're pulling in ExoPlayer modules that use different versions.
[code]
Failure to find the class may be caused by mixing the versions, so as a first attempt at fixing this I'd suggest you switch all of these dependencies to using a single, consistent version (probably `2.12.1`). If that doesn't work, it would be helpful if you could provide clear reproduction steps for

[2020-10-28 18:21] ojw28 commented on #8127
I could not reproduce the problem with the provided manifest. Is this issue device specific, or are you seeing it across all devices? Please could you provide some more precise reproduction steps, ideally using the ExoPlayer demo app (with minimal modifications, if necessary).

[2020-10-28 18:33] CanerGures commented on #8129
Hey, I have just tried the version that you mentioned on all dependencies and it worked. Also, there should be a recycler view with items on the main screen, I don't know why you can't see them. This is the picture of the app [here](https://imgur.com/gallery/9AMT0AR).Thanks for the reply and solution. It helped so much. Thank you again.

[2020-10-28 22:07] #8129 closed, assigned to ojw28

[2020-10-29 02:02] l20160606sy commented on #8118
But I found that sometimes the audio of AAC files can get the total duration, and sometimes it can't

[2020-10-29 02:06] DaveBoy commented on #8125
tks for your reply

[2020-10-29 02:06] #8125 closed, assigned to ojw28

[2020-10-29 02:17] Jason239 commented on #8119
Okay, thanks for your detailed reply ;)

[2020-10-29 02:17] #8119 closed, assigned to ojw28

[2020-10-29 03:54] kuailedeadai commented on #8121
![image](https://user-images.githubusercontent.com/10614848/97523425-3a35c000-19dd-11eb-9828-78947aa9386b.png)

The picture above is the video encoding information, the model of the mobile phone played is: galaxy j7 sm-j700f

[2020-10-29 06:16] #8054 closed, assigned to tonihei

[2020-10-29 06:16] hereisclient opened #8131 "about the playready drm..."
### [REQUIRED] Exoplayer couldn't play  vod content with playready.

First time, i doubted the security level issue.
but the playready version was 2.0 in the MPD file
So this case is not security issue.
https://docs.microsoft.com/en-us/playready/overview/security-level
That's why i help exo-team.

I've got a test hbbtv app from the customer company in germany.
This app has a video content protecte

[2020-10-29 08:03] yoobi commented on #8110
Oh yes it might work I didn't think about the `tag`, i'll try that out :)
Thanks

[2020-10-29 08:28] aiescola commented on #8127
The reproduction steps I put earlier were pretty precise, but you are right, it seems the issue disappears when we take the DRM out of the equation. I'm going to gather some traces about it. And then I'll try to make it work in the demo app.

Across all devices, I'm using a Xiaomi MiBox specifically but it has been seen on more devices like Tivo Stream 4k and Nvidia Shield.

[2020-10-29 08:39] ojw28 commented on #8131
It's not possible to say from the information you've provided. You'll need to provide the more complete information requested in the [bug template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=), rather than the question template you filled in. If you do this, please copy/paste the template here rather than opening a new issue.

It migh

[2020-10-29 08:46] ojw28 commented on #8118
I think the duration might become known once the player has buffered to the end of the stream, so you may find that duration is determined quickly for short AAC files (which are fully buffered up-front), and toward the end of the playback for longer AAC files (where this is not possible).

The problem is that the player doesn't have an efficient way to determine the duration of the content from on

[2020-10-29 08:56] l20160606sy commented on #8118
OK, got it.thanks

[2020-10-29 08:56] #8118 closed, assigned to ojw28

[2020-10-29 09:28] hereisclient commented on #8131
i updated my question  by your request.
please check it again.
Thank you so much.

[2020-10-29 10:12] aiescola commented on #8127
I'm afraid the callbacks are not showing anything strange about the drm. Everything looks correct to me:

[code]

[2020-10-29 11:25] icbaker commented on #8130
Thanks for providing the media - I'm able to reproduce the behaviour you're seeing in the demo app: the 'track selector' dialogue shows a text track called 'Unknown' but selecting it displays no subtitles.

This is happening because `DefaultHlsExtractorFactory#exposeCea608WhenMissingDeclarations` defaults to true:
https://github.com/google/ExoPlayer/blob/59b34ede6165d029d86a677fea73a5dd0dd55c74/li

[2020-10-29 11:54] benlancaster opened #8134 "IllegalStateException from android.media.MediaCodec.native_dequeue methods"
### Issue description
We are seeing a low-level of `IllegalStateException` throws, resulting in fatal playback failure, emanating from `android.media.MediaCodec.native_dequeueOutputBuffer` and `android.media.MediaCodec.native_dequeueInputBuffer`, affecting ~0.15% of 4.5m playback sessions over 7 days.

### Reproduction steps
Very hard to reproduce, does not appear to be triggered by a specific int

[2020-10-29 12:31] shwetachauhan-simform opened #8135 "Hide Quality display from Video"
![video_player](https://user-images.githubusercontent.com/63042002/97574001-96660780-1a10-11eb-86f8-7a6439b577ea.png)

I want to hide video quality from PlayerView. I have attached image and I want to hide that "FULL HD" button.

Is it possible???

[2020-10-29 12:38] ojw28 commented on #8135
That view has nothing to do with ExoPlayer. I suggest you contact the author of whatever app or library you're using.

[2020-10-29 12:41] shwetachauhan-simform commented on #8135
yea, I thought same but when I use different trackselector I mean quality then it's showing me like 480p, 240p.

So, I am confirming here it's related to ExoPlayer??

[2020-10-29 12:44] ojw28 commented on #8135
Whether something is displayed in a UI component or not, is a property of the UI component. That UI component doesn't look like anything that we provide in the ExoPlayer library, so this is not an ExoPlayer issue.

[2020-10-29 12:45] shwetachauhan-simform commented on #8135
okay, thanks a lot. Got it.

[2020-10-29 12:51] gautamlook commented on #8130
Thanks for the update. it is working fine for Videos URL
https://redirect.field59.com/video/608fd60f54c844ccabe023a8126c2d0b2158201a.m3u8

But 'Closed Caption' has coming stop  for below Video URL (Before set 'exposeCea608WhenMissingDeclarations = false', Closed Caption is showing on this  videos )
https://redirect.field59.com/video/71e09e82cd78f9a10875f17e2478674cc094d228.m3u8

can you tell me wh

[2020-10-29 13:16] #8135 closed, assigned to ojw28

[2020-10-29 13:28] Manvendra-Jadon opened #8136 "Either Ads not playing or Ads playing continously"
After new version release : 2.12.1, where following bug got fixed : https://github.com/google/ExoPlayer/issues/7944

We tried upgrading to latest version, i was able to add callback, but we are facing bigger issues now. Either Ads/Videos are not playing at all or Ads keep playing continuously. Here is 1 error log of the same:

[code]

[2020-10-29 13:30] Manvendra-Jadon commented on #8136
Ad Tag Url is shared on email : dev.exoplayer@gmail.com

[2020-10-29 14:49] icbaker commented on #8130
The second video **does** have a text track in the TS segments, but it also isn't declared in the manifest.

So by setting `exposeCea608WhenMissingDeclarations = false`, we don't surface this track.

The easiest solution is to change the manifests so that they correctly declare whether media includes a text track or not.

@AquilesCanta might have ideas of how you can handle this from the ExoPlayer

[2020-10-29 15:03] LukasThijs commented on #2092
We still need .avi support why is this being ignored

[2020-10-29 15:23] ojw28 commented on #8127
There isn't much we can do to help with this unless you're able to provide a test stream that reproduces the issue.

[2020-10-29 15:29] mytvpro commented on #2092
Because they think no one needs it even though we all keep saying we do

[2020-10-29 15:30] mahdi24rajabi commented on #6348
Hi @christosts. I'm trying to work on this issue, I've found out if I increase `earlyUs` more than 500ms up to 1s, the issue on Samsung TAB 3 T310 will get resolved. But I think it may negatively affect the streaming sometimes with 500ms latency, based on assigned value. Since I'm new in Exoplayer codebase, my question is that what sort of side-effects I may supposed to face if I update `earlyUs`

[2020-10-29 15:51] christosts commented on #6348
@mahdi24rajabi what is the Android version of your device? The experimental APIs introduced are available for Android API 23+ and modifying the `earlyUs` should be effective on API 21+.

[2020-10-29 15:52] aiescola commented on #8127
I added two streams to the exoplayer demo app with the DRM, the one with 'VBR' at the end reproduces the issue. Here is the debug apk:
https://drive.google.com/file/d/1hxP9DCHFQbU6d0T-ofZaHaaTqSEBbpTW/view?usp=sharing

As I said earlier, the freeze is for the first chunk after a change of layer. However, it doesn't happen if I change the track manually through the button.

Let me know if you need

[2020-10-29 15:54] mahdi24rajabi commented on #6348
@christosts It's pretty old device and API version is 19.

[2020-10-29 16:02] christosts commented on #6348
@mahdi24rajabi the `earlyUs` [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L842) should only be affected on API 21+.

Can you please point me the exact changes you made? If it's just one line, a link to the source code will do explaining what values you are setting, otherwise can you attach a p

[2020-10-29 16:14] andrewlewis commented on #8091
Please could you actually share the logs from MediaPlayer? Contrary to my previous message there may be some useful logging from NuPlayer about how the stream is being handled.

It would also be useful if you provide instructions for producing a similar UDP stream, or at least some more information on how it was produced. E.g., is this RTP over UDP or something else?

[2020-10-29 16:16] ojw28 commented on #2092
To clarify, we do understand there's some demand and value to implementing this. As is the case with most widely used open source projects, we receive far more requests than we're able to handle, and we need to prioritize what we work on fairly ruthlessly. This feature is not important enough for us to work on at this point in time.

We accept open source contributions, and would accept a high qua

[2020-10-29 16:45] aiescola commented on #8127
Using the demo app and emulating a bad network with charlesproxy I tested that the freeze only happens when it goes from the lower layer to the upper layer, but not the opposite (for that I set a throttle to 2mbps until it goes to the lower layer and then stop throttling).

[2020-10-29 17:04] pavan245 opened #8137 "How to get the entire content Duration of a MediaItem, not just the clip length?"
### [REQUIRED] Question
I have a list of `MediaItem`s with different start positions.
[code]
When a particular MediaItem is being played, the Player is just returning the duration of the clip, not the total length of the track.
Is there a way where I can get the total length of the track, not just the clip length?

[2020-10-29 17:37] stevemayhew commented on #7877
Thanks, we will be looking for the commit and are ready to test it as soon as you have all the code changes public in dev-v2.

For 2., maybe, So the use case is really `allowChunklessPreparation` semantics change a bit...   Currently, if `allowChunklessPreparation` is true, then`TrackGroups` are created for, *and only for*:

1. All video declared in CODECS on variants (this is a must anyway)
2. An

[2020-10-29 19:43] andrewlewis commented on #8136
That exception indicates that the IMA SDK requested to stop an ad while the player was backgrounded. When backgrounded, if there was an ad playing it should be paused, so something unexpected is happening. We used to log a warning for this case but in fa7d26dd9f94f52c412ff7d6490630dd73f187a6 we switched to throwing as the unexpected behavior didn't seem to occur any more.
- Please could you give s

[2020-10-29 19:47] mahdirajabi-nent commented on #6348
Just changed following lines in `MediaCodecVideoRenderer.java`:

I've prevented frame dropping in short time in this way. It's smooth now, but not sure whether does it have any side effects or not.

[2020-10-29 19:57] mahdi24rajabi commented on #6348
@christosts Just changed following lines in `MediaCodecVideoRenderer.java:`

I've prevented frame dropping in short time in this way. It's smooth now, but not sure whether does it have any side effects or not.

[2020-10-29 21:02] skreenr commented on #8081
It is not our scenario kind of app
Can you please drop a Java snippet we can use in a service?

[2020-10-29 21:16] AquilesCanta commented on #8130
Agreed. The purpose of the master playlist's closed caption EXT-X-MEDIA tag is to signal these tracks. You can either provide caption service descriptors in the TS, or you provide EXT-X-MEDIA declarations in the master playlist. Other than that there are no reliable ways of knowing whether there's or not a 608 track in the media.

[2020-10-29 21:29] AquilesCanta commented on #7877
Adding tracks after preparation is something we've internally discussed in the past. It's tracked by #6124. The issue is that it does not only affect HLS chunkless preparation, but the entire ExoPlayer pipeline. I do have some ideas on how this could be implemented without disrupting the existing infrastructure too much but it requires changes in a number of components. Please track #6124 for that

[2020-10-29 23:25] stevemayhew commented on #7877
Seems like #6124 is trying to solve a much larger and more general problem at the player level.  Certainly that requires messing with creating agregating `MediaSource` on the fly from a `ProgressiveMediaSource`.    What I'm looking for is much simpler, is this::

A requirement, that is something that is explicitly prevented, or just an artifact of how chunk-less prepare works?   The ID3 track alre

[2020-10-30 01:04] #8026 closed, assigned to andrewlewis

[2020-10-30 01:04] #8019 closed, assigned to marcbaechinger

[2020-10-30 02:17] arlimm318 commented on #8091
The log  of  mediaplayer
[1.log](https://github.com/google/ExoPlayer/files/5462591/1.log)

[2020-10-30 06:08] devathul commented on #7560
Hello , Do you have an ETA for enhancement to reduce the usage of FLAG_ALLOW_NON_IDR_KEYFRAMES and FLAG_DETECT_ACCESS_UNITS?
Thanks

[2020-10-30 09:02] Seil0 commented on #7898
I have the same problem. I can override the primary color in the player theme which fixes the wrong color issue, but i can't work around the not centered text.

Version of ExoPlayer being used: 2.12.1
Device(s) and version(s) of Android being used: Pixel 2, Android 11

[2020-10-30 09:03] CanerGures opened #8138 "Detecting live and VoD content (2020)"
I am trying to detect whether the stream is live or not. I reviewed many questions in here and in stackoverflow, but they are not working, at least anymore.
I checked [this](https://github.com/google/ExoPlayer/issues/2668) , [this](https://github.com/google/ExoPlayer/issues/2623) and [this](https://stackoverflow.com/questions/38037794/exoplayer-how-to-know-if-hls-video-is-live-or-not)

What is I a

[2020-10-30 09:18] Manvendra-Jadon commented on #8136
@andrewlewis
**Please could you give some more guidance to help me reproduce the same problem here? Did you need to background and resume the app? The ad tag provided via email seems to be serving an empty ad.**
No doing anything here, simply trying to play any video(foreground). Ads(Pre-roll) are being served continously.

**Are your custom video ad player callbacks interacting with the IMA SDK o

[2020-10-30 09:54] christosts commented on #6348
There can be some interesting timing interactions between audio and video if the video renderer keeps trying to present frames that should have been dropped otherwise. For example, I've seen the side effect where a bunch of delayed video frames are displayed in higher rate, so the user sees video playing faster for a short duration (1 second). However, I have not investigated these changes further

[2020-10-30 10:57] JimClermonts opened #8139 "ExoPlayer show first frame during loading of video"
### Loading frame shown during loading
I'm having an API serving the video URI and a (preloaded!) first frame URI. I don't think it is possible right now to show the loading frame until the video is ready to play. I've tried a simple overlay view in android, but I'm running into issues with RecyclerView. It seems like a common use case so maybe I'm missing something?

### Proposed solution
This is

[2020-10-30 12:41] harunarrosyid opened #8140 "Help me to Implement Download Before Playing?"
I have a problem with implementing a Download Media (Cached) to my Project. I read the Doc from [Exoplayer] (https://exoplayer.dev/downloading-media.html) but that is very difficult to understand and implementing to my project.
Then i search in Googl, but i found a different way with the Exoplayer Document. They use DownloadManager and get mp4. But i want to use way from Exoplayer using Cache and

[2020-10-30 13:09] AquilesCanta commented on #7877
I don't think this is accurate. We just preemptively declare the ID3 track.

I don't think other users of chunkless preparation would be happy with the preemptive addition of 608 tracks (like we do in ID3). One option would be enabling preemptive declaration of 608 through the MediaSource builder, but that can be done without a huge extra complication for the app by decorating the parsed master pl

[2020-10-30 13:23] ojw28 commented on #7898
@1nsun - I think we need to make sure that the icons are not picking up the primary color. Is it possible they're also picking up some default padding or something, which is affecting the text positioning?

[2020-10-30 13:26] ojw28 commented on #8127
Please can you provide the `exolist.json` snippet that you're adding to the demo app, so we can replicate in source rather than having to look at a pre-built apk. Thanks.

[2020-10-30 15:02] aiescola commented on #8127
Sure: https://drive.google.com/file/d/14JcRkIibtQJSFJ1lO4Wg3PcpcAMLjpS3/view?usp=sharing

Or simply add this on top of the default json:
[code]

[2020-10-30 16:46] yoobi commented on #8110
I've tried using `tag` so far so good, except when I'm trying to retrieve the tag from the `downloads` I lost the `tag`.

I got the following flow:
- First screen with `Exoplayer` and a button to download the video (that's in this activity that I set my `tag` on `mediaItem`)
- Second screen with all the videos (a `recyclerview` which shows my current/downloaded video), following the [`Demo`](https

[2020-10-30 16:51] stevemayhew commented on #7877
Agreed, this is more an RFE and orthogonal to the issue in this bug.   I'll summarize the relevant comments  and/or reference this issue for context.   I do think people want to see the 608 tracks surfaced, with priority to what is declared in EXT-X-MEDIA (if anything).  Because we are dealing with broadcast TV here in the US it is a federal requirement for these tracks to be present and presented

[2020-10-30 21:49] bafolts opened #8141 "Support Role listed after Representation in DashManifestParser"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2020-10-30 22:34] ojw28 commented on #8141
Putting the `Role` element after the `Representation` element is a violation of the DASH spec.

[2020-10-30 23:42] ojw28 commented on #8127
The VBR stream looks a bit strange to me. Here's a simplified version of the video part of the manifest:

[code]

I'm not 100% certain, but I think what this is saying is that segment `1524115` for representation `id="1"` starts at `t="1098625650304"`, where-as for representation `id="3"` it's segment `1524114` that corresponds to this start time. Note also that `segmentAlignment="true"` is omitte

[2020-10-30 23:45] ojw28 commented on #8121
Please properly fill in the issue template, including all of the requested information, if you wish us to investigate this further. The issue template can be found [here](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=). Please copy/paste it into this issue and complete all of the requested sections. Thanks!

[2020-10-31 00:05] bafolts commented on #8141
Closing this makes sense if it violates the DASH spec. The shaka player supports the `Role` element anywhere whether by design or by accident.

https://github.com/google/shaka-player/blob/master/lib/dash/dash_parser.js#L727

I believe my manifest provider uses shaka to verify their changes as it is more accessible.

[2020-10-31 00:11] #8141 closed, assigned to ojw28

[2020-10-31 00:14] ojw28 commented on #8138
Have you tried using `Player.isCurrentWindowLive` and/or `Player.isCurrentWindowDynamic`? If neither of those are correctly detecting what you want, please could you provide direct links to some live content that is not being detected as such? Thanks.

[2020-10-31 00:18] ojw28 commented on #8139
Assuming the first frame URIs you refer to fetch regular image files, loading that image into a view and placing it on top of the `Surface` to which the video will be rendered should work fine, and is a fairly widely used technique. I would therefore suspect that there's just something a little wrong with your implementation.

[2020-10-31 00:22] blonsky95 commented on #7982
Would that commit fix the audio? make it compatible with the speed params adjusting?

[2020-10-31 00:30] ojw28 commented on #8131
I'm not sure whether you sent the correct stream URL, since:

1. There's some logging present in the log file you sent that's content dependent, and is different to the logging I see when playing the provided stream (e.g., the duration is slightly different).
1. The provided stream works fine for me on MiBox3 running Android 9.
1. The provided stream is not geo-blocked as described.

Please double

[2020-10-31 05:05] hereisclient commented on #8131
I'm not sure whether you sent the correct stream URL, since:

1.There's some logging present in the log file you sent that's content dependent, and is different to the logging I see when playing the provided stream (e.g., the duration is slightly different).
    **I tested it again after exoplayer uninstallation and installation.
    After that the error log was changed .
    I emailed with the ne

[2020-10-31 06:19] abolfazlghanbari23 commented on #8051
How and in what format will this byte array be played? Does it have a header like the file? Is there an example of a byte array?

[2020-10-31 15:37] master255 opened #8142 "No sound in MKV file."
No sound in MKV file.
It consists of x265 video and PCM 32bit 48KHz stereo audio track.
Both codecs are separately supported by ExoPlayer, but when they are in the same mkv container there is no sound.

Version ExoPlayer: 2.12.1
[My file.](https://mega.nz/file/ZgVmBRpD#7TmaSEyxqCRrJnaUWKMY7U0HCqYyNtM1NbIwj4B7HJg)

Other players play this file with sound.

[2020-10-31 17:15] ojw28 commented on #8131
I tried playing the stream again, and am still able to play it without any issue. I'm not making any code changes to test this. I'm just checking out the r2.9.4 release tag and adding the sample to the `media.exolist.json` file.

In your latest log, it appears that the DRM license server is an [500 Internal Server Error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500). It should be p

[2020-10-31 17:33] ojw28 commented on #8142
We need to add a block to `MatroskaExtractor` to handle floating point PCM. This is pretty straightforward; we'll get it added. Thanks!

[2020-10-31 19:15] dburckh commented on #2092
I'll have some time this summer to work on it.  I have a lot of experience
with different containers and I've read the AVI and OpenDML spec.  Based on
my personal library, it looks like the primary codecs are MJPEG/PCM and
H263 (xvid) and AC3.  Both combos have challenges with ExoPlayer/stock
Android.  There are also a ton of trail cams out there that still use AVI.
I'm not sure what they are usin

[2020-11-01 01:50] AndroidDeveloperLB opened #8143 "Request: allow to show animated GIF/WEBP/HEIF, as well as static images"
### [REQUIRED] Use case description
This can be used to avoid creation of multiple views for a simple thing to show.
Or for a placeholder before we actually show the video, or while loading it.

### Proposed solution
We could tell it which to use.
Even without the animation support, it could be nice to have static images, and we could set them using frame-by-frame for animation using Glide.
We cou

[2020-11-01 04:26] hereisclient commented on #8131
I couldn't follow this situation. OMG...

if you don't mind sharing your log and media.exolist.json file and your test enviroment  , Please share it for me.
1.log file on xiomi mibox3 with exoplayer version r2.9.4   .
2. media.exolist.json file
3. Timezone on mibox3.
4. if other special setting value exist, please let me know.

i'm suffering  because of this issue for almost 2 weeks.
even not me,

[2020-11-01 11:39] tariqul000 opened #8144 "Download not working when we set drm_key_request_properties , Is it possible to download offline and play ?"
I modify **media.exolist.json** file to look like the bellow code.. it working for playing but I couldn't download the video. Is there any way in new Exoplayer to download and play DRM key protected video?  I found a demo app with old version that most of the file depreciated!!
`[
  {
    "name": "Widevine DASH  testing app",
    "samples": [
      {
        "name": "Test DRM -acquire license",

[2020-11-01 18:52] Ethan1983 opened #8145 "Support for Android 11"
### [REQUIRED] Searched documentation and issues
Couldn't find anything regarding this in https://exoplayer.dev/

### [REQUIRED] Question

API getActiveNetworkInfo of ConnectivityManager and getSubType of NetworkInfo is deprecated from API 29 (Android 10). This is being used to find the cellular network sub type( getMobileNetworkType of com.google.android.exoplayer2.util.Util) used in DefaultBandw

[2020-11-01 19:19] ojw28 commented on #8131
Regarding the streams that you previously provided, which work fine for me:

* As per my previous response, if the license server is responding with a HTTP 500 Internal Server Error, you should look at debugging the issue on the server side to see what's wrong.
* The `media.exolist.json` file was modified by exactly copying what you provided in your emails. I don't think the timezone is related, a

[2020-11-01 19:26] ojw28 commented on #8144
@christosts - Do we need to plumb `drm_key_request_properties` into the `WidevineOfflineLicenseFetchTask` class that you added in the demo app's `DownloadTracker`?

[2020-11-01 19:36] CanerGures commented on #8138
Yes, I tried every combination of these. My links are not live anymore now but I found a live link and the player didn't detect that either. I will edit this answer when I got new live links from my company. Thanks.

**http://livesim.dashif.org/livesim/segtimeline_1/testpic_2s/Manifest.mpd**

[2020-11-01 19:46] ojw28 commented on #8138
I tried adding the sample linked above into the demo app, and I also added this to `PlayerActivity.PlayerEventListener`:
[code]
The corresponding logging when playing the sample linked above is:
[code]
So it seems the player is detecting this correctly.

[2020-11-01 20:16] CanerGures commented on #8138
When I wrote isCurrentWindowLive on the initializer it gives false. But I wrote in the listener like yours. It gives the correct response. What is the difference between writing in the listener and just in the initializer?

`        if (player!!.isCurrentWindowDynamic && player!!.isCurrentWindowLive) {
            Toast.makeText(this, "video is Live", Toast.LENGTH_LONG).show()
        }`

[2020-11-01 20:20] ojw28 commented on #8138
If the player hasn't loaded any of the content yet, which is probably the case where you're trying to make the call, then it's not going to have any way of determining whether the content is live.  `onTimelineChanged` is called when the player detected a change in the content structure (including whether the content is live or not), and so is the right place to check.

[2020-11-01 20:20] #8138 closed, assigned to ojw28

[2020-11-01 20:39] CanerGures commented on #8138
Outside of this topic, Can I use your help on another question?

When live videos are playing I want to set the slider on the right end side and on the right end side I want to set the time of the video backward like minus value. Can you check the picture? You will understand what I meant.

[picture](https://linkpicture.com/q/Ads%C4%B1z_81.png)

[2020-11-02 02:04] #8033 closed, assigned to marcbaechinger

[2020-11-02 03:46] tariqul000 commented on #8144
If  I understand clearly then you are right. you need to add  drm_key_request_properties  into the WidevineOfflineLicenseFetchTask class.  The present demo app not working to offline download when anyone uses Widevine drm_key_request_properties ... can you please look into this issue.

[2020-11-02 07:45] hereisclient commented on #8131
The "Failed to get key request" error was fixed in the 2.10.0 release. Using this release or later allows your stream that sees this error to play successfully. If using 2.12.1 or 2.12.2, you additionally need to use the workaround described above.
**i tested it following the your guideline, but it brought the http 500 internal error
   In result, two vod contents occured the same error.**

The HT

[2020-11-02 08:26] CanerGures opened #8146 "Timebar Customization"
Hello, I am trying to customize timebar and duration/position timers for playing live videos. I want to achive [this](https://linkpicture.com/q/Ads%C4%B1z_81.png). But I couldnt find anything about this topic on neither in https://exoplayer.dev/ or somewhere else.

                Log.e("timeline", "live:"+ player!!.isCurrentWindowLive)
                Log.e("timeline", "duration:"+ player!!.durat

[2020-11-02 08:54] rahulsainani commented on #8139
@JimClermonts Maybe this helps you, this is what i was using in onBind of the recyclerview:

[code]

@ojw28 The problem with this we faced is that sometimes the player doesn't fire the event "Ready" and plays the video for a while while the state is still "Buffering" So by this logic, the image is visible while the player plays in some cases. It specifically happens if we scroll 25+ items. Maybe t

[2020-11-02 08:58] kim-vde commented on #7560
I am afraid not. All I can say is that we haven't planned to work on that in the following months.

[2020-11-02 10:36] andrewlewis commented on #7982
I think that's just the same change as the one above going into a release.

Still need to investigate further what's going on (if removing the audio renderer fixed the problem then I think it's not to do with frame release timing) but I'm afraid it will be a while until I get round to it.

Hopefully just turning off audio for low speeds is fine for the time being? To turn audio on and off without

[2020-11-02 10:50] andrewlewis commented on #8081
I'm afraid we don't have sample code for that specific use case. If you go through the steps I outlined above to try this in the demo app, you can just translate that over to your own app yourself (the way it works doesn't need to be significantly different).

[2020-11-02 10:56] Skys777 opened #8147 "Keep reference to audio processor (ChannelMappingAudioProcessor) without creating new SimpleExoPlayer instance everytime"
**### [REQUIRED] Issues.**
Need help change channel audio mapping processor while media on playing (on the fly).

**### [REQUIRED] Searched documentation.**
I've search all documents related to ChannelMappingAudioProcessor :
[2659](https://github.com/google/ExoPlayer/issues/2659#issuecomment-384319998)
[6288](https://github.com/google/ExoPlayer/issues/6288#issuecomment-523813419)
[6415](https://gi

[2020-11-02 11:10] ojw28 commented on #8131
Closing because I think the question is answered, to the extent to which it's possible to answer it. Any difficulty you might have getting support from a broadcast company is unfortunately not something we can assist with.

[2020-11-02 11:10] #8131 closed, assigned to ojw28

[2020-11-02 11:20] ojw28 commented on #8116
If you're using `OfflineLicenseHelper.renewLicense`, was your initial question about getting a `defaultLicenseUrl` to build a `HttpMediaDrmCallback`? I'm not sure, but it might be possible for you to set it to any dummy value for your media, if it's always specifying a URL internally. That would avoid you needing to look inside the DASH manifest. In future releases we will allow this parameter to

[2020-11-02 11:24] ojw28 commented on #8111
You're asking how to record audio played back from ExoPlayer (whether that audio is adjusted from original audio that already exists doesn't change that). So, I'm afraid please see my response above.

[2020-11-02 11:26] ojw28 commented on #8122
This is getting into the realm of providing support specifically for your own application code, which is beyond the scope of this issue tracker. I think my response above explains how to compare whether two `Download` instances correspond to the same content, which was the original query asked here.

[2020-11-02 11:26] #8122 closed, assigned to ojw28

[2020-11-02 11:28] ojw28 commented on #8139
I think this is extremely unlikely. It would be a fairly fundamental issue with ExoPlayer state reporting, which no-one else has reported. It seems much more likely that your listener is not correctly registered, or that you have some other issue in your application code.

[2020-11-02 12:44] rahulsainani commented on #8139
@ojw28 Thanks for the quick reply. I see, in order to not change the topic of this issue, I will ask about the best practices for using exoplayer in recyclerview as a separate question.

[2020-11-02 13:13] saurabh-wynk commented on #5935
Any update on this, facing the same issue. It intermittently pops up for some users.

[2020-11-02 13:56] CanerGures commented on #8146
I have achieved the representing cached time as minus value with that code.

                val duration = player!!.duration
                val hours = String.format("%02d", TimeUnit.MILLISECONDS.toHours(duration))
                val minutes = String.format(
                    "%02d",
                    TimeUnit.MILLISECONDS.toMinutes(duration) - TimeUnit.HOURS.toMinutes(

[2020-11-02 14:02] lcf87 commented on #8146
Setting the negative time part is not supported at the moment by default. Marked as enhancement to track the support.

As for keeping the scrub bar at the right most position, you could make a custom timebar view and replace the default one with it.

Maybe issue #7912 will also help.

[2020-11-02 14:06] AnassHmida commented on #8116
@ojw28 yes that's exactly what I meant, and by setting that value to `null` will that mean it will use a license URL if it has one and `null` if it doesn't?

as for the download part, that is what I meant precisely, I use the `newkeySetId `generated from the `OfflineLicenseHelper.renewLicense` function using my old `keySetId` like this :

[code]

Then afterwards , i'm creating a new downloadReques

[2020-11-02 14:13] tpiDev commented on #7632
@icbaker What is status of ticket, Is the improvement on roadmap ? :)

[2020-11-02 14:23] CanerGures commented on #7912
Yes I am facing the same problem right now. For some contents scrubber is setting itself at the end of the timebar.(right end side) But this link for example http://livesim.dashif.org/livesim/segtimeline_1/testpic_2s/Manifest.mpd, scrubber is not setting itself on the right side. Its starting like VoD with the scrubber at the left end side. Can you open the question again ? also my project is [her

[2020-11-02 14:30] DStanojevic opened #8148 "DASH + Widevine + FMP4 TTML UnexpectedLoaderException"
### Issue description
When trying to play Widevine protected DASH manifest with the fragmented MP4 TTML closed captions, player crashes (see attachment) with "Unexpected NullPointerException". When try to play the same content which is transcoded without protection, than works fine.
Also when CC are not turned on with the Widevine protected content there is no issues.

### Reproduction steps
Turn

[2020-11-02 15:00] mynew-github-account opened #8149 "Resume download with uri change"
I want to change some parameter in download uri after it expire after some time.
Here is detail
1.Once I start download with uri == xyz.m3u8?token=abc
2.After some time token for this uri going to expire so want to replace with new token

is there way to achieve this ?

[2020-11-02 16:17] ojw28 commented on #7912
@CanerGures - Can you please consider only asking your question once, rather than asking the same thing in three different places. Spamming the issue tracker isn't going to get you help any faster. It seems like https://github.com/google/ExoPlayer/issues/8146 is tracking this, so there's no need to re-open this.

[2020-11-02 17:14] tonihei commented on #8051
That's the same data you'd write to your wav file. It's essentially just removing the file out of the process.

[2020-11-02 17:22] lcf87 commented on #8147
It's doable, with the code you have. There are a few things to note though:

1. Remapping will only work when the number of audio channels does NOT change. That is, the number of channels should remain constant before and after you re-map.

2. In your `setChannelMap()`, using `pendingOutputChannels = outputChannels;` is not enough, you have to directly modify the audio processor's `outputChannels`

[2020-11-02 18:19] lcf87 commented on #8143
We don't currently plan to support image playback.

#2874 may give a better context.

[2020-11-02 18:27] AndroidDeveloperLB commented on #8143
@lcf87 Can you please give me a clue about how to have a workaround for this, perhaps?
I would really like to know how to show an image.
Otherwise I would probably convert an image to a video.
The link you've provided talks about `ImageRenderer extends BaseRenderer`. Not sure how this would work.
Someone else used it, perhaps?

[2020-11-02 18:28] pavan245 commented on #8137
Hi

I have to do quite a bit of work if the Player can't give the entire duration of the MediaItem. And I'm not sure if this is a bug or the intended behavior.
Can I get an update here? Do I need to provide some more details for this question?

Thanks

[2020-11-02 18:29] AndroidDeveloperLB commented on #8143
@ojw28 Have you perhaps implemented such a functionality ?

[2020-11-02 19:49] ojw28 commented on #8137
If you're only changing the start clip position then I think you can retrieve the entire content duration like:
[code]
Note that you can also retrieve the timeline from `Player.getCurrentTimeline`. @pavan245 - Does that work for you?

The same trick does not work if you set an end clip position, however. This may not be relevant to your use case, but is something we should think about. @tonihei -

[2020-11-02 20:13] ojw28 commented on #8143
It's unclear what you need a workaround for. In order to assess what this means, you'd need to provide a concrete example showing how to reproduce such a glitch:

Note that ExoPlayer doesn't have access to any underlying magic that's not available to regular application code, so it's unclear how ExoPlayer would be able to do a better job of it than application code is able to do directly. In other

[2020-11-02 21:05] AndroidDeveloperLB commented on #8143
@ojw28 OK I will tell you.
ExoPlayer can be used even for live wallpaper, so developers can create live wallpapers that shows a short video file.
What I want is to also be able to show images and animated GIF/WEBP.

As for glitches, I once saw it when I worked on a more common case, of showing an ImageView on top of it. Maybe it was fixed. Maybe not. As what i did was very simple, I don't think it

[2020-11-02 22:35] lcf87 commented on #8145
@tonihei Could you take a closer look at it?

[2020-11-02 23:50] #8142 closed, assigned to ojw28

[2020-11-03 01:19] VeiZhang opened #8150 "How to clear the last frame when video switching"
### [REQUIRED] Question
When playing a video, then I switch to another video link, the surface view showed a picture which is a frame of last video. The question is I want to clear the last frame and make it black screen when switching video.

### A full bug report captured from the device
I try to clear surface view, but strange something happend, the video will become stuck. It seems surface vie

[2020-11-03 06:37] CanerGures commented on #7912
Sure, but I wrote it because there are people who is looking for an answer here too. Also above, @google-oss-bot wrote that _"if you're still experiencing this problem and want to continue the discussion just leave a comment here and we are happy to re-open this."_ Sorry for spam-like comment.

[2020-11-03 08:02] aiescola commented on #8127
Thank you very much @ojw28. Bearing in mind that the profile is `$Time` and not `$Number` based, the `startNumber` parameter should not be necessary for the player. We assume that ExoPlayer is using it for any control apart from timing itself:

- Is there anyway to configure/eliminate such dependency?
- Can Exoplayer work with manifests `$Time` based without the `startNumber` attribute? Like those

[2020-11-03 08:06] krackjack234 opened #8151 "How to support L1 widevine drm using exoplayer"
### [REQUIRED] Searched documentation and issues

### [REQUIRED] How to play L1 widevine drm using Exoplayer
We are seeing lot of drm playback failures on devices where L1 Widevine is supported.

On such devices, we see DRM session throwing below error. We are using Exoplayer v2.11.8

[code]

Please let us know the following

1. is this a device specific issue?
2. How to handle Widevine L1 Drm pla

[2020-11-03 08:59] DaveBoy commented on #8113
#3774

[2020-11-03 09:48] Bert-King commented on #6168
Facing the same issue... , not available way....

[2020-11-03 10:01] icbaker commented on #7632
We don't have any plans to implement this in the short term.

As always, we would accept a high quality pull request adding support.

[2020-11-03 10:26] Skys777 commented on #8147
@lcf87

i'm still dont get it where to instantiate the AudioProcessor[] on the ChannelMappingAudioProcessor class ?
is it something must be changed the onConfigure() or setChannelMap() method

synchronized on the AudioProcessor[] instance or the setChannelMap() (something we can alter directly on here)?

lastly, do i still need instantiate the renderersFactory with new AudioProcessor[] instance wi

[2020-11-03 10:43] MRAndroidZahid opened #8152 "Getting Error, Ads not working."
Java Code

   MediaSourceFactory mediaSourceFactory =
           new DefaultMediaSourceFactory(this)
                   .setAdsLoaderProvider(this::getAdsLoader)
                   .setAdViewProvider(playerView);

   // Create a SimpleExoPlayer and set is as the player for content and ads.
   player = new SimpleExoPlayer.Builder(this).setMediaSourceFactory(mediaSourceFactory).build();
   playerVie

[2020-11-03 12:05] ArunkarthickNallasamy opened #8153 "Caching S3 signed url"
I have implemented pre-caching and it works for unsigned url's. However when s3 signed urls are used it cache's it as new video everytime when loaded instead of loading from cache if cached already (s3 signed url changes on every request but video id on the url will remain the same)

Any help?

[2020-11-03 12:10] andrewlewis commented on #8152
You are trying to pass an ad tag URI as if it was a `MediaItem`, and this causes an error because the XML ad tag format is not recognized as a valid media container (like MP4).

I think you can fix this by using the IMA extension. The relevant code snippets in https://exoplayer.dev/ad-insertion.html#declarative-ad-support are:

[code]
... where you can pass your ad tag URI, and:

[code]

For this

[2020-11-03 12:28] marcbaechinger commented on #8149
Does it help to use `DownloadRequest.Builder.setCustomCacheKey` together with a [`ResolvingDataSource`](https://exoplayer.dev/customization.html#customizing-server-interactions)?

[2020-11-03 12:32] marcbaechinger commented on #8153
Are you using progressive media streams? Does it help to use `DownloadRequest.Builder.setCustomCacheKey`?

If you are using the downloader there is support for customCacheKey as well: `ProgressiveDownloader(Uri uri, @Nullable String customCacheKey, CacheDataSource.Factory cacheDataSourceFactory)`

[2020-11-03 12:39] MRAndroidZahid commented on #8152
IMA extension dependencies so it can’t be import module lonely. How I can run. ImaAdsLoader should come from extension but its taking from library.

Thanks
ZN

[2020-11-03 12:57] tonihei commented on #8145
We are not planning to request permissions as READ_PHONE_STATE at any point.

The "workaround" for the case you mention is just to keep using the deprecated API as long as it is supported. This is easier for us as long as there is no functional difference because we need to have a code path for the deprecated API anyway to support older devices.

[2020-11-03 13:03] tonihei commented on #8137
This is because the clipping is not properly integrated in every `MediaPeriod` and thus the player (without knowing `ClippingMediaSource`) has no concept of a period ending early. That's why we need to shorten the period so that the player knows when it ends and that it can transition to the next item.

The pending work for #3163 will change this by making clipping a first-class citizen in `MediaP

[2020-11-03 13:21] andrewlewis commented on #8152
I'm afraid I don't understand. Please could you rephrase, or paste the error you are seeing?

When you depend on `implementation 'com.google.android.exoplayer:extension-ima:2.12.0'` that should also bring in the IMA SDK at the correct version (you don't need to add a dependency on the IMA SDK yourself).

[2020-11-03 13:34] ArunkarthickNallasamy commented on #8153
Yes we use mp4 and we use caching and the code is as follows

[code]

[code]

[code]

[2020-11-03 13:36] ojw28 commented on #8137
@pavan245 - For only changing the start clip position, my solution posted above will work. For the end position, marking this as a duplicate of #3163 as per Toni's response above.

[2020-11-03 13:36] #8137 closed, assigned to tonihei

[2020-11-03 13:44] mynew-github-account commented on #8149
Nope it still start new download
i.e it doesn't not resume after URL change

[2020-11-03 13:55] marcbaechinger commented on #8153
I think that should work if `CacheUtil.DEFAULT_CACHE_KEY_FACTORY` takes care to create the same `customCacheKey` for the urls that point to the same 'video id' and all cache data sources that are involved when downloading and doing playback use the same custom cache key factory.  Can you verify this is the case?

[2020-11-03 13:57] MRAndroidZahid commented on #8152
Error

2020-11-03 19:24:12.847 25446-25787/com.e.medrecexoplayer E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:554)
        at android.os.Handler.dispatchMessage(Handler.java:102)
        at android.os.Looper.loop(Looper.java:201)

[2020-11-03 14:01] andrewlewis commented on #8152
My first comment explains the `UnrecognizedInputFormatException`. You need to remove the code that passes the ad tag URI and use the code I provided there instead.

I don't understand what this means. Please could you try rephrasing it?

[2020-11-03 14:07] marcbaechinger commented on #8149
Ok. Can you please provide more information so this get actionable for me? Like can you describe what `not resume` means and if this gives you any errors or the like when the downloader tries downloading and what the expected behaviour would be?

[2020-11-03 14:14] ArunkarthickNallasamy commented on #8153
I will verify it for sure but i did notice video being downloaded again and i could see download progress for already cached videos when app is closed and reopened (New signed url will be obtained on ropening)

[2020-11-03 14:18] lcf87 commented on #8150
A quick solution would be to create a custom view on top to block the last frame.

Please see if #8139 would help!

[2020-11-03 14:21] MRAndroidZahid commented on #8152
Thanks…. I have made the changes and its working now. But I have few questions.

#1 How I can control the ad numbers as I am getting sometimes 2 and sometimes 3 ads in a sequence.
#2 How I can control the position of the ads (On start, in mid of video or in last of video)
#3 When I am trying to add another media item then I am getting below crash.

2020-11-03 19:50:10.396 4644-4644/com.e.medrecexo

[2020-11-03 14:25] mynew-github-account commented on #8149
Ok here is detailed flow I want to achieve.
1--> User click on the download
2 --> app will fetch m3u8 URL for download let say    abcxyz.m3u8?token=abc&policy=abc
3 --> Now using this URL video downloading start
4 --> But this token in this URL has a validity of 5min ,so after 5 min server going to reject all request from this URL
5 --> So now if video download stop(let see at 50%) due to some rea

[2020-11-03 14:29] lcf87 commented on #8147
What you did seemed fine to me, instantiating a `ChannelMappingAudioProcessor` in `DefaultRenderersFactory`.

Basically you need to make sure `outputChannels` array (within your `ChannelMappingAudioProcessor`) is synchronized (i.e. no two parties can access it at the same time).

Yes.

Sorry I don't understand the sentence, could you rephrase?

[2020-11-03 14:54] krackjack234 commented on #8151
More logs if it helps

[code]

[2020-11-03 15:04] andrewlewis commented on #8152
These are controlled by your ad tag, so please configure the behavior you need on your ads server.

Playing ads with `ImaAdsLoader` in playlists is not currently supported, but will be supported soon. Please follow #3750 for updates.

[2020-11-03 15:04] #8152 closed, assigned to andrewlewis

[2020-11-03 15:05] marcbaechinger commented on #8153
I think if the `customCacheKey` matches that should not happen. Probably start your review with your `CacheUtil` class where a `CacheDataSourceFactory` is created without a cache key factory as far as I can see.

[2020-11-03 15:10] strangesource opened #8155 "Does ExoPlayer support multiple EventStream tags in the same DASH period?"
### [REQUIRED] Searched documentation and issues

- issue tracker
- https://exoplayer.dev/
- javadoc

### [REQUIRED] Question
When playing a DASH VOD stream with multiple `<EventStream>` tags in the same period, only the events from the first EventStream seem to be emitted. Is that a known limitation of ExoPlayer, intended behaviour or a bug?

### Link to test content
The manifest looks something

[2020-11-03 15:23] marcbaechinger commented on #8149
I think it could work if you use a `ResolvingDataSource`. You would then create the download request with a url without the token, like:

[code]

This is the the url which is used by the cache to identify the playlist in the cache. So if it is requested again for playback that uri is looked up in the cache and if it is found, the cached playlist is returned.

You can then use the `ResolvingDataSou

[2020-11-03 15:24] ArunkarthickNallasamy commented on #8153
Alright let me start from there and keep u updated

[2020-11-03 15:26] Skys777 commented on #8147
What object needs to pass to `new AudioProcessor[] {  ...  }` ? i'm referring to "directly modify audio processor's outputChannels array"

I'm confuse with the terms "audio processor's outputChannels array" within the ChannelMappingAudioProcessor class ? could you guide me more about this. from my understanding , i need to change the `@Nullable private int[] outputChannels;` to be used by audio pr

[2020-11-03 15:34] lcf87 commented on #8151
Could you check the log from you licensing server? The server is returning 403 on your connection, it's unclear from the Exoplayer side as to why.

[2020-11-03 15:37] lcf87 commented on #8148
@kim-vde Could you take a look? The NPE happened in FMp4 extractor, when extracting CC files.
You can reproduce by using the unprotected link and choose the CC track.
The links to the CC files:

https://d1h439zc5v8bgw.cloudfront.net/assets/510130/dash/befb5f75-7ffc-43d9-9622-8fd0d97ed8e3/510130_ccinit.mp4
https://d1h439zc5v8bgw.cloudfront.net/assets/510130/dash/befb5f75-7ffc-43d9-9622-8fd0d97ed8e3

[2020-11-03 16:22] D00mch opened #8156 "Current position greater than duration"
### Issue description
Current position value greater than duration value at the end of the stream.

### Reproduction steps
1. open ExoPlayer demo app,
2. choose video YouTube DASH Google Glass H264 (MP4)
3. wait until the end, you will see current position == 02:17, and duration == 02:16

### Link to test content
[code]

### A full bug report captured from the device
[bugreport](https://drive.goog

[2020-11-03 16:37] krackjack234 commented on #8151
Ok strange thing is this is working on all phones which has widevine L3 and some phones which has widevine L1.
But we will again check from license server side.

[2020-11-03 18:36] MRAndroidZahid commented on #8152
Can we reduce late ad load latency?
Can we load ad on first screen and show on next screen?

Please let me know if it is possible?

Thanks
ZN

[2020-11-03 19:04] lcf87 commented on #8156
Cannot reproduce on my end (emulator/Samsung A51). If you cannot reproduce on your other devices, maybe it's not worth spending time on it.

[2020-11-03 19:42] ramzeska opened #8157 "unsuported drm_license_uri option"
Not working with "drm_license_uri" option as supposed (according to documentations):

`adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d https://storage.googleapis.com/wvmedia/cenc/hevc/tears/tears_uhd.mpd --es drm_scheme widevine --es drm_license_uri 'https://proxy.uat.widevine.com/proxy?provider=widevine_test'
`

But working with "drm_license_url option":

`ubuntu@ubuntu-Vir

[2020-11-03 20:20] D00mch commented on #8156
![customAndroid9](https://user-images.githubusercontent.com/14236531/98036385-00c0e280-1e2b-11eb-81da-3787a874fb71.gif)

It seems that the duration is correct. The problem is that videos keep going after the end.

[2020-11-03 20:46] andrewlewis commented on #8152
You can call construct the ImaAdsLoader and call `imaAdsLoader.requestAds` to request the ad tag before preparing the player (mentioned in #3636).

[2020-11-03 20:48] nishantkp opened #8158 "Which callback is getting triggered when Ads are requested ?"
### Searched documentation and issues
N/A

### Question

Is there a way from where I can get `com.google.ads.interactivemedia.v3.api.AdsLoader` instance?

I am using ImaAdsLoader.getAdsLoader() but this could be null if the ads are not requested.

I am looking for a callback which tells me ads are requested so that I can query `com.google.ads.interactivemedia.v3.api.AdsLoader` instance to attach `

[2020-11-03 20:59] D00mch commented on #8156
I have just reproduced this bug with Android Emulator 10.1_WXGA_Tablet_API_28
![image](https://user-images.githubusercontent.com/14236531/98039660-1684d680-1e30-11eb-9213-ed34dd68846a.png)

[bugreport](https://drive.google.com/file/d/1nQ-j9YYeJdovA3PT8-Zv9pWrJIXjZGdj/view?usp=sharing)

I tried to debug ExoPlayerImplInternal with android studio debugger and I found out that sometimes my custom devi

[2020-11-03 21:22] lcf87 commented on #8157
I don't understand what you mean. Please fill out the issue template form so that we could help, thanks!

[2020-11-03 22:00] lcf87 commented on #8156
Sorry I still cannot reproduce, using exactly the same emulator (wxga tablet, API28).

Maybe there are some `ExoplayerImplInternal` specific changes on your side?

![Screen Shot 2020-11-03 at 4 58 58 PM](https://user-images.githubusercontent.com/6046605/98045231-28e21e80-1df6-11eb-9b11-fcbafd3a5538.png)

[2020-11-04 00:52] D00mch commented on #8156
It seems I can't reproduce it without the debugger.

May be something like this occurred when I reproduced it:
I put a debugger-poin on ExoPlayerImplInternal#doSomeWork line 900:
`boolean isReadingAhead = playingPeriodHolder.sampleStreams[i] != renderer.getStream();`
and set condition: `renderersEnded == true`,
and when debugger was triggered at the end of the stream, it ended up with the current

[2020-11-04 01:46] VeiZhang commented on #8150
@lcf87 Yes, I also try it, but when switching small to big surface view, the picture can be saw in a short time, so I think it is not a perfect idea. If there is no other method, I will keep to add a view above surface view.

Thank you for the reply.

[2020-11-04 02:57] zhanghq666 opened #8159 "SimpleExoPlayer.release() in onPause() block the UI thread"
### [REQUIRED] Issue description
SimpleExoPlayer.release() in onPause() block the UI thread, and after that, even I restart my app, player is not work any more unless reboot my device.

### [REQUIRED] Reproduction steps
My situation is that I receive file and write to local file system by RandomAccessFile, I will call SimpleExoPlayer to playback my local file after wrote enough bytes. Until now, t

[2020-11-04 06:12] ArunkarthickNallasamy commented on #8153
[code]
[code]
So i used url of video without signing as key and it works.

[2020-11-04 06:12] #8153 closed, assigned to marcbaechinger

[2020-11-04 09:10] ramzeska commented on #8157
According to manuals from here: https://exoplayer.dev/demo-application.html

Option should be called "**drm_license_uri**", but that option doesn't get recognised via command line or via json.
If opening json it throw error in logcat about "unsupported option".

But if I use "**drm_license_url**" with L letter on end, everything working fine.

[2020-11-04 10:16] zhanghq666 commented on #8159
My fault!! I figure out it is cause by my file writing bug, I'll close this.

[2020-11-04 10:16] #8159 closed, assigned to nobody

[2020-11-04 12:29] dscoppelletti opened #8160 "After upgrading from 2.11.8 to 2.12.1 and replacing deprecated components I can't play any video."
### [REQUIRED] Searched documentation and issues
[Release Notes](http://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md) for version 2.12.1 and 2.12.0.

### [REQUIRED] Question
I've recently upgraded `com.google.android.exoplayer:exoplayer-core` from version 2.11.8 to version 2.12.1.
Some components are deprecated by version 2.12.1 in the following code snippet.

[code]

Thus I replace

[2020-11-04 12:34] marcbaechinger commented on #8160
Did you call `player.prepare()` in the new version?

The call `player.prepare(mediaSource, true, true)` needs to be replaced by

[code]

[2020-11-04 12:47] dscoppelletti commented on #8160
Yes, @marcbaechinger , I call `player.prepare()` in the new version?. I've only mess the pasted code. Now I fixed it.

[2020-11-04 12:55] aiescola opened #8161 "CastPlayer send correct selected audio track to receiver."
I have media with multiple audio tracks in the manifest, but when I create the MediaItem, I can't see a way to specify the initial audio track. Besides, I would like to be able to change the audio track in the CastPlayer during the playback, in case the user uses the sender to change the audio.

**Exoplayer version:** 2.12.1

[code]
I can't obtain the trackSelector in the CastPlayer's implementati

[2020-11-04 13:47] marcbaechinger commented on #8160
Hmm, I think the code looks roughly ok.

Can you isolate what change causes the problem? Like first still use the old deprecated `CacheMediaSourceFactory` as in the old version, then see whether that works? Then the other way around using the new `CacheMediaSource.Factory` but preparing the old way?

If you don't find something, can you please add

[code]

and send me the output of the logs? This

[2020-11-04 13:59] Ethan1983 commented on #8145
Thanks. Only catch is if and when deprecated API is removed in a future SDK and ExoPlayer would run into it as compileSdkVersion is updated. Anyways, for now, it looks like 28 is targetSdkVersion and 29 is compileSdkVersion.

[2020-11-04 14:42] dscoppelletti commented on #8160
I am very sorry.
You were right pointing out that the call `player.prepare(mediaSource, true, true)` needs to be replaced by:
[code]
Then I messed again my pasted code because `player.prepare(false)`  does not exist and it must be simply `player.prepare()`.

Now the new code works fine.

Thanks.

[2020-11-04 14:42] #8160 closed, assigned to marcbaechinger

[2020-11-04 14:46] MRAndroidZahid commented on #8152
Hi,

I have done the requestAds but still its taking around 3+ seconds for the first time launch of ad. We need to cache the ad. Please have a look on attached java file for your reference.

Thanks in Advance.

[2020-11-04 14:50] marcbaechinger commented on #8160
Glad it works! Thanks for letting me know!

[2020-11-04 14:59] objectivecosta commented on #7945
It would be good to add this as a disclaimer in the documentation. I took some time to find this thread online! 😅

Can I open a PR somewhere to add this?

[2020-11-04 15:25] tonihei commented on #8145
Yes, this sounds like a long way off from now though :)

I'll close the issue because the question was answered I think.

[2020-11-04 15:25] #8145 closed, assigned to tonihei

[2020-11-04 16:35] lcf87 commented on #8156
My gut feeling is the break point paused the player, but not the system clock. So the playback position changed location.

I don't understand why this is a concern, I would probably take it as "expected behaviour".

[2020-11-04 16:38] lcf87 commented on #8147
Now you have the `channelMappingAudioProcessor` instance in your `MainActivity`, so you can just call method (like `setChennelMap()`) on it, as I understand. You can also create a class field in case you feel using it elsewhere.

Maybe I'm missing something here?

[2020-11-04 16:38] AquilesCanta commented on #7945
I have submitted a doc fix internally for this [Internal ref: cl/333312703]. Not sure why it's not available publicly. No need to send a PR. I'll try to figure out what's going on.

[2020-11-04 16:53] lcf87 commented on #8157
I tried it and it worked fine on my end.

The command I tried (one of the default DRM content in the demo app):
[code]

Looking at the code you pasted, the case `drm_license_uri` should just fall through to `drm_license_url`.

[2020-11-04 17:28] ojw28 commented on #8157
@ramzeska - I suspect you're using an older release of ExoPlayer. The documentation is always in sync with the latest release.

[2020-11-04 17:45] AquilesCanta commented on #7945
I've just pushed an update for the [docs](https://exoplayer.dev/drm.html). Please let me know if I missed anything.

[2020-11-04 17:50] objectivecosta commented on #7945
Hello, @AquilesCanta! Thanks for the update! Hope this helps anyone who comes across this question! ;)

[2020-11-04 18:23] Psychical opened #8162 "[QUESTION] Can't receive audio track from HLS"
### [REQUIRED] Searched documentation and issues
- https://exoplayer.dev/
- https://github.com/google/ExoPlayer/tree/release-v2/demos

### [REQUIRED] Question
I'm trying to get audio tracks from hls strea but getting only one.

Using 'com.google.android.exoplayer:exoplayer:2.12.1'

My play code looks like this

[code]

exoPlayer.addAnalyticsListener(new EventLogger(trackSelector)) throw this

[cod

[2020-11-04 19:51] lcf87 commented on #8162
Could you provide us with the media file/link that you are testing with?

[2020-11-04 20:05] ilker-aktuna commented on #8097
Hi,

Sorry for going back to this issue. But there is a weird situation.

Today there was a problem on our streaming platform.
My app currently looks for loadcomplete and loaderror events. It reports loadcomplete events with duration and with 0 duration separately.
It also reports count of rebuffer events.

At the time of problem, loadcomplete events increased (both zero duration and normal loadco

[2020-11-04 20:29] Psychical commented on #8162
I can't give link, because it's depend on ip, maybe if you can send me IP and I can set it for you. I can only attach file I get from urls.

[m3u8.zip](https://github.com/google/ExoPlayer/files/5490336/m3u8.zip)

[2020-11-05 00:34] stevemayhew commented on #8162
Might be related to or fixed by the fix coming for this bug issue #7877

[2020-11-05 00:35] skreenr opened #8163 "VideoScalingMode: Java-only possible?"
Hello ExoPlayer team:

How feasible is to set VideoScalingMode  with Java code only, no XML?
The code like this is not working for us as far as cropping function:

     Simple_player = new SimpleExoPlayer.Builder(getBaseContext()).build();
        Uri uri = RawResourceDataSource.buildRawResourceUri(R.raw.videofile );
        DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(getBa

[2020-11-05 02:16] vincenttsai-cloud opened #8164 "how"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-11-05 02:24] vincenttsai-cloud opened #8165 "how to change provision server url when"
I wrote my own player based on the exoplayer library, but I can't find the API to modify the url of the provision server. If I directly download the exoplayer code on GitHub, I can modify<<< public ProvisionRequest getProvisionRequest() >>>in FrameworkMediaDrm.java. But when writing a player based on the library of exoplayer, how to modify the provision url?

[2020-11-05 02:30] chuxia98 commented on #6168
In flutter same problem..
I find `videoPlayerController.initialize()` called twice have this error,
when save as a variable only initialized once, it's worked

[2020-11-05 09:01] idokit365 opened #8166 "Playback stuck buffering and not loading"
Reproduct steps:
1. load a large file (more or less 6GB).
2. this error will producting after seeking several times.

The error log:

2020-11-05 19:52:33.283 21455-26731/? W/DefaultLoadControl: Target buffer size reached with less than 500ms of buffered media data.
2020-11-05 19:52:33.287 21455-26731/? W/DefaultLoadControl: Target buffer size reached with less than 500ms of buffered media data.
20

[2020-11-05 10:10] idokit365 commented on #8166
I use exoplayer demo to play large video, the same issue happened.

[2020-11-05 10:23] icbaker commented on #8164
Incomplete - presumed duplicate of #8165.

[2020-11-05 10:23] #8164 closed, assigned to icbaker

[2020-11-05 10:34] andrewlewis commented on #8161
@marcbaechinger @AquilesCanta Please could you take a look?

[2020-11-05 10:38] icbaker commented on #8165
Can you expand a bit on what you're trying to achieve? Why do you want to modify the provision URL?

`FrameworkMediaDrm` delegates most operations to Android's [`MediaDrm`](https://developer.android.com/reference/android/media/MediaDrm), including [`getProvisionRequest()`](https://developer.android.com/reference/android/media/MediaDrm#getProvisionRequest()).

Provisioning servers are provided by D