[2021-03-22 20:30] ojw28 commented on #8746
Writing something into the cache counts as using it, so I don't think a `MostRecentlyUsedCacheEvictor` would make sense. It would end up trying to evict content immediately after it's been written.

I would generally expect a cache to be significantly bigger than a single piece of audio content, so I'm not sure the way you're thinking about it, which seems to be considering playback through a sing

[2021-03-22 22:38] vfutia commented on #8741
Ok I was finally able to get the demo app to work.  We tried the demo app and were able to reproduce this issue on the device specified in the original post.  We tried both the L3 and L1 demo videos and in both cases, we were able to do a screen capture as well as a third party video capture of the DRM protected file.

Below are the logs taken and their associated activities:

[L1 Screen Capture](

[2021-03-22 23:17] AlienAsRoger commented on #8447
It was present in the old version. I was thinking that they might have fixed 2 issues at once :)

[2021-03-23 09:22] #8724 closed, assigned to tonihei

[2021-03-23 11:15] maketvgithub opened #8747 "Help troubleshoting with freezing HLS"
Hello,

We are having difficulties with playing HLS streams. We did debug and noticed that some requests which ExoPlayer is sending about chunk download.

The expected scenario is to download the last chunk after each chunk list, but this sometimes doesn't happen and can be seen in lines 8 and 9 of the log below. @alenemini

[hls_log_report_1616488413.log](https://github.com/google/ExoPlayer/files

[2021-03-23 11:20] mouemen-haress opened #8748 "4k Udp Streaming is stuttering,"
I use Exoplayer To catch udp streaming , in All video it is work well , but when i try with 4k stream   is stuttering,

[2021-03-23 11:39] PoghosyanRoman commented on #8738
ok thank you.
the problem solved  then i use DefaultHlsExtractorFactory and not mediasource

[2021-03-23 12:06] icbaker commented on #8741
The logcat snippets you've provided aren't [bug reports](https://developer.android.com/studio/debug/bug-report) which contain much more useful info. If you're able to provide full bug reports that would be more helpful.

I'm confused by some things in the log snippets you've provided though:
* The DRM Info screenshot shows the device only supports up to L3, so it shouldn't be able to play the L1 c

[2021-03-23 12:28] #8738 closed, assigned to AquilesCanta

[2021-03-23 12:31] andrewlewis commented on #8748
There isn't enough information here for us to help you. It sounds a bit similar to #8091 so you might want to read through that issue to see if that helps. Otherwise I'd suggest doing some debugging on your side and reporting a specific issue if you can find one, or providing detailed instructions so we can reproduce the problem here.

[2021-03-23 12:38] andrewlewis commented on #8747
I'm not sure I follow. Please could you elaborate a bit about what's causing playback to freeze based on your debugging, and also provide instructions for us to reproduce the problem here including a link to the stream to play? If you don't want to post them here you can email them to `dev.exoplayer@gmail.com`.

[2021-03-23 12:39] andrewlewis commented on #8729
Closing on the assumption that the information in #7439 addressed the problem.

[2021-03-23 12:39] #8729 closed, assigned to andrewlewis

[2021-03-23 12:43] mouemen-haress commented on #8748
thank you for your answear , I am using vlc to broadcast UDP in the internal network  . And I am trying to play it in an android application using the exoplayer. All the videos work fine, but when I  try to play   4K video ,  in order for the video to start, then after a few  of seconds it stops and then returns this state over and over again .

[2021-03-23 13:32] icbaker commented on #8710
I worked out `MetadataRenderer#isEnded()` was returning true too early. It was waiting until it had fully consumed the input, instead of waiting until it had processed and rendered all the data. I've got a change in review that changes this behaviour & ensures that messages near the end of a period are always output.

[2021-03-23 15:12] aliyazdi75 opened #8750 "How to get whole track selection text as string"
I know we can get the cue text by `Objects.requireNonNull(exoPlayer.getTextComponent()).getCurrentCues().get(0).text` but how to get the whole subtitle file as a string for a specific text track selection?

[2021-03-23 15:24] marcbaechinger commented on #8679
Do you have a URI for which this exception is thrown?

[2021-03-23 15:29] maketvgithub commented on #8747
Hello,

Thank you for the quick response!

We found that the download depends on the `# EXT-X-TARGETDURATION` parameter and therefore the chunks were downloading unevenly. We're still researching, so we'll get back to you when we got more information.

[2021-03-23 15:33] sam-m3 opened #8751 "HLS video lag and massive dropped frames"
Problem
--
I have been using exo-player to play hls and live-stream videos in some android devices and the videos were playing just fine when they were in `h264` format, but when `h265` is used, A MASSIVE number of frames were dropped and the videos become very laggy.

The h265 video resolution is `1920*1080` and the frame rates are 50 fps.

I spent the last 2 weeks seeking for an answer and looke

[2021-03-23 16:12] ZloyDyadka commented on #8747
Hello! We have the same problem. Also i found the same problem in closed issue https://github.com/google/ExoPlayer/issues/6360

[2021-03-23 16:20] sdoward opened #8752 "HLS Freezing When Repeating"
When playing and replaying a HLS stream exoplayer is pausing for a split second when replaying the stream.

You can find an sample project that shows the issue here https://github.com/sdoward/hls_pausing_issue

[2021-03-23 16:26] vfutia commented on #8741
Apologize for the confusion about the bug report.

We tried this again with L1 and the video stopped playing at around 11 secs so that appears to be working as expected.

For L3, we ran it again and around 20 secs in we captured the screen and the video was plainly visible in the screenshot.

[Bug report post screenshot](https://drive.google.com/file/d/1jEbBM_-7ua8BTa5bArDWOvfYN4XswiuX/view?usp=sh

[2021-03-23 17:51] AquilesCanta commented on #8721
Oops sorry, missed this.

[2021-03-23 18:05] icbaker commented on #8741
Thanks for the BR - it doesn't include any of the additional logging I'd expect from the Widevine CDM and the decoder name is the same (i.e. doesn't seem to be picking a 'secure' decoder).

Having done a bit more research, I've realised the fact the decoder isn't 'secure' indicates this device doesn't have a secure output path.  This results in screenshots/capturing being permitted by default. You

[2021-03-23 18:05] #8741 closed, assigned to icbaker

[2021-03-23 18:37] icbaker commented on #8750
ExoPlayer's subtitle infrastructure is designed to make cues available as their playback position is reached (so that they can be shown on the screen) - you can access this by registering a `TextOutput` implementation via `SimpleExoPlayer#addTextOutput`. Note that, depending on the format, cues aren't necessarily textual - they can also be images. So it's not possible in the general case to repres

[2021-03-23 18:40] icbaker commented on #8705
Thanks for that extra detail about `MediaCodecVideoRenderer` - changing something in that method looks like a sensible improvement to ExoPlayer.

Since Dolby Vision can wrap both AVC and HEVC content, and AVC has a lower minimum compression ratio, I'm going to add it to the H264 case block instead.

I'll go ahead and make that change.

[2021-03-23 18:57] AquilesCanta commented on #8721
I'm unable to reproduce the issue myself, but I think it might be worth adding to the documentation anyway. I'll send a CL your way and we can go from there.

[2021-03-23 19:18] ramabyg commented on #8705
Thank you @icbaker,
But do we know why we observe error in crypto module when buffer size is not set? Also, error goes away only when compression ratio is set to 2.

I agree that adding change at H264 block make sense. I hope same VIDEO_DOLBY_VISION MimeType is used for both AVC and HEVC codecs..

[2021-03-23 20:31] aliyazdi75 commented on #8750
Oh, thanks.
Yes, we are using the Flutter framework and video player plugin which uses exoplayer as backed,
and we need to get the `srt` subtitle text file inside a container format and represent it as a widget in the flutter application.
So, as you mentioned there is no class in the exoplayer that returns the whole `srt` text?
And if not how to pass this multiplexed track selected subtitle to a t

[2021-03-23 20:55] stari4ek commented on #8679
Sorry. Just observing automatically uploaded crashlytics logs. So, no media info.

[2021-03-24 08:06] KazukiSugiyama107 commented on #8691
Share what happened in my environment.
For the exceptions reported in this issue, we have confirmed a case that occurs when applying a security update for Android.

·Applied security updates
https://source.android.com/security/bulletin/2021-03-01

The device that occurred was a Pixel 3a and we couldn't see any exceptions before applying the security update.
After applying the update, an exception

[2021-03-24 08:52] adoudech opened #8753 "Exoplayer crossfade support"
Is it possible to support crossfade transition between two medias using Merging/Clipping/Concatenating media source without overriding the behavior of some internal Exoplayer classes such as `MediaCodecAudioRenderer`?
If not, what is the easiest way to implement this feature and what you recommend?
Thank you

[2021-03-24 09:29] andrewlewis commented on #8753
I'm afraid this isn't supported. See also #3438.

[2021-03-24 09:29] andrewlewis commented on #8753
Duplicate of #3438

[2021-03-24 09:29] #8753 closed, assigned to andrewlewis

[2021-03-24 09:55] dummy-amit commented on #8740
Sure let me try and get back to you at earliest.

[2021-03-24 10:05] icbaker commented on #8750
Correct. When muxing subtitles into a container, the samples are generally split up throughout the file, so when playing we only read the samples slightly ahead of the playback position, meaning ExoPlayer never reads the whole content of the 'complete' srt file until playback is complete.

How to use ffmpeg is outside the scope of this issue tracker - you may get more help somewhere like Stack Ove

[2021-03-24 10:22] MeiYi2 opened #8754 "Unable to play url with direct download link"
Unable to play video which will be downloaded automatically.

 http://down.okdownload8.com/20210116/8916_c122d0c0/ok夺命巨鲨HD2021.mp4

Is there any way to play this video in ExoPlayer?

[2021-03-24 11:15] aliyazdi75 commented on #8750
Thank you so much for your help.

[2021-03-24 11:15] #8750 closed, assigned to icbaker

[2021-03-24 13:02] Bradleycorn commented on #8726
@ojw28, let me know if I can provide any additional information. it seems like a fairly basic/common use case, so maybe I'm just doing something wrong?

[2021-03-24 13:40] taha-moghaddam opened #8755 "Not showing subtitle"
I'm adding subtitle to video using following code. Video start to playing but not showing subtitle:
[code]
My logcat is:
[code]

[2021-03-24 14:05] jonasN5 commented on #7326
This is still an issue.

[2021-03-24 14:10] KaplunSergey opened #8756 "DownloadIndex has not update status, when we got SQLiteFullException: database or disk is full"
Hello, I have a situation, when I tried to download multiple media items and my device didn't have enough memory for it. So, when memory is over, I got an event in `DownloadManager.Listener.onDownloadChanged()` - Download.STATE_FAILED and exception:

`com.google.android.exoplayer2.upstream.cache.Cache$CacheException: com.google.android.exoplayer2.database.DatabaseIOException: android.database.sqli

[2021-03-24 14:33] andrematheus opened #8757 "Is it expected behavior for exoplayer to call getForegroundNotification multiple times when deleting a video?"
We're developing an app using exoplayer to download videos and noticed that, when deleting videos, `getForegroundNotification` may be called multiple times, depending on the size of the video. Depending on the importance of the notification the mobile may vibrate and emit sound many times, one for each call of `getForegroundNotification`, and this gets annoying for our end users.

So, our question

[2021-03-24 14:59] #8721 closed, assigned to AquilesCanta

[2021-03-24 15:44] icbaker commented on #8755
At a guess:

Your media doesn't define the audio language, which means a `C.SELECTION_FLAG_FORCED` subtitle track with a defined language won't be used. Can you try use `C.SELECTION_FLAG_DEFAULT` instead?

It's not possible to say with more certainty what's happening without access to the media you're using. If you want us to investigate further please either upload it here or send to dev.exoplaye

[2021-03-24 16:41] ojw28 commented on #8726
I can reproduce the issue. It's caused by the view with ID `exo_controls_background` in `exo_styled_player_control_view.xml`, which uses `"match_parent"`, which is problematic if the view is included using `"warp_content"` in application code. I agree the current behaviour is strange, and let's use this issue to track fixing it.

I'm not sure to what extent I think `android:layout_height="wrap_con

[2021-03-24 17:24] EAvallone opened #8758 "JCenter is shutting down -> MavenCentral?"
JCenter is shutting down: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

So, please consider publishing to Maven Central. The deadline is May 1st.

[2021-03-24 17:36] andrewlewis commented on #8758
Duplicate of #5246

[2021-03-24 17:36] #8758 closed, assigned to nobody

[2021-03-24 18:37] Bradleycorn commented on #8726
Thanks @ojw28 . My use case is similar to the demo project, with a few significant differences ... My containing Fragment view is a `MotionLayout`, and in its initial state the player isn't displayed at all (it's `gone`).  Then, upon some event (user clicks a button), we load a video stream and transition the `MotionLayout` to show the player. The stream that gets loaded can vary somewhat (though

[2021-03-24 19:50] ojw28 commented on #7326
This is fixed in the `dev-v2` branch, and will be included in the `2.14.0` release which is tentatively scheduled for the beginning of May.

[2021-03-24 19:50] #7326 closed, assigned to ojw28

[2021-03-24 19:57] ojw28 commented on #8726
This is fixed in the `dev-v2` branch by the commit referenced above. It will be included in the `2.14.0` release, which is tentatively scheduled for the beginning of May. It is likely to also be included in future `2.13.X` minor releases, if we do any.

[2021-03-24 19:57] #8726 closed, assigned to ojw28

[2021-03-24 20:10] andrewlewis commented on #8757
@marcbaechinger Please could you take a look?

[2021-03-24 20:11] andrewlewis commented on #8756
@marcbaechinger @ojw28 Please could you take a look?

[2021-03-24 20:15] andrewlewis commented on #8754
That video plays for me in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html). If you are seeing an error, please provide some more details about what behavior/message you see, ideally by filling out the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2021-03-24 21:02] andrewlewis commented on #8752
The last video frame timestamp we see is 12.28 seconds but the HLS manifest has a duration of 13 seconds and the [media segment](https://videos.sharethemeal.org/VID_1x1_GUINEA_HM_2021_12_Sec_20210303_stream_00001.ts) seems to have a duration of ~ 16 seconds. So I think the problem is the duration and frame timestamps aren't consistent.

One thing I noticed is that if I enable repeat mode and play

[2021-03-24 21:23] ajosecueto commented on #8473
The same issue here... using flutter

[2021-03-25 00:06] rrfrias commented on #8691
Thanks. This is very helpful. Can you also tell how how reproducible this is (e.g. 5 out of 10 times)? Do you see this failure on any other devices (other Pixel 3a, other Pixel models or devices other than Pixel)? Is the failure connected to some content? Do you see it on other apps?

[2021-03-25 06:19] huozhezhazha commented on #8728
@andrewlewis
- The user opens multiple video pages, takes a shortcut back to the home page, these pages are destroyed in a short time and release() is called
- Exceeding the maximum limit on the number of threads resulting in OOM

[2021-03-25 06:31] dummy-amit commented on #8740
Can you guide me how can I know when seek is processed.

`onSeekProcessed` method callback gets called in sync with seekTo method while seek to command is provided to internal player via handler.

![image](https://user-images.githubusercontent.com/49638809/112428838-cae0b400-8d61-11eb-90ee-93522b050a71.png)

[2021-03-25 07:29] zhhach123 opened #8759 "How can i update the Exoplayer from v1.9.6 to v2.12.0"
Hi,
I am trying to update the exoplayer from version 1.9.6 to 2.12.0.When i finish the update,i found some function have been modified.

[code]

The code above is to create the Exoplayer.After the update,i found some fuctions have been modified.Now i don't know how to create the exoplayer with the version 2.12.0.I hope to give some suggestions.
Thank you very much.

[2021-03-25 08:27] hsicen commented on #8612
I had send bugreport and mp4 file to the email.

[2021-03-25 08:27] #8612 closed, assigned to Samrobbo

[2021-03-25 11:01] sdoward commented on #8752
@andrewlewis Thanks for that. It gives me a lead. Much appreciated!

[2021-03-25 11:04] andrewlewis commented on #8728
@huozhezhazha It's unclear how many players are active concurrently in this situation, but it does sound quite inefficient to create many players at the same time like that. Can you have a smaller pool of players and reuse them in your UI when switching between video pages? I'd say in general it's not good to use so much memory that the device is close to OOM'ing, as it will cause background apps

[2021-03-25 11:50] zahmedFDL commented on #6348
Hi All,

I tried the experimental mode on Galaxy S6 (European version) and it worked well. We got many issues related to the Exynos chip here.

Firstly, I have used the branch v2.12.2

Then I have modified MediaCodecVideoRenderer as below  as it was recommended:

//codec.releaseOutputBuffer(index, releaseTimeNs);
codec.releaseOutputBuffer(index, 0);

And the MainActivity as below:

`return new Def

[2021-03-25 12:47] Jenjen1324 commented on #8218
We currently also have the desire for this feature. Our use case is for Replaying Live-TV. If a user swaps to a channel, we obviously want to start at the live-edge as is currently the case. But when the user selects the EPG (which is not finished) we want to start at the beginning. Currently we patched `HlsMediaSource.onPrimaryPlaylistRefreshed` to be able to inject a flag if we want to force fro

[2021-03-25 13:53] marcbaechinger commented on #8218
Since 2.13 you [can build a media item with a `LiveConfiguration`](https://github.com/google/ExoPlayer/blob/release-v2/library/common/src/main/java/com/google/android/exoplayer2/MediaItem.java#L481).  Something like

[code]

The above media item would make the player use a target offset of 10 minutes behind the live edge. This would allow the to set an arbitrary position. If you know the duration

[2021-03-25 14:18] andrewlewis commented on #8740
The behavior of `onSeekProcessed` changed after https://github.com/google/ExoPlayer/issues/6794#issuecomment-573068211 was written. Please ignore that part of the instructions for now and see if the rest helps.

[2021-03-25 14:33] andrewlewis commented on #8751
The emulator uses software decoding that is likely to be slower than what you see on a real device, which can lead to dropped frames, so we recommend testing your app on real devices. If you see an excessive number of dropped frames on a real device please take a bug report via `adb bugreport` and we can see if that contains any indications about what is going on. By the way, the link provided via

[2021-03-25 17:11] marcbaechinger commented on #8757
I don't think this is a bug. As long as the `DownloadService` is running in the foreground there is a task that updates the foreground notification every second. This is the case either when the media is downloaded or when it is removed. Both tasks are executed by the `DownloadService` and have the same behaviour.

In the case of a download updating the notification every second allows to display

[2021-03-25 17:27] tonihei commented on #8218
If you want to start at the beginning of the live stream window, you can also specifically call `player.seekTo(0)` (or any other position) before `player.prepare()`.

[2021-03-25 17:33] marcbaechinger commented on #8756
I'm not sure what exactly happens in your case. In general I think that when you instantiate the `DownloadManager` you need to provide a `DatabaseProvider` and a `Cache`. Given these two are configured in a way, that the database file and the cache directory is on the same volume, then the disk full you are experiencing may not only make the download fail, but also cause the database a problem tha

[2021-03-25 17:53] andrematheus commented on #8757
Makes sense @marcbaechinger , thanks for the help!

[2021-03-25 17:53] #8757 closed, assigned to marcbaechinger

[2021-03-25 20:39] KaplunSergey commented on #8756
Ye, I provided `Database `and `Cache` for `DownloadManager`.

Yes, Database file and Cache are on the same volume. And I think, you are right about this situation, that memory not enough to save error state to the `DownloadIndex`.

Last question. What do you think, If I will not have available space on a device, I will be able to pause downloads by `DownloadService.sendPauseDownloads()`?
Thank you

[2021-03-26 01:04] #8631 closed, assigned to Samrobbo

[2021-03-26 04:54] stevemayhew commented on #8218
The `setLiveTargetOffsetMs()` does exactly what we would want. Careful with
seeking to position 0 in a live playlist, you’ll need to gracefully deal
with `BenindLiveWindowException` in that case

On Thu, Mar 25, 2021 at 10:27 AM tonihei ***@***.***> wrote:

[2021-03-26 12:28] jjuandiaz opened #8760 "VideoCapabilities: Unsupported profile 5 for video/mpeg2"
what happened here?

when I started video
the image is frozen in video and stop playing

**********START LOGCAT************

I/Choreographer: Skipped 287 frames!  The application may be doing too much work on its main thread.
W/VideoCapabilities: Unrecognized profile/level 0/0 for video/mpeg2
W/VideoCapabilities: Unrecognized profile/level 0/2 for video/mpeg2
    Unrecognized profile/level 0/3 for

[2021-03-26 13:59] maiconhellmann opened #8761 "Display a placeholder(preview) before buffering"
I need to show a video placeholder without start buffering when using mobile data network.
I came up with a workaround that sets the buffer size of LoadControl to 1000ms and some visual components to set it back to its default value afterwards.

Is there a better way to achieve this?

Last releases the API has changed a bit with lots of deprecations.
In my opinion, the documentation is not very cl

[2021-03-26 17:54] Pavel-Polyakov opened #8762 "Stopping video stream on changed PCR"
Hi!

Context:
- I use [astra](https://cesbo.com/en)  software for organize streaming

Problem looks like that:
- on astra I see error like `Mar 24 15:04:22[NTV mp3 265 (10s) i/1] mpegts/sync. pcr out of range. -8880ms`
- at the same time exoplayer stops the video. but audio continues playing.
- in log I see messages just about changed timestamp
[code]
- and video never goes on

I’ve tried on demo

[2021-03-28 10:25] fountaingeyser opened #8763 "StyledPlayerControlView: Constraints for minimal mode too conservative"
With the introduction of the minimal mode the player controls become mostly unusable in many cases. When used in portrait mode on the OnePlus 7 with a 16:9 video the minimal mode is already activated. Consequently, none of the basic controls (e.g. VR or shuffle button) are reachable for users anymore.

A thorough investigation has revealed that the height of the player is considered too small to f

[2021-03-28 12:53] h6ah4i opened #8765 "Deadlock with media2 extension"
I faced a deadlock issue by chance. I am using a dedicated thread for handling `SessionPlayer.PlayerCallback` events instead of the main thread. (I suppose this threading usage is allowed by ExoPlayer's design. Am I doing wrong...?)

- ExoPlayer version number: 2.13.1
- AndroidX media2 version number: 1.1.2
- Android version: 11
- Android device: Emulator

---

### Code sample

[code]

---

### Th

[2021-03-28 14:17] yangsan01 opened #8766 "Video freeze when using exo player in Tivimate on NVIDIA shield"
Hi,
I, and many others, are experiencing video freeze when using exoplayer within Tivimate app on the NVIDIA shield.  Exo player is the built-in (default) player for the Tivimate app. The issue seems to be random. Alteast the people I communicated with cannot find a pattern.  The video freezes while the audio continues. The only work around so far is to change the channel in Tivimate and return .

[2021-03-28 15:28] h6ah4i commented on #8765
[UPDATE] I think this is the media2 side issue. It seems that this issue has already been fixed by the following commit.

https://android.googlesource.com/platform/frameworks/support/+/e0188912b1e399906ec7814280f22f61ee42ce54%5E%21/#F1

[2021-03-28 17:11] saurabh-wynk commented on #8037
@rrfrias i have shared the details on mail.

[2021-03-28 20:50] newtestpage opened #8768 "hls stream got error with demo app"
Hi
I am trying to play this stream link with on my app . but it didn't works . also it has problem with demo app .
 could you please check the link ?

`

 
--
https://d2e40kvaojifd6.cloudfront.net/stream/mifa/playlist.m3u8 | Detail
 

`

[2021-03-29 00:59] timusus commented on #3165
I've come up against the same problem - I have an Android client that interacts with various Media Servers (Jellyfin, Emby, Plex).

When requesting audio from these servers, they may respond with HLS streams (without the .m3u8 suffix on the path), or they may respond with binary MPEG content. So the stream type is _not_ known ahead of time.

This is a problem for both ExoPlayer and Chromecast. If

[2021-03-29 01:45] Romantic-LiXuefeng commented on #3438
Add this feature, it will easy to used for video edit apps.  I find that ExoPlayer is being to support to re-encode and re-mux the file format. Is there any plan to do the support for video edit?

[2021-03-29 06:47] sruditsky opened #8769 "How to enableDecoderFallback for ExoPlayerFactory.newSimpleInstance() ?"
Let's say there is an app which uses two third-party media players each one internally implemented using ExoPlayer.
Let's refer to the first player as the "main" and the second one as "aux".

The main player plays content and when the user pauses playback it the application starts the "aux" player.
The aux player plays some special "pause" content.

When we were using this scenario with ExoPlayer

[2021-03-29 07:28] mouemen-haress opened #8770 "EXOPLAYER 4K STREAMING"
hello , please help me .
Exoplayer play videos with Good Resolution
perfectly without any buffering but when i try to play 4k or high resolution videos Exo Player start buffering alot (start buffering within more or less 10 seconds then start playing again).

[2021-03-29 08:56] Jenjen1324 commented on #8218
@marcbaechinger & @stevemayhew thanks for the insight. It does seem that it's a possible solution to the problem (while `seekTo` is not since it incurs a significant startup delay for the stream).

It does feel a bit like a workaround though since the live edge can only be approximated by the client application. My current solution with the modified `HlsMediaSource` is a hack though, so having a w

[2021-03-29 09:25] huozhezhazha opened #8771 "find OutOfMemoryError in com.google.android.exoplayer2.util.Log.getThrowableString"
**Whether you can solve this problem**

java.lang.OutOfMemoryError
Failed to allocate a 512 byte allocation with 128 free bytes and 128B until OOM, target footprint 536870912, growth limit 536870912
at java.util.Arrays.copyOf(Arrays.java:3257)
at java.lang.AbstractStringBuilder.ensureCapacityInternal(AbstractStringBuilder.java:124)
at java.lang.AbstractStringBuilder.append(AbstractStringBuilder.ja

[2021-03-29 10:04] ojw28 commented on #8705
We don't know why this happens. I think it's probably a device specific issue. We will follow up with the Sabrina team [Internal ref: b/183920895].

[2021-03-29 10:20] indieboyalex opened #8772 "PlaybackStatsListener causes crash"
ExoPlayer 2.13.2

Upgrading from ExoPlayer 2.12.3 -> 2.13.2 I'm finding that everything works fine, but when I close my PlayerActivity my app is crashing.  The error we get is:

[code]

I've noticed that in our code:
[code]
if I simply comment out the addAnalyticsListener call then the crash does not happen.

Is this crash a new problem with PlaybackStatsListener, and is there a fix for it?

A sec

[2021-03-29 10:21] tonihei commented on #3165
The implementation in the link above needs to be patched into the ExoPlayer code to work. Note that the diff is against the code state of July 2020, so you probably need to resolve some merge conflicts if you want to base it on the latest code.

[2021-03-29 10:29] tonihei commented on #8772
Looks like the same issue as #8675, which may occur if you reset the same player with new media or use another player with the same listener attached, AND a seek happens just before the new playback starts. You said it's happening when you close your Activity? Can you check whether something in your code is attempting to seek just before you release the player?

[2021-03-29 11:02] indieboyalex commented on #8772
I can't see anything in the code that would be causing a seek and none of the available logging suggests any kind of seek is going on.

[2021-03-29 11:25] ojw28 commented on #8766
If you have an issue with a particular application, then you need to report it to the application developer.

It's impossible to say whether this is an issue with ExoPlayer or Tivimate's integration of it from the information provided. The application developer will need to figure this out, and file an issue with more concrete information if they believe a problem in ExoPlayer is the root cause.

[2021-03-29 11:25] #8766 closed, assigned to ojw28

[2021-03-29 11:28] marcbaechinger commented on #8218
I understand you want to override the start time in the playlist with your wrapper. What information is in your tag and where do you get that information from? The start position which you then replace in the playlist?

[2021-03-29 11:40] #8752 closed, assigned to andrewlewis

[2021-03-29 11:40] tonihei commented on #8772
If you have a way to reproduce, can you describe what we'd need to do to see the same problem here or upload a small example project showing the problem?

Alternatively, it's probably quicker to wait until we uploaded the fix for #8675 and test against the ExoPlayer version with this fix to see if it's indeed the same problem.

[2021-03-29 11:59] skogl commented on #8526
I have seen this issue when playing a mpeg-ts stream as well so it's not related to adaptive streams. My device handles interlaced streams well, but it seems to have trouble handling this transition between non-interlaced and interlaced frames.

Is this also something that needs to be implemented in the device?

[2021-03-29 12:07] ojw28 commented on #8739
`DashMediaSource.lambda$new$0 (DashMediaSource.java:648)` is a simulated manifest update. The manifest is unchanged in this case, so I don't think this can be the cause.

Given you have some custom logic to work around a known issue with the streams that you're using, and given that you're the only person to have reported this error, I think your custom logic needs to be the prime suspect here. Re

[2021-03-29 12:07] #8739 closed, assigned to ojw28

[2021-03-29 12:10] indieboyalex commented on #8772
It looks like if I remove the PSL from the player before calling release then I don't get the crash (at least this seems to be working from the limited testing I've done so far)

[2021-03-29 12:43] lcf87 commented on #8770
The buffering is controlled by `LoadControl`. I invite you to take a look there.
If you did not do any customization, the default buffer time before start playback is 2.5 seconds

https://github.com/google/ExoPlayer/blob/4364b9150f236813a2070fc79d3bcb76e11969ac/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadControl.java#L49

That is, the playback will start after 2.5 seconds o

[2021-03-29 12:46] tonihei commented on #8772
Yes, this is avoiding the issue, but I'm trying to find out whether there is something we need to fix here besides the fix for #8675.

[2021-03-29 12:47] karathb opened #8774 "Pulldown algorithm when playing 50 fps content on 60 hz"
Hi all!
We were recently upgrading the ExoPlayer in a project and we experienced some weird behavior. Earlier we were using 2.10.8, and after the upgrade we have 2.12.1. I know it is still not the newest version, but in the business world these things take time, so for the sake of the example, let's just not focus on this part of the issue for now. (I would be more interested in understanding the

[2021-03-29 12:52] indieboyalex commented on #8772
Well from what I've looked at today, what I've seen is:
* There was no issue in Exo 2.12, but only once we upgraded - so it's a new behaviour
* I could not find any `seek` being called anywhere.  This was happening in both player versions in our app (1 for mobile, 1 for TV).  The player(s) are however very complicated so I'd probably only be able to be 90% confident this wasn't the issue. Apologie

[2021-03-29 12:53] lcf87 commented on #8768
I doubt it's a problem within the playlist, assigning to @christosts. Here's the pasted playlist:

[code]

[2021-03-29 12:54] lcf87 commented on #8760
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-03-29 13:00] lcf87 commented on #8761
Please take a look at #2874. What you did makes sense to me.

As for the doc, I agree we lack some clarity on the higher level ones, may I ask which one is it that you find hard to follow?

[2021-03-29 13:20] lcf87 commented on #8771
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-03-29 13:28] lcf87 commented on #8769
I don't think supporting `enableDecoderFallback` in `newSimpleInstance` is on our agenda. If you don't have direct influence on the implementations on the two players you are using, I doubt there's a "workaround" to enabling that.

Olly, could you confirm?

[2021-03-29 13:31] lcf87 commented on #8765
It seems the issue is gone now? If so could you close the issue?

[2021-03-29 13:47] GrilloLuca opened #8775 "add MediaSourceListener using DataSource.Factory"
Hi, since i've migrated to MediaSourceFactory pattern, how can i add a MediaSourceListener if i can't access MediaSource?

i was able to add listener using the mediaSource.addEventListener(handler, listener) methon and then, prepare the player passing the mediasource: player.prepare(MediaSource mediaSource, boolean resetPosition, boolean resetState)

But now, building the player like this, i can't

[2021-03-29 16:00] KostyaLyapochkin opened #8776 "CodecException: Error 0xffffffff"
Hi. A strange issue has come about in a project.

[code]

As I said before this bug arises in the strange way. What happens? I had to add supporting of ad to the project so I used ExoPlayer’s ima extensions.  The application supports rotation and I keep the player inside of a retain fragment.

It happens When the first ad is playing and I change the orientation of the device at the same time.
But

[2021-03-29 16:51] appstronautstudios commented on #8739
This is a good suggestion thank you!

[2021-03-29 16:58] jjuandiaz commented on #8760
ExoPlayer version number: 2.12.0

Android version: 7.1.2

Android device: Amlogic JB BOX p281

Gradle:

//libreria de FFMPEG solo incluye codec AC3
implementation files('../libs/ffmpeg.aar')

implementation 'com.google.android.exoplayer:exoplayer-core:2.12.0'
implementation 'com.google.android.exoplayer:exoplayer-dash:2.12.0'
implementation 'com.google.android.exoplayer:exoplayer-hls:2.12.0'
imple

[2021-03-29 20:29] nishantkp commented on #8037
hi @rrfrias any updates from Samsung?

[2021-03-29 20:53] nishantkp commented on #8456
hi @icbaker, do you have an ETA for the upcoming release?

[2021-03-30 01:04] #8649 closed, assigned to krocard

[2021-03-30 01:04] #8625 closed, assigned to tonihei

[2021-03-30 01:07] sidferreira commented on #8597
@ojw28 sorry for the long delay, after fixed I had to run against the clock.
In the end, using `DownloadHelper.createMediaSource(downloadRequest, cacheDataSourceFactory);` addressed the missing problems.
Thanks for all your help!

[2021-03-30 01:07] #8597 closed, assigned to ojw28

[2021-03-30 05:51] nithinkumarnk88 opened #8777 "For DRM enabled content, Renew License keys after a particular duration, sent from server"
Hi Team,

We have a requirement in the project where we need to renew the license for a content after a particular duration.
This license renewal duration is configurable and sent from remote config.

So my question is: is there a way to set this renewal duration programmatically? so that the license is renewed after the set duration, for example after every 30 sec.

As per my exploration on googl

[2021-03-30 06:48] VivekBhalodiyaMM opened #8778 "PlaybackStatsListener callback is not called if the playback is paused and the app is killed."
I need to collect `getTotalPlayTimeMs()` from the PlaybackStatsListener.

**Describe the bug**
 PlaybackStatsListener callback is not called if the playback is paused and the app is killed.

**To Reproduce**
1. Play any content (audio in my case) for a while, let's say for 30 seconds.
2. Pause the content
3. Kill the app
4. PlaybackStatsListener callback is not called.

**Expected**
I need`getTota

[2021-03-30 07:25] mouemen-haress commented on #8770
I do this customization but the same probleme Appeared .

[2021-03-30 07:50] VivekBhalodiyaMM commented on #8778
I realized that `exoplayer.stop(true)` was being called in the `onTaskRemoved()` of the music service, which was resetting the player.

[2021-03-30 09:27] marcbaechinger commented on #8775
Can you instead use the `AnalyticsListener` that you can add globally to `SimpleExoPlayer`? The events from the `MediaSourceEventListener` are delegated to the `AnalyticsListener`.

[code]

[2021-03-30 09:38] andrewlewis commented on #8760
I think the log lines about unsupported profiles from VideoCapabilities may be expected and not actually indicative of a problem. Not sure what your ffmpeg.aar library does but you may want to try using the [FFmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg).

[2021-03-30 09:52] Jenjen1324 commented on #8218
@marcbaechinger it is kind of an edge case but the use case is as follows:

 1. User watches live programme which is an `#EXT-X-PLAYLIST-TYPE:EVENT`
 2. User seeks back to perhaps start watching at the beginning of the programme
   1. The App stores the ongoing playback position
 3. User switches to other channel / away from the App
 4. When the user comes back, he can choose to continue from his

[2021-03-30 10:03] Jenjen1324 commented on #8218
I also found some related issues:
 - https://github.com/google/ExoPlayer/issues/7279  Provide ForwardingMediaSource to simplify custom implementations
 - https://github.com/google/ExoPlayer/issues/7975 Start position is ignored for some HLS streams

[2021-03-30 10:12] icbaker commented on #8456
This fix will be included in the 2.14.0 release, which is tentatively scheduled for the beginning of May. It is likely to also be included in future 2.13.X minor releases, if we do any.

[2021-03-30 10:33] icbaker commented on #8777
What DRM scheme are you using?

The existing ExoPlayer license refresh mechanism reads license refresh periods from the license provided by the DRM license server. The precise details of configuring license servers & policies is outside the scope of this issue tracker, you're likely better off reaching out to your DRM vendor for assistance on this, or Widevine directly if you're a Widevine partner

[2021-03-30 10:37] schnaps1981 commented on #5417
it looks like Google has forgotten about us :(

[2021-03-30 10:45] marcbaechinger commented on #6163
This [commit](https://github.com/google/ExoPlayer/commit/dc4148d5767b634c91e33bb27751756c921fe271) that landed in dev-v2 deprecates the old [`onPositionDiscontinuity`](https://github.com/google/ExoPlayer/blob/dev-v2/library/common/src/main/java/com/google/android/exoplayer2/Player.java#L597) callback in favor of a new version that has two additional parameters for the old and new `PositionInfo`.

[2021-03-30 10:53] marcbaechinger commented on #4768
This [commit](https://github.com/google/ExoPlayer/commit/dc4148d5767b634c91e33bb27751756c921fe271) that landed in dev-v2 deprecates the old [`onPositionDiscontinuity`](https://github.com/google/ExoPlayer/blob/dev-v2/library/common/src/main/java/com/google/android/exoplayer2/Player.java#L597) callback in favor of a new version that has two additional parameters for the old and new `PositionInfo`.

[2021-03-30 10:54] #4768 closed, assigned to marcbaechinger

[2021-03-30 10:54] #6163 closed, assigned to marcbaechinger

[2021-03-30 11:41] jjuandiaz commented on #8760
ffmpeg.aar are FFmpeg compiled  extension

[2021-03-30 12:24] luiscurini opened #8779 "StyledPlayerControlView how to reduce play/pause button size?"
Hi, I'm on Exoplayer version 2.13.2 and using the StyledPlayerControlView, I'm trying to customise the play and pause icon and for that I'm overriding:

- exo_styled_controls_play
- exo_styled_controls_pause

with the icon that I want to use.

However this button is always shown bigger than the rest of the center control button (for example previous, next, fastforward). I'm seeing the style inheri

[2021-03-30 12:34] lcf87 commented on #8770
It sounds more like a network issue to me. Could you provide a link to your 4k stream?

[2021-03-30 12:42] lcf87 commented on #8776
@andrewlewis Can you take a look? Basically `MediaCodec.setOutputSurface` errored out when rotating the device while an ad is playing.

[2021-03-30 12:46] ArunkarthickNallasamy opened #8780 "HLS precaching"
I know there are so many questions related to HLS preaching but i am not sure what is the working solution.
What we have achieved so far:-
We were able to precache an mp4 video by defining size in DataSpec
[code]
Question is, Is there a way we can cache an m3u8 file to 3 or 4 sec or for first 500kb of it?

[2021-03-30 13:06] mouemen-haress commented on #8770
I use vlc to similate a broadcast udp streaming in  local network .

[2021-03-30 13:06] mouemen-haress commented on #8770
only 4k video play very slowly but other video play smoothly

[2021-03-30 13:22] laruedavid opened #8781 "Support forced subtitles from Dash manifest"
### Use case description
Video can have a "forced" subtitle track used, for example, when characters speak a different language from the main language.
Dash manifests support this feature using a role as mentioned in Amd. 5 for 23009-1: Dash-Industry-Forum/DASH-IF-IOP#165
ExoPlayer already manage forced subtitle with HLS.

### Proposed solution
ExoPlayer should parse the "forced_subtitle" role fro

[2021-03-30 13:29] marcbaechinger commented on #8218
Something like a method to override the start time in the playlist for a given media item would work for you?

[code]

The liveTargetOffset would then be calculated from that start time you are declaring in the media item.

[2021-03-30 14:19] tonihei commented on #8774
@christosts  Do you have an idea what could be causing the black frames?

This is an interesting statement because I wouldn't have thought the load control can have an influence. Can you check what the buffer levels (`player.getTotalBufferedDurationUs()`) are during this time? And whether the player switching from loading to not loading has any influence (listen to `EventListener.onIsLoadingChange

[2021-03-30 14:21] #8746 closed, assigned to ojw28

[2021-03-30 14:30] ojw28 commented on #8779
Please provide a minimal example (ideally just a small modification to the ExoPlayer demo app) so that we can reproduce your exact issue, and we can take a look.

[2021-03-30 14:52] luiscurini commented on #8779
It's enough by just adding the following drawable to the demo app:

**exo_styled_controls_play**
[code]

When you run the app and pause the video you should see that the play icon is way bigger than the rest. In theory it should be the same. I'm not sure where that's coming from.

![Screenshot_1617115919](https://user-images.githubusercontent.com/6472687/113009484-45ea0600-9178-11eb-8846-cde6dcecd

[2021-03-30 15:08] ojw28 commented on #8779
If you enable layout bounds (Settings --> Developer Options --> Show Layout Bounds) then you'll see they are the exact same size, so I think the extra padding is within the drawables themselves. So, I think the solution is to build some padding into the drawable that you're creating. Note that you can also see layout bounds in Android Studio's layout inspector.

![device-2021-03-30-160653](https:/

[2021-03-30 15:18] ojw28 commented on #8763
Agree there is an issue here. It looks like the padding of `exo_center_controls` is not being removed from the calculation, which I think it should be.  There's also a problem horizontally where the edges of the far left/right icons can end up being clipped even when there is sufficient space for them to be fully rendered.

![device-2021-03-30-161823](https://user-images.githubusercontent.com/7881

[2021-03-30 15:19] #8478 closed, assigned to ojw28

[2021-03-30 15:22] luiscurini commented on #8779
Oh god, my bad it seems that it wasn't picking up the right style and therefore the paddings weren't set properly. Thanks and sorry for wasting a bit of your time 👍

[2021-03-30 15:22] #8779 closed, assigned to ojw28

[2021-03-30 15:24] VivekBhalodiyaMM commented on #8772
I'm having the same issue but with a different scenario.
To reproduce
1. Start the playback
2. Call `playbackStatsListener.finishAllSessions()` in  the onTaskRemoved of your service
3. Followed by `exoplayer.stop()`
4. Kill and relaunch the app, play the content, which will call `exoPlayer.prepare(mediaSource)` which causes the crash.

Note - There is also seek happening after `explyer.prepare(med

[2021-03-30 15:28] ojw28 commented on #8675
@tonihei - Is this bug fixed by the commit referenced above?

[2021-03-30 15:29] ojw28 commented on #8693
@andrewlewis - Is this bug fixed by the commit referenced above? If so, can we mark it as fixed? Thanks!

[2021-03-30 15:29] tonihei commented on #8675
No, the commit that fixed this isn't uploaded yet (internal ref cl/365558959)

[2021-03-30 15:30] ojw28 commented on #8308
Closing on the assumption that this was fixed in the commits referenced above.

[2021-03-30 15:30] #8308 closed, assigned to AquilesCanta

[2021-03-30 15:30] tonihei commented on #8772
@VivekBhalodiyaMM  This is unrelated and old bug that got fixed in 2.13.0

[2021-03-30 15:31] #8272 closed, assigned to 1nsun

[2021-03-30 15:32] #8693 closed, assigned to andrewlewis

[2021-03-30 16:05] stevemayhew commented on #6475
@andrewlewis we have reproduced this at a couple of installations with live playback.  While it looks like there are short audio segments in the playback, nothing really stands out as a big PDT jump.  Will keep you all informed and post our analysis in this bug.

The STB is an SEI  (AmLogic), but we have also seen it on an Arris (Broadcom based)  This is almost a 12 second PTS in the sample (or th

[2021-03-30 16:06] andrewlewis commented on #8776
Are you handling the `SurfaceView` surface callbacks in your code? If so, please make sure you are using blocking calls to set/clear the output surface (like `SimpleExoPlayer.setVideoSurface/clearVideoSurface`), to make sure it can't be destroyed while the player is trying to use it.

There may be informative errors just before the stack trace from `setOutputSurface` is output, so it would be help

[2021-03-30 16:22] andrewlewis commented on #6475
Not sure if it will help much but this calculation is based on ExoPlayer's model of what input buffer timestamp is expected based on audio written so far, so in theory there isn't any device-specific code affecting this (though of course it may depend on something like what stream is selected for a device). For your example the upstream source must be providing an audio sample that has a presentat

[2021-03-30 23:49] sruditsky opened #8783 "In HLS playlists byte range is sometimes assigned by mistake to init segments without a byte range"
Let's assume we have an HLS media playlist containing the following sequence:

...
#EXT-X-BYTERANGE:_n_@_o_
_urlA_
#EXT-X-DISCONTINUITY
#EXT-X-MAP:URI="_uriB_"
...

in other words it has a media segment with a byte range followed by an init segment without a byte range.

We use ExoPlayer r2.12.3 and when it parses such a sequence HlsPlaylistParser:

1. reads the EXT-X-BYTERANGE line and sets segme

[2021-03-31 03:04] hyl0376 commented on #8456
Hi @icbaker, could you release it earlier?
This issue is critical to our product release schedule and May is too late.

[2021-03-31 04:51] VivekBhalodiyaMM commented on #8772
Thank you @tonihei I'll verify and check.

[2021-03-31 05:11] VivekBhalodiyaMM commented on #8778
On updating the ExoPlayer to **2.13.2,** the issue still persists. I was able to call `finishAllSession()` in **2.11.1** but now that method is not public.

[2021-03-31 05:33] ArunkarthickNallasamy commented on #8780
I get

 when i send a m3u8 url in DataSpec.Builder() for cacheWriter.cache()

[2021-03-31 06:03] nithinkumarnk88 commented on #8777
Hi, Thank a lot for the reply.
We use Widevine scheme for DRM.
So what I understand from your comment is that we cannot explicitly set the renewal time in the Exoplayer from the client/application side and this renewal duration will be part of the license issued and renewal time must be handled by the DRM vendor only.
Please correct me if I am wrong?

[2021-03-31 07:35] NitinSharma639 commented on #8657
Hello @icbaker

Can we resolve this issue using com.google.android.exoplayer2.ui.PlayerView in our app.

Thanks

[2021-03-31 08:13] KazukiSugiyama107 commented on #8691
I’m sorry for the late reply.

Reproducibility occurs at 10/10.

Nine users have confirmed the date of the security update. The update date for all users is March 5th.
Of these, eight are Pixel3a users. One will be Piexl3XL.

It may not occur depending on the content. I think this issue is related to the video encoding parameters.

No error occurs during playback on netflix.
Also, it can be played

[2021-03-31 08:13] icbaker commented on #8777
Correct - ExoPlayer doesn't provide a mechanism to sideload the license refresh duration.

DRM licenses often have a a license duration and a refresh duration. ExoPlayer currently doesn't retry license refreshes (https://github.com/google/ExoPlayer/issues/8241), so if you're configuring these periods consider making your refresh interval less than half your total license duration, as that will ens

[2021-03-31 08:13] #8777 closed, assigned to icbaker

[2021-03-31 08:24] rrfrias commented on #8037
@nishantkp The internal tracker was incorrectly assigned. I have corrected that. I also built the apk and to speed Samsung's investigation.

@saurabh-wynk you shared a stack trace. There is not enough information to be useful. Is it possible to get a logcat or bugreport?

[2021-03-31 08:27] rrfrias commented on #8691
Can you share a test apk  with some content to  dev.exoplayer@gmail.com so that we can reproduce. This will help speed Qualcomm's investigation.

[2021-03-31 08:42] GrilloLuca commented on #8775
thank you, it worked !

[2021-03-31 08:42] #8775 closed, assigned to marcbaechinger

[2021-03-31 09:02] ojw28 commented on #8783
I think the way `segmentByteRangeOffset` is reset to `0` after instantiating `initializationSegment` may also be incorrect.

[2021-03-31 09:05] Zeno-Zhou commented on #8705
Hi ojw28,
     For sabrina, This issues is fixed in b/169426633, the reason is secure input buffer size  not big enough for some dv files;

[2021-03-31 09:56] nithinkumarnk88 commented on #8777
Thanks a lot for the information and confirming on the refresh duration mechanism.

[2021-03-31 10:22] arlimm318 opened #8784 "Support multiple PAT packets in TsExtractor"
if the pmt  change  in playing stream，the exoplayer  will stop playing.
But  the VLC player  or  ffplay can play normally.

the sample ts file is
[zhongguoqixiang.zip](https://github.com/google/ExoPlayer/files/6235832/zhongguoqixiang.zip)

[2021-03-31 10:46] karathb commented on #8774
loading does not have any influence, that value is not changing during this event. Sometimes it is loading when the flicker is happening, but mostly it is not loading

the buffer is between 2000-3500

One more info, so far it seems like that this is only happening on FullHD displays/resolution. On 4k devices, it is not happening

[2021-03-31 11:17] Ste-RH opened #8785 "Trying to limit adaptive stream download video tracks only using list of StreamKey"
I have, in the hunt for knowledge and answers, searched the issues here, stack overflow, and a number of articles coving ExoPlayer and downloading media.  Nothing seems to cover the issue I am seeing.

**Test Media**
[https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8](https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x

[2021-03-31 11:53] maketvgithub commented on #8747
Hello @andrewlewis,

We continued to research why the stream could freeze and we found that the player sometimes does not download the chunks, but gets stuck in downloading the chunk list and the only recovery here is to restart the player, ie change the channel in our case which can be seen when a playlist download has appeared.

We deliver to you below the log from the server:
[server_logs.txt](

[2021-03-31 12:04] kim-vde commented on #8762
Thanks for reporting this issue.

The stream you provided doesn't play on my device for 2 reasons:
1. The presentation timestamp of the first PES packet is followed by a packet with a smaller presentation timestamp, causing the first timestamp sent to the audio decoder to be negative. More precisely, the first PES packet is an H265 packet with pts 264872. It is followed by a few H265 packets and t

[2021-03-31 12:27] christosts commented on #8560
Thank you for your assistance!

I can see in your attached video that `Release time advance` varies. Most of the times it is indeed 40000000 nanoseconds, but there are some drops of this value too. I think that's working as intended. ExoPlayer attempts to render frames at specific time slots aligned with the moments the screen is about to refresh (vsync). For playback speed at 1.03 and frame rate

[2021-03-31 13:10] lcf87 commented on #8770
Could you provide more information on your setup? It's impossible to pinpoint the issue with such limited info.

You mentioned UDP streaming, is it RTP? If so, there could be packet reordering/loss that contributed to the issues you saw.

[2021-03-31 13:19] lcf87 commented on #8760
I can't open the bugreport.zip you uploaded.

In the meantime, could you try play the video without ffmpeg? Or if you can provide us with a video clip to test with?

[2021-03-31 13:25] christosts commented on #8560
[internal ref b/184139564]

[2021-03-31 13:29] KostyaLyapochkin commented on #8776
@andrewlewis Hi, I've decided to explain the error more exactly and how to replay this one:
1. The ad is playing
2. I change the orientation
3. Wait for the ad to end/finish
4. The main content starts playing
5. I change orientation again
6. The error appears

Also I am attaching a list of logs, please, take a look.
[logs_exo_player.txt](https://github.com/google/ExoPlayer/files/6236902/logs_exo_p

[2021-03-31 13:35] lcf87 commented on #8780
I'm not sure I understand what you mean. Do you want to pre-buffer some HLS content for some duration? That is achievable with `LoadControl`.
Or, is it "downloading" the first 5 second worth of media before hand, in case the user may hit the play button?

[2021-03-31 13:51] ArunkarthickNallasamy commented on #8780
When we mean precache we want to cache certain portion of URL's without passing URL to the player, FYI URL can be either mp4 or HLS. We were able to precache mp4 url's with help of cacheWriter for sizes we define but the same function is failing if an HLS is supplied. The idea behind precaching is to load videos faster when user scrolls to the cached URL's position in the list.

[2021-03-31 13:55] tonihei commented on #8778
I'm not sure what this step means exactly in your case. If you close your app in a normal way, I'd assume you call `player.release()` at some point which also finishes all pending session in the `PlaybackStatsListener`.

This `stop` call is indeed not triggering the callback immediately (only when re-preparing the player with something else, or when the player is released). We can fix this, but no

[2021-03-31 14:04] lcf87 commented on #8784
Verified, not sure if it's supported, assigning to @kim-vde

[2021-03-31 14:38] #8678 closed, assigned to kim-vde

[2021-03-31 15:00] lcf87 commented on #8780
I still don't understand. Do you want to "precache" before or after the playback has started? I assume it's after based on your explanation.

What do you mean by cached URL's position? What list are you referring to?

[2021-03-31 15:21] ArunkarthickNallasamy commented on #8780
We need to precache before playback has started.
`What do you mean by cached URL's position? What list are you referring to?`
Videos are played in a RecyclerView, so while i am in video 1, I would like to preload video 2,3,4 behind the screens. Todo so i am using cacheWriter.cache() for mp4 url's, is there anything similar to this for HLS? Is it still unclear?

[2021-03-31 17:30] christosts commented on #8768
The player cannot download the playlist and consistently gets an HTTP 403 when attempting to download the playlist. The same happens why I try to access the content using vlc on mac. However, the playlist -at least- can be downloaded with a browser.

Do you know if there's any restriction to this content applied on server side?

[2021-03-31 17:40] christosts commented on #8747
To further assist you, can you please provide instructions for us to reproduce the problem and a link to the stream to play it in the ExoPlayer demo app? If you don't want to post them here you can email them to dev.exoplayer@gmail.com with subject "Isse #8747" and update this issue once you have done so. Thanks.

[2021-03-31 18:52] christosts commented on #8737
I tested the content with the dev-v2 branch. The playlist has video and audio muxed in TS containers. Whenever there is a seek, the following happens:

- the player loads a segment around the seek point which adds no sample to the sample queue
- the player tries to load the next segment, but because the previous segment did not add any samples to the queue, the loader is blocked waiting the TimeSt

[2021-03-31 19:19] GyanendroKh commented on #8737
@christosts I haven't tried with other players personally. But the same file is being served in production at [animepahe.com](animepahe.com), and it works fine. They are using [https://plyr.io/](https://plyr.io/) to pay the video.

[2021-03-31 21:14] ojw28 commented on #8737
The media is malformed. Specifically, only the first segment contains a PAT, where-as the [HLS specification](https://tools.ietf.org/html/rfc8216#section-3.2) requires a PAT at the start of _every_ segment:

When starting playback from a segment other than the first one (e.g., after a seek), the pack of a PAT means that the extractor cannot successfully output any samples, and so playback never re

[2021-03-31 21:14] #8737 closed, assigned to ojw28, christosts

[2021-03-31 22:03] ojw28 commented on #8768
This kind of thing often ends up being to do with the user agent. Changing the `USER_AGENT` constant in `DemoUtil` to be the same as your browser's is a quick test you can do to see whether this is the case.

[2021-04-01 06:25] karathb commented on #8774
Hmmm... we found something interesting. It seems like that not the stream is blinking (wow...), but rather the whole screen. If we put UI elements on the top of the player, those are also blinking (e.g.: another activity, or anything basically). It is crazy.

_So if the player is playing a 50 fps content on a 60 Hz FullHd display (AndroidTv), then the whole screen is flickering._

There is no scre

[2021-04-01 09:37] ojw28 commented on #1497
Note: We will want any solution to work for both download (we keep a record of it, and retain the downloaded data until the app tells us not to) and pre-caching (fire-and-forget from the application). Gaps we have currently:

1. Partial downloads (all format types)
2. Fire-and-forget caching (adaptive format types; `CacheWriter` already solves this for progressive types).

[2021-04-01 09:38] pvishnyakov commented on #8560
I’ll gather the logs but MP4 or DASH file don’t have this issue, only live 4K HLS does. Non-live (VOD) HLS also fine, any resolution.
As I understand, device shouldn’t care if it’s live or VOD, right?
Also MP4 or HLS is more about Extractor than Renderer so MP4 frame should be rendered same way as HLS frame, is it correct?
Obviously the stuttering happens between chunks, within chunk it’s ok, so I

[2021-04-01 09:39] ojw28 commented on #8780
This issue is basically a duplicate of https://github.com/google/ExoPlayer/issues/1497.

This is something we would like to support, but we do not support it currently. It's theoretically possible for application code to implement this functionality directly, but it's a non-trivial amount of work, and it's not something we can provide detailed guidance on at this stage.

Closing as a duplicate of

[2021-04-01 09:39] #8780 closed, assigned to lcf87

[2021-04-01 09:46] SeJIya commented on #8747
Same problem

[2021-04-01 10:53] christosts commented on #8768
Fyi, setting the user agent to the same as Chrome works and the content plays (tested with version 2.13.2).

[2021-04-01 10:53] #8768 closed, assigned to christosts

[2021-04-01 11:19] kim-vde commented on #8784
When I try to play the stream you provided with the demo app, I get an error "ParserException: Loading finished before preparation is complete". This error is thrown for the same reason as in #8716: a stream with PID 1943 is declared in the PMT but there is no corresponding packet.

[2021-04-01 11:28] #8718 closed, assigned to AquilesCanta

[2021-04-01 11:31] ojw28 commented on #8640
@tonihei - Any ideas about this?

[2021-04-01 11:33] ojw28 commented on #7994
Let's use https://github.com/google/ExoPlayer/issues/8594 for tracking this issue. Closing as a duplicate.

[2021-04-01 11:33] #7994 closed, assigned to krocard

[2021-04-01 11:38] #8689 closed, assigned to tonihei

[2021-04-01 11:39] kim-vde commented on #8784
When I try to play the stream you provided with the demo app, I get an error "ParserException: Loading finished before preparation is complete". This error is thrown for the same reason as in #8716: a stream with PID 1943 is declared in the PMT but there is no corresponding packet.

Regarding having multiple PMTs, this is normally supported using [`MODE_MULTI_PMT`](https://exoplayer.dev/doc/refere

[2021-04-01 11:39] #8501 closed, assigned to marcbaechinger

[2021-04-01 11:47] tonihei commented on #8640
No idea. The value that is supposedly null is marked as non-null and as long as our static null checks are working as expected I'd assume it is indeed non-null. Also checked all places where it's set again and none of them look suspicious.

It's also not likely to be any kind of concurrency issue because the value is only written and read from our internal playback thread.

The only more far-fetch

[2021-04-01 11:49] ojw28 commented on #7779
The file you've provided is an 80 hour long, 2GB MP4 file that contains 12,412,717 audio samples. The sample table needs 24 bytes per sample, so to represent it in memory requires ~297MB. ExoPlayer is failing to allocate sufficient memory, and is therefore failing as a result. Even on devices where this "works", the memory allocation will be excessive.

I don't think an 80 hour long MP4 file is re

[2021-04-01 11:49] #7779 closed, assigned to marcbaechinger

[2021-04-01 12:12] ojw28 commented on #8674
This is just a bug in your application code, [here](https://github.com/NathanSass/ExoPlayer/blob/nathans/demos/main/src/main/java/com/google/android/exoplayer2/demo/CacheManager.java#L20) and [here](https://github.com/NathanSass/ExoPlayer/blob/nathans/demos/main/src/main/java/com/google/android/exoplayer2/demo/CacheManager.java#L32). `setCacheReadDataSourceFactory` sets the `DataSource` for readin

[2021-04-01 12:12] #8674 closed, assigned to marcbaechinger

[2021-04-01 12:15] #8701 closed, assigned to tonihei

[2021-04-01 12:15] #8681 closed, assigned to marcbaechinger

[2021-04-01 12:16] #8685 closed, assigned to andrewlewis

[2021-04-01 12:16] #8563 closed, assigned to marcbaechinger

[2021-04-01 12:17] #8536 closed, assigned to marcbaechinger

[2021-04-01 12:21] #8561 closed, assigned to marcbaechinger

[2021-04-01 12:21] #8621 closed, assigned to Samrobbo

[2021-04-01 12:24] #8633 closed, assigned to Samrobbo

[2021-04-01 13:13] ojw28 commented on #8616
This issue occurs because we try and read the channel count for the TrueHD stream from FFmpeg before it's known. We will provide a fix.

[2021-04-01 13:14] ojw28 commented on #8733
@AquilesCanta - Is this issue fixed by the commit ref'd above? Thanks!

[2021-04-01 13:17] ojw28 commented on #8109
It's not possible to do this mid-playback, since at that point the decoder has been instantiated and is in use.

[2021-04-01 13:17] #8109 closed, assigned to ojw28

[2021-04-01 13:29] #8733 closed, assigned to AquilesCanta

[2021-04-01 15:07] #8675 closed, assigned to tonihei

[2021-04-01 15:08] #8616 closed, assigned to ojw28

[2021-04-01 15:08] #8710 closed, assigned to icbaker

[2021-04-01 16:18] ojw28 commented on #8429
There's nothing actionable for us to do here, since there are no reproduction steps. Closing.

[2021-04-01 16:18] #8429 closed, assigned to marcbaechinger

[2021-04-01 16:20] #8522 closed, assigned to marcbaechinger

[2021-04-01 16:21] #8505 closed, assigned to marcbaechinger

[2021-04-01 16:21] #8519 closed, assigned to marcbaechinger

[2021-04-01 16:24] andrewlewis commented on #8748
#8770 looks the same. As noted on that issue too, we can't help much with such limited information. Please avoid filing duplicate issues in future.

[2021-04-01 16:24] andrewlewis commented on #8748
Duplicate of #8770

[2021-04-01 16:24] #8748 closed, assigned to andrewlewis

[2021-04-01 16:26] #8447 closed, assigned to andrewlewis

[2021-04-01 16:29] ojw28 commented on #8769
I'm not sure exactly what was in `2.12.3`, but certainly from `2.13.0` you can do:

[code]

[2021-04-01 16:29] #8769 closed, assigned to ojw28

[2021-04-01 16:33] #8688 closed, assigned to tonihei

[2021-04-01 16:36] ojw28 commented on #8486
Closing because this issue makes no attempt to adhere to our issue template. Please completely fill out the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) to report this kind of issue.

[2021-04-01 16:36] #8486 closed, assigned to ojw28

[2021-04-02 07:14] vishal105 opened #8786 "Download Basic authenticate Video"
How can I download basic authenticate video using exoplayer download manager?

I can't add header in exoplayer download manger.

[2021-04-02 09:13] GouravSna opened #8787 "Subtitle does not appear when App comes to Foreground in paused state"
I am checking on ExoPlayer Demo 'release-v2' branch.

Steps:

1. Go to 'Subtitles'
2. Select 'TTML Japanese Features'
3. Let the media start
4. Pause the player when the subtitle is visible on the screen
5. Go to BG and come to FG

Video: https://drive.google.com/file/d/1eQdVFGuRuDOYxeFS_cjeXf3TadiOXDFO/view?usp=sharing
Result: With video frame, last visible subtitle is not being shown
Expected Re

[2021-04-02 10:24] Pisey-Nguon opened #8788 "How can I download multiple videos HLS like youtube?"
I have use this method to download video
  downloadManager?.addDownload(downloadRequest)
then I use it with other downloadRequest but It always downloads without waiting for the first download completed.

[2021-04-02 13:23] MichaelRocks commented on #8640
@tonihei I believe you're right and this bug might not be related to ExoPlayer. It's quite rare and reproduces only on this particular device, which isn't rooted btw. Moreover, we don't receive these crashes on the latest versions of our app. Seems this issue should be closed. Sorry for wasting your time.

[2021-04-02 14:31] sruditsky commented on #8769
Oh, yeah, this should work.
Thanks!

[2021-04-02 17:02] Pavel-Polyakov opened #8789 "Player never starts on mpeg-ts stream contained invalid packets"
Hi!

I have problem with playing a broken mpeg-ts/h264 streams which play successfully in other players (VLC, ffplay)

With [demo-app](https://exoplayer.dev/demo-application.html) it's reproduced too — stream just started never.

ffmpeg sees some errors which looks like that:
[code]

In player logs I see nothing specific.

Could you help to debug the problem?

For reproduce I have configured test

[2021-04-03 06:38] h6ah4i commented on #8765
The fixed version of media2 will be v1.2.0 which is not released yet. I have resolved this issue by building the latest AndroidX code pulled from [their repository](https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main).

[2021-04-03 13:41] ghost commented on #2159
any updates here?

[2021-04-04 14:17] saurabh-wynk commented on #8037
@rrfrias As I mentioned earlier, this issue has been captured from production users' analytics events, while we have not been able to reproduce it internally. Hence we do not have any logcat or bug report. Will share other details, as soon as I get any.

But from the events, it appears that issue is intermittent. Since I am seeing some play events also for that user.

[2021-04-04 16:47] ghost opened #8790 "Sound Played on Android App, not Chromecast Device"
I want to use Chromecast with live streaming audio.
I implemented Chromecast using Chromecast Manager

      ///MainActivity.java
              CastButtonFactory.setUpMediaRouteButton(this, buttonCast);
              castPlayerManager = new CastPlayerManager(this, castControlView, castContext);

      /// CastPlayerManager.java
              castPlayer = new CastPlayer(castContext);

[2021-04-04 18:15] pvishnyakov commented on #8560
Done, first log is from the channel shown on the video posted before, stuttering one:
[4K_HLS_frame_render.log](https://github.com/google/ExoPlayer/files/6255093/4K_HLS_frame_render.log)

Second log is from Full HD HLS live stream (same server), the video is pretty smooth, release time is changing but not the same as above, here is almost no shortened releases:
[FHD_HLS_frame_render.log](https://g

[2021-04-04 18:45] pvishnyakov commented on #8560
One more log for 4K HLS live stream, same source as before but this time the speed is not forced to 1.03 (let player adjust):
[4K_HLS_No_Forced_Speed_frame_render.log](https://github.com/google/ExoPlayer/files/6255134/4K_HLS_No_Forced_Speed_frame_render.log)

[2021-04-04 21:23] olgunkaya opened #8791 "How to download DRM using drm server url"
Hi,

I have been trying to implement offline playback of DRM protected media. I did go through the [this official page ](https://exoplayer.dev/downloading-media.html) and the demo app several times but ended up here to ask the question.

In the demo app there is a background task WidevineOfflineLicenseFetchTask which is used to download the keys using the stream/manifest itself. But in my case I h

[2021-04-04 21:28] im244 opened #8792 "Downloading/Caching live streams"
Hey everyone,

First let me thank you for the fantastic job you have done so far with ExoPlayer, it really is amazing.

So my app is a live tv channels app that connect directly to open channels in different countries.
The idea is to offer live caching for these live streams, so the player will cache X minutes or up to X available space and the user will be able to go backward forward within the d

[2021-04-05 03:14] zhengzhuoxing commented on #8471
Have you solved it now

[2021-04-05 03:14] zhengzhuoxing commented on #8471
I had the same problem

[2021-04-05 04:17] Pisey-Nguon opened #8793 "Download state on DownloadManager.Listener call multiple time"
I don't know why it's always call multiple time when state change on process download

[2021-04-05 07:23] ChetanPatelSS opened #8794 "DownloadTracker: Failed to fetch offline DRM license"
I need to play DRM-protected content offline.

However, after building the DRM session, the following error is thrown:

[code]

[2021-04-05 17:41] greyski commented on #4188
Hi! Just wanted to bump this up. Spent a good day and a half trying to understand why our ExoPlayer implementation wouldn't run live streams save for a few seconds before erring out.

I can confirm using `DefaultMediaSourceFactory(CacheDataSource.Factory())` will prevent streams from playing past ~10 seconds as mentioned by OP. Could we at least update the [wiki page](https://exoplayer.dev/live-st

[2021-04-05 19:16] nbasbous opened #8795 "IMA Extension: How to implement onAdEvent"
Hello ExoPlayer Team,

I need to check if there is a plan to expose the onAdEvent, so I can register to listen to Adds events.
BR

[2021-04-05 20:14] oguzhaneksi opened #8796 "ArrayIndexOutOfBoundsException when player is closed while playing ad"
**Issue Description**

I get this exception when finished the player activity while playing an ad.

        at com.google.android.exoplayer2.source.ads.AdsMediaSource.maybeUpdateAdMediaSources(AdsMediaSource.java:316)
        at com.google.android.exoplayer2.source.ads.AdsMediaSource.onAdPlaybackState(AdsMediaSource.java:295)
        at com.google.android.exoplayer2.source.ads.AdsMediaSource.acces

[2021-04-05 20:37] ALexanderLonsky opened #8797 "CacheDataSource: Playing downloaded content across app launches"
Hello,
[This section](https://exoplayer.dev/downloading-media.html#playing-downloaded-content) says:

Does `using the same Cache instance` mean that it's not possible to play downloaded content across app launches?

Actually, I don't use any download manager, I cache data like described [here](https://exoplayer.dev/customization.html#caching-data-loaded-from-the-network).

What I see: the cache wo

[2021-04-06 01:04] #8687 closed, assigned to tonihei

[2021-04-06 01:04] #8366 closed, assigned to tonihei

[2021-04-06 02:34] SungsooLim commented on #8765
I'll schedule media2 v1.2.0 ASAP.
I'm expecting it to be released early June.

2021년 4월 3일 (토) 오후 3:39, Haruki Hasegawa ***@***.***>님이 작성:

[2021-04-06 04:41] SungsooLim commented on #8765
Since the stable release would take time, I'll cherry-pick the change into media2 release branch and release media2 1.1.3 first.

[2021-04-06 07:23] kaweesi opened #8798 "ERROR: java.lang.IllegalStateException: Unexpected runtime error"
I am using exoplayer for switching between multiple streams, i seem to be experiencing some unclear issue on every switch: ERROR: java.lang.IllegalStateException: Unexpected runtime error

I normally reinitiate the player but this in the long run causes some audio delay and the video goes ahead audio in the same stream.

Has anyone encountered this before?

[2021-04-06 08:50] #8640 closed, assigned to tonihei

[2021-04-06 08:54] andrewlewis commented on #8796
Please see #8693 -- I think this is probably a duplicate of that.

[2021-04-06 08:54] andrewlewis commented on #8796
Duplicate of #8693

[2021-04-06 08:54] #8796 closed, assigned to andrewlewis

[2021-04-06 09:06] icbaker commented on #8781
Thanks for the request - would you be able to provide a sample stream containing the `forced_subtitle` role that we can use for testing?

[2021-04-06 09:18] AquilesCanta commented on #8471
I have a list of urgent things I need to look into. @christosts, if you have time please take a look. Let me know if I can assist you.

[2021-04-06 10:34] Pisey-Nguon opened #8799 "How to download video hls with different quality without use DownloadHelper?"

[2021-04-06 11:52] marcbaechinger commented on #8797
Like you expect this should store data on the disk and then when the player wants to load the same URI again it should read from disk. This should work accross app launches.

I'm pretty sure this is working as intended as the `CacheDataSource` is around since a while. If you don't specify a custom cache key, the uri is used as the key. So in case the URI changes between these app launches that wou

[2021-04-06 15:15] ojw28 commented on #8793
If you want to file a bug report, please properly fill in the issue template (which you would have deleted when filing in this issue). There's insufficient information provided here for us to even understand the problem.

[2021-04-06 15:19] ojw28 commented on #8792
Downloading live streams is tracked by https://github.com/google/ExoPlayer/issues/3877. Until we have time to support that directly in the library, I don't think we have any further solutions or ideas to offer here. Hence I'll go ahead and close this as a duplicate.

[2021-04-06 15:19] #8792 closed, assigned to ojw28

[2021-04-06 15:20] christosts commented on #8560
Thank you for providing the logs. Long message to follow.

On a high-level:
- 4K_HLS_frame_render.log: release timestamps seem to be as intended
- FHD_HLS_frame_render.log: the release timestamps show that the player is playing at 1x
- 4K_HLS_No_Forced_Speed_frame_render.log: the release timestamps show that the player is playing at 1x

In more detail: As I explained [above](https://github.com/goo

[2021-04-06 15:22] ojw28 commented on #8790
This is almost certainly an issue with your application code, since `CastPlayer` doesn't contain any functionality that would allow it to play audio on the local device. Most likely your application is accidentally configuring another player, in addition to the `CastPlayer`, which is what's playing the sound locally.

There is insufficient information here for us to provide further guidance. If yo

[2021-04-06 15:24] icbaker commented on #8791
It sounds like you want the [`OfflineLicenseHelper`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/OfflineLicenseHelper.html).

This is used by the demo app `WidevineOfflineLicenseFetchTask` you mentioned - but you can integrate it differently and pass the license (key server) URL however you like.

Possibly your media isn't prepared correctly? Hard to say without access to

[2021-04-06 15:26] ojw28 commented on #8795
I think this is already exposed via:

https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.Builder.html#setAdEventListener(com.google.ads.interactivemedia.v3.api.AdEvent.AdEventListener)

For example:

[code]

[2021-04-06 15:26] #8795 closed, assigned to ojw28

[2021-04-06 15:34] ojw28 commented on #8788
It's unclear exactly what your question is, but if you want to restrict `DownloadManager` to downloading one item at a time then you can call `DownloadManager.setMaxParallelDownloads(1)`.

[2021-04-06 15:34] #8788 closed, assigned to ojw28

[2021-04-06 15:38] im244 commented on #3877
Hey, is there any progress regarding this feature? timeline?

[2021-04-06 15:38] ojw28 commented on #8799
As with your other issues, it's unclear what your question is here. `DownloadHelper` is specifically for this purpose, so if you want to do this, why would you not use the class that's intended for this purpose? If you want to use something else, you'll need to replicate the same logic that `DownloadHelper` implements yourself. You can look at the source code to see exactly what it's doing interna

[2021-04-06 15:38] #8799 closed, assigned to ojw28

[2021-04-06 15:40] #8763 closed, assigned to ojw28

[2021-04-06 15:41] ojw28 commented on #8787
Closing as a duplicate of https://github.com/google/ExoPlayer/issues/3480.

[2021-04-06 15:41] #8787 closed, assigned to ojw28

[2021-04-06 16:05] ALexanderLonsky commented on #8797
@marcbaechinger thank you for the comprehensive answer!
thanks to your clarification I've realized that our URI indeed has one param that may be changed and I've caught this only by playing more around it.

[2021-04-06 16:05] #8797 closed, assigned to marcbaechinger

[2021-04-06 16:09] ojw28 commented on #8789
I'm not convinced this is related to invalid packets. I think it's related to [this troubleshooting issue](https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play). Using the flags as per that troubleshooting entry was sufficient to get the stream working for me.

[code]

[2021-04-06 16:27] ojw28 commented on #8794
The server is responding with an [HTTP 403](https://en.wikipedia.org/wiki/HTTP_403). It's not possible for us to assist you further unless you properly fill out the issue template. Note also that this may well be a server-side issue.

[2021-04-06 18:34] olgunkaya commented on #8791
@icbaker, thanks for the info and reply. Following this post, I kept looking at the media and finally realized that even the API response, I am working with, claims there is encryption, there was not. so I think this post would be considered to be completed. I checked correct manifests and see the <ContentProtection> tags with different DRM entries.

[code]

[2021-04-06 18:34] #8791 closed, assigned to icbaker

[2021-04-06 22:01] olgunkaya opened #8800 "Single Video Track Selection"
Hi,

I am currently on Exo player version 2.11.4 where one of my dependent library (I have no control over this library) and trying to implement download and play. I could not see a way to download only one track on this version. I mean the only method in ParametersBuilder is setMaxVideoSize there is no setMinVideoSize (on my version). So that, If I understand correct, setting a max video size mea

[2021-04-07 02:34] nishantkp commented on #8456
I agree with @hyl0376, if it is possible to do a minor release, it would be great since is May is too late.

[2021-04-07 06:28] zevv opened #8801 "Leaking memory through ashmem gralloc-buffers under android emulator"
When repeatedly starting and stopping video assets in the Exoplayer demo, the com.google.android.exoplayer2.demo process seems to leak memory and ashmem file descriptors. The issue can best be reproduced like this:

- Start exoplayer
- Start a video
- grep gralloc /proc/<pid>/maps
- Back to menu, start another video
- grep gralloc /proc/<pid>/maps

After each video, three additional fd's will have

[2021-04-07 06:45] pvishnyakov commented on #8560
`Are you certain you collected this log while playing content at 1.03x, hard-coded here? `
The speed was set in the ExoPlayerImplInternal.java, exactly in the place you’ve recommended, using this code
[code]
First 2 logs (4K_HLS_frame_render and FHD_HLS_frame_render) were recorded with
[code]
Last log (4K_HLS_No_Forced_Speed_frame_render) was recorded with
[code]

`Did you add a log line as I desc

[2021-04-07 07:20] laruedavid commented on #8781
Hi, thanks for your response. Unfortunately I'm not able to provide a sample stream for now.
Have you possibility to do differently or is it blocking for the feature ?

[2021-04-07 08:22] icbaker commented on #8456
If you need this change more urgently than the next ExoPlayer release you can depend on a local copy of the library: https://github.com/google/ExoPlayer/blob/dev-v2/README.md#locally

Then you can either use the dev-v2 branch at tip-of-tree, or create your own local branch that cherrypicks the commit above on top of 2.13.2.

[2021-04-07 08:32] ojw28 commented on #8801
This sounds like an emulator issue, rather than an issue with ExoPlayer. It may well have the same root cause as [this issue](https://issuetracker.google.com/142528714), which is an emulator memory leak that we've already reported. As per that issue, it may be fixed for API level 29+.

I'd suggest following that issue. If you believe it to be a different issue, then you should file it [here](https

[2021-04-07 08:32] #8801 closed, assigned to ojw28

[2021-04-07 08:48] YiBeeM commented on #6168
@CaptainHuangsh 你好 不用单利，问题解决了吗？

[2021-04-07 09:12] pvishnyakov commented on #8560
Hi.

After I’ve checked some other streams I’ve found that the problem happens only with some specific streams, not with any 4K HLS live stream.

This is modified video source file from demo app: see my email

The issue is observed on first 3 streams (the first one - Love Nature 4K - is the most visible), others in my HLS collection are playing smooth. To check first 3 streams please try to modify

[2021-04-07 09:13] pvishnyakov commented on #8560
I have sent the stream sources to email, please check

[2021-04-07 16:02] karathb commented on #8774
Did you have a chance to have a look at it @christosts ? Any idea? Thanks in advance!

[2021-04-07 18:08] condesales commented on #7983
I'm currently observing the same issue on 2.12.1

I have a custom controls view that extends from the default `PlayerControlView`.
The controls view then receives a reference for the player via
[code]
Where the `player` instance can vary between `SimpleExoPlayer` and `CastPlayer`
For SimpleExoplayer the controls work fine for either VOD or LIVE but when using the CastPlayer it only works as expect

[2021-04-07 18:16] condesales commented on #7983
I also believe #7166 is related to this one

[2021-04-07 20:33] paulocoutinhox opened #8802 "ExoPlayer is not showing after third item"
Hi,

After scroll to third item it stop render and a black space is in video area, and when i go back to first it stop render for all.

Until first/second item it work when recycler view and adapter is created, but after third it stop render.

I search a lot for same problem, but cannot find one solution.

Can anyone help me?

This is my class.

[code]

Some log:

[code]

[2021-04-07 20:38] paulocoutinhox commented on #8802
Hi,

I made a simple video showing the problem:
https://www.dropbox.com/s/2kfyigh8m56q9tr/android-error-exoplayer.mp4?dl=1

Thanks.

[2021-04-07 21:00] paulocoutinhox commented on #8802
Checking here i see that problem start when i put `videoPlayer` as an attribute:

[code]

And when cell is created i made:

[code]

And when cell is recycled i do:

[code]

But before to create the video player i don't check if it is null and create one player everytime:

[code]

And this problem start happen.

[2021-04-07 21:02] Pavel-Polyakov commented on #8789
Thank you! With fix which you offered the stream works fine

[2021-04-07 21:02] #8789 closed, assigned to ojw28

[2021-04-07 21:20] marcbaechinger commented on #8802
I think your code needs to make sure to not create too many ExoPlayer instances at once. A device has a finite  number of hardware codec instances it can create. The approach with `onViewRecycled` lacks that control because you can not know how many instances of a view the framework creates. The easiest way to control this is to use a single player only. A more advanced approach would be to create

[2021-04-08 01:04] #8698 closed, assigned to tonihei

[2021-04-08 01:04] #8650 closed, assigned to christosts

[2021-04-08 01:04] #8643 closed, assigned to krocard

[2021-04-08 01:57] paulocoutinhox commented on #8802
1 - But it is exactly what my code do. Inside the adapter has only one attribute for "SimpleExoPlayer". The problem is when i scroll to bottom and go up again it stop render.

2 - You mean global instance like Application class instead of an attribute inside the adapter?

[2021-04-08 02:20] CamiloVega commented on #8755
@icbaker I am having the same issue
the way we are declaring the Player is
[code]
the way we parse our MediaItems is
[code]

our Player is
[code]
I have debugged and it seems like the text track is missing, I looked at the MediaItem and I can see the subtitles field populated, and I can guarantee that the VTT file url exist. but looking at the network traffic, it hits the videoFile url, but never

[2021-04-08 05:40] KazukiSugiyama107 commented on #8691
You have sent a link to the test APK and replication procedure to the specified address.
Please let me know if you have any questions.

[2021-04-08 05:59] mik0git commented on #8639
Thanks to @anthonylawson and @marcbaechinger recommandations we managed to arrange a cleaner Thread management in our code, we also downgraded our version of Bitmovin library.
So everything looks good from 7-days KPI post roll-out.

[2021-04-08 06:25] vrayv opened #8803 "Movie black bars are gray on Sony bravia in hdr mode"
On sony bravia android TV's the movie top and bottom black bars are gray when tv is switched to hdr mode.

Interesting fact is that black pixels are correctly displayed on the movie itself.

It seems the proposed solutions for many other players is to create transparent background on the black bar layer.

For example here:
https://github.com/xbmc/xbmc/issues/14865

Problem with exoplayer is that b

[2021-04-08 08:16] marcbaechinger commented on #8802
You are setting the media source and prepare the player in `configureVideoView` which is called in `onBindViewHolder`. So when you scroll down this nicely is called for every view once. When you scroll down, that nicely works because every view has to be added once. But when you scroll up, the view is probably still attached to the recyclerview and the `onBindViewHolder` is not called again.

I th

[2021-04-08 08:36] icbaker commented on #8755
@CamiloVega Your issue isn't the same as my guess at the root cause of the original issue, because you're using `SELECTION_FLAG_DEFAULT`. Does your issue reproduce in the [demo app](https://exoplayer.dev/demo-application.html)? If so please file a new issue, filling in the template as fully as you can, including the media we can use to reproduce the problem. Without the media it's extremely unlike

[2021-04-08 09:10] olgunkaya commented on #8800
I think I figured it out. Thanks to the guys from the [react-native-video ](https://github.com/react-native-video/react-native-video)
Basically, I re-used this code portion
`DefaultTrackSelector.Parameters selectionParameters = trackSelector.getParameters()
                .buildUpon()
                .setRendererDisabled(rendererIndex, false)
                .setSelectionOverride(rendererIndex, g

[2021-04-08 09:10] #8800 closed, assigned to ojw28

[2021-04-08 09:54] AquilesCanta commented on #7983
@condesales The fix for this was introduced in 2.12.2, so you'll have to update to pick it up. Closing.

See:
https://github.com/google/ExoPlayer/blob/r2.12.2/extensions/cast/src/main/java/com/google/android/exoplayer2/ext/cast/CastUtils.java.

[2021-04-08 09:54] #7983 closed, assigned to AquilesCanta

[2021-04-08 13:09] marcbaechinger commented on #8639
@soldierinwhite  Please let me know whether this solves the issue for you as well.

[2021-04-08 13:09] okycelt commented on #8031
Did you guys have a chance to take a look? Thanks

[2021-04-08 13:17] soldierinwhite commented on #8639
@marcbaechinger
We are actually doing a rollback of exoplayer version as a hotfix right now, since upgrading the library was directly related to the crash happening, but good to know what the underlying issue is. We are rewriting our exoplayer integration from top to bottom right now in another branch so will keep this in mind.

Will check our logs for "Player is accessed on the wrong thread"

Any

[2021-04-08 13:33] marcbaechinger commented on #8639
I don't know. Generally, if the player is accessed on multiple threads it can cause issues in some cases like a race condition. That's not deterministic. If it was you would see this problem more often than 0.5% of your users.

What is the version you are rolling back to? onMediaItemTransitioned was introduced with 2.12.0. So if you were using an older version, the reason is that this code did not

[2021-04-08 13:38] soldierinwhite commented on #8639
We are going back to 2.10.6, which was the last version we had before it crashed. But that's great info, now we can do a proper fix while the hotfix takes care of user needs for the time being.

[2021-04-08 13:38] #8639 closed, assigned to marcbaechinger

[2021-04-08 16:28] zgzong opened #8804 "SegmentBase calculate segment count in accurate."
When play or download a number-based VoD stream, player report the last segment is missing.

The stream information:
mediaPresentationDuration="PT2931.820S"
<SegmentTemplate timescale="90000" initialization="$RepresentationID$-init.m4s" media="$RepresentationID$-181400-i-$Number$.m4s" startNumber="1" duration="179989" presentationTimeOffset="3600"/>

- ExoPlayer version number
2.13.1

- Android ve

[2021-04-08 16:48] ghost commented on #8790
https://play.google.com/store/apps/details?id=player.radiohost.pl
My app is published on google play store, you can check Chromecast on app
I don't know what is issues on there.
There are two play, local player and cast player, but it's different player each other

[2021-04-08 16:52] ghost commented on #8790
It's CastPlayerManager.java code ..

`package player.radiohost.pl.player.cast;

import android.content.Context;

import com.google.android.exoplayer2.C;
import com.google.android.exoplayer2.MediaItem;
import com.google.android.exoplayer2.MediaMetadata;
import com.google.android.exoplayer2.Player;
import com.google.android.exoplayer2.Player.EventListener;
import com.google.android.exoplayer2.ext.ca

[2021-04-08 22:09] ojw28 commented on #8790
There's not much we can do with the information provided above. If you believe this to be an ExoPlayer issue, please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally. This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject

[2021-04-09 02:15] arlimm318 opened #8805 "Play after static frame about 1 second"
Some video play after static frame about 1 second .
the smaple video file is
https://1drv.ms/u/s!AmEXoF8AZryCdkmU-ujO1J2ZMF8?e=XkYDWe

 I analyzed the ts, Each I frame has two PPS. I'm not sure if that's what caused it.
exo version: 2.11.7
device  : Android 4.4

[2021-04-09 09:17] gb103 commented on #8713
@andrewlewis It happened 34K times in a period of 30 days and it almost causes 40% of total ANR affected sessions. Most affect android OS is android 11.

[2021-04-09 12:21] Jenjen1324 commented on #8218
@marcbaechinger yep, that would be the ideal solution. Pretty similar to what were doing via the tag at the moment.

[2021-04-09 15:58] christosts commented on #8560
Hi,

Thank you for sending the content. I tested the streams on a few mobile devices, a ChromeCast and an Android TV. Only the TV showed the stuttering, but this TV is stuttering on all kinds of content. All other devices played content smoothly on different playback speeds.

Considering that overriding the playback adjustment on your app seems to solve the problem, I'd say you use that. From the

[2021-04-09 15:59] andrewlewis commented on #8713
Does your crash reporting tool provide any other trace or diagnostic information that might help diagnose the root cause?

[2021-04-09 16:32] #8560 closed, assigned to christosts

[2021-04-09 16:55] christosts commented on #8774
If that's the case, I don't think this can be related to LoadControl or the pull-down algorithm. There have been some changes in the pull-down algorithm, but those were added in 2.13, including a call to set the [surface frame rate](https://github.com/google/ExoPlayer/blob/r2.13.2/library/core/src/main/java/com/google/android/exoplayer2/video/VideoFrameReleaseHelper.java#L389) which is available o

[2021-04-09 20:24] ojw28 commented on #8804
Thanks for reporting this. The problem with:
[code]
is that `durationUs` is rounded down to the nearest microsecond. We can avoid any loss of precision by doing the calculation like this instead:
[code]

[2021-04-09 20:50] ojw28 commented on #8803
I'm not sure this is correct. The `SurfaceView` will always be completely filled with the movie content. The movie may have black bars "burnt in" to the video stream itself, but in that case I'd expect them to be rendered properly based on:

ExoPlayer's UI components size the `SurfaceView` to be the correct aspect ratio (i.e., it does not occupy the full `StyledPlayerView`/`PlayerView`, unless the

[2021-04-09 20:52] ojw28 commented on #8786
Duplicate of https://github.com/google/ExoPlayer/issues/6166

[2021-04-09 20:52] #8786 closed, assigned to ojw28

[2021-04-09 21:23] ojw28 commented on #8805
Behaviour seems to be device dependent. It plays successfully on a Galaxy S20. The video decoder fails on a Pixel 4. It sounds like you are seeing something different on the device you're testing with.

It seems likely that the video bitstream is malformed. Playing this stream in VLC gives quite a lot of "waiting for SPS/PPS" warnings, although I'm not sure if that's necessarily relevant. The firs

[2021-04-09 21:25] ojw28 commented on #8798
There's nothing we can really help with here, given so little information. If you wish to file a bug about this, please fill out the [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=) completely in order to provide the information that's necessary for us to help.

[2021-04-09 21:25] #8798 closed, assigned to ojw28

[2021-04-09 22:28] #8783 closed, assigned to ojw28

[2021-04-10 00:27] KingAlawaka commented on #8473
I am also getting this error. I use fire store videos to play in my application. Some of the videos playing fine and some are getting this error. Any Idea about how to fix this error?

[2021-04-10 00:48] paulocoutinhox commented on #8802
Bah..

After search a lot i decided to make one project isolated to understand all steps and share with community. We have a lot of questions about this, but without a good example.

So this is the best thing that i can do about this:
https://github.com/paulo-coutinho/rvplayer

I will use it as reference.

I make basically what i do here that is multiple view holders type.

Two things that i can s

[2021-04-10 01:48] NanyangTaiji opened #8806 "After updated to the newest version, links starting with "http" can not be played:"http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4""
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-04-10 01:50] NanyangTaiji commented on #8754
Same issue for me, in fact, links starting with "http" are not playable.

[2021-04-10 07:45] vrayv commented on #8803
I investigated further following your advice and realized that black bars are android main window background (exoplayer does not draw the bars).

By changing the color of the window background the bars colors are changed. Problem is that both color black or color transparent on the background window does not solve this issue.

This seems as android implementation issue on sony bravia tv's where an

[2021-04-10 09:12] paulocoutinhox commented on #8802
After more than 24h coding and testing/profiling the application i finally have a more complex example with multiple players and very fast recyclerview with multiple items.

Only need two things now:

1. When i use default video controllers it is flickering or use any animation on mute control, for example. Video showing the problem:

https://user-images.githubusercontent.com/395096/114264846-b9cf

[2021-04-10 09:56] vrayv commented on #8803
Ok, it seems I managed to resolve the issue.

Its important to make main layout transparent and force android:windowBackground on the theme transparent.

Something like:

[code]

Assign the theme properly in the AndroidManifest.XML.

On the creation of the main window:

dialog.getWindow().setBackgroundDrawable(new ColorDrawable(Color.TRANSPARENT));

This makes all background transparent and give n

[2021-04-10 16:38] sruditsky opened #8807 ""Vicious" cycle of downloading the same segment lots of times after sudden improvement of network conditions"
We use ExoPlayer 2.12.3

In one of the tests we play a (DASH) media stream on a high throughput network, then we throttle the network to the level which causes the player buffer to be gradually depleted.
Shortly after the buffer gets empty we restore network to the normal (i.e. high throughput) conditions and let the player play.

The _expected_ result (of the last step in the sequence above) woul

[2021-04-10 19:13] shadowor1982a opened #8808 "video freeze about 8 seconds at the beginning"
**Issue description:**
Video plays after static frame about 8 seconds, and Audio plays well all the time. The sample video file plays well by Android browser app and android.widget.VideoView .

**Smaple video file:**
http://81.70.232.219/uploads/material_upload/video/2021/material_1613878758.6868_2.21%20%E5%A4%96%E6%95%99%E8%A7%86%E9%A2%91%20Wash%20Hands%20Step2%20Narrative%20-%20Screen.mp4

**Ver

[2021-04-11 00:21] KingAlawaka commented on #8473
I was able to fix my error. It was kind of strange but make sense.
In my application, I am developing a video application like TikTok and lots of videos are playing and loading.
Currently, my testing app has 33 videos and it starts to show this error. I just limit the video limit to 10 and everything works fine.
Since my application is mainly videos, once I got the videos from firestore, I initial

[2021-04-11 06:09] sruditsky commented on #8807
I realized this issue can be avoided by constructing AdaptiveTrackSelection with sufficiently high value for minDurationToRetainAfterDiscardMs.
However, I would still say that what is described above is a bug.

[2021-04-12 01:04] #8709 closed, assigned to tonihei

[2021-04-12 01:04] #8586 closed, assigned to christosts

[2021-04-12 01:19] onetwobin opened #8809 "Does exoplayer can play (support ) the 8k 360 degree video?"
Does exoplayer can play the 8k 360 degree video?

What kind of android device is required?

thank you !

[2021-04-12 03:31] ghost commented on #8790
I sent source code to dev.exoplayer@gmail.com

[2021-04-12 07:14] andrewlewis commented on #8754
The issue may be that cleartext traffic is not permitted. See [these instructions](https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors).

[2021-04-12 07:17] andrewlewis commented on #8806
Replied to your comment on the other issue: https://github.com/google/ExoPlayer/issues/8754#issuecomment-817551177.

[2021-04-12 07:17] #8806 closed, assigned to andrewlewis

[2021-04-12 08:29] icbaker commented on #8781
We can add the support without a test stream.

[2021-04-12 09:42] chladto1 opened #8810 "Avoid short buffering at skipped midrolls"
We modified _ImaAdsLoader_ to support feature we called _Smart seek_. It means, ads will not start when another ad was played within defined amount of time. In other words, timeline has 5 ad breaks, when you seek between first and second one, IMA will start playing first ad break. Immediately after the end of the ad you seek between second and third one, but at this time, ad will start because med

[2021-04-12 13:02] laruedavid commented on #8781
Do you have any idea of when this feature could be added ?

[2021-04-12 15:07] sam-m3 commented on #8751
Hello, sorry for the late response.

I tried to take a bug report from my box, because the device couldn't be connected to my PC, so that I cannot even USB debug my app or take a bug report from my box.

Recently, I faced the same problem with my emulator, the H.264 videos work fine, but the H.265 videos have many dropped frames; So I took a bug report from my emulator.

And the link I sent to you

[2021-04-12 15:33] shekibobo commented on #5246
Jcenter is trial running the shutdown on today (12 April 2021) and 26 April 2021 to raise awareness. Are there any updates on publishing to google's maven repo? The commit is there with instructions, but the library does not exist yet.

[2021-04-12 15:38] andrewlewis commented on #5246
@shekibobo Is jcenter artifact serving included in the planned brown-outs? I thought that applied only to other services.

We are ready to try use maven.google.com for our next release.

[2021-04-12 15:42] shekibobo commented on #5246
I don't know if it's planned exactly, but it's happening to us today and I don't really have a workaround.

[2021-04-12 15:43] AquilesCanta commented on #8807
@tonihei, the reporter describes this as an ABR issue. Can you take a look?

[2021-04-12 15:44] AquilesCanta commented on #8807
@sruditsky Might be useful to provide the content with which you are reproducing the issue. It could help efficient diagnosing on our side.

[2021-04-12 15:49] paulocoutinhox commented on #8802
Hi @marcbaechinger,

Can you help me with this?

[2021-04-12 15:52] maxirosson commented on #5246
Don't worry guys, we have more time.

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-04-12 15:56] shekibobo commented on #5246
@maxirosson Yes, but today and on the 26th, it looks like people are going to have a problem building using their CI pipelines unless they come up with a workaround. Which yeah, it'll all start working again tomorrow, most likely, but it's blocking a lot of productivity today. They're doing this as a warning, likely so that people depending on these repos will contact library publishers about the

[2021-04-12 16:18] marcbaechinger commented on #8802
Sorry, but I can not give you 1:1 support on a large code sample, specifically if it's about a complex topic like the `RecyclerView`.
You may want to look into #867 which is an open issue where different people added their insight around creating a `RecyclerView` with playing videos.

Regarding the flickering it may be worth to try this with a `TextureView` instead of a `SurfaceView`. This is a gu

[2021-04-12 16:26] marcbaechinger commented on #8785
Sorry for my late response.

Yes, if I understand correctly you want to have `StreamKeys (0, 1, 0) and (0, 1, 1)` to enabled all audio tracks on period 0 (first argument) with type 1 (type audio).

Can you elaborate why this is an issue when you try to build up this from the methods you were describing? I'd expect that you just want to take all the tracks for type audio, but I'm not sure whether I

[2021-04-12 16:42] ojw28 commented on #5246
What are you basing this on? According to JFrog, the service brown-outs scheduled for today and the 26th only affect the services that are going away on May 1st. Serving of artefacts from JCenter is not going away on May 1st, so should not be subject to these brown-outs.

[2021-04-12 17:21] paulocoutinhox commented on #8802
I understand. Only left this to be perfect.

Anyway it is already with texture_view:
https://github.com/paulo-coutinho/rvplayer/blob/master/app/src/main/res/layout/rvp_video_player.xml#L16

[2021-04-12 18:03] #8803 closed, assigned to ojw28

[2021-04-12 18:08] shekibobo commented on #5246
Looks like that was a misunderstanding on my part. We had several dependencies failing that were hosted on bintray, but under account-specific repositories. Looks like those are going away soon, then, but I hadn't dug deep enough, and just removed all of jcenter as well as those other repositories. Looks like Jcenter *is* still working, just not account specific repos. Sorry to interrupt. Carry on

[2021-04-12 18:17] ojw28 commented on #8790
As above, we need a **minimal** reproducible example. It's not the job of this issue tracker for us to debug your entire application.

[2021-04-12 18:27] greyski opened #8811 "SIGABRT libstagefright MuxOMX freeNode (OS 7, Samsung devices)"
Android OS 7.0
Device: Samsung S6 Edge+, Galaxy Note5, Galaxy S6, Galaxy S6 Active
ExoPlayer: 2.13.2 & 2.12.3

[code]

Unfortunately, we have not been able to reproduce this locally, and I had trouble finding this exact issue mentioned in the repo.

We're seeing this happen when videos are autoplaying on-screen (via breadcrumbs, again cannot reproduce locally). I could provide our entire ExoPlayer

[2021-04-12 22:32] raphaelbgr commented on #6168
Seems that even using a separate player instance you MUST call release() in every instance when not using it. Solved the same problem using that way.

[2021-04-12 23:49] olgunkaya opened #8813 "Generating Relation Between Offline License and Downloaded Content"
Hi,

I am trying to understand how to create the downloaded license's keySetId and downloaded track. Normally If I am on the latest release that's not an issue. Because we can create a relation between keySetId and download request during the request generation. But since I am on 2.11.4 (due to some other dependencies in the project) I can not find a way to create the relation.

Should I save the

[2021-04-13 00:05] greyski commented on #8811
Potentially related? https://github.com/google/ExoPlayer/issues/6168

However, this issue does not cause a crash, but instead ExoPlayer fails during playback and cannot recover the stream.

[2021-04-13 00:15] NanyangTaiji commented on #8754
It is no the issue, the App works fine before upgrding. It was declared in Application: android:usesCleartextTraffic="true" already.

[2021-04-13 03:41] paulocoutinhox commented on #8802
Hi @marcbaechinger,

I really want only thing pls:

[code]

I solve all other problems, only left this one to be perfect.

And i understand that you have no obligation.

Project page:
https://github.com/paulo-coutinho/rvplayer

[2021-04-13 03:43] paulocoutinhox commented on #867
Hi guys,

I really want only thing pls:

[code]

I solve all other problems, only left this one to be perfect.

And i understand that no one here have any obligation.

Project page:
https://github.com/paulo-coutinho/rvplayer

[2021-04-13 04:29] sruditsky commented on #8807
@AquilesCanta We reproduce this issue with a proprietary content which I am not allowed to provide, however, to my best understanding this issue can be reproduces with any content containing video of both SD and HD resolution.

As I mentioned above the problem in our case happened because we passed to AdaptiveTrackSelection.Factory() value for minDurationToRetainAfterDiscardMs which was lower than

[2021-04-13 08:38] tonihei commented on #8807
Should this be considered a valid configuration?
From reading documentation it is difficult to conclude if any specific relationship between these two parameters should be maintained.
If such requirement does exist it would be nice to prevent creation of AdaptiveTrackSelection with erroneous set of parameters.

I agree with that. The class clearly assumes that `minDurationToRetainAfterDiscardMs` i

[2021-04-13 08:43] rrfrias commented on #8037
@nishantkp, both Samsung and i ran into failures due to an invalid license response from the license service. This prevents us from investigating furthur. Can you check and share an apk?

[2021-04-13 10:06] karathb commented on #8774
Thanks for your feedback! I will see if I can do a test with the demo app or not, but I am not too optimistic about this. I will get back to you.

Just let me know if you could check if there is any nasty platform API usage that can result in this.

[2021-04-13 11:06] ojw28 commented on #8813
`DownloadRequest.data` is available in 2.11.4, and can be used to hold arbitrary application defined data. So you can use that. Note that if you're serializing multiple pieces of data into that field, it's your responsibility to handle versioning and compatibility of the data across different versions of your application.

As you've noted, you can also persist the mapping with your own application

[2021-04-13 11:06] #8813 closed, assigned to ojw28

[2021-04-13 11:25] AquilesCanta commented on #8808
Hey @kim-vde, would you mind taking a look at this?

Note that using VLC to play this, the first 10 seconds seem corrupted, which seems to suggest media could be malformed. I haven't tried playing on MediaPlayer, though. If MediaPlayer is able to play the file, it might make sense putting some time into diagnosing this. What do you think?

[2021-04-13 11:29] AquilesCanta commented on #8809
Assuming the device is capable of decoding (and I guess also gl-rendering) 8K streams. ExoPlayer shouldn't be a limiting factor.

I would start with a device that advertises 8K support.

Assigning to @andrewlewis in the context of vr.

[2021-04-13 11:34] AquilesCanta commented on #8810
Hi @chladto1, I don't think we can allocate resources to help debugging app customizations. @tonihei do you see any way forward to efficiently assist with this?

[2021-04-13 11:40] AquilesCanta commented on #8811
Is this issue Samsung specific? Have you seen occurrences in other devices? Pixel, for instance?

If this is an issue which is specific to Samsung, there's nothing we can do on our side. We don't even have enough info for reasonably report this, so I would advise you try gathering some more info: A bug report and a minimal sample APK would be good starting points. You could attempt to contact the

[2021-04-13 12:17] andrewlewis commented on #8809
I don't really have anything vr-specific to add to @AquilesCanta's points above. The limitation comes from the capabilities of the decoders or graphics system and you'll need to do your own research to find out about device capabilities.

For what it's worth I'd start by searching for references to devices that appear to support 8K capture on the web (devices that can capture 8K will almost certai

[2021-04-13 12:17] #8809 closed, assigned to andrewlewis

[2021-04-13 12:50] soutua commented on #8037
We are also seeing something similar on Pixel 4a with Android 11 when playing live streams with DASH + Widevine DRM:

`I/CCodecBufferChannel: [c2.qti.avc.decoder.secure#906] decrypt failed: result=-2147483648
W/MediaCodec: Log queueSecureInputBuffer error: -2147483648
E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, in

[2021-04-13 13:07] nishantkp commented on #8037
@rrfrias can you try VPN to Canada?

[2021-04-13 14:21] olgunkaya commented on #8813
Thanks @ojw28, I was using that field to hold metadata like title etc.. But, now I will add my piece of keySetId array there too.

[2021-04-13 14:26] zgzong commented on #8804
@ojw28 Thanks for your confirmation. The proposal works as ceilDivide will truncate the result only keep the integer part.

[2021-04-13 14:29] ojw28 commented on #8804
We are a little concerned about the possibility of overflow of `periodDurationUs * timescale`, so will give this a bit more thought before submitting a fix.

[2021-04-13 16:02] shadowor1982a commented on #8808
@AquilesCanta Thanks for your diagnosing. I find both Chrome on Android and android.widget.VideoView control are able to play the file smoothly. The frame rate of the video is 13.54.  Maybe there is something wrong when handling low frame rate case.

[code]

[2021-04-13 18:16] ghost commented on #8790
My app is very short
You can run without any action, and then will see bottom cast button
I think it's minimal product.

[2021-04-13 21:50] greyski commented on #8811
This is 100% Samsung specific to OS 7.0.

I was hoping something in the trace would look familiar to someone here. I can work on getting an official bug report, not too sure about a sample APK.

Our evidence of it being related to ExoPlayer is our breadcrumbs showing that 100% of these native crashes occur during a video playback session (we don't fork/or implement anything outside of the ExoPlaye

[2021-04-14 08:40] Rulemylife commented on #8623
I meet a same issue, but my device is not offline, still play a vast ad before the video. And sometimes, no log , no ad event , no player call back

[2021-04-14 10:23] AquilesCanta commented on #8811
I will rephrase as "Is there any evidence of this being a bug in the ExoPlayer codebase (as opposed to a device issue, for example)?"

Being samsung specific, there's not much we can do except maybe report. But for that I don't think the stacktrace will be enough. I suggest you report directly to Samsung, since they might be able to better follow up on the report. If you find anything pointing at

[2021-04-14 10:23] #8811 closed, assigned to AquilesCanta

[2021-04-14 10:40] custadian opened #8815 "Any way to pass/modify the headers of the chunk request"
Is there any way to pass the headers on every ts/m4s segment ?

I know that I can pass the headers using `setDefaultRequestProperties` on `OkHttpDataSource.Factory` or `DefaultHttpDataSource.Factory()` but it is one time. Is there any way to pass the headers on the fly ?

One more question, in case, if I write my own `DefaultHttpDataSource` by extending it to `BaseDataSource` then also is there an

[2021-04-14 10:43] tonihei commented on #8810
As @AquilesCanta already pointed out, we can't really help you debug custom solutions in detail.

Updating `AdPlaybackState` causes the player to reevaluate its internal playback queue. In some cases, this means we need to reset the current rendering and cause a short buffering state. I'm not sure if that's what's causing your buffering, but it seems likely. For example, if the player is currently

[2021-04-14 10:55] AquilesCanta commented on #8815
This shouldn't be the case. The default request properties should apply to all HTTP requests performed by that DataSource. Are you injecting your customized DataSourceFactory to the MediaSource? Please share a **small** snippet of what you've tried.

No, you cannot change the data source during playback. Setting the data source factory happens at construction. Please clarify what you are trying to

[2021-04-14 12:34] custadian commented on #8815
Right @AquilesCanta. I am setting request properties using `setDefaultRequestProperties`. Passing the headers. Yes it is getting applied on all HTTP requests performed by DataSource.

I have passed the headers using `setDefaultRequestProperties` on `DefaultHttpDataSource`. I am looking for a solution where I can modify the headers on the fly (during the playback). You can assume a case that a toke

[2021-04-14 13:15] abthescore opened #8817 "How to decrease the start time for a 2 second video"
Exoplayer version: 2.13.2
**Description:** I am trying to play a 2-sec mp4 video which is shown as part of our splash screen. I have been able to download the video using `DownloadManager` and able to play it locally. The video duration is ~ 2000ms and the time window to show this video is also ~2000 ms(as this is part of the app launch, this 2000ms is fixed time window). When we prepare the video

[2021-04-14 13:44] chladto1 commented on #8810
Ads are marked as skipped (Exo) and `getContentVideoProgressUpdate()` is returning `VIDEO_TIME_NOT_READY` as content position (IMA). When conditions are met, skipped ads are replaced by new `AdPlaybackState.AdGroup` and real content position is provided to IMA.

In the test content above, `getContentVideoProgressUpdate()` returns `VIDEO_TIME_NOT_READY` for 20 seconds before ads position (IMA) and

[2021-04-14 16:15] tonihei commented on #8810
There are probably some internal assumptions about "allowed" changes, for example that an ad group that was "skipped" can't suddenly become available for playback again. This may still work, but our internal code wasn't written under such assumptions and may not work correctly in all cases if you that.

I'm not sure why you need to fake the video progress update. Marking the ad break as skipped sh

[2021-04-14 17:08] kim-vde commented on #8808
This is a duplicate of #1659.

The video track contains an edit list which requires the video to start at a frame which is not a key frame. As a result, ExoPlayer drops the subsequent frames until it finds a key frame and the video starts late.

[2021-04-14 17:14] #8762 closed, assigned to kim-vde

[2021-04-14 17:26] icbaker commented on #8781
This is included in the 2.13.3 release that was just published.

[2021-04-14 17:26] #8781 closed, assigned to icbaker

[2021-04-14 17:27] #8657 closed, assigned to icbaker

[2021-04-14 17:28] icbaker commented on #8456
This fix is included in the 2.13.3 release that was just published.

[2021-04-14 17:39] AquilesCanta commented on #8815
In that case you should implement a custom factory which will return a DataSource implementation that wraps one of the base implementations but when `DataSource.open` is called, it adds the required request headers to the received `dataSpec`.

So your DataSource.open implementation will look something like:
[code]
Does this work for you?

[2021-04-14 18:03] nishantkp commented on #8456
Thank you so much @icbaker

[2021-04-14 18:24] AquilesCanta commented on #8817
This doesn't sound possible. ExoPlayer should play all video frames regardless of the start up latency. Can you clarify this sentence?

In the demo app, the playback start time for the given file once downloaded is ~250ms, when running on a Pixel 3a, without any customizations.

- Just as a test, can you preload the file to memory and use a ByteArrayDataSource to see how long it takes to start pla

[2021-04-14 18:32] chladto1 commented on #8810
Because of IMA. If I send the real position, IMA start preloading ads and they will be timeouted, because Exo didn't start playing them.

Sorry, buffering will occur when is called `AdTagLoader.updateAdPlaybackState()` with newly skipped ads. It cause call `AdsMediaSource.maybeUpdateSourceInfo()` and `BaseMediaSource.refreshSourceInfo()` which I think the problem is.

If I understood correctly, at

[2021-04-14 19:43] Manvendra-Jadon opened #8818 "Audio/ Speed controls shown when Overflow button is clicked are not accessible on all FireTV devices"
We are getting rejection on amazon store, saying Audio/ Speed controls in Overflow settings are not accessible on all devices.
Here is the list:
![rejected_devices](https://user-images.githubusercontent.com/70095620/114769324-b2bfeb80-9d87-11eb-8a0b-f630e43a4c55.png)

For now, as a workaround i m trying to remove overflow button from player controls.

[2021-04-14 19:54] westy92 commented on #5246
It looks like artifacts are being published to Google's Maven Repository starting with version 2.13.3 for now! 🎉
https://maven.google.com/web/index.html?q=exoplayer

[2021-04-14 20:17] abthescore commented on #8817
So by frames lost I meant if video playback takes ~400-800ms to start playback and since we only have 2000ms window to show the video, we essentially only play for about ~1500ms and thus, not the complete video is played. Sorry for using the confusing terminology.

Not sure if understood how to do this. I use a downloadManger to get the download, so are you saying something like

[code]
Not sure i

[2021-04-15 04:11] custadian commented on #8815
I will try it @AquilesCanta Thank you

[2021-04-15 07:24] ojw28 commented on #5246
Should we keep this open to track uploading previous versions as well?

[2021-04-15 08:01] gilbertdigio opened #8819 "IMA NullPointerException when invoking android.graphics.Bitmap.getWidth()"
Issue:
-------------------------
We are detecting suddenly a lot of NullPointerException's in Firebase coming from IMA since April 8th. It's happening in several versions, not specefic one. We are using ExoPlayer 2.12.3.

Someone mentions the same issue in a comment to this post: https://github.com/google/ExoPlayer/issues/8447#issuecomment-802407326

Stacktrace:
-------------------------
`Fatal Ex

[2021-04-15 08:05] andrewlewis commented on #8819
This should be fixed in IMA SDK 3.23.0 which is [used by ExoPlayer 2.13.3](https://github.com/google/ExoPlayer/blob/r2.13.3/extensions/ima/build.gradle#L28). Please reply here if you can still reproduce on that version.

[2021-04-15 08:05] #8819 closed, assigned to andrewlewis

[2021-04-15 08:51] orcunkobal commented on #7831
Hi is there any news on this issue?

[2021-04-15 10:14] tonihei commented on #8815
Specifically for this case, I think you shouldn't write a custom `DataSource`, but instead use `ResolvingDataSource` as explained in our documentation: https://exoplayer.dev/customization.html#customizing-server-interactions

[2021-04-15 10:30] GouravSna commented on #8815
I will give it a try @tonihei thanks

[2021-04-15 10:35] custadian commented on #8815
I will give a try @tonihei thanks

[2021-04-15 13:02] tonihei commented on #8810
Not in the setup you describe. I think you could avoid this by marking it as skipped earlier (e.g. while the previous ad is still playing)

[2021-04-15 13:06] andrewlewis commented on #8810
Just a side note on this: calling [`AdsManager.discardAdBreak`](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/api/reference/com/google/ads/interactivemedia/v3/api/AdsManager.html#discardAdBreak()) when no ad is playing is supposed to discard the next ad break, so may work as an alternative workaround. (I don't know exactly what callbacks happen next but it may a

[2021-04-15 14:45] AquilesCanta commented on #8818
@ojw28 Assigning to you in the context of UI.

[2021-04-15 17:34] custadian commented on #8815
Hi @AquilesCanta @tonihei , thanks for the help. After your suggestions, I have a way to achieve it. Following links are helping me more on this.

https://github.com/google/ExoPlayer/issues/5779
https://juliensalvi.medium.com/building-custom-datasource-for-exoplayer-87fd16c71950

[2021-04-15 22:08] hayya33 commented on #6130
Iptv

[2021-04-16 01:04] #8731 closed, assigned to AquilesCanta

[2021-04-16 01:04] #8722 closed, assigned to krocard

[2021-04-16 07:08] spakanati123 opened #8820 "What is best approach to block out current program and play some clear content."
My application plays only Live content(DASH+Widevine) but because of business rules some of regions we should not allow to play some of programs. So the recommended approach is to play some other content in that particular time slot for that region.

**Given context:** I am playing particular channel and the specified block out interval is 6PM to 7PM so with in this 1hour window i should play some

[2021-04-16 09:53] chladto1 commented on #8810
When previous ad is playing, I don't know if a user will seek behind another ad in time threshold. If I do it, I must unset skipped state which probably cause buffering too. I think, in a real situation this probably cause more buffering. In the current implementation, unsetting skipped state is happening only when a user seeking, so additional buffering is invisible to a user.

Calling `AdsManage

[2021-04-16 10:50] #8815 closed, assigned to AquilesCanta

[2021-04-16 10:56] AquilesCanta commented on #8820
For security reasons this doesn't seem something that should be solved client side (and therefor ExoPlayer). Are your 6 hours of content served as a single DASH manifest? Couldn't the server just offer the alternative content for the blocked-out interval in the manifest?

Aside, I don't think the ExoPlayer issue tracker is the right place to ask this, probably a forum or a general Q&A site would b

[2021-04-16 12:19] spakanati123 commented on #8820
@AquilesCanta you are right. This should be served from server side but because of challenges currently from server side we decided to address on client side as a temporary solution.
Like you said it is single dash manifest for six hours of content.

[2021-04-16 12:19] #8820 closed, assigned to AquilesCanta

[2021-04-16 13:33] umerov1999 opened #8821 "updating guava"
Can i update guava from 27.1-android to 30.1.1-android? Does Exoplayer work correctly, if i update guava?

[2021-04-16 13:58] icbaker commented on #8821
ExoPlayer doesn't use any Guava APIs marked `@Beta`. Guava's commitment to binary compatibility from 21.0 onwards means that ExoPlayer should run fine against our current declared dependency (27.1-android) and any future versions: https://github.com/google/guava/wiki/PhilosophyExplained#non-beta-apis

However we deploy this library into a context where 27.1 is the newest version available - so for

[2021-04-16 13:58] #8821 closed, assigned to icbaker

[2021-04-16 16:51] AquilesCanta commented on #8820
Sorry I can't be of more assistance. As a pointer for experimenting with client-side, you could solve this at manifest parsing level, where you create a parser that merges both manifest by picking the parts (are you using periods?) it wants from each manifest (from the main content up to 6 pm, from the alternative manifest 6-7 pm and back to the main manifest). Then you could potentially impose se

[2021-04-16 17:06] linhai326 commented on #8820
From my experience, this blackout feature should be implemented outside of exoplayer.
There should be a business layer over exoplayer to apply the business logics like this one.

[2021-04-17 11:05] littlelitleStar opened #8822 "no audio on live streams , which have audio MP2"
I have an IPTV app , for android devices.
I stream iptv streams there, but im having issues with my users.

they are complaining that streams dont have AUDIO.
But on some devices they have and on some they dont.

I found that the issue was that , streams with mp2 audio , were causing the problem.

How can this be fixed ?

[2021-04-18 10:00] NanyangTaiji opened #8823 "Please provide support for MTS and M2TS video formats"
Since 2016, the issue is already raised in #1488, just wonder why it is still not solved. This type files are common for all professional video recorders, they are handled by VLC and other players. Several requests had been made and the issues are always closed for not enough information. If you need the video clips example, please download from:
https://filesamples.com/formats/mts

[2021-04-18 10:11] menscikov opened #8824 "Properties setMaxAudioChannelCount() & setPreferredAudioMimeType() not working in some situations."
**Issue description**
First and second video stream has 4 audio tracks, two of them are in 6 channel AC-3 format and other two in 2 channel MPEG-L2 format.
ExoPlayer always selects first available audio track 2 channel MPEG-L2 even when i set this in track selector:
[code]

**Link to test content**
Link to the media e-mailed to ExoPlayer development team.

**Version of ExoPlayer being used**
2.13.

[2021-04-18 10:13] ojw28 commented on #8823
Closing as a duplicate of #1488 (please don't file duplicate issues when you know there is an existing open issue already tracking the same thing). The issue is marked as low priority. You are welcome to make a high quality pull request that adds support, if this is important to you.

[2021-04-18 10:13] #8823 closed, assigned to ojw28

[2021-04-18 11:18] Consti10 commented on #8514
It seems as if the snapdragon decoder needs "some" parameter telling it to not hold onto buffers unneccesarily.
The following param would perfectly fit this description:
[PARAMETER_KEY_LOW_LATENCY](https://developer.android.com/reference/android/media/MediaCodec#PARAMETER_KEY_LOW_LATENCY)

But so far, I have not had any success with setting it. Is this parameter implemented by the android OS (AMed

[2021-04-18 12:53] Skys777 commented on #8147
@lcf87 Thanks for your help.

after came back to this issue again, i finally figure it out.

hopefully i can help with someone encounter with the same issue as me.

for exo 2.11.8 we can set in buildAudioProcessor by changing with new channel map and call [flush](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/AudioProcessor.html#flush--) method
quote from exoplayer dev :
C

[2021-04-18 12:53] #8147 closed, assigned to lcf87

[2021-04-18 21:31] olgunkaya opened #8825 "Using the keySetId for MediaSource creation."
Lately I have been keep posting tons of questions about the DRM, sorry in advance, but due to constraints I have (unable to upgrade the dependencies) and lack of documents on the internet, I have no other chance.

Lately, so my question is quite straight forward.

**What I have so far ?**
1. exo player version : 2.11.4
2. DRM protected video downloaded.
3. Keys downloaded and have keySetId persist

[2021-04-19 01:04] #8557 closed, assigned to christosts

[2021-04-19 02:40] sruditsky opened #8826 "HLS: Avoid loading first #EXT-X-STREAM-INF URL at start of playback"
ExoPlayer is given an HLS master playlist and it downloads it.
The next step seems to always be to download the very first media playlist in this master playlist.
I am referring to the code in DefaultHlsPlaylistTracker.onLoadCompleted() starting with:
[code]
Code seems to await for this download to complete and only then starts downloading the "real" media playlists corresponding to the variant se

[2021-04-19 07:43] ojw28 commented on #8826
This is an implementation detail where a component of the player is trying to establish the media timeline, but doesn't have the track selection yet. Hence it picks the first media playlist (arbitrarily) to do so. This is a known inefficiency with ExoPlayer's HLS implementation.

It would be better if the implementation could wait for the track selection, and then use the media playlist that it's

[2021-04-19 07:51] davydovvladimir opened #8827 "Play TV archive"
Hello dear developers!

I need to implement the ability to play TV archive in HLS format.
The time window for playback is set in a HTTP GET request to the server using the start_time / end_time as request parameters:
http://some_server/TV_CHANNEL/variant.m3u8?start_time=A&end_time=B
The server returns closed or non-closed (if end_time is in the future) playlist.
Seamless switching from one time wi

[2021-04-19 08:40] icbaker commented on #8822
MP2 audio is not required to be supported by all Android devices:
https://developer.android.com/guide/topics/media/media-formats#core

More information on supported formats:
https://exoplayer.dev/supported-formats.html#sample-formats

Do the devices you're seeing problems with support MP2? If not, you might be able to decode in software using the FFmpeg extension:
https://exoplayer.dev/supported-f

[2021-04-19 08:40] #8822 closed, assigned to icbaker

[2021-04-19 08:43] icbaker commented on #8824
We didn't receive this - did you send it to dev.exoplayer@gmail.com with the subject "Issue #8824"? Please re-send it, and update this issue when you've done so.

[2021-04-19 08:45] Ste-RH commented on #8785
Maybe I am just not understanding what is passed into the constructor for StreamKey?

StreamKey​(int periodIndex, int groupIndex, int trackIndex)

groupIndex is actually a type?  Where can I get reference to what index references each type? (as you point out audio is type 1).

Using the 'Track Type' indexes defined in C.java (screeny below) where Audio is defined as index one does not work for Vid

[2021-04-19 08:46] tonihei commented on #8810
I'll mark this issue as an enhancement to track that skipped midrolls cause short buffering. This may be solvable independent of #5067 and #5482 (e.g. by updating the clip end position of the content).

[2021-04-19 08:54] icbaker commented on #8825
You need to pass [`MODE_PLAYBACK`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.html#MODE_PLAYBACK) and the `keySetId` to [`DefaultDrmSessionManager#setMode()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.html#setMode-int-byte:A-).

You can see this in the way we create a `MediaSource` from a `Medi

[2021-04-19 08:54] #8825 closed, assigned to icbaker

[2021-04-19 08:58] icbaker commented on #8827
This sounds like something that should be solved on the serving side - if you're trying to play seamlessly from time A to time C, and you request A -> B and B -> C as in your example, isn't it up to the server to ensure it doesn't serve you the same segments in both HLS playlists?

More generally - wouldn't it make more sense to just request A -> C directly from the server and just get a single HL

[2021-04-19 09:14] olgunkaya commented on #8825
Thanks again @icbaker I obviously have more way to go but at least this is a start. If I try to explain what I understand,

I need an http data source factory (I already have one for downloading the media etc.. can use that one)
I need a media drm callback that player will use to get the keys over network using the http data source from above statement.
I need to add extra parameter(s)/custom head

[2021-04-19 09:18] menscikov commented on #8824
Hello, yes. I sent it again 1 minute ago.

[2021-04-19 09:22] meixililu opened #8828 "can use v2.13.3 exoplayer in the service as a music player?"

[2021-04-19 09:26] davydovvladimir commented on #8827
Thank you for the quick response!

The server doesn't know anything about previous client request (A->B), so it can't guarantee there is no overlap.
Maybe I can somehow align the time B to the segment boundary. I will perform some experiments and ask to the server's support team.

The server has an archive for 3 days. If I request a playlist from "3 days ago" to "live" it will has very big size  a

[2021-04-19 09:42] icbaker commented on #8828
Yes you can do this.

We don't currently have a demo app showing this (#5854).

You may like to take a look at the UAMP project. It's not maintained by the ExoPlayer team, but it showcases solutions involved in the creation of an audio app: https://github.com/android/uamp

I'm afraid we aren't able to offer detailed app-specific support on this issue tracker - you may get more help for general que

[2021-04-19 09:42] #8828 closed, assigned to nobody

[2021-04-19 09:51] tonihei commented on #8827
Have you considered using [HLS delta updates](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-07#section-6.3.7) to avoid large playlist updates? This would allow you to keep a single playlist and the player automatically only requests the latest playlist delta (after an initial full request).

[2021-04-19 09:58] icbaker commented on #8827
Toni's suggestions sounds sensible - if you can avoid trying to use ExoPlayer playlists for this I think your life will be easier.

Regarding the original question about seamless transitions though, in case it's useful:

The transition between two items in a playlist will be seamless if they both use the same codec and the second item starts at a keyframe.

You can use the `MediaItem.clippingPrope

[2021-04-19 11:44] icbaker commented on #8824
Thanks for the link.

I played it in the ExoPlayer demo app and saw this in logcat:

[code]

ExoPlayer has determined the stream has two video tracks (both avc1.640028 and 1920x1080) and two audio tracks (both stereo and mpeg-L2).

This doesn't match the description of the media you've provided in the issue. `mediainfo` agrees with your description when I analyse one of the TS segments (for the v1

[2021-04-19 13:36] cdongieux opened #8830 "AdaptiveTrackSelection can't be extended in Kotlin"
I'm currently updating ExoPlayer in my app from 2.12.1 to 2.13.3.
Until now we were subclassing `AdaptiveTrackSelection` with a custom Kotlin class that fits our needs, but with commit https://github.com/google/ExoPlayer/commit/a4fbc2c98db8d0ff08a3b1a111d7c684665f4355 it is no longer possible because `AdaptativeTrackSelection.AdaptationCheckpoint` is `protected`.

Here is a minimal sample code in

[2021-04-19 13:48] ArchanaGwda opened #8831 "Getting a progress loader on exoplayer upgrade to latest version 2.13.3"
Hi,
I tried to update the dependencies from 2.6.1 to 2.13.3.
Now I am getting a transparent overlay with progress dialog.  Video is paying in below the overlay. Please help me out to resolve this.

https://user-images.githubusercontent.com/20718146/115245544-a8fd0600-a142-11eb-95ad-2154da963363.mp4

Dependencies from build.gradle file
[code]

Please help me to resolve this issue at the earliest. I

[2021-04-19 14:28] bladeofgod opened #8832 "Hi exoplayer out of memory error"
Hi  guys !
when i watched video a long time , it will cause app crash ,and log shows :

used in flutter plugin video_plugin , version is : 1.0.0

I/banjia.rikiuse(22362): Alloc young concurrent copying GC freed 102(10048B) AllocSpace objects, 0(0B) LOS objects, 0% free, 255MB/256MB, paused 99us total 21.642ms
I/banjia.rikiuse(22362): WaitForGcToComplete blocked Alloc on HeapTrim for 15.110ms
I/ban

[2021-04-19 14:49] icbaker commented on #8830
Thanks for reporting - it looks like Kotlin is very defensive about subclasses 'accidentally' increasing the visibility of elements:
https://discuss.kotlinlang.org/t/why-does-kotlin-prohibit-exposing-restricted-visibility-types/7047/6

Slightly different to your reported problem: I think the `protected AdaptationCheckpoint` class is also problematic in a pure Java subclass of `AdaptiveTrackSelecti

[2021-04-19 15:13] icbaker commented on #8831
There isn't enough information here to help you.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be repla

[2021-04-19 15:22] icbaker commented on #8832
I'm going to ask the same thing as was requested in your Flutter issue:

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where

[2021-04-19 16:08] nishantkp commented on #8037
@rrfrias were you able to fix a valid DRM license after VPNing to Canada?

[2021-04-20 01:05] #8679 closed, assigned to marcbaechinger

[2021-04-20 01:05] #8652 closed, assigned to marcbaechinger

[2021-04-20 03:06] bladeofgod commented on #8832
@icbaker  hi, thanks for your reply.
Today i watched about 30+ videos (30 seconds per one ). and cause out of memory . detail info is :
D/CrashReport-Native( 9222): Parsing line: 12c00000-32c00000 rw-p 00000000 00:00 0                                  [anon:dalvik-main space (region space)]
D/CrashReport-Native( 9222): Parsing line: 6f26c000-6f4fb000 rw-p 00000000 00:00 0

[2021-04-20 07:40] cdongieux commented on #8830
Hi Ian,

Thanks a lot for your quick answer!

For other people in the same situation as me, here is a little workaround until the issue is fixed:

Wrapper in Java which can be extended in Kotlin:
[code]

[2021-04-20 07:57] davydovvladimir commented on #8827
Unfortunately, it is not supported by server side.

[2021-04-20 08:16] davydovvladimir commented on #8827
But for this we need to know the clipping parameters before the request. Is it possible to somehow intercept the beginning of the MediaItem playback when we know for sure the parameters of the overlap?

I mean the following idea. When the player receives media playlist for the window B->C, then we analyze timeline parameters of this playlist and set correct starting time for playback.

[2021-04-20 08:45] icbaker commented on #8827
Clipping the end of the currently playing item is not possible, it's tracked by https://github.com/google/ExoPlayer/issues/3163.

[2021-04-20 08:52] heyangJob commented on #8803
hello, We also use the same equipment as yours to play 4K video card. Do you have such imagination? Which version of ExoPlayer is used..Thank you!

[2021-04-20 09:10] davydovvladimir commented on #8827
I think it is not required. I meant changing of start playback position of media item responsible for the window B->C.
Can we change it immediately after receiving playlist from the server?

[2021-04-20 09:21] icbaker commented on #8827
You can change a future `MediaItem` by replacing it in the playlist, something like:

[code]

But note that if you don't clip to a keyframe then the transition between the items won't be seamless (because the decoder needs to start from a keyframe, so it will need to decode (and then not show) some frames before it reaches the first frame you've asked it to show, which takes time). This is why I r

[2021-04-20 10:32] jrocharodrigues opened #8833 "Equivalent callback for onTimelineChanged with reason TIMELINE_CHANGE_REASON_PREPARED, on versiosn 2.12+"
Hi,

On my project, when playing a live stream, i need to make a seek to a specific time of the day, when starting playing a new stream.
To do that, on ExoPlayer 2.11.x i relied the callback for `onTimelineChanged `with reason `TIMELINE_CHANGE_REASON_PREPARED`.
When that callback was called, i could get the media duration, and with the offset from the currentTime, calculate the position to pass to

[2021-04-20 11:02] menscikov commented on #8824
@icbaker thank you for investigating the video stream.

When i parsing this video stream (HLS) in my application i get 4 audio tracks:
[code]

This video stream is not mine, one of the users sent it to me. I understand that it may be not correctly decoded by provider.
When i select the audio track manually 2 channels or 6 channels, they are working fine.
I use `setMaxAudioChannelCount()` and `setP

[2021-04-20 11:27] AquilesCanta commented on #8817
I didn't mean load into memory by using the DownloadManager, but just manually reading the entire file from sdcard or the internet into a byte array. With the byte array you can then create the ByteArrayDataSource. The idea is to get an idea of how much time is being spent on reading from local storage. **Note**: You shouldn't measure the "loading into byte array" part for this test to make sense.

[2021-04-20 11:28] electrodragon opened #8834 "FFmpeg extension build error"
i followed each step exactly as mentioned in [https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md](url)
I get errors in build_ffmpeg.sh that /home/atta/ExoPlayer/extensions/ffmpeg/src/main/jni/jni/ffmpeg: No such file or directory
And the errors like Android.mk, here are my complete terminal steps and their output. Please Help

[atta@atta-precisionm4500 ~]$ `uname -a`
L

[2021-04-20 11:47] electrodragon commented on #8834
Used New Commited version of ReadME, And its building now.

[2021-04-20 11:47] #8834 closed, assigned to nobody

[2021-04-20 11:56] christosts commented on #8827
One idea (maybe I'm repeating your idea): If you plan to request A->B and then B->C, you can tune B so that is perfectly aligns with segment boundaries. Since you can't decide that before hand, you can request A->B, figure out exactly the duration of the fetched playlist, and then request `B'`->C, where `B'` is tuned to start exactly after the last segment of the first playlist.

How to do this: T

[2021-04-20 12:43] davydovvladimir commented on #8827
Thanks! I got it.  But, as the guys from the servers said, when I request B 'on the server, then in response with some probability I can still get a media segment from the previous range (A->B).

So, the idea with custom HlsPlaylistTracker implementation looks like more suitable, despite the complexity.

I have a lot of information now. I will try different ways.
Thanks to everyone who answered!

[2021-04-20 14:17] icbaker commented on #8824
On linux I used `sudo apt install mediainfo` - think it's this: https://mediaarea.net/en/MediaInfo

[2021-04-20 14:35] svyatoslavpavlov opened #8835 "Previous button works wrong with mp3 streams"
Hi!
When I'm using exoplayer for radio app with icecast streams, previous action in notification trying to play this stream again instead of playing previous stream. In DefaultControlDispatcher#dispatchPrevious library checks `window.isDynamic && !window.isSeekable`,  but maybe better is `(window.isDynamic || window.isLive) && !window.isSeekable`

- ExoPlayer version number: 2.13
- Android version

[2021-04-20 15:42] nishantkp opened #8836 "Provide a way to dynamically enable/disable seeking"
I am using DAI with ExoPlayer and IMA.

As you can see from the video..when an Ad is playing I can scrub on `TimeBar` even though I call `setEnabled(false)` on it.
From the `DefaultTimeBar` implementation,

[code]

`scrubbing` flag prevents `TimeBar` to stop scrubbing.

I would like to achieve no scrubbing on the time bar. What should I do?

https://user-images.githubusercontent.com/32653955/11542

[2021-04-20 17:16] ojw28 opened #8837 "exoplayer.dev is broken"
This is known issue. We're working to resolve it. In the meantime, the developer guide can be accessed at https://google.github.io/ExoPlayer/ instead.

[2021-04-20 17:30] ojw28 commented on #8836
From the video, it looks like this is a custom UI, so it's unclear why this is an ExoPlayer issue. `DefaultTimeBar` disables scrubbing by checking `isEnabled()` in various places and preventing scrubbing from taking place if `false` is returned. Your custom UI component(s) would need to do something equivalent to that.

If you can reproduce this with standard ExoPlayer UI components, then please l

[2021-04-20 18:31] nishantkp commented on #8836
Hi @ojw28,

I am able to produce it in IMA-DAI's Advanced example and I have also attached a file.

You can check the below method in `SampleVideoPlayer` class.

[code]

[IMAAdvancedExample.zip](https://github.com/google/ExoPlayer/files/6345863/IMAAdvancedExample.zip)

[2021-04-20 19:18] ChanceK1 opened #8838 "Synchronizing foreground service with PlayerView UI?"
I'm trying to assign my PlayerView to the SimpleExoPlayer that is initialized in my foreground service. I tried using onBind(), but whenever I bind the context to the service the SimpleExoPlayer is no longer able to play when I exit the app (I believe this is because when I bind the service to my context it stops running on its own process and starts running on the main application process). I was

[2021-04-20 19:25] ojw28 commented on #8836
Is that a modified version of the IMA-DAI example? I tried with the official version [available here](https://github.com/googleads/googleads-ima-android-dai/tree/master/AdvancedExample), and I did not see the problematic behaviour because they hide the controller whilst ads are playing.

Digging around with  `((DefaultTimeBar)activity.findViewById(R.id.exo_progress)).setEnabled(canSeek);` isn't go

[2021-04-20 19:31] icbaker commented on #8838
This issue looks like a general question about Android development. We'll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on [Stack Overflow](https://stackoverflow.com/questions/ask).

[2021-04-20 19:52] ojw28 commented on #8836
Assigning to @christosts since I think this will be solved by `ForwardingPlayer`.

[2021-04-20 23:17] rrfrias commented on #8037
I tried using a VPN and setting my location to Toronto. I am still seeing an invalid license response from the license service. Can you check and share an apk with  dev.exoplayer@gmail.com?

[2021-04-21 05:06] sruditsky opened #8840 "Is there a way to synchronize HLS playlists at playback start"
We are using ExoPlayer 2.12.3

Let's say there is a live HLS stream where all segments are 6 sec long and perfectly aligned between audio and video.

When an HLS playback starts ExoPlayer downloads a video and an audio playlists. In most cases these two first playlists arrive aligned, however. sometimes one of the playlist is shifted by one segment compared to the other one, i.e. we happened to be

[2021-04-21 08:22] devingryu opened #8841 "Migrating from ExoPlayerFactory with AudioProcessor"
So, I want to process audio with AudioProcessor when playing audios with ExoPlayer2.
I found that it can be achieved by using the below code(According to [this question](https://stackoverflow.com/questions/58857797/exoplayer-custom-audioprocessor-equalizer) )

[code]

...but now ExoPlayerFactory is deprecated, and there is no buildAudioProcessors() to override in DefaultRenderersFactory now. Howev

[2021-04-21 09:35] Ste-RH commented on #8785
Whilst clutching at straws, I found these in the ExoPlayer source.  Is this the cross reference I need between the two?  If so, what about other track types? (referenced in the screeny in my previous post)

![image](https://user-images.githubusercontent.com/46531149/115532038-511ee600-a28d-11eb-8095-719c0ff56e94.png)

[2021-04-21 10:04] icbaker commented on #8841
The `DefaultRenderersFactory#buildAudioProcessors()` method was removed in https://github.com/google/ExoPlayer/commit/363a2a3b45488c53f12c8382d3c6a8b41ac5866f.

It was replaced with `buildAudioSink()`.

You can override that to achieve what you want by constructing a `DefaultAudioSink` in the same way that `DefaultRenderersFactory` does, but pass in a `AudioProcessorChain` containing your `AudioPr

[2021-04-21 10:04] #8841 closed, assigned to icbaker

[2021-04-21 10:13] sergju opened #8842 "Secure decoder is re-initialized if renderer is disabled during a transition (e.g. due to seeking or a discontinuity)"
Hi.
I am searching way to change stream without black screen.
I made shutter surface transparent with
setShutterBackgroundColor(Color.TRANSPARENT);
and now don't have a problem with HLS clear content, but still have with DASH DRM content

After some investigation figured out black screen happens due to decoder reset with this condition
if (sourceDrmSession != null || codecDrmSession != null) {
  /

[2021-04-21 12:46] cidevant opened #8843 "Player is accessed on the wrong thread"
I know there is a lot of issues with this topic, but didnt found answer for this one.
The problem occurs, when player is playing and I try to turn off simulator/androidtv. Error stack traces doesnt show that my app is involved in it, only androidtv+exoplayer

[code]

When calling player methods I always do it in this way:

[code]

- Clear reproduction steps including observed and expected behavior

[2021-04-21 13:14] icbaker commented on #8843
I followed your repro steps using the [demo app](https://google.github.io/ExoPlayer/demo-application.html) and an Android TV emulator running Q but I didn't see any such exception in logcat. Can you reproduce this with the demo app, or only with your application? If it's only with your app, please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)

[2021-04-21 13:25] icbaker commented on #8842
Do you see the black screen on all devices, or just specific ones?

Are you switching between two pieces of differently encrypted DRM content, or from encrypted to/from clear? If the latter, you should try using a placeholder DRM session for the clear content: https://google.github.io/ExoPlayer/drm.html#drm-sessions-for-clear-content

If this reproduces consistently across devices would you be abl

[2021-04-21 13:43] cidevant commented on #8843
We are using react-native and player canvas (SurfaceView) is exported to our application as react-native component `PlayerCanvas`. When react-native renders `PlayerCanvas` our player manager links `PlayerCanvas` with with our `Player` instance (implementation of ExoPlayer).

`PlayerCanvas` implementation:

[code]

and `mPlayer.setSurfaceView(this);` implementation in our `Player` is:

[code]

[2021-04-21 13:50] marcbaechinger commented on #8833
For 2.12. the equivalent is the first call with `TIMELINE_CHANGE_REASON_SOURCE_UPDATE` like you mention. For non-live sources this commonly is called only once. To answer your question, there is no alternative that is called only once for live streams I'm afraid.

For the second question you may want to use the extended live support we added with 2.13 where you can set the target offset from the l

[2021-04-21 13:57] marcbaechinger commented on #8835
Thanks for reporting!

I think that's already fixed in the most recent version where we do

[code]

I'm closing. Please re-open if you have further input. Thanks again!

[2021-04-21 13:57] #8835 closed, assigned to marcbaechinger

[2021-04-21 14:17] nishantkp commented on #8037
@rrfrias, I have tried on my end with the previous file, and I wasn't able to get an invalid license response.

Sent you an email with a different media file.

[2021-04-21 14:28] sergju commented on #8842
1) I tried only on one specific device. To try on other device I need to prepare test application.
I will do it later.
2) 2 pieces of differently encypted. Yes, I saw this issue with encrypted -> clear

[2021-04-21 14:40] jrocharodrigues commented on #8833
Hi, thanks for your answer.

For now i'll use you suggestion:
`MediaItem mediaItem = new MediaItem.Builder()
        .setUri(uri)
        .setLiveTargetOffsetMs(10 * 60_000)
        .build();`

As for the new property `setRequestedLiveUnixStartTimeMs` tracked on #8218  , i think it's a good idea, i'll drop a comment suggesting it to be implmented also for Dash.

best regards

[2021-04-21 14:41] jrocharodrigues commented on #8218
This would be nice to have also dor Dash streams.

[2021-04-21 15:04] logituitrel opened #8844 "How to customize notification UI for download progress notification"
We are currently using com.google.android.exoplayer2.ui.DownloadNotificationHelper for displaying notifications during downloading a content through exoplayer.

Our requirement is to customize the ui of the Progress notification(play/pause, cancel buttons etc.)
As the notificationBuilder is private and does not have a getter, we are unable to do this.
Nor are we able to extend the DownloadNotifica

[2021-04-21 15:05] icbaker commented on #8843
It seems likely this is a problem in your application, not in ExoPlayer.

I suggest you look into what thread is being used to run the window of the `SurfaceView` (or `PlayerCanvas`) - possibly the thread used to construct it? I'm not sure.

I'm afraid we don't have time to do detailed debugging of app integrations on this issue tracker.

If you can provide a minimal reproducible example that show

[2021-04-21 15:09] icbaker commented on #8843
The stack trace indicates the problematic callback is happening on the main thread: `at android.app.ActivityThread.main(ActivityThread.java:7356)`

Do you construct your player on a thread other than the main thread? If so that's likely the cause of your problem, and you should be able to resolve it by passing the main thread's Looper during construction, as detailed at the link in the error messa

[2021-04-21 15:16] icbaker commented on #8842
Not sure I understand this - you only see the issue when switching from encrypted to clear content?

In that case, try the placeholder DRM session approach I linked.

[2021-04-21 15:20] ALiushenko opened #8845 "OOM crash during offline playback of encoded with proprietary encoder flac tracks"
Hi everyone,

We're using ExoPlayer (now v.2.12.3) for playback of specific tracks encoded with some custom proprietary encoder and are packed into FLAC container. Unfortunately, I can't give you more details about the encoder due to NDA...

To make the playback actually work, we use ExoPlayer's FLAC extension.
Everything seems to be working fine except for one problem.
We experience OOM crashes d

[2021-04-21 15:44] devingryu opened #8846 "AudioProcessor queues so slow that audio keeps ticking"
I'm very frustrating to ask a question, but it seems that I have no more documentations to solve this problem.
What I'm doing is implementing RubberBand (pitch shift/time scaling) library in Exoplayer AudioProcessor.
It does just as same as Sonic does, so I watched SonicAudioProcessor code and wrote code similarly.
To tell you the conclusion, it keeps playing and stopping that it hears like tickin

[2021-04-21 15:58] icbaker commented on #8846
We generally don't have capacity to provide detailed app-specific guidance on this issue tracker.

We'll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however you might have better luck on [Stack Overflow](https://stackoverflow.com/questions/ask).

[2021-04-21 16:32] Ste-RH commented on #8785
Bit of an update.  I _think_ I have a solution...and that is to use the method I had commented out in the posted code screeny above - with some safety checks and a default TrackSelectorParameter object.  That being:

downloadHelper.addTrackSelectionForSingleRenderer( periodIndex, rendererIndex, trackSelectorParameters, overrides );

Not sure if I am not understanding StreamKeys, not using them cor

[2021-04-21 16:35] ZloyDyadka commented on #8747
Hello! Playlist with the same data for reproducing problem:  https://support-dm.erlyvideo.ru/wasd_live/test/index.m3u8

[2021-04-21 17:10] cdongieux opened #8847 "Live DASH video track selection broken since 2.13.0"
I'm currently updating my app from ExoPlayer 2.12.1 to 2.13.3, I notice the video track selection on Live DASH streams seems broken since 2.13.0.

Here are available video tracks:
[code]

Here is what was ExoPlayer behavior in 2.12.1 and what it's now:

**2.12.1:**
1. track 896x504 (1600000bps, video/avc) is selected
2. track 1920x1080 (14800000bps, video/hevc) is selected
=> that's the expected b

[2021-04-21 19:04] stevemayhew commented on #8218
@marcbaechinger  our use case is more to adapt to networks that cannot maintain adequate buffering with 3 segments back from live.   The dynamic live edge support added to 2.13 should cover this use case.

[2021-04-21 20:51] #8827 closed, assigned to christosts

[2021-04-21 21:40] ojw28 commented on #8845
Reverted. Thanks!

[2021-04-21 21:40] #8845 closed, assigned to ojw28

[2021-04-21 21:45] ojw28 commented on #8818
There's very little information here to help us to help you effectively:

* Please could you clarify what you mean when you say that the controls are "not accessible"? Do you mean that it's impossible to access the settings using the remote on these devices, or is this specifically about [Accessibility](https://developer.android.com/guide/topics/ui/accessibility)? A video demonstrating the problem

[2021-04-21 23:09] davidvedvick opened #8849 "Occasional `InvalidStateException` from `seekTo` use"
Occasionally, I see an `InvalidStateException` with `null` reason. While my stacktraces are obfuscated, I assume this is coming out of `seekTo`.

Currently, I prepare a player roughly like this:

[code]

Is the above flow a valid lifecycle? Or should my initialization logic follow some other path?

Thanks!

[2021-04-21 23:36] brianschrameck opened #8850 "HLS: MergingMediaSource with two HlsMediaSources buffers indefinitely near beginning of stream"
Our app streams two HLS audio tracks simultaneously that need to stay synchronized with each other. We have implemented custom code in order to keep these two audio tracks synchronized using a single player.

After upgrading from 2.13.2 to 2.13.3 (mainly so we don't need to use the JCenter repos), our app starts streaming HLS content but then starts buffering (endlessly) immediately prior to the t

[2021-04-22 03:18] ajcatarina opened #8853 "Documentation Site Is Down"
Hi, just checked today. Looks like your documentation site is down.

![image](https://user-images.githubusercontent.com/19162599/115650689-4b440600-a35c-11eb-9872-e7fb558f1dbe.png)

[2021-04-22 04:09] electrodragon opened #8854 "An implementation section please in FFmpeg Extensions."
https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md
In this FFmpeg ReadMe, currently, there are two section

1. Build Instructions
2. Using the extension

There is no section that says how to include the built extensions in our own project.
I have been looking for that for 3 days, and still, No luck.
One tutorial said to build an AAR file and use it but how?
Can you guy

[2021-04-22 04:46] ALiushenko commented on #8845
@ojw28  Thank you so much

[2021-04-22 05:32] electrodragon opened #8855 "Execution failed for task ':extension-ffmpeg:generateJsonModelDebug'."
I am trying to build FFmpeg extensions when I run the following command, I get that error. I'm using java-8

Inside Exo Demo Poject Root Folder, i execute this command
```./gradlew :extension-ffmpeg:assembleDebug```

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':extension-ffmpeg:generateJsonModelDebug'.

* Try:
Run with --stacktrace option to get the stac

[2021-04-22 05:40] electrodragon commented on #8855
with --debug output

[debug.log](https://github.com/google/ExoPlayer/files/6355751/debug.log)

[2021-04-22 06:14] mazabin commented on #8853
Duplicate of #8837

[2021-04-22 06:32] electrodragon commented on #8837
https://google.github.io/ExoPlayer/supported-formats.html

can't access this page still.

[2021-04-22 06:37] xxxportxxx opened #8856 "how solve this json exolist for this video"
[code]

[2021-04-22 09:14] charles-yinyu opened #8857 "Seeking a looped media source causes the video to be frozen"
I use two exoplayer instances,  one playing the video source and the other playing the audio source.

The video source is created as clipped(10s) and looped:
        ClippingMediaSource clippingVideoSource = new ClippingMediaSource(videoSource, 0, 10000000);

The video exoplayer is configed as repeat mode:
[code]

The videoPlayer is synced with audioPlayer by sharing the same MediaClock:

[code]

[2021-04-22 09:34] andrewlewis commented on #8855
[code]

Please try [downgrading CMake](https://stackoverflow.com/questions/66540676/invalid-revision-3-18-1-cmake-in-android-studio).

[2021-04-22 09:35] #8855 closed, assigned to andrewlewis

[2021-04-22 10:11] #8853 closed, assigned to icbaker

[2021-04-22 10:28] icbaker commented on #8849
There isn't really enough info here to help you. Please provide the info requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

------

It should be possible de-obfuscate the stack traces if you have access to the mapping file: https://www.guardsquare.com/en/products/proguard/manual/retrace

------

Not sure I understand this com

[2021-04-22 10:34] ojw28 commented on #8837
It's fixed. Apologies for the inconvenience!

[2021-04-22 10:34] #8837 closed, assigned to ojw28

[2021-04-22 11:08] icbaker commented on #8850
Thanks for the demo app to reproduce the issue.

I was able to see the behaviour you report when building against 2.13.3, and also against the dev-v2 version of the commit you identified (https://github.com/google/ExoPlayer/commit/6f8a8fbc1cf974617056edac6ee0068b175a6454).

When building against its immediate predecessor on dev-v2 (https://github.com/google/ExoPlayer/commit/6b63bb22485050d2a254a1c

[2021-04-22 11:13] icbaker commented on #8854
I think this section at the top of the Build instructions answers your question?

Once you've got your app depending on a local copy of ExoPlayer, and then you build the FFmpeg extension inside that local copy, the extension should be available to your app.

[2021-04-22 11:13] #8854 closed, assigned to icbaker

[2021-04-22 11:27] icbaker commented on #8856
When I try and play the provided JSON snippet in the demo app I get a 401 error from the DRM license request:

[code]

The content of the error is an HTML page saying '401 Unauthorized'.

If you see the same error then you should look at the logs of the DRM license server to understand why it's responding with 401.

If you see a different error then please provide complete information as requested

[2021-04-22 13:05] icbaker commented on #8857
This is quite an advanced customisation use-case, we won't be able to provide detailed debugging assistance for your custom code I'm afraid.

That said, this looks suspicious:

[code]

[`MediaClock#getPositionUs()` javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/util/MediaClock.html#getPositionUs--) (which I assume is what you're overriding, you haven't provided the impl

[2021-04-22 13:07] #8830 closed, assigned to icbaker

[2021-04-22 14:39] #8716 closed, assigned to AquilesCanta

[2021-04-22 14:46] AquilesCanta commented on #8319
Hi @ogawa-ma, are you still seeing this issue?  Would you kindly share a new sample stream (ideally which does not expire) so that we can forward the report to Sony?

[2021-04-22 14:49] huttarl commented on #8837
@ojw28 Strangely enough, the page styling is broken in Brave browser. E.g. https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/TrackSelectionArray.html
works fine in Chrome but not Brave. "Too many redirects" on CSS and JS fetches.
It worked fine in Brave before this issue arose.

Screenshot:
https://imgur.com/a/B0sW5Tp

[2021-04-22 15:39] xxxportxxx commented on #8856
<details>
<summary>long curl log</summary>
[code]
</details>

[2021-04-22 16:05] electrodragon commented on #5417
Here is how I'm using with viewBinding.

1. Add an ID to the root tag of custom controls

[code]

Next In your activity ```onCreate()```

[code]

[2021-04-22 20:50] davidvedvick commented on #8849
Thanks for the information, it was still helpful.

I'll close this if that's ok, as my question was answered, and I'll continue to monitor my application. The version of retrace included with Android studio hasn't properly deobfuscated my stack trace, but I'll continue playing around to see if I can get it working. If I do get something more concrete, I'll open a defect and link it back to this qu

[2021-04-22 20:50] #8849 closed, assigned to icbaker

[2021-04-22 21:41] rajinikanth0602 opened #8859 "Exoplayer livestream seekbar customisation"
We are currently using exoplayer 2.13.3 for HLS livestreaming where we are not so satisfied with the existing exoplayer seekbar for live streams.

### _Problems with ExoPlayer Seekbar_

- The scrub position is always behind the edge even when in sync with live.
- Scrub position will go back by (segment_size secs) when new segment is added.

### _What we are trying to acheive_

- Youtube like seekb

[2021-04-23 00:15] xxxportxxx commented on #8856
[
  {
"name": "MUNAFIK",
    "samples": [
      {
        "name": "cuba test lah",
        "logo_uri": "https://divign0fdw3sv.cloudfront.net/Images/ChannelLogo/contenthub/53_144.png",
        "uri": "https://iflix-videocdn-p1.akamaized.net/7b01b/283364.ism/283364_v1.mpd",
        "ad_tag_uri": "https://pubads.iflix.com/video?type=vod&adUnitId=%2F21718753908%2Fiflix-my%2Fweb&width=640&height=360&re

[2021-04-23 01:04] #8740 closed, assigned to andrewlewis

[2021-04-23 01:04] #8728 closed, assigned to andrewlewis

[2021-04-23 05:19] HyowonHwang opened #8861 "Called "setParameter" frequently, playing live contents since 2.13.x"
I've found that my override audio processor called flush so frequently than 2.12.x while playing live normal hls(not low latency) by below changes.

<img width="1593" alt="updateposion_setparameter_audio_processor_flush" src="https://user-images.githubusercontent.com/7637498/115821516-e1039200-a43d-11eb-8875-349980d56058.png">

Also, It seems there's a problem of floating point comparison or somet

[2021-04-23 08:04] tonihei commented on #8861
This is expected and triggered by the automatic playback speed adjustment for live streams we added in 2.13.

The changes shouldn't happen more often than once per second and they should stop after a while (once the live offset is at its desired value).

So the questions are:
 - Do you see it happening more often than once per second?
 - Is this causing any issues in your app?

If you want to disa

[2021-04-23 08:36] HyowonHwang commented on #8861
Yes,  I see  it happening once per second and keeping during almost 50 seconds.
That makes `AudioProcessor.flush` frequently, my implemented codes of it makes audio stuttering.

I think I fix this in my side and just understood the operation and will follow your guide in case that don't want to up playback speed.

Thanks,
Hyowon

[2021-04-23 08:36] #8861 closed, assigned to tonihei

[2021-04-23 09:19] GouravSna opened #8862 "Playback is intermittent with response code 206 for HLS content"
**ExoPlayer version:** release-v2
**Video link:** https://drive.google.com/file/d/1c4ifF88UGKQJ5fh6lfwJjDUseGbE6xmL/view?usp=sharing
**Link for testing:** Have sent on email

**Steps to reproduce:**
1.Play the content
2. Select the video track of 1280 * 544 0.28Mbps, 640 * 272 0.08 Mbps etc
3. See the video playback is intermittent

I checked in charles, i can see on this request, 206 response is

[2021-04-23 11:46] Mkurbanov opened #8863 "no sound on MKV file"
On Samsung devices working fine but on Redmi devices no sound of the film. (Example on Redmi note 9 pro)
i am using version of exoplayer _2.13.3_

MKV file : [film](http://95.85.127.129:9000/movies/4103/ce6605be-6b9f-4e51-96e7-eaf6bd5d23c8.mkv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minio%2F20210423%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210423T100907Z&X-Amz-Expires=216000&X-Amz-Si

[2021-04-23 13:20] tonihei commented on #8847
There are two separate issues here that cause the behavior you are seeing:

1. The manifest defines media segments with a `SegmentTimeline`. The last defined segment ends in the future relative the current time retrieved from the `UTCTiming` element. The manifest itself looks consistent (e.g. if you calculate the last segment end time, it's slightly less than the `publishTime`), but the problem se

[2021-04-23 15:40] cdongieux commented on #8847
Thank you Toni for your feedback.

Removing BandwidthMeter from my DataSources did the trick, thank you.
But in the case where the network bandwidth fluctuates I guess track
selection will not be fully effective (or not at all) until point 1 is
fixed because bandwidth measurements don't happen ; am I correct?

Le ven. 23 avr. 2021 à 15:20, tonihei ***@***.***> a écrit :

[2021-04-23 15:51] tonihei commented on #8847
That's correct, yes.  If you discover that you actually need the player to ignore segments that end in the future, we could re-purpose this issue as a feature request. But given the time difference between the actual manifest request time and the `publishTime` value it seems more likely the problem is related to the manifest creation.

[2021-04-23 17:51] D00mch commented on #2092
@dburckh , how is it going?

[2021-04-24 08:38] icbaker commented on #8862
The low bitrate tracks are I-frame-only tracks, identified in the manifest with `#EXT-X-I-FRAME-STREAM-INF`.

These won't be automatically selected by the ExoPlayer ABR algorithm, but if you explicitly select them then it will try to play them. These are usually included in the manifest to facilitate trickplay scrubbing - they're generally not intended for normal speed playback.

https://github.co

[2021-04-24 08:38] #8862 closed, assigned to icbaker

[2021-04-24 08:40] icbaker commented on #8862
HTTP 206 is the normal response code for [range requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests), which ExoPlayer will use if the server indicates support via the `Accept-Ranges:` response header. I'm not sure it's relevant here - it generally indicates everything is working OK.

[2021-04-24 08:42] GouravSna commented on #8862
Thanks for your response @icbaker

[2021-04-24 15:34] GYT-cool opened #8864 "A bug in the Exoplayer"
The embedded subtitle in the black edge will not be displayed when playing Dolby Vision MKV files.

[2021-04-25 00:44] muzeasd opened #8865 "Local MP4 Loading Too Slow"
Hello there. I have this movie file stored on SD Card. I am using Android 8 (Oreo). This **video takes 12 seconds to load and play**. Codec info for the movie is as followed
Codec: H264 - MPEG-4 AVC (part 10)
Resolution:  1280 x 738
Display Resolution:  1280 x 714
Frame Rate: 24

Code for loading video file is shown as below

[code]

Please guid what is wrong in my implementation? Thanks

[2021-04-25 08:14] menscikov commented on #8824
Hello, any update on this? I'm just afraid that media link will become unavailable soon.

[2021-04-25 22:52] ojw28 commented on #8837
I wonder if that's a caching issue of some kind. Does it reproduce in a Brave Private Window? Or any other browser?

[2021-04-25 23:09] ojw28 commented on #8859
Duplicate of #2213. As of now, writing your own UI components (possibly by forking those in the library as a starting point) is the recommended solution if the provided components don't accommodate your use case.

[2021-04-25 23:09] #8859 closed, assigned to ojw28

[2021-04-25 23:09] ojw28 commented on #8146
Duplicate of https://github.com/google/ExoPlayer/issues/2213

[2021-04-25 23:09] #8146 closed, assigned to lcf87

[2021-04-26 06:05] ArchanaGwda opened #8866 "Ads aren't playing with MediaItem."
Hi,

I am trying to integrate ads with exoplayer for TV application. Earlier I was using the adsLoader for ad play with exopleyer version 2.6.1. Facing some with focus  issues on ad play for skip ads. And decided to upgrade to new dependencies. Now I have upgraded to version 2.13.3.

With mediaItem not able to play the ads. Ads are not playing. I am not getting where I am wrong. I am not getting a

[2021-04-26 06:10] ArchanaGwda commented on #8831
Hi,

Thank you for the reply. I have resolved this issue. While upgrading to latest version I forgot to hide the default loader. Now its working fine.

But now I am facing issue with ads. I am using mediaItem to play ads. But ads aren't playing. And also I am not getting any logs regarding the ads. [Issue raised here](https://github.com/google/ExoPlayer/issues/8866). Please help me out this at the

[2021-04-26 07:23] zhhach123 opened #8867 "No sound for flac file"
On devices which android version higher than 9 work fine.
But on devices which is lower than 9 there is no sound while playing flac audios.
On android 9 devices some work well but some no sound while playing flac audios.
I am using verison 2.12.0.\
Thanks.

[2021-04-26 07:36] andrewlewis commented on #8754
There isn't enough information for us to help here. The originally-reported issue was not reproducible so I'll close this. If you are still having problems please file a new issue and include all the information requested in the template.

[2021-04-26 07:36] #8754 closed, assigned to andrewlewis

[2021-04-26 07:55] icbaker commented on #8866
The `MediaSourceFactory` implementations you're using in that code snippet (`Dash`, `Ss`, `Hls`, and `Extractor`) don't handle the ad information inside `MediaItem`. The only ExoPlayer-provided `MediaSourceFactory` implementation that does is `DefaultMediaSourceFactory`.

You should either use `DefaultMediaSourceFactory` or re-implement the way it handles the ad information from `MediaItem` in you

[2021-04-26 08:07] ArchanaGwda commented on #8866
Hi @icbaker thanks for the response. Please let me know how can I make use of `DefaultMediaSourceFactory` for `DASH` and `HLS` media. Can we use `DefaultMediaSourceFactory` for Dash implementation?

[2021-04-26 08:11] makp9k commented on #6784
Hello! Any plans to support it?

[2021-04-26 08:12] icbaker commented on #8866
From the [`DefaultMediaSourceFactory` javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/DefaultMediaSourceFactory.html):

[2021-04-26 08:19] icbaker commented on #8863
The provided link returns me the following XML:

[code]

[2021-04-26 08:20] icbaker commented on #8864
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2021-04-26 08:28] icbaker commented on #8865
There isn't enough information here to help you.

I suggest you spend more time trying to isolate which part of the "load and play" process is taking the most time.

Some ideas to guide your debugging:

* Does this reproduce for every file, or just this one?
* Some SD cards are very slow - does it reproduce if you load the file into memory first (as a `byte[]`)and then open it via `ByteArrayDataSo

[2021-04-26 08:29] #8831 closed, assigned to icbaker

[2021-04-26 08:57] ArchanaGwda commented on #8866
@icbaker Can I get some sample code for for supporting ads for Dash and HLS media with mediaItem?

[2021-04-26 09:11] icbaker commented on #8866
https://exoplayer.dev/hello-world.html

[2021-04-26 09:39] ArchanaGwda commented on #8866
This example doesn't have details for ad support for Dash or HLS. I need some sample to code to understand how to implement ad support for Dash and HLS.

[2021-04-26 09:40] icbaker commented on #8866
https://exoplayer.dev/ad-insertion.html#declarative-ad-support

[2021-04-26 09:48] ArchanaGwda commented on #8866
@icbaker I have followed the same document to implement. And I have added the code what I have added. Please let me know what changes I have to make so that ads will play.

[2021-04-26 10:03] icbaker commented on #8866
By calling `player.setMediaSource()`, you're causing the library to ignore the `MediaSourceFactory` you've provided (because you're providing a fully built source, so there's no need for the library to construct one).

Change these 2 lines:

[code]

To:

[code]

And remove your `buildMediaSource()` method completely.

[2021-04-26 10:39] dzolnai opened #8868 "Unable to build ffmpeg extension"
I have upgraded our in app version of ExoPlayer to 2.13.3.
Now we also want to build the ffmpeg extension to go along with it, however, I get a build error when the `build_ffmpeg.sh` script launches:

[code]
After that it still continues with building, but the output files are missing. Previously, I was able to build the 2.11.3 extension with this same machine.

I have checked, and the referenced

[2021-04-26 10:47] aadityadoshi17798 commented on #8863
Same issue
Try link - https://beta.sastatv.com/Hindi/Saina%20(2021)%20HEVC.mkv
Also event logger says the below mentioned
MediaCodecAudioRenderer [
2021-04-25 02:27:58.569 D/EventLogger:     Group:0, adaptive_supported=N/A [
2021-04-25 02:27:58.569 D/EventLogger:       [ ] Track:0, id=3, mimeType=audio/eac3, channels=6, sample_rate=48000, language=hi, label="", supported=NO_UNSUPPORTED_TYPE
2021-0

[2021-04-26 10:49] icbaker commented on #8863
@aadityadoshi17798 that logcat (specifically `supported=NO_UNSUPPORTED_TYPE`) indicates the device you're using doesn't support the `audio/eac3` audio sample format. More info on supported formats: https://exoplayer.dev/supported-formats.html

[2021-04-26 10:52] doshi-github commented on #8863
Any way to fix this and make it work on all devices ?
Also currently I am using emulator in Android Studio
Here .mkv file is obtained from the link mentioned above

[2021-04-26 11:53] eneim commented on #5246
I would love to see the binary for old versions being stored on google() or some non-jcenter repositories.

[2021-04-26 12:22] christosts commented on #8471
Does the playlist attached [above](https://github.com/google/ExoPlayer/issues/8471#issuecomment-762090700) still point to valid content? I tried with ExoPlayer 2.13.3 (and set the user-agent as instructed), the player fails to parse the incoming data:

[code]

I downloaded the first two TS files manually (with the agent specified) and parsed them with [tsduck](https://tsduck.io/), the files appear

[2021-04-26 12:34] marcbaechinger commented on #6784
We are aware this could be done nicely with the Player API and it is on the list of features we want to add to CastPlayer. It's not something which is currently on a concrete roadmap I'm afraid.

[2021-04-26 12:46] christosts commented on #8840
Can you please share a link to your playlist? If you cannot post it here publicly, can you email it to dev.exoplayer@gmail.com with subject "Issue #8840" and update this issue so we get notified.

How often does this happen to you? I don't recall ever seeing this in local tests with the player, so I would like to test with your content.

[2021-04-26 12:54] marcbaechinger commented on #8844
When you are doing your own `DownloadService` you can override

[code]

your implementation can use `DownloadNotificationHelper` as a helper internally, but if you want to customize the notification you can return whatever `Notification` you build yourself.

[2021-04-26 12:57] Mkurbanov commented on #8863
new link: [Google Drive](https://drive.google.com/file/d/1sIA3CzqGoAyDOl36MGWcafMUV0l-1ihX/view?usp=sharing)

[2021-04-26 13:05] christosts commented on #8747
The link above returns an HTTP 404 (not found).

[2021-04-26 13:21] ArchanaGwda commented on #8866
@icbaker If I change to above code, on click of other data items, which is not changing to other content. Which is still playing the same content.

[2021-04-26 13:48] huttarl commented on #8837
Thanks for your response. Maybe it was a caching issue. I tried it today and it worked fine (displayed correctly) in both a Brave Private window and a non-private window. Sorry if this was a false alarm.

[2021-04-26 13:55] icbaker commented on #8863
@Mkurbanov When I play the provided file in the demo app I see this in logcat:

[code]

As mentioned above, this indicates the device I'm using doesn't support the `audio/eac3` audio sample format. It's likely your device doesn't either (some might, but it's not a requirement).

More info on supported formats: https://exoplayer.dev/supported-formats.html

[2021-04-26 13:55] #8863 closed, assigned to icbaker

[2021-04-26 14:33] icbaker commented on #8832
If you want us to look into this please provide the info requested above.

[2021-04-26 17:40] christosts commented on #8824
Hi,

I just checked the stream that was sent to us, but the stream  maybe has changed since last time. What I get now is single video track with two audio tracks, a 2 channel MPEG-L2 and a 6 channel AC-3. By default, the demo app's track selector would go to the 2 channel audio (I am using the ffmpeg extension to support this format, my devices do not support it directly).  But if I do as indicate

[2021-04-26 19:16] muzeasd commented on #8865
Ok. The delay is not because of exoplayer but because of Activity that hosts exoplayer. Let me show you code then discuss  the issue

[code]
As you can see in the above code, the activity that hosts exoplayer player is taking more than 12 seconds for big files. I don't know what should be done here. Can you guide? Thanks

[2021-04-26 20:18] elmateo487 commented on #6265
This seems like such low hanging fruit. In order to show an image on the view, such as when there is no internet and the stream isn't loading, we have to wrap the view with another image view. IMO, this view should just be displayed the second the player is displayed. Then we can listen for playback errors and show the whole PlayerView, which would then have an image on it

[2021-04-26 23:55] ronak2121 commented on #8595
@ojw28 just want to make sure this is on your radar for a future version of Exoplayer. Would it be reasonable to expect Dash SGAI support to be available by end of this year?

[2021-04-27 00:41] onetwobin commented on #8809
Thank you very much. I confirmed that exoplayer can play 8k 360 degree video by Android device (Samsung galaxy S20).

[2021-04-27 01:04] #8771 closed, assigned to lcf87

[2021-04-27 02:08] bladeofgod commented on #8832
sorry man, i dont have much more defatils, maybe this is video_player's bug,also it shows exoplayer in logs.
i'll close this issue and wait flutter's answer.  have a nice day. :)

[2021-04-27 02:08] #8832 closed, assigned to icbaker

[2021-04-27 02:13] GYT-cool commented on #8864
Please look at the picture below, the problem is that the embedded subtitles in the red box area cannot be displayed, this only happens when playing Dolby Vision MKV files.
![IMG_20210427_004032](https://user-images.githubusercontent.com/45682244/116174102-57efa200-a740-11eb-8512-741aed0d917c.jpg)

[2021-04-27 06:41] tumnus17 opened #8869 "How to play the second and or the third"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-04-27 06:49] tumnus17 opened #8870 "How to play the second or the third mp4 of my own file?"
Hi all ,
I have a file xxx.ivf which contain 3 mp4 video and when i play the video using MediaItem.fromUri(ivfUri); it alway play the first video then the player will be idle,so how to play the second or third video.the three videos are continuous MP4

[2021-04-27 06:52] tumnus17 opened #8871 "How to play the second or the third mp4 of my own file?"
Hi all ,
I have a file xxx.ivf which contain 3 mp4 video and when i play the video using MediaItem.fromUri(ivfUri); it alway play the first video then the player will be idle,so how to play the second or third video.the three videos are continuous MP4 ,and the offset of their beginning and the end are known。

[2021-04-27 06:55] tumnus17 commented on #8869
sorry about wrong operation

[2021-04-27 06:55] #8869 closed, assigned to nobody

[2021-04-27 06:55] tumnus17 commented on #8870
sorry about wrong operation

[2021-04-27 06:55] #8870 closed, assigned to nobody

[2021-04-27 07:08] ghost opened #8872 "Playlist with mixed framerate variants"
If a master playlist contain mixed framerate variants, i.e. 30fps and 60fps, can ExoPlayer pick by itself the one applicable for the device?

[2021-04-27 07:13] tumnus17 commented on #8871
the  atoms are like this：
ftyp
moov
sidx
sidx
moof
mdat
ftyp
moov
sidx
sidx
moof
mdat
ftyp
moov
sidx
sidx
moof
mdat
（some picture）

[2021-04-27 07:40] kim-vde commented on #8864
Please share an example of media that has the issue. If you're unable to share
test content publicly, please send it to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to
indicate you've done this.

[2021-04-27 08:45] kim-vde commented on #8868
It works for me with ExoPlayer `2.13.3` and NDK `21.4.7075529`.

[code]
[Here](https://github.com/google/ExoPlayer/tree/r2.13.3/extensions/ffmpeg) is the link to the installation guide in case you don't know about it.

Have you deleted the ffmpeg folder in `"${FFMPEG_EXT_PATH}/jni"` before creating the symbolic link with `ln -s "$FFMPEG_PATH" ffmpeg`? Have you tried running the commands of `build_

[2021-04-27 08:51] ag2s20150909 opened #8873 "Exoplayer v2.13.3 can't play 60 fps media"
#5921
- ExoPlayer version number 2.13.3
- Android version 7.1.2
- Android device vivo x9

[code]

[2021-04-27 09:02] kim-vde commented on #8871
If I understand correctly, you have a file containing concatenated MP4s. As the start and end offsets are known, you can clip the input file to play the second and third MP4. This is explained on [this page](https://exoplayer.dev/media-items.html#clipping-a-media-stream).

[2021-04-27 09:18] kim-vde commented on #8871
This seems to be a duplicate of #6720. Please tell us if your problem is different, and explain why it is different.

You can find more information about customization in ExoPlayer [here](https://exoplayer.dev/customization.html).

[2021-04-27 09:22] GYT-cool commented on #8864
Well, only 10 MB of attachments can be uploaded here, so I sent the example of media to dev.exoplayer@gmail.com.

[2021-04-27 09:44] ZygmuntMalek opened #8874 "Enabling audio renderer mid-playback causes short video playback freeze"
Precondition:
on ExoPlayer 2.8.3 we found behaviour that when muting audio with Dolby stereo audio stream ('big buck bunny test video')
audio were not modified ( probably were pass-trough )
previous code:
 `player.setVolume(0.0f);`

To workaround that we try to disable audio render.
Currently we are over switch to ExoPlayer 2.12.3
and use code:
`
DefaultTrackSelector.ParametersBuilder parametersBu

[2021-04-27 09:57] kim-vde commented on #8872
I am not sure I understand the question.

If you are asking about adaptive streaming, ExoPlayer supports DASH, HLS and SmoothStreaming and picks the suitable bitrate depending on the bandwidth, the device, etc. See our [Supported formats page](https://exoplayer.dev/supported-formats.html).

If your question is different, please clarify what you mean by "mixed framerate variants".

[2021-04-27 09:57] drayan85 opened #8875 "Help needed to add the Subtitles to cast using"
[code]

This is not displaying the selected subtitle on Chrome Cast
PS : Local ExoPlayer with new style player control working as expected
Cast Demo app is not updated and cast demo don't include subtitle implementation

[2021-04-27 10:15] kim-vde commented on #8873
I suspect that the renderer is not capable of handling the video, which wouldn't be surprising as the resolution seems to be 4K. Indeed, the format printed in the logs (`format=Format(1, null, null, video/avc, avc1.640034, -1, null, [3840, 2024, 59.999996], [-1, -1])`) indicates that the video width is 3840 pixels and that its height is 2024 pixels.

- Was it working with a previous version of Exo

[2021-04-27 10:16] tumnus17 commented on #8871
Thank you for your answer. It does help，but my question is not exactly the same as  #6720，it's similar to #6723 .The xxx.ivf file starts with a custom header. By parsing this header, we can get the offset of the next few mp4s. After parsing, the first mp4 will be played, and then the user interface will have two selection buttons for the user to choose to play the second one or the third one.    T

[2021-04-27 10:26] icbaker commented on #8875
I think this is a duplicate of #8669, specifically [this comment](https://github.com/google/ExoPlayer/issues/8669#issuecomment-792723005) from @marcbaechinger discusses adding support for subtitle tracks in `DefaultMediaItemConverter`.

[2021-04-27 10:39] kim-vde commented on #8871
ExoPlayer does not support the `csth` atom so you will need to parse it by yourself.

Once you have the start and end offsets of all the MP4s, you can create one `MediaSource` per MP4, using a different resolving data source for each. You can then pass the list of `MediaSources` to the player using `SimpleExoPlayer.setMediaSources()`, and seek to a specific media source by using `SimpleExoPlayer.s

[2021-04-27 10:56] tumnus17 commented on #8871
Got it.Thanks for the help😁.

[2021-04-27 10:56] #8871 closed, assigned to kim-vde

[2021-04-27 11:20] ZloyDyadka commented on #8747
Sorry, recheck please https://support-dm.erlyvideo.ru/wasd_live/test/index.m3u8

[2021-04-27 11:44] ag2s20150909 commented on #8873
I test on my new Android 10 devices,it work.Maybe  the cpu is too old.

[2021-04-27 13:53] lwld opened #8876 "MediaButtonEventHandler in extension-media2"
Hi,
we currently use `extension-mediasession` with the support `MediaSessionCompat`, and we are handling some hardware button events with a custom `MediaButtonEventHandler` (set in the media session connector with `MediaSessionConnector.setMediaButtonEventHandler(MediaButtonEventHandler)`). Essentially, we're handling `KEYCODE_MEDIA_NEXT`/`_PREVIOUS` and `_STOP` for custom handling before/after pl

[2021-04-27 14:04] ArchanaGwda commented on #8866
@icbaker Any Updates on this? Do we need to re initiate the player each time if there is content change ?? This is weird behavior I am getting. If I don't understand the flow I can't fix this issue. Please let me know why this is happening.

If I change to `setMediaSource` which works proper but no ads will play.

If I use `setMediaItem` I have **LiveTV** playing on launch. Where ad is getting pla

[2021-04-27 14:37] icbaker commented on #8864
Neither of the provided media files (P7 and P8) contain subtitle tracks (according to both `mediainfo` and ExoPlayer).

I played them both in the demo app. P7's video codec wasn't supported by my device. P8 played on my device and I saw the text shown in the screenshots in your email. Above the video I saw "Vacation \\ Go Go's" and then later, below the video I saw "Can't seem to get my mind off o

[2021-04-27 14:37] #8864 closed, assigned to icbaker

[2021-04-27 14:43] icbaker commented on #8873
Content for this issue has been provided over email.

[2021-04-27 17:12] christosts commented on #8747
I tested the stream with version 2.13.3 and it worked fine. The stream is identified as

[code]

I see a grey-scale image with an increasing timer and a bip sound every second. Is this the expected content? I did not reproduce any freezing.  Are there specific steps/setup that reproduce the issue?

[2021-04-27 18:44] dzolnai commented on #8868
I have tried cloning both the ExoPlayer and ffmpeg repo's again, and following the guide step by step, but I get the same result.

No, the ffmpeg directory is there.

NDK versions were freshly installed from Android Studio.

It fails on the configure call. To be specific, my configure command looks like this:

[code]

I remember the r2.11.3 build working on this exact same machine. Trying to build

[2021-04-27 19:31] marcbaechinger commented on #8875
Yes, @icbaker is right that this is currently not supported and is tracked with #8669 that is marked as an enhancement. I updated the title of the other issue to clarify this.

We don't have an ETA for this right now but  you can inject your own `MediaItemConverter` into `CastPlayer` to do that conversion yourself.

Please add you rcomments regarding this to #8669. I'm closing this as a duplicate.

[2021-04-27 19:31] #8875 closed, assigned to marcbaechinger

[2021-04-27 22:16] ghost commented on #8872
I have attached sample playlist with mix framerate for better understanding.
We want to know if exoplayer smart enough to pick the 30fps/60fps variant based on device capability.
In other word, we want to know if exoplayer capable to pick not only the right bitrate but also framerate (30fps/60fps)
[Consolidated-Sample-Playlist-20210406.zip](https://github.com/google/ExoPlayer/files/6387945/Consoli

[2021-04-28 07:46] kim-vde commented on #8873
Thanks @icbaker.

The content provided also plays on my Pixel test device. The AVC decoders on your vivo device are probably unable to decode such a resolution.

If you want to be sure, you can debug and check what happens in `MediaCodecVideoRenderer.supportsFormat()` or in `MediaCodecRenderer.maybeInitCodecWithFallback()`.