[2021-06-23 16:54] icbaker commented on #8696
I got hold of a OnePlus AC2003 because it was reported as repro-ing this problem reliably in #9095.

On Android 10 I saw no problems, I switched from clear -> secure -> clear decoders every second for several minutes with no problems.

I updated the device to Android 11 and immediately saw the problem (on the first secure -> clear transition).

[2021-06-23 17:29] Pentaphon opened #9103 "c2.android.vp8.decoder doesn't play videos with odd resolutions (e.g., height=405px)"
Here's the problematic file which results in the following error:

![Screenshot_20210623-102205](https://user-images.githubusercontent.com/49374058/123141615-6d660d00-d40d-11eb-9121-cd2a8898ca7a.png)

https://gofile.io/d/pOEXA2

1) Download the file from the filehost link and play with Exoplayer 2.14.1
2) Observe the error message you can see above; playback fails
3) Tried another player aka https

[2021-06-23 21:48] connected-rramesh opened #9104 "Support for RTP under RTSP module"
In our project, we would like to just use RTP over UDP to stream a live video. In the current RTSP module , one can see support for `RtspMediaSource`
Eg:
[code]
Does Exoplayer support RtpMediaSource ? Or is there a way to use Rtp protocol for streaming under Rtsp module (2.14.1)?

[2021-06-24 01:04] #8929 closed, assigned to kim-vde

[2021-06-24 04:39] ankitakukreti opened #9105 "Notification not working in android 11 with ExoPlayer 2.9.6"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-06-24 06:33] krocard commented on #8594
[Investigations](https://github.com/google/ExoPlayer/issues/8594#issuecomment-801429759) suggests that only some devices running on Android 10 are affected by this issue, which is caused by incorrect reporting by the platform of the decoder's name. The platform issue seems to have been fixed in Android 11.

[2021-06-24 06:39] Debayudh commented on #9097
@icbaker using onTimelineChanged works for getting the cue points.
Thank you for helping.

[2021-06-24 06:45] Debayudh opened #9106 "Adding same ad url for multiple MediaItems does not work"
While passing same List of MediaItems into player, if the same ad url is used for multiple Media Items, the ad plays only once and does not play for subsequent MediaItems.

[2021-06-24 06:56] andrewlewis commented on #9106
Please could you try passing a different `adsId` for each `MediaItem`? See the explanation here: https://exoplayer.dev/ad-insertion.html#playlists-with-ads

[2021-06-24 06:58] javicamarero commented on #9102
Apparently it was an error from server, the file wasn't encrypted properly

[2021-06-24 06:58] #9102 closed, assigned to nobody

[2021-06-24 07:27] ashutoshgngwr commented on #8594
@krocard Sorry, I missed it between the two issues. How come is it not a regression bug? It was working prior to ExoPlayer r2.12.0 (works with r2.11.8 to be precise). If it is a regression bug, wouldn't the platform conditions be the same for both ExoPlayer versions? If they will be, how does it not occur in r2.11.8 and prior releases? I hope you see my point. I am not familiar with the project in

[2021-06-24 09:13] claincly commented on #9104
No we don't support playing bare RTP at the moment.

The player preparation, decoder initialization requires the out-of-band data from RTSP.

Could you provide some detail as to how you would transmit those info? Do you play live? What format are you planning on playing?

[2021-06-24 09:46] icbaker commented on #9105
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2021-06-24 10:09] VivekThummar52 opened #9107 "Setting Audio/Video name to TextView"
Hey there, i'm just started using exoplayer after very long time and i have one question, let me explain it to you:

we can use `exo_id's` for `button`, `seekbar` and some other controls like:

    <ImageButton android:id="@+id/exo_rew" />    //  default id
    <ImageButton android:id="@+id/exo_ffwd" />   //  default id
 and many more but i'm unable to find anything similar for showing file name t

[2021-06-24 10:42] #9097 closed, assigned to icbaker

[2021-06-24 11:04] krocard commented on #8594
There are 2 main mp3 software decoders:
 - OMX.google.mp3.decode
 - c2.android.mp3.decoder

Unfortunately they don't handle timestamp in the same way [1]. Prior to 2.12.0 we threaded both the same as the OMX one so there was no issue for most phones, as only few ones at the time had the c2 decoder.
In 2.12 we added code to detect `c2.android.mp3.decoder` and account for the timestamp differences.

[2021-06-24 11:08] krocard commented on #8594
@ashutoshgngwr Could you post the output of `adb shell "grep -A5  c2.android.mp3 $(find / -name media_codecs* 2>/dev/null)"` on the device where you identified the regression? Please give us the device name too.

[2021-06-24 11:17] icbaker commented on #9107
What is `filePath` in this context? It sounds like something defined by your application rather than by ExoPlayer?

ExoPlayer identifies media with `MediaItem`, which has a `uri` field, but this might be e.g. an HTTP URL, or any other supported scheme.

I may be misunderstanding, but it sounds like you're basically asking to add a `TextView` to `PlayerView` with some custom content? If doing that

[2021-06-24 11:34] ashutoshgngwr commented on #8594
@krocard I ran both versions of ExoPlayer (r2.11.8 and r2.14.1) on a Pixel 3 emulator running `system-images;android-29;google_apis;x86` image. The following is the output that you requested.

[code]

Before this encounter, when I had originally reported the issue #7994, my device (Xiaomi Mi A3) was running Android 10, and I observed the same behaviour on it as well. Gapless playback worked fine w

[2021-06-24 12:00] VivekThummar52 commented on #9107
Sorry, it's my mistake because it's looks like it is almost impossible to do what i want but still i will ask you one more time(may be there will be any solution)..
Suppose i'm playing video from android device and there is some video at some location named `sample video.mp4`, then may be exoplayer can extract title `sample video` from it and then automatically title was set to the `textView` in w

[2021-06-24 12:17] Empressia opened #9108 "sending message to a Handler on a dead thread when extracting metadata."
When I extracted metadata from an audio file in an asynchronous thread, I got the following exceptions (warning).

* code sample (called in an  asynchronous thread)

* exception 1

* exception 2

I searched for the issues and found a similar issue.
https://github.com/google/ExoPlayer/issues/426

But it was calling ExoPlayer on ui thread.

Can I avoid warnings in this case?

[2021-06-24 13:21] icbaker commented on #9103
The provided file plays fine for me in the 2.14.1 demo app on a Pixel 3a XL. This selected the `c2.qti.vp8.decoder` codec.

It sounds like this might be device-specific and unfortunately I don't have access to a Motorola G Play (2021) to test with.

Do you observe this on any other devices?

Does it fail 100% of the time or is it only occasional? (the linked issue suggests the failure is occasiona

[2021-06-24 13:45] icbaker commented on #9103
I've managed to reproduce on my Pixel 3a XL by forcing the demo app not to use the `c2.qti.vp8.decoder` decoder so that it picks the `c2.android.vp8.decoder` decoder instead.

The codec name suggests it's coming from AOSP - I will raise this issue with the team that maintains those.

One thing that looks unusual is that the height of the video is an odd number of pixels (405), it might be that thi

[2021-06-24 14:09] thibautperrin opened #9109 "Management of dynamic PMT"
Hello,
I am building a DVB-T TV player, with Exoplayer.
I recently discovered how some TV channels, like Canal+, proceed to be in clear mode at some time and in crypted mode at other time.
Actually, the stream PIDs in the PMT are changing, (but the PMT's PID remains the same).
The problem is that my DVB scan is static, and when I try to watch this channel, I would need to retrieve the PMT content

[2021-06-24 14:24] icbaker commented on #8696
This is also tracked by [internal b/191966399].

[2021-06-24 15:08] connected-rramesh commented on #9104
Thank you for your reply.
The source is a live camera feed of RTP packets formatted as H.264. We would like play this live feed using Exoplayer.

Eg: Sample RTP URI
"rtp://192.168.4.21:5000"

[2021-06-24 15:10] icbaker commented on #9103
Actually this sentence isn't fair, because we round the height up to an even number before querying the platform:
https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecInfo.java#L657-L660

If I remove those lines then playback still fails, but at least it's clear that the file isn't supported

[2021-06-24 15:47] icbaker commented on #9107
ExoPlayer only identifies media by URI. In the case of a local file, that's something like `file:///sdcard/Download/my video.mp4`, and I can see how `my video` might be a useful value to extract from that.

However, the URI might be `https://long.cdn.domain.com/long-obscure-path/with-lots/of-numbers/837489379872395479823759/4738278.mpd?and=some&query=parameters#and-maybe-a-fragment`. In that case

[2021-06-24 15:47] #9107 closed, assigned to icbaker

[2021-06-24 16:07] daugeldauge opened #9110 "Implicit PendingIntent Vulnerability in PlayerNotificationManager"
It seems like pending intent created in [PlayerNotificationManager](https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L1599) violates Google Play policy (see https://support.google.com/faqs/answer/10437428). Component in base intent is not set and there is no FLAG_IMMUTABLE in p

[2021-06-24 16:09] icbaker commented on #9108
You can safely ignore those warnings (for the same reason explained in the comments of #426).

I suspect they're happening because the `Loader` inside `ProgressiveMediaPeriod` is released asynchronously here:
https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/core/src/main/java/com/google/android/exoplayer2/source/ProgressiveMediaPeriod.java#L219

But `Metada

[2021-06-24 16:28] icbaker commented on #9092
Just to check: You've measured a throughput of 100Mbps on the 'slow' link? When the throughput is that much higher than the required capacity (~2.5Mbps in this case?) but you're still seeing problems it seems like other properties of the link must be causing you problems. e.g. is it burst-y, so fast for a bit then slow for a bit, or is the latency really jittery? If it averages 100Mbps because it

[2021-06-24 17:09] rrfrias commented on #8373
Xiaomi has issued software updates for the Redmi Note family of devices.

The Redmi Note 9
* android 10: should have addressed this issue with a December 2020 update
* android 11: should have contained the fix from launch.

Devices that previously encountered this error when requesting a license will continue to fail until provisioning is attempted again. One way is to force provisioning again by

[2021-06-24 17:13] marcbaechinger commented on #9110
Thanks for reporting!

I think this already landed in the dev-v2 branch but not in the release branch. Will be included with the next release:

https://github.com/google/ExoPlayer/commit/5ff2d24faba529a92d57be2f389fedf234560d96#diff-81e3997acc8088ad028a86594387431b3779700a7190124a9298a680896f76a3

From the doc you linked:

[code]

So beside the FLAG_IMMUTABLE we have to make sure the intent is exp

[2021-06-24 17:31] Sasikumartech commented on #9060
Thanks @krocard . We checked on Volume +/- Which is working fine. We are approaching the driver further.

[2021-06-24 18:53] ryxryx opened #9111 "Accessibility: after tap play/pause button, the accessibility focus goes to the parent page view"
Steps to reproduce

- Enable "TalkBack" on your Android device
- Go to play any video
- Tap on player area -> TalkBack says "show player controls"
- Activate it to make Player controls show
- Tap on pause button -> video is paused, but accessibility focus is not on the player anymore. Ideally the focus should fall on play button. Same thing when tapping on play button.

Here is the xml of my exopl

[2021-06-24 19:16] Pentaphon commented on #9103
Absolutely 100% of the time. I've tried it again just now to be sure. It never plays.

I have a Snapdragon 632 device and an Exynos tablet that do not show this error, oddly enough. Those devices are a bit more mature than my current Snapdragon 460 device (the Moto G Play 2021) that shows the error.

I've seen this error on another user's bug report (with log) on another Exoplayer-based app, an in

[2021-06-24 19:54] #9110 closed, assigned to marcbaechinger

[2021-06-24 21:38] claincly commented on #9104
If I understand you 100%, you are playing a camera feed with video only, and the video in H264, bearing a hard coded payload type (Im guessing 96?)

Do you hard code the sps/pps data also? If so, it will be a lot easier. Where if you don't have sps/pps before hand, it requires some work to initialize the decoder (with a logic very similar to `H264Reader` in the ts package.)

[2021-06-25 02:10] zourb commented on #8471
I had the same problem. any updates about this?

[2021-06-25 02:22] dangphan opened #9112 "Exoplayer crashes when it stream long time (around 4 hours)"
I don't know below error when app streaming long time around 4 hours.
Could you tell me how to prevent crashing app?
Besides, I use VLC is working normally.

[code]

[2021-06-25 06:37] hot1sp commented on #9092
Thank you very much for the quick answers.
I have few more questions:
1.To which parameter value the ExoPlayer set the following parameter coming in Manifest ? "MinBufferTime"
2. Can you please provide more information on the usage of this parameter on ExoPlayer ?
 I didn't realize it from the Documentation.
 Thanks.

[2021-06-25 06:43] zhbhhh opened #9113 "play rtsp"
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-06-25 06:45] #9113 closed, assigned to nobody

[2021-06-25 06:50] zhbhhh opened #9114 "rtsp.MediaDescription.getFmtpParametersAsMap failed and crashed."
When  I to play RTSP  APP crashed

[code]

[2021-06-25 09:12] MoffatMore commented on #8473
Which OS?

[2021-06-25 10:16] ojw28 commented on #9111
Thanks for raising this! There's some logic in `PlayerControlView` that handles this for key focus, but it doesn't appear to handle the accessibility focus case at the moment. For key focus, we:

1. Transfer focus from the play button to the pause button (and vice versa) when playback is started (and stopped)
1. Focus either the play or pause button (depending on the player state) when the control

[2021-06-25 10:38] claincly commented on #9114
Please provide a log of RTSP messages.

Add logs at

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMessageChannel.java#L182

and

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspClient

[2021-06-25 11:11] #9034 closed, assigned to andrewlewis

[2021-06-25 11:15] Samrobbo commented on #9108
Despite my work on Metadata, @kim-vde is the go to guru for `MetadataRetriever`, especially with `ListenableFuture`s and async operations. I'll reassign to her in case she wants to do anything about the logs, but ultimately I think ignoring them is fair.

[2021-06-25 11:41] giladna commented on #9094
@icbaker
Any update for that?

[2021-06-25 12:04] md84419 commented on #8473
@MoffatMore https://github.com/google/ExoPlayer/issues/8473#issuecomment-843117069

[2021-06-25 12:06] MoffatMore commented on #8473
Alright thanks ill consider upgrading OS

[2021-06-25 12:32] giladna commented on #9106
From what I know changing the correlator attribute  value with different timestamp each ad request solves it

samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dlinear&correlator=123456

[2021-06-25 13:12] BucherTomas commented on #8373
@rrfrias thank you very much for the update. Did Xiaomi or can you, however, provide any hints about how to identify these circumstances so that the app can throw NotProvisionedException?

Because the device presents itself as provisioned, the issue manifests itself only after a license is acquired and at that moment it is already late. The DRM subsystem then does not propagate the actual reason t

[2021-06-25 13:38] vijaykumar0887 opened #9116 "MediaCodec$CodecException: Error 0x80000000 on android 11 devices"
Exoplayer throwing `MediaCodecVideoDecoderException` while trying to play DASH content with codec "avc1.4d400c" and "avc1.4D4015"
Issue can be reproducible in exo player demo app. Kindly provide the solutions

[code]

 ExoPlayer version number : 2.14.1
- Android version - android 11
- Android device - Google pixel 4a

Would share content URL, license URL and steps in mail

[2021-06-25 16:52] connected-rramesh commented on #9104
Yes its a video only frame in H264. I am not sure about the payload type of 96.

We are currently using this ffmpeg command to convert the live camera feed to rtp stream
`ffmpeg -f v4l2 -framerate 30 -i /dev/video2 -vcodec libx264 -preset ultrafast -tune zerolatency -f rtp rtp://192.168.1.82:5000`

From the above command I believe we are not hardcoding the sps/pps data during the conversion.

Belo

[2021-06-25 17:31] rrfrias commented on #8373
The bug causes an invalid signature in the license request. The invalid signature is detected at the license service and a 106 error is returned. It is up to the partners license service to return an error. In this case the license service returns an HTTP 422 error. If the error returned to the app is unique enough that it is able to identify a invalid signed license request a re-provisioning can

[2021-06-25 18:46] chvp commented on #9084
Any progress on this? Due to the `SessionPlayerConnector` class being `final` and the `SessionPlayer` not being an interface but an abstract class, there is no easy way to create a delegate or proxy to work around this behaviour.

[2021-06-25 18:47] claincly commented on #9104
I don't know much about ffmpeg, but I think you can stream RTSP using ffmpeg also, a Google search gave me this command

[code]

It'll be much easier to use ffmpeg to serve RTSP than modifying ExoPlayer to play an RTP stream.

[2021-06-25 19:12] iblh opened #9117 "How the player parse url to IP address"
I would like to dive into the logic of url parser. But I only found how the UDP do ([UdpDataSource](https://github.com/google/ExoPlayer/blob/bd54394391b0527893f382c9d641b8a55ffca765/library/core/src/main/java/com/google/android/exoplayer2/upstream/UdpDataSource.java#L91-L119)) but couldn't find the TCP method.

Would very appreciate if someone could help me understand where is the function to impl

[2021-06-26 08:29] #8765 closed, assigned to lcf87

[2021-06-26 09:40] Tolriq commented on #8946
Small bump for someone else maybe?

[2021-06-26 09:57] Tolriq opened #9118 "Ensure logs from AudioTrack.getMinBufferSize are reported back to the application"
### [REQUIRED] Use case description

I'm getting the following crash from an user but the underlying error is not logged except on the device logcat and users are often not willing to send full bugs report dumps from their device due to the sensitive nature of those.

[code]

### Proposed solution
Have that function logs send up to the normal log Exoplayer EventLogger

### Alternatives considered

[2021-06-26 12:45] 24Lathiya opened #9120 "Exoplayer should play video with lowest video quality"
I would like to play my video at the lowest resolution(256x144). I have configured the DefaultTrackSelector by setting two parameters:

1.`setMaxVideoSize(width, height) ` to limit the resolution to your parameters.
2.`setForceHighestSupportedBitrate(true)` to force-select the highest bitrate that is still within size constraints.

**Full Code**

[code]
But still, it is playing video with differen

[2021-06-27 16:37] sruditsky opened #9122 "Seek to initial position in a live stream using absolute time"
Let's say ExoPlayer is playing a live stream with a relatively long playlist (e.g. one hour).
The user pauses the playback and leaves it paused for long enough for the device to fall asleep.
Later the device is woken up and the playback is restarted.
What would be desirable is to restart it from the position where it was paused.

It is possible to call prepare, wait for the moment when the timelin

[2021-06-27 20:59] Jimbo94 commented on #5491
Any news on this? I am also interested in this

sounds promising

[2021-06-27 21:54] reevn opened #9123 "EventMessageEncoder encoding wrong duration"
Hi there!

**This problem is not specific to any platform or ExoPlayer version.**

## Problem

I've encountered a problem with how the duration of `EventMessage`s (such as DASH `EventStream` events) is parsed. Per DASH spec it is valid to omit the duration of an MPD event, which means that the duration is unknown. In that case, this is the current workflow as far as I understand it:

- [`C.TIME_UN

[2021-06-28 07:12] ab503044120 opened #9124 "stop() cause crash"
the crash log is follow:
 java.lang.IllegalStateException
        at com.google.android.exoplayer2.util.Assertions.checkState(Assertions.java:84)
        at com.google.android.exoplayer2.util.ExoFlags$Builder.add(ExoFlags.java:54)
        at com.google.android.exoplayer2.util.ListenerSet$ListenerHolder.invoke(ListenerSet.java:280)
        at com.google.android.exoplayer2.util.ListenerSet.lambda$qu

[2021-06-28 09:04] chuanpham commented on #6168
Did you have the answer for your question?

[2021-06-28 09:15] krocard commented on #8946
It's surprising that there is no log after the play(). This could be because the `ffmpeg` decoder is in an error state.
You might have to call `prepare()` when receiving the error to reinitialize the renderers.
If that doesn't work, try to release the player and create a new one. Save the index of the next track in the bugged player and seek to it in the new player.

[2021-06-28 09:17] meyerhp opened #9125 "Why is Exoplayer making multiple requests?"
My question is related to this issue: https://github.com/google/ExoPlayer/issues/6635

I understand that Exoplayer needs to make three requests due to the order of the boxes in the MP4 file, but why is it doing the same thing for Ogg? And is there a way to get around this issue similar to the solution provided for MP4 files:

Here is a sample API I used for testing
https://gist.github.com/meyerhp/

[2021-06-28 09:30] jcblancomartinez commented on #6168
## Steps to Reproduce

[code]

**Expected results:**

All video players to be initialized correctly.

**Actual results:**

An initialization error happens in some Android devices. It works fine in Android emulator.

2 random videos out of 6 fail to load. The videos that fail to be loaded using the same code are not deterministic.

<details>
  <summary>Logs</summary>

[code]

[code]

</details>

##

[2021-06-28 09:43] Tolriq commented on #8946
Adding a ```prepare()``` after the ```next()``` call in case of this error does seems to work.

But this is still a workaround that should probably be handled at ExoPlayer side?
This triggers a stopped state at the end of the broken song, causing full screen now playing to be dismissed or blinking of UI due to the temporary wrong state.
And while this recovers this specific state, maybe there coul

[2021-06-28 10:05] ojw28 commented on #9084
Thanks for the pull request! I posted one comment there for you to take a look at. Once we resolve that one way or another, I think we're good to get that merged in.

[2021-06-28 10:17] ojw28 commented on #9118
It's unclear what you're asking for. What is the "underlying error" that you're referring to?

* If you're referring to the stack trace, you should find that the exception is reported via `onPlayerError` when playback fails. From there you can log it however you like.
* If you're referring to some logging that's output to logcat by the underlying platform, it may well be that we don't have access

[2021-06-28 10:27] Tolriq commented on #9118
OMG I'm so sorry, I absolutely did not thought 1 sec about checking the package for ```AudioTrack.getPcmDefaultBufferSize()``` that is Android SDK and not ExoPlayer.

There's effectively nothing you can do about the logcat stuff.

Sorry again for the noise, I guess I'll have no choice than having users send full debug reports in those cases.

[2021-06-28 10:27] #9118 closed, assigned to ojw28

[2021-06-28 10:33] ojw28 commented on #9118
If you know that there is useful logging happening underneath, it would be interesting to see an example of what it looks like. We can ask the platform team if it's possible for them to start bubbling it up to us for logging purposes (from Android T onward).

[2021-06-28 10:52] chuxia98 commented on #6168
@chuanpham   @asongkai
you can do like this [code](https://github.com/chuxia98/flutter_demo/blob/main/lib/page/video_player_list_page.dart)

[2021-06-28 11:05] Tolriq commented on #9118
@ojw28

It's all about: https://cs.android.com/android/platform/superproject/+/master:frameworks/base/media/java/android/media/AudioTrack.java;l=2300?q=getMinBufferSize&ss=android%2Fplatform%2Fsuperproject

But maybe there's a way to detect before or better before manually from ExoPlayer?

When playing from certain server I can request transcoding on the first 3 errors to supported media, but know

[2021-06-28 11:20] ojw28 commented on #9118
Thanks. I've filed [internal ref: b/192226595] to request better error codes from the platform in this case.

We might be able to determine the cause at the ExoPlayer level by mimicking the logic in the platform, but that seems very error-prone (e.g., it can easily go out of sync, and may be out of sync already on some devices if OEMs have made platform modifications). So I'm not convinced it's a

[2021-06-28 13:47] nick-tkachov opened #9126 "Allow Exoplayer to toggle the buffering of segments without affecting playback."
### [REQUIRED] Use case description
In certain situations, we want to stop buffering segments without having the player stop playing. For example, if the user is on Wifi when they start playback, we would like to be able to stop loading segments if they switch to cellular and continue loading if we re-connect to wifi.

Right now, exoplayer has no official way of doing this which means the implemen

[2021-06-28 18:29] Falrach opened #9127 "Apple LLHLS Playlist Delta Updates playback problems"
Encountering a weird behaviour when playing an Apple LLHLS stream using the Playlist Delta Updates in ExoPlayer.

The Playlist Delta Updates ([rfc-6.2.5.1](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-6.2.5.1)) are implemented according to the standard on the server side and when disabling them, all the issues are gone.

**Issue 1:**
When starting the live playback, th

[2021-06-28 20:43] ryxryx commented on #9111
Hello, thanks for you reply.

For #2, it's probably not needed. The users can choose to select the control they want. The accessibility team I have worked with didn't mention they would prefer a behaviour like this, but this is just our thoughts.  Thanks!

[2021-06-28 22:50] cruiz666 opened #9128 "Live audio plays only first segment from 2.12.x version"
I'll send example and url to reproduce the issue via mail. Thanks

[2021-06-29 07:58] hafiz013 opened #9129 "How to refresh content media data"
Create mediabrowser below here:

[code]

class GUI here

[code]

Inside class music service :

[code]

Below here my class for AMPlaybackPreparer

[code]

So i fetch data from api and store at sharedpreferrence. So my question is that how to get refrech new media data (fetch from api then store shared preference) after created media browser once?

[2021-06-29 08:09] dani3l3 commented on #9098
Ok thanks, I fixed it with the other method but I'll look into what you suggested.
Just to clarify, I was not using MediItem.Builder, but simply MediaItem.fromUri(url). I understand this needs to be set explicitly now.

[2021-06-29 08:09] #9098 closed, assigned to icbaker

[2021-06-29 08:23] kim-vde commented on #9112
The error is thrown because the format of a video sample is not supported (see [VideoTagPayloadReader](https://github.com/google/ExoPlayer/blob/r2.14.1/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/flv/VideoTagPayloadReader.java#L74)). ExoPlayer only supports H.264 for FLV files ([corresponding to video encoding ID 7](https://en.wikipedia.org/wiki/Flash_Video)). The sampl

[2021-06-29 08:40] kim-vde commented on #9116
Could you take a look @icbaker ?

I suspect it is linked to DRM from the stacktrace:

[code]

[2021-06-29 09:29] krocard commented on #8946
I agree that this should be handled on ExoPlayer side. I'll try to root cause the issue to see how to detect it and recover.

Note this is not high priority as there is a workaround available and it only affect the FFMPEG extension which is non trivial to debug. I don't know when I'll have the time to dive in.

[2021-06-29 09:43] Samrobbo commented on #8932
I'm not quite sure how this relates to ExoPlayer. Can you not download the thumbnail through normal methods to download an image on android?

[2021-06-29 09:53] kim-vde commented on #9117
This is handled by the libraries used by ExoPlayer (e.g. Cronet, OkHttp) or by the layers below, not by ExoPlayer directly.

[2021-06-29 09:54] krocard commented on #8891
What bitrate are the audio file now? Underrun can have many causes, it is possible that the Moto G has an other issue.

Passing a custom buffer size to the `DefaultAudioSink` is not very convenient, but there are 2 ways:
 1) wrap the `DefaultAudioSink` in a `FowradingAudioSink`, overriding `configure` to change `specifiedBufferSize`.
 2) modify `DefaultAudioSink` to change `MIN_BUFFER_DURATION_US`

[2021-06-29 10:00] krocard commented on #8946
`ffmpegReset` is called on flushDecoder which is called onPositionReset: https://github.com/google/ExoPlayer/blob/bd54394391b0527893f382c9d641b8a55ffca765/extensions/ffmpeg/src/main/java/com/google/android/exoplayer2/ext/ffmpeg/FfmpegAudioDecoder.java#L102-L105

[2021-06-29 10:12] kim-vde commented on #9120
From the logs you provided, it seems that none of the video resolutions in the stream are under the max size set (256x144). Could this be the reason?

Please provide a test stream if you need us to investigate this further so that we can reproduce. If you're unable to share test content publicly, please send it to dev.exoplayer@gmail.com using a subject "Issue #9120". Please also update this issue

[2021-06-29 10:32] usmanrana07 commented on #7887
Is there any option to cache only initial few seconds or some percentage of video instead of cancelling request manually after specific time?

[2021-06-29 10:41] kim-vde commented on #9122
However, this seems to inevitably leave some chance that some media will be downloaded before the seek (i.e. for a wrong playback position).

You can save the window and position before the device falls asleep and call seekTo before prepare (like we do in our [demo app](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.ja

[2021-06-29 11:05] kim-vde commented on #9124
It seems that `flagsBuilder.add()` is called after `flagsBuilder.build()` on the same object in [`ListenerHolder`](https://github.com/google/ExoPlayer/blob/r2.14.1/library/common/src/main/java/com/google/android/exoplayer2/util/ListenerSet.java) (`ExoFlags` was renamed  to`FlagSet` recently). This error does not occur on our demo app, and I don't see how it can be thrown by looking at the code.

A

[2021-06-29 11:24] yangcyzhang opened #9130 "OutOfMemoryError"
Caused by: java.lang.OutOfMemoryError: pthread_create (1040KB stack) failed: Try again
at java.lang.Thread.nativeCreate(Native Method)
at java.lang.Thread.start(Thread.java:893)
at java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:975)
at java.util.concurrent.ThreadPoolExecutor.execute(ThreadPoolExecutor.java:1382)
at java.util.concurrent.Executors$DelegatedExecutorService.

[2021-06-29 11:27] #8925 closed, assigned to christosts

[2021-06-29 11:28] christosts commented on #8909
@NG-Gaurav have you tried the recommendation above?

[2021-06-29 11:34] #9001 closed, assigned to christosts

[2021-06-29 12:22] Empressia opened #9131 "Continue to output errors while playing FLAC files."
I play some mediaitems like below.

[code]

When I called this in a FLAC file. I received error messages (not in mp3 and m4a files) (The sound is playing from the speakers).

The "expected" and "got" values are different every time
* extract from contiguous logs

* Environment
    * ExoPlayer version number -> 2.14.1
    * Android version -> 11
    * Android device -> Xperia 10 II

What does this

[2021-06-29 12:28] aasitnikov opened #9132 "Downloader blocking on Cache"
In my app I have two components. First is "player", which accepts `MediaSources` with `CacheDataSource` in it. When this player is asked to play some new media, it fetches data via `HttpDataSource` and puts it in a `Cache`. Second is "downloader", which uses `Downloaders` like `ProgressiveDownloader` or `HlsDownloader`, which use `CacheDataSource.Factory` to cache media. Both components share the

[2021-06-29 13:06] ab503044120 commented on #9124
yes,I always accessing the player from the correct thread
the correct version is 2.14.1

[2021-06-29 14:19] christosts commented on #9092
In Low-Latency live streaming, the player cannot make bandwidth measurements when downloading segments close to the live edge because these segments are not downloaded at full speed, therefore they are not good sample points for estimating bandwidth throughput. As a result, when the player is streaming Low-Latency live streams:
- it uses any preexisting bandwidth estimation and does not change it

[2021-06-29 15:02] christosts commented on #9047
@SUNYTYAGI, I have tested with your Sample Index Manifest and this will not work with ExoPlayer because the assumptions I described in my previous [comment](https://github.com/google/ExoPlayer/issues/9047#issuecomment-860845735) do not hold. At the moment of writing this comment:

- the Sample Index Manifest points to two variant with same EXT-X-STREAM-INF tag however
- when downloading segments f

[2021-06-29 15:22] Stonos opened #9133 "Xiaomi Mi Box S + Tunneling + HEVC results in no video output until I seek"
I have an HEVC DASH live stream which has the following issue on a Xiaomi Mi Box S (oneday) running Android TV 9:

If tunneling is disabled, the stream works as expected. However, if tunneling is enabled, then I can hear the audio, but there is no video output (black screen). The video will only start rendering once I seek the stream.

Tested with ExoPlayer v2.14.1

I have sent a bugreport & a sam

[2021-06-29 15:52] icbaker commented on #9116
I'm unable to reproduce the problem using the media provided while VPN'd into the requested geo, the DRM connection times out:

[code]

[2021-06-29 16:21] apptrash commented on #9037
@christosts, Hello! Any updates here?

[2021-06-29 16:36] kim-vde commented on #9125
The extractor jumps to the end of the Ogg file to compute the duration. Indeed, the duration is computed based on the granule position of the last [page](https://en.wikipedia.org/wiki/Ogg) (see [DefaultOggSeeker](https://github.com/google/ExoPlayer/blob/r2.14.1/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ogg/DefaultOggSeeker.java)). I don’t think it is possible to do an

[2021-06-29 16:48] kim-vde commented on #9128
I have just requested access on the file you provided.

[2021-06-29 17:10] cruiz666 commented on #9128
Done!

El mar., 29 de junio de 2021 12:48, kim-vde ***@***.***>
escribió:

[2021-06-29 20:48] ridanasif opened #9134 "How to get new duration of a video after changing its speed?"
Hi. I know it's not an important question but is there any way that I can get the new total duration of a video after changing it's speed using the Playback Params? I think we could just get the duration by simply multiplying the original duration with the speed that we have passed in the playback params but this could be just arbitrary right? Is there any official way on how to do this? Any help

[2021-06-30 02:01] iblh commented on #9117
Thanks a lot, I have found that is implementd by [DefaultHttpDataSource](https://github.com/google/ExoPlayer/blob/bd54394391b0527893f382c9d641b8a55ffca765/library/common/src/main/java/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java) -> `java/net/URL.java`

[2021-06-30 02:01] #9117 closed, assigned to kim-vde

[2021-06-30 07:28] GAYANJ95 commented on #9094
@icbaker Any update on this issue?

[2021-06-30 08:06] dangphan commented on #9112
Thank you kim-vde

[2021-06-30 08:35] #9112 closed, assigned to kim-vde

[2021-06-30 08:59] nikola5ra commented on #8334
@krocard any update on this ticket? Thanks.

[2021-06-30 09:21] kim-vde commented on #9128
I can reproduce by trying the stream URI in the demo app. It is working in 2.12.3 but not in dev-v2. The content is live HLS. Can you have a look @christosts ?

[2021-06-30 09:43] kim-vde commented on #9129
I am not sure I understand the question. Is this question about retrieving `SharedPreferences` values? If so, please refer to the [documentation](https://developer.android.com/training/data-storage/shared-preferences). If not, please specify the place in the code where your problem is (I don't see any usages of `SharedPreferences`) and why this is ExoPlayer related.

You can also check the [UAMP](

[2021-06-30 09:53] kim-vde commented on #9130
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-06-30 10:07] kim-vde commented on #9131
This means that the audio timestamps provided in the FLAC content provided do not correspond to what the `AudioSink` is expecting ([code](https://github.com/google/ExoPlayer/blob/r2.14.1/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L791)).

Imagine you have a FLAC file with audio samples of duration 1 second each. The `AudioSink` would expect to receive time

[2021-06-30 10:46] #9130 closed, assigned to kim-vde

[2021-06-30 10:48] yangcyzhang commented on #9130
tanks for you help、Maybe it's an internal problem with my app。I'd better close the problem

[2021-06-30 10:55] Empressia commented on #9131
Thanks for the explanation.
I've tried commercial music, so I can't share content.

As an other method, I tried to create my own Flac file, but I couldn't make a file that would cause this problem.

Therefore, I will try to ignore this log when playing the music in question.

[2021-06-30 11:38] krocard commented on #8334
The following error is logged before the exception is received by ExoPlayer:
[code]

I tried to reproduce on a Pixel 3 XL, but the server returns a 400 error.

This is the same error message as #8557, and can be found on a few other internal bugs.

@christosts could you take a look as this might be a duplicate of #8557 and is an HLS stream.

[2021-06-30 12:17] kim-vde commented on #9134
What I would do is listen to [`onPlaybackParametersChanged`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onPlaybackParametersChanged(com.google.android.exoplayer2.PlaybackParameters)) and compute the duration with `player.getDuration() / playbackParameters.speed`. It is best to use the listener instead of the setter because you will get notified of t

[2021-06-30 12:21] #9131 closed, assigned to kim-vde

[2021-06-30 12:33] kim-vde commented on #9124
Hi! Please provide complete information as requested in the issue template (particularly **clear reproduction steps**). The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gm

[2021-06-30 12:38] christosts commented on #9037
I can reproduce on the demo app on 2.14.1.

I picked the two playlist URLs from https://github.com/apptrash/ExoBugSandbox and added them as playlist to the ExoPlayer demo app. When the player transitions to the 2nd item, it starts playing from around 10". But if we play the second playlist as a standalone item then it plays from 0.

I need to investigate further.

[2021-06-30 12:58] icbaker commented on #9123
Thanks for reporting this.

`EventMessage{De,En}coder` use a custom serialization scheme, it's not intended to be compatible with the in-band bytes representation (since https://github.com/google/ExoPlayer/commit/97183ef55866170807910cd626264d82d41d46d4 and https://github.com/google/ExoPlayer/commit/a08b537e8eefcc04747c5810344d3080988d2a1a).

So I think the easiest solution is to just encode `dura

[2021-06-30 13:10] christosts commented on #9047
To further assist, you may be able to customize ExoPlayer to handle this case: you can pass a custom LoadErrorHandlingPolicy to the player so that in method `getBlacklistDurationMsFor()` you return `DEFAULT_TRACK_BLACKLIST_MS` for all kinds of error, not only the HTTP errors considered by default.

For example, you may subclass DefaultLoadErrorHandlingPolicy and override its method getBlacklistDur

[2021-06-30 13:10] #9047 closed, assigned to christosts

[2021-06-30 13:11] kim-vde commented on #9096
Indeed, the `WavExtractor` only supports IMA ADPCM, A-law, Mu-law and raw audio at the moment.

Could you please provide a test content with DTS + WAV (I can't download them from the website you provided)? If you're unable to share the test content publicly, please send it to dev.exoplayer@gmail.com using a subject "Issue #9096". Please also update this issue to indicate you've done this.

[2021-06-30 13:14] CrashBashMD opened #9135 "DASH with closed captions cea-608 displays repetead letters"
Issue happens with ExoPlayer demo app with version r2.14.1 as well as build from dev-v2 branch.
URL to content: https://bp-cdnlab.clarotvpr.com/bpk-vod/vod/default/90dcd9a7-6df7-48c4-a855-b9f08d66de4e/90dcd9a7-6df7-48c4-a855-b9f08d66de4e/index.mpd

Displayed captions from above stream in exo player demo app are messed. Looks like it displays duplicated subtitle packages.
![bug_cc](https://user-ima

[2021-06-30 13:55] #9084 closed, assigned to ojw28

[2021-06-30 14:29] icbaker commented on #9135
I can reproduce the problem with the media provided. I don't know what the root cause is yet.

[2021-06-30 16:40] hot1sp commented on #9092
Hi

We had noticed that once launching the Exoplayer with the DASH low latency URL, so in the first time that Exoplayer plays this URL the lower level of ABR being played and the player is not moving into higher ABR level.

Only when zapping again to that channel and calling the same stream URL in the 2nd time, then the higher ABR level played

In which parameter we can set the player to play init

[2021-06-30 18:10] GauravPandey123 opened #9136 "Not working with viewpager2 and recyclerview together ?"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2021-06-30 20:46] morganch01 opened #9137 "Integrate External Widevine L3 Library to ExoPlayer"
Issue content removed due to security reason

[2021-07-01 04:07] ColtonIdle commented on #7789
Here is a video with transparency to use as a sample. https://static.videezy.com/system/resources/previews/000/048/733/original/200515-AlphaBluePlanet.mp4

[2021-07-01 07:00] christosts commented on #9092
I'd suggest to try tuning the [DefaultBandwidthMeter](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultBandwidthMeter.html).

The player uses a [BandwidthMeter](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/BandwidthMeter.html), to measure bandwidth throughput for ABR. By default, the player uses an instance of `DefaultBandwidthMeter`.

[2021-07-01 07:48] christosts commented on #8951
Hi,

As you may have noticed from your search on past issues, these problems tend to be codec and/or device specific. Are you seeing this problem on a specific device only?

As a first action, if the issue is specific to device, have you tried enabling the codecNeedsSetOutputSurfaceWorkaround?  If you're using ExoPlayer from sources,  you can directly modify MediacodecVideoRenderer. Otherwise, you

[2021-07-01 09:25] zubcoco opened #9138 "IllegalArgumentException in PlaybackStatsListener"
Hello,

We see this error sometimes on our application since we updated exoplayer to 2.13.x (2.13.3).
Why does this exception occur?

com.google.android.exoplayer2.util.Assertions.checkArgument (Assertions.java:41)
com.google.android.exoplayer2.analytics.PlaybackStatsListener$PlaybackStatsTracker.updatePlaybackState (PlaybackStatsListener.java:677)
com.google.android.exoplayer2.analytics.PlaybackS

[2021-07-01 10:38] kim-vde commented on #9109
There is currently no way of getting notified of a PMT change in ExoPlayer. Actually, ExoPlayer ignores the PMTs of a given PID after it has parsed the first one.

We can try to fix this but it might take some time before I have time to look at it. Another solution is for you to create your own extractor by forking the one of ExoPlayer (`TsExtractor`) and adapting it to detect the PMT changes. A s

[2021-07-01 12:40] christosts commented on #9127
Hi, thank you for filing this issue.

I tested with the stream sent over email on the demo app at r2.14.1. At the time I tested, the UI showed that the player was playing at position 4:00:00 and the content had a duration of 2:00:00. What seems to confuse the player is the `#EXT-X-PROGRAM-DATE-TIME` tag defined in the playlist. At the time I tested the stream, the tag was `#EXT-X-PROGRAM-DATE-TIME

[2021-07-01 13:48] kim-vde commented on #9136
Please fill in the issue template and explain clearly what the question/problem is. Thanks.

[2021-07-01 15:18] kim-vde commented on #9138
The assertion is failing on [this line](https://github.com/google/ExoPlayer/blob/r2.13.3/library/core/src/main/java/com/google/android/exoplayer2/analytics/PlaybackStatsListener.java#L677). It checks that the event that triggered the playback state update did not occur before the previous update, or in other words that the playback state updates are executed in the order of events.

Could this be

[2021-07-01 15:56] kim-vde commented on #9108
+1 to ignoring these for now. As stated in #426, it is unfortunate that the platform prints these logs as they can be the result of an intended behaviour.

[2021-07-01 15:56] #9108 closed, assigned to kim-vde

[2021-07-01 19:54] moneytoo opened #9139 "Some Dolby Vision videos do not play in ExoPlayer (while play in platform MediaPlayer)"
Some Dolby Vision videos (`dvhe.05.09`, `dvhe.07.06`) do not play in ExoPlayer - audio plays but picture stays black. The same video files play fine in platform native MediaPlayer.

Such files are for example these from https://github.com/google/ExoPlayer/pull/7667#issuecomment-666641337, specifically:

- https://www.makemkv.com/download/dvtest/P5_Dolby_Amaze.mkv
- https://www.makemkv.com/download

[2021-07-02 00:32] Pentaphon commented on #9103
Here's a screenshot from a report by another user of the Exoplayer-based app I linked in the previous post.

That user's video is 1920x1080 yet they get `Decoder failed: OMX.qcom.video.decoder.vp8`

https://i.imgur.com/R1qodeh.png

[2021-07-02 08:19] Falrach commented on #9127
Thanks for your reply!

We removed the `#EXT-X-PROGRAM-DATE-TIME` and the problems don't occur anymore.

One interesting thing to note is, that we use the `#EXT-X-PROGRAM-DATE-TIME` the same way if we **don't** use the Delta Update and then the playback also works as expected without the described problems.
So, it seems like the `#EXT-X-PROGRAM-DATE-TIME` tag specifically affects something in the

[2021-07-02 09:56] NG-Gaurav opened #9140 "How to pass exoplayer instance one activity to other activity"
We have a two activity one for play video in portrait mode and other for landscape. on click full screen button video pass to  landscape activity and on back press portrait mode activity open. so how can use single player for both activity .

[2021-07-02 12:02] chandangit89 opened #9141 "Customize Exoplayer notification...."
hlo sir

Is there any method....so that we can remove seekbar only from notification bar of Exoplayer

As we have methods to remove fast forward controls by
 nManager.setRewindIncrementMs(0);

moreover this method also seems to dapricated so kindly tell the new method introduced please

[2021-07-02 12:19] Allan-Nava commented on #867
The performance are good?

[2021-07-02 12:49] andrewlewis commented on #9085
Side note: the dependency on `org.chromium.net:cronet-embedded:76.3809.111` seems to be our last dependency that still requires jetification to be enabled.

[code]

[2021-07-02 12:55] marcbaechinger commented on #9126
I would have recommended using a custom `LoadControl`. As you mention this would certainly make the player transition to the `STATE_BUFFERING` when no more buffered data is available.

What user experience would you expect when the user is on cellular and the player is running out of buffered data? Wouldn't you just pause the player?

Can you clarify what exception you catch?

[2021-07-02 12:56] Y2JChamp commented on #2213
is there any update on this? I would like to have a UI that is more suitable for live videos on EXOPlayer

[2021-07-02 14:45] hot1sp commented on #9092
Thank you ,it helped.
Now I can see in both WIFI and Ethernet the high quality profile selected full HD at start.

[2021-07-02 14:45] #9092 closed, assigned to christosts

[2021-07-02 16:19] icbaker commented on #9137
If I understand correctly you're basically asking for the reverse of https://github.com/google/ExoPlayer/issues/2414 (and https://github.com/google/ExoPlayer/issues/4372).

They wanted to use the platform `MediaDrm` and an app-bundled video decoder, while you want to use an app-bundled DRM implementation and a platform decoder (`MediaCodec`).

I don't think you can do this easily because [`MediaCo

[2021-07-02 17:00] icbaker opened #9142 "Only be 'permissive' in decoder resolution check in certain circumstances"
https://github.com/google/ExoPlayer/issues/6551 reported an issue where ExoPlayer was failing to play H264 content because it was passing the 'display resolution' from an HLS manifest to [`android.media.MediaCodecInfo.VideoCodecCapabilities#areSizeAndRateSupported`](https://developer.android.com/reference/android/media/MediaCodecInfo.VideoCapabilities#areSizeAndRateSupported(int,%20int,%20double))

[2021-07-02 17:02] icbaker commented on #9103
This is a different decoder, so it may well be a different problem.

There's not really enough info in the logcat snippet linked to pinpoint what's going wrong. A full `adb bugreport` might provide more info. Without that or the being able to reproduce the problem there's very little we can do to help.

However this log line looks suspicious:

It seems like there are multiple players instantiated.

[2021-07-02 17:31] dmytropiriatenets commented on #9067
I've did some checks on top of 2.14.1, this solution works fine.
In our product we still use ExoPlayer v2.12.1 (since we have the dependency on Amazon, which just recently updated to v2.13.3, and weren't able to migrate to it yet).
So, I've added similar fix to the DefaultHlsPlaylistTracker (as some method differs from 2.14.1 version)
[code]
and it also worked fine in the application.
Thanks @ojw2

[2021-07-03 05:20] ridanasif commented on #9134
Thank you for the response. Will look onto that. But isn't onPlaybackParametersChanged Deprecated?

[2021-07-03 07:14] K1rakishou commented on #9103
Is this actually a thing that can happen? The exoplayer in this particular case is used inside a ViewPager with 3-4 pages always being in memory. To avoid constantly creating and releasing players I'm using a pool of players (because I found out that on some devices calling release() may block the app for quite some time). So is using multiple players not recommended?

[2021-07-03 08:19] soheilnavvabi opened #9145 "using SilenceMediaSource instead of content video"
I need to show VAST ads without showing any video after that. I have already read [#7929](https://github.com/google/ExoPlayer/issues/7929) where it is suggested to use `silenceMediaSource`, so I have tried:

`player.setMediaItem(new SilenceMediaSource(1000000).getMediaItem().buildUpon().setAdTagUri(Uri.parse("...")).build());`

but again it throws exception and does not trigger `AD_COMPLETED` even

[2021-07-03 10:23] javaboboApp opened #9146 "Synchronize current position and duration during live streaming."
During live streaming (DASH) exoplayer does not maintain the current position of the content in a stable way (currently scrubber moves from right to left as new content is added to the timeline), but many applications want to keep the scrubber stable (similar to youtube). Example can be found:

https://bitmovin.com/demos/stream-test?format=dash&manifest=https%3A%2F%2Flivesim.dashif.org%2Flivesim%2

[2021-07-03 17:12] ridanasif commented on #9140
Use Fragments.

[2021-07-03 20:28] reverie-ss commented on #8473
I also had similar issue on android using Flutter and [**`video_player`**](https://pub.dev/packages/video_player).
I solved it by calling `_controller.dispose()` every time after the work was done.

[2021-07-04 12:28] GouravSna opened #9147 "Please share a sample for HLS+Widevine"
Hi Team,

If possible, can you please share a sample for hls with widevine ?

[2021-07-04 13:31] Clement-Jean opened #9148 "How to clear the view and the buffer?"
My app is focusing on downloading videos and then playing them with Exoplayer. And obviously Downloading comes together with deleting the file.

So the downloading/playing parts work but then I want to be able to clear the player when the user is deleting the video he/she is playing. So I have:

[code]

However, the videoview still shows the image that it was last playing and I'm also guessing tha

[2021-07-04 19:03] nirazv commented on #867
It loads videos from LocalStorage not from Internet so performance will be
good in offline mode but for online i can't tell because it need to pre
cache first portion of data

[2021-07-04 23:33] ComfyTopHat commented on #8031
Also experiencing the same issue of audio going out of sync after a number of hours. Happy to provide additional log files if required

[2021-07-05 01:04] #9019 closed, assigned to ojw28

[2021-07-05 01:04] #8996 closed, assigned to andrewlewis

[2021-07-05 05:38] ChesterAL-GH opened #9149 "Widevine DRM Content Not Playing On Android Box After Ads"
Hi Team, we have an issue with our app when using most AndroidTV and Android Boxex. After the preroll ad, either the main content displays a black screen and audio can only be heard before it crashes, or the player crashes after ads. THis is only experienced when playing DRM contents (no issues with playing live and non DRM contents). And when there is no ads, we could stream the content with no i

[2021-07-05 06:00] ComfyTopHat commented on #8031
@okycelt did you ever manage to find a resolution for this?

[2021-07-05 07:29] tosam144 opened #9150 "Seekbar not working with some mp3 files"
I use exoplayer to stream mp3 files that are located on a private server. I exerpience a strange problem: With some mp3 files, exoplayer's seekbar shows 100% and does not move (and cannot be moved by the user). With other mp3 files, the seekbar works as expected. So far, I was not able to identify the difference between a working and a non-working mp3. However, I discovered that if I convert the n

[2021-07-05 07:55] zubcoco commented on #9138
We don't have reproduction steps. We only see the crash on Firebase Crashlytics.

It could be the same issue as in #8675... We'll update the exoplayer version to 2.14 soon.

If the error come back again, I'll reopen a new issue.

Thanks to you for the quick answer.

[2021-07-05 07:55] #9138 closed, assigned to kim-vde

[2021-07-05 08:05] andrewlewis commented on #9145
Please could you try switching to creating the `AdsMediaSource` directly and passing it using `player.setMediaSource` instead of using the `MediaItem`-based API? The `DefaultMediaSourceFactory` doesn't create `SilenceMediaSource` instances (and I suspect it's very rare that people will want that functionality).

[2021-07-05 08:14] soheilnavvabi commented on #9145
yes! I switched to `AdsMediaSource` and it worked like a charm! thanks.

`AdsMediaSource adsMediaSource = new AdsMediaSource(new SilenceMediaSource(1000000), new DataSpec(Uri.parse("...")), ID, new DefaultMediaSourceFactory(getContext()), adsLoader, playerView);`

[2021-07-05 08:15] #9145 closed, assigned to andrewlewis

[2021-07-05 08:40] icbaker commented on #9146
The description of this problem seems very UI specific, but the proposed solution seems to suggest changing the core library.

If I'm understanding correctly, and this is a request for different behaviour of the scrubber bar in the ExoPlayer UI component, I think it's a duplicate of https://github.com/google/ExoPlayer/issues/2213. I'm going to close this - but feel free to reply here and clarify i

[2021-07-05 08:40] #9146 closed, assigned to icbaker

[2021-07-05 08:45] icbaker commented on #9147
There's an example for configuring a media item for widevine here: https://exoplayer.dev/media-items.html#protected-content

You can also find concrete examples of Widevine-protected DASH in the demo app JSON file:
https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/demos/main/src/main/assets/media.exolist.json#L32-L39

The ExoPlayer code for playing widevine-protecte

[2021-07-05 08:45] #9147 closed, assigned to icbaker

[2021-07-05 08:48] icbaker commented on #9150
It's impossible to say for sure without access to the media, but ExoPlayer probably considers the file unseekable (efficiently): https://exoplayer.dev/troubleshooting.html#why-are-some-media-files-not-seekable

It's likely that when you re-encode it with Audacity, even if it looks like you keep all the properties the same, it adds the extra metadata needed to allow efficient seeking into the file

[2021-07-05 08:48] #9150 closed, assigned to icbaker

[2021-07-05 08:50] GouravSna commented on #9147
Thanks @icbaker  for the answer but I require an example for HLS-Widevine. I agree that both would be same.
But wanted to understand that will EXT-X-KEY be the same for all the playlists and how it is being structured.

I tried searching on Google but could not find any sample stream.

[2021-07-05 08:53] icbaker commented on #9147
I'm afraid that constructing valid media is outside the scope of this issue tracker - we can't help you with how to structure your HLS playlist.

[2021-07-05 09:13] icbaker commented on #9149
The two logcats provided seem to differ in more than just ads vs non-ads. One (the failure with ads) seems to be using [MediaPlayer](https://developer.android.com/reference/android/media/MediaPlayer) in addition to ExoPlayer.

In the failure case there's lots of logging like this (which I suspect is coming from MediaPlayer):
[code]

I also can't see any details of an ExoPlayer playback error in th

[2021-07-05 09:45] kim-vde commented on #9139
Profiles 5 and 7 are not mapped to HEVC (see [`MediaCodecVideoRenderer#getDecoderInfos`](https://github.com/google/ExoPlayer/blob/r2.14.1/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L378)) in ExoPlayer because:
- Profile 5 is not backward compatible (BL signal cross-compatibility ID is 0 in the specs).
- Profile 7 is deprecated. The backward compatib

[2021-07-05 10:08] kim-vde commented on #9134
`Player.EventListener.onPlaybackParametersChanged` is deprecated because `Player.EventListener` is deprecated but `Player.Listener.onPlaybackParametersChanged` is not. This is not well reflected in the Javadoc. We will fix that in the next version.

[2021-07-05 11:28] icbaker commented on #9103
If the decoder is in hardware then there's a limited number of decoders on the device (the exact number varies per codec & per device), so if you try and initialize more than that it will fail.

There's more details about safely instantiating multiple players:
* https://github.com/google/ExoPlayer/issues/1286#issuecomment-200854838
* https://github.com/google/ExoPlayer/issues/273 (linked from comm

[2021-07-05 12:00] marcbaechinger commented on #9148
Can you give some more details what you do after calling `release`? Because I'd say that after releasing you have to recreate the player to restart playback with a new stream.

I don't think it has something to do with the buffer because data in the buffer isn't read by the extractor. For my understanding the data in the buffer has been extracted by an extractor already and is then buffered before

[2021-07-05 13:32] a-blekot opened #9151 "Can't play RTSP livestream with UDP transport behind a NAT"
Please help me to configure ExoPlayer in such a way that it would be able to play RTSP with UDP even behind a NAT =)
_Maybe you have some advice on how we should configure a NAT or our IP cameras._

Currently, I'm able to connect to the camera only over TCP transport (after RtspClient::retryWithRtpTcp gets called).

I wonder why it doesn't work with UDP?! We use the IJK player in our application t

[2021-07-05 13:57] usopphammer opened #9152 "Ad pod timer can remain on screen after finishing ads"
Hello

In our application we observe 2 bugs from time to time
1. ad timer overlaps with other ads
2. ad times remains on screen after finishing ads

ExoPlayer version 2.14
minSdkVersion 21
There are no errors in the adb logs

Could someone tell me if this is a known issue and how it can be fixed?

![image](https://user-images.githubusercontent.com/86966407/124481911-7661c180-ddb1-11eb-89a0-899f495

[2021-07-05 14:00] marcbaechinger commented on #9151
I think the current advice is to use TCP when behind NAT.

Please see JavaDoc of `setForceUseRtpTcp(boolean forceUseRtpTcp)`: https://github.com/google/ExoPlayer/blob/release-v2/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMediaSource.java#L71

Assigning to @claincly as he may have some further thoughts about it.

[2021-07-05 14:06] icbaker commented on #9152
Please can you provide more info:
* How often does this reproduce? (You say "from time to time" - can you estimate e.g. 5/10 times?)
* Are those subtitles in the screenshot sideloaded via `MediaItem.Builder#setSubtitles` or are they embedded in the stream?
* Please either provide a stream/file we can use to reproduce the issue in the demo app, or reproduce it yourself in the demo app and capture a

[2021-07-05 14:32] a-blekot commented on #9151
Thank you for quick reply)

Yes, I have added this option, to avoid waiting for SocketTimeout in UDP mode
[code]

Maybe I can modify the library somehow? I have already fixed RTSP authorization and hopefully I will manage this problem too))

I need some hints, where I can take a look at the code. Maybe in the different implementations of `Loadable `interface (like `DataChunk`, `RtpDataLoadable`, .

[2021-07-05 14:36] a-blekot commented on #9151
We want to use UDP in order to decrease latency in our game app. This is very important parameter for us)

I think if the **IJK** player can play RTSP over UDP and **ffplay** can do it - our NAT is working properly and the problem is on the ExoPlayer's side, or I'm wrong?

[2021-07-05 14:45] marcbaechinger commented on #9141
To set the rewind increment you can set the `DefaultControlDispatcher` of the `PlayerNotificationmanager`. You probably also want to set the same control dispatcher to the `MediaSessionConnector` you are using:

[code]

The seekbar is shown when the media session token is set to the `PlayerNotificationManager` and the `PlaybackStateCompat` of the media session is populated with a `duration`. There

[2021-07-05 15:00] marcbaechinger commented on #9132
I think you need to use two different caches, one for downloading and one for on-the-fly caching. I think currently this is a restriction. You have already found issue #8645 which is marked as an enhancement. I don't think I can add much more about this problem than in the other issue.

I apologize for not having properly answered your comment in the other issue. You did the right thing in adding

[2021-07-05 15:00] #9132 closed, assigned to marcbaechinger

[2021-07-05 15:02] marcbaechinger commented on #8645
@aasitnikov Thanks for your comment. We are aware about this limitation of using a single `Cache` instance for downloading and on-the-fly caching. We marked this issue as an enhancement. Unfortunately I can't give you a timeline for when we will work on this issue I'm afraid.

[2021-07-05 17:53] claincly commented on #9151
Quite nice observation about the additional UDP packets sent between SETUP and PLAY. Sending that UDP packet sets up a port mapping from your machine to the remote server in the NAT, so that the NAT can properly route the following incoming UDP packets.

We should implement something like this on our part. But before we do that, you can tweak the code a bit to achieve this.

1. In `UdpDataSource`,

[2021-07-05 19:29] GAYANJ95 commented on #9094
Hi @icbaker did to able to check on this?

[2021-07-05 20:30] giladna commented on #9094
@icbaker @ojw28

I have investigated this issue some more
I can tell that this issue behaviour was not there on v2.9.6 and first observed on v2.10.0

I think this information is a good starting point for understanding the root cause.

this behavior is in production and we would be happy if this can be prioritized by the team

10x

Gilad.

[2021-07-05 22:40] meh111 opened #9153 "Audio only HLS stream stalls after first segment"
Why player trying to reconnect to stream https://moondigitaledge2.radyotvonline.net/kafaradyo/playlist.m3u8 after every 3 seconds?
VLC player playing fine this stream.
codec: MPEG AAC Audio (mp4a)

version:
implementation 'com.google.android.exoplayer:exoplayer-core:2.14.0'
implementation 'com.google.android.exoplayer:exoplayer-hls:2.14.0'

Some strange log:
2021-07-06 02:01:13.409 8944-1381/com.a

[2021-07-05 23:21] Clement-Jean commented on #9148
I was not recreating the player but yesterday I saw that the `release` documentation says something like `don't use the player after calling this`.

So I recreated it and it works. However, I wonder if there is a less "heavy" way of doing this because I have a player with a Playlist (ConcatenatingMediaSource) and I need to reinitialize everything each time this event happens.

What do you think ?

[2021-07-06 08:20] gmbett opened #9154 "Slow motion video rotation ignored"
Hi,

I'm trying to evaluate Exoplayer so we can use it in our Android TV application but I noticed one issue with slow motion videos: The 90° rotation that is present in the Exif info is completely ignored.

I found this issue that was reported before: https://github.com/google/ExoPlayer/issues/8928, which seems to be what I'm also seeing.

The problematic file is .mp4 file that was recorded using

[2021-07-06 08:56] HyowonHwang opened #9155 "ID3Reader does not read packet of ID3v2.4.0 properly."
Hi, I have got a problem of rendering ID3 Tags when playing my hls contents.

`ID3Reader` does not read some ID3 v2.4.0 Frames , even though `ID3Decoder` support it.
By below code condition, ID3decoder cannot get data.

https://github.com/google/ExoPlayer/blob/release-v2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/Id3Reader.java#L119

I am sending ts files to `dev.ex

[2021-07-06 09:19] bookzhan opened #9156 "Play speed try to support 8x+"
I changed MAX_PLAYBACK_SPEED to 100, then set setPlaybackParameters(new PlaybackParameters(20), the silent video can be played normally, and the playback time is 1/20 of the original.  It can be played normally when only audio is played(E.g. wav, mp3,m4a),and the playback time is 1/20 of the original. But the maximum speed can only support 4 times when playing a video with sound. What is the reaso

[2021-07-06 10:20] ag2s20150909 commented on #9085
I found some new version Cronet compiled by the third party
https://github.com/biaomingzhong/Cronet-Android
https://github.com/zy3274311/CronetForAndroid

`        MicroG:

         implementation 'org.microg:cronet-native:92.0.4509.1'

         implementation 'org.microg:cronet-api:92.0.4509.1'

         implementation 'org.microg:cronet-common:92.0.4509.1'`

[2021-07-06 12:09] a-blekot commented on #9151
I've done it) It works! I have checked it with Wireshark.

The code looks like this:

[code]

we need to send this packet between SETUP response and PLAY request.
The only obstacle is that:
1) we don't have access to `UdpDataSource`'s sockets in `RtspClient` and
2) we don't have info about `server_port ` in UdpDataSource, where we have sockets...

for now, I have made an ugly workaround:

**UdpDat

[2021-07-06 12:10] a-blekot commented on #9151
If we have a better option for how to access sockets from `UdpDataSource`, please write it here!

[2021-07-06 12:34] apptrash commented on #9037
Hello! Any progress on this task? Maybe you can suggest a workaround?

[2021-07-06 13:40] marcbaechinger commented on #9037
The start position for playback is projected, because your playlist has no end tag which indicates that further segments may be added and the stream is treated as a live stream. Because of this, when ExoPlayer starts loading data for buffering like for instance 20 seconds before the actual transition happens, it assumes that it should start 20 seconds later to have the correct latency from the liv

[2021-07-06 13:47] apptrash commented on #9037
Unfortunately no, and there are situations (in my case) where transitions occurs between two playlists with type=event and the second one without endlist tag.

[2021-07-06 13:49] apptrash commented on #9037
There is EXT-X-START tag with 0 value in playlists. Shouldn't that solve the problem?

[2021-07-06 14:11] marcbaechinger commented on #9156
In general there is a max playback speed set to 8.f in the `DefaultAudioSink.MAX_PLAYBACK_SPEED`. I think that is what you are referring to when you say you changed the value to 100. So if audio is enabled this is the upper limit for playback speed, and this actually seems sensible because playing a stream with more than 8 times unit speed with audio turned on doesn't make really a valuable use ca

[2021-07-06 14:26] Pierluigi-Scotto opened #9157 "I can't show subtitle"
Hi there,
Firstly sorry for my bad english.
I'm programming in Kotlin.

I'm creating a simple player that runs a video and show subtitle.

I have a locally file .srt where are stored the subtitles and .mp4 where's the video that i need to show.
In android they're stored in raw directory:
<img width="221" alt="Project" src="https://user-images.githubusercontent.com/51325762/124616024-0cf7b680-de76-

[2021-07-06 14:45] icbaker commented on #9157
You're passing ExoPlayer an [SRT](https://en.wikipedia.org/wiki/SubRip) subtitle file but telling us its [WebVTT](https://en.wikipedia.org/wiki/WebVTT) (`MimeTypes.TEXT_VTT`).

These formats are similar but not the same.

Your file is not a valid WebVTT file so parsing fails and no subtitles are displayed. You should see an error like this in logcat:

[code]

If you pass `MimeTypes.APPLICATION_SUB

[2021-07-06 14:51] Pierluigi-Scotto commented on #9157
Sorry my bad, even if i change with `MimeTypes.APPLICATION_SUBRIP` when choosing subtitle not shown.

Edit: just tryed now in emulator working, but on my phone seems is bugged (Xiaomi Note 7). When choosing the subtitle the button of subtitle seems to be disappear

Edit2: i'm trying using different emulators but subtitle won't show
This is logcat
[code]

simple_subtitle_srt.srt:
[code]

Parse and

[2021-07-06 14:54] marcbaechinger commented on #9037
`EXT-X-START` does not help in this case of playing in a playlist I'm afraid. When played in a playlist the default start position is projected, so that the target latency to the live edge is not changed. The start time is 0 (zero), but the projection makes it start later. You are playing a live stream that actually isn't a live stream as it seems.

I think you can try to wrap your media source wi

[2021-07-06 15:31] icbaker commented on #9157
Googling "This file can not be opened as a file descriptor; it is probably compressed" takes me here: https://stackoverflow.com/questions/6186866/java-io-filenotfoundexception-this-file-can-not-be-opened-as-a-file-descriptor

I think your options are:

* Disable compression for `srt` files with `aaptOptions` in your `build.gradle`
* Rename your file to have an (incorrect) extension that won't be c

[2021-07-06 16:04] Pierluigi-Scotto commented on #9157
Ok everything is working. Thanks!

Solution is:
Put subtitle in assets folder
<img width="212" alt="Immagine 2021-07-06 175721" src="https://user-images.githubusercontent.com/51325762/124631387-a1b4e100-de83-11eb-8c5e-4ff770ebf7f9.png">

Parse the file like this
`subtitleUri = Uri.parse("asset:///subtitle.srt")`

Finally set it:
[code]

[2021-07-06 16:08] #9157 closed, assigned to icbaker

[2021-07-06 17:59] mirswith commented on #7789
That alphaBluePlanet.mp4 video does not seem to have transparency (tested on iOS).   This sample provided by Apple however does include a properly encoded video with alpha: https://developer.apple.com/documentation/avfoundation/media_playback_and_selection/using_hevc_video_with_alpha , included in the download is the file `puppets_with_alpha_hevc.mov`, you can convert this to an mp4 while retainin

[2021-07-06 18:26] morganch01 commented on #9137
@icbaker Thanks for the clarificatoin.

I checked #2414 and #4372, it seems their solution is based on Opus extension, which we may not needed. I assume it is still possible to do the override to the `MediaCodecAudioRenderer` and plug it into the ExoPlayer without those extra extension?

[2021-07-06 18:35] ColtonIdle commented on #7789
@mirswith thanks! Now I just need to find an android player that can play it.

[2021-07-06 18:39] mirswith commented on #7789
Is the issue with ExoPlayer or the MediaCodec used for HEVC on android?  I'm also trying to get alpha working with ExoPlayer but so far no luck.

[2021-07-06 18:46] ColtonIdle commented on #7789
I have no idea. Video codecs, formats, encoding, etc all go over my head.  It's not my forte. I was hoping that there would be something by now that would support it though. @andrewlewis any chance there's some low hanging fruit around this to get this working with exoplayer? Thanks to @mirswith we do have a video sample that is confirmed to have alpha support.

[2021-07-06 19:29] stevemayhew commented on #7975
@AquilesCanta I've seen this too with our 2.12.3 upgrade.

Since the MediaItem API did not exist with an initial start position we wait until the first timeline update occurs with a non-empty timeline to issue the seek.   What I see is the position is overwritten with the default window start for live after the track selection.  It is not reproduced 100%, and if you enable chunk less prepare, even

[2021-07-06 19:53] mirswith commented on #7789
I would love to be wrong about this but it appears this is an issue with `android.media.MediaCodec` at least in my case.  I am using a `android.graphics.SurfaceTexture` which ultimately gets set to the `MediaCodec` during its configuration which means the `MediaCodec` is responsible for rendering the video to that texture (not ExoPlayer).  These surfaces use `OES_EGL_image_external` internally whi

[2021-07-07 03:44] stevemayhew commented on #7975
This is easy to reproduce with current `dev-v2`...

Modify the demo player to force an initial seek:

[code]

You can see with some debug prints that ExoPlayer issues the seek internally when the first source refresh occurs, but then wipes it out when the `MSG_PERIOD_PREPARED` is processed.

For live you probably want to wait till after the prepare completes to process the `pendingInitialSeekPosit

[2021-07-07 03:56] lsgfly opened #9158 "Can not parse video type when play H263."
Can not parse video type when play H263.
when atomType is s263, It can be parsed correctly.
but when atomType is H263, it can not be parsed correctly.

This is the video.
https://user-images.githubusercontent.com/47651022/124697890-34a05a80-df1a-11eb-9f41-a7c4d4328314.mp4

Exo version:
2.14.0

Android version:
android 10

[2021-07-07 07:00] VeiZhang opened #9159 "About saving live stream"
**There is a idea for recording and timeshift function. But I don't want to show a picture, what I mean is to download live stream of Exo without playback picture and voice. Then use another Exo object to playback.**

Any help or tips?

[2021-07-07 07:02] VeiZhang opened #9160 "About saving live stream"
**There is a idea for recording and timeshift function. But I don't want to show a picture, what I mean is to download live stream of Exo without playback picture and voice. Then use another Exo object to playback.**

Any help or tips?

[2021-07-07 07:04] #9159 closed, assigned to ojw28

[2021-07-07 08:21] kim-vde commented on #9140
If you want to use an activity, there are multiple ways to share data between activities. [This link](https://stackoverflow.com/questions/4878159/whats-the-best-way-to-share-data-between-activities) explains the most common ones.

[2021-07-07 08:39] icbaker commented on #9137
You might be better off wrapping rather than extending/overriding.

e.g. you could access the input bytes from a `MediaCodecAdapter` that wraps a `SynchronousMediaCodecAdapter` - probably inside `queueInputBuffer`. We have a simple example of this pattern that we use for testing (we just record the bytes that are passed in, obviously you would need to do more):
https://github.com/google/ExoPlayer/

[2021-07-07 08:41] andrewlewis commented on #7789
Just to check we are seeing the same thing, I tried playing the stream with alpha on a Pixel 4a and saw jagged green edges around the edges of the puppets, and a log line `E QC2V4l2Codec: [hevcD_20]  ? is not a supported pixel format!` (this is using `c2.qti.hevc.decoder`). I don't have an iOS device here to test with but I assume the jagged green edges are not the expected behavior! Based on this

[2021-07-07 09:18] andrewlewis commented on #7789
It seems that on an iOS device there are still green pixels on the boundary but the background UI does show through the video beyond them (thanks to @claincly for testing this out).

[2021-07-07 09:19] marcbaechinger commented on #9160
Our download components currently do not support downloading live streams. Doing that is quite an advanced task and we can not give you 1:1 support for this I'm afraid.

We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here.

[2021-07-07 09:22] claincly commented on #9151
Glad that it worked!

IMO your current solution looks good given that you normally have only 4 sockets open for a playback.There will be multiple layers of plumbing to do if you want to do it "rigorously": from `RtspClient` to `RtspMediaPeriod` to `RtpDataChannel`, and to `UdpDataSourceRtpDataChannel` and eventually `UdpDataSource`. And it won't be as elegant even if you do the plumbing.

[2021-07-07 09:51] marcbaechinger commented on #9148
I think it should be enough to just remove the `MediaSource` for the given stream to the download that have been removed. Then you can create a new `MediaSource` and add it to the `ConcatentaingMediaSource` again. When the user then seeks to that item in the playlist (or playback transitions to it automatically), the new source will be prepared.

[code]

As an aside, we support playlist with a top

[2021-07-07 09:54] marcbaechinger commented on #9153
It appears that the stream is a live stream. When you load the media playlist with for instance curl you can see that the media segments referenced by the playlist change and do not have an end tag. Reloading the playlist seems to be the correct behavior.

However, as you've observed the stream does not play with ExoPlayer. It stalls after having downloaded the first segment after playback starts.

[2021-07-07 10:00] kim-vde commented on #9154
The rotation seems indeed correctly applied on phones (the red line on the video must be horizontal, at the bottom of the screen, is that right?). I tried to reproduce with a TV emulator but the video was also correctly playing.

I am not able to test on a real TV device at the moment. In the mean time, can you give me more information:
1. On what TV model(s) does the issue occur?
2. Does it work

[2021-07-07 11:16] apptrash commented on #9037
Unfortunately, it doesn't help, I tried to do the following:
[code]
Player still does not start playing from the beginning

[2021-07-07 11:33] andrewlewis commented on #9154
Just to add something to be aware of: there is variation in how decoders handle rotation across API versions (see the [MediaCodec documentation](https://developer.android.com/reference/android/media/MediaCodec#transformations-when-rendering-onto-surface))

[2021-07-07 11:33] gmbett commented on #9154
Hi Kim,

Thank for checking... just to understand a bit... is this a codec issue? So that's why it works fine on some devices?

Yes, that is correct. The red line should be at the bottom

Yes, I also checked this and in the emulator it works fine.

I'm not sure if is a problem of the TV... or the TV box where the Android application is running. That's why I asked if is a codec issue. One of the TV

[2021-07-07 11:37] gmbett commented on #9154
The TV box I'm using has Android 8.0 (API level 26). Also I forgot to mention that when onVideoSizeChanged(videoSize: VideoSize) is invoked, I can see that the **unappliedRotationDegrees** is always 0.

[2021-07-07 12:12] ColtonIdle commented on #7789
@andrewlewis ah. So you were able to see this on iOS with the background UI showing, but on Android you just got a solid color? I'm assuming your comment still holds true then (An FfmpegVideoRenderer could work though)?

All in all, it seems like there's no "easy" way to get this to work so I will have to get back to my design team and tell them this is currently possible on iOS but not Android. T

[2021-07-07 12:19] marcbaechinger commented on #9037
Yes, that's a limitation of the `DefaultMediaSourceFactory` that is used internally by the player by default. If the `clipStartPositionMs` is 0 and the `clipEndPositionMs` is `C.TIME_END_OF_SOURCE` the media source is not automatically wrapped with a `ClippingMediaSource`, because it does not clip at all. Your case is special because of the playlist is actually a live playlist that isn't one and w

[2021-07-07 12:24] andrewlewis commented on #7789
Right, I wasn't able to get the background UI to show through the `SurfaceView` (also tried with `TextureView`). I suspect the problem is with the decoder, but will report back here if we learn more on the internal bug.

In principle it should be possible to make this work with extension renderers that don't rely on the platform `MediaCodec`, but we don't have any plans to work on that currently.

[2021-07-07 12:40] bhumeshvr7github commented on #8176
i am also facing this issue on  device Pixel 3 with version 11
how to fix it.
Error- MediaCodec$CodecException:Error 0xffffffe0

[2021-07-07 13:00] alex3d commented on #9037
Hi, @marcbaechinger.
Could you explain the rationale for projecting the EVENT start position? It looks like Exoplayer bug for us.
AFAIK hls standard does not specify event playlist playback semantics, but the majority of player api's start EVENT playlist playback from the first segment. Exoplayer also starts playback from the first segment regardless of X-ENDLIST  the presence in all cases except

[2021-07-07 13:30] apptrash commented on #9037
@marcbaechinger Thanks for explaining how the workaround works! I tried it - works fine.

[2021-07-07 14:30] kim-vde commented on #9139
Update:

- Profile 5 is playing with an HEVC decoder but with the wrong colors. That's why its signal cross-compatibility ID is set to 0 in the specs (meaning it is compatible with no other format) and that's also the reason we don't map it to HEVC.
- As for profile 7, it is not easy to determine whether it is HEVC compatible in `MediaCodecVideoRenderer#getDecoderInfos` as it depends from one cont

[2021-07-07 14:56] kim-vde commented on #9154
Yes, the problem is probably that the decoder ignores the rotation degree.

The problem is probably in the TV box as it is decoder-related. You should report it to the TV box manufacturer.

[2021-07-07 15:00] gmbett opened #9161 "Is ExoPlayer still using old support library?"
Hi,

Today I noticed one warning while my project was compiling:

[code]

Are you aware of this? Is there a plan to fully migrate to AndroidX?

[2021-07-07 15:01] gmbett commented on #9161
Ah... I saw that it was already reported, my bad.

[2021-07-07 15:01] #9161 closed, assigned to ojw28

[2021-07-07 15:03] marcbaechinger commented on #9037
@alex3d

A playlist without an X-ENDLIST tag is handled as a live stream. When such a stream is added to a playlist on a position different to 0, ExoPlayer starts buffering data of that live stream before it actually transitions to that stream for playback.

Lets assume the player starts buffering from the defaultPosition of the live stream 20 seconds before actually playing it. If the defaultPosi

[2021-07-07 19:50] okycelt commented on #8031
Unfortunately, no. The issue is still happening.

[2021-07-07 20:55] stevemayhew commented on #7975
@tonihei this is caused by the fix for BLWE issue #8675

On further testing with the code from my comment above, I found only seek to 0 is ignored.   Here is why:

[code]

The 0 value for the initial seek is what fails (all the test cases use non-zero).  The `Window#defaultPositionUs` is initialized to 0 by default and the `Window` in the `MaskingMediaPeriod` was set to 0 explicitly so even though

[2021-07-07 22:50] moneytoo commented on #9139
Thank you very much for your informative answer. Mapping profile 7 to HEVC works so it's really easy to enable if desired. Great!

[2021-07-07 22:50] #9139 closed, assigned to kim-vde

[2021-07-08 01:59] VeiZhang commented on #9160
@marcbaechinger Thank you. Downloading live stream is not clear, Exo playback live stream, then I want to write the stream byes to a file instead of playback.

[2021-07-08 03:29] GAYANJ95 commented on #9094
@icbaker @ojw28 any update in this please. 🙂

[2021-07-08 08:17] gmbett commented on #9154
Hi,

Today I tried to play the same video with MediaPlayer and the same issue is triggered (the video is rotated).

Now, the funny thing is that with our current video player (VLC 3.0.10) the video is played properly, maybe they are doing something different?

[2021-07-08 09:19] kim-vde commented on #9155
There is a problem in the ID3 data of the content provided. There is only one packet of type ID3. This packet has payload size 1135 while the ID3 data in the packet advertises a total size of 1143. The `Id3Reader` therefore doesn't output the sample metadata because `sampleBytesRead ` is 1135 and `sampleSize ` is 1143 on [this line](https://github.com/google/ExoPlayer/blob/r2.14.1/library/extracto

[2021-07-08 09:23] marcbaechinger commented on #8976
Closing due to inactivity.

[2021-07-08 09:23] marcbaechinger commented on #8975
Closing due to inactivity.

[2021-07-08 09:23] #8975 closed, assigned to marcbaechinger

[2021-07-08 09:24] #8976 closed, assigned to marcbaechinger

[2021-07-08 09:25] marcbaechinger commented on #8880
Closing due to inactivity.

[2021-07-08 09:25] #8880 closed, assigned to marcbaechinger

[2021-07-08 10:51] kerimisoffline opened #9164 ".wav format doesnt work"
I can't run the audio player that worked in .wav format until now. I didn't make any changes to the code. I didn't have a problem when I tried it in mp3 format. Is there a change I missed?

[2021-07-08 10:56] #9164 closed, assigned to ojw28

[2021-07-08 11:12] yachana1 opened #9165 "Exoplayer MPEG - 2 Stream Problem"
Hi ,

My problem regarding Exoplayer not playing video of MPEG-2 Stream, only Audio is there as I am trying to play it out. Whenever I tried, it shows media includes video tracks but none are playable.

Please help me to build the exoplayer release to play the MPEG-2 Stream.

I have added the download link for exoplayer, from where I have downloaded. Also adding one MPEG-2 Stream for your support

[2021-07-08 14:14] sachin-nextbase opened #9166 "RTSP - latest version of library stuck in STATE_BUFFERING for some URIs"
Description:
When trying to stream RTSP using Exoplayer v2.14.1, I encountered an issue which did not move the player onto a different state other than: Player.STATE_BUFFERING.
It did however work fine and display the live view properly for v2.14.0

Tested with:
Sony Xperia XZ3 H9436
Android 10 API 29
v2.14.1 and v2.14.0 of following libraries:
[code]

Here is the rough setup:
[code]

Here are the

[2021-07-08 14:15] sachin-nextbase opened #9167 "RTSP - distorted/pixelated for some URIs"
When trying to stream RTSP using Exoplayer (v2.14.1 & v2.14.0), I encountered an issue where the view was live and moving, however the PlayerView or GLSurfaceView were distorted and pixelated:
![image](https://user-images.githubusercontent.com/87072821/124931113-cf239b00-dff9-11eb-8436-6593fdb135e1.png)
It was not a still image or paused. It was moving, but very distorted like the image above.

Te

[2021-07-08 15:26] marcbaechinger commented on #7975
Thanks @stevemayhew for the excellent analysis. I can repro and see the difference when using `seekTo(0)` vs. `seekTo(1)`.

I agree is that the expression `windowPreparePositionUs != oldWindowDefaultPositionUs` always is `0 != 0` with an initial seek to 0.

`oldWindowDefaultPositionUs` has the `defaultPositionUs` of the `PlaceholderTimeline` when `hasRealTimeline == false` which is always 0. `wind

[2021-07-08 15:39] AquilesCanta commented on #9153
The problematic stream is missing the ID3 "com.apple.streaming.transportStreamTimestamp" metadata at the start. See [HLS spec here](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-3.1.3). I think this was broken in https://github.com/google/ExoPlayer/commit/6f8a8fbc1cf974617056edac6ee0068b175a6454.
I think you won't be affected by this issue if you change your dependency

[2021-07-08 15:49] stevemayhew commented on #7975
@marcbaechinger exactly... I've started on a test case in `ExoPlayerTest` to prove this, great to have this framework now since code in `ExoPlayerImplInternal` is pretty tough to test.

My thought from there was to look at enforcing these states for `defaultPositionUs`

1. C.TIME_UNSET - no default has been set (the placeholder should have this unless an initial seek is done)
2. 0 - durationUs - v

[2021-07-08 15:50] AquilesCanta commented on #9153
**For ExoPlayer members' reference:** I have published a fix for this specific issue in [internal ref: cl/383639556]. I don't think we should merge it because it will introduce a race condition where, if there are demuxed video and packed audio renditions, and the packed audio loader reaches the introduced timestamp adjustment branch before video, then the audio/video synchronization could be dram

[2021-07-08 16:27] marcbaechinger commented on #7975
Ok, if you have other things to do, give me some time to look into this on our end. Not saying that a pull with unit test is not welcome. :)

I need to wrap my head around this some more. I agree that defaulting to 0 is problematic/scary but wanted to see if there are other ways to recognize that case (looking at hasRealTimeline or similar). I'm not fully understanding yet what all the implication

[2021-07-08 17:00] gauravtyagi328 commented on #9140
https://drive.google.com/file/d/18aWqnZOl1ZVscdRV775SVsqxIMlhObla/view?usp=sharing
Please check this video. here video player is not rotating smoothly because we are using two activity. one for mini player and second for full player activity. so can we player rotating smoothly with two activity.

[2021-07-08 17:27] stevemayhew commented on #7975
No worries.. I'll definitely finish up the unit test that demonstrates the bug (first step to fixing it ;-) ) this way whatever solution we decide on has an way to verify it really fixes the issue without having to find a live stream to test.

The use of C.TIME_UNSET (in fact, the origin of `defaultPositionUs`) comes from adding the `ClippingMediaSource` issue #1988 to allow setting playing "clipp

[2021-07-08 20:06] ridanasif commented on #9140
As I mentioned above, It's better to use fragments in these specific cases. You are experiencing this delay because you are starting a new activity each time a user goes fullscreen, which could be a heavy process, depending on your activity code. What I suggest is that instead of creating an activity every time a user goes fullscreen, switch between fragments using a single exoplayer instance. Thi

[2021-07-09 01:04] #9043 closed, assigned to icbaker

[2021-07-09 02:38] songqianglu opened #9168 "The es data demux by exoplayer is incorrect"
Hi:

   We need to use exoplayer for **HDR** authentication，but the test case  about "**SEI Message to VSIF conversion and Video /
Metadata frame accuracy**." is failed . We dumped the es data **dumuxed** by exoplayer , and find the es data is incorrect, maybe some important frame data is been dropped. Please help us to solved this issue.

  We use the tool of elecard to check the es data,and find

[2021-07-09 06:07] grovertb opened #9169 "Cant play encrypted video with clearkey drm scheme in Exoplayer2"
Hi, I'm having trouble playing an .mpd file with DRM (ClearKey).

This code snippet works for me in my web environment.

[code]
kid => 2f49373e9a10d42964a79530e148ac19
kid Base64Url => L0k3PpoQ1Clkp5Uw4UisGQ
k => fd38b9616945021315f376c5a1b9e7c0
k Base64Url => /Ti5YWlFAhMV83bFobnnwA

I replaced / by _ as indicated in the documentation https://www.w3.org/TR/encrypted-media/#using-base64url

[code]

[2021-07-09 06:12] ronak2121 commented on #9137
Hi @icbaker,

Sone more questions we had on this matter:

1. will Exoplayer help us with manifest download/parse and asset muxing if we do the above? How does that work?
2. We understand the PSSH box is available under the DRMInitInfo, but when it’s time to decrypt audio, what kind of input would we get? Is it similar to an AVPacket that you’d get from FFmpeg? Can you point that out to us?
3. To d

[2021-07-09 07:37] mwshubham opened #9170 "Error inflating class com.google.android.exoplayer2.ui.PlayerView"
Closing because this does not appear to be an ExoPlayer problem.

_Originally posted by @ojw28 in https://github.com/google/ExoPlayer/issues/6132#issuecomment-509342265_

This seems to be a major issue in our application. Can we do something for the same? Any tips on the android issue tracker for the same?

[2021-07-09 08:46] icbaker commented on #9169
There isn't enough info here to identify what might be the problem.

Please provide a link to media we can use to reproduce the problem. Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-07-09 08:50] ragotiteb opened #9171 "About RTMPS support"
Hi

We have been digging into supporting RTMPS streams, and are finding that Exoplayer might not support it after all.

Wanted to share some of our findings to ask if perhaps we are doing something wrong:

- We  checked issue https://github.com/google/ExoPlayer/issues/6786 and https://github.com/google/ExoPlayer/issues/5354 .
- We also checked that our generation and distrbution of RTMP streams wo

[2021-07-09 08:57] gmbett opened #9172 "Expected behavior when pre-caching?"
Hi,

I'm looking into the possibility of pre-caching a video before it's played but it doesn't seems to work. Maybe I'm doing something wrong or my expectations are wrong.

I'm using version 2.14.1 and to pre-cache a video I'm doing:

[code]

In the above code, `videUri` is just the `URL` that points to the video.

`ExoPlayerHelper:`
[code]

To play later the video I'm doing:

[code]

What I see,

[2021-07-09 09:17] kim-vde commented on #9158
I have added support. This should be working now.

[2021-07-09 09:17] #9158 closed, assigned to kim-vde

[2021-07-09 10:47] marcbaechinger commented on #9170
If you are having a similar issue, that some drawables are not found, then I suspect that we would give you a similar answer here again I'm afraid. Like that this is rather an application issue than an ExoPlayer issue. I'm quite sure that the drawables used by our UI components can be found. If this wasn't the case we'd probably had people complain here quickly after releasing (or when the given c

[2021-07-09 11:40] usmanrana07 opened #9173 "Sometimes only audio is playing , video is black when using in RecyclerView"
I've checked previously closed similar issues but the discussion there didn't solve my issue.

The scenario is that I'm creating maximum 3 players to preload the videos. Player is assigned to UI cell when it is at center of screen. So, if user scrolls the recyclerView then urls for next videos are updated in existing players and matching player is set to new centered position. In normal case it is

[2021-07-09 12:40] marcbaechinger commented on #9172
Let me answer your questions in arbitrary order :)

The [JavaDoc of CacheWrite.cache says](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CacheWriter.java#L94) that any data that's already cached is skipped. Looking at the code also tells me this seems to be the case.

If you don't set a specific key, the [URI is used by

[2021-07-09 12:51] marcbaechinger commented on #9173
Hard to say what the problem is. From what you are saying I would say that you are running out of HW codec instances for video. Audio is probably decoded with a software decoder so this works.

Your approach with three players seems to sensible to me though. What do you do when you switch from one video to another in the recylerview when scrolling? Do you call stop, release or do you just remove a

[2021-07-09 13:04] marcbaechinger commented on #9171
Not sure honestly. Specifically regarding the external library compiled with crypto enabled or not. Have you checked with the butterfly folks?

The rtmp extension is a `DataSource`. So in case the library can successfully access the stream it should work as the rest is transparent for ExoPlayer. Reading throught the issues you are mentioning, tells me it should work if the underlying lib can acces

[2021-07-09 13:05] usmanrana07 commented on #9173
I don't stop the player. I just set playWhenReady=false and setMediaSource with the next url. There is nothing in logs I've checked that.

[2021-07-09 13:08] gmbett commented on #9172
Hi Marc,

Thanks for your answers.

I will check the key logic, because I still see many BUFFERING in the logs, so probably the player is just fetching everything again from the network.

Yes, is here:
[code]

The `apply` function is just a way to call multiple methods on the same object, you can read it as:

[code]

[2021-07-09 13:08] marcbaechinger commented on #9171
Searching for `crypto` in the issue tracker of https://github.com/ant-media/LibRtmp-Client-for-Android  gives me this: https://github.com/ant-media/LibRtmp-Client-for-Android/issues/72 (How to compile library with open open SSL?)

[2021-07-09 13:10] marcbaechinger commented on #9171
There is an issue in the tracker of the butterfly library that asks for Open SSL support. I think it's worth a try to check with the people there: https://github.com/ant-media/LibRtmp-Client-for-Android/issues/72

[2021-07-09 13:13] icbaker commented on #9137
If you're customising the renderer then ExoPlayer's existing components can handle everything before the `SampleQueue` in the diagram here:
https://exoplayer.dev/glossary.html#exoplayer. This includes handling manifest parsing and downloading the content for selected tracks. There will be a `SampleQueue` for each track being played, and each one will have its own `Renderer`.

Not sure I completely

[2021-07-09 14:49] marcbaechinger commented on #9172
If you still see problems please also post the code of

[code]

[2021-07-09 14:55] gmbett commented on #9172
Okay, just one more question... if the video is properly pre-cached, which value should return:

[code]

It should be already the full length of the video or that is not the case?

[2021-07-09 14:59] marcbaechinger commented on #9172
No, the loading behavior is the same like when it loads from the network. It loads piece by piece like the `LoadControl` tells. So I think by default it loads about 50 seconds ahead. Then stops loading until it needs more data.

[2021-07-09 15:03] gmbett commented on #9172
okay, thanks!

[2021-07-09 22:55] grovertb commented on #9169
Hi @icbaker, I just sent the mail. Thanks for your answer.

[2021-07-10 12:26] pmaurya74 opened #9175 "getMeanAudioFormatBitrate() API from PlaybackStats return -1 for HLS Content"
HI There,
I am using getMeanAudioFormatBitrate() API from  PlaybackStats   that return -1 for HLS Content.
But return correct value for progressive mp4 content.

Other than above API i used below APIs as well for HLS content (AV or Audio Only), but all returns -1 for audio bit rate .
1)onDownstreamFormatChanged.  (from audio track format)
2)onLodeStared
3)onLoadCompleted
4)audioTracks.get(0).forma

[2021-07-10 12:31] pmaurya74 commented on #9175
I have send  url and content information in mail to dev.exoplayer@gmail.com with issue number subject.
Issue #9175

[2021-07-10 14:54] evicoach commented on #8473
After what work has been done?

[2021-07-10 15:02] reverie-ss commented on #8473
After am done using videoplayer, for example going to other page, user stops playing, starting some other process.
Basically free up the memory!

[2021-07-11 07:22] moneytoo commented on #6225
Seems like this is the magic other tools use to detect HD.

FFmpeg:
[code]

mp4parser:
[code]

[2021-07-12 01:04] #9042 closed, assigned to claincly

[2021-07-12 01:04] #9039 closed, assigned to andrewlewis

[2021-07-12 01:04] #9025 closed, assigned to ojw28

[2021-07-12 03:11] ChesterAL-GH commented on #9149
Hi icbaker! yes we are using MediaPlayer.. We're going to try that route first on playing the video on ExoPlayer for both ads and content. If anything comes up, I'll just refer this issue.. thank you getting back to us on this appreciate it a lot.

[2021-07-12 03:11] #9149 closed, assigned to icbaker

[2021-07-12 03:46] javalue commented on #8972
`LoadControl loadControl = new DefaultLoadControl.Builder()
                .setBufferDurationsMs(1000,3000,
                        500, 1000)
                .createDefaultLoadControl();

        TrackSelection.Factory trackSelectionFactory = new AdaptiveTrackSelection.Factory(new DefaultBandwidthMeter());

        DefaultTrackSelector trackSelector = new DefaultTrackSelector(trackSelectionFacto

[2021-07-12 03:47] javalue commented on #8972
`LoadControl loadControl = new DefaultLoadControl.Builder()
                .setBufferDurationsMs(1000,3000,
                        500, 1000)
                .createDefaultLoadControl();

        TrackSelection.Factory trackSelectionFactory = new AdaptiveTrackSelection.Factory(new DefaultBandwidthMeter());

        DefaultTrackSelector trackSelector = new DefaultTrackSelector(trackSelectionFacto

[2021-07-12 03:50] javalue commented on #8972
the video maybe have 1.5mb,when it play 1s,i pause it,but the cache have already downloaded the whole video.

[2021-07-12 05:40] jeonghyun-genesislab opened #9177 "With version 2.7.3, there is no video buffering."
Good morning.

I am checking the recorded video with exoPlayer.

This time I refactored the code to upload the exoPlayer version.

The previous version used was version 2.7.3.

The version I uploaded is the latest version 2.14.1.

The problem was that I upgraded the version to 2.14.1 and fixed the code.

Buffering continues to occur when playing a video.

The same problem occurs with the demo app

[2021-07-12 06:14] ralexey opened #9178 "Audio mp3 duration equal to C.TIME_UNSET for some url"
Hello.

I am working on app that plays Audio mp3 files using ExoPlayer.
App gets audio duration using `player.getDuration()`
App allows to play audio using URLs but it also allows to download audio before play.
For some URLs `play.getDuration()==C.TIME_UNSET` but for some URLs it returns correct value.
For downloaded files it returns correct value always.
I tried to add some URLs to the ExoPlayer

[2021-07-12 07:26] kingfisherphuoc commented on #9062
@ojw28 do we have any plan to fix this?

[2021-07-12 07:54] yachana1 commented on #9165
can anyone help me ?

[2021-07-12 08:41] luna-vulpo opened #9179 "How to limit available audio tracks for exoplayer?"
I have a DASH (or HLS) stream which contains many audio tracks.
My additional code  relies heavily on on information from exoplayer.
But for same reason I have to limit the available tracks so is there possibility to tell exoplayer to ignore same audio tracks?

[2021-07-12 09:12] claincly commented on #9166
Please provide a log of RTSP messages.

Add logs at

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMessageChannel.java#L182

and

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspClient

[2021-07-12 09:14] claincly commented on #9167
Is this related to #9166? If so could you update the other issue so that we have one issue to track your issue?

[2021-07-12 10:16] javaboboApp commented on #9146
Thanks for replying the problems is ui stuff but I think that is related with the way that **PlayerViewController** works.
So this solution I guess should be related with change how this class behave , I do not think another way of changing this behaviour without modifying this class.

[2021-07-12 10:45] ojw28 commented on #9085
I would advise against using versions provided by third parties, unless you know that the source is trustworthy.

[2021-07-12 11:09] seventhmoon opened #9181 "Exoplayer WorkManager Extension is not compatible with Android 12"
There is a [behavior change](https://developer.android.com/about/versions/12/behavior-changes-12#pending-intent-mutability) in Android 12 which requires that one of `FLAG_IMMUTABLE` or `FLAG_MUTABLE` be specified when creating a `PendingIntent` if the app is targeting Android 12.
Current stable version (`2.5.0`) of WorkManager don’t have these flags, and so it affects all apps directly, or indirec

[2021-07-12 11:21] ojw28 commented on #9160
Closing as a duplicate of https://github.com/google/ExoPlayer/issues/3877.

[2021-07-12 11:21] #9160 closed, assigned to marcbaechinger

[2021-07-12 12:08] #9134 closed, assigned to kim-vde

[2021-07-12 12:16] sachin-nextbase commented on #9166
Logs for different versions of the ExoPlayer library:

**v2.14.0**

[code]

**v2.14.1**
[code]

[2021-07-12 12:18] sachin-nextbase commented on #9166
@claincly also please can an email address be provided so I can send more details about the issue, thanks

[2021-07-12 12:20] claincly commented on #9166
Please send to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to
indicate you've done this.

[2021-07-12 12:20] sachin-nextbase commented on #9167
@claincly  this is a separate issue, here are the logs for different versions of the ExoPlayer library:

**v2.14.0**

[code]

**v2.14.1**
[code]

[2021-07-12 12:24] claincly commented on #9166
A rough look - I see that these two lines only appeared in the 2.14.1 log. Is there any specific handling you added in your app code that caused the player release?

[code]

[2021-07-12 12:26] claincly commented on #9167
We need some sample media to test this. Please refer to the instruction in the other email for sending us the media, thanks!

[2021-07-12 12:32] sachin-nextbase commented on #9166
@claincly  the logic for the players release is:
if the state == Player.STATE_BUFFERING for more than 3 seconds then release the player and then re-initialize it and set the URI to start playback again.
I can send more details on the email mentioned above :)

[2021-07-12 12:47] ojw28 commented on #9037
Hm. If `#EXT-X-START:TIME-OFFSET=0` is being used then this feels like a bug to me. That's basically saying, "please start playback at the beginning", and that's not what the player is doing. I'm not sure the user should be expected to configure the intended behavior using `LiveConfiguration` in this case.

I would suggest reclassifying this issue as a bug again.

[2021-07-12 12:47] sachin-nextbase commented on #9166
@claincly here are the logs for different versions of the ExoPlayer library (2.14.1 keeps in a state of buffering, whereas 2.14.0 works well):

**v2.14.1**
[code]

**v2.14.0**
[code]

[2021-07-12 13:29] #9125 closed, assigned to kim-vde

[2021-07-12 13:40] kim-vde commented on #9154
Yes, that's possible. It might not be using the same video decoder for instance (e.g. software decoder instead of hardware one).

[2021-07-12 13:51] icbaker commented on #9169
I can reproduce that playback doesn't succeed.

I see this in logcat in the demo app:
[code]

Note the `drm=[playready,widevine]` lines, which should also include `cenc` if ExoPlayer was able to parse the `<ContentProtection schemeIdUri="urn:mpeg:dash:mp4protection:2011" value="cenc"></ContentProtection>` node from your MPD file. This is the info needed for clearkey encryption.

The reason ExoPlay

[2021-07-12 13:58] javaboboApp commented on #9146
In the function **updateProgress**  located in **PlayerViewController**
player.getContentPosition() is increasing a decreasing I was expecting a constant increase (during live (linear) ) using dash protocol.  So it duration does not change let say that I fix the duration in timeline  timeBar.setDuration(59s);
current time should increase every second, but for my surprise it does not happen. Can I

[2021-07-12 14:00] icbaker commented on #9146
This documentation should explain how `Player.getCurrentPosition()` is related to the current live window:
https://exoplayer.dev/live-streaming.html#detecting-and-monitoring-live-playbacks

[2021-07-12 14:12] javaboboApp commented on #9146
Ok  so in order to archive a constant increase (1 s) I would have to omit totally getCurrentPosition...

[2021-07-12 14:14] a-blekot opened #9182 "RTSP headers"
Hi everyone)

I'm not sure if it should be fixed but with some of our IP cameras, we had a problem with Authorization, because of lowerCase headers.

[code]

I have reverted changes to normal case (Accept, ...) and now it works correctly.
Also, I have changed this code in RtspHeaders:

[code]
If it makes sense you can add these changes to repo))

[2021-07-12 14:18] a-blekot opened #9183 "RtspMediaTrack absolute path (URI) for track"
[code]

If mediaDescription.attributes.get(ATTR_CONTROL) - returns absolute path (started with rtsp://) we have invalid path.

So, I have made little checking to handle this case:
[code]

[2021-07-12 14:24] sachin-nextbase commented on #9167
@claincly  i haves sent an email regarding this issue with subject: Issue #9167
thanks :)

[2021-07-12 14:25] alex3d commented on #9037
I think the most reasonable solution is to not apply start time projection for `EVENT` (and `VOD` if it is not already so) playlists with positive `#EXT-X-START:TIME-OFFSET` (including implicit `TIME-OFFSET=0`).
A positive `TIME-OFFSET` indicates an offset from the beginning of the playlist. The beginning of the playlist is not "live". `EVENT` playlists could only be appended to. So no time projec

[2021-07-12 14:40] kaweesi opened #9184 "Can HDMI Input be used as a source of media in ExoPlayer?"
I use exoplayer for broadcasting, i am wondering if it's possible to pickup HDMI sources to play in exoplayer ATM? this requires devices with HDMI input ports to receive the video content.

If this isn't supported i would wish to have this included in exoplayer

[2021-07-12 14:42] kaweesi commented on #8647
where can i find any such external devs to help with such an interest as this even more?

[2021-07-12 14:43] ojw28 commented on #8932
I agree it's very unclear what this request is about. Downloading a thumbnail image can be done independently of ExoPlayer.

[2021-07-12 14:43] #8932 closed, assigned to Samrobbo

[2021-07-12 14:57] icbaker commented on #9094
I tried to reproduce this problem today and the links provided over email don't seem to be working. The first one seems to either return 404 or data that immediately crashes MediaCodec (screen only shows green, no video at all) and the second one (with DRM) seems to consistently return a 403 (tried VPNing to both India & Israel).

-----

I suspect (though this is a guess) that this is related to h

[2021-07-12 14:59] marcbaechinger commented on #9037
Agreed this is a valid point to distinguish these cases for HLS EVENT streams.

[2021-07-12 15:08] claincly commented on #9182
It could be the specifics of your IP camera, could you elaborate?

As an aside, the header names are handled case insensitively, as mandated by RFC2068 (section 4.2):

[2021-07-12 16:02] viliger2 opened #9185 "RTSP - library stops sending requests after sending second DESRIBE"
Description:
When trying to stream RTSP with ExoPlayer version 2.14.1 with login-password uri library seems to stop sending requests after sending second DESRIBE and receiving reply. As a result user only sees black screen, while there is nothing on logs, not even an error. Meanwhile the same stream works flawlessly with VLC. The issue might be similar to #9166. Uri has format rtsp://user:password

[2021-07-12 20:20] space-pope commented on #8353
Is there any update to share on this? I'm still unable to locate exoplayer-common via maven as of version 2.14.1.

[2021-07-13 01:04] #9048 closed, assigned to andrewlewis

[2021-07-13 01:04] #8998 closed, assigned to icbaker

[2021-07-13 04:53] maven-y opened #9186 "audio getting skipped while playing"
### Issue description
I am using stream URLs to play in my app, I have checked it keeps skipped after an interval of 5-10 minutes or so. Please check below error log.

### Reproduction steps
Sample app of exoplayer added media source in json file

### Version Exoplayer
2.7.3
OnePlus 6T
android 10

### Url Streaming
https://studio29.radiolize.com/radio/8120/radio.mp3

### Stream details are below :

[2021-07-13 05:41] giladna commented on #9094
@icbaker thanks
I will share soon a new Live clear HEVC media the url that was shared is broken already :(
same vpn will be required

From the post I cannot see how apps can control if they have to disable this feature due to such behaviour

as we can see that for this  HEVC media we face that issue in between track switching and not between media changes

I could not see the issue on the first ti

[2021-07-13 05:44] giladna commented on #9094
@icbaker

I have rechecked and the url I gave is  actually working - sending it again

which device did you try it on maybe this is what I saw on the Pixel?

I am using Samsung Galaxy S10e

Gilad

![pixel3-AN-12](https://user-images.githubusercontent.com/16818804/125399035-b2e87b00-e3b8-11eb-80ee-d4d119da01da.png)
![galaxy-s10e-AN-10](https://user-images.githubusercontent.com/16818804/125399044-b5

[2021-07-13 09:11] claincly commented on #9185
Please provide a log of RTSP messages.

Add logs at

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMessageChannel.java#L182

and

https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspClient

[2021-07-13 09:14] claincly commented on #9183
It seems your camera is not accepting a URL. Or your control attribute contains an `rtsp://` prefix?

[2021-07-13 09:18] javaboboApp commented on #9146
Thanks for the link, according with the documentation:

**Player.getCurrentPosition returns the playback position relative to the start of the live window.**

If I want to archive constants increase in the ui part, current position synchronises with the windows.duration increase, should I consider to re-calculate getCurrentPosition() to make it relative to the start period?

[2021-07-13 09:19] claincly commented on #9183
We will have a fix for this, thanks for pointing out!

[2021-07-13 09:48] viliger2 commented on #9185
[code]

[2021-07-13 09:53] andrewlewis commented on #8353
There aren't any updates I'm afraid.

[2021-07-13 09:57] claincly commented on #9185
You see there's an attribute `a=rtpmap:96 MP4V-ES/90000`, which means the video format is `MP4V-ES`.

We don't currently support playing back `MP4V-ES` over RTSP, we only support `H264` at the moment.

[2021-07-13 09:58] viliger2 commented on #9185
I see, thank you.

[2021-07-13 09:58] #9185 closed, assigned to claincly

[2021-07-13 09:59] claincly commented on #9185
Maybe there's an option on the camera to use H264 though.

[2021-07-13 10:02] viliger2 commented on #9185
I doubt it since it's an ugly hack of a job, using some random webcam that's lying around in the office, to test integration of feed from security cameras into our app.

[2021-07-13 11:40] claincly commented on #9166
The log for 2.14.1 looked a bit suspicious: there's no received RTSP responses. I seem to remember there are responses for 2.14.1 in another comment that your posted earlier (can't find it now, maybe you have deleted it?)

In the last a few lines in 2.14.0 log though, I see

[code]
There is still a "flushing" for RTSP sender, very shortly after the PLAY request and response.

I would suggest try r

[2021-07-13 11:55] Merlinkoss commented on #5993
Any updates here?

[2021-07-13 12:55] sandipnawle opened #9187 "ExoPlayer toLowerInvariant("") not found"
Cannot find Util.toLowerInvariant(schemeId) method in Exoplayer after library updated to 2.14.1

[2021-07-13 13:04] icbaker commented on #9187
It was removed in https://github.com/google/ExoPlayer/commit/c50084e7baefc92f6222e1624fb716d20d37b160 and generally replaced with calls to Guava's [`Ascii.toLowerCase`](https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/base/Ascii.html#toLowerCase(java.lang.String)) - see the linked commit message for more details.

[2021-07-13 13:04] #9187 closed, assigned to icbaker

[2021-07-13 13:05] sandipnawle commented on #9187
Thank you so much @icbaker

[2021-07-13 13:59] Samrobbo commented on #8926
The temperature of the CPU doesn't seem related to ExoPlayer. I would recommend reaching out to the CPU and Phone manufacturer.

[2021-07-13 13:59] #8926 closed, assigned to Samrobbo

[2021-07-13 15:51] sachin-nextbase commented on #9166
@claincly thanks, I tried increasing the timeout to 30seconds but it didn't work unfortunately, it still hangs in the buffering state
The deleted comment contained logs for the other issue #9167 so i deleted it from here as I accidentally posted it to the this issue. But I don't think the issues are related

[2021-07-13 16:31] Samrobbo commented on #9186
I'm getting a 502 error when trying to access that URL, is there an issue on the URL side?

I would strongly recommend trying to update to the most recent version of ExoPlayer, and see if this resolves your issue. Using the latest release provides you with additional useful features, as well as bug fixes and various other improvements.

[2021-07-13 16:35] Samrobbo commented on #9177
Thanks for such a detailed description of your issue! Is it possible to get a url to the media, so we can try to replicate the problem? If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number.

It would also be useful to know the android version and the device t

[2021-07-13 16:43] ojw28 commented on #9186
As an additional point, it appears you're using `IcyHttpDataSource`, which is not a component that we provide and which may be responsible for the problem you're seeing.

More recent versions of ExoPlayer support ICY metadata directly (this has been the case since 2.10, as per this [blog post](https://medium.com/google-exoplayer/exoplayer-2-10-whats-new-15d344eaa8b9)). Moving to the latest version

[2021-07-13 16:50] icbaker commented on #9005
Documentation is updated on dev-v2.

[2021-07-13 16:50] #9005 closed, assigned to icbaker

[2021-07-13 16:50] #9123 closed, assigned to icbaker

[2021-07-13 16:52] jeonghyun-genesislab commented on #9177
Thanks for your reply.

Currently, the media URL is not publicly available.

We will email the offending URL via our test server within a day or two.

Hope this helps in resolving the problem.

Thank you.

[2021-07-13 16:59] anonrootkit commented on #5993
@Merlinkoss In my case, I created two different download managers for internal and external storage and it worked perfectly fine.

[2021-07-13 17:03] Merlinkoss commented on #5993
really? topicstarter says that did not worked, Because DownloadService cached DownloadManager

[2021-07-13 17:09] jpark58 opened #9188 "How to improve cache and network in exoplayer"
I was working on a video banner which user swipe a banner then the banner plays a video.
It is pretty much like a horizontal version of TikTok that users swipe horizontally.

Here is my basic design. I placed an instsance of `ExoPlayer` in a horizontal `RecyclerView` and a `PlayerView` will be added dynamically based on the scroll event. So, on a swipe event, previous `PlayerView` will be removed

[2021-07-13 17:55] ojw28 commented on #9181
We will also update ExoPlayer to use `2.7.0` once it's stable.

[2021-07-13 19:05] a-blekot commented on #9182
Hm... ok. I will ask our support team what is the difference between our cameras.
Thank you for the reference!

[2021-07-13 19:07] a-blekot commented on #9183
Yes, our control attribute has an absolute path (starts with rtsp://123.123.....)
Again I'm not sure, maybe our camera responses implementation does not follow RTSP standards...

[2021-07-13 19:30] ronak2121 commented on #8595
Hi @ojw28 or @christosts is there any update?

[2021-07-13 20:40] javaboboApp commented on #2213
I think this feature is really needed it's a shame that we have to make playgrounds in order to customize ui in live events.

[2021-07-13 21:42] fgl27 opened #9189 "Aspect ratio not properly set at playback start after latest changes to dev-v2"
I was using dev-v2 branch and found this

During the buffer stage the player doesn't have the proper aspect ratio, is just a square but the content and view are 16 by 9.

After `Player.STATE_READY` the size is OK.

I initiate the view layout like this.

[code]
Then dinamicly change the view layout to be smaller always keeping the 16 by 9 aspect ratio, that is why I can see it changing from a squar

[2021-07-13 21:57] morganch01 commented on #4372
As discussed in #9137, it would be great if ExoPlayer can provide extension for both decryption or decoder, so that client would need less effort to integrate custom DRM.

[2021-07-13 22:47] J6ey commented on #8691
Hello again, I found the workaround for this. For whatever reason, encrypting my offline contents with L3 keys was the issue (even though online contents work just fine).

Even though this is from the ExoPlayer demo, I needed to disable this if-statement here to force L1 and voila..

[code]

[2021-07-13 22:56] rrfrias commented on #4372
Sorry, we lost track of this because it was not on the right hotlist. Will reevaluate the request.

Internal ref: 158545155

[2021-07-14 00:14] rrfrias commented on #8037
@nishantkp, is there anyway to have a non-geo restricted service deliver the license? Samsung has tried both paid and free VPN services from South Korea and India and run into the same "failed to parse" key response errors. They think their VPN is correctly configured as other services recommend Canada relevant content.

[2021-07-14 02:41] deprecated-fun commented on #9017
https://github.com/google/ExoPlayer/issues/3835 could it be related to this issue?

[2021-07-14 06:59] wangxuan217 opened #9190 "How to Controls multi-track playback"
Before filing a feature request:
-----------------------
- my version is 2.14.2

### Controls multi-track playback
If I have three tracks (A.mp3,B.mp3, and C.mp3), I can control both A and B to play at the same time, or I can choose to play only A or B or C.

Multi play is ok,this my code
[code]

[code]
[code]
[code]

now ,i don't know how to select  one track play, i  think this method can only b

[2021-07-14 07:13] jeonghyun-genesislab commented on #9177
Good morning.

We just sent you a link.

As additional information, I will list the Android version and device.

Android OS version : 10,11

Device Name: Galaxy Note10, Galaxy S20

[2021-07-14 07:31] #9120 closed, assigned to kim-vde

[2021-07-14 07:32] #9124 closed, assigned to kim-vde

[2021-07-14 07:32] #9129 closed, assigned to kim-vde

[2021-07-14 08:03] andrewlewis commented on #9017
We haven't needed to enable the `setOutputSurface` workaround past API level 28 yet but this issue mentions seeing the problem on Android 10/11 (API 29/30). I think Android 10 included new compatibility tests for calling `setOutputSurface`.

Could you provide a full bug report taken just after reproducing the error, as requested above? Preferably one for each affected device. You can email them to

[2021-07-14 08:42] #9106 closed, assigned to andrewlewis

[2021-07-14 08:43] #8910 closed, assigned to andrewlewis

[2021-07-14 08:46] claincly commented on #9183
The use of absolute paths is in the RFC, so we should support it. The fix
is on the way.

On Tue, Jul 13, 2021 at 8:07 PM Aleksey Blekot ***@***.***>
wrote:

[2021-07-14 09:32] deprecated-fun commented on #9017
I'm not sure if I'm allowed to share full bug report. But if it helps I updated Exoplayer library version to 2.14.1 and error log for Samsung Galaxy A31 changed to:

[code]

[2021-07-14 09:42] deprecated-fun commented on #9017
And for Xiaomi Redmi Note 8 Pro:
[code]

[2021-07-14 09:47] andrewlewis commented on #9017
The latest set of errors suggest the media exceeds capabilities of the bundled software H.263 decoder:

[code]

[code]

Without more information I'm not sure there is an efficient way for us to help here. For this latest set of errors I'd suggest switching to a more modern codec like H.264/AVC. For the previous set of errors you could try enabling the output surface workaround just in case it help

[2021-07-14 09:47] #9017 closed, assigned to andrewlewis

[2021-07-14 09:56] icbaker commented on #9094
*Edited on 2021-08-27 to strike out the incorrect evidence about i-frames. See https://github.com/google/ExoPlayer/issues/9094#issuecomment-907157354*

My previous comment was perhaps a bit terse - I'll try and explain in more detail what I think is happening.

Apologies if any of this is obvious - I'll try and lay out my reasoning clearly.

I see the following symptoms when playing on a OnePlus A

[2021-07-14 11:08] giladna commented on #9094
@icbaker thank you for your time for the investigation and for your detailed answer.

I believe I will have to read it one more time to follow all you investigation process.

I have 2 questions tough,

Say it is bad media, why in Exo version v2.9.6  it was working?

Why does it behave differently over different android devices with Exo 2.14.1

Anyway I am taking your comments with our customer to

[2021-07-14 11:19] icbaker commented on #9094
I think these have the same root cause(s):
* I suspect (but haven't verified) that before 2.10.0 ExoPlayer would release and recreate the MediaCodec instance when switching tracks manually (because there's a discontinuity).
* Before 2.14.1 ExoPlayer would release and recreate the MediaCodec when encountering a discontinuity in **DRM protected playbacks only** - including when switching tracks manu

[2021-07-14 12:26] Samrobbo commented on #9189
Hey @klhyun, given you authored this change,. are you okay to have a look into this?

[2021-07-14 12:30] Samrobbo commented on #9188
@marcbaechinger I feel like this is your area of expertise, but feel free to reassign if i'm wrong.

[2021-07-14 13:12] Samrobbo commented on #9179
I'm going to need some more information to be able to help more, as it's hard to understand your situation.

That being said, have you considered looking into [DefaultTrackSelector](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java), potentially implementing your own TrackSelector or extending the D

[2021-07-14 13:16] Samrobbo commented on #9184
My understanding of this is that HDMI ports on most android devices do not support receiving, only transmitting. However, in the event that you're working on a TV, then look into https://source.android.com/devices/tv, which might help.

I don't think this is possible to support as a result.

Feel free to give more information and context, in case I'm misunderstanding the question.

[2021-07-14 14:37] Falrach commented on #9127
A quick update:
We fixed an issue with wrongly calculated timestamps for the playlists, so this now also works when using the `#EXT-X-PROGRAM-DATE-TIME` without issues.

[2021-07-14 15:59] #9127 closed, assigned to marcbaechinger, christosts

[2021-07-14 17:06] jeonghyun-genesislab commented on #9177
of course.

That link.

https://development.genesislab.ai:6443/v1/api/pretest-videos/1045/stream/1.mp4?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhbnRfaWRfc3RyaW5nIjoiMTAwMDE4IiwiYXBwbGljYW50X2lkIjoxMDAwMTgsInByb2plY3RfaWQiOjI3NSwidXNlcl9uYW1lIjoiaG9uZzFAZ2VuZXNpc2xhYi5haSIsInNjb3BlIjpbInJlYWQiLCJ3cml0ZSIsInRydXN0Il0sImV4cCI6MTYyODgzNjg3MiwianRpIjoiYTIyZjhiZDItZjE5MC00NGZiLWE1YTQtNmNmNm

[2021-07-14 22:12] Mario3016 opened #9191 "Playback error"
### Issue description
I'm trying to play an UDP (TS) stream. Exoplayer recognize the tracks but never starts playing the stream and after a while it trows an ExoPlaybackException: Playback stuck buffering and not loading

ExoPlayer version number: 2.14.1
For the test I used the multicast url: udp://@235.0.0.5:2002
I’ve tested it on this devices, all with the same problem:

- Android 10, Moto G8 pl

[2021-07-15 01:04] #8876 closed, assigned to jaewan-github

[2021-07-15 02:31] JMApps opened #9192 "What is causing `duplicate class com.google.android.exoplayer2` when using a library that uses ExoPlayer?"
To work with audio in my flutter application, I use the [assets_audio_player](https://pub.dev/packages/assets_audio_player) library. Everything works great on the iOS platform, but as soon as I tried to release the release version on android, I ran into the problem:

**Duplicate class com.google.android.exoplayer2.ui.package-info found in modules jetified-exoplayer-common-2.14.1-runtime (com.googl

[2021-07-15 02:48] lmj0011 commented on #6265
https://github.com/google/ExoPlayer/issues/4639

[2021-07-15 04:27] saurabharora90 opened #9193 "ExoPlayer crashing while trying to release `DefaultDrmSession` (`Assertions.checkState`)"
A small percentage of our users are facing crashes within Exoplayer 2.13.3

Stacktrace:

[code]

I am trying to understand if there is something we aren't handling properly with the DRM Session Manager?

This is how we create the session manager:

[code]

[2021-07-15 05:41] klhyun commented on #9189
Thanks for reporting this. I uploaded the fix. It'll be merged into dev-v2 branch soon.

[2021-07-15 06:30] sandipnawle opened #9194 "Predicate not found in ExoPlayer"
com.google.android.exoplayer2.util.Predicate not found when exoplayer updated to latest version

[2021-07-15 06:44] atulclassplus opened #9195 "Encrypt Existing Downloaded Video m3u8 Chunks on Local Storage"
I am using Exo player CypherDataSource to encrypt HLS videos and storing the encrypted videos on local storage of android device.

Problem Statement:
I want to encrypt existing videos which are already been downloaded using DownloadManager. How can I do that?

[2021-07-15 10:51] Samrobbo commented on #9192
It looks like the assets_audio_player is specifying 2.13.2 in their build.gradle. Given you are using their library (which makes use of ExoPlayer with other things on top), I would report the issue to them.

The link you shared has a GitHub project associated with it, where you can dig into their code if needed.

[2021-07-15 10:51] #9192 closed, assigned to nobody

[2021-07-15 11:14] JMApps commented on #9192
@Samrobbo Yes, I probably should have done so, and not take your time. Thank you!

[2021-07-15 11:46] cjhines commented on #8946
I'm using expo-av (which uses Expoplayer on Android) and I'm getting similar behaviour with an m3u8 file with invalid segments.

[code]

iOS is capable of moving on to valid segments and can play the same .m3u8 file.

[2021-07-15 13:47] luna-vulpo commented on #9179
I'm looked in TrackSelector but implementing it seems to be complicated.
For my case the base scenario would be extending DefaultTrackSelector by method: `setAllowedAudioLanguages(String... langs`)

Now I have the track selector defined like below:
[code]

And prefered api would be: `trackSelector.setAllowedAudioLanguages("en","de","fr","hu")`

Suppose that we have a stream which contains be, br,

[2021-07-15 20:04] marcbaechinger commented on #9194
I think this has been removed when we added the Guava library (2.12.0).

If you've used this in your own code, then you can use `com.google.common.base.Predicate` from Guava instead.

[2021-07-15 21:34] halizton opened #9197 "How to cancel the ongoing prepare()"
Context:

We are an app which can play multiple videos in a feed flow. We try to reuse exoplayer instances in our application since the exoplayer itself and underlying decoder is expensive to warm up. We usually call stop on an exoplayer once we are done with using it and put it back to a player pool for further usage.

Usually as the user scroll through our feed, if there is view in the feed need

[2021-07-16 01:04] #9074 closed, assigned to ojw28

[2021-07-16 03:16] akurni opened #9198 "Is it possible to render the output in 4K for GLSurfaceView"
Hi, I've been using SurfaceView to render 4K video in full res and it works great. But, there is need for me to apply color filter to the output.

I tried using GLSurfaceView as the output surface and I'm able to apply shader to it, but it seems like it doesn't render the video in 4K resolution from SurfaceSlinger dump output.

Is it possible to render 4K videos in full res inside GLSurfaceView?

[2021-07-16 04:32] sandipnawle commented on #9194
@marcbaechinger evaluate(String) function is not found in that

[2021-07-16 07:04] nbennink commented on #8691
~~Two days ago a new version of the Android 12 beta released and it appears to work now. Can someone else confirm this? It's the same code and video as before. I wasn't able to play it on my Pixel 3a before but I can't reproduce with beta 3.~~
Nervermind

[2021-07-16 08:48] CommanderRag commented on #9021
I gave up and implemented my own subtitle showing view.
I don't know why it did not work.
Maybe because the uri of the subtitle file had
`content://` in it.

[2021-07-16 08:54] #9021 closed, assigned to claincly

[2021-07-16 09:40] andrewlewis commented on #9198
Is this on a TV device where the UI is rendered at 1080p? Could you paste the output of `adb shell dumpsys SurfaceFlinger` while playing back to the `GLSurfaceView` and see whether the buffers are actually 4k or 1080p? (I'm assuming your source video is 4k and this isn't an adaptive stream where a lower resolution may have been selected.)

[2021-07-16 12:02] krishna-apk opened #9199 "Merging audio and video together"
In a previous version of exoplayer a developer can merge audio and video with the help of MergingMediaSource but in the new version, there is no manual way to do it because it only considers merging substiles (.setsubstitles) but no audio.

If there is any way to merge audio and video and play together.

[2021-07-16 13:20] Samrobbo commented on #9199
Hi, From what I understand, `MergingMediaSource` hasn't had any large functionality changes in a while.

If possible, can you give:

- The ExoPlayer version where this feature worked.
- A code snippet showing what you did
- The ExoPlayer version you are using now
- A code snippet showing what you are currently trying, although as you've said it isn't working in the current state.

Thanks!

[2021-07-16 13:25] Samrobbo commented on #9177
For all of the links you've provided, I'm getting a 'Failed - no file' error in Chrome and an error code 400 when testing with the ExoPlayer demo app.

Is there an issue with the media link? I'm attempting to access from the UK, if that makes a difference.

[2021-07-16 14:28] Samrobbo commented on #9199
Just to add some additional info that might be useful:

You can still create `MediaSource` instances directly, and this is recommended for use-cases that aren't supported the `MediaItem`, such as using `MergingMediaSource` to merge audio and video from different streams.

Given that loading subtitles is more common, we have support for it directly in `MediaItem`, but from what we've seen, playing

[2021-07-16 14:55] icbaker commented on #9194
In the Guava `Predicate<T>` the method is called `apply(T)` rather than `evaluate(T)`

https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/base/Predicate.html#apply(T)

[2021-07-16 14:55] #9194 closed, assigned to marcbaechinger

[2021-07-16 15:40] icbaker commented on #9192
One thing to note about the error message: It looks like you're (transitively?) depending on two different versions of ExoPlayer - the `exoplayer-ui` module at 2.14.2 and the `exoplayer-common` module at 2.13.2. This isn't supported. You have to use the same version of all parts of ExoPlayer.

It looks like assets_audio_player is depending on 2.13.2:
https://github.com/florent37/Flutter-AssetsAudi

[2021-07-16 16:38] icbaker commented on #9193
Thanks for the report - I think there's a bug in the way `DefaultDrmSessionManager` releases it's internal 'keep-alive' references when it's released.

Specifically if the manager is released while there's still at least one active 'external' session reference the manager will incorrectly release both references (one of the release calls will be delayed by `sessionKeepaliveMs`, defaults to 5mins).

[2021-07-16 17:18] ragotiteb commented on #9171
We are now more convinced it is more of a butterfly library issue at the root. We are looking into the possibility of doing a custom compilation that does support SSL, and see if that gets  it to work with the currently implemented exoplayer wrapping implementation.

Will get back with our findings

[2021-07-17 01:52] rrfrias commented on #8691
@nbennink , I tried using the apk you shared on a pixel 3XL running an android 11/R build (RQ3A.210905) but was unable to reproduce. Will try and see if i can get a Pixel 3a to test with.

@KazukiSugiyama107 , sorry i was unable to test with your apk. The username/password combination did not work when the app was launched and I do not have anyone to help me proceed since the app is in Japanese.

[2021-07-17 14:50] master255 opened #9200 "Can't compile AV1"
Try https://github.com/google/ExoPlayer/tree/release-v2/extensions/av1#build-instructions-windows
It's not working.

[2021-07-17 16:54] master255 commented on #9200
add OPTION(BUILD_TESTING "Build tests" OFF) to CMakeLists.txt

[2021-07-17 18:51] bianchina3 opened #9201 "RTSP - header method"
Please, use the standard keyword in header method:
CSeq, Transport, Session, .......

Greetings

[2021-07-17 22:09] master255 opened #9202 "Deprecated prepare(source, resetPosition, resetState) method not working as expected"
@ojw28 After I upgraded from version 2.12 to 2.14, nothing works.
The video does not display:
The onVideoSizeChanged event doesn't happen.
Music does not play:
The onAudioSessionIdChanged event does not happen.

There is no way to change the track. Previously I set a new MediaItem and playback started. Now it doesn't work.

Has the module gone completely into commercial development? Should I stay

[2021-07-17 22:34] master255 commented on #9202
If I just update the libraries, I get this error:
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/exoplayer2/drm/DefaultDrmSessionManagerProvider;
        at com.google.android.exoplayer2.source.hls.HlsMediaSource$Factory.<init>(HlsMediaSource.java:132)
        at com.google.android.exoplayer2.source.hls.HlsMediaSource$Factory.<init>(HlsMediaSource.java:121)
        a

[2021-07-17 22:40] master255 commented on #9202
@ojw28 Oliver, you can work without me?

[2021-07-18 10:08] master255 commented on #9202
@ojw28 How to change a track without a release?

[2021-07-19 01:04] #9057 closed, assigned to ojw28

[2021-07-19 01:04] #8922 closed, assigned to ojw28

[2021-07-19 02:08] GavinChu commented on #8951
Sorry for the delayed response.

I suspect that this problem may be a bug in the Android platform, and I have reproduced it on many phones.

Enabling codecNeedsSetOutputSurfaceWorkaround means that I need more time to reinitialize the decoder, but most of the time, it can work without enabling codecNeedsSetOutputSurfaceWorkaround. If the internal thread of ExoPlayer is calling MediaCodec#setOuputS

[2021-07-19 02:22] ChoiJeongHyun commented on #9177
Good morning.

if i use that link in chrome too
I am getting a file missing error.

But when I use the link in ExoPlayer,
It has been confirmed that the video is output normally.

Perhaps the cause of the 400 error is because our media server is in Korea
I'm cautiously guessing that it may have happened in terms of speed.

Access rights by country are not set separately.

https://github.com/ChoiJe

[2021-07-19 08:34] tosam144 commented on #9178
Hi, is there progress on this issue? I have the same problem and would be happy to see a solution. Thanks!

[2021-07-19 09:17] akurni commented on #9198
Hi @andrewlewis, yes the video source is local 4k mp4 file. Is there anything I need to do differently on my GLSurfaceView implementation? Here is the output of SurfaceFlinger

[code]

[2021-07-19 09:29] ojw28 commented on #9085
It's not certain yet, but I think option (a) is the most likely outcome here. Hence we have no plan to do (b) for the time being.

[2021-07-19 10:32] marcbaechinger commented on #9201
Thanks for reporting! Can you give us a bit more details what you observed and what the expectations are?

[2021-07-19 10:41] marcbaechinger commented on #9197
stop() is clearing the media period queue. prepare as a such is delegated to the media sources and can't be cancelled in that sense.

The ongoing prepare is ongoing only regarding loading of the media source I would say. And even if you would be able to stop the loading I wouldn't understand how it would change something regarding the problem you see, because at least after `setMediaItem(video B)'

[2021-07-19 10:47] marcbaechinger commented on #9202
Thanks for your report.

Can you give me some more info about which `EventListener` you have registered with which API (`AnalyticsListener` vs. `VideoListener`)? Which of the two `onVideoSizeChanged `callback do you listen to? `onVideoSizeChanged(VideoSize videoSize) or onVideoSizeChanged( int width, int height, int unappliedRotationDegrees, float pixelWidthHeightRatio)`? Similar for the audioSess

[2021-07-19 10:49] Jacko07 opened #9203 "HlsSampleStreamWrapper for text chunks gets stuck loading in TimestampAdjuster.sharedInitializeOrWait()"
hi, I have used exoplayer to play hls,m3u8 steam,most fo them play well.but this m3u8 steam was frozen at first frame without any exceptions reported, which it can play well at chrome or linux tv:
[...](url)

this m3u8 steam cannot play in exoplayer demo either, please have a look, thanks!
these below are my config:

[code]

[code]

[2021-07-19 10:51] Samrobbo commented on #9179
@christosts, when you're available, can you have a look into this?

[2021-07-19 10:57] Samrobbo commented on #8627
This issue slipped through the cracks, sorry about that.

I can confirm this exact issue is happening on my device.

@ojw28 is this something you can look into? I'm conscious there seems to be a few other Talkback related issues, such as it repeatedly 'saying' the current progress time? Is that expected behaviour?

It could be worth a full dive into the UI talkback situation?

[2021-07-19 11:01] Samrobbo commented on #6729
In the next release, `VorbisComment` metadata will correctly populate the `MediaMetadata` object in the `Player`. Additional fields will also be available.

Marking this as closed.

[2021-07-19 11:01] #6729 closed, assigned to Samrobbo

[2021-07-19 11:08] ojw28 commented on #9179
You can use `trackSelector.setParameters(trackSelector.buildUponParameters().setPreferredAudioLanguages(...));` to specify preferred audio languages.

However, it sounds like you want the player to behave as though the other tracks don't exist at all (e.g., have the player not even list them as tracks when you query the player for the tracks that exist). There's no easy way to make the player do t

[2021-07-19 11:13] ojw28 commented on #8627
I did take a look at this a while back, and was able to reproduce the issue. I wasn't able to figure out the root cause though. It felt like it was more likely to be a problem with talkback itself than a problem with ExoPlayer's UI components. It seems quite likely there exists a way we could work around whatever the underlying problem is. We'll need to carve out some more time to try and figure o

[2021-07-19 11:25] luna-vulpo commented on #9179
exactly.

: (

There is a external provider of stream which doesn't want to change current manifest or provide a new one.

I saw setPreferredAudioLanguages in doc but for exo 2.12.1 I see only setPreferredAudioLanguage (without "s")

[2021-07-19 11:31] master255 commented on #9202
@marcbaechinger **First question: How to change a track without a release?**

[2021-07-19 11:33] ojw28 commented on #9179
setPreferredAudioLanguages was added in 2.13.0. I don't think it really does what you want though.

This issue isn't really making a strong case for what you're requesting being important. For example, what's the concrete and valid case where it's both important that the client support this, and where you wouldn't have cooperation from the provider of the stream? If you can make a good case we can

[2021-07-19 12:19] bianchina3 commented on #9201
Hi.
My camera is not responding due to non-compliant keyword headers.
I changing the code for replace keyword headers in accordance of  RFC 7826 (section 18) and now the IP camera work well.
I believe the issue #9182 is similar to mine.

[2021-07-19 12:23] marcbaechinger commented on #9203
Thanks for your report! I can play the stream in the demo app when I disable text tracks. WIth text tracks enabled it stops at the first frame like you report. I can confirm something is not working as expected. When text track is enabled we never get out of the buffering state and the renderers never get started. Besides I also don't see that we actually start loading the subtitle file (only the

[2021-07-19 12:29] claincly commented on #9201
RTSP header syntax is case insensitive. Your camera is not fully compliant in this case. Glad that you fixed it by changing some string constants.

[2021-07-19 12:37] marcbaechinger commented on #9202
If you are using the `DefaultTrackSelector` provided by the library, setting new parameters does invalidate the track selection and makes the player ask for a new selection the next time a track selection is required (like before a next segment or chunk needs loading).

If you implemented you own `TrackSelector` a `TrackSelector.InvalidationListener` is passed to the init method of your custom imp

[2021-07-19 12:38] bianchina3 commented on #9201
Hi.
The RFC7826 don't talk about case insensitive in headers. the keywords should be equal as in section 18

[2021-07-19 12:43] master255 commented on #9202
@marcbaechinger I have one URL link and sometimes I need to change it.
Previously I did this:

[code]

player started playing... (now it doesn't start playing)
now do i need to change the trackselector as well? Or what?

[2021-07-19 12:44] claincly commented on #9201
Yes it does, in section 20:

The RTSP syntax is described in an Augmented Backus-Naur Form (ABNF)as defined in RFC 5234.  It uses the basic definitions present in RFC 5234 <https://datatracker.ietf.org/doc/html/rfc5234>. Please note that ABNF strings, e.g., "Accept", are case insensitive as specified in Section 2.3 of RFC 5234. The RTSP syntax makes use of the ISO 10646 character set in UTF-8 enco

[2021-07-19 12:58] bianchina3 commented on #9201
you're right. But there are many cameras that are not responding, but if you change the strings you cover all the cameras and you are not out of the RFC standard.

[2021-07-19 13:11] claincly commented on #9201
Fixing for one camera may break for another. In our testing we found there
are discrepancies in what cameras support. For example, for
Content-Encoding header, a camera could support either

- Content-encoding
- Content-Encocing
- content-encoding

We've seen RTSP servers do all three, so it's hard for us to make a
decision which one to use. But we will keep an eye on this.

On Mon, Jul 19, 2021 a

[2021-07-19 13:13] icbaker commented on #9203
I think given the WebVTT files are never downloaded, this is probably something related to ExoPlayer's HLS machinery rather than subtitle handling.

(Aside: A mostly empty WebVTT file like that seems fine - I would assume it just means there are no subtitles for the selected segment)

[2021-07-19 13:37] marcbaechinger commented on #9202
Ah, no sorry. :) That was a misunderstanding. We use the term 'track' for adaptive tracks internally. I've seen the stack trace above and thought it was about HLS.  Please disregard my comment above.

The case you are describing with calling the deprecated prepare method works for me when I try this in the demo app.
In your case does `!haveStartPosition` evaluate to true or false when it is not wo

[2021-07-19 13:59] master255 commented on #9202
@marcbaechinger I do this:

[code]
after that, I change the link and do it again. The player doesn't play.
Version 2.12 plays.
Version 2.14.1 does not play

What to do?

[2021-07-19 14:17] marcbaechinger commented on #9202
I'd suggest to migrate to the new API:

[code]

Can you try whether that works?

If you want me to look into the issue in more detail, please answer my question from above. I wasn't clear, sorry.

[2021-07-19 14:21] master255 commented on #9202
@marcbaechinger I checked the migration. It doesn't work in the same way.

haveStartPosition = false

[2021-07-19 14:37] nishantkp commented on #8037
@rrfrias currently we do not have a non-geo restricted service to deliver a DRM license.

[2021-07-19 15:35] master255 commented on #9202
@marcbaechinger What to do? Is this bug reproducing for you?

[2021-07-19 16:26] Samrobbo commented on #9190
@christosts I'm not sure how possible this is, but thought you might know if anyone?

[2021-07-19 22:43] dan-ryan opened #9204 "Guava List equalsImpl method is missing, causing a crash"
Updating to the latest version (v2.14.1) from v2.11.8 is causing NoSuchMethodError when calling `stop` or `setPlayWhenReady` on SimpleExoPlayer.

Stacktrace:
[code]

I've also tried updating to v2.12.3 (and 2.12.1). Similar crash (indexOfImpl is missing on List):

[code]

Does anyone have any idea what the issue could be?

[2021-07-20 01:04] #9053 closed, assigned to ojw28

[2021-07-20 07:53] icbaker commented on #9204
I think this must either be related to your build process and how you're resolving guava dependencies - or some sort of minification/R8/proguard process? We don't see the problem in the demo app in this repo.

If you're using gradle maybe try running the [`dependencies` task](https://docs.gradle.org/current/userguide/viewing_debugging_dependencies.html) and see if there's anything surprising there

[2021-07-20 08:52] AquilesCanta commented on #9153
@ojw28 we need to revisit timestamp adjustment. Mind taking a look?

[2021-07-20 09:47] Wiktorl4z opened #9205 "Demo app FLV sample is no longer available"
Basicly wanted to check if newest version of ExoPlayer is still supporting FLV files.

Steps to reproduct:
1. Downloaded ExoPlayer sample app
2. Clicked on Misc
3. Big Buck Bunny video (FLV) download icon
4. Downloading is starting but file can't be downloaded.

Btw would like to ask if newest ExoPlayer is still supporting FLV?

[2021-07-20 12:01] fourofspades opened #9206 "Exoplayer UI and Service disconnections."
I'm having some issues with my app, where Android kills my background service after a while.   When the user presses the play button in the ExoPlayer UI, it doesn't do anything anymore, as the service has been killed by the OS.

What should I be doing here?  It doesn't help that there isn't a good example of how to do an audio-only player with a background service.

[2021-07-20 12:48] alex3d commented on #9037
@marcbaechinger is it intended you still project start position when `EXT-X-START` is unset (playback starts from the second segment from playlist beginning in this case)
In our product, we could explicitly set `EXT-X-START=0`, but it seems a little illogical.

[2021-07-20 13:23] icbaker commented on #9205
When I try and play the Big Buck Bunny (FLV) sample in the demo app I see the following stack trace in logcat:

[code]

It looks like the asset is no longer available at the URL used by the demo app:
https://github.com/google/ExoPlayer/blob/b2333c86c1eac9a1f95992960a8495f1e5b79200/demos/main/src/main/assets/media.exolist.json#L577-L578

And confirmed with curl - this just hangs too:
[code]

So I d

[2021-07-20 13:34] marcbaechinger commented on #9206
You need to run your service as a Foreground service and attach a notification to it to make it visible for the user. When running in the foreground, the system does not kill the service. Detailed documentation about running a foreground service can be found in the [guide](https://developer.android.com/guide/components/foreground-services) on developer.android.com.

[2021-07-20 14:03] Wiktorl4z commented on #9205
Yeah I agree, but meanwhile wanted to confirm if ExoPlayer is still supporting FLV.
Thank you @icbaker

[2021-07-20 14:37] marcbaechinger commented on #9037
Technically streams with an EXT-X-START that is positive or zero have the projection suppressed. I think this is intended in the sense that an EVENT stream is handled as a live stream when the end tag is missing and the start offset is undefined. So in this case projection is still applied to answer your question.

The change above does not change how the start position is calculated for streams w

[2021-07-20 15:02] fourofspades commented on #9206
In my audio service, I am using a PlayerNotificationManager.Builder and calling the following on it:

[code]
I also have <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>  in my manifest.

Is this not enough?

[2021-07-20 15:26] marcbaechinger commented on #9206
That look about right to me. You also need to start the service accordingly. There is `Util.startForegroundService()):

[code]

You can use the method above or do what the method is doing yourself. Please also verify the `onNotificationPosted()` is called immediately when the service is started. This requires that the player is prepared when you start the service.

[2021-07-20 16:57] moneytoo commented on #9096
Some publicly accessible DTS WAV samples can be found here:

* http://samples.mplayerhq.hu/A-codecs/DTS/03_NEUE_MUSIK_BERND_THEWESl_kleine_pingpark_wolke_DTS.wav
* http://samples.mplayerhq.hu/A-codecs/DTS/06_NEW_JAZZ_SSQ3_ENERGY_DTS.wav
* http://samples.mplayerhq.hu/A-codecs/DTS/Fire__VooDoo_Studio_30_sec.wav
* http://samples.mplayerhq.hu/A-codecs/DTS/dts/dtswavsample14.wav

[2021-07-20 17:26] apptrash commented on #9037
@marcbaechinger Hello! I found a case where neither the proposed workaround nor today's fix solve the problem: if segments are added to the second media playlist. I can provide you with an example if required, as well as any clarifying information to reproduce.

[2021-07-20 17:28] apptrash commented on #9037
In my previous example, segments were not added to the second media playlist (it was static actually) and your workaround worked correctly.

[2021-07-20 17:57] halizton commented on #9197
I think this is the case. Also since our videos are short (less than a minute), it appears the entire video A (old)is already in the renderer/media.

I also reuse the **PlayerView/Surface** but they are managed (reused) by the recycler view directly. The cached exoplayer pool is independent from the **PlayerView/Surface**. I set a player to the PlayerView/Surface when it comes into the view port.

[2021-07-20 22:54] dan-ryan commented on #9204
I don't have any minification/R8/Proguard process in this project.
I couldn't find anything that could help in those NoClassDefFoundError issues.

Using the suggested fix:
[code]
Gave a slightly different error:

[code]

[2021-07-20 23:31] dan-ryan commented on #9204
I gave `gradle -q dependencies --configuration implementation` a run and returned:

[code]

I see there is a few mentions of Guava in there. But I have no idea what to do to fix this.

[2021-07-21 01:50] jpark58 opened #9208 "How can I limit the total number of caches?"
Hello,

I want to implement caching for a list of videos.
What I am trying to implement is pre-caching some chunk of every videos and store them in cache or disk so that users can watch videos without buffering.

I just want to limit the total number of caches. How do I limit the number? I want the size of video list to be the total number of caches so that LRU cache evictor can maintain only rece

[2021-07-21 04:18] irfanirawansukirman opened #9209 "com.google.android.exoplayer2.ExoPlaybackException: Source error | 403"
I'm trying to run a video with the following URL: http://cdn-vt.corporateedu.xyz/videos/files/20210510/transcode/1620620085_test-video-mp4-ilyas_480p.mp4?md5=P3OvD06gnIzFa6FbdBNJIw&expires=1626847945 Tried getting 403 error sometimes. upgraded the exoplayer version but it still happens.

exoplayer version: 2.13.3
android: 11
device: samsung A50

[2021-07-21 09:40] claincly commented on #9209
I get a 403 accessing that link directly with Chrome. Maybe the server's permission is doing something?

[2021-07-21 09:41] #9183 closed, assigned to claincly

[2021-07-21 09:41] #9182 closed, assigned to claincly

[2021-07-21 09:43] claincly opened #9210 "Support additional sample formats (i.e., codecs) in RTSP"
### Use case description
Support extra sample formats with RTSP. It currently only supports

- AVC
- AAC
- AC3

### Proposed solution
Add `RtpPlayloadReader` instances to handle more formats.

### Requested format
(empty for now)

[2021-07-21 09:45] #9193 closed, assigned to icbaker

[2021-07-21 09:55] irfanirawansukirman commented on #9209
If i access the video using wifi rarely get errors. But when using mobile data, there are often problems with source errors or forbidden 403

[2021-07-21 10:34] saurabharora90 commented on #9193
Sorry missed the question. Guess it was an edit.

It is causing app crashes.

[2021-07-21 10:34] GouravSna opened #9211 "How to use our custom notification for DownloadService"
I am looking at `DemoDownloadService` which uses `DownloadNotificationHelper` and shows the download progress in notification.

I want to use my custom notification to give more functionalities on Notification UI. Is there any way to customize it.
One approach, I am thinking to copy paste the class `DownloadNotificationHelper` in my custom class as `DownloadNotificationHelper` is final, i can not

[2021-07-21 13:14] fourofspades commented on #9206
I am doing all the above things mentioned (and always have been), but still getting disconnects.   I think I have a related question.   I am using audio live streaming, and the service gets killed, I believe, only when the player is in the paused state, in the background.

**So my possibly related question:**
When a live audio stream is paused, is the buffering consuming memory?  (I guess it has t

[2021-07-21 13:27] marcbaechinger commented on #9208
I think you have only one single `Cache` instance which is probably the provided `SimpleCache`. The you can use a `CacheEvictor` that makes sure the cache does not get too big.  This can be a `LeastRecentlyUsedCacheEvictor` but given your use case I would expect that you want another strategy because if the user skips forward only you don't want that the media that never has been played is evicted

[2021-07-21 13:32] marcbaechinger commented on #9209
The player can connect to the server and is receiving an HTTP/403 which is reported accordingly.

There is not much more the player can do. I think you need to get access granted for that resource from any network if this should reliably work. You need to figure out with the owner of the server how you can authenticate.

[2021-07-21 13:38] marcbaechinger commented on #9211
I think this is a duplicate of #8297. The comments there seem to answer your question. May I kindly ask you to check the other issue for more information.

I'm closing this issue. If you think your issue is different from  #8297, please reopen.

[2021-07-21 13:38] #9211 closed, assigned to marcbaechinger

[2021-07-21 13:59] marcbaechinger commented on #9206
When a live stream is paused data is buffered up to the limit defined by the `DefaultLoadControl`. By default this is 50 seconds of media I think. It does not indefinitely keep buffering.

When you say it is killed when paused I'm a bit surprised, because you ignore the ongoing flag in your code. It would ideally be like so:

[code]

then you leave the foreground state when ongoing == false (eg. w

[2021-07-21 14:05] jpark58 commented on #9208
Thank you!
I already have implemented the `LeastRecentlyUsedCacheEvictor` and of course set the max size of it. But, doesn't that mean it is literally the total size of cache files? I apologize if my wording above was misleading. **What exactly I am trying to implement is to limit the number of cache files.**

Initializing variables for SimpleCache. By doing this, I believe I set 90MB as max size

[2021-07-21 14:11] fourofspades commented on #9206
Many thanks, that is plenty of detail for me to look at.

[2021-07-21 15:11] luna-vulpo commented on #9179
My app gets a configuration from backend. The configuration varies depend on market.
But content provider is a just proxy and aggregator so the provider has very little possibility to change manifests.
So the app is a guard of policy for concrete market.

I solved most of the issue on UI but the code is a little bit complicated. So such functionality would simplify logic.
I have to solve last thin

[2021-07-21 16:53] stevemayhew commented on #7975
@marcbaechinger I added to the pull request #9174  with a couple of choices for unit and functional (EPII level) tests.

My gut feels it is best pushed to the unit test level and re-work the way the logic in the `MaskingMediaPeriod` and `MaskingMediaSource` use `preparePositionOverrideUs` and `preparePositionUs` to keep the initial seek/prepare start position until the timeline updates.

The logic

[2021-07-21 16:54] stevemayhew commented on #7975
PS I suspect the reason DASH works is tied up in how the HLS playlist updates, so possibly we could push the fix down into HLS somehow, I've not looked at that yet

[2021-07-21 17:06] marcbaechinger commented on #9208
The `Cache` is not caching files directly but instead caches chunks of these files. ExoPlayer may only download parts of the files which can be seen eg. in the method of `CacheEvictor` that has a start and length for a give key that is representing a resource:

[code]

I think I understand what you mean though. You want to only cache the begin of N streams/files. But this model is not how the `Cac

[2021-07-21 18:02] #9104 closed, assigned to claincly

[2021-07-21 18:03] #9114 closed, assigned to claincly

[2021-07-21 18:03] #9070 closed, assigned to claincly

[2021-07-21 19:09] ojw28 commented on #9094
It's not necessarily the case, but I wonder if this is related to https://github.com/google/ExoPlayer/issues/9168.

[2021-07-21 20:21] ghost commented on #8991
I would think this is reproducible by leaving content streaming for an extended period of time. I usually get a timeout in the Exoplayer Demo App, but if the stream can continue playing for several hours it should crash with this renderer error on this device. I have found this exception occurs on a TCL Android TV as well. It happens regardless of the type of content. Please let me know if there a

[2021-07-21 20:37] viktorisacenko commented on #3163
+1 Is an important feature for a video lib
😁

[2021-07-21 21:35] samirtvdev opened #9213 "Packet Capture trac user agent"
Hi,

App " Packet Capture" trac my app  (url and user agent )
I use IPTV panel
I try with different ExoPlayer version.
Is there a solution to protect this data (url and user agent )?

[https://drive.google.com/file/d/16GE_SFkZn4I6kFXax0eehSxT9U_tVcv8/view](url)

[2021-07-21 22:10] ojw28 commented on #9168
There are a couple of differences between the dumped data that I can spot:

1. ExoPlayer is using 4 byte NALU start codes (0x00000001), where-as Kodi is using 3 byte codes (0x000001). I doubt this is causing a problem.
2. ExoPlayer is outputting data starting at sample 21 (zero-indexed). This is due to the file containing an edit list that drops the first couple of samples, together with [this cod

[2021-07-21 22:28] ojw28 commented on #9168
I think the MP4 container is incorrect in marking sample 21 (zero-indexed) as a random access point. I think the next random access point after sample 0 is sample 24. I think you will find that disabling edit lists resolves the problem, in which case:

* Skipping to sample 21 is due to the combination of the edit list in the content and the limitation in the code as referenced above.
* The three g

[2021-07-21 22:33] ojw28 commented on #9200
@AquilesCanta - Could you take a look (reassign to @andrewlewis if needed). Thanks!

[2021-07-21 22:36] #9189 closed, assigned to klhyun

[2021-07-21 22:47] ojw28 commented on #9213
The solution is to request data over HTTPS rather than HTTP. See https://www.cloudflare.com/en-gb/learning/ssl/why-is-http-not-secure/. If the server only supports HTTP, then there is fundamentally no way to protect this data.

[2021-07-21 23:50] samirtvdev commented on #9213
Thanks for your assistance

[2021-07-22 00:06] #9213 closed, assigned to ojw28

[2021-07-22 00:45] #9209 closed, assigned to marcbaechinger

[2021-07-22 01:43] yinshengpan opened #9214 "When exoplayer plays a video, the video screen is played normally, but there is a problem with the sound playback"
**Environment:**

- Rockchip rk3228 Android 8.1

- Exoplayer 2.14.0

**Question:**
I used exoplayer to play the video on Rockchip rk3228 device, and the playing video screen was normal, the sound was erased, but it was not silent, the background music was normal, the human voice was a bit compressed and became very small, and I could not even hear what was said; I play it normally on Xiaomi, Huawe

[2021-07-22 03:02] javalue commented on #8972
please open it. thanks

[2021-07-22 06:59] SharifRafid opened #9215 "Ndk r21e Linux-x86_64 cannot build ffmpeg with provided build script"
Hi,

I am using Ubuntu Linux 64bit Version to build the Exo Player FFMPEG extension.

I followed the whole readme quite a lot of times and tried online fixes but none is actually helping to get the build successful.

After giving this command
`cd "${FFMPEG_EXT_PATH}/jni" && \
./build_ffmpeg.sh \
  "${FFMPEG_EXT_PATH}" "${NDK_PATH}" "${HOST_PLATFORM}" "${ENABLED_DECODERS[@]}"
`
I'm getting an outpu

[2021-07-22 09:01] andrewlewis commented on #8713
Oppo's reply suggests that this could be due to making a high frequency of calls. As the relevant code is within the IMA SDK I've filed [internal: b/194365589] to ask the IMA team to consider reducing the frequency of these calls (if it's unnecessarily high) and also requested Oppo to check their customizations to see if their specific implementation could be causing the blocking behavior.

[2021-07-22 09:01] #8713 closed, assigned to andrewlewis

[2021-07-22 10:18] AquilesCanta commented on #9200
I've just followed the build instructions on linux, exoplayer version 2.14.2, and it works well. If you provide more info about your error, we may be able to assist you. Can you explain which step is failing and what error message you are running into?

[2021-07-22 10:23] icbaker commented on #9204
I don't see anything suspicious in that gradle output, all the Guava references except the one brought in by ExoPlayer are the `com.google.guava:listenablefuture:1.0` dep which is being autoamtically upgraded to `9999.0-empty-to-avoid-conflict-with-guava` by gradle. In case you're curious there's more info about this in the "Duplication troubles" section of this blog: https://blog.gradle.org/guava

[2021-07-22 10:24] marcbaechinger commented on #9214
I would have said this looks like a device specific problem for that Rockchip rk3228 Android 8.1 device.

You are saying it does not work with ffmpeg either though. Can you elaborate on this a bit? If you have the same problem with ffmpeg then it looks like a problem with the media. If it works on other devices, then it is probably a device specific problem with the codec on that device.

If you w

[2021-07-22 11:10] yinshengpan commented on #9214
@marcbaechinger Thank you very much for your answer,I saw a blog saying that FFmpeg does not support soft decoding of videos, and I am not sure if it is correct. Normally, the soft decoding of FFmpeg extension is basically compatible with all devices. It may be caused by the incorrect generation of FFmpeg extension. Ask if the official exoplayer has compiled FFmpeg extensions that can be used, bec

[2021-07-22 11:18] master255 commented on #9200
@AquilesCanta try to think for yourself? You have a problem and a solution to that problem. Think about it and tell me what the problem was and what needs to be done?

[2021-07-22 11:21] master255 commented on #9215
@SharifRafid Wrong encoding of the file?

[2021-07-22 11:23] AquilesCanta commented on #9200
I don't currently have a reason to think there is a problem. Please provide more info about the problem below and I will reopen the issue. I will not modify the source code unless it is clear what we are getting out of it.

[2021-07-22 11:23] #9200 closed, assigned to AquilesCanta

[2021-07-22 11:37] AquilesCanta commented on #9215
I've just built ffmpeg with no issues using ndk 20. I'm pretty sure that this is an issue with your local setup. For starters, ndk is looking for a file in `/tests/Makefile`, which doesn't look right and should instead be `{ffmpeg's location}/tests/Makefile`.

If I have to guess, I'd say NDK_PATH has an issue. In your case it's probably set to "/media/sharifrafid/Android Files Basically/Exo Player

[2021-07-22 11:47] master255 commented on #9200
@AquilesCanta try creating a clean Ubuntu virtual machine and follow your instructions.
Do this on a regular basis.

[2021-07-22 12:30] dan-ryan commented on #9204
Thanks for looking into this. I already tried cleaning all caches. It happens to all builds after v2.11.8 but is not an issue for builds before it. Whatever broke it happened in 2.12.0 or 2.12.1. I removed all the deprecated code to make sure that wasn't the issue.
I'll see if I can create a minimal reproducible example. Otherwise, I guess I'm stuck on v2.11.8.

[2021-07-22 13:15] Kolyall opened #9216 "How to wrap license request at MediaSource if I play by uri and use `setDrmLicenseUri`?"
Currently I wrap request for download by this example: https://github.com/google/ExoPlayer/issues/2370

[code]
WrappedLicenseHttpMediaDrmCallback.kt:
[code]

Question:
But how to wrap license request at MediaSource if I play by uri and use `setDrmLicenseUri`?
I build MediaSource like this:
[code]

[2021-07-22 13:32] #9140 closed, assigned to kim-vde

[2021-07-22 13:47] apptrash commented on #9037
Should I create another issue about it?

[2021-07-22 14:46] SharifRafid commented on #9215
@AquilesCanta I literally don't know how to thank you bro, the issue was with the spaces in my path, I just made the whole path space proof and it worked like a charm. There are such huge communities and after searching for 2 days I didn't find this simple issue. No one told me that your path should not contain spaces lol.
Thanks A Lot Man. Saved my life.

[2021-07-22 14:46] #9215 closed, assigned to AquilesCanta

[2021-07-22 14:57] TechComputerServiceDunkerque opened #9217 "Bug on video 50 fps FHD/SD"
Hello,

I don't know if I'm in the right place, so here's my problem, I have videos in 50 fps in full HD or SD and it lags all the time especially in streaming and iptv, the image freezes and resets immediately and as soon as an image goes too fast, it freezes.

It's quite annoying, I have this problem on many applications that use the exoplayer such as Tivimate, XCIPTV, etc... I would like to kno

[2021-07-22 15:45] icbaker commented on #9216
You need to pass a `DrmSessionManagerProvider`  to your `MediaSourceFactory`: https://exoplayer.dev/drm.html#using-a-custom-drmsessionmanager

Your `DrmSessionManagerProvider` should return a similar `DefaultDrmSessionManager` instance to the one you pass to `OfflineLicenseHeleper` in the top code sample.

[2021-07-22 15:52] icbaker commented on #9204
ExoPlayer's Guava dependency [was introduced in 2.12.0](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2120-2020-09-11) - that would explain why you don't see problems before that:

[2021-07-22 16:10] icbaker commented on #9103
Closing due to inactivity.

[2021-07-22 16:11] #9169 closed, assigned to icbaker

[2021-07-22 16:11] #9205 closed, assigned to icbaker

[2021-07-22 20:37] cncb-gh opened #9218 "Skip Silence at end of tracks?"
Is SkipSilence supposed to work at the end of audio tracks or just in the middle?  It doesn't seem to be working at the ends.  Is there something that has to be set other than SkipSilenceEnabled?  Thanks.

[2021-07-22 22:50] HyowonHwang commented on #9155
Thanks for your effort. We will try fix the content.

[2021-07-22 22:50] #9155 closed, assigned to kim-vde

[2021-07-23 01:04] #9105 closed, assigned to icbaker

[2021-07-23 01:04] #9060 closed, assigned to krocard

[2021-07-23 05:49] HyowonHwang opened #9220 "A problem with drm protected contents."
### Enviroment
- ExoPlayer version number'
2.14.1
- Android version
Android 11
- Android device
SM-N970

### Problem
I have a  problem with some content of widevine and  checked that  it was played well  on chrome browser.
Only Android  devices have problem and tried to figure out what problem is. But I couldn't make it.

I have attached  full logs.
[wv_failed_error.txt](https://github.com/google/

[2021-07-23 06:45] Kolyall commented on #9216
Thanks, it works!

[2021-07-23 06:45] #9216 closed, assigned to icbaker

[2021-07-23 07:47] vaibhav-sharechat opened #9221 "Certain Devices are crashing with SQLiteException when using DownloadManager"
### StackTrace
[code]

### ExoPlayer Version Used
2.14.0

42% crashes are on Vivo device
Any help with the issue would be great. Thanks

[2021-07-23 07:53] TimelessTyler opened #9222 "Play RTMP stream picture Caton"
Play RTMP stream picture Caton

[2021-07-23 08:40] marcbaechinger commented on #9222
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2021-07-23 09:14] kim-vde commented on #9096
We use the header format tag to determine the wav format ([code](https://github.com/google/ExoPlayer/blob/r2.14.2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/wav/WavExtractor.java#L98)). I only checked the first sample provided in the comment above but it has format tag 0x0001, which normally corresponds to PCM. There is probably another way to determine that it is DTS

[2021-07-23 09:49] shenbuqingyun commented on #9096
Sorry, I did not receive the notification from github, I missed it.

I send a email to dev.exoplayer@gmail.com which contains a dts-wav song, please check.

Sorry again.

[2021-07-23 09:50] marcbaechinger commented on #9217
Thanks for reporting. Do you have some logs or similar from that device? It would also be interesting to know which version of ExoPlayer you are using like which version and whether you are using an ExoPlayer from this repository or the fork from Amazon. I don't have much experience with Amazon device in general and the fire cube in particular, but in case it is not properly working I'd try the fo

[2021-07-23 10:08] marcbaechinger commented on #9218
I think setting the flag should be sufficient in case you are using the `DefaultAudioSink` that is used by default.

That should work on analzying the audio data that are produced by the audio media, so I'd expect in the middle as well as at the end.

When using the `EventLogger`, do you see a line printed to he log similar like the one below? (or do you see a call to `AnalyticsListener.onSkipSile

[2021-07-23 10:27] TechComputerServiceDunkerque commented on #9217
The problem is that only the dev of the application tivimate or xciptv has these logs... I'm a user of these versions which are downloadable on play store if you want to watch, my seller can even give you a 24h test so you can see where it bugs if you want of course, it's mostly the french channels in fhd 50 fps that lag all the time. On the other hand under vlc no worries if it can help with this

[2021-07-23 10:55] kim-vde commented on #9096
Are you sure you sent the email? I can't find any email with subject "Issue #9096".

[2021-07-23 10:57] marcbaechinger commented on #9220
That`s probably an issue with the implementation on that device.

@rrfrias may I kindly ask you to have a look?
@HyowonHwang I checked the inbox but I haven't found an email with subject "Issue 9220" or similar.

[2021-07-23 11:50] marcbaechinger commented on #9217
Can you please file a bug against the app so that they are aware of it? They can probably give you some info in case they know about the issue on these devices. If they think its an ExoPlayer issue they certainly can file a bug here with the required information, so it becomes actionable for us. We can't give user support for apps I'm afraid.

[2021-07-23 13:50] kim-vde commented on #9096
Thanks for providing the sample. The format tag is also 0x0001 for the file you provided, so the conclusion is the same as in my previous comment.

[2021-07-23 14:31] marcbaechinger commented on #9037
@apptrash  Please provide me with an example. If the start offset is set to 0 or a positive value by the playlist it does not projection anymore. I'm interested to see why it's not working. Please send me a stream url for your case.

[2021-07-23 14:34] marcbaechinger commented on #9206
Just checking because it came to mind: can you confirm that with "ExoPlayer UI" you are referring to the `PlayerView` or `StyedPlayerView` and not the notification? If so the above guidance is valid. :)

[2021-07-23 14:39] fourofspades commented on #9206
Using PlayerControlView in a fragment here, and the controls go dead if left paused in the background too long.   The notification has also been destroyed, so it's all related I guess.

[2021-07-23 14:43] cncb-gh commented on #9218
Thanks, turns out it was a stupid mistake on my part.  Sorry to waste your time.

[2021-07-23 14:43] #9218 closed, assigned to marcbaechinger

[2021-07-23 15:41] HyowonHwang commented on #9220
@marcbaechinger  Sorry for sending late. I've just sent  it.

I understand that this could be a problem of device. But almost android devices(SM-9xx, LM-V500) have problem this.
Some device(Nexus5_5.0) play while too many frame drops.

If there is a point of modifying my content, I really want to know about it and will try to fix it.

[2021-07-23 16:41] ProtoScott opened #9223 "Crash when changing audio track on high bitrate video streams"
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
**Done**
- Consult our developer website: https://exoplayer.dev/
 **Done**
- Check the supported formats: https://exoplayer.dev/supported-formats.html
**Done**
- Try playing problematic media in the demo app:
  http://exoplayer.dev/demo-application.html
**Done**

Issue:
When switch

[2021-07-23 20:25] RemiHin commented on #6166
Is there any update on this? I'm running into the problem that I can't download files that require an authentication header.

[2021-07-23 22:11] TechComputerServiceDunkerque commented on #9217
I tried to do this on Thursday, he said he does not see the problem while we are several to complain on the subject on several forums for many other applications iptv, same problem found, just with channels in 50 fps, 25 fps, 30 fps, no problem found ... That's why I came to you to try to solve the problem because it's impossible to be heard by the developer of the applications that use your playe

[2021-07-23 22:15] master255 commented on #9202
@marcbaechinger @ojw28 Where is the answer? You need your player now. I have vlc. Although it has bugs, but it doesn't cut sound and video quality like your module.

[2021-07-23 23:03] marcbaechinger commented on #9221
Thanks for reporting.

The problem originates from [`DefaultDownloadIndex.getDownloadForCurrentRow():441`](https://github.com/google/ExoPlayer/blob/r2.14.0/library/core/src/main/java/com/google/android/exoplayer2/offline/DefaultDownloadIndex.java#L441) when we call `cursor.getBlob()` for that the javadoc says *The result and whether this method throws an exception when the column value is null or

[2021-07-24 16:32] ronak2121 commented on #1574
Hi @ojw28 and @kevleyski the recent DASH specifications also reference xlink in order to do dynamic ad pod resolution. Since I haven't heard anything on my above issue since March, is it fair to say Exoplayer will never support the latest DASH specifications? (i.e. we cannot expect Exoplayer to implement it in the next 2 years)

and if not....is there a way to build this support on top of Exoplaye

[2021-07-24 23:06] Maxusz666 opened #9224 "Ok"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2021-07-24 23:06] Maxusz666 commented on #9224
[Uploading logcat.txt…]()

[2021-07-24 23:09] kevleyski commented on #1574
It's unlikely

Some other mainstream players such as Roku will also never support

[2021-07-25 11:56] marcbaechinger commented on #9224
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/feature_request.md).

[2021-07-25 12:12] marcbaechinger commented on #9202
We are a small group of engineers answering issues here on GitHub. We have to prioritize, because our time is scarce compared to the number of issues. So we have to kind of stack rank what to look into next. So, talking to you as a friend, if your aim is to speed up processing of your issue, then changing your language from unacceptable to decently cooperative would be a low hanging fruit for you

[2021-07-25 13:03] ronak2121 commented on #1574
That’s fine for me. I only need support on ShakaPlayer and Exoplayer to field this for me (audio ads). Do you have any pointers on where to start to look into overriding the dash parsers, timing model and networking components to implement this ourselves?

is that what you’ve done as your plan B? @kevleyski?

[2021-07-25 16:45] jpark58 commented on #9208
Thank you I really appreciate your help

[2021-07-25 18:32] master255 commented on #9202
@marcbaechinger I'm asking a simple question - "do you understand everything and Is this bug reproducing for you?".
I wait a week for an answer: yes or no.
Then you write that I am rude.
But maybe it's not about me? All of the players programmers I know don't respect your team because you only think about money and go your own way of development for big companies.
The list of pull requests has bee

[2021-07-25 22:14] vaibhav-sharechat commented on #9221
@marcbaechinger Thanks for looking into it.
Yes we are not able to reproduce it. We got this from firebase crash reporting.
Some of the devices according to firebase are
- Vivo 1820
- Vivo 1906
- Xiaomi Redmi 8A Dual
- Xiaomi Redmi 8A
- Xiaomi Redmi 9

36% of crashes are in Android 10, 20% in Android 9 and 8 so I am assuming it's not Android version related.
30% of crashes are in background if it

[2021-07-25 23:17] master255 commented on #9202
@marcbaechinger When other developers have made a business out of your faults and are making money out of it, it's worth thinking about.

[2021-07-26 01:04] #8471 closed, assigned to christosts

[2021-07-26 08:36] marcbaechinger commented on #9202
When I try the case you describe I can not repro like mentioned in [my comment above](https://github.com/google/ExoPlayer/issues/9202#issuecomment-882554856).

To describe in detail what I did and what my expectation is:

I prepare the player with the deprecated method like you describe. I`m using an mp4 each time I prepare the player. There is an initale preparation:

[code]
Then playback is expe

[2021-07-26 09:02] elvinas-engagecraft opened #9225 "Feature: MP4 Chapter support"
Add support for MP4 Chapters (type `chap`).

This is not part of ISO/IEC 14496-12 standard but it is widely supported by various tools (e.g. Subler: https://bitbucket.org/galad87/subler/wiki/Subtitles%20Guide).
Also it is supported on `AVFoundation` on iOS.

### Proposed solution
Import MP4 chapters as Cues with images from `chap` tracks.

### Alternatives considered

---

Also #8271 is related to

[2021-07-26 10:21] ibrajix opened #9226 "Exoplayer - java.lang.IllegalStateException: Player is accessed on the wrong thread"
After playing a media from my device, I get:

Exoplayer - java.lang.IllegalStateException: Player is accessed on the wrong thread
-------------------------

This happened after updating exoplayer from: **2.12.2** to  **2.14.2**

Current thread:
'ExoPlayer:Playback'
'Expected thread: 'main'
-------------------------

AudioPlayer.kt:
-------------------------

[code]

I read that you need to use a H

[2021-07-26 14:35] christosts commented on #9226
As you may read on the player's [documentation](https://exoplayer.dev/hello-world.html#a-note-on-threading), you should access the player instance only from a single thread. As of version 2.13, the player throws an exception if it is accessed from a wrong thread. This check was present in 2.12.2 too, but produced a warning log. As the documentation says, there is an API to make the player not thro

[2021-07-26 14:35] #9226 closed, assigned to christosts

[2021-07-26 15:47] ojw28 commented on #9197
If you're seeing the entirety of video A play in this case, then that just sounds broken. Without additional information, I think it's more likely to be a bug in your application code (e.g., the call sequence being made on the player is not what you think it is). I'd suggest you try and reproduce the problem with a simple example that makes the call sequence above directly, without complicated log

[2021-07-26 15:57] ojw28 commented on #9179
This still sounds fairly strange/niche to me. Closing as unsupported by design.

[2021-07-26 15:57] #9179 closed, assigned to ojw28

[2021-07-26 16:07] christosts commented on #9223
The warning log right above the stack-trace basically says the buffer is full and cannot fill with anymore data although less than 500ms of data (I assume audio) have been buffered which is to little to start playback, therefore the player detects it is stuck (as expected? let's see). By default, the player's buffer is around ~12MB~ 120MB (see ~[DEFAULT_MIN_BUFFER_SIZE](https://github.com/google/E

[2021-07-26 16:30] christosts commented on #8938
The player cannot play the I-FRAME track on the "Apple 16x9 basic stream" asset with audio, but it can play the I-FRAME without audio.

The asset has audio and video muxed on the same `ts` files and the I-FRAME track points on the same `ts` file (although it points to only the I-frames). That confuses the player because it is downloading a file that the player things contains both audio and video

[2021-07-26 16:39] ProtoScott commented on #9223
So that sounds about right based on what you've said.

We have already changed `setPrioritizeTimeOverSizeThresholds` to true, this then gave us the "out of memory" exceptions, we lowered the available buffer from 50 seconds to 25 seconds which overcame that problem.

I'll try see what happens if we set `setTargetBufferBytes` and get back to you.

[2021-07-26 16:47] christosts commented on #9190
I'm not sure I understand the question:

To play one audio track only, don't you just have to modify MultiTrackSelector so that MultiTrackSelector.selectTracks picks up only 1 audio renderer?

[2021-07-26 20:48] ProtoScott commented on #9223
Setting setPrioritizeTimeOverSizeThresholds to true, and lowering the stored buffer to 25s instead of 50s works (not ideal but it works).

Setting the targetBufferBytes to 100MB still causes the `Playback stuck buffering and not loading`

[2021-07-27 05:34] IamArmaan opened #9227 "Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)"
When ExoPlayer video is playing , app is getting crash on few devices like one plus 6 (Android 10) and moto g 10 (Android 11) . Error is getting like this Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) . Sent bug report on mail dev.exoplayer@gmail.com

[2021-07-27 09:47] Jacko07 opened #9228 "m3u8 occured an IndexOutOfBoundsException"
hi, I have used exoplayer to play hls,m3u8 steam,this  steam occured an IndexOutOfBoundsException when  played for over 4minutes(maybe longer time):
[https://d46c0ebf9ef94053848fdd7b1f2f6b90.mediatailor.eu-central-1.amazonaws.com/v1/master/81bfcafb76f9c947b24574657a9ce7fe14ad75c0/live-prod/9a087b26-8be4-11eb-a7de-bacfe1f83627/0/master.m3u8?uid=97748f06-a7ae-42f5-947a-9b77118303dc&optout=0&vendor=p

[2021-07-27 10:22] shashwatsingh87 opened #9229 "Exoplayer is unable to play UDP streams"
Hello,
We are testing some udp stream with exoplayer and noticed that some ts udp stream not playable in exoplayer and no error log reported by exoplayer. Kind of player stuck on buffering udp stream. Here is the exoplayer log and also metainfo of the ts file.
Exoplayer version is 2.14.2 & Android version: 7
Currently we are using tsplay tool on a Ubuntu 20.04 OS enabled machine to stream the audi

[2021-07-27 10:31] Jacko07 commented on #9203
hi,on the web player, it also cannot show subtitle. i think steam' empty file cause this error https://github.com/google/ExoPlayer/issues/9203

[2021-07-27 11:27] christosts commented on #9227
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-07-27 11:29] Jaydipnathani opened #9230 "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed:"
` Caused by: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.Exynos.avc.dec, Format(1, null, null, video/avc, avc1.4D402A, -1, null, [1920, 1080, 60.000004], [-1, -1])`

**Every Time generate this issue**

1. Play video in our app -> **works fine**
2. Run other video application
3. Start video in other video application
4. Minimi

[2021-07-27 11:57] ekremcet opened #9231 "What is the default interpolation method for displaying low resolution videos ?"
Hello all,

I wanted to ask about the default upscaling method used in the ExoPlayer to match the screen resolution when the input video is in a lower resolution. Is it Bicubic or Bilinear interpolation?

Any help is appreciated. Thanks!

[2021-07-27 12:24] christosts commented on #9230
What is the "other video" application you refer to? Is it a specific one?

[2021-07-27 13:01] christosts commented on #9231
ExoPlayer itself does not do anything specific about upscaling, this is performed by the platform/hardware and it is agnostic to the player. I could find two references to Bilinear interpolation, one in the [AOSP code](https://cs.android.com/android/platform/superproject/+/master:frameworks/native/libs/nativedisplay/surfacetexture/SurfaceTexture.cpp;l=300?q=surfacetexture.cpp) and one on [stack ov

[2021-07-27 13:01] #9231 closed, assigned to christosts

[2021-07-27 13:02] ag2s20150909 commented on #9085
https://console.cloud.google.com/storage/browser/chromium-cronet/android

[2021-07-27 13:02] ekremcet commented on #9231
Thank you! AOSP code helped a lot!

[2021-07-27 13:03] Jaydipnathani commented on #9230
Like TED , VideoLab, ExoPlayer demo ..ect app that uses video app exoplayer

[2021-07-27 13:22] christosts commented on #9230
This is quite unusual. Since it's more than one app and we don't have any reports about these apps not releasing resources (and the ExoPlayer demo app should definitely behave properly!). I wonder if the problem is the other way around, and whether your app is managing resources properly.

In your application, do you release and re-create player instances in your app accordingly? The demo app's [P

[2021-07-27 14:07] christosts commented on #9223
I have received the test content (thanks!) but I think the license expired already, so I have not reproduced with your content yet.

I did notice that the content has tracks that go up to 80mbps. To be able to buffer 50s (50s picked up because it's the default duration) of video encoded at 80mbps, the buffer should be at least 500MB. I'm assuming that, since you're attempting to play such high con

[2021-07-27 16:08] sixones opened #9232 "HEVC Crashing on Chromecast with Google TV via AVR"
## Environment
- ExoPlayer r2.13.1 and above (including r2.14.2).
- Chromecast with Google TV, connected to an AVR or soundbar (without the AVR or soundbar HEVC videos play correctly).
- Android 10.
- HEVC Main 10 video seems to be the common culprit.

## Reproducing
- Play the attached video in the ExoPlayer demo application, or any HEVC Main 10 video.

### Actual Behaviour
- Notice the video fre

[2021-07-27 16:38] romainpiel opened #9233 "Downloads don't take into account the stream keys"
ExoPlayer version 2.11.8

[REQUIRED] Searched documentation and issues
Very similar to
#6911 and #7682

[REQUIRED] Question
When I download a HLS media source using the `DownloadHelper`, all qualities get downloaded.

I initialise the `DownloadHelper` this way:
[code]

Then I start the download with this code:
[code]

I have checked the stream keys created in `getDownloadRequest()` and there's alw

[2021-07-27 16:51] christosts commented on #9228
I have not been able to reproduce the error using the test content on demo app with r2.14.2 (several playback attempts of 5-10 minutes each). The stack-trace copied on the issue description indicates the playlist had no segments. While I don't exclude the possibility of a bug in the player, I'd start by looking whether the playlists returned by the server were correct.

Please let me know if the e

[2021-07-27 16:57] christosts commented on #9128
@cruiz666, please grant me access to the file too

[2021-07-27 17:12] cruiz666 commented on #9128
@christosts, done!

[2021-07-27 19:29] marcbaechinger commented on #9203
It looks like this issue has the same root cause as #9153.

With text renderer turned on, execution flow goes into `TimestampAdjuster.sharedInitializeOrWait` and runs into the `wait()` statement that is never released by `notifyAll`. This is the reason why the `HlsSampleStreamWrapper` of the text track never loads a vtt media chunk for which the player actually waits before starting playback. This

[2021-07-27 21:27] rrfrias commented on #4372
This does allow for the potential that decrypted data is exposed to apps. While you find that the workaround resolves your immediate need, we cannot guarantee that this will continue to work in the future.

[2021-07-27 21:27] #4372 closed, assigned to rrfrias, jt64