[2020-03-23 21:59] #7107 closed, assigned to marcbaechinger

[2020-03-24 02:11] l20160606sy opened #7135 "Exoplayer 2.9.6: Why does the exoplayer start playing audio with a tinkle like a notice?"
[No information provided]

[2020-03-24 02:22] silvershort commented on #7118
Thank you for answer.
Caching was difficult, so the initial buffering time was improved by adjusting the minBufferMs value of DefaultLoadControl.

[2020-03-24 02:22] #7118 closed, assigned to marcbaechinger

[2020-03-24 02:42] video-fly commented on #7128
I am sorry that I failed to send mail. I have resend.

[2020-03-24 04:06] GingerNinja23 commented on #6671
@ojw28 Awesome, thanks for spending the time to root cause the issue! Do you think it is safe for us to directly call [this seekTo](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#seekTo-long-) API without checking if `isCurrentWindowSeekable()` is true? What would happen if we attempt to use this API on a non-seekable stream? It doesn't seem to be throwing any checke

[2020-03-24 04:08] ogawa-ma commented on #7080
What is the progress on this issue?

[2020-03-24 04:11] GingerNinja23 commented on #6671
Also, do you know what the target Android release for the platform fix is? Thanks!

[2020-03-24 06:55] ghost commented on #677
Kindly give full solution with proper class Name

[2020-03-24 07:32] ChangLingSg opened #7136 "[DashManifestParser] [Invalid UUID string When parse manifest]"
Hi,

  Inside `DashMainifestParser`, there is a function
[code]
Which is used for parse the dash mainifest, but I get a problem, my default_KID is on below format instead of the format like "39392-32322-dsdsds-33222323-323232", the parseContentProtection cannot parse it. Can I know is it a issue for exoplayer? or our mainifest have to follow this format "39392-32322-dsdsds-33222323-323232" with se

[2020-03-24 09:05] ghost opened #7137 "I am using exoplayer different playerview for showing different controls while orientation changed.While moving from one orientation to other some black screen delay is showing .After analyzing the issue i got surface view changed while rotation.Kindly provide exact solution in MediaCoderVideoRenderer class or some other classes where i have to change it ."
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-03-24 09:34] Brij09 commented on #7070
Hi tonihei,

Thanks for the input. I am also curious to know that is there any way that we can get exact number of bytes played by the exoplayer while playing any video.

[2020-03-24 09:48] ojw28 commented on #7136
`default_KID` is supposed to be a UUID format string. I.e., your `default_KID` should be `21d541c4-0321-4c1e-0f43-1d130496i5be`.

[2020-03-24 09:48] #7136 closed, assigned to ojw28

[2020-03-24 09:51] tsaezmirada commented on #6654
Hello @jt64

Can we have some update for this issue?

Thanks a lot for your support!

[2020-03-24 09:55] ynheng commented on #7108
I think the problem is happened in blow code:

[code]

and this is the okhttpClient I added:

[code]

[2020-03-24 09:55] ojw28 commented on #7128
We have still not received this email.

[2020-03-24 10:01] ynheng commented on #7108
The env is WIFI & 4G opening at the same time , When I close the WIFI , it throws IOException, then crash;
But if I just open one network, then I close it when playing, it won't crash...

[2020-03-24 10:06] tonihei commented on #7070
You can listen to `AnalyticsListener.onLoadFinished/onLoadCanceled/onLoadError` to know how many bytes were loaded for playback. But there is no way I'm aware of that would tell you how many bytes were "played". It's also slightly undefined how you would measure these bytes - is this the encoded video and audio data only? or does it include metadata of the container? etc.

[2020-03-24 10:12] shasapo commented on #5006
Halo,
Is there any update for this ?

I'm experiencing the same issue using exo version : `2.11.2`.
Ad keeps loading even though it's already completed. It repeatedly give `AD_PROGRESS` events but never trigger `ad_complete` and then the content never played.

[2020-03-24 13:51] ojw28 commented on #6671
The root cause is triggered when the audio decoder is flushed (this happens when a seek is performed) shortly after being configured. I don't think the issue is necessary Pixel specific. It may affect other devices running Android 10 (but probably not all of them). My understanding is that a fix will also roll out as part of a future Android 10 update, but don't quote me on that!

We should be abl

[2020-03-24 14:00] ojw28 commented on #7135
Sorry, but it's impossible to know what this means. Please could you more fully describe your question?

[2020-03-24 14:04] ojw28 commented on #7009
Thanks for the offer, but that's not something we can really accept. There are also other issues (e.g., space in people's homes, general decreased working efficiency meaning that we're not able to cover as much ground as usual, etc).

Given the test content fails to play on multiple other devices too, a good next step would be for us to investigate what's going on there, and whether it's any diffe

[2020-03-24 14:08] ojw28 commented on #7137
Closing due to lack of coherent issue description. Please properly fill in the issue template. Note also that general Android development questions should be asked on StackOverflow, rather on this issue tracker.

[2020-03-24 14:08] #7137 closed, assigned to ojw28

[2020-03-24 14:44] halilozel1903 commented on #7092
@ojw28 Apple uses AVPlayer. This video player finds the subtitle itself. He puts the subtitle icon himself.I don't really understand why ExoPlayer doesn't do the same thing itself. When I play a hls video it doesn't show subtitles. There are two subtitles in the link. One is English and the other is French. I really did not understand how to use this without using MergingMediaSource.

[2020-03-24 14:50] mehdibf commented on #7124
Thank you for your answer. Do you have any plans to support this multi-key issue in the next releases as responding with all licenses together for one requested key is not recommended by DASH-IF?

[2020-03-24 15:01] seyinator commented on #7123
Can you tell me example for onLoadStarted please because I can't understand?

[2020-03-24 21:46] warren-bank commented on #7122
I agree; I couldn't find any formal spec anywhere either.

Since it is loosely specified, .srt files in the wild appear to feel free to ignore unwanted fields. For example, [here](https://github.com/cpetersen/srt/issues/24) is a similar discussion about whether or not the MILLISECONDS field could be made optional.. and that project concluded: "why not?".

I would propose that while you're touching

[2020-03-24 22:38] jt64 commented on #6974
I believe this may be the same issue as what was reported in issue #3596. It is a color scheme encoding issue that was found on Android 9 devices and subsequently fixed. There is a workaround described in that issue. Please take a look.

[2020-03-24 22:40] jt64 commented on #6946
Duplicate of #6974, there is updated information in that bug that may be helpful.

[2020-03-24 22:41] #6946 closed, assigned to jt64

[2020-03-24 22:46] warren-bank commented on #7122
[__full example:__](https://repl.it/@WarrenBank/ExoPlayer-SubripDecoder)

[code]

_output (stdout):_

[code]

[2020-03-24 23:03] jt64 commented on #6654
Thank you for the additional screen shots. I have forwarded them to Samsung and requested a status update.

[2020-03-25 02:20] dryganets commented on #7119
Thank you for keeping it open!

I posted the quick fix PR + described couple of other ways to fix it. Feel free to pick your favorite, or just edit the change the way you like it.

I verified that this is enough to unblock our upgrade to the new version.

[2020-03-25 03:52] l20160606sy commented on #7135
On Android phones, just like wechat will ring for new information, it will also ring at the beginning of playback

[2020-03-25 07:08] naseeb8950925214 opened #7140 "Black screen between videos, on every video start"
### [REQUIRED] Issue description
We are facing black screen between high resolution, high bitrate videos. In start of every video, at first blank screen appears, then video starts playing.

### [REQUIRED] Reproduction steps
Just run few high resolution videos, one after another, in loop and just observe black screen for a moment e.g for 500ms when the video starts. I have made one video how this b

[2020-03-25 07:10] naseeb8950925214 commented on #7140
BTW, i have already set setKeepContentOnPlayerReset(true) on exoplayer

[2020-03-25 07:52] ynheng commented on #7108
resolved, the exception throwed here does't lead to crash, because the exception is catch in LoadTask;
the crash is truely caused by an error that didn't logged in logcat....

[code]

[2020-03-25 07:58] #7108 closed, assigned to ojw28

[2020-03-25 08:50] ghost opened #7141 "Exoplayer Screen shows black screen for sometime while changing Orientation manually"
I am facing issue while rotating device orientation manually
Some black screen (some milliseconds ) on some devices appears before playback is visible .
Kindly provide  some solution for this.

[2020-03-25 10:23] ojw28 commented on #7119
To be clear, leaving the issue open does not imply we're likely to accept any pull requests for this issue.

[2020-03-25 10:27] ojw28 commented on #7135
Given ExoPlayer is used by a huge number of apps, and this has never been reported before, I'm fairly certain this is not general ExoPlayer behaviour.

It's most likely an issue specific to your app, or (less likely) a device specific issue affecting the particular device you're using. If you're seeing the issue across all apps that use ExoPlayer, and in particular if you see it in the ExoPlayer d

[2020-03-25 10:31] ojw28 commented on #7092
As above:

[2020-03-25 10:44] ojw28 commented on #7124
That's essentially what https://github.com/google/ExoPlayer/issues/3872 is tracking, so I'll go ahead and close this as a duplicate. It's unlikely we will get round to it soon, unfortunately.

In practice, the majority of streaming services that need the functionality you describe are doing this for Android / Widevine.

[2020-03-25 10:44] #7124 closed, assigned to ojw28

[2020-03-25 11:09] #7094 closed, assigned to marcbaechinger

[2020-03-25 12:17] Rana-Adeel-Ahmad opened #7142 "DASH download fails if last segment request throws a 404"
Issue description:
-----------------------
I am trying to download DRM protected video and play offline.
I Download the demo app from (https://github.com/google/ExoPlayer.git) and run the app. its seems secure widevine cannot be downloaded, then l found out that there is check in #getDownloadUnsupportedStringId() in #SampleChooserActivity.java which is preventing to download the media. After updat

[2020-03-25 13:03] ojw28 commented on #7141
Is it viable for you to configure your activity to handle the orientation change manually? This avoids the UI from being recreated, and hence the problem you're seeing. This is what the [ExoPlayer main demo app does](https://github.com/google/ExoPlayer/tree/release-v2/demos/main). Note the following is present in the `AndroidManifest.xml`

[code]

[2020-03-25 13:07] ojw28 commented on #7140
* Is this happening only on AmLogic devices, or does it also happen if you run your app on other types of device?
* When you say "one after another, in a loop", how are you implementing that exactly?

[2020-03-25 13:07] #7133 closed, assigned to ojw28

[2020-03-25 13:08] ojw28 commented on #7133
Fixed in `dev-v2`

[2020-03-25 13:08] #7129 closed, assigned to ojw28

[2020-03-25 13:08] #7134 closed, assigned to ojw28

[2020-03-25 13:09] ojw28 commented on #7130
Please do, thank you. One other thing to check is that you're using the same version for all ExoPlayer modules that you're using.

[2020-03-25 13:13] naseeb8950925214 commented on #7140
1. Yes, this is happening on other devices as well.
2. It means that i am passing uri of videos one by one, after completion of one video, next video starts playing. I just build media source for next video and prepare exoplayer to play it.

[2020-03-25 13:17] ojw28 commented on #6749
This is now called `enableFloatOutput`, and is still disabled by default. It can't be enabled by default in its current form, since this causes audio processing (e.g., playback speed adjustment) to be disabled. I think we should work toward being able to remove the option, by making it so that `DefaultAudioSink` can automatically configure resampling on both sides of the other audio processors to

[2020-03-25 13:59] PPetka opened #7143 "Unable to sync buffering with controls"
### [REQUIRED] Issue description
The `PlayerView` attrubute `app:show_buffering` does not take into account control views. What I mean by that is, whenever you have your control view buttons (especially pause and play button) in the same place as buffering `ProgressBar`, those 2 views overlap each other. And I can't see a way to make it in-sync.

What I've tried to do, is to listen upon buffering

[2020-03-25 14:46] krocard commented on #6749
I think AudioProcessors should expose what input format they support. That would avoid having to re-sample to 16bit needlessly (which also decrease quality). Only if a processor does not support the inputFormat should the AudioSink automatically resampling to 16bit (as I guess all AudioProcessors are required to support it right now).
On the output side, I'm not sure to understand why resampling t

[2020-03-25 15:57] ojw28 commented on #6749
Agreed. My first bullet point is conditional on the fact that all of the (non-resampling) audio processors only accept 16-bit integer PCM at the moment. In a future where we have audio processors that support additional input formats, it would be good if the logic could be clever enough to enable resampling only when necessary. I don't think we need to look at this as a priority though, given what

[2020-03-25 16:09] ojw28 commented on #7143
There's only so much customization that it's possible for our out-of-the-box UI components to support in a reasonable way. If we try and support every possible customization then those components will become an unusable mess.

If you need a specific type of customization that's not supported, you'll need to implement your own UI components instead, which is what the vast majority of media apps do.

[2020-03-25 16:20] #6975 closed, assigned to kim-vde

[2020-03-25 16:58] ojw28 commented on #6671
@wallyho @GingerNinja23 - Would it be possible for you to provide an updated link to stream that still works? We need this to make sure our workaround does indeed resolve the problem.

[2020-03-25 17:03] dryganets commented on #7119
Thanks,
I understand that it doesn't imply that you will merge anything.

I opened the PR to start dialog and find out if you think one of the options I propose will be acceptable for the project.

The least invasive options will be to rather add the constructor to factory to allow passing your own implementation of the DrmSession.

[2020-03-25 17:03] piyush2dev opened #7144 "Frames are Skipping randomly in When DRM Videos are getting Downloaded and trying to Play"
@marcbaechinger @erdemguven

Please help.

I am using Exoplayer 2.11.3. I implemented Offline Drm in it. When I am trying to play offline downloaded videos than Video Frames are getting skipped randomly and video is getting skipped randomly. Please find the attached Video for the same.

//This is the Video of the Issue coming in 2.11.3 as mentioned above.
[Video Link of the Issue](https://www.yout

[2020-03-25 17:16] dryganets commented on #7133
@ojw28, could you reference the change in dev-2 which fixes this issue please?

Could you share more technical details on why it is happening?
ie what is special about this particular video?

It will help the community to figure out if the issue they are facing is duplicate of this one.

Also it will give them a clue in which version they could expect the fix or which commit they need to cherry-pi

[2020-03-25 17:21] ojw28 commented on #7133
The change is already referenced right above.

[2020-03-25 17:25] ojw28 commented on #7133
In terms of why this is happening: The video has an MP4 edit list that partially clips the first video frame. Our logic for edit list handling would skip this frame, and then skip forward to the next keyframe, which for this video is quite far into the video. After the change, we no longer skip a sample that's partially clipped by the edit list.

[2020-03-25 17:26] ojw28 commented on #7119
Unless there's a significant amount of additional feedback, we're not planning to accept any kind of pull request for this. If only a small number of developers are affected, the easiest solution is for them to check the project out as source and make whatever the necessary modifications are locally (or, preferably, update to better supported tool chains).

[2020-03-25 17:49] dryganets commented on #7133
Thanks, for the fix and the explanation of the root cause, sorry didn't notice the the reference to https://github.com/google/ExoPlayer/commit/eebe990d2059a04c645cf1c0fd254764ddb4c0bc  on the top.

[2020-03-25 21:57] dyue commented on #7119
One problem with default methods in an interface is that default methods are only transferred over during compilation.

Here's an example:
1) A library v1 implements AnalyticsListener and is compiled against ExoPlayer 2.10.  The implementation uses default methods for the unimplemented methods.
2) ExoPlayer 2.11 changed the AnalyticsListener interface by adding a new method and associated a defaul

[2020-03-25 22:58] Divere commented on #3327
Issue up! Still needed this functionality.

[2020-03-26 00:48] ruichaoqun opened #7145 "when pause media , slow down the volume"
many player can slow down the volume when pause the media,how can exoplayer to achieve this effect?

[2020-03-26 01:52] l20160606sy commented on #7135
Thank you, I think I've found a solution. There's something wrong with some androids.

[2020-03-26 01:52] #7135 closed, assigned to ojw28

[2020-03-26 04:28] shashanksaxena1234 commented on #7141
Hi Ojw28 ,
I already implemented   android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" in my AndroidManifest.xml
also tried with your configChanges .Still black screen  appears
Is there any change in fragment required.Kindly help on this.

[2020-03-26 05:27] ghost commented on #7141
Hi Ojw28 ,
I already implemented android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" in my AndroidManifest.xml and also tried with your configChanges ,Still black screen appears
One more thing this problem occurs when i am calling setRequestedOrientation(int requestedOrientation) manually .
Is there any change in fragment required.Kindly help on this.

[2020-03-26 06:51] trayambak opened #7146 "video not visible only audio is playing below android version 8.0"
in xml if i set ' app:surface_type="surface_view" ' than only audio is playing below 8.0 android devices and when i am calling setZOrderOnTop(true) on playerview surfaceview than controls are not visible.
Please help if i am doing something wrong.

[2020-03-26 08:37] andrea157 commented on #7048
I solved. This ticket can be closed. Thanks

[2020-03-26 08:37] #7048 closed, assigned to AquilesCanta

[2020-03-26 09:10] ojw28 commented on #7119
@dyue - Are you sure that's how default method de-sugaring works? I didn't look in detail, but my understanding is that default method de-sugaring doesn't happen when library V1 is compiled, and instead happens when building the final application binary that V1 is included in. I don't think de-sugaring can happen before that, because the way de-sugaring is performed depends on the minimum API leve

[2020-03-26 09:44] ojw28 commented on #7145
Please could you clarify what it means to slow down the volume? Do you mean that when pause is pressed, the audio volume will ramp down over a period of time before playback is finally paused?

[2020-03-26 09:57] stari4ek opened #7147 "Local build fails cause of missing exoplayerModulePrefix"
### [REQUIRED] Issue description
Changes made with 4e5b2c692f44d354dfc5e6c0e078d6f9a1ebaa47 broke local build:

[code]

adding check as in all other places where `exoplayerModulePrefix` is referenced fixes the issue
[code]

### [REQUIRED] Reproduction steps
Build exoplayer as library inside another app project

### [REQUIRED] Link to test content
not applicable

### [REQUIRED] A full bug report ca

[2020-03-26 12:47] tonihei commented on #7119
As an additional note - we don't support mixing versions of ExoPlayer. So if library V1 depends on 2.10 and is actually exporting ExoPlayer APIs as part of their library, then you can't depend on 2.11 at the same time. The gradle build system prevents that with a build error for example.

[2020-03-26 17:23] icbaker commented on #7122
Making milliseconds optional makes sense - I'll send a follow-up change.

[2020-03-26 19:03] faisalvv opened #7148 "Is it possible to preload multiple streams with Exoplayer and Play multiple Videos simultaneously"
I want to start precahing next song in ConcatenatingMediaSource when the current song is played 10 second(or any other duration).How can I achieve that?
By default exoplayer starts precahing when current song is near its end.
Moreover what is the precahing policy, like can I define how many segments to precache for next song

[2020-03-26 19:46] GingerNinja23 commented on #6671
@ojw28 Sure, I'll get back to you with the updated link to the stream.

[2020-03-26 19:55] GingerNinja23 commented on #6671
@ojw28 Here you go - https://d29r7idq0wxsiz.cloudfront.net/DigitalMusicDeliveryService/HPS.m3u8?m=m&dmid=203888005&c=cf&f=ts&t=10&bl=48k128k&s=true&e1=1595035600000&e2=1595035600000&v=V2&n=VSQOMQQIAZ4O6&h=80bac0058955f9a3f72efb53727bd9fb885563ed4b25912aab6cdc49b5bcf461

[2020-03-26 21:55] dryganets commented on #4352
Wonder what is the plan for this particular case:
https://github.com/google/ExoPlayer/commit/1ec05199d4f15424588795ecfc29ef6593582ed3

It seems to be was merged to the dev-2 a while ago. How long it usually takes for the changes to get to the release-v2?

[2020-03-26 22:22] stevemayhew commented on #4352
Thanks for the heads up, I deleted our branch.   You’ll have to check with the Google folks when the will merge dev-v2.  You might want to

[2020-03-26 22:25] ojw28 commented on #6956
I took a quick look at this as I was touching the FFmpeg extension. It looks like `PsExtractor` assumes `streamId == PRIVATE_STREAM_1` means the stream is AC3, however according to VLC the audio track is LPCM. There's already a comment in `PsExtractor` saying that the stream could also be DTS, so it looks like we need to add some disambiguation to figure out the stream type for `PRIVATE_STREAM_1`

[2020-03-27 00:14] mseroczynski commented on #7048
@andrea157 Could you please provide any tip on how to solve mentioned issue?

[2020-03-27 00:17] ojw28 commented on #7146
I think it's probably expected that `setZOrderOnTop` would render the surface on top of the controls (hence meaning they're not visible). You shouldn't have to do that, however.

Does the problem occur in the [main ExoPlayer demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main)? If not then it's most likely an application issue with your app, which you'll need to debug. If it d

[2020-03-27 00:21] ojw28 commented on #7147
@sim0629 - This is related to your recent change. Could you take a look? Thanks!

[2020-03-27 00:22] ojw28 commented on #7147
Note: I think this relates to the instructions [here](https://github.com/google/ExoPlayer/blob/release-v2/README.md#locally) for using a local dependency.

[2020-03-27 00:26] ojw28 commented on #7141
Does the issue reproduce in the ExoPlayer demo app, or only in your own application? If the latter then it sounds like an issue with your application code, rather than ExoPlayer, in which case it's not possible for us to help unless you can provide a project as source code that reproduces the problem.

[2020-03-27 00:34] ojw28 commented on #7140
I tried modifying the main demo app to play your videos in the way you describe, and it worked fine with `playerView.setKeepContentOnPlayerReset(true);` (i.e., without a black screen). So it sounds like this is an issue with your application code. We're not able to help with such issues unless you can provide a small demo application as source code, so we can take a look at what might be going wro

[2020-03-27 01:53] shuangqingfeng opened #7149 "DecoderInitializationException: Decoder init failed: OMX.qcom.video.decoder.avc"
[code]

[2020-03-27 02:59] vipafattal opened #7150 "MediaSource in dynamic ConcatenatingMediaSource freezing UI after calling addMediaSource()"
### [REQUIRED] Searched documentation and issues
I've searched in documentation and other similar issues about how to create a dynamic playlist in Exoplayer but all I found just create a `ConcatenatingMediaSource` then add or remove media source from it.

### [REQUIRED] Question
I'm creating a dynamic mp3 list with `ConcatenatingMediaSource()` and when the user adds more mp3 to the playlist I'm up

[2020-03-27 04:14] ghost commented on #7141
This issue is reproducible in exoplayer (demo-gl) app (Device - Sony Experia G8342).

[2020-03-27 06:21] l20160606sy opened #7151 "AMR file: Seeking resets position to 0"
[No information provided]

[2020-03-27 06:23] l20160606sy commented on #7151
The suffix of the file link is AMR

[2020-03-27 06:47] HanGao1 opened #7152 "How to play two audios at the same time, one as background music and the other playing other content"
How to play two audios at the same time, one as background music and the other playing other content

[2020-03-27 07:08] stari4ek commented on #7147
Good point.
Should it be aligned to same kind of usage in all places?

[2020-03-27 10:35] #7146 closed, assigned to ojw28

[2020-03-27 10:50] andrea157 commented on #7048
It was a server configuration issue

[2020-03-27 11:00] krocard commented on #7100
The tunneling decoder reports rendered frames with the callback `MediaCodec.OnFrameRenderedListener.onFrameRendered` which calls `onProcessedTunneledBuffer` which updates `renderedOutputBufferCount` but not the drop counter.
`onProcessedTunneledBuffer` could try to guess if a frame was not rendered by comparing the received timestamps to the expected ones.

As the tunneling decoders are not requir

[2020-03-27 13:47] ojw28 commented on #7149
Please properly fill in the [issue template](https://raw.githubusercontent.com/google/ExoPlayer/release-v2/.github/ISSUE_TEMPLATE/bug.md)

[2020-03-27 14:02] ojw28 commented on #7151
As documented on our [supported formats page](https://exoplayer.dev/supported-formats.html#progressive-container-formats), we don't support seeking into AMR files unless you enable constant bitrate seeking, [as documented here](https://exoplayer.dev/progressive.html#enabling-constant-bitrate-seeking).

[2020-03-27 14:02] #7151 closed, assigned to ojw28

[2020-03-27 14:03] ojw28 commented on #7152
Wouldn't creating two player instances be sufficient for doing this?

[2020-03-27 15:14] ojw28 commented on #7141
This is not relevant because the demo-gl app doesn't handle orientation changes manually (as an aside, we will fix it so that it does).

[2020-03-27 16:02] ojw28 commented on #7046
It looks like we parse gain as an unsigned value, when it should be interpreted as a signed value. It's not a regression though; the problem has been there ever since the `OpusDecoder` was first written in 2016.

[2020-03-27 23:30] ojw28 commented on #7150
This sounds like it's probably an application issue. I think you'll need to provide a small app as source code that demonstrates the issue, if you want help figuring out what's wrong.

[2020-03-27 23:36] #7122 closed, assigned to icbaker

[2020-03-27 23:37] ojw28 commented on #7046
Fixed in `dev-v2`.

[2020-03-27 23:37] #7046 closed, assigned to krocard

[2020-03-27 23:37] ojw28 commented on #6671
A workaround is submitted in `dev-v2`.

[2020-03-27 23:37] #6671 closed, assigned to ojw28

[2020-03-27 23:37] #7147 closed, assigned to sim0629

[2020-03-27 23:37] ojw28 commented on #7147
Fixed in `dev-v2`.

[2020-03-27 23:45] #7102 closed, assigned to marcbaechinger

[2020-03-27 23:53] ojw28 commented on #7148
This is a duplicate of https://github.com/google/ExoPlayer/issues/3327.

[2020-03-27 23:53] #7148 closed, assigned to ojw28

[2020-03-28 04:46] ajonno commented on #6891
been a while, any feedback on my above questions? thanks.

[2020-03-28 05:49] jt64 commented on #6654
Sorry I'm a big confused, the original problem reported was on this device:

Device name: Galaxy J7
Model number: SM-J700H

But the screen shot images you most recently sent are for :

Device name: Galaxy S6
Model Number: SMG920F

Can you clarify?

[2020-03-28 05:56] jt64 commented on #6654
Samsung noted that the "Trustlet did not send a valid return code: 0x6000" error could be caused if the device is in an unreliable state. One possible condition could be if the device has been unlocked/rooted.

Also we do need a full bugreport, not just logcat. The bugreport contains dumpstate information that is necessary to find out more about this problem.

[2020-03-28 06:50] NerdAnonymous opened #7154 "bug of aac?"
[code]

[2020-03-28 07:38] #7154 closed, assigned to ojw28

[2020-03-28 08:28] avalanchas commented on #6516
That's a good reminder and thank you very very much for keeping up with this. I have actually found such a problem quite recently (my Dagger setup was severely lacking), but it's not rolled out to the users yet. I will report back on this in about 2 weeks!

[2020-03-28 09:54] 447zyg opened #7155 "in some device when changing orientation black screen"
androidx project

implementation 'com.google.android.exoplayer:exoplayer:2.11.3'
pre version also have this problem
in v2.9.6 is not black screen. but screen is stuck
but voice is continue it's no problem

activity code

public class MainActivity extends Activity {

    private PlayerView video_view;

    private ViewGroup video_container;

    private Button full, start;

    private SimpleExoPla

[2020-03-28 10:00] 447zyg commented on #7155
app:surface_type="surface_view"
app:surface_type="texture_view"

same

[2020-03-28 13:07] alexeyr15 opened #7156 "No duration and possbility to seek in PlayerControlView for some video"
### [REQUIRED] Issue description
During playback of some video files, there is no duration info in PlayerControlView and possbility to seek the video via the timebar is disabled. Other video players show duration and allow to seek the video.

### [REQUIRED] Reproduction steps
1. Add the provided link to the test video to Demo app
2. Open the test video in Demo app
3. Observe that there is no durat

[2020-03-28 13:33] vipafattal commented on #7150
@ojw28 Thanks for pointing me that I had an issue with App.

Unfortunately, I had an issue in the way that I was adding media sources.
I was trying to add multiple media sources through using `ConcatenatingMediaSource` to combine `them in one source than adding them to the current playlist through `ConcatenatingMediaSource.addMediaSource()` which is wrong because  `addMediaSources` (please be advi

[2020-03-28 13:33] #7150 closed, assigned to ojw28

[2020-03-28 13:40] Miteshmakwana73 opened #7157 "ExoPlayer stop playing on lock"
i am developing a audio player app using exoplayer which works great but i found one weird problem some times it's stop to play song automatically may be after 5-6  song play.

app is not crashing just song stop to play after some long time

i try to debug issue but i couldn't find any issue it's working fine

please help me @marcbaechinger what is wrong? suggest me

Any help would be highly appre

[2020-03-28 13:51] #7143 closed, assigned to ojw28

[2020-03-28 13:57] ojw28 commented on #7123
If you're using ExoPlayer 2.11.3, you should probably just do:
[code]

[2020-03-28 13:57] #7123 closed, assigned to ojw28

[2020-03-28 14:03] ojw28 commented on #7155
Try using
[code]
If that doesn't help, please share a complete project that reproduces the issue (e.g., via GitHub), rather than pasting individual files into an issue. It's much more efficient for us to take a look that way, and also ensures we're doing the same thing as your project.

[2020-03-28 14:51] ojw28 commented on #7131
This is expected if the decoder hasn't got an output buffer to dequeue when the method is called, and will occur during normal playback. If you're saying that the decoder ends up in a state where it _never_ has an output buffer to dequeue, then that's either because nothing is being fed on the input side, or because the input is malformed in a way that's preventing the decoder from generating corr

[2020-03-28 17:07] markdev12 opened #7158 "Disable default subtitle"
Hello,

 [Assume : https://domain.com/video/Duck_Fast.mkv]

This Video Link Have Default/Embeded Subtitle in It. And when this  Video is Played ..Video plays with Subtitle .

How Can I Disable Default Subtitle?

[2020-03-29 01:14] vasusachin opened #7159 "Exoplayer 2.6.1 - HLS v4 Support, Multiprofile Support,"
### [REQUIRED] Searched documentation and issues
Checked exoplayer.dev site.
No information on from which version HLS V4 supported.
No information on Multiprofile support
Checked on Stack Overflow

### [REQUIRED] Question
I am using Exoplayer version 2.6.1
I would like to know whether Exoplayer supports below features in HLS

**- Whether HLS V4 Support is there ?
- Whether Multi Profile OTT Stream

[2020-03-29 15:39] giladna opened #7160 "java.lang.UnsupportedOperationException in maybeUpdateMediaTimeHistory method"
### [REQUIRED] Issue description

I am playing around with the new PlaybackStatsListener

When setting the keepHistory boolean to false the exception will be fired and app will crash
When setting the keepHistory boolean to true the exception will be fired and app will `not` crash

seems like that keepHistory should be conditioned before calling the add method in`maybeUpdateMediaTimeHistory` since

[2020-03-30 01:08] #7031 closed, assigned to krocard

[2020-03-30 02:19] 447zyg commented on #7155
@ojw28   Sorry for not replying in time
Try using

android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"

it's no work also

this is complete project url

https://github.com/447zyg/exo_test

thanks

[2020-03-30 07:27] giladna commented on #7158
@markdev12

you have to use the DefaultTrackSelector to override the TextTracks to select the off option
see the Demo app code for detailed example.

[code]

[2020-03-30 07:52] andrewlewis commented on #7159
@AquilesCanta Please could you take a look? Thanks.

[2020-03-30 08:08] andrewlewis commented on #7160
Thanks for reporting this. We will push a fix soon.

[2020-03-30 08:15] andrewlewis commented on #7157
Is the app holding a wake lock to prevent the device sleeping? If not, please try calling `SimpleExoPlayer.setWakeMode(C.WAKE_MODE_LOCAL)` or `SimpleExoPlayer.setWakeMode(C.WAKE_MODE_REMOTE` (depending on whether you are playing local/remote media) when you initialize the player. Note: to use this feature, you must add the `WAKE_LOCK` permission to your application's manifest file. See also [Keep

[2020-03-30 08:43] andrewlewis commented on #7156
The provided stream is an MPEG-TS stream where the default timestamp search range is too low to be able to derive the duration of the stream. Improving this behavior is tracked by #5097 so I will mark this as a duplicate.

[2020-03-30 08:44] andrewlewis commented on #7156
Duplicate of #5097

[2020-03-30 08:44] #7156 closed, assigned to andrewlewis

[2020-03-30 09:11] Miteshmakwana73 commented on #7157
not resolve `C.WAKE_MODE_LOCAL`

is `exoPlayer.setHandleWakeLock(true)` work same?

[2020-03-30 09:20] andrewlewis commented on #7157
Ah, setting wake mode hasn't been released yet (but it should be on the dev-v2 branch in case you want to try it out!).

Yes, please use `setHandleWakeLock` instead for now. Thanks.

[2020-03-30 09:48] Miteshmakwana73 commented on #7157
i am still facing same issue after adding
`<uses-permission android:name="android.permission.WAKE_LOCK" />
`
and
 `exoPlayer.setHandleWakeLock(true)`

i wrote same exact [code](https://www.youtube.com/watch?v=svdq1BWl4r8) for music player

[code]

[2020-03-30 09:56] andrewlewis commented on #7157
Please could you take bug reports via `adb bugreport` (1) just after starting playback and (2) just after playback stops? You can email those to dev.exoplayer@gmail.com with subject 'Issue #7157' and we will take a look. Thanks.

[2020-03-30 09:58] andrewlewis commented on #7157
I wonder whether what's missing is a WiFi lock. Before getting the bug reports, you could try checking out the `dev-v2` branch and trying the remote wake mode.

[2020-03-30 10:03] Miteshmakwana73 commented on #7157
do you have any reference for how do i report bug using adb or steps to report?

[2020-03-30 10:06] andrewlewis commented on #7157
You can just run `adb bugreport` on the command line if you have adb installed and the device is connected. See also [Capture and read bug reports](https://developer.android.com/studio/debug/bug-report).

Please also confirm you are using a foreground service for audio playback. See also this [FAQ](https://exoplayer.dev/troubleshooting.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded).

[2020-03-30 10:09] krocard commented on #7072
@ScienceIsNeato Unfortunately, with the current COVID-19 confinement in London, none of the team has access to devices with Dolby Atmos support.
Given the news that the confinement is expected to last for at least a month, (and I suspect probably more), we will probably not be able to look into the issue before this summer I suspect.

[2020-03-30 10:16] Miteshmakwana73 commented on #7157
i am not using foreground service i am playing from `MainActivity `
it's not our requirement to play after app close that's why i am playing from `MainActivity`

would it cause any problem?

[2020-03-30 10:31] chladto1 opened #7161 "Media playback with ads is stuck"
### Issue description
Media playback is stuck after prerolls are completed.

### Reproduction steps
Use the following [test code](https://textuploader.com/1j7m1).

### Link to test content
[https://textuploader.com/1j7m1](https://textuploader.com/1j7m1)

### A full bug report captured from the device
[https://textuploader.com/1j7mo](https://textuploader.com/1j7mo)

### Version of ExoPlayer being u

[2020-03-30 10:48] AquilesCanta commented on #7159
I think the answer to all of the above is yes.

I am not sure what multi-profile-OTT-streams means, other than multiple qualities adaptation. I cannot find the specific term in the spec, so please provide an example if you are not sure one of the 3 items is correctly supported.

[2020-03-30 10:48] #7159 closed, assigned to AquilesCanta

[2020-03-30 10:50] andrewlewis commented on #7157
Yes. You need to use a `Service` for this use case (the system can kill activities when they aren't in the foreground).

[2020-03-30 10:50] #7157 closed, assigned to andrewlewis

[2020-03-30 11:15] ojw28 commented on #7155
The surface to which the video is being rendered is destroyed and recreated by the way you switch to fullscreen. This happens because you remove the `PlayerView` from the layout and re-add it.

When this happens, you run into the platform limitation that's discussed quite extensively in https://github.com/google/ExoPlayer/issues/677, meaning that the transition is only smooth if the device support

[2020-03-30 11:54] krocard commented on #6749
I asked the audio framework team why 24 and 32 bit linear PCM are not exposed in the SDK [internal: b/152481314].

[2020-03-30 16:22] #7160 closed, assigned to andrewlewis

[2020-03-30 18:26] CalebGartner commented on #7131
Makes total sense. Thank you for taking a look at it anyways. If you don't mind though, I have a few more questions I wanted to ask. It was undoubtedly an issue with the media format, regardless of whether it was malformed or ExoPlayer was somehow mishandling it. I just wanted to rule out potential issues on the ExoPlayer side of things.

The main reason for this was that it stuck out to me that o

[2020-03-30 19:09] ojw28 commented on #7131
It's possible, but it's not that easy to prove that this is the case. In general, I don't understand why you would use MPEG-TS at all for this use case. Particularly if you're creating this media yourself, an MP4 container is going to be _much_ simpler to reason about.

Video decoders always produce full output buffers, so the answer to your question is effectively "when decoding". There's no requ

[2020-03-30 20:55] CalebGartner commented on #7131
Fair enough. The last question was more to satisfy my own curiosity, thank you for the answer. I'll see about switching container formats. Thanks again!

[2020-03-30 20:55] #7131 closed, assigned to ojw28

[2020-03-31 02:29] 447zyg commented on #7155
@ojw28
ok  i know  thanks
but youtube app in this device  fullscreen is no problem
it's strange

[2020-03-31 03:37] januswa opened #7163 "Is it possible to skip using presentation time stamp in processOutputBuffer?"
Can we skip using bufferPresentationTimeUs in processOutputBuffer() in MediaCodecVideoRenderer.java ? Is that even a possibility to skip relying on PTS and use some fixed repeat rate instead ?
Looks like in the processOutputBuffer() , renderOutputBuffer() is being called and presentationTimeUs is being passed in as an argument. But, i don't see where this parameter is being used in the renderOutpu

[2020-03-31 08:15] ruichaoqun commented on #7145
yeah,how to that? i didn't find some useful parameter int method setPlayWhenReady

[2020-03-31 08:21] andrewlewis commented on #7163
`MediaCodecVideoRenderer.processOutputBuffer` will (among other things) decide whether to drop the frame, and (if not) when to render it. It should be possible to implement custom frame dropping/rendering behavior by subclassing `MediaCodecVideoRenderer` and overriding this method. I'd probably start by using the existing implementation as a starting point then make customizations based on that. P

[2020-03-31 08:34] DimaSladkin opened #7164 "Player crashes with UnsupportedDrmException when initialising DrmSessionManager with wrong Drm UUID scheme"
### [REQUIRED] Issue description
Player crashes when drm uuid scheme is invalid.

Since version 2.11.0 initialization of `DrmSessionManager` requires `ExoMediaDrm.Provider` instead of an instance directly. When `FrameworkMediaDrm` is getting initialized, it can throw `UnsupportedSchemeException` which then can be handled and restart player with correct scheme uuid. Therefore when `FrameworkMediaDr

[2020-03-31 08:52] ojw28 commented on #7155
I'm pretty sure YouTube avoid detaching the view from the hierarchy, as I've described.

[2020-03-31 10:14] MostafaAnter opened #7165 "How to pass an FfmpegAudioRenderer in the array of Renderer"
I'm using ExoPlayer.Builder but I don't know How to pass an FfmpegAudioRenderer in the array of Renderer? if there are steps plz help me.

[2020-03-31 14:43] ojw28 commented on #7145
What duration are you expecting this to occur over? Please could you provide an example of one of the players that supports this feature. VLC doesn't appear to, for example.

If you're thinking of a very short duration of volume shaping to make the pause/resume "feel" nicer, then the underlying platform should already do this underneath ExoPlayer. It's possible we need to tweak some things to enab

[2020-03-31 16:40] #7145 closed, assigned to ojw28

[2020-03-31 16:43] ruichaoqun commented on #7145
such as Netease cloud music  and QQ music ,They all have a fade-in and fade out function when play or pause the music

[2020-03-31 17:56] MostafaAnter commented on #7165
I got it just change the extension mode to EXTENSION_RENDERER_MODE_ON

[2020-03-31 17:56] #7165 closed, assigned to andrewlewis

[2020-03-31 20:56] chinmaygghag opened #7166 "How to update ExoPlayer's progress bar while playing video on CastPlayer Android?"
I have a doubt regarding the ExoPlayer and CastPlayer. When I cast a video on the castplayer the progressbar on exoplayer is not being updated, also the remaining and the timme elapsed on exoplayer is not updating. I want to enable the functionality that will control the video (like play, pause, forward, rewind) from the exoplayer while the video is being played on the castPlayer. Also the exoplay

[2020-04-01 01:08] #7033 closed, assigned to krocard

[2020-04-01 01:08] #7016 closed, assigned to andrewlewis

[2020-04-01 03:35] bebop7-dev opened #7167 "How to get all frame data while playing video?"
Hi,
I'm looking for how to access all frame data while playing video using exoplayer 2.11.3.
I need the features both video playback and internal image processing for other purposes (not kind of  filters) in realtime.
So I need to access all frame data while playing video.

I searched about it for a long time and I tried to make a subclass from "MediaCodecVideoRenderer" and override the "processOu

[2020-04-01 04:57] alexey-rabets commented on #5097
Is there some workaround for this issue other than increasing TIMESTAMP_SEARCH_BYTES value? I have tried to increase it but it didn't help. Possibility to seek video is some basic functionality that doesn't work in ExoPlayer properly for some video files while there are no issues with the same video in other players.

[2020-04-01 05:46] Gowsky opened #7168 "Getting NullPointerException when calling DrmSessionManager.release()"
### [REQUIRED] Issue description
Judging by stacktraces we see in Crashlytics, the crash occurs while ExoPlayer releases itself, most likely when finishig an Activity. We weren't able to reproduce it, as it occurrs on devices we don't have.

### [REQUIRED] Reproduction steps
We don't have any details about it yet, as Crashlytics log is all we have right now.
It most likely occurrs after calling `S

[2020-04-01 07:03] ScienceIsNeato commented on #7072
@krocard that sounds prudent - certainly not an important bug to address in times like these! Stay safe and healthy and I'll check back in when the things get back to some semblance of normalcy

[2020-04-01 07:08] bishiboosh commented on #6760
I've reported it at https://github.com/googlecast/CastVideos-android/issues/84 but this hasn't received any answers unfortunately

[2020-04-01 09:46] Taranlayal10 opened #7169 "No Audio in Offline playback"
Hi

I am trying to play a dash (.mpd) content in offline mode. Only video is coming on player without any audio. Please help

[2020-04-01 09:56] nitinjain12 opened #7170 "setting builder.mediaLoadTimeOutInMs = 1000 ms not working. exo version 2.9.1"
we are using exo ima extension v2.9.1. we want mediaLoadTimeOutInMs = 1000 ms of preroll.
but Ad wait for 8 sec to throw the media timeout error. It increase the latency of the content startup.

              ImaAdsLoader.Builder builder = new ImaAdsLoader.Builder(context);

                if (vastTimeOutInMs != AdData.NOT_SET) {
                    builder.setVastLoadTimeoutMs(vastTimeOutInMs);

[2020-04-01 16:06] AquilesCanta commented on #7166
We need, at least, sample media which which you can reproduce this issue.

@marcbaechinger, once @chinmaygghag provides media would you kindly try this in the demo app? I don't currently have any cast devices.

I'll take it on once we confirm this is an issue with ExoPlayer.

[2020-04-01 17:43] jrocharodrigues opened #7171 "Support I-frame only playback (trick play) in player and buffering logic"
Hi,

I'm trying to use a trickMode track on a Dash stream to display thumbnails above the seekbar when seeking.
I've already made most development and it's working.
For the thumbnails PlayerView player, i've changed the track selection parameters so that only that trickmode track is enabled.
Now i'm trying to make that player to load as less chunks as possible, and renderer as fast a possible.
To

[2020-04-01 21:07] stari4ek commented on #7147
just in case, I've checked integration on my side. it was as described in documentation:
[code]

[2020-04-02 03:23] avstreamdevpro opened #7172 "MP4 will not start playback from URL stream on Fire TV OS 5.2.7.3"
### [REQUIRED] Issue description

MP4 will not start playback from URL stream.

It plays on mobile and Fire TV OS 6+. But not working on Fire TV OS 5.2

I think exoplayer can support Android 4.1+.

https://exoplayer.dev/supported-devices.html

### [REQUIRED] Reproduction steps

Attempt playing mp4 on Fire TV OS 5.2.7.3 using Exoplayer or Amazon Port Exoplayer.
Not playing and get an error message.

[2020-04-02 06:24] WaqasYousafy786 opened #7173 "OnTrackChnaged method called twice while click next button . why?"
OnTrachChanged called twice . when i click on next or previous button of player .
I am beginner of exoplayer user

[2020-04-02 09:02] oksanabitel opened #7174 "Hello guys, we use Exoplayer in the app, but need to migrate from Google Services to Huawei Services. Does anyone did it and have any recommendations? Thanks in advance."
[New issue template not filled out]

[2020-04-02 09:29] andrewlewis commented on #7174
It's unclear how this is ExoPlayer related, and I don't think we can provide any guidance. ExoPlayer core doesn't depend on Google Play Services (which I assume is what is being referred to here). Feel free to provide more information if it does relate to ExoPlayer. You may get an answer on a more general-purpose site like Stack Overflow.

[2020-04-02 09:29] #7174 closed, assigned to andrewlewis

[2020-04-02 09:34] andrewlewis commented on #7172
It looks like the device just doesn't support decoding this 4k stream (`Renderer error: index=0, type=video, format=Format(1, null, null, video/avc, null, -1, null, [3840, 1608, 23.97602], [-1, -1]), rendererSupport=NO_EXCEEDS_CAPABILITIES`). As this is a FireTV device, Amazon may be able to comment further on what level of support for decoding this format can be expected, to determine whether thi

[2020-04-02 10:50] kunalvaidya commented on #7040
unable to share bugreportz  with exoplayer team :(
Closing

[2020-04-02 10:50] #7040 closed, assigned to krocard

[2020-04-02 12:25] tsaezmirada commented on #6654
Thanks @jt64, I will organise a new test with the client.
Just to clarify that this issue has been reported for different models of Samsung devices as
Device name: Galaxy J7 -Model number: SM-J700H and  Device name: Galaxy S6-Model Number: SMG920F.

I will give you update with the dumpstate asap.

[2020-04-02 15:16] giladna opened #7175 "IndexOutOfBoundsException - while checking if media isLive"
Hi,

While checking the isLive new API
in the Demo app in v2.11.3 version I get this exception after executing the below code.
running this on Pixel 3 android 10

No sure what is the best approach here but I was expecting to get false
unless it should be called only after player is READY

is there a way to add api that checks is there is a window  before calling get, so this  case can be checked b

[2020-04-02 17:34] #7103 closed, assigned to marcbaechinger

[2020-04-02 19:24] chinmaygghag commented on #7166
@AquilesCanta Thank you for you response.
It can be any video with m3u8 video format. I saw that the new screen opens up when the video is played on the CastPlayer by which we can control the video on the device which it is casted on.

I want to know if there is any such possibility where once we cast the video on the chromecast, the current video view to be replaced by a video thumbnail and forwa

[2020-04-02 19:38] pi-mad opened #7176 "Shoutcast audio stream glitching"
I have updated the player to 2.11.3 from a very old version as i'm using a template and building it to how I want it so it had 2.9.6 installed which the stream works with no problems and no glitching but as I upgraded to 2.10.0 or higher it starts glitching.

Look forward to your reply

[2020-04-02 19:49] nishantkp commented on #7002
Hi @andrewlewis,

We are started to seeing this again. After midroll is finished, content is not able to resume.

[2020-04-02 21:42] stari4ek opened #7177 "ExoPlayer fails to prepare for UHD MPEG-TS stream (worked before)"
### [REQUIRED] Issue description
With changes made in 6946170d3ece533655a23f8fe65936412f365a6c ExoPlayer fails to prepare provided mpeg-ts streams.
Works well with bd8ee155af5c441fa2dd0440f94638853b9ac7ee (-1 revision).
No issues in mplayer/vlc.

There is warning in the log, but it's logged in working/not-working cases:
[code]

### [REQUIRED] Reproduction steps
Play provided streams in demo player

[2020-04-03 07:41] Taranlayal10 commented on #7155
I am facing this issue with switchTargetView also. Is there any way to add dummy surface while rotation to stop black screen

[2020-04-03 08:03] stari4ek commented on #7177
Reverting next changes (https://github.com/google/ExoPlayer/commit/6946170d3ece533655a23f8fe65936412f365a6c#diff-11d839d2e0e7ccd61baa89293ddbd8f0L581):
[code]
make streams readable

[2020-04-03 08:03] github-eugene opened #7178 "Hls not live streaming doesn't set EXT-X-SEQUENCE to 0"
I am using ExoPlayer to play stream url .m3u8. I am not using some special, only base realisation :

   private val trackSelector = DefaultTrackSelector(AdaptiveTrackSelection.Factory())
    private val rendererFactory = DefaultRenderersFactory(context)
    private val loadControl = DefaultLoadControl()

    private val simplePlayer: SimpleExoPlayer = ExoPlayerFactory.newSimpleInstance(
        co

[2020-04-03 08:35] andrewlewis commented on #7167
ExoPlayer gets `MediaCodec` to output to a `Surface` by default, which means that the buffers containing output frames are not mapped/copied into byte buffers, improving codec performance. Please see also [MediaCodec data types](https://developer.android.com/reference/android/media/MediaCodec#data-types) and [MediaCodec using an output Surface](https://developer.android.com/reference/android/media

[2020-04-03 08:50] andrewlewis commented on #7169
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-04-03 09:06] andrewlewis commented on #7168
Looking at the code, it's unclear how this can happen on 2.11.1. The field is final and should always get a non-null value. If a null value were passed in when building the media source it would have thrown NPE in prepareSourceInternal. Could you double-check your code to make sure you aren't passing a null `DrmSessionManager` when creating the media source factory anyway? I also can't see a reaso

[2020-04-03 09:12] andrewlewis commented on #7170
I think I've seen this value be ignored by the IMA SDK in the past. I will check again and ask them if they could take a look if needed. Thanks for the report.

[2020-04-03 10:30] VenryZhong opened #7179 "The latest version of Huawei P9 plays hevc video screen rotation"
### Issue description
Hello, I have a problem. On Huawei P9, using exoplayer to simply play a h265 video will encounter problems.
Using the old version 2.10.8 can play normally, while using the new version 2.11.3 will cause the screen to rotate. what should i do.
As shown:
version: 2.10.8:
![2 10 8](https://user-images.githubusercontent.com/22294378/78350496-e5ad9c00-75d7-11ea-85de-0dc4fcba0d22.jp

[2020-04-03 10:38] stari4ek commented on #7177
It looks like there is `AIT` declared in PMT with 2821 pid, but there is no transport packets for it. (checked with `notwork_01`)

So, `maybeFinishPrepare` is never satisfied, due missing format for metadata tracks sample queue.

BTW, is there any reason to **require** `METADATA` (!) samples/track to be fully mpeg-ts complaint? (I do not have any expertise here. But is it valid case, when there is

[2020-04-03 10:40] AquilesCanta commented on #7166
If I'm understanding correctly, this is unrelated to the original post. The answer is that, unfortunately, you'll have to create your own custom receiver in order to alter the UI. There's documentation about this in the [Cast SDK documentation](https://developers.google.com/cast/docs/caf_receiver).

Regarding the original issue, are you saying that when casting any HLS video, the ExoPlayer progres

[2020-04-03 11:57] stari4ek commented on #7177
I'm thinking about next workarounds:
* flag to ignore AIT (like `FLAG_IGNORE_SPLICE_INFO_STREAM`)
* `PassthroughSectionPayloadReader.init` setting `Format`. If it can be dynamic - set initial format and update with offset later.

[2020-04-03 12:12] andrewlewis commented on #7177
@icbaker, @AquilesCanta Please could you take a look? This seems to be related to #6922.

[2020-04-03 12:23] ghost opened #7180 "How to add a feedback button to Android Exoplayer"
Context and target version:

`    compileSdkVersion 29
    defaultConfig {
        minSdkVersion 16
        targetSdkVersion 29
        versionCode 1
        versionName "1.0"
    }
`

How to add a email feedback button to Android Exoplayer 2. I cannot add any action buttons.

I followed many tutorials like: https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a But

[2020-04-03 12:39] andrewlewis commented on #7176
We need a link to the stream you're trying to play to diagnose this effectively.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject

[2020-04-03 12:41] andrewlewis commented on #7179
I wonder if this is a change in video decoder capability detection between the two releases given the logging `D/MediaCodecInfo: NoSupport [sizeAndRate.support, 1920x1080x29.742565155029297] [OMX.IMG.MSVDX.Decoder.HEVC, video/hevc] [HWEVA, EVA-AL00, HUAWEI, 26]` and subsequent use of OMX.google.hevc.decoder. Maybe the software decoder is not handling rotation properly.

[2020-04-03 12:47] andrewlewis commented on #7179
@VenryZhong Please could you provide logging like the snippet above (or even better a bug report captured via `adb bugreport`) after playing the video on the older version so we can see what decoder is being used?

[2020-04-03 12:48] andrewlewis commented on #7179
Aside: OMX.google.hevc.decoder does show the video correctly on Pixel 2 XL running Q.

[2020-04-03 12:52] andrewlewis commented on #7175
You can check `timeline.getWindowCount()` or `timeline.isEmpty()`.

[2020-04-03 12:52] #7175 closed, assigned to andrewlewis

[2020-04-03 12:55] andrewlewis commented on #7178
I'm not sure what you are trying to do here. Please could you try restating the question in terms of ExoPlayer APIs?

[2020-04-03 12:57] tonihei commented on #7175
Actually, the preferred way to check if media is live is to use `player.isCurrentWindowLive()`.  This already includes the check Andrew mentioned above.

[2020-04-03 13:00] andrewlewis commented on #7180
The documentation at https://exoplayer.dev/ui-components.html and especially https://exoplayer.dev/ui-components.html#customization may help with this. You should be able to replace the entire layout used with your own layout file following the instructions there. If more general guidance on Android UIs is needed I'm afraid it isn't in scope for this tracker, but you could try a general-purpose QA

[2020-04-03 13:00] #7180 closed, assigned to andrewlewis

[2020-04-03 13:08] AquilesCanta commented on #7164
Seems to me like a duplicate of #7012.

[2020-04-03 13:08] #7164 closed, assigned to AquilesCanta

[2020-04-03 13:38] andrewlewis commented on #7173
I think what's going on is that at the moment you click next/previous, the tracks for the new playlist item are sometimes not known. In this case you get a tracks changed notification with empty tracks, then once the media is prepared for playback you get another notification with the actual tracks.

You can see this if you look at `EventLogger` output in logcat when seeking in a playlist in the d

[2020-04-03 13:38] #7173 closed, assigned to andrewlewis

[2020-04-03 15:19] sgt2350 commented on #6429
Any update on the above fixes ? Please let us know . Thanks

[2020-04-03 16:17] AquilesCanta commented on #7168
I agree with everything @andrewlewis points out.

Please check this. Even if passing null, this would mean ExoPlayer is calling release without calling prepare first, which sounds unlikely. Your app is not modifying ExoPlayer code either, is it?

In the most recent release version, a null value is even more likely since it's replaced during construction for a dummy DRM session manager, so perhaps

[2020-04-03 17:17] icbaker commented on #7177
Thanks for the report - I can reproduce `notwork_01.ts` playing just before the DVB AIT change, and failing to play after it.

I'll take a deeper look on Monday.

[2020-04-03 19:53] sneelavara opened #7181 "CEA-608 caption stuck on screen for several minutes"
### Issue description

#### Summary
CEA-608 caption stuck on screen for several minutes (mostly  during commercial breaks)

#### Root Cause
On certain Live TV channels the Caption from Live TV program stays on screen throughout the commercial. The commercials in such case don’t have the caption. But the the outdated caption from the program stays on screen.

The root cause is that the caption prov

[2020-04-03 20:20] pi-mad commented on #7176
Email sent with the stream link and some other info!

[2020-04-03 21:47] PaulWoitaschek opened #7182 "Audiofocus Broken after AUDIOFOCUS_LOSS_TRANSIENT"
On ExoPlayer 2.11.3, audiofocus is broken when receiving a `AUDIOFOCUS_LOSS_TRANSIENT`.
In that case the AudioFocusManager receives no furhter events and exoplayer is unable to play any longer.
This can be reproduced using the following steps:
* Clone uamp: https://github.com/android/uamp
* Update exoplayer from 2.10.0 to 2.11.3
* Run the app and play a song
* Call the phone using Google Duo

Now

[2020-04-03 22:05] PaulWoitaschek commented on #7182
It would be great if a fix went already into the next release as this bug renders exoplayer completely unusable.

[2020-04-03 22:14] ojw28 commented on #7182
I can't reproduce this using normal phone calls (which should be the same in terms of how audio focus works). Are you sure this isn't a Due issue?

[2020-04-03 23:04] ojw28 commented on #7182
I think it's a Duo bug where they should be releasing audio focus but aren't. If you kill the Duo process after the call then playback does resume.

That said, the state ExoPlayer ends up in is definitely non-ideal (it's waiting indefinitely for Duo to release audio focus, which it's not doing). If the user toggles to pause and back to play, we should be more aggressive at trying to take audio foc

[2020-04-04 02:38] ccflyy opened #7183 "seek problem"
player.setLoadControl(new DefaultLoadControl.Builder()
            .setBufferDurationsMs(1000x60x6, 1000x60x8,1500,2000)
            .createDefaultLoadControl());

When I seek progress, the original buffer progress will be cleared and the buffer will start again

[2020-04-04 05:16] jparekh-tivo opened #7185 "SMPTE-TT CODEC not recognized in HLS master playlist"
### Issue description
​
SMPTE-TT CODEC not recognized in HLS master playlist
​​
The DASH manifest specifies the SMPTE-TT captions in the codecs in the manifest (from W3C [TTML Profiles for Internet Media Subtitles and Captions 1.1](https://www.w3.org/TR/ttml-imsc1.1/#general-0).
​
Apple describes IMSC1 in MP4 in [RFC-8216 Section 3.6](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-04#sect

[2020-04-04 05:20] PaulWoitaschek commented on #7182
Ah very interesting.

In my testing it was working with UAMP and exoplayer 2.10.0
But it only **appeared** to be working in 2.10.0 because the time displayed in the player was advancing, but there is no actual audio being played.

So there definitely is a behavior change anywhere. Maybe introduced to the change with the event handler introduced between these releases.

Yes that's a very good idea.

[2020-04-04 07:11] huynguyennovem opened #7186 "Video playback display wrong by duplicating the controller"
### [REQUIRED] Issue description
Video playback is duplicating the controller. As the image below, there are two controllers but only one of them can be interactive (the bottom controller).

### [REQUIRED] Reproduction steps
This is the source code I implemented:
- The layout xml:
[code]

- The java code:
[code]

### [REQUIRED] Link to test content
[https://imgur.com/a/u3m6bVM](https://imgur.com/a

[2020-04-04 09:37] halaei opened #7187 "Skip 64kb of junk at the beginning of mp3 files"
### [REQUIRED] Issue description
Most players and tools, like ffmpeg, skip more junk bytes that what exoplayer does. Hence there are files that are OK regarding those players and tools, but cannot be played with exoplayer.
Here is a link to a commit in ffmpeg. The code as well as description are informative:

https://github.com/FFmpeg/FFmpeg/commit/2b3e9bbfb529e6bde238aeb511b55ebe461664c8

### [RE

[2020-04-04 09:38] halaei commented on #7187
Maybe a duplicate of https://github.com/google/ExoPlayer/issues/5718. I didn't find it at first. I hope it provides extra information.

[2020-04-04 09:45] halaei commented on #5718
Maybe this ffmpeg commit and the description can help:
https://github.com/FFmpeg/FFmpeg/commit/2b3e9bbfb529e6bde238aeb511b55ebe461664c8

and actual mp3 data. Skip this to avoid outputting nonsense timestamps.
(Two packets had the same timestamps, because the mp3 parser failed to
compute a frame duration.)
In this case, the junk consisted of 1044 bytes of zero, which
incidentally is the same size a

[2020-04-04 12:25] 07steven01 opened #7188 "DRM-protected content playback stuck after ad playback (VMAP)"
### [REQUIRED] Issue description
When playing a Widevine DRM protected video content (secure) along with VMAP ads the player does not resume content playback when a pre-roll ad has completed. This doesn't happen with Widevine Clear streams.

### [REQUIRED] Reproduction steps
1) In ExoPlayer demo app code, in demos/main/media.exolist.json edit the entry VW Secure HD (MP4,H265) to include the ad inf

[2020-04-04 16:41] #7090 closed, assigned to marcbaechinger

[2020-04-04 23:54] nitinjain12 commented on #7170
Thank you @andrewlewis for your reply. It will be really helpful if we get some workaround as well.
Adding more info we are using the below IMA SDK version.
com.google.ads.interactivemedia.v3:interactivemedia:3.10.9

[2020-04-05 10:13] giladna commented on #7175
thanks!

[2020-04-05 13:55] ojw28 commented on #7183
The format is probably not seekable. Please see [this FAQ](https://exoplayer.dev/troubleshooting.html#why-are-some-media-files-not-seekable). Depending on the stream type, you may be able to enable seeking by enabling [constant bitrate seeking](https://exoplayer.dev/progressive.html#enabling-constant-bitrate-seeking).

[2020-04-05 15:19] ojw28 commented on #7182
I reported the Duo issue to the relevant team [Internal ref: 153249585]

[2020-04-05 18:10] lejahmal opened #7189 "want to play DASH audio live stream but exoployer looping"
I try to play a DASH audio live but exoplayer does not stop  looping the beginning of the audio without progress. here is my code i don't know what the problem is i have already tried everything. I use exoplayer 2.11.3 my RMTP stream is AAC bitrate 64 kbs 44.1hz encoded push to NGNIX DASH_length 4s  DASH_fragment 1s
thank you for helping me i can't take it anymore i already read all

android logca

[2020-04-05 18:41] abolfazlkalamati opened #7190 "how use custom_layou in playerView ?"
when use custom_layout for exo player with child view with the same id in exo_playeback_controller_view file, for example exo_play, exo_position,exo_ffwd and etc, and set custom_layout in PlayerView with controller_layout_id="@layout/custom_layout", it's enough or we must doing other work to working widgets in custom_layou and connected to exo player?
i'm doing this work and show custom_layout whe

[2020-04-05 19:18] ojw28 commented on #7155
`DummySurface` is already used on devices that support it. It relies on APIs that do not exist on older devices, and are unreliable on some slightly newer devices, and therefore it's not possible to use it on every device.

[2020-04-06 06:39] finneapps opened #7191 "Update com.google.android.gms:play-services-cast-framework to 18.1.0"
### [REQUIRED] Searched documentation and issues
I can see that cast extension is using com.google.android.gms:play-services-cast-framework:17.0.0

### [REQUIRED] Question
When using Chromecast through the CastPlayer, my app has started to crash with this error:
[code]
I am not the only one having this issue and Google says it was fixed with version 18.0.0:
https://issuetracker.google.com/issues/1

[2020-04-06 07:06] andrewlewis commented on #7187
Thanks for the report and extra information on #5718! I will mark this as a duplicate for now.

[2020-04-06 07:06] andrewlewis commented on #7187
Duplicate of #5718

[2020-04-06 07:06] #7187 closed, assigned to andrewlewis

[2020-04-06 07:08] andrewlewis commented on #5718
@kim-vde It may be interesting to consider this in the context of the sniffing improvements you are working on. I guess if MP3 ends up at the end of the list of extractors we can read ahead further during sniffing before giving up.

[2020-04-06 07:11] andrewlewis commented on #7171
@tonihei Please could you take a look?

[2020-04-06 07:21] tenetspark opened #7192 "Can we preview video in reverse mode?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-04-06 08:00] jakoss opened #7193 "Workaround for empty timeline in PlaybackStatsListener"
### [REQUIRED] Question
First callback for a new playlist have empty timeline. I'm aware that it will be fixed in 2.12, but i'm looking for workaround for now.

I'm not sure how to get my id reliably in this case:
[code]

There is possibility that `MediaSource` will be removed from `ConcatenatingMediaSource` after track change (this is implementation of temporary item in queue).

[2020-04-06 10:03] AquilesCanta commented on #7188
I think this is an issue we are already aware of and working on.

The underlying cause is that since we moved DRM to the SampleQueue, an assumption made by the ClippingMediaPeriod is no longer true. We'll be adding a workaround to fix clipping in the short term sometime soon, and then work towards a longer term solution. Once we push the fix to the dev branch, a commit will be referenced here.

[2020-04-06 10:45] tonihei commented on #7171
Setting the `maxBufferMs` value to `5500` for a chunk length of `2` seconds means the player needs to load `3` chunks to reach at least `5500ms` worth of media. So this is all working as expected.

To load at most one chunk at a time, you need to set `maxBufferMs` to less than a single chunk duration. This then only downloads the second chunk if the next load position (i.e. `2000ms`) minus the cur

[2020-04-06 10:45] icbaker commented on #7177
I think the underlying root cause for this is actually https://github.com/google/ExoPlayer/commit/94315ab757505f98d0b907fa2f7d2c516356ecae where we removed the format-setting from `SpliceInfoSectionReader#init()` which then became `PassthroughSectionReader`. Putting back that `format()` call back in makes `notwork_01.ts` and `notwork_02.ts` play for me.

However it makes the tests fail (which is w

[2020-04-06 11:08] WaqasYousafy786 opened #7194 "Sesssionid is zero ."
### [REQUIRED] Issue description
I am using exoplayer for my mediaplayer app . i want the sessionid for equalizer to pass . If i click on next button of player controls for playlist next song everytime sessionid  is zero and equalizer not working .
If song changed by itself then equlizer works.

### [REQUIRED] Version of ExoPlayer being used
I am using exoplayer2.11.x

### [REQUIRED] Device(s) and

[2020-04-06 11:22] jrocharodrigues commented on #7171
Hi @tonihei ,
Thanks for the answer.

Yes, the player is paused.

Yes, it downloads 2 chunks.

I will try to setup set the demo app to replicate this behaviour and will share with you, but it has to be shared privately. Where can i send it?

Cool, is there any code alreaddy on the public branches?

[2020-04-06 11:24] waqasyousafy opened #7195 "MediaSessionId is zero if play song by clicking next in exoplayer."
### [REQUIRED] Question
I am using sessionid for my equalizer functionality i got zero at every time i click on next button to play next song . Equalizer not working on next song if comes with click .
If song complete then session id is generated greater than zero for second song after completion of first song.
On click session id is zero every time .

i am beginner of exoplayer. Plz help me .
I a

[2020-04-06 11:27] krackjack234 opened #7196 "How to play video even if subtitle urls are not accessible"
### [REQUIRED] Searched documentation and issues
Saw similar topic as part of ticket https://github.com/google/ExoPlayer/issues/6640
Need to know latest status for this

### [REQUIRED] Question
We have a video url and a subtitle url but the subtitle url is not accessible.
When we pass both the urls to exoplayer, exoplayer throws an error 400
The player then goes to idle state and does not start vi

[2020-04-06 11:29] tonihei commented on #7171
You can send emails to dev.exoplayer@gmail.com with "Issue #7171" in the subject line.

No, unfortunately not yet. It's really just a plan so far. We can use this GitHub issue to track this implementation. I'll update the title once we figured out whether the problem with stuck buffering is an actual bug or intended behaviour.

[2020-04-06 11:34] jrocharodrigues commented on #7171
Ok, thanks.
I'll send it as soon as possible.

[2020-04-06 11:50] AquilesCanta commented on #7189
Before we look into this:
- Can you provide a sample stream which reproduces the issue in the demo app?
- Have you tried to play the stream in the demo app? What behavior do you observe?
- Please provide a bugreport captured shortly after playing the stream in the demo app. You can do this by running `adb bugreport` immediately after observing this issue in the demo app.

[2020-04-06 11:52] AquilesCanta commented on #7190
@marcbaechinger Marc could you take a look at this?

[2020-04-06 11:55] stari4ek commented on #7009
Some "what if" information reported by user who is facing the problem.
Same streaming provider added new stream, which is a bit different from those one with artifacts and it does not have this issue.

Mediainfo diff (non relevant info dropped)
[code]

[2020-04-06 11:59] waqasyousafy commented on #7195
Any one here
@icbaker ....

[2020-04-06 12:16] AquilesCanta commented on #7195
Seems this is a duplicate of #7194. Please clarify if not, and I'll reopen.

[2020-04-06 12:16] #7195 closed, assigned to AquilesCanta

[2020-04-06 12:20] AquilesCanta commented on #7194
@kim-vde Can you look into this? Also, could you update the issue title to describe what the issue is if you have more context?

[2020-04-06 12:24] AquilesCanta commented on #7186
Hi, it's not clear to me whether there's an issue with rendering somehow, or whether you are unintentionally adding an extra player controller to your app. We will need more information to help with this. Please provide all items required in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
- Is this device-specific?
- Can you reproduce the is

[2020-04-06 12:45] icbaker commented on #7181
Thanks for the report, I can repro using the test stream provided by email.

I think this is an enhancement rather than a bug - the source media isn't spec compliant and my reading of Annex C.9 is that it's not "recommended" to timeout captions but more like a workaround that "some manufacturers have suggested".

If you're already working on a PR that's great - I think the right way to generate an

[2020-04-06 12:49] waqasyousafy commented on #7195
I did not find any solution. I have search alot . I found sessionid zero every time i click next or previous button in exoplayer.
Plz help me .

[2020-04-06 12:57] marcbaechinger commented on #7190
Yes, setting `controller_layout_id="@layout/custom_layout"` is sufficient for telling the `PlayerView` to use a custom layout file for the controller:

1) I copied `exo_playback_control_view.xml` and removed everything except the play/pause buttons. Then I stored it in the file `custom_control_view.xml` in the layout directory of the app:

[code]
2) I referenced the id in PlayerView which is in th

[2020-04-06 13:07] waqasyousafy commented on #7194
@kim-vide are you here

[2020-04-06 13:11] AquilesCanta commented on #7186
Something it's worth considering (thanks @ojw28!) is that it's a known issue that transparent window backgrounds may produce artefacts ([this link](https://medium.com/google-developers/developing-for-android-viii-e91ced595fac) may contain useful info). So if you have a transparent window background, it's worth trying disabling that.

[2020-04-06 13:14] ojw28 commented on #7194
@waqasyousafy - The way you keep pinging these bugs is not appropriate. You filed it 2 hours ago. Please stop.

[2020-04-06 13:26] waqasyousafy commented on #7194
ok

[2020-04-06 13:44] huynguyennovem commented on #7186
@AquilesCanta : that's exactly the reason for this. Disabling the windowBackground makes it work perfectly.
Remove this from theme's activty:
[code]
Thank you!

[2020-04-06 15:20] gokulkalagara opened #7197 "403 Error due to spaces in url below android 7 version"
##  com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 403

in lower versions

## API 23, 22, 21

sample video url:
711bd0166e2c/dash/6e8252ab-18de-4499-a90c-ed568fb2f4d6-1.2 problems on limits(1).mpd

[2020-04-06 17:16] kim-vde commented on #7194
I tried to reproduce the problem but I couldn't. I have an equalizer and it is still working if I go to the next item in a playlist.

Could you provide reproduction steps (for example, sample code and media)? Could you also, if possible, debug and check the value of `audioSessionId` in `DefaultAudioSink`?

[2020-04-06 18:01] abolfazlkalamati commented on #7190
thank you for answer, this is my custom_layout :
`<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <androidx.constraintlayout.widget.ConstraintLayout
        android:layout_width="match_parent"
        android:layout_height="match

[2020-04-06 18:07] belike-priyesh opened #7198 "playing encypted video url directly"
I have a URL containing encrypted video file, encrypted using AES/CTR/NoPadding.
I'm using ExtractorMediaSource along with CustomMediaSource **DefaultHTTPMediaSource**
the only change I have made is open method is inside this:
[code]
Here is StreamingCipherInputStream class:
[code]
Rest everything is left the same as DefaultHTTPDataSource.
But when play this video using this data source it produce

[2020-04-06 18:46] #7186 closed, assigned to AquilesCanta

[2020-04-06 22:02] sneelavara commented on #7181
@icbaker Thank you for the input. Please review pull request https://github.com/google/ExoPlayer/pull/7199

[2020-04-06 22:50] AquilesCanta commented on #7192
Can you clarify the question? I am not sure what the question means.

If it's related to reverse playback, see #2191.

[2020-04-06 22:51] AquilesCanta commented on #7193
@tonihei Can you take a look at this?

[2020-04-06 22:54] AquilesCanta commented on #7196
The best source of information for this still is #6640, unfortunately. I suggest you show interest for this there.

[2020-04-06 23:12] AquilesCanta commented on #7197
Seems to me this is a duplicate of existing issues like #727, and #5983.

[2020-04-06 23:12] #7197 closed, assigned to AquilesCanta

[2020-04-06 23:30] AquilesCanta commented on #7198
I think your priority should be making sure that whatever is coming out of the data source is correctly decrypted. As a starting point, you should consider using AesCipherDataSource, from ExoPlayer. Also, you might find some useful information in #5083. Unfortunately, I don't think this falls within the scope of this issue tracker. Please try a general Q&A site like stack overflow. Or update this

[2020-04-06 23:30] #7198 closed, assigned to AquilesCanta

[2020-04-07 01:07] #7045 closed, assigned to icbaker

[2020-04-07 05:13] Romantic-LiXuefeng opened #7200 "How to support seamless playback between jumping to ad h5 web detail page and backing to player actiivity?"
As the title, I using my own ad SDK, not using IMA extension.  The ad need to jump the h5 detail web page when user click the button,   how to support pause the player when jump to h5 detail page and resume the player when back to the player activity?

[2020-04-07 06:01] xirac commented on #6950
The change was actually simple.

In library/ui/src/main/java/com/google/android/exoplayer2/ui/SubtitlePainter.java
by changing function drawBitmapLayout like this:
[code]

The rendering looks pettier.
Before
![image](https://user-images.githubusercontent.com/51912261/78634748-ea5aa480-78a4-11ea-8ac4-5050496b0075.png)
After
![image](https://user-images.githubusercontent.com/51912261/78634801-1118db

[2020-04-07 06:20] alexandru-calinoiu opened #7201 "Offline playback shows black screen"
### [REQUIRED] Issue description
With the latest version of player, when setting the DrmSessionManager on MediaSource downloaded videos show black video and no sound, the duration and subtitles continue to work.

### [REQUIRED] Reproduction steps

Use this code to init the DrmSession Manager

[code]

Make sure you sent your session manager on the MediaSource
[code]

This player init will results i

[2020-04-07 07:45] tonihei commented on #7193
That's an interesting problem. And yes, you are right that it will be solved in 2.12.   (For reference, this issue is #5155).

Generally speaking, only the first item that will be played has the initial unassigned empty timeline. So you could work around that by saving the `MediaDescriptionCompat` of the item that will be played after the call to `player.prepare`. You should know this in code depe

[2020-04-07 07:53] jakoss commented on #7193
Yes, i was asking within context of empty timeline. Thank you very much for details guidance. I'll try to adapt this way.

[2020-04-07 08:26] waqasyousafy commented on #7194
i use this code to get the sessionid
sessionId = mExoPlayerView.getPlayer().getAudioComponent().getAudioSessionId();
i have attached it to this code

     if (mExoPlayerView.getPlayer().getAudioComponent() != null) {
                    sessionId = mExoPlayerView.getPlayer().getAudioComponent().getAudioSessionId();
                equalizerFragment = EqualizerFragment.newBuilder()

[2020-04-07 08:44] NVFedorov opened #7202 "Download and play Widevine protected content with DASH manifest"
Hello,
I'm trying to modify your main example to make it able to play offline  a Widevine protected content. I managed to download licenses, but it's not clear for me how to download the video itself.
In your example we can play a protected content, but can not download it, because all the tracks in track selection dialog are disabled. I found out that it comes from TrackSelectionView.java updateV

[2020-04-07 10:04] VenryZhong commented on #7179
@andrewlewis
I tested a lot of mobile phones, but this problem happened on this P9, other mobile phones have no problem.

this is log fo exoplayer 2.10.8

[code]

[2020-04-07 10:06] andrewlewis commented on #7090
You could also try `SonicAudioProcessor.setOutputSampleRateHz(8000)`. To use that you need to pass in the audio processor into the chain of audio processors in the audio sink. Marc's suggestions (FFmpeg extension or server-side transcoding) will likely give better quality though.

[2020-04-07 12:28] gokulkalagara commented on #7197
How we can change ' ' spaces in the manifest file content of MPD download in exoplayer?

or segments of mpd

[2020-04-07 13:14] ojw28 commented on #7182
User recovery should be possible with the first of the two patches referenced above. The second patch fixes an additional edge case we discovered, but is unlikely to occur in practice.

[2020-04-07 13:14] #7182 closed, assigned to ojw28

[2020-04-07 13:15] ojw28 commented on #7188
This will be fixed in 2.11.4. Please verify using dev-v2-r2.11.4 or dev-v2 if possible.

[2020-04-07 13:15] #7188 closed, assigned to andrewlewis

[2020-04-07 13:20] ojw28 commented on #7182
Please verify with dev-v2-r2.11.4 if possible, prior to us cutting the release. The cherry-pick wasn't totally straightforward, so verification would be appreciated.

[2020-04-07 13:38] icbaker commented on #6950
Ah interesting, thanks for pointing this out.

I tried to reproduce this locally but it doesn't seem to make any difference to the bitmap subtitles I have access to.

Could you provide the bitmap subtitles you're using to test this, so I can confirm the improvement?

[2020-04-07 16:18] #7185 closed, assigned to ojw28

[2020-04-07 17:24] 07steven01 commented on #7188
Verified (ca 10 times). Works as expected.

        Dnia 7 kwietnia 2020 15:16 Oliver Woodman &lt;notifications@github.com&gt; napisał(a):

 This will be fixed in 2.11.4. Please verify using dev-v2-r2.11.4 or dev-v2 if possible.

 —  You are receiving this because you authored the thread.  Reply to this email directly,  github.com view it on GitHub , or  github.com unsubscribe .

[2020-04-07 19:48] belike-priyesh commented on #7198
Hi @AquilesCanta
I tried using **AESCipherDataSource** but since I have encrypted the video using my own IV, So I copied the code from **AESCipherDataSource** and **AESFlushingCipher** as per my IV.

I wrapped up **DefaultHTTPDataSource** with **AESCipherDataSorce** but unfortunately failed to process
the stream with an error:

I'm trying to resolve this from the last 8-9 days but failing every ti

[2020-04-07 20:48] ojw28 commented on #7197
Note that spaces in URLs are a violation of the DASH specification, at least for segment URLs and any other URLs present within the manifest. See [this comment](https://github.com/google/ExoPlayer/issues/6638#issuecomment-557230206) for details. In summary, if you *must* use spaces, they should already be encoded as %20 in the manifest to be specification compliant. However, a better solution is j

[2020-04-08 02:58] abdo985 opened #7203 "hi Hi, I want help"
![56](https://user-images.githubusercontent.com/63329612/78739833-0ca7fd00-794d-11ea-98ad-2c03e9051fff.png)
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest wa

[2020-04-08 05:08] waqasyousafy commented on #7194
I am trying my best to resolve this but i got zero at everytime as i mentioned bove . please help me . @kim-vde

[2020-04-08 05:16] gokulkalagara commented on #7197
Tq

[2020-04-08 06:01] lejahmal commented on #7189
i will try to do it and come back with feedback thanks for your support

[2020-04-08 06:24] #7169 closed, assigned to andrewlewis

[2020-04-08 08:14] lejahmal commented on #7189
this is adb``` bugreport ```

[code]

[2020-04-08 08:27] jakoss commented on #7193
Ok, so it seems to be working for the first playlist, but i have an issue when changing playlist.

I play one album and then i want to change to another one. I expect that the last item on first album i have listen to will be reported. But the callback is called with empty timeline for it. So i get empty timeline for the first AND the last item while changing.

Full steps:
- I create `Concatenatin

[2020-04-08 09:35] AquilesCanta commented on #7126
There's really not enough info here for us to help. Please provide a more precise question and examples, if possible.

Aside, I'll risk a guess and assume you want to change the selected bitrate. In that case, please have a look at the demo app. If you press the button corresponding to the adaptable type, you'll get a selection dialog for the track qualities. Have a look at `TrackSelectionDialogBu

[2020-04-08 09:48] lejahmal commented on #7189
this my ``` server output ```

[code]

[2020-04-08 10:17] AquilesCanta commented on #7203
I'm not 100% what you are trying to import. Please see https://developer.android.com/jetpack/androidx/releases/media2.

I suggest you direct this kind of general gradle questions to Stack Overflow.

[2020-04-08 10:17] #7203 closed, assigned to AquilesCanta

[2020-04-08 13:09] whizti commented on #6429
Hi, I totally understand that repeated posts on same issue are more of a distraction than anything else. But this has been long pending, so getting a little restless as the pressure is building up on my dev team. Any hopes on this in recent future?

[2020-04-08 13:30] AquilesCanta commented on #7200
Can we rephrase the issue as a question on how to seamlessly transition playback from one activity to the other? Is the ads part related in any way? Please clarify.

If yes, then unfortunately this is something that needs to be fixed by the app since it's inherent to activity lifecycle, which is out of ExoPlayer's control. There's is plenty of material about this available, in this issue tracker (

[2020-04-08 13:31] xirac commented on #6950
Stream URL provided via private message.

[2020-04-08 13:57] AquilesCanta commented on #7201
Please provide the bugreport as requested in the issue template.

[2020-04-08 14:12] andrewlewis commented on #6429
Understood. I'm actively working on this at the moment. Some more details: until recently we were focused on rolling out the server-side component of this (new ads managers) and then addressing backwards compatibility issues that came up from those changes. Then there was an ExoPlayer bug with ad playbacks with protected content getting stuck (#7188). Currently I'm working on a remaining issue whe

[2020-04-08 14:15] vasusachin opened #7205 "Exoplayer 2.10.8 testDebugUnitTest failing when locally included in another project"
When reporting a bug:
-----------------------

### [REQUIRED] Issue description
testDebugUnitTest failing when including exoplayer in another project locally

### [REQUIRED] Reproduction steps
Include ExoPlayer downloaded locally in another project using below lines in build.gradle.

[code]

The project is one path and ExoPlayer is in another App
build the application using gradlew, getting below

[2020-04-08 14:39] AquilesCanta commented on #7202
One possiblity is that you are not setting the drmSessionManager on the MediaSource that is playing the content. You'll observe a NO_UNSUPPORTED_DRM message in the track selection log. If you provide a bugreport we can confirm this for you.

[2020-04-08 15:12] aureobeck opened #7206 "How can I get the callback when Google Assistant command is triggered?"
### Searched documentation and issues
Official `ExoPlayer` documentation and source code of `MediaControllerCompat`, `MediaSessionConnector`, `MediaSession` classes.

My issue is similar to [#6057](https://github.com/google/ExoPlayer/issues/6446) and [#6446](https://github.com/google/ExoPlayer/issues/6446) but none of the solutions worked as expected (details on question).

### Question
I have an

[2020-04-08 17:27] tokou opened #7207 ""Top bit not zero: -90000" on DASH content that works on other players"
### Issue description

The player throws an error `IllegalStateException: Top bit not zero: -90000` when playing a certain video.

### Reproduction steps

- Play the linked URL through the ExoPlayer demo
- Observe a "Playback failed" error
- The video plays properly on VLC (File> Open network stream) and other players like [JWPlayer 8](http://stream-tester.jwplayer.com/)

<details><summary>media.e

[2020-04-08 17:54] ojw28 commented on #7202
The problem is most likely that you're not passing the `DrmSessionManager` to `DownloadHelper` when setting up the download.

If you're modifying the demo app, you'll need to change it to use the `DownloadHelper.forXXX` methods that take a `DrmSessionManager`. This needs to be done [here](https://github.com/google/ExoPlayer/blob/r2.11.3/demos/main/src/main/java/com/google/android/exoplayer2/demo/D

[2020-04-08 18:50] AquilesCanta commented on #7189
Please review my previous comment and address each item.

[2020-04-08 20:27] AquilesCanta commented on #7198
We don't have the information or the bandwidth to help you debug this, unfortunately. I suggest you try a general Q&A site, like stack overflow.

If your data source is not able to decrypt the provided content it could be that either your DataSource implementation is not doing what it should, or your content is not correctly encrypted. Another option is seeing if you can find any differences betwe

[2020-04-08 21:15] #7191 closed, assigned to AquilesCanta

[2020-04-08 21:59] AquilesCanta commented on #7205
I don't think gradle exposes test assets. Perhaps someone from the team can chime in.

Aside, I suggest you just copy the assets into your project. Perhaps also worth trying

[code]

If none of this work, I suggest you try in a forum more related to general gradle questions. Perhaps Stack Overflow.

[2020-04-08 22:18] ojw28 commented on #7205
This is about including ExoPlayer locally as per our [README](https://github.com/google/ExoPlayer/blob/release-v2/README.md#locally). So I don't think it's a general gradle question.

[2020-04-08 22:30] AquilesCanta commented on #7205
Ohh I think I misunderstood the issue. It's the ExoPlayer tests that are failing! I thought the intention here was to import the assets from the depending project. I'll give it a try. Thanks!

[2020-04-08 23:43] dryganets commented on #6930
The solution is to override the method `codecNeedsSetOutputSurfaceWorkaround` of class `MediaCodecVideoRenderer` to always return true.

The codec can't be reused in this case, so there are some performance implications of doing that but not every app needs it.

[2020-04-09 01:17] #7071 closed, assigned to tonihei

[2020-04-09 01:17] #7050 closed, assigned to tonihei

[2020-04-09 01:17] #6929 closed, assigned to ojw28

[2020-04-09 03:59] Romantic-LiXuefeng commented on #7200
@AquilesCanta  Thanks!

[2020-04-09 03:59] #7200 closed, assigned to AquilesCanta

[2020-04-09 07:09] waqasyousafy commented on #7194
I have solved my problem guys . Very happy on it . Thank you not to you all .

[2020-04-09 07:20] NVFedorov commented on #7202
Yes, I made it work, but only using deprecated methods. The new exo player version didn't introduce methods to pass drmSessionManager to ExoPlayer Builder.
To enable the track selection I created own method (copied it from library):

    private DownloadHelper getDownloadHelperForDash(DrmSessionManager drmSessionManager, Uri uri, RenderersFactory renderersFactory){
    DownloadHelper helper = new

[2020-04-09 07:20] #7202 closed, assigned to AquilesCanta

[2020-04-09 07:32] whizti commented on #6429
A temporary workaround for everyone who is facing this problem:

Use following combination. I guess this works for me, although I have only tried on a single device so far. I will update this post later if I find anything else.

[code]
**And the most important is the browser version. Anything above this leads to crash for me.**

`implementation 'androidx.browser:browser:1.0.0'`

[2020-04-09 07:56] tokou commented on #7207
Closing for now because we reverted our server to Wowza 4.7 and I'm not able to provide a link that fails.
The error seems to happen when switching to Wowza 4.8

[2020-04-09 08:47] ojw28 commented on #7086
@tonihei - Any guidance?

[2020-04-09 09:06] kim-vde commented on #7194
I will close this bug. If you want to receive help from our team in the future, please change your tone. We do not have the capacity to always answer issues immediately.

[2020-04-09 09:06] #7194 closed, assigned to kim-vde

[2020-04-09 09:57] tokou commented on #7207
I just fixed the description with a working link.

[2020-04-09 10:09] nitinjain12 commented on #7170
@andrewlewis Any update on this?

[2020-04-09 10:22] Gowsky commented on #7168
As far as I can see we pass `null` for `DrmSessionManager` while creating MediaSource only when we get `UnsupportedDrmException` while building `DefaultDrmSessionManager<ExoMediaCrypto>`. Could it be the case since the crash occurrs on some unpopular devices mentioned in the issue?

[2020-04-09 10:37] tonihei commented on #7086
Sorry, haven't got around to check yet. I'll update the issue once I have something.

[2020-04-09 11:00] literaturesharingforvi opened #7208 "Exoplayer stops playing while background when screen off"
I use exoplayer as a audio player in my application and while playing in background when screen is off the playback stops after few minutes.

Can anyone suggest solution

[2020-04-09 11:26] rajashekarvys opened #7209 "Extend to support raw H264 video stream in ExoPlayer Over Web sockets."
**Scenario**
We are opening a web socket to our backend which is providing a raw H.264 stream.

**What We've Tried**
as suggested in this issue #3503 & #5175 we have converted Ac3Extractor to H264Reader.  Our Extractor is receiving the bytes from the DataSource and passing them to H264Reader.consume(ParsableByteArray).
We have used
detectAccessUnits true and
 reader.packetStarted(0, FLAG_DATA_ALIG

[2020-04-09 12:10] hears opened #7211 "i have try when RTSP to a H264 camera, this player not work,but VLC work good.,"
i have try when RTSP to a H264 camera,  this player not work,but VLC work good.,

and i have looked , when exoplayer try to connect a RTSP server ,
(other player will send to server  client port in this mode  :  40000-40001  )
but exoplayer only send 1 port :40000  , this will make many RTSP cannot get client port correct

[2020-04-09 12:36] ojw28 commented on #7202
The deprecated method you're using has instructions on what to use instead ([see here](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayerFactory.html#newSimpleInstance-android.content.Context-com.google.android.exoplayer2.RenderersFactory-com.google.android.exoplayer2.trackselection.TrackSelector-com.google.android.exoplayer2.LoadControl-com.google.android.exoplayer2.drm.D

[2020-04-09 12:49] tim-strehlow-zattoo opened #7212 "IMA Extension - Player doesn't resume content if one ad of a playlist returns a VAST error"
### Issue description
When an ad in a preroll or midroll playlist returns a VAST error response, the player does not resume content correctly after playing the other retrieved video ads.

### Reproduction steps
Since we can’t provide an environment to reproduce the issue, I will describe the scenario as detailed as possible:
- We start a stream and receive a preroll playlist with two ads.
- The fi

[2020-04-09 14:42] lejahmal commented on #7189
is it any demo to play dash from android service not Activity ?  please need somebody answer . or is it a right way or link where somebody can redirect me to ?

[2020-04-09 14:45] lejahmal commented on #7189
@AquilesCanta is it any exoplayer demo for dash playback from android service not activity as in exoplyer demo folder ?

[2020-04-09 15:22] AquilesCanta commented on #7206
@marcbaechinger Marc, mind taking a look?

[2020-04-09 15:47] icbaker commented on #7177
This should be fixed on `dev-v2` now.

[2020-04-09 15:47] #7177 closed, assigned to icbaker

[2020-04-09 15:56] NVFedorov commented on #7202
I didn't see that it should be done through media source factory, thank you

[2020-04-09 16:20] hears commented on #7172
before when I input a wrong URL. have get same error... maybe you try

[2020-04-09 16:40] avstreamdevpro commented on #7172
It seems the device just doesn't support decoding 4k stream.
And it also doesn't support 1080p videos.
So I changed into lower resolution videos, and then it works.

[2020-04-09 17:08] krackjack234 opened #7213 "Black screen with only audio playing"
### [REQUIRED] Issue description
Video playback is happening on certain devices where only audio is heard and no video is seen
Checked similar issues reported but none are matching the same root cause

### [REQUIRED] Reproduction steps
Play a video (mpd format). Can't share the original video as its client specific :(
Audio is heard but no video is screen

### [REQUIRED] A full bug report captured

[2020-04-09 20:48] belike-priyesh commented on #7198
@AquilesCanta  Thanks a lot for helping to resolve the issue successfully.

[2020-04-09 22:14] jruesga opened #7214 "Player view doesn't change size when applying scale to parent container on Android 6"
### [REQUIRED] Issue description
On Android 6 when applying scale to a parent container of the player view, the view doesn't update its state to reflect the new dimensions.

### [REQUIRED] Reproduction steps
Surround com.google.android.exoplayer2.ui.PlayerView with a container, and call setScaleX or setScaleY in the container. In Android 6, the ExoPlayer doesn't adapt to the new dimensions of the

[2020-04-09 23:56] AquilesCanta commented on #7209
I can see only two options:
- **Recommended**: Put the stream in a container format, which will include timing information which is currently missing (TransportStream or FragmentedMp4).
- Or write your own extractor (it will look a lot like what you have already I think) but arbitrarily assigns a duration to each frame (I guess you know the stream's framerate), you just manually increase the outpu

[2020-04-10 00:07] AquilesCanta commented on #7208
There's some material available freely. I suspect your service is being killed.
- [IO exoplayer talk](https://youtu.be/svdq1BWl4r8?t=756).
- [Sample audio app](https://github.com/google/ExoPlayer/tree/io18).
- #6710.

[2020-04-10 00:07] #7208 closed, assigned to AquilesCanta

[2020-04-10 00:12] AquilesCanta commented on #7213
We will need both a full bugreport (that's not a bugreport, please run `adb bugreport` shortly after reproducing the issue) and a stream that reproduces the issue to help with this.

It's strange that the provided logs include a "renderedFirstFrame", which suggest content was rendered.

[2020-04-10 00:15] AquilesCanta commented on #7168
I suggest you pass a dummy drm session manager in that case. Note that the null value shouldn't cause the NPE in release either, but null values are not accepted in the version you are using.

Do you think you can reach back after trying this in the wild? If so, can we close the comment until you are sure you can reproduce even after removing the null value?

[2020-04-10 03:09] pawaom opened #7215 "Hot to detect play/pause button click in the playerNotificationManager"
Hot to detect play/pause button click in the `playerNotificationManager`

Exoplayer has its own notification controls, using the `playerNotificationManager`

I wan to play the next song when there is no `player.hasNext()` and we have set `Player.REPEAT_MODE_OFF`  when the player has stopped after laying the last song

i can use  ` player.next();` but for that **I want to detect when the user click

[2020-04-10 07:47] rajashekarvys commented on #7209
Thanks for quick response.

We have tried increasing timestamp by manually video playing as  expected.

We would like to try **Recommended** way as well. Can you suggest a way to convert stream in to container format (Raw H264 byte arrays to FragmentedMp4)

[2020-04-10 08:00] jakoss commented on #7193
@tonihei could you take another look at this?

[2020-04-10 09:54] davidmullis commented on #3750
+1 for this feature, please.

[2020-04-10 09:58] Serkan-Karacelikler opened #7217 "Can .txt be used instead of .m3u8?"
Hello, exoplayer is not reading .txt files. What do I need to do to help you read?

[2020-04-10 12:18] lejahmal commented on #7189
after play with demo app this is adb logcast

[code]

[2020-04-10 13:11] krackjack234 commented on #7213
Hi,

The bug report is present here: https://drive.google.com/open?id=1i_wzq__6kH9aD0xzqK-A1iL6nQXsZ56V

We are still checking with our client if we can share a test stream.

Looks like the issue is coming on Android v7 devices

[2020-04-10 14:20] menscikov opened #7218 "DefaultLoadControl.Builder() not working on recorded video streams"
**Issue description**

`DefaultLoadControl.Builder()` not working properly on recorded streams on ExoPlayer 2.11.4 and lower versions.
ExoPlayer gets "**403 ERROR**" after ~2 minutes of playing.
If video stream is opened without LoadControl, everything is working fine.

**Reproduction steps**

Add LoadControl `.setLoadControl(loadControl)` to your `SimpleExoPlayer.Builder(this).build()` with defau

[2020-04-10 18:08] lejahmal commented on #7189
@AquilesCanta @ojw28 I notice the player looping audio when the connexion bandwidth changes and this is the cause of my Audiotrack discontinuity . please how to manage that case to make player continues reading at the current position without returning to position 0 . please i serieously need your support . thanks

[2020-04-11 00:18] dryganets opened #7219 "Another video ExoPlayer unable to play"
### Issue description
Video doesn't play in ExoPlayer but playable by any available desktop player.
The file doesn't look to be corrupted or truncated. There is no ExoPlayer error triggered.

### Reproduction steps
Play attached file in the exoplayer

### Link to test content
[sample.mp4.zip](https://github.com/google/ExoPlayer/files/4463766/sample.mp4.zip)

###  Version of ExoPlayer being used
-

[2020-04-11 01:05] AquilesCanta commented on #7209
You'll need to use a tool for that. Maybe ffmpeg or derivatives? This is out of the scope of this issue tracker though. I'm sure a quick research will answer this for you. Closing this now. Good luck!

[2020-04-11 01:05] #7209 closed, assigned to AquilesCanta

[2020-04-11 01:58] a4x4kiwi opened #7220 "Add support for DVB EBU Teletext"
### [REQUIRED] Searched documentation and issues
Have checked documentation and see classes relating to subtitles, but would like example stringing the necessary pieces together.

### [REQUIRED] Question
Does anyone have an example of how to display subtitles from a UDP TS DVB stream?
Any assistance would be most helpful.

Thanks in advance.

[2020-04-11 07:31] literaturesharingforvi commented on #7208
ok thanks will try to solve by going through materials you suggested.

[2020-04-11 16:45] jeevadina commented on #4066
.m3u8 and .mpd; exoplayer do not support these formats.
Available Extractors given below:
MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor, AmrExtractor, Ac4Extractor.

[2020-04-12 01:17] #5921 closed, assigned to ojw28

[2020-04-12 05:46] pawaom opened #7221 "Provide an option to make navigation behave like REPEAT_MODE_ALL even with REPEAT_MODE_OFF"
Force to show next and previous button for first and last song in notification and Lock screen controls when  player.setRepeatMode(Player.REPEAT_MODE_ONE); and  player.setRepeatMode(Player.REPEAT_MODE_OFF);

The normal behavior of a music player is
1) when  player.setRepeatMode(Player.REPEAT_MODE_ONE); and  player.setRepeatMode(Player.REPEAT_MODE_OFF); to show previous and next button to allow use

[2020-04-12 10:35] pawaom opened #7222 "Previous button in Notification Repeats the same song some times"
Previous button in Notification Repeats the same song some times

This is the Code I am trying

the    player.setRepeatMode(Player.REPEAT_MODE_ALL);
so when we click the previous button in notification It sometimes repeats the same song , sometimes it happens for the same song multiple  times, ie same song is repeated a lot of times
[code]

It happens it player controls provieded by the exoplayer

[2020-04-12 12:20] amit016verma commented on #867
Thanks @droidwave I am following your blog , but I am getting the white screen while I am playing the video but sound work properly because I am doing notifyDataSetChanged so this is the reason I am not able to see the video please help me in this , thanks in advance

[2020-04-12 12:55] kashu1209 opened #7223 "IllegalArgumentException in BaseMediaSource.prepareSource"
I am implementing a timeline recyclerview which will have mix of photos and videos. But I am getting an exception. I am using exoplayer version 2.10.8. Down below is the stack trace of that. Can you guys help me identify which might be causing it.

E/ExoPlayerImplInternal: Internal runtime error.
    java.lang.IllegalArgumentException
        at com.google.android.exoplayer2.util.Assertions.checkA

[2020-04-12 19:27] mobileappspuzzles opened #7224 "OkHttpDataSourceFactory for Web sockets"
How can use okHttp web sockets. I have studied [Extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/okhttp) not found any thing related to web sockets.

Our sever will continue send Raw H264 frames through web sockets. Which datasource we have to use for web sockets with exo player.

[2020-04-12 23:32] AxesandGrinds commented on #6168
Same issue here...

[2020-04-13 04:28] guy244 opened #7225 "How to play a local Server Socket"
Hey,

I am trying to play a file sitting in a SMB share, I am able to play the file just fine if I user other player such VLC or MX Player by using a server socket with the input stream of the file and then sending the localhost as intent to these apps.
I am trying to play it via Exoplayer as well, which data source should I use? I have failed to play it so far

[2020-04-13 12:09] AquilesCanta commented on #7207
`default_sample_duration` in the tfhd is 4294877296, but our FragmentedMp4Extractor forbids values with the most significant bit set (which yields values that in practice don't make much sense). The stream works, however, because every sample defines its own duration, so `default_sample_duration` is ignored. If the extractor is modified to not throw the exception for big values, content plays corr

[2020-04-13 15:10] danergo opened #7228 "Playing from memory (byte[])"
### [REQUIRED] Searched documentation and issues
- I looked through the github issues (opened+closed)
- I've asked my question on [StackOverflow](https://stackoverflow.com/questions/61176355/android-exoplayer-direct-feed-raw-mp4-h264-fragments/61179499?noredirect=1#comment108248709_61179499)
- I have not yet found anything like gitter chat or similar (although it might be existing)
- I have follow

[2020-04-13 16:03] ojw28 commented on #7219
It plays the same (i.e. only a single frame) in both Quicktime and Chrome for me. In VLC it plays a single frame, but has some very strange resizing artefacts during the 3s of playback.

Given other players are either playing it the same way that ExoPlayer does, or doing something that looks obviously broken, it seems unlikely there's an ExoPlayer issue here. Please could you clarify why you think

[2020-04-13 16:38] danergo commented on #7228
Okay, I have some issues in my read callback now seems to move on.

ExoPlayer starts buffering but it does not get through it:

Log:
[code]

I believe 3 means buffering, but the player unfortunately does not get into ready state, and there are bunch of warnings before that.
What am I missing here?

[2020-04-13 17:30] AquilesCanta commented on #7211
#55 tracks support for RTSP.

[2020-04-13 17:30] #7211 closed

[2020-04-13 17:32] AquilesCanta commented on #7214
@marcbaechinger can you take a look at this in the context of PlayerView?

[2020-04-13 17:33] AquilesCanta commented on #7215
@marcbaechinger mind taking a look?

[2020-04-13 17:36] AquilesCanta commented on #7217
Depends on the format that txt holds. If the txt has the expected contents of an HLS playlist, it will work. If you can provide more context (like the contents of the txt file) I'll reopen the issue.

[2020-04-13 17:36] #7217 closed, assigned to AquilesCanta

[2020-04-13 17:43] AquilesCanta commented on #7220
Please try your stream in the demo app. You need to ensure the subtitles are being recognised by the player, and that the text track you want is selected. It's easy to confirm both by looking at the logcat.

For an example of how subtitles work end to end (the format shouldn't make a difference from the app's perspective), you should follow the demo app. If you are running into any specific issue,

[2020-04-13 17:55] AquilesCanta commented on #7218
It doesn't sound likely to me that injecting a custom load control (specially with default values) could trigger a 403. However, I will look into this once I have access to the provided stream. Please check that you sent the e-mail to dev.exoplayer@gmail.com with subject "Issue #7218".

[2020-04-13 19:40] jrocharodrigues commented on #7171
Hi,
As agreed i sent to you an email with a patch file with the changes to replicate the issue.The patch file includes the change on media.exolist.json with a sample stream.
I can replicate the issue on my pixel 4 with the latest Android 10 security updated, and on a xiaomi mi box.
To replicate the issue just run the app, an open the "Test Stream 1".
Sometimes the first frame will get rendered, so

[2020-04-13 19:59] menscikov commented on #7218
Hello, I just sent the new url to the media stream.
I checked this issue again, I think there is a bug somewhere in the Builder, because without load controls it works.

[2020-04-13 20:19] dryganets commented on #7219
yep, agree, this one is an issue somewhere in our pipeline..
Need to figure out how we got into that state.
It is fragmented mp4.
Sorry for bothering you.

[2020-04-13 20:19] #7219 closed, assigned to ojw28

[2020-04-13 21:17] Serkan-Karacelikler commented on #7217
Jw player is playing, but exoplayer does not.
HLS Link: https://finlandiya.club/cdn/down/c5c5142c38cb63cb33b10bd43fdc423f/720p/720p.txt
<details>
  <summary>Content: </summary>

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:5
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:2.502500,
720p0.jpg
#EXTINF:2.502500,
720p1.jpg
#EXTINF:2.502500,
720p2.jpg
#EXTINF:2.502500,
720p3.jpg
#EXTINF:2.502500,
720p4.jpg
#EXTINF:2

[2020-04-14 01:07] #7035 closed, assigned to marcbaechinger

[2020-04-14 05:10] PaulWoitaschek commented on #7182
I couldn't verify it before the release.
However it works fine, thanks a lot!

[2020-04-14 07:22] #7172 closed

[2020-04-14 08:08] luna-vulpo commented on #7050
Only for update. I finally found. The issue occurs on live edge. So app gets many 404 and blacklist track for a while in consequence excluded this track form selection. Solution was add a little bigger delay to edge which avoided getting 404.

[2020-04-14 08:51] billyjoker opened #7230 "Support OGG fails with non-contiguous pages"
### Issue description
Using the Exoplayer demo app, i've replaced the existing OGG file with another OGG file and it fails the playback

### Reproduction steps
1- I open the Exoplayer demo app and i select the existing OGG file with uri
2- Playback is rightly played
3- I have placed my content inside the media.exolist.json
4- I open the Exoplayer demo app and i select that file
5- Playback Failed

[2020-04-14 09:50] AquilesCanta commented on #7198
Did you find the root cause of the issue? If so, perhaps it's worth sharing a brief description for future readers.

[2020-04-14 10:17] icbaker commented on #7221
I'd like to make sure I've understood exactly what behaviour you're expecting and what you're seeing, both with and without your code changes.

Let's assume we've got a playlist with 3 items:
* Song A
* Song B
* Song C

My understanding of your expectations:
* Player is in `REPEAT_MODE_OFF` or `REPEAT_MODE_ONE` and playing Song C.
  * 'next track' button is enabled, and when tapped it takes you to

[2020-04-14 10:22] AquilesCanta commented on #7218
Hi @menscikov, I'm playing the stream right now. The player is created with the following parameters:

[code]

But the stream plays correctly. And also plays correctly with the default load control. Note that the lines above are equivalent to not passing anything at all.

I think it's extremely likely that this is just a server side issue with authentication, somehow. Please provide precise steps

[2020-04-14 10:27] AquilesCanta commented on #7189
Please stop ignoring this:

Before we look into this:

- Can you provide a sample stream which reproduces the issue in the demo app?
- Have you tried to play the stream in the demo app? What behavior do you observe?
- Please provide a bugreport captured shortly after playing the stream in the demo app. You can do this by running `adb bugreport` immediately after observing this issue in the demo ap

[2020-04-14 10:28] icbaker commented on #7225
ExoPlayer doesn't support accessing SMB files directly.

If you can get the SMB share mounted on the phone's file system then you can pass a 'file' URI to `DefaultDataSource` and it should just work.

It's not clear to me what this part means:

If the file is on an SMB share that's mounted locally, I'm not sure why you'd need to pass socket info or `localhost` around - it should look exactly like

[2020-04-14 10:29] icbaker commented on #7224
The ExoPlayer OkHttpDataSource doesn't support web sockets - it only uses OkHttp's `Call.Factory`.

ExoPlayer doesn't have any support for web sockets.

[2020-04-14 10:29] #7224 closed, assigned to nobody

[2020-04-14 10:41] menscikov commented on #7218
Hi @AquilesCanta, it's very strange.

I copied your code and replaced with mine. Also removed "renderersFactory" and "trackSelector" from Builder, only left LoadControl.

After 2 minutes of playing I get this error:
[code]

[2020-04-14 10:46] AquilesCanta commented on #7217
It works on the demo app. The only special handling is that the extension needs to be overriden to m3u8 in the sample list json.

[2020-04-14 10:49] icbaker commented on #7228
Your implementation of `open()` seems incorrect. The [documentation](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DataSource.html#open-com.google.android.exoplayer2.upstream.DataSpec-) says:

Note that `C.LENGTH_UNSET == -1` whereas you always return `Long.MAX_VALUE` without even looking at `DataSpec.length`.

You also ignore `DataSpec.absoluteStreamPosition` which te

[2020-04-14 10:53] menscikov commented on #7218
@AquilesCanta I will try to insert load control in ExoPlayer demo project with this url. Will see if the problem persists.

[2020-04-14 10:55] icbaker commented on #7223
The [line](https://github.com/google/ExoPlayer/blob/r2.10.8/library/core/src/main/java/com/google/android/exoplayer2/source/BaseMediaSource.java#L136) throwing the error is `Assertions.checkArgument(this.looper == null || this.looper == looper);`.

This suggests you're preparing the `MediaSource` from different threads.

It's not possible to provide any more help with the information you've provid

[2020-04-14 11:12] danergo commented on #7228
User error, but some conclusion:

- ExoPlayer is built to read only one byte at the beginning, there is nothing wrong with it.

- Number 3 as PlayerState means `STATE_READY`.

(My PlayerView was hidden, silly mistake.)

This issue shall be closed as it does not contain any more unanswered questions.

[2020-04-14 11:12] #7228 closed, assigned to icbaker

[2020-04-14 11:17] menscikov commented on #7218
@AquilesCanta I reinstalled Android Studio and ExoPlayer, loaded test url into ExoPlayer Demo project with Load Control. After 2 minutes of playing 403 error.
Tested on Android 10 Emulator (Android Studio 3.6.2 + ExoPlayer 2.11.4) from MacBook Pro.

I would agree that problem is on the server side, but error persists even if I injecting Load Controls with default values.
Without Load Control every

[2020-04-14 12:35] pawaom commented on #7221
You got the scenario mostly right, using your own example I would explain

Songs A, B, C

Player is in `REPEAT_MODE_OFF` or `REPEAT_MODE_ONE`

**scenario 1**

**currently we are playing Song C**

When we click previous button it should go to the previous song,ie song B, **instead sometime it repeats the same song** which I have explained [here](https://github.com/google/ExoPlayer/issues/7222)

and

[2020-04-14 12:48] icbaker commented on #7230
I can reproduce this behaviour in the demo app, both with the URL provided and a local copy of the same file.

I think the media might be malformed. When I check it with `mediainfo` it doesn't list any codec information:

[code]

In contrast to the [Google Play (Ogg/Vorbis)](https://storage.googleapis.com/exoplayer-test-media-1/ogg/play.ogg) file in the demo app:

[code]

[2020-04-14 12:59] icbaker commented on #7230
However `ffprobe` is able to determine the file is vorbis encoded:

[code]

[2020-04-14 13:08] Clement-Jean opened #7231 "Transition delay in exoplayer playlist"
Working with playlist on the ExoPlayer, I managed the setting of the playlist by following the documentation.

[code]

But I noticed that the transition between video is instantaneous. However, I would like to add a waiting stage between each video, exactly like youtube does (let's say 5 sec).

Is it already handled by the Exoplayer itself or not? If not what is a clean way to solve the problem ?

[2020-04-14 13:43] billyjoker commented on #7230
Ok i see, as you say `ffprobe` determine is vorbis enconded, then Exoplayer should be able to play the file.

If i paste the url to Google Chrome, it is able to playback the file with no problems with the embbeded player, so the file is playable

[2020-04-14 14:12] marcbaechinger commented on #7222
I think the behaviour you are describing works as intended. You can't change this with the release version but we fixed this already in the dev-v2 branch.

The previous button does only transition to the previous window if the current position is below 3 seconds of the duration. If it's above 3 seconds the player does skip to the start of the current window first.

To verify this, you should be ab

[2020-04-14 14:30] LRTNZ commented on #7220
I also have been working on a media player project utilising UDP TS streams, and was wondering if I could get some help about how to get the subtitles embedded in these files to be played back?

I have tried finding documentation on how to do it, but I have been able to find no clear information on what exactly needs to be done. Yes, I have looked into the demo app, but could not find anything cle

[2020-04-14 14:48] icbaker commented on #7228
You may be able to mitigate this by wrapping your DataSource in a [CacheDataSource](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/cache/CacheDataSource.html). ExoPlayer does indeed try and read little and often - if you want a more 'chunked' behaviour you need to implement it within your DataSource.

[2020-04-14 14:50] icbaker commented on #7228
And we should be able to play a progressive live stream without using HLS or DASH, but we determine it's live by detecting `C.LENGTH_UNSET` returned from `DataSource.open` - so in the case of your code above that wasn't being detected (because of returning `Long.MAX_VALUE`).

[2020-04-14 14:56] marcbaechinger commented on #7221
I think the behaviour you are describing works as expected. I agree that the current implementation can be seen as opinionated, but that's probably the case for however we implement it :). I agree that your approach makes sense as well for some users. I'm hesitating a bit to change the default behaviour from one opinionated variant to another after having the current implementation in place since

[2020-04-14 14:58] marcbaechinger commented on #7215
Closing this as a duplicate of #7221

[2020-04-14 14:58] #7215 closed, assigned to marcbaechinger

[2020-04-14 15:11] marcbaechinger commented on #7214
Thanks for the uploaded video, This was very helpful.

It seems that it is only the surface which does not adjust. All other UI elements are scaled correctly. This makes me think it's a problem on the platform on Marshmallow. I look into this and see whether there is some kind of workaround.

You may want to try different surfaces yourself. Are you currently using SurfaceView or TextureView? Do yo

[2020-04-14 16:00] AquilesCanta commented on #7205
Could you provide the exact command you are running to reproduce the issue? I haven't been able to reproduce locally (I ran into other issues which I was able to fix).

[2020-04-14 16:13] danergo commented on #7228
Thanks for the `CacheDataSource`, I can live with the current behavior, it's fine.
(Just at the beginning I believed I missed something like not setting the buffer's size.)

This one however I don't get:
"determine it's live by detecting C.LENGTH_UNSET returned from DataSource.read"

From `DataSource.read` I shall return by the amount of `read`, no?
And `C.LENGTH_UNSET` shall be returned from `ope

[2020-04-14 16:23] gokulkalagara opened #7233 "java.util.concurrent.TimeoutException: android.media.MediaDrm.finalize()"
**App Crashes**
[code]

[2020-04-14 16:28] eprendre opened #7234 "MediaSessionConnector.PlaybackPreparer parameter is not properly annotated with @Nullable"
MediaSessionConnector.PlaybackPreparer.onPrepareFromUri's parameter `extras` is not annotated with @Nullable.
This forces kotlin to override nonnull parameter.
As tested, this will crash on api level 19 and 21: `Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter extras`

[2020-04-14 16:34] icbaker commented on #7228
Yes, you're completely right, sorry about that. I'll edit my comment above to avoid tripping up a future reader.

[2020-04-14 16:55] icbaker commented on #6950
Thanks for the test stream, I can see a significant improvement. I'll submit a change to enable this.

[2020-04-14 17:01] jruesga commented on #7214
Thanks for quick response.

SurfaceView

Seems only affects to SurfaceView. TextureView behaves correctly.

[2020-04-14 18:21] danergo opened #7235 "Check if media has or not audio track(s)"
### [REQUIRED] Searched documentation and issues

- Searched in Google "ExoPlayer [get|detect|query] [default] [audio] [track|tracks]"
- Searched also in github
- Searched in StackOverflow

### [REQUIRED] Question
I want to know if a stream currently playing has or not audio track.
It is good even in `onTracksChanged` listener, or querying directly.
However I want to avoid to guess it based on som

[2020-04-14 18:35] danergo commented on #7225
You can also create your own DataSource which can use some SMB library to read (and seek) files on SMB if you want to go on the hard way :)

[2020-04-14 18:43] marcbaechinger commented on #7121
Closed due to lack of activity.

[2020-04-14 18:43] #7121 closed, assigned to marcbaechinger

[2020-04-14 18:44] marcbaechinger commented on #7092
Closed due to lack of activity. Please reopen if required.

[2020-04-14 18:44] #7092 closed, assigned to marcbaechinger

[2020-04-14 18:45] marcbaechinger commented on #7093
Closed due to lack of activity. Please reopen if required.

[2020-04-14 18:45] #7093 closed, assigned to marcbaechinger

[2020-04-14 19:40] Serkan-Karacelikler commented on #7217
I don't understand what you mean, can you show me an example?

[2020-04-14 20:23] marcbaechinger commented on #7214
Thanks for checking.

If `TextureView` works and you are not having protected content, you could [create a layout or resource files which is specific for API level 23](https://developer.android.com/guide/topics/resources/providing-resources#AlternativeResources) and then change the `surface_type` to texture view for only this API level. Besides `TextureView` not supporting DRM'd content, it has a

[2020-04-14 20:32] ojw28 commented on #7223
This is indicative of providing the same `MediaSource` to multiple different player instances, which isn't a supported use case. If that's what you're doing, you should create a new instance for each player instead.

[2020-04-15 00:33] a4x4kiwi commented on #7220
Thanks  AquilesCanta.
The subtitles are recognised but labelled as 'unknown' by the player. When 'unknown' is selected subtitles are not displayed as I presume they should be. This is an Australian DVB-T  channel.

I am not sure if this is a bug or not at this point.

The 2 example streams posted by LRTNZ (Also Australian TV) contain subtitles playable in VLC.
I have streamed them to the demo Exop

[2020-04-15 01:17] jnavarro8 opened #7236 "how to play m3u8 with exoplayer, the screen remains black"
code:
import android.annotation.SuppressLint;
import android.net.Uri;
import android.os.Bundle;
import android.view.View;
import android.view.WindowManager;

import com.google.android.exoplayer2.ExoPlayerFactory;
import com.google.android.exoplayer2.SimpleExoPlayer;
import com.google.android.exoplayer2.source.hls.HlsMediaSource;
import com.google.android.exoplayer2.ui.PlayerView;
import com.google

[2020-04-15 01:57] kashu1209 commented on #7223
I am trying to create a single player but update media source

On Wed, 15 Apr, 2020, 2:02 AM Oliver Woodman, <notifications@github.com>
wrote:

[2020-04-15 04:07] pawaom commented on #7222
I tried to use the **dev-v2**

using this

implementation 'com.github.google:ExoPlayer:dev-v2-SNAPSHOT'

i kept getting the warning

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.(i am currently busy with other work as well, will look into it later)

I will wait for the release branch

any idea when it will be released , thanks. hoepfully my issues will

[2020-04-15 04:20] pawaom commented on #7221
I agree the default behaviour, is one approach, What we suggested was based on feedback we got from testing with a select group of users. to summarize their opinion, it was
1) users expect a button to be active (in all cases not disable)
2) if a button was visible earlier it should be visible always (making it invisible makes it difficult to follow the user experience flow )

example

![Screenshot

[2020-04-15 05:10] mobileappspuzzles commented on #7228
@danergo  I'm also facing same issue, if you solve the issue can explain how can we do stream.

[2020-04-15 06:07] danergo commented on #7235
Right now I'm doing this like below, but it feels too complicated for this single information:

Initialization:
[code]
Listening on events:
[code]

Was also strange that `trackSelector`  without first casting it to `MappingTrackSelector` does not provide the `getCurrentMappedTrackInfo`.

I still believe it shall be some other (much easier) way to detect audio tracks.

[2020-04-15 06:23] danergo commented on #7228
It's actually not difficult.
All you have to do is to extend from `BaseMediaSource` and implement at least `getUri`, `open`, `close` and `read`.

From your `open` function you shall return with `C.LENGTH_UNSET`, this way ExoPlayer can

Then in read you can pass your raw stream data to the buffer and ExoPlayer will play it if your device contains the right decoder and the stream is valid.

[2020-04-15 08:36] rossanakarina opened #7237 "HLS With discontinuity stuck in buffer"
We are using JWPlayer 8.9.0 and we are trying to insert advertisements in our videos. We are using EXT-X-DISCONTINUITY but apparently, when we get to the point of starting our advertising, the player stops showing a buffer status.

This is an example of our playlist:

[CODE]
#EXTM3U
#EXT-X-VERSION:3
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-TARGETDURATION:16
#EXT-X-PLAYLIST-TYPE:VOD
#EXTINF:14.557178,
https:

[2020-04-15 08:52] marcbaechinger commented on #7206
Can you give more details on the root problem, why the player was not resuming. Agree that the workaround you are trying is complicated as we can not distinguish from actual intended pausing.

I'd prefer to find the root cause of why the player is not resuming after a seek. That does not sound right to me. If we can remove that, it would be the better solution than a workaround which is dificult t

[2020-04-15 08:54] marcbaechinger commented on #7117
Closing this issue due to inactivity. Please reopen if required.

[2020-04-15 08:54] #7117 closed, assigned to marcbaechinger

[2020-04-15 08:55] marcbaechinger commented on #7109
Closing due to inactivity. Please reopen if required.

[2020-04-15 08:55] #7109 closed, assigned to marcbaechinger

[2020-04-15 08:56] marcbaechinger commented on #7087
Closing due to inactivity. Please reopen if required.

[2020-04-15 08:56] #7087 closed, assigned to marcbaechinger

[2020-04-15 09:13] AquilesCanta commented on #7217
To play in the demo app you need to place the sample in media.exolist.json:

{
        "name": "Demo app's sample name",
        "uri": "https://finlandiya.club/cdn/down/c5c5142c38cb63cb33b10bd43fdc423f/720p/720p.txt",
        "extension": "m3u8"
}

[2020-04-15 09:16] icbaker commented on #7223
We need more information to help you further. Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) in a Android Studio project that we can clone and build ourselves.

[2020-04-15 09:21] DrXoo opened #7238 "Achieve UDP Unicast latency below 1s"
Hello everyone, I am creating an App to control a robot with camera that I made myself

The camera is within a Raspberry Pi Zero (Pi Camera)
I use **ffmpeg** to stream with UDP the video from the Pi to the client
`
ffmpeg  -probesize 32 -f video4linux2 -video_size 800x600 -framerate 30 -i /dev/video0 -c:v h264_omx -b:v 400k -movflags frag_keyframe -f mp4 udp://192.168.1.132:1234
`

With this comma

[2020-04-15 09:35] marcbaechinger commented on #7231
A simple thing which comes to my mind is using a [`SilenceMediaSource`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/SilenceMediaSource.java) which you can put in between the actual tracks.  You can then listen to `onPositionDiscontinuity()` to trigger actions like putting a view on top when the silence media source starts and

[2020-04-15 09:47] tonihei commented on #7231
Another option that is only available on the dev branch so far is to tell the player to pause at the end of each media item with `player.setPauseAtEndOfMediaItems(true)`. And as soon as the player is paused (listen to `onPlayWhenReadyChanged` with reason `PLAY_WHEN_READY_CHANGE_REASON_END_OF_MEDIA_ITEM`), you can start your waiting UI animation (or whatever you are planning to do with this stage),

[2020-04-15 09:49] Clement-Jean commented on #7231
@tonihei @marcbaechinger  Do you know when this setPauseAtEndOfMediaItems(true) feature will be available?

[2020-04-15 10:01] tonihei commented on #7231
We can't give exact release dates yet, but probably within the next month or two depending on how fast we can cut a release branch with a sensible stable state.

[2020-04-15 11:37] tonihei commented on #7171
Thanks for sharing! I can reproduce the issue and understand why it's happening now.

We loaded the first audio and video chunk, and the video chunk has only one single sample (because it's I-frame only). The playback position is still at position 0 and we already rendered the first frame.
 - We don't continue loading new chunks because the next load position is 2 seconds. This means our "duration

[2020-04-15 12:27] dhiraj-shetty opened #7239 "Plugin.MediaManager 0.9.7 integrated into Xamarin App works on Visual Studio but would not compile in Microsoft Appcenter Build Environment"
Dear All,

I have integrated my Xamarin based App with Plugin.MediaManager 0.9.7 and it works like a charm within Visual Studio and Emulator.

I have the following settings for my Xamarin.Android Project:
AndroidDexTool=d8
AndroidEnableMultiDex=false
AndroidLinkTool=r8

However the same app code when checked into Git and Compiled with Microsoft Appcenter build, throws following compilation error:

[2020-04-15 13:26] jrocharodrigues commented on #7171
Hi @tonihei ,

Thank you for your comprehensive answer.
I'm already using slightly larger maxBuffer as you suggested, and i'll follow the updates to this issue for future updates.

Do you still need to do more tests with the test stream i provided or can i tell the operations team they can disabled it?

[2020-04-15 14:09] dhiraj-shetty commented on #7239
The problem was that Visual Studio has separate settings for Release and Debug. The changes for d8/r8 selection were made only for Debug builds and not Release builds. Appcenter runs Release builds.  On making the required d8/r8 settings for both Debug and Release builds, everything works like a charm. Sorry for taking your time.

[2020-04-15 14:09] #7239 closed, assigned to nobody

[2020-04-15 14:39] kpandroid commented on #5111
It seems that the audio adaptation works very strange  - I've checked the following two videos using latest 2.11.4 Demo example with

 trackSelector.experimental_allowMultipleAdaptiveSelections();

1. https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8 - for the same 1080 video resolution I see that the audio track is constantly changed (id=stereo:English->id=surround:English->id=stere

[2020-04-15 14:50] PaulDomixApp commented on #6168
Same issue ... is it possible to kill the widget when if he is in a stacked route and not the displayed route ?

[2020-04-15 15:38] jruesga commented on #7214
Ok. Thank you so much. I will try your suggestion.

[2020-04-15 15:38] #7214 closed, assigned to marcbaechinger

[2020-04-15 18:25] Swathi-Thirunarayanan opened #7240 "Frame advance in exoplayer (What does rendering in exoplayer depend on?)"
### Related Issue:
[1]  (https://github.com/google/ExoPlayer/issues/7025)

### What does rendering in exoplayer depend on?
I am trying to achieve frame-advance in exoplayer on key-press. I am forcing the exoplayer to stop rendering after it renders one frame after a key-press by calling stopRenderers() at ExoPlayerImplInternal.java; But the issue is, exoplayer is not rendering the immediate next f

[2020-04-15 20:16] aureobeck commented on #7206
Thanks for the response @marcbaechinger. I've added some breakpoints on `MediaSessionConnector` and `onPause` is called just after I open google assistant, then giving seek command calls `onSeekTo`. So it's not calling `onPlay` after seek if it was playing before. This is how we're initializing media session and player:

[code]

**MyTimelineQueueNavigator:**

[code]

**MyControlDispatcher:**

[cod

[2020-04-16 02:57] Clement-Jean commented on #7231
Is there a specific reason why the user can't set a tag for a `SilenceMediaSource` ? If not I'm willing to do a pull request for something like:

``
SilenceMediaSource.Factory().setDuration(...).setTag(...).build()
``

Because in my use case, I'm relying on the tag to know the id of my current playing video.

[2020-04-16 07:53] #7141 closed, assigned to ojw28

[2020-04-16 08:35] LRTNZ opened #7242 "Exoplayer Demo: Cleartext traffic not permitted"
### [REQUIRED] Issue description

When adding a new source to the media.exolist.json file in the demo application, any
sources that required a cleartext (HTTP) connection cannot play, as cleartext connections
are not allowed in the demo application.
This appears to be an issue starting with Android 9 (The highest version I have running on
a device I can test with), and the introduction of the defa

[2020-04-16 08:40] icbaker commented on #7242
You need to use a Network Security Configuration that permits cleartext traffic. There's more info (and links to even more info) here:
https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors

[2020-04-16 08:40] #7242 closed, assigned to icbaker

[2020-04-16 08:45] icbaker commented on #7233
There isn't enough information here to help you.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", w

[2020-04-16 09:03] icbaker commented on #7235
Do you want to know if your media contains any audio tracks, or any audio tracks that are selected and playable by the current device?

The code you've written for `onTracksChanged` does the latter - it checks if the media contains audio tracks that have renderer support. You can see this used in the demo app to pop up a toast in this case: https://github.com/google/ExoPlayer/blob/7214ad2d6f9d1e1c

[2020-04-16 09:09] icbaker commented on #7236
There's not enough information here to help you.

We have an [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md) that asks for lots of useful information to help us reproduce (and solve) your problem.

If you believe that the ExoPlayer library is unable to play your stream, please try playing it with the [demo app](https://exoplayer.dev/demo-app

[2020-04-16 09:15] icbaker commented on #7237
There isn't enough information for us to reproduce & debug this issue.

We ideally need a real playlist that demonstrates the behaviour (assuming the behaviour reproduces in the demo app) and/or a bug report taken directly after reproducing the problem using `adb bugreport`.

If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject

[2020-04-16 09:43] icbaker commented on #7238
Sounds like a cool project!

I'll be honest, ultra low-latency like this isn't ExoPlayer's main use-case, so it's probably not going to end up amazing (and you might be better off with a different player library more targeted at this), but there a few things you could try that might help:

1. Try using a different container format that's designed for lossy connections, like MPEG-TS (instead of MP4

[2020-04-16 10:42] tsaezmirada commented on #6654
Hello @jt64 ,

Here the dumpstate you requested during the playback with the same device from last test time. Additionaly we got some logs just in case.
[Uploading dumpstate.log
[android.log](https://github.com/google/ExoPlayer/files/4486494/android.log)
…]()

We keep waiting for Samsung analysis.

Thanks for your support.

[2020-04-16 11:09] andrewlewis commented on #7170
No updates yet. I will update here when we have made progress.

[2020-04-16 12:38] softartdev commented on #7212
It seems we are faced with the same problem.
If prepare [ImaAdsLoader](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java) in the standard way
[code]
then when an error occurs in the preroll

the main content does not play.
We found a workaround so that after advertising errors the main content continued to play:

[2020-04-16 12:46] GouravSna opened #7243 "Change External Subtitle Position on Exoplayer"
### [REQUIRED] Searched documentation and issues
Checked Subtitle view: https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/SubtitleView.html

### [REQUIRED] Question
I want to change the subtitle position so for that i am using the following apis on Exoplayerview,
` exoPlayerSubtitleView.setBottomPaddingFraction();
        exoPlayerSubtitleView.setPadding();
`
Set padding is on V

[2020-04-16 13:15] tonihei commented on #7171
As we are currently working on it, it would be great if you could keep the stream for a little while for testing.

[2020-04-16 13:25] icbaker commented on #7243
Most subtitle formats can specify for each cue where in the viewport it should be drawn. The SubtitleView is transparent and exactly overlaid on the video viewport. The SubtitleView can position the cue text (or image) anywhere within itself, as specified by the positioning information from the subtitle source data.

In some cases, the position isn't specified in the source data . This is usually

[2020-04-16 13:45] GouravSna commented on #7243
Thanks @icbaker , will check your inputs.

[2020-04-16 13:52] jrocharodrigues commented on #7171
Sure, no problem, i'll ask them to keep it running as long as possible.
Just let me know when you finish.

[2020-04-16 13:55] DrXoo commented on #7238
Hey Thanks for the reply!!

I tried setting explicitly the extractor (__FragmentedMp4Extractor__ in my case). Sadly there is no improvement. Besides that I saw that after five minutes of streaming the video is 'drifting' from real time. I mean, at first the latency was one second, but after five minutes the latency is **five seconds**

I will test with MPEG-TS. Will post here the results for futur

[2020-04-16 14:14] marcbaechinger commented on #7206
Thanks! That looks good actually.

It seems that some ATV devices do exhibit the behaviour you are describing (like pausing when Assistant is activated). It seems that it does not happen on all devices though, which is of course a bit unfortunate, because there is no way to keep these apart.

Can you tell me on what device you are experiencing this behaviour? Would it be possible for you to check

[2020-04-16 14:19] marcbaechinger commented on #7190
Overriding the layout with the attribute as you describe should work. I've seen/done this various times.

I'd recommend to copy the original layout file again, rename it and then set the layout file id:

[code]

Only remove elements and probably at the beginning just a single element. A very small change. Then check if it works. Once it works you can do the larger changes you had in mind. Probably

[2020-04-16 14:28] vasusachin commented on #7205
I am trying to include multiple gradle projects with include and project directive in a single gradle file

All projects build structure is like below

Modules/build.gradle -- List of all projects including the project directories
Project1/build.gradle
Project2/build.gradle
...
ExoPlayer/core_settings.gradle

CD to directory Module
Using the below command to do build for all the projects
./gradlew

[2020-04-16 14:34] phanirithvij opened #7246 "HttpDataSource$HttpDataSourceException over local network"
### [REQUIRED] Searched documentation and issues
None. This seems like a bug to me but I'm not sure.

### [REQUIRED] Question
My setup is a PC that is connected to my android device's mobile hotspot.
I'm serving a sample video file from a python flask server on my pc.
I'm trying to play it in my flutter app using the `video_player` plugin and the app is the example app provided here [in the offici

[2020-04-16 14:45] phanirithvij commented on #7246
The weird behavior is I can access the video URL from the browser, vlc, and all the other apps except the flutter app that I'm building.

[2020-04-16 14:46] icbaker commented on #7246
I think this is relevant: `Cleartext HTTP traffic to 192.168.43.159 not permitted`

There's some info about that here: https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors

[2020-04-16 14:46] #7246 closed, assigned to icbaker

[2020-04-16 15:07] ojw28 commented on #6654
Did you mean to attach a file called `dumpstate.log` to the above response? Because I don't think you were successful, if so.

[2020-04-16 15:40] BoschAlejandro opened #7248 "Sony Bravia AndroidTV Decoding artifacts"
### [REQUIRED] Issue description
Decoding artifacts when changing from a higher track (1280x720 or higher) to a lower track (960x540 or 704x396) in Sony TV with Android TV.

Video showing the issue:
https://drive.google.com/open?id=1jLTSyw7e8oc1q7J9RL3L3v7Fq7asWjjc

### [REQUIRED] Reproduction steps
In a Sony Bravia 4K with Android TV (BRAVIA_ATV3_4K), install exoplayer demo app with related conte

[2020-04-16 16:13] tsaezmirada commented on #6654
Attached now the dumpstate.log compressed:
[dumpstate.zip](https://github.com/google/ExoPlayer/files/4488447/dumpstate.zip)

[2020-04-16 17:28] tonihei commented on #5111
@kpandroid  The problems you describe occur because HLS doesn't provide bitrates for the adaptive audio tracks. See https://github.com/google/ExoPlayer/issues/6257#issuecomment-518676119 for a slightly longer answer.

[2020-04-16 20:56] januswa commented on #7163
I changed the processOutputBuffer function to not use the following (by commenting out those sections of code) :
1. skipOutputBuffer(),
2. notifyFrameMetadataListener(),
3. frameReleaseTimeHelper.adjustReleaseTime(),
4. treatDroppedBuffersAsSkipped and it's related logic.

Instead of using long adjustedReleaseTimeNs = frameReleaseTimeHelper.adjustReleaseTime(),
I am changing it to use systemTimeNs

[2020-04-16 22:11] ghost opened #7249 "Google Cast"
Hello friends.
I need your help, I used the demo-cast example Exoplayer r.2.11.4 to use my chrome cast, and it works perfectly with the streams found in the example.
1-> I edited the stream url to http://jatenstvdeborla.ddns.net:81/encurt/0cXzY,
2-> I edited the MediaSource buildMediaSource (MediaItem item) function in PlayerManager.java
3-> I compiled the apk and played the stream only when I sen

[2020-04-16 23:15] aureobeck commented on #7206
We've been testing on Nvidia Shield, the problem is always happening there

[2020-04-17 00:00] LRTNZ commented on #7242
Thank you - I am aware of the fix, and did easily implement it.
However, I am wondering if this is something to maybe have in the manifest for
the demo app, so people can play http sources without needing to change that permission?

[2020-04-17 03:14] yinhaojun opened #7250 "LeanbackPlayerAdapter getDuration return"
When i use LeanbackPlayerAdapter in leanback extension, it returns -1 when i call getDuration() after isPrepared() returns true.
`
@Override
  public boolean isPrepared() {
    return player.getPlaybackState() != Player.STATE_IDLE
        && (surfaceHolderGlueHost == null || hasSurface);
  }
`
I found the playbackState is from STATE_IDLE to STATE_BUFFERING to STATE_READY, when the playbackstate is

[2020-04-17 03:26] venister opened #7251 "Downloading media with signed cookies."
Hello, I'm using ExoPlayer for downloading / playing HLS files. I uploaded my videos on the S3 and distributing them with Cloudfront and Signed Cookies.

Before implementation of downloading media, I tested streaming via Cloudfront / Signed Cookies and it worked very well.

But I had a problem on implementation of downloading media.

I read the [official document](https://exoplayer.dev/downloading

[2020-04-17 04:24] Romantic-LiXuefeng opened #7252 "Change playback speed, occurs underrun"
### [REQUIRED] Issue description
I used the release apk to test. When change the playback to 1.5x, 1.75x. 2.0x. it occurs the audio underrun. It's only occur in specific device. I'm not clear what's the reason.  whether because of device cpu performance poor, or low memory?  I have captured the full bug report, hope give some explain.

### [REQUIRED] A full bug report captured from the device

[bu

[2020-04-17 07:14] andrewlewis commented on #7163
The release time ends up being passed to [`MediaCodec.releaseOutputBuffer`](https://developer.android.com/reference/android/media/MediaCodec#releaseOutputBuffer(int,%20long)) so please read the documentation there.

Based on your description, I wonder whether you are passing release times that are too far in the future. You probably still want to treat buffers as early if your frame time in nanose

[2020-04-17 07:25] VeiZhang opened #7253 "Video delay after renderedFirstFrame"
### [REQUIRED] Issue description
When zapping a video, the first frame come first and showing, but it didn't start to play immediately, the image and voice will wait 3-5 sec like freezing.
You can see the log **which show times from `renderedFirstFrame` to play back.**

### [REQUIRED] Reproduction steps
zapping video

### [REQUIRED] Link to test content
sorry, the content link is provisional.

###

[2020-04-17 07:58] danergo commented on #7235
Great, thanks very much. Indeed, this would be a nice to have in the documentation.

(My use case was the second, i.e. is it reasonable to show the mute control - in case the device is unable to decode audio I did not want to show it).

[2020-04-17 07:58] danergo commented on #7235
This might not be closed because of "documentation candidate" label.

[2020-04-17 09:11] leotyndale opened #7254 "How to use exo-cronet and okhttp together"
Hello, we have used exo-okhttp and exo-cronet, and they are running normally.
But the problem is that when using the quic protocol to play video through exo-cronet, there is no way to go through the okhttp interceptor. How can I make the request pass the okhttp interceptor based on exo-cronet?
Because we have added a lot of unified processing functions to the okhttp interceptor, such as log printi

[2020-04-17 09:20] msesma commented on #6166
Same problem here. Even if I don't allow the user to download two videos al the same time, the DownloadService only request DownloadManager once, so the second video will use the DownloadManger of the first one and fail because of wrong cookie.

[2020-04-17 09:24] nitinjain12 commented on #7170
ok @andrewlewis Thank you :)

[2020-04-17 09:26] marcbaechinger commented on #7249
You can not put arbitrary video streams in the sample with a random mime type and expect them to play. The streams must be supported by the cast device and you need to use a matching mime-type. In the samples you just replaced every url with the same url and tried playing them with any mime type.

When I curl the url you used it gives me two redirects and in the end a file of type `Content-Type: v

[2020-04-17 09:27] ojw28 commented on #7235
We don't keep issues open for the documentation candidate label. We use it as a separate tracking mechanism instead (and remove the label from the closed issue once we've added corresponding documentation).

[2020-04-17 09:27] #7235 closed, assigned to icbaker

[2020-04-17 09:32] marcbaechinger commented on #7206
Ok. Would be interesting to know how other ATV devices/Assistant versions behave. I can't see how ExoPlayer or the `MediaSessionConnector` can help much with that. As you describe, Assistant acts like another user who is using the media controller to send commands. If Assistant pauses the player when it starts listening, it should also resume playback after seek. If not that looks like a bug to me

[2020-04-17 10:07] ghost commented on #7249
Hello @marcbaechinger

Thanks for the quick response,
I find it strange that on the phone the stream is reproduced, and not on the cast, that is, the cast only supports:

MimeTypes.APPLICATION_MPD: adaptive DASH streams
MimeTypes.APPLICATION_M3U8: adaptive HLS streams
MimeTypes.APPLICATION_SS: adaptive smoothstreaming streams
MimeTypes.VIDEO_MP4: progressive MP4 streams

[2020-04-17 10:24] marcbaechinger commented on #7231
Your pull request has been merged into dev-v2. Many thanks for your contribution. I'm closing this issue for now. Please reopen if you think we can help some further.

[2020-04-17 10:24] #7231 closed, assigned to marcbaechinger

[2020-04-17 10:29] marcbaechinger commented on #7249
I think it's not unusual or surprising that different devices with different operating systems are supporting different media formats.

Cast does probably support other formats as well as documented in the link I pasted above:
https://developers.google.com/cast/docs/media

I'm closing this issue now. Feel free to re-open if you think I can help you some further.

[2020-04-17 10:29] #7249 closed, assigned to marcbaechinger

[2020-04-17 10:32] marcbaechinger commented on #7222
We can't give you a concrete timeframe for when this is released.

I'm going to close this issue. It will not be deleted, I just change the state to closed. You can re-open at any time if you think that the problem the issue is about is not solved or needs fixing.

[2020-04-17 10:32] #7222 closed, assigned to marcbaechinger

[2020-04-17 10:55] icbaker commented on #7248
Thanks for the report, unfortunately as noted in https://github.com/google/ExoPlayer/issues/7009#issuecomment-602460636 the COVID-19 situation means we don't currently have access to a Sony TV for testing, so if this issue only reproduces on that hardware then we're not going to be able to look deeply in to it.

This sounds similar enough to 7009 that I'm going to assign it to @Samrobbo, they can

[2020-04-17 11:02] marctan opened #7255 "How to sync notification Play/Pause into the Activity UI"
Hi,

I'm trying to create my own music player and I'm following the client/server approach stated in https://developer.android.com/guide/topics/media-apps/media-apps-overview.

I've my own UI for play, pause, prev, next and implemented a Service.
I'm using the PlayerNotificationManager to display the song detail in notification section.
I would like to sync the buttons of notification into the UI

[2020-04-17 11:14] icbaker commented on #7253
What does "zapping" mean in this context? I'm afraid it's not a term I'm familiar with.

Without access to a media sample that reproduces this issue it's very hard for us to help. If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please als

[2020-04-17 11:18] marcbaechinger commented on #7250
I think if you want to know whether the media source currently being played is prepared, you can just listen for a change of the playback state instead of using that `isPrepare` method. I agree the said method look not right.

You are correct, that If the state transitions to Player.STATE_READY, the source is prepared and the duration should be available.

Something like this should work:

[code]

[2020-04-17 11:22] icbaker commented on #7254
Just to check I've understood correctly: You want your requests to go through both `CronetDataSource` and `OkHttpDataSource`?

Both of these make their requests directly on to the network, so plumbing through both isn't very trivial.

I think you'll need to create your own `HttpDataSource` implementation that wires up the behaviour you expect.

[2020-04-17 11:27] Samrobbo commented on #7252
Hi,

Does this happen with all media you try, or is it specific? Is it possible to get the test media you used, so I can attempt to reproduce this on my end.

Also, how are you changing the playback speed, if possible can I get a code snippet of this?

Thanks.

[2020-04-17 12:29] Romantic-LiXuefeng commented on #7252
I think it's not the test media ,because of in other device it works well in different playback speed.
And the test media can't request in the public internet.

The code snippet:
[code]
I can't understand the bugreport's meaning. Could you give some explain?

[2020-04-17 12:29] aureobeck commented on #7206
I see, one thing we noticed was that on version 2.9.6 of Exoplayer, if we added a breakpoint or delay on `onSeekTo` callback from depracated `DefaultPlaybackController`, the aplication was working exactly as expected, it seemed that this was a racing issue between Google Assistant and Exoplayer. After we updated Exoplayer to 2.11.3 and started using `ControlDispatcher` interface instead of overrid

[2020-04-17 13:34] icbaker commented on #7242
We want the demo app to be a good starting point for people to understand how to use our library to build their own apps. As such, there's a degree of "being a good role model", so we generally try to follow Android best practices as much as possible.

The platform has decided that blocking cleartext traffic is a good default, so we keep the default behaviour.

Of course, the demo app is also a ve

[2020-04-17 13:44] marcbaechinger commented on #7206
Hmmm. I was under the impression that Assistant is sending an onPause which is causing the problem that after the seek you need to resume playback again from app code.

How can delaying the onSeekTo help not pausing the player? I probably understand not properly, sorry. Can you elaborate?

[2020-04-17 13:51] aureobeck commented on #7206
`OnPause` is always being called when google assistant is opened (both 2.9.6 and 2.11.3), but on 2.9.6 a delay on seek makes app resume after seek (if it was playing). The delay doesn't help on 2.11.3 though

[2020-04-17 14:04] marcbaechinger commented on #7255
There are various ways you can do that.

Basically, you need to start the service somehow, so you can use a `ResultReceiver` which you add as an extra to your intent with which you start the service from the activity. The service receives your intent, creates the player and the media session and then sends the token via  `ResultReceiver` to your activity.

Sure. The media session token is a simple

[2020-04-17 14:48] Brij09 opened #7256 "ExoPlayer Buffering"
I am using exoplayer to play multiple videos on recyclerview with caching. Before playing i prepare player for 5 videos at a time as a result of which exoplayer starts buffering and caching for all 5 videos at a time. So i am worried if there any impact on buffering of currently playing video. if so then how i can handle this situation.

[2020-04-17 14:57] Brij09 commented on #7256
Hi,  I am using exoplayer to play multiple videos on recyclerview with caching. Before playing i prepare player for 5 videos at a time as a result of which exoplayer starts buffering and caching for all 5 videos at a time. So i am worried if there any impact on buffering of currently playing video. if so then how i can handle this situation.

[2020-04-17 16:07] Samrobbo commented on #7252
What device/OS are you using?

Test media wise, if you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Let me know when you've done this.

Thanks

[2020-04-17 16:48] sky-filipeuva commented on #5978
I second this question ☝️ We are really interested in testing this feature

[2020-04-17 17:29] tonihei commented on #7062
Assuming the question was answered and closing the issue. If not, please reopen.

[2020-04-17 17:29] #7062 closed, assigned to tonihei

[2020-04-17 17:29] tonihei commented on #7044
Assuming the question was answered and closing the issue. If not, please reopen.

[2020-04-17 17:29] #7044 closed, assigned to tonihei

[2020-04-17 17:29] tonihei commented on #7043
Assuming the question was answered and closing the issue. If not, please reopen.

[2020-04-17 17:29] #7043 closed, assigned to tonihei

[2020-04-17 17:30] tonihei commented on #7070
Assuming the question was answered and closing the issue. If not, please reopen.

[2020-04-17 17:30] #7070 closed, assigned to tonihei

[2020-04-17 17:30] tonihei commented on #7067
Assuming the request was answered and closing the issue. If not, please reopen.

[2020-04-17 17:30] #7067 closed, assigned to tonihei

[2020-04-17 17:48] tonihei commented on #7080
Sorry for the delayed answer. The bugreport unfortunately doesn't contain anything useful maybe except this log line: "WVCdm   : Decrypt error result in session sid2 during encrypted block: 5"

If the problem can be triggered only by changing the expiration date, then it sounds as if we are running into the [Year 2038 problem](https://en.wikipedia.org/wiki/Year_2038_problem). My guess would be tha

[2020-04-17 18:30] dstaley opened #7257 "How does ExoPlayer create full resolution SurfaceViews?"
(I realize this is more of a general question, so please feel free to close if it's not something you feel like explaining!)

For the past several days, I've been attempting to get full resolution SurfaceViews on my 4K Android TV device (Nvidia Shield TV). I've combed through ExoPlayer's source as much as possible, but I don't see an obvious place where it's asking for a full resolution SurfaceVie

[2020-04-17 19:48] mddrill opened #7258 "What is the advantage of PlatformSchedulerService?"
### Searched documentation and issues

I have searched both the readme for the demo, the downloading media section of the exoplayer site https://exoplayer.dev/downloading-media.html and the exoplayer docs site https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/scheduler/PlatformScheduler.html

### Question

The Downloading media section of the dev site (https://exoplayer.dev/downloa

[2020-04-17 23:07] Mouadabdelghafouraitali opened #7259 "Is there any way to save audio after changing the Playback Parameters"
After changing the **playback parameters** (Speed and Pitch), I'm looking now for a way to saving the audio as a file in **SD**, is there any way to achieve that?

[2020-04-18 11:58] verinder84 commented on #5313
**m3u8 audio streaming not working**
it working with exoplayer: r2.4.1'
but not working after ugrading to exoplayer 2.11.4

[code]
steaming uri is  http://airodiya-lh.akamaihd.net/i/airodiya_1@528056/master.m3u8

[code]

[2020-04-19 07:32] kpandroid commented on #5111
@tonihei, ok, the first example is clear, there are two audio tracks, but the second link (big buck bunny) - there is only one audio track per video resolution.

[2020-04-19 08:53] vishal-prepladder opened #7260 "Video is not playing by exoplayer when after some period of time and throws the following exceptions."
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2020-04-19 08:54] vishal-prepladder opened #7261 "Video is not playing and player went into idle state"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2020-04-19 08:54] vishal-prepladder opened #7262 "Video is not payed and player went into idle state"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2020-04-19 08:56] vishal-prepladder opened #7263 "Video is not payed and player went into idle state with following errors."
1. com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to http://rajeshkaushal-inct.streaming.media.azure.net/6d208469-6803-48c7-97d1-c35debcdfbd7/Neural-Columns-PyrIPz3e7k.ism/QualityLevels(1470000)/Fragments(video=2220000000,format=mpd-time-csf)

2.Unable to connect error is on both http and https urls
 com.google.android.exoplayer2.mediacodec.MediaCo

[2020-04-19 10:37] jpiechowiak opened #7264 "How to enable support for subtitles in Leanback"
Hi,
I'm trying to implement support for Exoplayer in Leanback application.
I was already able to implement normal playback with support for MPEG DASH with Widevine DRM, and the next step is support for subtitles.

Subtitles are included in manifest as text/vtt track.
This is my playback activity layout:
[code]

In playback fragment, I'm initializing LeanbackPlayerAdapter with standard constructor

[2020-04-19 11:06] Gowsky commented on #7168
Yes, I think so. Though the company I work for releases updates to their apps once a couple of months, so it will take a while until we know if it resolves our problem.

[2020-04-19 11:07] kpandroid commented on #5111
@tonihei actually I don't understand why we need an audio bitrates in order to select right audio track for specified resolution. I see that for the resolution 1921x818 there is the predefined group of audios - AUDIO="surround". In this group there are only two audio tracks

#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="surround",LANGUAGE="en",NAME="English",DEFAULT=YES,AUTOSELECT=YES,URI="audio/surround/en/3

[2020-04-19 12:39] kashu1209 commented on #7223
Hi Ian/Oliver,
I was doing it from different threads and why is that creating this
problem? Can you help me understand?

On Wed, Apr 15, 2020 at 7:26 AM Kashish Maggu <maggukashish01@gmail.com>
wrote:

[2020-04-19 13:56] zjamshidi opened #7265 "Host demo app sample content in a single place"
It's over two years I'm using ExoPlayer in my apps and I'm satisfied with it. Thanks for it.

### Searched documentation and issues
I have checked your sample app and also issues #5466 #4429 #2160

###  Question
It seems for playing YouTube videos we need to use the YouTube Player API. And It seems to extract the video's URL and use it with ExoPlayer violates YouTube terms of service. So I'm curio

[2020-04-19 15:10] pawaom commented on #7221
thanks for including this as an enhancement , please include this feature in the mediasessions part as well, (lock screen controls) as shown in the screenshot I have shared above @marcbaechinger

[2020-04-19 16:17] ojw28 commented on #7223
ExoPlayer instances generally need to be accessed from a single thread, which in nearly all cases should be the application's main thread. You can read about the threading model [here](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayer.html). If you're not doing this, then that might be a reason why you're seeing problems.

As already noted twice above, to provide more det

[2020-04-19 16:17] #7223 closed, assigned to icbaker

[2020-04-19 18:03] #7260 closed, assigned to nobody

[2020-04-19 18:03] #7261 closed, assigned to nobody

[2020-04-19 18:03] #7262 closed, assigned to nobody

[2020-04-19 18:27] ojw28 commented on #7113
@dbPhilips - Please could you re-send the content. It's expired.

[2020-04-20 01:30] VeiZhang commented on #7253
@icbaker Yes, you are right, I found the logging will be shown when video delayed. Otherwise video play normally. "zapping" means start to play video.
[code]

But I am trying to make a test video, when I use ffmpeg to copy, it will be normally.

[2020-04-20 02:03] leotyndale commented on #7254
@icbaker
Thank you for your help, but I still have some questions that are not very clear.

Is there anything special about exo-cronet?
Can I just use exo-http without exo-cronet, and then process quic network requests in okhttp interceptor. Most of my simple network requests are handled in this way.
If I deal with this way, Is there anything on EXO that needs process carefully?

[2020-04-20 02:54] ghost commented on #6168
+1

When having multiple videos in flatlist and autoplaying when they come in view, after a few videos the error occurs. I have attached the screenshot for the reference.

PS: I am on the latest react-native-video version and using exoplayer

![Screenshot 2020-04-20 at 8 14 35 AM](https://user-images.githubusercontent.com/37217713/79709207-36fba200-82df-11ea-8432-879aef11a535.png)

[2020-04-20 03:44] ogawa-ma commented on #7080
@tonihei
Thank you for your response.

Regarding the information provided, we plan to provide the following information.
・ Media file (.mpd) URL
・ URL of the license server

Is there any other information I need?

[2020-04-20 06:29] Jei opened #7266 "Add convenience API for querying static metadata"
### Searched documentation and issues
I've been looking at the issues in this repository regarding Icy metadata and Shoutcast streams, especially:
- https://github.com/google/ExoPlayer/issues/6753
- https://github.com/google/ExoPlayer/issues/5876
- https://github.com/google/ExoPlayer/issues/3735

### Question
I want to add metadata events to the [just_audio](https://pub.dev/packages/just_audio) Fl

[2020-04-20 07:32] BoschAlejandro commented on #7248
Hi @icbaker and @Samrobbo
There is nothing in the files logcat or bugreport that I have attached that gives you a clue about what is happening?

Thanks

[2020-04-20 07:34] dbPhilips commented on #7113
Done!

New one is valid up to 25th of April. This the maximum our IT department unfortunately allows.

[2020-04-20 07:48] tonihei commented on #7080
That's probably enough information, unless your stream needs special request headers or similar.

[2020-04-20 07:56] tonihei commented on #5111
ExoPlayer's track selection is independent of these groups. You can manually select any audio track for any video track. Deducing the order of audio tracks (or even the concrete group mapping) from the HLS playlist is tracked by #6257 and independent of this feature.

[2020-04-20 08:20] tonihei commented on #7256
When you say "i prepare player for 5 videos at a time as a result of which exoplayer starts buffering and caching for all 5 videos at a time", it's not clear if
 (1) you call `player.prepare` on 5 different player instances,
 (2) or if you use ExoPlayer's caching functionality that downloads to a cache.

I wouldn't recommend to do (1). One reason is that it may use download bandwidth that impacts

[2020-04-20 08:38] AquilesCanta commented on #7259
Please have a look at the [TeeAudioProcessor](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/TeeAudioProcessor.html) and [WavFileAudioBufferSink](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/TeeAudioProcessor.WavFileAudioBufferSink.html). That should probably be enough.

[2020-04-20 08:38] #7259 closed, assigned to AquilesCanta

[2020-04-20 09:18] Brij09 commented on #7256
i am not using any Download functionality. I am just using Simple caching to avoid re buffering when i play same video again and  I am using different instance of exoplayer to prepare player. How can I give all bandwidth to currently playing video while its buffering.

[2020-04-20 10:08] icbaker commented on #7266
The `IcyInfo` represents the "Metadata" section here: https://cast.readme.io/docs/icy#section-metadata It's parsed regularly throughout the stream, and the results are passed to `MetadataOutput.onMetadata()` as you've seen.

The `IcyHeaders` are only parsed once then the connection to the stream is established, and it's made available through the `Format.metadata` field.

So you should be able to

[2020-04-20 10:19] tibor-leo-safar-accedo commented on #6348
Hi, we have some same issues with Live Dash streams with DRM WVL3 using ExoPlayer v 2.10.8.
One preliminary issue what was discovered in  **dev-2**, setting up the DRM MediaSource, etc... and the playback failed.
Digging into the logs, it turned out a NullPointerException in SampleQueue.java#onFormatResult(...) line 800. There is an assertion check of _Looper.myLooper()_ what crashes. Replacing wi

[2020-04-20 10:58] steffenmanden opened #7267 "Read data from CodecPrivate when playing AVC or HEVC"
**[REQUIRED] Use case description**

It has recently been decided in the mkv standard to add support for extra data in the codecprivate area when playing AVC or HEVC content.

This allows Dolby Vision data, as well as MVC data, to be properly read during playback and thus enable Dolby Vision support and more.

**Proposed solution**
It would be great it Exoplayer could be made possible to playback

[2020-04-20 11:04] tonihei commented on #7086
I finally found the time to check what's happening with your example. Sorry for the delay!

It looks as if the "gap" you can hear is the player briefly going into BUFFERING state just after the transition. This is because the video timestamps don't align with keyframes in the video and the player needs to decode all frames from the previous keyframe before it can continue rendering from the reques

[2020-04-20 11:09] kabhay opened #7268 "Expose an elementary stream source which can be used by an app"
### [REQUIRED] Use case description
Add support for MSE EME. Because certain apps may intend to use both MSE EME for certain formats along with the current model. Although the apps can directly use the decoders(decoder interfaces and implement the data injection, it would be good to have the Exo Player support this so that apps can use it even for MSE EME kind of playback.

### Proposed solution
A

[2020-04-20 12:21] venister commented on #7251
I just found that my approach was wrong. Thanks anyway.

[2020-04-20 12:21] #7251 closed, assigned to marcbaechinger

[2020-04-20 12:31] ojw28 commented on #7113
Thanks!

The proposed fix in https://github.com/google/ExoPlayer/pull/7115 didn't seem ideal to me. It relied on the presence of AUDs to avoid dropping the prefix SEI NAL units, however AUDs are optional and it should be possible to do the right thing even if they're omitted.

I've merged the two changes ref'd above as an alternative solution. These changes should be able to handle prefix SEI NAL

[2020-04-20 12:31] #7113 closed, assigned to ojw28

[2020-04-20 12:38] Anton111111 opened #7269 "How to stop single download"
Hello! i need ability to stop single download not all. And i tried to do it:

[code]

But how i see download continue. Is is has ability stop and then resume single download without stopping all download?

[2020-04-20 12:49] #7269 closed, assigned to nobody

[2020-04-20 13:01] Taranlayal10 opened #7270 "Black screen while switching orientation for DRM enabled videos in DASH format"
Hi,  @ojw28

I am writing this as a question in regards to a previously closed bug 6847. Where I have tried the given solution but it did not fix the problem.Since that issue is in locked state so I am unable to add comment on same thread.

**Original Issue**
While switching a video from portrait to landscape mode a blank black screen is visible for a sec before showing the video frame.This happen

[2020-04-20 13:03] fadimashan85 commented on #6168
I tried to stop the ExoPlayerFactory.newSimpleInstance in all cases (onResume, onPause, onStop), and it works with me.
![Screenshot 2020-04-20 at 15 01 02](https://user-images.githubusercontent.com/57893696/79754629-20257180-8318-11ea-8bcc-1f74183fdd12.png)

[2020-04-20 13:13] Swathi-Thirunarayanan commented on #7163
@andrewlewis What does the rendering depend on? I am trying to render only one consecutive frame during each key press. I found that frames where rendered onto the surface after codec.releaseOutputBuffer(index, releaseTimeNs) in processOutputBuffer. But seems like even though I forced the releaseTimeNs to increment by 1ms (also found through observation that index was also incrementing by 1) the f

[2020-04-20 13:27] icbaker commented on #7253
So if you use `ffmpeg -c copy` then the problem goes away? That suggests to me that it's a problem with your original media - but I'm afraid without access to that media it's very hard to say what the problem might be.

[2020-04-20 13:34] icbaker commented on #7254
Do you mean **exo-okhttp** here?

I found this blog post that includes a mention of using an OkHttp interceptor to get cronet behaviour with OkHttp:
https://medium.com/the-react-native-log/using-cronet-in-your-mobile-app-7dda3a89c132

I haven't tried it, but you could give it a go. I suppose you'd use `OkHttpDataSource` and register the interceptor mentioned there.

[2020-04-20 13:34] kim-vde commented on #7263
If I try to open the link in Chrome or in VLC (http or https), nothing is played. Can you provide reproduction steps and necessary files (e.g. manifest) to play the stream?

[2020-04-20 14:07] kpandroid commented on #6257
@tonihei - you wrote:

"you can manually select any audio track for any video track." - could please point me where I can select right audio from new group after hls stream changes resolution?

[2020-04-20 14:36] ojw28 commented on #7265
This is correct.

We're able to do this internally for videos to which we own the rights (and have internal tools for doing so). We should probably transition to hosting all of the demo app's sample content in a single place, however, just for clarity and ease of management. Let's use this issue to track that, as a low priority enhancement.

[2020-04-20 14:38] ojw28 commented on #5202
Sorry we didn't ever follow through on this. Apple appears to have fixed their test streams at some point, which removed any sense of urgency. I'm going to go ahead and duplicate this to https://github.com/google/ExoPlayer/issues/7265, which tracks the more general goal of hosting all of our demo app sample content in a single place.

[2020-04-20 14:38] #5202 closed, assigned to ojw28

[2020-04-20 14:56] menscikov commented on #6930
Hello @AquilesCanta,

I'm able to reproduce this `Internal runtime error` with demo app without modifying any code inside. ExoPlayer version 2.11.4.

I have Xiaomi Mi Box S Android 9.0 TV Box and Cube X3 Android 9.0 TV Box.
Just open any video in HLS tab, and press "Back" button on the remote control.

This error will NOT appear on emulators, only on real devices.

[code]

[2020-04-20 14:58] andrewlewis commented on #7257
As far as I can remember we don't do anything special with the `SurfaceViews`. Full resolution rendering should just work assuming the display mode size is at least 4k (see [`Util.getCurrentDisplayModeSize`](https://github.com/google/ExoPlayer/blob/a038346/library/core/src/main/java/com/google/android/exoplayer2/util/Util.java#L1920)) and `MediaCodec` is decoding a stream with at least that resolu

[2020-04-20 15:04] #7257 closed, assigned to andrewlewis

[2020-04-20 16:06] kim-vde commented on #7267
Is it standard to have Dolby Vision streams inside MKV? It is not listed in the Matroska [codec IDs](https://matroska.org/technical/specs/codecid/index.html).

[2020-04-20 16:12] steffenmanden commented on #7267
It's not in the standard definition. Dolby Vision has not previously been in the standard.

This implementation extends the format to allow for Dolby Vision within this format. Currently solutions (mp4 and ts) however have the standard, however are limited in a lot of features.

So although its not a part of the standard of mkv, it is an extention of the standard which will improve the player capa

[2020-04-20 16:19] dstaley commented on #7257
@andrewlewis thanks for the clarification! It's really interesting that ExoPlayer gets 4K without any special calls. Hopefully I'll figure out the mystery one day!

[2020-04-20 16:23] kim-vde commented on #7267
Ok. I have flagged the issue as a low-priority enhancement for now.  Thanks for reporting it.

[2020-04-20 16:59] steffenmanden commented on #7267
Thanks :) - referenced the MakeMKV creator to comment in here, as he can give more details as to how the format was extended! Hopefully he will comment

[2020-04-20 16:59] jpiechowiak commented on #7264
Ok.
I was able to sort this out.
I've added SubtitleView to my layout, and created my own adapter based on code from LeanbackPlayerAdapter.

In addition to base, I've extended ComponentListener to support subtitles in the same way like in other issues in this repository.

[2020-04-20 16:59] #7264 closed, assigned to nobody

[2020-04-20 17:38] pi-mad commented on #7176
Hi, i'm just messaging as I haven't received any feedback from my issue?

[2020-04-20 17:41] ojw28 commented on #7176
I tried playing the provided stream in our demo app, and it plays fine there. You can try this for yourself using the instructions [here](https://exoplayer.dev/demo-application.html).

I don't know what the template project that your app is using does, but it seems like an issue with the way the template has integrated ExoPlayer, rather than an issue with ExoPlayer itself.

[2020-04-20 17:48] #7176 closed, assigned to ojw28

[2020-04-20 18:00] christosts commented on #6348
@tibor-leo-safar-accedo re the NullPointerException with Live Dash streams with DRM WVL3: can you please file a separate issue, using the [bug template](https://github.com/google/ExoPlayer/issues/new/choose), so that we track this separately? Please include a live stream we can repro the problem and test. If you cannot share the stream publicly, you can send it to dev.exoplayer@gmail.com using a s

[2020-04-20 19:41] hlkcode opened #7271 "Hello, please am develop an android app like udemy using exoplayer, so here is the deal, on rotation , i want the same behavior like u udemy where by on the landscape the player is in full screen mode for phones and some custom ui for tablet (player on the left and list on the right), all this being done without a break in the playing of the video"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-04-21 00:47] VeiZhang commented on #7253
@icbaker Thanks for your reply, I will continue to testing, and I will give the stream if it can be caught.

[2020-04-21 01:07] #7128 closed, assigned to ojw28

[2020-04-21 02:51] sridhard opened #7272 "Support seeking in fMp4 files"
**Tell us where you’ve already looked for an answer to your question. It’s
important for us to know this so that we can improve our documentation.**
I have searched all the exoplayer issues and also the exoplayer docs and stackoverflow questions

**Describe your question in detail.**
We have used Bento4 tools in past and we have encrypted thousands of files using mp4Encrypt with MPEG-CENC. https:/

[2020-04-21 03:20] ogawa-ma commented on #7080
I have sent the media file URL and the license server URL to dev.exoplayer@gmail.com.

[2020-04-21 05:05] a4x4kiwi commented on #7220
Hi AquilesCanta.

Did you happen to have any further thoughts on this?

Thanks again for your assistance.
Stay well.

[2020-04-21 07:31] Jei commented on #7266
Thank you for the clarification. I'm working on a solution that uses `Player.EventListener.onTracksChanged()` to collect the IcyHeaders for the current track.

[2020-04-21 07:32] tonihei commented on #6257
This statement was about making a manual selection of single tracks. See the [DefaultTrackSelector](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html) documentation for more details on how to use `SelectionOverride`s.

[2020-04-21 07:48] lejahmal commented on #7189
i was trying to recor live streamin from my server with no succes but a finaly retreived .mpd file sample
is it possible for you to take a look and tell me if it is anyway incorrect or non correct  inside ? thanks

[code]

[2020-04-21 07:50] dbPhilips commented on #7113
Can confirm the issues on our side also get fixed with these commits.

The alternative solution indeed covers more cases so its a better fix. Great work!

Thanks!

[2020-04-21 09:30] kim-vde commented on #7268
Could you explain in more details what would this enhancement be like? Do you suggest to add the possibility in ExoPlayer to provide elementary streams (instead of container data), with support for DRM data? What do you mean by MSE EME kind of playback?

[2020-04-21 09:32] ojw28 commented on #7266
@icbaker - We should probably make it easier for developers to know when static metadata has changed, and to retrieve the current static metadata from the player without having to trawl through all the `Format` objects themselves. Could we consider this an enhancement (i.e., provide a better API), rather than (or in addition to) a documentation candidate?

[2020-04-21 09:38] ojw28 commented on #5978
Changes will appear on the `dev-v2` branch as they become available, and will be referenced from this issue (like the ones above).

Note that merging segment fetches is already committed, for the (ideal) case where consecutive segments use the same URL and adjacent byte ranges. Parallel segment fetches is being worked on currently, and you should see commits appearing over the next two weeks.

[2020-04-21 09:58] tibor-leo-safar-accedo opened #7273 "ExoPlayer Looper.myLooper() internal crash on dev-2 branch with DASH Live stream WV L3"
### [REQUIRED] Issue description
Regarding an already filed issue (https://github.com/google/ExoPlayer/issues/6348) what is happening also with the streams and devices we are working with, we have done some testing with the **dev-2** branch (checked out on 12 of April 2020). It turned out that the playback of live stream is not starting. Looking into the logs the issue was identified in SampleQueu

[2020-04-21 10:00] stari4ek opened #7274 "AudioSink$InitializationException on Sony TV for AAC/5.1/48kHz with tunneling enabled"
### [REQUIRED] Searched documentation and issues
`DefaultAudioSink` source code.

### [REQUIRED] Question
According to crashlytics I'm getting some `AudioSink$InitializationException`. Usually on Sony TVs (60%, while it's 10% from all devices).
One specific report is:

[code]
This one was produced for 5.1 48kHz AAC track, when tunneling was enabled.
Disabling tunneling - fixes the issue.

**Q:** S

[2020-04-21 10:13] kabhay commented on #7268
Hi Kim,

Thanks for your quick reply.

In very simple words thats what it means.

If you meant to share some document about MSE EME here is the wiki link for the same. This gives a brief overview of what MSE EME is all about. https://en.wikipedia.org/wiki/Media_Source_Extensions
But if you are looking for any further details etc. Please let me know.

Warm Regards,
-Abhay.

[2020-04-21 10:27] NidhalAK opened #7275 "Rendrer error: type=audio"
Hello,
Im using the Exoplayer version **2.11.1** to stream audio. Actually everything works perfect but when i try to switch tracks using next and previous Exo player buttons, the player just stop and i get this error:
- **Device :** Huawei Nexus 6P
- **Android version** : 8.1.0
- **Error Log**:
[code]

[2020-04-21 11:29] AquilesCanta commented on #7220
I had a look at it. Seems the files carry EBU teletext which ExoPlayer doesn't currently support. I'll have a look into this when I have some time. I'll post here once I have news. Naturally, you are welcome to send a pull request our way.

[2020-04-21 11:31] AquilesCanta commented on #7220
Not 100% sure, but this may also be a duplicate of #5491.

[2020-04-21 11:55] kim-vde commented on #7272
1. There is no existing way to seek into an fmp4 file without sidx box in ExoPlayer. The cleaner solution would be to generate files with this box.
2. Is there an option in Bento4 to do that (the [index option](https://www.bento4.com/documentation/mp4fragment/) seems promising)? Have you tried using ffmpeg?
3. As the enhancement already exists (#6704), I will mark this issue as duplicate.

[2020-04-21 12:52] marcbaechinger commented on #7268
MSE EME is for playing video in a browser. It specifies how a javascript application can provide media sources for being played by the media tag of the W3C spec.

ExoPlayer is an Android media player to be used with Java/Kotlin. We do not plan to somehow expose ExoPlayer media sources to a webview or support MSE implementation inside ExoPlayer. I don't think this will happen any time soon. It's pr

[2020-04-21 14:31] kim-vde commented on #7273
Did you send the email with a link to the test content? I couldn't find it. Please make sure to put the issue ID in the description.

Also, can you try to play your content on the demo app to see if it works?

[2020-04-21 15:01] kpandroid commented on #6257
@tonihei, do you mean that I can call SelectOverride and switch audio track from corresponded group without interruption of audio after a resolution adaptation? It seems I need something like GroupTrackSelection for audio tracks that connected to AdaptiveTrackSelection for video thats triggers GroupTrackSelection after updateSelectedTrack changes an index of videotrack.

[2020-04-21 15:05] kim-vde commented on #7274
We should first try to understand why the audio track is not initialized. Tunneling should be automatically disabled if it is not supported and the audio track shouldn’t be created if the format is not supported. I suspect it is due to another reason.

What version of ExoPlayer are you using? Do you know what is the SDK version of the device? Does the device support tunneling?
How do you enable tu

[2020-04-21 15:22] kim-vde commented on #7275
Did you try to play your content using ExoPlayer [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main) to see if you get the same issue?
What is the SDK version of the device?
Can you provide content and steps to reproduce the issue?

[2020-04-21 16:48] wkarl commented on #5482
@tonihei as 2.11.4 has been released by now I was wondering if this is likely to be implemented in the near future.
My use case is that I need to be able to insert midroll ads spontaneously during playback at short notice. I don't have any information about ad break positions at the start of the video (except for the preroll) but it would help me to have a re-usable ad break that I can move around

[2020-04-21 17:05] tonihei commented on #5482
This enhancement is unfortunately not on our agenda for now.
 #3163 is still planned to be done, but not with a very high priority either.

The idea with jumping to the next source sounds like a good idea, but again depends on an unimplemented feature. #3327 is tracking the pre-buffering of the next item (before the currently playing one is finished buffering). This is an often requested feature a

[2020-04-21 17:56] kim-vde commented on #7271
Here are some useful links:
- [ExoPlayer website](https://exoplayer.dev/hello-world.html)
- [ExoPlayer demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main)
- [Android documentation](https://developer.android.com/training/multiscreen/screensizes#alternative-layouts)
- [UAMP app](https://github.com/android/uamp)

I will close this issue as too generic for me to help. Feel free t

[2020-04-21 17:56] #7271 closed, assigned to kim-vde

[2020-04-21 17:59] sky-filipeuva commented on #5978
Thanks very much for the update and transparency !

[2020-04-21 18:08] ghost opened #7276 "PlayerNotificationManager event onNotificationCanceled is never called"
### [REQUIRED] Issue description
Hi everyone,

Notification cannot be swiped and onNotificationCanceled is never called.

### [REQUIRED] Reproduction steps
[code]
`

### [REQUIRED] Version of ExoPlayer being used
com.google.android.exoplayer:exoplayer-core:2.10.5

### [REQUIRED] Device(s) and version(s) of Android being used
    compileSdkVersion 29
    defaultConfig {
        minSdkVersion 16

[2020-04-21 18:41] nemsis110 opened #7277 "Did you call Uri.parse() on a string containing '?' or '#'"
Hello community.
i used a secure nginx url like this:
domain/video.mp4?md5=4d2swh16c4hOPXiGKhFIpQ&expires=1587514975

but exoplayer is not playing the url after i add the security key and the following error appear on my android studio logs.
   com.google.android.exoplayer2.upstream.FileDataSource$FileDataSourceException: com.google.android.exoplayer2.upstream.FileDataSource$FileDataSourceExceptio

[2020-04-21 19:32] stari4ek commented on #7274
Device:
[code]

List of codecs:
[code]

ExoPlayer: 7214ad2d6f9d1e1c13649f2fb4b085ef746f0c3e (it's nearly HEAD from dev-v2)

Tunneling is supported, since there're codecs with tunneling, including `OMX.MTK.VIDEO.DECODER.AVC` used in the example.

[code]

According to the log, for same user/device/settings, there is no issues for same type of stream, but with AAC 2.0, 44.1kHz:

[code]

[2020-04-21 21:45] jt64 commented on #7080
If this is a 2038 issue it is likely in the Widevine implementation, not in Huawei since the license durations are handled in widevine code, not OEM code. A bug has been opened for Widevine to follow up. As Android N devices probably won't be getting an update, you will likely need to work around this by limiting your license expiration times to before 2038. Widevine will check if this is still an

[2020-04-21 22:54] jt64 commented on #6654
Thank you for providing the dumpstate file, we are following up with Samsung

[2020-04-22 00:03] a4x4kiwi commented on #7220
Thanks. Let me know if you need me to provide any further info, details, stream captures or testing.
Anything that would help the process. It makes me wonder what other countries apart from Australia use this format.

[2020-04-22 05:07] vasusachin commented on #7205
Any update on this ?

[2020-04-22 06:41] Kamil-H opened #7278 "How to correctly remove PlayerMessage?"
### Searched documentation and description of the problem
I'm developing an app where I let user listen to some audio content. My content is built with `ConcatenatingMediaSource` and provided to the user as a playlist. There are advertisements baked into my content, HLS files. In the response from the API I have information when exactly the ad begins, when user reached middle of the ad and the end

[2020-04-22 07:21] tibor-leo-safar-accedo commented on #7273
Hi ExoPlayer team,

Mail re-sent with additional info for issue re-production. Subject: Issue #7273 - additional information
Setting the experimental_setMediaCodecOperationMode(x) on the DefaultRenderesFactory does not makes any difference.

BR.,

Tibor Leó, Sáfár
Engineering Lead, Android
Accedo Broadband HU
1063 Budapest, Rákóczi út 1-3, HU
www.accedo.tv <http://www.accedo.tv/>

[2020-04-22 07:33] tibor-leo-safar-accedo commented on #6348
Hi ExoPlayer team!
Meanwhile we've got a problematic test device. It's a Sony Xperia 10 3GbRam version.
We've made a lot of testing with our live streams and we've found that with the experimental_setMediaCodecOperationMode **4** and **5** the playback on these devices is more smooth however there are still frame drops with high resolution HD tracks 1920x1080. (8.9Mbps or 5.04 Mbps) - frame drop o

[2020-04-22 07:48] fpittersacc commented on #6429
Just a note about current IMA 3.11.3 is leaking the player Activity when leaving the playback during Ads, reproducible on Demo with IMA.
I'll try again once the upgrade is done, and report to IMA if still present.
Thanks

[2020-04-22 08:25] icbaker commented on #7277
That error indicates ExoPlayer is trying to handle your URL as a local file path (it's thrown from inside a method called `openLocalFile`).

This is likely because you didn't include a [scheme](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Generic_syntax) e.g. `https://`. When Uri.parse() is passed a 'naked' string with no scheme it assumes it's a path to a local file and converts it i