[2020-04-22 10:05] icbaker commented on #7258
Can you add some more details to your question?

Advantage compared to what alternatives?

Is there a specific issue you're seeing or problem you're trying to solve?

[2020-04-22 11:34] tonihei commented on #7193
Did you try to call playbackStatsListener.finishAllSessions() just before the second prepare() call? This may work I think.

[2020-04-22 12:08] jakoss commented on #7193
Unfortunetely, when i do that i have pretty frequent (but seems to be random) NullPointerExceptions

[code]

[2020-04-22 12:20] nemsis110 commented on #7277
actually i am  including http:// etc. the url on here is not with http as it's just an example

[2020-04-22 12:22] tonihei commented on #7193
Ah, indeed. There is a bug in finishAllSessions() that gets triggered if you use and keep the listener registered on a player. I'll fix that on the dev branch. As a workaround, you can call finishAllSession() and then remove the listener from the player, and add a brand new one for the new playlist.

[2020-04-22 12:25] marcbaechinger commented on #7276
The notification can only be swiped when not assigned to a foreground service. So it requires you to stop the foreground service, when the notification is not ongoing anymore (that is when the player is paused).

You are pretty close to that already with the code you show above.  You need to change `onNotificationPosted()` and check wether the notification is still ongoing. If paused `isOngoing` i

[2020-04-22 12:36] icbaker commented on #7277
Something else is going wrong then. If you're using `DefaultDataSource` then a URI with `http` scheme should be handled by a `HttpDataSource` not `FileDataSource`. If you're directly passing an HTTP URI to FileDataSource then that wouldn't work, and this might be the failure you'd see.

What happens if you try and play the URL in the [demo app](https://exoplayer.dev/demo-application.html)?

A full

[2020-04-22 12:50] ghost commented on #7276
I understand perfectly I think, it works as expected. Thank you so much!

[2020-04-22 12:50] #7276 closed, assigned to marcbaechinger

[2020-04-22 13:04] Kamil-H commented on #7278
I investigated a problem a little bit more and I can say that I have a different problem. I'm getting a crash every time I'm doing following flow:

1. Add a `PlayerMessage` on the `windowIndex`
2. Play a media source at this `windowIndex` handle `PlayerMessage`
3. Switch to next item
4. Remove media source at `windowIndex`
5. Add again media source removed before
6. Try to add `PlayerMessage` on t

[2020-04-22 13:06] GouravSna commented on #7243
Hi @icbaker,

We tried your suggestion and it is working in someway. Means we are able to move the subtitle, up/down and only on the right side of the player. We are not able to move it on the left side.

We tried touching the `line`, `lineType`, `lineAnchor` and `position`, `positionAnchor`. We could move it on percentage(fractional) basis using  `line`, `lineType` vertically and by using `positi

[2020-04-22 13:30] jakoss commented on #7193
I came up with this:
[code]
Method `startPlayback` is called before preparing new mediaSource. Method `setFirstQueueItem` is called in the moment i know which track is played first.

It doesn't crash and it sometimes gives a proper results. But, sometimes (seems like one in 3 trials) it reports zero time on playlist change.

Sometimes it works properly:
[code]

But sometimes it still returns "zero

[2020-04-22 13:50] stari4ek opened #7279 "Provide ForwardingMediaSource to simplify custom implementations"
### [REQUIRED] Use case description
Current implementation of `HlsMediaSource` starts with default position:

So, if HLS has lots of segments or they are long enough - default start position will be pretty far from it's 0. This is desired behavior when playing "live" media.
But, for example, "catchup" of IPTV services is implemented in the way, when url identifies specific time (wall clock), and w

[2020-04-22 13:52] stari4ek commented on #7279
Proof of concept implementation looks like:
[code]

[2020-04-22 14:38] icbaker commented on #7243
Sounds strange - it sounds like maybe the SubtitleView isn't the full width of the video viewport for some reason. You might be able to connect the Android Studio [layout inspector](https://developer.android.com/studio/debug/layout-inspector) and see if anything odd is going on.

Have you made these `PlayerView` changes in your own app or in a version of the demo app? You could try making the same

[2020-04-22 15:00] stari4ek commented on #7279
Another one, purely on `BaseMediaSource`
[code]

[2020-04-22 16:31] kim-vde commented on #7273
There is indeed a bug in the code because we assume that the `SampleQueue` is always consumed by the playback thread (which has a looper), while in this case it is consumed by the loader thread (which does not have a looper). Thanks for reporting the issue. We will fix it in a near future.

If you want to make a quick fix in your current version of ExoPlayer, what you can do is to execute the code

[2020-04-22 18:04] jruesga commented on #5978
I developed my own implementation of ExoPlayer parallelization segments here (https://github.com/jruesga/ExoPlayer/commits/parallel-chunks-downloads), just in case anyone want to test it. It's  currently based on r2.10.8, but includes the "merge segment" patch, so I think is easy portable to the stable and dev branches.

Seems to work quite nice, and  I'm observing systematically lower download ti

[2020-04-22 18:52] nemsis110 commented on #7277
I have fixed the problem and it was my mistake to be honest

the problem was that the API that i use to fetch movie is providing me with subtitle that is as well protected with this md5 hash security key
so by disabling the loading of subtitle the app stooped crashing and video loaded correctly.
i was not wrong posting my problem here as by pointing that the error is about file open not httpdataso

[2020-04-22 22:04] ojw28 commented on #7270
I tried forcing L3 in the demo app, and it makes the orientation change look identical to the animation that occurs for non-DRM protected content. I did this by modifying [this piece of code in the demo app](https://github.com/google/ExoPlayer/blob/r2.11.4/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L493) to look like this instead:
[code]
I'm not quite certain w

[2020-04-22 23:36] jt64 commented on #6654
This is the information we received from Samsung:

First of all, I cannot find any widevine related log from dumpstate.
I wanted to see kernel log when TA returns "0x6000" error. But, it seems that user just executes dumpdate without testing widevine.

But, I can see below in kernel log.

[code]

According to above log, system tried to verify kernel but it failed.
This log is from Samsung Mobile's

[2020-04-23 01:08] #7140 closed, assigned to ojw28

[2020-04-23 01:08] #7130 closed, assigned to ojw28

[2020-04-23 02:24] Romantic-LiXuefeng commented on #5978
@janeriksamsonsen Thanks for your good work. I have tested, It woks nice.    Can you tell me what's the tools are you using to measured the download times?
<img width="1675" alt="80016459-0ed09680-84cb-11ea-87c3-cf03d20487bd" src="https://user-images.githubusercontent.com/9837705/80051937-08363380-854c-11ea-8be4-d7a60732df33.png">

[2020-04-23 03:36] tsaezmirada commented on #6654
Thanks @jt64 for the feedback,

Is there any solution we can provide to the customer? Probably the mobile is rooted....

[2020-04-23 04:43] naseeb8950925214 commented on #7140
Hi oliver, on which devices you have tried playing this video. On some
devices, I am also not able to reproduce this kind of problem.

On Thu, 23 Apr, 2020, 6:38 am Google Open Source Bot, <
notifications@github.com> wrote:

[2020-04-23 04:44] Tom-and-Jim opened #7280 "A HLS url works in vlc or other players,but being stuck with exoplayer"
### [REQUIRED] Searched documentation and issues
Get started andl hls parts.

### [REQUIRED] Question
http://47.97.61.149:8080/live/NVR-000061900813/1_1_0.m3u8

I get this url whick doesn't work with exoplayer,but it work well in vlc and chrome with 'play hls' plugin.And it's ts file cannot be play with exoplayer too.

### A full bug report captured from the device
[code]
### Link to test content

[2020-04-23 04:49] Tom-and-Jim commented on #7280
I guess there maybe some problems with the ts file,because the vlc progress bar jumps, 0,2,4,6....
And the normal ts file looks like 0,1,2,3.....
I don't know what's the problem ,who can help me,plz

[2020-04-23 05:20] janeriksamsonsen commented on #5978
@Romantic-LiXuefeng, you can get detailed information about HTTP-requests in an Android app by using Stetho https://github.com/facebook/stetho. Timings can then be viewed in chrome://inspect.

[2020-04-23 06:18] GouravSna commented on #7243
Hi @icbaker, I have shared the modified exoplayer code on the mentioned email id with subject `Issue #7243`. I have mentioned which media to test. The media has subtitles. The code is from `release-v2` branch.

I checked the same snippet in `PlayerView`  in `onCues`, i found the same behavior.

One more thing, i can see in `dev-v2`, this month there are couple of changes where all the cue's constr

[2020-04-23 07:37] kabhay commented on #7268
Although MSE EME is for playing media from a browser, my request here was to see if ExoPlayer can expose a elementary stream source which can be used by the applications handling the demuxing themselves. If you need any further information, please let me know.

[2020-04-23 09:10] kim-vde commented on #7279
Can you clarify why you would extend `CompositeMediaSource` or `BaseMediaSource` instead of `MediaSource` (as in [#2403](https://github.com/google/ExoPlayer/issues/2403#issuecomment-330955125))?

[2020-04-23 09:12] icbaker commented on #7243
Thanks for the sample project - I think I know what's going on.

The subtitles in the stream you provided are WebVTT and don't explicitly set the `size` property (i.e. width for horizontal text). The WebVTT spec tells us to default to `size=100%` in this case (step 3 here: https://www.w3.org/TR/webvtt1/#processing-cue-settings).

Additionally the cues all have `alignment=middle` (i.e. centre the t

[2020-04-23 09:15] #7277 closed, assigned to icbaker

[2020-04-23 09:15] GouravSna commented on #7243
Will try your inputs and will let you know. Anyways thanks a lot for the details.

[2020-04-23 09:16] nsyedin opened #7281 "IMA extension doesn't play correctly VAST with 2 and more ads"
IMA extension doesn't play correctly VAST with 2+ ads. Second ad is skipped on pause/resume.
Steps to reproduce:
1. Get any VAST with 2 or more ads, for ex https://raw.githubusercontent.com/nsyedin/adtest/master/bug.xml (3 ads)
2. Finish 1st ad(skip or complete)
3. Ensure 2nd ad is loaded and displayed
3. Move application to background with Home button(or pause video)
4. Restore application(or res

[2020-04-23 09:23] Tom-and-Jim commented on #7280
I think maybe i catched the problem. [link](https://github.com/ossrs/srs/issues/1326)
They talk in chinese,you translate it.

[2020-04-23 09:35] kim-vde commented on #7280
A `PlaylistStuckException` is created in `DefaultHlsPlaylistTracker` [here](https://github.com/google/ExoPlayer/blob/cb51a1bfe6b679638f73de82bd48f6abd4c8252a/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/playlist/DefaultHlsPlaylistTracker.java#L641). I am investigating what is the cause of that.

Can you clarify what you think the problem is? Does your stream have an audio cha

[2020-04-23 09:36] stari4ek commented on #7279
Honestly speaking diving into whole sources/timelines/periods/windows is pretty hard stuff, when you have no experience with it. And since source code in the example is a bit out of date - I was looking for **existing** solutions, which wraps another MediaSource. So there were `SingleSampleMediaSource`, `ClippingMediaSource`, test implementation in `delegatingMediaSourceApproach` I started with.
M

[2020-04-23 09:49] Taranlayal10 commented on #7270
This resolves the issue. Thanks for your Support :)

[2020-04-23 10:23] stari4ek commented on #7279
ok, here is `MediaSource` based:
[code]

So it solves my problem, but I think that custom "default playback pos" strategy for HLS can be pretty useful.
And having some delegating media source base class would remove boilerplate and maybe simplify some existing implementations (`ClippingMediaSource`?)

[2020-04-23 10:50] marcbaechinger commented on #7268
Yeah, sorry my bad. I got confused by the Wikipedia article which was about MSE only not mentioning elementary streams. People of my team know about elementary streams and recognized my mistake. Sry about this, that's my fault so I reopened and you confirmed now. Thanks! I changed the title of the issue to reflect better that the enhancement is about elementary streams.

[2020-04-23 10:53] #7270 closed, assigned to ojw28

[2020-04-23 10:54] kabhay commented on #7268
Thank you Marc. My apologies too. Even I should have mentioned the subject as you have changed now.
And probably given MSE EME implementors can still use ExoPlayer with elementary streams. Thanks again.

[2020-04-23 11:00] kim-vde commented on #7280
The individual TS streams fail when played with ExoPlayer because the PMT (Program Mapping Tables) indicates the presence of an AAC elementary stream but there is no associate packet.

I also noticed that there is no #EXT-X-ENDLIST tag at the end of the playlist.

[2020-04-23 11:34] ojw28 commented on #7140
I think I was trying on a Samsung Galaxy device. Probably a Galaxy S8.

[2020-04-23 11:38] naseeb8950925214 commented on #7140
We are having few android boxes in which the content plays fine without
observing this black screen issue. In case of another few, we observer
lesser black screen and in case of reported device we can clearly observe
this as black screen appears for around 1 second

On Thu, Apr 23, 2020 at 5:05 PM Oliver Woodman <notifications@github.com>
wrote:

--
Thanks and Regards

Naseeb Singh

[2020-04-23 11:42] ycpysu2004 opened #7282 "av1 video with ima ads play failed"
[REQUIRED] Issue description

Use exo2.11.3 libgav1 to play av1 video and insert ima advertisement in the middle, mediacodec configure fails when playing mid-roll advertisement, showing that the surface cannot be connected

[REQUIRED] Reproduction steps
use exo demo， the uri info as below：
"name": "av1 mkv 480x270 Chimera-AV1-8bit-480x270-552kbps",
        "uri": "/mnt/sdcard/av1/Chimera-AV1-8bit-

[2020-04-23 14:09] kim-vde commented on #7279
- About adding a `CustomStartPositionMediaSource`: I will mark this issue as duplicate of #6373 (as a single media item is a special case of a playlist).
- About adding a `ForwardingMediaSource` in order to simplify custom media sources: @tonihei, can you give your opinion on that? Do you think this would be helpful for many use cases?

[2020-04-23 14:30] tonihei commented on #7279
But, looking to ClippingMediaSource I was thinking why it's based on CompositeMediaSource and if there is any real need in it, cause it looks like wrapping source, but there is no ready-to-use base class for it.

When wrapping one or more other media sources you should use `CompositeMediaSource` (as in your first code example) because it takes care of some event forwarding logic and does not reinv

[2020-04-23 14:43] stari4ek commented on #7279
@tonihei, there is message forwarding in `CompositeMediaSource`, but all of messages come from `MediaSourceEventListener`, `DrmSessionEventListener`. So, I'd expect that all of it is covered with  direct forwarding of `add|removeEventListener`, `add|removeDrmEventListener` to wrapped source.
Please correct me if I'm wrong here.

[2020-04-23 14:48] kim-vde commented on #7282
Can you please provide a link to the mp4 test content?
If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2020-04-23 15:32] christosts commented on #6348
Nice to to see improvements! We are still evaluating those modes internally, and we haven't had the opportunity (and backing data) to plan additional steps yet.

Since you have a device, may I ask you to try the following? Can you please try increasing the [hardcoded earlyUs threshold](https://github.com/google/ExoPlayer/blob/dc33c0bdfb0fd4208b2932108edd1ae31a5de0ee/library/core/src/main/java/com/

[2020-04-23 17:08] tonihei commented on #7278
Yes, definitely! That's what it was designed for.

Not sure if it is intentional, but this setup delivers the messages on the playback thread. If you rather like them to be delivered on another thread (e.g. the main thread), please use `PlayerMessage.setHandler`.

Can you provide code snippets for each step and additional notes if other thread etc are involved? Some steps are a bit ambiguous based

[2020-04-23 17:11] tonihei commented on #7279
Should probably work. It's still easier to rely on an existing wrapper for boilerplate code mostly because code changes in the future will automatically update the base classes, whereas if you implement the interface directly, you need to update your implementation manually.

[2020-04-23 17:16] tonihei commented on #7193
There are already events triggered by `exoplayer.prepare` that may set the `eventTime` value you receive in the callback. I think you need to call the `setFirstQueueItem` earlier. Ideally at the same time you add the the new `PlaybackStatsListener` as a listener (i.e. in `startPlayback()`).

Thanks for trying this out by the way and reporting these subtle issues! It will hopefully get a lot easier

[2020-04-23 19:37] tonihei commented on #7256
Please see my answer above, you need to use `PriorityTaskManager` to make sure playback has priority over background caching/downloading.

Not sure what you mean that exactly, but if it is `CacheUtil.cache`, then you can also pass in the `PriorityTaskManager` in there.

[2020-04-23 19:45] MikeChenMM commented on #7267
I'm author of MakeMKV. For the record, I 'm  willing to provide any help to make this happen.

Now, few points:
"Matroska standard" is de-facto non-existent thing and is very outdated. :(
Dolby Vision is not a separate codec, but rather a (HEVC) stream extension - DV data (EL+RPU) are encoded in separate NAL units, according to Dolby spec.
The presence of DV data can be checked by several differen

[2020-04-24 01:20] ycpysu2004 commented on #7282
May I ask what information is needed, I provided the information as requested, I do n’t know what else is missing

[2020-04-24 01:21] ycpysu2004 commented on #7282
Use a local av1 video, add an ad tag, it is easy to reproduce

[2020-04-24 05:39] literaturesharingforvi opened #7283 "how to pause and resume player when incomeing call or outgoing call activity happens"
please help me to pause player when incomeing or outgoing call happens and resume playback after finishing them.

what should i do to resolve it.

[2020-04-24 06:23] nsesh opened #7284 "[Fire TV Stick (model AFTT)] pause/resume issue while playing eac3 content on dolby supported sink"
Hi,
Downloaded Exoplayer v2.11.3 and tested the demo app on FireTV Stick (2nd Gen), model: AFTT.
Please note apart from editing JSON, we didn't make any changes.

FireTV stick is connected to TV (or AVR) that supports Dolby Digital or Dolby Digital Plus. FireTV audio settings is in "auto" mode.

During playback, when we press "pause", the video is pausing immediately but not the Audio. Audio keeps

[2020-04-24 06:26] nsesh commented on #7284
[dash_dd_logcat.txt](https://github.com/google/ExoPlayer/files/4527037/dash_dd_logcat.txt)

[2020-04-24 06:26] #7284 closed, assigned to ojw28

[2020-04-24 06:48] silvershort opened #7285 "How to make a thumbnail of a local video?"
https://i.stack.imgur.com/pC4rn.jpg

I am trying to implement a seekbar using a thumbnail like the link above.

To implement the function, need to import thumbnail of the video.

How to extract thumbnail images from local video?

[2020-04-24 06:53] #7255 closed, assigned to marcbaechinger

[2020-04-24 06:54] marctan commented on #7255
I've ended up using local broadcast to get the token tnx

[2020-04-24 07:07] nsesh commented on #7284
Apologize, this is not right branch. Raised this issue in Amazon port of Exoplayer branch.
https://github.com/amzn/exoplayer-amazon-port/issues/102

[2020-04-24 07:50] kim-vde commented on #7282
You don't need to provide more information. I was unable to reproduce but it was my mistake. I can reproduce now. Sorry for the inconvenience.

[2020-04-24 08:27] jakoss commented on #7193
I changed my code to this:
[code]

Unfortunetely i see no difference in behavior here.

This is not critical for us since we have our own playback listener (much more primitive, but battle tested). I would love to migrate it to supported solution from exoplayer nonetheless. If 2.11 won't work - i will happily test 2.12 :)

[2020-04-24 09:37] kim-vde commented on #7283
Does setting the audio attributes content type to [`CONTENT_TYPE_SPEECH`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/C.html#CONTENT_TYPE_SPEECH) solve your problem (see [`setAudioAttributes()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#setAudioAttributes-com.google.android.exoplayer2.audio.AudioAttributes-boolean-) and [`setConten

[2020-04-24 09:47] literaturesharingforvi commented on #7283
Can you explain more about that?
How to implement it because I am new to Android

[2020-04-24 10:17] kim-vde commented on #7283
For unknown content type:
[code]

For speech content type:
[code]

You can also set another content type to correspond to the content played by your app.

[2020-04-24 10:24] andrewlewis commented on #7008
I think this is probably the right way to solve the problem for now. It seems the IMA SDK is intercepting the events as you say, and so the ExoPlayer player view doesn't know to toggle control visibility, so you need to handle IMA's events and propagate those to the player view yourself. I will close this now as you have a way to make it work, and it seems that making it easier will require us to

[2020-04-24 10:24] #7008 closed, assigned to andrewlewis

[2020-04-24 10:32] ycpysu2004 commented on #7282
Thanks, looking forward to your reply

[2020-04-24 11:21] literaturesharingforvi commented on #7283
this is my code, what should i impliment

import android.app.PendingIntent;
import android.content.Context;
import android.content.Intent;
import android.graphics.Bitmap;
import android.graphics.BitmapFactory;
import android.net.Uri;
import android.speech.tts.TextToSpeech;
import android.support.annotation.Nullable;
import android.support.v4.app.NotificationCompat;
import android.support.v7.app.Ap

[2020-04-24 11:38] marcbaechinger commented on #6814
Closing this issue due to inactivity. Please reopen if required.

[2020-04-24 11:38] #6814 closed, assigned to marcbaechinger

[2020-04-24 12:22] ojw28 commented on #5978
@jruesga - I don't think what you're doing with cache keys is valid. It's a fundamental property of a cache key that it should be independent to the request position. As an example of something that I think probably happens with your changes, suppose two segments (A) and (B) are merged by the segment merging functionality in the downloader. They'll both end up being cached under a key suffixed wit

[2020-04-24 12:31] jruesga commented on #5978
@ojw28 thank you so much for your feedback.

[2020-04-24 13:40] kim-vde commented on #3609
Just adding a clarification for #7285: this API would also support video thumbnail extraction.

[2020-04-24 13:40] kim-vde commented on #7285
This is currently not possible with ExoPlayer. We already have an enhancement for providing a metadata extraction API (#3609).

[2020-04-24 13:42] kim-vde commented on #7285
Duplicate of #3609.

[2020-04-24 13:42] #7285 closed, assigned to kim-vde

[2020-04-24 14:50] ojw28 commented on #5978
No worries! We'll be merging changes to add parallel segment downloads to the `dev-v2` very soon. They don't look too different to what you've done, except we'll be allowing the application to inject an `Executor` from the top level, and drip feeding it with `Runnable`s in a way that makes it possible for an application to use the same background executor that it might be using for other download

[2020-04-24 15:05] tonihei commented on #5660
We now support pausing at the end of media items (that is, at the last frame) using `exoplayer.setPauseAtEndOfMediaItem`.

I'll leave this issue open for the more general feature to pause at arbitrary exact frame positions. As most requests have been for last frame pausing, I'll mark this enhancement as low priority for now.

[2020-04-24 16:53] Kamil-H commented on #7278
@tonihei thank you for your answer. I decided to create a simple project that demonstrates a problem:
https://github.com/Kamil-H/ExoPlayer-Crash
Basically it's a simplified version of setup of the app I'm working on currently.
Steps to reproduce a problem:
1. Run the app
2. Switch to "Voyage I - Waterfall"
3. Switch to next
4. Swipe to delete "Voyage I - Waterfall"
5. Undo this removal with a butt

[2020-04-24 17:39] kim-vde commented on #7282
This is indeed a bug. Thanks for reporting it.

The problem occurs because the same `Surface` is used for rendering with `Libgav1VideoRenderer` and then with `MediaCodecVideoRenderer`.

To overcome this issue in the short term, you can use 2 `SurfaceView`s (changing their z-order as needed) and pass each underlying `Surface` to the appropriate renderer (for example by sending a message of type `Re

[2020-04-24 17:44] kim-vde commented on #7283
You should do that in `initializePlayer()`.

[2020-04-24 17:45] literaturesharingforvi commented on #7283
Ok thanks

[2020-04-24 17:59] ptvandi commented on #6962
I had this issue when running the Android Studio emulator. To resolve my problem, I bumped the RAM in the AVD manager (just guessed the amount, went from about 1.5GB to 3GB).

[2020-04-24 20:31] cogira commented on #7267
Really very interested in this. Hope that will soon be implemented in the exoplayer. Thanks.

[2020-04-24 21:00] Grencola commented on #7267
1000% YES!! If you need any assistance at all I will gladly help make this happen!

[2020-04-24 22:06] killmyrene opened #7286 "What to customize to support DRM key reusability?"
### Searched documentation and issues
https://medium.com/google-exoplayer/improved-decoder-reuse-in-exoplayer-ef4c6d99591d

https://github.com/google/ExoPlayer/issues/949

### What to customize to support DRM key reusability?
I'm looking for ways to customize exoplayer to allow drm key (my case its Widevine) to be reused in case that the player retries/replays a streaming content to reduce startup

[2020-04-24 23:29] pervin11111 commented on #7267
Honestly, I would love to see this implementation. I am so used to packing chapters, subtitles in MKV.

[2020-04-25 00:39] januswa commented on #7163
When it was getting stuck, it was in buffering state. So, in ExoPlayerImplInternal.java, in doSomeWork(), I forced the renderer.isReady() to be true so that renderersAllowPlayback becomes true. In that case, it falls into the following section of code and sets the state to 'Ready':
else if (playbackInfo.playbackState == Player.STATE_BUFFERING  && shouldTransitionToReadyState(renderersAllowPlayback

[2020-04-25 03:02] ddogishere commented on #7267
I'm also registering my interest as this will be epic Thx

[2020-04-25 03:07] vickyexpert opened #7287 "Play custom encrypted video from Server"
I have a video file encrypted manually from our backend team. This video is on the server, I have to fetch the link runtime and start streaming on ExoPlayer. I don't have to download it and store it locally and all. Just while user clicks on play video I just have to check URL and then using that URL start video play in Exo player.
Earlier I have made this working for a local file. I have cipher w

[2020-04-25 09:37] kcxserver commented on #7267
yes it would be wonderful if the exoplayer could play dv in mkv! 😍

[2020-04-25 18:31] doctorsirius commented on #7267
It's also important to note that current support of DV on .ts files doesn't work combined with the use of PGS subtitles, this should be also tested while it is implemented. It works for HDR but not for DV.

[2020-04-25 21:08] Wampaa commented on #7267
Hi @MikeChenMM thanks for your work on MakeMKV and on DolbyVision support!

The Matroska specifications are an ongoing effort by the [cellar working group](https://datatracker.ietf.org/wg/cellar/about/) at the IETF, in its current state it is composed of:

- Matroska Media Container Format Specifications - https://www.ietf.org/id/draft-ietf-cellar-matroska-05.txt
- Matroska Media Container Codec S

[2020-04-26 00:34] ycpysu2004 commented on #7282
Thank you for your reply, I have a few questions
1. I found that if you play the ad before playing the av1 video, the native window can be disconnected when the mediacodec instance is released, so the av1 video can be played normally, but if the av1 video has been played and then the ad is played, then the av1 side cannot disconnect native window, so my question is can we find a way to disconnect

[2020-04-26 01:08] #7152 closed, assigned to ojw28

[2020-04-26 01:08] #7149 closed, assigned to ojw28

[2020-04-26 01:08] #6516 closed, assigned to christosts

[2020-04-26 04:26] pawaom opened #7288 "how do we pause player when headset or bluetooth is disconnected and play when reconnected"
how do we pause player when headset or bluetooth is disconnected and play when reconnected

I am using this code

[code]

I have referred this

https://www.youtube.com/watch?v=svdq1BWl4r8

I have come across this

https://stackoverflow.com/questions/52133798/pause-exoplayer-when-headphones-unplugged

Is there an inbuilt functionality that we can use to pause/play player when headset or bluetooth i

[2020-04-26 09:08] RowlandOti commented on #7194
Hi, @waqasyousafy  how did you resolve the issue. I am facing similar issues with a visualiser where the audioSessioId sometimes returns 0. Is it that it is set a little bit later sometimes when clicking next song?

[2020-04-26 13:07] RowlandOti commented on #7194
Had to use:

[code]

as it actually gets called when the session id gets set.  Just calling `player?.audioSessionId` would leave you with `C.AUDIO_SESSION_ID_UNSET` which is 0.

[2020-04-26 14:01] noamtamim commented on #5804
Hi @ojw28, is there a plan to work on this feature in the near future?

[2020-04-26 16:03] vasusachin opened #7289 "Exoplayer 2.6.1 Audio and Subtitle Group Support"
Before filing a question:
-----------------------
Couldn't find answers in Search

When filing a question:
-----------------------
### [REQUIRED] Searched documentation and issues
Yes

### [REQUIRED] Question
We are using Exoplayer Version 2.6.1.
Please let us know whether below Subtitle and Audio Group in a single **HLS Stream** is supported ?
Same data is available in attached excel sheet also.

[2020-04-26 23:33] Stonos commented on #6348
I've noticed an improvement with `OPERATION_MODE_ASYNCHRONOUS_DEDICATED_THREAD_MULTI_LOCK_ASYNCHRONOUS_QUEUEING` on 1080p 50fps stream with a Xiaomi Redmi Note 8 Pro. However, there is still noticeable stuttering.

I also tried increasing the `earlyUs` threshold mentioned above to `200000`, but unfortunately I didn't notice any improvement.

One interesting thing that I've noticed is that if I rep

[2020-04-27 01:03] silvershort commented on #7285
thank you

[2020-04-27 03:50] linhttbk opened #7290 "Cannot play mp3 file from local storage"
I have local mp3 file with uri path: content://mypackagename.provider/external_files/Android/data/co.unstatic.summerian/files/Download/MyApp/mp3folder/WuV4ncJXVD2Ck1u77lP8.mp3
When i used virtutal devices such as Pixel 2 ( Android 10.0) it's worked properly. But when I run on my devices ( Xiaomi Redmi 5 Plus Android 8.1  or Xiaomi redmi go Android 8.1) I got this error.
com.google.android.exoplaye

[2020-04-27 04:00] BraveFlame opened #7291 "Can't play the mp4 file on MMS attachment"
Dears,

When I receive a MMS with a mp4 attachment, I click it and choose a local video-app which use EXO-2.9.6 player to play, and it is failed. However, if I choose the gallery-app that use media-player or another video-app that use IJK-player, it is successful.

The mms uri is 'content:/mms/part/2', the failed log is:
E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upst

[2020-04-27 04:26] allen218 opened #7292 "Can not the exoplayer support for android api 19?"
### [REQUIRED] Question
It can play the video by the exoplayer for android 25, but it can't work at the android 19, why?

The error detail:
[code]

[2020-04-27 06:46] ThunderSoft123 opened #7293 "Test HDCP with ExoPlayer issue "WVCdm : Decrypt error result in session sid28 during encrypted block: 179""
System version: Android 10
Chipset: SDM-450
Sink: WFD-dongle (HDCP 1.x).
The "HDCP: 1.0 required" can display DRM video in WFD-dongle, but the "HDCP: 2.0 required", "HDCP: 2.1 required" and "HDCP: 2.2 required" don't display DRM video in WFD-dongle.

[2020-04-27 06:50] ThunderSoft123 commented on #7293
However, the Sony phone Xperia can display DRM video in WFD-dongle with "HDCP: 1.0 required", "HDCP: 2.0 required", "HDCP: 2.1 required".

[2020-04-27 07:29] andrewlewis commented on #7170
Tracked by [Internal: b/144008313].

[2020-04-27 07:38] andrewlewis commented on #7281
I think this is a bug with preloading in the IMA SDK (already tracked by #4140) that will be fixed as part of upgrading to use new preloading APIs (that is tracked by #6429). I will mark this as a duplicate of #4140 for now.

[2020-04-27 07:38] andrewlewis commented on #7281
Duplicate of #4140

[2020-04-27 07:38] #7281 closed, assigned to andrewlewis

[2020-04-27 07:39] stari4ek opened #7294 "Constant frame drops on TCL for AVC/mp2"
### [REQUIRED] Issue description
ExoPlayer have constant frame drops when playing mpeg-ts with AVC/mp2/ac3, while other players using same decoder (`OMX.realtek.video.decoder`) play video well.
Audio goes through ffmpeg, since device does not have mp2 decoder, but it plays well.

[code]

There're ACodec drops in logcat:
[code]

* Playing in ExoPlayer demo: https://drive.google.com/open?id=1-h6iFqE

[2020-04-27 08:06] andrewlewis commented on #6429
@fpittersacc For the activity leak issue, it looks like the ad overlay view is leaking via the ads manager even though `AdsManager.destroy` is being called. I have filed a bug [internal ref: b/155041144] to ask the IMA SDK team to take a look. Thanks for reporting.

[2020-04-27 08:18] andrewlewis commented on #7002
@nishantkp Sorry for the delay and auto-closing of this issue. I was wondering if you could confirm whether you are still seeing this issue? As far as I know midrolls are playing correctly at the moment. Thanks.

[2020-04-27 08:27] #7291 closed, assigned to ojw28

[2020-04-27 08:27] BraveFlame commented on #7291
Sorry, It is my issue, I use Uri.encode(url).

[2020-04-27 08:59] #7280 closed, assigned to kim-vde

[2020-04-27 08:59] #7283 closed, assigned to kim-vde

[2020-04-27 09:17] icbaker commented on #7238
Closing due to inactivity. Feel free to re-open if you need action from the ExoPlayer team, or continue to post your findings on the closed issue for future readers.

[2020-04-27 09:17] #7238 closed, assigned to icbaker

[2020-04-27 09:22] harshmittal29 opened #7295 "Casting failure for M3u8 files"
### [REQUIRED] Issue description
When executing some of the URL's I am getting following error.

I am using HLS (.m3u8) URL's to be played on Exoplayer and casting them to cast receiver.
URL's plays fine on Exoplayer but throws below error when cast.

### [REQUIRED] Reproduction steps
My code :

[code]

[code]

### [REQUIRED] Link to test content
Emailed you the content URL

### [REQUIRED] Version

[2020-04-27 09:45] icbaker commented on #6950
This is now available in `dev-v2`

[2020-04-27 09:45] #6950 closed, assigned to icbaker

[2020-04-27 10:37] stefan-zh opened #7296 "[Cast extension] Support casting while in background"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/5801

### [REQUIRED] Question
I am using ExoPlayer and its Cast extension to play media content on a Chromecast receiver. Using Google's [tutorial](https://codelabs.developers.google.com/codelabs/cast-videos-android/index.html#5) on how to enable an application for Cast, I found out that when an application

[2020-04-27 10:39] kim-vde commented on #7282
1. Yes, the problem only occurs from `Libgav1VideoRenderer` to `MediaCodecVideoRenderer`, and not the other way around. We are still investigating how to solve this in ExoPlayer, so that the app developers will not have to worry about it. The corresponding commit reference will automatically be added to this issue when the fix is available.
2. Same as 1.
3. Yes, it is a good workaround!

[2020-04-27 11:02] icbaker commented on #7181
This is available in dev-v2.

[2020-04-27 11:02] #7181 closed, assigned to icbaker

[2020-04-27 11:22] jinfanzon opened #7297 "Always restart stream on error and avoid ANR"
### Searched documentation and issues
The main guide I followed to try to always restart HLS stream on error is the blog written by @AquilesCanta:
https://medium.com/google-exoplayer/load-error-handling-in-exoplayer-488ab6908137

### Question
I'm developing an app that it always has to restart the HLS stream when an error occurs. The app runs 24/7 streaming a live channel. I've tried to use the de

[2020-04-27 11:51] GouravSna commented on #7243
Thanks @icbaker , you solution and suggestions worked.

[2020-04-27 11:51] #7243 closed, assigned to icbaker

[2020-04-27 11:56] mzonov opened #7298 "How to implement a callback after every track is listened in ConcatenatingMediaSource?"
Hello. I've implemented concatenating of tracks with `ConcatenatingMediaSource`. But I need to know with some listener that track is listened.

For example, I have **3 tracks** and it needs to implement a callback immediately after the next track was listened to. How can I implement it?

P.S. There is `onPlayerStateChanged` with `Player.STATE_ENDED` state but it triggers after all tracks were list

[2020-04-27 12:07] tonihei commented on #7278
Thanks a lot for the reproduction steps and the project. I can reproduce the problem and will provide a fix.

[2020-04-27 12:09] Kamil-H commented on #7278
Thank you.

[2020-04-27 13:21] ojw28 commented on #5804
We don't have any time allocated to this in Q2, sorry. I doubt we'll have time in Q3 either.

[2020-04-27 14:02] aureobeck commented on #7206
Any updates on this @marcbaechinger ? We are open to help investigating the issue, I think this could be solved on Exoplayer's side, let me know, thanks!

[2020-04-27 14:59] christosts commented on #7287
Can you please explain exactly how you are trying to decrypt the file in both setups, the local (which is working) and the remote?

For example, I assume you are using the [AesCipherDataSource](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/crypto/AesCipherDataSource.html) in both cases, right? How are you creating the AesCipherDataSource for local files and for the rem

[2020-04-27 15:22] andrewlewis commented on #7288
For pausing when audio is becoming noisy (headset/bluetooth disconnect), please try `SimpleExoPlayer.setHandleAudioBecomingNoisy(true)` (added in ExoPlayer 2.11.0).

For resuming when a headset or Bluetooth audio device is connected, we don't currently provide automatic handling for that (for the vast majority of use cases it would be preferable to have the user choose to unpause if some time has

[2020-04-27 15:22] #7288 closed, assigned to andrewlewis

[2020-04-27 15:43] AquilesCanta commented on #7289
I don't think SMPTE-TT is supported by the [HLS specification](https://tools.ietf.org/html/rfc8216). Please clarify if you think i'm wrong. I did find what seems to be an [unofficial RFC](https://tools.ietf.org/html/draft-smpte-id3-http-live-streaming-00) for this, however. ExoPlayer should support all the webvtt subtitles, and you should be able to get grouping information from the [HlsTrackMetad

[2020-04-27 16:17] nigelmegitt commented on #7289
I'd suggest using IMSC in place of SMPTE-TT since my understanding is that Apple now supports IMSC (wrapped in fragmented MP4 "ISO BMFF") in HLS. IMSC has a large overlap with SMPTE-TT.

[2020-04-27 16:49] naintrakusam opened #7299 "ExoPlayerView swiping in Vertical ViewPager"
Hi, I am implementing custom vertical viewpager with PlayerView on each page.
It works very well until I start swiping. During swiping the PlayerView's content disappears until I finish swiping. Then video is again displayed. I can still hear the sounds from video, so issue is just displaying it during swiping.

Please note I dont have this issue with default native horizontal viewpager.

Please s

[2020-04-27 17:36] christosts commented on #7290
I tested the attached mp3 file and it works fine with the ExoPlayer demo app on a few devices I have handy (Pixel 2, One Plus 3T, Samsung S9), but they all have a newer Android version than 8.

Can you please test your file with the ExoPlayer demo app to see if that works? That would at least verify that vanilla ExoPlayer can play the file on the specific Xiaomi devices.

Note, I loaded the file d

[2020-04-27 17:43] freemanspace opened #7300 "Exoplayer play DASH offline Please Help"
//--------------------------------------------------------------------
Question

i use exoplayer 2.7.3 can download and play back will
but when i use exoplayer 2.11.3 or 2.11.4, i still can download, but cant play back
could any body help me

Logcat will show below

com.example.drmsample E/ExoPlayerImplInternal: Source error.
com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceExce

[2020-04-27 17:48] christosts commented on #7292
Please provide more information as requested in the issue template
[here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md),  including the ExoPlayer version you are using, the device the error occurs, the test content and a bug-report.

If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in th

[2020-04-27 19:39] naintrakusam commented on #7299
Guys, I have found 100% solution. You just need to get rid of custom ViewPager.
All you need to do is implement ViewPager2 which is part of androidx and just set 👍 android:orientation="vertical"

[2020-04-28 00:40] rrfrias commented on #4329
Hi @sergiomartinez4, sorry for the long delay. We have checked with Kyocera and they have no changes on the branch that they are using which should explain the difference in behavior between devices. Since this is an older release it is unlikely that Kyocera will issue an update. Can you let us know if you see similar behavior with a device running a more recent release?

[2020-04-28 02:21] mrqinshou opened #7301 "Unsupported media is not detected and MediaCodec renderer raises exception"
-- **Edited by christosts** --

When trying to play this MP4 file
[http://www.mrqinshou.com:7000/file/img/tmp.mp4](http://www.mrqinshou.com:7000/file/img/tmp.mp4)

ExoPlayer detects that it can be played by the MediaCodecRenderer, event logger output

[code]

but later the MediaCodec raises an excpetion, with the following stacktrace

<details>
  <summary>some title</summary>
[code]
</details>

Th

[2020-04-28 02:25] #7254 closed, assigned to icbaker

[2020-04-28 06:48] vickyexpert commented on #7287
Actually I have tried with local file streaming only, and for that, I am using the below example and it is working fine for me.

http://blog.moagrius.com/android/android-play-encrypted-video-in-exoplayer/
[http://blog.moagrius.com/android/android-play-encrypted-video-in-exoplayer/]Offline Video

But now we are not supporting offline videos, so we have a button like play video and to that button, t

[2020-04-28 06:50] vickyexpert commented on #7287
See below logic:

[code]

[2020-04-28 08:35] #7300 closed, assigned to ojw28

[2020-04-28 08:36] freemanspace commented on #7300
trable fixed

[2020-04-28 09:07] hujiaweibujidao opened #7302 "The screen is black when playing this m3u8 file but System Media Player is OK"
### [REQUIRED] Issue description
When I play this video(`http://live.xiaoding110.com/hls/homp.m3u8`) using System Media Player it's OK, but when I use ExoPlayer 2.11.4, the srceen is black and nothing wrong reported from log.

### [REQUIRED] Reproduction steps
Add this video src(`http://live.xiaoding110.com/hls/homp.m3u8`) into the demo application's `assets/media.exolist.json` file, and run `demo

[2020-04-28 09:21] linhttbk commented on #7290
I just checked my local file, it seem lack some information. I also tested other local file and it works fine. So i would closed this issue. Thank for your help!

[2020-04-28 09:21] #7290 closed, assigned to christosts

[2020-04-28 09:27] AChep opened #7303 "DefaultTimeBar ignores touch transformations"
https://github.com/google/ExoPlayer/blob/7d3f54a375fac04a746ca76a8f2e1ad32c8b45b2/library/ui/src/main/java/com/google/android/exoplayer2/ui/DefaultTimeBar.java#L757

Steps to reproduce:
1. Create `PlayerView` with a default time bar.
2. Create a container that transforms every touch event by translating it by 100 px.
3. `DefaultTimeBar` ignores the translation.

Steps to fix:
I believe that simply

[2020-04-28 11:02] krackjack234 commented on #7037
@andrewlewis  we also landed up with the same issue. However in this case we expected CONTENT_RESUME_REQUESTED to be called after LOG event which didnt happen. We are using IMA sdk v3.16.5. Is this the expected behavior?

Logs from IMA SDK
[code]

[2020-04-28 11:18] christosts commented on #7287
If you are re-using the code from the blog post you shared (http://blog.moagrius.com/android/android-play-encrypted-video-in-exoplayer/), then this will not work with the file stored on a web server because that code is reading strictly from the the filesystem.

In that piece of code, you have to start with changing the method `setupInputStream()` to open a connection with the server based on the

[2020-04-28 11:18] #7287 closed, assigned to christosts

[2020-04-28 12:06] christosts commented on #7293
Looks like the issue is coming from the device you are playing content and not from ExoPlayer, especially since you mention on the comment above that a Sony  Xperia can display the video (I assume you are using the same HDCP dongle).

I don't think we provide more information on this.

[2020-04-28 12:06] #7293 closed, assigned to christosts

[2020-04-28 12:43] mrj976 opened #7305 "Change Mediasource Before Play Exoplayer in MergingMediaSource"
Hi
I play simultaneously one video with multi sound in exoplayer and i have multi mediasources.
at first time all things is ok but in my app user can pause exoplayer and change audios(Add or Remove) and play(Resume) exoplayer.
My code for first preparing exoplayer:
[code]

And when i want play exoplayer use this code:
[code]

My codes work well but before playing video show black screen and then p

[2020-04-28 14:45] tuesda opened #7306 "Not allowed to start service, app is in background"
### [REQUIRED] Issue description
When disable foreground service, DownloadService restarting will trigger IllegalStateException, since app is in background, invoking startService is not permitted.

### [REQUIRED] Reproduction steps
- There is downloads in queue because of network requirement is not met
- app is in background
- network requirement is met
- restartService() trigger crash

### [REQUI

[2020-04-28 15:44] christosts commented on #7294
On the attached recoding, vfpo is very low (-200ms), which indicates the device is too slow on decoding the video frames. However, the attached logs also contain  `E ACodec  : dropped buffer - (apk discard)` which is not an ExoPlayer message but comes from the platform. This might also indicate there is something stressing the decoder on this TV.

To begin, can you verify from the TV logcat which

[2020-04-28 17:18] arangob opened #7307 "Media volume buttons won't work on ExoPlayer after exoPlayer.setVolume"
### Searched documentation and issues
I've looked on stackoverflow, ExoPlayer docs, Android developers responding to media buttons.

### Question
I am developing an app that sets the exoPlayer's volume to 0 if the device is on silent or vibrate.
If the user interacts with the volume buttons, then I want to the exoPlayer's volume to be set to the AudioManager volume.
Issue: After setting the volume

[2020-04-28 18:01] AquilesCanta commented on #7295
I suspect by throw you don't refer to an exception, but rather that it logs those provided lines.

I have reported the issue to the cast team, and will reach back once I have any responses from them. Thanks for your patience. [Internal ref: Originally b/144421854, then forked to b/156465430].

[2020-04-28 18:03] AquilesCanta commented on #7273
Please try the fix already available in the dev-v2 branch, referenced above. If you re-encounter the issue, just comment below, and I'll reopen. Thanks for reporting this!

[2020-04-28 18:03] #7273 closed, assigned to AquilesCanta

[2020-04-28 23:12] HiroyukiTamura commented on #6265
any updates?

[2020-04-29 02:38] ycpysu2004 commented on #7282
Thank you for your suggestions and look forward to the final solution！

[2020-04-29 02:43] harshmittal29 commented on #7295
@AquilesCanta The videos do not play and show the logs provided above. It happens for certain form videos with certain audio encoding. When I debugged more I noted the format of audio stream it fails to cast. Attaching below. I have also emailed with subject **Issue #7295** the video file for further diagnosis.

<img width="1190" alt="Extraordinary - audio codecs" src="https://user-images.githubus

[2020-04-29 05:18] vasusachin commented on #7289
Whether IMSC is supported in 2.6.1
I dont see it in Formats Supported

[2020-04-29 06:59] stari4ek commented on #7294
From the attached log:
[code]
So, I believe it uses `OMX.realtek.video.decoder` (It's hard to imaging that such low-spec device can handle AVC software decoding. Also it uses `ffmpeg` for audio decoding (as in ExoPlayer)

BTW, there is no `E ACodec : dropped buffer - (apk discard)` when playing using MXPlayer

[2020-04-29 07:29] Abu-Abdullah opened #7308 "Partially fragmented FMP4 file does not play correctly"
Hi,

the following file is working with native MediaPlayer but not Exoplayer:
http://maknoon.com/001.m4a

[2020-04-29 09:39] DorisGM opened #7309 "Support retrying network errors indefinitely"
### [REQUIRED] Issue description
When I played a video for a long time, maybe the network isn't good.so throw HttpDataSource$HttpDataSourceException: java.net.SocketTimeoutException: timeout when invoke read method. I want to catch this error at onPlayerError and to retry play .But I found i can't receive this error at this method. And after throw this error, exoplayer don't play anymore ,freeze a

[2020-04-29 10:13] mrj976 commented on #7305
Hi @tonihei
Can you help me?

[2020-04-29 10:15] AquilesCanta commented on #7295
Yeas, thanks @harshmittal29. I have sent a report to the cast team and will reach back once they reply. Since the issue occurs in the default receiver app, which the ExoPlayer team doesn't own, there is not much in our hands to do for debugging this.

[2020-04-29 11:06] 951AB159BA opened #7310 "Play M3U8 File Error"
[code]

[2020-04-29 11:45] AquilesCanta commented on #7296
When the decision to close the connection on release was made, I think we were following Cast's framework [best practices](https://developers.google.com/cast/docs/design_checklist/sender). I'll revisit this decision and reach back with either a change or an explanation. What I can tell you is that the current CastPlayer implementation would not gracefully pick up the receiver app's state when tran

[2020-04-29 12:35] Stonos commented on #6348
**Update:** CPU (or maybe GPU?) frequency definitely seems to play a role here.

Since it's known that [MediaTek cheats on benchmarks](https://www.anandtech.com/show/15703/mobile-benchmark-cheating-mediatek), and my device has a MediaTek SoC, I decided to take advantage of this to increase the CPU frequency (since my device is not rooted).

I changed my `applicationId` to one of a benchmark app, a

[2020-04-29 12:40] morpig commented on #7294
Hi @christosts,

Device owner here. For the second question, indeed it is running in 1280x720. However, I've no issues playing back 1080 content from YouTube and in this case, some IPTV channels. The stream above is captured from a UDP stream, which is used by telco providers for IPTV. I believe this is more a interlaced/progressive issue, because I am able to play some 1080 channels.

This is the

[2020-04-29 12:59] christosts commented on #7294
The first stream is using the AVC High Profile in interlaced mode, it is possible that this is causing issues. I don't understand from the descriptions if MXPlayer manages to play the same content (AVC High profile/interlaced) correctly, but I suggest you use AVC main profile in progressive.

https://developer.android.com/guide/topics/media/media-formats

[2020-04-29 13:00] asaadco opened #7311 "Exoplayer Download & Play Simultaneously"
### [REQUIRED] Searched documentation and issues
I have looked into Stackoverflow, ExoPlayer documentation and this repository for any similar issues but I didn't find any results.

### [REQUIRED] Question
I would like ExoPlayer to download a few, not necessarily in order, DASH segments through HTTP and read the rest locally from Cache folder. The goal here is to enable two people (Alice & Bob) to

[2020-04-29 13:03] radheyjat opened #7312 "Add support for MJPG format"
Add support for .mjpg streams

<details>
  <summary>original issue request</summary>
This is usecase come from i am trying to show Camera LiveView and some camera url is extention with .mjpg or some camera url with rtsp.
So need to Give support both cameras rtsp issue already opend but i need to support .mjpg url also
</details>

[2020-04-29 13:11] develophead opened #7313 "exo player in view pager2"
I am getting issues like multiple players are working.
I tried to solve this issue
-by removing the player view if  it exists and  setting the player view  to a frame layout in onBindViewHolder
- then I tried wit release player before setting player view
in both scenarios, I am failed to achieve the expected result

code:-
[code]

[2020-04-29 13:24] christosts commented on #7299
closing as it seems issue is solved!

[2020-04-29 13:24] #7299 closed, assigned to christosts

[2020-04-29 13:39] christosts commented on #7298
If you only want to know when an item in the list was played, listen to `onPositionDiscontinuity(int reason)`. If the reason is `DISCONTINUITY_REASON_PERIOD_TRANSITION`, it's a transition from one item to the next.

Note: This event is also triggered for transitions in a multi-period stream (live streaming), but I assume your items are not live-streams.

Closing this ticket, feel free to re-open i

[2020-04-29 13:39] #7298 closed, assigned to christosts

[2020-04-29 14:53] morpig commented on #7294
I tried re-encode it (the problematic stream) to main profile in progressive mode in ffmpeg with ```-vcodec libx264 -profile:v main```, and it played back properly in both Exoplayer and MX Player. But as an end-user who just consumes IPTV content, is there anything you can do without me re-encoding it in ffmpeg?

This is live TV, so it is impossible to re-encode all the channels that runs in inter

[2020-04-29 15:14] christosts commented on #7301
The provided mp4 file is encoded using the AVC `High 4:4:4 Predictive`. It is not guaranteed that such content will be playable using the platform's decoders, as the `Main Profile` is the only profiled required to work on Android
https://developer.android.com/guide/topics/media/media-formats#video-codecs

Please try to re-encode the content using the `Main Profile`.

[2020-04-29 15:56] christosts commented on #7301
I do see on the exoplayer event logger however that it is not clearly detected that the media is unsupported or exceeds the device capabilities. I am keeping this issue open to track a fix on this.

[2020-04-29 16:57] josequintana94 opened #7314 "ExoPlayer sometimes returns negative duration for an mp3 file from url"
### [REQUIRED] Issue description
I'm making an app where I play .mp3 files from the URL. I'm using the latest version of ExoPlayer 2.11.4.

What I need to do is get the total duration of the audio from the url so I can use it in my custom audio player.

The urls I'm using are of this type: https://prepublish.f.qaotic.net/media/vod/legacy-audio/c5c3478127f5e50e49b50a3846afe884-1588170579-56e4bd3f35

[2020-04-29 18:37] amiantoch commented on #7168
Hi,
the same issue can be seen in our Crashlytics logs as well, since we updated from ExoPlayer version 2.10.6 to 2.11.3.

Stacktrace:
[code]

Judging by the logs, it seems to happen when the Activity has been destroyed and recreated.

We can be sure that the `DrmSessionManager` passed to the media source factory is not `null`, since this would appear in our logs.

Crashlytics reported Android ver

[2020-04-29 22:00] ojw28 commented on #7287
More generally, I wonder why you're trying to stream an encrypted video in the first place. What protection does the encryption provide that's not already provided just by using https (together with some kind of authentication as part of the request)?

[2020-04-29 23:05] ojw28 commented on #7168
I agree with what others are saying here. The only possible way this can happen is if null is passed to the `DashMediaSource.Factory.setDrmSessionManager` (short of something super weird, like a Proguard issue or something wrong with the VM). It's easy to validate this by reading the code of that class (unless you can see another way). The latest code in `dev-v2` is robust against null being passe

[2020-04-30 00:46] a4x4kiwi commented on #7220
If this post is not acceptable, please feel free to delete. I have created a freelancer listing to get help with this enhancement. If anyone is interested in assisting, please see [https://www.freelancer.com.au/projects/android/Develop-Australian-Subtitles-Closed/details](https://www.freelancer.com.au/projects/android/Develop-Australian-Subtitles-Closed/details)

[2020-04-30 03:42] vickyexpert commented on #7287
@christosts Actually I have tried to implement DefaultHttpDataSource, AesCipherDataSource, and also tried to prepare different kinds of media sources like progressive media source, extractor media source but still I am not able to make it work. I know how to open input stream and how to access it from the server. But this issue is related to ExoPlayer as I am not able to do the same with this play

[2020-04-30 04:13] casualrunner opened #7315 "MP4: Support metadata tracks"
### [REQUIRED] Support general metadata track in EXO mp4 extractor
Metadata track is increasing use for supporting rich features, e.g. IMU sensor data.
Currently EXO Mp4 extractor only supports google's camera motion media type.

### Proposed solution
Option 1:
Extract data from metadata track as general bytes data blob with timestamp;
maybe a subtype filter support subtype filter for select data

[2020-04-30 07:35] VeiZhang commented on #7253
@icbaker Hello, I found one config is different, maybe it cause the issue.
[code]
I reduce the buffer size of bufferForPlaybackMs in order to switch video faster.
Compared with the default buffer size and 0 size, the default is normal, and never show `releaseBuffer...`

I download two hevc video for testing:

[2020-04-30 08:25] tsaezmirada commented on #6654
Hello @jt64 , any solution found for customers?

Or do you need any other information?

[2020-04-30 10:10] christosts commented on #7301
There is already an issue tracking the same fix, #5882, so I will close this one in favor of #5882.

@mrqinshou: to sum up, the root of the problem is that the particular file cannot be played using the Android platform decoders. You need to re-encode the file in a [format supported by Android](https://developer.android.com/guide/topics/media/media-formats#core). Alternatively, there is an open pu

[2020-04-30 10:10] #7301 closed, assigned to christosts

[2020-04-30 10:11] kim-vde commented on #7282
After investigation, we found out that the problem is due to a known limitation in the framework canvas rendering (see the orange rectangle in the [Surface documentation](https://source.android.com/devices/graphics/arch-sh)). This limitation will probably disappear one day (but not in the near future).

For this reason and because a fix would be very complex to implement, we will not fix the issue

[2020-04-30 10:15] christosts commented on #7294
I will try to inspect what mxplayer might be doing with the content to play it while ExoPlayer cannot, but I cannot offer a solution that will work instantly.

An alternative, pull request #7132 is implementing video decoding with ffmpeg, and it's currently on its way to the dev-v2 branch. May I suggest that you try using ffmpeg decoder with the interlaced content (either build with the pull reque

[2020-04-30 12:02] marcbaechinger commented on #7206
Please let me know about your ideas. :)

[2020-04-30 12:10] marcbaechinger commented on #7305
After passing an array of media sources to the constructor of the `MergingMediaSource`, you can not add audio tracks without creating a new `MergingMediaSource`. You could disable audio tracks which are already part of the 'MergingMediaSource' I believe.

I'm not sure whether I understand your use case properly, but it seems to me, you could initially add all audio sources and disable all of them

[2020-04-30 12:19] ojw28 commented on #7303
I'm not sure what the reason is either. It's existed since the code was originally written, and wasn't commented on during internal code review. I assume you tested your pull request and it works, in which case I'm happy to merge.

[2020-04-30 12:20] marcbaechinger commented on #7311
Are Alice and Bob each having a dedicated device, app, player or is everything in a single player instance? Are they watching simultaneously or sequentially?

If it's only about a single instance of ExoPlayer, then you can just go the route af a single Cache pointing to the same cache directory. That should work. I don't think there is a difference between Alice/Bob and Bob/Bob in this case.

[2020-04-30 12:26] AChep commented on #7303
@ojw28 let me double check it again.

[2020-04-30 12:59] marcbaechinger commented on #7307
I'm wondering why you need to set the ExoPlayer volume to 0 in case 'the device is on silent or vibrate'. I think this should be handled by the OS, so that you do not have to take care yourself.

Is there a specific reason this does not work for you?

-----
Besides the above the following may explain the issue you are seeing:

There are two volumes which are relevant: ExoPlayer volume and OS volum

[2020-04-30 13:00] asaadco commented on #7311
Thank you for the quick response, Marc. :)

Before the start of the stream, Alice and Bob will know what segments (game plan) they have to download through HTTP and what segments they will have to wait to receive through p2p. They watch the video simultaneously (this can be relaxed though). Alice could be downloading the first 20 segments while Bob downloads only the last 10 segments of the video.

[2020-04-30 13:21] marcbaechinger commented on #7311
It sounds what you would need is something like a distributed Cache, or a Cache which syncs between devices. This sounds like a complicated thing to do in general. Plus, with phones you need to make sure that they have a client/server or p2p infrastructure of some kind to share that data and coordinate this with the original upstream connection to the server. All of these things are not supported

[2020-04-30 14:12] asaadco commented on #7311
That makes sense. Would it possible to modify ExoPlayer behavior to skip downloading certain segments and persist when there are missing segments (Like what happens in live streams)? I have looked into solutions such as CDNBye which uses WebRTC as a medium and an HTTP proxy like you said but I would like to experiment with implementing this on the client-side first though. What ExoPlayer modules s

[2020-04-30 14:20] julianD77 commented on #4904
It will be great to have this support for live streams - is there any update on the planned timeline for delivery of these feature??

[2020-04-30 14:37] AChep commented on #7303
@ojw28 everything seem to work fine. Also removed no longer being used `locationOnScreen ` variable.

[2020-04-30 14:55] christosts commented on #7314
Can you try to attach the listener before calling player.prepare() and let me know if it worked?

-- **update** --
I think you may be hitting a bug that we have fixed in the dev-v2 branch.
1. Can you try with your code on dev-v2 to verify it works?
2. How to fix this in v2.11.4:
- can you try to add the listener before calling player.prepare()
- can you switch to listening to the `onTimeLineChange

[2020-04-30 15:13] christosts commented on #7310
Please consider providing more information as requested in the issue template which can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md), in this case we'd need the exoplayer version and a sample m3u8 file.

If you're unable to share content publicly please send an email to dev.exoplayer@gmail.com with the subject "Issue #7310".

[2020-04-30 15:14] AquilesCanta commented on #7309
A few points:
- "EventLogger: internalError" works because `onPlayerError` is being called. So I don't think it's the case that `onPlayerError` is not being called.
- However, it's possible that the data source is taking some time to surface `SocketException`. There are two reasons for which this happens: (1) Timeouts require some time. (2) The errors are first passed through the `LoadErrorHandlin

[2020-04-30 15:45] sergiomartinez4 commented on #4329
Thanks for sharing this information. I don't currently have that device available for testing, but as soon as I can get one, I'll check for reproducibility there

[2020-04-30 15:47] amiantoch commented on #7168
In our Logs this seems to be the case, most of the crashes happen after `simpleExoPlayer.prepare` has been called.

[2020-04-30 15:56] tonihei commented on #4904
We moved this feature a bit further down our priority list and will probably only get around to finish the started work later this year. Please subscribe to this issue to see any updates. Thanks.

[2020-04-30 16:19] icbaker commented on #7253
Thanks for the sample media, unfortunately they don't seem to be [HEVC](https://en.wikipedia.org/wiki/High_Efficiency_Video_Coding) they appear to be [MPEG-2](https://en.wikipedia.org/wiki/MPEG-2).

When I play them on a Pixel 3A XL in the demo app, no video plays because it doesn't support MPEG-2 decoding (Android devices are not required to support this codec: https://developer.android.com/guide

[2020-04-30 17:00] ojw28 commented on #7306
I think `IllegalArgumentException` should just be `IllegalStateException` in the existing code. I can change that.

[2020-04-30 17:30] ojw28 commented on #7286
This is not a valid thing to do. Key requests and responses have a 1:1 correspondence. It is not valid to provide a license response generated in response to one key request as the response to another different key request.

There are only two ways of doing what you're trying to do:

1. Ensure that the DRM session is held open throughout, so there is only one key request. I think you would most li

[2020-04-30 21:52] killmyrene commented on #7286
I loosely customize the DefaultDrmSessionManager as you describe, but I got exceptions thrown out for illegal state. I suppose I have to customize the drmSession as well?

[code]

Exception after 1 retry

[code]

[2020-05-01 08:20] frushlabo opened #7317 "Support other audio focus request modes"
**### [REQUIRED] Use case description**
Would like player to request audio focus temporarily so that previously playing audio source can resume after playback has completed or player is stopped/released.

[2020-05-01 08:57] Taranlayal10 commented on #7270
Hello @ojw28,

The solution provided by you did worked but this is causing error if I keep the HDCP settings to HDCP – V1 for my Contents.

It is giving error "Required output protections are not active". Please suggest how to play content with HDCP – V1 for L3 settings.

Any Help would be appreciated on this.

[2020-05-01 09:24] ojw28 commented on #7270
Widevine L3 offers a lower level of security than L1. If your license policy requires a higher level of security than it's able to support (e.g., HDCP requirements) then it wont work.

1. It's a fundamental platform limitation that you get a black screen during rotation when using L1. This is because the graphics system that renders the rotation does not have access to the content of the surface.

[2020-05-01 09:42] christosts commented on #7313
Can you please clarify what is the expected result, and what exactly is failing? I cannot follow from the code snippet what exactly you are trying to work around.

[2020-05-01 11:22] develophead commented on #7313
sorry about that.

**use case**
the user has to be swipe up/down to get the next/previous video playback.

for this scenario, I am trying to implement Exo player in viewpager2 inside a fragment
here I am using recyclerView adapter.

**the issues what I am facing**
the player gets multiplying while scrolling and I lose control over the player.

can you please advise me how to implement it in viewPa

[2020-05-01 11:37] Taranlayal10 commented on #7270
Thanks for the prompt response. I will explore the possible options.

[2020-05-01 11:55] christosts commented on #7297
I see in the bugreport logs that ExoPlayer.release() is called, so I assume you code is working as intended, that is to stop, release and re-create the player.

I think the ANR is unrelated to the LoadErrorHandlingPolicy and is probably device-specific. Have you tried this on another device? Does the ANR happen there too? On the device that happens, what is the frequency? Can you simulate "errors"

[2020-05-01 13:40] zgzong opened #7318 "Multiple Video rendered when select lower resolution video track"
### [REQUIRED] Issue description
When play a DASH stream, select lower resolution video track caused new resolution rendered on top of previous rendered frames. Attached a screen shot to show the issue on some devices.
![Screenshot_20200501_133615_com google android exoplayer2 demo](https://user-images.githubusercontent.com/2271258/80808523-a1ea8a00-8bb7-11ea-922b-0102c593d3a2.jpg)

### [REQUIRED]

[2020-05-01 17:10] christosts commented on #7308
Assigning to @andrewlewis who is more experienced with media formats:

@andrewlewis this what I see:
- The first sample (buffer) that reaches the MediaCodecAudioRenderer is marked end-of-stream
- Looks like this is caused because the first call to FragmentedMp4Extractor.read() returns RESULT_END_OF_INPUT

[2020-05-01 18:14] szaboa commented on #4511
@ojw28
This would be about to just add a similar logic as `com.google.android.exoplayer2.trackselection.DefaultTrackSelector.ParametersBuilder#setMaxVideoSize`? If this is the case, and it is open for contribution then I can do it :)

[2020-05-01 18:37] ojw28 commented on #7308
@kim-vde - I think this will probably be fixed as part of [Internal ref: b/130115709].

The problem is that we think the file is FMP4 because it has an `mvex` atom in the `moov` box, but it actually declares all of the samples in the `moov` atom as well, and does not contain any `moof` atoms. It's therefore an extreme example of a "partially fragmented" MP4 files, where it claims to be fragmented

[2020-05-01 18:52] christosts commented on #7318
I cannot reproduce the exact issue but I see garbled video when performing seeking on a couple tested devices (Pixel 2 and OnePlus 3T). Have you noticed anything with seeking on your devices?

I repro'd issue with seeking with other players too, and also saw some sudden aspect ratio changes in the beginning of playback when playing with vlc on a MacBook, so I think there is something related with

[2020-05-01 19:12] jinfanzon commented on #7297
Hi @christosts  - This happened in multiple chinese android tv box, They are different brands, but beneath they might run the same hardware/firmware. I'll try to set experimental_setReleaseTimeoutMs, though I'm not sure I understand the expected behaviour/debug output.

Kind regards!

[2020-05-01 20:47] develophead commented on #7313
hi christosts,
hope you doing well. finally, I tried with FragmentStateAdapter so I think that issue is fixed  and video playback while scrolling up/down looks working fine

now I am facing small **issue** like if we navigating from this fragment(video playback happens here) to others and coming back to this fragment again. I can see that the video rotated even the app only supports portrait mode.

[2020-05-02 06:18] adraj opened #7319 "I want to play MP4 which is more then 1 GB size."
Hii,
I want to play MP4 file in Exoplayer .My MP4 file is large and its play well when Wifi network but slow rendering and long time to start video. and in 2G network is not open.
 I try all solution LIKE DESH AND ProgressiveMediaSource but not work

My Code:
[code]

[2020-05-02 12:01] develophead commented on #7313
now this issue become serious can you please help me
[issue.mov.zip](https://github.com/google/ExoPlayer/files/4567631/issue.mov.zip)
this is the video of my issue please check

thankyou

[2020-05-02 16:59] raman-nbg opened #7320 "Controller Layout with data binding"
### [REQUIRED] Use case description
I want to use SimpleExoPlayer with a custom layout. The custom layout contains some text fields containing information like the title and a short description of the video. I want to provide these information via data binding to the custom layout.

### Proposed solution
I have a view.xml that contains the PlayerView. The PlayerView has set `app:controller_layout_

[2020-05-02 20:51] stari4ek commented on #7279
@tonihei. You were right. :)
Even when it looks simple - it is not. Got memory leak due not-matching callers (HLS media source wrapped by `CustomStartPositionSource` based on `MediaSource` from my example above)

[2020-05-03 09:56] himaswetha opened #7321 "How to check if an Audio codec is supported by a device."
### [REQUIRED] Searched documentation and issues
Gone through the MediaCodecAudioRenderer.java file and supportsFormat function. But need to know in detail how to check Audio Codec is supported or not and what all parameters to be validated using Decoder info against the Manifest file.

### [REQUIRED] Question
How to check an Audio codec like ec3/ac3/aac or any other audio codec is supported by De

[2020-05-03 11:24] #7168 closed, assigned to ojw28

[2020-05-03 11:27] ojw28 commented on #7303
https://github.com/google/ExoPlayer/pull/7304 was merged.

[2020-05-03 11:27] #7303 closed, assigned to ojw28

[2020-05-03 11:28] #7306 closed, assigned to ojw28

[2020-05-03 11:30] ojw28 commented on #7119
I don't think a good argument has been made for avoiding default methods. Closing.

[2020-05-03 11:30] #7119 closed, assigned to ojw28

[2020-05-03 11:32] ojw28 commented on #7158
As @giladna notes, `DefaultTrackSelector` gives you everything that you need to do this.

[2020-05-03 11:32] #7158 closed, assigned to ojw28

[2020-05-03 11:35] #7088 closed, assigned to ojw28

[2020-05-03 11:35] #7183 closed, assigned to ojw28

[2020-05-03 11:36] #7155 closed, assigned to ojw28

[2020-05-03 11:37] ojw28 commented on #7054
Closing because this sounds like a FireOS specific issue, which should be reported to Amazon.

[2020-05-03 11:37] #7054 closed, assigned to ojw28

[2020-05-03 11:41] ojw28 commented on #7320
Duplicate of https://github.com/google/ExoPlayer/issues/5417

[2020-05-03 11:41] #7320 closed, assigned to ojw28

[2020-05-03 12:00] ojw28 commented on #7286
What you're doing is not sufficient to actually keep the session open. `DrmSession` instances are reference counted using `DrmSession.acquire` and `DrmSession.release`.

If you want the session to stay open, you'll need to ensure that its reference count doesn't drop to 0. So, when you decide to hold on to the session, you should increment its reference count by calling `DrmSession.acquire`. When

[2020-05-03 14:01] ycpysu2004 commented on #7282
The bottom layer of GL is also opengl, I think their principle is the same. My way is to create an opengl context in the rendering thread, and then close the opengl context when closing av1 rendering, so that it can be disconnected from the surface

[2020-05-03 14:03] ycpysu2004 commented on #7282
I don't know why opengl is disconnected from the surface when it is closed

[2020-05-03 15:35] bhaskarraj opened #7322 "ExoPlayer with IMA SDK not playing mid-roll ads for Live Channels stream type"
I am using Exoplayer for streaming Live TV channels and movies. Also, I have integrated IMA SDK which allows playing instream ads and its working perfectly for movies. Pre, Mid and Post-roll Ads are working fine for movies but for Live TV Channel streaming it's only able to load pre-roll ads and mid-roll is not working for this condition. While trying to play mid-roll ads the player freezes.

The

[2020-05-04 01:07] #7178 closed, assigned to andrewlewis

[2020-05-04 01:07] #7166 closed, assigned to AquilesCanta

[2020-05-04 01:17] #7192 closed, assigned to AquilesCanta

[2020-05-04 02:32] DorisGM commented on #7309
Thanks for your replay. I added a log to  onPlayError, but nothing prints out when EventLogger print this error.  It's probably caused by the second point you said.  I'll try to use LoadErrorHandlingPolicy. Let me know if there's any progress. thanks again.

[2020-05-04 05:42] athulantonynp opened #7323 "Exoplayer wrong thread initialization for background playback."
In issue #5759 , it is stated that the initialization of SimpleExoplayer instance from the wrong thread will not be permitted for future versions of Exoplayer and an exception will be thrown if the user attempted to. This totally makes sense. But one issue which is going to pops up once this got implemented is background playback. I couldn't find a recommended way to implement background playback

[2020-05-04 07:50] VeiZhang commented on #7253
@icbaker Sorry, I use another stream, but there is no any exception log, except `AudioTrack: releaseBuffer()`, I will revert the config, and thanks for your help

[2020-05-04 07:50] #7253 closed, assigned to icbaker

[2020-05-04 08:03] kim-vde commented on #7308
@ojw28 Ok. I'll try to fix this when working on [Internal ref: b/130115709]. Thanks for investigating.

@Abu-Abdullah We plan to fix the bug mentioned by Olly in the following months. Thanks for reporting your issue.

[2020-05-04 08:22] kim-vde commented on #7282
Could you provide a code sample to illustrate your solution? It could be useful for developers encountering the same issue in the future. Thanks!

[2020-05-04 09:17] BoschAlejandro commented on #7248
Hi @icbaker and @Samrobbo

Can you take a look at logcat files? Maybe you see something that I don't see because I don't know where to look.

Thanks a lot.

[2020-05-04 10:07] christosts commented on #7297
`They are different brands, but beneath they might run the same hardware/firmware`

From the logs of the shared bug-report, looks like the device is based on Rockchip hardware. Look for variant of the `rockschip` string printed in the logs of the other devices to identify if they are built with similar hardware.

`I'll try to set experimental_setReleaseTimeoutMs, though I'm not sure I understand t

[2020-05-04 10:11] ycpysu2004 commented on #7282
OK, here is some steps:

[2020-05-04 10:15] ycpysu2004 commented on #7282
OK, here is some steps
1、cover yuv420 data to rgba data
2、build opengl context, see details in the file
3、render rgba data directly in opengl
[OpenGLContext.cpp.txt](https://github.com/google/ExoPlayer/files/4573993/OpenGLContext.cpp.txt)
[OpenGLContext.h.txt](https://github.com/google/ExoPlayer/files/4573994/OpenGLContext.h.txt)

[2020-05-04 10:34] skogl opened #7325 "Stream with Invalid PMTs?"
### [REQUIRED] Issue description
Mpeg-ts stream coming from DVB-S broadcast contain PMTs that contain invalid "program_info_length" that cannot be handled by Exoplayer.

This issue also had issues with "program_info_length": https://github.com/google/ExoPlayer/issues/1068

It also mentined a workaround that also works in my case:
[code]

Comments for the above issue states that errors in streams s

[2020-05-04 12:29] temq09 opened #7326 "CacheWriter doesn't correctly implement allowShortContent case"
### [REQUIRED] Searched documentation and issues
Found the article about video preloading here - https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6

### [REQUIRED] Question
Hi! I have an issue when trying to preload the first part of a video. I don't know the exact size of the video so just trying to preload the first 800kb. In case the video

[2020-05-04 12:45] ShaiAmirSynamedia opened #7327 "BaseURL not used when in AdaptationSet"
### [REQUIRED] Issue description
When BaseURL is in AdaptationSet level, it's not being used by the player.
The player tried to retrive the init file without the BaseURL and fails to do so.
The expected behaviour is that the player will use the BaseURL when trying to retrive the init (and segment) file.
For reference, DASH reference player plays the same content successfully.

### [REQUIRED] Repro

[2020-05-04 13:00] aureobeck commented on #7206
The main problem, as you said @marcbaechinger, is that on the [MediaSessionConector](https://github.com/google/ExoPlayer/blob/62092e664586175107a3aaac3e1b0efa3059049f/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java) the `onPause` method is being called when Google Assistant is going to foreground, what as far as I understand isn't cor

[2020-05-04 13:50] kim-vde commented on #7282
Thanks for sharing.

[2020-05-04 13:50] #7282 closed, assigned to kim-vde

[2020-05-04 14:55] Samrobbo commented on #7319
Hi,

Could it be that your file has a rather high bitrate? This might be why it is slow over WiFi, and does not play on 2G. If possible, can you give some more information about the file's features, like resolution, bitrate, codec type, frame rate (tools like ffprobe and mediainfo on a Linux machine can output that).

[2020-05-04 17:10] alexandru-calinoiu commented on #7201
@AquilesCanta I've update the description with more info.

[2020-05-04 17:34] AquilesCanta commented on #7302
I think this is a server issue. I'm getting two types of errors: SocketTimeoutException and 404s. And I can reproduce the issue when I try to curl the resources, so this doesn't seem to be ExoPlayer-specific:

`curl: (7) Failed to connect to live.xiaoding110.com port 80: Operation timed out`

The 404 is probably caused by the server removing segments which are left behind by the live window, so th

[2020-05-04 18:04] AquilesCanta commented on #7201
Hi, it seems the bugreport was not captured from the demo app. Please also provide sample media on which I can reproduce the issue. If you're unable to share test content publicly, please send it to dev.exoplayer@gmail.com using the subject "Issue #7201". Please also update this issue to indicate you’ve done this.

If you play your stream in the demo app, it will provide you with more information

[2020-05-04 18:09] AquilesCanta commented on #7201
Sorry, my comment above was off-topic (deleted it, not sure whether it shows a marker for you). It seems your app is not attaching an EventLogger, which means that the bugreport is not very useful. Also, the content is offline and DRM protected, which means that the sample stream will not be useful either.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-repr

[2020-05-04 20:35] ojw28 commented on #4511
At a high level, yes. And yes, please feel free to send a pull request.

* It's probably worth adding support for minimum resolution, bitrate and frame-rate all at the same time, to keep the available sets of min and max constraints consistent.
* It's going to be necessary to split `isWithinConstraints` in `DefaultTrackSelector.selectFixedVideoTrack` into separate `satisfiesMaxConstraints` and `sa

[2020-05-05 11:05] jtreveset opened #7329 "Support CMAF subtitles in HLS"
### [REQUIRED] Use case description
While testing some HLS content on Exoplayer (2.11.4), I noticed that the subtitles in the following stream provoke a fatal exception and cause playback to fail.

https://irtdashreference-i.akamaihd.net/dash/live/901161/keepixo1/playlistBR2.m3u8

This is the stack trace:
[code]

The stream contains a SUBTITLES tag as follows:

`#EXT-X-MEDIA:TYPE=SUBTITLES,GROUP-I

[2020-05-05 12:34] ojw28 commented on #7327
I don't think the problem is that the `BaseURL` is in the `AdaptationSet`. The problem is that that `BaseURL` element is after the `Representation` elements, rather than before.

ExoPlayer's MPD parser doesn't parse the entire MPD into an object model and then process it. It mostly works by scanning the MPD from start to end. Hence the `BaseURL` needs to appear before the elements that make use of

[2020-05-05 14:11] Samrobbo commented on #7321
Hi,

As far as I understand, you can get this information by reading through [MediaCodecVideoRenderer.supportsFormat](https://github.com/google/ExoPlayer/blob/7d3f54a375fac04a746ca76a8f2e1ad32c8b45b2/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L366) and [MediaCodecAudioRenderer.supportsFormat](https://github.com/google/ExoPlayer/blob/7d3f54a375fac04a

[2020-05-05 14:14] marcbaechinger commented on #7323
By default a service runs on the main thread of the process which hosts the service. So I'd expect that creating the player instance on this main thread works in the same way as it would in an app activity which runs in the foreground.

Just to be clear on terminology, I think you are referring to the application's main thread when you are mentioning 'foreground service thread'.

In general I thin

[2020-05-05 14:27] marcbaechinger commented on #7206
Yes, I agree that `onPause` is called. This call is triggered by a media session event which comes from Assistant. Assistant is using `MediaController.TransportControl` to send the pause event.

This onPause event from Assistant is the same like when a user issues a 'Ok Google, pause' voice command. Pausing the app in Android Auto or on a watch running WearOS results in the same command. All these

[2020-05-05 14:38] marcbaechinger commented on #7234
The missing annotations have been added (see commit above). Many thanks for reporting.
I'm going to close this issue. Please re-open if I missed something.

[2020-05-05 14:38] #7234 closed, assigned to marcbaechinger

[2020-05-05 14:57] asaadco commented on #7311
I have managed to achieve this functionality by intercepting and modifying each dataspec URI in DefaultDataFactory class open method whenever there's a matching segment in local storage.

Closing this issue now! Thanks Marc.

[2020-05-05 14:57] #7311 closed, assigned to marcbaechinger, christosts

[2020-05-05 16:16] andrewlewis commented on #7322
We don't currently support midrolls in live streams (see #4565). I will mark this as a low-priority enhancement for now, but if you need a fix soon you may want to look into doing server-side ad insertion.

[2020-05-05 16:17] andrewlewis commented on #7322
At the moment, I don't think we have a sensible way to address this issue from #4546: "The ad tags have fixed cue points and it's unclear how to handle the player position when resuming the live stream after playing a midroll."

[2020-05-05 16:25] gautam4you opened #7330 "."
.

[2020-05-05 16:32] gautamlook opened #7331 "Videos Live stream is playing only Audio but not video(Black Screen)."
I am using current Exoplayer. all VOD and live stream is working fine. but I have live streaming feed which is not working in exoplayer(Only play audio and not showing videos).

Feed Url : https://live.field59.com/wdrb/ngrp:wdrb2_all/playlist.m3u8

I saw some link regarding this issue but not reached any valuable point. so, please help me if you have any idea regarding this feed.

Note: This feed

[2020-05-05 19:27] ojw28 commented on #4078
Note: We will be merging https://github.com/google/ExoPlayer/pull/7324 to default the Cronet extension to using Google Play Services rather than the embedded library.

[2020-05-05 20:04] kgrevehagen opened #7332 "Extend EventTime with current window index and update EventLogger to show consistent output"
### [REQUIRED] Issue description
When transitioning from one `MediaSource` to another in a `ConcatenatingMediaSource`, `onDecoderInputFormatChanged` for the second `MediaSource` is called before `onPositionDiscontinuity`. This results in that the `eventTime.currentPlaybackPositionMs` for the second `MediaSource` is set to the duration of the first `MediaSource`, so we get two calls to `onDecoderIn

[2020-05-05 22:07] jt64 commented on #6654
I agree that the mostly likely case is that the device is rooted. That is a configuration that Samsung does not allow for playback of secure video. That's the information to feed back to the customer. Thanks.

[2020-05-05 22:07] #6654 closed, assigned to jt64

[2020-05-05 22:25] jt64 commented on #7080
After looking into this it is a known issue, and was resolved in Android O. A test was added to our test suite to confirm that the bug is fixed on Android O and newer devices, so it is likely this device was not recent enough to be verified by the test.  The problem only happens on devices that do not have hardware backed widevine implementations, that is why you may only see it on some devices. T

[2020-05-05 22:25] #7080 closed, assigned to fredgc, tonihei

[2020-05-06 00:44] mariah-smith25 opened #7333 "PlayerControlView: Continue progress updates when not visible"
### [REQUIRED] Searched documentation and issues
I've looked through the source code for PlayerControlView.java. Tried subclassing PlayerControlView to override hide() method and prevent removing the progress callback action but some of the members are private.

### [REQUIRED] Question
Is it possible to not tie video progress updates to control view visibility? I have them decoupled in my UI as I

[2020-05-06 01:08] #7126 closed, assigned to AquilesCanta

[2020-05-06 03:42] lwb5934 opened #7334 "Tunneled video playback in Android"
1、Why we must use SurfaceView in tunneled mode? Why not TextureView?
2、In non-tunnel mode, why can I use surfaceview to play HDR, while textureview cannot play？（used Android 9）

[2020-05-06 06:41] sunrise0406-bc opened #7335 "couldn't find a codec If only tunneled codecs are available"
According to the guidance from https://source.android.com/devices/tv/multimedia-tunneling,
I add 'required=true' to all MediaCode columns in media_codecs.xml,
  <Feature name="tunneled-playback" required="true"/>
BUT my platform pops up a msg- 'XXXX non are playable by this device' while playing a video file, so I traced out the source code of Exoplayer 2.11.2 and found out that Exoplayer seeks fo

[2020-05-06 06:59] 951AB159BA commented on #7310
Hello,
the file's link is here.
[playlist(2).zip](https://github.com/google/ExoPlayer/files/4585195/playlist.2.zip)
Its version is '2.11.3'

[2020-05-06 07:09] andrewlewis commented on #7335
`MediaCodecVideoRenderer.supportsFormat` currently expects there to be a non-tunneled codec for the same format present. Later on in the method (after that code snippet) it checks whether there is a tunneled decoder for the format. Can you list the codec twice, once without the tunneling feature and once with it?

[2020-05-06 07:23] andrewlewis commented on #7334
The information [here](https://source.android.com/devices/tv/multimedia-tunneling#for_device_manufacturers) about how composition of tunneled video output works might explain why, but I'm afraid I'm not familiar with the details.

Could you give some details about why you need `TextureView` support? I think there are only limited cases where it's necessary on recent Android versions.

This is prob

[2020-05-06 07:57] tonihei commented on #7332
This is actually working as intended. The decoder input format is changed before the transition because the decoder starts reading the new file before the first finished playing. This is all needed to ensure a smooth gapless transition.

As you can see in the EventLogger output, the events are still correctly associated with the right item in the playlist ("window=1" for the decoder input format c

[2020-05-06 08:37] lwb5934 commented on #7334
Thank you for your reply!
1、why need TextureView support?
First, Textureview is more flexible, I can used surface which created by SurfaceTexture to the OpenGL, and process the video frames(such as VR and 360⁰ video playback).
Second, using mediacodec+OpenGL can fix some display bug, so I need TextureView.
2、using SurfaceView or TextureView display HDR
In non-tunnel mode, and use mediacodec for de

[2020-05-06 08:54] ZhangHui0608 opened #7336 "flac extension audio file play discontinuous, play a while and switch to next audio"
### [REQUIRED] Question
build flac extension and Integrate flac libray in my app,
flac extension audio file play discontinuous, play a while and switch to next audio

[2020-05-06 08:59] ZhangHui0608 commented on #7336
log link: https://pan.baidu.com/s/14OvWHZo24fBbusRpXFXPKA
download code: sm36

[2020-05-06 09:20] Samrobbo commented on #7336
Hi,

Can I just get some clarification? Do you have a problem with using the flac extension, or are you asking how to use it?

Thanks

[2020-05-06 09:22] andrewlewis commented on #7334
Are you sure you need to use tunneled mode? A goal of tunneling is to remove the CPU from the pipeline processing video where possible, to be able to handle 4k content on TV devices with slower CPUs. If you need to do processing on video output rendered to an off-screen texture, I don't think there's much benefit to be had from using tunneling even if it did work! So I'd suggest just not using tun

[2020-05-06 09:26] ZhangHui0608 commented on #7336
I add flac module as my library module,  build libflacJNI.so and add it jniLibs in flac module.  when playing flac format audio file, there has problem.

[2020-05-06 09:40] #7330 closed, assigned to nobody

[2020-05-06 09:46] simonvar opened #7337 "MP3 XingSeeker with big audio size (~2 GB)"
### Issue description
If try play mp3 with size ~2 GB, player throws exception -
`java.lang.IllegalStateException: Top bit not zero: -2121515177`.
It's happens in ` XingSeeker.create(...)`.
In this line `long dataSize = frame.readUnsignedIntToInt();`.
It's becuse readUnsignedIntToInt can return int in interval 0 .. 2,147,483,647, but size can be actual long. In my case 2,173,452,181 bytes.

### Re

[2020-05-06 09:53] kim-vde commented on #7336
Please provide a link to the FLAC file that produces the issue. If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2020-05-06 10:15] #6783 closed, assigned to Samrobbo

[2020-05-06 10:59] sunrise0406-bc commented on #7335
@andrewlewis
Okey, I'll give it a try and reply my result to you.
Thank you very much.

[2020-05-06 11:32] Samrobbo commented on #7331
I've tried this on the demo application, and both audio and video are working as expected. Try looking over the demo application code and comparing to your own application code, and check that you are not missing something.

[2020-05-06 13:10] ShaiAmirSynamedia commented on #7327
Understood, thank you very much.

[2020-05-06 13:10] #7327 closed, assigned to ojw28

[2020-05-06 13:36] #7263 closed, assigned to kim-vde

[2020-05-06 13:37] #7275 closed, assigned to kim-vde

[2020-05-06 13:37] #7272 closed, assigned to kim-vde

[2020-05-06 13:45] #7236 closed, assigned to icbaker

[2020-05-06 16:38] dturner opened #7338 "[Documentation] Not clear how to run demo apps"
I was trying to run the `demo-cast` app. I imported the `demos/demo-cast` folder into Android Studio and did a gradle sync which produced the following error:

I realised that in order to run the demos one must import the ExoPlayer root project into Android Studio, rather than the demo subfolder.

It'd be good if this was made clear in the demo README as it would save some time and headscratching

[2020-05-06 17:03] nishantkp opened #7340 "Ads are getting skipped by hitting play-pause during mid-roll with multiple ads"
### Issue description
Player is skipping ads by hitting play-pause during mid-roll with multiple ads.

### Reproduction steps
- Play a video with multiple ads in mid-roll
- Open demo app
- Launch `VMSP pre-roll single ad, mid-roll optimized pod with 3 ads, post-roll single as(bumper around all ad breaks)`
- Let the mid-roll play
- After first ad in mid-roll is played, hit play pause and it will sk

[2020-05-06 20:31] asolis90 commented on #5935
Any updates on this, I'm also having a similar issue?

[2020-05-06 20:43] ojw28 commented on #6429
Thanks for your patience. Just to provide an update, the change referenced above migrates our `dev-v2` branch to IMA SDK 3.18.1 (thanks @andrewlewis !). We're still working on a couple of issues with the migration, including one stuck playback problem, but are hoping to get these cleaned up and into a release over the coming weeks.

[2020-05-06 23:26] sneelavara opened #7341 "CEA-608 caption covers entire screen in Roll-up mode"
### Issue description

#### Summary
CEA-608 caption covers entire screen in Roll-up mode

#### Root Cause
On certain Live TV channels the Caption from Live TV program covers the entire screen.  This happens in Roll-Up mode and mostly during commercial breaks.

As per spec CEA-608-E the Roll-up style
Precede each new row of text with these three codes:
1. RU2 or RU3 or RU4 (to set roll-up style and

[2020-05-07 06:14] #7331 closed, assigned to Samrobbo

[2020-05-07 08:01] halilozel1903 opened #7342 "How to use DRM in ExoPlayer ?"
Greetings,
I am trying to use DRM in exoplayer. I have a url with dash. I put session value on my drm license url. Also the id value of the content. When I play it gives me 404 error. I did not understand where I did wrong.

I add the codes I wrote below

[code]

[code]

[code]

 I would appreciate if you support.

[2020-05-07 08:13] tuesda commented on #7306
Thanks!

[2020-05-07 09:30] andrewlewis commented on #7179
On 2.10.8 it looks like we use `OMX.IMG.MSVDX.Decoder.HEVC` even though the stream exceeds the decoder capabilities (`NoSupport [sizeAndRate.support, 1920x1080x29.742565155029297] [OMX.IMG.MSVDX.Decoder.HEVC, video/hevc] [HWEVA, EVA-AL00, HUAWEI, 26]`). In the log from 2.11.3 we are using `OMX.google.hevc.decoder`. So I think this is indeed a case of falling back to software decoding.

If the deco

[2020-05-07 09:31] #7167 closed, assigned to andrewlewis

[2020-05-07 09:31] #7073 closed, assigned to andrewlewis

[2020-05-07 09:33] #6958 closed, assigned to andrewlewis

[2020-05-07 09:35] #6890 closed, assigned to andrewlewis

[2020-05-07 09:36] kuailedeadai opened #7343 "vp8 decode error"
Hello, may I ask if I added the adaptation of vp8 in the vp9 extension, added vp8 decoding in generate_libvpx_android_configs.sh, the compilation shows that it passed, and the vp8 module has been integrated, but when running, the vp8 decoding error Decode error: Bitstream not supported by this decoder

[2020-05-07 09:40] andrewlewis commented on #6432
I think the IMA SDK release notes item "Adds scaling for Companion Ads on high-pixel-density devices." may address this and is included in IMA SDK version 3.18.1. The `dev-v2` branch has picked that up (but see also the latest reply on #6429 for a caveat). If this is still reproducible on `dev-v2` please let me know and I'll reopen the issue.

[2020-05-07 09:44] andrewlewis commented on #5997
Closing as it seems the main issue was addressed a while ago. If there's more to do please reply here or open a new issue.

[2020-05-07 09:44] #5997 closed, assigned to andrewlewis

[2020-05-07 10:02] andrewlewis commented on #7343
It's difficult to know the cause based on the information you've provided, but one thing to note is that in `vpx_jni.cc` in the VP9 extension you will need to initialize the right codec in the call to `vpx_codec_dec_init` (you can use `get_vpx_decoder_by_name` to get the right codec interface to pass into that method). Caveat: last time I did this was in 2016 so the APIs may have changed!

As this

[2020-05-07 10:02] #7343 closed, assigned to andrewlewis

[2020-05-07 10:27] andrewlewis opened #7344 "Ad overlay view leaks via IMA AdsManager after destruction without ALL_ADS_COMPLETED"
### Issue description
In the IMA extension, if the `AdsManager` is destroyed before the `ALL_ADS_COMPLETED` event is raised by IMA, the ad overlay view is leaked, which in turn can leak its activity.

Note: This is a bug in dependency, but I'm filing this issue as a tracking bug for people who want to be updated on the status of the issue. [Internal: b/155041144]

### Reproduction steps
Run the de

[2020-05-07 10:29] andrewlewis commented on #6429
Side note: filed #7344 as a tracking bug for the [memory leak](https://github.com/google/ExoPlayer/issues/6429#issuecomment-619809065). There isn't a fix in the IMA SDK for that yet and it's not feasible to make a workaround, but it also doesn't seem to be a regression.

[2020-05-07 10:43] shaheercs opened #7345 "the video getting skewed."
Hi,

I am working on a project like TikTok. user can swipe up/down to see the next full-screen video.
Users can see the ingredients Tab and user profiles Tab against the video by swipe left and right.
**(please find the attached video)**

[issue.mov.zip](https://github.com/google/ExoPlayer/files/4592448/issue.mov.zip)

here I am using viewPager2 with FragmentStateAdapter and I am using the Exo Pla

[2020-05-07 10:48] andrewlewis commented on #5626
There is an issue with the ad overlay view leaking, which I've filed #7344 to track. I think this bug may be the same but it's a bit unclear, and the first part of this issue seems to relate to Play Services. I will close this one for now so please follow #7344 instead, or file a new issue if you are confident you are seeing something different.

[2020-05-07 10:48] #5626 closed, assigned to andrewlewis

[2020-05-07 11:45] kuailedeadai commented on #7343
Thanks, your suggestion has solved my problem

[2020-05-07 12:45] tibor-leo-safar-accedo commented on #6348
Hi ExoPlayer team,
A question more to @christosts about the roadmap and future of the dev-2 branch and the experimental_setMediaCodecOperationMode() functionality.

The issue we have with Live Dash HD streams with 50fps, is kind a burning  one.
We've found with the experimental feature the payback to be much more stable with acceptable amount of dropped frames.

Can we have a feedback if the exper

[2020-05-07 12:52] kuailedeadai opened #7346 "mediacodec flower screen and blue screen on some phones with poor performance"
Hello, please ask at high bit rate and high quality, using mediacodec decoding, there are flower screen and blue screen problems on mobile phones with poor performance, what is the solution?

[2020-05-07 13:23] icbaker commented on #7341
Thanks for the report - I can reproduce with the provided media.

I'll take a deeper look next week.

[2020-05-07 14:46] ojw28 commented on #6348
We're planning to do a release pretty soon (i.e., within the next couple of weeks) to pick up changes related to https://github.com/google/ExoPlayer/issues/6429, but it will be based on 2.11.X rather than tip-of-tree `dev-v2`, and so by default the changes here will not be picked up.

It seems reasonable that we would try and also pick up the changes for this issue at the same time, but whether th

[2020-05-07 22:46] johndeu commented on #5011
@tonihei  any updates on if you will take LL HLS (Pantos official spec) in the coming 6-12 months?

[2020-05-08 02:53] hermasyp opened #7347 "Demo app: Support DRM protected downloads"
I have a question. in the documentation we can download clean media and store it as a cache in the device. but I need to download media with drm ( widevine ). is that possible ? can I get example for it ?

[2020-05-08 07:19] HuzefaGadi commented on #7220
Hello there @a4x4kiwi , I am freelancer myself and seems the project which you have posted on freelancer has been subcontracted to a lot of people, as the same project has been reposted by the developer you hired to do the job. I can help you with this issue, message me if you are interested. and beware of the scammers on freelancer certainly the developer you hired has no idea on how to do this.

[2020-05-08 07:39] kgrevehagen commented on #7332
Thanks for the quick reply!

Ok, I understand, that makes sense.
I'm not getting an updated `windowIndex` in my app, but I must be doing something wrong, so I will have to figure that out.

But, it seems we're getting a mix of information as to when this happened and where(in the timeline) this happened.
The only information we're getting for the format change is the window(and period) and mediaPo

[2020-05-08 08:30] lwb5934 commented on #7334
The current tunnel mode of exoplayer needs to be turned on by myself, or if exoplayer detects that the tunnel mode is satisfied, the mode is enabled on the mobile phone.
thanks!

[2020-05-08 09:20] r1n1os opened #7348 "Livestream black screen for new android versions (android 10, android 9)"
For some devices I have issue to play livestream. It just showing black screen without sound.
I debug the code and i have seen that the **avcLevel** is equal to **65536** which is **not included** in the switch statement of **avcLevelToMaxFrameSize()**.
At the end I am seeing the following error:
**internalError [1.02, rendererInitError]
    java.lang.IllegalStateException: No variants selected.**

[2020-05-08 15:48] adraj commented on #7319
I am  use ffmpeg to convery m3u8 #EXTM3U
#EXT-X-STREAM-INF:PROGRAM-ID=1, BANDWIDTH=700000
240p/240_out.m3u8
#EXT-X-STREAM-INF:PROGRAM-ID=1, BANDWIDTH=1000000
360p/360_out.m3u8
#EXT-X-STREAM-INF:PROGRAM-ID=1, BANDWIDTH=2000000
480p/480_out.m3u8

[2020-05-08 15:51] adraj commented on #7319
And my video is working fine in Wifi but not in 3g network  and also play previous not working

[2020-05-08 16:18] tonihei commented on #5011
We don't usually provide fixed time estimates and it's best to just subscribe to this issue to see updates. But "in the coming 6-12 months" is vague enough to say yes :)

[2020-05-08 16:26] tonihei commented on #7332
`EventTime` contains both the WHEN and the WHERE as you called it.
- WHEN = `EventTime.currentPlaybackPositionMs` + `Player.getCurrentWindowIndex()`
- WHERE = `EventTime.eventPlaybackPositionMs` + `EventTime.windowIndex`

But I see there is room for improvement here:
 1. EventLogger shouldn't mix the two together because it may be confusing to have the WHERE window index and the WHEN media time. T

[2020-05-09 03:46] 951AB159BA opened #7349 "java.lang.AbstractMethodError: abstract method "void com.google.android.exoplayer2.Player$EventListener"
When i build a library with no proguard in a form of aar File and use it, then run the apk, it comes to a problem:

2020-05-09 11:32:10.026 26677-26677/com.umeye.demo E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.umeye.demo, PID: 26677
    java.lang.AbstractMethodError: abstract method "void com.google.android.exoplayer2.Player$EventListener.onTimelineChanged(com.google.android.exoplaye

[2020-05-09 04:09] oaa8 opened #7350 "Setting OnLongClickListener on PlayerView.getVideoSurfaceView() Breaks Controller's Show/Hide on Touch"
### [REQUIRED] Issue description
It appears that setting a longClickListener on the VideoSurfaceView of a `PlayerView` causes `onTouchEvent()` to not be called for the `PlayerView` which then means that `toggleControllerVisibility()` isn't called.

### [REQUIRED] Reproduction steps
1. Update the sample app to have the following code when initializing the `PlayerView`:
[code]

[Example is here](htt

[2020-05-09 04:28] 951AB159BA commented on #7349
Oh, I just solved it as i saw your reply to a post.
 android.enableDexingArtifactTransform=false

[2020-05-09 06:44] Romantic-LiXuefeng opened #7351 "Player state error changed between BUFFERING and READY repeatedly"
### [REQUIRED] Issue description
ExoPlayer version:  **Release f749d19 [ExoPlayerLib/2.9.6]**
I custom the LoadControl, reset the default buffer value and pre-allocate the memory used for my user case. And then in poor connection, the player state changed between BUFFERING and READY repeatedly.
[code]
[code]
### [REQUIRED] Reproduction steps
I used the proxy tool **Charles** 's Throttling setting

[2020-05-09 10:07] jerryisbusy opened #7352 "com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors could read the stream"
hello, i have a video file here:
https://images2.bestjlb.com/jlbapp/5e09875981b2214e548f2eb09aac0e48/2020/05/v2jlbosscddf49b7d06c8d44b75253ec14b8987c(540x960)(7407ms).mp4 .

This video was recorded by an android phone and played well in the system album.
It can play well on Chrome browser and iPhone, Ubuntu Laptop,
but failed to play on any android phones through ExoPlayer (Version: 2.10.8).

Exce

[2020-05-09 17:49] Abu-Abdullah opened #7353 "No stable streaming and "java.net.SocketTimeoutException: timeout""
Hi,

I'm facing issues with stability. the below code works for me to stream 3-5 clips, then it hangs and throws:

[code]

certainly there is no issue with the network or the streaming server. the behavior is exactly the same every time. it works for 5 clips and then it hangs for few minutes and then it works for few clips again. if i destroy the app and restart it again, it will work immediately.

[2020-05-09 19:31] szaboa commented on #4511
Thanks for the guidance, I appreciate it.
So, I've split `isWithinConstraints` into `satisfiesMaxConstraints` and `satisfiesMinConstraints`, but it is not entirely clear how to handle tie-breaking. Assuming that if a track satisfies min constraints worths the same as when it satisfies max constraints, I've incremented the `trackScore` by 1 in both cases.

In this case, I see six tie-breaking cases

[2020-05-10 10:40] jhwsx opened #7354 "java.lang.OutOfMemoryError"
[code]

[2020-05-10 17:08] steffenmanden commented on #7267
And they now agreed on a solution for saving data in codecprivate :-)
https://github.com/cellar-wg/matroska-specification/pull/377

@kim-vde the changes now allows for more usage than just Dolby Vision. This includes MVC data.

As you can see it is in final approval to be added to the standard.

Since this adds more functionality than just Dolby Vision, shouldnt this justify an increase in the pri

[2020-05-11 03:22] Abu-Abdullah commented on #7353
it seems that it stuck in ExoPlayer.STATE_BUFFERING for some time. after that it returns to work normal.

the console output has more details:
[code]

[2020-05-11 06:44] Abu-Abdullah commented on #7353
Just to eliminate any issue with the native android okhttp, i have used exoplayer:extension-okhttp, the result is the same:
[code]

[2020-05-11 08:13] andrewlewis commented on #7334
It's only used if you enable it and it's supported by the device for the format you are trying to play. You can call `setTunnelingAudioSessionId` on the default track selector parameters builder to enable it (and an audio session ID can be generated via `C.generateAudioSessionIdV21(context)`).

[2020-05-11 08:13] #7334 closed, assigned to andrewlewis

[2020-05-11 08:31] zjamshidi opened #7355 "Some Audios are not sync with the time"
### [REQUIRED] Issue description
I want to play part of the audio, e.g. start from a specific point. I listen to the audio on my laptop record the start point and then use seekTo method to initialize the audio. But the audio play a bit earlier.

### [REQUIRED] Reproduction steps
In the demo app, change PlayerActivity.initializePlayer method as follow
[code]
Run the demo app with the following comm

[2020-05-11 09:39] ogawa-ma opened #7356 "Crypto key not available occurs when playing Widevine DASH on a specific device"
### Searched documentation and issues
・ExoPlayer Javadoc
・ExoPlayerの問題

### Question
CryptoException occurs when playing Widevine DASH on Android OS8.
Why does it happen?

[code]

使用されているExoPlayerのバージョン：2.10.6

発生したデバイス情報
デバイス名：Xperia XZ
モデル番号：SOV34
Androidバージョン：8.0.0

### A full bug report captured from the device
I have sent the bugreport to dev.exoplayer@gmail.com.

### Link to test content
I h

[2020-05-11 10:37] ojw28 commented on #2159
As an update on where we are with this:

1. https://github.com/google/ExoPlayer/pull/7132 does most of the work required to add support. We're also merging some related changes (as you can see above!), and have some more to come (e.g., modifying `DecoderInputBuffer` to support extra padding which is a requirement for some FFmpeg decoders).
1. For adaptive resolution switching, we have some interna

[2020-05-11 10:56] aureobeck commented on #7206
I see, so should I open an issue on Google Assistant's side @marcbaechinger ?

[2020-05-11 13:08] ojw28 commented on #4511
I think we'd want:

1. If `isWithinCapabilities` pick the higher quality (i.e., pixel count, or bitrate), else pick the lower quality. This is what the existing tie-breaking logic does.
1. Pick the lower quality, because that's what gets us closest to satisfying the violated max constraints. This is what the existing tie-breaking logic does.
1. I think you just need to decide whether min or max co

[2020-05-11 13:26] kgrevehagen commented on #7332
Thank you, that worked perfectly! I agree to the two improvements, makes sense, and looking forward to it :)

Regarding my other issue where I was not getting an updated windowIndex, this seems to be caused by my custom MediaSource. I'm using a custom MediaSource to resolve the urls, because I only have an id to begin with. So I need to do an api call in order to decide what media source it should

[2020-05-11 15:02] krocard commented on #7354
Your app was using all its allowed memory and ExoPlayer was denied allocating a small 64B object. Without more context as to what was using all the memory in your app, I can not help you.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable

[2020-05-11 15:05] krocard commented on #7349
Thanks for reporting how you fixed your issue.

[2020-05-11 15:05] #7349 closed, assigned to krocard

[2020-05-11 15:17] krocard commented on #7346
Could you please explain what is a _flower sreen_? Does the video contain flowers that are glitched out? [Like so maybe](https://www.techopedia.com/images/uploads/collage-poster-art-modern-art-home-decor-quilt-mosaic-tile-graphic-des.jpg).
 Same question for _blue screen_ is it a decoder error?
Maybe provide a screenshot?

Additionally, please provide complete information as requested in the issue

[2020-05-11 15:57] sixtsense opened #7357 "TrackSelectionDialogBuilder does not use androidx AlertDialog"
TrackSelectionDialogBuilder uses legacy android.app.AlertDialog instead of androidx.appcompat.app.AlertDialog. The problems arises when using the TrackSelectionDialogBuilder with a DayNight theme, because the legacy alert dialog do not respect the styles.

[2020-05-11 18:09] deepakrokz opened #7358 "Video not playing"
Getting Playback error in some devices especially Honor and Samsung running KitKat and Nougat, while playing video from a URL while audio is functioning fine. It has been a long time struggling with this issue.

Please help me out of this problem, I looked all over the issue list but couldn't found any solution.
This is one of the log:

[code]

[2020-05-12 01:08] #7225 closed, assigned to icbaker

[2020-05-12 01:55] Romantic-LiXuefeng commented on #7351
[code]
I removed the code in  `shouldTransitionToReadyState` `if (!playbackInfo.isLoading) {`, there would be ok, but i don't know whether cause other issues.  @tonihei  Please give some advices!

[2020-05-12 02:17] jhwsx commented on #7354
I don't know what information I need to provide. What about some logs?
[xiaolajiao05121024.txt](https://github.com/google/ExoPlayer/files/4613045/xiaolajiao05121024.txt)
I have used AndroidStudio Profiler to point the issue. In fact, when I use ExoPlayer in my code, the memory size is high(about 150M), while only 64M when I use VideoView of android sdk.

And the log may not point to ExoPlayer some

[2020-05-12 02:51] HanGao1 opened #7359 "What should I do if an error occurs during the playlist?"
What should I do if an error occurs during the playlist? When I am in the playlist, the playback address is empty, which causes the playback to fail. Calling next is invalid and cannot be played again.

[2020-05-12 07:11] mddrill commented on #7258
I thought I had added details, but apparently that part of my comment didn't get saved. I am looking at the demo and I see it uses PlatformSchedulerService: https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/demos/main/src/main/AndroidManifest.xml

I am wondering what the purpose of this is. The [documentation](https://exoplayer.dev/downloading-media.html) does not m

[2020-05-12 07:38] Abu-Abdullah commented on #7353
i have tried many things and read dozens of tracker issues but no clue how to solve this.
i have tried:
- implementing LoadControl/buffers
- playing with OkHttpClient timeout (read/write/protocols ....)
- releasing the player for every clip and all other resources and setup the player for every clip again and again
- monitor the app performance (nothing strange here).

nothing works. i do not know

[2020-05-12 08:11] icbaker commented on #7258
My apologies, the detail was there but it was buried in the template pro-forma text and I didn't spot it (we get a fair number of issues that only have a title with the full template text untouched). I've re-added the detail to the original post.

`DownloadService` needs a `Scheduler` if it's going to restart downloads (when certain parameters are met) when the app is no longer in memory. This is

[2020-05-12 09:26] tonihei commented on #7332
That's impossible to say without knowing what went wrong. We generally advise to use `CompositeMediaSource` to ensure it's done correctly, but there is nothing wrong with using `BaseMediaSource` directly. You could compare your `BaseMediaSource` implementation with all the additional code added by using `CompositeMediaSource` to see where the difference is. If the difference is something that is u

[2020-05-12 09:33] tuesda opened #7360 "Can I get silence duration which skipped?"
When I enabled skipSilence with

[code]
How can I get silence duration which skipped?

[2020-05-12 09:35] ghost commented on #7155
I am also facing this issue on manually rotating the screen

[2020-05-12 09:36] ghost commented on #7141
I am also facing this issue. It shows black screen for few milliseconds.

package com.example.videoplayer

import android.annotation.SuppressLint
import android.content.pm.ActivityInfo
import android.content.res.Configuration
import android.graphics.Color
import android.os.Bundle
import android.os.Handler
import android.os.Looper
import android.view.View
import android.view.WindowManager
import an

[2020-05-12 10:12] fguinet opened #7361 "TTML: Support missing 'extent' tag on <tt>"
### Issue description
TtmlDecoder.parseTtsExtent does not support _extent_ defined in pixel such as :
[code]
The region in that case is not considered as :
`Log.w(TAG, "Ignoring non-pixel tts extent: " + ttsExtent);` (line 244)
which leads to :
`Log.w(TAG, "Ignoring region with missing tts:extent: " + regionOrigin);` (line 336)

It looks from the specification [tts:extent](https://www.w3.org/TR/20

[2020-05-12 11:19] rishabhshah09 opened #7362 "XmlPullParserException reading DASH manifest from Amazon S3"
[code]

[2020-05-12 11:33] dolarbhanderi-meka opened #7363 "Video And Audio Play at Same time"
Can i Play video and audio file at same time ?
Can i Increase and Decrease video duration using ExoPlayer.

[2020-05-12 11:55] Bhuvanesh-Verma opened #7364 "how to make custom actions with "PlayerNotificationManager.createWithNotificationChannel" ?"
I want to create notification with custom actions
If I use PlayerNotificationManager() to create notification then I am not able to get notification.
However if I use PlayerNotificationManager.createWithNotificationChannel() then I am not able to use custom actions

[2020-05-12 12:01] Bhuvanesh-Verma commented on #7364
Otherwise is there any way to override default playPause notification button ?

[2020-05-12 12:43] andrewlewis commented on #7360
Duplicate of #5666.

[2020-05-12 12:43] #7360 closed, assigned to andrewlewis

[2020-05-12 13:21] ghost opened #7365 "Seeking did not work proper with ConcatenatingMediaSource."
ExoPlayer 2.11.4
Pixel 2
Android 10

I use a `ConcatenatingMediaSource`. When I call `seekTo` with the current `windowIndex` and the `positionMs`, At that time `onPositionDiscontinuity` called with reason `DISCONTINUITY_REASON_PERIOD_TRANSITION` and it will not seek to the proper position but `windowIndex` will increased.

Let's say take 3 videos(10000, 20000, 30000 MS) and add source in `Concaten

[2020-05-12 13:28] ghost opened #7366 "Is it possible to change video duration after changing video speed?"
I have used `setPlaybackParameters` method to change speed of video. Player keep same duration when I increased or decreased speed. But if we apply process on video then if speed increased, video duration decreased and speed decreased, video duration increased. I want to show that in preview using exoplayer.

Please guide me.

Thanks

[2020-05-12 14:29] inv3rse commented on #7206
The underlying issue appears to be that the MediaSession is in the STATE_BUFFERING after the seek dispatch. According to the documentation:

So the assistant probably assumes that there is no need dispatch the play event, since it thinks that it is already playing. This is however not true while playWhenReady is not set.
With the changes from https://github.com/google/ExoPlayer/pull/7367 it is wor

[2020-05-12 15:25] zivids opened #7368 "How to update ClippingMediaSource start position and end position dynamically"
Hi, I found the updateClipping(long startUs, long endUs) in ClippingPeriod class, but not found in ClippingMediaSource. How to update clipping dynamically?

[2020-05-12 15:40] andrewlewis commented on #7368
Duplicate of #3163.

[2020-05-12 15:40] #7368 closed, assigned to andrewlewis

[2020-05-12 15:46] deepakrokz commented on #7358
Can I have someone's input on this.
I will be very thankful for your time if it's getting resolved ASAP.

Thanks in advance.

[2020-05-12 16:13] icbaker commented on #7341
If I understand correctly this problem occurs because the media you're using is not spec-compliant (i.e. it's missing the CR code that must precede each row).

Doing anything on based on section B.9 of the CEA-608 spec seems wrong - the sentence you highlighted seems to refer to behaviour of the TC1 decoder which the introduction states was last sold in mid-1985 and support for its behaviour can l

[2020-05-12 16:22] Abu-Abdullah commented on #7353
Another output from the console that might be related to this issue:
[code]

[2020-05-12 17:59] christosts commented on #7310
The playlist data are currently returning an HTTP 403, can you please check if the stream is still available?

[2020-05-12 18:55] gokulkalagara opened #7369 "Offline Downloaded Video also taking time to seek"
I download the dash video into the local cache.

Its buffering,  taking time for **seekTo()**

**MediaSource**
[code]

**CacheDataSourceFactory**
[code]

Please help me to make it fast,  Is there any way to make it fast?

[2020-05-12 20:33] krocard commented on #7354
From your log, it seems the system is only allowing your app to allocate 128MB of memory.

[code]
Quickly skimming through the log I'm not sure why the memory is so limited. There are codec used (OMX.MTK.VIDEO.DECODER.AVC), but 128MB is very limited.

Which Xiaolajiao device are you using, and how many memory does it has?
Also, what is the bitrate of the file you are playing?

[2020-05-12 20:35] krocard commented on #7352
Unfortunately, I can not access the link you posted:

403 Forbidden

Could you please post the specificity of the media you intend to play (bitrate, codecs, streams...)? You can get that information with mediainfo or ffprobe.

[2020-05-12 20:37] krocard commented on #7355
@kim-vde, does ExoPlayer supports exact seeking for mp3 in ?

[2020-05-12 20:43] krocard commented on #7355
I found the relevant feature request: https://github.com/google/ExoPlayer/issues/6787#issuecomment-585904489

@zjamshidi You need to set the flag Mp3Extractor.FLAG_ENABLE_INDEX_SEEKING to seek to an arbitrary timestamp in mp3 (this is due to the lack of 0(1) way of finding to which offset to seek, making such seek potentially slow).

More info on the feature request comment I linked.

[2020-05-12 20:43] #7355 closed, assigned to krocard

[2020-05-13 02:08] kuailedeadai commented on #7346
Hello, I have captured the effect picture of Huaping as follows:
![Screenshot_20200513-072507](https://user-images.githubusercontent.com/10614848/81763217-4dbd9f00-9501-11ea-986b-1c18d59206e5.png)，
The video file is in h265 format, the phone model is TECNO I5，thank you

[2020-05-13 02:24] sneelavara commented on #7341
Thank you @icbaker for the inputs. I don't have a strong evidence to declare this stream as off spec. I couldn't find any reference which says the CR is mandatory. Other players (like Safari and VLC media player) are handling this situation gracefully  by not filling the entire screen.

`Would you be happy with ExoPlayer's behaviour if we didn't auto-wrap?`
Yes, that would be much better compare t

[2020-05-13 04:55] rishun-fsi opened #7371 "Play a specific dash content in landscape full-screen mode, some noises are generated."
Hello,

I played a specific dash content using the demo app in landscape full-screen mode, I encountered a problem.
When I change a specific representation to another specific representation, some noises are generated in a video image.

It occurred only a specific model phone and specific content.
And, it did not occur portrait mode.

Could you confirm this issue and please tell me how to avoid th

[2020-05-13 05:48] zjamshidi commented on #7355
Thanks for your reply. I'm checking it.

[2020-05-13 06:11] zjamshidi commented on #7355
It seems it's not released yet. It would be nice to provide a sample for it. I'm following main-demo coding and I don't know how to get the extractor.

[2020-05-13 06:19] zjamshidi commented on #7355
Do you have any ETA for the next release?

[2020-05-13 07:46] ojw28 commented on #7354
If you're not already doing so, it may be a good idea to enable `largeHeap` to see if that helps. See [here](https://github.com/google/ExoPlayer/blob/r2.11.4/demos/main/src/main/AndroidManifest.xml#L35) for an example.

[2020-05-13 08:01] kim-vde commented on #7355
It is indeed not released yet. We plan to update the documentation when it is released.  @ojw28, do you have any idea of when this is going to be?

[2020-05-13 08:40] tonihei commented on #7351
Just to confirm the core changes:
 1. Reduce minBuffer to 6 seconds and maxBuffer to 10 seconds in DefaultLoadControl
 2. Throttle network speed to simulate a poor connection.
 3. Play a stream with a single non-adaptive 6.1Mbps track.

Observed effect:
 - Player state changes between BUFFERING and READY

Expected effect:
 - Player is always READY (?)

If this summary is correct, then everything i

[2020-05-13 09:13] Romantic-LiXuefeng commented on #7351
@tonihei  Please reproduce this issue with my provided demo.   It's not related with bitrate.
[http://n2.vod01.icntvcdn.com/newtv2/2017/7/26/602fdfdfab1a3a679e97/ce0715892a1441b19e2316322f5fe3fc_21merge.m3u8](http://n2.vod01.icntvcdn.com/newtv2/2017/7/26/602fdfdfab1a3a679e97/ce0715892a1441b19e2316322f5fe3fc_21merge.m3u8) , you can test with this url with low bitrate.

Excepted: Not repeatedly chan

[2020-05-13 09:16] krocard commented on #7355
Set the flag when creating the `ProgressiveMediaSource`:

[code]

The demo code uses the `DefaultMediaSourceFactory` that does not allow to inject it's `ProgressiveMediaSource`.

In your app, if you are not going to play chunked HTTP streams (DASH, HLS or SS) and thus do not need `DefaultMediaSourceFactory`, use the `ProgressiveMediaSource` directly:

[code]
For context the player is created [here

[2020-05-13 09:40] skogl commented on #7325
Have you been able to reproduce this issue or do you need more info?

[2020-05-13 09:41] Romantic-LiXuefeng commented on #7351
I don't think it's a right way.   In good Internet, it's works well, I think the value of `public static final int DEFAULT_MAX_BUFFER_MS = 10000;` is ok.

[2020-05-13 11:12] icbaker commented on #7361
I think there is something not quite right here, but it's what you've quite described.

Confusingly `TtmlDecoder#parseTtsExtent` is only used to parse the extent of `tt` nodes, which *must* be in px (or `auto` or `contains`):

https://www.w3.org/TR/2018/REC-ttml2-20181108/#style-attribute-extent

When parsing a `tts:extent` on `region` we do allow percentages:
https://github.com/google/ExoPlayer/b

[2020-05-13 11:14] Stonos opened #7372 "Is the source code of the ExoPlayer's custom Cast receiver available somewhere?"
### [REQUIRED] Searched documentation and issues
* Google
* ExoPlayer's repo: Found a commit (57ed00873ff948370d38901b5b0fd73992abfc7e) that mentions a `cast_receiver_app` directory on `,gitignore`, but that directory is not in the repo
* [ExoPlayer Integration](https://developers.google.com/cast/docs/android_sender/exoplayer) guide on the Cast documentation. It has some code snippets to help you

[2020-05-13 11:14] zjamshidi commented on #7355
Thanks a ton. Looking forward to getting the new release

[2020-05-13 11:46] AquilesCanta commented on #7372
Hi @Stonos, there are two different apps in discussion here:
- The custom cast receiver project (the one [this commit](https://github.com/google/ExoPlayer/commit/57ed00873ff948370d38901b5b0fd73992abfc7e) references) was canceled before release. And ExoPlayer's cast extension users are encouraged to use the default cast receiver and follow cast's documentation if they want to implement their own cu

[2020-05-13 12:03] Stonos commented on #7372
Thanks for the quick response!

Oh, my bad, I didn't realize that those were 2 different apps. I was talking about the receiver app that supports DRM.

So I assume that the only change that was made to it was to add a [License request handler](https://developers.google.com/cast/docs/android_sender/exoplayer#license_request_handler) in order to support DRM?

[2020-05-13 12:34] AquilesCanta commented on #7372
Yes, I'm not perfectly aware of what the change involves, but it basically plumbs the JSON message to make a license request. Please close if this answers your question.

[2020-05-13 12:56] Stonos commented on #7372
Thanks, that's what I needed to know!

[2020-05-13 12:56] #7372 closed, assigned to AquilesCanta

[2020-05-13 15:13] Aravindraj93 opened #7373 "Exoplayer FFMPEG issue. Video froze on the first frame after adding Exoplayer FFMPEG extension"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/4940
https://github.com/google/ExoPlayer/issues/3852

### [REQUIRED] Question
I am working on adding Exoplayer and it works fine. But some of the videos were playing without audio, it plays fine in VLC medial player. So I was suggested to add Exoplayer FFMPEG. I added Exoplayer FFMPEG extension. But now Vid

[2020-05-13 15:32] henninghall opened #7374 "How to prevent removing previous subtitle when receiving an empty cue?"
### [REQUIRED] Searched documentation and issues
Searched github issues, documentation and stackoverflow.

### [REQUIRED] Question
The subtitles are disappearing too quickly, and the reason seems to be that I receive empty cues that remove the previously displayed subtitle. How can I prevent this to happen?

**EDIT:** Realizing the question might actually be: Why do I get empty cues where I should

[2020-05-13 16:01] Abu-Abdullah commented on #7353
i tried to use CronetDataSource and i got the same results:
[code]
i tried as well the recommendation found [here ](https://medium.com/@leandromazzuquini/if-you-are-using-okhttp-you-should-know-this-61d68e065a2b)of using only one okhttpclient and i made it even static to make sure no leak is happening. again the same result

it seems i run out of options. any hint or support is appreciated

[2020-05-13 18:21] ojw28 commented on #7353
What you're seeing is a socket timeout from the underlying network stack when ExoPlayer makes a request, which mostly rules out this being bug in ExoPlayer. Furthermore, you see the same behaviour with three different underlying network stack implementations, which mostly rules out a bug in any one of the network stacks as well.

Given this, it seems highly like that the issue is with the network

[2020-05-13 18:42] ojw28 commented on #7355
This will be in the `2.12.0` release. We don't have a good idea of the date yet, unfortunately.

[2020-05-13 19:20] krocard commented on #7366
I'm not sure to understand the question. What type of video processing are you talking about?

Do you want the video duration in the UI to decrease with the speed as if
`UI_video_duration = real_video_duration / speed`)

Or is the UI video duration you want to display related to your app _processing on video_, so not proportional to the speed?

[2020-05-13 19:35] krocard commented on #7363
Yes, using a [`MergingMediaSource`](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/source/MergingMediaSource.java#L36).

The following example in the developer guide merges a subtitle and a video file, but you can do the same with a video and audio source: https://exoplayer.dev/media-sources.html#side-loading-a-subtitle-file

I'm not sure t

[2020-05-13 19:36] krocard commented on #7363
Please reopen if my previous comment does not answer your questions.

[2020-05-13 19:36] #7363 closed, assigned to krocard

[2020-05-13 19:39] krocard commented on #7362
Seems like you are hitting an invalid token in the XML stream. I'm not sure we can help you on what exactly is wrong in your media without access to the dash manifest itself. Maybe you could attach it to this issue?

@ojw28 is our DASH expert, and might be able to help further.

[2020-05-13 19:42] ojw28 commented on #7362
It looks like the DASH manifest is malformed. You'll have to provide it to us if you'd like us to check, however. Marking as "needs more info" for this reason.

[2020-05-13 20:29] hasija79 commented on #5978
It looks like the getManifest function got removed from the SegmentDownloader implementation classes after these changes. We are overriding this abstract function to filter the playlist & copy stream keys currently.

Can we provide access to the getManifest in dependent classes like we have now or remove the final keyword in getManifest method in SegmentDownloader? Thanks

https://github.com/googl

[2020-05-13 20:42] ojw28 commented on #5978
I don't really understand what you're doing, or why. Playlist filtering based on the stream keys already happens automatically in `SegmentDownloader`.

[2020-05-13 20:53] hasija79 commented on #5978
We've the video bitrate available before start of download & not stream keys. In getManifest, I am loading the manifest & selecting suitable stream keys before filtering.

[code]

[2020-05-13 21:02] ojw28 commented on #5978
I see. I think the way we'd support that is to let you inject your own `HlsPlaylistParser` through the constructor. Which you could implement to do something like:

[code]

It's possible you already have such a `HlsPlaylistParser` implementation for playback. Does that approach work for your use case?

[2020-05-13 21:17] hasija79 commented on #5978
I believe FilteringManifestParser should work in our case with this logic.

Thanks for the prompt reply. Appreciate it.

[2020-05-14 02:48] jhwsx commented on #7354
Honglajiao Note4X Android 6.0, API 23。
Memory：3GB

[2020-05-14 02:51] jhwsx commented on #7354
![xiaolajiao](https://user-images.githubusercontent.com/19379538/81898936-42936d80-95ec-11ea-8096-503effc7f059.png)
file info：
[code]
The video is short but very large(about 249 MB), so I cannot upload it.

[2020-05-14 03:13] Romantic-LiXuefeng commented on #7351
#https://github.com/google/ExoPlayer/issues/7252

[2020-05-14 03:13] Romantic-LiXuefeng commented on #7252
#https://github.com/google/ExoPlayer/issues/7252

[2020-05-14 04:14] rishun-fsi commented on #7371
Please see the attached file and check the details.
[bugreport-2020-05-14-10-17-00.zip](https://github.com/google/ExoPlayer/files/4625982/bugreport-2020-05-14-10-17-00.zip)

![issue_capture](https://user-images.githubusercontent.com/43164510/81891925-c184a800-95e4-11ea-9cb1-d71e1fdf9818.gif)

If you have any further questions, please let me know.

Thank you in advance

[2020-05-14 04:58] Abu-Abdullah commented on #7353
i tried to sniff the packets (using Packet capture from google store) from 2 versions of my app where i used exoplayer (having this issue) in one of them and the other one with native mediaplayer (which does not have this issue as it seems to me).
the difference between them is mainly:
- exoplayer has additional "Icy-MetaData: 1"
- exoplayer has "Accepted-Encoding: gzip, deflate" where mediaplayer

[2020-05-14 04:59] ghost commented on #7366
Hi @krocard Thank you for quick response.
I have applied above formula. But video will complete on it's actual time.
Let's say I have choose video of `144639` Millisecond. set speed 5. As per your formula `144639/5 = 28927.8`. So now video duration is `28927.8`. But when I play video in exoplayer with speed `5` it will complete in `144639` Millisecond not `28927.8`.
So how can I play complete vide

[2020-05-14 05:05] Abu-Abdullah commented on #7353
can i replicate the same packet structure in exoplayer to match the other one. just to see if this will help or not.

after reading your comment, i guess it is the server now who is rejecting the request after 6 times of requesting 6 files (same file of different). the pattern is exactly the same every time. i guess it is a security mechanism that identified my request based on some criteria and r

[2020-05-14 07:56] henninghall commented on #7374
Probably related to this https://github.com/google/ExoPlayer/issues/2669 but they the problem also occurs every 6th second.

[2020-05-14 08:10] tmm1 opened #7376 "Poor performance when using TextureView for rendering?"
I have been experiencing poor performance when using `TextureView` instead of `SurfaceView` for rendering, and have traced the root cause back to https://issuetracker.google.com/issues/37079050

It seems the [`onFrameAvailable` callback](https://android.googlesource.com/platform/frameworks/base.git/+/71f2cf116aab893e224056c38ab146bd1538dd3e/core/jni/android/graphics/SurfaceTexture.cpp#146) used by

[2020-05-14 08:40] jhwsx commented on #7354
Here are some other logs:
[code]

[2020-05-14 08:47] ghost opened #7377 "AndroidRuntime: FATAL EXCEPTION: main"
App Crash with the following error:

E/AndroidRuntime: FATAL EXCEPTION: main

[code]

    implementation 'com.google.android.exoplayer:exoplayer-core:2.10.4'
    implementation 'com.google.android.exoplayer:exoplayer-dash:2.10.4'
    implementation 'com.google.android.exoplayer:exoplayer-hls:2.10.4'

[2020-05-14 10:00] krocard commented on #7362
Actually, `������ ftypmp42�������` corresponds to the first bytes of a h.264 encoded MP4.

It seems like ExoPlayer it trying to play an  mp4 (a binary file) as a dash XML manifest.

How did you configure Exoplayer MediaSource?

[2020-05-14 10:26] krocard commented on #7366
If you play a video with speed 5, the real elapse time to play the video will be 5 time less.
Aka if you start a stopwatch at the beginning of the video, and stop the timewatch when it is finished playing, the stopwatch will show around 28927.8. You will also see and hear the video playing 5 time faster.

On the other hand, the timestamps reported by ExoPlayer (for example `Player.getCurrentPositi

[2020-05-14 10:31] icbaker commented on #7374
What do you mean by "receive" here? Are you talking about calls to `TextOutput#onCues` e.g. in SubtitleView:
https://github.com/google/ExoPlayer/blob/7d3f54a375fac04a746ca76a8f2e1ad32c8b45b2/library/ui/src/main/java/com/google/android/exoplayer2/ui/SubtitleView.java#L80

Does "empty cues" mean an empty `List<Cue>`, or a `List<Cue>` containing at least one `Cue` with both `Cue.text == null` and `Cu

[2020-05-14 10:49] krocard commented on #7377
Thanks @icbaker for the analysis.

`ComponentListener.onMetadata` calls `MetadataOutput.onMetadata` on all the MetadataOutput receivers your app registered with `SimpleExoPlayer.addMetadataOutput`.

Thus it seems your app added a `null` `MetadataOutput`. Search for your app calls to `SimpleExoPlayer.addMetadataOutput` a check that null is never passed.

Note that if you enable the Java nullness ch

[2020-05-14 10:49] #7377 closed, assigned to krocard

[2020-05-14 11:30] VenryZhong commented on #7179
ok,thanks, i kown how to fix it.
in huawei P9 , **OMX.IMG.MSVDX.Decoder.HEVC**  , getSupportedWidths is [96, 536] , in android.media.MediaCodecInfo.VideoCapabilities#areSizeAndRateSupported will return false , this makes the **OMX.IMG.MSVDX.Decoder.HEVC** decoder unable to select him normally.

[2020-05-14 11:42] marcbaechinger commented on #7364
Yes, you can use the constructor in case you want to use custom actions.

You can [create your notification channel yourself](https://developer.android.com/training/notify-user/channels) and then pass the channel id, name and constructor to the constructor.

If you want to override the drawables used by the actions you can override these as [described in the class level java doc of the PlayerNotif

[2020-05-14 11:53] marcbaechinger commented on #7369
DASH is an adaptive format which may have tracks of various qualities. This means that you need to select a track when you do the downloading. When you then play the track you need also to make sure to restrict the track selector to only select the track that is available from cache.

Does the media play at all from cache if you eg. put the device in airplane mode? If this does not work you may ne

[2020-05-14 12:02] kim-vde commented on #7267
Feel free to make a pull request to add this feature and we will be happy to review it. If you do so, please include tests with a minimal test asset. Thanks!

[2020-05-14 12:03] jhwsx commented on #7354
Here is my demo: [ExoPlayer2Demo.zip](https://github.com/google/ExoPlayer/files/4628109/ExoPlayer2Demo.zip)
I can see the OOM error in this simple demo:
[code]

[2020-05-14 12:05] marcbaechinger commented on #7365
Are you saying that when you call `player.seekTo(1, 12000)` from inside the onPositionDiscontinuity() callback, then it starts window 2 at default position instead of window 1 at 12000?

Can you please provide me with the code you are executing in the `onPositionDiscontinuity()` callback? To see what is going on in the player, can you please add `EventLogger` to the player of your app and take a b

[2020-05-14 12:07] henninghall commented on #7374
Thanks for the quick reply!

With "empty cues" I mean a `List<Cue>` with size 0.

The problematic onCue triggers seem to come from this place:
https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/text/TextRenderer.java#L203

Here is a media where the issue is present at several points, very clearly at 0:18.
https://streaming.sfanytime.com/sfa

[2020-05-14 12:27] andrewlewis commented on #7179
Thanks for the information. If the capabilities are being under-reported please report this to the OEM. Alternatively, the capabilities may also be correct in the general case even if you can find a particular higher resolution stream that plays (they are a safe underestimate), in which case this is working as intended.

[2020-05-14 12:27] #7179 closed, assigned to andrewlewis

[2020-05-14 12:29] bogdanDroidAds opened #7379 "DownloadManager and CachedMedia source duplicate download"
### [REQUIRED] Searched documentation and issues
I looked on stackoverflow and in this issue tracker but could not find something exactly like my issue.

### [REQUIRED] Question
I have the following scenario. I want to download some media, and at some point in the future play that media using exoplayer. For this I used the DownloadManager, as in the documentation. To playback the media I used the

[2020-05-14 12:48] andrewlewis commented on #7376
The graphics team commented that this was basically working as intended in 2016 [Internal ref: b/26842782#comment2], saying that "The thread is a Binder thread receiving the onFrameAvailable callback. Because it's a Binder thread, not something we explicitly create or control, we do have to attach it to the VM before calling into the VM. And since we don't know if/when it will go away (so we can't

[2020-05-14 12:49] andrewlewis commented on #7376
I'll actually leave this open a bit in case there is any follow-up and add an item to raise it with the graphics team next time we talk to them, in case there are any updates (but it sounded like a fairly fundamental limitation so I wouldn't be optimistic!). Thanks.

[2020-05-14 12:52] marcbaechinger commented on #7206
That looks interesting. Thanks for your comment and the PR. I look into this.

I think the problem above is that Assistant is sending a pause event which is not expected, but it's very well possible this is caused by the same reason.

@aureobeck Seems like the semantics described by @inv3rse indicates the problem is in the MediaSessionConnector.

[2020-05-14 13:12] andrewlewis commented on #7373
Does it play on a real device (not the emulator)?

Please provide the media you are trying to play so we can reproduce the issue. If you're unable to share test content publicly, please send it to `dev.exoplayer@gmail.com` using subject "Issue #7373". Please also update this issue to indicate you’ve done this.

[2020-05-14 13:49] Aravindraj93 commented on #7373
Thanks for helping me. No it doesn't work in real device as well. I tried to play the below testing link
[http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4](url)

[2020-05-14 13:54] Discovery-Prachi opened #7380 "Resources$NotFoundException (exo_controls_repeat_off)"
### [REQUIRED] Issue description
We are observing following crash on Crashlytics multiple times on Device : HMD Global, Nokia 5.1 plus, Android OS 9.

We are not using or overriding this drawable - "drawable/exo_controls_repeat_off"  in our app. Could you help us solve this.

### [REQUIRED] Reproduction steps
We could not reproduce, but observing on Crashlytics multiple times for mentioned devices

[2020-05-14 14:16] gokulkalagara commented on #7369
I download a particular track and playing that track only
seek in the buffered data is playing less than second but not in the buffer position taking 3 seconds
**In youtube, it's playing less than second in any position for offline video**

please check my log report

[Log.txt](https://github.com/google/ExoPlayer/files/4628867/Log.txt)

[2020-05-14 15:55] icbaker commented on #7374
Thanks for the media link, I can reproduce the problem: When watching with Danish subtitles I see "hvilken herlig dag" appear briefly and then disappear. Upon inspecting the subtitles it looks like it is supposed to start at 17.48s and last until 20.28s but disappears at about 18s.

I've had a closer look at the media, I think the problem is that this subtitle is in the [12s - 18s segment](https:/

[2020-05-14 16:16] Abu-Abdullah commented on #7353
i was looking for a way to remove header property with no success. such code didn't work for me:
[code]

[2020-05-14 16:35] icetronics opened #7381 "IllegalStateException in Live Dash stream on FireTVs"
### [REQUIRED] Issue description
On certain FireTV models some of the Live streams fail to play and crash the player. I would like to inquire whether this behavior rings any bell or you spot any issues with the stream.

### [REQUIRED] Link to test content
### [REQUIRED] A full bug report captured from the device
sent via email

### [REQUIRED] Version of ExoPlayer being used
2.10.8

### [REQUIRED]

[2020-05-14 16:38] tmm1 commented on #7376
Really appreciate you surfacing this up to us.

Interesting. I am not very familiar with the internals of Binder. What about it prevents the thread from using the detach at thread destruction technique?

What I have noticed is that the behavior gets worse if we store large objects on the java heap. For instance if you create about 12MB of String objects on the java heap, all of a sudden you will s

[2020-05-14 18:31] deepakrokz commented on #7358
Hi @willnorris, @xian, @canatella, @kiall, @icbaker,
Guys help me please, I will be very thankful to you.

[2020-05-14 18:45] kiall commented on #7358
I have nothing to do with ExoPlayer - haven't used it in years. Can you please stop mentioning random people.

I get tagged every month or two in ExoPlayer issues - I don't have the slightest clue why.

[2020-05-14 21:27] ojw28 commented on #7380
How many unique devices are the reports coming from? If it's a very small number, then it's most likely that these devices are running a custom Android build, which is broken. Possibly a build of Lineage OS (I'm not sure, but you can probably see exactly what build they're running somewhere in Crashlytics).

[2020-05-14 21:37] krocard commented on #7354
I think this OOM is due to several factor:
 1) the media file you are playing is 42 Mbps which is very high,
 2) Probably your app does not request a big enough heap, consider enabling `largeHeap` to see if that helps. See https://github.com/google/ExoPlayer/issues/7354#issuecomment-627811740
 3) Maybe `DefaultLoadControl.setPrioritizeTimeOverSizeThresholds` is set to true, which would not set a l

[2020-05-14 21:59] ojw28 commented on #7348
The version you're using is so old that I don't think we can spend time looking at this issue. The easiest way to check is to give your content a try in a recent version of the [demo app](https://exoplayer.dev/demo-application.html).

[2020-05-14 21:59] #7348 closed, assigned to ojw28

[2020-05-14 22:06] jhwsx commented on #7354
When I go to office, I'll send it to your email asap. I think I have to enable `largeHeap` now, which, though, is not a very good solution.

[2020-05-14 22:07] krocard commented on #7347
This question is similar to https://github.com/google/ExoPlayer/issues/7202.

@marcbaechinger or @AquilesCanta do we have an example of such DRM offload playback?

[2020-05-14 22:08] krocard commented on #7356
@AquilesCanta Can you help understand why the crypto key is not available?

[2020-05-14 22:12] krocard commented on #7345
I don't think we can help you without more information like a your player configuration and layout and a logcat to check if anything interesting is happening when the issue occurs.

[2020-05-14 22:16] krocard commented on #7357
@tonihei, the code is here: https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/library/ui/src/main/java/com/google/android/exoplayer2/ui/TrackSelectionDialogBuilder.java#L209

I guess this should be replace by `androidx.appcompat.app.AlertDialog`

[2020-05-14 22:22] krocard commented on #7358
`MediaCodec.native_configure(Native Method)` throwing `java.lang.IllegalStateException` during `MediaCodecRenderer.initCodec`

@ojw28 Is this a known issue for the software decoder OMX.ffmpeg.hevc.decoder or can you understand the issue from just the stacktrace?

@deepakrokz it would be great if you can post the logcat when the error occurs, or even better, the full bug report. Thanks!

[2020-05-14 22:30] krocard commented on #7379
I think the issue is that until fully downloaded, ExoPlayer will not consider it available and download stream it instead, but @marcbaechinger will know more.
@marcbaechinger is there a way for exoplayer to use the partially downloaded file instead of downloading the chunks a second time?

[2020-05-14 22:35] krocard commented on #7359
The expected behaviour is for ExoPlayer to recover (aka try again) from any player error when going to the next item on the playlist or playing again the current item. Thus I'm not sure to understand the issue you are facing.

Could you post the stacktrace of the error you encountering during playback? That would help us understand what is the problem here.

Please also post a step by step procedu

[2020-05-14 22:41] krocard commented on #7371
@ojw28 does that ring a bell? Is there anything we can do without access to a Galaxy S10+?
Note that I can not access the content linked, and I did not see anything suspicious in the log.

[2020-05-14 22:55] ojw28 commented on #7371
The test URL gives me a HTTP 403 (forbidden) error. I tried proxying through Japan, but that didn't help either. We need an accessible test stream to investigate this further.

[2020-05-14 23:18] #7207 closed, assigned to AquilesCanta

[2020-05-14 23:18] #7278 closed, assigned to tonihei

[2020-05-14 23:19] ojw28 commented on #7193
@tonihei - Can this be marked as fixed now?

[2020-05-15 00:32] gmarques33 commented on #3750
+1

[2020-05-15 00:45] Swathi-Thirunarayanan opened #7382 "dequeueOutputBuffer() returning -1"
### Description:
I am trying to implement frame reverse (after every key press, it goes back by 1 frame) in exoplayer. I was successful with MPEG2 content but unfortunately for MPEG4 (AVC) content, when I try to do frame reverse, dequeueOutputBuffer() is always returning -1. I am trying to understand the reason behind it. When i traced back dequeueOutputBuffer() to find the root cause, I was stuck

[2020-05-15 01:08] #7237 closed, assigned to icbaker

[2020-05-15 01:08] #7233 closed, assigned to icbaker

[2020-05-15 01:44] jhwsx commented on #7354
The media file has been sent to dev.exoplayer@gmail.com.

[2020-05-15 03:14] #7359 closed, assigned to krocard

[2020-05-15 03:57] marctan opened #7383 "Correct Lazy loading implementation"
Hello,

I'm trying to implement lazy load design in my music player.
I'm fetching the songs from an API. The total songs are 1000+ so fetching it all in one go is not good.

That's why I've used a pagination/lazy load design. So it will be fetched by batch, initially 100, then if the user scrolls to a certain Threshold, it will load again another 100.

The problem is, when a song is already playin

[2020-05-15 04:29] Bhuvanesh-Verma commented on #7364
Thanks, it worked. I thought there is any exoplayer specific constructor where I can make custom action along with Notification channel. But this worked as well.
Closing the issue.

[2020-05-15 04:29] #7364 closed, assigned to marcbaechinger

[2020-05-15 04:51] ghost commented on #7365
Thank you for your response.
No I am not calling `player.seekTo(1, 12000)` from Inside the onPositionDiscontinuity() callback.

Please see code.

[code]
When Call player.seekTo(1, 12000) from seekbar listener and then I get callback in onPositionDiscontinuity() with DISCONTINUITY_REASON_PERIOD_TRANSITION reason and windewIndex increased and it will be 2. And next video will play from it's default

[2020-05-15 08:09] gokulkalagara opened #7384 "Drm Dash Video are not playing in redmi note 8 pro"
Getting this error only for this mobile only

**com.google.android.exoplayer2.drm.DrmSession$DrmSessionException: android.media.MediaDrm$MediaDrmStateException: Failed to handle key response: General DRM error**

Please help me

![WhatsApp Image 2020-05-15 at 12 59 17](https://user-images.githubusercontent.com/13214923/82027076-5228ba00-96b1-11ea-8bf8-b109c9918e8e.jpeg)

![WhatsApp Image 2020-05-1

[2020-05-15 08:35] icbaker commented on #7358
+1 to this, please don't tag random people (even random members of ExoPlayer team) or ping issues with no additional info just to try and get attention. Someone from the team will look at every issue. We can usually resolve your problem faster if you provide the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2020-05-15 08:38] icbaker commented on #7341
After some discussion with the team we decided to solve this slightly differently: Update `Cea608Decoder` to ignore lines longer than 32 chars (since the spec only allows 32 columns).

This is now pushed to dev-v2, it fixes the issue with the provided media.

[2020-05-15 08:38] #7341 closed, assigned to icbaker

[2020-05-15 08:56] Samrobbo commented on #7252
Closing as bot was about to close, and no new information has been given.

[2020-05-15 08:56] #7252 closed, assigned to Samrobbo

[2020-05-15 09:24] damiancioo commented on #6168
Same here, Exoplayer 2.11.4, Android 9

[code]

[2020-05-15 09:45] ojw28 commented on #7337
@Samrobbo - It would be good to get a fix in for this. It's probably just a case of using `readUnsignedInt` instead of `readUnsignedIntToInt` when reading `dataSize`.

[2020-05-15 10:18] Samrobbo commented on #7337
@ojw28 @simonvar I'll look into this now. Thanks for the hint.

[2020-05-15 11:04] marcbaechinger commented on #7206
We merged the pr #7367 of @inv3rse into thee dev2 branch.
@aureobeck Can you please test if this helps?

[2020-05-15 11:07] marcbaechinger commented on #7383
You need to prepare the player with the `ConcatenatingMediaSource` once at the very beginning when you create the player.

Then you can just use `concatenatingMediaSource.addMediaSources(mediaSources)` without preparing again.

The ConcatenatingMediaSource has a [constructor with a flag `lazyPreparation`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/and

[2020-05-15 11:16] kuailedeadai commented on #7346
Hello, my test video is in h265 format, the decoded data bit depth is 16 bits, at this time Huaping, I use another h265 video, the decoded bit depth is 8 bits, the rendering is normal, please ask if this Is there any parameter of mediacodec that can be obtained or optimized?

[2020-05-15 11:24] Verdurakh opened #7385 "removeFirst error, threading and activities usage"
I have a question about usage of exoplayer.
I recently switched from MediaPlayer to Exoplayer to play background music in a game and from my local tests everything is working as it should but I'm getting crash reports in crashalytics.
crashalytics:
NoSuchElementException at java.util.ArrayDeque.removeFirst (ArrayDeque.java:264)

From my research this might have to do with threading and can occur w

[2020-05-15 13:10] tonihei commented on #7193
Yes, bf5b52e fixed the bug mentioned above.

[2020-05-15 13:10] #7193 closed, assigned to tonihei

[2020-05-15 13:12] #7256 closed, assigned to tonihei

[2020-05-15 13:32] tonihei commented on #7379
If you want to use two Cache instances (one for download and one for temporary caching), #5867 sounds related.

Otherwise, as @krocard pointed out above, each chunk of data is only available after it has been fully downloaded. For adaptive streams (e.g. DASH, HLS), this is after every chunk. And for progressive media (e.g. mp4), the stream is artificially chunked into 5MB pieces.

Please also read

[2020-05-15 15:06] marcbaechinger commented on #7369
When looking at your log output I find the following lines to calculate the join latency and latency after seek.

First frame rendered at the beginning (join latency) seems to be 0.57 seconds:

[code]

Then for the seek I find these lines:

[code]

Which calculates to 1.3 seconds.

When I compare to what I see when I do the same with a sample DASH stream in the demo app I get the following results

[2020-05-15 15:37] marcbaechinger commented on #7365
Many thanks for further information.

A first observation is that you can remove the section with `Player.TIMELINE_CHANGE_REASON_DYNAMIC` because that is relevant for `onTimelineChanged(timeline, reason)` only. It may have the same value as a reason of discontinuity but you don't want to check for `Player.TIMELINE_CHANGE_REASON_DYNAMIC` in this callback.

Now, just to make sure I understand everyt

[2020-05-15 15:38] gokulkalagara commented on #7369
**Please help how to reduce latency**

Yes, I'm playing protected download content with license keys.

Is their anyway, even Hotstar, Netflix and amazon prime playing protected content less than one second.

[2020-05-15 15:56] marcbaechinger commented on #7369
From the information you sent me it seems that you successfully play protected offline content with an offline key. It's working in general and the logs you sent me shows that the player starts playback after a seek in 1.3 seconds rather than the 3 seconds you are experiencing.

It is not obvious to me how you measured these 3 seconds as well as the latency of the other apps you are mentioning. So

[2020-05-15 16:11] marcbaechinger commented on #7333
There is currently no way to do that I'm afraid. I mark this as an enhancement, but I can't say when we have time to look into this and provide a solution. If we find an easy way it's probably soon, but at a first look it seems like it needs some refactoring of the `PlayerControlView`. Currently when the `PlayerControlView` is hidden, the update action is stopped as the component assumes the progr

[2020-05-15 16:40] sneelavara commented on #7341
Thank you @icbaker

[2020-05-16 05:36] Bhuvanesh-Verma opened #7386 "PlayerNotificationManager is not removing Notification after swiping from recent items"
I am streaming audio through Exoplayer and creating respective notification for it.
When I remove app from recent apps, onTaskRemoved is called from service and notification is removed. However it only happens if I try to remove app within 1-2 minutes of starting the app. Post that if I try to swipe remove app from recent apps, playback is stopped but notification is not removed. Even onTaskRemove

[2020-05-16 06:29] gokulkalagara commented on #7369
I checked with normal mp4 download
**Its latency is 0.05 seconds for seeking any position**

Here protected content
[code]
**latency 2.63**
[code]
**latency 3.6**

Add a log of another file seeks latency 3.45
[log.txt](https://github.com/google/ExoPlayer/files/4637919/log.txt)
 latency above 3 seconds for offline content

Another log file back seeks latency 3.1
[log1.txt](https://github.com/google

[2020-05-16 08:55] Aravindraj93 commented on #7373
@andrewlewis  Hi, Could you help me with this issue?, And also there is no proper demo for the ffmpeg implementation. Could you help me with implementation code?

[2020-05-16 12:48] Verdurakh commented on #7385
ok, I found logs saying that I was making calls on the wrong thread, so assume that my instance inside the game loop is the problem, have moved it to the game activity and will see if it solves the problem

[2020-05-16 14:36] #7114 closed, assigned to marcbaechinger

[2020-05-16 19:23] #7190 closed, assigned to marcbaechinger

[2020-05-17 11:00] Verdurakh commented on #7385
So I moved the exoplayer from game loop into the game activity which should be running on the main thread and communicate with broadcast messages from the game loop to the activity, and it removed all the logs but I still get the crash error in crashalytics:

[code]

[2020-05-17 13:27] bhanuism opened #7387 "Correct way of implementing an interactive livestream from a gRPC streaming endpoint"
### [REQUIRED] Searched documentation and issues
Exoplayer Javadoc: Looked at ProgressiveMediaSource, ConcatenatingMediaSource, ByteArrayDataSource, UdpDataSource
Exoplayer github issues: Found this #7238  which closely resembles my use case

### [REQUIRED] Question
I'm implementing an interactive livestream(e.g a video call/conference). Exoplayer will render the video packets obtained from a gRPC

[2020-05-17 13:42] GouravSna opened #7388 "Sporadic ANR in MediaDrm.openSession()"
I had already raised an issue earlier but can not open not because it is locked.

https://github.com/google/ExoPlayer/issues/6730

This issue is still coming on ExoPlayer version 2.11.4 as well.

New logs FYI.

[code]

**[REQUIRED] Issue description**

We are seeing potential ANR in the application. It is coming when we are calling openSession()
**[REQUIRED] Reproduction steps**

When we are calli

[2020-05-17 14:22] gokulkalagara commented on #7384
[log.txt](https://github.com/google/ExoPlayer/files/4640390/log.txt)

its log file

**ERROR**
playerFailed [eventTime=1.25, mediaPos=0.00, window=0, period=0\n
 com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.drm.DrmSession$DrmSessionException: android.media.MediaDrm$MediaDrmStateException: Failed to handle key response: General DRM error\n      at com.google.andr

[2020-05-17 21:31] Valgaal commented on #7117
About `onDestroy ` from docs:
There are situations where the system will simply kill the activity's hosting process without calling this method (or any others) in it, so it should not be used to do things that are intended to remain around after the process goes away.

That's why `onDestroy` is not guaranteed. When process is killed then all objects(player) are killed. 'onDestroy' event doesn't ma

[2020-05-18 01:53] jhwsx commented on #7354
@krocard How is it going? May I ask that whether you have any workaround about this issue?

[2020-05-18 02:02] kuailedeadai commented on #7346
[Spider-Man-x265-59fps-60s.mkv.zip](https://github.com/google/ExoPlayer/files/4641633/Spider-Man-x265-59fps-60s.mkv.zip)

This is a video file of the test Huaping, which occurs on most models below Android5.1

[2020-05-18 02:37] kuailedeadai commented on #7346
HDR video files generally have errors

[2020-05-18 04:21] marctan commented on #7383
it worked by only calling player.prepare once. I did not use the lazypreparation parameter. Is it needed?

[2020-05-18 04:49] realizm commented on #5869
I request support sami subtitles, too.
Most Koreans use sami subtitles.

[2020-05-18 04:54] Bhuvanesh-Verma commented on #7386
I explicitly used startForeground()  in onNotificationStarted() and closed it with stopForeground in onNotificationClosed(). I am able to remove notification properly now but playback is not being stopped.
onDestroy() and onTaskRemoved() is being called but still music keeps on playing.
I then used player.setPlayWhenReady(false) in onDestroy() to stop music onDestroy() which worked but then if I t

[2020-05-18 07:31] AnkurJagani opened #7389 "How to determine the type of MediaSource to use"
Que. 1: Is it possible to detect the `MediaSource` type before We initialise it? I am playing different types of urls from backend and I need to specify the types of url whether it is `dash`, `hls`, `progressive` or `ss`. I am curios to know if there is any method from exoplayer which can infrom us the type of 'MediaSource' so that I can easily automate my client code.

Que. 2 : What should be the

[2020-05-18 08:41] dolarbhanderi-meka commented on #7363
Thank you. @krocard

[2020-05-18 08:52] bogdanDroidAds commented on #7379
Thanks. I will take a look

[2020-05-18 08:54] skogl commented on #7325
Just want to know if you have acknowledged this issue or if I should add more info? It's been two weeks.

[2020-05-18 08:57] krocard commented on #7342
@halilozel1903 do you still have the issue? I tried to play the URL (1) from your code on Friday, but had not access (50X error if I remember). But now, on Monday, it works fine, I can download the manifest (.mpd). Have you fixed a server side issue?

(1) http://185.184.208.112/contents/4B3647FA-AEB9-4702-ABBF-7BF4ED999E58/DASH/Android-drm-dash/stream.mpd";

If you still have the DRM issue, please

[2020-05-18 09:25] halilozel1903 commented on #7342
Thank you for answering.

@krocard The url I tried to play didn't work because it has an http extension. I was able to play content with https.

Good works :)

[2020-05-18 09:25] #7342 closed, assigned to krocard

[2020-05-18 09:41] krocard commented on #7346
Thank you for posting the problematic media.
I played it on both VLC with maximum verbosity and on my test Pixel 2 (checking the logcat), but could not observe any decoding log (1).

(1) Except for `05-18 10:36:11.067   920 10494 W QC2V4l2Codec: [hevcD_13] unknown/unsupported param index = 0xD200180A` but it did not prevent the video from playing.

As you commented, this seems to be device specifi

[2020-05-18 09:44] krocard commented on #7346
@andrewlewis Do we have a way to validate an/[this](https://github.com/google/ExoPlayer/issues/7346#issuecomment-629906222) h265 stream?

[2020-05-18 10:03] marcbaechinger commented on #7389
You need to figure out the type of media source you need to instantiate for a given stream yourself.

As you say, there are three adaptive types with a manifest which are DASH, HLS and SmoothStreaming. So for one of these three types, you need to know which one you need and then instantiate the correct one.

All the progressive formats need a `ProgressiveMediaSource`. The type of extractor require

[2020-05-18 10:11] marcbaechinger commented on #7383
If you don't use the `lazyPreparation` flag it defaults to `false`. This means each media source is prepared immediately when you prepare the player with the`ConcatenatingMediaSource`. You can avoid this by setting it to `true`. Each media source is then only prepared when required.

If you put 1000+ media sources into the concatenating media source you probably want to avoid causing 1000 network

[2020-05-18 11:18] christosts commented on #7382
That is not a straight forward task to achieve. Just to make sure I get the question right, I am assuming that when you go backwards by 1 frame, you pick the specific encoded sample, queue it as input buffer and expect to be output from MediaCodec.

I'm not sure which parts of ExoPlayer you are using, but in principle you cannot/should not assume that if you enqueue 1 input buffer for decoding, yo

[2020-05-18 11:18] #7382 closed, assigned to christosts

[2020-05-18 11:24] AnkurJagani commented on #7389
Thank you for your prompt reply. Is there any comment for my second question? (I can provide you actual url if it is must)

[2020-05-18 11:55] ojw28 commented on #7388
The previous issue was closed because there wasn't enough information for us to go on. This new issue still does not provide a full bug report captured with `adb bugreport`, as requested in our issue template. It's therefore likely that there still isn't enough information for us to go on.

@jt64 - Please take a look. If we still need more information, please add the "need more info" label and out

[2020-05-18 12:22] kgrevehagen opened #7390 "DRM performance on various devices"
### [REQUIRED] Searched documentation and issues
ExoPlayer Javadoc and code, exoplayer.dev, issue tracker, stack overflow.

### [REQUIRED] Question
When implementing DRM support in ExoPlayer I feel it is not so straight forward as the documentation states. The implementation itself is fine and works as expected on "good" devices, but when you start shipping this to the masses with x number of diff

[2020-05-18 12:24] yoobi commented on #7389
The `MediaSource` doesn't depend on the url but on the type of your video, for example if your video is a `mp4` you will use [`ProgressiveMediaSource`](https://exoplayer.dev/progressive.html)

[2020-05-18 12:31] christosts commented on #7384
This is probably a device issue unrelated to ExoPlayer but we might be able to provide some assistance you if you can share a bug report from the device, obtained after the device raises the error. You can send the bug report at dev.exoplayer@gmail.com with subject "Issue #7384".

[2020-05-18 13:05] deepakrokz commented on #7358
@krocard, sorry for the delay.

Here it is:

[code]

[2020-05-18 13:08] GouravSna commented on #7388
Sorry @ojw28 , again I don't have more info on this but still we are seeing these issues for a lots of users. That's why, may be, it is worth to take a look and using this logs if we can get some more info to understand the cause.

-Thanks

[2020-05-18 14:09] Verdurakh commented on #7385
getting a few more crashes 3  of the NoSuchElementException but they point at different rows of ArrayDeque (264,263,248)

Can the errors be because I'm recreating the player whenever I want to change music and each activity have their own player?
The use case is
Main activity -> game activity -> end activity1 or end activity2 and then back to main activity

Also got the below error

[code]

[2020-05-18 14:58] andrewlewis commented on #6308
@amjadmasri I think at the moment we don't have enough information to make this actionable, so I am going to close this issue. If you are still having problems with this, it would be helpful if you could pick up the changes to migrate to the new preloading API in fa7d26dd9f94f52c412ff7d6490630dd73f187a6 (they should be in a release soon), check the error is still reproducible and file a new bug wi

[2020-05-18 14:58] #6308 closed, assigned to andrewlewis

[2020-05-18 15:14] icbaker commented on #6765
This should now be working on the dev-v2 branch.

[2020-05-18 15:14] #6765 closed, assigned to icbaker

[2020-05-18 15:31] andrewlewis commented on #4140
I've verified this is fixed by migrating to the new IMA SDK preloading APIs (fa7d26dd9f94f52c412ff7d6490630dd73f187a6), and that change should be in a release soon.

[2020-05-18 15:31] #4140 closed, assigned to andrewlewis

[2020-05-18 15:35] andrewlewis commented on #5006
@magnusvs I've verified that both prerolls play after migrating to the new IMA SDK preloading APIs in fa7d26dd9f94f52c412ff7d6490630dd73f187a6. That change should be in a release soon. Sorry for the long wait!

@tech-advdigital With the ads response provided the preroll plays (it is not skipped) so I think this is probably fixed too.

@shasapo Please could you try to reproduce the behavior you are

[2020-05-18 15:35] #5006 closed, assigned to andrewlewis

[2020-05-18 15:35] andrewlewis commented on #6030
I've verified this is fixed by migrating to the new IMA SDK preloading APIs (fa7d26dd9f94f52c412ff7d6490630dd73f187a6), and that change should be in a release soon.

[2020-05-18 15:35] #6030 closed, assigned to andrewlewis

[2020-05-18 15:38] andrewlewis commented on #6097
We have now migrated to the new preloading APIs (fa7d26dd9f94f52c412ff7d6490630dd73f187a6) so this is probably fixed, but I wasn't able to verify because the provided ad is now empty. That fix should be available in a release soon. Please reply here or file a new issue if you still see issues after this.

[2020-05-18 15:38] #6097 closed, assigned to andrewlewis

[2020-05-18 15:40] andrewlewis commented on #6425
I haven't seen this error while testing various ad tags with the new IMA SDK preloading APIs (fa7d26dd9f94f52c412ff7d6490630dd73f187a6), and that change should be in a release soon. I will mark this as closed for now but please reply here or file a new issue if you can still reproduce this after that change.

[2020-05-18 15:40] #6425 closed, assigned to andrewlewis

[2020-05-18 15:42] #6429 closed, assigned to andrewlewis

[2020-05-18 15:43] andrewlewis commented on #7041
The ad tag is unfortunately now empty. Please could you try to reproduce this on the `dev-v2` branch, as I think it is probably fixed by fa7d26dd9f94f52c412ff7d6490630dd73f187a6?

[2020-05-18 15:45] andrewlewis commented on #7161
After 793f12da6d8559af0c5c04d27dd3f55141a0e8c0 playback shouldn't get stuck if we fail to preload an ad, and fa7d26dd9f94f52c412ff7d6490630dd73f187a6 may have fixed the underlying problem. Please could you try to reproduce using the `dev-v2` branch and let us know whether you are still seeing issues?

[2020-05-18 15:47] andrewlewis commented on #7212
It's difficult to say without the ad tag but please could you try to reproduce this on `dev-v2` to pick up the preloading improvements in fa7d26dd9f94f52c412ff7d6490630dd73f187a6? I suspect that will fix this.

[2020-05-18 15:47] andrewlewis commented on #7340
I've verified this is fixed by migrating to the new IMA SDK preloading APIs (fa7d26dd9f94f52c412ff7d6490630dd73f187a6), and that change should be in a release soon. (This is probably the same underlying issue as #4140.)

[2020-05-18 15:47] #7340 closed, assigned to andrewlewis

[2020-05-18 15:50] andrewlewis commented on #5444
Sorry for the long delay. This is probably fixed by fa7d26dd9f94f52c412ff7d6490630dd73f187a6 but I couldn't verify as I get an error `AdError [errorType: LOAD, errorCode: AdErrorCode [name: FAILED_TO_REQUEST_ADS, number: 1005], message: There was a problem requesting ads from the server. Caused by: 6]`.

We also added automatic timing out when preloading is not working correctly in 793f12da6d8559a

[2020-05-18 15:50] #5444 closed, assigned to andrewlewis

[2020-05-18 15:51] andrewlewis commented on #5966
After 793f12d playback shouldn't get stuck if we fail to preload an ad, and fa7d26d may have fixed the underlying problem. Please could you try to reproduce using the dev-v2 branch and let us know whether you are still seeing issues?

[2020-05-18 15:51] gokulkalagara commented on #7384
@christosts
Its showing error as the
**android.media.MediaDrm$MediaDrmStateException: Failed to handle key response: General DRM Error**

[2020-05-18 15:52] andrewlewis commented on #7002
We should be more robust to this kind of regression with server-side behavior since 793f12da6d8559af0c5c04d27dd3f55141a0e8c0, which times out preloading. Closing for now as I didn't find any issues with midroll playbacks on a variety of ad tags.

[2020-05-18 15:52] #7002 closed, assigned to andrewlewis

[2020-05-18 16:45] gokulkalagara commented on #7369
@marcbaechinger please respond for this?

[2020-05-18 17:42] ojw28 commented on #7117
@Valgaal - I'm not sure what your question is. @marcbaechinger already describes the recommended approach above. There are no guarantees that `onDestroy` will be called soon enough for your app or activity to free resources (e.g., hardware codecs) that another app or activity coming into the foreground might want to use. Hence the need to use `onStop` or `onPause` instead, depending on API level.

[2020-05-18 18:40] mkalyon opened #7391 "There is no sound (codec: a52 audio) just video playing"
Hi,
I cant get sound when playing following video that has a52 codec audio with exoplayer
But When I use libvlc with stereo mode , I can get sound.

https://www.dropbox.com/s/bpm0e2zxp8sj6tr/Dual-Audio.mkv?dl=1

How can I solve this issue?

[2020-05-18 19:07] ojw28 commented on #7384
@jt64 - Please take a look.

[2020-05-18 19:30] BlaineOmega commented on #7320
What is the status of this? Ticket #5417 was closed too. Has this feature been implemented? Is there another ticket tracking it?

[2020-05-18 19:32] BlaineOmega commented on #5417
I also would like to see this. Most Android apps are going to MVVM and if we want to use data binding along with custom UI controls, this is almost required.

[2020-05-18 19:41] ojw28 commented on #7358
The logs above seem to have been captured on a cloud based emulator running API level 19. Please see our [supported devices page](https://exoplayer.dev/supported-devices.html) for some information about emulators. We only support Android's official emulator, from API level 23. Please provide logs captured from a real device that experiences this issue.

Please also see the [supported formats page]

[2020-05-18 19:42] ojw28 commented on #7320
It wasn't. It's still open.

[2020-05-18 20:47] #7286 closed, assigned to ojw28

[2020-05-18 20:49] ojw28 commented on #7347
We don't have an example, although we're getting closer to a point where it can be added to the demo app without too much additional complexity. Let's use this issue to track doing this.

[2020-05-18 21:45] ojw28 commented on #7353
Sorry, but unless you can demonstrate that there's an issue with ExoPlayer, debugging this is outside the scope of this issue tracker.

[2020-05-18 21:45] #7353 closed, assigned to ojw28

[2020-05-18 21:57] ojw28 commented on #7390
@jt64 - Please take a look.

[2020-05-18 23:07] stevemayhew opened #7392 "How are Bandwidth Estimates averaged?"
I have a question about the code in the SlidingWindow as well.  I see it was partially answered in this issue, https://github.com/google/ExoPlayer/issues/6805.

The weighting makes sense, but I don't see how the mean is calculated over the set of weighted samples?

This description implies such an mean calculation takes place (from the [Bandwidth Analysis](https://docs.google.com/document/d/1e3jVk

[2020-05-19 05:13] gokulkalagara opened #7393 "android.media.MediaCodec$CryptoException: Error decrypting data: unspecified error"
**Exoplayer Version**
ExoPlayerLib/2.11.4

**Device details**

Manufacturer: samsung
Model: SM-G935W8

**Error**
[code]

[error-log.txt](https://github.com/google/ExoPlayer/files/4648308/error-log.txt)
Please check the log files

![drm-info](https://user-images.githubusercontent.com/13214923/82287239-6294a980-99bd-11ea-8149-540a943bbdd6.jpeg)

[2020-05-19 06:13] deepakrokz commented on #7358
In terms of real device thing, we are facing issues in Samsung tab running **Kitkat,** Honor 5A running API level **23 i.e. Marshmallow** as reported by some of the users. We don't have these devices stack trace. So I tried to generate this case in Genymotion device **Galaxy Nexus 7 running Kitkat** that's stack track I shared with you in the above comments.

Please help us.

[2020-05-19 06:19] jerryisbusy commented on #7352
A 403 error returned while the video was first time opened in browser. But if you refresh the page, it will be fine. I just tried, and it works. I don't know why.
By the way, use 'wget' to download it will be okay too.

Reveal the properties of this file, i got this:
Video:
Dimensions: 540 x 960
Codec: H.264 (Main Profile)
Framerate: 30 frames per second
Bitrate: 3515kbs

Audio:
Codec: MPEG-4 AAC

[2020-05-19 07:53] andrewlewis commented on #5929
@fpittersacc Sorry for the long delay. I don't have a Huawei device here to try to reproduce this. It would be helpful if you could check out `dev-v2`, set `ImaAdsLoader.DEBUG = true`, try to reproduce the issue using the main demo app (the IMA demo has been removed as it was redundant) and attach a bug report if it's still reproducible. By testing in the main demo app we should be able to tell if

[2020-05-19 07:56] tonihei commented on #7392
It picks the "weighted" median of the samples. "Weighted" means that the weights are taken into account when finding the element in the middle, but we don't "weight" the two elements either side of the middle to form an average.

Example [value, weight]:
  [1, 5]
  [2, 10]
  [3, 2]
  [4, 15]
The total weight is 32, so the midpoint is where the weight sum reaches 16.  Our algorithm then returns the

[2020-05-19 08:40] ojw28 commented on #7393
@jt64 - Please take a look.

[2020-05-19 08:43] fpittersacc commented on #5929
Thanks, we'll give a try and let you know

[2020-05-19 08:44] ojw28 commented on #7358
As per my comment above, HEVC is unlikely to be supported on KitKat devices. For devices that we do expect to support HEVC, you'll need to provide proper logs captured from those devices in order for us to help, I'm afraid.

[2020-05-19 09:17] tonihei commented on #7385
The player needs to be accessed from one single thread. That is, *all* methods need to be called on this thread without exception. See also [this section in the documentation](https://exoplayer.dev/hello-world.html#a-note-on-threading).

By default, the player expects to use the thread it is created on, but you can manually set the thread by using `SimpleExoPlayer.Builder.setLooper` if you like.

[2020-05-19 10:14] Verdurakh commented on #7385
Thanks for the reply.
As I said in my follow up comments I had the message of threading when I used exoplayer inside the game loop but I moved it into the activity and use local broadcast messages to change what is playing instead and that removed the logs that I could find.

Also I notice in the logs that the crash often happen after several usages and game attempts.

As far as I know all activit

[2020-05-19 10:25] krocard commented on #7354
@jhwsx Your issue is high on my priority list, and I'm planning to build your test app to take a loop at why the memory usage is so high, but I have other tasks too.
I will come back to you when I have some results.

[2020-05-19 10:42] pdalfarr opened #7394 ""Library source does not match the bytecode for ..." in Android Studio"
### Issue description
I just updated gradle dependencies from

    implementation 'com.google.android.exoplayer:exoplayer:2.10.6'

to

    implementation 'com.google.android.exoplayer:exoplayer:2.11.4'

and everything seems to work fine, except that now when I open [com.google.android.exoplayer2.mediacodec.MediaCodecRenderer](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/mai

[2020-05-19 11:11] tonihei commented on #7385
The second failure looks more like you added a `null` listener to the player. Please check you only add non-null listeners when calling `player.addEventListener` or similar.

[2020-05-19 11:21] Verdurakh commented on #7385
I'm not setting any listeners.
See the creation code I posted above, the only thing I do with the player after it is created is setting runWhenReady(true/false)

[2020-05-19 11:26] tonihei commented on #7385
Yes, sorry, ignore the last comment. The second error also clearly indicates parallel access. Please check again to see if there are any warnings.

[2020-05-19 13:00] andrewlewis commented on #7391
The device you're using almost certainly doesn't have an AC-3 decoder (though we can't check as there is no bug report on this issue).

The audio plays fine for me when using the [ffmpeg extension](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md), so you may want to try that.

[2020-05-19 13:00] #7391 closed, assigned to andrewlewis

[2020-05-19 13:33] mkalyon commented on #7391
Thanks for answer
My app is an cordova app.
I use exoplayer in cordova plugin.
I use SimpleExoPlayer.
Is it possible to use ffmpeg extension on cordova app.
Could you give  an example code for ffmpeg usage?
Best Regards

[2020-05-19 14:04] andrewlewis commented on #7391
I'm afraid giving guidance on external plugins is outside the scope of this issue tracker. You could try asking on their issue tracker, or on a general purpose site like Stack Overflow.

The [readme](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md) covers how to use the ffmpeg extension, and the ExoPlayer demo app has it integrated if you use a variant with extensio

[2020-05-19 14:13] mkalyon commented on #7391
Thanks

[2020-05-19 14:29] ojw28 commented on #7394
I'm pretty sure that the sources jar is correct. It's easy to verify this by taking one of the files from the sources jar and comparing it against the source code for the 2.11.4 release, [here](https://github.com/google/ExoPlayer/tree/r2.11.4). Short of a tool chain problem, which seems very unlikely to me, the class files were definitely generated from these sources too.

I'd therefore conclude t

[2020-05-19 15:00] #7394 closed, assigned to ojw28

[2020-05-19 17:00] Verdurakh commented on #7385
I'll take a look again and see if I can find something.

So you don't think there is any problem with recreating the player in each activity?

[2020-05-19 17:50] stevemayhew commented on #7392
Thanks so much @tonihei, of course my mistake I read "median" and thought "average".   Thanks for the reminder how median is calculated, now it makes perfect sense.

So the `maxWeight` setting basically sets the number of samples included in the median calculation.  The median is statistically much better to use the average, if the data set includes lots of outliers.  Note, the depth of data set i

[2020-05-19 17:51] stevemayhew commented on #7392
PS,  where is the best place for me to continue this discussion?   Comments on the design doc?

[2020-05-19 17:56] gokulkalagara commented on #7369
@ojw28 Please check this issue

[2020-05-19 19:35] aureobeck opened #7396 "Google Assistant Voice Commands not working on AndroidTV"
### Searched documentation and issues
Official `ExoPlayer` documentation and source code of `MediaControllerCompat`, `MediaSessionConnector`, `MediaSession` classes.

### Question
The new version release of Google app of May 14th (4.1.0.310049754) is not calling any callbacks on `MediaSessionConector`'s `DefaultMediaMetadataProvider` such as `onPause`, `onPlay`, `onSeekTo`.

On version 3.14.1.2949

[2020-05-19 19:53] henorek opened #7397 "Moving files from internal to external storage"
Hello there,

When I try to transfer files from one place to another, unfortunately, this does not happen. The only thing that happens is the .uid file in the target path, below I attach screenshots showing the cache structure before and after.

/data/user/0/package.name/files/
![image](https://user-images.githubusercontent.com/13158167/82331300-39d3da80-99e4-11ea-8cbc-d7f6599fd72f.png)

/storage/

[2020-05-19 20:11] Valgaal commented on #7117
What will happen if second app wants hardware codecs, but the first app holds them?

[2020-05-19 21:06] deepakrokz commented on #7358
Hi @ojw28 ,
What about this LOG:

[code]

This time I have used Android's Official Simulator Pixel running Kitkat and getting above issue as stack track.

[2020-05-19 21:18] AquilesCanta commented on #7325
Hi, surprisingly the CRC seems correct. So I don't understand how the muxer is generating this. I'm trying to gain some insight on the root of the problem. I wouldn't like to blindly add a workaround for this without having a sensible justification.

If you happen to come across a reasonable explanation we can look into working around this. However, you can always try to working around this in a f

[2020-05-19 21:36] ojw28 commented on #7358
As per my previous response:

[2020-05-19 22:00] ojw28 commented on #7117
I think the answer is that it depends. Some devices will successfully instantiate multiple codecs, in which case it will work fine. Unfortunately I don't think there's a good way to determine whether this will be the case, because the number that can be instantiated successfully can depend on the media for which they're configured.

If the codec can't be instantiated successfully then the app will

[2020-05-19 22:17] skogl commented on #7325
Hi,
I agree completely and that's why I wanted your opinion before I just added the workaround.

Yes I have tried the workaround (it's included in my first post) and for me it's working really well. I don't get the MediaCodecVideoRenderer exception that you say, though I have only tested it in an emulator.

Not sure what info you want from me. I don't have a reasonable explanation, that's why I as

[2020-05-19 22:21] jt64 commented on #7388
The logs only show the stack trace for the app, the calls are blocked in a service inside the framework. Without a bug report there is really no information in the traces that can help isolate the problem, because it could be due to many different possible failure conditions.  Are you able to reproduce the problem yourself using any of the devices you listed? If you can provide repro steps we can

[2020-05-19 22:30] jt64 commented on #7384
Yes we will need an adb bugreport to diagnose this further.

[2020-05-19 22:31] #6974 closed, assigned to jt64

[2020-05-20 04:06] GouravSna commented on #7388
I will try to grab more details.

[2020-05-20 04:12] gokulkalagara commented on #7384
Its customer phone, I can't get that.

[2020-05-20 07:22] ghost commented on #7366
Thanks for your help.

I have implemented as per you told. I calculated updated video duration and video will complete within updated duration with speed changes.

Let say `29568` Millisecond video, `0.6` speed set then updated video duration is `49280(29568 / 0.6).` So I sat that update duration and display in my screen.

But now I will seek manually and `seekTo` `24640` millisecond means `50%` o

[2020-05-20 07:28] tonihei commented on #7385
No, that shouldn't be an issue.

[2020-05-20 07:42] tonihei commented on #7392
The samples are saved in an unbounded list. The recycled samples array is only used to prevent recreation of the Sample object by reusing up to 5 of them. This is probably a premature optimization that makes the code more complicated than needed.

Sounds helpful, I'll get in touch.

Yes, please. If it directly related to the things in there, comments are most helpful. If it's more like a separate

[2020-05-20 07:48] hyeonsu94 opened #7398 "Does the order of code when initing the player matter?"
Most of the sample code calls 'setPlayWhenReady()' after calling the 'prepare()' method.

There's no particular reason, but I'm calling 'setPlayWhenReady()' first.

Is there any possibility of side effects or issues (I'm asking because there is already a distributed version)?

[2020-05-20 07:59] Raynor999 opened #7399 "Why automatic handling of audio focus is only available for USAGE_MEDIA and USAGE_GAM"
some case, automatic ducking is expected behavior for music and video playback apps,
so i need requests focus with AUDIOFOCUS_GAIN_TRANSIENT_MAY_DUCK  to let other apps duck and restore the volume .  but, automatic handling of audio focus is only available for USAGE_MEDIA and USAGE_GAM

[2020-05-20 08:15] javalue opened #7400 "exoplayer uses a lot of traffic"
hello exoplayer‘s developer
it's my question:
i have many videos, there are in list, when i slide screen, i will change the uri and rebuild mediasource. it's exist only one player and one textrueview.
In the test, my friend find it uses a lot of traffic, data speed plugin show 1-2m/s. it continued for about 4-5 seconds,but my video size just 2MB.

it's my old code:
[code]

today, i add the cache l

[2020-05-20 08:47] krocard commented on #7366
Does doing the inverse transformation when controlling the player fixes your issue. Aka
`player.seekTo(TimestampFromTheUI*videoSpeed)`.

In your example that would be: `player.seekTo(24640*0.6)`. As `24640*0.6 = 14784` which is 50% of the actual video duration (`29568/2`).

[2020-05-20 09:26] shiv-u opened #7401 "Can we get the data consumed by my app using bandwidthmeter ?"
### [REQUIRED] Searched documentation and issues
I have looked into https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/BandwidthMeter.html and https://medium.com/google-exoplayer/https-medium-com-google-exoplayer-simplified-bandwidth-meter-usage-17d8189f978b but didn't find anything related to data consumption.
### [REQUIRED] Question
I want to calculate the amount of data

[2020-05-20 09:41] christosts commented on #7400
I don't fully understand the situation.

If you have a list of videos and keep sliding between videos, the player will download a video every time you slide to a new screen. Are you saying the player keeps downloading data after you have played a 2M video but stay at that screen?

In the second code snippet, you are caching (temporarily storing) on the device each video, so a video is downloaded f

[2020-05-20 09:56] tigerss opened #7402 "Question: Does ProgressiveMediaSource save any file while playing from http url?"
1. I have been searching on Stackoverflow, website, API docs but it's still not clear how does ProgressiveMediaSource behaves when playing video from external http url. Does it saves chunks into a file and then render that? Or it keeps chunks only in memory?

2. Also when playing a video in loop it downloads over and over again the video or it has a cache somewhere?

[2020-05-20 10:08] tonihei commented on #7401
The easiest way to sum up all loaded bytes is to listen to `AnalyticsListener.onLoadCompleted/onLoadCanceled/onLoadError` and add up the bytes reported in `loadEventInfo.bytesLoaded`.

You could theoretically also add a new `TransferListener` to all your `DataSources` to get the same data as the `DefaultBandwidthMeter`. However, there are some problems with doing that and I would advise against it

[2020-05-20 10:15] Serkan-Karacelikler opened #7403 "Exoplayer DRM Support"
Hello, how can I add DRM support based on the code below?
[code]

[2020-05-20 12:15] christosts commented on #7398
I am not aware of an issue when calling `setPlayWhenReady()` before `prepare()`. Let us know if you see something strange.

[2020-05-20 12:15] #7398 closed, assigned to christosts

[2020-05-20 12:21] christosts commented on #7403
@AquilesCanta can you take a look?

[2020-05-20 13:04] christosts commented on #7402
It depends how you construct the ProgressiveMediaSource.

For example, if you use a DefaultHttpDataSourceFactory, it will create DataSources that fetch the video and keep it only in memory. Therefore, the ProgressiveMediaSource will download the video contents every time you play the file, and, in fact, it will likely download pieces of the same file within the same playback session more than once

[2020-05-20 13:06] stari4ek opened #7404 "Sony: video stopped on first frame (regression)"
### [REQUIRED] Issue description
Same HLS video on Sony TV with exoplayer 7214ad2d6f9d1e1c13649f2fb4b085ef746f0c3e plays well, but newer 535e14cb4d69ca41f91118cf2bd201ea94746d53 and most recent 0de9c007afcbc0fb6c753794afc902eb4aaa47b4 - does not.

Tracks are received, codecs initialized. But picture is frozen, no sound.
Switching to ffmpeg audio - solves the issue
Playing on other devices (checked

[2020-05-20 13:49] stari4ek opened #7405 "Droppping experimental_setReleaseTimeoutMs"
### [REQUIRED] Searched documentation and issues
source code itself

### [REQUIRED] Question
There was experimental feature to specify timeout for `release()`, which was dropped recently (https://github.com/google/ExoPlayer/commit/78c850a88579beb5ebf2c487a0bdd45a97d0c881)

I'm interested why it was dropped.
Here is my use-case:

According to crashlytics and google play console, there is issue, whe

[2020-05-20 14:46] #7402 closed, assigned to christosts

[2020-05-20 14:54] mseroczynski commented on #7397
If you have any suggestions on what to try please share them with us but please do not let this issue to be here unresponded for a long time - functionality broke right after we've migrated caching downloaded files mechanism to ExoPlayer (we've started using it believing it would be better to trust ExoPlayer than our own solution) and now we're in a dead end with tons of support messages.