[2016-10-13 16:36] ojw28 commented on #1925
The change above fixes V1, where the issue was introduced as a regression in r1.5.11. We'll push a fix for V2 tomorrow.

[2016-10-13 16:58] ishantsagar commented on #87
@AquilesCanta Thanks, this is really needed.

[2016-10-13 17:14] AntonAndev commented on #1940
I asked user with Nexus 7 to email me, he has another problem, I removed Nexus 7 from list. Sorry.

[2016-10-13 17:43] AquilesCanta commented on #1931
By chance, have you managed to play the provided stream with any other player? I strongly suspect it's malformed. We cannot help you with that, unfortunately. Please close if that's the case.

[2016-10-13 19:37] jglanfield opened #1941 "HLS seeking in reverse (rewind) doesn't work on a live event stream."
This is quite simple to reproduce. Essentially, if you call seekTo(P) where P is some time before the player's current position, it just seeks to the beginning of the stream (there is only one window and it can't do anything but seek to the beginning of it). It's the equivalent of calling seekTo(0).

I've noticed that one can reproduce this simply by removing the #EXT-X-ENDLIST tag from the .m3u8

[2016-10-13 20:19] tprochazka opened #1942 "Displaying last frame of previous video when preloading new one."
I found that ExoPlayer has the same issue like described here
http://stackoverflow.com/questions/25660994/clear-video-frame-from-surfaceview-on-video-complete

I tried to call player.stop() and then player.prepare() but during prepare period player still display the last frame of previous video and it looks weird. Is there any way how to force clean the SurfaceView before new one will start render

[2016-10-13 21:15] philipgiuliani commented on #1908
Would be awesome to see a new release soon! :)

[2016-10-13 21:55] gbhall opened #1943 "Memory leak with ExoPlayer2 (r2.0.2)"
I've been using ExoPlayer r1.5.6 but upgraded a week ago to r2.0.2 to try and fix a crash I occasionally get due to using several instances at once (another issue).

I currently use ExoPlayer in a FragmentStatePagerAdapter with a few instances running, and when a user swipes between pages local mp4's on the device they play/pause.

I use my own TextureView due to aspect ratio issues that I've alre

[2016-10-13 23:06] ojw28 commented on #1943
If you're using `PlaybackControlView` then you may well be running into https://github.com/google/ExoPlayer/issues/1908, which is fixed in `dev-v2` and will be in the next release.

Either way, it should be possible for you to analyze the leak yourself to at least diagnose the problem. Android Studio provides tools to allow you to find out what the leak is and what the chain of references is that

[2016-10-13 23:29] ojw28 commented on #1937
I could be wrong, but I don't think the doc you reference is relevant to SmoothStreaming. We've always unconditionally assumed that SmoothStreaming uses length-delimited NAL units (i.e. without start codes, or AVC1 style in the doc you reference). Hence FourCC="H264" does not seem to imply start-code-delimited NAL units in SmoothStreaming, else the samples we have wouldn't work.

The parser is def

[2016-10-13 23:32] ojw28 commented on #1941
We don't currently support seeking in live HLS. This is indicated in the `Timeline` exposed by the player. If you use the demo app, you'll see that the seek controls are disabled when playing such media.

Adding support for seeking in live HLS is tracked by https://github.com/google/ExoPlayer/issues/87.

[2016-10-13 23:32] #1941 closed, assigned to nobody

[2016-10-13 23:33] ojw28 commented on #1934
This is not something we'll be supporting with the in-memory buffer. We're working on enhancing on-disk caching to help better support this case. This is tracked by https://github.com/google/ExoPlayer/issues/420.

[2016-10-13 23:33] #1934 closed, assigned to nobody

[2016-10-13 23:42] ojw28 commented on #1931
The source media looks broken to me too. It doesn't play in Safari or VLC either. Just looking at the manifest, every segment appears to be referencing a different (but overlapping) part of the same file (002test.ts), which definitely doesn't look right.

If you are able to produce HLS AES-128 content that works in Safari/VLC but not in ExoPlayer, please file a new issue. For this one, it looks li

[2016-10-13 23:42] #1931 closed, assigned to AquilesCanta

[2016-10-13 23:59] gbhall commented on #1943
I'm just adding this quickly in the hopes you are still at work and will have a look (it's 7.55am here so your feedback would be valuable else I have to wait for your tomorrow).

I trigger GC multiple times. I'm not using PlaybackControlView as far as I can see since I use my own TextureView's surface to render video on, and I am not using SimpleExoPlayer, just ExoPlayer.

I have looked at the mem

[2016-10-14 02:47] gbhall commented on #1943
I've just emailed a simple demo that has the memory leak.

These were my results:
1. Launch MainActivity. Note allocated mem is 18MB
2. Click LAUNCH PLAYER.
3. Swipe from one end all the way to the opposite end 5 times.
   Note: I did this really fast and didn't even bother waiting for the video to show/load. Sometimes you get a crash from the ViewPager, try again.
4. Click back. Initiate GC multi

[2016-10-14 03:37] WeiChungChang opened #1945 "Mpeg DASH: PTS will be reset"
Dear all:

I just download the EXOplayer V2 a couple of days ago but find a strange thing when playing test URL.
Please refer to the test link below:
http://demo.unified-streaming.com/video/smurfs/smurfs.ism/smurfs.mpd?format=mp4
I find the after playing the first segment, the PTS will roll back to 0 again.
For native test link, it is no problem because the 'tfad' BOX provides the correct offset,

[2016-10-14 03:40] gbhall commented on #1945
You can add your test item to this file:
https://github.com/google/ExoPlayer/blob/release-v2/demo/src/main/assets/media.exolist.json

[2016-10-14 04:16] lichangadd opened #1946 "IllegalStateException playing MP4 with high resolution in some devices"
same problem as [https://github.com/google/ExoPlayer/issues/1806](url)
when I play a high resolution mp4 (1280x720),the stack:
`
10-14 11:47:14.437 15484-16050/com.google.android.exoplayer2.demo E/ACodec: [OMX.k3.video.decoder.avc] ERROR(0x80001009)
10-14 11:47:14.437 15484-16050/com.google.android.exoplayer2.demo E/ACodec: signalError(omxError 0x80001009, internalError -2147483648)
10-14 11:47:14

[2016-10-14 07:02] WeiChungChang commented on #1945
Sorry;

Finally I found I made a mistake since the spec of ISO 23009-1 says:

**Each ‘traf’ box shall contain a ‘tfdt’ box.**

and the link indeed has tfdt.

Maybe the problem comes from other test MPD files which do NOT follow the spec.

Thanks

[2016-10-14 07:36] amarkovits opened #1947 "Extractor for "pls" files"
I would like to play a pls stream (using ExoPlayer 2) but it seems that the default Extractors does not support the pls format.
Example of the stream: http://stream2.srr.ro:8000/listen.pls
Is there a way to play pls streams without having to write a custom extractor or to parse the url and get the link from the the file?

[2016-10-14 08:44] lichangadd commented on #1946
Solved，because the video with high resolution‘s codec version is 5.0 which some device not support

[2016-10-14 08:44] #1946 closed, assigned to nobody

[2016-10-14 09:37] ojw28 commented on #1945
There are multiple ways to add items to the demo app, which are documented [here](https://google.github.io/ExoPlayer/demo-application.html).

I'm not really sure what you're getting at here. I tried playing the sample to which you link and it plays fine in the demo app, with the time advancing correctly up to 1 minute. What do you mean when you say the "PTS will roll back to 0 again"? Are you refe

[2016-10-14 09:40] ojw28 commented on #1947
It looks like 'pls' is a type of playlist file, rather than an actual media stream. If you download the example link and open it in a text editor, it consists of only the following:

[code]

The underlying stream `http://stream2.srr.ro:8000` plays back fine in ExoPlayer. So it should be possible for you to write a super simple parser for pls files that extracts the underlying stream and passes it

[2016-10-14 09:40] #1947 closed, assigned to nobody

[2016-10-14 09:47] ojw28 commented on #1925
This should now be fixed in `dev-v2`. Sorry for the inconvenience. We'll cut another release probably early next week that includes the fix. If you could verify the fix in the meantime, that would be great.

[2016-10-14 09:47] #1925 closed, assigned to wvpaf

[2016-10-14 10:05] ojw28 commented on #1943
I was able to reproduce. I didn't spend any time debugging, but did try using `dev-v2` tip-of-tree, and the issue is no longer present. So it looks like whatever the leak was, it's fixed. We'll be pushing a new release early next week.

[2016-10-14 10:05] #1943 closed, assigned to nobody

[2016-10-14 10:09] alekmarinov commented on #1937
Thanks for your answer. Can you please check the email dev.exoplayer@gmail.com for the reference streams sent on 12. Oct?

Just after I published this issue found this one https://github.com/google/ExoPlayer/issues/1152 which is closed but explains precisely the same problem -> "bytesToSkip is always -61"

Your reply there is to comment out the part which causes the exception and that appears to w

[2016-10-14 10:09] #1937 closed, assigned to nobody

[2016-10-14 10:39] alekmarinov commented on #1937
Just to add one more fact that the same as in #1152 the issue is happening only with Live streams.

[2016-10-14 10:56] ojw28 commented on #1937
I don't really understand your comment about the FMP4 parser needing an enhancement. The source media is broken, and the fix is to correct the media to be valid.

[2016-10-14 11:45] alekmarinov commented on #1937
Based on your feedback our streaming provider will take actions to investigate the issue from the encoder side. I will comment here the results when they find something.
Thank you!

[2016-10-14 15:26] eneim opened #1948 "Better handle device not decoding video stream quickly enough"
Short: Here is the Android log

https://1drv.ms/v/s!AkhO6W-clkudtBxavDXzZ3uXMZaH

Tested on Nexus 5X, Android 7 (latest update).
##

I tried demo app on latest release-v2 branch, play the "Tear of steel - Clear HD VP9". I will stops the playback at a random time (I test a couple times and it varies). I suspect it is another memory issue, so I check with Android Studio. My record has the length of

[2016-10-14 16:30] ojw28 commented on #1948
I doubt this is a memory issue. You'd expect a memory issue to cause an out-of-memory failure and result in process death, rather than playback stopping at random. We'll take a look.

[2016-10-14 16:31] gbhall commented on #1943
I can confirm using the latest `dev-v2` resolved the memory leak. Thank you so much Olly for testing the demo app I sent you guys. It's a huge relief for me now.

Thanks again, and I hope you enjoy your weekend.  Cheers.

[2016-10-14 16:31] marcbaechinger commented on #1948
While I can repro this on Nexus 5x but it works on a Pixel phone. Not sure this is memory related.

Track: "WV: Clear HD (WebM, VP9)" of the category "Widevine DASH: WebM, VP9".

## Nexus 5X (Android 7.0)

Playback freezes when it tries to render the HD variant. When I restrict playback to the 720p variant by choosing only the smaller variant in the video track selector dialog, it plays fine.

##

[2016-10-14 17:12] ojw28 commented on #1948
It sounds like the device just isn't capable of playing the 1080p variant at 1x speed. We attempt to filter streams that a device isn't able to play, but it's borderline impossible to get it right all of the time. There are multiple dimensions (resolution, bitrate, profile etc) to consider, and performance of software decoders can depend heavily on what else the device happens to be doing at the t

[2016-10-14 17:32] ojw28 commented on #1942
The easiest way to do this is simply to make some other completely black view visible on top of the surface. We already do this in `SimpleExoPlayerView` prior to the first frame being displayed, and also in the case that video output is disabled (either via the selector in the demo app, or as a result of playlist transition from video to audio-only). The black view is called `shutterView` in that

[2016-10-14 17:34] ojw28 commented on #1942
Marking as an enhancement to track supporting this with `SimpleExoPlayerView`. Note however that you can pretty easily do something like this in your app without any library support. The `SimpleExoPlayer.VideoListener.onRenderedFirstFrame` callback will indicate to you the correct moment to hide the black view and hence make the surface visible.

[2016-10-14 18:35] jglanfield opened #1949 "Demo project doesn't handle out-of-date live streams (?)"
I may be misunderstanding how the ExoPlayer.playWhenReady() method actually works, but when you press the play button in the demo project, it is handled in PlaybackControlView.java like so:

[code]

However, assume that the HLS stream is a live event and that the user has sat on the paused state for long enough that resuming playback from that state is no longer possible. In this case, it really s

[2016-10-14 19:20] jglanfield commented on #87
Looking forward to this! Just to clarify, I know this means that we will be able to seek (forward or backward) within the current window, but if the server stores a longer history, will we be able to seek prior to the edge?

[2016-10-14 19:41] jschools opened #1950 "Subtitles can be hidden prematurely or never rendered"
**Issue:**
Occasionally, a subtitle will be hidden prematurely or never displayed at all. Debugging the stream shows that the affected subtitles always span a text sample boundary. This issue occurs when rendering subtitles that come from a streaming MP4 source. I have tested using a TTML stream, but it may reproduce with other formats.

**Cause:**
Consider two adjacent text samples. Sample A star

[2016-10-14 20:21] ojw28 commented on #1950
In this case I think correct media should duplicate Subtitle S in both Sample A (03:59.500 -> 04:00.000) and in Sample B (04:00.000 -> 04:02.000).

It seems wrong that a sample's content should extend beyond its duration. Such an approach wouldn't work properly when seeking, even with the fix you propose. For example if a seek occurred to 04:01.000 then the player would start from Sample B, and so

[2016-10-14 20:25] ojw28 commented on #1950
Note - When I say the seeking issue wouldn't be major, that really depends on how far subtitles extend beyond the end of their containing samples. If they extend a long way, it would be a more significant problem.

[2016-10-14 20:46] mlondon1 commented on #1925
This seems to have broken L1 playback for some devices such as
Samsung Tab S2  SM-T810 6.0.1

[code]

[2016-10-14 20:51] jschools commented on #1950
Hm, you're absolutely right:
https://www.w3.org/community/texttracks/2013/09/11/carriage-of-webvtt-and-ttml-in-mp4-files/

Guess I'll keep my temporary fix until the media can be repackaged. Thanks for your time.

[2016-10-14 20:51] #1950 closed, assigned to nobody

[2016-10-14 21:13] AquilesCanta commented on #87
You will be able to seek inside what the media playlists expose.

[2016-10-14 22:23] ojw28 commented on #1925
It seems highly unlikely to me that the failure in the response above is related to this issue. The fix for this issue is only touching provisioning requests and POST requests via DefaultHttpDataSource. Changing these areas shouldn't in any way result in failures in the media decoder.

You can probably verify the issue is unrelated pretty easily by patching the change in and out. I doubt this will

[2016-10-15 06:30] eneim commented on #1948
I think with the net condition of 20Mbps, Nexus 5X performance, it is hard to believe that It could not be able to perform well on 10000Kbps 1080p. But I hope you were right.

[2016-10-15 09:59] tprochazka commented on #1942
Thanks for reply. And yes I already thought about this solution.
But I'm curious when it is not possible to easily fix it directly in the Player when I call `stop()` method.

Maybe better would be if player will have auto recovery functionality or there will be a special method which will recovery playback and prepare() will be used just of play new different stream.

**But maybe, as I told at he

[2016-10-15 16:08] donnfelker commented on #1746
@gte619n Did you and your team find a resolution to this?

[2016-10-15 17:55] jglanfield commented on #87
Ok. Is there a branch where the current work in progress can be reviewed on this?

[2016-10-15 19:29] AntonAndev commented on #1921
Hello, were you able to reproduce a problem on example streams?

[2016-10-16 08:22] AntonAndev commented on #1940
New user reported about this problem, the same pattern - no problem with previous version of my app with MediaPlayer and no video, only sound with in the new version with ExoPlayer, device Iconbit xds94 kx Android 5.1 (added to the list)

[2016-10-17 03:29] hardcattle opened #1951 "OOM"
java.lang.OutOfMemoryError
    at com.google.android.exoplayer2.upstream.DefaultAllocator.allocate(DefaultAllocator.java:102)
    at com.google.android.exoplayer2.extractor.DefaultTrackOutput.prepareForAppend(DefaultTrackOutput.java:557)
    at com.google.android.exoplayer2.extractor.DefaultTrackOutput.sampleData(DefaultTrackOutput.java:488)
    at com.google.android.exoplayer2.extractor.ts.H264Re

[2016-10-17 07:35] ojw28 commented on #1951
Please stop filing issues that ignore the issue template (see also https://github.com/google/ExoPlayer/issues/1929). We will close all such issues without investigating.

[2016-10-17 07:35] #1951 closed, assigned to nobody

[2016-10-17 09:13] AquilesCanta commented on #1940
I'll see if I can reproduce it myself with one of the listed devices.

[2016-10-17 11:59] luckcoolla opened #1952 "Question. H.264 video profiles support by android devices"
Hello,
I see that by default android devices should support only baseline video profile of H.264 AVC codec (https://developer.android.com/guide/appendix/media-formats.html), example Media type strings([link for other examples](https://developers.google.com/cast/docs/media#mp4-video-and-audio)):
- video/mp4; codecs="avc1.42E01E, mp4a.40.5"
- video/mp4; codecs="avc1.42E01F, mp4a.40.5"

I see other t

[2016-10-17 12:13] ojw28 commented on #1948
This is unrelated to your network connection. It's to do with the processing capability of the device + decoder. Decoding 10Mbit/s VP9 using a software decoder, which is what will happen on Nexus 5X, is very computationally expensive. IIRC Pixel has a hardware VP9 decoder, so will perform much better.

It should also be noted that 10Mbit/s is excessive for VP9 at 1080p. According to Netflix 5.8Mbi

[2016-10-17 12:25] AquilesCanta commented on #1952
Sorry for prematurely closing this. As @ojw28 correctly pointed out, if you are using Exoplayer, you could add an extension for decoding H.264 through software in a similar way as the [VP9 extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/vp9) does. I am sure someone else will be able to provide more accurate information about this.

[2016-10-17 12:27] eneim commented on #1948
@ojw28 Nice explanation. I missed the VP9 with the previous generation (VP8, AVC, ... lineup) obviously ... handling VP9 should be equal to that of HEVC, which is not trivial. Hope to hear good news.

[2016-10-17 12:50] gte619n commented on #1746
Sadly, we didn't find a good solution. We changed the error handling of the player around to look for the active connection when it throws ERR_CONNECTION_REFUSED. If it detects that it's the background data restriction causing it, we gracefully pause the player and throw up an error message with instructions about how to turn it off.

It's not great, but it was the best we could figure out. It see

[2016-10-17 13:08] jglanfield commented on #1949
No thoughts on this? I'll find a stream to test this on.

[2016-10-17 13:23] jglanfield commented on #1949
Here is a sample stream:

http://live.tvtomsk.ru/hls/RT-24.m3u8

The segments are 5 seconds in length, and there are 6 of them. Load the stream, play it for a second and then pause it. Wait for more than 30 seconds and then resume playback. Once it hits the end of the window the player will stop and will never resume.

[2016-10-17 13:25] ojw28 commented on #1952
Right, you could implement an extension that bridges onto a software H264 decoder with main/high profile support. You can look at the VP9 extension for a general example of how to do this. It would be up to you to implement something similar that bridges onto a suitable H264 decoder. Note that software decoders are in general less efficient than the hardware supported decoders that are often expos

[2016-10-17 13:26] ojw28 commented on #1949
Yes, you're right. Note that you can just not implement it that way in your own app ;). We'll get around to fixing the demo app to do something more sensible at some point, but it's not high priority.

[2016-10-17 13:30] jglanfield commented on #1949
For sure. In the meantime, I'm guessing the best way to handle it is as I mentioned in my first post? If the stream ends, reload? But maybe there's a better way. In the demo app, the state of the stream when it stops playing is "IDLE" and playWhenReady is true. So there's nothing there that tells me I should reload the stream. Any thoughts?

[2016-10-17 14:08] cesards opened #1953 "AspectRatioFrameLayout width/height problem due to the deformation fraction."
Developers are not able to tweak the field `MAX_ASPECT_RATIO_DEFORMATION_FRACTION` contained in the `AspectRatioFrameLayout`, so we can't really control the final measurement of the view (the current deformation fraction is very low, as 0.01f)

![video](https://cloud.githubusercontent.com/assets/1536079/19440820/3f4c7bba-947b-11e6-8984-affe64f4a2d8.png)

It doesn't matter if you set the aspect rat

[2016-10-17 14:42] ojw28 commented on #1953
I'm a bit confused by this issue. If you want complete control over the final measurement of the view then you shouldn't be using `AspectRatioFrameLayout`. By definition it doesn't provide you with exact control.

I'm uncertain whether you understand correctly what the deformation fraction does. Would you tweak it to be larger or smaller, and what would you expect this to achieve?

[2016-10-17 14:43] marcbaechinger commented on #1953
When you are using RESIZE_MODE_FIT which is the default mode you can control the dimension/measurement of the SimpleExoPlayerVideoView. The view itself is not resized in this case but only the video inside the view.

[2016-10-17 14:52] marcbaechinger commented on #1921
Hi. Thanks for you report.
Can you please check this post about what information we need to handle an issue? Many thanks: https://medium.com/google-exoplayer/howto-1-reporting-an-issue-56a3ed73a5

[2016-10-17 14:59] mlondon1 commented on #1925
It seems that the cryptoexception issue above was introduced in 2.0.2 release.  It does not happen on 2.0.1.  Nor is it related to this patch.  I am going to apply this patch to 2.0.1, hopefully that gets me good coverage.

[2016-10-17 15:11] ojw28 commented on #1925
That seems similarly unlikely. There were only [19 commits](https://github.com/google/ExoPlayer/pull/1905) in 2.0.2 and I can't see any of them affecting this. If this is really true, please can you binary search to the exact commit that broke things (should take <=5 attempts) so that we can take a look and fix whatever the issue is.

There are other important fixes in r2.0.3 (just released). I wo

[2016-10-17 15:17] mlondon1 commented on #1925
Sorry - i deleted the comment after i was able to reproduce it in 2.0.1 as well after a few tries.  I don't recall seeing the issue before, but I must have missed it - there must be something else going on.  I will try 2.0.3.

[2016-10-17 15:20] ojw28 commented on #1925
Thanks. The issue looks like some kind of device specific thing to be honest. I wouldn't be surprised if it reproduces on all ExoPlayer releases (including v1).

[2016-10-17 15:38] luckcoolla opened #1956 "Question. ExoPlayer2 STATE_PREPARING analog"
Hello,
I see exo player 2.0 has been updated with ExoPlayer.STATE_PREPARING removing. Is there any method to check the state like player.isPreparing()? - I cann't find any similar, except player.isLoading(), but it returns false.
Or probably.. are you going to move back the state?

exoPlayer 1.x behavior:

[code]

exoPlayer 2.x behavior:

[code]

So, btw preparePlayer() call and 17:03:32.257 and 1

[2016-10-17 16:36] b95505017 opened #1957 "Wrong ExoPlayer version dependency in extension-okhttp"
https://bintray.com/google/exoplayer/download_file?file_path=com%2Fgoogle%2Fandroid%2Fexoplayer%2Fextension-okhttp%2Fr2.0.3%2Fextension-okhttp-r2.0.3.pom

[code]

[2016-10-17 16:52] ojw28 commented on #1957
Fixed. Thanks. We're still "fixing" that file manually as part of the release process, since we haven't had time to work out how to fix it automatically. I just got it wrong this time around!

[2016-10-17 16:52] #1957 closed, assigned to nobody

[2016-10-17 17:05] ojw28 commented on #1956
Preparing is treated as buffering in V2. Existence of the preparing state didn't generalize well to the introduction of playlist support. I don't think it's necessary for you to be able to distinguish between the two states. Do you have a use case where this is necessary?

[2016-10-17 21:08] mshah61 commented on #1515
Was anyone able to get a solution to it ?

[2016-10-17 22:38] qillura opened #1959 "How to get the current sound amplitude from exovideplayer?"
For the current project I'm working on, we want to display an animation based on the sound amplitude of video playing in exoplayer, which updates every 30 ms. Is there a way to grab the sound amplitude from exoplayer?

One way to do so is to grab the decibel out of the decompressed audio frames, or directly from the hardware. Are any of the two possible with ExoPlayer?

[2016-10-17 22:44] ojw28 commented on #1959
This is not something we support.

[2016-10-17 22:44] #1959 closed, assigned to nobody

[2016-10-17 22:45] ojw28 commented on #1959
Note: Depending on what exactly you mean by the decibel value, I'm not even sure that the question makes sense. What would you expect the reference point be?

[2016-10-17 22:56] qillura commented on #1959
sorry clarifying my quesiton:

For the current project I'm working on, we want to display an animation based on the sound amplitude of video playing in exoplayer, which updates every 30 ms. Is there a way to grab the sound amplitude from exoplayer?

One way to do so is to grab the decibel out of the decompressed audio frames, or directly from the hardware. Are any of the two possible with ExoPlaye

[2016-10-17 23:04] qillura opened #1960 "How to get the current sound amplitude from exovideplayer?"
Really sorry for extra issue created. Let me clarify my question:

For the current project I'm working on, we want to display an animation based on the sound amplitude of video playing in Exoplayer, which updates every 30 ms. So we need the average sounds amplitude for the last 30ms of video that was played.

One way to do so is to grab the decibel out of the decompressed audio frames, or directly

[2016-10-17 23:43] ojw28 commented on #1960
Same as https://github.com/google/ExoPlayer/issues/1959.

[2016-10-17 23:43] #1960 closed, assigned to nobody

[2016-10-17 23:44] ojw28 commented on #1959
It's still unclear what you mean by decibel. That aside, this is not something we support directly. It would probably be possible for you to extend ExoPlayer's audio renderer and AudioTrack classes to add support for this, but this is not something we intend to support in the core library.

[2016-10-17 23:46] qillura commented on #1959
Thanks a lot!

[2016-10-18 03:16] eneim commented on #1953
can you put a better screenshot? why use black video screen on black background?

[2016-10-18 04:26] eneim commented on #1953
Actually my solution for this is to build my own widget that mimics AspectRatioFrameLayout. I guess that will be much faster and more flexible for user side.

[2016-10-18 08:12] luckcoolla commented on #1956
Yeah, I really don't need to distinguish btw preparing and buffering.

But in the current realization I can see time delay between prepare(source) call and listener.onPlayerStateChanged(..) being called. This is the issue, in exo 1.x it was 5 ms, as you can see.

[2016-10-18 08:15] ShikhaAndroid opened #1961 "Trying to play Live HLS stream in Exoplayer"
I am using Live **HLS** Stream to play the video in the **Exoplayer** . Stream does not call the **PLAYER ENDED** state, rather than that it keep calling the **PLAYER IDLE** state. I just want to inform the users that the **LIVE** stream is ended with the text message. I just want to know how can i find the **PLAYER ENDED** state in the live stream.

[2016-10-18 08:29] PavelGP commented on #1865
+1

[2016-10-18 09:17] ojw28 commented on #1956
State changes in ExoPlayer are asynchronous by design, so there will be a small delay between performing an operation that changes the state and the state change taking effect and becoming visible. You still haven't explained why this is a problem for you.

[2016-10-18 09:18] ojw28 commented on #1961
Please provide a full bug report, as is clearly requested in the issue template, along with the other requested information.

[2016-10-18 09:25] Arlem commented on #1961
@shikha7763 does your last manifest contain the #EXT-X-ENDLIST Tag on the last row?

[2016-10-18 10:09] ShikhaAndroid commented on #1961
@ojw28 i am using Wowza cloud for live streaming. where i can find this #EXT-X-ENDLIST Tag.

[2016-10-18 10:12] luckcoolla commented on #1952
Thank you for help, I will check out the VP9 extension realisation.

Nexus 6 and several Samsung devices (not sure they are popular as Nexus one); sony xperia m4

Sure, it's an option, we are going to fix the stream set up and add new Representations

[2016-10-18 10:21] Arlem commented on #1961
It should be on the .m3u8 the player is reading from. [Maybe it's not supported on Wowza](https://www.wowza.com/forums/showthread.php?47755-EXT-X-ENDLIST-this-tag-is-not-appended-to-m3u8-playlist)?

[2016-10-18 10:34] ojw28 commented on #1952
I would expect Nexus 6 to support main profile. Looking again at your sample, it appears to have DRM. Are you sure it's not a DRM issue / limitation that you're hitting? We'd need a test stream or at least a full bug report to debug further.

[2016-10-18 10:40] luckcoolla commented on #1956
well, I have several places where playback should be started, in the start method I'm checking, if the preparing is not being performed already.
Thank you for clarification, I'm going to implement it in the wrapper layer.

[2016-10-18 10:40] #1956 closed, assigned to nobody

[2016-10-18 10:58] luckcoolla commented on #1952
I'm sure (at ~95% :-) ), it's not a DRM issue. We have a clear stream with same settings and it has same video track that is not supported by same devices list. Let me check it again and post its manifest part.

[code]

I've just checked - Nexus 6 and sony xperia m4 cann't work with the last Representation
<img src="https://cloud.githubusercontent.com/assets/3755157/19474784/d6ecb462-9539-11e6-868

[2016-10-18 11:12] IngelssonN opened #1962 "Unable to buffer .m4a files"
I’m using ExoPlayer `r2.0.2` and got a issue when playing .m4a file, e.g. http://media.rawvoice.com/afrojack/media2-afrojack.podtree.com/media/podcast/Afrojack_-_JACKED_Radio_259.m4a.

The audio stream loads fine and the playback starts, but after around 25 seconds the player get stucked in the `ExoPlayer.STATE_BUFFERING` state when the buffer is empty. Looks like the reason for this is that the l

[2016-10-18 11:29] ojw28 commented on #1962
Please provide a bug report, as is explicitly requested in the issue template.

[2016-10-18 11:54] ojw28 commented on #1952
Can you share the clear stream so we can take a look? I think it should be supported on a Nexus 6.

[2016-10-18 12:02] IngelssonN commented on #1962
[bugreport.txt](https://github.com/google/ExoPlayer/files/536121/bugreport.txt)

[2016-10-18 12:03] IngelssonN commented on #1962
@ojw28 Sorry missed that I should attache a bug report file also.

[2016-10-18 13:25] ojw28 commented on #1962
The player is confused by text tracks in the stream, which have samples right at the start of file with timestamps corresponding to very near to the end of the stream. This is. . .unusual, but we should handle it.

[2016-10-18 13:47] AquilesCanta commented on #1890
The provided URL no longer provides a valid playlist. Can you fix this?

[2016-10-18 13:56] AquilesCanta commented on #1881
Any news about this? I cannot reproduce on a Sony Bravia TV.

[2016-10-18 14:55] shinayser commented on #55
Want to leave here my request for RTSP too! Its a standard that is used by a HUGE amount of cameras on the market.

[2016-10-18 15:05] elindsey commented on #1294
This is a problem on specific carrier/device combinations (and APN settings don't allow the carrier to whitelist localhost, meaning it has to be fixed on a per-app basis). The easiest confirmed fix I've found is similar to @IanDBird's original - just wrapping the openConnection in a conditional checking if it's to localhost and explicitly setting NO_PROXY if so.

[2016-10-18 16:00] AquilesCanta commented on #1940
Both links play well in Galaxy Tab 4 Active, in the Demo App, last exoplayer version. Can you confirm that you can reproduce the issue on this device in the Demo App? Considering the profile is high for the video, it wouldn't surprise me if some of the devices don't support it. But in that case, the streams shouldn't play in MediaPlayer either. Let me know if you have any more data, but I won't be

[2016-10-18 16:39] iamcxa commented on #55
would love to know if any progress too! I'm working on a impl of RTSP streaming player with scale/direction control by using Android's Media Player with TextureView, but it just not good enough.

[2016-10-19 02:37] bruceyang168 opened #1963 "How To Player Rtmp Stream?"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-10-19 06:52] tresvecesseis commented on #55
As I said, I want to contribute our RTSP implementation but we have a tight schedule and we can not divert resources to this port right now, in a few days I expect to be able to continue with the v2 port.

[2016-10-19 08:06] andrewlewis commented on #1963
ExoPlayer doesn't support RTMP. See [these closed issues](https://github.com/google/ExoPlayer/issues?q=is%3Aissue+rtmp+is%3Aclosed).

[2016-10-19 08:06] #1963 closed, assigned to nobody

[2016-10-19 09:35] ram992 commented on #949
I tried the logic provided by @papaanoel and @Amritpal33  but I am getting exceptions in WidevineKeysFetcher class.
what is the "dashUrl" point to in the method signature fetchKeys.
and is there any sample app available where I get the implemetation logic (even a crude is ok).

[2016-10-19 10:27] luckcoolla commented on #1865
I see the issue in the latest 2.0.3 version

[2016-10-19 10:30] luckcoolla commented on #1865
I'm thinking how to implement some temporary workaround.
Both MultiSegmentBase and SegmentTemplate should check index before call "segmentTimeline.get(index)", if index is wrong - to work as segmentTimeline is null.

I'll try the approach

[2016-10-19 11:46] AquilesCanta commented on #1894
I will be closing this now. I think the file contains I-Frames, which are not actual IDR frames. We will possibly investigate this in the future, but it's not high priority right now. As @gpinigin said, try using the FLAG_ALLOW_NON_IDR_KEYFRAMES flag.

[2016-10-19 11:46] #1894 closed, assigned to AquilesCanta

[2016-10-19 12:02] luckcoolla commented on #1865
well, I've added simple check
`xmlSegmentTimelineNodes.item(0).hasChildNodes()`
waiting for your fix

[2016-10-19 12:53] ram992 commented on #876
Can I get an Example Class on how to implement our Own DrmSessionManager

[2016-10-19 13:12] HungamaSurat opened #1964 "java.lang.IllegalStateException when i seek offline encrypted video."
I am trying to play encrypted file and decrypt at runtime and provide outputstream to exoplayer to play.

Steps:
-Launch the app
-Play video.
-Observe on Playing video and try to forward seek bar.

Below is full issue log.

[OMX.MTK.VIDEO.DECODER.AVC] ERROR(0x8000100b)
Codec: signalError(omxError 0x8000100b, internalError -2147483648)
MediaCodec: Codec reported err 0x8000100b, actionCode 0, while

[2016-10-19 13:29] ChernyshovYuriy commented on #1884
Some good news. I have debug logs from the device experiencing error 2990.
To whom can I email them? I don't want to post these logs here.
Thanks.

[2016-10-19 14:18] papaanoel commented on #949
Hello @ram992,

`dashUrl` in the method signature `fetchKeys(...)` is the url of the initialization segment of the video stream.
For example, if you're using a mpd container, considering the following piece of mpd :

[code]

the initialization segment is located in `<segmentTemplate>`

`<SegmentTemplate timescale="12800" initialization="init/initSegment-$RepresentationID$.dash" media="video-$Repre

[2016-10-19 14:32] irenecs opened #1965 "Jellybean: PlaybackControlView + java.lang.NoSuchMethodError"
[code]

[2016-10-19 15:17] ojw28 commented on #1965
Sorry about that. For some reason Android Studio isn't showing this as a lint error (`./gradlew library:lint` does). This issue affects devices running Jellybean. We'll push a fix shortly.

[2016-10-19 15:35] harishrpatel opened #1966 "ParserException: Unexpected ID3 file identifier, expected "ID3", actual "%c%c%c"."
We are seeing this issue on private content that requires authentication, so I cannot attach actual data. We have HLS content that has segments (.ts files). Each .ts file has ID3 tags in form of PrivFrames and they are used for Nielsen analytics purpose. All .ts files have ID3 header but some files randomly do not have the actual ID3 tag. When 3-4 .ts files contiguously do not have ID3 tags, ExoPl

[2016-10-19 16:01] ojw28 commented on #1965
This is fixed in the `dev-v2` branch by the change ref'd above. We'll push a r2.0.4 release sometime this week containing the fix.

[2016-10-19 17:06] danrossi commented on #949
The keySetId needs to be stored to restore later. How can this be securely stored ?

so obtain the key from mediaDrm.getKeyRequest, then stored with ? I've seen one method use getSharedPreferences.

[2016-10-19 17:13] ChernyshovYuriy commented on #949
"keySetId" is associated Id of the key that had been stored in the underlying native DRM layer of the Android Framework. It is not exact DRM key. So you are secure enough.

[2016-10-19 17:27] danrossi commented on #949
What kind of unique identifier could be used for storing the keySetId ? Is there a specific contentid made available ? The code I've seen is using a base64 representation of schemeData.data which is probably no good ?

[2016-10-19 21:04] vitekn opened #1967 "Player get stuck with particular h264 stream"
I am trying to play multicast stream encoded with h264.The player versions are 2.0.1 - 2.0.3. The only message from player is STATE_BUFFERING and nothing else happens. I recorded this stream to file and checked it again streaming with ffmpeg -re -i file2.ts -c copy -f mpegts udp://235.10.20.6:1234, but the result is the same. If I transcode this stream like ffmpeg -re -i file2.ts -c:v h264 -f mpeg

[2016-10-20 05:40] ram992 commented on #949
Thank you @papaanoel for your quick reply                                                                                                      I am facing one more issue, (when online and before making the changes you have provided )
In ExoPlayer 1.5.8 the video is playing for 9 or 10 seconds and then going into ideal state with this error

com.google.android.exoplayer.ExoPlaybackException:

[2016-10-20 07:45] papaanoel commented on #949
@ram992 have you tried playing your mpd file with the ExoPlayer demo app ? Are you experiencing the same issue ? Not sure it has to deal with your Android version, have you tried playing it on another device (running lollipop for example) ?
For ExoPlayer 2, i've not tried it yet, but as far as i know the logic should be the same...

[2016-10-20 08:29] andrewlewis commented on #1967
The recorded stream appears to have no IDR frames. Try setting [FLAG_ALLOW_NON_IDR_KEYFRAMES](https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/extractor/ts/DefaultStreamReaderFactory.java#L36) to treat non-IDR I frames as synchronization samples. This makes the video play on my test device.

See also #1894 and #1660 which are similar.

[2016-10-20 08:29] #1967 closed, assigned to nobody

[2016-10-20 09:07] ram992 commented on #949
Thank you @papaanoel for taking time to reply
I am using the ExoPlayer Demo app itself, and Some of the example content in the app itself is not working.

I have tried on MarshMellow ( Moto G4 plus )in that after playing for about 10 sec.
I was getting an error saying "request keys have not been loaded"

In both the cases I am testing with online mode.
and changed the liscense proxy to my one (to

[2016-10-20 09:27] AquilesCanta commented on #1966
Could you please download a ts chunk with these characteristics and send it to dev.exoplayer@gmail.com? So that I can have a look and test it myself.

[2016-10-20 10:40] papaanoel commented on #949
@ram992 did you have a look at this ?
https://github.com/google/ExoPlayer/issues/968

[2016-10-20 11:42] #1965 closed, assigned to nobody

[2016-10-20 11:50] danrossi commented on #949
I'm attempting what someone else has done and do a background task.

Your code is great however assuming to know what is in the dash manifest is not workable.

No idea about a downloader yet apart from using a cache data source. The FairPlay SDK has an offline downloader client that ExoPlayer might need.

Outside the custom drm manager I dispatching and listening to the drm loaded even to save thi

[2016-10-20 12:35] tothvoj-gl opened #1972 "HLS video corrupted on ASUS MeMO Pad 7 ‏(ME572C)‏ in portrait mode"
When you play this stream https://cdn-films.economist.com/PP/miami.m3u8 in the demo app on this specific tablet, the video is corrupted.

![img_20161020_142020](https://cloud.githubusercontent.com/assets/16701922/19559795/d9ef3088-96d1-11e6-863d-c5c10de999e8.jpg)

The strange thing is, that when you rotate the device to landscape mode, the video is displaying fine without any glitches. I found onl

[2016-10-20 12:45] AntonAndev commented on #1921
Hello, I made some tests, these artifacts occur when playing with ExoPlayer HLS streams from Nimble media server, and doesn't occur when playing with ExoPlayer DASH streams from the same Nimble media server. I sent this info to developers of Nimble. Strange thing is why other players play Nimble's HLS without artifacts.

[2016-10-20 12:57] xylik opened #1973 "Mp4 meta header parsing error"
Hi,
ExoPlayer_1(dev branch) fails to correctly seek and after seek operation play local mp4 video file although Android MediaPlayer, native Xiaomi Video Player and native Samsung mini video player can play that same file normally.

Issue is manifested on Xiaomi Redmi 3 Pro(Lollipop 5.1.1) and Samsung mini S4(KitKat 4.4). I have not tested the issue on other phones than those two.

The cause of thi

[2016-10-20 13:00] ojw28 commented on #1973
Sounds edit list related.

[2016-10-20 13:10] makvasic opened #1974 "How to handle orientation change with activity recreation"
Device: Samsung Galaxy Core 2 (API 19)
Exoplayer version: r2.0.3
This is probably device specific issue.

So, I have retained fragment which holds exoplayer instance because I have complex layouts for different configurations and still want to maintain video playback on orientation changes.
(Solution inspired by this [blogpost](http://jtdowdall.blogspot.rs/search?updated-min=2014-01-01T00:00:00-07

[2016-10-20 13:16] HungamaSurat opened #1975 "Audio only HLS/DASH/SS playbacks are not adaptive by default"
Hi,

I have update ExoPlayer and facing some issue.
In older version, When i play audio HLS link, It was start playing with low bit-rate (low quality) and After 4 or 5 sec It was automatically playing with high bit-rate (high quality).
But in new version, It's never start playing with high bit-rate automatically.

Please provide me solution for same.

[2016-10-20 13:21] AquilesCanta commented on #1975
Please provide all information requested in the issue template.

[2016-10-20 13:23] ojw28 commented on #1974
It's quite difficult (although not impossible) to retain video playback across an activity recreation. The fact it's crashing in this way suggests that you've implemented an incorrect solution, that's trying to do something with a Surface after it has been destroyed. This is not an ExoPlayer issue as such.

I'm a little dubious about the correctness of the post you reference. Does the author provi

[2016-10-20 14:02] ram992 commented on #949
Yeah @papaanoel, thanks for pointing out, I am working on  this issue. And will get back to you once I get any answer/solution. Thank you

[2016-10-20 14:03] HungamaSurat commented on #1975
Hi

This is my HLS playback url which i am trying to play through new exoplayer library.
http://hungama.bc-s.cdn.bitgravity.com/cdn/_definst_/hungama/secure/audio/e/a4/amlst:20253814_,b32_a2,b64_a2,b96_a2,b128_a2,b196_a2,.mp4.smil/playlist.m3u8?e=1477388100&h=cadc72cbc1bda2359b880b94e9c569e6

You can also check both apk in android device.
ExoPlayerDemo with old library (v1.5.X) (it's updating to h

[2016-10-20 14:20] danrossi commented on #949
Ok funny story. I think everyone is working on V1 code. I am using the drm session manager from V2.

It is partially there. I get the keysetId and save externally. then set it back on the manager for that file when setting the mediasource like

[code]

It's failing however to rebuild due to this annotated code saying State can't be found.

[code]

Any ideas there ?

[2016-10-20 14:34] makvasic commented on #1974
Great, thank you for fast response.

I have solution based on the post with MediaPlayer which is working without any problems regarding orientation.
In short there needs to be global instance of the player and after orientation we only need to reattach the surface...
I was amazed that exoplayer "was doing this out of the box". I have global instace of exoplayer and after orientation I set player t

[2016-10-20 14:53] andrewlewis commented on #949
`@DrmSession.State` is an annotation with source retention in the library. If you are seeing the error in a file containing your own DrmSession implementation, you might be able to fix it by removing the annotation in your code. If that doesn't work, could you clarify where exactly you see the error?

[2016-10-20 15:15] danrossi commented on #949
@andrewlewis I've made a copy of StreamingDrmSessionManager , renamed it to PersistDrmSessionManager, in the same package in the ExoPlayer demo project. To provide the offline key support. Similar to above.

In Android studio it will fail to rebuild project and I believe when trying to debug it fails to load the app because of it.

[code]

There is also this annotation

[code]

[2016-10-20 15:29] andrewlewis commented on #949
@danrossi Does it build if you just remove line with the error? The annotation is removed during compilation (its purpose is to allow [some compile-time checks](https://developer.android.com/studio/write/annotations.html#enum-annotations)) so it won't be present in the class files.

[2016-10-20 17:59] andrewlewis commented on #1973
This appears to be the same as #1659. We do not support prerolling when applying an edit list. The first sample (which is a synchronization sample) gets discarded when applying the edit.

[2016-10-20 17:59] #1973 closed, assigned to andrewlewis

[2016-10-20 19:29] WeaveStudios opened #1976 "OGG play failed for some files"
Some specific OGG files are not played. I have used R2.0.4 version with current DemoPlayer to play an OGG file, however, a EOF exception is thrown, as shown below. This is a built-in ringtone so there is no problem reproducing it by using other mechanisms, e.g., MediaPlayer.

[code]

It seems it's related to issue #1506, however this is ExoPlayer v2.

[bugreport.txt](https://github.com/google/ExoP

[2016-10-20 21:24] ojw28 commented on #1966
Sample content received; thanks!

[2016-10-20 21:28] ojw28 commented on #1976
The fix for #1506 is in ExoPlayer V2 and the problematic sample provided in that issue plays correctly. You'll need to provide a problematic file to allow us to reproduce and debug further. Please can you provide one here, or email one to `dev.exoplayer@gmail.com` (updating this issue once sent, so we know to retrieve it). Thanks!

[2016-10-20 21:34] WeaveStudios commented on #1976
I have just sent you an email with the file. Let me know if you are experiencing the same behavior.

Thanks a lot for your time.

[2016-10-20 22:05] ojw28 commented on #1976
Thanks. We're failing in the special case where the OGG file only contains a single page that's not a header. It's pretty easy to fix this; we'll push a fix soon.

[2016-10-20 22:54] WeaveStudios commented on #1976
Great! This was pretty fast.

[2016-10-21 06:01] danrossi commented on #949
@andrewlewis Yes it's rebuilding now without the annotations no worries.

I'm just using the barebones demo app from the sources and an online Dash file.

Confirming in the emulator on re-run of the online Dash file for now it is obtaining this keysetid and restoring the key with my custom manager. So not requesting a key remotely.

In my log I made this dispatched from the drm manager.

[code]

I

[2016-10-21 07:30] philipgiuliani opened #1977 "PlaybackParams not available on API 17"
The current version of ExoPlayer (i tested r2.0.3 and r2.0.4) do not work with API 17 (Android 4.2.2) because of the following error:

[code]

The issue can be reproduced with the Demo app inside the repository. I have tested this on the Samsung Tablet GT-P7510 with Caynogenmod.
### Update

I was not able to reproduce this issue with multiple emulators. Could it be the device?

[2016-10-21 07:45] zhm-nico-nico-ni opened #1978 "Playback issues when new chunks restart continuity counters"
![image](https://cloud.githubusercontent.com/assets/15119157/19590428/6085c4fe-97a4-11e6-9c01-eeb67b03f92e.png)

I play a m3u8 with ExoPlayView 2.0.4,  and always meet  frame like the pic.
But, when Use ExoPlayView 1.5.2 , HLS play fine.

Is something wrong with decoder?

My hls:
http://video.esx.bigo.sg/asia_live/g1/M03/00/00/Z9Pny1fOjM6IFHeVAAAOjBWRhVwAAAAFgEzVSYAAA6k12.m3u8

[2016-10-21 08:59] ojw28 commented on #1977
I don't really understand what the problem is. Is the app crashing? Is it just a warning? The reason we ask for a full bug report in the issue template, instead of one line of logs, is that it lets us answer these questions without having back-and-forth.

It's known that `PlaybackParams` doesn't exist on API level 17. But then we don't use it on API level 17 devices either, so it shouldn't be a pr

[2016-10-21 08:59] ojw28 commented on #1977
I would suspect playback is failing for some completely unrelated reason, and you're just mis-assigning the blame to that one line of logging.

[2016-10-21 09:08] danrossi commented on #949
I believe there is a few options for offline playback but not confirmed yet. There is the CacheDataSource and FileDataSource. Some code I've seen for caching dash is

[code]

Not sure where Dash mediasource fits into this. Not sure if an mpd file can be loaded on FileDataSource.

[2016-10-21 09:15] philipgiuliani commented on #1977
Thanks for the fast response. Yes the app is crashing when selecting the source. The PlaybackParams was the only red line, so I pasted that one. 😄

Here the full log. After the last line, the app just restarts.

[code]

[2016-10-21 09:20] ojw28 commented on #1977
The failure is not related to PlaybackParams. The crash is right at the bottom (very last line) and all the useful information about it is cut off. A snippet of log output is not a full bug report, and our issue template clearly explains what tool to use to obtain one. We wrote it for a reason!

In any case, it looks like a native crash. It's probably a Cyanogenmod issue, so you should report it t

[2016-10-21 09:20] #1977 closed, assigned to nobody

[2016-10-21 09:42] luckcoolla commented on #1952
@ojw28 I've discussed with PM the stream sharing/tmp vpn creation. We are sorry, but it's not an option now

[2016-10-21 09:57] danrossi commented on #420
Can somebody please explain how the CacheDataSource is supposed to be setup ?

All I can see is code like this but no idea how to integrate back into the demo application.

ie

[code]

The demo application has code like this, so where does CacheDataSource go here ?

[code]

I'm hoping this will work as an offline cache ? Why is it not integrated into it already ? offline playback seems to be a com

[2016-10-21 10:38] #1952 closed, assigned to nobody

[2016-10-21 11:11] AquilesCanta commented on #1978
We believe the issue is in the media. From what we observed, one of the chunks is not a direct continuation of the previous chunk. That is, the continuity_counters do not follow. This means that the extractor detects a discontinuity, a seek() is called and the issue is observed. The HLS spec [Section 3](https://tools.ietf.org/html/draft-pantos-http-live-streaming-20#section-3) requires consecutive

[2016-10-21 11:11] #1978 closed, assigned to AquilesCanta

[2016-10-21 11:30] ravin353 opened #1980 "Implementation of parallel chunks in ExoPlayer"
Hi,

I am working on the Exoplayer. I have implemented according to the documentation specified. So, I need to make bit effective to reduce the buffering time. So i need 2 more byte arrays which will loaded by next playing video say(6s). So how can i achieve this in Exoplayer.

Thanks,
R

[2016-10-21 12:40] ravin353 commented on #342
Hi, Can i get this functionality in the current release?

[2016-10-21 13:16] AlaeddineOuerteni opened #1981 "Can't get the seekable range info of the exoPlayer for a live streaming with DVR."
Hi !

I want to get the duration of the exoPlayer for a live streaming with DVR to know until which time user can timeshift.

Thank you.

[2016-10-21 13:20] ojw28 commented on #1981
Same as https://github.com/google/ExoPlayer/issues/87

[2016-10-21 13:20] #1981 closed, assigned to nobody

[2016-10-21 14:03] xylik commented on #1973
@andrewlewis @ojw28 Thanks for pointing me to #1659 and keep up with good work on ExoPlayer, would you be so kind and take a look at my superuser [question](http://superuser.com/questions/1133700/compensate-key-frame-time-distance-when-video-cutting-with-ffmpeg) it's related to issue i opened here.

[2016-10-21 14:28] andrewlewis commented on #1973
This is not really in scope for this issue tracker, but: to cut the video so it starts at an arbitrary position you will either need (1) a player that can pre-roll from the key-frame before the cut point, or (2) to re-encode (at least) the first group of pictures up to the key-frame following the cut point.

In case (1) the player has to decode almost a whole group of pictures in the worst case wh

[2016-10-21 17:53] SteUK opened #1983 "Slower playback with widevine on dash stream"
Hi,

I am seeing playback of an h265 2880x1920 15mbit dash stream not make 30fps on a Samsung s7 when I widevine encrypt it. Is this to be expected in exo player due to the nature of drm?

This is with ExoPlayer2 release-v2. And it is the video decode rate that is dropping below the 30fps of the source...app holds near enough 60 and above. Averaging over every second, I am seeing decode rates of 2

[2016-10-22 03:32] JunfeiW opened #1984 "Video is played with green mosaic using Exoplayer"
I have a mp4 file, which can be found on this link:
http://ac-pk3qanow.clouddn.com/8614cf7d18c67f009d37.mp4

As you can see in chrome, it is played well.
But when use ExoPlayer on my cell phone which is (Android 5.1 and using MTK platform), it will be displayed with green mosaic.

![image](https://cloud.githubusercontent.com/assets/5487724/19616630/db818502-984a-11e6-9ed5-a0ac60917c9e.png)

[2016-10-22 03:34] JunfeiW commented on #1984
Here is exoplayer version:
compile 'com.google.android.exoplayer:exoplayer:r2.0.4'

[2016-10-22 15:22] b95505017 commented on #1974
I placed ExoPlayer in Service, and pass Surface from Activity to Service. It means that the Service could run on different process.
Using Loader is a good way to deal with the Activity configuration change.

[2016-10-24 07:03] ishantsagar commented on #87
@AquilesCanta Waiting for it, hope to have it functional very soon.

[2016-10-24 07:32] andrewlewis commented on #1984
Please provide all the information requested in the issue template. To diagnose this it would be useful to have a bug report taken just after seeing the artifacts (output by `adb bugreport`). It looks like it might be device-specific as I couldn't reproduce it on a Nexus 5 running L.

[2016-10-24 07:37] andrewlewis commented on #1984
This stream appears to be in H.264/AVC High profile level 3.0, which is higher than the minimum video decoding requirements for non-TV devices (see [the CDD](https://source.android.com/compatibility/android-cdd.html#5_3_video_decoding)), so there is no guarantee that it can be decoded.

[2016-10-24 08:39] sneps85 opened #1985 "After some time "Source error" occurs"
After playing an online audio stream with ExoPlayer v2 for a while (can be 5mins, can be 3 hours), the player stops with the following error:

What causes this error and how can i continue the stream when the error occurs?

I am connected to a WiFi-Network, which may has some instabilities.

[2016-10-24 08:56] MudasirBhutto commented on #87
Me too waiting on this. Hope that it'll complete this week.

[2016-10-24 09:01] andrewlewis commented on #1985
We need more information to diagnose this, and in particular a full bug report output by `adb bugreport`. Please provide all the information requested in the issue template.

[2016-10-24 10:22] AntonAndev commented on #1921
Hello, I sent new links now to your email, these links - recorded video (dvr) in m3u8, so it is easy to see artifacts now.

[2016-10-24 10:32] AquilesCanta commented on #1921
Have you checked that this is not related to #1978?

[2016-10-24 10:34] AquilesCanta commented on #1921
Also, can you reproduce the issue in V1?

[2016-10-24 10:48] #1966 closed, assigned to AquilesCanta

[2016-10-24 10:48] AquilesCanta commented on #1984
If you want to, you can try playing the file using MediaPlayer. If the issue persists, it is quite likely it is a matter of decoding capacity. Let us know if the issue doesn't reproduce with MediaPlayer, please.

[2016-10-24 10:51] squm opened #1986 "Decoder init failed: CIPAMRNBDecoder"
`compile 'com.google.android.exoplayer:exoplayer:r2.0.4'`

[code]

[code]

[2016-10-24 10:55] ojw28 commented on #1986
Please try adding

[code]

to [MediaCodecUtil:225](https://github.com/google/ExoPlayer/blob/dev-v2/library/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java#L225).

If that resolves the issue, we'll merge the fix. Thanks!

[2016-10-24 11:10] squm commented on #1986
can send you video/audio file if you want to test it
[decoder.mp4.zip](https://github.com/google/ExoPlayer/files/547573/decoder.mp4.zip)

[2016-10-24 11:11] ojw28 commented on #1986
We don't have access to a device of this type, so you'll need to test and let us know yourself. Thanks.

[2016-10-24 11:14] squm commented on #1986
that needs from me modifying, building and testing from ExoPlayer source code, can't help with that

[2016-10-24 11:15] ojw28 commented on #1986
It takes a couple of minutes at most to check out the ExoPlayer source code, modify it and test a sample using the demo app. It feels like this should be worth it if you want the bug fixed! Or at the very least, that this is not an unreasonable request.

[2016-10-24 11:26] oleynikd commented on #87
+1 Looking forward. Thank you!

[2016-10-24 11:42] squm commented on #1986
before
[http://vpaste.net/5r0yK](http://vpaste.net/5r0yK)

after
[http://vpaste.net/nbUFZ](http://vpaste.net/nbUFZ)

it has sound and a vide

while we are still here, can you tell how to fill window with `com.google.android.exoplayer2.ui.SimpleExoPlayerView`

full screen fill is missing

[code]

[2016-10-24 12:38] jglanfield commented on #87
I've forked the repo and have a very hack-ish implementation that allows rewinding a live event. No, I didn't spend time on updating API definitions, method headers, whatever, since I know an implementation is already being worked on. But I needed something that let me stream in reverse. No promises that it does exactly what you need it to do, but in case you want to have a look:

https://github.c

[2016-10-24 13:02] ojw28 commented on #1986
Thanks! So to clarify, the suggested workaround fixed the issue for you, correct (looks that way, just making sure)? If so we'll merge the fix.

`SimpleExoPlayerView` is deliberately designed to maintain the aspect ratio of the video. Do you want to deform (i.e. stretch) the video to fill the window, or do you want to keep the video aspect ratio unchanged but clip the edges?

[2016-10-24 13:27] HungamaSurat commented on #1975
Hello Exoplayer developer,

Did you check my demo apks or HLS link which i provided in last comment?
Please update me on this as soon as possible.

Thanks

[2016-10-24 13:47] AntonAndev commented on #1921
Hello, similar to #1978 but I reproduced it in V1 demo app.

[2016-10-24 15:19] ojw28 commented on #1942
We'll probably implement this by closing the shutter in `prepare` if the third argument is `true`. Currently this argument is called `resetTimeline`, but it would be renamed to a more general `resetState` as part of the change. Note that the one-argument version of `prepare` sets the third argument to `true` by default.

[2016-10-24 17:45] ojw28 commented on #1986
Fixed in `dev-v1` and `dev-v2`

[2016-10-24 17:45] #1986 closed, assigned to nobody

[2016-10-24 17:45] ojw28 commented on #1976
Fixed in `dev-v2`

[2016-10-24 17:45] #1976 closed, assigned to nobody

[2016-10-24 23:03] satyan opened #1988 "Ability to play sections of a video (eg: 0:10s - 0:30s)"
I'm looking at version 2.x of the API and trying to figure out if I could play sections of a video. eg: play only certain sections in a  1 minute video (eg: 10s- 30s then 40-50s).

Could use seek, but each section would start buffering initially.. and playback doesn't seem smooth.

I tried using the ConcatenatingMediaSource, (providing the same media multiple times, with different timeline). Thoug

[2016-10-25 03:30] yanglichuan opened #1989 "Support CRYPTO_MODE_AES_CBC"
CRYPTO_MODE_AES_CBC = MediaCodec.CRYPTO_MODE_AES_CBC;

[2016-10-25 03:30] yanglichuan commented on #1989
not find

[2016-10-25 03:41] JonWatson commented on #318
@ojw28 The need for switching surfaces is extremely common.  Without configChanges 'orientation', seemless playback through rotation requires a new view/surface.  configChanges 'orientation' is a poor solution for any semi-complicated design.  Really surprised at this limitation of ExoPlayer.

[2016-10-25 06:50] hardcattle opened #1990 "Can't play in JELLY_BEAN"
URL=http://pl.youku.com/playlist/m3u8?vid=443361910&type=flv&ts=1477376095&ep=dCaTHUqKUM4J4CTdij8bZyWwIiQIXPoO9RyDgNtjANQmQem7&sid=64773760957221209bfc7&token=2914&ctype=12&ev=1&oip=2067486600

exo version:2.0.4

[code]

[2016-10-25 08:15] PoulsQ opened #1991 "Unsupported Service: captioning"
Hi everyone,

I just follow this simple guide : https://google.github.io/ExoPlayer/guide.html

and I have a problem when I add my `com.google.android.exoplayer2.ui.SimpleExoPlayerView`, the Android Studio emulator shows me an exception and can't instanciate the view.

![exoplayer](https://cloud.githubusercontent.com/assets/4129609/19677912/df10ca9a-9a9b-11e6-90fa-889cbc553c8f.png)

Here is the exc

[2016-10-25 08:36] andrewlewis commented on #1991
I see the same error in the 'Design' view in Android Studio but I think it's safe to ignore -- the app runs fine. If you are seeing the error somewhere else, please clarify.

It looks like we can fix the error anyway by checking !isInEditMode() before accessing the captioning manager.

[2016-10-25 09:09] ojw28 commented on #318
@JonWatson It's less a limitation of ExoPlayer and more a limitation of the underlying platform, which ties a decoder to a `Surface` and recreates the `Surface` on an orientation change. This means we need to recreate the decoder on an orientation switch, which in turn means we need to go back and restart decoding from the previous keyframe (or from the next one). My understanding is it would requ

[2016-10-25 09:13] ojw28 commented on #1990
You need to make an `HlsMediaSource` rather than an `ExtractorMediaSource`, since this is an HLS stream. I added the following in `media.exolist.json` and it played back fine:

[code]

[2016-10-25 09:13] #1990 closed, assigned to nobody

[2016-10-25 09:15] ojw28 commented on #1989
We don't support CRYPTO_MODE_AES_CBC yet. Note that it's only available from API level 24, so it's not hugely useful right now given the low penetration of the Android N release. We do have support going forward, so marking as an enhancement.

[2016-10-25 09:22] HugoGresse commented on #318
It's already discussed, if possible using a SurfaceTexture and doing this:

[code]

See https://developer.android.com/reference/android/view/TextureView.SurfaceTextureListener.html#onSurfaceTextureDestroyed(android.graphics.SurfaceTexture)

Additionally, you can check out my Gist [here](https://gist.github.com/HugoGresse/669284a16ea25124228b).

[2016-10-25 09:25] ojw28 commented on #318
Yes. Note however that such an approach uses significantly more battery, and isn't compatible with the secure video path (for applications that use Widevine L1 DRM). Still, it's the best approach for now, and is fine for short-running videos where battery consumption is not quite so critical.

[2016-10-25 09:25] #318 closed

[2016-10-25 11:04] MudasirBhutto commented on #87
@AquilesCanta
Hey buddy, any new on this? We're expecting it within a day or two..!

[2016-10-25 13:39] bricker commented on #87
@MudasirBhutto Please don't pester them. It'll be finished when it's finished.

[2016-10-25 15:11] PoulsQ commented on #1991
In my case I see it in the "Preview" section when I'm editing my drawable layout in "Text" mode. So it shows a message all over the preview when I change anything in my XML code. :(
It's not a big deal because as you said, the app runs fine ! It's just an annoying little bug !

[2016-10-25 15:45] pellucide commented on #1156
@Falrach,
     This is an old post. I stumbled upon it while searching for an implementation of a similar feature. I went ahead and implemented something similar. It can seek to a previous position in Buffer. Let me know if you still need it.

[2016-10-25 15:54] andrewlewis commented on #1991
We've fixed this by checking [View.isInEditMode()](https://developer.android.com/reference/android/view/View.html#isInEditMode%28%29). The patch will appear in `dev-v2` next time we push a set of changes. Thanks for reporting this!

[2016-10-25 15:54] #1991 closed, assigned to andrewlewis

[2016-10-25 16:40] ghost commented on #1989
@ojw28  is CBC mode guaranteed in API 24 or is it an OEM 'optional' mode?

Also - what encryption pattern is suuported - cbcs or cbc1?

[2016-10-25 16:41] ojw28 commented on #1989
Unsure. @wvpaf, do you know?

[2016-10-25 18:15] #1953 closed, assigned to nobody

[2016-10-25 18:16] #1945 closed, assigned to nobody

[2016-10-25 18:42] subinkrishna opened #1992 "ExoPlayer continues to play MP4 even after the video ended when the WebVTT's content-length is 0"
**ExoPlayer version:**
 r1.5.12

**Issue:**
ExoPlayer fails to call STATE_ENDED when the side loaded WebVTTs content-length is zero. This issue doesn't happen when I try to playback the video without the side-loaded WebVTT. This issue can be reproduced in most of our devices - Nexus 6p running 7.1 Beta & 6.0.1, Samsung S6 running 6.1.

**WebVTT URL:**
https://mediaplayer.pearsoncmg.com/assets/_pmd

[2016-10-25 18:43] ojw28 commented on #1992
This issue report is not useful (it's unclear whether you're side-loading the WebVTT or whether it's embedded in the MP4, for example). Please provide clear reproduction steps + sample media that reproduces the problem if you want us to look at this.

[2016-10-25 18:45] subinkrishna commented on #1992
That was fast! I was editing my original comment. Please find the attached URL & code in the original comment.

[2016-10-25 18:56] AntonAndev commented on #1921
Workaround: add "hls_reset_video_audio_cc = false" in nimble.conf and restart nimble service. Now video without artifacts in ExoPlayer.

[2016-10-25 19:02] AntonAndev commented on #1940
I do not have such device, one user with device Rombica Ultra HD v002 reported about an error: "couldn't create decoder for omx.amlogic.avc.decoder.awesome." from ExoPlayer, so again no video, only audio. I will collect all errors from ExoPlayer in the future release by sending it to analytics service.

[2016-10-25 20:14] keyboardr opened #1993 "Support choosing preferred audio device"
Expose [`setPreferredDevice(AudioDeviceInfo)`](https://developer.android.com/reference/android/media/AudioTrack.html#setPreferredDevice%28android.media.AudioDeviceInfo%29) in `AudioTrack` on API 23+. This would allow developers to play audio on a specific output device.

[2016-10-25 20:48] EzenwakaKaycee opened #1994 "Exoplayer unable to play video/avc"
W/VideoCapabilities: Unrecognized profile 2130706433 for video/avc

while trying to play a video/avc video

[2016-10-25 20:55] ojw28 commented on #1994
Closing because issue completely ignored the issue template and does not provide sufficient information.

[2016-10-25 20:55] #1994 closed, assigned to nobody

[2016-10-25 21:17] #1621 closed, assigned to wvpaf

[2016-10-25 22:04] wvpaf commented on #725
Is this still an open issue or can we close?

[2016-10-25 22:05] #1404 closed

[2016-10-25 22:18] wvpaf commented on #1794
Hi have not received an update in 4 weeks will close if no new data.

[2016-10-25 22:22] wvpaf commented on #1824
Any other questions or actions? Or can this be closed?

[2016-10-25 22:22] wvpaf commented on #1852
no update in 4 weeks closing.

[2016-10-25 22:22] #1852 closed, assigned to wvpaf

[2016-10-25 22:31] wvpaf commented on #1884
Are you a CWIP partner? if so please use the CWIP portal to submit logs. Else we will need to get you a good email address.

[2016-10-26 01:42] HyowonHwang opened #1995 "Support to keep downloaded chunks whenever seeking playing HLS content"
I have tried to seek operation of HLS contents on demo app.(2.0.4)

It seems like downloaded chunks are abandoned.
Unlike, playing DASH and Smooth Streaming contents.

Could you look into to support keep downloaded chunks buffer when seeking while HLS contents, please?

[2016-10-26 02:21] HeroZ-Dodge opened #1996 "How to get Video Uri"
When I playing a MP4 , how can I get A DataSource reference to get the Uri of MP4 ?( maybe  the MP4 is redirects ) ?

[2016-10-26 06:02] sandersaares commented on #1824
From my perspective, we are looking at undesirable and non-interoperable behavior by the player here, as described above. However, if this is by design then of course there may not be much reason to keep it open.

The topic is currently under discussion in DASH-IF with regard to clarifying the expectations in a further version of the Interoperability Points specification. It may take some time for

[2016-10-26 06:20] JunfeiW commented on #1984
Sorry for trouble, figures out that is download problem, the stream file is not downloaded correctly.
Greats thanks for all your help

[2016-10-26 06:20] #1984 closed, assigned to nobody

[2016-10-26 08:32] PoulsQ opened #1997 "[IllegalStateException - SDK v16] Can't read an MP4 from a particular URL"
Hi guys,

Today I'm facing a strange issue, I can't read the video from here :
https://icoprod.s3.amazonaws.com/scheduler/121-130-1477312544-14794964_1060335287399040_6271596638158979072_n.mp4

I'm using a SDK v16 (I have the same problem with a v19 or v22). At the time where I instanciate the exoplayer, I've got this exception :

[code]

Is this a bug from the plugin ? Or a problem on my side ?

[2016-10-26 09:15] marva2013 opened #1998 "java.net.MalformedURLException: Unknown protocol: rtsp"
I have this problem  java.net.MalformedURLException: Unknown protocol: rtsp when i want to open streaming with rtsp. how can i resolve this problem please
Thanks

[2016-10-26 09:51] shirensong opened #1999 "Does ExoPlayer support mov format?"
I follow the demo and play a mov video, there is only sound but no video...
1. based on exoplayer r2.0.4
2. a device with android 6.0
3. below is the adb log:

10-26 18:07:33.614 32300-32300/? I/main: type=1400 audit(0.0:428): avc: denied { open } for path="/selinux_version" dev="tmpfs" ino=9206 scontext=u:r:zygote:s0 tcontext=u:object_r:tmpfs:s0 tclass=file permissive=1
10-26 18:07:33.619 32300-3

[2016-10-26 10:01] marva2013 opened #2000 "RTSP live555"
Please how can i user live555 with exoplayer to playback video rtsp.
Thanks

[2016-10-26 10:03] AquilesCanta commented on #2000
See #55 .

[2016-10-26 10:03] #2000 closed, assigned to nobody

[2016-10-26 10:05] AquilesCanta commented on #1999
Read the issue template, please. This does not provide enough information for us to help you.

[2016-10-26 10:05] #1999 closed, assigned to nobody

[2016-10-26 10:05] AquilesCanta commented on #1998
See #55.

[2016-10-26 10:05] #1998 closed, assigned to nobody

[2016-10-26 10:16] shirensong opened #2001 "ExoPlayer does not support mov format video."
I follow the demo and play a mov format video, there is only sound but no video... But if I use the base MediaCodec api with compile version 23 to play this video, it will be OK and everything is great.
1. based on exoplayer r2.0.4
2. a device with android 6.0
3. below is the adb log:

[code]

[2016-10-26 11:07] xbezdeka opened #2002 "Post-processing of HLS encrytion key"
Hi,
I'm using exoplayer 2.0.3 with HLS media playlist with encrypted chunks using standard AES-128 encryption. Only difference is that URI provided for key in the media playlist doesn't lead to the final key, but to some intermediate key that is used for generation of the final key.

Is it possible with Exoplayer API to intercept this key before it's used for decryption and modify it?

[2016-10-26 13:17] marva2013 commented on #55
i can't implement live555 with exoplayer. have you please any tutorial that explain how to use it. thanks

[2016-10-26 13:29] ChernyshovYuriy commented on #1884
Hi,
Yes, we are CWIP partner. Will submit logs there, thanks.

[2016-10-26 16:08] danrossi commented on #1705
@ojw28 I believe this is the best place for this. There is currently zero usage how CacheDataSource works.

In the demo app there is the Dash code like this.

[code]

is buildDataSourceFactory supposed to be replaced with that code above  ? Is it possible setting the right cache key now ?

I am hoping this is the right method for offline playback ?

[2016-10-27 01:49] KenendZ opened #2003 "Add/Parse additional headers to/from HTTP request HLS"
Hey I'm very new to ExoPlayer, and I'm trying to play HLS stream from my app.

Here's what I'm trying to do:

The client (with uses ExoPlayer) sends HTTP request server with addition headers or some contents so the server can verify it. (How can I add it?)

The server verifies the request and add additional fields to the HTTP response. (How do I pre-process the response before ExoPlayer processes

[2016-10-27 10:00] kunalbhatia opened #2004 "aspect ratio issue for 21:9 widescreen movie on v1.5.8"
Hi Team,

We're trying to play a 21:9 wide screen aspect ratio movie on a 16:9 tv.

**TV Details are:**
Tv Manufacturer: Philips
Android Version: 4.4.2

Usually the desired behavior is, that we see black patch bars on both top and bottom, but it doesn't comes in that way, instead black patch bar comes on all four sides for this particular tv.

I'll provide you a snapshot of the tv screen, but I ca

[2016-10-27 10:08] lipangit opened #2005 "Change surface can not show image immediately"
Hello

[In the project](https://github.com/lipangit/JieCaoVideoPlayer) I need to change surface when playing video.

Example : When MediaPlayer play video on a TextureView(or SurfaceView), I click fullscreen button it will call mediaPlayer.setSurface(OtherSurfaceHolder) to change TextureView(or SurfaceView) on fullscreen and go on play.
But this project is the same as android.media.MediaPlayer And

[2016-10-27 10:52] ojw28 commented on #2004
Are you certain the black bars on the left and right aren't "burnt in" to the video stream itself? If so then this is working as intended, and the black bars need to be removed from the video stream to fix the issue.

[2016-10-27 10:55] ojw28 commented on #1995
We abandoned plans to do this for HLS simply because it's significantly harder to get it right when dealing with TS chunks in HLS than it is when dealing with FMP4 chunks in DASH.

If you want optimal performance you should consider switching to DASH, since it's a much better thought out standard. For HLS, I think the best support we'll be providing here is to enhance our on-disk caching support,

[2016-10-27 10:55] #1995 closed, assigned to nobody

[2016-10-27 10:56] ojw28 commented on #2001
There is insufficient information here for us to debug the issue. Please read the issue template and file a new issue with all of the requested information if you wish for us to look at this.

[2016-10-27 10:56] #2001 closed, assigned to nobody

[2016-10-27 10:58] ojw28 commented on #1996
This is not something we support directly. What do you need this functionality for?

[2016-10-27 11:02] ojw28 commented on #1997
If this is using an emulator, please see [here](https://google.github.io/ExoPlayer/faqs.html#does-exoplayer-support-emulators). If this is using a real device, please read the issue template and provide all of the requested information, since there's no enough here to debug the issue.

For what it's worth, the sample plays fine for me on Pixel and with a Virtual Device with configuration: Nexus 5X

[2016-10-27 11:04] ojw28 commented on #2005
Please see: https://github.com/google/ExoPlayer/issues/318

[2016-10-27 11:14] kunalbhatia commented on #2004
@ojw28
ok to clarify, I'll upload a snapshot of same stream in some different 16:9 tv.
Here Tv manufacturer is LG and we've fire tv stick with android os 5.2
below is the snap:
![img_20161027_163628284](https://cloud.githubusercontent.com/assets/973321/19765099/39520478-9c64-11e6-8521-10f39f51f6fb.jpg)

[2016-10-27 11:19] ojw28 commented on #2004
In that case it sounds very much like a Philips specific issue. Have you reported it to Philips? If not, you should probably do so. If you provide a full bug report from the device then we can try and route the issue internally as well.

[2016-10-27 11:34] ojw28 commented on #1942
I _think_ this is probably fixed in `dev-v2`. Could you give it a try and see?

[2016-10-27 11:37] AquilesCanta commented on #726
Guys, let me know if you find any inconveniences with the API for reader injection. It should be possible to inject any kind of readers now. Thanks for being patient about it.

[2016-10-27 11:37] #726 closed

[2016-10-27 11:47] tresvecesseis commented on #726
thanks, I supposse that this is the API we should use to implement additional subtitle formats, isnt't it?

[2016-10-27 11:54] shirensong opened #2007 "Capabilities: ExoPlayer does not play mov format video."
I follow the demo and play a mov format video, there is only sound but no video... But if I use the base MediaCodec api with compile version 23 to play this video, it will be OK and everything is great.
here is the file link for this sample mov:

https://pan.baidu.com/s/1slnKXrv

based on exoplayer r2.0.4
a device with android 6.0
below is the adb log:

[code]

[2016-10-27 11:58] KenendZ commented on #2003
Here's the code I used for preparing the ExoPlayer (got it from the tutorial on the ExoPlayer website):

`

[code]

`

[2016-10-27 12:00] AquilesCanta commented on #726
Well, this is the API you should use to implement additional subtitle format extraction from TS. That is, through this API you can provide the readers to the TsExtractor. They will obtain a trackOutput from the extractor output, and that will eventually be passed to the decoders. TsExtractorTest may serve as example.

Depending on the format, you will also have to create a SubtitleDecoder, if no d

[2016-10-27 12:28] kunalbhatia commented on #2004
but spuul tv app is working fine for movies with aspect ratio 21:9.

Also, as per our observation, TVs with width less than 720, this issue arises where as TVs with width more than 720 it works fine, but on both TVs may it be 720 or less than that, spuul app is working fine.

[2016-10-27 12:31] lipangit commented on #2005
I have read all your conversation.

He seems to solve to the problem. But the solution is not common and not universial, I can not use  that code directly, I will learn and study DynamicExoPlayer and exoplayer.

[2016-10-27 12:55] HyowonHwang commented on #1995
Appreciate for answer.

What if this feature supports on normal HLS contents except live streaming?
Is that also harder to support?

Thanks,
Hyowon

[2016-10-27 13:31] ojw28 commented on #1995
It's possible, but it is harder to support than in the DASH and SmoothStreaming cases.

HLS is fundamentally less efficient and harder to deal with (e.g. through use of MPEG-TS [normally], muxed streams [normally], lack of key-frames at the start of chunks [common], multiple separate playlist files [always] and ambiguities in the spec that cause difficulties when performing stream switching [depen

[2016-10-27 14:02] ojw28 commented on #2007
The issue here is most likely that the underlying platform is under-reporting the capabilities of the device to play video of type `video/mp4v-es`. On Pixel the decoder for this type is `OMX.qcom.video.decoder.mpeg4`, which claims to support a maximum decode width of 896px. Since the video provided is 1280px wide, ExoPlayer determines that the format exceeds the capabilities of the decoder and hen

[2016-10-27 14:06] trevor-masters commented on #954
I'm encountering this error as well: @wilsonssss @giladna @Joboodi, can you advise on how you solved it?

[2016-10-27 14:34] ojw28 commented on #979
ID3 support for MP3 and MP4 has been merged in https://github.com/google/ExoPlayer/pull/2008.

[2016-10-27 14:34] #979 closed

[2016-10-27 15:01] Shyri opened #2009 "Video glitching while playing MPEG-DASH + Widevine in Exynos devices"
Hi,
We are facing glitches in video playback with DRM protected content in devices with Exynos. We are using h264, MPEG-DASH and Widevine. We have tested in several devices, it is only happening in devices having Exynos processor but not in those with Qualcomm.
Here there's a screen record of the glitches.

![ezgif-2386533970](https://cloud.githubusercontent.com/assets/1894980/19772176/aae70e2a-9c

[2016-10-27 15:14] Joboodi commented on #954
I don't actually use ExoPlayer, but I was having a similar problem with my player and `AudioTrack`.  I found that my code wasn't properly releasing the `AudioTrack` objects and that devices have a fixed number available (https://groups.google.com/d/msg/android-platform/tyITQ09vV3s/DaAeCsYgUGAJ).  When I made sure I was releasing the `AudioTrack`s objects properly, my problem went away.

I can't te

[2016-10-27 20:41] SrujithPoondla opened #2010 "Ffmpeg Documentation"
Is there any documentation for exoplayer, how to test the ffmpeg extension?  I am able to successfully build the Ffmpeg extension and its jni libraries.If any one worked on this please tell.

[2016-10-28 05:40] D2dream opened #2011 "Udp demo ExoPlayer"
i am using exoplayer for live streaming using udp but unable to get desired output it showing an error Unable to connect to 239.0.0.1:1234 i have tried alot but unable to solve plz help

[2016-10-28 06:38] hardcattle commented on #1990
Can't play now.

{
        "name": "youku",
        "uri": "http://pl.youku.com/playlist/m3u8?vid=444086626&type=3gphd&ts=1477636300&ep=cSaTHU%2BOUM0A5SPWjj8bby7gcCUGXPoO8h%2BNh9RgBtQlT%2Bu7&sid=3477636300096128224b9&token=1734&ctype=12&ev=1&oip=2067486600",
        "extension": "m3u8"
      },

Log:
10-28 14:36:06.345 14028-14028/com.google.android.exoplayer2.demo I/View: Touch down dispatch to a

[2016-10-28 07:04] andrewlewis commented on #1990
That stream plays fine for me in the demo app on a Pixel XL (using `adb shell am start -a com.google.android.exoplayer.demo.action.VIEW --es extension m3u8 -d "http://pl.youku.com/playlist/m3u8?vid=444086626\&type=3gphd\&ts=1477636300\&ep=cSaTHU%2BOUM0A5SPWjj8bby7gcCUGXPoO8h%2BNh9RgBtQlT%2Bu7\&sid=3477636300096128224b9\&token=1734\&ctype=12\&ev=1\&oip=2067486600"`).

Please file a new issue provid

[2016-10-28 07:11] andrewlewis commented on #2011
There's not enough information to help here, beyond the obvious suggestion of making sure that the address is accessible. Perhaps try playing it using another player.

If you can narrow down the issue to a bug relating to ExoPlayer, please file a new issue providing all the requested information.

[2016-10-28 07:11] #2011 closed, assigned to nobody

[2016-10-28 07:25] andrewlewis commented on #2010
To try out the ffmpeg extension from the demo app:
1. Follow the [instructions](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ffmpeg) to build the native part of the extension.
2. Show build variants in Android Studio and select the `withExtensionsDebug` build variant of the demo app module.
3. Play some media where the audio is in one of the formats that can be decoded by the FfmpegA

[2016-10-28 07:25] #2010 closed, assigned to nobody

[2016-10-28 12:31] mcse541 opened #2012 "OutOfMemoryError due to audioTrackunderrun"
While playing custom encrypted stream with widevine ,after some minutes of playback I get the following error.

Iam using Exoplayer library r2.0.0 in my project

Tested on Nexus Player with version 7.0

[code]

[2016-10-28 12:41] ojw28 commented on #2012
We fixed a whole bunch of memory related issues in early 2.x releases. Please try with 2.0.4.

[2016-10-28 12:41] #2012 closed, assigned to nobody

[2016-10-28 14:58] danrossi commented on #420
I've got this but I can't seem to debug if it's working. There is zero documentation and I've resorted to dev-v2-id3 as it seems the most up to date with all the refactoring.

If I start playing a dash source. Turn off remote connection and try and replay it fails to load the mpd file from the cache.

[code]

The dash source stays the same

[code]

The event logger implements this event method but

[2016-10-28 15:52] ojw28 commented on #1992
The link provided does not work for me (returns a 500 response code). Either it's broken, or it's probably geo-restricted to some region that we're not in. Please could you provide a working sample? Thanks.

[2016-10-28 17:42] danrossi commented on #420
Confirming this to be working. It is causing audio buffer underruns when playing from the cache so dropping frames. Turning off connection the fragments can play back from the cache but the main manifest still wants a connection and is not being stored into the cache. Perhaps this solution can be used for providing an offline downloader without having to re-engineer one. Just run the caching in th

[2016-10-28 21:16] luxband opened #2013 "Deinterlacing"
Hi,
There are several streams with parameters:
H264 - MPEG-4 AVC (part 10) (h264) + MPEG Audio layer 1/2 (mpga))
It is clearly seen that does not fulfill deinteleysing.
I have not found in exoplayer opportunities to enable deinterlacing.
Is that possible?
- Exoplayer 2.0.4.
- Devices on Amlogic S905 & S905X-H, Android 5.1

[2016-10-28 21:28] luxband opened #2014 "HLS - ExoPlayer doesn't detect multiple tracks of same type muxed in TS chunks"
Hi,
The problem with the stream that contains multiple audio tracks.
Ether is broadcast on http, archive by nPVR.
Parameters streams (video H264 - MPEG-4 AVC (part 10) (h264) + 7 audio-tracks MPEG Audio layer 1/2 (mpga))
If broadcast by nPVR exoplayer defines only a single track.
If broadcast by http exoplayer correctly identifies all 7 tracks.
Please tell me why this happens?
- Exoplayer 2.0.4.
-

[2016-10-28 21:38] luxband opened #2015 "FORMAT_EXCEEDS_CAPABILITIES for switching tracks"
Hi,
Stream has two tracks:
video H264 - MPEG-4 AVC (part 10) (h264) + audio-tracks MPEG Audio layer 1/2 (mpga)
Audio track is defined in exoplayer with flag FORMAT_EXCEEDS_CAPABILITIES.
When playing stream by default - the audio is not played.

Using in TrackSelector.onTrackSelectionsChanged explicitly switch to the audio track by TrackSelector.setSelectionOverride () - the audio track begins play

[2016-10-29 07:04] wilkenas opened #2016 "Allow setting of VIDEO_SCALING_MODE when using SimpleExoPlayer"
I need a center crop function for my player, thus I cant use `SimpleExoPlayer` (at least I didnt find how to do that with `SimpleExoPlayer`). I found that I can set center crop parameter when creating video renderer, which I can pass to the instance of `ExoPlayer`:

`final ExoPlayer player = ExoPlayerFactory.newInstance( new Renderer[]{videoRenderer, audioRenderer}, trackSelector, loadControl);`

[2016-10-29 08:08] danrossi commented on #420
I have both caching and persistent widevine dash working. However it's not caching the Mpd yet perhaps there is still a setup problem there ?

[2016-10-29 17:44] HeroZ-Dodge commented on #1996
when user playing mp4 ,I want to report the Uri , used for statistical performance

[2016-10-30 08:24] ram992 opened #2017 "Subtitle Support in ExoPlayer v2.0"
Hello,
Can any one share the code/steps necessary to support subtitle in the exoplayer 2.0

I know there is a sample code in one of the issues that is cosed, but that is working with v1 release.

I think the classes have been moved, So if any one can provide with the sample code(with all parameters)
that would be highly helpful.

[2016-10-30 09:44] AlirezaGhanbarinia opened #2018 "add custom media Controller"
how to add custom media Controller to Exo player?

in the previous version by using "getPlayerControl" function , we accessed to media controller and player seekbar , is there a function like this in the new version?

[2016-10-30 13:44] ojw28 commented on #2016
`SimpleExoPlayer` is itself just a wrapper around a regular `ExoPlayer`, so the easiest way to answer this kind of question is to take a look at what `SimpleExoPlayer` does [here](https://github.com/google/ExoPlayer/blob/r2.0.4/library/src/main/java/com/google/android/exoplayer2/SimpleExoPlayer.java) :). You're probably building what is effectively a wrapper of your own, so it might even make sens

[2016-10-30 13:48] ojw28 commented on #2018
We don't use or support `android.media.MediaController` in ExoPlayer V2. It was never an API that was particularly well suited for `ExoPlayer`. Even in V1 it was expected that most people would not use it, with `PlayerControl` documented to say:

In V2 we've introduced our own UI components (`SimpleExoPlayerView` and `PlaybackControlView`). They will be really easy to customize from the next relea

[2016-10-30 16:57] ojw28 commented on #1962
This will be fixed in `dev-v2` shortly. As an added bonus, you get album art as well when playing this stream in the demo app ;).

[2016-10-30 17:39] ojw28 commented on #2017
There are so many different variants of what it means to "support subtitles". You need to be more specific with exactly what media + subtitles you're trying to play (ideally providing links to sample content).

[2016-10-30 17:57] ojw28 commented on #2014
Note: Streams were sent via email.

The problematic streams are HLS media playlists. I don't think it's officially supported in HLS to mux multiple streams of the same type into TS chunks. This is supported in straightforward MPEG-TS because the pid for each stream is guaranteed to be constant, but in HLS the pid can change from one chunk to the next, which makes supporting multiple streams of the

[2016-10-30 18:06] ojw28 commented on #2015
`FORMAT_EXCEEDS_CAPABILITIES` indicates that the device has a decoder for the format, but this decoder indicates that it doesn't support the specific properties of the track. For audio this typically means the decoder doesn't support the sample rate + number of channels. For video this typically means the decoder doesn't support the resolution + frame-rate (and profile, in some cases).

If the dev

[2016-10-30 18:06] #2015 closed, assigned to nobody

[2016-10-30 18:09] ojw28 commented on #2013
Note: Test stream sent via email. The stream provided works fine for me both on Pixel and running in a Nexus 5X Virtual Device (i.e. emulator). It sounds like a device specific issue that should be reported to Amlogic. Please do this.

[2016-10-30 23:59] eneim commented on #2016
@wilkenas Just be curious, how did you do this

[2016-10-31 05:56] wilkenas commented on #2016
Thank you @ojw28 for the pointer, I managed to make my code work. Though I'm still a noob and dont understand some things. For example, why I'm not getting method `setVideoSurfaceView()`, though it is defined as public in given code. The reason why I cant use `SimpleExoPlayer` or `MediaPlayer`, because for my educational app I need seamless video loop with no video controls played as fullscreen ba

[2016-10-31 07:51] IngelssonN commented on #1962
Great, looking forward to test it! 🚀  👏

[2016-10-31 09:14] AlirezaGhanbarinia opened #2019 "alternative for InfoListener in ExoPlayer2"
what is the alternative for Info Listener in the new ExoPlayer 2 ?
in the previous version we used InfoListener to detect quality of video by changing internet speed .
I want to know is there an alternative in the new version?
thanks

[2016-10-31 09:19] ram992 commented on #2017
Hello @ojw28  Thanks for the quick reply, My need is straight forward,
I would like to dispaly sub titles in the formatt of .srt, I would give a link to the sub title file ( can be online or offline) and the text must be displayed on the player.

I have tried the SingleSampleMediaSource method that was there in the exoplayer guide but except subtitle url no other params were specified, can you ple

[2016-10-31 09:49] shirensong commented on #2007
@ojw28, so currently, is there a way to have ExoPlayer always try and play the stream in this case ?

[2016-10-31 10:13] ojw28 commented on #2007
Not currently. We're thinking about it, but it's unclear whether it makes sense.

[2016-10-31 10:33] ojw28 commented on #2016
I'm unsure what you mean by:

`setVideoSurfaceView` is only available on `SimpleExoPlayer` and not on `ExoPlayer`, so it's expected that you wont see it if you're using non-simple `ExoPlayer`.

It does sound like we should provide a way for you to set the scaling mode and still use `SimpleExoPlayer`, for convenience. We'll use this issue to track this.

[2016-10-31 10:37] wilkenas commented on #2016
Sorry, I got confused simple and non-simple instances! Anyway, I'm happy with the solution found.

[2016-10-31 10:44] ojw28 commented on #2019
`InfoListener` was never part of the ExoPlayer API. It was only defined in `DemoPlayer` in the demo app, not in the core library. In V2 the equivalent to copying `DemoPlayer` is to use `SimpleExoPlayer` directly, which is in the core library. It defines a bunch of listeners that you can register that provide equivalent functionality.

[2016-10-31 11:01] yuvaraj119 commented on #532
http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer/upstream/DefaultUriDataSource.html  this link is not working now

[2016-10-31 17:12] cyberjaime45 commented on #2018
This is good news for me, @ojw28  when you do think r2.0.5 will be available?

[2016-10-31 18:43] danrossi commented on #420
The cache gets messed up with adaptive switching. Still can't figure out why its not caching the Mpd file. It is possible not setting the key correctly for the Dash segments.

Need to now figure out how to turn Adaptive off and choose the largest bitrate while trying to build a cached offline file.

There has been zero proper documentation, even code commenting for any of it sadly. As I mentioned

[2016-10-31 19:51] ojw28 commented on #1962
Fixed in `dev-v2`.

[2016-10-31 19:51] #1962 closed, assigned to nobody

[2016-10-31 19:57] AquilesCanta commented on #87
Guys, just to let you know: I am still working on this. Many thanks for your patience. I am not giving any estimations this time. Priorities shift and things come up, unfortunately, but this is still coming.

[2016-10-31 20:52] sapanda opened #2020 "Live H.264 encoding not playing back with ExoPlayer 2.0.4"
Our live streams aren't playing with ExoPlayer 2.0.4. They play fine in 1.5.7. I've attached a sample chunk that doesn't play in ExoPlayer 2. Unfortunately we didn't see anything out of the ordinary in the logs.

Streams are encoded and packaged into HLS using Ateme Titan encoders.

[LiveChunk.ts.zip](https://github.com/google/ExoPlayer/files/562849/LiveChunk.ts.zip)

[2016-10-31 20:57] TheNetStriker commented on #926
I got a similar problem on my Wetek Play 2 device. (Amlogic S905H) The device only renders the first image of any video. Here is my logcat output:

[code]

And here is my media_codecs.xml. (not modified)

[code]

And here my media_profiles.xml. (Also not modified)

[code]

Is there any solution to this problem? By the way, with ExoPlayer playback of these videos worked fine.

[2016-10-31 22:11] luxband commented on #2013
I tried to play stream (which was sended via email) on the Nexus Player and Nvidia Shield (both at AndroidTV based at Avdroid 7). The same effect - deinterlacing is not available at this devices also.

You can repeat it at this devices?

[2016-10-31 22:17] ojw28 commented on #2013
It's really unclear what this issue is really saying. How are you determining that the device does not "fulfill de-interlacing". Please provide details of exactly what you're seeing, ideally including some photos of any visual artifacts that are visible as a result. Thanks.

[2016-11-01 08:20] praween05 opened #2022 "Group video calling with Wowza Server Android Rtsp Protocol"
I am using Wowza server for video streaming. The live stream is coming in form of RTSP URL. I want to stream it in android. Also I need to play multiple RTSP URL at the same time on same page ie group video conferencing. Can I achieve the same by the help of ExoPlayer.

Let me know if it is feasible through ExoPlayer

[2016-11-01 09:02] NikmanSergey commented on #179
@tresvecesseis, does ExoPlayer crew going to include your DVB subtitles support patch into official ExoPlayer v2 branch?

Could you, please, give some instructions how to apply this patch and then import this into existing project.
Are there already patched library download link?

[2016-11-01 09:56] DevinAllenLee opened #2023 "There is only one static frame with sounds while playing video."
ExoPlayer is a very powerful player for us , thank you so much.
       But when I tested it on some outdated phones ,  such as Huawei Y511 , Coolpad 8190Q and so on , I found the problem as the title says.
        I`m using version r2.0.4 , but  I`ve  tried other versions like r1.5.9 or r1.5.12 , they failed , either.

[2016-11-01 10:01] AquilesCanta commented on #2022
See #55.

[2016-11-01 10:01] #2022 closed, assigned to nobody

[2016-11-01 11:00] crossle commented on #1782
still remains in the latest commit

[2016-11-01 11:00] AquilesCanta commented on #2023
This is not enough information for us to help you. Please open a new issue including ALL the information required in the **issue template**. Please double check you include everything listed there.

[2016-11-01 11:00] #2023 closed, assigned to nobody

[2016-11-01 11:05] andrewlewis commented on #926
@TheNetStriker "By the way, with ExoPlayer playback of these videos worked fine." suggests that the video plays okay but you also say "The device only renders the first image of any video". Please could you clarify under what circumstances playback worked?

To investigate issues like this, it would be useful to have the information requested in the issue template, especially the output of `adb bug

[2016-11-01 13:47] laurencedawson opened #2024 "Possible to ignore an EOFException?"
I'm trying to play a few "flakey" MP4 files that are throwing an EOFException.

Is it possible to ignore an EOFException and attempt to play the file regardless of this?

Thanks

[2016-11-01 14:16] andrewlewis commented on #2024
Could you elaborate on what you mean by "flakey"? Are the files truncated?

We may need an example file to investigate further so please share one, and also the output of `adb logcat` just after you see the error. Thanks.

[2016-11-01 15:14] jschm1 opened #2025 "Add support for container format sniffing in HLS"
For the HLS stream below, ExoPlayer fails to display subtitles:

http://drod05p-vh.akamaihd.net/i/all/clear/download/bd/58049ebc6187a40d7cea30bd/Hammerslag--1-10-_5d30d8de7cab45628de5820ac0d965cc_,309,502,956,2059,2880,.mp4.csmil/master.m3u8?cc1=name=Dansk~default=yes~forced=no~lang=da~uri=https://www.dr.dk/mu/subtitles/playlist/urn:dr:mu:manifest:58049ebc6187a40d7cea30bd?segmentsizeinms=60000%26s

[2016-11-01 15:26] nguyentuanviet commented on #532
the link is not working...please update it!

[2016-11-01 16:00] laurencedawson commented on #2024
When playing the video I'm getting:

[code]

---

This is the URL of the content I'm trying to play:

`https://cdn-e1.streamable.com/video/mp4-mobile/3jul.mp4?token=1479219343_dc4d0379eaff9e9d24d2e780e41c1fe1a4f3a34b`

I've tried loading the URL directly and also caching the file locally and then loading the content both to no avail.

---

Finally I've run the source through ffmpeg just in case th

[2016-11-01 16:17] ojw28 commented on #532
http://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/upstream/DefaultDataSource.html

Note - In general just go to http://google.github.io/ExoPlayer/doc/reference/ if you can't find documentation for a class. It's all there and pretty easy to navigate.

[2016-11-01 16:38] AquilesCanta commented on #2014
First things first: This behavior is expected. As stated, we don't support TS variants with multiple muxed tracks of the same type. Initially, the idea was to add support for multiple closed caption tracks only. Unlike with closed captions, the main obstacle for supporting multiple audios in the same TS(in HLS) is that they cannot be described by the manifest. That is, the #EXT-X-MEDIA tag only pr

[2016-11-01 16:51] laurencedawson commented on #2024
I've spoken with the video host and they have informed me this was down to a bug in ffmpeg:

The link provided above has since been fixed but this link still has the same behaviour:

https://cdn-e1.streamable.com/video/mp4-mobile/3jul.mp4?token=1479228420_9600e7ae0bb49ded546a009b7b869f892636acc7

---

If the issue is down to the audio encoding being incorrect which in turn is down to ffmpeg (and s

[2016-11-01 17:08] luxband commented on #2013
This is screenshots of the problem stream(which was sended via email), made on Nexus Player (Android v.7.0):
https://drive.google.com/open?id=0B4EsQFgJw0FPbU8zQlFDNE5XOEk
https://drive.google.com/open?id=0B4EsQFgJw0FPc3NqQ2s0ME52Qjg

[2016-11-01 17:34] andrewlewis commented on #2013
There is no deinterlacing functionality implemented in ExoPlayer itself and it is not feasible for us to implement it in a way that works in general.

Decoders can do arbitrary post-processing and in the past we have seen devices where you can customize what post-processing is applied by setting device-specific MediaFormat keys. You might want to investigate this further if you only need to suppor

[2016-11-01 17:39] AquilesCanta commented on #2025
The reason behind this bug is that the vtt segments don't have a .vtt/.webvtt extension. This means that the stream does not get past preparing state for V1.

I couldn't find any constrains over the extension of the segment URIs in the spec so this is an actual bug. For the time being, if you can rename the webvtt segments so that they end with .vtt, that will fix the issue for you.

[2016-11-01 18:42] TheNetStriker commented on #926
Sorry, I actually wanted to write "By the way, with ExoPlayer **V1** playback of these videos worked fine." With V1 I was able to play my stream. Since I updated to V2 I get this error.

I can't give you the stream because it's an internal streaming server, but It's just a simple http stream. The video container is mp4, the video codec isH.264 MPEG-4 AVC and the audio codec is AAC.

The Wetek devi

[2016-11-01 19:39] SrujithPoondla commented on #2010
Thanks @andrewlewis , Is there any tutorial to build our own custom extractor renderer for video using Ffmpeg extension or any other extension?

[2016-11-01 20:19] pkegashira opened #2026 "Compose playlist into sections"
I have a question since i couldn't find anywhere for reliable info. I have an app that has a number of files to play. i need to compose all these into a playlist and perform specific actions on every track, thus things like flash the UI with certain sound files, set a background music for certain video files.

The direction i took was to get the index of the currently playing track and apply my lo

[2016-11-02 02:56] DevinAllenLee opened #2027 "There were just one static frame with sounds or just black frame without sounds."
- when I tested Demo App in some outdated phones , videos couldn`t be played.There were just one static frame with sounds or just black frame without sounds.
 - I found the problem above just by running the demo app , and I`ve tried all the video types , but they all failed .
 - Our app`s link is http://update.lieyou.com/apps/com.aipai.android/android/version/aipai.apk. It`s built with ExoPlayer V

[2016-11-02 07:47] tresvecesseis commented on #179
It seems that the patch is not going to be integrated in exoplayer, they consider it a maintenance burden as the library is currently focused in OTT video support rather than IPTV or DTT, so they have put in place an mechanism to be able to implement custom elementary streams reader off-library and we are migrating our player to this API, you could do the same port with the published patch.

From:

[2016-11-02 08:48] ojw28 commented on #179
Hi. We've had bandwidth to look at the TV case in a little more detail recently, so it might be a good time to re-assess this (no promises of course). @AquilesCanta - What do you think? The pull request is here: https://github.com/google/ExoPlayer/pull/1781

@tresvecesseis - Regarding the pull request, can you confirm the code is OK with respect to whatever Google CLA you've signed [here](https://

[2016-11-02 10:53] replystreamingwidevine opened #2028 "Tracking information recovered from exoplayer activity"
Hi all,
We are trying to monitor every streaming session in our app, in order to track (sending data to our server) as much information as possibile about the exoplayer activity.
We are using MPEG DASH streams and the exoplayer version is 1.5.8.

We would like to track:
•	when the exoplayer increase or decrease the streaming quality (when the player choices a different <Representation>, in an adap

[2016-11-02 11:10] jschm1 commented on #2025
Thanks for quick response.
Adding a .vtt extension seemed to do the trick.

[2016-11-02 11:12] ojw28 commented on #2024
I think having elegant failures for this kind of thing in general would require us to do a huge amount of validation on the stream as we're processing it, which is quite expensive, would add a lot of weight to the codebase, and probably doesn't represent a good trade-off.

If this problem is widespread across multiple providers then we could consider an elegant failure specifically for this case.

[2016-11-02 11:16] ram992 commented on #2017
Hello @ojw28  any news on my issue

[2016-11-02 12:21] Avetri commented on #1488
@ojw28
https://www.dropbox.com/sh/poubu1hb6f1lzu8/AADl9XHl3EKFq2QAnsYWHBFOa?dl=0

A few sample files there are in the folder. Many of them are audio related.

[2016-11-02 21:43] wvpaf commented on #2009
@Shyri can you provide a adb log? if the content cannot be shared there may not be much the OEM can do to troubleshoot.

[2016-11-02 22:15] SrujithPoondla commented on #1569
@arianaa30  were you able to implement SRD feature?

[2016-11-03 06:44] SwaranSK opened #2029 "How to use UdpDataSource in exoplayer?"
I tried in the way given below, but unable to open udp stream in exoplayer. Second which media source should we use for UdpDataSource, i.e., DASH, HLS, SS and Regular Media. Currently I am using SImpleExoPlayerView. Is it ok to use this view for UDP and RTMP?  Should I take SurfaceView or any other view? It will be great help if someone can guide me and share the code for playing UDP and RTMP stre

[2016-11-03 07:07] AlirezaGhanbarinia opened #2030 "problam with setRendererDisabled"
when I disable the audio , everything  is ok.

But when I enable the audio , video player lags and after about 2 or 3 seconds player start playing the video.

setRendererDisabled(1,true);

[2016-11-03 10:37] bubavanhalen opened #2031 "How to add HTTP Header to MediaSource (Exoplayer 2)"
Is there a possibility to use add HTTP-Header such as an "Authorization: Basic xxxxx" to the `MediaSource`. In v2.0.4.

I found another one with the same problem who explains it little bit better: [HERE](http://stackoverflow.com/questions/40130486/android-exoplayer-create-mediasource-from-defaulthttpdatasource)

[2016-11-03 12:28] ojw28 commented on #2031
I don't really understand the StackOverflow post. If the poster can create a DataSource instance to do what they want, it should be trivial for them to implement DataSource.Factory just to provide instances that are created that way, like:

[code]

[2016-11-03 12:39] niceteg commented on #342
I've read an interesting article recently, and I thought it  might be useful for you <http://natascia.jessicathomasyoga.com/lnln/020>

Warmest regards, teg

[2016-11-03 13:47] #2031 closed, assigned to nobody

[2016-11-03 14:27] subinkrishna commented on #1992
Sorry for the delayed reply. Unfortunately this is the only URL I have at this point. Please feel free to close this issue if this isn't going to help you in looking in to this issue. Sorry for the inconvenience.

[2016-11-03 14:28] #1992 closed, assigned to nobody

[2016-11-03 20:44] ChernyshovYuriy opened #2032 "License lifetime handler"
Dear ExoPlayer team,
I am facing an issue with ExoPlayer when License expired during playback or during period when playback is on pause.
In first case there is "MediaCodec$CryptoException: Error decrypting data: requested key has not been loaded".
In seconds one there is "com.quickplay.google.android.exoplayer.drm.KeysExpiredException".
This is a little bit user unfriendly behavior. User have to

[2016-11-04 03:11] ened commented on #1592
@dcower has there been any progress on that for further testing? Thx

[2016-11-04 07:04] xuyunyu opened #2033 "When play my own HLS stream, having mosaic appear occasionally"
Dear ExoPlayer team,

I have build EXOPlayer v2 demo, and add some my own HLS stream to play.
It dosn't work well , having some mosaic shown occasionally, but works well Using System build-in MediaPlayer.
I have tested it on my android tv (android sdk version : 22) and phone (android sdk version : 23), both devices produced the same phenomenon.

Link to the stream:
http://cdn02.duolebo.com/HLS_jia

[2016-11-04 07:39] tresvecesseis commented on #2029
Have you checked if your device supports multicast?, lots of devices don´t support multicast at all and some only for ipv6, for us, the most reliable way to test for multicast support is to check the presence of the “/proc/net/igmp” file.

[2016-11-04 08:01] nikdroid opened #2034 "Capabilities: Video "exceeds capabilities" (but plays fine if forced)"
**Environment :**

**Device Samsung GT-S7262**
android version 4.1.2,  RAM 512MB

install the exo player demo app and start playing **"YouTube DASH
Google Glass(MP4,H264)"** video, _we have observed following issue only on this particular device:_

**Behaviour with Exo player library version : r2.0.4 :**

Video is not rendered. Everything else works fine. (You can hear audio, and see the video con

[2016-11-04 09:52] SwaranSK commented on #2029
@tresvecesseis Yes, my device support multicast for ipv4 and ipv6 both. igmp and igmp6 files are there in the said directory. UDP stream is working fine on VLC Player from the same device. But I want to use ExoPlayer. Please check my code also whether I am doing right or not. If it is not the right way please guide me for corrections.

[2016-11-04 10:28] ojw28 commented on #771
We're merging a change into `dev-v2` shortly that decouples baseURLs from `RangedUri` and `SegmentBase`, which might make this significantly easy to do in a way that's both clean and technically correct.

[2016-11-04 13:32] Kexiliu opened #2035 "Audio artifacts during custom processing on audio bytebuffer"
Hello, (all following line numbers are based on the tip of this repo right now)

I'm trying to do some custom processing on the audio part of a video stream (byte array/byte buffer with variable name "temporaryBuffer" at line 641 of com.google.android.exoplayer2.audio.AudioTrack), the output audio produces with mild artifacts, like "broken audio" with discontinuities (AV still sync at this moment)

[2016-11-04 13:50] xander-lw commented on #2034
I have the same problem, more or less. From my own logs, which can also be seen in the log OP posted, this one seems to be the culprit:

`Track:0, id=1, mimeType=video/avc, res=750x1334, supported=NO_EXCEEDS_CAPABILITIES`

No real clear reason why it "exceeds capabilities"... I haven't tested the file with Exoplayer v1, but I can play the file using a VideoView. In my case I'm playing a local file

[2016-11-04 14:01] ChernyshovYuriy commented on #2032
Additional question that I have.
Can keys be loaded (re-loaded) within the same session?
For instance, by implement some kind of timer that trigger "doKeyRequest" of the StreamingDrmSessionManager once license going to be expired during playback?

[2016-11-04 14:50] a-klimashevsky opened #2036 "ExoDemo app doesn't play video at android 4.4.2"
ExoDemo app doesn't play video at android 4.4.2

Player version: 2.0.4

Device: Samsung GT-I8160, android 4.4.2 (Gyanogenmode)

Steps to reproduce:

1) download https://drive.google.com/open?id=0ByD4juBaF_vWQWxTcXlPRWNaaWM
2) open with ExoDemo app

Result: Decoder init failed: OMX.ST.VFM.H264Dec

Log:

[code]

Some usefull tips:

1) ExoDemo play this video at android 5.0 and above and android 4.2

[2016-11-04 15:20] andrewlewis commented on #2036
Could you clarify whether you saw the issue running on Cyanogenmod or stock Android? It looks like a platform bug rather than an issue with ExoPlayer.

See also the [FAQ about using ExoPlayer on emulators](https://google.github.io/ExoPlayer/faqs.html#does-exoplayer-support-emulators).

[2016-11-04 15:24] a-klimashevsky commented on #2036
I saw this issue at real device with Cyanogenmod.
I'm able to play this video using build-in gallery app. So its looks more like ExoPlayer bug

[2016-11-04 15:41] ChernyshovYuriy commented on #2032
Ok, for those who interested - it is possible to re-load keys during playback for the same session, this is good news.
Now, back to original question, will it be ever supported by ExoPlayer?

[2016-11-04 17:14] jglanfield opened #2037 "Question: where does ExoPlayer account for sequence number variance in HLS streams?"
This is just a question, not a bug report. Hope that's OK.

Whenever a new playlist is loaded (for a live HLS stream), the first segment is always given time 0 and the last segment is given the correct time for that window. But the next time a playlist is loaded, it would be nice if the first segment in the new window took the sequence into account such that its start time is not zero.

By "sequen

[2016-11-04 17:39] AquilesCanta commented on #2037
Track #87. Something similar is done in that line of work.

As a note, what you suggest is not that easy. That I know of, there is no restriction over the duration of the chunks except that they are shorter than the target duration of the media playlist. So, multiplying is not an option. Not generally, at least. And this is assuming you load every playlist at the start of playback. Ideally, you wo

[2016-11-04 17:39] #2037 closed, assigned to nobody

[2016-11-04 17:46] jglanfield commented on #2037
Yeah, the reason I asked is because I hacked together a quasi-solution for seeking live events, but I haven't been able to account for the sequence variance yet. My use-case is quite simple, so I'll probably just store the previous sequence somewhere and ensure that and future segments take that into account when computing their start time.

[2016-11-04 17:56] jglanfield commented on #87
Will the updated work on this include using EXT-X-PROGRAM-DATE-TIME ?

[2016-11-04 18:08] AquilesCanta commented on #87
Not yet, no. But on the map.

[2016-11-04 18:15] ghost commented on #2032
This seems like a drm configuration problem rather than a fault with the player.   You should perhaps look at increasing the licence duration to something typically longer than an average viewing session or look at implementing the licence renewal feature offered by widevine

[2016-11-04 18:21] ChernyshovYuriy commented on #2032
I could be agree to some degree, but it is more then possible that license duration can be several hours (in case of sport event streaming, for instance) and then instead of reload license during stream, in current implementation on ExoPlayer, a channel is simply fails to play.
I am not saying that it is hard to implement, in fact, our own implementation of DrmSessionManager handles it well, but d

[2016-11-05 05:36] Kexiliu commented on #1790
Hi, Pedro,

I was also trying to modify the raw decoded pcm data, but the processed data has some noises/artifacts (the audio processing itself is correct and simple (adjusted the gain), verified before). have you experience this before?

[2016-11-05 09:08] AlirezaGhanbarinia opened #2038 "Video Quality Urls"
How to get Quality`s url video ?

I need to have urls for downloading video

[2016-11-05 13:46] setfire2 opened #2039 "Streaming does not work for most streams with 128Kb over mobile connection"
Hello,

I use ExoPlayer in my brand new radio streaming app:
https://play.google.com/store/apps/details?id=de.hanosoft.droidio

Currently, I face the following issue: streaming works fine over WiFi for all stations. Over a mobile connection (using UMTS in Germany) a lot of the streams that have a bitrate of 128Kb/s do not start playing. It's an interesting effect since I didn't see the problem occ

[2016-11-05 15:28] xucian opened #2040 "Rendering to an OpenGL texture that'll be displayed in Unity3D"
Hi.
I want to use to progressively stream videos from urls, but display the video in Unity3D.
I first tested it with a surfaceview in a native android app and it works brilliantly.
However, I need this functionality to be contained into an aar library and use it as a plugin for Unity.
I am VERY close to make it work (or so it seems), but I know my lack of OpenGL knowledge is not letting me advance

[2016-11-05 15:31] xbezdeka commented on #2002
Ok, for others struggling with this problem, I was able to do what I need by creating custom DataSource object working as a wrapper and monitoring underlying http communication. When open() method is called and Uri in dataspec matches the Uri for key request I intercept data in read() method and modify it accordingly.

[2016-11-06 05:57] rameshandroid opened #2041 "AVSync issue: Frequent frame drops and same audio repeats after player goes to buffer state while network switch happens."
Hi,

I am trying to play hls content in exoplayer demo app.Whenever network bandwidth is low (network speed slow (avg: below 500 kbps)) or frequent change in n/w speed ,player goes to buffering state. once buffering is done it's trying to play buffered content.
The issue is it's playing only audio but where as video got freezed (sometime for 2 to 10 seconds) .
       Log: com.google.android.exopla

[2016-11-06 07:19] AlirezaGhanbarinia opened #2042 "start playing video with low bit-rate"
Hi,

I have update ExoPlayer and facing some issue.
In older version, When i play video HLS link, It was start playing with low bit-rate (low quality).
how to start playing with low bit-rate in exoplayer 2 ?

Please provide me solution for same.

[2016-11-06 16:13] ojw28 commented on #2040
This is not an ExoPlayer issue (which is what this tracker is for). I suggest you ask questions such as this one somewhere like StackOverflow. You might also find [this](https://medium.com/@cinemur/exoplayer-for-building-powerful-vr-players-for-cardboard-and-gearvr-73ec7e83dd5c#.npf2tldsi) an interesting read?

[2016-11-06 16:13] #2040 closed, assigned to nobody

[2016-11-06 16:16] ojw28 commented on #2039
The link indicated as faulty above plays fine for me using ExoPlayer on both a Pixel and an emulator. There's nothing in ExoPlayer that's specific to particular types of mobile connection. We simply use the underlying http stack in both cases. So whatever this is, it's unlikely to be an ExoPlayer issue. You'd need to provide a full bug report (as requested in the issue template) for us to have a c

[2016-11-06 16:19] ojw28 commented on #2030
Closing issue because it fails to provide adequate information, as is requested in the issue template.

[2016-11-06 16:19] #2030 closed, assigned to nobody

[2016-11-06 16:22] ojw28 commented on #2028
`EventLogger` in the demo app is already a good example of a class that's registered to receive a whole bunch of internal events from the player, so you should take a look at that as a starting point.  Note that in ExoPlayer V2 quite a bit of extra useful information is propagated to `EventLogger`, so if you're really keen on getting as much information as possible then you should think about migr

[2016-11-06 16:22] #2028 closed, assigned to nobody

[2016-11-06 16:32] ojw28 commented on #2038
Closing due to lack of information. ExoPlayer doesn't support downloading, so if you're trying to support it then it feels like obtaining the URLs to download is something you'd need to implement yourself.

[2016-11-06 16:32] #2038 closed, assigned to nobody

[2016-11-06 16:32] #2019 closed, assigned to nobody

[2016-11-06 16:32] #2018 closed, assigned to nobody

[2016-11-06 16:35] ojw28 commented on #2034
The device is indicating that it doesn't support the media you're attempting to play. It's likely the device is under-reporting its capabilities, given your observations. We'll need to get hold of a device and have a look.

[2016-11-06 16:51] ojw28 commented on #2035
Given (a) The underlying AudioTrack simply plays what it's given, and (b) ExoPlayer feeds regular audio data to the underlying AudioTrack correctly, any artifacts being introduced must be purely a result of the processing that you're performing on the buffers.

This is something you'll need to resolve for yourself, I'm afraid. There's no particular reason why you'd need to change the buffer size;

[2016-11-06 16:51] #2035 closed, assigned to nobody

[2016-11-06 16:54] #1997 closed, assigned to nobody

[2016-11-06 16:56] ojw28 commented on #1893
Links provided do not appear functional. Closing due to lack of information. As per my earlier reply, the default buffer settings should be fine for 6mbit/s streams.

[2016-11-06 16:56] #1893 closed, assigned to nobody

[2016-11-06 16:58] #1886 closed, assigned to nobody

[2016-11-06 17:00] ojw28 commented on #830
Closing because bug is stale. If still relevant: I don't have any suggestions, sorry. I'm guessing something about the way you're encrypting the streams is invalid and/or not handled by the PlayReady DRM implementation.

[2016-11-06 17:00] #830 closed

[2016-11-06 17:13] ojw28 commented on #1873
We've made it somewhat easier to customize the UI components in `dev-v2`. We'll post a blog post on our [blog](https://medium.com/google-exoplayer) when we push a release that includes them. As per above, you still have the option of implementing your own UI components as well.

[2016-11-06 17:13] #1873 closed, assigned to nobody

[2016-11-06 17:14] #1677 closed, assigned to AquilesCanta

[2016-11-06 17:15] ojw28 commented on #1677
Assuming this is fixed based on the comments above.

[2016-11-06 17:24] laurencedawson commented on #2024
I've maybe seen a few thousand badly encoded MP4s over the last week.

The provider for these MP4s was Gfycat.com and if you want to message me privately (contact@laurencedawson.com) I can make the introduction to their team to discuss the issue.

[2016-11-06 18:13] setfire2 commented on #2039
Thanks for the response. I just tried with a different Smartphone and the problem does not occur there. The phone where it fails is a OnePlus One with Cyanogenmod installed. I guess you can close the issue. If somebody has an idea what may cause the problem on that specific device, I'd be happy to hear from you. Thanks.

[2016-11-06 18:56] ojw28 commented on #2039
Sounds likely to be an issue with Cyanogenmod, so I'd suggest you report it there, or to OnePlus. Alternatively, if you're able to provide a bug report shortly after encountering the issue, it might be possible for us to provide a workaround.

[2016-11-06 18:56] #2039 closed, assigned to nobody

[2016-11-06 19:04] ojw28 commented on #2024
As per above, unless the issue is affecting multiple providers or is widespread, I think we're happy to assume the problem will be cleared up as that provider re-transcodes any bad content they've produced. Closing for now. A link to the ffmpeg issue would still be appreciated.

[2016-11-06 19:04] #2024 closed, assigned to nobody

[2016-11-06 19:30] setfire2 commented on #2039
Cyanogen is OPOs official software :-)

Regards,
Sören

Am 06.11.2016 um 19:57 schrieb ojw28:

[2016-11-06 19:34] ojw28 commented on #2039
Yeah, I realised and updated my response, heh :).

[2016-11-07 02:11] danrossi commented on #420
This code is so convoluted. I was able to track down why the mpd is not being cached. It's because of a content length being -1. I can't work out right now where or why it's returning -1. Really hard work.

You have other options than to use the cache directory I believe like these. One will clear content when the app is removed, the other will not.

[code]

[code]

[2016-11-07 04:00] crossle commented on #1961
same error, ExoPlayer2 not do #EXT-X-ENDLIST tag, and no end state when live playback end

[2016-11-07 04:35] gongshoudao opened #2043 "Play [.m3u8] stream,always in loading"
The log look like the stream was load completed,but the [onPlayerStateChanged] is always Buffering.
ExoPlayer Verison:2.0.2
Video Format:3mu8
NetWork Connection:WiFi
SDK version:5.1

Log is here:

I: Init 2.0.2
W: Ignoring messages sent after release.
D: state [0.02, true, I]
E: Player_state====playWhenReady=true, playbackState=idle
D: state [0.02, true, B]
E: Player_state====playWhenReady=true, p

[2016-11-07 06:47] dreich commented on #2042
Hello!

And I just wanted to ask whether ExoPlayer does automatically switch to the most appropriate track (bitrate) in HLS stream.

[2016-11-07 06:52] danrossi commented on #420
As far as I can see the manifest loader runs through a parser. No content length is given before it's opened. It will fail to store in the cache because no content length is given.

[2016-11-07 07:59] danrossi commented on #420
https://github.com/google/ExoPlayer/blob/dev-v2/library/src/main/java/com/google/android/exoplayer2/upstream/ParsingLoadable.java#L75

This provides no length therefore the issue. the length can't be set after reading bytes. Requires some hacking elsewhere to allow writing the cache without checking for length possibly.

[2016-11-07 08:23] ojw28 commented on #2043
It's unclear what you're actually reporting here. Please provide more details, sample media and a full bug report.

[2016-11-07 08:23] ojw28 commented on #2042
Yes, it does.

[2016-11-07 08:25] ojw28 commented on #2041
You'll need to provide sample media for us to reproduce this. Please also try using ExoPlayer V2.

[2016-11-07 08:30] dreich commented on #2042
Do these rows respond for auto switching? Is DefaultTrackSelector the class which is reponsible?

Should I call any special method for enabling auto switching?

[2016-11-07 08:35] ojw28 commented on #420
@erdemguven - Do we cache data if even the resolved length is unknown (this is likely a result of the mpd response being gzip'd) and/or have a solution to this?

@danrossi - I think it would be fairer to call the code necessarily complex ;). There are many small nuances to caching media properly, particularly when considering things like caching of non-completed requests. As an aside, you probably

[2016-11-07 08:38] ojw28 commented on #1961
Wowza should be appending the EXT-X-ENDLIST tag to their live stream HLS media playlists when a live streams end, else this is how the player will behave. I suggest you continue to raise this issue with the Wowza team.

[2016-11-07 08:38] #1961 closed, assigned to nobody

[2016-11-07 08:42] ojw28 commented on #2042
The `TrackSelector` creates track selections. For the adaptive video case the selections are produced by the `AdaptiveVideoTrackSelection.Factory` in the code above. As long as you have similar code to the code in the demo app (and above), it will be enabled by default.

[2016-11-07 08:47] crossle commented on #1961
If live end, append EXT-X-ENDLIST tag, but exoplayer need wait a moment, and callback the end state

[2016-11-07 09:32] nikdroid commented on #2034
@ojw28  @Xanderrr Thanks for your replay. But the main issue is, as mentioned, it works fine with old library i.e. r1.5.9 but fails to do so on r2.0.4!!

[2016-11-07 09:50] ojw28 commented on #2034
V2 performs more checks than V1 did, so that isn't inconsistent with the diagnosis. We don't want to revert the additional checks because they prevent playback failures on other correctly functioning devices.

[2016-11-07 10:07] erdemguven commented on #420
@ojw28 @danrossi - Unfortunately not. We skip the cache if the resolved length is unknown as the content is likely to be a live stream. I don't know how we can handle gzip'd responses.

[2016-11-07 10:16] ojw28 commented on #1961
I believe ExoPlayer handles this case correctly already. This issue appears to be specifically about Wowza streams, where the tag is incorrectly not appended.

[2016-11-07 11:55] #2043 closed, assigned to nobody

[2016-11-07 12:09] stephen1706 opened #2044 "only play audio, video not working after ffmpeg compress"
after i compress a video using ffmpeg command -vcodec mpeg4, it appears that the video player can only play the audio, while the image is blank. i try to open this file using other video player and it is working okay. this is the compression code:

[code]

if i remove the -vcodec mpeg4 it is working fine on the exoplayer. any idea why? because other player works okay and i dont want to omit the -v

[2016-11-07 12:38] Kexiliu opened #2045 "Audio artifacts/noises (and video stucks) if audio going through heavy processing"
To whom it concerns,
I noticed that if I perform heavy audio processing (we're doing heavy post audio processing from native layer) in handleBuffer function in Audiotrack.java, it starts to produce audio artifacts/noises (and video stucks).

An easy way to reproduce the problem is that, just before this line in handleBuffer:
bytesWritten = audioTrack.write(temporaryBuffer, temporaryBufferOffset, b

[2016-11-07 13:26] Kexiliu commented on #2045
An even easier way to trigger this issue is that:

In AudioTrack.java, handleBuffer function, right before this line:
`bytesWritten = writeNonBlockingV21(audioTrack, buffer, bytesRemaining);`

Add:

[code]

All i did was to convert buffer to array, and convert it back to bytebuffer and write to audioTrack. When i run the app, I hear the audio noise and video is faster... Is this the right place to

[2016-11-07 13:30] ojw28 commented on #2045
This issue tracker is for issues with the library. We don't have bandwidth to debug your own customizations; sorry. It's your responsibility to make sure you implement customizations correctly and to resolve any issues with them.

That said:

Note that there is no guarantee `audioTrack.write` will actually write all of the data passed to it. That's why it returns the number of bytes written. It's

[2016-11-07 13:30] #2045 closed, assigned to nobody

[2016-11-07 13:52] danrossi commented on #420
@ojw28 ok. I was hoping to use this then play the locally stored sources ?

I have the custom offline widevine manager working and will load the keys. I could be interested to upload that to github.

The last past of course was hoping to switch to the largest bitrate and turn abr off and just let the internals do the downloading without having to re-engineer anything. I couldn't even find document

[2016-11-07 16:48] sdex opened #2047 "HLS stream: LoadTask: Unexpected exception loading stream"
An exception whet trying open the HLS video stream.
Reproduced with the demo app (ExoPlayer 2.0.4).
Devices - Emulator 6.0, 7.0, Samsung Galaxy S6, Xiaomi Redmi note 3.

The stream link was sent.

[bugreport.txt](https://github.com/google/ExoPlayer/files/576017/bugreport.txt)
[log.txt](https://github.com/google/ExoPlayer/files/576011/log.txt)

[2016-11-07 16:59] AquilesCanta commented on #2047
Thanks for reporting this. Will look at it shortly.

[2016-11-07 17:16] AquilesCanta commented on #2047
This is already fixed in the dev-v2 branch. You can use that branch if needed, or wait until v2.0.5 is actually released.

[2016-11-07 17:16] #2047 closed, assigned to AquilesCanta

[2016-11-07 17:24] sdex commented on #2047
@AquilesCanta Thanks for quick reply. I checked dev-r2 - works well.

[2016-11-07 18:50] Shyri commented on #2009
@wvpaf We've tried with a reprocessed version of the same content, with and without protection. It works properly without protection, so we think is some specific issue with the DRM.

I'll attach a bugreport in case you can see something in there. We'll keep testing further

[exoplayer2_report.txt](https://github.com/google/ExoPlayer/files/576367/exoplayer2_report.txt)

[2016-11-08 06:07] crossle commented on #1782
I face the problem only download ts slow network sometimes,  i think the player should not throw this Exception,  should continue buffer the latest mediaSequence ts

[2016-11-08 09:18] crossle opened #2048 "ExoPlayer not normal end when playback HLS live streaming end"
Use the ExoPlayer-dev2 latest code, use ExoPlayerDemo, playback HLS live streaming, when the hls live streaming end, the exoplayer still send state buffering, not normal end, the dev1 work well, playback HLS VOD video well

[2016-11-08 09:47] AquilesCanta commented on #2048
See #1961. If not applicable(the playlist does contain the #EXT-X-ENDLIST tag), open a new one including the information required in the issue template.

[2016-11-08 10:09] AquilesCanta commented on #2048
@ojw28 pointed out this is not working correctly. I will reproduce myself and will use this issue to track the bug. Sorry for closing it prematurely!

[2016-11-08 10:44] AquilesCanta commented on #2048
This is indeed a bug in dev-v2 but has been fixed in the internal version. Wait for the next push and  it will be fixed. Will keep this open until confirmation. Thanks for reporting!

[2016-11-08 10:46] crossle commented on #2048
ok, hope push today，😄

[2016-11-08 11:14] Shyri commented on #2009
Hi @wvpaf , we have an update on this.
We tried to package a small sample of a video using widevine test license server in order to see if it was working properly and there could be some problem of our DRM provider. The result is still same, not glitching for qualcomm, glitching for Exynos. You can see here:

![ezgif-411331412](https://cloud.githubusercontent.com/assets/1894980/20096730/87145d96-a

[2016-11-08 12:53] hemanthdn commented on #87
Hi, I tested the player, I see the rewind function works,
but the forward functions goes to the start of the DVR live stream.
Secoondly, The seek bar their is a bug, their the timing is shown correct, but the seek bar is at start position only.
Any update on it?

[2016-11-08 12:55] londhenamdev commented on #805
I am also facing the same issue for exoplayer if X-PLAYLIST-TYPE= EVENT then player should start from current chunks that is live and specifies the buffering duration that can be seek back.  Thanks in Advance

[2016-11-08 13:08] ram992 opened #2049 "Getting internalError [66.45, audioTrackUnderrun [44100, 250, 43]]"
Hello @ojw28  I have integrated the ExoPlayer v2.0.3 into my App

When Playing MPD file I am getting the following error and the video either pauses (for few seconds) or completely stops playback

Just tested it on Demo App,(I taught my integration was buggy) but the demo player is also giving the issue, but is resuming after 3sec

Can you tell me when and why this error occurs.
I am using HTC 620

[2016-11-08 16:03] rameshandroid commented on #2041
Hi @ojw28 ,

thanks for quick reply.

sample media url: **http://www.nacentapps.com/m3u8/index.m3u8**

 Above media has 8 bitrates(profiles).based on the network speed exoplayer internally selects the suitable bitrate and plays the content.but the problem is when ever n/w speed changes from higher speed to lower speed that time video was freezed(frames are getting dropped) but audio is played. aft

[2016-11-08 20:15] AquilesCanta commented on #1890
Closing due to lack of required stream.

[2016-11-08 20:15] #1890 closed, assigned to AquilesCanta

[2016-11-08 22:52] WeiChungChang opened #2050 "Move getDurationUs(), startTimeUs & endTimeUs down to MediaChunk"
Hi all:

I am studying the EXOPlayer and have a suggestion about the loadable(chunk) interface.

As the figure below, there are four (abstract)classes inherit the abstract class **chunk** .
Also, interface chuck has a public method named getDurationUs and two public data members named startTimeUs & endTimeUs. However, as you see, the 3 child classes named DataChunk, HlsInitializationChunk & Initia

[2016-11-08 23:08] wvpaf commented on #1910
@cjveldkamp can you please provide some offending test content we can take a look.

[2016-11-08 23:10] #1824 closed, assigned to wvpaf

[2016-11-08 23:11] #1794 closed, assigned to wvpaf

[2016-11-08 23:14] wvpaf commented on #1764
Samsung believe sthis issue is addressed but would like to verify playback.
Can you share any content, not geo restricted for them to test?

[2016-11-08 23:15] wvpaf commented on #1729
Samsung believes this issue is addressed but would like to verify playback.
Can you share any content, not geo restricted for them to test?

[2016-11-08 23:21] wvpaf commented on #1884
@ChernyshovYuriy I understand that CWIP team got you answers. Please reopen if that is not the case.

[2016-11-08 23:21] #1884 closed, assigned to wvpaf

[2016-11-08 23:21] wvpaf commented on #1885
@ChernyshovYuriy I understand that CWIP team got you answers. Please reopen if that is not the case.

[2016-11-08 23:21] #1885 closed, assigned to wvpaf

[2016-11-08 23:52] jefftinker commented on #1560
For provisioning requests the Content-Type should be application/json.

[2016-11-09 00:53] ojw28 commented on #1560
I actually concluded that Content-Type shouldn't be set for provisioning requests, since a provisioning request doesn't have a body. We do now set Content-Type for key requests to `application/octet-stream`, which fixes this issue.

Closing. If Content-Type really should be set to application/json for provisioning requests, even though they don't have bodies, please let me know. Thanks!

[2016-11-09 00:53] #1560 closed

[2016-11-09 01:29] workspace commented on #1764
@wvpaf Thank you for your response.
Here is my [Exoplayer r2.0.4(latest version) demo with speed button](https://github.com/tntcrowd/ExoPlayer/tree/release-v2-playbackparams).
I tested with S7 again just before, and had same problem with frame drop.
I used Widevine Dash: MP4,H264 - WV: Secure HD (MP4, H264) sample in Exo Player demo, then change speed to 2.0x when playback.

[2016-11-09 02:48] xuxucode commented on #2034
Yes, v2 does more checks, I modified `MediaCodecAudioRenderer` to fix a problem with audio/mpeg-L2. You could modify `MediaCodecVideoRenderer` as a workaround to fix your problem.

[2016-11-09 06:50] chiragsidhiwala opened #2051 "Not able to stream .pls and .m3u URL with ExoPlayer"
I would like to do live Audio streaming of few radio stations which contain .pls and .m3u URLs. After adding those URL in ExoPlayer Demo it's giving below error :

com.google.android.exoplayer2.demo E/EventLogger: internalError [0.83, loadError]
                                                                                 com.google.android.exoplayer2.source.ExtractorMediaSource$UnrecognizedInp

[2016-11-09 07:23] iNoles commented on #2051
the biggest error is the "None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor) could read the stream."

[2016-11-09 09:23] andrewlewis commented on #2051
We don't currently support extracting URLs from these sort of playlist files; see also #1947. ExtractorMediaSource throws an exception because it doesn't recognize the file as a valid media container: MP3, Matroska, MP4, etc..

It should be fairly straightforward to request and parse the playlists in your app, then pass the contained media URLs to ExoPlayer.

Note: you can quickly verify that the

[2016-11-09 09:23] #2051 closed, assigned to nobody

[2016-11-09 09:32] HyowonHwang commented on #1995
Appreciate for kind answer.

I agreed what your are pointing like meeting standards and going forward to DASH support.
But a lot of current services are using HLS and it as base delivery format due to cost of switching infra.
BTW, I will try to work on-disk caching that you noticed.
Thanks for your support.

[2016-11-09 09:47] andrewlewis commented on #2044
Consult Android's [supported media formats](https://developer.android.com/guide/appendix/media-formats.html) pages and the [CDD](https://source.android.com/compatibility/cdd.html) for information about what formats should be playable on all Android devices/builds. Your best bet may be to encode the video as an H.264/AVC or VPx bitstream, as these formats are relatively widely used. You should be a

[2016-11-09 09:47] #2044 closed, assigned to nobody

[2016-11-09 09:57] ram992 commented on #2017
Hello is there any update on this issue

[2016-11-09 10:03] andrewlewis commented on #2010
@SrujithPoondla If you want to write a custom video renderer that uses FFmpeg, I'd recommend taking a look at the [vp9 extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/vp9) as a starting point. That extension wraps libvpx but you could use a similar structure for wrapping FFmpeg. I'm not aware of any tutorials about how to do this I'm afraid.

As a general point, video dec

[2016-11-09 10:40] andrewlewis commented on #2017
Here's a basic example for playing subtitles from a `Uri srtUri` alongside some other `mediaSource` providing video/audio:

[code]

I've hardcoded the language to "en", but this is only used for signaling information on available tracks to your app. See the demo app source to find out how `mediaDataSourceFactory` is constructed.

[2016-11-09 10:40] #2017 closed, assigned to nobody

[2016-11-09 12:39] ojw28 commented on #2050
I see where you're coming from, but in practice, if you do this, you end up having a to add a whole bunch of blocks that look like:

[code]

So pragmatically it ends up being quite a bit cleaner just to define them in `Chunk`.

[2016-11-09 12:39] #2050 closed, assigned to nobody

[2016-11-09 15:02] marcin-adamczewski opened #2052 "Merging media sources"
ExoPlayer version: 2.0.4

Hi,

Is it possible to merge two audio media sources?
MergingMediaSource class seems to not handle that because
only first audio media source is played.

To be more specific about my case I want to play some "sound effects"
(which are separate .mp3 files) in specific time of some song (which is another .mp3 file or some url).
One idea to handle this may be to track ExoPla

[2016-11-09 17:54] ojw28 commented on #2034
I don't think disabling the additional checks is a good solution in the general case. What we'll do is:
1. Add some additional logging that indicates exactly which check is failing and why, so that we can see this in future bug reports.
2. For each report received we'll add a corresponding device specific workaround, if appropriate.

I suspect we'll pretty squash out the most common cases (and I'd

[2016-11-09 18:57] ojw28 commented on #2052
Merging two sources that expose audio tracks is possible in the sense that the merged source will expose all of the audio tracks provided by its children. However it is not possible to then have more than one of the audio tracks enabled at a time, which is what you're wanting to do. I'm not sure whether Android even provides a way to accurately synchronize two `AudioTrack` instances together. If n

[2016-11-09 20:16] irenecs opened #2053 "Playlist refresh UI"
onPlayerStateChanged it's not called when a playlist change from one song to another

[2016-11-09 20:29] ojw28 commented on #2053
Why would you expect it to change? One of the key selling points of playlist support in V2 is that we can perform transitions seamlessly, which means there wont be any changes to player state across the transition ;). You should probably be looking at `onPositionDiscontinuity` instead, which is invoked on seeks and also when transitioning from one song to the next.

[2016-11-09 20:35] irenecs commented on #2053
i would like to refresh  my UI when the song on the playlist change

[2016-11-09 20:43] ojw28 commented on #2053
Yes. So use `onPositionDiscontinuity`. From there, you can use `ExoPlayer.getCurrentWindowIndex` to see the index of the track being played. If it's changed then you can refresh the UI accordingly.

[2016-11-09 23:07] irenecs commented on #2053
Thx :)

[2016-11-09 23:10] #2053 closed, assigned to nobody

[2016-11-10 02:28] xuxucode commented on #2034
I am working on playing MPEG2 TS on Amlogic Tv Box S905X (android version 6.0.1), the tracks:

[code]

The stream has 2 audio channels that exceeds the device capability.

This is a device specific issue, the workaround works for my case, maybe not for others.

[2016-11-10 03:54] swratten commented on #625
@brillenheini Is this still valid? I am looking into getting the latest version of ExoPlayer into our app and we are using Akamai Token authentication on the server, I cant seem to find any solutions online except this thread.

[2016-11-10 05:54] stephen1706 commented on #2044
- The version of ExoPlayer being used : r2.0.4
- The device(s) and version(s) of Android on which the issue can be reproduced,
  and how easily it reproduces : all device cannot play the video encoded using  "-vcodec mpeg4"
  command in ffmpeg. but this video can be played using the [MediaPlayer](https://developer.android.com/reference/android/media/MediaPlayer.html)

[Video link](https://staging-

[2016-11-10 06:45] ram992 commented on #2017
Renderer:2 [
 D/EventLogger:     Group:0, adaptive_supported=N/A [
 D/EventLogger:       [X] Track:0, id=null, mimeType=text/vtt, language=en, supported=YES
                       ]
]

Hello @andrewlewis I am getting this in the logcat but no subtitles are being shown on the screen,
am I doing some thing wrong, like need to add some kind of subtitle view to the screen.

I thought the media will pl

[2016-11-10 08:47] andrewlewis commented on #2017
SimpleExoPlayerView already has a SubtitleView, so if you're using that (without any customization) it should just work once you provide the right source to the player. If not, consider switching to using SimpleExoPlayerView, or read its source to see how the TextRenderer is hooked up to the SubtitleView and replicate it in your app.

I was able to play the WebVTT URL successfully using the code a

[2016-11-10 09:16] andrewlewis commented on #2044
This appears to be the same as #2007. Please follow that issue for updates. Thanks!

[2016-11-10 09:50] andrewlewis commented on #2044
As noted in my previous comment and on #2007, you may wish to switch to H.264/AVC instead (if possible). The capabilities reporting for that codec seems to be more reliable.

[2016-11-10 10:43] vishveshdk opened #2054 "Report url after redirection to application event listeners"
Does ExoPlayer provide the IP Address of the server that delievered the media Segment? Similar issue was raised previous in the following bug: https://github.com/google/ExoPlayer/issues/2028

I have used the latest version of ExoPlayer with HLS stream, it does not return the IP address of the Server. The IP address is useful in identify server delivering data. Quite useful to track the source of r

[2016-11-10 10:59] ojw28 commented on #2054
I'm not sure `HttpUrlConnection` exposes a way of getting the IP address at the platform level. Do you really need the actual IP address, or is the URL after redirection sufficient?

[2016-11-10 11:41] vishveshdk commented on #2054
Actual IP address would be great. With CDNs being used it would help in identifying problem causing server.
Everytime ExoPlayer downloads a segment, it could pass on the IP address of the server supplying the segment as part of Format class.

[2016-11-10 12:04] ojw28 commented on #2054
I understand what you're trying to do. I'm saying the actual IP address doesn't appear to be exposed by the underlying network stack, which is why I'm asking whether the URL after redirection is sufficient.

The CDN I have most experience working with redirects to URLs that are machine specific, so having the resolved URL would be fine. I suspect most (all?) CDNs do this, and if so the resolved UR

[2016-11-10 15:34] jdprajapati opened #2055 "HLS with (very) large chunks: OutofMemory"
Hi,

1) My local chunk is not playing longer, its size is 1.1GB.  its working fine while I am playing live stream but when I am using from local storage its crashed after few mins and throwing the exception of outofmemory.
FYI, I have set large heap true in manifest.

[code]

2) Video showing green screen and audio is working fine, my stream is H265.

Can you please check this problem and give me

[2016-11-10 15:35] ojw28 commented on #2055
Please read the issue template and provide all of the requested information. We can't debug this with the information provided.

[2016-11-10 15:39] brillenheini commented on #625
@swratten I am still using ExoPlayer 1 for this but it should work with the latest version as well using the OkHttp extension.

[2016-11-10 16:22] bene25 opened #2056 "Couldn't select audio track"
Hello.
We have m3u8 file format such as:

#EXTM3U
#EXT-X-STREAM-INF:BANDWIDTH=490000,RESOLUTION=640x360
http://XXX.XXX.XX.XXX:31213/MEDIA/76336503.....583609776254/161/4161/
#EXT-X-STREAM-INF:BANDWIDTH=1500000,RESOLUTION=720x576
http://XXX.XXX.XX.XXX:31213/MEDIA/76336503.....583609776254/161/3161/
#EXT-X-STREAM-INF:BANDWIDTH=2500000,RESOLUTION=1280x720
http://XXX.XXX.XX.XXX:31213/MEDIA/76336503...

[2016-11-10 17:20] jdprajapati opened #2057 "java.lang.OutOfMemoryError: with HLS stream"
java.lang.OutOfMemoryError: Failed to allocate a 65548 byte allocation with 60240 free bytes and 58KB until OOM
                                                                                      at com.google.android.exoplayer2.upstream.DefaultAllocator.allocate(DefaultAllocator.java:102)
                                                                                      at com.google.android

[2016-11-10 17:24] AquilesCanta commented on #2057
Please, see #2055.

[2016-11-10 17:24] #2057 closed, assigned to nobody

[2016-11-10 17:31] jdprajapati commented on #2055
I am playing HLS Stream from local storage (m3u8),

[code]

I am not share the stream link with you , is it possible to we can skype/email so  i can show the problem in my system.

Thanks

[2016-11-10 17:37] AquilesCanta commented on #2055
We will almost surely need to reproduce the issue ourselves. If you cannot share the stream publicly, you can -as stated in the issue template- send it to dev.exoplayer@gmail.com.

Just in case, if the chunk is too big, that could be the reason behind the error. If that's the case, try splitting it into smaller pieces or using a ExtractorMediaSource for the chunk directly. The stacktrace is not en

[2016-11-10 17:43] jdprajapati commented on #2055
Actually my chunk size 1GB, I can send you link in your email,

On Thu, Nov 10, 2016 at 11:07 PM, Santiago Seifert <notifications@github.com

[2016-11-10 17:53] swratten commented on #625
@brillenheini thanks for the advice, have you got any code examples on how to get this working? Even with Exoplayer 1. The current okhttpdatasource in the exoplayer extension expects a Call.Factory in its constructor, I have no idea what to do with that or how to get a reference to one?

[2016-11-10 17:54] Avetri commented on #2056
<pre>
--- library/src/main/java/com/google/android/exoplayer2/source/hls/HlsChunkSource.java  (revision )
+++ library/src/main/java/com/google/android/exoplayer2/source/hls/HlsChunkSource.java  (revision )
@@ -399,7 +399,7 @@
           }
         }
         extractor = new TsExtractor(timestampAdjuster,
-            new DefaultTsPayloadReaderFactory(esReaderFactoryFlags), true);
+            new

[2016-11-10 18:46] ojw28 commented on #2056
I doubt the above response is relevant.

[2016-11-10 19:09] AquilesCanta commented on #2055
I can confirm it's reproducible. I will look into it further later since it's most likely an unintended behavior. I would suggest using a shorter segment duration, if within your possibilities.

[2016-11-10 19:17] jdprajapati commented on #2055
Hi,

Thanks for replying,

The segment is not fixed, its randomly size set from server e.g. 1mb, 50mb,
1gb, 15gb per chunk.

So If possible then fix the outofmemory error.

Thanks

[2016-11-10 19:21] ojw28 commented on #2055
There's no benefit to using HLS for your use case. Furthermore, your use case is not what HLS is designed for; Apple recommend 6 second chunk segments for HLS.

We're unlikely to fix this. I think you need to reconsider the approach you're taking. Why are you using HLS at all for this case? Why do you need an HLS playlist? Why don't you just play the underlying 1GB file directly using `ExtractorMe

[2016-11-10 19:57] PaulWoitaschek commented on #26
Wow thats really great news @ojw28 I'd really like this project but without speed adjustment I cant use it.

Is Q4 still scheduled?

[2016-11-10 21:26] ojw28 commented on #87
@AquilesCanta 's change (ref'd above) adds preliminary live seeking support for HLS. Feel free to give it a try. Note that there are some known issues that we'll be cleaning up over the next week or two (e.g. temporary blacklisting of variants when a 404 is encountered is currently broken, and will need fixing before we do a stable release to).

[2016-11-11 00:55] SoroushDMA opened #2058 "Forced subtitles for DASH"
So, I know the concept of forced subtitles are kinda new, i was wondering if Exoplayer 2 supports forced subtitles? If yes, how do we distinguish that from other Text TrackGroup?

Also, Is it possible to have both forced subtitle and subtitle at the same time?

P.S. I'm working with Widevine Dash files

[2016-11-11 05:44] meenapola commented on #1789
1) In my experience so far, some of the live stream providers are still supporting protocol version 3,
 e.g., UFC and AOL. We see EXT-X-DISCONTINUITY without EXT-X-DISCONTINUITY-SEQUENCE tag, a lot

2) Interestingly, y'day I encountered EXT-X-DISCONTINUITY @ the beginning of a growing live playlist.
exoplayer(2.0.4) was able to playback the content without a hiccup.
#EXTM3U
#EXT-X-VERSION:3
#EXT-X

[2016-11-11 06:10] crossle opened #2059 "The dev-v2 lastest code HLS Live crash java.lang.ArrayIndexOutOfBoundsException"
-                         E  java.lang.ArrayIndexOutOfBoundsException: length=12; index=-1
                         E      at java.util.ArrayList.get(ArrayList.java:310)
                         E      at java.util.Collections$UnmodifiableList.get(Collections.java:1054)
                         E      at com.google.android.exoplayer2.source.hls.playlist.HlsPlaylistTracker.adjustPlaylistTimestamps(

[2016-11-11 06:16] crossle commented on #2059
[code]

[2016-11-11 06:58] ram992 opened #2060 "Interlaced Video is not Playing on Google-Pixel"
Hello, is there any known bug with exo-palyer about not being able to play an Interlaced Video.

I have checked on HTC 620 G (running android 4.4.2) on Vivo Max (running android 5.1.1)
and on Google Pixel

The Video format : res: 1920 X 1080 an interlaced video with 5mbps video bit rate.
The player is playing on the two devices but not on pixel.

what I get is , the audio is playing but I cannot s

[2016-11-11 08:16] Avetri commented on #2056
Yes, I just have noticed that my solution is not for the issue. I got only 1 audio track.

I suppose the issue is an encryption related.

[2016-11-11 08:39] andrewlewis commented on #2060
I don't know of any specific issues around playing interlaced video on Pixel devices. We can take a look if you provide a URL to the problematic media.

[2016-11-11 08:50] andrewlewis commented on #2059
@crossle Please could you provide steps to reproduce this, including what media you were playing, in case it's needed to investigate further? Thanks.

[2016-11-11 09:23] andrewlewis commented on #2058
We support forced text tracks but only for HLS streams and Matroska files at the moment. (You can check [Format.selectionFlags](https://github.com/google/ExoPlayer/blob/94cc606/library/src/main/java/com/google/android/exoplayer2/Format.java#L169) in the TrackGroup's formats for [C.SELECTION_FLAG_FORCED](https://github.com/google/ExoPlayer/blob/94cc606091799b4a03593582528a600494979b15/library/src/m

[2016-11-11 09:34] jdprajapati opened #2061 "seekTo is not working with SimpleExoPlayer"
Hi,

MediaSource[] mediaSources = new MediaSource[3];
mediaSources[0] = buildMediaSource(Uri.parse(PlayUrl), null);
mediaSources[1] = buildMediaSource(Uri.parse(PlayUrl1), null);
mediaSources[2] = buildMediaSource(Uri.parse(PlayUrl2), null);

ConcatenatingMediaSource concatenatedSource =
                new ConcatenatingMediaSource(mediaSources[0], mediaSources[1], mediaSources[2]);

player.seekTo

[2016-11-11 09:48] andrewlewis commented on #2061
Please provide the URLs you're trying to play and we will take a look. (Note that we don't support seeking in [some container formats](https://google.github.io/ExoPlayer/supported-formats.html#standalone-container-formats).)

[2016-11-11 09:51] jdprajapati commented on #2061
HI,

"file:///storage/emulated/0/IPTV/arynews_20160915_2046_155.ts"
I am using my local file ts file, its not working with local file.

[2016-11-11 10:01] jdprajapati commented on #2061
can you please give me solution as soon as possible because I am stuck here.
Thanks in advance

[2016-11-11 10:10] vishveshdk commented on #2054
I understand now, It should be good enough.

[2016-11-11 10:14] andrewlewis commented on #2061
We don't support seeking in MPEG-TS. You will need to use a different format if you require seeking (see the linked page in my previous comment).

See #966 for some more background on this.

[2016-11-11 10:14] #2061 closed, assigned to nobody

[2016-11-11 10:18] jdprajapati commented on #2061
How's it possible?
If I am using m3u8 files then I am able to seek function and it work, why its not working with chunks.
Actually My chunks size is too much that's why I am using ExtractorMediaSource for play seemless play chunks.

Please give me solution its very important.

Thanks.

[2016-11-11 10:20] andrewlewis commented on #2061
Please read #966 for an explanation of why we support seeking with HLS and not plain MPEG-TS.

[2016-11-11 10:26] jdprajapati commented on #2055
Hi,
I have usedExtractorMediaSource with ts chunks file from local storage, its working fine but seekTo is not working ts files.
Please help me for this problem.

thanks

[2016-11-11 10:50] andrewlewis commented on #2055
I'm afraid we are unlikely to be able to help you play the media in its current form (definitely not in the near future). For HLS, we load chunks in full so they can't be too big. For MPEG-TS it's not feasible to support seeking (see #2061).

As an aside: even if we did load these 1 GB chunks in HlsMediaSource seeking would be very inefficient for most use cases, as we would need to read and disca

[2016-11-11 10:50] #2055 closed, assigned to nobody

[2016-11-11 13:32] AntonAndev commented on #1940
Hello, following errors occur on devices: "Couldn't create decoder for..." and values:
OMX.k3.video.decoder.mpeg2
OMX.sprd.h264.decoder
OMX.SEC.avc.dec
OMX.allwinner.video.decoder.avc
OMX.k3.video.decoder.avc
OMX.ST.VFM.H264Dec (too many users were affected)
OMX.amlogic.avc.decoder.awesome (too many users were affected)
OMX.qcom.video.decoder.avc (too many users were affected)

Is there possible s

[2016-11-12 06:37] crossle commented on #2059
Sorry, no reproduce step, only playbacking LIVE streaming,   randomly occurred, maybe network slow

[2016-11-13 05:36] Abbieben opened #2062 "EMAudioPlayer NoClassDefFound"
Please i just upgraded to the 2.0.4 version of your plugin, and i keep getting error for EMAudioPlayer it says no
FATAL EXCEPTION: main
Process: net.novacio.villagesquare, PID: 18788  java.lang.NoClassDefFoundError: com.devbrackets.android.exomedia.core.exoplayer.EMExoPlayer
 at com.devbrackets.android.exomedia.core.audio.ExoMediaPlayer.<init>(ExoMediaPlayer.java:73)
 at com.devbrackets.android.ex

[2016-11-13 08:04] andrewlewis commented on #2062
This is an issue for the ExoMedia project. EMAudioPlayer is not part of ExoPlayer.

[2016-11-13 08:04] #2062 closed, assigned to nobody

[2016-11-13 15:38] gbhall opened #2063 "ANR releasing player"
Now and then I am getting an ANR when trying to call `.release()` on `ExoPlayer` in my fragment's `onPause()`.

Unsure of exact cause since it's infrequent but shouldn't be happening at all.

Using `r2.0.4`.

[code]

[2016-11-13 17:14] giladna commented on #954
Finally found the reason.
It was due to creating the SimpleVideoPlayer twice not intentionally and releasing it only once

[2016-11-13 21:44] bene25 commented on #2056
I could switch tracks on VLC or SM player. Android media player also can recognize it.
I've inserted my stream link to ExoPlayer 2 demo app and it doesn't identify any track except main video stream. Also somehow he chooses one of the two or three audiotracks and play it.

[2016-11-14 01:39] xuyunyu commented on #2033
Hope to get your reply. Thank you.

[2016-11-14 05:13] lipangit commented on #2005
@ojw28
Change surface in different textureview is not stable, maybe faild.

But change surface in the same textureview is stable, always succeed.

[2016-11-14 05:14] lipangit commented on #2005
Do you think this is system bug?

[2016-11-14 06:55] AndreasHohn opened #2064 "Subtitles with SingleSampleMediaSource"
Hello,

I created a videoplayer with ExoPlayer and now I want to display subtitles. Right now im stuck at the following lines:

[code]

I do not know what SingleSampleMediaSource needs as a Format and duration (both question marks)? The subtitles will be .srt files. Has somebody an example or can explain it to me?

[2016-11-14 07:05] niorgai commented on #1917
@eneim yes.
@ojw28 sorry i can't catch the error info by `adb bugreport` right now, so i will close this issue now. when i find the error i will reopen it.

[2016-11-14 07:05] #1917 closed, assigned to nobody

[2016-11-14 07:31] sufyandeveloper opened #2065 "ExoPlaybackException: java.io.EOFException after little play"
I am working on live streaming using exoplayer in my application its successfully playing but its throw eof exception after playing i don't know how to solve this error please help what should i do.

**This is my chunks.m3u8 file**

[code]

**And this is my error**
[code]

[2016-11-14 07:39] ram992 commented on #2064
Hello @AndreasHohn please refer closed issue #2017

[2016-11-14 07:48] ram992 commented on #2064
You need to use subtitle view to display the subtitles

[2016-11-14 08:28] AndreasHohn commented on #2064
Thank you for the link. So you have an example for using subtitle view?

[2016-11-14 08:32] andrewlewis commented on #2064
You can use SimpleExoPlayerView as a starting point/example (see https://github.com/google/ExoPlayer/issues/2017#issuecomment-259633365).

[2016-11-14 08:32] #2064 closed, assigned to nobody

[2016-11-14 10:14] PavelGP commented on #2049
Yes, I have the same issue for Sony Xperia M4 Aqua Android 5.0 for all 43 encrypted streams. When I switch off audio in Demo application than video plays ok. ExoPlayer v2.0.3.

Logs:

[code]

manifest.mpd:

[code]

[2016-11-14 12:13] abhiguru commented on #747
any updates here ?

[2016-11-14 15:15] AquilesCanta commented on #2065
Could you please provide a link for us to reproduce ourselves? Also, is it possible for you to try your URL in v2 to see whether an error is thrown?

If you don't want to make the url public, please send it to dev.exoplayer@gmail.com

[2016-11-14 18:34] sapanda commented on #2020
We noticed an issue around the earlier video - we had GOP size at 60K and fps at 25. Changing the GOP to be a multiple (50K) resolved that issue.

However, we're now trying with a completely different encoder & this time HEVC 4K. Same issue - Everything plays fine in 1.5.7, but only audio plays back in 2.0.4.

[LiveChunk_2.ts.zip](https://github.com/google/ExoPlayer/files/590174/LiveChunk_2.ts.zip

[2016-11-14 19:35] AquilesCanta commented on #2020
Have you seen #1967 ? For me, the first chunk doesn't play in any of exoplayer versions, unless I set FLAG_ALLOW_NON_IDR_KEYFRAMES.

The second one does not play on Nexus 5X(any exopayer version), but I think it's related to decoding capabilities.

I wonder if you are setting the FLAG_ALLOW_NON_IDR_KEYFRAMES flag for version 1.5.7 but not for 2.0.4. Please check if that's the case. If not, let me

[2016-11-15 05:59] uplusplus commented on #1901
How to use ffmpeg as an extractor ?

[2016-11-15 07:40] bene25 commented on #2056
Any news for this issue?

[2016-11-15 08:52] vishnuganta22 opened #2066 "mp4 video with audio stream type mp3 is played without sound"

[2016-11-15 08:55] vishnuganta22 commented on #2066
Video:
Dimensions: 1920*1080
Codec:H.264
Framerate: 24 frames per second

Audio:
Codec: MPEG-1 Layer 3(MP3)
Channels:Stereo
Sample rate: 44100Hz

[2016-11-15 08:56] vishnuganta22 commented on #2066
version : exoplayer:r2.0.4

[2016-11-15 09:00] vishnuganta22 commented on #2066
Device: Nexus 10
Android version: 5.1.1

[2016-11-15 09:05] vishnuganta22 commented on #2066
Sent the video file to email(dev.exoplayer@gmail.com)

[2016-11-15 09:38] replystreamingwidevine commented on #2028
Hi ojw28, thank you for the answer. I saw EventLogger demo class but I can’t migrate to V2.
I’m using 1.5.8 exoplayer version, and I’m tracking some informations returned from ExoPlayer.Listener and some Listeners like BaseChunkSampleSourceEventListener, etc.
Actually, the BaseChunkSampleSourceEventListener callback:

void onLoadCompleted(int sourceId, long bytesLoaded, int type, int trigger, Form

[2016-11-15 11:22] andrewlewis commented on #2066
The audio track has a `.mp3` box in the `stsd` which we don't currently handle. The code is specified for [Quicktime](https://developer.apple.com/library/mac/documentation/QuickTime/QTFF/QTFFChap3/qtff3.html#//apple_ref/doc/uid/TP40000939-CH205-BBCGEBEH) and it looks there is also an alternative way to signal it using an [ObjectTypeIndication](http://mp4ra.org/object.html).

[2016-11-15 13:00] andrewlewis commented on #2063
Please run `adb bugreport` just after seeing the ANR and attach the output to this issue, or email it to dev.exoplayer@gmail.com. Then we can investigate why the playback thread is blocking release. Thanks.

[2016-11-15 13:15] andrewlewis commented on #954
In case it's useful for someone debugging this, the output of `adb shell dumpsys media.audio_flinger` includes some useful information on the audio tracks that are active (owning process identifier, sample rate, buffer size, underrun frame count, ...). Each initialized AudioTrack uses up resources, and leaking unreleased AudioTrack instances seems to be a common cause of this error.

[2016-11-15 13:15] #954 closed

[2016-11-15 13:56] dmfrey opened #2069 "MPEG-TS NO_SUPPORTED_TYPE"
I am attempting to play MPEG-TS streams that are recorded on a MythTV Backend in the app MythTV Player.  However, every attempt to produce a MediaSource from the input url. The EventLogger output from the demo app produces this output:

    11-14 23:34:48.413 16480-16480/org.mythtv.android D/EventLogger: sourceInfo [periodCount=1, windowCount=1
    11-14 23:34:48.413 16480-16480/org.mythtv.android

[2016-11-15 14:01] vishnuganta22 commented on #2066
@andrewlewis can we expect any estimated time for beta-version of exo-player with the above enhancement.We are waiting for it.

[2016-11-15 14:16] andrewlewis commented on #2066
@vishnuganta22 I don't have a concrete ETA for this yet, but the (unreviewed) patch is very simple:
1. Add `TYPE__mp3 = Util.getIntegerCodeForString(".mp3");` in [Atom.java](https://github.com/google/ExoPlayer/blob/d922a21/library/src/main/java/com/google/android/exoplayer2/extractor/mp4/Atom.java).
2. Add a check for `|| childAtomType == Atom.TYPE__mp3` in [AtomParsers.java](https://github.com/go

[2016-11-15 14:27] AquilesCanta commented on #2069
Does the stream play well on the same device using other player (i.e. MediaPlayer)? If not, then the device probably does not support the any of the formats (as stated in the provided log message).

We can have a look if you provide a stream for us to look at. Since it's a TransportStream, you should be able to cut the file at any reasonable(in terms of file size, say 30MB) point and provide us wi

[2016-11-15 14:36] andrewlewis commented on #2069
Also, what device are you trying to play this stream on? AC-3 playback requires either HDMI passthrough on Android L (or later), or an on-device decoder for AC-3. Also, not all Android devices have MPEG-2 video decoders. This stream is unlikely to be playable on many non-TV devices.

[2016-11-15 14:40] AquilesCanta commented on #2056
Have you seen #2014 ? Is this related? If so, this is a duplicate. If that's the case, please close the issue. If not, please clarify, as I might be misunderstanding the problem.

[2016-11-15 14:41] AquilesCanta commented on #2056
Also, if not a duplicate, try to provide a link for us to have a look. That makes everything easier. You can do so at dev.exoplayer@gmail.com.

[2016-11-15 16:38] bit101 commented on #1304
I'm still seeing this issue in ExoPlayer v2. Is this still a "known issue"? I'm also not only seeing it after seeking, but eventually after just letting certain streams play.

[2016-11-15 16:46] bit101 opened #2070 "ExoPlayer 2 Subtitle Control Codes"
I'm having issues with scrambled subtitles. This MAY be a duplicate of this issue: https://github.com/google/ExoPlayer/issues/1304 but I think it is different.

The particular stream in question is here: https://adultswim-vodlive.cdn.turner.com/live/williams-stream/stream.m3u8

To reproduce this issue, add this stream to the streams in the demo exo player from this repo and play it.

There are a f

[2016-11-15 17:16] irenecs opened #2071 "Next Track"
it's possible handle my own ui for next track,  i used the same method next()  from PlaybackControlView but do not  work.i would like to start in the first position when press next button in the last track

[2016-11-15 17:27] sapanda commented on #2020
How do I check if `FLAG_ALLOW_NON_IDR_KEYFRAMES` is set in 1.5.7? I don't see that flag when doing a global search on 1.5.7. Definitely not set in 2.0.4 though.

[2016-11-15 23:05] cvoell-franklyinc commented on #1386
@ojw28 Can you point me in the right direction to determining the byte ranges for video and audio samples in an mp4 file? You mentioned libav in another thread, but I can't figure out how to get sample byte range info with that. Thanks!

"In the sample file the video samples are placed in the byte range [3227,66370313], and the audio samples are placed at the end, in the byte range [64844208,66394

[2016-11-15 23:24] cvoell-franklyinc commented on #1405
@blueslabs I have the same problem as you. Did it work for you to switch the track you are loading from in MP4Extractor when the sampleIndex of the tracks grow too far apart? Did you have to increase buffer size also or no? Thanks!

[2016-11-16 00:57] sapanda commented on #2020
OK I just verified, in 1.5.7 we do set `H264Reader.sampleIsKeyframe` to `true` in `H264Reader.endNalUnit()`. I presume that's the equivalent of `FLAG_ALLOW_NON_IDR_KEYFRAMES` and would explain the issues around the first chunk.

For the 2nd chunk, the issue still persists though - and `trackInfo.hasOnlyUnplayableTracks(C.TRACK_TYPE_VIDEO)` returns false. So probably something on the decoder side.

[2016-11-16 01:45] dmfrey commented on #2069
It does play in VLC for Android. I am working on getting a chunk of a file to share.

Here is a 30M file that was truncated from a recording. It's about 20 seconds long.

https://drive.google.com/open?id=0B4KM23cDPRz_YklTSUgxTnFqTVU

It plays fine with both audio and video on VLC for Android.

Is it possibly because DRM or extensions aren't set up?

[2016-11-16 05:08] ranjan000 opened #2073 "V2: HLS live stream stuck buffering"
**HLS live stream not working. It goes from buffering to idle with following exception. The seekto solution is also not working.**

[code]

[2016-11-16 06:00] vishnuganta22 commented on #2066
@andrewlewis thanks for your comment.
after changing the code as you mentioned it is working.

[2016-11-16 06:28] vishnuganta22 commented on #2066
@andrewlewis i can't able to able to push my changes to this repo.
getting access denied

[2016-11-16 06:29] vishnuganta22 commented on #2066
Want to create a PR with my changes

[2016-11-16 08:45] andrewlewis commented on #2073
The player is trying to open the local URL "file:///":

[code]

Please share a link to the manifest and we can take a look.

[2016-11-16 08:47] andrewlewis commented on #2066
Thanks for the pull request, but we have already submitted this change internally. The feature should be available next time we push to `dev-v2`.

[2016-11-16 09:00] andrewlewis commented on #2069
For playing the audio with ExoPlayer, you can either rely on HDMI passthrough or use the ffmpeg extension (you'd need to compile FFmpeg with an AC-3 decoder).

We don't provide an extension for decoding MPEG-2 video. According to the [CDD](https://source.android.com/compatibility/7.0/android-7.0-cdd.html), including an MPEG-2 decoder is "strongly recommended" for Android TV devices.

VLC probably

[2016-11-16 09:00] #2069 closed, assigned to nobody

[2016-11-16 09:12] andrewlewis commented on #1386
`avprobe -show_packets file.mp4` will output information on each media packet in `file.mp4`, including the position and size of each sample.

[2016-11-16 10:20] ranjan000 commented on #2073
Hi Andrew,

http://timesnow-lh.akamaihd.net/i/Timesnow-TIL-APP-HLS/TimesNow_1@129288/master.m3u8

This is our official livefeed and I would request you to not disclose on any public or private channel.

--------------------------------------------
Regards
Pravin Ranjan
BoxTV
Office: 0120­677-6999 Ext: 7644
Mobile: +919899556710
--------------------------------------------

On 16-Nov-2016, at 2:15

[2016-11-16 10:25] andrewlewis commented on #2073
@ranjan000 Please could you email the link to a non-geo-restricted stream to dev.exoplayer@gmail.com?

[2016-11-16 11:00] AquilesCanta commented on #2059
Sorry for the delay on this. I think I have an idea of what the issue is. I will provide a fix which will reference this issue.

[2016-11-16 13:18] helinfeng opened #2075 "how to set the screenOrientation play"
my video is portrait Recording , my video file is portrait,but the player always horizontal when i was play my video, i want know how to set the screenOrientation portrait !thanks

[2016-11-16 13:28] dmfrey commented on #2069
Thank you for your response. I have a few questions.
1. The demo app shows how to integrate ffmpeg. Is that all that is required to handle the audio?
2. I will gladly provide an mpeg2 codec. Can you point me in the right direction for obtaining one? Is it also imported as an extension, like ffmpeg?

[2016-11-16 14:30] helinfeng commented on #91
so i use the surfaceView,  so  i deep in dead end？？T_T

[2016-11-16 15:38] codesunshine opened #2076 "how do I use M2tsExtrator for exoplayer2"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.

- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-11-16 15:53] Avetri commented on #2076
Is your issue related to the issue #1488 ?

[2016-11-16 15:58] AquilesCanta commented on #2076
You can have a look at the Demo App to see how to instance a ExtractorMediaSource. Unfortunately, the issue tracker is not intended to be used for general general Q&A. If you are not able to play your media in the demo app (as Avetri says, #1488 is possibly related) you will need to provide all the information requested in the issue template. Make sure you don't create a duplicate, please.

[2016-11-16 15:58] #2076 closed, assigned to nobody

[2016-11-16 17:59] ojw28 commented on #2058
- We also support specifying selection flags on side-loaded subtitles. The application is responsible for providing the `Format` in that case, and so can specify any desired flags.
- For DASH specifically, we could easily support a standard way of indicating forced subtitles in DASH manifests, were one to exist. I can't find such a feature in the DASH spec, however. If you're aware of one then ple

[2016-11-16 18:15] ojw28 commented on #1304
@bit101 - It's still theoretically possible in V2, but it's less likely to occur than it was in V1. Regardless, it shouldn't occur during ongoing playback; this issue is specifically about the start of playback (or equivalently, immediately following either seeking or buffering). Let's track your issue with #2070.

[2016-11-16 18:20] bit101 commented on #2070
In further research, I've realized that 608 doesn't actually allow positioning of specific titles. Only 708 does. That's likely the issue.

[2016-11-16 18:28] ojw28 commented on #2028
It's unclear what "layer" means here. You get a `Format` via `onLoadCompleted`. Does the `Format.id` provide what you need?

You can use `ExoPlayer.getBufferedPosition` (subtract the current position to get the buffered duration).

It's unclear what this really means, or what it's for. On average the frames per second decoded is going to be identical to the frames per second of the format.

The or

[2016-11-16 19:04] zsmatyas commented on #2070
608 supports positioning by Row and Column indexing. It is just not implemented in ExoPlayer. See: https://en.wikipedia.org/wiki/EIA-608#Non-Caption_Data
search for "row position indicator" and "tab offset".

These patches should work for ExoPlayer 1.x: https://github.com/google/ExoPlayer/pull/1312/commits
You can refactor these to 2.x easily.

[2016-11-16 19:10] Avetri commented on #1488
Diff from adding the M2TsExtractor to ExoPlayer 2.

[Add M2TsExtractor to ExoPlayer 2.diff.zip](https://github.com/google/ExoPlayer/files/595671/Add.M2TsExtractor.to.ExoPlayer.2.diff.zip)

[2016-11-16 20:26] ojw28 commented on #2070
Yes. We don't expect lack of positioning support to cause this kind of issue though.

@bit101 - When you see the captions becoming corrupted, do you find that toggling the text track off and on again resolves the corruption? I think I'm seeing this. 608 is stateful. I suspect the problem is that this stream is really multiple videos separated by #EXT-X-DISCONTINUITY tags, that we need to flush the

[2016-11-16 21:33] ojw28 commented on #2069
As an aside, note that even if you get this stream working, you still wont be able to seek within it. See [here](https://google.github.io/ExoPlayer/supported-formats.html). We have no plans to enable seeking in containers that do not efficiently support it. Note also that a software MPEG-2 decoder is likely going to perform significantly worse and consume more battery than the hardware backed H264

[2016-11-16 21:41] ojw28 commented on #2073
I get an "Access denied" error when trying to access the provided stream. Specifically, I get the following response:

[code]

Which suggests that it's geo-restricted or else requires some form of authentication. Please clarify and provide a non-geo-restricted stream.

[2016-11-16 21:44] ojw28 commented on #2071
Looking at what `PlaybackControlView` does is the right place to start. Beyond that, this is something you'll have to work out for yourself.

[2016-11-16 21:44] #2071 closed, assigned to nobody

[2016-11-16 21:49] ojw28 commented on #2054
Updated the title to reflect the enhancement we'll provide for this.
- The URL after redirection will be reported through `AdaptiveMediaSourceEventListener`'s `onLoadCompleted` method, and possibly `onLoadCanceled` and `onLoadError` in the case that the cancelation or error occurs after the connection has been established.
- We may also want to report the URL after redirection via something in `Ex

[2016-11-16 22:00] ojw28 commented on #2005
This really is already covered in some detail by #318. It's unclear what "not common and not universal" means, or why you can't use the solution provided in that issue. It's also unclear what "not stable" means; there's not enough information here for us to help.

[2016-11-16 22:00] #2005 closed, assigned to nobody

[2016-11-16 22:19] ojw28 commented on #2075
There's quite a lot of information about portrait videos and rotation in https://github.com/google/ExoPlayer/issues/91. Have you read through that thread? If so and if that doesn't answer your question, you'll need to provide more information (as explicitly listed in the issue template) for us to help.

[2016-11-16 22:30] ojw28 commented on #1536
Closing since no further information was provided, and since I'm not aware of any specification or interoperability point that indicates sticky behaviour is the right thing to do.

I also don't think it's impractical to come up with a serving solution that avoids the issue described. For example, in the steps described above, the player must have obtained a URL before the first step. You could per

[2016-11-16 22:30] #1536 closed

[2016-11-16 22:32] ojw28 commented on #1985
Closing due to insufficient information.

[2016-11-16 22:32] #1985 closed, assigned to nobody

[2016-11-16 22:33] ojw28 commented on #1831
Closing due to insufficient information.

[2016-11-16 22:33] #1831 closed, assigned to nobody

[2016-11-16 22:36] ojw28 commented on #2004
How do you know the issue affects TVs where the width is less than 720 if you've only seen the issue on one TV? If you've seen the issue on multiple devices, please provide full details in all cases. We really need full bug reports from the affected devices as well, if you want us to investigate this issue further.

[2016-11-16 22:40] ojw28 commented on #1996
We're tracking adding support for this in https://github.com/google/ExoPlayer/issues/2054, so I'll go ahead and close this one.

[2016-11-16 22:40] #1996 closed, assigned to nobody

[2016-11-16 22:41] ojw28 commented on #1906
Closing as no sample content or bug report was provided.

[2016-11-16 22:41] #1906 closed, assigned to nobody

[2016-11-16 22:47] ojw28 commented on #1846
What workaround did you use? It would be good to merge something a workaround back into the core library, to handle the case generally on this particular device.

I would suspect that changing `MediaCodecRenderer` to return true from one (not sure which) of `codecNeedsFlushWorkaround`, `codecNeedsEosPropagationWorkaround` and `codecNeedsEosFlushWorkaround` on this device, for a particular decoder,

[2016-11-16 22:51] ojw28 commented on #1786
In the most recent bug report, the player is simply enable to find the URL that you're pointing it to:

[code]

I'm going to go ahead and close this, since it's unclear that it's tracking an actual issue.

[2016-11-16 22:51] #1786 closed, assigned to nobody

[2016-11-16 22:53] ojw28 commented on #1758
Closing for now since we don't have a bug report that captures the issue. It sounds a lot like underlying platform flakiness, so even if we do get a bug report it feels fairly unlikely that we'll be able to do much about it, although please do provide one if you see the issue again. Thanks!

[2016-11-16 22:53] #1758 closed, assigned to andrewlewis

[2016-11-16 22:59] ojw28 commented on #2036
The built in gallery app playing the video successfully doesn't say much about whether this is a platform bug or an ExoPlayer bug. The two may well use different decoders, exercise the underlying platform in different ways etc.

The failure (to instantiate a decoder) strongly suggests an issue with the version of Cyanogenmod that you're using rather than an issue in the ExoPlayer. If you can repro

[2016-11-16 22:59] #2036 closed, assigned to nobody

[2016-11-16 23:01] #2013 closed, assigned to nobody

[2016-11-16 23:01] ojw28 commented on #1393
Closing on the assumption this is a device specific issue. Please report it direct to the device manufacturer.

[2016-11-16 23:01] #1393 closed

[2016-11-16 23:32] ojw28 opened #2077 "SimpleExoPlayerView doesn't apply aspect ratio if attached after playback has started"
See: https://github.com/google/ExoPlayer/pull/2068.
Also, on a related note, `SimpleExoPlayerView` should probably apply any unapplied rotation in the case that `TextureView` is being used.

[2016-11-17 00:15] SoroushDMA commented on #2058
I'm thinking of defining our own `role`, maybe we can call it "forced". Having `forced` `role` plus the language tag gives us the uniqueness we need.

Here is an example of generated manifest file: (changed the file format from .mpd to .txt)
[presentation_forced.txt](https://github.com/google/ExoPlayer/files/596211/presentation_forced.txt)

[2016-11-17 01:04] dmfrey commented on #2069
I understand your concerns regarding battery life and not being able to seek. This is a request from users who don't have a backend that is powerful enough to perform HLS transcodes. The app already supports HLS viewing and it will cast those streams to Chromecast.

My goal with ExoPlayer was to not have to require the users to have an external video player installed.

I do support Android TV as w

[2016-11-17 01:11] helinfeng commented on #2075
the same to #91 and i was use the SurfaceView! T_T

[2016-11-17 02:41] codesunshine commented on #1488
hello,thank you!
In ExoPlayer 2, constructor of TsExtrator  don't have TsExtrator(boolean), it has TsExtractor() and TsExtractor(TimestampAdjuster), TsExtractor(TimestampAdjuster,ElementaryStreamReader.Factory, boolean).I should choose which one.

[2016-11-17 02:42] kunalbhatia commented on #2004
Yes I'm certain, as the same stream works fine on other TVs, I guess this
issue is device specific, I've tried others players also, but still the
output remains same for that specific TV.

On 27-Oct-2016 4:22 pm, "ojw28" notifications@github.com wrote:

[2016-11-17 03:13] codesunshine commented on #1488
hello, thank you!
Exoplayer 2 have not  DefaultTsPayloadReaderFactory class.

[2016-11-17 07:21] codesunshine commented on #1488
I don't know TsPayloadReader and DefaultTsPayloadReaderFactory

[2016-11-17 08:15] Avetri commented on #1488
ExoPlayer 2.0.4
repo dev-v2
hash 92a98d1ce2a27266fa69927235929f45678aac40

[2016-11-17 09:34] andrewlewis commented on #1758
For what it's worth, the symptom that playback is broken for all apps after seeing this error and that it's fixed by reboot sounds very similar to what you might see when leaking a codec on some devices running older Android builds. You can sometimes identify this case by inspecting a bug report (depending on the device), but your bug report linked above seems to be inaccessible now. It might be w

[2016-11-17 09:53] rlatapy-gpsw commented on #2034
Hi,
Is there a way to bypass the video size check ?
At the moment I'm modify isVideoSizeSupportedV21 method to return true based on device model and resolution to be able to play high res video with galaxy Note 4.

[code]

Is there a cleaner way to do that ?

[2016-11-17 10:23] philolt commented on #1846
Hi.
The workaround I use is an external solution.  I had the length in of the video in mlliseconds . I just add a background timer which handles the player lifetime. I would like a cleaner soloution but the Error occured only in some mp4 files.  Now I have two control instances. Maybe it wasn't device specific but file specific (Had no device to test). I would like to help you with this Issue but

[2016-11-17 10:48] cristin opened #2078 "Capabilities: Video not playing (plays fine in V1)"
Hi! I recently updated to exoplayer 2 on an app that we are working and have an issue when playing mp4 video files encoded (h264 profile 10) on iOS. Only the audio plays and no video. I saw that exoplayer 1 doesn't had this problem. Do you know what's the issue and how did you solved it? Thank you!

[2016-11-17 10:56] AquilesCanta commented on #2078
Could you please provide the mentioned file? If you don't want to post it here, you can send it to dev.exoplayer@gmail.com.

[2016-11-17 11:13] ojw28 commented on #2004
Please see my latest comment above (the one you just replied to was ~21 days ago; I'd suggest opening this issue on the GitHub website in case email is messing things up).

[2016-11-17 11:34] codesunshine commented on #1488
hello, I use your diff of m2ts, audio id is null, video id is null.How do i do?

[2016-11-17 11:37] codesunshine commented on #1488
my media file is m2ts.it's ac3 and h264

[2016-11-17 11:39] codesunshine commented on #1488
my media file is m2ts.it's ac3 and h264.it can't be played.

[2016-11-17 11:46] cagdasdirek commented on #2009
@wvpaf any update about this issue?

[2016-11-17 12:42] jdprajapati opened #2079 "Exoplayer License"
Hello,

Exoplayer is license version or its open source?

Thanks in advance.

[2016-11-17 13:14] Shyri commented on #2009
Hi @wvpaf
We have another update:
We have tried with Samsung S7 edge, which has Exynos 8 family and glitches are not happening.
Also we have tried a Samsung S6 edge with Android 5.0.1 and it is not happening, but after updating it to Android 6.0.1 it started glitching. Could this be some Samsung bug in their firmware or something?

[2016-11-17 13:32] SwaranSK commented on #2029
Is there anyone who can help regarding the issue?

[2016-11-17 13:54] indieboyalex commented on #2079
Apache Licence -> https://github.com/google/ExoPlayer/blob/release-v2/LICENSE

[2016-11-17 13:55] #2079 closed, assigned to nobody

[2016-11-17 14:03] ojw28 commented on #1846
Please do play around with the workarounds mentioned if you have a chance. Thanks!

[2016-11-17 14:07] ojw28 commented on #2069
To answer your specific questions above:
- Yes, the demo app will use the ffmpeg extension if you use the `withExtensionsDebug` or `withExtensionsRelease` build variant. Note that you still need to manually build ffmpeg and the JNI binding. Instructions are [here](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg).
- If you want to use a software MPEG-2 decoder then you'll need

[2016-11-17 14:15] ojw28 commented on #2058
I think something like that would be the right approach. It feels like something that should be standardized properly though, if we're to officially support it. Is this something you could suggest to [DASH-IF](http://dashif.org/)?

[2016-11-17 14:20] m-scheepers commented on #1669
This issue is also observed in recent versions of Exoplayer 1.x for Samsung S7 EDGE

Is there any way to avoid these issues?

[2016-11-17 14:21] cristin commented on #2078
I emailed you a test video.

[2016-11-17 15:14] bit101 commented on #2070
@ojw28 I'm not working on that app at the moment, but I'll pull it up some time today and try "turning it off and back on again" :) And let you know the results. Thanks for the attention.

[2016-11-17 17:26] jorgevila opened #2080 "Exoplayer with widevine asset: IllegalArgumentException"
with a Widevine asset encoded by us, we are getting this exception: IllegalArgumentException from native.

[code]

The inputs to MediacodecRenderer.queueSecureInputBuffer method are:
     MediaCodecRenderer  D  [feedInputBuffer.queueSecureInputBuffer] inputindex =2, offset=0, cryptoinfo = [2 subsamples, key [5b424034396635666437], iv [c6123054797a5db00000]
                            , clear [5, 5

[2016-11-17 17:44] jonfhancock opened #2081 "NullPointerException in TextRenderer"
We are getting an NPE on an HLS video with 608 captions.

The stack trace is:
[code]

The method `getNextEventTime()` should have a null check on subtitle before attempting to call `getEventTimeCount()`.  I am not sure what it should return if subtitle is null.  Perhaps `C.INDEX_UNSET`?

[2016-11-17 18:25] abouda commented on #1298
Hello,
I wanted to know if key rotation is supported in ExoPlayer 2 or is it being worked on.

[2016-11-17 18:37] SoroushDMA commented on #2058
Of course. I'll let you guys know about their response.
Thank you

[2016-11-17 18:50] ojw28 commented on #2081
Thanks for the report. I think the problem is more that `nextSubtitleEventIndex` needs resetting to `INDEX_UNSET` in a few places.

[2016-11-17 20:12] ojw28 commented on #2078
The test video plays fine on devices I have, so this is likely a device specific capability issue (i.e. the same issue as #2034). I'll leave this issue open for now and follow up when we have more logging in place so that we can capture logging from your test device and use it to put a workaround in place.

[2016-11-17 20:59] ojw28 commented on #1304
This is much better in V2; I think it can be closed.

[2016-11-17 20:59] #1304 closed

[2016-11-17 22:17] cvoell-franklyinc commented on #1386
@andrewlewis @ojw28

I have found several pieces of information that lead me to believe that there are errors in the logic of the Exoplayer mp4 data extraction that goes beyond the conditions of having an extremely poorly interleaved file. This example mp4 file (http://23.239.4.36/test_audio/kwwl_20161114195742230AC.mp4) when played through the Exoplayer 2 demo app seems to fail because of the aud

[2016-11-17 22:36] ojw28 commented on #1386
Playback of this file is fixed in `dev-v2` (the relevant change is https://github.com/google/ExoPlayer/commit/488c2d82708fcd547a5a0b19bd56160914ed8567).

We already use separate buffers for each track ;).

Yes. This is what https://github.com/google/ExoPlayer/commit/488c2d82708fcd547a5a0b19bd56160914ed8567 fixed. It's a little more nuanced than just using the minimum because the file may also cont

[2016-11-17 22:43] cvoell-franklyinc commented on #1386
amazing! I'll make sure to check dev branches before future questions. You guys rock.

[2016-11-18 03:31] alexshelepov opened #2082 "Playing parts of videos when playing a sequence of videos"
Hi!

I've implemented code that play sequence of mp4 videos from device sdcard using ConcatenatingMediaSource. Now it plays video1, video2. If video1 duration is 10 sec and video2 duration is 12 sec then player play video1 from 0:00 to 0:10 and then video2 from 0:00 to 0:12 so "playlist" duration is 22 sec.

I want to play only parts of videos eg 6 sec from video1 (from 0:02 to 0:08) and then 2 se

[2016-11-18 04:16] gbhall commented on #2063
Sent by email.

[2016-11-18 07:11] WeiChungChang opened #2083 "Re-evaluate + refine ExoPlayer's default buffer policy"
Hi all:

I am testing the streaming and find the buffering mechanism is interesting.

By default, the maxBufferUs & minBufferUs are 30 & 15 seconds respectively.

accordingly,
`   isBuffering = bufferTimeState == BELOW_LOW_WATERMARK
        || (bufferTimeState == BETWEEN_WATERMARKS && isBuffering && !targetBufferSizeReached);
`
**Typically we will continue buffering until the amount of buffering d

[2016-11-18 07:49] rlatapy-gpsw commented on #2083
Hi
Same problem/question..
And there is also a constant which limit the buffer size, if I well understand.

What is the proper way to get an "unlimited" buffer in order to buffer the whole video ?

[2016-11-18 08:25] ojw28 commented on #2063
- Is it intentional that you have 8 ExoPlayer instances at the same time? That looks a little suspicious to me.
- The ANR itself is likely caused by `"ExoPlayerImplInternal:Handler" prio=5 tid=39` which is blocked in `android.media.MediaCodec.native_stop`.

[2016-11-18 08:27] gbhall commented on #2063
Yes the 8 instances are intentional. Is that an issue?
On Fri., 18 Nov. 2016 at 4:25 pm, ojw28 notifications@github.com wrote:

[2016-11-18 08:40] Kexiliu opened #2084 "Question: not able to modify bytebuffer in handleBuffer() function of AudioTrack.java"
In handleBuffer() function, if (isNewSourceBuffer==true) && (sdk<21), bytebuffer is converted to bytearray and write to AudioTrack. I'm able to modify that bytearray without problem. But if (sdk>=21) &&  (isNewSourceBuffer==true) if I add

[code]
I should be able to hear the original sound, but i'm hearing lots of noises and "Discontinuity detected [expected 4626000, got 4411000]" is shown in log,

[2016-11-18 08:57] gbhall commented on #2063
[code]

 Line 216 contains `wait()` for `ExoPlayerImplInternal`

[code]

[2016-11-18 08:59] Avetri commented on #2029
This diff turns on the supporting of UDP urls.

<pre>
 library/src/main/java/com/google/android/exoplayer2/upstream/DefaultDataSource.java
index ae6f1e0..28a5b3d 100644
@@ -40,7 +40,9 @@ public final class DefaultDataSource implements DataSource {

   private static final String SCHEME_ASSET = "asset";
   private static final String SCHEME_CONTENT = "content";
+  private static final String SCHEME

[2016-11-18 09:28] andrewlewis commented on #2084
See the documentation for handleBuffer. The method may partially consume the buffer that is passed in, in which case the same buffer will be passed on the next call to continue writing it. Then isNewSourceBuffer will be false, so the passed in buffer will be used (not your replacement buffer).

In this specific case, it looks like your added code will advance the position of the input buffer to th