[2021-09-26 11:44] moneytoo opened #9486 "Setting surface frame rate"
I understand that ExoPlayer uses [Surface.setFrameRate()](https://github.com/google/ExoPlayer/blob/2a88f0fb295ff5b56e6fbcbe7e91bdf922cbae13/library/core/src/main/java/com/google/android/exoplayer2/video/VideoFrameReleaseHelper.java#L368) to leverage the lightweight refresh rate swithing on Android 11 and newer ([as explained here](https://developer.android.com/guide/topics/media/frame-rate)).

To

[2021-09-26 16:47] inattv777 opened #9487 "Android emulator quality selection"
The quality of some live broadcast systems is not selected in Android emulators
![Screenshot_2021 09 26_19 44 54 207](https://user-images.githubusercontent.com/91099249/134816600-177ee650-5364-441f-bd23-ee43b400879a.png)
.

[2021-09-27 01:04] #9264 closed, assigned to claincly

[2021-09-27 03:01] houjiangen1 opened #9488 "quic not link please help me"
I use the following plug-in to compile, the server uses nginx-quic h3-29 but I see that the app shows h2 connection

[code]

[2021-09-27 03:13] ghost commented on #9474
@icbaker i tried and failed

[2021-09-27 03:44] zhhach123 opened #9489 "No sound when playing flac files on android version lower than 30"
Issue description

No sound  when playing flac files from the demo app on OPPO PCHM30 device with Android 9.The version of exoplayer is r2.15.0，
adn we have using the FLAC extension.Here is the log when playing flac files.

2021-09-27 11:33:57.861 14468-14468/com.google.android.exoplayer2.demo I/Choreographer: Skipped 2 frames!  The application may be doing too much work on its main thread.
2021-0

[2021-09-27 03:46] Colaman0 opened #9490 "How to get the real playback address before player start play"
What should i do  if i  want to send a network request to get the real playback address before playing.

My music App will load the playlist, but the playlist isn't have the playback address, i need to send a request to get the real address to play.

I create music source and register callback  to let the player update playlist when the request is finish , but I don’t think this is a good way to d

[2021-09-27 05:30] strangesource commented on #9425
Hi @christosts, thanks a bunch for the very detailed answer. 🙇  Much appreciated.

We will consider the suggestions while our situation already improved with https://github.com/google/ExoPlayer/pull/8025 as the lowest resolution track is now prepared as opposed to the highest resolution.

[2021-09-27 05:31] #9425 closed, assigned to christosts

[2021-09-27 06:07] #9489 closed, assigned to nobody

[2021-09-27 06:51] RexSuper commented on #9446
@kim-vde @krocard

[2021-09-27 07:36] andrewlewis commented on #9423
Do you actually need the `AdEventListener` at all? I am wondering if it would work just to do `videoPlayer.playWhenReady = true` when creating the player (the player will start automatically once enough media is buffered).

Aside from that: I'm a bit surprised it makes a difference when you post to a handler on the main looper to start playback, as the ad events should be notified on the main thre

[2021-09-27 08:04] colorhaake commented on #9423
I need the `AdEventListener` because our scenario is like a facebook feed layout. If the video player is out of the screen, we will pause the video. We cannot decide to play the video or not when we created the video player.

And I found when I set `videoPlayer.playWhenReady = true`, the playback state is actually in the `Player.STATE_BUFFERING`. if  I set `videoPlayer.playWhenReady = true` at `Pl

[2021-09-27 08:10] neeluagrawal04 opened #9491 "Getting com.google.android.exoplayer2.ParserException: org.xmlpull.v1.XmlPullParserException while downloading DRM enabled video url"
Hi I am facing the below exception while download the DRM enabled video url via exoplayer lib
exception:

[code]

Can anyone help me to get out of this issue?

[2021-09-27 08:22] neeluagrawal04 opened #9492 "How can I customised the fastforward and fastbackward time limit in exoplayer 2.15.0 lib"
Hi
I need to customize the fast forward and fast backward functionality of exoplayer from 5 sec to 15 sec. Can I customize it or how can I do this?

[2021-09-27 09:53] laruedavid opened #9493 "OfflineLicenseHelper get remaining license duration"
Hello,

We are using ExoPlayer 2.14.2 but this question is valid for all versions.

The OfflineLicenseHelper.getLicenseDurationRemainingSec() method returns a Pair of license and playback durations.

The 'license duration' is the duration during the license is valid after the download, for example 30 days.
The 'playback duration' is the period of time that the license is valid since the initial pl

[2021-09-27 10:38] manuelzomer opened #9494 "Add support for RTSPS streaming"
### Use case description
Currently RTSPS (RTSP over SSL) is not supported and URLs following a `rtsps://` scheme will result in an unknown protocol exception.

### Proposed solution
Detecting RTSPS streams by the URL scheme and using the `javax.net.ssl.SSLSocketFactory` instead of the standard `javax.net.SocketFactory` to handle the request.

[2021-09-27 11:16] icbaker commented on #9474
Please provide media we can use to reproduce the problem and an `adb bugreport` taken after reproducing the failure in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html).

Please either upload these here or send them to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number.) Please also update this issue to i

[2021-09-27 11:46] #9478 closed, assigned to icbaker

[2021-09-27 13:06] Colaman0 commented on #9490
I found the answer.
Use ResolvingDataSource to create MediaSource, I send a request to get playback address in ResolvingDataSource.Resolver.
When the request is success , i return the new DataSpec with real playback address.

[2021-09-27 13:06] #9490 closed, assigned to krocard

[2021-09-27 13:10] ojw28 commented on #9480
@sim0629 - Could you provide a quick response indicating whether this is working as intended, or something unexpected that needs fixing? Thanks!

[2021-09-27 13:19] Debayudh commented on #6373
@tonihei
Is there any way to achieve this when using MediaItem ?
We are now using MediaItems instead of MediaSource, and don't see any way to set start time for setting start time of Items after the first.
Tried using setClipStartPositionMs , but we don't want to take away user's ability to seek back to portions of video he has already watched (this would probably also skew our custom seekbar, so

[2021-09-27 13:21] sim0629 commented on #9480
Sure. I left a comment at https://android-review.googlesource.com/c/platform/frameworks/support/+/1411627. It was intended but decided to revert the library change in order not to inject the intent element into the manifest as multiple users pointed it out. https://android-review.googlesource.com/c/platform/frameworks/support/+/1836874 is ready for review.

[2021-09-27 13:28] ojw28 commented on #9480
Thanks! I'll mark this as a "bug" on the basis that this is something we intend to change.

[2021-09-27 15:46] tonihei commented on #6373
This is still an open feature request and not implemented yet. The only way to achieve something similar for now is the workaround with the custom wrapping `MediaSource` as described above.

[2021-09-27 16:15] #9351 closed, assigned to marcbaechinger

[2021-09-27 16:19] greyski commented on #9480
Thanks everyone! Looking forward to the fix.

[2021-09-27 21:20] jeffwconaway commented on #9284
@ojw28 Thanks for your help on this issue.

I'm looking into changing out implementation to what you recommended.  I think changing the way we were using `DownloadHelper` fixed the issue we were having with `StreamKeys`.  In our previous implementation, we were able to download tracks that were in  `MappingTrackSelector.MappedTrackInfo.unmappedTrackGroups` by generating our own `StreamKeys` and `D

[2021-09-27 21:30] ojw28 commented on #9284
If the track ends up in `unmappedTrackGroups` then that implies that it's not playable, assuming you're using equivalent `RenderersFactory`s for downloading and playback, which we'd expect to be the case. So I think my question would be: Why would you want to do this :)? I suspect that you may have a somewhat unusual use case.

[2021-09-28 01:19] tdc-w commented on #9420
There may be other problems because flicker occurs without removing view.

Another approach is to have one SurfaceView and two SurfaceTextures managed by Renderer.
This issue will be closed as it seems that this approach will achieve the purpose.

[2021-09-28 01:19] #9420 closed, assigned to andrewlewis

[2021-09-28 07:19] dilip-jaiswal commented on #8973
Hi, We will share it with you soon.

On Tue, Sep 28, 2021 at 6:35 AM Google Open Source Bot <
***@***.***> wrote:

--

Thanks & Regards
Dilip Kumar

[2021-09-28 10:28] GouravSna opened #9499 "Seek Backward/Forward behaviour"
Few observations regarding the seek.

There are 2 types of possible seek cases.

1. If media is continuously being played and user seeks backward
2. User seeks somewhere in the timeline where the segments were not downloaded

When we call seek, Exoplayer is fetching the segments again in both the cases. We are using HttpDataDource.

Case when I am seeking backward,

[code]

If you check above, int

[2021-09-28 10:55] schnaps1981 commented on #5417
any news?

[2021-09-28 11:36] ojw28 commented on #8973
Marking as `needs more info`.

[2021-09-28 13:11] icbaker commented on #9476
Thanks for the video, I didn't realise you were waiting for the ads to fully play out while the app was in the background. I'm now able to reproduce a failure on both a Pixel 5 and a OnePlus AC2003 by:
1. Opening the app, the ad starts playing
2. Background the app, the ad audio is still audible
3. Wait for the ad audio to stop playing (and the error appears in the logcat here)
4. Re-foreground th

[2021-09-28 14:52] mekptang opened #9500 "DASH: Parse MIME type, width and height into Format for image AdaptationSet"
Hello guys, I want to extract the width, height, and value of the image from the following manifest.

[code]

I have referred to #8577 as an example but it only works for mimeType="video/mp4".

code for image/jpeg:
[code]
result:
[code]
code for video/mp4:
[code]
result:
[code]

Any suggestions to parse this thing in exoplayer?
here is the manifest URL: https://dash.akamaized.net/akamai/bbb_30fps/

[2021-09-28 15:01] krocard commented on #9460
You can set the prefered width using [’TrackSelectionParamters.setMaxVideoSize’](https://github.com/google/ExoPlayer/blob/r2.15.1/library/common/src/main/java/com/google/android/exoplayer2/trackselection/TrackSelectionParameters.java#L171):
Example:
[code]

A more complicated alternative is to set a specific track instead of just the width:
You can force a given bitrate using [`DefaultTrackSelecto

[2021-09-28 15:23] maciejbarszcz opened #9501 "DefaultAudioSink exception when playing in tunneling mode"
Use case:
- there is an ongoing playback, with no tunneling for the current MediaSource
- then we ask ExoPlayer to load and play (with no call to pause or stop current playback) new MediaSource which eventually will be played in tunneling mode
- there is an IllegalStateException thrown by DefaultAudioSink

If the second MediaSource is not setup to be played in tunneling mode, no exception is throw

[2021-09-28 16:37] krocard commented on #9460
Note that you should clear max and min video size on track change in case the next track doesn't have this video width (which would result in nothing playing.) For example if the users selects 1080p but the next video is only available up to 750p, you should clear the constraints or nothing will play.
Does that answer you question?

[2021-09-28 16:41] krocard commented on #9487
Please explain what you expected, what you observe, see the issue template. Your post doesn't contain any question. Thanks.

[2021-09-28 16:48] icbaker commented on #9442
@navjotbedi Please file a new issue

[2021-09-28 16:57] krocard commented on #9488
Please post the error if any, a bug report and a way to reproduce (eg url), thanks.
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to indicate you've done this.

[2021-09-28 16:59] krocard commented on #9499
This might be because the player is not configured with a back buffer by default. @ojw28 , is there any dash specific reason why seeking backward would be longer than forward?

[2021-09-28 17:00] vasusachin opened #9502 "Exoplayer 2.10.8 - First Frame of video coming late"
While playing a HLS Stream in Exoplayer 2.10.8,
The first video frame is rendered very late compared to older exoplayer version 2.6.1

In Exoplayer 2.6.1, the first frame is rendered first , freezes for some time and then smooth playback is started

In Exoplayer 2.10.8, there is no first frame, black screen for some time and then there is smooth playback without freeze

Is this behavior made confi

[2021-09-28 17:21] krocard commented on #9486
You can disable `Surface.setFrameRate` calls from ExoPlayer using `VIDEO_CHANGE_FRAME_RATE_STRATEGY_OFF`.
I'm not sure we have any plans for an app to provide their own frame rate, except maybe by wrapping extractors and overriding the values, but that is a lot of work.

[2021-09-28 17:26] krocard commented on #9483
I'm not sure what is the question? Are you talking about https certificates? ExoPlayer can use multiple http libraries, see https://exoplayer.dev/network-stacks.html. Please refer to the network stack your app is to pin certificates.

[2021-09-28 17:36] ojw28 commented on #9486
This is correct, although note that the display has to actually support seamless refresh rate switching for this to do anything useful. It's a hint to the underlying platform, which can update the display refresh rate or not depending on what the hardware supports.

As of `2.13.0`, ExoPlayer will dynamically infer the video frame-rate from the individual frame timestamps in order to call `Surface.

[2021-09-28 17:36] #9486 closed, assigned to ojw28

[2021-09-28 17:44] ojw28 commented on #9463
Please could you capture the complete `logcat` output when reproducing this issue in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) on the affected device? Thanks!

[2021-09-28 18:09] fjb02 opened #9503 "AWS Media Tailor integration"
Does anyone know what server side beaconing solution ExoPlayer supports?
We are trying to integrate it with AWS MediaTailor.

[2021-09-28 18:58] kevinscroggins-youi commented on #4835
Should in theory be able to work around this by hooking up the setPreferredAudio/VideoMimeType APIs on the DefaultTrackSelector.
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.ParametersBuilder.html#setPreferredVideoMimeType(java.lang.String)

[2021-09-28 21:42] inattv777 commented on #9487
Quality is not selected. Track cannot be used in android emulators.

[2021-09-28 21:49] vinodkputta commented on #9479
@icbaker @ojw28 Can someone look into this issue? We are facing this issue on live streams.

[2021-09-29 03:04] ghost commented on #9474
@icbaker i sent an email to dev.exoplayer@gmail.com. Hope to hear from you soon. Thank you!

[2021-09-29 05:33] dilip-jaiswal commented on #8973
Ok, I'll check it out.

On Tue, Sep 28, 2021 at 5:07 PM Oliver Woodman ***@***.***>
wrote:

--

Thanks & Regards
Dilip Kumar

[2021-09-29 07:21] SuryaChundawat commented on #9460
Hi I am adding one more question over here. If i am adding normal youtube video than how to put it on auto resolution if it support multiple resolution.

[2021-09-29 08:46] objectiveCarlo opened #9504 "Implementing Custom UI for IMA video ads"
Hello is there a way to do this: https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/custom-ui

Basically tell AdsRenderingSettings to disableUI?

[code]

We are planning to customize the controls for the IMA ads container so we want to disable the default ad container of the IMA SDK
Thank you

[2021-09-29 09:02] arunkumartdr commented on #9460
Thankyou @krocard but nothing works.. I think you have not understand my question.

Consider i have a .mpd mpeg dash File that has Multiple video quality ..

What iam asking is how can i give option to my users to change prefered video quality.

like 1080p , 720p , etc............

I think first i have to parse the .mpd file and get qualities available and i have to map the available qualities to

[2021-09-29 09:36] kim-vde commented on #9446
The file you sent plays correctly (I can hear audio until the end and no exception is thrown) for me on the [demo app](https://github.com/google/ExoPlayer/tree/r2.15.1/demos/main). Can you try to play the file locally (i.e. by storing it on your device and using a [`DefaultDataSource`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultDataSource.html) for example) o

[2021-09-29 09:37] mallikarjunch09 opened #9505 "Key moments highlight in Exoplayer video bar"
<img width="319" alt="Screenshot 2021-09-29 at 3 01 16 PM" src="https://user-images.githubusercontent.com/54542577/135242681-b481fb3a-e83e-47d2-bc74-35efbad7c8c3.png">
Hi Guys, I'm trying to achieve a key moments highlights**(yellow patches on video player progress bar)** in the exoplayer video progress bar.
I'm not getting how to achieve this functionality in exoplayer android
Is there any way to

[2021-09-29 09:41] krocard commented on #9452
This is the string returned by `Local.getDisplayName`, I'm not sure we want to do any transformation on it. The characters returned might not even have a upper case concept.  @ojw28 you are marked as UI owner in our triage guide, so assigning to you as minor.

[2021-09-29 09:51] SuryaChundawat commented on #9460
@arunkumartdr  can you please help to how to create .mpd mpeg dash file with multiple resolution if i have 4k mp4 video.

[2021-09-29 10:01] krocard commented on #9502
2.6.1 was published on Jan 3, 2018, 2.10.8 on Nov 19, 2019. Looking at the blame of [MediaCodecVideoRenderer](https://github.com/google/ExoPlayer/blame/r2.10.8/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java) and the output of `git log --grep tunneling r2.6.1..r2.10.8`, there are a few cl that affected tunneling:
 - 53934c13b2800cdcc49c7f3df5005b0a9b3d79

[2021-09-29 10:01] ojw28 commented on #9452
I think `Locale.getDisplayName` returns a string that would be suitable for use mid-sentence. In English, language names are generally capitalized whether they occur at the start or in the middle of a sentence, so it makes no difference. I'm guessing this is not the case in Czech, which is why this ends up being problematic. We probably want to use `UCharacter.toTitleCase` to convert the string in

[2021-09-29 10:08] krocard commented on #9485
The looper passed in `setLooper` must be the thread that your app will use to call the player. The issue is that AIDL is specifically designed to dispatch call to a thread pool:

https://developer.android.com/guide/components/aidl.

As the player is NOT thread safe, making direct calls from AIDL to the player, is not possible.

Do you really need the concurrency access? If not, consider implementi

[2021-09-29 10:17] krocard commented on #9505
ExoPlayer doesn't have any native support for this feature. Nevertheless you can customize the [DefaultTimeBar](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/DefaultTimeBar.java) view to add such indicators.

Assigning to @ojw28 to track this possible improvement.

[2021-09-29 10:23] krocard commented on #9491
The exception points to your dash manifest missing a closing tag (`unterminated entity ref`). Could you please send us the dash manifest that is causing the issue?

If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to indicate you've don

[2021-09-29 10:24] krocard commented on #9491
Does this media plays with other dash players?

[2021-09-29 10:28] krocard commented on #9482
Could you please post the exception thrown or describe what the playback issue is? Reproducing every issue takes a lot of time and we can solve issues faster by looking at error logs, thanks.

[2021-09-29 10:32] krocard commented on #9475
Could you please explain what is a 1 minute url and provide us an example. If you are asking how to get the current progress in the media, call `Player.getCurrentPosition()`:
https://github.com/google/ExoPlayer/blob/2a88f0fb295ff5b56e6fbcbe7e91bdf922cbae13/library/common/src/main/java/com/google/android/exoplayer2/Player.java#L2011-L2016

[2021-09-29 10:39] krocard commented on #9469
This is not handled by ExoPlayer but by the network stack used. ExoPlayer can use multiple http libraries, see https://exoplayer.dev/network-stacks.html.
I'm not sure if any caches 301. I could not find any such reference in Cronet documentation (which is the most feature complete network stack ExoPlayer supports off the shelf), but maybe you will have more luck?

As this is not really an ExoPlaye

[2021-09-29 10:42] krocard commented on #9460
@SuryaChundawat Please open a new issue for any off question not directly related to this issue (track selection).

[2021-09-29 10:44] krocard commented on #9460
@SuryaChundawat This is the default, ExoPlayer will pick the best bitrate for your network condition.

Please do not add question to issues, create your own one.

[2021-09-29 10:51] tonihei commented on #9417
I think you should be able to add
`Player.getCurrentTimeline().getWindow(windowIndex, new Timeline.Window()).windowStartTimeMs` to `player.getCurrentPosition()` to calculate the current position in milliseconds since the UNIX epoch.

Please also refer to the picture and explanations in this section: https://exoplayer.dev/live-streaming.html#detecting-and-monitoring-live-playbacks

If you like to t

[2021-09-29 10:52] Zoom-Adr commented on #9482
hello, unable to play. it shows "media includes audio tracks, but none are playable by this device"..
it works on shaka and jwplayer though..

[2021-09-29 10:54] claincly commented on #9484
Looking at the spam lines, it seemed that there are quite some number of packets lost (or late) on their ways. For example, 24086 is not received before 24087. After receiving 24087, 24089 is received instead of 24088.

[code]

You can try tweaking this number (30), to a bigger number, say 100. This lets ExoPlayer waits longer for out-of-order packets.

https://github.com/google/ExoPlayer/blob/2a8

[2021-09-29 11:08] kim-vde commented on #9492
Assuming you are using `SimpleExoPlayer.Builder` to create the player, you can set these values using methods [`setSeekBackIncrementMs`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.Builder.html#setSeekBackIncrementMs(long)) and [`setSeekForwardIncrementMs`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.Builder.html#setSeekFo

[2021-09-29 11:10] krocard commented on #9460
You don't need to parse it yourself, ExoPlayer will do it for you. `player.getCurrentTrackGroups()` will return all tracks of the media, including their format (size, bitrate...) and then force any resolution to be selected as explained in my previous comment https://github.com/google/ExoPlayer/issues/9460#issuecomment-929314540.

You can look at [ExoPlayer's demo app](https://exoplayer.dev/demo-a

[2021-09-29 11:11] krocard commented on #9460
Is this what you are looking for?

[2021-09-29 11:16] icbaker commented on #9475
Or register a callback that will be fired when playback reaches a certain point: https://exoplayer.dev/listening-to-player-events.html#firing-events-at-specified-playback-positions

(note that if you register this at 30s this will still fire if your user seeks to 29.5s and then only plays 1s of audio - it's unclear from your question whether that meets your requirements or not)

[2021-09-29 11:51] marcbaechinger commented on #9479
Yes, that seems to be correct to me. If the `segmentIndexInPlaylist` is larger than the size of the list of segment by more then one, then either the playlist is invalid or we have a bug elsewhere. At that particular line the check is correct.

However, we would like to look into this. @LuGO0 , can you please provide with a sample stream so we can reproduce on our end?

If you're unable to share p

[2021-09-29 12:07] pawaom opened #9506 "Cannot resolve method 'createWithNotificationChannel' in 'PlayerNotificationManager'"
I recently migrated from `exoplayer:2.11.6` to `exoplayer 2.15` and to android studio arctic fox, and i am testing on  android 11.

I am getting this error `Cannot resolve method 'createWithNotificationChannel' in 'PlayerNotificationManager'`

This used to work fine earlier how can we resolve the issue.

there are similar issue on stackoverflow

here

https://stackoverflow.com/questions/69306536/h

[2021-09-29 12:10] arunkumartdr commented on #9460
Yes thank you, I found this implementation here too : https://www.youtube.com/watch?v=suJHE30rQo8

Thankyou @krocard for your help..

[2021-09-29 12:14] krocard commented on #9445
By caching, do you mean downloading the video to be able to play it offline, or do you mean caching an amount of time around the playback position to allow for faster seeks?

Both are supported by ExoPlayer. The cache duration around playback can be controlled using [`DefaultLoadControl.Builder.setBufferDurationMs`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com

[2021-09-29 12:18] krocard commented on #9450
Could you please provide us with the media triggering the issue as well as a bug report (the codec probably logged the error in logcat)? This stack trace doesn't contain enough information to understand the issue.
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in th

[2021-09-29 12:31] kim-vde commented on #9472
Hi! Can you please provide an example of media file? If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using subject "Issue #9472". Please also update this issue to indicate you've done this.

[2021-09-29 12:35] krocard commented on #9506
The telescopique constructors `PlayerNotificationManager.createWithNotificationChannel` were deprecated in favor of `PlayerNotificationManager.Builder`. You can easily find this by looking at the file in different versions:
https://github.com/google/ExoPlayer/blob/92e05bcd6608b48cc4d20974f55e6a9136274c33/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L717-

[2021-09-29 12:38] #9506 closed, assigned to krocard

[2021-09-29 12:44] moneytoo commented on #9452
Locale names are "title cased" at least in the platform Settings app. This is what it uses internally: https://android.googlesource.com/platform/frameworks/base.git/+/refs/tags/android-11.0.0_r45/core/java/com/android/internal/app/LocaleHelper.java#68

[2021-09-29 12:44] krocard commented on #9487
Tracks can't be selected if their format is not supported. Could it be that the video tracks you are trying to play are not supported by the emulator?
Could you share the problematic content with us? If not at least the format would be useful
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gm

[2021-09-29 12:45] dino-saurabh commented on #9479
Sure @marcbaechinger we will try to share the test-stream ASAP and will notify the same on this Issue when done.

[2021-09-29 12:53] moneytoo opened #9507 "Cannot play TS file containing 8 channel E-AC-3"
E-AC-3 5.1 sample: http://media.developer.dolby.com/DDP/MP4_HPL40_30fps_channel_id_51.mp4
E-AC-3 7.1 sample: http://media.developer.dolby.com/DDP/MP4_HPL40_30fps_channel_id_71.mp4

When I remux the 5.1 sample using ffmpeg to TS (`ffmpeg -i "*_51.mp4" -c copy sample_51.ts`), it plays just fine in ExoPlayer. However when doing the same with the 7.1 sample, ExoPlayer doesn't output any picture or sou

[2021-09-29 13:32] tonihei commented on #9347
There are a couple of issues/PRs evolving around the same problem, let me consolidate this a bit by marking this as a duplicate of #7975 as they both have the same root cause.

[2021-09-29 13:41] tonihei commented on #7975
Generalized this bug to also track the problem described in #9386, which has the same root cause.

The root cause (as identified above) is that `MaskingMediaSource`/`MaskingMediaPeriod` use the value of `0` for both the literal `0` and to identify the default position. We attempt to disambiguate by make informed guesses [here](https://github.com/google/ExoPlayer/blob/2a88f0fb295ff5b56e6fbcbe7e91bd

[2021-09-29 13:45] krocard commented on #9482
The media audio codec is HE-AAC according to mediainfo. Which you device should be able to decode. It might be a DRM error.  Let me try to reproduce.

<details>
<summary>
`$ mediainfo https://linear01-playback.sooka.my/CH3/masterCH3.mpd`
</summary>

[code]

</details>

[2021-09-29 13:47] Zoom-Adr commented on #9482
i'm trying to play in exoplayer demo. let me know if there is another way to play in exoplayer.
thanks for your help

[2021-09-29 13:59] krocard commented on #9482
Could you post the log of exoplayer demo app? That should tell us why the tracks can't be played.

[2021-09-29 14:00] Zoom-Adr commented on #9482
how do i get the log from the app?

[2021-09-29 14:46] SreeniMannem opened #9508 "Receiving DESCRIBE 401 for Tapo_Camera_3A1E (Tapo C100) camera while streaming using rtsp"
Hi team, i am unable to stream RTSP using Tapo_Camera_3A1E (Tapo C100) camera.

I am getting same error like **Receiving DESCRIBE 401**. And i followed the steps which are mentioned in the #9070. But i am unable to get the stream.

Even i followed ticket #9428, but no luck.

Please help in connecting and getting stream through ExoPlayer using the above camera.

Reference#
Long story short, an RTSP

[2021-09-29 14:59] samardzija opened #9509 "Calling transportControls.setPlaybackSpeed doesn't change the speed"
I'm developing an android app for reproducing audio files. I'm trying to change the playback speed and I'm calling serviceConnection.transportControls.setPlaybackSpeed, but nothing happens, it doesn't change the speed. I've been using other methods like skipToPrevious(), skipToNext(), seekTo() etc and all of them just work fine. I tried to find answers in documentation, but I couldn't. Can you hel

[2021-09-29 15:15] ShaoWeiguo commented on #3438
We want to implement the crossfading between media items/sources, fading in at each media items/sources and fading out at each media items/sources.  The purpose is make audio bitrate/codec switching seamless.
Based on the latest version (v2.15.1), could you give us the suggestion how to implement this feature?

[2021-09-29 15:16] moneytoo commented on #9486
Thank you very much for your answer. This is really helpful.

[2021-09-29 15:37] Luisemtza commented on #9392
Hello, we have the same problem. We are using version 2.15 and we cannot replicate the problem, we can only see it through Firebase Crashlytics

[code]

We are using MediaSource

We are directly instantiating DefaultDrmSessionManager

No, We don't call directly this methods.

No, We don't are setting any value.

I hope it can help with the solution.

[2021-09-29 15:43] icbaker commented on #9392
@Luisemtza Are you able to post the code snippet you use to instantiate your `DefaultDrmSessionManager`?

Do you instantiate a new `DefaultDrmSessionManager` for every `MediaSource` or re-use them? If you re-use them, do you ever re-use them across multiple `Player` instances?

[2021-09-29 16:21] krocard commented on #9482
Look at the "Run" tab.
![image](https://user-images.githubusercontent.com/6862950/135309105-2803573f-9fbb-4aa4-aded-36769678dcd5.png)

I just tried and immediately got an error:
[code]

The linked url https://exoplayer.dev/issues/cleartext-not-permitted which explains that http (not https) requests are not allowed for cleartext.
Looking into `https://linear01-playback.sooka.my/CH3/masterCH3.mpd`:

[2021-09-29 16:26] ojw28 commented on #9482
This is probably something for @icbaker

[2021-09-29 16:27] arunkumartdr commented on #9471
Answer is here: https://www.youtube.com/watch?v=suJHE30rQo8

[2021-09-29 16:27] krocard commented on #9471
Duplicate of #9460.

[2021-09-29 16:27] arunkumartdr commented on #9471
A

[2021-09-29 16:28] arunkumartdr commented on #9471
Ans is here: https://www.youtube.com/watch?v=suJHE30rQo8

code is here : https://drive.google.com/file/d/1SZRfiFxCE4zj72nwqOcp930sssRJTPz6/view

[2021-09-29 16:28] #9471 closed, assigned to krocard

[2021-09-29 16:39] ojw28 commented on #9452
Thanks for the pointer!

[2021-09-29 16:43] krocard commented on #9433
This video is corrupted. Chrome can't play it, nor does totem (still image), only VLC can. Please fix your video generation pipeline or source a new video.

[2021-09-29 16:43] #9433 closed, assigned to krocard

[2021-09-29 16:44] neeluagrawal04 commented on #9492
Yes I am using the same SimpleExoPlayer.Builder to create the player, but setSeekBackIncrementMs and setSeekForwardIncrementMs fucntions could not found in SeekParameters.java class. And if I am using the player.seekParameters?.toleranceAfterUs = 15000L
 player.seekParameters?.toleranceBeforeUs = 15000L
I am not able to reassign the value of toleranceAfterUs  and toleranceBeforeUs  because they ar

[2021-09-29 16:47] neeluagrawal04 commented on #9491
Playing is not the issue but during download it will give me this exception. And how to find this dash manifest?

[2021-09-29 16:47] icbaker commented on #9482
ExoPlayer doesn't think your stream contains clearkey information (note how the `drm` property only lists `widevine`):

[code]

Looking in your DASH manifest this is likely because you only list the widevine UUID (`edef8ba9-79d6-4ace-a3c8-27dcd51d21ed`) in your `ContentProtection` nodes. From the [DASH-IF spec](https://dashif-documents.azurewebsites.net/Guidelines-Security/master/Guidelines-Securi

[2021-09-29 16:47] #9482 closed, assigned to icbaker

[2021-09-29 16:50] krocard commented on #9470
I'm am not aware of any resource id missing issue, nor could find any. It's surprising that any resource missing would not be a consistent issue. Are you able to reproduce the issue locally? It might be a problem with your app packaging, rather than with exoplayer.
@ojw28 might know more.

[2021-09-29 16:51] krocard commented on #9503
@andrewlewis, do you know if our client side adds insertion supports MediaTrailor?

[2021-09-29 16:53] krocard commented on #9500
@ojw28 could our dash parser be reuse outside of ExoPlayer as asked?

[2021-09-29 16:59] ojw28 commented on #9470
This isn't something we've seen before. Is it possible that it's a problem with the way the app is being distributed, as per [this StackOverflow post](https://stackoverflow.com/questions/52469914/app-sometimes-crashes-with-resourcesnotfoundexception-after-switching-to-androi)?

It's also possible that the problem could be introduced by some customizations that you've done to the ExoPlayer UI compo

[2021-09-29 17:12] MohitDixit commented on #9470
@krocard I had tried but these logs only coming from firebase crashlytics. @ojw28 thanks for referring me the possible solution, I think it is possible that this resource not found exception related to app bundle distribution, I will try to handle this exception in my code, will report if happen again. For customization part I haven't done such customization, app using pure exoplayer functions.

[2021-09-29 17:13] #9470 closed, assigned to ojw28

[2021-09-29 17:40] krocard commented on #9509
It's hard to help you without a way to reproduce or more debugging from your part and understanding the architecture (for example why are you not calling the player directly and going through serviceConnection).

One possibility is that the MediaSession has disabled the action `ACTION_SET_PLAYBACK_SPEED`. Also which version of mediaSession are you using?

Another possibility is that the media does

[2021-09-29 17:40] andrewlewis commented on #9503
Currently I don't think we have any built-in support for beaconing on the client for server-side ad insertion, but we do surface some types of timed metadata events during playback that apps can use to implement this themselves.

(Side note: for client-side ad insertion, the IMA extension takes care of beaconing for standard VAST/VMAP streams, but this seems like a question about server-side ad in

[2021-09-29 17:40] #9503 closed, assigned to andrewlewis

[2021-09-29 17:43] Luisemtza commented on #9392
Hi @icbaker, of corse:

[code]

`DrmCallBack` is our imlpementation of `MediaDrmCallback`.

We are instantiate a new `DefaultDrmSessionManager` each `MediaSource`.

Regards

[2021-09-29 17:46] krocard commented on #9491
You are probably playing the media from an http(s) url. This url points to the dash manifest. Please share this url with us.

[2021-09-29 17:49] fjb02 commented on #9503
Hi @andrewlewis , thanks for the information, but yes, the question is related to server side insertion.
Do you have information about the integration with AWS and how it collects the metadata (beaconing)?
Tks!!

[2021-09-29 18:04] andrewlewis commented on #9503
We don't have any information on this.

I'd try using the information here as a starting point: https://docs.aws.amazon.com/mediatailor/latest/ug/ad-reporting.html

[2021-09-29 18:15] inv3rse opened #9510 "Live HLS playback does not start with different #EXT-X-DISCONTINUITY-SEQUENCE tags"
An audio m3u8 playlist with a different #EXT-X-DISCONTINUITY-SEQUENCE number than the video playlist causes the player to be stuck loading forever.

Internally the `HlsMediaChunk` for the audio playlist stays forever in
`timestampAdjuster.sharedInitializeOrWait(isMasterTimestampSource, startTimeUs);`
because `isMasterTimestampSource` is false and it expects another thread to initialize the `timest

[2021-09-29 20:20] fjb02 commented on #9503
Last question. Do you have any idea if the MediaTailor integration is on the roadmap?
Thanks for your time!

[2021-09-29 20:52] stevemayhew commented on #7975
Exactly, the seekTo(1) is fine for us.  I agree with your suggestion for the fix, looked more involved then I wanted to attempt in a pull request

[2021-09-29 21:09] inattv777 commented on #9487
Hello
Example Hls Url: [https://prod-fastly-eu-central-1.video.pscp.tv/Transcoding/v1/hls/WRMcGnvGbTTjP0agnDEY3be9YYPeG8xsvaSea710QVAMY-mcoZTqmLeGI-1EEc1pjDVp9Phhg2DcbCt_zvWmMw/non_transcode/eu-central-1/periscope-replay-direct-prod-eu-central-1-public/master_dynamic_highlatency.m3u8?type=live](url)

Memuplay android emulator

![Screenshot_20210930-050737](https://user-images.githubusercontent.com

[2021-09-29 22:49] inattv777 commented on #9487
{
        "name": "Apple master playlist advanced (TS)",
        "uri": "https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_ts/master.m3u8"
      },
      {
        "name": "Apple master playlist advanced (FMP4)",
        "uri": "https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_fmp4/master.m3u8"
      }

It does not appear in thes

[2021-09-30 02:12] Zoom-Adr commented on #9482
Hello,

So do I need to replace the KID in the json with the following?  How do i add the value=ClearKey1. 0" in the json or exolist?

system ID e2719d58-a985-b3c9-781a-b030af78d30e and value="ClearKey1.0"

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Ian Baker ***@***.***>
Sent: Thursday, September 30, 2021 12:47:54 AM
To: google/ExoPlayer ***@***.***>
Cc

[2021-09-30 03:19] mekptang commented on #9500
Thank you for your comments.
I got the same result by using the DashManifestParser. I am not sure if I use it right.

Here is my code using dash parser:
[code]

result:
[code]

Format.java:
[code]

[2021-09-30 08:27] andrewlewis commented on #9503
It isn't on the ExoPlayer roadmap to have a direct integration with this service.

[2021-09-30 08:32] icbaker commented on #9482
I'm afraid preparing valid media is out of scope for this issue tracker.

[2021-09-30 08:40] samardzija commented on #9509
@krocard For all exo player libraries, I'm using 2.15.1, that goes for com.google.android.exoplayer:extension-mediasession.
I've added ACTION_SET_PLAYBACK_SPEED for getSupportedPrepareActions() in PlaybackPreparer.

When I call directly in the service player.setPlaybackSpeed(speed), then it is working fine. Thanks for the suggestion.
So, only when calling through  serviceConnection class, it doesn

[2021-09-30 08:46] rohitninawe commented on #9463
@ojw28 the affected [DASH H265 manifest](https://travelxp.s.llnwi.net/watch1/6130b8c5c66ce2ff85d3f069/manifest_v1.mpd) is not working on the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html).

Below is the complete `logcat`.

Tested on: [Moto G5S Plus](https://www.gsmarena.com/motorola_moto_g5s_plus-8699.php)

`logcat`

[code]

[2021-09-30 09:06] rohitninawe commented on #9463
@ojw28 the above issue is coming on both the mentioned affected devices.

Also, I checked another device where this manifest is working, I've attached its `logcat`. Maybe it could help you to identify both devices' behavior.

Working Device: [Redmi 9 Power](https://www.gsmarena.com/xiaomi_redmi_9_power-10616.php)

`logcat`:

[code]

[2021-09-30 09:21] #9476 closed, assigned to icbaker

[2021-09-30 09:28] icbaker commented on #9392
Thanks! That all looks pretty normal, nothing suspicious jumps out that would relate to the exception in this issue (which suggests there is a bug somewhere in `DefaultDrmSessionManager`, we just can't find it).

----

Aside: This is not correct - you shouldn't be returning `null` from `ExoMediaDrm.Provider#acquireExoMediaDrm`. If this line ever executes it will almost immediately generate an NPE

[2021-09-30 09:45] claincly commented on #9508
Please provide a log of RTSP messages.

The easiest way is to use the `RtspMediaSource.Factory` method `setDebugLoggingEnabled()`

[2021-09-30 10:01] krocard commented on #9509
In your UI code, make sure the action is supported, check that `(mediaController.getPlaybackState().getActions() & ACTION_SET_PLAYBACK_SPEED) != 0`.
Then confirm that `mediaController.getTransportControls().setPlaybackSpeed(int)` is actually called (with a positive speed) by your UI code.
Finally if your UI code is behaving as expected, trying put a breakpoint in `MediaSessionConnector.onSetPlayba

[2021-09-30 10:20] danish241194 opened #9511 "Getting Rebuffering event"
I have a requirement of doing some stuff whenever rebuffering occurs.Is there any way to get this event whenever rebuffer occurs

rebuffer event is buffering event which excludes initial joining and buffering after seek.

[2021-09-30 10:34] icbaker commented on #9474
Thanks for the videos. Both play fine on a physical Pixel 5 on Android 12. Both fail to play on an emulated Pixel 5 on Android 12.

There's no requirement for Android devices to support Dolby Vision (or HDR content in general: https://source.android.com/devices/tech/display/hdr). It's up to the app to check for compatibility before trying to play content like this.

So I suspect that the devices w

[2021-09-30 10:39] samardzija commented on #9509
That was really helpful, I found it!
I've added `mediaSessionConnector.setEnabledPlaybackActions(ALL_PLAYBACK_ACTIONS)`
and now it works.

I sow in code that DEFAULT_PLAYBACK_ACTIONS are without PlaybackStateCompat.ACTION_SET_PLAYBACK_SPEED.
Don't know why is that, but I assume you had a good reason for doing that.

[2021-09-30 10:50] krocard commented on #9509
Thanks for reporting the solution. Will close as your issue is now fixed.

@marcbaechinger do you recall why ACTION_SET_PLAYBACK_SPEED is not part of the default when you implemented #8229?

https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java#L141-L144

[2021-09-30 10:51] krocard commented on #9509
Closing because the issue has been fixed.

[2021-09-30 10:51] #9509 closed, assigned to krocard

[2021-09-30 11:14] billyjoker commented on #5993
@tfcporciuncula your "hack fix" seems to work as expected, do you know any additional side effects ?

[2021-09-30 11:55] tfcporciuncula commented on #5993
Nope, nothing other than what I described [here](https://github.com/google/ExoPlayer/issues/5993#issuecomment-533991713). It's been a long time I have worked with this or on the original project I introduced this, though, so I'm out of the loop if anything changed there.

[2021-09-30 12:20] kim-vde commented on #9492
`setSeekBackIncrementMs`/`setSeekForwardIncrementMs` and `seekParameters.toleranceAfterUs`/`toleranceBeforeUs` are doing different things:

* `setSeekBackIncrementMs`/`setSeekForwardIncrementMs` set the increments when pushing on the fastForward/rewind buttons in the UI.
* `seekParameters.toleranceAfterUs`/`toleranceBeforeUs` set the error tolerances when seeking to a specific time in the media fi

[2021-09-30 12:23] Ioan1995 opened #9512 "Audio, Volume levels on Mp4 are lower than normal"
[demo.log](https://github.com/google/ExoPlayer/files/7259448/demo.log)
I installed the ExoPlayer-demo application and added the following link to the media.exolist.json file: http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4 also, I put the cleartextTrafficPermitted = true, to be able to play content.
I just noticed that the audio output is lower than normal on mp4. So I had to set the android dev

[2021-09-30 12:41] ghost commented on #9474
------------------
@icbaker Yepp!! The devices don't support to play the videos, call onPlayerError() has called and i handle it with sendCustomMessage() to show error message to user.
Unfortunately, i have an issue when i play this videos on device Huawei (OS: Android 9, Resolution: 2340x1080, CPU: Hisilicon Kirin 710, RAM: 4 GB). In callback onPLaybackStateChanged(), i seen state of player chang

[2021-09-30 12:46] tonihei commented on #9504
Thanks for the question. We don't currently support this, but we can use this issue to track the feature request.

Looking at the IMA documentation it seems to me that you not only need a way to call `settings.setDisableUI`, but you'd also need to access to IMA classes like `AdPodInfo` and `VideoProgressUpdate` via a callback to display the right information in your ads container. Is that correct?

[2021-09-30 12:55] icbaker commented on #9474
If the device reports this as `format_supported=NO_EXCEEDS_CAPABILITIES` then that's likely expected. The device has said 'I don't support this format', but we still try and play because often it still works (and the alternative is just not playing it, which seems strictly worse).

If the device reports this as `format_supported=YES` then that seems more surprising - can you provide an `adb bugrep

[2021-09-30 12:58] ghost commented on #9474
@icbaker when i play this videos on device Huawei, callback onPlayerError() not called, how i can provide an `abd bugreport`?

[2021-09-30 13:03] icbaker commented on #9474
https://developer.android.com/studio/debug/bug-report

[2021-09-30 13:47] emveepee commented on #9472
Ok email sent.

[2021-09-30 14:24] SaurabhOfficial commented on #9479
Hey @marcbaechinger I have sent a mail for getting the IPs which we will whitelist for the test-stream could you please check it once.

[2021-09-30 14:35] giladna commented on #9500
@mekptang

you can check our approach how to achieve this with Custom classes for Parsing the manifest

https://github.com/kaltura/playkit-android/pull/686/files

[2021-09-30 14:43] grndvl1 opened #9513 "(trackSelector as MappingTrackSelector).currentMappedTrackInfo always returns null"
mappedTrackinfo always returns null

I do
[code]

No clear example on how to get CC data from player.  This is horrible, why is there no easy way to find if there is CC data and then to enable disable it.  It seems a basic function that should get its own treatment of special methods

 ExoPlayer version number 2.13.3

[2021-09-30 15:41] neeluagrawal04 commented on #9492
Shared image on dev.exoplayer@gmail.com and I can found that setSeekBackIncrementMs/setSeekForwardIncrementMs methods when using in exoplayer lib 2.15.0 in kotlin can have only get methods and if I am setting the  player.seekForwardIncrement = 15000L or player.seekBackIncrement = 15000L gives the error as Val cannot be reassigned. Please help in this issue

[2021-09-30 16:26] ParticleCore opened #9514 "How to turn off logging"
The current status of the exoplayer spams the logcat immensely and that makes it quite hard to locate information that I need that is not related to exoplayer. I looked for a way to turn off logging completely from exoplayer, but there is no clear way available online on how to do this. I checked the documentation, but it only explains how to get even more detailed logging, and absolutely no menti

[2021-09-30 16:37] krocard commented on #9487
Could you please provide the demo app log? It will list the track format
and why they are not supported.

[2021-09-30 16:50] icbaker commented on #9514
None of the log lines shown in your screenshots are coming from ExoPlayer code. It looks like they're all coming from the Android Framework.

I'm afraid there's nothing we can change in the ExoPlayer library to reduce this logging.

The BufferQueueProducer error logging specifically is tracked by [internal b/140581935].

If you find the other logs too spammy I suggest you report it to the Android

[2021-09-30 16:50] #9514 closed, assigned to icbaker

[2021-09-30 17:26] marcbaechinger commented on #9479
Hmm, this may be difficult. In the internal network IPs may change and given the WFH situation which is still in place for some engineering sites this can be even more complicated.  Using a VPN client on our side is fine for us but the IP approach has been difficult in the past. Do you have another way to make the stream available?

[2021-10-01 01:07] yyms3275 opened #9515 "Inquiries regarding YouTube video playback logs"
I checked the log contents below when playing with the player. Do you know any information related to this log?

**<LOG>**

[2021-10-01 02:00] objectiveCarlo commented on #9504
Hello thank you for replying to my question.

Right now we are getting the `AdPodInfo` from `AdEventListener`. From here we can get the duration of the `AdPodInfo`. For the progress we are getting from exoplayer.

So actually right now we only need to call `settings.setDisableUI`. We tried

Im thinking right now I need to create and implement our own `AdsLoader` class to do this before you guys up

[2021-10-01 07:09] alitele opened #9516 "Updating metadata on bluetooth device while playing from live music stream"
Hi,

I am trying to make exo audio player to play music from a live stream i.e, FM radio. Stream works fine ,

**Requirement :** is let blue tooth device control the play/pause and show the title of song playing at the moment,
for this i have implemented

[code]

and I am fetching the metadata of stream comes from **icyInfo** and **icyHeader** which takes bit time 1-2 sec to be fetched after user

[2021-10-01 07:53] ojw28 commented on #9515
All this is saying is that the decoder is allocating larger input buffers than ExoPlayer requested. As an application developer, you should be able to safely ignore this message.

[2021-10-01 07:53] #9515 closed, assigned to ojw28

[2021-10-01 09:48] icbaker commented on #9493
@rrfrias This sounds to me like maybe the license is setting license duration and playback duration but not rental duration (similar to [internal b/173059187 and b/186392548]). Does that sound plausible to you?

[2021-10-01 10:02] razi3742 opened #9518 "Video recorded by camera app not playing in Nokia G10"
I am using Exoplayer latest version 2.15.0
in android Device nokia g10 OS 11

I am recording [this ](https://www.youtube.com/watch?v=aqfPb_I7NwI)Video by default Video Intent and it saves video to storage. when i play video from storage it play video but stop on last second. it seems camera not able to record last second video. I understand there is any issue with my camera app. but i believe Exop

[2021-10-01 10:43] ojw28 commented on #9463
It looks like the affected devices claim to support the H265 formats in the manifest, but the `OMX.qcom.video.decoder.hevc` then fails when trying to play them. We will probably have to get hold of one of the affected devices to investigate further.

[2021-10-01 10:43] ojw28 opened #9519 "setPreferredVideoMimeType/setPreferredVideoRoleFlags don't work for adaptive playbacks"
As per title, the preferred video MIME type(s) don't seem to be used when making adaptive video track selections.

I found this when investigating https://github.com/google/ExoPlayer/issues/9463, where it would have been useful to provide the following as a viable workaround to prefer the H264 adaptation set:

[code]

[2021-10-01 10:58] ojw28 commented on #9500
Am I correct in thinking that you're already managing to extract the sprite URIs? The width, format and MIME type are not being set in the `Format`, but this is something that we can easily add to `DashManifestParser`.

We can make the necessary change on our side. Once we've made the change, you can either wait for the next release to get the functionality, or temporarily fork the `dev-v2` versio

[2021-10-01 11:51] #9460 closed, assigned to krocard

[2021-10-01 11:58] ojw28 commented on #9469
Arguably this is an ExoPlayer question.

For DASH, the DASH-IF IOP suggests that the player should use the redirected URL (B) after an initial redirect, and this was implemented in https://github.com/google/ExoPlayer/pull/7064/files. We have an internal bug [Internal ref: b/124104122] to investigate whether we should do the same for HLS and SmoothStreaming.

@PavelGP - Is your question about DASH,

[2021-10-01 12:02] ojw28 commented on #9505
It's not really feasible for us to accommodate UI requests such as this one, since they tend to be application specific to application use cases. At some point, if you need custom playback controls, you need to implement them yourself in application code (feel free to fork those provided by ExoPlayer as a starting point!).

[2021-10-01 12:02] #9505 closed, assigned to ojw28

[2021-10-01 12:24] ParticleCore commented on #9514
The log spam is introduced by the use of ExoPlayer. I cannot find anywhere else how to disable these other than to not use ExoPlayer completely. Please provide some sort of way for us to turn off this log spam seeing that it is literally because ExoPlayer library is being used.

[2021-10-01 13:12] icbaker commented on #9514
This logging is coming from inside the OS. There's nothing we, as an application-level library, can do to reduce or change it.

I suspect you'd see very similar logging if you were to play media using the same Android Framework components as ExoPlayer does without using ExoPlayer to do it - because this logging is coming from those components.

[2021-10-01 13:37] Ajain23799 opened #9520 "Preview-Seekbar issue in latest version"
in latest version Preview seekbar is not work so please provide any idea...

[2021-10-01 14:27] andrewlewis commented on #9502
This doesn't ring any bells. 2.10.8 is still quite old though, please could you check if this is reproducible on a recent version, in case a bug was fixed?

Do you have any customizations or are you using `MediaCodecVideoRenderer` directly?

If it's still reproducible the next thing I'd check is whether `MediaCodecVideoRenderer.maybeNotifyRenderedFirstFrame` is happening later than it used to.

[2021-10-01 15:06] #9458 closed, assigned to Samrobbo

[2021-10-01 15:16] kim-vde commented on #9492
That's probably because the setters are on the builder (e.g. `SimpleExoPlayer.Builder.setSeekBackIncrementMs`).

[2021-10-01 16:10] neeluagrawal04 commented on #9492
Okay, I am really great for your reply. Thanks for helping in this issue to solve it.

[2021-10-01 16:10] #9492 closed, assigned to kim-vde

[2021-10-01 16:28] ojw28 commented on #9499
ExoPlayer does not persist media to disk by default, and it discards it from memory after it's been played. So a backward seek will have to re-download the content, just the same as a forward seek to a part of the video that's not been buffered yet will need to download the content. These two operations should be the same speed as one another.

[2021-10-01 16:38] ojw28 commented on #9518
If the file being played is not a valid media file, then this may be expected. If you want us to take a look, you'll need to provide the actual problematic media file. I'm not sure if you intended to link to it with your first link, but it currently links to YouTube rather than to a media file.

[2021-10-01 16:40] CakeOD36 commented on #9232
I can confirm this behavior with a direct TV connection (no AVR)

[2021-10-01 16:42] ojw28 commented on #9513
Does the ExoPlayer demo app (or equivalently, `StyledPlayerView`) provide the option to select CC for the video you're testing with? It would probably be helpful if you could provide a link to the video you're using, so that we can reproduce what you're seeing.

[2021-10-01 16:43] ojw28 commented on #9520
It's impossible to know what this is about from the information provided. It feels unlikely that it's even related to ExoPlayer, since we don't provide a "preview seekbar". Closing.

[2021-10-01 16:43] #9520 closed, assigned to ojw28

[2021-10-01 16:49] ojw28 commented on #9443
Marking `needs more info` pending the systrace being provided.

[2021-10-01 17:14] alitele commented on #9516
@marcbaechinger would you please suggest some solution?
Thanks :)

[2021-10-01 17:30] GouravSna commented on #9499
Thanks @ojw28

[2021-10-01 17:30] #9499 closed, assigned to ojw28

[2021-10-01 19:44] MattAshland commented on #3751
Last post was almost a year ago.  I would still love to see an APE plugin.  Like I said, the APE SDK builds on Android (we do this at JRiver).  I'm happy to help if needed.  I'm mail at monkeysaudio dot com.  Thanks.

[2021-10-01 22:05] mikewalkerjr commented on #5417
Please fix this. It should be high priority

[2021-10-02 03:10] user849651 opened #9521 "Stop video when clicking on a different RecyclerView item?"
I have a RecyclerView, where each item plays a video. I share one instance of `ExoPlayer`, and only play one video on the screen at a time. When a user taps on a video's thumbnail, it opens the player in a fullscreen dialog.

However, my current problem is that if a video is playing in RecyclerView item 1, and the user taps the video thumbnail in RecyclerView item 2, it plays the video of item 2 (

[2021-10-02 03:16] user849651 commented on #9521
Because I'm using just one instance of ExoPlayer, is it possible to listen for an event where, if the player changes (maybe in state or to some other view), I can set it to show a thumbnail over item 1 again when item 2's video is tapped?

[2021-10-02 05:40] ZoltrixGFC commented on #9232
Also can confirm nothing to do with an AVR, was happening on two separate TVs for me. One with a soundbar, and one directly connected.

[2021-10-02 13:25] eneim opened #9522 "AAC decoder failed on Android 12 beta 5 but worked fine on Android 10"
The following video file is failed to play on Pixel 4 running Android 12 beta 5, but playing without issue on LG G7 running Android 10 (both are physical devices):

https://user-images.githubusercontent.com/1776230/135717954-e37a6a4f-93ef-4f0e-8d16-a91687fd16c9.mp4

Below is the logcat of the failure:

<summary>Click to expand the log</summary>
<details>

[code]

</details>

I tried this using the

[2021-10-02 21:18] moneytoo opened #9523 "Support for 10 bit depth in the AV1 extension (`libgav1`)"
Does the AV1 extension (`libgav1`) support 10 bit depth? If not, shouldn't it be excluded as a render for video with 10 bit depth?

When I set `EXTENSION_RENDERER_MODE_ON` and attempt to play 10 bit 1920x1080 video, the device decoder (`c2.android.av1.decoder`) is skipped because of reported incompatibility and extension renderer is used - but `libgav1` is unable to render it:

[code]

The device

[2021-10-03 21:15] ojw28 commented on #9522
Looks like an issue with the AAC decoder. I've filed [Internal ref: b/201936797] to ask the platform team to take a look. We'll provide an update here when we hear back.

[2021-10-03 23:10] talklittle opened #9524 "PlayerControlView time position not being initialized to 0:00 in ExoPlayer r2.15.1"
Reproduction:

1. Change the demo app to use PlayerControlView instead of StyledPlayerControlView.
2. Open a video. See that the timestamp is blank instead of starting at 0:00.

This appears to be a regression in 86f8c4e44e5467cb9d3b79dcf0593903ddd58422 / dd33afb33508018a2734ebbc65eb34b179259983 from fixing #9111

[2021-10-04 01:36] mekptang commented on #9500
Thank you! URIs can be extracted by referring #8577. I don't think this is the best practice but enough for my use case.

[2021-10-04 01:40] mekptang commented on #9500
Thank you. This is useful as a reference to my application.

[2021-10-04 01:42] ghost commented on #9474
@icbaker hey bro, i sent an email with `adb bugreport` file details attachment to dev.exoplayer@gmail.com. Please check it. Thankiu!

[2021-10-04 02:13] JustSomeGuyNZ commented on #9232
Also have issues with a directly connected device with no AVR or sound bar.  It's kind of annoying it's taken so long for this to be fixed.

[2021-10-04 05:10] TheSnyper commented on #9232
I have four Chromecast with GoogleTV units. Three are connected to the TV only, one is connected to the TV with a bluetooth connection for audio. Every single unit has the same stretching/rebooting issue mentioned above when autoplaying the [next] HEVC video in a series on PLEX. The first video always plays fine, but continuing onto another one will produce this bug EVERY. SINGLE. TIME. This fault

[2021-10-04 06:06] razi3742 commented on #9518
@ojw28 thanks for the quick response.

please find the actual video here
https://drive.google.com/file/d/1Es1wARs_Crvz7ZTPUEUcnKfFHcjPRD_9/view?usp=sharing

please closely look into the seekbar of exo player in video.

[2021-10-04 06:16] abhishekpatil26 opened #9526 "Exoplayer is throwing MediaCodecVideoRenderer error on DRM protected DASH content with codec avc1.4d400c"
While playing Wide-vine DRM protected DASH content with codec avc1.4d400c, exoplayer is throwing MediaCodecVideoRenderer error and playback fails.

This issue is mostly occurring on particular bit-rates, not on all.

**Error Log :**

[code]

What is the cause of the MediaCodec$CodecException:Error? and how it can be resolved?
Please let us know if anything else is required.

- Exoplayer version -

[2021-10-04 07:35] rrfrias commented on #9493
Can you tell us what your policy values for license and rental duration are? It will be helpful if you can share the make, model, build and widevine version* of the devices you are testing with.

License duration is the minimum of license or rental duration. Apologies if that is confusing. If you have a Widevine partner engineering contact, they should be able to share a document that details thes

[2021-10-04 07:41] andrewlewis commented on #9521
I don't follow why an event is needed for this case -- can't you show a thumbnail on top of the old player position just before you call `setPlayer` on its `PlayerView`, then wait for `onRenderedFirstFrame` to hide the thumbnail on top of the new player position?

[2021-10-04 08:21] ojw28 commented on #9232
It shouldn't be possible for the application layer (which is where ExoPlayer lives) to cause a device reboot, so the fact this is occurring indicates an issue in the underlying platform. I have requested an update and increased the priority of the issue that we previously filed on the relevant team.

[2021-10-04 08:22] andrewlewis commented on #9523
It looks like it's supported when using `VIDEO_OUTPUT_MODE_YUV` (using `VideoDecoderOutputBufferRenderer`, with conversion down to 8-bit) but not `VIDEO_OUTPUT_MODE_SURFACE_YUV` (rendering to `Surface`/`ANativeWindow`).

I think we found that the former was higher performance, so I'd recommend switching to that mode. Is this an acceptable short term workaround even though it isn't actually fixing

[2021-10-04 08:39] ojw28 commented on #9518
You seem to have provided a video of the video. We need the actual video file that you're passing to ExoPlayer so that we can reproduce the problem, not a video of what happens when you do this.

[2021-10-04 08:48] moneytoo commented on #9523
Thank you for the suggestions. I will need to learn more about that (and try on my own) to understand how well this fits/works for general purpose player of user content.

To clarify this - I wasn't able to directly compare the device decoder and the AV1 extension. The device decoder plays everything up to 1920x1080 without shuttering, when the content is 8 bit. The shuttering was with 10 bit cont

[2021-10-04 08:59] andrewlewis commented on #9523
Thanks. I'll close this for now on the assumption that the surface YUV rendering option will address the immediate problem. We could try to add workarounds for the device decoder's underreporting of capabilities or for the extension decoder capability overreporting (dependent on output mode) but I'm not convinced it's worth the effort and added code complexity currently. Please reopen this issue o

[2021-10-04 08:59] #9523 closed, assigned to andrewlewis

[2021-10-04 09:06] andrewlewis commented on #9526
@abhishekpatil26 Please capture a bug report via `adb bugreport` just after reproducing the issue. You can attach it here or email it to dev.exoplayer@gmail.com with subject "Issue #9526" (and update this issue to indicate you've done this).

This looks suspicious -- are you outputting to a `SurfaceView`? Can you reproduce this problem in the ExoPlayer demo app?

@icbaker Please could you take a l

[2021-10-04 09:41] JustSomeGuyNZ commented on #9232
Not sure how much use it will be, but there are a lot more posts about this over on the Plex forums, as a whole bunch of us originally thought this was an issue with plex, but after looking into it they've pointed the finger here.

https://forums.plex.tv/t/plex-restarts-new-google-tv-chromecast/711966

[2021-10-04 09:48] laruedavid commented on #9493
Hi @rrfrias, thanks for your answer

In our tests the rental duration of the license is 30 days and the playback duration is 48 hours. I don't know the license duration.

Before the first playback the 'license duration' returned by getLicenseDurationRemainingSec() method is set to rental duration for all devices (the value count down and change each second). For All devices the playback duration r

[2021-10-04 09:59] razi3742 commented on #9518
oops sorry. please find the newly created mp4 file

https://drive.google.com/file/d/1sI82hCTq3rxQF3ZkvO4h4BabbVMX8hCI/view?usp=sharing

[2021-10-04 10:27] andrewlewis commented on #9423
If I understand correctly, the `LOADED` ad event is just an indirect way to tell that the player view is now visible on the screen? If that's correct, could you instead use events on the UI components that are implementing the scrolling view to detect this case and set 'play when ready' to true? Looking on Stack Overflow, it seems you can use a layout manager to do this.

The 'play when ready' boo

[2021-10-04 10:40] andrewlewis commented on #9267
I won't have time to prioritize looking into this soon I'm afraid (it's seems like a very niche use case). However, last time I tried to do this I was able to get it to work using a `SilenceMediaSource` with duration 1 ms (this requires direct use of the `MediaSource` API, not the `MediaItem` API). It might work with a 0-duration clip too, but I haven't tried that.

[2021-10-04 10:43] ojw28 commented on #9518
It looks like the file is broken toward the start. Note that Chrome isn't able to play the file either. QuickTime player can play the file, but the first couple of seconds are distorted. VLC is able to play the file by skipping the first couple of seconds.

I don't think it's a good use of time for us to try too hard to make this file play correctly, particularly given support in other players is

[2021-10-04 10:43] #9518 closed, assigned to ojw28

[2021-10-04 11:28] razi3742 commented on #9518
@ojw28 thanks for the quick investigation. i have one question videoview is also playing this file while its corrupted output. but i think if videoview is playing this file then exoplayer should also play this file.

If File is corrupt for exoplayer then why its showing video total time and not playing but if we drag cursor little bit its playing. don't you think exoplayer behaviour should be same

[2021-10-04 11:40] Programmingtimes opened #9527 "How to play both Mp4 and M3u8 in a single player"
Hi
I am trying to make a movie streaming app (personal use) in that some of songs in mp4 format and some movies are in m3u8 format . so i can only play one format at a time .
like i have tried some code and was successfully able to play m3u8 but when i tried to play mp4 that code does not support mp4 url if i change back to prev code mp4 work well but m3u8 wont work.

is there any way to use both

[2021-10-04 11:47] ojw28 commented on #9518
As observed above, support by different players may vary, but will likely be quite patchy. We don't promise to handle every malformed media file as well as `VideoView`, or any other player. Note also that it's quite likely that ExoPlayer does a better job than `VideoView` of handling some other class of malformed video file; how well it works in each case is really going to come down to the detail

[2021-10-04 11:51] razi3742 commented on #9518
Okay, Thanks for the detail explanation.

[2021-10-04 11:52] andrewlewis commented on #9527
You could try using the [MediaItem API](https://exoplayer.dev/media-items.html) instead. You can set the media type (or have it be inferred from the URL) and then the correct `MediaSource` type will be created for you automatically.

[2021-10-04 11:52] #9527 closed, assigned to andrewlewis

[2021-10-04 12:23] #9217 closed, assigned to marcbaechinger

[2021-10-04 14:41] colorhaake commented on #9423
The [LOADED](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/api/reference/com/google/ads/interactivemedia/v3/api/AdEvent.AdEventType#public-static-final-adevent.adeventtype-loaded) ad event means the ad asset is loaded. It is not a way to tell the player view is now visible on the screen. It's not related to any UI component. I thought the issue is if we set `vid

[2021-10-04 14:48] #9376 closed, assigned to kim-vde

[2021-10-04 14:49] kim-vde commented on #9472
I have added the change directly to ExoPlayer.

Could you please confirm that it fixes the issue? Thanks.

[2021-10-04 15:19] icbaker commented on #9474
Thanks for the bugreport, but it doesn't seem to contain any of the logging I'd expect to see from a playback in the [demo app](https://exoplayer.dev/demo-application.html). Did you capture this after reproducing the problem in the demo app? Specifically I'd expect to see a large number of lines from `EventLogger` because the demo app enables additional debug logging as described here: https://exo

[2021-10-04 15:34] krocard commented on #9511
By rebuffering event, do you mean:

 1. having the player go to state buffering from state ready.
 2. having to download a segment never downloaded
 3. having to download a segment that was already downloaded (eg due to a different track selection)
 4. having to flush and rebuffer some audio due to an audio output change
 5. some other buffering event

[2021-10-04 15:37] krocard commented on #9507
Given the `-c copy` flag and that both audio and video are affected, it doesn't seem to be a codec issue but rather a streaming/extraction one.

[2021-10-04 16:23] emveepee commented on #9472
That is is the same (except the define name) as the code I use and it fixes the file in my testing,  The user that reported the issue can play live tv on several channels now that didn't work before so this should fix the issue unless the 0x80 PCM audio is ever in the stream.

[2021-10-04 16:39] kim-vde commented on #9472
I will close the issue then. Please open another issue if you still encounter problems.

[2021-10-04 16:39] #9472 closed, assigned to kim-vde

[2021-10-04 17:44] FunkyMuse opened #9528 "Exoplayer Cast Extension is not compatible with Android 12"
Hello ExoPlayer team,

When trying to cast i'm getting this exception, this is reproducible on devices running on Android 12 only, it seems that a mutability flag is missing

[code]

[2021-10-04 19:51] luquilh opened #9529 "DASH ULL CMAF feature"
Hi! Can anyone tell me if ExoPlayer supports DASH ULL (Ultra Low Latency) with CMAF?
Starting with wich ExoPlayer version is this feature supported?

Particullarly, we need DASH ULL CMAF with both HD and UHD 4K video.

Thanks in advanced

[2021-10-04 21:21] ParticleCore commented on #6265
this issue was opened in 2019.
it's currently 2021, almost ending, and still no proper solution for this. forcing the use of an artwork by means of loading a chunk of video data can be quite expensive if it is a high resolution video, instead of just keeping the player unprepared and showing a custom image.

[2021-10-05 01:04] #9289 closed, assigned to ojw28

[2021-10-05 01:04] #8391 closed, assigned to icbaker

[2021-10-05 01:04] #7507 closed, assigned to AquilesCanta

[2021-10-05 02:05] aeg1990 commented on #9232
I have the auto play issue, as well as enabling any subtitles crashes the entire google tv with chromecast. Does not happen on my shield. Nor my other streaming devices.

[2021-10-05 05:31] NavdeepParasTech opened #9530 "I am not able to play .mkv url in exoplayer version 2.15.1"
I tried it in demo APP, I have 2 url with same extensions,
one is http://iptvfeed.com:80/movie/afXVkRKd8kGL/JpfcgLtZndnW/36169.mkv  which play well but it shows me error "Media includes audio tracks, but none are playable by this device".

Log for 1st url:
-------------------------
2021-10-05 10:57:05.552 24820-3473/com.google.android.exoplayer2.demo E/MediaStatisticsData: not supported vendor: mt

[2021-10-05 07:41] yyms3275 opened #9531 "Buffer setting and loading problems with video playback"
I am currently playing youtube url through exoplayer.
However, for some reason, there are times when the video is played immediately when it is loaded, but sometimes the buffering time is long.

Main symptoms:

1. 3~4 seconds of buffering occurs when loading video
2. Repeated buffy worms occur after video loading and playback

I am loading the video in the following way, which plays the video and

[2021-10-05 10:47] christosts commented on #6348
We pushed commit 7a2c7c3 that promotes the experimental asynchronous queueing feature to be used by default. This will be included on the next release (`2.16.0`) which is expected to be out during November 2021.

The player will use this feature by default on devices with Android 12+, but it will not enable it automatically for devices running previous Android versions. Asynchronous queueing large

[2021-10-05 10:47] #6348 closed, assigned to christosts

[2021-10-05 10:49] christosts commented on #5796
I'm closing this issue as we are going to release asynchronous queueing 7a2c7c3.

More information on this [comment](https://github.com/google/ExoPlayer/issues/6348#issuecomment-934292402) on #6348.

[2021-10-05 10:49] #5796 closed, assigned to christosts

[2021-10-05 10:49] christosts commented on #3375
Closing this issue as we are going to release asynchronous queueing (see 7a2c7c3)

More information on this [comment](https://github.com/google/ExoPlayer/issues/6348#issuecomment-934292402) on #6348.

[2021-10-05 10:49] #3375 closed, assigned to christosts

[2021-10-05 11:21] andrewlewis commented on #9529
I think this is supported though I'm not certain about using CMAF segments. Over to @christosts to confirm/correct. Thanks!

[2021-10-05 11:29] andrewlewis commented on #9530
For "Media includes audio tracks, but none are playable by this device", please take a look at the logging output by the demo app, and in particular the part showing tracks and `MediaCodecAudioRenderer` like the logcat snippet [here](https://github.com/google/ExoPlayer/issues/9482#issuecomment-930351714). That should show what codec is needed and not present on the device. The snippet of logging p

[2021-10-05 12:46] aemre commented on #9453
I adsmanager for custom ads ui.
How can I custom without adsManager?

[2021-10-05 12:49] andrewlewis commented on #9453
Do you want to do UI customization following the same approach as #9504 (disabling the IMA SDK UI (with the ad campaign allowlisted to be able to do this))?

[2021-10-05 13:20] ojw28 commented on #9528
This is not a bug in ExoPlayer, but is an issue that needs to be addressed by a new release of the Cast SDK (which ExoPlayer will then need to depend on). The underlying issue is tracked by https://issuetracker.google.com/195588434, and also [Internal ref: b/195476040]. There is a similar problem affecting the WorkManager extension (https://github.com/google/ExoPlayer/issues/9181).

Until the Cast

[2021-10-05 15:02] grndvl1 commented on #6265
Its google they work at their own pace.  Hence why I shy away from them when using new libs.  Have you tried changing the Closed Captions on a video?  Wow what an experience and a piece of bad coding searching for ways to do it and depending on versions of the library, functions may or may not be there.  It was a nightmare.  Anyway, I hope they prioritize this soon as its really something that sho

[2021-10-05 17:46] arunkumartdr commented on #9530
Try settiing Mimetype like this : ```  .setMimeType(MimeTypes.APPLICATION_M3U8)``` to your media item change mime type like m3u8,dash,mp4 etc.......

[2021-10-05 18:58] KasemJaffer commented on #8467
I just created PR containing the support for RF64 wave files. Hopefully it gets reviewed and merged soon

https://github.com/google/ExoPlayer/pull/9543

[2021-10-05 20:08] christosts commented on #9282
I'm afraid this has been given low priority and don't expect to work on this in the near future.

[2021-10-05 20:22] danish241194 commented on #9511
Yes, above mentioned points are contributing for my re-buffering event definition. In simple words i can say whenever player goes to Buffering state from Ready state without any user intervention (seek ) .

[2021-10-05 20:35] danish241194 opened #9533 "Ad cue points not getting removed after Ad completes"
Following is code snippet used for ad integration
[code]

Ads are running properly, but whenever some ad runs ,gets completed and if user seeks back to position before the same ad , the ad runs again.

I want one Ad at particular point to get played only once ,this ad should get removed from Ad Cue points once it runs. Is there any way of achieving this.

[2021-10-06 05:15] NavdeepParasTech commented on #9530
Hii @andrewlewis,

- For "Media includes audio tracks, but none are playable by this device" i have checked the logging output :

2021-10-06 10:50:43.235 4260-19899/com.google.android.exoplayer2.demo D/MediaCodecInfo: NoSupport [codec.profileLevel, avc1.640033, video/avc] [OMX.SEC.avc.sw.dec, video/avc] [a12, SM-A125F, samsung, 30]
2021-10-06 10:50:43.236 4260-4260/com.google.android.exoplayer2.de

[2021-10-06 06:20] boisset opened #9534 "Duration and time bar not display when play webm file in exoplayer 2.15.0"
When i play webm file with exoplayer 2.15.0 the duration is still 0 and time bar not display.
I use ExoPlayerDemo for my test and the file webm is in the zip
[108wvk31fdo2b9155s4sz.zip](https://github.com/google/ExoPlayer/files/7291287/108wvk31fdo2b9155s4sz.zip)

[2021-10-06 06:30] warren-bank opened #9535 "[question] how to configure PlayerView's surface type in such a way that it can play both av1 and non-av1 videos"
#### versions used in tests:

* ExoPlayer r2.14.2
* `av1` extension compiled on 2021-05-22

#### observed behavior:

* using `SimpleExoPlayer`
  - with:
    * `<com.google.android.exoplayer2.ui.PlayerView app:surface_type="surface_view" />`
    * `ConcatenatingMediaSource`
    * `av1` extension, using: `DefaultRenderersFactory.EXTENSION_RENDERER_MODE_ON`
  - when:
    * `ConcatenatingMediaSource`

[2021-10-06 08:16] dino-saurabh commented on #9479
We can close this Issue, the issue was with the stream itself. Thanks !!

[2021-10-06 08:16] #9479 closed, assigned to marcbaechinger, christosts

[2021-10-06 09:17] andrewlewis commented on #9533
Can you reproduce this in the ExoPlayer demo app at the latest version? Do you see IMA's ad overlay views (countdown timer, more info link) the first time the ad plays?

If we need to investigate further it would be useful to have a link to your ad tag, or at least a logcat snippet taking after a playback where you saw the issue, with debug mode enabled via `ImaAdsLoader.Builder.setDebugModeEnable

[2021-10-06 10:13] andrewlewis commented on #9535
This is tricky because I think `VideoDecoderGLSurfaceView` will only receive data from extension video renderers (the vp9 and av1 extensions) as they take a `VideoDecoderOutputBufferRenderer`, unlike `MediaCodecVideoRenderer` which just wants a `Surface`. This is probably why in the second scenario under 'observed behavior' you don't get any output for the first and third videos in the playlist.

[2021-10-06 10:23] andrewlewis commented on #9530
For the first issue, there is no renderer that can handle `audio/true-hd`. You could look into the ffmpeg audio renderer extension as an option for this, or connect an A/V receiver.

For the second issue, the situation is similar except that in this case it looks like the H.265/HEVC decoder can't handle the resolution/profile of the media you are passing to it:

[code]

Indeed the device doesn't r

[2021-10-06 10:23] #9530 closed, assigned to andrewlewis

[2021-10-06 10:30] andrewlewis commented on #9423
Right, I meant that you are using it as a proxy for that event. I still don't understand why you need to listen for the LOADED ad event at all.

It's absolutely fine to set play when ready to true while the player is buffering. The player will start automatically if/when it transitions to the READY state.

[2021-10-06 10:53] andrewlewis commented on #9531
As things stand I don't think we can efficiently investigate this as we don't have access to the media you are trying to play and you've made a lot of customizations. Please could you try removing some customizations one by one to simplify the setup? This may help diagnose where the issue is. For example, you could try removing the load control customizations, the caching layer and the merging (ju

[2021-10-06 12:37] krocard commented on #9511
`Listener.onPlaybackStateChanged` will be called when transitioning from state `READY` to `BUFFERING`. Nevertheless, it will not tell you why. `Listener.onPositionDiscontinuity` will be called if there was a seek, with the reason.
By listening to `Listener.OnEvent`, you will have all this information in one callback.

[2021-10-06 12:37] krocard commented on #9511
Does this answer your question?

[2021-10-06 15:51] andrewlewis commented on #9534
This is similar to #4856 -- `MatroskaExtractor` is not finding cues.

[2021-10-06 15:51] #9534 closed, assigned to andrewlewis

[2021-10-06 19:46] #9437 closed, assigned to ojw28

[2021-10-06 19:47] ojw28 commented on #9452
This is fixed by the three commits ref'd above (the second is a rollback, and third is a roll forward that includes a fix for the initial commit).

[2021-10-06 19:47] #9452 closed, assigned to ojw28

[2021-10-06 19:55] ojw28 commented on #9432
Agreed. The change to `StyledPlayerControlView` is a bit more complicated than just filtering out the forced tracks, because we'll need to make it so that selecting `None` still selects a forced track if appropriate (currently it disables the renderer).

[2021-10-06 19:57] #9405 closed, assigned to ojw28

[2021-10-06 19:59] ojw28 commented on #9405
Closing on the assumption this issue was caused by app specific customizations. If you're still stuck, please reply with a small sample project (as source code) that we can use to reproduce the problem, and we will re-open the issue and take a look.

[2021-10-06 20:20] #9524 closed, assigned to ojw28

[2021-10-06 20:21] ojw28 commented on #9500
The commit above will parse the MIME type, width and height for image adaptation sets. As noted above, you can either wait for the next release to get the functionality, or temporarily fork the dev-v2 version of DashManifestParser into your own code.

[2021-10-06 20:21] #9500 closed, assigned to ojw28

[2021-10-06 21:01] lambo81 opened #9537 "Just video, no sound with DASH format on Android 7.1 and Android 10"
I am using 2.14.0 of Exoplayer and in both of my Android devices (one is 7.1 and one is 10.0), the video plays without audio.

I don't know if it matters but in my grade file I have:

[code]

I created separate video and audio attribute sets via AWS MediaConvert:

[code]

Thanks

[2021-10-06 21:15] ojw28 commented on #9537
There is insufficient information here for us to help. We'd probably need a test stream to reproduce what you're seeing.

[2021-10-06 22:35] lambo81 commented on #9537
Yes sorry about that.  Here is the MPD

**REDACTED**

[2021-10-06 23:02] ojw28 commented on #9537
The sample provided plays fine for me in the ExoPlayer demo app, on both a Galaxy S 20 and a Pixel 5 API 29 (i.e., Android 10) emulator. The result is the same regardless of whether I use the latest release, or 2.14.0.

I would suggest you try to reproduce the issue with the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html), to rule out potential issues in your application code. If

[2021-10-06 23:04] warren-bank commented on #9535
#### versions used in tests:

* ExoPlayer r2.15.1
* `av1` extension compiled on 2021-10-03
* `ffmpeg` extension compiled on 2021-08-12

#### another interesting observation:

* using `SimpleExoPlayer`
  - with:
    * `<com.google.android.exoplayer2.ui.PlayerView app:surface_type="surface_view" />`
    * `ConcatenatingMediaSource`
    * `av1` extension, using: `DefaultRenderersFactory.EXTENSION_REN

[2021-10-06 23:31] lambo81 commented on #9537
I was not able to get it playing with the sampe project.

I also upgraded my project to 2.15.1, just to be up to date.

However, I was able to get this sample mpd file playing:

[code]

This is my mpd file:

[code]

My MPD was generated by AWS MediaConvert.  It must be missing something important for Exoplayer.  Any ideas?  Alternatively, are there any MPD auto generation tools you recommend?

[2021-10-07 01:04] #9135 closed, assigned to icbaker

[2021-10-07 01:04] #8037 closed, assigned to nishantkp

[2021-10-07 01:20] J6ey commented on #9432
@icbaker Yes, sorry I am using `StyledPlayerView` and `StyledPlayerControlView`. Thanks to that info, my team just added the `forced_subtitle` flags to our assets as it's also required for Bitmovin to display the forced captions during audio.

@ojw28 In the meantime, would I need to try customizing or overriding `PlayerControlView` layouts or try any workaround approach?

 Thank you guys for getti

[2021-10-07 01:36] lambo81 commented on #9537
Ok so the issue was that old mpd without audio was cached somehow.  I don't know if it was cached on my tablet or because it was served via cloudfront.  Does exoplayer implement any caching?

[2021-10-07 01:56] lambo81 opened #9538 "Skipping atom with length > 2147483647 (unsupported)."
Using 2.15.1.  I am serving mpd and media files via AWS Cloudfront:

[code]

A few seconds into the video, **public void onPlayerError(PlaybackException error)**, is triggered and the player goes to a Player.STATE_IDLE state.  I print out the exception stacktrace:

[code]

What does this mean?  What is this talking about?
I could be wrong, but I did some digging--does this have something to do wit

[2021-10-07 02:11] yyms3275 commented on #9531
If I remove all the settings and play, the symptoms get worse. Don't worry, it's a little less if you do the customization like that. The buffering of images is the same, and not all images show the same symptoms. However, the buffered image takes almost the same buffering. Do I need other options or other tuning than the ones I set?

[2021-10-07 04:20] ghost commented on #9474
@icbaker i sent an email attachments debug logging to dev.exoplayer@gmail.com. Please check it again!

[2021-10-07 05:44] vindhyapratap opened #9539 "How do you set the Album Art Image for an AndroidX MediaRouteCastDialog using the Exoplayer Cast Library extension"
My Question is clearly stated herein StackOverflow(https://stackoverflow.com/questions/64457358/how-do-you-set-the-album-art-image-for-an-androidx-mediaroutecastdialog-using-th). But no one answered this.

I stated here as well, I am using cast-extension of Exoplayer 2.15. Here we can pass Medi info in MediaItem. Setting MediaMetadata here I have option Title, Subtitle but not getting from where t

[2021-10-07 08:27] benlancaster commented on #9284
Thumbnails (for thumbnail scrubbing)

[2021-10-07 09:18] ojw28 commented on #9537
It's possible to enable caching, but it's disabled by default and also disabled in the demo app. So the issue was probably caching on the serving side.

[2021-10-07 09:18] #9537 closed, assigned to ojw28

[2021-10-07 09:25] Eric0021 opened #9540 "Hide debug banner when in playback view"
Hi, sorry if this is a really simple question as I am a complete noob in android development. I am running the exoplayer demo on my phone. When I am in playback view after having selected a video, there is this black overlay banner on the top that seems like a debugger, it shows the state of variables like playWhenReady and playbackState. How do I hide this overlay banner?

Thanks,

[2021-10-07 09:47] mike-targetr opened #9541 "SimpleExoPlayer audio fails after repeated use"
If SimpleExoPlayer is created, used and released many times, eventually audio stops working.

Audio in all apps then fails. Other apps that use ExoPlayer (e.g. YouTube) usually crash. The device must be rebooted to fix.

This appears to only affect Android 5+ devices, and may take thousands of repeats.

Affected devices:
Nvidia Shield
Some Minix devices

Usually the following exception is thrown:

[2021-10-07 10:35] PavelGP commented on #9469
Hi @ojw28, my question is about DASH streams. Thank you, I tested carefully with a quite old ExoPlayer version which we have in production 2.10.6 and just tried some times version 2.14.2 and I will try to test one more time with the latest version. We use 301 http response status for redirection but in PR https://github.com/google/ExoPlayer/pull/7064/files I can see 302 http status code in title.

[2021-10-07 10:57] ojw28 commented on #9469
The implementation applies to all redirects. It's not specific to 301. If you think that the manifest redirect isn't being cached for some media that you have, please provide a working link to that media (or a piece of test media that reproduces the issue) and we'll take a look.

[2021-10-07 11:03] andrewlewis commented on #9538
It looks like the media segment is not valid (or at least, not what `FragmentedMp4Extractor` is expecting to read). Specifically, at the point of reading an MP4 atom length from it read a number that is an excessively large number of bytes, which probably means it's reading garbage data.

I'd first check the code that's producing the media segments is set up correctly and check if there are any kn

[2021-10-07 11:12] abhishekpatil26 commented on #9526
Hi @icbaker & @andrewlewis,
Have already sent a mail with complete bugreport, please check and let us know if you need anything else.

[2021-10-07 11:49] ojw28 commented on #9432
It's not something you can solve with layout files. You would probably need to fork `StyledPlayerControlView` and edit the code. If you figure out a clean solution, you could also send a pull request back to the ExoPlayer project.

[2021-10-07 12:07] ominfowave opened #9542 "Video playback stops with error with Audio Codec Error after changing Audio track."
I'm getting the following error log when I change to audio track from default, the other audio plays for 1-2 seconds, and then video and audio both stop. This is specifically happening in Android 11 devices. The same video is working fine in Android 9.

--------------------------
Error log:
2021-10-07 17:20:39.176 6449-7372 E/MediaCodecAudioRenderer: Audio codec error
      java.lang.IllegalStateE

[2021-10-07 12:28] andrewlewis commented on #9540
You could hide it in the layout [here](https://github.com/google/ExoPlayer/blob/aa67685/demos/main/src/main/res/layout/player_activity.xml#L36), or remove it and the various the references using it in [`PlayerActivity.java`](https://github.com/google/ExoPlayer/blob/aa67685071a1507dfd199be53939c8d853131e65/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L127).

[2021-10-07 12:28] #9540 closed, assigned to andrewlewis

[2021-10-07 12:47] tonihei commented on #9519
[Solution tracked internally by b/202380939]

[2021-10-07 13:40] andrewlewis commented on #9531
If you play just the video URL in the ExoPlayer demo app (with no modifications) using [these instructions](https://exoplayer.dev/demo-application.html) do you still find that playback isn't smooth?

[2021-10-07 14:58] lambo81 commented on #9538
The media segments are created by AWS MediaConvert using the built in preset for 1920x1080 dash video.  I didn't find any bugs about their system although their may be.

I don't know how to figure out which media segment is being loaded, I assume there is a way to do this with ExoPlayer?  But even if I found out which segment, the real issue is a problem with conversion, right?

[2021-10-07 16:28] mike-targetr commented on #9541
Unfortunately even reusing the same exoplayer instances ultimately fails after about 15,000 plays with audio related problems:

The error on Nvidia Shield is:

	10-07 17:22:13.537 E/IAudioFlinger(27780): createTrack returned error -12
	10-07 17:22:13.537 E/AudioTrack(27780): AudioFlinger could not create track, status: -12 output 1280723605
	10-07 17:22:13.537 E/AudioTrack-JNI(27780): Error -12 in

[2021-10-08 00:07] Eric0021 commented on #9540
Thank you for the response Andrew, it is fixed.

[2021-10-08 00:09] LupuFlaviu opened #9544 "Cannot play rtsp stream"
I've integrated the library in a simple test app where I just want to play a rtsp stream. When I try to play this public rtsp stream (rtsp://demo:demo@ipvmdemo.dyndns.org:5541/onvif-media/media.amp?profile=profile_1_h264&sessiontimeout=60&streamtype=unicast) that uses DIGEST authentication I get a "DESCRIBE 503" error. I've posted some logs below, maybe they are more helpful. Sometimes the stream

[2021-10-08 01:04] #9340 closed, assigned to ojw28

[2021-10-08 01:32] dubeyabhijeet opened #9545 "How to build exoplayer to play videos on phone file manager?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-10-08 09:29] andrewlewis commented on #9545
Closing as the new issue template was not filled out so we don't have enough information to help.

[2021-10-08 09:29] #9545 closed, assigned to andrewlewis

[2021-10-08 09:29] andrewlewis commented on #9544
@claincly Please could you take a look?

[2021-10-08 09:57] claincly commented on #9544
In general a 5xx error signals some sort of server error.

But in order to investigate on our end,please provide a log of RTSP messages.

The easiest way is to use the `RtspMediaSource.Factory` method `setDebugLoggingEnabled()`

[2021-10-08 10:40] yyms3275 opened #9546 "Streaming playback related loading and buffering issues response questions"
◈ Symptoms ◈

I'm making a sample that plays a YouTube URL based on the ExoPlayer library. However, some specific videos require a lot of loading time during playback. If you play it once and then play it again, sometimes it loads quickly, but many videos require a long loading time such as buffering when starting for the first time.

The ProgressiveMediaSource method and the MergingMediaSource fu

[2021-10-08 10:54] guoen21 opened #9547 "Add support for HLS AUDIO group"
### Use case description
Currently the audio group is unavailable, when the player adaptive switch to one alternative video track, the audio does not switch the audio track defined on "AUDIO" of this video track.

Here are one example, the manifest defined 6 video tracks with main and backup stream, for each video track defined the audio group. Also defined the 18 audio tracks, for each audio grou

[2021-10-08 11:20] billyjoker opened #9548 "DRM gives me an exception when I call downloadLicense, how to request keySetId ?"
Hi I was updated to Exoplayer 2.14 recently but I have problems with the update of the downloadLicense request, it throws me an exception:

[code]

The problem was obtaining the keySetId, my code:

[code]

I get the formatSimple properly, but when call `downloadLicense`, if I debug I see a point inside the `blockingKeyRequest` method that does

`byte[] keySetId = drmSession.getOfflineLicenseKeySet

[2021-10-08 11:48] icbaker commented on #9546
This looks like a duplicate of #9531. Please don't open additional issues for the same question.

Also note that ExoPlayer does not support playing YouTube videos: https://exoplayer.dev/troubleshooting.html#can-i-play-youtube-videos-directly-with-exoplayer

[2021-10-08 11:49] icbaker commented on #9548
The HTTP 500 error in the stack trace is coming from your DRM license server - you should look in the server logs to understand the cause of that.

[2021-10-08 12:02] #9531 closed, assigned to andrewlewis

[2021-10-08 12:38] Tolriq commented on #9443
After more digging the issue is more about emulator and random codec init issues taking time then falling back to ffmpeg. Release mode on real device have proper performance when adding all the items in large batches.

[2021-10-08 12:38] #9443 closed, assigned to krocard

[2021-10-08 14:23] andrewlewis commented on #9547
@christosts Please could you take a look? Thanks.

[2021-10-08 14:27] andrewlewis commented on #9546
I don't think it's going to be productive for us to spend time looking into this as it seems likely these streams are not intended to be loaded in this way. As @icbaker indicates, we don't support playback of YouTube videos and instead you should be using the [proper API](https://developers.google.com/youtube/android/player/) for doing that.

[2021-10-08 14:27] #9546 closed, assigned to andrewlewis

[2021-10-08 14:32] andrewlewis commented on #9539
@marcbaechinger Please could you take a look as a Cast extension question? Thanks.

[2021-10-08 14:37] christosts commented on #9411
The root cause is similar to that of #2233, although it manifests differently in recent ExoPlayer versions (we are now in `2.15.1` compared to `2.1` at #2233).

The segment durations listed in the audio media playlists are rounded to integer precision. When the player seeks, it picks a segment based on the playlist information however the timestamps of the downloaded audio segments are behind the

[2021-10-08 14:37] #9411 closed, assigned to christosts

[2021-10-08 14:40] andrewlewis commented on #9541
If you comment out the code in the `SimpleExoPlayer` constructor that generates an audio session ID (and remove usages of it) does the problem go away? I'm just trying to eliminate the possibility that the root cause is something different.

Can you share any specifics? It seems like the best way to avoid this problem.

Do the lifetimes of the player instances overlap?

[2021-10-08 14:41] christosts commented on #2233
This came up in #9411. As of `2.13.1`, the rounded audio segment durations manifested with audio being out of sync with video. I updated the title of the issue since as of `2.13.1`, the issue may manifest in different ways.

[2021-10-08 14:58] LupuFlaviu commented on #9544
I'm keen to think the same, that the server is the problem but I wanted to double check, maybe something is missing/done wrong in the ExoPlayer. Or does someone have other rtsp streams to share? Preferably with authentication.

I cannot find the setDebugLoggingEnabled() method if I get the dependency from the Google Maven repository. Should I add it as a module of my app? In that case, what branch

[2021-10-08 15:42] christosts commented on #9388
Can you please share a URL to your content for reproduction? If you cannot share it publicly, please send it to dev.exoplayer@gmail.com with the subject "Issue #9388". I can see from the logs AudioSink is complaining about unexpected pts in the audio samples

We need the content to debug if this is coming from the content itself or the player.

Thanks.

[2021-10-08 15:43] claincly commented on #9544
I'll try the link thanks!

For future reference, this is how to build exoplayer using that factory method:

[code]

[2021-10-08 15:55] christosts commented on #9510
May I assume that the issue is not occurring any more? And therefore we can close this issue?

[2021-10-08 16:00] christosts commented on #9529
Yes, please refer to the [format support](https://exoplayer.dev/supported-formats.html#adaptive-streaming) and our related [blog post](https://medium.com/google-exoplayer/low-latency-live-streaming-with-exoplayer-8552d5841060) for low-latency support (DASH & HLS).

Feel free to file an issue if your low-latency streams do not work as expected.

[2021-10-08 16:00] #9529 closed, assigned to christosts

[2021-10-08 17:05] icbaker commented on #9526
This looks like a problem coming from the device's widevine implementation (not sure if the top two lines are relevant, but I've included them just in case):
[code]

@rrfrias could you take a look?

[2021-10-08 17:07] icbaker commented on #9474
The drive link provided over email seems to be restricted, I'm not able to access it.

[2021-10-08 17:16] mike-targetr commented on #9541
As above, I also had audio problems when reusing players and so it is not the allocation of audio session IDs (since I only allocated 3 in total). - This seemed to be the most logical assumption that could affect other apps that play audio (such as YouTube), but I was wrong, its deeper.

The lifetime of the instances do overlap. Basically I prepare the next exoplayer just before the current exopla

[2021-10-08 17:33] andrewlewis commented on #9541
You might want to monitor `adb shell dumpsys media.audio_flinger` during this playback and look whether the number of allocated `AudioTrack`s is exceeding some threshold when the error happens. I think each track consumes a piece of some (relatively small) shared memory buffer so one possible explanation is that this is not a small leak but instead it's a race condition that just takes a long time

[2021-10-08 17:36] andrewlewis commented on #9542
Please could you provide the output of `adb bugreport` taken just after reproducing the error? You can attach it here or email it to dev.exoplayer@gmail.com with subject "Issue #9530" (and update this issue to indicate you've done this). The MP3 decoder is failing (`Decoder failed: c2.android.mp3.decoder`) and there's likely to be more diagnostic information logged just before the error.

[2021-10-08 17:51] mike-targetr commented on #9541
This output looks really useful. Amongst the reams of info I see: `2 Tracks of which 1 are active` which sounds spot on given I only recently started the app. I'll keep an eye on this.

Is there anyway of forcefully destroying inactive Audio Tracks? I have been rebooting, but I believe entering standby and returning works too.

What is particularly nasty about this issue is it prevents audio worki

[2021-10-09 01:26] VeiZhang commented on #9388
@christosts ok, I send again, please check.

[2021-10-09 04:01] TimchenKKBOX commented on #9360
Hi,
maybe this issue is related to https://source.android.google.cn/devices/media/oem ?

[2021-10-09 04:39] ghost commented on #9474
@icbaker sorry, please check again. i sent a new one

[2021-10-09 09:20] lakshaymudgal88 opened #9550 "android.app.remoteserviceexception: bad notification for startforeground"
#1234
Hi Exoplayer Team, I am getting errors with the latest version 2.15.1 when trying to show notifications in the notification tray. Why is this issue here? I am using the following code.

[code]
and in the notificationlistener my code is

[code]

the notification listener code works well in android 11 1 yeat back when I think I am using the 2.10.0 version, but now I think the issue is in andro

[2021-10-09 09:55] PeOS-China opened #9551 "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.amlogic.avc.decoder.awesome"
**old issues:https://github.com/google/ExoPlayer/issues/8643
Is there a fix for this Issues? My code has similar errors on some machines, I am using EXOPlayer version is 2.15.1，and the exception log is as follows:**
[code]

[2021-10-09 10:35] LupuFlaviu commented on #9544
Got you the logs that you asked for.
[rtsp-logs-enabled.txt](https://github.com/google/ExoPlayer/files/7315398/rtsp-logs-enabled.txt)

[2021-10-09 18:05] mike-targetr commented on #9541
After almost exactly 24 hours exoplayer started failing again. I now see.

`40 Tracks of which 40 are active`

I checked multiple times over last 24 hours and there were never more than 2 tracks. Very strange that this would jump to 40.

A way of destroying audio tracks could be a possible work around. - disabling and enabling audio renderers had no effect.

[2021-10-09 18:09] andrewlewis commented on #9541
Agreed.

[`AudioTrack.release`](https://developer.android.com/reference/android/media/AudioTrack#release()) should be sufficient. You could add logging in `DefaultAudioSink` where an `AudioTrack` is instantiated and where it's released (before and after the call to `release`), to verify that the number of reported instances matches between the dumpsys and the logging.

[2021-10-10 06:29] dubeyabhijeet opened #9552 "How to use exoplayer demo app to play local video files?"
Hi,

I want to use exoplayer to test Video performance. Idea is to use different performance metrics to get the platform performance issues. So, my query is how to use the demo exoplayer app to play local video files on phone ?

I want to run different videos to get dropped frames rather than relying on surfaceflinger frame drop.

Right now we can only stream different video files by configuring t

[2021-10-10 16:16] FunkyMuse commented on #9528
That's the current workaround yes, thank you for the detailed answer.

[2021-10-10 16:23] flavian-anselmo commented on #6168
having the same problem when using video controller and chewie controller once i try to display multiple videos,Some of the videos work while others just appear black

[2021-10-10 19:16] mike-targetr commented on #9541
Failed again after 24 hours. I used completely different videos with different durations.

Something I noticed:

When everything is fine:

          2 Tracks of which 1 are active
    T Name Active Client Session S  Flags   Format Chn mask  SRate ST  L dB  R dB  VS dB   Server FrmCnt  FrmRdy F Underruns  Flushed   Latency
         0    yes  15507    5745 A  0x000 00000001 00000003  44100  3     0

[2021-10-10 19:56] vovan888 opened #9553 "Improve stuck buffering detection to explicitly detect that no buffer is available for rendering"
When playing a specific HLS VOD stream the playback always stalls (video freezes, audio stops, CC stops) at the same time and at the same frame (around the 8 minutes from the beginning). Pausing/unpausing does not help. Seeking helps to resume playback.

I tried to debug the issue after playback stops: LoadControl reports that the media buffer is full (at 50seconds). But both Video and Audio rende

[2021-10-11 01:25] jkojjcn commented on #8473
If you use video_player, for each video you should to use: _controller.dispose();
This fix for me.

[2021-10-11 07:08] PeOS-China commented on #9551
When recording a video with the camera, change code ：
`mediaRecorder.setVideoEncodingBitRate(6 * 1024 * 1024)`
 to code ：
`mediaRecorder.setVideoEncodingBitRate(5 * 1024 * 1024)`
, and the recorded video can be played normally

[2021-10-11 07:08] #9551 closed, assigned to nobody

[2021-10-11 08:41] kalpeshat20 opened #9554 "Live stream buffering"
Hi,

I am working on live stream/radio app, in my case if I pause the stream from PlayerNotificationManager and resume its get started from last index i.e. where ever I had pause.

I want to play the stream from from the latest playing index, from UI am able to achieve that by using seekTo(0) but from notification am not able apply seekTo() method as it cause different behavior.

I want some liste

[2021-10-11 09:36] wangxuan217 commented on #9552
You can put some media resources locally (and make sure you have permission to them), and then call them in this way
[code]

[2021-10-11 09:42] wangxuan217 commented on #9542
From the log, it doesn't seem to be the problem of exo. It seems to be the lack of decoder. Is the media resource played by the developer MPEG2?

[2021-10-11 10:20] claincly commented on #9550
I have trouble understanding your question. It seems the notification works with Android 11 and ExoPlayer 2.10.0?

@marcbaechinger Could you take a quick look to see if it's related to #8500?

[2021-10-11 10:23] claincly commented on #9552
I'm not sure what is lacking if you modify the `media.exolist.json` file? Is it that you want to play local videos continuously? If that's the case you can take a look at [playlist](https://exoplayer.dev/playlists.html).

[2021-10-11 10:29] claincly commented on #9553
There can be multiple reasons that a renderer is not ready, for example, the ts file is malformed and the renderer receives no data. It is very hard to pinpoint the issue without a test link.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234

[2021-10-11 10:30] claincly commented on #9554
@marcbaechinger could you take a look?

[2021-10-11 10:41] ojw28 commented on #9552
See also [this documentation](https://exoplayer.dev/demo-application.html#playing-your-own-content), which includes a description of how to launch the demo app using intents and/or via `adb shell`. That said, you should probably just edit the demo app source code to make it do exactly what you want.

[2021-10-11 11:37] sanojlawrence opened #9555 "MediaQueue: Error fetching queue item ids (error for a local file)"
I was working around with exoplayer-cast demo app, And i wanted to play a local mp4 file from my device storage.
The mp4 video was playing on player so i wanted to play on cast, when i tried to mp4 file i get following error.

[code]

that's the only message am getting in log.

Exoplayer version : 2.15.1

sample file : https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_640_3MG.mp

[2021-10-11 12:23] dubeyabhijeet commented on #9552
@claincly media.exolist.json will stream video from some domain where video are hosted. My requirement is keep videos in phone file manager and run exoplayer . Collect all performance metrics for different type of videos.

[2021-10-11 12:31] claincly commented on #9552
You can put local file path in media.exolist.json. The player will
recognize it's a local file. Please also see Oliver's comment above.

On Mon, Oct 11, 2021 at 1:23 PM dubeyabhijeet ***@***.***>
wrote:

[2021-10-11 14:19] inv3rse commented on #9510
Correct, the issue is not occurring anymore. But that is the result of a server side change.
I did not find any direct documentation whether such an EXT-X-DISCONTINUITY-SEQUENCE difference would be valid according to the HLS spec or not.

But since other players on iOS, web and desktop (vlc) did play the content correctly I guess that a sequence offset is at least not completely invalid.
Unless co

[2021-10-11 21:56] user849651 opened #9556 "Best practices: ExoPlayer that gets passed between activities/fragments/adapters?"
I have a fairly complicated use case. I'm not looking for specific code, but more high-level technical help about how to best approach this situation.

Here is how I would like my app to work:

- The main page of my app is a `RecyclerView` where each item has a video. Only one video should play at a time as the user scrolls down (the first fully visible one).
- Tapping on a video in the `RecyclerV

[2021-10-12 01:04] #6475 closed, assigned to andrewlewis

[2021-10-12 01:20] joechan-cq commented on #6168
I think the only solution to this issue is ffmpeg-softdecoder. The num of this problem occurred has been reduced to 5% (7000 to 400) after using softdecoder.

[2021-10-12 06:28] Taranlayal10 opened #9557 "[Widevine] [MPD Content] No Audio without Headphones"
Hi @ojw28

I have a content that is playing video without any issue but audio is not coming for it. If I play the same content by using any ear phone then I can hear the audio. I have tried the playback in the Sample Exo player as well and observed the same issue.

Please help with this issue at your earliest.

ExoPlayer Version
2.11.5

I have sent the bug report and adb logs to dev.exoplayer@gmai

[2021-10-12 07:53] strangesource commented on #9411
Thanks for the detailed feedback, I will have a closer look and take according actions. 👍

[2021-10-12 07:55] kalpeshat20 commented on #9554
Its urgent please provide your feedback.

[2021-10-12 10:05] yogeshchoudhary-gts commented on #9319
+1

[2021-10-12 10:38] claincly commented on #9555
Playing a local file on cast devices would require a local server to stream the file content to the cast device.

Please see

#7249
#7110
#4995

[2021-10-12 10:45] claincly commented on #9556
The best approach would be keep one player instance and use it. If you spin off multiple players, there will be time wasted in things like codec init; and you might run out of available codec.

Please also ref #8189 and #867, there are many useful discussions.

[2021-10-12 10:54] ooyellow58 commented on #1488
The point is whether have you solved the issue after so many years past? If you need examples, I can send to you.

[2021-10-12 12:43] RaghuMudem commented on #9426
@ursurya let us know if you have already done this. we are at the similar situation.

[2021-10-12 13:23] KuldeepRautela opened #9558 "How to make media Source with raw byte array of video?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-10-12 13:59] icbaker commented on #9558
Have you tried using [`ByteArrayDataSource`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/ByteArrayDataSource.html)?

If you need more help please provide more information about what you've tried and what exactly you're struggling with.

[2021-10-12 19:59] LupuFlaviu commented on #9544
@claincly I also found another possible problem. When using Basic authentication, the header is constructed as "Authorization: QWxhZGRpbjpvcGVuIHNlc2FtZQ=="
Shouldn't it be "Authorization: **Basic** QWxhZGRpbjpvcGVuIHNlc2FtZQ==" as stated here https://en.wikipedia.org/wiki/Basic_access_authentication ?

[2021-10-13 01:38] patrick-cpka commented on #9556
@claincly

What's the best approach to keeping just one player instance for ExoPlayer? Single-activity architecture, Singleton, something else?

[2021-10-13 03:22] user849651 commented on #9556
@claincly

What's the best approach to keeping just one player instance for ExoPlayer? Single-activity architecture, Singleton, something else?

[2021-10-13 04:28] VeiZhang opened #9559 "Multi ExoPlayer to playback multi videos in the same time"
Does Exo support to playback multi videos in the same time by using multi instance?

I make the test, use two ExoPlayer instance to playback two different video, but something wrong, only one video works, others will stop.

[2021-10-13 05:26] KuldeepRautela commented on #9559
You have to make two different media sources for both players.I have used it it works

[2021-10-13 05:40] KuldeepRautela commented on #9558
But how will I convert ByteArrayDataSource to Media Source because exoplayer only supporting media source.

[2021-10-13 05:42] KuldeepRautela commented on #9558
I am using this code :
[code]

[2021-10-13 05:42] KuldeepRautela commented on #9558
But now I just want to play the byte stream I have.

[2021-10-13 05:50] VeiZhang commented on #9559
@KuldeepRautela Yes, I did, but same result.

[2021-10-13 05:51] KuldeepRautela commented on #9559
private fun initPlayer()  {
        firstVideoPlayer = context?.let {
            SimpleExoPlayer.Builder(it).build()
        }
        secondVideoPlayer = context?.let {
            SimpleExoPlayer.Builder(it).build()
        }
        simpleCache = CachingHelper.simpleCache
        cacheDataSourceFactory = CacheDataSourceFactory(
            simpleCache,
            DefaultHttpDataSourceFactory(

[2021-10-13 05:51] KuldeepRautela commented on #9559
This is my code and it is working.

[2021-10-13 06:59] yanivshaked commented on #9408
@christosts Any update on this issue? Timeline?

[2021-10-13 08:10] VeiZhang commented on #9559
@KuldeepRautela Thanks. I create two SimpleExoPlayer too. And I create a sample demo, it works.
But I don't know why my project not work.

[2021-10-13 08:32] abhishekpatil26 commented on #9526
@rrfrias @icbaker any update on the above mentioned issue?
also let me know if you need anything else.

[2021-10-13 09:21] claincly commented on #9556
I'm afraid that should be specific to your own application, i.e. do you handle player state changes from many different places, etc.

[2021-10-13 09:35] icbaker commented on #9558
You don't want to convert a `DataSource` to a `MediaSource`. These are distinct ExoPlayer components with different roles and responsibilities:
* https://exoplayer.dev/glossary.html#mediasource
* https://exoplayer.dev/glossary.html#datasource
* See also this diagram: https://exoplayer.dev/glossary.html#exoplayer

You want to configure your `MediaSource` to use your `ByteArrayDataSource`. You can d

[2021-10-13 09:38] claincly commented on #9559
What do you mean by one works the other don't? Is it the other video doesn't start playback? please specify.

It's also possible that your device does not have sufficient hardware resources at the time to support playing back two videos, please see https://github.com/google/ExoPlayer/issues/1286#issuecomment-200854838

[2021-10-13 09:46] VeiZhang commented on #9559
@claincly Two videos start together, the first one show a picture. Then second one show a picture, and in the same time, the first one stop and show a black screen. From this situation, I think the two video start playback, but the second affect the previous.

But if hardware have effects, why I create a demo which can work. I am confused.

[2021-10-13 09:49] claincly commented on #9559
Please provide a bug report. At the same time you can try running the app on another device (not emulator).

[2021-10-13 10:08] bearboob commented on #9388
I use exoplayer demos-main to play and meet the same problem.

* ExoPlayer version number
2.15.1

* Android version
Android 11

* Android device
Amlogic and Realtek

10-13 09:51:32.146  5953  5953 D EventLogger:   period [?]
10-13 09:51:32.146  5953  5953 D EventLogger:   window [?, seekable=false, dynamic=false]
10-13 09:51:32.146  5953  5953 D EventLogger: ]
10-13 09:51:32.155  5953  5953 D Even

[2021-10-13 11:29] mohitchauhan opened #9560 "Player got stuck in case ad is not loaded by IMA (stuckElapsedRealtimeMs not working)"
Frequency -: 100% Reproducable

Steps to reproduce:- 1. Start Exo Player with vmap setup having adbreaks e.g pre-roll, mid-roll 1, 2, 3

2. When content playback reaches close to mid-roll and VAST request made by IMA don't have any valid ads(Vast Sample attached ). AdEvent: {errorMessage=Linear assets were found in the VAST ad response, but none of them matched the video player's capabilities., er

[2021-10-13 12:06] ProtoScott opened #9561 "5.1 AAC not correctly decoding on a Sony Bravia TV within ExoPlayer"
There seems to be a problem with Sony TVs running ExoPlayer that they are not correctly decoding 5.1 AAC as 5.1, other devices all playback 5.1.

- Clear reproduction steps including observed and expected behaviour

Play the 5.1 AAC below in ExoPlayer on a Sony TV connected to an AVR (5.1 home theatre system), observe that the AVR reports that the track is a 2.0 stereo track.

Play the 5.1 AAC bel

[2021-10-13 12:31] KuldeepRautela opened #9562 "ExoPlayer giving out of memory issue while playing 4k videos."
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-10-13 12:58] icbaker commented on #9557
Thanks for the bug report - it looks like this was taken from a Pixel (1). Both the bug report and adb logs look like they're running 2.11.0 not 2.11.5:

I didn't see anything obvious in the bug report that would explain the symptoms you describe. Some follow-up questions:
1. When you say 'using any ear phone', are these bluetooth, wired 3.5mm or wired USB-C headphones?
2. Have you observed the sa

[2021-10-13 15:11] claincly commented on #9561
Can you confirm if the behaviour is observed using our demo app? The demo app running on phones can decode your linked file to 5.1.

Also, please attach a bug report so that we could check for other things, like `MediaCapability`, etc.

[2021-10-13 15:12] claincly commented on #9562
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-10-13 17:27] #9446 closed, assigned to kim-vde

[2021-10-13 17:41] chtr-dev-msummsers opened #9563 "DASH: Improve handling of EMSG tracks"
Hello,

Our project has a requirement to report some 3rd party ID3 metadata contained within our DASH streams.
This metadata is in the format of `<InbandEventStream>` XML tags inside audio `<AdaptationSet>` of our manifests in addition to emsg atoms in the fMp4.

Example from manifest:
`<AdaptationSet lang="en" segmentAlignment="true" mimeType="audio/mp4" startWithSAP="1">`
`<InbandEventStream sch

[2021-10-13 18:36] ojw28 commented on #9181
It should now be straightforward for applications to work around this problem by adding an explicit dependency on `implementation 'androidx.work:work-runtime:2.7.0'` in the application `build.gradle`. We will also be updating ExoPlayer's WorkManager extension to depend on this WorkManager release.

[2021-10-14 01:25] VeiZhang commented on #9559
Maybe u are right, the successful demo use two raw resource video, it works, but failed to playback two network stream or file video.

Here is the log:
[code]

[2021-10-14 05:24] SashiWork opened #9564 "Casting HLS AES content"
Hi,

I'm trying to find a way to Cast the HLS AES content.
But I couldn't find a way to set a Media Source with custom DataSource.Factory to the CastPlayer.

If there is any way we can achieve this through CastPlayer, please let me know.

[2021-10-14 06:30] rrfrias commented on #9526
@abhishekpatil26 I would like your permission to share the bugreport with Qualcomm to investigate furthur.

[2021-10-14 09:36] claincly commented on #9560
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-10-14 09:41] claincly commented on #9564
Why do you have to set a DataSource factory for playing back DRM content?

Maybe I'm missing something, please clarify.

[2021-10-14 10:14] claincly commented on #9559
I see there are log lines with `playWhenReady [eventTime=2.50, mediaPos=0.30, window=0, period=0, false, AUDIO_FOCUS_LOSS]`.

I suspect the problem becomes, if you are playing two videos side by side, which audio do you want? The easiest way to play both audio is adding
[code]
to both player instances.

Maybe related: #7089, #6203

[2021-10-14 10:30] ojw28 commented on #9563
Thanks for the detailed report and easy reproduction steps! I think the media is valid. I can explain what the difference is between the working and broken samples provided.

If you look at the manifests, you can see there's a difference in structure between the two:

[code]

The problem is that ExoPlayer will only output EMSG data from one of the adaptation sets, and it picks the first one that d

[2021-10-14 10:41] SashiWork commented on #9564
We are not using DRM content,
We are using HLS AES encrypted content provided by our BE team. To play the content we will be passing the Token for it through DataSource.

If any clarifications required please do let me know.

[2021-10-14 13:14] abhishekpatil26 commented on #9526
@rrfrias yes, please go ahead and share with them, also do let me know if they require anything else.

[2021-10-14 14:25] Koster35 opened #9565 "Significant frame drop while playing 1920x1080 HLS video tracks on AFTSSS and AFTSS"
### [REQUIRED] Issue description
Fire TV Stick - 3rd Gen (2020) (AFTSSS) and Fire TV Stick Lite - 1st Gen (2020) (AFTSS) consistently drop frames while playing 1920x1080 video tracks in HLS streams.

This bug report is a copy of a bug report I created on the Amazon ExoPlayer port repo: https://github.com/amzn/exoplayer-amazon-port/issues/115
I haven't received any response on that repo, so I am re

[2021-10-14 16:05] #9181 closed, assigned to ojw28

[2021-10-14 16:39] victorraft commented on #5417
Come on, guys, please fix this :(

[2021-10-14 17:32] ojw28 commented on #9563
Things to look at on the ExoPlayer side:

* Make it easier for apps to select which metadata track is output. For example, by getting the schemeIdUris into the track somehow, and allowing selection via `DefaultTrackSelector`.
* Whether it makes sense to expose `urn:mpeg:dash:event:2012` as a track at all, given these events are handled internally within the player. Note that if we don't expose it,

[2021-10-14 18:58] chtr-dev-msummsers commented on #9563
Thank you for the quick response!
I am glad we could make it easy for you to identify the problem, and am looking forward to the fix.
You weren't kidding ExoPlayer doesn't make it easy to select a preferred adaptation set for EMSG.
Took a stab at trying the suggested work-arounds by setting a custom manifest parser on the media source factory, and the easiest option appears to be resorting the ada

[2021-10-15 01:04] #9427 closed, assigned to Samrobbo

[2021-10-15 01:45] rrfrias commented on #9360
Yes. Sharp did confirm that AQUOS sense3 SHV45 is only able to display one secure video at a time. I have not heard back from Sony or Samsung but i suspect those devices have the same issue. To check if  a device supports-multiple-secure-codecs, you will need to check [MediaCodecInfo.CodecCapabilities#getMaxSupportedInstances](https://developer.android.com/reference/android/media/MediaCodecInfo.Co

[2021-10-15 01:52] TimchenKKBOX commented on #9360
Hi @rrfrias ,
The information is helpful for us
I think you could close this issue because the investigation shows the capability comes from OEM and Vendor, too.
Thank you

[2021-10-15 02:04] rrfrias commented on #9526
Thanks. We are following up with Qualcomm (Internal ref#: 203154116)

[2021-10-15 02:18] ayeshq opened #9566 "Concatenating media source as a single media item"
I'm working on a simple audio player, which plays audio stories, every story is divided into multiple media items as a playlist, I'm using the `ConcatenatingMediaSource` with no issues at all as follows:
[code]
However the required playback behavior for the app is to play all tracks sequentially as a single audio file, so if the user uses the seek bar the player would seamlessly know if it should

[2021-10-15 02:44] psycureaws opened #9567 "How to show multiple playerViews simultaneously with one simpleExoPlayer instance?"
I am developing a video streaming app with android.

And I found some problem while developing using exoplayer2.

I want to show multiple playerViews simultaneously with one simpleExoPlayer instance

But I couldn't assign the same simpleExoPlayer instance to multiple playerViews.

How to show multiple playerViews simultaneously with one simpleExoPlayer instance?

Below is the code I wrote.

    pl

[2021-10-15 03:38] sunnybaby opened #9568 "Why Format.language use 2-letter code?"
Hello,

Recently, we found that the language code will be defaultly converted to 2-letter when Format built.
Related codes shown below.
[https://github.com/google/ExoPlayer/blob/95e6db931a047775c1aa792c452be7996167a08f/library/common/src/main/java/com/google/android/exoplayer2/Format.java#L924](url)

    id = builder.id;
    label = builder.label;
    language = Util.normalizeLanguageCode(builder.

[2021-10-15 05:15] colorhaake commented on #9423
I just create a [test app](https://github.com/colorhaake/ExoplayerIssue). You could try it.
Please see the `AdsExoPlayerFragment.kt` to test the issue.
[code]

[2021-10-15 06:40] lizuojing opened #9569 "action&ReceiveClass : android.net.conn.CONNECTIVITY_CHANGE&com.google.android.exoplayer2.upstream.DefaultBandwidthMeter$ConnectivityActionReceiver."
action&ReceiveClass :
android.net.conn.CONNECTIVITY_CHANGE&com.google.android.exoplayer2.upstream.DefaultBandwidthMeter$ConnectivityActionReceiver.
exoplayer verison infomation:
implementation "com.google.android.exoplayer:exoplayer-core:2.12.2"
implementation "com.google.android.exoplayer:exoplayer-ui:2.12.2"
implementation "com.google.android.exoplayer:exoplayer-hls:2.12.2"

[report_log_2021-09-

[2021-10-15 07:47] kmrinmoy07 commented on #9481
Hi, Can anyone of you please look into this issue

[2021-10-15 07:53] tonihei commented on #9568
I think the confusion may be that ISO 630 Part **1** covers the **2** letter codes and ISO 630 Part **2** the **3** letter codes. The variable names refer to the length of the codes, not the parts of the ISO spec.

The general reason is that we need to normalize language codes to a single format that allow comparisons, ordering etc. ExoPlayer receives language codes from 3 different sources: The s

[2021-10-15 08:00] tonihei commented on #9566
This is a duplicate of #4868. The goal is to have a `MediaSource` that fully combines all individual items to one single `MediaItem` with the combined duration.

[2021-10-15 08:00] #9566 closed, assigned to tonihei

[2021-10-15 08:50] #9360 closed, assigned to TimchenKKBOX

[2021-10-15 09:23] claincly commented on #9565
The bug report you linked to doesn't seem to contain enough information about the codec setup.

I'm surprised 1080p AVC is reported to be not supported by the decoder, but ExoPlayer is not able to change that. Furthermore, I wouldn't be surprised that a software decoder performs poorly on a fire stick.

[2021-10-15 09:25] claincly commented on #9569
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-10-15 09:31] claincly commented on #9567
It's not the intended use case for ExoPlayer, and I don't think it will work. I would suggest using two player instances.

But I think I might be missing something here, so please specify what is the reason that you want to share a player across many player views?

[2021-10-15 09:59] ojw28 commented on #9360
I wonder if we should add a note about this to our DRM documentation page.

[2021-10-15 10:28] guoen21 commented on #9547
Can anyone answer this question? Thanks.

[2021-10-15 19:05] persadaditya commented on #8473
i just handle _controller.dispose(); before super.onDispose();
then add
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    in android manifest.

 if its not you want, just add uniqueKey for videoPlayer

[2021-10-15 19:07] persadaditya commented on #8473
i mean add this in your manifest
uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"

[2021-10-15 20:31] HectorRicardo opened #9570 "Drawable for thumbs up/down icon?"
Simple question...do you have a drawable for a thumbs up/down icon?

I was expecting to find those drawables under [/library/ui/src/main/res/drawable-anydpi-v21](https://github.com/google/ExoPlayer/tree/release-v2/library/ui/src/main/res/drawable-anydpi-v21), but I was surprised I didn't, given that those icons are commonly used.

![image](https://user-images.githubusercontent.com/16261233/1375498

[2021-10-15 20:37] shadowrom76 commented on #9232
I have the auto play issue, as well as enabling any subtitles crashes the entire google tv with chromecast.

THIS IS NOT DEVICE DEPENDANT : i tried with 2 differents setup : one on direct connection to the TV and one with an Onkyo AVR.

[2021-10-15 20:39] bmmiller commented on #9232
I got tired of waiting.  It's been months, they originally ignored it, and continue to ignore it.

Just shelved the device and bought a Shield for the TV that used it.  Was hoping to get the Android TV experience at a cheaper price and it's just not worth the frustration.

[2021-10-16 02:16] tapow opened #9571 "Exoplayer Version 2.15.1 HLS media format.. getting crash with few title. The error log is mentioned below."
**When clicking on title it is playing 1-2 second then after getting crash.**

**But, In the same player few titles is playing. It is very hard to Compile and check this particular issue. Also, when I run the App in debug mode some title playing but later some time or singed build is keep getting crash**

Error Log, which may help:
-------------------------

- The main line of error code:
  com.go

[2021-10-16 07:16] tapow commented on #9571
Is this codec issue or video Size issue.. What should i try to fix this issue for Android TV App..?

[2021-10-16 18:42] jmach314 commented on #9232
@ojw28 Can you provide us an update on this issue? If you look at the original issue post on the Plex forum, this is getting frustrating to a great number of people:
https://forums.plex.tv/t/plex-restarts-new-google-tv-chromecast/711966

[2021-10-16 18:50] rrfrias commented on #9526
Unfortunately this is a known issue with TA version 1.75 and was fixed in 1.79. This should be addressed in an OEM update. There is no suitable way for an app to query the trustzone version to figure what it is running. I can check with LG for an android version/update that it was fixed in. As an alternative it might be better to key off this exception and avoid certain bitrates/encodings. Let us

[2021-10-17 04:26] ZoltrixGFC commented on #9232
@ojw28 lets us know if you need a hand testing.

[2021-10-17 05:01] CakeOD36 commented on #9232
This is a critical observation.  To date, this exceptional case has been provided no observable action by the Google development team even where they own the entire environment.  I do understand this may be outside the scope of the ExoPlayer team but what actual action is being taken here?

[2021-10-17 05:18] Can-eh-dian11 commented on #9232
My thoughts exactly. I've got 3 Chromecast with Google TV devices (purchased at different times ruling out a bad batch on the hardware side) and all have this issue. I've tried with a sound bar, without a sound bar, different HEVC content, different Plex servers, different TV's and all lead to the same result of an unexpected reboot. This has rendered nearly all my HEVC unwatchable and I can't hel

[2021-10-17 05:32] CakeOD36 commented on #9232
And I'll note here, for the public record, that I don't feel the negligent approach here is accidental.

[2021-10-17 10:14] Programmingtimes opened #9572 "How to play next video in json inside exoplayer using id"
i have exoplayer powered video app , i would like to play videos in the list but my videos are coming from json file so how i can convert them to list and play it in order.
for example my cat 1 has 5 video exoplayer must play that 5 video and stop.
then cat 2 have 10 mean it should do same and stop
[https://github.com/windowschares/charles/blob/main/1/all_movies.json](Json File)

[code]

As per su

[2021-10-17 15:33] moneytoo commented on #9570
https://fonts.google.com/icons?selected=Material%20Icons%3Athumb_up%3A

[2021-10-18 01:04] #9440 closed, assigned to icbaker

[2021-10-18 04:55] Taranlayal10 commented on #9557
Hi @icbaker

Yes the sample I checked on is 2.11.0 and the integrated version in the app is 2.11.5.

This issue seems to be in the EPG side of the content and was resolved automatically without any change on any sides.
If this issue reproduced again then I will reopen this issue and will provide more details that you asked for your help.

[2021-10-18 05:18] psycureaws commented on #9567
yes, currently simpleExoPlayer instance is need per each playerView.
but I want to switching single-full-screen and double-half-screen mode with synced by normal 2d video sources.
so I want download video from server for just one stream and represent to over two playerView or one playerView with half-partition-copied display.
below is the code all excuted **but not synced.**

      simpleExoPlayer

[2021-10-18 06:13] sim0629 commented on #9480
The fix has been pushed the `dev-v2` branch.

[2021-10-18 06:13] #9480 closed, assigned to sim0629

[2021-10-18 07:58] mohitchauhan commented on #9560
@claincly  Hi, Mentioned steps to reproduce and attached logs with other details

[2021-10-18 08:08] VeiZhang commented on #9559
@claincly OK, thanks. I will try it.

[2021-10-18 08:15] #9557 closed, assigned to icbaker

[2021-10-18 08:48] ojw28 commented on #9232
The internal issue was routed to the SOC manufacturer, who was unable to reproduce the issue and routed it back to the Google TV team. It's currently on the Google TV team pending next steps. We're continuing to escalate the issue with that team to try and get some more movement on it.

[2021-10-18 09:12] WizardCornelius commented on #9232
Thanks for checking and providing us with that update Oliver. I shall
eagerly await further news!

On Mon, 18 Oct 2021 at 09:49, Oliver Woodman ***@***.***>
wrote:

[2021-10-18 10:11] shadowrom76 commented on #9232
How an issue thousand of people can reproduce on demand cant be reproduce by the manufacturer ? this is silly and frankly not serious.
just use the damn Google tv on Plex with any X265 file. Try a subtitle or let it run automatically next episode (for a tv show)
The Google tv reboot. All the time.
thats dont seem THAT difficult to reproduce.
Anyhow, for me its going back to the vendor, Nvidia seem

[2021-10-18 10:27] renanboni opened #9574 "ClassNotFoundException in some Samsung and Huawei devices"
Hey, I have found a few crashes related to the `MediaPlayerController` class, here's the stacktrace:

**Caused by java.lang.ClassNotFoundException
androidx.media2.session.MediaController$PlaybackInfoParcelizer**
[code]

**Fatal Exception: java.lang.RuntimeException
MediaController$PlaybackInfo does not have a Parcelizer**

[code]

Seems to be happening only in Samsung and Huawei devices although I

[2021-10-18 10:31] ojw28 commented on #9232
I'm going to hide posts here that add no useful technical information to this thread (you can still expand them to read them, if you wish to do so). They're just making it harder to find the actual useful updates.

Please also consider that we (the ExoPlayer team) are effectively clients of the underlying platform, just as Plex is, and just as you are as a consumer. This issue is frustrating for u

[2021-10-18 10:46] ojw28 commented on #9565
If you look at the `logcat` output at the start of playback, you should see some logging that uses tag `MediaCodecInfo` and explains why ExoPlayer thinks that the hardware codec does not support playback. As @claincly notes, the bug report doesn't seem to include this, so it was likely not captured soon enough after the start of playback.

Please could you try reproducing again using v2.15.1, and

[2021-10-18 11:13] #9094 closed, assigned to icbaker

[2021-10-18 13:06] icbaker commented on #9474
Thanks, I took at a look at `bug_report.txt`.

Everything seems to be working as intended for `video_error_1.mp4`. The decoder reports `format_supported=NO_EXCEEDS_CAPABILITIES` and then it throws an exception.

----

For `video_error_2.mp4`, the logging suggests the decoder does support the video (`supported=YES`). Are you saying that when you play this video nothing is shown on screen?

Unfortun

[2021-10-18 13:52] SashiWork commented on #9564
Hi Team,

Can anybody please help me out here.
Let me know if it is not possible.

[2021-10-18 14:20] KostyaLyapochkin commented on #9476
@icbaker Hi. setDrmSessionForClearPeriods(true) - workaround has helped me, on the one hand it's pretty restricted solution because when VAST contains webm format, so IMA SDK can return this format for playing, for instance, Samsung devices do not select secure decoder for playing webm format (OMX.Exynos.vp8.dec) as a result I am stuck with the same error. On the other hand Sony F3112 Android 7 us

[2021-10-18 20:12] baiqindotfubotv commented on #9450
I have also seen this crash on my Pixel 2XL several times in the past year.
When this happens, all DRM protected stream playback will fail with the same crash log. It is not app specific, when this happens, all apps on the device will be affected.
Restarting the app won't help, reinstall the app won't help. However if I restart the device the issue is fixed.
I have seen this on at least v2.9.6, v2

[2021-10-18 20:26] Koster35 commented on #9565
Sorry about that, here is another bug report using the v2.15.1 demo app:
[bugreport-sheldon-PS7242-2021-10-18-15-40-47.zip](https://github.com/google/ExoPlayer/files/7368149/bugreport-sheldon-PS7242-2021-10-18-15-40-47.zip)

Within it, I found one log with the `MediaCodecInfo` tag:

And here is one more run just capturing logcat output:
[AFTSS_logcat.txt](https://github.com/google/ExoPlayer/files/

[2021-10-19 00:00] stevemayhew opened #9575 "Double to long int microseconds fails in HLS"
The HLS Parser converts from a string decimal duration in seconds into long microseconds.  Because the conversion passes through a java `double` type it can result in representation errors.

For example, durations like:

[code]
or

[code]

will come out to less then 2,002,000 microseconds if converted to double and multiplied by `C.MICROS_PER_SECOND`

Easy fix is to use the `BigDecimal` class in J

[2021-10-19 05:16] neeluagrawal04 commented on #9491
Thanks for your help. Issue is fixed hence closing this issue

[2021-10-19 05:16] #9491 closed, assigned to krocard

[2021-10-19 06:57] wangnaiwen opened #9577 "How to continue play video segment when audio segment download fail （Dash）"
hello guys

We use ExoPlayer to play Dash Stream Files,  In some special scenarios, our streaming files have lost audio segments, I got an 404 errorCode and play error when ExoPlayer can not find the audio segment but video segment is exist,  So we want to continue play video segment when audio segment is not exist, such as VLC media player， Is there any way to configure it, or how to modify it？？

[2021-10-19 06:59] wangnaiwen commented on #9577
[dash_files.zip](https://github.com/google/ExoPlayer/files/7370923/dash_files.zip)

[2021-10-19 11:30] lsgfly opened #9578 "Consider not calling doSomework every second when paused and fully buffered"
[code]
when （playWhenReady == false && playbackInfo.playbackState == Player.STATE_READY） , can I remove the MSG_DO_SOME_WORK message.

 The method doSomework is executed once per second when paused may Increase power consumption.

[2021-10-19 15:11] mestefy opened #9579 "Retrieve `EssentialProperty` from a DashManifest image Representation"
I have the following `AdaptionSet` from a DASH manifest file
[code]
As you can see, it defines the template for images of sizes 1280x720 and in the `Representation` we have an  `EssentialProperty` of value `5x5` which describes the fact that the image is basically an image atlas of 25 images each of 256x144 each.

**Is there a way to retrieve that `EssentialProperty` so that I can display the corr

[2021-10-19 15:52] weizaishouex2010 opened #9580 "why i fail to use ClippingMediaSource to handle the audio file in demo"
I test the exoplayer demo  in playlists in the PlayerActivity. I want clip an audio file from 1s to 8s
I just modify code in the initializePlayer()
audio url is [https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_4x3/gear0/fileSequence0.aac](url)
MediaSource audioSource = new ProgressiveMediaSource.Factory(dataSourceFactory).createMediaSource(Uri.parse(url);
ClippingMediaSource c_

[2021-10-19 16:16] nvrubl commented on #9564
@SashiWork hi, you can't set a Media Source with custom DataSource.Factory to the CastPlayer in order to play HLS encrypted content. I've had the same problem. So what i did (afaik it's the only solution)  -
1. Create custom web receiver
2. Pass all of the validation headers from the app into your own custom web receiver
3. Do all of the token auth or whatever logic you have in the web receiver (f

[2021-10-19 16:22] yotta-raj opened #9581 "DRM: Prefetching a Widevine License in a multiperiod MPD"
How do I request in ExoPlayer to prefetch a license ahead of the new period for a seemless transition from one period to another.

The situation is that the application can make a request by providing the PSSH to ExoPlayer in order to generate a license request so that the same app can send the license request to the license server and hand the license to ExoPlayer.

Alternatively ExoPlayer can be

[2021-10-19 16:57] icbaker commented on #9581
ExoPlayer added support for pre-fetching DRM licenses in 2.14.0 (#4133, [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2140-2021-05-13)).

It should mean that the keys are requested when the player starts buffering the upcoming period (which with default settings will generally be about 50s before the playback position reaches it).

Does that answer your questi

[2021-10-19 17:14] yotta-raj commented on #9581
Thanks for the quick reply, in the #4133 you stated the following;

So the upcoming period would be using a different content ID so Encrypted ContentID1 to Encrypted ContentId2. However if ContentID2 required authentication prior to fetching the license, I need to get hold of the licenseRequest message in the app rather than exoplayer trying to fetch it at the buffering point.

So the application

[2021-10-19 17:23] icbaker commented on #9581
The [comment you quoted](https://github.com/google/ExoPlayer/issues/4133#issuecomment-653560102) is from July 2020. It was referring to https://github.com/google/ExoPlayer/commit/316f8a88cdaeff2b1b5d219097b2739ef607b2c4 which is in 2.12.0. The pre-fetching support I'm referring to above, that landed in 2.14.0 and should work for key-rotated content, is https://github.com/google/ExoPlayer/commit/74

[2021-10-19 20:11] yotta-raj commented on #9581
So using the custom drmSessionManager, a application can initiate a session, for encrypted content and decrypting the content of a live stream.
Then let's say in 120s ahead there is a contentID change, so a new session can be created in order to generate a license request, the callback will provide the license request, the application (users may need to do an action in the application) can fetch t

[2021-10-19 21:46] marcbaechinger commented on #9554
Can you use a `ForwardingPlayer` to intercept the calls to `play()`?

[code]

[2021-10-20 05:17] SashiWork commented on #9564
Thank you for clearing it to me.

[2021-10-20 05:17] #9564 closed, assigned to marcbaechinger

[2021-10-20 05:30] kalpeshat20 commented on #9554
Tried not working

[code]

[2021-10-20 06:17] kocetod opened #9582 "How to play HLS CatchUp fast?"
Hello. I have a big problem with HLS Playing in Exoplayer. My CatchUp source is like this below, play after 6 to 10 sec. It is possible to run video after 2-3 sec.? (this is *.m3u8).

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:10
#EXTINF:10.0000,
http://tshr.aesbg.net:5000/cgi-bin/strm.ts?len=10&ch=3&utc=1634245015
#EXTINF:10.0000,
http://tshr.aesbg.net:5000/cgi-bin/strm.ts?len=10&ch=3&utc=163

[2021-10-20 06:36] Jiang00 commented on #8645
@marcbaechinger I want to store the download separately from the dynamic cache. Is there any way?

[2021-10-20 09:38] icbaker commented on #9392
The change linked above stops throwing an exception in this case (logs an error instead). I'm going to close this issue, even though this isn't quite as satisfactory as finding & fixing the actual underlying bug.

[2021-10-20 09:38] #9392 closed, assigned to icbaker

[2021-10-20 09:51] kaychyka17 opened #9583 "Download and play HLS video from cache"
Hi,

I used to have in my app Exoplayer version 2.9.5 and now I want to update it to the latest (2.15.1) and I have issues.

In this app we play HLS videos (.m3u8) directly from url (which still works as it should) but we also have the option to download the videos and play it from cache when network is not available. Since I updated to the latest version play of the cached video doesn't work anym

[2021-10-20 10:58] Mkurbanov opened #9584 "Exoplayer deleted cache on startup after run many apps and reopen my apps."
I launched my application, downloaded the video in HLS format. Then I launched some apps (five, ten apps) then i launched my application and the exoplayer deleted the all video cache. I reopen the applications and see the cache equal to 0. i tryed it many time on many devices. But this error in every time. How? Any advice is important to me. Thanks.

Player Activity:

[code]

VideoCache class:
[co

[2021-10-20 11:31] neeluagrawal04 opened #9585 "How to differentiate between different types of error codes in case of DrmSessionException: android.media.MediaDrm$MediaDrmStateException"
Hi Team,
I want to add the check on error codes for DrmSessionException like if the license is expired or license is not valid or license key passed as incorrect byte array when playing videos via drm license media item. How to achieve this?
Can anyone help me in this?

[2021-10-20 12:35] a-blekot opened #9586 "SimpleExoPlayer scaling issue on Samsung Galaxy S21 Ultra"
We use StyledPlayerView to play RTSP live video stream.

We configure it like this
[code]

This was working perfectly before we found this issue on Samsung Galaxy S21. Could it be related to Samsung's GameMode?? I attach two screenshots to demonstrate a problem.
I have created an emulator with screen size 6.8' and dimensions: 1440 * 3200 (like Galaxy S21 Ultra) but I could not reproduce it on the

[2021-10-20 13:54] lsgfly opened #9587 "how to get bitrate from mp4?"
I try to get bitrate from trackFormat when maybeFinishPrepare .
But it is -1. How can I get the correct value.
 private void maybeFinishPrepare() {
    for (int i = 0; i < trackCount; i++) {
      Format trackFormat = Assertions.checkNotNull(sampleQueues[i].getUpstreamFormat());
      Log.i("test", " bitrate = " +trackFormat.bitrate );
  }

I want to calculator the value when processMoovAtom. Is i

[2021-10-20 17:14] christosts commented on #9388
@VeiZhang: I checked the two files that we received with teh demo app in ExoPlayer 2.15.1:
- The first file contains video with interlaced scan type and an audio track encoded in AC3. It is not guaranteed that decoders in the Android platform will be decode interlaced video (scan type should be progressive). In a few tests on a Sony TV, sound is playing but no video is displaying. Please use video

[2021-10-21 01:04] #9461 closed, assigned to krocard

[2021-10-21 01:04] #9457 closed, assigned to claincly

[2021-10-21 01:04] #9166 closed, assigned to claincly

[2021-10-21 07:44] VeiZhang commented on #9559
@claincly Thanks very much. It works well.

[2021-10-21 07:44] #9559 closed, assigned to claincly

[2021-10-21 07:47] RexSuper commented on #9446
I didn't reproduce this problem locally. The video and log provided by the user. Because it is not always a problem, it is difficult to handle. At present, I will listen to "onplayerrerror" to retry the corresponding processing. At present, my exo version "onplayerrerror" does not contain this error. I will update the exo version to temporarily solve the impact caused by this problem. If I have ne

[2021-10-21 12:25] tonihei commented on #9417
Closing because I think the question was answered.

[2021-10-21 12:25] #9417 closed, assigned to tonihei

[2021-10-21 12:36] tonihei commented on #9410
Sorry for the delay.

The IMA buttons are rendered in a `WebView` that sits on top of the `PlayerView` with the video playback. It looks as if something with the view setup is not done correctly. Assuming the `View`s are handled by react-native-video, I'd suggest to report a bug to them. ExoPlayer just takes the view as it is and lets IMA render the buttons, so there isn't much we can do about it

[2021-10-21 12:37] #9410 closed, assigned to tonihei

[2021-10-21 12:40] olgunkaya commented on #9410
thanks a lot. I think it's at a manageable level for us. Issue present only on some kind of devices and we are still working on it to understand what's actually happening. Thanks again!

[2021-10-21 12:49] tonihei commented on #9572
I'm afraid we can't give detailed app development advice if it's not about an ExoPlayer bug or feature request. Loading json lists and handling views is definitely outside the scope of this issue tracker. Please also have a look at our [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main) which already handles loading playlists from json files.

[2021-10-21 12:49] #9572 closed, assigned to tonihei

[2021-10-21 12:51] Programmingtimes commented on #9572
thankyou somuch for reply

[2021-10-21 13:10] tonihei commented on #9574
Closing because this isn't really an ExoPlayer issue as far as I can see.

[2021-10-21 13:10] #9574 closed, assigned to tonihei

[2021-10-21 13:31] tonihei commented on #9274
Sorry for the delay. I tried this a couple of times (including seeking beyond the cue point) with one of the sample IMA streams in the ExoPlayer demo app but can't reproduce this problem.

If you can reproduce reliably, can you provide further details about the ad tag and content stream you are using? The linked stream isn't accessible to me. It's probably also worth checking the latest ExoPlayer

[2021-10-21 15:14] grndvl1 commented on #9513
I found out the issue.  The current documentation is horrible especially for ClosedCaptioning and finding examples that were not old was a nightmare.  It literally took me days to get this right and due to this long time I am no longer on the project.  Please for the sake of us lowly programmers update the documents to something that we all can understand and use

Here was the issue, we used a DI

[2021-10-21 15:42] #9513 closed, assigned to ojw28

[2021-10-21 19:19] moneytoo opened #9588 "Recover from AudioSink errors after mid-playback AudioCapabilities change"
I use the FFmpeg extension in the mode `EXTENSION_RENDERER_MODE_ON` in an app on Android TV. I connect it to an AV receiver with DTS capability (Onkyo TX-NR509) and play video with any DTS audio track just fine. However when I connect Bluetooth earphones (Samsung Galaxy Buds SM-R170) to the TV box, video fails to play (see the log bellow).

When I connect the TV box to a display without DTS decodi

[2021-10-22 05:51] abhishekpatil26 commented on #9526
@rrfrias The issue is not just with the LG devices, there are other manufacturers too, I'll be sharing a list of OEM's and devices with high no. of occurrences here.

[2021-10-22 08:55] blantian opened #9589 "RTSP After the server is redirected, exoplayer has no further requests"
When I use exoplayer to play the rtsp stream, the following error appears. After the server is redirected, exoplayer has no further
AndroidStudio logcat：
`2021-10-22 16:51:14.118 16484-16682/com.google.android.exoplayer2.demo V/Receiver: RTSP/1.0 200 OK
    Public: DESCRIBE, SETUP, PLAY, PAUSE, TEARDOWN, SET_PARAMETER, GET_PARAMETER, OPTIONS
    Date: Fri, 22 Oct 2021 08:51:12 GMT
    CSeq: 1

[2021-10-22 09:38] abhishekpatil26 commented on #9526
@rrfrias

Here are some more details about the error occurring on our application with list of OEM's and devices, this data is of past 7 days.

**-Decoder failed: OMX.MTK.VIDEO.DECODER.AVC**

Xiaomi Redmi Note 8 Pro
Xiaomi M2003J15SC
vivo vivo 1904
vivo vivo 1901
realme RMX2151
realme RMX2001
OPPO CPH2001
Realme RMX1825
OPPO CPH2179
samsung SM-A315F
samsung SM-A125F
Realme RMX1827
OnePlus DN2101

[2021-10-22 09:46] tonihei commented on #9587
We generally don't fill in the bitrate for progressive formats because it's unclear what's it's used for. The bitrate value is meant to inform adaptive track selections, but this doesn't apply to progressive formats like MP4. It's also unclear how the bitrate is defined exactly. Your example code above uses the actual samples only, but it's also possible to use the entire file size including all a

[2021-10-22 10:08] fredysug opened #9590 "How to force stop ad in ExoPlayer above 2.12.x"
Previously we were using ExoPlayer version 2.11.4 and we had to show custom skip ads button (video ad) in ExoPlayer. When this button is clicked, we will call the "imaAdsLoader.stopAd()" method.

However, after we tried to upgrade ExoPlayer to version 2.13.2, the approach we used no longer works because the "stopAd()" method is no longer available.

We plan to use "adsManager.discardAdBreak()" as

[2021-10-22 10:09] ened commented on #9166
hi @claincly, I'm taking over from @sachin-nextbase. The original issue (constant buffering, not started etc) was confirmed resolved using 2.15.1. Thank you.

[2021-10-22 10:22] ened commented on #9167
@claincly the issue still occurs in 2.15.1. Will send you a package of logs to dev.exoplayer@gmail.com

[2021-10-22 10:53] tonihei commented on #9580
`ClippingMediaSource` doesn't support clipping unseekable media files to a non-zero start position. If you just play the file without clipping you can observe that `Player.isCurrentWindowSeekable()` is false, meaning the clipping start of 1 second won't work.

The problem is that the nicely readable `IllegalClippingException` isn't thrown, making it hard to understand the error. I'll mark this as

[2021-10-22 11:46] tonihei commented on #9590
`imaAdsLoader.stopAd()` was never meant to be a public API as it's just a  IMA internal callback handled by `ImaAdsLoader`. In the past this callback was implemented by `ImaAdsLoader` directly allowing you to call the method, but this moved to an inner class for better encapsulation.

Note that customizing the skip button is not generally allowed per IMA policy. See [this thread](https://groups.go

[2021-10-22 11:46] #9590 closed, assigned to tonihei

[2021-10-22 13:58] tonihei commented on #9570
Seems like the question was answered by @moneytoo already. ExoPlayer only includes the icons it needs for its own UI elements. All other UI elements can be taken from elsewhere, like the Material design library linked above.

[2021-10-22 13:58] #9570 closed, assigned to tonihei

[2021-10-22 14:01] tonihei commented on #9575
Thanks for reporting and providing a fix. We will merge the PR.

[2021-10-22 15:58] menscikov opened #9591 "RTMP client has been moved to different repository"
Hello,

Just wanted to tell that RTMP client is now published here:
https://github.com/ant-media/LibRtmp-Client-for-Android/issues/96#issuecomment-948433592

Please update it, so we can remove `jcenter()`.

[2021-10-22 16:14] jrw95 opened #9592 "ExoPlayer 2.15.1 throws NoSuchElementException on loading Live LL HLS manifest"
I'll forward a link to the stream to the dev email, along with a bugreport.zip.

Reproducible in:
ExoPlayer 2.15.1 demo
ExoPlayer 2.13.0 demo
Notable that the stream plays in the ExoPlayer 2.10.8 demo (although also noted that LL HLS support was not announced until 2.13.0, just noting here that it played without apparent problems in ExoPlayer 2.10.8).

Describe how the issue can be reproduced, ide

[2021-10-22 16:39] tonihei commented on #9577
This isn't supported at the moment, but could be solved by #4688 once implemented. I'll mark it as a duplicate.

[2021-10-22 16:39] #9577 closed, assigned to nobody

[2021-10-22 16:53] tonihei commented on #9582
If you are talking about the time it takes for playback to start, then this is to a large extent influenced by the time it takes to load these segments over the network. You can try to reduce [bufferForPlaybackMs](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.Builder.html#setBufferDurationsMs(int,int,int,int)) in the DefaultLoadControl.Builder, which you can

[2021-10-22 17:00] tonihei commented on #9586
Could you provide the example stream and ideally a bugreport taken shortly after the issue happened? If you can, it would also be ideal if you could check whether the issue is reproducible in the ExoPlayer demo app to make sure it's not related to your app code. Alternatively, please provide any other reproduction steps needed, e.g. what kind of surface you are using.

[2021-10-22 18:38] tonihei commented on #9571
The main error you see is the AbstractMethodError for a recently added method. I assume this is some kind of build issue where the build was created with stale information. I would suggest trying a clean build (including Android Studio's "Clean caches  and restart" option). This usually resolves such issues.

[2021-10-22 20:19] Suleiman-Ahmad opened #9593 "Exoplayer showing wrong duration of some local videos"
I've been using Exoplayer to play short local videos gotten from querying the media store, but I tried playing videos with durations longer than one hour and I encountered the following issues:-
- showing wrong duration of video e.g shows 91:58:54 instead of 1:52:58.
- dragging the timebar makes the screen goes dark
I've search websites and forums like stackoverflow.com for answers to this but I c

[2021-10-22 21:07] rrfrias commented on #9526
Can you get us one bugreport each when using mtk and exynos decoders? Do you know if this always reproducible on a given device?

[2021-10-22 21:08] tonihei commented on #9593
Could you please provide the media file here and via email to dev.exoplayer@gmail.com with subject "Issue #9593"?Otherwise it's almost impossible to help you further.

[2021-10-22 21:20] tonihei commented on #9578
There are multiple potential cases where this is needed:
 - Loading media continues while the player is paused, so we need to run the `doSomeWork` method to update the current buffered position.
 - Live media may update its available live window while the player is paused and we need to handle potential changes from this update. The media update could also trigger a single doSomeWork directly with

[2021-10-22 21:40] tonihei commented on #9592
The playlist link provided in the email returns HTTP code 500 for me. Could you check it's actually accessible?

Other than that, the error is thrown when parsing #EXT-X-RENDITION-REPORT in the media playlist. Our code currently assumes these tags come **after** all media segments and parts and that the list of media segments isn't empty.
While both assumptions are true for all LL-HLS playlists we

[2021-10-22 21:56] Suleiman-Ahmad commented on #9593
![IMG_20211022_112854](https://user-images.githubusercontent.com/92982478/138527247-d178785e-88b7-480f-aa1c-cd4fa09749aa.jpg)

Here's an image sample for the error.

[2021-10-22 23:58] imranbuet63 opened #9594 "PlaybackStats information during playback"
Hi, I am using the player for doing some video analytics research. I am interested in collecting some metrics such as current bitrate, resolution, buffer size, stall event count, stall event duration, mean time between two stalls, etc. I came across the PlaybackStats class. I am not sure how to use it. Can you provide some example code on how to access those variables and wherein the code I should

[2021-10-23 04:35] onexuan commented on #9332
I can play my local video successfully on 2.14.2 but it crashes on 2.15.0, please fix it
my local video can be played by other players

[2021-10-23 04:44] onexuan opened #9595 "exoPlayer 2.15.0 cause java.lang.ArrayIndexOutOfBoundsException"
I can play my local video successfully on 2.14.2 but it crashes on 2.15.0, please fix it
my local video can be played by other players, The local video was taken by the camera

[code]

[2021-10-23 10:55] jrw95 commented on #9592
@tonihei Thanks so much for the quick response. I will check with the team to make sure that that stream is not geo-blocked (it plays for me here in the US), and provide a new stream if necessary.

[2021-10-23 15:15] fabiel-leon opened #9596 "HLS plays first 20 seconds and throw Unrecognized media format"
using hls the media gets played for the first 20 seconds and  then throws  a Unrecognized media format

https://s3.temazo.f-l.cyou/temazo/cms/Dia_De_Pago_Ovi_DUKI_128_611277a45d.m3u8

using any online hls player works fine
https://hls-js.netlify.app/demo/?src=%20https%3A%2F%2Fs3.temazo.f-l.cyou%2Ftemazo%2Fcms%2FDia_De_Pago_Ovi_DUKI_128_611277a45d.m3u8&demoConfig=eyJlbmFibGVTdHJlYW1pbmciOnRydWUsImF

[2021-10-23 18:36] bhavikjethava opened #9597 "Streaming video it drops frame with overlay animated .webp file"
I have implemented Exoplayer for my android tv app. When I stream 4k video it drops some frame and lag video. I have displayed a full-screen video with an overlay of an animated webp file.

Playing 24fps video work perfectly
Playing 30fps video it's lagging
I am testing on Google tv(Google Chromecast).

Exoplayer version 2.15.1
implementation 'com.google.android.exoplayer:exoplayer:2.15.1'
impleme

[2021-10-24 04:42] Suleiman-Ahmad opened #9599 "How do play local videos with Exoplayer"
How can I use Exoplayer to play local videos gotten from the Mediastore. All code samples regarding to Exoplayer I've seen were only on streaming videos not playing locally. I've also searched and asked on stackoverflow.com but unfortunately no useful results.
I just need a proper code sample to get started.
Thank you.

[2021-10-24 09:36] ojw28 commented on #9595
Duplicate of https://github.com/google/ExoPlayer/issues/9332

[2021-10-24 09:36] #9595 closed, assigned to icbaker

[2021-10-24 09:38] ojw28 commented on #9332
@onexuan - It sounds like you're seeing this when playing video recorded with your device camera. What device are you using? Please could you also send a sample video to `dev.exoplayer@gmail.com`.

Reopening this issue because it sounds like the bad media can be generated on device (on at least one device).

[2021-10-24 21:05] cherimo opened #9600 "View binding custom controls"
Hai, I'm using Android Exoplayer in my Android app and tried to use the view binding for the custom layout.
Within Exoplayer I use a custom control layout"@layout/custom_player" for the controls.
I have different elements within the layout for example I have a button element"optionBtn" which I want to connect to onclicklistener from my Kotlin code. Unfortunately that doesn't go very smoothly with

[2021-10-25 01:04] #9455 closed, assigned to christosts

[2021-10-25 03:26] onexuan commented on #9332
Please check your email @ojw28

[2021-10-25 04:23] Suleiman-Ahmad commented on #9599
I need your assistance please. Someone should reply

[2021-10-25 04:35] neeluagrawal04 opened #9601 "Won't be able to play drm enabled videos with license url"
Hi,
I am not able to play the drm enabled videos with the license Url with the boolean value as isPersistent as false but using isPersistent value as true I am able to play and download videos.
Details shared in mail id dev.exoplayer@gmail.com.
I am stucked in this issue please check this and help me in this issue.

Thanks

[2021-10-25 04:56] neeluagrawal04 opened #9602 "Getting exception as Caused by: com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header."
On downloading non-drm enabled videos via using the OkHttpDataSourceFactory and playing the video via DefaultHttpDataSourceFactory i am getting the exception as:-

[code]

Please let me know what would be the root cause of this issue.

Thanks

[2021-10-25 06:48] abhishekpatil26 commented on #9526
Hi @rrfrias, I got the above data from Firebase Crashlytics portal of our product, so I won't be able to get a complete bugreport for those devices, let me check if I can get a device with MediaTek or Exynos processor. If I got, will share the bugreport on mail or here.

[2021-10-25 07:30] blantian opened #9603 "rtsp redirect error"
The document says that exoplayer supports redirection. Why does it report the following error?

This is my rtsp source： `rtsp://10.255.27.28/PLTV/88888909/224/3221225773/10000100000000060000000000006032_0.smil?rrsip=10.255.27.25&icpid=&accounttype=1&limitflux=-1&limitdur=-1&tenantId=8601&accountinfo=%2C28252%2C172.25.116.120%2C20211021153443%2C04710001000000050000000000000227%2Caff1a051696a99f9cf1

[2021-10-25 08:11] robin2046 opened #9604 "How to share the surface between video rendering and canvas drawing?"
I am using a framework to develop my app, which I can only have access to a single surface instance.
I need to render video by ExoPlayer to this surface, and also do canvas drawing on it.
These operations are performed time-divided, not simultaneously.

However, I always got the following error from exoplayer

[code]

I tried create a simple app like following, which demonstrates using a single su

[2021-10-25 08:50] andrewlewis commented on #7376
A change was merged internally that should fix this:

[code]

This should go into the next version of Android (I don't think it made it for Android S).

I'm afraid I don't know, but hopefully the answer doesn't matter if there's a fix to avoid the expensive operation!

[2021-10-25 08:50] #7376 closed, assigned to andrewlewis

[2021-10-25 10:32] claincly commented on #9565
Thanks for providing the detail.

ExoPlayer queries `android.media.MediaCodecInfo` for whether a format is supported by a specific decoder. If the platform reports that the format is not supported, ExoPlayer will not try to play with that decoder.

As such, we cannot provide further help if the platform reports it does not support hardware decoding AVC.

[2021-10-25 10:41] icbaker commented on #9332
@onexuan We haven't received your email. Please either upload the media here or send to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-10-25 12:01] eneim opened #9605 "StyledPlayerView.setOnClickListener doesn't work when useController=false"
As the title suggests, if I set `useController` to false (either from XML, or code), the click listener just doesn't work.

In `onTouchEvent`, StyledPlayerView returns false in such a case, so I think it was implemented that way, so I guess the current design is `it should not accept a custom OnClickListener if the controller is disabled`. Is there any reason why? What should I do to have custom c

[2021-10-25 12:06] eneim commented on #9605
I found these 2 related issues that kinda the motivation to disable the touch:

https://github.com/google/ExoPlayer/issues/6340
https://github.com/google/ExoPlayer/issues/1923

IMO there are cases where the client doesn't enable the controller but still allows the user to click the video, for example, to switch between portrait and landscape. I'm curious if there is a way to enable such behavior.

[2021-10-25 12:22] laruedavid commented on #9493
Hi @rrfrias @icbaker, any news on this question ?

[2021-10-25 12:35] chladto1 opened #9607 "Impossible to inherit from DefaultHttpDataSource"
Constructors in class `DefaultHttpDataSource` are deprecated or private in the current ExoPlayer version 3.15.1. So they will be probably removed in version 3.16.x. It's mean an application will not be ably to inherit and override some of the default functionality. We are overriding just `DefaultHttpDataSource#open(DataSpec)` method to set our `SSLSocketFactory` as default in `HttpsURLConnection`.

[2021-10-25 13:55] ojw28 commented on #9591
Fixed in https://github.com/google/ExoPlayer/commit/2dc7ac38513a7c7eef8f4de9242ec7c5ed2b1029.

[2021-10-25 13:55] #9591 closed, assigned to ojw28

[2021-10-25 14:25] ojw28 commented on #9591
And `jcenter()` dependency removed in https://github.com/google/ExoPlayer/commit/647d69b950d9bebb43401cef05f25f40f1ecc3d9.

[2021-10-25 14:33] claincly commented on #9603
Please confirm the ExoPlayer version you are using.

Please also provide a log of RTSP messages.

The easiest way is to use the `RtspMediaSource.Factory` method `setDebugLoggingEnabled()`

That is, set the media source factory when building the ExoPlayer instance, like this:

[code]

[2021-10-25 14:37] claincly commented on #9567
I believe with the code you provide you could **theoretically** play the three videos at the same time. It's only theoretical because the ability to play multiple videos at the same time depends on your device spec (how many hardware decoders does it support).

Furthermore, it's not possible to sync multiple ExoPlayer instances at the moment, see #9283.

[2021-10-25 15:09] jrw95 commented on #9592
@tonihei  I've heard back from team, that the issue with the 500 errors has been resolved. Further, another teammate outside the US has confirmed that the 500 errors are gone. Please let me know if the content continues to be inaccessible, though. Thanks again.

[2021-10-25 16:50] weizaishouex2010 commented on #9580
but why the second way works fine?

[2021-10-25 17:20] cherimo commented on #9600
Related topic is https://github.com/google/ExoPlayer/issues/8369 but unfortunately this doesn't seem to help with data bind either. I have a temporary workaround now with synthetic but I would like to fix this in a short term with view binding.

[2021-10-25 23:00] Suleiman-Ahmad commented on #9593
Hello, here's one of the local video files that's showing wrong duration if
the duration is more than one hour. Please fix this issue, it seems unique
for playing mediastore videos.

Reproduction steps...
Save on local storage
Query mediastore to obtain video path
Play with Exoplayer by using mediaitem created from file path
  wrong duration video.zip
<https://drive.google.com/file/d/1CtChZmS1XwQr

[2021-10-25 23:07] Suleiman-Ahmad commented on #9593
I've submitted the video above. Please, go through it.

[2021-10-25 23:11] ojw28 commented on #9565
If the device claims to not support a profile/level that it does actually support, then we should probably consider adding a device specific workaround for that. Particularly given it's effectively a regression, presumably introduced when we started to check the profile/level.

[2021-10-26 01:52] onexuan commented on #9332
Please check it again

[2021-10-26 02:23] blantian commented on #9603
ExoPlayer version is 2.15.1.

Android：
   `android {
    compileSdk 29

    defaultConfig {
        applicationId "com.lt.exoplayer"
        minSdk 18
        targetSdk 29
        versionCode 1
        versionName "1.0"
        multiDexEnabled true

        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }`

I used it like this：
`   player = new SimpleExoPlayer.Builder(cont

[2021-10-26 09:20] claincly commented on #9603
Please provide RTSP messages.

You need to change this line `player.setMediaSource(CreateMediaSource.getSource(rtspMongol)); ` so that the RTSP media source is created with the flag debug logging turned on.

[2021-10-26 09:31] mike-targetr commented on #9607
I share your frustration with this class. It is common to want to modify how the HttpURLConnection is first created and also perform changes at the point where the InputStream is opened. However, the current implementation makes this really difficult. Could this class be refactored to keep these points in mind?

[2021-10-26 10:23] szaboa opened #9608 "HLS muxed audio missing format label"
We have the following HLS (live) master playlist:

[code]

Based on the `HlsPlaylistParser` (line 514), if an audio track has no URI defined, then it will be stored in the `muxedAudioFormat`. However in this case, whenever we query the audio tracks, the muxed one has no id/label in the `Format`.

See the event logger's output:

[code]

This is causing a problem for us, as we would need to select t

[2021-10-26 10:56] ojw28 commented on #9607
For the original issue, we probably just need to change the private constructor to be protected instead. Would that solve your issue @chladto1 ? @icbaker - Should we have something in our style guide about this? I can't think of a case where a non-final class with only private constructors ever makes sense? I could be wrong, but I think this came up in the context of another class as well.

@mike-

[2021-10-26 10:57] mohitchauhan commented on #9274
@tonihei  pls try with this stream shared below and this issue is reproducible on the latest version as well

https://redirector.gvt1.com/api/manifest/hls_variant/requiressl/yes/source/gfp_video_ads/id/9672db93095dec64/itag/0/playlist_type/LIVE/acao/yes/mime/application%2Fx-mpegURL/ctier/L/ip/0.0.0.0/ipbits/0/expire/1666184620/sparams/ip,ipbits,expire,requiressl,source,id,itag,playlist_type,acao,m

[2021-10-26 11:12] icbaker commented on #9607
Alternatively should `DefaultHttpDataSource` be (eventually) `final`? That would be the natural step when we delete the currently-deprecated constructors.

I think the requested functionality (set a `SSLSocketFactory` as default in `HttpsURLConnection`) can be implemented using a `ResolvingDataSource` that wraps a `DefaultHttpDataSource` and putting the the call to `HttpsURLConnection#setDefaultSS

[2021-10-26 11:41] chladto1 commented on #9607
@ojw28 Yes, that would be great!
@icbaker The most effective code is no code. More code means more complexity and more potential bugs.

Rich Skrenta writes:

[2021-10-26 11:59] mike-targetr commented on #9607
One example is adding a Proxy to the HttpURLConnection. This is something that should be easy, but AFAIK it is not straightforward? Other requirements could probably be achieved by the ResolvingDataSource - that's new to me. With regards to the InputStream - this is to intercept/wrap what is being read / monitor it etc - admittedly this is quite custom. I think protected methods at point of openin

[2021-10-26 12:22] jrw95 opened #9609 "Android 12 Support?"
Hello,

We align our SDK Android OS support with ExoPlayer's `targetSdkVersion ` and `compileSdkVersion`, and we're wondering when you'll be supporting Android 12.

From the release notes, there was an issue fixed in r2.14.2 to add a flag required by Android 12, but that's the only mention of that OS level. In the meantime, we're planning to acquire devices to test our SDK with r2.14.2 (our curren

[2021-10-26 12:31] ojw28 commented on #9609
We'll be making some additional improvements for Android 12 compatibility in 2.16, which you can read about in the [dev branch release notes](https://github.com/google/ExoPlayer/blob/dev-v2/RELEASENOTES.md). Whether you care about these changes really depends on how you're using the library. If you don't use `DownloadService` and don't intend to start calling `Surface.setFrameRate` directly to per

[2021-10-26 12:41] ojw28 commented on #9609
A couple of additional points:

* I don't think `compileSdkVersion` is relevant. You can pick any value that's at least as large as the largest value specified by the libraries you depend on. I can't think of a good reason why you shouldn't just always have it set to the highest stable version.
* The reason our `targetSdkVersion` is set to 30 rather than 31 in the `dev-v2` branch (and possibly 2.1

[2021-10-26 12:41] #9609 closed, assigned to ojw28

[2021-10-26 12:51] icbaker commented on #9607
@chladto1 I assume you're not literally claiming that reducing lines-of-code should be the ultimate goal of a software project with no other considerations? Inheritance may result in fewer lines of code but it can lead to systems that are harder to reason about. This isn't just my opinion or that of Effective Java: https://google.com/search?q=prefer+composition+over+inheritance

@mike-targetr Plea

[2021-10-26 13:26] chladto1 commented on #9607
@icbaker Yes, in physics simulator, you can do a collision detection by very simple algorithm with complexity O(N²) or better, write spatial division algorithm that can be close to O(C * N) but requires a lot of code, especially in asynchronous running. But this is not a physics simulator.

Sorry, but I do not see a reason, why I shouldn't be able to inherit a class in my own code, override a meth

[2021-10-26 13:27] icbaker commented on #9607
@chladto1 since I believe you're asking about setting a static property of `HttpsURLConnection`, is there a reason you need to do this in an ExoPlayer component at all? It seems a little surprising to be touching such a global property so deep in a specific library's component. If you really do want to change all `HttpsURLConnection` instances you could perhaps make the call elsewhere in your app

[2021-10-26 13:27] #9607 closed, assigned to icbaker

[2021-10-26 13:44] chladto1 commented on #9607
@icbaker We can no do this, because we are providing SDK and an application can set its own `SSLSocketFactory` in every BE request which it actually does.

[2021-10-26 13:44] blantian commented on #9603
Sorry, I took out that part

`public class CreateMediaSource {
    @Nullable
    public static RtspMediaSource getSource(String uri){
        return new RtspMediaSource.Factory().createMediaSource(MediaItem.fromUri(uri));
    }
}`

Take a look, where do I add the logging，
the complete code looks like this：

`   player = new SimpleExoPlayer.Builder(context).build();
        player.setMediaSource(ne

[2021-10-26 13:57] neeluagrawal04 commented on #9601
sorted hence closing this issue

[2021-10-26 13:57] #9601 closed, assigned to ojw28

[2021-10-26 14:11] icbaker commented on #9332
Thanks, I found the media (both the emails you sent were bounced back to you because you didn't use the requested subject line).

The media has the same symptoms as the original video in this issue: an 18 byte `colr` box with `colour_type=nclx`

[2021-10-26 14:14] icbaker commented on #9332
I will modify ExoPlayer to handle files with this combination.

[2021-10-26 15:08] ojw28 commented on #9594
Analytics functionality is documented in a reasonable amount of detail in the [developer guide](https://exoplayer.dev/analytics.html). I'd suggest giving that page a read. As per that page:

So once you've registered a `PlaybackStatsListener`, you should be able to poll the stats every second using that method.

Note that for your use case, it might be better to implement an `AnalyticsListener` di

[2021-10-26 15:17] ojw28 commented on #9599
This is mostly a question about Android storage. The [documentation about storage](https://developer.android.com/training/data-storage/shared/media) explains how to request the necessary permissions, and also how to build a content URI for an entry in the media store, by appending the ID with `ContentUris.withAppendedId`.

Once you have the necessary permissions and URI, you should be able to play

[2021-10-26 15:23] SudoDios opened #9610 "How to get played audio bytes ?"
val rendererFactory = RendererFactory(this, object : TeeAudioProcessor.AudioBufferSink {

            override fun flush(sampleRateHz: Int, channelCount: Int, encoding: Int) {
            }

            override fun handleBuffer(buffer: ByteBuffer) {
                //pass bytes to the your function
            }

        })
   exoPlayer = ExoPlayerFactory.newSimpleInstance(this, rendererFactory,D

[2021-10-26 15:58] ojw28 commented on #9604
Unfortunately, this is not possible due to a limitation in the underlying platform, described on [this page](https://source.android.com/devices/graphics/arch-sh):

The only solutions are:

1. To have multiple surfaces, one way or another.
2. Use a non-`MediaCodec` based video decoder that renders to the surface with the CPU renderer. ExoPlayer's VP9 and AV1 decoder extensions allow for this, but t

[2021-10-26 15:58] #9604 closed, assigned to ojw28

[2021-10-26 17:49] SudoDios commented on #9610
How to use **TeeAudioProcessor.AudioBufferSink** ?

[2021-10-26 19:23] ojw28 commented on #9596
I tried to play https://s3.temazo.f-l.cyou/temazo/cms/Dia_De_Pago_Ovi_DUKI_128_611277a45d.m3u8 in the ExoPlayer demo app, with both the latest release 2.15.1, and also with 2.11.4. In both cases playback was fine or me. I don't know where the HTTP request logging that you've posted is coming from, but things go wrong on this line:
[code]
Based on previous lines, the `4` is either the number of byt

[2021-10-26 19:25] ojw28 commented on #9602
Please provide a minimal patch for the demo app that reproduces this problem. It's impossible to provide any guidance from the information provided.

[2021-10-27 01:04] #9488 closed, assigned to krocard

[2021-10-27 01:04] #8973 closed, assigned to krocard

[2021-10-27 01:22] onexuan commented on #9332
OK, I will test it after the new version is released

[2021-10-27 07:25] Suleiman-Ahmad commented on #9599
My issue is that it plays some local videos correct but not others.
It gives a different (very large) duration to other videos eg 1:20:56
becomes 99:58:34. And this messes up everything.

I give a detailed explanation in
https://github.com/google/ExoPlayer/issues/9593 but none of you have
responded yet. Please go through this issue, it's the only thing delaying
me right now. Thank you.

On Tue, Oc

[2021-10-27 07:30] Suleiman-Ahmad commented on #9599
Please go through https://github.com/google/ExoPlayer/issues/9593
That's the only issue I have right now.

[2021-10-27 08:14] ojw28 commented on #9599
Closing as a duplicate of https://github.com/google/ExoPlayer/issues/9593.

[2021-10-27 08:14] #9599 closed, assigned to ojw28

[2021-10-27 10:14] Tolriq opened #9611 "How to write custom shuffle order"
ExoPlayer 2.15.1

This is probably a feature requests, but I can't find a proper way to tell exoplayer to invalidate it's timeline / window indexes.
Then end goal is that doing a `seekTo(windowIndex, x)` would trigger a reload of the media at said window index and not reuse it's current internal and reuse the media.
Even after a `stop()` + `prepare()` the media is not reloaded.
My current solution

[2021-10-27 10:39] zhangyaoo123 opened #9612 "playback failed on android 11"
when I play a online video which startwith "https"  on android 11 , got error message : com.google.android.exoplayer2.ExoPlaybackException: Source error       error code is 2001
can you help me ? device is Pixel 4a

[2021-10-27 10:58] ashishsoni1968 opened #9613 "black screen in hmi hardware emulator"
I am using ExoPlayer code while playing video it's show me black screen in my hmi hardware emulator can you please help me out this issue why showing black screen ?

[2021-10-27 12:09] LostInAbyss opened #9614 "How can i play RTSP stream without audio codecs?"
How can i play RTSP stream without audio codecs? I need only video?I can't start watch stream because camera using g.711 for audio.

[2021-10-27 13:15] chladto1 opened #9615 "Add method to reset ad group to be played again."
We are updating ExoPlayer in our project from version 2.13.2 to 2.15.1. We are using modified IMA extension because of feature described in [issue 8810](https://github.com/google/ExoPlayer/issues/8810). We had to change `adPlaybackState.adGroups[i] = AdPlaybackState.AdGroup().withAdCount(1).withAdState(AdPlaybackState.AD_STATE_PLAYED, 0)` to `adPlaybackState = adPlaybackState.withNewAdGroup(i, tim

[2021-10-27 14:47] glureau opened #9616 "Is it possible to override MP3 duration?"
I've a mp3 file that I can't modify, and it defines a bad duration (2:00 instead of 35+ minutes).

https://d3ctxlq1ktw2nl.cloudfront.net/staging/2021-9-25/d51792a0-e335-f459-375f-a092656d308b.mp3

Is it possible to ignore the duration or avoid the player to re-start playing from 0:00?
I'm seeing some players like Youtube that continue playing even if the UI is broken (still displaying 2:00 but sou

[2021-10-27 16:30] ojw28 commented on #9612
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-10-27 16:33] ojw28 commented on #9608
Do you see this with 2.15.1 (i.e., the latest release)? I took a quick look at the code, and it seems to be written so that the label should be picked up. If that's not happening then I'm probably missing something, and it's probably a bug.

If you can reproduce with 2.15.1, could you provide a complete HLS sample that we can use to easily reproduce the issue, either as a link to an accessible tes

[2021-10-27 19:13] baiqindotfubotv opened #9617 "ExoPlayer crashes on DRM protected contents with IMA ads"
This crash is 100% reproducible with DRM protected contents with IMA ads. Right now it only happens on my Pixel 2XL android 11. I also found a way to reproduce with ExoPlayer demo app:

(1) Check out to r2.15.0
(2) Add a sample to media.exolist.json:
[code]
(3) Open that sample from demo app, wait for preroll to finish, the playback will crash after 15 seconds.

Crash log:
[code]

[2021-10-27 19:45] marcbaechinger commented on #8645
I don't think there is an easy way to this when using download components. These are based on `CachedDataSource` that is using a `Cache` to store and later retrieve the cached data.

[2021-10-27 19:49] marcbaechinger commented on #9554
Can you put a breakpoint or a logging statement in `play`, `pause` and `playWhenReady` of the `ForwardingPlayer` to see whether one of these methods get called when you use the buttons in the notification?

It may be tied to the version of the ExoPlayer library which of these methods are called. Please let me know which version you are using in case that does not help.

[2021-10-27 21:28] ojw28 commented on #9611
Generally speaking, a media item should not be changing its content underneath the player, so it's unclear why triggering a reload would ever be necessary. Please could you explain the use case in more detail?

[2021-10-27 21:35] ojw28 commented on #9616
I tried playing this file in a bunch of places (ExoPlayer, Chrome, VLC) and in all cases the duration is 37:18, which is presumably the correct duration. So it's unclear to me what the problem is. Please clarify.

[2021-10-27 21:38] marcbaechinger commented on #9539
Sorry for my late response. The Stackoverflow link does not work I'm afraid.
There is currently no support for passing an image to the cast receiver with the `CastPlayer`.

Could you clarify which API of the Cast SDK you would use for achieving what you mean?

[2021-10-27 21:39] ojw28 commented on #9600
I think this is a duplicate of https://github.com/google/ExoPlayer/issues/5417, but please let us know if this is not the case. Thanks!

[2021-10-27 21:39] #9600 closed, assigned to ojw28

[2021-10-27 21:47] ojw28 commented on #9610
I think you need to do something like this:

[code]

[2021-10-27 21:49] ojw28 commented on #9613
This sounds like an issue with the emulator rather than with ExoPlayer. You should report it to whoever is providing it.

[2021-10-27 21:49] #9613 closed, assigned to ojw28

[2021-10-28 01:04] #9485 closed, assigned to krocard

[2021-10-28 01:04] #9475 closed, assigned to krocard

[2021-10-28 01:04] #9445 closed, assigned to krocard

[2021-10-28 01:29] Suleiman-Ahmad opened #9618 "Exoplayer getDuration returns a wrong duration"
I use Exoplayer to play local videos but calling getDuration returns a wrong (very large) duration for some videos. It also displays the same wrong duration on a textview with the ID exo_duration.
This issue is explained in detail here https://github.com/google/ExoPlayer/issues/9593 but I've received no answers yet.
Please use the video file in that issue since it produces the same error.

[2021-10-28 01:33] zhangyaoo123 commented on #9612
hello,I installed the demo app on my Pixel 4a  android 11. open any item such as :

![exo1](https://user-images.githubusercontent.com/13558487/139170950-909ea084-6b17-4127-9c57-dd6f29af2b42.jpg)

I will get next error message:
![exo2](https://user-images.githubusercontent.com/13558487/139170990-ed3a6cac-8c69-4242-81df-da436c4bc8b6.jpg)

[2021-10-28 02:36] gysutantoman opened #9619 "Receiving Playback error when playing ip camera RTSP content"
I am trying to access rtsp://192.168.0.148:554/ch1.  I am able to play same link in windows VLC medial player 3.0.12 and Android VLC player 3.3.4

device: android 9.0
exoplayer version 2.15.1

I have created mediasource as shown below

[code]

err log:
[code]

[2021-10-28 05:27] Tolriq commented on #9611
@ojw28 Actually the media item does not really change, the playlist is managed 100% outside of ExoPlayer as the playlist system is used for many other players and duplicating the current shuffle logic is really complex with current CustomShuffle stuff (I have not figure out how).

So the playlist of ExoPlayer is just a list of "pointers". So window index 1, 2, 3 points to file 1 2 3 when not shuff

[2021-10-28 07:42] glureau commented on #9616
Youtube Music (v3.45.54) displays 01:59, progress bar is at 100% after the 2 first minutes but song keeps playing after the 100% is reached.

Files by Google (v1.0.400489743) displays 02:00, same for progress bar but song is stopped at 2:00, like if it was the end of the file.

The app Musique (pre-installed app, v45.6.4.0_f30b9fd_20210817) displays 01:59, but keeps playing (same behaviour than Yo

[2021-10-28 08:07] SabaZafar22 opened #9620 "Unable to play video with partial cache"
I am creating instance by using following code

[code]

and set uri to player by following code

[code]

'simpleCache.getCachedSpans(uri.toString())' this is returnng isCached [[0, 2048]]
 but I am unable to play video untill fully cached, is there anything I am missing?

[2021-10-28 08:47] #9610 closed, assigned to ojw28

[2021-10-28 08:49] menscikov opened #9621 "Build instructions for extensions for Apple M1 (ARM chips)"
As you probably know, Apple has moved away from Intel systems to its M1.
I would like to move from my old MacBook to the new MacBook M1 soon.
Is it possible to add build instructions for extensions such as ffmpeg, av1, vp9, etc.?
Or this can't be done on the new M1 (ARM) at this moment?

[2021-10-28 08:49] Tolriq commented on #9611
@ojw28
Ok so I actually could fix the gapless issue is there was a `getMediaSourceAt` that allows me to get the next mediasource then remove it then add it again, it properly reset. And I can live with the small glitch when trying to restart a song at same index as it's quite rare.

When using the `getMediaItemAt` then remove / add it again, playback fails as the proper datasource is no more invol

[2021-10-28 09:21] ojw28 commented on #9616
I cannot reproduce this with ExoPlayer 2.15.1, ExoPlayer 2.14.0, or File by Google. The duration shows as 37:18 in all cases. Is it possible that the link above is not the one that you meant to post, or that it's serving a different file to me than it is to you?

[2021-10-28 09:23] ojw28 commented on #9618
If you have already posted the issue, please refrain from filing additional issues about the same thing. Closing as a duplicate.

[2021-10-28 09:23] #9618 closed, assigned to ojw28

[2021-10-28 09:29] ojw28 commented on #9612
`ERR_CERT_DATE_INVALID` indicates that the device thinks the server's SSL certificate has expired.

It should be noted that your device will probably use its clock to determine whether the certificate has expired, and judging by the logging you've provided, your device clock seems to be set incorrectly (`2021-05-11`). So you may well find that setting the device clock to the correct date and time

[2021-10-28 09:29] #9612 closed, assigned to ojw28

[2021-10-28 09:41] glureau commented on #9616
I think we're getting the same file. That said I've download it locally before opening it on the apps. If you want to try, I get a file with MD5: e185d06ffe7233bfb90d25c0fbb7c49d

Some additional info if it can help:
Phone: OPPO Reno4 Z 5G (model: CPH2065)
OS: ColorOS v11.1 (Android 11)

As it was reproduced on some other phones in my company I thought it'll be quite easy to reproduce, looks like

[2021-10-28 09:45] billyjoker commented on #9548
Finally I have figured out that the problem was a bad international ip detecting from our backservers. Solved

[2021-10-28 10:00] #9548 closed, assigned to icbaker

[2021-10-28 10:01] SaurabhOfficial opened #9622 "Fallback to L3 incase of DRM errors while downloading content."
When filing a question:
-------------------------

<b>Describe your question in detail.</b>

1. Similar to the Issue here : https://github.com/google/ExoPlayer/issues/8108#
Is it possible for us to force the device to use L3 security level using some blackList config, by passing a custom `ExoMediaDrm.Provider`? I saw one secondary constructor in the `OfflineLicenseHelper` Class but it has been dep