[2020-07-13 12:48] aureobeck commented on #7615
@tonihei , we could open an issue at their side as well, but we've made some tests on other apps which are working as expected, so perhaps we could just be sure that it's nothing at our side. This is how we implement our player, could you please confirm if you see anything unexpected, thanks!

**ControlDispatcher:**
[code]
**MediaSessionConnector:**
[code]
**Initialization of player:**
[code]

[2020-07-13 13:17] tonihei commented on #7615
The provided code looks fine to me. When you say "commands are not working", I assume you mean that none of these `ControlDispatcher` methods is called?

@marcbaechinger Could you take a look too to verify that I don't miss something here?

[2020-07-13 13:30] tonihei commented on #7619
You should be able to do something similar with the current `ExoPlayerTestRunner`, by using an `ActionSchedule` to control when certain things happen. The logic is less straight-forward and you can't access the `Player` itself to use it as part of your code. That's why we replaced it. Depending on your exact use case you may still be able to use it though. If you want to see some example for how w

[2020-07-13 13:53] aureobeck commented on #7615
I'm getting `dispatchSetPlayWhenReady` with `playWhenReady=false` when Google Assistant is opened, but then after the command is identified it doesn't call apropriate callback. For example "fast forward" or "rewind" doesn't call `dispatchSeekTo`.

[2020-07-13 14:05] matanmarciano commented on #7619
I already looked at `ExoPlayerTest` and the `ExoPlayerTestRunner ` & `ActionSchedule ` not seems that fit to my use case.
am I wrong?

I want to run some stream and get notifications: `onBandwidthEstimate`, `onDownstreamFormatChanged` but not sintetic trigger's. In want real playing and real exo implementation.

[2020-07-13 14:07] tonihei commented on #7619
If you want a real playback including `onBandwidthEstimate`, I assume you also want to download media over network? In this case you should just use ExoPlayer as it is in the test (without any test runners or fake components).

[2020-07-13 14:14] matanmarciano commented on #7619
Yes, it is exactly what I want. to run SimpleExoPlayer instance in a unit test and pass/fail the unit test by my internal logic,  based `onBandwidthEstimate` value's. But how it is possible? I have tried it and the player not start playing..no errors or something.

[2020-07-13 14:45] tonihei commented on #7619
Using the real ExoPlayer from a unit test is no different from using it in an Activity. The only problem is that you need to block test execution until your test condition is fulfilled. For example, you can use `InstrumentationRegistry.getInstrumentation().runOnMainSync` to run your player related code on the main thread and then wait on the test thread until some condition becomes true.

[2020-07-13 14:48] matanmarciano commented on #7619
I have to run the unit test under Android device right? or it is possible to run Exoplayer in a Junit?

[2020-07-13 15:16] tonihei commented on #7619
Android tests are also using Junit, but I assume you mean running tests without an actual device using Robolectric? Both are possible, but if you intend to access network data in the test you likely need to run it on an actual device (or an emulator) because Robolectric tests are hermetic and can't access anything outside of the test jar itself. If you want to use Robolectric, please refer to the

[2020-07-13 16:59] chrisfillmore commented on #7536
@ojw28 thanks for replying. Sorry for the delay getting back to you, I've been on holiday.

My team does use `AnalyticsListener.onLoadError`. However it seems we have different analytics/monitoring pipelines for error info from `onLoadError` and `onPlayerError`, and thus have difficulty correlating the two.

It seems like we would be better off dropping our reporting of error events from `onPlayer

[2020-07-13 16:59] #7536 closed, assigned to kim-vde

[2020-07-13 17:00] neuro79 opened #7622 "HLS playback fails when load control uses loadControl.setPrioritizeTimeOverSizeThresholds(false);"
We have been able to reproduce a possible bug in Exoplayer implementation. We are able to reproduce the problem using Exoplayer Demo app. The first time we see this problem was an HLS playlist where the first video resolution was failing (404) but the other resolutions was available (testing HLS fallback)

Playback fails to play HLS when the first track in the playlist reports an error, track sele

[2020-07-13 17:33] fgl27 commented on #7622
`player = new SimpleExoPlayer.Builder(/* context= */ this, renderersFactory) .setTrackSelector(trackSelector) .setLoadControl(createPlayerLoadControl()) .build();`

should be

`player = new SimpleExoPlayer.Builder(/* context= */ this, renderersFactory) .setTrackSelector(trackSelector) .setLoadControl(createPlayerLoadControl().build());`

just make yours `createPlayerLoadControl()` return the alrea

[2020-07-13 17:45] PratimMallick commented on #7617
@andrewlewis The  HDMI audio plug intent does not give the required information in this TV when optical cable is connected. It gives correct info when HDMI ARC is connected to the Tv. Will check the second option you mentioned

[2020-07-13 18:22] matanmarciano commented on #7619
OK it works, many thanks!

[2020-07-14 04:17] Taranlayal10 commented on #7586
HI AquilesCanta

Did u manage to find out the cause?

[2020-07-14 10:15] liadpaz commented on #7620
@tonihei Thanks for the reply, it took me a bit to reply because I thought it didn't do it now.
But it still happens, I'm using the `MediaSessionConnector` and I'm preparing the `ExoPlayer` in the `MediaSessionConnector.PlaybackPreparer`.
My code looks like this:

[code]

The `dataSourceFactory` is the same instance always (it comes from the service that holds the player).

Also I think that every

[2020-07-14 10:32] rishun-fsi opened #7623 "Audio playback is not smooth when set the playback speed with 2.0x on a specific device"
Hello,

When I play a widevine content on 2.0x speed, the audio is breaking up and generated some noises.

It occurred only a specific model phone and widevine content.

And, this issue occurs all the time at a certain time.
But at another certain time, it only happens about once every 10 times.

Could you confirm this issue and please tell me how to avoid the problem.

# Issue description
 ・AQUOS

[2020-07-14 10:41] tonihei commented on #7620
If you app goes into background with ExoPlayer still running, you need to use a foreground service. See [this StackOverflow post ](https://stackoverflow.com/questions/58657511/exoplayer-audio-not-playing-in-background-service)for an example and further explanations. Could this be the reason for your playback problems while in background?

[2020-07-14 10:41] AquilesCanta commented on #7586
Sorry, I hadn't seen this. I can't find anything specially useful. I can see logging that corresponds to what you describe, but I cannot theorise about the cause. @rrfrias Would you kindly take a quick look at the bugreport in case you can find anything that could point us in the direction of the issue?

Aside, @Taranlayal10. I think the best way to approach this is debugging locally. If you need

[2020-07-14 10:55] liadpaz commented on #7620
I'm promoting the service to be on foreground (plus I'm using the `PlayerNotificationManager` as in the uamp app).
When in background it's not that I can't hear any playback, it's just that sometimes it's starts buffering and resumes playback soon after but sometimes it's buffering and resuming multiple times in a short time period.

[2020-07-14 12:03] tonihei commented on #7620
@marcbaechinger Is there anything else that needs to be taken care of when using ExoPlayer in a service?

[2020-07-14 12:55] arshuk007 opened #7624 "Unable to play AES encrypted m3u8 url using Exoplayer(version 2.11.7)."
I am trying to play AES encrypted m3u8 video in exoplayer. I don't want to download the file and decrypt it. I just want to stream online. Kindly help on this. Any help/suggestions would be appreciated.

[2020-07-14 13:46] Gumio commented on #7570
Sorry for the delay.

What do you intend to do with the information of the currently loading segment?

Not this one.

I want to use it for data analysis and error analysis. I want to use it to identify when and which segments were accessed, when errors occurred, etc.

You're right, https://github.com/google/ExoPlayer/issues/4905 is very similar.

Thank you for adding a new comment here.
I think I

[2020-07-14 13:50] AquilesCanta commented on #7570
I'll close this then. Any more questions are welcome.

[2020-07-14 13:50] #7570 closed, assigned to AquilesCanta

[2020-07-14 19:27] rrfrias commented on #7586
Duration information is not logged at the plugin level so i cannot tell much from the logs.

Yes, it looks like your license is expired. Do you see this right after the license is downloaded? If not, what values do you see?

[2020-07-15 01:04] #7509 closed, assigned to AquilesCanta

[2020-07-15 06:56] SharanKumarReddyKambham opened #7626 "Playback Failed due to OMX/mediaserver died, signalling error!"
Hello ,

I 've been working with demo exoplayer  of version 2.11 and playing Mpeg dash stream on the long run ,it plays fine till approximately 20 hours and after that the playback fails wit the following :

[code]

**Existing issues**: https://github.com/google/ExoPlayer/issues/7520

### Issue description
Exoplayer demo player plays the MPEG dash stream for approximately 21 hours, and after that

[2020-07-15 07:02] vip644 commented on #7592
Issue has been fixed on the dev-2 branch. Now I'm not getting any issue regarding length mismatch.

[2020-07-15 07:37] kim-vde commented on #7592
I'll close the issue then. Feel free to open another one if you encounter other problems.

[2020-07-15 07:37] #7592 closed, assigned to kim-vde

[2020-07-15 08:14] Gaurav328 opened #7627 "volume automatically increase on video play back and on seek bar position change"
we are facing this issue only on Jio stb android version 7.0. exoplayer volume do not work with audio manager. exoplayer volume automatcally increase on video playback and on seek bar position change while audio manger volume remain in same state. after up/down device volume exoplayer volume  behavior normally.

[2020-07-15 10:06] jjustman commented on #6049
See https://github.com/jjustman/libatsc3 for an implementation of ISO23008-1/MMT with MFU de-encapsulation for Android.

[2020-07-15 10:14] Samrobbo commented on #7627
Hi, can I get some more information about this?

- What version of ExoPlayer are you using?
- Does this occur with any media, or only specific videos/audio clips? If specific, please provide a link to this media.
- What code executes on your side as a result of seeking?
- You mentioned only facing the issue on the Jio set-top box, have you tested whether the same thing happens on different set-top

[2020-07-15 12:13] vikasacharya16 opened #7628 "how to play hardcoded content uri of local media file in exoplayer"
Initially I choose a Intent chooser to pick up a media file, and in `onActivityResult` i got the `uri`
[code]
[code]

Then I was able to playing the local file in exoplayer.

[code]

But now, think that I saved the `uri` in database as a string.
Then, assume I retrieved the content from database and pass it as a intent to video playing activity

now, if i write a code like this, and call `initiali

[2020-07-15 14:26] marcbaechinger commented on #7628
Can you please create a bug report just after the problem happened? Then please upload the bug report here or if you don't want to upload in public send it to  dev.exoplayer@gmail.com using a subject in the format "Issue #7628".

This allows me to look into the reasons for ' the video is not playing' more closely.

[2020-07-15 16:17] gokulkalagara opened #7629 "Offline downloaded unable to play, showing error unable to connect host"
### [REQUIRED] Issue description
Offline downloaded unable to play, They need internet to play the videos

### [REQUIRED] Reproduction steps
I download the dash protected video with license, sometimes they are unable to play the videos
Still, the license is not expired
**Getting PlaybackException**
com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect

##

[2020-07-15 16:20] gokulkalagara commented on #7547
If you need any extra information or I miss anything you need?
Please tell me, I will forward that information also

[2020-07-15 16:46] chadacious opened #7630 "loadError with EOF exception when extracting media container for fragmented MP4"
### [REQUIRED] Searched documentation and issues
Exoplayer library docs, developer website, stackoverflow, github issues

### [REQUIRED] Question
I'm attempting to play a fragmentedMP4 using a DashMediaSource. The content plays if I don't specify a SegmentBase range in the dash manifest, but since the sidx box range is not specified, and apparently not "discovered" by the extractor, trickplay feat

[2020-07-15 22:48] ojw28 commented on #7610
@gokulkalagara - Please properly fill out the issue template, including providing a full bug report captured from the device shortly after the failure occurs.

[2020-07-15 22:52] ojw28 commented on #7629
There is nothing we can do with this kind of report. _Please_ properly fill out the issue template. Providing only the very top line of a stack trace is not sufficient information for us to help. Note that we've requested you properly fill out the issue template _repeatedly_ on issues that you've filed. For all future issues you file, _please_ either fill out the issue template properly, or clearl

[2020-07-16 01:04] #7499 closed, assigned to AquilesCanta

[2020-07-16 01:04] #7440 closed, assigned to ojw28

[2020-07-16 01:04] #7433 closed, assigned to marcbaechinger

[2020-07-16 01:04] #7356 closed, assigned to ogawa-ma

[2020-07-16 07:59] vipinchouhan commented on #7611
Hi @ojw28

please help me to resolve this issue.

Thanks!!

[2020-07-16 08:44] ckdrb7017 opened #7631 "is it possible to set formant in audio track?"
Hi.
I try setting formant in audio track. I found the AuxEffectInfo class, but it has only one option, default no-setting value. And there is no any examples about this setting. I want to add audio effect like echo in audio track.

[2020-07-16 10:03] tpiDev opened #7632 "TTML: Support tts:lineHeight setting"
### [REQUIRED] Use case description
Configurable Subtitles line spacing (extra, multiplier)
Business requirement is that lines needed to be further apart (based on provided line spacing). With ExoPlayer it can be achieved currently by applying lineSpacingMultiplier to Activity theme, but it seems to be not the best approach, as it introduces global change.

### Proposed solution
Currently line spa

[2020-07-16 11:01] AndersonCrew opened #7633 "I want to show the total time of all videos in the playlist playing on PlayerView"
I want to show the total time of all videos in the playlist playing on PlayerView,
Each my videos will be synchronized with the total duration of the playlist, i cannot find some how to do it on the internet, maybe it is not support my problem, Please help me!

[2020-07-16 11:16] PratimMallick commented on #7617
@andrewlewis The `AudioDeviceCallback` also doesnot give a callback when a optical cable is connected or disconnected.

The issue here is while playing EAC3 encoded stream on Android TV when optical cable is connected, the `supportsOutput` method of `DefaultAudioSink` returns false and thus `allowPassthrough` returns `false` for the mimeType `audio/eac3` whereas passthrough is possible in optical

[2020-07-16 11:41] ojw28 commented on #7611
The issue does not reproduce for me. Are you sure this isn't a device specific problem. Note that the issue template requests that you provide details about which device you're using, which you have not done. If you were to properly fill out our issue template then we'd be more likely to be able to help!

[2020-07-16 11:41] andrewlewis commented on #7617
Hm, that's quite surprising. Are you certain the callback is set up correctly? I guess a good way to check is to try plugging in HDMI and checking that notifies the callback.

If you call `getAudioCapabilities` repeatedly (say every second) and then plug/unplug the optical cable, do the capabilities change at all?

[2020-07-16 11:54] AquilesCanta commented on #7622
Could you share with me a bugreport captured shortly after reproducing the issue? There are instructions about this in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). Aside, the Apple 16x9 basic stream URL in the demo app doesn't return 404 for the first media playlist. Are you introducing some form of m

[2020-07-16 11:57] natario1 opened #7634 "Current position greater than duration"
### [REQUIRED] Searched documentation and issues
Found #1930 and #6825 , but did not find an answer.

### [REQUIRED] Question
Given an on disk, MP4 AVC+AAC video, in which cases can currentPosition/contentPosition be greater than contentDuration/duration?

I have a video where the returned duration is correct, but the position seems to go on indefinitely when polled.
I am recording/encoding/muxing

[2020-07-16 13:04] PratimMallick commented on #7617
Sorry, I had not added this line
`audioDeviceCallback.onAudioDevicesAdded(audioManager.getDevices(AudioManager.GET_DEVICES_OUTPUTS));` before registering the callback.
I am callback now, but `onAudioDevicesAdded` lists all the output sources in the TV like `tv _tuner` ,`aux_digital`, `mic` etc
<img width="737" alt="Screen Shot 2020-07-16 at 6 20 22 PM" src="https://user-images.githubusercontent.co

[2020-07-16 13:23] icbaker commented on #7632
Could you expand the use-case description? It would help our prioritization to understand the context a little more.

Some questions I have:

* Do you control the subtitles being displayed (i.e. they're being streamed from your servers) or are they user-specified (either as sidecar files or embedded in videos)?
* What do you need to change about these values? (I kinda assume you want to make the l

[2020-07-16 13:39] giladna opened #7635 "Allow playback to continue with sideloaded subtitles when included subtitles fail to load (e.g. 404)"
### [REQUIRED] Issue description

I have updated the demo up forked from 2.7.11
added support in  side loaded text tracks
select any dash (updated sample only for dash)
play
select text track German
then after 2 sec seek forward

the playback stuck.

expected:
if error in text track url or content video playback should not be broken

https://github.com/giladna/ExoPlayer/tree/invalid_vtt_track

Not

[2020-07-16 13:59] icbaker commented on #7635
I think this is a dupe of https://github.com/google/ExoPlayer/issues/6640 (which has a suggested workaround: https://github.com/google/ExoPlayer/issues/6640#issuecomment-553904951)

If we manage to fetch the subtitle content, but fail to decode it, then playback should continue: https://github.com/google/ExoPlayer/issues/6885

But currently if the failure happens earlier (i.e. during reading) then

[2020-07-16 14:02] giladna commented on #7635
@icbaker

I have added this in the sample it did not work,
you can try it on my branch

https://github.com/giladna/ExoPlayer/blob/a594c1d79264761f7518d04dbb530c431d498478/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L593

[2020-07-16 14:19] giladna commented on #7635
@icbaker

I did not call
trackSelector.setParameters(
          trackSelector
              .buildUponParameters()
              .setRendererDisabled(textRendererIndex, true)))

This will disable all tracks right? even though one single url is broken

[2020-07-16 14:20] icbaker commented on #7635
[i wrote most of this before https://github.com/google/ExoPlayer/issues/7635#issuecomment-659443589]

It looks like your example is missing two things from the suggested workaround:

1. You don't call `super.getRetryDelayMsFor(...)` until it returns `C.TIME_UNSET` (i.e. you don't allow any 'normal' retries)

2. You don't have this bit:
[code]

Presumably that's because you don't want to disable th

[2020-07-16 14:22] krocard commented on #7631
If you are trying to implement a custom effect for an ExoPlayer, derive the [AudioProcessor](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/AudioProcessor.html) class to implement it, then inject your effect using any of the [DefaultAudioSink constructors](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/DefaultAudioSink.html#DefaultAudioSink-com.goo

[2020-07-16 14:24] #7631 closed, assigned to krocard

[2020-07-16 14:24] krocard commented on #7631
Please reopen if your question is not answered.

[2020-07-16 15:04] Samrobbo commented on #7623
Hi,

Based on the bug report and the information given, it looks as though the audio buffer is underrunning frequently. This can be related to several things, but it seems likely that the playback speed adjustment is blocking the playback thread for too long, which causes the audio buffer to not be written to as frequently as needed. A potential fix for this would be to use the frameworks speed ad

[2020-07-16 15:05] PratimMallick commented on #1993
@andrewlewis  Please update this. There are a lot of users on S/PDIF who are unable to get proper eac3 because exoplayer does not detect and allow passthrough via optical cable

[2020-07-16 15:12] giladna commented on #7635
@icbaker

doing the following code fixed the problem

https://github.com/giladna/ExoPlayer/blob/c5a8c05609a4da974e5a1646e01e5dc137b37065/demos/main/src/main/java/com/google/android/exoplayer2/demo/CustomTextLoadErrorHandlingPolicy.java#L34

as you said text track is not functional anymore
it could be be helpful if on onTracksChanged even  we can receive only the valid tracks.

[2020-07-16 15:15] giladna commented on #7635
@icbaker

my issue actually is with external the media in my case does not have internal

[2020-07-16 15:19] Samrobbo commented on #7624
Hi,

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issu

[2020-07-16 15:20] neuro79 commented on #7622
[bugReport.log](https://github.com/google/ExoPlayer/files/4932383/bugReport.log)
We was able to reproduce the same issue using an HLS playlist where the first video track was failing, in Apple 16x9 as you said there is not any 404 response but the behaviour of the player is the same, player keep buffering at 0% and playback never begins.
I have realise right now that if I use fast forward then pla

[2020-07-16 15:35] krocard commented on #7631
https://github.com/google/ExoPlayer/issues/6705#issuecomment-633942165 has a nice snippet on how to inject an AudioProcessor.

[2020-07-16 15:53] AquilesCanta commented on #7622
I think you got a dumpstate instead of a bugreport as requested. Please capture a bugreport by running `adb bugreport` shortly after reproducing the issue.

[2020-07-16 16:01] Samrobbo commented on #7626
Hi,

Please can you capture a full bug report using "adb bugreport". Please attach the captured bug report as a file. If you don't wish to post it publicly, please submit the issue, then email the bug report to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number.

You also mentioned this works with any live MPEG dash stream,

[2020-07-16 16:02] Samrobbo commented on #7626
Alternatively, if you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2020-07-16 16:15] Samrobbo commented on #7626
There was also an issue with Android Marshmallow and earlier, where a release build of the apk would perform much better than a debug build, which may not make a difference but it's worth checking.

[2020-07-16 16:16] puneetrastogi90 commented on #6168
Does anyone have any update on this?

[2020-07-16 16:24] icbaker commented on #7635
Cool - glad that worked, but I agree it doesn't really solve your usecase.

I'm not sure I understand this. I might have worded the new title confusingly - my intention was to distinguish between 'sideloaded' subtitles (i.e. provided via `SingleSampleMediaSource` and `MergingMediaSource`) and subtitles 'included' in the original media (e.g. WebVTT subtitles fetched via a DASH manifest) - but not n

[2020-07-16 16:36] marcbaechinger commented on #7620
I'm not aware of something special to take care when in a foreground service actually. If there was a problem with the service not being in foreground, the service is usually just killed by the system, which results in ExoPlayer being destroyed.

I'm not aware of such buffering problems in a foreground service.

I'd be probably be interesting to see the logs. Can you create a bug report and upload

[2020-07-16 16:45] marcbaechinger commented on #7615
Does look similar as with #7396 when an update tof the Google app eventually solved the issue. That's very unfortunate to happen again. If the commands do not arrive at the media session callback we can't really do something. Do you have the chance to verify whether the commands are being sent. Like setting a breakpoint in the [callback of the `MediaSessionConnector`](https://github.com/google/Exo

[2020-07-16 16:46] PratimMallick commented on #7617
@andrewlewis I re-checked with HDMI ARC connected. This Callback gives correct result, that is `TYPE_HDMI_ARC` with the correct encoding type. But when Optical cable is connected, this returns only `TYPE_BUILT_IN_SPEAKER` whereas it should return `TYPE_LINE_DIGITAL`. I think there is some issue in detecting spdif cable in android.

[2020-07-16 16:50] marcbaechinger commented on #7587
Sorry for my late response. Is this resolved in the meanwhile?

I understand that you are able to play that flv stream without caching. Given this works, caching for flv is very much the same as for every other media type. You need to create a `CacheDataSource` in the very same way as the [demo app does this](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/a

[2020-07-16 17:11] marcbaechinger commented on #7633
You can go through all the windows of the [Timeline](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.html) and sum up all durations of these windows. This would give you the total duration which you then can display in the UI. You would have to customize the UI for that though I think.

There is a challenge with this approach. If you want to know the actual duration of a

[2020-07-16 19:17] liadpaz commented on #7620
@marcbaechinger I'd be happy to send you the logs, just can you tell me how to get them?

[2020-07-16 19:38] giladna commented on #7635
@icbaker thanks for your attention and will to help!

my media does not have internal (included) text tracks.

I have created 2 external text tracks (sideloaded) and one of them has url which response with 404
the thing is that switching to this corrupted text track will not end in playback error  only if I seek for some point in the future.

switching off text renderer  is bad user experience we

[2020-07-16 21:47] CloneTV opened #7636 "How to use LeanbackPlayerAdapter?"
I don't quite understand how the LeanbackPlayerAdapter class can be used.

example1: where is not support `Sample` interface?

[code]

example2: where add `LeanbackPlayerAdapter` to `ControlGlue` ??
[code]

[code]

[2020-07-17 00:13] chadacious commented on #7630
Looking at it further, I see that when i "don't" specify a SegmentBase at all, the FragmentedMP4Extractor indeed seems to read the sidx box as well as other parts of the media container.

So I believe my theory that the exoplayer wasn't getting the sidx data is incorrect. Now I'm just stuck trying to figure out why trickmode doesn't work (i.e. when I try to seek to a position just using the scrubb

[2020-07-17 04:07] jackykarma opened #7637 "Can't extract right and complete info from TrackGroup' Format"
Hi, There!

### [REQUIRED] Question

When I played a video(container format is mkv), I can't extract right and complete info from TrackGroup' Format.

This is result I get using ffmpeg command：

[code]

The following is exoplayer extract result:
[code]

There are some obvious wrong info: such as framerate, bitrate, samplerate, and another problem is  how can I get the detail subtitle info such as

[2020-07-17 04:10] jackykarma commented on #7637
This is my code to get track info after the video is playing.

[code]

[2020-07-17 04:56] arshuk007 commented on #7624
Hi,

I have sent you the mail with details. Kindly check. Please let me know any other details required from my end.

Thanks.

[2020-07-17 05:23] fmatosqg opened #7638 "Restore AdsMediaSource$MediaSourceFactory on 2.11"
When removing `AdsMediaSource$MediaSourceFactory` class on version 2.11 it causes other developers's code to not be when written for exoplayer 2.9 and 2.10. This is specially problematic with flutter plugins that include different versions of exoplayer.

This was the original error, which was not in a project I have access to.
[code]

Gradle dependency tree for the flutter project, where `video_pl

[2020-07-17 05:43] neuro79 commented on #7622
Please find attached a new bugreport. We called adb bugreport just after the issue has been reproduced. Player is not reporting any error, just keeping buffer at 0%.
[adbBugreport.log](https://github.com/google/ExoPlayer/files/4935931/adbBugreport.log)

[2020-07-17 06:38] Taranlayal10 commented on #7586
Hi Guys, Thanks for your time. Really Appreciated.
Looks like there is some problem in the token that I am using to download the license itself.

[2020-07-17 06:38] #7586 closed, assigned to Taranlayal10

[2020-07-17 06:50] SharanKumarReddyKambham commented on #7626
Hi team shared the content to the dev.exoplayer@gmail.com, please check and update.

_There was also an issue with Android Marshmallow and earlier, where a release build of the app would perform much better than a debug build, which may not make a difference but it's worth checking._

I think the above statement doesn't make any point as we are checking in Android 9 (PIE) OS.

[2020-07-17 07:16] vipinchouhan commented on #7611
Just check your official exoplayer app and play video from playlist then you got the issue of player video rendering stop for some time if we skip video above the buffer and if you rewind the video then audio is coming but video not playing in exoplayer approximately for 5 second.

This is really bad experience of any user play the local video and he need to wait for 5 to 10 second after rewind or

[2020-07-17 07:54] kim-vde commented on #7630
I think there is something wrong with the manifest. The SegmentBase indexRange is the same for all the representations, which seems very unlikely, and the Initialization range is the same as the SegmentBase indexRange, which shouldn't be the case.

As for trick play, we don’t support it out of the box (see #6054 and #474). It is possible to implement it on top of what we provide but it is a bit tr

[2020-07-17 08:01] andrewlewis commented on #7638
ExoPlayer doesn't provide API compatibility guarantees across versions I'm afraid, so it is not safe to mix modules with different version numbers (though there may be cases where interfaces happen not to change). If you see gradle dependency resolution doing something like this `com.google.android.exoplayer:exoplayer-core:2.9.6 -> 2.11.5 (*)` then there is a risk things won't work.

Is it feasibl

[2020-07-17 08:33] aureobeck commented on #7615
@marcbaechinger I've added breakpoints on `MediaSessionConector` and I'm only getting `OnPause` when Google Assistant is opened, no other callback is being called on voice command :((

[2020-07-17 08:49] HanGao1 opened #7639 "How to play multiple audios at the same time"
How to play multiple audios at the same time

[2020-07-17 08:51] gokulkalagara commented on #7629
I sent an email @ojw28, please cross-check with device bug report also

[2020-07-17 10:26] AquilesCanta commented on #7622
I'm not clear about something: In the problem description you mentioned that one of the conditions to reproduce this issue is that the first resolution returns 404. However, in the bugreport I cannot see any instance of InvalidResponseCodeException. Can you clarify this?

In general, in order to accelerate this process I would advise you provide a list of very precise steps I can take (parting fro

[2020-07-17 10:29] andrewlewis commented on #7639
Currently the easiest way to do this is to separate players for each audio stream, but you need to keep them synchronized yourself.

See also #6589, which tracks supporting multiple renderers with the same track type. If your use case requires sample-accurate synchronization there is some tips on mixing audio streams precisely in #4261.

[2020-07-17 10:29] #7639 closed, assigned to andrewlewis

[2020-07-17 11:04] AquilesCanta commented on #7635
In case you haven't seen this, if you are using SingleSampleMediaSource, this looks like a job for [`treatLoadErrorsAsEndOfStream`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/SingleSampleMediaSource.Factory.html#setTreatLoadErrorsAsEndOfStream-boolean-). The purpose of the configuration option is pretty straightforward.

[2020-07-17 11:06] neuro79 commented on #7622
**Steps to reproduce the issue:**

[PlayerActivity.zip](https://github.com/google/ExoPlayer/files/4937376/PlayerActivity.zip)

- Download Exoplayer v2.11.7  from https://github.com/google/ExoPlayer/tree/release-v2
- Unzip and copy PlayerActivity.java to demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java
- Launch demo application.
- Choose HLS -> Apple 16x9 basic stream

[2020-07-17 11:07] andrewlewis commented on #7633
Just a quick addition to what Marc said: `PlayerView.setShowMultiWindowTimeBar` may help with what you are trying to do, but see also #4727 which relates to the problem of lazy preparation with progressive media.

[2020-07-17 11:09] AquilesCanta commented on #7635
Also, can we mark this issue as a duplicate of #3140?

[2020-07-17 11:33] Raykud commented on #2092
if they didn't care to add it in the last 4 years, and even marked it as "low priority" (2 years ago) there is ZERO chances they will implement an avi extractor. I say this as I know how google works 🙃 .

[2020-07-17 12:33] icbaker commented on #7635
Thanks for clarifying @giladna, I had indeed misunderstood.

I also hadn't seen #3140 - and I agree with @AquilesCanta this seems like a duplicate of that.

I'm going to mark it as such - but we can re-open if that doesn't seem correct.

[2020-07-17 12:33] #7635 closed, assigned to icbaker

[2020-07-17 12:57] tpiDev commented on #7419
Thanks for feedback @tonihei ! Right now this topic is on hold and no further changes needed on your side..

[2020-07-17 12:57] #7419 closed, assigned to tonihei

[2020-07-17 13:09] ghost opened #7640 "Green screen after transition between the Ads to the Main Content"
### [REQUIRED] Issue description
We are facing an error that only occurs in Androids version 5.0 (API 21).

This is the scenario: after playing an Advert when the player switches to the Main Content (DRM Widevine) We get a non-recoverable green screen. This is only occurring in Android 5 (we tested in Samsung SM-N9005 and Motorola Moto G).

The interesting part is: the bug does not appear in Portr

[2020-07-17 13:13] tpiDev commented on #7632
Hi @icbaker We have DASH media with TTML subtitles.
Business requirement is that lines needed to be further apart (based on provided line spacing). With ExoPlayer it can be achieved currently by applying lineSpacingMultiplier to Activity theme, but it seems to be not the best approach, as it introduces global change.

[2020-07-17 13:13] timtsj commented on #867
@eneim hi man, its best lib for work with exoplayer you rly cool man, thx you

[2020-07-17 13:15] andrewlewis commented on #7617
I've asked the audio framework team for guidance and will update here when they reply [Internal ref: b/161525145].

[2020-07-17 13:31] nigelmegitt commented on #7632
In TTML you should be able to set [`tts:lineHeight`](https://www.w3.org/TR/ttml2/#style-attribute-lineHeight) to modify the line spacing; that does of course require that the presentation processor (i.e. ExoPlayer in this case) honours the setting appropriately. I haven't checked to see if ExoPlayer does so, but this would be the "standard" way to achieve a functionality other than the default "no

[2020-07-17 13:57] icbaker commented on #7632
Thanks for the context.

I'm hesitant to add more configuration options to `SubtitleView`, and I don't think `CaptionStyleCompat` is the right place for this (since this option doesn't exist on `CaptionStyle`).

As @nigelmegitt says, TTML allows you to specify this using `tts:lineHeight`. ExoPlayer doesn't currently parse/present that setting correctly, but definitely could do. I think that would

[2020-07-17 15:04] AquilesCanta commented on #7622
I think your issue may already be fixed in the dev branch. Could you please try reproducing there?

[2020-07-17 15:14] PratimMallick commented on #7617
Thanks @andrewlewis . Will wait for an update here.

In the meantime, I have figured out that reading the Global setting key `nrdp_external_surround_sound_enabled` gives the correct information if `passthrough` is allowed or not based on the user selection in Digital output setting of Sound.So indirectly we get to know that there is a way for exoplayer to allow passthrough. So the `AudioCapabiliti

[2020-07-17 15:31] neuro79 commented on #7622
Hi,

Yeah, it works properly in dev-v2. Looks like the commit that solve the issue is:
d48dc4c15933dd8354cbcc6260c48565bb850e15
Please proceed to close the ticket.

[2020-07-17 17:32] AquilesCanta commented on #7622
Cool! Thanks for reaching out.

[2020-07-17 17:32] #7622 closed, assigned to AquilesCanta

[2020-07-17 19:19] tushar09 opened #7641 "How to switch between multiple audio track for a simple .mkv video?"
I am playing a .mkv video file which has 2 audio track using version `2.11.7`.
Video is playing file but there is no sound. I have tried the code below to initialize the player:

[code]

I just need a example code of changing the audio track. Please help.

[2020-07-17 21:08] kvillnv commented on #7567
Not device specific. All tested devices are google certified.

Yes. RAM is used in the SimpleCache.

I just emailed you Heap dumps and adb bugreport

[2020-07-18 09:03] rinathakkar opened #7642 "Where to and how to add DRM token url and Video url in ExoPlayer ?"
Please help me.
Thanks.

[2020-07-18 17:15] chadacious commented on #7630
Thanks for your response. I agree that the SegmentBase indexRange and Initialziation seem incorrect. I've sent a sample app for your examination to the dev.exoplayer@gmail.com email.

[2020-07-18 23:04] #7634 closed, assigned to ojw28

[2020-07-19 02:24] AdamMTGreenberg commented on #5887
We are also seeing this issue with the following stacktrace:
[code]

[2020-07-19 05:54] giladna commented on #7635
@AquilesCanta
works!!!

    return new SingleSampleMediaSource.Factory(new DefaultDataSourceFactory(this, ((DemoApplication) getApplication()).buildHttpDataSourceFactory()))
        //.setLoadErrorHandlingPolicy(new CustomTextLoadErrorHandlingPolicy(trackSelector))
        .setTreatLoadErrorsAsEndOfStream(true)
        .createMediaSource(Uri.parse(pkExternalSubtitle.getUrl()), subtitleFormat, C.TI

[2020-07-19 07:11] rahulsDia opened #7643 "Use of downloaded content in different player"
I downloaded a content in Exoplayer download manager, Can i play that content in any other player which is not based on Exoplayer

[2020-07-19 10:28] ojw28 commented on #7637
You shouldn't necessarily expect all of the information that FFmpeg is showing you to be available in `Format` at the start of playback. For example, as discussed [here](https://gitlab.com/mbunkus/mkvtoolnix/-/wikis/Wrong-frame-rate-displayed), Matroska does not define a fixed frame-rate anywhere in the container:

I'm not sure what FFmpeg does, but it's either guessing (and might get the value wr

[2020-07-19 11:14] ojw28 commented on #7611
I have already checked that, and I do not see any issues. It's unclear what the issue is from the video you've attached, either (audio seems to be choppy, but I think that's more likely to do with the way you captured this video than to be an actual issue with playback).

Is the issue simply that resuming after a seek is not immediate? It's expected that resuming wont be immediate for the sample i

[2020-07-19 11:20] ojw28 commented on #7629
The bug report provided does not capture the point at which the failure occurred, and therefore I would conclude that it was not captured shortly after encountering the issue. If it were, the full stack trace starting with:

[code]

would be present in the bug report. Closing because there's nothing we can do without a higher quality report.

[2020-07-19 11:20] #7629 closed, assigned to ojw28

[2020-07-19 11:28] ojw28 commented on #7390
@jt64 - Could you comment on the slow DRM calls?

[2020-07-19 20:22] dmkenza opened #7644 "Last part of video is skipped when use ConcatenatingMediaSource for small video"
### Issue description

I have small video 1s
https://drive.google.com/file/d/1tthY5pq36BBDUDj9KZy7oZSiFZHcwjAE/view

I use ConcatenatingMediaSource for created sequence of video by using this small video and I set speed to 0.1 for demonstation bug.

https://drive.google.com/file/d/1ppa5nGh_gmLVPDoxRx5VrwRRSgWAsn_i/view

Video of miniclips accelerates at the end.  First 1/4 of the miniclips is not

[2020-07-20 01:04] #7523 closed, assigned to AquilesCanta

[2020-07-20 01:04] #7511 closed, assigned to AquilesCanta

[2020-07-20 04:22] rishun-fsi commented on #7623
Hello @Samrobbo ,
The same issue does not occur with non widevine content.
Why widevine and non widevine contents have two different behavior, could you explain it?

Thanks.

[2020-07-20 06:32] vipinchouhan commented on #7611
Hello @ojw28

Can you please check any local file with 1 gb .mkv extension?

Thanks!!

[2020-07-20 06:49] wishy-viewlift opened #7645 "Handle playernotificationmanager while other app is playing video / audio?"
I have incorporated  playernotificationmanager for vidoeplayer in my app. The video's sound plays in the background which is a requirement. I am not able to get the audio focus for other app.
For eg : My app is playing the audio of the video in the background now I open youtube and play the audio I don't get the callback in audio focus. I am running on Android 10.
This is my code

[code]

Will thi

[2020-07-20 07:17] AndersonCrew opened #7646 "How can I Show Image or Text into PlayerView with duration which is configured like video in the same Playlist"

[2020-07-20 07:35] kim-vde commented on #7630
Can you try to fix the SegmentBase indexRange and Initialization range and see if you still have problems?

[2020-07-20 07:39] #7566 closed, assigned to kim-vde

[2020-07-20 07:40] #7576 closed, assigned to kim-vde

[2020-07-20 07:40] #7578 closed, assigned to kim-vde

[2020-07-20 07:40] #7584 closed, assigned to kim-vde

[2020-07-20 08:14] AGasztold opened #7647 "Lack of "STATE_ENDED" when playing video in tunneling mode (Exoplayer 2.11.*)"
**Issue description**

There is no STATE_ENDED while playing video in tunneling mode. I have checked on Exoplayer Demo app with DASH/HLS materials, but all of them did not stopped at the end of the stream (timestamp was still increaasing). We need to call stop() to end the playback, but in this case, STATE_IDLE is only received.

**Version of ExoPlayer:**

Exoplayer 2.11.7 but checked also with Ex

[2020-07-20 08:54] Samrobbo commented on #7623
My understanding is that widevine content needs to be decrypted, which takes some processing time. As a result, each sample takes longer to process and not as many are written to the buffer.

Because of this, you can see these issues whereby the audio buffer underruns (being read faster than written to), and audio issues begin.

As mentioned above, #7502 is tracking a change to make use of the fra

[2020-07-20 08:54] #7623 closed, assigned to Samrobbo

[2020-07-20 09:05] shasapo opened #7648 "DRM renew license Failed to handle key response: General DRM error (-2000)"
### [REQUIRED] Searched documentation and issues
I have looked for same issues but still can't find an answer.

### [REQUIRED] Question
Using device Samsung S9
With the help of `OfflineLicenseHelper`, I have download the license, store it, then do checking for the license duration.
But when I am trying to **renew the license**, it got me this error below taken from adb bugreport :
[code]
Question

[2020-07-20 09:37] AquilesCanta commented on #7635
Thanks for confirming @giladna! Useful for future readers.

[2020-07-20 09:52] PavelGP opened #7649 "Does ExoPlayer supports CMAF for DASH streams?"
### Searched documentation and issues
Look through ExoPLayer documentation and questions on GitHub but didn't find straight answer on my question. Can find only info about HLS streams, but not about DASH.

### Question
Does ExoPlayer oficially supports CMAF for DASH streams? Which DRMs are applicable in this case? Should I setup any special settings for ExoPlayer to support CMAF playback?

[2020-07-20 16:25] ojw28 commented on #7649
Supported DRM configurations are documented [here](https://exoplayer.dev/drm.html). Aside from making sure you use a supported DRM configuration, I would expect use of CMAF segments in DASH to just work without you having to do anything special.

[2020-07-20 16:25] #7649 closed, assigned to ojw28

[2020-07-20 16:31] PavelGP commented on #7649
Thank you.

[2020-07-20 16:47] lavajaw commented on #5978
Do you have release date for 2.12.0? Or raw estimation?

[2020-07-20 16:51] ojw28 commented on #5978
We're actively working on burning down pending issues for 2.12. I think late August is probably our best estimate as of now.

More generally, we'd like to avoid having so much work sitting around unreleased for a long time going forward, which has happened with `2.11` compared to the current `dev-v2` branch. We're looking at how we can improve our release process going forward (it's not straightfo

[2020-07-20 17:00] dmkenza commented on #7644
setPlaybackParameters( PlaybackParameters(speed, 1f , skipSilence) )

skipSilence = true  -> generated this problem

[2020-07-20 17:00] #7644 closed, assigned to ojw28

[2020-07-20 18:02] mrshadow98 opened #7650 "Unable to download AES encrypted HLS media"
I am using the same arrangement as in the demo app to download the HLS stream(DownloadTracker, Download Manager). For streaming, I'm using a custom HLS media source.

[code]
For downloading so far I'm able to download the encrypted file data by using demo app like structure. But the license key is not downloading because I'm unable to figure out how to add Authorization token in DRM request. I als

[2020-07-20 23:51] newtestpage opened #7651 "one of the my hls url is not working on exoplayer"
Hello
I faced a problem on my project . I have many hls url on my project and all of them playing on exoplayer properly . But one of the links not working . How ever it's work on google chrome,vlc etc. Any Idea how should I play this url ?
`https://dcunilive208-lh.akamaihd.net/i/dclive_1@112780/index_150.m3u8?`

I got this error :
`E/ExoPlayerImplInternal: Source error.
    com.google.android.exop

[2020-07-21 07:56] gokulkalagara commented on #7629
You close the issue but the issue still exists

@ojw28 I will create a new issue, we take the report  from the users, not from my phone, Redmi and Realme not storing the proper bug reports,
there is only one bug report, we are getting not like stock android os

[2020-07-21 08:44] beazlr02 opened #7652 "Add Downloader analytics listeners (e.g., onLoadCompleted / onLoadError)"
As many other people we are often the victim of misconfigured CDNs, overloaded CDNs or problems with origin. Its for this reason we like to track when segments fail (or even manifest) to download and include information such as response headers, status codes, uris. This is possible for an online streaming session (MediaSourceEventListener / AnalyticsListener) but not during download for an offline

[2020-07-21 09:46] pratakr opened #7653 "4K content frame drop on audio passthrough mode"
I try to play streaming 4K MKV content with progressive media source exoplayer on Zedoo media player box. I wrote customRenderersFactory to force AudioCapability allow passthrough audio to AVR. I'm not sure is the correct way to do that. On Content HVEC/AC3 exoplayer can playback and drop frame sometime. But when switch to DTS or True-HD audio it alway drop frame in EventLogger: I try to adjust bu

[2020-07-21 10:03] beazlr02 opened #7654 "Add support for multiple baseurl failover using dvb:priority and dvb:weight"
### Use case description
To mitigate failures between between the player and origin we use a number of CDNs and on playback failure attempt to resume playback using one of the other CDNs. We prioritise certain routes over others (sometimes for cost reasons) and also allow connections to recover such that they are elligebale for fail over again. At this time failover is implemented outwith of exopl

[2020-07-21 10:28] andrewlewis commented on #7653
When frames are getting dropped, does the audio sound right or is it breaking up?

I think this is going to be difficult to diagnose without the required hardware so it would be useful if you could investigate what's going on yourself. Could you try logging the player position passed to `MediaCodecVideoRenderer.processOutputBuffer` and the value of `earlyUs` calculated in that method to logcat eve

[2020-07-21 10:32] AquilesCanta commented on #7651
This is an [HTTP 403](https://en.wikipedia.org/wiki/HTTP_403#:~:text=HTTP%20403%20is%20a%20HTTP,with%20the%20403%20status%20code.). This is the server telling ExoPlayer / your app that it is not authorized to access the resource it's trying to access. If I run

`curl -I https://dcunilive208-lh.akamaihd.net/i/dclive_1@112780/index_150.m3u8`

locally, I get:

`HTTP/1.1 405 Method Not Allowed`

With

[2020-07-21 11:01] shayegan1988 commented on #7651
https://dcunilive208-lh.akamaihd.net/i/dclive_1@112780/index_150_av-p.m3u8?
sd=10&rebase=on&hdntl=exp=1595415624~acl=%2fi%2fdclive_1%40112780*~data=hdntl~hmac=0ae177b1efc06bf76e2fb46889b102b9d8896f0c9829d1e90d4b2afad4cd96bf

[2020-07-21 11:03] #7651 closed, assigned to AquilesCanta

[2020-07-21 11:08] newtestpage opened #7655 "exoplayer doesn't accept * character in url"
Hi
I faced a problem when I want to pass a url to exoplayer that  include "*" in url . My url has 2 part like follow :

part1*part2
and when I want to pass whole url to exoplayer it just identify part1 and leave part 2. I should mention I fetched this url and I can not  change it's structure .
Any suggestion or help ?

[2020-07-21 11:45] pratakr commented on #7653
Sound is good AVR and detect all type encode audio. av sync is ok. only video frame jerky. I add log print out PositionUs and earlyUs. I notice that earlyUs reduce when switch audio to DTS.  It should not make a difference between audio codec because of audio just pass to AVR.

bug report link here
[https://drive.google.com/file/d/1j0M44CUv39V5rKU3gxTBX0P46oJwcQ3B/view?usp=sharing](url)

Logcat pr

[2020-07-21 17:12] BarryFruitman commented on #6166
+1 for specifying headers in a `DownloadRequest` or `MediaItem`. Headers are used pretty commonly in authentication schemas and it would be useful to be able to specify them on a per-request basis.

[2020-07-21 17:26] NathanSass commented on #6166
+1 I would also like this feature

[2020-07-21 18:31] Gaurav328 commented on #7627
1. ExoPlayer  version: 2.11.3
2. only  specific  device (jio setup box android version 7.0)
4. Working fine on other version of jio setup and other devices (android tv, mi tv, fire tv)

[2020-07-21 23:49] fmatosqg commented on #7638
Hi @andrewlewis thx for your reply.

I'll try to bring a bit of context about `video_player` lib. It is THE official way to play videos in flutter. It's fair to say it's the counterpart of exoplayer for flutter android. I'd expect pretty much anybody doing video in flutter to use it. They do accept pull requests, but I'm looking for a one time solution instead of chasing a fix every time exoplayer

[2020-07-22 00:24] chadacious commented on #7630
I was able to get the results I needed by swallowing the error in IntializationChunk load method.
[code]
changed to something like:
[code]

Perhaps the SegmentBase indexRange is too sensitive and can handle the EOF exception? I'll see if I can do some more research and could make a pull request if I can build a solid case for it.

Thoughts?

[2020-07-22 01:04] #7535 closed, assigned to ojw28

[2020-07-22 06:08] gokulkalagara opened #7657 "Offline downloaded unable to play, its required internet to play"
### Issue description
user downloaded the protected dash content videos, sometimes are not unable to stream in offline mode still, the videos are download and license is also not expired.
It raises the playback exception

**com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect**

**Caused by: java.net.UnknownHostException: Unable to resolve host "d2jx687v

[2020-07-22 06:19] gokulkalagara commented on #7657
I share the bug report via mail with exoplayer implementation.
In the bug report, line number 65,150 contains the error message @ojw28 please check it

[2020-07-22 08:38] mrshadow98 commented on #7650
Finally, I solved this problem of adding custom headers to download request so that the licence key for these videos can be downloaded successfully. I just customized the httpdatasource instead of using defaulthttpdatasource. Here is the solution, It may help someone in need.

/** Returns a {@link HttpDataSource.Factory}. */
  @SuppressLint("NewApi")
  public HttpDataSource.Factory buildHttpDataSo

[2020-07-22 08:38] #7650 closed, assigned to nobody

[2020-07-22 08:42] vipinchouhan commented on #7611
@ojw28 please check above comment and let me know the solution. if local file of mkv format that have more than 1 gb size is playing immediately just after adjust the seekbar forward/rewind video without taking any time then please provide me sample code for exoplayer

i am facing such issue from last 13 days and its really bad experience for me. so please help me to resolve this issue

[2020-07-22 08:51] Samrobbo commented on #7627
- Does this occur with any media, or only specific videos/audio clips? If specific, please provide a link to this media.
- I also would ideally need a snippet of any custom code that executes as result of a seek.

[2020-07-22 09:37] gokulkalagara commented on #7547
@ojw28 can I know the status, it's almost 26 days, not even single replay from you

[2020-07-22 10:47] krocard commented on #7641
Track selection can be done using [DefaultTrackSelector.setParametrers](https://github.com/google/ExoPlayer/blob/r2.11.7/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java#L1510).
You can find an example in our demo app [TrackSelectionDialog]( https://github.com/google/ExoPlayer/blob/r2.11.7/demos/main/src/main/java/com/google/android/exoplayer2/demo/

[2020-07-22 10:51] krocard commented on #7641
Please also note that audio could also not be playing because your device can not decode it. You can confirm ExoPlayer can correctly play your file by using our demo app as explained on
https://exoplayer.dev/demo-application.html#3-firing-an-intent
It will also let you try the track selection switch.

[2020-07-22 10:51] krocard commented on #7641
Please reopen if your question is not fully addressed.

[2020-07-22 10:51] #7641 closed, assigned to krocard

[2020-07-22 11:13] krocard commented on #7642
Those topics are covered in detail in those 2 pages:
https://exoplayer.dev/hello-world.html
https://exoplayer.dev/drm.html

I highly recommend you go read them. The gist of it:
[code]

[2020-07-22 11:14] #7642 closed, assigned to krocard

[2020-07-22 12:05] swamp-agr opened #7658 "How mediaStartTimeMs could be aligned with current timeline?"
### Searched documentation and issues

The most related question here was #5851.

### Question

- I am working with HLS Live stream.
- I need current position that could be obtained from `#EXT-X-PROGRAM-DATE-TIME` tags from HLS Media Playlist to know what time is it now according to live stream, with some accuracy (e.g. `300ms`).
- For this particular reason I looked up for currently downloading c

[2020-07-22 12:27] kim-vde commented on #7579
Can you confirm that the `buffer` is also null in `MediaCodecAudioRenderer`? I am asking because I would expect an NPE to be thrown in that case. Thanks!

[2020-07-22 12:39] emilieroberts commented on #7579
In my demo I am actually throwing away the audio stream ([see here](https://github.com/chromeos/video-decode-encode-demo/blob/master/app/src/main/java/dev/hadrosaur/videodecodeencodedemo/VideoHelpers/ExoUtils.kt#L51)). I assume it is null as well but have not tested.

[2020-07-22 12:53] kim-vde commented on #7579
And for videos, the buffers are null at the beginning but become non-null at some point if my understanding is correct?

[2020-07-22 14:01] dwbdwbdwb opened #7659 "2.11.0 and above, switching between foreground and background incurs screen black out, occasionally"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-07-22 14:07] krocard commented on #7645
With exoPlayer, you can either
 1) manage audiofocus in your app, independently of ExoPlayer, which your snippet suggest you are doing,
 2) have ExoPlayer handle it: https://medium.com/google-exoplayer/easy-audio-focus-with-exoplayer-a2dcbbe4640e

You seem to use the first option. So your code is not ExoPlayer specific in any way. Thus I don't think we can help you debug your app, especially witho

[2020-07-22 14:07] #7645 closed, assigned to krocard

[2020-07-22 14:32] emilieroberts commented on #7579
I believe so. I am extending ExoPlayer's MediaCodecVideoRenderer implementation so I assume that at some point the buffers must be non-null, since the video data comes out fine and is displayed.

On Kotlin, there is a runtime null check on values not declared nullable so it crashes when the null value comes in. If I disable the check, everything runs fine, and the video is shown, I don't see any d

[2020-07-22 14:45] krocard commented on #7659
@dwbdwbdwb could you please fill up the template and explain your problem?

Additionally, we unfortunately do not offer support in Chinese. Google Translate of the title (the only thing you have written as far as I could find) is "2.11.0 The above version will have a black screen when switching between front and back". ~Which I do not understand, what is front and back? It the issue encountered on

[2020-07-22 15:14] kim-vde commented on #7579
Actually, the buffer could be null in some cases (see [`MediaCodec#getOutputBuffer(int)`](https://developer.android.com/reference/android/media/MediaCodec#getOutputBuffer(int))). It is also not surprising to be able to play the video even if the buffers are null because `MediaCodecVideoRenderer#processOutputBuffer()` doesn't use the `buffer` parameter.

This would be interesting input for us to kn

[2020-07-22 15:19] krocard commented on #7659
Translation of the title from a native Chinese speaker:

I updated the title of the issue.

[2020-07-22 15:27] krocard commented on #7659
@dwbdwbdwb is your media encrypted (DRM)?
@ojw28 does this ring a bell, It could be similar to our internal issue b/146180867?

[2020-07-22 17:59] swamp-agr commented on #7658
**Update No. 1**

I am dealing with HLS Live stream with limited availability:
[code]

Here:
- Window: `15000` - is `defaultPositionMs`, `30000` - is `durationMs`.
- Period: `-25000` - is `positionInWindowMs`, `C.TIME_UNSET` - durationMs.

<img width="1292" alt="Screenshot 2020-07-22 at 19 20 07" src="https://user-images.githubusercontent.com/6595049/88210115-55659680-cc5c-11ea-8a50-e16a532d786b.p

[2020-07-22 19:12] ojw28 commented on #7611
File size alone is unlikely to have any impact on seek latency. There are other properties of the content, for example bitrate, key-frame density, and so on, that do affect seek latency. As I've already requested twice now, please provide a file that reproduces this issue, so that we can reproduce exactly what you're seeing and determine whether it's explained by a property of the file, or by some

[2020-07-22 22:03] willtrking commented on #7267
I'm interested in working on this, and made changes to `MatroskaExtractor` locally to support Dolby Vision data in BlockAdditionMapping per the final spec here (https://github.com/cellar-wg/matroska-specification/pull/390). It seems like since the dvvc and dvcc is already supported for mp4's, all that's needed is to modify `MatroskaExtractor` to properly extract a `DolbyVisionConfig` and pass the

[2020-07-22 22:28] imranhsn opened #7660 "Not able to playback the MPEG-4 ALS content (Error : Media includes audio tracks, but none are playable by this device)"
### [REQUIRED] Searched documentation and issues
I have looked for same issues but still can't find an answer.

### [REQUIRED] Question
I am trying to playback the MPEG-4 ALS DASH content from demo app, it shows `Media includes audio tracks, but none are playable by this device`. When I check the [support format](https://exoplayer.dev/supported-formats.html), I didn't found this format for DASH. S

[2020-07-23 01:04] #7540 closed, assigned to tonihei

[2020-07-23 01:04] #7161 closed, assigned to andrewlewis

[2020-07-23 10:40] xoancosmed opened #7661 "Not able to get bandwith for UDP MPEG-TS stream"
### Searched documentation and issues
Looked issues:
- https://github.com/google/ExoPlayer/issues/6843
- https://github.com/google/ExoPlayer/issues/2029

### Question
I'm playing an UDP MPEG-TS stream in ExoPlayer, but I'm not able to get metrics like the bandwidth, although I'm able to get the frame drop.

This is how I'm generating the stream (where `SampleVideo.mp4` is input video file and `192

[2020-07-23 14:11] kim-vde commented on #7630
It is expected that seeking is not working if you don't specify the right ranges so I would try to fix these.

[2020-07-23 15:53] krocard commented on #7643
Marc, searching in your doc https://exoplayer.dev/downloading-media.html, I could not find if maybe the media can be retrieved from eg the MediaStore.

Do you mind answering this question?

[2020-07-23 16:05] krocard commented on #7646
Are you trying to build something like a slideshow? With images and text alternating/superposing?

For text, you could play subtitles but you will be limited in customisation.
For images, ExoPayer has no builtin ways to display an image.

You will have to build you own custom renderer, see also https://github.com/google/ExoPlayer/issues/2874

[2020-07-23 16:07] krocard commented on #7646
We do no plan to support playing images currently, closing this enhancement request.

Please reopen if I misunderstood your request.

[2020-07-23 16:07] #7646 closed, assigned to krocard

[2020-07-23 16:33] trmvenus commented on #7220
Hello, **a4x4kiwi**.

I also want to stream TS files (included Australian TV Subtitle) to the demo Exoplayer app.
Could you help me to stream TS file?

Thanks.

[2020-07-23 17:53] krocard commented on #7647
Since 2.11.0 (see 5579cc89c6e5d75d2c23513e67532e54118d26af), end of stream in tunneling is detected with `MediaCodec.OnFrameRenderedListener` [magic value callback](https://github.com/google/ExoPlayer/blob/r2.11.7/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1866)

## Presumed root cause

If your device decoder does not send that callback, ExoPlayer

[2020-07-23 18:04] krocard commented on #7655
What do you mean by that, are you sniffing the ExoPlayer network request or in some other way?
Could you share the problematic URL?

Wild guess, but how are you passing the URL to ExoPlayer? If it is through the shell, you might need to % encode it (`%2A`) or escape it (`\*`)

[2020-07-23 18:18] ojw28 commented on #7660
`NO_UNSUPPORTED_DRM` indicates that the stream is using an unsupported DRM type. Or alternatively, you're not providing a `DrmSessionManager` to facilitate decryption. What type of DRM protection does the stream have?

If you were to resolve the DRM issue, I'm not sure whether you'd encounter a subsequent issue due to your use of MPEG-4 ALS. The easiest way to test this would be to get an equivale

[2020-07-23 18:28] ojw28 commented on #7654
Support for multiple BaseURL support is tracked by https://github.com/google/ExoPlayer/issues/771. Let's keep this one to additionally track the DVB enhancements, however.

[2020-07-23 18:32] trmvenus opened #7662 "I can't play files from google drive on Exoplayer"
Hello.
I tried to play the video file from google drive on Exoplayer
I just changed the url on demo Exoplayer project.

But I got the error like below:

Please help me and fix it.

    E/EventLogger: internalError [eventTime=1.77, mediaPos=0.00, window=0, period=0, loadError
      com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtra

[2020-07-23 18:40] ojw28 commented on #7662
Most likely you're providing the player with a link to a web page, rather than a direct link to an actual media file, which is what ExoPlayer needs. Does the same link play correctly in another player such as VLC?

If the same link does play correctly in another player, you'll need to provide us with a link that reproduces the problem for us to investigate further.

[2020-07-23 18:42] trmvenus commented on #7662
Thanks, ojw28.

I can play this video using VLC.

This video is a TS file with Australian TV Subtitles.

https://drive.google.com/open?id=1eTFX0KpQUog9bI5LQOe23K6B_FkgpErr

[2020-07-23 18:45] siddhant792 opened #7663 "Taking too much time to prepare player using hls .Is there any way to reduce prepare time for player or just changing the url without preparing new player to play next video??"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-07-23 19:15] Pavel87 opened #7664 "Buffering State triggers at the end of playback for short period of time ~10ms"
When playing ABR VOD using DASH **ExoPlayer.STATE_BUFFERING** triggers at the end of the video playback for very short period of time (peak at ~10ms). We record duration by doing diff from ExoPlayer.STATE_READY -  ExoPlayer.STATE_BUFFERING. The strange part is that if video segments total duration is i.e. 32440ms this buffering triggers at the same time or even past this time based on the playback

[2020-07-23 20:06] dmkenza opened #7665 "Gap between video in ConcatenatingMediaSource"
### Issue description
I play video sequence by using ConcatenatingMediaSource.

https://drive.google.com/file/d/1kYXtP0wG7_gYqu_ALnVqF-wkEqlgL4qN/view?usp=sharing

First video has size  640*640 and load quick.

I see gap in second video. It seem what load video begin when previous got end. This video has sizes 4000*3000 and this source does not have time to load.  How to fix this problem?

I want

[2020-07-23 20:50] yvbeek commented on #3165
@AquilesCanta @tonihei Are there any plans to include this feature?
It would be great if we no longer have to guess the correct MediaSource type based on the url.

[2020-07-23 21:00] ojw28 commented on #7662
Trying to open that link directly in VLC does not work for me. As explained above, it's not a direct link to an actual media file. It's a link to a web page from which you can download a media file. I managed to get a direct link, which is (this might expire, I'm not sure how Google Drive links work):

https://drive.google.com/u/1/uc?id=1eTFX0KpQUog9bI5LQOe23K6B_FkgpErr&export=download

This link

[2020-07-23 21:00] #7662 closed, assigned to ojw28

[2020-07-23 21:52] Pavel87 commented on #7664
When digging into this more the duration of video returned by player.getDuration() is 33003ms (DASH Manifest value) is not equal to actual length of the segments downloaded. The real length appears to be **32440**ms based on summation of all video segments downloaded length. Could this discrepancy trigger the short buffering I was observing. I am unable to reproduce it on any device I have the dat

[2020-07-23 22:26] newtestpage commented on #7655
Hi , Thanks for your response . I just catch it url from another website. Bellow is e complete url I got .

`https://dcunilive208-lh.akamaihd.net/i/dclive_1@112780/master.m3u8?hdnea=st=1595542867~exp=1595543267~acl=/i/dclive_1@112780*~hmac=5a254dc68c0e08e37a577de62969f24918c0583a1dc2651aa159456f9cc31a69`

as you can see it contain '*'  and when I want to pass to exoplayer it didn't accept whole ur

[2020-07-24 00:33] ghost opened #7666 "How to Downmix the audio 5.1, 7.1 audio to 2.0?"
Hello,

I am working on an Android TV Application (using leanback framework). For playing Video in my application I am using Exoplayer with VideoSupportFragment, VideoPlayerGlue and LeanbackPlayerAdapter as suggested by the Android TV Samples.

Most of the Videos that I am playing have 7.1 or 5.1 Audio. What I would like to do is if a 7.1 or 5.1 audio is played on a device where only 2 channels ar

[2020-07-24 01:04] #7543 closed, assigned to icbaker

[2020-07-24 02:22] a4x4kiwi commented on #7220
Hi trmdeveloper.

I use the Windows VLC player to stream the files in a loop. Note the android VM can not receive multicast. You should also have an Android TV box / Nvidia shield on your wired network for testing. (Wireless and Multicast do not usually play well together.

All the best,

[2020-07-24 03:33] trmdeveloper commented on #7220
Thanks for your response, a4x4kiwi.

https://drive.google.com/open?id=1Q9n5KY-WSodNbVIyUntgz_jKzgR9GGQs
https://drive.google.com/open?id=1eTFX0KpQUog9bI5LQOe23K6B_FkgpErr

I downloaded TS files from above urls and I tried to test this TS file on local using Exoplayer.
But I could see only black screen but the Exoplayer was playing without errors.

Could you play the TS files on local (storage or s

[2020-07-24 07:53] vimal1695 commented on #3859
@andrewlewis I am trying to implement dev version of exoplayer to check downloads Parallelize but unable to sync

Failed to resolve: com.github.google.ExoPlayer:extension-ima:dev-v2-SNAPSHOT
Failed to resolve: com.github.google.ExoPlayer:extension-leanback:dev-v2-SNAPSHOT
Failed to resolve: com.github.google.ExoPlayer:library:dev-v2-SNAPSHOT
Failed to resolve: com.github.google.ExoPlayer:library-c

[2020-07-24 08:20] vimal1695 commented on #5978
@ojw28 How to use dev-v2 to check download Parallelize

[2020-07-24 08:46] AGasztold commented on #7647
Hi,

Thank you for your answer. You were right.
1. There was no EOS timestamp after stream was ended.
2. I have added condition with codec name: ("**OMX.broadcom.video_decoder.tunne**l").equals(name) to codecNeedsEosPropagationWorkaround and it worked (processEndOfStream() was called and STATE_ENDED was set properly).
Best Regards!!

Agnieszka

[2020-07-24 10:12] beazlr02 commented on #7654
Perfect, thanks 👍

[2020-07-24 10:34] andrewlewis commented on #7647
@jyee-brcm FYI: it looks like this Broadcom decoder is not producing the expected end-of-stream buffer in tunneled mode. I think we are planning to start verifying this behavior in an upcoming CTS release (@krocard can confirm).

[2020-07-24 10:44] krocard commented on #7666
Which audio format is your media using?

If an A/V receiver is plugged in, and it supports the audio format your media is encoded in, ExoPlayer will play it in [passthrough](https://source.android.com/devices/tv/multimedia-tunneling), meaning the A/V receiver will decode and downmix if needed itself. So no downmixing needs to be done by your app or ExoPlayer.

If passthrough is not possible, and y

[2020-07-24 10:53] aureobeck commented on #7615
Tested on 4.2.1.320059654 (July 20) and same problem occurs, should I open an issue on katniss side? @marcbaechinger

[2020-07-24 11:05] andrewlewis commented on #7666
We rely on the audio framework downmixing for all cases. When not using passthrough I'd hope the device's decoders would output the right number of channels to be compatible with playout. If that's not the case, it would be possible to discard channels via the `ChannelMappingAudioProcessor`(but this is not currently visible outside ExoPlayer).

[2020-07-24 11:15] ojw28 commented on #7664
It wouldn't be expected, no. Are you able to slice your production data by device model, to see if only certain devices are affected? If it only happens on certain devices, that would also explain why you're unable to reproduce (assuming you don't have one of the affected devices for local testing) and might also help us to reproduce and figure out what's happening.

[2020-07-24 11:21] andrewlewis commented on #6366
@stevemayhew Sorry for the delay. I've emailed you directly about diagnosing this and getting a test device. Thanks.

[2020-07-24 12:12] ghost commented on #7666
Sorry for not providing you the audio source format earlier. The audio format I am trying to play is mostly ".mkv" with mostly 5.1 or 7.1 audio.

So here are some of the tests I did last night to see how other players behave with the same Stream.

On my Nvidia Shield -> AV Receiver -> TV Setup, I noticed that I am not able to control the volume of the Video when played using Exoplayer. It says tha

[2020-07-24 12:16] ghost commented on #7666
Also even with my AV Receiver, I would like to control the volume of the Stream using Android Device's remote and not the AV Receivers remote (just like youtube and vlc apps are doing). Is there any way I can achieve that?

[2020-07-24 13:06] andrewlewis commented on #7666
When using encoded passthrough to an A/V receiver, it is necessary to use the volume controls on the A/V receiver (my understanding is that the device would actually have to transcode the stream to change the volume, which can't be done without a decoder and encoder).

VLC is probably decoding on the device. You may be able to use the ExoPlayer ffmpeg extension to do that, if you don't mind bundli

[2020-07-24 13:15] krocard commented on #7655
`https://dcunilive208-lh.akamaihd.net/i/dclive_1@112780/master.m3u8?hdnea=st=1595542867~exp=1595543267~acl=/i/dclive_1@112780`

How do did you observe that the url is truncated? I just put a breakpoint in Cronet and the `dataSpec.uri` is correct:
[code]

So I don't think the url is truncated in any way. You can also see it in ExoPlayer's log:
[code]

[2020-07-24 13:23] krocard commented on #7655
Your URL always return a 404 for me, in ExoPlayer, curl and my browser. Is the URL geoblocked by any chance or invalid?

If this is not the issue, could you post the logcat of the error?

[2020-07-24 13:32] krocard commented on #7663
You should not have to create a new ExoPlayer instance, or prepare it again, for each url in your playlist. You should use a playlist as described at https://exoplayer.dev/playlists.html.

[2020-07-24 13:36] krocard commented on #7663
Does this answer your question?

[2020-07-24 13:37] krocard commented on #7663
Please reopen if you have an issue with creating a playlist.

[2020-07-24 13:37] #7663 closed, assigned to krocard

[2020-07-24 13:46] krocard commented on #7665
In order for us to reproduce and understand the issue, could you please provide a
 - a link to the 2 videos that reproduces the issue
 - a full bug report using "adb bugreport". Output from "adb logcat" or a log snippet is NOT sufficient. Please attach the captured bug report as a file.

If you don't wish to post those publicly, please email the link to dev.exoplayer@gmail.com using a subject in t

[2020-07-24 13:46] ghost commented on #7666
Thank you very much for your response. I don't mind bundling ffmpeg extension with my app, but I would like to get atleast 5.1 support on the devices that are connected to AV receiver. I think even Plex is using Exoplayer and they have option to disable passthrough and it still provides 5.1 audio. Any idea how they would be doing it?

[2020-07-24 14:30] AGasztold commented on #7647
Hello, we have also seen this codec: **"OMX.broadcom.video_decoder.tunnel.secure**" on different Sagemcom STB with EOS issue. For my purposes I finally put following condition: Build.MANUFACTURER.equals("Sagemcom"), but checking if codec's name contains: "OMX.broadcom.video_decoder.tunnel" might be enough.

[2020-07-24 15:20] newtestpage commented on #7655
it is return 404 because I think link is expired . I try to get direct link from follow url .
`http://iframe.dacast.com/b/127281/c/545749`

I tried to get complete link from above url and pass it to exoplayer . but I got source error . I thought maybe * is the cause of it .

[2020-07-24 15:23] msilucifer opened #7668 "UDP Stream is not working in Exoplayer"
Hello.

### Question
How to implement UDP stream using Exoplayer?

I am trying to test UDP stream using Exoplayer while VLC mediaplayer is streaming a video file.
But I am not able to open UDP stream in exoplayer and I can get only bugs.
It will be great help if someone can guide me and share the code for playing UDP stream in ExoPlayer.

Here is the code I used and the bug report that occurred.

[2020-07-24 15:32] andrewlewis commented on #7666
If you disable passthrough and decode on the device to 5.1 PCM audio (via ffmpeg, for example), that output can still be sent over non-ARC HDMI. The stereo limitation I mentioned in my previous comment only happens if the output path doesn't have enough bandwidth (as is the case for optical and HDMI ARC).

I can't comment on what Plex might be doing, but your A/V receiver may tell you what format

[2020-07-24 15:34] ghost commented on #7666
Is there a sample or example available that I can look about how to disable passthrough in Exoplayer and decode the audio using ffmpeg?

[2020-07-24 15:42] andrewlewis commented on #7666
For disabling passthrough, pass `null` as the `AudioCapabilities` when creating your audio sink (see also #4841).

For using ffmpeg, see the [FFmpeg extension README](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md).

[2020-07-24 15:52] Pavel87 commented on #7664
From device distribution the most affected are older versions of android and also appears like no top tier devices are in the list, but still good variety of manufacturers/models experiencing this issue.

<img width="1434" alt="Screen Shot 2020-07-24 at 8 47 24 AM" src="https://user-images.githubusercontent.com/5558923/88410006-98258c80-cd8a-11ea-961f-520f9e16ee9a.png">

[2020-07-24 17:32] dmkenza commented on #7665
@krocard
https://drive.google.com/file/d/11xwvFU26d8CT2g1Ao31kfeYQAmx9lfpF/view?usp=sharing

[2020-07-24 19:54] PratimMallick opened #7669 "EXTRA_ENCODINGS of ACTION_HDMI_AUDIO_PLUG intent of AudioManager reports EAC3 even when user has selected PCM only in Audio Output"
Using a TCL AndroidTV to play dolby digital stream(Ec3) and an external 5.1 is connected to the TV via HDMI ARC.

While deciding the AudioCapabilities we are reading the `EXTRA_ENCODINGS` of `ACTION_HDMI_AUDIO_PLUG` intent of audioManager. This reports the correct value of `ENCODING_E_AC3` when Auto or Passthrough option is selected in the android tv's 'Digital Audio Out' user settings.
But when P

[2020-07-25 12:07] newtestpage opened #7670 "hls stream has no sound with exoplayer how ever it has on another player"
Hi
I am trying to play hls stream with exoplayer . video playing good but I have problem with audio . it doesn't have any audio .
hls link :
[code]

is there any solution ?
my media source method :

[code]

[2020-07-25 14:58] imranhsn commented on #7660
Here I am provided `DrmSessionManager `, it's not an issue. The DRM protection used Widevine.. When I enable FFmpeg extension and debug DRM video from the Exoplayer demo app, it also returns `NO_UNSUPPORTED_DRM ` from `supportsFormatInternal` method of `FfmpegAudioRenderer ` and didn't call `createDecoder` method but the video is working fine. For clear key, it returns `FORMAT_HANDLED` and calls t

[2020-07-25 15:27] Taranlayal10 opened #7671 "MediaCodec$CodecException: Error 0x80000000"
### [REQUIRED] Searched documentation and issues
I did found a blog of the similar [issue](https://gitmemory.com/issue/google/ExoPlayer/7440/655219045) but there is no resolution provided for it

### [REQUIRED] Question
I am playing DASH Widevine content in my application. It plays without any issue for like three times but when I try to play different contents again and again it gives me an error

[2020-07-25 21:43] fgl27 opened #7672 "dev-v2 latest: Playback can get stuck buffering after seeking"
### [REQUIRED] Issue description
Last changes on dev-v2 branch from Jul 24, 2020 is causing problem on three situations.

**1. starting a hls VOD passing a starting `position > 0`**

The playback will not start as expect, it will stall, and after a few seconds will start from the `position > 0`. This is not a expected buffer stall, is something unusual way longer then the normal starting buffer.

[2020-07-26 08:32] vikasacharya16 commented on #1649
it's been 4 years now. Kindly add this feature to exoplayer.

[2020-07-26 09:25] krys007 opened #7673 "Set lowest quality(Track selection) as default for both video and the TrackSelectionBuilder"
Hello Team .. i am using exoplayer:2.11.6 version in my app
i have setForceLowestBitrate(true) in onCreate so that video will play in lowest quality available.

[code]

and i am opening TrackSelector using this code

[code]

but in the dialog its now showing lowest quality selected by default
instead of that it shows
Auto as selected by deafult
see image here: https://freeimage.host/i/dTEmKP
i wan

[2020-07-26 13:57] matanmarciano opened #7674 "How to get current audio frame?"
Hi Exoplayer's :)
How can I get (in real-time) the current audio frame (byte[]?) that about to be rendered ???

[2020-07-27 01:38] yanshanshu opened #7675 "FLV - Playback fails if SCRIPTDATA segment has invalid name type"
播放一个没有没有音频输出的视频流，报com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.ParserException 异常

[2020-07-27 04:23] vipinchouhan commented on #7611
Hello @ojw28

We are facing issue in file that is available in drive link. so please download file from below url and check the issue in exoplayer.

[2020-07-27 06:30] shikjain opened #7676 "Force send onDroppedFrames when stream changes"
Hi,

I will like to know how dropped frame counter (onDroppedFrames API in VideoRendererEventListener) is internally handled. When the media stream changes (like playlist or Ads use case) in the player, does the dropped frames counter gets reset or it will report any unreported drops from previous stream to new stream?

Note, I am using Exoplayer SDK on Android platform.

[2020-07-27 08:05] msilucifer opened #7677 "How to show subtitle without url on Exoplayer"
Hello, everyone.

### How to show subtitle without url on Exoplayer.
I am trying to show subtitle in Exoplayer but I have no subtitle url.
My word means that I want to show subtitle with a url of only video file, not subtitle file.
I can see subtitles without subtitle file(.srt, .ass ...) on VLC media player.
I think that this video file contains subtitles info itself.

In this case, how to show s

[2020-07-27 08:48] krocard commented on #7655
We will not help extracting video URLs from websites.

This issue aims to answer ExoPlayer questions. Please post a valid URL or/and a log of the issue using for example `adb logcat` or better a full bug report for example `adb bugreport` taken just after the failed playback.

[2020-07-27 09:10] #7655 closed, assigned to krocard

[2020-07-27 09:21] ojw28 commented on #7660
You see `NO_UNSUPPORTED_DRM` when using the FFmpeg extension because the FFmpeg extension doesn't support DRM. There are valid security reasons for not supporting DRM with software decoder extensions, because it's very difficult to actually ensure the level of protection that the DRM scheme is intended to be used for in this case (in which case, there's not really much point using DRM in the first

[2020-07-27 09:21] #7660 closed, assigned to ojw28

[2020-07-27 09:27] ojw28 commented on #7611
We don't want a link to a video that's a recording of what the problem is. We want a link to a video that we can use to reproduce the problem. Please provide a link to a large MKV file that we can use to reproduce the issue.

[2020-07-27 09:28] ojw28 commented on #7669
@andrewlewis - I don't really understand why this isn't just a duplicate of https://github.com/google/ExoPlayer/issues/7617 (if it is, please close it as such; thanks!).

[2020-07-27 09:42] DavidMihola opened #7678 "HLS: Are there "legitimate" cases where chunkless preparation fails but the stream works fine without?"
### Searched documentation and issues
* Code documentation of `HlsMediaSource`
* Blog post about chunkless preparation: https://medium.com/google-exoplayer/faster-hls-preparation-f6611aa15ea6
* Searched the issues here on Github for `chunkless`

### Question
Are there cases where an HLS manifest is complete and correct (with regards to the actual segment files) but chunkless preparation in ExoPlay

[2020-07-27 09:45] ojw28 commented on #7670
The stream plays fine with audio for me. Please properly fill in the issue template, [available here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md), if you require further help.

[2020-07-27 09:51] ojw28 commented on #7675
ExoPlayer supports video streams that do not also contain audio, so this should work fine. For us to help, you'll need to provide us with a piece of sample media that reproduces the problem.

[2020-07-27 09:55] ojw28 commented on #7672
I tried both (1) and (2) in the ExoPlayer demo app at 6fb28a8dc91ee0d0542e7b9e6647656c64c35e37, and I couldn't reproduce either.

Would it be possible for you to provide more specific, concrete reproduction steps in the demo app, since I think some of your assumptions ("I assume any hls vod will cause this" and "I assume one can reproduce it very easy") are probably not valid.

[2020-07-27 09:56] krocard commented on #7668
@marcbaechinger I'm assigning to you according to the triage guide, but @ojw28 might be able to help as he was the reviewer of the implementation in [Internal ref: cl/98668385].

My analysis:

First, from the stacktrace, this is an UDP address (not multicast).

Looking at [UdpDataSource.open(DataSpec)](https://github.com/google/ExoPlayer/blob/r2.11.7/library/core/src/main/java/com/google/android/e

[2020-07-27 10:10] yanshanshu commented on #7675
http://221.226.74.203:9111/live?port=1554&app=liveonly&stream=5 这是测试的流媒体。
view我用的TextureView。下面文件是具体代码
[PlayerActivity.txt](https://github.com/google/ExoPlayer/files/4981363/PlayerActivity.txt)

[2020-07-27 10:29] AquilesCanta commented on #7678
I think the best step forward is that we wait until we get a sample stream to reproduce ourselves. I don't think chunkless preparation would cause audio tracks not to be detected, in general. And there is not really much gain in speculating about possible causes. Please post below once you have a stream you can share with us. Thanks for reporting!

[2020-07-27 10:45] icbaker commented on #7677
If the video & subtitles are in a [container that ExoPlayer recognises](https://exoplayer.dev/supported-formats.html#progressive-container-formats), then the subtitle track should be extracted and be available to the [`TrackSelector`](https://exoplayer.dev/track-selection.html).

In the [demo app](https://exoplayer.dev/demo-application.html), this shows up in the UI under the 'SELECT TRACKS' at th

[2020-07-27 10:54] ojw28 commented on #7675
It looks like the media contains an invalid `SCRIPTDATA` segment, which violates the FLV specification.

We can make ExoPlayer ignore the segment rather than fail playback in this case, however please note that the media is malformed, and that's the root cause of this issue.

[2020-07-27 11:08] DavidMihola commented on #7678
Thanks for the quick reply!

OK, I will get back to you as soon as we have a test stream!

[2020-07-27 11:29] villagra opened #7679 "Add original emsg properties to the MetadataOutput.onMetadata callback or as properties into the eventMessage object"
We're trying implementing a feature into our player where I need to get the **original presentation time** or **presentation time delta & sampleTimeUs** (https://aomediacodec.github.io/id3-emsg/) for these event messages.

Currently, I'm adding an analyticsListener and handling the onMetadata(eventTime: AnalyticsListener.EventTime?, metadata: Metadata?) method, but I can't find a way to get the or

[2020-07-27 11:54] msilucifer commented on #7677
Thanks for your response, @icbaker
I can see the 'TEXT' tab and also I can choose 'AUTO' item.
![screenshot #1](https://user-images.githubusercontent.com/68741786/88538773-84a44b00-d042-11ea-88fd-03b6ecd21630.png)

But I can't see the subtitles in the video.
I sent the video url to "dev.exoplayer@gmail.com".

Please test it and I really appreciate if you solve this problem.

Best wishes.

[2020-07-27 12:19] ojw28 commented on #7659
I think it's most likely a duplicate of https://github.com/google/ExoPlayer/issues/677, but it's not possible to be sure without complete information. @dwbdwbdwb - Please properly fill in the issue template if you require further help with this. Thanks!

[2020-07-27 13:01] newtestpage commented on #7670
Hi
thanks for your response . it was wrong url . I edited url and entered correct url . It doesn't have audio with exoplayer.

[2020-07-27 13:04] ojw28 commented on #7670
I suspect this is a case of bad media, but over to @AquilesCanta to take a look.

[2020-07-27 13:05] krocard commented on #7647
That is correct, starting with Android 11, CTS will fails if a tunneling codecs does not report EOS (timestamps are also tested):

https://android-review.googlesource.com/c/platform/cts/+/1225935
https://cs.android.com/android/platform/superproject/+/master:cts/tests/tests/media/src/android/media/cts/CodecState.java;l=385?q=onFrameRendered%5C(

[2020-07-27 13:14] krocard commented on #7647
I'll merge a change to add `OMX.broadcom.video_decoder.tunnel.secure` to `codecNeedsEosPropagationWorkaround`. It should be available in the next release.

[2020-07-27 14:23] AquilesCanta commented on #7670
I agree with @ojw28. The master playlist explicitly puts no audio codecs in the first variant, even though it does contain audio. From the [HLS specification (section 4.3.4.1.1)](https://tools.ietf.org/html/rfc8216#section-4.3.4.1.1):

[code]

In order to easily fix this, just include the codec string for the audio track in all variants that contain audio.

[2020-07-27 14:23] #7670 closed, assigned to AquilesCanta

[2020-07-27 16:09] krocard commented on #7647
The fix will be available in 2.12. Thanks for reporting the issue and validating the workaround.

[2020-07-27 16:09] #7647 closed, assigned to krocard

[2020-07-27 16:47] newtestpage opened #7680 "Util.getDefaultBufferSize on exoplayer 2.11.1"
Hi
I want to use CusotmLoadControl  with my exoplayer to optimize my buffer but I faced problem . in follow code it coudn't find Util.getDefaultBufferSize what should I use instead of it ?
any idea ?

[code]

[2020-07-27 16:54] icbaker commented on #7679
Thanks for filing - I just want to make sure I've understood your requirement.

If I understand correctly, you can't derive the info you need from `EventTime` because the timestamps in there relate to ExoPlayer's playback position and not the timestamps of the underlying media? (this can happen if the media timestamps don't start at zero and is very common/inevitable for live streams)

In that cas

[2020-07-27 17:13] newtestpage commented on #7670
thanks for your response . Could give me more detail how I could do this ?

[2020-07-27 17:32] AquilesCanta commented on #6642
ExoPlayer does not support teletext. The 608 track you see is a closed caption track that the TsExtractor creates by default for historic reasons, but it is not related to teletext. For DVB teletext support, please track #7220.

[2020-07-27 17:32] #6642 closed, assigned to marcbaechinger

[2020-07-27 17:44] fgl27 commented on #7672
This is a odd one to reproduce, I can't cause (1) on the demo app, the demo app code is not what I use (regarding starting the playback when `ResumePosition > 0`), but I can cause (2)

**How to reproduce (2) on demo app:**

Play this:

https://github.com/google/ExoPlayer/blob/6fb28a8dc91ee0d0542e7b9e6647656c64c35e37/demos/main/src/main/assets/media.exolist.json#L272-L275

Go to 5 minutes or so (se

[2020-07-27 17:50] villagra commented on #7679
You got it right @icbaker
Yep, I also think it makes more sense to add it into the EventMessage itself.
A dictionary like the windows mediaplayer with the extra properties would do the trick...
For V0:

- presentation_time_delta
- earliest_presentation_time
- timescale

V1:

- presentation_time
- timescale

Thanks!

[2020-07-27 18:03] ojw28 commented on #7672
Thanks for the additional details. It looks like bf5e6c7862ae418895b2b6b26fae9c28aa662ee8 is the culprit

[2020-07-27 18:17] fgl27 commented on #7672
Yes reverting that fixes all issues.

[2020-07-27 19:38] AquilesCanta commented on #7670
Add the audio codecs string in your

`#EXT-X-STREAM-INF:BANDWIDTH=512000,RESOLUTION=480x360,CODECS="avc1.640015"`

The other variant in the manifest is:

`#EXT-X-STREAM-INF:BANDWIDTH=128000,RESOLUTION=240x180,CODECS="avc1.64000c,mp4a.40.2"`

As you can observe, it does contain the audio codec. You need to include the audio codec in both tags. Just make sure you are providing the right codec string

[2020-07-27 21:07] #7680 closed, assigned to ojw28

[2020-07-27 21:11] newtestpage opened #7681 "playing issue after about 15 minutes"
Hi
I faced problem with my exoplayer . when I play an hls stream after about 15 - 20 minutes it stuck and starting buffering and it didn't playing again .
my sample url :
`http://51.15.234.149/hls/stream.m3u8`

I got this info on console:
[code]

[2020-07-27 21:13] lavajaw opened #7682 "How to download only highest quality video (DASH)?"
### [REQUIRED] Searched documentation and issues
I check documentation and also saw similar issue
https://github.com/google/ExoPlayer/issues/6911

### [REQUIRED] Question
When I download media item (movie or episode) on android device (DASH/ DRM content) I download all qualities for that media items. I see in code that as default is selected
setForceHighestSupportedBitrate(true)
but still size is

[2020-07-28 01:04] #7538 closed, assigned to icbaker

[2020-07-28 01:14] yanshanshu commented on #7675
请问怎么设置ExoPlayer ignore the segment继续播放？我需要帮助

[2020-07-28 05:54] noranekotan opened #7683 "Frame drop when changed playback speed"
Frame drop occurs when the playback speed is changed.
For example, playing "Youtube DASH" > "Google Glass H264(MP4)" causes a frame drop.

Is there anything I can do to improve it?

### Confirmation environment
package : com.google.android.exoplayer2.demo
branch : ```release-v2```、```dev-v2```

### Changes
com.google.android.exoplayer2.demo.PlayerActivity
[code]

[2020-07-28 07:20] halilozel1903 opened #7684 "How to show thumbnail in ExoPlayer?"
Hi,

I want to show thumbnail in ExoPlayer.

I didn't found thumbnail document & example.

How can I show thumbnail in ExoPlayer?

I'm waiting  for your support

[2020-07-28 07:38] mehdibf opened #7685 "How to get the live latency?"
### [REQUIRED] Searched documentation and issues
- https://github.com/google/ExoPlayer/issues/6099
- https://exoplayer.dev/doc/reference-v1/com/google/android/exoplayer/dash/mpd/UtcTimingElementResolver.UtcTimingCallback.html
- https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.Window.html#windowStartTimeMs

### [REQUIRED] Question
I am trying to calculate the live latency

[2020-07-28 07:54] yanshanshu opened #7686 "怎么设置播放没有音频的视频流"
我的视频流没有音频，怎么禁止音频，只播放画面。

[2020-07-28 08:57] ojw28 commented on #7686
I think this is a duplicate of https://github.com/google/ExoPlayer/issues/7675. Please don't file duplicate issues. Thanks!

[2020-07-28 08:57] #7686 closed, assigned to ojw28

[2020-07-28 08:59] ojw28 commented on #7675
The media should play successfully when using the `dev-v2` branch, as of the change above. This change will be included in the 2.12 release.

[2020-07-28 08:59] #7675 closed, assigned to ojw28

[2020-07-28 09:00] ojw28 commented on #7672
The change has been reverted in 1ed5d8b5633f935d3c7f2cc52c1493616b7e0d32. Thanks for reporting this issue!

[2020-07-28 09:00] #7672 closed, assigned to ojw28

[2020-07-28 09:40] michael-eddy opened #7687 "how to build a DashManifest with custom xml string?"
the content just like:
[code]

how can i do makes the string content converts to a DashManifest object?

[2020-07-28 09:54] ghost opened #7688 "How to make DefaultHttpDataSource trust a CA that isn't supported by the system ?"
We're having a problem where we're loading a video through an HTTPS connection. We're getting `CertPathValidatorException: Trust anchor for certification path not found` error because the CA used by the server isn't recognized by the Android version (21, 22) since it's old. The same video url works fine on newer devices. For an extra check, I disabled the CA used by the server on the newer device

[2020-07-28 09:56] RadioFranceAndroidDev opened #7689 "[Ads] Make AdsLoader.AdViewProvider optional in AdsMediaSource and access to SkipAd field"
I work on an audio application (no videos), and we use ExoPlayer with Ads and a VAST server. We work in a library, used by many applications. We don't have access to the player view - or any android view - when we create the AdsMediaSource. We use a trick like this for the moment :

[code]
It works like a charm, but it's not very clean. Can you make the AdsLoader.AdViewProvider optional ? We just

[2020-07-28 11:42] ghost commented on #7688
I ended up going with this solution that adds the CA as a trusted source globally not just for Exoplayer. This seems to work. I'm calling it in `onCreate` of the application class.

            // Load CAs from file
            val cf: CertificateFactory = CertificateFactory.getInstance("X.509")
            val caInput: InputStream = BufferedInputStream(assets.open("certificate.crt"))

[2020-07-28 12:28] ueno-yuhei commented on #7683
I have also confirmed that this phenomenon occurs.
May be caused by video.

[2020-07-28 12:36] tonihei commented on #7673
The `TrackSelectionDialog` shows `Auto` because the selection is "automatic" based on the specified preferences. Our default `TrackSelectionDialog` doesn't support showing the currently auto-selected track, but you could fork the class to add this option yourself. To get the currently selected track, you can use `SimpleExoPlayer.getVideoFormat()`.

[2020-07-28 14:37] icbaker commented on #7679
Given the other fields are strongly-typed 'normal' fields on `EventMessage`, I think it would be inconsistent to use a `Map<String, String>` for the time-based ones.

We could introduce a class hierarchy (not sure about the `unscaled` suffix, but the point was to distinguish from `durationMs`):

[code]

[2020-07-28 15:49] tonihei commented on #7674
Depending on what you'd like to achieve, you could try to add a custom `AudioProcessor` (for example by overriding `DefaultRenderersFactory. buildAudioProcessors`). In there you get access to the raw PCM data just before it is sent to the platform `AudioTrack`.

[2020-07-28 16:04] tonihei commented on #7676
Every call to `onDroppedVideoFrames` will only report the dropped frames since the last call to this method. The current code only sends a new update if the video renderer stopped (for example, when playback is paused), or when the number of dropped frames reaches the `maxDroppedFramesToNotify` parameter. And we don't force sending this value at any playlist or ad transition at the moment.

You co

[2020-07-28 18:22] dwc18 opened #7690 "IndexOutOfBoundsException while doing com.google.android.exoplayer2.source.SampleDataQueue.readData(SampleDataQueue.java:309)"
### [REQUIRED] Issue description

I'm effectively "reopening" issue #7580 which was closed as a duplicate of #7549 which was fixed on dev-v2  with  7bc5fa8

The exception reported in #7549 is different than I reported in #7580.  I understand they could both be caused by the same underlying issue.  However I have synced to dev-v2 at 7bc5fa8 and have been able to reproduce my crash.

In reviewing my

[2020-07-28 19:53] villagra commented on #7679
That's great 👍

[2020-07-28 22:28] rrfrias commented on #7546
Hi GouravSna,

2020-06-26 13:07:49.993 734-9089/? I/WVCdm: CdmEngine::CloseSession

The session is closed soon after the license has been processed. Are you sure that frames with encrypted data have been passed to MediaCodec. Can you make sure you play long enough to decrypt content.

Can you also share the license request and response (passed to [MediaDrm.getKeyRequest](https://developer.android.

[2020-07-28 22:51] rrfrias commented on #7390
We are looking at performance data from devices and discussing options to improve this situation. Will update when we have some information to share.

[2020-07-29 03:39] BarryFruitman opened #7691 "If my playlist has multiple bitrates, which one(s) does DownloadService download?"
### [REQUIRED] Searched documentation and issues
Google searches. Github issues. Stack Overflow. Exoplayer source code.

### [REQUIRED] Question
I'm using `DownloadService.startDownload()` to download my audio master playlist, which has three bitrates (64k, 128k and 192k).  I'm 99% sure everything downloaded correctly since I monitored the progress and a lot of `.exo` files appear in `/sdcard/Andr

[2020-07-29 06:28] KelvinJin commented on #6725
Just want to report back that the patch does fix the issue. And look forward to the release! Thanks again!

[2020-07-29 07:20] AGasztold commented on #7647
Please remember about both codecs: OMX.broadcom.video_decoder.tunnel.secure and OMX.broadcom.video_decoder.tunnel (checked on different Sagemcom STB).
Thank you for your help!

[2020-07-29 07:47] vipinchouhan commented on #7611
Please download MKV file from drive url and check the issue : https://drive.google.com/file/d/1NEt9wNEAfDMrUVfp3fOTxuAk8A5dq0i-/view?usp=drivesdk

[2020-07-29 08:12] icbaker commented on #7220
Marking this as a dupe of https://github.com/google/ExoPlayer/issues/5491 since that one's older.

[2020-07-29 08:12] #7220 closed, assigned to AquilesCanta

[2020-07-29 08:14] icbaker commented on #5491
In case someone's planning to write a pull request to support this, there's lots of details and links to specs in https://github.com/google/ExoPlayer/issues/7220.

[2020-07-29 08:16] icbaker commented on #7677
Thanks for the media link - the subtitles in your stream look like 'EBU Teletext', which isn't currently supported by ExoPlayer. There's a feature request here: https://github.com/google/ExoPlayer/issues/5491

[2020-07-29 08:16] #7677 closed, assigned to icbaker

[2020-07-29 09:41] Shingibanggi opened #7692 ".NoClassDefFoundError"
Hello, I am developing Exoplayer plugin for Unity to play HLS video,
but I have a problem with playing video..

In the logs, I got this problem..
AndroidJavaException: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/exoplayer2/source/MediaSource;
07-29 17:46:49.174 20874 20910 E Unity   : java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/exoplayer2

[2020-07-29 09:42] Shingibanggi commented on #7692
I am a newbie in Android Studio and Unity.

[2020-07-29 11:53] krackjack234 commented on #7607
Hi @tonihei  We could not share the test stream because of license issues, so sharing some screenshots and information about the issue.

Here are the screenshot of the player and device information when the issue happens. Please note the dk and mcdb values.

https://drive.google.com/drive/folders/1xepcZwAaAwe8BsXiQo5JxvpeZHBwMT80?usp=sharing

Hope it helps

[2020-07-29 13:34] krocard commented on #7647
Thanks, I had indeed missed the difference, thankfully @ojw28 caught it in review. Both `OMX.broadcom.video_decoder.tunnel.secure` and `OMX.broadcom.video_decoder.tunnel` have been added to `codecNeedsEosPropagationWorkaround`.

[2020-07-29 15:07] msilucifer commented on #7677
Thanks,  @icbaker

I can't find the solution in this issue #5491
So Can't I show the subtitles without url?

Best wishes.

[2020-07-29 15:12] icbaker commented on #7677
ExoPlayer supports many formats of subtitles embedded in video containers ("without the url") - but we don't currently support DVB Teletext subtitles, which is what your media has.

So in general you can show subtitles "without the url" if they're in a format that ExoPlayer supports (e.g. CEA-608 inside TS files, TTML inside MP4 files, SSA or SubRip inside Matroska files). But you can't show telet

[2020-07-29 15:22] msilucifer commented on #7677
Thank you for your clear answer.

[2020-07-29 17:50] ryanheise opened #7693 "How do I implement my own accurate SeekMap/Seeker for Mp3Extractor?"
### Searched documentation and issues

In another issue (https://github.com/google/ExoPlayer/issues/328#issuecomment-168532148) @ojw28 described one possible solution for accurate MP3 seeking:

### Question

@ojw28 's solution above looks interesting, but for my use case I will be dealing with arbitrary MP3 podcasts which are typically longish, so sample accurate seeking this way could end up bein

[2020-07-29 19:08] aKnaupp opened #7694 "Future support for DASH with AES-128"
Hi, I know that, at this time, ExoPlayer does not support DASH with AES-128. Is there any plan for adding support to this?
Thanks.

[2020-07-29 19:46] mathavanmanoharan opened #7695 "Improve GSM support"
### [REQUIRED] Version of ExoPlayer being used LATEST

###Used Redmi k20 pro  OS 10

[2020-07-29 20:05] dpolyakova opened #7696 "java.io.FileNotFoundException: /jacoco.exec when starting demo app"
### [REQUIRED] Searched documentation and issues
No documentation mentioning jacoco.

### [REQUIRED] Question
After compileSdkVersion was switched to 29 we started seeing jacocoInit exception when running debug flavor of any demo application.
[code]

The issue and solution is already documented here: https://github.com/jacoco/jacoco/issues/968
I've checked that placing jacoco-agent.properties file

[2020-07-29 20:12] adamdupuis commented on #6168
I came across another package, [native_video_view](https://pub.dev/packages/native_video_view) that uses VideoView instead of ExoPlayer in Android and it seems to not have this issue, but the player itself has its own issues which make it problematic to switch to. Perhaps it could help someone else though.

[2020-07-29 20:50] BarryFruitman opened #7697 "Why does Exoplayer try to play the wrong bitrate when downloaded?"
### [REQUIRED] Searched documentation and issues
Google + Exoplayer docs + Exoplayer source code.

### [REQUIRED] Question
I'm having trouble playing downloaded content. My HLS stream has three bitrates (64k, 128k, 192k). When I call `DownloadService.addToDownload()`, I can see it downloading the 192k track by setting breakpoints in `DefaultHttpDataSource.open()`. However, when I put my device int

[2020-07-29 20:50] BarryFruitman commented on #7691
Closing. I gathered more information and posted an updated question: https://github.com/google/ExoPlayer/issues/7697

[2020-07-29 20:50] #7691 closed, assigned to ojw28

[2020-07-30 05:48] #7546 closed, assigned to GouravSna

[2020-07-30 05:49] GouravSna commented on #7546
Hi @rrfrias , Thank you very much for responsding. 👍
We found that this issue is related to DRM BE . If in case, we will find any such issue further. We will reopen it.

[2020-07-30 07:49] fmatosqg commented on #7638
@andrewlewis  In the mean time, would you mind if I created a PR with such a class, scheduling it to be deleted again in, say, exoplayer 3.0 ?

[2020-07-30 10:32] YongtaoS opened #7698 "Exception Invalid NAL length in CMAF streams (clear video)"
Hi there,

ExoPlayer throws Invalid NAL length exception while playing a CMAF live stream (sample files attached below). The video is not encrypted and safar/quicktime/bitmovin can play it without problem.
I appreciate much if you could identify whether the issue is.

### [REQUIRED] Issue description
HLS with CMAF fragments on Safari/QuickTime/Bitmovin : OK
DASH witch CMAF fragments on Bitmovin pl

[2020-07-30 10:54] msilucifer commented on #7677
Could you share the media that be able to show the subtitles without the url?
It would be very helpful to me if you do that.

[2020-07-30 16:35] Samrobbo commented on #7626
Hi, Can we please get a bug report, as I described above?

Thanks.

[2020-07-30 17:47] tonihei commented on #3165
We dropped the plan to add this feature for now under the assumption that the stream type is typically known in the app.
But we have a pending implementation that solves the issue (and prevents any duplicate data loads): https://github.com/tonihei/ExoPlayer/commit/4a8c860e8c9337c540862df844497c21ec613b57 There was some discussion around the details of this implementation and whether it's the right

[2020-07-30 19:16] rrfrias commented on #7384
We have been looking at the bugreports with Xiaomi. The original log.txt (second comment) had a MediaDrmStateException, but i do not see this in any of the bugreports you shared with us. Can you capture a bugreport after a playback attempt and share with us? You can capture a logcat and see if playback was attempted/MediaDrmStateException occurred.

[2020-07-31 04:03] raymondctc commented on #4352
@Tolriq May I know if releasing player in backgrond thread solves this locking problem?

Btw, I found that for Instagram's they have quite an interesting implementation. It looks like they spin up another process for ExoPlayer and make use of IPC to do playing stuff.

[2020-07-31 05:12] chinmaygghag opened #7699 "How can I use the ExpandedControllerActivity correctly with exoplayer?"
[No info provided]

[2020-07-31 05:23] vipinchouhan commented on #7611
@ojw28 please look into the issue after download mkv file available in https://drive.google.com/file/d/1NEt9wNEAfDMrUVfp3fOTxuAk8A5dq0i-/view?usp=drivesdk url

please try to resolve this issue ASAP

[2020-07-31 06:50] Tolriq commented on #4352
Yes it does works perfectly for my use case as when I release the player I know I won't use it instantly later and since there's still no way to properly detect / handle this case. And failure to initialize player is something that can be handled and show to user for better experience.

I also use in R8
[code]
To have this check removed from production release for a very insignificant performance

[2020-07-31 07:56] BastienCalone opened #7700 "AndroidX ClassNotFoundException: com.google.android.exoplayer2.ui.SubtitleView"
Hello there,

Since i move my application to AndroidX i struggle with the SubtitleView of exoplayer. I can't inflate it. For the context, i have the subtitle view in a module that i use in my app as a dependency, there is no proguard configuration.
Also if we use debug config, meaning we use local project dependencies  , the app works fine, but when we use the released module uploaded, this error

[2020-07-31 08:54] tonihei commented on #7357
The commit above solved the apk size issue by only using the AndroidX dialog if the dependency is already available in the app.

[2020-07-31 08:54] #7357 closed, assigned to tonihei

[2020-07-31 08:59] tonihei commented on #7661
I don't think you have to create a custom bandwidth meter for that. It would probably be easier to just use:
[code]

[2020-07-31 09:23] tonihei commented on #7607
Thanks for sharing the screenshot. It looks as if your playback experienced a lot of dropped frames and had problem keeping up.

Could you answer these questions to understand your problem a little bit better and to see if there is something we can do.
 1. "Random AV sync issues" - what does that mean exactly? Is audio playback smooth? Is video playback choppy and has problem keeping up with the a

[2020-07-31 09:50] krackjack234 commented on #7607
Hi @tonihei , please find my reply below

1. Issue happens if user does quick seek on certain positions of the stream. AV sync issue is not seen if user plays the stream without seeking. When the issue happens we can see the video getting stuck for some time and then it recovers but with out of sync audio

2. No this is no longer important step. We found that this issue happens even if we start th

[2020-07-31 10:07] tonihei commented on #7671
From what I can see in the bugreport, the DRM encryption of the media is not supported by the device (look for the `rendererSupport=NO_UNSUPPORTED_DRM` string the logcat). ExoPlayer still attempts to play the stream just in case it happens to work anyway. So my best guess is that the platform code generates this error due to the unsupported DRM protection. Another indication for this are log lines

[2020-07-31 10:23] tonihei commented on #7681
I can't reproduce the problem, but based on the logs you provided it looks as if the media is broken somehow. If you control the media creation, please investigate the failing ts segments, otherwise there is probably nothing we can do about this.

[2020-07-31 10:53] tonihei commented on #7682
If you are using `DownloadHelper`, it automatically downloads the highest quality only. Can you share which `TrackSelectionParameters` you specify for `DownloadHelper` (if any) and what the list of `DownloadRequest.streamKeys` is for the `DownloadRequest` returned by `DownloadHelper.getDownloadRequest`?

[2020-07-31 11:11] tonihei commented on #7683
I can't reproduce any dropped frames when setting a different playback speed. Not even if I increase the speed to 3.0f for example. What device are you using? If the device is too slow with decoding, frame drops might be expected for higher speeds if the video decoder can't decode fast enough to keep up with the fast audio.

[2020-07-31 11:21] ojw28 commented on #7682
It's also worth giving [the relevant documentation](https://exoplayer.dev/downloading-media.html#downloading-and-playing-adaptive-streams) a read, if you haven't done so already.

[2020-07-31 11:31] tonihei commented on #7684
ExoPlayer automatically displays the artwork embedded in the media if the `use_artwork` attribute on `PlayerView` is set to true. You can also specify your own default artwork that is used if the media doesn't provide one by setting the `default_artwork` attribute. Is that what you are looking for?

[2020-07-31 12:18] tonihei commented on #7685
The latest dev-v2 branch has a method `player.getCurrentLiveOffset()` that returns the live offset. However, for HLS, it does not adjust the offset for out-of-sync client clocks. We may add this feature as part of #5011, but it's not strictly needed for HLS live playback because the playback itself is not dependent on the client clock (that is different from DASH for example, where the client cloc

[2020-07-31 12:30] tonihei commented on #7687
If you have the manifest as a string already, you could try to use a `ByteArrayDataSource` to read this data in a `DashMediaSource`. Alternatively, you can try to use `DashManifestParser` to read the data from an `InputStream`.

[2020-07-31 12:44] tonihei commented on #7688
This is not really an ExoPlayer issue I think because these things are handled by the platform. It looks like you found a way to add the missing servers? I'll close the issue under the assumption that it is solved.

[2020-07-31 12:44] #7688 closed, assigned to tonihei

[2020-07-31 12:57] tonihei commented on #7689
@andrewlewis Could you have a look and say if that's possible/allowed?

[2020-07-31 13:01] lavajaw commented on #7682
Hello:
`
public static CacheDataSourceFactory buildReadOnlyCacheDataSource(
            DataSource.Factory upstreamFactory, Cache cache) {
        return new CacheDataSourceFactory(
                cache,
                upstreamFactory,
                new FileDataSource.Factory(),
                /* cacheWriteDataSinkFactory= */ null,
                CacheDataSource.FLAG_IGNORE_CACHE_ON_ERROR,

[2020-07-31 13:05] lavajaw commented on #7682
Adn for streamKeys i have size 0 (I dont have them).

I just saw this description in DownloadRequest:
 /** Stream keys to be downloaded. If empty, all streams will be downloaded. */
So my streamKeys array size is 0, so all are downloaded. How to change this?

[2020-07-31 13:59] krocard commented on #6749
Starting with ec78bde50cbbd027c5458247bf3d74e8bd683961, ExoPlayer will now decode audio to `float` (highest bit depth supported by Android) if supported. ~It will be enabled by default in the next major release: 2.12.~ It is not disabled by default. See next comment.

[2020-07-31 13:59] #6749 closed, assigned to krocard

[2020-07-31 14:04] tonihei commented on #7693
We recently added a flag `FLAG_ENABLE_INDEX_SEEKING` to the `Mp3Extractor` (on the dev-v2 branch). This already builds the accurate seek map while the stream is read, but we wouldn't recommend it for longer files. @kim-vde may be able to provide further details or guidance.

[2020-07-31 14:09] tonihei commented on #7692
If you load classes via reflection, they need to be added to the proguard config list so that they are not optimized away. This is not ExoPlayer specific and needs to be solved in your app or whatever library you are using. See https://developer.android.com/studio/build/shrink-code#keep-code for some high-level guidance.

[2020-07-31 14:09] #7692 closed, assigned to tonihei

[2020-07-31 14:13] krocard commented on #6749
Correction:
Float output will *not* be enabled by default in the next major version. It will stay be disable by default. Enable it using: `DefaultRenderersFactory.setEnableAudioFloatOutput(true)` or when constructing a `DefaultAudioSink` using the [`enableFloatOutput`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/audio/DefaultAudioSink.html#DefaultAudioSink-com.google.android.

[2020-07-31 14:14] tonihei commented on #7682
Yes, that's likely the reason for downloading all qualities. The only way this can happen is if no tracks are selected. This could be the case for example because no stream is supported by the device. If you'd like us to look further, please provide a minimal reproducible example including test media so that we can understand what it is happening and whether there is a bug we need to fix and if th

[2020-07-31 14:18] tonihei commented on #7694
Could you clarify what you mean by "DASH with AES-128" exactly? If the data transferred over network is encrypted by AES-128, you should be able to use a `Aes128DataSource` to decrypt it before playback. If you are talking about something else, please clarify.

[2020-07-31 14:24] tonihei commented on #7696
I haven't seen this problem before with our demo app builds on the dev-v2 branch. Is there anything special about your build setup that is needed to reproduce the problem? Or are you building and running the ExoPlayer demo app as it is? It would also be good to know if it's related to Android Studio/build tools version and the like.

[2020-07-31 14:25] lavajaw commented on #7682
@tonihei ok, i can provide you informations, but content is protected so i can send you some informations in DM or on mail?

[2020-07-31 14:29] tonihei commented on #7682
Ah :) If the content is protected and requires DRM keys to play, then this is probably the reason no track is selected. The track selection will claim it can't play the streams because the DRM session manager isn't set. You can try passing the correct `DrmSessionManager` via the longer `DownloadHelper.forDash` method to see if it helps. Otherwise, you can share information via dev.exoplayer@gmail.

[2020-07-31 14:48] tonihei commented on #7697
I'm not sure what class `DownloadServer` is because it's not part of ExoPlayer, but in case you are using `DownloadHelper`, ExoPlayer will select the highest supported quality for download by default (192k in your example).

If you want to play the downloaded data afterwards, you need to make sure to tell the `MediaSource` which tracks are already downloaded. You can do that by using `DownloadHelp

[2020-07-31 14:50] tonihei commented on #7699
It looks as if `ExpandedControllerActivity` is part of the Cast API and has nothing to do with ExoPlayer. If you want to use ExoPlayer and enable casting, please have a look at our [cast extension](https://medium.com/google-exoplayer/new-cast-extension-and-demo-app-55816a50012).

[2020-07-31 15:06] ryanheise commented on #7693
Awesome! This is such incredibly lucky timing. I will indeed be dealing with long files, but that's fine. For my use case, it is much more acceptable to do this once in pre-processing (while the podcast is being downloaded) and then caching it, rather than having a long delay on every seek during playback.

So I guess that first I'll need to hack `IndexSeeker` or `Mp3Extractor` to write this out t

[2020-07-31 15:10] lavajaw commented on #7682
Ok, i will try to add DrmSessionManger first. I am not sure how to create DrmSessionManager (FrameworkMediaCrypto) . Maybe you have any example for this?

[2020-07-31 15:22] tonihei commented on #7682
The same way you are playing the media. If you don't use a `DrmSessionManager` for playback, then you probably don't need one.

[2020-07-31 15:27] tonihei commented on #7700
As you noted, the issue is probably not really ExoPlayer related, but a more a generic Android problem where you may get more luck on StackOverflow or similar sites. A quick searchs suggests it could be related to multidexing for example: https://stackoverflow.com/questions/31684361/classnotfoundexception-when-inflating-custom-button-works-on-phone-exception-o or you just need to use a dependency

[2020-07-31 15:27] #7700 closed, assigned to tonihei

[2020-07-31 15:31] BarryFruitman commented on #7697
My bad, I meant `DownloadService` not `DownloadServer` (ticket updated).

Thank you for pointing that out in the docs. I'll check it out.

[2020-07-31 15:51] tonihei commented on #7695
According to https://developer.android.com/guide/topics/media/media-formats#core, GSM should be supported, but I'm not certain about the details. If you want us to have a look, please provide example media that reproduces your problem.

[2020-07-31 16:21] tonihei commented on #7698
Could you also provide a valid manifest/playlist to play these files? Otherwise I need to hand-craft these files without knowing all the required metadata. If you don't want to share publicly, please send an email to dev.exoplayer@gmail.com with "Issue #7698" in the subject line.

[2020-07-31 17:07] tonihei commented on #7690
I'm investigating. For the record - it can also be reproduced with the following steps:

1. AdaptiveTrackSelection.evaluateQueueSize():  `return queue.isEmpty() ? 0 : queue.size() - 1;`
2. Play "HLS - Apple master playlist advances (TS)".
3. Wait for less than a minute.

Note that it doesn't reproduce with the "fmp4" sample, nor with DASH or SmoothStreaming.

[2020-07-31 18:14] mathavanmanoharan commented on #7695
Ya thanks for your reply. And hereby I attached the sample media file for
.gsm format which I used and not playable. But it's played in MX player.
Please find the attached file. Thanks in advance

[2020-07-31 18:20] kschults commented on #7697
@tonihei Thanks for the pointer. Is this something that should be an improvement within ExoPlayer? It seems that if I request to play the same URI again, after already having downloaded it, the playback system should be able to check the downloads and determine that there's already one there.

[2020-07-31 20:17] chinmaygghag commented on #7699
@tonihei Thanks for pointing me in this direction, I am trying the cast extension demo from the release-v2 branch.
I am not sure if it is designed to work this way or am I missing something. But this is my observation.
When I hit cast button the cast on chromecast starts but as soon as I press back button or minimize the android app the casting stops (Also no access from the notification panel)
Ca

[2020-07-31 22:33] dpolyakova commented on #7696
In this particular case I built the demo using gradle command on Linux workstation:
` ./gradlew demo:assembleNoDecoderExtensions`
The SDK installed on that machine is:
[code]
But I also see same exception with other demos built in IntelliJ Idea on Windows. And other engineers in our team see same issue as well.

The platform I'm reproducing this on is Evolution Digital/Amino Android TV box running

[2020-08-01 03:36] mathavanmanoharan commented on #7695
But in your exo player official document, there is nothing mentioned about
.gsm format please take a look at progressive media source. I used
progressive media source.

https://exoplayer.dev/supported-formats.html

On Fri, 31 Jul, 2020, 11:43 pm Mathavan Manoharan, <
mathavan_manoharan@trimble.com> wrote:

[2020-08-01 08:21] michael-eddy commented on #7687
is that any demo for this?i try the way just like u but it is does not work...

[2020-08-01 10:21] sanojlawrence opened #7701 "Can exo-player play Matroska MKV file"
A tried to video files in my video player i was able to play many types of format But when i tried to play Matroska `MKV` i was not able to play

here is what i tried

[code]

Even tried

[code]

I get `2826-3120/com.example.jlplayer E/ACodec: [OMX.google.hevc.decoder] setPortMode on output to DynamicANWBuffer failed w/ err -1010` in my logcat.

why am i not able to play `MKV` or am try in wrong,

[2020-08-01 11:29] ojw28 commented on #7638
As above, ExoPlayer does not currently provide API compatibility guarantees across versions. It doesn't really make sense for us to accept a PR that hides one specific compatibility break. In any case, there are likely to be further compatibility issues when you try and use `2.11.5` rather than `2.9.6` that you just haven't encountered yet.

Given ExoPlayer doesn't provide API compatibility guaran

[2020-08-01 11:29] #7638 closed, assigned to ojw28

[2020-08-01 11:35] ojw28 commented on #7638
Note: I updated my comment above to be more accurate. Please give it a read on GitHub (rather than email). Thanks!

[2020-08-02 05:41] fmatosqg commented on #7638
Thx @ojw28 . I'll be pursuing solution a) as far as I can.

This conversation is very enlightening and also will impact how I'll depend on exoplayer for my company's internal private audio library.

I'd like to ask if future release notes can include breaking compatibility notes whenever possible, for developers sanity. Not only for flutter's sake, but also for pure android devs, since breaking co

[2020-08-02 10:46] manojkumarm2406 opened #7702 "How to delay/increment the timing of the subtitles?"

[2020-08-02 13:46] mathavanmanoharan commented on #7695
[sample1_exo.zip](https://github.com/google/ExoPlayer/files/5012234/sample1_exo.zip)
please find the sample media file which I used for .gsm format.

[2020-08-02 16:16] kvmoondra opened #7703 "Does exoplayer automatically use ABR as per internet connectivity?"
Hello there,
Hope you are well.

With regards, we are developing a video news android app(from our app: we are going to distribute the videos to end-users, only video content).

**For the same, we are looking to integrate Exoplayer(as a video player to stream the content) but we have a query:**

-Does Exoplayer automatically use ABR and stream as per Internet connectivity? What I mean over here is

[2020-08-02 21:48] ojw28 commented on #7648
@shasapo - Is the same code working correctly on other devices? This will help to disambiguate between an issue with the code itself, and an issue with the underlying device.

Yes. A network request is required to renew the license.

This looks suspicious to me:

[code]

@jt64 - Please could you take a look at the bug report?

[2020-08-03 02:20] noranekotan commented on #7683
@tonihei
Thank you for your answer.

This issue has been reproduced on some Android TV devices.
I also confirmed that Fire TV will drop frames.
As far as I can see, it doesn't seem to drop frames on mobile devices.

And I wrote that the playback speed was set to 1.5 times as an implementation example, but frame drops occur even at 1.1 times etc.

**Confirmed device**
- AQUOS-4KTVJ17 LC50US5 Androi

[2020-08-03 03:39] manojkumarm2406 commented on #7702
I am trying to delay the timing of the subtitles that I sideloaded with MergeMediaSource

`val fullMediaSource = List<MediaSource>()

val mergedMediaSource = MergingMediaSource(videoSource,subtitleSource)

fullMediaSource.add(mergedMediaSource)`

But How do I synchronize the subtitles that I merged?

[2020-08-03 04:16] NerdAnonymous opened #7704 "It doesn't work when fast forward！！！"
version:2.11.7

description:It can be played normally, but it will freeze as soon as you drag the progress bar to fast forward

this is bug report:
[code]

[2020-08-03 07:32] ojw28 commented on #7657
The fact that you're seeing that error indicates that the content that the player is attempting to play has not been downloaded. This is why the player is attempting to request the content over the network.

One thing to pay particular attention to for DASH content is to ensure that for playback, you tell the player to only try and play the representations that have been downloaded. Else the playe

[2020-08-03 07:33] ojw28 commented on #7703
If you play adaptive media (i.e., DASH, HLS or SmoothStreaming), then ExoPlayer will do ABR by default. If you play progressive media (i.e., regular media files such as MP4s), then ExoPlayer will not do ABR.

Given a progressive media file, there isn't really a way that a player could do ABR even if it wanted to. A player could theoretically do ABR if provided with multiple progressive media files

[2020-08-03 07:33] #7703 closed, assigned to ojw28

[2020-08-03 07:42] ojw28 commented on #7661
@tonihei - I think the problem with that approach is that bandwidth estimates are only generated when a network request is completed, which doesn't happen for this type of playback except when the playback is ended.

[2020-08-03 07:43] ojw28 commented on #7702
This is not currently supported. Note that this is a duplicate of https://github.com/google/ExoPlayer/issues/854, so I'll go ahead and close this one.

[2020-08-03 07:43] #7702 closed, assigned to icbaker

[2020-08-03 07:45] ojw28 commented on #7701
ExoPlayer supports Matroska (MKV), but the sample formats contained within the file also need to be supported. Please see the [supported formats documentation](https://exoplayer.dev/supported-formats.html). It's also worth attaching an `EventLogger` to see if the sample formats are supported, as documented [in this FAQ](https://exoplayer.dev/troubleshooting.html#why-does-content-fail-to-play-but-n

[2020-08-03 07:52] icbaker commented on #7677
There's now an example of an MP4 file with embedded tx3g subtitles in the demo app if you build it from the dev-v2 branch. You can also find the sample here: https://storage.googleapis.com/exoplayer-test-media-1/mp4/dizzy-with-tx3g.mp4

[2020-08-03 07:54] kvmoondra commented on #7703
Thanks, @ojw28 for your reply.

**Regarding HLS streaming**, you meant to say: If one wants ABR through Exoplayer then we need to give .M3U8 input then only Exoplayer can stream ABR? Player won't use ABR technology(HLS) if we give.MP4 input?

Correct me If I am wrong

Thanks & Regards
Kumar Vansh Moondra

[2020-08-03 08:00] ojw28 commented on #7703
Correct.

[2020-08-03 08:12] kvmoondra opened #7705 "Does Exoplayer support with Flutter Android App?"
Hello there,
Hope you are doing well.

With regards, we are developing a flutter video android app(from our app: we are going to distribute the videos to end-users, only video content).

**For the above, we are looking to integrate Exoplayer(to use ABR technology like HLS) and the technologies we are using to develop our App is:**
-App: Flutter
-Backend: NodeJS, MongoDB
-Storage: AWS S3
-Html5, CS

[2020-08-03 08:13] ojw28 commented on #7638
Note that option (a) doesn't work if two different Flutter libraries need different versions of ExoPlayer, as appears to be the case for the project whose dependencies are shown at the top of this thread. For this reason, Flutter libraries should really be following option (b).

Developers who use ExoPlayer directly (which is the common case) will see compatibility changes as compile time errors w

[2020-08-03 08:16] ojw28 commented on #7705
Have you tried doing a [simple web search](https://www.google.com/search?q=video+playback+on+flutter)? For which [this is the top result](https://flutter.dev/docs/cookbook/plugins/play-video).

[2020-08-03 08:16] #7705 closed, assigned to ojw28

[2020-08-03 08:35] ojw28 commented on #7611
I'm now able to reproduce the problem. It's specific to MKV content that has an E-AC3 audio, played on devices that use Dolby's E-AC3 decoder. The issue is actually already fixed in the `dev-v2` branch, as of https://github.com/google/ExoPlayer/commit/c808db99359950b7d5e2c2b3e6200a9e565ce575. However, there's a separate issue affecting the `dev-v2` branch that's causing playback to fail for E-AC3

[2020-08-03 08:40] tonihei commented on #7683
Thanks for the update. So it seems this issue is indeed device-specific.

In the original problem description you mention "a frame drop". Is that only a single dropped frame right at the beginning of playback? Or is that a continuous problem during playback? I'm trying to understand if this is clear user-visible problem or more of a technical glitch that is only visible in logs.

In any case, I'm

[2020-08-03 08:48] tonihei commented on #7687
"it does not work." isn't very helpful to understand what the problem is :)

`DashMediaSource.Factory` provides a constructor to set the `manifestDataSourceFactory`. This could be used to load your manifest from files, or from a byte array using `ByteArrayDataSource`. The `DashMediaSource.Factory` also has a `createMediaSource` method that accepts a pre-parsed `DashManifest` object that could be o

[2020-08-03 08:50] kvmoondra commented on #7705
Thanks, @ojw28 for your reply.

I have gone through and it's mentioned that: this plugin is using Exoplayer to stream videos.

Just want to clear in my head about the process: As soon as we integrate this plugin -> then Exoplayer works -> then Exoplayer can use ABR technology(like HLS).

Kindly correct me if I am wrong

Thanks & Regards

[2020-08-03 08:53] ojw28 commented on #7705
I think so, yes, but that seems like more of a question for the flutter team / whoever maintains the flutter video plugin.

[2020-08-03 08:59] tonihei commented on #7697
We have an open enhancement to automatically take downloaded tracks into account during track selection (#6471). I think this is essentially what you are asking for. Once we've done that, the current approach of setting up the `MediaSource` in a special way is likely no longer needed.

[2020-08-03 09:17] amankr opened #7706 "Missing Cursor close in DefaultDownloadIndex.java"
### Issue description
missing cursor.close in a finally block causing a failure in cursor allocation on low Ram devices

[code]

above stacktrace is captured on Crashlytics, hence I am not able to provide full bug report.

### Version of ExoPlayer being used
exoplayerVersion = '2.11.7'

### Device(s) and version(s) of Android being used
Brand: samsung
Model: Galaxy J2
RAM free: 183.88 MB
Disk free

[2020-08-03 09:30] SharanKumarReddyKambham commented on #7626
Hi Please find the full log attached.
[full_log_report.log](https://github.com/google/ExoPlayer/files/5015068/full_log_report.log)

[2020-08-03 09:36] tonihei commented on #7695
Thanks for the file. It seems that there are at least two missing features in ExoPlayer to play GSM files or GSM encoded data:
 1. The provided file is apparently using some form of GSM container format that isn't supported. Do you have any details on how this file is generated and according to which specifications? That would help to understand what it is exactly.
 2. GSM encoded media can be put

[2020-08-03 09:40] ojw28 commented on #7706
The cursor is part of a try-with-resources statement, which should ensure that it's closed automatically. See:

https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html

and the corresponding lines of code in ExoPlayer:

https://github.com/google/ExoPlayer/blob/r2.11.7/library/core/src/main/java/com/google/android/exoplayer2/offline/DefaultDownloadIndex.java#L171

The log

[2020-08-03 09:49] tonihei commented on #7577
Closing because the question was answered above. Feel free to reopen if not.

[2020-08-03 09:49] #7577 closed, assigned to tonihei

[2020-08-03 09:49] tonihei commented on #7601
Closing because the question was answered above. Feel free to reopen if not.

[2020-08-03 09:49] #7601 closed, assigned to tonihei

[2020-08-03 09:49] tonihei commented on #7603
Closing because the questions was answered above. Feel free to reopen if not.

[2020-08-03 09:50] tonihei commented on #7613
Closing because the question was answered above. Feel free to reopen if not.

[2020-08-03 09:50] #7613 closed, assigned to tonihei

[2020-08-03 09:51] tonihei commented on #7618
Closing because the question was answered above. Feel free to reopen if not.

[2020-08-03 09:51] #7618 closed, assigned to tonihei

[2020-08-03 09:52] tonihei commented on #7619
Closing because the question was answered above. Feel free to reopen if not.

[2020-08-03 09:52] #7619 closed, assigned to tonihei

[2020-08-03 10:09] kim-vde commented on #7693
Is the bitrate constant? If yes, the problem becomes much simpler and you can use the `FLAG_ENABLE_CONSTANT_BITRATE_SEEKING` flag.

To read the stream without playing it, you can take inspiration from `DownloadHelper#MediaPreparer`, which reads the stream from a `MediaSource` until the media is prepared. A simpler solution would be to use an actual player but this is more costly.

You could store

[2020-08-03 10:11] punitagoel2403 opened #7707 "stream video in parts and play"
_Note: I am new to video streaming!_
I am trying to stream a video, which works well but it takes 17-18 sec at least to load for the first time ( second time it is better as I am caching the video)
I thought, I probably need to use a streaming data URL (server side), which provides partial content and not entire video in one go, but for that exoplayer denies playback, as no datasource is able to r

[2020-08-03 10:16] noranekotan commented on #7683
Thanks for the update.

Frame drop is continuous problem during playback and this is clear user-visible problem.

[2020-08-03 11:19] tonihei commented on #7696
I tried the steps below, but everything works fine.

On a Linux workstation:
 1. `git clone https://github.com/google/ExoPlayer.git` + `git checkout dev-v2`
 2. Install Android Studio 4.0 and download Android SDK 29 and open project once so that `local.properties` file is generated
 3. `cd ExoPlayer` and `./gradlew demo:assembleNoDecoderExtensions`
 4. `cd demos/main/buildout/outputs/apk/noDecoder

[2020-08-03 11:38] IanDBird commented on #3877
We're a +1 on this one. We would love to be able to use an on-disk cache for Live playback to allow us to potentially seek back in time longer than what the memory cache/allocator allows.

[2020-08-03 12:35] amankr commented on #7706
Thanks for the clarification. Closing the issue

[2020-08-03 12:35] #7706 closed, assigned to ojw28

[2020-08-03 12:42] ojw28 commented on #7704
It's unclear what issue you're trying to describe, and I can't reproduce anything obviously related. Please provide complete information as requested in the issue template.

[2020-08-03 13:07] ojw28 commented on #7707
Why are you overriding the default values when instantiating the `LoadControl`? In particular using `16` in `new DefaultAllocator(true, 16)` doesn't look like a sensible value. The default is to use `65536`, so `16` is likely to be way too small and will incur quite significant performance overhead. The first two values passed to `setBufferDurationsMs` also look very small.

Also, why are you usin

[2020-08-03 13:48] kschults commented on #7697
@tonihei Thanks, that's exactly what I'm looking for. I think between the comment about using the `DownloadRequest` and #6471, it's probably safe to close this ticket. Thanks for your help

[2020-08-03 13:53] YongtaoS commented on #7698
Hi tonihei,
thank you for the reply.
I just sent two links to the email address. Please confirm if you get them and reproduce the issues.

[2020-08-03 14:24] tonihei commented on #7697
You're welcome :)

[2020-08-03 14:24] #7697 closed, assigned to tonihei

[2020-08-03 14:48] #7476 closed, assigned to ojw28

[2020-08-03 14:53] ojw28 commented on #7411
Xiaomi have a fix for this issue. My understanding is that it should roll out some time this month.

[2020-08-03 14:53] #7411 closed, assigned to ojw28

[2020-08-03 15:07] fgl27 commented on #7411
OK, Thank you.
I complement here when I manage to test they update.

[2020-08-03 15:16] ryanheise commented on #7693
Thanks for the helpful answers!

The user will choose an arbitrary podcast outside of my control, so I'd need it to be detected.

Thanks, I'll look into this. If I am only using this strategy for MP3 files, would there be any issue with doing something like `Mp3ExtractorTest.mp3SampleWithIndexSeeker`?

#328 mentions that the Xing header can only store 100 seek map entries which would not be accura

[2020-08-03 15:23] shikjain commented on #7676
Hi Tonihei,

Thanks for your response. Did you mean `maxDroppedFramesToNotify` parameter to be set to 1?
Also, it will be good if ExoPlayer is enhanced to reset the dropped frame counter when stream changes, as this is more logical.

[2020-08-03 15:27] tonihei commented on #7676
Yes, sorry for the mixup!

This is what this enhancement is now tracking.

[2020-08-03 15:36] punitagoel2403 commented on #7707
I removed both the parameters, still the same situation. But I guess the problem is with video. I tried using some internet downloaded video, and it took not more than 10 sec in starting initially, (although it I believe it could have been even better - but it is working as expected, buffering while playing).
I even tried my video (generated in the app through cam recording) and internet picked vi

[2020-08-03 16:13] AquilesCanta commented on #7658
If I understand correctly, what you want to do is get the playback position in the timebase of the `#EXT-X-PROGRAM-DATE-TIME` tags. If that's correct, what you want is:

`player.getCurrentPosition() + currentWindow.windowStartTimeMs // The currentWindow can be obtained from the current timeline.`

If not what you want, can you clarify?

[2020-08-03 16:42] tonihei commented on #7690
Update: The issue is caused by reusing the `TsExtractor` after discarding media chunks. The extractor ends up in an invalid state where the first sample after discard is allegedly written to an out-of-scope byte range (that doesn't actually happen, it's just left-over metadata from the discarded chunk). When the renderer tries to read this sample with invalid byte range it sometimes runs into the

[2020-08-03 16:48] kim-vde commented on #7693
This should also work. I would have a look into ProgressiveMediaPeriod#load for a lower level logic such as the one used in the tests.

[2020-08-03 17:13] ojw28 commented on #7707
Yes, the problem is with the video file. MP4 files consist of "boxes" that contain information required for playback. Before playback can start, the player needs to process the `moov` box, which contains information about the type of the media in the file. After it's done so, it needs to read the actual audio and video samples from the `mdat` box(es), at which point it can start playback.

The opt

[2020-08-03 17:13] #7707 closed, assigned to ojw28

[2020-08-03 17:56] ojw28 commented on #7483
I'm not sure there's really much we can do to help here, since the time that would be required for us to recreate what you're doing is far too great to justify spending time on, given it's such a niche use case. If a fully working sample project were provided as source code, it would be somewhat easier.

As a general comment, converting a video file through FFmpeg sounds like a very inefficient an

[2020-08-03 18:18] punitagoel2403 commented on #7707
Brilliant!! Thank you for such detailed explanation. I was using a compression lib, which was messing up the structure. Now it is working flawlessly.

But for files that I am allowing a user to pick from gallery, there are chances of "moov" box being at the end, like you mentioned. So, is it advisable to restructure it, or else, those particular files would still take a while to load.

[2020-08-03 18:29] swamp-agr commented on #7658
Hi @AquilesCanta,

This is exactly what I wanted to find.
In this case I do not know what chunk is currently playing in the moment. In order to catch some information from tags. However, I could perform `HlsManifest` tags analysis and match them with `currentTimeline`/`currentWindow`.

I appreciate your support!
Closing issue for now.

Thank you and have a good day!

[2020-08-03 18:29] #7658 closed, assigned to AquilesCanta

[2020-08-03 19:30] ojw28 commented on #7668
It looks like the implementation changes were made in response to [this comment](https://github.com/google/ExoPlayer/commit/709fc7735b9038ab8ea8399b4e2308587d98bd80#r11338612) by @tresvecesseis . Looking back, I'm not sure that comment is really correct.

@tresvecesseis - Could you clarify exactly what this means:

What specifically could be a problem? For `MulticastSocket`, if you just specify th

[2020-08-03 19:37] ojw28 commented on #7707
If the user is picking files that are local on the device, there's no point in restructuring them.

If the files are being streamed over the network, then having the `moov` at the end is going to add ~2 network round trips to the startup latency compared to if it were at the beginning. Whether eliminating that is worth re-transcoding the content is up to you!

[2020-08-03 19:50] ojw28 commented on #7480
@iWillBeUnderYourBed - Please respond to the questions above if you wish for us to investigate this further. Thanks!

[2020-08-03 19:58] ojw28 commented on #7583
Yes, you need to pass renderer indices rather than `C.TRACK_TYPE_X` constants to `setRendererDisabled`.

I assume that to find the renderer indices, you're iterating over the renderer indices and using `Player.getRendererType(i)` or `MappedTrackInfo.getRendererType(i)` to determine whether the renderer at index `i` is a type that should be disabled. If so then yes, you're doing the right thing.

[2020-08-03 19:58] #7583 closed, assigned to ojw28

[2020-08-03 20:16] saml opened #7708 "Getting current PTS in HLS livestream?"
### Searched documentation and issues

- https://github.com/google/ExoPlayer/issues/2118
- https://github.com/google/ExoPlayer/issues/2289
- https://github.com/google/ExoPlayer/issues/7658
- https://github.com/google/ExoPlayer/issues/2930

### Question

I want to detect if the current position is at or has passed a certain PTS in an HLS livestream so that I can perform arbitrary actions (such as a

[2020-08-04 04:41] dpolyakova commented on #7696
I tried running same demo app on my GalaxyS10 which is Android O, SDK 29 and I don't see jacoco exception there. So the difference must be in the Java runtime environment between the O and P. Our streamer devices are all Android P, and 32 bit only - armeabi-v7a .

[2020-08-04 05:17] gokulkalagara commented on #7657
**//download request**

[code]

 **// for offline not adding the Event logger**

[code]

@ojw28 I'm not adding event logger for download content, for that reason event logger did not get for the records
If it is online content it will get event logger logs.

I'm downloading only single resolution, TrackSelector is default and also for offline videos we not allowing change the track selector for of

[2020-08-04 05:18] gokulkalagara commented on #7657
@ojw28 Thank you for quick reply

[2020-08-04 06:10] xoancosmed commented on #7661
I agree with @ojw28. I tried the AnalyticsListener and it's not called until the end of the video or until I cut the live video streaming. So, is there any way I can get the estimated bandwith without waiting the playback to end?

[2020-08-04 07:02] punitagoel2403 commented on #7707
Thank you Oliver. Can you also provide me some link/ source where from I can get this valuable understanding of videos and work on my own compression and other utilities of videos? Or some already built good libraries?

[2020-08-04 07:37] vipinchouhan commented on #7611
Hello @ojw28

Thank you for your support. But we need to know when you will provide next release of Exoplayer with a solution to this issue. could you just tell any tentative date of next exoplayer release.

[2020-08-04 07:37] krackjack234 commented on #7607
@tonihei  For 3) issue is seen even with exo version 2.9.6
For 4), the test stream, sample apk and device logs are now shared over email. Issue is happening with specific media streams on seek.

Do let us know if any other information will help in analysing the issue.

[2020-08-04 08:31] tonihei commented on #7661
Yes, I missed that you are using `ExtractorMediaSource`.  In this case, you'll only get the estimate after playback ended and possibly after seeks.

Note that our `DefaultBandwidthMeter` was written with adaptive playbacks using chunks of media in mind. In this world, it's easier to wait until a network connection is closed to get an estimate. And more crucially, we also don't need an estimated ba

[2020-08-04 08:34] sanojlawrence commented on #7701
here is what i get in logcat
[code]

[2020-08-04 08:36] tonihei commented on #7698
Thanks, we received the streams and I can reproduce the problem. I'll assign to @kim-vde for further investigation.

[2020-08-04 08:39] andrewlewis commented on #7683
When playing back at 1.5 speed on `Sony/BRAVIA_ATV2_EU/BRAVIA_ATV2:8.0.0/OPR2.170623.027.S32/665551:user/release-keys` in the demo app, video playback looks very 'jumpy' (like it's repeatedly speeding up then slowing down again). Audio sounds fine. The dropped frame counters in the demo app's debug view don't show frames getting dropped continuously.

I see the same on 2.10.0 so this doesn't seem

[2020-08-04 08:48] tonihei commented on #7696
I think something got messed up in this comment. Android O is SDK 26, Android P is SDK 28 and Android 10 is SDK 29.
Could you provide the reproduction steps in the same style as above so that we can reproduce the problem? For this kind of build setup issue, it's best to start from scratch so that no previous config or customization can influence the result.

[2020-08-04 09:11] menscikov commented on #7696
I have the same warning (W/System.err: java.io.FileNotFoundException: /jacoco.exec (Read-only file system)) for about 1 year on any physical or virtual device.

It's appearing only once after application start. To repeat this warning i have to close the app and start again.

[2020-08-04 09:19] #7704 closed, assigned to ojw28

[2020-08-04 09:20] tonihei commented on #7696
@menscikov So this is just a warning without any influence on the app behaviour?

[2020-08-04 09:21] andj207 commented on #6475
I have the same problem when playing my video. The problem does not happen at fix position, it happens randomly.
I got error some time at 16:xx and lastly at position 7:19, They are different whenever I play it. But when I play it on windows 10 player, no error happens, everything works well.
The video file https://www.dropbox.com/s/ux428inffwg3jnq/exoplayererror.mp4?dl=0
Error:

    E/AudioTrack:

[2020-08-04 09:24] yoobi opened #7709 "Support custom track ordering in TrackSelectionView / TrackSelectionDialogBuilder"
### [REQUIRED] Searched documentation and issues

I've looked around stackoverfow and multiple forums but they just use `TrackSelectionDialog` without sorting the format

### [REQUIRED] Question

How can I sort the format inside `TrackSelectionDialog` ? I can't modify the videos as I'm just picking up the link from a WebService. Here is a [screen](https://imgur.com/a/ETbg84d) of what I'm describin

[2020-08-04 09:30] menscikov commented on #7696
For me, yes. I also tried to fix this warning in the same way as written in 1 post, but it didn't work.
Would be great, if it will be fixed sometime.

[2020-08-04 09:38] ojw28 commented on #7701
You have not attached an `EventLogger` as suggested above, and therefore there isn't anything useful in the logcat.

[2020-08-04 09:39] tonihei commented on #7696
If I understand jacoco/jacoco#968 correctly, this issue is working as intended from Jacoco side and they would advise the Android Gradle plugin maintainers to fix their setup. This is tracked by https://issuetracker.google.com/151471144 already.

Nothing of this actually relates to ExoPlayer as far as I can see and the warning doesn't influence app behaviour and I would consider it to be log spam

[2020-08-04 09:39] #7696 closed, assigned to tonihei

[2020-08-04 09:48] AndersonCrew opened #7710 "Total duration is not working exactly"
I had .setShowMultiWindowTimeBar(true) with my list Uri File , but the total duration is not working exactly
https://drive.google.com/file/d/1PdEfmT9quPJVOA9mrRV7rgJ81motuynV/view?usp=sharing
Total my video list is 54s but you can see the video it is incorrect

[2020-08-04 11:42] ojw28 commented on #7707
I don't think there really is a single source of information for this kind of thing, so your preferred search engine is generally the best starting point.

[2020-08-04 11:47] ppodgorski opened #7711 "Best way to implement "Live" indicator"
I need to implement such a feature. When user's playback is at the live edge, display "LIVE" label. Otherwise, display current position (or another "not live" indicator like on YouTube lives). What is the best way to do this?

Thank you for any help :)

[2020-08-04 11:49] tonihei commented on #7607
Thanks for providing all the detailed information! I tried playing the stream on a Pixel 4 and a Nexus 6P, but both work fine with your APK and stream (and seeking around), no dropped frames at all.

Could you tell us a list of devices on which you observed the issue (as specific as possible: brand, model, OS version). If we have one of the devices in the office, I'll try to obtain one to test the

[2020-08-04 11:51] DavidMihola commented on #7678
Sorry, that took a while... But we do have public test streams now!

For convenience, I forked the ExoPlayer project and added a branch with a few changes to the `demo` app:
* it includes only our HLS test streams
* it enables chunkless preparation for HLS streams

https://github.com/google/ExoPlayer/compare/release-v2...DavidMihola:demonstrate-HLS-chunkless-preparation-problems

As I wrote in the

[2020-08-04 12:39] ojw28 commented on #7709
There's no way to do this currently. I'll mark it as an enhancement.

In the meantime, it should be relatively easy for you to fork `TrackSelectionDialogBuilder` and `TrackSelectionView` into your own codebase, at which point you'll be able to customize them to exactly suit your use case.

[2020-08-04 12:42] yoobi commented on #7709
So you mean I should copy your `TrackSelectionDialogBuilder` and `TrackSelectionView` and change them to add this `sortBy` method ?

[2020-08-04 12:47] ojw28 commented on #7709
We will use this issue to track adding support directly to the library, but in the meantime, yes, that's the easiest thing for you to do. You could also send a pull request directly to the project, if you're sufficiently motivated to do so!

[2020-08-04 13:09] AquilesCanta commented on #7678
A fix for this will be available in the next release.

Edit: The issue here is that the variants were removed but the media tags corresponding to those variants were left. The playlist parser fails to map the media tags to a variant, therefor missing the codecs attribute from the variant, which in turn means the media period fails to assign a sample mime type to the audio track. In conclusion, the

[2020-08-04 14:37] andrewlewis commented on #7674
If synchronization with what's actually being played out is important, #4107 may also help with this.

[2020-08-04 15:05] andrewlewis commented on #7617
The audio framework team indicated that providing an API to detect this is not feasible in general, as there is no kernel event for S/PDIF device connection and not all devices have physical detection for whether it's plugged in.

Regarding `nrdp_external_surround_sound_enabled`, does that work reliably on this device and get updated on plug/unplug? If so, please could you give us the full build f

[2020-08-04 15:07] andrewlewis commented on #7617
Update: rereading your previous comment it sounds like `nrdp_external_surround_sound_enabled` is actually just reflecting the user setting of whether encoded output is enabled. Could you check whether the `AudioDeviceInfo` encodings or HDMI audio intent reflect the same information? If so, using those standard APIs is preferable to relying on a non-standard global setting to detect this.

[2020-08-04 15:10] andrewlewis commented on #7669
If I understand correctly, #7617 is actually about detecting optical plug events, while this issue is about AC3 output unexpectedly being reported as possible when the user overrides the encoded output setting to 'PCM only'.

Please could you check whether AC3 output actually works while in this PCM-only mode? It may be the case that the device supports transcoding AC3 down to PCM before sending i

[2020-08-04 15:22] #7579 closed, assigned to kim-vde

[2020-08-04 16:25] PratimMallick commented on #7617
Yes that's right @andrewlewis.  `nrdp_external_surround_sound_enabled` just reflects the user setting of whether pass-through(either by HDMI_ARC or Optical Cable) is enabled or not.

Neither `AudioDeviceInfo` nor  'HDMI Audio intent' does not reflect this when Optical Cable is connected. That is why I am searching via global settings.

FYI:
NRDP here stands Netflix Ready Device Platform, which is

[2020-08-04 16:37] PratimMallick commented on #7669
Yes @andrewlewis EC3 output works even if PCM-only mode is selected.

[2020-08-04 16:41] PratimMallick commented on #7617
Is there any other way of knowing if passthrough is enabled by the user or not? Is there any other standard global key that can be checked at app level?

[2020-08-04 17:28] krackjack234 commented on #7607
hi @tonihei  we are able to reproduce this issue with OnePlus7. The device details and adb bugreport are available in the same link

[2020-08-04 17:40] evant commented on #7638
I'm sorry I don't really understand this stance. It really is best practice for libs to tell you what the breaking changes there are and how to upgrade in their release notes. This makes it easier for a developer to update the lib, gives and idea of what the lift might be for deciding when to do it, and guides where testing efforts should go when making the update. Actually looking at your changel

[2020-08-04 18:20] AquilesCanta commented on #7640
Sorry, hadn't seen this. I'll take a look. By chance have you been able to reproduce on newer Android versions? If this is a platform issue that was fixed on a later Android version there is not much we can do on the ExoPlayer side.

[2020-08-04 18:44] AquilesCanta commented on #7640
The issue is not reproducible on Pixel devices running R. And I don't have the mentioned devices. Could you confirm whether:
- You have tried other devices other than Samsung SM-N9005 and Motorola Moto G.
- You have tried newer Android versions.
- The encrypted video plays normally when not preceded by an ad.
- You captured the bugreport using `adb bugreport`. The provided txt file doesn't include

[2020-08-04 19:15] sky-uiltonsantos commented on #7640
Hi @AquilesCanta the issue only occurs in Android Version 5 (API 21), the rest of the version is working fine.
Can you give some light around this issue?
Could you reproduce on your ends?
Thanks.

[2020-08-04 19:19] ghost commented on #7640
Hi @AquilesCanta, answering your questions:

- You have tried other devices other than Samsung SM-N9005 and Motorola Moto G.
**-- Yes, in others Android versions is working properly.**
- You have tried newer Android versions.
**-- Yes, in others Android versions is working properly.**
- The encrypted video plays normally when not preceded by an ad.
**-- Yes, working fine, the problem is the transi

[2020-08-04 20:16] ojw28 commented on #7638
To clarify, we do make a best effort to call out breaking changes in our release notes, particularly for APIs that developers are likely to be using directly. All I was saying is that if we do forget to list something, then there's still no ambiguity if developers are using ExoPlayer in the recommended way, because they'll always see breaking changes as compilation errors rather than by being surp

[2020-08-04 20:55] master255 opened #7712 "Play torrent files"
I want to play 4k Blu-Ray mkv torrent files. How long would it take you to do that?

[2020-08-04 22:09] ojw28 commented on #7712
I don't think it falls within the scope of ExoPlayer to implement a BitTorrent client, or to provide a direct integration with a BitTorrent client library. That said, ExoPlayer is flexible enough that it should be fairly easy for a sufficiently motivated app developer to do this themselves, without having to make any direct modifications to the ExoPlayer library. A good starting point would probab

[2020-08-05 01:04] #7600 closed, assigned to tonihei

[2020-08-05 01:33] noranekotan commented on #7683
@andrewlewis
Thank you for your answer.

I understand that it's not a problem that will be solved soon.
Please let us know if you have any useful settings or useful information for improvement.

[2020-08-05 02:05] swifityG opened #7713 "getting "playback failed" error at random time during playback"
### [REQUIRED] Issue description
I get "playback failed" error at random time during playback

### [REQUIRED] Reproduction steps
I don't know exactly how to reproduce, usually its happening few min or secs after playback start

### [REQUIRED] Link to test content
its can happen in every m3u8 in my experience ..

### [REQUIRED] A full bug report captured from the device
[code]
### [REQUIRED] Versio

[2020-08-05 05:03] sanojlawrence commented on #7701
Followed this method for logging

 https://exoplayer.dev/listening-to-player-events.html#using-eventlogger

[code]

[2020-08-05 06:18] weisini opened #7714 "How to add video transition between different video MediaSources??"
I'm using exoplayer recently，and want to add some video transition between different video MediaSources
I've been looking for related implementations in many places, but no idea still

[2020-08-05 07:14] halilozel1903 commented on #7684
No, It doesn't work. I get a json type url from the service. I couldn't find a similar example how to add it.

[2020-08-05 07:23] tonihei commented on #7684
You can also set the default artwork with a call to `PlayerView.setDefaultArtwork(Drawable)` if you receive it programmatically.

[2020-08-05 08:26] master255 commented on #7712
@ojw28 Yep! I found a solution! ExoPlayer plays video from torrents! :-D https://play.google.com/store/apps/details?id=com.media.library

[2020-08-05 09:26] master255 commented on #7712
@ojw28 Yep! I found a solution! ExoPlayer plays video from torrents! h|ttp|s:/|/play.|google.|com|/store|/apps|/details|?id|=com|.media|.library|

[2020-08-05 09:26] #7712 closed, assigned to ojw28

[2020-08-05 09:51] changxiangzhong commented on #6916
Relevant to https://github.com/google/ExoPlayer/issues/5456. I think this has been fixed in the latest ExoPlayer. Checkout the comments as following, it's taken from the latest ExoPlayer. Bascially, don't call `MediaCodec` directly within the callback. Put it in another thread.
![image](https://user-images.githubusercontent.com/5352145/89398766-d53a3900-d711-11ea-98fd-d395cd401058.png)

[2020-08-05 10:19] AquilesCanta commented on #7640
This is a tricky situation because, considering it's been fixed in later Android versions, this was probably a platform issue which was later fixed.

The only workaround I can think of right now is trying placeholder DRM sessions for the ads. I suspect this might not be possible right now, but I'm working on it and will reach back once that's possible.

I don't think I know more than you about the

[2020-08-05 10:31] ghost commented on #7640
A curiosity thing:
- if you test the same steps in Portrait mode, the bug doesn't occur
- if you get the green screen, after rotate, the video get back to normal

My suspicious is the SurfaceView, during the transition to the Ads (non-protect) to the main content (protected).

[2020-08-05 10:37] mkcdot opened #7716 "Clearkey key-rotation content's audio playback fails after 6 sec on exoplayer"
### Question
I have generated clearkey encrypted DASH content with key-rotation using shaka-packager and hosted it on a media server.
I have configured license server with all keys used for encryption.
Then I added entry for this content in exoplayer's media.exolist.json file as below:
[code]
If only video stream is selected for playback with no audio stream, video plays fully by acquiring all req

[2020-08-05 13:27] aureobeck commented on #7615
Any updates on this @marcbaechinger ? Tested on Google app 4.2.1.323041977 (July 25) issue still occurs

[2020-08-05 14:52] swifityG commented on #7713
its doesnt happen with okhttp so mabye it its some problem with cronet

[2020-08-05 14:55] ren93 opened #7717 "How to read SEI from FLV"

[2020-08-05 17:45] kim-vde commented on #7698
There is a small issue in the media: the `trun` box specifies both `first_sample_flags` and `sample_flags`, which is not allowed according to ISO/IEC 14496-12:2015 (section 8.8.8.1).

I will update the code to make it more robust. This should fix your issue.

[2020-08-05 17:47] andrewlewis commented on #7653
I can't see anything obviously wrong, aside from the fact that the majority of video frames seem to be arriving late. Based on a sample of the positions, the audio track position seems to be advancing smoothly at the correct rate.

Can you reproduce this on any other Android TV devices? Do you see the same behavior in the ExoPlayer demo app? Given you see frame drops for AC3 too is it plausible th

[2020-08-05 17:55] ojw28 commented on #7713
Does this reproduce in the ExoPlayer demo app, or is this with your own project? If the latter, could you try in the ExoPlayer demo app and see if it reproduces there as well.

[2020-08-05 17:58] ojw28 commented on #7713
The error you're seeing is [documented here](https://chromium.googlesource.com/chromium/src/+/master/net/base/net_error_list.h#141):

[2020-08-05 18:05] ojw28 commented on #7701
I don't see anything obviously wrong there, although it might be something to do with the audio channel count and sample rate. I think you'll need to share the specific MKV file that you're having problems with for us to debug further.

[2020-08-05 18:06] ojw28 commented on #7714
This is not something we currently support, sorry.

[2020-08-05 18:06] #7714 closed, assigned to ojw28

[2020-08-05 18:29] ericharlow opened #7718 "widevine DRM session exception"
### [REQUIRED] Issue description
When I try to play widevine dash content on some devices I am observing the following failure.
com.google.android.exoplayer2.drm.DrmSession$DrmSessionException: com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 500

### [REQUIRED] Reproduction steps
using the ExoPlayer demo app on the devices named below try to play

[2020-08-05 19:00] YongtaoS commented on #7698
Thank you for your quick response.

You are right.

If I understand the spec correctly, a proper setting would be : if `first_sample_flags` is present, the `sample_flags` of only the first sample should not be present, but the `sample_flags` of other samples can still be present.
And the `first_sample_flags_present` and `sample_flags_present` both can still be `true`.
Am I right?

[2020-08-05 19:18] AquilesCanta commented on #7717
Can you clarify exactly what your usecase is? If you want to read the actual SEI bytes, you can inject a custom H264 reader using a custom `HlsExtractorFactory` when creating the `HlsMediaSource`.

In your custom HlsExtractorFactory you'll probably have something like:

[code]

If you can better describe your usecase, perhaps the solution is simpler.

[2020-08-05 19:28] swifityG commented on #7713
I used exoplayer demo app and didnt change any core stuffs, the issue mainly occurs when switching between networks but can happen randomly too.. since I switched to okhttp i dont get it

[2020-08-05 19:33] swifityG commented on #7711
I did it with by using `player.isCurrentWindowLive`  in `onPlayerStateChanged` and its work well

[2020-08-05 19:34] AquilesCanta commented on #7640
So something I would like to try (please do it for me, since you have the devices) is using a secure decoder for both clear and encrypted content, just in case we notice something different. To do this, customize [this line](https://github.com/google/ExoPlayer/blob/132cff1e476a67e1fe476b46bf62f1f9ac8ec93a/library/core/src/main/java/com/google/android/exoplayer2/source/ads/AdsMediaSource.java#L227)

[2020-08-05 20:48] ojw28 commented on #7716
This issue occurs when there are multiple `sbgp` or `sgbp` boxes in an FMP4 container, and the one we want (`grouping_type == seig`) doesn't come first. We'll fix this. Thanks for reporting!

[2020-08-05 21:42] lavajaw commented on #7682
@tonihei just to confirm that longer DownloadHelper.forDash method worked. Thanks

[2020-08-06 01:04] #7598 closed, assigned to tonihei

[2020-08-06 01:59] pratakr commented on #7653
I test on other android box/tv cannot play H.265 video format. I already customize load control MAX/MIN_BUFFER_MS but not work so network not a cause I gress.  Zedoo Z9S  support hardware H.265 decoder still can play on it. I test run same video content by build in media player. It can play smoothly both video and audio. Is it because I force audio passthrough by return custom audioCapabilities? I

[2020-08-06 05:23] krackjack234 opened #7719 "How ABR bitrate selection is done in exoplayer"
### [REQUIRED] Searched documentation and issues
Searched documentation but could not find the issue

### [REQUIRED] Question
We wanted to check how ABR bitrate selection is done by Exoplayer.

In our use case we set player in default ABR mode and set a max bitrate
We have a manifest where we set the player in ABR mode but map the max bitrate to 6mbps
However we see that exoplayer is picking up th

[2020-08-06 06:39] michael-eddy commented on #7687
thank's for your help.but i try it in this code ,this's a part of my code:
`var source = new ByteArrayDataSource (mpdString.ToBytes ());
var dataSourceFactory = new DefaultHttpDataSourceFactory ("userAgent", null);
var mediaSource = new ExtractorMediaSource.Factory (dataSourceFactory).SetExtractorsFactory (new DefaultExtractorsFactory ()).CreateMediaSource (source.Uri);
Player.Prepare (mediaSource

[2020-08-06 07:00] kim-vde commented on #7698
My understanding is that you cannot have both `first_sample_flags` and `sample_flags` (i.e. `first_sample_flags_present` and `sample_flags_present` cannot be both true). If `first_sample_flags` is present, no `sample_flags` should be specified. Otherwise, `sample_flags` must be specified for every sample.

`first_sample_flags` is there to avoid repetition in case all samples are the same as the `d

[2020-08-06 08:17] ogawa-ma opened #7720 "DrmSessionException when downloading offline license on a specific device"
### [REQUIRED] Searched documentation and issues
・ExoPlayer Javadoc.
・ExoPlayer Issues

### [REQUIRED] Question
Hi.

I get a DrmSessionException when I try to download an offline license.

■ error message
[code]

■ Offline license download process
[code]

When I check the license server's issuance history, the license is issued successfully.

This error occurs in SC-02H, but there are SC-02H where

[2020-08-06 08:25] tonihei commented on #7687
Please read the guide on how to play DASH streams: https://exoplayer.dev/dash.html#creating-a-mediasource
You need to use `DashMediaSource` and then follow one of two options I explained above.

[2020-08-06 08:34] #7682 closed, assigned to tonihei

[2020-08-06 09:02] vairaganeshv opened #7721 "Current thumbnail gets changed while coming from background"
**[REQUIRED]** Issue description

Thumbnail of the video gets changed when you put the application in background and foreground simultaneously

[REQUIRED] Reproduction steps

1. play the video
2. put the app in background
3. bring the app to foreground
4. Repeat step 2 and 3 for multiple times (10 - 20).

While playing the video put the app in background from the android fragment life cycle event

[2020-08-06 12:22] YongtaoS commented on #7698
It makes sense.

FYI. Exoplayer is able to play the stream after removing `first_sample_flags`.

Thanks a lot!

[2020-08-06 14:07] sanojlawrence commented on #7701
Here is the exact file am trying to play https://t.me/yuvagram/1363  but when i try some other sample files http://jell.yfish.us/media/jellyfish-20-mbps-hd-hevc-10bit.mkv i was able to play.

it seems i can't able to play larger MKV files.

When i try https://t.me/yuvagram/1363 these file with other video player like MX player i was able to play same file.

UPDATE:

This file http://jell.yfish.us/

[2020-08-06 14:16] andrewlewis commented on #7689
Thanks for the feature request. We should use `ImaSdkFactory.createAudioAdDisplayContainer` for this use case. I have a change in review that allows returning `null` from `getAdViewGroup` as a signal to create an audio ad display container.

Regarding detecting skippability, you can attach an `AdEventListener` via `ImaAdsLoader.Builder.setAdEventListener` then in `onAdEvent` check for `AdEvent.get

[2020-08-06 14:53] ren93 commented on #7717
I want to read SEI information in real time while playing flv video，Can you explain how to achieve it？
Or give me a demo，thanks！

[2020-08-06 16:54] AquilesCanta commented on #7717
FLV is not supported by HLS. Can you clarify?

[2020-08-07 01:49] Romantic-LiXuefeng opened #7722 "The HLS only-audio steam can't play"
### [REQUIRED] Issue description
The stream [http://newcntv.qcloudcdn.com/asp/hlsaudio/hls/450/0303000a/3/default/77cf0d02a1bf4e998ab88a3a3dd903f6/450.m3u8](http://newcntv.qcloudcdn.com/asp/hlsaudio/hls/450/0303000a/3/default/77cf0d02a1bf4e998ab88a3a3dd903f6/450.m3u8) can't be played. and throw the exception.

I have set the payload reader flag `FLAG_IGNORE_H264_STREAM`.

[code]
I also test the st

[2020-08-07 02:26] Romantic-LiXuefeng commented on #7722
I used the StreamAnalyzer to analyze the first segment(0.ts) in the HlS playlist. The `PMT` parser error ,because of  the  param `ES_info_length  =  11` set incorrectly.
![image](https://user-images.githubusercontent.com/9837705/89601724-ca111580-d897-11ea-9a12-407b41ab8406.png)

[2020-08-07 02:33] Romantic-LiXuefeng commented on #7722
@ojw28 Do you think whether need to add a workaroud to support this particular stream?

[2020-08-07 07:50] halilozel1903 opened #7723 "How to use dubbing in ExoPlayer?"
Hi,

I want to use dubbing in ExoPlayer.

How can I use dubbing?

Help me please.

[2020-08-07 09:37] ojw28 commented on #7723
This question is much too vague for us to be able to help, sorry.

[2020-08-07 09:44] halilozel1903 commented on #7723
I want to add a dub to a video.

For example English, Turkish dubs.

I could not find an example like this.

How can I add dub into video in ExoPlayer?

[2020-08-07 10:06] ojw28 commented on #7722
As you've observed, the media is broken. We may consider adding robustness for this case, but ultimately the media provider should fix their content.

[2020-08-07 10:13] ojw28 commented on #7723
It really depends on what type of media you have. You obviously need to start from a point where you have all of the content, including the dub track. Preparing your content isn't in scope for this issue tracker. So, what format is that content in? Can you provide sample media that includes the dub track and explain more precisely what your problem is? It's very unlikely we'll be able to help with

[2020-08-07 10:39] vip644 opened #7724 "Getting wrong total duration for Encrypted CMAF contents (DRM protected)"
Issue description:

I've observed that ExoPlayer calculating the wrong total duration in case Encrypted CMAF content which is DRM protected but when it comes to Un-encrypted CMAF content it shows the accurate duration.

Encrypted CMAF content player image:
Total Duration: 10m01s

<img width="597" alt="Screenshot 2020-08-07 at 2 30 05 PM" src="https://user-images.githubusercontent.com/10258819/8963

[2020-08-07 10:58] ojw28 commented on #7711
The suggestion from @swifityG works well if your aim is to always show the indicator when playing live content, but not for on-demand content.

If your goal is that you're playing live content, and you want to show the indicator only if the user's playback is at the live edge, then I think you can probably just use `getCurrentPosition` (gets the current playback position in the live window) and `g

[2020-08-07 10:58] #7711 closed, assigned to ojw28

[2020-08-07 11:00] ojw28 commented on #7710
Is your issue that it's showing 55s rather than 54s? Or is your issue that it's initially showing 4s before it updates?

[2020-08-07 11:03] ojw28 commented on #7724
ExoPlayer reads the duration directly from the content, so it seems most likely that ExoPlayer is doing the right thing, and that your encrypted content is specifying a different duration to your non-encrypted content. To be able to confirm this we'd need access to the content.

[2020-08-07 11:08] ojw28 commented on #7721
This is a known limitation of the underlying platform. Each time your app comes back into the foreground, a new `Surface` is created. It's not possible to re-render the same output buffer as was rendered to the previous `Surface` to the new `Surface`, and therefore we need to advance one frame to render something. Fortunately, users don't tend to repeatedly foreground and background apps in this w

[2020-08-07 11:08] #7721 closed, assigned to ojw28

[2020-08-07 11:11] vip644 commented on #7724
Sure, I'll provide you the encrypted content. Is it fine If I send you content over the mail?

[2020-08-07 11:12] ojw28 commented on #7724
Yes, please send it to `dev.exoplayer@gmail.com`. If you could send the non-encrypted version as well for comparison, it will likely make things easier.

[2020-08-07 11:21] ojw28 commented on #7719
Note that the code snippet you've provided doesn't actually do anything. You need to pass the built parameters back to the `TrackSelector` via `trackSelector.setParameters()` for them to be applied. I will assume that you're doing that.

* When you set a maximum video bitrate with `setMaxVideoBitrate`, tracks whose bitrates are greater than the specified `maxVideoBitrate` will be deselected and no

[2020-08-07 11:30] vip644 commented on #7724
I've shared you all the details over mail. Please check your mailbox.

[2020-08-07 11:39] ojw28 commented on #7724
The player shows 9:56 in both cases for me when I load the manifests up into our demo app (obviously the actual media isn't playable, because you didn't share it, but the duration is defined from the manifest anyway).

[2020-08-07 11:40] AquilesCanta commented on #7708
Thanks for the high quality issue, I appreciate there's enough information for me to work with. I think there are two questions here:
1. How do I get the current accumulative playback position in a live stream, when the media playlists don't have a `EXT-X-PROGRAM-DATE-TIME`.
2. How do I get the content position when there are stitched-in ads in the stream.

For 1: I think you can use something lik

[2020-08-07 12:10] vip644 commented on #7724
It seems the issue is coming from the DRM side, I need to look into that part. After you said, I've tested with Widevine as well and It's giving the correct duration. So ExoPlayer is working fine from its end.

[2020-08-07 12:21] #7724 closed, assigned to ojw28

[2020-08-07 13:05] christosts commented on #7607
I have a OnePlus 3T and gave it a try but wasn't able to reproduce the issue.

One thing to note, it may not be related but I'm tracking it just in case: the content is geo-protected but initially I was able to get playback working without additional setup on my device (geo-protection wasn't fully working at that point?) For about 20 minutes, I was streaming content and there were issues with drop

[2020-08-07 14:20] ersps25 opened #7725 "Exoplayer - MKV Video is not playing"
I have integrated Exoplayer to one of my Android App, I can play all type of videos with it but .mkv videos are not playing. I am getting 2 different exceptions for all the URLs I have.

Here is the code snippet I am using:

    private void initializePlayer() {
    TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);
    trackSelector = new Defau

[2020-08-07 15:33] christosts commented on #7551
[internal ref b/163127030]

[2020-08-07 15:45] ghost commented on #7640
Hey, I was trying to test what you suggested, but I am facing the following error:
![image](https://user-images.githubusercontent.com/28296276/89663207-22163f00-d8cd-11ea-856e-24918503dc49.png)

So, on that branch (`dev-v2`) the class C cannot find any properties on there.

What is missing on my ends?

[2020-08-07 15:54] saml commented on #7708
@AquilesCanta Thank you!

[code]

Gives me elapsed time since the player joined the livestream. For example, if the livestream has been going on for 30 minutes, and I open the player to view the livestream now, `(window.positionInFirstPeriodUs / 1000) + player.getCurrentPosition()`  would give me ~10 seconds, instead of 30 minutes.  I need the "30 minutes" to decide where in the livestream the pla

[2020-08-07 17:00] ojw28 commented on #7725
Your code is trying to use `DashMediaSource` to play a Matroska file, when it should be using a `ProgressiveMediaSource` (or equivalently, `ExtractorMediaSource`, although that class is deprecated).

See in particular the second code block that you've pasted, which is only using `ExtractorMediaSource` for MP3 and MP4 files, and is defaulting to use `DashMediaSource` in the else block at the end.

[2020-08-07 17:00] #7725 closed, assigned to ojw28

[2020-08-07 17:48] AquilesCanta commented on #7640
I'm inclined to think that something went wrong when you were checking out the code. I'd advise you try on a fresh checkout:

[code]

And then add the suggested modifications.

[2020-08-07 17:52] AquilesCanta commented on #7708
And where is that information available?

[2020-08-07 19:15] saml commented on #7708
@AquilesCanta I could see in packets/frames of a segment:

[code]

This `pts_time` (1209.466667 this is in seconds) is something I want to read. If there's something like `Timeline.Window.startPtsUs`,  I could do `window.getStartPtsMs() + player.getCurrentPosition()`.

[2020-08-08 05:14] Quantron7t opened #7726 "How to play from constantly updated file ?"
I don't know if this question seems legit or if i missed any thing from the exoplayer docs but i had to ask this to someone.
Can exoplayer play from a single file that is constantly updated and also play till the updated part.
Why i am doing this ? - its because i want to seek the mp3 live radio stream since exoplayer dont seek live stream.
Was successful in doing so but the exoplayer abruptly sto

[2020-08-08 07:06] PrinceVergil opened #7727 "Playing on-growing ffmpeg output with custom DataSource showing Strange Behavior"
### [REQUIRED] Searched documentation and issues
i am trying similar to [6411](https://github.com/google/ExoPlayer/issues/6411)
### [REQUIRED] Question
1. My problem is that when I start Playback Exoplayer gives some duration to file. Example. 00:58
And play 00:58 then Restart the playback and then continues playing beyond 00:58.
2.Before starting the playback if screen is locked Then exoplayer sh

[2020-08-08 16:07] michael-eddy commented on #7687
thank's my friend.i copy the wrong code before.know i using the `DashManifestParser.parse(uri,mpdStream) `,but the exoplayer throw a excption `{Com.Google.Android.Exoplayer2.ParserException: Unable to determine duration of static manifest.`the mpd string content is from [here](https://github.com/xiaoyaocz/biliuwp/blob/master/BiliBili.UWP/Helper/PlayurlHelper.cs#L1094). this error looks like some m

[2020-08-09 05:04] deathvivek opened #7728 "Sleep exoplayer"
Anyone can tell me how to sleep exoplayer for few millisecond while it is running. I have a UI where I have to match the song lyrics with text (not form srt file )

[2020-08-09 17:16] Kronos0041 opened #7729 "Codec error. Specific platform."
### [REQUIRED] Issue description
When I try to play some videos, I got some error like this issue:
https://github.com/google/ExoPlayer/issues/3953

##### Device info
Android version: 6.0
Model: LG-K420
Firmware: CyanogenMod 12.1

Error:
[code]

##### Device info
Android version: 7.1
Model: x96mini (TV box)
Firmware: Custom. Like this firmware: [TANIX TX3 MAX & MINI](https://4pda.ru/forum/index.php

[2020-08-10 01:04] #7616 closed, assigned to AquilesCanta

[2020-08-10 02:06] AndersonCrew commented on #7710
I .setShowMultiWindowTimeBar(true) , but it not load total duration in seekbar first . It show timebard of first window, then show total duration of playlist until the first windows ended

[2020-08-10 02:16] Romantic-LiXuefeng commented on #7722
@ojw28  Thanks! It works.

[2020-08-10 02:16] #7722 closed, assigned to ojw28

[2020-08-10 03:58] jackykarma commented on #7637
Hi, My network is not good, I am trying to upload the video file to Microsoft OneDrive. please hold on a moment. I will share the link later. Thank you for your patient.

[2020-08-10 04:08] yangcheng commented on #7714
@weisini  have you found a way to do this in other means?

[2020-08-10 04:30] jackykarma commented on #7637
Hi, This is the video link: https://1drv.ms/u/s!Aume2KLOYWATgRYzSv8ywgc-O_Lo?e=tL0dX5

[2020-08-10 06:26] rrfrias commented on #7718
@ericharlow , can you use https://www.widevine.com/contact to contact Widevine support. Describe the problem or provide this URI and they should be able to help you. If you still have issue, please reopen.

[2020-08-10 06:26] #7718 closed, assigned to rrfrias

[2020-08-10 07:17] mkcdot commented on #7716
This issue is now resolved with latest commit [https://github.com/google/ExoPlayer/commit/6a54ddd2173d3fd6def0c7e1320a3197e5ac2f44](url) .
Audio and video both are playing without any issues with key rotation.

Thanks for your valuable and quick support. This issue can be closed now.

[2020-08-10 07:17] #7716 closed, assigned to ojw28

[2020-08-10 07:38] ersps25 commented on #7725
Thanks, @ojw28,  It's working now for me.

[2020-08-10 09:27] andrewlewis commented on #7728
If you are trying to show timed text but don't have an SRT file to play, the easiest way to do this may be to generate an SRT (I think [the syntax](https://en.wikipedia.org/wiki/SubRip) is quite simple). Then you can use ExoPlayer's [support for side-loading subtitles](https://exoplayer.dev/media-sources.html#side-loading-a-subtitle-file).

If the goal is to do something when the player position r

[2020-08-10 09:30] andrewlewis commented on #7726
Does #6411 address this, especially the part about implementing a custom `DataSource`? I think this is the same so I will mark this as a duplicate but please reply if you are trying to do something different.

[2020-08-10 09:30] #7726 closed, assigned to andrewlewis

[2020-08-10 09:41] andrewlewis commented on #7727
Please could you check the implementation of your custom `DataSource` is not returning a fixed length, but instead returns `C.LENGTH_UNSET` when it's opened, as described in #6411? (I assume you are not using ExoPlayer's `FileDataSource` even though that class name appears in your code.) What media container format are you using?

[2020-08-10 09:46] Daktm opened #7730 "Exoplayer sometimes get source error in 2.5.4 version."
08-07 22:09:41.305  3234 28844 E ExoPlayerImplInternal: Source error.
08-07 22:09:41.305  3234 28844 E ExoPlayerImplInternal: com.google.android.exoplayer2.upstream.FileDataSource$FileDataSourceException: java.io.IOException: read failed: EIO (I/O error)
08-07 22:09:41.305  3234 28844 E ExoPlayerImplInternal: 	at com.google.android.exoplayer2.upstream.FileDataSource.read(FileDataSource.java:92)
08

[2020-08-10 09:51] #7698 closed, assigned to kim-vde

[2020-08-10 09:51] #7690 closed, assigned to tonihei

[2020-08-10 09:51] #7678 closed, assigned to AquilesCanta

[2020-08-10 09:52] #7611 closed, assigned to ojw28

[2020-08-10 09:53] ojw28 commented on #7611
This will be fixed in 2.12.0, which is due some time toward the end of August.

[2020-08-10 09:55] #7681 closed, assigned to tonihei

[2020-08-10 10:08] ojw28 commented on #7701
The jellyfish video plays fine for me, with both video and audio. I wasn't able to download the first video you linked to, since doing so seems to require that I join Telegram, which I'm not going to do just to debug this issue. Please share the file in a simpler way for us to access it, if you wish for us to take a look.

I'd suggest you try playing the problematic media in our demo app, to see i

[2020-08-10 10:09] andrewlewis commented on #7729
The provided bug report doesn't appear to contain the `MediaCodec`-related logging shown here, so I can't look for any diagnostic information output before the exception was thrown. I don't think there's much we can do to help based on this.

I'd suggest you have a look at logcat output just before the exception, and also try playing the streams in the ExoPlayer demo app to see if there's any usef

[2020-08-10 10:09] #7729 closed, assigned to andrewlewis

[2020-08-10 10:14] andrewlewis commented on #7730
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

A couple of specific notes:
- `VeerEncryptedDataSource` is not an ExoPlayer component and may be the cause of the error.
- Please check the media you are trying to play is valid.
- ExoPlayer 2.5.3 is

[2020-08-10 10:40] PrinceVergil commented on #7727
1.DataSource
Explanation=>The only change i have made is file.length to Size (Size is file length Already known).

 ` public class FileDataSource extends BaseDataSource {
    private long size;

    /** Thrown when a {@link FileDataSource} encounters an error reading a file. */
    public static class FileDataSourceException extends IOException {

        public FileDataSourceException(IOException

[2020-08-10 11:17] BharathMG-ShareChat opened #7731 "DownloadHelper MediaSource throws IllegalArgumentException while playing"
### Issue description
When using DownloadHelper to prepare MediaSource, sometimes we are getting IllegalArgumentException. Have attached trace below.

### Reproduction steps
Unfortunately, it is not always reproducible.

### A full bug report captured from the device
Caused by java.lang.IllegalArgumentException
       at com.google.android.exoplayer2.util.Assertions.checkArgument(Assertions.java:3

[2020-08-10 11:26] andrewlewis commented on #7727
If the input file grows over time, I think you need to check a few things:
1. It looks like your current implementation of `open` returns the bytes remaining in the file, but wouldn't you want to return `C.LENGTH_UNSET` like detailed in #6411?
1. When you run out of data in `read` I think you need to reopen the stream so you can read data that was added since you last opened it.
1. Finally, I'm no

[2020-08-10 11:45] AquilesCanta commented on #7640
@andrewlewis noticed that the error suggests that you are defining an int called C somewhere in your program scope.

[2020-08-10 12:08] amiya-elear opened #7732 "Not able play camera stream(fragmented-MP4) HLS URL into chromecast"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/4110
https://github.com/google/ExoPlayer/issues/6482

### [REQUIRED] Question
I have generated an HLS URL(fragemented_mp4) from my camera stream, Chromecast is not playing that HLS URL. I have tried to play some URL found on the internet I observed Chromecast not supporting all HLS URL this
https://mnmedias

[2020-08-10 12:55] andrewlewis commented on #7732
This doesn't seem to be reporting an ExoPlayer issue. Have you read the latest comment on #6482? If that doesn't help I'd suggest reporting it on the [Cast SDK issue tracker](https://issuetracker.google.com/code/p/google-cast-sdk/issues/list).

[2020-08-10 12:55] #7732 closed, assigned to andrewlewis

[2020-08-10 13:04] andrewlewis commented on #7731
It seems that we are trying to load an invalid offset in the stream (probably out of bounds). Without more information I don't think we'll be able to provide any further help. Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

In particular, steps to

[2020-08-10 13:05] ravisaini1990 opened #7733 "Provide a way to make fastforward/rewind buttons visible in compact notification mode"
I have implemented CustomPlayerNotificationManager and have overridden the actions for locked screen and to show CustomPlayerNotificationManager I have to enable setUseNavigationActions(true) which is showing the previous button in expanded player notification and if I am setting it false notification not visible. Please help locked screen working fine but want to hide 'Previous' icon in expanded

[2020-08-10 13:07] andrewlewis commented on #7733
@marcbaechinger Please could you take a look? Thanks.

[2020-08-10 13:22] PrinceVergil commented on #7727
1. `C.LENGTH_UNSET`  Works which set 00:00 duration.
But i have done some experimentation:-
    1.if i started playback after  receiving ` frame: 198, time: 8218 ` from ffmepg its shows me duration even if C.LENGTH_UNSET is return
    2.if i wait little longer like Time:61501 then the duration of playback is 00:00

[2020-08-10 13:25] ravisaini1990 commented on #7733
So for locked screen i need Rewind, Play/Pause, FastForward
nd for expanded notification view
Rewind, Play/Pause, FastForward along with seekbar

[2020-08-10 13:40] ojw28 commented on #7687
The manifest is invalid because it doesn't specify the duration of the period. The DASH specification provides a few different options for doing this, but it must be possible to determine the period duration from the manifest, one way or another. `MPD@mediaPresentationDuration` is documented in the specification as:

where-as the manifest you're generating doesn't do any of these things. Generatin

[2020-08-10 13:40] #7687 closed, assigned to tonihei

[2020-08-10 14:29] ojw28 commented on #7637
I think they're just using different definition, as noted above.

It looks like the `label` field is already being populated to contain the track title in our `dev-v2` branch, so this will be fixed in the 2.12 release.

[2020-08-10 14:29] #7637 closed, assigned to ojw28

[2020-08-10 15:31] ppodgorski commented on #7711
@ojw28 thanks for your reply. I've started my implementation only with `getDuration` and `getCurrentPosition` methods but it didn't work well. It turned out that I have to take into account the window.defaultPositionMs value. Now it works quite good.

There is one more thing. I've started with checking the live indicator state in `onSeekProcessed` callback, but live indicator should also change wh

[2020-08-10 16:11] ojw28 commented on #7711
If I were you I'd try and use `onPlayerStateChanged` to update your indicator at the right time. I doubt you need to do any repeated checking.

[2020-08-10 19:06] sanojlawrence commented on #7701
Based on my previous code when i try to play this file http://jell.yfish.us/media/jellyfish-3-mbps-hd-h264.mkv i see only dark screen with no audio but the file is playing.

And after looking Demo app here is what i tried https://github.com/sanoj26692/pay/blob/master/player

When i try playing video file

[code]

the player activity doesn't open and this is what i get in logcat.

[code]

[2020-08-10 19:14] TheJohnBowers opened #7735 "Demo app doesn't play ClearKey content on API level <= 26"
### [REQUIRED] Issue description
Exoplayer Demo application says clearkey is an unsupported DRM scheme on release-v2 branch (2.11.7).   This only happens on actual devices, not on emulated devices.
I did not figure out exactly when it stopped working, I only know that it did work in 2.10.0 and it no longer works in 2.11.7

### [REQUIRED] Reproduction steps
Simply try to play the test content below

[2020-08-10 19:24] kschults commented on #6166
Hi @ojw28, I'm about to start looking into contributing a fix for this, but wanted to check in first with a couple of questions.

1) Are you already working on this? Or do you already have thoughts about what will be involved in fixing it?

2) Is there anything I need to know about developing on this project, aside from what's in `CONTRIBUTING.md`?

[2020-08-10 20:32] ojw28 commented on #7735
It's not about whether it's running on an emulator or not. It's about the API level of the device. The issue occurs on API level 26 and earlier. The issue is _only_ an issue with the demo app, not with the actual library. If you comment out the check that the demo app is making, playback works successfully on API level 26 and earlier.

The problem is that on API level 26 and earlier, the ClearKey

[2020-08-10 22:24] ojw28 commented on #7701
Please just try playing directly in the ExoPlayer demo app, as per my recommendation above.

[2020-08-11 04:55] AndersonCrew opened #7736 "How can I play Video and Audio in the same window?"
I have 2 uri from file (video and audio). I need to Play video with audio in the same window, so how can I do this?