[2017-12-04 23:35] jazimm commented on #3532
Thanks Andrew, I should have been more specific in asking if there was a way to turn on the user controls or allow the container ui to be clickable in order to set the setPlayWhenReady(true/false) when the user clicks on the ad container or parent as the ability to click the ad container or parents seems to be disabled while the ad is playing? Thanks

[2017-12-05 01:57] tangmingscau commented on #3514
Finally, I found that the error occurred at mediacodec, the system mediacodec got the byteBuffer 37268, but the FLAC music frame data was 49152. So there was a mistake.

[2017-12-05 05:53] Gobi1989 opened #3548 "Support AdsResponse"
Hi All,

In my project we are using Exoplayer for content video and ima extension for Ads. From our backend we are receiving AdsResponse (xml values). As the IMA SDK supports only Ads URI, i have altered the IMA SDK so that it will accept AdsResponse as input params.

I have made some changed in ImaAdsLoader.java which will accept AdsReponse as input. I have aatched the file for your reference.

B

[2017-12-05 06:51] alessandrojp commented on #3540
Thanks!

[2017-12-05 06:53] alessandrojp commented on #3542
I'm going to take a look at the `EXT-X-INDEPENDENT-SEGMENTS`
Thanks!

[2017-12-05 10:59] Caij opened #3549 "SimpleExoPlayerView suface black when convertFromTranslucent."
[code]
when player playing,  call convertActivityFromTranslucent ,  the suface will black.

[2017-12-05 11:24] ojw28 commented on #3514
Please can you provide a complete bug report (captured with `adb bugreport`) shortly after reproducing the issue. And the content that can be used to reproduce the problem. And information about the device you are reproducing the issue on. All of which are requested in the issue template... Thanks.

[2017-12-05 11:31] ojw28 commented on #3547
There are examples in the ExoPlayer demo app with captions. For example under `HLS -> Apple 16x9 basic stream`. You're probably using a `DefaultTrackSelector` in your app, and you should be calling methods on that object to disable/enable the subtitle, rather than completely releasing and re-preparing the player. The demo app's `TrackSelectionHelper` does this, although you can probably do somethi

[2017-12-05 11:34] Sara-Tareq opened #3550 "How I can customize the start and the end positions for an HLS stream ?"
Hello ,
I want to set a start and an end position so a different duration other than the values coming in the hls manifest from the stream url, In other words, I want to trim the video stream, how can I achieve that using exoplayer ?

[2017-12-05 11:45] andrewlewis commented on #3550
Have you tried wrapping your `HlsMediaSource` in a `ClippingMediaSource`?

[2017-12-05 11:50] alfonsoramosa commented on #3487
Hi @ojw28 , @andrewlewis

Can somebody provide feedback on this question? I will really appreciate it.

probably it's a frequent use case to use Exoplayer for OTT live playback.
Improve zapping time can be an interesting feature for many projects.  Of course, some dependencies can be project/implementation specific (Streaming protocol, DRM), but having a general guidance or clues will be useful.

[2017-12-05 11:56] andrewlewis commented on #3539
That change will cause the decode only flag to be set on samples before the start position specified. The effect is to load and skip the media before the start position, which sounds fine for your use case (the start position is small).

[2017-12-05 12:36] ZohaibGhafoor opened #3551 "How to play ima ad in HLS or MPD format?"
how can i play hls or mpd format ads returned from dfp ?

[2017-12-05 12:52] ueno-yuhei commented on #3543
To add HTTP request headers, use setKeyRequestPropertyMethod of HttpMediaDrmCallbackClass.

[2017-12-05 12:54] RadhikaBalla commented on #3543
could you please give me a sample code to add http request headers using
set setKeyRequestPropertyMethod of HttpMediaDrmCallbackClass?

On Tue, Dec 5, 2017 at 6:22 PM, ueno <notifications@github.com> wrote:

--
Thanks&Regards,
Radhika Balla

[2017-12-05 12:57] andrewlewis commented on #3551
This is not currently supported, but planned for a release soon. Tracked by #3302.

[2017-12-05 12:57] #3551 closed, assigned to nobody

[2017-12-05 13:01] ueno-yuhei commented on #1298
@ojw28
Hello, I was helped by this task.
Thank you very much.

https://github.com/google/ExoPlayer/commit/b62eab63a4d13945d07431be3d30628392646260 was merged into release-v2 so I used it immediately.

The screen flickers black when doing Key Rotation, but can this be countermeasured?

[2017-12-05 13:06] Sara-Tareq commented on #3550
Hi Andrew, thanks for your reply, it actually worked but when I tried to add an Ad using ImaAdsMediaSource in v2.6.0 I got an exception :
playerFailed [115066.66]
                                                                       com.google.android.exoplayer2.ExoPlaybackException
                                                                           at com.google.android.exoplayer2.ExoPlay

[2017-12-05 13:19] asidahan opened #3552 "ArrayIndexOutOfBoundsException in ImaAdsLoader.loadAd"
Hi,
we have videos with ads in our app, and we have ArrayIndexOutOfBoundsException in the ima extension. We don't have a specific scenario for this crash and it happens randomly on many devices. I attach the stack trace below:

[code]

[2017-12-05 13:25] ojw28 commented on #1298
Are you setting `multiSession` to true?

[2017-12-05 13:28] ojw28 commented on #3549
You're using reflection to access a non-public API. This is not supported in general, and you should not do this*.

\* Granted, there are cases where pragmatically it can be useful to do this kind of thing. However you should do this at your own risk, and if something doesn't work it's up to you to find a way to resolve it. Anything you access in this way is also liable to stop working in future A

[2017-12-05 13:28] #3549 closed, assigned to nobody

[2017-12-05 13:34] andrewlewis commented on #3549
Just to add to what Olly said: if you can find a way to do this with non-hidden APIs and it still doesn't work, it may be worth trying using `TextureView` (not `SurfaceView`).

[2017-12-05 13:35] ojw28 commented on #3537
This issue appears unrelated to ExoPlayer. We will however take a look for any potential issues with the underlying decoder, if you provide adequate reproduction steps. In particular:

* Please provide a piece of sample content that reproduces this issue, and specific reproduction steps.
* Please describe in more detail what "can't play" means.

[2017-12-05 13:51] noamtamim commented on #2089
I checked and there was a glitch in the test stream when I tested. It works now.
Shouldn't this ticket be closed?

[2017-12-05 14:27] Avetri commented on #3530
Thanks

[2017-12-05 14:30] AHuminskyi opened #3553 "seekTo on ExoPlayer v.1.5.0"
Hi guys!

Kindly ask you to help with the issue which occurred. We have an Android application using **ExoPlayer v.1.5.0** implemented on the basis of SurfaceView. One of the functions of our app is to jump to the last video frame (function '**seek to**'). Unfortunately this can not be done because the last frame is not visible and can not be identified. Please tell if you faced such problem in ol

[2017-12-05 14:31] RadhikaBalla commented on #3543
Getting following error if I try to play video

public void setKeyRequestProperty(String name, String value) {
  Assertions.checkNotNull(name);
  Assertions.checkNotNull(value);
  synchronized (keyRequestProperties) {
    keyRequestProperties.put("customdata",Base64.encodeToString((
            "<?xml version="+1.0+
"encoding="+"UTF-8"+"?><KeyOSAuthenticationXML><Data><GenerationTime>2017-12-05
06

[2017-12-05 14:58] ojw28 commented on #3553
There is an open bug for us not displaying the last frame when seeking to the end of the content, [here](https://github.com/google/ExoPlayer/issues/2568). Marking as duplicate. We're unlikely to fix this soon, however.

[2017-12-05 14:58] #3553 closed, assigned to ojw28

[2017-12-05 15:12] botaydotcom commented on #3535
HI @hysbtr ,
Can you reproduce this issue using ExoPlayer's demo app or just your own app? If you have access to a physical Xiaomi MiTV3S Android 6.0.1 device, please try to reproduce the issue using ExoPlayer's demo app and capture the full bug report as required by our template (i.e. the output of adb bugreport captured whilst reproducing the problem). Only in that case can we investigate and ma

[2017-12-05 15:19] #2089 closed, assigned to AquilesCanta

[2017-12-05 15:24] ueno-yuhei commented on #3543
It seems that the key has not been acquired.
Is there data to add to the header?

[2017-12-05 15:33] ueno-yuhei commented on #1298
@ojw28 Thank you for answering.
yes, Setting multiSession to true.

It is specified when instantiating DefaultDrmSessionManager.
If multiSession is set to false, it seems that the key rotation video can not be played.

[2017-12-05 16:12] magiclu commented on #3537
you can try some videos from
http://jell.yfish.us/

download
jellyfish-3-mbps-hd-hevc-10bit.mkv(cpu can handle this in some video apps.some apps can't)
jellyfish-10-mbps-hd-hevc-10bit.mkv (lag)
jellyfish-20-mbps-hd-hevc-10bit.mkv (lag)
jellyfish-40-mbps-hd-hevc.mkv  (high bitrate,but not 10bit video,plays fine,using hardware decoding )

snapdragon 821 should be able to play 4k 10bit hevc video,act

[2017-12-05 16:36] andrewlewis commented on #3550
The ads media source must be the top-level source (meaning that it isn't wrapped by another source, so you prepare the player with it directly). You may be able to clip the content source before passing it to the ads media source, so that the ads media source is still top-level.

There are various clipping cases we don't support, but on the `dev-v2` branch we removed the requirement that the wrapp

[2017-12-05 16:36] #3550 closed, assigned to andrewlewis

[2017-12-05 16:38] ojw28 commented on #3537
Thanks for the extra information. It looks to me like the original Pixel and PixelXL devices just don't support HDR in hardware. I also suspect that whether a device is capable of HDR in hardware is more complicated than just what processor chipset it has. I'll double check with the Pixel and platform teams to confirm this.

Whether or not players that attempt software decoding can keep up really

[2017-12-05 16:50] magiclu commented on #3537
these are not hdr video,they are just normal none-hdr 10 bit hevc video
like i said,this soc is able to do the decoding in most other phone

[2017-12-05 16:50] magiclu commented on #3537
10 bit and hdr are not related

[2017-12-05 17:42] andrewlewis commented on #3537
If the decoder declares support for high bit depth formats via its codec capabilities (`MediaCodecInfo.CodecCapabilities.profileLevels` I guess) then we should investigate why the stream can't be played via ExoPlayer. Please confirm if so.

Otherwise, the stream exceeds the device capabilities, which depend on the build/software as well as the underlying SoC, and this issue is not related to ExoPl

[2017-12-05 18:06] ojw28 commented on #1298
There shouldn't be any flickering. You'd need to provide concrete reproduction steps (and probably a sample stream) for us to help work out why.

[2017-12-05 18:24] magiclu commented on #3537
i checked some forum.people say pixel 2 can play 10 bit hevc file,and it has a normal screen.
they have differnt soc ,butthe original pixel 's soc is able to do the decoding in other phone made by other manufacturers like samsung s7e(people say when this phone came out it can play,the samsung patched it ,so it won't play,maybe some patent issue),lg g6,and many chinese phone's with shitty screen(ch

[2017-12-05 19:03] ojw28 commented on #3537
Any idea how, out of interest? If the graphics output path is 8 bit then the extra 2 bits will have to be dropped at some point. It's not immediately clear to me why having the extra depth up to that point would be useful.

That question aside, this issue really boils down to whether the original Pixel is supposed to support 10-bit decoding in hardware. As already stated, I think that inferring su

[2017-12-05 22:08] jboisjo commented on #3531
Yes it is live streaming content. We don't want to keep the bitrate from the user bc it takes a certain delay before the first frame is showed and that's why we are resetting the bandwidth every time a new playlist has been inserted. Also, we created a func in AdaptiveTrackSelection to not wait until the segment is over to choose the right profile.

see the example below...

[code]

this makes the

[2017-12-05 22:35] sargeway commented on #2089
Please don’t close this ticket without updating/syncing the docs and providing feedback: Can you shed more light on what's actually supported wrt HLS+Widevine (CENC vs. CBCS) in ExoPlayer 2.6.0?

[2017-12-05 23:09] wvpaf commented on #3517
Please let us know when you can get the custom Exoplayer for testing.
Full ADB logs are most helpful.

[2017-12-05 23:24] wvpaf commented on #3143
@ram992 can you please provide a full ADB bug report, the latest log provided is not complete.

[2017-12-05 23:40] ojw28 commented on #2089
The supported formats page has been updated already. We'll expand the supported devices page shortly.

[2017-12-06 00:10] damienoliver commented on #2189
Thanks for addressing this.

I have created a time renderer track to get around this in the past.

In regards to your edge cases, I agree with @mapsver that the event should fire every time in forwards playback at normal speed only (no seek over events). But it would be good to have an option to call this on the direct thread for scenarios in which the latency is critical.

[2017-12-06 02:37] magiclu commented on #3537
i forget where i read that,maybe it can retain image quality after compression,better image quality in dark scene
they do video compression,their goal is to reduce the size of the video while remain the most video quality
btw you need to register to see the whole forum

[2017-12-06 03:35] ueno-yuhei commented on #1298
@ojw28 Thank you for answering!

I will send a sample stream by email.
I will send it today.
I'm sorry but I would like you to do verification with that.

[2017-12-06 05:29] yurilaguta commented on #2277
probably no need to change anything inside library

`<com.google.android.exoplayer2.ui.SimpleExoPlayerView
        android:animateLayoutChanges="true"
...
/>`

adding animateLayoutChanges gave me fade in/ fade our for free.

[2017-12-06 05:57] RadhikaBalla commented on #3543
yeah.. I need to send base64 encoded authorization xml in header. So  I
added this code in HttpMediaDrmCallback setKeyRequestProperty() method.

keyRequestProperties.put("customdata",Base64.encodeToString((

            "<?xml version="+1.0+
"encoding="+"UTF-8"+"?><KeyOSAuthenticationXML><Data><GenerationTime>2017-12-05
06:10:21.529</GenerationTime><ExpirationTime>2017-12-05
06:12:21.529</Expirati

[2017-12-06 09:43] predaV commented on #3517
Hi all,
Thanks again for the patience. We've just sent a first bug report over email.

We're still awaiting approval to disclose the sample code with our video. But I'm confident we'll get that soon. I believe if you manage to replicate the behaviour on your end, it would be most helpful.

[2017-12-06 10:18] Jaydeeph opened #3554 "Playbackcontrols controller showTimeoutMs should be updated even if the overlay is showing."
This is not really a bug which why I'm not using the bug template, however, more if an enhancement.

So when the playback controls UI is showing. Let's say you're using the default timeout which is 5000ms. You then change the timeout using "**setControllerShowTimeoutMs**" and set it to 0. Therefore it's there infinitely. Then playback UI will till timeout after 5000ms (5 seconds) rather than stayi

[2017-12-06 10:27] SimonNumberTwo commented on #3526
Thank you very much for your quick reply and the clarification.

Unfortunately I am not able to investigate further at the moment but I will keep it in mind. For now I will switch back to normal MP4 files and work with the MP4Extractor which has built in gapless support.

[2017-12-06 10:31] botaydotcom commented on #3554
Thanks for reporting. I think this can be classified as a bug, because after setControllerShowTimeoutMs, this should take effect immediately if the controller is already shown.

[2017-12-06 10:40] Jaydeeph commented on #3554
Ahh, I see. Thanks for the quick reply. It's a bug then :)

[2017-12-06 10:51] nelson-xia opened #3555 "The extension-cronet does not work with ./chromium-cronet/android/65.0.3286.0 version"
I used the latest branch dev-v2 with the commit fbfa43f5a3ef11f5da115c439092b521564fb4fa and followed extensions/cronet/README.md. After downloaded the related jars and libraries, compiling with cronet extension seems fine, but when I run the demo with this extension, I got the following errors:
[code]
Seems that the cronet version do not match the extension?

[2017-12-06 12:51] RadhikaBalla commented on #3543
Actually I am getting error in FrameworkMediaDrm class   "  final
MediaDrm.KeyRequest
request = mediaDrm.getKeyRequest(scope, init, mimeType, keyType,
    optionalParameters); ".

please check this error

12-06 18:09:21.363 18524-23283/com.google.android.exoplayer2.demo
E/MediaDrm-JNI: Illegal state exception: Failed to get key request: DRM
vendor-defined error: -2943 (-2943)
12-06 18:09:21.364 18

[2017-12-06 13:03] sandersaares commented on #3537
Perhaps slightly related to the "why 10-bit" question, here is an interesting paper by the encoder company Ateme about using 10-bit encoding even on 8-bit content: http://x264.nl/x264/10bit_02-ateme-why_does_10bit_save_bandwidth.pdf

[2017-12-06 13:25] nimdokai commented on #3523
Wraping `SimpleExoPlayer` had some issues with `TimeBar`, scrolling cause 'jump' to correct position.
I end up with replacing `PlaybackControlView` - I have added some code in `updateProgress()`, in `seekTo(int windowIndex, long positionMs)` I have changed `dispatchSeekTo()` argument `positionMs` to inculde Ads Time also I've created additional `Interface` to get information about ads and it works

[2017-12-06 13:25] #3523 closed, assigned to andrewlewis

[2017-12-06 14:06] ojw28 commented on #3531
The parameter you need to reduce to enable faster switching is `minDurationForQualityIncreaseMs`. When I set that to a much smaller value than the default, I see much faster up-switching in the ExoPlayer demo app when playing the Apple HLS test streams (within ~2-3 seconds). If you want to reproduce this, note you'll need to either kill the demo app's process between each attempt, or modify it to

[2017-12-06 14:10] ojw28 commented on #3531
This [article](https://bitmovin.com/mpeg-dash-hls-segment-length/) recommending 2-4 second segment duration may also be of interest.

[2017-12-06 14:47] ZohaibGhafoor opened #3556 "ima ad timeout issue."
is there any way to increase ima ad request timeout manually. because most of the time my player ad get timeout and not showing ad. or any other flexible way to guaranteed show the ad ?

my video ad size is 720p may be it can't load on slow or normal connection. but i require to show the ad on every connection.

[2017-12-06 14:52] ojw28 commented on #3534
The cue ends up being start, center or end aligned. What would you expect to happen for this type of cue? Presumably either start or center. We should probably just explicitly enter one of those blocks in the case that `endPadding` is negative. Do you think one is better than the other?

[2017-12-06 15:12] ojw28 commented on #3215
Could you provide a breakdown of the (device,api-level) combinations on which you're still seeing this type of failure?

[2017-12-06 16:35] jboisjo commented on #3531
ok thank you, ill try to reduce our ts segment for HLS and samething for DASH. Ill let you know :)

Have a great day.

[2017-12-06 20:44] zsmatyas commented on #3534
All these alignment options in 608Decoder are based on assumptions what the content provider intended to achieve by adding whitespaces around the text. As the negative value is caused by incorrect content, we should probably not trust the values and the safest could be center alignment for Pop-on captioning mode. But other modes cannot be center aligned, the only other common mode is Roll-up, alwa

[2017-12-06 22:44] samramez commented on #3547
We use DASH streaming in our app and I can only access the subtitle via a link which ends with `.vtt` .

The example you referred to the demo app uses HLS streaming for showing captions.

[2017-12-06 22:46] ojw28 commented on #3547
Using the `DefaultTrackSelector` to disable/enable the subtitle is exactly the same in both cases.

[2017-12-06 22:58] dbrain commented on #3215
@ojw28 I'm struggling to get useful device stats specifically for the version running 2.5.4. We use Crashlytics and it doesn't seem to pick up the native crashes, so all I have to go by is the developer console which doesn't seem to filter on app version for a specific crash.

Skimming reports seems to imply it's still limited to `Motorola Moto Z (griffin), 3072MB RAM, Android 7.1`, seeing around

[2017-12-06 23:04] samramez commented on #3547
Thanks for your response @ojw28
Can you please refer me to an example or sample which implements captions/subtitles using  `DefaultTrackSelector`.
None of the methods for `DefaultTrackSelector` accepts any `Uri` or `List<Uri>` so I can pass the Uri to it.
Also, I'm not seeing any implementation of `DefaultTrackSelector` in the demo app which handles captions. If I'm missing something, I really app

[2017-12-07 00:09] yurilaguta opened #3557 "BadPaddingException: EVP_CipherFinal_ex"
### Issue description
Observed:
Error thrown when playing a stream
Expected:
No error should be thrown

### Reproduction steps
Play hls steam in demo app

### Link to test content
Sent by email

### Version of ExoPlayer being used
2.6.0, in demo reproduced on 2.5.4

### Device(s) and version(s) of Android being used
Nexus 10 Android 5.1 Lollipop

### A full bug report captured from the device
[bug

[2017-12-07 01:40] rtray opened #3558 "DummySurface depends on EXT_protected_surface but doesn't check for support"
This is a follow-up to issue 677.  The DummySurface.java file was created in response to that issue (now closed).

EXT_protected_content doesn't explicitly support pbuffers and EglCreatePbufferSurface.  That functionality was added as part of EXT_protected_surface.

The SECURE_SUPPORTED boolean should check for:
SECURE_SUPPORTED = extensions.contains("EGL_EXT_protected_content") && extensions.cont

[2017-12-07 02:07] ueno-yuhei commented on #3543
Is there something wrong with the type of Base64?
https://developer.android.com/reference/android/util/Base64.html

[2017-12-07 03:19] joelphilippage opened #3559 "Skip buttons disappear after a second on wear notification with extension-mediasession"
### Issue description
When using the media connector with exoplayer on android wear, the skip notifications appear for a second whenever the notification is built and then disappear. I expect the skip buttons to appear at all times on the notification. This has never worked for me with exoplayer.
[Here is a video of the issue.](https://photos.app.goo.gl/QD8K2gsDy8OJ22YL2)

### Reproduction steps
-

[2017-12-07 03:53] ueno-yuhei commented on #1298
@ojw28 I sent an e-mail to dev.exoplayer@gmail.com.
If you know something, please contact us.

[2017-12-07 05:03] RadhikaBalla commented on #3543
No.. that Widevine DRM guys have given us code to generate base64 encoded
Authorization XML. I am just taking that output and passing it to the
DRM_KEY_REQUEST_PROPERTIES.

On Thu, Dec 7, 2017 at 7:38 AM, ueno <notifications@github.com> wrote:

--
Thanks&Regards,
Radhika Balla

[2017-12-07 09:08] andrewlewis commented on #3547
To toggle subtitles during playback without a releasing/recreating the player, prepare the player with a source that has subtitles (using your code snippet above) then disable/enable the text renderer in the track selector as required. The relevant code in the demo app is in `TrackSelectionHelper`.

[2017-12-07 09:56] ojw28 commented on #3557
The provided stream is 2 hours 30 minutes long. When does this error occur exactly?

[2017-12-07 11:07] pedromfmachado opened #3560 "Error when video track is missing"
### Issue description
In my product I have two possibilities: sometimes there's HLS and when it is not available I have several MP4 tracks. I'm using `MergingMediaSource` in order to pass all of the available tracks + subtitles. I have two questions:

- When one of the tracks is missing (response code 404) the player fails, even though all the other tracks are available (it might be somehow relate

[2017-12-07 11:31] ojw28 commented on #1298
I'm able to reproduce. I'm not sure why it's happening though, unfortunately. I would guess there's something wrong with the way the content has been prepared, or how the license policy is configured. Or at least, that there's something in these areas that our implementation is unhappy with.

For comparison, here's a key rotation sample stream we have that plays fine in the demo app. One option co

[2017-12-07 11:34] ojw28 commented on #1298
Closing this issue because the feature is implemented now.

@wvpaf - Do we provide any tools/diagnostics/guidance for producing content in which the keys rotate?

[2017-12-07 11:56] ueno-yuhei commented on #1298
@ojw28 Thank you for answering!

"Sintel - 3 minutes key rotation"
I checked it.
It seems to be black and flicker after 3 minutes.
It seems that the following error has appeared at that time.

12-07 20:47:58.482 26068-26068/com.google.android.exoplayer2.demo E/EventLogger: internalError [364.05, audioTrackUnderrun [49248, 256, 483]]

adb logcat log
[NexusPlayerLog.txt](https://github.com/google/Ex

[2017-12-07 12:01] ojw28 commented on #3534
Agreed center alignment probably makes most sense. We can make a change and will close this issue when it's pushed. I'm not convinced by the other change (Re #3533); that could break as many cases as it fixes. I think we really need to do something smart that considers multiple lines for that one.

[2017-12-07 12:11] ojw28 commented on #1298
Heh, I looked more closely and see it too. It does seem to be far less severe than when using your test stream though, so I'm not sure whether there's something additional broken in that case. Re-opening this issue to work out what's going wrong for the sample I ref'd above in any case, thanks!

[2017-12-07 12:41] ojw28 opened #3561 "DRM with key rotation: Black flicker observed when keys rotate"
Spun out from https://github.com/google/ExoPlayer/issues/1298. When playing a stream with key rotation, the display flickers black at the points when keys rotate. Every three minutes in this sample:

[code]

This is because the secure video decoder is (incorrectly) released and re-instantiated.

There also appears to be an audio underrun on some devices, although this may be more of a performance

[2017-12-07 12:42] ojw28 commented on #1298
The reason for the black flicker is that although `MediaDrm` session sharing is enabled, the secure video decoder is still being recreated. That shouldn't be happening. I've filed https://github.com/google/ExoPlayer/issues/3561 to track this issue, and will close this again as it was really intended to track the initial implementation. Thanks!

[2017-12-07 12:42] #1298 closed

[2017-12-07 13:17] andrewlewis commented on #3552
Thanks for reporting this. Would you be able to share the ad tag so we can investigate the cause for this? (Please email it to dev.exoplayer@gmail.com if you don't want to share it publicly.)

The IMA SDK is telling us to load an ad but the `LOADED` ad event hasn't been delivered, so this case is unexpected. I'll see if I can make the loader more robust to this case.

[2017-12-07 14:49] etanhatch commented on #3544
Fixed by adding the following:

[code]

[2017-12-07 14:49] #3544 closed, assigned to nobody

[2017-12-07 17:05] marcbaechinger commented on #3559
Thanks for reporting. I'll look into this.

[2017-12-07 17:08] jazimm opened #3562 "Use programatically created VMAP file for IMA Ad request"
Is there currently a method of using a VMAP file produced on the client for Ad requests rather than entering a URI to a VMAP or VAST file on a remote location? In the former method you could use AdsRequest.setAdsResponse (VMAP String) to do so but with the ImaAdsLoader on v 2.5 it seems it will only accept a Uri. I could try programatically generating a file locally for each call with a Uri pointi

[2017-12-07 19:28] sergiomartinez4 opened #3563 "[Question] How to get the startTime and endTime from TextRenderer.Output cues"
Hi there!
I'm currently implementing the TextRenderer.Output to received the List of Cues for WebVtt captions, and then I'm displaying those captions in our custom caption view.
The problem is that WebvttCue class is package-private so we can't cast it, so that we can use the startTime and endTime.
Is there a reason to keep that class as package-private? What alternative do I have?

Thanks!

[2017-12-07 21:59] zsmatyas commented on #3533
One other example of incorrect assumptions in exoPlayer:

[code]
The first line gets center aligned, as the start and end padding seems to be around the same range, but as the second line is longer, the end padding is smaller then the start padding, so it gets right aligned. As this is continuous text, they should be both middle or left aligned.

[2017-12-07 22:52] yurilaguta commented on #3557
It occurred in the first 3 minutes randomly

Best Regards,
Yura.

On 7 December 2017 at 20:56, ojw28 <notifications@github.com> wrote:

[2017-12-07 23:12] zsmatyas commented on #3533
I tested the above suggested idea: cut the cueBuilder.build() into 2 parts to calculate a common alignment. Assuming:
- right alignment is rare, and all lines should match the right alignment criteria for it.
- center alignment is artificially introduced by our decoder, but it should not be mixed with left aligned cues (but right + center aligned should result in center alignment for all lines)
-

[2017-12-08 02:21] ueno-yuhei commented on #3561
Thank you for the new issue.
If you have found something here I will send comments and actual code to this issue.

[2017-12-08 04:22] davebytes commented on #3558
Just wanted to add that on the same pre-release OS, this is also causing error dialogs in seemingly normal use cases of at least one major streaming media app.

[2017-12-08 07:15] alordred opened #3564 "How to reduce the downloaded chunk number in HLS mode?"
Hey, I am trying to reduce the buffer when I play a HLS stream,
So, I dont want to download so many chunks (.ts file) from sever.
Is there any way to download only one chunk (.ts file) and store in buffer?

[2017-12-08 08:09] alordred commented on #3564
And please tell me is there any possible way to play ts.File randomly.
Randomly means can play 10.ts and then play 8.ts (every .ts file the I frame is the first frame)
How  can I play HLS chunks in reverse?

[2017-12-08 09:13] andrewlewis commented on #3558
@rtray Thanks for the information. Does the pre-release Nvidia Shield TV build support EGL_KHR_surfaceless_context?

There are some devices where this code works as-is, despite EGL_EXT_protected_surface not being supported, so I'm hesitant just to add the extra check. I followed up internally and the best option seems to be to use surfaceless contexts where possible, with a fallback to the existin

[2017-12-08 10:35] botaydotcom commented on #3563
Hi @sergiomartinez4 ,
Could you explain your use-case clearer, and why do you need to get access to startTime and endTime in order to display these Cues in your custom view?
By design, the player will parse these time values from underlying stream, and perform calculations internally to find out when to display these subtitles with respect to other tracks (video/audio etc...). Then the TextRendere

[2017-12-08 10:46] RadhikaBalla commented on #3543
Hello,

In exoplayer if we play a already recorded video through wowza streaming
engine, it is playing well. But when I try to play live video, buffering
time is very high. Is there any way to reduce this buffering time for live
streams in exoplayer

--
Thanks&Regards,
Radhika Balla

[2017-12-08 11:18] botaydotcom commented on #3543
Hi @RadhikaBalla ,
I think you are merging multiple issues/questions into one thread.

- The first issue you encountered was encountering an error while generating a license KeyRequest, with DRM vendor-defined error: -2943. I think it's probably a duplicate of this: #3254 . Please check out that issue and follow the suggestions there.

- The second issue was high buffering time for live streaming.

[2017-12-08 11:48] #3543 closed, assigned to nobody

[2017-12-08 12:14] ojw28 commented on #3533
Rather than consider all cues, I think it would makes sense to first divide the cues into groups of cues on consecutive lines. If there are some cues near the top and some other cues near the bottom, it makes sense to determine alignment separately.

I was also thinking it might make sense to look at the start/end padding of the lines in each group. If they all have the same start padding but ragg

[2017-12-08 12:30] botaydotcom commented on #3560
Hi @pedromfmachado ,
I think your case is a bit different than the one in #3140 . If a video track is selected for playback & it's missing, I think it's a real playback error - the player should not continue to play in such case, because there's no video output.
So in this case, I think a better solution for you would be to check the track URL beforehand to see if it's valid or not before sending

[2017-12-08 14:22] andrewlewis commented on #3562
I think this is the same as #3548: the requested enhancement is to be able to call [AdsRequest.setAdsResponse](https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/AdsRequest.html#setAdsResponse(java.lang.String)) instead of loading an ad tag by URI. Please reopen if not. Thanks!

[2017-12-08 14:22] #3562 closed, assigned to andrewlewis

[2017-12-08 14:44] predaV commented on #3517
Hi,
We've just shared the modified files from the ExoPlayer demo over email, in order to include one of our videos. Please note the video & hardcoded token have a limited timespan, but we asked for it to be at least 2 weeks.

Don't hesitate to let us know if any further details are needed.

We greatly appreciate your help on this!

[2017-12-08 15:15] andrewlewis commented on #3556
This isn't supported at the moment. The current plan is to add a way for apps to provide the AdsRequest (instead of creating it internally in `ImaAdsLoader`), at which point `AdsRequest.setVastLoadTimeout` could be used to override the default timeout of five seconds.

[2017-12-08 15:15] sergiomartinez4 commented on #3563
@botaydotcom thanks for the reply.

The real concern is not about when to display them, as we display them as soon as the onCues method is called, but it's about when to stop displaying the captions. A caption duration property in the Cue object will be enough for our purposes.

Without any sense of time, we can either just stop displaying one caption after the next one appears or we can set a def

[2017-12-08 15:18] ojw28 commented on #3557
Stack trace:

[code]

If I try and force use of BouncyCastle instead I see a similar failure from that Cipher provider too:

[code]

[2017-12-08 15:31] botaydotcom commented on #3563
Hi @sergiomartinez4 ,
I think I understand your idea, but it is unfortunately it is not our intention behind `TextOutput` interface.
The idea with `TextOutput` is whenever the player sends a Cue list, the application should just take it and display as it is. If any of the cues are changed (some added, some removed etc...), the player will invoke that method again with a new Cue list reflecting the

[2017-12-08 16:02] ojw28 commented on #3557
It looks like the content is able to play successfully if the Cipher is changed to `"AES/CBC/NoPadding"` in `Aes128DataSource`. This, along with the fact two different Cipher implementations are both complaining, and the fact I'm able to play other encrypted content successfully on the same device, suggests that the content does not have PKCS7 padding, as is required by the HLS specification.

I d

[2017-12-08 17:15] PaulWoitaschek commented on #1434
Sorry for the 3rd consecutive post, but if someone is interested in any other extension, I can add more modules that build from source. (or just create a PR)

[2017-12-08 18:24] rtray commented on #3558
Thanks for the update Andrew.

Yes, the current nvidia devices (shield tablet and tv) support EGL_KHR_surfaceless_context with the current releases.  The future releases will continue to support it.
Using surfaceless contexts with protected content as a backup sounds fine to me.

[2017-12-08 19:20] sylvain-toptal commented on #3511
I'm also having something similar :
[code]

[2017-12-08 20:11] sergiomartinez4 commented on #3563
@botaydotcom, removing the captions when getting empty cues did the trick. It makes sense now.
Thanks a lot for the help.

[2017-12-08 23:45] nicolasd opened #3566 "[Question] Can Exoplayer can play Multi codec MPD File ?"
Can Exoplayer can play Multi codec MPD File ?

Like this one
https://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd

Thank you

[2017-12-09 02:48] zhanganlong opened #3567 "Top bit not zero error when I play mp4 file"
when I use the 2.6.0 version Exoplayer to play the url below
http://online.pcvideo.com.cn/pconline/vpconline/2017/10/13/1507900474046-vpconline-78317-1_2.mp4
it can play normal, but when I seek the video, it report a error
"Top bit not zero"  in code Mp4Extractor.readSample
is this the right action?the video can play right int pc or other player

[2017-12-09 15:51] rranjithkumar100 opened #3568 "Assertions.checkState() Illeagal state exception in HLS prepareSource"
**### Issue description**
I use the DynamicConcatenatingMediaSource with ClippingMediaSource.

**Purpose of my player**
Play the movie for particular duration & play the video ads in middle of the movie.
So I clip the movie with help of ClippingMediaSource & add the video ads & again clip the balance movie --> add it all into DynamicConcatenatingMediaSource

Note : Same code working in some movies

[2017-12-10 02:50] themavencoder opened #3569 "Understanding exoplayer indepth"

[2017-12-10 02:52] themavencoder commented on #3569
1. What adaptation algorithm does exoplayer use; is it time based adaptive algorithm, buffer based adaptive algorithm or throughput based adaptive algorithm and is there a way I could lay my hands on the used algorithm?

2. The manifest file is sent from the cloud server to the dash client which is my player. Why can't the server just dynamically adapt the streaming rather than sending it to the c

[2017-12-10 04:49] ghost opened #3570 "Detect pause/resume in ExoPlayer"
I searched two days for this question in [github][1] but i can't find true answer . i want example for detecting `pause / resume` in `ExoPlayer > 2.x` .
any one can give me an example ? i checked `onPlayerStateChanged` and problem not solved .

    onPlayerStateChanged   :   STATE_BUFFERING
    onPlayerStateChanged   :   STATE_READY

i just got this log from `onPlayerStateChanged` and this is not

[2017-12-10 05:19] AOrobator commented on #1434
@PaulWoitaschek Thanks for the extensions project. Would you mind creating a module for the ffmpeg extension?

[2017-12-10 15:01] qodiriy opened #3571 "live dash does not work can u help me?"
trackSelector = new DefaultTrackSelector(new AdaptiveTrackSelection.Factory(bandwidthMeter));
        player = ExoPlayerFactory.newSimpleInstance(this, trackSelector);
        player.setPlayWhenReady(shouldAutoPlay);

        playerView = (SimpleExoPlayerView) findViewById(R.id.player_view);
        playerView.requestFocus();
        playerView.setPlayer(player);

        DataSource.Factory dataSo

[2017-12-10 21:36] anonym24 opened #3572 "Preload full subtitles from mkv (text track - S_TEXT/UTF8)"
If I use external .srt subtitles and merge them with a video

`MediaSource mediaSourceWithText = new MergingMediaSource(videoMediaSource, textMediaSource);
exo.prepare(mediaSourceWithText);`

then in `TexRender` (https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/text/TextRenderer.java)

I can get all subtitles at any time position, so `sub

[2017-12-10 21:46] anonym24 commented on #3480
I leader `core` library and especially `TextRender`, so I can change this behavior, my problem solved.
Can be closed:)

[2017-12-10 22:12] yurilaguta commented on #3557
Thanks @ojw28 I'll check with people responsible for content and let you know.

[2017-12-10 22:31] ojw28 commented on #3571
The SSL certificate isn't trusted. The important part of the error is:
[code]
See [this thread on StackOverflow](https://stackoverflow.com/questions/6825226/trust-anchor-not-found-for-android-ssl-connection). If you check https://watch.mtrk.uz at https://www.digicert.com/help/, it says:

Closing since this is a server configuration issue.

[2017-12-10 22:31] #3571 closed, assigned to nobody

[2017-12-10 22:38] ojw28 commented on #3567
This sample video is working fine for me in the ExoPlayer demo app. Please provide concrete reproduction steps, a full bug report, and all of the other information requested in the issue template. Thanks.

[2017-12-10 22:39] ojw28 commented on #3566
Yes.

[2017-12-10 22:39] #3566 closed, assigned to nobody

[2017-12-10 22:41] ojw28 commented on #3480
Leaving this issue open because there's still value in enhancing the behavior to be as described.

[2017-12-10 22:49] ojw28 commented on #3572
This is not supported, sorry.

[2017-12-10 22:49] #3572 closed, assigned to nobody

[2017-12-10 22:51] qodiriy commented on #3571
Is it possible solve this problem without buy ssl?

[2017-12-10 22:58] ojw28 commented on #3570
`onPlayerStateChanged` is called whenever there's a change in playback state, including when the player is paused/resumed. Note there are two parts to the state: `playWhenReady` and `playbackState`. The player is playing if `playWhenReady == true && playbackState == Player.STATE_READY`. The states in other cases are described in the Javadoc for the `STATE_*` constants, [here](http://google.github.

[2017-12-10 22:58] #3570 closed, assigned to nobody

[2017-12-10 23:17] ojw28 commented on #3568
The error suggests that you're reusing `HlsMediaSource` instances. For example, perhaps you're adding the same instance more than once to a dynamic concatenating media source. You should instead create a new instance each time.

You should do this for all `MediaSource` types, although it's possible that the HLS implementation is the only one that fails (at least in an obvious way) as a result of n

[2017-12-10 23:17] #3568 closed, assigned to nobody

[2017-12-10 23:17] anonym24 commented on #3572
If you have time could you please suggest what should I do to implement this myself (local changes to exoplayer libraries)?

Mb extracting subtitles (text) from MKV in runtime somehow after exoplayer prepared video source and then re-init exoplayer source again - merging video and our extracted subtitles? `new MergingMediaSource(videoMediaSource, textMediaSourceExtractedFromMkv)`

Or it could be e

[2017-12-10 23:19] ojw28 commented on #3571
Unsure. This is a server configuration issue that's not even ExoPlayer specific. You'd be better off asking somewhere like StackOverflow. Good luck!

[2017-12-11 00:14] ojw28 commented on #3414
I don't think there's anything actionable we can do here, so closing, although please see Andrew's response above.

[2017-12-11 00:14] #3414 closed, assigned to nobody

[2017-12-11 02:12] zhanganlong commented on #3567
tips:
1.use the video url in your demo:
http://online.pcvideo.com.cn/pconline/vpconline/2017/10/13/1507900474046-vpconline-78317-1_2.mp4, please don't download the video in your own Server
2. seek the video to the time that has not been buffered yet
then you can reproduction  the question

[2017-12-11 02:22] zhanganlong commented on #3567
[top_error.log](https://github.com/google/ExoPlayer/files/1546374/top_error.log)
this is the all the log in my phone.I use the demo-ima test, replace contentUrl with the url (http://online.pcvideo.com.cn/pconline/vpconline/2017/10/13/1507900474046-vpconline-78317-1_2.mp4) in the PlayerManager.java init interface.I add some log which without modify any logic.
[code]

[2017-12-11 02:24] zhanganlong commented on #3567
This sample video is working fine for me in the ExoPlayer demo app too when I put the video in my own apache server.
Thanks!

[2017-12-11 05:27] sandersaares commented on #3571
I suspect the problem is that the server is returning only the leaf certificate instead of the full chain (minus root). This is known to cause issues on Android, even though it generally works on PC. The certificate file the server is configured with should include all intermediate certificates, as well.

[2017-12-11 05:37] qodiriy commented on #3571
But this dash works on https://bitmovin.com/hls-mpeg-dash-test-player/ it means there will be outway

[2017-12-11 06:15] rranjithkumar100 commented on #3568
You save my day. Thanks again @ojw28

[2017-12-11 08:25] ghost commented on #3570
Thank you very much 👍

[2017-12-11 10:41] botaydotcom commented on #3563
Cool! Glad that it helps.

[2017-12-11 10:41] #3563 closed, assigned to nobody

[2017-12-11 11:01] RadhikaBalla commented on #3543
Hi...

   While playing mpeg dash live stream which is coming from wowza streaming
engine, it is giving 416 exception using Exoplayer -release-v2. At the
beginning of stream one video frame is coming, after that it is giving
'416' error. If we play the same stream in other players like
http://hlstester.com/ it is playing without any interruption.

This is the Stream URL that I am playing. Please h

[2017-12-11 11:06] RadhikaBalla opened #3573 "Mpeg Dash live streaming 416 exception while playing the video"
Hi...

   While playing mpeg dash live stream which is coming from wowza streaming engine, it is giving 416 exception using Exoplayer -release-v2. At the beginning of stream one video frame is coming, after that it is giving '416' error. If we play the same stream in other players like http://hlstester.com/ it is playing without any interruption.

**This is the Stream URL that I am playing. Please

[2017-12-11 11:09] RadhikaBalla commented on #3543
Mpeg Dash live streaming 416 exception while playing the video #3573

We have raised on issue ,  #3573 is the issue number. Please look into it.

On Mon, Dec 11, 2017 at 4:31 PM, Radhika Balla <balla.radhika7@gmail.com>
wrote:

--
Thanks&Regards,
Radhika Balla

[2017-12-11 11:29] tonihei commented on #3569
_For the general concept of DASH (questions 3,4):_
The server provides the same content in different representations (i.e. different video resolutions or audio bitrates). The content is split into segments which usually are a couple of seconds long to be able to switch representations during playback. To publish all the options to a player, the server also provides one single mpd file which descri

[2017-12-11 11:35] elr0nda10 opened #3574 "Cannot play video that can be played by MediaPlayer lib"
### Issue description
Can I assume that video that can played using MediaPlayer can be played by ExoPlayer too?

If yes, then I have video with following specification:
1. Video format: AVC(PAL) (Main@L3) (3 Ref Frames)
2. Audio format: MPEG Audio (version 1) (Layer 2).

When played using ExoPlayer it didn't contain any error, but the video just blank (black screen), but the streaming still contin

[2017-12-11 11:45] ojw28 commented on #3567
The sample video works fine for me, even when using the exact url provided. I'm not downloading it or hosting it elsewhere. It's possible that the url redirects one of us to a different physical server, or that your ISP or mobile network provider is intercepting the request and serving it from its own caching infrastructure, or similar. That could account for different behavior observed. Note that

[2017-12-11 11:45] #3567 closed, assigned to nobody

[2017-12-11 12:39] zhanganlong commented on #3567
ok, thank you for your explanation!

[2017-12-11 12:45] AquilesCanta commented on #3564
You can play around with different loading parameters in `DefaultLoadControl`. Particularly, to reduce the buffer size you can override the default `maxBufferMs`. Keep in mind that this could have negative effects like frequent buffering and more network usage time.

Not in HLS. You could manually put every TS file in a DynamicConcatenatingMediaSource and shuffle the contents (using `Player#setShu

[2017-12-11 12:45] #3564 closed, assigned to AquilesCanta

[2017-12-11 14:23] erdemguven commented on #3574
Tried the given media on the demo app on Nexus 6:
[code]

[2017-12-11 15:24] AquilesCanta commented on #3574
This is a duplicate of #1894.

Try enabling `FLAG_ALLOW_NON_IDR_KEYFRAMES` for the `DefaultTsPayloadReaderFactory`. If you are using the `DefaultExtractorsFactory`, it can easily be done with `DefaultExtractorsFactory#setTsExtractorFlags`.

[2017-12-11 15:24] #3574 closed, assigned to nobody

[2017-12-11 17:01] Tolriq commented on #3511
Well I've published another release build without any exoplayer changes and it seems the problem is no more present.

Can only imagine the clean before build left something behind. Will add some security to fail on clean in case of. Closing this so.

[2017-12-11 17:01] #3511 closed, assigned to andrewlewis

[2017-12-11 17:10] sylvain-toptal commented on #3511
I think my crash was due to a discrepancy between the runtime Exoplayer version and the one expected by Mux.

[2017-12-11 17:30] ojw28 commented on #3573
This issue seems quite confused:

1. The stack trace above does not look like it corresponds to playing a DASH stream, and is unrelated to the error mentioned in the title and description.
1. http://hlstester.com/ does not appear to support DASH content, and does not appear to successfully play the referenced stream.
1. There is no bug report captured with `adb bugreport` provided, as is explicitl

[2017-12-11 17:40] ojw28 commented on #3573
I can't get the referenced stream to play in any of:

* https://shaka-player-demo.appspot.com/demo/#lang=en-US
* http://reference.dashif.org/dash.js/v2.6.4/samples/dash-if-reference-player/index.html
* https://bitmovin.com/hls-mpeg-dash-test-player/

Closing on the assumption the media is bad. Please provide more information, and preferably details of the stream playing successfully in some other

[2017-12-11 17:40] #3573 closed, assigned to nobody

[2017-12-11 17:44] anonym24 opened #3575 "Text track group detected as Video track group"
### Issue description
Text track group detected as Video track group

mkv video has 8 text tracks but `mappedTrackInfo.getTrackGroups(C.TRACK_TYPE_TEXT).length` returns 0, when `mappedTrackInfo.getTrackGroups(C.TRACK_TYPE_VIDEO).length` returns 8

[code]

### Reproduction steps
[code]

### Link to test content
https://ufile.io/2nbq5 (.mkv, 30 mb)

### Version of ExoPlayer being used
r2.5.2 (not th

[2017-12-11 17:50] ojw28 commented on #3575
`getTrackGroups` expects a renderer index rather than a `TRACK_TYPE` constant, as documented [here](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/MappingTrackSelector.MappedTrackInfo.html#getTrackGroups-int-).

You can use `player.getRendererCount()` and `player.getRendererType(index)` to find the index of the text renderer, and then pass that index

[2017-12-11 17:50] #3575 closed, assigned to nobody

[2017-12-11 19:42] davidliu commented on #3260
Thanks for the follow up. After some analysis on our end, it turned out to be exactly what you thought, with multiple SimpleCache instances occurring. Hasn't reoccurred after fixing that issue.

[2017-12-11 19:48] RMAC3 commented on #55
@iceteahh @erlangp if you are interested in RTSP support please check out [our GitHub](https://github.com/VideoExpertsGroup). You can view apps using our software by searching VXG RTSP in [Google Play](https://play.google.com/store/apps/details?id=org.rtspplr.app) or the [App Store](https://itunes.apple.com/ca/app/rtsp-player/id1070125481?mt=8).

[2017-12-11 19:49] erseno commented on #3477
Hey,
Apologies, I do not have any answers to your question but some findings because I encountered the same issue and found your question when searching.
I do not think this is ExoPlayer issue. I use a third party video library and that uses MediaPlayer. I have a similar picture-in-picture feature. On Oreo, I get the same issue as you but anything pre-Oreo is fine
I think it might be a bug with su

[2017-12-11 19:53] workspace commented on #3393
1

[2017-12-11 20:05] marcbaechinger commented on #3559
I looked into this and this seems to work for me.

The media session extension does not include the code for creating a Notification. So this is part of your app. Does this only happen on the watch or does this also happen in the notification in the notification drawer?

With my test app this works fine with MediaStyleNotifications in the drawer as well as on my Wear watch.

[2017-12-11 20:07] erseno commented on #3477
here is a video of my issue.
Notice that the first video which is minimised to the corner becomes transparent when the first starts playing. This only happens on Oreo

https://youtu.be/AAklKU4lB6g

[2017-12-11 20:11] jedashford commented on #3477
@erseno Yup, thats our same behavior. I suspect google changed something that the Team here will need to look into. We don't have any third party libraries in the mix here. Can you share your codebase here with the Exoplayer team? I was planning on trying to implement this with their example project, but time has been limited.

[2017-12-11 20:19] erseno commented on #3477
Sure, I'll upload my sample and provide a link

[2017-12-11 20:41] erseno commented on #3477
Here is the link

https://www.dropbox.com/s/2xtvy620d31vhli/OoyalaPictureInPictureSample.zip?dl=0

**Background**
I use the third party library called Ooyala
Ooyala can use the ExoPlayer if you tell it to.
I use MediaPlayer for a specific reason
Ooyala can use Exo 2.5.3
Go to VideoFragment.Java. Line 54.

The line

new Options.Builder().setUseExoPlayer(false).build()

Pass in true to use Exo. Fals

[2017-12-11 22:02] joelphilippage commented on #3559
I am trying to use this in a standalone wear app so I don't know if I would get the same problem on an Android Phone. What sample app are you using? I remember referencing a sample when I built my media service, but don't remember which one. Could you provide a sample that is building a notification so I could try to reproduce it?

Thanks!

[2017-12-11 23:14] marcbaechinger commented on #3559
I looked into this some further.

It seems to me that the wear playback control UI is entirely built from the media session information while not considering the notification setup as I suggested above. Even when I remove the skip next/previous actions from the notification UI on the watch is still correct:

<img width="465" alt="wear-screenshot" src="https://user-images.githubusercontent.com/5843

[2017-12-11 23:14] #3559 closed, assigned to nobody

[2017-12-11 23:19] marcbaechinger commented on #3559
Upppps. Sorry, I haven't seen your reply :)

The Notification I created ist mostly what you find in the NotificationManager of the UAMP sample app:

https://github.com/googlesamples/android-UniversalMusicPlayer/blob/master/mobile/src/main/java/com/example/android/uamp/MediaNotificationManager.java

The manager maps the media session information to the notification and retrieves actions and call th

[2017-12-12 02:54] mdtuyen opened #3576 "How to extract resolution from hls stream?"
I'm making an player for android tv with exoplayer.
In demo of exoplayer I see that it tracking to get many resolution.

My app support 1080I／1080P／720P／480P

I don't understand value show at demo when I click to video button:

What is 1080i, what is 1080p ?

[2017-12-12 05:23] Bhoomi-Zalavadiya opened #3577 "how to detect whether video contains audio track or not"
Hello ,
I want to check if my video contains audio track or not. Based on that I want to add audio enable/disable functionality in my project

I am using  com.google.android.exoplayer:exoplayer:2.6.0 dependency in android studio 3..0.0

[2017-12-12 08:30] erseno commented on #3477
Hi Jedashford
Were you able to work around this issue in some way ?
I think this might be AOSP bug with surface view . Was thinking that my project might not be appropriate for submission because debugging might be tricky due to core code hidden behind the Ooyala third party lib . I was thinking of replicating the issue using just exo player , do you think that might be enough for them to debug ?

[2017-12-12 08:37] erdemguven commented on #3576
This issue looks like a general question about video formats. We recommend asking such questions on Stack Overflow, and are unfortunately unable to answer them here.

[2017-12-12 08:37] #3576 closed, assigned to nobody

[2017-12-12 08:52] andrewlewis commented on #3477
It sounds likely that this is an issue with `SurfaceView`.

With `SimpleExoPlayerView` you can set the attribute `surface_type="texture_view"` to use a `TextureView` instead. That may resolve the issue, but please note that this can result in higher battery drain and won't work for DRM content that requires a secure output path.

[2017-12-12 10:16] christianruppert opened #3578 "Explanation of stopInternal() call on IO-Exception"
Hello,
I am trying to improve the playback (buffer behavior) when streaming an AAC audio file (webradio).

I am using a CustomLoadControl, which works as expected (triggers loading below 20 seconds until buffer reaches 30 seconds). Now there is a case where the player behaves in an unexpected way (but the source code tells me it is intended behavior) - maybe somebody can clarify the motivation and

[2017-12-12 10:17] xdestiny110 opened #3579 "[Question]How to avoid judder?"
When I play a [test video](https://pan.baidu.com/s/1slFlDb3) by exoplayer demo, it judder slightly(very slightly so you would not notice if you don't stare it) every few seconds especially in landscape mode.
Any one can give me a suggesstion?

[2017-12-12 12:27] AquilesCanta commented on #3577
You can track the current tracks with Player#EventListener#OnTracksChanged and get the current ones with Player#getCurrentTrackGroups(). If you go through the track groups you can look for the type. If you additionally want to check if any of the audio tracks was selected, then Player#getCurrentTrackSelections() is the place to look at.

[2017-12-12 12:27] #3577 closed, assigned to nobody

[2017-12-12 12:37] varun7952 opened #3580 "Need somthing like YoutubeMediaSource to play youtube videos"
Since Exoplayer release there is no feature to play valid Youtube video in Exoplayer. If we need to play youtube video, we need to use Youtube API which stream videos in separate player.  Isn't easy for developer and other people to use single player for all media then use multiple player. #

[2017-12-12 12:54] ojw28 commented on #3580
Please see https://github.com/google/ExoPlayer/issues/2160.

[2017-12-12 12:54] #3580 closed, assigned to nobody

[2017-12-12 13:43] HungamaSurat commented on #3204
Hello,

Still we are facing same issue. Please check below descriptions.
We tried with updated ExoPlayer v2.6.0. Downloaded DRM content through below code.

//------------- Download code ----------------//
File tempFolder = Util.createTempDirectory(SampleChooserActivity.this, "ExoPlayerTest");
tempFolder.mkdir();
cache = new SimpleCache(tempFolder, new NoOpCacheEvictor());
DownloaderConstructorHel

[2017-12-12 16:35] erdemguven commented on #3579
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-12-12 16:35] #3579 closed, assigned to nobody

[2017-12-12 18:00] #3569 closed, assigned to tonihei

[2017-12-12 19:38] #3534 closed, assigned to ojw28

[2017-12-12 19:38] #3532 closed, assigned to andrewlewis

[2017-12-12 19:38] #3558 closed, assigned to andrewlewis

[2017-12-12 19:39] #3302 closed, assigned to andrewlewis

[2017-12-12 19:39] #3548 closed, assigned to andrewlewis

[2017-12-12 19:39] #3556 closed, assigned to andrewlewis

[2017-12-12 19:40] #3527 closed, assigned to andrewlewis

[2017-12-13 02:36] yangchaojiang opened #3582 "Soft decode and hard decode priority"
How to decode soft decode and how to choose soft and hard decode after soft decoding or hard decoding first

[2017-12-13 04:31] rustyshelf opened #3583 "Configure ExoPlayer To Keep Played Buffer"
### Issue description
I searched all the documentation and previous issues and couldn't find a way to do this. What we'd like to be able to do is to specify how much of a buffer of previously played content ExoPlayer holds on to. So say you're playing a 2 hour MP3 file and you're 25 minutes in. If you skip back 10 seconds it would be nice to have that data still there and ready to play instantly.

[2017-12-13 04:35] jeevarajp commented on #3302
@ojw28 / @andrewlewis could you please let me know release version of exoplayer which includes this feature?

[2017-12-13 05:07] Gobi1989 commented on #3463
Hi @andrewlewis @ojw28,

Can you please update the offline license management. As i'm not aware about it. Please suggest me with some snippet of code.

[2017-12-13 07:49] andrewlewis commented on #3302
Please try it out on the release candidate branch `dev-v2-r2.6.1` and let us know if you have any problems. Thanks!

[2017-12-13 09:54] ojw28 commented on #3583
On the dev-v2 branch we support specifying a back-buffer as part of `LoadControl`. Specifically, see `getBackBufferDurationUs` and `retainBackBufferFromKeyframe` (for an audio app you probably only care about the first one). If you otherwise want to use `DefaultLoadControl`, it should be possible to extend it and override just these methods.

[2017-12-13 09:54] #3583 closed, assigned to ojw28

[2017-12-13 09:59] ojw28 commented on #3578
The player stopping immediately in this case is a bug, which is tracked by https://github.com/google/ExoPlayer/issues/1606.

Note that completely seamless recovery in this case wont be possible (you should use DASH or HLS streams if this is a requirement, since they're designed to properly enable recovery). We should continue playback until the buffer is depleted, however, and then at that point t

[2017-12-13 09:59] #3578 closed, assigned to ojw28

[2017-12-13 13:25] AquilesCanta commented on #3582
I am making quite a few assumptions, but you probably want to pass your custom MediaCodecSelector to MediaCodecVideoRenderer. If not, please try to explain your question and usecase in more detail.

[2017-12-13 13:25] #3582 closed, assigned to nobody

[2017-12-13 13:59] orhunkupeli7 opened #3584 "Exoplayer midroll stuck when vast document is empty"
If vast document is empty player stucks.

Create an empty vast document for a midroll like:
`<VAST` xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vast.xsd" version="3.0"/>

Example link:
http://rmcdn.2mdn.net/MotifFiles/html/1248596/android_1330378998288.mp4

Player Version:
Version of exoplayer 2.6.0

Device: Nexus 5x API 24
Bug report:
12-13 13:57:59.772 76

[2017-12-13 17:09] Lezherus opened #3585 "Unable do play content after upgrading to ExoPlayer 2.6.0 from 1.2.X"
We were using ExoPlayer 1.2.X for a while now and decided to upgrade to 2.6.0, but our content won't play, returning some toasts:

"Media includes video tracks, but none are playable by this device"

and

"Media includes audio tracks, but none are playable by this device"

We tried playing in several emulators from Android 6 to 8, and on a Samsung Galaxy S8+ running Android 7.0

How to reproduce t

[2017-12-13 17:11] shailesh2208 opened #3586 "Can we manage focus and click listner of skip ad in case of tv."
Can we manage focus and click listener of **Skip ad** button when we playing ads with ExoPlyaer  IMA sdk on Amazon Fire TV or Android TV using **DPAD** key of remote?

[2017-12-13 17:16] ojw28 commented on #3585
This happens because we're concluding from the manifest that the stream only supports PlayReady DRM. This is because the manifest contains ContentProtection elements for PlayReady, but not for Widevine. Adding ContentProtection elements for Widevine should resolve this issue.

[2017-12-13 17:24] andrewlewis commented on #3586
What kind of management did you have in mind? We have a workaround that should focus the skip button on Android TV devices: #3258.

[2017-12-13 17:42] shailesh2208 commented on #3586
During playing Skipable ad, when Skip ad button visible on that time we want that by pressing dpad down button, skip ad button should be selected, when we press dpad up button, skip button should be un selected. During selected time when we press dpad OK(Center) button, ad should be skip.

[2017-12-13 17:45] andrewlewis commented on #3586
What's the behavior you're seeing on Android TV at the moment, and what version of ExoPlayer are you using?

[2017-12-13 17:46] shailesh2208 commented on #3586
I am using 2.6.1 version and testing on Fire tv device and unable to get focus on skip button.
https://github.com/amzn/exoplayer-amazon-port/commit/642e95beaaeb57421ee4da43e0b72c3293c3191c

[2017-12-13 17:54] andrewlewis commented on #3586
If you press the OK button while the 'Skip ad' button is on screen, does the ad get skipped? If not, please try in the demo app on Android TV and let us know what you see. We can't really support FireOS-specific issues, but this is expected to work on Android TV at least.

[2017-12-13 18:10] Lezherus commented on #3585
@ojw28 Thank you for the prompt answer! But now I'm wondering, if that's the case, why does it works on 1.2.X? Did ExoPlayer use to support PlayeReady but now it doesn't?

[2017-12-13 18:21] shailesh2208 commented on #3586
Yes its working fine for Android TV. Do you have any alternate solution of Amazon Fire TV?

[2017-12-13 18:43] ojw28 commented on #3585
Both V1 and V2 support PlayReady where supported by the underlying platform. PlayReady is only a requirement for AndroidTV devices, however. Most Android mobile devices don't provide support.

The reason V2 fails and V1 doesn't is just that V1 performs fewer checks prior to attempting to start playback. Which meant it was prone to try and play content in an unsupported DRM scheme and fail in an ar

[2017-12-13 18:43] #3585 closed, assigned to nobody

[2017-12-13 18:44] ghost opened #3587 "Stuck video on viewPager"
Hi . I'm using `exoPlayer 2.6.0` in my application . in my recycleView it worked without any problem . but with the same code in viewPager and fullscreen size it's stuck  .

`      BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();

      TrackSelection.Factory videoTrackSelectionFactory =
                new AdaptiveTrackSelection.Factory(bandwidthMeter);

      TrackSelector trackSelec

[2017-12-13 19:09] Lezherus commented on #3585
@ojw28 Thank you for the clarification. But we tried using another manifest with the widevine ContentProtection element included and it still doesn't works, but now it returns a different error.

I e-mailed you the bugreport and new manifest link, could you take a look, please?

[2017-12-13 19:13] varun7952 opened #3588 "Is there any way to implement different layout at runtime"
As exoplayer comes with customized UI and it can work well but is anyway that we can change different layout for Exoplayer for different media.

For example: Different layout when playing video and different when audio is playing.

[2017-12-13 19:15] ojw28 commented on #3585
The updated manifest plays fine if you add the following line of JSON:
[code]
So it looks like:"
[code]
The demo app tries and automatically infer the content type from the extension, but in this case the extension is "ism" and the demo app infers that it's a SmoothStreaming stream. Adding the extra line explicitly tells the demo app what the content type is.

[2017-12-14 06:39] DSteve595 opened #3589 "Add GIF extractor"
### Issue description
GIFs can't be played with ExoPlayer. No extractor is able to read them.

### Link to test content
https://i.redd.it/njtj70s61s301.gif

### Version of ExoPlayer being used
2.6.0

[2017-12-14 07:44] MegatronKing commented on #3521
I dont think it is a device specific issue, and the pixel has the same issue.

[2017-12-14 08:00] nimdokai commented on #272
@ojw28
could you provide update on situation - will it be supported in the near future?

[2017-12-14 08:12] nimdokai commented on #3588
You can check what type of media (for example in: `onTracksChanged`) is playing and based on that define change the layout that should be used by `setContentView`.
Also take a look at:
https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a

[2017-12-14 08:35] andrewlewis commented on #3589
GIFs are very different from the kind of media ExoPlayer handles at the moment, so this would likely be a lot of work. Using a `WebView` or a library like [glide](https://github.com/bumptech/glide) is probably a better option. See also #2874.

[2017-12-14 08:35] #3589 closed, assigned to nobody

[2017-12-14 08:38] andrewlewis commented on #3586
I'm afraid we don't. You could investigate why the workaround we have for Android TV (f2aed7186e9c47ddc55456c5f5bbeb5cb3100988) is not working on Fire TV. If there's a reasonably simple fix that makes it work on both platforms please let us know we can probably update it. Thanks!

[2017-12-14 08:38] #3586 closed, assigned to andrewlewis

[2017-12-14 09:16] andrewlewis commented on #3521
Could you elaborate a bit about which devices are affected or not affected? You wrote "However, it works well when the sound box is disconnected or using another mobile not Samsung.".

[2017-12-14 11:12] Lezherus commented on #3585
@ojw28 Indeed, it played fine, thank you very much for the help! I must admit that I'm impressed with how fast you guys reply to the issues, congratulations on the amazing job, and please keep it up!

[2017-12-14 11:15] ojw28 commented on #272
This is low priority currently, I'm afraid.

[2017-12-14 11:53] xoceunder opened #3590 "help to implement token in video links"
help to implement token in the video links for the token to change to an x time in order to protect my links
thanks in advance

@willnorris @canatella @kiall @talklittle @edwinwong

[2017-12-14 11:58] sandersaares commented on #3590
You may be interested in reviewing the document "DASH-IF IMPLEMENTATION GUIDELINES: TOKEN-BASED ACCESS CONTROL FOR DASH (TAC) V1.0" at http://dashif.org/guidelines/

I am not saying this mechanism is necessarily implemented by ExoPlayer (I do not know what ExoPlayer implements) but perhaps it gives you some background information.

[2017-12-14 13:19] MegatronKing commented on #3521
I have update the issue detail and some device with problem and without problem.

[2017-12-14 13:22] andrewlewis commented on #3521
This may be related to #3386, which may be fixed by an upcoming system update.

[2017-12-14 14:30] erdemguven commented on #3587
Please provide more information (especially a bugreport).

This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provi

[2017-12-14 14:30] #3587 closed, assigned to nobody

[2017-12-14 15:27] vshcryabets opened #3591 "ExoPlayer stucks when you plug/unplug headset for a little time"
### Issue description
I'm using it to play live video content from live cameras. And i found small issue - when you plug/unplug headset ExoPlayer stucks for a little time (probably 100-200ms). Video captured from phone - https://drive.google.com/file/d/16Q2kLvAcF10cWw0akB0SW-AXotSc71Ky/view?usp=sharing. Video stucked at 00:04-00:10

### Reproduction steps
- open ExoPlayer demo app
- click on YouTu

[2017-12-14 15:33] xoceunder commented on #3590
is that my project is already working with this function
@sandersaares

[2017-12-14 15:36] erdemguven commented on #3591
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-12-14 15:36] #3591 closed, assigned to nobody

[2017-12-14 16:16] vshcryabets opened #3592 "ExoPlayer stucks when you plug/unplug headset for a little time"
### Issue description
I'm using it to play live video content from live cameras. And i found small issue - when you plug/unplug headset ExoPlayer stucks for a little time (probably 100-200ms). Video captured from phone - https://drive.google.com/file/d/16Q2kLvAcF10cWw0akB0SW-AXotSc71Ky/view?usp=sharing. Video stucked at 00:04-00:10

### Reproduction steps
- open ExoPlayer demo app
- click on YouTu

[2017-12-14 18:56] MiriSy opened #3593 "I dont know how to compile native libraries C++ in android"
i have android studio 3.0 . when i build exo player the native libraries not compiled.
any help ?

[2017-12-14 19:09] AquilesCanta commented on #3593
Which native libraries?

[2017-12-14 19:15] MiriSy commented on #3593
extensions like ffmpeg ...

[2017-12-14 19:20] AquilesCanta commented on #3593
https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg

[2017-12-14 19:23] zsmatyas opened #3594 "Typo in name of a CEA708 command"
https://github.com/google/ExoPlayer/blob/e7c60a2a234ab11bc75335453a7836fef9509610/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea708Decoder.java#L107

This command is "DefineWindow" with index 4, matching every aspects of the same command with different indices, but this is called DS4 instead of DF4.
See paragraph 8.4.7 of the CEA708 Standard

[2017-12-14 19:25] MiriSy commented on #3593
yes in that link i mean. i read readme.md but  i dont understand how to make , i have windows os

[2017-12-14 22:57] jazimm commented on #3309
With v2.6.0 play will freeze using HLS if you try to seek past the midroll ad after the pre roll ad has finished. Seeking anywhere before the midroll is fine. Tested on Nexus 6P running 8.1.

[2017-12-15 06:40] RadhikaBalla opened #3595 "Does Exoplayer V2 supports DRM for HLS?"
Hello guys,

     I am using Exoplayer-v2 for playing DRM encrypted Mpeg Dash videos. Does this exoplayer supports DRM for HLS also??

If it does not support, is there any other way to play DRM encrypted HLS videos?

[2017-12-15 08:02] andrewlewis commented on #3309
@jazimm If you file a new issue and include the information requested in the issue template we can investigate. Thanks.

[2017-12-15 09:39] erdemguven commented on #3595
Duplicate of #1442

[2017-12-15 09:39] #3595 closed, assigned to nobody

[2017-12-15 09:45] andrewlewis commented on #3595
Please see also https://google.github.io/ExoPlayer/supported-formats.html -- we now support cenc/cbcs Widevine on certain API levels.

[2017-12-15 12:44] RadhikaBalla commented on #3595
Hello,

Thanks for the information. when I try to play HLS stream with DRM from
Demo app, getting following error.

Error:

[code]

And This is the code that I have added in media.exolist.json.

[code]

sdK min version in current version is 12. And when I try to change
minsdkversion to 19 in constants.gradle it is giving manifest merger
exception. Apart from constants.gradle file is there any othe

[2017-12-15 13:13] erdemguven commented on #3595
Please file a new issue and include the information requested in the issue template. This is issue is closed.

[2017-12-15 14:15] marijamilosevic commented on #3414
Hello,
I had the exact same issue, and after 5 days I've finally figured it out:
[code]

AOT compilation was disabled and this was causing the issue.
Hope this helps :)
Cheers

[2017-12-15 16:31] #3594 closed, assigned to ojw28

[2017-12-15 16:31] ojw28 commented on #3554
Fixed in `dev-v2` branch. Will land in`2.7.x`.

[2017-12-15 16:31] #3554 closed, assigned to botaydotcom

[2017-12-15 18:54] anonym24 commented on #3572
also added this question here https://stackoverflow.com/questions/47821715/preload-all-timings-text-of-internal-subtitles-buffer-for-text-render-decode

[2017-12-15 18:55] sylvain-toptal commented on #3150
@stellabei How dd you ignore the error?  I can't playback downloaded content on API19 because of this issue.

[2017-12-15 20:45] ojw28 commented on #3560
`MergingMediaSource` is intended for legitimate merging of available content (e.g. a side-loaded subtitle or demuxed alternate audio track).

For fallback cases such as yours, you should do as described above: Either find a way of working out which URL is valid beforehand, or try to play one URL and if playback fails try the other as a separate playback attempt.

[2017-12-15 20:45] #3560 closed, assigned to nobody

[2017-12-15 20:56] anonym24 commented on #3026
just downloaded random movie and couldn't play it, got this error
so it's already v2 and not supported yet, so problem isn't going to be solved soon?

[2017-12-15 21:02] ojw28 commented on #3026
As per response above, this is low priority and is unlikely to be resolved soon.

[2017-12-15 21:12] anonym24 commented on #3026
@ojw28 well I downloaded one more random movie (mkv) and again this error, so it's not that rarely, I believe it will happen quite often

[2017-12-15 21:15] ojw28 commented on #3026
We've received two reports of this error in the past six months, which does not suggest this is a widely used feature.

[2017-12-15 21:19] anonym24 commented on #3026
@ojw28 I think not many developers tested with 2-5 gb (bdrip 720p) MKVs, for me the problem happened with such videos

[2017-12-15 21:26] DevDroid01 opened #3596 "Widevine: No video visible when playing live content (Pixel 2 XL)"
### Issue description
When playing live encrypted dash content on Pixel 2 XL, audio plays but the video is not visible. The content plays fine on other devices including Pixel 1 with Android O.

### Reproduction steps
See email for sample app built using Exoplayer demo. Click the button "Click Here" on sample chooser activity to repro the issue.

### Link to test content
See email sent to dev.exop

[2017-12-15 23:57] joelphilippage commented on #3559
Okay. I figured out the problem. I was setting the event listener for exoplayer before  initializing the mediasession connector with the player. I guess that removed the listeners so my PlaybackStateCompat was not being updated on state change.

Is this still a bug or am I not using it as intended?

[2017-12-16 00:27] keremkusmezer opened #3597 "RTMP - Fatal signal 11 (SIGSEGV) when switching into airplane mode"
### Issue description
During RTMP stream playback with Exoplayer, when i switch the phone to airplane mode, exoplayer throws the following exception , the error handler block of exoplayer doesn't get called and the process dies.

[code]

### Reproduction steps
Just start playing any stream with exoplayer and then switch to airplane mode or close the network connection.

[code]

### Link to test co

[2017-12-16 01:24] varun7952 commented on #3588
setContentview is android activity method to inflate layout inside onCreate. You can't play much with setContentView method cuz its only use to inflate default layout of activity. We need to make it something like runtime method which we can change on click of button.

[2017-12-16 05:56] yangchaojiang opened #3598 "In the Android SDK 5.1 full screen switch, the video screen has 2 seconds delay"
In Android SDK 5.1 the following device version, Samsung s4 version: 4.3
Huawei che1, cl20, version: 4.4, Meizu, version 4.4.2, Huawei SCL-TL00 version 5.1 devices such as full-screen switch, the video screen with 2 seconds Caton,
![test](https://user-images.githubusercontent.com/13806413/34067725-b882c7a0-e268-11e7-8eec-58ea967b2b1d.gif)

[2017-12-16 14:46] Khang-NT opened #3599 "NPE in method `HlsMediaPeriod#maybeThrowPrepareError()`"
### Issue description
Crash log:
[code]

I don't understand much the code base, but it shouldn't cause NPE in method `maybeThrowPrepareError` with any reason.

### Reproduction steps
It happens randomly when I play HLS media source.

### Version of ExoPlayer being used
I use version `2.6.0`.

[2017-12-16 15:10] anonym24 opened #3601 "play mkv - ExoPlaybackException, ACodec: [OMX.qcom.video.decoder.avc] ERROR(0x80001009)"
### Issue description
ExoPlayer won't play next mkv file

[code]

MX Player can play this file

### Reproduction steps
[code]

### Link to test content
download - magnet:?xt=urn:btih:FC97F177CF58EF49BF9A01E19BE88373AF345EDB

### Version of ExoPlayer being used
2.6.0 (same issue on r2.5.2)

### Device(s) and version(s) of Android being used
Redmi 4 Prime, Android 6.0.1

### A full bug report captur

[2017-12-16 21:02] bakua commented on #3535
Hello,

we've found the same crash in our logs.

[code]

At the moment we are not able to replicate the failure ourselves, but it happens regularly to our users on many different devices. Android 6 and 7 only.

[2017-12-17 09:24] tsmathavan opened #3602 "Audio not playing on HD mp4"
The attached mp4 not working on Exo
player. Video only showing. Audio not playing.
[v3.zip](https://github.com/google/ExoPlayer/files/1565462/v3.zip)

[2017-12-17 09:35] tsmathavan opened #3603 "1080p not playing with AC3 audio"
1080p not playing with AC3 audio

[2017-12-17 09:41] andrewlewis commented on #3603
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-12-17 09:41] #3603 closed, assigned to nobody

[2017-12-17 13:53] tsmathavan opened #3604 "Can not play TS file (Codec AVC and AC3)"
**Issue description**

I'm trying to play a TS file. Video/Audio is not playing in the Exoplayer. It shows only blank screen. But it works on MX and Kodi player.

Here the below Video and audion description.

Video :
ID : | 17 (0x11)
Menu ID : | 1 (0x1)
Format : | AVC
Format/Info : | Advanced Video Codec
Codec ID : | 27

Audio :
ID : | 18 (0x12)
Menu ID : | 1 (0x1)
Format : | AC-3
Format/Info : |

[2017-12-17 18:33] xoceunder opened #3605 "OMX.ffmpeg.ac3.decoder ExoPlayer"
help please with the .mkv file problem

OMX.ffmpeg.ac3.decoder ExoPlayer

[2017-12-18 00:19] ojw28 commented on #3602
There's no (audible) audio when this sample is played in VLC, Quicktime or Chrome either, so this appears to be working as intended. There is an audio track in the file, but I think it's probably just silent.

[2017-12-18 00:19] #3602 closed, assigned to nobody

[2017-12-18 00:29] ojw28 commented on #3604
Our FAQ page explains why the video track doesn't play, [here](https://google.github.io/ExoPlayer/faqs.html#why-do-some-mpeg-ts-files-fail-to-play). Setting the flags mentioned there allows the video track to play fine.

For the audio track, note that Android devices are not required to support AC3, and many devices do not do so. See the "Sample Formats" section of [this page](https://google.githu

[2017-12-18 00:29] #3604 closed, assigned to nobody

[2017-12-18 00:44] ojw28 commented on #3599
Please can you provide a full bug report captured with `adb bugreport`, proper reproduction steps, and test content that can be used to reproduce this issue. All of this information is requested in the issue template.

Looking at the code for `HlsMediaPeriod`, it's hard to see how a null entry can end up in `sampleStreamWrappers`, unless there's some failure that happens before this one. If there

[2017-12-18 00:50] ojw28 commented on #3588
You can build whatever UI you want to use with `ExoPlayer`, since at a low level all you need to provide is the `Surface`/`SurfaceView`/`TextureView` to `SimpleExoPlayer`. If you opt to build a custom UI, you can obviously adjust it however you want, whenever you want.

We also provide some out-of-the-box UI components, for example `SimpleExoPlayerView`. They can be reconfigured at runtime to the

[2017-12-18 00:50] #3588 closed, assigned to nobody

[2017-12-18 00:56] ojw28 commented on #3597
Relevant part of the bug report:
[code]

[2017-12-18 00:57] ojw28 commented on #3605
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-12-18 00:57] #3605 closed, assigned to nobody

[2017-12-18 01:20] ojw28 commented on #3559
`ExoPlayer` can handle multiple listeners, so that's not a problem.

I think the problem might be that your `MediaPlayerService` class appears to be replicating a lot of the glue functionality that `MediaSessionConnector` provides for you, in a way that looks like it might cause conflicts to arise. For example your code is setting a `NavSessionCallback` directly on `mediaSession`. `MediaSessionCon

[2017-12-18 05:21] RadhikaBalla opened #3606 "Exoplayer V2 HLS DRM issue"
Hello,

When I try to play HLS stream with DRM from Demo app, getting following error.

Error:

[code]

And This is the code that I have added in media.exolist.json.

[code]

sdK min version in current version is 12. And when I try to change minsdkversion to 19 in constants.gradle it is giving manifest merger exception. Apart from constants.gradle file is there any other file to change min version

[2017-12-18 05:23] RadhikaBalla commented on #3595
Hello,

Please look into this issue.

--
Thanks&Regards,
Radhika Balla

[2017-12-18 06:15] talhatariq commented on #3140
so why you are using
On 4 Aug 2017 8:50 p.m., "minaEweida" <notifications@github.com> wrote:

[2017-12-18 06:24] tsmathavan commented on #3604
Thanks. The video is working now.
Is there any extractor/plugin to play the ac3 audio in the ExoPlayer?

[2017-12-18 09:03] shoyu666 opened #3607 "OMX-VDEC-1080P: Unsupported WxH = (1920)x(3414) supported range is min(64)x(64) - max(1920)x(1920)"
###### version
com.google.android.exoplayer:exoplayer:2.6.0
###### <br>description
- mp4  1920x3414
- xiaomi redmi 4x android 6.0.1(MMB29M)(miui 8.5.4.0)
- other device work fine (xiaomi noto,huawei ... )
##### maybe important error log
[code]
##### question
dear auth:
                it seem my device not support 4k vedio,What should I do,need help（tip）
##### error log
[code]

[2017-12-18 09:21] varun7952 commented on #3588
Can i do it on Runtime?

[2017-12-18 09:45] ojw28 commented on #3604
That question is also answered on the supported formats page.

[2017-12-18 10:02] keremkusmezer commented on #3597
Any fixes or news regarding that?

[2017-12-18 10:04] mortenesbensen opened #3608 "Audio cut off from ConcatenatingMediaSource"
### Issue description
When combining two ExtractorMediaSources; one created from a byte array and one created from a url into a ConcatenatingMediaSource, the audio from the first media source is cut off at the end.

### Reproduction steps
Create two ExtractorMediaSources; one from a byte array of binary audio, one from a url. Add both to a ConcatenatingMediaSource or DynamicConcatenatingMediaSourc

[2017-12-18 10:09] andrewlewis commented on #3607
As you've identified, it looks like the device just doesn't support decoding the format you're trying to play, so I'm afraid we can't really do anything about this. Perhaps you can transcode the input video to a lower resolution?

[2017-12-18 10:09] #3607 closed, assigned to nobody

[2017-12-18 11:31] mhabzda opened #3609 "Provide an API for metadata & frame extraction without playback"
### Issue description
I'm trying to extract track information such as title and an artist from the local mp3 file before playing it.

I managed to get track metadata in 'onTracksChanged' callback, but I need access to it earlier. I have File object and its uri and I tried to use Mp3Extractor directly, which needs DataSource, but I'm not sure how to create it.

Could you provide me with the informa

[2017-12-18 12:08] ojw28 commented on #3597
If the native crash is coming from LibRtmp then there's not really much we can do to fix it. You'll need to report it [here](https://github.com/ant-media/LibRtmp-Client-for-Android) instead. When they provide a fix we'll move to depend on the newer version to pick it up (it would also be possible for you to do this ahead of us).

[2017-12-18 12:26] ojw28 commented on #2089
Both pages are now updated.

[2017-12-18 12:31] ojw28 commented on #3595
Are you sure the content even supports Widevine decryption?

@AquilesCanta is the expert in this area, but `METHOD=SAMPLE-AES` in the media playlist suggests to me that it's not. `SAMPLE-AES` is explicitly not supported on our [supported formats](https://google.github.io/ExoPlayer/supported-formats.html) page.

[2017-12-18 14:01] pstambrecht opened #3610 "Question about track selection"
Question:
What is the best way (right way) how to get and display list of available video qualities, audio tracks and subtitles?

Now I:
1) Listen changes in onTrackChanged(...) method (Player.EventListener interface)
2) Iterate over all track groups and check theirs Formats to determine which is video track group (format mime type starts with "video" string)
3) Post this TrackGroup to Activity to

[2017-12-18 14:36] num47 opened #3611 "Broken Playlist"
While i have created a playlist i found that if any link of that playlist is not active then the whole playlist of that sample playlist does not work. If i had removed that broken link then that playlist was working but otherwise not. I had changed the position of that link - sometimes at the top, sometimes at the bottom, sometimes at the middle. The link was not working unless i moved the broken

[2017-12-18 17:26] rabindrachhachan commented on #2643
Hi  all,
Can someone share/refer code for downloading video and playing the same video in offline mode. I went through the demo and able to play the contents online. But I want to learn how to download the contents and play offline. My video url will be a MP4 file , no constraints of license .  Some guidance will be appreciated . Thanks in advanced.

[2017-12-18 18:44] stellabei commented on #3150
@sylvain-toptal It requires a change in Exoplayer code. We are using DefaultDrmSessionManager.java.  In this class doLicense() method,  licenseDurationRemainingSec = getLicenseDurationRemainingSec(); The licenseDurationRemainingSec will be return as 0 instead of MAX_INT, then you should just ignore and proceed as a normal case. I used optionalKeyRequestParameters to add the flag for the special ca

[2017-12-18 19:43] sylvain-toptal commented on #3150
Thanks @stellabei

[2017-12-19 05:13] kimkyuhwan opened #3612 "how can I check buffer size after buffering?"
Is there a way to check the size of the buffer after reading it from the Exoplayer?

[2017-12-19 10:01] andrewlewis commented on #3611
Can you just handle the player error and update the playlist to remove the broken entry? Please could you describe with a bit more detail exactly what you're doing, what happens and what you expect to happen?

[2017-12-19 10:04] andrewlewis commented on #3612
Does `Player.getBufferedPosition()` provide the information you need? If not, please could you elaborate on which buffer you're talking about, and what you mean by reading it?

[2017-12-19 10:06] andrewlewis commented on #2643
@rabindrachhachan You may find Erdem's blog post on [pre-caching/downloading progressive streams](https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6) useful.

[2017-12-19 10:08] rranjithkumar100 opened #3613 "Question : How to handle ConcatenatingMediaSource playlist item error?"
I am using ConcatenatingMediaSource to play list of videos.

I have 5 videos. So add these videos with help of ConcatenatingMediaSource.
If 5 videos have valid URL -> no problem it played perfectly.

**My problem :**

Incase if one video invalid URL like 404 error. **onPlayerError(ExoPlaybackException error)** method called &
Player stopped & other videos not playing.

For ex: If I give invalid ur

[2017-12-19 10:19] tonnyavery opened #3614 "ExoPlayer onStop event (or events)"
I am stopping my SimpleExoPlayer by calling `player.stop()`.
Which event or events in `Player.EventListener` would I get?

I need to catch when playback is stopped (not paused)

[2017-12-19 10:26] andrewlewis commented on #3613
Can you just re-prepare the player with a new concatenation that omits the missing items?

This seems to be similar to #3611.

[2017-12-19 10:29] andrewlewis commented on #3614
`onPlayerStateChanged` should be called with `STATE_IDLE`.

[2017-12-19 10:37] andrewlewis commented on #3610
Please have a look at [`TrackSelectionHelper`](https://github.com/google/ExoPlayer/blob/505d5cd/demos/main/src/main/java/com/google/android/exoplayer2/demo/TrackSelectionHelper.java) which is used by the demo app to show a track selection dialog. The `showSelectionDialog` method takes a renderer index, and you can use `player.getRendererType` to get the type of each renderer (see also [`PlayerActi

[2017-12-19 10:37] #3610 closed, assigned to nobody

[2017-12-19 10:46] RadhikaBalla opened #3615 "How to extract metadata of a hls/mpeg-dash stream"
Hii,

  I just want to get meta data (like artist, album and image) from HLS and Mpeg-dash streams. How to extract them using exoplayer?

Following are the streams that I need to extract meta data from.

http://183.82.107.32:1935/vod/mp4:sample.mp4/manifest.mpd
http://183.82.107.32:1935/vod/mp4:sample.mp4/playlist.m3u8

[2017-12-19 10:50] RadhikaBalla commented on #3595
Hello guys,

 I am using exoplayer-v2. I need to extract media metadata from hls and
mpeg-dash streams. I have raised a ticker for that, please look into it.

--
Thanks&Regards,
Radhika Balla

[2017-12-19 10:50] andrewlewis commented on #3606
What ExoPlayer version are you using? 52ec70dd80d79396ba7bcea16422bc0dc2111200 added support for parsing the relevant entry in the playlist, so this particular error should be gone, but I'm not sure if we support actually playing this format. I suggest trying to play the stream using the `dev-v2` branch. @AquilesCanta will be able to comment on the status/plan of support for SAMPLE-AES.

[2017-12-19 10:51] andrewlewis commented on #3595
Let's use #3606 for this.

[2017-12-19 10:59] andrewlewis commented on #3608
These sources appear to be in different formats: the first is 8 kHz mono, while the second is 44.1 kHz stereo. I think what's going on is that we have to reconfigure the underlying AudioTrack at the point of transitioning from the first source to the second, which causes some media to be dropped. To get the streams to play seamlessly, please try using the same format for the two sources -- perhaps

[2017-12-19 11:00] RadhikaBalla commented on #3606
Exoplayer-v2 version code  and compile
'com.google.android.exoplayer:exoplayer:r2.5.2'  in demo build.gradle.

On Tue, Dec 19, 2017 at 4:20 PM, Andrew Lewis <notifications@github.com>
wrote:

--
Thanks&Regards,
Radhika Balla

[2017-12-19 11:07] andrewlewis commented on #3609
The easiest option may be to create a player which is paused (`setPlayWhenReady(false)`) so that playback doesn't start automatically, then prepare it with your media source. You should get an `onTracksChanged` callback with the metadata but audio won't start playing.

[2017-12-19 11:10] andrewlewis commented on #3535
`W/ACodec: cannot change usage from 0x5002900 to 0x2002900` looks suspicious. Could you give a bit more detail about what the surface is changing from/to?

[2017-12-19 11:15] andrewlewis commented on #3596
Please could you try updating the device to `OPM2.171019.012` and see if this is still reproducible?

I couldn't see any obvious unexpected error logging in the bug report. @wvpaf please could you take a look at the emailed bug report and see if there's anything DRM-specific? Thanks!

[2017-12-19 11:25] andrewlewis commented on #3598
Are you changing the output video surface as part of the transition to full screen? Please read #677 and issues referenced there.

If you need this to work smoothly before Android Marshmallow, one thing you could try is putting the player's output surface/texture view on top of your UI layout, so you can just resize it when going full screen, to avoid switching surface.

[2017-12-19 16:26] num47 commented on #3611
i had added various video link. user have to click on the name of the link to watch that video. So, every time they want to view a different link that need to go back to the video list and then choose a different video. Some people might not like this and would have wish to watch the videos by clicking the next button. So, i had made a different playlist for whose who want to watch those videos by

[2017-12-19 16:45] andrewlewis commented on #3611
Can you just handle the player error and update the playlist to remove the broken entry?

[2017-12-19 17:29] tonihei commented on #2189
Thanks for your opinions on that matter. We now finished implementing an updated version of `player.sendMessages` where you can specify additional options like the delivery media time, the delivery handler, and whether the message should be deleted after delivery (or repeated if the position is reached again). It can be used like that:
[code]

The change will be available on the dev branch soon.

[2017-12-19 19:49] zsmatyas commented on #3533
You can also compare the Column value of the lines to be more restrictive. As you can see in the examples, the rows are consecutive, and the Columns are matching, so their left side should be matched -> this immediately suggests left alignment.

Center alignment can be confirmed by comparing "Column + (character count / 2)" for consecutive lines. If 2 of them match, then the content provider inten

[2017-12-20 03:44] lazarvgd opened #3616 "ExoPlayer r2.6.0 - could not find dependency "com.google.android.exoplayer:exoplayer:r2.6.0""
Hi, I have wanted to update a exoplayer to newer version(from 2.5.4 to 2.6.0) .
I used this dependency :
   ` compile 'com.google.android.exoplayer:exoplayer:r2.6.0'`

and I have got the message:

`Could not find dependency "com.google.android.exoplayer:exoplayer:r2.6.0"`

Can you please tell me is that the problem with your repo or I am using wrong dependency?

Thanks

[2017-12-20 04:43] mdtuyen opened #3617 "[Support] Play only a block for preview video"
I use Exoplayer for my project.
The first I have a full video.
However I want support preview.
Example:
Video long is 100min
I want to play preview from 5minute to 7 minute and that present on timebar duration is 00:00 to 02:00

How do I do that?

[2017-12-20 06:10] eneim commented on #3616
@lazarvgd Change "r2.6.0" --> "2.6.0" and you are done.

[2017-12-20 09:35] tonihei commented on #3617
Have you tried using a [ClippingMediaSource](http://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/source/ClippingMediaSource.html)? It allows to wrap a normal media source and specify a start and end position. The timebar should automatically adapt to the new length.

[2017-12-20 09:38] TarifHatoum opened #3618 "HLS source error issue in live stream"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-12-20 09:46] tonihei commented on #3618
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-12-20 09:46] #3618 closed, assigned to nobody

[2017-12-20 09:54] tonihei commented on #3615
Please have a look at #2504 for how to access the metadata.

Also, if you want to access the data without actually playing the media, you can start the player in paused state and wait for the `onTracksChanged ` callback (as already explained in #3609).

[2017-12-20 09:54] #3615 closed, assigned to nobody

[2017-12-20 11:08] keshav1139 opened #3619 "How can we make the scrubber move when we drag the scrubber instead of clicking on the seek bar"
### Issue description
Scrubber in seek bar is not draggable on the click events are triggered when clicked on seek bar.
How can we change the position of video by dragging the seekbar

### Reproduction steps
Play the video and try dragging the scrubber

### Version of ExoPlayer being used
4.1.0

### Device(s) and version(s) of Android being used
All Android devices

[2017-12-20 11:36] num47 commented on #3611
Mate, as i was saying, i am really new to this coding thing. That might be possible but i have no idea what to edit - where to edit.

[2017-12-20 11:48] YukiMatsumura opened #3620 "If there is no storage space available, index.exi file will be deleted"
### Question

`CachedContentIndex.readFile` returns` false` when called with no storage space available.
Does that mean `CachedContentIndex.load` will erase` cached_content_index.exi`?

[code]

It is difficult to catch and recover an IoException, but I think it's overkill for download content to be lost just because of no storage space available.

Please tell me if there is a good way to avoid del

[2017-12-20 11:50] tonihei commented on #3611
You should have a `player.prepare(mediaSource)` somewhere in your code which prepares and starts the player.  This `mediaSource` is most likely a `ConcatenatingMediaSource` or a `DynamicConcatenatingMediaSource` created before that. When these concatenated media sources are created, they use a list of single media sources (corresponding to the playlist).

In case one of your playlist items fails t

[2017-12-20 11:55] tonihei commented on #3619
The scrubber is draggable for me in our demo app. Can you give more details on why you think it's not draggable? And how I could reproduce your issue?

Also there is no ExoPlayer 4.1.0  - our current release version is 2.6.0.

[2017-12-20 12:07] num47 commented on #3611
Thanks a lot tonihei. gonna try this.

[2017-12-20 12:46] kimkyuhwan commented on #3612
Thank you for answer :-).  But, It is not the answer I wanted.
This is my question:
 When max_buffer_ms, min_buffer_ms, and playback_buffer_ms are fixed in the exo-player, the server loads the chunks for a same amount of time regardless of the video quality.
 I am wondering how to obtain the physical size of the chunks read at this time
 (ex 240p - > 180kb, 360-> 300kb ... 1080p ->2.1MB )

[2017-12-20 13:31] tonihei commented on #3612
When you set up your adaptive media source you should be able to pass in a [`AdaptiveMediaSourceEventListener`](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/AdaptiveMediaSourceEventListener.html) to the media source. This listener gets notifications whenever a load starts, ends, or fails. And it includes all times, number of loaded bytes etc.

[2017-12-20 17:59] ghost commented on #2568
In our application, to overcome this problem, we do the following and it works well:

If the seekTo is within 200ms from the end then we seek to (duration - 200ms) and then unpause the player. Just make sure that you then catch the ExoPlayer.STATE_ENDED event and upon receiving that you pause the player. We have noticed no side effects. And this is barely visible to the user.

[2017-12-20 18:33] orhunkupeli7 opened #3621 "Handling Corrupted HLS response"
As you may well know, hls consists file sequences and the tag value of the sequence must be incremented with 1 for every media. But what if it doesn't meet this requirement.

`if (chunkMediaSequence < mediaPlaylist.mediaSequence) {
      fatalError = new BehindLiveWindowException();
      return;
    }`
in here HlsChunkSource.java line 279 it decides the type of exception in that situation and pla

[2017-12-20 18:43] anonym24 commented on #3601
@ojw28 did you download sample? is it working for you ok in ExoPlayer? which test devices do you use?

also mb I rely on ExoPlayer too hard, trying to play such MKV videos (bdrip, 720/1080 or even bigger)
and it's just more than Android MediaPlayer API (like subtitles and DASH stream) but it's not going to be VLC, MX Player or FFmpeg?

then could you please clarify me about this project, is it goi

[2017-12-20 19:49] erdemguven commented on #3620
In theory, reading shouldn't fail because of no storage space left. Is this something you have seen happened?

[2017-12-20 22:24] juechemparathy opened #3622 "HLS: ArrayIndexOutOfBoundsException on track update"
[code]
### Reproduction steps
1. Go to url in the related mail to (dev.exoplayer@gmail.com)
2. Change the Audio track

Result:  ArrayIndexOutOfBoundsException### Link to test content

[2017-12-21 01:18] kimkyuhwan commented on #3612
Thank you for your help! Have a nice day :-)

[2017-12-21 01:23] #3612 closed, assigned to nobody

[2017-12-21 03:09] shen330 commented on #3503
I have made it as you said, it works well.

Thank you so much!

[2017-12-21 04:09] yangchaojiang commented on #3598
Full screen playback switch cross screen processing in Android Marshmallow under Caton phenomenon

![device-2017-12-21-115956](https://user-images.githubusercontent.com/13806413/34240247-8a562c54-e647-11e7-903a-2c58874f8d5c.gif)

[2017-12-21 04:12] YukiMatsumura commented on #3620
Thank you for a reply.

The problem does not have happened. I confirmed the intention of the source code.

thanks.
Due to the mechanism of backup/restoration of AtomicFile, I misunderstood that the storage operation is consumed even by the reading operation.
When I checked it again, it did not seem to be a problem.
I'm sorry to inconvenience you.

My question has been resolved. thanks you 😄

[2017-12-21 05:37] shwetha-DabKick commented on #3619
I am extremely sorry this is in exomedia and not exo player, please close the issue. Regret the inconvenience caused.

[2017-12-21 05:53] keshav1139 commented on #3619
I am extremely sorry this is in exomedia and not exo player, please close the issue. Regret the inconvenience caused.

[2017-12-21 07:31] #3620 closed, assigned to erdemguven

[2017-12-21 07:48] #3619 closed, assigned to nobody

[2017-12-21 08:38] mhabzda commented on #3609
Thank you for your reply, but I wonder if there is a chance to extract metadata without initializing and preparing player? You wrote about the easiest way, so is there another option? Will it take a lot of effort to implement it  without using player?

[2017-12-21 09:10] andrewlewis commented on #3621
That sounds like the right way to handle this at the moment.

Assigning @AquilesCanta in case he has further/different suggestions for what to do in this case.

[2017-12-21 09:12] andrewlewis commented on #3598
Please could you provide more detail about what your application does when the full screen button is pressed?

[2017-12-21 09:27] yangchaojiang commented on #3598
Duplicate of #1845   [Provide examples](https://github.com/google/ExoPlayer/issues/1845#issuecomment-328724351)

code ：
    private void openFullscreenDialog() {
        ((ViewGroup) mExoPlayerView.getParent()).removeView(mExoPlayerView);
        mFullScreenDialog.addContentView(mExoPlayerView, new ViewGroup.LayoutParams(ViewGroup.LayoutParams.MATCH_PARENT, ViewGroup.LayoutParams.MATCH_PARENT));

[2017-12-21 09:49] olenev opened #3623 "java.lang.IllegalStateException at android.media.MediaCodec.native_queueInputBuffer"
Faced with problem like in issues
https://github.com/google/ExoPlayer/issues/1997
https://github.com/google/ExoPlayer/issues/1383
https://github.com/google/ExoPlayer/issues/3032

This problem reproduces on some Samsung devices, for examples:
SM-J120H Android 5.1.1. API 22
SM-N910F API 23
SM-G950F API 24
SM-G955F API 24

Used links for mp4 video, and some videos not loads on these devices. Also tes

[2017-12-21 10:39] TarifHatoum opened #3624 "How to keep the selected subtitle when releasing and preparing player ?"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-12-21 10:40] andrewlewis commented on #3623
Please could you provide a full bug report captured using `adb bugreport` just after seeing this error?

[2017-12-21 13:07] olenev commented on #3623
Attached file with logs
[exoplayer_illegular_exception.txt](https://github.com/google/ExoPlayer/files/1579265/exoplayer_illegular_exception.txt)

[2017-12-21 13:54] andrewlewis commented on #3623
It looks like 0x80001020 means the input format wasn't handled correctly. Please provide a link to the file you're trying to play and also send an actual bug report captured using `adb bugreport` (via email to dev.exoplayer@gmail.com if you don't want to post it here)?

[2017-12-21 14:14] olenev commented on #3623
@andrewlewis  try to load videos by links:
1. http://d24cq1nx03h9us.cloudfront.net/exercises/videos_720p/8766_1.mp4
2. http://d24cq1nx03h9us.cloudfront.net/exercises/videos_720p/8767_1.mp4
3. http://d24cq1nx03h9us.cloudfront.net/exercises/videos_720p/8768_1.mp4
4. http://d24cq1nx03h9us.cloudfront.net/exercises/videos_720p/8769_1.mp4
5. http://d24cq1nx03h9us.cloudfront.net/exercises/videos_720p/877

[2017-12-21 14:15] andrewlewis commented on #3622
Are you able to reproduce the reported `IndexOutOfBoundsException` on the development branch? I'm not sure which version of the library you're using, but I couldn't reproduce it.

I did hit a `NullPointerException` part way through the stream after changing audio tracks in `peekId3PrivTimestamp`: it looks like we load an AAC chunk immediately after a TS chunk, which means that the AAC `HlsMediaChu

[2017-12-21 18:07] juechemparathy commented on #3622
@andrewlewis  for the quick response.Above logs are from latest dev-v2-r2.6.1.
Also make sure a server side ad shows up in the start.Most of the times it does.The crash happens when the ad completes and switch to main content.

Not sure if Null Pointer on peekId3PrivTimestamp is a side effect of ArrayIndexOutOfBoundsException mentioned above.
Video: https://drive.google.com/file/d/1yWx5UOZEsBYQM2s

[2017-12-21 20:36] admobwebmaster opened #3626 "Exoplayer broadcast with dlna?"
Hello guys.
Friends I'm using the exoplayer in my app and it transmitted videos only for chromecast using the sdk cast but I wanted to know if it has how it transmits to devices that uses DLNA technology

[2017-12-21 22:52] yurilaguta commented on #3557
@ojw28 steams has been working fine for the last 10 days. Seems like it was a content issue. Thanks.

[2017-12-21 22:52] #3557 closed, assigned to ojw28

[2017-12-22 00:01] weizhaoj opened #3627 "Failed to play stream with error log "Error -22 initializing AudioTrack""
**Version of ExoPlayer being used**
dev-v2-r2.6.0

**Issue description:**
when I go to play the below stream:
https://test.playready.microsoft.com/media/dash/APPLEENC_CBCS_BBB_1080p/clear/bbb_sunflower_1080p_60fps_normal.mp4

It will report below log:
[code]

[2017-12-22 07:39] venkiheidi opened #3628 "Interlace issue on exo player - flash news"
I am using Exo player 2.6 version.  While watching full hd news channels as multicast packet, found interlace issue on flash news (marquee format) which is not sharp.

Attached record .ts format for your reference.
[deinterlace_ts_file_clr.zip](https://github.com/google/ExoPlayer/files/1581771/deinterlace_ts_file_clr.zip)

Please refer attached images .  Letters are not sharp cause of interlace is

[2017-12-22 08:42] andrewlewis commented on #3628
Postprocessing like deinterlacing is controlled by whatever codecs the device has, so this is not really an ExoPlayer issue. Please see also #2013.

[2017-12-22 08:44] andrewlewis commented on #3627
Please provide a full bug report captured with `adb bugreport` just after reproducing the error.

[2017-12-22 08:51] venkiheidi commented on #3628
Hi Andrew

Thanks for your reply.  While playing same multicast tv channel using  amlogic multicast player , there is no interlace issue.

Rgds
Venkatesan K

[2017-12-22 08:55] andrewlewis commented on #3626
We don't provide built-in support for DLNA. Marking as an enhancement but it's unlikely we'll prioritize this soon.

[2017-12-22 08:59] andrewlewis commented on #3628
Is that a different device or the same device with different software?

If the device has another codec for the same format you could try using that: you can list codecs by running `adb shell cat /system/etc/media_codecs.xml`, and modify `MediaCodecUtil.isCodecUsableDecoder` to tell ExoPlayer not to pick the problematic decoder.

[2017-12-22 09:05] venkiheidi commented on #3628
There are two media player installed for checking.  There is no interlace issue on amlogic media player.  There is interlace issue on Exo player.

Thanks again for your support. Look forward to suggestions to fix.

Rgds

Venkatesh

[2017-12-22 09:12] andrewlewis commented on #3622
Yes, I was seeing the server-side ad. Tentatively marking as a bug.

[2017-12-22 09:15] andrewlewis commented on #3628
I don't think I have anything else to suggest apart from trying a different decoder on the same device (suggested above) or checking if this device has custom video `MediaFormat` keys for controlling postprocessing (suggested in #2013). Maybe the other player is bundling its own video codec. The core ExoPlayer library doesn't include decoders, so you get whatever the system provides on the device/

[2017-12-22 10:37] nero12 commented on #2092
Same here, i would love to see .avi extractor, nothing out there ?

[2017-12-22 11:25] ojw28 commented on #3628
Agreed this is likely to be a platform specific decoder issue. You really need to be reporting the issue to AmLogic, since they control the underlying platform.

[2017-12-22 11:25] #3628 closed, assigned to nobody

[2017-12-22 11:30] ojw28 commented on #3606
As per my response in #3595, I don't think this content even supports Widevine decryption. `METHOD=SAMPLE-AES` in the media playlist is explicitly not supported on our supported formats page.

[2017-12-22 11:34] ojw28 commented on #3597
Root cause is tracked in https://github.com/ant-media/LibRtmp-Client-for-Android/issues/52.

[2017-12-22 11:36] venkiheidi commented on #3628
Interlace not encountered using Amlogic media player on same box.  While using Exo player encountered interlace issue.  Is any parameter to turn on / off de-interlace. In VLC, they given configuration

Rgds

Venkatesh

[2017-12-22 11:41] ojw28 commented on #3601
The primary goal of ExoPlayer has never been to play whatever random (possibly broken) media file you throw at it. Our primary goal is to do a really good job of playing sensibly prepared media (e.g. media that doesn't use exotic codec features that hardly anyone else else uses, unreasonably high bit-rates, weird audio formats etc). This makes sense, since the vast majority of ExoPlayer usage is v

[2017-12-22 12:01] ojw28 commented on #3533
Yes, something along those lines sounds like a good approach.

[2017-12-22 12:41] Farrukh381 opened #3629 "voice is coming in background even the ExoPlayer-with-RTMP released ....."
.it does not happen everytime but it happens.....i am using latest versions of RTMP extension....hopefully you people help in fixing this

[2017-12-22 13:10] ojw28 commented on #3629
This sounds like an application issue to me (we've seen a few similar issues reported, where it turned out the application developer wasn't properly releasing the player, or was accidentally preparing two players, or similar).

Closing for now since this issue doesn't include any reproduction steps, or the other information requested in the issue template. If you're able to provide this informatio

[2017-12-22 13:10] #3629 closed, assigned to nobody

[2017-12-22 15:56] ojw28 commented on #3623
* Please provide full bug reports captured with `adb bugreport` via email or here, captured shortly after reproducing the issue. The logcat snippets provided are not sufficient for us to investigate the issue.
* Please provide a bug report for each individual device mentioned. It looks like the failure in the logcat snippet provided so far would only occur on devices with Spreadtrum chipsets, but

[2017-12-22 16:24] ojw28 commented on #3609
@andrewlewis - Should we turn this into a general enhancement request for providing metadata APIs (or alternatively, should we file a new one and dupe this one to it)?

[2017-12-22 16:30] andrewlewis commented on #3609
Marking as an enhancement for now.

[2017-12-22 16:35] anonym24 commented on #3601
ok, then I guess it's more for online streams than local files (because for local files user of android would want to play anything, what vlc or mxplayer can do)
many users downloads such videos using torrents (it's no a secret) - movies, tv series, animated sitcoms, anime. many of such videos are mkv (bdrip, hdtvrips..)
so what I test (videos) is popular enough, not broken
people wouldn't downloa

[2017-12-22 16:51] #3611 closed, assigned to nobody

[2017-12-22 16:56] ojw28 commented on #3601
Yes, our primary goal probably does correspond more to streaming and playback of content recorded by the device's camera, than it does playback of side-loaded content. We aim to do a good job of supporting side-loaded content too, it's just not our primary focus.

Anyway, staying on topic: This issue has not yet been diagnosed, except it appears likely to be a device specific issue. We'll take a l

[2017-12-22 16:57] #3614 closed, assigned to nobody

[2017-12-22 16:57] #3613 closed, assigned to nobody

[2017-12-22 16:59] #3608 closed, assigned to nobody

[2017-12-22 17:00] #3616 closed, assigned to nobody

[2017-12-22 17:02] ojw28 commented on #3624
This should happen by default if you're using the same player instance. If you're using a new player instance (and new `DefaultTrackSelector`), then you'd need to setup the new instance to match how the old instance was configured.

Closing, because the problem isn't described in enough detail for us to help further. If you're able to provide more specific information, please do so here and we'll

[2017-12-22 17:02] #3624 closed, assigned to nobody

[2017-12-22 17:07] TarifHatoum commented on #3624
How to setup new instance matching old one ? If you can give an example please

Sent from my iPhone

On Dec 22, 2017, at 19:03, ojw28 <notifications@github.com<mailto:notifications@github.com>> wrote:

This should happen by default if you're using the same player instance. If you're using a new player instance (and new DefaultTrackSelector), then you'd need to setup the new instance to match how t

[2017-12-22 17:13] ojw28 commented on #3624
Your application code must have called some methods on the `DefaultTrackSelector` to change the track selection. You'll need to make equivalent calls on the new instance, since persisting the state is not something we support directly in the library.

[2017-12-22 17:14] lucalooz opened #3630 "DASH Widevine issue when scheme specific ContentProtection is omitted"
I have a DASH content protected with Widevine that doesn't work only on ExoPlayer 2.6.0 (it works on 2.5.4).

The manifest for content protection contains only
```<ContentProtection schemeIdUri="urn:mpeg:dash:mp4protection:2011" value="cenc" cenc:default_KID="fe2cbd2e-78a3-5fdd-b1f7-3b166d8abbed" />```

When checking if the video format is supported 2.6.0 returns `FORMAT_UNSUPPORTED_DRM`.

I have

[2017-12-22 17:19] ojw28 commented on #3630
I'm not sure either, although regardless of whether it's required to include the scheme specific `ContentProtection` elements, it seems highly preferable to do so.

Assigning to myself to figure out whether we should be more lenient in this case.

[2017-12-22 17:24] TarifHatoum commented on #3624
It is an important feature will you present it in future ? And can you help me in a small sample to include it in my library since i need it top urgent ?
Thanks

Sent from my iPhone

On Dec 22, 2017, at 19:13, ojw28 <notifications@github.com<mailto:notifications@github.com>> wrote:

Your application code must have called some methods on the DefaultTrackSelector to change the track selection. You'l

[2017-12-22 17:40] weizhaoj commented on #3627
Please check attached log file, please let me any other info you need.
[bugreport.txt](https://github.com/google/ExoPlayer/files/1583130/bugreport.txt)

[2017-12-22 17:42] ojw28 commented on #3624
You need to do this in the same way you'd persist any other state in an Android application. There are various options available, for example `SharedPreferences`, and which makes most sense really depends on the details of your application. This is more of a general programming question, and is best asked somewhere like StackOverflow.

[2017-12-23 08:15] venkiheidi commented on #3628
Gone through logcat, understand that Exo player didn’t choose hardware decoder  , selected software decoder.  Please validate this. If yes, how to configure hardware decoder always on Exo player.

Please refer attached logcat for your reference.

Rgds

Venkatesh

From: ojw28 [mailto:notifications@github.com]
Sent: Friday, December 22, 2017 4:56 PM
To: google/ExoPlayer
Cc: venkiheidi; Author
Subjec

[2017-12-23 08:57] chillsweet opened #3632 "Can't play HLS link"
ExoPlayer 2.6.0

Problem is when I play HLS link with HlsMediaSource, it can prepare source by show duration of audio but it won't play when ready.

I'm not quite sure that it's about codec of file that effect to this problem? or something else.

problem link:
"https://live-s2.cocodemy.com/content2/a1.mp3/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9MTIvMjIvMjAxNyAwOToxNzoyOSBBTSZoYXNoX3ZhbHVlPUd6SnF

[2017-12-23 09:50] solvin90 opened #3633 "No 5.1 Sound with Netflix and Amazon Video at Nvidia Shield TV"
### Issue description
My soundbar is connected as follows: HDMI OUT Nvidia Shield TV -> HDMI IN soundbar -> HDMI OUT soundbar -> HDMI IN TV

The soundbar supports only DD and DTS. If I play a movie that includes a newer standard like Dolby TrueHD or DTS-HD with Kodi or Plex, than my soundbar can play the DD or DTS core. But if I play a movie from the Netflix or Amazon Video app (they use DD+), tha

[2017-12-24 07:56] Farrukh381 commented on #3629
[code]

Here is the complete source code i dont think  there is any issue in code because i am releasing the player and does not creating two players at a time......please check if u find out anything let me know

Thanks a lot

[2017-12-24 12:06] alonaviram opened #3636 "Is it possible to pre load preroll ads using ImaAdsLoader in a video list?"
I see that in `ImaAdsLoader` there is a pre loading implementation, but it gets called only on `onAdsManagerLoaded` that gets called only after requesting ad (i think).
I want to pre request ads and when the user scroll to a video item show the preroll only if it's already loaded (and not wait for ad to download).
thanks!

[2017-12-24 16:44] aarondib opened #3637 "Continue buffering while in pause"
Hi!

Currently when player is paused it stops to receive new data in buffer.
Is it possible to continue buffering while player is in pause state?

If there is no other options, guess, I could use Cache feature to save data in separate thread and then use cached data to play when it is buffered enough while in pause. If it is the case, could you please explain should I use Downloader to save data i

[2017-12-25 07:49] olenev commented on #3623
@ojw28 here bug report from Samsung SM-J120H Android 5.1.1 API 22
[bugreport.txt](https://github.com/google/ExoPlayer/files/1585538/bugreport.txt)

[2017-12-25 08:45] olenev commented on #3623
Also found another issue today - Exoplayer crashes on Nexus 5 when in fragment call in onStop() method code
 if (videoPlayer.getPlayWhenReady()) {
            videoPlayer.setPlayWhenReady(false);
        }
I reproduce in such case:
- turn off phone
- wait few secs
- turn on
- press play button
video just plays second and freeze with log
[code]
E/Surface: queueBuffer: error queuing buffer to Surfac

[2017-12-25 08:52] olenev commented on #3623
@ojw28 , bug report from Nexus 5 related to issue when stop player
[bugreportNexus.zip](https://github.com/google/ExoPlayer/files/1585611/bugreportNexus.zip)

[2017-12-25 11:16] mdtuyen opened #3638 "[Support] How to make exoplayer change speed?"
I'm making a video player with speed mode with feature:

- 1x: video will jump with step 5 second
- 2x: video will jump with step 10 second
- 4x: video will jump with step 20 second
- 8x: video will jump with step 40 second

I used: player.setPlaybackParameters(new PlaybackParameters(speedFactor * 5, 1.0f));

But it not work, step to run not correct.

Please help me correct setup.

[2017-12-25 11:48] qvk opened #3639 "DefaultTrackSelector: disable automatic text track selection for sideloaded captions"
### Issue description
When sideloading multiple language subtitles (vtt) using `MergingMediaSource` (containing a few `SingleSampleMediaSource`s for subtitles, and a `DashMediaSource` referring to a dash manifest containing only video and audio adaptation sets), a subtitle track is selected by default, corresponding to which `TextRenderer.Output#onCues` callbacks are received.

The desired behavio

[2017-12-25 12:58] qvk commented on #3639
Following [the official guide](https://google.github.io/ExoPlayer/guide.html#side-loading-a-subtitle-file) and using `C.SELECTION_FLAG_AUTOSELECT` for `selectionFlags` parameter in `Format.createTextSampleFormat` when creating `Format` for `SingleSampleMediaSource` seems to do the trick (not automatically select any text track).

But I'm not sure if this approach is correct or reliable. Documentat

[2017-12-25 13:36] mukundrd opened #3640 "R2.5.4 ANR on Samsung Galaxy S6."
### Issue description
Video in autoplay mode -> press back -> App results into ANR.
Witnessed in the included demo app as well.
Video in manual play mode -> tap on play -> press back -> App results into ANR
No Video played in both the cases.

### Reproduction steps
Demo App: Youtube Dash -> Google Glass (MP4, H264) -> No autoplay. Press back -> App non-responsive.

### Link to test content
Any vid

[2017-12-26 02:27] xoceunder opened #3641 "help for file mkv to audio problem ac3"
this error

[code]

[2017-12-26 04:49] mukundrd commented on #3640
Correction!!!
###Version of ExoPlayer being used
2.5.0, 2.5.1. 2.5.4, 2.6.0.

[2017-12-26 08:56] acaixuediananao opened #3642 "AudioTrack: Spurious audio timestamp"
`12-26 16:28:18.120 8360-8403/com.android_project_framework W/AudioTrack: Spurious audio timestamp (system clock mismatch): 242750, 1514276898089348, 22798622255, 5150166, 263168, 262811
12-26 16:28:18.630 8360-8403/com.android_project_framework W/AudioTrack: Spurious audio timestamp (system clock mismatch): 266602, 1514276898600376, 22799131781, 5647083, 289792, 288892
12-26 16:28:19.140 8360-840

[2017-12-26 16:04] Iftachbar opened #3643 "Variable speed not work well on android OS 6.0 devices. The audio was sound to be discontinuous"
Hi,
Changing the variable speed to less or more the 1.0 (for example 2.0 or 0.7), on android devices with OS version 6.0, cause the sound to be discontinuous.
Check on Exoplayer demo versions 2.4.x, 2.5.x, 2.6.0 (works well on Exoplayer demo versions 2.3.1), on devices Samsung note 4.0 (OS 6.0) and Samsung tab a (OS 6.0).
In order to change the speed, I add at file PlaybackControlView:
PlaybackPar

[2017-12-26 20:45] anonym24 opened #3644 "Enable heuristic character set detection for SRT subtitles"
### Issue description
Russian subtitles are displayed like <?>  (mb problem with many other languages which don't use Latin/English letters)

related: https://github.com/google/ExoPlayer/issues/3237

![1](https://user-images.githubusercontent.com/8851301/34364410-6706ee6e-ea8e-11e7-8064-909cf6f98688.png)

### Reproduction steps
[code]

### Link to test content
[mkv1.srt.txt](https://github.com/goo

[2017-12-26 21:33] stari4ek opened #3645 "Crash with ArrayIndexOutOfBoundsException from SsaDecoder"
### Issue description
App crashes with callstack
[code]

### Reproduction steps
### Link to test content
I'm getting this issues as automatically submitted in crash reporting system, so I don't have repro or failing media.
It's SSA track (`mimeType=text/x-ssa, language=eng`) from mkv media streamed from _vaders.tv_ service

### Version of ExoPlayer being used
2.6.1

### Device(s) and version(s) of

[2017-12-27 03:59] alexandreprado commented on #91
Hi guys!

Any update on this?

Thank you!

[2017-12-27 09:40] RadhikaBalla commented on #3615
Hii,

 Actually I am trying to print meta data of the following mpegdash stream.
But could not see any data in logcat.

http://183.82.107.32:1935/vod/mp4:sample.mp4/manifest.mpd

*Can u please provide me a sample url with metadata to test? *

On Wed, Dec 20, 2017 at 3:25 PM, tonihei <notifications@github.com> wrote:

--
Thanks&Regards,
Radhika Balla

[2017-12-27 12:37] mdtuyen commented on #3617
thanks

[2017-12-27 12:37] #3617 closed, assigned to nobody

[2017-12-27 12:37] #3638 closed, assigned to nobody

[2017-12-27 17:24] xoceunder commented on #3641
![screenshot_12](https://user-images.githubusercontent.com/12431116/34388303-4061d6c2-eb09-11e7-9d20-582cc00aa0b3.png)

[2017-12-27 18:33] erdemguven commented on #3632
Tried on dev branch HEAD, player stays in buffering state, no error log. Link plays fine on QuickTime player.

[2017-12-27 19:39] erdemguven commented on #3637
For the second part of the question, it's an error to create two Cache instances which store cache files on the same folder. It's OK to access to a single instance of Cache from different threads but there are issues with writing and reading the same content on the cache. In your case as long as you stop the downloader before player resumes it should be fine.

[2017-12-27 20:34] erdemguven commented on #3641
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-12-28 12:12] RadhikaBalla opened #3646 "How to change streams in exoplayer depending on the bandwidth of mobile"
Hello,

  I want to implement adaptive  bit rate streaming in exoplayer. I have 3 different types bit rate streams provided by wowza streaming engine.
http://10.0.0.7:1935/vod/mp4:sample_160p/manifest.mpd
http://10.0.0.7:1935/vod/mp4:sample_380p/manifest.mpd
http://10.0.0.7:1935/vod/mp4:sample_720p/manifest.mpd

How can I change stream if my internet bandwidth is changed without rebuilding the pla

[2017-12-28 12:13] RadhikaBalla commented on #3606
Please help me out with solution.

--
Thanks&Regards,
Radhika Balla

[2017-12-28 13:00] aobeidah opened #3647 "`"main" prio=5 tid=1 Waiting Exo2"
I keep getting an ANR and google reports shows this log on play console especially android 7.0, I am using exoplayer2 v 2.1.1 with IMASDK version 3.7.4..please help..thanks
[code]

[2017-12-28 17:11] yukuku opened #3648 "Can't play this FLAC file despite OK in Chrome and VLC and flac command line."
### Issue description
Cannot play the attached FLAC file with ExoPlayer FLAC extension already compiled (with the JNI). The file can be played in Chrome and VLC and can be decoded using the command line `flac`.

### Reproduction steps
Upload the extracted attachment somewhere. Add an entry to the demo app:
[code]

### Link to test content
[recording-20171228-163208.flac.zip](https://github.com/goo

[2017-12-28 17:11] erdemguven commented on #3646
Normally all different bitrates you provide should be listed in your mpd file then player can automatically switch between them depending on your bandwidth if you use AdaptiveTrackSelection.

[2017-12-28 17:14] erdemguven commented on #3647
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-12-28 17:24] erdemguven commented on #3648
Please try on a real device and let us know the result.

[2017-12-28 17:28] erdemguven commented on #3648
Related #3514

[2017-12-28 18:06] digitalix opened #3649 "ExoPlayer unable to use surface passed via AIDL."
### Issue description
ExoPlayer is unable to use the surface passed between processes. I did some tests and I found out that surface is invalid if used in a different thread than the surface object was passed. Is there any way to force ExoPlayer to render using the thread which called prepare?

### Reproduction steps
The easiest way to reproduce it is to create two projects app and service. Servic

[2017-12-29 06:01] RadhikaBalla commented on #3646
Ok, how to select adaptive Trackselection in exoplayer? how to enable
adaptive trackselection in exoplayer for my stream?

On Thu, Dec 28, 2017 at 10:42 PM, Erdem Guven <notifications@github.com>
wrote:

--
Thanks&Regards,
Radhika Balla

[2017-12-29 07:10] yukuku commented on #3648
I tried to play the APK on OnePlus 5 (Android 7.1). Same stack trace appeared.

[code]

`adb bugreport` is sent by email with subject `#3648 adb bugreport from OnePlus 5`

[2017-12-29 10:05] TarifHatoum commented on #3308
hi, how did you fix this discontinuity issue ?

[2017-12-29 13:22] equistar commented on #3584
Hi @andrewlewis , Any updates on this bug. ?

[2017-12-29 13:31] RadhikaBalla opened #3650 "Live mpeg dash stream getting struck while playing"
Hello guys,

I am using exoplayer-v2 for playing mpegdash live stream. It is getting stuck while playing at the first frame itself. Our video source(transcoder) is rtmp, wowza streaming engine converting that to mpegdash. We are taking that mpeg dash file and trying to play that using exoplayer.  Here I have given my logcat data.

Android Logcat data:

[code]

[2017-12-29 14:22] ncapdevi commented on #3438
This would definitely be great to have. I could look into creating a PR for the matter. @ojw28 Do you have any ideas on where this would live/how this would best be implemented?

[2017-12-29 18:35] erdemguven commented on #3650
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-12-29 18:39] erdemguven commented on #3646
Please look at the demo app code for an example of how AdaptiveTrackSelection
is used.

[2017-12-29 20:27] piatt commented on #3630
I am experiencing a similar issue, except my app crashes trying to parse the UUID from the the defaultKid string. I too have no control over the manifests, but it seems that the switch statement in the parseContentProtection method changed from 2.5.4 to 2.6.0, and now does not allow me to proceed for DASH Widevine parsing. Here is a sample of a manifest my app might use:

[code]
And here is the ex

[2017-12-29 22:22] albrizy commented on #3644
i solve with [ICU4J](https://mvnrepository.com/artifact/com.ibm.icu/icu4j)

`CharsetDetector detector...`
`detector.setText(InputStream)`
`Reader reader = detector.detect().getReader()`
`Writer writer = new OutputStreamWriter(FileOutputStream, "UTF-8")`

[demo](https://www.facebook.com/duke.aby/videos/1950545274961887/)

[2017-12-30 08:27] Aditya94A opened #3651 "Is there a trick to speeding up buffering?"
### The issue

When the playback begins or when you seek to a position, there's a very noticeable lag of a few hundreds of milliseconds. After jumping through several stack overflow questions and github issues and blog posts and what not, apparently this is because ExoPlayer (or rather any video player) needs to build the seeked frame from the previous key frame.

My question is, how do popular vi

[2017-12-31 07:17] ramt57 commented on #3410
you should always use defaultdatasource.
[code]

[2017-12-31 08:53] AntonAFA opened #3653 "HLS - AVC/HEVC track formats incorrectly assigned same mime type"
Hello. Please consider following manifests.
Both of them contains HEVC and AVC codecs.

1. DASH -
http://cfvod.kaltura.com/dash/p/2035982/sp/203598200/serveFlavor/entryId/0_3ygb9zlt/v/2/pv/7/flavorId/0_,e8rbw59u,uf2z04po,oipic3cp,pyy89j5i,8o51rwag,i3u1m33j,77bwa8xe,a2xc8gja,ypuer7a3,8cyfpyos,vby88nhm,/name/a.mp4.urlset/manifest.mpd

2. HLS - http://cfvod.kaltura.com/hls/p/2035982/sp/203598200/serv

[2017-12-31 11:16] saschpe opened #3654 "OutOfMemoryError in DefaultAudioSink"
Happened on: Sony BRAVIA 4K 2015 (SVP-DTV15), 2560MB RAM, Android 6.0
Can likely be reproduced with the UniversalMediaPlayer example using ExoPlayer. Not sure if it's the device's fault or the lib since there is a native call involved and it's hard to debug what happens there.

[code]

[2017-12-31 11:38] OrenMe commented on #3500
@nyminh90 are you able to get codec data per variant?
I have a mixed playlist with both h264 and hevc and I a device which supports hevc and I get all tracks supported but all of them are flagged as hevc codec, even the h264 ones.

[2017-12-31 16:52] AquilesCanta commented on #3639
Passing 0 as the selection flags for the track's format should do the trick. The SELECTION_FLAG_AUTOSELECT is currently ignored by the selector and only tracks that are marked as default or forced or whose language matches the preferred language are selected. If none of these happen, no text track will be selected. To sum up, make sure you don't have any preferred language selected in the default

[2017-12-31 16:52] #3639 closed, assigned to nobody

[2017-12-31 20:47] tprochazka commented on #3622
I have the same crash on 2.6.0 and I'm not changing audio track.

[2018-01-01 08:21] ElizaSapir commented on #3653
+1

[2018-01-01 11:51] alexcohn commented on #3520
While the [bug](https://bugs.chromium.org/p/webm/issues/detail?id=1476) is being taken care of, here is a workaround:

    ../../libvpx/configure --target=armv7-android-gcc --sdk-path=/data/SDK/NDK/android-ndk-r16 --enable-neon --enable-neon-asm --disable-examples --disable-docs --enable-realtime-only --disable-vp8 --disable-vp9-encoder --disable-webm-io --disable-libyuv --disable-runtime-cpu-dete

[2018-01-01 13:18] anonym24 commented on #3644
@albrizy do you mean re-saving subtitle files (.srt)?

[2018-01-01 14:56] anonym24 commented on #3644
resaving a file it's quite a hardcore job)

we can just edit `decode` method (of `SimpleSubtitleDecoder` class)

https://github.com/google/ExoPlayer/blob/1b66908f7d79b6891d8d99705470797640457e72/library/core/src/main/java/com/google/android/exoplayer2/text/SimpleSubtitleDecoder.java#L66

[code]

so I just fix here byte array (without rewriting a file)

I also pass `array.length` as _limit_ instead

[2018-01-01 15:16] xoceunder opened #3655 "problem when supporting video format"
problem when supporting video format hevc

[2018-01-01 17:03] anonym24 commented on #3644
if using external subtitles we also don't need to reset it every time we change our position https://github.com/google/ExoPlayer/blob/1b66908f7d79b6891d8d99705470797640457e72/library/core/src/main/java/com/google/android/exoplayer2/BaseRenderer.java#L134

`onPositionReset(positionUs, false);` // bypass for external subtitles (don't call it)

cause we already have buffer with all preloaded strings

[2018-01-02 00:16] ojw28 commented on #3655
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-01-02 00:16] #3655 closed, assigned to nobody

[2018-01-02 00:22] ojw28 commented on #3651
They are probably seeking to the nearest keyframe, rather than the nearest frame (i.e. less accurate, but faster).

Work is actively underway to support keyframe accurate seeking in ExoPlayer, and is already functional in the `dev-v2` branch when playing regular progressive media files. This work is being tracked in https://github.com/google/ExoPlayer/issues/2882, so closing this as a duplicate.

[2018-01-02 00:22] #3651 closed, assigned to nobody

[2018-01-02 00:48] ojw28 commented on #3653
Answering the question parts:

* It's correct behavior that the DASH manifest results in two TrackGroups where-as the HLS manifests only results in one. This correctly mirrors the different structures in the manifests themselves. For the DASH manifest to result in a single TrackGroup you'd need either (a) AVC and HEVC Representation elements to be contained by a single AdaptationSet element in the

[2018-01-02 00:50] ojw28 commented on #3500
@OrenMe - I think the behavior you're observing is a bug. We're tracking the issue in https://github.com/google/ExoPlayer/issues/3653.

[2018-01-02 00:53] ojw28 commented on #3648
Marking as duplicate of #3514.

[2018-01-02 00:53] #3648 closed, assigned to erdemguven

[2018-01-02 00:54] ojw28 commented on #3514
A further occurrence of this issue is described (with bug report) in https://github.com/google/ExoPlayer/issues/3648.

[2018-01-02 01:00] ojw28 commented on #3615
* Are you sure these streams even contain metadata? If so, where in the stream and in what format? Are you aware of another player that's able to extract metadata from these streams successfully?
* The links provided don't load for me. Please answer the question above and provide working links (that are not geo-restricted) if you wish for us to investigate further. Thanks!

[2018-01-02 01:33] ojw28 commented on #3643
This likely occurs on debug builds of your app only, as explained [here](https://github.com/google/ExoPlayer/issues/26#issuecomment-296133260). It's likely that release builds of your app are unaffected. Closing for now, but please let us know if this does occur when using a release build. Thanks!

[2018-01-02 01:33] #3643 closed, assigned to nobody

[2018-01-02 01:43] ojw28 commented on #3633
I don't think this is the right place to report end user app issues, sorry. Such issues should be reported to the app developers, who are the right people to investigate in the first instance. They can contact us if they believe there's an underlying issue in ExoPlayer (or the underlying Android platform).

I don't think this is accurate for Shield.

[2018-01-02 01:43] #3633 closed, assigned to nobody

[2018-01-02 08:28] andrewlewis commented on #3636
Call [`ImaAdsLoader.requestAds`](https://github.com/google/ExoPlayer/blob/dev-v2-r2.6.1/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L330) to request the ad tag before preparing the player

In case you want to play just the content if the ad tag hasn't loaded by the time you need to prepare the player: you could call `ImaAdsLoader.getAdsLoader`, attach your

[2018-01-02 08:28] #3636 closed, assigned to andrewlewis

[2018-01-02 08:42] andrewlewis commented on #3627
The linked bug report doesn't include `DUMP OF SERVICE media.audio_flinger` or full logcat, which would be useful for diagnosing this. Please could you try capturing it again?

[2018-01-02 08:48] andrewlewis commented on #3642
The `android.media.AudioTrack` is behaving in an unexpected way: it has provided a timestamp nano time that is not consistent with the device's clock. It's likely to be a device-specific issue. Please could you provide a full bug report captured with `adb bugreport`?

[2018-01-02 09:24] tonihei commented on #3654
Could you add some reproduction steps for us to have a look?  If at all possible, please also include a full bug report to see what may have caused this issue.

[2018-01-02 09:46] chillsweet commented on #3632
It's happen only audio file convert to m3u8

there are other links that get this problem too

https://live-s2.cocodemy.com/content2/a2.m4a/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9MDEvMDIvMjAxOCAwOTo0NTo1MSBBTSZoYXNoX3ZhbHVlPVU1eCtPZTYvN3hGVmhaMHlUeWNQeEE9PSZ2YWxpZG1pbnV0ZXM9MTA=

https://live-s2.cocodemy.com/content2/53.mp3/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9MDEvMDIvMjAxOCAwOTozNToyNCBBTS

[2018-01-02 11:27] qvk commented on #3639
That worked!

I was using `Format.NO_VALUE` for `selectionFlags` argument in `Format#createTextSampleFormat` earlier which didn't work as desired. Using `0` for `selectionFlags` for creating formats for all the text sources made sure no text tracks were automatically selected.

Thanks! :)

[2018-01-02 15:00] #3646 closed, assigned to erdemguven

[2018-01-02 15:06] #3271 closed, assigned to nobody

[2018-01-02 15:17] #3279 closed, assigned to andrewlewis

[2018-01-02 15:28] andrewlewis commented on #2856
@drhill Is this still reproducible with the latest system update for the NVIDIA Shield?

[2018-01-02 15:34] #2750 closed, assigned to tonihei

[2018-01-02 15:36] tonihei commented on #3022
Closing due to inactivity.

[2018-01-02 15:36] #3022 closed, assigned to tonihei

[2018-01-02 15:36] #3048 closed, assigned to tonihei

[2018-01-02 15:42] drhill commented on #2856
Just tested with my app on Shield SW 6.2.  It returns to normal from PIP, but when you send it to PIP mode it initially shrinks the video playback to top left corner of the shrunken window and then if you hit the home key (or double press it to open up PIP options) the playback shifts to mostly below the bottom of the window.  You can see around the top black frame of a 2.35 video in the lower lef

[2018-01-02 15:49] tonihei commented on #3132
Closing due to inactivity. If your issue hasn't been addressed yet, please let us know.

[2018-01-02 15:49] #3132 closed, assigned to tonihei

[2018-01-02 15:52] tonihei commented on #3481
Closing the issue for now as the underlying cause is tracked with Samsung.

[2018-01-02 15:52] #3481 closed, assigned to tonihei

[2018-01-02 16:09] tonihei commented on #3555
This error message may appear if you use a Cronet version requiring Java 8 features and it's not enabled in your code.

Can you make sure that both the gradle file of the ExoPlayer Cronet extension and the gradle file of your app have Java 8 features enabled?
The gradle files should contain
[code]

[2018-01-02 17:02] ojw28 commented on #2681
Closing due to inactivity.

[2018-01-02 17:02] #2681 closed, assigned to ojw28

[2018-01-02 17:04] ojw28 commented on #3386
Samsung have indicated this will be fixed in future device software updates. Closing, since it's not an ExoPlayer issue and I don't think we have a sensible workaround that we can apply on those devices currently affected (unfortunately).

[2018-01-02 17:04] #3386 closed, assigned to ojw28

[2018-01-02 17:05] ojw28 commented on #3501
Closing due to inactivity.

[2018-01-02 17:05] #3501 closed, assigned to ojw28

[2018-01-02 17:09] brAzzi64 commented on #3419
Hi Andrew, sorry I never got to reply, wanted to give an update just for reference.

In the end I had figured out a way to do it with the following (though pretty hacky) approach, which required a change in ExoPlayer: adding an extra AudioTrack::resetAudioProcessors() call in AudioTrack::reset().

1) Wait for the onPositionDiscontinuity call (with state == READY and playWhenReady == true) and veri

[2018-01-02 17:34] ojw28 commented on #3645
There are two parts to this:

1. We intend for our text decoders to be robust against malformed content, meaning we want them to log warnings and carry on rather than failing playbacks. An approach where decoder errors are caught and suppressed at the top level doesn't work well for achieving this, since it's hard to verify that the decoder state is sensible to carry on (playback would never fail,

[2018-01-02 17:43] ojw28 commented on #2409
If the end goal is to enable playback at more than 1x speed in a way that doesn't cause video to freeze indefinitely, then I think that should work reasonably well as of `2.6.0` without you needing to do anything special. This is because `MediaCodecVideoRenderer` now automatically skips to key-frames in this kind of case. The relevant line in the 2.6.0 release notes is:

If you really need to ensu

[2018-01-02 17:43] #2409 closed, assigned to ojw28

[2018-01-02 17:54] ojw28 commented on #2238
It's now possible to optimize short seek performance by providing a `LoadControl` that returns true from `retainBackBufferFromKeyframe`. It's disabled by default because enabling it incurs an additional memory cost, the size of which is dependent on the media being played (specifically, how far apart key-frames may be spaced in the media). Apps that know something about the media they play (e.g. s

[2018-01-02 17:54] #2238 closed, assigned to ojw28

[2018-01-02 17:59] ojw28 commented on #1200
We now always attempt to play the lowest quality video format, even if it exceeds the reported device capabilities. This is enabled by default, and so should resolve this issue. If the lowest quality really does exceed the capabilities of the device, you'd expect to receive a playback failure via `Player.EventListener.onPlayerError`.

[2018-01-02 17:59] #1200 closed

[2018-01-02 18:01] devnullpointer opened #3657 "Is it possible to set volume greater than 1.0f (amplification)"
### Issue description
Is it possible to set the volume in exoplayer to a value greater than 1.0f to create an "amplification" effect for videos that have been recorded with low audio levels?

### Reproduction steps
1) add a seekbar in the overriden exo_playback_control_view
2) add the following onseekbarchangelistener in the player activity
[code]
Any volume level greater than 1.0f has no audio ef

[2018-01-02 18:06] ojw28 commented on #2597
Duplicate of #3531.

[2018-01-02 18:06] #2597 closed, assigned to ojw28

[2018-01-02 18:06] #3531 closed, assigned to ojw28

[2018-01-02 18:13] ojw28 commented on #3629
We unfortunately do not have enough time to look through everyone's source code. The issue may also be caused by other code in your application, not included above.

If you're able to provide complete information including reproduction steps using the ExoPlayer demo app, please do so here and we'll re-open the issue. Else best guess remains that this is an application bug.

[2018-01-02 18:18] ojw28 commented on #3008
@drhill - If it's just that package (i.e. the three files), and if you could provide a few pieces of test content, then that looks like something we could get merged relatively easily. We'd really need the files sent as a proper pull request from yourself though; it's important that we have a proper attribution trail for all changes we accept. Thanks!

[2018-01-02 18:19] ojw28 commented on #3127
Closing since it sounds like there's a straightforward solution to this.

[2018-01-02 18:19] #3127 closed, assigned to ojw28

[2018-01-02 18:22] #2390 closed, assigned to ojw28

[2018-01-02 18:28] ojw28 commented on #1948
Behavior for this case was much improved in 2.6.0. The relevant entry in the release notes is:

@andrewlewis - This can probable be closed at this point, or duped if there's a still open issue tracking further improvements. Note one idea hinted at in this thread is to automatically switch down to a lower quality if the playback is adaptive. Might be something to add to the list of possible further

[2018-01-02 18:31] ojw28 commented on #2777
I think this is fixed in 2.6.0. @andrewlewis - Can this be closed? Thanks!

[2018-01-02 18:32] ojw28 commented on #3490
Closing due to lack of required information.

[2018-01-02 18:32] #3490 closed, assigned to ojw28

[2018-01-02 18:35] ojw28 commented on #3599
@AquilesCanta - Can you see any way this can occur? If not (and unless new information is provided), then I think it's OK to go ahead and close this issue.

[2018-01-02 18:54] ojw28 commented on #3632
The issue is that the media segments are mp3 segments, but they're named with a `.ts` file extension.

* Changing the segment file extensions to `.mp3` on the serving side (and updating the media playlist accordingly) will allow the content to be played successfully. If you control the serving side then this is by far the best way for you to resolve the issue, since the file extensions are incorre

[2018-01-02 18:55] #3547 closed, assigned to ojw28

[2018-01-02 18:55] ojw28 commented on #3502
Closing due to lack of information that would allow us to (efficiently) reproduce the problem.

[2018-01-02 18:55] #3502 closed, assigned to ojw28

[2018-01-02 19:21] piatt commented on #2394
Any updates on ETA for this? I also have the same need. Thanks!

[2018-01-02 19:57] ojw28 commented on #3275
`SimpleExoPlayerView` doesn't support this use case directly, so you'll need to do a bit more work yourself.

The easiest approach is to use `TextureView` directly, by adding it to your layout and using `SimpleExoPlayer.setVideoTextureView`. Once using a `TextureView` you should be able to call `TextureView.setTransform` to set the desired rotation and transformation. You may need to listen to `Si

[2018-01-02 19:57] #3275 closed, assigned to ojw28

[2018-01-02 20:01] ojw28 commented on #3434
Closing because this question is answered above (and because images aren't supported by the library directly, as noted in #2874).

[2018-01-02 20:01] #3434 closed, assigned to ojw28

[2018-01-02 20:15] ojw28 commented on #3199
It's just not intended for that purpose. One example of a way in which this interface is not designed for the purpose you describe is that events are posted to the listener on a specified looper thread. If it were intended to be used by playback logic then the listener would be called directly on the playback thread and/or expose getters suitable for calling directly from the playback thread. Anot

[2018-01-02 20:15] #3199 closed, assigned to ojw28

[2018-01-02 20:19] ojw28 commented on #3555
Should we update `README.md` to document this?

[2018-01-02 20:24] ojw28 commented on #3438
I can't think of an easy way of implementing this given the current architecture (i.e. I think it would require some major surgery). Sorry I can't be more helpful. @andrewlewis - Any ideas?

[2018-01-02 20:32] ojw28 commented on #3103
I doubt there exist platform APIs that would expose the information we'd need to perform such a check. If you're aware of a way to do this, please feel free to suggest it here. Closing for now on the assumption the OEM/carrier would need to provide a platform software update to resolve the issue.

[2018-01-02 20:32] #3103 closed, assigned to ojw28

[2018-01-02 20:46] ojw28 commented on #3476
The bug report provided isn't captured shortly after encountering the issue, and so doesn't contain the relevant logging. We still lack the information necessary to investigate this further. Closing for now, but if you're able to provide a bug report that captures the failure properly, please do so here and we'll take another look.

[2018-01-02 20:46] #3476 closed, assigned to ojw28

[2018-01-02 20:48] ojw28 commented on #2141
Closing because it's unclear what the question is.

[2018-01-02 20:48] #2141 closed, assigned to ojw28

[2018-01-02 20:53] ojw28 commented on #3630
Does your app really crash (i.e. the process actually dies because the exception is uncaught), or is it just that playback fails? If your app really crashes, please provide the complete stack trace (i.e. there must be more call stack calling into `DashManifestParser.parse`). Thanks.

[2018-01-02 20:55] ojw28 commented on #3308
@Anonymous123456789123 - The fix would have been on the serving side (i.e. it's a content issue), and would have been to properly include EXT-X-DISCONTINUITY tags in the media playlist as per the HLS spec even when the request headers were present.

[2018-01-02 21:00] ojw28 commented on #3637
For the first part of the question: We don't stop buffering when the player is paused. We stop buffering when the criteria for how much media should be buffered is reached, which is independent of whether the player is paused or not. You can customize how much media is buffered by instantiating a `DefaultLoadControl` using one of the constructors that allows specifying minimum and maximum buffer d

[2018-01-02 21:18] ojw28 commented on #3649
Is this specific to the XZ1 or some subset of devices, or does it happen on all devices?

What does "was passed" mean in this sentence (i.e. what specific method call are you referring to)?

Intuitively it feels unlikely to me that this is true. The error strongly implies the surface really has been released, as opposed to it just being accessed on the wrong thread, in which case the correct fix s

[2018-01-02 21:25] ojw28 commented on #342
It's an enhancement, which is why it's marked as such. We do not have any updates on if or when we'll support this yet, sorry.

[2018-01-02 21:26] piatt commented on #3630
My application does not crash, since I catch the exception, but the exception is received via the onPlayerError listener method, as a ExoPlaybackException, with the cause of the error being the UUID stacktrace above.

[2018-01-02 21:34] ojw28 commented on #2959
Sorry we didn't follow up on this. The good news is the emailed link still appears to be valid, so we can take a look and see if we can reproduce.

[2018-01-02 21:46] wvpaf commented on #2524
Hi,
I looks like this issue was addressed in N. Can you update the device and retest?
Thanks.

[2018-01-02 21:46] ojw28 commented on #3492
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-01-02 21:46] #3492 closed, assigned to ojw28

[2018-01-02 22:23] digitalix commented on #3649
Thanks for the reply!
By "was passed" I mean I've made a method using AIDL "setSurface(Surface surface)" once my app is connected to the service which runs in the different process my app calls this method and the implementation on the service side calls "setVideoSurface()" which results in the error.

Also, it happens on Sony Xperia Z5 (Android 7.1) as well.

In the past few days, I've found a wa

[2018-01-02 22:47] emdash-ie commented on #3199
Cool, thanks for the detailed answer – I appreciate the explanation :)

[2018-01-02 23:20] wvpaf commented on #3310
closing due to inactivity.

[2018-01-02 23:26] wvpaf commented on #3220
Thank you for the ADB log snippet we can see the -2990 error however having the entire log may be helpful.

[2018-01-02 23:29] #3310 closed, assigned to nobody

[2018-01-02 23:31] wvpaf commented on #3143
closing due to inactivity.

[2018-01-02 23:31] #3143 closed, assigned to nobody

[2018-01-02 23:57] digitalix commented on #3649
I tried to create the sample app but I was no longer able to reproduce it. Then I tested it again on my app and it works there as well. Now I think that I maybe the surface was recreated or something in meantime but I need to do more testing.

Looks like it was my fault, I'll try to do some more testing to find out what is going.

Please leave it open for a few days more in case if it wasn't my fa

[2018-01-03 02:53] magiclu commented on #3537
@ojw28
@tonihei
why it is closed?i just updated my phone to the latest update,january 5,2018,still the same,not fixed

[2018-01-03 04:10] jinminghe commented on #2777
I can still reproduce this bug on latest dev-v2 branch:

In PlayerActivity::initializePlayer(), add
`player.setPlaybackParameters(new PlaybackParameters(2.0f, 1.0f));`
Then build and install the demo app on a Google Pixel Phone with Android 7.1, run the demo app, and play a 1080p video, for example, Misc -> Screens 1080p (FMP4, H264, No Audio)

Can you see if the above steps reproduce the bug for

[2018-01-03 04:34] ram992 commented on #3143
@wvpaf, please don't lock the conversation, I will provide an adb report once I am able to get a device for a longer time.

[2018-01-03 07:12] ghost opened #3658 "ExoPlayer not supporting .mxg format."
is it possible to play .mxg format in exoplayer ?

[2018-01-03 08:38] andrewlewis commented on #2777
Yes, I think this can be closed: video renderers now skip to keyframes if their decoders can't keep up.

@jinminghe That sample plays as expected at high playback speeds for me: video is not smooth but keyframes are now shown (the old behavior was that one video frame was shown then video was frozen for the duration of playback). In the demo app you should see that a frame is rendered occasionally

[2018-01-03 08:38] #2777 closed, assigned to andrewlewis

[2018-01-03 08:48] andrewlewis commented on #3657
It should be possible to implement this kind of postprocessing via a custom `AudioProcessor`. Marking as an enhancement for now, but it's unlikely we will get round to it soon. Feel free to send a PR.

[2018-01-03 09:06] tonihei commented on #3537
Closed it because it was marked as a question and got answered.
@ojw28  Is there still something we can do about it?

[2018-01-03 09:09] tonihei commented on #3555
Yes, that would make sense to avoid confusion about this point.

[2018-01-03 09:11] andrewlewis commented on #2550
@mcd2000 Is this still reproducible with the latest system update for the device? There has unfortunately not been any activity on the internal bug [reference: b/36680230]. I can ask for an update again but it would be good to know that this is still broken first. Thanks in advance.

[2018-01-03 09:39] magiclu commented on #3537
@tonihei
should be marked as device specific issue
after pixel can play 10bit hevc video like other phones with the same soc,you guys can close this issue

i thought this issue is on your to-do list

[2018-01-03 09:39] tonihei commented on #3658
Please take a look at [the list of supported formats.](https://google.github.io/ExoPlayer/supported-formats.html). Mxg is not part of the list and unless it's an alias for another format, we unfortunately don't support this at the moment. I suggest to convert your data to a more common format if possible.

Could you provide some more details what your files contain, or provide an example file? If

[2018-01-03 09:43] tonihei commented on #3537
Re-open it then :)

[2018-01-03 09:47] tonihei commented on #2750
Closed the issue because it was either answered or we never received the information. Feel free to re-open if this is not the case.

[2018-01-03 10:00] ghost commented on #3658
I have combined sequence of JPG file into .MXG format. I am able to play the video with VLC media player. But I am unable to play with ExoPlayer code

[2018-01-03 10:07] tonihei commented on #3658
ExoPlayer does not support playing images. Please have a look at #2874 or #3434 where similar questions have already been answered.

[2018-01-03 12:08] andrewlewis commented on #3419
Thanks for the update. That sounds reasonable, as long as songs have enough silence at the start so that no audio from the new song is output between the player starting to play the next song and handling `onPositionDiscontinuity`/pausing the player (if you're not doing gapless playback, this is perhaps fine to assume).

As a general rule, to get this kind of synchronization perfect it is necessar

[2018-01-03 12:08] #3419 closed, assigned to andrewlewis

[2018-01-03 12:44] ojw28 commented on #3537
@andrewlewis - Did we establish the original Pixel not supporting 10bit hevc was intentional?

[2018-01-03 13:01] andrewlewis commented on #3537
I've filed an internal bug to ask about this [reference: b/71528571] and will update this if/when we get a reply.

There is no standard way to get 10-bit output on these devices so even if this feature can be supported the output would be in 8-bit (but that sounds fine if the request is just to be able to decode these streams at all).

[2018-01-03 13:42] ojw28 commented on #3645
SsaDecoder has been made robust against this issue, and this change has been included in 2.6.1. A subsequent change avoids crashing the process will land in dev-v2 shortly, for inclusion in subsequent releases.

[2018-01-03 13:42] #3645 closed, assigned to ojw28

[2018-01-03 13:43] ojw28 commented on #2439
Fixed in dev-v2.

[2018-01-03 13:43] #2439 closed, assigned to ojw28

[2018-01-03 13:44] andrewlewis commented on #3349
There is currently no way to have ExoPlayer automatically adjust the audio volume to normalize the volume of songs in a concatenation, and I doubt we will implement this functionality as we'd need to scan and analyze all media that will be played to do the normalization. So for now I'm going to close this as it's infeasible.

If possible I'd suggest re-encoding the tracks so that their volumes are

[2018-01-03 13:44] #3349 closed, assigned to andrewlewis

[2018-01-03 13:48] andrewlewis commented on #3657
Marking as a duplicate of #2659 as that is also a request for a volume controlling `AudioProcessor`.

[2018-01-03 13:48] #3657 closed, assigned to andrewlewis

[2018-01-03 13:55] andrewlewis commented on #1948
Yes, switching down adaptive playbacks if decoding can't keep up is on the list. Thanks.

[2018-01-03 13:55] #1948 closed, assigned to andrewlewis

[2018-01-03 13:58] #3379 closed, assigned to andrewlewis

[2018-01-03 14:01] andrewlewis commented on #1741
#1993 is a similar issue about supporting `AudioDeviceInfo` so marking this as a duplicate. This is still on our radar but I'm afraid other higher priority items have come up.

[2018-01-03 14:01] #1741 closed, assigned to andrewlewis

[2018-01-03 14:38] jinminghe commented on #2777
@andrewlewis Thanks. Thought the frame drops were same as 'frozen'.

[2018-01-03 14:39] ojw28 commented on #2189
This functionality is now available to try in the dev-v2 branch.

[2018-01-03 14:43] #2189 closed, assigned to tonihei

[2018-01-03 15:27] ojw28 commented on #3630
@piatt - I took a look at your example. The manifest is not spec compliant, and unfortunately failure is expected in this case. We have no plan to mitigate the issue unless it turns out to be a widespread problem, so I suggest you contact whoever's content you're attempting to play and ask them to fix it. The reason it fails now when it didn't previously is that we're parsing more elements from th

[2018-01-03 15:49] piatt commented on #3630
@ojw28 thanks for letting me know. I can try your workaround in the interim, but could you provide a couple of technical specifics or point me to spec reqs that I could bring to the manifest vendor as items that would need to change? Any help would be much appreciated!

[2018-01-03 15:55] ojw28 commented on #3630
The only thing wrong with the manifest is that the UUID we're failing to parse is missing a dash where there should be one. It's in the manifest as:
[code]
But it should be:
[code]
See: https://en.wikipedia.org/wiki/Universally_unique_identifier

[2018-01-03 16:10] ojw28 commented on #3630
@llooz - I think our plan is to optimistically attempt playback of media in the case you describe (printing a warning to logcat). Playback will then fail a bit later in the initialization process if scheme specific DRM init data for the correct scheme (Widevine) isn't present in the streams themselves.

[2018-01-03 16:18] letianxu commented on #3630
@ojw28 We have experienced the same issue here: in 2.5.4 parsing content protection is omitted, so when using DashUtil.loadDrmInitData, it goes to DashUtil.loadSampleFormat to get drmInitData; while in 2.6.0 it parses content protection, but drmInitData.data is null, which will causes DefaultDrmSessionManager.acquireSession failure.

[2018-01-03 17:29] piatt commented on #3630
@ojw28 thank you for you help!

[2018-01-03 17:38] smelfungus opened #3660 "2.6.1 ProGuard Issue"
Hi there! Looks like 2.6.1 update brought some unhandled ProGuard issues:
[code]

[2018-01-03 17:45] ojw28 commented on #3660
Please provide reproduction steps. Thanks.

[2018-01-03 17:51] OfekRegev opened #3661 "DynamicConcatenatingMediaSource with non reusable URLs"
I'm using DynamicConcatenatingMediaSource. I'm loading a playlist from SQL and adding all the URLs (expired or not) to the player.
The problem is :
My URL which contains the file expire 4 hours after  the request. I need a way to check before the player loads each MediaSource if the MediaSource's URL is expired or not and if so the player should stop the media source loading and request a new URL

[2018-01-03 17:52] smelfungus commented on #3660
@ojw28 Hi there! Just attempt to build a project with ProGuard enabled.

[2018-01-03 18:01] ojw28 commented on #3660
I tried and it seemed to work fine. I have no idea whether I'm actually doing the same thing as you though, because you haven't provided any proper reproduction steps. Please do so. If it's as simple as claimed, it should be pretty trivial to provide detailed steps that anyone could follow to reproduce these warnings with the ExoPlayer demo app?

[2018-01-03 18:22] wvpaf commented on #3143
@ram992 you are able to reopen this case once you have more info to share.

[2018-01-03 18:36] smelfungus commented on #3660
@ojw28 I see, sorry for misunderstanding.
Will check with the sample and give a feedback asap.

[2018-01-03 19:35] jazimm commented on #3584
I'm experiencing the same issue when the response is empty. Rather than the empty ad being skipped and content resuming the player simply hangs.

[2018-01-03 22:24] weizhaoj opened #3662 "Failed to play encrypted stream."
### Issue description
Version: ExoPlayer-release-v2
I added below stream source for test:

{
    "name": "Playready 4.0 tests",
    "samples": [
      {
        "name": "MP4 CENC CBCS (clear)",
        "uri": "https://test.playready.microsoft.com/media/dash/APPLEENC_CBCS_BBB_1080p/clear/bbb_sunflower_1080p_60fps_normal.mp4"
      },
      {
        "name": "MPEG-DASH (protected)",
        "uri": "

[2018-01-03 22:33] weizhaoj commented on #3662
[logcat.txt](https://github.com/google/ExoPlayer/files/1601905/logcat.txt)
Attached the whole log which contains crash log

[2018-01-04 01:15] ncapdevi opened #3663 "Wrapping DynamicConcatenatingMediaSource"
I know that `DynamicConcatenatingMediaSource` is final, but according to this issue #3400 you should be able to use composition. However, when I try that, and using

`dcMediaSource.prepareSource(player, false) { source, timeline, manifest -> listener?.onSourceInfoRefreshed(source, timeline, manifest) }`

The media stays in buffering. Looking at the prepareSource for `DynamicConcatenatingMediaSourc

[2018-01-04 01:22] weizhaoj commented on #3627
After switch to another version of Exoplayer, clear stream can play well, but got crash when play encrypted stream(AES CENC CBCS).
So, close this one....

[2018-01-04 02:52] zijing07 commented on #1874
Wow! That's really good news! Thanks very much!

[2018-01-04 05:39] chillsweet commented on #3632
@ojw28 thank you for your solution
I think choice 2 is the best solution now
but I can't find any example code for implement `HlsExtractorFactory`.

Could you please give me an example about HlsExtractorFactory, so I can use it to finish my HlsMediaSource.

[2018-01-04 05:49] nelson-xia commented on #3520
The pointed NDK version has been told in the VP9 readme and workaround method has been provided. Thanks for all developers ;)

[2018-01-04 05:49] #3520 closed, assigned to andrewlewis

[2018-01-04 06:21] yangchaojiang commented on #3598
Can this problem be repaired?

[2018-01-04 06:37] jeevarajp opened #3664 "IMA extension: Ads playback without internet connection"
I am using exoplayer (with IMA) version 2.6.0

I followed exactly same steps in https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea blog.

I have video content and advertisement content (ad xml and ad video) in my local intranet.  I connected my local intranet wifi from a mobile, so that I can access my video content and ads content without internet.

If I enable int

[2018-01-04 07:57] admobwebmaster opened #3665 "Run this type of link"
Hello, how are you!
Friend how do I make my exoplayer accept wheel the link below?

[2018-01-04 09:13] tonihei commented on #3665
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).
If you’re able to provide complete information as requested in the issue template,

[2018-01-04 09:13] #3665 closed, assigned to nobody

[2018-01-04 09:19] tonihei commented on #3632
Did you have a look at the interface here: [HlsExtractorFactory](https://github.com/google/ExoPlayer/blob/release-v2/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsExtractorFactory.java)
And our default implementation: [DefaultHlsExtractorFactory](https://github.com/google/ExoPlayer/blob/release-v2/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/DefaultHls

[2018-01-04 09:25] kuldiep opened #3666 "Exo Player event listner callback issue"
### Issue description
in onPause() of activity i am passing false to player.setPlayerWhenReady(), i press home button of phone so onPause() of activity got called but i keep app in background, i am not removing from stack, after around 20 mins i re open the app so onStart() of activity got called where initialize exoplayer again and i pass valid video url, then i pass player.setPlayerWhenReady(tru

[2018-01-04 09:33] tonihei commented on #3663
Can you give some more details on what you're trying to achieve? Issue #3400 was actually about wrapping an `ExtractorMediaSource` (which is then used as a single item in a concatenation).

In any case, if you use composition for any `MediaSource` you need to make sure to forward all method calls to the relevant inner instance. For the `prepareSource` call in particular you need to use `false` for

[2018-01-04 09:34] shaopx commented on #3601
i face the same issue.
when I do portrait and landscape switch more than 3 times . this exception will occur, I guess somehow the surface is not available during the switching.  But i dont know how to fix it.

[2018-01-04 09:36] tonihei commented on #3666
Could you provide us with the information requested in the issue template [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE)? In particular, we need details about the reported error for further investigation.

[2018-01-04 09:36] andrewlewis commented on #3664
I think internet access is necessary for using the Android IMA SDK, which our IMA extension depends on. Most of the functionality is implemented in JavaScript, which is loaded from a remote URL in a `WebView`.

Is using the IMA SDK a requirement for your use case? If not, you can still use ExoPlayer to play ads but using your own implementation of [`AdsLoader`](https://github.com/google/ExoPlayer/

[2018-01-04 09:53] kuldiep commented on #3666
@tonihei  thanks for looking into the question .. i have edited my issue as per given template.

[2018-01-04 10:02] tonihei commented on #3661
Based on the information you provided, I think you can solve your problem by using a custom `DataSource`  implementation which wraps the actual data source and takes care of the URL update.

Some background: `DynamicConcatenatingMediaSource` calls `mediaSource.prepareSource` for each  playlist item immediately after adding the item. So, as you pointed out, this is not a good place to make this che

[2018-01-04 10:07] chillsweet commented on #3632
@tonihei
I follow your suggestion and now I can play the mp3 link
Thank you so much 👍

[2018-01-04 10:18] tonihei commented on #3666
I added
[code]
to the `onPause` method of our demo app and I wasn't able to reproduce the error. I didn't wait 20 min though. Does that make a difference whether you wait for 20 minutes or just a short time?

Also, could you please give us the stack trace of the error or even better a full bugreport? And just for clarification - did you get this error in our demo app or your own app? It would be r

[2018-01-04 10:20] jeevarajp commented on #3664
thanks for your comments @andrewlewis.

@marcbaechinger please give me your guidance here.

[2018-01-04 10:30] OfekAshkenazi commented on #3661
Thanks a lot!
That's exactly what I was loo

[2018-01-04 10:32] OfekRegev commented on #3661
Thanks a lot!
That's exactly what I was looking for.

[2018-01-04 10:36] ojw28 commented on #3632
Issue needs to remain open to track this:

[2018-01-04 10:44] tonihei commented on #3661
Closing for now as your question seems to be answered. Feel free to reopen if necessary.

[2018-01-04 10:44] #3661 closed, assigned to tonihei

[2018-01-04 11:15] tonihei commented on #3662
You are using a version of ExoPlayer which is about a year old and before we added support for CBCS encryption. You can try updating to the latest version to see if it solves your problem?

[2018-01-04 11:43] kuldiep commented on #3666
@tonihei i am not using demo app, in short time like 2 mins or 5 mins player works perfectly..i tried

if (player != null) {
  player.setPlayWhenReady(false);
}

and in onStart() i do

 player.setPlayWhenReady(true);

but player calls onPlayerError() directly, it should play the video instead.
in bug reports

[code]
 i got this exceptions

[2018-01-04 12:03] Iftachbar commented on #3643
Yes, you are correct. At release build the bug disappeared!!!
Thank you very match!

[2018-01-04 12:51] tonihei commented on #3666
Still can't reproduce your problem.

However, it's a bit odd that you try to set playWhenReady to true in onStart().
The demo app initializes and releases the player in either onStart/onStop or onResume/onPause depending on the API version. When you're running Android 6.0.1 you API version should be 23 and thus your player should be released in onPause() and still be null in onStart(). Can you che

[2018-01-04 13:26] ojw28 commented on #3666
[HTTP 403](https://en.wikipedia.org/wiki/HTTP_403) is a server error indicating the client is forbidden access to the stream. Most likely the URLs you're trying to play require authentication, and whatever authentication you're using expires before the app is brought back into the foreground. This is an application and/or server configuration issue. The player is functioning correctly in failing w

[2018-01-04 16:53] sebastien4 commented on #3630
@ojw28 Same problem here, looks like @llooz one. Here is mpd which fails:

[code]

[2018-01-04 16:56] ojw28 commented on #3630
The issue should be fixed on the latest `dev-v2` branch. If someone could verify, that would be great. We may consider doing a 2.6.2 release to pick up the changes referenced above once verified.

[2018-01-04 17:19] tonihei commented on #2508
Closing the issue because it sounds as if you found a solution to your problem. If not, feel free to reopen.

[2018-01-04 17:19] #2508 closed, assigned to tonihei

[2018-01-04 17:40] mcd2000 commented on #2550
Need some time to re-check this on latest firmwares.

[2018-01-04 18:09] weizhaoj commented on #3662
Hi Tonihel,
Thanks for your support.
Could you recommend one stable version which supports AES CENC CBCS well?

[2018-01-04 18:18] aarondib commented on #3637
Thanks for your replies! Very useful.

[2018-01-04 18:18] #3637 closed, assigned to erdemguven

[2018-01-04 18:55] letianxu commented on #3630
I verified a1bac99f3bae78e510e367b61dd49a37e4301476, it's working for me. Thanks.

[2018-01-04 19:00] weizhaoj commented on #3662
I switch to the version of "Tag:r2.6.1". I met another issue when test clear stream:
https://test.playready.microsoft.com/media/dash/APPLEENC_CBCS_BBB_1080p/clear/bbb_sunflower_1080p_60fps_normal.mp4

That stream can play well on ExoPlayer-release-v2. But it failed on "Tag:r2.6.1" Below is full log and crash callstack.
[logcat.txt](https://github.com/google/ExoPlayer/files/1604403/logcat.txt)

01-

[2018-01-04 20:03] ncapdevi commented on #3663
@tonihei Thanks for the feedback and help.  As far as what I'm trying to achieve, at this point it's primarily exploratory.  But the overarching goal is that my audio only player will be pulling down new tracks, and caching them as it goes, and if for some reason it fails to pull down a new track (bad connection or server issues), it should grab a track from cache to continue seamless playback, wh

[2018-01-04 21:19] astinus-1 commented on #3517
Hi predaV, I'm looking into reproducing the issue, but the tokens have expired.  Could I get a new token to update for the license?

Thanks!

[2018-01-05 04:23] xiaoyepadzhang opened #3668 "MultiExoPlayer in Recyclerview Bug"
Hi, I want to report to you a bug that trouble me a lot of time.

**Issue description**
1. We had made a multi EXOPlayer in vertical list view by recyclerview，each view container a EXOPlayer instance and play the one which is center in the view display, and other EXOPlayer attach in the view will be release.  They are all m3u8(use HLSMediaSource), But we found that its probability when I start to

[2018-01-05 05:00] kuldiep commented on #3666
@tonihei @ojw28 thanks for supporting guys, issue was coming because of authentication problem.

[2018-01-05 06:20] xiaoyepadzhang commented on #3668
Version of ExoPlayer
2.6.0

[2018-01-05 08:17] andrewlewis commented on #3584
A fix for this is in review at the moment. Hopefully it will be on the development branch within the next couple of weeks. Thanks for your patience.

[2018-01-05 09:28] giladna opened #3669 "IMA extenstion"
Hi,

Wanted to describe a scenario in IMA extention ads playback,
the VMAP I use contains preroll, several cue points as midrolls and postroll.
User watches preroll then seeks to the end  of the stream. In the current implementation what will happen is that the user will see all the ads that are configured in the vamp and that he did not watch, and only after that the postroll will be shown
I thin

[2018-01-05 09:45] andrewlewis commented on #3669
The intended behavior is as follows: when seeking after the last midroll before a postroll, the user should see the last midroll, then content will play to the end, then they will see the postroll. I think that's the same as the desired behavior you're describing. If there are two midrolls then a postroll and the user seeks after the second midroll, the first midroll should not be shown. (But if a

[2018-01-05 09:45] xiaoyepadzhang commented on #3668
@andrewlewis  sorry i forget to assign you ...

[2018-01-05 09:49] andrewlewis commented on #3669
The ExoPlayer demo app contains a sample ad tag "VMAP pre-roll single ad, mid-roll standard pods with 5 ads every 10 seconds for 1:40, post-roll single ad" that works correctly for me: after the preroll plays, seek after the final midroll and you should see that the content plays to the end from the seek position, then the postroll plays.

[2018-01-05 09:51] andrewlewis commented on #3668
Please could you provide a full bug report captured just after reproducing the error using `adb bug report`?

[2018-01-05 09:52] tonihei commented on #3668
"no more track names available" sounds as if the audio decoder has too many AudioTracks at the same time and then transitions to an error state letting all the other players using the same decoder fail as well.

Do you call player.release() on all the players you don't use?

@andrewlewis Any idea what might cause that?

[2018-01-05 09:54] tonihei commented on #3666
Closing the issue then as the problem seems to be solved.

[2018-01-05 09:54] #3666 closed, assigned to tonihei

[2018-01-05 09:55] andrewlewis commented on #3668
Yes, it sounds like players are not being released correctly. The bug report will let us verify that there are too many `AudioTrack`s by looking at the service dump for the audio flinger (each one consumes from shared memory, and when this runs out it's not possible to create another `AudioTrack`).

[2018-01-05 09:59] xiaoyepadzhang commented on #3668
i store this two logs with AS Logcat few days ago  @andrewlewis
[log2.txt](https://github.com/google/ExoPlayer/files/1606189/log2.txt)
[log1.txt](https://github.com/google/ExoPlayer/files/1606190/log1.txt)

[2018-01-05 10:02] andrewlewis commented on #3668
The output of `adb bugreport` contains more information just logcat, but if you can't provide that `adb shell dumpsys media.audio_flinger` would also let us confirm that `AudioTrack`s are leaking.

In `log2.txt` a `MediaCodec` is failing to start which is a further indication that players are not being released correctly. Please could you check how you're managing the lifecycle of the players? As

[2018-01-05 10:07] tonihei commented on #3663
Code looks fine to me.
Just to make sure: I assume you prepare the player with player.prepare(myAppDynamicMediaSource) and you never call any of the media source methods directly (apart from addNewSong of course).

And to investigate the reason behind this buffering it would be helpful if you could use your media source  wrapper in the demo app and send a bug report or the logcat output of what ha

[2018-01-05 10:08] xiaoyepadzhang commented on #3668
ok, i will In-depth check about the leaking. And if still has the question , i will send bug report to you.
Thanks a lot.

[2018-01-05 10:19] tonihei commented on #3662
The support for CBCS for API levels 24+ was added in version 2.5.0 (see [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md)).

Do I understand correctly that your encrypted stream is playing well on the current version?

And the new error you are seeing is the same you reported two weeks ago (#3627). I'll reopen the other issue to track this there. Please provide a

[2018-01-05 10:20] tonihei commented on #3627
Re-opening because it's not solved yet (see #3662). Full bug report still missing for further investigation.

[2018-01-05 10:26] giladna commented on #3669
@andrewlewis
Thanks,
What I see when seek to end
I have 2 ads in each cuepoint when I seek to end  (using nexus 6p 8.1.0)
the ads indexs are mixed and I see both the last cuepoint and the post roll
I think that the correct flow is to play only the post roll.

sending you now the adtag.

Another issue in this adtag that it is dynamic

in pre roll there are alwayes 2 ads you might get 2 short ads or

[2018-01-05 10:40] PaulWoitaschek opened #3670 "File allocating tons of memory"
I have a m4a audio file that when trying to play it just allocates tons of memory in constantly triggers the garbage collection and finally lets the device crash.

I reproduced this on a Nexus 5x with Android 8.1 and ExoPlayer 2.6.0 and 2.6.1

Audio file incoming via mail. Please let me know when I can take down the file.

[2018-01-05 11:55] tonihei commented on #3670
The problem is that your m4a file contains a video and an audio track and both are very poorly interleaved.

Actually, the video track contains one frame only to display the artwork of the audio file. Because the player needs to present video and audio synchronously, it needs to load the file up to the point where it has encountered all the audio and video data needed to play to a certain timestam

[2018-01-05 12:02] tonihei commented on #3670
Marking as a bug because ExoPlayer shouldn't just crash but rather detect the problem and handle it gracefully.

[2018-01-05 12:42] PaulWoitaschek commented on #3670
Thanks. So when I never use video I can always safely call setRendererDisabled for the video track?

My use case is the linked audiobook player above so it's really all kind of files I don't control.

[2018-01-05 13:17] PaulWoitaschek commented on #3670
So i disabled the video track:

[code]

Should this be done only once when creating the player?
This still does not play the file.

The other think I tried was like suggested and leave out the buildVideoRenderers, but that did not have an effect either:
[code]

[2018-01-05 13:35] tonihei commented on #3670
Indeed. Seems like we ignore the selected/enabled tracks when checking whether we are ready to play.
This needs fixing in our code, I'm afraid.

[2018-01-05 13:35] TigerYao opened #3671 "My url is video ,but I play it using exoplayer ,it just audio"
HI,
All Android device
Exoplayer 2.6.1
Url:http://cdn7.ushareit.cn/sz2/h_v/mOegu_240p.m3u8
My url is video ,but I play it using exoplayer ,it just audio,I do not why;

[2018-01-05 13:40] ojw28 commented on #3630
@llooz - Is it possible for you to verify also? The issue @letianxu verified is related, but different. Thanks!

[2018-01-05 14:25] giladna opened #3672 "AdsLoader EventListener"
Hi right now not all IMA events are reflected to the event listener
is to possible to expose the ad events so it can be used by the app for business logic/statistics?

For example ImaAdsLoader onAdEvent will fire all the IMA ad Events that are passed to it

 public static enum AdEventType {
        ALL_ADS_COMPLETED,
        CLICKED,
        COMPLETED,
        CUEPOINTS_CHANGED,
        CONTENT_PA

[2018-01-05 15:31] lucalooz commented on #3630
@ojw28 with the latest dev commit `a1bac99f3bae78e510e367b61dd49a37e4301476` I'm getting the exception at the bottom.
After inspecting the code i see that [Format#copyWithManifestFormatInfo](https://github.com/google/ExoPlayer/blob/a1bac99f3bae78e510e367b61dd49a37e4301476/library/core/src/main/java/com/google/android/exoplayer2/Format.java#L457) gives priority to the manifest `DrmInitData`
[code]

[2018-01-05 15:34] ojw28 commented on #3630
Right, that's probably still a problem. Are you able to share a sample piece of media? It would help us to fix this more efficiently.

[2018-01-05 16:02] botaydotcom commented on #91
We have updated `SimpleExoPlayerView` so that if it uses `TextureView`, it will apply the rotation automatically. This change will be pushed to dev-v2 branch soon.

[2018-01-05 16:49] botaydotcom commented on #3546
Closing the issue as we don't have enough information to solve this.

[2018-01-05 16:49] #3546 closed, assigned to botaydotcom

[2018-01-05 16:58] cyrillrx commented on #3630
@ojw28 same problem as @llooz with the commit a1bac99
StackTrace and mpd attached (I renamed the mpd with .txt as the .mpd extension is not supported by github)
[exo-drm-stack-trace.log](https://github.com/google/ExoPlayer/files/1607240/exo-drm-stack-trace.log)
[24da2a1dd981804c6b758d18d705d07dac02798a.mpd.txt](https://github.com/google/ExoPlayer/files/1607248/24da2a1dd981804c6b758d18d705d07dac027

[2018-01-05 17:15] lucalooz commented on #3630
@ojw28 http://edge.tpr-3ehznk.top.comcast.net/demo/content/PDK_(VMS)/781/643/Funny_Pranks_-_Pranks_2014_-_Funny_Videos_-_Funny_Fails_-_Funny_Pepole_-_Funny_Videos_568828483857_mp4_video_480x270_400000_primary_audio_2.mpd

[2018-01-05 18:21] weizhaoj commented on #3662
Hi Tonihei,
Now I can test my encrypted stream with r2.6. version. There is some problem in my side, and I'm debugging on that.

For clear stream, yes it's same with #3627. I will provide necessary info to your dbeug.
Thanks a lot.

[2018-01-05 18:58] weizhaoj commented on #3627
[bugreport.txt](https://github.com/google/ExoPlayer/files/1607588/bugreport.txt)
[logcat.txt](https://github.com/google/ExoPlayer/files/1607589/logcat.txt)

Please cehck attached log which incldue "media.audio_flinger"
--------- 0.003s was the duration of dumpsys ** media.audio_flinger**
-------------------------------------------------------------------------------
DUMP OF SERVICE media.audio_pol

[2018-01-05 22:13] ncapdevi commented on #3663
Yes, I'm doing exactly as you had said. I'm able to successfully wrap the ExtractorMediaSource, but when wrapping this class, I get a onPlayerStateChanged call back for Idle, and for buffering, but then nothing else.  I'll try to get a version of it in the demo app to see if that helps at all.

[2018-01-05 22:32] ncapdevi commented on #3663
I receive the same issue with the DemoApp with the following conditions: On Branch dev-v2 (commit d9bee4d29c54eb12ca64b64e6f455add96d242ba). I have added this class

[code]

And in PlayerActivity.java at line 360 adding

[code]
The only possible debug log info I see is

[code]

If I instead use the standard DynamicConcatenatingMediaSource at lines 360 in PlayerActivity.java it works just fine. The

[2018-01-05 22:54] astinus-1 commented on #3596
Not seeing anything DRM related. The keys are added correctly, and then no errors that I can distinguish that would indicate anything has happened.

[2018-01-05 23:01] ncapdevi commented on #3663
@tonihei  was finally able to solve it by changing line 22 in `DemoDynConMediaSource.java` from:
`                listener.onSourceInfoRefreshed(dcMediaSource,timeline,manifest);`
 to:
                `listener.onSourceInfoRefreshed(DemoDynConMediaSource.this,timeline,manifest);`

Maybe you could help me understand why that makes sense in this case (but you don't do that for ExtractorMediaSource)?

[2018-01-06 04:14] drhill commented on #3008
PR: https://github.com/google/ExoPlayer/pull/3673

[2018-01-06 09:20] dirondir opened #3674 "avi playing sample"
Hi!
I've seen the question https://github.com/google/ExoPlayer/issues/745
There is the phrase over there: "ExoPlayer doesn't include an Extractor for reading AVI containers, but the file may be readable using the platform MediaExtractor via FrameworkSampleSource"

Could you give any sample how to use FrameworkSampleSource with the current version of the ExoPlayer? Because in the current version th

[2018-01-06 09:25] dirondir commented on #2092
I would be happy to see .avi extractor

[2018-01-07 08:33] Sara-Tareq commented on #3550
I checked the new released version 2.6.1 and the clipping media source is still not supporting live streams and it's only available on the dev-v2, Is there a reason for that and Is the clipping media source dev source can be used in an app to be released ?

[2018-01-07 09:31] ErezNe opened #3675 "Technicolor STB: Issue with tunneled playback"
### Issue description
If I activate tunneled playback on standard exoplayer 2.5.4 with following line:
trackSelector.setTunnelingAudioSessionId( C.generateAudioSessionIdV21( this ) );

called just after:
trackSelector = new DefaultTrackSelector(adaptiveTrackSelectionFactory);
in function initializePlayer.

I playback the Widevine DASH: MP4,H265 / Wv: Secure HD content, after seek I got a playback

[2018-01-07 15:53] giladna opened #3676 "IMA demo - cannot play HLS/DASH streams."
The demo app contains a method createMediaSource which is not used.
I suggest using it in the PlayerManager class in the MediaSource creation so if user changes the media URL in the strings.xml
to be HLS/DASH it will not get stuck after ad playback.

[code]

[2018-01-08 08:21] andrewlewis commented on #3672
Please see #3322.

[2018-01-08 08:21] #3672 closed, assigned to andrewlewis

[2018-01-08 08:50] andrewlewis commented on #3627
Configuring the AudioTrack for 6 channel AC-3 passthrough is failing. Is there an audio receiver connected via HDMI that is capable of decoding this? I wonder whether the problem is that the current configuration supports passthrough of only stereo AC-3 not 5.1.

[2018-01-08 09:02] xiaoyepadzhang commented on #3668
[bugreport-HUAWEIFRD-AL10-2018-01-08-16-49-16.zip](https://github.com/google/ExoPlayer/files/1610990/bugreport-HUAWEIFRD-AL10-2018-01-08-16-49-16.zip)
@andrewlewis Hi
After I resolved a leak, And I still found the exception appeared, just few minutes ago, and I had pull the bugReport this time, can you help me to analysis this report?

**Device Brand**
HUAWEI Honor 8

**Device Version**
Android 7.

[2018-01-08 09:16] andrewlewis commented on #3668
Are you sure the leak is fixed? Looking at the bug report it appears there are 14 inactive AudioTracks and 15 ExoPlayer playback threads associated with your process.

[2018-01-08 09:48] xiaoyepadzhang commented on #3668
@andrewlewis If i had called player.release() but the textureView or other parent view is Leaking,  it will also make to this leaking?

[2018-01-08 09:48] andrewlewis commented on #3550
@ojw28 Any idea when the change to `ClippingMediaSource` to support dynamic child windows will be released?

[2018-01-08 09:52] andrewlewis commented on #3676
As of a recent change it is used for creating media sources for ad media (`PlayerManager` is an `AdsMediaSource.MediaSourceFactory`). We can also use it for creating content media sources too though, so marking this as an enhancement.

[2018-01-08 09:56] ojw28 commented on #1828
I'm not sure this (i.e. merged playback of media items with different durations) is really something we intend to fix. You can use two separate player instances for such cases.

[2018-01-08 09:56] #1828 closed, assigned to AquilesCanta

[2018-01-08 10:00] ojw28 commented on #3674
We no longer support the platform MediaExtractor (and there is no FrameworkSampleSource) in the current version of ExoPlayer, sorry.

[2018-01-08 10:00] #3674 closed, assigned to ojw28

[2018-01-08 10:10] ojw28 commented on #3592
@erdemguven - Did you manage to reproduce this? @vshcryabets - Do you see this only on the Moto X, or on all devices? Thanks.

[2018-01-08 10:47] Gobi1989 opened #3678 "How to set End/Total Duration manually in ExoPlayer PlaybackControlView"
Hi All,

  **Issue description**
 Want to set End/Total Duration manually in ExoPlayer PlaybackControlView.

 **Reproduction steps**
- In our application the total duration displaying in PlaybackControlView is wrong for some videos.
- With some contents, in the video player it shows a wrong end time (49:47) while the proper end time is 49:59 (50 mins in the content description).
- It plays until t

[2018-01-08 12:18] andrewlewis commented on #3438
No ideas for an easy fix I'm afraid.

[2018-01-08 12:23] kelmer44 opened #3679 "Distinguish between live and DVR"
I want to implement a player that can support live with DVR functionality.

I tried with ExoPlayer and I saw that this seems to be supported, which is awesome: I can play the live stream and I can also seek to an earlier time.

However theres two things im uncertain about:

When playing live the thumb on the seekbar is usually always at the end of the seekbar. Check how youtube does for instance: