[2018-08-19 19:17] igormisha commented on #4676
I've checked playing same clip with MP4 file and it played precisely.

[2018-08-19 19:18] AndroidDeveloperLB commented on #4652
Well, it doesn't allow to have an animation between the 2 states, for example. It's just a boolean flag...

[2018-08-19 19:20] igormisha commented on #4676
May be mp3 format is obsolete but it's still widely used.. I'd like to support it in my app.

[2018-08-19 19:32] igormisha commented on #4676
Also I've made a composition of LoopingMediaSource with that clip (play 3 times) and in case of MP4 file everything worked as expected and with MP3 file it even didn't play 3 times, just a couple of parts of the clip and these parts were not the same.

[2018-08-19 19:39] ojw28 commented on #4676
We do support MP3. We just don't support accurate seeking in MP3. How accurate seeking in an MP3 is will depend quite a lot on the file. There are multiple different ways in which MP3 files can choose to support seeking (it's a bit of a mess), and the accuracy varies between them. It is of course possible to seek accurately by scanning the entire file beforehand, since by doing that you can build

[2018-08-19 20:01] ojw28 commented on #4652
At the lowest level, ExoPlayer just outputs video to a surface. I'm sure it's possible to make two player instances, have them output to separate `TextureView`s (note: `SurfaceView`'s don't generally animate so well, so `TextureView` would be preferable for this kind of thing), and then animate between them.

How to do that is a general Android UI question. It would probably be the same whatever t

[2018-08-19 20:05] AndroidDeveloperLB commented on #4652
Wait, so PlayerView uses SurfaceView instead of TextureView? Isn't TextureView superior?
How can I make it use TextureView instead?

[2018-08-19 20:10] ojw28 commented on #4652
It can use either. Please see `surface_type` as documented [here](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html). Our [FAQs](https://google.github.io/ExoPlayer/faqs.html#should-i-use-surfaceview-or-textureview) page documents the trade-off between `SurfaceView` and `TextureView`.

[2018-08-19 21:10] AndroidDeveloperLB commented on #4652
So in short, it's not superior, and it's actually better only if I animate it or let it be in scrollable container.
OK thanks.

[2018-08-20 02:53] igormisha commented on #4676
**The exoplayer version:**
com.google.android.exoplayer:exoplayer-core:2.8.3

**Devices:**
Emulator:
Default Android Studio Emulator (API 28),
Real devices: Lenovo 903N, Xiaomi 3S.

**The code to create a looping media source and play it is:**

[code]

T**he link to mp3 file:** https://files.fm/u/kz3xzwwj .
If played correctly it should play say the phrase "Let me take you on the journey" 3 times.

[2018-08-20 03:59] hafiz013 opened #4680 "Provide FixedAdsLoader to play ads from URLs known in advance"
I found out that someone post about how to play ads locally through this link [https://github.com/google/ExoPlayer/issues/3664](url) . However, it not show the code in details how to implement ads loader without ima extension. As solution, I found this link helpfully to use [https://www.programcreek.com/java-api-examples/?code=googleads/googleads-ima-android/googleads-ima-android-master/BasicExamp

[2018-08-20 05:02] ram992 commented on #4674
Hello @ojw28 thanks for the reply. As I told you, the issue got fixed as soon as I restarted the device. I will try to reproduce it but would require few days, and give you the Log.
What I want to know is, whether creating the **MediaDrm Object** for what ever purposes, will create a DRM session ? Or Is it that only the ExoPlayer Code where I ask it to create a **drmSessionManager** will create on

[2018-08-20 06:17] objectiveCarlo opened #4681 "Stuck in buffering state after the midroll ads finish playing"
### Issue description
On Android 8.0 and above after the none skippable midroll ads completed playing the player will just buffer

### Reproduction steps
1. Scrub to the nearest midroll cue
2. If the ads is skippable it will work so try and try to get none skippable ads

### Version of ExoPlayer being used
ExoPlayer 2.8.4 and 2.8.1
First observed at 2.8.1
And tried to update at

### Device(s) and

[2018-08-20 06:36] ojw28 commented on #4674
As far as I know, calling `MediaDrm.openSession` is what opens a session. I don't think just creating a `MediaDrm` instance will open a session.

[2018-08-20 06:46] mical892524 opened #4682 "widevine offline but playback failed with no internet"
### Issue description
I follow the erdemguven's https://gist.github.com/erdemguven/8c5fb4d87f084456c81245f553ba3a2f in exoplayer demo app. when I download the dash success, it can play success but playback fail with no internet.  why the widevine offline can not play without internet?  I have see more exoplayer issues about widevine offline play, but these can not help me.

### test content
test d

[2018-08-20 06:49] ram992 commented on #4674
Well, I am not calling that one, then can it be caused by improper handling of releasePlayer(). And can I check in Logs when will ExoPlayer calls openSession and closeSession, so that I may know it the issue is with my code.

[2018-08-20 07:02] qeadsw opened #4683 "RTSP Cannot play"
rtsp://184.72.239.149/vod/mp4:BigBuckBunny_175k.mov

[2018-08-20 07:16] andrewlewis commented on #4681
I think there may be a combination of two different issues here.

The first is that the this ad tag has two empty midroll ad breaks. Handling of those should be fixed on `dev-v2` (see #4030), so please could you try this out on that branch and see if that issue is fixed?

The second is that if I seek past the third midroll we don't seem to get any notification from IMA that the ad break is empty (

[2018-08-20 07:45] andrewlewis commented on #4680
We don't have any sample code for that at the moment, apart from the snippets @marcbaechinger has already provided in the [Stack Overflow answer](https://stackoverflow.com/questions/49871348/how-to-show-ads-at-specific-points-using-exoplayers-ima-extension) and #3664. It's probably a lot more complicated than what you need, but you could try using the source for `ImaAdsLoader` as a starting point

[2018-08-20 07:56] hafiz013 commented on #4680
Ok i give more clear code for those new about this but still not working.

1) first create bandwidth
`BandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
        TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveTrackSelection.Factory(bandwidthMeter);
        TrackSelector trackSelector = new DefaultTrackSelector(videoTrackSelectionFactory);`

2) create load control and data

[2018-08-20 08:20] objectiveCarlo commented on #4681
OK.

But when I tried dev-v2 Im getting this error:

`* What went wrong:
Could not resolve all files for configuration ':extension-ima:debugCompileClasspath'.

  Searched in the following locations:
      https://jcenter.bintray.com/com/google/android/gms/play-services-ads/15.0.1/play-services-ads-15.0.1.jar
`

[2018-08-20 08:40] ritwik1994 opened #4684 "Using same instance of exoplayer, makes the UI controller to be invisible."
Hi,
I am creating the instance of SimpleExoPlayer and setting it in customPlayerView. I am making setControllerHideOnTouch(false) so that the controller does not get closed. After that when i call setPlayWhenReady(true) it starts to play.
Problem arises when i go to another activity and set the same exoplayer instance into other playerview. Controller becomes black and when I Touches it again then

[2018-08-20 09:01] gerardiandrea commented on #4622
Hi, I have tested version 2.8.4 and now the player does not stop at the midroll if the preroll is empty. This is ok but the midroll is not played, if the preroll is empty / malformed none of the advs following the preroll are played.
Will this behavior be fixed in the next versions?

[2018-08-20 09:11] ojw28 commented on #4667
RTSP is not officially supported. Adding support is tracked by https://github.com/google/ExoPlayer/issues/55

[2018-08-20 09:11] #4667 closed, assigned to andrewlewis

[2018-08-20 09:11] ojw28 commented on #4683
RTSP is not officially supported. Adding support is tracked by #55

[2018-08-20 09:11] #4683 closed, assigned to ojw28

[2018-08-20 09:22] ojw28 commented on #4674
* You must remember to release the player (by calling `release` on it).
* You should also remember to call `release` on the `MediaDrm` object, although I don't think that I'd expect anything too bad to happen if this is forgotten.
* Note that `PlayerActivity` in our demo app does both of these things, so take a look if you want some sample code.

As long as you're releasing these two things correc

[2018-08-20 09:23] symphonicz opened #4685 "How to listen event of AdsMediaSource"
Hi, I have problem

I use exoplayer with ima extension and add **AdsMediaSource.EventListener()** to **EventListener** in **AdsMediaSource()** to Tracking state of **Ads** like this

                mediaSource = new AdsMediaSource(buildMediaSource(Uri.parse(data.file())), new AdsMediaSource.MediaSourceFactory() {
                @Override
                public MediaSource createMediaSource(Uri u

[2018-08-20 09:27] wishy-viewlift opened #4686 "Pause / resume ad on user action."
I am using the IMA extension to show the ads.
However I am not able to pause the ad on user action
The imaadsloader is initialized
[code]
After that I get the adsmanager

[code]

On click of button I try to pause the ad using
[code]

but none of the method seem to pause the ad. Is there anything I have missed out here?

[2018-08-20 09:41] ojw28 commented on #4685
You need to pass a non-null `Handler` as the 5th argument to the `AdsMediaSource` constructor. You're currently passing `null`.

Note that the constructor you're calling is also deprecated, although this depends on whether you're using a recent version or not. If you are using a recent version, instructions on what to do instead can be found [here](https://google.github.io/ExoPlayer/doc/reference/

[2018-08-20 09:41] #4685 closed, assigned to ojw28

[2018-08-20 09:42] tonihei commented on #4500
@mittalharsh2810 Is that still an issue or was your question answered by @botaydotcom above? Please reopen if you have follow-up questions.

[2018-08-20 09:43] #4686 closed, assigned to ojw28

[2018-08-20 09:43] ojw28 commented on #4686
I think you should just be calling `setPlayWhenReady(false)` on the player to pause playback, as you would normally. You shouldn't need to interact directly with the ads manager or loader.

[2018-08-20 09:44] tonihei commented on #4661
Can you please provide example media files to reproduce the issue? Also, please try to capture a bugreport (or copy the logcat) after the issue occurred. Thanks!

[2018-08-20 10:01] symphonicz commented on #4685
Thank for reply.

I use exoplayer version 2.8.4 now. But i dont know how to implement listener to callback ads.

Could you explain me how to implement it

[2018-08-20 10:01] hafiz013 opened #4687 "Bugs in exoplayer version 2.8.4"
Hi there, if found the bugs when i want to play video ads locally from phone file instead of ima  as shown in code below
`mediaSourceWithAds =
                new AdsMediaSource(mVideoSource,
                        dataSourceFactory, new AdsLoader() {
                    @Override
                    public void setSupportedContentTypes(int... contentTypes) {

                    }

[2018-08-20 10:03] hafiz013 commented on #4687
![whatsapp image 2018-08-20 at 6 02 59 pm](https://user-images.githubusercontent.com/6707224/44334158-5c4d6280-a4a3-11e8-8544-889a4cd220af.jpeg)

[2018-08-20 10:18] vipulim opened #4688 "Support continued playback of merged source if some child sources are unavailable"
### Issue description
I need to create a player in which multiple live streams should play in synchronization, which I've achieved by following @ojw28 solution in #2855. I'm able to play multiple live streams using multiple renderers.

Now when any of the live streams are broken (not broadcasting or the link does not exist at all - HTTP 404), none of the renderers start playing, all of the provide

[2018-08-20 10:21] ojw28 commented on #4685
I've already explained what you're doing wrong right above (i.e. pass a valid handler, not null). You should then follow the instructions I linked to to move away from the deprecated methods, but you can do that as a separate step.

[2018-08-20 10:24] ojw28 commented on #4687
This appears to be under discussion already in https://github.com/google/ExoPlayer/issues/4680. Please don't file multiple issues for the same thing. Thanks!

[2018-08-20 10:24] #4687 closed, assigned to ojw28

[2018-08-20 10:32] chandraveerr commented on #4637
I am also facing the exactly same crash in my app in production on exoplayer version 2.8.2. This crash happens while adding or removing media in ConcatenatingMediaSource using addMediaSource or removeMediaSource

[2018-08-20 10:34] chandraveerr commented on #4634
I am also facing the exactly same crash in my app in production on exoplayer version 2.8.2. This crash happens while adding or removing media in ConcatenatingMediaSource using addMediaSource or removeMediaSource. This crash is affecting a large portion of our users, is there a fix or workaround for this ?

[2018-08-20 10:47] tonihei commented on #4609
That's an interesting question and there seem to be multiple ways to address this:
- If it's possible for you, the simplest way is probably the encode the video with the freeze frame. Either in the middle of the original video or as as a separate video which can be combined with the other videos as you describe.
- Note that ExoPlayer has no native support for image display (although such a feature

[2018-08-20 10:49] ojw28 commented on #4676
Thanks. The issue is basically as described above (i.e. mp3 files not supporting accurate seeking). The reason you see the inconsistent behavior is as follows:

* MP3 files do not do a good job of supporting accurate seeking. Hence full seeks will not be accurate.
* ExoPlayer has two code paths that it can follow when a seek occurs. It will first attempt to seek into the already buffered media, fo

[2018-08-20 10:49] #4676 closed, assigned to ojw28

[2018-08-20 10:51] tonihei commented on #4517
Closing because the question seems to answered. Please reopen if you feel this is not the case.

[2018-08-20 10:51] #4517 closed, assigned to tonihei

[2018-08-20 10:54] ojw28 commented on #4684
This doesn't sound like an ExoPlayer issue, but without proper reproduction steps there's not much we can do to look at it / check. Please provide reproduction steps. Probably in the form of a small GitHub project that reproduces the issue.

[2018-08-20 10:59] tonihei commented on #4641
This is most likely caused by parallel access to the player. Please only use the thread the player was created on to access the player, as described in the [developer guide](https://google.github.io/ExoPlayer/guide.html) under "Creating the player".

If you like, you can also comment on #4463 about why you use ExoPlayer from other threads and why it is needed to help us better understand your need

[2018-08-20 10:59] #4641 closed, assigned to tonihei

[2018-08-20 11:20] ZINK-FU opened #4689 "Don't want Retry when Load Error"
Don't want Retry when Load Error，But i can‘t found a method to do this

[2018-08-20 11:23] koral-- commented on #4641
Thanks, it seems that parallel access from different threads is a reason here.
BTW there is a bug in the last sentence of paragraph you linked. Instead of clickable Looper link there is a `{@link Looper}` text.

[2018-08-20 11:25] tonihei commented on #4641
Indeed :) Thanks for spotting that!

[2018-08-20 11:40] bounmed opened #4690 "Check AudioCapabilities channel count for passthrough mode"
Hi i'm getting this error when playing a movie.
The issue i get in some videos and not in others.

<details><summary>logcat</summary>
[code]
</details>

[2018-08-20 11:42] andrewlewis commented on #4690
Please could you provide the information requested in the issue template? In particular, which ExoPlayer version you're using, and a full bug report (`adb bugreport`).

[2018-08-20 11:43] tonihei commented on #4634
Unfortunately, I can't reproduce the issue with the code above. Can you try to provide minimal reproduction steps in our demo app? Please also verify that you access ExoPlayer from the main thread only as this issue may have been caused by parallel access.

In any case, we will change something internally which will make the problem obsolete as the call to this method won't happen anymore.

[2018-08-20 12:22] arazabishov opened #4691 "Question: get notified when ExoPlayer is buffering"
I was wondering if there is a callback or a listener which can help tracking when ExoPlayer starts / ends buffering? I.e. has anything changed since this answer: https://github.com/google/ExoPlayer/issues/815

[2018-08-20 12:41] chandraveerr commented on #4634
Thanks for the quick reply. We are for sure accessing Exoplayer from main thread. Unfortunately i  can't provide any reproduction steps as this crash comes at scale(when we release app).
In which version are you planing to release the change where this method won't be called ?

[2018-08-20 13:03] sravan1213 opened #4692 "Does onTracksChanged gets called when video track changes due to ABR ?"
onTracksChanged is not getting called when video changes due to ABR. I tried getting updated track using `getCurrentTrackSelections`, but it is not returning updated list.

`player.getVideoFormat()` is giving right format selected, but has incorrect values about bitrate.
example -  getting bitrate as -1, track id is wrong.

What is the best way to get notified and get all track related info when v

[2018-08-20 13:14] tonihei commented on #4634
Most likely 2.9.0, but we don't have a fixed date for that yet.

[2018-08-20 13:34] ojw28 commented on #4691
What does "start / end buffering" mean to you, exactly? Do you mean user visible buffering (e.g. so you can show / hide a buffering spinner), or are you interested in when the player actually starts / stops filling its buffer internally (which is not typically user visible)?

[2018-08-20 13:51] AquilesCanta commented on #4689
Please have a look at the [LoadErrorHandlingPolicy](https://github.com/google/ExoPlayer/tree/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream) on the dev branch. You can provide your own implementation to whichever MediaSource you are using. Please give it a try and let us know if it works for you.

[2018-08-20 13:51] #4689 closed, assigned to AquilesCanta

[2018-08-20 14:33] andrewlewis commented on #4681
Do you have both `google()` and `jcenter()` listed in the repositories in your root project?

[2018-08-20 15:40] frakc opened #4693 "How to get Window tag?"
### Issue description
When i try to get window tag, i always get `null`. Generally happens after i change media source
### Reproduction steps

I feed concatenating mediaSource to player
[code]
Concatenatingmediasource consists of several HLS MS where i put tags. Each of them checked to be non null.
[code]

I check for tag in onTracksChanged()
[code]

when this method i called i getting following l

[2018-08-20 15:47] erdemguven commented on #4673
It looks like better to have a custom view which is drawn on top of the PlayerView, perhaps a dialog. Anyway there are various ways of doing this and they are not ExoPlayer specific. We recommend asking such questions on Stack Overflow, and are unfortunately unable to answer them here.

[2018-08-20 15:47] #4673 closed, assigned to erdemguven

[2018-08-20 15:53] erdemguven commented on #4672
This issue looks like a general question about Android development. We recommend asking such questions on Stack Overflow, and are unfortunately unable to answer them here.

[2018-08-20 15:53] #4672 closed, assigned to erdemguven

[2018-08-20 15:54] #4658 closed, assigned to erdemguven

[2018-08-20 16:01] erdemguven commented on #4655
Do you try to stream the video from link you gave? It's a link to a Dropbox page. You need a direct link to mp4 file to be able to play it.

[2018-08-20 16:23] tonihei commented on #4693
That's working as intended, but I agree it's not ideal.

When the playlist is prepared, it spawns off the preparation of all the playlist elements. Only after each child element is prepared, you'll see the tag when using `window.tag` or `player.getCurrentTag()`. Before the child element is prepared, the window is just an empty shell without any information and unfortunately also without tag. Pleas

[2018-08-20 17:23] erdemguven commented on #4682
I think it doesn't play because of the license duration is too short. If you try a different widevine sample it works.

[2018-08-20 19:46] AquilesCanta commented on #4666
I have started looking at this and can reproduce. If you manage to capture a stream that reproduces consistently, please don't hesitate to share it with me. It would save lots of time.

[2018-08-20 20:15] igormisha commented on #4676
Thanks for the explanation, I thought that as far as exoplayer is built upon mediaExtractor, mediaCodec and audioTrack and mediaExtractor has method seekTo(long position, int mode) where mode is one of SEEK_TO_CLOSEST_SYNC, SEEK_TO_NEXT_SYNC and SEEK_TO_PREVIOUS_SYNC which I supposed can seek precisely to the beginning of previous or next mp3 frame (frame size is 1152 sample) which means that the

[2018-08-20 22:16] asolis90 commented on #4681
I'm having a similar issue in which if pre-roll is empty and first mid-roll from adgroup is empty it skips the preroll correctly but whenever it gets to the midroll it just gets stuck into a buffering state. Tried with dev-v2 and release-v2 branch with the latest version being 2.8.4 and it didn't seemed to be fixed.

[2018-08-20 22:19] sneltyn commented on #4661
@tonihei, thanks for the response! Yes of course, here are the test media(**mp4** is loaded in the device storage):

http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4
https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8

In fact, it does not matter what files, you can take any **mp4** and **m3u8**.

**Logcat output**

[code]

**Code**

[code]
I call the `play

[2018-08-20 22:51] rrfrias commented on #4329
@tmizuguchi-bckk, thanks for that information. Can you send us a copy of the license response (in binary or hex format) to dev.exoplayer@gmail.com so that we can analyze. Mention the issue # in the subject. Let us know here when you have sent it.

[2018-08-20 23:33] ojw28 commented on #4676
ExoPlayer does not use `MediaExtractor`. I think the `SEEK_TO_*` constants you reference are in practice caveated with "as far as is reasonably possible". If the format doesn't support seeking in the way those constants specify, then I believe you'll get a best effort instead. If and when `MediaExtractor` is able to seek more accurate than ExoPlayer, the implementation almost certainly trades off

[2018-08-21 00:30] rrfrias commented on #4329
Also is this after you download content+license, restore license (https://developer.android.com/reference/android/media/MediaDrm.html#restoreKeys(byte[],%20byte[])) and then Query? Can you check what happens if you download a license and playback without closing the session/restoring the license.

[2018-08-21 02:14] objectiveCarlo commented on #4681
Also not working for me.

[2018-08-21 02:45] workspace opened #4694 "Enhancement for managing cache files (sub cache)"
I received a lot of feedbacks from my service's users about managing downloaded files. They had a problem with deleting cache. I investigated status and behaviors of their devices and found some reasons.
First, all chunks are saved in the same folder, so ExoPlayer's implementation is deleting them one by one. In my case, 50 minutes video includes 3000 video/audio chunks. For example, if I delete i

[2018-08-21 03:12] mical892524 commented on #4682
I have try other samples, it can works now. thank you.

[2018-08-21 03:22] ttm-hoangcm opened #4695 "How to display the same video in multiple TextureView?"
I'm newbie in android & ExoPlayer. Is there have any example? Thanks a lot.

[2018-08-21 03:31] ram992 commented on #4674
Thank @ojw28 I am release the player, but not calling the release on MediaDrm. Will reproduce once without it and then will try again by putting that part.
Will share the ADB report shortly

[2018-08-21 04:21] Soumyajit19 commented on #4655
This is the actual video link : http://players.brightcove.net/3415345270001/default_default/index.html?videoId=ref:p1520466_1
When I tried playing this video with exoplayer 2.7.2 I got the same issue as mentioned earlier. Then I downloaded the video and put it in dropbox and used dropbox shareable link of the video. Still same thing is happening.

[2018-08-21 05:00] hafiz013 commented on #4687
@ojw28 the comment from myself but still not working coding that i post.

[2018-08-21 05:50] tmizuguchi-bckk commented on #4329
@rrfrias thank you for your comment. I emailed you a response binary and charles session just in case.

To answer your questions:

-> Yes

-> Don't know what I have to do. Could you advice?

[2018-08-21 06:25] CipherGit commented on #4681
I've also encountered the issue with the dev-v2 branch and I've set `ImaAdsLoader.DEBUG` to true. Here's the relevant logs:

08-21 14:14:43.894 14210-14210/com.google.android.exoplayer2.imademo D/ImaAdsLoader: Loaded ad 1 of 2 in group 1
08-21 14:14:43.927 14210-14210/com.google.android.exoplayer2.imademo D/ImaAdsLoader: onAdEvent: LOG
08-21 14:14:43.927 14210-14210/com.google.android.exoplayer2.i

[2018-08-21 07:25] hafiz013 opened #4696 "how to get total duration video media source without start to play"
hi dear developer, is there way to know how to get total duration of video  media source before prepare by exoplayer?

[2018-08-21 07:29] andrewlewis commented on #4681
@asolis90, @CipherGit Please could you send the ad tags and full logcat after reproducing the issue with `ImaAdsLoader.DEBUG` set to true to dev.exoplayer@gmail.com with subject "Issue #4681"? If you're using dev-v2 there should be some logging from chromium when you do that, so I don't think the logs in the previous comment are complete. In my testing I found that the issue with getting stuck buf

[2018-08-21 08:05] deven-rajput opened #4697 "How to play live audio streaming url with https?"
How to play live audio streaming with https?

Live Audio url="https://hls_live_sanjha-i.akamaihd.net/hls/live/582260/abpsanjha/masterhls_a_32.m3u8

### We are using a version of ExoPlayer
    implementation 'com.google.android.exoplayer:exoplayer-core:2.8.2'
    implementation 'com.google.android.exoplayer:exoplayer-dash:2.8.2'
    implementation 'com.google.android.exoplayer:exoplayer-ui:2.8.2'

[2018-08-21 08:26] erdemguven commented on #4694
This issue is tracked in #4253. Please don't create new issues.

[2018-08-21 08:26] #4694 closed, assigned to erdemguven

[2018-08-21 08:47] tonihei commented on #4661
Unfortunately, I can't reproduce your problem.
I added a local MP4 file  and while this file was playing, I disabled the internet connection and then added a HLS file to the ConcatenatingMediaSource. As a result, the MP4 played to its end and only then I got the Exception for the failed load. Did I miss any important steps?

[2018-08-21 09:26] ojw28 commented on #4696
This is not currently possible. https://github.com/google/ExoPlayer/issues/3609 tracks adding support for this, alongside reading other metadata independently of playback.

[2018-08-21 09:26] #4696 closed, assigned to ojw28

[2018-08-21 09:31] ojw28 commented on #4697
Please see: https://stackoverflow.com/questions/5362954/why-use-instead-off-in-url, which suggests that:

* Use of underscore in the host name of a URL is invalid
* Several network libraries refuse to handle underscore when present in the host name

This is the case for the Android network stack, it seems. So the solution is to not use underscores in the host name.

[2018-08-21 09:31] #4697 closed, assigned to ojw28

[2018-08-21 09:45] #4693 closed, assigned to tonihei

[2018-08-21 10:30] #4682 closed, assigned to erdemguven

[2018-08-21 11:18] robindanielk opened #4698 "not able to override audio tracks for each media inside concatenating media source!!"
Hi , i am trying to set different audio tracks for each media source inside concatenating media source .
Media source contain four audio tracks.
I have tried this on 2 cases:
As per the docs ->
[code]
As per the demo ->
[code]
the `trackInfo.getTrackGroups(C.TRACK_TYPE_AUDIO)` is not  getting all the audio track group..
Both the cases are not working for switching the audio tracks..Kindly help!

[2018-08-21 12:10] AndroidDeveloperLB opened #4699 "Question: is it possible to have a special in&out animation when choosing to loop a video?"
Suppose I wish to loop a video file. I use this:

`player!!.repeatMode = Player.REPEAT_MODE_ALL`

But, sometimes the input video isn't meant to be loop-able, so we would like to have some kind of in&out animation for when about to end the current video playback and starting of the next (even though both are the exact same video file).

Is it possible? Maybe it's even possible between different vid

[2018-08-21 13:15] arazabishov commented on #4691
To be more precise, we have to use cases for measuring playback performance (analytics):
 - To check how long it takes from starting to buffer until we can start playing.
 - To check when buffer underrun occurs and when it ends.

I guess, it could be nice to generalize both of those use cases and just provide a listener which gives  size of the buffer and position of player within it (what is bein

[2018-08-21 13:43] ojw28 commented on #4691
We already provide ways of getting all of this information. You should implement `AnalyticsListener` and override methods corresponding to the events you're interested in. For example:

* `onLoadingChanged` - Tells you when the player starts and stops loading data internally.
* `onPlayerStateChanged` - Tells you when a user visible change in state occurs, including transitioning to/from the user v

[2018-08-21 13:47] ojw28 commented on #4699
This is not something we support directly, sorry.

As already stated [here](https://github.com/google/ExoPlayer/issues/4652#issuecomment-414152075), it's probably possible to cross-fade video, but how to do this is beyond the scope of this issue tracker, and isn't something we officially support. Also, I agree that synchronization might be challenging. Good luck!

[2018-08-21 13:47] #4699 closed, assigned to ojw28

[2018-08-21 13:51] arazabishov commented on #4691
Thanks!

[2018-08-21 13:51] #4691 closed, assigned to ojw28

[2018-08-21 13:57] AndroidDeveloperLB commented on #4699
Yes, cross-fade is probably the name for this effect, and might be the best one for this case.
Can you please add this feature though?
You've marked it as "self-assigned" and even "enhancement  question", but it's also marked as "closed"...

 It could even be nice for audio loop or switching to other files.

[2018-08-21 13:57] ojw28 commented on #4692
`onTracksChanged` only gets called when the available tracks change, not when the adaptive selection changes. You should use `getVideoFormat`. You can also register an `AnalyticsListener` that overrides `onDecoderInputFormatChanged` to be notified when a change occurs.

You should see the bitrate and track id set correctly for DASH and SmoothStreaming adaptive playbacks. HLS we made some recent im

[2018-08-21 14:05] tonihei commented on #4692
Just to add to this, you may prefer to use `onVideoSizeChanged` which gives the selected video format specifically. That makes a difference if using HLS and `onDecoderInputFormatChanged` has a muxed audio and video format.

[2018-08-21 14:10] ojw28 commented on #4699
Support for cross-fade is tracked by https://github.com/google/ExoPlayer/issues/3438. That issue is more in the context of audio, but most likely the changes required are common enough that they should be treated together. Note this is not a high priority issue for us, and we're unlikely to add support any time soon.

[2018-08-21 14:16] AndroidDeveloperLB commented on #3438
Can you please add the same about video?

Could be useful for both when you play a new video, and for when you loop on a single video (because sometimes the end of the video doesn't look the same as the start of it).

[2018-08-21 14:17] AquilesCanta commented on #4666
The issue seems to be actually caused by an sporadic server error which seems to be accentuated by opening connections in quick succession. A mitigation fix for this will be pushed soon, but this does do anything to work around faulty server behavior.

[2018-08-21 14:19] sravan1213 commented on #4692
@ojw28 @tonihei thanks for the help.
It is working as expected in `dev-v2` for both HLS and DASH streams.

[2018-08-21 14:19] #4692 closed, assigned to ojw28

[2018-08-21 15:02] fongfuse opened #4700 "How to change app:controller_layout_id programmatically"
I would like to set `app:controller_layout_id` programmatically?
thanks!

[2018-08-21 16:10] ojw28 commented on #4700
It is not possible to dynamically change the layout id (i.e. after `PlayerView` has been constructed). If that's what you're trying to do then it's not something we support, and you may have to look at implementing your own UI components to support your use case.

If you're just trying to specify the layout id when a `PlayerView` is being instantiated, then that's probably possible, although I'm u

[2018-08-21 16:11] ojw28 commented on #4698
Please can you provide reproduction steps, including sample media and details of exactly which of the tracks you're trying to select. The above information isn't sufficient to allow us to recreate what you're doing, or fully understand your problem.

[2018-08-21 17:01] robindanielk commented on #4698
@ojw28  Hi...since the sample media is available only locally i ll try to explain.
  * I have created a **concatenatingMediaSource**.
  * In one of the media sources inside concatenating media source, I want to _change_ the audio track.
  * The specific media source contains **[(1)Video and (4)audio tracks (1)SubRip]**
  * So i  am using  `OnTrackChangeListener` event of  the `PlayerListener` like

[2018-08-21 21:23] jessloran opened #4703 "question: difference between Player.EventListener() and AnalyticsListener()."
Hi. I am adding a listener to my player instance like:

`player.addListener(new Player.EventListener() {...});`

and I am using:

[code]

To do some processing on starting/stopping the audio track and encountering errors.

I have decided to work on an equalizer. I have discovered that there is not a way to acquire the audio session id through Player.EventListener() and it is available in Analytics

[2018-08-22 01:56] ZINK-FU commented on #4689
[code]
it works for me, thank you @AquilesCanta

[2018-08-22 02:05] qeadsw opened #4704 "Is there a function for reloading the cache information to refresh?"
When the cached information is loaded, the cached file is deleted for reasons such as cleaning up the garbage file, which means the cached information does not change.
Is there any way to redo it? I have read some source code and found that the function SimpleCache. Initialize () is not exposed.

[2018-08-22 02:29] ttm-hoangcm commented on #4695
Any clues? Or its impossible?

[2018-08-22 03:03] qeadsw opened #4705 "Can you cache a video without playing it? Instead of playing and caching at the same time."
Can you cache a video without playing it? Instead of playing and caching at the same time.

[2018-08-22 03:07] ursusursus opened #4706 "Question: Exoplayer instance for video playback (and background audio) in Foreground service?"
Hi,
I have used ExoPlayer before to play audio with background playback supported, meaning architecture was rather simple -> foreground service within which sat ExoPlayer instance.

_Now Id like to add video playback._ and audio should still continue to play while in background

**Is such architecture still viable when PlayerView.setPlayer wants the ExoPlayer instance directly?**
I noticed Surface

[2018-08-22 03:16] kingofswing commented on #4620
thank your for your quick replay. but found issue closed.  I mean I tried to get video played in bottom sheet fragment through normal steps. the point may be mask layer between the popup bottomsheet fragment and the recyclerview list.  if put some textview or input textbox or button, the layout is ok, but after exoplayerview put in layout of bottom sheet , when video starts to play, the video scre

[2018-08-22 03:28] esecoder opened #4707 "How to know when an audio track added with ConcatenatingMediaSource has finished playing"
So I have created the an audio player and added the media sources as ConcatenatingMediaSource, but it seems to play in succession without my control, but yet doesn't seem to send event reports especially when a track ends. Which I need to know so I can update the UI accordingly. Please how do I get to know when a track has finished playing when using ConcatenatingMediaSource.

MediaSource mediaSou

[2018-08-22 04:31] eneim opened #4708 "AdsMediaSource: can adUiViewGroup be on-demand instead of final/fixed?"
This is a question, also be a feature request if it fits the context.

Consider the following scenario: I have a PlayerView playing ads, the App is in portrait orientation. User rotates the App, and this App allows the landscape orientation. The implementation doesn't use the "configChange" in manifest, so the Activity will be recreated, making its Views are re-inflated as well.

Because AdsMediaS

[2018-08-22 07:06] morkovkin opened #4709 "How to use DownloadManager with multi directories"
Hello! How i can use DownloadManager with multi directories ? For example i try download 2 hls media files (using queues from manager) to different directories. I would like to make a directory like this -

Downloads
-- mediafiles1
---- cached_content_index1
-- mediafiles2
---- cached_content_index2
-- ...
-- mediafilesN
---- cached_content_indexN
-- actions
-- tracked_actions

I use DownloadManag

[2018-08-22 07:52] andrewlewis commented on #4708
When the activity is recreated there will be a new surface view for video decoder output so I don't think the UX is going to be completely smooth everywhere anyway (unless you handle the configuration change yourself), but resetting the player will introduce a longer pause so we should try to fix this.

One part I'm not sure about yet is how to get IMA to start using the new view group, and whethe

[2018-08-22 08:28] ram992 commented on #4674
Hello @ojw28 I am getting this error in Nokia Devices that are updated to the Android P preview Build
`com.google.android.exoplayer2.drm.UnsupportedDrmException: android.media.UnsupportedSchemeException: Failed to instantiate drm object.
        at com.google.android.exoplayer2.drm.FrameworkMediaDrm.newInstance(FrameworkMediaDrm.java:57)`

Is there a fix for it. Also I will be sharing the bug repo

[2018-08-22 08:45] eneim commented on #4708
@andrewlewis As the surface will eventually be recreated, Video stream will definitely be interrupted. But at least Audio can be kept playing during the transition. Lately I observe the same from YouTube App. If I keep the Player playing during the transition, once the new Surface is created, it will be immediately fed by new frames, which reduces the gap of playback.

After investigating the sour

[2018-08-22 08:49] noamtamim commented on #4665
Hi @ojw28, appreciate your response here.

[2018-08-22 09:12] AquilesCanta commented on #4689
Glad to hear that.

[2018-08-22 10:31] erdemguven commented on #4709
Currently this isn't supported. #4253 tracks this feature request.

[2018-08-22 10:31] #4709 closed, assigned to erdemguven

[2018-08-22 10:35] erdemguven commented on #4705
You can use DownloadManager to fully cache a video. Partial caching is only possible for progressive videos using CacheUtil.cache() method.

[2018-08-22 10:35] #4705 closed, assigned to erdemguven

[2018-08-22 10:36] vipulim commented on #4695
There is no direct way of doing this.
You can follow @ojw28 instruction from [this](https://github.com/google/ExoPlayer/issues/2855#issuecomment-303465454) issue.

Basically you need to create your custom `RenderersFactory `and `TrackSelector  `and using `MergingMediaSource `you can achieve this.

[2018-08-22 10:38] erdemguven commented on #4704
SimpleCache updates itself automatically when it finds out a file is deleted. The only way to do it manually is releasing the cache instance and creating a new one.

[2018-08-22 10:38] #4704 closed, assigned to erdemguven

[2018-08-22 11:32] #4615 closed, assigned to andrewlewis

[2018-08-22 12:17] ojw28 commented on #4706
Yes.

Assuming your service is in the same process, I'd recommend avoiding having to parcel everything. One simple solution is just to make the player static in the foreground service, and provide a static accessor to allow activities to get hold of it.

It is possible to put the service in a different process and do everything through intents / binding, but in that case I think you'd need to impl

[2018-08-22 12:45] ojw28 commented on #4665
Ack. We'll probably need to redirect all `Log.*` calls through our own class to do this in a sensible way.

[2018-08-22 12:53] psiddaraj opened #4710 "Multiple post roll Ads not played properly using Exoplayer v 2.8.4 & IMA SDK v3.9.4"
We are  testing multiple pre, mid & post roll Ads using Exoplayer 2.8.4 & IMA SDK v 3.9.4

Reproduction Steps:
1. Load the Exoplayer with VMAP configuration with multiple ore, post & mid roll Ads using an Ad Tag URI
2. Exoplayer plays pre & mid roll Ads without any issues.
3. Exoplayer UI is stuck after first post-roll Ad is played & doesn't switch to the next post roll Ad.

This issue is always r

[2018-08-22 13:03] ojw28 commented on #4707
`EventListener.onPositionDiscontinuity` will be called with `DISCONTINUITY_REASON_PERIOD_TRANSITION` when playback transitions from one piece of media to the next. You can use `Player.getCurrentWindowIndex` and `Player.getCurrentTag` to query which piece of media is currently playing. Note that you can set tags on each piece of media when building the `ExtractorMediaSource` instances, by calling `

[2018-08-22 13:03] #4707 closed, assigned to ojw28

[2018-08-22 13:11] ojw28 commented on #4703
It's available through `AudioListener`, and you should use this for what you're trying to do, rather than `AnalyticsListener`. You can add an `AudioListener` by calling `addAudioListener` on your `SimpleExoPlayer` instance.

`AnalyticsListener` is really intended for logging/analytics, rather than potentially user visible application logic. You should use `EventListener` and `AudioListener` instea

[2018-08-22 13:49] ojw28 opened #4711 "Audio track selection always prefers first renderer"
When there are two audio renderers (e.g. because the FFmpeg extension is being used), track groups are mapped to both of them, and the application specifies a constraint on track selection, `DefaultTrackSelector` will always prefer a track mapped to the first renderer, even if the constraint is better satisfied by a track in the second selection. We should instead select a track for the second aud

[2018-08-22 13:50] ojw28 commented on #4698
I don't think the demo app contains this code. Furthermore, this line looks wrong. You should be passing a renderer index, not a track type:
[code]
Please take a more careful look at exactly what the demo app is doing.

As an extra hint, I think the extra complexity in your case is that you're also using the Ffmpeg extension. If you look at the logging at the bottom of your post above, you can see

[2018-08-22 14:01] andrewlewis commented on #4622
@andrewger157 I think the fix in e9e1c08 was too aggressive and caused a later ad break to be discarded. The provided ad tag plays correctly for me if I revert all of that change except the assignment `pendingContentPositionMs = C.TIME_UNSET` on line 1111, which is needed to ensure that the player position is reported to IMA. I've made a fix for this and it will be pushed to the dev branch soon. T

[2018-08-22 14:06] andrewlewis commented on #4681
I've got a possible fix for these issues (please see the update on #4622) but the ad tag provided via email seems to have only empty ad breaks. Is that expected? Thanks.

[2018-08-22 15:55] ojw28 commented on #4674
You should report the issue to Nokia (or whoever is distributing the preview build that you're using).

[2018-08-22 20:06] jessloran commented on #4703
Thank you so much for information, @ojw28. I have tried using addAudioListener on my player instance but it I could not find it. I have referred to the documentation for SimpleExoPlayer:

https://google.github.io/ExoPlayer/doc/reference/

Though, all I could find is addAudioDebugListener which is deprecated in favor of addAnalyticsListener(AnalyticsListener).

My current ExoPlayer version is 2.8.2

[2018-08-22 21:01] ojw28 commented on #4703
Ah, `addAudioListener` is only available in the `dev-v2` branch currently. It'll be part of 2.9.0. Given the end goal of using `EventListener` and `AudioListener`, I'd be tempted to use `EventListener` the the deprecated `addAudioDebugListener` for now, and switch the latter over to `AudioListener` when available.

[2018-08-23 01:47] objectiveCarlo commented on #4681
We will send you another ad tag. Because I think the ads already expired on our side.

[2018-08-23 02:16] tmizuguchi-bckk commented on #4329
@rrfrias According to the date obtained previously, it seems the same issue on Android 8.0 (#3150) occurring on the Kyocera 8.1 device. Hope it could be a hint for solving this problem.

[2018-08-23 03:22] objectiveCarlo commented on #4681
If we remove the empty ad break will it work?

[2018-08-23 03:56] ram992 commented on #4674
I've sent a Mail to them explaining the situation. And will be sharing the ADB for Moto Z issue in few days

[2018-08-23 04:46] vipulim commented on #4688
Can anyone please respond on this issue?

[2018-08-23 04:54] ttm-hoangcm opened #4712 "Display video player in textureView"
I'm using ExoPlayer to display a stream video like that:

<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/mixer_

[2018-08-23 05:07] jessloran commented on #4703
Thank you for the advice. I will follow it. I suppose onAudioDisabled on AudioDebugListener is the equivalent of onDecoderDisabled where I release the equalizer?

[2018-08-23 05:08] robindanielk commented on #4698
@ojw28  .. Hi..thanks for the hint....Now instead of using `EXTENSION_MODE_PREFER`, i have changed the renderer extension to be always` EXTENSION_MODE_ON `.
Now all the audio tracks are grouped under one renderer.
Will setting `EXTENSION_MODE_ON` as default cause any issues since i am using FFMPEG extension?..
Also i have used..
[code]

 **the subtitleRender Index is returning a wrong index of 1**

[2018-08-23 06:02] lokeshdesai403 opened #4713 "I want to play two audio simultaneously using exoplayer. Non of media source working with this case. How i can achieve this?"
I have override buildAudioRenderers in DefaultRenderersFactory, and getMediaClock in MediaCodecAudioRenderer. Also I implement TrackSelector. In that way I can play all audio track simultaneously. But issue is i can only add upto 10-20 tracks after that Exoplyer stop working.

[2018-08-23 06:13] danha306 opened #4714 "Is it possible to get Dash stream sizes before starting a download?"
We are developing an app that among other things lets users download (Widevine-protected) Dash content to their devices for later playback offline. Since our video assets can reach a considerable  size we would like to prompt the user with the file sizes for each representation before starting a download, so the user can select the appropriate representation to download. The use case is as follows

[2018-08-23 06:53] andrewlewis commented on #4681
An ad tag without empty ad breaks shouldn't exhibit this issue.

[2018-08-23 07:08] ojw28 commented on #4703
Yep!

By the way, only alternative model is to extend `MediaCodecAudioRenderer` and override `onAudioSessionId` (and I guess `onDisabled`). Then make it so your extension renderer is used rather than the standard one when building the player. The benefit of this approach is that the equalizer logic becomes "part of the player", which conceptually makes sense. These methods are also called on the p

[2018-08-23 07:08] #4703 closed, assigned to ojw28

[2018-08-23 07:11] ojw28 commented on #4713
This is likely due to underlying platform limitations (e.g. on the amount of `AudioTrack` buffer space that the device can allocate). Your use case sounds quite unusual, but I think to do what you're trying to do, you probably need to do some mixing of the audio prior to it entering `AudioTrack`, so that you only have one `AudioTrack` instance. This is not something we support directly.

[2018-08-23 07:13] ojw28 commented on #4712
It's unclear what you expected go happen, and what did happen. Please can you also provide easy to use reproduction steps? In this case probably in the form of a complete project on GitHub that we can just checkout in order to see what you're seeing? We don't have cycles to recreate your app in order to help debug the issue.

[2018-08-23 07:21] ojw28 commented on #4688
I would suggest you try the following (although I haven't tried this, so you might encounter a reason it doesn't work):

* Implement a `Renderer` that wraps another `Renderer`. To start with just implement it to call through to the wrapped `Renderer`.
* Modify `maybeThrowStreamError` to never throw, but instead catch any exception thrown by the wrapped `Renderer`, and set a boolean `sourceError` f

[2018-08-23 07:27] ojw28 commented on #4698
I don't really understand the question. Why would you expect that it might?

As for the following:

[code]

This is not correct code, so it's unsurprising that it doesn't work. `getRendererType` does not accept a type argument and does not return an index, so your usage is incorrect. Please consult the documentation for this method.

[2018-08-23 07:27] #4698 closed, assigned to ojw28

[2018-08-23 07:41] ttm-hoangcm commented on #4712
I have a TextureView :
[code]
Then I create ExoPlayer for a stream video and set it into my TextureView :
[code]
I expected it will display in TextureView ok, but it's not, here is my result :
[https://ibb.co/dpUWCe](url)
Where I was wrong, and how to fix it? Thanks a lot

[2018-08-23 07:46] ojw28 commented on #4712
It's really not possible for us to debug this kind of issue without clearer reproduction steps. For example, I have no idea what's wrong with that screenshot, because I don't know what it's supposed to look like. Even once I understand what's wrong with it, I have no way to easily debug what might be wrong, because I don't have full access to the code and a working project to reproduce the problem

[2018-08-23 09:09] arazabishov opened #4715 "LoadEventInfo.dataSpec is null on call from EventListener.onLoadStarted (AnalyticsListener.onLoadStarted)"
### Issue description
`AnalyticsListener.onLoadStarted()` is called with an `LoadEventInfo` object with null `dataSpec`. It seems that issue is specific to audio only media source types. The expected behavior is to receive `dataSpec` for all media source types. Please note, I get the same results when adding `EventListener` to the player.

### Reproduction steps
This issue is reproducible in the d

[2018-08-23 09:23] onecoders commented on #4415
Problems also happen on OPPO R7 Plus(version:2.7.3)

[2018-08-23 09:34] tonihei commented on #4715
That has been fixed over 2 months ago in our dev branch. Not sure how it not ended up in a release yet :)

It will hopefully be included in the upcoming 2.9.0 release.

[2018-08-23 09:34] #4715 closed, assigned to tonihei

[2018-08-23 10:40] arazabishov commented on #4715
Thanks for the quick response @tonihei. Do you have an idea when 2.9.0 will be released? :)

[2018-08-23 10:45] tonihei commented on #4715
Probably soon. But we don't have a fixed date yet, sorry.

[2018-08-23 10:48] arazabishov commented on #4715
I understand, thanks guys!

[2018-08-23 10:56] vipulim commented on #4688
Thanks, @ojw28 for your detailed answer.
I've created a wrapper `renderer` which wraps my original renderer and modified the code according to your instructions.

But `maybeThrowStreamError` never get called on wrapper renderer. Other renderers still getting stopped if one of the sources is unreachable.

According to your 2nd point:

I don't know how to catch exceptions thrown by the renderer, I m

[2018-08-23 10:58] ened opened #4716 "Add support for forwarding / rewinding single frames"
This feature request is for seeking by single video frames.

The user would play a recording & put the player in a paused state once a particular moment has been reached. Then they would repeatedly tap a `previous frame`, `next frame` until the target frame has been reached.

PS: Is this something which can already be done using the seekTo API (given the correct math for the FPS / ms calculation)?

[2018-08-23 11:54] lokeshdesai403 commented on #4713
If one audio is already playing using one AudioTrack instance. than for playing another audio file i have to make another instance. Isn't it?

[2018-08-23 12:09] ened opened #4717 "Add "open" button to Example App"
For non-adb connected use cases (in which we can use intents), it would be nice if the example app could have a little "open" button to find a file on the phone storage and play it.

https://developer.android.com/guide/topics/providers/document-provider

I will get to it later, unless someone would like to pick this up.

[2018-08-23 12:14] ojw28 commented on #4717
I think we really don't want to add any extra complexity into the demo app. It's already too complicated.

[2018-08-23 12:22] ened commented on #4717
Understand your concern about growing complexity, however I would like to note that from "quick test" use case point of view it's rather limiting because:
- Other apps can't simply feed data into the demo app (intent filter)
- No way to place demo files on dedicated SD card folder
- List of media in demo app is fixed

[2018-08-23 12:43] ojw28 commented on #4688
[code]

Ah, yes. Source errors can be propagated both through the `Renderer` (failure during playback), or directly from the source (during preparation). My solution only covers the first case, where-as you're most likely hitting the second.

You might need to do something similar, but wrapping `MediaSource`/`MediaPeriod`/`SampleStream` instead. This approach could be used to suppress all errors b

[2018-08-23 13:54] giladna opened #4718 "404 file not found Error after switching bitrate in live stream"
Hi,

We are facing a strange behavior in exoplayer demo
after I switch the video bitrates in live stream few times we get 404 error
this error can be seen in the log below
"InvalidResponseCodeException: Response code: 404"

could you please explain the behavior of the player which segments are downloaded and what is the strategy of downloading segments when changing the bitrate
how come the player

[2018-08-23 14:31] bkadirbeyoglu opened #4719 "Video Stream Does not Play in Demo App"
### Issue description
Video Stream Does not Play in Demo App. VLC Player application play the stream without issues.

### Reproduction steps
Try playing the stream in the demo application.

### Link to test content
Sent in e-mail.

### Version of ExoPlayer being used
releaseVersion = '2.8.4'
releaseVersionCode = 2804

### Device(s) and version(s) of Android being used
Nexus Player 8.0.0

### A ful

[2018-08-23 14:34] ojw28 commented on #4718
Given you're selecting a specific format (i.e. disabling adaptive selection), we simply download the chunks listed in the media playlist for the selected format, from the current playback position. Your stream must declare a chunk in the media playlist that returns a 404 when requested.

The media playlist must be explicitly listing the chunk, and since you've disabled adaptive selection, the play

[2018-08-23 14:50] giladna commented on #4718
@ojw28
Thanks!

I would be great if you could reproduce this on latest Exo Demo app
(Tell me if you haven't seen the url I have shared)
and tell if this is the case here

10x
Gilad.

[2018-08-23 14:52] hannojg opened #4720 "ExoPlayer fails to get duration on local AAC files"
### Issue description
ExoPlayer doesn't get the duration, therefore seeking is not possible (and obviously to get the duration).

### Reproduction steps
The app downloads content as mp4 videos usually. Then it uses ffmpeg to extract the audio as an AAC file. The files usually don't have a file extension on the device. There
Using android's `MediaMetadataRetriever().extractMetadata(MediaMetadataRet

[2018-08-23 14:56] giladna commented on #4718
@ojw28

is it suggested for live to keep it adaptive for at least 2 bitrates

thanks!

[2018-08-23 14:59] ojw28 commented on #4718
It really depends on your use case. If you know that your serving infrastructure is always going to make segments available then it doesn't matter. If segments can 404, you'd ideally keep as many bitrates enabled as possible.

[2018-08-23 14:59] vipulim commented on #4688
@ojw28
Seems like it's beyond my competence.
Kindly let me know if you guys have any plan to include any simplified mechanism of doing this in ExoPlayer in future.

Thanks for your support.

[2018-08-23 15:20] jessloran commented on #4703
Thank you so much for the valuable information, ojw28.

[2018-08-23 16:10] ojw28 commented on #4720
Duplicate of https://github.com/google/ExoPlayer/issues/4548. Support is being added in 2.9.0.

[2018-08-23 16:10] #4720 closed, assigned to nobody

[2018-08-23 16:15] ojw28 commented on #4719
The link gives a 401 response code for me. Perhaps you need authorization, or it's geo-restricted. That aside, this is almost certainly answered here:

http://google.github.io/ExoPlayer/faqs.html#why-do-some-mpeg-ts-files-fail-to-play

Closing on that assumption, but let us know if this FAQ does not resolve the question, and if you're able to provide an accessible test stream.

[2018-08-23 16:15] #4719 closed, assigned to ojw28

[2018-08-23 16:19] nahojkap opened #4721 "MediaDrm.release not called in all cases"
While reviewing playback issues with PlayReady DRM on Android TV devices, I noticed that the MediaDRM#release method is never called when the DRM session manager is released.

Not sure it has an impact but for completeness, the DefaultDrmSession#release method should probably do this when it is called?

[2018-08-24 03:22] sunshangfeng commented on #4559
@tonihei  您好我是中国开发者，我也遇到这个问题  我想请问如何禁用编辑列表的无间隙信息处理并让音轨编辑列表通过标准的方式运行 期待你的回答

[2018-08-24 06:56] andrewlewis commented on #4559
@sunshangfeng If you want edit lists to be ignored, pass `FLAG_WORKAROUND_IGNORE_EDIT_LISTS` to `DefaultExtractorsFactory.setMp4ExtractorFlags`.

[2018-08-24 07:55] andrewlewis commented on #4140
This is still reproducible with IMA SDK 3.9.4 including in the official IMA sample app, and I think the same issue is occurring with @na-in-lee's ad tag above. I'll post an update here when we have more information about what is going on. [Internal: b/110400963]

[2018-08-24 10:05] junaid24 commented on #4657
Hi @erdemguven
In the above approach getting subtitles from subtitleView.onCues(cues) method of PlayerView class creates a new problem because this is happening just before subtitles are displayed on screen. Here  I am taking subtitles from there translating it and passing to subtitle View but that creates a synchronization issue between the audio and text(Subtitles are coming with a little delay)

[2018-08-24 10:38] ojw28 commented on #4688
I've marked this as a low priority enhancement. We may look at adding support in the future.

[2018-08-24 10:42] tonihei commented on #4688
#4343 also tracks a similar issue for skipping media sources in ConcateningMediaSource if they fail to load.

[2018-08-24 11:34] ZohaibGhafoor opened #4722 "Issue can not play Google DFP HLS or MPD AdTag."
i am using adTag generated from Google DFP and using HLS and MPD format buy i always get this error.

AdTag:
https://pubads.g.doubleclick.net/gampad/ads?iu=/39243592/413851632&description_url=[placeholder]&env=vp&impl=s&correlator=&tfcd=0&npa=0&gdfp_req=1&output=vast&sz=640x480&unviewed_position_start=1

[code]

[2018-08-24 11:35] gerahimanshu opened #4723 "BehindLiveVideoException while playing the HLS video url"
Hi,
I am trying to play an HLS video url and able to play it for a few seconds and then getting the following error:
[code]
Please Help!

[2018-08-24 11:36] Tolriq opened #4724 "Somes wav files generate loud white noise at the end"
Exoplayer 2.8.4

A user reported to me that some wav files generate loud white noise at the end of the playback of each track for about 1 second. (On multiple different devices)

But he was also able to provide me a wav file that triggers that bug at the end for unlimited duration.
The media is 4:16 duration, but after the end loud white noise until stop is pressed.

All can be easily reproduced v

[2018-08-24 11:38] andrewlewis commented on #4722
The cause is `AdError [errorType: PLAY, errorCode: AdErrorCode [name: VAST_LINEAR_ASSET_MISMATCH, number: 403], message: Linear assets were found in the VAST ad response, but none of them matched the video player's capabilities.]`.

Searching for `VAST_LINEAR_ASSET_MISMATCH` may help. Or if you provide the ad tag we can take a look.

[2018-08-24 11:40] ojw28 commented on #4721
In the demo app it's application code that both instantiates and releases the `MediaDrm` instance, and this is one way of doing it. We do however have static methods like `DefaultDrmSessionManager.newFrameworkInstance` where the `MediaDrm` is instantiated internally, and not also released internally, which doesn't seem right.

We need to figure out what the best thing to do here is. It may tie in

[2018-08-24 11:40] ZohaibGhafoor commented on #4722
@andrewlewis
@andrewlewis
AdTag:
https://pubads.g.doubleclick.net/gampad/ads?iu=/39243592/413851632&description_url=[placeholder]&env=vp&impl=s&correlator=&tfcd=0&npa=0&gdfp_req=1&output=vast&sz=640x480&unviewed_position_start=1

[2018-08-24 11:41] ojw28 commented on #4724
I don't think we can do anything to look at this unless we have sample content that reproduces the issue.

[2018-08-24 11:42] ojw28 commented on #4723
`BehindLiveVideoException` is fairly well documented on this issue tracker and elsewhere. Have you tried searching existing issues, and if so why do they not answer your question (i.e. what is specifically different about your case)?

If you believe there's something different, then you need to properly full out the issue template for us to look at this.

[2018-08-24 11:53] Tolriq commented on #4724
@ojw28
Well the indirect question was how do I send you the said content without posting copyrighted content on a public place :)

[2018-08-24 11:57] ojw28 commented on #4724
This is already answered in the issue template that you would have seen when filing this issue:

[code]

[2018-08-24 11:58] ZohaibGhafoor commented on #4722
@andrewlewis
AdTag:
https://pubads.g.doubleclick.net/gampad/ads?iu=/39243592/413851632&description_url=[placeholder]&env=vp&impl=s&correlator=&tfcd=0&npa=0&gdfp_req=1&output=vast&sz=640x480&unviewed_position_start=1

[2018-08-24 12:00] Tolriq commented on #4724
Oups missed that as bugreport was not relevant to the issue :(

Sorry and mail sent.

[2018-08-24 12:04] erdemguven commented on #4657
One option:
1. implement a wrapper SubtitleDecoder which wraps another SubtitleDecoder
2. implement a custom SubtitleDecoderFactory which wraps SubtitleDecoderFactory.DEFAULT
3. In your SubtitleDecoderFactory.createDecoder create your SubtitleDecoder which wraps whatever object SubtitleDecoderFactory.DEFAULT.createDecoder returns.
4. In your SubtitleDecoder.dequeueOutputBuffer do the translation o

[2018-08-24 13:36] anonym24 opened #4725 "SSA/ASS Cues - two or more cues/phrases at the same time aren't displayed"
### Issue description
two or more cues/phrases at the same time aren't displayed when such lines are occur in .ssa/.ass file subtitles

![screenshot_2](https://user-images.githubusercontent.com/8851301/44587469-b7d96200-a7bb-11e8-8247-24b11d56f4b0.jpg)

but only one cue is displayed during playback

### Reproduction steps
load the next subtitles file - [test5.ass.zip](https://github.com/google/Exo

[2018-08-24 13:40] anonym24 commented on #4725
**test5.ass** subtitles file source:

[code]

[2018-08-24 13:49] tonihei commented on #3829
Did you try disabling the edit list handling as suggested on #4559? If it helps, then it's probably the same issue.

[2018-08-24 13:53] venkataramanaj opened #4726 "How to show notification along with play/pause controls"
<no description>

[2018-08-24 17:44] bkadirbeyoglu commented on #4719
Using the flag FLAG_ALLOW_NON_IDR_KEYFRAMES as mentioned in the link solved my problem. Thank you!

[2018-08-24 17:46] andrewlewis commented on #4710
@psiddaraj This should be fixed on the dev-v2 branch. Please could you try it out and let us know if you see any issues? Thanks.

[2018-08-24 17:49] andrewlewis commented on #4681
@objectiveCarlo, @asolis90, @CipherGit This should be fixed on the dev-v2 branch. Please could you try it out and let us know if you see any issues? Thanks.

[2018-08-24 18:55] andrewlewis commented on #4722
We're setting the supported MIME types on the `AdsRenderingSettings` but it looks like they aren't being propagated to the code that determines what ad media can be played. I've filed [Internal: b/113165344] to investigate and will update this when I hear back. Thanks for reporting this!

[2018-08-25 04:29] igorgur opened #4727 "Prepare progressive streams in MediaSource.prepare"
I am using the functionality of `ConcatenatingMediaSource` together with `setShowMultiWindowTimeBar(true)`.
My goal is to play multiple videos on the same window with one long seekbar, one period, and multi-window time bar of all videos in total.
When I concatenate 2 videos it works as expected - calculates the total length and enables seeking over the whole concatenated video, but I have noticed

[2018-08-25 08:19] sunshangfeng commented on #4559
thank you very much，我尝试一下

[2018-08-25 12:04] 1mohammad7 opened #4728 "ExoPlayer STATE_ENDED not called after song is finished"
Here is my code snippet:
[code]

onTrackChanged gets called but STATE_ENDED doesn't get called.
I set the repeat mode to repeat all, if it's releavent
[code]

[2018-08-27 03:12] ttm-hoangcm opened #4729 "Get width & height of player?"
Does ExoPlayer have these methods, like getVideoHeight() & getVideoWidth() of MediaPlayer. Because I need something same to its while use ExoPlayer with other library. Thanks.

[2018-08-27 05:16] ArcherEmiya05 opened #4730 "Handling the player inside ViewPager"
Is there any sample on how to handle correctly the video playback if it is in ViewPager? For example play will be triggered if and only if the PlayerView gets visible in screen or ViewPager. If the user swipe to next page the previous video will stop or destoyed.

[2018-08-27 05:32] akurni commented on #3829
Hi @tonihei,
I tried the solution, but it seems like the problem still persist.

`DefaultExtractorsFactory extractorFactory = new DefaultExtractorsFactory();          extractorFactory.setMp4ExtractorFlags(Mp4Extractor.FLAG_WORKAROUND_IGNORE_EDIT_LISTS);
return new ExtractorMediaSource.Factory(mediaDataSourceFactory)
                        .setExtractorsFactory(extractorFactory)

[2018-08-27 08:00] ojw28 commented on #4728
`STATE_ENDED` means that the player has finished playing, which is not the case in your example because it's still playing something (due to the repeat mode).

If you're trying to detect when playback moves from one item in a playlist to the next, or when it restarts playback in the case that you're playing a single piece of media, then listen for `EventListener.onPositionDiscontinuity` with `reas

[2018-08-27 08:00] #4728 closed, assigned to ojw28

[2018-08-27 08:02] ojw28 commented on #4726
Please look at [PlayerNotificationManager](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerNotificationManager.html).

[2018-08-27 08:02] #4726 closed, assigned to ojw28

[2018-08-27 08:06] ojw28 commented on #4717
Could you elaborate on what the actual use case is. Who is the user, and what are they trying to test?

Note that the demo app can receive media specified via intent if you describe it in the form of a `exolist.json` file, as documented [here](https://google.github.io/ExoPlayer/demo-application.html). This enables use cases like content providers wanting to load a list of their test media into the

[2018-08-27 08:06] #4718 closed, assigned to ojw28

[2018-08-27 10:14] psiddaraj commented on #4710
Thanks @andrewlewis. The issue is fixed dev-v2 branch. Could you please let me know, when this patch or fix would be available in release branch ?

[2018-08-27 11:13] ArcherEmiya05 commented on #4730
I do not want to use FragmentStatePagerAdapter or FragmetPagerAdapter since it may cause overhead.

[2018-08-27 12:53] AndroidDeveloperLB opened #4731 "Bug: when `onPlayerStateChanged` is called , saying the video has started, it shows a black content first"
It's for a very very short time, but you can notice it in some content.

In my sample POC, I've made a ViewAnimator that has an ImageView and PlayerView. When the player says it's completely ready and starts playing, I switch to the PlayerView:

        player!!.addListener(object : PlayerEventListener() {
            override fun onPlayerStateChanged(playWhenReady: Boolean, playbackState: Int) {

[2018-08-27 12:58] AndroidDeveloperLB commented on #4731
BTW, the sample shows opening a file from external storage, but the same issue occurs with the res/raw resource file too.

[2018-08-27 13:39] ened commented on #4717
Noted the demo app is already flexible to play arbitrary media.

Say a user wants to open files from his SD card, or other sources like files stored in other directories or within apps like Dropbox, then they would be required to write a second app. That app does nothing but show the file provider ui as documented in the OP, receive the URI and construct the media json and forward that to the demo

[2018-08-27 15:14] taimoorMalik commented on #4466
Hey,

I just signed the petition "Stop the Prophet Muhammad ((Peace and
Blessings be upon him) cartoon competition" and wanted to see if you
could help by adding your name.

Our goal is to reach 160,858 signatures and we need more support. You
can read more and sign the petition here:

https://chn.ge/2MzzdM7

Thanks!
Taimoor

[2018-08-27 16:44] RyanKingAccedo opened #4733 "LoadErrorHandlingPolicy Merge Timeframe"
I am working on a project where I would like to utilize the new `LoadErrorHandlingPolicy` which is currently on the dev branch. Is there a timeframe for when this will be available in general releases?

[2018-08-27 18:11] ArcherEmiya05 opened #4734 "Connection with Firebase is not stable"
Sometimes streaming with Exoplayer using FirebaseStorage gets an error and stuck in buffering.

Exoplayer 2.8.1

LG K10
Android M

              E/ExoPlayerImplInternal: Source error.
                         com.google.android.exoplayer2.k.r$e: Response code: 402
                             at com.google.android.exoplayer2.k.o.a(DefaultHttpDataSource.java:211)
                             at com

[2018-08-27 18:22] ojw28 commented on #4733
We do not have a set timeframe, but most likely September or October.

[2018-08-27 18:22] #4733 closed, assigned to ojw28

[2018-08-27 18:25] ojw28 commented on #4734
A quick search for `firebase storage "402"` suggests to me that you're hitting a Firebase Storage quota limit. I'd suggest you investigate that. In any case, the root issue here is that the server is returning a HTTP status code 402. This is not an ExoPlayer issue, but rather that the server choosing not to serve the content.

[2018-08-27 18:25] #4734 closed, assigned to ojw28

[2018-08-27 18:30] ojw28 commented on #4717
The demo app isn't intended to distribute to end users. It doesn't even have translations (i.e. only works in English), and we don't want to provide end user support for it. If you want to create a simple demo app, I'd suggest you fork it, make it a bit more user friendly, and distribute that instead.

It's still somewhat unclear to me what the use case is. I can understand developers wanting to u

[2018-08-27 18:32] ojw28 commented on #4713
There's nothing stopping you from mixing the audio yourself before it's fed into `AudioTrack`. Such an approach would let you play an arbitrarily large number of streams using a single `AudioTrack` instance. As above, this isn't something we support directly, so you'd need to figure out how to implement it yourself.

[2018-08-27 18:32] #4713 closed, assigned to ojw28

[2018-08-27 18:33] #4706 closed, assigned to ojw28

[2018-08-27 18:33] ojw28 commented on #4678
Closing due to lack of required information.

[2018-08-27 18:33] #4678 closed, assigned to ojw28

[2018-08-27 18:34] ojw28 commented on #4684
Closing due to lack of information. If you can provide the required information please respond with it here, and we'll re-open the issue. Thanks!

[2018-08-27 18:34] #4684 closed, assigned to ojw28

[2018-08-27 18:35] ojw28 commented on #4700
Closing as answered, but if you have follow up questions please feel free to respond here anyway, and we'll do our best to answer them.

[2018-08-27 18:35] #4700 closed, assigned to ojw28

[2018-08-27 18:35] #4631 closed, assigned to ojw28

[2018-08-27 18:56] igorgur commented on #4727
@ojw28, @tonihei  Thank you for picking up this ticket. Could you elaborate a little on that, do you plan to address that in the next release?  if so what would be the time frame for that fix?

[2018-08-27 19:41] animaonline commented on #2882
When will this be support for HLS streams?

[2018-08-28 01:09] objectiveCarlo commented on #4681
Right now we don't have the same ad tags anymore cause I think our backend guys did some tweaking. Ill try to get a sample ad tag from them and let you know. Thank you!

[2018-08-28 05:14] drayan85 commented on #4110
Any updates @AquilesCanta ?

[2018-08-28 05:54] abbasiehsan1991 opened #4735 "Dash Content with 4 Resolution"
I have a  Dash content that has a video with 4 different resolution. I'm playing the video like this:

[code]
I want to get all resolutions  and show it to the user
But I can't get 4 available qualities in `Exoplayer r2.5.3` Before I used `player.getTrackCount(0)` to get all qualities in `Exoplayer r1.5.8`.
I am really confused and I got nothing with my searches.
I really appreciate your help.

[2018-08-28 07:37] andrewlewis commented on #4565
Using IMA to insert midroll ads in live streams isn't a use case we support at the moment, I'm afraid. The ad tags have fixed cue points and it's unclear how to handle the player position when resuming the live stream after playing a midroll. It's better to use server-side ad insertion or in-stream metadata about ad breaks for this use case.

[2018-08-28 07:37] #4565 closed, assigned to andrewlewis

[2018-08-28 07:41] andrewlewis commented on #4710
It will probably be in 2.9.0, but we don't have a solid ETA for that yet.

[2018-08-28 07:49] andrewlewis commented on #3693
- The javadoc for `AdsMediaSource` documents the two limitations you're already aware of. I can't think of any other relevant ones.
- I'd like to address the limitation that prevents concatenation of ads media sources, but don't have time at the moment. So it's planned but please don't rely on it being done soon.
- For now you'll probably have to go with the manual approach of swapping our the pla

[2018-08-28 08:30] tonihei commented on #4727
Looking at the "workaround" you proposed above, it looks like you already figured out the reason behind this behaviour.

To show a multi-window time bar, the player has to know all durations of all items in the playlist. For traditional progressive streams (i.e. not DASH, HLS, or SmoothStreaming), the duration only becomes known after we actually started loading the stream. That means, we won't kn

[2018-08-28 09:30] AquilesCanta commented on #4110
Unfortunately, no. We are working on it, though. Thanks for your patience. It may still take some more time.

[2018-08-28 09:32] ojw28 commented on #2882
We do not have an ETA for supporting this for HLS.

[2018-08-28 09:52] tonihei commented on #4559
I think the original issue hasn't been addressed yet.

[2018-08-28 11:07] #4666 closed, assigned to AquilesCanta

[2018-08-28 11:08] AquilesCanta commented on #4666
Please give it a try and let us know whether this fixes your issue.

[2018-08-28 11:27] Tolriq commented on #4352
@ojw28 / @tonihei After all discussions about threading and the adding of your internal stat handler that creates the race conditions https://github.com/google/ExoPlayer/issues/4278.

I finally followed the recommendations and switched to all access on mainthread and I'm now facing this ANR too. (Google Vitals, unable to reproduce yet)

[code]

Related code is;
[code]

IMO you can't ask people to

[2018-08-28 11:50] anilsangani opened #4736 "My url previously on http than i was SSl so its https url and then i am facing below issue"
i just called all audio file from server put it in recyclerview than play it with exoplayer

 Source error.

[code]

[2018-08-28 12:21] ojw28 commented on #4352
The rare/sporadic ANRs occur when `MediaCodec` gets into a bad state, causing one of ExoPlayer's calls into it to hang indefinitely. I'm not sure that we've ever seen a reported occurrence that's been anything other than this, so I disagree with the statement that there are many possible reasons. In practice we only see one.

I don't think this is an accurate reflection of the choice. It's more li

[2018-08-28 13:03] Tolriq commented on #4352
You send a message to a thread and wait for something that is supposed to be done there for infinite time.
Maybe currently only MediaCodec bad state generate that, but message queue could be full or take time to manage all and all those will generate lag on main thread. Wait on main thread is being a bad citizen on Android, and Google says that nearly everywhere ;)
Specially when it's done inside

[2018-08-28 13:17] ojw28 commented on #4352
This is hypothetical and not true in practice. The message queue is completely under our control, and will normally only have one or two messages queued at any given point in time.

There are some cases where not waiting is significantly worse, as is the case here. There are other cases where waiting on the main thread is unavoidable. For example if you've passed a `Surface` reference to a non-mai

[2018-08-28 13:19] sandmanDev opened #4737 "Issue with RTMP Live Stream MetaData Injection and receive on Android ExoPlayer"
I am facing an issue with RTMP live stream MetaData injection and trigger it on client side. While using Wowza Stream Server I successfully inject metadata according to https://www.wowza.com/docs/how-to-inject-cue-points-or-metadata .

On client side using Exo Player for RTMP I add these listeners

    exoPlayer.addMetadataOutput(new MetadataOutput() {
        @Override
        public void onMetad

[2018-08-28 13:48] Tolriq commented on #4352
@ojw28
So the question is how to avoid the MediaCodec infinite wait so :)

Is there a way to detect that?
Is there a way to kill the ExoPlayer thread without the process? (If that reset the MediaCodec of course)
Is there a way to detect blocked mediacodecs on new ExoPlayer creation to warn the user and propose a restart of the process?

I don't mind showing a wait dialog or anything useful to the

[2018-08-28 14:39] ened commented on #4717
I'll go with the separate app approach. Easier. 👍

[2018-08-28 14:39] #4717 closed, assigned to ojw28

[2018-08-28 14:41] ojw28 commented on #4352
Unfortunately the only real fix for the MediaCodec issue is to better prevent devices from shipping with the underlying issues that cause it in the first place. Which we've been working on, but it's a hard problem. The percentages are so low and the failures so sporadic, that it's not possible to write a test that will reliably detect such issues during Android device certification.

I'm not aware

[2018-08-28 14:42] ened commented on #4730
What means "may cause overhead" in this case?

Anyway, perhaps check https://stackoverflow.com/a/20657022/375209 and ask on SO instead?

[2018-08-28 15:00] tonihei commented on #3829
I just checked the new sample files you've sent and I can now reproduce the issue. Thanks for that!

However, the issue seems to be indeed an exact duplicate of #4559 and can be prevented by setting the FLAG_WORKAROUND_IGNORE_EDIT_LISTS flag (or by commenting out the gapless information handling as I've done in #4559).

[2018-08-28 15:11] komissarovdenis opened #4738 "setPlayWhenReady() crashes"
After update from 2.7.3 up to 2.8.4 I have seen rare bunch of crashes from fabric. There're two stacks related to `setPlayWhenReady()` method:

`
Fatal Exception: java.util.NoSuchElementException
       at java.util.ArrayDeque.removeFirst(ArrayDeque.java:263)
       at com.google.android.exoplayer2.ExoPlayerImpl.updatePlaybackInfo(ExoPlayerImpl.java:682)
       at com.google.android.exoplayer2.Exo

[2018-08-28 15:42] Tolriq commented on #4352
Well there was no offense I'm not native English speaker so often sound harsh. I totally suppose that you'll have fixed it if it was possible. All I'm saying is that ANR / crash are bad, a message saying there's a problem press ok to restart the app is better. I can understand it does not fit Youtube, but for my user target it's a better option.

About sporadic, I only have 7500 beta testers and t

[2018-08-28 16:08] ravirajjak commented on #4086
59 18570-18977/in.publicam.blueplanet E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.ParserException: org.xmlpull.v1.XmlPullParserException: Unexpected token (position:TEXT #EXTM3U
    #EXT-X-V...@16:1 in java.io.InputStreamReader@7ead5b8)
        at com.google.android.exoplayer2.source.dash.manifest.DashManifestParser.parse(DashManifestParser.java:101)
        at com.goo

[2018-08-28 16:33] andrewlewis commented on #4086
@ravirajjak Looks like you need to use `HlsMediaSource` instead of `DashMediaSource`.

[2018-08-28 16:35] cyriac83 opened #4739 "Some of the frames missing from the output of the decoder"
Hello,

I am trying to extend the Exoplayer (running on Samsung Galaxy J3,  Android 7.0 Nougat) to save decoded frames of a video as a file for objective video quality analysis. For this, I have made changes to MediaCodecVideoRenderer class, and is able to save frames which are spitted out by the decoder. I am using Google's software decoder (again, by modifying Exoplayer to choose the software de

[2018-08-28 16:39] ojw28 commented on #4739
The decoder should always output all frames (i.e. not drop any internally). ExoPlayer may drop frames after they're output from the decoder, so you need to make sure your logic to grab the decoded frames happens before that. If you're confident that you're doing this correctly, you'll need to file an issue with proper reproduction steps if you want us to investigate further.

[2018-08-28 16:52] cyriac83 commented on #4739
Thanks for the quick response!

Ok, I will go over my logic once again to see if I have done any mistake while capturing and writing frames to a file. BTW, could you please clarify whether the place "ExoPlayer may drop frames after they're output from the decoder" is in MediaCodecVideoRenderer class or somewhere else? I have seen the code snippet in MediaCodecVideoRenderer class where Exoplayer ma

[2018-08-28 16:59] ojw28 commented on #4739
Yes, I'm referring to the code in `MediaCodecVideoRenderer` that drops the frame if it's too late for display.

By the way, we did used to observe that some decoders would drop a small number of frames internally in the specific case of adapting between different resolution streams in adaptive playback. I don't think this is relevant to your case, but one thing we did when we observed this was to

[2018-08-28 17:03] cyriac83 commented on #4739
Ok, great! Thanks for the clarification. I would get back you if the issue is not fixed. You may close this thread if you wish so.

Thanks again, much appreciated!

[2018-08-28 17:57] igorgur commented on #4727
Yes, you are absolutely right about the lack of duration for that video, and that is the case for the third video, though I would argue whether it's an enhancement or a 100% bug on the player side.

1. When enabling multi-window you would expect the SDK to handle all the logic you described  in '#2'  and fire an event once all items were prebuffered , atom's headers were collected from each one of

[2018-08-28 18:07] ojw28 commented on #4739
Closing for now, but please feel free to respond here if you want to follow up (there's no need to open a new issue, unless sufficient time has elapsed for this one to have been locked). Thanks!

[2018-08-28 18:07] #4739 closed, assigned to ojw28

[2018-08-28 18:56] Tolriq commented on #4738
You need to have all calls on the same thread that created ExoPlayer or MainThread is your thread have no looper.

In 2.8.0 they added some internals that will triggers potential race conditions much more often and require proper enforcement of the threading model required for ExoPlayer.

[2018-08-28 19:35] paf-wv commented on #4198
Looks like LG is producing a patch for later in the year. Details on the release are vague at best. Sorry but at least there is a potential fix coming.

[2018-08-28 20:14] stellabei commented on #4198
Thanks @paf-wv for notifying!

[2018-08-29 02:08] kimdohyung5 commented on #4519
My Device "the samsung's s-pad device (SM-T 530)" is still not working properly when playing mp3.

I recently found the below log when it ended playing mp3 and entered the dummy stage.

[log]
08-29 09:15:34.255 10788-10893/? E/AudioTrack: Discontinuity detected [expected 582529568, got 0]

I downloaded the exoplayer source code which currently available in github.com and then found the exact match

[2018-08-29 05:27] qeadsw opened #4740 "The cache encryption method doesn't seem to work!"
Before filing an issue:
-----------------------

exoplayer 2.8.4

I want to use SimpleCache() to encrypt the cached file, which sets the password through the parameter "secretKey."

But the cached files can still be played on other ### ### players.

The default format for cached files is similar to "0.12346545678. V3.exo"

[2018-08-29 05:39] sivakumarbics opened #4741 "Hi, Using Exoplayer in android, it throws null pointer exception."
I will explain the following scenario:

I'm using recycler view to store songs in a list.
When a user clicks any position in the recycler list the user clicked position is taken. For Eg:

here the song index is the user clicked position
FYI,
Eg: song index = 3;
  mediaSources.length = 6;

[code]
Im getting the following error
[code]

Guys Help me out.

[2018-08-29 07:23] komissarovdenis commented on #4738
Thank you @Tolriq, I'll check my code.

[2018-08-29 07:23] #4738 closed, assigned to tonihei

[2018-08-29 08:02] ojw28 commented on #4729
There are multiple ways of getting the video width and height, and being notified when it changes:
* If you just want to query the current dimensions, you can use `SimpleExoPlayer.getVideoFormat`, and then look at its `width` and `height` fields. Note that the format may be null if it's not yet known.
* To known when the video size becomes known or changes, you can use `AnalyticsListener.onVideoSi

[2018-08-29 08:02] #4729 closed, assigned to ojw28

[2018-08-29 08:17] tonihei commented on #4727
It's an "enhancement" because it's something we'd like to implement but haven't done so far.

1. Yes, I agree this should be implemented in the player and we have been planning to do this for a while but didn't get round to it. The seeking pattern I described above is more of a workaround if you need to make this  work immediately. As you are the first one to explicitly ask for this feature we als

[2018-08-29 09:44] AquilesCanta commented on #4735
The Demo app supports manual resolution selection. In the PlayerActivity, have a look at the Video button. When you press it, a list of resolutions will pop up. This is handled by the TrackSelectionView. Please have a look. Good luck!

[2018-08-29 09:44] #4735 closed, assigned to nobody

[2018-08-29 09:47] AquilesCanta commented on #4736
Is `allowCrossProtocolRedirects == true` in your `DefaultHttpDataSource`? If not, please set it to true. If it is true, then please file the full issue template and we will reopen the issue. Thanks!

[2018-08-29 09:47] #4736 closed, assigned to nobody

[2018-08-29 09:50] AquilesCanta commented on #4737
This is not enough information for us to help you. Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). Please don't skip any items.

[2018-08-29 09:50] #4737 closed, assigned to AquilesCanta

[2018-08-29 09:51] AquilesCanta commented on #4737
We will reopen once the missing information is provided. Please post below to let us know you've filled the missing information.

[2018-08-29 09:52] AquilesCanta commented on #4740
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-08-29 09:52] #4740 closed, assigned to erdemguven

[2018-08-29 10:02] AquilesCanta commented on #4741
I don't think there is evidence that suggests that this is an ExoPlayer issue and, unfortunately, we don't have the bandwidth to debug third party apps. This also falls out of the scope of this issue tracker. Please try a general Q&A site, like stack overflow. I'd also suggest that you provide more context. The source code provided here does not include the code that is triggering the exception, a

[2018-08-29 10:02] #4741 closed, assigned to AquilesCanta

[2018-08-29 10:16] qeadsw opened #4742 "How do I encrypt content written to or read the cache?"
I want to encrypt the cached file, Pass in the password by SimpleCache method "byte[]secretKey"
However, fragments of cached files can still be played normally on other players.

[2018-08-29 10:19] AquilesCanta commented on #4742
Please don't open duplicate issues and provide the requested information in #4740.

[2018-08-29 10:19] qeadsw commented on #4742
@AquilesCanta Then you point out the template

[2018-08-29 10:21] AquilesCanta commented on #4742
The link is in the comment.

[2018-08-29 10:25] erdemguven commented on #4740
@qeadsw as @AquilesCanta pointed you haven't answered many questions which are in the issue template. Please provide as much information as you can so we can answer your question quickly.

[2018-08-29 10:28] qeadsw commented on #4740
@erdemguven Is my latest description detailed enough

[2018-08-29 10:33] qeadsw commented on #4740
@AquilesCanta @erdemguven

[2018-08-29 10:42] qeadsw commented on #4740
Didn't I describe it enough? Or is there a problem? Is there any difference between me and question #4730

[2018-08-29 10:44] AquilesCanta commented on #4730
None that is part of the demo app.

You are probably better off asking in a general Q&A site, as @ened points out. This falls out of the scope of this issue tracker. Sorry and good luck!

[2018-08-29 10:44] #4730 closed, assigned to AquilesCanta

[2018-08-29 10:51] qeadsw commented on #4740
@erdemguven

[2018-08-29 11:00] 986558210 opened #4743 "demo-cast error"
Caused by: java.lang.RuntimeException: com.google.android.gms.dynamite.DynamiteModule$LoadingException: No acceptable module found. Local version is 0 and remote version is 0.
        at com.google.android.gms.internal.cast.zze.zzf(Unknown Source)
        at com.google.android.gms.internal.cast.zze.zza(Unknown Source)
        at com.google.android.gms.cast.framework.CastContext.<init>(Unknown Sour

[2018-08-29 11:02] qeadsw opened #4744 "The cache encryption method doesn't seem to work!"
Before filing an issue:
-----------------------
version:2.8.4

I want to use SimpleCache() to encrypt the cached file, which sets the password through the parameter "secretKey."

But cached files can still be played by other players.

[2018-08-29 11:05] qeadsw commented on #4740
@erdemguven It looks like I can't add a tag myself

[2018-08-29 11:07] qeadsw commented on #4744
I don't know if this question meets the template, please point out thank you.

[2018-08-29 11:08] qeadsw commented on #4744
@ojw28 Please give advice or comments！

[2018-08-29 11:12] qeadsw commented on #4740
@erdemguven I have tried my best to improve the problem, may I ask where is not clear enough?

[2018-08-29 11:22] erdemguven commented on #4740
secretKey parameter in SimpleCache constructor is for encrypting the cache index file. To encrypt cached media files (exo files) you need to use AesCipherDataSink and AesCipherDataSource to encrypt and decrypt while you create your CacheDataSource.

[2018-08-29 11:23] erdemguven commented on #4740
For an example you can check com.google.android.exoplayer2.upstream.cache.CacheDataSourceTest2#buildCacheDataSource code.

[2018-08-29 11:28] qeadsw commented on #4740
@erdemguven Thank you very much. Please forgive me for the vague description of the problem.

[2018-08-29 11:37] okycelt commented on #2565
@ojw28, when approximately do you expect this to be included in a release version?

[2018-08-29 12:39] srikanthsunkari opened #4745 "m3u8 subtitles are not supported"
Hi,
I am facing a problem with m3u8 links for displaying subtitles, are m3u8 links are not supported with v2.2.0.
Trying to construct the media source like:

[code]

EventLogger shows below logs,

08-27 15:35:51.903 27269-27269/com.myplex.vodafonestaging D/EventLogger: Group:0 [
[ ] Track:0, id=null, mimeType=application/x-mpegURL, language=English, supported=NO
]

Please let me know if anything w

[2018-08-29 14:10] AquilesCanta commented on #4745
Try replacing your single sample media source with an HlsMediaSource.

The only way to reproduce m3u8 files is to use HlsMediaSource. SingleSampleMediaSource is only used for media which is made up by a single sample. For example, subtitle files (example: vtt, srt, etc). Note that m3u8 files themselves are not subtitles, but may contain a list of subtitles.

Depending on the type of `videoSource`,

[2018-08-29 14:10] #4745 closed, assigned to AquilesCanta

[2018-08-29 14:13] AquilesCanta commented on #4743
Please try updating Google Play Services on the device. If this does not fix your issue please fill all information requested in the issue template. If it does fix your issue, please let us know so we try adding a workaround to our cast demo app.

[2018-08-29 14:13] #4743 closed, assigned to AquilesCanta

[2018-08-29 14:52] volkansahin45 opened #4748 "Receiver not registered error in cast demo app"
### Issue description
Getting receiver not registered error after the video finished.

### Reproduction steps
Open cast test app.
Select tears of steel hls video and play on cast
seek to end of the video.
When the video finished you will see the error in logcat.

### Version of ExoPlayer being used
cloned the release-v2 github repo

### Device(s) and version(s) of Android being used
Samsung Galaxy

[2018-08-29 15:22] Ashanen opened #4749 "Exoplayer freezes when rotating or releasing the player."
Hi guys,

I couldn't find any working answer or any code sniped. At first we had our player in a fragment but after switching to other cameras, or rotating the device many times there was an error with initializing the codec ( we were not releasing player because player.release() completely freezes the app). I decided to move whole player to a separate activity and it still freezes the app after r

[2018-08-29 15:27] deRonbrown commented on #4130
Would it be possible to make `CastPlayer#getMediaStatus()` public?
[code]

With that information one could use [getIdleReason()](https://developers.google.com/android/reference/com/google/android/gms/cast/MediaStatus.html#getIdleReason()).  That value would be one of `IDLE_REASON_CANCELED`, `IDLE_REASON_ERROR`, `IDLE_REASON_FINISHED`, `IDLE_REASON_INTERRUPTED`, or `IDLE_REASON_NONE`.

[2018-08-29 15:43] deRonbrown commented on #4130
Actually, no need to make that method public. Just grab the `IDLE_REASON` directly from the `CastSession`:

[code]

[2018-08-29 16:04] adesentenac opened #4750 "HLS loading is very slow on Oreo & Pie"
### Issue description
Playing the HLS examples in the demo app takes a very long time to load (and sometimes do not load at all) on Oreo and Pie devices.

### Reproduction steps
Run the demo
Expand HLS
Click on "Apple 4x3 basic stream"

### Link to test content
Content in the demo

### Version of ExoPlayer being used
2.8.4 (also reproduced in 2.8.1)

### Device(s) and version(s) of Android being u

[2018-08-29 19:10] pagrawal1407 opened #4751 "Renderer Error in SimpleExoplayer.onPlayerError() for Android API 19"
I am getting a renderer error in the SimpleExoPlayer.onPlayerError() method.
In the ExoPlaybackException object the the rendererIndex is -1 and it shows cause as java.lang.IllegalStateException.

Is this related to the length of video (The video I am playing is 11 mins long) or is it something else?

<img width="1677" alt="screen shot 2018-08-29 at 12 19 40 pm" src="https://user-images.githubuserc

[2018-08-29 20:09] cyriac83 commented on #4739
Hi again!

You were right. Some of the frames are categorized as late and are being dropped , and that accounted for the missing frames.

I am trying to see why these frames are categorized as late in the first place by the Exoplayer. Because of my experiment requirements, at least some frames of a video segment are likely to be out of order, and it is this out of order stream of frames that are d

[2018-08-30 00:48] 986558210 commented on #4743
Oh, I see. I did not install the Google Play Service and I can`t install it because I`m in China.  Thank you.

[2018-08-30 01:45] tmizuguchi-bckk commented on #4273
@erdemguven
Any update on this? It is very important feature for us to improve download offline playback on our service.

[2018-08-30 05:33] anilsangani commented on #4736
How to set allowCrossProtocolRedirects == true , i was trying many times but i didnt find any solution
please help me

[code]

[2018-08-30 06:25] Romantic-LiXuefeng opened #4752 "How does the ExoPlayer works when switching the SampleStream exposed from different MediaSource?"
I am Chinese with poor English. I am confused that when playing playlist with ConcatenatingMediaSource, how does the MediaCodecRenderer works between advance reading media period and advance playing media period?
I know that when the all renderers have read the end of streams, that is the SampleQueue is empty .
at this time , need to advance the reading period.  My questions are:
1. Hope you tell

[2018-08-30 08:06] srikanthsunkari commented on #4745
Thank you @AquilesCanta, I am able to show subtitles with HlsMediaSource now.

The subtitle hls source is different from the video source, though the video source is also an hls source and each language subtitle has its own m3u8 link.

Though being able to show subtitles, constructing HlsMediaSource for a specific subtitle will not allow me to specify the format id or language code except track gr

[2018-08-30 09:16] akurni commented on #3829
@tonihei I tried to use the workaround and it doesn't work on the first try. I tried to change the loop mode from using player.setRepeatMode to using LoopingMediaSource and it started to work. That's what i thought. The video that used to start freezing in 5 minutes now plays for 1 day without any problem, but when I checked the next day, the video freezes.

I'll send you another video file by ema

[2018-08-30 09:45] AquilesCanta commented on #4736
Instead of passing a DefaultDataSourceFactory to the ExtractorMediaSource builder, create a custom factory that sets allowCrossProtocolRedirects to true. You need to do basically the same that DefaultDataSourceFactory does, except you need to change the `DefaultDataSource` constructor that gets used in `DefaultDataSource#createDataSource()` to be `DefaultDataSource(Context context, String userAgen

[2018-08-30 09:59] AquilesCanta commented on #4745
No, there is no straightforward way to do it. I insist that the right way is to include the subtitles as part of the original master playlist (which would allow you to provide a language as well). You could potentially pass a custom playlist parser that injects the subtitle rendition client side. So, basically you could wrap the default playlist parser, and once the master playlist is parsed, you

[2018-08-30 10:07] AquilesCanta commented on #4752
Hi @Romantic-LiXuefeng, this question falls outside the scope of this issue tracker, the questions are very broad. I think your best shot is adding some logging to the media codec renderers (and potentially ExoPlayerImplInternal) and running a few samples that show what you want to analyze. @andrewlewis and @ojw28 may be able to provide more guidance.

[2018-08-30 10:07] #4752 closed, assigned to AquilesCanta

[2018-08-30 11:03] srikanthsunkari commented on #4745
Thank you @AquilesCanta, It is not possible to include subtitles as part of an original master playlist. Well, for now, I get it managed with the positions of added subtitles. I will sure do look into constructing custom playlist parser for customizing.
Thank you again for the help.

[2018-08-30 11:26] anilsangani commented on #4736
I dont understand please can you give more details

[2018-08-30 11:27] maven-y opened #4753 "Unable to play HLS encoded m3u8 url's"
### Issue description
Playing my HLS url in the demo app, always do not load live streaming also progress shown minus value

### Reproduction steps
1. Run the demo
2. Expand HLS
3. Click on stream
4. Link to test content

### Link to test content
Content : http://node1.twisted-symmetry.space:2000/HLS/capribb/capribb.m3u8

### Version of ExoPlayer being used
2.8.2

### Device(s) and version(s) of A

[2018-08-30 11:51] srikanthsunkari commented on #4745
Hi @AquilesCanta, I observed playback is not in sync with the subtitles. I see that subtitles are displayed earlier than the usual point. Is this an issue with the subtitle link or am I missing anything?

[2018-08-30 13:18] srikanthsunkari commented on #4745
Please let me know if any info is required from my end, or If it is required to raise a new Issue? If you feel that originally raised issue has closed.

[2018-08-30 13:30] AquilesCanta commented on #4731
Note: I cannot reproduce the described problem in the provided app. I do see a bit of stuttering the first time the file is played, but I am not sure it's the described issue. Not in the subsequent repeats. A few questions:

- Is this content specific? Does it work correctly with other media files?
- Can you reproduce in the demo app?
- Does it play correctly using MediaPlayer?

One thing I can po

[2018-08-30 13:40] AquilesCanta commented on #4745
Which approach are you using?

I am going to assume the subtitles are webvtt. Then the files should start with

WEBVTT
X-TIMESTAMP-MAP=MPEGTS:XXXXXXX,LOCAL:00:00:00.000

You need to make sure is that the MPEGTS value equals the first PTS in the TS files. This is the way in which HLS ensures the subtitles are in sync. If this does not work for you, you can still go with the MergingMediaSource appro

[2018-08-30 13:40] AquilesCanta commented on #4744
Closing as duplicate of #4742.

[2018-08-30 13:40] #4744 closed, assigned to AquilesCanta

[2018-08-30 14:01] srikanthsunkari commented on #4745
Yes, I am following the WEBVTT approach with MergingMediaSource and custom tracker.
I don't see

Sample m3u8 file look like :

Video source and multiple m3u8 subtitles media source with MergingMediaSource

[code]
Below is first subtitle to be displayed:

Whereas it is displaying as soon as playback starts.

[2018-08-30 14:02] tonihei commented on #4731
To add to what has already been said:
The `onPlayerStateChanged` event with the change to `STATE_READY` means the whole renderer pipeline is ready to proceed with the playback. That doesn't necessarily mean the first frame has already been rendered. For example (among other reasons), if the surface being rendered into is not attached yet or tunneling is enabled.
As you already pointed out, the `on

[2018-08-30 14:55] tonihei commented on #3829
That's interesting. Do I understand you correctly that player.setRepeatMode and LoopingMediaSource lead to different behaviour? They both use the same underlying functionality to loop media, so I wouldn't expect a difference.

Besides that I can also see the audio track discontinuities from time to time. But they don't cause the freezing as before (the freezing usually happens when an underrun was

[2018-08-30 15:55] nahojkap commented on #4721
I see, we are indeed now releasing it as part of our cleanup.

Curious about the 'other DRM changes' you are referring to, anything you can share?

[2018-08-30 16:05] gbirk opened #4754 "Playing only local files when device becomes offline"
I'm migrating my music player app from MediaPlayer to ExoPlayer2. So far everything is working flawlessly. I'm initializing the player using a **DefaultLoadControl** and a **DefaultTrackSelector**. I'm using **ConcatenatingMediaSource** as media source, containing mp3 URLs and also local files. I would like to know the best way to make ExoPlayer play only the local files when the device is offline

[2018-08-30 16:15] tonihei commented on #4754
Your second proposed solution should work best for now. If you can easily distinguish between remote and local files, please just add the local files to the ConcatenatingMediaSource and you should be fine.

Automatically skipping remote files when they fail to load is not supported yet. Issue #4343 is tracking a feature request to skip failing files. As soon as that is supported, the remote mp3s s

[2018-08-30 16:15] #4754 closed, assigned to tonihei

[2018-08-30 16:15] AquilesCanta commented on #4749
@ojw28 Mind providing some insight?

[2018-08-30 16:22] AquilesCanta commented on #4749
@Ashanen, also please fill the issue template. Please provide a bugreport and, if possible, send sample media, unless the issue reproduces with one of the sample streams from the demo app.

[2018-08-30 17:09] AquilesCanta commented on #4750
Would you kindly try using the Cronet extension and see if that works?

[2018-08-30 17:22] AquilesCanta commented on #4750
Note for later: This only seems to happen with https streams (http equivalents play correctly).

[2018-08-30 17:23] AquilesCanta commented on #4751
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-08-30 17:23] #4751 closed, assigned to AquilesCanta

[2018-08-30 17:35] #4659 closed, assigned to AquilesCanta

[2018-08-30 17:37] AquilesCanta commented on #4753
This is a duplicate of #4659. Please try playing using FLAG_IGNORE_AAC_STREAM.

[2018-08-30 17:37] #4753 closed, assigned to AquilesCanta

[2018-08-30 17:51] adesentenac commented on #4750
I will try with the Cronet extension.
Also as a note that might give some insight, I tried to target API 28 and I had to add a network security configuration to allow clear text traffic to apple.com to be able to play the https stream (but with the same slowness as mentioned here).

[2018-08-30 18:32] maxcollada commented on #4659
@AquilesCanta Although it is true that applying the flag solves the issue and allows for playback, this is not an issue with Apple players, which seem to handle the missing AAC stream. It seems ExoPlayer should be able to detect the problem and at least fail in a less silent way, right now it does not throw a warning or an exception or nothing, it simply stays on buffering state. It seems like Exo

[2018-08-30 18:38] andrewlewis commented on #4415
@Caij How did you verify that the pause was not due to buffering if it's from a user feedback? So far there isn't enough information here for us to investigate. If you can provide a bug report and steps to reproduce please file a new issue.

[2018-08-30 18:38] #4415 closed, assigned to andrewlewis

[2018-08-30 19:17] natez0r commented on #4463
Wanted to chime in on mark's suggestion:

a couple calls like State getState(), setState(State new), onStateChange(StateListener l)? This should make adding thread safety a lot easier without requiring so much drilling into the core.

We use a similar pattern in our app, but it is to interact with our class that ultimately manages interactions with exoplayers. Any call to that class is done throug

[2018-08-30 19:56] Shorakie opened #4755 "adaptive playing with different video qualities in different uri"
i have searched the issues read the documents and even analysed the demo app but couldn't find any good solution
as the title says i have made a player with the support different video qualities
i found that in demo app the problem have solved with an only URI pointing to a file with *.mpd
but in my case different video qualities have different url which leads to different uri and media sources

w

[2018-08-30 20:13] AndroidDeveloperLB commented on #4731
@AquilesCanta Have you watched the attached video? Between the time you see the image and the time the video plays, there is a black content, which doesn't exist in the input video file.

As I wrote, you need to either look very well, or record what you see and play in slow motion.
Check the video here, after I've played what I've send in slow motion. It is for a very short time, as I wrote. If yo

[2018-08-30 20:17] AndroidDeveloperLB commented on #4731
@tonihei  Why should they be separated? Why not have a state that says that the player is playing?

We have STATE_IDLE , STATE_BUFFERING , STATE_READY , STATE_ENDED . Why don't we have STATE_PLAYING ? The most important state is missing if this is not working this way.

Also, the docs say this about "STATE_READY" :

"The player is able to immediately play from its current position. The player will

[2018-08-30 20:30] AquilesCanta commented on #4755
The should answer is: Use DASH, HLS or SmoothStreaming. If none of these is an option, you'll need to create your own media source, but it's not an easy task.

Please clarify, you have several URIs pointing to what?

This exact issue is what adaptive streaming aims to solve. Note that, in order for the content to be _synchronizable_ mid playback, you'll need it to be segmented, somehow. Not necess

[2018-08-30 20:37] AndroidDeveloperLB commented on #4731
BTW, I've tested the sample of this repository, of "demo-ima". It has the same issue. After the ad is shown, there is a black content between the ad and the video.
Check attached video.

[2018-08-30_23-33-32.zip](https://github.com/google/ExoPlayer/files/2337830/2018-08-30_23-33-32.zip)

Then again, maybe it's not implemented well. Maybe it doesn't cache the content video while playing the ad. I h

[2018-08-30 20:51] Shorakie commented on #4755
different uris of a video pointing to different quality links
like there is a _RAMPAGE_ video with 3 **URL** for 3 Qualities (480, 720, 1080) on a server

so in app i am building three **URI**s pointing to the 3 different urls

also i dont have access to server and cant change the streaming formats

[2018-08-30 20:55] Shorakie commented on #4755
as far as i can see there is not such a streaming format and also the server is for just downloading not watching online

so i think i have to customize something but dont know exactly what

[2018-08-31 01:32] abredykhin opened #4756 "Stream video on WiFi only"
I'm looking for ways how to limit ExoPlayer to only stream HSL video on WiFi. I've found the `PlatformScheduler` class with corresponding `Requirements`, but it doesn't look like they're being used anywhere.

I plan to listen to change in network connectivity and then manually stop/restart ExoPlayer depending on whether it's WiFi or LTE. Is there a more efficient way to deal with this?

[2018-08-31 03:08] Romantic-LiXuefeng commented on #4752
Thanks a lot. By reading the source code,  I found the steps are that while player is playing playlist:
1. When the player is playing the first media period, maybe the first media period is already fully
    buffered. At this time, advance loading period pointer, to pointing the second media period, then
   the load thread begins buffering to the SampleQueue under controlled by LoadControl.
2. The

[2018-08-31 04:52] manishPatwari opened #4757 "How to know Hardware Accelerated Video Decoders ?"
Hi,

Is there anyway we can get to know, which all Video decoders are Hardware accelerated ? I have seen the [MediaCodeUtil](https://github.com/google/ExoPlayer/blob/09d1e3e35d98fd02c31391ac1c891f0c73e76375/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java#L241) which depend on the framework to give best decoder _"MediaCodecList is sorted by the framework such

[2018-08-31 06:34] srikanthsunkari commented on #4745
Hi @AquilesCanta, waiting for your reply on subtitles duration issue, Please let me know if in case you want me to raise a new issue.

[2018-08-31 07:59] srikanthsunkari opened #4758 "Playback is not in sync with the HLS subtitles"
Hello, Playback and subtitles are not in sync with WEBVTT format subtitles. I'm following the MergingMediaSource approach for multiple HlsMediaSource for subtitles rendition with the video HlsMediaSource.

Sample m3u8 file look like :

Video source and multiple m3u8 subtitles media source with MergingMediaSource

[code]
Below is the first subtitle to be displayed:

Whereas first subtitle is displa

[2018-08-31 08:14] srikanthsunkari commented on #4745
Raised new issue for playback sync with subtitles #4758 .

[2018-08-31 08:31] ojw28 commented on #4742
I think that only encrypts the cache index, not the actual content. @erdemguven - Can you provide some information about how to encrypt the content as well?

[2018-08-31 08:46] AquilesCanta commented on #4755
What you mention doesn't sound like a supported usecase to me.

Do you need to make them dynamically adaptive? In other words, would you like the player to adapt mid-stream? If so, the first issue I see is segmentation of the media. If you knew where the switching points are, you could build a DASH manifest / HLS playlists that wrap the file, but it really depends on the media. We cannot help you

[2018-08-31 08:48] tonihei commented on #4463
@natez0r Thanks for the insight. Really helpful to see how ExoPlayer is used - especially the parts we never intended to be used like that :)

The short answer is: All three threads should be just one. The player is simply not written to be safely accessed from multiple threads.

The slightly longer answer:
- Thread 2 (the "creation thread") may have been needed for MediaPlayer, but shouldn't be n

[2018-08-31 09:52] AquilesCanta commented on #4756
I don't think you need to use a Scheduler for this. [Have a look here](https://developer.android.com/training/basics/network-ops/managing) for info about detecting network changes. From there you can stop/restart the player. Does this help?

[2018-08-31 10:14] AquilesCanta commented on #4757
In the case of a multi-codec adaptive stream, the first thing you need to look at is the TrackSelector. The TrackSelector will select the tracks from which the adaptive algorithm will pick chunks. If you want to choose tracks with a specific mime type (e.g: video/hevc), then you can do that by implementing your own TrackSelector. Maybe overriding the default track selector is an option for you.

S

[2018-08-31 10:26] AquilesCanta commented on #4758
I will paste what I commented in the previous post:

===============

I am going to assume the subtitles are webvtt. Then the files should start with

WEBVTT
X-TIMESTAMP-MAP=MPEGTS:XXXXXXX,LOCAL:00:00:00.000

You need to make sure is that the MPEGTS value equals the first PTS in the TS files. This is the way in which HLS ensures the subtitles are in sync.

If this does not work for you, you can st

[2018-08-31 10:32] feiyang1235 opened #4759 "Sound and video are out of sync when playing multiples"
In some custom rom. Sound and video are out of sync when playing multiples, the video and sound is stuck.
I am a newbie。could anyone give me some advice?

[2018-08-31 10:35] feiyang1235 commented on #4759
i use the media source is HLS

[2018-08-31 10:35] AquilesCanta commented on #4759
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-08-31 10:35] #4759 closed, assigned to AquilesCanta

[2018-08-31 11:01] manishPatwari commented on #4757
@AquilesCanta  Thanks for the quick reply.

As per the Stackoverflow post, `codec.getName().startsWith("OMX.google.")` is Software encoder, but it doesn't seems correct.

In the below screenShoot, I was doing CPU profiling in Moto E2, and the codec used for HEVC is "le.hevc.decoder" & for VP9 "gle.vp9.decoder" is used. If we go with definition  `codec.getName().startsWith("OMX.google.")`  then thi

[2018-08-31 11:21] #4755 closed, assigned to AquilesCanta

[2018-08-31 11:42] srikanthsunkari commented on #4758
I hope your suggestion will resolve the subtitle track language problem, by supplying language to the HlsMediaSource, is that look like below?

`    playlistTracker.getMasterPlaylist().subtitles.get(0).format.language = subtitleItem.language;`

[2018-08-31 12:07] AquilesCanta commented on #4757
If I am reading correctly, the SO post suggests the contrary, right?

[code]

Also, is it possible that at some point the profiler is suffixing the last 15 characters? This would go in line with the SO post:

We have le.hevc.decoder and gle.vp9.decoder: I am tempted to think they are both 15 character suffixes of the entire name, which is actually OMX.goog**le.hevc.decoder** and OMX.goo**gle.vp9.d

[2018-08-31 12:20] manishPatwari commented on #4757
@AquilesCanta  Awesome... it completely make sense and true. Thanks alot for your kind help.

[2018-08-31 12:24] #4757 closed, assigned to AquilesCanta

[2018-08-31 12:25] Ashanen commented on #4749
Ok, so there are some updates. I have spotted the issue which was freezing the app and it was caused by android:configChanges in the manifest. Since that I created new activity, ported manifest from demoApp and everything seems to be working. Player is releasing correctly etc. But.. I spotted another issue :

1) When opening the stream for the 1st time on camera no.1 everything seems to work, but

[2018-08-31 12:57] markmckenna commented on #4463
Awesome discussion!

@tonihei regarding using the background thread, note that we actually use that to take asynchronous methods and make them synchronous--for example pairing up a seek event with the event that indicates the seek has completed successfully, so we don't run into situations such as the user requests a seek just as content is changing, and the seek action ends up carrying over into

[2018-08-31 13:01] AquilesCanta commented on #4758
Something that came to mind, if your playlist just has one file in it, why not use that internal VTT file to create a SingleSampleMediaSource?

[2018-08-31 13:13] srikanthsunkari commented on #4758
Yes, In this case, my playlist just has only one track, and I'm already using the single .vtt file and is working. we can close this since it is a bad media.
Thanks for the support.

[2018-08-31 13:14] #4758 closed, assigned to AquilesCanta

[2018-08-31 14:17] ojw28 commented on #4741
For what it's worth, I don't really understand the code snippet you provided. Given song index is 3, the for loop is going to create an array that that contains:
[code]
which you then pass to the `ConcatenatingMediaSource` constructor.  You shouldn't be passing an array that contains any `null` entries, and doing so is what's causing the problem. We added an assertion ([here](https://github.com/go

[2018-08-31 14:28] ojw28 commented on #4739
I don't really understand this. Video decoders typically rely on frames being provided in a particular order (the decode order). Unless the stream consists only of key frames.

The frame presentation timestamps are typically specified within the media itself, and those just get passed through the decoder. Note that decode order and presentation order are often different, meaning it's normal to see

[2018-08-31 14:42] ojw28 commented on #4742
Ignore; this was answered in #4740.

[2018-08-31 14:42] #4742 closed, assigned to erdemguven

[2018-08-31 15:38] abredykhin commented on #4756
Well, that was my original plan, I know how to detect changes in network in Android. Was hoping to find some additional support from ExoPlayer for this.

[2018-08-31 15:39] #4756 closed, assigned to AquilesCanta

[2018-08-31 16:03] cyriac83 commented on #4739
"Video decoders typically rely on frames being provided in a particular order (the decode order)"

I am not sure if decoders could assume that frames would be always in a particular order, especially if frames are transmitted over a communication network that may change the decoder order (also known as transmission order). But, yes, as you have mentioned, decoders could reorder the frames no matte

[2018-08-31 16:13] ojw28 commented on #4739
There are lots of layers between packets-received-over-the-network and feeding-the-decoder. By the time you get up to the layer where the decoder is being fed, I'm pretty certain samples need to be in correct decode order.

I'm not sure what this means exactly, but the decoder itself determines how many input and output buffers it provides.

[2018-08-31 16:16] cyriac83 commented on #4739
Ok, thanks for the clarifications! Those are really useful for me to investigate further.

Thank you!

[2018-08-31 16:55] ojw28 commented on #4532
I tested on a Galaxy Tab A 10.1, but was unable to reproduce the issue. Would you mind linking to your application(s) on Play Store? I'll try installing them to see if I can reproduce with those.

[2018-08-31 17:16] gerard87 opened #4760 "Cast mp4 with basic auth"
### Issue description
I have a server serving mp4 video files.

Using the demo cast example in this repository:

If I disable the basic authentication on the server, both exoplayer and casting to chromecast works fine adding my files as samples in DemoUtil class.

When I enable the auth, I can play the videos on exoplayer adding requestproperties on defaulthttpdatasourcefactory:

`DATA_SOURCE_FACT

[2018-09-01 09:36] sneltyn commented on #4661
@tonihei, I continue to receive this problem, so I created demo app https://github.com/sneltyn/ExoPreload. Sorry for my long answer.

[2018-09-01 18:54] pbertsch opened #4761 "Question - Listening to Exceptions / Errors"
Hi,

Is there a way to listen to EOFException which sometimes happen inside the SampleQueue.sampleData method. I want to Skip those videos in my playlist.

`E/ExoPlayerImplInternal: Source error.
                         java.io.EOFException
                             at com.google.android.exoplayer2.source.SampleQueue.sampleData(SampleQueue.java:553)
                             at com.google.a

[2018-09-01 19:15] pbertsch commented on #4761
I found the solution, sorry for bothering.

[2018-09-01 19:15] #4761 closed, assigned to nobody

[2018-09-02 05:23] ArcherEmiya05 opened #4762 "CENTER_CROP in TextureView"
When using SurfaceView          player.setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING) is working as expected, unfortunately when I use TextureView by providing a surface_type in xml it is not working. Is this a bug or this is a expected behavior.

[2018-09-02 09:29] OMArikan commented on #4532
@ojw28 [BluTV](https://play.google.com/store/apps/details?id=com.dsmart.blu.android). However it built with ExoPlayer 2.8.2, newest version 2.8.4 already integrated to application but not distributed yet. You can follow last update date to realize latest version later next week.

[2018-09-02 12:43] ojw28 commented on #4762
It's a platform limitation (or just expected platform behavior) that scaling mode only applies when using `SurfaceView`. If you're using `PlayerView`, you could try to see if `PlayerView.setResizeMode` does what you want. Valid values are the `AspectRatioFrameLayout.RESIZE_MODE_*` constants (we need to improve our Javadoc to make this more obvious). If you're using `TextureView` directly, you can

[2018-09-02 20:21] xellDart commented on #4484
same her, i get error on compilation

[2018-09-03 01:35] tmizuguchi-bckk commented on #4329
@rrfrias Not hearing so far. Have you got response from Kyocera?

[2018-09-03 03:11] LanderlYoung commented on #3375
Thanks, guys. Looking forward to the performance boost!
BTW, @ycinfinity , I checked out the MediaCodecRenderer class of release r2.8.4, only to find it's still using the synchronized mode.
Is there any way that I can try the async mode? Thanks!

[2018-09-03 07:30] ojw28 commented on #4750
Is this specific to the Apple samples? If samples are streaming fine from elsewhere, does that suggest the issue is unlikely to be client side, and more likely to be a server issue (triggered by something legitimate that the network stack on Oreo/Pie does?

[2018-09-03 08:22] ghostknow opened #4763 "How to fix rotate incorrect problem with under Android 4.0 device?"
As title, The video play with Android 5.0+ is correct orientation. How to fix it with Android 4.0 device.
Thanks.

[2018-09-03 09:13] swapps opened #4764 "How to manually select stream from HLS ?"
Hi,

is there a way to list the available quality streams from an hls and manually select one of them ?

thanks,

Cyril

[2018-09-03 09:31] islor opened #4765 "Playback issues with Dash H265 streams on some devices"
### Issue description
We have tested two H265 streams on a some set top boxes and mobile devices. Both streams are sent to dev.exoplayer@gmail.com along with the logs.

Stream 1 seems to be playing well on Sony mobile phone, but on our set top box visual playback seems to be jerking but the sound runs with no issues. At first we suspected that it might be a device issue, but when tested with a H26

[2018-09-03 10:14] PascalTang opened #4766 "Ts with header"
hi

I copy code from

https://github.com/dueeeke/dkplayer/blob/master/app/src/main/java/com/dueeeke/dkplayer/player/ExoMediaPlayer.java

And getMediaSource on  case C.TYPE_HLS

I want to set header for each ts

not on m3u8 url

found https://github.com/google/ExoPlayer/issues/2003

but it look like not same Factory

how can I implement it .

thanks

[2018-09-03 11:07] RaymanMartin opened #4767 "is there any way to save the error log???"
In my case, something the player may throw some errors when i play with url.....like 404 resource not found or decode error or something else...how can i catch these error to local file???

[2018-09-03 11:15] tonihei commented on #4767
You can add a listener to the player with `player.addListener` and listen to `onPlayerError` events. The exception is passed as parameter to this callback and you can log it to file or wherever you want.

[2018-09-03 11:34] RaymanMartin commented on #4767
thank you...

[2018-09-03 11:36] RaymanMartin commented on #4767
em~some time the video will freeze when i play with mp4...but just some video.not the most of them...but there's no any error, but just freeze...

[2018-09-03 11:41] jschamburger commented on #4532
@ojw28 [waipu.tv](https://play.google.com/store/apps/details?id=de.exaring.waipu) Current version still uses ExoPlayer 2.8.2 - the upcoming version 3.7.0 will use ExoPlayer 2.8.4 (will be released in ~ 2 weeks).
Unfortunately, the app is only usable inside the EU - in other countries, the streams will not start. In case you are outside the EU, please let me know, so we can try to create a working

[2018-09-03 12:13] tonihei commented on #4767
If you have an specific issue with a file, please fill you out the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) with reproduction steps, test media etc.

[2018-09-03 12:18] raihanabbas232 commented on #3535
Is there any progress on this particular issue.
I am facing the same problem.
I am playing MP4 videos from sd card.

[2018-09-03 13:50] gerardiandrea opened #4768 "Investigate discontinuity reason for ad skipping"
Is there a method in ima-extensions to know if the ad in playback is a pre-roll, mid-roll or post-roll?
Thanks

[2018-09-03 14:06] tonihei commented on #4768
You can query the ad group positions by getting the timeline period with `player.getCurrentTimeline().getPeriod(0, new Period())` and then look at `period.adPlaybackState.adGroupTimes`. If the ad group time is 0, it's a pre-roll ad, if it's `C.TIME_END_OF_SOURCE`, it's a post-roll ad, and all other values indicate a mid-roll ad.

If the ad is currently playing, you can also check `player.getConten

[2018-09-03 14:34] gerardiandrea commented on #4768
Thanks but...
player.getCurrentTimeline().getPeriod(0, new Period()) throw exception "java.lang.IndexOutOfBoundsException"
(player.getCurrentTimeline().getPeriodCount() return 0)

and 'period' in version 2.8.4 does not have a method or variable 'adPlaybackState'

can you give me some more info on why I have the exception?
thanks

[2018-09-03 15:56] tonihei commented on #4768
The information is not available immediately but only after the ad data has been loaded. Please listen to `onTimelineChanged` events and check the timeline to see whether the required information is available. Note that initially, before anything is known, the timeline is empty (check for `timeline.isEmpty()`) and accessing the period with index 0 will throw an IndexOutOfBoundsException.

Sorry fo

[2018-09-04 06:37] Romantic-LiXuefeng opened #4769 "How exoplayer works with other advertising SDKs?"
Since the IMA sdk code cannot be viewed completely，I can't understand how exoplayer interacts with IMA sdk? Please give me some advices how to custom a AdLoader to support pre_roll, mid_roll,post_roll?  thanks!
Our own ad sdk just send a request to server, then server response with informations of ads. The information contains ad uri, duration, timeoffset(when to play ad), ad type(pre/mid/post) an

[2018-09-04 06:56] nicklasl commented on #4532
We just released [Com Hem Play](https://play.google.com/store/apps/details?id=com.tivo.android.comhem) v4.3.5 which has ExoPlayer 2.8.4. No crashes reported yet though.

[2018-09-04 07:48] gerardiandrea commented on #4768
Thanks for the directions.
I have another problem now. To know the current ad in playing I'm using "player.getCurrentAdGroupIndex()" but in the case of post-roll it returns -1.

is it an error or can I always consider -1 a post-roll?
Thanks

[2018-09-04 07:54] tonihei commented on #4768
That shouldn't be the case. Are you sure the post-roll is still playing? `player.isPlayingAd()` should be true if that's the case.

[2018-09-04 08:03] Tolriq commented on #4724
@ojw28 @andrewlewis Did you get the samples?

Is this something that could be fixed or are the wav broken and he should rip them again or convert them?

Just to know what to tell the user (wait or start ripping / converting)

[2018-09-04 08:13] tonihei commented on #4769
The code with which ExoPlayer interacts with the IMA SDK can be viewed [here](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java). If you have another SDK, please implement a matching [`AdsLoader`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/

[2018-09-04 08:20] tonihei commented on #4764
The preferred way is to set restrictions in the parameters of [`DefaultTrackSelector`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html). Alternatively, you can wait until the track information becomes available (listen to `eventListener.onTracksChanged`) and then set an `SelectionOverride` to the `DefaultTrackSelector`. Please

[2018-09-04 08:22] tonihei commented on #4763
Please provide the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) for us to take a closer look. Thanks!

[2018-09-04 08:29] tonihei commented on #4766
The issue you linked (#2003) seems like it answers your question already. If you set the headers in the `DefaultHttpDataSourceFactory`, they are applied to all http requests (m3u8 and ts).

Note that `setDefaultRequestProperty` is deprecated and you should use `factory.getDefaultRequestProperties().set(...)` instead.

[2018-09-04 08:37] gerardiandrea commented on #4768
in fact player.isPlayingAd () returns false, I tried to insert the logic both in "onTimelineChanged" and in "VideoAdPlayer.VideoAdPlayerCallback - onPlay" but in the case of post-roll I always have player.isPlayingAd() false.

What is the best callback to track the transition from an advertisement to content and vice-versa?

[2018-09-04 08:40] tonihei commented on #4768
You need to listen to `eventListener.onPositionDiscontinuity` for that. The specified reason will be `DISCONTINUITY_REASON_AD_INSERTION`.

[2018-09-04 08:55] gerardiandrea commented on #4768
I was also trying 'onPositionDiscontinuity' but it seems to me that it is not always called, while 'onTracksChanged' is called regularly between an ad and the content and vice-versa

[2018-09-04 09:01] tonihei commented on #4768
`onPositionDiscontinuity` should always be called. The only exception is that when the transition happens because the timeline changed. In this case only `onTimelineChanged` will be called.

[2018-09-04 09:12] reallychenchi opened #4770 "onPlayerError return error exception"
I use explayer 2.4.1, and some users(not all) report this error, I can not get the actual video file in user's phone, any one can help to give some suggestion about the exception? Why it happens and what should I do for this exception?

com.google.android.exoplayer2.e
	at com.google.android.exoplayer2.i.handleMessage(Unknown Source)
	at android.os.Handler.dispatchMessage(Handler.java:98)
	at andro

[2018-09-04 09:28] kartdroid opened #4771 "Unable to enable gzip Encoding SingleSampleMediaSource"
### Issue description
Unable to enable gzip Encoding for [SingleSampleMediaSource](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/SingleSampleMediaSource.java)

We are using this media source for loading side-car Subtitle tracks and  we are seeing improvements if gzip is enabled.
So requesting to add a provision to pass an option

[2018-09-04 10:27] PascalTang commented on #4766
Hi ,
I need to send different header for each ts.
Cause header parameter is encode by ts url....

https://xxx.com/apen/082518_01-10MU/240/ts/082518_01-10MU-4.ts
https://xxx.com/apen/082518_01-10MU/240/ts/082518_01-10MU-5.ts
....etc
parameter is hash by ts url .
How can I get ts url and send different header with each

[2018-09-04 10:35] tonihei commented on #4766
In this case, you should create a subclass `DefaultHttpDataSource` and override the `open(dataSpec)` method with something like:
[code]
Note that the `dataSpec` contains the url and other information about the network request.

And instead of the `DefaultHttpDataSourceFactory`, you can then use something like `() -> new MyCustomHttpDataSourceSubClass(...)`.

[2018-09-04 10:39] tonihei commented on #4770
I've seen this exception before when the user leaves the app and this is part of the final release of the player. That's probably a platform bug and we haven't found any negative effects yet. Also happens in our demo app.

If you think it happens in another situation, please try to get more reproduction info, bugreports etc. to allow us to better understand what's going on.

[2018-09-04 10:58] gerardiandrea commented on #4768
onPositionDiscontinuity  - DISCONTINUITY_REASON_AD_INSERTION is not called when I skip the ad

[2018-09-04 11:13] tonihei commented on #4768
Yes indeed. As noted above, the transition can also happen as part of a `onTimelineChanged` event. When you skip the ad, the timeline is changed because the ad is marked as played. And because we suppress reporting discontinuities if the timeline changed, you'll only get this one event.

Admittedly, this is really confusing and I was expecting to receive the onPositionDiscontinuity too in this cas

[2018-09-04 11:21] ojw28 commented on #4724
We got the samples, thanks. The issue occurs when a WAV file has non-audio data appended onto the end (I don't know whether it's junk data, or useful metadata or something, but it's not audio). As an example, the first sample you provided has a file length of ~4.9MB, but the audio part of it ends at ~4.2MB. We currently try and play out the remainder of the file as audio too, which is what sounds

[2018-09-04 11:54] ojw28 commented on #4519
I suspect the SOC vendor provided MP3 decoder just isn't doing the right thing on this device. Does it fix things if you modify `MediaCodecUtil.isCodecUsableDecoder` to perform the following check at the top of the method:
[code]
If so, we can probably put a targeted workaround in place to fix this (similar to adding the code block above, but additionally targeted to the specific problematic devic

[2018-09-04 12:21] Halloway66 commented on #4724
Hi,

I'm the user who sent the original bug report to Tolriq. I read your comment about ExoPlayer playing non-audio data in the WAV and I tried an experiment:

1. I ripped a CD track to WAV with no tags or cover art embedded. File played OK with no white noise.
2. I converted that WAV to FLAC (with Foobar2000) and added some track information and a cover art image. That file played OK too.
3. I co

[2018-09-04 14:39] ojw28 commented on #4532
How frequently were you seeing reports before (i.e. how long would you have to wait before you'd expect to see a crash report, if the problem still remains)?

[2018-09-04 14:43] #4710 closed, assigned to andrewlewis

[2018-09-04 14:52] ojw28 commented on #4643
This doesn't sound like the responsibility of the ExoPlayer library. I don't think we have any way of telling what's visible or not in your application UI. Whereas your application code does, and so ultimately is responsible for managing any necessary lifecycles accordingly.

[2018-09-04 15:27] spakanati123 opened #4772 "Widevine provisioning failing on Android 9 Pixel 2 device"
We are trying to validate our existing production app on Android 9 device(Pixel 2) but the playback getting failed with the following stack trace:

[code]
Version of ExoPlayer
2.6.1

Device:
Pixel 2

Android Version:
9.0

Content: WIDEWINE + DASH

Full bug report: emailed to dev.exoplayer@gmail.com

issue observed only on Android 9, lower versions playback is fine.

[2018-09-04 15:28] tonihei commented on #4763
This is probably also a duplicate of #91. Please have a look at the `unappliedRotationDegrees` reported through the `VideoListener.onVideoSizeChanged` callback.

[2018-09-04 16:06] ojw28 commented on #4771
We expect the `DataSource` to transparently decompress the data. This should happen automatically if you're requesting the data over http using one of ExoPlayer's standard `DataSource` implementations. So either (a) you're doing this and something is not working as expected, or (b) you're loading data from somewhere else. In the (b) case it may or may not be less clear why gzip would be beneficial

[2018-09-04 17:55] nicklasl commented on #4532
@ojw28 I would suspect we will see a crash before weeks end. I'll post here when I have more information.

[2018-09-04 18:13] aromanelli commented on #4643
Well, I was making that assumption because the way the ViewPager/adapter works is pre-instantiating fragments/pages before they are visible, so if I want to have each fragment have its own notification id/icon, it doesn't seem like its possible.  I was hoping that a simple "is visible?" check inside the library could handle if the notification should be displayed or not.  I'm coming from JavaFX/Ja

[2018-09-04 18:19] adesentenac commented on #4750
It does seem related to Apple samples, and using the Cronet extension does fix the issue.

[2018-09-04 20:22] yahya997 opened #4773 "How to change quality"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-09-04 20:34] ojw28 commented on #4643
I think you're assuming components are more tightly coupled than they are, and making assumptions about how notifications should work that don't necessarily apply to other use cases. ExoPlayer as a library knows nothing about your ViewPager/Adapter. There's no real requirement that the player is bound to any view in the view hierarchy for a notification to be shown by `PlayerNotificationManager`,

[2018-09-04 22:09] ebr11 opened #4774 "Did something change with audio track sync from 2.8.2 to 2.8.4?"
We recently upgraded from 2.8.2 to 2.8.4 and now have some content where audio plays out of sync with the video.  Move back to 2.8.2 and the sync issue is gone.

I can try to provide a sample if needed but wanted to check if there is some known change that we can adjust to.

Thanks.

[2018-09-05 00:24] kimdohyung5 commented on #4519
Yes, It worked fine when I added the code block you gave .
When I added the suggested line to the demo app, I found that the player finishes properly.
So it will be great if you add that code block in the next library release.
Thank you.

[2018-09-05 01:50] PascalTang commented on #4766
Its very helpful .
Thanks a lot <3

[2018-09-05 06:20] aderinto05 opened #4775 "padding right and left DefaultTimeBar"
Can we remove paddingRight and paddingBottom in DefaultTimeBar?

![screenshot_20180831-233536_mivo](https://user-images.githubusercontent.com/40485371/45074649-7bd4c400-b10e-11e8-9242-24b3ced691bf.jpg)

I use this library:
    compile 'com.google.android.exoplayer:exoplayer:r2.5.4'
    compile 'com.google.android.exoplayer:exoplayer-core:r2.5.4'
    compile 'com.google.android.exoplayer:exoplayer-

[2018-09-05 07:51] nicklasl commented on #4532
@ojw28, got the first crash:
[code]

[2018-09-05 08:14] tonihei commented on #4766
Glad to be helpful :)

[2018-09-05 08:14] #4766 closed, assigned to tonihei

[2018-09-05 09:57] AlexDundar opened #4776 "ExoPlayer calls onPlayerError method in EventListener after changing video quality"
I use Exoplayer library in my android app for playing some live HLS videos (.m3u8 format). The version is 2.8.4. I need to make functional in which the user can change video quality of live stream during watching it.

For this I use the followng method (I took it from exoplayer example project):

[code]

When I select some video quality, I see that new quality, but often (sometimes very often) aft

[2018-09-05 10:11] tonihei commented on #4776
Can you check the type of `exoPlaybackException.getSourceException()`? Or even better, attach an `EventLogger` (as in the demo app) and report the full stack trace of the error.

My best guess would be that the error you are seeing is a [`BehindLiveWindowException`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/BehindLiveWindowException.html) in which case y

[2018-09-05 10:22] tonihei commented on #4774
We are not aware of any change which causes synchronization problems. Also depends on the type of media you are using to answer that question. Can you provide us with an example? If you don't want to post it publicly, please send it to dev.exoplayer@gmail.com with "Issue #4474" in the subject.

[2018-09-05 10:23] Romantic-LiXuefeng commented on #4769
I found issue #4680, @andrewlewis said that will give a implementing like a FixedAdsLoader .  I have tried with your advices. It's not easy.  Hope you can give a sample code. @tonihei

[2018-09-05 10:31] tonihei commented on #4769
Yes, #4680 is pretty similar. If you have all the ad information in advance before starting to play the video, such a FixedAdsLoader would help as well. Unfortunately, we don't have an example yet and #4680 is used to track that.

Closing this issue as duplicate. If you think your issue is different, please feel free to reopen.

[2018-09-05 10:31] #4769 closed, assigned to tonihei

[2018-09-05 10:34] tonihei commented on #4773
Closing because the issue template isn't filled out at all. Please provide all the requested information for us to take a look.

[2018-09-05 10:34] #4773 closed, assigned to tonihei

[2018-09-05 10:45] tonihei commented on #4772
Could you please provide us with an example file and Widevine license to reproduce the problem? Thanks!

[2018-09-05 11:07] ojw28 commented on #4775
The gap you see is exactly the size required so that the scrubber (the round dot that indicates the current position, and that can be dragged by the user) can be centered on the start and end of the progress bar without being clipped. In other words, the gap is equal to the radius of the scrubber in its largest mode. We don't add any extra padding beyond this, and removing what padding is there wo

[2018-09-05 12:04] ojw28 commented on #4724
Fixed by https://github.com/google/ExoPlayer/commit/80e64e58ec527b6e867fbb44172cefd447b1b7bf in `dev-v2`.

[2018-09-05 12:04] #4724 closed, assigned to andrewlewis

[2018-09-05 12:31] ebr11 commented on #4774
Sample emailed.

Thanks.

[2018-09-05 12:59] AlexDundar commented on #4776
The type of exception is TYPE_SOURCE

[2018-09-05 13:22] tonihei commented on #4765
I can reproduce both issues.

For the second stream: The fragmented MP4 extractor can read all headers correctly (the values look plausible). But then starts reading the samples by getting the length of the NAL unit. This value doesn't seem to make sense at all (is either too large or negative). Could it be that the stream is faulty? Is it just this one stream or do you see the error in other case

[2018-09-05 13:37] tonihei commented on #4776
I meant the class type of `exoPlaybackException.getSourceException()` and not `exoPlaybackException.type`.

[2018-09-05 14:02] nicklasl opened #4777 "Frame rate limited track selection"
I am missing the feature to limit/filter the track selection based on the format frame rate. We are currently seeing issues with dropped frames on some devices when using DASH+Widevine combined with a higher framerate (50fps).
Suggestion is to add frame rate to `TrackSelector` parameters?

[2018-09-05 14:42] tonihei commented on #4765
To add to my previous answer:
It may be that the second stream encrypts the NAL unit headers which it shouldn't do. The NAL header needs to be cleartext to be able to parse the stream. Which encryption tool are you using?

[2018-09-05 15:11] tonihei commented on #4777
That's certainly possible. Marking as an enhancement.

If you are happy to give it try, we are always happy to accept pull requests. Otherwise, you'd need to wait until we get around to add this.

[2018-09-05 15:24] tonihei commented on #4774
Thanks for the sample. It seems [this commit of 2.8.3](https://github.com/google/ExoPlayer/commit/0a46e74105eb51f3499ec544260e25a2ac2f6848) fixed #4348 but broke your sample.

The reason is that in both cases the file contains edit lists which do not start from a keyframe.
1) In your case, it's the first (and only) edit list. Although we don't properly support this, we can safely ignore the proble

[2018-09-05 15:36] ojw28 commented on #4532
Thanks! This shows that the check is failing because `allocation.data.length == 0`, where-as we expect it to be `65536`. I still think this is a platform/VM issue, probably at a fairly low level, because:

* There are only two places in the library that instantiate `Allocation`, [here](https://github.com/google/ExoPlayer/blob/r2.8.4/library/core/src/main/java/com/google/android/exoplayer2/upstream

[2018-09-05 15:59] ebr11 commented on #4774
Thanks very much.

[2018-09-05 16:44] mahyarMeibodi opened #4778 "Hls Caching Problem?"
hi
i'm having problem with **caching** in Hls protocol.
dose exoplayer provide any **caching** system for hls or should i try another way to cache my video?
@tonihei

[2018-09-05 19:25] jazimm opened #4779 ""errorCode=1009, errorMessage=The response does not contain any valid ads" with vmap verified by Video Suite Inspector"
### Issue description
Seeing error: "ImaAdsLoader: AdEvent: {type=adLoadError, errorCode=1009, errorMessage=The response does not contain any valid ads.}" when the post roll should be played.
I am loading a vmap file with pre roll and post roll video. The pre roll ad is displayed but the post roll video is not played after the content ends. Testing on version 2.8.4 using my own app and com.google.

[2018-09-05 22:51] juechemparathy opened #4780 "[DASH] Possible improvement to detecting end of live events"
Any pointers to Exoplayer support for detecting when a DASH Live stream has finished.Thanks.

[2018-09-06 02:49] islor commented on #4765
@tonihei i see, let me check with the content team on the encryption. Is there anyway I can see and identify these in the logs myself?

[2018-09-06 06:34] shaiksalam1314 opened #4781 "Auto hiding exo player controls in leanback extension"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at ### https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bu

[2018-09-06 07:51] akurni commented on #3829
I've done some test and it took 1.5 days to eventually freeze. It's the same video that i've sent you before.. i will send you the video sample and bug report by email

[2018-09-06 08:02] tonihei commented on #3829
Thanks. It's still a duplicate of #4559 I think. The file provided there shows the same effect. Freezing after some loops with edit lists. And occasional discontinuities when the FLAG_WORKAROUND_IGNORE_EDIT_LISTS is enabled. May take a look again later on.

[2018-09-06 08:08] tonihei commented on #4765
The "Top bit not zero" error is a good indication that the NAL unit header can't be read properly. Might be something else, it's just our best guess so far that these headers are encrypted as well and thus the value doesn't seem to make sense.

[2018-09-06 08:12] tonihei commented on #4780
If the stream is actually finished, I'd assume that you receive an `onPlayerStateChanged` event with the playback state `Player.STATE_ENDED`. That depends on the manifest however. Do you have an example for a manifest with an ended live stream?

[2018-09-06 09:36] tonihei commented on #4661
Thanks for the example project! I can now reproduce the problem. I'll take a look and we'll provide a fix in the next release.

[2018-09-06 12:43] bounmed commented on #4690
@andrewlewis Any update on this? i sent the information requested with the bugreport.

[2018-09-06 12:48] tonihei commented on #4778
Yes, if you use the `CacheDataSourceFactory`, caching also works for HLS.

If you would like to download the video before playing it (and not only caching it while playing), please have a look at [this](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95) and [this](https://medium.com/google-exoplayer/downloading-adaptive-streams-37191f9776e) blog post.

[2018-09-06 13:52] AlexDundar commented on #4776
@tonihei thanks. Yes, the type of SourceException is com.google.android.exoplayer2.source.BehindLiveWindowException.
But reinitializing videoplayer every time when this exceptions throws looks too strange.

[2018-09-06 13:53] tonihei commented on #4781
Please fill out the issue template and describe your issue in more detail. Note that the ExoPlayer Leanback extension does not have any UI components and it just an adapter from Leanback to ExoPlayer.

[2018-09-06 13:57] tonihei commented on #4776
If the bandwidth is too slow to catch up with the live window, there is no alternative to restarting playback in the current live window.

[2018-09-06 14:02] AlexDundar commented on #4776
Ok, thanks. I also can show also the full body of this BehindLiveWindowException:

`{"stackTrace":[{"declaringClass":"com.google.android.exoplayer2.source.hls.HlsChunkSource","fileName":"HlsChunkSource.java","lineNumber":290,"methodName":"getNextChunk"},{"declaringClass":"com.google.android.exoplayer2.source.hls.HlsSampleStreamWrapper","fileName":"HlsSampleStreamWrapper.java","lineNumber":539,"met

[2018-09-06 14:40] Angelk90 opened #4782 "Exoplayer initiated via intent remains listening as if there were many instances"
### Issue description
Starting the player through intent, something strange happens, if I switch to another app, then I return to the same app where I started the player.

The sound of the first time I opened the app remains in the background, when I left it.

But what I see in the video player and how to create a new instance and you can hear the audio start again.

So there are two audio in the

[2018-09-06 14:57] pbertsch commented on #4559
I have the same problem with version 2.8.4. As @akurni correctly states, it happens after hours of playing the same playlist in a loop. I figured it had something to do with the AudioTrack so I disabled it for testing purposes. I will try the FLAG_WORKAROUND_IGNORE_EDIT_LISTS and get back to you

[2018-09-06 14:57] tonihei commented on #4782
Whatever exoPlayerManager is doing - you commented out the exoPlayerManager.onPause() and exoPlayerManager.onStop() lines which presumingly stop the playback. Thus playback continues and if get back to your activity, a second playback with a new player is started.

[2018-09-06 14:59] Angelk90 commented on #4782
@tonihei : But I do not use exoPlayerManager?
By chance do you have a correct example?

[2018-09-06 15:07] tonihei commented on #4782
Please have a look at our [demo app](https://google.github.io/ExoPlayer/demo-application.html).

[2018-09-06 16:37] Angelk90 opened #4783 "Add or remove subtitles when onclick on an ImageView."
### Issue description
I have to make sure that when the user clicks on a button, the ability to add subtitles is given while the video is running.
The possibility also to remove them.

Look:         `sub.setOnClickListener(new View.OnClickListener() { ...`

### Reproduction steps

[code]

### Version of ExoPlayer being used
`    implementation 'com.google.android.exoplayer:exoplayer:2.8.1'
`
### D

[2018-09-06 16:43] tonihei commented on #4783
We don't have resources to debug your app. Such questions are better suited for StackOverflow or similar sites.

For selecting subtitle tracks - please read the [developer guide section about that topic](https://google.github.io/ExoPlayer/guide.html#track-selection) and the linked class docs.

[2018-09-06 17:32] #4783 closed, assigned to tonihei

[2018-09-06 17:33] #4782 closed, assigned to tonihei

[2018-09-06 19:12] zevr opened #4784 "Can Pixel XL 1, after updating to 9.0 Pie, reproduce a 10-bit hevc file using hardware decoding?"
Can Pixel XL 1, after updating to 9.0 Pie, reproduce a 10-bit hevc file using hardware decoding?
After reading the post on May 12.
https://github.com/google/ExoPlayer/issues/3537
Is it possible to enable hardware decoding?

[2018-09-06 19:17] ojw28 commented on #4784
I don't think Pie changes the last comment on the issue you reference. So no, I don't believe so.

[2018-09-06 19:17] #4784 closed, assigned to ojw28

[2018-09-06 19:21] juechemparathy commented on #4780
@tonihei -  Here is the test url - https://content.downlynk.com/channel/29e9c85c070f413fb71a3b2a39eed208.mpd?xtest=end30&prettydash=1
I don't see the playback state as Player.STATE_ENDED on end.

[2018-09-06 23:31] juechemparathy commented on #4780
@tonihei @ojw28
There are really 2 things to pay attention in the manifest -

The lack of a minimumUpdatePeriod on a dynamic manifest, and the addition of MPD presentation duration.
so when you see those things the live event has been finalized at a final length.  The addition of the presentation duration is the final length and the removal of the minUpdatePeriod signals that no further manifest q

[2018-09-06 23:59] ojw28 commented on #4780
I think you should be turning `type="dynamic"` to `type="static"` when the manifest stops updating.

[2018-09-07 01:35] Romantic-LiXuefeng opened #4785 "how to use ClippingMediaSource to implement mid_roll?"
I use ClippingMediaSource to split the content video into two content videos. and then add a mid_roll ad between them.   Sample code like this:
// pre_roll + content1 + mid_roll + content2
ClippingMediaSource content1 =
                      new ClippingMediaSource(mediaSources[1], 0, 15000000);
ClippingMediaSource content2 =
                     new ClippingMediaSource(mediaSources[1], 15000000,

[2018-09-07 02:14] okycelt opened #4786 "Widevine-encrypted content playback failure on Amlogic STB with Android 6.0.1"
### Issue description
We're having some issues playing Widevine-encrypted content on Amlogic STB with Android 6.0.1. When playing Widevine-encrypted DASH containing video with resolution higher than 720p, it shows the following error when processing the first license request response.

[code]

When trying to switch to video higher than 720p, eg. 1080p, the player crashes with following error.

[co

[2018-09-07 05:25] kartdroid commented on #4771
@ojw28 We download subtitles from CDN (akamai) using SingleSampleMediaSource which in turn uses DefaultHttpDataSource for pulling it from internet.

When SingleSampleMediaSource is constructed , it creates DataSpec with just URI(there is no provision in SingleSampleMediaSource constructor to pass a DataSpec#Flags)
So , DefaultHttpDataSource hard-codes the Accept-Encoding as identity , compelling t

[2018-09-07 08:07] tonihei commented on #4780
Yes, that is what I was looking for. We only use the `type` tag to determine whether we should expect further dynamic updates (and not end the playback) or whether the playback can be safely ended. Please change this tag if possible.

[2018-09-07 10:29] ojw28 commented on #4771
Got it. I'm not actually sure why we don't use `DataSpec.FLAG_ALLOW_GZIP | DataSpec.FLAG_ALLOW_CACHING_UNKNOWN_LENGTH` by default in `SingleSampleMediaSource`, as we do when loading manifests in `ParsingLoadable`. I can't think of anything that would go wrong. If no-one objects, I'll probably go ahead and do that.

[2018-09-07 11:15] ram992 commented on #4721
Hello @ojw28, can this bug be the cause of issue discussed in #4674  that I am experiencing.

[2018-09-07 11:16] ojw28 commented on #4721
I doubt it (but if you want to find out, why don't you just try using `DefaultDrmSessionManager` in a way that ensures the instance is released, as in the demo app?).

[2018-09-07 11:20] ram992 commented on #4721
Nice Idea, will try that out ASAP

[2018-09-07 11:42] erenbakac opened #4787 "Video freezes in short periods"
### Issue description
DRMed dash  streams are not played smoothly in Samsung Galaxy S6(SM-G920FQ). Streams are played well for a few seconds then it starts freezing in short periods . I attached bugreport file. Stream starts at 11:22 am in logs

### Reproduction steps
-

### Link to test content
Sorry. I cant provide a link .

### Version of ExoPlayer being used
2.8.4

### Device(s) and version(s)

[2018-09-07 12:38] ojw28 commented on #4634
@tonihei - Can this issue be closed?

[2018-09-07 12:44] tonihei commented on #4634
Yes, it's fixed (or rather not longer applicable) by above mentioned change.

[2018-09-07 12:44] #4634 closed, assigned to tonihei

[2018-09-07 12:46] komissarovdenis opened #4788 "SubtitleView custom layout measurement"
When you have a `SubtitleView` with custom layout measurement (Parent view has match_parent for both dims and `SubtitleView` has smaller size and positioned in center) `SubtitlePainter` will draw cues somewhere outside of `SubtitleView`'s viewport and you'll see nothing.

Bug is probably located in `SubtitlePainter ` in method `setupTextLayout()` on the line 346
`textTop = parentBottom - textHeigh

[2018-09-07 12:58] tonihei commented on #4788
Not sure this is correct. The text is positioned relative to the bottom edge of the parent. Thus we subtract the height of the text and the padding from the bottom edge to get the top of the text. This is independent of the top of the parent and it may mean that the position "overflows" the top.

Could it be that your SubtitleView is just too small to fit the text? Try changing the bottom padding

[2018-09-07 13:18] komissarovdenis commented on #4788
Let me try to explain how views actually look:
1. Video Texture fits all the screen, but actually rendering may not cover all it's area (for example: screen 1080x2220 and typical video 16:9 is rendering like 1080x608 and other area is just black). It's necessary to have such a big texture to be able make animated transitions/scales/crops/etc from one screen to another.
2. If SubtitleView measured

[2018-09-07 13:26] tonihei commented on #4785
You could sum up the durations of all content parts yourself. Listen to timeline updates (`eventListener.onTimelineChanged`) and wait until all the duration of all the content windows are known.

We are currently also working on a metadata retriever which can be used to load media information without playing the media. This will be part of a future release and is not yet available. As soon as this

[2018-09-07 13:29] tonihei commented on #4785
Also note that inserting midrolls this way doesn't work well with our existing UI components. The preferred way to do this is still the custom `AdsLoader` as discussed in #4769.

[2018-09-07 13:35] tonihei commented on #4788
I think I understand your problem. Please try to change the padding or text size as suggested above.
If you think this doesn't help, please try to explain your problem some other way.

[2018-09-07 13:58] tonihei commented on #4559
We found the reason for the regularly reported AudioTrack discontinuities (see [here](https://github.com/google/ExoPlayer/issues/3829#issuecomment-417249690)) and will provide a fix for that.

Note that:
1. This doesn't fix the original issue with the gapless info handling.
2. Also not sure whether it will fix the problem with the freezing frames after more than a day (with the FLAG_WORKAROUND_IGN

[2018-09-07 18:01] shubham-arora-18 opened #4789 "Disable seeking in Exoplayer"
How do I prevent my exoplayer from seeking videos ?
How do I disable my scrubber ?

[2018-09-07 19:06] shalin186 opened #4790 "ExoPlayer drops last video frame of the segment on bitrate change"
Hello,

Based on my debug on ExoPlayer 2.6.0, I see that the current NAL unit (Type: Access Unit) related information is written to SampleMetadatQueue (commitSample() function) when the next NAL unit (Type: Access Unit) is found. So basically, when we find the start of Next NAL unit, we know that the previous NAL unit has ended and we commit metadata for that NAL unit. Which generally works fine.

[2018-09-07 20:32] gbirk opened #4791 "Reset currentWindowIndex when changing MediaSource position"
I'm working on my own shuffle implementation for a music player app. When the user press shuffle, I need to put the currently playing track at the top of the queue (first position). I could not find any solution for this using the ExoPlayer shuffle mode, so I decided to create my own solution by moving the MediaSource objects on the playlist.

Right now I'm saving a reference of **ConcatenatingMed

[2018-09-07 21:15] IanMcCabe opened #4792 "internet disruption slows down surface texture update (FPS drop)"
### Issue description
A surface texture that is connected to the exoplayer and referenced externally, has reduced update time when the application is disconnected from wifi, and reconnected (causing a perceived FPS drop).

Basically, the internet connection is disrupted, it seems as though the exoplayer doesn't delivery frames to the surface texture fast enough resulting in an FPS drop.

### Repro

[2018-09-07 21:53] ValeraC opened #4793 "ExoPlayer merge audio with video"
Is it possible merging audio with video to play them simultaneously?
I have video(mp4) with empty audio source, and i also have audio(ogg or mp3) that i want play with video.
Both have same length and periods.

I am trying to marge them. Code:
[code]

But the result is: only video plays. If  add just the audio source - audio will play...

How can I solve this problem?

[2018-09-08 01:54] juechemparathy commented on #4780
Thanks @ojw28 @tonihei  for the quick response. Having ```type=static``` for the last mpd triggered Player.STATE_ENDED correctly.

Any suggestions on detecting live streaming in this case. Currently we use ```boolean isLive = player.isCurrentWindowDynamic() || player.getDuration() == C.TIME_UNSET```  to dectect if its live streaming.Thanks.

[2018-09-08 18:39] anonym24 opened #4794 "SRT - two or more cues/phrases at the same time aren't displayed"
I often find subtitles which can contain more than one caption for the same time point (e.g., YouTube uses such captions very often)

Normally all players can display all those captions except ExoPlayer (MX Player, VLC, video players for Desktop)

![screenshot_3](https://user-images.githubusercontent.com/8851301/45257468-8eb9f380-b3af-11e8-883e-8e278aa2c61e.png)

![screenshot_2](https://user-image

[2018-09-08 20:01] anonym24 commented on #4794
Also `getNextEventTimeIndex` method has to be modified to take indexes into account

![screenshot_4](https://user-images.githubusercontent.com/8851301/45258080-0e4cc000-b3ba-11e8-8dff-7ba8bb6b0150.png)

current time (timeUs) is 21961000 and we also display second caption with first caption at the time (so we at index 2)

but method will return index 1 (cause 24350000 at 1 is bigger than 21961000

[2018-09-08 20:09] anonym24 commented on #4794
and we can't even use `Arrays.binarySearch` method here

[2018-09-09 07:58] anonym24 commented on #4794
also this issue is the same as https://github.com/google/ExoPlayer/issues/4725

it doesn't matter if srt or ass subtitles, not ordered time of captions isn't supported in Cue/Subtitle ExoPlayer classes

[2018-09-09 13:26] pawaom opened #4795 "how can we set width , height and resize mode of simpleexoplayerview programmatically"
I want to rotate simpleexoplayerview programmatically

i have used this in

<com.google.android.exoplayer2.ui.SimpleExoPlayerView
                android:id="@+id/player_view"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                app:resize_mode="fixed_width"
                app:surface_type="texture_view"
                 />

but

[2018-09-09 19:39] TK4499 opened #4796 "I have a question! I don't know anything about github. But I am smart enough to track down a hack when I know I've been hacked. How can I stop and shut down this whole message. He is cheating on me and hiding all his stuff under my emails,And says it's not him. He is full of shit. I want this off. I just don't know how to stop all this and put things back the way they was."
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-09-09 19:47] #4796 closed

[2018-09-10 07:54] tonihei commented on #4780
It's probably better just to check for `player.isCurrentWindowDynamic()`. When playing progressive streams (like Mp4 etc.) you'll always get a unset duration in the beginning until it becomes known - and you wouldn't want to classify such a case as live stream.

For the ended live stream case, it's slightly unclear how they differ from non-live streams from a player point of view. Both have a non-

[2018-09-10 07:57] tonihei commented on #4787
Would it be possible to send a link with test content to dev.exoplayer@gmail.com with "Issue #4787" in the subject?

Besides that, I can't open the attached bug report as it fails to extract.

[2018-09-10 08:01] tonihei commented on #4789
You can disable to scrubbing functionality by calling `DefaultTimeBar.setEnabled(false)`. If you also want to hide the scrubber, you can set its size to zero by using:
[code]

[2018-09-10 08:07] erenbakac commented on #4787
Sorry. I cant provide a link  for now. But i will try to get a link... I attached file again.

[bugreport-2018-09-07-11-23-27.zip](https://github.com/google/ExoPlayer/files/2365705/bugreport-2018-09-07-11-23-27.zip)

[2018-09-10 08:21] tonihei commented on #4786
That sounds very much like a device-specific problem.

Unfortunately, we don't have this device for available for testing. But it sounds as if we could add a workaround for the device which blacklists all formats higher than 720p. Maybe the device codec claims support for these formats where in fact it shouldn't. Can you provide us with the values of `Build.DEVICE` and `Build.MODEL` to add such a

[2018-09-10 08:34] tonihei commented on #4787
Thanks, I can open the report now. However, I can't see anything suspicious.

If you can't get the link for now, it would be great if you can add an event logger with `player.addAnalyticsListener(new EventLogger(trackSelector))` to get more detailed information about potential problems.

[2018-09-10 09:26] AquilesCanta commented on #4793
EDIT: Ignore my previous response.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-09-10 09:26] #4793 closed, assigned to AquilesCanta

[2018-09-10 09:46] chenqingru opened #4797 "exoplayer play amr but can not seek"
exoplayer plays amr but can not seek . when i use seek,it just restarts playing.
The version i use is 2.8.4

[2018-09-10 09:49] tonihei commented on #4791
Implementing your own shuffle order should ideally happen by providing your own [`ShuffleOrder`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/ShuffleOrder.html) implementation to the `ConcatenatingMediaSource`. Have a look at our [default](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/Shu

[2018-09-10 09:53] ojw28 commented on #4797
Please see the [supported formats](http://google.github.io/ExoPlayer/supported-formats.html) page for some comments on seeking. We have enable seeking for some additional formats in the `dev-v2` branch though, so you should take a look at that. Some details on the improvements can be found in the [release notes](https://github.com/google/ExoPlayer/blob/dev-v2/RELEASENOTES.md) for 2.9.0, which will

[2018-09-10 09:54] andrewlewis commented on #4779
Could you try to reproduce this on the `dev-v2` branch and let us know if it's still reproducible?

[2018-09-10 09:54] chenqingru commented on #4797
thanks

[2018-09-10 09:57] ojw28 commented on #4795
It's just a normal view, so it should be possible to size it programmatically in the same way as you'd size any other view, at which point this isn't an ExoPlayer specific question.

If you have code that resizes any other view successfully, but doesn't resize `PlayerView`/`SimpleExoPlayerView`, please could you provide details of that. Else I'd suggest asking about sizing views programmatically s

[2018-09-10 10:12] Romantic-LiXuefeng commented on #4785
If the content video container formats are mp4 or mkv in the playlist, when call it's perpareChild()  it's first timeline with unkown duration.  it's duration become knowns until the video before it fully loaded and then load it's media information  . so i think wait until all the duration of all the content windows are known is not a right way.

[2018-09-10 10:12] #4785 closed, assigned to tonihei

[2018-09-10 10:56] andrewlewis commented on #4690
Thanks. Could you log the `AudioCapabilities` instance and paste the output here? I wonder if the problem is that only stereo AC-3 is supported and we need to add a check for the channel count too.

[2018-09-10 11:02] pawaom commented on #4795
I have posted a question on stackolverflow

https://stackoverflow.com/questions/52256396/fit-simpleexoplayerview-within-a-rotated-relative-layout

could you help

[2018-09-10 11:03] ojw28 commented on #4790
Interesting observation. Is it mandated anywhere in the HLS specification that a sample cannot be split across more than one segment, because I'm fairly confident we've seen streams that do this. If it's not mandated, I don't think we know that the last sample is complete in the case you describe, because it may be continued in the next segment of the bitrate we've moving away from. Hence it would

[2018-09-10 11:19] sp8004 commented on #4772
@tonihei the content has geo-restriction and also authorization restriction,
 is the bug report not help out ??

[2018-09-10 12:20] SimonNumberTwo opened #4798 "Video and Audio get out of sync"
### Issue description
We use the ExoPlayer with the ConcatenatingMediaSource to play several videos and while playing them the audio gets more and more out of sync.

### Reproduction steps
I created a playlist in the ExoPlayer demo app and let it play. After a short time, the audio is out of sync with the video. I noticed after a short time, the audio is even one word ahead of the video which is r

[2018-09-10 12:22] tonihei commented on #4772
Unfortunately the bug report doesn't contain much more information than what you already posted above. So it would be great if we could reproduce the issue ourselves.

[2018-09-10 12:26] tonihei commented on #4361
Closing the issue. The response headers are now part of the LoadEventInfo data.

[2018-09-10 12:26] #4361 closed, assigned to tonihei

[2018-09-10 12:55] tonihei commented on #4798
This is a duplicate of #4559 and the issue be suppressed by setting the FLAG_WORKAROUND_IGNORE_EDIT_LISTS flag.

[2018-09-10 12:55] #4798 closed, assigned to tonihei

[2018-09-10 14:35] ebr11 commented on #4774
Hi.  Has this been addressed yet?

[2018-09-10 14:57] tonihei commented on #4774
Yes, it will be part of the next release.

[2018-09-10 15:17] narko commented on #3521
Having the same issue here when using ConcatenatingMediaSource. As mentioned by @mikal-ustad, sleeping the thread in processEndOfStream available in the MediaCodecRenderer class seems to work. This looks like a potential workaround while this issue gets fixed, but is there any other alternative for doing this that we could explore?

[2018-09-10 15:23] keremkusmezer opened #4799 "240FPS Sample Dash Stream Drops Frame On Playback"
### Issue description
I get constant frame drop on the below provided content
### Reproduction steps
During playback of the following dash playback content it get constant framedrops
2018-09-10 18:19:57.758 13869-13869/uk.co.wormapp.worm D/WormExoPlayerEventLogger: droppedFrames [57.89, 50]
2018-09-10 18:19:57.995 13869-13869/uk.co.wormapp.worm D/WormExoPlayerEventLogger: droppedFrames [58.13, 50]

[2018-09-10 16:00] ojw28 commented on #4799
Could you clarify what your expectation is? If your expectation is that content should play smoothly at 240fps, could you clarify on what basis you've formed that expectation. Devices have performance limitations, so this is not always possible.

Please also try the `dev-v2` branch, if you haven't already. There are some improvements around playing high frame-rate content that are not yet released

[2018-09-10 16:22] ebr11 commented on #4774
Okay, thanks.  Just out of curiosity, can you point me to the commit :).

[2018-09-10 16:24] ojw28 commented on #4774
The commit will appear in this thread when it's pushed to GitHub.

[2018-09-10 17:43] shalin186 commented on #4790
Hi ojw28,

Thanks for your detailed response. I now understand why it is done this way. I was not aware of HLS spec where it can allow sample to cross the segment boundary. In our case though, that's not going to happen since we support the hls streams created only by us (which won't have such situation). So in case, we know that the sample will not cross the segment bondary, how would you recomme

[2018-09-10 17:54] armanhi opened #4800 "Video frozen when changing PlayerViews"
### Issue description and Reproduction steps

- We have basically 2 PlayerViews (com.google.android.exoplayer2.ui.PlayerView), each appearing on screen at a time (think of it as a PIP).
- We have a "PlayerActivity" which coordinates everything, as well as Fragment1 and Fragment2 (each owning one of the previously mentioned PlayerViews).
- We have a SimpleExoPlayer instance living in our PlayerActi

[2018-09-10 19:04] SimonNumberTwo commented on #4798
Hey @tonihei thank you very much for your quick response. We finally were able to solve this issue.

Big thank you 👍 Keep the good work going :-)

[2018-09-10 19:17] jazimm commented on #4779
Hi Andrew, I have tested on dev-v2 and the behavior is the same. Not seeing the add and getting "com.google.android.exoplayer2.imademo I/ImaAdsLoader: AdEvent: {type=adLoadError, errorCode=1009, errorMessage=The response does not contain any valid ads.}" in the Logcat when the progress bar reaches the post roll ad. I have tested the vast tag again and it's still playing correctly in the Video Suit

[2018-09-11 00:19] jjimenez0611 commented on #4778
Someone with a basic example to caching HLS?
I new in exoplayer, I only need a basic example to caching a video in HLS protocol...
If somebody can help me I really appreciate..
my email is jjimenez@soin.co.cr

[2018-09-11 01:06] n2lovell commented on #474
I'm currently planning to implement this in a partial c++ port of exoplayer (ported most of the manifest module layer + fmp4 extractors).

I'm currently thinking about making the I-Frames track(s) as a special type of track that the player explicitly switches to.

General idea: When entering a trick mode, flush the sample queue(s) and then rapidly seek around the special track (number of i-frames

[2018-09-11 02:11] mireille0426 commented on #4078
Hi @natez0r, I encountered the same issue as what's been described here. I'd like to know if the issue has been resolved for you?

I traced this thread to issue square/okhttp#3915 and square/okhttp#4127, used okhttp-3.11.0 + exoplayer 2.7.3 but still experience the same issue after some frequent seek. Bumping up the readTimeOut threshold does remedy the endless buffering, but it still take a long

[2018-09-11 03:39] marcovietovega commented on #4617
Sorry to answer late. I found that you can download the video and serve it with nanohttpd to cast it. I still trying to do it. Maybe you could implement it exoplayer or as plugin like cast.

[2018-09-11 07:49] andrewlewis commented on #4779
I see the same behavior in the IMA SDK sample Android app, so I will ask the IMA team to take a look. Thanks for reporting!

[2018-09-11 07:55] tonihei commented on #4778
Please have a look at the blog posts mentioned above.

[2018-09-11 07:57] tonihei commented on #4609
Closing the issue as the question is supposedly answered. If not, please feel free to reopen.

[2018-09-11 07:57] #4609 closed, assigned to tonihei

[2018-09-11 07:59] #4763 closed, assigned to tonihei

[2018-09-11 07:59] tonihei commented on #4764
Closing as the question was answered. Please feel free to reopen if not.

[2018-09-11 07:59] #4764 closed, assigned to tonihei

[2018-09-11 08:00] tonihei commented on #4767
Closing as the original question has been answered.

[2018-09-11 08:00] #4767 closed, assigned to tonihei

[2018-09-11 08:02] tonihei commented on #4770
Closing for now as no further information is available. If you get something new which isn't explained by the effect I described above, please feel free to reopen the issue.

[2018-09-11 08:02] #4770 closed, assigned to tonihei

[2018-09-11 08:03] tonihei commented on #4776
Closing the issue as the question is already answered above. If not, please feel free to reopen.

[2018-09-11 08:03] #4776 closed, assigned to tonihei

[2018-09-11 08:05] tonihei commented on #4778
Closing for now as the question is answered.

[2018-09-11 08:05] #4778 closed, assigned to tonihei

[2018-09-11 08:06] tonihei commented on #4789
Closing, as I think the question has been answered. Feel free to reopen if not.

[2018-09-11 08:06] #4789 closed, assigned to tonihei

[2018-09-11 08:16] rocqetQueen commented on #3375
Any news on this? I'm also interested in trying the async version :)
Thanks!

[2018-09-11 08:28] tonihei commented on #4157
Sorry for the super-late answer.

1. The best way to check this is to query the renderer capabilities for the format you mare trying to play. This is more or less a duplicate of #4475.

2. If the format is just not supported, the player will not select the tracks and will only play the remaining tracks without error. If you see an error of TYPE_SOURCE, it's most likely a problem with reading the d

[2018-09-11 08:28] #4157 closed, assigned to tonihei

[2018-09-11 08:31] tonihei commented on #3375
Sorry, no updates so far. There hasn't been much work on that issue recently. Marking it as low priority for now.

[2018-09-11 08:47] komissarovdenis commented on #4788
I tried to manipulate with paddings, fractions and text sizes - there's no difference at all.

So, I prepared a small test (based on your demo) to show in practice:
https://github.com/komissarovdenis/ExoPlayer/commit/0bea7972c8008c1be15f8c58b5c0eb2473d7d337

1. I added an HLS link to content with subtitles
2. Moved out subtitles view from ratio container to emulate case when subtitle view has diff

[2018-09-11 10:18] JuhDuh26 commented on #4216
I also intermittently get this issue when adding and removing the Exoplayer View into a ScrollView dynamically at runtime, it then breaks all instances of Exoplayer in my app until a hard restart of the app is done!

Why would this exception being thrown in one instance of Exoplayer, break it for all other instances in other activities and fragments?

[2018-09-11 10:38] ghost commented on #3375
@LanderlYoung, How can you check out the buffer processing mode of MediaCodec ?

[2018-09-11 11:00] ojw28 commented on #4793
Probably the video stream defines a silent audio track, which ends up being selected by default for playback. If you're in control of the creation process for the media, you should make the video stream so that it doesn't contain an audio track at all. If you're not in control of the creation process, you'll need to find a way to explicitly select the other track (take a look at `DefaultTrackSelec

[2018-09-11 11:07] keremkusmezer commented on #4799
Hi,
Is the 2.9.0 release date set now, i see there are preparations for the release as release notes are updated and the version info is bumped.

You are right on the odd resolution problem i am improving the encoder to provide only odd numbers for resolution instead of the current output.

I am switching to dev-v2 branch now and will test with my media the improvement thx for the fast response.

[2018-09-11 11:08] tonihei commented on #4144
Sorry for the late answer. I tried to play the file and can reproduce the problem on a Nexus 6. This is a known platform issue and already fixed. Please update your system to the latest release and the problem should go away.

[2018-09-11 11:08] #4144 closed, assigned to botaydotcom

[2018-09-11 12:19] OfekRegev commented on #4375
I've been experiencing the same issue. When I'm preparing a DynamicConcatenatingMediaSource using player.prepare(concatenatingMediaSource) and then calling player.seekTo(index,0) the initial index set always to 0 and only then skipping to the provided index. Since my media source is performing some validations to the stream link the first media source always start validating and only after it fini

[2018-09-11 12:21] ojw28 commented on #4375
We cannot look at this issue without proper reproduction steps. Please provide some (preferably in the form of a simple demo project) if you want the issue to be reopened.

[2018-09-11 13:39] ghost opened #4802 "Question: Analytics Listener Play Status + Detect Replay"
Using: Exoplayer 2.8.4

I am trying to implement some tracking from our analytics team, and there are two tracking events that I'm having trouble finding a way to track through the Analytics Listener.

Firstly, is it possible to detect replays if the video is set to loop when it completes? I tried to listen to:

[code]

but it doesn't appear as though this event is fired with state ENDED (or anyth

[2018-09-11 13:50] tonihei commented on #4802
For looping ("replay"), you should receive a `onPositionDiscontinuity` event with reason `DISCONTINUITY_REASON_PERIOD_TRANSITION`.

For the regular timer, you can either:
- Call a Handler method in regular intervals (every x seconds in real time) and then check the current position with `player.getCurrentPosition()`.
- Or send messages at pre-defined media positions. You can do that by calling `pl

[2018-09-11 14:03] natez0r commented on #4078
we have code in place to mitigate the ability to seek rapidly right now (we don't perform a seek until the user has lifted their finger on a scrub).

One of the main underlying issues causing it was fixed in okhttp 3.11, which @ojw28 has told me has been bumped in the current dev-v2 branch. I'd imagine this will be a lot better after that.

[2018-09-11 15:20] andrewlewis commented on #4779
Apparently it's normal for the ad tag to be served differently on different platforms (Android vs. HTML5). Could you double-check your ad server configuration to make sure that it's not set up in a way that serves an empty XML file for the post-roll ad when receiving requests from Android?

[2018-09-11 15:51] sp8004 commented on #4772
Hi Tonihei,
Thanks for the reply, we did more analysis from our side and found the root cause for the issue.
The issue seems to be Device DRM Session Manager throwing DRMStateException for the provided Provision Response.

We have our own Library(SDK) for playback and we have the sample app which demonstrate the our library features. The Provision Response working fine our sample app application i

[2018-09-11 15:54] sp8004 commented on #4772
Hi Tonihei,
Thanks for the reply, we did more analysis from our side and found the root cause for the issue.
The issue seems to be Device DRM Session Manager throwing DRMStateException for the provided Provision Response.

We have our own Library(SDK) for playback and we have the sample app which demonstrate the our library features. The Provision Response working fine our sample app application i

[2018-09-11 15:58] sp8004 commented on #4772
@tonihei Please check email reply to dev.exoplayer@gmail.com with our analysis.

[2018-09-11 16:12] tonihei commented on #4772
Looks like you are using a custom class called CachedDrmSessionManager to call the ExoPlayer FrameworkMediaDrm. methods. Could you please verify you are seeing the same error with ExoPlayer's default drm session manager? If not, this is likely a problem in the CachedDrmSessionManager class and needs to be fixed there.

[2018-09-11 17:09] sp8004 commented on #4772
@tonihei  We are using the CachedDrmSessionManager just to cache the license and the remaining logic is same as DefaultDrmSessionManager, i tried with DefaultDrmSessionManager but still i can observe the issue.

Please let me understand me on the point that,
- when OS upgraded the Provision Request going on and the response validated successfully for one application id but if i change to any other

[2018-09-11 17:10] kartdroid commented on #4772
@tonihei we are facing problems during  provisioning itself. (not during content specific Key request/loading)

Here is the problem we are facing

-  Upgraded Pixel 2 to Android 9
- We tried playing a content and a Provisioning Request is triggered (we had the **package name as x.y.z**) and the provisioning response was provided to the DRM Framework without any issues / exceptions
- **We changed t

[2018-09-11 17:31] ojw28 commented on #4772
What does this mean exactly? It's not valid to cache key responses (probably provision responses too, although I'm not certain about that). Each response is tied to the corresponding uniquely generated request.

[2018-09-11 18:04] sp8004 commented on #4772
@ojw28 we cache the license to avoid the multiple license call for the same content and it's not intended for provision response.
The problem is, on lower android versions all our application id's working fine when we provide the Provision response to DRM Framework but on Android 9 only one application id working.
This problem we are facing only Pixel 2 whereas on Pixel 1 it's working fine.

We wa

[2018-09-11 18:08] natez0r commented on #4463
@tonihei thanks for the response! (sorry I was OOO since I posed my message).  We call getCurrentPosition every 10ms in our "ticking" code.

There are a bunch of components that are based on the Ticks. We convert them into events and all of our underlying analytics code uses the ticks to collect various statistics on a set cadence as well as simpler things like a throttled (roughly 20FPS) event th

[2018-09-11 18:49] ghost commented on #4802
The replay check you mentioned does work, so thank you.

I've done the below for play time tracking and it doesn't ever seem to fire back to the message target. In the below, `recordPlayTime` is never called.

[code]

[2018-09-11 19:00] jazimm commented on #4779
Hi Android, I checked and it's set to serve the ad regardless of device type. Thanks

[2018-09-11 19:11] keremkusmezer commented on #4799
Hi,

I have two samples of the same video, one as non adaptive normal mp4 and the other as mpeg-dash encoded. The frame rate is 240 fps on both

https://s3-eu-west-1.amazonaws.com/worm-bucket-prod/videos/5b6c35c32aee110004d40559/3DA76C26-A84A-4A53-8AD1-55EBCF5A9A09-ffr.MP4

The same device can playback the mp4 on 720x1080, but 720x1080 playback is restricted on hls content

https://s3.amazonaws.co

[2018-09-11 19:33] chriscoderdr commented on #3735
Any update into this?

[2018-09-11 21:40] kartdroid commented on #4772
@ojw28  am from the same team as @sp8004 .
The issue is reproducible even if we use DefaultDrmSessionManager (with a clean install of the application)

Kindly help us in understanding more on Provisioning request/response flow as mentioned in
https://github.com/google/ExoPlayer/issues/4772#issuecomment-420348714

Thanks !

[2018-09-11 21:55] kartdroid commented on #4771
@ojw28  thanks a lot !

[2018-09-11 22:55] ojw28 commented on #4799
I'm not sure what's actionable about your last post above, since it does not appear to contain a question or clear information. It's also unclear why the HLS sample is relevant, and what "restricted" means. Please clarify.

[2018-09-12 00:34] keremkusmezer commented on #4799
Hi,
Exoplayer can play the above mp4 file on 720x1080 , but as i want to play the hls stream provided in 720x1080 exoplayer return that is not supported on the same device.
So basically only 360x640 and 474x842 is provided to me as selection options on the hls quality selection dialog, although my device can play the same file encoded as mp4 240fps 720x1080 without any issues on exoplayer.

[2018-09-12 02:21] rishun-fsi opened #4803 "Allow playback speed adjustments while tunneling"
Hi,
I am working on an Android TV application and I want to enable tunneling for the video playback to improve performance.
But I encountered a problem by using set speed when I set tunnel mode on.
Any way, It works fine, if tunnel mode off in this case.
Please tell me how to avoid the following issue?

### Issue description
Android TV (Adnroid 8.0.0, model:AQUOS_TVJ18, device:tcsu2uj)

Exo ver  2

[2018-09-12 02:25] rishun-fsi commented on #4803
DefaultControlDispatcher (in the 28th line)
//player.setPlayWhenReady(playWhenReady);
if(!playWhenReady && player.getPlaybackParameters().speed != 1.5f){
  player.setPlaybackParameters(new PlaybackParameters(1.5f, 1));
}
else {
  player.setPlaybackParameters(new PlaybackParameters(1.0f, 1));
}

[2018-09-12 07:25] rishun-fsi commented on #4803
same issue on BRAVIA 4K 2015 (Android 7.0.0)

[2018-09-12 08:22] andrewlewis commented on #4803
Speed adjustment can't be used with tunneling mode at the moment, I'm afraid. See the [javadoc on DefaultAudioSink](https://github.com/google/ExoPlayer/blob/2b36775/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L45).

Marking as an enhancement to add support. In tunneling mode each buffer written to the `AudioTrack` needs to be prefixed by a timestamp, which

[2018-09-12 08:25] Romantic-LiXuefeng opened #4804 "How to add AdsMediaSource into ConcatenatingMediaSource?"
Hi, I find that AdsMediaSource has a asset, {Assertions.checkArgument(isTopLevelSource);} . I want to use ConcatenatingMediaSource to  concatenate multiple  MediaSources.Maybe the child is AdsMediaSource. whether you have a plan to support this?  I found that,this function is supported  in Youtube app, how to implement this function? thanks!

[2018-09-12 08:25] Romantic-LiXuefeng opened #4805 "How to add AdsMediaSource into ConcatenatingMediaSource?"
Hi, I find that AdsMediaSource has a asset, {Assertions.checkArgument(isTopLevelSource);} . I want to use ConcatenatingMediaSource to  concatenate multiple  MediaSources.Maybe the child is AdsMediaSource. whether you have a plan to support this?  I found that,this function is supported  in Youtube app, how to implement this function? thanks!

[2018-09-12 08:29] Romantic-LiXuefeng commented on #4805
My sample code is:

MediaSource[] mediaSources = new MediaSource[uris.length];
for (int i = 0; i < uris.length; i++) {
        mediaSources[i] = buildMediaSource(uris[i], extensions[i], mainHandler, eventLogger);
}
String adTagUriString = "https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_po

[2018-09-12 08:31] andrewlewis commented on #4804
This is not supported at the moment. #3750 tracks the enhancement.

[2018-09-12 08:31] #4804 closed, assigned to andrewlewis

[2018-09-12 08:31] andrewlewis commented on #4804
Duplicate of #3750

[2018-09-12 08:31] andrewlewis commented on #4805
Duplicate of #3750

[2018-09-12 08:31] #4805 closed, assigned to nobody

[2018-09-12 08:54] Romantic-LiXuefeng commented on #3750
I am very interested in this feature.

[2018-09-12 09:00] andrewlewis commented on #4779
I tested using the internal tip-of-tree IMA SDK and the postroll ad played, so I guess there was a bug that will be fixed in the next IMA SDK release.

[2018-09-12 10:00] ojw28 commented on #4772
My understanding of provisioning was that it happened once for the whole device (i.e. as soon as some app has provisioned, that should be all that's required). I also thought devices with Widevine L1 didn't need provisioning at all, since they're provisioned in the factory. Guess I'm wrong though. Or perhaps something changed in P.

@paf-wv - Could you shed some light on this? Thanks!

[2018-09-12 10:05] ojw28 commented on #4799
What's probably happening is that the device tells us it's unable to play at 240FPS at 720x1280. In the adaptive playback there are lower quality streams available, so we'll stick to those. For the MP4 playback there are no lower quality alternatives. In this case ExoPlayer will "try anyway", because the worst that can happen is playback will fail, which isn't really much worse than not trying. Fo

[2018-09-12 10:21] ojw28 commented on #474
That sounds along the right lines. I'd probably do it as follows, which I think is similar to what you're suggesting:

* Expose the i-frame track as a special track in its own `TrackGroup`. A good first step would just be getting this working as a track that can be played. This should be fairly straightforward.
* Add a new `C.SelectionFlags` constant to indicate the track is for trick play, and se

[2018-09-12 10:21] rishun-fsi opened #4806 "Seek to a specific point and start playback does not work well with enabling tunnel mode"
Hi,
I have tested the demo app by using seek to a specific point and start playback with enabling tunnel mode on some AndroidTV devices, and I encountered some problems.
Please tell me how to resolve the problems.

### Issue description
The details send to dev.exoplayer@gmail.com.

### Reproduction steps
The details send to dev.exoplayer@gmail.com.

### Link to test content
SmoothStreaming / Super

[2018-09-12 10:23] ojw28 commented on #4806
We can't help you unless you tell us what the problems actually are.

[2018-09-12 10:46] ryankumar opened #4807 "basic clearkey source code download for beagolbond or dragonboard"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-09-12 10:50] ryankumar commented on #4807
Hiii.. i am totaly new in DRM multimedia. i want some downloadable clearkey source code for learning purpose. And i have beagolbond and Dragonboard for impleament. so please send me some link to start a better.
any response is acceptable.
Thanks in advance for your suggestion.