[2018-12-02 09:53] #5150 closed, assigned to andrewlewis

[2018-12-02 14:50] ojw28 commented on #5182
I think the buffer probably is being filled as intended, but that the position is being reported incorrectly. I'm also fairly sure it was fixed in 2.9.1. The corresponding line in the release notes is:

If you still see this behavior in 2.9.1 or later, please let us know! Marking as a duplicate of #4899

[2018-12-02 14:50] #5182 closed, assigned to ojw28

[2018-12-02 17:06] oahmedazab opened #5183 "[Question] get notified when AdaptiveSelection change track"
I have question about how to get notified that video track is changed when using adaptive selection
thanks

[2018-12-02 21:43] talklittle opened #5184 "OkHttp extension 2.9.2 missing from jcenter"
### Issue description
https://jcenter.bintray.com/com/google/android/exoplayer/extension-okhttp/ shows up to 2.9.1 but missing 2.9.2.

Other artifacts (core and extensions) have 2.9.2, for example https://jcenter.bintray.com/com/google/android/exoplayer/extension-cast/2.9.2/

### Reproduction steps
Add dependency `implementation 'com.google.android.exoplayer:extension-okhttp:2.9.2'`

### Version o

[2018-12-03 04:39] ojw28 commented on #5184
Thanks for letting us know. This should now be fixed.

[2018-12-03 04:39] #5184 closed, assigned to ojw28

[2018-12-03 06:16] ankitkhare commented on #5169
Here is the bug report.

[bugreport-dangal-OPM1.171019.011-2018-12-03-11-41-34.zip](https://github.com/google/ExoPlayer/files/2638274/bugreport-dangal-OPM1.171019.011-2018-12-03-11-41-34.zip)

[2018-12-03 08:25] zhangabvc commented on #5154
@ojw28

 it reports com.google.android.exoplayer2.ext.ffmpeg does not exist
How to do?

![000000](https://user-images.githubusercontent.com/44994911/49361893-1a75be80-f718-11e8-909f-df89876cf509.jpg)

[2018-12-03 09:06] tonihei commented on #5177
Yes, gladly! If you want to give it a go.

Maybe not. This tag wouldn't end up in the Timeline (as all the other tags do) and thus it would only be confusing to have it there.

[2018-12-03 09:16] andrewlewis commented on #5154
That added a dependency from library-core to the extension which creates a circular dependency. You need to revert that then do the same thing from your app code. Please read the documentation on [dependencies](https://developer.android.com/studio/build/dependencies). We can't give detailed guidance on general Android development issues I'm afraid, so please ask on Stack Overflow or similar if you

[2018-12-03 09:31] andrewlewis commented on #5183
Please see #4971.

[2018-12-03 09:31] #5183 closed, assigned to andrewlewis

[2018-12-03 09:45] adrixgc commented on #5134
Question should be closed since the release was performed. Thanks

[2018-12-03 09:47] #5134 closed, assigned to tonihei

[2018-12-03 09:49] satyres commented on #4548
Hi , Thanks for all your work
but the problem for AAC has not been fixed.
the duration and seeking are not working.
in 2.9.0 and 2.9.2
please is there something we can do ?
Regards

[2018-12-03 10:00] BrainCrumbz commented on #5177
Regarding the PR, so are we agreeing to add an `Object getTag();` method to `MediaSource` interface? Implementation should be in `BaseMediaSource`. `CompositeMediaSource` and similar will always return *null* to such getter.

[2018-12-03 10:10] AquilesCanta commented on #4021
Hi @tehokang, this falls outside the scope of this issue tracker. I'd look into the [microsoft docs](https://docs.microsoft.com/en-us/playready/packaging/mp4-based-formats-supported-by-playready-clients?tabs=case4) for this.

[2018-12-03 10:14] tonihei commented on #5177
`@Nullable Object getTag();`  in fact.

Implementations can't be in BaseMediaSource I think because the respective tag is only available in the actual MediaSource subclass implementation.

That's not strictly true either, because composite media source which just forward to a single internal media source (e.g. `ClippingMediaSource`) can and should return the tag of the inner source. But yes, for c

[2018-12-03 10:27] zhangabvc commented on #5154
library/core/build.gradle add " implementation project(':extension-ffmpeg')"

It Still failed. Where is wrong？

Circular dependency between the following tasks:
:extension-ffmpeg:generateDebugRFile
+--- :extension-ffmpeg:generateDebugRFile (*)
\--- :library-core:generateDebugRFile
     +--- :extension-ffmpeg:generateDebugRFile (*)
     \--- :library-core:generateDebugRFile (*)

(*) - details omitt

[2018-12-03 10:33] tonihei commented on #5003
Will investigate this week. Got one of the devices now.

[2018-12-03 10:36] BrainCrumbz commented on #5177
Correct in code. Our bad in copy-pasting here.

* `ExtractorMediaSource`, `DashMediaSource`, `HlsMediaSource`, `SsMediaSource` already have a private field. Here is just a matter of moving private field as protected to `BaseMediaSource`

* `SingleSampleMediaSource` hasn't got that field, but has the input parameter. The protected field in `BaseMediaSource` seems unharmful to this class

* `DummyMe

[2018-12-03 10:50] okycelt commented on #5003
Great, thanks a lot.

[2018-12-03 10:53] tonihei commented on #5177
Yes, it's possible to have the tag in `BaseMediaSource`. However, if we do go down this route, the usage has to be unambiguous and impossible to get wrong. That is, the tag should be set in the constructor of `BaseMediaSource` and the getter must be the only access point (that is, no protected access). The tag must also be forwarded through `CompositeMediaSource` in this case (see below for the ca

[2018-12-03 10:55] andrewlewis commented on #5181
Before API 23 we can't keep the video decoder active when it loses its output surface, so I think what's happening here is that when the view comes back on screen we are setting a new surface and the player is showing the next keyframe, which means that the output position skips forward. The player position can also skip forward even from API 23 (by a single frame or up to a keyframe on certain de

[2018-12-03 10:55] #5181 closed, assigned to andrewlewis

[2018-12-03 11:02] andrewlewis commented on #5179
Tentatively marking as an enhancement to expose events but @marcbaechinger can advise if there's already a way to do this.

[2018-12-03 11:24] andrewlewis commented on #5180
Looks like the content is the same as the stream @AquilesCanta tested in the (off-topic) comments in #5005. I tested the stream and saw the same thing: the player transitions to the ENDED state as expected.

Can you reproduce the issue in the (unmodified) demo app?

[2018-12-03 11:38] oahmedazab commented on #5183
Thank you 👍

[2018-12-03 11:42] BrainCrumbz commented on #5177
In the end I think we're agreeing with your first proposal, i.e. do **not** move field & implementation to `BaseMediaSource`. It seems cleaner instead to have a specific implementation (and field when needed) for each derived class. The price is some duplication of a very simple getter in some classes, but that seems a good compromise to us.

Re. `FakeMediaSource`, ok, but we're missing how to get

[2018-12-03 11:47] Naguchennai opened #5185 "How can i change Notification Ui?"
How can i change Notification Ui?
after watching thisw video https://www.youtube.com/watch?v=svdq1BWl4r8
how can i design or change notification ui?

[2018-12-03 12:00] BrainCrumbz commented on #5173
Thank you, will try that and report about it

All this is due to [this issue/comment](https://github.com/google/ExoPlayer/issues/4853#issuecomment-423476700).

Regarding a previous open question, whether things changed based on clip length (as opposed to clip pixel resolution), we're going to post are our results here in a short time.

[2018-12-03 12:12] tonihei commented on #5177
Doesn't "Build->Make project" in Android Studio build everything except tests?
For the tests, I know no other way except right-click on the test project and "Run tests...". Should be sufficient to check if the tests in the core module are fine.

[2018-12-03 13:57] droidwave commented on #867
ExoPlayer in RecyclerView, First we have to write a  custom component for ExoPlayer. Get a sample app and source code here (Complete Solution )
https://androidwave.com/exoplayer-in-recyclerview-in-android/

[2018-12-03 13:58] tonihei commented on #5177
Sorry, forgot that :)
I has something like `timeline.isEmpty ? null : timeline.getWindow(/* windowIndex= */ 0, newWindow()).tag` in mind.

[2018-12-03 14:00] BrainCrumbz commented on #5173
Here's the outcome from some test samples we used. They all stem from the same initial clip (1080p) and are all MP4. They've been re-encoded to generate 720p clips, as well as being cut in order to achieve different time lengths:

### Scenarios

| Row | Video resolution (px height) | Video bitrate (kbps) | Length (s) | File size (Mbytes) | Result |
| --- | --- | --- | --- | --- | --- |
| 1 | 720p

[2018-12-03 14:20] andrewlewis commented on #5173
Are rows 3 and 4 encoded with the exact same parameters? I think it's possible that the difference between passing/failing cases could be something like the profile/level used, especially the maximum number of reference frames. You may be able to get somewhere by configuring your encoder to a particular Profile/Level and tweaking parameters. I am still not sure how the clip duration could affect t

[2018-12-03 14:20] #5173 closed, assigned to andrewlewis

[2018-12-03 14:24] levz commented on #5136
@jandresakis

No, SimpleCache stays the same.

But you will need to clone DownloadManager with changes that will 1) create a new SimpleCache folder for every download 2) delete cache folder (related to the specific download) from disk when necessary.
And you will have to clone DownloadService to make it work with cloned DownloadManager.

[2018-12-03 14:35] tipoc123 opened #5186 "no video, only audio (ts files)"
### Issue description
Exoplayer plays audio, but no video (black screen).

### Link to test content
http://stand.netup.tv/downloads/T1515_SD.ts
http://stand.netup.tv/downloads/T1515_HD.ts
Please wait while the exoplayer starts to play video. The bug is reproduced on both links.

### Version of ExoPlayer being used
2.9.1

### Device(s) and version(s) of Android being used
STB GIEC MP1113 (chip Amlo

[2018-12-03 14:53] BrainCrumbz commented on #5177
PR has been created, I guess any further feedback should go there.

[2018-12-03 15:47] ojw28 commented on #4548
Are you using the `FLAG_ENABLE_CONSTANT_BITRATE_SEEKING` as mentioned as being required further up this thread? Please see [this faq](https://google.github.io/ExoPlayer/faqs.html#why-are-some-media-files-not-seekable) for information on how to use it.

I'm not going to re-open this issue because it does not contain the information requested in the issue template (e.g. a sample file so we know exac

[2018-12-03 16:02] ojw28 commented on #5177
Reading this thread, I'm a little confused about what use case the proposal is actually trying to solve. What's wrong with the existing API (i.e. `player.getCurrentTimeline().getWindow(itemIndex, new Window()).tag`)? I understand the tag is not immediately available via this API, but I can't find anything in this thread explaining a use case for which this is a problem. The logging example isn't o

[2018-12-03 17:23] jandresakis commented on #5136
@levz  thanks for the info. @ojw28 are there currently any plans to do what levs is speaking of? I would like to avoid refactoring/copying and private classes in the exo library if possible to avoid maintaining something that you will provide in the future any way.

[2018-12-03 17:25] ojw28 commented on #5136
We're planning to simply not write the cache index to disk on key removal (because it's not actually necessary to do so). This should happen pretty soon (e.g. before the end of the year).

[2018-12-03 17:27] BrainCrumbz commented on #5173
BTW, re. question on low memory on device, this is the state of memory after `seekTo` on back player completes, upon the last `onTimelineChanged` event fired from player:

[code]

where *device* is calculated through `activityManager#getMemoryInfo`, and *app heap* is calculated through `Runtime#getRuntime` (as in https://stackoverflow.com/questions/3170691/how-to-get-current-memory-usage-in-androi

[2018-12-03 17:35] BrainCrumbz commented on #5177
Very briefly: to get a "meaningful" list of data/metadata/info for each item currently found in the playlist, whether is currently playing or not, having only a reference to the ConcatenatingMediaSource around.

[2018-12-03 18:05] erdemguven commented on #5185
Could you be more specific about your question.? Do you mean player notifications or download notifications?

[2018-12-03 18:31] erdemguven commented on #5186
I tried both streams and I got no video or audio.
[code]
This is from shared log files:
[code]
@AquilesCanta could you look at this.

[2018-12-03 20:32] ojw28 commented on #5177
The description above more or less just describes what the pull request implements. What I'm after is a description of what you'd actually use the functionality for, and an explicit description of why it cannot be built on top of the existing API (not having a reference to the player probably doesn't count, since you could presumably get hold of one).

Without understanding the actual purpose, it'

[2018-12-04 03:31] bbincybbaby opened #5188 "Playing Content Uri in Exoplayer 2.8.2, works only first time"
Am trimming a video using FFMPEG library, and playing the video using exoplayer. The trimmed video Uri is a content Uri. When i tried to play the video it works perfectly on first time. After first play and clicking on play button after first button am getting this error below.

Am using Exoplayer 2.8.2

[code]

[code]

[2018-12-04 03:35] bbincybbaby commented on #5188
@ojw28 please can you help me out ?

[2018-12-04 03:51] tuesda opened #5189 "Video can not be play normally before 4s, and the audio is normal."
Version: 2.9.2
device: Samsung note 9

This video's picture is blocked until 4s, and the audio is play normally.

video:
[lnl2iM0zEZBBNgCOGSIGJWatulMf.mp4.zip](https://github.com/google/ExoPlayer/files/2642324/lnl2iM0zEZBBNgCOGSIGJWatulMf.mp4.zip)

[2018-12-04 04:57] DKillWorld commented on #5117
I have a media app, that used foreground service. And only O and Pie devices were killing service. What I was doing wrong is I stop foreground service once the playback is paused via notification and reenabling it once playback starts. But actually after pausing foreground service, it never come back in foreground state even with same notification passed. And after 5 mins approx, system kills serv

[2018-12-04 05:03] HighA opened #5190 "issue updating playernotificationmanager"
### Issue description
I use PlayerNotificationManager to create the notification used to control my exoplayer based app, which plays an online stream. But of course the notification don't update itself when the current title changes, as it is a stream. Using invalidate(), I managed to manually force the update of the current tile in the notification. But I don't understand why, the large icon does

[2018-12-04 05:59] saiday commented on #5013
@erdemguven Is there anything I can help?

[2018-12-04 06:05] ojw28 commented on #5013
The change above makes the solution complete. There is no possibility of this functionality being included in a 2.9.x release. It will be in 2.10.0, for which there is not currently an ETA.

[2018-12-04 06:05] #5013 closed, assigned to erdemguven

[2018-12-04 06:09] saiday commented on #5013
@ojw28 I appreciated your time and effort, will waiting for the release.

[2018-12-04 08:56] BrainCrumbz commented on #5177
I understand you owners are looking for more info, that's fine. What I find harder to understand is why you're asking this *after* having said "yes please go on with PR". We'd have much preferred if you posed all needed questions ahead of time, not after. We're all working on something I'm sure, and it's disappointing when you see time wasted. Please next time make sure an external proposal passes

[2018-12-04 09:06] Gensoukyou1337 opened #5191 "[Question] What's the best way to implement seamless manual switching for HLS streams?"
I've read issue #676 in which the Exoplayer team said they had no immediate plans to implement seamless manual switching between HLS video tracks, so I decided to look into the source code to figure out a workaround for that.

Right now, I settled for clamping the bitrate estimate of my custom implementation of the BandwidthMeter, introducing both a floor limit and a ceiling limit, so as to force

[2018-12-04 09:20] Rhuagh opened #5192 "[Question] Output multiple subtitle tracks simultaneously"
We have a use case where we want to be able to output multiple subtitle tracks at the same time (stacking). Is this possible with exoplayer, and how would be go about doing this if so?

We have a working implementation of doing this in an HTML5 player, and we're currently evaluating if we should use that in a webview or if we should use exoplayer instead.

[2018-12-04 09:42] #5118 closed, assigned to marcbaechinger

[2018-12-04 09:53] zhangabvc commented on #5154
@andrewlewis @ojw28

[2018-12-04 10:09] ohenepee commented on #3353
@andrewlewis Any progress?

[2018-12-04 11:11] AquilesCanta commented on #5186
Please see our [FAQs](https://google.github.io/ExoPlayer/faqs.html#why-do-some-mpeg-ts-files-fail-to-play).

[2018-12-04 11:11] #5186 closed, assigned to AquilesCanta

[2018-12-04 11:19] meenukrishnamurthy opened #5193 "Simplify encryption and decryption of downloaded content"
I am facing a issue while encryption and decryption of offline video.I am using the download manager and download tracker to download the offline video like in the demo app.
My code is as follows:
[code]
I call the above method while creating the datasource factory
[code]
I call the method buildDataSourceFactoryCache in initdownload manager,
[code]
My download does not take place it shows as downl

[2018-12-04 11:44] utack commented on #3353
Android Support is coming in Android Q
https://www.youtube.com/watch?v=iTC3mfe0DwE&t=13m40s

[2018-12-04 14:21] tipoc123 opened #5194 "Play EVENT playlist from the beggining"
How can I play HLS EVENT playlist from the beginning (not third chunk from the end)? What class should I modify?

[2018-12-04 14:34] tipoc123 commented on #5186
Thanks. It's working with FLAG_ALLOW_NON_IDR_KEYFRAMES.

How can I set this flag also for HLS streams? Is it possible?

[2018-12-04 15:02] AquilesCanta commented on #5186
Yes, have a look at ExoPlayer V2.9.1's DefaultHlsExtractorFactory's constructors and inject it using the HlsMediaSource.Builder.

[2018-12-04 15:07] AquilesCanta commented on #5194
The easiest way would be to include a [EXT-X-START](https://tools.ietf.org/html/rfc8216#section-4.3.5.2) tag server-side. Otherwise, you might want to inject a custom parser or playlist tracker that does this for you client-side.

[2018-12-04 15:07] #5194 closed, assigned to AquilesCanta

[2018-12-04 15:28] tonihei commented on #5177
Even though we are working on the same project, we may have different opinions on matters :) It's not always possible to discuss all proposals with all team members in detail before giving advice.

And back to the topic:

I think this change goes in the right direction, even if it not fully addresses the problems in #5155 (point 4 only).

To improve the situation described in #5155, it would be ne

[2018-12-04 15:30] tipoc123 opened #5195 "Video freezes (but audio continue playing)"
### Issue description
Video freezes at 00:24. I've recorded this moment - https://yadi.sk/i/0dl088vxwNxD5w. Audio plays successfully all the time (before and after freeze's moment).

Logcat shows the next messages during freezing:
12-04 18:29:27.133 W/SoftAAC2(15602): aacDecoder_DecodeFrame decoderErr = 0x4004
12-04 18:29:27.133 W/SoftAAC2(15602): AAC decoder returned error 0x4004, substituting si

[2018-12-04 15:46] zettyfactory opened #5196 "Audio only rtsp , use branch ExoPlayer-dev-v2-rtsp"
I am testing rtps with the demonstration app of ExoPlayer-dev-v2-rtsp branch
All of the URLs in the demo will work fine.
Ex) rtsp: //213.58.156.180/live/ch00_0

However, the url I added is not executed.
ex) rtsp://115.68.15.116/efm,
rtsp://live.febc.or.kr/LiveFm

One thing in common is the radio with audio data only.
In other apps, everything is a well-executed url.

What is the problem? I need he

[2018-12-04 15:53] ojw28 commented on #5177
+1 to what Toni said. It's pretty much impossible to always get this right. This is true even when a single developer works in isolation (I think we've all started work on a change that we think is a great idea, only to stop later, think about what we're actually doing, and abandon the idea :)). Obviously it only gets worse as the project gets larger. It's our job to manage that and minimize waste

[2018-12-04 16:08] tipoc123 commented on #5194
Yes, EXT-X-START is a good feature. It has helped us.

[2018-12-04 16:21] BrainCrumbz commented on #5177
Say we have a dictionary/map with *all* my track metadata, accessed by track ID/name: `Map<String, MyMetaData>`. And in our case *all* means all tracks known and managed at any time by our multimedia app, they're stored locally.

Then, at some point during application lifetime, we have a player prepared with a playlist, and such playlist holds a subset of all tracks, just those currently needed in

[2018-12-04 16:30] erdemguven commented on #5188
Please share a sample video.

Does the error occur when you play the video using ExoPlayer Demo app?

[2018-12-04 16:40] ojw28 commented on #5177
Yes; thanks! Approximately speaking, it sounds like my assumption about the app already having a data structure that mirrors the `ConcatenatingMediaSource` is just not correct. Thanks for answering my annoying questions. Proceed ;).

[2018-12-04 17:08] erdemguven commented on #5189
This is reproducible on the demo app. Looks like video starts with the frame at about 4s and doesn't progress until 4s. It plays fine on VLC.

@ojw28 could you looks at this?

[2018-12-04 17:11] ojw28 commented on #5189
I'm going to guess this is edit list related.

[2018-12-04 17:23] BrainCrumbz commented on #5177
Keep 'em going (at the right time 😝 )

[2018-12-04 18:01] andrewlewis commented on #5189
This looks like a duplicate of #1659.

[2018-12-04 18:01] #5189 closed, assigned to andrewlewis

[2018-12-04 19:11] karandeep26 opened #5197 "How to finish DownloadService when all downloads are completed?"

[2018-12-04 19:17] #5197 closed, assigned to nobody

[2018-12-04 19:49] TroyStopera commented on #5175
I followed your advice and put some debug print statements in those methods. It turns out that we were using `H264Reader.packetStarted(Long, Boolean)` incorrectly. We were passing a timestamp, which was increased with each successive packet, but it turns out we needed to start at 0 rather than the actual timestamp of the video. Once we did this the video began playing correctly.
##### For future p

[2018-12-04 19:49] #5175 closed, assigned to andrewlewis

[2018-12-04 20:30] Vitamin-B commented on #2659
Hi, I implemented my own version of AudioProcessor.
How do I notify the player of the state change in AudioProcessor (active -> true)?
The player doesn't pick it up automatically. It only picks it up if I change a playback speed, which does make the player re-check for active AudioProcessor-s.

[2018-12-04 21:23] juechemparathy commented on #5182
LGTM with 2.9.1. Thanks.

[2018-12-04 23:11] paf-wv commented on #5129
Hi there we are asking the service folks to take a look as well.
However why are multiple provisioning requests required?
The main use case is processioning should happen only once per device per app per factory reset.

[2018-12-05 03:24] Romantic-LiXuefeng opened #5198 "Ts format can't get duration and the audio track is not supported."
This is reproducible with this
 uri : http://video.a045.ottcn.com/ftp_upload/data/video/hdhbzsj100300409.ts

[2018-12-05 05:56] #5188 closed, assigned to erdemguven

[2018-12-05 09:32] tonihei commented on #5191
This is a duplicate of #2250.

Such a feature is not currently supported out-of-the-box, but you can implement your own `TrackSelection` (similar to the existing `AdaptiveTrackSelection`) which filters the tracks dynamically. Please be aware that the track selection methods are called on the internal playback thread and you'll need to have some kind of synchronization or message passing to update

[2018-12-05 09:32] #5191 closed, assigned to tonihei

[2018-12-05 09:54] PaulWoitaschek commented on #5092
It has a severe bug.
I set `setAudioAttributes` with `handleAudioFocus` set to `false`.
After an incoming phonecall, the audio starts playing loud.

[2018-12-05 09:57] tonihei commented on #5092
Can you add some context and explain what happens exactly? If it's not the same issue as above, it may be worth starting a new issue.

[2018-12-05 10:51] davibe opened #5199 "Specific video takes ~ minutes to start on Samsung S8"
Video url: https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8

Opening this video with Samsung S8 (Android 8) results takes a lot of time before the video plays.
Tested with exoplayer release 2.9.2 and 2.6.1

Additionally, opening the video with a Samsung tab S2 works fine but it does not detect/show any subtitle track

Others devices i tested randoml

[2018-12-05 12:58] tipoc123 opened #5200 "print renderers"
How to print renderer's classes to output?

I'm using ffmpeg extension and want to know is FfmpegAudioRenderer actually used?

[2018-12-05 13:02] tipoc123 commented on #5200
I only see such information (but it's not enough):
[code]

[2018-12-05 14:49] cyrillrx commented on #5145
Hi,

We experience the same issue since we migrated from ExoPlayer v2.8.4 to v2.9.1.

The problem occurs on several devices: Samsung Galaxy J5, Honor 5X, Xiaomi Redmi 4A, Amazon Fire Stick.

In the case of the Amazon Fire Stick, the problem is that "decoder.isCodecSupported(format.codecs)" returns false

decoder.name = "OMX.google.aac.decoder"
decoder.mimeType = "audio/mp4a-latm"
format.codecs = "

[2018-12-05 15:01] ojw28 commented on #5092
That's proabbly a duplicate of https://github.com/google/ExoPlayer/issues/3923 (which has nothing to do with audio focus; it's about the stream volume resetting after a phone call).

[2018-12-05 15:02] andrewlewis commented on #5145
@cyrillrx I think this might be caused by 80f5b7e7b2743e6b51b1f9b2b2d4343c7f57cbeb, which added a check on the `CodecProfileLevel`s reported by the decoder for audio. Either capabilities are being underreported (we have seen this for video decoders too) or the profile/level check is buggy. It would be interesting to see what capabilities are reported on these devices (`MediaCodecInfo.getProfileLev

[2018-12-05 15:06] PaulWoitaschek commented on #5092
Looks like. As you can't fix it maybe you should add a warning that one shoudn't change the volume using exoplayer on post Android Q at all?

Setting the audio volume up after a user explicitly muted is very disturbing to the user.

[2018-12-05 16:50] gerardiandrea commented on #5145
I confirm that even on my devices (Samsung A3 with Android 6.0, Samsung S3 Neo Android 4.4.2) I have no problems with the version ExoPlayer v2.8.4

[2018-12-05 17:09] erdemguven commented on #5192
It's possible but you need to modify some of the library classes.
You need to create multiple TextRenderers and TextViews.
There are couple of ways to enable multiple TextRenderers at the same time:
- Tweak MappingTrackSelector.
- Define a new track type (TRACK_TYPE_TEXT_SECONDARY) and make sure the content has this type.

Alternative content side recommendation:
- Merge text tracks.

[2018-12-05 17:55] erdemguven commented on #5195
I tried the media on exoplayer demo app on Android 7 and VLC.
On both the video doesn't freeze but gets corrupted.
Also on android I saw decoderErr line.
I'll try on a Android 6.0.1 device.

[2018-12-05 17:58] erdemguven commented on #5196
RTSP is not officially supported. Adding support is tracked by #55

[2018-12-05 17:58] #5196 closed, assigned to erdemguven

[2018-12-05 18:05] erdemguven commented on #5198
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-12-05 18:26] erdemguven commented on #5200
The number next to 'Renderer:' is the order of the renderer in renderers list which is created by RenderersFactory.
If you're using DefaultRenderersFactory and set extensionRendererMode
- EXTENSION_RENDERER_MODE_ON then FfmpegAudioRenderer is probably "Renderer: 2"
- EXTENSION_RENDERER_MODE_PREFER then FfmpegAudioRenderer is probably "Renderer: 1"
To make sure you can put a breakpoint in DefaultRe

[2018-12-05 19:04] tipoc123 commented on #5200
[code]

It's very strange. I've built ffmpeg extension and using extensionRendererMode = EXTENSION_RENDERER_MODE_PREFER in your demo's PlayerActivity.

[2018-12-05 19:07] tipoc123 commented on #5200
I print list OUT at the end of buildAudioRenderers() method.

[2018-12-05 21:15] ojw28 commented on #5199
This is an Apple server configuration/certificate issue. I think behavior varies by Android version because they check the certificate(s) to a differing degree? In any case, this is a duplicate of
See https://github.com/google/ExoPlayer/issues/5103#issuecomment-440322017.

[2018-12-05 21:15] #5199 closed, assigned to ojw28

[2018-12-05 21:26] ojw28 opened #5202 "Replace Apple HLS/TS/AAC test streams in demo app"
Apple seem to have a certificate issue (see https://github.com/google/ExoPlayer/issues/5103#issuecomment-440322017). More generally, it would be good to host samples ourselves, so that we can fix them if there's a server-side problem.

We should generate some equivalent HLS/TS/AAC test streams based on Big Buck Bunny or similar, and use these to replace the Apple ones. Does anyone want to voluntee

[2018-12-05 22:15] consp1racy opened #5203 "Yet another OMX.amlogic.avc.decoder.awesome seek issue after ENDED"
### Issue description
The exact same thing as here https://github.com/google/ExoPlayer/issues/2120 happens on another device.

### Reproduction steps
1. Start MP4 playback with repeating enabled.
2. Turn off repeating.
3. Wait for video to finish.
4. Turn on repeating.

Video should start playing automatically from the beginning. Instead the output is stuck on last frame.

### Link to test content

[2018-12-06 02:48] zhangabvc commented on #5154
Where did I go wrong, or what step did I do?

[2018-12-06 05:59] ankitkhare commented on #5169
@andrewlewis @ojw28 Can you guys please have a look at this?

[2018-12-06 07:00] ojw28 commented on #5168
`CachedContentIndex` serves multiple roles:
* Storing metadata associated with each key, such as the content length (of the entire piece of content; so this is different to the size of the cached file(s) unless the content is fully cached) and the URI after redirection. This metadata is used in `CacheDataSource`.
* The mapping of id to key provides the ability to encrypt the content keys, although

[2018-12-06 07:33] Romantic-LiXuefeng commented on #5198
@erdemguven  Thanks!
I used the release-v2 branch. The issue is as described by the title.  which can reproducible with this uri : http://video.a045.ottcn.com/ftp_upload/data/video/hdhbzsj100300409.ts.

Now I use the extension FFmpeg audio decoder, we can play the audio . but I still can't duration  even I increase the `TsDurationReader.DURATION_READ_PACKETS` as described in
Support seeking for a

[2018-12-06 08:04] zhangabvc opened #5204 "ffmpeg extension support for exoplayer. But cannot play audio-format-mpeg2 video."
Exoplayer successfully loaded ffmpeg, but the audio format mpeg2 still has no sound.
Why?

![1](https://user-images.githubusercontent.com/44994911/49569707-a7668500-f96f-11e8-9c01-45a687c0ce3f.jpg)
![2](https://user-images.githubusercontent.com/44994911/49569710-aafa0c00-f96f-11e8-919b-71d4402ee4aa.jpg)
[abv1206-2.txt](https://github.com/google/ExoPlayer/files/2652168/abv1206-2.txt)

[mylib.zip](h

[2018-12-06 08:06] zhangabvc commented on #5204
The process of generating the library, please see this url https://github.com/google/ExoPlayer/issues/5154#

[2018-12-06 08:48] #5177 closed, assigned to tonihei

[2018-12-06 08:57] andrewlewis commented on #5154
It sounds like you got this to work in the end (see #5204).

[2018-12-06 09:01] andrewlewis commented on #5204
See the [supported formats](https://google.github.io/ExoPlayer/supported-formats.html#ffmpeg-extension) documentation.

[2018-12-06 09:20] gvidda opened #5205 "decoderInfosCache issue in MediaCodecUtil"
### Issue description
In our stream-logs we see quite a few errors regarding decoder initialization with the cause DecoderQueryException for mimeType "video/avc" (both DRM and free media).

According to the docs for MediaCodecUtil.DecoderQueryException: "Thrown when an error occurs querying the device for its underlying media capabilities. Such failures are not expected in normal operation and are

[2018-12-06 09:30] Rhuagh commented on #5192
Can you show any number of cues simultaneously if you merge the text tracks, or is there a limitation (except for screen space)?

[2018-12-06 09:31] zhangabvc commented on #5204
The audio format is MPEG Audio layer1/2(mpga).  https://google.github.io/ExoPlayer/supported-formats.html#ffmpeg-extension

I know from this website （I know from this website that this player supports this audio format）that this player supports this audio format. Why not ?

![11111111111111111](https://user-images.githubusercontent.com/44994911/49574721-00d4b100-f97c-11e8-9987-8d9f8d50dba0.jpg)

!

[2018-12-06 11:12] tipoc123 commented on #5195
Have you tried our media on Android 6.0.1 device?

[2018-12-06 11:14] MongeziNombewu opened #5206 "onRenderedFirstFrame not called after ad track change"
### Issue description
When playing an ad (IMA), the **onTracksChanged()** from Player.EventListener and **onRenderedFirstFrame()** from VideoListener are called at the start of the ad. This behaviour is expected as it's a new period, but for some reason when the ad runs it's course and the following video content is started, only **onTracksChanged()** is called and not **onRenderedFirstFrame()**.

[2018-12-06 13:31] tipoc123 opened #5207 "exoplayer version"
How to programmatically find out version of exoplayer?

[2018-12-06 13:39] AquilesCanta commented on #5207
Have a look at the [ExoPlayerLibraryInfo](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayerLibraryInfo.html) class.

[2018-12-06 13:39] #5207 closed, assigned to AquilesCanta

[2018-12-06 14:26] surajm14 commented on #5108
Thanks Santiago and Oliver for last time quick response, we had to make lot
of changes to upgrade to new version 2.6.1

After enabling the flag, below is description of problem - Is it anything
to do with Chunk Count as the stream comes from Wowza in HLS protocol and
H.264 codec

An early help would be highly appreciated as our customers are stuck

*Problem:*

  Stream is stopping after playing on

[2018-12-06 14:39] AquilesCanta commented on #5108
Can you please file a new issue including all the information required in the issue template? Please don't skip any items.

[2018-12-06 15:01] tipoc123 opened #5208 "checker-compat-qual"
Where can I download checker-compat-qual's sources? My project doesn't compile because of it.

I'm using exoplayer from source (not from gradle). We cannot use gradle.

checker-framework-2.5.8 contains checker-qual, no checker-compat-qual.

[2018-12-06 15:02] tipoc123 commented on #5208
For example, TrackSelectorResult uses:
[code]

[2018-12-06 15:04] tipoc123 commented on #5208
I've downloaded https://checkerframework.org/checker-framework-2.5.8.zip

[2018-12-06 18:45] levz opened #5209 "Allow ad loaders to time out custom ad loading"
//Version
2.8.0

// Source code
I prepare AdPlaybackState as follows:
[code]
//Description

I have noticed that if AdPlaybackState is set with a number of ads then AdsMediaSource stops at their position (ExoPlayer state == buffering) and goes nowhere, even though ad uris have not been set and ad count in ad groups have not been set.

Is this the desgined behaviour? And is there a simple way to mak

[2018-12-06 19:11] levz commented on #5209
And one more thing (might be related to the main question)

Lets say we have a post roll ad group with ad count = 1 and uri set to empty string.

If I sit and watch video to the end I can see that:
1) onPositionDiscontinuity() reason=3 happens (ad starts)
2) ad fails to play (AdsLoader.handlePrepareError() is called because of empty ad uri)
3) ExoPlayer state becomes ENDED signalling that AdsMedia

[2018-12-06 22:14] satyres commented on #4548
Hi ojw28,
Thanks so much for your reply.
enabling FLAG_ENABLE_CONSTANT_BITRATE_SEEKING   did it , and it's working.
but not on all AAC files ,if you want i will send you a file to test on it.
Best regards

[2018-12-07 00:24] tipoc123 commented on #5195
?

Currently, it's the last problem with our streams and we are all in great expectation.

[2018-12-07 02:31] zhangabvc commented on #5204
@andrewlewis  @ojw28

[2018-12-07 06:22] vinayjoglekar opened #5211 "Support playlists of offline DRM protected content"
**Issue description**
Does exoplayer have support to play offline DRM content using ConcatenatingMediaSource? Currently I am able to play single media offline which is DRM protected using :
`drmSessionManager?.setMode(DefaultDrmSessionManager.MODE_PLAYBACK, license.keySetIdBytes)`

**Version of ExoPlayer being used**
2.9.1

[2018-12-07 06:59] zhangabvc opened #5212 "MPEG Audio layer1/2(mpga)"
If Exoplayer add  ffmpeg-extension , Whether to support this format （MPEG Audio layer1/2(mpga)）

![11111111111111111](https://user-images.githubusercontent.com/44994911/49632452-b2cdb500-fa30-11e8-8ba1-0397bbd00d4f.jpg)

[2018-12-07 07:29] meenukrishnamurthy opened #5213 "Subtitle trackname issue"
I am using the latest exoplayer library.For versions below nougat(API 24) the subtitle track name is not being displayed.It shows as "und". The tracks are available and being loaded correctly but the name is not being displayed.Is there a fix for this issue.

I have checked for API 23 and API 21.The issues is there in both the versions

[2018-12-07 07:57] liungkejin commented on #3738
I have the same problem in Oppo R9tm Android 5.1 (MTK) phone!

[2018-12-07 08:18] JiannaiJ opened #5214 "Playing Some HLS Playback failed."
### Issue description
Some HLS video plays normally, while some HLS video cannot play. Video is processed by FFMPEG, and the computer verifies that the play is normal. VideoView and IJKPLAYER can play normally, but Exo cannot play. HLS source video is AVC + aac-lc + 2 Menu.

### Reproduction steps
Use Demo App to add an HLS video url.

### Link to test content
NONE

### Version of ExoPlayer being

[2018-12-07 09:58] andrewlewis commented on #5204
Please could you provide a link to the stream you're trying to play?

[2018-12-07 09:58] andrewlewis commented on #5212
Duplicate of #5204

[2018-12-07 09:58] #5212 closed, assigned to nobody

[2018-12-07 10:11] zhangabvc commented on #5204
@andrewlewis

[noaudio.zip](https://github.com/google/ExoPlayer/files/2656785/noaudio.zip)

[2018-12-07 12:09] AquilesCanta commented on #5214
There is not much we can do without a sample stream. Make your you try setting FLAG_ALLOW_NON_IDR_KEYFRAMES (see #5108 for instructions on how to do it).

[2018-12-07 12:09] #5214 closed, assigned to AquilesCanta

[2018-12-07 12:27] NgWaiKong commented on #5168
Actually, when the CacheSpan update triggers the  CachedContentIndex 's store( ) , and the function is time-consuming, and because the data stream is synchronized, which increases the time-consuming of data transfer throughout the playback process. Cached Content Index Store takes 10 ms to 50 ms (on Nexus 6) at a time. Are there any plans for optimization? Such as limiting the update time of store

[2018-12-07 12:39] RadhikaBalla opened #5215 "FULL HD HLS Stream error"
**Problem:**
      Stream is getting stopped after playing one frame and giving following error in android logcat in case of HD HLS Streams. But for SD(720p,360p) streams it is working fine.

Android Error in logcat:  E/ACodec: [OMX.google.h264.decoder] setPortMode on output to DynamicANWBuffer failed w/ err -1010

**Exoplayer code:**
            bandwidthMeter = new DefaultBandwidthMeter();

[2018-12-07 12:40] andrewlewis commented on #5209
The short answer is no. We rely on an explicit signal from the loader that the ad group is not available (`adPlaybackState.withAdLoadError(adGroupIndex, adIndexInAdGroup)`) rather than skipping automatically. You probably need to track the player position (like the IMA SDK does) and update the ad playback state at the point where you are sure there won't be an ad.

Regarding buffering at the postr

[2018-12-07 13:18] AquilesCanta commented on #5215
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-12-07 13:18] #5215 closed, assigned to AquilesCanta

[2018-12-07 14:20] andrewlewis commented on #5204
The audio plays fine via `FfmpegAudioRenderer` when I follow the instructions in the README and include the argument to configure you've highlighted in the screenshot above, so I'm closing the issue.

If you still can't get it to work I suggest (1) try following the steps in the README very carefully using the ExoPlayer demo app (not your app, to eliminate the possibility of buggy configuration th

[2018-12-07 14:20] #5204 closed, assigned to andrewlewis

[2018-12-07 14:23] levz commented on #5209
Hello Andrew, thanks for looking into this!

Yes, it becomes tricky while seeking, because you don't know what user will seek for. So it would be great to have a setting that can be used to turn ads on\off easily if necessary. Just a suggestion for enhancement.

As for buffering, I mistakenly specified player version as 2.8.0 in the first post. I actually was on 2.8.4
Now I have retested with late

[2018-12-07 14:33] andrewlewis commented on #5209
Regarding 'timing out' ad breaks: I agree this makes sense as an enhancement for certain use cases (where the ad policy doesn't need to explicitly control the circumstances under which no ad is shown) but we likely won't have time to look at it for a while. For seeking I'd expect the loader to listen for position discontinuities events from the player as well as tracking its position.

I'll mark t

[2018-12-07 14:53] avevanja commented on #5153
thanks expansion file work in my case

[2018-12-07 14:54] mseroczynski commented on #4519
@ojw28 I've had some time to figure this issue out, I've described more details in PR's description:
https://github.com/google/ExoPlayer/pull/5216

I'd be really grateful for some information on when I can count on merging, because we are temporarily building our app with local fixes.

[2018-12-07 15:19] levz commented on #5209
I think now I get it - I do not provide updated AdPlaybackState when postroll ends. Hence it never gets to ENDED state.

But problem is - I have no way to track ad ending for postroll:
1) ENDED does not appear for the reasons you mentioned above
2) onPositionDiscontinuity() is not called because there is nothing else to play after postroll

It is the same also for preroll: onPositionDiscontinuity(

[2018-12-07 17:20] brunoluizcs opened #5217 "android.media.MediaDrmResetException: mediaserver died Motorola Moto G5 Plus"
### Issue description
When I try reproduce Dash Protected content in Device Moto G(5) Plus with Android 8.1.0, I get the follow Exception

[code]

### Reproduction steps
We reproduce the problem in the demo application, I sent the bug report and instructions on how to play our content to dev.exoplayer@gmail.com
just play the content for the problem to happen

### Version of ExoPlayer being used
I

[2018-12-07 19:40] natario1 commented on #4990
@erdemguven could you please tell me if my understanding is correct - one could write the custom `DataSink`,  pass it to a `DownloaderConstructorHelper` that is used to construct a `DownloadManager`, and request a download using the download service.

In this case, as I see,
- There is no need to worry about data being streamed before the data preceding it
- There is no need to use `TeeDataSource`

[2018-12-07 21:47] rajeshghosh1978 commented on #5174
Is there any option to detect connected HDCP version for ANdroid API level 19

[2018-12-08 01:32] JiannaiJ commented on #5214
@AquilesCanta  FLAG_ALLOW_NON_IDR_KEYFRAMES has been set up.

[2018-12-08 01:41] JiannaiJ commented on #5214
@AquilesCanta  FLAG_IGNORE_AAC_STREAM can play without sound,  FLAG_ALLOW_NON_IDR_KEYFRAMES  can't play.

[2018-12-08 07:03] pawaom opened #5218 "change exoplayer speed for certain duration of video in Android"
o change exoplayer speed we use player.setPlaybackParameters

this changes speed , but how can we set speed only for certain duration

the code that I have used is

[code]
and

[code]
but the speed doesnot change when its between 100000 and 200000

[2018-12-08 07:27] sathishkumar1392 opened #5219 "ExoPlayerImplInternal: Playback error"
I have two screen A and B screen when playing video in A screen went to Screen B again come back screen A that time i got this i paste full bug report.
[code]

[2018-12-08 08:29] jmimohsin opened #5220 "How can I play .php video file?"
Hi,

I would like to play url like http://13.233.200.191/jio/m3u8.php?c=Six_HD&q=400&e=.m3u8

But this is not working in latest version or 2.8 version. Is it possible to play in Exoplayer?

Thanks in advance.

[2018-12-08 16:32] natario1 opened #5221 "[Question] How to crop video that goes beyond some aspect ratio bounds?"
I have the requirement that videos should be cropped to not exceed some minimum aspect ratio (say 9:16) and some maximum aspect ratio (say 16:9).

I am not familiar with the source and am wondering what is the efficient solution to this.
As I see it the first thing is to set `videoComponent.videoScalingMode = C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING` which I have done.

The second thing wou

[2018-12-08 20:17] natario1 opened #5222 "First frame is drawn as full screen - onRenderedFirstFrame not reliable"
### Tldr
The first video frame should be drawn when the video dimensions are applied to the surface, **or at least** `onRenderedFirstFrame` should be reliable in hiding this wrong sized frame.

### Issue description
The first video frame is distortedly drawn over the whole match_parent surface, before `AspectRatioFrameLayout.setAspectRatio()` is called (so way before it is remeasured, surface recr

[2018-12-09 03:26] ojw28 commented on #5205
I don't really understand this issue. A `DecoderQueryException` being thrown and `getDecoderInfosInternal()` returning an empty array are mutually exclusive. If `decoderInfosCache()` returns the empty array then that's not an error case, and it's correct that it would be cached. If `DecoderQueryException` is thrown then I don't think anything is cached. Please clarify.

[2018-12-09 03:38] ojw28 commented on #5168
Yes, we plan to reduce the cases where `store()` is called, and also optimize it to be faster for the remaining cases.

[2018-12-09 07:17] saipsa commented on #4352
Facing the same issue exoplayer version 2.9.1
This is the top cause of ANRs in my app

Affected android versions 8.0,8.1,9.0
Affected devices from crash clusters of play console.

One (A0001) | 5 | 29.4%
-- | -- | --
Nokia 6.1 Plus (DRG_sprout) | 3 | 17.6%
OnePlus3T (OnePlus3T) | 2 | 11.8%
V30 (joan) | 2 | 11.8%
Others | 5 | 29.4%

DROID Turbo 2 (kinzie) | 4 | 13.8%
-- | -- | --
Moto E4 (perry_f)

[2018-12-09 11:16] AndroidDeveloperLB commented on #5221
Isn't this a good solution: `app:resize_mode="zoom"`
?

[2018-12-09 11:35] natario1 commented on #5221
@AndroidDeveloperLB if I had a fixed aspect ratio like 1:1, I could set the frame to that ratio and use `resize_mode="zoom"`, I think?

But I have a minRatio and maxRatio, so the final aspect depends on the video. I want `AspectRatioFrameLayout` to take this coerced value directly instead of waiting for my call, because while waiting, it will draw the full video for a few frames and that is notice

[2018-12-09 11:42] AndroidDeveloperLB commented on #5221
I don't know. Thought maybe it could help you.
Maybe given the aspect ratio that you got, and the limitations you want to apply, you could set the size of the SurfaceView to what it should be, and the "zoom" will suffice.

It's too bad there are only a few ways to set the scaling, and there is no way to overcome the need to use any kind of View (for example, to be used on Live Wallpaper app).

[2018-12-09 12:09] MurtadhaS opened #5223 "Metadata isn't shown on Samsung devices lock screen"
Hello,
So, I am trying to implement a music player, but on Samsung I am getting Unknown Unknown as a track name and artist name.
First, I thought the issue of metadata was solved here:
https://github.com/google/ExoPlayer/issues/4292
But, after digging in, I found this issue :
https://github.com/google/ExoPlayer/issues/4356
With a direction from one of the contributors saying:

 **We've added the i

[2018-12-09 12:33] AndroidDeveloperLB commented on #5138
I got this issue too, today.
Attached sample:

[ExoPlayerTest.zip](https://github.com/google/ExoPlayer/files/2660508/ExoPlayerTest.zip)

Any idea why this could happen?

Tested on Pixel 2 with Android P.
Attached bug report file.

[bugreport-walleye-PQ1A.181205.002-2018-12-09-14-28-44.zip](https://github.com/google/ExoPlayer/files/2660516/bugreport-walleye-PQ1A.181205.002-2018-12-09-14-28-44.zip)

[2018-12-09 12:43] AndroidDeveloperLB commented on #5138
When changing to version 2.8.4 of ExoPlayer (and changing the URL, as I got it wrong, to this:  https://sample-videos.com/video123/mkv/720/big_buck_bunny_720p_1mb.mkv ) , it works fine.

Please fix this issue.

Attached the fixed version of the project:

[ExoPlayerTest.zip](https://github.com/google/ExoPlayer/files/2660523/ExoPlayerTest.zip)

[2018-12-09 12:48] AndroidDeveloperLB commented on #4650
Wrote this question here:

https://stackoverflow.com/questions/53692452/how-to-download-a-video-while-playing-it-using-exoplayer

[2018-12-09 15:40] mayankgrover opened #5224 "[Question] how to fetch uri for mediasource dynamically just before playing it"
Hi,

I am trying to play a playlist using ConcatenatingMediaSource (everything is HLS audio stream). Problem is the way our legacy backend server system is constructed is that when a user wants to play a playlist, for each song it sends url which the app needs to hit to get the actual url that is valid only for the next 10 seconds. So if I have 5 songs, each 1 min long, then while calling player.p

[2018-12-09 17:08] ojw28 commented on #4548
Please send a test file to `dev.exoplayer@gmail.com`, and respond here to indicate that you've done so. Thanks!

[2018-12-09 17:10] ojw28 commented on #5220
I don't think there's such a thing as a ".php video file". The link you've provided does not work for me either. Please provide a working link to some test content if you want us to investigate further.

[2018-12-09 18:30] ojw28 commented on #5138
From 2.9.0, you need to add the following to the `android` section of the app's `build.gradle` file:
[code]
as per the release notes and latest [developer guide](https://google.github.io/ExoPlayer/guide.html#adding-exoplayer-as-a-dependency). Doing this resolves the issue (you probably need to sync and clean the project after adding this).

Aside: It's pretty unfortunate the failure mode is so obs

[2018-12-09 18:30] #5138 closed, assigned to marcbaechinger

[2018-12-09 18:52] ojw28 commented on #5218
Calling `setPlaybackParameters` is the right thing to be doing. If you call it when you want playback to change speed, then that should work. So I'm guessing your code just doesn't do that correctly. I don't know what `PlayerTimer` is. I don't think it's part of the ExoPlayer codebase. One thing I would note is that I suspect it repeatedly calls `setPlaybackParameters` on every tick (whatever a ti

[2018-12-09 18:52] #5218 closed, assigned to ojw28

[2018-12-09 18:55] ojw28 commented on #5219
Please properly fill in the issue template, providing all of the requested information. There's nothing we can do to investigate the issue without more complete information.

If I had to guess, I suspect you're failing to release player instances, and then a subsequent player is unable to obtain a video codec as a result of other instances holding on to them.

[2018-12-09 19:11] ojw28 commented on #5211
I don't think we have a great solution for this currently. As you note, you can only restore one `keySetId` into the `DrmSessionManager`.

[2018-12-09 19:21] giladna commented on #5202
@ojw28

We can provide folder with downloaded content + the  relative m3u8

does it work for you?

Gilad.

[2018-12-09 19:28] noamtamim commented on #5202
@ojw28 in addition to the content generated by Kaltura that @giladna will provide, do you know if Apple's test streams are copyrighted? Maybe we can just download the entire sample and host it on Google.

[2018-12-09 19:47] ojw28 commented on #5217
@paf-wv - Please take a look.

[2018-12-09 19:55] kmansoft opened #5225 "Repositories down / Failed to resolve dependency"
### Issue description

As of a few hours ago, my builds are failing to find exoplayer 2.8+ (I also tried 2.9+, no difference) in Google repository. Never seen that before, always worked fine.

### Reproduction steps

It's an Android gradle project.

Relevant lines:

[code]
Output:

[code]
### Link to test content

I am able to reproduce with demos/main if I edit its build.gradle like this:

[code]

[2018-12-09 20:06] Jokaerro commented on #5225
Seems like this repos excluded
https://jcenter.bintray.com/com/google/android/exoplayer/

[2018-12-09 20:08] ojw28 commented on #5225
Bintray seem to have stopped mirroring `exoplayer-core` and `exoplayer-dash` to JCenter, which is why they don't appear as folders in the link above. I'm not sure why that happened; I've asked them to start mirroring them again.

[2018-12-09 20:41] AndroidDeveloperLB commented on #5138
@ojw28 Now it says it can't find the repository:

[2018-12-09 20:53] erdemguven commented on #5213
Please provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please submit the issue, then email the link to
dev.exoplayer@gmail.com using a subject in the format "Issue #1234".

[2018-12-09 21:01] AndroidDeveloperLB commented on #5138
@ojw28 Now it says it can't find the repository:

ERROR: Failed to resolve: com.google.android.exoplayer:exoplayer-core:2.9.0

See attached video and sample project.
[ExoPlayerTest.zip](https://github.com/google/ExoPlayer/files/2660992/ExoPlayerTest.zip)
[Uploading 2018-12-09_23-00-52.zip…]()

I tried to invalidate cache and rebuild. Didn't work.

[2018-12-09 21:02] ojw28 commented on #5138
See https://github.com/google/ExoPlayer/issues/5225.

[2018-12-09 21:11] JcMinarro commented on #5225
I'm having the same problem.
Any workaround meanwhile?

[2018-12-09 21:13] Jokaerro commented on #5225
You may clone the repo locally and put it in dependencies
https://github.com/google/ExoPlayer#locally

[2018-12-09 21:15] knollori commented on #5225
Hey any update when the repos will be back up?

[2018-12-09 21:17] AndroidDeveloperLB commented on #5138
@ojw28 So no solution for this?
Or will it get fixed by itself some day soon?

[2018-12-09 21:24] erdemguven commented on #5208
Have you followed the steps in https://google.github.io/ExoPlayer/guide.html#getting-started? Dependency should be resolved automatically.

[2018-12-09 21:25] sergiocasero commented on #5225
Same issue here :(

[2018-12-09 21:58] erdemguven commented on #5206
onRenderedFirstFrame is called when a frame is rendered for the first time since setting the surface, and when a frame is rendered for the first time since the renderer was reset. A renderer reset can occur for various reasons like resolution change or video skipped. So if when ad is skipped onRenderedFirstFrame is called but if switching between ad and following video doesn't require renderer res

[2018-12-09 21:58] #5206 closed, assigned to erdemguven

[2018-12-09 22:04] erdemguven commented on #5192
There is no limit defined for the maximum number of cues to be displayed simultaneously.

[2018-12-09 22:07] erdemguven commented on #5198
@AquilesCanta please look at this.

[2018-12-09 22:07] erdemguven commented on #5198
I can repeat the issue on latest development branch.

[2018-12-09 22:14] erdemguven commented on #5200
Sorry, I just noticed the "renderer: 2" is subtitle renderer not audio as the mime type is cea608.

Looks like ffmpeg extension isn't added successfully. Please make sure you followed the instructions here: https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg

[2018-12-09 23:00] Josepdal commented on #5225
Same... I cannot install Facebook ads not even with ExoPlayer#locally

[2018-12-09 23:35] X-Kent commented on #5225
Hell. Wanted to switch from MediaPlayer to exoplayer. Added dependencies. Got errors about missing core. Spent two hours to find out that it seems the error is not on my side.

Edit:
r2.2.0 seems to work for now

[2018-12-10 00:36] guy244 opened #5226 "Issues with cast extension and live HLS streams"
Hey, I'm trying the implement cast support to my app, when I use normal non live links such as MP4 and even HLS non live stream it works perfectly but, when I use live stream the stream just won't play at the chromecast.

This is how I create my MediaInfo:
[code]
This is how I load the items:
`                castPlayer.loadItem(new MediaQueueItem.Builder(setCastMedia()).build(), 0);
`

This is th

[2018-12-10 01:35] jmatsu commented on #5225
Google ExoPlayer namespace on bintray is still active so the following workaround works for me.

[code]

[2018-12-10 01:45] jarrodrobins commented on #5225
Thanks @jmatsu, your workaround has worked for me.

Well that was a waste of two hours.

[2018-12-10 04:20] kambizira opened #5227 "Failed to resolve: com.google.android.exoplayer:exoplayer-core:2.6.0"
Hello. when i want to add this library to my project , these messages are shown:
[code]
I use this line to add ExoPlayer to my project:

`implementation 'com.google.android.exoplayer:exoplayer:2.6.0'`

why these errors are shown? I am not able to sync my project. Thanks.

[2018-12-10 04:25] vinayagasundar commented on #5227
Duplicate of #5225
@kambizira Please check it there

[2018-12-10 05:31] sharoonck commented on #5227
in build.gradle  (project:projectname)
add this

allprojects {
    repositories {
        google()
        jcenter()
        maven {
            url 'https://google.bintray.com/exoplayer/'
        }
    }
}

this solv my problem

[2018-12-10 05:32] tishion commented on #5175
@TroyStopera  I have a question for implementation of Extractor, you said you used H264Reader but I don't know how to construct the H264Reader instance. Where to get the SeiReader?

[2018-12-10 06:05] zhangabvc commented on #5204
I developed it on this this original . ExoPlayer demo app（2.9）. I move  extensions\ffmpeg  to libarary/core/src.
Then modify the code

![image](https://user-images.githubusercontent.com/44994911/49713520-071ca300-fc84-11e8-8ab8-70b784fb787e.png)

After modification
![image](https://user-images.githubusercontent.com/44994911/49713551-2ca9ac80-fc84-11e8-9b25-7f0e4358ab82.png)

The result appears to

[2018-12-10 06:27] PatilManoj1717 opened #5228 "Failed to resolve - com.google.android.exoplayer:exoplayer-core:2.8.3"
Failed to resolve: com.google.android.exoplayer:exoplayer-core:2.8.3
Install Repository and sync project
Open File
Show in Project Structure dialog

Failed to resolve: com.google.android.exoplayer:exoplayer-dash:2.8.3
Install Repository and sync project
Open File
Show in Project Structure dialog

[2018-12-10 06:27] PatilManoj1717 opened #5229 "Failed to resolve - com.google.android.exoplayer:exoplayer-core:2.8.3 & exoplayer-dash:2.8.3"
Failed to resolve: com.google.android.exoplayer:exoplayer-core:2.8.3
Install Repository and sync project
Open File
Show in Project Structure dialog

Failed to resolve: com.google.android.exoplayer:exoplayer-dash:2.8.3
Install Repository and sync project
Open File
Show in Project Structure dialog

[2018-12-10 06:30] PatilManoj1717 commented on #5229
Here is my app & main project gradle file

apply plugin: 'com.android.application'

android {

    compileOptions {
        targetCompatibility JavaVersion.VERSION_1_8
    }

    signingConfigs {
        release {
        }
    }
    compileSdkVersion 26
    defaultConfig {
        minSdkVersion 21
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"
        testInstrumentat

[2018-12-10 06:30] #5229 closed, assigned to nobody

[2018-12-10 06:34] meenukrishnamurthy commented on #5213
The subtitle track is not in the media url.I receive the subtitle urls seperately Before the playback i embed it to the media source using merging media source.I am providing the sample code as below
[code]

[2018-12-10 06:49] PatilManoj1717 commented on #5225
Added -

maven {
        url 'https://google.bintray.com/exoplayer/'
    }

but still not working

[2018-12-10 06:51] vrublevskys commented on #5225
Yes, not working for me too

[2018-12-10 07:03] anhlevfx commented on #5180
Hello, I sent you email 5 days ago. In this email I have some new information and test link for you.

[2018-12-10 07:11] killeriukas commented on #5225
Still failing - can't use Facebook Audience Network.

Failed to fetch the following dependencies:
com.google.android.exoplayer:exoplayer-core:+
com.google.android.exoplayer:exoplayer-dash:+

Resolve failed due to com.google.android.exoplayer:exoplayer-core:r2.4.2 missing for com.facebook.android:audience-network-sdk:5.1.0, attempted to use com.google.android.exoplayer:exoplayer-core:r2.4.2, failed

[2018-12-10 07:13] anhlevfx commented on #5180
Hello, I test it again with the demo app and It worked, but the ads tag I use to tested is google sample ads tag. In the case I figure out  this issue I use another ads tag and I sent an email with more information for you. Please check it and let me know If you have new information

[2018-12-10 07:17] PatilManoj1717 commented on #5225
Finally worked..

add above url to project-level gradle file in following section (**allprojects-repositories**-)

allprojects {
    repositories {
        google()
        jcenter()
        maven {
            url 'https://google.bintray.com/exoplayer/'
        }
    }
}

[2018-12-10 07:23] PatilManoj1717 commented on #5229
Finally solved by adding dependance via maven in project level gradle file

allprojects {
    repositories {
        google()
        jcenter()
        maven {
            url 'https://google.bintray.com/exoplayer/'
        }
    }
}

[2018-12-10 07:24] killeriukas commented on #5225
Exoplayer is a dependency for my Facebook Audience Network. I cannot change the repo. It's Unity play services resolver. That's my package:

[code]

[2018-12-10 07:33] sathishkumar1392 commented on #5219
### Issue description
I have two screen A and B

Screen A : video preview  screen
Screen B : Video Trimmer screen

Note: playing video is recorded from phone camera.

when playing video in A screen went to Screen B again.
Doing video trim in screen B.Come back  to screen A playing trimmed video in screen A.doing  this continuously three time.
When i'm doing third time and comeback to screen A i'm

[2018-12-10 07:58] nambv commented on #5228
I meet this problem too, but I haven't add exoplayer gradle dependences in my project yet. Can you take a look?

[2018-12-10 08:11] gejiashu opened #5230 "Video can't play in some phone,use exoplayer 2.8.1"
[code]

[2018-12-10 08:27] KimiChiu commented on #5228
Same here. Some of the ad network sdks uses these libraries in my app.
But then it starts showing this error after I upgraded to gradle plugin 3.2.1.

[2018-12-10 08:29] nambv commented on #5228
I used facebook sdk audience network in my project, too

@PatilManoj1717 @KimiChiu solved by adding:

```maven { url 'https://google.bintray.com/exoplayer/' }```

into repositories:

[code]

[2018-12-10 08:34] KimiChiu commented on #5228
@nambv Great! This works too. `maven { url 'http://repo.spring.io/libs-release/' }`
Found it from here, [https://mvnrepository.com/artifact/com.google.android.exoplayer/exoplayer/2.8.3](https://mvnrepository.com/artifact/com.google.android.exoplayer/exoplayer/2.8.3)

[2018-12-10 08:47] ojw28 commented on #5228
Duplicate of #5225

[2018-12-10 08:47] #5228 closed, assigned to ojw28

[2018-12-10 08:47] ojw28 commented on #5227
Duplicate of #5225

[2018-12-10 08:47] #5227 closed, assigned to ojw28

[2018-12-10 08:58] ojw28 commented on #5225
We have asked Bintray to restore the missing projects. In the meantime, adding:
[code]
to
[code]
in the project gradle file should serve as a temporary workaround for most use cases. I'm not sure about the Facebook Audience Network one.

Note: Please refrain from posting non-helpful comments such as "me too" on this thread; it just makes it harder for people to find the actual useful comments. Tha

[2018-12-10 09:02] AndroidDeveloperLB commented on #5225
@ojw28 Will this work even in the future?

[2018-12-10 09:08] Tolriq commented on #5225
Since it's under official Google account can't this be now pushed to the Google Maven repository to avoid such issues? It's now officially supported by Gradle and most people already use it too.

[2018-12-10 09:13] AndroidDeveloperLB commented on #5225
Why mark my comment as spam?!
Which part of the question is spam?!

[2018-12-10 09:18] davidsoendoro commented on #5225
I add an alternative repo as a temporary solution and it works while we are waiting for the jcenter repo to up again:
[code]

Just make sure the alternative repo is before the jcenter so it is prioritized. Hope it helps.

[2018-12-10 09:20] LightSun commented on #3752
I'd want to know how to seek and preview real-time. Thanks.

[2018-12-10 09:32] ojw28 commented on #5225
I agree this is probably the best longer term solution for us. It'll probably require some changes to our release process though, so getting Bintray to restore the missing projects is going to be the short term fix.

[2018-12-10 09:39] AndroidDeveloperLB commented on #5225
@ojw28 Will this workaround work even in the future?
Can I safely use it in the long term?

[2018-12-10 09:40] tonihei commented on #5218
You can also use something like this to let ExoPlayer handle the timing for you:
[code]

[2018-12-10 09:40] ojw28 commented on #5225
The workaround will be unnecessary as soon as the issue is fixed. If you choose to leave it in your gradle file regardless, I doubt it'd do any harm.

[2018-12-10 09:44] ojw28 commented on #3752
@drjunja86 - There is no update on this currently, sorry.

[2018-12-10 09:47] ojw28 commented on #5198
@AquilesCanta - For the duration part, this is probably a duplicate of https://github.com/google/ExoPlayer/issues/5097. It can likely be worked around by making the `TIMESTAMP_SEARCH_BYTES` constant in `TsDurationReader` even larger. Although to what extent that's a good idea I'm not sure...

[2018-12-10 09:58] Tolriq commented on #5225
As a quick side note, only add repositories that you trust :) There's no signing or anything for libraries, and if you add a unknown repository you can end up with compromised code.

[2018-12-10 09:59] tonihei commented on #5224
That sounds almost exactly like the question asked here: #3661.

You should probably provide the non-expiring urls to the playlist and use your own `DataSource` wrapper which resolves the url each time the player wants to load something.

[2018-12-10 09:59] #5224 closed, assigned to tonihei

[2018-12-10 10:04] AliceZhuZhu opened #5231 "Type 'com.google.android.exoplayer2.upstream.TransferListener' does not have type parameters"
![7e41c66e-0959-414b-86fa-81976f4d15ed](https://user-images.githubusercontent.com/36066123/49725146-009f2300-fca6-11e8-93e9-b3f42e211106.png)

[2018-12-10 10:06] AliceZhuZhu commented on #5231
`implementation 'com.google.android.exoplayer:extension-okhttp:2.9.2'`

and

`allprojects {
    repositories {
        google()
        jcenter()
        maven {
            url 'https://google.bintray.com/exoplayer/'
        }
    }
}`

[2018-12-10 10:07] tonihei commented on #5231
That's correct, it really doesn't have the type parameter any more. It got removed in 2.9.

[2018-12-10 10:08] tonihei commented on #5231
There's also no need to provide a TransferListener to the data source any more, see this [blog post](https://medium.com/google-exoplayer/https-medium-com-google-exoplayer-simplified-bandwidth-meter-usage-17d8189f978b) for details.

[2018-12-10 10:09] #5231 closed, assigned to tonihei

[2018-12-10 10:28] mayankgrover commented on #5224
Thanks @tonihei. you are correct, the use case sounds very similar. will give that solution a shot. Much appreciated.

[2018-12-10 11:12] stepango commented on #5225
Is this issue related
https://stackoverflow.com/questions/53704155/could-not-find-com-google-gmsgoogle-services4-0-1 ?

[2018-12-10 11:15] tipoc123 commented on #5195
Any news about this issue? It's very important for us.

[2018-12-10 11:30] AndroidDeveloperLB commented on #5225
@ojw28 The workaround doesn't work for me. See attached video and sample project.

[2018-12-10_13-28-23.zip](https://github.com/google/ExoPlayer/files/2662946/2018-12-10_13-28-23.zip)
[ExoPlayerTest.zip](https://github.com/google/ExoPlayer/files/2662947/ExoPlayerTest.zip)

[2018-12-10 11:40] erdemguven commented on #5193
One major mistake is you didn't give a buffer to AesCipherDataSink which makes CacheDataSource return encrypted data on the first read. I noticed it's quite hard to get this code right. I'll do some improvements on the library but for now here is a working code with ExoPlayer Demo app.

[code]

[2018-12-10 12:01] vkgyl2432 commented on #5225
@ojw28 any update from bintry about restoration of the missing repos(resolution of the issue)?

[2018-12-10 12:05] Naguchennai opened #5232 "MediaSessionConnector - How can i get next button clicked"
mediaSession = new MediaSessionCompat(context, "audio_demo");
        mediaSession.setActive(true);
        playerNotificationManager.setMediaSessionToken(mediaSession.getSessionToken());
        mediasessionconector = new MediaSessionConnector(mediaSession);
        mediasessionconector.setPlayer(player, null);

In audio streaming on notification how can get call back if click next or privies but

[2018-12-10 12:07] Naguchennai commented on #5185
need more info???  i understand.. so its not possible ... u must be say straight answer...

[2018-12-10 12:35] ojw28 commented on #5225
@AndroidDeveloperLB The workaround has worked in your case, because your project is resolving the dependency. You're hitting a different issue, the solution for which is already described in #5138.

[2018-12-10 12:51] AndroidDeveloperLB commented on #5225
@ojw28 Haha, I went back to the original issue I had before...
Sorry about that. Now it works fine.
Can you please add in the logs a better clue about the solution, though?

[2018-12-10 13:37] ojw28 commented on #5225
Also from that issue:

[2018-12-10 13:39] AndroidDeveloperLB commented on #5225
@ojw28 Well it occurs even if the entire project is in Kotlin... So it's weird that I have to add Java related stuff...
Sorry for that, again.

[2018-12-10 13:43] LeBronoMars commented on #5225
I was able to fix the issue with my `exoplayer`.  Thanks! but now i'm facing this issue with `FlexBox`

`Failed to resolve: com.google.android:flexbox:0.3.2`

[2018-12-10 13:45] ojw28 commented on #5225
`FlexBox` is unrelated to ExoPlayer (although if they also distribute via Bintray then it's possible they're encountering the same underlying issue).

[2018-12-10 13:46] Josepdal commented on #5225
It's working for me now.

[2018-12-10 14:01] ojw28 commented on #5222
Thanks for the detailed description.

I think we should not consider this case. The solution is to have a shutter. The threading model of the underlying platform makes it difficult to avoid needing one.

The ordering when using `PlayerView` is:

1. `onVideoSizeChanged` is called. `AspectRatioFrameLayout.requestLayout` is called, which calls `requestLayout`, which should post a layout pass.
1. `onR

[2018-12-10 14:23] kmansoft commented on #5225
https://jcenter.bintray.com/com/google/android/exoplayer/

worked for a while (had -core and -dash but not others like -hsl and so on).

But now is down again.

[code]

Maybe they've decided to fully rebuild the mirror... Hopefully...

Meanwhile

https://google.bintray.com/exoplayer/

still works.

[2018-12-10 15:21] natario1 commented on #5222
Maybe the fact that `ARFL` is remeasured, does not mean that the underlying Surface is synchronously resized ?

It is very hard for me to provide a patch to demo app, this flicker happens when entering a fragment with enter transitions, shared element transition (which the player is not a part of). The fragment hierarchy is Coordinator -> FrameLayout -> PlayerView, plus siblings, with no special c

[2018-12-10 15:22] asos-savvasdalkitsis opened #5233 "All JCenter artifacts are missing"
Similar to https://github.com/google/ExoPlayer/issues/5184

All exoplayer artifacts are missing from JCenter. Is this planned or an accident?

Should we be using the google bintray directly from now on?

[2018-12-10 15:33] asos-savvasdalkitsis commented on #5233
As it turns out, it looks like a ton of artifacts were delisted from JCenter. android tools was one of them as well.

[2018-12-10 15:39] alexgerv commented on #5129
Hi @paf-wv, in our case, we found the issue being caused by side-effect of the changes in `DataSpec`
 in 2.9 ref: https://github.com/google/ExoPlayer/commit/d3686cf8a2fe4e959ed4e900bda5927b9eec5a88 . We have fixed our implementation by forcing an empty body for the provisioning requests, which then ensures the request will go out as a `POST` instead of a `GET`.

[2018-12-10 15:49] RootSoft opened #5234 "android.support.annotation does not exist"
I cloned ExoPlayer locally and added the modules to my existing project using my settings.gradle.

[code]

Whenever I try to build the project, I receive the following build error:

These happen for all ```@NonNull``` and ```@Nullable``` annotations in the ExoPlayer modules.

**build.gradle**

[code]
**gradle.properties**
[code]

**Top-level build.gradle**
[code]

[2018-12-10 15:52] #5233 closed, assigned to nobody

[2018-12-10 15:52] asos-savvasdalkitsis commented on #5233
dupe of https://github.com/google/ExoPlayer/issues/5225

[2018-12-10 16:04] ojw28 commented on #5129
So that was basically an application specific issue, right? @juechemparathy - Are you sure your issue isn't similar?

[2018-12-10 16:35] ojw28 commented on #5234
Does your own project's root gradle file specify the google repository, like [here](https://github.com/google/ExoPlayer/blob/r2.9.2/build.gradle#L35) (and possibly also [here](https://github.com/google/ExoPlayer/blob/r2.9.2/build.gradle#L16))? I think it needs to.

[2018-12-10 16:43] RootSoft commented on #5234
I updated the original post with my top-level build.gradle file. The google repository is defined in both cases. I also tried it with a new, fresh project, it seems to have troubles with the Android Jetifier and AndroidX support. When I comment these out if a fresh, new project, I don't seem to have the issue.

[2018-12-10 16:52] ojw28 commented on #5222
It's somewhat tricky for us to do anything if we can't reproduce the problem (in an app we have source code access to; and preferably a simple one). It's also a little unclear whether this is an ExoPlayer issue, as opposed to an issue in the underlying view system that only occurs for your specific use case.

So I think we probably still need some more information for this issue to be actionable.

[2018-12-10 16:54] ojw28 commented on #5230
Please provide complete information as requested in the issue template. There is nothing we can do with the incomplete information provided here.

[2018-12-10 16:57] natario1 commented on #5222
Thank you, I will try to go deeper into this and get back to you.

[2018-12-10 16:57] ojw28 commented on #5234
Looking again, I don't really understand the first `build.gradle`. Shouldn't the dependencies at the bottom be in a
[code]
block?

[2018-12-10 17:45] jmimohsin commented on #5220
Hi,

Another one url is http://smumcdnems03.cdnsrv.jio.com/jiotv.live.cdn.jio.com/Ten_1/Ten_1.m3u8?jct=6xn8fjTQUCFOBO3GxeCrKQ&pxe=1548900873&st=EoMVarxgha7pTVhpmCYXcg

which have

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-STREAM-INF:PROGRAM-ID=1,CLOSED-CAPTIONS=NONE,BANDWIDTH=250000
Ten_1_250.m3u8
#EXT-X-STREAM-INF:PROGRAM-ID=1,CLOSED-CAPTIONS=NONE,BANDWIDTH=400000
Ten_1_400.m3u8
#EXT-X-STREAM-INF:PROGRAM-I

[2018-12-10 17:47] ojw28 commented on #5220
Those streams give an HTTP 451 response for me, probably because they're geo-restricted or require some form of authentication. That aside, these are HLS streams. They should just work if you build an `HlsMediaSource` and give it to the player.

[2018-12-10 17:56] jmimohsin commented on #5220
Hi,

I am using below code write now but not working...

[code]

Currently, I am using 2.8 version.

[2018-12-10 18:03] ojw28 commented on #5221
Currently, I would suspect this is the best (only?) viable approach.

We could easily do this, but how would you use it with `PlayerView`? The only way I can think of would be to provide a custom `exo_player_view.xml` layout, which would be a copy of the one we provide but with the `AspectRatioFrameLayout` replaced with your extending class. That seems pretty awkward (and you'd probably want to ke

[2018-12-10 18:13] ojw28 commented on #5220
You need to make sure that block of code is building the correct type of source is being built, which is `HlsMediaSource`, at least for the second case.

The code you've provided infers the type from the `uri` and `overrideExtension`. Most likely you're not providing an `overrideExtension`, and the `uri` has an unconventional file extension which is causing the wrong source to be built. For HLS st

[2018-12-10 18:28] natario1 commented on #5221
Hey @ojw28 , right, I am already using a custom xml layout so that seemed straight forward to me.

I would open the `AspectRatioFrameLayout` because
- What I need is get into the measuring process, and `AspectRatioFrameLayout` seems to be the responsible component, not the player
- Making it non-final would let us override onMeasure or any other method, giving us full control over the surface cont

[2018-12-10 18:42] jmimohsin commented on #5220
yes I just passing blank like this:-

[code]

[2018-12-10 19:20] ojw28 commented on #5221
I'm fine with either approach. I just want to make sure what we do actually solves your problem :). If making `AspectRatioFrameLayout` non-final is definitely enough for you, then we can just go ahead and do that.

[2018-12-10 19:29] ojw28 commented on #5220
So is the correct source being built or not? If it's not, you need to fix it somehow in your application code so that the correct source is built.

Note: In the completely general case we're aware that getting this right in application code may be tricky. Having ExoPlayer always detect the content type automatically is tracked by https://github.com/google/ExoPlayer/issues/3165, but is not seen as

[2018-12-10 20:10] noamtamim commented on #5225
More than 24 hours have passed since this was first reported, and still no fix?

CI builds are failing everywhere...

[2018-12-10 20:14] aaronbox opened #5235 "Exoplayer proxy/firewall question"
This is a question not an issue.

Does Exoplayer have to any network/ports open to properly work. We are trying to use this through a corporate firewall. When i have allow any/any on the player opens and the content works. When i switch the firewall back to restricted I dont see any requests to the firewall, but the content never loads.

[2018-12-10 20:17] ojw28 commented on #5235
I think for nearly all normal use cases, ExoPlayer is simply making regular http(s) requests the same as a web browser would. I don't think we have any special requirements.

[2018-12-10 20:25] ojw28 commented on #5225
As noted above, please refrain from posting non-helpful comments on this thread. It only serves to make the thread harder for others to follow. We've already stated multiple times we believe the root cause is with Bintray and that we've asked them to look at it. We've also made them aware that we're receiving a high volume of complaints.

[2018-12-10 21:17] ojw28 commented on #5225
Confirmed this is not ExoPlayer specific. The broader is being tracked [here](https://issuetracker.google.com/issues/120759347).

[2018-12-10 21:30] kesha-antonov commented on #5228
thanks!

[2018-12-10 23:17] ojw28 commented on #5192
As a bit of extra context:

The use case that we've normally seen this question come up is around forced vs optional subtitles. For example if there's a sci-fi film where an alien says something in their alien language, the corresponding subtitle should _always_ be shown (assuming it's intended that the viewer understand what's being said). Where-as when a human says something in a human language,

[2018-12-10 23:51] savvasdalkitsis commented on #5225
So I got a tweet from bintray claiming that it was Google that asked them to pull the binaries:

https://twitter.com/geeky_android/status/1072276765404487680?s=19

This is interesting and worrying...

[2018-12-11 00:30] savvasdalkitsis commented on #5225
Update from Google on the thread above:

[code]

https://issuetracker.google.com/issues/120759347#comment27

[2018-12-11 00:51] sabiou commented on #5228
Thanks ! got this issue after upgrading to Android Studio 3.3 preview

[2018-12-11 00:53] ojw28 commented on #5228
Please see the duplicate issue ref'd above.

[2018-12-11 03:51] jokermonn opened #5236 "Could not find com.google.android.exoplayer:exoplayer:2.8.2"
Could not resolve all files for configuration ':app:debugCompileClasspath'.

  Searched in the following locations:
      https://dl.google.com/dl/android/maven2/com/google/android/exoplayer/exoplayer/2.8.2/exoplayer-2.8.2.pom
      https://dl.google.com/dl/android/maven2/com/google/android/exoplayer/exoplayer/2.8.2/exoplayer-2.8.2.jar
      https://jcenter.bintray.com/com/google/android/exoplayer

[2018-12-11 04:07] LazyBonesLZ commented on #5236
the same 2.8.3

[2018-12-11 04:19] GotvApps commented on #5220
DefaultHttpDataSourceFactory httpDataSourceFactory = new DefaultHttpDataSourceFactory(
				userAgent,
				null,
				DefaultHttpDataSource.DEFAULT_CONNECT_TIMEOUT_MILLIS,
				DefaultHttpDataSource.DEFAULT_READ_TIMEOUT_MILLIS,
				true /* allowCrossProtocolRedirects */
		);

		dataSourceFactory = new DefaultDataSourceFactory(
				this,
				null,
				httpDataSourceFactory

		);

[2018-12-11 04:28] MarcusCwl commented on #5236
Same issue happend with 2.4.0
And also happend when dependence to Facebook-audience sdk

[2018-12-11 04:33] jokermonn commented on #5236
Duplicate of #5225

[2018-12-11 04:33] #5236 closed, assigned to nobody

[2018-12-11 07:00] JiannaiJ opened #5237 "How to play AAC 5.1 channel HLS ？"
HLS contains AAC 5.1 channel audio tracks, which cannot be played as long as the audio tracks are loaded. Is there any way for ExoPlayer to support it?

[2018-12-11 07:39] Rhuagh commented on #5192
That's a part of it, but we're basically building a frame accurate QA tool, that is used to verify that audio and subtitles are in sync with the video. One of the requirements is the ability to verify multiple audio/subtitle tracks simultaneously to save time.

[2018-12-11 07:48] kyungjoongo commented on #5225
compileOptions {
        sourceCompatibility 1.8
        targetCompatibility 1.8
    }

[2018-12-11 07:51] kyungjoongo commented on #5225
## app/build.gradle ##

android {
    //add here
    compileOptions {
        sourceCompatibility 1.8
        targetCompatibility 1.8
    }

}

[2018-12-11 08:14] RootSoft commented on #5234
@ojw28 They are in the ```dependencies``` block, something went wrong with c/p

[2018-12-11 08:18] mahdi302 opened #5238 "notificatonmanager"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-12-11 08:19] CharmingCheung opened #5239 "GVR extension crash on armeabi-v7a devices"
### Issue description

I recently upgraded ExoPlayer and Extension-gvr from r2.5.1 to 2.9.2, but I caught a lot of crash reports, all based on armeabi-v7a. I haven't changed the code for gvr-extension, but it actually crashes.

### Logcat

[code]

### Relevant lines:

[code]

and

[code]

### Version of ExoPlayer being used

- ExoPlayer:2.9.2
- ExoPlayer Extension-GVR:2.9.2

### Devices and versio

[2018-12-11 08:19] #5238 closed, assigned to nobody

[2018-12-11 08:33] sunnyadityaa commented on #4989
Issue was at our end in two places
1. Loading image to display, there was a lag
2. As @marcbaechinger  suggested we needed to keep the same instance

[2018-12-11 08:33] #4989 closed, assigned to marcbaechinger

[2018-12-11 08:45] gvidda commented on #5205
I think you're right, it's probably not the DecoderQueryException that's the problem.

I'll do a change in my checked out code with an extra check that the cached decoder isn't empty and test that for a few weeks in prod. To see if the error numbers improve for the better.

[2018-12-11 09:02] gejiashu commented on #5230
[bugreport-sailfish-PPR1.180610.009-2018-12-11-16-48-25.zip](https://github.com/google/ExoPlayer/files/2666743/bugreport-sailfish-PPR1.180610.009-2018-12-11-16-48-25.zip)
### Issue description

This video (video link: https://g.fp.ps.netease.com/easybuddy/file/5c0dec535e60275d6c8a4fe2Iw86iPiH) can't play on google pixle,But it can be played on the Android P simulator

### Reproduction steps

Play

[2018-12-11 09:04] Khang-NT opened #5240 "ArrayIndexOutOfBoundsException"
### Issue description
I see some crash reports:
[code]
_(index always = -1)_

Do you have any idea why it happen?
It maybe something wrong with my implementation, but I'm pretty sure that I access `ExoPlayer` instance and update `ConcatenatingMediaSource` in single thread. The stack trace is quite complicated to me to investigate, so please take a look.

### Reproduction steps
Can't.

### Link to

[2018-12-11 09:06] RootSoft commented on #5234
@ojw28 I just created a fresh, new project and have the same issue.

Android Studio 3.2.1

**build.gradle**
[code]

**settings.gradle**
[code]

**gradle.properties**
[code]

Whenever I **remove** the following from my ```gradle.properties``` file, it works fine:
[code]

[2018-12-11 09:55] ojw28 commented on #5205
Closing for now as it's therefore unclear what this is tracking. Please respond here if you discover something new. Thanks!

[2018-12-11 09:55] #5205 closed, assigned to ojw28

[2018-12-11 09:58] stefanwuest opened #5241 "Crashing video ; Fatal signal 11 (SIGSEGV) ; (MediaCodec_loop)"
### Issue description
I am using ExoPlayer with `react-native-video` and the application crashes when play a m3u8 stream. The behaviour is consistent regardless whether ExoPlayer or Android MediaPlayer is used. The behaviour is not happening on all devices. I can reproduce it on an Android Emulator — see device config below:

### Reproduction steps
Example with `react-native` and `react-native-vid

[2018-12-11 09:59] jmimohsin commented on #5220
For php type url LoopingMediaSource is working but for this one http://smumcdnems03.cdnsrv.jio.com/jiotv.live.cdn.jio.com/Ten_1/Ten_1.m3u8?jct=6xn8fjTQUCFOBO3GxeCrKQ&pxe=1548900873&st=EoMVarxgha7pTVhpmCYXcg

Nothing work till now.

[2018-12-11 10:07] ojw28 commented on #5237
I think I would expect this to just work. Please properly fill out the issue template if you want us to investigate further.

[2018-12-11 10:16] Khang-NT opened #5242 "StackOverflowError - CacheDataSource"
### Issue description
[code]

### Reproduction steps
It happen sometime, my app is using `CacheDataSource`. Can't reproduce.

### Link to test content
Not available.

### Version of ExoPlayer being used
`2.9.2`

### Device(s) and version(s) of Android being used
Android 8. OnePlus

[2018-12-11 10:19] tonihei commented on #5240
Can't see any issue with the code and it looks almost impossible that this should happen.

That's what I concluded from the stack trace:
- `ConcatenatedTimeline.getFirstWindowIndexByChildIndex` is called with the invalid index -1
- `AbstractConcatenatedTimeline.getPeriodByUid` gets the index from a call to `ConcatenatedTimeline.getChildIndexByChildUid` which may return -1 but only if the uid is no

[2018-12-11 11:18] ojw28 commented on #5225
The following packages are available again:
[code]
We have pending requests to Bintray to re-add the remaining 7 packages, so hopefully they will become available soon.

For those who are interested, there is a basic outline of what happened [here](https://issuetracker.google.com/issues/120759347#comment30). I'm concerned that it happened, but more so that it took such a long period of time to roo

[2018-12-11 11:23] needz opened #5243 "Amazon Firestick 4K (AFTMM) freezes on MPEG TS stream"
### Issue description
When running certain stream on newly released Amazon Firestick 4K, the stream runs for 5 seconds, then the picture freezes, while the sound is still running. After some while, the sound disappears too and it totally freezes the app, where you can only exit to the home screen.

Also, there is nothing suspicious going on in the logcat.

### Reproduction steps
Set to allowNonIdr

[2018-12-11 11:33] ojw28 commented on #5242
I'm guessing the printout of the stack removes a lot of duplicated lines that match
[code]
else the stack clearly isn't big enough to cause overflow? If so, we should fix this by making `read` non-recursive.

[2018-12-11 11:59] noamtamim commented on #5225
@ojw28 the link you provided is for Google employees only (requires an `@google.com` address).
Can you please paste the relevant info here? It **is** interesting, especially if we (as software publishers) can learn from it.

[2018-12-11 12:01] ojw28 commented on #5225
The link should work now.

[2018-12-11 12:08] meenukrishnamurthy commented on #5193
Thanks a ton the solution worked

[2018-12-11 12:19] natario1 commented on #5222
The delay shows up when I use logcat instead of breakpoints.

[code]

This points the finger at transitions so I have tried to change their duration. Turns out that `AspectRatioFrameLayout.onMeasure()` will never be called until there is a shared element transition running. It is executed only on the frame when the transition ends. Does anyone know what is the mechanism behind this?

The shared el

[2018-12-11 12:40] erdemguven commented on #5193
I'm glad that you find it useful. Let's keep this issue to track improvements on this issue.

[2018-12-11 14:50] ojw28 commented on #5169
I don't understand how this device passed our certification process. That said, I think we should just add the workaround. It's not particularly feasible for us to get hold of a device given it's (I think?) a physical TV.

[2018-12-11 15:43] adrixgc commented on #5134
I've been checking the new release (2.9.2). However, I can't find the way to access the new methods created since I am using CronetDataSourceFactory insted of CronetDataSource. Here's my code:
[code]

As you can see, I'm always using Factories. How can I access those methods? Would it be possible to have a debug event listener to react to the Transport Protocol change?

[2018-12-11 16:16] ojw28 commented on #5242
Actually, I can't really see how this happens. It looks like there's a repeated cache miss. Each time we try to request the data from the upstream source, and immediately read `RESULT_END_OF_INPUT`. However we think we know that more data should be available. This is unexpected.

What is the upstream `DataSource` in this case? Is it something other than `DefaultHttpDataSource` and/or is there any

[2018-12-11 16:18] marcbaechinger commented on #5190
I think that when you are using the bitmap with glide this happens asynchronously. So you need to use the PlayerNotificationManager.BitmapCallback when the async method returns and pass the large icon to it.

With the current code you return the notification_artwork before it has been updated by the async code.

[2018-12-11 16:23] marcbaechinger commented on #5179
Yes, it's right that we need to replace a callback which has already been set. There is no other way.

The current default implementation provided by the framwork just delegates these calls to the appropriate onXYZ actions. This means playback events coming from the headset are delegated and should work.

There is however, no way to intercept such events or distinguish between playback events comi

[2018-12-11 16:31] LolloVince opened #5244 "Replacing requestProperty value while playing video"
I'm using ExoPlayer with custom HttpDataSource.

[code]

1. First question

The method createDataSourceInternal(...) is called when I initialize the class but, while playing my video, the property "token" may change and i need to replace its value with the new one.

How can I achieve this withouth pausing the video?

2. Second question

Can i print into logcat my request parameters?

[2018-12-11 16:39] tonihei commented on #5134
You need to overwrite CronetDataSource and read the protocol after opening the source:
[code]

And to set up the player just create your data source in a factory:
[code]

[2018-12-11 16:46] adrixgc commented on #5134
But the parameter to create a CronetDataSourceFactory is a CronetEngineWrapper, not a CronetDataSource

[2018-12-11 16:50] marcbaechinger commented on #5223
Samsung apparently is using different metatdata keys than other vendors, at least in case of the title.

The MediaSessionConnector does copy metadata entries available in the MediaDescriptionCompat of a selected queue item to MediaMetadataCompat.Builder to give the media session information about the item currently being played. There is no officially specified mapping for properties of the MediaD

[2018-12-11 16:57] tonihei commented on #5134
Just use the cronet engine directly in the data source. The wrapper is useless anyway if you provide your own engine.

[2018-12-11 17:08] marcbaechinger commented on #5232
There is no way to get the actual clicks on the buttons in the notification. These clicks result in an Intent which is received by the BroadcastReceiver which is part of the PlayerNotificationManager (see https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L1029). That's how these clicks arrive at the PlayerNo

[2018-12-11 17:36] adrixgc commented on #5134
Yeah, I got it. I implemented your way and it's fantastic. However, I found 2 different behaviours when it comes to different protocols:

- **Playback via QUIC** (logcat):
[code]
First row: Manifest retrieved by http. Correct!
Rest of rows: QUIC transport protocol, one per open() call. Correct!

- **Playback via TCP** (logcat):
[code]
First row: Manifest retrieved by http. Correct!
Rest of rows: *

[2018-12-11 17:38] #5117 closed, assigned to marcbaechinger

[2018-12-11 19:03] natario1 commented on #5222
Well, I'm not able to fix this, will just call `playerView.setPlayer` when the transition is over.

The only thing the library could do better is in `PlayerView` docs where it could be made clearer that `exo_shutter` is a key component to avoid flickers & not just an opaque view that covers the video surface.

Feel free to close this, thanks for answering.

[2018-12-11 19:15] natario1 commented on #5221
The protected method might work as well @ojw28 , I have applied my constraints and measuring is working fine, however the image is distorted.

I have checked that `VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING` is set and the media codec video renderer is being used. Do you have any idea?

For example, if I force a 16:9 video to be 1:1, I see a 1:1 frame but most of the times it has the full image

[2018-12-11 20:46] AlienAsRoger commented on #4551
Any updates here? I'm wondering why it's marked as enhancement... is there a way to set `FLAG_ALLOW_CACHING_UNKNOWN_LENGTH` flag for `CacheDataSource` ? I haven't found one.

[2018-12-12 00:28] ojw28 opened #5246 "Publish old releases to GMaven/google() (in addition to jcenter)"
As per title. Spun out from https://github.com/google/ExoPlayer/issues/5225.

[2018-12-12 00:28] ojw28 commented on #5225
All packages are now restored. I've filed #5246 to track hosting ExoPlayer packages on GMaven.

[2018-12-12 00:28] #5225 closed, assigned to ojw28

[2018-12-12 05:25] bbincybbaby opened #5247 "use_controller true with Proguard causing IncompatibleClassChangeError"
[code]

Am getting the above error when using custom controller_layout with Proguard. Please help me out

[2018-12-12 05:26] bbincybbaby commented on #5247
https://stackoverflow.com/q/53706184/4639479

[2018-12-12 05:42] zhangabvc commented on #5204
who can help me？

[2018-12-12 08:04] dbrgn commented on #5225
40 "me too" comments but not a single "thanks" comment in this thread...

Thank you @ojw28 :slightly_smiling_face:

[2018-12-12 09:18] tonihei commented on #5134
This is specific to Cronet and not something we can answer here.

But a quick look at the [doc](https://developer.android.com/guide/topics/connectivity/cronet/reference/org/chromium/net/UrlResponseInfo.html#getNegotiatedProtocol()) shows that it returns an "empty string if no protocol was negotiated, the protocol is not known, or when using plain HTTP or HTTPS."

[2018-12-12 09:45] ArvinChu opened #5248 "88200 Hz is not a supported sample rate."
Using ExoPlayer-release-v2 on Android 4.4.2 , looks Exoplayer get failed:
[code]

[2018-12-12 10:24] ojw28 commented on #5244
You can call `getDefaultRequestProperties` on the factory, and then just update those properties. Any changes you make should be picked up by all `DefaultHttpDataSource` instances that have been built by the factory.

[2018-12-12 10:53] RootSoft commented on #5234
@ojw28 Do you have any idea what might be wrong? I've been breaking my heads on this for the past few days. Thanks in advance!

[2018-12-12 10:59] bbincybbaby commented on #5247
@andrewlewis

[2018-12-12 10:59] bbincybbaby commented on #5247
@ojw28

[2018-12-12 11:00] bbincybbaby commented on #5247
https://stackoverflow.com/q/53739196/4639479

[2018-12-12 11:02] bbincybbaby commented on #5247
@tonihei

[2018-12-12 11:03] bbincybbaby commented on #5247
@ojw28 @andrewlewis

[2018-12-12 11:03] kiall commented on #5247
Please.do not ping people by name like this. It is incredibly rude and unnecessary. ... Especially when you edit the posts to cycle through names to ping.

[2018-12-12 11:15] AquilesCanta commented on #5225
aaaaawwwww

[2018-12-12 11:21] bbincybbaby commented on #5247
please someone help me out, it was so urgent. that's why

[2018-12-12 11:23] AndroidDeveloperLB commented on #5225
All is fine now? Thank you

[2018-12-12 11:44] ojw28 commented on #5208
https://github.com/google/ExoPlayer/issues/5208#issuecomment-444901191 suggests this is resolved. Although regardless, this is not an ExoPlayer issue.

[2018-12-12 11:44] #5208 closed, assigned to erdemguven

[2018-12-12 11:45] ojw28 commented on #5220
That link gives me a http 451 status code. There is nothing we can do to help here, since we're not being provided with streams that are accessible to us (they need to be accessible from the UK without authentication).

[2018-12-12 12:00] ojw28 commented on #5234
I tried doing what you did and it works fine for me.

[2018-12-12 12:22] RootSoft commented on #5234
For some reason it seems that Jetifier does not convert the dependencies to the new AndroidX (atleast for me) for the library modules.

[2018-12-12 12:52] vinay-altbalaji commented on #5211
Thanks, @ojw28 . Is it going be to a part of any of the upcoming releases?

[2018-12-12 13:46] ojw28 commented on #5241
What real device does the issue occur on? Are you sure it's not just a problem with the emulator?

[2018-12-12 14:04] stefanwuest commented on #5241
@ojw28 I have reports from the following devices:

[code]

The users report that the video is not shown, but only audio is played.

[2018-12-12 17:51] natario1 opened #5249 "[question] Load and render samples as fast as possible"
I am exploring the possibility of leveraging ExoPlayer to do video transcoding for local video files. It would be cool to demux and decode using ExoPlayer internals then go on with components that I already have (to mux again and save to file).

It seems that
- for audio we would need a custom `Renderer`? or some other component
- for video we should just pass the appropriate `Surface`. This is no

[2018-12-12 17:54] ojw28 commented on #5222
Afraid not. We're not particularly expert on the Android view framework. You might get a helpful answer if you ask on StackOverflow though!

I'll add an extra sentence to the `PlayerView` Javadoc where `exo_shutter` is documented, to explain that it's also helpful for preventing flicker when using `SurfaceView`. On that note, you might like to try using `TextureView` instead. `TextureView` also ha

[2018-12-12 17:54] #5222 closed, assigned to ojw28

[2018-12-12 20:42] jandresakis commented on #5136
@ojw28 any updates as to a possible eta for that fix for the slow download removal to find its way into a release?

[2018-12-12 22:26] mpainenz commented on #867
I've improved apon my initial solutions to this, and now just use a single PlayerView but move it around in the view hierarchy. Much simpler.

[2018-12-13 00:17] ojw28 commented on #5249
Do you actually want to decode and re-encode the media samples themselves? Or do you just want to change them from being in one container format to another?

Also, what type of media is the source content? Are they regular media files, or will you ever have to deal with adaptive (DASH/SS/HLS) input?

[2018-12-13 01:17] DaveOff opened #5250 "Display Subtitle on TextureView"
My Activity :

`
	Format subtitleFormat = Format.createTextSampleFormat(null,MimeTypes.TEXT_VTT,"en");

	DefaultHttpDataSourceFactory dataSourceFactory = new 	DefaultHttpDataSourceFactory(Util.getUserAgent(this, "exoplayer2example"));
	MediaSource subtitleSource = new SingleSampleMediaSource.Factory(dataSourceFactory).createMediaSource(Uri.parse("https://www.iandevlin.com/html5test/webvtt/upc-vide

[2018-12-13 01:21] qjh5606 opened #5251 "How can I switch the video source while exoplayer is runing?"
I am working on the project that needs to switch the video source,which depends on user's viewpoint.
so I'm looking for the quickest way to change the video that is currently playing.
the Issue like this : https://github.com/google/ExoPlayer/issues/380.

I am currently try to replace the `ExtractorSampleSource` 's uri with the new one, and call `restartFrom(0)`. but it did not work out.
`
Uri loca

[2018-12-13 01:59] zhangabvc opened #5252 "ffmpeg extension support for exoplayer"
Exoplayer successfully loaded ffmpeg, but the audio format mpega still has no sound.

My implementation steps are as follows

 I developed it on this this original . ExoPlayer demo app（2.9）. I move  extensions\ffmpeg  to libarary/core/src.
Then modify the code

![image](https://user-images.githubusercontent.com/44994911/49713520-071ca300-fc84-11e8-8ab8-70b784fb787e.png)

After modification
![image

[2018-12-13 07:37] Sathish-Kumar-Kanagaraj opened #5253 "Audio Player Repeat Mode"
I am Using Exoplayer Latest Version(2.9) For Audio Player.
I want to loop or repeat the songs based on single song or list of song.
how can i use the playbackstatecompat for it.
Whether the Exoplayer release v2 code contains audio player related functionalities  like shuffle mode or repeat mode codes.

[2018-12-13 09:09] tonihei commented on #5251
Looks like you are still using ExoPlayer v1 which isn't supported anymore. Please consider switching to v2.

But generally, you need call player.prepare(source) again with the new source and the player will switch to the new video.

[2018-12-13 09:20] natario1 commented on #5249
Yes, I need to decode them too (will reencode and mux using MediaCodec and MediaMuxer). And source content will be regular media files, read from local disk. Is this possible?

[2018-12-13 09:23] meenukrishnamurthy opened #5254 "Preview seekbar like youtube"
Hi i would like to implement a preview seekbar like youtube.Can anyone tell me how to go about it.
A view appears above the seekbar when we are seeking showing a thumbnail of the video at that sec.

[2018-12-13 09:37] tonihei commented on #5249
Just for the part about "load and render audio/video samples as fast as possible":
You should be able to inject a `Clock` into `SimpleExoPlayer`. I think you need to subclass `SimpleExoPlayer` and call the protected constructor taking a `Clock` as argument to do that. If you use an `AutoAdvancingFakeClock` (which is in the testutils) you can run the internal player loops as fast as possible.

Note

[2018-12-13 09:44] okycelt opened #5255 "CODEC_VIDEO_ES_DEVICE vs CODEC_VIDEO_DVAVC_DEVICE"
We are using ExoPlayer to play transport streams either from a .ts file or as a UDP multicast. On one of the boxes, a 50 fps stream is laggy in ExoPlayer but okay in MediaPlayer. The stb vendor says MediaPlayer uses `CODEC_VIDEO_ES_DEVICE`, while ExoPlayer uses `CODEC_VIDEO_DVAVC_DEVICE` and asked us if we can force ExoPlayer to use `CODEC_VIDEO_ES_DEVICE` like MediaPlayer does. We didn't find any

[2018-12-13 09:48] stefanwuest commented on #5241
@ojw28 I got a hold of a physical device — the behaviour is different from what I've described. In the case of the device it was actually a different issue, so this one can be closed.

[2018-12-13 10:50] ojw28 commented on #5252
Duplicate of #5204

[2018-12-13 10:50] #5252 closed, assigned to ojw28

[2018-12-13 10:54] ojw28 commented on #5204
We've already checked that audio plays fine after following the instructions in the README. As per @andrewlewis above:

I'm afraid we cannot offer the level of individual support you're asking for. If you could refrain from filing further issues, beyond the _six_ you've filed already on this topic, we'd be grateful. Thanks.

[2018-12-13 11:05] ojw28 commented on #5250
The `setVideoTextureView` method sets a view for the video part of the media only. To get subtitles you need to register a text output by calling `setTextOutput`. You can choose to implement `TextOutput` directly, in which case you'll have to take care of rendering the subtitles yourself. Alternatively, the library provides [SubtitleView](https://google.github.io/ExoPlayer/doc/reference/com/google

[2018-12-13 11:10] ojw28 commented on #5255
I don't understand what the STB vendor is saying. Those constants don't seem to be part of the Android SDK. I think you'll need to get them to clarify, preferably in the context of what we should be doing differently when using the `MediaCodec` API (which is the defined API through which we access video decoder).

Note: We always select what we believe is the best video decoder that's exposed to u

[2018-12-13 11:16] ojw28 commented on #5254
YouTube implement this by extracting thumbnail images from the videos on the server side. They then request these images out-of-band to display in their UI during seeking. In other words, their solution is entirely independent of the player.

It's quite difficult to implement this type of feature using the media stream directly (i.e. without separately extracting thumbnails). Even if I were implem

[2018-12-13 11:16] #5254 closed, assigned to ojw28

[2018-12-13 11:19] ojw28 commented on #5253
I don't understand how `PlaybackStateCompat` is relevant. If you have an `ExoPlayer` instance, you can just call `setRepeatMode` and `setShuffleModeEnabled` on the instance to control repeat and shuffle modes (see [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Player.html#setRepeatMode-int-))..

[2018-12-13 11:19] #5253 closed, assigned to ojw28

[2018-12-13 11:25] okycelt commented on #5255
Thanks for a quick reaction. As for the constants, they've also sent us this [list](https://user-images.githubusercontent.com/26062845/49935598-be5a2980-fed1-11e8-8b36-9649f2de154d.png). I'll ask the STB vendor for more information and post it here, if I manage to get some.

[2018-12-13 11:28] ojw28 commented on #5255
Right. They need to explain what they think ExoPlayer is doing wrong in terms of its interaction with the `MediaCodec` API. Or they need to properly expose their decoders through this API in the correct order (best to worst). I suspect those constants are internal to their own vendor specific code, in which case there's no way ExoPlayer would know about them. Thanks!

[2018-12-13 11:40] ojw28 commented on #5249
`ExoPlayer` itself doesn't seem that well matched to what you're trying to do. In trying to use it you'll be pulling in a lot of logic related to playback (e.g. playing at a particular speed, as mentioned above) that you'll then be looking for ways to disable or fudge to do what you need.

I'd be tempted to try and use `ExtractorMediaSource` directly from your own code (but nothing higher level th

[2018-12-13 12:11] tipoc123 commented on #5195
Up!

[2018-12-13 12:31] RootSoft commented on #5234
I managed to solve the issue by specifying a ```gradle.properties``` file for every local exoplayer module in my project that is used in the application. I still don't know what causes the issue, but preventing Jetifier from migrating to AndroidX seems to solve this issue.

[code]

[2018-12-13 12:31] #5234 closed, assigned to ojw28

[2018-12-13 13:05] #5241 closed, assigned to ojw28

[2018-12-13 14:51] sanketmthakare commented on #867
Can you please share the code? Thank you

On Thu 13 Dec, 2018, 3:57 AM Mark Paine <notifications@github.com wrote:

[2018-12-13 16:07] erdemguven commented on #4648
Sorry for late response. Could you play one of the ["YouTube DASH" samples](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json) from ExoPlayer demo app, on your device and send us a bug report.

[2018-12-13 16:13] gauravbarthwal commented on #4648
Sorry @erdemguven, I got to know that the device has some issues and I had to include some libraries to get ABR work.
Thank you for your reply.

[2018-12-13 16:13] #4648 closed, assigned to erdemguven

[2018-12-13 16:21] andrewlewis commented on #5239
I tried to reproduce on a Nexus 6 API 21 (ro.product.cpu.abilist has armeabi-v7a,armeabi) but it worked fine. Are there any devices where you didn't see the error? It might help to have a full bug report rather than just a logcat snippet.

[2018-12-13 16:39] andrewlewis commented on #5239
Side note: we plan to upgrade the ExoPlayer GVR extension dependency next time the GVR sdk-audio gets updated (within the next few weeks), as the dependencies are being rearranged in a way that requires us to do that. It's hard to say whether that will address this, though, as the cause is unknown.

[2018-12-13 18:02] ojw28 commented on #5223
That's not what the quote you quoted says that you should do. It says you should provide a `MediaMetadataProvider`, which can be passed to the `MediaSessionConnector` constructor. For example:

[code]

The keys Samsung are using are `MediaMetadataCompat.METADATA_KEY_TITLE` (for the top line) and `MediaMetadataCompat.METADATA_KEY_ARTIST` (for the second line).

[2018-12-14 00:51] qjh5606 commented on #5251
Thank you. I will try it using ExoPlayerv2.

[2018-12-14 06:43] KazumiHARADA opened #5256 "Playing live stream has been stopped when the timing of switched the order of audio track which is described on manifests file"
### Issue description
The issue is occurred only specific DASH live stream. It may be there are fundamentaly cause in broadcast setting, but we hope to know the cause of this issue on client side.

Unfortunately, this issue isn't always occurred, so we found that it occurred when the timing of switched the order of audio track which is described on manifests file.

Could you please tell me, if you

[2018-12-14 06:50] gejiashu commented on #5230
@ojw28 The log information has been provided. Can you help me? Thank you.

[2018-12-14 06:54] #5219 closed, assigned to ojw28

[2018-12-14 07:47] HardikChauhanSA opened #5257 "How can i play a list of tracks cached offline using exoplayer?"
Hello,

I got a question.
I am creating an android music player app.
My need is to download or cache, user selected tracks offline and play them through my app. I have successfully cached the songs in the phone's internal storage.

Now the issue I am facing is that I can play an only a single cached song. For example, If I have downloaded 5 songs and I try to play those songs offline only 1 can pl

[2018-12-14 11:43] ojw28 commented on #5256
If it's hard for you to provide a test stream, it's probably sufficient for you to just provide two manifests showing how the ordering changes.

It's unclear at exactly which level the ordering is changing. Is it a re-ordering of `AdaptationSet` elements within a `Peroid`, or of `Representation` elements within an `AdaptationSet`? And do the things that swap order have identifiers?

The details ab

[2018-12-14 13:47] ojw28 commented on #5230
This line in the bug report indicates that the video stream exceeds what the device decoder for `video/mp4v-es` is capable of decoding:
[code]
So I'm afraid this is working as intended.

It's quite unusual for the video stream to be `video/mp4v-es` (as is the case here). It looks like Chrome on desktop doesn't support playback of the video part at all (it just plays the audio for me). On Android,

[2018-12-14 13:47] #5230 closed, assigned to ojw28

[2018-12-14 13:52] ojw28 commented on #5257
Please provide complete information about the error, as is requested in the issue template.

[2018-12-14 14:51] chihebbn opened #5258 "Getting event with schemeIdUri='urn:mpeg:dash:event:callback:2015': no HTTP Get to messageData URL"
### Issue description
According to ISO/IEC 23009-1/A3:2016 the EventStream with urn:mpeg:dash:event:callback:2015: part 5.10.4.X.1: the player should send an HTTP GET request to the URL indicated by the messageData and ignore the HTTP response (which should be 2xx).
Example: for this URL: "http://vm2.dashif.org/livesim/periods_60/mpdcallback_30/testpic_2s/Manifest.mpd", the EXOPlayer should ask fo

[2018-12-14 15:14] ckchamara opened #5259 "Why does ExoPlayer cant play some of the streams of same type with different bitrates ?"
Ex -
http://108.61.34.50:7130/              ---> 96kbs ===> Playable
http://s3.voscast.com:8408             ---> 64kbs ===> Not Playable
http://220.247.227.20:8000/citystream  ---> 128kbs ===> Not Playable
all above are mpga type

 i used DefaultHttpDataSourceFactory & ExtractorMediaSource..

[2018-12-14 15:45] ojw28 commented on #1583
@szaboa has implemented support for this (thanks!), which is now available in the `dev-v2` branch. @szaboa - Can this issue be closed, or is there more work still to be done?

[2018-12-14 15:46] #5169 closed, assigned to ojw28

[2018-12-14 15:47] ojw28 commented on #5136
This is fixed in the `dev-v2` branch. We don't have an ETA for a release that will include it. We're making some pretty big download changes at the moment, so we'll need to decide whether to package this up in a release that comes before those changes all land, or whether to wait and release everything together.

[2018-12-14 15:48] #5203 closed, assigned to erdemguven

[2018-12-14 16:22] szaboa commented on #1583
@ojw28
Np, looking forward to contribute more.

From my side this issue can be closed. If there is a demand for IMSC image subs then I can do it under another issue in the future.

[2018-12-14 16:35] #1583 closed

[2018-12-14 18:00] levz commented on #5136
@ojw28

Will those changes be backward compatible? If I downloaded something with version 2.8.4 - will I be able to play/remove it with new release?

[2018-12-14 18:08] ojw28 commented on #5258
That manifest doesn't look correct to me. Shouldn't `messageData` be defined on an `Event` inside the `EventStream`, rather than being defined directly on the `EventStream` itself?

[2018-12-14 18:13] ojw28 commented on #5258
Note that if the manifest were structured as I describe above, I think the event would be delivered to `MetadataOutput`s registered with `SimpleExoPlayer.addMetadataOutput`. Application code can therefore register a metadata output and make the desired GET request.

[2018-12-14 18:17] chihebbn commented on #5258
What I tested locally is in conformity with DASH ISO/IEC 23009-1/A3:2016: I put the messageData inside an Event of EventStream. I have always no HTTP Get request !

[2018-12-14 18:20] ojw28 commented on #5258
As already noted above:
1. I don't think the manifest you've linked to is correct. Perhaps yours is, but you haven't linked to that!
1. We don't make the HTTP GET request automatically. Application code can do that by registering as a metadata output.

[2018-12-14 18:32] ojw28 commented on #5136
There will at least be a migration path to make that possible, yes.

[2018-12-14 18:40] chihebbn commented on #5258
1. yes I should rather give you the mpd that I've used for my tests.
2. I did not see any HTTP GET request to the url defined in messageData during video playback at any time.

I just want to verify if schemeIdUri 'urn:mpeg:dash:event:callback:2015' is already supported by ExoPlayer or not, and if it has been tested before.
Thanks,

(I will give you the mpd that I've used locally for my tests once

[2018-12-14 18:43] ojw28 commented on #5258
Please read my second point in the response above carefully, since it already answers the question you keep asking. Thanks.

[2018-12-14 19:53] kvillnv opened #5260 "Player randomly stops when downloading into the same cache I am using for playback (and same uri)"
Hello,
ExoPlayer version: 2.9.2
Android TV 7.1.1
Custom Broadcom based Device
Issue happens on any source.

Explanation:
My streams have a live edge and many hours of buffer. They can be rewinded, and can be downloaded just after the manifest contains all the required segments.
Until now playback works fine and download works fine.

Now, I am trying to optimize bandwidth.
A user wants to download

[2018-12-14 20:01] ojw28 commented on #5259
All three work fine for me. Please include complete information as requested by the issue template.

[2018-12-14 20:04] ojw28 commented on #3735
I've been taking a look at this! I've managed to take the change in the pull request and do most of the simplification work mentioned on top. Hopefully we'll be able to get it merged in sometime in the next week or two.

[2018-12-14 20:32] ebr11 commented on #5096
Hi.  Any more info here?

I think this is likely something relatively simple as I believe there is at least one Exo fork that fixes whatever the problem is (not public though).

Thanks.

[2018-12-14 20:57] ojw28 commented on #5096
Have you tried calling [setColorMode](https://developer.android.com/reference/android/view/Window#setColorMode(int)) explicitly on the window? I've no idea whether it makes a difference, but it might be worth a try.

[2018-12-15 07:01] MurtadhaS commented on #5223
@ojw28 I ended up adding the metadata (not by constructor as you mentioned though), and it worked.
Thanks for both of you guys.

[2018-12-15 07:01] #5223 closed, assigned to marcbaechinger

[2018-12-15 07:56] majidebrahimii opened #5261 "How custom quality selection layout"
How can i customize selection layout. like change language, text, button, layout style and ... .
I'm use version 2.9.0.
[http://s9.picofile.com/file/8345781934/photo_2018_12_15_11_17_21.jpg](url)

[2018-12-15 08:06] ckchamara commented on #5259
**Version of ExoPlayer being used**
2.9.2

**Device(s) and version(s) of Android being used**
Huawei Y5 (2017)
Android 6.0 (Marshmallow)
https://www.gsmarena.com/huawei_y5_(2017)-8640.php

**A full bug report captured from the device**
sent to dev.exoplayer@gmail.com

[2018-12-15 11:04] egprojects opened #5262 "How to combine Play and Pause buttons?"
Is there any way to combine Play and Pause buttons to 1 button? Now after click on play/pause there is no ripple effect showing because button, which was clicked, is hiding at the moment of click. I'd like to have ripple effect and vectorAnimation like in YouTube. So, is there any good way to do it?

[2018-12-15 22:47] sneltyn commented on #5240
@tonihei, i also have this problem :(

Stack trace:

[code]

**ExoPlayer**: 2.9.0

All methods of `ConcatenatingMediaSource` are executed in the main thread. I can not reproduce the problem appears randomly.

[2018-12-16 04:35] juechemparathy commented on #5240
@tonihei - We also started noticing this on upgrade form 2.7.3 -> 2.9.0
Intermittent but seen happening with Live/dash multiple period scenarios.
Sample stream:
https://content-duseqa1.downlynk.com/channel/29e9c85c070f413fb71a3b2a39eed208.mpd?ad=dashad

[code]

[2018-12-16 05:34] hardikchauhan8 commented on #5257
Actually this was a question I want some guidance to achieve the same. But getting the above error. Can you please guide me?

[2018-12-16 18:41] needz opened #5263 "Support cross-protocol redirects in OkHttpDataSource (and possibly CronetDataSource)"
### Issue description
The Dailymotion redirect URLs don't work in ExoPlayer, because it's a redirect to a real M3U8. There is also no way to set the allowCrossProtocolRedirects parameter in OkHttpDataSource, although using default DefaultHttpDataSource with allowCrossProtocolRedirects set to true didn't help either.

### Reproduction steps
Use OkHttpDataSourceFactory and run the link provided in E

[2018-12-17 07:33] zhangabvc commented on #5204
@andrewlewis  ojw28 The problem has been solved.The compiled library uses the wrong parameters. Need to increase parameters

[2018-12-17 08:04] HardikChauhanSA commented on #5257
Hello @ojw28 ,

Here is the full error log we are getting,

[code]

Please check and let me know for anything we might missing or so.

[2018-12-17 08:38] okycelt commented on #5003
@tonihei Have you had a chance to take look at this? Thanks.

[2018-12-17 09:44] KazumiHARADA commented on #5256
we aware that `AdaptationSet` ids is re-ordered, but `Representation` ids is fixed. so we have recorded `http archive file`, then.
In just case, I've send the har file, so please take a look manifest requests.
Is it wrong that such manifest?

[2018-12-17 10:03] ojw28 commented on #5263
The stream works fine for me with DefaultHttpDataSource  and allowCrossProtocolRedirects enabled. Please clarify this part of what you're saying.

For OkHttpDataSource, this is basically a feature request to support cross protocol redirects, right?

[2018-12-17 10:05] Romantic-LiXuefeng commented on #5079
I used  ndk version is r15c .
[code]
[code]
@michalliu  Hope you tell me what's your ndk version. Thanks!

[2018-12-17 10:07] needz commented on #5263
@ojw28, yes, it would be great if you could include this feature in line with the HttpDataSource for those who use OkHttpDataSource.

Could you please also share your configured allowCrossProtocolRedirects line, so I can implement it on my end? Thanks.

[2018-12-17 10:15] ojw28 commented on #5263
I didn't do anything special. I did the minimum possible to enable it in the demo app, which is to change [this line](https://github.com/google/ExoPlayer/blob/r2.9.2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoApplication.java#L66) in the demo app to:
[code]
and then I added the sample in the demo app's `media.exolist.json`:
[code]
and that was it.

It should also be noted that

[2018-12-17 10:16] mathemandy opened #5264 "How to Determine if exoplayer is playing from cache or Network"
### Question
I use Simple Cache in my app to stream app.  I want to be able to know when exoplayer plays a song from cache or direct from the Network. I am trying to send events and would want to be able to track this.
Is there already a listener that can tell me if  exoplayer is playing from Cache or Internet.
Thanks.

[2018-12-17 10:42] tonihei commented on #5240
@sneltyn This is unrelated and it looks like a known bug we had in 2.8. This should already be fixed.

@juechemparathy This may also be unrelated. It seems that you are using your own `MediaSource`. Can you check what kind of `Timeline` this media source is returning and if the `uid` value of the periods + the value returned by `getIndexOfPeriod` fit together?

[2018-12-17 10:46] ojw28 commented on #5256
I don't think it's valid to change the `AdaptationSet` ids across manifest updates. That defeats the purpose of what an id is supposed to be for.

In addition, ExoPlayer currently requires that the `AdaptationSet` elements remain in the same order across manifest updates. So if you fixed the ids but still swapped the order of the `AdaptationSet`s, I think playback would still break. I can't see an

[2018-12-17 10:47] tonihei commented on #5264
You could add a `TransferListener` to the `CacheDataSource` and listen to the events in there. They contain a reference to the actual underlying data source which reads the data and a flag telling you whether the transfer is using a network connection.

[2018-12-17 11:05] ojw28 commented on #5261
If you want to make significant modifications then you should just make your own UI component. You can use the code for the one provided by the library as a starting point. App specific UI is outside the scope of this issue tracker.

[2018-12-17 11:05] #5261 closed, assigned to ojw28

[2018-12-17 11:18] needz commented on #5263
@ojw28, adding the specific extension type "m3u8" worked, but imagine the situation, where a user (or a player) does not know it's an m3u8 stream after adding the original link to the playlist and it fails.

In situation, where there is no extension specified, it still doesn't work, neither adding allowCrossProtocolRedirects, nor adding https:// instead of http:// work, check these variants below.

[2018-12-17 11:25] ojw28 commented on #5263
Detecting the stream type is tracked by https://github.com/google/ExoPlayer/issues/3165.

From your response above it sounds like the OkHttp extension already performs cross-protocol redirects by default? In which case we can close this issue.

[2018-12-17 11:32] needz commented on #5263
@ojw28, yes, but I guess this issue can be part of "playing PHP video"
https://github.com/google/ExoPlayer/issues/5220 issue mentioned in that thread.

[2018-12-17 11:34] ojw28 commented on #5263
This issue is just a duplicate of #3165 (as #5220 may well be).

[2018-12-17 11:34] #5263 closed, assigned to ojw28

[2018-12-17 11:36] ojw28 commented on #5220
Given lack of better information, there's nothing we can do to help here. I suspect this is most likely a duplicate of #3165. Closing based on that assumption.

[2018-12-17 11:36] #5220 closed, assigned to ojw28

[2018-12-17 12:25] Khang-NT commented on #5242
This is how I create cache data source
[code]
I did one thing wrong. That's using `CacheDataSource` when create media source to play a local file `file://`.
I thought `CacheDataSource` only cache remote stream scheme like `http`, but it also cache `file`.
Now I'm using `DefaultDataSource` for local file, seem to be fine.

[2018-12-17 13:42] tonihei commented on #5003
I wasn't able to reproduce the problem with the streams provided by Loredana. And I couldn't test with your test stream so far as the link expired already - could you sent it again?

[2018-12-17 13:43] ojw28 commented on #5242
Playing a local file through `CacheDataSource` will indeed add the content to the cache, but it shouldn't cause a failure like the one being described here. Can you provide a piece of sample media that can reproduce the issue?

[2018-12-17 14:04] ghost opened #5265 "Stretching video on Huawei"
I have issue with video stretch on Huawei devices:
Huawei Mate 10 pro 8.0.0
Huawei P10 lite 8.0.0

here is video link:
https://firebasestorage.googleapis.com/v0/b/the-wonder-weeks-app.appspot.com/o/videos%2Fitsy_bitsy_spider.mp4?alt=media&token=1f205a0d-a6f7-412c-86a9-be50b851e6d0

here is issue video
https://drive.google.com/file/d/18jhu5w_dmWR2v_YJRkIYcU59O2_Qi13B/view?usp=sharing

Issue is only

[2018-12-17 14:23] MuVen commented on #3353
.AV1 file arent still supported by exoplayer yet ?

[2018-12-17 14:26] luckylook opened #5266 "Lip sync issue on DASH LIVE"
we have an issue of Lip sync on Mpeg DASH LIVE channels. it seems that audio appearing before video in a difference of 1-2 sec.  which parameter can we adjust on the Exo player in order to handle that sync issue and align the video with audio timing for DASH LIVE ? thanks.
we're on Exo version 2.9.2

[2018-12-17 15:04] okycelt commented on #5003
I've just sent a link to dev.exoplayer@gmail.com

[2018-12-17 16:02] loredana2314 commented on #5003
Our stream is also OK now. It may have stopped for a moment but now it plays.

[2018-12-17 16:06] bkodirov commented on #474
@n2lovell Do you have a PR for that?
I'm interested on the implementation.

[2018-12-17 16:15] michalliu commented on #5079
I'm using r13b, I don't think this error is related to ndk version, what's the error message exactly?

[2018-12-17 20:48] ICEGot commented on #5235
Does it reach out to google for some type of verification? Saw some odd traffic going to 1e100.net and thought it might be related.

Thanks!

[2018-12-17 21:30] ojw28 commented on #5266
It's highly likely that your source is out of sync. In which case you should fix the source, not look for client features to offset the sync back to where it should be. If you believe it to be a client (i.e. ExoPlayer) issue, please properly fill out the issue template.

[2018-12-18 01:19] Romantic-LiXuefeng commented on #5079
Thanks, It's true the error is not related to ndk version.
`${NDK_PATH}/ndk-build APP_ABI=armeabi-v7a -j4
`
I set the APP_ABI=armeabi-v7a, it compiles successfully.  Set the APP_ABI = arm64-v8a  or x86 or mips. The error always is instruction invalid.

[2018-12-18 01:41] qjh5606 opened #5267 "How can I switch the video that I just add to the concatenatingmediasource while the exoplay is runing?"
How can I switch the video that I just add to the concatenatingmediasource while the exoplay is runing?
Can make it whihout reprepare the player?

[2018-12-18 02:38] Romantic-LiXuefeng commented on #5079
@michalliu  My Xiaomi box's cpu info:
[code]

I only compile the  APP_ABI=armeabi-v7a, When loadLibrary("hevcdec") ,  it occurs link error.
Is there any way to compile the APP_ABI = arm64-v8a?

[2018-12-18 03:22] #5247 closed, assigned to nobody

[2018-12-18 05:21] gregmarut opened #5268 "ExoPlayer2 Music Visualizer"
Are there any examples/tutorials available on how to directly tap into the PCM data from ExoPlayer2 to build a music visualizer? I have spent days searching the internet and cannot find anything of value. Currently, I have been able to build one using the Android Visualizer API but this approach is unsuitable for our needs as the requirement on needing the "Record Audio" permission is a blocking i

[2018-12-18 05:50] SnehaInGitHub opened #5269 "This problems happens when you are trying to draw video on a surface already destroyed."
_Originally posted by @michalliu in https://github.com/google/ExoPlayer/issues/3032#issuecomment-316947851_

[2018-12-18 05:50] #5269 closed, assigned to nobody

[2018-12-18 07:20] userdimi opened #5270 "Merge two TrackGroups"
In my DASH video file I have two adaptation sets for the video. One for SD and one for HD.  When I try to play the file the renderer select only the SD TrackGroup. (Please take a look at the logs) The same behavior I can reproduce with my video settings in the Exoplayer Demo App. So the question is, how can I merge the SD and HD TrackGroups to one TrackGroup to load the HD tracks also?

![bildschi

[2018-12-18 08:49] ojw28 commented on #5270
If the adaptation sets present the same content and can be adapted between, you should indicate this in the manifest using the `urn:mpeg:dash:adaptation-set-switching:2016` supplemental property, as described in [DASH IF IOP Section 3.8](https://dashif.org/docs/DASH-IF-IOP-v4.2-clean.pdf). If you do this, ExoPlayer will merge the tracks into a single group.

[2018-12-18 09:00] grajzer opened #5271 "IMA extension and Open Measurement"
Is there a way we can see VAST response when using IMA extension?

More specifically, I'd like to get contents of Extensions node (or Verification node, VAST 4.0) in order to implement Open Measurement.

We're in the the process of certifying our Android SDK with the Google team and implementing Open Measurement is one of the requirements.

[2018-12-18 09:20] tonihei commented on #5267
If I understand your question correctly, you just need to seek to the new window after it has been added.
You can use the `Runnable` in `addMediaSource` to run something immediately after the source has been added:
[code]

[2018-12-18 09:24] HardikChauhanSA commented on #5048
@odiggity25

I have tried it your way, but I cannot get this working.

What I want is I want to identify which of the action is clicked in a notification.
Here is my code,
[code]

Can you please check and let me know what's wrong?

[2018-12-18 09:39] tonihei commented on #5268
We probably can't help you with the visualization part as it this is something better asked on StackOverflow or similar sites.

For getting the PCM data, the easiest way is probably to create a custom `AudioProcessor` which doesn't change the data but can read the contents for visualization. This `AudioProcessor` can be supplied to a `MediaCodecAudioRenderer` which in turn can be created by overri

[2018-12-18 09:48] qjh5606 commented on #5267
Thank you very much. It seems solve my problem.

[2018-12-18 10:26] andrewlewis commented on #5271
I'm not aware of any way to get VAST responses from IMA. @ypavlotsky will be able to confirm and perhaps advise on implementing Open Measurement with the IMA SDK.

If it's not possible, a potential workaround would be to load the ad tag yourself and pass it to `ImaAdsLoader.Builder.buildForAdsResponse`.

[2018-12-18 11:47] ohenepee commented on #3353
It would be really helpful if the *dav1d* release is integrated into ExoPlayer

[2018-12-18 13:22] erdemguven commented on #5243
Please send the test content to dev.exoplayer@gmail.com using a subject in the format "Issue #5243".

[2018-12-18 13:26] ojw28 commented on #4979
Closing due to lack of follow up.

[2018-12-18 13:26] #4979 closed, assigned to andrewlewis

[2018-12-18 13:29] erdemguven commented on #5262
This issue looks like a general question about Android development. We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow.

[2018-12-18 13:43] erdemguven commented on #5265
Can you repeat the issue using ExoPlayer demo app?

[2018-12-18 14:34] karandeep26 opened #5272 "How to remove half download cache/files?"
Is there any way to remove download cache/files when on going downloads are stopped.
I am using `getDownloadManager().stopDownloads()` to stop the downloads.

[2018-12-18 15:34] adrixgc commented on #5160
Yes, I enabled HTTP/2 as well as QUIC. When playback starts with QUIC and the iptables command is run, the playback stops (you can see the buffer decreasing) until onPlayerError is triggered (when it should fallback to TCP and keep the buffer). Did you manage to make it work?

[2018-12-18 15:38] Sathish-Kumar-Kanagaraj opened #5273 "Repeat and Shuffle Mode in Audio Player i am using UAMP"
Hi i am using UAMP app for My Music player
Kindly explain me
How can i enable the repeat mode when i click on the repeat icon in the ui i am using.
I am seeing method called setRepeat Mode in Exoplayer ,Playback State compat and also Local playback classes but how can i trigger that repeat function on a button click

[2018-12-18 16:11] Seifon opened #5274 "must sdk 26?"
My app need sdk 16!

please change sdk16

Thanks!

[2018-12-18 16:16] ojw28 commented on #5274
Our minimum SDK level is 14, as defined [here](https://github.com/google/ExoPlayer/blob/release-v2/constants.gradle#L22). The target SDK level is a different thing. You can read about the difference [here](https://developer.android.com/guide/topics/manifest/uses-sdk-element).

[2018-12-18 16:16] #5274 closed, assigned to ojw28

[2018-12-18 17:07] ojw28 commented on #5262
I think this is specifically about `PlayerControlView`. In theory we could add logic in that class for an `exo_play_pause` button, which a custom layout could use instead of the separate `exo_play` and `exo_pause` buttons.

It's unclear to me whether that's sufficient though, because I don't know enough about how this type of animation works. If there were a single `exo_play_pause` button, how wou

[2018-12-18 17:16] luizguilhermefr opened #5275 "Persistent progressbar over video"
### Issue description

I am trying to reproduce a MP4 video through `ExtractorMediaSource`, however, a persistent ProgressBar is displayed over the video. I have already tried to use `app:show_buffering="never"` and set a whole custom layout, but no success.

![screenshot_1545152921](https://user-images.githubusercontent.com/6135939/50170542-41ff8600-02d7-11e9-8941-3ff965ef3c21.png)
![screenshot_1

[2018-12-18 17:32] erdemguven commented on #5272
You can do something like this:
[code]

[2018-12-18 17:44] erdemguven commented on #5260
It sounds like player is blocked because both the player and the downloader try to write to the same cache segment. Please make sure you don't set CacheDataSource.FLAG_BLOCK_ON_CACHE when you create the player CacheDataSource.

[2018-12-18 17:46] ArcherEmiya05 opened #5276 "Default interface methods are only supported starting with Android N"
ExoPlayer version:
`implementation 'com.google.android.exoplayer:exoplayer:2.9.2'`

Issue:
While rebuilding the app I encountered so many deprecated code as expected so I refactor it but now I am getting this new error:
`Error: Default interface methods are only supported starting with Android N (--min-api 24): void com.google.android.exoplayer2.Player$EventListener.onSeekProcessed()`.

Codes Befo

[2018-12-18 18:17] erdemguven commented on #5098
This is caused by a bug in 2.8.1 version and fixed in 2.8.2. Please make sure you're using version 2.8.2. Alternatively you might want to upgrade a later version.

[2018-12-18 18:17] giladna commented on #5202
@ojw28
is it still relevant?

[2018-12-18 18:22] erdemguven commented on #5081
Please provide more details about the problem and what you want to achieve.

[2018-12-18 18:24] ojw28 commented on #5202
Yes

[2018-12-18 19:33] kvillnv commented on #5260
@erdemguven that is exactly what I thought.
Yes I confirm, my original settings are not using CacheDataSource.FLAG_BLOCK_ON_CACHE
Should I be using any other flag in my player's cacheDataSourceFactory?
Or any other idea?

And what about the CacheDataSource generated in the DownloadManager's DownloadConstructorHelper ? I noticed it is using the CacheDataSource.FLAG_BLOCK_ON_CACHE

[2018-12-18 19:38] ojw28 commented on #5259
I think this is probably a device specific issue, but unfortunately the bug report doesn't contain enough information to figure out what's gone wrong.

Please could you try playing one of the problematic streams with the ExoPlayer demo app on the same device, capturing the output of `adb logcat` whilst you do this, and mail or attached the captured logcat. You should see quite a log of logcat with

[2018-12-18 19:53] giladna commented on #5202
@ojw28
Sharing with you link to drive containing the chunks and the manifest
if any issues with server upload and playback we can share link to our servers

[2018-12-18 19:58] ojw28 commented on #3735
We've merged a heavily modified version of the pull request into `dev-v2`. Thanks for the contribution! In the modified version, metadata is enabled by default and does not require an extension. You may need to use `OkHttpDataSource` to avoid the `Unexpected status line: ICY 200 OK` issue on some versions of Android, but we do not require that you do so. The metadata is reported in the same way we

[2018-12-18 20:04] ojw28 commented on #5276
You need to add
[code]
to your `build.gradle` files, as described in the [developer guide](http://google.github.io/ExoPlayer/guide.html). You can refer to the ExoPlayer demo app for an example (and also confirm that it compiles fine, despite having `minSdkVersion 16`.

[2018-12-18 20:08] #3735 closed, assigned to ojw28

[2018-12-18 20:11] ojw28 commented on #5151
Closing due to lack of follow-up. As above, 35MB does not seem excessive for a media buffer. There is no evidence in this issue that usage does actually increase the longer the app runs. It seems most likely that something else in your app is leaking memory.

If you can reproduce with the ExoPlayer demo app, that would be good evidence that it is indeed an ExoPlayer issue. Please respond here if i

[2018-12-18 20:11] #5151 closed, assigned to andrewlewis

[2018-12-18 20:12] ojw28 commented on #5161
Closing due to lack of follow up.

[2018-12-18 20:12] #5161 closed, assigned to andrewlewis

[2018-12-18 20:13] #5101 closed, assigned to AquilesCanta

[2018-12-18 20:14] #5250 closed, assigned to ojw28

[2018-12-18 20:14] #5244 closed, assigned to ojw28

[2018-12-18 20:15] ojw28 commented on #5023
Closing due to lack of clarification.

[2018-12-18 20:15] #5023 closed, assigned to ojw28

[2018-12-18 20:18] ojw28 commented on #4091
Does this still reproduce? It sounds like a bug in ChromeOS support for Android apps, rather than an ExoPlayer bug. It's possible that they've fixed it by now. If not, I think it should probably be reported to the ChromeOS team?

[2018-12-18 22:15] tkbdragin opened #5277 "Launcher activity cannot start when Exoplayer version is switched from 2.8.4 to 2.9.2"
### Issue description
I was using Exoplayer version 2.8.4 without any problems. I decided to change to 2.9.2.
The problem I have now is failure to start launcher activity (without any code changes, same code as was on 2.8.4).

The problem is FATAL EXCEPTION: main
...
`Caused by: java.lang.ClassNotFoundException: Didn't find class "android.support.constraint.ConstraintLayout" on path: DexPathList[[

[2018-12-18 23:18] paf-wv commented on #5129
closing as reporter resolved the issue. Sorry @ojw28 we may not get to know what the solution was...

[2018-12-18 23:18] #5129 closed, assigned to arashikou, paf-wv

[2018-12-19 00:00] ojw28 commented on #5277
I don't think this is an ExoPlayer issue. It seems you're using `ConstraintLayout` in your own layout file, but the class cannot be found at runtime. A few suggestions:

* Try "File -> Invalidate Caches / Restart" in Android Studio.
* Check your `build.gradle` to make sure your dependency on `constraint-layout` looks right. It should look something like `implementation 'com.android.support.constra

[2018-12-19 00:15] ojw28 commented on #5202
Where did you send the link? I didn't receive one. Thanks.

[2018-12-19 01:56] gongwen commented on #5098
The verison of exoplayer that i used is 2.8.2,the problem still exsits.

[2018-12-19 02:42] erdemguven commented on #5098
In that case, please upgrade to a later version.

[2018-12-19 04:40] PascalTang opened #5278 "Decode .ts file"
My product have features to encode ts file.
So I will get encoded string on ts file.
Then have to get decode key form http header.
Before , I put ts RequestProperty on MyDefaultHttpDataSource @Override open
Now I need to get each ts response header for decode .
And put decoded ts to player.
How to implement it.
Thanks

[2018-12-19 07:33] giladna commented on #5202
@ojw28  shared it to you via google drive

[2018-12-19 07:33] #5272 closed, assigned to erdemguven

[2018-12-19 08:10] jemshit commented on #4800
I am getting same error with version 2.9.2. It does not happen on android 8, 9. But i have seen the freezing video error while switching player with `PlayerView.switchTargetView(it, player_view, player_view_small)` on Android 4.4, 7.0. (Both samsung and non samsung phone :D)

[2018-12-19 08:22] jemshit commented on #4800
Log during transition from one player to another. Not sure if these are relevant @ojw28 :
[code]

[2018-12-19 10:44] jemshit commented on #4800
**Workaround 1**:
Make one playerView to use "_surfaceView_" and other "_texture_view_". This way it switching player works. Not sure if "_texture_view_" works on all devices (only hardware acc devices?) (even with less performance)?

[2018-12-19 11:02] ojw28 commented on #4931
I tried and failed to reproduce this.

Interestingly, using the version of the support library ExoPlayer picks (27.1.1), you can't even get as far as the code you say we should remove. The process with the ExoPlayer in it will have already crashed at [this line](https://github.com/google/ExoPlayer/blob/r2.9.2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/Medi

[2018-12-19 12:12] userdimi commented on #5270
Thank you for the quick response. I will optimize the dash manifest in this way.

[2018-12-19 12:12] #5270 closed, assigned to ojw28

[2018-12-19 13:42] tonihei commented on #5094
As already noted above, the content is encrypted and you need an drm session manager to load the keys for decryption. See [here](https://google.github.io/ExoPlayer/drm.html) for explanations.

[2018-12-19 13:43] tonihei commented on #5099
Closing as we haven't received any new information.

[2018-12-19 13:43] #5099 closed, assigned to tonihei

[2018-12-19 13:45] okycelt commented on #5003
@tonihei Have you been able to reproduce the problem with our stream?

[2018-12-19 13:47] tonihei commented on #5003
Haven't tried yet, sorry.

[2018-12-19 13:56] andrewlewis commented on #5174
[FLAG_SUPPORTS_PROTECTED_BUFFERS](https://developer.android.com/reference/android/view/Display#FLAG_SUPPORTS_PROTECTED_BUFFERS) will be set on the output display if L1 playback is supported, which is probably what you need (although it's not exactly telling you whether HDCP is in use or not).

[2018-12-19 13:56] #5174 closed, assigned to andrewlewis

[2018-12-19 13:58] #5157 closed, assigned to andrewlewis

[2018-12-19 14:00] andrewlewis commented on #5142
Closing as the question was answered.

[2018-12-19 14:00] #5142 closed, assigned to andrewlewis

[2018-12-19 14:01] #5141 closed, assigned to andrewlewis

[2018-12-19 14:01] andrewlewis commented on #5141
Closing due to inactivity.

[2018-12-19 14:02] ojw28 commented on #5000
Both the dynamic and static versions of the manifests generated look fine in isolation, but the transformation between the two doesn't seem valid.

The setup of the dynamic manifest is such that the first period starts at the epoch, and so has a very long (and still growing) duration. Only the very end of it (i.e. the part since the requested start time) is available to the client. This is all fin

[2018-12-19 14:02] #5000 closed, assigned to ojw28

[2018-12-19 14:03] andrewlewis commented on #4924
Closing due to inactivity.

[2018-12-19 14:31] ojw28 commented on #5266
Closing on the assumption this is a content issue. We do not provide functionality for shifting back into sync on the client. If you believe the content is correct and the client is playing it out of sync, please let us know and provide sample media.

[2018-12-19 14:31] #5266 closed, assigned to ojw28

[2018-12-19 15:37] #5136 closed, assigned to ojw28

[2018-12-19 15:39] ojw28 commented on #5258
Closing because I think this is working as intended. As described above, you should be able to listen for the events using `SimpleExoPlayer.addMetadataOutput`. You can register a simple `MetadataOutput` using this method, whose implementation should fire the HTTP GET requests that you want to occur.

As an aside, the sample manifest provided was confirmed has being incorrect by the DASH-IF people.

[2018-12-19 15:39] #5258 closed, assigned to ojw28

[2018-12-19 15:41] ojw28 commented on #5255
Closing for now. If you receive further information please still post it in this issue, and we'll reopen as necessary. Thanks!

[2018-12-19 15:41] #5255 closed, assigned to ojw28

[2018-12-19 15:46] ojw28 commented on #4468
We're still adding the odd device to this list, but I think the bulk of the work here is done. We also made it easy for applications to override the method that decides whether the workaround is applied. I think it's fine to close at this point.

[2018-12-19 15:46] #4468 closed, assigned to ojw28

[2018-12-19 15:53] ojw28 commented on #3183
Sorry we didn't look at this. It's most likely that you're trying to play secure content on a device that only has L3 Widevine (i.e. failure is working as intended because the required security level is not satisfied), or a device specific issue. If this issue is still relevant, I suggest you follow up with Amlogic to find out what's wrong.

[2018-12-19 15:53] #3183 closed, assigned to ojw28

[2018-12-19 15:55] #3675 closed, assigned to ojw28

[2018-12-19 15:58] #5237 closed, assigned to ojw28

[2018-12-19 15:59] ojw28 commented on #5237
Closing due to lack of follow up.

[2018-12-19 16:05] ojw28 commented on #5235
ExoPlayer doesn't do make any "phone home" style network requests (and since it's open source, it's not too hard to check this if you're sufficiently motivated to do so). The only case I'm not sure about would be if you're using the IMA extension, which depends on the IMA SDK, which is not open source. You can find information about the IMA SDK [here](https://developers.google.com/interactive-medi

[2018-12-19 16:05] #5235 closed, assigned to ojw28

[2018-12-19 16:09] ojw28 commented on #4162
Agree this is tracked by the issue ref'd in the post above. I don't think there's much we can do about it at our layer; it likely needs to be fixed in the platform.

[2018-12-19 16:15] ojw28 commented on #5198
Marking as a duplicate of #5097.

[2018-12-19 16:15] #5198 closed, assigned to AquilesCanta

[2018-12-19 16:16] ojw28 commented on #5097
Example of content that's still not seekable:
http://video.a045.ottcn.com/ftp_upload/data/video/hdhbzsj100300409.ts

[2018-12-19 16:24] hanhmh1203 opened #5279 "How to set scrubberDrawable in kotlin ?"
I want to custom scrubberDrawable with my icon,
How to change scrubberDrawable realtime ?
Thank for support

[2018-12-19 17:06] DonnKey opened #5280 "Another phone with the OMX.SEC.mp3.dec bug: SM-G386T"
### Issue description
The bug with not finishing/repeating a file because of a bug in the OMX.SEC.mp3.dec codec repeats with the SM-G386T phone. Another instance of https://github.com/google/ExoPlayer/issues/4519.

### Reproduction steps
Play (some) files with any app when playing an audiobook consisting of multiple files; only the first file plays. Hardware dependent (of course).

### Link to tes

[2018-12-19 17:08] brunoluizcs commented on #5217
Guys, do you suggest some workaround for this problem ?

[2018-12-19 17:15] imecstamas opened #5281 "MultiWindowTimeBar for PlayerNotificationManager"
Hi!

I want to show all the mediaSources of a ConcatenatingMediaSource in a single timeBar as a notification. Do you plan to integrate this support for MultiWindowTimeBar in case of notifications via the PlayerNotificationManager? If not, how can I achieve this?

Thanks,
Tamas

[2018-12-19 17:52] ebr11 commented on #5096
Unfortunately, that does not appear to work.  Have you discovered why this isn't working normally?

[2018-12-19 17:54] ojw28 commented on #5096
No. I think it's a complicated issue though. I think we need nVidia to chime in.

@sureshcnvidia - Can you comment?

[2018-12-19 18:25] ojw28 commented on #4519
Reopening to try and better understand the extent of the problem [Internal tracking ref: 121260468].

[2018-12-19 18:30] ojw28 commented on #5280
Closing this as a duplicate of the original issue, which I've re-opened. We'll add SM-G386T to the blacklist, and adjust the blacklist to also cover variants of the listed devices. I'm not sure if "T" does stand for "T-Mobile", but it is true that there are other SM-G386X variants (for different values of X), and that they probably all have the same issue. Similar rules likely apply for the other

[2018-12-19 18:30] #5280 closed, assigned to ojw28

[2018-12-19 18:32] ojw28 commented on #4519
TODO:
1. Add SM-G386T to the blacklist.
1. For each model currently in the blacklist, check for variant model names and make sure they're also blacklisted (using `startsWith` rather than `equals` is probably a good idea).
1. Follow up with Samsung.

[2018-12-19 20:07] noamtamim commented on #4468
@ojw28 does Google plan to make [ExoPlayer's OEM testing](https://google.github.io/ExoPlayer/oems.html) a mandatory part of Android certification? That should make sure this list doesn't get any longer...

[2018-12-19 20:17] DonnKey commented on #5280
Thanks Oliver. That'll be fine. Any guesses as to when a release will be
made with this family of changes in it?

Now that I have your contact info: your page
https://medium.com/google-exoplayer/howto-2-depend-on-a-local-checkout-of-exoplayer-bcd7f8531720
is close to right but I think the ground has changed a bit underneath it.
Definitely gradle is complaining about using "compile" rather than
"im

[2018-12-19 20:32] izderadicka opened #5282 "How to create AudioProcessor to boost volume"
I read issues #3657 where @andrewlewis  is saying that to increase volume above normal limits  one should implement custom AudioProcessor.

I've made couple of test, but not sure how to implement it, key problem is that input PCM data (16 bit PCM) into my AudioProcessor are already normalized to 16 bit range (so values are already in range 32768 - 32767) , so there is no space to increase amplitud

[2018-12-19 20:39] okycelt commented on #5003
@tonihei Could you keep us posted about the progress please? This si quite a blocking issue for us as a lot of our customers are waiting for this to be resolved to launch their service. I’m really sorry for pushing but we’re under quite a pressure.

[2018-12-19 20:55] ojw28 commented on #5280
I think it's generally pretty well understood that blog posts are written once and are accurate at the time of writing. We need to get better documentation elsewhere for things like this, which we should keep up to date, but I don't think we're ever going to be going back and updating blog posts in any significant way.

[2018-12-19 20:57] ojw28 commented on #4468
A subset of the tests you refer to are already a mandatory part of Android certification, including the one covering this issue.

[2018-12-19 22:02] paf-wv commented on #4825
Sorry for the delayed response.
ACK the need to answer the workaround question.  Have that discussion going internally now.

[2018-12-19 22:23] ojw28 commented on #5003
We're already keeping you posted about progress.

If it's not a hardware/manufacturer issue, or at least something unusual or different about this particular device, then the same issue would reproduce on all other devices as well. Given this isn't the case, I'm finding it difficult to understand what logic you're using to come to this conclusion.

Other pieces of software not having the same issu

[2018-12-19 22:31] ojw28 commented on #5003
To put it another way, it seems reasonable to ask a device manufacturer why a piece of software that works fine on nearly all other devices doesn't work on their hardware, and to expect them to provide a response to this specific question. An acceptable response would be one that states what that piece of software is doing wrong in its interactions with the underlying platform (that other devices

[2018-12-19 22:43] CatalystNZ commented on #867
Hi @sanketmthakare, if you post a specific question on stackoverflow with a bounty, I can provide code for you. You would need to be quite specific about how you want your layout displayed, and the behavior you want. It's recommended not to play video while scrolling, and not to play video while the Player is being resized.

Try to provide as much information as possible if you, or anyone else, ne

[2018-12-20 00:54] #5251 closed, assigned to tonihei

[2018-12-20 01:05] qjh5606 commented on #5267
@tonihei
when I call the
`concatenatingMediaSource.addMediaSource(
    newIndex, newMediaSource, () -> player.seekToDefaultPosition(newIndex));`
on the `onPositionDiscontinuity`

The screen will be black for a short time then it start to play the MediaSource that I just added.
How can I fix the  black problem?

Here's what I do on  onPositionDiscontinuity:

`
player.addListener(new Player.EventLis

[2018-12-20 02:48] crashTestGitHub opened #5284 "Unexpectedly large number of "finalize() timed out after xx seconds" crash while playing video ads with ExoPlayer"
I'm using the Google Mobile Ads SDK in my Android apps to request and display interstitial ads. The ads SDK is using ExoPlayer for video playback. Recently I've noticed an unexpectedly large number of this crash: http://crashes.to/s/9f68c47e186 .

This "finalize() timeout" crash is a well-known issue on Android (explained here https://stackoverflow.com/questions/24021609/how-to-handle-java-util-co

[2018-12-20 05:03] HardikChauhanSA commented on #5048
Hello

Anyone can please check this and let me know??

[2018-12-20 05:04] HardikChauhanSA commented on #5257
Hello

Anyone can please check this and let me know??

[2018-12-20 07:46] noamtamim commented on #4468
That's what I was hoping for, thanks.

[2018-12-20 07:57] okycelt commented on #5003
@ojw28 Device manufacturers are usually not helpful in this way as they don't understand ExoPlayer at all, or worse, don't want to understand it. That's why we're asking you for help, because you guys know what you're doing. If not a fix, we were hoping you could at least give us a hint what approximately could be the issue so we can forward it to the device manufacturer.

[2018-12-20 09:22] KazumiHARADA commented on #5256
I think so too, so I've sent fix request to support of broadcasting service.
However, we hope to fix the issue as soon as possible.
Therefore, temporarily fix on ExoPlayer, by following code, we can resolve this issue.
Please take a look this code and tell me your opinion.

`DefaultDashChunkSource.java`
[code]

[2018-12-20 10:27] andrewlewis commented on #5284
Looking at the error report, in particular `com.google.android.gms.ads.internal.webview.v.finalize() timed out after 20 seconds` and the frames under `com.google.android.gms.ads.exoplayer1` I think this is a bug in the ads SDK and not ExoPlayer.

I'm going to close this now as I don't think going through details of memory allocation is going to be an efficient way to resolve the issue, so this isn

[2018-12-20 10:27] #5284 closed, assigned to andrewlewis

[2018-12-20 11:20] adrixgc opened #5285 "DASH YouTube Live stream stops after 5 seconds"
### Issue description
ExoPlayer 2.9.2 stops after playing 5 seconds in YouTuve live video

### Reproduction steps
Using the ExoPlayer demo app, change the media.exolist.json "YouTube DASH" first link (Google Glass) to the following url:
https://manifest.googlevideo.com/api/manifest/dash/ei/HnMbXJawLJG_VKu7o8AI/id/gld7L9HSHzI.1/gcr/es/as/fmp4_audio_clear%2Cwebm_audio_clear%2Cwebm2_audio_clear%2Cfmp

[2018-12-20 11:27] ojw28 commented on #5285
The manifest (in particular the way it updates) isn't valid.

[2018-12-20 11:31] adrixgc commented on #5285
Any idea on how to overcome this issue? YouTube native app is able to reproduce the video seamlessly with this same MPD file.

[2018-12-20 11:51] tkbdragin commented on #5277
I have already tried invalidating caches - didn't help.
When I change Exoplayer version in gradle, nothing else changes thus constraint-layout should be (and is) present all the time.

[2018-12-20 12:04] ojw28 commented on #5285
Do you have a legitimate use case? My understanding is that YouTube only provides streams for its own clients.

[2018-12-20 12:06] ojw28 commented on #5277
I'm not sure, in that case. I still don't think this is an ExoPlayer issue. We've not had any other reports of this problem either, which very much suggest that it's something specific to your app or development setup. I don't think there's anything we can really do to help, unless you're able to provide us with complete reproduction steps.

[2018-12-20 12:08] ojw28 commented on #5256
Closing as bad media. Reviewing app specific code is outside the scope of this issue tracker.

[2018-12-20 12:08] #5256 closed, assigned to ojw28

[2018-12-20 12:19] ojw28 commented on #5003
I don't think they really need to understand ExoPlayer. This is a bit hypothetical, since without knowing exactly what the issue is it's not possible to be sure, but I suspect the problem (or whatever is unusual/different about this platform compared to others) lies somewhere after the point where ExoPlayer feeds buffers to the video decoder. The path from there to video being displayed on the scr

[2018-12-20 12:49] #5145 closed, assigned to andrewlewis

[2018-12-20 13:29] droidwave commented on #5277
The complete tutorials ExoPlayer
https://androidwave.com/video-streaming-exoplayer-in-android/

[2018-12-20 13:31] droidwave commented on #5275
Very Easy you just hide and show progress bar inside frame while the video is buffering
https://androidwave.com/video-streaming-exoplayer-in-android/
[code]

[2018-12-20 13:55] tonihei commented on #5281
That's a duplicate of #4868.

[2018-12-20 13:55] #5281 closed, assigned to marcbaechinger

[2018-12-20 14:05] jemshit commented on #4800
**Workaround 2:**
Put two layouts in xml for playerViews. Create `playerView` programmatically, then `layout1.addView(playerView)`. If you want to switch:
[code]
If you make layout1 or layout2 invisible, gone, then audio of `playerView` will be muted, so be careful. You might play with scaleX, scaleY (maybe fade) layouts while switching for smooth transition etc...

[2018-12-20 14:18] ojw28 commented on #4253
My understanding from this thread is that splitting the cached files into multiple folders improves performance, even though the total number of files present is the same (actually slightly greater, if you count the additional directories as files).

If that's the case then we can simply shard the cached files between a number of directories, or in an approximately balanced tree of directories. Th

[2018-12-20 14:56] marcbaechinger commented on #5281
The options of UI elements you can put in notifications is quite limited. There is no way to put arbitrary UI elements in a notification as far as I know. Instead actions are defined which then are rendered by the system in the notifications as buttons.

[2018-12-20 15:50] kvillnv commented on #4253
@ojw28 I had up to 250 folders for a total of 500GB. Largest folders were containing up to 5GB splitted in 2000 files. Performance is optimum.
Using a usb HDD@5400rpm on an average performance Android TV device.

Also, having one piece of content per folder has another advantage: the folder can be deleted before launching a removeAction in the DownloadService so that the deletion is done instantly

[2018-12-20 16:43] luizguilhermefr commented on #5275
@droidwave The problem is that I don't have this spinner.

In the example you gave, a separate spinner is declared within the view, so it can be hide and showed. In my case, an undesired spinner is shown. I'd like to know how to hide it, as I already tried declaring a custom XML for the player and to disable the entire controls. The spinner keeps over my video.

Here is the custom XML I am using f

[2018-12-20 16:53] ojw28 commented on #4253
Thanks for the information!

We're aware of the benefit, but the approach doesn't fit nicely with (non-download) caching use cases. In particular:

* Having a separate cache instance for each piece of content doesn't fit with the idea of a cache eviction policy, which you'd normally want to work across all cached content.
* Having a single cache instance that still puts each piece of content into

[2018-12-20 17:06] ojw28 commented on #5275
Are you certain the spinner is coming from ExoPlayer code? It looks pretty clear from our `PlayerView` code that we wont display the buffering spinner unless application code has specifically enabled it (by calling `setShowBuffering`).

[2018-12-20 17:55] luizguilhermefr commented on #5275
@ojw28 I inspected the layout via Android Studio. Here is what I've found. There is a `exo_progress_view` with a `progress_bar` child.

![image](https://user-images.githubusercontent.com/6135939/50301849-89b91580-046f-11e9-97db-0ac8d84d0dd8.png)

[2018-12-20 18:38] ojw28 commented on #5275
I don't think we have any views with those ids (`exo_progress_view` or `progress_bar`) anywhere in the ExoPlayer library. Searching Google, it seems such views exist in [this SDK](https://github.com/sambatech/player_sdk_android). Are you using it? If so, your issue is with the SDK, not with ExoPlayer. If not, can you point to anywhere in the ExoPlayer codebase from which you believe these views co

[2018-12-20 19:17] luizguilhermefr commented on #5275
Yes, I am using along with the ExoPlayer itself. I have the raw ExoPlayer and this other player for other scenarios. I'd never think other library would be the problem. Thank you very much!

[2018-12-20 19:17] #5275 closed, assigned to ojw28

[2018-12-20 21:13] ojw28 commented on #4253
It's also likely we can just make fewer cache files in the first place for some use cases.

[2018-12-20 21:44] ojw28 commented on #5136
This will be included in 2.9.3. I tested the change above with an HLS download consisting of 1125 segments, and removal time was reduced from ~16 seconds to ~250 ms.

[2018-12-21 01:56] joechan-cq opened #5286 "Audio and video asynchrony on Android L"
### Issue description(the same as [issue](https://github.com/google/ExoPlayer/issues/3368))
On Android L, video is frozen with the later frame but audio is playing asynchrony. when the position of audio is equal to the position of the video, the video resumes.

Above Android L, it's ok.

### Reproduction steps
play video in a normal activity, then pause the video and touch home button to return to

[2018-12-21 02:16] marcochin opened #5287 "Video buffers ahead of time in demo app, but very slow buffer in my app (Jellybean)?"
So when an hls video or any video is playing, the video should buffer ahead of time and when playback position catches up to the buffer position the video should buffer some more. This is observed in the demo app with the same hls stream, but in my app once the the playback position catches the buffer position it doesn't buffer anymore/has slow buffer, making the video enter the buffering state fr

[2018-12-21 05:06] thesquare12 opened #5289 "Access to ExoPlayer from the main thread of another process"
I want to update the Exoplayer version from 2.5.3 to 2.9.2.
I have encountered the following logs:

Player is accessed on the wrong thread. See https://google.github.io/ExoPlayer/faqs.html#what-do-player-is-accessed-on-the-wrong-thread-warnings-mean

As is known, access to ExoPlayer is through the main thread.
Probably because my app is using multi process. (Podcast App)
Calling Looper.getMainLoop

[2018-12-21 06:49] SystemRestored opened #5290 "Blue screen on android box"
Hello I am using exoplayer 2.7.2 and currently facing some issues in android box AlfawiseA8   oreo 8.1
Screen coming blue layer on playing but its gone while the control view is open. I cant figure out the issue can anyone help? I am using default exoplayer demoapp code.
https://tinypng.com/web/output/mtacqwc0j33p5abzjtjxgekyvg6jh6h6/bluescreen.jpg

[2018-12-21 07:35] hsahnv commented on #2250
Is there any plan about this?

[2018-12-21 08:40] Romantic-LiXuefeng commented on #2826
@ojw28  Reselect tracks manually when playing HLS stream ,and then decoder instances re-init. Whether reuse decoder instances at this situation is feasible？

[2018-12-21 09:05] tonihei commented on #2250
@hsahnv No current plans to support that. As described above, you can implement such a feature yourself by customizing AdaptiveTrackSelection.

[2018-12-21 09:10] tonihei commented on #5289
Can you try accessing the player from one of the processes only? I suppose there must be some interprocess communication anyway, so it would be good if the second process could just forward all commands and requests to the player on one process and the answer (if needed) gets returned to the requesting process.

[2018-12-21 09:11] tonihei commented on #5289
By the way, we always had the requirement that the player needs to be used from one thread, we now only started to warn users if they use ExoPlayer from another thread as this may cause unexpected exceptions.

[2018-12-21 11:03] erdemguven commented on #5278
Please give more details, you can share some code as well.
What kind of encryption do you use?

[2018-12-21 11:30] erdemguven commented on #5279
You can set scrubber_drawable attribute of the DefaultTimeBar when used in a layout XML file.
Currently it isn't possible to change the drawable on the fly but perhaps using a custom drable you can change the bitmap.

[2018-12-21 11:47] HardikChauhanSA commented on #5257
Anyone to reply on this???

[2018-12-21 11:47] HardikChauhanSA commented on #5048
Anyone to reply on this???

[2018-12-21 12:15] tonihei commented on #5003
Thanks for your patience! We were able to reproduce the problem now and also found a workaround :)

It looks the issue is a bug in the "OMX.amlogic.avc.decoder.awesome" decoder on these devices, which clearly is a manufacturer issue. All players using this decoder fail in the same way (ExoPlayer, VLC with acceleration, Kodi.TV) whereas all players which are using something else work fine (MediaPla

[2018-12-21 12:56] erdemguven commented on #5290
Do you mean video appears normal when the control view is visible?
Does the problem occurs on all streams? If not please specify the stream name.
Also please provide a bug report:
### A full bug report captured from the device
Capture a full bug report using "adb bugreport". Output from "adb logcat" or a
log snippet is NOT sufficient. Please attach the captured bug report as a file.
If you don't w

[2018-12-21 13:19] tonihei commented on #5267
The black screen is visible because you seek to another source and the content needs to buffer first before we can continue playback. What would you expect to be visible during that time?

[2018-12-21 13:26] qjh5606 commented on #5267
@tonihei
It would be very nice if the screen render the previous MediaSource's last frame which make it seamless/gapless visually.

[2018-12-21 13:49] unext-wendong opened #5291 "Possible file descriptor leaks in local file playback"
The behavior and the use case is similar to: https://github.com/google/ExoPlayer/issues/1066. However it happens on the current latest version r2.9.2 + Android 7.0 (original found it using r2.8.2 + Android 7.0).

In our use case, we want to playback a set of small local mp4 files in a loop. During our test, we noticed that after around 1 day's running, either the playback freezes or the app crashe

[2018-12-21 14:03] tonihei commented on #5267
If you seek after receiving a `onPositionDiscontinuity` event, you are already in a new media source and the frame that could potentially be displayed is the first frame in the media source which is not going to be played, but that doesn't seem to make much sense.

If your intention is to play this new item after the previous one (which played before receiving the `onPositionDiscontinuity` event),

[2018-12-21 14:04] #5200 closed, assigned to erdemguven

[2018-12-21 14:05] #5192 closed, assigned to erdemguven

[2018-12-21 14:06] #5285 closed, assigned to ojw28

[2018-12-21 14:12] ojw28 commented on #5289
Isn't that the only way it could work anyway? The object must live in one process or another, not both. To be seeing that warning it must be the case that the player object is being accessed from multiple threads within that single process.

[2018-12-21 14:24] tonihei commented on #5267
Can you try setting the `keep_content_on_player_reset` property of the `PlayerView` to true (or call `PlayerView.setKeepContentOnPlayerReset(true)`). That may help to keep the previous frame visible.

[2018-12-21 14:31] tonihei commented on #5267
Reopened to track improving documentation for this method.

[2018-12-21 15:10] ojw28 commented on #5277
@droidwave - Please refrain from spamming our issue tracker with unrelated content. Thanks.

[2018-12-21 15:17] ojw28 commented on #2826
That doesn't happen when I try, except in the case where the re-selection is selecting a video stream bigger than anything that the decoder was previously configured to play (in this case release and re-initialization is necessary because the existing decoder wont have sufficiently large buffers).

[2018-12-21 15:42] ojw28 commented on #5202
I cannot see this anywhere (either in drive directly, or in email saying that something was shared). What email address are you sharing to? In any case, please double check it's shared with `dev.exoplayer@gmail.com`, and perhaps also send an email to that address with a link to the drive folder. Thanks!

[2018-12-21 16:08] gerardiandrea opened #5292 "Infinite Buffering when the first initialization is with live content"
### Issue description

If I try to play a .m3u8 content the player stays in buffering state, but if I play a .mp4 content and then try to play the same .m3u8 content it plays correctly.

I have this bug with the ExoPlayer version > 2.8.4 but with the 2.8.4 I don't have this problem

[2018-12-21 18:24] ckchamara commented on #5259
Thank you for response. you are correct. i also tested on other devices and they are just doing fine...then downloaded other apps that use ExoPlayer and tested on that failed device. none of the apps working properly.

[2018-12-21 19:06] jandresakis commented on #5136
@ojw28 thanks for the early christmas gift ;)

[2018-12-21 19:47] tipoc123 opened #5293 "FfmpegAudioRenderer doesn't skip incorrect frames but fails"
### Issue description
I use ffmpeg extension. Player hangs up (at missed frames) if we use FfmpegAudioRenderer. But player behaves correctly (shows only artifacts and continues to play further) if we use MediaCodecAudioRenderer.

I recorded videos:
FfmpegAudioRenderer - https://yadi.sk/i/MiRAgs7ovRQ74g
MediaCodecAudioRenderer - https://yadi.sk/i/JBo-YWlR8LdLzA

Logcat shows:
[code]

### Link to te

[2018-12-21 20:30] alezhek opened #5294 "ExoPlayer repeat toggle"
Hello everyone!

I have some problem with exoplayer exo_repeat_toggle.
How I can change the icon of this id(exo_repeat_toggle)?

`<ImageView
    android:id="@+id/exo_repeat_toggle"
    android:layout_width="16dp"
    android:layout_height="20dp"
    android:layout_marginTop="134dp"
    android:layout_marginEnd="20dp"
    android:layout_marginRight="20dp"
    android:clickable="false"
    android:f

[2018-12-21 21:08] Arayldan opened #5295 "AndroidTV STB : Incorrect volume in tunneling mode"
### Issue description
When I play a live DASH stream in tunneling mode on an AndroidTV STB, it always ignores the STB volume (i.e. plays at 100% volume) until I increase or decrease the STB volume. Then the STB volume will be ignored again after a few seconds or a pause/resume.

### Reproduction steps
1. Add tunneling in the ExoPlayer demo app.
2. Set your STB volume to around 5%.
3. Play the DASH

[2018-12-22 00:40] okycelt commented on #5003
@tonihei, @ojw28 Thanks a lot for your support! It seems like the workaround works.

On our side, changing those values does the trick as well. The video quality seems considerably better after the workaround.

I'm not sure if we are able to narrow the problematic devices down much. We have received several Amlogic devices from various STB vendors since we've reported the issue and all of them hav

[2018-12-22 01:40] PascalTang commented on #5278
[code]

[2018-12-22 01:55] PascalTang commented on #5278
Like this .
I will get response like
"Hf9yOm17dkRzlm3+IsLmMQ== vhYoWoyUR1rIZW7jnlvq00o2LjLe7Wv9+wqNkAsqyQMxqH0ccC3xdCA9U2aVLbo5SMy7Ucj/KSvtHyKi2hak0eQI7YyjuISE8MDBg4SVG5lOzdvcemosWVrV5yaMdypeOpRASR9Bl4Oad4bZmKKYjyOembseT93eKlBnnnHrZVx64e3Hmtu2Fcb5kzsmEQman+Uht8+4VMPA5PtdJi27ol+/s+OlN3Z1ROtBaIptGd63+w8qacQFa9UByXEYvNmWZuOwro28tfhyIk7pXc3qx5uIEeqNg9PvJ/tz3Wq1WPO/g+/l32IHJAtzIorbFQs19LIFkIjqbQeQJzIfX

[2018-12-22 07:24] HappyGhostz opened #5296 "M3u8 failed to play"
Issue description
exo demo can not play my hls live channel.but I can play it  on my cumputer.

Reproduction steps
add a source:`
http://media-ali.wanmen.org/1cf514ed-1f5c-4dfe-8b06-1ac9141cd78d_mobile_low.m3u8?sign=3ef64a296ea2c130cd63ef0c4a3f4a55&t=5c1cd759&r=33ffd0ec907cee57d8fff8fe9de72fb2
`
Version of ExoPlayer being used
2.9.1

[2018-12-22 07:34] HappyGhostz commented on #5296
ExoPlaybackException:com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 301

[2018-12-22 08:18] RichardDivid opened #5297 "Failed to resolve: support-media-compat"
when i add dependency of exoplayer,it occur this error,please help me how to resolve it,thank you.

[2018-12-22 09:53] robindanielk opened #5298 "Unable to create an executable file. C compiler test failed.FFMPEG.."
Hi , I recently tried to add FFMPEG support to ExoPlayer. But I seem to get the above errors.

I have used the following versions during the build:
NDK VERSION : r15C,
GIT VERSION  :  2.20.1,
HOST_PLATFORM="linux-x86_64"

[code]

**Config.log**
[code]

I have already added FFMPEG builds earlier to my projects and they were working fine, but recently when i tried ,i have been getting  these issues.

[2018-12-22 18:59] davidaik opened #5299 "Cannot run app that uses AndroidX with local ExoPlayer dependency"
I have followed the steps to add ExoPlayer as a local dependency to add flac support to my app. When I try to run the app, I get the following error.

`Error: Program type already present: android.support.v4.media.MediaBrowserCompat$CallbackHandler`

I think this is happening because I'm using AndroidX support libraries which are incompatible with those that ExoPlayer depends on.

My app build.gra

[2018-12-22 20:03] DomainFlag opened #5300 "What would be a reliable way to explicily control the playerview with streaming services?"
I am developing an app that uses multiple streaming services like Spotify & Deezer. I am also giving a fallback option for the users that don't have an account to be able to play at least local stored music on their devices in offline mode, thus I am using ExoPlayer for that.

At the moment, I designed a ToolBar where the user is able to control the pause/resume state over the playback of content

[2018-12-23 04:38] gowthamgts commented on #5185
@naguchennai: Please be polite and civil while asking questions towards open source communities. They are not entitled to answer your questions.

[2018-12-23 05:44] davidaik commented on #5299
I got it working.

In my gradle.properties I had the following lines before adding local ExoPlayer dependency.

`android.useAndroidX=true`
`android.enableJetifier=true`

This caused a problem when I tried to build the project after following the instructions at
[https://github.com/google/ExoPlayer#locally](url)

The problem had to do with ExoPlayer not using AndroidX libraries. To resolve this, I

[2018-12-23 05:55] gowthamgts opened #5301 "ExoPlayer manipulate notification based on Playerstate"
### Issue description
How can I make the exoplayer notification dismissable when the player is paused and then make it a foreground service when it it resumed? Here are my questions:
1. https://github.com/google/ExoPlayer/issues/4256#issuecomment-388936681: How can I start a foreground service by using `startForeground` inside `onPlayerStateChanged`? Is there a way to retrieve notification object

[2018-12-23 07:22] davidaik commented on #5299
The get the aar file, you have to do Build > Rebuild project in Android Studio. I did so many things trying to get things work so what I've written may not be exact. Others who encountered the same issue might have to do some tinkering of their own. The build process fails before completion but you'll get your aar if you're lucky.

[2018-12-23 13:57] davidaik opened #5302 "Calling ExoPlayer.next() leads to new audio session ID every time"
I'm using `SimpleExoPlayer` and `ConcatenatingMediaSource` in my app.

Calling `next()` at any time on the ExoPlayer instance leads to a new audio session being generated and my attached equalizer and other audio effects are not working any more. I could work around this by re-initializing my equalizer every time the audio session id changes, but I don't think a new audio session ID should be gene

[2018-12-23 14:01] davidaik commented on #5302
To confirm that a call to `next()` was indeed causing a new audio session id to be generated, I tested using the following code.

`private Runnable testRunnable = new Runnable() {`
    `@Override`
        `public void run() {`
            `if(mExoPlayer.hasNext())`
                  `mExoPlayer.next();`
        `}`
`};`

And somewhere,
    `mHandler.postDelayed(testRunnable, 5000);`

[2018-12-23 18:25] izderadicka commented on #5282
I've made another attempt - now going to platform LoudnessEnhancer AudioEffect, which will be applied after exoplayer AudioProcessors.    I have simple code below plugged to player
[code]

and it's plugged to player like this:
[code]

But this also does not work - the result is that track in initially boosted for second or two (but not always) and  then volume returns to normal level.  Not sure wh

[2018-12-23 22:01] erdemguven commented on #5291
I found someone reported a similar [issue](https://translate.google.co.uk/translate?hl=en&sl=ru&u=http://qaru.site/questions/15827460/exoplayer-281-too-many-open-files-anoninodesyncfence&prev=search) for Exoplayer 2.8.1.

[2018-12-23 22:11] erdemguven commented on #5292
Have you tried to play the same content using ExoPlayer demo app. If the same thing happens using the demo app, please provide a link to test content:
Provide a link to media that reproduces the issue. If you don't wish to post it
publicly, please submit the issue, then email the link to
dev.exoplayer@gmail.com using a subject in the format "Issue #1234".

[2018-12-23 22:16] erdemguven commented on #5294
This issue looks like a general question about Android development. We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow.

[2018-12-23 22:20] erdemguven commented on #5295
Does it just happen for live DASH content but not for any other type of content?

[2018-12-23 22:51] erdemguven commented on #5296
You need to set allowCrossProtocolRedirects to true while creating DefaultHttpDataSourceFactory. For the demo app, you can change the buildHttpDataSourceFactory in DemoApplication.java to:
[code]

[2018-12-24 01:40] Romantic-LiXuefeng commented on #2826
Dose this mean re-selection from low bit rate video stream to high bit rate video stream?

@ojw28
 Whether I switch from high bit rate to low bit rate or from low bit rate to high bit rate, The video decoder instances always needs [release](https://github.com/google/ExoPlayer/blob/71f72c59537711399dc5496136dd6b867acc6d77/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInterna

[2018-12-24 08:59] #5296 closed, assigned to erdemguven

[2018-12-24 09:00] HappyGhostz commented on #5296
thank you

[2018-12-24 09:06] HappyGhostz opened #5304 "M3u8 failed to query underlying media codecs"
Issue description
M3u8 failed to query underlying media codecs in oppo R15. Is there any good solution for this now?

 Version of ExoPlayer ：
2.9.1
devices and Android versions：
oppo R15
 Android versions :8.1.0

[2018-12-24 09:27] gerardiandrea commented on #5292
Thanks, I have the same problem with the ExoPlayer demo app. It is worked only after a few minutes of buffering.
I have send to email the test url

[2018-12-24 09:59] michalliu commented on #2159
Hi guys. I'd like to let you know we have implemented hevc software decoder using OpenHEVC, we are ready to submit a merge request soon.

[2018-12-24 10:00] michalliu commented on #2159
The repository is located at https://github.com/michalliu/exoplayer2-hevc-extension

[2018-12-24 10:48] tonihei commented on #5302
That happens because the decoders are reset when calling next(). We already implemented a change which should prevent this from happening. @ojw28 may be able to comment further.

[2018-12-24 11:12] loredana2314 commented on #5003
Thanks for your support! @tonihei  Just to make sure about which values are to be changed since I don't have access to  [this ](https://github.com/google/ExoPlayer/blob/dev-v2-r2.9.2/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java) : you are referring to maxWidth = Math.max(maxWidth, streamFormat.width) and maxHeight = Math.max(maxHeight, streamFormat.he

[2018-12-24 11:45] ghost0906 opened #5305 "ffmpeg extension, but compile failed."
I want to use the extension of ffmpeg.
I did everything according README.md except the last step, cd "${FFMPEG_EXT_PATH}"/jni && \
${NDK_PATH}/ndk-build APP_ABI="armeabi-v7a arm64-v8a x86" -j4.
The error message as below:
mkdir: cannot create directory `/libs': Permission denied
[armeabi] Prebuilt       : libavcodec.so <= ffmpeg/android-libs/armeabi/

Who can help me ?

[2018-12-24 11:57] andrewlewis commented on #5305
The `libs` directory should be under the ExoPlayer checkout in `extensions/ffmpeg/src/main/libs`. Please check you are running the command from the right place and have followed all of the steps in the readme carefully.

[2018-12-24 11:57] #5305 closed, assigned to andrewlewis

[2018-12-24 12:06] michalliu commented on #5079
What's the error message?

[2018-12-24 14:36] jemshit commented on #2083
minBufferMs=30000L
maxBufferMs=30000L

[2018-12-24 15:04] sneltyn commented on #5240
@tonihei, thank! Perhaps you are right and the problem that is fixed above. If it appears then I will inform you.

[2018-12-24 15:13] lobothijau opened #5306 ""Playback Notifications with ExoPlayer" Medium Article is not Working"
I use ExoPlayer in my project and would like to add a notification with playback. I'm following this medium article https://medium.com/google-exoplayer/playback-notifications-with-exoplayer-a2f1a18cf93b but got stuck in creating the `DescriptionAdapter`.

![screenshot from 2018-12-24 22-11-24](https://user-images.githubusercontent.com/34962330/50402389-e64a6680-07c8-11e9-9368-39172e2f1c94.png)

It

[2018-12-24 15:32] morkovkin opened #5307 "custom Aes128DataSource"
Hello! how i can modify Aes128DataSource? i use verimatrix decoder in my httpDataSource and i think it's so hard to understand (i have HashMap in memory with uri key and encryption data object) . I wanna write my custom vmxDataSource with upstream http.
Maybe you could tell me how it could be implemented? Thanks!

[2018-12-24 17:36] sergejsha opened #5308 "AudioTrack-JNI: audioTrack continuously zero data counter"
After migration from `v.2.8.4` to `v.2.9.3` playback of some mp3-files causes appearance of the following two lines in logcat repeatedly:

[code]

There are no hearable issues with playback and no exceptions, just those two lines spamming the logcat output. Is this anything known? Is this anything to be fixed? Should I maybe apply some special configuration to ExoPlayer to get rid of those message

[2018-12-24 20:05] giladna commented on #5202
done

[2018-12-24 22:37] sneltyn commented on #5240
@tonihei, I caught the same problem as in this ticket.

**Stack trace:**

[code]

**ExoPlayer:** 2.9.2

I can make a demo in which this problem manifests itself.

[2018-12-25 00:48] ghost0906 commented on #5305
I tried all of the steps in the readme many times, but it still shows the same error:
mkdir: cannot create directory `/libs': Permission denied
make: *** [/libs/armeabi-v7a] Error 1
make: *** Waiting for unfinished jobs....
[armeabi-v7a] Prebuilt       : libavutil.so <= jni/ffmpeg/android-libs/armeabi-v7a/

The Exoplayer version is 2.6.0, I download the zip from the website and unzip it on my linu

[2018-12-25 00:49] ghost0906 commented on #5305
I tried all of the steps in the readme many times, but it still shows the same error:
mkdir: cannot create directory `/libs': Permission denied
make: *** [/libs/armeabi-v7a] Error 1
make: *** Waiting for unfinished jobs....
[armeabi-v7a] Prebuilt       : libavutil.so <= jni/ffmpeg/android-libs/armeabi-v7a/

The Exoplayer version is 2.6.0, I download the zip from the website and unzip it on my linu

[2018-12-25 07:25] ghost0906 opened #5309 "Some problems for ExoPlayer play avi/rmvb video."
I built a new instance of extractor with native ffmpeg to play the unsupported  format video such as avi and rmvb. setDataSource to native ffmpeg, and get demuxed packets form native.
But there are some questions:
1. The avi video packet has no pts, so the exoplayer can't sync and output the images, Should I need to change the pts in native?
2. Exoplayer plays some video with Mp3Extractor  in **se

[2018-12-25 09:04] ghost opened #5310 "ContainerMediaChunk created for same chunkIndex"
I am printing to Logcat the chunkIndex at the first line of ContainerMediaChunk constructor and i got this result:

2018-12-25 10:58:03.704 27031-28049/com.google.android.exoplayer2.demo :chunkIndex= 0
2018-12-25 10:58:04.574 27031-28049/com.google.android.exoplayer2.demo :chunkIndex= 1
2018-12-25 10:58:05.245 27031-28049/com.google.android.exoplayer2.demo :chunkIndex= 2
2018-12-25 10:58:05.247 27

[2018-12-25 10:08] tonihei commented on #5310
You are probably seeing the chunks for audio and video being loaded in parallel. Note how each index appears exactly twice and they are never actually decreasing.

[2018-12-25 10:12] tonihei commented on #5240
That would be great! If you have a demo to reproduce the problem, we can probably find out what's wrong.

[2018-12-25 10:43] tonihei commented on #5240
Just found a potential problem: It looks like we are accessing the player from the wrong thread internally when creating the message to notify the listeners about updates in the playlist. Even though we should fix this, I'm not sure whether this can cause the stack traces posted above.

[2018-12-25 10:57] noamtamim opened #5311 "[Demo app] Add networkSecurityConfig to allow http connections on Android Pie"
Since Android Pie, an application has to explicitly list the domains to which it can connect via insecure http. The demo app is commonly used to diagnose playback issues, and at least in development period it's very common to host assets and/or the DRM server on insecure servers.

It's easy to add, but it would be nice if it worked out of the box (or, at least, I'd just have to add my domain to th

[2018-12-25 11:49] sssprog opened #5312 "ExoPlaybackException, codec init failure"
### Issue description
ExoPlaybackException. Issue happens on Huawei P10 lite with android 8.0. Device name HWWAS-H. Model name WAS-LX1. Code name passed to `codecNeedsSetOutputSurfaceWorkaround` is OMX.IMG.MSVDX.Decoder.AVC

When we return `true` in `codecNeedsSetOutputSurfaceWorkaround` for this device no exception happens.

I guess this device needs the workaround.

### Reproduction steps
We hav

[2018-12-25 15:22] sneltyn commented on #5240
@tonihei, ok, I'll post a demo soon.

[2018-12-25 16:44] SystemRestored commented on #5290
Its happening to every streams on that device. Sample video: https://www.youtube.com/watch?v=lsYJD0CLx-w   but other app having no issues.

[2018-12-25 17:38] dmytro-ostapovets opened #5313 "Hls adaptive streaming not working for audio only"
### Issue description
Hls adaptive streaming not working with our Audio tracks (Hls file doesn't contain Video track)
We tested Exoplayer demo app, just replaced Hls source by our link.
Player always selects default stream with BANDWIDTH=140800, and never switches to BANDWIDTH=281600, tested on wifi connection.

### Reproduction steps
Just replace HlsSource link in demo app:
`      case C.TYPE_HLS

[2018-12-26 03:23] ghost0906 opened #5314 "Decoder mp3 failed with Error 0x80001001"
### Issue description
Use exoplayer play a video with audio format "mp3". The error logsas belows:

[code]

### Reproduction steps
Just play the video.

### Link to test content

### Version of ExoPlayer being used
Ver. 2.6.0
### Device(s) and version(s) of Android being used
Android ver: 4.4.2

### A full bug report captured from the device
[testav02.log](https://github.com/google/ExoPlayer/files

[2018-12-26 09:52] gowthamgts commented on #5301
Looks like I can do this by constructing the notification myself. Is there any way `PlayerNotificationManager` supports this? It would be great if there are some samples.

[2018-12-26 10:14] Maneesh528 commented on #4140
I am unable to setup Dash Url's and Ima Ads in exoplayer 2.7.3. Can any one help on this

[2018-12-26 10:21] sanketmthakare commented on #867
hello Mark,
i have run your code from this below link:
https://androidwave.com/exoplayer-in-recyclerview-in-android/

It was working fine and i need same functionality. But,  i found  one issue
in the code. Whenever i scroll up down, recycle view became blank.
i will post a question on stack overflow and will share the link. But, i
don't understand why black screen came whenever i scroll. i have n

[2018-12-26 10:36] khahani opened #5315 "When i add dependecies get an error"
This is my build.gradle file:

[code]

And this is the error:

[code]

When i remove ExoPlayer dependencies it's perfectly work.

Help please.

[2018-12-26 14:30] Arayldan commented on #5295
It also happens for non-live DASH content. For example :
[code]

[2018-12-26 22:49] erdemguven commented on #5290
Does this happen on unmodified ExoPlayer demo application?

[2018-12-27 00:05] erdemguven commented on #5260
During downloading we don't want to skip cache that's why the flag set so it's correct.

This issue may happen if the downloaded segments and the streamed segments use different cache keys.

Do you use  a custom CacheKeyFactory?

[2018-12-27 00:22] kvillnv commented on #5260
No, I don't use a custom CacheKeyFactory

[2018-12-27 01:16] thesquare12 commented on #5289
Looper.myLooper() returns null in verifyApplicationThread()

[2018-12-27 01:25] dev-graduan commented on #5297
I've also got this error, any help will be appreciated

[2018-12-27 02:38] SystemRestored commented on #5290
yes on demo app too...

On Thu, Dec 27, 2018 at 4:20 AM Erdem Guven <notifications@github.com>
wrote:

[2018-12-27 04:15] dev-graduan commented on #5297
I managed to solved it by put google() dependencies in first order

[code]

[code]

[2018-12-27 05:04] dishantkawatra commented on #867
Hello sanket

Please use different toro helper it solves your problem
Thanks
Dishant Kawatra

[2018-12-27 06:01] RichardDivid commented on #5297
thank you very much,it's really can resolved it

[2018-12-27 06:13] RichardDivid opened #5316 "How to switch between the original song and the accompaniment like a karaoke"
now i have a demand,use exoplayer to playback mkv file and it has two audio track, one audio track with original and the other is accompanient, it‘s like karaoke,’i will use a button to switch between the original song and the accompaniment, please help me,thank you very much

[2018-12-27 07:56] hacker1024 commented on #4931
I'm using the Adroid Jetpack Jetifier to use AndroidX insteal of the legacy support library. This means in my app, ExoPlayer's using the latest AndroidX library.

[2018-12-27 08:07] unext-wendong commented on #5291
I think I got closer to the root cause. It seems to be related to the timing when the surface of the previous window (i.e. the window before the player window) is destroyed.

By comparing the log of local playback and streaming playback, one difference is that the destroy of the preview window surface (in case of the demo app, it's the SampleChooserActivity's surface) happens after the initializat

[2018-12-27 08:24] unext-wendong commented on #5291
FYI: the change I tried:
[code]

[2018-12-27 12:04] MuVen opened #5317 "ClippingMediaSource doesn't work for some text and metadata formats"
### Issue description
Load a video with a certation duration. Example 3 secs. Load subtitles .srt file which has content till 50 secs. now play the video.

After playing for 3 secs video stops.  But the video duration (exo_position) keeps on updating and the player loads all the subtitles till 50 secs.

Ideally once the video stops, onCueChanged should be called.

[2018-12-28 06:38] ashishbhandari opened #5318 "How to get single Local video resource path with all downloaded chunks by Exo Downloader?"
I am trying to playback all cache downloaded contents which is dowloaded in .exo format in device memory.

I need to get a local path of any previously downloaded video using exoplayer offline lib. I can not use the mediaSource instance used by the downloader because I need to play downloaded chunks in some other third party player which only accepts and understand local video resource file.

As I

[2018-12-28 07:27] meenukrishnamurthy opened #5319 "Offline download speed"
I am using offline download feature like in the demo app.But the download speed is very slow.I have checked in a 4g network.Is there a way i can increase the speed of downloading

[2018-12-28 09:05] davidaik opened #5320 "ExoPlayer can't play particular m4a files"
I am building an offline music player app using ExoPlayer and things are working fine. It can play all m4a files except two particular files that I have.

https://www.dropbox.com/s/mxxwarmf43j5pjc/Unlike%20Pluto%20-%20Someone%20New.m4a?dl=0
https://www.dropbox.com/s/zy6rbllusz1j0r2/Vanic%20-%20Hypnotic.m4a?dl=0

These files can be played on Google Play Music and other music player apps. It also pl

[2018-12-28 12:22] AquilesCanta commented on #5304
You'll need to provide a full bug report (captured with `adb bugreport`) for us to look at this further.

[2018-12-28 12:50] AquilesCanta commented on #5307
Have you had a look at AesCipherDataSource? I think it should provide some guidance on what you want to achieve. Otherwise, it's not clear to me what you need to achieve.

Unless you can narrow down your requirements, we can not help you anymore. You should probably try your luck in Stack Overflow.

[2018-12-28 12:50] #5307 closed, assigned to AquilesCanta

[2018-12-28 13:20] AquilesCanta commented on #5312
Please provide a full bugreport. You can obtain it by running `adb bugreport` after reproducing the issue. Thanks!

[2018-12-28 13:30] xiaoyepadzhang opened #5321 "How to force play the current m3u8 line in the main m3u8 playList"
This issue is not related with any devices, just a usage of exoplayer, Thank you.

My demand is that , I want exoplayer  play the current m3u8(quality) file in the main playList at first loading and switch the quality just by myself.
For example that I have a main m3u8 file like:

`#EXTM3U
#EXT-X-STREAM-INF:BANDWIDTH=451858,AVERAGEBANDWIDTH=135401,CODECS="avc1.42001f,mp4a.40.2",NAME="540p"`
`https