[2017-11-06 06:20] vipulpurohit commented on #3422
Thanks for this detailed response. Now I'm clear that we need to send compressed AC-3 over S/PDIF and need to remove ffmpeg extension.
Inbuilt player and some other player like MX Player are able to play 5.1 channel on same device with same media, so does it mean the device support audio output over S/PDIF?

Is there any way I can find if my device support S/PDIF audio output using exoplayer or an

[2017-11-06 07:52] DavidNguyen2017 commented on #3361
Dear ojw28,

Have any update for this issue.

Thanks,

[2017-11-06 08:10] ojw28 commented on #3361
My understanding was you were going to be removing the additional information, as per your comment above. I'd expect that to fix the issue, so I'm unclear what kind of update you're looking for from our side. Please clarify. Thanks!

[2017-11-06 08:11] ojw28 commented on #3421
The ExoPlayer demo app shows how to switch between the different tracks, so if you're unable to switch at all you should take a look at that as a starting point.

[2017-11-06 08:14] ojw28 commented on #3414
This issue is very confusing. In the previous report it affected all devices. Now it only affects some devices. Are you sure the affected devices aren't broken for `PlaybackParameters(1.5f, 1.5f)` as well? I suspect they're just not able to keep up with the increased playback speed you're setting, but if that's the case the same issue would be present when the pitch is being adjusted too.

I'm rea

[2017-11-06 08:18] ojw28 commented on #3422
@andrewlewis - Would we need to implement [Internal ref: 30828716] to support this type of output? And if so is there a corresponding GitHub issue?

[2017-11-06 08:35] parkjinseok0828 commented on #3414
Sorry confusing.

First Test,(5 days ago)
I tested only one device(LG G PAD 3(LG-V525), OS android 6.0.1)
And I guess that not all devices will work. sorry.

Today,
I had your answer to check out the other device. So I tested other devices as well.

The result,
- exoplayer version - r2.5.4
- Change PlaybackParameters
-> speed - 1.0f ~ 2.0f
-> pitch - 1.0f(fixed)

- Play fail device :
1. LG G PAD 3

[2017-11-06 08:44] ojw28 commented on #3414
So to clarify, this issue has nothing to do with the pitch setting. It's simply that playback at faster than 1x speed can result in the video freezing on some devices?

[2017-11-06 08:48] parkjinseok0828 commented on #3414
I tested speed and pitch same setting.
-> speed - 1.5f
-> pitch - 1.5f
speed and pitch same value is LG G PAD 3(LG-V525) device success play.(but helium gas voice.)
I want to setting(pitch - 1.0f(fixed) and speed 1.0f ~ 2.0f).

so,  I guess this issue that speed and pitch no same value setting.

Please refer to my previously attached file.(speed_video.zip)

Thank you.

[2017-11-06 08:55] ojw28 commented on #3386
Please also provide a full bug report shortly after encountering the issue (as requested in our issue template).

[2017-11-06 08:58] noamtamim commented on #3257
@ojw28 a customer has reported this exact issue on two other Samsung devices:
- Another variant of A5 (`SM-A510FD`)
- J7 (`SM-J700F`)

We don't have those devices in our possession, but if a workaround is possible we can forward the version to the customer.

[2017-11-06 09:10] ojw28 commented on #3257
* The workaround should already be applied to the SM-A510FD as of `r2.5.4`, since the check we added was `startsWith("SM-A520")`. So if you've picked up that version in your app, I'd expect the issue to be resolved for them.
* I guess we'll add J7 to the list as well :(.

[2017-11-06 09:27] noamtamim commented on #3257
@ojw28 the model (in Build.MODEL) is `SM-A510F`, not `SM-A520`. Your check does not apply. Maybe it should be `startsWith("SM-A5")` (as well as "SM-J7").

Do you have any insights about why this happens?

[2017-11-06 09:30] alonaviram opened #3430 "Crash on 'Lean More' Click - ImaAdsLoader"
I don't have an exact scenario, and it's pretty rare, couldn't reproduce on the demo app.
It's not specific for an ad tag or url.
I guess it's more relevant to old devices - happened to me on -  LG G3 4.42
The `Exception` occurs probably on first install of the app and when the ad is loaded press the 'Learn More' button couple times fast.

this is the stack trace :
[code]

[2017-11-06 09:37] MegatronKing commented on #3386
I have updated the issue and bug report has attached as a link.

[2017-11-06 10:02] ojw28 commented on #3426
I played around with this a little by making a ContentProvider that returns a pipe. It looks like:
* If the content provider sets the length of the `AssetFileDescriptor` then things just work, since `assetFileDescriptor.getLength()` is set.
* If the content provider sets the length to `AssetFileDescriptor.UNKNOWN_LENGTH` then `inputStream.available()` doesn't give us the right thing. It doesn't lo

[2017-11-06 10:13] axet commented on #3426
1) correct
2) inputStream.getChannel().size() - only gives right size when FD is a file. So, it is safe to call for booth pipe/socket/file - it will return zero or correct size, inputStream.available() - only return correct size when FD is a file. So. channel size - is safe to use.

[2017-11-06 10:45] ojw28 commented on #3426
Are you certain `size()` will return 0 or the correct size? It's documented as returning a "current" size, which suggests the value may change.

[2017-11-06 10:56] axet commented on #3426
I read it some where, can not find anymore, I _think_ by "current" they mean size can be changed due to write operations.

[2017-11-06 11:04] ojw28 commented on #3426
Ok, thanks. Can you provide some sample code showing how to create a `ContentProvider` that results in `available()` returning the incorrect value and `size()` returning non-zero? I can reproduce the problem where `available()` returns the incorrect value, but I can't get `size()` to return a non-zero value at the same time.

[2017-11-06 11:07] albertcsm opened #3431 "Occasional playback stuck and rebuffering for live DASH stream with non-uniform segment lengths"
### Issue description
I tried to play a live DASH stream with multiple periods with ExoPlayer demo player. Usually playback stuck after one or several minutes. The player entered rebuffering state and playback resumed after waiting for tens of second (which match with MPD's timeShiftBufferDepth).

There was no error/warning log when the issue happen. If I set a breakpoint in doSomeWork() of ExoPla

[2017-11-06 11:10] ojw28 commented on #3257
Ah. I think SM-A5 might be overly broad (and may also include yet-to-be-released devices). I'll add SM-510 explicitly for now.

[2017-11-06 11:12] axet commented on #3426
Simple. I use ContentProvider urls to extract audio files from torrent/rar/zip archives for my torrent application.

https://gitlab.com/axet/android-torrent-client/blob/master/app/src/main/java/com/github/axet/torrentclient/services/TorrentContentProvider.java

I patched it already. So, it returns AssetFileDescriptor.length, but if you drop such code it ExoPlayer fails again.

In short 1) create p

[2017-11-06 11:23] pawaom opened #3432 "Is it Possible to show only a part of video not the whole video in explayer"
Is it Possible to show only a part of video not the whole video in explayer

I have a video of width 960 and height 540 ratio

I want to show that part staring from left -300 to right 550
and from tom 250-bottom 400

can this be done with exoplayer, I dont want to change aspect ratio, but only display that portion of video that I wish to show

[2017-11-06 11:25] ojw28 commented on #3431
Please could you try with the `dev-v2` branch? We've fixed a problem there that can cause stuck behavior for multi-period DASH streams in that branch.

[2017-11-06 12:26] albertcsm commented on #3431
The dev-v2 branch looks good, I will keep it running for a while, thanks for your quick response.

[2017-11-06 12:32] stefanomemrise commented on #3379
is there any progress on this? any ETA? thanks

[2017-11-06 13:26] ojw28 commented on #3431
Marking duplicate of #1874. Let us know if you manage to reproduce.

[2017-11-06 13:26] #3431 closed, assigned to nobody

[2017-11-06 14:15] ojw28 commented on #3384
@NitroXenon Please clarify.

[2017-11-06 14:30] AquilesCanta commented on #3392
Hello @mdtuyen, could you check the 4 streams/urls are working/correct? The first 3 return an empty response body with a 200 (which suggests the urls are correct, but the parentheses and wildcards suggest otherwise). The fourth link returns 200 as well, but an HTML page indicating a server error, instead of an HLS playlist.

[2017-11-06 14:38] ojw28 commented on #3384
I think we'll relax parsing to allow playback of this stream. It is broken though (it contains a negative sample delta, where-as the BMFF spec requires sample deltas to be unsigned).

[2017-11-06 14:47] ojw28 commented on #3432
If you output to a `TextureView` then you can crop the video how you like with [setTransform](https://developer.android.com/reference/android/view/TextureView.html#setTransform(android.graphics.Matrix)).

[2017-11-06 14:47] #3432 closed, assigned to nobody

[2017-11-06 14:50] #3366 closed, assigned to nobody

[2017-11-06 15:44] DavidNguyen2017 commented on #3361
Dear ojw28,

Thank you for your information,

But although i had remove additional information, Exoplayer still can not play, in while MX Player, MoviePlayer, VLC play normal
I upload file after remove additional information here, you can download and check it
http://45.119.81.26/dump_input.zip

Thank you very much,

[2017-11-06 16:16] NitroXenon commented on #3384
@ojw28 Sorry for the late response. I guess there are some videos affected. Unfortunately, I don't track what my users have watched in my app and I don't provide the media content, so I'm unable to give you more affected samples. Currently, there are around 1k affected users every day.

[2017-11-06 16:18] NitroXenon commented on #3384
All of the video players and browsers on my laptop can handle this stream actually. It would be great if ExoPlayer can handle it too.

[2017-11-06 16:19] noamtamim commented on #3257
What is the reason for this issue, and why does the workaround work?

[2017-11-06 16:22] ojw28 commented on #3257
Something goes wrong in the decoder when adaptation occurs. I don't have access to the decoder implementation, so it's impossible to say exactly what's broken. Queuing the blank frame likely forces the decoder to better reset its internal state.

[2017-11-06 16:38] ojw28 commented on #3386
This seems to be a device specific issue. We've asked Samsung to take a look [Internal ref: 68935307]

[2017-11-06 16:57] ojw28 commented on #3361
The sample you've attached plays fine on a test device I have (Galaxy S8).

[2017-11-06 17:28] ojw28 commented on #3414
Please test both `PlaybackParameters(1.5f, 1.0f)` and `PlaybackParameters(1.5f, 1.5f)` on the device, again, since there's so much lack of clarity. I cannot see why changing the pitch would make a difference; I'd expect it to work in both cases or neither.

Please also describe clearly what issue you're actually seeing in the `PlaybackParameters(1.5f, 1.0f)` case. Just saying "play fail" is not an

[2017-11-06 17:37] ojw28 commented on #3082
Implementing support for HLS trick play is tracked by https://github.com/google/ExoPlayer/issues/474. It's not something we've had a chance to think about yet, unfortunately. Please follow that issue for updates.

[2017-11-06 17:37] #3082 closed, assigned to nobody

[2017-11-07 00:33] parkjinseok0828 commented on #3414
**- exoplayer version :** r2.5.4
**- playback setting** : PlaybackParameters(1.5f, 1.0f)
**- device** : LG G PAD 3(LG-V525)
**- Attached video file.(play video)**
[speed_video.zip](https://github.com/google/ExoPlayer/files/1448233/speed_video.zip)
- Log
1.  PlaybackParameters(1.5f, 1.0f) Play Fail

[code]

**2.  PlaybackParameters(1.5f, 1.5f) Play OK**

[code]

Thank you.

[2017-11-07 01:45] DavidNguyen2017 commented on #3361
Dear ojw28,

Oh, i am test on AmLogic device and android 7, just hear sound, video do not show(black screen)
What Exoplayer version that you test(release v2)?

Thanks,

[2017-11-07 02:27] schwarzichet commented on #3127
Basically there is no need to use WSL or something else to build it on windows.
For me , just use powershell to setup those environment variable then use NDK to build. The procedure is exactly same .

[2017-11-07 04:00] albertcsm commented on #3431
Unfortunately, the stuck and rebuffering issue still occur

[2017-11-07 07:25] dhanashreeborkar opened #3433 "How to store Dash video in phone storage, while video is streaming in exo player, like youtube app does? Please provide code for the same."
(no description supplied)

[2017-11-07 07:56] s4ns4a opened #3434 "How should I create a ConcatenatingMediaSource containing URIs of video and image files for an exoplayer?"
I have created a concatenatingMediaSource but it skips over the image uris. I know exoplayer doesn't support image files. I am trying to pause and hide the exoplayer when an image uri comes and load the image in an imageview.

[code]
[StackOverflow post](https://stackoverflow.com/questions/47136948/how-should-i-create-a-concatenatingmediasource-containing-uris-of-video-and-imag)

[2017-11-07 09:48] PanCrucian commented on #3188
@tylerjroach can u please present a full code of com.google.android.exoplayer2.extractor.flv.FlvExtractor.class ?

[2017-11-07 10:31] tonihei commented on #3407
I was able to reproduce your issue myself. It's kind of related to the ongoing refactoring of the seek handling, so it's hopefully going to be fixed soon.

[2017-11-07 10:58] ojw28 commented on #3433
This is tracked by https://github.com/google/ExoPlayer/issues/2643. Updates will be posted there when available.

[2017-11-07 10:58] #3433 closed, assigned to nobody

[2017-11-07 11:00] alessandrojp commented on #3342
Hi,

I had the same issue and by changing the `ELAPSED_MILLIS_FOR_ESTIMATE` and `BYTES_TRANSFERRED_FOR_ESTIMATE` I also have been able to make it work during the playback.

But I have another issue in the beginning when it loads the `EXT-X-KEY:METHOD=AES-128, URI` .
This file contains the key to decrypt the segment files, and even if the internet is set to 56kbps, the file has only 10 bytes so it

[2017-11-07 11:39] ojw28 commented on #3361
There's only audio if I play it in VLC too. And `mediainfo` can only see an audio track (see below). If there's video in this file, it's not being declared correctly. This is a content issue, not an issue with ExoPlayer.
[code]

[2017-11-07 11:47] 0c6a183d commented on #3342
Hi Alessandro.

I used DEFAULT_MAX_INITIAL_BITRATE = 64_000;

It provides (forces) the BandwidthMeter with an estimate of available bandwidth when no estimate is available. This is usually the case during in the first few seconds of playback when the BandwidthMeter has not downloaded enough data to get an accurate reading.

I have set mine to 64Kbps (as above) so it will always select a track from

[2017-11-07 12:28] DavidNguyen2017 commented on #3361
Dear ojw28,

Thank you for you information

Here i can play this file with VLC, MX Player, Movie Player on the Android 7, AmLogic device(Android TV Box). I can see video and hear sound too.
And i analyze media information have Video Track, so i do not think content issue.

Thanks,

[2017-11-07 12:33] s4ns4a commented on #3434
@ojw28 Any pointers?

[2017-11-07 13:25] ojw28 commented on #3361
I suspect you're looking at different media than you attached in https://github.com/google/ExoPlayer/issues/3361#issuecomment-342188380, since I'm not seeing that?

[2017-11-07 13:37] rranjithkumar100 commented on #3399
@erikasbulev can you give your answer. I am also face same issue. Thanks

[2017-11-07 13:41] AquilesCanta commented on #3361
Just a thought: Check whether adding an `H265Reader` for PID 258 in `TsExtractor` fixes your issue, @DavidNguyen2017. This is a longshot, but maybe you are using a newer mediainfo version that sniffs all PIDs (the VLC part is otherwise surprising). Possibly, the PMT doesn't include an entry for the HEVC stream that comes on PID 258, which would explain why it is not delivered by ExoPlayer.

If thi

[2017-11-07 14:45] erlangparasu commented on #55
+1 need rtsp support

[2017-11-07 14:49] #2795 closed, assigned to nobody

[2017-11-07 14:50] #3384 closed, assigned to nobody

[2017-11-07 14:50] erikasbulev commented on #3399
@rranjithkumar100  you use player.getCurrentWindowIndex() which tells you which video is being shown (int) and then player.getCurrentPosition()(long) which tells you what position that video is right now.

so if you save state on video2 6th second you get windwo index = 1 and pisition 6000. And then on restore state you tell player which window you were player.seekTo(windowIndex, position);

[2017-11-07 14:50] ojw28 commented on #3426
We pushed a change that should fix this (see above). Please double check. Thanks!

[2017-11-07 14:53] ojw28 commented on #3140
As of the change above, it's possible to configure `SingleSampleMediaSource` to treat load failures in a way that doesn't cause an error to be propagated. @pedromfmachado - Yes that's expected, and your use case is different to the one tracked here. Please file a separate issue.

[2017-11-07 14:53] #3140 closed, assigned to AquilesCanta

[2017-11-07 15:22] tresvecesseis commented on #55
Only to give an update, we want to contribute our RTSP datasource but in order to have an extensible and minimally useful RTSP implementation we had to re-do our datasource, now we are in a point when it can play our unicast M2TS sources but we are including support for multistream sources, RTP streams, ...

The first version will only be tested multiplexed M2TS sources and a Samsung IP camera, in

[2017-11-07 15:23] AquilesCanta commented on #2748
Please give it a try and let us know if it works for you.

[2017-11-07 15:23] #2748 closed, assigned to AquilesCanta

[2017-11-07 15:34] #3426 closed, assigned to nobody

[2017-11-07 15:52] pradeep-vernekar commented on #3350
Exo Player 2+ bitrate filter logic is dependent on device codec capability.
Prior to Exo Player 2, the bitrate filter logic is not based on the device codec and was just checking the resolution and frame rate compatibility.
What is the best way to bypass the CODEC check in Exo Player 2+. is there any risk by doing this?

[2017-11-07 17:05] pradeep-vernekar opened #3435 "MediaCodec reporting the codec’s (avc1.640029) specific profile and level are not supported"
### Issue description
Some high quality renditions that were playable in ExoPlayer version 1.5.9 are no longer playable in version 2.5.4, using the same device and conditions.
Exo Player 2+ bitrate filter logic is dependent on device codec capability.
Prior to Exo Player 2, the bitrate filter logic is not based on the device codec and was just checking the resolution and frame rate compatibility.

[2017-11-07 19:01] jagiellonczyk14 opened #3436 "White screen on sample"
### Issue description
While starting the sample app from
https://github.com/google/ExoPlayer
The same with https://github.com/Nksonsit/Learning_ExoPlayer
The audio is working hovewer video does not (white screen), I had tried to open couple videos, wait for them to buffer, but nothink helps the screen is blank.
### Reproduction steps
Describe how the issue can be reproduced, ideally using the ExoP

[2017-11-07 20:50] SVPA-MaxWu commented on #55
@tresvecesseis I'm interested in testing. Can you share with me the code? Thanks.

[2017-11-07 22:47] harneev opened #3437 "How to get cue points / ad breakers for Google IMA ?"
I want to create a custom seekbar with ad breakers.
Can i do it with Exoplayer r2.5.4 with IMA extension ?
As i dont have access to AdsManager so i cannot get CuePoints. Can i solve this problem with latest version ?

[2017-11-07 23:22] wvpaf commented on #3143
In the most recent logs there is an error which indicates there is a corrupted certificate. Reprovisioning the device may help. The App can force a reprovision; getProvisionRequest and provideProvisionResponse.

[2017-11-08 00:47] DavidNguyen2017 commented on #3361
Dear ojw28,

I analyze same your file

Thanks,

[2017-11-08 00:49] DavidNguyen2017 commented on #3361
Dear AquilesCanta,

Thank you for your information.
So Exoplayer do not support play multi PID same other player? is it correct?

Thanks,

[2017-11-08 03:56] matt4pi opened #3438 "Support crossfading between media items/sources"
It would be nice to be able to transition between MediaSource's with some sort of fade, as opposed the the current hard cut-over.

[2017-11-08 04:36] yqritc opened #3439 "ANR when playing mp4 multiple times with Sony Bravia"
### Issue description
After playing and releasing mp4 content multiple times, the device freeze because of ANR.
This issue can be seen by using the ExoPlayer r2.5.0 or above with demo content, "Dizzy" mp4.
Originally I've found this issue when playing mp4 in asset directory in my app.
By using my local mp4, r2.4.4 does not have this problem, but r2.5.0 or the above get ANR.
( I could not confirmed

[2017-11-08 08:15] mrblrrd commented on #3434
Hi @androidlab! I had the same question https://github.com/google/ExoPlayer/issues/2874 The most correct way to achieve this is to create custom image renderer as pointed by @ojw28. But if you have limited resources/time you can just write a wrapper around SimpleExoPlayer and display ImageView above the TextureView. It's trickier and built on top of callback hell (Player.EventListener, ImageLoader

[2017-11-08 09:45] mayankgarg58 commented on #3310
Hello,

Can you please tell me exact reprodution steps and application used in the issue?

We need to reproduce this issue at our end to fetch more i formation with debug binary.

[2017-11-08 10:35] albertcsm commented on #3431
The playback stuck is resolved in dev-v2.
I still see momentary rebuffering pause of about 0.5s. I will open another issue for this, thanks.

[2017-11-08 10:43] AquilesCanta commented on #3436
We will need more context here. If the demo app has a problem with rendering any kind of video, we will notice. I use a 5x for daily development. Usually emulators are not ideal, but I don't think it is the problem here (though trying a physical device wouldn't hurt, if you have one). Please fill the issue template below, and we will look into it. Note that this is most likely a problem in the app

[2017-11-08 10:43] #3436 closed, assigned to nobody

[2017-11-08 11:08] ojw28 commented on #3431
That's likely to be an issue with your content (e.g. uneven end times of the audio and video representations at the end of each period). Which is the underlying cause of the player getting stuck that we've resolved in `dev-v2`. Please could you take a look at this, and make sure all your representations are of exactly the same duration (and actually contain that duration of media) when each period

[2017-11-08 11:44] jagiellonczyk14 commented on #3436
Honestly I do not know what To add I just dowloaded the sample app and tried to run it, I had not modified It at all.

[2017-11-08 12:33] AquilesCanta commented on #3361
No. ExoPlayer does support multiple PIDs. I have checked the stream, ExoPlayer does allocate an H265 reader for pid 258, so there is no need for you to manually do it.

The h265 stream does not seem to contain any key frames, which likely means that the stream is malformed. @andrewlewis, can you provide insight here? Perhaps some kind of FLAG_ALLOW_NON_IDR_KEYFRAMES is applicable here?

@DavidNguy

[2017-11-08 12:58] dhanashreeborkar commented on #3433
Please provide way to download dash video and play Dash video in offline mode(no internet).

[2017-11-08 13:20] pakerfeldt opened #3441 "Assertion error in SampleMetadataQueue"
### Issue description
This is unfortunately the kind of issues I don't enjoy creating since it's hard for me to gather relevant information but I'll do my best.
During a test session after migrating from ExoPlayer v1 to v2 we noticed one single occurrence of failing assertion here: https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/S

[2017-11-08 13:53] mitchellwit commented on #3322
When can we expect this to be in release?

[2017-11-08 13:58] DavidNguyen2017 commented on #3361
Dear AquilesCanta,

Thank you for your information
I will wait update from you

Many thanks,

[2017-11-08 14:02] zabirtech opened #3442 "Widevine failure on GT-P5210 (DRM_WV_MOD_ERROR_MEMORY_NOT_ALLOCATED)"
### Issue description
After playing DASH content with Widevine protection on device GT-P5210 playback stops after a few seconds.

### Reproduction steps
Describe how the issue can be reproduced, ideally using the ExoPlayer demo app.
1. Start the sample app!
2. Select Widevine DASH Policy Tests (GTS).
3. Play a stream that is WV: Secure video path required (MP4,H264)".

### Link to test content
Tes

[2017-11-08 14:49] ojw28 commented on #3322
It's in 2.6.0, for which there's current a dev branch. We're still finishing off a few bits and pieces to cherry-pick into it, and expect it to be pushed sometime next week (no promises though).

[2017-11-08 14:55] ojw28 commented on #3439
Thanks for the pull request. See one pending comment there. Happy to merge once the workaround is targeted more precisely somehow :).

[2017-11-08 14:57] zabirtech opened #3443 "Forced Reboot when failing to play DASH widevine."
### Issue description
When starting Stream WV:Secure video path required (MP4,H264). Instead of crashing the application the whole device does a forced reboot.
### Reproduction steps
1.Start Exoplayer Demo Sample.
2.Select Widevine DASH Policy Tests(GTS)
3.Play WV:Secure video path required (MP4,H264).
### Link to test content
Test content from Exoplayer Demo.

### Version of ExoPlayer being used

[2017-11-08 15:58] ojw28 commented on #3441
That type of failure is indicative of trying to discard data from the write side of the queue that's already been consumed from the read side. I think the key piece of code is in `ChunkSampleStream`, and looks like:
[code]
The `cancelable` boolean is supposed to evaluate whether it's _possible_ to cancel the chunk and discard what we've already loaded from it on the write side. If the chunk is alr

[2017-11-08 16:40] ojw28 commented on #3441
There was also an edge case where we evaluated `cancelable` to true when it should have been evaluated to false, which was fixed in https://github.com/google/ExoPlayer/commit/d90d04190e3643435fd4b4a3515cbd9fbe784cc1. I think it would only cause a problem if you have embedded sample queues turned on though, which I doubt is the case (the stack trace indicates the failure is discarding from the prim

[2017-11-08 17:48] pakerfeldt commented on #3441
Thank you, this was exactly what we needed. We do indeed send `true` in `onChunkLoadError`, possibly when `cancelable` is false. Now that I read through the javadoc it's pretty clear, somehow we missed that part. Will go through our implementation again tomorrow and report back. Thanks!

[2017-11-08 18:06] gotokyle commented on #3047
@Frydac hi can you plz share how you hardcoded the actual decryption key?
plz reply
thanks

[2017-11-08 18:17] SoroushDMA commented on #3310
@mayankgarg58 You need to have a Widevine DASH content on your server which the L1 security level is enforced. Then try to play the content using Exoplayer with one of the devices I mentioned in the description.

[2017-11-08 18:17] SoroushDMA commented on #3310
@mayankgarg58 You need to have a Widevine DASH content on your server which the L1 security level is enforced. Then try to play the content using Exoplayer with one of the devices I mentioned in the description.

[2017-11-09 06:35] ghost commented on #3375
Hi @botaydotcom, How can we sync audio stream and video stream in async mode?

[2017-11-09 06:42] SagarKhurana opened #3444 "Retry Button in exoplayer is resuming the video but seekbar is getting reset"
I am trying to figure out the issues in many different links but I am unable to find any solution for this.

When device internet goes off and after retrieving the internet connection when I click on retry button, the video does resume, but the seek bar and the start duration gets reset and after that seek bar really behaves abnormally (for ex. if I seek forward 20 mins. it only seeks till 2-3 min

[2017-11-09 07:22] albertcsm commented on #3431
Yes, the endings of audio and video may have difference of about 1/29s. As far as I understand, such difference is due to the different sampling rates in audio and video streams, and so it is inevitable.

I found the DASH-IF-IOP-v4.0 spec (4.3.4.3. Multi-Period Content) mentioned that: _there may be small overlaps or gaps with the Representation at the end of the preceding Period_ and _the playout

[2017-11-09 07:57] zmafox opened #3445 "freescale video decoder need output surface workaround"
Hi:
When I run gts test with on android board with freescale decoder, i found that MediaCodec#setOutputSurface will cause that video decoder could not dequeue buffer from surface.
com.google.android.exoplayer.gts.DashTest#testH264AdaptiveWithRendererDisabling
com.google.android.exoplayer.gts.DashTest#testH265AdaptiveWithRendererDisabling

the test will call MediaCodec#setOutputSurface twice.
as fr

[2017-11-09 08:37] tresvecesseis commented on #55
Yes, we are in the middle of a code refactoring to add Elementary Streams supports to the RTSP datasource (The Samsung camera sends 3 individual streams; video, audio and data), I expect to have it working again next week.

Sergio

From: SVPA-MaxWu <notifications@github.com>
Reply-To: google/ExoPlayer <reply@reply.github.com>
Date: Tuesday, 7 November 2017 at 21:50
To: google/ExoPlayer <ExoPlayer@

[2017-11-09 09:31] ojw28 commented on #3431
I wouldn't expect such a small discrepancy to cause a pause of 0.5s, so if they're really that close then I don't think that's the issue. Are you playing protected content (in which case the pause is probably due to a license round trip time)?

[2017-11-09 09:57] tonihei commented on #3444
Could you tell us which version of ExoPlayer you're using? And what kind of media source do you use - just a single window/period or any kind of multi-window, concatenated media source? In the latter case, have you activated the multi-window timebar or are you using the default single window timebar?

I tested your decsription in the current dev-version and a random piece of media and I wasn't abl

[2017-11-09 10:01] alessandrojp commented on #3342
Thank you for your reply.

Actually I have already tried to set `DEFAULT_MAX_INITIAL_BITRATE` to 64kbps.
The first file loaded is the decryption key that has 10 bytes as I explained. I checked the bitrate of this on `AdaptiveMediaSourceEventListener#onLoadCompleted` and it was 64kbps as expected.

But since this file is very small, it seems the logic thinks that the internet is not slow and decide

[2017-11-09 10:08] botaydotcom commented on #3375
Hi @ycinfinity, I haven't made any progress on this task because of some other urgent tasks.
The plan is to explore this mode, and compare it with sync mode, before introducing any potential changes. It should take some time, and I expect to have more to share about this on December.

[2017-11-09 10:10] albertcsm commented on #3431
No, the content is clear.

0.5 is a rough estimation of the pause time, I think it is actually the time waiting for an explicit manifest update and downloading the latest segments at the time of rebuffering.

From my observation, the effect of the small discrepancy is that the playhead drift towards live edge gradually. For example, I tried playback with a large suggestedPresentationDelay, the pla

[2017-11-09 10:18] ojw28 commented on #3431
We may drift forward as described, but I think we'd only do that if the content delivered is shorter than the actual elapsed realtime, and that we'd only drift by the size of that discrepancy. If you're sending less content than the time that's elapsing, it seems inevitable that we'd drift forward (or alternatively, insert little pauses at each period boundary).

I would also not expect frequent r

[2017-11-09 10:31] ojw28 commented on #3445
`MediaCodec.setOutputSurface` is a public Android API, so it really needs to work properly. I don't think we're going to add anything to `codecNeedsSetOutputSurfaceWorkaround` that will give certain decoders a free pass indefinitely.

The existing passes in that method are for specific devices that have already shipped and are known to have the problem, and the workaround is needed in that case to

[2017-11-09 10:57] tonihei commented on #3407
We will push a fix to the dev branch soon which will allow you to pass in a custom Runnable to any of the DynamicConcatenatingMediaSource methods. These Runnables will be executed immediately after the player was made aware of the change. This removes the need for your workaround and also the timing of 500ms. The resulting code for your example would look like this:

[code]

[2017-11-09 11:12] SagarKhurana commented on #3444
@tonihei , thanks for your reply.

I think so I am using release v2 version for the above development, but I need to check that again.
I am currently using hls link to play the video. I have not done any settings or changes related to multi-window timebar.

Do you want me to use the dev-v2-r2.6.0 for the same?

[2017-11-09 11:23] pakerfeldt commented on #3441
We use the return value in `onChunkLoadError` to force a new request for failing ones in order to try on a different base url (or CDN).

Let's consider the case where a CDN suddenly fails and the client ends up with a chunk that isn't cancelable. Let's also assume we have another CDN that is successfully providing future chunks. The chunk that isn't cancelable will continue re-trying the same URI.

[2017-11-09 11:34] zmafox commented on #3445
The chipset has been released for years, and not all features are supported by decoder due to hardware limitation. The issue is just found when test with latest gts package, old gts package has no such issue.
I do not know the detailed device name because I am not working for certain device.
I am afraid this issue may happen with many devices with old hardware and some one will contact to you late

[2017-11-09 11:51] tonihei commented on #3444
To make sure it's not accidentally related to the other changes you made, it might be best when you try to play your media file in our latest demo app to see whether you can reproduce the error in there.

[2017-11-09 12:03] albertcsm commented on #3431
The lengths of media content actually equal to the elapsed time, but the segment boundary in audio stream lag behind the the period boundary.
![manifest-segment-endtime](https://user-images.githubusercontent.com/2263504/32604389-65a1fe0e-c588-11e7-96de-31078faaae99.jpg)

[2017-11-09 12:12] ojw28 commented on #3445
Is it possible to provide an API level cut-off, in that case? It would be fine to target at the combination of the decoder name and an `SDK_INT <= X` check, for some value of X.

[2017-11-09 12:13] SagarKhurana commented on #3444
ok... Sure Let me test this once with your latest version and I will get back to you if I face any issue.
I will close this issue if my problem is resolved. thanks.

[2017-11-09 12:57] ojw28 commented on #3431
Does this diagram imply the content for these periods is coming out of single encoder (that's not being reset)? I think that normally, period boundaries would occur because you're transitioning to different content (which would probably be encoded through a different encoder). If that's not the case here, why insert new periods at all? If it is the case, I'd at least expect the audio/video at the

[2017-11-09 13:04] ojw28 commented on #3441
Pretty sure that doesn't happen in vanilla ExoPlayer. When `onPlayerError` occurs `DashMediaSource.releasePeriod` is called to release the period. This calls `DashMediaPeriod.release`. This calls `SampleStream.release`. This cancels any ongoing loads. If you're able to reproduce with vanilla ExoPlayer please let us know. Else you've likely broken this flow in your custom components.

[2017-11-09 13:13] ojw28 commented on #3441
The chunk ending up not being cancelable is probably fairly unusual. If the server is broken at the start of playback or at the start of any individual chunk request, then none of the chunk will have been loaded and so the load will be be cancelable. The load will also be cancelable in all cases where the server just doesn't have the chunk (e.g. 404s), since again none of the chunk will have been

[2017-11-09 13:22] pakerfeldt commented on #3441
Thanks Oliver! I think we have all the information we need now. 👍

[2017-11-09 13:22] #3441 closed, assigned to nobody

[2017-11-09 14:13] willcun commented on #3039
Hello,

Please excuse me if this is the correct place to ask this question.  However,  I'm new to Exoplayer and I'm trying to get it to work with IIS Smooth Streaming.  I have a live stream setup that plays well in IE with Silverlight but it doesn't play on Android with Exoplayer.  The Expressions Encoder is using IIS Smooth Streaming with VC-1 for Video and WMA Professional for Audio.

When I poi

[2017-11-09 14:40] ojw28 commented on #3039
Android doesn't support VC-1 or WMA at the decoder level. You really need to be using something a bit more standard (e.g. H.264 and AAC) if you want to target multiple platforms. I don't even think Microsoft's own new browser (Edge) supports Silverlight, by the way. See [here](https://blogs.windows.com/msedgedev/2015/07/02/moving-to-html5-premium-media/).

[2017-11-09 14:48] willcun commented on #3039
ojw28 thank you for the quick response!!!

Ok so going encoder to IIS publishing point doesn't work with the vc-1 codec. Gotcha...    Is it possible to use HLS from IIS with the vc-1 codec?

[2017-11-09 14:50] ojw28 commented on #3039
Android does not support VC-1. The HLS specification doesn't even accommodate VC-1, as far as I'm aware.

[2017-11-09 14:52] willcun commented on #3039
Ok... Thanks!!  I guess I can stop beating my head against the wall.  LOL

[2017-11-09 15:33] 0c6a183d commented on #3342
Hi. No my media is not encrypted.

If the CustomBandwithMeter with your new settings is behaving correctly with non-encrypted segments, but incorrectly with encrypted segments then I guess you would need the Exoplayer team to verify that it is expected behavior or not.

As a temporary workaround as DEFAULT_MAX_INITIAL_BITRATE is not helping.... I think I read that tracks can be blacklisted. If tha

[2017-11-09 17:44] Tolriq commented on #3407
@tonihei Just to confirm as 2.6.0 is already branched this means that this will go in for the release after?

[2017-11-09 17:49] ojw28 commented on #3407
It will be cherry-picked into 2.6.0, I think.

[2017-11-10 01:45] shreyasreedhar commented on #3409
@ojw28  , we would like to know why does the exo player request for partial segment request when it has already gotten a complete 200 OK for the audio segment.
It keeps repeating the partial request and then stops pLAYING. Is there any clue on this as to why this could happen ?

 ** The exo player first requests for an audio segment and gets a 200 OK response back from the server. Then again it re

[2017-11-10 02:19] albertcsm commented on #3431
Yes, it is from a single encoder. Periods are insert for ad-insertion opportunities, which may eventually be replaced with other content or played as-is.

[2017-11-10 14:06] dhanashreeborkar opened #3446 "How to store DASH DRM video in exoplayer and play it in offline(No Internet) mode? How to achieve this, In case of storing and playing multiple videos in exoplayer?"
(no description supplied)

[2017-11-11 09:44] iceteahh commented on #55
+1 for support rtsp

[2017-11-11 12:20] pedromfmachado opened #3447 "Fullscreen dedicated Activity"
### Issue description
When implementing a video component for my application I wanted to include the fullscreen functionality. However I've been facing some issues and wondering if anyone could point me in the right direction.

**Here's what I've tried:**
- Like many articles I found on the matter, I tried adding the view to the root of the layout and make any other elements invisible or even addi

[2017-11-11 15:26] sn32247 opened #3448 "Simpleexoplayerview and black screen"
I have musicplayer with notification bar in service that use exoplayer. Myapp have an musicplayerActivity and an musicservice for notification.
When i click on notification, call musicplayeractivity and exoplayer screen is black.
I dont want refresh or reset player.i want only show musicplayerActivity and player without any change.please help me

[2017-11-11 15:59] abelhamilton opened #3449 "Last word/syllable of mp3 files are cut on certain devices"
### Issue description
I'm trying to implement Exoplayer to play background music in loop and speech sounds at the same time that are played on click events.
I can't add silence at the end of the file because I play them in raw to make a sentence like :
file one : "select"
file two : "a category"
That's why I can't have a silence gap between 2 files and there are about 1500 files in the app so I do

[2017-11-12 14:36] jagiellonczyk14 opened #3450 "Caching problem"
### Issue description
In order to perform Caching videon I Tried to merge Bao Le method from https://stackoverflow.com/questions/28700391/using-cache-in-exoplayer and informations provided in https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6
Method works on main thread (After opening video it can be played offline)

### Reproduction steps

**

[2017-11-13 00:06] ojw28 commented on #3409
Without a way for us to reproduce the problem, it's not really possible for us to say. If you want further guidance please provide concrete reproduction steps, and also complete information as is requested both in the issue template and above. A bug report in particular would tell us a lot about what's going on, but one has not been provided.

One possible cause is that the server is setting the C

[2017-11-13 00:06] #3409 closed, assigned to nobody

[2017-11-13 00:07] ojw28 commented on #3446
This is tracked by #2643. Updates will be posted there when available.

[2017-11-13 00:07] #3446 closed, assigned to nobody

[2017-11-13 00:26] mpainenz commented on #867
Your Toro library @eneim suffers from thread locking and slow performance when scrolling the recycler. Particularly when you fling the RecyclerView.

In my own testing, I have found that using a single player instance is much better. It removed all my issues with thread locking. I guess the players are contending for Codec access, or some other issue is occuring. This happens even if only one play

[2017-11-13 00:27] ojw28 commented on #3447
I think the right thing to do is to have a single player instance and find a way of passing it to the activity, as per your second suggestion.

This is quite a common approach for apps that need to be backgrounded too (e.g. music apps), although in such cases you'd typically put the single player instance inside of a Service and create a way to expose that instance to the activity.

What are you n

[2017-11-13 00:41] ojw28 commented on #3450
- `glide:4.3.1` is not a valid ExoPlayer version. Please clarify.
- The short log snippet you've posted omits nearly all of the useful information associated with the error. Please attach a full bug report captured using `adb bugreport` shortly after the error occurs.

[2017-11-13 00:50] eneim commented on #867
You are right about the issue of having multi ExoPlayer instance in the library. Lately I also investigate in the case of using Single/Limited ExoPlayer instances. Your approach gonna be so much helpful. (It turns out that, to make it highly abstraction and easy to integrate, many works need to be done).

[2017-11-13 08:25] shreyasreedhar commented on #3409
@ojw28 I am attaching the segment for which the exo player got a 200 response and then again requested for 206 of the same segment during playback of a live channel

[seg_audio34_0_t15102006487528222.mp4.mpeg.zip](https://github.com/google/ExoPlayer/files/1465570/seg_audio34_0_t15102006487528222.mp4.mpeg.zip)

![image](https://user-images.githubusercontent.com/27345798/32709479-af7bd60e-c86b-11e7-

[2017-11-13 09:22] pedromfmachado commented on #3447
I have no specific concerns about it, I just felt like there could be a different approach here. Thanks for the help!

[2017-11-13 09:22] #3447 closed, assigned to nobody

[2017-11-13 09:57] stoleruedgar opened #3452 "DynamicConcatenatingMediaSource.createPeriod(MediaPeriodId, Allocator) ignores ad related parameters"
Using IMA extension with a list of ImaAdsMediaSource in a DynamicConcatenatingMediaSource.
Seems the check for id.isAd() always returns false in the method ImaAdsMediaSource.createPeriod(MediaPeriodId, Allocator)

Took a closer look into DynamicConcatenatingMediaSource and it seems that in createPeriod(MediaPeriodId, Allocator) a new MediaPeriodId is created
MediaPeriodId idInSource = new MediaPer

[2017-11-13 10:03] tonihei commented on #3452
Sounds right, we're going to fix this :)

Thanks for reporting!

[2017-11-13 10:44] andrewlewis commented on #3437
For accessing the `AdsManager`, please see  https://github.com/google/ExoPlayer/issues/3322#issuecomment-334759034.

Alternatively, if you're using ExoPlayer's UI library you could investigate using `DefaultTimeBar` with customization via its attributes, or, if you need more control, make your own implementation of `TimeBar`. `PlaybackControlView` passes ad break times to `TimeBar.setAdBreakTimesM

[2017-11-13 10:44] #3437 closed, assigned to andrewlewis

[2017-11-13 10:50] ojw28 commented on #3409
This does not help us reproduce or diagnose the issue unfortunately. It seems quite likely to be a serving issue, in which case it would only reproduce when the segment is actually requested from the server you're using. We also still don't have a copy of the manifest that shows how the segment was advertised to the client, or a bug report that would show us what the actual errors are leading up t

[2017-11-13 11:00] ojw28 commented on #3431
It would be good to better understand this use case. In particular, I'm assuming the replacement would happen on the serving side, with you possibly generating manifests with different replacement periods for different users, depending on whether ads are targeted to certain users or not. If that's the case, why bother inserting new periods if replacement doesn't actually occur? Or to put it anothe

[2017-11-13 11:15] ojw28 opened #3453 "Consider not calling getFD().sync() in CacheDataSink.closeCurrentOutputStream"
This call can be slow, and only guards against scenarios such as power loss. We should look at whether we can just remove it, or make it conditional (e.g. call it for proper offline use cases, but not for opportunistic caching).

[2017-11-13 11:22] albertcsm commented on #3431
For my case, encoding and ad-insertion are currently run by different vendors. The encoding side provides multi-period ad-free manifest, the ad-insertion vendor rewrites manifest for ads. So the encoding side does not know whether replacement will actually take place.

[2017-11-13 11:41] ojw28 commented on #3431
It feels like things would work better if the encoding side provided a single period manifest with some other form of metadata indicating where the ad opportunities are, since the media they're providing really is just a single continuous stream. The encoding side inserting multiple periods is quite artificial. Either that or there would be some way of the ad-insertion vendor merging periods if th

[2017-11-13 11:54] andrewlewis commented on #3422
I think so. #1741 tracks the same thing, so I'll mark this as a duplicate.

[2017-11-13 11:54] #3422 closed, assigned to andrewlewis

[2017-11-13 12:20] andrewlewis commented on #3452
As an aside, even with this fix (which we should definitely make, for the benefit of custom `MediaSource`s that have periods with ads and aren't based on `ImaAdsLoader`) I think using `ImaAdsMediaSource` in a concatenation won't work correctly:
- `ImaAdsLoader` asserts that the player's timeline has only one period and expects the only period in the timeline to be its own period when reacting to p

[2017-11-13 12:38] andrewlewis commented on #3419
At the app level, I wonder if it's possible to get this to work using a custom audio renderer that's based on `MediaCodecAudioRenderer`:

`BaseRenderer.onStreamChanged` will be called when the next song starts playing so you could override that and call `audioSink.setPlaybackParameters` to set the appropriate parameters. You would need a reliable way to find out what window is playing on the playb

[2017-11-13 15:42] priscila225 opened #3454 "IMA Extension: Support for DAI (Dynamic ad insertion)"
Do you support (or have plans to support) Dynamic Ad Insertion in the IMA Extension? If so, can you give me some directions?
Currently I'm following the google doc/sample https://developers.google.com/interactive-media-ads/docs/sdks/android/dai-quickstart

Thanks

[2017-11-13 15:56] ojw28 commented on #3441
FYI, the change above will ignore cancelation requests for non-cancelable loads (and log a warning).

[2017-11-13 15:56] #3138 closed, assigned to nobody

[2017-11-13 15:57] ojw28 commented on #3138
ClearKey content should now be fully supported (in the `dev-v2` branch and the upcoming `2.6.0` release).

[2017-11-13 15:57] #1897 closed, assigned to botaydotcom

[2017-11-13 16:02] andrewlewis commented on #3454
The IMA extension supports client-side ad insertion based on VAST/VMAP ad tags. Please see https://github.com/google/ExoPlayer/tree/release-v2/extensions/ima for information on using the extension.

[2017-11-13 16:02] #3454 closed, assigned to nobody

[2017-11-13 16:04] lazarvgd opened #3455 "Issue playing HLS DVR from Wowza"
Hi,

Before you get mad, I want to ask you kindly for help because I am newbie in development of Android apps. Please, bare with me!
**THE PROBLEM:**
I am trying to implement DVR in exoplayer, but the problem I have occurred is I cannot play the source video.
The source(url) is in this format:
`http://<IpAddress>:<Port>/origin/<Channel>.stream/playlist.m3u8?DVR`

I am using almost the basic exopla

[2017-11-13 16:15] andrewlewis commented on #3449
This looks similar to #3386.

[2017-11-13 16:16] ojw28 commented on #3455
We're happy to help, but you still need to provide sufficient information as requested in the issue template. If you're unsure how to obtain any of the requested information, let us know and we can try and provide guidance. Thanks!

[2017-11-13 16:26] lazarvgd commented on #3455
@ojw28, thanks for fast response!

I can provide code snippet of my exoplayer code(if that helps)? Please can you tell me what else do you need in order to demystify this?

[2017-11-13 16:33] ojw28 commented on #3455
The information we need is already described in the issue template you would have deleted when filing this issue. You can find it again [here](https://github.com/google/ExoPlayer/issues/new), although please provide the information in this issue rather than creating a new one. Thanks!

[2017-11-13 17:30] ojw28 commented on #3172
Additional change: e92667ba5b58cbda9695c8168d3f8fa810da8288

[2017-11-13 17:30] #3172 closed, assigned to nobody

[2017-11-13 17:30] #3439 closed, assigned to nobody

[2017-11-13 17:30] ojw28 commented on #3439
https://github.com/google/ExoPlayer/pull/3440 was merged to fix this.

[2017-11-13 17:48] #3407 closed, assigned to nobody

[2017-11-13 17:49] pakerfeldt commented on #3441
👍 We have dealt with our issue as well.

[2017-11-13 20:17] ojw28 commented on #3448
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-11-13 20:17] #3448 closed, assigned to nobody

[2017-11-13 21:56] mpainenz opened #3456 "Multiple SimpleExoPlayerView with RESIZE_MODE_ZOOM enabled can result in video rendering on the wrong view"
### Issue description

Video playing on one SimpleExoPlayerView surface may also render to other SimpleExoPlayerView surfaces. In my example, I have two SimpleExoPlayerView. I start by rendering a video to the first View, then swap the underlying SimpleExoPlayer object to the second View.

What seems to happen, is that the Video which is being cropped on the first View, is being displayed on the s

[2017-11-13 22:01] ojw28 commented on #3456
I was somewhat hesitant to merge the change that added `RESIZE_MODE_ZOOM`, since I wasn't really certain it would work properly across all devices (see: https://github.com/google/ExoPlayer/pull/3187). @stellabei - Any ideas?

If you're not dealing with DRM protected content, you'd probably be better off using `TextureView` and `TextureView.setTransform`.

[2017-11-13 22:05] ojw28 commented on #3403
Closing due to lack of acceptable reproduction steps. If you're able to provide better reproduction steps, please respond here and we'll re-open the issue.

[2017-11-13 22:05] #3403 closed, assigned to nobody

[2017-11-13 22:18] mpainenz commented on #3456
I notice that simply hiding the first view object will solve the issue, however there seems to be a black flicker when doing so using setVisibility(View.INVISIBLE); or setVisibility(View.GONE); on a SurfaceView.

@ojw28 I don't suppose you might be able to provide a basic code snipped, including the layout XML to use in order to attach a player to a TextureView? I have attempted this change to fix

[2017-11-14 05:07] alessandrojp commented on #3342
Hi again,

Just to let you know, I tried to use a non-encrypted segment and it worked as expected.

Few seconds after it played in `DEFAULT_MAX_INITIAL_BITRATE` it switched to the highest bitrate in my case 320kbps.

One think that I didn't know is that once it switches, it will not switch again.
Even if the internet connection becomes slow.

Anyway, thank you for your comments!

[2017-11-14 09:14] dhanashreeborkar commented on #2643
How to download DASH DRM video on custom button click instead of caching it while playing?

1.How DRM enabled video are downloaded using exoplayer methods?
2.Where do we store and maintain the list downloaded videos?

[2017-11-14 09:29] lazarvgd commented on #3455
Ok, I have read that. So far I have found [this](https://github.com/google/ExoPlayer/pull/2741) pull request. But I haven't seen that this is released in any version of ExoPlayer.

Also, I have found the [Class Timeline](http://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/Timeline.html) and I see that ExoPlayer supports DVR.

Here is the code example, which can

[2017-11-14 09:44] ojw28 commented on #3455
The next step is for you to actually provide the information requested in our issue template.

[2017-11-14 12:18] noamtamim opened #3457 "Live DASH playback fails if Period@start changes"
### Issue description
A DASH live stream fails to play in ExoPlayer due to what seems like timing issues. The log is shown below.

The first frame is shown, but playback does not continue.

For reference, it also doesn't work in ShakaPlayer, but it **does** work in bitmovin and dash.js web players.

### Reproduction steps

Add the URL to media.exolist.json in ExoPlayer's demo app. No DRM setup is

[2017-11-14 12:41] pawaom opened #3458 "show only a part of video in simpleExoPlayerView"
show only a part of video in simpleExoPlayerView

not show whole video
video width is 960  and height is 540

I want to show that part staring from left -350 to right 500
and from tom 200-bottom 450

my xml code is

[code]

how can this be done

[2017-11-14 12:47] ojw28 commented on #3458
Duplicate of #3432.

[2017-11-14 12:47] #3458 closed, assigned to nobody

[2017-11-14 12:48] pawaom commented on #3458
yes it may be duplicate , but this question is in regards to simpleexoplayer, how can we set

how can
      Matrix matrix = new Matrix();
        matrix.setScale(172, 400, 343, 637);
        simpleexoplayer.setTransform(matrix); be done

simpleexoplayer.settransfrom()  doesnot work

[2017-11-14 12:52] ojw28 commented on #3458
Please don't file new issues for the same question. Just append your additional comment onto the existing one. Thanks.

[2017-11-14 17:41] andrewlewis commented on #3414
Are you testing using a release APK? It looks like the audio track is underrunning, and one explanation is that speed adjustment is too slow. That can be happen when using speed adjustment on a debuggable APK before Android Nougat. See also the [blog post](https://medium.com/google-exoplayer/variable-speed-playback-with-exoplayer-e6e6a71e0343) and the thread at https://github.com/google/ExoPlayer/

[2017-11-14 21:46] wvpaf commented on #3173
@PavelGP any updates. will close in a week if no movement.

[2017-11-14 21:46] wvpaf commented on #3204
Hi @HungamaSurat  any updates? will close if no movement in a week.

[2017-11-14 22:12] dbrain commented on #3215
Now that we've upgraded to 2.5.4 I'm also seeing this issue on `Motorola Moto Z (griffin), 3072MB RAM, Android 7.1` from Google Play Console reports. Unable to retrieve a bug report as I do not have access to this device. @jpardogo could you produce this?

Currently doing a staged rollout, so it may be occurring on other devices as well. Original device that could reproduce the crash is fine (Moto

[2017-11-15 06:28] rburade21 opened #3459 "How to play live Video Broadcast mpeg-ts in exoplayer"
How to play Broadcasted content in exoplayer.
I have MPEG-TS which contains multiple channels.
I want to play those channels in exoplayer
is it possible in exoplayer?if it is please give me direction.
i am currently using exoplayer 2.4v

[2017-11-15 07:30] ZhengWeicheng opened #3460 "Try to playing a mp4 file ,Codec reported an error."
Version as: [ExoPlayerLib/2.5.3] [Che1, Che1-CL20, HUAWEI, 19]
Log as below:

11-15 15:16:24.286 I/ExoPlayerImpl(12567): Init 41e364b0 [ExoPlayerLib/2.5.3] [Che1, Che1-CL20, HUAWEI, 19]

11-15 15:16:24.286 D/EventLogger(12567): state [0.00, true, I]

11-15 15:16:24.346 D/EventLogger(12567): state [0.06, true, B]

11-15 15:16:24.346 D/MediaCodecVideoRenderer(12567): FalseCheck [legacyFrameSize, 124

[2017-11-15 08:44] andrewlewis commented on #3460
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-11-15 08:44] #3460 closed, assigned to nobody

[2017-11-15 08:59] TarifHatoum opened #3461 "Hi; How can i get the current selected TRACK_TYPE_TEXT and TRACK_TYPE_VIDEO because onResume i would like to set the last selected tracks waiting for your soonest reply thanks!!"
(no description provided)

[2017-11-15 09:00] TarifHatoum commented on #3461
Hi; How can i get the current selected TRACK_TYPE_TEXT and TRACK_TYPE_VIDEO because onResume i would like to set the last selected tracks waiting for your soonest reply thanks!!

[2017-11-15 09:32] Gobi1989 opened #3462 "Exoplayer throws an exception after Ads"
Hi All,

I'm using Exoplayer (r2.5.4) for playing DRM content along with Ads. As the player starts well with Ads and resume back to content video. We are getting an error while resume the DRM content video after 2nd/3rd AD.

Steps to Reproduce:-

Start the Drm content video along with Ads (pre Ads, 3 mid Ads and post Ads). After pre AD the content video starts to play as expected, now wait for sec

[2017-11-15 09:34] tonihei commented on #3462
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-11-15 09:34] #3462 closed, assigned to nobody

[2017-11-15 09:56] Gobi1989 opened #3463 "DrmSession$DrmSessionException with response code 400 after ad"
Hi All,

**Issue description**
I'm using Exoplayer (r2.5.4) for playing DRM content along with Ads. As the player starts well with Ads and resume back to content video. We are getting an error while resume the DRM content video after 2nd/3rd AD.

**Reproduction steps**
Start the Drm content video along with Ads (pre Ads, 3 mid Ads and post Ads). After pre AD the content video starts to play as exp

[2017-11-15 10:16] zabirtech commented on #3442
Hello ExoPlayer Team, I was wondering how do you usually handle device specific issues? This device runs “Kitkat” and that is still officially supported for playing Widewine protected DASH in ExoPlayer?

[2017-11-15 10:21] lazarvgd commented on #3455
Before filing an issue:
I have found this link, but isn't much useful due to lack of explanations how to achieve DVR with urls from wowza.
https://github.com/google/ExoPlayer/pull/2741

Unfortunately I coudn't open Demo app due to tthis [issue](https://github.com/google/ExoPlayer/issues/2187).
### Issue description
Unable to play HLS DVR from Wowza. The error that I am getting is:
**E/ACodec: [OMX

[2017-11-15 10:29] MegatronKing commented on #3386
I have added more Samsung devices with problem and some without problem.

[2017-11-15 10:30] AquilesCanta commented on #3461
Assuming you are using ExoPlayer  v2, see `Player.getCurrentTrackSelections()`. The position assignment corresponds to the renderers that you built ExoPlayer with.

[2017-11-15 10:30] #3461 closed, assigned to nobody

[2017-11-15 10:53] AquilesCanta commented on #3455
You will need to inject your own `HlsExtractorFactory` and enable `DefaultTsPayloadReaderFactory.FLAG_ALLOW_NON_IDR_KEYFRAMES`. Have a look at `DefaultHlsExtractorFactory` for a starting point.

[2017-11-15 10:53] #3455 closed, assigned to nobody

[2017-11-15 11:01] TarifHatoum commented on #3461
How could i save l last closed caption used and setted to alla other videos?

Sent from my iPhone

On Nov 15, 2017, at 12:31, Santiago Seifert <notifications@github.com<mailto:notifications@github.com>> wrote:

Assuming you are using ExoPlayer v2, see Player.getCurrentTrackSelections(). The position assignment corresponds to the renderers that you built ExoPlayer with.

—
You are receiving this be

[2017-11-15 11:23] mayankgarg58 commented on #3310
I tried to play secure content using exoplayer application.
I could not reproduce the issue.
Is there any proper way to reproduce it.?

[2017-11-15 14:31] sviety opened #3464 "Mp4 video track selection"
Hello,
I was wondering about video track selection for mp4 format. In my case i have to expose to the user all available video formats (quality). I have a list of url that points to the mp4 files that i want to expose as a available tracks. How can i achive this? Should i make a custom implementation of the MediaSource? If not can you guide me what will be the best approach to achive that?
Thanks

[2017-11-15 14:45] devnullpointer opened #3465 "Http 416 error when trying to playback mp4 media."
### Issue description
When attempting to play an mp4 file from url Exoplayer returns a Http 416 error code. The same mp4 file plays in other players without errors including VLC, ffmpeg, and other android players. Same player has no problems playing other mp4 files, just this one.

### Reproduction steps
Load the stream link into the player, after a few seconds the playback error is caught.

### L

[2017-11-15 16:37] kawadkarrocky opened #3466 "Response code: 403 (How to set cookies)"
hello that I'm getting an error while setting cookies in httpDataSourceFactory and here are some  changes in the code
[code]

[2017-11-15 16:56] ojw28 commented on #3464
You should probably implement this outside of the player. There's no reason why the player needs to be involved in which file is selected for playback, given they're just regular mp4s.

The proper way to do this would be to use a proper adaptive streaming standard like DASH or HLS, which would then also allow adaptation between the available qualities during playback.

[2017-11-15 17:02] ojw28 commented on #3465
Link was either not provided or not received. Please send it to `dev.exoplayer@gmail.com` and update this thread to indicate it's been sent. Thanks!

[2017-11-15 17:27] andrewlewis commented on #3361
Implementing a `FLAG_ALLOW_NON_IDR_KEYFRAMES` for `H265Reader` is unfortunately a bit complicated because it would be necessary to store the `num_extra_slice_header_bits` for every defined PPS in order to be able to parse `slice_type` from the `slice_segment_header` (and we don't currently parse the contents of PPSs). I had a quick try anyway and even then the decoder threw an error when decoding

[2017-11-15 17:27] #3361 closed, assigned to nobody

[2017-11-15 17:33] SoroushDMA commented on #3310
Is your content L1 secure? If that's the case and you can't reproduce is, I can send a message directly to you, but the URL will be valid for 12 hours only.

[2017-11-15 18:50] vovan888 opened #3467 "HLS stream not playing"
### Issue description
Live stream does not play with ExoPlayer demo app. Just a black screen shown, nothing more.
VLC plays it without issues.

### Reproduction steps
Add a sample stream to media.exolist.json and try to play it.

### Link to test content
Sent to dev.exoplayer@gmail.com

### Version of ExoPlayer being used
2.6.0

### Device(s) and version(s) of Android being used
MECOOL M8Spro+ And

[2017-11-15 21:02] ojw28 commented on #3457
The media does not seem to be spec compliant. In particular, I think that:

1. The "start" attribute of the period should not be increasing each time the manifest is refreshed. The fact that not all of the media from the period is available any more does not change when the period started.
1. The "presentationTimeOffset" attributes should not be increasing each time the manifest is refreshed eithe

[2017-11-15 21:35] ojw28 commented on #3455
Depending on how this content is being generated, you may also wish to report the issue to the content provider. Media segments in HLS are supposed to contain IDR frames, and the HLS RFC states clients may discard rather than render frames prior to the first IDR (which implies discarding all frames for this kind of stream, since there aren't any IDR frames in it).

[2017-11-15 21:36] ojw28 commented on #3467
This is a duplicate of https://github.com/google/ExoPlayer/issues/3455. The content should contain IDR frames, and we're compliant with the HLS RFC in discarding media indefinitely from streams that do not contain any. There is a workaround, as described in https://github.com/google/ExoPlayer/issues/3455#issuecomment-344557128.

[2017-11-15 21:36] #3467 closed, assigned to nobody

[2017-11-15 21:43] vovan888 commented on #3467
Thank you.

[2017-11-15 21:47] ojw28 commented on #3466
I can't see anything obviously wrong, except that the call to `httpDataSourceFactory.createDataSource();` isn't doing anything useful (why create an instance if you're not going to use it :)). That's an aside though, it's not the reason you're seeing 403s.

Given you're seeing 403s (FORBIDDEN), I'd suggest the most likely explanation is that the properties your setting are not correct (or insuffic

[2017-11-15 21:49] ojw28 commented on #3459
This question is far too vague for us to answer, sorry. We provide a demo app [here](https://github.com/google/ExoPlayer/tree/r2.5.4/demo) that can serve as a good starting point. You can also try playing your own content in the demo app, as documented [here](https://google.github.io/ExoPlayer/demo-application.html).

[2017-11-15 21:49] #3459 closed, assigned to nobody

[2017-11-16 03:06] mpainenz commented on #3456
I have added a working TextureView version to my GitHub project I submitted as an example for this bug.

https://github.com/mpainenz/ExoPlayerOverdrawBugDemo

If anyone else wants to get TextureView working, this might help. To enable TextureView in the project, , change the main activity in the Manifest file to .TextureViewActivity, or see the following file:

https://github.com/mpainenz/ExoPlaye

[2017-11-16 04:13] acommoner opened #3468 "Interlaced video issue on Pixel devices"
### Issue description
Videos that are interlaced with the TopFirst setting are not playing correctly on Pixel (sailfish & marlin), but seem to work correctly on other phones. The sound works fine & I'm not getting any explicit errors from ExoPlayer in the logs that I've seen.

It looks like both devices are using "omx.qcom.video.decoder.avc" for decoding, and if I force it to use a software decode

[2017-11-16 04:17] devnullpointer commented on #3465
I'm going to close this issue as I've ran the stream through the demo app and it seems to play fine. It's most likely a missing decoder or extension.

[2017-11-16 04:17] #3465 closed, assigned to nobody

[2017-11-16 04:46] rakesharyais opened #3469 "Dash Is not Live Playing in ExoPlayer 2.5.4 on Android M Platform"
### Issue description
Dash Live Is not  Playing in ExoPlayer 2.5.4 on Android M Platform

### Reproduction steps
I used this url to play Dash LIve in ExoPlayer 2.5.4
http://vm2.dashif.org/livesim/testpic_2s/Manifest.mpd which is not playing on Android M.
Where as it plays properly in Android N and O

Note: Tried to play the same url in Exoplayer Sample App and even here it does not play

### Versi

[2017-11-16 06:55] itaykinnrot commented on #3457
thanks @ojw28  we'll check it!

[2017-11-16 07:19] kawadkarrocky commented on #3466
Hi ojw28 , I was checking for properties as i was setting up the cookies for requested parameters httpDataSourceFactory but still I'm getting
Source error.
                                                                              com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 403

and also I fired curl request for the cookies and response is

[2017-11-16 08:16] Gobi1989 commented on #3463
Hi Team,
Please help in resolving this issue as it is a critical blocker issue for us.

Thanks in advance!

[2017-11-16 09:59] noamtamim commented on #3457
Hi @ojw28
We looked at the standard: http://dashif.org/w/2015/04/DASH-IF-IOP-v3.0.pdf

It says:
“In order to make the MPD joining friendly and to remove data that is available in the past,
any segments that have fallen out of the time shift buffer may no longer be announced
in the MPD. In this case, the Period start may be moved by changing one or both,
MPD@availabilityStartTime and Period@start.

[2017-11-16 10:14] ojw28 commented on #3457
Thanks for the reference. I think we might need to discuss this with the DASH-IF authors. I can't think of a good reason for needing to change Period@start, and if there isn't a good reason then I don't see why it should be allowed as an optional thing. It would just be one more thing for clients to have to deal with for no benefit. It's also quite confusing. Note that it's not required to adjust

[2017-11-16 10:53] AquilesCanta commented on #3469
It is possible that the issue is related to the clock of the device/timezone configuration. We will run a few experiments and let you know. @ojw28 can provide advice about how to generate the media to prevent this.

[2017-11-16 11:35] sandersaares commented on #3457
It appears to me that the first part of the statement directly contradicts DASH 8.4.2 which says:

While AST does not appear to be relevant in case of the content in question here, it does serve as additional evidence that this part of the guidelines might deserve a review.

[2017-11-16 11:49] ojw28 commented on #3469
As @AquilesCanta says, an inaccurate device clock could cause this problem for the type of DASH manifest linked, particularly if the device clock is even slightly fast (a slow clock is less likely to be a problem).

In general, DASH manifests that rely on the client knowing the current time, as is the case in this example, should include a `UTCTiming` element to allow the client to resolve the cur

[2017-11-16 12:43] sviety commented on #3464
Thank you for your response @ojw28. Currently our system involve adaptive streaming, but some of our content is available only as a mp4 file. I will follow your suggestions about implementing itoutside of the player.
Thanks

[2017-11-16 13:14] th3hamm0r opened #3470 "Support gapless playback of Ogg Vorbis"
### Issue description
We are facing problems with click noises when playing a sequence of ogg/vorbis files with the ExoPlayer.
The interesting thing is, that I was able to create a quick&dirty player with Android's decoding-APIs where the playback is absolutely gapless. So what is the difference to the ExoPlayer and is there a way to avoid those clicking sounds? Eg. do I have to pass some configur

[2017-11-16 13:22] stoleruedgar commented on #3452
I am actually trying to write a custom AdsMediaSource based on the ImaAdsMediaSource and related files implementation, but I have reached a dead wall. It seems that the Framework if you set cue points (as in the Ima extension) and you seek past one cue point but don't have a loaded Ad url then MediaSource.maybeThrowSourceInfoRefreshError() gets called and the player stops. Is there any way to reco

[2017-11-16 13:27] th3hamm0r commented on #3470
My first thought was, that maybe there is a difference in how the codec is re-initialized, so I already tried to dig into the `MediaCodecRenderer`/`MediaCodecAudioRenderer` a bit to find some major differences. I failed, so I hope you can help here.

[2017-11-16 17:04] b0g8 opened #3471 "Accurately detect switching media in playlist"
### Issue description
I want to accurately detect switching to new media in a playlist. Can this be detected from the frame itself? Like embedding some information in the SurfaceTexture? Or count the releaseOutputBuffer? I don't see other way. Currently I am using onPositionDiscontinuity, but it is difficult to sync at frame level.

### Version of ExoPlayer being used
2.5.4

### Device(s) and vers

[2017-11-16 18:13] AquilesCanta commented on #3466
Hi @kawadkarrocky, please set a cookie handler (you can use the Demo App's `PlayerActivity` for reference). After creating your cookie handler, try something along the lines:

[code]
Hope this helps!

[2017-11-16 18:13] #3466 closed, assigned to AquilesCanta

[2017-11-16 18:19] AquilesCanta commented on #3469
@rakesharyais, could you please make sure the device's clock and timezone are correct when you start playing the media, and contact us back once you do?

If you do control the media, please try the UTCTiming tag that @ojw28 suggested. If it works there is not much we can do about it, but we should definitely discard any other possibility before assuming there is an error in ExoPlayer, as it seems

[2017-11-16 20:10] devnullpointer opened #3472 "Getting a 403 response code error from exoplayer"
### Issue description
When playing an http mp4 stream in my activity I get a 403 response code from exoplayer. When I plug the same url in the demo app it plays immediately. I have checked my code against the demo's player activity and I can't see any difference or missing code that would result in me getting the 403 and the demo app working. Can someone with better trained eyes check it out for m

[2017-11-17 01:38] devnullpointer commented on #3472
Could it be because I did not include, compile, and depend on extensions like Flac, FFmpeg, etc.. that I'm getting these errors?

[2017-11-17 05:55] rakesharyais commented on #3469
@AquilesCanta We are not controlling the media .
we are just using the url  (http://vm2.dashif.org/livesim/testpic_2s/Manifest.mpd) to play

[2017-11-17 06:56] workspace commented on #3393
@ARKMe my service uses Azure Media Service too.
We faced the same problem with your cases, and we solved it with custom DashManifestParser and CustomDashManifest.

### AzureDashManifest
[code]

### AzureDashManifestParser
[code]

Then you can use it with following steps below
1. load manifest with custom classes for Azure (in background thread)
[code]
2. initialize drm session manager with parsed

[2017-11-17 07:07] workspace commented on #3393
@ojw28
As you can see from the exoplayer demo, I need to know the drm license url in the step of initializing the player. However, in the case of Azure, it is difficult to know the drm license url because it dynamically constructs the manifest. Once I've solved the problem by implementing a custom class like the above answer, is there any better way?

[2017-11-17 08:09] mayankgarg58 commented on #3310
Yes. Content is secure. I mean L1.
And i used exoplayer demo app.
Can you give me the application you are using.
And provide url as well. I ll check at my end.

[2017-11-17 09:54] andrewlewis commented on #3470
For reference, the streams are [1.ogg](https://raw.githubusercontent.com/th3hamm0r/exoplayer-gapless-test/master/app/src/main/assets/1.ogg) and [2.ogg](https://raw.githubusercontent.com/th3hamm0r/exoplayer-gapless-test/master/app/src/main/assets/2.ogg).

Ogg containers have gapless playback information that I think we don't currently handle. There is some information about how this works [here](ht

[2017-11-17 10:02] AquilesCanta commented on #3472
Are you setting a cookie manager?

[2017-11-17 10:03] AquilesCanta commented on #3472
No, not really possible.

[2017-11-17 10:10] andrewlewis commented on #3471
There is information in `SurfaceTexture` to do this accurately:
- `SurfaceTexture.getTimestamp` returns the release time associated with the texture set on the last call to `SurfaceTexture.updateTexImage`.
- `MediaCodecVideoRenderer.renderOutputBufferV21` receives the original presentation timestamp of the output buffer and its release time, so you can override it to store a mapping from release t

[2017-11-17 10:10] #3471 closed, assigned to nobody

[2017-11-17 10:25] andrewlewis commented on #3452
I'm not sure I follow what you're trying to do. If you seek past an (unplayed) cue point, surely its ad group must be played before you can play the content? So if its URL is not known at this point the player needs to buffer until it becomes known.

At a high level, it's possible to implement your own custom AdsLoader and use it from the provided AdsMediaSource, though there are some limitations

[2017-11-17 10:56] th3hamm0r commented on #3470
@andrewlewis Thanks for your quick response!
Would this be an enhancement of ExoPlayer's OggExtractor? If this is the case, do you think it would be possible to somehow use Android's `MediaExtractor` feeding the ExoPlayer to fix this problem, till you fix this in the ExoPlayer?
Or can you think of another (quick-)fix to get a gapless playback of ogg/vorbis with the player?

Even with lame-mp3 enco

[2017-11-17 11:28] zmafox opened #3473 "Questions about gts test"
[log.txt](https://github.com/google/ExoPlayer/files/1482089/log.txt)
Hi:
	I know that gts use the exoplayer, and would like to know which tag the gts package gts-5.0_r2 uses.
	My device failed at com.google.android.exoplayer.gts.DashTest#testWidevineH264Adaptive, the error log shows
"Expected to dequeue video buffer with presentation timestamp: 134733000. Instead got: 134766000"
	Then I checked th

[2017-11-17 11:30] zmafox commented on #3445
the API level is also increased when upgrade android version.

[2017-11-17 11:37] ojw28 commented on #3445
Well yes. But there's going to be some cut-off. Are any devices with the problematic decoder likely to ever receive Oreo, for example? What's the most recent version of Android that any of the affected devices currently runs?

[2017-11-17 11:45] SGA-masato-fujii opened #3474 "Live DASH playback fails after few tens of minutes."
We're developing Live DASH Playback application with ExoPlayer.
Now we're facing the following problem.

I guess this is our contents issue.
But I don't know what is wrong.
If you have any information, please let us know.

### Issue description
Live DASH playback fails after tens of minutes.

### Reproduction steps
1. start to playback Live DASH content.
2. wait a while <- stop to playback by erro

[2017-11-17 11:52] AquilesCanta commented on #3474
This has not been provided. Without the media or a bugreport this is not possible to diagnose.

[2017-11-17 11:52] #3474 closed, assigned to nobody

[2017-11-17 11:55] ojw28 commented on #3474
I'm not sure there's much we can do even with a bug report in this case. The stack trace suggests the media is incorrectly encoded, because it specifies a negative sample duration in a `trun` box, or because it's setting the flag that indicates the existence of sample durations in the `trun` box when it shouldn't be.

We'd need access to the media to confirm this theory, and there may be other pos

[2017-11-17 11:56] Gobi1989 commented on #3463
Hi @edwinwong

Please suggest me where we are wrong in these things. Kindly do the needful as soon as possible.

[2017-11-17 12:19] ojw28 commented on #3457
* Thanks for the comment :)! I'll file a review request and add a reference to it from here for tracking.
* As an additional point, I think allowing the period start time to change can make it impossible to work out whether a period in an updated manifest is the same one as in the previous manifest. In particular, this can occur if there's no overlap between the media in the two manifests (note th

[2017-11-17 12:26] andrewlewis commented on #3470
It's an enhancement to `OggExtractor`, though might need changes elsewhere as well, unless we can find a way to get the encoder delay/padding before we first create the Format.

We used to provide a `MediaExtractor` wrapper in v1 (FrameworkSampleSource) but there were fundamental issues with it.

I can't think of any quick fixes that do this properly. On the off chance you want gapless playback of

[2017-11-17 12:45] ojw28 commented on #3457
DASH-IF question filed here: https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/160

[2017-11-17 13:00] ojw28 commented on #3473
I'm not sure I follow your comment about empty buffers (why would there be empty buffers), but this error would be indicative of the decoder (OMX.Freescale.std.video_decoder.avc.v3.hw-based) incorrectly discarding video a video buffer when adaptively switching from one resolution to another.

I don't think the version in GTS corresponds exactly to any given tag, unfortunately, however if you're ob

[2017-11-17 13:04] ojw28 commented on #3456
Glad you got it working! It's interesting that you're able to work around the problem by toggling visibility, but I suspect the use of `RESIZE_MODE_ZOOM` is fundamentally flaky and/or inconsistent across different Android devices. I'd definitely prefer to use `TextureView` if I were developing an app that requires this feature (unless L1 DRM is a requirement, in which use of `SurfaceView` is likel

[2017-11-17 13:06] devnullpointer commented on #3472
@AquilesCanta Yes I am.
[code]

[2017-11-17 13:10] devnullpointer commented on #3472
@AquilesCanta you are correct, I just tried the exoplayer without extensions and the stream played as well. Still don't know why I'm getting a 403...

[2017-11-17 13:11] ojw28 commented on #3393
@AquilesCanta - I think we probably need to add a `Uri` field to `SchemeData`, that can be populated in the manifest parser, for this kind of case. Or something like that?

It's somewhat unclear what preference should be given to that `Uri` vs the one from `KeyRequest.getDefaultUrl` though. I think we'd probably need to prefer the one provided by `KeyRequest.getDefaultUrl` if both are present, sin

[2017-11-17 13:12] devnullpointer commented on #3472
Here's my Player Activity..
[code]

[2017-11-17 13:12] AquilesCanta commented on #3472
The easiest way to diagnose this is to compare the http request that the DemoApp is making and the one your app is making. Android Studio's network analyzer should make this fairly easy. There is either a header difference that is causing this (maybe the UserAgent?). Once you spot the difference, it should be easy to fix.

[2017-11-17 13:39] devnullpointer commented on #3472
That would be great if i could get the demo app to run in debug mode, the option is not available, and when i try to create a configuration for it, it won't let me. I can only build the apk and deploy. If i start the profiler and select the running exoplayer process it tells me advanced profiling is not available for it.

[2017-11-17 14:07] th3hamm0r opened #3475 "Click noise during gapless playback of mp3s"
### Issue description
As I've mentioned in https://github.com/google/ExoPlayer/issues/3470#issuecomment-345212457, the ogg issue in #3470 is also valid for mp3s.
I've created a "mp3-test"-branch in the test-app created for #3470. The ExoPlayer plays a gap, where the custom player (which uses Android's media framework) does not.

### Reproduction steps
1. Clone into the "mp3-test"-branch of my test

[2017-11-17 14:12] devnullpointer commented on #3472
There is a redirect that is happening and a cookie is supposed to be set. When i test the url using okhttp and a request builder the request gets forwarded and the cookie is set and the stream is good, unfortunately in exo that's not happening.

also if I look at the response for the call i make using okhttp I get status content-type and size in the response headers, similarly in the response head

[2017-11-17 14:13] th3hamm0r commented on #3470
@andrewlewis Again, thanks a lot for your quick reply and your help!
I've created another issue for MP3 (#3475), it looks like it suffers from the same problem.
Unfortunately mp3 is not an option for us, so I will try to find a (hacky) solution in the meantime, but I hope that the vorbis issue will be fixed in the future!

[2017-11-17 14:22] andrewlewis commented on #3463
It looks like a key request returned HTTP status code 400 (bad request). We will probably need a full bug report (not just a snippet of logcat) to help further.

I'm not aware of any issues doing ad insertion with DRM content. I tried playing one of the Widevine test streams from the demo app with ads inserted via the IMA extension, and it worked fine. Returning to content after playing an ad shou

[2017-11-17 14:35] andrewlewis commented on #3475
This appears to work fine for me in the demo app: I can't hear any gap and I can see the encoder delay and padding are set to 2016 and 1656 respectively for the first file and 1800 and 1872 for the second.

Please could you check whether this is reproducible for you on the `dev-v2` branch? We recently switched to trimming audio ourselves in `DefaultAudioSink`. That said, I don't think the switch s

[2017-11-17 14:52] AquilesCanta commented on #3472
You could also the [Sthetho extension](https://medium.com/google-exoplayer/enabling-stetho-on-exoplayer-2-demo-application-126807a37cb3) for sniffing the HTTP requests. I think the way to go is to compare the requests (the one that works and the one that doesn't). `curl` might help in creating a working request. Unfortunately, this is not something I can do for you.

[2017-11-17 15:06] devnullpointer commented on #3472
The requests are the same based on the profiler.

[2017-11-17 15:08] AquilesCanta commented on #3472
From the code you provided, the User Agent contains the substring "My App Name", whereas the demo app doesn't. I don't think they can be the same.

[2017-11-17 15:10] devnullpointer commented on #3472
When I call the url via okhttp to test the stream I get the following headers back:
![image](https://user-images.githubusercontent.com/3925946/32953837-6ac930da-cb7f-11e7-8131-03c0da61da7d.png)

when my exoplayer calls the url i dont get any headers back.

[2017-11-17 15:11] devnullpointer commented on #3472
It's like my exoplayer activity wont follow redirects, but the demo app will.

[2017-11-17 15:20] zmafox commented on #3473
EmptyBuffer and FillBuffer are Openmax IL component command for decoders. they are input and output buffers queued to decoder.
I filtered the time stamp from 134566000 us to 134833000 us, and get 11 frames, 134733000us and 134766000us both appears twice.
[OMX.Freescale.std.video_decoder.avc.v3.hw-based] calling emptyBuffer 3 w/ time 134600000 us
[OMX.Freescale.std.video_decoder.avc.v3.hw-based] ca

[2017-11-17 15:46] andrewlewis commented on #3472
- What are the redirects? Which one isn't followed?
- An image containing response headers is not that useful. It might be useful to see the requests as text.

[2017-11-17 16:08] devnullpointer commented on #3472
Here's the response when I play the url through the demo app:
![image](https://user-images.githubusercontent.com/3925946/32956352-8506a426-cb86-11e7-9a92-b57ebf20793a.png)

Here's the response when I test the stream using okhttp before calling the player activity:
![image](https://user-images.githubusercontent.com/3925946/32956656-5f3bcffe-cb87-11e7-8849-3ffa114e4407.png)

and when i pass the uri

[2017-11-17 16:11] devnullpointer commented on #3472
Sorry for my poor writing skills..
![image](https://user-images.githubusercontent.com/3925946/32956835-fcb0e6c0-cb87-11e7-871f-dfa6cd8df035.png)

[2017-11-17 16:24] AquilesCanta commented on #3472
Have you tried removing the cookie manager?

[2017-11-17 16:38] devnullpointer commented on #3472
Yeah, no difference.

[2017-11-17 16:44] andrewlewis commented on #3472
Does the request made by the player (which gets a 403 response) have a cookie set? It would really be helpful to see that request + response in text format (via email if preferred).

[2017-11-17 16:49] devnullpointer commented on #3472
From the profiler? or logger?

[2017-11-17 16:53] devnullpointer commented on #3472
I changed that part of the code to return a standard User Agent:
[code]

[2017-11-17 16:59] devnullpointer commented on #3472
The demo app doesn't set any cookies either. Here's the demo request/response headers from the profiler.
![image](https://user-images.githubusercontent.com/3925946/32959145-aa1cf7d0-cb8e-11e7-8aeb-8782d9f56fbe.png)

[2017-11-17 17:10] devnullpointer commented on #3472
@andrewlewis I emailed you the debug data of a breakpoint in the DefaultHttpDataSource whre it opens the url connection called from my app and from the demo app.

[2017-11-17 18:22] jagiellonczyk14 commented on #3450
I have Created A sample App So I will Post new Post And please delete This

[2017-11-17 18:37] ojw28 commented on #3473
The test is asserting that the decoder should set output timestamp to match input timestamp, and that this should happen even if duplicate input timestamps occur. Duplicate timestamps are not too uncommon in practice during adaptive playbacks where the segmentation across different representations is not exactly aligned.

This is undesirable. If every decoder does something different then applicat

[2017-11-17 18:39] #3450 closed, assigned to nobody

[2017-11-17 18:46] jagiellonczyk14 opened #3476 "My Caching Sample app NotWorking"
[myreports.txt](https://github.com/google/ExoPlayer/files/1484962/myreports.txt)

Issue description

In order to perform Caching video I Tried to merge Bao Le method from https://stackoverflow.com/questions/28700391/using-cache-in-exoplayer and informations provided in https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6
I created SampleApp to S

[2017-11-17 19:08] ojw28 commented on #3476
Please capture a full bug report with `adb bugreport` shortly after experiencing the problem. As in your previous report, the log snippet you've provided omits nearly all of the logging corresponding to the actual failure.

[2017-11-17 19:25] ojw28 commented on #3469
@rakesharyais - Manifests in the style of the one you link to really should contain a `UTCTiming` element to help avoid playback failure if the device clock is incorrect. This is the most likely problem here. I suspect this is just a test stream that's not indicative of what anyone would actually deploy in production (if they're sensible ;)).

[2017-11-17 19:25] ojw28 commented on #3469
Closing on the assumption that the device clock was slightly fast. Please re-open if you can validate this is not the case.

[2017-11-17 19:25] #3469 closed, assigned to rakesharyais

[2017-11-17 20:40] #3452 closed, assigned to nobody

[2017-11-17 21:26] ojw28 commented on #3392
Closing due to lack of information.

[2017-11-17 21:26] #3392 closed, assigned to AquilesCanta

[2017-11-17 22:38] AquilesCanta commented on #3472
The content is now returning a 404. Can you fix it? Or send a replacement link to reproduce the issue?

[2017-11-17 23:31] devnullpointer commented on #3472
who do I thank for that?

On Fri, Nov 17, 2017 at 5:39 PM, Santiago Seifert <notifications@github.com>
wrote:

[2017-11-18 01:07] mpainenz commented on #3456
Thank you for suggesting the fix. My feedback would be that a Exoplayer demo app which demonstrates a variety of functionality might be useful for developers.

Textureviee has had other unexpected benefits such as the last played game remains visible if the player is detached. This works very well for the use case of a recyclerview containing exposure items.

Thanks again, happy to close this issu

[2017-11-18 01:14] mpainenz commented on #3456
Sorry, that comment contained a few typos.

Thank you for suggesting the fix. My feedback would be that an Exoplayer demo app which demonstrates a variety of functionality might be useful for developers.

Textureview has had other unexpected benefits such as the last played frame remains visible if the player is detached. This works very well for the use case of a recyclerview containing exoplayer

[2017-11-18 01:14] #3456 closed, assigned to nobody

[2017-11-18 03:39] devnullpointer commented on #3472
I think its back.

[2017-11-18 06:07] jedashford opened #3477 "(Android 8.1 ONLY) When stacking 2 SimpleExoPlayerView and playing both, one is transparent, but audio still works."
EXAMPLE OF BEHAVIOR (short Video):  https://www.youtube.com/watch?v=hJnI-vlvI-0
This is API 25 and API 27. API 27 has the issue described where the 2nd SimpleExoPlayerView on top of another SimpleExoPlayerView is just blank.

### Issue description
In API 27 (could be 26 also, but we didn't test) when we 'stack' two SimpleExoPlayerView on top of each other (one smaller like a Picture-in-Picture), t

[2017-11-18 14:19] ahemeda opened #3478 "Allow CDM names as drm_scheme_uuid parameter."
getting java.lang.IllegalArgumentException: Invalid UUID string when using

adb shell am start -a com.google.android.exoplayer.demo.action.VIEW  --es drm_license_url  "https://proxy.uat.widevine.com/proxy?video_id=48fcc369939ac96c&provider=widevine_test"   --es drm_scheme_uuid widevine https://storage.googleapis.com/wvmedia/cenc/h264/tears/tears.mpd

[2017-11-18 15:17] devnullpointer commented on #3472
it should be working

[2017-11-18 15:24] devnullpointer commented on #3472
LinkL
https://streamango.com/v/d/oooapconaccrnqbe~1511104976~70.81.0.0~ltlYQSWe/718

On Fri, Nov 17, 2017 at 6:31 PM, Rockchip TV <rockchip.tv@gmail.com> wrote:

[2017-11-18 15:25] devnullpointer commented on #3472
link sent

[2017-11-18 15:47] devnullpointer commented on #3472
I just copied the player activity and all underlying required layouts/strings to my app, called that instead of my player activity and I still get the response code 403. When I run the demo app I don't get the 403.

[2017-11-18 16:53] axet opened #3479 "Broken build"
Hello! According to 'constants.gradle' you are using:

    minSdkVersion = 9
    supportLibraryVersion = '25.4.0'

But if you check SwitchCompat.java from 25.4.0 it is targeted for 14+ API, But if you checking the same SwitchCompat.java 25.3.1 the same file market for 7+ API.

https://developer.android.com/topic/libraries/support-library/rev-archive.html#25-3-1

Or here:

https://issuetracker.goog

[2017-11-18 16:58] AquilesCanta commented on #3472
We are going to look into this again next week. If possible keep it online, se we can access it.

[2017-11-18 17:04] AquilesCanta commented on #3478
The drm_license_url is expecting a uuid, "widevine" is not. Try passing "`edef8ba9-79d6-4ace-a3c8-27dcd51d21ed`" instead. I will use this issue to track supporting CDM names as parameter as well.

[2017-11-18 17:55] ahemeda commented on #3478
thanks a lotm that works, what's the uuid for playready?

[2017-11-18 19:29] jagiellonczyk14 commented on #3476
My mistake myreports.txt is what adb created

[2017-11-19 11:54] ojw28 commented on #3479
ExoPlayer's minSdkVersion is being increased to 14 in the `2.6.0` release, to match the increase to 14 for most support library modules as of `26.0.0`, as documented [here](https://developer.android.com/topic/libraries/support-library/index.html).

99.5%+ of active Android devices are running API level 15 or later, as per [this data](https://developer.android.com/about/dashboards/index.html), so I

[2017-11-19 11:54] #3479 closed, assigned to nobody

[2017-11-19 14:20] ojw28 commented on #2736
Closing based on the assumption this is a duplicate of #1874 or #1897, both of which are fixed in the `dev-v2` branch and will be included in the `2.6.0` release.

[2017-11-19 14:20] #2736 closed, assigned to AquilesCanta

[2017-11-19 14:35] ojw28 commented on #3108
You'd be better off using a more modern format, however if you do need to bundle your own decoder you can try the [FFmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) configured with `–enable-decoder=mp3` as described [here](https://google.github.io/ExoPlayer/supported-formats.html).

Let's use this issue to track blacklisting decoders, specifically for audio/m

[2017-11-19 14:36] ojw28 commented on #3108
Another case we should look to blacklist is described in https://github.com/google/ExoPlayer/issues/3266.

[2017-11-19 14:38] #3421 closed, assigned to nobody

[2017-11-19 14:49] ojw28 commented on #1576
We've made some improvements that will be in the `2.6.0` release (and are on the dev-v2 branch currently), which should result in much better behavior when playing videos that are hitting or exceeding what the device is capable of. Frame drops will still occur (these are inevitable), but should no longer result in the video freezing indefinitely.

[2017-11-19 14:49] #1576 closed

[2017-11-19 14:55] #2591 closed, assigned to nobody

[2017-11-19 15:12] anonym24 opened #3480 "Display subtitles after seeking when paused"
### Issue description
Subtitles won't appear if video is paused during seeking, in `SimpleExoPlayerView.ComponentListener.onCues(List<Cue> cues)` we won't get any subtitles until we continue to play the video

### Reproduction steps
**1**. find some project (e.g. ExoPlayer demo).
**2**. add mediasource to play some video with subtitles
[code]
**3**. it will start playing video and showing subtitle

[2017-11-20 02:22] MateusZitelli opened #3481 "Gear 360: OOM with poorly interleaved videos"
### Issue description

Experiencing a OOM crash in multiple devices when combining multiple `ClippingMediaSource` in a `ConcatenatingMediaSource` or `DynamicConcatenatingMediaSource`. I was only able to reproduce the issue in videos recorded by the camera Gear 360 (2016).

I was not able to reproduce the crash using `ClippingMediaSource` or `ConcatenatingMediaSource` independently.

### Reproducti

[2017-11-20 05:04] Gobi1989 commented on #3463
Hi @andrewlewis,

Even for me the content are playing well, only some particular content having the issue.

Full bug report in the sense? (you meant full log cat?)

Thanks & Regards,
Gobi

[2017-11-20 07:17] tungds commented on #1782
Hi,
I'm using v1 - r1.5.16. And I get same problem on live. After debug on HlsChunkSource, I found some segment lost, so "NextchunkMediaSequence" less than "mediaPlaylist.mediaSequence".
My server using wowza and config window length is 10s with 3 segments. Thus, I can't fix problem from suggestion in #1074.
This link test : http://118.107.85.32:1935/test/sctv14.smil/playlist.m3u8
How can I fix th

[2017-11-20 08:08] andrewlewis commented on #3463
From the new issue template:

### A full bug report captured from the device
Capture a full bug report using "adb bugreport". Output from "adb logcat" or a
log snippet is NOT sufficient. Please attach the captured bug report as a file.
If you don't wish to post it publicly, please submit the issue, then email the
bug report to dev.exoplayer@gmail.com including the issue number in the subject
line.

[2017-11-20 10:09] ojw28 commented on #1782
1. Use ExoPlayer V2.
1. Use a server that provides a live window of adequate length.

[2017-11-20 10:24] tungds commented on #1782
Thanks for reply,
I used Exoplayer V2 but I got another error is "response 403" while V1 still play if i skip fatal error.

[2017-11-20 10:51] Gobi1989 commented on #3463
Hi @andrewlewis,

I have attached the bug report.
**Please let me know if this is not what you have expected**

[bugreport.zip](https://github.com/google/ExoPlayer/files/1487303/bugreport.zip)

[2017-11-20 11:11] tonihei commented on #3481
It seems your mp4 files are very poorly interleaved which is causing the issue you see.
The first file for example (SAM_100_0024.mp4) has all the video data in the range  [32, 400275315] followed by the audio data in [400275316, 401991423]. This means ExoPlayer needs to load all 400MB of video data in memory before finding the first audio sample. Your devices have enough memory to read these 400MB

[2017-11-20 11:13] haihack opened #3482 "Shorten the time showing the source error in ExoPlayer"
### Issue description
When I play the online radio stream, it shows the below error message. I knew that the problem is on server side but it tooks 10 seconds to show the error. Is there any way to shorten the time showing error. I use ExoPlayer 2.5.4

### Link to test content
Streaming source: http://radio.visionotaku.com:8000/stream.mp3

### Version of ExoPlayer being used
2.5.4

### A full bug

[2017-11-20 11:48] ojw28 commented on #3478
https://www.google.com/search?q=playready+uuid

[2017-11-20 13:03] MateusZitelli commented on #3481
Do you have any recommendations about how to handle this type of error, or any method for identifying badly interleaved files? I ask that because this is the most common crash faced by my user base.

[2017-11-20 13:31] th3hamm0r commented on #3475
@andrewlewis it may depend on your headset/device. I can clearly hear clicks from the ExoPlayer's playback.
I've now modified the mp3-test to playback 10 2s-files and I hope this creates notable gaps. The custom player with Android's media framework still plays it completely gapless.

[2017-11-20 13:33] ojw28 commented on #3481
Are these media files being produced entirely by Samsung's own hardware/software, or is your own software involved? It's really not great that the audio is just being shoved onto the end of the file like that, rather than being interleaved properly. If it's entirely Samsung's own hardware/software, we should have a discussion with them about why they're doing that.

[2017-11-20 13:46] andrewlewis commented on #3463
Please attach a bug report taken just after reproducing the error.

[2017-11-20 14:00] alonaviram opened #3483 "UnrecognizedInputFormatException when switching between 3g/wifi"
I'm using ExoPlayer on a list of videos.
This is my code (relevant to the issue):
[code]
when i switch connectivity between 3g and wifi while i scroll between videos i get this exception (with some logs i catched):
[code]
the connectivity should be changed exactly in the moment when the new video is loaded.
it's not specific to url, it may happen on every url i tried, anyway,  on demand i can send

[2017-11-20 14:17] Gobi1989 commented on #3463
Hi @andrewlewis,

I can't able to access the content now. Will share it shortly.

Regards,
Gobi

[2017-11-20 15:40] lazarvgd commented on #3455
@ojw28, thank you for the answer!
I believe that the problem is with audio codec since the audio codec that I have used before was
CODECS="avc1.100.30,mp4a.40.2" and everything worked fine, and now is CODECS="avc1.77.30,mp4a.40.33".

From your experience, can this cause the problem?
Thanks,
L

[2017-11-20 15:47] AquilesCanta commented on #3455
It seems you have also changed the video profile. Have you actually re-encoded the content? Or did you just change the manifest?

[2017-11-20 16:20] devnullpointer commented on #3472
Can you guys confirm that there is nothing wrong with my player activity class?

[2017-11-20 16:27] AquilesCanta commented on #3472
No, we can't do that unfortunately. That would require us to carefully read the whole class, and even if we did, nothing guarantees that another piece of your app is not modifying the global context. We will look into this, but we cannot make any promises on timelines. You should definitely try to diagnose the issue as well. Please reach out if you manage to do so.

[2017-11-20 16:42] ojw28 commented on #1782
That error is unrelated to this issue.

[2017-11-20 17:10] ojw28 commented on #3472
If the content works successfully in the demo app, on the same device, then there must be something different in your app (not necessarily in your player activity). Are you sure you don't depend on some other library that's messing around with the default cookie manager, or something like that (libraries probably shouldn't do this, but that doesn't necessarily mean they wont!).

In any case, this

[2017-11-20 18:59] dorinsimina opened #3484 "Random UnrecognizedInputFormatException"
By using the http://listen.untold.com stream url from time to time I get the below response:

                                                                          com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor,

[2017-11-20 19:10] anonym24 commented on #3480
someone checked this?
if you didn't understand the problem, please, let me know

[2017-11-20 19:25] anonym24 commented on #3480
here how it should be, example on Windows video player PotPlayer (gif animation):

![1](https://user-images.githubusercontent.com/8851301/33037532-8932b038-ce3a-11e7-8965-6fdccfa44b61.gif)

I use right button to forward with paused video, subtitles appear ok even video is paused

so ExoPlayer renders subtitle only if video is playing now, but doesn't if it's paused

[2017-11-20 20:08] MateusZitelli commented on #3481
Those files came directly from the Samsung Gear 360 (2016) cameras, however only some files present the problem.

Edit: Got some samples from Samsung Gear 360 (2017) and they also are bad interleaved.

[2017-11-20 20:15] devnullpointer commented on #3472
Seems like it was the cookie handler/manager after all. I made sure I was using the same CookieHandler in both my okhttp service class and the exo player activity and its working perfectly now.

Thanks for the time and help. Greatly appreciated!

[2017-11-20 20:15] #3472 closed, assigned to nobody

[2017-11-20 20:40] mpainenz commented on #867
I have also found that you can further increase performance by using a TextureView instead of SimpleExoPlayerView, and only create one TextureView object instead of one per viewholder.

In your Adapter or Activity, store a single TextureView object, and pass it to the ViewHolder that is playing at runtime. Reuse the same TextureView item for each viewholder that is playing.

I cannot believe how m

[2017-11-21 08:08] TarifHatoum opened #3485 "Exoplayer 2 Issue"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-11-21 08:08] TarifHatoum commented on #3485
when streaming getting this issue please i need an urgent solution

java.lang.OutOfMemoryError:
  at com.google.android.exoplayer2.upstream.DefaultAllocator.allocate (SourceFile:102)
  at com.google.android.exoplayer2.extractor.DefaultTrackOutput.prepareForAppend (SourceFile:585)
  at com.google.android.exoplayer2.extractor.DefaultTrackOutput.sampleData (SourceFile:513)
  at com.google.android.exo

[2017-11-21 08:19] andrewlewis commented on #3485
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-11-21 08:19] #3485 closed, assigned to nobody

[2017-11-21 08:26] andrewlewis commented on #3484
This is an MP3 live stream. It looks like the format of media received from the URL does not match the structure that `Mp3Extractor` expects, occasionally. To diagnose this, we'd ideally need a sample of media that consistently reproduces the issue.

Please could you give a bit more detail about how easy to reproduce this is? For example, do you see the error if you repeatedly start playing the UR

[2017-11-21 08:26] sandersaares commented on #3457
Based on my reading, this attribute is only optional for static manifests, so it could actually be used to determine period identity in case of dynamic manifests.

Here's the relevant snippet from DASH spec:

[2017-11-21 09:29] ojw28 commented on #3457
Ah, thanks, that's good to know!

[2017-11-21 10:47] ojw28 commented on #3481
Lovely :(.

Just to clarify, I don't think you're actually seeing a crash are you? You should just be seeing playback fail, which we currently consider working as intended when media is this poorly interleaved. If you are seeing a crash, you haven't provided any logs that show it, so please do so (note the error shown in the snippet above is something our code catches and handles gracefully as pla

[2017-11-21 12:30] MateusZitelli commented on #3481
In the demo app there is no crash happening but ExoPlayer keeps using the memory trying to load the video over and over again. Then in my app this over usage of memory generates OOM Exceptions in other threads.

[2017-11-21 12:34] ojw28 commented on #3481
Got it. We could impose a hard limit on the maximum memory we'll consider using, but since different devices will allow us to use different amounts of memory, it's very unclear what that value should really be set to.

I don't think we retry indefinitely. I think we retry three times before giving up (and releasing all memory) by default. https://github.com/google/ExoPlayer/issues/2844 tracks not

[2017-11-21 12:48] ojw28 commented on #3480
This is considered working as intended currently. I agree it would be better as described, however. Marking as an enhancement.

[2017-11-21 13:24] MateusZitelli commented on #3481
You are right, in the demo app ExoPlayer only try to load the video three times before stopping. However, my application hangs with the garbage collector on the first try and some seconds later it crashes.

Seein that my application is a 360 video editor, videos from Gear 360 are very common and by far this is the most common issue that our users face. So even if my application didn't crash, just

[2017-11-21 13:40] ojw28 commented on #3481
* I think these files will cause excessive memory consumption whether you concatenate and clip or not. Although concatenation and clipping will exacerbate the issue.
* Identifying and fixing the poorly interleaved videos would be a good thing to do. It's quite likely that just re-packaging the file is sufficient to restore good interleaving, and this should be pretty fast to do. I'm not sure exact

[2017-11-21 15:03] alfonsoramosa opened #3487 "Improve ott zapping time"
Hi,

I'm using Exoplayer 2.4 on Android TV to play OTT live streams (DRM protected):
- Smooth Streaming + PlayReady
I'm using the same key to encrypt all the channels, so the same license should be valid to decrypt all the channels.

Currently, during each channel zapping, I'm releasing the player. Something similar to what the Exoplayer demo App is doing at PlayerActivity.releasePlayer().
After t

[2017-11-21 15:17] rjlevesque commented on #3302
Hi @andrewlewis, sorry to be a pest but any updates on HLS ad support?

[2017-11-21 16:02] andrewlewis commented on #3302
@rjlevesque No updates yet I'm afraid.

[2017-11-21 16:08] Eyliss opened #3488 "Using live HLS streams, seek to a certain datetime"
Hello,

I'm working on a radio application with Exoplayer v2.5.1. While reproducing live stream I'm implementing a song timeline where the user is able to "timeshift" to a already reproduced song. The timestamp when the song was played is known and my goal is to be able to seek to that timestamp in the player.

I tried several methods having in mind that the current time is equivalent to the curre

[2017-11-21 16:48] #3478 closed, assigned to AquilesCanta

[2017-11-21 16:48] #3430 closed, assigned to andrewlewis

[2017-11-21 17:39] MateusZitelli commented on #3481
Great, I will follow that approach. On any news please let me know. Thanks!

[2017-11-21 19:22] wvpaf commented on #3143
Hi any update on trying a re-provisioning of the device?

[2017-11-21 19:24] wvpaf commented on #3173
closing due to inactivity, please reopen if more data is available.

[2017-11-21 19:24] #3173 closed, assigned to wvpaf

[2017-11-21 19:24] wvpaf commented on #3204
closing due to inactivity, please reopen if more data is available.

[2017-11-21 19:24] #3204 closed, assigned to wvpaf

[2017-11-21 20:32] sergiomartinez4 opened #3489 "player.getCurrentManifest returns null in DefaultTrackSelector.selectTracks"
Question:
I'm implementing a custom Track Selector by extending the DefaultTrackSelector and overriding the selectTracks(...) method.
Inside the selectTracks method I need to access the DASH manifest so I call exoPlayer.getCurrentManifest(), but the getCurrentManifest() method sometimes returns null.
By debugging the code I notice that there's a race condition where the selectTracks method is some

[2017-11-22 07:07] Gobi1989 commented on #3463
Hi @andrewlewis,

Thanks for your patience.

Herewith i have attached the bug report generated from command prompt and also device as well (Samsung GALAXY Note 4, Android 6.0.1).

It was taken just after i had the 400 exception.

[bugreport_from_cmd.txt](https://github.com/google/ExoPlayer/files/1494804/bugreport_from_cmd.txt)

[bugreport_from_mobile.txt](https://github.com/google/ExoPlayer/files/

[2017-11-22 10:16] andrewlewis commented on #3463
Neither of those files contains the `ExoPlaybackException` in the logcat attached to the original issue report?

[2017-11-22 10:25] Gobi1989 commented on #3463
Hi @andrewlewis ,

I have taken the report as per this [link.](https://developer.android.com/studio/debug/bug-report.html)

Thanks & Regards,
Gobi

[2017-11-22 10:29] AquilesCanta commented on #3489
The DefaultTrackSelector is intended to have all the information it needs in the TrackGroups. Could you explain a little bit more about your use case? This could either be an enhancement opportunity or maybe the track selector is not the right place to do this (maybe you need to write your own AdaptiveTrackSelection).

I doubt it. But maybe someone from the team can confirm. Worst case scenario, y

[2017-11-22 10:31] andrewlewis commented on #3463
I suggest plugging the device in, running `adb logcat`, reproducing the error, verifying that you can see the `ExoPlaybackException` in the output of `adb logcat`, then immediately running `adb bugreport`. That should ensure the bug report contains the error.

[2017-11-22 10:47] Gobi1989 commented on #3463
Hi @andrewlewis ,

I have attached the **adb bugreport** and i had ensure that it has **ExoPlaybackException.**
Please let me know if you need any more inputs.

[bugreport.txt](https://github.com/google/ExoPlayer/files/1495598/bugreport.txt)

Thanks & Regards,
Gobi

[2017-11-22 12:19] ojw28 commented on #3463
If the license server is responding with a 400 then it thinks something is wrong with the request. I think we'd really need to know what specifically it thinks is incorrect to investigate further.

Do you control the license server? If so, it should be fairly easy for you to add server-side debugging to work out exactly why 400s are being returned (e.g. because some specific field that the server

[2017-11-22 12:36] Aqua-Ye commented on #1874
Hi, any idea when you plan to release this fix? Thanks.

[2017-11-22 12:51] BucherTomas commented on #3463
Can't say for sure, but it seems that the client is calling the license server via GET method instead of POST method which Widevine proxies commonly require.

See in the log:

11-22 16:09:11.222  3139 15219 I Log     : URL = https://sdp-fng-webservices.quickplay.com/wvp/getlicense?[truncated_for_clarity]
11-22 16:09:11.232  3139 15219 I Log     : RequestMethod = GET

[2017-11-22 12:52] Gobi1989 commented on #3463
Hi @ojw28 ,

We (myself) don't have any control over license server. I have captured the the **URL, Connection Request Properties, PostBody and some** over Log. I have shared the Log file over the mail with the
issue id as subject. From that log file you can see the problematic request that has Rersponse Code 400 at the bottom of the logs.

Regards,
Gobi

[2017-11-22 12:58] Gobi1989 commented on #3463
Hi @BucherTomas ,

I have shared the Full Log file via mail, where you can see that the request fails after some iteration. In correct words the player had Ads integration and the player throws exception while resuming the content video after 2nd or 3rd Ads.

Regards,
Gobi

[2017-11-22 13:05] ojw28 commented on #1874
It's fixed in `2.6.0`, which is scheduled to be released this week.

[2017-11-22 13:20] t-ester opened #3490 "Can't launch content playback again after error during playback"
We're developing Live DASH Playback application with ExoPlayer.
Now we're facing the following problem:

### Issue description
Can't relaunch the same content playback after it failed once.
Need to restart application to make it work.

### Reproduction steps
1. start live DASH content playback.
2. wait about 30min for any error:
one of server related:
[code]
3. Close activity containing SimpleExoP

[2017-11-22 13:24] Aqua-Ye commented on #1874
Cool thanks!

[2017-11-22 13:28] ojw28 commented on #3463
The server log is really confusing. It seems to mix logging for arbitrary many requests together, with no way to separate them back out so you can see what log lines correspond to which request. For example this snippet is (presumably) for two requests that are occurring in parallel:

[code]

* Can you find a way to provide the logging for requests coming from just the client that hit the error, s

[2017-11-22 13:40] Gobi1989 commented on #3463
Hi @ojw28 ,

Just shared the cleared log file with synchronous **request and response code** with subject REG| ISSUE 3466.

Our technical guy sentenced that **  **license URLs expire after a minute or so. I can't remember exactly how long the URL lives, but it's a relatively short time.  The player is supposed to retrieve the licence at the beginning and store it locally.**

Does it cause for 400

[2017-11-22 15:15] Aqua-Ye opened #3491 "Compiling with a subset of library modules"
### Issue description
I'm trying to compile my project, by just importing `exoplayer-core` and `exoplayer-ui` modules.
But when I compile in release mode, with proguard enabled
[code]
I have warnings when compiling, which prevents my project to build successfully.

### Reproduction steps
`./gradlew aRelease` on a big project, with multidex enabled

### Version of ExoPlayer being used
2.5.4

### Gr

[2017-11-22 15:30] Aqua-Ye commented on #3491
I spotted the reason why: it happens when I use facebook audience-network-sdk...
`compile 'com.facebook.android:audience-network-sdk:4.26.1'`

[2017-11-22 15:30] #3491 closed, assigned to nobody

[2017-11-22 16:34] ojw28 commented on #3490
Sounds like you are not creating a new `MediaSource` instance and re-preparing the player after failure. You need to do this.

[2017-11-22 17:29] ojw28 commented on #3463
It's the license server that's reporting the 400, so that's a question for whoever controls your license server (or someone who knows enough about it).

That said, it sounds likely. In general I'm not sure license servers should behave in this way. You probably don't want genuine offline licenses unless you're actually downloading the content. And if you're using streaming licenses, the client gen

[2017-11-22 18:04] mapsver commented on #2189
do u know if is this being worked on for an upcoming release ?

[2017-11-22 18:08] stellabei commented on #3150
I found the same issue happening for widevine with API 19 and 18. Solved it by ignoring this error in the case that phone is running on API 19 and 18 since we can not change the license duration at the server.

[2017-11-22 21:01] t-ester commented on #3490
After the failure the whole activity is closed and so the player instance (SimpleExoPlayer) is released. When going back to the activity new player instance is created but the error still occures. Wouldn't MediaSource item be recreated in this situation?

[2017-11-22 21:02] ojw28 commented on #3490
It's your code that will be creating the `MediaSource`. So it depends on what your code does.

[2017-11-22 21:50] anonym24 commented on #3480
@ojw28 does it require enough changes/commits to implement this? or is it not that hard? could you please then tell what I have to change?

[2017-11-22 22:36] sergiomartinez4 commented on #3489
The use case is to select the previously downloaded Dash Representation as a FixedTrackSelection, and we currently need the Representation url from the Manifest object as the reference.
It'll be great to be able to access the manifest by that time, but I think now I have a couple of options to try.
Thanks for the information @AquilesCanta

[2017-11-22 22:47] ArikYa commented on #91
Why doesn't SimpleExoPlayerView handle the rotation on older device? It already listens to the `onVideoSizeChanged()` and can handle it. As it stands, because it tries to handle the aspect ratio by itself, it prevents the application from doing it correctly

[2017-11-22 23:01] ojw28 commented on #3489
If this is for playback of offlined content, it's preferable to filter the other representations out of the `DashManifest`, so that there's only one representation available for selection by the time the track selector gets involved. The offlined representation will then be selected without you having to do anything non-standard on the track selector side.

If you're injecting the `DashManifest` d

[2017-11-22 23:11] ojw28 commented on #91
We could (and probably should) do this if the `SimpleExoPlayerView` instance is configured to use `TextureView`. For `SurfaceView`, which is the default it's somewhat less clear what to do. We could just log a warning, or we could dynamically switch to `TextureView` for that specific case.

[2017-11-22 23:40] ojw28 commented on #91
@botaydotcom - Might be fun to take a look at.

[2017-11-23 00:12] sergiomartinez4 commented on #3489
That's a great idea @ojw28 I'll try this out. Thanks a lot!

[2017-11-23 01:31] mpainenz commented on #867
Just an update to TextureView re-use in RecyclerView, it seems to be quite buggy when removing a TextureView from it's parent and moving it to a new View.

If you want to get that working, the better approach is to hold the TextureView inside the Activity view, and overlay the recyclerview on top. It's a difficult approach, but if you move the TextureView between parents, it seems to end up displa

[2017-11-23 07:03] sharish commented on #3143
Nope. Calling getProvisionRequest throws the above exception. Tried replacing the [constructor](https://github.com/google/ExoPlayer/blob/ab6f9aea5bbdf414993766308dd808ab660d956b/library/core/src/main/java/com/google/android/exoplayer2/drm/FrameworkMediaDrm.java#L60) to the following and the exception is thrown right away there

[code]

Caught Stacktrace for above code

[code]

Will try root the de

[2017-11-23 08:05] t-ester commented on #3490
Every time I start new playback we create new activity and new player instance:
[code]

And after each failure we call this:
`player.release();`

This code is basically a copy of demo application. There was nothing extra done on the player or on the media source.
I assume that `player.release();` calls `releaseSource` on each mediaSource object.
But just to be sure I will call extra `releaseSource

[2017-11-23 09:11] tonihei commented on #2189
It's being worked on. But not for the upcoming 2.6 release. More likely the next one.

[2017-11-23 10:03] noamtamim commented on #2403
Hi @ojw28
I haven't tested the above solution yet (I will soon when I get the chance). But **our** use case is that the last watched position is stored on the server and the user wants to start from that place (similar to Netflix "Continue Watching"). Regular prepare and then seek means you waste time and bandwidth loading the first few chunks even though you don't intend to play them. Ideally Exo

[2017-11-23 10:05] andrewlewis commented on #2403
@noamtamim For the first case, can you just seek before preparing the player?

[2017-11-23 10:59] andrewlewis commented on #3475
Still no luck reproducing this. I tried a couple of different devices and headsets. I can see that the AudioTrack is not being released and that some samples are getting trimmed as expected. If there is a gap being introduced, it likely means we are not trimming the right number of bytes from the start/end of the media.

@th3hamm0r I won't have more time to investigate this soon. One possible next

[2017-11-23 12:30] ojw28 commented on #3490
Is mediaSources[0] a new `MediaSource` instance each time? If the code is a copy of the demo application, can you reproduce the same issue in the demo application? If so then how? If not, that suggests there's a difference.

[2017-11-23 12:31] ashishvirani opened #3492 "Decoder init failed: OMX.qcom.video.decoder.avc, MediaFormat in Samsung Galaxy 7 Pro"
*** Decoder init failed: OMX.qcom.video.decoder.avc, MediaFormat in Samsung Galaxy 7 Pro ***

i got error when Record Video from samsung galaxy on7 pro and apply video speed sucsessfully but this video not play pn samsung galaxy on7 pro.
			it work normal on other android smartphone
			My Android Version: 6.0
			i use ads video mp4
			ver exoplay : r1.5.8

[code]

[2017-11-23 13:01] t-ester commented on #3490
`mediaSource.release()` didn't help.

`mediaSource[0]` is new array created each time activity containing the player launches.
It is created with `MediaSource `objects are created with `MediaSourceHelper#buildMediaSource` method, based on uri.

I will try to reproduce the same behavior on ExoPlayer demo. There is a lot changes to the code (regarding soundtracks/subtitles logic and dialog or ui) bu

[2017-11-23 13:08] ojw28 commented on #3490
`MediaSourceHelper` is not part of ExoPlayer, so we have no idea what it does. Please ensure it creates a new `MediaSource` each time it's used.

[2017-11-23 13:20] t-ester commented on #3490
True, `MediaSourceHelper` is our code.
But it's basically wrapper to couple functions from example so `buildMediaSource` behaves the same as ExoPlayer demo - Yes it creates new `MediaSource` each time.

[2017-11-23 17:22] giladna commented on #2403
@andrewlewis  what is the impact of seeking player instance to some position if no mediaSource was set?

[2017-11-23 17:28] ojw28 commented on #2403
Provided you set `resetPosition` to false when subsequently calling `prepare` on the player, playback will start from the position that you performed the seek to. Seeking before prepare is normally more efficient than seeking after prepare. If you look in the ExoPlayer demo app, you'll see that we seek before prepare in the case that we have a resume position.

[2017-11-23 17:31] ojw28 commented on #2403
The obvious caveat of seeking before prepare is that you need to know that where you're seeking to is actually going to be valid in the source you're going to `prepare` with. Although in many cases you do know this (e.g. if it's a resume position into a piece of content, or if you know the content duration already, etc). Nothing particularly bad will happen if you seek outside of the source either

[2017-11-23 17:43] ojw28 opened #3494 "2.6.0 Leanback extension not yet available via JCenter"
This will be resolved shortly (requires manual assistance from Bintray).

[2017-11-23 18:30] #3494 closed, assigned to ojw28

[2017-11-23 18:36] noamtamim commented on #2403
Thanks @ojw28 and @andrewlewis, I didn't even know it's possible to seek before prepare.

[2017-11-23 18:38] ojw28 commented on #3492
Please provide a link to the problematic video, so we can give it a try. Please also try and reproduce with the ExoPlayer demo app. Thanks.

[2017-11-23 19:07] giladna commented on #2403
@ojw28
Regarding the demo app...
In latest dev code we could see it was removed :(
what are the plans regarding it?

10x

[2017-11-23 19:07] ojw28 commented on #3488
I guess the HLS playlists include `EXT-X-PROGRAM-DATE-TIME` tags to facilitate this? If that's the case then yes, it should be possible to do this during playback.

When seeking, you're required to pass a position relative to the start of the window of available content. For a live stream this is the position relative to when the live stream started, or relative to the oldest part of the stream th

[2017-11-23 19:10] ojw28 commented on #2403
What was removed? The demo app is still there. It's just moved:
https://github.com/google/ExoPlayer/tree/dev-v2/demos/main

[2017-11-23 19:15] giladna commented on #2403
let me recheck might be  studio issue, it was not shown when I switched to it I could see now in git that it is called demos now

[2017-11-23 19:23] giladna commented on #2403
@ojw28
In my Studio 3.0 if I switch from older version to v2.6.0 it is not there after reopen the project inly demo-ima is there

[2017-11-23 19:24] giladna commented on #2403
include modulePrefix + 'demo'
include modulePrefix + 'demo-ima'
include modulePrefix + 'playbacktests'
project(modulePrefix + 'demo').projectDir = new File(rootDir, 'demos/main')
project(modulePrefix + 'demo-ima').projectDir = new File(rootDir, 'demos/ima')
project(modulePrefix + 'playbacktests').projectDir = new File(rootDir, 'playbacktests')

[2017-11-23 19:29] giladna commented on #2403
@ojw28
keeping the same name makes studio to confusion
after changing it to:
include modulePrefix + 'demos'
project(modulePrefix + 'demos').projectDir = new File(rootDir, 'demos/main')

it appeared

[2017-11-23 19:33] ojw28 commented on #2403
Sounds like a bug you should report to Android Studio (by the way, once you've made it appear, you can almost certainly revert your change again and have it remain visible).

[2017-11-23 19:37] giladna commented on #2403
@ojw28 ,  @andrewlewis
Regarding seekTO...
in Sample
there is meaning to this action only if resumeWindow != UNSET
what is value that should be given if I just start from last know position from fresh player
does it mean that we also have to save also the resumeWindow and not only the lastPosition in some database to use this approach?

[code]

[2017-11-23 19:40] ojw28 commented on #2403
It's the app's responsibility to save and restore positions, if it wishes to do so.

[2017-11-23 19:42] giladna commented on #2403
@ojw28
the point here that now app may save two values for this purpose and not only currentPosition
the window cannot be calculated internally?

[2017-11-23 19:44] ojw28 commented on #2403
I don't understand what that means, but please just look at what the demo app does, since it clearly demonstrates this feature. Thanks.

[2017-11-23 20:02] #3464 closed, assigned to nobody

[2017-11-23 20:03] ojw28 commented on #3424
Closing due to lack of actionable information.

[2017-11-23 20:03] #3424 closed, assigned to nobody

[2017-11-23 20:03] #3444 closed, assigned to nobody

[2017-11-23 20:03] ojw28 commented on #3444
Closing on the assumption this is resolved.

[2017-11-23 20:05] #3411 closed, assigned to nobody

[2017-11-23 20:06] #3473 closed, assigned to nobody

[2017-11-23 20:50] PaulWoitaschek commented on #1434
Also I want to note that probably the usage of these extensions is very low because it's so hard to use them.

I created a project that builds the flac and opus extensions from source and lets you import them through jitpack:
https://github.com/PaulWoitaschek/ExoPlayer-Extensions

[2017-11-24 05:14] rantianhua commented on #677
I have a doubt about DummySurface. In your guys previous discussion, I get the information that we can use DummySurface to hold MediaCodec after surface is destroyed since api 17. But in the codes   as follows:

https://github.com/google/ExoPlayer/blob/e7c60a2a234ab11bc75335453a7836fef9509610/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L753-L756

My

[2017-11-24 08:40] andrewlewis commented on #2403
@giladna You can omit the resume window and just do `player.seekTo(resumePosition)` if the content you're playing has only one window (you only need it for multi-window content like playlists, where it's necessary to specify which item in the playlist to resume playing).

[2017-11-24 11:20] thibseisel opened #3497 "Allow customisation of updateMediaSessionMetadata"
When using the MediaSession extension for ExoPlayer, it is possible to specify whether or not metadata should be updated with the `doMaintainMetadata` constructor parameter. If `true`, `MediaSessionConnector` will internally call the private method `updateMediaSessionMetadata` to recreate a `MediaMetadataCompat` from the currently playing `MediaDescriptionCompat`.

I already have MediaMetadataComp

[2017-11-24 11:34] stoleruedgar opened #3498 "Allow MediaSource instances to be reused"
### Issue description
Passing the same DynamicConcatenatingMediaSource to a new SimpleExoPlayer instance doubles the internal mediaSourceHolders which in turn breaks the Player behaviour

### Reproduction steps
[code]
Put the activity in background and then bring the app in the foreground.

### Version of ExoPlayer being used
r2.5.4

### Device(s) and version(s) of Android being used
Samsung Galax

[2017-11-24 11:48] tonihei commented on #3498
Media sources shouldn't be reused ([documented here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html#prepare-com.google.android.exoplayer2.source.MediaSource-)). This includes the dynamic concatenating media source as well as the single playlist item media sources.

[2017-11-24 19:49] zsoltbokor opened #3499 "Find out Format / Track what the player selects when is getting initialized"
Hello,

If I prepare the player with a media with multiple audio / subtitle  (multi language) the player selects one audio and one subtitle when startup but there is no possibility (or I can't find) to find out which one of the possible audio / subtitle has been selected.

When the player loads I have the list of tracks by renderers and using them I can change the audio / subtitle using the track

[2017-11-24 20:30] zsoltbokor commented on #3499
Format.selectionFlags is what I was looking for.

[2017-11-24 20:30] #3499 closed, assigned to nobody

[2017-11-25 09:39] ntminh90 opened #3500 "Couldn't adaptive different codecs in HLS stream"
**Reproduction steps**
We built the V2 exoplayer for our app.
We transcoded our stream into HLS stream with 2 profiles with different codec video in mainifest file.
1. 1080p H264
2. 2160p HEVC
We tried to test our HLS link on Exoplayer, but we couldn't adaptive between two profiles in good network environment. Only playing 1080p profile.
Then we tried to transcode our stream into HLS stream with 2

[2017-11-26 08:05] giladna commented on #2403
Thanks :)

[2017-11-26 15:43] techAch opened #3501 "RTMP stream doesn't play correctly"

[2017-11-26 15:46] techAch commented on #3501
hello, I used the exoplayer RTMP extention r2.5.4 to play this radio rtmp stream, but it doesn't play correctly, it's like playing the stream in x0.25 speed instead of normal speed. i tried the link in the demo project same problem...tested in android version 5.1 and 6 and 7
here is the link:
rtmp://196.203.16.78:1936/rliveedge/streamnat/streamnat

[2017-11-26 21:52] RosalineMakar opened #3502 "ExoPlayer Subtitles disappear upon changing the orientation"
### Issue description
We have an activity that hosts a retained fragment, the retained fragment holds instance of the ExoPlayer. The video has subtitles, and runs smoothly with the subtitles being displayed, however On Orientation change, the video continue playing and the subtitles disappear, but, if we seek to any point of the video while on play mode, the subtitles show normally.
I think it is

[2017-11-27 03:57] shen330 opened #3503 "Extend to support raw H264 video stream in ExoPlayer"
Hello,

I'm working on an application that receives raw H264 stream from a socket, decode it and display on a SurfaceView.  Since the H264 stream has no need to extract, no transport protocol like RTP, it just transports from my hardware with a socket to my application.

 I'd try to extend a MediaSource, a MediaPeriod, Timeline, SampleStream, Loadable, and it still not works now, cause ExoPlayer h

[2017-11-27 07:02] JarvanMo opened #3504 "compile description is incorrect"
The following works before 2.6.0.
[code]
but the newest version 2.6.0 should be like
[code]

[2017-11-27 08:11] andrewlewis commented on #3504
Thanks for reporting. The README will be updated soon (see #3496).

[2017-11-27 08:34] andrewlewis commented on #3503
One way to do this is to implement a [`DataSource`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/DataSource.java) that reads from the socket and an [`Extractor`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/extractor/Extractor.java) that parses the stream. Then y

[2017-11-27 08:34] #3503 closed, assigned to nobody

[2017-11-27 09:49] ojw28 commented on #3500
You can enable cross-mime adaptiveness by creating your `DefaultTrackSelector` as follows:
[code]
Note that cross-mime adaptive switches may be less seamless than those that use the same codec, since the allocated decoder cannot be re-used. Ideally you'd provide HEVC transcodes at the lower resolutions too, so that devices that support HEVC can use only the HEVC transcodes (hence either getting a

[2017-11-27 09:49] #3500 closed, assigned to nobody

[2017-11-27 09:58] alfonsoramosa opened #3506 "Question: Tunneled video playback and Bluetooth audio output"
Hi,

I'm using Tunneled video playback with Exoplayer 2.4 and Android Tv 7.1

Can you confirm if is there any known Android restriction/limitation when using  Tunneled video playback and Bluetooth audio output?

I'm doing that with a device that is still "under development" and I'm facing the following issues:
- No audio playback at all: Not on the Tv Set (HDMI) nor on the Bluetooth device.
- Vide

[2017-11-27 10:02] ojw28 commented on #3497
@marcbaechinger - What do you think?

[2017-11-27 10:21] AquilesCanta commented on #3500
I think it is worth mentioning that the hevc 4k stream is not supported by the device so, even if you enable allowMixedMimeAdaptiveness, it will not be adapted to, as it cannot be rendered according to device capability advertising. If the device does not support it, there is not much exoplayer can do about it. You could try lower quality profile/level configurations, if you control the media gene

[2017-11-27 10:47] benjamingr opened #3507 "Repository not contribution friendly"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

### Issue description

Sorry if this sounds like a rant - I haven't interacted with ExoPlayer from a contribution perspective before.

The current repository issue system is a bit harsh. Opening issues looks intimidating and contribution feels very unwelcome.

I'm a video engineer and I want to make a contribution in so

[2017-11-27 10:47] ntminh90 commented on #3500
Hi AquilesCanta.
Our device under testing could decode and adaptive HEVC stream if the playlist has 1 HEVC profile or 2 HEVC profiles.
Our problem here is the different codecs in the mainifest file .m3u8 which could not adaptive between profiles.
Thanks

[2017-11-27 10:53] AquilesCanta commented on #3500
The stream is reported as NO_EXCEEDS_CAPABILITIES. This does not mean that the device cannot play hevc, but that this particular stream exceeds capabilities. It is likely that other hevc streams with lower resolution are supported. Sometimes, devices under-report their capabilities. You could try forcing its playback and see what happens.

The comment by @ojw28 above still applies, though.

[2017-11-27 11:11] ojw28 commented on #3507
We don't mind people asking questions here, provided they've made some effort to answer it themselves (if you can type some keywords from the question into Google and the answer is right at the top, that's pretty annoying). What's annoying are issues that provide none of the information we need to help (things along the lines of "tried to play a video, didn't work"). We've gradually made our issue

[2017-11-27 11:37] ojw28 commented on #677
It's not. Use of `DummySurface` for this purpose requires `MediaCodec.setOutputSurface`, which was only added in API level 23. `DummySurface` may have other uses on earlier API levels (although in practice, I can't really think of any).

[2017-11-27 11:44] ojw28 commented on #3499
I don't think it is. Those flags are specified statically in the media itself. They may guide selection, but definitely do not accurately represent what the current selection is. The main demo app's `EventLogger.onTracksChanged` method demonstrates printing all of the available tracks to logcat, marking those that are currently selected with an "X". You can use that as a starting point.

[2017-11-27 12:02] ojw28 commented on #3498
Could/should we add some assertions that check this and give a developer friendly error message? Seems like an easy mistake to make.

[2017-11-27 12:09] tonihei commented on #3498
I think we can also make DynamicConcatenatingMediaSource reusable (despite the general guideline). This would deliberately allow reusing the wrapping dynamic media source. Marking this as enhancement to do this.

[2017-11-27 12:10] benjamingr commented on #3507
Thanks for the response and explaining why things work the way they do.

I believe that there are ~650 people who get pinged whenever anyone has a bug in their code and they open an issue - that makes following development discussion much harder. At bluebird when these started coming daily we added:

Which helped. Although moving the issue tracking for development to Google's bug tracker can also

[2017-11-27 13:33] ojw28 commented on #3507
I don't think this happens, although I'm not sure what you're referring to exactly. What is the group of ~650 people that get pinged when someone opens an issue here?

[EDIT] Oh right, presumably people who are "watching" the repository.

We have internal people who can assist with this too, and we already have a breakdown of what we want to write. I think we need to do it in a centralised way, at

[2017-11-27 13:34] ojw28 commented on #3507
Oh right, presumably people who are "watching"?

[2017-11-27 13:38] tonihei commented on #3498
To clarify: this enhancement tracks reusing media sources in general. Reusing just the DynamicConcatenatingMediaSource wouldn't make sense if the contained media sources can't be reused.

[2017-11-27 13:46] benjamingr commented on #3507
Ok, thanks for clarifying everything - I'll try to take a stab at the ABR mechanism and I'll write down issues as I run into them and include them in the PR (assuming I get it to actually perform better).

[2017-11-27 13:46] #3507 closed, assigned to nobody

[2017-11-27 14:43] rantianhua commented on #677
@ojw28 Okay, I get it.

[2017-11-27 14:45] #3504 closed, assigned to nobody

[2017-11-27 14:46] ojw28 commented on #3504
This has been fixed.

[2017-11-27 15:07] ojw28 commented on #3501
Works fine for me on a Galaxy S8 and on an emulated Nexus 5X running Android 7. Please provide complete information as requested in the issue template (e.g. information about the devices on which the issue reproduces, and a full bug report captured with `adb bugreport` shortly after encountering the problem).

[2017-11-27 15:53] ojw28 commented on #3507
Re pull requests: There's no way for us to advise whether something aligns with other work we're doing without knowing what it is, so if you're going to spend a significant amount of time on a pull request that you wouldn't be doing otherwise, it's generally a good idea to share a proposal early (e.g. as an issue that we can mark with the enhancement tag). This helps to reduce the probability of s

[2017-11-27 17:18] mapsver commented on #2189
Thank you ! Meanwhile, Is there an example that uses a custom renderer for this purpose (or something similar). I couldn't find anything relevant online or in the demo (could only find usage of SimpleExoPlayer)

[2017-11-27 21:33] ojw28 commented on #2980
Support added in `dev-v2`.

[2017-11-27 21:33] #2980 closed, assigned to nobody

[2017-11-27 21:40] ojw28 commented on #1049
This should cause playback failure rather than process death as of `2.6.0`. Keeping the issue open to do better, as described above.

[2017-11-27 23:02] davidliu opened #3508 "Is MediaSource release supposed to be handled by user or internally?"
I'm receiving a stacktrace that's basically the same as #1914, which is caused by me releasing the MediaSource manually. Should I not be doing this? If so, then is this MediaSource released elsewhere automatically?

[2017-11-28 01:14] derlucas opened #3509 "EventListener.onTimelineChanged howto get current window"
I'm using ExoPlayer 2.6.0 and made a simple Activity which creates a ConcatenatingMediaSource of some ExtractorMediaSource with http URL to Videos. All playing in endless loop without any issues.

Now i want to get the current window+position when the video changes. So i implement the DefaultEventListener and override the onTimelineChanged method.

If i ask my player within this method using playe

[2017-11-28 08:02] andrewlewis commented on #3509
`onPositionDiscontinuity` is called when playback transitions from one item to the next. You can get the new window index by calling `getCurrentWindowIndex`. Does that provide the information you need?

[2017-11-28 08:06] andrewlewis commented on #3508
Yes. The player's current source is released when you call `prepare` (with a new source), `stop` or `release` on the player. So once you've passed a source to `prepare` the player will take ownership and you shouldn't release it.

[2017-11-28 08:06] #3508 closed, assigned to nobody

[2017-11-28 08:23] derlucas commented on #3509
Thank you very much. This is exactly what i need. Maybe yesterday it was too late and i sat too long on the problem so i did not see this onPositionDiscontinuity description :)

[2017-11-28 08:23] #3509 closed, assigned to nobody

[2017-11-28 08:30] andrewlewis commented on #3506
This seems to be a known limitation. [Internal reference: b/33260579]

"[...] the default Android audio policy manager doesn't support routing a direct output to a2dp. When doing video tunneling, Android routes the audio to the HAL using a direct output instead of the default mixer output. This is necessary because the audio HAL used for tunneling needs to read the audio timestamps provided by the

[2017-11-28 08:30] #3506 closed, assigned to andrewlewis

[2017-11-28 09:09] sjbthreehundred opened #3510 "Node.js"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-11-28 09:22] tonihei commented on #2189
While working on this feature, we came across some edge cases where it's unclear how the new feature should work:

 - What happens when the player plays the same position twice (e.g. when repeating, or after seeking back). Should the event be fired again or only once?
- What happens when the player seeks to a position behind the callback position. Should the event still be triggered or only when t

[2017-11-28 09:25] tonihei commented on #2653
We're currently working on this feature to let the player run a callback when it reaches a certain playback position. We would like to have your opinion on some edge cases in #2189 - please let us know what would fit your requirements best.

[2017-11-28 09:26] tonihei commented on #1472
We're currently working on this feature to let the player run a callback when it reaches a certain playback position. We would like to have your opinion on some edge cases in #2189 - please let us know what would fit your requirements best.

[2017-11-28 09:26] tonihei commented on #3099
We're currently working on this feature to let the player run a callback when it reaches a certain playback position. We would like to have your opinion on some edge cases in #2189 - please let us know what would fit your requirements best.

[2017-11-28 09:34] andrewlewis commented on #3510
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-11-28 09:34] #3510 closed

[2017-11-28 12:00] ojw28 commented on #3502
Is it possible for you to provide a simple demo project (as source) that reproduces the issue?

[2017-11-28 17:19] Tolriq opened #3511 "Exoplayer 2.6.0 crash"
### Issue description

After updating to 2.6.0 in production I've seen crash in Crashlytics.
Currently only 1 device but push is recent and ExoPlayer is not a widely used feature.
(Used only for Audio Playback)

### Reproduction steps

No details as from crash reporting tool.

### Link to test content
N/A

### Version of ExoPlayer being used
Specify the absolute version number. Avoid using terms s

[2017-11-28 17:49] andrewlewis commented on #3511
This looks very weird, as if proguard is doing the wrong thing. Is there anything special about how you're using proguard? Can you reproduce the error?

[2017-11-28 18:20] Tolriq commented on #3511
@andrewlewis I can't reproduce and I do use that part of the app frequently on multiple devices.

I use proguard with optimize, the configuration is normal and there was no problem at all with 2.5.4 that was in production before, the app is in prod since many years and proguard configuration have not changed since a long time.

Just got another report on Huawei P8 Lite Android 6.0

Not really sure

[2017-11-28 18:53] cdhowie opened #3512 "Cannot play MP4 stream (IllegalStateException, Codec reported err 0x80001001)"
### Issue description
When attempting to play specific MP4 streams, the player will not start and issues an exception.  This happens on an API level 22 AVD, but does not happen on API level 26 devices.

### Reproduction steps
Simply attempt to play the stream.

### Link to test content
[Link](https://bcsecure04-a.akamaihd.net/hd2/o1/4338955640001/4338955640001_5157111715001_5157088401001.mp4?pubId

[2017-11-28 19:19] ojw28 commented on #3512
Please see the [bottom FAQ](https://google.github.io/ExoPlayer/faqs.html#does-exoplayer-support-emulators) regarding emulator/virtual-device support. Thanks!

[2017-11-28 19:19] #3512 closed, assigned to nobody

[2017-11-28 19:21] #3489 closed, assigned to nobody

[2017-11-28 19:21] #3488 closed, assigned to nobody

[2017-11-28 19:24] ojw28 commented on #3490
* There's no way for us to reproduce this with the information provided, and neither is there a bug report captured shortly after encountering the issue (with `adb bugreport`, as requested in the issue template). We need at least one of these to make further progress.
* It looks like the initial playback failure is caused by incorrectly packaged media, although again without any further informatio

[2017-11-28 19:48] cdhowie commented on #3512
@ojw28 Jeez, I even remember reading that very paragraph last week. 🤦‍♂️

Thanks for the link, and sorry for the noise.

[2017-11-29 00:00] zsmatyas opened #3513 "CEA608 Captions - Row count is not updated in CueBuilder inner class"
The line defines captionRowCount:
https://github.com/google/ExoPlayer/blob/e7c60a2a234ab11bc75335453a7836fef9509610/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java#L195

The inner class CueBuilder has the same member defined on line 594.

The problem is, that the value of the inner class is only updated in ResetCueBuilders(), so this order of incoming commands

[2017-11-29 04:31] davidliu commented on #3260
Issue still occurs on r2.5.3. It still spins, trying to remove a span that isn't there. Issue should probably be reopened.

[2017-11-29 04:44] mapsver commented on #2189
Im not the OP.. but Ill add my 2cents worth.

_What happens when the player plays the same position twice (e.g. when repeating, or after seeking back). Should the event be fired again or only once?_
The event should be fired every time it hits that position. Having the event fire only the first time would be a special case, for which the observer can always write logic to check and ignore. Dependi

[2017-11-29 07:48] tangmingscau opened #3514 "FLAC: Decoder input buffer too small"
I tried to be compatible with FLAC music with the ID3v2 head, and when I played the type of FLAC music, there were some mistakes. The following is the error log:

[code]

Can you give me some ideas? thanks

[2017-11-29 08:43] andrewlewis commented on #2189
@mapsver One way to do this is to subclass [`NoSampleRenderer`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/NoSampleRenderer.java) and return it from a custom `RenderersFactory` which you pass to `newSimpleInstance`. There are a few things to be aware of:
- You can access the player's internal position in the `render` method of your

[2017-11-29 09:37] andrewlewis commented on #3511
I'm not sure whether your analytics has this info, but can you see whether it fails on 100% of Huawei P8 Lite Android 6.0 and Samsung Galaxy S7 Android 7.0 builds, or whether it's working for some users and failing for others on those devices?

Please could you also double check you're using the right proguard map to deobfuscate the stack trace? Thanks.

[2017-11-29 09:49] Tolriq commented on #3511
@andrewlewis
Had another crash this night on Huawey Y625-U43 Android 4.4.2

Can't really tell if it's crashing 100% on those devices as for the moment no users have contact me about the issue :( Can just tell it happened multiple times on those devices near the same time, so could imagine for those who have the issue it's reproductible.

Working well here on S6 Android 7 + Nexus 9 / 10

[code]

Pr

[2017-11-29 09:51] admobwebmaster opened #3515 "exoplayer #EXT-X-VERSION:3 loop"
Hello friends I have an m3u8 file with the following config below:

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:7
#EXT-X-MEDIA-SEQUENCE:61060
#EXTINF:6.000
70.ts
#EXTINF:6.000
70.ts
#EXTINF:6.000
70.ts
#EXTINF:6.001
70.ts

The exoplayer executes the normal parts but when it arrives on the last line after executing it for once, he wanted it to execute in an infinite loop thus always playing live

[2017-11-29 10:23] andrewlewis commented on #3483
Could you clarify when the cache is being hit and when data is being loaded from the network to populate the cache? Is it possible that the server is responding with data that isn't an HLS playlist just after the connectivity change, and the invalid response is getting cached? Do you still see a source error if you remove the cache completely?

[2017-11-29 10:24] ojw28 commented on #3260
I don't really see how this can happen, so I think you need to figure out a better way to analyze what's going on if we're to make any progress here. Given our own apps don't experience this problem, I suspect it's something wrong with your application code (possibly because certain things aren't well enough documented on the ExoPlayer side). Some common pitfalls that I could see causing this issu

[2017-11-29 10:28] andrewlewis commented on #3482
It sounds like you just need to reduce the timeout for HTTP requests. The provided `DefaultHttpDataSourceFactory` has a constructor parameter for setting a timeout. `ShoutcastDataSource` is not part of ExoPlayer so I'm not sure whether it provides this facility.

[2017-11-29 10:28] #3482 closed, assigned to nobody

[2017-11-29 11:05] Gobi1989 commented on #3463
Hi @ojw28,

Finally they requested to call the license URL only once and store the license in offline and it will be used for playing content video.

**How can i achieve these by setting mode as  DefaultDrmSessionManager.MODE_DOWNLOAD in DefaultDrmSessionManager ?**

[2017-11-29 11:54] alessandrojp commented on #3511
I'm getting a similar error `java.lang.AbstractMethodError` on Android 6.0.1 using 2.6.0 version and I'm not using proguard.
Before that it was working without any problem.

[code]

[2017-11-29 11:56] AquilesCanta commented on #3515
Please provide a link to reproduce the issue. Also, please explain what the expected and observed behaviors are.

Note: It is a bit weird that every segment points to the same file, but I don't see why it would be a problem (besides the efficiency concern).

[2017-11-29 12:00] andrewlewis commented on #3511
@alessandrojp This should be caught at compile time. Is the device running the 'official' system image, or a custom ROM? Please provide the output of `adb shell getprop ro.build.fingerprint` (or even better a full bug report). Thanks.

[2017-11-29 12:12] admobwebmaster commented on #3515
The problem is that when it plays the last line it stops playing.
I want to make it always reproduce so when it reaches the last line it automatically goes back to the first one and starts again being like an infinite loop understands.

[2017-11-29 12:15] alessandrojp commented on #3511
@andrewlewis thanks for reply

Yes, it is running the official system image.
`KDDI/SHV35_jp_kdi/SHV35:6.0.1/S6020/01.00.00:user/release-keys`

I will provide you a full bug report later.

[2017-11-29 12:30] AquilesCanta commented on #3515
As @ojw28 correctly pointed out, having every segment pointing to the same file means you need to signal a discontinuity everytime (otherwise, PTSs are going to be wrong). It was not clarified above, but the manifest also needs to be modified by adding segments if you want exoplayer to keep playing, if not, it will eventually get stuck in buffering state (i.e.: It will stop playing). Please be mor

[2017-11-29 12:30] #3515 closed, assigned to AquilesCanta

[2017-11-29 12:34] admobwebmaster commented on #3515
Hi, thanks for the help!
  So how do I create the # EXTM3U?

Could I pass the correct command?

[2017-11-29 14:34] tonihuotari opened #3516 "Subtitles stopped working after update to Exoplayer 2.6.0"
### Issue description
After updating to Exoplayer 2.6.0 all subtitle/text tracks are marked as unsupported:

Here is some output from EventLogger
[code]

### Reproduction steps

1. Open the ExoPlayer demo app for version 2.5.4
2. Add the provided stream to media.exolist.json
3. Play content
4. Click on "Text"-button
--> There are multiple subtitle tracks; "da", "fi", "no", "sv"
5. Reproduce these

[2017-11-29 14:57] predaV opened #3517 "Widevine DASH "Error decrypting data" for L1 and droppedFrames for L3, only on some devices"
### Issue description
We are experiencing playback issues on **some devices** when trying to play Widevine encrypted content.
More precisely, the video stops after 10-30 seconds for L1 devices, and lags very badly for L3 devices ( despite the fact that playback continues ).

Most of our investigations were performed on a Samsung S4 with Android 5.0, but similar behaviour was reported on a few more

[2017-11-29 15:20] andrewlewis commented on #3517
Regarding the CryptoException during L1 playback: can you reproduce this on a device running a build from Marshmallow onwards? Apparently this kind of error has a more precise message on later builds. A full bug report may also help with diagnosing the problem. The codec initialization logging looks fine.

[2017-11-29 16:47] ojw28 commented on #3516
I think the player is doing the correct thing here. The DASH manifest indicates that the text tracks are DRM protected, by including `ContentProtection` elements in the text `AdaptationSet`s. ExoPlayer doesn't support DRM protected text tracks, so it doesn't select them. In previous releases we blindly assumed that all text tracks were not protected, which would likely have caused failures if we a

[2017-11-29 17:17] techAch commented on #3501
Hello, sorry for late reply,
I tested it in Nexus 5X API24 emulator and it worked well, but not in my phone
Infinix zero 3 - android 5.1. so i think it's maybe phone related or something. anyway here is the log cat. thanks anyway.
[alogcat.2017-11-29-16-57-32+0000.txt](https://github.com/google/ExoPlayer/files/1514745/alogcat.2017-11-29-16-57-32.0000.txt)

[2017-11-29 18:50] admobwebmaster opened #3518 "Error in project when upgrading to 2.6.0"
Hello Friend!
After updating the version in my project to 2.6.0 my project appears an error as it shows in the print below someone please could min help.

![exoplayer](https://user-images.githubusercontent.com/34076141/33393127-e0947b70-d51c-11e7-9c73-68bd5ca5937d.png)

[2017-11-29 19:52] Tolriq commented on #3511
@andrewlewis Seeing more and more crashes :(

The first one occurs on Android 5 6 7, the second one on Android 4.x

So far all LG / Samsung / Huawei

[2017-11-29 22:34] wvpaf commented on #3517
Hi, as requested please provide full bug reports for each issue. Snippets are not all that informative.
thank you.

[2017-11-29 22:36] wvpaf commented on #3310
Hi @SoroushDMA, can you please provide @mayankgarg58 the info requested? Thanks.

[2017-11-29 22:40] SoroushDMA commented on #3310
@wvpaf @mayankgarg58 unfortunately i can't provide any link on public forum, can I have your email so I can send it to you directly?

BTW, I'm using exoplayer demo code for testing.

[2017-11-29 22:50] wvpaf commented on #3310
If you use  dev.exoplayer@gmail.com, we can attempt to get the data to @mayankgarg58.

thanks.

[2017-11-29 23:05] BioGram opened #3519 "Change surfaceView through java"
### Issue description
changing surfaceView type through java code is not avaliable,
for change surfaceView type to TextureView we must use XML layout to change it through xml

### Version of ExoPlayer being used
1fdc11f2b30547392c6fe6d2485493837d8f41a2

[2017-11-30 02:50] nelson-xia opened #3520 "VP9 builds failure with android-ndk-r16"
When I try to use extensions/vp9 and follow its readme, VP9 can not be built with android-ndk-r16. the complains are as follows:
build_android_configs:
configure --target=armv7-android-gcc --sdk-path=/data/SDK/NDK/android-ndk-r16 --enable-neon --enable-neon-asm --disable-examples --disable-docs --enable-realtime-only --disable-vp8 --disable-vp9-encoder --disable-webm-io --disable-libyuv --disable-

[2017-11-30 03:18] MegatronKing opened #3521 "Audio will be cut when connecting to a sound box by bluetooth."
### Issue description
I played a short audio when the mobile connected a sound box by bluetooth, but nothing was out from sound box.
However, it works well when the sound box is disconnected or using another mobile not Samsung.
And MediaPlayer works well, too.

### Reproduction steps
Step 1：Connect a mobile to a sound box with bluetooth(A2DP).
Step 2:  Play a short audio like "Hello World", and pa

[2017-11-30 05:07] yurilaguta commented on #3518
Press Alt + Enter and select first option OR just add method onSeekProcessed() in the anonymous class

[2017-11-30 06:33] yurilaguta opened #3522 "Buffering after maxBitrate change, instead of keeping playing previous resolution video like YouTube"
### Issue description
When changing maxBitrate like:
`trackSelector?.parameters = trackSelector!!.parameters.withMaxVideoBitrate(bitrate)`

Buffering is shown straight away, while on YouTube app when change from 144p to 720p video keep playing in low resolution until new resolution is available.
Reproducible on demo app.

### Reproduction steps
ExoPlayer demo app -> HLS Apple 16x9 change Video qua

[2017-11-30 06:55] nimdokai opened #3523 "[Question] Server side Ad insertion and duration of content"
**Description**
We have ads that are inserted on server side (SSAI), which cause that we have only one stream for content(with ads).
Right now, if we've got a PREROLL with duration of 60 seconds and movie with duration of 10 min and 30 sec, we display (exo_position / exo_duration) time 1:01 / 11:30 - which basically means that we are in 1st second of movie and we've watched ad already.
Also on Def

[2017-11-30 07:02] Gobi1989 commented on #3463
Hi @ojw28,

In our exoplayer we have included ima extension for Ads integration. The Ads were playing well but frequently the Exoplayer skips the Ads by **Unexpected CONTENT_RESUME_REQUESTED without stopAd**. We tried to figure out the steps to reproduce but we couldn't.

One more observation is if we forwarded the content before few seconds of Ads this issue happens but not for all the time.

Am

[2017-11-30 08:25] andrewlewis commented on #3463
@Gobi1989 Please file a new issue for that and include steps to reproduce the issue. Then we can keep this issue focused on the DRM problem.

[2017-11-30 08:30] Gobi1989 commented on #3463
Sure @andrewlewis

Any update about offline license management??

[2017-11-30 08:36] andrewlewis commented on #3523
One way to do this would be to subclass `DefaultTimeBar` and override `setPosition` etc. to take into account the preroll ad.

[2017-11-30 08:41] #3518 closed, assigned to nobody

[2017-11-30 08:47] andrewlewis commented on #3519
I'm not sure I follow what the question is exactly, but in case it helps: you can include both a SurfaceView and TextureView in your layout then show/hide them as required. Call `SimpleExoPlayer.setVideoSurfaceView` or `SimpleExoPlayer.setVideoTextureView` when you switch views.

[2017-11-30 08:47] #3519 closed

[2017-11-30 08:53] ojw28 commented on #3519
It's intentional that `SimpleExoPlayerView` does not support switching surfaceView type through code. Supporting dynamic changes to the surfaceView type is difficult, which is not true of the other parameters that we do support changing through code. As @andrewlewis notes, you can try implementing your own layout if you require this functionality.

[2017-11-30 09:11] tonihei commented on #3518
Alternatively, use can also use Player.DefaultEventListener when you are not interested in all events and just want to subscribe to some of them.

[2017-11-30 09:22] pstambrecht opened #3524 "Support timezones in ISO8601 timestamps obtained from DASH UTCTiming elements"
DashMediaSource class supports only "yyyy-MM-dd'T'HH:mm:ss'Z'" date format. Only one way how to change it is implement own custom DashMediaSource class. 806 lines of implementation for  1 line change. What about enable custom date format?

[code]

[2017-11-30 09:26] ojw28 commented on #3524
Please provide an example of a standard compliant DASH manifest containing a date in a format that our parser doesn't handle. Thanks.

[2017-11-30 09:39] admobwebmaster commented on #3518
@Yurii-Laguta

Hi friend, thanks for your help
I created the class onSeekProcessed but the error continues as it was :(

 @Override
            public void onSeekProcessed() {

            }
        });

[2017-11-30 09:42] Gobi1989 opened #3525 "Unexpected CONTENT_RESUME_REQUESTED without stopAd"
Hi All,

**Issue description**
I'm using Exoplayer for playing DRM content along with Ads. As the player starts well with Preroll Ads and resume back to content video as well.It has some issue in midroll 1 and midroll 2, postroll also working as expected. The midroll get skipped or stucked.

**Reproduction steps**
Forwarded the content video before some few of midroll then allow the player to cont

[2017-11-30 09:47] pstambrecht commented on #3524
In .mpd file is
`<UTCTiming schemeIdUri="urn:mpeg:dash:utc:http-iso:2014" value="https://st14-4.o2tv.cz:443/get-utc-timestamp"/>`

which contains URL to `https://st14-4.o2tv.cz:443/get-utc-timestamp `. This URL returns time in `yyyy-MM-dd'T'HH:mm:ssXXX` format.

[2017-11-30 10:04] ojw28 commented on #3524
The format looks like: `yyyy-MM-dd'T'HH:mm:ss<timezone-designator>` to me, so this is really a request to implement the TODO in the code you reference:
[code]
In this specific case the timezone looks like it's set to 0 currently, which is the same as Z, which is therefore trivial to handle. It's unclear whether your server will ever return a non-zero timezone, however. In the general case we need

[2017-11-30 10:09] ojw28 commented on #3524
Note that if you know the timezone is always going to be 0, then you could add partial support sufficient for your use case simply by checking whether firstLine ends with "+00:00", "+0000" or "+00", and replacing with "Z" if so before parsing.

[2017-11-30 10:30] andrewlewis commented on #3520
It looks like the layout of the sysroot has changed quite a bit in NDK 16 (maybe related to the [unified headers migration](https://android.googlesource.com/platform/ndk/+/ndk-release-r16/docs/UnifiedHeadersMigration.md)?). I was able to get it to build by creating a unified toolchain with `build/tools/make_standalone_toolchain.py --arch arm --api 26 --install-dir unified-toolchain` and setting th

[2017-11-30 10:44] AquilesCanta commented on #3522
This is correct, the track selector will invalidate the current selection which will potentially discard the buffered video. This is tracked by #2250. I will post an update there regarding how this could be done in client code.

[2017-11-30 10:44] #3522 closed, assigned to AquilesCanta

[2017-11-30 10:54] predaV commented on #3517
Hi guys,
Thanks for the quick reply. We'll try to provide full logs first thing next week over email.
Any other info that you might find useful?

Regarding Marshmallow, I think the S4 can't update officially. But we'll check with our other reporters for more info.

[2017-11-30 10:58] AquilesCanta commented on #2250
So a possible way of switching stream quality without forcing a rebuffer (note that it might be unavoidable) would be injecting a custom AdaptiveTrackSelection through the DefaultTrackSelector's constructor `DefaultTrackSelector(TrackSelection.Factory adaptiveTrackSelectionFactory)`. A good place to start looking is `AdaptiveTrackSelection`.

This custom adjustable track selection could then be co

[2017-11-30 11:36] ojw28 commented on #3501
Log cat is not a full bug report captured with `adb bugreport`. We cannot investigate this until we're provided with the information we're asking for.

[2017-11-30 11:39] tonihuotari commented on #3516
Thanks @ojw28!

[2017-11-30 11:41] ojw28 commented on #3511
This looks like a problem with the way you're including ExoPlayer in your project, or a proguard or VM issue. I don't think it's an issue with the library itself.

Note that the one previous report of `AbstractMethodError`  (https://github.com/google/ExoPlayer/issues/1706#issuecomment-317009023) was resolved by switching from a strange way of including ExoPlayer in a project, over to the way we re

[2017-11-30 11:42] #3516 closed, assigned to ojw28

[2017-11-30 12:23] Tolriq commented on #3511
Well
[code]
+ flac extension as aar following exactly the build process.

And no such errors with r2.5.4. (And nothing changed except the version number)

Don't really know what I can change at all.

[2017-11-30 12:25] BioGram commented on #3519
By the way,
I've implement my own custom SimpleExoPlayerView.java to handle it.

what i was trying to do was:

[code]

https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/SimpleExoPlayerView.java#L283

[2017-11-30 12:53] SimonNumberTwo opened #3526 "Gap between videos when playing fragmented mp4 files in ConcatenatingMediaSource"
### Issue description
I have to play several videos seamlessly in a playlist. Unfortunately when playing fragmented mp4 files there are gaps between them. When I use normal mp4 files there are no gaps between them.

As described here (https://medium.com/google-exoplayer/exoplayer-2-x-new-audio-features-cfb26c2883a) gapless playback is possible for mp4 files which are extracted using the MP4Extract

[2017-11-30 13:25] andrewlewis commented on #3526
I don't think we've received an email yet, but it would be preferable to get links to the fragmented MP4 files directly (rather than an app that plays them) so that we can reproduce this issue in the demo app. Thanks.

[2017-11-30 13:28] mayankgarg58 commented on #3310
Id- m.garg@samsung.com
I am using exoplayer demo app.

[2017-11-30 13:31] SimonNumberTwo commented on #3526
I just added the sample project as a zip file. But I can also provide the links to the videos as well.

Fragmented mp4 files:
https://s3.eu-central-1.amazonaws.com/er45dhexwefe/fmp4_with_audio_02.mp4
https://s3.eu-central-1.amazonaws.com/er45dhexwefe/fmp4_with_audio_03.mp4

At the end of the first video (fmp4_with_audio_02.mp4) the person speaking will freeze for approximately 500ms before the sec

[2017-11-30 15:16] ojw28 commented on #3513
Am I right in thinking `ROLL_UP_CAPTIONS_3_ROWS` should not clear the caption. So at the end you'd expect all three rows to be visible?

[2017-11-30 15:18] ojw28 commented on #3513
As an additional question, if you're currently displaying three rows and get `ROLL_UP_CAPTIONS_2_ROWS`, would you expect that to immediately discard a row?

[2017-11-30 15:55] natez0r commented on #896
I see this causing exoplayer to redownload mp4s when we use repeat modes. They are only 5 seconds long, but it causes a lot of wasted data. I know we could use a cache data source, but it seems like a heavy approach.

[2017-11-30 17:12] Jogan opened #3527 "Initially seeking to a position beyond a mid-roll ad causes player to get stuck"
### Issue description
If you set an initial position beyond a mid-roll ad break, the content fails to play and the player just gets stuck (for demo player this is just a black sceen, there are no error logs present). Setting the position before the mid-roll will play the pre-roll ad and then start content its only when seeking past a mid-roll that the player fails.

Use Case: Continue watching fea

[2017-11-30 17:59] mapsver commented on #2189
thank you.. will try it out this weekend !

[2017-11-30 20:25] zsmatyas commented on #3513
Annex B.8.1 of the 608 Standard about ROLL-UP style:

Where
- RU2-3-4 is ROLL_UP_CAPTIONS_2-3-4_ROWS (3 different commands)
- CR is CARRIAGE_RETURN
- PAC is Preamble Address Code

So I think there is no need to delete any lines. The RU2-3-4 commands set up how many lines are rolling and the following carriage return will remove the appropriate ones. If the amount of lines are increased, the next C

[2017-11-30 20:45] vigneshvg commented on #3520
Thanks for pointing this out.

It looks like we may have to fix the configure script on upstream libvpx. I've opened a bug for libvpx: https://bugs.chromium.org/p/webm/issues/detail?id=1476

I'll update the instructions to use the updated version of libvpx once that bug is fixed.

[2017-11-30 21:06] wvpaf commented on #3517
Hello @predaV, if you could provide more details like builds on the devices that are exhibiting the issue and any of those details on some of the working examples. Shouldn't need them all defined but having more data is typically better to narrow down on the issue.

[2017-11-30 21:33] jboisjo opened #3528 "Slow connection crash - Source Error"
Hi,

i'm using the last version (exoplayer 2.6.0) and i'm simulating a slow connection to handle a slow or crash situation.

I'm trying one of our DASH live playlist which the first profil has a 640x360 (900kbps) and
right now, i'm having a 10mbps connection (1.5 MB/s).

Normally, the player will be buffering segments and play them once it's downloaded but after 3-4 segments, i'm getting a crash e

[2017-12-01 02:21] imeanyou2 opened #3529 "[QUESTION] MONO/STEREO SOUND"
Hello,

Thanks for the great player.

We have a question.

Does Exoplayer support MONO and STEREO sound as well ?

In detail,
1. If the VOD is based on MONO, ExoPlayer plays the VOD with MONO ?
2. If the VOD is based on STEREO, ExoPlayer plays the VOD with STEREO ?

[2017-12-01 06:59] ram992 commented on #3143
Hello @wvpaf any update on this issue ? Also I have observed that this issue occurs randomly on Redmi 4A.
Does this has anything to do with Max number of open sessions param that I can see if I use an app called DRM info which gives the details about the Modular DRM module
![drm info](https://user-images.githubusercontent.com/19165694/33480775-ea2f357a-d6b7-11e7-9f5c-15fb5f31a2b1.png)

This image

[2017-12-01 08:53] andrewlewis commented on #3529
The `AudioTrack` is configured to output with the number of channels specified in the input stream, so this should just work. Have you tried it?

[2017-12-01 09:00] andrewlewis commented on #3528
Please provide the information requested in the issue template, especially a link to the media you're trying to play.

Is `#'urlplaylist'` what's actually logged? Looks like it should be an actual URL, so that may indicate that the manifest is wrong. In general, if you handle a loading error via the player's listener you can re-prepare the player with a new `MediaSource` to retry. The process shou

[2017-12-01 13:28] Avetri opened #3530 "Unknown destiny of the "USB tuner support" commit"
@AquilesCanta , @ojw28 , hello.

I can't find any remains of ["Add tv module for USB tuner support + demo app"](https://github.com/google/ExoPlayer/commit/f257300d8e770b57a22cc4a9cbf1120943be7e91) commit (hash f257300d8e770b57a22cc4a9cbf1120943be7e91). It looks like was lost during the next merge.
What really was happen with the commit? Will be any future activity in this (USB tuners & DVB-S/C/T b

[2017-12-01 13:43] AquilesCanta commented on #3530
Yes, we will be pushing the tv extension once it reaches a stable state. The idea is to support broadcast tv on exoplayer. For now, it is built on top the linux DVB API. Unfortunately we cannot track this development as it will be not release until ready, which means commits will not be backed by the modified files. We will have more updates in 2018. Once we do release it, we are interested in all

[2017-12-01 13:43] #3530 closed, assigned to nobody

[2017-12-01 16:34] jboisjo opened #3531 "AdaptiveTrackSelection issue"
### Issue description
AdaptiveTrackSelection doesn't change quality increase fast enough

### Reproduction steps
I tried to changed the value of
DEFAULT_MAX_INITIAL_BITRATE to 0 instead of 8000,
DEFAULT_MIN_DURATION_FOR_QUALITY_INCREASE_MS to 0 (so he can increase way faster),
DEFAULT_MAX_DURATION_FOR_QUALITY_DECREASE_MS,
DEFAULT_MIN_DURATION_TO_RETAIN_AFTER_DISCARD_MS,
DEFAULT_BANDWIDTH_FRACTION,

[2017-12-01 21:02] linhai326 commented on #3531
what's DEFAULT_BUFFERED_FRACTION_TO_LIVE_EDGE_FOR_QUALITY_INCREASE?
if you mean DEFAULT_BANDWIDTH_FRACTION, which is 0.75f, and you change it to 0.25f, that will take only 25% of the bandwidth meter value. it won't increase the shifting time.

[2017-12-01 21:04] linhai326 commented on #3531
also, DEFAULT_MAX_INITIAL_BITRATE set to 0 will start the streaming with the lowest feed. It won't help to shift up either (will not start with highest feed).

[2017-12-01 21:46] jazimm opened #3532 "[Question]Ability to pause player while Ad is playing"
I read that you believe the user should not be able to interact with any user controls while a Video Ad is playing but it seems the user should be able to pause/play the Ad at a minimum to avoid having to restart an Ad if they don't wish to watch it at that time. Is there any functionality to access the players pause/play functionality while the ad is playing on v2.5? Thanks.

[2017-12-02 00:12] zsmatyas opened #3533 "CEA608 - Incorrect alignment of long lines"
This line attempts to work around the limitation that center alignment was not existing in the 608 standard:

https://github.com/google/ExoPlayer/blob/e7c60a2a234ab11bc75335453a7836fef9509610/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java#L729

The problem is that too many lines matches this condition in normal cases. SCREEN_CHARWIDTH is 32. Any lines longer t

[2017-12-02 00:17] zsmatyas opened #3534 "CEA608 - Padding might get into negative ranges"
The following line calculates the end padding of the Cue for positioning:

https://github.com/google/ExoPlayer/blob/e7c60a2a234ab11bc75335453a7836fef9509610/library/core/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java#L727

The values are:
`int endPadding = 32 - padding - StringLength. `

In unexpected cases (mostly caused by improper content) StringLength might be bigger t

[2017-12-02 02:58] hysbtr opened #3535 "When I use exo play video,then switch video,sometimes,screen turn black"
this bug happened in some specific device,i develop tv app in china.

### Issue description
when I switch video,sometimes,the screen is black,but has voice

### Reproduction steps
use exoplayer play a video,then stop video ,release video,new an exoplayer,play next one

### Link to test content
any video

### Version of ExoPlayer being used
2.6.0

### Device(s) and version(s) of Android being used

[2017-12-02 07:48] SlavaVoltfman opened #3536 "Changing textureView between activities"
Hi,
I am using Brightcove lib version 6.0.0 with ExoPlayer 2 r2.5.3.
I am trying to make video transition between two activities, to show smooth video transition.
i tried to switch surfaces, but when i do so on android devices with OS upper than 6 everything is working good. on OS under, i have incurred a problem. In some devices like Nexus 5, Samsung S5 (OS 6.0.1) and Samsung j7(OS 5), in the sec

[2017-12-02 12:15] magiclu opened #3537 "Pixel can't play hevc 10 bit file via hardware decoding"
### Issue description
device:pixel,can't play hevc 10 bit file via hardware decoding

i dont do android development,plz dont close this issue,it is very related

i bought a pixel phone few weeks ago,system is android 8.0.0 November security patch
i tried few apps vlc,mx player,plex,kodi,i can only play low bitrate file by software decoding(cpu will run hot,and some artifact),can't use hardware dec

[2017-12-02 15:53] magiclu commented on #3537
after some research,there is something wrong with
OMX.qcom.video.decoder.hevc   in pixel's system

using vlc ,other video player app should be the same problem
link to log:
https://1drv.ms/u/s!AqZqszBvA9vokJlFixnwS9z1NptmUg

i played a 10 bit hevc file, lag
,than i played a normal hevc file, works fine

[2017-12-03 12:03] tokland opened #3539 "Skip preroll in audio stream"
I am writing a personal app to listen to streaming radios using react-native-audio-streamer (which uses ExoPlayer v2.1.1). My problem is that many streams have a preroll with info/ads, I'd like to skip it.

An example: http://rac1.radiocat.net. I am able to do it in my GNU/Linux using mplayer with option `-ss N` (where N is a big number so the preroll is completely skipped whatever its duration):

[2017-12-04 06:12] alessandrojp opened #3540 "DefaultBandwidthMeter#getBitrateEstimate returns wrong values"
### Issue description
Due to onTransferStart being called after the file is downloaded, the load process is being calculated on after the transfer is finished. In my case it finishes in less than 20ms, returning a huge bitrate making the player always uses the highest bitrate available.

Checking `OkHttpDataSource#open`
[code]
onTransferStart is being called in the end of `open()`

[code]
`callFac

[2017-12-04 07:24] noamtamim opened #3541 "[Question] When playing ABR, does ExoPlayer avoid "wasteful" renditions?"
For example, the phone is 720p, the HLS/DASH video has variants in the range 240p-1280p, and the bandwidth is **good enough to play even the highest resolutions**.
Will the player avoid selecting renditions above 720p? It would be a waste of bandwidth and CPU/battery to load them and then downscale to screen size.

If it does not do it out of the box, is there anything I can do to help it?

**Exte

[2017-12-04 07:30] sargeway commented on #2089
I had a question similar to @noamtamim. I understand HLS+fMP4+CBCS+Widevine is supported in Nougat+ (i.e. Android 7.x & 8.x), however, what's the minimum Android + ExoPlayer version that will support HLS+fMP4+CENC(CTR)+Widevine? The 2.6.0 release notes (https://github.com/google/ExoPlayer/blob/dev-v2/RELEASENOTES.md) state HLS support was updated to include "Support for Widevine protected FMP4 var

[2017-12-04 08:15] alessandrojp opened #3542 "[Question] Adaptive bitrate behavior"
Hi,

I put a log on `AdaptiveMediaSourceEventListener#onLoadCompleted` and I noticed that when it switches the bitrate, it is not getting the next .ts file from the last downloaded .ts

Seeing the log the .ts 0 took 0.2 and .ts 1 took almost 15 seconds, so the playback went to buffering state as expected because each .ts file has 10 seconds. After the .ts 1 started to play, it starts to download t

[2017-12-04 08:25] andrewlewis commented on #3541
The default track selector supports this. See [`DefaultTrackSelector.Parameters.withViewportSize`](https://github.com/google/ExoPlayer/blob/9306b24/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java#L347) and [`DefaultTrackSelector.Parameters.withViewportSizeFromContext`](https://github.com/google/ExoPlayer/blob/9306b24/library/core/src/main/java/com/

[2017-12-04 08:39] andrewlewis commented on #3539
Please try wrapping the media source in a [`ClippingMediaSource`](https://github.com/google/ExoPlayer/blob/3c201a0/library/core/src/main/java/com/google/android/exoplayer2/source/ClippingMediaSource.java#L41).

[2017-12-04 09:08] andrewlewis commented on #3539
Actually, setting a non-zero start point won't work unless the media is seekable.

[2017-12-04 09:11] ojw28 commented on #3540
I don't think CharlesProxy throttles connections in a way that's realistic (i.e. how a genuinely slow network would behave).

[2017-12-04 09:12] #3529 closed, assigned to nobody

[2017-12-04 09:13] noamtamim commented on #3541
Hi @andrewlewis, sorry if I'm too pedantic, but is this behavior enabled by default? If not, do I need to call setParameters() after every orientation change and/or view resize?

[2017-12-04 09:14] andrewlewis commented on #3532
Apps can call `setPlayWhenReady(false)` while an ad is playing to pause it. The provided UI controls are hidden during ads unless the player is paused (so for example, if you pause the player then seek past an ad the controls will be shown until the player is unpaused), but your app can provide custom controls that allow the user to play/pause during ads if desired.

[2017-12-04 09:15] alessandrojp commented on #3540
I also have ran a speed test on speedtest.net and I confirmed that the speed connection is running at 256kbps.
You can check the `callFactory.newCall(request).execute()` blocking the thread until the file is downloaded, which causes a wrong elapsed time.

[2017-12-04 09:32] andrewlewis commented on #3541
Looks like the default behavior does not filter based on viewport size (see `DefaultTrackSelector.Parameters.DEFAULT`).

If you set the viewport size based on the physical display size at the start of playback you won't need to update it (unless you need to support multiple displays). There is a parameter to set whether the viewport orientation may change. If you want to ensure variants at too hig

[2017-12-04 09:32] #3541 closed, assigned to nobody

[2017-12-04 09:39] alessandrojp commented on #3540
Also it is commented here
https://github.com/square/okhttp/blob/64e84e382efb80426cef301c9750833954c7fbbc/okhttp/src/main/java/okhttp3/Call.java#L29

[2017-12-04 09:40] andrewlewis commented on #3539
You could try implementing a custom media source that is similar to `ClippingMediaSource` but that doesn't do an initial seek and instead discards samples before the desired start position. I don't think we'd provide this feature in the library, though, as it won't work well for large start positions.

[2017-12-04 09:40] #3539 closed, assigned to nobody

[2017-12-04 09:49] ojw28 commented on #3540
If `execute()` behaves as you describe, that would mean that in order to begin playback of a 2GB video, the network stack would have to fully download the entire stream (presumably stashing it all in RAM). I don't think it's likely the network stack behaves in that way, and this is not the behavior observed when using our demo app with the OkHttp extension. If the network stack did behave that way

[2017-12-04 09:55] alessandrojp commented on #3540
I see.
Would you know a better way to test it not using CharlesProxy?

[2017-12-04 10:14] tokland commented on #3539
I am not familiar with the ExoPlayer codebase, I'll tryto play with `ClippingMediaSource`, thx.

Note: While the radio stream in the example is not seekable, the preroll is, you can write `mplayer -ss 5` for example, and jump to exactly 00:05 in the preroll. How `mplayer` is able to do this, I have no idea. I will get back with code if I am able to do something useful.

[2017-12-04 10:32] botaydotcom commented on #3536
Duplicate of #677 .

[2017-12-04 10:32] #3536 closed, assigned to nobody

[2017-12-04 11:34] ojw28 commented on #3542
Please see https://github.com/google/ExoPlayer/issues/3128#issuecomment-319618393.

[2017-12-04 11:34] #3542 closed, assigned to ojw28

[2017-12-04 11:35] ojw28 commented on #3540
Not that's publicly available. I'm sure there must exist decent tools for doing this though. I suggest you do some research. Good luck!

[2017-12-04 11:35] #3540 closed, assigned to nobody

[2017-12-04 11:48] botaydotcom commented on #3531
@jboisjo Is your content live streaming content? If you can provide some links to the content, that would be very helpful.

DEFAULT_BUFFERED_FRACTION_TO_LIVE_EDGE_FOR_QUALITY_INCREASE only works for live streaming playbacks. It is the fraction of the duration from current playback position until the live edge that has to be buffered before the player can switch up.

If DEFAULT_MAX_INITIAL_BITRATE

[2017-12-04 12:08] RadhikaBalla opened #3543 "ExoPlayer-release-v2 widevine DRM issue"
Hello,

 I am using  "ExoPlayer-release-v2" version exoplayer for developing mpeg-dash streaming application using widevine drm.

I have taken widevine licence, they have given us license URL, UUID, private and public keys.

 public static final String ACTION_VIEW = "com.google.android.exoplayer.demo.action.VIEW";

                 Intent intent = new Intent(getContext(), PlayerActivity.class);

[2017-12-04 13:34] ojw28 commented on #3528
A stack trace being logged doesn't necessarily mean anything crashed. This looks like a standard playback failure due to falling behind the window of a live stream, which is caused by a combination of buffering and the content exposing a relatively small live window. The only fixes are to decrease the bandwidth requirements of the content (e.g. by providing a lower bitrate variant), increase the s

[2017-12-04 13:34] #3528 closed, assigned to nobody

[2017-12-04 13:47] ojw28 commented on #3511
That looks correct. I still think this is correct though:

Is it possible you're somehow including two different versions of ExoPlayer in your final apk (e.g. because some other dependency you're using has directly embedded a different version of ExoPlayer inside of itself, or similar)?

[2017-12-04 13:58] Tolriq commented on #3511
Nope triple checked. Only remaining would be change in library that would require a change in proguard configuration.
I just need a way to reproduce to be able to find cause. I just can't understand why it would not touch every devices / users.

[2017-12-04 14:23] nimdokai commented on #3523
Thanks for respond.
Changing `setPosition` or `SetDuration` affect my custom `TimeBar`, but it does not help with `exo_position` and `exo_duration Views` as those items are updated in `PlaybackControlView.updateProgress()`, does it mean it is also necessary to override `PlaybackControlView`?

[2017-12-04 14:25] etanhatch opened #3544 "Desugar error when building a project with ExoPlayer 2.6.0"
After updating from ExoPlayer 2.5.1 to 2.6.0 I started getting the following error:

[code]

Everything works with an earlier version of ExoPlayer. I have the following build configuration:

[code]

and I have:

[code]

Any ideas?

[2017-12-04 14:36] andrewlewis commented on #3523
Replacing `PlaybackControlView` would work. Another option that might require less code would be to wrap the `SimpleExoPlayer` instance you pass to `setPlayer`, delegating all methods to the real player but fixing up the position/duration to the values you need.

[2017-12-04 14:41] noamtamim commented on #2089
@ojw28 @AquilesCanta is this issue implemented? It's not marked closed, but as mentioned above, the release notes for 2.6.0 say "HLS: Support for Widevine protected FMP4 variants" -- presumably this is this ticket.

I'm asking because we have now implemented HLS+fMP4+Widevine in our packager, and the test stream doesn't work on ExoPlayer (but does work on Shaka).

[2017-12-04 14:47] predaV commented on #3517
Hi all,
Sorry for the delay. We're awaiting approval to share with you our modified version of ExoPlayer, which included one of our DRM videos & custom license.
Should we still send a full log report as well?

In the meantime, we got some additional info:
1.  When we forced L3 on the Samsung S4 ( which is reported as L1 ), even the ExoPlayer's sample DRM streams experienced lag / freeze.
By defaul

[2017-12-04 14:49] AquilesCanta commented on #2089
It should work, yes. Would you kindly send us a link to dev.exoplayer@gmail.com?

[2017-12-04 14:55] pstambrecht commented on #3524
Pull request ready.... https://github.com/google/ExoPlayer/pull/3545

[2017-12-04 14:56] ojw28 commented on #3497
What's your memory cache keyed by?

[2017-12-04 15:03] ojw28 commented on #3524
Request merged, thanks! Leaving this open. We have a change that adds more comprehensive timezone support that we'll merge fairly soon, at which point this can be closed.

[2017-12-04 15:13] noamtamim commented on #2089
The test stream is using "regular" cenc, not cbcs. Should it work as well?

[2017-12-04 15:26] andrewlewis commented on #3525
It's possible that this is an IMA SDK issue relating to preloading [internal bug: b/38354028].

[2017-12-04 15:35] jiafei1986 opened #3546 "java.lang.IllegalArgumentException, Decoder init failed: [REDACTED_DOMAIN_NAME], Format(video_eng=1052000, null, video/avc, 1052000, null, [1024, 576, -1.0], [-1, -1])"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

### Issue description
We are now using exoplayer v2.4.1 in our video app,  but now we saw many log in firebase.  just want to know what's the possible root cause for the below error log?

com.google.android.exoplayer2.d.b$a: Decoder init failed: [REDACTED_DOMAIN_NAME], Format(video_eng=1934000, null, video/avc, 1934000,

[2017-12-04 16:13] pstambrecht commented on #3524
You're welcome :)

[2017-12-04 17:17] andrewlewis commented on #3526
This may be caused by lack of udta parsing in `FragmentedMp4Extractor` as you suggested. These files also have edit lists which offset the media timeline, and we don't fully support this for fragmented MP4. In practice it looks like we end up deriving a negative sample timestamp for at least one sample, which might be causing the short gap.

It's unlikely we will get round to looking at this soon

[2017-12-04 17:18] andrewlewis commented on #3526
Marking as an enhancement to improve support for gapless media in `FragmentedMp4Extractor` for now.

[2017-12-04 17:23] botaydotcom commented on #3546
Hi @jiafei1986 : It's very hard for us to debug/analyze this issue given the stack trace is obfuscated. Is there any way you could provide us with an un-obfuscated stack trace?

With that said, some of the symptoms here look a bit similar to issue: #3373 (I can't say for sure if they are really the same though), and we have fixed this issue on a more recent release (2.6.0). Maybe upgrading to a re

[2017-12-04 17:29] botaydotcom commented on #3546
Another thing is: if you can provide the full bug report / logcat captured shortly after encountering the issue (with adb bugreport, as requested in the issue template), it will be helpful in debugging this as well. Thank you very much.

[2017-12-04 17:41] #3188 closed, assigned to nobody

[2017-12-04 17:41] #3524 closed, assigned to ojw28

[2017-12-04 17:42] ojw28 commented on #3513
We've merged a fix into `dev-v2`, but don't have a particularly great way to test it. Please verify if possible.

[2017-12-04 17:42] #3513 closed, assigned to ojw28

[2017-12-04 18:31] ojw28 commented on #3484
Closing due to lack of information.

[2017-12-04 18:31] #3484 closed, assigned to nobody

[2017-12-04 19:26] tokland commented on #3539
I've made some (unexpected) progress with what seems like a hack. First I clipped the streaming to skip the first 15 seconds:

[code]

Ok, but as you said that could not work because the media was not flagged as seekable. So I fooled the method [ExtractorMediaPeriod.seekToUs](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/Extract

[2017-12-04 19:47] thibseisel commented on #3497
To comply with the MediaSession API, my metadata and items are keyed by a media id, which could be any `String`.
Also, you may note that I use RxJava `Observable` (and in this particular case, `Maybe`) to abstract network/disk access, so retrieving metadata from my cache is asynchronous.

[2017-12-04 22:56] samramez opened #3547 "Disabling subtitles in Exoplayer leaves the last caption left on the screen"
Hi,
I've seen a number of issues regarding hiding and showing subtitles/captions but none was able to help me with my problem. In many of them, the issuer is referred to look and tweak the demo app which is also not helpful because it's not straightforward and I found no captioning in the demo app. Therefore, I end up using the following method (which I think there should be a simpler solution to